[2017-05-06 19:20] drpngx commented on #9718
CC @guschmue @mrry

The error is in the array slice implementation. We'd like to see the call site. Could you put the full compiler log in pastebin?

[2017-05-06 19:21] sguada commented on #1122
@MisayaZ you don't need to create two batch_norm layers you can just pass train_phase (assuming it is a tf.bool) to batch_norm. Also you are passing UPDATE_OPS_COLLECTION variables_collections, which changes which collections are the variables added to.

The following should work:

[code]

[2017-05-06 19:32] sguada commented on #1122
@OktayGardener not sure what model are you trying to create, it seems that the variables are not saved in your checkpoint.

batch_norm also works with fully_connected layers.

[code]

[2017-05-06 19:44] kevinashaw commented on #9699
Yeah, so if the `lstm_cells` object is generating its own initial state vector, then why is it generating the wrong dimensions?

[2017-05-06 19:47] kevinashaw commented on #9699
If I'm not incorrect, the proper initial_state tensor should be [2500,75].  Given that the mini-batch size is 2500 and the lstm cell count is 75.

[2017-05-06 20:20] fvisin commented on #8976
In the end it was my fault: I had a set of extra flags that I mistakenly thought were right for my architecture. I was able to compile with the default settings, so I figured out the error was in my optimization flags.

[2017-05-06 20:46] sudhirshahu51 commented on #9680
@SrivastavaKshitij
(tensorflow) C:\Users\Sudhit>pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.1.0-cp35-cp35m-win_amd64.whl
tensorflow-1.1.0-cp35-cp35m-win_amd64.whl is not a supported wheel on this platform.

![screenshot 19](https://cloud.githubusercontent.com/assets/25053295/25775784/cfa239ae-32c6-11e7-9459-fe16f4d9398e.png)

Still ha

[2017-05-06 20:53] Deepak- commented on #6313
The solution of @kvothe also works for tensorflow 1.0.1 (on Windows 10)

[2017-05-06 21:09] ebrevdo commented on #9699
I'm seeing that you have:

Xnew = tf.split(Xnew, n_steps, axis=0)

How many elements are there in Xnew after this step, and what are their shapes?

Furthermore, can you print(initial_state) for me?

[2017-05-06 21:12] ebrevdo commented on #3628
It seems like the (local?) variable moving_mean is not being stored properly as a ref type.  @sguada does tf.contrib.layers.batch_norm work with the new resource variables?  If so, try creating your initial graph inside a tf.variable_scope(..., use_resource=True) and see if it'll properly save/restore.

[2017-05-06 21:15] ebrevdo commented on #9715
Does the new attention + decoder API in tf.contrib.seq2seq (in the
nightlies) do what you want?

It seems like what you're currently proposing is a pretty major overhaul of
the LSTM and embedding wrapper APIs that would not be backwards
compatible.  I think we try to avoid doing this in the new AttentionWrapper
in tf.contrib.seq2seq, and provide a variety of decoding mechanisms there
as well.

On

[2017-05-06 21:31] drpngx commented on #9728
Could you check the resolution [here](https://github.com/python/mypy/issues/980)?

[2017-05-06 21:41] kevinashaw commented on #9699
@ebrevdo : Thanks for replying.  `initial_state` is shown at the top of the original post here.
Reprinting:
[code]

[2017-05-06 21:43] zhangyaobit commented on #9370
@alquraishi, thanks for reporting the issue. This does look like a bug/feature request. @boche also reported a related (potentially the same) issue here: https://github.com/tensorflow/tensorflow/issues/6072

I looked into the code and currently the code only stores params for forward direction, as you have observed. So I don't think checkpointing for the bidirectional the case is currently working

[2017-05-06 21:43] ebrevdo commented on #9699
Got it.  Did you expect to have a batch_size of 2000?  It seems like the
batch_size variable you passed to cell.zero_state was 2000.

On Sat, May 6, 2017 at 2:41 PM, Kevin Shaw <notifications@github.com> wrote:

[2017-05-06 21:43] ebrevdo commented on #9699
err, 2500.

On Sat, May 6, 2017 at 2:43 PM, Eugene Brevdo <ebrevdo@google.com> wrote:

[2017-05-06 21:45] ebrevdo commented on #9370
We should consider also contacting nvidia for clarification in their
documentation.

On Sat, May 6, 2017 at 2:43 PM, zhangyaobit <notifications@github.com>
wrote:

[2017-05-06 21:57] zhangyaobit commented on #9370
Good point. Assigning @zheng-xq

[2017-05-06 22:11] kevinashaw commented on #9699
Correct the batch size is 2500.

[2017-05-06 22:14] kevinashaw commented on #9699
Perhaps a related question is: what size *should* `Xnew` be?   Given the batch size of 2500, and a frame size of (300 x 12), where the feature vector length for each time step is 12.

[2017-05-06 22:26] kemaswill opened #9731 "More description for optimizers Adagrad, Adadelta, FTRL..."
Is it necessary to add more description for optimizers such as Adagrad, Adadelta, FTRL and so on just as what [Adam](https://www.tensorflow.org/api_docs/python/tf/train/AdamOptimizer) does? Since these are several quite new optimizers and I think it's better to show users more details about these optimizers so that they can understand why do these optimizers work better than SGD in some situations

[2017-05-06 22:28] shoyer commented on #675
I'm reopening this issue since I think it's still a valid feature request -- @yuanbyu comment https://github.com/tensorflow/tensorflow/issues/675#issuecomment-241961454 from last year closing it doesn't make sense to me.

One simple way to implement this in TensorFlow -- though possibly not the most efficient -- is with `tf.reshape`, `tf.map_fn` and `tf.gradients`:
[code]
Example usage:
[code]

Co

[2017-05-06 22:31] shoyer commented on #4897
See https://github.com/tensorflow/tensorflow/issues/675#issuecomment-299669705 for a proposal for `tf.jacobian`. That doesn't directly solve the "per example gradients" problem described here but could be potentially helpful.

[2017-05-06 23:00] hujunyao commented on #9718
I find the bugs come from the vs2015. When I update the vs2015 to vs2015update3 version , It compiles OK.
I suggest that the instructions ( (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/cmake )  need to emphasize the use of **vs2015 update3**

[2017-05-06 23:01] #9718 closed

[2017-05-06 23:03] drpngx commented on #9718
Thanks! Could you send a PR with the change to the MD file?

[2017-05-07 00:18] ebrevdo commented on #9699
Sounds like Xnew should be a list of 300 tensors, each one shaped 2500x12.

On Sat, May 6, 2017 at 3:15 PM, Kevin Shaw <notifications@github.com> wrote:

[2017-05-07 01:07] guschmue commented on #9701
Works fine on master and 1.1 as far I can tell.
Above log shows tensorboard finds one 1 scalar,  maybe the data in the scalar is not valid ?

[2017-05-07 01:19] guschmue commented on #9718
yes, needs to be update3 for sure. I thought this was in the README.md but just checked - really not there.

[2017-05-07 01:51] alquraishi commented on #9370
May I suggest that this gets documented very clearly as a limitation, perhaps even preventing the user from accidentally using RNNParamsSaver with a bidirectional RNN? I understand the temptation to mark this as contributions welcome and set it aside, but I really do think it's a very serious bug. What makes it particularly problematic is that it's completely silent, so a user may suddenly see the

[2017-05-07 02:05] kevinashaw commented on #9699
Okay.  Let me think about this.  I'll get back tonight.  Thanks!

[2017-05-07 02:25] CapCap commented on #8976
Ended up figuring it out last night, after installing the pre-built cuda package worked. It was the same problem for me; I had the flag for SSE enabled on a machine that didn't support it.

[2017-05-07 03:01] danieljl commented on #9519
@dandelionmane Can you mention the commit so it can be cherry-picked?

[2017-05-07 04:42] RuofanKong opened #9734 "`tf.while_loop` Bug"
I found that `tf.while_loop(cond...)` has issues on its termination condition which `cond` is set by using method `tf.logical_or(t1, t2)`. If one of conditions `t1` or `t2` is satisfied, then while loop should break. But I noticed this is not true. The following is the code for testing and reproducing:

[code]
The code logic is quite simple: Inside the termination condition, either `i >= 10` or `v

[2017-05-07 05:04] iysaleh opened #9735 "Tensorflow searching for outdated version of cudnn64_6.dll (Import Error)"
So I tried my first install of tensorflow-gpu on Window 7x64 with a GTX1080 and was met with a DLL import error python exception that wasn't very helpful at all (that message needs to be updated to indicate what DLL it can't find!).

Anyways, I decided to attempt the import tensorflow function with proc_mon watching all the file I/O from python... Turns out, Tensorflow is searching for 'cudnn64_5.

[2017-05-07 05:06] iysaleh commented on #9726
I'm not sure if this is it at all, but I believe the general consensus is that you don't attempt to use 32-bit python with Tensorflow on Windows... I only say that you are based on your folder name 'Python35-32'

[2017-05-07 05:08] iysaleh commented on #9722
I ran into this error while attempting to install Tensorflow ... For me it was because I was trying to install Tensorflow in Windows with Python 3.6 ... Tensorflow only supports Python3.5!

[2017-05-07 06:27] zakizhou commented on #2025
any beautiful solution?

[2017-05-07 07:31] samjabrahams commented on #9001
Hi guys,

I wanted to chip in a bit. I may be completely missing something, but I believe `tf.cond` already sets the gradient for the unused path to zero. This should prevent unwanted updates to Variables. Here is some code from a presentation/demo I'm giving tomorrow:

Stochastic depth layer (with 1x1 convolution depth mapping, if needed). Not totally full-featured, but works for a simple illustr

[2017-05-07 07:56] Songweiping commented on #9635
That sounds great! Please let us know once you release those results.

[2017-05-07 08:46] xcyan commented on #9347
@jmchen-g @sguada @Kongsea Thank you all!
May I know the status of integrating conv_3d/conv3d_transpose into slim? The reason I ask is that will benefit many people (like me) who are working on 3D stuff :-)

[2017-05-07 08:52] wgmg165 opened #9737 "Why？"
I have successfully install the tensorflow-gpu-1.0.0 in windows 10, but when I train a model , it appears this error:
InternalError: Failed launching MaxPoolForwardNoMask

[2017-05-07 09:03] kevinashaw commented on #9699
Okay, after about five hours on this, I've ditched the old `static_rnn` approach and switched to a `dynamic_rnn` which eliminated those issues about input shape.  If I understand correctly, with the `dynamic_rnn`, I can feed an input Tensor of shape `[b x n x f]` where `b` is the `batch_size`, `n` is `n_steps`, and `f` is the number of features, `n_feat`, directly into the RNN object.
Long story s

[2017-05-07 09:03] #9699 closed

[2017-05-07 09:44] twatasf7 opened #9738 "OpenCL support for Window"
Scheduled to be compatible with OpenCL for Window
Currently bazel and cmake can not build on OpenCL on Windows
Is there no plan to support OpenCL on Windows?
If so, when will the period be?

[2017-05-07 09:52] GospodinNoob commented on #9726
Tesrflow requires only amd CPU?

[2017-05-07 10:08] soloice commented on #3628
@ebrevdo Thanks for your suggestion. `tf.variable_scope(..., use_resource=True)` does not help.

[2017-05-07 10:52] MisayaZ commented on #1122
@sguada Thanks, I build a network with bathnorm which is implemented as you mentioned above
[code]
the speed is slow, I use tensorflow benchmark to get the computation time as below:
I tensorflow/core/util/stat_summarizer.cc:392] ============================== Top by Computation Time ==============================
I tensorflow/core/util/stat_summarizer.cc:392] 	             [node type]	  [start]

[2017-05-07 11:33] srkunze commented on #9446
@girving What else is needed to re-consider this issue?

[2017-05-07 11:41] GospodinNoob commented on #9726
@drpngx, CUDA could not install, so i install tensorflow-cpu-only with anaconda and it's fix this problems. Example prject works, but now i have some warnings

2017-05-07 14:37:35.667977: W c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorflow\core\platform\cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE instructions, but these are available on your m

[2017-05-07 12:07] qiushi223 commented on #6698
**The same problem,is there any solution to it ?**

I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\core\common_runtime\gpu\gpu_device.cc:885] Found device 0 with properties:
name: GeForce GTX 960M
major: 5 minor: 0 memoryClockRate (GHz) 1.176
pciBusID 0000:01:00.0
Total memory: 4.00GiB
Free memory: 3.35GiB
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\window

[2017-05-07 13:37] xavigonzalvo commented on #7784
The GMM part is encapsulated as part of an Estimator (see
https://www.tensorflow.org/extend/estimators). Think of that as a wrapper
where you define your model and then use the class method ".fit()" to do
the training. That will run sess.run() for you.

2017-05-02 14:50 GMT-04:00 vinay-hebb <notifications@github.com>:

--
Xavi.

[2017-05-07 14:47] carlthome commented on #9737
Ask this on [Stack Overflow](http://stackoverflow.com/) with the tag _tensorflow_ and you'll receive better support. Also, you'll want to provide code to reproduce the error.

[2017-05-07 15:16] stephenseibel opened #9739 "404 Error When Installing 1.1.0 GPU Python 3.x version"
[code]
Ran same command to successfully install version 1.0.0 GPU py3. I thought this would be the best place to bring it to the Google team's attention, but let me know if not!

[2017-05-07 16:20] chenweiqian opened #9741 "run own model on android"
**question:**
i run tensorflow SSD model on android. The android studio didn't throw error. But i can't detect anything.I test my pb file, it's seems right. I don't know why. Anyone who can help me? Thanks!!

**code:**
because the model is based on tensorflow demo. so i just paste own code.

[code]

[2017-05-07 16:24] SrivastavaKshitij commented on #9680
try installing version 1.0.1 instead of 1.1.0

https://www.tensorflow.org/versions/r1.0/install/install_windows

[2017-05-07 16:55] RuofanKong commented on #9734
@mrry Thanks for response! I updated original issue description. Apologize for my previous typos...  But if you re-read above issue, you may see the result is not expected, and you could also try above code to reproduce. I do think there is a bug for `tf.while_loop()` if I understand correctly.

[2017-05-07 17:03] #9737 closed

[2017-05-07 17:05] yaroslavvb commented on #9737
@wgmg165 like @carlthome says this list is mainly for issues to bring to attention of developers of tensorflow, and stackoverflow is best for support. If you think it's a bug, you could provide a way to reproduce this error in latest version (tf 1.1) and provide more info

[2017-05-07 17:12] RuofanKong commented on #9734
OK. It looks like we need a pass condition for `tf.while_loop()` instead of termination condition... going to close the ticket.

[2017-05-07 17:12] #9734 closed

[2017-05-07 17:18] MMCMA commented on #9701
I have tried  the same for a different dir which used to work but no longer returns anything. here is the log of inspect:

[code]

The browser loads the tensorboard page, but it displays the following error under the scalar tab:

[2017-05-07 17:43] drpngx commented on #9738
@benoitsteiner and @lukeiwanski may be able to comment.

[2017-05-07 17:45] drpngx commented on #9741
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-07 17:45] #9741 closed

[2017-05-07 17:46] drpngx commented on #9735
Thanks @iysaleh, noted.

[2017-05-07 17:50] drpngx commented on #9739
@yifeif either there is a problem with the URL or the [doc](https://www.tensorflow.org/install/install_mac#the_url_of_the_tensorflow_python_package) should be changed.

[2017-05-07 19:29] harpone commented on #675
@shoyer I can't get your `jacobian` to work (seems like a similar issue to [here](https://github.com/tensorflow/tensorflow/issues/675#issuecomment-215130212)). Here's a minimal example:

[code]

I get
`InvalidArgumentError: TensorArray map/TensorArray_16@map/while/gradients: Could not write to TensorArray index 1 because it has already been read.`

[2017-05-07 19:45] harpone commented on #675
Just a FYI for anyone who happens to stumble here looking for a `tf.jacobian`: this seems to work (props to @yaroslavvb):

[code]
Indeed seems pretty slow for bigger values of N... would be nice to get the `map_fn` method to work (if it's going to be faster).

[2017-05-07 19:58] shoyer commented on #675
@harpone oops -- good catch! Apologies for posting untested code :). (The version that I actually got working on Friday used a static loop, but then I mistakenly assumed `tf.map_fn` would simplify it.)

[2017-05-07 20:20] sirfz opened #9742 "Optimized compiled Tensorflow uses almost 2x more memory than non-optimized binary"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Both
- **TensorFlow version (use command below)**: ('v1.0.0-65-g4763edf-dirty', '1.0.1') (compiled at the same git commit of the binary v

[2017-05-07 23:14] drpngx commented on #9742
@tfboyd is there anyone who could take a look?

[2017-05-07 23:16] drpngx commented on #9742
Could you try to disable jemalloc?

[2017-05-07 23:22] tfboyd commented on #9742
Which CPU are you using?  If we repro, I would like to compile with the same optimizations.  Thank you.  I ask because if I repo with AVX but the issue is with AVX2 for example I would not see it.

[2017-05-07 23:22] drpngx commented on #9717
Yes, it should be [supported](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/topk_op.cc#L37).

I think it's just a matter of removing `k=` in the [code](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_ops.py#L1946).

@girving WDYT?

[2017-05-08 00:54] rasbt opened #9744 "Adding a random seed parameter for tensorflow.layer.dense"
Hi,
I noticed that the `tensorflow.layer.dense` wrapper does not have a `seed` parameter, and I was wondering what you think about adding one. E.g., this seed would be used to initialize the random weights and bias units (if they are not initialized to zero).

Related to the points above,  it is currently also not clear how the weights are initialized. I.e., what distribution the random numbers ar

[2017-05-08 01:10] chenweiqian commented on #7172
@civilman628 hi, i run tensorflow SSD model on android. The android studio didn't throw error. But i can't detect anything.I test my pb file, it's seems right. I don't know why. could you give me some advices? Thanks!!

[2017-05-08 01:28] shree-ranga commented on #9714
I'm using tensorflow 1.1.0 and my OS is Ubuntu 14.04
I couldn't build from the source. However, I uninstalled tensorflow and pip installed again. Everything seems to be working now.

[2017-05-08 01:47] JamesKostas commented on #9590
Every thousand steps, instead of doing a normal training step, I did

[code]
Did I do it correctly?  The output is attached for steps 0, 1000, 2000, 3000, 4000 (by which time a few GB have leaked).  Search for "step [number]" to go quickly between them.  I don't see anything about \_\_LOG_MEMORY\_\_ in there.  If I did it wrong, please let me know and I'll run it again.  Thanks!

[Output.txt](http

[2017-05-08 01:59] drpngx commented on #9714
OK, please reopen if it happens again and you have a way to repro.

[2017-05-08 01:59] #9714 closed

[2017-05-08 02:02] drpngx commented on #9590
It looks like it didn't work. You need to set the env variable, something like this

[code]

[2017-05-08 02:23] jjough commented on #675
@shoyer @harpone here's mine -- works for high-dimensional Jacobians (numerator and denominator have >1 dimension), undefined batch sizes, and tensors that are not statically known.

Remember to use an interactive session, otherwise `tf.get_default_session()` will not be able to find the session.

[code]

And here's one for batched tensors:

[code]

[2017-05-08 03:14] iysaleh commented on #9735
[...cuda_dnn.cc:352] Loaded runtime CuDNN library: 6021 (compatibility version 6000) but source was compiled with 5105 (compatibility version 5100).  If using a binary install, upgrade your CuDNN library to match.  If building from sources, make sure the library loaded at runtime matches a compatible version specified during compile configuration.

I got the above error just now ... looks like jus

[2017-05-08 03:50] Yilong94 commented on #9701
Facing the same issue as well. I am not sure if it is because of the logdir path such that it is unable to identify the Event file.

[2017-05-08 04:16] salvador-dali opened #9745 "Feature request: distance between each pair of the two collections of inputs. Analog of scipy.spatial.distance.cdist"
is it possible to add a function to calculate a distance between each pair of the two collections of inputs. Scipy has it implemented in [distance.sdist](https://docs.scipy.org/doc/scipy/reference/generated/generated/scipy.spatial.distance.cdist.html) and supports many distance metrics.

Is it possible to have this function in TF? I have made an implementation for [Eucledian distance](http://stack

[2017-05-08 04:40] kishorenayar commented on #9696
@fchollet Thanks !!

[2017-05-08 05:27] derek-pappas commented on #7959
Check your Tensorflow version
$ python -c "import tensorflow; print(tensorflow.__version__)"

If the version is not 1.* upgrade Tensorflow.
$ pip3 install --upgrade tensorflow-gpu

[2017-05-08 05:50] CarbonComputed commented on #8263
@martinwicke https://github.com/tensorflow/tensorflow/pull/9746
Hopefully my changes make sense.

[2017-05-08 06:10] austinzh opened #9747 "'Tensor' object has no attribute 'initializer' after import from meta graph"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution**: Darwin Austins-MBP 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3 16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64
Mac OS X 10.12.4
- **TensorFlow installed from (source or binary)**:binary
- **Te

[2017-05-08 06:15] jaiabhayk commented on #9125
The similar issue still persist when variable is matix:-

import tensorflow as tf
graph_replace = tf.contrib.graph_editor.graph_replace
w = tf.Variable(tf.zeros([784, 784]),name="w")
y = tf. matmul(tf.matmul(w, w, name="mul1"), w, name="mul2")
g = tf.gradients(y, w)[0]
g_new = graph_replace(g, {w.value(): g})

    return info.transformed_ops[op]
KeyError: <tf.Operation 'mul1' type=MatMul>

[2017-05-08 06:34] cYclonEK commented on #9697
Also happens on
GCC 7.1.0
Ubuntu 16.04.4

[2017-05-08 06:35] vinay-hebb commented on #7784
@xavigonzalvo, Thanks for your reply. Yeah, I understand about sess.run() now. I have another question, could you clarify me if you know about this.

I am using [gmm.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/factorization/python/ops/gmm.py) from TF 1.0 and it can estimate means and covariances of each component in GMM. But I am not able to get weights (or prior pr

[2017-05-08 07:20] Kongsea commented on #9347
@xcyan I have sent a [pull request](https://github.com/tensorflow/tensorflow/pull/9477), but the tensorflow members think there may be too little people who have the need to use the 3D operations of Slim. So please go there to support the PR if you need the feature too.

[2017-05-08 07:44] freedomtan commented on #9662
@PKUEcho some ops use C++11 features, but the default cross-toolchain in NDK (gcc-4.9) uses C++98. That's why you need --cxxopt="-std=c++11"

[2017-05-08 07:49] PKUEcho commented on #9662
@freedomtan Thanks for your reply, that makes sense :)

[2017-05-08 07:58] xcyan commented on #9347
The TF developers mentioned that your pull request will cause ~20 breakages. Can you possibly modify your code a little bit.

[2017-05-08 07:58] xcyan commented on #9347
@Kongsea The TF developers mentioned that your pull request will cause ~20 breakages. Can you possibly modify your code a little bit.

[2017-05-08 08:04] JeremyCCHsu opened #9748 "Segmentation fault on help(tf.train.SequenceExample)"
I was trying to try and test the tf.train.SequenceExample class, but it wasn't in the official docs and using help crashed Python. Does anyone know how to use it or how to solve this issue?

[2017-05-08 08:04] Kongsea commented on #9347
@xcyan OK, I will modify it as quickly as possible.

[2017-05-08 08:34] bucaixiaot opened #9749 "tensorflow install for go"
bojuzideMacBook-Pro:~ manman$ go get github.com/tensorflow/tensorflow/tensorflow/go github.com/tensorflow/tensorflow/tensorflow/go
ld: library not found for -ltensorflow
clang: error: linker command failed with exit code 1 (use -v to see invocation)
bojuzideMacBook-Pro:~ manman$

[2017-05-08 08:35] bucaixiaot commented on #9749
bojuzideMacBook-Pro:~ manman$ "go get github.com/tensorflow/tensorflow/tensorflow/go"
# github.com/tensorflow/tensorflow/tensorflow/go
ld: library not found for -ltensorflow
clang: error: linker command failed with exit code 1 (use -v to see invocation)
bojuzideMacBook-Pro:~ manman$

[2017-05-08 08:37] kwotsin commented on #9301
@andrehentz the transform_graph works very well currently. I am seeing a better accuracy compared to using quantize_graph, and the inference speed is also faster.

As for the Jetson, I realized the problem of running the quantized graph obtained from the transform_graph tool comes from the TF version (1.0 alpha) not having any quantized operation functions (e.g. QuantizeMul) at all. So I'm trying

[2017-05-08 08:40] PratsBhatt commented on #8191
@ebrevdo I am as well facing the same issue and unable to progress with seq2seq. It will be really helpful if you could let us/me know what is a probable date for a new tutorial.
Thanks a lot for your help.

[2017-05-08 08:54] #9749 closed

[2017-05-08 08:54] zhuihunmiling commented on #479
我也遇到了同样了问题，在CentOS 7 下，这是由于Python编译时没有指定编码导致的，详细的解决过程参见http://www.jianshu.com/p/b0b8ab2be12c，当然，Ubuntu系统和CentOS不一样，请注意甄别。祝你好运！

[2017-05-08 09:07] gongenhao commented on #5036
+1

[2017-05-08 09:13] azainab commented on #6356
Hi,

I am having the same issue....The bazel build runs for a very long time and throws up error :(
bazel clean doesnt help...

Can some one please help....
![screen shot 2017-05-07 at 9 06 34 pm](https://cloud.githubusercontent.com/assets/25388406/25797880/b98aefcc-33e7-11e7-9523-5d476a504f89.png)
![screen shot 2017-05-08 at 10 49 40 am](https://cloud.githubusercontent.com/assets/25388406/2579788

[2017-05-08 09:49] wwilly opened #9750 "building error, tensorflow r1.0, with bazel 0.4.5, Ubuntu 16.04.1 LTS armv7 board"
Update from #9632, @andydavis1 suggest upgrading to 1.1, but it seems to be worse:

[code]

Any help will be appreciated.

[2017-05-08 09:50] haikuoyao commented on #9678
Thanks. @JiaoLiu It works now.

[2017-05-08 09:50] #9678 closed

[2017-05-08 09:51] ChenChuang opened #9752 "contrib/verbs causes compile error on master"
Recently merged RDMA-supporting feature is based on r1.0, and incompatible with the latest master.

tensorflow/contrib/verbs/rdma_rendezvous_mgr.cc: In constructor 'tensorflow::RdmaRemoteRendezvous::RdmaRemoteRendezvous(const tensorflow::WorkerEnv*, tensorflow::int64, tensorflow::RdmaMgr*)':
tensorflow/contrib/verbs/rdma_rendezvous_mgr.cc:34:35: error: 'worker_name' was not declared in this scope

[2017-05-08 09:56] llhe commented on #9752
It's broken by [this commit](https://github.com/tensorflow/tensorflow/commit/f28935a7d280b6ba75fe93fe35783d87b9cc2ec9).
This is at least the second time of compile error. There should be a pre-commit check?

[2017-05-08 10:04] hantingxie commented on #9436
I think I finally found out the problem that caused my issue. So the problem is Anaconda. If you are using Anaconda as your python, you need to notice that, when you run the .configure, the python path seems to be found. However, the building system did not set this path for anaconda users for some reason, instead, it still looks for an environment variable called "PYTHON_BIN_PATH" while building.

[2017-05-08 10:23] daiab opened #9753 "Much time cost from worker to ps server"
I try to test the distribute speed, with one machine of 4 GPUs. I calculate one batch on each GPU, and add the four batch on the worker's cpu , and then average the four batch on ps CPU and update the parameters, I saved the timeline file, but there are no operations from workers CPU to ps CPU with a long time span in the timeline, I don`t know where the time gone? because of data transfer? but th

[2017-05-08 10:41] arinbjornk opened #9754 "TensorFlow weight initialization taking 99% of total run time"
### System information
- **Have I written custom code**: No (but custom data)
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: tensorflow-gpu (1.0.0 and 1.1) (Python 3.5)
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**: 8.0
- **GPU model and memory**: GTX 1080
- **Exact co

[2017-05-08 10:43] kwotsin opened #9755 "Bazel unable to build on Jetson TX1 with --config=cuda option?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04 LTS
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.1 (latest master)
- **Bazel version (if compiling from source)**: 0.4.5
- **CUDA/cuDN

[2017-05-08 10:57] MtDersvan commented on #9436
@hantingxie I have the same problem, but I'm building tensorflow-serving using standard Dockerfile.devel image as @neocortical did. So it might not be specifically only Anaconda related problem. Also, it worked for me just couple weeks before with the same configuration.

[2017-05-08 11:03] hantingxie commented on #9436
@MtDersvan Good to hear that you solved it. I agree with you, this issue might be caused by several different reasons. Anaconda can be one of them.

[2017-05-08 12:05] lukeiwanski commented on #9738
Hi @twatasf7
We are planning on releasing windows support soon ( cannot give an exact date yet )

[2017-05-08 12:42] xp1992slz commented on #3855
Thanks for sharing.

[2017-05-08 12:51] Xiangyi1996 commented on #9680
@sudhirshahu51
could you please tell me where get your desktop background picture?

[2017-05-08 12:53] vector-1127 opened #9756 "Accessing Array based on subscript?"
How I get the result using tensorflow?
[code]
This code can be implemented by Nympy and Theano. But how to do that on tensorflow?
[code]

[2017-05-08 13:16] luxiaolei opened #9757 "Large page fault causes slow performance while using gpu"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary, using `pip install tensorflow-gpu==1.0.1`
- **TensorFlow version (use command below)**:
1.0.1
- **Bazel version (if compiling fro

[2017-05-08 13:29] Shoshin23 commented on #9436
Hi, it seems to be working fine for me with @hantingxie 's solution. For some reason desipte ./configure recognizing my default path I still had to manually set my PYTHON_BIN_PATH. And yes, this is happening in the default dockerfile that's mentioned in the tensorflow serving docs.

[2017-05-08 14:13] andrewharp commented on #6356
@azainab What is your actual error? It's not included in the screenshots you posted.

[2017-05-08 14:19] sirfz commented on #9742
Haven't tried with jemalloc disabled yet but to answer the question about CPU it's an Amazon ec2 instance with Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz.

[2017-05-08 14:20] azainab commented on #6356
It runs for a whole very long time and has a big list of lines...Is there a way I can see the 3 errors? I tried the --verbose_failures but it says 0 targets found....

If yes, I run a command to see the errors and post it...

Few warnings and errors I got....
WARNING: /Users/zuni/Documents/androidstudy/Juanjors_AndroidMeneame/tensorflow/core/BUILD:917:12: in srcs attribute of cc_library rule //ten

[2017-05-08 14:29] andrewharp commented on #6356
@azainab These are warnings, not the error, which would be just above the section from your screenshot.

Are you using NDK r12b?

[2017-05-08 14:35] tfboyd commented on #9322
@taion   I am finally back to doing a write up and I hope to send it this week but I suspect that means next week.  Also I confirmed what you saw.  Regardless of version, even the latest head of master, you need WINOGRAD on for the boost.  I am sure we have an internal bug to make that on by default or on when it makes sense, but I am going to start obnoxiously asking about it.

[2017-05-08 14:40] azainab commented on #6356
I am using r14b...
![screen shot 2017-05-08 at 5 39 28 pm](https://cloud.githubusercontent.com/assets/25388406/25809376/693875ac-3415-11e7-864f-028661ab4214.png)

[2017-05-08 14:42] taion commented on #9322
Thanks, looking forward to it. We've since done some of that benchmarking on Pascal GPUs and verified that enabling non-fused Winograd wasn't as big a deal here, but it'd be great to see that massive speedup on 3x3 convolutions by default on Kepler. 3x3 convolutions are extremely common, and most cloud vendors are still only providing Kepler hardware.

[2017-05-08 14:45] Nankaiming opened #9758 "I use the bazel to generate the android so library on mac, but i met an issue :'ERROR: /Users/nankaiming/Desktop/tensorflow-master/tensorflow/core/kernels/BUILD:3869:1: C++ compilation of rule '//tensorflow/core/kernels:android_tensorflow_kernels' failed: Process exited with status 1 [sandboxed].'"
the gcc version on my mac is
![image](https://cloud.githubusercontent.com/assets/18348154/25809650/3b40c944-3440-11e7-9235-ff6293194a6f.png)
the log of the process is
![image](https://cloud.githubusercontent.com/assets/18348154/25809685/5cacd0aa-3440-11e7-9a2e-263a7120d762.png)
the WORKSPACE i edited is
![image](https://cloud.githubusercontent.com/assets/18348154/25809807/c00e6c9e-3440-11e7-9424-7

[2017-05-08 14:51] sirfz commented on #9742
Just re-compiled with `TF_NEED_JEMALLOC` environment variable set to 0, memory usage is the same (i.e. equal to the compiled version with jemalloc enabled).

[2017-05-08 14:53] xavigonzalvo commented on #7784
Estimator takes an input_fn. I suggest you use this:

def get_input_fn(x):
  def input_fn():
    return tf.constant(x.astype(np.float32)), None
  return input_fn

gmm.fit(input_fn=get_input_fn(x_1d), steps=100)
print gmm.weights()

2017-05-08 2:37 GMT-04:00 vinay-hebb <notifications@github.com>:

--
Xavi.

[2017-05-08 14:56] yaroslavvb2 commented on #9742
What if you run with tcmalloc?

sudo apt-get install google-perftools
export LD_PRELOAD="/usr/lib/libtcmalloc.so.4"

On Mon, May 8, 2017 at 7:53 AM, Fayez <notifications@github.com> wrote:

[2017-05-08 14:57] pawarrick commented on #8310
@leandro-gracia-gil do you plan to add the patch soon? It would be very helpful.  And thanks for reporting the solution.

[2017-05-08 15:04] pawarrick commented on #386
@tillahoffmann, do you have any updates on progress to the CPU implementation of FFT?  Many thanks for this.

[2017-05-08 15:24] sirfz commented on #9742
Tested with tcmalloc on both jemalloc enabled and disabled versions, memory usage is the same as well. Here's the output log with tcmalloc:

[code]

[2017-05-08 15:45] mejdidallel opened #9761 "Can't launch tensorboard"
When i try to launch tensorboard i get this error message :

tensorboard --logdir=/home/mejdi/Desktop/CNN/logs Traceback (most recent call last): File "/usr/local/bin/tensorboard", line 7, in from tensorflow.tensorboard.tensorboard import main File "/usr/local/lib/python3.5/dist-packages/tensorflow/tensorboard/tensorboard.py", line 33, in from tensorflow.tensorboard.backend import application File

[2017-05-08 15:47] andrewharp commented on #6356
That the problem then. We recommend r12b as r14b currently has incompatibilities with TF due to the different default flags used by Clang.

[2017-05-08 15:52] asimshankar commented on #9685
As @eaplatanios pointed out, I don't think that an enum would be appropriate and code generation for all the operations (which happens for Python, C++ and Go right now) is the right way to go.

I believe @karllessard and @kbsriram are looking into this as part of resolving #7149, so I'm going to close this issue out and recommend comments/follow ups on #7149 instead.

Thanks!

[2017-05-08 15:52] #9685 closed

[2017-05-08 15:55] mejdidallel commented on #9761
I fixed it by changing image_data_format in the .keras/keras.json file from "tf" to "channels_last"

[2017-05-08 15:59] leandro-gracia-gil commented on #8310
@pawarrick I've found that depending on what you do you (your graph operations) you might actually need to build more than just the aot runtime.cc in MSVC. That leads to changes in a few more Tensorflow files, and transitively to one more trivial change in the Eigen library.

I'm currently trying to figure out a cleaner approach considering the required changes, which are small but scattered acros

[2017-05-08 16:01] mcenderdragon commented on #9685
But the method solution is much more complex and enums are the right way to do it, like OpenGL does it.

[2017-05-08 16:02] andrewharp commented on #9758
Android NDK r14b which you're probably using contains Clang, not GCC. Make sure you're using Android NDK r12b, or you'll get narrowing errors like this due to Clang (this is documented in recent versions, but it looks like you have an older version of TF).

[2017-05-08 16:02] #9758 closed

[2017-05-08 16:12] andrewharp commented on #6385
The AAR build of TF is now [live](https://bintray.com/google/tensorflow/tensorflow-android)! This is labeled 1.2.0 preview, but note that this is merely to indicate it comes between 1.1.0 and 1.2.0 (1.2.0 has not even been cut yet). We'll be updating it on every point release.

You can enable it by adding the following to build.gradle:
[code]

You'll also want to remove the following to prevent re

[2017-05-08 16:16] andrewharp commented on #9665
The AAR is [live](https://bintray.com/google/tensorflow/tensorflow-android)! See [this comment](https://github.com/tensorflow/tensorflow/issues/6385#issuecomment-299913647) for instructions on using.

[2017-05-08 16:16] #9665 closed

[2017-05-08 16:21] leandro-gracia-gil commented on #8310
By the way, I've also noticed that there are a lot of kernels not implemented for the DEVICE_CPU_XLA_JIT device, which limits a lot what you can actually do with the AoT compiler. This seems to include multiple control flow operations (enter, whileloop and others if I remember correctly), some ops like argmin (although there's argmax), gather and scatter, some array ops and also any kernels for an

[2017-05-08 16:26] asimshankar commented on #9685
An enum might describe the list if operations, but we'd still need to describe all the inputs, their types, any attributes, default values - essentially all the contents of the [`OpDef` protocol buffer](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/op_def.proto) that is created with the `REGISTER_OP` macro calls, so merely listing out the operations without describ

[2017-05-08 16:52] mcenderdragon commented on #9685
well enum cann do this in java do (we can give them an input definition as DataType array) and the Exceptions are helpfull so the hardest thing currently is guessing the name, if you have the name the excpetiuons tell you what you need.

[2017-05-08 16:52] telefire opened #9763 "Android libandroid_tensorflow_inference - "No OpKernel was registered to support Op 'FloorMod' with these attrs" when using tf.nn.atrous_conv2d"
hi, everyone,

We are trying to load a pb file inside Android. The pb file is generated with python 2.7.0 and Tensorflow 1.0.1.   We have this following error:

[code]

The network definition is using tf.nn.atrous_conv2d(i, k, dilation_rate, padding=padding)

And our freezing graph code is also pretty standard.

We have no problem running this pb files for inference with python under Tensorflow 1.

[2017-05-08 16:56] drpngx commented on #9742
Great! Could you follow the [pprof instructions](http://goog-perftools.sourceforge.net/doc/heap_profiler.html) to understand what does the big allocations?

[2017-05-08 17:05] yifeif commented on #9722
@sudhirshahu51 , you can check what wheel tags are compatible on your system with the following command:
`python -c "from pip import pep425tags;print(pep425tags.supported_tags)"`, or python3.

We don't plan to add this to our doc as this should be strictly following pep425 standard.

[2017-05-08 17:05] #9722 closed

[2017-05-08 17:09] Cooper-Yang commented on #8551
@mrharicot Really, which version of tensorflow? Currently using 1.1.0 `tf.image.decode_jpeg` behave just the same as  `tf.image.decode_image`, which does not return a shape.

[2017-05-08 17:11] ehsanasgari opened #9764 "how to call AttentionWrapper?"
I am trying to write a simple seq2seq model with attention. But  it gets the following error:

[code]
 How should I call AttentionWrapper?

 Here is my code:

[code]

[2017-05-08 17:30] martinwicke commented on #9712
This is a fine feature request. Since it's a somewhat niche feature, we will not be able to work on this soon, but if someone else wants to take this on, I'd support it.

[2017-05-08 17:34] alexanderalang commented on #9001
@samjabrahams so theres no need for the `gradient_override_map` with the Identity op? Does your code actually skip the layer during backprop, or does the weight update get carried out all the same, just with gradients that are all zero? I guess what I'm trying to understand is, for a very deep network, will this method still save time / memory?

[2017-05-08 17:37] akhileshgotmare commented on #7522
@kevinashaw Could you provide link to the FAQ answer and the way of reinstalling libcudnn.so. please!

Thanks,
Akhilesh

[2017-05-08 17:39] dineshgit opened #9766 "Tensorflow worked and now suddenly giving errors ?"
Hello,

I was able to run tensorflow (both CPU and GPU) without issues yesterday. Today, after restarting my laptop, I get the below error as I tried running Tensorflow.

I have previously checked that my path variables were set properly and only then Tensorflow worked, but I'm not sure how it suddenly isn't working.

System information

Have I written custom code (as opposed to using a stock exam

[2017-05-08 17:42] #7810 closed

[2017-05-08 17:43] #7456 closed

[2017-05-08 17:43] #6224 closed

[2017-05-08 17:47] yifeif commented on #9703
@asimshankar who knows more about C API distribution :).

[2017-05-08 17:50] suiyuan2009 opened #9767 "MKL only supported on 32-bit machine?"
according to [mkl BUILD file](https://github.com/tensorflow/tensorflow/blob/master/third_party/mkl/BUILD#L20) and [mkl util file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/mkl_util.h), the current mkl code is only for 32-bit machine... And I didn't find the declaration of the function`dnnLayoutSerializationBufferSize_F32/64` in header files or `.so` files...

[2017-05-08 17:53] IMG-PRCSNG commented on #9679
I could share it but I feel it would add more confusion as I hard-coded certain paths in `third_party/gpus/cuda_configure.bzl` for pointing to paths of the executables  `nvcc` and `nvvm`. On giving the toolkit path, the build process chooses the `nvcc` and `nvvm` from inside it. Since I am cross compiling, I would need the host executables `nvcc` and `nvvm`  but the target libraries. I will put th

[2017-05-08 18:00] kevinashaw commented on #7522
@akhileshgotmare:  I followed the TF instructions here [(link)](https://www.tensorflow.org/install/install_linux) which link to the nVidia instructions here [link](https://developer.nvidia.com/rdp/cudnn-download).  Be sure to get R5.1, since R6.0 won't work.  -K

[2017-05-08 18:13] mrharicot commented on #8551
@Cooper-Yang I was using 1.0 at the time.
I'll check with the new version, thanks!

[2017-05-08 18:15] pzz2011 commented on #4158
@cwhipkey where is the support?

[2017-05-08 18:15] guschmue commented on #9701
does a simple app like https://gist.github.com/guschmue/fef2018cefb327c45f7619e26f530837 this works?

[2017-05-08 18:16] mrharicot commented on #8551
@Cooper-Yang I was using 1.0 at the time.
`tf.image.decode_jpeg` gives me the image size, so I ended up using an [ugly workaround](https://github.com/mrharicot/monodepth/blob/master/monodepth_dataloader.py#L98)

[2017-05-08 18:26] cwhipkey commented on #4158
tf.contrib.nccl  - see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/nccl/python/ops/nccl_ops.py

[2017-05-08 18:26] asimshankar commented on #9685
I do believe that the code generation is the appropriate thing to do regardless, but yes, it will take time.

I'm not fully convinced about the value of the enum. Yes, it may help with discovery of operations, but once the code generation is in place, then that would be a better means of discovery? Note that operations can also be added at runtime (e.g., [Adding a New Op](https://www.tensorflow.or

[2017-05-08 18:42] asimshankar commented on #9703
@arrufat : Thanks for the suggestion. This would be useful for building packaged distributions. Feel free to send a pull request adding your script and we can discuss further there. I would suggest explicitly taking the version as an argument instead of using `grep` over `RELEASE.md` and maybe an appropriate location for this script would be `tensorflow/c/generate-pc.sh`.

FYI, on OS X using [home

[2017-05-08 18:44] mcenderdragon commented on #9685
Ok if you will add all this stuff then yeah the enum is pretty out of place and not needed. With alot of bloddy magic it is possible to add enum at runtime but a solution wiht methods is by far better.

[2017-05-08 18:55] sudhirshahu51 commented on #9722
@yifeif thanx for this and can I know what features of Laptop do this supported tags depend upon as in my case I am finding it to be python2 and py27

[2017-05-08 19:27] sirfz commented on #9742
I ran the profiler tool against the pip version and the compiled version. First, here's the printed messages for each:

### Pip version
[code]

### Compiled version
[code]
Up until heap 4 in both cases, memory usage is the same and both graphs (generated by `google-pprof` tool) are exactly the same based on a quick look.

At heap 5, the memory usage is still the same but in the compiled version's

[2017-05-08 19:37] mlkorra commented on #9761
So is it  working now? @mejdidallel

[2017-05-08 19:53] MMCMA commented on #9701
no, not for me. The dir is not empty, I see the tfevents file in there, but once more the same error log in the browser.

[2017-05-08 19:56] lwogulis commented on #9579
Yes, I set TF_ENABLE_XLA=1 when I configure

[2017-05-08 20:26] av8ramit commented on #9610
Fixed. Thanks for pointing this out @kinergy !

[2017-05-08 20:26] #9610 closed

[2017-05-08 20:53] av8ramit opened #9770 "Sample Github TensorFlow Issue Renamed"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-08 21:28] bkovalev opened #9771 "building error, tensorflow master, with bazel 0.4.5, Cuda 8.0, Cudnn 6, Nvidia p100 pci, Ubuntu 16.04"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:   ('v1.1.0-rc2-221-g48d9915', '1.1.0-rc2')
- **Bazel version (if compiling from source)**: 0.4.5
- **CUDA/cuDNN version**: 8.0/6
- **GPU model and memory**: P100 PCI - 16 GB
- **Exact command to reproduce**:
bazel build --conf

[2017-05-08 22:59] yaroslavvb2 commented on #9742
Could it be that one of the version is using Python implementation of
protobuf instead of cpp?

Try this
python -c "from google.protobuf.internal import api_implementation;
print(api_implementation._default_implementation_type)"

It should print "cpp"

On Mon, May 8, 2017 at 12:30 PM, Fayez <notifications@github.com> wrote:

[2017-05-08 23:10] cwhipkey commented on #3441
Some documentation has been added, and should be available when documentation is next rebuilt.

[2017-05-08 23:11] #5986 closed

[2017-05-09 00:04] drpngx commented on #9752
@yifeif should we modify one of our configurations to configure with rdma?

[2017-05-09 00:07] drpngx commented on #9756
I have something like that in my code:
[code]

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-09 00:07] #9756 closed

[2017-05-09 00:09] drpngx commented on #9757
CC: @tfboyd

[2017-05-09 00:12] drpngx commented on #9766
It is unable to load the pywrap module. Did you remember to activate your virtualenv if you are using it?

I would recommend using the dependency walker to find out what DLLs are missing.

[2017-05-09 00:14] drpngx commented on #9771
Closing in favor of #9752.

[2017-05-09 00:14] #9771 closed

[2017-05-09 00:20] drpngx commented on #9750
Can you run `bazel fetch ...`?

[2017-05-09 00:25] av8ramit commented on #9770
Testing comments API.

[2017-05-09 00:27] av8ramit commented on #9770
Testing comments API.

[2017-05-09 00:28] av8ramit commented on #9770
Testing comments API.

[2017-05-09 00:28] av8ramit commented on #9770
Testing comments API.

[2017-05-09 00:34] av8ramit commented on #9770
Testing comments API.

[2017-05-09 00:50] drpngx commented on #9764
You are likely running a version of tensorflow that is too old. Please upgrade and let us know.

[2017-05-09 00:52] drpngx commented on #9748
Please provide a simple repro case and we can look into it.

[2017-05-09 01:11] ed-alertedh commented on #4467
According to google/protobuf#1332 the wheel on pypi for protobuf 3.2.0 now includes the C++ implementation and uses it by default (although maybe not yet on OS X). I was able to verify this on linux x86_64:
[code]

[2017-05-09 01:53] kemaswill commented on #9731
@wolffg @aselle

[2017-05-09 02:11] concerttttt opened #9774 "Cifar-10 link inside Tensorflow webpage report 404"
Not sure if this is the right place for an 404 error...

The link to CIFAR-10 source code on Tensorflow webpage reports 404 since yesterday afternoon (08/May/2017), kindly help to fix it.

This is the page found contains error:
[https://www.tensorflow.org/tutorials/deep_cnn](url)

This is the link found to reports 404:
[https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow_models/tutorials

[2017-05-09 02:29] nelson-liu opened #9775 "Feature Request: "training" argument for contrib.rnn.DropoutWrapper like the one in tf.layers.dropout"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.0.4
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.1.0

### Feature Request: "training" argument for contrib.rnn.DropoutWrapper for a

[2017-05-09 03:13] happyyxw511 commented on #5827
I have seen the same issue when I try to train a new model with ExponentialMovingAverage. I am using tensorflow 1.1.0.

[2017-05-09 03:38] llhe commented on #9752
Is someone working on this?

[2017-05-09 03:39] chengdianxuezi opened #9777 "tf.nn.embedding_lookup poor performance"
In my programe, I use  f.nn.embedding_lookup as follow:

embedding = tf.get_variable("embedding", [200000, 128], tf.float32, initializer=tf.        random_normal_initializer(stddev=0.1), trainable=True,partitioner=tf.fixed_size_partitioner(10))

word_embedding = tf.nn.embedding_lookup(embedding, query_tensor)
while(1):
    sess.run(word_embedding )

when I start 30 worker，each worker qps is 3000.

[2017-05-09 03:41] chengdianxuezi commented on #9777
query_tensor shape is [1000, 20]

[2017-05-09 03:45] wenjunpku commented on #8231
I also find the same problem. After update TF from 1.0.0 to 1.0.1, the memory leak still exists.
So we implement the softmax mannally use other TF operators such as tf.exp , etc. The the memory leak disappear.

[2017-05-09 03:53] suiyuan2009 commented on #9777
try [embedding_lookup_sparse_with_distributed_aggregation](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/embedding_ops.py#L566)

[2017-05-09 03:55] jasminezz opened #9778 "ImportError: No module named 'tensorflow.tools'"
### Describe the problem
Run the demo "transform_graph_test.py" in Windows, get the error
"ImportError: No module named 'tensorflow.tools'"

Did I miss some installations before running the demo?
The code "from tensorflow.tools.graph_transforms import TransformGraph" cannot work?

[2017-05-09 04:05] samjabrahams commented on #9001
@alexanderalang the initial tests look promising. Here's some sample code and respective timing outputs with a very simple CNN (no pooling, batch norm, etc) doing a single training step on dummy data/labels and batch size 32. This is from running on a 2013 macbook pro CPU, so focus on the relative times instead of the total time.

### Stochastic depth

**Training code**

[code]

**Output:**

[code

[2017-05-09 04:10] tanmayb123 commented on #8191
Installing using `pip install tensorflow==1.0` (Tensorflow 1.0) is working for me (translate tutorial).

[2017-05-09 04:11] wsnooker commented on #9777
Same problem i got. What is the inner difference implementation in `embedding_lookup_sparse ` and `embedding_lookup `  ? In my view, it is just index lookup and some combination added.

[2017-05-09 04:28] suiyuan2009 commented on #9777
`embedding_lookup_sparse` invokes `embedding_lookup `, then does some combination. The implementation is different if `sp_weights` is passed or not, which will affect parameter server's load. If `sp_weights` is passed, ps's load is higher.

[2017-05-09 04:42] liusiye opened #9779 "memory leak when implement rnn attention decoder"
### System information

== cat /etc/issue ===============================================
Linux quad 4.4.0-72-generic #93-Ubuntu SMP Fri Mar 31 14:07:41 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.04 LTS (Xenial Xerus)"
VERSION_ID="16.04"

== are we in docker =============================================
No

== compiler =====================================================
c++ (Ubuntu 4.9.

[2017-05-09 05:08] wenjunpku commented on #8231
we have submit a new open issue here https://github.com/tensorflow/tensorflow/issues/9779

[2017-05-09 05:08] wenjunpku commented on #9779
by the way , if we implement softmax like this, the problem doesn't exists.
# original softmax in TF
    attention = tf.nn.softmax(tf.reshape(attention, [T, B]), dim=0)

# mannul softmax
    attention = tf.matmul(tf.reshape(r_attention, [-1, H1]), w_attention)
    attention = tf.reshape(attention, [T, B])
    attention_exp = tf.exp(attention)  # [T ,B]
    attention_sum = tf.reduce_sum(tf.exp(atte

[2017-05-09 05:21] azainab commented on #6356
Error I got...

ERROR: /Users/zuni/Documents/androidstudy/Juanjors_AndroidMeneame/tensorflow/contrib/android/BUILD:29:1: C++ compilation of rule '//tensorflow/contrib/android:android_tensorflow_inference_jni' failed: Process exited with status 1 [sandboxed].
tensorflow/contrib/android/asset_manager_filesystem.cc:97:26: error: use of undeclared identifier 'AAsset_seek64'; did you mean 'AAsset_seek'

[2017-05-09 05:27] StefanoD commented on #9754
Maybe you could try the latest version 1.1.0?

[2017-05-09 06:09] chengdianxuezi commented on #9777
@suiyuan2009  I guess the combination of embedding_lookup_sparse is done in the ps, so the result of embedding_lookup_sparse  is very small ,the shape about [1000,128], but the result of embedding_lookup is a dense tensor,and the shape is [1000,20,128].  the bottleneck is ps network

[2017-05-09 06:21] physicso commented on #7664
One more question here. I saved a RNN model in TF 0.12, how can I restore it in TF1.0?

[2017-05-09 06:27] fesun opened #9781 "Changing default type from tf.int32 to tf.int64"
I am trying to allocate very large variables inside single-box, but the default out_type of some operators are tf.int32, it's too small as most modern data center machines have more than 100G memory.

Here is the operators I found:
`tf.shape(input, name=None, out_type=tf.int32)`
`tf.size(input, name=None, out_type=tf.int32)`
`tf.shape_n(input, out_type=None, name=None), out_type defaults to tf.int

[2017-05-09 06:28] suiyuan2009 commented on #9777
@chengdianxuezi , the official api does combination on the machine running `embedding_lookup_sparse` op. There is a modified api [embedding_lookup_sparse_with_distributed_aggregation](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/embedding_ops.py#L566) which does combination on ps side.

[2017-05-09 06:40] PratsBhatt commented on #8191
I have version 1.1.0-rc2.

[2017-05-09 06:47] chengdianxuezi commented on #9777
@suiyuan2009 I use tf.nn.embedding_lookup_sparse and tf.nn.embedding_lookup in the same way,why the  speed gap is great。the speed of tf.nn.embedding_lookup should be fast then tf.nn.embedding_lookup_sparse

[2017-05-09 07:00] ehsanasgari commented on #9764
Thank you for your response. But I am using tf 1.1.0 and still get this error.

[2017-05-09 07:01] zcc973784075 commented on #9480
Mark! The same question, and i run tensorboard on the cloud and it has to show on my desktop because of the lack of GUI of Cloud!

[2017-05-09 07:02] suiyuan2009 commented on #9777
@chengdianxuezi , if `sp_weights` is not passed, duplicates in `sp_ids` will be removed before invoking `embedding_lookup`.

[2017-05-09 07:04] PhilJd commented on #4589
I'm also very interested in this, as I'm currently developing a net optimized for inference speed. Would you accept pull requests for this? I guess it's mainly about what is described in this [ToDo](https://github.com/tensorflow/tensorflow/blob/904edee4456a61d50d5b1ffe9858a7772acc423e/tensorflow/stream_executor/cuda/cuda_dnn.cc#L1805) - find out which devices and CUDA versions support native float

[2017-05-09 07:09] leandro-gracia-gil commented on #8310
After looking into further detail I've crafted the list of the source files that might need to be built and linked with MSVC in order to use static libraries generated with tfcompile. Unless I'm missing something this list should be exhaustive at the moment of writing this.

Required by generated headers:
- compiler/aot/runtime.cc  (For tfcompile::runtime::MallocContiguousBuffers and FreeContiguou

[2017-05-09 07:46] FrostedPenguin commented on #6698
I have exactly same issue.
But I can run my codes with root access(with sudo).
Currently I'm working on Ubuntu 16.04 with GTX 960.
My CUDA version is 8.0 and I'm using tensorflow 1.01

[2017-05-09 07:46] giuliohome commented on #6982
I'm having this issue if I run the sample convolutional_network.py from from a newly launched environment of https://codeenv.com/env/codeenv/14/tensor-flow/

[2017-05-09 07:46] roi-f commented on #9654
+1 to this request, facing the same problem and was advised to open a feature request.

[2017-05-09 07:56] giuliohome commented on #6982
screenshot [here](https://snag.gy/q7WQCn.jpg)

[2017-05-09 08:02] andrewharp commented on #6356
Can you give more details? What ndk are you using? What command are you using to build?

[2017-05-09 08:11] azainab commented on #6356
I posted the command in my previous posts..

Here it is:

bazel build -c opt //tensorflow/contrib/android:libtensorflow_inference.so
--crosstool_top=//external:android/crosstool
--host_crosstool_top=@bazel_tools//tools/cpp:toolchain
--cpu=armeabi-v7a

ndk version - r14b.. As suggested I changed it to r12b and running it... It takes a really long time to run...

[2017-05-09 08:27] 176coding commented on #9484
@gwind55 this solution works, thx

[2017-05-09 08:36] philokey opened #9783 "About slim.datasets"
Hello,
I am using tensorflow r1.1.
I try to following the example [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/slim/python/slim/data/dataset_data_provider.py)

[code]
But I get the following error

[code]
Is it a bug? or how can I solve this problem?

[2017-05-09 08:37] wsnooker commented on #9777
@suiyuan2009
I tested the function  `tf.contrib.layers.safe_embedding_lookup_sparse`, which is much more slower than `tf.nn.embedding_lookup_sparse`.  I am not sure whether the time wasted in padding additional values.

[2017-05-09 08:43] suiyuan2009 commented on #9777
@wsnooker , try `embedding_lookup_sparse_with_distributed_aggregation`, also I have not tested this api...

[2017-05-09 08:43] giuliohome commented on #6982
ops... there is already a mnist folder pre-installed :-) I'll try with that one! sorry, ignore my above messages

[2017-05-09 08:44] AihamTaleb commented on #6084
@petewarden Thanks! I could manage to make it work.

[2017-05-09 08:49] wwilly commented on #9750
Thanks @drpngx for your interest.

I have the same kind of error.

[code]
and so on.
What should I do?
Is it possible to download manually or something else?

[2017-05-09 08:50] chengdianxuezi commented on #9777
@suiyuan2009 Thank you very much,  use the new api tf.contrib.layers.embedding_lookup_unique, the performance improved, best wish to you

[2017-05-09 08:55] Randl commented on #4589
You need 5.3+ computability to use FP16

[2017-05-09 09:02] suiyuan2009 commented on #9777
@chengdianxuezi , can you help to test the performance of `embedding_lookup_sparse_with_distributed_aggregation`, I write the api but I don't know its performance...

[2017-05-09 09:26] DogNick commented on #9752
Is it solved, I meet the same issue

[2017-05-09 09:28] mejdidallel commented on #9761
Yeah it's working now ! Thanks

[2017-05-09 09:39] n1kt0 commented on #9634
I had also to change these lines in this file https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/cuda_configure.bzl#L858:

[code]
to these:

[code]

[2017-05-09 09:40] n1kt0 commented on #7660
i think when you keep the default "-march=native"-flag it will detect all your available hardware instructions.

[2017-05-09 09:53] santle opened #9786 "Not a JPEG issue"
Looking for images in 'non-human'
Looking for images in 'human'
Creating bottleneck at /tmp/bottleneck/non-human/Data__negatives_jpeg_cr_night_512x384_cr_night_512x384_rCR_m26_a10_d2005-04-07_t22-38_wN.jpg.txt
2017-05-09 01:56:48.890091: W tensorflow/core/framework/op_def_util.cc:332] Op BatchNormWithGlobalNormalization is deprecated. It will cease to work in GraphDef version 9. Use tf.nn.batch_no

[2017-05-09 10:06] mangalbhaskar commented on #7680
I'm new to TF and I'd the same issue following the getting started  tf.contrib.learn tutorial. I'm using TF 1.0.0-rc2 with gpu support. On various forums people have pointed out to limit the GPU fraction memory, it worked; though it also worked only by starting a session without any GPU settings.
[code]
This solves the issue and does not have to specifically provide the GPU memory fraction. I have

[2017-05-09 10:07] llhe commented on #9752
@DogNick I made a local fix. I can provide a PR.

[2017-05-09 10:09] codeloverr commented on #7660
@n1kt0 I left this default, cause no issue but when I am working it gives me a warning. When I tried to configure it ran into issues.

[2017-05-09 10:25] jubjamie commented on #9411
Closing this but there seems to be similar issues cropping up with the 1.1 branch on the website for example: #9774

[2017-05-09 10:25] #9411 closed

[2017-05-09 10:28] DogNick commented on #9752
@llhe Nice!

[2017-05-09 10:30] Yaredoh commented on #6698
Windows 10 / Tensorflow 1.01
I was using it perfectly but now accidentally the same error happen to me

name: GeForce GTX 1070
major: 6 minor: 1 memoryClockRate (GHz) 1.7715
pciBusID 0000:03:00.0
Total memory: 8.00GiB
Free memory: 6.68GiB
2017-05-08 21:12:16.103654: I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\core\common_runtime\gpu\gpu_device.cc:908] DMA: 0
2017-05

[2017-05-09 10:38] yuxiaoguo commented on #1419
I tried to follow the [Custom Data Readers](https://www.tensorflow.org/extend/new_data_formats) to build my own data reader. However, after adding the code, the compiler reports

ERROR: /home/ig/Workspace/tensor-graphics/tensorflow-graphics/tensorflow/core/BUILD:1341:1: undeclared inclusion(s) in rule '//tensorflow/core:framework_internal': this rule is missing dependency declarations for the foll

[2017-05-09 10:48] arinbjornk commented on #9754
Just updated to 1.1 and unfortunately the sluggish performance persists.

[2017-05-09 11:15] MtDersvan commented on #9620
Happened to me when I was building latest tensorflow/serving.

[2017-05-09 11:23] GPrathap opened #9788 "tensorflow for Nvidia TX1"
### System information
- OS Platform and Distribution: Linux Ubuntu 16.4
- Bazel version (if compiling from source): 0.4.4
- CUDA/cuDNN version: cuda-8.0

### Describe the problem

I want to install tensorflow 1.0.0 in Nvidia TX1. I am following [this](http://www.yuthon.com/2017/03/10/TensorFlow-r1-0-on-TX1/) so as to install version 1.0.0. But while installing bazel-0.4.4... I am getting this err

[2017-05-09 11:45] sudhirshahu51 commented on #9680
@Xiangyi1996  I got this from Bing Images search, if you want I can mail it to you :)

[2017-05-09 11:48] JeremyCCHsu commented on #9748
My Tensorflow version is **1.1.0-rc2** (GPU, Python 3.5) on Ubuntu 16.04.

Some information from `platform.uname()`:
system='Linux',
release='4.4.0-72-generic',
version='#93-Ubuntu SMP Fri Mar 31 14:07:41 UTC 2017',
machine='x86_64',
processor='x86_64'

[code]
Segmentation fault (core dumped)

The same problem happened when I tried to call the related classes such as `help(tf.train.Feature)`.
Alth

[2017-05-09 11:53] sudhirshahu51 opened #9789 "Tensorflow Support Problem"
In my support tags there "py27     winamd64" but I have installed python 3.5.2 in Windows 10, now please tell me what should I do to upgrade my support tags to py35 or py36.

[2017-05-09 12:01] StefanoD opened #9790 "ResourceExhaustedError"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.2
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**: 0.4.5
- **CUDA/cuDNN version**: 8/6
- **GPU model and memory**: NVIDIA GTX 1080 TI, 11 GB
- **Exact command to reproduce**:

[code]

You can

[2017-05-09 12:11] suiyuan2009 commented on #9767
I'm sorry, I download the wrong version of MKL, the right version is in the configure file. I solved the problem by following the [guide](https://github.com/01org/mkl-dnn).

[2017-05-09 12:11] #9767 closed

[2017-05-09 12:21] wodesuck commented on #7162
@reuben @petewarden I fixed it by adding control input to the constant node #9792

[2017-05-09 12:34] passerbydj opened #9793 "is model ready when Fine-tuning in distributed case"
When we finetune a model on a different task, only a part of vars in the model are restored from the pretrained task and others are left as initial values.
As many docs recommends([page1](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/slim) [page2](https://github.com/tensorflow/models/blob/master/inception/inception/inception_train.py)), when training with a local graph, w

[2017-05-09 12:40] freesouls opened #9794 "how to get image shape after decode in C++"
### System information
- **OS Platform and Distribution**: Debian
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.0.1
- **Bazel version (if compiling from source)**: 0.4.5
- **CUDA/cuDNN version**: cuda-8.0, cudnn5.1.5
- **GPU model and memory**: 12GB

I follow the tutorial of [inception label_image](https://www.tensorflow.org/tutorials/im

[2017-05-09 12:42] passerbydj commented on #9793
codes in "prepare_session" of "SessionManager". After " sess.run(init_op)", the "wait_for_session" nodes will get true for "_model_ready", but init_fn have not finished.
[code]

[2017-05-09 13:04] roi-f opened #9795 "Custom configuration of tf.estimator.Estimator - unfavorable change on tf1.1"
This is a feature request, following a change in behavior from TF1.0 to TF1.1.

------------------------

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian GNU/Linux 8 (jessie) 64-bit
- **TensorFlow installed from (source or binary)**: installed using pip
- **TensorFlow ve

[2017-05-09 13:07] jubjamie commented on #9789
How did you install Tensorflow on Windows 10? Did you install via pip?

[2017-05-09 13:25] Adamage commented on #9680
I am having the same error. Is there a list of all requirements of tensorboard?

[2017-05-09 13:36] fvisin commented on #9634
I confirm that the issue is solved for me with the modifications suggested in https://github.com/tensorflow/tensorflow/issues/9634#issue-226035782 and https://github.com/tensorflow/tensorflow/issues/9634#issuecomment-299503115, namely:

1. In `/tensorflow/blob/master/third_party/gpus/cuda_configure.bzl#L877`
    change:
[code]
    to
[code]
2. In `tensorflow/stream_executor/cuda/cuda_dnn.cc`
    c

[2017-05-09 13:47] Prinsphield opened #9796 "doing inference using batch normalization with only one example"
I build my model using batch normalization with `tf.layers.batch_normalization` . But when i am doing inference using saved model, I have to set the parameter `training=True`  in `tf.layers.batch_normalization` to make it work. Does it should be `training=False`?  Moreover, I have to feed a batch of test examples to make it work. It fails when fed with only one example.
So what is the right way to

[2017-05-09 13:55] sirfz commented on #9742
I ran the command in both environments (compiled and pip version - Docker containers) and the output is "cpp"

[2017-05-09 13:58] admcrae opened #9797 "Bijector caching breaks when used with TransformedDistribution"
Currently, the caching that [Bijector](https://github.com/tensorflow/tensorflow/blob/7fa0cf39f854d5fdaaa19ad6425dfed02f5fea64/tensorflow/python/ops/distributions/bijector_impl.py#L114) objects do to avoid unnecessary calculations does not work when the bijector is used in a [TransformedDistribution](https://github.com/tensorflow/tensorflow/blob/7fa0cf39f854d5fdaaa19ad6425dfed02f5fea64/tensorflow/p

[2017-05-09 14:31] girving commented on #9717
Yes, this requires a similar `InTopKV2` op to the `TopKV2` op I added.

@soloice Would be up for submitting a PR?

[2017-05-09 14:43] soloice commented on #9717
@girving Okay, I'll have a try.

[2017-05-09 14:50] #9796 closed

[2017-05-09 14:56] girving commented on #9717
Thanks!  Let me know if you have questions.

[2017-05-09 14:58] girving commented on #9480
@dandelionmane Any ideas?

[2017-05-09 15:03] girving commented on #9446
Apologies: was on vacation and should have transferred to someone else.  Back now.

From your code I'd be quite surprised if the leak is in TensorFlow.  Sessions don't hold onto any tensors between runs at all unless you're doing partial run.  What happens if you skip the `session.run` calls for the iterations that don't run out of memory, and just do it once on the iteration that should crash?

[2017-05-09 15:05] girving commented on #9708
Looking now.  The code looks fine so far, which is confusing.

[2017-05-09 15:08] girving commented on #9708
Ah, the problem is that `Assert` truncates it's arguments at 3 entries by default.  The shapes are actually bigger, and presumably `shape < size` someone in the invisible bit.  I'll fix the error message.

[2017-05-09 15:12] girving commented on #9708
@saurabh203 Can you confirm that your tensors have rank > 3?

[2017-05-09 15:21] martinwicke commented on #9654
This is a good feature request. Anybody who wants to send a PR, please do. We won't get to this for a few weeks at least.

[2017-05-09 15:24] girving commented on #9745
This seems a bit baroque for inclusion in TensorFlow.  Implementing the other metrics seems pretty easy, but I don't see the motivation for the whole list in core.

[2017-05-09 15:24] #9745 closed

[2017-05-09 15:26] girving commented on #9797
@ebrevdo Can you comment?

[2017-05-09 15:27] girving commented on #9795
@martinwicke Can you comment?

[2017-05-09 15:44] martinwicke commented on #9795
Yes. It's a temporary lockdown. An already existing change will fix this by providing a .replace() method to allow mutations.

@xiejw FYI

[2017-05-09 15:45] girving commented on #9793
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-09 15:45] #9793 closed

[2017-05-09 15:46] girving commented on #9789
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-09 15:46] #9789 closed

[2017-05-09 15:48] xiejw commented on #9795
It is fixed at head. You can do

new_config = run_config.replace(
  save_checkpoints_steps=20,
  save_checkpoints_secs=None,
  save_summary_steps=40)

[2017-05-09 15:48] azainab commented on #6356
I ran using ndk r12b I got the error below:

ERROR: /Users/zuni/Documents/androidstudy/Juanjors_AndroidMeneame/tensorflow/contrib/android/BUILD:29:1: C++ compilation of rule '//tensorflow/contrib/android:android_tensorflow_inference_jni' failed: Process exited with status 1 [sandboxed].
tensorflow/contrib/android/asset_manager_filesystem.cc: In member function 'virtual tensorflow::Status tensorflo

[2017-05-09 15:50] girving commented on #9783
@sguada The commit history says this was added last June.  Should it work?

[2017-05-09 15:51] girving commented on #9781
Unfortunately we can't change the defaults for backwards compatibility reasons.  Can you set `out_type`?

[2017-05-09 15:52] martinwicke commented on #9795
(note it may take a day or two to hit github)

[2017-05-09 15:57] martinwicke commented on #9795
ah, never mind -- but that only works if you use `tf.contrib.learn.RunConfig` (which you can use for `tf.estimator.Estimator`). I'll reopen this until it is fixed in `tf.estimators.RunConfig`.

[2017-05-09 15:57] girving commented on #9775
@ebrevdo This seems like a reasonable request.  Can you comment on the best way to add it?

[2017-05-09 16:02] girving commented on #9779
@ebrevdo Can you take a look?  This seems like a reasonably minimized memory leak bug.

[2017-05-09 16:05] girving commented on #9763
Duplicate of https://github.com/tensorflow/tensorflow/issues/9476.

[2017-05-09 16:05] #9763 closed

[2017-05-09 16:09] girving commented on #9731
What kind of extra language would you want?

[2017-05-09 16:12] girving commented on #9753
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-09 16:12] #9753 closed

[2017-05-09 16:12] girving commented on #9755
@jart Do you know what to do here?

[2017-05-09 16:13] girving commented on #9747
`tf.local_varliabe_initializer()` might not be the right spelling.

[2017-05-09 16:15] girving commented on #9747
@josh11b Looks like metagraph import isn't creating Variable objects.  Any ideas why?

[2017-05-09 16:19] girving commented on #9721
This is a good feature request, but unfortunately it's blocked by the fact that gather is also missing an axis parameter.

[2017-05-09 16:24] girving commented on #6120
@petewarden Is it still worth having a chat about this?

[2017-05-09 16:32] petewarden commented on #6120
@girving thanks, let's see if we can have a quick chat today!

[2017-05-09 16:33] lissyx commented on #7162
Looks like this fixes the problem on our network as well. I just tested applying the documented transforms for "8 bits calculations", and the resulting file does indeed work.

More precisely, `add_default_attributes strip_unused_nodes(type=float, shape="1,299,299,3") remove_nodes(op=Identity, op=CheckNumerics) fold_old_batch_norms quantize_weights quantize_nodes strip_unused_nodes sort_by_executio

[2017-05-09 16:38] ruiann opened #9798 "What will dynamic_rnn reuse when set reuse of variable_scope as true"
I'm sorry but I havn't found a clear answer in StackOverflow

I wonder what will dynamic_rnn reuse when set reuse of variable_scope as true, only the gate parameters will be share or including the output & status?

The example is that my code wanna process two sequence with different length by one bidirectional LSTM network, and then compare them for further use. Will I set reuse as True when proc

[2017-05-09 16:40] hawkinsp commented on #9579
I think this is working as intended. By default, only the GPU JIT will be enabled by the --xla flag to that script. We do not enable the CPU JIT by default at the moment because it does not support inter-operator parallelism. And you do not have a GPU installed or are not compiling with CUDA.

If you wish to enable XLA on the CPU, you will need to modify the mnist_softmax_xla.py script to use a `w

[2017-05-09 16:45] JamesKostas commented on #9590
I tried again, running it like you directed.  I still do not see anything about \_\_LOG_MEMORY\_\_ in there.  If it's still not correct, the code is the same as above (every 1000 training steps I run the following)

[code]

and the command I ran was

[code]

Sorry if I'm not doing it correctly; I appreciate your help!

[Output.txt](https://github.com/tensorflow/tensorflow/files/987324/Output.txt)

[2017-05-09 16:47] yaroslavvb commented on #9781
It's not clear this new default would be a net benefit. People seem to care a lot about training models on GPU fast. This change would double default shape transfer costs, so benchmarking would be needed to make this doesn't introduce a bottleneck that makes some model unexpectedly slow.

Fortunately in Python, there's a general technique you can use to create your own set of custom defaults, call

[2017-05-09 16:49] drpngx commented on #9590
Sorry, try setting the min `VLOG` level (`TF_CPP_MIN_VLOG_LEVEL`). There should be a lot of spew.

[2017-05-09 16:50] drpngx commented on #9654
Can we use a lambda as a workaround in the meantime?

[2017-05-09 16:51] drpngx commented on #9654
@JulesKzl could you post the stackoverflow link? Thanks.

[2017-05-09 16:52] hawkinsp commented on #9634
I'm also experiencing this on my work computer: I have CUDA and libcudnn5 installed from the Ubuntu .deb packages provided by NVidia. It seems like this is a configuration that really ought to work?

PR #9751 did make things build for me again, but it doesn't seem like the right general fix.

[2017-05-09 16:52] yaroslavvb commented on #9590
Note that setting `TF_CPP_MIN_VLOG_LEVEL` if `TF_CPP_MIN_LOG_LEVEL` is set will have no effect. So you have to unset `TF_CPP_MIN_LOG_LEVEL` first.

I wrote [memory_util](https://github.com/yaroslavvb/memory_util) to parse this log output. Save log to `stderr.txt`, and then do something like this to get a human readable timeline

`memory_util.print_memory_timeline(open('stderr.txt').read(), ignore_

[2017-05-09 16:55] drpngx commented on #9748
@charlesnicholson could it be related to decorators?

[2017-05-09 17:05] charlesnicholson commented on #9748
Sounds like a reasonable starting point, I'll take a look.

[2017-05-09 17:05] martinwicke commented on #9654
Yes, the lambda workaround should work fine.

[2017-05-09 17:06] drpngx commented on #9764
Are you running from `HEAD`?

[2017-05-09 17:08] girving commented on #6120
Proposal: we add a `string tf_version` to [`VersionDef`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/versions.proto#L22), and use it to hint when op kernels are missing.

@josh11b Thoughts or objections?

[2017-05-09 17:08] petewarden commented on #6120
I chatted with @girving offline, and we came to the conclusion that it would be useful to have an advisory producer source code version (for example 1.2) stored in the graphdef. This would only be used for creating better error messages in the case that there's an unrecognized op found, or one of the other similar errors.

[2017-05-09 17:14] girving commented on #9786
I'm guessing the problem that is your image is...drumroll...not a jpeg.

It's probably a png.  I recommend using `tf.image.decode_image` if you have a dataset that mixes png and jpeg.  I will fix the error message to explicitly say this.

[2017-05-09 17:18] WorksWellWithOthers commented on #8584
Hello. I just finished watching a webinar by Intel called, "TensorFlow* on Modern Intel® Architectures Webinar". It was unclear if TensorFlow now has support for Xeon phi cards. The webinar made me assume yes but now I'm under the impression that only Knights Landing is supported (which is not available?) and the Knights Corner is not supported. I am just trying to get a clear direction on how to

[2017-05-09 17:19] JulesKzl commented on #9654
As I wrote and now edited to cite the [Stackoverflow](http://stackoverflow.com/questions/43755609/tensorflow-estimator-model-fn-has-following-not-expected-args-self) topic : `Solution for now (as it was suggested on StackOverflow) is to use a lambda function to wrap my function my_model_fn (see below) but it will be nicer without it.`

[2017-05-09 17:21] girving commented on #9786
@petewarden Any objections to me changing the example to `tf.image.decode_image`?  Too many people have png-jpegs.

[2017-05-09 17:31] jamesdanged commented on #394
sudo apt-get install nvidia-modprobe works for me, with a restart.

[2017-05-09 17:32] charlesnicholson commented on #9748
@drpngx It doesn't seem like a tf_decorator issue.

Compare
https://github.com/tensorflow/tensorflow/tree/v1.1.0-rc2/tensorflow/python/util
and
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python/util

See that tf_decorator exists in 'master' but not in 1.1.0-rc2. I don't think the decorator work had landed when 1.1.0-rc2 was cut.

[2017-05-09 17:35] rdaems commented on #9435
For anyone else who didn't install tensorflow from sources and just wants to run the image_retraining example: you can just run the python code (retrain.py). You don't have to re-install from sources.

[2017-05-09 17:47] sonalgupta commented on #7751
Is there any plan for supporting CRF or CRF-like code, if the one in contrib is currently unsupported?

[2017-05-09 17:54] petewarden commented on #9786
@girving No, this seems like a good change to me, thanks!

[2017-05-09 17:56] andrewharp commented on #9664
@hicham-eyeem As this is an issue involving a custom op we don't really have the bandwidth to investigate right now, but if you want to propose a general solution in a PR we'd be happy to take a look.

[2017-05-09 18:17] shamoya commented on #9752
Thanks @llhe
+1 on one configuration with RDMA check (we usually check the master with VERBS support but not every day).

[2017-05-09 18:19] leslyarun commented on #9680
I'm also getting the same error.
tensorflow-1.1.0-cp35-cp35m-win_amd64.whl is not a supported wheel on this platform.

Even for version 1.0.1 , same error is coming

[2017-05-09 18:24] MtDersvan commented on #8511
There is a related thread https://github.com/tensorflow/serving/issues/228#issuecomment-300146926 where I provided a solution.
I think I figured it out, I'm not sure how orthodox my solution is, but at least it works for me.

A lot of people try to use canned estimators right now (especially wide and deep one), but because there is no documentation majority is confused.

I'd be willing to contribu

[2017-05-09 18:29] jlazarow opened #9799 "TensorBoard "gulp" assigns to const"
The TensorBoard build is all kinds of broken, but the latest introduction to the tree includes an assignment to a const within the gulpfile.

In particular:

tensorflow/tensorboard/gulp_tasks/compiler.js:51 reassigns to the variable "entries" which is marked with const.

The same occurs on the next line for the variable "deps".

### System information
- **OS Platform and Distribution (e.g., Linux

[2017-05-09 18:34] yaroslavvb commented on #8584
I heard from Intel in January that they had their own fork of TensorFlow which was modified to support Xeon Phi and they were working on integrating it into the main repo, maybe someone familiar with the partnernship knows the status

[2017-05-09 18:37] jlazarow opened #9800 "TensorBoard relies on a version of "tsify" which includes an incompatible TypeScript version"
The version of "tsify" in the package.json is:

"tsify": "^0.14.8"

but this package includes a 1.x version of typescript. Therefore, compiling certain constructs e.g. "number | null" fails.

This can be (seemingly) resolved by changing the version of tsify to a more recent version not relying on its own TypeScript package.

### System information
- **OS Platform and Distribution (e.g., Linux Ubun

[2017-05-09 18:45] martinwicke commented on #8511
@MtDersvan: pending review by @dr4b @wolffg we'll be very excited to have the your tutorial and publish it on tensorflow.org.

[2017-05-09 18:59] drpngx commented on #9748
@JeremyCCHsu is it just `help(tf.train.*)` or anything else? Can you call `tf.train.*`, say `get_global_step` for instance? Does `help(tf.*)` fail for anything else?

[2017-05-09 19:15] JamesKostas commented on #9590
No luck getting any other kinds of output.  What am I looking for?  Will it print out in the console or is it going to be stored in my run_metadata = tf.RunMetadata() variable?

I've tried:
- unsetting the env variables
- os.environ['TF_CPP_MIN_VLOG_LEVEL'] = "1"
- os.environ['TF_CPP_MIN_LOG_LEVEL'] = "1"
- restarting the computer
- Exporting both versions of the above. (Doing it in the terminal i

[2017-05-09 19:25] yaroslavvb commented on #9590
I just did this on my mac, using Mac CPU nightly from last week:

[code]
and I saw a bunch of messages like this

[code]

[2017-05-09 19:37] SrivastavaKshitij commented on #9680
@leslyarun @sudhirshahu51 : I dont work on windows. So I can't be of real help now. I hope someone who works on windows can help you out !

[2017-05-09 19:46] JamesKostas commented on #9590
[code]
results only in

[code]

Do I need to update my version or am I doing something else wrong? I'm using tf version 0.12.0-rc0, np version 1.12.0b1, Python version 2.7.6.  Thanks!

[2017-05-09 19:48] XapaJIaMnu commented on #9149
Any updates on this?

[2017-05-09 19:52] yaroslavvb commented on #9590
Correct, your TF version is too old

[2017-05-09 20:02] XapaJIaMnu commented on #2153
Any updates on this?

[2017-05-09 20:31] TheRed002 opened #9801 "ValueError: Cannot feed value of shape (1, 40, 3) for Tensor u'cls1_fc_pose_xyz_target:0', which has shape '(?, ?)"
I have installed keras using conda with tensorflow backend. I am experimenting with the keras version of posenet architecture. I have introduced a few LSTM layers into the original architecture and now my input should be of 5 dim(n_batch,n_frame,row,col,channel) and my model compiles correctly but when I call the fit function, it throws following **error:**

    Train on 129 samples, validate on 1

[2017-05-09 20:39] girving commented on #2153
According to @reverendbedford TensorFlow is actually getting optimized, so it seems like a CentOS toolchain but that I don't think we have control over (and CentOS is not an officially supported TensorFlow platform).

[2017-05-09 21:06] XapaJIaMnu commented on #2153
@girving , I'm actually running Arch and I see the same problem, even when I build it myself.
Here's my build process:
[code]
Could you tell me what flag am I missing?
Cheers,

Nick

[2017-05-09 21:16] chrisranderson commented on #7755
I built from source, and I've also tried 0.12 again. Still very slow. @neil454 thanks for the reply, I'd like to give that a shot.

[2017-05-09 21:50] girving commented on #9356
I think the right way to fix this is to make the image resizing machinery not need static shape.  I'll take a look at how difficult that is.

[2017-05-09 21:58] cwhipkey commented on #9356
Having decode_image sometimes return 4-d and sometimes return 3-d does not seem useful though - should it always just return frame 0 of a gif?  (this was a change in behavior of decode_image when animated gif support was added)

[2017-05-09 22:16] kemaswill commented on #9731
Just English, but to show more details of these optimization algorithms, such as how are the parameters updated, how do these methods adapt their learning rates.

[2017-05-09 22:37] girving commented on #9356
@cwhipkey It was a backwards incompatible change?

[2017-05-09 22:38] girving commented on #2153
@XapaJIaMnu Can you add `-s` and see if it actually is getting optimized?

[2017-05-09 22:39] girving commented on #9731
@wolffg I'll let you decide how much we want to do here.

[2017-05-09 22:40] concretevitamin commented on #9799
@dandelionmane can you take a look or reassign?

[2017-05-09 22:40] concretevitamin commented on #9800
@dandelionmane can you take a look or reassign?

[2017-05-09 22:40] girving commented on #9801
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-09 22:40] #9801 closed

[2017-05-09 22:50] cwhipkey commented on #9356
No, I don't think so.  DecodeGif always returned 4D tensor.  decode_image in python was added after that, and always returned a 4D for GIF and 3D for png or jpg.  So nm on what I wrote earlier about having it always return frame 0.

[2017-05-09 22:53] chrisranderson commented on #7755
@neil454 I think that did the trick, thank you!

[2017-05-09 22:55] concretevitamin commented on #9754
@arinbjornk what's the shape of the variable?

Also, maybe give this a try to see if it boosts performance:
[code]

[2017-05-09 22:57] jiangxu87 commented on #9509
I have similar problem after compiling tf-1.1.0 with XLA support.

[2017-05-09 22:58] drpngx commented on #9356
CC: @girving

[2017-05-09 23:03] concretevitamin commented on #9720
@yuanbyu @hawkinsp could you take a look at the first question?  If the answer is no, we could reassign to someone to take a look at `optiomize_for_inference.py` or related tools.

[2017-05-09 23:09] TugbaAtici commented on #9480
I have the exact same problem! Does anyone has a solution?

[2017-05-09 23:14] concretevitamin commented on #9744
Short answer to the seed request: it is unlikely this will be accepted, since TensorFlow's universal convention has been to use "initializers" instead of a simple seed.  For example, see [init_ops.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/init_ops.py).

That said, we should perhaps document the default inits used in `dense()` docstring.  @fchollet - mind taking

[2017-05-09 23:14] yuanbyu commented on #9720
while_loop will not do any memory swapping if it is inference only. In training, it only performs swapping on tensors that are produced in the forward but used in the backprop.

[2017-05-09 23:17] concretevitamin commented on #9798
Short answer is `reuse=True` only affects the `tf.Variable` objects.  @ebrevdo on the `dynamic_rnn()` part.

[2017-05-09 23:18] #9761 closed

[2017-05-09 23:20] concretevitamin commented on #9774
@wolffg - could you please take a look?

[2017-05-09 23:31] suharshs commented on #9645
@keveman Can you comment about indexedslices? Or cc someone who knows more about that?
Thanks!

[2017-05-09 23:32] xbotuk opened #9804 "OpenCL support"
When will TensorFlow be supporting OpenCL?

[2017-05-09 23:33] concretevitamin commented on #9750
@dandelionmane for the TensorBoard expertise.  @av8ramit  for the release expertise.

[2017-05-09 23:49] concretevitamin commented on #9788
@jart mind taking a look at the Bazel installation issue?

[2017-05-09 23:55] concretevitamin commented on #9664
(Triaging issues.) Since @andrewharp from the TF Mobile team is willing to take a look at PRs, I'm marking this as contributions welcome.

[2017-05-09 23:56] yaroslavvb commented on #9754
Note that executing kernel for first time can be slow (up to a minute if you have video card with capability that TF didn't get compiled for). Try running it several times

[2017-05-09 23:57] concretevitamin commented on #9754
Oh yeah, I concur with @yaroslavvb.  I'd drop the first ~3 runs, and average over the subsequent tens of runs.

[2017-05-10 00:01] concretevitamin commented on #9804
Closing this out as a duplicate of #22 , which tracks OpenCL support.

[2017-05-10 00:01] #9804 closed

[2017-05-10 00:01] JeremyCCHsu commented on #9748
To be more specific, segmentation fault only happened when I called `help(*)` with the following `tf.train.Example`-related classes:

[code]

In contrast, `help(*)` with the following worked normally.
[code]

[2017-05-10 00:02] concretevitamin commented on #9794
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-10 00:02] #9794 closed

[2017-05-10 00:05] yaroslavvb commented on #6716
Hi @yuefengz , I see from commit messages you've been doing memory work, do you know what's the status of memory tracking here?

In particular I'm wondering the best way to get timeline of memory allocation. We've needed this functionality to use memory-efficient-gradients package that we are planning to release.

I've been maintaining [memory_util](https://github.com/yaroslavvb/memory_util) which

[2017-05-10 00:21] fesun commented on #9781
I tried to change the default type to int64 and lots of errors, seems quite a lot of dtype inference/computation depends on int32. I think most super-large tensors are used for embedding_lookup, maybe it's possible to change tf.shape out_type to int64 for some operators like gather and gather gradients.

@yaroslavvb changing default function is one possible solution, thanks.

[2017-05-10 00:31] saurabh203 commented on #9708
@girving The tensors have the rank 3 only. But the issue seems like an OS related issue. The earlier run was erroneously reported as Ubuntu but was SLES 12. My apologies for the mistake. The code seems to run fine on the ubuntu machine that I tested today.  I do have to make it work on the SLES too. Is there any other reason apart from Assert truncation which might cause this issue?

[2017-05-10 01:14] wsnooker commented on #9777
@suiyuan2009 In the TF distribution, all the variables stored in ps, and the worker has to communicate with ps in the forward and backward. This is a wasteful process if big batch data presented.

[2017-05-10 01:42] wmitsuda opened #9806 "(pandas) read_csv(compression='gzip') fails while reading compressed file with tf.gfile.GFile in Python 2"
Originally I opened an issue on pandas, apparently it maybe some bug in tensorflow side and they asked to be verified here. The original issue is pandas-dev/pandas#16241

I'm pasting bellow the same steps I used to replicate the behavior in the original issue. The last comment from pandas was about: "At a glance, it looks like gfile.GFile doesn't follow python's IO interface for seek" (please see

[2017-05-10 01:47] freesouls commented on #9794
@concretevitamin I have searched stackoverflow, found no related questions, it may takes quite a long for someone to answer my question. Since you are the member of TensorFlow project, you must know tensorflow very well, can you give me some hints on getting image size in C++?

[2017-05-10 01:52] suiyuan2009 commented on #9777
@wsnooker , putting some computation on ps will reduce network traffic and improve parallelism. there is a [paper](https://arxiv.org/abs/1606.08495) at CIKM 2016, they developed a distributed word2vec training system that shares the same thought.

[2017-05-10 01:59] tfboyd commented on #9339
Working on it.  I found a comment in the code about some failing unit tests and I am following up.  On K80s this makes a big difference.  I am also sending out a note to tensorflow-discuss in the super near future and update the Performance Guide for the near-term.

[2017-05-10 02:20] passerbydj commented on #9793
I'm wondering is this a bug

[2017-05-10 02:20] WorksWellWithOthers commented on #8584
That's great news. Thank you.

[2017-05-10 02:21] tfboyd commented on #7187
I am marking this closed.  We may add CIFAR-10 to the performance script but for training ImageNet the numbers between TensorFlow and other platforms are very similar.  The benchmarks cover K80s on Amazon and Google as well as P100s via the DGX-1.

[2017-05-10 02:21] #7187 closed

[2017-05-10 02:34] yony228 commented on #9620
Is there someone fix this?
By the way,I used oracle jdk for my env.

[2017-05-10 02:40] DaliaMarzouk commented on #4834
Any one here could solve this error?

I think there is a connection between this error and "Eigen" library (https://bitbucket.org/eigen/eigen)

[2017-05-10 02:53] wsnooker commented on #9777
@suiyuan2009  What kind of computation will be put on ps in TF framework ？ As far as I know, the `embedding_lookup` op finished on ps. What about `conv` / `rnn` and some others ?  There is little material about this in TF web.

[2017-05-10 03:03] tfboyd commented on #7065
Closing this item.  Comments can still be made.  While it does not always make a difference, you can also try adding `os.environ['TF_ENABLE_WINOGRAD_NONFUSED'] = '1'`.  This seems to make a bigger difference on K80 and it is model dependent.  For Pascal I saw a 9% improvement when testing a Wide ResNet implementation.  Our [benchmark scripts](https://www.tensorflow.org/performance/performance_mode

[2017-05-10 03:03] #7065 closed

[2017-05-10 03:04] tfboyd commented on #7549
Small update.  I am still following up on this and more so now that I have a little more free time.

[2017-05-10 03:09] girving commented on #9781
@fesun We'd be happy to consider localized changes.

[2017-05-10 03:11] girving commented on #9708
@saurabh203 No idea why it would fail on SLES 12 only.  Please let us know if you figure out the cause, but I don't think we'll be able to debug it on our end without more information.

[2017-05-10 03:13] ld909 opened #9808 "multiple kernel_constraint error: keyword argument repeated"
When I did a conv2d operation like this:
`    model.add(Convolution2D(k_size_0, 3, 3, init='he_normal', border_mode='valid',
                        input_shape=(image_width, image_height, 1),
                        kernel_constraint=max_norm(3., axis=0),
                        kernel_constraint=nonneg(),
                         activity_regularizer = keras.regularizers.l1(0.0000008)))`

I put

[2017-05-10 03:20] suiyuan2009 commented on #9777
@wsnooker , I rewrited embedding_lookup mechanism and put some computation on ps.

[2017-05-10 03:30] missionary0 commented on #1769
Hello! I had tried building the `libtensorflow_inference.so` file using the following -
`bazel build -c opt //tensorflow/contrib/android:libtensorflow_inference.so --crosstool_top=//external:android/crosstool --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --cpu=armeabi-v7a`
As you can see I have changed the `--cpu` argument to `arm64-v8a` and the command above is generating the desired `li

[2017-05-10 04:14] BrianOn99 commented on #4863
It seems commit 26be523ed4ab3a573af7771aec770832d9c30f90 is intended to solve this issue.  Any one verify it?
It is merged in the both master and v1.1.0rc2, but not in  v1.1.0.

[2017-05-10 04:35] c-cccc opened #9809 "Bug of CPU detection?"
### System information
Linux 4.9.0-kali4-686-pae #1 SMP Debian 4.9.25-1kali1 (2017-05-04) i686 GNU/Linux
TensorFlow installed from source code
TensorFlow version : 1.0.1
Bazel version : 0.4.2
CUDA/cuDNN version: None
GPU model and memory: None

### Describe the problem
I compiled it from source,  and got this fatal error when try to import tensorflow in python3.5.3:

[code]

And here is the inform

[2017-05-10 04:44] andrewharp commented on #1769
Just to confirm, you're running this on an arm64-v8a device? What's the output of unzip -v tensorflow_demo.so?

[2017-05-10 04:52] pranavred commented on #9680
Anything yet? Same error here too. Struggling since a few hours.

[2017-05-10 05:12] Randl commented on #7187
@tfboyd I'm still a bit worried about this strange AlexNet-R (AlexNet on CIFAR-10) behavior. The fact that GTX 980 is faster GTX 1080 (and overall low speed) supposes some bug in either TF or implementation of network. Will appreciate if you take a look one more time.

[2017-05-10 05:21] ksharsha commented on #9790
Looks like you are running out of GPU memory, one thing which I would suggest is instead of loading all the images at once( which I see is 1945), I would try to load them in batches (maybe ~ 100) to reduce the memory foot print.

[2017-05-10 05:25] fchollet commented on #9744
The way to get deterministic weight initializations in `dense` is to pass a `kernel_initializer` argument set to an initializer (instance of a class from `init_ops`) that has a fixed `seed`.

If `kernel_initializer` is not set, we use the global default weight initializer, which is `glorot_uniform`. But I think it would be good to have it be explicitly present in the `dense` signature instead of r

[2017-05-10 05:29] missionary0 commented on #1769
Thank you for the reply @andrewharp. I don't exactly know that. I am running it on One Plus One. On this device building with `armeabi-v7a` worked just fine. I was just trying out the above to understand what it means.

 What is the meaning of this device architecture thing? Can you please send me some links where I can read about it?

[2017-05-10 05:39] StefanoD commented on #9790
Thanks for the advice. Nevertheless: It run well on a theano based framework. The GTX 1080 TI has 11 GB of memory. It should be sufficient.

[2017-05-10 05:45] #9808 closed

[2017-05-10 05:53] Careenn opened #9810 "how to install the previous tf version on windows (based python2.7)? like 0.9 or 0.1...."

[2017-05-10 06:12] ebrevdo commented on #9798
Depends on if you're using tf 1.1 or the tf nighties.  If you're using tf
1.1 then you need to reuse the variable scope from the first call to
dynamic rnn to ensure you're using the same parameters in the second call.
In the nighties, so long as you use the same cell object in the second
call, your parameters will be shared regardless of the variable scope/
reuse value.

On May 9, 2017 4:17 PM, "Z

[2017-05-10 06:24] ruiann commented on #9798
@ebrevdo
Thx for your answer. I've take a quick glimpse at the rnn_ops.py, it seems the dynamic_rnn call will auto clear the cells' state unless I wanna keep them isn't? So I can just set the reuse as True in the second call thus the code can run as I want regardless of the TF version?

[2017-05-10 07:12] kevinashaw commented on #9294
Following the discussion in #9699, I've at least found a solution to the initial_state problem.  It would probably make sense to reference it in the new tutorial/documentation.   The problem with the initial_state is not that `zero_state` produces incorrect results :
[code]
Its that the batch_size value is a constant.  For the training data, the size of the batch will *always* match the batch_size

[2017-05-10 07:22] StefanoD commented on #9790
This is the workaround:

[code]
If the moderators think, this issue should be closed, then they can close.

[2017-05-10 07:34] fesun commented on #9781
@girving I changed tf.shape default out_type to int64 inside GatherGrad, everything is fine for me now. No performance impact should happen. Please see pull request #9780

[2017-05-10 07:56] yuefengz commented on #6716
Hi @yaroslavvb , the memory tracking that I've implemented is mostly for recording the memory usages, include temp memory, output memory and persistent memory. This is useful for building a cost model but it does't account for tracking memory allocation and deallocation.

[2017-05-10 08:00] priyaarul commented on #8584
Hi,
Please check the below links,

https://itpeernetwork.intel.com/tensorflow-intel-architecture-ai/
https://devmesh.intel.com/projects/intel-optimized-tensorflow1-0

Regards,
Priya

[2017-05-10 08:01] neilchina commented on #9678
@haikuoyao ，I have the same problem, I found a lot of Nan in model.ckpt, how can I get rid of

[2017-05-10 08:20] XapaJIaMnu commented on #2153
@girving, nvm, my bad. I had wrongly installed the wrong packages. The warnings are gone if I use my locally compiled once with "-march=native -O3"

Thanks,

Nick

[2017-05-10 08:48] Queequeg92 commented on #6504
@kstant0725 Have you found a gradient implement for QR decomposition?

[2017-05-10 08:54] vilero commented on #9680
Hi, if you create a environment using anaconda, try this:
conda create -n tensorflow python=3.5
activate tensorflow
pip install --ignore-installed --upgrade https://......

[2017-05-10 08:54] #9790 closed

[2017-05-10 09:01] XuefeiW commented on #836
I got the same problem with a 230MB event file. I copied the event file to another VM with larger memory, then opened Tensorboard without any problem.

[2017-05-10 09:24] jan-apptornado commented on #8531
Thanks a lot for making this possible. Any idea when "soon" is?

[2017-05-10 09:59] twatasf7 commented on #9738
@lukeiwanski
That's great. Thank you

[2017-05-10 10:12] PhilJd commented on #4589
Started working on this ;)

[2017-05-10 10:25] albertz commented on #2788
I just noticed `_EventLoggerThread` in the backtrace, so maybe #4820 was or is related.

[2017-05-10 10:32] arinbjornk commented on #9754
@concretevitamin The input is [examples=100000, Nvars=2500], could the 'problem' be that, since the input is small and the network is simple, the GPU time (matmul, relu, etc.) is insignificant? I used your replacement code, but, alas, there was no change.

@yaroslavvb I don't see any significant difference between many repeated runs. I also have a CNN (using different data) that I tried running in

[2017-05-10 10:41] ferasOS opened #9811 "Tensorflow Session Memory Leak"
### System information
- **Have I written custom code :                                     YES
- **OS Platform and Distribution :                                   Mac OS
- **TensorFlow installed from (source or binary)**:      From Source
- **TensorFlow version (use command below)**:         tensorflow (1.1.0)
- **Bazel version (if compiling from source)**:             bazel-0.4.5
- **CUDA/cuDNN

[2017-05-10 10:44] Yevgnen commented on #8092
Similar here on ubuntu 16.04 with output

[code]

I have no idea about which file is not found according to `unexpected pipe read status: (error: 2): No such file or directory`.

[2017-05-10 10:52] antronshao001 commented on #9588
Got it. Luckily I had find some ways to bypass my problem currently. Thanks for your quick response.

[2017-05-10 11:31] EngineHH opened #9814 "failed to load the native TensorFlow runtime"
Hi!

I'm worked with Tensorflow on a CPU without. No I'm trying to run it on a device with following specs:
CPU: Intel Xeon(E5-2670)  and win7 64bit and NVIDIA GeForce GTX 980 Ti.
I've installed python3.5 and Tensorflow for GPU just as described in TF homepage.   when I run a test program here what I get when  I try to import Tensorflow :

[code]

[2017-05-10 12:31] jhaux commented on #9517
Hey everybody,

Any news on this topic?
I would be happy to supply a pull request, but I am not sure, my extensions of the code meet possible guidelines. Also I am not sure if my testing was sufficient. If you want you can have a look at [my fork of the tensorflow repository](https://github.com/jhaux/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py), where the changes can b

[2017-05-10 12:58] TugbaAtici commented on #8440
I have the exact same problem! Does anyone know how to fix this problem?

[2017-05-10 13:08] hadware commented on #9285
Yup, installed the nightly, seems to be fixed. Maybe it's that crazy html5lib-0.9999 that's fixing it?

[2017-05-10 13:25] mirosval commented on #7951
Currently I am worried that my training/prediction preprocessing will diverge over time.

I would be interested in a pipeline where:

* Preprocessing and post processing can be serialized with the inference in a single model and then used from another language (no `tf.py_func`, but able to provide implementation at runtime)
* There is a clearer distinction between input shapes, for training you us

[2017-05-10 13:48] rasbt commented on #9744
Thanks for the clarification. So the following would be the current default behavior based on the global default weight initializer?

[code]

I am happy to put together a PR to add a note to the docstrings of `Dense` and `dense`. When I understand correctly, you are suggesting to use `glorot_uniform_initializer` directly in `Dense`, i.e., via sth like

[code]

Not sure what the current TensorFlow

[2017-05-10 13:58] aparecidovieira commented on #799
Im still having the same issue. Any sugestions? I have tried the approch proposed by salomons, same results. Doenst return any tuple as a result.
((encoder_fw_outputs,
  encoder_bw_outputs),
 (encoder_fw_final_state,
  encoder_bw_final_state)) = (
    tf.nn.bidirectional_dynamic_rnn(cell_fw=encoder_cell,
                                    cell_bw=encoder_cell,

[2017-05-10 14:02] carlthome commented on #7951
@mirosval, it seems to me that this might be what `tf.Estimator` is intended for eventually.

[2017-05-10 14:05] carlthome commented on #9720
Thanks for clarifying! I hope this could be briefly mentioned in the documentation of tf.while_loop as well (e.g. that caching outputs during a forward pass is only done if tf.Session.run will be needing it for gradients and backprop) as it's not a clear behavior from a pure programming perspective in the more general case not related to machine learning.

[2017-05-10 14:05] #9720 closed

[2017-05-10 14:09] pranavred commented on #9680
@vilero  It worked. Thanks man.

[2017-05-10 14:35] girving commented on #9356
I'm going to restrict my current change to unify `decode_jpeg` and `decode_png`: both ops will handle both formats.

[2017-05-10 14:36] girving commented on #9811
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-10 14:36] #9811 closed

[2017-05-10 14:41] girving commented on #9809
@petewarden Any idea what's happening here?  Core i3 certainly has SSE, as indicated in the flags.

[2017-05-10 14:48] dloyer opened #9816 "Variable validate_shape not honored"
A Variable with validate_shape=True does not seem to be honored and throws a error.  I am using two Variables to store the contents of a SparseTensor and the assign fails because the sizes do not match on one, but not the other Variable.

Platform:  Ubuntu 14.04
Code:  Both build from source and binary release
Version: 1.1.0

2017-05-10 14:36:12.973654: W tensorflow/core/framework/op_kernel.cc:115

[2017-05-10 14:49] tfboyd commented on #7187
@Randl   I have not tested it but if they wrapped this in a with device CPU I suspect it would make a huge difference based on helping a few people recently.

images, labels = cifar10_input.inputs(False, FLAGS.data_dir, FLAGS.batch_size)

It would make a big difference in all of the tests that used CIFAR that did not place the input pipeline on the CPU.  The AlexNet numbers on the benchmarks we pu

[2017-05-10 15:10] WorksWellWithOthers commented on #8584
@priyaarul

Hi, so are you saying, "Yes, TensorFlow currently supports Knights Corner Xeon Phi cards."?

[2017-05-10 15:20] raghavgoyal14 commented on #1122
Hi,

Using the above `batch_norm` layer in `contrib.layers`, I'm getting `nan` as an output for validation graph while the train graph runs seamlessly. Is there anything that I might be missing ?

I'm using:
[code]

[2017-05-10 15:21] yaroslavvb commented on #9754
On my laptop I can generate about 200MB worth of truncated normal randoms in half a second. For your original issue of truncated normal taking 400ms, the question is -- how big is it, and how long you were expecting it to take.

Session.run overhead can be 400 usec. If your random normal taking 400ms like in the original timeline then GPU time is definitely significant

[2017-05-10 15:41] wielandbrendel commented on #5039
I'd be very much interested in this feature as well! My use case is similar: I am often iterating over a prototype network for ten or twenty iterations, tweaking hyperparameters and fixing bugs according to the learning curves. Of course I can - and will - delete the superfluous runs via command line from time to time, but it would be a very elegant feature if this could be done directly in the GU

[2017-05-10 16:21] fchollet commented on #9744
This code snippet in `__init__` would change neither the behavior of the layer nor its docstring and signature.  For the time being I would simply mention the default initializer in the docstring.

[2017-05-10 16:29] dineshgit commented on #9766
I've managed to solve this issue by uninstalling all (Tensorflow, Anaconda) and reinstalling them all.
I also included .Net Community edition and now it's working all fine.

[2017-05-10 16:29] #9766 closed

[2017-05-10 16:36] suiyuan2009 commented on #7128
@yaroslavvb , I both installed mkl_dnn 2018 and full mkl 2018, add
`#ifdef INTEL_MKL

#define EIGEN_USE_MKL_ALL

#endif // INTEL_MKL` to `tensorflow/core/kernels/qr_op_impl.h`, run `bazel build --config=opt --config=cuda --define=using_mkl=true //tensorflow/tools/pip_package:build_pip_package` to build, got
`TF QR on 4096 by 4096 matrix in 2.59 seconds

numpy QR on 4096 by 4096 matrix in 2.64 seco

[2017-05-10 16:40] andrewharp commented on #1769
arm64-v8a is a higher-performing 64-bit variant of the ARM architecture that only a subset of armeabi-v7a compatible devices support. If you add both to your apk your device will pick the highest compatible target available, but if you only add arm64-v8a and your device doesn't support it you may get error messages like the above.

You can see what .so libs are packaged in your apk with `unzip -v

[2017-05-10 16:40] arinbjornk commented on #9754
It is generating 20k (2500x8) randoms. In the MNIST example code, one of the layers has 3M weights and that runs a lot faster.

I should have included the whole timeline output in the original post. [Here it is](https://gist.github.com/arinbjornk/d83015a51d00a207d0ae20e37f280e12#file-slow_net_timeline-json-L479). The line of interest is 479. For comparison, the Mul ops are executing suspiciously q

[2017-05-10 17:05] maomaocode commented on #9149
The problem continues with v1.1.0 release.

[2017-05-10 17:07] yaroslavvb commented on #7128
Oh interesting! PS, I thought latest MKL is 2017 update 2. At least that's the version I get when I download latest official Intel for Python distribution from Intel.

You can get MKL version using this snippet

[code]

Can you also use SVD from MKL in TF? The MKL version seems to be pretty efficient and the TF version had some correctness issues -- https://github.com/tensorflow/tensorflow/issues/

[2017-05-10 17:08] benoitsteiner commented on #4589
We support native fp16 in most cases. However, we still compute convolutions and matrix multiplications using fp32 floats to avoid numerical stability issues.

In the case of the multiplications of a N by K matrix with a K by N matrix, we could use native fp16 provided that K is small. When K is large the reduced precision of fp16 introduces enough noise in the computation to cause issues such as

[2017-05-10 17:21] dendisuhubdy opened #9818 "fatal error: 'infiniband/verbs.h' file not found"
When building Tensorflow from Source

[code]

[2017-05-10 17:24] yaroslavvb commented on #9754
So if calling `truncated_normal_initializer` to generate 20k randoms takes 400ms per call, and this timing doesn't go down after a few iterations, it would be a bug. A small self-contained repro case would be useful here, something that isolates the issue to `truncated_normal_initializer` (you can call it directly with `sess.run(tf.truncated_normal((n,)))`

[2017-05-10 17:30] Ipaulsen commented on #9701
I am also seeing the same thing :(
`Starting TensorBoard 47 at http://0.0.0.0:6006
(Press CTRL+C to quit)
WARNING:tensorflow:path ../external/data/plugin/text/runs not found, sending 404
WARNING:tensorflow:path ../external/data/plugin/text/runs not found, sending 404
WARNING:tensorflow:path ../external/data/plugin/text/runs not found, sending 404
WARNING:tensorflow:path ../external/data/plugin/tex

[2017-05-10 17:35] acburigo opened #9819 "Importing tensorflow fails."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Home
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: I can't import, but the wheel file is "tensorflow_gpu-1.1.0-cp35-cp35m-win_amd64.whl (48

[2017-05-10 17:36] drpngx commented on #9818
You need verbs. Do you intend to use RDMA?

[2017-05-10 17:48] drpngx commented on #9819
Could you try the dependency walker on the tensorflow DLL to see what are the missing DLLs? I am suspecting CUDA.

[2017-05-10 17:57] juggernaut5k commented on #6698
@strickon's method worked for me. Seems like tensorflow is trying to hog way too many resources at once and can't which crashes the operation. I specifically used:

config.gpu_options.allow_growth = True

[2017-05-10 18:01] ctmakro commented on #7257
I built these for OS X, with FMA and friends.
https://github.com/ctmakro/tensorflow_custom_python_wheel_build

[2017-05-10 18:16] acburigo commented on #9819
Where should this DLL be located in a default installation?

[2017-05-10 18:41] poolio commented on #9125
I'm happy to submit a PR using my [implementation](https://github.com/poolio/tensorflow/pull/1/files) of the proposed second option. Please let me know whether that would be helpful as `graph_replace` was the only way of copying and replacing subgraphs. It would be great to have this working again, especially given that other PRs for similar features have been rejected (#5802).

[2017-05-10 19:08] Ipaulsen commented on #9701
Looks like this known issue it was fix in a later version. Got mine working by -
`pip uninstall tensorflow`
then
`pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.11.0-py2-none-any.whl`

[2017-05-10 19:12] dendisuhubdy commented on #9818
Yes, oh shit I forgot verbs in my build, thanks @drpngx !

[2017-05-10 19:12] #9818 closed

[2017-05-10 19:24] MMCMA commented on #9701
well, I am not sure if downgrading to tf.__version__ <1.0.0 is the solution here.

[2017-05-10 19:25] aelimame commented on #9814
Do you have VS2015 installed? If not, try installing it or install Microsoft Visual C++ 2015 Redistributable.
Then. try to install and configure Tensorflow as specified in the Installation guide (Requirements to run TensorFlow with GPU support): https://www.tensorflow.org/install/install_windows

Someone has a similar issue in this thread:
https://github.com/tensorflow/tensorflow/issues/6055

[2017-05-10 19:46] PhilJd commented on #4589
I played a bit with cuda fp16 ops - I'm not sure if its even useful to find such a threshold. The native fp16 op (i.e. hgemm) seems to be faster for larger square matrices only. [Here](https://github.com/hma02/cublasHgemm-P100) exists a benchmark of hgemm on a P100. As this is currently the only card where implementing these ops is useful (the  10xx cards support the fp16 ops but only with a major

[2017-05-10 19:49] drpngx commented on #9748
It looks like it's a protobuf issue. We're working on that.

It should also crash with `tf.GraphDef`.

I could not repro on my system, though. It could be because you have loaded another protobuf via `load_op_library`, or something to do with protobuf on your system.

I'm closing in favor of #9525.

[2017-05-10 20:10] lababidi commented on #1890
@HossamAmer12 Thank you for sharing your project. There's a key step I'm failing to accomplish. When I run your code (or my code) the header files are not found. How do you resolve this?

[2017-05-10 20:10] girving commented on #9525
@nkhdiscovery @drpngx Should we dedup this with #9391?

@nkhdiscovery We're planning to fix this for good using more restricted exports.  In particular, protos should not appear in the public API once we're done.  Do you mind if I close that other bug?

[2017-05-10 20:39] jart commented on #9149
Since this is only a build warning for CentOS, and multiple users are now reporting this, I'm going to reopen and mark it contributions welcome.

[2017-05-10 20:40] jart commented on #5039
We've got a few things planned over the course of this year that dovetail with this feature request, so we'll be sure to take the feedback we've received here into consideration.

[2017-05-10 20:54] benoitsteiner commented on #4589
You might also want to take a look at the upcoming [Volta architecture](https://devblogs.nvidia.com/parallelforall/inside-volta/) that will supports mixed fp16/fp32 computation and should solve the problem.

[2017-05-10 20:54] jart commented on #9788
@GPrathap There seems to be a related Bazel thread here: https://groups.google.com/forum/#!topic/bazel-discuss/dlc3RmSxGRg that says something about https://github.com/bazelbuild/bazel/commit/e59d3a00ad4861c5e64ef90860d56316377bd50e. Are you using ARM or any type of nonstandard CPU?

[2017-05-10 20:56] Randl commented on #7187
Still sounds unlikely to have lower speed on 1080 compared to 980

[2017-05-10 21:12] yaroslavvb commented on #7187
@Randl where are the AlexNet 980/1080 numbers? Note that AlexNet has become "the ugly stepchild" of model benchmarking since it has low compute to data-transfer ratio so it's hard to get high utilization on newer hardware

[2017-05-10 21:24] tfboyd commented on #7187
It is a one line change.  It just takes time to figure out how to run their test so I can verify it works as expected.

Until that is fixed, guessing why one GPU is slower than another is guessing.  Hopefully I sort it out in the next 48 hours or so.  There may be other minor issues but I am not concerned if their model is correct or everything is optimal.  Just like everyone else in the community

[2017-05-10 21:25] Randl commented on #7187
Tensorflow:
980 - 0.227
1080 - 0.317
K80 - 0.385

At the same time for Caffe:
980 - 0.041
1080 - 0.027
K80 - 0.137

[2017-05-10 21:27] ebrevdo commented on #9294
Right. tf.nn.dynamic_rnn will call zero_state for you with the right value
of you pass in just the dtype argument and not an initial state.

On May 10, 2017 12:12 AM, "Kevin Shaw" <notifications@github.com> wrote:

[2017-05-10 21:28] ebrevdo commented on #9798
That's right. Furthermore, If you want to keep state between two calls to
dynamic_rnn, you'd have to take the final state from the first call and
pass it in as the initial state in the second call. This of very rarely
done in practice.

On May 9, 2017 11:24 PM, "ruiann" <notifications@github.com> wrote:

[2017-05-10 21:46] drpngx commented on #9391
@nkhdiscovery, @girving is going to do this as part of #9525. It's not a trivial change and it's probably better if we did this on our end.

I'm going to close this in favor of #9525 so that every can keep track of progress there.

Thanks.

[2017-05-10 21:46] #9391 closed

[2017-05-10 21:47] trs225 opened #9820 "Unable to build TensorFlow Java native libraries for arm64-v8a Android devices"
### Problem

I'm trying to build TensorFlow Java and the relevant native libraries for an Android device (I'm targeting a Pixel).

### What I've tried

Following the instructions on building TensorFlow Java from source [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/README.md) and on Android TensorFlow support [here](https://github.com/tensorflow/tensorflow/blob/r1.1/te

[2017-05-10 22:16] lababidi commented on #1890
Thanks to @HossamAmer12 for providing a zip of his work, deriving from the Medium article example, I have the follow:

First, after installing `protobuf` and `eigen`:
[code]

Then Copy the following include headers and dynamic shared library to `/usr/local/lib` and `/usr/local/include`:
[code]

Lastly, compile using an example:
[code]

[2017-05-10 22:17] lababidi commented on #2412
@asimshankar Thanks for your sincere comment and thanks to @HossamAmer12 at https://github.com/tensorflow/tensorflow/issues/1890 for providing a zip of his work, deriving from the Medium article example, I have the follow:

First, after installing `protobuf` and `eigen`:
[code]

Then Copy the following include headers and dynamic shared library to `/usr/local/lib` and `/usr/local/include`:
[code]

[2017-05-10 22:21] andrewharp commented on #9820
The Java API build instructions and libtensorflow_jni are irrelevant to building for Android. You'll want to follow the ones in [examples/android/README.md](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/README.md) and [contrib/android/README.md](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/android/README.md). The target you'll want to b

[2017-05-10 22:21] #9820 closed

[2017-05-10 22:44] trs225 commented on #9820
I'd like to build a TensorFlow Graph and update its parameters, in addition to doing inference, from within an Android app. How do you suggest doing this / why is it not possible to use the Java API instead of the wrapper?

[2017-05-10 22:55] andrewharp commented on #9820
You can definitely use the Java API on Android (the TFII wrapper is just provided for convenience), but graph-building and training on mobile devices is not support by TF at this time.

[2017-05-10 23:06] tensorflowbutler commented on #9770
Testing comments.

[2017-05-10 23:10] el3ment opened #9821 "tf.constant_initializer does not accept Tensor as input"
I'd like to load multiple copies of VGG on each of 4 different GPUs.. rather than copy the weights down to each GPU every time, I'd like a local copy of the weights. Unfortunately using constant_initializer and a numpy array explodes the graph def (as all the n copies of the weights are stored).

Instead, I convert the weights to a tensor once, and want to use this tensor to initialize the variabl

[2017-05-10 23:55] yaroslavvb commented on #9821
It's pretty inefficient to large numpy arrays into Graph. A work-around is to create Variables with  `tf.placeholder` initial value and then feed numpy array during initialization. Unfortunately `get_variable` doesn't have `placeholder_initializer` either.

I get around it this by using a simplified replacement for `get_variable` mechanism that creates variables with `tf.placeholder` initial value

[2017-05-11 00:00] yaroslavvb commented on #9821
@lukaszkaiser what do you think about supporting following: `tf.get_variable(name, tf.tensor_initializer(tensor))` which accepts a `tf.Tensor` object, and creates variable as `tf.Variable(tensor, name=name)`? That will cover the placeholder use-case as well

[2017-05-11 00:05] lukaszkaiser commented on #9821
We already support just passing values to initializer in get_variable, they just get passed over to tf.Variable, so you can, e.g., do tf.get_variable("x", initializer=0.5). I'd hope it'd work with tf.Tensor already, doesn't it?

[2017-05-11 00:12] wujingyue commented on #6955
TensorCApi::MakeTensor doesn't seem visible from client code today. However, you can probably avoid copying pre-allocated buffers to tensors with a customized Alocator.
[code]

[2017-05-11 00:37] yaroslavvb commented on #9821
Good point, that does seem to work already

[code]

@el3ment does that cover your use-case? You could be even more efficient by initializing the first variable `var` on GPU from `tf.placeholder`, and the rest from `var.initial_value()`

[2017-05-11 01:18] fesun opened #9823 "Tensorflow consumes much more memory than expected"
My model has four CPU variables:
[500M, 3] tf.int32
[500M] tf.float32
[500M] tf.float32 (FTRL accumulate slot)
[500M] tf.float32 (FTRL linear slot)
expected memory consumption should be (500M * 6) * 4 = 12G, however tensorflow used 20G memory.

When I increased 500M to 1B, total memory usage is 40G, seems tensorflow do allocate much more memory than needed, any idea? By the way I am not using any

[2017-05-11 01:21] Czechh commented on #37
+1

[2017-05-11 01:28] mrry commented on #9810
We added support for Windows in version 0.12. Previous versions do not work on Windows.

[2017-05-11 01:28] #9810 closed

[2017-05-11 01:52] selous123 commented on #225
i have the same error in my jupyter notebook.first running,it works well.but after that,it just goes wrong like you.i have no idea about how to fix it. just restart jupyter.

maybe because the jupyter will store the value for us .

i have no idea.

[2017-05-11 02:26] Songweiping commented on #9635
Hi @ebrevdo @lmthang ,

I am wondering if it is desirable to support personalized activation function in attention layer. In current version, no activation is applied after concatenating context vector and target hidden value, while there is a _tanh_ in Luong's paper https://arxiv.org/abs/1508.04025.
I have tested this on some tasks, it seems that it does make some difference, but not significant.

[2017-05-11 02:43] fesun commented on #9823
I traced it using strace and found two mmap called by different two threads, so actually memory consumption is 2x than needed.

Here is the code:
[code]

Here is the strace output
[code]

Both 25768 25817 called mmap to allocate 4G memory. Why?

[2017-05-11 02:57] fesun commented on #9823
I seems that this code actually initialized two variables, one is zero const with 4G, the other is W variable, then assign zero const to W. I will check the python code to see what I can do to avoid it.

[2017-05-11 03:04] djelkind opened #9824 "possible bug - LSTMCell and GRUCell have different variable reuse behavior"
[tf_env.txt](https://github.com/tensorflow/tensorflow/files/999124/tf_env.txt)
### System information

Capture script output is attached.

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes -- see below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  OS X 10.12.4
- **TensorFlow installed from (source or binary)**: pip
- **Tenso

[2017-05-11 03:05] alquraishi commented on #6620
Any updates on this?

[2017-05-11 03:58] wiselyloh commented on #6266
Thanks
import image solved my problem too.

[2017-05-11 04:05] rasbt commented on #9744
Okay, will open a PR tomorrow.

I saw that in `Dense`'s `__init__` and the `dense` function, the bias initializer is set manually as well:

[code]

I am curious why setting `kernel_initializer=init_ops.glorot_uniform_initializer()` there wouldn't have an effect? I couldn't find anything in `Dense` and `dense` that would overwrite this setting ...

[2017-05-11 04:13] fchollet commented on #9744
We should avoid instantiating anything in a class constructor signature, because the instance becomes global to all instances of the class. There are no immediate side effects in this case but it is bad practice and potentially dangerous for the user. For the same reason `bias_initializer=init_ops.zeros_initializer()`  should be avoided, but it is there for legacy reasons.

We should instantiate t

[2017-05-11 04:21] GPrathap commented on #9788
@jart  it returns **aarch64**  when I type` uname -m`. I have done this because [cc_configure.bzl](https://github.com/bazelbuild/bazel/blob/0.4.4/tools/cpp/cc_configure.bzl#L145) in here, it tries to execute `uname -m` then if it gives **aarch64** that  function should return **arm**. So answer to your question is yes. It is being used arm processor.

I think [this commit ](https://github.com/baze

[2017-05-11 04:25] rasbt commented on #9744
Ah thanks, makes sense now!

Yeah, previously, I think I misinterpreted this. I thought you meant that it wouldn't have an effect setting something in `__init__` but when I understand correctly now, it already uses glorot_uniform, this setting this in `__init__` would have no effect. Only reason I thought this might be useful is that it might not be clear for someone looking at the code what the d

[2017-05-11 04:25] eaplatanios opened #9826 "C API Exception"
Hi,

The C API method "TF_GraphGetTensorNumDims" throws an exception with message "Node X was not found in the graph" even for valid nodes that are in the graph. This tends to happen with the outputs of particular ops (e.g., reshape and matmul). I think it may have to do with shape inference after looking at the C API implementation but I'm not sure what's wrong. Is there something I need to do to

[2017-05-11 04:40] kwotsin commented on #9755
Do you think if I compile tensorflow for the Jetson on my laptop, this will work? Meaning to say is this just a build issue, or will TF not run properly even when successfully built because of the architecture issue?

If cross-compiling on a laptop will work, is there a guide on how to do this? I have tried the instructions in https://developer.ubuntu.com/en/snappy/guides/cross-build/ but I can't

[2017-05-11 05:16] ddurham2 opened #9827 "tf.abs() isn't documented to handle complex, but it does appear to work as tf.complex_abs() used to."
Issue #7405 was a bug filed that tf.complex_abs() was removed in 1.0.  At the bottom it says that tf.abs() now does that work, but the docs for tf.abs() only mention float.  I confirmed that tf.abs() does in fact do as the comment on the issue describes (https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow/python/ops/math_ops.py#L225)

Please incorporate the info from https://www.tensorfl

[2017-05-11 05:23] fesun commented on #9823
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/variables.py#L276 If initializer is provided and callable, how about passing variable to initializer instead of initialize and then assign it?
Codebase now has one zero initializer operator to initialize variables, https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/framework/kernels/zero_initializer_op.

[2017-05-11 06:27] dineshgit opened #9829 "Kernel Restarting The kernel appears to have died. It will restart automatically (Jupyter-Tensorflow)"
I am facing a huge problem where the jupyter kernel keeps dying. This is my first experience of kernel ending on Jupyter. I'm using Tensorflow to fit a CNN model (the total input datasize is only 9.8MB)

I did not have this issue in my previous run on the same code (however I did have errors where it said "dst tensor is not initialized". That was when I made the dataset really small to attempt to

[2017-05-11 07:08] petrux commented on #2462
I found this implementation from the [Keras code](https://github.com/fchollet/keras/blob/master/keras/backend/tensorflow_backend.py#L2717). As far as I could get, they just clip the `output` (i.e. the softmax) between `EPSILON` and `1-EPSILON`, perform a `log` operation on it and us the result as the logits. Could make sense?

[code]

[2017-05-11 07:23] laimonassutkus commented on #7457
Still persists.

[2017-05-11 07:42] PatWie commented on #6531
What's about

```tf.losses.sparse_softmax_cross_entropy(labels,logits, ...)```
vs
```tf.nn.sparse_softmax_cross_entropy_with_logits(logits=logits, labels=label)```
?

Is there any reason to provide both functions? I understand that `tf.losses` also maintains `tf.GraphKeys.LOSSES`. But wouldn't it be more consistent (kargs vs. args, '_with_logits' vs. '') to only support a mixture by

[code]

This

[2017-05-11 07:45] WolfgangGross opened #9831 "gpu_memory_fraction for tf.contrib.lean Estimators stopped working in tensorflow 1.1.0"
I was updating to Tensorflow 1.1.0 to use the tf.estimator API and I found, that I couldn't get it to use less than the full GPU RAM for one process.
I was trying to find out where the issue is and found, that also the tf.contrib.lean.Estimators had the same problem.

Here a code snippet to reproduce the issue:
[code]

With tensorflow 1.0.1 it works as expected and only allocated 1/10 of the GPU R

[2017-05-11 08:17] alialerwi commented on #428
How do i convert from ImageFileTensor back to Array[byte] ? thank you in advance!

[2017-05-11 08:29] nkhdiscovery commented on #9525
@girving Thanks for closing that one, I would be happy if I can help. I already tried hiding symbols with adding version scripts to cc project but I couldn't figure a clean way to write the regex matching unnecessary symbols. I would do that if you give me a hint on what are the API functions to make them public and make else hidden (_TF* didn't work), or a hint on how to hide symbols coming from

[2017-05-11 08:48] wirehack opened #9832 "BeamSearchDecoder not working"
I intalled TensorFlow from 2017-05-10 nightly binaries. The TensorFlow version is v1.1.0-rc2-773-g7fa0cf3 1.1.0-rc2. I have CUDA 8.0 and a Tesla K20c with 4.5G memory. My OS is Linux Ubuntu 14.04.

I tried to run the following code to test the latest BeamSearchDecoder:
[code]

But I got :
[code]

I wonder how I can fix this problem? Or does this mean BeamSearchDecoder is still testing and does not

[2017-05-11 08:49] davidlt commented on #9525
Version scripts are not so good for C++ based projects, because it's hard to control what needs to be public and not. This is way visibility attributes were added. Everything, except symbol versions are available as attributes :( Versions  script is a good starting point (I would prefer to have symbol versions).

[2017-05-11 08:56] Louis1994 commented on #9680
I tried pip3 not pip, and it worked. Hope it will help.

[2017-05-11 08:56] JcmeLs commented on #2604
@mrry Hi, I use `image.set_shape([64, 256, 3])`.But it have a new ValueError: Shapes (?,) and (64, 256, 3) are not compatible.I don't know how to fix it.

[2017-05-11 09:03] jihopark commented on #6996
@ebrevdo hi, i am also waiting for the new seq2seq api. will it be released soon or did i miss it?

[2017-05-11 09:21] gayathri-menath commented on #7980
I am also facing the issue. Tensorflow was working fine in my system, but suddenly this problem appears. I am using ubuntu 16.04 and installation is running on virtualenv. My tensorflow verson is tensorflow==1.1.0

[2017-05-11 09:49] hicham-eyeem commented on #9664
@andrewharp thank you, I hope I will have time to take a look at it. I remember I have also tried to decompose ELU as a sum of ReLU and masked exp(input) - 1 , still produced the same results, so I think the problem comes from the exp function on quantized values.

[2017-05-11 09:50] suiyuan2009 commented on #7128
@yaroslavvb , I use 2018 beta version of MKL only for building c++ code. I find tf use `BDCSVD` which doesn't have `LAPACKE` version.

[2017-05-11 10:11] chenghuige opened #9833 "New seq2seq interface(basic_decoder) does not support sampled softmax?"
basic_decoder init function has param output_layer which must be a type of layer like Dense.
But for using sampled softmax we need some code like below, as w_t and v is needed by tf.nn.sampled_softmax_loss
      with tf.variable_scope('output_projection'):
          self.w_t = melt.variable.get_weights_truncated('w',
                                               [vocab_size, num_units],

[2017-05-11 10:14] sreelathasamudrala commented on #7859
how to install GPU and CPU of tensorflow on windows 7 for 32 bit .i have  installed cuda toolkit for  win 32   and now i am not able to install GPU and CPU versions for tensor i am getting the following error after creating a virtual environment on windows 7 for tensorflow.

![error](https://cloud.githubusercontent.com/assets/28622848/25944384/bb8d2e36-3660-11e7-8de5-484bd6a0482e.png)

[2017-05-11 10:31] sudhirshahu51 commented on #9789
@jubjamie Actually till now I have not installed and want to know how to install.

[2017-05-11 10:32] Careenn opened #9834 "how to install tensorflow 0.12 or 0.9 version on windows now?"
I have tried several ways to install tf based on docker, but the installation code can only install the latest tf version.......

[2017-05-11 10:43] ZhouYL0213 commented on #7859
@sreelathasamudrala  hi, I install CPU-only version of TensorFlow via native pip3 successfully according to the official page [https://www.tensorflow.org/install/install_windows#common_installation_problems](url), however it throws `warning: 43134753` when I execute `sess = tf.Session()`, but it does not affect the following execution. May be you can try it.

[2017-05-11 10:50] sudhirshahu51 commented on #9680
@pranavred can you tell me what are getting after giving this command
`python -c "from pip import pep425tags;print(pep425tags.supported_tags)"`

[2017-05-11 10:52] sreelathasamudrala commented on #7859
i did pip3 installation also but still getting the same error.
![pip3](https://cloud.githubusercontent.com/assets/28622848/25945777/cd202572-3665-11e7-9d65-61afd687c2c5.png)
I tried extracting files of tensorflow 1.0.1.rc1 ionto the same folder as i have sent in the attachment but still not getting the  execution .

[2017-05-11 10:55] sreelathasamudrala commented on #7859
i tried to run tensorflow program without cpu and gpu  installation and i am getting errors.
![tfcode](https://cloud.githubusercontent.com/assets/28622848/25945926/799fad9a-3666-11e7-9b68-6c3ca8bc9a8f.png)

[2017-05-11 10:56] sreelathasamudrala commented on #7859
please help me guys cant download tf in win 7 using cuda 5.5 release  download of cuda toolkit for win 32

[2017-05-11 11:02] sudhirshahu51 commented on #9680
@Adamage give the above command you will get knowledge about what your system supports.

[2017-05-11 11:26] kingder opened #9835 "JobDef omit key 0 when convert to string"
I installed the package from the official binary through pip, I want save a custom ClusterDef and found the zero key is omitted from the JobDef, is this an expected behavior?
[code]

[2017-05-11 11:30] jx00109 commented on #9129
You can have a look at [https://github.com/tensorflow/models/blob/master/tutorials/rnn/ptb/ptb_word_lm.py](url).
Row 112-116
This is something diffierent between tf1.0 and tf1.1

[2017-05-11 11:31] jubjamie commented on #9789
Please start a stack overflow question, link it here and I can help you there.

[2017-05-11 11:33] Adamage commented on #9680
Well guys, the thing is Im a total idiot - I thought this topic is about tensorboard, as it gives the same error when you try to install it on PIP. Actually tensorboard is shipped with tensorflow... sorry. I did not have any issue

[2017-05-11 11:47] BrianOn99 opened #9836 "Unable to run model in iOS: dtype() == expected_dtype (9 vs. 4)"
### System information
- **iOS emulator**
- **TensorFlow version v1.1.0rc2**
- compiler flag: -O3, `-D__ANDROID_TYPES_SLIM__` replaced by `-D__ANDROID_TYPES_FULL__` inside `tensorflow/contrib/makefile/Makefile` in order to fix a issue of missing kernel
- modification made: `tensorflow/core/kernels/cwise_op_floor_mod.cc` added to `tensorflow/contrib/makefile/tf_op_files.txt b/tensorflow/contrib/mak

[2017-05-11 12:06] theflofly opened #9837 "Optimizers in the C++ API"
There is currently no Optimizer in the [C++ API](https://www.tensorflow.org/api_docs/cc/) compared as the ones that we can find in the [Python API](https://www.tensorflow.org/api_docs/python/).

It means, when using only the C++ API that we have to manually collect the gradients and apply them.

Don't you think it should be a convenient add? Retrieving the gradients and applying them is kind of ha

[2017-05-11 12:06] javidcf commented on #2175
I'm on Windows and `CUDA_VISIBLE_DEVICES=` or `os.environ['CUDA_VISIBLE_DEVICES'] = ''` still didn't work for me, GPU devices were still created, even if not used. However setting `os.environ['CUDA_VISIBLE_DEVICES'] = '-1'` did work for me, only giving me a warning (seems to be a kind of recommended way of masking devices according to [the docs](http://docs.nvidia.com/cuda/cuda-c-programming-guide

[2017-05-11 12:08] jimzer commented on #9832
I encountered exactly the same problem.
Help would be much appreciated

[2017-05-11 12:14] EngineHH commented on #9814
@aelimame  thanks for reply. I've got the info on SO that it's  known issue 42011070

[2017-05-11 12:14] #9814 closed

[2017-05-11 12:45] arinbjornk commented on #9754
I can't replicate the issue in an isolated case. The first run of `truncated_normal_initializer` is slower as expected but subsequent runs are very fast. I suspect the issue lies elsewhere.

We can close this issue until I have more detailed information.

[2017-05-11 13:00] raghavgoyal14 commented on #1122
As a follow up, I'm reusing 16 layers of batch_norm.
Could it be the case that using `updates_collections=None` may have some issue ? Should I use updates as  a dependency to `train_op` ?

[2017-05-11 13:08] SrivastavaKshitij commented on #9829
Don't use Jupyter notebook. Use a simple .py script.  I know a known problem with notebook. It doesn't allow cuda to deallocate resources once the session is over which creates problems.

[2017-05-11 13:27] apacha commented on #7778
Just as a matter of interest: How comes, these warnings were not present in Tensorflow 1.0.1 but only in newer version Tensorflow 1.1.0?

[2017-05-11 13:30] m-anish opened #9838 "Importing tensorflow fails on travis-xenial because of glibc version"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:travis-ubuntu-16.04
- **TensorFlow installed from (source or binary)**:pip (to get whatever is the latest version there)
- **GPU model and memory**:travis default build target

You can collect some of this infor

[2017-05-11 13:33] akors commented on #7778
Not quite sure what you mean, I am using the binaries from PIP for TF 1.0.1, and the warnings have been there already.

[2017-05-11 13:37] apacha commented on #7778
Aha... then maybe my cached wheel of TF 1.0.1 was somehow different. It displayed some warnings regarding OpKernels but no warnings regarding SSE instructions.

[2017-05-11 13:44] orian commented on #2983
Just for future references, models have been moved to a separate repo:
https://github.com/tensorflow/models/tree/master/tutorials/embedding

[2017-05-11 14:06] tfboyd commented on #7187
one line change to move input processing to CPU.  This would also impact the resnet test if I was reading it correctly.  I have no idea if the AlexNet implementations are the same between the platforms or if anything else is different.  My point is make sure to put your input processing on CPU it makes a difference.  Using your number I reduced the time by 83%.  On my testing I was getting 0.144 p

[2017-05-11 14:20] tfboyd commented on #7187
I am also CPU bound.  I am using an old skool cool 2500K clocked to 4.2Ghz or so and it was maxed.  No idea if that will make a real world difference but just FYI.

[2017-05-11 14:25] mrry commented on #2604
@JcmeLs It sounds like you want to *change* the shape of the tensor rather than updating its static information, so you should use `tf.reshape(image)` instead.

[2017-05-11 14:25] girving commented on #9525
We'll be marking exported symbols with a TF_EXPORT macro, but there's a bunch of upfront work to do to minimize the API surface area before we do that.

[2017-05-11 14:27] girving commented on #9755
@petewarden Are we likely to be Jetson compatible?

[2017-05-11 14:33] ggranum commented on #6698
Confirming @strickon 's suggestion works for me.

Am running https://github.com/awjuliani/DeepRL-Agents/blob/master/Double-Dueling-DQN.ipynb and was getting the failures mentioned in this thread on the first call to sess.run within the update block ( The line:  ` Q1 = sess.run(mainQN.predict,feed_dict={mainQN.scalarInput:np.vstack(trainBatch[:,3])}) `.

Adding the allow_growth flag (as per below)

[2017-05-11 14:34] tfboyd commented on #7187
ResNet (I assume 50) was not a dramatic as I saw ~170ms and then after adding the with CPU and the WINOGRAD NONFUSED flag I was getting 150ms or so.  Again I have no idea if everyone is using the same ResNet.  When NVIDIA does these tests they check the FLOPS used to make sure they are similar between the platforms.  Making sure the models are exact seems painful.  Again my goal is that people doi

[2017-05-11 14:54] tfboyd commented on #7187
My GTX 1080 is clocked slightly higher.  I happened to check their logs, which is nice that they include.  The gains are still solid for AlexNet.  My ResNet number is similar to their number for v7 testing.  To be honest I am kind of surprised because I get a much lower number on my faster clocked GTX before I fix the input pipeline problem.  Oh well, interesting but not interesting enough to inst

[2017-05-11 14:59] yaroslavvb commented on #9823
You can already do this, but, I'm not sure that will avoid a copy. There's this ZeroInitialize to adress this use-case -- https://github.com/tensorflow/tensorflow/commit/f38886ba307314cc0ae5b15279f5693f39c92f21

[2017-05-11 15:01] yaroslavvb commented on #9823
BTW, easier way than strace is to look at tensor allocation/deallocation messages with https://github.com/yaroslavvb/memory_util

[2017-05-11 15:03] #9754 closed

[2017-05-11 15:12] ashern commented on #9831
This problem affects managed_session use generally, and not only through Estimator. The per_process_gpu_memory_fraction and the allow_growth settings have no effect.

[2017-05-11 15:14] danrsc commented on #1122
I've just been noticing that if I kill the tensorflow process and restart it, my error gets worse for a few epochs (i.e. worse than it should be at the last checkpoint). I also observe that if I remove batch_norm, this problem goes away. After looking at the code for a while, I think this may be because the values of the variables are not restored from the shadow variables as they would be if the

[2017-05-11 15:33] dineshgit commented on #9829
Yes, I understand this point, but what perplexes me is that others with lesser CPU or GPU power is able to run this simple code without much issues. I tried this same code on Spyder instead of Jupyter and I get the error "ResourceExhaustedError (see above for traceback): OOM when allocating tensor with shape[54080,1024]"

I'm starting to suspect that I must be missing a technique to get this worki

[2017-05-11 15:45] wolffg commented on #9774
This is a duplicate of #9637, and we will be fixing that as soon as we can.   Thanks for reporting!

[2017-05-11 15:45] #9774 closed

[2017-05-11 15:50] JcmeLs commented on #2604
@mrry I want to get image from tfrecord and put it in the batch.The code is:
[code]
But,when I run this code.It will hava ValueError`: All shapes must be fully defined: [TensorShape([Dimension(64), Dimension(256), Dimension(3)]), TensorShape(None)]`.So I try `image.set_shape([64, 256, 3])` .But I get the new ValueError: `Shapes (?,) and (64, 256, 3) are not compatible`

[2017-05-11 16:19] ruiann opened #9841 "Unable to use two gmms in one classifier in tf gpu 1.1"
I've tried to use tf.contrib.factorization.python.ops' gmm model

I've watched the gmm_test.py as the doc about this model is not clear to use

My code is as below

[code]

Even I try to define graph for each of the two gmm, it still connot work with the error log:

[code]

The input is a constant tensor with shape of [batch_size, 4]

[2017-05-11 16:33] ruiann commented on #9841
Error exists even I use only one gmm without graph. So how to use gmm model as gmm_test can work. I've take some hours read  the unit_test platform but it's too complex

[2017-05-11 17:05] mrry commented on #2604
@JcmeLs That error message indicates that `label` is a rank-1 tensor (vector) of unknown length. You'll need to either set its shape or reshape it as well. I'm guessing that the following will work, but it's not entirely clear without more context:

[code]

[2017-05-11 17:09] asimshankar commented on #9826
Shape inference should be happening. Please do fill out the full issue template, in particular the library version being used and a code snippet that reproduces the problem.

What you're saying does sound like a bug, but a reproducible example will go a long way :)
(FWIW, the [basic unittest passes](https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow/c/c_api_test.cc#L430), so if there is

[2017-05-11 17:11] asimshankar commented on #9834
You can find older versions of the website at: https://www.tensorflow.org/versions/
and browse from there.

For example, installation instructions for 0.12 on Windows are at:
https://www.tensorflow.org/versions/r0.12/get_started/os_setup#pip_installation_on_windows

Hope that helps.

[2017-05-11 17:11] #9834 closed

[2017-05-11 17:20] eaplatanios commented on #9826
@asimshankar I'll try to create a reproducible example using the Java API. Truth be told, I came about this problem while developing the Scala API and don't have a simple code snippet you can use to reproduce this. One thing that might help for your unit tests is that the problem doesn't occur for many ops. A minimal example that causes the problem for me (using Scala syntax but still real enough)

[2017-05-11 17:28] drpngx commented on #9806
I'm not sure what file interface you are expecting from panda. It is looking for `Tell`, but we have `tell`, which is the python `FileIO` interface.

[code]

[2017-05-11 17:31] drpngx commented on #9837
I would recommend working with us to define the interface and design that looks like [gradients](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/cc/gradients). That would be a nice contribution!

Ideally, we would have  a check that things don't go out of sync with python.

[2017-05-11 17:37] eaplatanios opened #9842 "Dynamic Library Compilation Error"
Hi,

When I compile the dynamic library without the optimization flag, using the command `bazel build //tensorflow:libtensorflow.so`, everything works well (i.e., I am able to compile it and load it in the Java API). However, if I compile with some optimization flags, using the command `bazel build --config=opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-msse3 --copt=-msse4.1 --copt=-msse4.2 /

[2017-05-11 17:37] HossamAmer12 commented on #2412
@lababidi I am glad that it worked for you. It also me took me a while to figure it out. I actually thought of writing a tutorial, but I decided that sharing my ZIP project is an easier solution.

@asimshankar It will be great if you can add @lababidi and my ZIP project into your documentation.

[2017-05-11 17:39] HossamAmer12 commented on #1890
@lababidi Is the issue still open?

[2017-05-11 17:47] alextp commented on #9842
This looks like something went wrong in the protocol buffer code somewhere.
Which is really weird because proto code should never trigger SIGILL. Are
you running on a machine which supports all instruction sets you're using
(avx, avx2, fma, msse3, msse4.1, msse4.2)? M

On Thu, May 11, 2017 at 10:41 AM, Anthony Platanios <
notifications@github.com> wrote:

--
 - Alex

[2017-05-11 17:51] eaplatanios commented on #9842
I think I was but I will check this on another machine too. Shouldn't the compilation throw an error if any one of these instruction sets us not supported though? I remember that being the case with version 1.0, for example.

[2017-05-11 17:55] alextp commented on #9842
If you explicitly pass flags to gcc you can tell it to compile to a machine
other than the one you have. To use your local configuration you might need
-march=native

On Thu, May 11, 2017 at 10:53 AM, Anthony Platanios <
notifications@github.com> wrote:

--
 - Alex

[2017-05-11 18:06] eaplatanios commented on #9842
I see. Does `-march=native` automatically use all the instruction sets available in the architecture of the current machine? For example, if the CPU supports the AVX instruction set, will `-march=native` make the compiler use that?

[2017-05-11 18:10] ispirmustafa commented on #9831
This should be fixed at the head. Could you please give it a try?

[2017-05-11 18:10] alextp commented on #9842
Yes, I believe.

On Thu, May 11, 2017 at 11:07 AM, Anthony Platanios <
notifications@github.com> wrote:

--
 - Alex

[2017-05-11 18:11] eaplatanios commented on #9842
Great! Thanks, that was quite informative because I haven't been able to find any documentation on these configuration flags. I'm currently recompiling with `-march=native`. I'll let you know if it resolves the issue once done.

[2017-05-11 18:27] SeanColombo commented on #9819
I'm having the same problem as @acburigo

...
Location:  C:\Users\[USER NAME]\appdata\local\conda\conda\envs\carnd-term1\lib\site-packages
...
There's a bunch of stuff there but I don't see a DLL. there's a "tensorflow" and "tensorflow_gpu-1.1.0.dist-info" directory in there.  "tensorflow" seems to be the location of the pywrap_tensorflow_internal.py that's generating the error.

@drpngx  do you k

[2017-05-11 18:41] asimshankar commented on #9837
Yes, the C++ (and other language) APIs lack many of the higher level Python conveniences right now.
(Side note: The gradient registry for all operations in C++ is not as comprehensive as Python, so there is work to be done there - for details see the link that @drpngx pointed to).

The TensorFlow team doesn't have the cycles to pursue this ourselves right now, but if you'd like to give it a shot w

[2017-05-11 18:46] SeanColombo commented on #9819
I was able to open the _python_tensorflow_internal.pyd with Dependency Walker and it complained about cudnn64_5.dll not being found.  I tried it on my command prompt and found that adding it to my path hadn't worked.

Fix for me was:
0. Type "cudnn64_5.dll" into command prompt and get "not recognized" to verify that DLL wasn't in my path.
1. Go back and add the location of the cudnn DLL to the pat

[2017-05-11 18:48] terrytangyuan commented on #8878
This is fixed.

[2017-05-11 18:48] #8878 closed

[2017-05-11 19:20] eaplatanios commented on #9842
@alextp You were right! Compiling with `-march=native` resolves the issue. Thanks a lot! :)

[2017-05-11 19:20] #9842 closed

[2017-05-11 19:21] eaplatanios commented on #9826
Small update: Compiling the current master branch code with the `--config=opt` flag does not resolve the issue.

[2017-05-11 19:22] ebrevdo commented on #6996
Hi, the new API in tf.contrib.seq2seq in the tf nighties should be mostly
feature complete and working.

On May 11, 2017 2:04 AM, "PJ" <notifications@github.com> wrote:

@ebrevdo <https://github.com/ebrevdo> hi, i am also waiting for the new
seq2seq api. will it be released soon or did i miss it?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub

[2017-05-11 19:45] TomAugspurger commented on #9806
With tensorflow 1.1.0, the exception is a bit different. Running

[code]

gives,

[code]

[code]

[2017-05-11 20:03] jart commented on #9755
This appears to be a duplicate of #9788. The solution appears to be upgrading Bazel.

[2017-05-11 20:03] #9755 closed

[2017-05-11 20:04] jart commented on #9788
Glad I was able to help. If that doesn't work, please file an issue with the Bazel project and include a link to this issue in the report.

[2017-05-11 20:04] #9788 closed

[2017-05-11 20:06] jart commented on #9755
Or more correctly, the other issue is a duplicate of this one, since your issue was filed first.

[2017-05-11 20:08] theflofly commented on #9837
Ok. I'll see how I can do things and I'll make proposals here. I'll surely contribute to the C++ gradients as you pointed it out.

[2017-05-11 20:11] girving commented on #9841
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-11 20:11] #9841 closed

[2017-05-11 20:12] girving commented on #9835
Yes.  Proto does not distinguish zeros from missing fields.

[2017-05-11 20:12] #9835 closed

[2017-05-11 20:13] girving commented on #9829
It sounds like you are running out of memory.  This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-11 20:13] #9829 closed

[2017-05-11 20:14] girving commented on #9833
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-11 20:14] #9833 closed

[2017-05-11 20:16] girving commented on #9827
@rmlarsen Do you mind fixing this?

[2017-05-11 20:18] girving commented on #9823
@benoitsteiner Would it be feasible to add a graph rewriting optimization to do in-place assignment for simple cases?

[2017-05-11 20:40] acburigo commented on #9819
Thanks, @SeanColombo . I think my Alienware machine was messing with the GPU libraries.
I ended up deciding it was best installing Ubuntu in it and now I have everything working well.

[2017-05-11 20:55] Ipaulsen commented on #9701
Your probably right cherry picking the patch is better until next release.

[2017-05-11 21:01] #447 closed

[2017-05-11 21:01] #9708 closed

[2017-05-11 21:01] #9795 closed

[2017-05-11 21:08] eaplatanios commented on #9826
@asimshankar After trying to replicate the problem with a simple example in the Java API I found out the following:

1. The reason the previous example was failing was that I was passing a tensor with shape [2, 1] as the second input to `Reshape`. This needs to be a one-dimensional tensor. I assume that this made [this line](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api.c

[2017-05-11 21:11] untom opened #9846 "Increase compatibility with pathlib"
Pathlib (https://docs.python.org/3/library/pathlib.html) is a nice standard-library for dealing with paths, but it seems that TensorFlow currently does not always accept them. E.g. when creating a FileWriter like:

    logdir = pathlib.Path('/my/path')
    log = tf.summary.FileWriter(logdir, sess.graph)

I get:

    TypeError: Expected binary or unicode string, got PosixPath('/my/path')

While it'

[2017-05-11 21:12] asimshankar commented on #9826
Ah, thanks for tracing this down @eaplatanios ! Sounds like we forgot to clean this up (the precondition mentioned in the comment in the line you pointed to has been met I believe, so we just have to remove that).

I'll try to get that cleared up.

Thanks!

[2017-05-11 21:37] #9819 closed

[2017-05-11 22:06] danindiana commented on #9071
@madhupkumar
I'm looking at my LD_LIBRARY_PATH. and it looks the same as StefanoD. What is your modification of your library path that got you working?

[2017-05-11 22:30] kevinashaw commented on #9294
Thanks!  The documentation regarding that feature is somewhat thin for tf.nn.dynamic_rnn.

[2017-05-11 23:02] concretevitamin commented on #9846
@dandelionmane do we plan to consider this?  If so we can mark as contribution welcome.

[2017-05-11 23:07] concretevitamin commented on #9836
@andrewharp could you take a look?  From
[code]
it looks like a DT_INT64 and DT_UINT8 mismatch.  Global step?

[2017-05-11 23:09] concretevitamin commented on #9748
(Helping to close this - please use #9525 for follow-ups.)

[2017-05-11 23:09] #9748 closed

[2017-05-11 23:19] concretevitamin commented on #9806
I *think* this should be fixed in master.  Here's the `seek()` signature from HEAD:
[code]
[Link](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/lib/io/file_io.py#L131).  Can you retry with a nightly build?

[2017-05-11 23:22] concretevitamin commented on #9778
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-05-12 00:03] concretevitamin commented on #9716
Sorry, I don't exactly follow what the specific questions here are.  The ideas you describe are perfectly reasonable, and I think they are widely applied in the context of sequence models.  Are you trying to file a specific bug against some RNN implementation in TensorFlow?

[2017-05-12 00:09] concretevitamin commented on #9816
Can you try to isolate a shorter repro program so that we can look into this?  (It'd be nice if the Github code block syntax can be fixed too :))

[2017-05-12 00:27] martinwicke commented on #9517
@tfboyd you were working on a device function for this exact purpose, can you post it here?

[2017-05-12 00:27] dloyer commented on #9816
Hey Zongheng,
Here is a simpler example:Notice that the "validate_shape=False" does not seem to be honored.  
Thanks.-Doug

# sparse variable
import tensorflow as tf

# the feature count that we maintain between batches# must be kept in a variable, but variables dont support sparse tensors# so we have to keep the source index and value arraysvar_feature_count_idx = tf.Variable(tf.zeros([1,1],dtype

[2017-05-12 01:21] wmitsuda commented on #9806
It is working as expected with the nightly build.

[2017-05-12 01:33] Queequeg92 commented on #6504
I have checked the implement detail of QR decomposition in tensorflow. The QR decomposition in tensorflow simply calls the QR function in Eigen. But unfortunately there is no gradient implement for QR decomposition in Eigen, which indirectly results in the absence of gradient for QR decomposition in tensorflow. The QR decomposition is based on some basic matrix operations. Thus it's theoretically

[2017-05-12 01:48] cYclonEK opened #9849 "Building failure on KNL"
Build with
Current master branch source code from github

Command
`bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package --verbose_failures`

The error only part of build log
[Build Log.txt](https://github.com/tensorflow/tensorflow/files/994830/Build.Log.txt)

The Env collected by tf_env_collect.sh
[Env.txt](https://github.com/tensorflow/tensorflow/files/994893/Env.txt)

Bazel

[2017-05-12 01:49] benoitsteiner commented on #9823
It's on our to-do list, we just lacked a good reason to prioritize this ahead of other rewrites.

[2017-05-12 01:54] drpngx commented on #9806
Yay!

[2017-05-12 01:54] #9806 closed

[2017-05-12 02:55] ashern commented on #9831
Built from head (dbb78c7783c32f8f3dc86364dc10d7d51cf61277), this does not seem to work for me.

[code]

[1] TITAN X (Pascal) | 54'C,  22 % | 11672 / 12189 MB | asher(11117M)

The above worked previously, but please let me know if I've missed a change.

[2017-05-12 03:08] JcmeLs commented on #2604
@mrry Thanks,It can work now.But when I take data from the batch many times, it will be error.`OutOfRangeError (see above for traceback): FIFOQueue '_1_batch/fifo_queue' is closed and has insufficient elements (requested 64, current size 0)
	 [[Node: batch = QueueDequeueManyV2[component_types=[DT_UINT8, DT_UINT8], timeout_ms=-1, _device="/job:localhost/replica:0/task:0/cpu:0"](batch/fifo_queue, ba

[2017-05-12 03:28] madhupkumar commented on #9071
I added /usr/lib/nvidia-375 to my LD_LIBRARY_PATH and got rid of this import error @danindiana

[2017-05-12 03:46] minhtridn2001 commented on #4451
I was successful with the stripped_inception.pb file. But the Inception v3 model  is much lower than the previous, it takes about 10 seconds to recognize each image. I have followed the TensorFlow For Poets codelab. Do anyone get the same problem?

[2017-05-12 03:49] yhg0112 commented on #9716
no, this was not a question or feature request.

i'm just opening a discussion thread curious about what others thinking.

i guess this wasn't appropriate in this community and closing the thread.

[2017-05-12 03:49] #9716 closed

[2017-05-12 03:51] ddurham2 commented on #9827
BTW- I would be happy to regularly make PRs for various documentation fixes.  However, I'm a little confused by the code.  I can grep for some of the descriptions to find current docs in the code, but I find that there is quite a bit of duplicate documentation.   Is this because there is separate documentation for the C++ and python code?

Since I assume you want the same behavior in both, could t

[2017-05-12 03:51] jkschin commented on #2732
BUILD
TensorFlow GPU 1.1.0
Ubuntu 16.04
CUDA 8.0.61
CUDNN 5.1

@zheng-xq why is the forward pass deterministic but the very first backward pass not deterministic?

On a simple MNIST example, the logits are 100% deterministic over 100 runs (I did more runs than that but plotted 100).

![logits](https://cloud.githubusercontent.com/assets/6997460/25981433/a9473ee0-3707-11e7-8a60-240963c6c471.png)

Ho

[2017-05-12 03:54] concretevitamin commented on #9716
@yhg0112 Thanks.  As mentioned I think using different batch sizes for different buckets is totally reasonable.  People usually analyze the sequence lengths over the training set, and could cut off at, say, 20%, 40%, ..., 80%-tiles, etc.

[2017-05-12 04:13] yhg0112 commented on #9715
do you mean BeamSearchDecoder in tf.contrib.seq2seq.python.ops ?
This do the job yet require "embedding" outside the "cell" (same as attention_decoder in legacy_seq2seq).
i was thinking that this is kind of Not in the OOP because we had the embeddingWrapper for RNN cells.

i'll make the pull request about next month. and i'm closing this issue for now will reopen when i'm ready to submit the PR.

[2017-05-12 04:13] #9715 closed

[2017-05-12 04:58] dloyer commented on #9816
Hmmm...

It looks like the value_shape=False on the Variable is not honored, but it is honored on assign.

Maybe the documentation should be updated

[2017-05-12 05:04] fesun commented on #9823
@benoitsteiner  I am training super sparse model, no memory left due to this 2x memory issue. This is very general case, I don't want to spend effort to fix it for my own, and  several weeks after my own fix you guys fix and commit it, what if I make the change and send pull request?

[2017-05-12 05:05] wetliu commented on #6189
Hi everyone. I am having this problem too. Is there any method to have a consistent variable scope name and the variable names now? I am worry about that Foo/x and Foo_1/x are two independent variables (correct me if I am wrong). Thank you.

[2017-05-12 05:10] #9654 closed

[2017-05-12 05:11] #9752 closed

[2017-05-12 05:15] AaronYALai commented on #9831
Having the same issue here.

And I notice that "config_pb2.ConfigProto(allow_soft_placement=True)" of "monitored_session" in lines 965-975 of estimator.py has no gpu memory config
Revise the config to incorporate gpu memory fraction can manually control gpu memory usage again
    ex. config.gpu_options.per_process_gpu_memory_fraction = 0.3

[2017-05-12 05:56] wgmao opened #9851 "Issue with tf.nn.max_pool"
I am a little confused about the implementation of tf.nn.max_pool() function. Below it's a toy example.

[code]
Here I just want to perform a convolution operation with ten `4*10` filters on a single `4*20` image with only one channel. After the convolution ,there is a ReLU activation layer, followed with a max pooling layer. For the max pooling layer, the window size is just `1*5` and the stride

[2017-05-12 06:37] ujjwal-researcher opened #9853 "Multiprocessing for input pipeline"
I have asked this [question](http://stackoverflow.com/questions/43889941/enqueuing-a-tf-randomshufflequeue-from-multiple-processes-using-multiprocessing) on StackOverFlow but I also feel that it can also be seen as a feature request.

------------------------
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
   : YES
- **OS

[2017-05-12 06:48] qwertymj commented on #9621
Today I found this:
https://github.com/tensorflow/tensorflow/commit/8c8ac705ec4cbae71b56fa37990e26890b576a77?diff=split

from
tensorflow/tensorboard/components/vz_projector/vz-projector-data-panel.html
<pre><code>#demo-data-buttons-container {
display: none;
}
</code></pre>
and
tensorflow/tensorboard/components/vz_projector/vz-projector-data-panel.ts
<pre><code> if (this.projector.servingMode ===

[2017-05-12 06:48] YiMX commented on #1652
@seominjoon Hi, How did you seperate vars and ops in different devices for an RNN cell?

[2017-05-12 07:10] ruiann commented on #9841
@agarwal-ashish Could you please help me? I've post a question in stack overflow [here](http://stackoverflow.com/questions/43929589/use-official-gmm-module-as-gmm-test-but-a-bug-reported-operation-name-assert)

[2017-05-12 07:11] asimshankar commented on #7258
We're now building the C library ([`c_api.h`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api.h) and `tensorflow.dll`) for Windows. This won't contain the C++ API, but should be sufficient for other language bindings like C#.

This will be part of release 1.2 onwards, but in case anyone wants to give it a spin in the meantime, try the nightly build artifacts at:
http://ci.t

[2017-05-12 07:37] DarrellThomas opened #9854 "TensorBoard --logdir=c:\foo support"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no.  I am working with the full example to get the tensorboard to work.  I changed the file directory for the logs into something on my system:

  `train_writer = tf.summary.FileWriter('D:/logs_dt' + '/train', sess.graph)`
  `test_writer = tf.summary.FileWriter('D:/logs_dt'

[2017-05-12 07:45] soloice commented on #4419
Any progress on this? Still get unclear TypeError message for tf.int32 on Mac OS X, tf 1.0.0.

[2017-05-12 07:51] neural22 commented on #8833
@ebrevdo I tried to use your previous code as explained. But If I put the encoder_state of the previous level (2 bidirectional encoders with GRU), I have a memory leak on GPU.
More precisely, here my code:
[code]
So, If I remove use the line **zero_state = zero_state.clone(cell_state=encoder_state)** during the session.run the program continuously allocate memory on GPU and finally it crashes due

[2017-05-12 08:36] shuuki4 commented on #9832
I encountered the same issue, and I found out this error is gone *when the batch size of the BeamSearchDecoder is specified*. This error is due to the line 638 of `beam_search_decoder.py`,
`  output = array_ops.reshape(output, final_shape)`.
Since this `final_shape` parameter is `final_shape=[static_batch_size, beam_width]` and `  static_batch_size = tensor_util.constant_value(batch_size)`, `stati

[2017-05-12 08:47] shuuki4 opened #9855 "Unexpected error at contrib.seq2seq's BeamSearchDecoder"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**:  v1.1.0-rc2-773-g7fa0cf39f
- **Bazel version (if compiling from source)**:  0.4.5
- **CUDA/cuDNN version**:  None
- **GPU model and memory**: CPU

### Describe the problem

I encountered an unexpected er

[2017-05-12 08:56] andykernahan commented on #7258
@asimshankar Great! I have just tested it using [TensorFlowSharp](/migueldeicaza/TensorFlowSharp) with no issue.

[2017-05-12 08:56] suiyuan2009 commented on #6955
I notice that `TF_ManagedBuffer` is only visible within `c_api.cc` file, using a `FakeAllocator` to construct a `TensorBuffer` is a good approach.

[2017-05-12 09:32] JimSEOW commented on #18
Starting Release 1.2, Windows DLL will be  made available  and [tensorSharp binding work](https://github.com/tensorflow/tensorflow/issues/7258#issuecomment-301001697)s!

[2017-05-12 09:43] bashimao commented on #1965
I can confirm either methods ( @xuxy09 / @yselivonchyk ) solve this particular issue on `Ubunutu Trusty`.

[2017-05-12 09:50] luxiaolei commented on #9757
Just to provide another information, my memory Bank Locator is `node 1` reported by using `dmidecode --type memory` , whereas for a issue free computer it is `bank 1`. Dont know if its making any differences.

[2017-05-12 09:58] kaituoxu commented on #6210
@mrtonnet @truatpasteurdotfr  Did you solve your problem? I'm having the same issue and was wondering if you could share your results.

[2017-05-12 10:15] satendrapratap opened #9856 "Bazel Clean hangs"
Hi ,

I am trying to build TensorFlow example for Android using Bazel but it hanged. So I tried to find the reason
and after a while tried to clean the previous build with "bazel clean" and it hangs again the same way as it happened while building TensorFlow examples:

$ bazel clean
....................................................................................................................

[2017-05-12 10:32] satendrapratap commented on #9856
Tried for bazel version after rebooting machine and following is the output:

Build label: 0.4.5
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Mar 16 12:19:38 2017 (1489666778)
Build timestamp: 1489666778
Build timestamp as int: 1489666778

[2017-05-12 10:52] raghavgoyal14 commented on #1122
I caught the problem, the moving variance in my case goes negative after some iterations.

The output of the tensor : `Model/clip_logits/batch_norm/moving_variance:0` present in `tf.model_variables()` is
[code]
As you can see, there's negative variance for one of the dimension. How is this even possible ?
P.S. The batch norm layer is used just after the last fully connected layer of the network an

[2017-05-12 11:00] raghavgoyal14 commented on #3290
I'm also getting the negative variance while using `tf.contrib.layers.batch_norm(fused=True)`.
Should I use `tf.nn.fused_batch_norm` ?

[2017-05-12 11:06] stephenjia opened #9857 "Is there a way to use tensorflow to load a few consecutive frames from a queue of many video frame folders?"
### System information
- **OS Platform and Distribution **: Linux fedora fc25.x86_64
- **TensorFlow installed from (source or binary)**: from pip
- **TensorFlow version (use command below)**: v1.0.0-rc2-15-g47bba63-dirty
- **CUDA/cuDNN version**: cuda 8.0/cudnn 5
- **GPU model and memory**: TITAN X (Pascal)
### Describe the problem
I have a file which lists video names. Frames of each video are sa

[2017-05-12 11:13] jiefangxuanyan opened #9858 "Function decode_raw ignoring parameter little_endian."
`little_endian` parameter in `decode_raw` takes no effect. I had a look at the C++ source code (`tensorflow/tensorflow/core/kernels/decode_raw_op.cc`), you are just using `reinterpret_cast` without any awareness of this parameter.

[2017-05-12 11:29] idavydov commented on #9401
Is it possible in 1.1 to create a *new* multicell while reusing old weights of every cell in the old one?

More explicitly here: http://stackoverflow.com/questions/43935609/how-to-reuse-weights-in-multirnncell

[2017-05-12 12:01] pierrekilly commented on #5777
Hello all!
I was running in the same issue and finally managed to make it work after resume without rebooting the computer.

You just need to `rmmod` the `nvidia` module (and all dependent modules, in my case `nvidia_uvm`) and then `modprobe` them agin (in reverse order):

[code]

Hope this helps :)

[2017-05-12 12:54] gemmell commented on #7258
So, excuse me for being late to the party, but I'm searching for how to consume a pre-trained network in our native C++ application and I have arrived here. I'm hoping one of you can point me to some up to date documentation on how one would train a network in python, then consume it in to execute from C++.  From what I understand, I would save the graph and checkpoint to file, then add tensorflow

[2017-05-12 13:13] Hvass-Labs opened #9859 "Where is tf.layers.flatten?"
I hope this question is considered suitable for asking here on GitHub rather than StackOverflow as it relates to a possibly missing feature of the TensorFlow API. I apologize beforehand if I am wasting your time.

This concerns TensorFlow 1.1.0 and `tf.layers`

The tutorial on `tf.layers` uses manual reshaping to get from 4-rank to 2-rank tensors (search for the word flatten):

https://www.tensorf

[2017-05-12 13:51] tomjaguarpaw commented on #7258
@gemmell: I would also like to do this in the near future.  This is the "best" reference I have found so far: http://stackoverflow.com/questions/41070330/is-it-possible-to-use-tensorflow-c-api-on-windows/41071296#41071296

It would be useful to have a more detailed and precise one.

[2017-05-12 14:04] petrosmol commented on #9505
FYI, I have submitted a change that should fix the problem for SVM (and any other estimator that uses SDCA as an optimizer). You should be able to provide rank-1 tensors for 1-dimensional real valued columns.

Let me know if you encounter any other problems

[2017-05-12 14:11] yaroslavvb commented on #2732
You could try a simple feed-forward network with squared loss. Training can be implemented with only `matmul` and `reduce_sum`, if there's non-determinism there, then pretty much everything is potentially non-deterministic. Addition of floating point numbers is not-associative, so if the other of summing things together in matmul/reduce_sum changes, that can affect results. Typically this is not c

[2017-05-12 14:18] ujjwal-researcher commented on #9859
I too think that there too many movements within the APIs and it is now time that they are stablized.

[2017-05-12 14:53] DarrellThomas commented on #9854
This is the same issue as #8845, which also references #7856.   I was able to reproduce the same issue/failure with lgorX2.   i.e.  I downloaded his event data with the same failure as his (and mine).

Reviewing issue #7856; mrry commented on Feb 26:

As a quick workaround, you could avoid this problem by always specifying an explicit run name as part of the --logdir flag, e.g.:

`tensorboard --lo

[2017-05-12 14:54] MMCMA commented on #9854
related to #9701?

[2017-05-12 14:55] jkschin commented on #2732
@yaroslavvb I'll try that out and post some results here.
@girving any other things to try so we can include in the docs? I'd be happy to do a PR for this if it's within my capabilities.

[2017-05-12 15:07] jkschin commented on #2652
@zheng-xq could you give some examples of other CUDNN kernels that have non-determinism? I'd like to explore this a little. Just for education purposes, because like what you mentioned, it's probably not worth the effort unless some major thing happens down the road.

[2017-05-12 15:12] DarrellThomas commented on #9854
It looks like @IgorX2 had same issue in #8845.  I reproduced his error too with his data.   His thread references #7856, which has the following workaround posted by @mrry on 26 Feb

This workaround worked for me.  It seems to be a valid bug and the workaround seems valid.   I hope this helps others trying to get this running in windows.  At a minimum, perhaps put a note in the [tutorial](https://

[2017-05-12 15:24] jan-apptornado opened #9861 "Exporting and loading models with crossed_columns gives errors"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes, see below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.1.0

### Describe the problem
I trained a `LinearClassifier` that includes a

[2017-05-12 15:35] abhijithchunduru opened #9862 "output of tf.nn.convolution is not consistent for bigger 3d nets"
Code :
[code]
When I run this code, I get a non zero sum_diff. Why is the network's output not consistent with multiple runs ? I will appreciate some help

[2017-05-12 15:38] ancadumitrache opened #9863 "Bug in census_widendeep.py downloading of test data"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: nightly builds
- **TensorFlow version (use command below)**: 1.1.0-rc2

### Describe the problem
There seems to be an error in the downloa

[2017-05-12 15:42] girving commented on #9827
@ddurham2 (cc @martinwicke): I don't think we have a good story for avoid code duplication between C++ and Python for ops with wrappers.  In this case (and many others) I don't think there's a good substitute for a human merging the docs, since they're different ops at the C++ level (though they probably shouldn't be).

@ddurham2 Did I interpret correctly that you're volunteering to send a PR?  If

[2017-05-12 15:44] girving commented on #9823
Cc @rmlarsen too, since you're name is on comments in `AssignOp` that buffer forwarding rarely triggers.  Looks like @fesun is offering to submit a PR; can we direct him to the right change to make?

[2017-05-12 15:50] girving commented on #9849
@benoitsteiner Do you know what would cause this Eigen errors:

    In file included from tensorflow/core/kernels/sparse_matmul_op.cc:20:0:
    ./tensorflow/core/kernels/sparse_matmul_op.h: In function 'Packet
    Eigen::internal::pbroadcast_third(const Packet&) [with Packet = __vector(8) double]':
    ./tensorflow/core/kernels/sparse_matmul_op.h:258:46: error: cannot convert 'const Packet8d {aka

[2017-05-12 15:51] hadim commented on #9710
Is that necessary to save paths as absolute paths? Why not using relative paths?

[2017-05-12 15:52] drpngx commented on #9859
@fchollet for layers roadmap

[2017-05-12 15:52] girving commented on #9851
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-12 15:52] #9851 closed

[2017-05-12 15:53] girving commented on #9853
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-12 15:53] #9853 closed

[2017-05-12 15:53] MMCMA commented on #9701
I just want this issue to be resolved, going forward it should be in the interest of everyone to achieve a more permanent fix. In the mean time #9854 has a fix for getting tensorboard working for version1.1.0.
`tensorboard --logdir==training:model_dir --host=127.0.0.1`

[2017-05-12 15:55] girving commented on #9855
Nice catch!  Seems like the `top_k` operation should be shielded with a `min`.  Would be up for submitting a small PR?

[2017-05-12 15:57] drpngx commented on #9856
That looks like a bazel issue, could you report it there?

Please also report OS.
CC @jart

[2017-05-12 16:00] girving commented on #9861
@ispirmustafa: Looks like a bug.  Can you take a look?

[2017-05-12 16:03] girving commented on #9863
@caisq That does seem odd.  A slightly larger snippet of code is

    # Retrieve data from disk (if available) or download from the web.
    train_file_path = os.path.join(data_dir, "adult.data")
    if os.path.isfile(train_file_path):
      print("Loading training data from file: %s" % train_file_path)
      train_file = open(train_file_path)
    else:
      urllib.urlretrieve(train_data_url, tra

[2017-05-12 16:06] drpngx commented on #9858
Would you be willing to send a PR?

[2017-05-12 16:20] kalli8 commented on #5380
I'm getting this error, where is the fix?

[2017-05-12 17:07] ram1993 commented on #5036
+1

[2017-05-12 17:29] fchollet commented on #9859
There will be a `tf.layers.flatten()` in the future for sure. We are still working on some layer refactoring at the moment, but adding more layers in the core layers module will be the step right after.

[2017-05-12 18:06] prashnani commented on #7253
using `tf.shape(x)` worked for me! Thanks.

[2017-05-12 18:11] Lee-L-Boyd opened #9865 "Issue with TensorFlow"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-05-12 18:12] Lee-L-Boyd opened #9866 "Issue with tensor flow (undefined symbol: cuDevicePrimaryCtxRetain)"
When I try to import tensorflow in python I get this issue:
Note: It was working fine yesterday.  It is really strange that today it no longer works.
Also note: This is my first time to ever post a question online, as I prefer to find answers to my own problems.  The issue here is that there is no documentation on this problem online and I am hitting a wall on ideas for once for how to resolve it.

[2017-05-12 18:13] #9865 closed

[2017-05-12 18:38] guschmue opened #9867 "distributed runtime leaking memory on windows"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: b'unknown' 1.1.0
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**:
-

[2017-05-12 18:39] stalagmite7 opened #9868 "Chrome timeline for Keras?"
I've been looking at the chrome timeline to profile my Keras models, but have been unable to find any documentation on how I could use it with my Keras models.
I am running keras with a tf backend, and my sequential models are all built in keras. For instance, this is how my model is being built:

    'model.fit_generator( \
				generator= data_gen(args, 1), \
			 	steps_per_epoch=tr_steps, \

[2017-05-12 18:44] eaplatanios commented on #9826
@asimshankar No worries. I'm actually curious. What is the desired behavior for when somebody creates a "Reshape" op using a 2-D tensor provided for the shape? That's just an example, but in general, shouldn't the native library check the op arguments and throw an exception at graph construction time if something is wrong?

[2017-05-12 19:08] girving commented on #2732
@jkschin Not sure what you mean by other things.  If the PR is just adding a note that reductions are nondeterministic, keeping is small seems good.

More broadly, I'd love a determinism push to make everything we can actually deterministic, but that will take more work.

[2017-05-12 19:09] girving commented on #9867
@mrry Looks like we should update grpc if that hasn't already happened.

[2017-05-12 19:19] jart commented on #9856
Yes please report to Bazel. Also be sure to provide them with information about your OS, computer, etc.

[2017-05-12 19:19] #9856 closed

[2017-05-12 19:34] sstirlin commented on #916
One possible workaround is to launch the Tensorflow code in a separate worker thread.  This isolates Tensorflow's CUDA context and allows it to coexist peacefully with Caffe (and other CUDA-enabled libraries).

I'm using python's `threading` and `Queue` libraries for this, and no complaints (although they're still battling for memory, but that's a different story).

[2017-05-12 19:35] sstirlin commented on #2210
I know this is closed, but just in case anybody needs a tip:

One possible workaround is to launch the Tensorflow code in a separate worker thread.  This isolates Tensorflow's CUDA context and allows it to coexist peacefully with Caffe (and other CUDA-enabled libraries).

I'm using python's `threading` and `Queue` libraries for this, and no complaints (although they're still battling for memory, b

[2017-05-12 19:47] Koshub commented on #4863
I have had the same issue with "Less", then with "Add" and then with some other operation when I stopped make changes to "cwise_op_*" files. I think there should be some simple way to configure which operation and type to include or not for mobile devices. I have also tried to use `print_selective_registration_header` functionality but it does not help.

[2017-05-12 19:48] asimshankar commented on #9826
@eaplatanios : Yes, the desired behavior would be to have the addition of the "Reshape" operator (which was provided invalid arguments) throw an exception. If we didn't ignore the error, that is what would happen. The reason we ignored the error was a temporary one to ease transition, that's taken care of, so after my fix, the Java call to `OperationBuilder.build()` will throw an exception.

Hope

[2017-05-12 19:57] eaplatanios commented on #9826
@asimshankar That makes total sense! Thanks for the prompt responses! :)

[2017-05-12 19:59] #9862 closed

[2017-05-12 20:00] abhijithchunduru commented on #9862
Closing issue because I am not able to reproduce this error

[2017-05-12 20:14] danindiana commented on #9071
@madhupkumar Can you be a little more specific? I seem to have added that to my LD_LIBRARY_PATH as well but am still getting an error. Thanks for the help.

This is what my bashrc has in it:

export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/lib:/usr/local/cuda/lib64:/usr/lib/x86_64-linux-gnu:/usr/lib/nvidia-375
export LIBRARY_PATH=${LIBRARY_PATH}:/usr/local/cuda/lib64:/usr/lib/x86_64-linux-gnu

[2017-05-12 20:20] jiangxu87 commented on #9035
I had a similar issue and was able to fix it by removing the VERBS support from the configure. This is what (I guess) happened:  `bazel build` with the VERBS support actually failed, but I didn't notice it and it still created the file of 'bazel-bin/tensorflow/tools/pip_package/build_pip_package'. And this file gives me the error.

[2017-05-12 20:25] yaroslavvb commented on #9868
This does not seem to be supported.

[2017-05-12 20:28] yaroslavvb commented on #9868
You could probably hack it by monkey patching 'tf.Session' to always create session with full statistics collection (as in https://github.com/tensorflow/tensorflow/issues/7794#issuecomment-281888201) and also monkey patching the "run" call to dump timeline file each time session.run gets called

[2017-05-12 21:08] ispirmustafa commented on #9861
It seems saved model load couldn't find the contrib ops.
@sukritiramesh @davidsoergel do you have idea what's going on?

[2017-05-12 21:24] sukritiramesh commented on #9861
The usage of the lower level of SavedModel APIs for loading from python/saved_model seems correct. @davidsoergel Could this be stemming from export_savedmodel(...)?

[2017-05-12 22:02] wgmao commented on #9851
I'm sorry to ask the question in the wrong place.

If anyone else has similar questions, please check the "SAME" configuration of `tf.nn.max_pool`. The function pads zeros **left** and **right** rather than **right only**.

[2017-05-12 22:18] ujjwal-researcher commented on #9853
Closing it is your discretionary power but I think that it is equally a feature request that for such an important bottleneck as input (which is critical for complex training pipelines), a clear and well documented feature for using multiprocessing is available, which is not. The input pipeline is the least explained part of TensorFlow. And moreover, such questions do not receive good attention on

[2017-05-12 22:39] stephenjia commented on #9857
Thanks. I have already posted it on stackoverflow.
I think it would be good to have videosequence reader.

[2017-05-12 23:17] asimshankar commented on #9861
Ops defined in `contrib` are built as shared libraries which need to be loaded into the address space before they are used. Currently, this load happens when the corresponding Python module is imported. Unfortunately, no other piece of code knows where to find the shared libraries for ops found in the graph.

As a workaround for now, add:

[code]

to your program before invoking `tf.saved_model.lo

[2017-05-12 23:29] girving commented on #9853
If you want better input pipelines, follow https://github.com/tensorflow/tensorflow/issues/7951.

[2017-05-12 23:44] joe-antognini opened #9870 "Incorrect inference in convnet with batch size >65535"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: v1.1.0-rc0-61-g1ec6ed5 1.1.0
- **Bazel version (if compiling from source)**: N/A
- *

[2017-05-12 23:55] capybaralet opened #9871 "errors in ipython sessions cause core dump or segfault"
------------------------

### System information

Python 2.7.13 :: Anaconda custom (64-bit)
ipython :: 5.3.0
linux :: 3.16.0-4-amd64

https://github.com/tensorflow/tensorflow/tree/master/tools/tf_env_collect.sh gives:

== cat /etc/issue ===============================================
Linux leto26 3.16.0-4-amd64 #1 SMP Debian 3.16.43-2 (2017-04-30) x86_64 GNU/Linux
VERSION_ID="8"
VERSION="8 (jessie

[2017-05-13 00:07] JamesKostas commented on #9590
The issue is corrected in 1.1.  Thank you both for the help!  The reason I was using the old version is because [it says here that 0.12 is the latest stable version.](https://www.tensorflow.org/versions/)  If that is not the case I would suggest updating that page if possible to avoid other people making the same mistake.  Thanks again for your time and help!

[2017-05-13 00:07] #9590 closed

[2017-05-13 00:13] bcbrock commented on #8466
I've also experienced this error using TensorFlow on POWER8, and have now also
just hit it on a source installation of caffe2 on POWER8. So this may not be
an issue with TensorFlow. My environment:

System:        Power8 Minsky, 4xP100
OS:            Ubuntu 16.04.2
CUDA:          cuda-repo-ubuntu1604-8-0-local-ga2v2_8.0.61-1_ppc64el.deb
cuDNN:         5.1.10
Python:        2.7
NVIDIA Driver: 375.5

[2017-05-13 00:32] yaroslavvb opened #9872 "www.tensorflow.org/versions/ incorrectly lists 0.12 as the most recent stable branch"
https://www.tensorflow.org/versions/ says that 0.12 is most recent stable branch, which is causing new users to install the older version --
https://github.com/tensorflow/tensorflow/issues/9590#issuecomment-301211285