[2018-05-11 12:39] tensorflowbutler commented on #19214
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-11 12:39] tensorflowbutler commented on #19216
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
OS Platform and Distribution
TensorFlow installed from
TensorFlow version

[2018-05-11 13:15] haojitianya commented on #6220
i am a student,i am not very familiar with tensorflow, i just  follow @lukaszkaiser
and use with ' tf.variable_scope(tf.get_variable_scope(),reuse=tf.AUTO_REUSE) as scope:'
and delete the 'tf.get_variable_scope().reuse_variables()'  my code is work .
i am runing the code of ROLO.

[2018-05-11 13:30] yongtang commented on #19223
Added PR #19224 for the fix.

[2018-05-11 13:35] alalbiol commented on #7278
I have found a temporally solution to this using tf.scan to iterate over the feature dimension.
I think that this is not as efficient as a native function, but low level programming of tensorflow
is too hard for me :-)
I have checked it using the 2d depth wise convolution first. The extension to 3d is inmediate:

[code]

[2018-05-11 13:39] grindhold commented on #19223
wow that was quick :) very much appreciated. thx

[2018-05-11 13:46] AlexDag commented on #17683
@Jason-xin,  for the inferencing(object classification)  we need fine tuning model, the binary file. It was made by train.py on folder /tmp/***(as my train process config) . I had error by using /tmp/saved_models/1/saved_model.pb. The tuned model for object classification is /tmp/output_graph.pb.

[2018-05-11 13:52] LucasMahieu commented on #16545
The problem is still not solved...

Given this example :
[code]

The fold_constant() transformation change the name of the input tensor from "input" to "input:0".
But the node named input is still named "input" and not "input:0".
like this :
[code]

So, after this transformation of the graph, the connection between the input node "input" and the next node is broken.

(The input placeholder is not

[2018-05-11 13:54] VictorQueiroz commented on #4018
Same problem here also, any solutions?

[2018-05-11 14:32] chiachunfu commented on #19211
Just update the field. Thanks!

[2018-05-11 14:45] LucasMahieu commented on #16545
@tensorflower-gardener Do you think this issue is related to your commit :
https://github.com/tensorflow/tensorflow/commit/38bcb3c02fbc5185d6c1fb7e8327a070284b66e4

[2018-05-11 14:45] annemenini commented on #19200
I updated the original post (info were there but not in the right format)

[2018-05-11 14:46] annemenini commented on #19200
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: TF 1.7 and TF 1.8 (v1.8.0-0-g93bc2e2072 1.8.0)
- **Python version**: Python 3.5.4

[2018-05-11 15:55] achalshah20 commented on #19196
Hi, can you post the output of nvidia-smi command?

On Fri, May 11, 2018 at 1:12 AM selomie <notifications@github.com> wrote:

--
-- Achal Shah (+1-812-272-3004)

[2018-05-11 16:10] fchollet commented on #16775
`units` is an `int`, as mentioned explicitly in the docs. It's not something that you can dynamically change as part of a computation graph, it's a hardcoded architecture parameter (since it determines the dimensions of the layer's weights).

Docs:

[code]

[2018-05-11 16:10] #16775 closed

[2018-05-11 16:36] allenlavoie commented on #17257
I think just a version issue? The initialization changes I mentioned are relatively recent. Your awesome repro snippet works for me with `v1.8.0-1386-g2dc7575123` (from `python3.5 -c "import tensorflow as tf; print(tf.__git_version__)"`).

The change is https://github.com/tensorflow/tensorflow/commit/eb31cf8a62739d4df4c84b8edeccbe756b70616d so anything built with that should work (theoretically an

[2018-05-11 16:55] chaosink opened #19228 "optimize_for_inference.py has conversion error for float16 Conv2D"
### System information
- **Have I written custom code**: No
- **OS Platform and Distribution**: Linux Mint 18.3
- **TensorFlow installed from**: source
- **TensorFlow version**: v1.8.0
- **Python version**: 3.5.2
- **Bazel version (if compiling from source)**: 0.13.0
- **GCC/Compiler version (if compiling from source)**: gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.9)
- **CUDA/cuDNN ver

[2018-05-11 17:14] amirjamez commented on #18835
Thanks, @satok16. Could you provide insights on why the bellow error occurs while executing the graph standalone app on HVX?

[code]
This interestingly works with `SDK 3.0` and `nnlib august 2017`, but on both versions we have execution error -1.

[2018-05-11 17:37] asimshankar commented on #18861
@rundembear : Sorry, I missed your update somehow.
Anyway, I see that it crashes with an unhelpful message to the user, which should be fixed.

However, I don't think it quite worked in 1.3 either - in that it wouldn't crash, but it would basically end up ignoring the `visible_device_list` the second time around. I'll dig in further (don't have a multi-GPU machine handy at the moment), but could y

[2018-05-11 18:11] achalshah20 commented on #19127
I think this is happening because eager dependency on c api and current cmake code doesn't handle that. #16480 might fix all of these issues.

[2018-05-11 18:33] achalshah20 commented on #19203
Which version of bazel are you using?

[2018-05-11 18:39] rundembear commented on #18861
@asimshankar and @yifeif  I have just run a very simple test using our production code. I logged into a machine with 8 GPUs and ran a command which allows me to run my graph, one thread per GPU (but all in the same process). If I use 'visible_device_list' to map the correct GPU for each thread to be 0 at that thread, I see load distributed across all 8 GPUs (using nvidia-smi) and I can execute a t

[2018-05-11 18:44] tensorflowbutler commented on #19222
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-11 18:44] tensorflowbutler commented on #19220
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-11 18:44] tensorflowbutler commented on #18652
Nagging Assignee @reedwm: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:44] tensorflowbutler commented on #18594
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:44] tensorflowbutler commented on #18588
Nagging Assignee @sanjoy: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:44] tensorflowbutler commented on #18531
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-05-11 18:44] tensorflowbutler commented on #18417
Nagging Assignee @tatatodd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:44] tensorflowbutler commented on #18383
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:44] tensorflowbutler commented on #18353
Nagging Assignee @mrry: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:45] tensorflowbutler commented on #18198
Nagging Assignee @michaelisard: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:45] tensorflowbutler commented on #18187
Nagging Assignee @tatatodd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:45] tensorflowbutler commented on #18123
Nagging Assignee @zhangyaobit: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:45] tensorflowbutler commented on #17762
Nagging Assignee @jart: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:45] tensorflowbutler commented on #18832
Nagging Assignee @case540: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:46] tensorflowbutler commented on #18899
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:46] tensorflowbutler commented on #18901
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:46] tensorflowbutler commented on #18908
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:46] tensorflowbutler commented on #11548
Nagging Assignee @yzhwang: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:46] tensorflowbutler commented on #14580
Nagging Assignee @petewarden: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:46] tensorflowbutler commented on #14436
Nagging Assignee @gunan: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:47] tensorflowbutler commented on #11888
Nagging Assignee @ysuematsu: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:47] tensorflowbutler commented on #11726
Nagging Assignee @tatianashp: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:47] tensorflowbutler commented on #14625
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-05-11 18:47] tensorflowbutler commented on #10842
Nagging Assignees @lmthang, @ebrevdo: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:47] tensorflowbutler commented on #10837
Nagging Assignee @mrry: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:47] tensorflowbutler commented on #9471
Nagging Assignee @yzhwang: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:47] tensorflowbutler commented on #9049
Nagging Assignee @andrewharp: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:47] tensorflowbutler commented on #8517
Nagging Assignee @zheng-xq: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:47] tensorflowbutler commented on #5592
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:48] tensorflowbutler commented on #17629
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:48] tensorflowbutler commented on #17519
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:48] tensorflowbutler commented on #17461
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:48] tensorflowbutler commented on #2625
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-05-11 18:48] tensorflowbutler commented on #16821
Nagging Assignee @zhangyaobit: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:48] tensorflowbutler commented on #16497
Nagging Assignee @petewarden: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:49] tensorflowbutler commented on #16115
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:49] tensorflowbutler commented on #16087
Nagging Assignee @xiejw: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:49] tensorflowbutler commented on #14626
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-11 18:54] asimshankar commented on #18861
Thanks @rundembear

@aaroey : Is it possible that the changes to support virtual devices broke this?
I see that [in the r1.5 branch](https://github.com/tensorflow/tensorflow/blob/r1.5/tensorflow/core/common_runtime/gpu/gpu_device.cc#L756, we're creating `Device*` objects based on the `visible_devices_list` value.

But by the [1.6 branch](https://github.com/tensorflow/tensorflow/blob/r1.6/tensorflo

[2018-05-11 19:01] jart commented on #17762
@rmlarsen Here's some feedback on `BinaryOp` merely supporting five dimensions. I agree the error message could be more helpful.

[2018-05-11 19:04] jart commented on #5592
Thank you @bhack for sharing that link. That looks like a very authoritative answer. Please also note recent TensorFlow binary releases enable AVX by default. Things should be significantly better than they were back in 2016 when this issue was originally filed.

[2018-05-11 19:04] #5592 closed

[2018-05-11 19:07] rundembear commented on #18861
@asimshankar No trouble at all. I appreciate the need to be sure before spending too much time on such things. Thanks!

[2018-05-11 19:28] yaroslavvb commented on #12071
Marking as contributions welcome, I gave an example solution above, someone wanting to be a part of TF could work the solution into tensorflow.

[2018-05-11 19:31] dsmilkov commented on #17867
Hi @ironv

It's probably due to the fact that as soon as the data points are >=50 dims, we are doing approximate PCA / T-SNE / NearestNeighbors computations by randomly projecting the data to 50 random directions.

[2018-05-11 19:33] asimshankar commented on #19083
See https://github.com/tensorflow/tensorflow/issues/18861#issuecomment-388454669

[2018-05-11 20:03] ispirmustafa commented on #18394
@xiejw could you please take a look?

[2018-05-11 20:10] ygoncharov commented on #19222
Have I written custom code: No
OS Platform and Distribution: Ubuntu 16.04
TensorFlow installed from: built from sources
TensorFlow version: 1.8
Bazel version: 0.10.0
CUDA/cuDNN version: 9.1/7.1.2
GPU model and memory: Tesla v100, 16GB
Exact command to reproduce
[code]

[2018-05-11 20:15] jart commented on #19216
It's most likely the case that you purchased your Intel CPU before 2012. You have the following options on your existing hardware:

1. Build TF from source.
2. Use a slightly older TF release binary (when we supported k8-sse3+)
3. Install an unofficial binary release created a community member: https://github.com/tensorflow/tensorflow/issues/17386#issuecomment-370129452

[2018-05-11 20:15] #19216 closed

[2018-05-11 20:31] davidblumntcgeo commented on #17629
jamesredwards said: "this has been a persistent problem since i first installed tensorflow. it seems totally unable to reference the latest cuda library and instead insists on a specific x.version.

i last managed to correct this with CUDA v8.0 by renaming than file libXXX.so.N to the version it was looking for."

@jamesredwards , or anyone else who is circumventing this error by renaming files, c

[2018-05-11 20:33] ispirmustafa commented on #19219
`key` argument must be a string. You have provide a tuple in some of your feature columns, such as:
`tf.feature_column.numeric_column(("Usercountry",47))`

[2018-05-11 20:33] #19219 closed

[2018-05-11 20:36] Frank1304 opened #19231 "."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-05-11 20:36] #19231 closed

[2018-05-11 20:57] willSapgreen commented on #19074
Hello @asimshankar

After

1.

2.

Both tensorflow and tensorboard work.

Thank you for helping.

[2018-05-11 20:57] #19074 closed

[2018-05-11 21:07] jart commented on #7497
Nope. It's just an Ubuntu bug.

- https://bugs.launchpad.net/ubuntu/+source/ca-certificates-java/+bug/1396760
- https://stackoverflow.com/a/30699960

Run:

[code]

See also:

- https://www.ssllabs.com/ssltest/analyze.html?d=mirror.bazel.build&hideResults=on

[2018-05-11 21:19] ViktorM commented on #18906
When 1.9 release can be expected, at least approximately?

[2018-05-11 21:27] tfboyd commented on #18906
1.9 had a code cut off of 31st May.  It normally takes 1-2 weeks to verify the RCs and let them "bake".  CUDA 9.2 will not be in 1.9 as the default due to CUDA 9.2 not being public yet and in my opinion the device driver is too new and still not available for Debian although you can get it for Ubuntu as "beta".  I am hopeful NVIDIA is making some changes that will reduce this pain.

@SephirothFFKH

[2018-05-11 21:27] shengc opened #19233 "`foldl` disallows mixing different types of `elems`"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Redhat
- **TensorFlow installed from (source or binary)**:
conda-forge
- **TensorFlow version (use command below)**:
1.6
- **Python version**:
3.6
- **Bazel version (if compiling from source)**:
N/A
- *

[2018-05-11 21:32] tfboyd commented on #18906
1.9 has a code cut off target of 31st may.  It will not have CUDA 9.2 as the default due to 9.2 not being public yet and the device driver needed is just too new and not in Debian yet.  I am hopeful NVIDIA will resolve the device driver lock for CUDA releases later this year.  Moving CUDA versions forward is always my desire but I worry about abandoning people that cannot upgrade.  I worry more wh

[2018-05-11 21:38] jart commented on #16862
@namrata-ibm The "block overrun" error can only come from Apache Commons Compress `BZip2CompressorInputStream` (Bazel uses v1.9). I find it very concerning that it'd happen on a valid bz2 file. Maybe @bodewig can help us? He works on Apache Commons Compress. Further context:

- https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/bazel/repository/TarBz2Functi

[2018-05-11 21:38] georgesterpu commented on #18903
This is a feature, am I expected to fill in the template ?
Eugene ( @ebrevdo ), we've discussed several times about the rnn code, could you please suggest a neat way to achieve this behaviour ?
Thank you.

[2018-05-11 21:47] ViktorM commented on #18906
@tfboyd Thanks for clarification! So 1.9 will be shipped with CUDA 9.0 or at least switch to 9.1 could be expected?

[2018-05-11 21:56] facaiy commented on #17266
@jason9693 Could you open a PR? I think it can be more convenient for review. By the way, perhaps we'd better let `gen_array_ops.unpack` supports `num` Tensor, rather than convert Tensor back to int :-)

[2018-05-11 22:09] jart commented on #19144
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-11 22:09] #19144 closed

[2018-05-11 22:09] h3nok opened #19235 "Bottleneck retrained model predicts one class after applying transforms and opimize_for_inference."
Summary :

**Have I written custom code** - Mostly using the retrain script from the tensorflow for poets tutorial. I added custom code to validate network but didn't change the training procedure.
**OS Platform and Distribution** -  Windows 7 x64. Training and evaluation is done on a windows machine using Anconda python distribution. Once I freeze the model I then copy it to a linux box with Cent

[2018-05-11 22:20] Burton2000 opened #19236 "add output_shape to tf.layers.conv2d_transpose"
### System information
- **Have I written custom code (N/A)**:
- **OS Platform and Distribution (Windows 10)**:
- **TensorFlow installed from (binary)**:
- **TensorFlow version (1.8.0)**:
- **Python version 3.6.1**:
- **Bazel version (N/A)**:
- **GCC/Compiler version (N/A)**:
- **CUDA/cuDNN version** N/A:
- **GPU model and memory** N/A:
- **Exact command to reproduce** N/A:

### Describe the probl

[2018-05-11 22:59] qlzh727 commented on #19228
The root cause is in https://github.com/tensorflow/tensorflow/blob/f318765ad5a50b2fbd7cc08dd4ebc249b3924270/tensorflow/core/ops/nn_ops.cc#L449, it expects the input T to be type float, whereas your input is half.

[2018-05-11 23:48] sbmaruf opened #19238 "Reproducibility Problem In tensorflow"
If you open a GitHub issue, here is our policy:
------------------------

### System information
- **Have I written custom code - yes**:
- **google colab**:
- **google colab default notebook**:
- **'1.7.0'**:
- **Python version: '1.7.0'**:
- **Bazel version : not applicable**:
- **GCC/Compiler version : not applicable**:
- **CUDA/cuDNN version : google colab default version**:
- **GPU model and me

[2018-05-11 23:50] jart commented on #11280
Unassigning because TensorBoard probably does not need this.

Running TensorBoard on a Windows PC to ingest gigabytes of event logs from Google Cloud Storage is almost certainly a mistake. It can result in bandwidth charges. Both from your ISP and GCP. If you have a Windows PC and use GCS, please run TensorBoard on GCE in the same zone. For example:

[code]

[2018-05-11 23:59] jart commented on #18772
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-11 23:59] #18772 closed

[2018-05-12 00:00] Hoeze commented on #18555
Well, I wrote some reparametrisations for statistical distributions.
In theory, such an auto-solver could be used to automatically optimize conversions between different parametrization types.
However, I simply had not the time and desire to add an additional library and figure out how to use it, only to tweak some calculations automatically.

[2018-05-12 00:25] oscarbg commented on #10468
Hi @petewarden and other tensorflow devs,
new to tensoflow world so sorry I'm misinterpreting something but
just seeing Google release MLKit this week with support for Android & IOS I was curious to learn underlying tech..
seems it uses for it's custom model API tensorflow lite underneath which also supports also both Android & IOS..
on Android it uses Android NN API if avaiable to use HW accel. o

[2018-05-12 00:26] saxenasaurabh commented on #18583
Hi @tobegit3hub

Thanks for trying this out! The error you are seeing should happen if any of the Datasets in your input pipeline does not support  serialization. However, from you code sample, your input pipeline just contains the TensorSliceDataset which [does support](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/data/tensor_slice_dataset_op.cc#L87) checkpointing.

[2018-05-12 01:38] mherkazandjian commented on #10870
Hi,

I am having the same problem but with Tensorflow 1.5.1. I compiled tensorflow from source
in debug mode and after executing

[code]
i got the following

![gdb](https://user-images.githubusercontent.com/3264637/39952361-03c8c51c-5595-11e8-803b-4b37b789677d.png)

basically, the segfault occurs inside the function call https://github.com/tensorflow/tensorflow/blob/v1.5.1/tensorflow/core/platform

[2018-05-12 02:51] jart commented on #10870
Did you try using a more recent version of tensorFlow?

[2018-05-12 04:09] loboere commented on #19216
solve it with this

`pip install tensorflow == 1.5.0`

Thank

[2018-05-12 05:31] dimitryn opened #19240 "error compilation with openmp enabled in tensorflow lite compilation"
Hi ,
I building tensorflow lite shared library .
I added flag -fopenmp to build_def.bzl to enable openmp:

[code]

And I got error compilation,

[code]

Please advise how to fix it.
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes,
1. added openmp flag.
2. I changed BUILD file in tensorflow li

[2018-05-12 05:59] titu1994 opened #19241 "[Eager] Fix for determining input / output shape of the model prior to Model.fit()"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Home Edition
- **TensorFlow installed from (source or binary)**: Windows binary
- **TensorFlow version (use command below)**: Github version 'v1.8.0-0-g93bc2e2072' 1.8.0TF (GPU)
- **Python version*

[2018-05-12 06:00] PranjalSahu commented on #5458
Is is possible to execute tf.gradients in android environment.
I have to take gradients in Android application.
What is the best way to do so.

Thanks

[2018-05-12 06:06] radoye opened #19242 "Can TFLite treat input/output tensors as flat buffers just like TFMobile used to?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 17.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**:  3.5.4
- **Bazel version (if compiling from source)**: n/a
- **

[2018-05-12 06:33] tensorflowbutler commented on #19235
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-12 06:33] tensorflowbutler commented on #19236
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-05-12 06:34] tensorflowbutler commented on #19238
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
OS Platform and Distribution
TensorFlow installed from
TensorFlow version

[2018-05-12 06:51] jart commented on #19238
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-12 06:51] #19238 closed

[2018-05-12 06:54] szm2015 commented on #17411
I have the same issue with tensorflow-1.8.0. The problem is I can't downgrade to version 1.5 as I want to train with retrain.py and for this tensorflow version greater than 1.7 is a requirement. So, any suggestions?

[2018-05-12 10:50] mherkazandjian commented on #10870
yes, i have the same outcome with tensorflow 1.7.1
The content of https://github.com/tensorflow/tensorflow/blob/v1.5.1/tensorflow/core/platform/cpu_info.cc has not changed much since then.

[2018-05-12 11:00] RunOrVeith opened #19244 "tf.contrib.data.prefetch_to_device not compatible with tf.data.Iterator.from_structure"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
tensorflow-gpu binary
- **Bazel Version**:
N/A
- **TensorFlow version (use command below)**:
v1.8.0-0-g93bc2e2072 1.8.0
- **Python versio

[2018-05-12 11:38] fathi1989 opened #19245 "An error occurred while starting the kernel in CNN runing"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Win 8.1
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:  1.7.0
- **Python version**: 3.6.4
- **Bazel version (if compiling from source)**:
- **GCC/Comp

[2018-05-12 11:56] daikankan commented on #19220
Have I written custom code：yes
OS Platform and Distribution：Ubuntu16.04
TensorFlow installed from：pip
TensorFlow version：1.7.0
Bazel version：None
CUDA/cuDNN version：9.0/7.0
GPU model and memory：11G

[2018-05-12 12:02] wincle commented on #18408
I also met the problem,could you please tell me how did you solve it?
My tensorflow was build 1.7.0 from source

[2018-05-12 12:10] avielas opened #19246 "TensorFlow toco - convert from *.pb to *.tflite error"
When try to convert *.pb model to *.tflite (for running on android) using toco converter of TensorFlow, I got the following error:

2018-05-11 20:38:10.841641: I tensorflow/cc/saved_model/loader.cc:242] Loading SavedModel with tags: { serve }; from: /home/user_name/Downloads/model_directory
2018-05-11 20:38:10.847390: I tensorflow/cc/saved_model/loader.cc:291] SavedModel load for tags { serve }; S

[2018-05-12 12:31] jart commented on #10870
Are you using a custom toolchain? Could you share more details about how TensorFlow was compiled?

It seems __tls_get_addr is returning an invalid pointer.  See also:

- https://sourceware.org/bugzilla/show_bug.cgi?id=21609
- https://gcc.gnu.org/bugzilla/show_bug.cgi?id=58104

[2018-05-12 12:53] mherkazandjian commented on #10870
tnx for the links. here are the details of my build (based on the issue template)

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
       - redhat 6.5
       - native glib 2.12-1
- **TensorFlow installed from (source or binary)**:
       - from source
- **TensorFlow version (use command below)**:
       - 1.5.1, 1.7.1
- **Python version**:
       - 3.6.5 (compiled from source with g

[2018-05-12 12:55] mherkazandjian commented on #10870
I just tried the example in the link

[code]
compiled with

[code]
and it did not segfault

[2018-05-12 13:30] pabx06 commented on #17445
Hello i have a **CUDA Compute Capability of 2.1**  is there a chance i am able to change the source code to support my GPU lower capability? Or the tensorflow's algo need a specific capability ?

Cause CPU take way too long:  been training the model for more than 48h so far on **CPU**
Likely i will be dying from old age before i can evaluate the inception model for my needs

- 19%-30% validation a

[2018-05-12 14:17] mingyr opened #19247 "Could TensorFlow support tf.nn.separable_conv1d in future release?"
Dear TensorFlower:

Currently TensorFlow only has tf.nn.separable_conv2d support and it is convenient to use.

Could it is possible in future release tf.nn.separable_conv1d be added? Since I am intensively using TensorFlow for processing bio-signals, so it is more attractive for TensorFlow having such support at this regard.

Best regards

The following fields are filled due to request, since it i

[2018-05-12 15:17] yongtang commented on #18887
It might be easier if you could provide the self-contained reproducible example code, as the code snippet in the issue is not self-contained.

The issue is that tf.nn.conv3d_transpose only support int32 type of output_shape. But the np.asarray(output_shape) by default will return int64 dtype.

Created a PR #19248 to have int64 support for `output_shape`.

[2018-05-12 16:08] karta0807913 opened #19249 "build tensorflow on tx2 with cuda8.0 and cudnn6.0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Tx2
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: r1.6, r1.7, r1.8
- **Python version**: 3.5
- **Bazel version (if compiling from source)**:.13.0- (@n

[2018-05-12 16:39] avielas commented on #19246
I solved it by re-save the model with simple_save functoin. here is the  code:

    tf.reset_default_graph()
    sess = tf.Session()
    new_graph = tf.Graph()
    with tf.Session(graph=new_graph) as sess:
        saver = tf.train.import_meta_graph('dogs-cats-model.meta', clear_devices=True)
        saver.restore(sess, "./dogs-cats-model")
        export_path = 'path to create the new model'

[2018-05-12 17:50] hujunxianligong opened #19250 "In eager model, tfe.Checkpoint does not restore Variables that are not instance properties of tf.keras.Model instance"
## System information

+ Have I written custom code : Yes
+ OS Platform and Distribution: Win7 X64
+ TensorFlow installed from (source or binary): binary
+ TensorFlow version (use command below): 1.8.0.dev20180329
+ Python version: 3.5
+ Bazel version (if compiling from source): N/A
+ GCC/Compiler version (if compiling from source):N/A
+ CUDA/cuDNN version: N/A
+ GPU model and memory: N/A
+ Exact

[2018-05-12 18:30] tensorflowbutler commented on #19245
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow version
Bazel version
Exact command to reproduce

[2018-05-12 18:30] tensorflowbutler commented on #19244
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version

[2018-05-12 18:30] tensorflowbutler commented on #18427
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-12 18:30] tensorflowbutler commented on #18443
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:30] tensorflowbutler commented on #18447
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:30] tensorflowbutler commented on #18459
Nagging Assignee @rohan100jain: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:30] tensorflowbutler commented on #18537
Nagging Assignee @zheng-xq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:30] tensorflowbutler commented on #18549
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:30] tensorflowbutler commented on #18830
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:30] tensorflowbutler commented on #18857
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:31] tensorflowbutler commented on #18863
Nagging Assignee @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:31] tensorflowbutler commented on #18874
Nagging Assignee @zffchen78: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:31] tensorflowbutler commented on #18893
Nagging Assignee @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:31] tensorflowbutler commented on #18913
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-12 18:31] tensorflowbutler commented on #18923
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-12 18:31] tensorflowbutler commented on #18924
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-12 18:31] tensorflowbutler commented on #18929
Nagging Assignee @michaelisard: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:31] tensorflowbutler commented on #18932
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-12 18:31] tensorflowbutler commented on #18936
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-12 18:31] tensorflowbutler commented on #9545
Nagging Assignee @chihuahua: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:31] tensorflowbutler commented on #11724
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:31] tensorflowbutler commented on #12948
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:32] tensorflowbutler commented on #14452
Nagging Assignee @petewarden: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:32] tensorflowbutler commented on #14607
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-12 18:32] tensorflowbutler commented on #16050
Nagging Assignee @rmlarsen: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:32] tensorflowbutler commented on #16624
Nagging Assignee @andrewharp: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:32] tensorflowbutler commented on #16926
Nagging Assignee @jsimsa: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:32] tensorflowbutler commented on #3628
Nagging Assignees @petewarden, @suharshs: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:32] tensorflowbutler commented on #17595
Nagging Assignees @petewarden, @poxvoculi: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:32] tensorflowbutler commented on #17650
Nagging Assignee @xiejw: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:32] tensorflowbutler commented on #17739
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:32] tensorflowbutler commented on #17822
Nagging Assignee @petewarden: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:32] tensorflowbutler commented on #17824
Nagging Assignee @ispirmustafa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:33] tensorflowbutler commented on #17956
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-12 18:33] tensorflowbutler commented on #18133
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-12 18:47] bhack commented on #18913
Check also https://github.com/keras-team/keras/issues/9825 /cc @fchollet

[2018-05-12 18:55] bhack commented on #18913
[Off-topic] @fchollet I note that more and more issues are a little bit duplicated after keras gone in the tf namespace. I think it is quite natural that people are a little bit cofused on where to report issues. I think that TF is a special case backend that it is also a sort of frontend in tf.keras. Of course keras is the upstream but this frontend/backend/frontend loop it is confusing many user

[2018-05-12 19:11] anamika06jain commented on #17845
yes i faced the same issue.

[2018-05-12 20:50] ahundt commented on #12948
Cool! so we could simply add `alias_inplace_concat` much like `alias_inplace_add`?

[code]

[2018-05-12 21:13] laurentS commented on #17411
Same issue here:
paperspace VM with fast.ai template
GPU: nvidia quadro P4000
tensorflow 1.8.0 installed in virtualenv as in https://www.tensorflow.org/install/install_linux#installing_with_virtualenv gave the error above
ubuntu 16.04, python 3.6.3
`pip uninstall tensorflow && pip install tensorflow-gpu==1.5.0` fixed the problem. I have not tried compiling from source yet.

[2018-05-12 23:08] dashsd commented on #17629
This issue is related to Google's protobuf-compiler due to which tensorflow fails to find the shared object file, in this instance, libcublas.so.9.0. Even switching from CUDA 9.1 to 9.0 didn't help as tensorflow was still unable to locate the file.

Building the latest version of protobuf (3.5.0) from source didn't help either. What worked for me was to install the system-wide protobuf compiler th

[2018-05-13 00:31] rothn commented on #18769
@rohan100jain bump :)

[2018-05-13 00:32] rothn commented on #18768
@tatianashp bump :-)

[2018-05-13 00:40] pruthvishetty commented on #4319
Solved by installing a fresh, updated version of Bazel. Download the right version for your/your docker's OS (To check docker OS: `uname -a`) from here https://github.com/bazelbuild/bazel/releases. Then:
[code]
Now, build should work just fine.

[2018-05-13 00:43] tensorflowbutler commented on #19247
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-13 00:43] tensorflowbutler commented on #19250
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-13 01:07] smy20011 commented on #18147
It also cause I cannot run tensorflow > 1.5 on Paperspace Gradient°

Command:

paperspace jobs create --container tensorflow/tensorflow:1.8.0-gpu --machineType P4000 --command "python -c 'import tensorflow'"

[2018-05-13 02:26] hujunxianligong commented on #19250
I have updated the post.

[2018-05-13 03:00] szm2015 commented on #17411
Hello everyone,  building from source solved the issue for me.

در تاریخ یکشنبه ۱۳ مهٔ ۲۰۱۸،‏ ۱:۴۷ laurentS <notifications@github.com> نوشت:

[2018-05-13 05:08] naji-s commented on #16654
@gunan: Yes. On my cluster there is no cuda-9 which makes using 1.5+ impossible...

[2018-05-13 06:52] Dapid commented on #16654
@naji-s you can probably ask the administrators to install a more modern version of cuda. In my experience, they are usually accommodating.

[2018-05-13 07:43] sleighsoft commented on #19250
Checkpoint does not save/restore lists. You have to assign the Convolutions individually to self for now I think. @allenlavoie correct me if I am wrong.

[2018-05-13 07:47] sleighsoft commented on #19103
Is this also the reason why there are no new windows builds for tf-nightly right now?

[2018-05-13 07:48] YijinLiu commented on #15633
@Haijunlv How good are the detections? The lite model from @andrewharp 's demo simply removes all preprocess and postprocess nodes (thousands of them) from the graph and replace them with several lines of code. I am not sure how it'll work..

[2018-05-13 07:49] sleighsoft commented on #18791
This is important for me. Is there any news on this Tensorflow Team?

[2018-05-13 08:29] bhack commented on #7278
@nio1814 Check the performance with https://github.com/tensorflow/tensorflow/pull/17961#issuecomment-388372269

[2018-05-13 08:59] stevep-pers opened #19252 "Prebuilt binary APK TFLCameraDemo does not Install (Error analyzing Package; Android 7 and 5.1.1)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-05-13 10:03] cogmeta commented on #19026
The simple_arena code is riddled with bugs. I was trying another models and it screws up memory after few interpreter invocations. Can we fully test the simple_arena code?

[2018-05-13 10:31] burglarhobbit commented on #17009
@protoget Here it is:

[code]

[2018-05-13 12:28] Hadjimina commented on #19193
@tokotchd Nice snippet! However, you missed the commas after ``name='padAverageGreen'`` and ``name='padAverageBlue'``. It would be great if you could update the code with this minor change.

[2018-05-13 12:29] zacwellmer opened #19253 "Entropy for multinomial distribution"
Currently there does not appear to be an implementation of entropy for the Multinomial distribution. Is there a reason for this?

[Multinomial](https://github.com/tensorflow/tensorflow/blob/r1.8/tensorflow/python/ops/distributions/multinomial.py) inherits from [Distribution](https://github.com/tensorflow/tensorflow/blob/r1.8/tensorflow/python/ops/distributions/distribution.py). However, Multinomia

[2018-05-13 16:15] muhammadzulfanazhari commented on #18932
Sorry for late response
no, it is not.

[2018-05-13 16:55] JerryLife commented on #16791
Thanks so much! I've tried dozens of ways for hours. **A system reboot finally solved everything.**

[2018-05-13 17:53] sleighsoft commented on #17257
Good to know :)
Sadly there are no windows nightly builds right now, for whatever reason, so I'll have to wait until they get fixed.

[2018-05-13 17:57] gunan commented on #19103
No, on windows our CI has another issue we are working to solve right now.

On Sun, May 13, 2018 at 12:49 AM Julian Niedermeier <
notifications@github.com> wrote:

[2018-05-13 18:26] tensorflowbutler commented on #17859
Nagging TensorFlower: It has been 29 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-05-13 18:26] tensorflowbutler commented on #18945
Nagging Assignee @aselle: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:26] tensorflowbutler commented on #18858
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-13 18:26] tensorflowbutler commented on #18802
Nagging Assignees @karmel, @fchollet: It has been 18 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:27] tensorflowbutler commented on #18493
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-13 18:27] tensorflowbutler commented on #18490
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:27] tensorflowbutler commented on #18484
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-13 18:27] tensorflowbutler commented on #18478
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-13 18:27] tensorflowbutler commented on #18405
Nagging Assignee @MarkDaoust: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:27] tensorflowbutler commented on #18380
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-13 18:27] tensorflowbutler commented on #18280
Nagging Assignee @andrewharp: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:27] tensorflowbutler commented on #18237
Nagging Assignee @chsigg: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:27] tensorflowbutler commented on #17978
Nagging Assignee @shivaniag: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:27] tensorflowbutler commented on #13610
Nagging Assignee @mrry: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:27] tensorflowbutler commented on #17729
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-13 18:28] tensorflowbutler commented on #17679
Nagging Assignee @ebrevdo: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:28] tensorflowbutler commented on #17671
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:28] tensorflowbutler commented on #17634
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-13 18:28] tensorflowbutler commented on #16889
Nagging Assignee @ebrevdo: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:28] tensorflowbutler commented on #16872
Nagging Assignee @ekelsen: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:28] tensorflowbutler commented on #16611
Nagging Assignee @ispirmustafa: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:28] tensorflowbutler commented on #16542
Nagging Assignee @alextp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:28] tensorflowbutler commented on #15883
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-13 18:28] tensorflowbutler commented on #14217
Nagging Assignee @petewarden: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:28] tensorflowbutler commented on #13868
Nagging Assignee @petewarden: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:28] tensorflowbutler commented on #13620
Nagging Assignee @ysuematsu: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-13 18:29] sleighsoft commented on #17257
@allenlavoie Do Checkpoints only support lower case names?
When I do `tfe.Checkpoint(**{'TEST': MyModel()'})` it silently consumes it but it is not attached to the checkpoint afterwards.

[2018-05-13 19:10] srvasude commented on #19145
Hi,
  One reason for slowness is compute_* adds nodes to the graph. Generally for benchmarking, one should create the graph up front, and then benchmark the sess.runs. The sess.run(...) should also be timed for the underlying op since eval'ing the tensor can include time from the CPU / GPU copies.

What you want in the end is something like:

with tf.Session() as sess:
  msolve = compute_matrix_so

[2018-05-13 20:15] redfish-lee commented on #14232
@hungj @UWFrank is there any updates?

[2018-05-13 20:34] BhuttoZen commented on #10257
@datomnurdin I have the same problem how did you solve it

[2018-05-13 23:06] Androbin opened #19260 "[Lite] tf.strided_slice sometimes computes wrong indices"
### System information
- **Have I written custom code**: yes
- **OS Platform and Distribution**: Ubuntu 16.04.2 LTS
- **TensorFlow installed from**: source
- **TensorFlow version**: v1.8.0-1520-g1f03f82 1.8.0
- **Python version**: 3.5.2
- **Bazel version**: 0.13.0

### Problem
I tried using the [TOCO tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/lite/toco) on a grap

[2018-05-14 00:39] tensorflowbutler commented on #19253
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-14 00:56] yongtang commented on #17518
The issue is because in ops registration the default value (see: `Tindex`) has been set as INT64:
https://github.com/tensorflow/tensorflow/blob/64bb1de61377f12859a719448b65b452b03047a7/tensorflow/core/ops/array_ops.cc#L853-L859

Changing the default to INT32 will address the issue and the code snippet should work fine. However, this is likely behavior-changing. Not sure if we should change it or n

[2018-05-14 01:37] craigtao opened #19261 "tf windows dll could you help me"
I want to use tensorflow on the windows platform. Why is it so hard?

According to the official website's instructions, cmake came out of the vc project, but compiled a bunch of errors

i use tf r1.2 ！ please help me

[2018-05-14 01:39] Androbin commented on #19260
The failing assertion was introduced in commit 83418120b7c2659fedddd7c85b65d3c3e6aa94e3
(Fixing a bug in strided slice. The op was not handling negative indices correctly)

[2018-05-14 01:40] chaine09 commented on #16768
Hi, I also encountered this problem. I ran my code using the GPU version and got this error. However, when I used my other laptop using the CPU version, there was no error. Without changing anything. Have you found the reason for this?

[2018-05-14 02:31] raninbowlalala commented on #17468
same error as @calicratis19

[2018-05-14 02:55] jedld commented on #5762
Based on usage it looks like it returns the axis of reduction given two tensor shapes. Notice that the return values of this is always used for reduce_sum. ops that support broadcasting (an op involving a tensor of lesser rank or shape) needed to have a reduction function so that the resulting gradient has the same original size. It has the effect of summing individual gradients into one value.

[2018-05-14 03:06] asimshankar commented on #19250
Yeah, for now we [don't recurse into lists/dictionary members of a `tf.keras.Model`](https://github.com/tensorflow/tensorflow/blob/f8b74d642420dcf2f5cab763b41884a05777ea45/tensorflow/python/keras/_impl/keras/engine/network.py#L344), so you'll have to explicitly assign member variables. Figuring out the right public API is on our [TODO list](https://github.com/tensorflow/tensorflow/blob/f27033fb121

[2018-05-14 03:08] asimshankar commented on #19182
CC @mrry
@rachellim - Do you want to take a look at this? Should we be providing a `tf.data.Dataset` path instead/as-well?

[2018-05-14 03:32] NYcleaner commented on #15604
I have find the reason is ldconf,  ldconfig is a dynamic link library management command whose purpose is to allow the dynamic link library to be usedby the system.

The default ldconf only search /lib and /usr/lib, as well as the library file under the directory listed in the configuration file /etc/ld. so. conf.

so all of this is caused by the  dynamic library of CUDA in the installed CUDA path

[2018-05-14 03:36] NYcleaner commented on #17185
I have find the reason is ldconf, ldconfig is a dynamic link library management command whose purpose is to allow the dynamic link library to be usedby the system.

The default ldconf only search /lib and /usr/lib, as well as the library file under the directory listed in the configuration file /etc/ld. so. conf.

so all of this is caused by the dynamic library of CUDA in the installed CUDA path s

[2018-05-14 03:47] xiejinpeng007 commented on #18658
I remove this method `setNumThreads ` and its refereced
app works fine , but I don't know the side effect of that.

[2018-05-14 05:00] wei-v-wang commented on #18133
@zhiz21 Can you please try compiling wih -march=broadwell instead of -march=native and see if problems go away? FYI we are working on fixing Eigen AVX512 related issues. Thanks!

[2018-05-14 05:29] NYcleaner commented on #15294
I have find the reason is ldconf, ldconfig is a dynamic link library management command whose purpose is to allow the dynamic link library to be usedby the system.

The default ldconf only search /lib and /usr/lib, as well as the library file under the directory listed in the configuration file /etc/ld. so. conf.

so all of this is caused by the dynamic library of CUDA in the installed CUDA path s

[2018-05-14 05:48] facaiy commented on #17266
@jason9693 Yes, happy to see your pull request :-)  I agree that it's better to modify c++ code to support num Tensor.

[2018-05-14 05:52] sleepfin commented on #19017
Still waiting for reply :-)

[2018-05-14 06:11] Overdrivr commented on #18380
I don't have access to the GPU machine for now, when I do I'll try the `use_resource` flag. I'm closing this for now because I don't think there is anything to fix in TF, rather I need to redesign a few things to eliminate this op that requires so much vram in my final app.

But it's good to keep in mind that although TF maps memory of multiple GPUs, each op must fit into a single GPU, otherwise a

[2018-05-14 06:11] #18380 closed

[2018-05-14 06:44] xljhtq commented on #3628
@pavelgonchar I want to know what I should do with Java API ??
That is to say, I donnot know how to transfer the following code with JAVA:
# fix batch norm nodes
for node in gd.node:
  if node.op == 'RefSwitch':
    node.op = 'Switch'
    for index in xrange(len(node.input)):
      if 'moving_' in node.input[index]:
        node.input[index] = node.input[index] + '/read'
  elif node.op == 'AssignS

[2018-05-14 06:46] xljhtq commented on #3628
@barbolo  I want to know what I should do with Java API ??
That is to say, I donnot know how to transfer the following code with JAVA:
for node in gd.node:
if node.op == 'RefSwitch':
node.op = 'Switch'
for index in xrange(len(node.input)):
if 'moving_' in node.input[index]:
node.input[index] = node.input[index] + '/read'
elif node.op == 'AssignSub':
node.op = 'Sub'
if 'use_locking' in node.attr: d

[2018-05-14 07:33] voegtlel opened #19262 "PosixFileSystem::CreateDir should create directory respecting umask"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.8.0
- **Python version**: 3.6.5
- **Bazel version (if compiling from source)**: N/

[2018-05-14 07:56] adekunleba commented on #18731
Hi Kayoku,

I encountered the same issue, would want to know how you later solved the issue.

Thanks

[2018-05-14 07:58] wei-v-wang commented on #17945
Thanks @jostheim for reporting and @cczhong11 and @jaikumarm for providing code for me to reproduce the issue. Please know that I have reproduced the errors reported in here.
The reason is most likely due to Conv1D ops that are not well supported by Intel MKL-DNN execution path. And it confirms with commonality of the failures associated with this thread: all were related to conv1D. While we are w

[2018-05-14 08:21] huanyingjun opened #19263 "Could you please share the frozen pb which is been used in tflite example?"
Hi,
In the tflite example, uses a ssd mobilenet model, I can only find the tflite model: mobilenet_ssd.tflite.
Could you please share me the frozen tf model ?
I tried http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_coco_2017_11_17.tar.gz , but failed to convert it to tflite, some ops are not supported.

[2018-05-14 08:30] poldap commented on #7497
Thanks @jart. I had found that one already and it wasn't the case, but it surely could have been.

For the lost souls that end up here, the reason why this was happening is that I (wrongly) assumed that the Bazel repo for `apt` would work just fine for Ubuntu 18.04, but it did not (and severly, too). In fact, installing `bazel` that way overwrote some critical paths of the `openjdk-8-jre` or `orac

[2018-05-14 08:33] mherkazandjian commented on #10870
@jart should this issue be re-opened? or maybe i can create a new issue since this is also occurring with the master branch and the latest release.

[2018-05-14 08:51] Kayoku commented on #18731
Hi @adekunleba ,
I didn't. I'm always stuck haha (I work on an other project waiting for a solution here). But if you find something, don't forget to tell me!
Sorry :(

[2018-05-14 09:09] xiaowenhe commented on #19191
@achalshah20 ,Thank you! The statue is :
![qq 20180514170750](https://user-images.githubusercontent.com/28335784/39988286-8c91e31e-5799-11e8-8953-aac49e9262ac.jpg)

[2018-05-14 09:18] wincle commented on #19141
I met the same problem,  the results of INT8 model seems to be wired.

[2018-05-14 11:18] syltruong opened #19265 "`tf.nn.embedding_lookup`: unexpected behaviour with sharded `params` in "div" mode"
The following code shows what appears to be a [misbehaviour](https://www.tensorflow.org/api_docs/python/tf/nn/embedding_lookup) when trying to lookup sharded embeddings in "div" mode:

[code]

Tested with

- Python 3.6.5
- TF 1.8

[2018-05-14 11:29] FlonTaut opened #19266 "tensorflow-gpu-1.8: failed call to cuInit: CUDA_ERROR_UNKNOWN"
### System information
- **No custom code, Validate you installation test from tensorflow website**: Validate your installation test code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.4
- **TensorFlow installed from (source or binary)**: with `pip install --upgrade tensorflow-gpu`
- **TensorFlow version (use command below)**: 1.8 gpu
- **Python version**: 2.7
- **CUDA

[2018-05-14 11:32] Tgmstriker commented on #19207
Checking in on rohan100jain.

[2018-05-14 11:45] xsr-ai opened #19267 "Op type not registered 'NoOp' from toco"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: linux ubuntu 17.10
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: r1.6
- **Python version**: python 3.6.3
- **Bazel version (if compiling from source)*

[2018-05-14 12:32] tensorflowbutler commented on #19261
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-14 12:35] mrlhansen commented on #19203
I am experiencing the same problem on CentOS 7 with
- CUDA 8.0
- cuDNN 7.0
- GCC 4.8.5
- Bazel 0.10.1 (also tried 0.12.0).

[2018-05-14 12:41] xav12358 opened #19268 "Error when freeze the graph"
Information:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary 1.5
- **Python version**: 3.5
- **CUDA/cuDNN version**: No

Hello,

I use a model, in my code I save the model with that command:
`                writer = tf.summary.FileWriter("/tmp/model4/MTCNN/", self.sess.graph)
                saver = tf.train.Sa

[2018-05-14 12:58] dmus opened #19269 "tf.contrib.data.parallel_interleave with tf.data.Dataset.from_generator"
I think this is a feature request (or maybe I miss something). When data is coming from multiple remote sources multiple tf.data.Dataset.from_generator should run in parallel. Therefore tf.contrib.data.parallel_interleave is already available, see this small code example.

[code]
# where N is the number of generators you use

### Describe the problem
This problem with the code above is that genera

[2018-05-14 13:26] holyseven commented on #18222
Not sure if this is helpful to this issue, but I have figured out a trick of collecting statistics across GPUs and implemented in pure Python, [the complete code is here](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/model/utils_mg.py#L183).

In contrary to the default configuration when using multiple GPUs like this:
[code]
my idea is to use a list (of tensors) as input and output

[2018-05-14 13:30] ayyappa428 commented on #4196
how to create multiple instances using theano. If i change OMP_NUM_THREADS = 2 two cores will be enabled.But i want to create more instances like multi processing instead of having multiple workers.I want to send the multiple requests using theano is it possible?

[2018-05-14 13:43] nrstott commented on #19182
Thanks @mrry, will get started on it this evening and see if I can make some progress.

[2018-05-14 14:10] adekunleba commented on #18731
Hi @Kayoku ,

Tried to check the source code and found out it's one of the assertions causing the error.
[code]
One approach I have tried is to comment that out the line, but seems it's an important check for another codeline, hence it's required to pass. For now, I worked using the tfmobile approach instead, as I look futher to how my architecture can be refactored to meet the merge requirements.

[2018-05-14 14:17] gilmoright opened #19270 "Different dynamic rnn output depending on batch_size"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes, own code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS 6.7 and Windows 10
- **TensorFlow installed from (source or binary)**:  by pip install
- **Bazel version**:  N/A
- **TensorFlow installed from (source or binary)**:  by pip install
- **Tensor

[2018-05-14 14:36] mrry commented on #19269
It's possible with some involved usage of [`tf.py_func()`](https://www.tensorflow.org/api_docs/python/tf/py_func), but we've had the feature requested enough times that it's worth adding to the `Dataset.from_generator()` API. An implementation is currently out for review, and it will add an optional `args` argument to `Dataset.from_generator()`, allowing you to specify tensors that should be passe

[2018-05-14 15:00] henrysky commented on #19261
If you need Tensorflow on windows, someone compiled a bunch of Tensorflow wheels for Windows and they are available here: https://github.com/fo40225/tensorflow-windows-wheel

[2018-05-14 15:16] h3nok commented on #19235
Updated question with platform etc info

[2018-05-14 15:29] brge17 commented on #19186
The two key issues:

1. ```reset_states``` does not get called when ```fit_generator``` is used

2. Progress bar issues.

See  keras-team/keras#9446

[2018-05-14 15:40] drpngx commented on #18925
@akshaym could you look into this and if our dependency graph is healthy?

[2018-05-14 15:41] drpngx commented on #18383
We have the `inplace_ops` which can do update. Could you look into that and see what you think?

[2018-05-14 15:42] drpngx commented on #18383
/CC @zffchen78

[2018-05-14 15:43] drpngx commented on #18789
CC @ekelsen

[2018-05-14 15:59] drpngx commented on #19027
@tfboyd @tatianashp any comment here?

[2018-05-14 16:01] sarthmit opened #19272 "Gradient Penalty won't execute"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary (pip install inside conda)
- **TensorFlow version (use command below)**: 1.8.0
- **Python version**: 2.7.9
- **Bazel version (if compiling f

[2018-05-14 16:28] allenlavoie commented on #17257
I know of at least one user of mixed-case names.

Your example works for me assuming I build/use `checkpoint.TEST`. Your `tfe.Checkpoint` line is adding a new `MyModel` instance; are you just using a different instance?

[2018-05-14 16:28] JuanjoAlegria commented on #19062
Just today I came across this problem, and I can't think of a workaround. Also, I think this is also related to #13895.

[2018-05-14 16:36] allenlavoie commented on #19250
Mutable built-in data structures (lists, dicts) are going to be tricky to support, since we'd need to hook mutations for restore-on-create (monkey patching?). I'm fine with supporting tuples, though, and I will add checkpointable lists and dictionaries to `tf.contrib.checkpoint`.

[2018-05-14 16:39] ppwwyyxx commented on #18222
Thanks for sharing! I know how to implement it, but it's better if `tf.layers` can support it. @isaprykin mentioned that they actually are considering a different way to implement it (with threads).

[2018-05-14 17:05] alextp commented on #19222
@poxvoculi no idea. @vrv might know?

[2018-05-14 17:07] martinwicke commented on #19203
@chsigg Would TF still be compatible with CUDA8 or is that over?

[2018-05-14 17:07] holyseven commented on #18222
Great! Waiting for the good news!

[2018-05-14 17:14] arogozhnikov opened #19274 "tf.matching_files fails when there is a file with wrong permissions in a subdirectory"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu18.04
- **TensorFlow installed from (source or binary)**: pip installed binary
- **TensorFlow version (use command below)**: 1.8
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:

[2018-05-14 17:18] poxvoculi commented on #19240
@petewarden: Is OpenMP compatible with lite?  Or should this be treated as an eigen issue?

[2018-05-14 17:26] poxvoculi commented on #18893
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-14 17:28] poxvoculi commented on #18427
Is this still a problem?

[2018-05-14 17:32] poxvoculi commented on #18863
@rmlarsen Is this sort of graph transformation in the road map?

[2018-05-14 17:36] jbuisson1 commented on #19051
Same here

[2018-05-14 17:37] martinwicke commented on #18923
tensorflow/models is the right place for models. We are aiming not to include any in TF in the medium term.

[2018-05-14 17:37] #18923 closed

[2018-05-14 17:41] #18540 closed

[2018-05-14 17:41] nikonikolov commented on #2732
@jkschin Assuming that `tf.reduce_sum` and `tf.reduce_mean` are now deterministic, are all gradient based operations deterministic too (assuming the same data is passed to the neural network). I am still experiencing the problem in TF 1.8 and the non-determinism happens after a gradient step is taken. I can try to provide example, but first wanted to make sure determinism is expected with gradient

[2018-05-14 17:43] poxvoculi commented on #18532
I'm going to close this for now.  If it continues to be a problem and you can show a small reproducible example that suggests a bug, please reopen.

[2018-05-14 17:43] #18532 closed

[2018-05-14 17:48] #14753 closed

[2018-05-14 17:51] #18285 closed

[2018-05-14 17:52] deeppandya opened #19275 "tensorflow lite for android doesn't work with gradle version 4.4"
I am using mobilenetv2 pre-trained models to inference images. tensorflow lite for android takes 3 times more time to inference with gradle 4.4. if you change the gradle version to 4.1, it works as expected.

[2018-05-14 17:54] martinwicke commented on #2732
The gradient pass often contains ops that are rare in the forward pass. Is there a way to narrow this down further? There may be a reduction or something else which is non-deterministic.

We probably cannot claim that all of TF is deterministic yet.

[2018-05-14 17:58] achalshah20 commented on #19203
Does it has to do something with 3c245f52912612ed9d8e20245ddb5de055680969 ?

[2018-05-14 18:01] achalshah20 commented on #19266
Can you post the output of nvidia-smi ? Did you try https://github.com/tensorflow/tensorflow/issues/7653 ?

[2018-05-14 18:09] #19223 closed

[2018-05-14 18:14] achalshah20 commented on #19191
@xiaowenhe Based on your below screenshot, Tensorflow is only able to find CPU device not the gpu device. You can do following things to fix this:

**1. Make sure tensorflow is compile with cuda (My suspicion is here)**
2. Try running nvidia-smi to see if you have compatible GPU and your driver works

![image](https://user-images.githubusercontent.com/9772589/40015241-82c5c7d8-5767-11e8-9558-d081f

[2018-05-14 18:35] #18887 closed

[2018-05-14 18:39] vrv commented on #19222
@chsigg is our depthwise guru and probably knows best!

[2018-05-14 18:49] samikama commented on #19142
@MacwinWin, if you want to be able to use TRT4.0RC you need to recompile TensorFlow. However we are still working on TRT4.0 support in interface layer so not all features of TRT4 will be available to you. TRT4.0 support in Tensorflow will be available after TensorRT4.0 is released.

[2018-05-14 18:54] angersson commented on #19186
@fchollet Can you take a look at this?

[2018-05-14 18:58] tensorflowbutler commented on #19265
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-14 18:58] tensorflowbutler commented on #19263
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-14 18:59] tensorflowbutler commented on #18452
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-14 18:59] tensorflowbutler commented on #18964
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-14 18:59] tensorflowbutler commented on #18961
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-14 18:59] tensorflowbutler commented on #18516
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-14 18:59] tensorflowbutler commented on #18514
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-14 18:59] tensorflowbutler commented on #9518
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-14 18:59] tensorflowbutler commented on #18437
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-14 18:59] tensorflowbutler commented on #18400
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-14 18:59] tensorflowbutler commented on #18124
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-14 19:00] tensorflowbutler commented on #18065
Nagging Assignee @shivaniag: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-14 19:00] tensorflowbutler commented on #17747
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-14 19:00] tensorflowbutler commented on #16660
Nagging Assignee @case540: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-14 19:07] TEHEK commented on #783
I think I've just ran into this:

[code]

=\

[2018-05-14 19:29] YijinLiu opened #19277 "SSD mobilenet inference is slower w/ MKL"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
1.8.0 (could repro the same problem from head too)
- **Python version**:
N/A
- **Baz

[2018-05-14 19:37] angersson commented on #18660
@sibyjackgrove Has @fchollet's advice resolved your issue?

[2018-05-14 19:38] fchollet commented on #19186
Thanks for the report. This has been fixed internally a few days ago. It appears the fix is not yet on GitHub, but it should appear in the next few days.

[2018-05-14 19:38] #19186 closed

[2018-05-14 19:39] angersson commented on #19200
@zheng-xq Can you take a look at this?

[2018-05-14 19:41] angersson commented on #19155
@asimshankar Can you take a look at this?

[2018-05-14 19:47] angersson commented on #19220
Since there may be a workaround that does not involve creating a new op, this question is better asked on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow), where the answer may better help other developers. There is also a larger community that answers questions there.

If you ask a question there and find that there is no solution other than to create a new op, please file a

[2018-05-14 19:47] #19220 closed

[2018-05-14 20:13] karmel commented on #19263
@pkulzc , are the frozen versions of the model made available?

[2018-05-14 20:55] Craigacp opened #19279 "Serialising checkpoints and models to byte arrays"
### System information
- **Have I written custom code**: Yes
- **OS Platform and Distribution**: Linux, Oracle Linux 7.4
- **TensorFlow installed from**: source
- **TensorFlow version**: 1.7 & 1.8
- **Python version**: 2.7 & 3.6
- **Bazel version**: 0.11.1
- **GCC/Compiler version**: 4.8.5
- **CUDA/cuDNN version**: CUDA 9.0, cuDNN 7
- **GPU model and memory**: Titan X
- **Exact command to reproduc

[2018-05-14 21:04] nikonikolov commented on #2732
Hey, so here is a relatively simple example to reproduce. I tried it on CPU and results were the same. However, on GPU they were not. When I decreased number of iterations to 1 or 2, all the time I was able to get the same results (although I did not do a lot of runs). When the number of iterations is higher, say >10, I almost always get different results. Also when there is only 1 dense layer, th

[2018-05-14 21:10] reedwm commented on #19211
/CC @aaroey

[2018-05-14 21:12] aaroey commented on #19211
@samikama

[2018-05-14 21:12] jart commented on #18400
@yk5 Here's some feedback on boosted trees. PTAL

[2018-05-14 21:17] jart commented on #17845
I'm not able to reproduce this issue. What version of pip are you using? Does this happen after you run `pip install -U pip`?

[2018-05-14 21:17] superbobry commented on #19062
@JuanjoAlegria the workaround is to run the TF cluster on a single machine with just two tasks: chief doing the training, and evaluator doing solely the evaluation. Each task should be started in a separate process, e.g. via the [`ProcessPoolExecutor`](https://docs.python.org/3/library/concurrent.futures.html#concurrent.futures.ProcessPoolExecutor).

[2018-05-14 21:26] aselle commented on #19013
@mrry, could yoou PTAL?

[2018-05-14 21:34] mrry commented on #19013
I'm no curl expert, but this sounds like a contribution we'd welcome.

[2018-05-14 21:40] yk5 commented on #18400
@sshrdp @nataliaponomareva please comment if not a recommended way:

Hi, for this `contrib.boosted_trees` library, tree model class is public so that you could do similar to what's seen in [`model_fn.py`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/boosted_trees/estimator_batch/model.py#L108) -- creating an object by hand and calling relevant functions - `train()` / `pr

[2018-05-14 21:42] zheng-xq commented on #19200
It will be very helpful to have a small repro case.

CPU and GPU are known to produce slightly different results. For each operation, if the inputs are identical, the output should only have lsb difference. So if you observe large difference from a single operation, not a sequence of operations, it might be a bug somewhere. Otherwise, this is somewhat expected.

[2018-05-14 21:45] jart commented on #10870
I wish you'd mentioned RHEL6 earlier. GCC5 is ABI incompatible with GCC4.2. It's not entirely possible to have multiple versions of glibc / libstdc++ shared libraries on the same system. You *might* be able to statically link those libraries using the modern toolchain, although that'd likely make TensorFlow GPLv3, and could potentially cause other issues. There's also `patchelf` hacks. None of thi

[2018-05-14 21:57] make1980 commented on #18880
@saeta Could you comment on how to support this case using cluster spec propagation/cluster resolver?

In a 1 worker 1 ps setup, we start the worker first using cluster spec propagation. Then the machine which is supposed to run ps failed and ps ended up running on a different machine with a different IP. In this case the master service in the worker can't recognize the new ps since cluster resolv

[2018-05-14 21:59] mherkazandjian commented on #10870
tnx @jart for the explanation. That is helpful.
I will look into ``patchelf`` and take this to stack overflow.
But I am still puzzeled with the fact that i was able to execute a ``hello world`` by building a C++ example and linking it against the ``tensorflow:libtensorflow_cc.so`` shared lib (just for clarity, this shared lib was built with gcc5.4.0)

[2018-05-14 22:10] tfboyd commented on #11724
I am going to mark this as closed unless someone has a report from TF 1.8.  No disrespect.  It just pops up in my queue and without a repro for TF 1.8 and there are PRs that claim to have possibly fixed the problem it is really stale.  If the issue still exists with MKL then we can assign to @tatianashp and we can get Intel to address it.

[2018-05-14 22:10] #11724 closed

[2018-05-14 22:37] craigtao commented on #19261
My development environment：
Have I written custom code     NO
OS Platform and Distribution  Win7
TensorFlow installed from       github
TensorFlow version                 r1.2
Bazel version                           ？
CUDA/cuDNN version             NO   just for cpu
GPU model and memory         NO
Exact command to reproduce  NO

MSBuild /p:Configuration=Release ALL_BUILD.vcxproj

I follow README.m

[2018-05-14 22:37] samikama commented on #19211
The error there seems to be a little more restrictive than it is. An engine can run a smaller batch size than it is built for, but with less efficiency than it could if it was built for that batch size. However it can not run a batch size bigger than it is built for so it is not really wrong. We are going to change these code soon for other reasons and I will update the logic there then.

[2018-05-14 22:39] craigtao commented on #19261
@henrysky   thank you so much, I just need tf r1.2, and just for cpp,

[2018-05-14 22:48] reedwm commented on #19142
Closing because the original issue seems to be resolved.

[2018-05-14 22:48] #19142 closed

[2018-05-14 22:54] reedwm commented on #19073
I am still not convinced the high CPU utilization is due to cuEventQuery. The CPU should be high utilized due to the input pipeline that is used when `--data_dir` is set. As you said, training is meaningless without `--data_dir`, but for real training, the CPU needs to do a lot of work for the input pipeline and so will have high utilization. Do you have any evidence that the CPU has high utilizat

[2018-05-14 23:00] reedwm commented on #19081
/CC @fchollet, can you take a look?

[2018-05-14 23:01] reedwm commented on #18124
Closing this issue because the issues template was not filled out.

[2018-05-14 23:01] #18124 closed

[2018-05-14 23:31] fchollet commented on #19081
There's a PR awaiting merge that fixes this issue: https://github.com/tensorflow/tensorflow/pull/18854

[2018-05-14 23:43] igory1999 opened #19280 "cuda libraries cannot be found during linking"
Hi All,

I am trying to build tensorflow 1.8 with bazel 0.13, gcc 4.8.5, cuda 9.0, Anaconda3 5.1.0 on Scientific LInux 7.

This is HPC environment and applications packages are installed in non-standard locations.
I set up environment so that I can use all the above software from command line.
In addition I specify path to cuda and cudnn during configuration and use --action_env.
Nevertheless, the

[2018-05-14 23:59] guptapriya commented on #19069
Thanks for reporting the 2 issues Martin, and also the suggested solution - super helpful!
We will look into both the issues (initializer and IndexedSlices support).

[2018-05-15 00:08] henrysky commented on #19261
He did talk about compiling C++ standalone shared-lib on Windows and he did uploaded one for TF1.8

The discussion: https://github.com/fo40225/tensorflow-windows-wheel/issues/6
The TF1.8 C++ standalone shared-lib: https://github.com/fo40225/tensorflow-windows-wheel/tree/master/1.8.0/cpp

[2018-05-15 00:52] jart commented on #18443
Thank you for the feedback on doc improvement. We'd welcome a contribution that makes our docs more clear on this matter.

[2018-05-15 00:58] #18264 closed

[2018-05-15 00:59] tensorflowbutler commented on #19270
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce

[2018-05-15 00:59] tensorflowbutler commented on #19275
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-15 01:14] tkurmann commented on #5902
I would also be interested in knowing how to solve this issue. From my understanding, tensorflow::ops::Variable does not expose the tensor so we can memcpy into it. Is there any other way to get the cuda pointer from the Variable?

[2018-05-15 01:16] huanyingjun commented on #19263
@pkulzc
I tried  ssdlite mobilenev v2 , but failed to convert to tflite model. Some ops are not supported.
I am using the latest TensorFlow by commit ID : f27033fb1212d7031a359c913d0f59e976b14c14
below is the log:

bazel-bin/tensorflow/contrib/lite/toco/toco \
  --input_file=./tf_model/ssdlite_mobilenet/ssdlite_mobilenet_v2_coco_2018_05_09/frozen_inference_graph.pb \
  --input_format=TENSORFLOW_GR

[2018-05-15 01:19] syltruong commented on #19265
- Have I written custom code: No
- OS Platform and Distribution: macOS 10.13.4
- TensorFlow installed from: `pipenv install tensorflow`
- TensorFlow version: 1.8
- Python version: 3.6.5
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A
- Exact command to reproduce: see previous comment

[2018-05-15 01:39] oliverhu commented on #9400
@cwhipkey the memory allocation happens right after you call `tf.train.ClusterSpec` before the distributed session starts.

@tbchj have you found a solution? This issue is bombing our containers :(

[2018-05-15 01:52] oliverhu opened #19281 "Tensorflow takes up all system memory in distributed training"
**System Information:**

- OS Platform: Redhat 6.6
- TensorFlow installed from binary
- TensorFlow version: 1.6.1
- CUDA version: 9.1
- cuDNN version: 9.1

output for print(tf.GIT_VERSION, tf.VERSION):
('v1.6.0-rc1-3-g690ce9c6cc', '1.6.0-rc0')

**Problem:**
I'm running distributed training with TensorFlow GPU build in a managed cluster. Each box has 4 GPUs and multi tenancy is enabled in this clus

[2018-05-15 02:01] mrry commented on #19269
The implementation has been submitted and will become available in the next sync. To work around the problem using `tf.py_func()` in a `Dataset.map()`, you'd have to maintain a list of Python iterator objects, then write a Python function that takes an integer, looks up the corresponding Python iterator in the list, and then returns the result of calling `next()` on it. (This is essentially all th

[2018-05-15 02:03] DKingCN opened #19282 "docker image temsorflow:latest-gpu-py3 failed to import tensorflow"
Im running tensorflow with cuda in a docker container as an instance of tensorflow/tensorflow:latest-gpu-py3.

When `import tensorflow` in a python3 terminal, it throws an error because libcuda.so.1 not in library path.

These commands fix it.
[code]

Please fix that bug in docker image.

[2018-05-15 02:26] cwhipkey commented on #9400
What does the tf.train.Server call look like?  Are you passing in the 'config' parameter?

[2018-05-15 02:28] JustTryItNow commented on #17129
iI met the same problem,have you solved it?

[2018-05-15 02:31] laetitiaoist commented on #5837
Hi @alexgkendall, was this ever done? Thanks!

[2018-05-15 02:37] tkurmann opened #19283 "Tensor with GPUBFCAllocator generate Segfaults on tensorflow::ops"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: r1.8
- **Python version**:  2.7
- **Bazel version (if compiling from source)**: 0.18

[2018-05-15 02:51] yryun opened #19284 "Training bug in mobilenet v1 extractor for Faster r-cnn"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
custom kitti format dataset (good performance in Inception, Resnet extractor)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**: 1.6.0
- **

[2018-05-15 02:58] #19284 closed

[2018-05-15 04:11] sibyjackgrove commented on #18660
@angersson
I tried making the custom layer like below:
[code]
Then used it within the model like below:
`z = MyLayer()([z_mean, z_log_var]) `
However it is throwing off an error.
Could you tell me if I made the custom layer correctly? I was following example of antirectifier custom layer in the Keras repository.

[2018-05-15 04:36] craigtao commented on #19261
@henrysky
thank you! i just need TF1.2

[2018-05-15 04:37] craigtao commented on #19261
cmake .. -A x64 -DCMAKE_BUILD_TYPE=Release -DSWIG_EXECUTABLE=D:/all_lib/swigwin-3.0.12/swig.exe -DPYTHON_EXECUTABLE=D:/all_lib/Python36/python.exe -DPYTHON_LIBRARIES=D:/all_lib/Python36/libs/python36.lib -Dtensorflow_WIN_CPU_SIMD_OPTIONS=/arch:AVX -Dtensorflow_BUILD_ALL_KERNELS=ON -Dtensorflow_BUILD_CC_EXAMPLE=ON -Dtensorflow_BUILD_PYTHON_BINDINGS=OFF -Dtensorflow_BUILD_PYTHON_TESTS=OFF -Dtensorfl

[2018-05-15 05:03] mackiem commented on #17445
Quite sure, 2.1 is too old for a lot of functionality and acceleration. Sorry.

[2018-05-15 06:11] oliverhu commented on #9400
Yes, I also tried putting config there, didn't work. Tried both `config.gpu_options.per_process_gpu_memory_fraction = 0.2` and `config.gpu_options.allow_growth=True`

[code]

[2018-05-15 06:11] oliverhu commented on #9400
@cwhipkey  above

[2018-05-15 06:13] ghostplant commented on #19073
I just profiled the reason, and here is my explanation:

By default, the `num_inter_threads` is 0, and my machine has 32 cores, and I found that `num_inter_threads` actually selects 32 by tensorflow's recommendation. Thus during the whole benchmark of tf_cnn_benchmark, I found 41 threads created by tensorflow in total: 1 thread for boot, 8 thread for num_intra_threads, and 32 thread for num_inter_

[2018-05-15 06:29] ghostplant commented on #19073
By using sympathy data source, the cuEventQuery is very lite, and CPU occupation is ~400%.

After giving `--data-dir`, it actually just increase ~10 additional `cuMemcpyHtoDAsync` calls to CUDA which reaches 3200% cpu occupation and this is definitely not a expected thing.

[2018-05-15 06:34] tensorflowbutler commented on #19279
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-05-15 06:34] tensorflowbutler commented on #19280
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-15 06:38] lxhner commented on #19266
@achalshah20 yes i tried everything. cold reboot. hard reboot, updates ...
Output of nvidia-smi:
![unbenannt](https://user-images.githubusercontent.com/18403881/40040579-1a11e3a2-581b-11e8-94f0-972d5b98a6a7.PNG)

I found a website where they told to install `nvidia-modprobe`. Didnt fix my problem.
I Found another website where they said the set the gpu with `os.environ`, didnt work either.

[2018-05-15 06:52] mrlhansen commented on #19249
Same issue here #19203

[2018-05-15 06:59] smit-hinsu commented on #16239
The change is currently in review.

Did you consider using MaxBytesInUse method that reports the peak memory usage of a device to find if a particular model and batch_size pair are runnable on an unknown GPU?
See https://www.tensorflow.org/api_docs/python/tf/contrib/memory_stats/MaxBytesInUse

[2018-05-15 07:09] oscarriddle opened #19286 "[tf-gpu1.7][tf-serving] Error with cuDNN version incompatible issue when load a ckpt model to do the inference"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:  NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Red Hat 4.8.5-16, Linux version 3.10.0-693.5.2.el7.x86_64
- **TensorFlow installed from (source or binary)**: pip (python 2.7)
- **TensorFlow version (use command below)**: tensorflow-gpu==1.7.0
- **Python ve

[2018-05-15 07:26] doanthuan commented on #11280
I'm facing the same issue. Does anyone has solution for this? Thank you

[2018-05-15 07:41] peshmerge commented on #7497
@poldap can you elaborate more on this

What do you mean exactly? How can I do that?

Thanks

[2018-05-15 08:06] ghostplant commented on #19073
By using synthetic data source, here is the call counts:
[code]
It only costs ~400% cpus which is quick;

However, by using real `--data-dir`, here is the call counts:
[code]
It displays that 99% CUDA calls are the same for above 2 cases expect using `--data-dir` will have 240 more `cuMemcpyHtoDAsync_v2` (extactly all 240 times of  NCHW batch inputs for every mini-batch), but the CPU occupation in

[2018-05-15 08:35] bhack commented on #17950
We have similar problem with 1.8.0 on the validation set. Is it really related to batch normalization parameters?

[2018-05-15 08:46] gavinwtaylor commented on #19249
Same problem.

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): r1.7
- Python version: 3.5
- Bazel version (if compiling from source):.13.0- (@non-git)
- GCC/Compiler version (if

[2018-05-15 08:54] bhack commented on #17950
Is it related to https://github.com/tensorflow/tensorflow/issues/16455

[2018-05-15 08:58] bhack commented on #17950
/cc @CasiaFan

[2018-05-15 09:01] marcsto commented on #4648
I updated fast_predict2.py to support tensorflow 1.4 and later. I hope it helps!
https://github.com/marcsto/rl/blob/master/src/fast_predict2.py

[2018-05-15 09:14] gavinwtaylor commented on #19203
As I stated in a reply in #19249, I'm having this problem, as well.

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): r1.7
- Python version: 3.5
- Bazel version (if compiling from

[2018-05-15 09:28] huanyingjun opened #19287 "How to convert "Where" and "NonMaxSuppressionV2" ops into tflite"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-05-15 09:36] lee-bin commented on #19195
Looks like we have the same problem..

[2018-05-15 09:38] bhack commented on #17950
See also https://github.com/keras-team/keras/pull/9965#issuecomment-382857348 /cc @fchollet @yifeif

[2018-05-15 09:57] HarshHC commented on #18930
Im getting a simillar error. Found any solution so far?

[2018-05-15 10:07] helloworkcupid commented on #18930
No，，，，

[2018-05-15 10:14] VikingMew opened #19288 "The usage of `Dataset.from_generator()` function"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Centos 7
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.7
- **Python version**: 3.4
- **Bazel version (if compiling from source)**:
- **GCC/Compiler versi

[2018-05-15 10:17] lenlen opened #19289 "Error in model load weights"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: from nightly-devel-gpu-py3 and nightly-gpu-py3 docker images
- **TensorFlow installed from (source or binary)**: from nightly-devel-gpu-py3 and nightly-gpu-py3 docker images
- **TensorFlow version (use comman

[2018-05-15 10:33] funkey commented on #1661
nD convolutions can be realized by summing a sequence of (n-1)D convolutions. See [here](https://github.com/funkey/conv4d) for an implementation of a 4D convolution layer using TensorFlow's `conv3d` layer. Details can be found in the [docstring](https://github.com/funkey/conv4d/blob/master/conv4d.py#L27).

[2018-05-15 10:34] funkey commented on #9513
By the way, this issue is a duplicate of https://github.com/tensorflow/tensorflow/issues/1661.

[2018-05-15 11:14] ialhashim opened #19290 "Multiple TITAN V introduce new error: CUB segmented reduce error"
### System information
- Keras code (with tf backend) that works perfectly on multiples of Titan Xp or 1080 Ti and tested on multiple TF versions both on Windows and Ubuntu
- Windows 10
- TensorFlow  1.8.0 (b'v1.8.0-0-g93bc2e2072' 1.8.0)
- Python 3.6.5
- CUDA 9.0/ cuDNN 7.0
- Two TITAN V

### Describe the problem
We upgraded our hardware from two Titan Xp to two Titan V. Running the exact same tra

[2018-05-15 12:19] namrata-ibm commented on #16862
Tried upgrading Compress to 1.16.1, still facing same issue intermittently. Raising an issue in JIRA.

[2018-05-15 12:34] tensorflowbutler commented on #19281
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-15 12:34] tensorflowbutler commented on #19282
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-15 13:10] achraf-boussaada commented on #15633
I think there is a solution to the android studio and gradle issue. (please correct me if I'm wrong or if there is a better solution ) :

- It's not the best approach but there is a Bazel plugin that we can install inside Android Studio to "replace" Gradle and we can build and run our project using Bazel through AS.

- I read several articles about Bazel and I came across this [question](https://w

[2018-05-15 13:50] kirk86 opened #19292 "tf.layers.Layer does not preserver the keras metadata entered into a tensor/placeholder"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.8.0-rc1
- **Python version**:  3.6
- **Bazel version (if compiling from source)**: 0.12.

[2018-05-15 14:22] JaviBonilla opened #19293 "Feature request: Mask R-CNN support on TensorFlow Lite"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux openSUSE Leap 42.3
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.8.0
- **Python version**:
- **Bazel version (if compiling from source)**:
- *

[2018-05-15 14:35] blezek commented on #19151
@anj-s @jsh11b appreciate the answer, I didn't read about the limitations of `MirroredStrategy`.  Will use `tf.contrib.estimator.add_metrics` to clone the estimator with metrics.

[2018-05-15 14:35] #19151 closed

[2018-05-15 15:33] tokotchd commented on #19193
@Hadjimina updated snippet

[2018-05-15 15:49] bhack opened #19295 "[FR] Add warm_start_from in model_to_estimator"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Docker nightly
- **TensorFlow installed from (source or binary)**: Docker nightly
- **TensorFlow version (use command below)**: Docker nightly
- **Python version**: Docker nightly
- **Bazel version (if compil

[2018-05-15 16:04] Bhumbra commented on #19081
Thanks. It looks like the issue was first raised at https://github.com/tensorflow/tensorflow/issues/18706 nearly a month ago. It seems a peculiarly long-winded procedure to correct 'stddev = math.sqrt(scale)' to 'stddev = math.sqrt(2.274*scale)' but never mind!

[2018-05-15 16:17] DKingCN commented on #19282
Since this is a docker image, all information is included in your dockerfile, or they are host machine env not affecting container. Considered that situation, I left those field blank.

To reproduce:
Install CUDA and cuDNN
Install nvidia-docker
`nvidia-docker run -d --name tftest  tensorflow/tensorflow:latest-gpu-py3`
`docker exec -ti tftest python3`
`import tensorflow`

It throws libcuda.so.1 not

[2018-05-15 16:25] tatianashp commented on #19277
+ @agramesh1

[2018-05-15 16:33] oliverhu commented on #19281
Have I written custom code: No
OS Platform and Distribution: Redhat 6.6
Bazel version: 0.9
CUDA/cuDNN version: 9.1/9.1
GPU model and memory: K80, 12GB
Exact command to reproduce:
[code]

[2018-05-15 16:57] superbobry opened #19296 "tf.gfile.Open has different semantics from open"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.13
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.8.0-0-g93bc2e2072 1.8.0
- **Python version**: 3.6
- **Bazel version (if compiling from s

[2018-05-15 17:09] gunan opened #19297 "[Feature Request] GCS and S3 support on windows"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Will be required.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows, all versions
- **TensorFlow installed from (source or binary)**: source and binary,
- **TensorFlow version (use command below)**: master, and all releases
- **Python version**: python 3

[2018-05-15 17:10] gunan commented on #11280
I have created an issue that describes the requested feature cleanly.
I am closing this issue as the duplicate of #19297

[2018-05-15 17:24] ravwojdyla opened #19298 "java/sbt. Cannot register 2 metrics with the same name on cross tests"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: osx 10.11.6
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.8
- **Python version**: NA
- **Bazel version (if compiling from source)**: NA
- **GCC/Com

[2018-05-15 17:35] reedwm commented on #19283
@ekelsen can you comment?

[2018-05-15 17:43] rundembear commented on #18861
@aaroey Thank you very much for your explanation. I don't feel like our language is quite lining up so I'm not sure whether your concern is warranted.  I am not doing anything to 'rename' the GPUs. As far as I know /gpu:3 is still /gpu:3 but I have created a tensorflow session in which reference to /gpu:0 will be redirected to /gpu:3. So if this mechanism were working as described the problem you

[2018-05-15 17:48] drpngx commented on #18383
Yes. It's available with a direct import, not via the public API. The question is whether it is what you need. For the strided version, there the [XlaDynamicUpdateSlice](https://www.tensorflow.org/performance/xla/operation_semantics#dynamicupdateslice) IIRC. Can you check that?

[2018-05-15 17:50] pjox commented on #17801
Is there a workaround without using root privileges? I am working on a cluster and I cannot move these files.

[2018-05-15 17:57] girving opened #19299 "resource_mgr.h violates its own thread safety annotations"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.13.4
- **TensorFlow installed from (source or binary)**: Source (ff6be80a1ec3c353ebd0d17e2f0b46d9097310db)
- **TensorFlow version (use command below)**: `b'v1.8.0-1663-gb2511764a7' 1.8.0`
- **Python

[2018-05-15 18:00] girving commented on #19299
Cc @alextp, since https://github.com/tensorflow/tensorflow/commit/a72ee2f74061cdd72f1197eed4c90a8216d39d74.

[2018-05-15 18:16] ushnish opened #19301 "Broken link on "Simple text classifier with TF-Hub" tutorial"
In the Feature Columns part of the page, i.e.

The link in text "feature column" is broken.

[2018-05-15 18:30] sayfee commented on #6698
Adding this in the begining of the file worked for me:

config = tf.ConfigProto()
config.gpu_options.allow_growth = True
sess = tf.Session(config=config)

[2018-05-15 18:41] tensorflowbutler commented on #18360
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-05-15 18:41] tensorflowbutler commented on #18453
Nagging Assignee @rohan100jain: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:41] tensorflowbutler commented on #18564
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:42] tensorflowbutler commented on #18859
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:42] tensorflowbutler commented on #18894
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:42] tensorflowbutler commented on #18905
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:42] tensorflowbutler commented on #18917
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:42] tensorflowbutler commented on #18934
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:42] tensorflowbutler commented on #18976
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:42] tensorflowbutler commented on #18979
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:42] tensorflowbutler commented on #17746
Nagging Assignee @shivaniag: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:42] tensorflowbutler commented on #13101
Nagging Assignee @mrry: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:43] tensorflowbutler commented on #17493
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:43] tensorflowbutler commented on #17571
Nagging Assignee @fchollet: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:43] tensorflowbutler commented on #9171
Nagging Assignee @asimshankar: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:43] tensorflowbutler commented on #17748
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-15 18:43] tensorflowbutler commented on #17757
It has been 59 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-15 18:43] tensorflowbutler commented on #17763
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:43] tensorflowbutler commented on #18058
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:43] tensorflowbutler commented on #18096
Nagging Assignee @jart: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 18:44] tensorflowbutler commented on #18112
Nagging Assignee @rmlarsen: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-15 19:06] bhack commented on #18791
There is a problem also with the py3 related docker images:
https://hub.docker.com/r/tensorflow/tensorflow/tags/

[2018-05-15 19:08] rajivkapoor commented on #5592
Better late than never :).  Recent TF builds (1.8) with CUDA 9.1 has indeed fixed the issue.  Depending on the batch size, I see pretty good fp16 perf. on NVidia P100 and V100 for both inference and training.
\rajiv

[2018-05-15 20:03] aarontan94 opened #19302 "Image Classification: Usage with C++ API (python_api_gen failed)"
### System information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
**No custom code**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
**Ubuntu 16.04**
- TensorFlow installed from (source or binary):
**Installed from source**
- TensorFlow version (use command below):
**Tensorflow 1.8**
- Python version:
**3**
- Bazel version (if compi

[2018-05-15 20:10] rnunziata commented on #16862
I tried added the url as stated above but still get errors: complains about checksum

[code]

[2018-05-15 20:10] aarontan94 commented on #17447
Hello,

I had similar issues but after some trying, I ran it in my virtual environment in the tensorflow directory and it worked.

Hope this helps,
Aaron

[2018-05-15 20:59] pbamotra opened #19303 "Model checkpoint issue: serialization error for tf.string"
TF version: 1.8
Installation: tensorflow/tensorflow:latest-gpu
OS details:
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.4 LTS
Release:	16.04
Codename:	xenial

AWS instance: p2.xlarge
GPU details:
[code]

Custom code:
[code]

[code]

[2018-05-15 21:05] thomasyoung opened #19304 "With TF C-API, got "GPU device not registered" and no-op for SessionRun."
Please go to Stack Overflow for help and support:

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.7.0/1.8.0
- **Python version**: 2.7
- **B

[2018-05-15 21:08] alextp commented on #19299
It definitely violates that requirement, but so does a lot of other code
(including the implementation of Variable and ResourceVariable). That
requirement is only meaningful for GPU tensors, though, and resource
tensors are always on host so this does not matter.

On Tue, May 15, 2018 at 1:37 PM Geoffrey Irving <notifications@github.com>
wrote:

--
 - Alex

[2018-05-15 21:11] elgehelge opened #19305 "Inconsistent behaviour when `Dataset.repeats()` and `max_steps` differ"
### System information
(This issue is about an inconsistent behaviour between running TF with and without GPU. I will update the system information when it is clear to me which system that is not behaving.

### Describe the problem
I get inconsistent behaviour when I try to train a model with/without GPU. The problem can be summarized with these few lines of code:
[code]
With a `make_dataset_iter`

[2018-05-15 21:18] aarontan94 commented on #19302
Figured it out, running the following worked:
bazel build tensorflow/examples/label_image:label_image

instead of
bazel build tensorflow/examples/label_image/...

[2018-05-15 21:18] #19302 closed

[2018-05-15 22:04] jart commented on #18096
I'm going to close this out as a duplicate of #16889. Please follow that issue for updates.

[2018-05-15 22:11] jart commented on #19297
Here's an interesting fact I learned recently, which might help the person who implements this warn users about network egress fees, or misconfigured deployments. It's possible to automatically get the GCE host region with `curl -sfL metadata.google.internal/0.1/meta-data/zone | sed -n 's!.*/\([^-/]*-[^-/]*\).*!\1!p'` and get the GCS $BUCKET region prefix with `curl -sfLH "Authorization:Bearer $(c

[2018-05-15 22:26] alextp commented on #19299
I've already submitted this patch internally, it should trickle out
externally soon :-)

Thanks, though

On Tue, May 15, 2018 at 3:26 PM Geoffrey Irving <notifications@github.com>
wrote:

--
 - Alex

[2018-05-15 22:45] yongtang commented on #19274
I can verify the issue. Created a PR #19307 for the fix.

[2018-05-15 23:00] aaroey commented on #18861
Hi @rundembear,

Sorry for the confusion, let me clarify:
1. it's totally fine to use different configs in different process, there is no restriction on that. For example, you may set CUDA_VISIBLE_DEVICES=1 in one process and 2 in another, you may also set visible_gpu_device or any other ConfigProto options differently.
1. in the same process, if possible, we should use same [GPUOptions](https://g

[2018-05-15 23:25] robieta commented on #19265
Thank you for providing such a clear minimal case. I am able to replicate this behavior, and it appears to go back to at least version 1.0.0. I'll update when I know more.

[2018-05-15 23:59] rohan100jain commented on #15554
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-05-15 23:59] #15554 closed

[2018-05-16 00:03] rohan100jain commented on #18376
We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2018-05-16 00:03] #18376 closed

[2018-05-16 00:08] rohan100jain commented on #19041
Can you please elaborate how you use placeholders in the code here? Some code snippet on how you're setting those up and passing them into the numpy_input_fn?

[2018-05-16 00:17] jhseu commented on #11280
+1 to what Justine said, but if anyone wants to add support for GCS on Windows, feel free to send me a pull request.

[2018-05-16 00:31] allenlavoie commented on #18174
What exactly did you do with https://github.com/yjmade/ios_camera_object_detection ? And why is it a TensorFlow issue?

[2018-05-16 00:32] #19304 closed

[2018-05-16 01:07] tensorflowbutler commented on #19292
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-05-16 02:51] eduOS commented on #654
@PrajitR I extended your version and verified it. Hope it helps.

https://stackoverflow.com/a/50304227/3552975

[2018-05-16 03:11] yoavz commented on #16889
Have you tried setting your `inter_op_parallelism_threads` to 1? Some core TensorFlow operations on multi-core CPU will be non-deterministic by default, due to parallel execution being enabled by default.

https://stackoverflow.com/questions/41233635/meaning-of-inter-op-parallelism-threads-and-intra-op-parallelism-threads

[2018-05-16 03:15] yoavz commented on #18096
I don't believe that this issue is a duplicate of https://github.com/tensorflow/tensorflow/issues/16889. https://github.com/tensorflow/tensorflow/issues/16889refers to achieving determinism on _CPU_ -- this feature request refers to enabling determinism on _GPU_ via enabling cudNN options. @jart -- can you take another look at this issue?

[2018-05-16 03:49] jart commented on #18096
There were GPU Non-determinism Docs contributed in #10636. @drpngx closed the PR last year, mentioning it'd be obsolete soon. I'll reopen and assign to him.

[2018-05-16 04:44] han-qiu commented on #17801
has anyone successfully build the lastest version of tensorflow with **cuda8** and may share the python package file?

[2018-05-16 04:45] han-qiu commented on #17801
has anyone successfully build the lastest version of tensorflow with **cuda8** and may share the python package file?

[2018-05-16 04:45] han-qiu commented on #17801
has anyone successfully build the lastest version of tensorflow with **cuda8** and may share the python package file?

[2018-05-16 04:57] harishankards opened #19310 "What packages I should use to build my Relationship advisor algorithm?"
Hey guys,

Good day!

I'm trying to build a Relationship advisor using Machine Learning.

**Project Description:** The system will be presented to the couples who are going to be in a relationship / going to apply divorce / going to marry. They will be asked a set of questions by the system about their habits, lifestyle, behaviour etc., Based on the answers provided by both of them, the system wil

[2018-05-16 05:31] sonu107 commented on #503
Now Is there any documentation for hyperparameter configuration like?

[2018-05-16 05:35] nrothGIT commented on #18919
I had a related follow up. I am following the pattern shown above. But when I restore a trained graph, and evaluate the 'preds', I seem to get substantially different (and worse) outputs than in my train graph. Is there some extra step I need to take to make the eval graph line up with the train graph for quantization? Or what is the best way to confirm that the eval graph quantization is working?

[2018-05-16 05:45] mrry commented on #13610
Reassigning this to @rohan100jain, since he is currently looking into improvements to `prefetch_to_device()`, including for multi-GPU training and for chaining additional computation on the GPU.

[2018-05-16 05:53] #18488 closed

[2018-05-16 06:28] twjang commented on #19203
Here is a quick fix. Please change ./tensorflow/core/platform/macros.h as following:

from
#define TF_PREDICT_FALSE(x) (__builtin_expect(x, 0))
#define TF_PREDICT_TRUE(x) (__builtin_expect(!!(x), 1))

to

#define TF_PREDICT_FALSE(x) (x)
#define TF_PREDICT_TRUE(x) (x)

[2018-05-16 06:33] phildue commented on #17684
Maybe this holds only for me but I got it solved. I defined the graph using keras. The problem was I called K.learning_phase(0) *after* defining the graph. This led to the above error. After calling it before defining the model it works :)

[2018-05-16 06:37] tensorflowbutler commented on #19301
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-16 06:37] tensorflowbutler commented on #19303
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-16 06:37] tensorflowbutler commented on #19305
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-16 06:43] xiechao4 opened #19312 "std::to_string issue when compile tensorflow lite with android ndk"
I add some code in tflitedemo, and will use std::to_string, but i failed with error that
error: no member named 'to_string' in namespace 'std'

the compiling command of tflite indicates it will use gcc-4.9 include files
external/androidndk/ndk/toolchains/llvm/prebuilt/linux-x86_64/bin/clang .... -isystem external/androidndk/ndk/sources/cxx-stl/gnu-libstdc++/4.9/include -isystem external/androidndk

[2018-05-16 06:56] dbarta opened #19313 "BUG: Arithmetic computations that should be identical are not?"
### System information
System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.13.4
TensorFlow installed from (source or binary): Binary
TensorFlow version (use command below): v1.8.0-0-g93bc2e2072 1.8.0
Python version: 3.5.4
Bazel version (if compiling from source): 0.1

[2018-05-16 07:18] suryathemass opened #19315 "AttributeError: 'module' object has no attribute 'Exporter'"
i ran retrain.py
i got the code from tensorflow.org

Traceback (most recent call last):
  File "retrain.py", line 133, in <module>
    import tensorflow_hub as hub
  File "/home/pi/.local/lib/python2.7/site-packages/tensorflow_hub/__init__.py", line 26, in <module>
    from tensorflow_hub.estimator import LatestModuleExporter
  File "/home/pi/.local/lib/python2.7/site-packages/tensorflow_hub/estim

[2018-05-16 07:31] HwMohanLiu opened #19316 "[TF-Lite] densenet.pb at /contrib/lite/g3doc/models.md cannot be loaded"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: r1.8
- **Python version**:  2.7
- **Bazel version (if compiling from source)**: 0.11.0
- **

[2018-05-16 07:32] sjperkins commented on #13308
This still occurs on tensorflow 1.8.0 CPU and Ubuntu 16.04, g++ 5.4.0.

Is there an alternative way to submit work to the intra-op threadpool for custom threads? It also might be worth modifying the [Adding an Op](https://www.tensorflow.org/extend/adding_an_op) docs to indicate that Shard might not work or provide an alternatve.

[2018-05-16 07:40] dimitryn opened #19317 "TfLiteCameraDemo performance with and without NNAPI"
Hi ,
I running TfLiteCameraDemo.apk on Google Pixel 2 8.1 Android.
when NNAPI = false apk display 90-80 ms per frame
when NNAPI = true apk display 170- 200 ms per frame.

Is that NNAPI current performance ? match slower than Tflite path !?

Thanks.

------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

[2018-05-16 07:42] YijinLiu commented on #19277
@agramesh1 I disabled threading for tensorflow. Anyway, run the tests with KMP_BLOCKTIME=0, no difference noticed.

[2018-05-16 08:52] makeandbreak commented on #18689
"will tensorflow-gpu work on a processor without AVX?"

I have tested TensorFlow 1.8 GPU on windows and it seems AVX code is in the base code. So in other words no it does not work.

[2018-05-16 08:53] batzner opened #19318 "Simple Keras model does not compile in float64 mode"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Sierra 10.12.6
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.8.0
- **Python version**: 3.6.3
- **Bazel version (if

[2018-05-16 08:54] chenlh14 opened #19319 "Can't import interpreter from tensorflow.contrib.lite.python"
![image](https://user-images.githubusercontent.com/22855898/40106717-0ef62cda-5929-11e8-806e-8e0ed2b14254.png)
tensorflow 1.8.0
tensorflow.contrib.lite has no attribute 'python', thus it's impossible to import interpreter from tensorflow.contrib.lite.python, which is in your tensorflow/tensorflow/contrib/lite/python/interpreter_test.py

[2018-05-16 09:36] RayAndWind commented on #3729
@chenghuige
https://github.com/chenghuige/tensorflow-exp/tree/master/examples/tf-record/sparse  404 error
what's happen?

[2018-05-16 09:40] simonfernandes7389 opened #19320 "NULL for interpreter->typed_tensor<uint8_t>(input)"
Hi there, for my iOS app i'm using tensorflow-lite,
I'm facing this issue after initializing the interpreter
In,
**int input =interpreter->inputs()[0];**
**uint8_t \*input_index = interpreter->typed_tensor<uint8_t>(input);**

input_index = NULL and input = 27

May I know what is **input** and what are the possibilities that **input_index** will be **NULL**

Have I written custom code - No
OS Platf

[2018-05-16 09:49] rundembear commented on #18861
@aaroey Thank you so much for the clarification. In theory, as our current system is set up in a SIMD-like way, what we are doing quite possibly is fine, but I understand that that is by accident rather than design and that there may well be side-effects which at some point will bite us. It also sounds as if we would be best-advised to rework our code to behave in a supported way.

You have defini

[2018-05-16 09:50] superbobry opened #19322 "tf.gfile.GFile deadlocks on HDSF access after a fork()"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.13
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.8.0-0-g93bc2e2072 1.8.0
- **Python version**: 3.6
- **Bazel version (if compiling from s

[2018-05-16 09:52] krantideep95 opened #19323 "Error while building tensorflow using cmake"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux
- **TensorFlow installed from (source or binary)**: NA
- **TensorFlow version (use command below)**: NA
- **Python version**:  NA
- **Bazel version (if compiling from source)**: NA
- **GCC/Compiler vers

[2018-05-16 09:55] JaviBonilla commented on #15633
@davidfant
Did you manage to get to the multiple outputs in TensorFlow Lite C++?

[code]

[2018-05-16 10:04] candyzone opened #19324 "[feature request] large scale embedding for sparse features"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux CentOS 7
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.0 release
- **Python version**: python2.7
- **Bazel version (if compiling from source

[2018-05-16 10:16] MILAB-yhg commented on #17702
@taixhi simple but cool solution there. thanks a lot.

[2018-05-16 10:26] simonfernandes7389 opened #19325 "Alternative to image_tensor_mapped in Tensoreflow-Lite"
Hi there, For my iOS app using Tensorflow the pre-processing was done by using image_tensor_mapped. i.e.

[code]
What will be the alternative for image_tensor_mapped in Tensorflow-lite(tflite)

Have I written custom code - No
OS Platform and Distribution - MacOS
TensorFlow installed from Pod
TensorFlow version - r1.8
TensorFlowLite version - 0.1.7
Bazel version - 0.11.0
CUDA/cuDNN version  - N/A
G

[2018-05-16 10:38] lenlen commented on #17950
we have encountered the same issue both with tf 1.8.0 and master branch

[2018-05-16 11:11] mrlhansen commented on #19203
@karta0807913 This looks like an error in GCC and not something related to TF. I suspect you might be running out of memory. Try limiting the number of bazel jobs by adding e.g. --jobs=10 to the bazel command (after the build argument).

[2018-05-16 11:28] sanket-kamthe commented on #19145
Thank for your reply. I can confirm that with your suggestions I do see the improvements.
Unfortunately, I have to do this over much lower dimensions and may the gain that case is very marginal.

However, I do like this feature. I will close this issue with results confirming @srvasude  suggestions.

[code]

[code]

[2018-05-16 11:28] #19145 closed

[2018-05-16 11:37] sleighsoft commented on #17257
So you do?
[code]

Do you have any idea why this error could occur?
[code]

[2018-05-16 11:39] javidcf commented on #18383
@drpngx Thanks, yes `XlaDynamicUpdateSlice` seems exactly like what I was referring to. I see these ops have been added more recently and they do not yet have a public documented API for regular Python graph building but I guess they will eventually, so if it is a feature that is already being worked on maybe the issue can be closed?

[2018-05-16 12:28] ialhashim commented on #19290
The fields are filled, do I need to modify the format to match the initial issue guide?

[2018-05-16 12:35] tensorflowbutler commented on #19310
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-16 13:15] gilmoright commented on #19270
UPD
Example code was tested in jupyter-notebook.
Also one of my colleague tried this code, and he got all True using model_config["n_hidden"]=10, but when he tried model_config["n_hidden"]=256, sometimes (res1[0]==res2[0]).all() was True, sometimes False, same with (res2[-1]==res3[-1]).all()

[2018-05-16 13:15] karllessard commented on #17390
Hi @arnaghizadeh , even if #18192 has been commited and that you can build a graph out of it, the work is still in progress and only curious developers should make use of those wrappers right now. To have a fully-compliant graph building API, there is two more tasks to be completed:
1. Generate the API classes that exposes those wrappers in a builder fashion. This is what will allow you to write c

[2018-05-16 13:17] harishankards commented on #19310
Hi @tensorflowbutler,

Thanks for the response.

Have I written custom code: No.  I'm trying to explore the possibilities for now and then I'll write code.
OS Platform and Distribution:  Ubuntu 17.04(mine) and Windows 10(friend)
TensorFlow installed from: N/A
TensorFlow version: N/A
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce: N/A

[2018-05-16 13:34] aaroey commented on #18861
Thanks @rundembear for understanding. :)

[2018-05-16 13:36] aaroey commented on #18861
I'm closing this issue, feel free to reopen if there are any other questions.

[2018-05-16 13:36] #18861 closed

[2018-05-16 13:41] #18830 closed

[2018-05-16 14:03] drpngx commented on #18383
If you want to have it exposed the way you describe in the preamble, then we're not working on it AFAIK.

[2018-05-16 14:06] drpngx commented on #18096
/CC @protoget

[2018-05-16 14:08] sebma commented on #15604
@NYcleaner
On Ubuntu, there is a `/etc/ld.so.conf.d/cuda-9-1.conf` file containing :
`/usr/local/cuda-9.1/targets/x86_64-linux/lib`

Is this enough or do I need to add the directory `/usr/local/cuda-9.1/lib64/` to it ?

[2018-05-16 14:34] javidcf commented on #18383
Well yes in principle I was hoping for a general way to access the feature, not necessarily that specific syntax but some public API that is not particular to XLA. Of course you decide whether or not adding this makes sense/is worth the effort.

[2018-05-16 15:01] rundembear commented on #18861
@aaroey  One more question. I just tried reading multiple copies of my graph using this:

        with open(graphfile, 'rb') as f:
            graph_text = f.read()

        for g in range(len(graph_object.devices)):
            graph_object.graphs.append(tf.Graph())
            with tf.device(graph_object.devices[g]):
                graph_def = tf.GraphDef()
                graph_def.ParseFromSt

[2018-05-16 15:03] rundembear commented on #19083
@aaroey Just in case, I am posting here since the other ticket is closed (it wasn't mine, so I don't think I can reopen it). I just added another commentwitw a follow-up question to https://github.com/tensorflow/tensorflow/issues/18861

[2018-05-16 15:37] yongtang commented on #19318
The output dtype of `placeholder_with_default` is controlled by the input dtype. Converting `[1.]` to typed constant tensor should work I think.

Created a PR #19328 for the fix.

[2018-05-16 15:46] aaroey commented on #18861
Hi @rundembear,

I think we need to put `with graph_object.graphs[g].as_default():` before `with tf.device(graph_object.devices[g]):`, as `tf.device()` use [`get_default_graph().device()`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/ops.py#L4991).

I tested the following code and the printed graphdef has the correct device assigned (I haven't run the graph thou

[2018-05-16 16:03] allenlavoie commented on #17257
Usually I'd do something like https://github.com/tensorflow/models/blob/0344c5503ee55e24f0de7f37336a6e08f10976fd/official/mnist/mnist_eager.py#L146 (or https://github.com/tensorflow/tensorflow/blob/d2297c8571ea485898851420de9f8368f0c869fd/tensorflow/contrib/eager/python/examples/gan/mnist.py#L275 for a dictionary example)

So the model object gets constructed and used, and `tf.train.Checkpoint` ju

[2018-05-16 16:12] jplu opened #19331 "Undefined symbol when importing tensorflow"
### System information
- **OS Platform and Distribution**: Linux Ubuntu 18.04
- **TensorFlow installed from**: usual pip install
- **TensorFlow version**: 1.8.0
- **Python version**: 3.6.5
- **Exact command to reproduce**: python -c "import tensorflow"

### Describe the problem
I'm installing Tensorflow CPU version via the usual pip command:
[code]
And when I try to import tensorflow I get the fol

[2018-05-16 16:13] ispirmustafa commented on #19000
@karmel is this related to saved model based Estimator you're working on?

[2018-05-16 16:29] rundembear commented on #18861
@aaroey You rock!!! That does the trick! Thank you so much for all of your help.

[2018-05-16 16:41] aaroey commented on #18861
@rundembear You're very welcome, and I'm glad that we can help. Let me know if you have any other questions. :)

[2018-05-16 16:56] sandipmgiri commented on #11603
This issue is fixed here - http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1494

Patch - http://eigen.tuxfamily.org/bz_attachmentbase/attachment.cgi?id=831

[2018-05-16 16:56] #11603 closed

[2018-05-16 17:05] karmel commented on #19000
Thanks, @ispirmustafa and @AndRossi -- we are indeed currently working on this, with the intended result being that an Estimator can load from a SavedModel directory (which contains the variables and the graph binary). Note that the SavedModel is not the same as a FrozenGraph/TFLite flatbuffer, but is usually a pre-requisite for those.

We are aiming to have support in tf.contrib this quarter. Ass

[2018-05-16 17:14] poxvoculi commented on #19303
@fchollet looks like a keras issue

[2018-05-16 17:44] jvdillon commented on #18693
Hi bashhwu. Thanks for reporting this issue!  Let me study this issue and report back indicating whether this is or is not expected behavior.

[2018-05-16 17:45] protoget commented on #18096
If you're referring to conv ops, TF currently does autotuning underneath to pick the best algorithm for the input shape, by first running a few trial steps. I imagine disabling autotune would give you determinism in conv.

You can set ```TF_CUDNN_USE_AUTOTUNE``` env var to ```'0'```.

@yzhwang to confirm.

[2018-05-16 17:46] mohammedyunus009 commented on #14356
This worked for me
`from keras import backend as K`
and after predicting my data i inserted this part of code
`K.clear_session()`

[2018-05-16 17:50] reedwm commented on #19298
/CC @asimshankar, can you take a look?

[2018-05-16 17:54] av8ramit commented on #18791
Thanks for filing. I've fixed the python 3.6 build for tf-nightly-gpu.

[2018-05-16 17:56] av8ramit commented on #18791
I believe the nightly docker py3 images are fixed as well.

[2018-05-16 18:01] zeyademam commented on #19041
I am not using place holders in setting up and training the estimator, this is done internally by the estimator object. Here is a code snippet on how I set up the estimator and train it.

[code]

Now after the above saves the checkpoint files, I would like to load those checkpoint files using the following snippet, but I am not sure how to retrieve the input placeholder by name:

[code]

If I were

[2018-05-16 18:04] mikaelfs commented on #15656
While waiting for the official release of TensorFlow with CUDA 9.1, [here is another attempt](http://tech.amikelive.com/node-746/guide-installing-tensor-flow-1-8-with-gpu-support-against-cuda-9-1-and-cudnn-7-1-on-ubuntu-16-04/) to describe how TensorFlow 1.8 can be built against CUDA 9.1.

The final system configuration will be:

- OS: Ubuntu 16.04
- CUDA version: 9.1
- cuDNN version: 7.1.3
- NCCL

[2018-05-16 18:08] alanchiao commented on #19246
avielas@, it looks like you were able to figure out the fix yourself! I'm marking this issue as resolved.

[2018-05-16 18:08] #19246 closed

[2018-05-16 18:14] alanchiao commented on #19051
Thanks princekumar15@ for reporting this issue! I'll start looking into what caused this breakage.

[2018-05-16 18:47] x42x64 commented on #19203
@twjang Your quickfix also worked for me. Thanks for that.
Can you explain, why this happens? Or is it just "empirical fixing"? What changed, that 2 year old code stops working?

[2018-05-16 18:47] tensorflowbutler commented on #19325
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-16 18:48] tensorflowbutler commented on #19324
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-16 18:48] tensorflowbutler commented on #19320
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
TensorFlow installed from
TensorFlow version

[2018-05-16 18:48] tensorflowbutler commented on #19315
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-16 18:48] tensorflowbutler commented on #17974
Nagging Assignee @petewarden: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-16 18:48] tensorflowbutler commented on #18492
Nagging Assignee @cy89: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-16 18:48] tensorflowbutler commented on #18656
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-16 18:49] tensorflowbutler commented on #18824
Nagging Assignees @gunan, @angersson: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-16 18:49] tensorflowbutler commented on #18946
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-16 18:49] tensorflowbutler commented on #18982
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-16 18:49] tensorflowbutler commented on #18993
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-16 18:49] tensorflowbutler commented on #18997
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-16 18:50] tensorflowbutler commented on #14171
Nagging Assignee @yzhwang: It has been 95 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-16 18:50] tensorflowbutler commented on #16138
Nagging Assignee @gunan: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-16 18:50] tensorflowbutler commented on #16572
Nagging Assignee @itsmeolivia: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-16 18:50] tensorflowbutler commented on #7876
Nagging Assignee @sherrym: It has been 107 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-16 18:50] tensorflowbutler commented on #16803
Nagging Assignee @suharshs: It has been 78 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-16 18:50] tensorflowbutler commented on #17056
Nagging Assignee @benoitsteiner: It has been 78 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-16 18:51] tensorflowbutler commented on #17135
Nagging Assignee @MarkDaoust: It has been 77 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-16 18:51] tensorflowbutler commented on #17484
Nagging Assignee @rohan100jain: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-16 19:15] arnaghizadeh commented on #17390
@karllessard thank you can't wait to create graphs in Java. By the way, have you guys been in touch with Swift for Tensorflow group and specifically Chris Lattner? The cleanness of their code is simply out of this world. My understanding is that they are changing the language itself and that's why they can achieve that kind of cleanness and ease of use, so possibly this is not feasible in Java. Bu

[2018-05-16 19:28] asimshankar commented on #19298
Thanks for the report. I'm not familiar with Scala or sbt enough, so I apologize for any ignorance demonstrated below.

If I'm reading https://github.com/spotify/scio/issues/1137#issuecomment-387801270 right, it seems that the problem is that when the test is running in the same JVM as `sbt` (i.e., when `fork := true` is not set), then `org.tensorflow.NativeLibrary` is unable to correctly determin

[2018-05-16 19:30] OrionWambert commented on #18982
Unfortunately I still have not been able to fix the problem, so I will try to test with another work environment to see what will happen

[2018-05-16 19:30] asimshankar commented on #19298
(Would maintaining state about the extracted library, e.g., a monitor-protected static bool be sufficient?)

[2018-05-16 19:58] kofd commented on #8841
I have a need of locating this op on gpu as well

[2018-05-16 20:04] zero-impact opened #19333 "Bug in EluGradGrad"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, see below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary - latest pip tf_nightly
- **TensorFlow version (use command below)**: v1.8.0-1674-gd8fac4cb80 1.9.0-dev20180515
- **Pyt

[2018-05-16 20:14] yoavz commented on #18096
In my opinion, it would be helpful to get a fine-grained option to enable / disable the specific cudNN operations that are non-deterministic. For example, theano's config surfaces the `config.dnn.conv.algo_bwd_filter` and  `config.dnn.conv.algo_bwd_data` options [1] for the aforementioned conv ops.

This is opposed to using a big hammer to enable or disabling autotuning for all cudNN routines, whi

[2018-05-16 20:32] #19299 closed

[2018-05-16 20:32] #19289 closed

[2018-05-16 20:32] gunan commented on #16138
The last time I checked, I was able to successfully build with windows 2017.
Can anyone confirm, or report any issues if you saw any?

[2018-05-16 20:52] yzhwang commented on #18096
Completely agree with a separate knob on determinism. As currently we do not have any immediate plan on adding that, I would add a contribution welcomed tag to this issue.

[2018-05-16 21:40] sleighsoft commented on #19208
Now, when trying to print the checkpoint graph with `checkpointable_utils._serialize_object_graph(ckpt, None)` it will throw:
[code]

[2018-05-16 21:48] karllessard commented on #17390
@arnaghizadeh No, I didn’t look at the Swift implementation but I will, thanks for the tip!

For the Java part, I also believe that Kotlin is the way to go these days for a simplified version of the language, so I’ll make sure we take all advantages of it in the API we are building. Please let me know if you have any specific idea in mind about this.

[2018-05-16 21:54] sleighsoft commented on #17257
Oh, maybe that got fixed in some commit. I was on an older 1.8 nightly

[2018-05-16 21:55] allenlavoie commented on #19208
Oh I see, DropoutWrapper isn't calling its parent constructor so get_config() fails. Easy enough to fix. Thank you for the reports!

[2018-05-16 22:08] girving opened #19337 "tf.clip_by_value crashes for empty tensors on GPU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.4 LTS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: `b'v1.8.0-0-g93bc2e2' 1.8.0`
- **Python version**: `Python 3.6.1 :: Continuum Analy

[2018-05-16 22:31] girving commented on #19337
@dave-andersen A shame you never got general op fuzzing up and running. :)

[2018-05-16 22:35] arnaghizadeh commented on #17390
@karllessard From my limited understanding, what they are doing is that they have integrated Tensorflow eager mode with the swift compiler so there is no need to create graphs, the graphs are created by compiler itself. The end result is a very natural integration of Tensorflow with Swift language which is much more pleasant to work with than what we have in python. Even with its eager mode, the T

[2018-05-16 23:02] ruanjiandong commented on #14267
I hit the same issue. I can't use "monolithic" workaround since it breaks TensorRT integration. The conflicts are jpeg_CreateDecompress and jpeg_CreateCompress. libopencv_imgcodec expects to import from libjpect.so.8, but it somehow picked up from libtensorflow_framework.

I solved it by compiling tensorflow jpeg with "-fvisibility" flag. The change is around line 41 in thirdparty/jpeg/jpeg.BUILD.

[2018-05-16 23:02] tatatodd commented on #18997
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). Please provide all the information it asks. Thank you.

[2018-05-16 23:02] #18997 closed

[2018-05-16 23:07] tatatodd commented on #13308
Assigning to @asimshankar for further triage.

[2018-05-16 23:09] tatatodd commented on #16381
Assigning to @martinwicke, who might have more context.

[2018-05-16 23:12] tatatodd commented on #17671
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-16 23:12] #17671 closed

[2018-05-16 23:12] martinwicke commented on #19323
@mrry do you have an idea? Could be a proto issue.

[2018-05-16 23:18] tatatodd commented on #18187
Assigning to @alextp, who probably has a better idea about this than I do.

[2018-05-16 23:25] tatatodd commented on #11095
Assigning to @allenlavoie, who knows more about custom ops / dynamic loading.

[2018-05-16 23:26] tatatodd commented on #12084
Assigning to @petewarden for further triage.

[2018-05-16 23:27] shivaniag commented on #16381
@skye I am not working on this, apologies for the delayed response.  @mas-dse-greina It would be great if you would like to submit a PR for this. Thanks!

[2018-05-16 23:27] tatatodd commented on #8745
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-05-16 23:27] #8745 closed

[2018-05-16 23:29] tatatodd commented on #18879
@mrry might know more about Windows status.

[2018-05-16 23:30] tatatodd commented on #17921
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-16 23:30] #17921 closed

[2018-05-16 23:30] tatatodd commented on #18329
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-16 23:30] #18329 closed

[2018-05-16 23:35] alextp commented on #18187
@facaiy 's answer is correct, so I'm closing this issue. Please reopen with additional information if something is not clear.

[2018-05-16 23:35] #18187 closed

[2018-05-16 23:42] skye commented on #19068
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-16 23:42] #19068 closed

[2018-05-16 23:43] skye commented on #19173
I believe this an environment issue, not a TensorFlow issue.

[2018-05-16 23:43] #19173 closed

[2018-05-16 23:45] skye commented on #18729
@petewarden can you comment or reassign? Thanks!

[2018-05-16 23:46] skye commented on #18850
@gunan can you comment or reassign? Thanks!

[2018-05-16 23:48] skye commented on #18877
@petewarden are you the right person to address this?

[2018-05-16 23:49] skye commented on #19195
Assigning to @aselle since it looks like you're reviewing the PR.

[2018-05-16 23:51] michaelisard commented on #19113
@estelll did that suggestion work for you?

[2018-05-16 23:52] michaelisard commented on #19048
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-16 23:52] #19048 closed

[2018-05-16 23:55] michaelisard commented on #19128
Since Fedora is unsupported I will leave this as community support.

[2018-05-17 00:02] HungryJay opened #19339 "Failed to load the native TensorFlow runtime."
CPU: 3.1 GHz Intel Core i7
GPU: Intel Iris Graphics 6100 1536 MB
Python Version: 2.7

Hello, I hope someone will be able to help me with this, I am interested in seeing what Tensorflow
 could do, but while attempting to run a test program for Tensorflow I receive this message:

Traceback (most recent call last):
  File "classify_image.py", line 46, in <module>
    import tensorflow as tf
  File "/

[2018-05-17 00:02] allenlavoie commented on #11095
Probably fixed in TF 1.4+? Let me know if it's still an issue (following the [updated custom op instructions](https://www.tensorflow.org/extend/adding_an_op#gpu_support)) and I can investigate, but I'll close for now.

[2018-05-17 00:02] #11095 closed

[2018-05-17 00:18] JDeanThomas commented on #17801
@han-qiu, I did (cuDNN 6, on MacOS 10.11.6 using CLT 8.2), but then I realized it was this may be the last release to support CUDA 8 so I upgraded to 10.13 and CUDA 9.1 (cuDNN 7.0.5, CLT 8.3.2) so I don't have the package anymore. Likely wouldn't work anyway unless it was compiled using -march=core2

I played around with using LLVM (non-Apple Clang) and kinda wanna circle back to making that work.

[2018-05-17 00:30] mrry commented on #19323
I'd guess the `*.pb_text.cc` files are relying on an indirect inclusion that isn't present in @krantideep95's environment. One could add something that prints the appropriate `#include <algorithm>` line to [the code generator](https://github.com/tensorflow/tensorflow/blob/51ef16057b4625e0a3e2943a9f1bbf856cf098ca/tensorflow/tools/proto_text/gen_proto_text_functions_lib.cc#L752).

[2018-05-17 00:39] tatatodd commented on #18357
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-17 00:39] #18357 closed

[2018-05-17 00:46] tatatodd commented on #19007
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-17 00:46] #19007 closed

[2018-05-17 00:47] tatatodd commented on #17178
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-05-17 00:47] #17178 closed

[2018-05-17 00:48] tatatodd commented on #17253
Assigning to @asimshankar for his thoughts.

[2018-05-17 00:48] tatatodd commented on #17405
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-17 00:48] #17405 closed

[2018-05-17 00:49] tatatodd commented on #16555
Seems like this is fixed.

[2018-05-17 00:49] #16555 closed

[2018-05-17 00:52] suharshs commented on #18919
Do you have a specific example of the mismatch? IIUC, there is an expected difference since you are using dropout during training but not eval. If you want to compare training and eval predictions, you should try with keep_prob=1 during training.

Otherwise the graphs should matchup. If there are still differences between the graphs, i would recommend viewing them to see if there is anything unexp

[2018-05-17 00:52] tatatodd commented on #16805
Assigning to @xiejw, since he's touched some of this code, and may have a better idea than me.

[2018-05-17 00:55] tatatodd commented on #18551
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-17 00:55] #18551 closed

[2018-05-17 00:57] tatatodd commented on #14623
Assigning to @skye, who knows much more about control flow than I do.

[2018-05-17 00:58] tatatodd commented on #18037
Assigning to @asimshankar, who might be able to find someone to take a look.

[2018-05-17 00:59] tatatodd commented on #15161
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-17 00:59] #15161 closed

[2018-05-17 01:00] tatatodd commented on #15872
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-05-17 01:00] #15872 closed

[2018-05-17 01:01] tatatodd commented on #16061
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-05-17 01:01] #16061 closed

[2018-05-17 01:02] tatatodd commented on #15551
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-05-17 01:02] #15551 closed

[2018-05-17 01:02] tatatodd commented on #15387
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-05-17 01:02] #15387 closed

[2018-05-17 01:03] #16214 closed

[2018-05-17 01:04] #18522 closed

[2018-05-17 01:05] asimshankar commented on #17253
At this time, this is not something that the TensorFlow maintainers have the bandwidth to develop and support. In general, creating the graph in Python and then exporting it for execution in C++/other languages is what we recommend.

It is _possible_ to use this method to even train models in C++ (e.g., [this gist](https://gist.github.com/asimshankar/5c96acd1280507940bad9083370fe8dc)).
The C++ API

[2018-05-17 01:05] #17253 closed

[2018-05-17 01:08] xiechao4 commented on #19312
The following is the system information

System information
    **Have I written custom code (as opposed to using a stock example script provided in TensorFlow):**
    add std::to_string() in kernel/internal/conv.cc as:
      _auto str = std::to_string(input->dims->size);
       std::cout << str;_
    **OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**
    ubuntu 16
    **TensorFlow insta

[2018-05-17 01:14] tensorflowbutler commented on #19331
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version
CUDA/cuDNN version
GPU model and memory

[2018-05-17 01:14] Kongsea commented on #19287
I have encountered the same problem.
It raised the error when converting .pb model to .tflite one:

Aborted (core dumped)

[2018-05-17 01:18] xiechao4 opened #19340 "[TfLite]how can i run test for tflite(contrib/lite/testing/)?"
if i did some optimization work for tflite kernels, for example, i modify the Conv() operation.
How can i test it? i find that there is a "testing" in contrib/lite/, and there is something related to test, but there there is no document for what the testing is and how to compile and run it.
Is there any instructions and document available? if i really make some improvement to tflite kernel and wan

[2018-05-17 01:25] karmel commented on #19286
Can you check the version of cudnn installed on your system? Try:

[code]

[2018-05-17 01:30] asimshankar commented on #19331
Something seems incorrect with the installation, that error would make sense if the shared library is from an older version.

Could you try uninstalling and re-installing first?
[code]

And if that doesn't help, could you run the following:

[code]

That might give some clue as to what is messed up about the installation. Not quite sure how it ended up in this state.

[2018-05-17 01:35] asimshankar commented on #19127
Thanks @achalshah20 .
@LaurentBerger @subhaamalraj8 - Could you try with that PR patched in?

[2018-05-17 01:53] candyzone commented on #19324
@tensorflowbutler
updated, thanks

[2018-05-17 02:10] JsFlo commented on #9371
I think what he means by `Saver Api` is:
[code]
which saves out .chkpt, .pbtxt and variables files.

Using the `SaverModel Api`:
[code]
Which outputs:
[code]
which then can be loaded with:
[code]

[2018-05-17 02:27] oscarriddle commented on #19286
Thanks for your reply. This is what I get:
[code]
I double checked the cudnn library is indeed referring to this path.

Thanks,

[2018-05-17 02:42] asimshankar commented on #17390
@arnaghizadeh : Speaking on behalf of the TensorFlow maintainers: Yes TensorFlow for Swift seems like a very promising avenue which is why we are pursuing it. There is some discussion on the approach described there working for Java in [the whitepapers](https://github.com/tensorflow/swift/blob/master/docs/WhySwiftForTensorFlow.md#which-languages-fit-our-project-requirements).

That said, this is s

[2018-05-17 02:45] asimshankar commented on #18332
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

(@Sciguymjm : If you have a reproducible example, please do let us know by updating this thread and I'll re-open it and welcome contributions. Thanks)

[2018-05-17 02:45] #18332 closed

[2018-05-17 02:45] jart commented on #19316
Try `codecs.getreader("utf-8")` and note questions like these are better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issu

[2018-05-17 02:45] #19316 closed

[2018-05-17 03:09] karmel commented on #19286
There is perhaps a Cudnn 7.1 somehwere in there. In any case, as of TF 1.8, we no longer force cudnn minor versions to match (see #17566 , https://github.com/tensorflow/models/issues/3835 ). Is it possible to upgrade to TensorFlow 1.8?

[2018-05-17 03:26] Harry-Up opened #19341 "Eager: Variable collection for training specific varibles"
### System information
- **TensorFlow version (use command below)**: 1.6.0v GPU
- **Python version**: 3.6.4

### Describe the problem
When exploring the eager execution mode, I built neural network model with `tf.layers.Dense` API under the `tf.variable_scope("MLP")`.

Once I would like to get variables with `tf.get_collection` to train specific variables, a ValueError was raised.

It means that t

[2018-05-17 03:45] gearsmotion789 opened #19342 "Install of Tensorflow Lite error - :app:compiledebugjavawithjavac"
Hi,
I am trying to test out the Tensorflow Lite Android demo on Android Studio, but I am always getting the build error: :app:compiledebugjavawithjavac. I set the JDK path and rebuilt the project. I have done everything the instructions have said. I recently installed the latest Android Studio 3.1.2 just before importing the Tensorflow Lite demo. So how can I fix this?

### System information
- **

[2018-05-17 04:33] facaiy commented on #17332
I think complex128 for FFT  has been supported in 8f0a90b7114.

[2018-05-17 04:43] craigcitro commented on #19203
So I believe I know what's going on here, and I think #19249 is indeed a dupe of this issue.

The issue is that in 3c245f52912612ed9d8e20245ddb5de055680969, the change from

    #if defined(COMPILER_GCC3)

to

    #if TF_HAS_BUILTIN(__builtin_expect) || (defined(__GNUC__) && __GNUC__ >= 3)

means that the `TF_PREDICT_*` macros are now defined to use `__builtin_expect`. When compiling for CPU, this

[2018-05-17 04:54] sangeetsaurabh opened #19343 "AttributeError: module 'tensorflow.contrib' has no attribute 'distribute'"
When I include mirroring strategy using following code -

# Build the Estimator
distribution = tf.contrib.distribute.MirroredStrategy()
config = tf.estimator.RunConfig(train_distribute=distribution)
model = tf.estimator.Estimator(model_fn,config=config)

I get the error - AttributeError: module 'tensorflow.contrib' has no attribute 'distribute'

I tried this with both Tensorflow 1.7 and 1.8 - I ge

[2018-05-17 04:57] aicarmark opened #19344 "compile error with CUDA8.0"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: r1.7
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0.13
- **GCC/Compiler version (if compiling from source)**:
- **CUDA/cuDNN version**:

### Describe the problem
met compile

[2018-05-17 05:31] jart commented on #19203
Wow, great find @craigcitro; I find that super surprising. I'll gladly approve a PR making the change you suggested.

[2018-05-17 05:34] alanpurple commented on #18906
CUDA 9.2 GA is just released and support official driver of course
FYI

[2018-05-17 06:13] oscarriddle commented on #19286
Hi @karmel ,
I tried to execute my code on tensorflow-gpu==1.8.0. After the server side is established, the client asks for a image classification request. Then I get below error, seems the session calling mechanism is changed?
[code]
In my server, the inference is provided as internal method of a class. Server will initialize the class, and within the initialization, the desired model will be loa

[2018-05-17 06:27] concretevitamin commented on #11239
@alextp @mrry Hey fellas!  I ran into this issue as well.  My use case is simple: use `Dataset.map(PerBatchWhiten)` to whiten each batch; however, I'd like this function to read from and update exponential moving averages of mean/std seen across entire history.  Hence the need to assign variables and read them from within the map_func.

I tried to follow Alex's suggestions of creating my mean/std

[2018-05-17 06:51] tensorflowbutler commented on #19339
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-17 06:56] gunan commented on #18850
Do you see just a warning, or do you also face problems when running things?
We might be just renaming the package we built for python 36 on macos, because we cannot easily create macos environments using docker.

[2018-05-17 07:47] ohadlights commented on #18893
I think it's actually a feature request :)

The request is to add a virtual_batch_size parameter to slim.batch_norm.

[2018-05-17 07:50] DollarAkshay commented on #278
@noamaig I found one example here : https://www.tensorflow.org/get_started/datasets_quickstart#build_a_csv_line_parser

Just type CSV in the tensorflow website search bar

[2018-05-17 09:15] #19331 closed

[2018-05-17 09:18] BerteADA commented on #19319
I also have an issue importing the interpreter
Have I written custom code: No
OS Platform and Distribution: Android
TensorFlow installed from: Android Studio
TensorFlow version: Latest as of today
Bazel version: N/A
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
![image](https://user-images.githubusercontent.com/13137905/40168204-cbbd3912-59ba-11e8-88de-77c21bbace43.png)

[2018-05-17 09:59] craigtao commented on #19261
example_trainer.obj : error LNK2001: 无法解析的外部符号 "public: void __cdecl google::protobuf::internal::LogFinisher::operator=(class google::protobuf::internal::LogMessage &)" (??4LogFinisher@internal@protobuf@google@@QEAAXAEAVLogMessage@123@@Z)
1>example_trainer.obj : error LNK2001: 无法解析的外部符号 "class google::protobuf::internal::ExplicitlyConstructed<class std::basic_string<char,struct std::char_traits<ch

[2018-05-17 10:04] BenisonSam opened #19347 "Segmentation fault (core dumped) on tf.Session()"
I just installed TensorFlow and to test the installation, I tried the following code and as soon as I initiate the TF Session, I am getting the ***Segmentation fault (core dumped)*** error.

    bafhf@remote-server:~$ python
    Python 3.6.5 |Anaconda, Inc.| (default, Apr 29 2018, 16:14:56)
    [GCC 7.2.0] on linux
    Type "help", "copyright", "credits" or "license" for more information.

    /ho

[2018-05-17 10:09] #10439 closed

[2018-05-17 10:45] Negrodaumus commented on #19313
Your code is a logic flaw in and of itself. The values you give are x= a/and or b. having to values. 0*x+1*x, 1*x+0. Your equation gives both the same self canceling value. X is a and b. Both are worth both 1x and 0x. You cannot define one thing as having two set values. Things can have a range of values, however you must provide a mechanism for defining these within the program. As you have given

[2018-05-17 11:08] apischan opened #19348 "Improve java documentation by explaining "magic" constants like ""save/control_dependency"""
In your examples [here](https://github.com/tensorflow/models/blob/master/samples/languages/java/training/src/main/java/Train.java) there is a statement:
[code]
Can you explain somewhere in documentation what is the "magic" constants used there and list all the variants of them somewhere?

[2018-05-17 11:09] agrinh commented on #12054
Came here to request non-blocking enqueue as well. Currently check the size of the queue as a proxy which doesn't seem ideal.

But have to add yet another request to not deprecate the queue API. We have some applications where it's really useful. Beyond what @leandro-gracia-gil already mentioned some of the simplest implementations of fast-wavenet rely on the `tf.FIFOQueue`. Also seen a use for it

[2018-05-17 11:15] 1icas commented on #18751
Sovled

[2018-05-17 11:15] #18751 closed

[2018-05-17 11:18] dbarta commented on #19313
@Negrodaumus
x is an array with 2 values.
In one case, these two values are each linear interpolations of two tensors a & b.
In the second case, these two values are simply b then a respectively.
These two cases produce two separately constructed computations graphs, where one has a bunch of multiplication and addition nodes, which the second doesn't.

[2018-05-17 11:41] dimitryn commented on #19317
Thanks.

[2018-05-17 11:41] #19317 closed

[2018-05-17 11:44] kanul commented on #19014
@suharshs, Has not the issue been resolved yet?

I'm looking forward to fix the issue as soon as possible.

If the issue has not been resolved yet, How long does it take to fix the problem?

[2018-05-17 11:48] jto commented on #19298
I *think* sbt creates a different classloader to run each test class.

Maybe `isLoaded` could list the currently loaded libraries and look for the presence of `libtensorflow` ?

Something along the line of:

[code]

[2018-05-17 11:59] LaurentBerger commented on #19127
I have done :
`git pull `
then create a patch using https://github.com/tensorflow/tensorflow/pull/16480.patch page
try to apply patch  (many errors with option --check):

$ git apply --stat ../pr16480.patch
 tensorflow/contrib/cmake/tf_core_framework.cmake   |    2
 tensorflow/contrib/cmake/CMakeLists.txt            |   12 +-
 tensorflow/contrib/cmake/external/grpc.cmake       |   11 +
 tensorflow

[2018-05-17 11:59] xarion opened #19350 "negative condition in tf.cond gets evaluated"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 17.10
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use command below)**:
1.8.0
- **Python version**:
2.7.14
- **Bazel version (if compiling from source)**: n

[2018-05-17 11:59] simonfernandes7389 commented on #19320
Also, an nnapi error after running the app.
**nnapi error: unable to open library libneuralnetworks.so**

[2018-05-17 12:17] #19341 closed

[2018-05-17 12:35] xarion commented on #19350
reading the docs again, it states that

This covers the problem I am facing. Closing this issue.

[2018-05-17 12:35] #19350 closed

[2018-05-17 12:43] Tgmstriker commented on #19207
Bumping @rohan100jain

[2018-05-17 12:45] tensorflowbutler commented on #19341
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-17 12:45] tensorflowbutler commented on #19342
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-17 12:45] tensorflowbutler commented on #19343
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-17 12:45] tensorflowbutler commented on #19344
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
GPU model and memory
Exact command to reproduce

[2018-05-17 12:55] AzizCode92 opened #19351 "Bidirectional beam search tensorflow implmentation"
###  Problem Description :

I read the paper named "Bidirectional Beam Search: Forward-Backward Inference in Neural Sequence Models for Fill-in-the-Blank Image Captioning"  [Paper-Link](https://arxiv.org/pdf/1705.08759.pdf).
I checked the official Tensorflow website for a feature similar to this one but didn't find any.
So is it possible we add this feature to Tensorflow or are there already simil

[2018-05-17 13:10] alexey-chaykin opened #19352 "Failed to build version 1.8"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.8
- **Python version**: 3.5
- **Bazel version (if compiling from source)**: 0.11.1

[2018-05-17 13:25] yongtang opened #19353 "CMAKE+CPU on Ubuntu 18.04 build failure"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: master 51ef16057b4625e0a3e2943a9f1bbf856cf098ca
- **Python version**: 3.6.5
- **Baze

[2018-05-17 13:50] ben11355 opened #19354 "building tensorflow r1.4 RelWithDebInfo on Window 10 Fails"
Hi Guys,

I was able to build Tensorflow r1.4 in Release on Windows 10 with the following successfully.
Python 3.5
Cuda 8.0, Cudnn 6.0
Visual Studio 2015

However, I clone the Tensorflow repository, checked out r1.4 and try to build RelWithDebInfo with the following commands:

cmake .. -A x64 -DCMAKE_BUILD_TYPE=RelWithDebInfo -DSWIG_EXECUTABLE="C:\\swigwin-3.0.12\\swig.exe" -DPYTHON_EXECUTABLE="C:

[2018-05-17 14:07] achraf-boussaada commented on #17457
is it possible to include the libtensorflow_demo.so manually and avoid building with bazel ? i downloaded the file from [here](http://ci.tensorflow.org/view/Nightly/job/nightly-android/lastStableBuild/) created a jniLibs in my project but still the ObjectTracker can't find the library. Any solutions ?

[2018-05-17 14:10] mrry commented on #19323
Thanks for confirming! I've sent out PR #19355 with a fix that localizes the `#include` as much as possible.

[2018-05-17 14:13] mrry commented on #11239
Hi @concretevitamin. It should be possible to make this work, by moving the assignment into the `map()` function. This is probably a question more suited for Stack Overflow, where it would also be useful to see a minimum non-working example and the stack trace that accompanies the `ValueError`.

[2018-05-17 14:33] gearsmotion789 commented on #19342
I've updated the fields.

[2018-05-17 15:03] Ap1075 commented on #17101
Also keep in mind to download the base package of CUDA 9.0. Other packages (Patch1, patch2) didn't seem to include cudart64_90.dll.

[2018-05-17 15:54] alextp commented on #18960
When I ran the fizzbuzz example in the programmer's guide on tf 1.7.0 as `fizzbuzz(10)` it worked; it only failed when run as `fizzbuzz(tf.constant(10))`. I'm updating the docs to make it work in both cases, thanks for the heads up.

[2018-05-17 16:05] K3n4 commented on #18906
I can't find cudnn for cuda 9.2 windows

[2018-05-17 16:10] xiejw commented on #16805
Re-assign to @ispirmustafa to find a proper owner.

[2018-05-17 16:18] karmel commented on #19286
It looks like the session you are saving with the class is likely closed at some point, and that will have to be debugged. However, this question is far afield from the original issue, and probably better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think

[2018-05-17 16:18] #19286 closed

[2018-05-17 16:34] asimshankar commented on #19348
These aren't special constants, these are names printed by the script that generates the graph (see [code](https://github.com/tensorflow/models/blob/493d7a2e233fa874415062061fe0ce1aa62f2d3e/samples/languages/java/training/model/create_graph.py#L24)).

Sent https://github.com/tensorflow/models/pull/4297, hopefully that helps.

[2018-05-17 16:34] #19348 closed

[2018-05-17 16:34] sleighsoft commented on #19208
Would this be a valid approach to support lists of variables for checkpointing?
[code]

[2018-05-17 16:42] allenlavoie commented on #19208
Yeah, this is what several of the eager examples do: e.g. https://github.com/tensorflow/tensorflow/blob/d8f9538ab48e3c677aaf532769d29bc29a05b76e/tensorflow/contrib/eager/python/examples/rnn_colorbot/rnn_colorbot.py#L211

It's fine, but we should add checkpointable data structures (which also forward Layers). I'm almost done with an append-only list datastructure. Whether we support regular Python

[2018-05-17 16:44] josh11b commented on #278
@rachellim

[2018-05-17 16:52] sleighsoft commented on #19208
Btw. the `checkpoint.save()` also throws the dropout name error.

[2018-05-17 17:06] jart commented on #19344
Duplicate of #19203.

[2018-05-17 17:06] #19344 closed

[2018-05-17 17:09] allenlavoie commented on #19208
Yep, will add some end-to-end tests for saving wrappers this time.

I'd note on the setattr() issue that using "var.name" as a dependency name is rather fragile. If you make another instance of the object in the same Graph, the name will be different, which means the objects will be checkpoint incompatible (and changes elsewhere in the program that change "var.name" might break checkpoints for thi

[2018-05-17 17:16] aransil commented on #10959
I've been getting the same set of errors

Using macOSX Sierra, and spyder with a tensorflow environment installed through conda.

Anaconda navigator says that tensorboard is installed in _both_ the base and tensorflow environments, and there are two tensorboard executables: one in /anaconda3/bin and the other in /anaconda3/envs/tensorflow/bin. Just running either of these files on its own gives tw

[2018-05-17 17:17] #15588 closed

[2018-05-17 17:41] CookieChief commented on #17485
Same issues Geforce 1060, Windows 10, Python 3,6, Cuda 9, cuDNN 7.04

[2018-05-17 17:57] sleighsoft commented on #19208
Good point, I will change that in my code.

[2018-05-17 18:14] achalshah20 commented on #19347
How did you install tensorflow? From sources, using bazel/cmake?

[2018-05-17 18:18] suharshs commented on #19014
Hi @kanul,

The issue originally described should be resolved.

It seems that you are using a mobilenet_v2 implementation contains an unsupported operation. What mobilenet_v2 implementation are you using? The code I have tried out is here: https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet/mobilenet_v2.py .

Make sure you are freezing an eval graph and not a training gra

[2018-05-17 18:27] achalshah20 commented on #19343
Colab reasearch has v1.7. It has no module called distribute, so you should use that code with 1.8 and it works(tested).

https://github.com/tensorflow/tensorflow/tree/r1.7/tensorflow/contrib/distribute

[2018-05-17 18:35] gaillard commented on #16795
I have a dockerfile builds tensorflow (not jni dependent) that uses the standalone ndk for arm64 with the changes needed to get all the way to the linking that I can share, but it fails due to gcc always choking on pthread, even though the -lpthread isn't being explicitly passed anywhere I can see, anyone know where it gets it?

[code]

[2018-05-17 18:48] tensorflowbutler commented on #19347
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-05-17 18:48] tensorflowbutler commented on #17949
Nagging Assignee @cy89: It has been 55 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:48] tensorflowbutler commented on #17879
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:48] tensorflowbutler commented on #17850
Nagging Assignee @gunan: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:48] tensorflowbutler commented on #17832
Nagging Assignee @cy89: It has been 58 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:49] tensorflowbutler commented on #17691
Nagging Assignee @tatatodd: It has been 64 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:49] tensorflowbutler commented on #17568
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:49] tensorflowbutler commented on #17541
Nagging Assignee @cy89: It has been 70 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:49] tensorflowbutler commented on #17510
Nagging Assignee @asimshankar: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:49] tensorflowbutler commented on #17463
Nagging Assignee @tatatodd: It has been 71 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:49] tensorflowbutler commented on #17456
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:49] BenisonSam commented on #19347
I first installed tensorflow in an anaconda env using conda. It gave me the **Segmentation fault** error. So dumped that conda env, created a new conda env and then used bazel to build and generate the the whl package to install it. It still gives me the same error. I followed the same process for version r1.5. Each time I tried something new, I removed the old conda env just to make sure I don't

[2018-05-17 18:49] tensorflowbutler commented on #17377
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:49] tensorflowbutler commented on #17315
Nagging Assignee @shivaniag: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:49] tensorflowbutler commented on #17301
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:50] tensorflowbutler commented on #17221
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:50] tensorflowbutler commented on #17031
It has been 83 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:50] tensorflowbutler commented on #18518
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:51] tensorflowbutler commented on #19021
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:51] tensorflowbutler commented on #18978
Nagging Assignee @cy89: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:51] tensorflowbutler commented on #18890
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:51] tensorflowbutler commented on #18884
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:51] tensorflowbutler commented on #17957
Nagging Assignee @bignamehyp: It has been 53 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:51] tensorflowbutler commented on #18297
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:52] tensorflowbutler commented on #18268
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:52] tensorflowbutler commented on #18186
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:52] tensorflowbutler commented on #18172
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:52] tensorflowbutler commented on #18151
Nagging Assignee @cy89: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:52] tensorflowbutler commented on #18131
Nagging Assignee @cy89: It has been 47 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:52] tensorflowbutler commented on #18064
It has been 49 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:52] tensorflowbutler commented on #14575
It has been 182 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:53] tensorflowbutler commented on #15490
It has been 146 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:53] tensorflowbutler commented on #15433
Nagging Assignee @benoitsteiner: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:53] tensorflowbutler commented on #15329
It has been 152 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:53] tensorflowbutler commented on #15274
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:53] tensorflowbutler commented on #15045
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:53] tensorflowbutler commented on #15014
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:53] tensorflowbutler commented on #14611
It has been 180 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:53] tensorflowbutler commented on #14608
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:54] tensorflowbutler commented on #14572
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:54] tensorflowbutler commented on #14544
It has been 183 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-05-17 18:54] tensorflowbutler commented on #14134
Nagging Assignee @asimshankar: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:54] tensorflowbutler commented on #13984
Nagging Assignee @gunan: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-05-17 18:54] tensorflowbutler commented on #13436
It has been 226 days with no activity and the `awaiting response` label was assigned. Is this still an issue?