[2017-08-10 17:55] #12169 closed

[2017-08-10 18:15] tatatodd commented on #12165
Thanks for filing the issue @weberxie , and thanks for pointing out the PR @yongtang !

Closing this out.

[2017-08-10 18:15] #12165 closed

[2017-08-10 18:16] tatatodd commented on #12167
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-10 18:16] #12167 closed

[2017-08-10 18:33] poxvoculi commented on #11967
Will be fixed in upcoming release.

[2017-08-10 18:33] #11967 closed

[2017-08-10 18:39] cryptox31 opened #12186 "How to run the inceptionv3 on the Knights Landing Intel Xeon Phi?"
I have built tensorflow from scratch for the Knights Landing and it seems to give only 4-5images/sec. Can someone give a procedure to run these standard benchmarks?

[2017-08-10 18:50] dartdog opened #12187 "No builds for Linux Py3.6-gpu TF1.3 RC2?"
Using Python 3.6 in Anaconda on Ubuntu 16.04

[code]
I checked the build stream and don't see a Linux PY3.6 GPU being built?

Seems to me that since I have TF 1.2 installed (it had the PY3.6GPU support that new RC's should also include builds for Py3.6/GPU or a lot of people just won't build a separt downgraded test environment for the RC?

Or is the intention to drop support?? (I hope not!)

[2017-08-10 19:00] andrewharp commented on #12166
Please add the info requested for the bug report so we can have some context how you got this, thanks.

[2017-08-10 19:02] nikky78 opened #12188 "learner.run Couldn't find trained model"
I have built my custom experiment like this:

[code]

[code]

When I run it, I have files created in \model with names like 'model.ckpt-6.meta' plus the monitor shows the following results:

Why it cannot find the model ?

Thanks for assistance!

[2017-08-10 19:58] huberpa commented on #11988
Hi, I'm having exactly the same problem like @jingxil. Is there any workaround to get around the issue other than implementing it myself? Thanks a lot!

[2017-08-10 20:02] soldni commented on #11988
I am having the same issue as well. It would be great if the Tensorflow team could give feedback on this.

[2017-08-10 20:33] jkarimi91 commented on #8191
I am receiving the same `AttributeError: 'NoneType' object has no attribute 'update'` but with `tf.contrib.legacy_seq2seq.model_with_buckets`. I am running tf 1.2.1 (GPU)  on ubuntu 16.04 lts.

full traceback:
[code]

[2017-08-10 21:03] gmaher commented on #12018
On Ubuntu 16 with anaconda 2.7, when running

cmake -DCMAKE_BUILD_TYPE=Release ../tensorflow/contrib/cmake
make -j6 all

I get the error: fatal error: tensorflow/core/debug/debug_service.grpc.pb.h: No such file or directory

Any ideas how to resolve this?

[2017-08-10 21:05] sahildua2305 commented on #436
@girving this seems like a low-effort and beginner-friendly task. If so, I'd like to get started with this. 🙂

[2017-08-10 21:13] girving commented on #436
@martinwicke: Handing off to you.

[2017-08-10 21:28] terrytangyuan commented on #12093
Yeah this will be a huge compatibility break. @ispirmustafa Any thoughts on this since this is related to the PR I created/closed?

[2017-08-10 21:49] ispirmustafa commented on #12093
final training loss shows the loss on final mini batch. We do hyper parameter tuning by using result of evaluate not train.

[2017-08-10 22:21] pmccarter commented on #11974
Cool I can probably get a pull request in tomorrow.

[2017-08-10 22:26] martinwicke commented on #436
@sahildua2305 Please go ahead! Send a PR whenever you're ready, and mention this issue in its description.

[2017-08-10 23:03] RylanSchaeffer commented on #1045
I'm getting a different error as the original poster, but with the same cause - when I set num_epochs equal in `tf.contrib.slim.parallel_reader.parallel_read` to anything other than `None`, my `FIFOQueues` crash:

`OutOfRangeError (see above for traceback): FIFOQueue '_1_batch_examples_using_buckets/bucket_by_sequence_length/bucket/top_queue' is closed and has insufficient elements (requested 1, c

[2017-08-10 23:37] mayuresh51 opened #12193 "Error Building project tf_core_framework"
26>------ Build started: Project: tf_core_framework, Configuration: Debug x64 ------
26>  Generating __force_rebuild
26>
26>  Generating E:/AIMLDL/TensorFlow/tensorflow/tensorflow/core/util/version_info.cc
26>  The system cannot find the path specified.
26>C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\Microsoft.CppCommon.targets(171,5): error MSB6006: "cmd.exe" exited with code 3.

When I

[2017-08-11 00:06] jsawruk opened #12194 "Incorrect Command Line in Image Training Tutorial"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12.6
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.2.0-rc2-21-g12f033d 1.2.0
- **Python version**: 3.5.3
- **Bazel version (if compiling f

[2017-08-11 00:29] drpngx commented on #11603
In general we would like for them to behave the same, unless the behavior is undefined.

[2017-08-11 01:07] pschydlo commented on #9832
I have run into the same problem with the dynamic input size, has this issue been solved? Is there any official workaround for this problem?

[2017-08-11 01:32] facaiy commented on #11974
Both `tf.placeholder_with_default` and `tf.reshape` is located in `gen_array_ops.py`. And I found that `tf.placeholder_with_default` works well:

[code]
The difference is

[code]

[2017-08-11 03:19] nesadiankemo commented on #8454
@anandcu3 In the source code, I only modify two source file. Another file is I commented at #2680 to fix that issue. Then I follow the instruction [https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/android](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/android) to build the .so file. And it fix the issue in my App.
Here is all the steps i had taken.

[2017-08-11 03:20] Shivanshmundra commented on #4693
Hi,
This is issue is because in assignment its **https** while this should be **http**.
Hope you got that right.
Thanks

[2017-08-11 03:21] #6738 closed

[2017-08-11 03:21] #12110 closed

[2017-08-11 03:36] wogong commented on #170
@SunsetWan
/tmp/tensorflow/mnist/input_data/, in my setup, macOS Sierra 10.12.6.

[2017-08-11 04:05] gauss-clb commented on #11839
If I can get `'y': <tf.Variable 'y:0' shape=() dtype=float32_ref>`, I won't ask this question.
Look at  my first commit, you will also get `'y/ExponentialMovingAverage': <tf.Variable 'y:0' shape=() dtype=float32_ref>`

[2017-08-11 04:06] ppwwyyxx commented on #6634
Seems fixed already? The original code now prints:
[code]

[2017-08-11 04:08] ppwwyyxx commented on #12187
https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.3.0rc2-cp36-cp36m-linux_x86_64.whl

[2017-08-11 04:40] tfboyd commented on #12052
Alright I am thinking about starting a new issue that is more of a "blog" of CUDA 9 RC + cuDNN 7.0.  I have a TF build "in my hand" that is patched together but is CUDA 9RC and cuDNN 7.0 and I want to see if anyone is interesting in trying it.  I also need to make sure there is not some weird reason why I cannot share it.  There are changes that need to be made to some upstream libraries that Tens

[2017-08-11 05:31] elbaro opened #12202 "Using keras built-in models"
#### Version
v1.2.0-rc2-21-g12f033d

#### Problem
The Keras built-in models in `tf.contrib.keras.applications.*` cannot be used as a subgraph in TF.

#### Example
https://stackoverflow.com/questions/45585546/error-with-tf-contrib-keras-tf-placeholder

#### Cause
Calling `keras.applications.InceptionV3(weights='imagenet')(input_tensor)` is supposed to load pre-trained weights only for related varia

[2017-08-11 05:49] YuxinxinChen commented on #12090
The forever stop and make no progress problem also happens in benchmark code
<img width="1440" alt="screen shot 2017-08-10 at 10 45 14 pm" src="https://user-images.githubusercontent.com/24256365/29202515-cbf7b034-7e1d-11e7-8e16-09e1b2336729.png">

The command I use to run is: python tf_cnn_benchmarks.py --model=inception3 --eval=False --batch_size=64 --data_dir=/imagenet/data --trace_file=/home/ce

[2017-08-11 06:35] LiangHao92 commented on #10798
@jch1 thanks for your work first. and I wonder when the updated API can be released.

[2017-08-11 06:59] sj6077 commented on #12035
I tried with inter/intra_op_parallelism_threads=500, 3000, but it doesn't work. In my case, sessions are not created for some nodes.

[2017-08-11 07:05] mountaintom commented on #12109
This looks similar to the cases with TensorFlow Serving build failures due to insufficient RAM. If it fails in the link stage there usually is no specific message. If the failure is I the compile stage sometimes the text “gcc: internal compiler error: Killed (program cc1plus)” will be found in the error log.

You are cross compiling and I do not know how much that will change things, but for i386

[2017-08-11 07:13] ybxgood opened #12203 "Why not develop 32-bit？Thank you very much!"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-11 07:26] ebrevdo commented on #6634
I guess I fixed this a while back.

[2017-08-11 07:26] #6634 closed

[2017-08-11 07:29] ebrevdo commented on #9832
This thread has many issues. Can you open a new one with code that replicates your error?  Using the latest tf nightly?

[2017-08-11 07:51] Leavingseason commented on #8806
@Viscoo  I encounter this problem today and your tip works. Thank you very much!

[2017-08-11 08:15] patrikohlsson opened #12204 "No registered 'MirrorPad' OpKernel for XLA_CPU_JIT devices"
It seems that mirror padding is not supported with XLA. The message is triggered when running tfcompile. Any ideas on when this (or other ops like #11905) might be available?

[2017-08-11 08:18] patrikohlsson commented on #12204
nvm #11890

[2017-08-11 08:18] #12204 closed

[2017-08-11 08:21] facaiy opened #12205 "BUG: TypeError in DNNClassifier.eval() when using same name for feature in feature_engineering_fn"
### Describe the problem

If we use the  same key to replace a feature, tensorflow might throw TypeError when evaluating:

eg:
[code]

When `features` is `dict`, it is a mutable object. Hence the bug is caused by `evaluate` method which runs `feature_engineering_fn` again, see [code](https://github.com/facaiy/tensorflow/blob/c7b80d51da4fb6d51ea54a0bdf2601afa379d60c/tensorflow/contrib/learn/python/

[2017-08-11 09:45] jowagner opened #12208 "Document changes in notMNIST data sets"
### Describe the problem
The notMNIST data set used in Assignment 1 and maybe elsewhere in this repo repeatedly changed size over the last 12 months. Last year, in issue #4693, a size of about 50 MB is reported for notMNIST_large.tar.gz. Now this file is 236 MB. People doing the assignment are comparing their classifier accuracy to results published by previous assignment takers and some are talki

[2017-08-11 09:47] anandcu3 commented on #12109
Compiled correctly after I did a clean and rebbot.

[2017-08-11 09:47] #12109 closed

[2017-08-11 10:07] jowagner commented on #4693
(1) Both http and https work right now.
(2) I don't remember but if an https connection had been refused, I sure would have tried http as well.
(3) File sizes changed again. Creating issue #12208

[2017-08-11 10:07] EMCP commented on #12203
Googling yielded some people building the project themselves on 32bit CPU Only implementations https://stackoverflow.com/questions/33634525/tensorflow-on-32-bit-linux

[2017-08-11 10:13] Nayana-ibm opened #12210 "tensorflow/contrib/session_bundle/example/export_half_plus_two.py fails with ValueError: invalid option"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: ('v1.2.1-0-gb4957ff', '1.2.1')
- **Python version**: Python 2.7.9
- **Bazel version (

[2017-08-11 10:14] Nayana-ibm commented on #12210
Below code patch resolves this issue:
[code]

Should I submit a PR for this change?

[2017-08-11 10:27] nosqlcoco commented on #11367
I got the same error when i use this code `summary,test_accuracy = sess.run([merged, accuracy], feed_dict={x: test_data, y: test_labels, input_seq_len: test_seq_len, keep_prob: 1})`

 Info
- OS: Ubuntu 16.04LTS
- TF version : Release 1.2.1
- Python: 3.5.3

Source code & error log
[code]
error
[code]

[2017-08-11 10:54] ybxgood opened #12211 "Please develop a 32-bit version,thank you very much！！！！！！"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-11 11:16] anandcu3 opened #12213 "Including scatter_nd in android ops crashes."
System information

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes (as described below)

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 16 64 bit

- TensorFlow installed from (source or binary):
Source

- TensorFlow version :
1.2.1 (Perhaps using a newer version may fix the issue)

- Bazel version (if compiling from source):

[2017-08-11 12:06] velvetcake opened #12214 "tensorflow in python"
Hi,
I am trying to use tensorflow in ipython, Linux and I got the following error
==================================================================
h@h:~$ source activate tensorflow
(tensorflow) hx@hx:~$ python
Python 2.7.13 |Continuum Analytics, Inc.| (default, Dec 20 2016, 23:09:15)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux2
Type "help", "copyright", "credits" or "license" for more inform

[2017-08-11 12:17] VishnuMadhu commented on #12186
@cryptox31 : Did you try [](https://software.intel.com/en-us/articles/tensorflow-optimizations-on-modern-intel-architecture) ?

[2017-08-11 12:19] githubharald opened #12215 "CTC loss with dynamic length"
This is a very specific questions, I'm afraid nobody on stackoverflow will ever answer this. I will copy the text from there, the original question can be found there:
https://stackoverflow.com/questions/45568266/tensorflow-ctc-loss-ctc-merge-repeated-parameter

And I'm not 100% sure if this behaviour is wanted or a bug (I think its the former one but I'm really not sure).

I'm using Tensorflow 1.

[2017-08-11 12:19] Froskekongen commented on #12052
@tfboyd: I would be grateful for descriptions on doing CUDA 9.0RC+cuDNN 7.0. I am using a weird system myself (ubuntu 17.10 beta with TF1.3, CUDA 8.0 and cuDNN 6.0 gcc-4.8), and upgrading to cuda 9 and cudnn 7 would actually be nice compilerwise.

[2017-08-11 12:20] andrewharp commented on #12066
Sorry, but training is not supported on mobile TensorFlow. The gradients for backpropagation aren't even compiled into the library.

[2017-08-11 12:20] #12066 closed

[2017-08-11 12:27] alanpurple commented on #12203
because it's completely nonsense to use 32-bit machine for development of deep learning

[2017-08-11 12:30] andrewharp commented on #11474
Closing due to inactivity; please respond with additional details if the issue persists.

[2017-08-11 12:30] #11474 closed

[2017-08-11 12:32] andrewharp commented on #11883
Are you still experiencing this issue? If so, can you provide the requested details for a TF issue such as OS, bazel version, etc?

[2017-08-11 12:49] mtakala commented on #8858
Our issue turned out to be an issue with power supply as well. Sadly, the workstations are provided by Lenovo (P910), so there are no other compatible PSUs on the market. Our GPUs were Quardo P6000. We are now trying to solve the issue by experimenting with limiting the GPU power consumption in Linux by command: nvidia-smi --power-limit=150

[2017-08-11 13:36] vincentvanhoucke commented on #12208
As far as I know, there has been no updates to the dataset whatsoever. I would not recommend using this dataset to publish, it adds nothing compared to MNIST.

[2017-08-11 13:36] #12208 closed

[2017-08-11 14:12] tfboyd commented on #12052
I will see what I can do on getting what you need to build yourself and a
binary.  The performance team lead indicated I can try and make this happen
so we can be more transparent and I hope have more fun as a community.
Getting you the patch and how to build it not super hard but is a little
harder.  It will also be very informal as I do not have time to manage a
branch and the patch could bit ro

[2017-08-11 14:14] phanousk commented on #12181
Perhaps this is due to a selection of unsupported computing ability 2.0. I'd expect that this raise an error during configuration and not compilation error much more time after.

[2017-08-11 14:36] dartdog commented on #12187
Awesome Thanks for the quick response!

[2017-08-11 14:43] wuharvey commented on #11846
What is the guideline for test coverage? Should I write tests analogous to the 2D op?

[2017-08-11 14:47] SunsetWan commented on #170
@wogong thank you very much!

[2017-08-11 14:48] eaplatanios commented on #7951
@mrry This is great work and definitely very useful for creating nice learning APIs on top of TensorFlow. However, I have a couple main concerns:
- I cannot see a way currently to "unzip" a dataset. Let's say we have a trainable model that has both a `train`/`fit` method and a `infer`/`predict` method. Let's call the type of the (potentially) nested structure of inputs to our model `I` and the typ

[2017-08-11 14:52] cryptox31 commented on #12186
@VishnuMadhu Yes, I did. The instructions are only for building tensorflow and not how to run the inceptionv3 benchmarks. Do you know what are the command line parameters for tf_cnn_benchmark on the xeon phi?

[2017-08-11 15:08] IanKirwan commented on #6698
Same issue with Windows 10, GTX770, CUDA 8.0, CUDNN 5.1, TF-GPU 1.1.0, not sure where to get the device driver version but Windows Device Manager reports 21.21.13.7651 for the display driver.

[code]

[2017-08-11 15:10] dartdog commented on #12187
grr now I just have to upgrade my cdnn, for libcudnn.so.6 which will probably break the older TF env but I think that is fixable with a symlink..

[2017-08-11 15:35] sabersword commented on #9002
Trying to install tensorflow-gpu 1.2 from source on Ubuntu-16.04.
bazel version: 0.5.3
Cuda compilation tools, release 8.0, V8.0.61
CUDNN_MAJOR  5  CUDNN_MINOR  1  CUDNN_PATCHLEVEL  5
gcc version: 4.9.3
Same error as  @sounakdey .
__Note:__ I have made one change to third_party/gpus/cuda_configure.bzl as mentioned in #11871 .
Any solutions?

[2017-08-11 15:36] #4746 closed

[2017-08-11 15:39] dantkz commented on #2502
It's been more than a year, but I can't find any information on the subject. How can one check if a tensorflow operation is running/supported on CPU or GPU? Thanks!

[2017-08-11 15:53] dantkz commented on #5965
@ekelsen I've been looking for GPU implementation of tf.unique, and it seems one could implement non-stable variant with hash tables using tf operations like scatter_nd_update and gather_nd. However, I don't know if those operations run on GPU?

Furthermore, a unique operation that is applied to each item of a minibatch separately complicates things a bit as scatter works with tf.Variable, but map

[2017-08-11 15:56] isaacgerg commented on #2169
I am also looking to implement swwae.  It looks like a lot of good work has been done to address the unpooling issues.  Does anyone have a small example showing it all put together?

[2017-08-11 15:57] lostmsu commented on #9971
@nectario how did you end up solving CudNN.h problem? Is there a hidden property I need to set?

[2017-08-11 16:06] stengoes commented on #4330
I am also wondering why tf.nn.separable_conv2d is so slow compared to tf.nn.conv2d?

I would expect the separable conv to be a lot faster when the channel multiplier is far smaller than the number of output channels? In reality, it is only slightly faster when the channel multiplier is far far smaller than the number of output channels. Why is this? Is it because conv2d uses cudnn internally, wher

[2017-08-11 16:08] stengoes commented on #12132
I am also wondering why tf.nn.separable_conv2d is so slow compared to tf.nn.conv2d?

I would expect the separable conv to be a lot faster when the channel multiplier is far smaller than the number of output channels? In reality, it is only slightly faster. Why is this? Is it because conv2d uses cudnn internally, whereas the seperable_conv2d does not? Or is there an other reason?

[2017-08-11 16:14] yselivonchyk commented on #2169
@isaacgerg, I have next example: https://github.com/yselivonchyk/Tensorflow_WhatWhereAutoencoder

It might use a bit older version of the code, but illustrates the pipeline. Note, that it might be different from official TF API released with the latest version.

[2017-08-11 16:18] mrry commented on #12211
Closing as a duplicate of #12203.

[2017-08-11 16:18] #12211 closed

[2017-08-11 17:30] IanKirwan commented on #6698
Same issue with Windows 10, GTX770, CUDA 8.0, CUDNN 5.1, TF-GPU 1.1.0, not sure where to get the device driver version but Windows Device Manager reports 21.21.13.7651 for the display driver.
[code]
@ggranum's fix worked for me:
[code]

[2017-08-11 17:41] omarsharif786 opened #12220 "Anyone working with tensorflow in visual studio ? I am facing some issues integrating tensorflow in vs2017. I can run the code of tensorflow in cmd but couldn't run it on vs. I hope someone comes up with a solution. Thanks in advance."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-11 17:48] isaacgerg commented on #2169
@yselivonchyk Quick question.  Figure 1 b of the paper shows 2 "where"s going to the decoder.  It looks like you only have one.  Is this correct?

[2017-08-11 17:49] andrewharp commented on #6738
The default object detector in the Android Object Detection demo is now the 80-class Object Detection API SSD model thanks to @jch1's commit, so retraining is now possible.

The Yolo and original Multibox detectors remain available by modifying [DetectorActivity.java](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/DetectorActivity.java#L89)

[2017-08-11 18:05] yongtang commented on #7027
I think the issue has been resolved through:
https://github.com/tensorflow/tensorflow/commit/fdf4ad4c35e925bf3d944dac5b91efcc64b2c8b3#diff-53b0b5ca00738b21110fb55fda34b0c6

[2017-08-11 18:11] faifai21 commented on #11334
@asimshankar @andrewharp This memory leak is blocking us from shipping tensorflow on Android. Are there any updates for this? Is there anything I can do to help? I tried looking through the source code to find the memory leak, but I'm not well versed in c/c++.

[2017-08-11 18:16] linaunlv opened #12221 "problem in imprting the tensorflow in phython"
Hi,
I installed tensorflow cpu version but I got the following error. actually, I am using python 3.5.2
so please anyone can help to solve this problem!

PMicrosoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Windows\system32>python
Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyrig

[2017-08-11 18:19] arita37 opened #12222 "Feature: Add dependency version"
Tensor examples :
tensorflow/tensorflow/examples/adding_an_op/

do not come with version of TensorFlow.

So, as tensorFlow API is still changing a lot, breaks appear when:
    using older-examples  with new TF
    new examples with older TF.

Please provide versionning for example scripts:

1) Example of versioning in the comments of the example script:
(to ensure we can reproduce it) :
'''
Script

[2017-08-11 18:36] yselivonchyk commented on #2169
@isaacgerg correct. I reproduced the experiment there which utilizes only a single layer.

If you want to, you can take a look at https://github.com/yselivonchyk/TensorFlow_DCIGN/blob/master/model_interpreter.py which can build a model, including SWWAE using syntax like in original paper  '(16)5c-(32)3c-Xp'

[2017-08-11 18:45] quaeler commented on #12133
@borissmidt So it sounds like you're asking for `List<Operation> getOperations ();` to be added to `org.tensorflow.Graph`

Which would entail, @asimshankar, (((i think, having looked at the code for the first time this morning))) additionally adding
`private static native long[] allOperations(long handle);`
to `Graph.java`

`JNIEXPORT jlongArray JNICALL Java_org_tensorflow_Graph_allOperations(JNIE

[2017-08-11 18:52] isaacgerg commented on #2169
@yselivonchyk Thanks.  By inverse graphics, are you referring to the phrase Hinton uses to describe what he believes the brain does?

[2017-08-11 18:54] borissmidt commented on #12133
Yes this would make it easier to analyze the graph that is loaded :)

On Aug 11, 2017 8:47 PM, "loki der quaeler" <notifications@github.com>
wrote:

[2017-08-11 18:56] cryptox31 commented on #9849
@cYclonEK Did you get it running on the KNL? Also does your KNL have a GPU? Just asking because I'm trying to run the inception v3 model on my xeon phi KNL without GPU and it does not give a better outcome ~4images/sec.

[2017-08-11 19:09] cryptox31 commented on #8584
Hey,
Intel has released an article:
https://software.intel.com/en-us/articles/tensorflow-optimizations-on-modern-intel-architecture
https://software.intel.com/en-us/articles/intel-optimized-tensorflow-wheel-now-available#
which states that it does support tf on the xeon phi, but they haven't yet provided the documentation on how are they running the benchmarks. I have installed tf1.2 on the Xeon P

[2017-08-11 19:20] abysmalocean commented on #227
I also have the same card, 2.0 computational capacity, looking for a solution.

[2017-08-11 19:22] lineback commented on #12159
I think the package only exists for python 2.

`conda env create` with a `environment.yml` like this:

[code]

[2017-08-11 19:25] yselivonchyk commented on #2169
@isaacgerg, never thought of that. Original intention was to reproduce https://arxiv.org/abs/1503.03167 therefore the name. But it all adds up, since authors worked together with Hinton.
In the paper they feed a sequence of images showing a single transformation and trying to isolate info about transformation in the encoding space.

[2017-08-11 19:28] isaacgerg commented on #2169
@yselivonchyk Yes, I believe this is similar to hinton's transforming autoencoders.

[2017-08-11 19:33] MilesZhao commented on #2169
@isaacgerg  I think we can use tf.gradients to realize this on CPUs. Firstly we do gradients of max-pooled results with respect to feature maps, which helps us find the locations of maximum values. Secondly, according to the locations, we can do up-pooling stuff, a.k.a re-construct something. This is a little tricky. In our case, we only have a maximum value for each feature map. SO, the "where it

[2017-08-11 19:35] isaacgerg commented on #2169
@MilesZhao This makes sense.  I am trying to translate this to tf code.

[2017-08-11 19:38] MilesZhao commented on #2169
@isaacgerg I once emailed to the author of SWWAE. They realize it in Torch. But, I believe there is some example in keras.

[2017-08-11 19:38] ywu36 commented on #4944
In my case '--config=cuda' not working but '--config=cuda8.0' works. I am using a previous version (v0.9) to run some previous codes while 1.2v is out.

[2017-08-11 19:39] isaacgerg commented on #2169
@MilesZhao The keras example will only run in theano.

[2017-08-11 19:42] #12016 closed

[2017-08-11 19:54] arnoudbuzing commented on #7623
One additional note that helped me figure things out (after reading all of the other advice and still having issues). This note may be useful for either the CPU or the GPU version of tensorflow.

On Windows, there is a Python dynamic library called `_pywrap_tensorflow_internal.pyd` in a location similar to this one:

`C:\Users\username\AppData\Local\Programs\Python\Python36\lib\site-packages\tenso

[2017-08-11 22:16] nikste commented on #6602
I get the same error with `stream_executor.h`, when compiling a custom op with `nvcc` and 1.3.0 binaries:
[code]

[2017-08-11 22:46] sguada commented on #11839
If you do what I mentioned then you would get it, because now we are telling ema that we only want to use `x.ema` but not the others by passing `(tf.moving_average_variables()`

[code]
[code]

[2017-08-11 23:36] kinsumliu opened #12224 "MonitoredSession has no `close`"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Minimum custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: mac os 10.12.6
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 2.7.13
- **Bazel v

[2017-08-12 00:01] quaeler commented on #12224
I see it in the current master - private class _MonitoredSession implements it here https://github.com/tensorflow/tensorflow/blob/863d7e7f0202cf5b513f2e3e691e7686562c8d74/tensorflow/python/training/monitored_session.py#L525
and MonitoredSession subclasses that class here https://github.com/tensorflow/tensorflow/blob/863d7e7f0202cf5b513f2e3e691e7686562c8d74/tensorflow/python/training/monitored_sess

[2017-08-12 00:57] ALLYOURSR opened #12225 "request: Make tensorflow checkpoints portable"
### System information
Not applicable, this is a general feature request.

### Describe the problem
Feature request: make checkpoint files portable.
Checkpoint files are not portable, because they use absolute paths. If I move the directory containing a trained graph, and then try to restore from a checkpoint, I get "unable to match files" errors because tensorflow does not know to look in the che

[2017-08-12 01:05] ALLYOURSR commented on #12188
Did you copy and/or move the directory containing the checkpoints and the checkpoint file? If so, you need to edit model/checkpoint and correct the absolute paths listed.

[2017-08-12 01:07] #12214 closed

[2017-08-12 01:51] BIG-CHENG commented on #11843
I had the same issue (Ubuntu 16.04.2 LTS) after git clone (--recurse-submodules) and bazel build:

ERROR: no such package '@protobuf//src/google/protobuf': Could not find handler for bind rule //external:protobuf.

It can be fixed in the same way by "bazel clean"

[2017-08-12 01:52] Huarong commented on #1355
Yes, reducing batch size works.

[2017-08-12 02:09] bobeo commented on #2412
@9thDimension  @smarttafirt I also have the same issues. Have you guys resolved it? Thanks.

[2017-08-12 02:18] ahundt commented on #11871
I'm still encountering this, even on r1.3

[2017-08-12 02:20] ahundt commented on #11871
Oh... I install from apt-get... how do I get a different version?

[2017-08-12 02:22] feranick commented on #11871
This is fixed in head, but it still present in 1.3.

You can patch the source as indicated above (so you can use bazel 0.5.3).

[2017-08-12 02:43] datomnurdin opened #12227 "Invalid argument: NodeDef mentions attr 'Tshape' not in Op<name=Reshape; signature=tensor:T, shape:int32 -> output:T; attr=T:type>;"
I got this kind of error message once my Android app launced.

Error message

    08-12 10:28:32.307 25515-25533/? E/native: executor.cc:334 Executor failed to create kernel. Invalid argument: NodeDef mentions attr 'Tshape' not in Op<name=Reshape; signature=tensor:T, shape:int32 -> output:T; attr=T:type>; NodeDef: pool_3/_reshape = Reshape[T=DT_FLOAT, Tshape=DT_INT32, _device="/job:localhost/repli

[2017-08-12 03:16] yongtang commented on #12224
The issue is not about the existence of `close()` as `close()` has already been defined. The issue is that:
[code]
actually invokes `_close_internal()` twice. One in the `sess.close()` call and another in the `__exit__()` call at the end of the with statement. The second call triggered a None:
[code]

Created a PR #12229 to fix the exception issue.

[2017-08-12 04:19] bobeo commented on #1890
@9thDimension @jkravanja I have a lot of undefined errors. Any idea? I did compile libtensorflow_cc.so successfully.

[2017-08-12 04:30] rox321 opened #12231 "Tensorflow inception speed issue"
hello this is Rohan Naik,
i developed an app which interact with tensorflow running on server and shows parking spaces available for your car.
i am using inception model which was retrained and modified to process live video and tell the users where parking slots are available.
The issue is it takes a 10 seconds to process 8 thread which run the image recognition function. Is there any way i can m

[2017-08-12 05:36] kinsumliu commented on #12224
@yongtang Thanks. Your explanation makes sense to me.

[2017-08-12 05:58] donamk commented on #6235
Because of this problem. Waste lots of days. Why I have to add the path, C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\extras\CUPTI\libx64 manually?
Even on tensorflow 1.2.1

[2017-08-12 06:09] LiyuCode opened #12232 "Default Python lib paths are not matched with the Python exe user inputted when 'configure'"
Here is the output of 'configure':
[code]
In above,  user typed `Python3` for the location but the library paths found are with `Python2`.

### 1. Env
  1.1 OS: Ubuntu 16.04 LTS (64 bit) with CUDA 8
  1.2 Bazel Build label: 0.5.3
  1.3 Python:
        - Python 2.7 and Python 3.5 are installed
        - Default `python` cmd in this OS is `python2.7`
  1.4 Tensorflow `git rev-parse HEAD`:  863d7e7f0

[2017-08-12 06:11] jeansely opened #12233 "add new op for tensorflow in windows os"
Hello,
how can create new op in window os (a example or manual).

the same link in  linux ( https://www.tensorflow.org/extend/adding_an_op#build_the_op_library)

Thanks.

[2017-08-12 06:15] ALLYOURSR commented on #12231
If your concern is speed, I saw a ~25% improvement when I switched to c++ over python for image classification (not training). I know in theory the heavy lifting in python is handled by compiled c/c++ binaries, but in practice it looks like there is still some slowdown.

Also, you may see substantial speedup if you use a GPU, assuming you are running many images through the classifier.

[2017-08-12 06:23] jkravanja commented on #1890
@bobeo undefined errors or undefined rference erros? Probably it is a linker error, you are missing some libraries. Can you copy paste it here?

[2017-08-12 06:33] bobeo commented on #1890
@jkravanja undefined reference errors:
[code]

[2017-08-12 08:02] nikky78 commented on #12188
I'm running the learning.run with default parameters. So it runs train_eval. No prob with the train part but when it tried to eval the error arises .

[2017-08-12 09:08] ruanchong commented on #9832
I have the same problem with @classicCoder16:

`When using BeamSearchDecoder with dynamic_decode, it seems that we can't pass in impute_finished=True without obtaining an error -- is this expected?`

Of course, with `impute_finished=False`, the error is gone and the result seems to be reasonable.
I'm using tf 1.2.1 on Mac OS X.

[2017-08-12 11:20] facaiy commented on #12156
Hi, I found the doc of `gen_math_ops._pow` is:
[code]
Hence, if both `x` and `y` are double, it works well.

[code]

So for double, there are two solution in my option:

1. cast `x` or `y` automatically when dtypes are different.
2. or fix the document: `y` must be the same type as `x`.

I prefer to the first one.

[2017-08-12 11:21] theflofly commented on #12052
@tfboyd: I am interested, how will you share it? A branch?

[2017-08-12 11:45] Phantomb commented on #11387
Hi, I believe I have the same issue. Can you share where / how to check for:

1. Different anaconda install file dlls that should be removed?
2. How to be sure that I properly removed and reinstalled Numpy
3. Have all the correct variables added to my path (
![image of my path variables](https://user-images.githubusercontent.com/5164642/29240391-6ee2de80-7f64-11e7-91a3-98264fbd030d.png)

4. Instal

[2017-08-12 11:48] iurilarosa opened #12234 "Lack of documentation in tf.decode_raw"
Hi,
i need to load arrays stored in tfrecords files, so i need to convert the raw string/byte data to number, but i don't understand the output i get using `tf.decode_raw`. Unfortunately function documentation doesn't help me.

Here an example of the strange (for me) behavior of this function

[code]
with this output
[code]

The strangest thing for me is that numpy.fromstring applied both to the r

[2017-08-12 11:50] tillahoffmann commented on #7951
The new input pipelines are great! But unfortunately, we are unable to use them for large-scale training because our data preprocessing is quite costly and needs to be distributed across multiple machines--or we just haven't figured out the right way to do it.

We have thus been using the old `FIFOQueue` interface in the following manner (pseudocode):

[code]

Having two different queues with `fro

[2017-08-12 11:54] facaiy opened #12235 "Feature: add safe mode for tf.cast"
tf.cast allows to cast float value to int without any warnning. It seems quite unsafe and data will be truncated.

[code]

Perhaps  it will be better, like [astype](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.astype.html) in numpy, to add a `casting` to support both safe and unsafe casting mode.

I can work on it if possible.

[2017-08-12 11:59] facaiy commented on #12235
Same problem for `tf.to_xxx` methods:

[code]

[2017-08-12 12:09] friend4al commented on #6136
@joellerena @xgwei

I recently downloaded Anaconda 4.4.0 with python 3.6 version for 64bit windows 10 OS and the suggested code did not work even with python=3.6 but I did the following steps to get it installed.

1) After Installing New Anaconda 4.4.0 with python 3.6 version, Open Anaconda Prompt and type in the following :

C:\Users\Mahesh>conda create -n tensorflow python=3.5
C:\Users\Mahesh>ac

[2017-08-12 13:12] bowang opened #12236 ""/gpu:0/stream" not showing up on timeline"
I am generating timeline with TensorFlow r1.3.
I can only see `/job:localhost/replica:0/task:0/cpu:0` and `/job:localhost/replica:0/task:0/gpu:0`.
But I can't find `/gpu:0/stream`

Any idea?

![image](https://user-images.githubusercontent.com/425637/29240963-bb7047dc-7f24-11e7-9cd3-2422c97487b0.png)

My code to regenerate the timeline.
[code]

[2017-08-12 13:23] nolanliou commented on #11709
@alextp
### System information
* ***Code***
[embedding_lookup_sparse](https://gist.github.com/nolanliou/c00af5938b2aecfdc5ea1189426b8624)
* ***Params***
100M * 1K
* ***Id***
256 * 1000
* ***CPU***
32-cores
* ***Tensorflow***
r1.3
### Conclusion
On a single machine,  profiling the `embedding_lookup_sparse` with tfprof, the result shows that `gather` Op takes a lot of time. I checked the code and fo

[2017-08-12 14:27] gongbudaizhe commented on #11613
Does the value of the key matters to you?

The setting below works for me:

[code]

[2017-08-12 15:00] nectario commented on #9971
I believe I had to set the property in cmake: CUDNN_HOME. I also set it as an environment variable. For example, my entry is:

CUDNN_HOME = C:/Program Files/NVIDIA GPU Computing Toolkit/CUDNN/5.1/cuda

[2017-08-12 15:28] abhigenie92 opened #12237 "CUDA_ERROR_OUT_OF_MEMORY"
[code]

It fails, even when the memory is there!
[code]

[code]

[2017-08-12 15:45] yongtang commented on #12232
Added a PR #12238 to address the issue.

[2017-08-12 16:41] alextp commented on #11709
Please send a PR!

On Aug 12, 2017 6:24 AM, "nolan liu" <notifications@github.com> wrote:

[2017-08-12 16:45] quaeler commented on #12234
`decode_raw` in converting a string to an array of numbers, in a datatype specified.

numpy's `tobytes` is producing a string of bytes, 8 bytes per value to represent the default numpy float value (64 bit) - so you end up with 48 bytes in your string.

At that point, calling `decode_raw` with float32 as the desired data type is producing 12 values instead of the original 6 (since you've halved the

[2017-08-12 16:51] jowagner commented on #12208
Thanks. Diving deeper into the git log for `1_notmnist.ipynb` and reading more threads mentioning issues with the size of the data set downloads, it seems indeed more plausible that the files did not change on the server and the deviant sizes were related to unexpected interactions between http server and client with the presence or absence of certain http headers and/or proxy servers.

[2017-08-12 17:05] iurilarosa commented on #12234
Oh ok! This is because numpy arrays have float64 data type as default!
With `array = numpy.array([0.1, 0.2, 0.4, 0.8, 0.9, 1.1]).astype(numpy.float32)` i have back the original values with `tf.decode_raw(tensoraw, tf.float32)` (you don't say? :) )

Thank you so much. I don't know if the issue can be closed, or if the `decode_raw` documentation still needs a better description of the "Returns:" sec

[2017-08-12 17:17] tanmayb123 commented on #12052
@tfboyd I'd definitely be very interested as well. Thanks!

[2017-08-12 17:29] yongtang commented on #10315
I think the issue is that the calculation of
[code]
will magnify the deviation if the accuracy of central_fraction is low. Thus causing `(240, 320, 3)` * 0.33 to be `(0, 0, 3)`

Created a PR #12239 for this issue.

[2017-08-12 18:37] YiruS commented on #3907
Is there any updates on training on sparse variables? I have the same question and cannot find whether the most updated tensorflow supports this kind of function. Thanks!

[2017-08-12 20:40] liamnaks commented on #7108
@gazzterran did you try what @ratzinho87 suggested?

` options.config.set_inter_op_parallelism_threads(1);
    options.config.set_intra_op_parallelism_threads(1);`

[2017-08-12 20:41] jwpowell055 commented on #11807
The guilty lines are in tensorflow.bzl:

def _cuda_copts():
  """Gets the appropriate set of copts for (maybe) CUDA compilation.

    If we're doing CUDA compilation, returns copts for our particular CUDA
    compiler.  If we're not doing CUDA compilation, returns an empty list.

    """
  return cuda_default_copts() + select({
      "//conditions:default": [],
      "@local_config_cuda//cuda:usin

[2017-08-12 20:53] jwpowell055 commented on #11807
[This answer](https://stackoverflow.com/a/45644766/825785) at StackOverflow would seem to support that this interference in the configuration between using CUDA and using Clang is the problem.

[2017-08-12 22:45] ravenjam commented on #559
Neither of these solutions worked for me since I INSTALLED IT WITH SYSTEM SITE PACKAGES. What I did to fix it is to just use mkvirtualenv to create a virtual environment and install tensorflow using ```pip install tensorflow.```

[2017-08-12 23:25] rdinse commented on #9917
[code]

I have attempted to implement the gradient for `tf.nn.depthwise_conv2d_native_backprop_input` in the code above. If someone could tell me what is missing for a pull request (test cases, wrapper functions etc.), then I would gladly contribute.

[2017-08-13 00:14] VanitarNordic opened #12242 "Broken download links of the Windows GPU"
Hi,

`Windows GPU` download link are broken.

[2017-08-13 00:17] RylanSchaeffer commented on #1045
For anyone else with my same bug, adding `sess.run(tf.local_variables_initializer())` after `sess.run(tf.global_variables_initializer())` solved the error.

[2017-08-13 00:31] YongCHN commented on #12143
Anyone help take a look?

[2017-08-13 00:42] GrandathePanda commented on #12093
Yup I was aware of that. Assuming loss has been steadily decreasing with no abnormality the final minibatch loss should still be just as useful for tuning assuming either overfitting is not an issue or you don't care about over fitting, which in my case is the latter. What I'm hearing though is that there is an easier way through an alternate method. I'd honestly forgotten I opened this suggestion

[2017-08-13 00:42] #12093 closed

[2017-08-13 01:37] arekaykay commented on #8898
I have cudnn7 installed in /opt/cuda/lib64

[code]
fixed the
[code]

Seems to be working ok. Of course, since cudnn5.1 is the officially supported version, might be setting myself up for future pain!

[2017-08-13 02:09] SaeedNajafi commented on #654
Following some implementations of the beam search decoding, I should say it becomes difficult and impossible to modify the codes implemented within more than 500 lines. Here, I provide a concise implementation of the beam search decoding. This implements a hard attention over encoder hidden units and applies beam search to find the most probable output.  Please comment if there are any technical e

[2017-08-13 04:13] yongtang commented on #12018
Encountered the similar issue. The
[code]
was generated but not
[code]
so the make fails.

I assume `*.grpc.pb.h` might be generated with grpc plugins though I am not familiar with cmake so not sure how to fix it.

[2017-08-13 04:35] astromme commented on #5632
Can this be done with https://www.tensorflow.org/api_docs/python/tf/contrib/image/transform?

[2017-08-13 05:59] shauryaksingh opened #12245 "Error importing tensorflow-gpu"
![capture](https://user-images.githubusercontent.com/20387587/29246512-8065cd0a-801a-11e7-8916-0e10817a1dce.PNG)

I installed Cuda Toolkit, cuDNN 5.1 on windows 8.1
I also installed tensorflow-gpu using pip3
When I tried importing tensorflow in python, I got the above error
Can you please help me out?

[2017-08-13 06:29] #12245 closed

[2017-08-13 07:42] jkravanja commented on #1890
Do you link against libtensorflow_cc.so? You should use a linkflag when you compile your program, -ltensorflow_cc

[2017-08-13 08:37] bobeo commented on #1890
@jkravanja yes i did

`g++ -std=c++11 -o tLoader -Iinclude/third_party -Iinclude -g -Wall -D_DEBUG -Wshadow -Wno-sign-compare -w  -L/home/sensen/workspace/nhatvo/tensorflow/bazel-bin/tensorflow/ `pkg-config --cflags --libs protobuf` -ltensorflow_cc loader.cpp`

[2017-08-13 08:42] bobeo commented on #1890
@jkravanja all good now when I run this instead :

g++ -std=c++11 -o tLoader loader.cpp -Iinclude/third_party -Iinclude -g -Wall -D_DEBUG -Wshadow -Wno-sign-compare -w  -L/home/sensen/workspace/nhatvo/tensorflow/bazel-bin/tensorflow/ -ltensorflow_cc `pkg-config --cflags --libs protobuf`

[2017-08-13 10:19] HRadmard commented on #9701
**BrumbleXu**, 's solution worked for me!
Many thanks, I think that the issue is with addressing the directory in Windows.
Just log in to your directory (one dir before your tensorboard dir) and address that directory.

[2017-08-13 12:16] velvetcake commented on #93
@andyyuan78 hi，What was the solution to this? I'm facing the same issue.what‘s the bazel path?

[2017-08-13 12:32] ppyht2 commented on #12065
@adarob @RylanSchaeffer Hi guys, I've also been looking for an output helper for this purpose. Would it be possible to share your solution with me?

Thanks in advance.

[2017-08-13 12:49] ngc92 opened #12249 "tf.estimator.Estimator breaks when using python 3.5 type annotations"
Minimal example:
[code]

results in
[code]

### System information
- **OS Platform and Distribution**: Linux Mint 17.2
- **TensorFlow version**: v1.2.0-0-g12f033d 1.2.0
- **Python version**: 3.5

[2017-08-13 13:01] ruppeshnalwaya1993 commented on #9073
I tried to use -DUSE_GEMM_FOR_CONV flag for android selective registration as well like this
bazel build --copt="-DUSE_GEMM_FOR_CONV" tensorflow/python/tools/print_selective_registration_header

But during runtime it gives error and neural net fails to run. I tested on huawei nexus 6p. Without  --copt="-DUSE_GEMM_FOR_CONV", it runs fine. What does this mean?

I believe "DUSE_GEMM_FOR_CONV" flag tr

[2017-08-13 13:15] 0merjavaid opened #12250 "TypeError: Cannot interpret feed_dict key as Tensor: The name 'DecodeJpeg/contents:0' refers to a Tensor which does not exist. The operation, 'DecodeJpeg/contents', does not exist in the graph."
TypeError: Cannot interpret feed_dict key as Tensor: The name 'DecodeJpeg/contents:0' refers to a Tensor which does not exist. The operation, 'DecodeJpeg/contents', does not exist in the graph.

I am trying to run retrain_test.py on image but not getting output instead getting error.

Traceback (most recent call last):
  File "retraining-example.py", line 88, in <module>
    run_inference_on_image

[2017-08-13 14:17] easonhuo opened #12251 "an error occurred which is "No algorithm without scratch worked " when using tensorflow to train data"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.2.1-cp36-cp36m-linux_x86_64.whl
- **TensorFlow version (use command below)**:'1.2.1'
- **Python version**: 3.6.2
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN versio

[2017-08-13 14:32] marijnfs commented on #10220
I have this problem as well, made any progress?

[2017-08-13 16:34] RylanSchaeffer commented on #12065
@ppyht2 Adam's solution for my problem might not work generally. In my case, my decoder's output is a (4,) tensor of binary values, so he suggested using a `CustomHelper` that maps the decoder's output to sample_ids by treating the output as an integer represented in binary i.e. [0, 0, 0, 0,]'s sample_id is 0, [0, 1, 0, 0]'s sample_id is 4, etc.

Let me know if that makes sense.

[2017-08-13 16:53] adarob commented on #12065
I added a new InferenceHelper to the Google codebase. I'm not sure how
often that is synced with GitHub but I'd expect it to happen in the next
couple of days.

On Aug 13, 2017 9:35 AM, "Rylan Schaeffer" <notifications@github.com> wrote:

@ppyht2 <https://github.com/ppyht2> Adam's solution for my problem might
not work generally. In my case, my decoder's output is a (4,) tensor of
binary values, s

[2017-08-13 17:31] RylanSchaeffer commented on #12065
@adarob , would it be possible to also get a corresponding modified version of `sequence_loss` that doesn't require `targets` to be shaped `[batch_size x sequence_length]`?

[2017-08-13 17:48] astromme commented on #781
@sampepose, I don't see scales_to_projective_transforms in https://www.tensorflow.org/api_docs/python/tf/contrib/image/rotate yet, has it not landed?

[2017-08-13 20:07] jmlipman opened #12252 "Cannot use mean_absolute_error"
I made a very simple neural network on tf and I wanted to use mean absolute error loss function, however I got this error right after I created the optimizer:

No gradients provided for any variable, check your graph for ops that do not support gradients, between variables [...] and loss Tensor(...)

This is what I did:
[code]

I tried another loss function and it worked. In fact, I read that it's

[2017-08-13 21:03] HRadmard commented on #647
I solve the problem by following steps (in Windows) this fix the problem in pycharm:
1- Run Anaconda prompt
2- Activate root (>activate root)
3- pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.2.1-cp35-cp35m-win_amd64.whl
Finish!

[2017-08-13 21:15] WERAQS commented on #8858
this is a power supply issue, I've been experiencing these problems with my workstation (which had 650W 80+) with i7 CPU & Titan X Pascal GPU (1 ssd, 16gig ram, no hdd, no extra hardware), but I had to connect another PSU to the case and feed 8 Pin power input from 2nd supply. no problems so far, but voltage fluctuations still continuing. Its better to run these machines with at least 800W+ PSU to

[2017-08-14 00:33] RahulDos opened #12253 "not installing"
Collecting tensorflow
  Could not find a version that satisfies the requirement tensorflow (from versions: )
No matching distribution found for tensorflow

[2017-08-14 01:33] gaoisbest opened #12254 "Principle of setting 'hash_bucket_size' parameter ?"
Question 1:
In [`wide_n_deep_tutorial.py`,](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/wide_n_deep_tutorial.py) there is a hyper-parameter named `hash_bucket_size` for both `tf.feature_column.categorical_column_with_hash_bucket` and `tf.feature_column.crossed_column` methods,  and the value is `hash_bucket_size=1000`.

But why `1000`? How to set this parameter ?

[2017-08-14 01:34] carlthome commented on #1666
```log(x, base)``` :+1:

[2017-08-14 01:50] nosqlcoco commented on #11367
I find what caused the error,  I delete this line `_init_state = lstm_cell.zero_state(batch_size, dtype = tf.float32)` in `LSTM_RNN()` function of source. and running successfully.

[2017-08-14 01:53] tobegit3hub opened #12255 "Fail to tune the number of CPU for training"
### System information

== uname -a =====================================================
Linux aws-prophet-tf01 4.4.53-1.el7.centos.x86_64 #1 SMP Sun Mar 12 12:38:41 EDT 2017 x86_64 x86_64 x86_64 GNU/Linux

== check pips ===================================================
numpy (1.13.1)
protobuf (3.3.0)
tensorflow (1.2.1)

== check for virtualenv =========================================
False

=

[2017-08-14 01:58] huangwenwenlili commented on #12073
I also encountered this problem, how to solve?

[2017-08-14 02:21] ppwwyyxx commented on #12225
`tf.train.Saver(save_relative_paths=True)`

[2017-08-14 03:42] wm901115nwpu commented on #12166
I use bazel 0.5.3, but the branch requires 0.4.2

[2017-08-14 03:55] Vapster opened #12256 "No module named 'tensorflow'"
I downloaded the Anaconda 4.1.1 For Windows with Python 3.5.2 version.

Create a conda environment named tensorflow by invoking the following command:
C:> conda create -n tensorflow

Activate the conda environment by issuing the following command:
C:> activate tensorflow
(tensorflow)C:>

I install the CPU-only version of TensorFlow

I installed it successfully.
but then....

c>python
python versio

[2017-08-14 04:26] chzhong commented on #11991
Hi @poxvoculi , I still have this issue with **r1.2** branch or **v1.2.1** tag.
For reasons I have to use 1.2.x, is there any solution?

[2017-08-14 05:02] sidhunileshwar13894 commented on #1890
Sir i created a trained model using Tensorflow Inception. I use the Flower data set.
But i cant find .pb file anywhere....

The codes are specified below...

FLOWERS_DATA_DIR=/tmp/flowers-data/

cd tensorflow-models/inception
bazel build //inception:download_and_preprocess_flowers

bazel-bin/inception/download_and_preprocess_flowers "${FLOWERS_DATA_DIR}"

Now the .tfr file created sucessfully.

IN

[2017-08-14 05:11] szabi commented on #8037
@TomAshley303, this is a pretty awesome info to get! I don't plan to recompile from source. I don't want to. But the info tells me what to do if my model becomes big and slow and will need a performance boost. It's usually cheaper to recompile with extensions than to buy new hardware, given that having good walkthroughts (which we do have) minimizes the labour cost of recompiling (CPU time does no

[2017-08-14 05:12] tfboyd commented on #10220
Stress before saying something that is likely not useful.  I do not recall building from head in the past few weeks.  Sharing what I have done recently, which I doubt is helpful but it is the only info I have that has a remote chance of being helpful.

I built 1.3.0rc2  multiple times on a stock 16.04 setup (on AWS) with AVX2,  CUDA 8 and cuDNN 6 .  I did not use the CUDA 8 Patch 2 (which I can sa

[2017-08-14 05:12] suiyuan2009 commented on #6116
@byronyi , I re-ran the test using tf built from the latest master branch, and I still get
[code]
not much improvement.
I ran the script using 3 different machines, and `grpc+gdr` is about 3400MB/s, `grpc` is about `500MB/s`.

[2017-08-14 05:18] rolai commented on #12073
I didn't find a method to solve this problem gracefully. However you can try: split the graph into two sub-grapy, one before the py_func the other after the py_func.

[2017-08-14 05:26] harwee commented on #12245
Install cudNN and if you have already installed and this error occurs, you can use this code to check if cudNN is properly installed. Generally it should work by renaming cudnn64_7.dll to cudnn64_5.dll if you downloaded the latest cudNN

[2017-08-14 05:40] wqkx opened #12258 "variable_scope.name is not displayed correctly"
![snip20170814_1](https://user-images.githubusercontent.com/25893395/29259398-45c4299a-80f5-11e7-854e-6cdcfd76f5d7.png)

As shown, scope2's name should be new_scope_1

[2017-08-14 05:42] mryellow commented on #8037
I went through the process... Was straight-forward and took no time at all. Not your usual cmake C++ kinda nightmare.

[2017-08-14 05:47] suiyuan2009 commented on #4820
@GrandathePanda , can you provide a minimal test case so we can reproduce?

[2017-08-14 05:56] wm901115nwpu opened #12259 "tensorflow compile error"
When I run :bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --copt=-msse4.2 --config=opt --config=cuda //tensorflow/...
ERROR: /home/wangmeng/tools/tensorflow/tensorflow/compiler/xla/tools/BUILD:109:1: Linking of rule '//tensorflow/compiler/xla/tools:replay_computation_hlo_evaluator' failed (Exit 1)
bazel-out/local_linux-opt/bin/tensorflow/compiler/plugin/executor/l

[2017-08-14 06:02] byronyi commented on #6116
For your reference:
[code]

[2017-08-14 06:25] Hjung9 commented on #10383
By using `conda update dask`, I solved the problem. (windows10, python 3.5 (w/ Anaconda), tensorflow-gpu 1.2.1)

[2017-08-14 06:35] kzos opened #12260 "Hexagon build fails, readme.md needs to be revisited."
OS: Ubuntu 16.04 64bits
Android Version: 7.1 (Nougat)
NDK Version: android-ndk-r12b

Hexagon build readme should be revisited after recent code changes.

I used same command as given in the readme.md
`
tensorflow/tensorflow/contrib/makefile/build_all_android.sh -x /home/kzos/TFHEXLIBS -t hexagon_graph_execution -s /home/kzos/experiment/tensorflow/tensorflow/contrib/makefile/sub_makefiles/hexagon_g

[2017-08-14 06:36] ppwwyyxx commented on #12258
No. `new_scope_1` is the name of the name scope. The name of the variable scope is still `new_scope`.

[2017-08-14 06:48] #12258 closed

[2017-08-14 07:10] changliang-sun opened #12261 "Using Bazel to bulid a tensorflow C++ source in Windows, but stuck at this problem."
OS Platform and Distribution : Windows 10
Bazel version :0.5.3

I download the source on https://github.com/tensorflow/tensorflow, and I want to build the example from it. But when I use command "bazel build ...", it prompt error.

(tensorflow) D:\FsCode\tensorflow>bazel build tensorflow/examples/label_image/...
ERROR: D:/fscode/tensorflow/tensorflow/core/BUILD:1528:1: no such target '//tensorflow

[2017-08-14 07:24] changliang-sun commented on #12256
Maybe you need to use command "cd ( Tensorflow Interpreter Path )" to try it

[2017-08-14 07:50] suiyuan2009 commented on #6116
I got
[code]
, but have you run workers on two different machines, how is the speed?

[2017-08-14 08:30] kzos commented on #12011
@petewarden
any quick fix to get rid of this error?

[2017-08-14 08:49] suiyuan2009 commented on #6116
I use [this script](https://gist.github.com/suiyuan2009/3022d9aecd05eb5ea68a606299810928) to test tensor transmission on two different machines, note that task 2 is a client which is responsible for submitting job. `grpc` is about 500MB/s, `grpc+gdr` is about 3400MB/s.
[code]

[2017-08-14 09:17] changliang-sun commented on #12261
I found the answer. I have installed msys2, which includes a bash shell. This shell can run command ./configure, and use this shell to build.

The next problem is compile error:
`.\tensorflow/core/platform/profile_utils/cpu_utils.h(46) : error C2146: 语法错误: 缺少“;”(在标识符“int64”的前面)
.\tensorflow/core/platform/profile_utils/cpu_utils.h(46) : error C4430: 缺少类型说明符 - 假定为 int。注意:  C++ 不支持默认 int
.\tensorflow

[2017-08-14 09:35] BinhangYuan opened #12262 "Where is gen_logging_ops source code?"
Hi,

I have a question about this import from tensorflow/tensorflow/python/summary/summary.py line 53:
`from tensorflow.python.ops import gen_logging_ops as _gen_logging_ops`

When I go to the directory  tensorflow/python/ops, there is no such file called gen_logging_ops.

I am wondering how this worked out? BTW, I am tracking the r1.3 version.

Any suggestion is highly appreciated!

Best wishes,

[2017-08-14 09:42] carlthome commented on #11745
@lissyx did you manage to solve this?

[2017-08-14 09:49] anandcu3 commented on #11777
@liuzqt Try including cwise_op_ceil.cc in tensorflow/core/kernels/BUILD file under filegroup "android_extended_ops_group1" and rebuild..

[2017-08-14 09:51] yangchengjian opened #12263 "How do I build a whole compute graph and Variables/Weights arguments then training it in C++?"

[2017-08-14 10:50] #12263 closed

[2017-08-14 11:08] areche commented on #2882
@laventura, most likely your GPU is disabled. Install gfxCardStatus, switch to Discrete Only and try again.

[2017-08-14 11:38] gclouding commented on #12080
@chengdianxuezi have you solved the problem ?

[2017-08-14 11:44] July-Morning commented on #10669
Could you please check if the bug in repo is fixed?
I tried to simplify net as much as possible, but for toy examples everything was just fine.

[2017-08-14 12:18] yanivbl6 commented on #11725
I think the problem rises because the Sync deviceToDevice operation blocks the thread, preventing the earlier Async Device to Device operation from finishing- which, for some reason, blocks the later operation.

What I did to check this was change the [call to the wrapper sync function](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/verbs/rdma.cc#L724) to a call to the asy

[2017-08-14 12:32] rasitsimsek opened #12264 "Simple EditDistance constructor is missing in C++"
### System information
- **Windows 10**
- **TensorFlow installed from source**
- **TensorFlow version 1.3-rc2**
- **Python version 3.5.3**:
- **Bazel N/A**
- **CUDA/cuDNN version N/A**
- **GPU model and memory N/A**
- **N/A**

### Describe the problem
There is no simplier EditDistance::EditDistance() constructor there which only accept sparse::SparseTensor arguments. The EditDistance constructor w

[2017-08-14 12:36] ppyht2 commented on #12065
@RylanSchaeffer I'm currently working on a problem where my decoder's output has float values, in which case the solution will no longer work, is that correct?

@adarob will the InferenceHelper resolve this issue?

Thanks for you help guys :)

[2017-08-14 12:44] Pelups opened #12265 "Android demo - SDD-Mobilenet model download failed"
**System information**

OS Platform and Distribution:Windows 10
TensorFlow installed from:Source
TensorFlow version:master branch
Python version: 2.7.12
Bazel version:NA
CUDA/cuDNN version:NA
GPU model and memory:NA

**Describe the problem**
Hi,
I'm trying to compile the android demo example project just released the August 11, 2017.
I'm building it with Android Studio and gradlle.
The build fails

[2017-08-14 12:52] facaiy opened #12266 "compile using `bazel test` failed on mac"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac 10.11.6
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: master
- **Python version**: 3.5
- **Bazel version (if compiling from source)**: 0.5.3-homeb

[2017-08-14 12:59] facaiy commented on #12249
Hi, @ngc92 . I guess that your `model_fn` is invalid. This is a [detailed tutor](https://www.tensorflow.org/extend/estimators#constructing_the_model_fn) which might be useful for you.

[code]

[2017-08-14 13:18] huangwenwenlili commented on #12073
I  can't know how to do it? I have no idea for this problems.

[2017-08-14 13:21] jubjamie commented on #12256
Make sure you are not sitting inside your anaconda directory. cd to somewhere else (like C), **ensure that you activate your environment** then try again. From your issue file it suggests that you weren't inside your tensorflow environment when entering your python console.

[2017-08-14 13:22] jubjamie commented on #12253
_Please make sure you fill in the issue template to ensure that your issue can be troubleshooted correctly. Key information includes System Specs and Tensorflow/CUDA/cuDNN versions. Without this it's harder to help!_

Absolutely not enough information here to help. This is usually caused by an incompatible system/python version. Please fill in the Issue Template and it will be possible to give you

[2017-08-14 13:27] jubjamie commented on #12221
I see you are trying to install on Windows, @mrry has a great installation troubleshooter script that can help pinpoint issues available here: [mrry's Self-check Script](https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c)

[2017-08-14 13:54] flavioschuindt commented on #12099
@tatatodd Ok, I had some progress here. I tried all the stpes above in a VirtualBox ubuntu machine. It seems that VirtualBox is not fully activating all of these CPU instructions, so in runtime (`import tensorflow`) I got this error. Do you know how to fully activate it in VirtualBox?

[2017-08-14 13:59] July-Morning commented on #10669
Minor update here: the slowdown seems to happen only in case of cpu version of tensorflow and in case of gpu version of tensorflow running on several GPUs. In case of tensorflow-gpu running on one GPU the times for all three cases are nearly equal.

[2017-08-14 14:01] alextp commented on #3907
Not as of august 2017

On Sat, Aug 12, 2017 at 11:38 AM, Yiru Shen <notifications@github.com>
wrote:

--
 - Alex

[2017-08-14 14:21] abviv commented on #7172
One of the issue which i'm facing is
1) I have a pre-trained model created with a  frozen graph.py with the file name classify_image_graph_def.pb, how do i make a predictions with just this file alone. I'm new to TF and there are lots of formats and its quite confusing.
2) I have a folder and it contains a set of images on which i have to make a predictions.

[2017-08-14 14:29] abhigenie92 commented on #7653
@aselle Hi, is there any alternative to make it work without running it as root?

[code]

Without sudo:
Please note:
`2017-08-14 07:28:29.379866: E tensorflow/stream_executor/cuda/cuda_driver.cc:406] failed call to cuInit: CUDA_ERROR_NO_DEVICE
[code]

[2017-08-14 14:32] rohan100jain commented on #12262
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-14 14:32] #12262 closed

[2017-08-14 14:34] rohan100jain commented on #12250
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-14 14:34] rohan100jain commented on #12254
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-14 14:34] #12254 closed

[2017-08-14 14:35] rohan100jain commented on #12220
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-14 14:36] rohan100jain commented on #12072
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-14 14:36] #12072 closed

[2017-08-14 14:37] rohan100jain commented on #12082
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-14 14:39] rohan100jain commented on #12084
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-14 14:40] rohan100jain commented on #12126
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-14 14:40] #12126 closed

[2017-08-14 14:54] skye commented on #12177
To help narrow down this issue, have you tried compiling without AVX support and seen if that works as expected?

[2017-08-14 15:00] skye commented on #12185
@yifeif are you able to comment on this? Thanks.

[2017-08-14 15:00] skye commented on #12187
Hi @dartdog, has your issue been resolved?

[2017-08-14 15:01] skye commented on #12193
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-08-14 15:03] skye commented on #12203
Unfortunately we don't have the bandwidth to support every platform and architecture. I'll mark this community support in case someone who can support 32-bit builds wants to contribute.

[2017-08-14 15:09] Vapster commented on #12256
in command Prompt after I activate tensorflow it works fine,
but I am using sublime and I am not able to build it

[2017-08-14 15:13] #12225 closed

[2017-08-14 15:14] skye commented on #12227
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-14 15:14] #12227 closed

[2017-08-14 15:15] skye commented on #12231
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-14 15:15] #12231 closed

[2017-08-14 15:15] skye commented on #12233
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-14 15:15] #12233 closed

[2017-08-14 15:17] skye commented on #12249
@martinwicke can you comment or redirect? Thanks.

[2017-08-14 15:18] Phantomb commented on #136
Encountered the same issue on my Windows 10, 2GB GTX1050. Using @ChinChangYang 's solution fixed it for me. (Make sure to place the other code at the right indentation, so it falls within the `with` block

[2017-08-14 15:23] skye commented on #12251
This looks related to #9576. Perhaps you're out of GPU memory?

[2017-08-14 15:26] skye commented on #12259
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-14 15:26] #12259 closed

[2017-08-14 15:27] zakizhou opened #12268 "add args to control padding in the definition of pretrained model in slim"
in some situation, the outputs of "same" and "valid" padding are same for original model, but when do fine-tuning with a new model, they are not,  adding an arg to control padding is meaningful.

[2017-08-14 15:28] skye commented on #12261
Thank you for posting your solution! We suggest that people post to [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) with build problems, as GitHub issues are reserved for bugs and feature requests. Thanks!

[2017-08-14 15:28] #12261 closed

[2017-08-14 15:28] skye commented on #12265
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-14 15:41] weiliu620 opened #12270 "tensorboard 0.1.1: No such file or directory: '/usr/local/lib/python3.4/dist-packages/tensorflow/tensorboard/TAG'"
Just upgrade to TF 1.3 and tensorboard 0.1.1 from Pypi. Ubuntu 14.04 64 bit and python 3.4.

Running tensorboard gives me the following error:
[code]

I checked `/usr/local/lib/python3.4/dist-packages/tensorflow/` and didn't find `tensorboard` folder there.

Here is related `pip3 list` output:
[code]

EDIT: I realize this is more like a issue of Tensorboard than Tensorflow. Please feel free to mov

[2017-08-14 15:44] weiliu620 commented on #10429
After upgrading TF to 1.3rc1, I have this error when start tensorboard
[code]
I reported the issue at #12270

[2017-08-14 16:15] RylanSchaeffer commented on #12065
@ppyht2 That's correct. However, I think there's an easier solution if you don't care about sample_ids.

If you look at `dynamic_decode`, you'll see that the function [calls its decoder's step method](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/contrib/seq2seq/python/ops/decoder.py#L234). Assuming you're using a `BasicDecoder`, the [step method does three things](https://github.c

[2017-08-14 16:15] choongng commented on #22
My company has been working on OpenCL deep learning for a while and we have some early results to show. We are focusing on Keras in the near term however we also have built (very) experimental TensorFlow support and will revisit that after our initial release. More details here including initial throughput numbers on AMD: http://vertex.ai/blog/bringing-deep-learning-to-opencl

[2017-08-14 16:31] weiliu620 commented on #12270
let me move it to Tensorboard .

[2017-08-14 16:31] #12270 closed

[2017-08-14 16:46] martinwicke commented on #12249
Yes, we're using getargspec, which doesn't support type annotations. This is worthwhile to fix. If someone wants to take it on, the code should be relatively isolated in a single function which is checking arguments.

[2017-08-14 16:51] kirilg commented on #12159
`tensorflow-serving-api` is the right package name to use, [tensorflow-serving-client](https://pypi.python.org/pypi/tensorflow-serving-client) is not affiliated with the project and is published by another company.

The package indeed only exists for python 2, so that's likely the reason it's not finding it.

[2017-08-14 17:06] reedwm commented on #12046
I'm able to reproduce with this simplified case:

[code]

So it seems boolean Variables cannot be placed (or at least initialized) on the GPU.

@mrry, can you take a look?

[2017-08-14 17:09] cathalgarvey commented on #22
Cool!

Tiny nitpick: AFAIK, MIOpen is not AMD-specific, as it can link to OpenCL as well as to ROCm. The latter is probably faster, but still; MIOpen is a huge step forward for the "Open Source Neural Networks On GPU" shtick, and AMD deserve huge cred for it if it works well on OpenCL.

August 14, 2017 5:19 PM, "Choong Ng"  wrote:
	My company has been working on OpenCL deep learning for a while an

[2017-08-14 17:11] yifeif commented on #12185
Thanks for bring this up!

This might be due to the following change that adds autograd as a pip dependency. https://github.com/tensorflow/tensorflow/blob/dff1062bbf53cd8890d8d43ea815c90ba4555ba4/tensorflow/tools/pip_package/setup.py#L39
Autograd requires numpy>=1.12
William, could you try ping to a higher numpy version?

[2017-08-14 17:17] andrewharp commented on #12265
It looks like the model archive is available at
http://storage.googleapis.com/download.tensorflow.org/models/**object_detection**/ssd_mobilenet_v1_android_export.zip, while the download-models.gradle script expects it at http://storage.googleapis.com/download.tensorflow.org/models/ssd_mobilenet_v1_android_export.zip.

@jch1 @martinwicke All of our other models (include multibox, which is also for

[2017-08-14 17:23] wchargin commented on #12185
To clarify: in environments where this is actually a problem, I'm not installing numpy myself. The problem is that some environments (e.g., CIs) come preinstalled with numpy. In this case, a setup script whose only contents are `pip install "${TF_NIGHTLY_URL}"` will fail, because `numpy==1.11.0` is already installed on the system.

I included `pip install numpy==1.11.0` in my example script only t

[2017-08-14 17:23] reedwm commented on #12132
@BKZero or @stengoes, can you give a full self-contained example to run that demonstrates the performance difference? In the example above, I do not know the initial value of `net`.

[2017-08-14 17:29] reedwm commented on #12134
@cwhipkey can you take a look at this?

[2017-08-14 17:36] cwhipkey commented on #12134
nudged min and nudged max are both adjusted by the same amount, so the scale should be the same - but I suppose arithmetic errors might make it so we should recompute the scale?

@suharshs  can you take a look as well?

[2017-08-14 17:38] reedwm commented on #12166
Please fill out the entire [Github new issue template](https://github.com/tensorflow/tensorflow/issues/new).

[2017-08-14 17:41] martinwicke commented on #12265
I think in general it would be better to place new models in subfolders, in particular if they have several files. We also shouldn't move downloadable assets around.

I would fix the gradle file, that seems like the simplest solution.

[2017-08-14 17:45] lissyx commented on #11745
Short answer, yes. Long answer I has to work on some TaskCluster bits to have more tooling, and there are still issues related to upstream but I managed to get it working even with ARM cross compilation targeting RPi3.

[2017-08-14 17:46] mrry commented on #12046
It looks like the kernel backing `tf.Variable` isn't registered for `tf.bool` on GPU devices. See the use of `TF_CALL_GPU_NUMBER_TYPES()` to register the kernel for different types [here](https://github.com/tensorflow/tensorflow/blob/b93fd37e143bcdd6339f8e6081c948384a262e0b/tensorflow/core/kernels/variable_ops.cc#L85), and note that the macro's definition [here](https://github.com/tensorflow/tenso

[2017-08-14 17:49] suharshs commented on #12134
The scale should be the same because the min and max will be nudged by the same amount based on the zero point. I am unaware of a case where arithmetic errors have caused issues with this. @passerbyd , did you have a specific example where the scale should change?

[2017-08-14 17:59] tfboyd commented on #12052
Trying to figure it out this week.  Logistics are often harder than I
think.

On Aug 12, 2017 10:18 AM, "Tanmay Bakshi" <notifications@github.com> wrote:

[2017-08-14 18:04] yaroslavvb commented on #12255
By default `cpu:0` refers to all CPU cores on the system. You can create virtual CPU devices like "cpu:1", but there's no physical pinning of cores, so ops pinned to "cpu:1" will run on same cores as ops pinned to "cpu:0". To see what cores are actually being used to run ops you need to use something like `ktrace` utility.

Furthermore, I don't see anything in your script that will place ops onto

[2017-08-14 18:06] choongng commented on #22
@cathalgarvey Thanks for the correction, I based my comment off of the system requirements in the MIOpen documentation (https://rocmsoftwareplatform.github.io/MIOpen/doc/html/install.html#prerequisites) but happy to update if there's a better link.

[2017-08-14 18:09] reedwm commented on #12186
@cryptox31 Can you specify what benchmarks you are running? Thank you.

[2017-08-14 18:16] reedwm commented on #12268
Can you clarify what you mean? What do you mean by adding an argument to control padding?

[2017-08-14 18:19] sounakdey commented on #9002
@ameya sorry i did not find a solution. If you get one can you please post

On Fri, Aug 11, 2017 at 5:39 PM, Ameya <notifications@github.com> wrote:

[2017-08-14 18:22] reedwm commented on #12202
@fchollet can you take a look?

[2017-08-14 18:25] shivam9654 commented on #12256
Activate tensorflow in your command prompt then write your code in sublime and run
(tensorflow)C:> python yourfilename.py

[2017-08-14 18:29] reedwm commented on #12210
/CC @vrv

[2017-08-14 18:38] vrv commented on #12210
https://github.com/tensorflow/tensorflow/blob/17bc79f4eb0608f5fd82fe08bb50688773a41bc7/tensorflow/python/tools/optimize_for_inference.py#L126

is probably a better form of using 'booleans', along with

https://github.com/tensorflow/tensorflow/blob/17bc79f4eb0608f5fd82fe08bb50688773a41bc7/tensorflow/python/tools/optimize_for_inference.py#L105

Would you like to send a PR?

[2017-08-14 18:43] vrv commented on #12210
Oh it does look the same pattern is being employed.  Let me try to reproduce first.

[2017-08-14 18:47] vrv commented on #12210
It's just missing a named argument, I can send a PR.

[2017-08-14 18:51] #12252 closed

[2017-08-14 19:01] reedwm commented on #12046
Marking as contributions welcome if someone wants to add GPU boolean variable support.

[2017-08-14 19:04] reedwm commented on #12242
@av8ramit, can you check why the Windows GPU links are broken in [README.md](https://github.com/tensorflow/tensorflow/blob/master/README.md)?

[2017-08-14 19:08] yongtang commented on #12249
Added a PR #12276 for this issue.

[2017-08-14 19:14] reedwm commented on #12234
Closing since it seems the issue was not with the documentation, but with confusion over the fact the default numpy type is float64, not float32. Feel free to reopen if you still think the documentation is unclear.

[2017-08-14 19:14] #12234 closed

[2017-08-14 19:34] davidhstern commented on #11650
Has anyone had a chance to look at this?  I agree with @santon834 that it looks like variational dropout  has been wrongly implemented for the LSTM and GRU if state_keep_prob < 1.  I think that the LSTM could be fixed by excluding the c state from dropout.   However, fixing the GRU would require more changes as dropout should only be applied after the weights (U) are applied but not after the mult

[2017-08-14 19:37] mayuresh51 opened #12277 "Hash mismatch for cub project while building tf_label_image_example project in Release mode on Windows 64 bit build."
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 64 Bit
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: Output copied below
- **Python version**: 3.5.3 (Anaconda)
- **Bazel version (if compiling from source)**: -

[2017-08-14 19:50] Yevgeniyr1 opened #12278 "Integrating both Tensorflow an Caffe in C++"
------------------------

### System information
- I  wrote custom code
- Ubuntu 14.04:
- TensorFlow installed from source
- TF 1.2.1:
-  C++ API
-  No Bazel
- CUDA 7.5

### Describe the problem
Hello!

I am trying to write a code in C++ using the Eclipse IDE without Bazel. To get my project to do this I had to perform some hacks to generate the Tensorflow C++ APIs. Tensorflow C++ seems to be work

[2017-08-14 19:51] av8ramit commented on #12242
Trying again after merging a fix for hash mismatch error in cmake: https://github.com/tensorflow/tensorflow/pull/12271

[2017-08-14 19:51] davidhstern commented on #11650
@santon834 You might want to check out https://arxiv.org/pdf/1603.05118.pdf

It looks like not dropping the LSTM memory state might actually be the key to getting good performance from dropout in LSTMs.  Using one mask per sequence might be redundant as long as you do this.

[2017-08-14 20:30] junshi15 commented on #11725
@yanivbl6 Thanks for looking into it. There is another sync wrapper function, [SetProtoFromGPUSync](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/verbs/rdma.cc#L730). We should convert that back to async as well.

The motivation for using sync wrapper is mainly for simplicity. Otherwise, you end up with chained call-backs, which is actually fairly common in tensorflow cod

[2017-08-14 20:57] ai-coder commented on #2685
If you are having this error
[code]
The tensorflow models are not included in tensorflow. You will have to download the tensorflow models zip from GitHub and paste them to the tensorflow folder in python packages.

[2017-08-14 21:03] tbsflk commented on #12177
I just tried it, I don't see that error then, but get OutOfMemory errors instead (it looks like they happen at a later point, but I can't say that for sure).

`2017-08-14 23:00:34.852292: W C:\tf\tensorflow\tensorflow\core\framework\op_kernel.cc:1192] Resource exhausted: OOM when allocating tensor with shape[189918321]` (occurs many times)

[2017-08-14 21:12] cryptox31 commented on #12186
@reedwm I am running the inception_v3 model (tf_cnn_benchmarks.py)

[2017-08-14 21:17] skye commented on #12177
Hm, I wonder if the OOM error is somehow happening with your AVX code but manifesting in a weird way. Are you able to provide a script we can use to repro the problem?

[2017-08-14 21:18] reedwm commented on #12186
@tfboyd can you comment?

[2017-08-14 21:29] posix4e opened #12280 "Output quantized graphs"
Feature:

It'd be nice if it was easy to output as a u8 instead of a f32 between 0-1. I think a simple modification to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/quantization/quantize_graph.py should do it --quantized_output would be symmetrical

[2017-08-14 22:00] tfboyd commented on #12186
This may be the same person as on tensorflow-discuss, which is great and I am pasting the same response.

A few things to help get you started.

- You will want to compile with the MKL to get the most our ot Xeon Phi
- You will need to set the MKL env flags
- You will need to set the num_inter_threads and num_intra_threads flags on the tf_cnn_benchmark.
- For MKL you want to use data_format=NCHW (

[2017-08-14 22:06] petewarden commented on #12265
I ran into this just now, and as a temporary fix (since it's blocking anyone from building the Android demos with the top-of-tree code) I've copied the relevant file to the location it's expected. We should also fix the code, but the simplest fix (adding a prefix to the name) failed because it's used as a file name for the destination of the download.

[2017-08-14 22:12] andrewharp commented on #12265
I've fixed this internally using a split to separate the filename from the url -- should be included in the next push.

[2017-08-14 22:58] asimshankar commented on #10761
It's fine to put it in core I think, though not sure what module it should be in (`tf.roll` or `tf.<something>.roll`). Deferring to @aselle for placement.

[2017-08-14 23:27] #483 closed

[2017-08-14 23:32] zhenhe168 commented on #11327
@yzhwang Hi, Wang, I got a similar issue as below. I have a moderate model with dozens of thousands of weights and 128 batch size of 128x128 size images. Can you tell me how to fix this? Thx a lot! I am using tensorflow r1.3 / python 3.6.1 / CUDA/cuDNN version: CUDA Version 8.0.61, GPU model and memory: GeForce GTX 1080, 8GB.

Python 3.6.1 |Continuum Analytics, Inc.| (default, May 11 2017, 13:09:5

[2017-08-14 23:52] #10003 closed

[2017-08-15 00:04] yzhwang commented on #11327
Hi @zhenhe168 . I don't think r1.3 branch does not contain my commit that fixed this error: https://github.com/tensorflow/tensorflow/commit/db596594b5653b43fcb558a4753b39904bb62cbd. Could you try from head of master branch? I've confirmed it contains this commit.

[2017-08-15 00:07] reedwm commented on #12158
Closing as this does not appear to be a bug. @RuofanKong reopen if you still believe it is a bug.

[2017-08-15 00:07] #12158 closed

[2017-08-15 00:10] reedwm commented on #12164
@mrry can you take a look?

[2017-08-15 00:13] reedwm commented on #12188
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-15 00:13] #12188 closed

[2017-08-15 00:42] reedwm commented on #12236
I cannot reproduce on 1.3 RC2 or on head. I have a "/gpu:0/stream:all Compute" section when I run the code and load `/tmp/timeline.json` into Chrome.

@prb12, any ideas what the issue is?

[2017-08-15 00:42] zakizhou commented on #12268
Thanks! @reedwm

This is the source code of definition of vgg16 in slim:
[code]
As you can see,  both functions(conv2d and maxpooling) use default padding argument which is "same" for conv2d and "valid" for maxpooling, for an input image with shape `[None, 224, 224, 3]` where 224 is a multiple of 32, "valid" padding of maxpooling has the same effect with "same" padding, but if the shape is `[None,

[2017-08-15 00:48] reedwm commented on #12268
The `vgg_16` model assumes its input is 224x224. If you want to run it on images of a different size, you must first resize it to 224x224. Note the comment in the docstring which states "To use in classification mode, resize input to 224x224."

[2017-08-15 00:53] reedwm commented on #12266
@gunan do you know what the problem is?

[2017-08-15 00:55] reedwm commented on #12280
/cc @cwhipkey

[2017-08-15 00:57] reedwm commented on #12278
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-15 00:57] #12278 closed

[2017-08-15 00:59] zakizhou commented on #12268
![image](http://joshua881228.webfactional.com/media/uploads/ReadingNote/arXiv_SSD/SSD.png)

ssd chooses vgg 16 as base network, if the padding is "valid" which is default in the definition, the conv4_3 layer shape should be `[None, 37, 37, some_channels]`  which is not the correct shape in ssd model(should be `[None, 38, 38, some_channels]`). adding an argumeng to change the padding from "valid" t

[2017-08-15 01:00] posix4e commented on #12280
I realized this is actually what happens

[2017-08-15 01:00] #12280 closed

[2017-08-15 01:10] cYclonEK commented on #9849
@cryptox31 Sorry to tell you that I still cannot successfully build TF on KNL with native optimization.

[2017-08-15 01:42] #12185 closed

[2017-08-15 01:56] tfboyd commented on #5688
Internal email thread started, looking for an owner to "dig in".  Sorry for the delays hopefully we get this moving forward.

[2017-08-15 03:04] gunan commented on #12266
[code]

This is the problem. Maybe we setup our  build on MAC to specificly use clang? not sure why these errors are being thrown. Did you try googling these error messages?

[2017-08-15 03:19] chrisc36 opened #12284 "Cudnn `params_to_canonical` failed"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0-rc2
- **Python version**: 3.5.2
- **Bazel version (if compiling from source)**

[2017-08-15 03:30] facaiy commented on #12266
Thanks for your quick reply.

GCC is 4.2.1 in Mac, while it works well without any warning on ubuntu (GCC 5.4.0).  Hence I guess that these warnings are related to gcc version.

It seems that many people try to update gcc, while most get in trouble, see #336, #75, #649.

In all, if tensorflow supports to compile with the default compiler on Mac (or more detailed  Instruction about how to test on M

[2017-08-15 03:35] reedwm commented on #12237
Is the run_atari.py file [this file](https://github.com/openai/baselines/blob/master/baselines/trpo_mpi/run_atari.py)? If so, you probably want to file this issue with that project.

[2017-08-15 03:35] #12237 closed

[2017-08-15 03:36] reedwm commented on #12264
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-15 03:43] reedwm commented on #12194
I am able to reproduce the issue. This issue seems similar to #2883.

@petewarden, any thoughts?

[2017-08-15 03:53] YusukeSuzuki commented on #11736
I tried virtualenv only build.
build and build_pip_package are successfully finished.

[code]

[code]

configure

[code]

build command

[code]

[2017-08-15 04:12] Vapster commented on #12256
thanks for your support

[2017-08-15 04:12] #12256 closed

[2017-08-15 05:14] quaeler commented on #12266
Just piping up with some anecdotal (and so useless) news, but when i run tests (e.g `bazel test //tensorflow/c:c_api_test`) on my Mac (10.12.6) with current XCode and no attempted gcc updates, it uses clang successfully.
[code]

The only peeps of complaint regarding flags that i see are
[code]

I also just reran the c_api_test including `-c opt` to see if that triggered a similar warning but saw n

[2017-08-15 05:18] zhenhe168 commented on #11327
thx for the quick response.
I am a newbie. May I ask whether there is any other easier way to install
the latest stable version, other then building tf source codes?

On Mon, Aug 14, 2017 at 5:07 PM, Yangzihao Wang <notifications@github.com>
wrote:

[2017-08-15 05:19] gunan commented on #12266
As @quaeler stated, we build and test TensorFlow on MacOS using default clang that comes with Xcode. Our build system has some hardcoded compile and link options based on OS, and the MacOS options in the system may not match what GCC on MacOS provides.

@facaiy Would it be possible for you to try using clang (that is distributed with Xcode) on your machine instead of GCC?

[2017-08-15 05:32] facaiy commented on #12266
Thanks, @gunan and @quaeler .

I indeed use default clang, sorry for misunderstanding. However, my mac is 10.11.6, which is older than @quaeler . Perhaps upgrading system can solve my problem, I'll try to upgrade later.

[2017-08-15 06:12] mrry commented on #12277
Thanks for the report! Looks like this was fixed recently in 538111038e9106a90d371f5db37cb5e9633de386.

[2017-08-15 06:24] nolanliou commented on #12178
you should initialize the variable before `sess.run`. Add the line blow to your code.
`sess.run(tf.global_variables_initializer())`

[2017-08-15 06:34] tbsflk commented on #12177
The following code is enough to produce the described issue on my machine:

[code]

With TF 1.3.0rc2, compiled from source, with AVX support, I get the described error:

[code]

With TF 1.3.0rc2, compiled from source, _without_ AVX support, I get an error related to dimensionality (but not the OOM I saw running the full code):

[code]

With TF 1.1.0, pre-compiled, it runs just fine:

[code]

[2017-08-15 06:36] sevenguin commented on #7980
export PBR_VERSION='your pbr version', it's will be worked, but i don't know why VersionInfo('mock') is wrong, maybe setup.cfg in mock has some problem.

[2017-08-15 06:50] jakajacky opened #12285 "build_all_ios.sh fail with Error： redefinition of 'NoBarrier_CompareAndSwap'"
[code]

[2017-08-15 07:01] wm901115nwpu opened #12286 "android detection"
I use the android demo, but in my mobile, I can't get the bounding box.I don't know what result it.

[2017-08-15 07:06] linyia01 opened #12287 "Loss stays a constant 0.6931 while training"
i just add the out maps to a  big value

= >   step: 0 loss: 0.6773 accuracy:0.61
= >   step: 1 loss: 2.4587 accuracy:0.66
= >   step: 2 loss: 5.3353 accuracy:0.32
= >   step: 3 loss: 1.0234 accuracy:0.52
= >   step: 4 loss: 10.6901 accuracy:0.67
= >   step: 5 loss: 1.9899 accuracy:0.62
= >   step: 6 loss: 3.5713 accuracy:0.63
= >   step: 7 loss: 0.6869 accuracy:0.64
= >   step: 8 loss: 0.6931 acc

[2017-08-15 07:10] linyia01 commented on #12287
http://www.huangzhicheng.com.cn/2017/05/02/%E8%A7%A3%E5%86%B3Caffe%E8%AE%AD%E7%BB%83%E8%BF%87%E7%A8%8B%E4%B8%ADloss%E4%B8%8D%E5%8F%98%E9%97%AE%E9%A2%98/    the same problem

[2017-08-15 07:29] snnn commented on #11735
Hi @meteorcloudy , Do you have any future plans of this? Could you please also fix https://github.com/bazelbuild/bazel/issues/2675 , which breaks http://ci.tensorflow.org/job/tf-master-win-bzl/ for a long time.

[2017-08-15 08:11] Rojina99 commented on #5396
Can you help me understand this problem.I am also having the same problem, I am checking the function values with Interactive session as

def ptb_producer(raw_data, batch_size, num_steps, name=None):
  """Iterate on the raw PTB data.

  This chunks up raw_data into batches of examples and returns Tensors that
  are drawn from these batches.

  Args:
    raw_data: one of the raw data outputs from p

[2017-08-15 08:16] Enigma-li opened #12288 "Build error for finding some generated header files"
I just build the master branch on windows based-on the CMake method, as shown in link: https://github.com/tensorflow/tensorflow/tree/r0.12/tensorflow/contrib/cmake

I first build the PIP package, as described in the above link. But there is build error says that:

C:\v-clhian\tensorflow\tensorflow/contrib/boosted_trees/lib/utils/dropout_utils.h(21): fatal error C1083: Cannot open include file: 'te

[2017-08-15 08:17] rasmusbergpalm commented on #7951
I think the queues are nice enough. I'd like to see two things improved though:

An easier way of inputting data from native python other than using placeholders, and managing threads.

Maybe a class `InputQueue(delegate, fn, n_filler_threads)` that takes a tensorflow queue delegate and a python function `fn`. `fn` returns a (possibly nested) tuple of np.array or lists. The InputQueue starts `n_fi

[2017-08-15 08:29] nolanliou commented on #11709
@alextp I have sent a PR, please review it if you have time. Thanks.

[2017-08-15 08:33] luckynote opened #12289 "saver.restore(sess,modelpath) is able to normal run in tensorflow1.0.1,but have a problem in tensorflow 1.2.1"
### System information
- **OS Platform and Distribution**:Ubuntu 14.04
- **TensorFlow installed from**binary
- **TensorFlow version**:Tensorflow1.0.1 and Tensorflow1.2.1
- **Python version**: Python 2.6
- **GPU model and memory**:1080 Ti

### Describe the problem
I meet this problem at following. My predict.py is able to normal run in Tensorflow 1.0.1, but have shown this proble in Tensorflow 1.2.

[2017-08-15 08:34] weberxie opened #12290 "Environment Variable KERB_TICKET_CACHE_PATH is unnecessary"
https://github.com/tensorflow/tensorflow/commit/83559ee1d8cce32dd80cb017cd8bb76880790b23 have provided a commit to add kerberos ticket cache file.

In `com.sun.security.auth.module.Krb5LoginModule#initialize(),` it default set ticketCacheName from ticketCache of options, ticketCache was set in `org.apache.hadoop.security.HadoopConfiguration` by `System.getenv("KRB5CCNAME");`.

So, according to htt

[2017-08-15 08:49] lugq1990 commented on #10798
@bmount I want to make the .pkt for the object detection on the mobile. And I want to make the the label to be chinese, so I want to know the label of the mobilenet on the tensorflow, but I can't find the label file by downloading the model from the tensorflow model zoo. Maybe can you tell me where to find the label file for the mobilenet? thank you so much! hope your message!

[2017-08-15 08:56] yegord commented on #12178
On Tue, Aug 15, 2017 at 06:26:04AM +0000, nolan liu wrote:

I do not do session.run(). I even do not have a session yet. It is the
graph construction that fails.

--
Yegor Derevenets

[2017-08-15 09:04] tobegit3hub commented on #12255
Thanks @yaroslavvb . It's reasonable and we have increase the utility of all CPUs by adding the number of thread for reading TFRecords files.

So is it right if we don't need to specify `cpu:1` and we may get the best performance?

[2017-08-15 09:13] nolanliou commented on #12178
v1.3 is ok for your code.

[2017-08-15 09:44] dlaj opened #12291 "Tensorflow Bug (load avg rises very high, cannot kill process, system freeze)"
The following script run.sh will increase load avg to several 100 (it takes usually 100 iterations)

run.sh
[code]

testTF.py
[code]

The error started to appear in Ubuntu 14.04 (where it freezes the workstation).
Updating to Ubuntu 16.04 makes the workstation more responsible, but a reboot is still necessary.
observations:
* I can not kill the PID of the python process when the load avg rises
* c

[2017-08-15 09:58] luckynote commented on #12289
By print variables, I find following.
1.0.1 | 1.2.1
-- | --
LSTM/basic_lstm_cell/weights | LSTM/basic_lstm_cell/kernel
LSTM/basic_lstm_cell/biases | LSTM/basic_lstm_cell/bias

tf1.0.1 LSTM is different to tf1.2.1 LSTM, but I don't know how to continue doing.

[2017-08-15 09:59] luckynote commented on #12289
By print variables, I find following.

1.0.1 | 1.2.1
-- | --
LSTM/basic_lstm_cell/weights | LSTM/basic_lstm_cell/kernel
LSTM/basic_lstm_cell/biases | LSTM/basic_lstm_cell/bias

tf1.0.1 LSTM is different to tf1.2.1 LSTM, but I don't know how to continue doing.

[2017-08-15 10:03] nolanliou commented on #12046
Have sent a PR for this issue.

[2017-08-15 10:36] basveeling opened #12293 "tf.nn.avg_pool NaN bug with pool size 7 and stride 1"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip install tensorflow-gpu
- **TensorFlow version (use command below)**:  1.2.1
- **Python version**: Python 3.6.1 :: Anaconda custom (64-

[2017-08-15 11:48] shamoya commented on #11725
Great job @yanivbl6 , looks like this is it.
Waiting for the PR with the fix.

Looking now in the gRPC code, they are doing this flow aysnc, this is probably why we didn't see it when running with gRPC.

[2017-08-15 11:48] stengoes commented on #12132
@reedwm, the code below shows that the separable convolution (depthwise followed by pointwise) is pretty much useless. It is much more efficient in terms of time to compute the effective filters and use the normal convolution function (tf.nn.conv2d) instead of the seperable convolution.

With the settings below, one would expect the separable convolution to be much faster since it only needs to co

[2017-08-15 11:51] shamoya commented on #12035
Thanks @sj6077, maybe it's too much threads for your system.
Anyway @yanivbl6 found has a real fix (not workaround) for the problem.
Once he will PR it, I'll ping you to try it to verify it works.

[2017-08-15 11:52] bpiel commented on #9150
@skye  Like @eaplatanios, I'm attempting to write a library (Clojure) on top of TF's C API. I'm at the point of trying to implement while loops and something like the `AddNamedInput` function you described would be very helpful. Has anything like that been added to the C API? I don't see it, but I'm hoping I just missed it.

If not, are there plans for that?
Or, have there been any other advances

[2017-08-15 12:35] shamoya commented on #11825
@junshi15
Maybe I'm missing something, but I don't see where we have a shared pinned memory in the design.
Each RdmaTensorBuffer (hashed by its name) has it's own pinned buffer on both sides.
I thought the necessity of the tolerate_dup_recv in the verbs code is the RDMA_BUFFER_REQUEST (first Tensor transfer, change in tensor size) which will follow a second [RecvAsyncLocal](https://github.com/tens

[2017-08-15 12:43] Sylvus opened #12294 "Computation of Mean IoU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 7
- **TensorFlow installed from (source or binary)**:
Source.
- **TensorFlow version (use command below)**:
r1.2
- **Python version**:
3.5

### Describe the problem

I believe that the calculation of

[2017-08-15 12:49] bkovalev commented on #11725
Thanks to all to solve it! Great job!  Go to check it !
Need to put it in r1.3 and master.

[2017-08-15 13:02] sam1902 opened #12295 "Tutorial code on linear regression is missing a line"
Hello,
The tutorial code on the main website is missing a line that makes it crash when testing.
Here is the page of the tutorial: https://www.tensorflow.org/get_started/get_started
Here is the said code:
[code]

The `eval_input_fn` is missing, just add this line:
[code]
after the `input_fn = tf.contrib.learn.io.numpy_input_fn({"x": x_train}, y_train, 4, num_epochs=1000)` line.
Hope it'll help som

[2017-08-15 14:36] yegord commented on #12178
Confirmed. The bug seems to be already fixed in v1.3.0-rc2 and 1d33a59a9d554be863cfb06e9aa0ce1fa33ce9e6.
Thanks!

[2017-08-15 14:36] #12178 closed

[2017-08-15 14:49] snnn commented on #11062
Hi @tcmxx , it was built by bazel.  Please try to follow these 2 guides:

https://docs.bazel.build/versions/master/install.html
https://www.tensorflow.org/install/install_sources

And

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/windows/libtensorflow_cpu.sh

[2017-08-15 15:16] glhfgg1024 commented on #5676
I also have this problem. I generated the tfrecords on Windows system, and the problem is occured. But it's fine to parse on Ubuntu system using the same parsing code.

[2017-08-15 15:18] cryptox31 commented on #12186
Hey @tfboyd,
Thank you commenting on both my posts. I was unaware of the tf_cnn_benchmark_MKL.py script maybe because the master branch is 1 commit away from the MKL branch.
I would like to know **

** script depending on the Knight Landing with 288 logical cores?
I am aware that intel published the article with the updated wheel a few days ago, I think the article should point to the MKL branch o

[2017-08-15 15:28] yaroslavvb commented on #12255
Correct. BTW unless you are pretty sure it's a bug, it's better to ask these questions on stackoverflow, you'll get response faster and it'll be easier to find by others

[2017-08-15 15:28] #12255 closed

[2017-08-15 15:36] skye commented on #12264
`sparse::SpareTensor` represents a sparse value, not a symbolic input to an op. Note that SparseTensor is used in op kernels, but not in the C++ graph-building API.

I agree though that it would be useful to have a symbolic SparseTensor concept in the C++ API, similar to in the Python API. I'll mark this as a feature request.

[2017-08-15 15:41] skye commented on #9150
Hi @bpiel, please use the TF_NewWhile/TF_FinishWhile functions to create while loops. The logic for while loops is quite tricky, especially when it comes to gradients, so we'd like all language bindings to use a shared implementation. We're currently working on getting while loop gradients implemented in the C API as well, stay tuned!

[2017-08-15 15:41] skye commented on #9150
@JimSEOW is the TF_NewWhile symbol still missing from the windows library?

[2017-08-15 15:53] sadlerjw opened #12298 "iOS: thread pools appear to spin forever, even after session close"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No. Built for iOS using provided scripts. Defined ops to be included in build as documented (using `ops_to_register.h`).
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Built on macOS 10.12.6 for distribution on iOS
- **TensorFlow installed from (source or bin

[2017-08-15 16:12] BlankWind commented on #1355
reducing batch-size from13 to 10 solved the problem in my case

[2017-08-15 16:14] bpiel commented on #9150
@skye Thanks for the quick reply! Unfortunately, the lack of support for gradients makes `TF_NewWhile`/`TF_FinishWhile` a show stopper for my needs (RNN/LSTM). I was hoping for, at least, some kind of stopgap. Also, even after the while-loop gradients are available, I may not be able to use them because I've found `TF_AddGradients` to be insufficient (I understand improvements are planned). As a r

[2017-08-15 16:15] quaeler commented on #12266
I tried briefly to find a changelog which might describe what was changed between Apple's clang 800.0.42.1 and 802.0.42 but could not.

I noticed the issue you cited cropped up during the build of BoringSSL, and there is also this open issue https://github.com/tensorflow/tensorflow/issues/12123 so perhaps you are both experiencing the same problem?

[2017-08-15 16:18] yaroslavvb commented on #12298
cc @petewarden

[2017-08-15 16:24] #12108 closed

[2017-08-15 16:36] junshi15 commented on #11825
@shamoya Yes, there are three cases we have multiple RecvAsyncLocal. You listed the first two.

1) initial transfer, both sides need to step up the buffer first, then transfer. Two calls to RecvAsyncLocal.

2) change of tensor size. similar to (1).

3) concurrent transfer. Note the buffer is hashed by the tensor name, without the step_id. If the same tensor with two different step_ids need to be t

[2017-08-15 16:39] akosiorek commented on #2540
I also had this problem and I needed to use a workaround. Instead of writing `log = tf.where(non_zero, tf.log(logarg), tf.zeros_like(logarg))` I needed to select values with `tf.boolean_mask` and then scatter them back into the original shape by doing:
[code]

[2017-08-15 17:25] yaroslavvb commented on #12287
Closing because this doesn't seem like a bug in TensorFlow

[2017-08-15 17:25] #12287 closed

[2017-08-15 17:48] tfboyd commented on #12186
The MKL script is in my personal repo.  I am trying to make time to add some of the Flags to the main benchmark code.  To answer your question in a few ways:

On the [Intel blog](https://software.intel.com/en-us/articles/tensorflow-optimizations-on-modern-intel-architecture) they list out the settings that they used.  I have only tested on Xeon Broadwell as I do not have access to Phi, but between

[2017-08-15 17:54] reedwm commented on #12290
/CC @jhseu.

[2017-08-15 17:56] reedwm commented on #12288
@mrry can you take a look?

[2017-08-15 18:03] shivaniag commented on #12295
Thank you for your catch. This has been fixed, it will be correct in the next website update.

[2017-08-15 18:03] #12295 closed

[2017-08-15 18:05] skye commented on #9150
Your frustration is quite understandable! We are indeed blocking you, and I apologize -- hopefully this doesn't discourage you from continuing to contribute! I'm really impressed with the language bindings we're seeing from the community, and I wish we were able to keep up better.

Instead of re-implementing the work we've done and are doing, would you be willing to help us with the C/++ implement

[2017-08-15 18:18] #12224 closed

[2017-08-15 18:22] petewarden commented on #12298
I think this may all be related to a workaround I added to address the lack of the `__thread` keyword in older iOS versions. I've created [an experimental branch of TensorFlow here](https://github.com/petewarden/tensorflow) that updates the minimum iOS version to 9.0 and [uses `thread_local` to support what we need instead](https://github.com/petewarden/tensorflow/commit/61011b717b5afd0f736d7f96ef

[2017-08-15 18:22] sdgandhi commented on #31
@jamesmgg it should be active

dm me your email twitter.com/@sidhantgandhi

[2017-08-15 18:25] eyaler opened #12301 "graph transforms tool missing in windows"
i installed tensorflow_gpu-1.3.0rc2-cp36-cp36m-win_amd64.whl
i cannot seem to find the graph transforms tools: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms

[2017-08-15 18:29] bpiel commented on #9150
@skye Thanks for the invitation. Seriously. My only (but, large) hesitation is that my C/++ is very rusty. I've only gotten back into a little recently to mess with the TF JNI code. I need to think about this.

I had two issues with `TF_AddGradients`.
1. missing gradient implementations
2. not handling the case where a variable is used by more than one op node

[2017-08-15 18:41] ebrevdo commented on #11650
I'm testing a fix for LSTM-type cells now.  GRU, as you suggested, is
harder to fix.

On Mon, Aug 14, 2017 at 12:52 PM, davidhstern <notifications@github.com>
wrote:

[2017-08-15 18:42] babak-badnava opened #12302 "memory leak bug"
Hi, I have seen many issues reporting Tensorflow memory leak, so I wanted to report another sample of leak.
I was testing the GA3C code and after a while (about a day) the process taking all of 32g of memory.
system spec is
OS : Ubuntu 17.04
tensorflow version : 1.2.1 binary instalation
cuda version : 7.5
gpu : GeForce GTX 1080 SLI, 8gig of gpu memory

you can get the code from :
https://github.co

[2017-08-15 18:47] reedwm commented on #12268
I see, so you're feeding in larger images to vgg16, which causes each layer to have a larger height and width. And you want an option to change the padding of pool layers to "SAME" because the [SSD model](https://arxiv.org/abs/1512.02325) requires it when using vgg16 as a base.

@sguada what do you think of this proposal?

[2017-08-15 18:47] chleibig commented on #6698
In my case the same issue was resolved by updating the NVIDIA gpu driver.

[2017-08-15 18:53] davidhstern commented on #11650
FWIW, I found that simply applying regular dropout to the c tensor in the GRUCell gives good results, as suggested by the paper linked above.   Obviously this meant modifying the GRUCell.  I am not sure how to do it in the wrapper.

[2017-08-15 18:59] ebrevdo commented on #11650
That's impossible to do in the wrapper; I think one would have to add a new
GRUCell type to get this behavior.

On Tue, Aug 15, 2017 at 11:54 AM, davidhstern <notifications@github.com>
wrote:

[2017-08-15 19:03] linaunlv commented on #12221
Thank you very much Jamie, it is work!  The problem was missing the
msvcp140.dll. for cpu version, I just add it to the path

On Mon, Aug 14, 2017 at 6:30 AM, Jamie Cooke <notifications@github.com>
wrote:

[2017-08-15 19:16] skye commented on #9150
Writing gradient functions might be a good way to get back into C++, and we could really use help on them. I think they should be strictly easier than dealing with JNI ;) Like I said, I'm happy to provide support. Think about, and maybe send me an email if you're potentially interested so we don't blow up this thread too much (my email should be on my github profile, I'm not sure I fully understan

[2017-08-15 19:17] andrewharp commented on #10348
@jubjamie: Is this issue still occurring after #8736?

[2017-08-15 19:17] tfboyd commented on #5688
b/64718915  @yzhwang is working on it and thank you to @SrivastavaKshitij for following up via email and helping get this prioritized.

[2017-08-15 19:31] jubjamie commented on #10348
tbh I have no idea. I'm not going to have a chance to look at this now. I think that the fix doesn't apply to the detector app which is the one causing the issue. I've seen a similar issue on here somewhere but I can't remember where. Unless something has changed then I don't think it fixed the issue. To replicate, use a Pixel C and rotate the app to landscape and try to use.

[2017-08-15 19:34] bpiel commented on #9150
@skye I just wrote you.

[2017-08-15 19:37] ahaider3 commented on #11903
I am using OpenMPI 2.1.1 and getting the following error:

`./third_party/mpi/mpi.h:2704:41:` fatal error: openmpi/ompi/mpi/cxx/mpicxx.h: No such file or directory`

It seems like OpenMPI also needs the mpicxx.h header file but this is only generated with MVAPICH.

[2017-08-15 20:01] bmount commented on #10798
@lugq1990 the TensorFlow team has pushed a full update a few days ago that includes MobileNet + Single Shot detector by default, and references to and automatic downloading of models and label files: https://github.com/tensorflow/tensorflow/commit/53aabd5cb0ffcc1fd33cbd00eb468dd8d8353df2

You can download them separately here: http://storage.googleapis.com/download.tensorflow.org/models/object_det

[2017-08-15 20:09] andrewharp commented on #11883
Have you also tried "bazel clean"? Bazel can cache things about your local repo so sometimes that's necessary to make it take another look.

[2017-08-15 20:10] pol690 opened #12305 "Failed to load the native TensorFlow runtime: error when installing tensorflow. #10026 did not work, #10794 was abandoned"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-15 20:15] aquariusjay commented on #12294
This corner case happens when the dataset does not contain some particular
classes in any image. When it happens, current implementation
`under-estimates` the final result by setting some class IOU to be zero
(thus the final mean IOU value decreases). On the other hand, the proposed
method `over-estimates` the final result by setting those class IOU to be 1
(however they do not really appear in th

[2017-08-15 20:33] mrry commented on #12221
Thanks for your help @jubjamie and @linaunlv for confirming the fix!

[2017-08-15 20:33] #12221 closed

[2017-08-15 20:41] linaunlv commented on #12221
Thank you  @mrry <https://github.com/mrry> I appreciate!

On Aug 15, 2017 1:36 PM, "Derek Murray" <notifications@github.com> wrote:

[2017-08-15 20:52] cryptox31 commented on #12186
My Xeon Phi's config:
[code]

I ran this command:

`KMP_BLOCKTIME=2 KMP_AFFINITY=verbose,granularity=fine,compact OMP_NUM_THREADS=288 python tf_cnn_benchmarks_MKL.py --model=inception3 --batch_size=128 --num_inter_threads=2 --num_intra_threads=288 --device=cpu --variable_update=parameter_server --local_parameter_device=cpu
`
[code]

Seems to show an increase from 6images/sec, but still off the mar

[2017-08-15 20:54] jubjamie commented on #12221
@mrry if you get a chance can you fix the syntax error in your check script. Stray ) on line 110. Means that when i refer people I dont have to talk them through the fix for that either :D

[2017-08-15 21:06] mrry commented on #12221
Thanks for pointing that out Jamie! Just updated the gist.

[2017-08-15 21:07] kernelmode commented on #12159
I see, thanks! This issue can be closed then

[2017-08-15 21:32] jhseu commented on #12290
@llhe thoughts?

[2017-08-15 21:34] tfboyd commented on #12186
You can tell becuase you see the configs information.  _User settings:

   KMP_AFFINITY=granularity=fine,verbose,compact,1,0
   KMP_BLOCKTIME=30
   KMP_SETTINGS=1
   OMP_NUM_THREADS=288

You should try multiple settings.  The Errors and Warning are fine.  So if I am not mistaken you have
1 Xeon Phi with 72 cores.  (You said 288 logical which is why I guessed you had 2 cards for 144 cores and 288 l

[2017-08-15 21:48] #12265 closed

[2017-08-15 22:33] sedziwoj commented on #7841
Tutorial code should always work and give exactly the same result.
Not mention "warning" is something i should not ignore and should not be in tutorial code.
If someone think in the opposite way, sorry but it make bad image of project, some people are not capable to make human communication even if they are good at same others things.
For me it is a message: "I will have more problems in future" s

[2017-08-15 22:43] sguada commented on #12268
@zakizhou I'm not sure if you want to change the padding of the last max_pool layer of all of them, can you clarify what is the change you propose?

[2017-08-15 23:00] wchargin opened #12307 "Exception when shutting down TensorFlow after running some ops"
## Error

The following error appears when exiting the Python session after a TensorFlow op has been run in a session:
[code]

The Python session still exits cleanly (status 0).

## Repro

[code]

Most ops seem to trigger this: I tried `tf.square`, `tf.add`, and `tf.summary.scalar` and `tf.summary.text`, and they all do. However, `tf.constant` does not.

## Introduction

Bug introduced between 201

[2017-08-15 23:20] mayuresh51 commented on #12277
Thanks a lot. I did download the latest code from github version and I no longer see this issue but I am running into LNK 2019 errors while building tf_label_image_example.

Here is the log:
105>     Creating library E:/AIMLDL/TensorFlow/tensorflow_8_14/tensorflow/tensorflow/contrib/cmake/build/Release/tf_label_image_example.lib and object E:/AIMLDL/TensorFlow/tensorflow_8_14/tensorflow/tensorflow

[2017-08-15 23:24] mayuresh51 opened #12308 "LNK 2019 errors while building tf_label_image_example on latest github version for tensorflow on windows"
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64 Bit
TensorFlow installed from (source or binary): Source
TensorFlow version (use command below): Output copied below
Python version: 3.5.3 (Anaconda)
Bazel version (if compiling from source): -
CUDA/cuDNN version: 8.0
GPU model an

[2017-08-16 00:08] jeevandev opened #12309 "Tensorflow installation fails on python 3.3.6"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: See below
- **TensorFlow installed from (source or binary)**: Tried with pip3
- **TensorFlow version (use command below)**:
- **Python version**: 3.3.6
- **Bazel version (if compiling from source)**:
- **CUDA/

[2017-08-16 00:12] reedwm commented on #12308
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-16 00:12] #12308 closed

[2017-08-16 00:37] zakizhou commented on #12268
@sguada all pooling layers, not just the last one, for the first 3 pooling layers, "valid" padding works exactly same with "same" padding.

[2017-08-16 00:52] dshahrokhian commented on #11157
Same issue here, when using a Keras + Tensorflow  and creating an sklearn wrapper. Still couldn't find a workaround.

[2017-08-16 01:07] arena commented on #12308
ps - please don't include unformatted source code that creates a ton of notifications for users. - @arena (person, not local variable)

[2017-08-16 01:09] Chesao commented on #11157
@dshahrokhian

Have you tried my workaround? Why don't you dump up your full error log here?

[2017-08-16 01:19] loveJasmine commented on #11157
@dshahrokhian
your workaround works on my case, thanks

[2017-08-16 01:23] LevineHuang commented on #8191
@Tshzzz @jtubert
thx, your solution worked for me. My tf verstion is 1.1.0.

[2017-08-16 01:55] lugq1990 commented on #10798
@bmount that's what I want. Really thank you !!! wish you a good day!

[2017-08-16 02:24] tobegit3hub commented on #12255
Well, thanks @yaroslavvb very much 😃

[2017-08-16 02:26] llhe commented on #12290
@weberxie @jhseu
According to [kerberos document](https://web.mit.edu/kerberos/krb5-1.12/doc/basic/ccache_def.html), **KRB5CCNAME** is the built in environment variable. So we can revert this PR and change the document to set the environment variable it in kerberos way.

[2017-08-16 02:33] llhe commented on #12290
Checked that PR, it also fixes the tests. For backward compatibility, should we just change the document and logging deprecation warning?

[2017-08-16 02:41] weberxie commented on #12290
@llhe This seems to be the best choice.

[2017-08-16 02:58] wm901115nwpu commented on #10798
@bmount When I apply the  TensorFlow team pushed android demo, in the object detection, in my mobilephone can't get any boundingbox,I don't know what it occurs?

[2017-08-16 03:12] andrewharp commented on #10798
@wm901115nwpu please open a new issue and fill out the template form with all relevant details, including a full description of what you're seeing on the screen and trying to recognize. This will make the problem much easier to diagnose, thanks.

[2017-08-16 03:56] Kautenja opened #12311 "`fit()` instance method of `skflow.TensorFlowDNNClassifier` raises unexpected error"
### System information

- **Custom code?** no, elementary example for classifying the Iris dataset
- **Operating System**: MacOS 10.12.6
- **TensorFlow installed from (source or binary)**: binary using `pip3 install tensorflow` and later `pip3 install skflow`
- **TensorFlow version (use command below)**: v1.2.0-5-g435cdfc 1.2.1
- **Python version**: Python 3.6.2
- **GPU model and memory**: Intel I

[2017-08-16 04:25] b01902041 commented on #12084
Hi @rohan100jain
I have the same problem.
I was running this code on GCP:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/image_retraining/retrain.py

the version of tensorflow I used:
1.2.1

Thanks a lot.

[2017-08-16 04:44] anandcu3 commented on #10798
@wm901115nwpu @andrewharp

Faced the same issue. I got around that by setting

`useCamera2API = true`

instead of

`useCamera2API = isHardwareLevelSupported(characteristics,
            CameraCharacteristics.INFO_SUPPORTED_HARDWARE_LEVEL_FULL);`

at https://github.com/tensorflow/tensorflow/blob/3686ef0d51047d2806df3e2ff6c1aac727456c1d/tensorflow/examples/android/src/org/tensorflow/demo/CameraActiv

[2017-08-16 06:04] wm901115nwpu commented on #10798
@anandcu3 it works well, thank you.

[2017-08-16 06:04] carlthome commented on #12309
Python 3.3.6 is really old. You have to update Python for TensorFlow to work.

[2017-08-16 06:08] carlthome commented on #12307
Maybe not related, but shouldn't you `close()` the tf.Session object to ensure safe termination?

[2017-08-16 06:13] carlthome opened #12314 "Feature request: Add FFT to XLA bridge"
As there are now CPU FFT implementations it seems like a small extra step to add the FFT ops to the XLA bridge. Surely `tf.spectral` is an immensely important suite of functions for a huge number of use cases.

[2017-08-16 06:14] mrry commented on #12277
Thanks for pointing that out. I think I've identified the problem in the CMake build for that target (which is not one we build regularly as part of CI), and have a PR in preparation.

[2017-08-16 06:47] Pelups commented on #12265
Perfect !
Thanks.

[2017-08-16 07:16] jbedorf commented on #11903
@ahaider3 Looks like you are building with C++ bindings, if you don't need those you can set this environment variable `OMPI_SKIP_MPICXX=1`. If you do need them you have to modify the TensorFlow configure file to add the mpicxx.h file.

[2017-08-16 07:29] Zumbalamambo commented on #12084
tensorflow 1.2.1
windows 10
8 gb ram, cpu

thats the spec

[2017-08-16 07:44] eyaler opened #12318 "freeze_graph giving decode error"
i am using tensorflow_gpu-1.3.0rc2-cp36-cp36m-win_amd64.whl
running freeze_graph in python 3.6.2 on windows 10 64

Traceback (most recent call last):
  File "C:\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Anaconda3\lib\site-packages\tensorflow\python\tools\freeze

[2017-08-16 07:55] meteorcloudy commented on #11735
Hi @snnn
I'll send a patch to fix this problem in python_configure.bzl using the solution I mentioned above.

As for bazelbuild/bazel#2675, we really want to fix it, but it's not reproducible at all, so we haven't had any clue to proceed.. And which failure exactly do you think is caused by it?

[2017-08-16 08:12] snnn commented on #11735
Hi @meteorcloudy
http://ci.tensorflow.org/job/tf-master-win-bzl/1425/console
14:54:19 external/protobuf_archive/python/google/protobuf/internal/api_implementation.cc(31): fatal error C1083: Cannot open include file: 'Python.h': No such file or directory

http://ci.tensorflow.org/job/tf-master-win-bzl/1422/console
18:50:31 c:\tmp\_bazel_system\424zmya1\execroot\org_tensorflow\bazel-out\msvc_x64-py3

[2017-08-16 08:21] meteorcloudy commented on #11735
@snnn , I see, thanks for pointing it out.

[2017-08-16 08:44] jakajacky opened #12319 "session_t->Create() Failed using tensorflow exported model on IOS"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-16 08:48] dshahrokhian commented on #11157
@Chesao AFAIK I cannot use your method in my case. Here's my error log, but I already decided to put some extra code so I don't need to use the sklearn wrapper that was giving me the error.
[code]

Thanks,
Dani

[2017-08-16 08:59] shaifugpt opened #12320 "Indexing problem in tensorflow with tf.where()"
I want to clip the variable 'a' values which are less than or equal to max_val.

     ValueError: Shape must be rank 1 but is rank 3 for 'strided_slice_1' (op: 'StridedSlice') with input shapes: [13,20], [1,?,2], [1,?,2], [1].

     tf.clip_by_value(a[tf.where(tf.less_equal(a,max_val))],0,0)

[2017-08-16 09:00] YusukeSuzuki commented on #11736
I downgraded bazel to 0.4.5.
build, create package, install package, are all successfully finished.

I try bazel 0.5.3 .. failed

Other person told me 0.5.2, 0.4.4, 0.5.0 .. failed
https://www.facebook.com/groups/178559235921208/permalink/333019250475205/

[2017-08-16 09:06] biolee commented on #11736
0.5.3 release have bug, 0.5.2 is usable

[2017-08-16 09:17] yangjunpro opened #12321 "[Feature]Any plan to add Dynamic Graph support in TF?"
We know that TF follows the define-and-run paradigm, while some other DL frameworks support define-by-run paradigm, such as pyTorch and Chainer.

"define-and-run" actually reduce the mind-set overhead for DL modeling guys due to that it can help reduce the try-and-feedback loop.

MxNet(another originally define-and-run DL framework) already adds support for dynamic graph through Gluon(https://gith

[2017-08-16 09:21] futurely commented on #11411
https://github.com/caffe2/caffe2/tree/master/caffe2/contrib/gloo
https://github.com/facebookincubator/gloo#benchmarking

[2017-08-16 09:30] kzos commented on #12260
@satok16 , mind to share quick build-command/script for hexagon before you publish ?

[2017-08-16 09:43] kmonachopoulos opened #12322 "Single Image Inference in Tensorflow [Python]"
I have already converted a pre-trained .ckpt file to .pb file freezing the model and saving the weighs as well. What I am trying to do now is to make a simple inference using that .pb file and extract and save output image. The model is a (Fully Convolutional Network for Semantic Segmentation) downloaded from here : https://github.com/MarvinTeichmann/KittiSeg . So far I have managed to, load the i

[2017-08-16 09:45] arita37 commented on #2129
Same issue, even I import numpy before tensorflow.
tensorflow 1.2

Issue happening after VM copy on other machine...

[2017-08-16 10:09] rasitsimsek commented on #12308
Please look here [#12037](https://github.com/tensorflow/tensorflow/issues/12037) which maybe solves your problem.

[2017-08-16 10:23] wangqr opened #12323 "tf.device() is allocating all available GPU memory"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.1 LTS
- **TensorFlow installed from (source or binary)**: source (git repo)
- **TensorFlow version (use command below)**: ('unknown', '1.3.0-rc2')
using commit 3686ef0d51047d2806df3e2ff6c1aac72745

[2017-08-16 10:25] eyaler opened #12324 "cannot bazel build freeze_graph on windows"
using bazel 0.53, python 3.6.2 on windows 10 64 with tf-gpu 1.3.0rc2

bazel build tensorflow/python/tools:freeze_graph
.
ERROR: C:/users/eyaler/downloads/tensorflow-master/tensorflow-master/tensorflow/python/tools/BUILD:32:1: error loading package 'tensorflow/core': Encountered error while reading extension file 'protobuf.bzl': no such package '@protobuf_archive//': Traceback (most recent call las

[2017-08-16 10:53] Nayana-ibm commented on #11290
@asimshankar @poxvoculi Thank you for your inputs.

We could use the script [saved_model_half_plus_two.py](https://github.com/tensorflow/tensorflow/blob/v1.2.1/tensorflow/examples/saved_model/saved_model_half_plus_two.py) (referred in previous comment) to regenerate a saved model testdata in big-endian format (specifically s390x).  With the changes in source code` test/BUILD` files, now below test

[2017-08-16 11:54] vaibhavsood opened #12325 "summary_image_op_test failure on ppc64le"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-16 11:54] jiandanjinxin opened #12326 "import tensorflow error with correct installation, the problem is "Couldn't find field google.protobuf.DescriptorProto.ExtensionRange.options""
Hi, everyone.

------------------------

### System information
Operating System: Ubuntu 16.04 LTS
Graphics card: Tesla K40
Installed version of CUDA: 8.0
Installed version of cuDNN: v5 , for CUDA 8.0
pip --version 9.0.1
pip 9.0.1 from /usr/local/lib/python2.7/dist-packages (python 2.7)

Tensorflow-gpu installed from pip
$sudo pip install tensorflow-gpu
Version: 1.2.1

----------------------------

[2017-08-16 12:44] facaiy commented on #12266
@quaeler I agree with you. #12123 is exactly the same issue. I'll close the issue because it is a duplicate of #12123.

Thanks.

[2017-08-16 12:44] #12266 closed

[2017-08-16 12:50] guyrose3 opened #12327 "No half-precision support for DepthwiseConv2Native"
Hi, I'm trying to convert a network from float32 to float16.
Conversion is done postmortem, for inference only.
I converted both weights and activation tensors to float16.
When trying to run inference, I get the following error:
tensorflow.python.framework.errors_impl.InvalidArgumentError: No OpKernel was registered to support Op 'DepthwiseConv2dNative' with these attrs.  Registered devices: [CPU,

[2017-08-16 13:12] xuqingquan789 commented on #12326
The same problem,have you solved?

[2017-08-16 13:15] xuqingquan789 commented on #12326
@jiandanjinxin  The same problem,have you solved?

[2017-08-16 13:39] marhlder opened #12328 "Issues related to integrating syntaxnet/parsey mcparseface in Java + tf.reduce_sum"
Summary/tldr:
It would be nice with more String support in the Java API and a tf.reduce_sum which supports string concatenation.

Body:
I have successfully hacked in the custom ops of syntaxnet into the Tensorflow master as I wish to run syntaxnet from my Java NLP pipeline.

I do this by saving a SavedModelBundle and load it again from Java.

My project is based on a saved model of parsey_mcparsef

[2017-08-16 13:55] jcomfort4 commented on #10638
+1 I am observing this same behavior in embedding_rnn_decoder -- are there any updates or workarounds here? Is there a way to get the output_projection weights and multiple them?

My current workaround is to create a dense later that takes in outputs and converts to the num_decoder_size, but this feels inaccurate.

[2017-08-16 14:01] iramusa opened #12330 "Request for computation of hessian wrt tensor of shape 1 x n"
There currently exists tf.hessians function which returns 2nd order *y* derivatives w.r.t. to a specified tensor *x*. Currently *x* has to be one dimensional.

In my application, I need to differentiate with respect to a tensor that has dimensions batch_size x layer_width. (I am interested in second derivative of output from neural net with respect to a particular layer.) I can bring dimensionalit

[2017-08-16 14:03] mrry commented on #12328
I can't speak to the Java API issues—@ashankar would know the answers here—but the [`tf.reduce_join()`](https://www.tensorflow.org/api_docs/python/tf/reduce_join) operation will concatenate a `tf.string` tensor along one or more dimensions (separated by an optional separator string), and I think it has the functionality you're looking for.

[2017-08-16 15:33] andrewharp commented on #10798
@wm901115nwpu @anandcu3 can you please provide details about your devices so that we can further tailor the Camera API selection?

It should still draw boxes on detections using API 1, so if it doesn't then that is also an issue.

[2017-08-16 15:38] junlulocky commented on #3408
hey, my solution:
for windows:
sudo /bin/env pip uninstall mock  ## important
sudo /bin/env python  pip install mock

for MAC
sudo /usr/bin/env pip uninstall mock  ## important
sudo /usr/bin/env python  pip install mock

checkout this link for why use '/usr/bin/env' beforehand: http://www.junlulocky.com/blog/pythontricks

[2017-08-16 15:42] junlulocky commented on #11517
hey, my solution:
for windows:
sudo /bin/env pip uninstall pbr ## important
sudo /bin/env python pip install pbr

for MAC
sudo /usr/bin/env pip uninstall pbr ## important
sudo /usr/bin/env python pip install pbr

checkout this link for why use '/usr/bin/env' beforehand: http://www.junlulocky.com/blog/pythontricks

[2017-08-16 15:43] jimmycode commented on #12326
@jiandanjinxin I got the same problem too. Could anyone solve it?

[2017-08-16 15:46] marhlder commented on #12328
Thx a lot. tf.reduce_join() worked :)

It seems like a still get junk chars in my output from my Java tensor even though i use the tensor.bytesValue() method to retrieve my scalar string.

My output looks like this:
-:0I love grapes .
   *PRP2PRON:nsubj
ove*VBP2VERB:ROOT
grapes *NNS2NOUN:dobj
 *.2.:punct
-:1Do you even lift bro ?
Do  *VBP2VERB:aux

[2017-08-16 15:57] cryptox31 commented on #12186
@tfboyd  With the command you provided I get 22images/sec. I ran it thrice. I checked the total CPU utilization and only 15% is utilized.
What numbers do you expect to see with these configurations?

[2017-08-16 16:06] ebrevdo commented on #11157
Can someone provide a minimal reproducible code snippet?  Ideally ~ 10 lines with tf.constant() inputs?

[2017-08-16 16:07] poxvoculi commented on #11290
@lilao can you provide guidance on session_bundle/testdata?

@ispirmustafa can you provide guidance on feature_column_test?

@panyx0718 can you advise on tprof/internal/testdata?

[2017-08-16 16:09] guschmue commented on #12288
I looked at this one and have a fix for it here (you could merge that commit to unblock):
https://github.com/guschmue/tensorflow/commit/bbbb7a7e6ee69dfb7148b7008c17f62989c8286e

The problem is that the boosted_tree kernels build in core/kernels but they do depend on the .pb.h which are generated in tf_python_protos_cc.vcxproj but core/kernels do not depend on tf_python_protos_cc.vcxproj.

The comm

[2017-08-16 16:11] lukaszkaiser commented on #10638
I'm not sure what you want to achieve: when `output_projection` is given, you are passing the variables to the dense layer yourself, right? In that case, `num_decoder__symbols` is ignored, as I think we specify. Could you explain the problem?

[2017-08-16 16:14] mrry commented on #12288
Guenther: PR #12315 seems to fix the problem (but hasn't been merged yet because some unrelated test is failing :(...).

[2017-08-16 16:21] mrry commented on #12323
@agarwal-ashish Could this be happening because calling `tf.device()` implicitly creates an `eager.Context`, and doing that initializes the TF devices?

[2017-08-16 16:26] quaeler opened #12331 "Jenkins' PR builds have been failing regularly since Aug. 10"
I don't know if the commonality is the state of master when the branches for these changes were taken, or if there is something endemic to the current builders, or ? but the failures appear to have nothing to do with actual code changes being submitted in at least some cases.

https://ci.tensorflow.org/job/tensorflow-pull-requests-multijob/

[2017-08-16 16:27] tfboyd commented on #12186
I think your config is still not correct but with out the debug info I do not know.  In your first post your passed BLOCK_TIME=2 but the config printed BLOCK_TIME=20  Please share the entire output and make sure to print out the MKL configs.   I should have included the print config in the command.

If I had to make an educated guess I would guess with synthetic data: 60-100 images/sec.  22 images

[2017-08-16 16:39] panyx0718 commented on #11290
tprof/internal/testdata is a tiny model in python/profiler/model_analyzer_test.py. However, there is no script to automatically regenerate the data. And regenerating the data would require change of test results (due to time/memory dynamics).

The tests don't affect save/restore model. So, it should be safe to disable in your environment.

[2017-08-16 16:41] jcomfort4 commented on #10638
So I am actually trying to point out the opposite.  When output_projection = None, then num_decoder_symbols should not be ignored and the outputs should be a list of outputs with shape [batch_size x num_decoder_symbols], but what is actually happening is that with output_projection = None the outputs are coming out as [batch_size x cell.output_size] so I am actually being forced to pass the variab

[2017-08-16 16:42] quaeler commented on #12328
Can you provide a hex dump of the content including the garbage characters (their true values are getting obfuscated above - looks like they just got replaced with U+FFFD)?

[2017-08-16 16:48] wchargin commented on #12307
@carlthome: Unfortunately, `python -c 'import tensorflow as tf; sess = tf.Session(); sess.run(tf.square(0)); sess.close()'` exhibits the same behavior, as does `python -c $'import tensorflow as tf\nwith tf.Session() as sess: sess.run(tf.square(0))'`.

[2017-08-16 16:49] lukaszkaiser commented on #10638
I can hardly believe this is ignored, it's in the code above:

[code]

So if `output_projection` is None, then we wrap the decoder cell and make sure it outputs `num_decoder_symbols`. How comes it doesn't work for you?

[2017-08-16 16:49] mayuresh51 commented on #12277
can you share a link to a stable tensorflow branch I could use?

[2017-08-16 16:55] wchargin commented on #12307
This behavior no longer happens in tensorflow-nightly-20170816:
[code]
Build 591 has the bug, while build 592 does not. The diff is d480ac587a0040acfc21bc2f63faa12cfd3194cc...3686ef0d51047d2806df3e2ff6c1aac727456c1d.

From the commit description, I suspect that 9e6183e4a fixed this.

[2017-08-16 16:55] #12307 closed

[2017-08-16 16:56] arena commented on #12277
Please stop posting to an issue that includes so much raw source code. I
get so many notifications from tensorflow.

On Wed, Aug 16, 2017 at 9:54 AM mayuresh51 <notifications@github.com> wrote:

[2017-08-16 17:02] Enigma-li commented on #12288
Another error occurred when fix this one, as shown below:

.....................................
         "C:\v-clhian\tensorflow\tensorflow\contrib\cmake\build\tf_stream_executor.dir\Release\cuda_event.obj"
         "C:\v-clhian\tensorflow\tensorflow\contrib\cmake\build\tf_stream_executor.dir\Release\cuda_fft.obj"
         "C:\v-clhian\tensorflow\tensorflow\contrib\cmake\build\tf_stream_executor.

[2017-08-16 17:02] jcomfort4 commented on #10638
I am actually using [embedding_rnn_decoder] (https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/contrib/legacy_seq2seq/python/ops/seq2seq.py#L233) (sorry if that caused confusion) so I don't see where num_symbols is passed into the cell?  The line you mentioned is in the embedding_rnn_seq2seq, but the functionality is not replicated in the embedding_rnn_decoder. I think that if the code

[2017-08-16 17:03] guschmue commented on #12288
@mrry - yes, same fix. Sorry, I dropped the ball, should have send a pr early on.

[2017-08-16 17:06] jcomfort4 commented on #10638
At the very least, the documentation is misleading for embedding_rnn_decoder as it suggests that if output_projection is None that the output projection layer will be wrapped automatically.

[2017-08-16 17:08] lukaszkaiser commented on #10638
Yes - the functionality isn't replicated in `embedding_rnn_decoder` because you can just wrap the cell before passing it there. It's also not claimed anywhere that `embedding_rnn_decoder` does this, it doesn't even have a parameter `num_decoder_symbols`. So this is solved, I'm still unclear about the original issue, which was clearly with output_projection.

[2017-08-16 17:10] #10638 closed

[2017-08-16 17:12] Enigma-li opened #12332 "Building Error on Windows of master branch"
After fixing the error mention in #12288 , there are new error as shown below:

[code]

May be some other Cmakelist error, could you help fix this?

[2017-08-16 17:14] mayuresh51 commented on #12308
@arena .. Sorry, I was just trying to provide the entire log for the project that is failing. Is there a solution to this issue?

@rasitsimsek .. I added tf_python_protos_cc to the tf_label_example_Image project references but it still gives me the same LNK errors. Is there anything else I can do to solve this ?

[2017-08-16 17:15] jcomfort4 commented on #10638
Maybe we are reading different documentation, because it is claimed that embedding_rnn_decoder does this.

embedding_rnn_decoder has a parameter [num_symbols](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/contrib/legacy_seq2seq/python/ops/seq2seq.py#L236) which is the same as num_decoder_symbols and hte [documentation](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/c

[2017-08-16 17:18] guschmue commented on #11930
sent the pr for for gemmlowp. If taken, the tensorflow change is fairly simple.

[2017-08-16 17:18] pks commented on #11847
It works for me with the following changes (also for gru_ops_kernels).

[code]

[2017-08-16 17:18] yzhwang commented on #5688
Hi @SrivastavaKshitij could you let me know which version of tensorflow you are using? I tested with @HggsHntr 's example code on tf 1.2.1 with CUDA 8 and cudnn 5.1. This seems to be a duplicated issue with https://github.com/tensorflow/tensorflow/issues/11327, which I have already fixed in https://github.com/tensorflow/tensorflow/commit/db596594b5653b43fcb558a4753b39904bb62cbd. Unfortunately the

[2017-08-16 17:23] mrry commented on #11930
Thanks Guenther!

[2017-08-16 17:27] WihanB commented on #12326
@jiandanjinxin Same problem, was using TF 1.1 perfectly. Did a conventional pip3 install, now its broken.

[2017-08-16 17:35] arena commented on #12308
Yes, don't create issues with unformatted source code---please 'format your
code' or link to the branch with your code in it.

In the meantime you should close this issue that randomly mentions and
therefore notifies all the @ names in the code you pasted in.

On Wed, Aug 16, 2017 at 10:17 AM mayuresh51 <notifications@github.com>
wrote:

[2017-08-16 17:46] MtDersvan commented on #11847
@pks Cool, I think it's a bug and you can send a PR if you want to.

[2017-08-16 17:47] mrry commented on #12288
@Enigma-li Thanks for trying that. It looks like the Windows GPU build was broken by a recent change. I think I've identified the fix, and I'll bundle it with #12315.

@guschmue Don't worry about it... we appreciate all of your contributions! :)

[2017-08-16 17:48] reedwm commented on #12308
@mayuresh51 look at the Code example in the [Mastering Markdown](https://guides.github.com/features/mastering-markdown/) guide to learn how to format code. In particular, you should have a single line with three backticks (```) before the stacktrace, and another line with three backticks after the stacktrace. Ask on Stack Overflow if you have questions about this.

Locking this issue to avoid more

[2017-08-16 17:50] jeevandev commented on #12309
Yes we did that, i think it would be good if we can specify https://www.tensorflow.org/install/install_linux#prerequisite_python_and_pip explicitly that 3.4+ is supported, currently it says 3.3+

[2017-08-16 17:51] #12309 closed

[2017-08-16 17:55] reedwm commented on #12314
@andydavis1 are there any plans to add this?

[2017-08-16 17:56] mrry commented on #12332
This should be fixed by #12315. Can you try pulling that branch and see if it fixes the problem for you (you might get a result faster than waiting for our CI builds :)...)?

[2017-08-16 17:58] satok16 commented on #12260
The code has not been changed while.  Try checking the value in TARGET.

[2017-08-16 18:00] ispirmustafa commented on #11290
Same here, there is no script for feature_column_test and you can disable feature_column tests for your environment.

[2017-08-16 18:01] reedwm commented on #12320
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-16 18:01] #12320 closed

[2017-08-16 18:16] shaayaansayed commented on #12326
Same issue. Was running 1.1, upgraded to 1.2 and received this error. Downgrading back to 1.1 did not fix it.

[2017-08-16 18:20] yliapis commented on #5719
@ebrevdo @ed-alertedh I tried running the new top_k operator as an intermediate layer on the gpu, and am still getting cpu-like speeds. Any idea what could be going on? I logged the device placement, and it does seem like the operator is still getting placed on the gpu.

I tested a script with the operator in between two convolutional layers on both 1.3.0-rc2 (gpu) and 1.2.1 (cpu), and the cpu ver

[2017-08-16 18:23] asimshankar commented on #11290
While we can skip tests/update testdata, this does mean that the serialized tensors will only be usable on the architecture that created it, which is a sad situation to be in.

@namrata-ibm : Would you have the bandwidth to contribute a more principled fix where we could record the endinaness of the creator in the checkpoint and do the conversion if necessary when we load the checkpoint?

[2017-08-16 18:41] reedwm commented on #12324
This looks like a cygwin issue, not a TensorFlow issue. Try following the advice it provides (the sentence that starts with "Search for cygwin1.dll using..."), and asking on StackOverflow.

[2017-08-16 18:41] #12324 closed

[2017-08-16 18:44] reedwm commented on #12326
I can't reproduce, but I'm running Ubuntu 14.04, not Ubuntu 16.04.

@jvrb, @jart, can you take a look at this issue?

[2017-08-16 18:44] reedwm commented on #12326
Whoops had a typo, meant to at-mention @jrvb

[2017-08-16 18:53] reedwm commented on #12330
@vrv what do you think of this proposal?

@iramusa As a workaround, you can [tf.squeeze](https://www.tensorflow.org/api_docs/python/tf/squeeze) on x, to change its shape from `[1, layer_width]` to `[layer_width]`, which would allow you to pass it to `tf.hessians`.

[2017-08-16 19:18] WihanB commented on #12326
I managed to fix this by forcing reinstall on pip.

Pip3 install tensorflow-gpu --upgrade --force-reinstall

[2017-08-16 19:35] marhlder commented on #12328
Sure:

0A032D3A30120F49206C6F766520677261706573202E1A1B0A01491000180020012A03505250320450524F4E3A056E7375626A1A1B0A046C6F7665100118042A035642503204564552423A04524F4F541A1F0A066772617065731006180B20012A034E4E5332044E4F554E3A04646F626A1A160A012E100D180D20012A012E32012E3A0570756E63740A032D3A311216446F20796F75206576656E206C6966742062726F203F1A1A0A02446F1000180120032A035642503204564552423A036175781A1D0

[2017-08-16 19:37] cauchyturing commented on #12326
Here is a stupid and simple way... I delete my conda tensorflow env, create a new env and reinstall tensorflow-gpu==1.2.1, seems work fine. But should be better to wait for tensorflower to dig it in a standard way...

[2017-08-16 19:54] carlthome commented on #12321
Try `import tensorflow.contrib.imperative as tf` for something that works somewhat more like "define-by-run". https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/imperative

Also, one might wonder what this is: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python/eager

[2017-08-16 20:01] carlthome commented on #12305
What do you see in your terminal if you type `nvidia-smi`?

[2017-08-16 20:03] lapolonio commented on #10258
Hello,

I see that the PR was merged into master. Which release and when will the patch be merged into? Has it already been merged into a release?

[2017-08-16 20:05] 3rd3 commented on #2118
@girving Why can't these shapes be inferred from the inputs? Could you provide a concrete example?

[2017-08-16 20:17] pks commented on #11847
Sure -- but that just solved a problem that I had with tools/graph_transforms/transform_graph, which resulted in the exact same error message. Maybe someone could confirm that it also solves the problem with tensorflow_serving or the initial problem.

[2017-08-16 20:34] arena commented on #12277
```Unfollowed. ```

[2017-08-16 20:43] #12159 closed

[2017-08-16 20:43] #12187 closed

[2017-08-16 20:45] lapolonio commented on #10258
I found the commit on r1.3

@zuxfoucault @jpuigcerver Did you try building from source with the PR merged? It's still not working for me.

[2017-08-16 20:46] skye commented on #12285
@petewarden

[2017-08-16 20:51] skye commented on #12289
@concretevitamin do you know about any changes to Saver between 1.0 and 1.2?

@luckynote are you loading a checkpoint created in TF 1.0 with TF 1.2?

[2017-08-16 20:56] khumbird commented on #12326
I had a similar issue (could not find backports) and pip install tensorflow --upgrade --force-reinstall fixed the problem.

[2017-08-16 20:58] skye commented on #12293
@zheng-xq can you take a look at this or redirect to someone else who can? Thanks.

[2017-08-16 20:59] skye commented on #12301
@mrry

[2017-08-16 21:02] vrv commented on #12330
@Sohl-Dickstein might have some opinions or ideas (I might appear to be the author but I am not) . :)

[2017-08-16 21:04] AWSSagSonar commented on #12322
What is your error? is it something to do with image size?

[2017-08-16 21:04] posix4e opened #12338 "Tensorflow crashes when i try to quantize my output"
BUG
(https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support only helps individuals. GitHub also notifies thousands of people when issues are filed. We want them to see you communicating an interesting problem, rather th

[2017-08-16 21:04] eyaler commented on #12324
thanks. i followed the advice but it was not relevant.

[2017-08-16 21:07] sagar1285 commented on #12322
What is the error? is it something to do with image size?

[2017-08-16 21:11] gunan commented on #10258
I would recommend upgrading to cuda 8. CUDA 9 is out as an RC now, and once that is released we will swiftly move to CUDA 9, which will make CUDA 7.5 even more obsolete.

[2017-08-16 21:13] petewarden commented on #12285
Could you provide information about which OS and Xcode tools versions you're using? I'm not able to reproduce this with MacOS Sierra 10.12.6 and Xcode 8.3.3.

[2017-08-16 21:15] cryptox31 commented on #12186
This is the whole output. I have removed L1318 from the script. KMP_BLOCK_TIME is set to 0.
[code]

[2017-08-16 21:16] mrry commented on #12301
Reassigning to @petewarden, who owns that tool. Pete: I'll leave it up to you if you want to support the tool on Windows. Let me know if you want any pointers for adding Windows support!

[2017-08-16 21:19] skye commented on #12319
@petewarden

[2017-08-16 21:20] skye commented on #12321
@asimshankar @alextp

[2017-08-16 21:25] skye commented on #12325
I don't think the TF team officially supports ppc64le. @martinwicke, @gunan correct me if I'm wrong. I'll mark this community support.

[2017-08-16 21:25] eyaler commented on #12301
more generally, how can one know which tf components are and which are not supported on windows?

[2017-08-16 21:26] skye commented on #12327
@suharshs is this relevant to your quantization efforts?

[2017-08-16 21:29] petewarden commented on #12319
We'll be updating the main documentation soon, but for now you might find this free guide to freezing and missing variables on mobile useful: http://www.oreilly.com/data/free/building-mobile-applications-with-tensorflow.csp

[2017-08-16 21:29] skye commented on #12331
@gunan

I think our builds have been unstable the last few days. Also, please refrain from using vulgar terms, this is a family-friendly github project (I edited your original post accordingly).

[2017-08-16 21:34] quaeler commented on #12331
What vulgar terms??

[2017-08-16 21:41] 3rd3 opened #12339 "Feature suggestion: Keep_dim for slicing and list-based slicing with __getitem__ in Tensors and Variables"
Sometimes it would be helpful to maintain the dimension when accessing a particular slice of a tensor or a variable. In NumPy this is possible by slicing with a list index like so:

    ndarr = np.ones((5, 4, 3))
    ndarr[: 1, :]  # Shape [5, 3]
    ndarr[: [1], :]  # Shape [5, 1, 3]

It would be great to have similar list-based indexing which is essentially similar to what `tf.gather_nd`.

[2017-08-16 21:46] gunan commented on #12331
Pull requests exclusively test unsubmitted code, so it is possible for them to be broken most of the time.
However I see that we have some breakages on github master:
https://ci.tensorflow.org/view/Tensorflow%20Jenkins%20Monitored%20builds/

[2017-08-16 21:50] kmonachopoulos commented on #12322
No, the script is correct I believe, because I used the same script to inference the pre-trained inception v3 freezed (.pb) model that comes with tensorflow and works ok. I think the error has to do with the .pb file that I am using. I will attach the error log ASAP.

[2017-08-16 21:57] quaeler commented on #12331
@gunan I can only speak to my PR builds as far as intimate details, but the failures in the two build attempts are in code base areas that don't touch my changes.

[2017-08-16 22:01] pol690 commented on #12305
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 384.66                 Driver Version: 384.66                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |

[2017-08-16 22:06] jart commented on #10972
Since you guys are using 1.3, one thing to note is that we recently moved TensorBoard out of the TensorFlow repository.

@chihuahua made some changes to text summaries recently, so he would be the best person to comment.

[2017-08-16 22:12] jiandanjinxin commented on #12326
@WihanB  @khumbird
I check your method in the following procedure, it has another new problem.
$sudo pip3 install tensorflow-gpu --upgrade --force-reinstall
###Successfully installed tensorflow-gpu-1.3.0
-------------------------------------------------------------------------
$python3
Python 3.5.2 (default, Nov 17 2016, 17:05:23)
[GCC 5.4.0 20160609] on linux
$import tensorflow
###Another new pro

[2017-08-16 22:17] wchargin commented on #10972
…and please note that using TensorBoard from source requires the latest TensorFlow nightly.

[2017-08-16 22:25] reedwm commented on #12302
This seems similar to #11721. If possible, can you post a simpler example? It is difficult to debug this issues on large projects, and it is unknown if the memory leak is in TensorFlow itself or in the GA3C code.

Marking as contributions welcome if anyone wants to take a stab at finding where the memory leak is in the GA3C or TensorFlow code.

[2017-08-16 22:26] reedwm commented on #12318
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-16 22:36] asimshankar commented on #12321
Thanks for the note @yangjunpro .

We hear this feature request, and are looking into providing a solution. There's nothing actionable yet, but we'll have more information on it as we develop it.  Thanks!

[2017-08-16 22:39] reedwm commented on #12338
Please fill out the template fully (you left out some sections such as "Python version". Also provide the code that runs out of memory when you quantize the output.

You may be running out of memory on your GPU because adding the quantize op takes some amount of extra memory. How much memory is used when you do not quantize?

[2017-08-16 22:42] posix4e commented on #12338
I broke the quantization into a separate step. Sorry for not filling the form out right. But yes you were right the quant op ran out of memory

[2017-08-16 22:45] reedwm commented on #12338
OK, closing the issue since the issue was the GPU ran out of memory.

[2017-08-16 22:45] #12338 closed

[2017-08-16 22:56] skye commented on #12222
The TensorFlow Python API should not change within a major version. Since we haven't released TF 2.0 yet, that means that all post-1.0 op-loading code should work.

We still haven't developed an official stable API for writing ops. However, in practice, this API has remained stable (at least AFAIK). Are you experiencing custom op instability between post-1.0 TF versions?

[2017-08-16 23:11] gunan commented on #12331
At the moment, I see breakages in `tensorflow-master-*` builds in python3 and mac here:
https://ci.tensorflow.org/view/Tensorflow%20Jenkins%20Monitored%20builds/
But I do not see any long time trends. We will still look into what is going on, and see if there are any infrastructure issues we can address.

[2017-08-16 23:13] chihuahua commented on #10972
**A Brief Discourse on TensorBoard History**
Long ago, as was the case in TensorFlow 1.2, text summaries wrote a separate `plugins` directory that TensorBoard would later use to compute relevant plugins. This "plugin assets" system for implementing plugins in TensorBoard exhibited some downsides and bugs (such as the original issue raised by @hholst80).

We thus deprecated the plugin assets system

[2017-08-16 23:17] gunan commented on #12168
It looks to be added with this pull request.
https://github.com/tensorflow/tensorflow/pull/9641

@vrv @andydavis1 @zhangyaobit Could you comment on our dependence on mlocate?
If it is a hard dependency, I agree that we should document it.

[2017-08-16 23:20] girving commented on #2118
@3rd3 Consider a forward convolution filter bigger than the input image, or a stride bigger than the input image, both with `padding='VALID'`.  Then the output will have size 0 or 1, respectively, independent of the input image.  Running this backwards, if we do a `conv2d_transpose` with input size 0 or 1, it could produce many possible output sizes.

[2017-08-16 23:20] gunan commented on #12325
Correct, ppc64le support is best effort.
@sandipmgiri FYI

[2017-08-16 23:26] andydavis1 commented on #12168
@vivek-rane Can you comment on "mlocate"?

[2017-08-16 23:43] quaeler commented on #12331
Ok - thanks & much appreciated; please feel free to close this if it is being tracked elsewhere (out of bounds or not.)

[2017-08-16 23:54] 3rd3 opened #12340 "tf.multinomial with arbitrarily shaped tensors"
It would be nice if once could use tf.multinomial with arbitrary tensors instead of just rank-2 ones. Currently this is only possible by pretending the extends along the other dimensions make for more examples in the batch, i.e. `tf.reshape(tf.multinomial(tf.reshape(x, [None, num_classes]), num_samples), x.get_shape().as_list[:-1])`.

[2017-08-17 00:02] vivek-rane commented on #12168
We don't need mlocate any more. The configure and build scripts have changed since that commit to not use mlocate.

[2017-08-17 00:24] ed-alertedh commented on #5719
@yliapis What shape are the tensors you're running top_k on? They're probably just too small to benefit from the GPU op. I've just been using the CPU op, although in my use-case I've found k=1 is often sufficient so in that case I can just use the max op instead.

On another note, I tried to run the new GPU op on a tensor of shape [1, 10,000] and got some obscure CUDA error. Haven't had time to tr

[2017-08-17 00:29] ahundt commented on #781
I think it might be https://github.com/tensorflow/tensorflow/pull/12306

[2017-08-17 00:36] yliapis commented on #5719
@ed-alertedh The tensors I am using the op on are generally [256, 20] up to [3600, 20]. Note that I am using tf.map_fn to map a tensorflow operator using top_k to a batch (32-128 usually) of matrices, so the top_k function is getting called batch_sz times by map_fn. I haven't been getting any cuda errors, but the performance makes me question whether the gpu is being properly utilized.

[2017-08-17 00:56] ed-alertedh commented on #5719
I guess it just isn't scaling well for that number of rows. Not really what you'd expect given it should be an "embarassingly parallel" problem, but maybe you just need to throw a huge number of rows at it to start seeing the benefit. Perhaps concatenating the matrices rather than using map_fn would change performance? Would likely eat up too much memory though....

Hard to say for sure because th

[2017-08-17 01:01] wchargin commented on #10972
@hholst80 or @edgimar , could you please try running
[code]
and seeing if this fixes your problem? Note that TensorBoard 0.1.4 requires TensorFlow at least 1.3.0, which was released today.

[2017-08-17 01:29] 3rd3 commented on #12339
I found a simpler way to accomplish this: `ndarr[: 1:2, :]  # Shape [5, 1, 3]`

[2017-08-17 01:29] #12339 closed

[2017-08-17 01:39] hongjic opened #12343 "[Feature Request] provide a option to not call SessionRunHook in sess.run()"
### Describe the problem
It is not necessary to execute all the bundled SessionRunHooks in some ```sess.run()``` cases.
For example, `sess.run(enqueue)` in another thread.
its better to have an option like this:
`session.run(run_hooks=True)`

I would like to contribute this if someone think its a good idea.

[2017-08-17 01:49] Sohl-Dickstein commented on #12330
I think calling tf.squeeze() sounds like an excellent approach. You can call tf.reshape() on the resulting Hessian if you need it to be a different shape.

Note that this also lets you compute the Hessian for your original full matrix. Just flatten x by tf.reshape(x (-1,)).

[2017-08-17 01:55] ringw commented on #781
@astromme @ahundt #12306 is translation, but I don't think @sampepose created a PR for scales_to_projective_transforms

[2017-08-17 01:55] duongnt opened #12344 "Feature request: RecordInput to support gzipped tfrecord files."
Currently [RecordInput](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/record-input) doesn't support gzipped tfrecord files, would be great to have this supported.

[2017-08-17 01:56] jakajacky commented on #12285
@petewarden
macOS Sierra 10.12.4   Xcode8.3.3  bazel 0.5.3 , download tensorflow  r1.2。It is worth mentioning that i can build older one downloaded on 2017/3/31 , however i forget about the version。

[2017-08-17 02:17] luckynote commented on #12289
yes. I do it.
Now, I have found method.
It is a updating ckpt. The source is following:
===================================================================

def` RenameCkpt():
    vars_to_rename = {
    "LSTM/basic_lstm_cell/weights": "LSTM/basic_lstm_cell/kernel",
    "LSTM/basic_lstm_cell/biases": "LSTM/basic_lstm_cell/bias",
    }
    new_checkpoint_vars = {}
    reader = tf.train.NewCheckpoint

[2017-08-17 02:30] gunan commented on #12168
Thanks for the clarification @vivek-rane
@cinqs is there a reason you believe we need `mlocate` as a dependency?

[2017-08-17 02:33] ed-alertedh opened #12345 "PEP 484 Type Annotations (feature request)"
### System information
N/A

### Describe the problem
## Background
PEP 484 [1] added support for type hints in Python. These are purely annotations and are not enforced by the interpreter, however there are tools such as mypy [2] which can be run to check for consistency in the annotations. The typeshed initiative [3] has started to build external collections of type annotations for commonly used

[2017-08-17 02:38] gunan commented on #12181
As @phanousk suggested, this is due to invalid cuda compute capability.
As CUDA developer guide states, the 4 missing functions are supported in devices with compute capability 3.0 and higher.
http://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#warp-shuffle-functions

[2017-08-17 02:38] #12181 closed

[2017-08-17 02:41] gunan commented on #12099
@flavioschuindt In your description, I do not see that if you ran this command to build the pip package:
[code]
Without this, it is possible you have a stale pip package and not building the latest one.

[2017-08-17 03:00] expelliarms commented on #12001
Please provide the links of the reference papers

[2017-08-17 03:20] DjangoPeng commented on #6518
@gunan Sorry for this. I'm leaving for some company things. Now, I would return to community work.

[2017-08-17 03:25] lapolonio commented on #10258
@gunan I have cuda driver 352.93 installed for the geforce titan x with cuda toolkit 7.5

Will the hardware work with cuda tookit 8?

[2017-08-17 03:39] Enigma-li commented on #12332
Thanks, I will try again.

[2017-08-17 03:44] GinYoshida commented on #225
I faced same problem with Jupyter notebook.
The reason is not clear yet. But I agree with achristensen56-san's comment.

If I run scripts more than 2 times, including # placeholder, I faced same issue.

Unfortunatelly. hblasins-san's method didn't work well in my case.

[2017-08-17 03:55] venik commented on #8037
I have a small bash script to compile TF under MacOS. It dynamically calculates CPU features and put them as build parameters. Can be easily extended to support Linux. I was thinking to create PR but didn't find folder with scripts (helpers) for local builds, only ci_build. If it makes sense I will do it

gist
https://gist.github.com/venik/9ba962c8b301b0e21f99884cbd35082f

[2017-08-17 04:26] phanousk commented on #12181
So would you please adjust the configuration phase? I would expect to raise an error there or to update the info at least.

[2017-08-17 04:27] Bleezworld opened #12346 "string_input_producer num_epochs not working as expected"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OSX 10.12.6
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:
- **CUDA

[2017-08-17 04:45] gunan commented on #12181
@yifeif Could you add this check to the configuration script?

[2017-08-17 05:07] anandcu3 commented on #10798
@andrewharp

I'm on OnePlus X with Marshmallow 6.0.1 (API 23) .

[2017-08-17 05:25] quaeler commented on #12328
@marhlder let's put the thanks in the fridge until i actually do something of merit :- )

there are robust unit tests for Tensor.java, which pass on your syntaxnet-ops-hack repo (which i had a little time tonight to fork/clone/build/poke around) so i don't think what you're seeing is due to something deficient at the JNI implementation boundary.

I couldn't find your Java code running the parser m

[2017-08-17 05:35] kzos commented on #12260
@satok16
I am checking,
were you able to get the hexagon_graph_execution built using same command mentioned in README?

[2017-08-17 05:47] wm901115nwpu commented on #10798
@andrewharp I'm on HongMi Note4 with MIUI8.5.

[2017-08-17 06:00] LiangHao92 opened #12348 "convert .ckpt to .pb"
I trained my own model using ssd_mobilenets in object_detection, and it works well on my computer. I see the update of android demo, I want to use the ssd_mobilenets model on my android phone. But I only have .ckpt files, and do not know how to trans .ckpt to .pb, because the graph is too comlex to see which is the final tensor name. Does only one know how to genetate .pb of ssd_mobilenets

[2017-08-17 06:22] nikita-solvvy commented on #11602
Can you elaborate on how you solved your problem? I seems to have the exact question.

[2017-08-17 06:27] gunan commented on #10258
The driver will be a problem in your case, too.
It is possible a new issue was introduced.
As we do not run continuous tests using older CUDA versions, we would not have caught it.
Again, we will welcome any contributions to fix any issues.

[2017-08-17 06:38] sooham commented on #11238
Hi, I would like to work on implementing this.

[2017-08-17 07:01] yifeif commented on #12181
That would be something good to check ahead of time. I can add it to configure.

[2017-08-17 07:07] tcmxx commented on #11062
@snnn Thanks！
Just tried it and it worked! There is already the function to configure GPU build in the scripts and I only need to modify a little of it to make it work.

[2017-08-17 07:10] marhlder commented on #12328
Hehe thx again ;)

I have pushed my java code :)
The code is very proof of concept, but feel free to use it :)

My javac command line string looks like this:
javac -cp .:/usr/share/java/junit4.jar:/usr/share/java/hamcrest-core.jar:/usr/share/java/libtensorflow.jar TensorflowModelWrapper.java TensorFlowModelWrapperTest.java

And running it looks like this:
java -Dfile.encoding=utf-8 -cp .:/usr/shar

[2017-08-17 07:33] tcmxx commented on #10708
Hi @nectario ,
take a look a  the script they are using to build the cpu one. It should build both java and c interface
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/windows/libtensorflow_cpu.sh

modify the script, change the line that calls configure cpu to configure gpu in the script.(the function is in another script). Later on you can call the script using bash

[2017-08-17 07:34] #11062 closed

[2017-08-17 07:41] angel1288 opened #12350 "Windows 7 : python mnist_with_summaries.py, having the error"
## When running " python tensorflow/tensorflow/examples/tutorials/mnist/mnist_with_summaries.py ", it has occurred the following error:

-
![image](https://user-images.githubusercontent.com/20549473/29401037-213d52c6-8362-11e7-818d-58cf652e5efa.png)

## Why?Any idea on how to resolve this problem?Thank you！

[2017-08-17 07:47] ppyht2 commented on #12065
@RylanSchaeffer This solution sounds like it could work, I will give it a crack. Thanks for your help.

Did you had any explanation as to why the ```CustomHelper``` is not working?

[2017-08-17 07:50] andreas-eberle commented on #12001
Sorry, didn't notice that I forgot the link.

In [The Devil is in the Decoder](https://arxiv.org/abs/1707.05847) they compare several "deconvolution" strategies and show that separable transposed convolution has very good performance.

In section 2.1.1 they give a short explanation about separable transposed convolution.

Afaik, separable (not transposed) convolution was introduced in [Xception: D

[2017-08-17 08:24] astrung commented on #11250
Hey, i used this tutorial to run model on android : https://codelabs.developers.google.com/codelabs/tensorflow-for-poets-2/index.html?index=..%2F..%2Findex#4 . But after pruning `DecodeJpeg` by command :

    python -m tensorflow.python.tools.optimize_for_inference \
    --input=tf_files/retrained_graph.pb \
    --output=tf_files/optimized_graph.pb \
    --input_names="Cast" \
    --output_names="

[2017-08-17 08:25] astrung opened #12351 "Tensorflow android can not check results for optimized model"
I used this tutorial to run model on android : https://codelabs.developers.google.com/codelabs/tensorflow-for-poets-2/index.html?index=..%2F..%2Findex#4 . But after pruning `DecodeJpeg` by command :

    python -m tensorflow.python.tools.optimize_for_inference \
    --input=tf_files/retrained_graph.pb \
    --output=tf_files/optimized_graph.pb \
    --input_names="Cast" \
    --output_names="final

[2017-08-17 08:32] qertis commented on #37
+1

[2017-08-17 08:44] wangyaobupt commented on #12319
Peter, thanks for your book.

jakajacky and I worked in same team, and today we further debugged this issue with help from your guide book, but error still exist.

***Current status is***
1. Freezing model is successful.

--input_graph=/Users/xiaoqiang/Desktop/Volcano_Offline_1/graph_dropout.pb \
--input_checkpoint=/Users/xiaoqiang/Desktop/Volcano_Offline_1/models/model.ckpt-0 \
--input_node_names

[2017-08-17 09:04] marhlder commented on #12328
I just tried running my program with a larger input and that makes it crash with the following message:

*** Error in `java': malloc(): memory corruption: 0x00007f3db800f0a0 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7f3e650577e5]
/lib/x86_64-linux-gnu/libc.so.6(+0x8213e)[0x7f3e6506213e]
/lib/x86_64-linux-gnu/libc.so.6(__libc_malloc+0x54)[0x7f3e65064184]
/usr/lib/

[2017-08-17 09:25] marhlder commented on #12328
Might there be a memory management issue in the JNI code?
Java_org_tensorflow_Tensor_scalarBytes?

[2017-08-17 09:27] carlthome commented on #12314
@reedwm, I've assumed the tensorflow/compiler will support all core ops eventually. Is this not the plan?

[2017-08-17 09:31] namrata-ibm commented on #11290
@asimshankar, agree with you that this needs a better fix. However right now some other functionality needs attention on BE. Focusing on that first to make v1.2.1 available for BE and then consider this.

For now, skipping these tests for BE and accordingly raising a PR.

@asimshankar , @poxvoculi , @panyx0718 , @ispirmustafa  Thank you for your guidance.

[2017-08-17 09:38] previ commented on #5729
Hi, is there a (supported) way to compile the framework from the source for the RPi, including the Python bindings?

[2017-08-17 09:43] AaronZhang9511 commented on #5780
Me too:
    assert d in name_to_node_map, "%s is not in graph" % d
AssertionError: out_softmax is not in graph

Mac Os Sierra

[2017-08-17 09:59] tfdeepseeker opened #12352 "Resource Exhausted Error."
### This is my first experience with git hub, so, please mention if i didn't provide the right details
Here is the Screen shot of the error.
I am running my program on Tesla K20c GPU which has the following properties:
**name: Tesla K20c
major: 3 minor: 5 memoryClockRate (GHz) 0.7055
pciBusID 0000:41:00.0
Total memory: 4.63GiB
Free memory: 4.57GiB**

![res](https://user-images.githubusercontent.co

[2017-08-17 10:08] shamoya commented on #11825
Thanks @junshi15 for explaining.

So, how do we go from here?
Assuming we don't have duplicated recv support, we need to send the Tensor in one shot in all cases.
Maybe we can revert to RDMA_SEND on those cases ?

Ido

[2017-08-17 10:13] lisen0 opened #12353 "how to do 3-D image classification with timedistributed+conv2d"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-17 10:19] carlthome commented on #12352
Your GPU must have enough memory for not only your data, but also the model (weights and gradients in particular, but also some extra space for computing the operations). Either make your images smaller or reduce the number of layers. You might find [the profiler](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/profiler/README.md) helpful.

Also, your question is better suited

[2017-08-17 10:39] houjincheng1992 opened #12355 "404 for linux GPU python2 download"
HTTP ERROR 404

Click the url in readme, following occurs:
Problem accessing /view/Nightly/job/nightly-matrix-linux-gpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=gpu-linux/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow_gpu-1.3.0rc2-cp27-none-linux_x86_64.whl. Reason:
 Not Found

[2017-08-17 10:44] nolanliou commented on #11709
@alextp following question.
Same environment with last comment.

[2017-08-17 10:44] #11709 closed

[2017-08-17 10:54] githubharald opened #12356 "CTC decoding with dictionary"
Is there a possibility to use the CTC decoding algorithms provided by TF with a (word) dictionary?
I've seen that there is some testing-code which seems to do just what I want:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/ctc/ctc_beam_search_test.cc

Is there a Python interface for this task?
Or do I have to build a custom operation out of the code shown above to be us

[2017-08-17 10:54] fabiosony opened #12357 "tf.contrib.slim evaluation: outdated documentation"
https://github.com/tensorflow/tensorflow/blob/d7fa7ae8ac15118393b6a549eb98ec9ca23497c0/tensorflow/contrib/slim/python/slim/evaluation.py
The documentation to this, in the first section (Evaluating metrics) uses this code to do the evaluation of the metrics directly (within an existing session, without having to reference a specific checkpoint):
[code]
This code, however, does not work anymore, as

[2017-08-17 10:55] kaspermarstal commented on #12018
Confirmed on Mac OS X using CMake 3.7.2.

[2017-08-17 11:14] suiyuan2009 commented on #1824
I find it's hard to determine the run time of Recv Op in distributed tensorflow since two machines may show different time.

[2017-08-17 11:20] nolanliou opened #12358 "[Feature Request] Add an extra argument `is_duplicated` to `scatter_sub/*` Ops and make the kernel to multi-thread for speedup."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
ubuntu 16.04
- **TenorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
v1.3.0-rc2
- **Python version**:
2.7
- **Bazel version (if compiling from source)**:
0.5.2

[2017-08-17 12:04] dilli007 opened #12359 "error"
bazel build //tensorflow:libtensorflow.so
ERROR: /Users/dile/tensorflow/tensorflow/core/BUILD:1227:1: no such target '//tensorflow/tools/git:gen/spec.json': target 'gen/spec.json' not declared in package 'tensorflow/tools/git' defined by /Users/dile/tensorflow/tensorflow/tools/git/BUILD and referenced by '//tensorflow/core:version_info_gen'.
ERROR: /Users/dile/tensorflow/tensorflow/core/BUILD:1227

[2017-08-17 12:08] dilli007 opened #12360 "BUILD:1227:1"
bazel build //tensorflow:libtensorflow.so
ERROR: /Users/dile/tensorflow/tensorflow/core/BUILD:1227:1: no such target '//tensorflow/tools/git:gen/spec.json': target 'gen/spec.json' not declared in package 'tensorflow/tools/git' defined by /Users/dile/tensorflow/tensorflow/tools/git/BUILD and referenced by '//tensorflow/core:version_info_gen'.
ERROR: /Users/dile/tensorflow/tensorflow/core/BUILD:1227

[2017-08-17 12:18] source-ram commented on #7823
+1

[2017-08-17 13:38] basitjawaidgranjur opened #12362 "tensorflow with cocos2d-x failed to build the project"
**tensorflow with cocos2d-x failed to build the project
when building project the terminal throws error**

`jni/../../../../tensorflow/third_party/eigen3/unsupported/Eigen/CXX11/Tensor:1:42: fatal error: unsupported/Eigen/CXX11/Tensor: No such file or directory  #include "unsupported/Eigen/CXX11/Tensor"`

[2017-08-17 13:41] es007 opened #12363 "Freeze tensor_forest graph for Android problem"
Hi,

I built a aimple Random Forest model in tensorflow, and want to freeze & optimize it for android.
I used the following function for building the tesnor_forest estimator:

      def build_estimator(_model_dir, _num_classes, _num_features, _num_trees, _max_nodes):
      params = tensor_forest.ForestHParams(
      num_classes=_num_classes, num_features=_num_features,
      num_trees=_num_trees,

[2017-08-17 14:04] samjabrahams commented on #5729
@previ it would appear that the answer is soon!

https://github.com/tensorflow/tensorflow/pull/11675

https://github.com/tensorflow/tensorflow/pull/12190

[2017-08-17 14:25] marhlder commented on #12328
I'm just cleaning up the code i use to export the model. Will post it soon :)

[2017-08-17 14:55] vcarbune commented on #12215
Hi,

The warning message you're seeing, as mentioned in the comment in the code, can appear also in cases when ctc_merge_repeated=False.

It appears whenever it's impossible to determine a valid path for the target labeling based on the network activation through the forward/backward variables (which is where the ctc_merge_repeated is applied - note: the code has some references to the Alex Graves

[2017-08-17 14:59] quaeler commented on #12328
Ok - no rush; i'm just starting to spin up for the day now and will probably have a busy morning.

The tf.Print output in Python seems to jive with the hex dump you provided above as far as the 'junk' characters - though the placement of the whole of the second sentence is different.
What happens between the steps of where you placed the tf.Print and where you were reporting seeing junk-less outpu

[2017-08-17 15:13] RylanSchaeffer commented on #12065
@ppyht2 I suspect that I'm incorrectly using the TrainingHelper. I've been receiving help from people on another issue at the NMT tutorial (https://github.com/tensorflow/nmt/issues/3), but I haven't been able to fix my issue yet.

[2017-08-17 15:16] aaronzs commented on #12350
Try to create a `tmp` folder yourself in `C:\tmp`.
or
You can go to `line 204` and `line 210` of `mnist_with_summaries.py` and change `/tmp` to wherever you want, for example `/tmp` -> `.`.

[2017-08-17 15:28] yangjunpro commented on #12321
@asimshankar May I know the rough release plan as to the support for the dynamic graph?

Thanks

[2017-08-17 15:29] DinoP commented on #7705
I'm getting the same issue, and followed all of the above advice, no luck.

It's super hard to debug, if its one or the other file that is missing. Couldn't Tensorflow be better at telling you what file it can't include?

 I'm trying this combination Windows 10 + Python 3.5.2 + cuDNN 5.1 + CUDA 8.0 + Tensorflow 1.3.

I've tried all cuDNN versions from 7 to 5.1 (All the DLL's can exist in same dir,

[2017-08-17 15:41] mrry commented on #7705
@DinoP I believe the released version of TensorFlow 1.3 depends on cuDNN 6, so it's probably looking for `cudnn64_6.dll`.

[2017-08-17 15:48] DinoP commented on #7705
Thank for the answer.

As i wrote, I both have version 5.1, 6 and 7 installed in that dir. So should be be that.

The "v8.0\bin\" dir looks like this:
03/06/2017  19:08        47,600,128 cublas64_80.dll
07/11/2016  11:08        83,148,288 cudnn64_5.dll
12/04/2017  13:59       152,321,536 cudnn64_6.dll
25/07/2017  19:18       213,226,496 cudnn64_7.dll
03/06/2017  19:09           226,304 nvblas64_80

[2017-08-17 15:48] hughsalimbeni commented on #11821
Any updates on this?

[2017-08-17 15:53] adarob commented on #12065
The new InferenceHelper added in e9a8d75 resolves this issue.

[2017-08-17 16:13] mrStasSmirnoff commented on #5036
+1

[2017-08-17 16:36] Sylvus commented on #12294
I want to start contributing to tensorflow so I filled out the CLA. Will probably take a few days before I can send the pull request but here is the change I envisioned (as aquariusjay suggested):

https://github.com/tensorflow/tensorflow/compare/master...Sylvus:fix_iou_metric

[2017-08-17 16:43] ebrevdo commented on #12065
@RylanSchaeffer does @adarob's PR solve your issue?

[2017-08-17 16:44] iramusa commented on #12330
@reedwm @Sohl-Dickstein

Thank you for suggestion to use tf.squeeze(). Unfortunately this doesn't solve the issue for me.

Let me be more concrete. This is what I'm trying to do. First I build a network:

[code]

Then I train it, etc. Then I'm interested in hessian of `y` wrt `v`. `tf.gradients(y, v)` works perfectly fine.

What I attempted:

(1) Naive: `tf.hessians(y, v)` throws:
[code]

(2) Usin

[2017-08-17 16:51] #12232 closed

[2017-08-17 16:58] Bleezworld commented on #12346
See this [question on SO](https://stackoverflow.com/questions/45725369/is-num-epochs-limited-in-tensorflows-csv-file-reader-string-input-producer), seems that I stupidly ordered try/while in the wrong order, especially because of the `finally` part

[2017-08-17 16:58] #12346 closed

[2017-08-17 17:05] RylanSchaeffer commented on #12065
@ebrevdo Let's presume yes, and I'll reopen the issue with additional details if it doesn't.

[2017-08-17 17:05] #12065 closed

[2017-08-17 17:06] RylanSchaeffer commented on #12065
@adarob , thank you!

[2017-08-17 17:16] reedwm commented on #12330
You're right that my `tf.squeeze` suggestion does not work, because there is no path from the `tf.squeeze` tensor to `y`.

(3) is quite clever. I do not know Keras so I do not know what the problem is. @fchollet, do you know how to resolve (3)? @iramusa, you can also ask on StackOverflow to get help with (3).

Marking as contributions welcome if anyone wants to add support for effectively 1D Tenso

[2017-08-17 17:24] yzhwang commented on #12293
Thanks for the report @basveeling ! I was able to reproduce this and I'm currently investigating. Will update soon.

[2017-08-17 17:26] reedwm commented on #12362
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-17 17:26] reedwm commented on #12360
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-17 17:45] edgimar commented on #10972
@wchargin With TF version 1.3.0 and TB 0.1.4, text summaries seem to be working.  @chihuahua Thanks for the explanation!

[2017-08-17 17:49] DinoP commented on #7705
So, I thought I had a breakthrough... did "pip uninstall tensorflow tensorflow-gpu" and then "pip install tensorflow-gpu"

My suddenly script then didn't fail at the import of TF.... hurray... but only cpu devices were available (no gpu).

Makes sense that it did not fail then, but I'm not sure why it stopped showing my gpu.

Anyone knows how to force my script to use tensorflow-gpu or "re-enable"

[2017-08-17 17:51] junshi15 commented on #11825
@shamoya With my limited understanding of RDMA_SEND, I do not see how it can solve the problem.
With RDMA_SEND, the receiver specifies destination MR. But the MR needs to be created first. To create it, the receiver needs to know its size. The size is on the sender side. So it seems to me you still need to duplicate recv at least twice, first, get the size; second, send the tensor.

Correct me if

[2017-08-17 18:01] junshi15 commented on #11725
@poxvoculi We found some of [the wrapper functions](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/verbs/verbs_util.cc#L23-L70) caused hang. Do you know whether we are not supposed to use the sync version of these functions? I know CPU/GPU transfer can be slow,  but I did not expect it to hang. Thanks.

[2017-08-17 18:09] gh2k commented on #9697
For people landing here from Google who Just Want To Build The Thing, until this is fixed properly I can around this issue by specifying `-march=broadwell` during configure.

Instead I just get this warning, when trying to use the library:
[code]

[2017-08-17 18:11] poxvoculi commented on #11725
I would avoid using any sync version of a function where an async version with callback is available.  The sync versions suspend a thread which could lead to a deadlock if you run out of threads.  It may be that by blocking you've also introduced a deadlock some other way, where the callback is waiting on something whose execution would have been triggered after the async invocation returned.

[2017-08-17 18:30] sadlerjw commented on #12298
Thanks @petewarden! I got TF to successfully compile, but when trying to compile my iOS app with the generated .a file, I get the following error:
[code]
I did some searching and this looks just like #5159, but not being very knowledgeable about build systems, I couldn't track down a similar cause. I did confirm that there are in fact duplicate symbols:
[code]
I'm happy to file a separate issue fo

[2017-08-17 18:34] areel opened #12366 "Documentation for windows install is wrong/misleading"
https://www.tensorflow.org/install/install_windows states

Requirements to run TensorFlow with GPU support
cuDNN v5.

This is now incorrect.
TensorFlow 1.3 or later requires cuDNN 6. ('cudnn64_6.dll')

I also suggest you add a comment and link to this gist

https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c

He just saved me hours.

Regards

Aidan

[2017-08-17 18:39] drpngx commented on #9697
Thanks Simon!I think the intended way is to use `--config=opt` (not `-c
opt`). It will put `-march=native`.

On Thu, Aug 17, 2017 at 11:14 AM, Simon Detheridge <notifications@github.com

[2017-08-17 18:40] reedwm commented on #12366
/CC @mrry

[2017-08-17 18:44] lapolonio commented on #10258
@gunan I pulled down v1.3.0 and was able to successfully install tensorflow from built source

[2017-08-17 18:44] Ouwen opened #12367 "Estimator classification export feature request: input single string Tensor input limitation."
Within class `ClassificationOutput` contains the `as_signature_def` method. I was wondering why there is a limitation that this method only allows recievor_tensors of length 1.

https://github.com/tensorflow/tensorflow/blob/53aef8a3a5920e53f7da3ea2140374546d1bf708/tensorflow/python/estimator/export/export_output.py#L109-L118

For example the following code should seemingly just "work" for the mode

[2017-08-17 18:55] wchargin commented on #10972
Glad to hear it. Thanks for letting us know.

[2017-08-17 18:57] iramusa commented on #12330
Thanks

@tillahoffmann Do you have an idea on how to solve this?

[2017-08-17 19:05] reedwm commented on #12356
/CC @ebrevdo

[2017-08-17 19:07] skye commented on #12351
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-17 19:07] #12351 closed

[2017-08-17 19:07] skye commented on #12353
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-17 19:07] #12353 closed

[2017-08-17 19:07] reedwm commented on #12350
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-17 19:07] #12350 closed

[2017-08-17 19:08] reedwm commented on #12348
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-17 19:08] #12348 closed

[2017-08-17 19:09] skye commented on #12355
@gunan do you know what the URL should be? It's specifically for the Linux GPU: Python 2 link under the Installation section of https://github.com/tensorflow/tensorflow

[2017-08-17 19:10] skye commented on #12357
@sguada can you comment or redirect to someone who can? Thanks.

[2017-08-17 19:11] skye commented on #12359
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-17 19:11] #12359 closed

[2017-08-17 19:14] skye commented on #12363
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-17 19:14] #12363 closed

[2017-08-17 19:15] skye commented on #12367
@martinwicke can you comment or redirect to someone who can? Thanks.

[2017-08-17 19:16] skye commented on #12213
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-17 19:16] #12213 closed

[2017-08-17 19:20] nectario commented on #10708
Thank you @tcmxx ! This was really helpful. Btw, I am able to successfully build using cmake, but I have no idea where it puts the Java JNI libraries. Using cmake was a lot easier and I used VS Studio to build ALL targets. Do you know where it puts the Java dlls?

[2017-08-17 19:22] skye commented on #12305
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-17 19:22] #12305 closed

[2017-08-17 19:23] gunan commented on #12355
The new URL should not have the rc2.

@av8ramit  could you take a look?

[2017-08-17 19:23] chakpongchung opened #12368 "CrashLoopBackOff"
I am trying to follow the tensorflow deployment on kubernetes following the tutorial here:
https://www.tensorflow.org/serving/serving_inception#part_2_deploy_in_kubernetes

Instead of running on gclound, I am trying to run on local machine. But I ran into the following problem.

pangolins:serving$ kubectl get pods
NAME                                    READY     STATUS             RESTARTS   AGE