[2019-11-10 21:34] HTCode opened #34144 "Tensorflow 2.0 too slow when minimizing a custom cost function"
**System information**
- OS : Windows 10
- TensorFlow version: v2.0.0-rc2-26-g64c3d382ca 2.0.0
- Python version: 3.7.4

I have a code that looks like the following, where I want to minimize a custom cost function with respect to parameters w. However, when running the code, it appears to me that it is very slow (like more than 30 times slower) compared to the same code implemented without tensorfl

[2019-11-10 21:45] zhanjiezhu commented on #27338
Hi @henrysky, I'm facing a similar issue that validation's on_epoch_end is not reached, do you recall why and how to fix that? Thanks!

[2019-11-10 22:22] PN12 commented on #34128
Okay, thanks.
For the moment, I have found an alternative , but this error is within function ExponentialDecay -
I dig deeper into its documentation and there is an argument **Step** which is causing this error.
Unfortunately, I could not understand it from the documentation.
Thanks

[2019-11-10 23:15] ylipacbio commented on #32234
Let me add to this thread what I saw w.r.t. tensorflow 2.0 memory leak in LoadSavedModel.

-  System info

[code]
- Tensorflow versions
I detected this memory leak in both release `2.0.0` and `r2.1` branch.

- Background
I trained a tensorflow model in python and then loaded this model in C++ to do inference, then I detected memory leak using `-fsanitize leak`.

To reproduce this memory leak, any

[2019-11-10 23:32] DarkGeekMS commented on #34128
**Step** argument is the number of global steps of the optimizer, it's passed to the **call** method of the learning rate schedule to calculate the current learning rate.
It's supposed to be done implicitly by the optimizer during training, however good thing you find an alternative to your problem.

[2019-11-11 01:03] guptapriya commented on #34008
For the original scaling issue with multi-gpu, few things to check/try out:
- is the GPU saturated in the one GPU case? or are you able to increase the batch size and get better performance? I am wondering if the batch size is too small/step time too small. In such cases, sometimes the overhead of synchronization across GPUs can be large. So try increasing the batch size and see what happens?
- in

[2019-11-11 01:25] PN12 commented on #34128
Yes, this is the doubt here - **Step** is an implicit argument, then how do we alter it to get the execution correct.

[2019-11-11 01:28] gowthamkpr commented on #34111
@abdou31 Please post this question on stack overflow as this is not related to build/install, bug/performance or docs related issues. Thanks!

[2019-11-11 01:28] #34111 closed

[2019-11-11 01:30] lminer commented on #32142
@feature-engineer, it's definitely better, but the other problem is loading a serialized version of the model. I have to do it in a seriously hacky way right now, where I recompile the model all over again with the same loss function. I use the original optimizer so I can preserve that state.

[2019-11-11 01:41] gowthamkpr commented on #33689
@thadumi Please create a new issue as the same thread cannot be used to discuss multiple issues. I'm going to close this issue for now. Thanks!

[2019-11-11 01:41] #33689 closed

[2019-11-11 01:43] Safiullahmarwat commented on #33958
Hi there! should i wait for any response? I dont know why the @tensorflowbutler removed the awaiting response :)

[2019-11-11 01:47] superhg2012 commented on #32281
@aaroey I am ok now. I updated tensorflow version to 1.14.0 and tensorRT from 5.0.26 to 5.1.5.0.

[2019-11-11 01:50] gowthamkpr commented on #34123
@abdou31 Please refer to the following [link](https://stats.stackexchange.com/questions/56302/what-are-good-rmse-values) to understand what RMSE values are good for your problem.

Also please post questions like these in stack overflow as github is only meant for bug/performance, build/install and docs related issues. Thanks!

[2019-11-11 01:50] #34123 closed

[2019-11-11 01:52] guptapriya commented on #33869
I think this should be fixed by https://github.com/tensorflow/tensorflow/commit/c82df39b0cfd6fee460c1e942a3322061bc6f8bb#diff-39620d083041d43ea80ef9ef7246652b which was committed couple days ago.

Are you able to test with a nightly version of tensorflow (https://pypi.org/project/tf-nightly-gpu/)

[2019-11-11 01:56] candyzone commented on #33598
@gowthamkpr

[2019-11-11 02:00] guptapriya commented on #33868
Hi - can you provide the entire model + training code that you're using above? That will help us reproduce and debug the issue.

The all reduce is most likely triggered from the .assign_add() which will try to aggregate the delta before applying to the mirrored variables. But it's not clear to me why it fails. (because similar things happen for gradient aggregation as well and presumably those are

[2019-11-11 02:28] guptapriya commented on #32172
Hi, can you please try with latest version of TF and see if you still have the same problem?

[2019-11-11 03:11] dongxiao92 commented on #33910
guys, any updates?

[2019-11-11 03:47] guptapriya commented on #29911
@Slyne is the issue you encountered with second approach a bug? perhaps you can file a separate issue for that and we can figure out how you can make progress with that?
the only other workaround I can think of is if you want to actually make up the distributed input signature yourself. I can provide the code for that but it requires using private TF APIs.

[2019-11-11 04:02] narutojxl opened #34146 "Have install future module, but still can not find builtins when Building from source"
<em>

**System information**
- OS Platform and Distribution (Linux Ubuntu 16.04, kerenl: Linux dell 4.15.0-54-generic):
- Mobile device (not)
- TensorFlow installed from: source
- TensorFlow version: master branch, git clone https://github.com/tensorflow/tensorflow.git
- Python version: 2.7.12
- Installed using virtualenv? pip? conda?:
- Bazel version: 0.29.1
- GCC/Compiler version:  5.4.0
- CUDA/

[2019-11-11 04:25] guptapriya commented on #33809
@olk - can you provide the entire training code? Is it possible to repro this in colab - that will make it easier for us to debug.
Also, can you try a few things:
- have you tried using a standard loss? I am wondering if we are not handling loss dictionary properly with mirrored strategy
- can you also try mirrored strategy with 1 GPU? I want to see if it's a number of replicas issue, or strategy

[2019-11-11 04:32] guptapriya commented on #33809
Also, #33767 was marked fixed, so in case that had anything to do with this issue, worth trying with the latest nightly.

[2019-11-11 04:33] dynamicwebpaige commented on #20253
Closing out this issue, as `tf.contrib` is no longer supported in TensorFlow 2.0.

If you would like to debug the code for `tensorflow.contrib.losses.metric_learning` and upgrade the code for the loss function, a good home for it might be [TensorFlow Addons](https://www.github.com/tensorflow/addons). Thanks! 🙂

[2019-11-11 04:33] #20253 closed

[2019-11-11 04:37] dynamicwebpaige commented on #8535
Closing out this issue, as `tf.contrib` is no longer supported in TensorFlow 2.x and the `tf.keras.layers.BatchNormalization` [fix](https://github.com/tensorflow/tensorflow/commit/192b618b9d3f149c98e3b72dd872f5ecc4f79c67) referenced above has been merged.

Thanks! 🙂

[2019-11-11 04:37] #8535 closed

[2019-11-11 04:42] dynamicwebpaige commented on #9125
Closing out this issue, as `tf.contrib` is no longer supported in TensorFlow 2.x.

[2019-11-11 04:42] #9125 closed

[2019-11-11 05:24] elvinjgalarza opened #34147 "How to get training time per epoch using TPUEstimator?"
I know with Keras you can set verbose levels (0,1,2) to see training time per each epoch; however, I can't seem to figure out how to get a "verbose" feature working when trying to use the TPUEstimator. I'm using v1.14

[2019-11-11 05:38] kochbj commented on #28966
Wanted to bump this up because I am running into the same issue. I have a couple of layers I have written with
`tf.sparse.sparse_dense_matmul` that are not producing a gradient.
and also produce this warning:
`WARNING:tensorflow:Gradients do not exist for variables ['rgcn_autencoder/RGCN_Input0/graph_order_0_PcP_W_1:0', 'rgcn_autencoder/RGCN_Input0/graph_order_0_PbA_W_1:0',...when minimizing the l

[2019-11-11 05:45] HuizhenShu commented on #23898
same issue, any update?

[2019-11-11 05:59] npuichigo commented on #33245
any updates?

[2019-11-11 06:14] oanush commented on #34140
@saintthor ,
Can you share a simple and standalone code to reproduce the issue? Thanks!

[2019-11-11 06:16] aefuimn commented on #33869
This error occurred in my code on TF version 2.1.0-dev20191110
[code]
I upgraded my cuda, now:
cuda version: 10.1
cudnn version: 7.6.5.32-1+cuda10.1
libnvinfer version: 6.0.1-1+cuda10.1

[2019-11-11 06:29] ravikyram commented on #34144
I have tried on colab with TF version 2.0  and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/4280a01f0727d3da964e6ad750043929/untitled346.ipynb). Thanks!

[2019-11-11 06:42] mborsetti commented on #33374
grpcio is available on Python 3.8 https://pypi.org/project/grpcio/#files

[2019-11-11 06:46] mborsetti commented on #33374
FYI, this is the issue: https://github.com/grpc/grpc/issues/20831

[2019-11-11 07:03] karthikeyan-DS-BOT opened #34148 "issues in importing keras"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):win 7 64 bit
- TensorFlow installed from (source or binary): installed using anaconda prompt
- TensorFlow version (or github SHA if from source): 1:13;1

DESCRIPTION : I run it using CPU , I have installed using the this command : conda install -c conda-forge keras in conda prompt

Python 3.7.3 (default, Apr 24 2019,

[2019-11-11 07:12] photogazer commented on #33551
Yes, fixedpoint.h is located at the location you have indicated.

Strangely, when I try to rerun the same command to build tonight, the build went through to completion:

[code]

I did not rebase. So perhaps there was a temporary issue connecting to a server last week. In any case I no longer see the build issue for now. Thanks for the help!

[2019-11-11 07:14] oscarriddle commented on #20120
I try to load a TFTRT converted model and execute in C++ version Tensorflow program, and I encountered this problem. How could I analyze TRTEngineOp in C++?

[2019-11-11 07:22] oscarriddle commented on #22360
Hi @dhingratul , I encountered the exactly same situation. Building the Tensorflow with TensorRT will generate a dynamic lib file libtftrt.so , which I suspect should be similar to the dynamic lib .so of custom ops. Hence, adding C++ version of "tf.load_op_library()" may be a solution?

Would you comment on my idea or much appreciated if you could share your way of solving this problem.

[2019-11-11 07:37] ravikyram commented on #34141
I have tried on colab with TF version 2.0 ,2.1.0-dev20191110 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/1bc35ad6876cb9944aa1254e27facfbe/untitled347.ipynb). Thanks!

[2019-11-11 07:46] m4tts commented on #34067
thanks for your reply.
unfortunately it crashes with more or less the same error messages :
[code]
i got access to a nvidia dgx workstation over the weekend to run the script. there the script runs without any problems. but it is using an older nvidia-driver and linux kernel version.  i'm guessing our problem is somewhere in the API between kernel / driver / tensorflow. is there any way to debug t

[2019-11-11 07:58] gadagashwini commented on #34116
@sc20ka, Did you get a chance to try @ymodak's solution.
Thanks!

[2019-11-11 07:59] guptapriya commented on #34139
How did you determine if was using only one GPU during validation? Can you also share more information about your setup? This is using MirroredStrategy?

[2019-11-11 08:00] guptapriya commented on #34139
cc @qlzh727

[2019-11-11 08:02] guptapriya commented on #34067
Oh I see. yeah in that case this sounds like a driver/TF mismatch problem. @tatianashp can someone on your team help?

[2019-11-11 08:05] srihari-humbarwadi commented on #33635
@gowthamkpr any updates?

[2019-11-11 08:08] ravikyram commented on #34128
@PN12

Which TensorFlow version you are using?.Thanks!

[2019-11-11 08:15] Slyne commented on #29911
The second workaround gives an error like this issue https://github.com/tensorflow/tensorflow/issues/22484, unless I stop iterating the dataset before the last step.

[2019-11-11 08:17] ravikyram commented on #34120
@chenquan

Looks like you found solution for this issue. Can you please confirm, whether we can close this issue as it was resolved. Thanks!

[2019-11-11 08:22] saintthor commented on #34140
please test this code:

[code]

the last line raises:
[code]

thanks.

[2019-11-11 08:27] saintthor commented on #34140
changing the last line to
`tf.keras.models.load_model( 'mo.test', custom_objects = { 'Loss': Loss } )
`raises the same error.

[2019-11-11 08:27] Xu-cj commented on #31350
how to solve it.thank you

[2019-11-11 08:40] ravikyram commented on #34118
@shazhongcheng
I have tried on colab with TF version 2.0  and i am not seeing any error message. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/9998fa6cb4a59584a35a0456c3420584/untitled349.ipynb).Please, let me know if i miss something. Thanks!

[2019-11-11 08:44] ravikyram commented on #34107
@jessica-santos

Request you to share minimal standalone  code to reproduce the issue in our environment,it helps us localizing the issue faster. Thanks!

[2019-11-11 08:49] oanush commented on #34093
Issue replicating for the given code for TF-2.0, please find the [gist](https://colab.sandbox.google.com/gist/oanush/932cf9d8d1145a5c88ac8cecb84493e5/34093.ipynb) of colab.Thanks!

[2019-11-11 08:55] ravikyram commented on #34100
@aronatkins

Can you please elaborate about the issue & the context. It helps us in localizing the issue faster. Thanks!

[2019-11-11 08:59] gadagashwini commented on #34117
@dbonner, Did you run `./configure`. If yes please attach the output of `./configure`. Thanks!

[2019-11-11 08:59] dubesar commented on #34148
I think your issue is same as https://github.com/tensorflow/tensorflow/issues/27984
Please go through this issue and ping if not solved.

[2019-11-11 09:18] sachaarbonel opened #34150 "TensorFlow Lite Op Request"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX 10.14.6
- TensorFlow installed from (source or binary): 2.0
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.
The model comes from this repository : https://github.com/MaybeShewill-CV/C

[2019-11-11 09:20] meteorcloudy commented on #34082
Yes, this issue has been resolved by https://github.com/tensorflow/tensorflow/commit/72d0facc37e377d89d8034bb825bf0e93a4f810d

[2019-11-11 09:33] laszlocsomor commented on #33544
@VitaMusic : How does it not work, what error does Bazel print? See this for envvar configuration: https://docs.bazel.build/versions/master/windows.html#build-c-with-msvc

[2019-11-11 09:40] gadagashwini commented on #34115
@chris881, I tried the tutorial on colab. It executed as expected.
Please take a look at the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/441c50ce70cd7bc2afe5eb05b0e3bc1c/untitled250.ipynb).Thanks!

[2019-11-11 09:42] ravikyram commented on #34088
@canesqui
Please use `metrics = [tf.keras.metrics.SparseCategoricalAccuracy()] `in place of `metrics = [tf.metrics.Accuracy()]` then you can see the same results.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c31c3ed5a3e35e483fa34ac76b2ed48e/untitled350.ipynb). Thanks!

[2019-11-11 09:44] scanfyu opened #34151 "Cannot import 'GradientDescentOptimizer'"
![image](https://user-images.githubusercontent.com/3198940/68577281-bb353800-04aa-11ea-8a50-0a48d2ad0974.png)

I use train.GradientDescentOptimizer and tf.optimizers.GradientDescentOptimizer, which not work. So I read the doc but only search GradientDescentOptimizer  in tf.compat.v1.train.GradientDescentOptimizer

[2019-11-11 09:48] bilalsoomro commented on #32101
@impjdi The error occurs when I initialize the interpreter with a GPU delegate and my converted F16 MobileNet V2 model. It crashes before I run the model so where is it that the dimensions are not matching?

[code]

[2019-11-11 09:52] ravikyram commented on #34086
@lijinze9456yy000

Can you please let us know which version of TensorFlow you are using?. Thanks!

[2019-11-11 09:53] jedakiah13 opened #34152 "Can't train a model using Java in Windows"
I know training a model is currently not supported for Java.

I was just wondering when this is likely to be available?

[2019-11-11 09:55] dubesar commented on #34148
https://github.com/fo40225/tensorflow-windows-wheel

Download TensorFlow binaries from the link above. Since you are using CPU

[2019-11-11 09:55] bilalsoomro commented on #32101
I am currently importing the nightly tensorflow lite build into the app as shown below. Do you set the version for these to 1.15?
[code]

[2019-11-11 09:56] shazhongcheng commented on #34118
Thank you for your reply. You can see my screenshot, it indeed turn out error, and the outcome is my python will shutdown.
I also try on colab, it indeed run fluently as you say, [like following](https://colab.research.google.com/drive/1mphVcOnkg82xZAMtvVZU52kjL-J_f_xP?hl=en#scrollTo=9bSneJbA1vWd):
![image](https://user-images.githubusercontent.com/15049049/68577489-2b43be00-04ab-11ea-8a44-ea0353b

[2019-11-11 09:57] oanush commented on #34090
@emailweixu ,
Can you try using latest - tf-nightly 2.1.0.dev20191110 version issue seemed to be fixed, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/188e307b70eaf4ddbb43fd26e8be1c87/34090.ipynb) of colab for the same.Thanks!

[2019-11-11 09:57] twkx commented on #33634
@ValYouW This is normal that you have this error.

In order to make it fully work you must copy all the tensorflow BUILD parts that generate the .def file, and customize it for tensorflow lite dll. I'm not an expert in Bazel, so I could not make it myself, this is why I didn't push a proper PR.

What I did is to generate manually the .def file based on the missing symbols I had in my own project,

[2019-11-11 09:59] ravikyram commented on #34099
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-11-11 10:03] rmothukuru commented on #34132
@FancyVin,
When trying to reproduce your error, an intermediate error, shown below has occurred,  `ModuleNotFoundError: No module named 'keras_contrib'`. Can you please help us reproduce the error. Thanks!

[2019-11-11 10:10] sravan938 commented on #27127
@aryachiranjeev I have uninstalled all the previously installed python versions. Created a environment with python version 3.5  and then installed tensorflow version (1.0) which solved the issue

[2019-11-11 10:11] gadagashwini commented on #34094
The provided code is working as expected on Colab.
Please see gist [here](https://colab.sandbox.google.com/gist/gadagashwini/140cde9f8eab3a1f290e255260f33060/untitled249.ipynb). Thanks!

[2019-11-11 10:13] oanush commented on #33624
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-11 10:13] #33624 closed

[2019-11-11 10:13] dubesar commented on #34148
@karthikeyan-DS-BOT read the readme you will find the solution

[2019-11-11 10:14] oanush commented on #33722
@anilkdas ,
Any update on the issue ?Thanks!

[2019-11-11 10:18] shazhongcheng commented on #34094
It is so strange, when i change the neural network like this：
[code]

It will run error on the third epoch:
[code]

![image](https://user-images.githubusercontent.com/15049049/68579628-8d062700-04af-11ea-91ff-de2ec2d0e98d.png)

But the[ Google colab can run  fluently](https://colab.research.google.com/drive/1d9rAJsacUYQRL51yh0osVjg1muxvwcdp?hl=en#scrollTo=5DJ-Qm7W5m6K):
![image](https://user-image

[2019-11-11 10:24] marnixkoops commented on #33009
Avoiding `model.predict` and using `model.predict_on_batch` solves the Memory Error for me. Here's an example to create batched predictions on your test set.
(Note that if only pre-allocating the results array already results in a MemoryError then simply the array does not fit in your available memory regardless of the memory leak issue.)

[code]

[2019-11-11 10:24] shazhongcheng commented on #34094
I know that Google colab can run fluently, the strange things is that I can not run fluently on my jupyter and my Pycharm! I know that Google colab is very usefully, but I can't always run my deep learning code on Google colab. Pleas, it will run error on others environment!

[2019-11-11 10:25] shazhongcheng commented on #34094
I have many pictures and error information can prove my view.

[2019-11-11 10:26] gadagashwini commented on #34122
@nlbutts, Please Provide the exact sequence of commands / steps that you executed before running into the problem and also include the full error log. Thanks!

[2019-11-11 10:26] netw0rkf10w commented on #34139
@guptapriya I used `nvidia-smi` to observe GPU usage, only one GPU is used during the entire validation phase of `.fit()`. Training was launched on 4 GPUs using `tf.distribute.MirroredStrategy()`.

Not sure if it's related to this issue on Keras' repo: https://github.com/keras-team/keras/issues/9404.

[2019-11-11 10:28] normanheckscher commented on #34117
https://www.tensorflow.org/install/source#linux

Tested build configuration differs from the OP.

Tested build uses:
gcc 7.3.1
cuDNN 7.4

[2019-11-11 10:37] DoumanAsh commented on #32101
@bilalsoomro I build from sources, but use `r1.15` branch

But unsupported MEAN is not going to cause this failure.
As impjdi mentioned it seems your model is not entirely correct.

[2019-11-11 10:52] chenquan commented on #34120
Yes! According to the installation log, it is caused by `protobuf > = 3.6.1`.The installation of version 3.6.0 can work normally.

[2019-11-11 10:53] bilalsoomro commented on #32101
@DoumanAsh Thanks for clarifying that.

I am converting the model using the same method that is described in the original post so I guess I'll have to wait for the answer/solution to the original post. I am using tensorflow version 2.0.0.

[code]

[2019-11-11 10:53] thijskooi opened #34153 "tf.data.experimental.choose_from_datasets freezes if one of the datasets is empty"
**System information**
- TensorFlow version (you are using): 1.14.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

`tf.data.experimental.choose_from_datasets` freezes if one of the datasets is empty. This can happen for instance, when splitting the dataset into classes, recombining them using this function and one of the classes is not pr

[2019-11-11 10:54] chenquan commented on #34120
Yes! According to the installation log, it is caused by `protobuf > = 3.6.1`.The installation of version 3.6.0 can work normally.

[2019-11-11 11:10] DoumanAsh commented on #32101
I would advice to use the same tensorflow version for both conversion and execution.
So maybe it would be better to use 2.0.0 which is now released as stable version?

[2019-11-11 11:12] jackd opened #34154 "tf.nn.moments with keras causes Invalid tape state"
### System information
- Have I written custom code: yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from : binary
- TensorFlow version: v1.12.1-8709-gddde447 2.0.0-dev20190813
- Python version: 3.6

Also reproducable with cuda 10.0 cudnn 7.something / GTX-1070 but I doubt it's a GPU issue...

### Current Behaviour
Using output of `tf.nn.moments` causes `Invalid tape

[2019-11-11 11:13] oanush commented on #34029
@deaputri ,
Hi, the provided code is not enough to replicate. can you please provide complete code to reproduce ?Thanks!

[2019-11-11 11:23] bilalsoomro commented on #32101
I am using `tf.float16` instead of `tf.lite.constants.FLOAT16` because I read here (https://www.tensorflow.org/lite/convert/python_api#liteconstants) that `lite.constants` API has been deprecated in tensorflow 2.0 and we should switch to `tf.DTYPE`.

[2019-11-11 11:28] abdou31 commented on #34111
I post this question and I didn't got any answer!

[2019-11-11 11:28] abdou31 commented on #34111
I post this question and I didn't got any answer!

[2019-11-11 11:29] ravikyram commented on #34028
@grewe, I am unable to open the zip file that you have shared. Please help us to replicate the issue with more information. Thanks!

[2019-11-11 11:29] lxl910915 commented on #7785
[code]

[2019-11-11 11:34] mwalmsley commented on #34112
Thanks @oanush. A brief update - I have changed my setup to run on the GCP AI Platform VM (https://cloud.google.com/ai-platform/deep-learning-vm/docs/) directly (i.e. without docker) and receive the same error.

[2019-11-11 11:40] mosicr opened #34155 "BERT-joint TF1 baseline fails on TPU training"
BERT-joint baseline script [https://github.com/google-research/language/tree/master/language/question_answering/bert_joint#training-our-model](url)
 fails on TPU training with:

E1111 11:25:56.709489 140509220771584 error_handling.py:81] Closing session due to error From /job:worker/replica:0/task:0:
End of sequence
	 [[node input_pipeline_task0/while/IteratorGetNext (defined at usr/local/lib/pyth

[2019-11-11 11:43] jessicadef opened #34156 "Distributed training with TensorFlow2.0 not working: "Aborting RingReduce with Invalid argument: Shape mismatch in the collective instance 106.""
We trying to build a multi-worker strategy based on tutorials: [Multi-worker training with Keras](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras) and [distributed training with TF2](https://github.com/lambdal/TensorFlow2-tutorial/blob/master/05-distributed-training/worker.py). The code works with this configurations:
- first node:
`os.environ['TF_CONFIG'] = json.dumps({ 'c

[2019-11-11 11:45] shkarupa-alex opened #34157 "Keras fails to feed ragged/sparse inputs with correct input placeholder"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, custom subclassed model
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (us

[2019-11-11 11:50] ravikyram commented on #34030
@liupengkd

Please, let me know if we can close this issue since it looks to be fixed. Thanks!

[2019-11-11 11:52] truongsinh commented on #32523
ah thanks, I can see v2.0.0 on https://cocoapods.org/pods/TensorFlowLiteObjC now

[2019-11-11 11:52] #32523 closed

[2019-11-11 11:55] zhanghaocol commented on #32350
I faced the same error and simply installing cuDNN > 7.2 does not resolve the issue.

[2019-11-11 11:55] ravikyram commented on #34120
I am closing this issue, since it was resolved. Thanks!

[2019-11-11 11:55] #34120 closed

[2019-11-11 12:23] PN12 commented on #34128
Version is '1.15.0'

[2019-11-11 12:31] narutojxl commented on #34146
Uninstall pip installed with get-pip.py, install pip with apt.
And then remove ~/.local/lib/python2.7/site-packages/  dir.
Then pip install future module.

[2019-11-11 12:31] #34146 closed

[2019-11-11 12:39] bono1567 commented on #33842
The "K.get_value" seems to be making the change.

[2019-11-11 12:44] chsigg commented on #32350
Thanks Henje, your analysis is correct. The cudnn_stub code doesn't match the cuda_dnn code. I think the simpler approach would be to bump the version number in cuda_dnn, but if you want to have RNN support maybe you could try changing the version number in cudnn_stub, using the 7.3 .inc file for your cuDNN 7.2. Let me know if that works for you.

[2019-11-11 12:45] arbellea commented on #31973
Any timeline of a fix for this issue?

[2019-11-11 12:47] jaingaurav commented on #34098
@Davidvdrm: Were you able to verify if the problem was resolved with the clang CUDA compiler?

[2019-11-11 12:49] Shubham3101 commented on #33842
I don't think so, because if you compile the again (2nd time) , the optimizer state gets updated

[2019-11-11 13:16] tomasferraro commented on #30598
Any news on this issue? It seems that the aws-sdk fixed the issue on version 1.7.153
https://github.com/aws/aws-sdk-cpp/issues/1192#issuecomment-518383782

[2019-11-11 13:25] nikochiko commented on #34151
See the documentation for [tf.train](https://www.tensorflow.org/api_docs/python/tf/train) and [tf.optimizers](https://www.tensorflow.org/api_docs/python/tf/optimizers). According to these, we do not have a batch gradient descent optimizer in either. There is Stochastic Gradient Descent optimizer in `tf.optimizers.SGD`. For gradient descent optimizer, so the way to apply Gradient Descent is `tf.com

[2019-11-11 13:37] Davidvdrm commented on #34098
Not yet, a different issue came up and i will het to the compiler tommorow.
I will post an update as soon as i have results

Op ma 11 nov. 2019 13:54 schreef Gaurav Jain <notifications@github.com>:

[2019-11-11 13:47] canesqui commented on #34088
Thank you @netw0rkf10w and @ravikyram for pointing that out. @netw0rkf10w, can you please share the documentation where I can find information on declaring metrics as a string array and how it would map to the loss function? Once again, thank you for your help.

[2019-11-11 13:50] mrgloom commented on #19731
`numba` cause Segmentation fault.

Example:
https://stackoverflow.com/questions/58792739/tensorflow-model-wrapper-that-can-release-gpu-resources

So as I understand the only method so far is to run model load and predict in separate process or maybe pass same session to any used model clearing old graph before loading new model.

[2019-11-11 14:04] thomasZen commented on #31797
This bug is also present in tensorflow 1.15 with mkl (Deep Learning Image: TensorFlow 1.15.0 m38).

[2019-11-11 14:10] mrgloom commented on #17048
Using numba causes Segmentation fault:
https://stackoverflow.com/questions/58792739/tensorflow-model-wrapper-that-can-release-gpu-resources

[2019-11-11 14:45] HTCode commented on #34144
By the way, for a very big n (e.g. > 1000000), the TF code version starts to become faster than the NON-TF one.

Is Tensorflow meant for large-scale computations only? I consider `n, m = 10000, 100` to be sufficiently big in my case, yet the NON-TF version is faster for this dimension.

[2019-11-11 15:18] astal-veo commented on #28924
Any update with TF2.0 ?

[2019-11-11 15:32] EdwarDDay commented on #34096
I tried it and the same error was thrown again.

[2019-11-11 15:34] deven-amd commented on #34082
@meteorcloudy yes and no.

The compile issues are resolved by the commit you referenced, but the same commit also introduces a bunch of runtime failures (symbol not found errors from HIP runtime, when attempting to launch GPU kernels). I have filed a PR (https://github.com/tensorflow/tensorflow/pull/34081)  to revert that commit, so that we can get the ROCm CSB back to a known passing state.

Can

[2019-11-11 15:49] luisc30 commented on #22443
If you take the file model.ckpt outside of train folder, you will get this problem. You should export the inference_graph with de data wich was trained your model.

[2019-11-11 16:24] jessica-santos commented on #34107
Sure, this is the code I run to build and train my model:

`def build_model(classe=3):
    """
    :return: builded model
    """
    base_model = InceptionResNetV2(weights='imagenet', include_top=False, input_shape=(IMAGE_SIZE, IMAGE_SIZE, 3))
    last = base_model.output

    x = GlobalAveragePooling2D()(last)

    x = Dense(512, activation='relu')(x)

    x = Dropout(.3)(x)

    preds = Dense(c

[2019-11-11 16:25] meteorcloudy commented on #34082
@deven-amd
Oh, sorry for that. Apparently we didn't run tests on TensorFlow CI for ROCm build, that's why the runtime failure was not caught.

The original build error was caused by https://github.com/bazelbuild/bazel/issues/7687. This incompatible change is in 0.29.1, and it caused the order of the linking flags to change. The compiler is sensitive to the flag order, which leads to the problem.

[2019-11-11 16:27] seandaug opened #34158 "Metrics incorrect for RNN with mask"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **n/a**
- TensorFlow installed from (source or binary): **binary (conda)**
- TensorFlow version (use

[2019-11-11 16:45] mihaimaruseac commented on #33183
Python3.7 is supported by TensorFlow.

[2019-11-11 16:46] mihaimaruseac commented on #23803
Taking ownership of this and will get to solve it in time

[2019-11-11 16:46] Randryn0 opened #34159 "Unresolved external symbol, C++, Windows 7, TensorFlow 2.0"
**System information**
- Have I written custom code: No
- OS Platform and Distribution: Windows 7 Enterprise
- TensorFlow installed from: Source
- TensorFlow version: 2.0
- Python version: 3.6.8
- Bazel version: 0.26.1
- GCC/Compiler version: VS2017 15.7.5
- GPU model and memory: Intel HD 530

[edit]
The build was based on commit 1cf0898dd4331baf93fe77205550f2c2e6c90ee5 from the r2.0 branch.
[/edi

[2019-11-11 16:53] wdirons commented on #34122
`gcc: internal compiler error: Killed (program cc1plus)` is a common error seen at random spots when you don't have enough memory on the system your compiling TensorFlow on. Try using the `--local_resources` flag to limit resource usage during the build.

Something like:

[code]

[2019-11-11 16:56] rockyrhodes commented on #33551
Glad you got it figured out!

[2019-11-11 16:56] #33551 closed

[2019-11-11 16:58] rockyrhodes commented on #33677
Looks like @nkreeger has commented on your pull request.

[2019-11-11 16:59] domsew commented on #33516
Hello, I faced the same issue. I can confirm that the problem occurs on:
- Windows 10, 32 GB RAM, tf version: v2.0.0-rc2-26-g64c3d382ca 2.0.0
- Windows 7, 8 GB RAM, tf version: v2.0.0-beta1-5101-gc75bb66a99 2.0.0-rc0
Python version is 3.7.3
It consumes all available RAM, causing out of memory error on both devices.

[2019-11-11 16:59] jvishnuvardhan commented on #34016
@netw0rkf10w Sorry. I didn't mean that we are not officially supporting `.h5` format. Thanks!
If you want us to look in detail at your issue, please provide a simple standalone code to reproduce the error. Thanks!

[2019-11-11 17:04] jvishnuvardhan commented on #26714
@imarkiew Can you please try `TF2.0` or create a simple standalone code to reproduce the issue. Thanks!

[2019-11-11 17:13] dbl001 commented on #33431
Any news on this issue?

I did a 'git pull', installed bazel 27.1, did bazel clean, ./configure and I am getting the same error.

[2019-11-11 17:14] dubesar commented on #34154
[code]

This code worked. Find the changes

[2019-11-11 17:15] OverLordGoldDragon commented on #32544
I believe I've figured it out, but noone, myself included, will like the verdict: the problem is **numeric precision**, and `BatchNormalization` has nothing to do with it. It's a work in progress, but I've narrowed down the exact operation responsible: `np.dot` - you can follow the work [here](https://stackoverflow.com/questions/58740925/why-is-np-dot-imprecise-n-dim-arrays). Will update later wit

[2019-11-11 17:35] yhliang2018 commented on #28788
The fix should be included in TF 2.1.0.

Looking at the error message, and looks like it means some non-Eager tensors are accessed outside of tf.function. Not sure if it's caused by this fix. Could you share your code to reproduce this error by opening another issue? I can dig more into it. Thanks!

[2019-11-11 17:41] cecabert commented on #34132
Related / Duplicate of [32477](https://github.com/tensorflow/tensorflow/issues/32477) I guess.

[2019-11-11 17:45] isaacgerg commented on #32564
Any update on this?

[2019-11-11 17:50] isaacgerg commented on #32544
@OverLordGoldDragon Thanks for following up.  I wonder if this is the same issue found with softmax here: https://github.com/keras-team/keras/issues/13328

[2019-11-11 17:58] jamessmith90 commented on #26150
8 months and no release. Lol
Is Google even funding Tensorflow ?

[2019-11-11 18:01] jamessmith90 commented on #34017
+1 for not releasing cuda 10.1 even after 8 months.

[2019-11-11 18:08] deven-amd commented on #34082
here is one example of the runtime error we see

[code]

[2019-11-11 18:16] ymodak commented on #34148
*TensorFlow release binaries version 1.6 and higher are prebuilt with AVX instruction sets.*

 Therefore on any CPU that does not have these instruction sets, either CPU or GPU version of TF will fail to load.
Apparently, your CPU model does not support AVX instruction sets. You can still use TensorFlow with the alternatives given below:

* Try Google Colab to use TensorFlow.
  * The easiest way t

[2019-11-11 18:19] yuanzhedong commented on #28788
@yhliang2018 thank you for the reply, I pasted the code here: https://colab.research.google.com/gist/yhliang2018/ba449f1299ed1476c3ad06560e00f403/verify-github-issue-28788.ipynb

[2019-11-11 18:27] feihugis opened #34163 "Do not get performance improvement on tf.matmul when building with AVX2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- TensorFlow version (use command below): v1.14
- Python version: 3.6.5
- Bazel version (if compiling from source): 0.26.1
- GCC/Compiler version (if compiling from source): 8.3.1

**Describe the current beha

[2019-11-11 18:31] yuanzhedong commented on #28788
Hi @yhliang2018, somehow when I use `conv1d`, the error still exists,

[code]
the code below  be able to reproduce that error.

[code]

[2019-11-11 18:40] feihugis commented on #34163
cc: @angerson @yifeif

[2019-11-11 18:52] ymodak commented on #34124
This issue is fixed with latest version TF nightly build '2.1.0-dev20191111'. Thanks!

[2019-11-11 18:59] zongweiz commented on #34067
@chsigg, any thoughts? Thanks.

[2019-11-11 19:06] saikumarGadde opened #34165 "tf.keras.backend.sqrt(tf.constant(-1.0)) is 0 which is misleading and tf.sqrt(tf.constant(-1.0)) is 'nan' which is the way it should be."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 1.

[2019-11-11 19:07] ibarshai opened #34166 "py_function documentation example gives error"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/py_function

## Description of issue (what needs changing):

### Clear description

The following is the code example on the documentation page does not execute:

[code]

Running this code returns the following error:

[code]

[2019-11-11 19:19] evancasey commented on #33722
There are a couple of solutions proposed [here](https://github.com/pyinstaller/pyinstaller/issues/4400#issuecomment-550905592)

[2019-11-11 19:23] emailweixu commented on #34090
Yes, it works with tf-nightly

[2019-11-11 19:26] deven-amd commented on #34082
is there a way to modify the https://github.com/tensorflow/tensorflow/commit/72d0facc37e377d89d8034bb825bf0e93a4f810d commit to not use the gold linker?

[2019-11-11 19:28] jvishnuvardhan commented on #26902
@ppwwyyxx Can you check whether the issue resolved in the `TF2.0` or `tf-nightly`? If this was resolved, please close the issue. Thanks!

[2019-11-11 19:37] ymodak commented on #34097
Please provide minimal reproducible code snippet to validate the reported issue. Thanks!

[2019-11-11 19:38] jaingaurav commented on #33708
sgambient@: This could be due to a lot of copies between GPU & CPU. Could you see if using int64 instead of int32 helps?

[2019-11-11 19:40] #27067 closed

[2019-11-11 19:41] gunan commented on #27078
@yifeif Is this documented in github.com/tensorflow/custom-op ?

[2019-11-11 19:42] gunan commented on #27083
Redirecting to Tatiana for triage.

[2019-11-11 19:46] deven-amd commented on #34082
think I may have found the cause...
this line ( https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/crosstool/BUILD.rocm.tpl#L93) ?

My guess is that specifying the the `-Wl--gc-sections` option somehow makes the linker discard some of the information related to the gpu kernel binary blobs resulting in the runtime error.

removing this option makes one of the previously failing t

[2019-11-11 19:52] jvishnuvardhan commented on #31943
@kaka-lin I think this was resolved in the recent TF versions. I checked with `TF2.0` and `tf-nightly` and I cannot reproduce the issue.

I am closing the issue. Please feel free to reopen the issue if it persists for you. Thanks!

[2019-11-11 19:52] #31943 closed

[2019-11-11 20:01] GitMeGet opened #34169 "unable to run hello_world on stm32f7 (tflite micro)"
**System information**
- OS Platform and Distribution: Windows 10
- GCC/Compiler version (if compiling from source): arm-none-eabi-gcc.exe (GNU Tools for ARM Embedded Processors 6-2017-q2-update) 6.3.1 20170620 (release) [ARM/embedded-6-branch revision 249437]

**Describe the problem**
I successfully build the mbed.bin file and can transfer it to the STM devkit via ST-LINK V2. However, nothing sho

[2019-11-11 20:07] jvishnuvardhan commented on #32089
@gaborchris This was resolved in `tf-nightly`. Please take a look at the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/9cf040a428c59f8efbd1e17f70d51a34/untitled116.ipynb). Thanks!

I am closing this issue as this was resolved. Please feel free to reopen if the issue persists for you. Thanks!

[2019-11-11 20:07] #32089 closed

[2019-11-11 20:43] sanket1012 commented on #27045
[https://github.com/tensorflow/tensorflow/issues/8340#issuecomment-332212742](url)

[2019-11-11 20:45] sanket1012 commented on #7652
[https://github.com/tensorflow/tensorflow/issues/8340#issuecomment-332212742](url)

[2019-11-11 20:56] sedghi commented on #33009
`model.predict_on_batch` solved this problem for me too

[2019-11-11 21:04] chaaland opened #34171 "Bug in LSTMBlockCellBpropWithCUDA when using peephole connections"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No

- OS Platf

[2019-11-11 21:10] gowthamkpr commented on #34091
`ERROR: no such target '//tensorflow/core/kernels:bonus_tests': target 'bonus_tests' not declared in package 'tensorflow/core/kernels' (did you mean 'loss_test'?) defined by /home/lesliefang/debug_failrunbonus_tests/tensorflow/tensorflow/core/kernels/BUILD`

Can you take a look at the source of in this path in your system and let me know if 'bonus_tests' is declared or no?

[2019-11-11 21:12] netw0rkf10w commented on #34008
@guptapriya Thanks for the detailed reply. In two weeks I'll create a small benchmark for comparing GradientTape and .fit().

[2019-11-11 21:18] ylipacbio commented on #32234
To avoid running into memory leakage caused by XLA support, we recompiled tensorflow library without XLA support e.g., `build:xla --define with_xla_support=false`, and confirmed that Leak sanitizer check runs OK.

This was our work-around to this bug, not a FIX to this bug.

[2019-11-11 21:27] omalleyt12 commented on #29481
@netw0rkf10w @vmarkovtsev  @galeone What tf version are you using? This should be fixed in the nightly

[2019-11-11 21:29] gowthamkpr commented on #34021
@tmartin293 Please post this question in stack overflow as this question is not related to bug/performance, build/install, docs or feature request. Thanks!

[2019-11-11 21:41] jackd commented on #34154
Wrapping `normalize_with_moments` in  `tf.keras.layers.Lambda` makes this work, though it's still very surprising and difficult to identify the issue. I'm guessing that's due to `tf.nn.moments` being a single op with multiple outputs? How does `keras` handle this in `fit` differently?

[2019-11-11 21:43] dave-andersen opened #34174 "Performance regression with obj. det model from 1.14 to 1.15"
2.7x slowdown on a nearly-off-the-shelf tensorflow object detection API model (differences and pipeline config below) when going from 1.14 to 1.15.  The regression is _not_ present in 2.0.

This is a fine-tuned SSD mobilenets FPN coco config, with the only changes being:

Fixed size input of 1024x1024
Single class detection
 model draws from layers 2-5 instead of 3-6 and so is a fair bit larger th

[2019-11-11 21:52] ywpkwon commented on #34008
@guptapriya Thanks for the reply. I'll investigate more. Really good to know that `.fit()` has nothing special as I initially guessed.  @netw0rkf10w Once you create a small benchmark, could you also include/tag me? I'm so curious.

[2019-11-11 21:58] pandrey-fr commented on #33793
My pleasure :)
I have not had time to start working on a fix yet but hopefully I will submit something this week (unless somebody else does it first!).

[2019-11-11 21:59] mathisc opened #34176 "tf.Identity messes determinism (initialization order changed?)"
### System information
- **OS Platform and Distribution** : Linux Ubuntu 16.04.6
- **TensorFlow installed from** : PIP (binary)
- **TensorFlow version**: tensorflow-gpu==1.14.0
- **Python version**: 2.7.12
- **GPU model and memory**: No relevant : the issue occurs both on GPU and CPU
- **Exact command to reproduce**: `python test_script.py` (test_script is provided in the source code section below

[2019-11-11 22:05] deven-amd commented on #34082
@meteorcloudy

all of the runtime failures we were observing in the ROCm CSB tests go away when I remove the `-Wl,--gc-sections` from the link options.

I will file a PR shortly to have this change upstreamed.

We can close out this issue, if you feel this is an acceptable solution.

[2019-11-11 22:12] gowthamkpr commented on #34165
As you can see from the [source code](https://github.com/tensorflow/tensorflow/blob/590d6eef7e91a6a7392c8ffffb7b58f2e0c8bc6b/tensorflow/python/keras/backend.py#L2104) tf.keras.backend.sqrt clips the input value to zero if its less than 0 and to infinity if its equal to infinity as shown by the function [here](https://github.com/tensorflow/tensorflow/blob/590d6eef7e91a6a7392c8ffffb7b58f2e0c8bc6b/te

[2019-11-11 22:15] #33549 closed

[2019-11-11 22:16] #33891 closed

[2019-11-11 22:16] ymodak commented on #33891
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-11 22:16] deven-amd commented on #34082
Filed https://github.com/tensorflow/tensorflow/pull/34177

[2019-11-11 22:20] superbobry commented on #33748
Hi @aravic, we have recently released a subset of tf.contrib.framework.nest functions as a separate [library](http://pypi.org/project/dm-tree). It does not have exactly the same API as nest but it is fairly close, and most of the functions [are there](http://tree.readthedocs.io).

[2019-11-11 22:22] jvishnuvardhan commented on #32608
@bbb00437 Can you check the with the new converter with an experimental flag `cvt.experimental_new_converter = True`. I ran your code with the experimental flag and works without any issue. Please take a look at the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/82af131c5bb275fbe683458510ca833a/untitled635.ipynb).

I am closing the issue as it was resolved with the new converter.

[2019-11-11 22:22] #32608 closed

[2019-11-11 22:23] ilaripih commented on #34174
I can confirm this. All I did was re-export the SavedModel from the official pretrained checkpoint with a fixed `[None, 640, 640, 3]` input size and performance with batch size 4 went from 5.67 FPS to 0.22 FPS on a GTX 1060. So 25x slower for me. My setup:

* Tensorflow 1.14.0 (CPU version) for exporting the SavedModel
* Pipeline config: https://github.com/tensorflow/models/blob/master/research/ob

[2019-11-11 22:26] ymodak commented on #34009
```trainable``` attribute in BatchNormalization disables the updates of the batch statistics
https://www.tensorflow.org/api_docs/python/tf/keras/layers/BatchNormalization#__init__

[2019-11-11 22:30] kmkolasinski opened #34178 "Bug with tf.function and complex variables"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-11-11 22:30] aravic commented on #33748
This is great. Thank you!

[2019-11-11 22:34] superbobry commented on #33748
Feel free to close the issue and open any new ones on the tree [issue tracker](https://github.com/deepmind/tree/issues).

[2019-11-11 22:38] jvishnuvardhan commented on #32693
@alokmalik I have updated your code with an `experimental_new_convereter`, then everything works as expected. Please take a look at the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/4db22181f32e76dd28619c33ba79c10d/untitled636.ipynb). Thanks!

[code]

I am closing this issue as it was resolved by the new converter. Please feel free to reopen if the issue persists again. Thanks!

[2019-11-11 22:38] #32693 closed

[2019-11-11 22:41] #33748 closed

[2019-11-11 22:48] rchao commented on #29481
Recently we have submitted a few fixes related to using batch norm layer with tf.distribute strategies. If you could try with the nightly and let us know if it's fixed it'd be great.

[2019-11-11 23:03] ymodak commented on #34094
What version of cudnn are you using?
Kill all other python processes that may be running.
Try setting ```TF_FORCE_GPU_ALLOW_GROWTH=true``` environment variable and execute the script again.

[2019-11-11 23:10] sanjoy commented on #34095
This probably means something in the TF binary you built is creating an op names `"int"`.  The error is thrown from `ValidateOpDef` in op_def_util.cc, can you please get a stack trace from that method when it decides to return the error?  You can use `CurrentStackTrace` to get the current stack trace.

[2019-11-11 23:22] sanjoy commented on #27083
Hi Konstantin,

Are you still interested in getting this fixed?  If yes, it might be best if you send a PR (and assign it to me for review) since that way I don't have to figure out how to reproduce your build environment.

[2019-11-11 23:35] #32715 closed

[2019-11-11 23:45] saikumarGadde commented on #34165
But developers usually expect the tensorflow to return nan when tf.sqrt( negative numbers) is done, as thats the norm unlike returning 0, which defies the name of the function. Or, I would request you to update the documentation just to avoid the confusion as tensorflow is moving towards keras.

[2019-11-11 23:49] gunan commented on #33374
I will reopen this issue until python 3.8 nightlies are out.

[2019-11-11 23:51] jvishnuvardhan commented on #27880
Can you share a dummy_data so that we can run and reproduce the issue? Thanks!

[2019-11-11 23:59] ymodak commented on #34043
Closing this issue since its resolved with tf-nightly. Thanks!

[2019-11-11 23:59] #34043 closed

[2019-11-12 00:19] #29439 closed

[2019-11-12 00:26] angerson commented on #33375
@cheshire Could this be a bug or miscommunication with the `pxtas` path loading code? It looks like the ptxas binary is supposed to load from the preferred CUDA root directory, but for these users it loads from the wrong place. Some of the logic is here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/stream_executor/gpu/asm_compiler.cc, e.g.:

[code]

[2019-11-12 00:33] gowthamkpr commented on #34154
The problem here is that if you don't wrap `normalize_with_moments` in `tf.keras.layers.Lambda`  here could be no differentiable path in the graph connecting input to output and thus the resulting error.

[2019-11-12 00:37] gowthamkpr commented on #34165
Sure @saikumarGadde

[2019-11-12 00:44] #34009 closed

[2019-11-12 00:48] jackd commented on #34154
@gowthamkpr one of the nicest things about `tf2` is that most ops don't require a `tf.keras.layers.Lambda` wrapper. If a path cannot be found connecting inputs to outputs an informative error should be raised in model construction, not during gradient computation. It also doesn't answer the question of what `Model.fit` is doing.

[2019-11-12 00:52] gowthamkpr commented on #33117
Closing this issue as it has been inactive for almost a week. Please add additional comments and we can open this issue again. Thanks!

[2019-11-12 00:52] #33117 closed

[2019-11-12 00:55] allenlavoie commented on #34093
@alextp does GradientTape have an owner other than you? I've looked at most of the code but am probably not going to be giving random issues the attention they deserve...

[2019-11-12 00:56] za13 commented on #33918
I don't see how I can specify the CUDA installed path when running `./configure`

As soon as I enter `./configure`, it shows

Please specify the location of python. [Default is /home/me/anaconda3/bin/python]:

Found possible Python library paths:
  /home/me/anaconda3/lib/python3.6/site-packages
Please input the desired Python library path to use.  Default is [/home/me/anaconda3/lib/python3.6/site-

[2019-11-12 01:18] deaputri commented on #34029
[code]

[2019-11-12 01:29] sanjoy commented on #24496
@nluehr do you understand why this issue only shows up on RTX?  Could it be because we have other applications using it as a display GPU concurrently with TensorFlow?

It is difficult for me to debug this directly because I don't have access to an RTX GPU.

[2019-11-12 01:34] jalilasadi commented on #33148
same problem here. did you find any solution?

[2019-11-12 01:47] horo2016 commented on #34032
how do we fix this  when i compile ?

[2019-11-12 02:00] lenny93 commented on #22803
I have the same issue when training with a GPU. When I train using the CPU it works in Tflite.

[2019-11-12 02:15] scanfyu commented on #34151
It works for me.Thanks.

[2019-11-12 02:15] #34151 closed

[2019-11-12 02:26] shazhongcheng commented on #34094
This is my cudnn `cudnn-10.0-windows10-x64-v7.6.0.64`,
And how to set the variable? I try `os.environ["TF_FORCE_GPU_ALLOW_GROWTH"]='true'` in my jupyter, but it still doen`t work. Can you tell me how to use it correctly?
![image](https://user-images.githubusercontent.com/15049049/68636488-9ab2bf80-0536-11ea-96e2-ae57f006df14.png)
The log information:
[code]

[2019-11-12 02:31] shazhongcheng commented on #34118
The strange things is if i try use the default params, like:
[code]
Just change the n_trees and max_depth, it will run fluently, so strange.

[2019-11-12 02:41] kweonwooj opened #34181 "transformer model for mobile crashes in iPhone XS, XR and 11 series"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-11-12 02:45] atlantiswqq commented on #31892
Has this problem been solved？I also encountered this problem. When I used python training and golang deployment, I reported the following error.
[code]
I can provide my training and loading code, as well as all version Numbers, if needed.

[2019-11-12 02:50] OverLordGoldDragon opened #34182 "Can't load optimizer weights after adding layer without parameters"
**MODEL A**:
[code]
**MODEL B**:
[code]
<hr>
The two have identical weight shapes - however, A's optimizer `weights` _cannot_ be loaded onto B, as B has a different build order (images & code below).

This is a tiny snippet of a much larger model which needs its `timesteps` parameter changed every X epochs, and `ZeroPadding1D` appears to _change layer build order_ whenever it's used; this doesn't

[2019-11-12 04:02] scm-ns opened #34183 "How to add custom ops to Tensorflow Lite Swift/ObjC ?"
I can't find any straight forwards docs on how to add a custom op to tensorflow lite, swift/objc. I see the docs for adding to the c++ lib, but it seems unclear how to add them to the swift pods?

Does anyone have any pointers?

[2019-11-12 04:09] tuanhanhdmprof opened #34184 "How to apply feature extraction in tensorflow (not use tf.keras)"
I want to apply feature extraction with pre-trained model (VGG16) by removing the last layer and replacing other FC layer (less classes).
I don't want to use tf.keras. How to deal it?
Help me!
Thanks a lot!

[2019-11-12 04:11] rryan commented on #6541
It's still an issue -- bad bot, @tensorflowbutler!

[2019-11-12 04:16] raziel commented on #31224
Hi.

Does the model convert if you don't set the quantization flag?
Meaning removing: converter.optimizations = [tf.lite.Optimize.OPTIMIZE_FOR_SIZE]

[2019-11-12 04:31] dynamicwebpaige commented on #21070
This symbol has been moved to `tf.data.experimental.AUTOTUNE`. Details about its implementation can be found in the [`tf.data` performance guide](https://www.tensorflow.org/guide/data_performance#pipelining).

Thanks for the suggestion! 😄

[2019-11-12 04:31] #21070 closed

[2019-11-12 04:45] Keyrainn commented on #34143
tested my frozen_inference.pb on object_detection_tutorial.ipynb and the inference is working fine.

![WhatsApp Image 2019-11-11 at 21 45 27](https://user-images.githubusercontent.com/18519104/68642815-4c0f2080-054a-11ea-9636-fac0b8c4cf21.jpeg)

[2019-11-12 05:06] ArtificialNotImbecile opened #34185 "TF-TRT optimized graph get wrong results when using batch size <=7"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2019-11-12 05:24] Leslie-Fang commented on #34091
@gowthamkpr Yes, 'bonus_tests' is defined in the file $tensorflow_root/tensorflow/core/kernels/BUILD
I am using master branch, commit-id: af019188adc704569b7cce51e50eba489af1a725
You can help to reproduce this issue if possible.

[2019-11-12 05:27] niteshcs113 commented on #8513
Using TensorFlow backend.
Traceback (most recent call last):
  File "<pyshell#2>", line 1, in <module>
    import keras
  File "C:\Users\pc\AppData\Local\Programs\Python\Python35\lib\site-packages\keras\__init__.py", line 3, in <module>
    from . import activations
  File "C:\Users\pc\AppData\Local\Programs\Python\Python35\lib\site-packages\keras\activations.py", line 3, in <module>
    from . im

[2019-11-12 05:48] ravikyram commented on #34153
@thijskooi
Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2019-11-12 05:54] dynamicwebpaige commented on #9775
Closing this issue, as `tf.contrib` is deprecated in TensorFlow 2.0, and has never been officially supported. Please reopen if the issue is still present in other TF RNN implementations.

[2019-11-12 05:54] #9775 closed

[2019-11-12 06:10] atlantiswqq opened #34186 "How to use golang to implement python's tf.train.Example().serializetostring."
I'm trying to  using the python training model, deploy services with golang. However, the following problems arise when using golang for prediction.

predict with python:
[code]
it works ok.

predict with golang
[code]

[code]

There is an error
[code]

i'm using `proto.MarshalTextString(&myExample)`  in golang,and using
`
example = tf.train.Example(features=tf.train.Features(feature=feature))
exa

[2019-11-12 06:20] vmrob commented on #24752
This dangling reference breaks configuration-agnostic Bazel queries (e.g. `bazel query`, not `bazel cquery`).

[2019-11-12 06:29] dynamicwebpaige commented on #13094
Closing, as this feature is outside the scope of TensorFlow Core and no longer relevant, from a research perspective. If I'm mistaken, please feel free to reopen and we can route to [TensorFlow Addons](https://www.github.com/tensorflow/addons). Thanks! 🙂

[2019-11-12 06:29] #13094 closed

[2019-11-12 06:32] dynamicwebpaige commented on #6847
Closing this issue, as `tf.extract_image_patches` is no longer supported in TensorFlow 2.0.

[2019-11-12 06:32] #6847 closed

[2019-11-12 06:33] gadagashwini commented on #34148
@karthikeyan-DS-BOT,
Please follow the steps mentioned below to install Tenosrflow using conda
# Set Up Anaconda Environments
conda create --name tf_2.0.0
# Activate the new Environment
source activate tf_2.0.0
#conda install tensorflow=2.0 python=3.7

Steps to install Tensorflow using PIP:
$pip install virtualenv
$virtualenv tf_2.0.0   # tf_2.0.0 is virtual env name
$source tf_2.0.0/bin/activate

[2019-11-12 06:38] dynamicwebpaige commented on #26378
Looping back on this issue - would it be possible to add a more informative error message detailing @marklakata's [explanation](https://github.com/tensorflow/tensorflow/issues/26378#issuecomment-486345435)?

@martinwicke

[2019-11-12 06:39] gadagashwini commented on #34156
@jessicadef, Please provide the complete standalone code replicate the reported issue. Thanks!

[2019-11-12 06:42] oanush commented on #34178
@kmkolasinski ,
please try using the latest ` tf-nightly 2.1.0.dev20191110 version-` `pip install tf-nightly` , issue seem to be fixed. Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/54566ac084555f5edb9aaf6adaf5301a/34178.ipynb) of colab.Thanks!

[2019-11-12 06:42] dynamicwebpaige commented on #14132
Closing out this issue, as `tf.contrib` is no longer supported in TF 2.0. For eager behavior, please refer to the documentation referenced above by @RasoulNik. Thank you! 🙂

[2019-11-12 06:42] #14132 closed

[2019-11-12 06:43] ravikyram commented on #34107
@jessica-santos

Looks like code is incomplete. Request you to provide complete code snippet to reproduce the issue in our environment. Thanks!

[2019-11-12 06:46] dynamicwebpaige commented on #14729
Later versions of TensorFlow feature a much more informative error message for the code sample above:

[code]

Closing out this issue - feel free to open, if mistaken. 🙂

[2019-11-12 06:46] #14729 closed

[2019-11-12 06:50] dynamicwebpaige commented on #17485
Closing out this issue, as `tf.contrib.image` has been deprecated as part of TensorFlow 2.0. If you run into similar snags with `tf.image.*` ops when using Windows with CUDA enabled, please feel free to open a new ticket. Thanks! 🙂

[2019-11-12 06:50] #17485 closed

[2019-11-12 07:01] Leslie-Fang commented on #34083
@wady101 you need to set the PYTHONPATH
`
export PYTHONPATH=$tensorflow_examples_root
`

[2019-11-12 07:15] ztz818 commented on #27416
thank you so much. I also want to ask you a question，When I deploy the model in this way on tf-serving，I find that every request takes hundreds of milliseconds，I don't think it's normal. Do you have any other methods other than your one? For example, use a layer of example to accept all feature columns？

[2019-11-12 07:24] gadagashwini commented on #34158
@seandaug, Please provide the complete code to reproduce the reported issue. Thanks!

[2019-11-12 07:26] ArtificialNotImbecile commented on #34185
It seems that `tf.image.combined_non_max_suppression()` is problematic after optimization, since if i change to batch size 1 and use `tf.image.non_max_suppression()` , the result is what I expected.

[2019-11-12 07:27] oanush commented on #34176
@mathisc ,
Issue replicating for TF 1.14 and TF 1.15. kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/8e4f0c1b45cac5b5cd15a203cffa2515/untitled30.ipynb) of colab. Thanks!

[2019-11-12 07:28] ravikyram commented on #34033
@WestbrookZero

Any updates please. Thanks!

[2019-11-12 07:29] wangye8899 commented on #23898
same issue,solved?

[2019-11-12 07:33] mimxrt commented on #33148
No sorry, still waiting for any help myself.

[2019-11-12 07:34] ravikyram commented on #33963
@congchan
Any updates on this issue please. Thanks!

[2019-11-12 07:35] dbonner commented on #34117
@gadagashwini
Here is the output as requested:
./configure
WARNING: --batch mode is deprecated. Please instead explicitly shut down your Bazel server using the command "bazel shutdown".
You have bazel 0.29.1 installed.
Please specify the location of python. [Default is /home/daniel/anaconda3/envs/tfgpu/bin/python]:

Found possible Python library paths:
  /home/daniel/anaconda3/envs/tfgpu/lib/pytho

[2019-11-12 07:37] ravikyram commented on #33903
@luvwinnie
Any update on this issue please. Thanks!

[2019-11-12 07:39] skyroam opened #34187 "SparseCategoricalAccuracy() & InvalidArgumentError"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Win10**
- TensorFlow version (use command below): **2.0.0**
- Python version: **3.7.5**

When I try to run the following code, an error occurs,
[code]
**Describe the current behavior**

The information is as follows:
---------------------------------------------------------------------------
InvalidArgumentError

[2019-11-12 07:39] ravikyram commented on #33929
@bloc97

Any update on this issue please. Thanks!

[2019-11-12 07:40] gadagashwini commented on #34174
@dave-andersen, can you try @ilaripih's workaround and let us know if that helps. Thanks!

[2019-11-12 07:54] atlantiswqq commented on #34186
i'm sorry,in fact,i need use `seq,err = proto.Marshal(&myExample)`
i got []byte in golang is
`[10 36 10 34 10 10 121 111 117 114 95 105 110 112 117 116 18 20 18 18 10 16 205 204 204 64 205 204 76 64 0 0 144 64 0 0 192 63]`
but got
`b'\n$\n"\n\nyour_input\x12\x14\x12\x12\n\x10\xcd\xcc\xcc@\xcd\xccL@\x00\x00\x90@\x00\x00\xc0?'` in python
then golang panic
[code]
So I think byte is different in golan

[2019-11-12 07:56] muzixizhu commented on #27008
is there any solutions now ? I am also facing the same problem

[2019-11-12 07:57] Icaro-Lima opened #34188 "TF2.0 GPU - Segmentation fault - Object Detection"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: Python 3.7.5
- CUDA/cuDNN version: 10.0.130/7.6.2
- GPU model and m

[2019-11-12 07:58] congchan commented on #33963
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**For example**
say I created a model with encoder + decoder, could `init_from_checkpoint` support loading encoder from

[2019-11-12 07:59] oanush commented on #34166
@ibarshai ,
Tensorflow 2.0 by default uses Eager-Execution. Hence Placeholders are not getting executed.
Just put this line to deactivate the eager execution :
**`tf.compat.v1.disable_eager_execution()`**
kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/67b6cb3d582e97284e75b06c2b657927/34166.ipynb) of colab for your reference.Thanks

[2019-11-12 08:03] WestbrookZero commented on #34033
I read the tensorflow lite website gpu delegate tutorial , I used android aar , implementation 'org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly' ，but there is still cpu increasing too much . if i used   implementation 'org.tensorflow:tensorflow-lite-gpu:2.0.0' ,  there is no cpu increasing , but can't recognize image .

[2019-11-12 08:05] gadagashwini commented on #33813
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-12 08:05] #33813 closed

[2019-11-12 08:09] muzixizhu opened #34189 "ValueError: Unknown layer: DenseFeatures for tensorflow2.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Y
- OS Platform

[2019-11-12 08:09] gadagashwini commented on #33669
Issue is replicating with Tensorflow 1.15.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/9b7726a8a9845100d2f8b18a9da47ed4/untitled252.ipynb). Thanks!

[2019-11-12 08:10] oanush commented on #34157
Issue replicating for the given code. Thanks!

[2019-11-12 08:10] muzixizhu commented on #34189
I also met the Error   Unknown layer: DenseFeatures for tensorflow2.0 in issue https://github.com/tensorflow/tensorflow/issues/27008, but i have not seen any solutions to this issue ,

[2019-11-12 08:12] ravikyram commented on #33963
@congchan

Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2019-11-12 08:12] ynsgnr commented on #33148
I changed my model from:
`        self.model = Sequential([
            Embedding(len(self.item_map), self.embed_dim, input_length = X.shape[1],mask_zeros=True),
            LSTM(self.lstm_out),
            Dense(len(self.item_map)-1),
        ])
`
to:
`        self.model = Sequential([
            Embedding(len(self.item_map), self.embed_dim, input_length = X.shape[1]),
            Masking(mask_v

[2019-11-12 08:13] gadagashwini commented on #33841
@devitnow15, Did you check the link provided. Thanks!

[2019-11-12 08:16] gadagashwini commented on #33901
@isaac-you, Closing the issue as it is not related to Tensorflow. Please feel free to reopen if it is Tensorflow issue. Thanks!

[2019-11-12 08:16] #33901 closed

[2019-11-12 08:31] gadagashwini commented on #33918
@za13,
Use CUDA 9.0 and cuDNN 7.
Please specify the path CUDA path in ./configure
[code]
Let us know how it progresses. Thanks!

[2019-11-12 08:32] zhangyi02 commented on #33669
@gadagashwini I tried TF2.0，it works just like the origin Keras. By the way, I'm using TF1.13.1. Maybe it's time change to TF2.0……

[2019-11-12 08:32] gadagashwini commented on #33937
@tomergt45, Did you try @ymodak's workaround to resolve this issue. Thanks!

[2019-11-12 08:34] PoloShock commented on #24496
@sanjoy I am running display on integrated gpu. No other apps on my single RTX gpu while running TensorFlow.

[2019-11-12 08:35] isaac-you commented on #33901
@gadagashwini  is there any function in tensorflow which can calculate massive OLS(linear regression) simultaneously in GPU? thank you .

[2019-11-12 08:37] congchan commented on #33963
@ravikyram  what it means for PR of use cases?

[2019-11-12 08:39] gadagashwini commented on #34142
@Anjaaaa, Is there a specific reason to use two different channels.
Please follow the steps mentioned below to install Tenosrflow using conda single channel.
Set Up Anaconda Environments
conda create --name tf_2.0.0
Activate the new Environment
source activate tf_2.0.0
Install Tf 2.0
conda install tensorflow=2.0 python=2.7
Let us know if it resolves your issue. Thanks!

[2019-11-12 08:44] atlantiswqq commented on #26596
[#34186 ](https://github.com/tensorflow/tensorflow/issues/34186)
i have the same problem.

[2019-11-12 08:44] sbj028 opened #34190 "TypeError: Parameter to MergeFrom() must be instance of same class: expected tensorboard.SummaryMetadata got tensorflow.SummaryMetadata."
Hey, I'm trying to use Hyperparameter tuning with the HParams Dashboard. Trying to follow the guidelines on https://www.tensorflow.org/tensorboard/hyperparameter_tuning_with_hparams
although I'm using Pytorch instead of a Keras model.

To start with I'm only focusing on one hyperparameter (lambda_L1), following the tutorial this is what I've got:

[code]
The `train_model()  ` is in Pytorch. I'm us

[2019-11-12 08:48] sbj028 commented on #34190
As an additional note:
I've also tried the following for tensorflow:
[code]
Which also gives me errors, but these complain that there's something wrong in `train_model(hparams)` which I know can't be the case since `train_model` works perfectly fine without the HyperParameter tuning.

[2019-11-12 08:56] sbushmanov opened #34191 "TF2.1 build from source failure"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: `No`
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: `Linux Ubuntu 18.0.4`
- **Python version tried**: `3.6/3.7`
- **gcc/g++**: `7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)`
- **TensorFlow installed from (source or binary)**: `source`
- **TensorFlow version (use com

[2019-11-12 08:58] kiranKayaDev commented on #25054
can anyone please tell me the  appropriate solution

[2019-11-12 09:05] Lumosis commented on #34064
@impjdi

Hi impjdi, I wonder which model you were using to test performance for different group sizes. I tested using different group sizes (on Adreno) on single op model, like add_1024x1024, but did not find large fluctuations. The inference time basically fluctuated with 2% range. Could you share some information?

[2019-11-12 09:05] ravikyram commented on #33963
@congchan
Is it possible to elaborate the reported feature request with a sample code ? or provide more information about feature request.Thanks!

[2019-11-12 09:16] gadagashwini commented on #34078
@yuqcraft, I changed the line `optimizer = tf.train.MomentumOptimizer('Momentum',0.001)`. It worked as expected. Can you check once and let me know if its still an error. Thanks!

[2019-11-12 09:20] atlantiswqq commented on #26596
i sloved

[2019-11-12 09:21] oanush commented on #34140
@saintthor ,
Can you please provide complete code so that we can reproduce the issue from our end?Thanks!

[2019-11-12 09:24] akuegel commented on #34091
The name of the tf_cc_tests rule is never used to create an executable. If you check the definition, it creates executable tests for each of the entries in srcs (their name derived from name of their source file). So you can for example run:
bazel --output_user_root=$build_dir test //tensorflow/core/kernels:adjust_contrast_op_test
(this is the first of the created tests from the bonus_tests target

[2019-11-12 09:27] jessicadef commented on #34156
We provided the two python scripts to be run from the two machines. The dataset is available [here](https://docs.aws.amazon.com/en_us/forecast/latest/dg/getting-started.html#gs-upload-data-to-s3). Thanks.
[workers.tar.gz](https://github.com/tensorflow/tensorflow/files/3835310/workers.tar.gz)

[2019-11-12 09:27] mandyclustar opened #34192 "Bug in function estimator_train when 'evaluator' included in TF_CONFIG"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-11-12 09:30] meteorcloudy commented on #34082
@deven-amd That's great! Thanks for fixing this, I'll help you import #34177 and look into enabling some tests for ROCm build to prevent regression like this.

[2019-11-12 09:35] oanush commented on #34029
@deaputri ,
When tried running the given code for` tf-nightly`, i got the following error. Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/8eda00767d8043f8415d7911c6eee738/34029.ipynb) of colab.Thanks!

[2019-11-12 09:35] jalilasadi commented on #33148
@ynsgnr if you are running on CPU then it works properly, the problem is when you run it on GPU. By the way, you do not use the Timedistirbuted layer in your code since this problem shows up when you use Timedistributed with LSTM.

[2019-11-12 09:39] saintthor commented on #34140
The above code is almost complete. See the follow code. I run it in google colab.
[code]

[2019-11-12 09:44] Leslie-Fang commented on #34091
@akuegel Thanks a lot and It explains clearly.

[2019-11-12 09:44] #34091 closed

[2019-11-12 09:47] oscarriddle opened #34193 "[TF-TRT] [Tensorflow1.14] [InceptionV3] INT8 Top1 accuracy has a big drop compared to original."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Nvidia NGC docker 19.10
- TensorFlow version (use command belo

[2019-11-12 09:49] durandg12 commented on #34068
@ravikyram
I have looked at your gist.
The error messages in your gist for tf2.0.0 are exactly the same as mine.
There is also a deprecation warning that I have too but that I hadn't copied in my first message because it didn't seem relevant.

For tf2.0.0-beta1 the error message is effectively different but it comes from the `compile` method because I call it without an `optimizer` argument. I hav

[2019-11-12 09:52] mandyclustar commented on #34192
Only r1.13 seems to have this problem

[2019-11-12 09:54] odinsbane commented on #33799
I recieved this error also when using tensorflow 1.13.2 + python 3.8 I am considering opening a separate issue.

[2019-11-12 09:56] danijar opened #34194 "tf.size() has no documentation"
https://www.tensorflow.org/api_docs/python/tf/size

Example: "Returns the number of elements in the tensor. It equals the length of the flattened tensor."

[2019-11-12 09:57] anilsathyan7 commented on #31784
Has anyone figure out how to atleast use [benchmark_tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark#tflite-model-benchmark-tool) with gpu-fp16 on android? When i use the option allow_fp16 with a model converted to fp16 by the above methods it shows many errors due to shapes of conv, depthwise connv and dequantize operators etc. Is there a sample model(pro

[2019-11-12 10:04] TomTorger commented on #30263
I am not sure this is directly related, but I also get the _'Skipping optimization due to error while loading function libraries: Invalid argument: Functions'_ message, and the bug appears to only affect RNN's.

The model trains just fine, however, when calling model.save(), only the initial configuration of the model is saved. That is, all biases are zero, and the weights maintain their original

[2019-11-12 10:05] #34082 closed

[2019-11-12 10:16] jalilasadi commented on #33148
@jvishnuvardhan, I tried your suggestion but it still produces the same error. I am new to GitHub , how to tell this problem to someone from TensorFlow? do they see our conversation ?

[2019-11-12 10:19] Yuhala opened #34195 "Problem with the Run API in C++"
Hello, I have a problem with the Run API in C++ with the following code:

[code]
I receive the following compilation error when I compile my project in bazel.
[code]
I use the latest version of tensorflow compiled with bazel. Would be glad if someone could give my hints on what the problem could be. Thanks.

[2019-11-12 10:20] mimxrt commented on #33148
In my experience and example the issue stems from the Masking + LSTM combination, not from the TimeDistributed layer. Please try the example in https://github.com/tensorflow/tensorflow/issues/33148#issuecomment-540472342 without it, i.e.

[code]
(change `return_sequences` to `False` and remove `TimeDistributed`).

You can also try to remove the Masking layer in the example above and the error will

[2019-11-12 10:22] Henje commented on #32350
To make it work I just replaced the check in cudnn_stub:

[code]

This works for me. I hoped you could implement a proper fix, because this seems like a hack.

[2019-11-12 10:28] mimxrt commented on #33202
Please, can anyone confirm this finding? What can I do to help resolve this? Thanks!

[2019-11-12 10:30] alokmalik commented on #32693
thanks @gargn @jvishnuvardhan , it's working now. I'll comment back if it doesn't work in mobile.

[2019-11-12 10:34] kiflowb777 commented on #33785
I tried to manually correct the shape of the custom layer by using the tf.reshape() or set_shape function after each use, but the summary of the model created in tf.keras differs from the one created in keras.

[2019-11-12 10:39] gadagashwini commented on #34019
@grewe, I tried to open the Zip file but i am unable to open it.
Please see the screenshot.
![Screenshot from 2019-11-12 15-36-48](https://user-images.githubusercontent.com/48476109/68664696-bfbf2680-0566-11ea-8055-8788e3252c34.png)
Thanks!

[2019-11-12 10:42] lightningrodsalesman commented on #9330
I've had a similar problem when using the online embedding projector (https://projector.tensorflow.org/).

I am uploading a vector file of 16-dimensional embeddings and a metadata file of labels, with one label per embedding. When more than 60289 rows are uploaded (say 60290), I receive the error

`Number of tensors (60290) do not match the number of lines in metadata (60289).`

This does not seem

[2019-11-12 10:51] ravikyram commented on #34068
@durandg12

Thanks for the detailed explanation. After adding `optimizer='adam'` in compile call i am able to reproduce the same error message in both  TF 2.0.0 and 2.0.0-beta1. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/17024d04ca0bc9a7e28cec4244715c7a/untitled355.ipynb).Thanks!

[2019-11-12 10:57] shkarupa-alex opened #34196 "Keras fails to combine predicted variable-sized sequences"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.1-

[2019-11-12 11:02] gadagashwini commented on #34183
@scm-ns, Please take a look at this [link](https://www.tensorflow.org/lite/guide/ops_custom). Thanks!

[2019-11-12 11:15] odinsbane opened #34197 "Building Tensorflow 1.13 for python 3.8 fails on nullptr conversion."
**System information**
- OS Platform and Distribution: Centos 7
- TensorFlow installed from : source
- TensorFlow version: 1.13.2
- Python version: 3.8.0
- Bazel version : 0.21.0
- GCC/Compiler version : gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39)
- CUDA/cuDNN version: 9.1/7.0
- GPU model and memory: 1080ti

**Describe the problem**

When attempting to build the tensorflow branch r1.13 targeting p

[2019-11-12 11:27] gadagashwini commented on #34187
Issue is replicating on colab with Tensorflow 2.0.0.
Please take a look at [gist](https://colab.sandbox.google.com/gist/gadagashwini/3f4e3f19e4399bc568213932499af2c0/untitled253.ipynb). Thanks!

[2019-11-12 11:38] superhg2012 opened #34198 "Not found: Op type not registered 'BatchMatMulV2'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- TensorFlow version (use command below): 1.13.1  (docker build inside)
- Docker  tensorrtserver:19.06-py3
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:  CUDA Version 10.

[2019-11-12 11:40] jalilasadi commented on #33148
but I have this model:
`        model=tf.keras.Sequential()
        embeding_layer=layers.Embedding(self.vocab_size,self.word_vector_dim,weights=[word_embeding_matrix],trainable=True,mask_zero=True)
        model.add(embeding_layer)
        model.add(layers.LSTM(50))
        model.add(layers.Dropout(0.5))
        model.add(layers.Dense(3,activation='softmax'))
        opt=tf.keras.optimizers.RMSpr

[2019-11-12 11:49] kgizdov commented on #27083
Newer versions solved it, so I don't particularly need a specific solution to this. Thanks.

[2019-11-12 11:49] #27083 closed

[2019-11-12 11:51] mimxrt commented on #33148
Interesting. Can you provide a complete example like mine so I can try your code as well?

[2019-11-12 11:52] gadagashwini commented on #34188
@Icaro-Lima, Its working fine on Colab. Can you check once and let us know. Thanks!

[2019-11-12 12:01] jalilasadi commented on #33148
the above example is a simple classifier, you can make a random dataset and feed the model with it, so you can see that it will work with no problem.
this is where the model does not work and produce an error while training :
``        model=tf.keras.Sequential()
        embeding_layer=layers.Embedding(self.vocab_size,self.word_vector_dim,weights=[word_embeding_matrix],trainable=False,mask_zero=Tr

[2019-11-12 12:05] wanfranck commented on #33605
Just ping on any update with this issue @impjdi :)

[2019-11-12 12:13] huaxiaozhong1 commented on #33778
### 4, A model was created.
***Thanks*** for [@rockyrhodes](https://github.com/rockyrhodes) taking care of the issue and [@dansitu](https://github.com/dansitu) handling it.

With surfing internet and my trials, the example model of "speech recognition",
trained by tensorflow/examples/speech_commands/***train.py***, can reach ***accuracy ~ 90%***.
But, if running the model on ***on SparkFun Edge bo

[2019-11-12 12:27] ilaripih commented on #34174
@gadagashwini I don't think I presented any workaround. Yes, the performance is fine when using the official saved_model.pb from download.tensorflow.org. But as soon as I export the model (which I have to do for any custom model) the performance with TF 1.15.0-gpu drops.

[2019-11-12 12:36] tensorflowbutler commented on #33717
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-12 12:49] congchan commented on #33963
OK, take the code snippet from https://github.com/google-research/bert/blob/cc7051dc592802f501e8a6f71f8fb3cf9de95dc9/run_classifier.py#L661
for examples:
is it possible to load a bert from the pre-trained bert ckp, and load a bi-lstm layer from another pre-trained ckp?

[2019-11-12 12:56] nlbutts commented on #34122
OK, I got it working on one of my computers. I uninstalled Bazel 0.29.1 and installed Bazel 0.26.1. Then I limited the amount of memory allowed to be used with this command:
`
bazel build --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" --local_ram_resources=8192 -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both -k //tensorflow/tools/pip_package:build_pip_package
`

[2019-11-12 12:56] #34122 closed

[2019-11-12 12:59] naturomics commented on #32889
Faced a similar issue. No more error raised using the solution given by @qlzh727. But my question is, how the below lines update the new state to self.states for the next batch? It looks like the `self.states` have never changed after initialized. Correct me if I'm wrong.

[code]

[2019-11-12 13:10] kpe opened #34199 "Named dictionary outputs in tf.keras.Model do not work"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): any
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.0.0
- Python version: 3.6.5

**Describe the current behavior**
Using a custom model with named outputs does not work in TF2.

**Describe the expected behavior**
While using tuples f

[2019-11-12 13:15] DenisUllmann opened #34200 "OutOfRangeError when training estimator with filter in the input_fn"
**System information**
- Have I written custom code: YES
- OS Platform and Distribution: WINDOWS 10, 64-bits
- TensorFlow installed from (source or binary): conda install -c anaconda tensorflow-gpu
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7.5
- CUDA/cuDNN version: from conda installation
- GPU model and memory: NVIDIA GE Force 730M, 4.8GB

**Describe the current behavior

[2019-11-12 13:51] jc-louis commented on #33009
Same issue with TF 2.0 stable
Solved with `tf.compat.v1.disable_eager_execution()`

[2019-11-12 13:53] hitlic commented on #32889
@naturomics  these lines do it.
[code]

[2019-11-12 13:54] aronatkins commented on #34100
@ravikyram - What specific additional information do you need?

We were trying to compile the protocol buffer definitions into Go source/packages using `protoc`. Unfortunately, not every `*.proto` file contains a `go_package` declaration. As a result, `protoc` code-generates Go files in two different directory hierarchies.

I've enumerated the three `*.proto` files that I needed to hand-patch and

[2019-11-12 14:20] StefReck opened #34201 "keras.backend.function with learning phase gives AttributeError"
I'm using the following script from the keras docu page to get the output of an intermediate layer in training phase:
[code]

Which throws this error:
[code]
Using this simple model:
[code]
If I use keras instead of tensorflow.keras, it works fine.

- TensorFlow version: 2.0.0
- Python version: 3.6.8
`

[2019-11-12 14:46] Flamefire commented on #14211
@angerson Can this please be reopened? This is a bug and a patch with a fix is available

[2019-11-12 15:11] georgesterpu commented on #33991
Hi @qlzh727
Just wanted to thank you for your great response. This is an interesting behaviour of tf.function that I was not aware of, so I learnt something new :)

Would you be able to help me with a high-level technical explanation ? I don't fully understand this yet, although it seems related to the specific implementation of tf.function.

[2019-11-12 15:12] seandaug commented on #34158
Here's a small example that illustrates the issue.
[code]

Example output when mask is used (note that `loss` and `mean_squared_error` differ):
[code]

Example output when no mask is used (note that `loss` and `mean_squared_error` match):
[code]

[2019-11-12 15:17] ricardo-0x07 commented on #31224
@raziel and @suharshs Yes conversions completes successfully when the quantization flag is not set

[2019-11-12 15:32] mathisc commented on #34176
Hi @oanush : in order to get the correct error in the notebook you'll need to change this line `unittest.main()` to `unittest.main(argv=['first-arg-is-ignored'], exit=False)` : [Here](https://colab.research.google.com/gist/mathisc/c57514d4931d68e3f48e0cea30d6bbb6/untitled30.ipynb#scrollTo=E-dIlChiWyUr)

[2019-11-12 15:47] naturomics opened #34203 "RuntimeError: `merge_call` called while defining a new graph or a tf.function -- Update non-trainable variable with assign under mirrored strategy scope and tf.function decorator"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-11-12 15:48] glrs commented on #24828
I got the same issue (TF2.0). It was working before so I got suspicious. I checked `nvidia-smi` and I realized the memory was full, even though I had stopped all my notebooks. I killed the process and it worked perfectly fine once again.

[2019-11-12 15:53] imarkiew commented on #26714
@jvishnuvardhan It seems that the change form `2.0.0b1` to `2.0.0` has helped. I don't see this issue anymore.

[2019-11-12 16:02] georgesterpu commented on #33690
Thanks again, @qlzh727

[2019-11-12 16:45] srjoglekar246 commented on #34143
Hey @Keyrainn , did you add `--add_postprocessing_op=true` to the command when you ran `export_tflite_ssd_graph.py`? If yes, could you paste that entire command? Looks like the .pb file you have exported doesn't have the exact structure the converter expects, so something might be off.

[2019-11-12 16:49] ori-6over6 commented on #33949
@gadagashwini yeah the permissions issue is solved when using the library you recommended, thanks!
We are currently working on integrating this library to work with our model

[2019-11-12 16:53] lowkick commented on #31040
Same here.
I've a sort of Unet with embedding. After embedding (linear layer) I reshape the tensor to square (16x16x162) and proceed.
I faced two problems, actually: one is addressed by https://github.com/tensorflow/tensorflow/issues/30124
but just changing the [None, 16, 16, 162] to [-1, 16, 16, 162] did the trick (as follows)

#x = tf.reshape(x, xsize)
# https://github.com/tensorflow/tensorflow/

[2019-11-12 16:53] Icaro-Lima commented on #34188
I tested a few times and without success, what worked for me was [that](https://github.com/tensorflow/tensorflow/issues/32261#issuecomment-531411532).

[2019-11-12 16:54] yuqcraft commented on #34078
@gadagashwini

When I changed to what you have: tf.train.MomentumOptimizer('Momentum',0.001) and I got this error:

UnimplementedError: Cast string to float is not supported
	 [[node Momentum_2/update_0/update_conv2d_12/kernel/Cast (defined at /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/framework/ops.py:1748) ]]

The codelab default tf version is 1.15.0. According to manual, I ch

[2019-11-12 16:55] Icaro-Lima commented on #32261
Thanks! It works here!

[2019-11-12 17:06] dbl001 commented on #33431
Same error with gcc-9
[code]

[2019-11-12 17:35] jessica-santos commented on #34107
The only thing missing was those two callbacks:
[code]

[2019-11-12 17:35] allenlavoie commented on #34093
@jaingaurav could you triage? I'm told the core team owns GradientTape.

[2019-11-12 17:36] za13 commented on #33918
when I tried CUDA 9.0 and cuDNN 7.0 as you suggested, it says `could not find any cuda.h matching version 9.0 in any subdirectory`

[2019-11-12 17:41] kmkolasinski commented on #34178
Thank you @oanush it works correctly with the latest version. This issue can be closed.

[2019-11-12 17:41] qlzh727 commented on #33991
Ah sorry, I made a typo in the original message:

So, in high level, tf.function will convert a python function into a tf graph, which will be used to execution. The conversion process is called "trace". During tracing, tf.function will check if there is any variable gets created. If that is the case, tf.function will trace the second time and make sure no other variable is created, as a verificat

[2019-11-12 17:43] qlzh727 commented on #33991
[code]

[2019-11-12 17:45] impjdi commented on #33605
@wanfranck

Oops, sorry; forgot about this issue.  Thanks for reminding me.

We have gotten this bug report (OUT OF MEMORY on Mali devices) with MediaPipe too =/ (I'm involved with both projects).  The current suspicion is that something is not stable with OpenGL contexts on Mali devices.  Does your stuff run without SSBO, the bare minimum `interpreter.run()` with just CPU tensors?  Is it only fai

[2019-11-12 17:47] impjdi commented on #34064
Yeah, I don't think we tweaked any ops like ADD.  IIRC we only investigated
in CONV & DWCONV.  Our paper that describes our investigation in workgroup
sizes is here: https://arxiv.org/abs/1907.01989

Of course, it may have changed since the paper; the paper was written in
April, we had someone else look at it since then, and there was some recent
submission around the workgroup size calculation.

[2019-11-12 17:49] gunan commented on #21255
I think the two missing pieces are:
1 - all "cu.cc" files need to be listed under the "gpu_srcs" attribute of the "tf_custom_op_library" rule.
2 - After adding your op, and creating the build rule, you will need to add the new BUILD rules you created to the dependencies of libtensorflow_cc.so

[2019-11-12 17:50] dexception commented on #26289
Release a timeline. So that we can adjust accordingly. Simply staying mum for 6 months is unacceptable. We also have jobs.

[2019-11-12 17:52] gunan commented on #31247
I think the problem is that you tried to download a new clang and use that to build TF.
I do not think we have tested that feature on macos.
@r4nt I think Ilya added this feature, but I do not know if he tested this on macos.
And I do not remember his github handle :(

[2019-11-12 17:57] aronatkins opened #34205 "C installation still suggests 1.14.0 download"
## URL(s) with the issue:

https://www.tensorflow.org/install/lang_c

## Description of issue (what needs changing):

The download instructions link to 1.14.0 libraries rather than 1.15.0; the 1.15.0 libraries appear to exist and 1.15.0 is a release according to https://github.com/tensorflow/tensorflow/releases

[2019-11-12 18:19] clementpoiret commented on #24496
I tried using that for tensorflow 2.0:
[code]

It fixes cudnn error on my rtx2080, but the training is as fast as my 1050Ti!

Adding

[code]
Didn't solve the issue, without allow_growth I'm getting the cudnn error, and anyway my RTX is only using something like 3Gb or memory.

Any idea ?

I tried
[code]
but cudnn is still throwing an error

[2019-11-12 18:23] jvishnuvardhan commented on #26714
@imarkiew Thanks for the confirmation. We will close this issue as it was resolved. Thanks!

[2019-11-12 18:23] #26714 closed

[2019-11-12 18:23] changy12 opened #34207 "Error in the document of tf.keras.layers.Dense"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/api_

[2019-11-12 18:25] jsimsa commented on #33202
I suspect the issue is that your input pipeline graph is too large which results in Python recusion depth exception. This issue is not unique to tf.data graphs and applies generally to TensorFlow graphs.

I believe you should be able to overcome your issue by avoiding reliance on `concatenate` and instead of:

[code]

do:

[code]

[2019-11-12 18:26] DBernardes commented on #32790
I found a solution at this link: https://blog.csdn.net/weixin_41663570/article/details/102512468

You just need to download the lost files and copy them to the tensorflow-core/ examples.

[2019-11-12 18:47] bloc97 commented on #33929
I didn't think that standalone code would be needed as this unexpected behavior should be instantly caught by a unit test. But here you go:

https://colab.research.google.com/drive/16gxaqBuY7NRYZaDqeV26yH7caLChTLY6

[2019-11-12 18:53] haozha111 commented on #34150
The model contains v1 control flow ops and tensorlist, which is not supported by our old converter.

Could you try to export the model in TF 2.0, and then try with our new converter (install the latest tf-nightly) and then add this:
converter.experimental_new_converter = True.

[2019-11-12 18:58] bloc97 commented on #33929
Just for completeness' sake, here's the same code but on Tensorflow 1.x:
https://colab.research.google.com/drive/1BylY2e43DLZRBkOdIDGJ_rBPDlbGo-Vm

[2019-11-12 19:17] ymodak commented on #34094
You need to update it from the terminal.
For jupyter notebook you may try this snippet at the top of your script;
[code]
Make sure you kill all other notebooks before executing the script.

[2019-11-12 19:22] jvishnuvardhan commented on #33669
@zhangyi02 I agree that the output from `TF1.x` doesn't look as good as the output from `TF2.0`. As `TF1.15` is the last version in `TF1.x` series, I don't think there is any more updates to that branch unless there is any security related issues.

If possible, I would suggest you to start using `TF2.0`. Please close the issue, if you don't have any further questions. Thanks!

[2019-11-12 19:25] m-nasiri commented on #29866
My script name was tensorboard.py, i changed the name of file to tb.py solved my problem.

[2019-11-12 19:36] jvishnuvardhan commented on #34185
@ArtificialNotImbecile Can you please try `TF1.15` and let us know whether it resolved or not. Thanks!

[2019-11-12 19:52] marboe123 commented on #32381
I have the same error while running a deep-learning Keras R-script with tensorflow 2.0 using a GTX 1060, on Windows 10.

I don't know my CUDA version.

I did used these steps to install Tensorflow-GPU which was running correct with the Jupyter example:

https://www.thehardwareguy.co.uk/install-tensorflow-gpu

After this:
I installed rstudio in the environment.
I installed Keras
I runned the deep l

[2019-11-12 20:10] marboe123 commented on #32381
If I am correct my CUDA version is 10.020. Pls see below:

[code]

[2019-11-12 20:19] ymodak commented on #34118
Since you are able to run the script successfully on reducing the no of trees and depth of your model, you may try limiting gpu memory usage for more large params.
You may try this snippet at the top of your script;
[code]

[2019-11-12 20:27] reedwm commented on #33435
@superhg2012, `enable_mixed_precision_graph_rewrite` will have no effect on SavedModels when served with TensorFlow Serving. The reason is that the function causes TensorFlow to rewrite the graph behind the scenes to use mixed precision, but the SavedModel will still be in float32.

In general, `enable_mixed_precision_graph_rewrite` is designed to be a training API (although it will work in infere

[2019-11-12 20:30] robieta commented on #31871
This should be fixed by https://github.com/tensorflow/tensorflow/commit/28d07261622a589b7f427756677c2178ccaca7fb. Can you check whether it resolves your issue?

[2019-11-12 20:34] mharradon commented on #27298
I found the name scope worked correctly if I additionally wrapped the `with tf.name_scope(...` with `with tensorflow.python.keras.backend.get_graph().as_default():`. This was sort of mirroring this line:

https://github.com/tensorflow/tensorflow/blob/6a603d8cf6df64cb9bd7bbac33245a02821cf198/tensorflow/python/keras/engine/base_layer.py#L580

My guess was that the name scopes were specific to eager

[2019-11-12 20:36] robieta commented on #30324
I'm going to close this since the original issue (growth from model creation) has been addressed as a known issue and now the thread is kind of drifting. We have also recently made a fix to the internals of TF that eliminates a leak when invoking model.predict many, many times. If you are still seeing issues with predict, feel free to open a new issue with a repro.. Thanks for all of the feedback.

[2019-11-12 20:36] #30324 closed

[2019-11-12 20:37] reedwm commented on #33884
In the colab, TF 2.0 is still being used instead of the nightly, despite installing tf-nightly-gpu. I am not familiar with colab so I am not sure why this is happening. The colab prints the version is 2.0.0, but the nightly version will look similar to to 2.1.0-dev20191023. I confirmed the issue does not occur in the TF nightlies by running outside colab.

The fix will be in TF 2.1, so you might w

[2019-11-12 20:37] #33884 closed

[2019-11-12 20:37] reedwm commented on #33884
I am not sure, but since this will be fixed in 2.1, I do not think it's worth investigating.

[2019-11-12 20:54] ymodak commented on #34152
Examples found in the [tensorflow/models](https://github.com/tensorflow/models/tree/master/samples/languages/java#tensorflow-for-java-examples) GitHub repository can be good starting point.
See https://github.com/tensorflow/models/tree/master/samples/languages/java/training

[2019-11-12 21:12] jvishnuvardhan commented on #30754
@BeWe11 Is this still an issue? As mentioned by @haozha111, I tried `converter.experimental_new_converter = True`  and your code runs without any error. Please take a look at the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/fd8f60999881add469b1713d2b715ac9/untitled638.ipynb).

Please close this issue if it was resolved for you. Thanks!

[2019-11-12 21:25] ymodak commented on #33958
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2019-11-12 21:25] #33958 closed

[2019-11-12 21:25] jdduke commented on #34033
The detection sample ships a quantized model, which isn't accelerated on the GPU. We'll likely be addressing this in a future update which has both float/quantized models in the sample.

Note that you should really try to avoid re-creating the Interpreter/Delegate for just a single inference call.  Please have a look at our detection example @ https://github.com/tensorflow/examples/blob/master/lit

[2019-11-12 21:25] #34033 closed

[2019-11-12 21:33] jvishnuvardhan commented on #33303
@shayantabatabaee Can you provide 'representative_dataset_gen`? I tried making a [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/1501dc688045f353b3f52bce8e44b686/untitled640.ipynb) with your code so that we can reproduce the issue. However, 'representative_dataset_gen` is missing. If you cannot provide that dataset, can you please create a simple standalone code to reproduce the issue.

[2019-11-12 21:34] ymodak commented on #33916
[Limiting gpu memory growth](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) ,switching to single tensorflow process (avoid multiple tf process that consume gpu memory) is a good practice in situations like these. I will close this issue since this resolves your issue. Thanks!

[2019-11-12 21:44] mdanatg commented on #33997
I think the temporary solution makes sense, but @fchollet would know for sure.

[2019-11-12 21:56] OverLordGoldDragon commented on #34182
Found a workaround, and a form of explanation; it isn't about `ZeroPadding1D`, but about there being an additional layer in one 'branch' and not the other - as revealed by `plot_model()`; see below.

Keras appears to build layers via _vertical traversal_ - note that the numbered layer graphs match exactly w/ `.summary()` ordering. Order change could still have occurred toward the end of the 'branc

[2019-11-12 22:06] jiayiliu commented on #32743
I got the same problem in native Ubuntu.  Reboot helps.

[2019-11-12 22:07] jvishnuvardhan commented on #31871
@robieta I can confirm that when I ran @KichangKim code with `tf-nightly`, code runs without any issue. Thanks!

[2019-11-12 22:11] kkimdev commented on #32276
Hi, sorry for the last response.  I just tried but couldn't reproduce.  Possibly it's already fixed.

https://colab.corp.google.com/drive/1-AN8UK9fdufKc_S94gq9e5SyITRvbYh7#scrollTo=W44iBKEPMIF8

[code]

Could you try tf-nightly to confirm? https://pypi.org/project/tf-nightly/

[2019-11-12 22:21] yhliang2018 commented on #28788
@yuanzhedong The issue should be fixed for all conv layers, and I cannot reproduce the error you mentioned by [running your code](https://colab.research.google.com/gist/yhliang2018/7eabaa3a107a063741e552dea3ac234c/verify-github-issue-28788-conv1d.ipynb).

[2019-11-12 22:21] KichangKim commented on #31871
I checked tf-nightly-gpu==2.1.0.dev20191112 and it worked correctly. Thanks.

[2019-11-12 22:21] #31871 closed

[2019-11-12 22:29] KichangKim commented on #28646
I found that tf-nightly-gpu==2.1.0.dev20191112 does not have this issue anymore. Thanks.

[2019-11-12 22:29] #28646 closed

[2019-11-12 22:29] kistora commented on #27646
This is a usefull link to integrate federated learning on android: https://vision-air.github.io/federated.html

[2019-11-12 22:34] cheshire commented on #33375
@angerson @DawyD TF does not read CUDA_HOME.
It is possible to check where asm_compiler looks by running with the environment variable `TF_CPP_VMODULE=asm_compiler=2`.
Basically at this point it will only look in the directory where CUDA is expected to be installed. I'm looking into feasibility/desirability of looking for ptxas under PATH, but as a workaround you can symlink ptxas into the directo

[2019-11-12 22:36] cheshire commented on #33375
Ah apologies, I've missed the message above stating the workaround.
At the moment we are considering two possible fixes: either read the PATH variable and look for ptxas there, or try to figure out ptxas location from the locations of loaded shared objects (notably, `libcudart`)

[2019-11-12 23:11] kkimdev commented on #32276
Public colab: https://colab.sandbox.google.com/gist/kkimdev/11ab2ccc36859092d4b2384fd7d0ecbe/memory-keeps-increasing-with-gradienttape-github-32276-public.ipynb#scrollTo=eACARpHcscHi

[code]

[2019-11-12 23:15] rjpower commented on #33787
Sorry for the delay -- yes -- I'll ask someone on the Keras/DS team to look into this and update the status on this issue.

[2019-11-12 23:16] HuzuniV2 commented on #33030
Will the fixes be added to the current release any time soon?

[2019-11-12 23:31] Pierrci opened #34210 "TFLiteConverter - GetOpWithOutput error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): `pip install tf-nightly`
- TensorFlow version (use command below): 2.1.0-dev20191111
- Python version: 3.6.8

**Describe the current behavior**
I'm trying

[2019-11-12 23:43] rchao commented on #33030
Thanks for checking in! We're still verifying the fix solves the issue and should have updates soon.

[2019-11-13 00:05] jdduke commented on #33634
OK, thanks for checking, there may be some tweaks we need to make in our build config to get this working (sadly we don't have exhaustive internal tests for Windows internally).

[2019-11-13 00:14] tsbertalan commented on #26270
@bharatnishant I think, actually, the documentation that needs this clarification first is that for the regular `tf.gradients` function. It does claim, from the very start, that it's for computing "symbolic derivatives of sum of `ys` w.r.t. `x` in `xs`." However, there appear to be cases in which this is not enforced, with confusing interactions between the presense of a batch dimension in either

[2019-11-13 00:17] jaingaurav commented on #34093
I believe this is resolved by https://github.com/tensorflow/tensorflow/pull/33912. I'll test it out and confirm.

[2019-11-13 00:25] #33702 closed

[2019-11-13 00:25] gunan commented on #33026
Building against cuda 10.1 is already supported. I am running continuous builds already and they are running just fine. Occasionally there has been issues, but we have fixed them.

We do not build the main packages as soon as they are out, because we want our prebuilt packages to "run on as many machines as possible, while still being performant". It is a subjective and difficult line. And it is k

[2019-11-13 00:30] gunan commented on #33266
This is an AVX issue.
The CPU you mentioned does not have AVX support.
Maybe you downloaded the previous package from anaconda (not built by us) and newer one through pip (built by us) and that may be the reason 1.14 worked.

But this is definitely caused by your CPU not having AVX instructions.
SSE4.2 and AVX are two separate instruction sets.

[2019-11-13 00:30] #33266 closed

[2019-11-13 00:37] huaxiaozhong1 commented on #33778
As for my ***"Remaining question"*** (see 4.5 above): ***"How could we reach the 'higher confidence accuracy'?"***, could you give us some guidance? Thanks!

[2019-11-13 01:09] Remember2018 commented on #15180
Hi experts, do you mean the `StagingArea` in `data_flow_ops` will be deprecated or not be recommended to use? Is it being replaced by another higher APIs? Thanks.

[2019-11-13 01:17] NaSed commented on #34043
I am facing with this issue. What is the solution? Using tf-nighty?

[2019-11-13 01:30] KichangKim commented on #28028
@robieta  Thanks for sample code. It clarifies how to train BatchNormalization layer by using GradientTape. But how about train_on_batch() and predict_on_batch() API? it doesn't have training parameter. In my understand, keras API (train, predict, evaluate and so on) handles training status internally (so it will be True while I running train_xx method) and I should not call set_learning_phase() m

[2019-11-13 01:40] yanndupis opened #34211 "No gradient defined error when training Sequential model restored from SavedModel with `tf.keras.models.load_model`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **macOS  10.15.1**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **No**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use comman

[2019-11-13 01:42] gowthamkpr commented on #33369
Clsoing this issue as it has been inactive for more than 14 days. Please add additional details and we can open this issue again

[2019-11-13 01:42] #33369 closed

[2019-11-13 01:44] #33669 closed

[2019-11-13 01:50] yuanzhedong commented on #28788
Interesting...I tried both my local env(ubuntu18.04 + rtx 2080) and ec2 instance(ubuntu16.04 + k80) and the error is still there, I use conda virtual env, not sure if that's the issue

[code]

[2019-11-13 01:56] naturomics commented on #34203
Closing. Solved after reading the doc and source code several times, hope the doc and example for tf.distribute will be improved.

When defining `self.record`, specify `synchronization` argument like this:
[code]
`ON_READ` synchronization allows to use assign/assign_sub/assign_add methods to update its value in a replica context.

[2019-11-13 01:56] #34203 closed

[2019-11-13 02:02] superhg2012 commented on #33435
@reedwm thanks a lot for kindly explaination. if I want to run inference with tf.float16 dtype.  savedmodel can not be used. Do you mean I can only run inference with  the checkpoint after training?

[2019-11-13 02:09] levicki commented on #33026
@gunan Thanks for the response.

You say "We do not build the main packages with latest cuda version support as soon as they are out", but CUDA 10.1 was out on **February 27th, 2019**.

In the meantime there were two binary compatible releases (10.1 update 1 and 10.1 update 2 released in August) which brought some important bugfixes and changes, including how CUDA DLLs are named, which compilers a

[2019-11-13 02:15] karllessard commented on #27999
Sorry @maziyarpanahi, I've just noticed your reply as well,

Unfortunately no. Afaik, only instances of `Tensor`, `Session` and `Graph` should be closed explicitly (or via `try-with-resources`) and could lead to memory leaks if they are left opened. I've found in the code where you take care of the tensors but didn't find how you close the session and graph... but those could remain opened for the

[2019-11-13 02:16] Safiullahmarwat commented on #33958
I think there is no such question on StackOveflow. I asked the question on the [forum ](https://stackoverflow.com/questions/58313035/how-to-reduce-the-number-of-kernels-filters-in-a-trained-model-in-tensorflow/58315394) but nobody answered me, thats why i requested for the feature. If you know any link toward such question, please let me know. Thank you 🥇

[2019-11-13 02:17] reedwm commented on #33435
Yes, if you want to run inference in float16 with `enable_mixed_precision_graph_rewrite`, you must use the checkpoint after training. You can still save a SavedModel, but the SavedModel will not use mixed precision.

There might be an alternative way of using float16 with SavedModel. @christisg @netfs, do either of you know if you can choose to run a grappler pass when serving a SavedModel? Or use

[2019-11-13 02:21] depthwise commented on #31784
And in 2.0 there's no `tf.lite.constants.FLOAT16` at all. And no indication where it went in the documentation.

[2019-11-13 02:24] gowthamkpr commented on #33484
@reedwm Can you PTAL?

[2019-11-13 02:29] chenicel commented on #34095
I printed the call stack. There is no op named "int" during compilation. This error occurs during tensorflow. Once the ortools dependency is removed, tensorflow works fine. I rely on ortools in my project. I don't know. How should this error be fixed?
[code]

[2019-11-13 02:32] shazhongcheng commented on #34094
## First
I only run one script, and try you method, but still turn out the same result:
Dosen`t my GPU memory is small? My GPU is GTX1060 6G, and my computer memory is 16G
[code]

The code:
[code]
The screenshot:
![image](https://user-images.githubusercontent.com/15049049/68727379-390a5800-05ff-11ea-9ddf-7e71a6c7ce00.png)

## Second
I try to cut down the batchsize form 256 to 10, but it still run

[2019-11-13 02:36] yuanzhedong commented on #28788
Not quite related, but do you know how to set GPU env for codelab? I changed the runtime to be GPU but seems the code is running on CPU?

![Screen Shot 2019-11-12 at 6 27 19 PM](https://user-images.githubusercontent.com/5069709/68728134-43830e00-057b-11ea-802a-b474c826a502.png)

[2019-11-13 02:41] RogueLogix opened #34213 "MultiWorkerMirroredStrategy distribution error BaseCollectiveExecutor::StartAbort Invalid argument: Lower bound check fail for input 1 from node Mkl2Tf/_30 to node scoped_allocator_concat_1_1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no-ish, [keras multi-worker mirrored example](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora Server 31
- TensorFlow installed from (source or binary): source (master branch, commit 73a341

[2019-11-13 02:42] shazhongcheng commented on #34118
Ok it`s work! Thank you!
The code:
[code]

[But in my other error](https://github.com/tensorflow/tensorflow/issues/34094), it doesn`t work.

[2019-11-13 02:49] zhoupeng commented on #32041
Hi @Zielasko , Thanks for your response. Sorry for late reply, I am not convenient to handle mail in time, because on a travel of RISC-V tech forum.
1)For the `.bss' will not fit in region `ram error:
Set the MEMORY.ram option with a larger value in the link script can fix.
The ram option is in the link script `tensorflow.git/tensorflow/lite/experimental/micro/tools/make/downloads/sifive_fe310_lib

[2019-11-13 03:00] depthwise commented on #31784
`tf.float16` works fine for the above. But there's no speedup at all. In fact the numbers are so close that I strongly suspect the model inference is actually done in fp32

[2019-11-13 03:22] oscarriddle commented on #34193
Close the thread due to incorrect method.

[2019-11-13 03:22] #34193 closed

[2019-11-13 03:36] #34118 closed

[2019-11-13 03:45] lsgrep commented on #24815
@saxenasaurabh PR has been merged.

[2019-11-13 04:04] BolunHan commented on #34029
same error, saving any recurrent model with dropout or recurrent_dropout will raise a error.

[2019-11-13 04:06] ucasiggcas opened #34214 "Could not create cudnn handle: CUDNN_STATUS_NOT_INITIALIZED"
**System information**
- OS Platform and Distribution ( Linux Ubuntu 16.04):
- TensorFlow installed from (pip):
- TensorFlow version: 1.14.0 gpu
- Python version: 3.6.4
- Installed using virtualenv? pip? also have anaconda
- CUDA/cuDNN version: cuda 10.0 ,cudnn how to know the version ?
- GPU model and memory:
GPU RTX 2080 10989MiB

[code]

any advice or suggestion will be appriciated.
Thx

[2019-11-13 05:08] saamkhya commented on #32982
This is not working on tensorflow 2.0.0 and keras 2.2.4-tf. I installed tensorflow 2 using conda and created a symbolic link with the tensorflow_core folder located under my environment, and changed the extraPath in vscode. However, after importing "from tensorflow import keras" when I am trying to do keras.datasets. I don't see any autocompletion or suggestion, as well as for other keras modules

[2019-11-13 05:32] akhil189 commented on #31870
Hi. Is the issue solved?
If yes, could someone tell me how to avoid INFO and WARNING messages in output?

[2019-11-13 05:42] ManiBlitz commented on #33545
@jacpy Can you please provide the solution you for for the problem? I am running into the same issue passing a Tensor for an Embedding layer to an LSTM. That would help me a lot in my researches. Thank you

[2019-11-13 05:43] mustfkeskin commented on #28524
I have same problem with you
I replace embedding layer with DataGenerator
It's a bit slow but it works fine at least

`data_generator = DataGenerator(clean_text_list, batch_size=batch_size, shuffle=False)
`
[code]

`import numpy as np
import keras

class DataGenerator(keras.utils.Sequence):
    'Generates data for Keras'
    def __init__(self,
                 texts,
                 batch_size=25

[2019-11-13 05:50] gunan commented on #33026
I understand your concern. But as I mentioned before, this is a subjective decision, which will result in a lot of people being unhappy whatever position we choose.
As majority of our github issues show that a lot of people have problems installing CUDA/nvidia drivers, we choose to update is as little as possible.

I am closing this issue, as the build on windows is now working, and the discussion

[2019-11-13 05:50] #33026 closed

[2019-11-13 05:57] yurnery commented on #30410
@abdou31 I got the same problem as you. In my case, I want to extract the image features before the fully connected layer by TFLite, and I will use the image feature to find some similar images. But the solutions what I found is all about Python and C++, I don't know how to get the feature by TFLite, did you solve it?

[2019-11-13 06:01] zh794390558 opened #34215 "build tf2.0 with gcc4.8.5"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
[code]

I change the std++14 to std++11 in tensorflow/.bazelrc, and compile with bazel build -s -c opt //tensorf

[2019-11-13 06:12] Tanmay-Kulkarni101 commented on #17353
Changing the way I created TF Records worked out for me. Have a look at the following code -

[code]

Make sure that the TF Records have the same keys as the ones shown above. This is due to the fact that the model that you use would be expecting keys similar to the ones above. I hope this helps.

Earlier, I had made use of the following, which did not work out-

[code]

As you observe, I had writ

[2019-11-13 06:14] oanush commented on #34200
@DenisUllmann ,
Thank you for reporting the issue, looks like the code given is incomplete can you please provide standalone code to reproduce the issue?
Also can you try reducing the `batch size `and see is if the error is not faced ?

[2019-11-13 06:35] deHsien commented on #33627
I had tried and it didn't work either.

[2019-11-13 06:35] IntegralWorks opened #34216 "Cmake issue with cuDNN; Docker container doesn't seem to have cuDNN?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlo

[2019-11-13 06:50] wei-v-wang commented on #33627
to test single thread please use "numactl" or "taskset" to confine the application (TF) to one core. And then set inter/intra op/OMP_NUM_THREADS to 1

[2019-11-13 06:58] bas-aarts commented on #34117
I've also not been able to compile TF from source for the last 4 days because of this.

[2019-11-13 07:06] KichangKim commented on #31870
@akhil189 It seems not fixed yet. Temporary workaround is that call `os.environ["TF_CPP_MIN_LOG_LEVEL"] = "2" ` before `import tensorflow as tf`, or manually set environment variable TF_CPP_MIN_LOG_LEVEL=2 before running your python script.
[code]

[2019-11-13 07:18] on-device-ai opened #34217 "Incorrect predictions occur when using a custom quantized model"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: STM32F746 Discovery kit
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):2.0.0

[2019-11-13 07:21] atlantiswqq commented on #34186
i sloved

[2019-11-13 07:21] #34186 closed

[2019-11-13 07:24] freedomtan commented on #34031
@shauheen links were in previous comments already.

[2019-11-13 08:10] deaputri commented on #34029
@BolunHan i can save the model just using dropout. would u try?

[2019-11-13 08:11] gadagashwini commented on #34189
@muzixizhu, I tried replicating the issue on colab with Tf 2.0 but got a different error. Please take a look at colab gist [here](https://colab.sandbox.google.com/gist/gadagashwini/31c284ef598a07e9d96b734d7e3a81c3/untitled256.ipynb).
Thanks!

[2019-11-13 08:14] gadagashwini commented on #34192
@mandyclustar, Please provide the complete code to reproduce the reported issue here. Thanks!

[2019-11-13 08:15] deaputri commented on #34029
@oanush i'm using `tf-nightly==2.1.0-dev20191104` by using `!pip install tf-nightly==2.1.0-dev20191104`

[2019-11-13 08:18] oanush commented on #34198
@superhg2012 ,
Can you share a standalone code to reproduce the error reported here?Thanks!

[2019-11-13 08:20] ravikyram commented on #34199
@kpe

I tried reproducing the issue in colab with TF 2.0 . I am seeing the below error message.
`AttributeError: 'str' object has no attribute 'dtype'` . Is this the expected behavior?. Thanks!

[2019-11-13 08:22] muzixizhu commented on #34189
change your code for my_input_fn()

  if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe))
    ds = ds.batch(batch_size)

it should be:
if shuffle:
ds = ds.shuffle(buffer_size=len(dataframe))
ds = ds.batch(batch_size)

At 2019-11-13 16:17:54, "gadagashwini" <notifications@github.com> wrote:

@muzixizhu, I tried replicating the issue on colab with Tf 2.0 but got a different error. Please tak

[2019-11-13 08:23] muzixizhu commented on #34189
sorry for my paste, the original code for df_to_dataset() is
if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe))
ds = ds.batch(batch_size)
return ds

[2019-11-13 08:24] muzixizhu commented on #34189
sorry for my paste, the original code for df_to_dataset() is
if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe))
ds = ds.batch(batch_size)
return ds

[2019-11-13 08:26] gadagashwini commented on #34201
Issue  is replicating with Tensorflow 2.0.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/ca116dc97ea159632f759757e5c235a9/untitled257.ipynb). Thanks!

[2019-11-13 08:30] oanush commented on #34190
@sbj028 ,
Thank you for reporting the issue, can you please share the complete code to reproduce the error reported here?
I also see that there is no issue faced in colab running on 2.0alpha version. Please try using latest  `tf-2.0` or` tf -nightly `version and check if the issue is being faced. Thanks!

[2019-11-13 08:34] ravikyram commented on #34196
I have tried on colab with TF version 2.0 ,2.1.0-dev20191111 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/19ccefa635122accffea177617bfc459/untitled358.ipynb). Thanks!

[2019-11-13 08:38] BolunHan commented on #34029
@deaputri I just figure out that if you call
`model.save("some_path_not_ended_with.h5.model") `
adding dropout or recurrent_dropout will cause a error.
however, if your given file path ended with '.h5', everything works just fine.

[2019-11-13 08:43] jomoengineer opened #34219 "STM32F7-Disco Hello World example fails to build"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
NAME="Ubuntu"
VERSION="18.04.3 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.3 LTS"
VERSION_ID="18.04"

- TensorFlow installed from (source or binary): Source
- TensorFlow version: Latest
- Python version: 2.7.15+
- Installed using virtualenv? pip? conda?: No, git
- Bazel version (if compili

[2019-11-13 08:47] Anjaaaa commented on #34142
As I said, I want to install it in combination with `root`,`rootpy`, and `root-numpy` and there is no channel that combines all of them. I also tried installing everything from `conda-forge` and add what's missing using `pip` but no success.

[2019-11-13 08:47] deaputri commented on #34029
@BolunHan actually i want to save the model as SavedModel. As the tensorflow documentation on [here](https://www.tensorflow.org/guide/saved_model), the code is `tf.saved_model.save(pretrained_model, "/tmp/mobilenet/1/")`

[2019-11-13 08:48] oanush commented on #34178
Closing since issue is resolved,Thanks!

[2019-11-13 08:48] #34178 closed

[2019-11-13 08:50] oanush commented on #34090
@emailweixu ,
Can you please try using the nightly version as the issue is fixed in the latest version? kindly close the issue if its resolved!

[2019-11-13 08:51] wanfranck commented on #33605
@impjdi

Yes, everything works perfectly with CPU tensors and start failing on GPU tensors via SSBO.
Separately from my problem here we found out there are some problems with sync methods (glFenseSync e.g.) on Mali GPU. Maybe it related to the problem as well, but we are not sure.

[2019-11-13 09:00] ori-6over6 commented on #33949
@gadagashwini Hey, we are trying to convert our pb model to a tflite model.
Our model is frozen. Is it possible to convert it?

[2019-11-13 09:00] BolunHan commented on #34029
@deaputri thx. I will give it a try.
I was using tf.keras to build my recurrent network
`model = tf.keras.Model(inputs=inputs, outputs=outputs)
model.save("given_file_path")`
save model using tf.keras will cause the problem.
I didn't test `tf.saved_model.save()` method

[2019-11-13 09:13] mimxrt commented on #33202
Thank you @jsimsa, I can confirm the error is resolved by this change. So, can I assume the implementation in TF-2.0 is fundamentally different? Because running the exact same code snippet in TF-2.0 does work just fine. Anyway, closing this issue as the error is fixed by your solution. Thanks again!

[2019-11-13 09:13] #33202 closed

[2019-11-13 09:15] deaputri commented on #34029
@BolunHan There are lots model type we can use to save. This tensor [doc](https://www.tensorflow.org/tutorials/keras/save_and_load) may help you.

[2019-11-13 09:52] ravikyram commented on #34088
@canesqui

Can you please go through the below [link](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/SparseCategoricalAccuracy) and see if it helps you.Thanks!

[2019-11-13 10:18] ravikyram commented on #34211
@yanndupis

I have tried on colab with TF version 2.0 and i am not seeing any error message. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/d301ea4c8d4f311e7047e2161df2576d/untitled360.ipynb).Thanks!

[2019-11-13 10:27] csachs commented on #30355
Hi, this is a regression in TF Keras. In standalone Keras, it was fixed by https://github.com/keras-team/keras/pull/6035 .

And it seems to be a duplicate of https://github.com/tensorflow/tensorflow/issues/32023 .

The workaround in user code is to copy the list at call time, e.g. by changing above example to:
[code]

The fix for TF would be to copy the list at call time of the layer object, to pr

[2019-11-13 10:30] N0ciple commented on #33375
Thanks for your answer @cheshire.
Very sorry if the following question looks dumb to you but I tried to run a simple job preceded by `export TF_CPP_VMODULE=asm_compiler=2` and I did not saw any additional ligne in the logs refering to the path the asm compiler was looking at.
Could you be more specific on how to do that ?

[2019-11-13 10:31] chris881 commented on #34115
thanks a lot . i will double check the code.

[2019-11-13 10:31] #34115 closed

[2019-11-13 10:37] gadagashwini commented on #33949
@ori-6over6, Here is the [link](https://www.tensorflow.org/lite/convert/python_api) for Tensorflow lite converter.
Thanks!

[2019-11-13 10:39] jtrautmann commented on #17411
I also got this problem. I'm using `python2`. Downgrading to the CPU 1.5 version helped.

[2019-11-13 10:44] HuizhenShu commented on #23898
Using tensorflow serving to deploy metagraphdef proto does not have this issue

[2019-11-13 10:46] vishalpentakota commented on #27079
Even after doing that, I get the same error!!
Have a look at it.

rsml@rsml-01:~/darkflow$ pip uninstall tensorflow_estimator
Uninstalling tensorflow-estimator-2.0.0:
  Would remove:
    /home/rsml/anaconda3/envs/darkflow-env/lib/python3.6/site-packages/tensorflow_estimator-2.0.0.dist-info/*
    /home/rsml/anaconda3/envs/darkflow-env/lib/python3.6/site-packages/tensorflow_estimator/*
Proceed (y/n)

[2019-11-13 10:53] pandrey-fr commented on #34207
Hi,

Thank you for your submission; I believe however that this is more of an issue with the understanding of how the docs are formatted rather than an actual issue with their content.

`input_shape` is one of the default keyword arguments inherited from the parent `Layer` class (just as `dtype` for example), which is why it is not explicitly documented for `Dense` class.

As in most documentation

[2019-11-13 10:56] gadagashwini commented on #33705
Closing issue as it is not related to Tensorflow. Please feel free to reopen if this issue is from Tensorflow. Thanks!

[2019-11-13 10:56] #33705 closed

[2019-11-13 11:10] xgzeng opened #34221 "Got different result if train Keras model eagerly"
**Problem**

I got unexpected result while trying to train a simple Keras model in eagerly mode (so I can debug).  The problem is reproducible on local machine and Colab.

**Describe the current behavior**
   Same keras model trained in eager mode, but got different result compared to non-eager mode.
   The model didn't convergent.

**Describe the expected behavior**
   Result should not depend on

[2019-11-13 11:15] ydxt opened #34222 "ubuntu cuda10.1 build error. Linking of rule '//tensorflow/python:gen_logging_ops_py_wrappers_cc' failed (Exit 1)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Ubuntu 18.04
- TensorFlow installed from (source or binary):
- TensorFlow version:  v2.

[2019-11-13 11:27] DenisUllmann commented on #34200
@oanush ,
Please find bellow a standalone code with `tensorflow_datasets` that reproduces the same error with filtering, and that works fine without filtering (removing `.filter(lambda x: x['label'] == 0)`). If I put `batch size` to 1, the same error raises.

[code]

Result without filtering:
[code]

With filtering:
[code]

[2019-11-13 11:34] qbeer opened #34224 "Rejection resampling with multi-label output"
### Description

I was reading the about the experimental rejection sampling method and I was wondering. What if I have multi-label binary classes? E.g. [1, 0, ,0, 1, 0, 0, 0, 0, 0, 0]. If I want to even the distribution of each label with `target_dist=[0.1] * 10 ` what is the expected behaviour?

#### URL(s) with the issue: [Rejection resampling Docs](https://www.tensorflow.org/api_docs/python/tf

[2019-11-13 11:38] #31276 closed

[2019-11-13 11:46] akhil189 commented on #31870
@KichangKim Thank you for providing the workaround. But, I am using google colab and it's not working in that. The 'INFO' and 'WARNING' messages are still being shown in the output.

[2019-11-13 12:10] ori-6over6 commented on #33949
@gadagashwini Thanks for the quick response!
We looked over the documentation (actually preferred the command line tool over the python api but who cares (; ). At first we couldn't convert the model because apparently [Tensorflow 2 converter doesn't support frozen models graphs](https://www.tensorflow.org/lite/convert/python_api#formats_supported_by_tfliteconverter), so we had to use Tensorflow 1

[2019-11-13 12:25] jianhuaxiao opened #34228 "TFLite_Detection_PostProcess"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-11-13 12:30] MachineJeff opened #34229 "after graph_transforms with pb file , something went error"
## Enviroment
**GPU Type**: Tesla T4
**Nvidia Driver Version**: 418.87.01
**CUDA Version**: 10.1.243
**CUDNN Version**: 7.6.3
**Python Version**: 3.7.4
**TensorFlow Version**: 1.14.1
**Bazel Version**: 0.24.1
**Operating System Version**: Ubuntu 16.04.6 LTS (GNU/Linux 4.4.0-142-generic x86_64)

## Tools

**graph_transforms**
It's a toolkit in tensorflow original code (tensorflow/tools/graph_transf

[2019-11-13 12:33] tensorflowbutler commented on #33780
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-13 12:33] tensorflowbutler commented on #33828
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-13 12:33] tensorflowbutler commented on #33815
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-13 12:58] Frank17 commented on #22448
[code]

This code can reproduce this issue.

[2019-11-13 13:09] HBiSoft opened #34230 "Android - Posenet is slow/laggy"
**System information**
- I'm using the posenet example
- Samsung J7 Pro running Android 9

**Describe the current behavior**
The preview is slow/laggy. The interpreter takes on avarage 300ms when using GPU and 400ms when using CPU

**Describe the expected behavior**
The preview should display the frames smoothly

**Code to reproduce the issue**
I'm running the posenet example application

**Other

[2019-11-13 13:09] lucify123 opened #34231 "@tf.function slower the GPU performance?"
import time
    import tensorflow as tf
    @tf.function #Commenting out this line makes a huge difference in GPU performance
    def measure(x, steps):
      tf.matmul(x, x)
      start = time.time()
      for i in range(steps):
        x = tf.matmul(x, x)
      end = time.time()
      return end - start

    shape = (1000, 1000)
    steps = 2000
    #print("Time to multiply a {} matrix by itself

[2019-11-13 13:32] MarkDaoust commented on #17191
Hi everyone,

I think this is fixed now, old versions of keras.applications has a custom [activatiomn funciton there](https://github.com/keras-team/keras-applications/blob/1.0.1/keras_applications/mobilenet.py#L77).

But now [the code](https://github.com/keras-team/keras-applications/blob/master/keras_applications/mobilenet.py#L361) uses [layers.ReLU](https://www.tensorflow.org/api_docs/python/tf/

[2019-11-13 13:44] wady101 commented on #34083
@Leslie-Fang sorry, what is $tensorflow_examples_root? Couldn't find any mention of env variable online.

 Also should I set this before building from source or after?

[2019-11-13 13:59] jedakiah13 commented on #34152
Thank you but this is a very simple example.
For example if I follow
https://github.com/tensorflow/hub/blob/580847f6613fdf0b0d7911d8811c136df3e9404a/examples/image_retraining/retrain.py#L721

as an example for retraining an image recognition model, I should take the bottleneck and create a new training layer on top, I can't seem to do this in Java, perhaps I'm wrong but from what I've read elsewhe

[2019-11-13 14:15] psnbbgy opened #34232 "use tensorflow inference on CPU and get error "undefined symbol: _ZN10tensorflow10DEVICE_CPUE""
I use tensorflow to inference lstm crf model on CPU, and I compile a lib use tensorflow C++ API, depend on tensorflow source code.
my compile environment is GCC 4.8.5, tensorflow 1.12.0, bazel 0.15.0

when I load the so lib, it report an error: undefined symbol: _ZN10tensorflow10DEVICE_CPUE, anybody knows why? or if I must provide more information?

[2019-11-13 14:33] alanchiao commented on #31902
@akarmi, @MohamedNourArm: is there an effort to adding deepspeech quantized support? If so, it'd be worth creating a specific issue for that, which includes pointers to the original TF model variants.
It'd be a clear and impactful way to contribute.

It's great that you specifically mentioned DeepSpeech as motivating this unpack int8 support. In general, it's more meaningful to create an issue bas

[2019-11-13 15:11] #34148 closed

[2019-11-13 15:15] cheshire commented on #33375
@N0ciple `TF_CPP_VMODULE` simply states "print log messages with the file of a given name at a given verbosity level".
The file is called `asm_compiler` in a nightly version. If you have an earlier version, it was called `ptxas_utils`.

[2019-11-13 15:15] jpviguerasguillen opened #34233 "Bad performance in Keras: It diverges if sample_weight is not added to train_in_batch but sample_weight_mode="temporal" is in Model.compile."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab, with the latest packages.
- TensorFlow installed from (source or binary): Provided by Google Colab.
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7.x

**Describe the current behav

[2019-11-13 15:31] dubesar commented on #34207
[code]

[2019-11-13 15:54] impjdi commented on #33605
@wanfranck

Ah, okay.  In that case, please check that you maintain the same `GLContext` for the SSBO as the one for the inference.  Assume you create an SSBO with ID 42 and you tell an input / output tensor that ID 42 is used for that tensor.  Inference starts and will look up an SSBO of ID 42, but if that's a different context, it won't be able to find the object and will throw an `OUT_OF_MEMORY

[2019-11-13 15:55] georgesterpu opened #34234 "Checkpoint managers overwrite not owned checkpoints"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Manjaro linux testing
- TensorFlow installed from: pypi binary
- TensorFlow version (use command below): v1.12.1-16854-g6778662 2.1.0-dev20191028
- Python version: 3.7.4

**Describe the current behavior**
A `tf.train.

[2019-11-13 15:58] liyi193328 commented on #14232
Is there any updates?

[2019-11-13 15:59] keotic commented on #34112
Seeing the same issue on TF2.0 , it only happens when using a GPU and a @tf.functions (graph mode), Everything seems to run ok when running on eager mode, or CPU only

[2019-11-13 16:16] saxenasaurabh commented on #24815
@lsgrep fantastic! Thank you!

[2019-11-13 16:16] #24815 closed

[2019-11-13 16:19] michaelmunie commented on #24496
I also get this error working in the tensorflow 1.15.0-py3-gpu Docker image (Ubuntu 18.04) with two Titan V GPUs  (@sanjoy)  - not RTXs.  However, this error only seems to occur for me on my GPU0 which has Xorg and gnome-shell using GPU0 memory while GPU1 only has python using GPU mem and does not throw this error.  The error is also unfortunately intermittent -- sometimes I will be able to remove

[2019-11-13 16:27] ksasi opened #34235 "tf.keras.backend.gradients error in eager mode"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-11-13 16:39] shamoji101 commented on #29529
Why don't you use tf.ragged.map_flat_values?  raggedTensor.values has very long range flat value which is normal tensor.

[2019-11-13 16:48] mwin76 commented on #29161
Hi,

Thanks.
Using config.gpu_options.allow_growth works however if you clear the session and reload the model it gets stuck

[code]

[2019-11-13 17:12] jvishnuvardhan commented on #32937
@sgambient This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-11-13 17:12] #32937 closed

[2019-11-13 17:15] emailweixu commented on #34090
Thanks

[2019-11-13 17:15] #34090 closed

[2019-11-13 17:16] robieta commented on #28028
That is correct: the `Model.*_on_batch` methods set the learning phase for you.

[2019-11-13 17:27] RazaGR opened #34237 "Failed on runtime - image not found"
**System information**
- macOS Mojave 10.14.6
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2
- Python version: 3.7
- Installed using virtualenv? no
- Bazel version (if compiling from source): bazel release 0.29.1
- GCC/Compiler version (if compiling from source):g++ -v = Apple clang version 11.0.0 (clang-1100.0.33.12)
- CUDA/cuDNN version: none
- GPU model and memor

[2019-11-13 17:28] shamoji101 commented on #27170
@jcrousse
in tf-nightly-build:2.1.0.dev20191111 & tf-nightly-gpu-build:2.1.0.dev20191111,
your code has no problem. It works.

[2019-11-13 17:39] yhliang2018 commented on #28788
@yuanzhedong can you open another thread for your second question? This issue has been closed for a while. We try to resolve one issue in one thread, and this will help other people with similar problems. Thanks!

[2019-11-13 17:42] abdou31 commented on #30410
I change to CoreML with iPhone.
I did not find a solution for tensorflow lite

[2019-11-13 17:43] haozha111 commented on #34210
Hi,

It's possible that the model doesn't have an output node named "Identity". Can you use netron (https://lutzroeder.github.io/netron/) to visualize this graph and see what's the output?

(I'm guessing this is just a tensor naming issue, if not I can take a further look)

[2019-11-13 17:49] jaingaurav commented on #32908
@ouy160: With the fixed tutorial is there any further action needed for this issue or should we close it?

[2019-11-13 17:51] qcraftai opened #34238 "Tensorflow failed to find 'TRTEngineOp' when building pip-package and libtensorflow_cc.so"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.14
- Python version: 3.6
- Installed using virtualenv? pip? conda?: Build from source
- Bazel version (if compiling from sou

[2019-11-13 17:57] olk commented on #33809
- using MirroredStrategy with one GPU `strategy = tf.distribute.MirroredStrategy(["/gpu:1"]) ` results in an error:

- the code doubles the `batch_size` if `MirroredStrategy` is used (two GPUsare available)
- gast was downgraded to 0.2.2 before testing
- I think standardloss is not applicable because CTC is required

[2019-11-13 18:01] olk commented on #33809
- the entire training code is available at [ki-ocr-spreadsheet](https://github.com/olk/ki-ocr-spreadsheet)
- I don't think that it will run in colab

[2019-11-13 18:05] guptapriya commented on #33809
@olk thank you for trying out the other things.
Regarding batch size - I meant can you try with 2 GPUs but without doubling the batch size. This would potentially give worse scaling, but should more faithfully match training on 1 GPU in terms of convergence.

[2019-11-13 18:08] benbarsdell commented on #34117
I see the same errors too.

[2019-11-13 19:13] pw2393 opened #34242 "Eager context seems contradicting the distributed TensorFlow concept"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from (source or binary): binary whl
- TensorFlow version (use command below): `tensorflow-gpu==2.0.0`
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0 / 7.6.4
- GPU model and memory: GeForce GTX 1080 Ti

**Describe the current behavior**
[code]

We refer the above code as `a.py`.
STEP 1: we launch it by
[c

[2019-11-13 19:21] jvishnuvardhan commented on #34113
@LucasSloan Can you please share a simple standalone code to reproduce the issue? Also, did you notice any similar  issue with GPU? Thanks!

[2019-11-13 19:37] Pierrci commented on #34210
Thank you for your answer. I tried to visualize the graph using Netron without success, either with a `h5` or `SavedModel` version.

However, as you can see in [this cell of the notebook](https://colab.research.google.com/drive/16kWs2ji8xrgjSuLftXknDqEh2VixDR4R#scrollTo=94UoamBP17VO&line=4&uniqifier=1), it seems there are two outputs `Identity` and `Identity_1`. Also visible in this Tensorboard gr

[2019-11-13 19:48] yuanzhedong commented on #28788
Sure, thank you for your help!

[2019-11-13 20:32] olk commented on #33809
@guptapriya:
Using the same batch-size for MirroredStrategy as for OneDeviceStrategy doesn't change the behaviour.

Why does  MirroredStrategy crash if only one GPU has been configured?

Maybe you already noticed that the loss starts at much higher values for MirroredStrategy as it does for OneDeviceStrategy?!

[2019-11-13 20:45] OverLordGoldDragon commented on #34144
Started a [Colab](https://colab.research.google.com/drive/15jM5kLvd5YBn-dU5_u0cBNStHO9dMuGj) to organize performance tests. Noticed bit late that your Numpy implementation is off - see "Changelog". Lastly, note the very last optimistic result; as I suspected, `Eager` is a culprit - will continue investigating later. The notebook is editable - feel free to make changes.

[2019-11-13 20:46] pooyadavoodi commented on #34117
I also see the same problem. I tried bazel 0.27.1 and 0.27.2. It seems related to protobuf. What version of protobuf is TF using?

[2019-11-13 21:02] OverLordGoldDragon commented on #34144
Ran some tests - code & results below. Noticed bit late that your Numpy implementation is off - see "Changelog". Lastly, note the very last optimistic result; as I suspected, `Eager` is a culprit - will continue investigating later.

<hr>

**Results**:

[code]

<hr>

**Testing code**:

[code]

<hr>

**Changelog**:
   - Defined self.optimizer to eliminate redundant redefinitions w/ overheads
   - R

[2019-11-13 21:26] dhinkris commented on #22399
TF2.0

[2019-11-13 21:26] dhinkris commented on #22399
I am using TF2.0

[2019-11-13 21:35] brando90 commented on #26928
was this solved?

[2019-11-13 22:02] mihaimaruseac commented on #22399
Please open a new issue filling the entire template.

I am going to close this one so there won't be confusion w.r.t. versions used.

[2019-11-13 22:02] #22399 closed

[2019-11-13 22:06] ymodak commented on #34147
```model.fit``` and ```model.evaluate```methods offer verbose functionality. You may use them with a variety of accelerators cpu, gpu and tpu.
You may set the log level in the program by;
[code]

[2019-11-13 22:06] bono1567 commented on #34141
I want to modify the PR

[2019-11-13 22:07] bono1567 commented on #34141
There is an unnecessary file in there.

[2019-11-13 22:26] rprater commented on #33183
I am having the same issue I believe that the issue is Clang V11. Rather than revert back to Clang V6 I would have liked to replace a line in the file linecache.py but that file doesn't seem to exist on my local env.

[2019-11-13 23:08] pw2393 opened #34250 "Collective AllGather Fails on Polymorphic Shapes"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from (source or binary): binary whl
- TensorFlow version (use command below): `tensorflow-gpu==2.0.0`
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0 / 7.6.4
- GPU model and memory: GeForce GTX 1080 Ti

**Describe the current behavior**
[code]

In one session, if one runs the above graph second time with

[2019-11-13 23:10] jvishnuvardhan commented on #34128
@PN12 Can you please share a simple standalone code to reproduce the issue? Thanks!

[2019-11-13 23:13] tbarbugli commented on #33183
On two different laptops (both running the Catalina)

## works
Python 3.7.5 (default, Nov  1 2019, 02:16:23)
[Clang 11.0.0 (clang-1100.0.33.8)] on darwin

## does not work
Python 3.7.3 (default, Oct 11 2019, 19:39:43)
[Clang 11.0.0 (clang-1100.0.33.12)] on darwin

[2019-11-13 23:22] jdduke commented on #33557
Which version of TensorFlow Lite are you using? In theory, it should now be possible (in the latest nightly) to apply the GPU delegate even if there are unresolved ops.

[2019-11-13 23:23] yanndupis commented on #34211
Hello @ravikyram , thank you very much for your quick response.

I should have been more precise. You will get the error, if you load the model in a different script (where the model hasn't been explicitly defined) then start training it. In the gist, the entire code is in the same Colab. You should be able to reproduce if you have two different Colabs.

In the first Colab you run:
[code]

and in

[2019-11-13 23:24] elvinjgalarza commented on #34147
Hi Yasir, thanks for answering!

Doesn't model.fit and model.evaluate require a model that takes numpy arrays as a dataset only?

[2019-11-13 23:28] plastilinko commented on #22794
installed in conda environment and works well on win10 + gtx1060 (nb version)
tensorflow 1.13.1
tensorflow-gpu 1.13.1
tensorflow-datasets 1.0.1
keras 2.2.3
cudatoolkit 9.0
cudnn 7.6.4
python 3.6.7

[2019-11-13 23:40] jvishnuvardhan commented on #34068
@durandg12 Thanks for the detailed report. As of now there is no solution available. There are some workarounds suggested [here](https://github.com/tensorflow/tensorflow/issues/32612). There is a PR https://github.com/tensorflow/tensorflow/pull/33229 to resolve an issue similar to this issue. Please follow the PR and test it once it is approved and released in `tf-nightly`. Thanks!

[2019-11-13 23:49] mihaimaruseac commented on #34117
Issue message is misleading, error is not undefined reference to tensorflow::register_op but

[code]

In any case, can you try building again from a fresh clone and attach the entire log of `bazel build -s --config=opt --config=cuda --config=v2 --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" //tensorflow/tools/pip_package:build_pip_package &> log.txt`

[2019-11-13 23:51] chkothe opened #34253 "When the result of tf.saved_model.load goes out of scope, it invalidates models that are still in-scope"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, a trivial change to a stock example
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- TensorFlow installed from (source or binary): binary via pip
- TensorFlow version (use command below): tensorflow-gpu 2.0.0
- Python version: 3.6.6
- CUDA/cuDNN v

[2019-11-13 23:52] jvishnuvardhan commented on #30185
@an1018 Can you please share a standalone code to reproduce the issue. Thanks!

[2019-11-14 00:07] pw2393 commented on #34250
Hi @tensorflower, I opened a pull request there #34251 for this issue. If someone would like to review it, I'd very appreciate it  😄

[2019-11-14 00:51] gdj0nes opened #34255 "Soft Placement Fails with Estimator Multi-worker CollectiveAllReduceStrategy"
The cpu device appears to be ignored when `SparseSoftmaxCrossEntropyWithLogits/assert_equal/Assert/Assert/data_0` is found to be incompatible with the GPU

- Container: tensorflow/tensorflow:2.0.0-gpu-py3
- Cuda: 10
- Env: Kubeflow (tfjob)

[code]

Logs:
[code]

[2019-11-14 00:52] jvishnuvardhan commented on #30864
@sajagkc11 Can you try to use `converter.experimental_new_converter = True` and let us know whether it resolved for you or not.

You could check the solution provided [here](https://github.com/tensorflow/tensorflow/issues/32693) and [here](https://github.com/tensorflow/tensorflow/issues/32608). Thanks!

[2019-11-14 01:23] pooyadavoodi commented on #34117
The first error I see is this one:

[code]

[2019-11-14 01:29] Leslie-Fang commented on #34083
@wady101 I suspect it's because of all tensorflow version.
Did you write your benchmark or models by yourself?

[2019-11-14 01:43] sharkdtu opened #34256 "tensorflow java 1.15.0 failed to load native lib"
**Describe the current behavior**
[code]

**Describe the expected behavior**
no exceptions

[2019-11-14 01:47] samuelmat19 commented on #31852
I also have this bug. Anyone gets proper solution or fixes yet?

[2019-11-14 01:49] sharkdtu commented on #34256
I found the tensorflow jar does not include `org/tensorflow/native/linux-x86_64/libtensorflow_framework.so`, but include `org/tensorflow/native/linux-x86_64/libtensorflow_framework.so.1`, so it failed to copy `libtensorflow_framework.so` to tmp directory when loading the native library.

[2019-11-14 01:56] cliffwoolley commented on #33238
@MattConley and I are seeing this as well when profiling MobileNet on Jetson Xavier.

[2019-11-14 02:02] naturomics commented on #33516
Update again, this is really a serous bug! With the pipeline in my previous comment, and batch size = 1024, the RAM was eat slowly from ~20% at the start of training to `out of memory` after one night training (total memory is 48G). So,
1. with batch size = 1 for each gpus, the bug is triggered and runs out the memory after several training step.
2. with batch size > 1 for each gpus, the memory in

[2019-11-14 03:02] jsimsa commented on #33516
@rachellim could you please take a look?

[2019-11-14 03:06] Julius-ZCJ opened #34257 "Check failed: dim_size >= 1 (0 vs. 1)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 12.0

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

2019-11-14 02:55:54.079426: I tensorflow/contrib/lite/toco/

[2019-11-14 03:25] liyue201 commented on #14358
i used v1.5.0 and met this.

Op type not registered 'FertileStatsResourceHandleOp' in binary running on 74b5282c732f.

[2019-11-14 03:30] TakeByEarn opened #34260 "ValueError when computing Jacobian in eager mode"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>
I'm trying to add jacobian regularization to our loss function for reduce the intputs of sensitivity.
but in tensorflow(

[2019-11-14 03:54] tysm commented on #32539
Hi, I just had the same problem following the getting started with [maven](https://www.tensorflow.org/install/lang_java) and changing from 1.14 to 1.15 solved.

[2019-11-14 03:56] EKami commented on #24496
I'm having the same issue as @clementpoiret with TF 2.0 installed via conda. By using the `allow_growth` flag the issue disappears but that also makes the training very very slow, slower than what I had on TF 1.x... Eager first uh?

[2019-11-14 04:32] sharkdtu commented on #34256
`NativeLibrary.getMajorVersionNumber` returns `null` when libtensorflow and libtensorflow_jni jar were shaded to my jar

[2019-11-14 04:51] gadagashwini commented on #34148
@karthikeyan-DS-BOT, Glad to know that it worked.

[2019-11-14 04:53] gadagashwini commented on #33622
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-14 04:53] #33622 closed

[2019-11-14 04:55] yurnery commented on #30410
@abdou31 So your project dose not support Android right now? Or you use other ML framework on Android? And could you tell me which API in CoreML can extract the features, thanks.

[2019-11-14 05:03] gadagashwini commented on #33950
@mattreex, Provide the sample code snippet to replicate the issue. Thanks!

[2019-11-14 05:04] gadagashwini commented on #33994
@widiakha, Provide the information asked in the template. Thanks!

[2019-11-14 05:05] gadagashwini commented on #33995
@marcojulioarg,Any update on complete standalone code. Thanks!

[2019-11-14 05:06] gadagashwini commented on #34013
@Gus-Ghedim, Provide more information about the issue. Thanks!

[2019-11-14 05:09] gadagashwini commented on #34078
Issue is replicating on colab with Tf 1.15.0. Thanks!

[2019-11-14 05:13] gadagashwini commented on #34142
@Anjaaaa,
Sorry, but we don't provide support for issues with the conda environment.
Please follow the instructions mentioned in this [link](https://www.tensorflow.org/install/pip). Thanks!

[2019-11-14 05:20] wady101 commented on #34083
No @Leslie-Fang , I am trying to get a piece of code to run https://github.com/layog/Accurate-Binary-Convolution-Network

Still, what do I keep PYTHONPATH? Can you echo it on your pc and show it here? Thanks

[2019-11-14 05:22] gadagashwini commented on #34188
@Icaro-Lima, Glad it worked. Are you happy to close if no issue persists. Thanks!

[2019-11-14 05:24] ravikyram commented on #34231
I have tried on colab with TF version 2.0  and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/9513fe1081ff6b3149d6ed6ba9c0e25c/untitled366.ipynb). Thanks!

[2019-11-14 05:28] ravikyram commented on #34228
@jianhuaxiao

Can you please elaborate about the issue & the context.Will it be possible to provide related code.Thanks!

[2019-11-14 05:47] andirkh commented on #31932
I'm still having the same issue. I tried using pyarrow 0.14.0 and the newest 0.15.1. those pyarrow didn't works in my catalina

[2019-11-14 05:55] ravikyram commented on #34221
@xgzeng
Can you try running the code in latest -`tf-nightly 2.1.0.dev20191111` version? Issue seemed to be fixed, kindly find the [gist ](https://colab.sandbox.google.com/gist/ravikyram/c69588901a7fb90c7e0c22f61ff74eb4/untitled367.ipynb)for the same.Thanks!

[2019-11-14 05:59] akanyaani commented on #31852
Hi, @samuelmat19  You can still train your model on distributed GPU, I am able to train using ReduceOp.SUM only but after that, you have to divide by global batch size you will get the same value which ReduceOp.mean would give.

[code]

[2019-11-14 06:03] gadagashwini commented on #34232
@psnbbgy, Please provide more information about the issue.
Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submission template, because it is reall

[2019-11-14 06:08] oanush commented on #34235
@ksasi ,
Thank you for reporting the issue,
can you please provide the code to reproduce the issue reported here from our side?
Also,Tensorflow 2.0 by default uses Eager-Execution.please deactivate the eager execution :
`tf.compat.v1.disable_eager_execution()`
Find this SO [link](https://stackoverflow.com/questions/56478454/in-tensorflow-2-0-with-eager-execution-how-to-compute-the-gradients-of-a-n

[2019-11-14 06:13] gadagashwini commented on #34189
Issue is replicating on colab with Tensorflow 2.0.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/409e82576732d06e907d0042b070dae9/untitled256.ipynb). Thanks!

[2019-11-14 06:18] ravikyram commented on #34216
Can you try using bazel instead of cmake and let us know how it progresses. Thanks!

[2019-11-14 06:46] ravikyram commented on #34211
I have tried on jupyter notebook with TF version 2.0 and was able to reproduce the issue.Please, find the files in attachment.Thanks!
[error.tar.gz](https://github.com/tensorflow/tensorflow/files/3844965/error.tar.gz)

[2019-11-14 06:46] gadagashwini commented on #34234
@georgesterpu, In the `tf.train.CheckpointManager()`, change the value of `max_to_keep=5`.
max_to_keep shows the number of checkpoints to keep. Please refer this [link](https://www.tensorflow.org/api_docs/python/tf/train/CheckpointManager) for more information. Thanks!

[2019-11-14 06:51] honeytidy opened #34262 "train with muliple gpu get error: Out of range: End of sequence"
I am training with tensorflow2.0 with multiple GPU. It got the following errors. But if I use only one GPU it ran without any error. My tensorflow version is `tensorflow-gpu-2.0.0`:
[code]

**and this is my code:**
[code]

[2019-11-14 06:54] gadagashwini commented on #34158
I could replicate the issue with Tf 2.0.
Please take a look at the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/740c0fd036e17fe505996957b79d5cbb/untitled255.ipynb). Thanks!

[2019-11-14 06:57] pranphy commented on #33561
@gunan [20616](https://github.com/grpc/grpc/pull/20616) is this the release that was blocking?

[2019-11-14 07:13] Keyrainn commented on #34143
currently stuck with issue #7640

[2019-11-14 07:14] Keyrainn commented on #34143
Currently stuck with [Invoking ptxas not supported on Windows #7640](https://github.com/tensorflow/models/issues/7640)

[2019-11-14 07:21] dubesar commented on #33974
@MarkDaoust  this issue can be closed now as it's solved

[2019-11-14 07:27] shartoo opened #34264 "API function changed from Keras 2.3.1 to Keras 2.4.2?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version : `TF 2.0.0 stable + Keras 2.4.2 `(A )and `1.13.1 +Keras 2.3.1` (B)
- Are y

[2019-11-14 07:28] kscorpio commented on #34001
the latest version of tensorflow-android is 1.13.1

[2019-11-14 07:43] abdou31 commented on #30410
I'm a Phd student and the project is to validate the end of the studies.
So the project requires a mobile app ( for iphone or for android ).
For that reason I have changed to Iphone ( CoreML), also I have found a implementation that does not needed a many changes.

[2019-11-14 07:52] changy12 commented on #34207
I C.
Thank U very much.

[2019-11-14 07:52] i-tolmachev opened #34266 "Cannot convert models to the *.tflite format with GRU/GRUCells"
Despite the declared support (https://www.tensorflow.org/lite/convert/rnn), it seems, it is not possible to convert the existing TF 2.0 model with GRU/GRUCells to the *.tflite format.
Where is the problem?

Here is the sample:
from tensorflow.keras.layers import *
from tensorflow.keras import Sequential
import numpy as np
import tensorflow as tf

model = Sequential()
model.add(Input((10, 1)))
#mod

[2019-11-14 07:53] manjotpahwa commented on #6341
Do not install the google package since that will not solve your problem. You might have to uninstall it since it conflicts with the protobuf namespace. It's from a some other developer and not Google official!

Name: google
Version: 2.0.2
Summary: Python bindings to the Google search engine.
Home-page: http://breakingcode.wordpress.com/
Author: Mario Vilas
Author-email: mvilas@gmail.com
License:

[2019-11-14 07:54] zihaolucky commented on #26200
@tianq01 what's your size of the output space? and beam_width?

[2019-11-14 08:18] pxxgogo commented on #21001
I met the same problem before. I think you should make sure that the parameters of the metrics_fn should be the tensors with the same shape of labels (i.e. the first dimension of these tensors should be the batch size).

[2019-11-14 08:29] Devinmathew commented on #30191
pip install wrapt --upgrade --ignore-installed
pip install tensorflow

This worked for me too in my mac，Thanks.

[2019-11-14 08:39] wanfranck commented on #33605
@impjdi

Hi again! Everything's OK with maintaining GLContext, we definitely create SSBO in the same context, where the inference executed.

[2019-11-14 08:53] oanush commented on #34214
@ucasiggcas ,
Can you please go through this [link](https://stackoverflow.com/questions/43147983/could-not-create-cudnn-handle-cudnn-status-internal-error) and let us know if it was useful?Thanks!

[2019-11-14 08:54] Davidvdrm commented on #34098
@jaingaurav I compiled from source using the experimental download clang option in the configuration and this resulted in the same error. In order to test even further i will also try compiling CUDA with clang and then compiling tensorflow with this. I am quite new to linux and compiler (thanks physics education) so it might take me a while to get through everything. If you have any pointers or a

[2019-11-14 09:02] ucasiggcas commented on #34266
pls use LSTM

[2019-11-14 09:08] ucasiggcas commented on #34214
`sudo rm -rf ~/.nv/`
this is no use

[2019-11-14 09:17] jaingaurav commented on #34098
@Davidvdrm: The main option needed to be set is the "Do you want to use clang as CUDA compiler?" to be set when running `./configure`. See https://www.tensorflow.org/install/source#sample_session for an example session. Note in the example it is using nvcc instead of clang for the CUDA compiler, which is NOT what you want.

[2019-11-14 09:21] oanush commented on #34200
Issue replicating with given code for tf-2.0, kindly find the [gist](https://colab.sandbox.google.com/drive/14oludAJaWJD1YM6H_Tb7YbaJtB3_0nVh#scrollTo=eDPlqeEMazJe) colab.Thanks!

[2019-11-14 09:26] oanush commented on #33828
@RyanPeking ,
any update on the issue ?Thanks!

[2019-11-14 09:27] oanush commented on #33815
@huake ,
any update on the issue ?Thanks!

[2019-11-14 09:34] ravikyram commented on #34107
Looks like some undefined variables like `train_df, valid_df` are there in the code. Request you to provide the same . Thanks!

[2019-11-14 09:35] ChaiKnight opened #34267 "Invoking Interpreter from C API fails with exit code 1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 and Android

[2019-11-14 09:50] naturomics commented on #30855
Same issue, look like the mirrored strategy only works on multi-GPUs when the `fn` in strategy.experimental_run_v2(fn) is wrapped with tf.function, eager mode or only wrap with tf.function inside `fn`   will fail. Finally I got the meaning of this warning:

1. Is there any work on the eager mode support ? If not, we should issue a feature require.
2. Is this behavior also apply to TPU or any other

[2019-11-14 09:57] georgesterpu commented on #34234
Hi @gadagashwini
Thanks for the reply.
My issue is slightly different. I think that `manager2` should not erase checkpoints written by `manager`, or in general by any other checkpoint manager.

The aim is to keep up to N checkpoints from a set of M managers writing K checkpoints each, where K >> N. You cannot control this with the `max_to_keep` parameter alone, unless it is set to a very large val

[2019-11-14 10:07] RyanPeking commented on #33828
no, thanks, it has been resolved

[2019-11-14 10:22] oanush commented on #33828
Closing since issue is resolved,Thanks!

[2019-11-14 10:22] #33828 closed

[2019-11-14 10:27] Guna004 commented on #27886
lmodel, cnn, graph = init_model()

TypeError: Cannot convert -0.05 to EagerTensor of dtype int32
 how to solve this error

[2019-11-14 10:31] ChaiKnight commented on #34267
A few quick updates:
I tried a similar trick with cloning the input array in my script, but to no avail. Using a cloned Array for input did not help.

I also tested a similar network that I've called detect_new. This network shows the correct input dimensions (byte size 1080000) and will run, but crashes out of Unity entirely when invoked without any error codes.

[2019-11-14 10:39] tazr commented on #27576
I am also wondering. I am trying to build TF 1.14 and fail because of this very error. How did the maintainers ever succeed building TF 1.14 on Windows? Can we safely say that those instructions actually do not work on Windows (at least for TF 1.14) and then if the maintainers are not following them then why not amending these instructions into something that reflects what they are actually doing

[2019-11-14 10:40] zhaojiaTech commented on #20905
Hi @jdduke, I followed your instruction and successfully built  //tensorflow/lite:libtensorflowlite.so with size < 2M. However, when I link it with my executable and run on android, my tflite model loaded fine but I got "segmentation fault" when executing builder(&interpreter). I am using tensorflow 1.15.0 and flatbuffer 1.10. Any ideas ?

[2019-11-14 10:45] #34031 closed

[2019-11-14 10:50] jalilasadi commented on #29189
@qlzh727  I have this issue when using TimeDistributed LSTM with mask_zero=True
this is my model :
`        model=tf.keras.Sequential()
        embeding_layer=layers.Embedding(self.vocab_size,self.word_vector_dim,weights=[word_embeding_matrix],trainable=False,mask_zero=True)
        model.add(TimeDistributed(embeding_layer))
        model.add(TimeDistributed(tf.keras.layers.LSTM(50)))
        mode

[2019-11-14 10:51] xgzeng commented on #34221
@ravikyram  Thanks!
But tf-nightly 2.1.0.dev20191111 don't work. I tried on local machine and [colab](https://colab.research.google.com/drive/1kzCj9vzrOuUnl90eo8pRoJvoeNwqVPP_).

The issue is:
When tf.config.experimental_run_functions_eagerly(False) , we can get accuracy around 0.23.
When tf.config.experimental_run_functions_eagerly(True) , accuracy stuck around 0.1.

[2019-11-14 10:51] superhg2012 commented on #34198
@oanush There is just one savedmodel.pb and variables files. I deployed it to tensorrtinference server container. then the error occurs.

[2019-11-14 10:55] jalilasadi commented on #29189
by the way, on CPU it works fine, the problem appears when using the GPU version. I also tried every GPU version of TensorFlow and the problem is still there.

[2019-11-14 10:58] Davidvdrm commented on #34098
I do not reveive this option on windows. I'll try on a linux boot, but as mentioned before getting cudnn and cuda to work on linux is slightly beyond me. The following terminal entry is from the windows bazel build configuration.

[code]

[2019-11-14 11:01] ziky90 opened #34268 "tf.image.non_max_suppression bug when iou_threshold=0.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): both Mac and Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command be

[2019-11-14 11:04] talipini commented on #32139
I am getting this error with tf2.0 migration on tf-nightly build.

[2019-11-14 11:12] ziky90 commented on #34268
I see that actually this "corner case" is probably not tested in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/image_ops_test.py it looks to me that the functionality is only tested for `iou_threshold=0.5`.

[2019-11-14 11:39] #34188 closed

[2019-11-14 11:42] xlnwel opened #34269 "A custom RNN cell does not support a high-order state_size"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-11-14 12:07] kiflowb777 commented on #34264
I noticed that different versions of the keras can return different layer shapes.
The output shape of the layer is different in the keras and tf.keras: https://github.com/tensorflow/tensorflow/issues/33785

[2019-11-14 12:15] RazaGR commented on #34237
I was able to solve this issue by copying `libtensorflow_framework.2.dylib` and `libtensorflow_cc.so` from my TensorFlow build directory to the same directory as my executable.

I must also add that C/C++ integration docs are missing or incomplete, so for a new user, it takes a huge time to understand how to build and link properly all the libraries. I hope it gets easier in the future.

[2019-11-14 12:15] krunal704 commented on #28287
Thank you for this answer
I am also facing this problem when using flask and multithreading, @eliadl Your solution worked for me.

Thanks :smiley:

[2019-11-14 12:23] AnaRhisT94 commented on #7482
Any updates? Can I append an existing TFRecord?

[2019-11-14 12:25] dbonner commented on #34117
@mihaimaruseac
log.txt is 119 MB so can't be uploaded to github.
You can download from this link:
https://www.dropbox.com/s/c7xc9y37k617z93/log.txt?dl=0
Many thanks for helping with this issue.

[2019-11-14 12:34] ArtemisZGL commented on #31784
i try to install tf2.0 and nightly, both show that there no FLOAT16 in tensorflow._api.v2.lite.constants. Even I run the code in [colab](https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/performance/post_training_float16_quant.ipynb), it still not work. Does any one konw how to solve this ?

[2019-11-14 12:41] thadumi opened #34270 "tf.function should trace the additional attributes of a tensor"
Hello, I'm not sure if this should be considered as a Feature or a Bug

**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Let's consider the following code (from TF 1.8) of the [loginctensornetwork](https://github.com/logictensornetworks/logictensornetworks/blob/master/logicten

[2019-11-14 12:50] sakurakatana opened #34271 "WARNING:tensorflow:Entity <bound method Customized_DenseLayer.call of <__main__.Customized_DenseLayer object at 0x00000262A54DA488>> could not be transformed and will be executed as-is."
TensorFlow installed from binary
TensorFlow version 2.0.0
Python version 3.7.4
Cuda compilation tools, release 10.0, V10.0.130
cudnn version 7.6.4
GPU model and memory: GTX1060 6G

**Code to reproduce the issue**
class Customized_DenseLayer(tf.keras.layers.Layer):
    def __init__(self, units, activation = None, **kwargs):
        self.units = units
        self.activation = tf.keras.layers.Activa

[2019-11-14 13:07] VoVAllen commented on #34124
However I would consider it as an implementation bug instead of a documentation error. Thanks for your help!

[2019-11-14 13:07] #34124 closed

[2019-11-14 13:11] Leslie-Fang commented on #34083
@wady101 Sorry, I mis-read your error message.
I thought it was tensorflow_examples couldn't be find.

I suspect your error message relates with the tf version as you can see  https://github.com/layog/Accurate-Binary-Convolution-Network is using TF1.4(tensorflow-gpu==1.4.1)

[2019-11-14 13:20] wady101 commented on #34083
@Leslie-Fang No worries. Read the issue description, I have given all the necessary details.

[2019-11-14 13:33] JonJason commented on #22530
Hi, I have a similar problem with the precision in tensorflow-gpu version 2.0.0

this is the version.

    '2.0.0'

this is to reproduce the bug.

    <tf.Tensor: id=11, shape=(50,), dtype=float32, numpy=
    array([0.        , 0.1       , 0.2       , 0.3       , 0.4       ,
              0.5       , 0.6       , 0.70000005, 0.8000001 , 0.9000001 ,
              1.0000001 , 1.1000001 , 1.2000002 ,

[2019-11-14 13:43] jessica-santos commented on #34107
As the name suggests, those are dataframes with train and valid data respectively. The columns are: `'Path', 'class_1','class_2','class_3'`.  `Path` contains the full path to the image and the classes variables contain 1 or 0 for each class.

The variable `classes_patologias` is the list `['class_1','class_2','class_3']`.

Also:
[code]

I cannot share the data, unfortunately.

[2019-11-14 13:49] vmjersey commented on #24453
Is this going to be merged into Tensorflow proper like Chainer and Pytorch or are we going to have to load a module to get this functionality.

[2019-11-14 14:11] jenselofsson commented on #34219
I tried clone:ing a fresh copy of tensorflow and ran

`
$ make -f tensorflow/lite/experimental/micro/tools/make/Makefile TARGET=mbed TAGS="CMSIS disco_f746ng" generate_hello_world_mbed_project
`

and it ran without an issue.

Although I think I remember seeing this error message myself once or twice before. Try running (ie. remove built files and downloaded data)
` make -f tensorflow/lite/experime

[2019-11-14 14:14] adishpv9 opened #34272 "Python program to test tensorflow speech recognition lite model"
I converted speech recognition model generated using tensorflow train.py to tflite.
Is there a python program to run speech recognition with the tflite (similar to label_wav.py) ?

[2019-11-14 14:31] ggael commented on #33878
See: https://eigen.tuxfamily.org/bz/show_bug.cgi?id=1777

[2019-11-14 14:31] Keyrainn commented on #34143
Hi @srjoglekar246 , i have added ```--add_postprocessing_op=true``` when running ```export_tflite_ssd_graph.py``` and it's still producing the same error.

below is the command that i use to ran ```export_tflite_ssd_graph.py``` :
python export_tflite_ssd_graph.py --pipeline_config_path=training/ssd_mobilenet_v2_coco.config --trained_checkpoint_prefix training/model.ckpt-10647 --output_directory in

[2019-11-14 14:34] premiumayodele commented on #20444
this worked for me too. Thanks

[2019-11-14 14:52] hardware-dept opened #34273 "Custom model implementation to tensor flow lite micro speech example"
Hi everyone.

Currently I am working with tensorflow lite micro speech example for stm32f7disco board and want to try it with my own trained model. Unfortunately, the result I have for now is that replacement of generated <tiny_conv>.cc file is not enough for that since my model doesn't pass some internal chekcups. Can somebody give an instruction on how to implement custom model to this project?

[2019-11-14 15:02] FabianLaBP commented on #25160
I was able to resolve this by installing an updated version of the libcudnn library (7.6.5 - I am using cuda 10.0 on Ubuntu 16.04) from the  [NVIDIA developer page](https://developer.nvidia.com/cudnn).

[2019-11-14 15:15] hy59 opened #34274 "ValueError: Error when checking input: expected flatten_1_input to have 3 dimensions, but got array with shape (60000, 1)"
I ran the quickstart for beginner demo on my PC, but when i run the last cell, there is a **ValueError:Error when checking input: expected flatten_1_input to have 3 dimensions, but got array with shape (60000, 1)**, but when I ran the demo in Colab， there was no problem,
could you please tell what happend about this?
![image](https://user-images.githubusercontent.com/15179180/68869687-8c31f700-073

[2019-11-14 15:18] Fotomaterjal commented on #25160
I managed to get it running with cudnn/7.6.3/cuda-10.0 as well

[2019-11-14 15:29] yashmanuda opened #34275 "Use HParams for "learning rate" hyper-parameter tuning"
https://www.tensorflow.org/tensorboard/hyperparameter_tuning_with_hparams

## Description of issue (what needs changing):
In the documentation it's nowhere written how to tune learning rate hyper-parameter for different optimisation algorithms. Plus the code in file **python3.6/site-packages/tensorboard/plugins/hparams/summary_v2.py** says,
`if dtype not in (int, float, bool, str):
--> 482       r

[2019-11-14 15:32] zaccharieramzi opened #34276 "Tensorboard callback not writing the training metrics"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from: pip
- TensorFlow version: 2.0.0
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0.130
- GPU model and memory: Quadro P5000 (16Gb)

**Describe the current behavior**
When I fit a model that takes time to infer (either with a big enough data size, or enough parame

[2019-11-14 15:43] arun-kumark commented on #17684
Hello GarryLau,
Thanks for sharing the commands,
I am trying to convert my Keras model to the tflite model (8 bit quantized).
I am facing the issue when I use the **--inference_type from FLOAT to QUANTIZED_UINT8**

When I use :
[code]
It generates the tflite file, but without weights quantization.

Once I change the --inference_type to QUANTIZED_UINT8 I get the abort, some logs truncated below:

[

[2019-11-14 16:40] jdduke commented on #20905
@zhaojiaTech were you using the same compiler and STL version for both the libtensorflowlite.so library and your own C++ code? If not, that might cause issues, and you may be better off using the [C API](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/c/BUILD#L21) which avoids these kinds of ABI incompatibilities.

I should note, we're hoping to introduce a helper

[2019-11-14 16:44] DocDriven opened #34277 "C++ API producing incorrect model metaparams"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.0 and 1.15
- Py

[2019-11-14 16:45] #33974 closed

[2019-11-14 17:06] jvishnuvardhan commented on #33104
I am closing the issue as it was resolved. Please feel free to open it if the issue persists again. Thanks!

[2019-11-14 17:06] #33104 closed

[2019-11-14 17:12] qlzh727 commented on #29189
@jalilasadi, do u mind opening another ticket with more details about your issue? We don't want to track multiple issue in the same ticket if they are different.

[2019-11-14 17:23] natepmay opened #34278 "speech_commands: Range cannot be empty (low >= high) unless no samples are taken"
I'm using the speech_commands example and trying to load my own set of wav files, which I've organized according to the tutorial. Here's the command I'm entering on the terminal:
python3 /Users/etc/train.py \
--data_url= \
--data_dir=/Users/etc/trial_classes \
--wanted_words=randomclass1,randomclass2 \
--sample_rate=44100

It's finding the files (so I've truncated the filepaths with "etc" below &

[2019-11-14 17:39] haozha111 commented on #34210
That seems like a bug in our old converter.

We have developed a new MLIR-based converter, you can try it out by downloading the tf-nightly pip package, and then set converter.experimental_new_converter = True.

Could you try this out and see if the problem is resolved?

[2019-11-14 17:53] EvenOldridge commented on #24453
I'm going to add the package solution to the RFC proposal which hopefully should put some weight behind it.  Huge thanks and props to @VoVAllen and @jermainewang for their work on this.

[2019-11-14 18:02] tatianashp commented on #24453
cc/ @sanjoy

[2019-11-14 18:04] leonardoaraujosantos commented on #34276
Agree..., have the same issue here, tried your code and the tutorials same issue occurs.

[2019-11-14 18:08] jalilasadi commented on #29189
@qlzh727  thanks for your answer, actually there is an issue on this problem  #33148   but no one helped us there.  I will be happy to see you there.

[2019-11-14 18:09] qlzh727 commented on #33811
Hey, I think we did some recent update for data_adapter which might fix this issue. Could u have a try with latest nightly?

https://github.com/tensorflow/tensorflow/commit/ac20030c96d37e980333b604402ef6dba48ef5e2

[2019-11-14 18:12] nstyler opened #34280 "Add ExtractImagePatches op to tensorflow lite (flex) whitelist"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): 1.14 top of the tree 14 Nov2019 (last checkin 00fad90125b18b80fe054de1055770cfb8fe4ba3)

**Provide the text output from tflite_convert**

2019-11-14 17:57:00.806373: W tensorflow/lite/toco/tf

[2019-11-14 18:24] qlzh727 commented on #29189
Ok, we will take a look for that issue.

[2019-11-14 18:25] tgaddair opened #34282 "tf-nightly: 'libcudart.so.10.1'; dlerror: libcudart.so.10.1: cannot open shared object file"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version: tf_nightly-2.1.0.dev20191114
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: 10.0
- GPU model and memory: NVIDIA p100

Looks like the latest nightly builds of TensorFlow require C

[2019-11-14 18:28] RazaGR commented on #34237
I am re-opening this issue, thought it was fixed but no. here is my code:
[code]

and the error it is producing with build command:

[code]

[2019-11-14 18:36] le-horizon opened #34283 "copy paste error for value_embeddings = token_embedding(query_input)"
Should be value_input?

Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https:/

[2019-11-14 18:42] mihaimaruseac commented on #34117
First error is

[code]

[2019-11-14 18:50] gunan commented on #27576
https://github.com/tensorflow/tensorflow/issues/27706

Summary:
There is a bug in the cudafe++ binary that comes with CUDA 10.0.
We had to install both cuda 10 and cuda 10.1 and use the cudafe++ binary from 10.1 on windows.

[2019-11-14 18:50] #27576 closed

[2019-11-14 18:58] RazaGR commented on #34237
There is some improvment, I found that I had to force link library in my build command:
` $ g++ -g  /var/www/cpp/main.cpp -std=c++17 -l tensorflow_framework -l tensorflow_cc -l protobuf -I /var/www/cpp/include -I /var/www/cpp/include/tensorflow -L /usr/local/lib -I /var/www/cpp/include/tensorflow/core -o /var/www/cpp/main --debug -all_load -v -force_load /usr/local/lib/libtensorflow_cc.dylib`

an

[2019-11-14 19:04] qlzh727 commented on #33418
So I think your issue is caused by the model.add_loss() in the inner_loss function. Note that model is a stateful object, and the current code is adding inner loss tensor in each training steps to the model, which is not correct.

The alternative can be like below, and your model just trains fine.
[code]

[2019-11-14 19:04] #33418 closed

[2019-11-14 19:13] unrahul commented on #30746
For 2.0 it seems the issue has cropped up again:

[code]
The issue is reproducible both with TF2.0 release version and TF nightly.

[2019-11-14 19:13] ymodak commented on #34189
The script executes successfully if you save/load the model in ```tf``` format.

[2019-11-14 19:16] ebrevdo commented on #33878
+Alexandre Passos <apassos@google.com> +Rasmus Larsen
<rmlarsen@google.com> this
is a performance optimization I think.  Perhaps we should add a precision
attr or graph config like xla does?

On Thu, Nov 14, 2019, 4:32 AM Gael Guennebaud <notifications@github.com>
wrote:

[2019-11-14 19:25] ebrevdo commented on #33878
This particular optimization is problematic, since it gives values that are
very far off for gradients of values below -14. I have a TODO to remove it
and just rely on the vectorized version of division, addition and exp.

On Thu, Nov 14, 2019 at 11:16 AM Eugene Brevdo <ebrevdo@google.com> wrote:

[2019-11-14 19:26] qlzh727 commented on #33886
Can u provide me a short code snippet to reproduce your issue?

[2019-11-14 19:26] ebrevdo commented on #33878
Googlers: This is internal bug b/143090143.

On Thu, Nov 14, 2019 at 11:25 AM Rasmus Munk Larsen <rmlarsen@google.com>
wrote:

[2019-11-14 20:10] natepmay commented on #34278
Okay figured this out. The _background_noise_ folder has to be included in the directory alongside the folders with the wav files. On further reading I probably could have assumed this from reading the tutorial, but maybe worth clarifying in the paragraph on "Custom Training Data." (Here's the tutorial I'm referring to: https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/sequences/

[2019-11-14 20:10] #34278 closed

[2019-11-14 20:29] sethmnielsen commented on #24828
I got this same error running the `models/research/deeplab/deeplab_demo.ipynb` notebook on my local machine. The error also coincided with my GPU memory filling completely.

On TF2.0, passing in `gpu_options.allow_growth = True` when creating the `Session` fixed the issue.

Here's the exact change I made. I took this line:

[code]

And modified it along with adding two additional lines:

[code]
(S

[2019-11-14 20:42] jpambrun commented on #25138
`tf.config.experimental.set_memory_growth(gpu, True)` has no effect for me neither. Is there any known workaround? Alternatively, is there a way to get memory usage from the internal tensorflow allocator (I can't find any documentation on the topic)?

[2019-11-14 21:26] depthwise commented on #31784
@ArtemisZGL use tf.float16 instead. Works as intended, the model size is one half. That said, I did not get any speedup at all from fp16 when running TFLite on Google Pixel 3. Doesn't seem like fp16 is quite "there" yet.

[2019-11-14 21:29] synapse8 commented on #24496
@clementpoiret and @EKami , does it speed up your training if you replace  `config.gpu_options.allow_growth = True` with `config.gpu_options.per_process_gpu_memory_fraction = 0.8`? You can experiment to see what fraction makes the most use of your gpu.

[2019-11-14 22:08] haozha111 commented on #33239
Could you try with our new converter to convert this model?

You will need to install the latest tf-nightly pip package, and then set converter.experimental_new_converter = True.

Let me know if you have any questions.
Thanks.

[2019-11-14 22:16] gowthamkpr commented on #34272
@adishpv9 label_wav.py is for testing the frozen model. If you are planning to deploy it you can follow this [doc](https://www.tensorflow.org/lite/guide/get_started#3_use_the_tensorflow_lite_model_for_inference_in_a_mobile_app) to deploy it. Thanks!

[2019-11-14 22:20] Mr-Grieves opened #34286 "TFLite crash (SIGABRT) while running Conv3D on Android"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Build environment is Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Runtime environment is Samsung s8+
- TensorFlow installed from (source or binary): built from source with select-tf-ops using:
[code]
- TensorFlow version: 1.15.0rc2
- Keras v

[2019-11-14 22:35] shahdev opened #34287 "Cannot dlopen some GPU libraries - Tensorflow2.0"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2019-11-14 22:51] cliffwoolley commented on #34117
@pkanwar23 , can you please help to drive this one?  It is blocking several people on our team.

[2019-11-14 22:54] qlzh727 commented on #33614
Sorry for the late reply, it seems that the issue on addon side has been addressed in https://github.com/tensorflow/addons/pull/669. Closing this issue for now.

[2019-11-14 22:54] #33614 closed

[2019-11-14 23:01] #34272 closed

[2019-11-14 23:01] qlzh727 commented on #33487
The train/eval/predict_on_batch performance issue has been resolve by @robieta in https://github.com/tensorflow/tensorflow/commit/28d07261622a589b7f427756677c2178ccaca7fb.

Simple DNN benchmark on CPU has a performance gain: 7.27  ->  1.67 ms / step

Closing this issue for now, and thanks Taylor for the hard work.

[2019-11-14 23:01] #33487 closed

[2019-11-14 23:04] gunan commented on #33561
https://pypi.org/project/grpcio/1.25.0/#files

We need a new release of grpcio uploaded to pypi (above) that has python 3.8 support for all operating systems TF supports.

[2019-11-14 23:05] dojipkim opened #34289 "Couldn't quantize a model with QUANTIZED_UINT8 if output layer don't have activation"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): installed a binary with Conda
- TensorFlow version (or github SHA if from source): 1.14.0

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Also, please inclu

[2019-11-14 23:10] dojipkim commented on #34289
Here are the node names and operations of the frozen_model.pb
[code]

[2019-11-14 23:11] klanderson opened #34290 "Brackets in directory for tf.train.CheckpointManager in TF2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Debian (GCP notebook)**
- TensorFlow installed from (source or binary): **preinstalled on GCP notebook**
- TensorFlow version (use command below): **2.0.0**
- Python version: **3.5.3**
- GPU model and mem

[2019-11-14 23:33] Mithrandir2k18 opened #34291 "Error on compiling from source"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux archlinux 5.3.11-arch1-1 x86_64 GNU/Linux

- TensorFlow installed from (source or binary): source
- TensorFlow version: commit hash: 872b1ab23f0aac182d5b2051f45d5d003963bfe3
- Python version: 3.7.5
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): bazel 0.29.1- (@non-g

[2019-11-15 00:38] pooyadavoodi commented on #34117
Just tried this command on the latest master, and got the same error.
I uploaded the log here: https://drive.google.com/open?id=1MobJh4K6bk_ySptRn77F1dKl4srY3k0I

The first error seems to be this one:
[code]