[2019-12-23 11:47] SunYanCN commented on #33245
same problem

[2019-12-23 11:48] korr4k commented on #35330
[code]

Both input y and y_first are array of shape (x,10), where x is the number of elements in the dataset, with "compute_wms" they are converted in the shape of (x,1). Note that "custom_accuracy_keras" should return only K.mean(matches) but to identify where the problem it is temporary changed

The orginal numpy accuracy function, the one correct, is:

[code]

Note same as above for the returne

[2019-12-23 12:01] vicpara opened #35358 "Read data from TFRecordDataset throws TensorShape error"
**Describe the current behavior**
I'm trying to save/load a numpy dataset into a TFRecordDataset in TF2.0 for training on TPU. Saving succeeds but when reading the file I and I pass the data through a model I get an error about the shape of the tensors.

I compared the tensors resulted from reading the TFRecordDataset and they are equal. The dataset I get read back from the file reader is a `MapDa

[2019-12-23 12:32] tensorflowbutler commented on #34929
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-23 12:33] amahendrakar commented on #35303
Was able to reproduce the issue. Please find the [Gist](https://colab.sandbox.google.com/gist/amahendrakar/24e22fe7e91e68780650634f2cad2aa6/35303.ipynb) here. Thanks!

[2019-12-23 13:19] SmileTM commented on #35226
haha，I have same problem.
my codes are not able to run training using tf.distribute.Strategy
However, it works fine without distribution.
Below is the code block for training loop

[code]

[2019-12-23 14:25] DamianMel commented on #34607
Hi!
I have the same problem but on Raspbian.

System:
[code]
Python:
[code]

Env:
[code]

[2019-12-23 14:36] caisq commented on #34427
@mihaimaruseac Any updates on the investigation of this issue? We continue to see it in the latest nightly (20191222).

[2019-12-23 14:49] wboleksii commented on #34763
@daverim have you had a chance to take a look?

[2019-12-23 15:16] dsivakumar commented on #24828
Workaround:
Fresh install TF 2.0 and ran a simple Minst tutorial, it was alright, opened another notebook, tried to run and encountered this issue.
I existed all notebooks and restarted Jupyter and open only one notebook, ran it successfully
Issue seems to be either memory or running more than one notebook on GPU
Thanks

[2019-12-23 15:31] dsivakumar commented on #25160
Workaround:
Fresh install TF 2.0 and ran a simple Minst tutorial, it was alright, opened another notebook, tried to run and encountered this issue.
I existed all notebooks and restarted Jupyter and open only one notebook, ran it successfully
Issue seems to be either memory or running more than one notebook on GPU

Thanks

[2019-12-23 15:34] dsivakumar commented on #24828
Workaround:
https://github.com/tensorflow/tensorflow/issues/25160#issuecomment-568505081

[2019-12-23 15:34] kartikeyshaurya commented on #7072
hello there the error is still there with gtx 1650 also

[2019-12-23 15:35] manoadamro commented on #22794
"ImportError: DLL load failed:" doesn't think to mention which DLL is missing? this will be fun

[2019-12-23 15:46] AlexisBRENON commented on #34823
@qiuminxu This seems to work. However, is it not fragile to import something from `tensorflow.python`?

[2019-12-23 16:16] #27760 closed

[2019-12-23 16:19] Adilhossain227 commented on #34877
`import os
import cv2
import numpy as np
import tensorflow as tf
import sys
sys.path.append("..")

# Import utilites
from utils import label_map_util
from utils import visualization_utils as vis_util

# Name of the directory containing the object detection module we're using
MODEL_NAME = 'inference_graph'

# Grab path to current working directory
CWD_PATH = os.getcwd()

PATH_TO_CKPT = os.path.join

[2019-12-23 16:27] mihaimaruseac commented on #34427
Can you try upgrading `scipy` to `1.4.1`? There have been similar sigabrts last week which were caused by `scipy` (scipy/scipy#11237)

There was another segfault I fixed recently, I need to do some post-fixing work today and then I can investigate this more

[2019-12-23 16:36] caisq commented on #34427
@mihaimaruseac  @wchargin The most recent tensorboard build log that shows this error already shows scipy==1.4.1 is being used. See log here: https://api.travis-ci.org/v3/job/628578238/log.txt. So I don't think scipy is the direct cause.

[2019-12-23 16:44] mihaimaruseac commented on #35311
You need to do `git checkout v1.14.0` if you want to build the code at version 1.14.0. Checking out `r1.14` gets you the latest code on the branch, which was supposed to be for the release of 1.14.1.

As this is not really a TF issue but more a git usage one, I'm going to go ahead and close the issue.

[2019-12-23 16:44] #35311 closed

[2019-12-23 16:46] mihaimaruseac commented on #34722
There is supposed to be mapping between `tensorflow.python` and `tensorflow_core.python` to make thie layout change transparent.

I implemented that, so I'll try to see why it doesn't work, if I can reproduce.

[2019-12-23 16:47] mihaimaruseac commented on #34427
Thanks. One more segfault to investigate, then. I'm on it.

[2019-12-23 16:56] jdduke commented on #35283
We adopted a new matrix multiplication library in 1.15, which generally has offered significantly improved multi-threaded performance. Prior to 1.15, unless you explicitly pin your process to big cores, multi-threaded performance was extremely variable. In 1.15+, the performance is generally far more deterministic. However, we haven't done as much testing against scenarios where the screen is lock

[2019-12-23 16:57] caisq commented on #34427
@mihaimaruseac Thanks! Let me know if I can be of any help.

[2019-12-23 17:03] alexkarvou commented on #24496
We are facing  relevant issues

System specifications
---

- Ubuntu 18.04.3 LTS
- RTX 2070
- python 3.7.1
-  tf-gpu 2.0.0
-  V10.0.130 CUDA
- libcudnn7 7.6.2

The error is triggered when I try to use LSTM, GRU, RNN etc.

 Actual error
---
`2019-12-23 16:09:00.912238: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcudnn.so.7
2019-12-23 16:09:0

[2019-12-23 17:05] bilal124 opened #35361 "geting error in tensorflow for Keras"
**System information**
- OS Platform and Distribution (e.g., Windows 8.1):
- TensorFlow installed from (pip install tensor flow):
- TensorFlow version ():
- Python version:3.8.1
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:

**Describe the current behavior**
im using keras for deep learning which use tensorflow as a backend but

[2019-12-23 17:29] xander96 commented on #33183
LY, works!

[2019-12-23 17:29] sanjoy commented on #24496
I can't make progress on this issue because I cannot reproduce it. If you're able to reliably reproduce this on your machine you can help; here's how: https://github.com/tensorflow/tensorflow/issues/24496#issuecomment-560963770, https://github.com/tensorflow/tensorflow/issues/24496#issuecomment-561366750

[2019-12-23 17:39] jdduke commented on #31577
Would you mind sharing the .tflite model you're using? And also can you share what device you're testing with that is generating the error? Thanks.

[2019-12-23 17:47] alextp commented on #35102
Before 3.0 we can flag-gate this behavior, though, and warn if the incompatible-with-the-paper flag is used.

@tanzhenyu can you implement the right behavior and gate it behind an optimizer constructor argument / different class?

[2019-12-23 18:00] mihaimaruseac commented on #33183
This seems to be an issue with macos, not tensorflow. As such, I'm going to go ahead and close the issue.

[2019-12-23 18:00] #33183 closed

[2019-12-23 18:37] mihaimaruseac commented on #34427
Oh, I just noticed you're using Ubuntu 14 VMs. Can you try with Ubuntu 16 ones? Our toolchain is tested on ubuntu 16 and we expect issues with ubuntu 14.

[2019-12-23 18:40] jdduke commented on #34489
Hi @yavol , which platform are you targeting? We do strip symbols for Linux/Mac when you build `//tensorflow/lite:libtensorflowlite.so` and `//tensorflow/lite/c:libtensoflowlite_c.so` via bazel. The shared libraries for those should be ~1-2MB when you build with `-c opt`.

[2019-12-23 18:45] itemko opened #35362 "TensorFlow building error: C++ compilation of rule '//tensorflow/compiler/mlir/tensorflow:convert_graphdef' failed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Ubuntu 16.04.6`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: `N/A`
- TensorFlow installed from (source or binary): `source`
- TensorFlow version: `2.0.0 (master)`
- Python version: `Python 3.5.2`
- Installed using virtualenv? pip? conda?: `apt`
- Bazel version (if c

[2019-12-23 18:47] jdduke commented on #35028
Can you confirm what the alignment is for this buffer when you observe a crash? Thanks.

[2019-12-23 18:54] jdduke commented on #34814
By default it should be routed to adb. Can you capture and send a bug report after you repro the issue? https://developer.android.com/studio/debug/bug-report

[2019-12-23 19:23] impjdi commented on #35295
@yxchng

`hair_segmentation.tflite` is a model that we know runs on mobile GPUs.

N.A.

with this + mesa, you're entering a domain we don't support =/

Note that `fuse_auto_input` doesn't mean the same thing as in what TOCO calls fusion, so you shouldn't worry about fixing TOCO; it's fusion for GPU kernels only.  And the fusion logic is not even the GPU land, but purely on the CPU land, so you mig

[2019-12-23 19:23] #35295 closed

[2019-12-23 19:33] bjente commented on #34762
@gadagashwini I have the same problem.. I'm using Tensorflow 1.14.0 and python 3.7

[2019-12-23 19:34] ymodak commented on #35334
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2019-12-23 19:34] #35334 closed

[2019-12-23 19:36] fadelkoto opened #35363 "DCGAN Tutorial in TF Learn results different as in the tutoroial"
Hallo. I am a new learner for deep learning. I tried this DCGAN tutorial from Tensor Flow but the training result is different compared to what is shown in the tutorial website.

This is my result:

![image](https://user-images.githubusercontent.com/36468837/71376946-83e69a80-25c3-11ea-9f77-d9f492a328f0.png)

Based on the tutorial, it supposed to have a result like this:
![image](https://user-imag

[2019-12-23 19:42] eduardo4jesus commented on #32809
I have a [related question](https://stackoverflow.com/questions/59460310/flops-in-tensor-flow-convolution-layer) but I don't know if this kind of questions should be posted here on Git. Could someone give an opinion on it?

[2019-12-23 19:43] lindong28 commented on #34519
Hey Jiri,

Thanks for the information. I will look into this issue.

On Thu, Dec 19, 2019 at 12:24 PM Jiri Simsa <notifications@github.com>
wrote:

[2019-12-23 19:45] ymodak commented on #35249
Perhaps we may update the statement to `This model reaches an accuracy of about 0.91 (or 91%) on the training data` in the `Train the model` cell.

[2019-12-23 19:46] tanzhenyu commented on #35102
Sounds good.

[2019-12-23 19:52] impjdi commented on #35339
I forwarded this to our OpenCL engineer.  He's looking.

[2019-12-23 19:53] impjdi commented on #35339
Btw, I spy 3 black rectangles (1 in the background).  Is it always the same location, or is it random?

[2019-12-23 19:55] alextp commented on #35224
Can you provide some code that reproduces the buggy behavior? I can't really follow the textual description in the bug.

[2019-12-23 19:55] jvishnuvardhan commented on #35337
@yourtheron Can you please provide simple standalone code to reproduce the issue? Thanks!

[2019-12-23 20:01] ruchit2801 commented on #35355
I assume this is not an error. In my system and on colab, whole tutorial works great. The result you've uploaded is due to two print lines you've put in your `get_label` function. Essentially `parts` contains different parts of location of different images of your datasets. We are only interested in the labels right (apparent from the name of the function `get_label`) , which are names of parent d

[2019-12-23 20:06] jvishnuvardhan commented on #35319
@dojipkim Can you please provide a standalone code to reproduce the issue? Thanks!

[2019-12-23 20:15] dojipkim commented on #35319
@jvishnuvardhan Yes. Here is the code.
[code]

Thanks.

[2019-12-23 20:21] ymodak commented on #35336
All pre-trained modes using TF mode expect the input channels to be in range of [-1,1]
https://github.com/tensorflow/tensorflow/blob/23c3bdaacdc27bb82dfd1772efefad687508923a/tensorflow/python/keras/applications/imagenet_utils.py#L36

[2019-12-23 20:22] HenryChanhy commented on #34211
We have just tried and the problem still exists with TF2.1.0-rc2

[2019-12-23 21:20] tgaddair commented on #35138
cc @martinwicke, @alsrgv was telling me you might have some thoughts on this as well.  Thanks.

[2019-12-23 21:28] jvishnuvardhan commented on #35300
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-12-23 21:28] #35300 closed

[2019-12-23 21:57] Dabuk commented on #35060
Apologies,

Will get you a reproducible code by tomorrow / day after.
I found a temporary work around.
Will update soon.

On Sun, Dec 22, 2019 at 10:41 PM amahendrakar <notifications@github.com>
wrote:

[2019-12-23 22:13] aaudiber commented on #35135
I don't think calling out the data copy is important for `batch`, `padded_batch`, or `from_tensor_slices` because those copies usually aren't the root cause of performance issues.  But we have had issues where liberal use of `unbatch` causes performance issues, so we should call out the performance considerations.

[2019-12-23 22:21] pavithrasv commented on #24938
Yes, the fix for this is in and should be available in the next nightly. Thank you!

[2019-12-23 22:21] #24938 closed

[2019-12-23 22:33] johngrabner opened #35364 "no 2.1.0-rc1 or 2.1.0-rc2 in dockerhub only 2.0.0"
**System information**
- TensorFlow version: 2.1.0

**Describe the problem**
Tensorflow/tensorflow does not list 2.1.0-rc1 or rc2 in the list of available tags.
These are available on colab but somehow did not make it to dockerhub.

**Provide the exact sequence of commands / steps that you executed before running into the problem**
https://hub.docker.com/r/tensorflow/tensorflow/tags/?page=1&name=2

[2019-12-23 22:44] spurani commented on #35227
@gadagashwini thanks for your prompt reply really appreciate it. I am building tensorflow version 1.12.0
https://github.com/tensorflow/tensorflow/releases/tag/v1.12.0. I haven't installed cudnn separately it came along with cuda 9.0. Also I have been following these instructions for setting up tensorflow before installationhttps://www.tensorflow.org/install/gpu and here is test build compatibility

[2019-12-23 22:49] jvishnuvardhan commented on #35304
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-12-23 23:03] mihaimaruseac commented on #34427
Should we also close this one, now that we identified the issue to come from the toolchain?

[2019-12-23 23:11] justnoxx opened #35365 "Cannot save Keras model to pb using model.save()"
Hello!
As been said in https://www.tensorflow.org/guide/keras/save_and_serialize#export_to_savedmodel , to save the Keras model to the format that could be used by TensorFlow, I need to use model.save() and provide save_format='tf', but what it throws me an exception.

**System information**
tf_env_collect.sh has been used to get:

== check python ==================================================

[2019-12-23 23:19] gowthamkpr commented on #35361
Its a local error with your system @bilal124 as I dont face any errors on colab [here](https://colab.sandbox.google.com/gist/gowthamkpr/ab71776f7376eb3c217550bdced98aa5/untitled264.ipynb). Try downgrading the version of python to 3.6.  And also try using tensorfow.keres instead of using keras with tensorflow backend as shown [here](https://www.tensorflow.org/api_docs/python/tf/keras).

I am gonna

[2019-12-23 23:19] #35361 closed

[2019-12-23 23:27] jvishnuvardhan commented on #32416
@csukuangfj Is this resolved or still an issue? Thanks!

[2019-12-23 23:29] jvishnuvardhan commented on #33306
I think it was resolved. I am closing the issue. Please open a new ticket if you see similar issue again. Thanks!

[2019-12-23 23:29] #33306 closed

[2019-12-23 23:30] jvishnuvardhan commented on #34374
@shauryad15 Is it still an issue? Please check the resource in my last response. Thanks!

[2019-12-23 23:35] jvishnuvardhan commented on #34794
@suraj-0387 Can you please post the issue in the `mediapipe` repo [here](https://github.com/google/mediapipe/issues). The resolution should be faster there. Thanks!

[2019-12-23 23:52] yourtheron commented on #35337
@jvishnuvardhan Sure. The following is a fairly simple class of TestNet invovling class CBR

`
		from __future__ import absolute_import, division, print_function, unicode_literals
		import functools

		import numpy as np
		import tensorflow as tf
		from tensorflow.keras import layers, activations

		class CBR(layers.Layer):
			"""Convolution + Batch normalisation + Relu"""
		#    def __int__(self,

[2019-12-24 00:00] impjdi commented on #35339
Hm, we cannot reproduce this bug with Adreno 530 (Samsung S7 Edge; sorry, we don't have OnePlus3).  Do you see this on every frame or only occasionally?

[2019-12-24 00:12] chrisjbillington opened #35369 "Tensorflow Python modules import the same module under multiple different names"
I am using tensorflow 2.1.0rc1-2 on Arch Linux.

A Python project I work with contains some machinery to detect if the same .py file is imported under multiple different names, resulting in different module objects. This [can lead to subtle breakage](http://python-notes.curiousefficiency.org/en/latest/python_concepts/import_traps.html#the-double-import-trap) as classes defined in the two copies of

[2019-12-24 00:14] yourtheron commented on #35329
I see. So may I ask what the solution is or where I made mistakes in
my code? I cannot see any incompatible shape of tensors. I am quite
new to tf.
Thanks.

On 23/12/2019, amahendrakar <notifications@github.com> wrote:

[2019-12-24 00:28] jvishnuvardhan commented on #34107
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-24 00:28] #34107 closed

[2019-12-24 01:09] liyxi commented on #24496
Hi @sanjoy , I am very willing to help, but unfortunately I might cannot build tf from source because I am using my university's properties to do my experiments and my personal laptop is not equipped with a GPU. Is there any other ways to obtain the log we need?

I found the following code on [stack overflow](https://stackoverflow.com/questions/36123740/is-there-a-way-of-determining-how-much-gpu-m

[2019-12-24 01:15] jiayiliu commented on #3986
Just in case - I found the eager execution caused my problem.

[2019-12-24 01:33] sanjoy commented on #24496
I'll check in a `VLOG` statement to get this information.  Once that is done, will you be able to install and reproduce this with tf-nightly (with some extra flags, I'll let you know exactly which ones)?

[2019-12-24 01:37] kobayakawa-t-ko commented on #33967
I have the same problem.
As someone pointed out elsewhere, the following modifications seems to work for me.
[code]

[2019-12-24 01:45] liyxi commented on #24496
Surely, I can install a package on that computer if it is available on `pip` or `conda` and I use a virtual environment. I'll try to reproduce the error.

[2019-12-24 01:47] CNOCycle commented on #35336
@ymodak

Thank your reply.  I found that a clear comment have been added in the `master` branch.

But, I still doubt whether this description is correct or not.

Because in my test case, ResNet50 model's accuracy is near 0.001 if we normalize the value range to [-1, 1].

In the tutorial(https://www.tensorflow.org/tutorials/generative/adversarial_fgsm),

[code]

It only rescales data to range [0, 1

[2019-12-24 01:59] mlinxiang commented on #34489
@linyongye sorry for late response, please use this link to download the scripts : https://pan.baidu.com/s/12Y1ftf2BjIWw1d-WyjaZOQ  access code: km9h
contain build_armv7a_lib.sh build_armv8a_lib.sh, and Makefile.andriod,  please set env parameter ANDROID_NDK , the min version is ndk18,  and some tensorflow root WORKSPACE add follow config:
android_sdk_repository(
148    name = "androidsdk",
149

[2019-12-24 02:27] siqim commented on #31661
anyone?

[2019-12-24 03:20] MachineJeff opened #35371 "How to concatenate two models in tensorflow for End2End system?"
Hi

I have trained two models **separately**.
**Model A** use `x` to predict `y`;
**Model B** use `y` to predict `z`.

Now I want to splice ​​them into one **Model C** which can use `x` to directly predict `z`.

In other words, I want to merge two graphs into one graph, or I want to freeze two checkpoints into one pb file.

Do you have any good idea to achieve this ? Thanks!

[2019-12-24 03:32] yourtheron opened #35372 "Reading a Tensorflow 2.0's tfrecords File?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

I have a .tfrecords file that stores my serialised data. How can I re-load it next time? It is impractical to generate it fro raw data

[2019-12-24 03:43] suraj-0387 commented on #34794
close it

[2019-12-24 03:44] qiuminxu commented on #34823
@AlexisBRENON, yes, ideally we want to have a tf.profiler public API, but that is not exposed yet.
The public API is under discussion, and hopefully we will have a version early next year.

[2019-12-24 04:06] wjddyd66 commented on #35355
@ruchit2801
Thanks for your answer.
But there is still a problem.....

First, <code>tf.print()</code> in <code>get_label</code> is just check it works....
I wrote the code again as your answer.

Code is
[code]

But the result is
[code]

In Upper Code I check  <code>parts[-2]</code> is Flower Directory
And Using <code>tf.print</code> Your answer is correct

So I Check CLASS_NAMES
[code]

What is Pr

[2019-12-24 04:50] ruchit2801 commented on #35355
@wjddyd66, yes, then it should be a problem. I could not reproduce it, works for me. But, just to make sure, you have taken `CLASS_NAMES` as numpy array right? Version I am using is '2.0.0'.

[2019-12-24 04:53] oanush commented on #35353
@JonLeeCSDN ,
Can you please provide code to replicate the issue reported here ?Thanks!

[2019-12-24 04:56] wjddyd66 commented on #35355
@ruchit2801  Hmm.....
Yes <code>CLASS_NAMES</code> as numpy array

Here is My Check Code
[code]
The Result is
[code]
<br>

In Jupyter Notebook
![image](https://user-images.githubusercontent.com/37298751/71394503-374b9f80-2655-11ea-9384-b93487173871.png)

[2019-12-24 04:59] Finniu commented on #20905
hi, what if i what to build a lib for arm v6 linux?

[2019-12-24 05:03] Nitin-Qwinix commented on #30490
Not resolved

[2019-12-24 05:19] gadagashwini commented on #35341
@miaoweiwei, Looks like Tensorflow has not installed properly.
Below are the instructions to install Tensorflow 2.0 using PIP

[code]
Please let us know how it progresses. Thanks!

[2019-12-24 05:19] ravikyram commented on #35358
@vicpara

I tried to execute your code with TF 2.0 and was not able to reproduce it.However i tried with TF 2.1.0-rc1 and i am seeing different error message `ValueError: Cannot take the length of shape with unknown rank.`.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/51dd46b75fa2933f579a44d53340e80d/untitled496.ipynb). Thanks!

[2019-12-24 05:36] kuzen commented on #35326
Sorry, i can't reproduce this.

[2019-12-24 05:36] #35326 closed

[2019-12-24 05:37] rishabhrishu commented on #35357
This is not a bug, but wrong API usage.

Changing `typed_input_tensor` to `typed_tensor` and `typed_output_tensor` to `typed_tensor` resolved the issue for me.

For anyone else having the same issue,
[code]
and
[code]
are identical.

This can be verified by looking at implementation of [typed_input_tensor](https://github.com/tensorflow/tensorflow/blob/49f453f1f9d8c878f7d381b7631051995336a264/tenso

[2019-12-24 05:37] #35357 closed

[2019-12-24 05:44] oanush commented on #34929
@XueCangQiuYe ,
Any update on the issue ?Thanks!

[2019-12-24 05:44] SreenijaK opened #35376 "7.4.1 but source was compiled with: 7.6.0"
Successfully opened dynamic library libcudnn.so.7
2019-12-24 05:34:15.862520: E tensorflow/stream_executor/cuda/cuda_dnn.cc:319] Loaded runtime CuDNN library: 7.4.1 but source was compiled with: 7.6.0.  CuDNN library major and minor version needs to match or have higher minor version in case of CuDNN 7.0 or later version. If using a binary install, upgrade your CuDNN library.  If building from sou

[2019-12-24 05:50] anilsathyan7 commented on #35339
It appears randomly on most of the frames. I'am able to run it at around 12 fps using opencl backend.The phone uses OxygenOS 9.0.6 and is based on android Pie.These rectangles appears  in both  foreground and background regions of the segmentation map(model is about portrait segmentation). Also, is it normal for the model to take this much time for initialization?

[2019-12-24 05:50] ravikyram commented on #35355
@wjddyd66
I have tried on colab with TF version 2.0 beta1 and was able to reproduce the issue.However i am not seeing any issue with TF 2.0. Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/2fef781e3672efc80b454acd42e8ddb8/untitled497.ipynb) Thanks!

[2019-12-24 05:58] ravikyram commented on #35352
@hamdimuzakkiy
Request you to provide simple standalone code to reproduce the issue in our environment. It helps in localizing the issue faster. Thanks!

[2019-12-24 06:01] oanush commented on #34861
@yashthesia ,
Any update on the issue?Thanks!

[2019-12-24 06:09] thinksmert opened #35377 "Get error when build tensorflow-lite-hexagon.aar"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):binary
- TensorFlow version:2.0
- Python version:2.7.15
- Installed using virtualenv? pip? conda?:pip
- Bazel version (if compiling from source):1.1.0
- GCC/Compil

[2019-12-24 06:10] Ashish1997 commented on #13044
If converting all files to .jpg doesn't for you and give same error then reinstall the TensorFlow and it will start working.
This happened in my case. I hope it help.

[2019-12-24 06:15] wangyiwei0306 opened #35378 "TensorflowLite gives wrong results when use GPU delegate"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platform and Distribution (Android7.1 Snapdragon 625):
- Mobile device (HUAWEI Nova CAZ-AL 10) if the issue happens on mobile device:
- TensorFlow installed from (source):
- TensorFlow version (org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly):

**Describe the current be

[2019-12-24 06:15] #32489 closed

[2019-12-24 06:21] bearsroom opened #35379 "Cannot export keras model to SavedModel if mixed-precision policy is enabled"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Debian 9
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): starting from 2.0, nightly version tested
- Python version: 3.5

**Describe the current behavior**

When

[2019-12-24 06:22] yongtang commented on #34575
Added a PR #35375 to add complex support.

[2019-12-24 06:24] byronyi commented on #35379
Gently ping @reedwm; does this look familiar to you?

[2019-12-24 06:29] #34794 closed

[2019-12-24 06:31] gadagashwini commented on #35356
Issue is replicating on colab with Tensorflow 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/f1564399c48a5f0e28eafcbd3ab0979f/untitled321.ipynb). Thanks!

[2019-12-24 06:31] oanush commented on #35365
@justnoxx ,
Hello, please try saving model in .h5 format using command `classifier.save('my_model.h5')`, model should be saved successfully.
Kindly find the gist of [colab](https://colab.sandbox.google.com/gist/oanush/175dc66b70dd893a710f0b09c8538a97/35365.ipynb) for reference.Thanks!

[2019-12-24 06:33] santhoshscs commented on #34968
There is already an issue reported #1521 - But it is closed refering that  the issue is to be reported on tensorflow core

[2019-12-24 06:34] wjddyd66 commented on #35355
@ravikyram, @ruchit2801
Thank you, It resloved...
It's version probelm.....

I change Tnesorflow 2.0 beta1 -> Tensorflow 2.0 ... It works!

![image](https://user-images.githubusercontent.com/37298751/71398149-d62ac880-2662-11ea-90f9-c23caa5257c2.png)

[2019-12-24 06:38] wjddyd66 commented on #35355
/close

[2019-12-24 06:45] ravikyram commented on #35355
I am closing the issue since its resolved. Thanks!.

[2019-12-24 06:45] #35355 closed

[2019-12-24 06:49] ravikyram commented on #35306
@gmrhub
I have tried on colab with TF version 2.0,2.1.0-rc1 and i am seeing `AssertionError: `.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/47bd873e15b693985657da79121bc541/untitled498.ipynb).Is this the expected behavior?

[2019-12-24 06:52] rchao commented on #33531
As I looked into it I have not been able to repro using code attached (the only difference is I've set the TF_CONFIG on the two workers). That said we can add a check before deleting the attr.

[2019-12-24 06:54] gadagashwini commented on #34762
@bjente,
Can you please post a new issue by providing the information asked by the template?
The reason for this is we can focus on your specific configuration and problem since the root cause can be unrelated even though the error messages are similar. Thanks!

[2019-12-24 07:04] gadagashwini commented on #30490
@angyee and @Nitin-Qwinix,
Can you please post a new issue by providing the information asked by the template?
The reason for this is we can focus on your specific configuration and problem since the root cause can be unrelated even though the error messages are similar. Thanks!

[2019-12-24 07:07] Red025 opened #35380 "tensorflow lite performance slower than regular tensorflow model"
i converted object detection model into tensorflow lite and i am trying to run it in raspberry pi but the performance of tensorflow lite is slower in desktop. How can i increase the performance speed of the tensorflow lite?

[2019-12-24 07:09] OoiSC opened #35381 "pip install tensorflow-gpu==2.1.0rc2 failed!"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-12-24 07:33] zgsbughammer commented on #34605
Thankfully, those graph/node API works if build my code into tensorflow package. Guess something wrong with the compiling flags. Hope someone can enlighten me the details.

[2019-12-24 07:34] wiseosho commented on #34609
Currently I am using another deeplearning framework and it runs smoothly without issue. I cannot stop training to reproduce the results or recheck your comments since training occupies all gpus available.
You could close the issue or I will update anytime one I recheck the debugging comments.
Thank you for your kind support.

[2019-12-24 07:45] shkarupa-alex commented on #34687
Still got this issue in v2.1.0-rc1-0-g064e1535a7 || 2.1.0-rc1

[2019-12-24 07:50] JonLeeCSDN commented on #35353
**### train code ref https://tensorflow.google.cn/tutorials/generative/pix2pix**
`from __future__ import absolute_import, division, print_function, unicode_literals

import tensorflow as tf
import  numpy as np
import os
import time
from tensorflow import keras
from matplotlib import pyplot as plt
from IPython import display
#import tensorflow as tf
#import tensorflow.contrib.eager as tfe
#tfe.enab

[2019-12-24 07:56] gmrhub commented on #35306
Yes, that error is due to the lines I mentioned above.

On Tue, 24 Dec 2019 at 12:19 PM, ravikyram <notifications@github.com> wrote:

[2019-12-24 08:03] gadagashwini commented on #35317
I could reproduce the issue with Tf 2.0.
Please take a look at the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/92da8cad7821d73e50e8940f0592c158/untitled318.ipynb). Thanks!

[2019-12-24 08:20] MingxiLi commented on #6720
Hi,
Could anyone please tell me if it is safe to use tf.image.resize_bilinear in tf 1.12?

[2019-12-24 08:32] gadagashwini commented on #35381
@OoiSC, Not necessary to install tensorflow-estimator first. Install tensorflow-gpu, which internally install all the dependencies like tensorflow-estimator, tensorboard. Please check the attached [gist](https://colab.sandbox.google.com/gist/gadagashwini/63a3ed96f09f56bf7f665565f239e082/untitled323.ipynb) for more. Thanks!

[2019-12-24 08:39] oanush commented on #34671
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-24 08:39] #34671 closed

[2019-12-24 08:39] oanush commented on #34672
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-24 08:39] #34672 closed

[2019-12-24 08:40] oanush commented on #34756
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-24 08:40] #34756 closed

[2019-12-24 08:40] oanush commented on #34784
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-24 08:40] #34784 closed

[2019-12-24 08:41] oanush commented on #34867
@jacobxy ,
Any update on the issue?Thanks!

[2019-12-24 08:41] oanush commented on #34876
@RavindhranSankar ,
Any update on the issue?Thanks!

[2019-12-24 08:41] #34867 closed

[2019-12-24 08:42] gadagashwini commented on #35227
@spurani, If you have multiple CUDA versions,
Add cuda, cudnn, cupti variables to your environment path.https://www.tensorflow.org/install/gpu#linux_setup.
Please take a look at tested build configuration.
https://www.tensorflow.org/install/source#gpu
Tensorflow 1.12 supports CUDA 9.0.
Thanks!

[2019-12-24 08:42] oanush commented on #34957
@haolujun ,
Any update on the issue?Thanks!

[2019-12-24 09:06] OoiSC commented on #35381
I also tried installing tensorflow-gpu 2.1.0rc2 without first installing
tensorflow-estimator.

Failed with exactly same error message.

I ran my installation at the Windows 10 command line using pip install.

On Tue, 24 Dec 2019, 16:32 gadagashwini, <notifications@github.com> wrote:

[2019-12-24 09:08] haiwang08 commented on #7285
this works for me

[2019-12-24 09:08] gadagashwini commented on #35349
@OverLordGoldDragon, Could you provide the Tensorflow version that you are using and also provide if any code snippet. Thanks!

[2019-12-24 09:10] OoiSC commented on #35381
The error message from my installation is

ERROR: Could not find a version that satisfies the requirement
tensorflow-gpu-estimator<2.2.0,>=2.1.0rc0 (from tensorflow-gpu==2.1.0rc2)
(from versions: none)

It is looking for tensorflow-gpu-estimator which does not exist.

On Tue, 24 Dec 2019, 16:32 gadagashwini, <notifications@github.com> wrote:

[2019-12-24 09:13] justnoxx commented on #35365
@oanush thanks for your answer! .h5 model works fine, there are no issues with that.
Looks like that my issue is resolved for now by replacing

[code]

with

[code]

It looks like that it is my fault, so, I will close my issue, but I am just wondering, how it could be that it does not work from direct Keras import? Do they have a different versions?

Thanks for your time.

[2019-12-24 09:14] XueCangQiuYe commented on #34929
Hi, Thank you for your reply!
i'm swich to use tf.train.Supervisor, it works for my distributed training. tf.train.MonitoredTrainingSession may not work....

[2019-12-24 09:16] GaranceRichard opened #35382 "Save model to pb and pbtxt"
I would like to use a model trained on python on C++

tried by tflite but cmake needed don't work
by the past, I had to use pb file and pbtxt file that works.

In TF 2.0 how could I save a Model to pb and pbtxt file to use it on C++
Or is there a better way that doesn't involve Cmake ?

Thanks a lot,

[2019-12-24 09:19] j20232 commented on #28485
I met the same problem. Look forward to the update.

[2019-12-24 09:19] gadagashwini commented on #35381
@OoiSC, Could you uninstall existing tensorflow-gpu and create virtual environment and install it again.
Thanks!

[2019-12-24 09:22] impjdi commented on #35339
@anilsathyan7

Engineer suspects some problems in GPU/CPU synchronization when fetching output.  Unfortunately, he wasn't able to reproduce the problem on his device and is now on vacation until mid Jan.  Do you have the luxury of checking things on another device?

By the way, I heard your network has transpose convs in them.  There's been a commit 020e0de6b0c6741acae0735c41f9dff463230aa8 which s

[2019-12-24 09:40] anilsathyan7 commented on #35339
Sure, i will check it on other devices. Currently i'am using java float array of shape [1][257*257] to get the flattened output from model. I also saw the recent android support library that tf has released, for handling I/O. Is it still in development phase or can we use it for  production?

Thanks

[2019-12-24 10:04] ravikyram commented on #34877
@Adilhossain227

Looks like code is incomplete.Request you to share colab link or simple stand alone code with supporting files to reproduce the issue in our environment. It helps in localizing the issue faster. Thanks!

[2019-12-24 10:05] OoiSC commented on #35381
I have shown the list of python modules installed by pip list. You will
notice that there are no tensorflow-gpu or any tensorflow modules
installed. This means that I install tensorflow-gpu in an environment where
I had uninstalled all tensorflow modules.

I do not use virtual environments.

On Tue, 24 Dec 2019, 17:20 gadagashwini, <notifications@github.com> wrote:

[2019-12-24 10:10] pythogeeker commented on #25959
I just checked the links and they seem to be working properly..

[2019-12-24 10:20] OverLordGoldDragon commented on #35349
@gadagashwini This is a feature request, not a bug report - `model` is a `keras.Model` or a `tensorflow.keras.Model` instance, which has the `evaluate()` method defined [here](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/engine/training.py#L730)

[2019-12-24 10:22] oanush commented on #35365
@justnoxx , the first part `import keras` uses [tensorflow as backend](https://keras.io/backend/), and the second one is [tf.keras ](https://www.tensorflow.org/guide/keras)both are not the same.Thanks!

[2019-12-24 10:45] jdlesage opened #35383 "Enable SO_REUSEPORT option in tensorflow training server"
**System information**
- TensorFlow version (you are using): 1.15 and >=2.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Add SO_REUSEPORT option when starting tensorflow training server. It will enable to scan ports to build TF_CONFIG env variable. It is necessary to use distributed tensorflow with resource managers that do not reserve

[2019-12-24 10:56] justnoxx commented on #35365
Thanks a lot. It is clear now.

[2019-12-24 10:56] #35365 closed

[2019-12-24 10:59] 2696120622 commented on #26811
So, why passing a name works?
I use tf.saved_model.save to save my model and encounter the same error, will it work by passing a name?

[2019-12-24 11:09] OverLordGoldDragon commented on #33942
The problem is rather severe; should I produce a more obvious example? Haven't had a chance to investigate this fully yet - did anyone look into it?

[2019-12-24 11:40] KANGRuipeng opened #35384 "TF1.15 Distribute Mode Error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos7.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): TF1.15
- Python version: python3.6
- CUDA/cuDNN version: 10.0/7.6.2

**Code**

 mirror_strategy = tf.distribut

[2019-12-24 11:48] edwardyehuang opened #35385 "Interesting bug, in keras, tf.shape not compatible with tensor.get_shape()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):18.04
- TensorFlow installed from (source or binary):conda binary
- TensorFlow version (use command below):2.0
- Python version:3.7
- CUDA/cuDNN version:430
- GPU model and memory:2 * 24GB Titan RTX

I found this bug i

[2019-12-24 11:53] rishabhrishu opened #35386 "Use tf-lite C++ API for both Android and iOS"
**System information**
- OS Platform and Distribution: macOS 10.14.5
- TensorFlow installed from (source or binary): source
- TensorFlow version: v.2.0
- Python version: 3.7
- Installed using virtualenv? pip? conda?: source
- Bazel version (if compiling from source): 0.24.1
- GCC/Compiler version (if compiling from source): clang version 7.0.1

I am a mobile developer, using C++ to build portable

[2019-12-24 11:54] KANGRuipeng commented on #35384
You have fixed this bug in TF2.0. Is there any update of TF1.15

[2019-12-24 12:01] feature-engineer commented on #35135
Well, if you've got big images you want to semantically segment, you could be tempted to use `from_tensor_slices` and map to random_crop.

That was my scenario. I wasn't aware that it'd be so inefficient when compared to `from_tensors`, since it wasn't mentioned anywhere. I searched the slowdown in other places until I was told here that it's `from_tensor_slices` that is to blame.

I don't see why

[2019-12-24 12:10] Danmou commented on #32052
I was having a similar issue with both TF 2.0 and nightly using the Keras API to fit the model while doing some predictions between epochs with a callback. TF was leaking memory quite rapidly (a rate of around 8GB/hr), making long training runs impossible. I tried using [tcmalloc](http://goog-perftools.sourceforge.net/doc/tcmalloc.html) as suggested in [this guide](https://dantkz.github.io/How-To-

[2019-12-24 12:34] alietestep commented on #31784
in tensorflow 2.0:
fo float ops:
      converter = tf.lite.TFLiteConverter.from_keras_model(lite_model)
      converter.optimizations = [tf.lite.Optimize.OPTIMIZE_FOR_LATENCY]
      converter.target_spec.supported_types = [tf.compat.v1.lite.constants.FLOAT16]

      tflite_quant_model = converter.convert()
and there not so much diffrence on performance!!!

for int ops like INT8, UINT8, INT32, ...:

[2019-12-24 12:46] tensorflowbutler commented on #32172
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-24 12:46] tensorflowbutler commented on #34008
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-24 12:47] tensorflowbutler commented on #34773
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-24 12:59] crystalwan opened #35387 "TF1.14.0 C++ CPU single thread"
I compiling tensorflow library (libtensorflow_cc.so libtensorflow_framework.so) by bazel，and used it in CPU mode. I want to run the program linked by the built tf library in one thread. The configuration bellow is set.

- SessionOptions opts;

- opts.config.set_inter_op_parallelism_threads(1)

- opts.config.set_intra_op_parallelism_threads(1)

But the number of the threads  is 4. except the main t

[2019-12-24 13:07] mdanatg commented on #33724
Indeed, AutoGraph does not recognize `Iterator` or the generators executed by `tqdm`. I'll explain in more detail below, but in general the objects are not recognized because they are not subclasses of a dataset or a dataset iterator.

AutoGraph only transforms objects of types it recognizes - everything else is executed in Python, at function tracing time. For this reason, when running the code a

[2019-12-24 13:29] csukuangfj commented on #32416
@jvishnuvardhan
when this pullrequest https://github.com/tensorflow/tensorflow/pull/32417 is merged,
this issue should be closed by GitHub automatically; but more than 3 months have passed,
it is still not merged.

[2019-12-24 13:29] mdanatg commented on #35335
@leandro-gracia-gil Please use the following workaround until we get this fixed: `for t in iter(dataset):`.

@jsimsa it looks like `scan` loses variable updates. Repro below. Note that `reduce` alone works, but we need the `scan` addition due to #32138. I'm tempted to drop the use of `reduce+scan` altogether and use iterators throughout, since they seem to be more stable.

[code]

[2019-12-24 13:37] spurani commented on #35227
@gadagashwini I have already added cuda, cudnn, cupti variables to your environment path based on this https://www.tensorflow.org/install/gpu#linux_setup. The same issue(as mentioned above) still exists.  **TypeError: new() got an unexpected keyword argument 'serialized_options'**. Is there anything else you could suggest? Though I am trying my best to figure out the issue. But till now I didn't f

[2019-12-24 14:31] sakh251 commented on #32172
I still have this problem and could not solve it> I need some clue to track the problem

[2019-12-24 14:53] dimitrijer commented on #35386
I have been using C API (`tensorflow/lite/c`) to successfully run inference on TFLite models on macOS, Windows and Android ARM/ARM64 from Unity. Right now I am trying to see whether I can use the same API for iOS.

Bazel commands for building static libraries are, in order for macOS/Windows, ARM64 Android and ARM Android:
[code]
You need to run `./configure` prior to this to set up Bazel to use An

[2019-12-24 14:57] i-tolmachev commented on #35028
Thanks for the quick response. Confirming this crash caused by the wrong alignment. Tracing the allocated memory shows 1-byte alignment for the first model data and at least 4-byte alignment for the next one:
[code]
The solution here could be the following:

`const unsigned char gModel1Data[] __attribute__((aligned(16))) = { 0x00, ... }`

Both 4- and 8-byte alignment works as expected also.

[2019-12-24 16:06] IsraelSal commented on #33561
Hi @gunan ,
could you explain us how install TF - gpu with python 3.8 (unfortunatelly i use Windows10)?
i become crazy, to fine a solution..

thanks a lot! :)

[2019-12-24 16:07] johnpjf commented on #6720
@MingxiLi
In tf 1.12 I believe you would need to use the tf 2.0 version, so something like this would match resize_bilinear:
[code]
since the defaults for resize are:

`method=tf.compat.v2.image.ResizeMethod.BILINEAR, antialias=False,`

[2019-12-24 16:15] itemko commented on #35362
It looks like the problem has been fixed - not reproducible within today's nightly testing.

[2019-12-24 16:15] #35362 closed

[2019-12-24 16:57] yptheangel commented on #32381
I got it working by using CUDA10.0 instead of CUDA10.1. Note that you can have two CUDA versions at the same time, make sure your CUDA_PATH is pointing to CUDA10.0.
![twoCUDAatTheSameTime](https://user-images.githubusercontent.com/30103695/71420615-3183a780-26b1-11ea-8fc1-90a36b5ddced.PNG)

You can download archived CUDA10.0 from [here](https://developer.nvidia.com/cuda-10.0-download-archive?targe

[2019-12-24 17:44] FranzBl commented on #35253
I could verify that this problem happens in version bazel 1.0.0 and higher. Lower versions are not allowed to build tensorflow:

-------> bazel 0.29.1

C:\Users\Bludorf\tensorflow>bazel version
Extracting Bazel installation...
Starting local Bazel server and connecting to it...
Build label: 0.29.1
Build target: bazel-out/x64_windows-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelSe

[2019-12-24 17:45] shauryad15 opened #35389 "ERROR: Next operations are not supported by GPU delegate."
INFO: Initialized TensorFlow Lite runtime.
INFO: Created TensorFlow Lite delegate for GPU.
ERROR: Next operations are not supported by GPU delegate:
CONCATENATION:
CONV_2D:
CUSTOM TFLite_Detection_PostProcess: Operation is not supported.
DEPTHWISE_CONV_2D:
LOGISTIC:
RESHAPE:
First 0 operations will run on the GPU, and the remaining 64 on the CPU.

I've converted model to tflite and i'm getting thi

[2019-12-24 17:47] RavindhranSankar commented on #34876
Hi ,

Sorry about the delay.

I attached all the code in the bug report. The rest of the code pertains to
the data and cleaning it.

I will send across the full code tomorrow

Happy Holidays

Ravi

On Tue, Dec 24, 2019 at 12:41 AM oanush <notifications@github.com> wrote:

[2019-12-24 18:16] perfinion commented on #33108
Whoops, sorry I didn't see this issue earlier. I maintain the Gentoo TF package too.
If you're on gentoo, you should just `emerge sci-libs/tensorflow`, is there some specific reason you're trying to build manually not just using the one in portage? The package for it should handle all the right versions of bazel and cuda and everything else. If you need other features that are not in the package l

[2019-12-24 18:27] debendraoli commented on #33374
I am on Arch Linux rolling release, I cannot install the any versions of tensorflow.
lol Do I have to change the OS ?, not worth it.

[2019-12-24 18:53] paulbors commented on #33108
Read above comments and please update Gentoo's ebuild to use latest stable version of Bazel v1.2.0+

This has been patched in Gentoo Linux on top of Bazel v1.2.0 here:
https://gitweb.gentoo.org/repo/gentoo.git/tree/dev-util/bazel/files/1.2.0-grpc-gettid.patch

[2019-12-24 19:15] paulbors commented on #33108
To clarify, Gentoo builsd from source via the ebuld file (no need to go through your manual steps as per your latest instrustions). After all you gave us an ebuild ;)

The problem is a dependency of Tensorflow on an older buggy version of Bazel (which is no longer the right bersion at older v0.29.1 as that's super old).

Here's the direct link on how to patch the bug reported in this ticket in Baz

[2019-12-24 19:33] beojan commented on #33374
@debendraoli Install tensorflow using the Arch package.

[2019-12-24 20:00] gunan commented on #33561
We still do not have the prebuilt packages. Unfortunately, we were not able to finish 2.1 and python 3.8 before christmas due to the year end rush. All our dependencies finally have support, but we did not have much time after they had releases with support.

We will push nightly packages for python 3.8 in January.
Until then, you can try building TF from sources.

[2019-12-24 20:08] FranzBl commented on #35253
By now, this situation is without solution, since newer bazel versions than 1.1.0 are not accepted to build tensorflow.
Did anyone ever build tensorflow on Windows successfully? It doesn't seem so.
By the way, on Ubuntu tensorflow doesn't build from source either, from other (but similar) reasons. So it looks like all amd gpu's that need opengl are unable to be used with tensorflow.

[2019-12-24 20:54] Haakam21 opened #35393 "TF 2.0 Custom Metric 'Tensor' object has no attribute 'numpy'"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Windows 10
- TensorFlow installed from: pip
- TensorFlow version: tensorflow-gpu 2.0.0
- Python version: 3.7.3

**Code**

model.py
[code]

metrics.py
[code]
**Current behavior**

[code]

In the issue [#27519](https://github.com/tensorflow/tensorflow/issues/27519) (which has been closed and does not offer a sol

[2019-12-24 20:55] Haakam21 commented on #27519
@renatomello I am having the same problem as you are. I have opened a new issue: #35393.

[2019-12-25 00:09] sudonto commented on #26418
hi @SmileTM will you share the binary for us? thanks.

[2019-12-25 01:37] SumanSudhir commented on #35363
Hey, there may be something wrong with your training as I trained the same notebook for 50 epochs and getting approx same result as shown in the notebook tutorial
![image](https://user-images.githubusercontent.com/35973532/71428187-38c4a880-26e5-11ea-9aa9-3f8c82053710.png)

[2019-12-25 01:40] SumanSudhir commented on #35363
Animated preview of the trained model is also as per the shown in notebook
![dcgan](https://user-images.githubusercontent.com/35973532/71428225-75909f80-26e5-11ea-914c-757fe249398d.gif)

[2019-12-25 02:00] neil-119 commented on #35095
I too am seeing this. My rig has two RTX 2080 Tis (invested in another one of these GPUs solely for ML work) so I would be very interested in a solution.

[2019-12-25 02:42] edwardyehuang commented on #35393
keras compile is run with graph mode in default

[2019-12-25 02:44] edwardyehuang commented on #35393
Try the custom train loop (confirmed work) or compile with eagerly = True (I don't know if it work), or, use py_function at graph mode.

[2019-12-25 03:50] jude2014 opened #35397 "no such target '//tensorflow:windows': target 'windows' not declared in package"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-12-25 03:51] jude2014 commented on #35397
os is linux

[2019-12-25 04:04] liuheng92 commented on #12940
why close ??? still happen with tf1.13

[2019-12-25 05:58] sudonto commented on #30753
@bonlime , can you confirm that those two lines really affect LSTM behaviour?

[2019-12-25 06:07] wangyiwei0306 commented on #35378
PS: I can run the demos in tensorflowlite correctly on my phone.

And I used **modifyGraphWithDelegate()** function and got the following logs:

I/tflite: Initialized TensorFlow Lite runtime.
I/tflite: Created TensorFlow Lite delegate for GPU.
E/libEGL: validate_display:99 error 3008 (EGL_BAD_DISPLAY)
I/tflite: Initialized OpenCL-based API.
I/art: Background sticky concurrent mark sweep GC freed 5

[2019-12-25 06:14] wangyiwei0306 commented on #30758
@impjdi
If GPU doesn't support such kinds of operations then will it affect the detection results?

I use yolov3 model and the following is my code.
I have run the following code successfully without GPU module.
My model is float model not quantized model.

`/* Copyright 2019 The TensorFlow Authors. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not u

[2019-12-25 06:43] cbahcevan opened #35402 "TF2.0 hub Universal Sentence Encoder Multilingual Sentenepieceop not registered problem"
**System information**
- Have I written custom code : No
- OS Platform and Distribution : Windows 10 / Google Colab
- TensorFlow version (use command below):tensorflow==2.0.0
- Python version:Python 3.6.9

Here is my code.

[code]
Problematic output

[code]

I want to get multilingual sentence embeddings using pretrained Google Universal sentence encoder.  But I could not able to get it from Windo

[2019-12-25 07:15] 2696120622 commented on #33328
How to fix this error?

[2019-12-25 07:25] happpyosu opened #35403 "using a `tf.Tensor` as a Python `bool` is not allowed in Graph execution. Use Eager execution or decorate this function with @tf.function."
something is wrong when I use model.get_layer(),
I was confused what's wrong with my code, and I have never used a `tf.Tensor` as a Python `bool` in my code

Here are my code:
------------------------------------
[code]
----------------------------------------------------------------
2019-12-25 15:15:54.403715: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dyn

[2019-12-25 08:24] olk commented on #35095
@neil-119 I'm switching to MXNet - it does much better utilize GPUs (including multi GPU onfig) + less memory consumption at the GPUs. Beside [Gluon](https://medium.com/@julsimon/gluon-building-blocks-for-your-deep-learning-universe-4bce4e56ef55) - [Keras](https://github.com/awslabs/keras-apache-mxnet) works with MXNet too.

[2019-12-25 08:28] hoangcuong2011 commented on #35354
FYI: I actually did investigation carefully, and found that we actually don't need to modify optimizer_v2.py at all. We rather just need to create a new optimizer (similar to and could inherit from Adam, RMSProp, SGD, etc).
This simplifies things a lot, so, again, if you want such a thing, pls let me know.

[2019-12-25 08:29] x7night opened #35404 "ValueError: Flattening a PerReplica to components is not supported in replica context."
**System information**
- windows
- TensorFlow installed from conda
- TensorFlow version:2.0
- Python version:3.7.4
- CUDA/cuDNN version: 10.2/7.6
- GPU model and memory: 2 nvidia rtx 2070s 8GB

**Describe the current behavior**
i follow the distributed training tutorials to change my code(custom model) for cumtom training loop. but when i run the script, it shows mistake "ValueError: Flattening a

[2019-12-25 08:42] MichaelW17 commented on #22106
try Netron

[2019-12-25 09:17] grahit27 commented on #28148
Thanks @SamuelMarks. This command works.

[2019-12-25 10:08] bonlime commented on #30753
@sudonto No. I was only using TF for computer vision tasks, didn't check the LSTM behavior

[2019-12-25 10:38] Dave-Stein opened #35405 "tensorflowlib for 2.0"
I can see many users over the last 2 weeks struggling with getting the build to work with Windows 10. I also see a few **recent commits** to improve the build in response to the above feedback.

As [stated here](https://www.tensorflow.org/install/source_windows) that the Windows tensorflow 2.0 builds with following configurations are successful.

![image](https://user-images.githubusercontent.com/

[2019-12-25 11:23] MayhemGang commented on #34933
Very strange behavior detected. This run seems to train fine. but no images are saving. Perhaps the images saved are causing the hanging?

[2019-12-25 11:37] MayhemGang commented on #34933
In fact, with even Image saving fixed, the training is going perfectly. This is a rare occurence.
The only things I have changed are the config options,
config = tf.ConfigProto(allow_soft_placement=True)
config.gpu_options.allow_growth = True
config.gpu_options.polling_inactive_delay_msecs = 10

It seems the polling delay fixes the issue. I am using dual xeon x5690s, which are of a very old archit

[2019-12-25 11:40] geometrikal commented on #34933
@MayhemGang Just a reminder, you haven't shared your code so it's not clear what you are referring to.

[2019-12-25 12:03] #35371 closed

[2019-12-25 12:07] MachineJeff opened #35406 "import frozen graph with error "Input 0 of node X was passed float from Y:0 incompatible with expected float_ref"
It's the same problem with [this early issue](https://github.com/onnx/tensorflow-onnx/issues/77)

However I can not solve this problem like it.

Bacause there is no "Ref" node and "AssignSub" node and "AssignAdd" node in my pb file.

[code]

My pb file is in [my repository](https://github.com/MachineJeff/BUG)

And the "print node" code is also in there.

Who can help me ?

[2019-12-25 12:24] tensorflowbutler commented on #21111
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-25 12:24] tensorflowbutler commented on #34976
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-25 12:26] HStuart18 opened #35407 "At Runtime: Error while reading resource variable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version (use command below): 2.0
- Python version: 3.7
- CUDA/cuDNN version: 10.2/7
- GPU model and memory: RTX 2060

**Describe the current behavior**
I am getting this error when trying to m

[2019-12-25 12:32] freedomtan commented on #35386
@dimitrijer short answer for building C API library for iOS arm64:
[code]

And you may want to check `tensorflow/lite/experimental/ios/BUILD`

[2019-12-25 12:51] dimitrijer commented on #35386
@freedomtan thanks, will check that out!

I also found out a set of scripts that build C++ TFLite static library for multiple Android/iOS architectures at `tensorflow/lite/tools/make` - and the library also includes the C API! I get universal `libtensorflowlite.a` library after running `build_ios_universal_lib.sh -a "armv7 armv7s arm64"`. If I copy over C API headers, I should be able to link agai

[2019-12-25 13:14] Dave-Stein commented on #35405
[Community effort](https://github.com/guikarist/tensorflow-windows-build-script/issues/38#issue-513074418)

[2019-12-25 14:05] DoritoDog commented on #31577
The problem was that I can't use the add or subtract operations on tensors with more than 4 dimensions.

[2019-12-25 14:18] stereomatchingkiss opened #35408 "Cannot build gl_delegate of android"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu18.04.3 LTS, 64bits
- Te

[2019-12-25 14:36] aynesss commented on #20444
please, I use ubunto
 python 3.8.0
pip 19.3.1
I find this problem when i install tensorflow
"could not find a version that satisfies the requirement tensorflow (from versions none)"

[2019-12-25 15:00] ManishAradwad commented on #35249
Yes, Sure! I'll make the changes right away

[2019-12-25 15:09] ManishAradwad commented on #35249
I'm sorry but I didn't get you clearly, Are you saying that we should add
`model.fit(train_images, train_labels, epochs=10)`
and
`As the model trains, the loss and accuracy metrics are displayed. This model reaches an accuracy of about 0.91 (or 91%) on the training data.`
to the cell `Train the model` above??

[2019-12-25 16:35] hieuvominh opened #35409 "ImportError: DLL load failed with error code -1073741795"
Traceback (most recent call last):
  File "C:\Users\Hieu\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\Hieu\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in <module>
    _pywrap

[2019-12-25 17:05] CleanPegasus commented on #35363
Just tried it and the code works as expected. Can you send us the code you tried?

[2019-12-25 17:41] Haakam21 commented on #35393
Thank you for your response. I have solved the problem using a different method:

Replace
[code]
with
[code]

[2019-12-25 17:41] #35393 closed

[2019-12-25 18:20] ymodak commented on #34960
Closing this issue since it's resolved. Feel free to reopen if have further questions. Thanks!

[2019-12-25 18:20] #34960 closed

[2019-12-25 18:22] ArthurG commented on #22766
I am also affected by this issue cuda 10.2 and the -DNDEBUG flag workaround seems to work for me .

[2019-12-25 18:22] #34487 closed

[2019-12-25 18:23] #33796 closed

[2019-12-25 20:25] kacpo55 opened #35411 "My GPU doesn't support CUDA"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 8.1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): (I've use this) pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl
- TensorFlow version: 1.12.0
- Python v

[2019-12-25 20:51] ucalyptus commented on #34210
I changed `transformers>=2` in the pip command. https://colab.research.google.com/drive/1MrPEJWqReZGKWBHAkoYYCrDiDTccmLUb
Does this help?

[2019-12-25 22:00] artitw commented on #34341
Hi Phil,

Thanks for the update and tips! I'll close this now.

Best,
Art

[2019-12-25 22:00] #34341 closed

[2019-12-25 22:02] amitdingareNovelis commented on #32629
same here. My setup: Raspberry pi 4, Raspbian,  tflite_runtime-1.14.0-cp37-cp37m-linux_armv7l.whl for tflite and Google Coral.

Any leads will be appreciated.

[2019-12-25 22:04] besherh commented on #32629
I managed to install tf2 from here (
https://github.com/PINTO0309/Tensorflow-bin  ), and it's working :)
*            Best Regards*

On Wed, Dec 25, 2019 at 10:02 PM Amit Dingare <notifications@github.com>
wrote:

[2019-12-25 23:20] spurani commented on #35227
@gadagashwini . So basically I removed tensorflow completely and started from scratch with the help of the mentioned guide. I was successfully able to build and run to install tensorflow after following this guide https://medium.com/repro-repo/speed-up-learning-by-building-tensorflow-gpu-from-source-on-ubuntu-d03bb4e06b23 .

Target //tensorflow/tools/pip_package:build_pip_package up-to-date:
  baz

[2019-12-26 00:18] jvishnuvardhan commented on #32416
@csukuangfj I see the reviewer approved the PR. So it will be merged soon. Thanks!

[2019-12-26 01:27] MrCrazyCrab opened #35412 "some problem about pb model"
when i want to load my pb modekl, i met a probelm that "raise ValueError("callback %s is not found" % token) ValueError: callback pyfunc_31 is not found"

what is the pyfunc_31, why i can't load it, and how can i to slove it?

[2019-12-26 02:23] csukuangfj commented on #32416
@jvishnuvardhan

Things are not always that easy like you thought. You can see that the pullrequest
has been approved for multiple times, but nothing happens when  the`ready to pull`
label is added.

[2019-12-26 02:53] olegmyrk opened #35413 "vgg19.preprocess_input doesn't work in TF2.1 autograph mode"
**System information**

* Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
* TensorFlow installed from (source or binary): binary
* TensorFlow version (use command below): v2.1.0-rc1-58-g9837ece 2.1.0-rc2 (python3 -c "import tensorflow as tf; print(tf.version.GIT_VERSION

[2019-12-26 03:10] 4dcity opened #35414 "no such package '@com_google_protobuf error while running bazel build"
**System information**
- OS Platform and Distribution: Windows10 x64
- TensorFlow installed from: binary
- TensorFlow version: 1.15.0
- Python version: 3.7
- Installed using: conda
- Bazel version (if compiling from source): 1.1/2.0
- CUDA/cuDNN version: 10.0

I was trying to inspect a model following the guide [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_tran

[2019-12-26 03:21] olegmyrk opened #35415 "Bijectors are orders of magnitude slower in tf2.1 autograph distributed mirrored single-gpu mode"
**System information**
* Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
* TensorFlow installed from (source or binary): binary
* TensorFlow version (use command below): v2.1.0-rc1-58-g9837ece 2.1.0-rc2 (python3 -c "import tensorflow as tf; print(tf.version.GIT_VERSION,

[2019-12-26 03:39] ravikyram commented on #35363
@fadelkoto
I have tried on colab with TF version 2.1.0-rc1 and i am getting approximately same result as shown in tutorial. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/5f6bd200a1a6363e28c1f3bcf64e8850/untitled500.ipynb). Thanks!

[2019-12-26 03:42] olegmyrk opened #35416 "Bijectors crash tf2.1 autograph in distributed mirrored multi-gpu mode"
**System information**
* Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
* TensorFlow installed from (source or binary): binary
* TensorFlow version (use command below): v2.1.0-rc1-58-g9837ece 2.1.0-rc2 (python3 -c "import tensorflow as tf; print(tf.version.GIT_VERSION,

[2019-12-26 03:53] ravikyram commented on #35372
@yourtheron
Will it be possible to share simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.

[2019-12-26 03:54] boluoyu commented on #33261
@k-w-w any update on this issue?

[2019-12-26 04:04] ravikyram commented on #35380
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Request you to provide simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. If you are unclear what to include see the issue template displayed in [the Github

[2019-12-26 04:12] ravikyram commented on #35384
@KANGRuipeng
Looks like code is incomplete.Can you please provide simple standalone code to reproduce the issue in our environment. It helps in localizing the issue faster. Thanks!

[2019-12-26 04:29] DakshuSurve opened #35417 "AttributeError: module 'tensorflow' has no attribute 'reset_default_graph'"
- Have I written custom code

import tensorflow as tf

from tensorflow.python.framework import ops
ops.reset_default_graph()

tf.reset_default_graph()
session = tf.InteractiveSession()

i also try :
pip uninstall tensorflow
and again
pip install tensorflow

bt still it's showing me :
AttributeError: module 'tensorflow' has no attribute 'reset_default_graph'

what should I do now
please help me out

[2019-12-26 04:30] #35417 closed

[2019-12-26 04:45] Red025 commented on #35380
- OS: Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.12
- Python version: 3.6
- Bazel version (if compiling from source): 0.15.2
- CUDA/cuDNN version: 9.0

    def __init__(self, model_path='TFLite_model/detect.tflite'):
        self.car_boxes = []
        # define lite graph and load tensorflow
        self.interpreter = Interpreter(m

[2019-12-26 05:42] ravikyram commented on #35403
@happpyosu

Which version of TensorFlow you are using?.Can you please provide colab link or reproducible code with proper indentation. It helps us in localizing the issue faster.Thanks!

[2019-12-26 05:51] ijakparov commented on #33161
`%load_ext tensorboard
%tensorboard --logdir /tf/notebooks/graphs --host 0.0.0.0`

Solves the problem!

[2019-12-26 06:04] jesen8 commented on #19124
i have same problem!!

[2019-12-26 06:26] KANGRuipeng commented on #35384
The test_net is a simple conv-net. You can define it by yourself.

[2019-12-26 06:30] KANGRuipeng commented on #35384
def block(x):

    x =tf.keras.layers.Conv2D(filters=96, kernel_size=3, strides=2, padding="same")(x)
    x =tf.keras.layers.Conv2D(filters=96, kernel_size=3, strides=2, padding="same")(x)
    x =tf.keras.layers.Conv2D(filters=96, kernel_size=3, strides=2, padding="same")(x)
    x =tf.keras.layers.Conv2D(filters=96, kernel_size=3, strides=2, padding="same")(x)

    x = tf.keras.layers.GlobalAverag

[2019-12-26 06:31] KANGRuipeng commented on #35384
This is the test_net

[2019-12-26 06:31] KANGRuipeng commented on #35384
The data we use is CIFAR10

[2019-12-26 06:33] oanush commented on #35379
When tried replicating the issue, I got the error as per the colab [gist](https://colab.sandbox.google.com/gist/oanush/1cc1d54c6411da3cdc2d5009b59775b1/35379.ipynb).Thanks!

[2019-12-26 06:44] anhtu812 commented on #35177
Hi @ymodak
how to fix?

[2019-12-26 06:57] oscarriddle commented on #25539
@jlebar Just wonder is there any progress to improve the every recompiling?

[2019-12-26 07:05] xinyidaren commented on #35210
thanks a lot!!

[2019-12-26 07:05] #35210 closed

[2019-12-26 07:48] MichaelW17 opened #35419 "Cannot use fine-tuned ssd_mobilenet_v2 model with TF Lite on Android"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Pixel 2 Simulator in Android Studio with Android 7.1.1
- TensorFlow installed from (source or binary): source
- Ten

[2019-12-26 08:27] ConeyLiu commented on #31753
Hi, how to use profile API and profile service? The python module can't import after tensorflow.__init__.

[2019-12-26 08:28] oanush commented on #35353
@JonLeeCSDN ,
Thank you for the response, can you please provide a minimal code snippet to reproduce the issue?Thanks!

[2019-12-26 08:29] gadagashwini commented on #35376
@SreenijaK, Please elaborate the issue and also provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2019-12-26 08:32] oanush commented on #34929
@XueCangQiuYe ,
Is the issue resolved?please close it if works with use of `tf.train.Supervisor `.
Thanks!

[2019-12-26 08:32] gadagashwini commented on #35385
@edwardyehuang, Thanks for reporting the issue.
Could you post the complete code snippet to reproduce the reported issue. Thanks!

[2019-12-26 08:39] gadagashwini commented on #35397
@jude2014, Please provide the complete code snippet to replicate the reported issue. Thanks!

[2019-12-26 08:52] Douboo commented on #34944
hey~ I encountered the same problem. Inspired by [your code](https://gist.github.com/UdiBhaskar/e795757f6b07f70275ab37739d07e411) I run the `.fit` method with the autograph in tf2.0 with eager execution successfully. You can check the [code](https://github.com/Douboo/tf_env_debug/blob/master/custom_layers_and_model_subclassing_API.ipynb)

[2019-12-26 08:55] ravikyram commented on #35402
@cbahcevan

This issue is more suitable for TensorFlow Hub repo. Please post it on TF Hub repo from [here.](https://github.com/tensorflow/hub/issues) Thanks!

[2019-12-26 09:16] gadagashwini commented on #35382
@GaranceRichard, Please follow [this](https://www.tensorflow.org/guide/saved_model#load_a_savedmodel_in_c) guide to load a savedmodel in C++. Let us know if it helps. Thanks!

[2019-12-26 09:24] MichaelW17 commented on #35419
A walk around that is found by now is:
use the saved checkpoint I need, say, model-ckpt-10000, as the initialization of a new train. Then use the model.ckpt-0 to convert to tflite.

[2019-12-26 09:25] amahendrakar commented on #35330
Was able to reproduce the issue. Please find the [Gist](https://colab.sandbox.google.com/gist/amahendrakar/090aeeccec85f1a475bfd90f3f241d83/35330.ipynb) here. Thanks!

[2019-12-26 09:30] gadagashwini commented on #35409
@hieuvominh,
I suspect that your cpu does not support AVX instructtion sets.
See [Hardware Requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements).
Can you please confirm?
See also [#19584](https://github.com/tensorflow/tensorflow/issues/19584)

[2019-12-26 09:38] jtk19 commented on #26182
Install CUDA 10.0 into /usr/local/cuda110.0/ where your program will find the new libraries.

If you have CUDA 10.1 installed into /usr/local/cuda-10.1/ along with the nvidia drivers.  In that event, skip installing the drivers and only install the cuda libraries.  Don't link /usr/local/cuda to 10.0.  Leave it linked to 10.1.  We just need the libraries in the location tensorflow looks for it.  cu

[2019-12-26 09:57] ravikyram commented on #35405
@Dave-Stein

Please, have a look at the note mentioned in the [link ](https://www.tensorflow.org/install/lang_c).As stated it can be included in the future releases.Thanks!

[2019-12-26 09:59] gadagashwini commented on #35411
@kacpo55,
I recommend you to uninstall older tensorflow and python version and install new tensorflow 1.12 and python. It worked for many users. Some time when you have installed different versions of python and tensorflow, there will be some modules that could affect reinstalling of TF. Follow the official [website](https://www.tensorflow.org/install/pip?lang=python3) to install Tensorflow. Let u

[2019-12-26 10:00] gadagashwini commented on #35411
@kacpo55,
If your GPU doesn't support CUDA. You can install CPU version of Tensorflow. Thanks!

[2019-12-26 10:10] LeeJongAnn commented on #34658
Thank you So much I have the same problem , and now I can study tensorflow Thx!!!!

[2019-12-26 10:30] gadagashwini commented on #35406
@MachineJeff, The my repository link is not working. Please provide the correct link.
Please provide the information asked in  issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2019-12-26 10:31] MachineJeff commented on #35406
I have solved it by myself, thanks! @gadagashwini

[2019-12-26 10:31] #35406 closed

[2019-12-26 10:34] fzyzcjy commented on #14607
+1 Still an issue, want to use the same code package for both Windows and Android

[2019-12-26 10:38] gadagashwini commented on #35227
Looks like the Tensorflow installed correctly.
Could you elaborate the issue with context. Thanks!

[2019-12-26 10:42] ravikyram commented on #35412
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Please, provide simple standalone code to reproduce the issue in our environment.It helps in localizing the issue faster. If you are unclear what to include see the issue template displayed in [the Github new issue

[2019-12-26 10:49] gadagashwini commented on #35103
@TheBicPen, Tried reproducing the reported issue with provided code.But I didn't get error message.
Please find the [gist](https://colab.sandbox.google.com/gist/gadagashwini/3e5e9ba8c8982b276584c3176919334d/untitled325.ipynb) and confirm the issue. Thanks!

[2019-12-26 10:51] yourtheron commented on #35337
@jvishnuvardhan I think I found a work-around. If I do not define CBR as a custom layer class as paraphrased in the tf's doc, but a custom model instead, it works. But it might still be better to figure out why defining it as a layer class does not, thanks.
[code]

[2019-12-26 11:04] yourtheron commented on #35372
@ravikyram I found the root cause and the solution. In fact, if I want to write my serialised data into a TFRecord file, I cannot use `tensorflow::ops::TFRecordReader`. Instead, I have to use something like
[code]
and if I want to read data from the file, I have to firstly 'record' the file into a raw dataset by
[code]
Then read data into a training-ready dataset by `map()` function
[code]
where `

[2019-12-26 11:04] rishabhrishu commented on #35386
I was able to build C++ static library for iOS, following instructions provided by @dimitrijer. Is there a similar way to build it for Android for following architectures: `'x86', 'x86_64', 'armeabi-v7a', 'arm64-v8a'`?

[2019-12-26 11:08] spurani commented on #35227
I am trying to integrate Tensorflow framework in Nvidia Digits. I already have nvidia Digits working with Caffe framework. https://github.com/NVIDIA/DIGITS/blob/master/docs/BuildTensorflow.md and https://github.com/NVIDIA/DIGITS/blob/master/docs/GettingStartedTensorflow.md might answer your question. Please let me know if you require more info. Thanks

[2019-12-26 11:09] ravikyram commented on #35372
@yourtheron

Glad to know you found the solution.I am closing the issue since its resolved. Thanks!

[2019-12-26 11:09] #35372 closed

[2019-12-26 11:18] GaranceRichard commented on #35382
with my model (as model) I did :
tf.saved_model.save(model,"") which gives me a saved_model.pb
sent to C++ dev, I'll tell you if it's ok...

[2019-12-26 11:22] joehoeller commented on #33161
I will try this when I get back from vacation, thank you.

On Wed, Dec 25, 2019 at 10:51 PM ijakparov <notifications@github.com> wrote:

[2019-12-26 11:45] PranshuTople commented on #27079
@solomonvimal  Did you get any solution? I have same problem

[2019-12-26 12:25] se7enXF commented on #26769
I have the same issue.
I build c++ API with tensrflow1.13.1, and it works normally but arising W(warning) in console.
[code]
Not only tensorflow-cpu but also tensorflow-gpu arise this issue. It works  normally but those Warnings make me uncomfortable.
Anyone can tell me why this issue appearing and how to fix?
Thanks!

[2019-12-26 12:28] StenkinVlad commented on #20698
Thx, my problem solved! Just have changed
`import keras`
`import tensorflow as tf`
to
`import tensorflow as tf`
`from tensorflow import keras`

[2019-12-26 12:32] tensorflowbutler commented on #26902
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-26 12:49] Edward7Zhang opened #35421 "Android Tensorflow Lite Crash: When using 'options.setUseNNAPI(true); ' with TFLite in SAMSUNG S10+"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:Samsung Galaxy S10+
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.0

**Describe the current behavior**
My app has crashed...
[code]

**Code to reproduce the is

[2019-12-26 13:06] Edward7Zhang commented on #35421
More info: If I'm not using ```options.setUseNNAPI(true);``` this setting for ```options``` everything will be fine, please tell me is this crash is Tensorflow's bug or SAMSUNG's OS bug?

[2019-12-26 13:14] abhinavsp0730 commented on #35380
Hey, @Red025  I will suggest you for optimizing your tf.lite model. You can look here for Model optimization.
https://www.tensorflow.org/lite/performance/model_optimization
I hope this is what you're looking for.

[2019-12-26 13:21] mdanatg commented on #35303
Note that `tf.shape` is dynamic and always returns a `Tensor` that will contain the actual shape at runtime. What you want in this case is the static shape: `print(x.shape)`.

The logic that `experimental_relax_shapes` uses is a bit convoluted and [hard to follow](https://cs.corp.google.com/aosp-master/external/tensorflow/tensorflow/python/eager/function.py?type=cs&q=_experimental_relax_shapes&g=0

[2019-12-26 13:21] #35303 closed

[2019-12-26 13:29] freedomtan commented on #35386
There are `android, android_arm (armeabi-v7a), android_arm64 (arm64-v8a), android_x86, and android_x86_64`. Check your `$ROOT_OF_TENSORFLOW_SORUCE/.bazelrc` or https://github.com/tensorflow/tensorflow/blob/master/.bazelrc for how they are defined.

[2019-12-26 13:32] freedomtan commented on #35421
Looks like you hit qualcomm (`qti` in your message) NNAPI driver's problem.

[2019-12-26 13:40] freedomtan commented on #35408
@stereomatchingkiss do you have Android NDK configured properly? if you are not sure, start from `./configure` again.

[2019-12-26 13:56] kacpo55 commented on #35411
I thought that I installed CPU version. I fixed it by unistalling python and tensorflow and then installing newer version of tensorflow. Now I'm using tensorflow 2.0.2.
Thanks @gadagashwini

[2019-12-26 13:56] #35411 closed

[2019-12-26 14:02] yxchng commented on #35176
@karimnosseir I have checked them but it is still too complicated for me. I have no idea of compilers and LLVM. It is not written in a way that is accessible to people with 0 knowledge of compilers.

[2019-12-26 14:09] KarimelQ commented on #35305
@amahendrakar This is the error log:
fatal error: mbed.h: No such file or directory
 #include <mbed.h>
          ^~~~~~~~
compilation terminated.
tensorflow/lite/micro/tools/make/Makefile:258: recipe for target 'tensorflow/lite/micro/tools/make/gen/mbed_cortex-m4/obj/tensorflow/lite/micro/mbed/debug_log.o' failed
make: *** [tensorflow/lite/micro/tools/make/gen/mbed_cortex-m4/obj/tensorflow/lite/mi

[2019-12-26 14:32] msteknoadam opened #35422 "x/Unknown while training the first epoch."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Code is ran on Google Colab (However, my machine is Windows 10 Version 1903 if that matters)
- TensorFlow installed from (source or binary): No knowledge, using the already installed version on Google Colab
- TensorF

[2019-12-26 14:41] jlebar commented on #25539
Hi, happy holidays.

I left the project a few months ago, you'll want to check with sanjoy@.

On Thu, Dec 26, 2019, 1:57 AM Colin <notifications@github.com> wrote:

[2019-12-26 14:41] WangShuaixian commented on #27490
I slove this problem by `pip uninstall tensorflow_estimator` then `pip install tensorflow_estimator==1.13.0`,my tensorflow_gpu version is 1.13.2

[2019-12-26 14:45] thincal opened #35423 "TF 2.0 XLA JIT reporting error: "./bin/ptxas not found""
**System information**
- OS Platform and Distribution: Ubuntu 16.04.6 LTS
- TensorFlow installed from (source or binary): pip3 install tensorflow-gpu
- TensorFlow version (use command below): 2.0.0
- Python version: 3.5.2
- CUDA/cuDNN version: 10.0
- GPU model and memory: TITAN Xp

**Describe the current behavior**

The test code is running with error as bellow:

[code]

**Describe the expected be

[2019-12-26 15:08] nphase commented on #35133
I have this same issue:

[code]

[2019-12-26 15:11] nphase commented on #35133
Checking out `36ef4264270e3815ea4b485a52e35e26e43e2112` per the other thread is a viable workaround.

[2019-12-26 15:14] johngrabner commented on #35364
I tried to build the docker from git but get the following error
[code]
Trying various things to fix the above, but no success so far.

[2019-12-26 16:14] dzilaan commented on #34550
still has the error when i used "pip3 --no-cache-dir install tensorflow"

[2019-12-26 16:17] dzilaan opened #35426 "Can't install tensorflow even with no cache dir "pip3 --no-cache-dir install tensorflow""
ERROR: THESE PACKAGES DO NOT MATCH THE HASHES FROM THE REQUIREMENTS FILE. If you have updated the package versions, please update the hashes. Otherwise, examine the package contents carefully; someone may have tampered with them.
    grpcio>=1.8.6 from https://www.piwheels.org/simple/grpcio/grpcio-1.26.0-cp37-cp37m-linux_armv7l.whl#sha256=e1478c82e0848fbdd790389c23fb94290da96447cc576679e9fdc16b7d4

[2019-12-26 16:34] jdduke commented on #35408
Also, if you're building for Android, using `./tensorflow/lite/tools/make/build_aarch64_lib.sh` is probably not what you want. You should run `/.configure`' per the suggestion from @freedomtan, and then use the shared libraries for either `lite:libtensorflowlite.so` or `lite/c:libtensorflowlite_c.so`.

[2019-12-26 16:40] jdduke commented on #31577
@renjie-liu can you take a look to see which operators would need to be updated to support this model (w/ 5/6D tensors)? Thanks.

[2019-12-26 16:42] mihaimaruseac commented on #33374
@debendraoli please read previous messages on the issue. Support for python3.8 is not yet released but will be done in the next year.

[2019-12-26 16:43] mihaimaruseac commented on #34976
Closing as there hasn't been any new activity.

[2019-12-26 16:43] #34976 closed

[2019-12-26 16:44] mihaimaruseac commented on #20444
@aynesss please read previous messages

In particular, your use case is covered by https://github.com/tensorflow/tensorflow/issues/20444#issuecomment-545036560 and #33374

[2019-12-26 17:00] mihaimaruseac commented on #26902
Closing due to no other updates

[2019-12-26 17:00] #26902 closed

[2019-12-26 17:01] mihaimaruseac commented on #27079
Please open a new issue if you have a problem, filling in the template.

For example, @solomonvimal mentions python 3.6, tf 2.0 whereas issue is about python 2.7, tf 1.13. Please don't conflate the issues, especially after the original is closed.

[2019-12-26 17:01] ankitAMD commented on #18736
my batch size is 1 but still i faces this problem.

[2019-12-26 17:01] sanjoy commented on #21710
Closing as per https://github.com/tensorflow/tensorflow/issues/21710#issuecomment-421607741.

[2019-12-26 17:01] #21710 closed

[2019-12-26 17:11] mihaimaruseac commented on #35369
Thank you for this issue. It will take a while but it looks like something we should be doing.

[2019-12-26 17:13] #20565 closed

[2019-12-26 17:13] #23595 closed

[2019-12-26 17:13] #23667 closed

[2019-12-26 17:13] #24094 closed

[2019-12-26 17:13] #24196 closed

[2019-12-26 17:13] #24362 closed

[2019-12-26 17:13] #24964 closed

[2019-12-26 17:16] sanjoy commented on #24362
Closing out this issue because it hasn't been updated in the last year.  Please reopen if this is still relevant.

[2019-12-26 17:16] sanjoy commented on #24964
Closing out this issue because it hasn't been updated in the last year.  Please reopen if this is still relevant.

[2019-12-26 17:16] sanjoy commented on #24196
Closing out this issue because it hasn't been updated in the last year.  Please reopen if this is still relevant.

[2019-12-26 17:16] sanjoy commented on #23595
Closing out this issue because it hasn't been updated in the last year.  Please reopen if this is still relevant.

[2019-12-26 17:16] sanjoy commented on #23667
Closing out this issue because it hasn't been updated in the last year.  Please reopen if this is still relevant.

[2019-12-26 17:16] sanjoy commented on #20565
Closing out this issue because it hasn't been updated in the last year.  Please reopen if this is still relevant.

[2019-12-26 17:17] mihaimaruseac commented on #35381
Couldn't reproduce on Linux but was able to reproduce in Windows.

It seems this comes from the way we generate the new pip packages (@yifeif, can you take a look?)

I'll create a `tensorflow-gpu-estimator` pip package to temporarily fix this.

[2019-12-26 17:22] stereomatchingkiss commented on #35408
Thanks to both of you, I build the gl_delegate successfully.

What should I do if this is not the right way?Or you mean I should run ./configure before I run "./tensorflow/lite/tools/make/build_aarch64_lib.sh"?

[2019-12-26 17:22] leofang commented on #29039
@sanjoy It should be fairly simple (for TF developers) to implement the proposed `__cuda_array_interface__` protocol. It is independent of the DLPack support and intended to be simpler than DLPack for both developers and users. CuPy, for example, has the support of both: https://docs-cupy.chainer.org/en/stable/reference/interoperability.html; if you need, I can point you to the actual implementati

[2019-12-26 17:23] jdduke commented on #35408
The main question is, do you *really* need a static library (generated by the Makefile script), or can you use a shared library (built via bazel)? `./configure` is necessary for bazel builds targeting Android, but shouldn't be required when using the Makefile-based build scripot.

[2019-12-26 17:26] mihaimaruseac commented on #35381
I created the `tensorflow-gpu-estimator` pip package and was able to `pip install tensorflow-gpu==2.1.0rc2` on Windows. @OoiSC, can you please try this too?

[2019-12-26 17:35] jdduke commented on #35028
Yep, that should do it! As noted, we'll try to add some more meaningful error messages when we encounter unaligned model buffers in the future. Apologies for the annoyance, these can be difficult bugs to diagnose unless you've hit them before =/.

[2019-12-26 17:35] #35028 closed

[2019-12-26 17:37] 0x0badc0de opened #35430 "ReLU layer doesn't handle integer dtype"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-12-26 17:40] stereomatchingkiss commented on #35408
No. I use the Makefile script because
the [doc](https://www.tensorflow.org/lite/guide/build_arm64) at here tell us to build the lib like that, not  a recommend way?

[2019-12-26 17:43] JesterOrNot opened #35431 "Unable to build"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 19.0
- Mobile device (e

[2019-12-26 17:58] sanjoy commented on #29039
Can you point me to the spec for `__cuda_array_interface__`?

How so?  In particular, IIUC DLPack tensors do not have the "mask" attribute (and so should be easier to support), although that seems to be optional in `__cuda_array_interface__` because Numba does not support it?

This sounds very similar to DLPack actually.

I'm wondering if we can should build support for `__cuda_array_interface__`

[2019-12-26 17:58] jdduke commented on #35408
Ah, right, that guide is generally for *non-Android* ARM64 builds, where it's more difficult to cross-compile with bazel. We're working on a revamped C++ guide, for Android, which should make it easier to get started if you prefer or need to use the C/C++ APIs on Android, rather than the existing prebuilt Java AAR libs.

[2019-12-26 18:10] angerson commented on #35364
@johngrabner Thanks for your report. #35367 should have fixed this -- it seems like the images were never updated to support CUDA 10.1, which TensorFlow 2.1 requires. Can you try `git pull`?

I'm waiting on some updates to our internal CI to be able to push the new images. Hopefully, they'll be available before the end of the day.

[2019-12-26 18:11] robieta commented on #33723
Please provide a minimal and hermetic repro of the issue, rather than the full model code.

Nothe that you can also use the virtual device configuration described in https://www.tensorflow.org/api_docs/python/tf/config/experimental/set_virtual_device_configuration to reproduce multi-device mirrored strategy (in this case 2 CPU) in colab.

[2019-12-26 18:21] jdduke commented on #31114
@alexeyvasilyev the fix did not make it into 2.0, but it will be in the upcoming 2.1 release (expected to be finalized soon). In the meantime, please try the nightly build.

[2019-12-26 18:24] robieta commented on #33656
[code]

TensorFlow logs device connectivity, and what this is saying is that there is no peer-to-peer connections on your GPUs. For reference on a 4xV100 cloud instance the topology is:
[code]

NCCL is Nvidia's library for cross device reduction. The main point is to take advantage of the peering connections and bypass the CPU / PCI, so even if you got it working (I suspect that you still have a m

[2019-12-26 18:28] jdduke commented on #34926
Just to confirm, are y'all using the latest master checkout? or the 2.0 branch?

[2019-12-26 18:31] jdduke commented on #34926
@terryheo we might look to the core TensorFlow libs for guidance here, see also https://github.com/tensorflow/tensorflow/blob/master/tensorflow/BUILD#L728

[2019-12-26 18:36] stereomatchingkiss commented on #35408
Thanks, how long do you think this would come out?

I develop cross-platform app by Qt5, so c/c++ api are much easier to use than java api for me

[2019-12-26 18:39] sanjoy commented on #32480
Closing as per this comment.

[2019-12-26 18:39] #32480 closed

[2019-12-26 18:43] sanjoy commented on #25187
I believe this was fixed in https://github.com/tensorflow/tensorflow/commit/e51fa30400b3a469b03111b25344bc47bdff96bd.  Please reopen if not.

[2019-12-26 18:43] #25187 closed

[2019-12-26 18:47] mihaimaruseac commented on #35431
Looks like your cloud instance closed connection, not an issue of TF itself.

[2019-12-26 18:49] jonanem opened #35432 "TypeError: Expected Operation, Variable, or Tensor, got None while saving tensorflow model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary): Source
- TensorFlow version: '2.0.0'
- Python version: Python 3.7.5 /Conda
- CUDA/cuDNN version: cuda10.0_0/cudnn-7.6.5
- GPU model and memory: Tesla V100-PCIE /

[2019-12-26 18:52] sanjoy commented on #24695
Removing comp:gpu since this does not look like a GPU specific issue.  Please add it back if you disagree.

[2019-12-26 19:03] leofang commented on #29039
All needed information is provided in the original post above. The spec is
here:
http://numba.pydata.org/numba-doc/latest/cuda/cuda_array_interface.html

My impression is that DLPack needs a lengthier code than CUDA Array

I took a quick look at DLPack spec and I think they are quite similar as
you said. A few minor differences I can think of are that the CUDA Array
Interface has treatments for ze

[2019-12-26 19:11] sanjoy commented on #26969
Duplicate of https://github.com/tensorflow/tensorflow/issues/31166

Doesn't reproduce with 2.1.0-dev20191226

[2019-12-26 19:11] #26969 closed

[2019-12-26 19:12] sanjoy commented on #26359
@nluehr Can you please help triage this?

[2019-12-26 19:13] Gaurav7004 commented on #35431
please try once with older versions of python...

[2019-12-26 19:16] jonanem commented on #35432
The training of the model is successful, but getting errors only while saving the model

[2019-12-26 19:17] sanjoy commented on #31022
Duplicate of https://github.com/tensorflow/tensorflow/issues/31166

Does not reproduce with tf-nightly that uses CUDA 10.1

[2019-12-26 19:17] #31022 closed

[2019-12-26 19:27] jakirkham commented on #29039
IIRC cuDF uses the mask. Though end users could fill in these values or extract the useful entries if needed.

In any event for consuming it’s probably reasonable for you to raise an error if the mask is non-trivial. As far as producing would just leave the mask out.

cc @kkraus14

[2019-12-26 19:28] anj-s commented on #35415
olegmyrk@ Thank you for posting a detailed summarization! To debug performance issues such as the one above we need xprof traces. Can you post the following xprof traces:
trace1: TF 1.x without distribution strategy
trace2: TF 2.x without distribution strategy
trace3: TF2.x with 1 GPU Mirrored strategy
Does the performance of trace1 and trace2 match? If they do we can then look at trace2 and trace

[2019-12-26 19:42] freemanliu commented on #35133
Another workaround is Java. It is old and not as fun to work with as go.
But kotlin comes to help. Actually I found kotlin has a few features making
it even more fun to work with than go, e.g., null handling, exception, and
of course generic. Besides, I can use Gradle to manage packages and
dependencies. Everything works smoothly so far.

On Fri, Dec 27, 2019, 2:11 AM Wilfried Schobeiri <notificat

[2019-12-26 19:54] anj-s commented on #35356
Duplicate of #30847

[2019-12-26 19:59] sanjoy commented on #27623
This is fixed in tf-nightly (could have been a TF fix or because we're now using CUDA 10.1).

On TF 2.0.0:

fp16: 81.29 tflops
fp32: 13.12 tflops

On TF 2.1.0-dev20191226

fp16: 93.51 tflops
fp32: 13.58 tflops

All numbers on Titan-V.

[2019-12-26 19:59] #27623 closed

[2019-12-26 19:59] sanjoy commented on #27623
@zkzhu0110 please open a separate github issue for this if your question is still relevant.

[2019-12-26 20:06] sanjoy commented on #30207
Looks like a duplicate https://github.com/tensorflow/tensorflow/issues/24496.

Closing this issue for now, let's use https://github.com/tensorflow/tensorflow/issues/24496 as the canonical issue for this problem.  Please reopen if you don't think this is the same as https://github.com/tensorflow/tensorflow/issues/24496.

[2019-12-26 20:06] #30207 closed

[2019-12-26 20:10] sanjoy commented on #24496
Can you please install tf-nightly (so that it picks up the [commit](https://github.com/tensorflow/tensorflow/commit/497d9538e97ca00b045f59c8be93d2492b3e436c) that adds logging) and run with the enviroment variable `TF_CPP_VMODULE` set to `gpu_device=5`?  That should print out two lines like

[code]

Can you please report these numbers here?

[2019-12-26 20:12] alextp commented on #35416
This is an internal TF bug.

Can you give me a self-contained example to reproduce? Like, paste the code you need to trigger the error in a colab.research.google.com ?

[2019-12-26 20:21] anj-s commented on #35404
x7night@ The reason the train step works is because it uses the `compute_loss` function and the test step uses a `loss_object`. Can you provide details about how you create your `loss object`? I was not able to reproduce this issue with a simple loss_object that i created.
Also, can you augment your above snippet with where you open the strategy scope, build your model, create losses etc?

[2019-12-26 20:56] synap5e commented on #14607
Having to include the full tensorflow package to preform inference in a windows app is not ideal for me, so I'm looking forward to this issue being resolved.

[2019-12-26 21:15] nphase commented on #35133
Unfortunately rewriting an entire application into another language is not the most convenient option..

[2019-12-26 21:28] ymodak commented on #35251
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2019-12-26 21:28] #35251 closed

[2019-12-26 21:28] bazel-flag-bot opened #35433 "Flag --incompatible_no_implicit_file_export will break TensorFlow in a future Bazel release"
Incompatible flag --incompatible_no_implicit_file_export will be enabled by default in a future Bazel release [1], thus breaking TensorFlow.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/10225

Please check the following CI builds for build and test results:

* <a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/361#3e0dba20-d84a-4394-bbe8-415585

[2019-12-26 21:36] fadelkoto commented on #35363
Hey Guys, thank you for the responses. I checked again my code and I skipped the code for the image normalization:

train_images = (train_images - 127.5) / 127.5 # Normalize the images to [-1, 1]

Thank you.

[2019-12-26 21:36] #35363 closed

[2019-12-26 21:37] sanjoy commented on #30773
Can you please provide the amount of memory your GPU has?  You can discover this by running `nvidia-smi`.

@reedwm any guesses on what's going on here?

[2019-12-26 21:48] johngrabner commented on #35364
Looks like image got uploaded
[code]

Trying it out now

[2019-12-26 21:55] johngrabner commented on #35364
I think it is working, but there is a warning on the second line

2019-12-26 21:53:03.304048: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libnvinfer.so.6
2019-12-26 21:53:03.304418: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'libnvinfer_plugin.so.6'; dlerror: libnvrtc.so.10.1: cannot open sh

[2019-12-26 22:05] sanjoy commented on #35032
I was able to reproduce this on a TitanV.  This fails with TF 2.0.0 but passes with tf-nightly (2.1.0-dev20191226).  It could have been a TF issue that got fixed or a CUDA issue that was fixed in 10.1 (2.0.0 uses CUDA 10, TF nightly uses CUDA 10.1).

I'm closing this for now, please reopen if there is something more for us to do here.

[2019-12-26 22:05] #35032 closed

[2019-12-26 22:15] sanjoy commented on #34428
Closing since IIUC there is nothing for us to do here as per comments above..  Please reopen if you disagree.

[2019-12-26 22:15] #34428 closed

[2019-12-26 22:20] sanjoy commented on #34112
Can this ever happen in a _correct_ program?

[2019-12-26 22:22] reedwm commented on #30773
@sanjoy not sure. This is probably a memory leak. I can reproduce by building and running the model in a loop. On my 12GB Titan V, I got an OOM after 96 iterations.

@robieta any known GPU memory leaks? If not, I can take a look.

[2019-12-26 22:23] johngrabner commented on #35364
It there a standard test you normally run.

The sample code I am using is not happy with rc2

sudo docker exec -it 282c2ff49852 /bin/bash

________                               _______________
___  __/__________________________________  ____/__  /________      __
__  /  _  _ \_  __ \_  ___/  __ \_  ___/_  /_   __  /_  __ \_ | /| / /
_  /   /  __/  / / /(__  )/ /_/ /  /   _  __/   _  / / /_/ /_ |/

[2019-12-26 22:23] freemanliu commented on #35133
Yes, I just started. Tf go should have some basic integration test.

On Fri, Dec 27, 2019, 8:15 AM Wilfried Schobeiri <notifications@github.com>
wrote:

[2019-12-26 22:26] sanjoy commented on #34071
@VoVAllen I'd be happy to review PRs adding documentation / logging that would have helped you figure this out more easily.

CC @jaingaurav

[2019-12-26 22:43] ymodak commented on #35184
I was able to run your script successfully in TF 1.15 and TF 2.1.0-rc1. Can you please confirm your TF version? Additionally if using TF Probability, may state its version too?
[code]

[2019-12-26 22:46] johngrabner commented on #35364
is there a way for me to pull down #35434 and see if it fixes the issue?

[2019-12-26 23:06] johngrabner commented on #35364
I don't think that fix is sufficient.

I added the same lines you added but to my dockerfile
[code]

to make sure docker is clean, rebooted and did
`sudo systemctl restart docker`

Then cuda errors

[code]

[2019-12-26 23:20] jburnim opened #35435 "tf.math.tanh can produce values outside of `[-1, 1]`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  https://colab.research.google.com/
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0-rc2
- Python version: 3.6.9

**Describe the current behavior**

[code]

**De

[2019-12-26 23:30] anj-s commented on #35347
olegmyrk@ Can you create a variable with synchronization=ON_READ and aggregation=ONLY_FIRST_REPLICA? This will allow you to create variables that are not synchronized every time you update them. They are called SyncOnRead variables and are synchronized when you read the variable. By specifying ONLY_FIRST_REPLICA you can ensure that you only read from the first device. An example of this can be fou

[2019-12-26 23:39] anj-s commented on #35384
KANGRuipeng @ can you point me to the specific PR/bug that was fixed for TF 2?
Can you add the end to end example(input data included) which reproduces this issue? I am unable to repro it with the example I have. Thanks!

[2019-12-26 23:39] ymodak commented on #34773
This is fixed in tf-nightly version tested with '2.1.0-dev20191226'

[2019-12-26 23:47] GeorgeS2019 commented on #35405
@ravikyram I read with excitement of the latest features of tensorflow 2.0. With all the problems users here feedback regarding building tensorflow 2.0, we would like to see a commitment to Windows platform. We need soon the compiled version of tensorflowlib 2.0.0. We understand that perhaps we may need to wait for tensorflow 2.1, we are curious to compare tensorflowlib 1.15 and 2.0.0.

==> please

[2019-12-26 23:51] anj-s commented on #35298
olk@ TensorFlow by default maps all the GPU memory on all available GPUs for a given process. To limit the number of GPUs you want to use you can use the `tf.config.experimental.set_visible_devices` option. There is also an option for memory growth. More details can be found [here](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth).

[2019-12-27 00:01] gowthamkpr commented on #35413
@olegmyrk I am using tf-nightly and I am not running into any error. Please take a look at the [gist](https://colab.sandbox.google.com/gist/gowthamkpr/7464f8e197fb9f2917f07639ce819aa8/style_transfer.ipynb). Thanks!

[2019-12-27 00:03] gowthamkpr commented on #35387
@crystalwan Please post this question in stackoverflow as this is not related to bug/performance, feature request, build/install related issue. Thanks!

[2019-12-27 00:03] #35387 closed

[2019-12-27 00:19] gowthamkpr commented on #35307
@JonLeeCSDN did the above comment help you in resolving the issue. Thanks!

[2019-12-27 00:23] reedwm commented on #35379
Thank you for filing this and the short example to reproduce. I will have a fix soon. In the future, I plan on testing the official models with SavedModel to ensure issues like this do not occur in the future.

[2019-12-27 00:23] stevenleeS0ht opened #35438 "Add wheel for python3.8 on pypi"
Currently, there is no wheel on pypi for python 3.8

I strongly hope that there will be support for latest python version.

[2019-12-27 00:27] gowthamkpr commented on #35068
@gkennos Please post this question in stack overflow as this question is not related to bug/performance, build/install, feature request or docs related issue. Thanks!

[2019-12-27 00:27] #35068 closed

[2019-12-27 00:28] johngrabner commented on #35364
### Still crashes

[code]

after adding the following to my dockerfile (ie to match the fixes you shared)

[code]

### Maybe this code is stressing  cuda differently

I tried a simple 10 line nmist example and it works correctly with gpu, even before the last change and with only the first change.

The code that is causing the above error is sourced from https://github.com/arthurflor23/handwritten

[2019-12-27 00:31] anj-s commented on #35226
manish-kumar-garg@ Is this the complete stack trace? Does the failure happen at the `tape.gradient` call? Can you also provide a smaller reproducible snippet which will help in debugging?

[2019-12-27 00:40] anj-s commented on #34426
@burnmg friendly ping. Let us know if you were able to resolve this issue. Thanks!

[2019-12-27 00:49] #35364 closed

[2019-12-27 01:00] tanzhenyu commented on #34021
This does seem like a bug

[2019-12-27 01:03] tanzhenyu commented on #34029
https://github.com/tensorflow/tensorflow/issues/33247

[2019-12-27 01:14] anj-s commented on #35226
It looks like the issue is how you are using `experimental_run_v2`. Can you specify the args argument like this:
`return strategy.experimental_run_v2(self.train_step, args=((inp, targ, xlen, ylen)))`

[2019-12-27 01:28] johngrabner commented on #35364
still broken

[2019-12-27 01:44] angerson commented on #35364
The original issue of missing docker images is now resolved. For other build problems, please file a new issue.

[2019-12-27 01:45] RajeshThallam commented on #25959
Closing the issue as docs are updated.

[2019-12-27 01:45] #25959 closed

[2019-12-27 01:58] johngrabner commented on #35364
A workaround for second issue was made available by https://github.com/tensorflow/tensorflow/issues/25446.

Looks like tf 2.0 stresses cuda more.

https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth

So any psudo complex tf using rtx video cards will need this as the first few lines of code.

[code]

[2019-12-27 01:59] #35379 closed

[2019-12-27 02:13] neil-119 commented on #25363
We trained a model with the `tf.keras` API and created a SavedModel with Keras. We then tried to deploy it to tf-serving, but we're getting:
[code]
I verified that the SavedModel exists in that path. It was exported like so:
[code]
Can someone confirm whether this issue was resolved or not?

[2019-12-27 02:26] renjie-liu commented on #31577
Sure, will take a look.

On Fri, Dec 27, 2019 at 12:40 AM Jared Duke <notifications@github.com>
wrote:

--
Renjie Liu

renjieliu@google.com
+1 (650) 253-4359

[2019-12-27 02:27] renjie-liu commented on #31577
Hi, wonder can you explain your usage a little bit? is 5D/6D necessary?

Thanks!

[2019-12-27 02:28] yourtheron commented on #19241
I have a very similar, but it is related to saving a custom model as well.
I built a custom layer that was applied in a custom model as follows
[code]

Then  I set it up and tried to use a pair of dummy tensors to set its inputs before saving the model
[code]
So far, it went well. but when I further call
[code]

The following output is given
[code]
I cannot understand why, when saving a model, it

[2019-12-27 03:09] yourtheron commented on #19241
@alextp . Also, related to the issue in [another thread #27120](https://github.com/tensorflow/tensorflow/issues/27120)
I tried to put
[code]
directly in the SimpleUNet.call() method, tf gives me a
[code]
May I learn the root cause and how to fix it? Thanks

[2019-12-27 03:31] oanush commented on #35422
@msteknoadam ,
Issue seems to be fixed in the latest `tf-nightly 2.1.0.dev20191226`,can you try using that version?Thanks!

[2019-12-27 03:39] gsimko opened #35439 "tf.metrics.Mean* metrics miscalculated"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-12-27 03:42] MrCrazyCrab opened #35440 "could not find 'TrtGraphConverter"
i want to create a TensorRT inference graph directly from my SavedModel. However i met a problem
"from tensorflow.python.compiler.tensorrt import trt_convert as trt
ModuleNotFoundError: No module named 'tensorflow.python.compiler"
when i change it into "from tensorflow.contrib.tensorrt.python import trt_convert as trt" i met another problem that "AttributeError: module 'tensorflow.contrib.tensorrt

[2019-12-27 03:50] oanush commented on #35430
@0x0badc0de ,
I was able to replicate the issue for dtype='int' , works fine for 'float', [gist](https://colab.sandbox.google.com/gist/oanush/2ae5d64fed93e8376bc70c37dea8e35f/35430.ipynb) of colab replicating the issue.

[2019-12-27 03:55] ashutoshbsathe commented on #35239
@fchollet (correct me if I'm wrong) the final function that sets the values of weights in keras is [this](https://github.com/tensorflow/tensorflow/blob/ea8b6de39fc208619281f34163952ccaa134c04c/tensorflow/python/keras/saving/hdf5_format.py#L639). I can see that it contains `layer_names` which holds the list of layers for which the API will try to load weights for.

IMO we can simply return this lis

[2019-12-27 03:59] ravikyram commented on #35423
@thincal
I have tried on colab with TF version 2.0 and i am not seeing any issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/314697edacf06358aab91a9da67fb807/untitled507.ipynb). Thanks!

[2019-12-27 04:11] sanjoy commented on #29039
Thanks!  I did see that link before but I didn't realize that that was the reference spec.

Ok.  Do you think it makes sense to make the [DLPack RFC](https://github.com/tensorflow/community/pull/180) a joint RFC (if the DLPack authors are OK with this)?

That's completely fair.  We can of course start with something simple and add more features and optimizations only when there is a clear need.

H

[2019-12-27 04:28] ravikyram commented on #35440
@MrCrazyCrab

I tried in colab with TF 1.13.1 with `from tensorflow.contrib.tensorrt.python import trt_convert as trt`and i am not seeing any issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/729d680a9bdc44c92fb2edf62a72605f/untitled509.ipynb). Thanks!

[2019-12-27 05:05] ashutoshbsathe commented on #35439
I think the behavior is expected since `update_state` accumulates ([\[1\]](https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/keras/metrics.py#L213), [\[2\]](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/MeanAbsoluteError?version=stable#update_state)) the errors. You can verify this by checking the value of `m.total` variable afte

[2019-12-27 05:05] byronyi commented on #35379
@reedwm @goldiegadde shall we apply the fix above to r2.1? Mixed precision along with XLA improves training performance dramatically and we’d really like to use it with our e2e training/inference pipeline

[2019-12-27 05:14] olegmyrk commented on #35347
Do you think it will help if I read and update the variables on every training step? It's just that the variables are deterministic functions of network weights, but not inputs.

[2019-12-27 05:23] wentixiaogege commented on #35423
same issue with cudnn v7.6.5 ;upgrate from v7.5.0

[2019-12-27 05:29] gadagashwini commented on #30113
@53RT, Looks like its fixed in TF-nightly (2.1).
Please find the [gist](https://colab.sandbox.google.com/gist/gadagashwini/7bd1e30565e22d6f8a9087006016e52f/untitled327.ipynb) and let us know. Thanks!

[2019-12-27 05:32] gadagashwini commented on #30184
@sylee957, Associated PR has been merged. Can you confirm if the issue is resolved. Thanks!

[2019-12-27 05:38] jnd77 commented on #35440
@MrCrazyCrab If am not mistaken , TrtGraphConverter did not exist yet in TF 1.13. You would need to update TF to 1.15 or 2.0 I think.
With TF 1.13, you can use the "old" way (which is no longer documented on Nvidia website):
[code]

create_inference_graph has options very similar to TrtGraphConverter

[2019-12-27 05:40] MrCrazyCrab commented on #35440
@jnd77 thank you, i would try later.

[2019-12-27 05:47] thinksmert commented on #35377
Hi,
  I try to build tensorflow-lite-hexagon.aar with the lasted code from github,but it always could not be successful and gave the different errors each times.When google can provide the stable release?Thanks

[2019-12-27 06:10] olegmyrk commented on #35413
Here is the smallest code that can reproduce the bug in v2.1.0-rc1-58-g9837ece 2.1.0-rc2:
[code]

It is different from what my codes does but results in the same error:
[code]

[2019-12-27 06:21] ravikyram commented on #35432
@jonanem

Can you please help us with minimal standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2019-12-27 06:32] gadagashwini commented on #35426
@dzilaan, Please fill the [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2019-12-27 06:38] gadagashwini commented on #35435
@jburnim, Its fixed in latest Tf-nightly (2.1.0.dev20191226). It will be fixed in Future release 2.1.
Please find the [gist](https://colab.sandbox.google.com/gist/gadagashwini/3516941d5de628801730adeb5e632b56/untitled328.ipynb). Thanks!

[2019-12-27 06:39] WakerKQ commented on #30453
same issue with tensorflow 1.14
    ValueError: Column dtype and SparseTensors dtype must be compatible. key: adt_sev_flag, column dtype: <dtype: 'int64'>, tensor dtype: <dtype: 'float64'>

[2019-12-27 06:40] WakerKQ commented on #30453
how did you solved it?

[2019-12-27 06:46] gadagashwini commented on #32901
@Donald-Su ,
Please post a new issue and provide all the information asked by the template. We ask this because it's more efficient to have one thread dedicated to one issue. Thanks!

[2019-12-27 07:05] jiankaiwang commented on #28669
The attribute `output_shapes` was deprecated, you can access the output shapes via `tf.compat.v1.data.get_output_shapes()`.

[2019-12-27 07:06] HStuart18 commented on #35407
Ok I fixed the issue after many hours. Replacing

`from keras.optimizers import Adam`

with

`from tensorflow.keras.optimizers import Adam`

did the trick. I don't know why this worked, but I would suggest that this ambiguity be cleared for others.

[2019-12-27 07:48] yourtheron opened #35441 "kears.layers.concatenate Does Not Work when Saving a Model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): A custom model

[2019-12-27 07:49] yourtheron commented on #19241
@alextp It is actually a bug, I think. Please see [my bug report](https://github.com/tensorflow/tensorflow/issues/35441)

[2019-12-27 08:00] yourtheron commented on #29132
@jvishnuvardhan @Ja1r0 's solutions works, and I also adopt it. But if decorating with @tf.function, running build_model(...) will raise error. So it seems that one may firstly does not decorate it, get those definite shapes in the NN. Once the architecture is fixed, one may decorate it in training and testing etc. Is that an acceptable work-around?

[2019-12-27 08:13] Maheshiitmandi commented on #6011
Lets say input is like a placeholder of unknown shape eg. input_= tf.placholder(tf.float32, shape=(batch_size, None, 3,1))
so shape[1]/n will not work. If you have any idea please share.

[2019-12-27 08:17] olk commented on #35298
@ anj-s c TF allocates 100% memory on **both GPUs** if I use **OneDeviceStrategy()** !

[2019-12-27 08:25] oanush commented on #35193
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-27 08:25] #35193 closed

[2019-12-27 08:26] oanush commented on #35209
@xixiaoyao ,
Any update on the issue?Thanks!

[2019-12-27 08:33] elzino opened #35442 "[TF 2.0]ParameterServerStrategy and CentralStorageStrategy doesn't work with Keras when using GPU, even though it works well with CPU."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I used code in

[2019-12-27 08:35] WakerKQ opened #35443 "ValueError: Column dtype and SparseTensors dtype must be compatible. key: adt_sev_flag, column dtype: <dtype: 'int64'>, tensor dtype: <dtype: 'float32'>"
I use TF1.14 ane keras 2.2.4 , code and error is :

from future import absolute_import, division, print_function

import numpy as np
import pandas as pd
from tensorflow import feature_column
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

URL = 'https://storage.googleapis.com/applied-dl/heart.csv'
dataframe = pd.read_csv(URL)
d

[2019-12-27 08:37] anj-s commented on #35298
olk@ what is the behavior when you don't use OneDeviceStrategy? Also how do you determine memory allocation?

[2019-12-27 08:48] oanush commented on #35438
@stevenleeS0ht ,
Hello, We can expect python 3.8 support with TF 2.2.
Please check  [#33374 ](https://github.com/tensorflow/tensorflow/issues/33374#issuecomment-562663993)Thanks!

[2019-12-27 08:48] gadagashwini commented on #35407
@HStuart18, `from keras.optimizers import Adam` uses tensorflow as backend. Instead you can use Tensorflow.keras apis.
Use these packages
[code]
Thanks!

[2019-12-27 08:48] anj-s commented on #35347
olegmyrk@ Using MirroredVariables with ONLY_FIRST_REPLICA should have resulted in a broadcast of values from the first replica to all other replicas when you called `u.assign(u_hat)`. Using SyncOnRead variables will help you avoid this broadcast of values. However I think I am not sure how this is resulting in additional allreduce calls. Are we increasing the number of trainable variables somehow

[2019-12-27 08:49] olk commented on #35298
@anj-s Using OneDeviceStrategy(device='/gpu:1') allocates memory 11GB on gpu:0 and gpu:1. The same happens if I don't use the code from above without strategy. The resource utilization is shown via nvtop and/or nvidia_smi.

[2019-12-27 08:52] gadagashwini commented on #35407
@HStuart18, Tenosrflow 2.0 doesn't support multi-backend keras. Instead use Tensorflow.keras.

[2019-12-27 08:56] hoangcuong2011 opened #35444 "Bug with Adam keras optimizer"
I wanted to report a potential bug of Adam at line: https://github.com/tensorflow/tensorflow/blob/9bfa68666e16d6327cb5cd5e04d25f94248629b2/tensorflow/python/keras/optimizer_v2/adam.py#L164
[code]

In the beginning, self.iterations would return 1 instead of 0. With this, local_step has a value of 2, and not 1. From [Adam](https://arxiv.org/pdf/1412.6980.pdf) paper, I think time step t (which is loc

[2019-12-27 08:57] anj-s commented on #35298
Just to clarify the behavior is the same with and without strategy. Did using tf.config.experimental.set_visible_devices help?

[2019-12-27 08:58] sylee957 commented on #30184
I can confirm that this had been fixed

[2019-12-27 08:58] #30184 closed

[2019-12-27 09:08] ravikyram commented on #33279
@dreddc
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-27 09:08] #33279 closed

[2019-12-27 09:09] ravikyram commented on #34665
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-27 09:09] #34665 closed

[2019-12-27 09:10] ravikyram commented on #34702
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-27 09:10] #34702 closed

[2019-12-27 09:11] HStuart18 commented on #35407
Would you mind please clarifying the difference between `Keras` and `Tensorflow.Keras`? What do you mean by “multi-backend Keras”? I was under the impression that Keras would exclusively use Tensorflow as  a backend.

[2019-12-27 09:28] hoangcuong2011 commented on #35444
OK after some investigation I found it is not the case, and self.iterations return 0 in the beginning.

I have another question, though: Why self.iterations and local_step always change between a batch_update.
Here is a code to verify this, where I print local_step and self.iterations twice (on_batch_begin and on_batch_end)

[code]

[2019-12-27 09:28] #35444 closed

[2019-12-27 09:34] olk commented on #35298
The same with and without strategy - I would expect that TF allocates memory only at the gpu:0 as it is specified by **OneDeviceStrategy(device='/gpu:0'))**. Otherwise I would get problems if I run a second TF app that uses the other second GPU via **OneDeviceStrategy(device='/gpu:1'))** (and both apps try to allocate memory on both GPUs).

[2019-12-27 09:36] TheArheus commented on #34926
@jdduke yeah, definetly used 2.0 new branch

[2019-12-27 09:47] gadagashwini commented on #35407
@HStuart18, Keras supports backends such as Tensorflow, Theano, CNTK.
For more read [here](https://www.pyimagesearch.com/2019/10/21/keras-vs-tf-keras-whats-the-difference-in-tensorflow-2-0/). And also take a look at this [link](https://www.tensorflow.org/guide/keras). Thanks!

[2019-12-27 09:56] gadagashwini commented on #34760
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-27 09:56] #34760 closed

[2019-12-27 09:57] gadagashwini commented on #34984
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-27 09:57] #34984 closed

[2019-12-27 10:01] gadagashwini commented on #35132
@kindernerd, Can you please let us know if you are happy to close if its duplicate of [#34942](https://github.com/tensorflow/tensorflow/issues/34942) issue.

[2019-12-27 10:02] gadagashwini commented on #35153
@zxgm, Was the link resolved your issue.Thanks!

[2019-12-27 10:03] gadagashwini commented on #35156
@sweetxiaoqizi, Is this still an issue!

[2019-12-27 10:04] Kuloud opened #35445 "TfLiteGpuDelegate Init: FULLY_CONNECTED: Amount of input data should match weights width"
**System information**
- Have I written custom code :
[code]

[code]

- Mobile device :
MI 8 / MIUI 11.0.4

- TensorFlow installed from (source or binary):
implementation 'org.tensorflow:tensorflow-lite:2.0.0'
implementation 'org.tensorflow:tensorflow-lite-gpu:2.0.0'

**Describe the current behavior**
crashed when load the attached file with 'GpuDelegate'

**Describe the expected behavior**
load t

[2019-12-27 10:04] gadagashwini commented on #35164
@ShibaPrasad, Any update on this issue!

[2019-12-27 10:06] CNugteren commented on #35032
Thanks @sanjoy. Just for your information: I also tried with my own compiled version of TF 1.15.0 with the latest CUDA 10.1 and that didn't solve the issue, so I doubt that that changed it. But I'm glad it is fixed in TF 2.1. So that also means you won't backport this fix to the 1.x branch (e.g. 1.15.1)?

[2019-12-27 10:19] loveychen opened #35446 "Failed to load model with scalar inputs"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

- OS Platform

[2019-12-27 10:37] #35407 closed

[2019-12-27 10:59] kindernerd commented on #35132
ok, sorry for the  duplication

[2019-12-27 11:00] #35132 closed

[2019-12-27 11:42] tejaslodaya opened #35447 "Chain multiple estimators to create a single SavedModel"
Chain multiple estimators to create a single SavedModel with a single serving file/output.

Suppose I have 3 estimators with me, first is BoostedTrees, who's output I want to use as input into DNNClassifier, and the output of which I want to use in my custom Estimator.

Is there a way to chain output/input of each other to create a **mega** estimator of sorts.

Please help me out here.

[2019-12-27 11:43] tejaslodaya commented on #35447
@gadagashwini @ymodak @omalleyt12 👆

[2019-12-27 11:49] zxgm commented on #35153
The ide not resolve my problem, but I have found other method.Thanks a lot!!!

[2019-12-27 11:49] #35153 closed

[2019-12-27 12:29] tensorflowbutler commented on #33435
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-27 12:29] tensorflowbutler commented on #35055
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-27 12:29] tensorflowbutler commented on #34962
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-27 12:29] tensorflowbutler commented on #34317
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-27 12:29] tensorflowbutler commented on #33320
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-27 12:36] dhakrasp opened #35448 "tf.keras.layers.Reshape not working as expected"
**System information**
- Ubuntu 18.043 LTS
- TensorFlow installed using pip
- TensorFlow version '2.0.0' (CPU version)
- Python version 3.6.9

**Describe the current behavior**

The sample code show below give following (partial) output and exception:

[code]

**Describe the expected behavior**

Defined Reshape layer should reshape the input of shape (400, 100) to a tensor of shape (2, 200, 100)
W

[2019-12-27 12:37] devarajnadiger commented on #31224
Hi,
tf version-1.13
i created one tf lite model, to load this model i am using tensorflow code i.e

from __future__ import print_function
from absl import flags
import numpy as np
import tensorflow as tf

flags.DEFINE_string('model_path', None, 'Path to model.')
FLAGS = flags.FLAGS

def main(_):

  flags.mark_flag_as_required('model_path')

  # Load TFLite model and allocate tensors.
  interpreter

[2019-12-27 12:48] aliutkus commented on #33131
This is a dramatic flaw of the framework that you can't do item assignment

[2019-12-27 13:02] #35426 closed

[2019-12-27 13:27] aboerzel opened #35449 "Error converting my model trained with TF 2.1rc1 to TFLite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary):  conda
- TensorFlow version (or github SHA if from source): 2.1.0-rc1

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

[download model](https://drive.google.com/file/d/18kaawo6lfOd9

[2019-12-27 14:03] mpariente commented on #35055
Yes but I didn't take time to make a minimal working example so I'll close it, I'll reopen it maybe later.

[2019-12-27 14:03] #35055 closed

[2019-12-27 14:10] SmileTM commented on #35226
Hi，my code in the here. Maybe ,it looks not beautiful.
I hope you can give some advice to solve this error.
Thank you!!

https://github.com/SmileTM/Debugging/tree/master/NMT_attention

[2019-12-27 14:21] thincal commented on #35423
And we install the cuda/cudnn in another folder then configure the PATH and LDPATH as bellow:

[code]

Is this caused by a similar issue that [ptxas ignores the PATH](https://github.com/tensorflow/tensorflow/issues/33375) ?

[2019-12-27 14:56] liyxi commented on #24496
Sorry, my current code is not compatible with tf 2.0 (I use 1.15), I am trying to update it. Please give me some time.

[2019-12-27 15:43] sanjoy commented on #35032
I don't think there are any plans for a 1.15.1 release (CC @goldiegadde ).

And at this point I'm not even sure what change fixed this, given that you're saying it wasn't the CUDA upgrade.

[2019-12-27 15:48] leofang commented on #29039
I have no objection for any work plan as long as the support can be added 🙂 But it’d be nice to get them on board for this.

I incline to simply say the user is responsible to ensure the memory is ready at the interoperating point. However, if TF does not provide a public handle for users to sync the TF internal stream, then yes, I suppose this is the right thing to do. At least this would work wi

[2019-12-27 16:15] msteknoadam commented on #35422
Uhm, sorry but no, it's still the same. I made sure that I was on version 2.1.0-dev20191226 and it still shows like "x/Unknown"

[2019-12-27 16:35] alextp commented on #19241
@yourtheron please file a separate issue for your problem which looks unrelated to this one

[2019-12-27 16:37] sanjoy commented on #29039
Yes.

[2019-12-27 16:38] mihaimaruseac commented on #35438
Closing as duplicate of #33374

[2019-12-27 16:38] #35438 closed

[2019-12-27 16:49] sanjoy commented on #25474
Can you share a reproducer that we can run without a webcam?  And does this reproduce on TF nightly?

CC @poxvoculi

[2019-12-27 16:56] jonanem commented on #35432
Below is the minimal code to reproduce the issue

`import tensorflow as tf`
`import pandas as pd`

`from sklearn.model_selection import train_test_split`

`import transformers`
`from transformers import AlbertConfig, AlbertTokenizer, TFAlbertForSequenceClassification,glue_convert_examples_to_features `
`!pip install transformers`

`data_df = pd.read_excel("../input/test.xlsx")`
`model_dir = '../in

[2019-12-27 16:59] sanjoy commented on #25760
Hi @mauriceqch

Thank you for reporting this.  Can you please minimize your reproducer and give us a simple Python file that prints out the various timings to the console?

[2019-12-27 17:02] sanjoy commented on #35423
CC @Artem-B

@cheshire Can we have open source documentation that we can link to as part of the error message?

[2019-12-27 17:03] raziel commented on #31224
@devarajnadiger It seems your models is malformed. "TFL3" is the versioning info we include in the flatbuffer file. How did you created the model?
You should probably file another issue and include the model.

[2019-12-27 17:23] sanjoy commented on #34925
In case it helps, here are the operations that are executed on the GPU in the failing run.  I'd expect one or more of them to be breaking the "indices are sorted" invariant.

 * `BatchMatMulV2`
 * `Cast`
 * `CSRSparseMatrixToSparseTensor`
 * `Fill`
 * `GatherNd`
 * `GreaterEqual`
 * `Mul`
 * `NotEqual`
 * `RandomUniform`
 * `Shape`
 * `SparseMatrixSparseMatMul`
 * `SparseTensorToCSRSparseMatrix`

[2019-12-27 17:35] cheshire commented on #35423
@thincal Do you want to try `tf-nightly-gpu` package? I'm not sure if the fix made it into 2.0.0.

@sanjoy I'll update the error message to suggest fixing the PATH.

[2019-12-27 17:58] cheshire commented on #35423
@thincal XLA:GPU devices are semi-deprecated, I do not recommend to use them. As an alternative, could you use `@tf.function(experimental_compile=True)` (with a nightly TF build).
Out of curiosity, where did you find the information about XLA:GPU devices? I don't think they are mentioned in the documentation anymore.
@Artem-B Any clues why do we fail here? It should fall back to the driver compila

[2019-12-27 18:14] msteknoadam opened #35450 "All values come out as 0 while converting int32 to float16 using `tf.image.convert_image_dtype`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Version 1903
- TensorFlow installed from (source or binary): Source (pip install is source I guess?)
- TensorFlow version (use command below): v1.12.1-21327-gd3457b26a0 2.1.0-dev20191226
- Python version:

[2019-12-27 18:15] msteknoadam commented on #35450
@mihaimaruseac Hello, I created the issue but looks like I can't assign you so I'm just tagging you here.

[2019-12-27 18:19] dubey commented on #33871
`ring_reducer_test` is defined in `core/BUILD` using [`tf_cc_tests_gpu`](https://github.com/tensorflow/tensorflow/blob/1e65730120aafc413e8c3dcddcf19cd8d184fe1b/tensorflow/core/BUILD#L3718).  If you follow the definition of `tf_cc_tests_gpu` in `tensorflow.bzl`, you will eventually arrive at [`src_to_test_name`](https://github.com/tensorflow/tensorflow/blob/1e65730120aafc413e8c3dcddcf19cd8d184fe1b/

[2019-12-27 18:19] #33871 closed

[2019-12-27 18:21] sanjoy commented on #34047
To me the smoking gun here seems to be this line when I enable logging:

[code]

and then in the graph we have:

[code]

It looks like in eager mode we create the resource variable on the CPU that causes the `ResourceApplyGradientDescent` to also run on the CPU.  I'm not sure why we're creating the resource variable on the CPU in the first place, the other variables are put on the GPU as expected.

[2019-12-27 18:22] sanjoy commented on #32877
Closing as per this comment.  Please reopen if there is something for us to do here.

[2019-12-27 18:22] #32877 closed

[2019-12-27 18:30] anj-s commented on #35226
SmileTM@ I could not find the `experimental_run_v2` call in the repo above. Can you point me to that?

[2019-12-27 18:34] anj-s commented on #35298
@olk As mentioned in the above [comment](https://github.com/tensorflow/tensorflow/issues/35298#issuecomment-569151712) this is expected. Please reopen the issue if you are unable to use `tf.config.experimental.set_visible_devices` successfully. Thanks!

[2019-12-27 18:34] #35298 closed

[2019-12-27 18:43] cheshire commented on #35423
@thincal Also to get a more complete error message, could you re-run with environment variable `TF_CPP_VMODULE=status=5`?

[2019-12-27 18:49] anj-s commented on #29911
This issue has now been [fixed](e1136256a791b02f793ff3f3e1f9ee7da4606807). You can use the `element_spec` property on the dataset or iterator to specify the `tf.TypeSpec`. For example,
`
# For the `experimental_distribute_dataset API`
dataset = tf.data.Dataset(...)
dist_dataset = strategy.experimental_distributed_dataset(dataset)
# Use the `element_spec` of the distributed dataset
@tf.function(inp

[2019-12-27 18:49] #29911 closed

[2019-12-27 18:53] anj-s commented on #32232
This issue has now been fixed and an example has been provided in #29911 for how to use the `element_spec` property of distributed datasets/iterators to specify the `input_signature`. Please reopen this issue as needed. Thanks!

[2019-12-27 18:53] #32232 closed

[2019-12-27 18:54] anj-s commented on #33593
This issue has now been fixed and an example has been provided in #29911 for how to use the element_spec property of distributed datasets/iterators to specify the input_signature. Please reopen this issue as needed. Thanks!

[2019-12-27 18:54] #33593 closed

[2019-12-27 18:57] Artem-B commented on #35423
The error reported shows a warning printed by `cuda/redzone_allocator.cc`. The file has been moved to `gpu/` some time back in early september  in #31908 , so this error is from a fairly old TF build.
I believe @cheshire did fair amount of changes since then to both the redzone checker and to the way PTX compilation is handled. I'd recommend to start with checking if this is still an issue with a

[2019-12-27 19:08] OverLordGoldDragon commented on #33487
I've read the release notes for rc1 and rc2, and while mention was made of `tf.function`, the promised benefits of improved performance to `on_batch` methods weren't - and the connection may not be apparent to all. Consider stating it explicitly in the final release.

[2019-12-27 19:47] gsimko commented on #35439
Of course the result matches the source code :) However, I believe the source code does not match the intent.

If you do an eval loop like this where the data is sequential hence label is (batch,step,1)-shaped, it won't calculate the MAE/MSE properly:
for feature, label in eval_dataset:
   pred = model.predict(feature)
   metric.update_state(pred, label)

The reason is that "mean of means of squar

[2019-12-27 19:54] ymodak commented on #34053
This seems to be fixed with TF  '2.1.0-rc1'. You may try above gist. Thanks!

[2019-12-27 20:09] gunan commented on #35160
@r4nt may have some input on this, any ideas?
@maingoh Could you confirm this is also the same at head, or a newer release?

[2019-12-27 21:46] ymodak commented on #35440
You need to install tensorflow-gpu version. Can you confirm this?
Also startting TF 1.14, TF-TRT was moved to core from contrib module.
So in your case you should try;
`from tensorflow.contrib.tensorrt.python import trt_convert as trt`

[2019-12-27 21:53] veonua opened #35451 "Error while trying to serilize Image Captioning keras model '_UserObject' object is not callable'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
example from https://www.tensorflow.org/tutorials/text/image_captioning

- OS Platform and Distribution:Linux Ubuntu 18
- TensorFlow installed from (source or binary): bin
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.6.8

**Describe

[2019-12-27 21:55] veonua commented on #35451
model can be loaded from the checkpoint at the same time

[2019-12-27 22:27] MokkeMeguru opened #35452 "which is the correct type for debugging.assert_shape?"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/debugging/assert_shapes?version=stable

## Description of issue (what needs changing):

Update Documentation or implementation of `tf.debugging.assert_shapes`.
`Shapes` in its argument requires LIST OF TUPLE, not DICTIONARIES.

### Clear description

Your Documentation (Python 4's syntax?)
[code]

With dictionary (Python 3's

[2019-12-27 22:29] PrieureDeSion opened #35453 "Metrics with Eager Execution"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-12-27 22:37] #35453 closed

[2019-12-27 23:25] tanzhenyu commented on #33247
See the above link. I don't think LSTM works as well

[2019-12-28 00:02] olegmyrk commented on #35416
I will try to bisect my network into smallest possible example once this issue is resolved:
https://github.com/tensorflow/tensorflow/issues/35346
ATM I would have to wait for 30 minutes for each run of my network in multi-gpu mode.

[2019-12-28 01:54] wenyun opened #35454 "HashTableV2, LookupTableFindV2 are not supported"
**System information**
- Linux CentOs 7
- TensorFlow installed from pip:
- TensorFlow version 1.15.0:

**Provide the text output from tflite_convert**

[code]

[2019-12-28 02:03] sanjoy commented on #24660
Closing the issue since there hasn't been an update since Apr 3.  Please reopen if this is still relevant.

[2019-12-28 02:03] #24660 closed

[2019-12-28 02:25] ebrevdo commented on #35063
Can you try it as part of a Lambda layer and use a loss with compile that
does a reduce_sum?  CTC loss is not a keras loss and returns a per batch
entry loss vector.

On Mon, Dec 23, 2019, 3:28 PM Yasir Modak <notifications@github.com> wrote:

[2019-12-28 03:04] Shmily-YH commented on #31852
it seems that MEAN and SUM do not work like tf.reduce_mean and tf.reduce_sum
for example,my step_fn return result with shape [batch,512,512],if i ues SUM and set axis = 0,the SUM operation just return [512,512],so i think everyone should notice that.
so for MEAN,i think it also differnt from tf.reduce_mean

[2019-12-28 03:06] ashutoshbsathe commented on #35439
Oh now I got it. Sorry for misinterpreting your question the first time. @gsimko

[2019-12-28 03:50] DachuanZhao opened #35456 "tf.print can't print chinese characters"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
win10 1909
- TensorFlow installed from (source or binary):
pip install tensorflow
- TensorFlow version (use command below):
2.0.0
- Python version:
3.7.4

**Describe the current behavior**
[code]
current output is
涓枃娴嬭瘯
Chinese test
中文测试
Chinese test

expected output is
中文测试
Chinese test
中文测试
Chinese test

[2019-12-28 04:27] jpienaar commented on #35023
In InitMlir we parse the flags with the two different command libraries in use: if no ` -- ` is on the line, then all are passed to LLVM's cl, if ` -- ` then the part before ` -- ` is passed to LLVM and those after to TF's flags. Try

tf-opt -debug --

Please reopen if this doesn't resolve it.

[2019-12-28 04:27] #35023 closed

[2019-12-28 04:38] SummerRainET2008 commented on #35448
@dhakrasp This is not a bug.

First, the Reshape layer would not change your "batch size",  which is 400 in your example.
Second, the total element number in each sample should keep the same.  Your "inp" has too few element. See the modified example.

[code]

[2019-12-28 05:10] olegmyrk commented on #35415
Here is trace1 with TF 1.x
[timeline.gz](https://github.com/tensorflow/tensorflow/files/4006727/timeline.gz)

Here is trace3 with TF2.x with 1 GPU Mirrored strategy
[trace.gz](https://github.com/tensorflow/tensorflow/files/4006729/trace.gz)

Please note that adding tracing makes training significantly slower on its own (especially in TF1.x).

[2019-12-28 05:56] guptapriya commented on #35333
@lightvector - yes this is expected - for multi GPU, the loss is scaled by number of replicas[1], and later on in the optimizer, the gradients are summed over the replicas[2]. Overall this gives the correct averaged gradients. Another alternative would be to not scale the loss, but average the gradients. This would be equivalent but we found this to be slower in performance.

You're right that we

[2019-12-28 06:22] thincal commented on #35423
@Artem-B device_lib.list_local_devices tells the GPU is XLA_GPU, so that we have to use `tf.device('device:XLA_GPU:0')`

[2019-12-28 06:24] thincal commented on #35423
@cheshire is there a way to disable the XLA explicitly when using TensorFlow 1.x and 2.0 ?

[2019-12-28 06:34] lightvector commented on #35333
This seems still incorrect though - how can this actually be intended?

It is natural to expect that the numeric output of "compute the gradient" is the gradient. At the point of computing the gradient, there is no inter-GPU communication that should be happening, right? So there is no question of taking the mean versus the sum. Each GPU independently computes the gradient on its own batch, and if

[2019-12-28 06:34] thincal commented on #35423
@cheshire

a first try reports missing some library so that GPU can't be used:

[code]

[code]

[2019-12-28 06:59] Nitin-Qwinix commented on #30490
@gadagashwini Error: core dumped when convert to tflite. when i checked input_array and output_array type is uint8 & float32 respectively. I tried lot of methods to change array type but couldn't get any solution.....

[2019-12-28 07:02] AND2797 opened #35459 "EMNIST Link Broken"
The link to the [EMNIST page](https://www.tensorflow.org/datasets/catalog/emnist) on Tensorflow's docs is broken.

The existing link is -
https://www.nist.gov/node/1298471/emnist-dataset

It should be replaced by -
http://www.itl.nist.gov/iaui/vip/cs_links/EMNIST/gzip.zip

[2019-12-28 07:30] thincal commented on #35423
@cheshire

[code]

[2019-12-28 07:51] Tonytony123474 opened #35460 "integrate.odeint in tensorflow 2.0"
Can't find odeint or integrate...
can't import contrib from tf.compat.v1
where is odeint

[2019-12-28 08:35] olk commented on #35298
@anj-s I would consider it as  a bug that OneDeviceStrategy allocates (100%!) memory on other GPUs than specified in OneDeviceStrategy. I'd like to ask what's the benefit of OneDeviceStrategy compered to no using a strategy. At least the naming 'OneDeviceStrategy' is misleading.

[2019-12-28 08:38] shelendravashishtha2 commented on #22472
I have installed tensorflow v2.0.0 and tensorflow-gpu v2.0.0 both and keras also, but my tensorflow is still using CPU instead of GPU I don't know how to fix it can somebody help me out

[2019-12-28 08:53] xiaohai-AI commented on #24496
This problem seems related with my RTX2080, I have a desktop GTX1080, everything seems ok, then i use conda clone the conda enviroment to my RTX2080 notebook, I use tensorflow2.0.0-gpu . once application code use Conv2d, LSTM, GRU then this trouble come.
before I use the following codes to solve this problem:
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    try:
# Currently,

[2019-12-28 09:02] Keepmoving-ZXY commented on #33871
ok, thank you.

[2019-12-28 09:18] Monism1 commented on #31053
similar issue

[2019-12-28 09:19] WangShuaixian commented on #27259
open  /tensorflow/python/framework/device.py

change line314  `current_device = DeviceSpec.from_string(node_def.device or "")` to
`current_device = node_def.device if isinstance(node_def.device, DeviceSpec) else DeviceSpec.from_string(node_def.device or "")`

[2019-12-28 09:58] dbonner commented on #35115
I am getting this too building with Ubuntu 18.04, gcc 7.4.0, bazel 1.1.0, CUDA 10.1, CUDNN 7.6.5, Python 3.7.3 conda virtual environment.

[2019-12-28 10:03] yourtheron commented on #35329
@amahendrakar So how to change the code and make it work? From the link you gave, I am afraid that I did not see any change. Now, even even a dummy class below raises the same error.
[code]

[2019-12-28 10:41] yourtheron commented on #19241
@alextp . Yes, I have issued a bug report.

[2019-12-28 11:09] joshnarani9 commented on #35184
Keras=2.0.5
Tensorflow=1.14.0

On Fri, 27 Dec 2019, 04:13 Yasir Modak, <notifications@github.com> wrote:

[2019-12-28 11:21] Lasers67 commented on #35450
In the code:

https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/ops/image_ops_impl.py#L1809

using scale as 1/image.dtype.max which is 1/(max Int32) and multiplying leads to very small values of order 1e-10, float16 cannot handle such large precisions, if you use dtype=float32 in convert_image_dtype the value is not 0 but the actual small valu

[2019-12-28 11:30] msteknoadam commented on #35450
Hello, as your comment explains, I think that is some expected thing? But I'm not too sure about this so I'll leave decide to whether to close/not close this issue to @mihaimaruseac

[2019-12-28 11:54] PanXiebit commented on #34789
@guillaumekln hi, I met this error too, and I think here is a bug. I changed two line of codes, everything is ok.

https://github.com/tensorflow/tensorflow/blob/4235c011cf48daf64953895e844dba7b72b3edc0/tensorflow/python/keras/layers/recurrent.py#L1773
should be `h_tm1 = states  # previous memory`

https://github.com/tensorflow/tensorflow/blob/4235c011cf48daf64953895e844dba7b72b3edc0/tensorflow/pyt

[2019-12-28 12:25] tensorflowbutler commented on #35064
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-28 12:45] prudhvirajboddu opened #35462 "tensorflow installation in raspberry pi : HadoopFileSystem load error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspberry pi 4
- Mobile device

[2019-12-28 12:53] misssprite commented on #30955
As it allows DAG definition, it will be confusing to have output bound to layers in the functional and subclassing model api.
For example, consider a simple param sharing case:
[code]
What should be bound to the output of the 'dense' layer? A list seems work, but that conflict with layer having multiple outputs.
In sequential api, the model is linear, and things are simple. In the DAG case, it'd b

[2019-12-28 14:27] jeandut commented on #32013
Up !

[2019-12-28 14:28] senthilmk commented on #30092
Any updates on this one?

[2019-12-28 14:56] devarajnadiger commented on #31224
sorry @rachellj218. there was a mistake from my side i.e we should convert our checkpoints to pb twice to get tflite model as mentioned here: https://github.com/tensorflow/models/blob/master/research/lstm_object_detection/g3doc/exporting_models.md .
after following this, I was able to test my tflite model.

[2019-12-28 14:56] Deadsec69 opened #35463 "tf.profiler calculating incorrect flops in mobilenetssd_v2"
Below Script is giving correct result for mobilenetssd_v1 Flops but failing in calculating mobilentssd_V2 flops. Mobilenetssd_v2 flops coming out to be 185 Millions only
[code]
Model is taken from tensorflow API Github Repo http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v2_coco_2018_03_29.tar.gz this is the link

[2019-12-28 15:14] monsij commented on #35459
Interested to fix this @AND2797 . Do all the mentions of the link are required to be changed to [http://www.itl.nist.gov/iaui/vip/cs_links/EMNIST/gzip.zip](http://www.itl.nist.gov/iaui/vip/cs_links/EMNIST/gzip.zip) as some refer to the homepage rather than the dataset itself. Can [https://www.nist.gov/itl/products-and-services/emnist-dataset](https://www.nist.gov/itl/products-and-services/emnist-d

[2019-12-28 15:27] vvsotnikov commented on #26639
The problem is not with the TensorFlow itself, but with the `keras_applications` module. The reason for such behavior of NASNet is described [here](https://github.com/keras-team/keras-applications/pull/62). So it's more likely a bug than a feature, however, I think that documentation should be updated.

[2019-12-28 16:00] ZoltanRado opened #35464 "Sample VAE code throws error: "ValueError: The last dimension of the inputs to Dense should be defined. Found None""
I am very new to TF2 and tried to customize the example code on the tensorflow guide documentation:

https://www.tensorflow.org/guide/keras/custom_layers_and_models#putting_it_all_together_an_end-to-end_example

The code given in the guide does not run if the latent dimension is set 1, it runs fine for every latent dimension >1!

For training I tried to use the code given in the example but set th

[2019-12-28 16:03] AND2797 commented on #35459
Actually, good point. I assumed that the link led to the download of the actual dataset. Now since the link is broken I am not sure if it led to the download of the actual data set or the home page of the dataset.

Perhaps one could add both, or either one.

[2019-12-28 16:12] mihaimaruseac commented on #35450
Closing then as it is working as intended.

[2019-12-28 16:12] #35450 closed

[2019-12-28 16:17] sanjoy commented on #35423
JFYI, the correct fix is to install CUDA 10.1 since that's what tf-nightly is built against.

[2019-12-28 17:16] sanjoy commented on #34519
CC @cheshire

[2019-12-28 17:26] monsij commented on #35459
Additionally, I don't think this page of documentation is based on any file in this repository. Any opinions on this @AND2797 ?

[2019-12-28 17:27] ttbrunner commented on #26383
Just a quick word of warning for anyone reading this: this CAN break functionality with newer TF2 versions (>=2.0.0rc0). See this issue: https://github.com/tensorflow/tensorflow/issues/32646

So for anyone who suddenly experiences Keras optimizers crashing after upgrading their TF2 version, consider undoing this workaround.

[2019-12-28 17:40] AND2797 commented on #35459
do you mean based on any module source code?

[2019-12-28 17:58] monsij commented on #35459
Yes. The source code behind that page of documentation at [EMNIST PAGE](https://www.tensorflow.org/datasets/catalog/emnist).

[2019-12-28 18:14] myhyper commented on #32320
same here, is going to be merged in 2.1?

[2019-12-28 18:46] dancaselden opened #35466 "convolutional_recurrent.py:get_initial_state type mismatch"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary (pip, tf-nightly-gpu)
- TensorFlow version (us

[2019-12-28 18:48] gabolsgabs commented on #35063
Do you mean something like?
[code]
But then, in the compiler I don't know what to use as loss. I've checked the [doc](https://www.tensorflow.org/api_docs/python/tf/keras/losses) and all the losses need a y_true (`labels` in the ctc_loss and already included in the ctc_layer). I tried with just reducing the output tensor with:

[code]

But as expected is not working:

[code]

Any other suggestion?

[2019-12-28 19:09] ebrevdo commented on #35063
Hmm; good point.  You could write a loss function that calls ctc_loss,
accepts an extra sample_weights argument (ignores it), and returns the
reduce_sum(ctc_loss(...)); and pass that as the loss to compile.

On Sat, Dec 28, 2019 at 10:48 AM Gabriel Meseguer-Brocal <
notifications@github.com> wrote:

[2019-12-28 19:11] ttbrunner commented on #33340
As a workaround, it is possible to pass `experimental_run_tf_function=False` to the model.compile() function, which seems to revert it to the old v1 execution path and restores old performance for small models.

I am a bit baffled too - this parameter is not even mentioned in the docstring.

[2019-12-28 19:45] gabolsgabs commented on #35063
Do you mean something like this (my_ctc_loss returns a scalar -tf.reduce_mean- not a tensor)?

[code]

Not working either:

[code]

I've tried this:
[code]

Which at least compiles but not sure if trains or not. Additionally, as far as I understand the [doc](https://www.tensorflow.org/api_docs/python/tf/nn/ctc_loss?version=stable), using a SparseTensor force the loss to be computed in the CPU not

[2019-12-28 19:51] OverLordGoldDragon commented on #33340
Noone assigned; if it doesn't cause a compile error, doesn't mean it isn't a worthwhile problem. Has anyone made a docstring PR on this yet? If not, I could

[2019-12-28 20:11] ebrevdo commented on #35063
Are you using GPU?  I believe the latter approach will work if you use
densified labels.

On Sat, Dec 28, 2019, 11:45 AM Gabriel Meseguer-Brocal <
notifications@github.com> wrote:

[2019-12-28 21:16] jlhervy commented on #24496
I am having the same problem with gtx 960m

[2019-12-28 22:52] gabehope commented on #31312
Any progress on this? I'm having the same issue with the current release of TF 2.0 in Colab, memory usage increases dramatically every epoch until the runtime crashes. I'm running an implementation of Wide ResNet.

[2019-12-28 23:03] aligokkaya commented on #24409
from nets.mobilenet import mobilenet_v2
  File "C:\tensorflow\models\research\slim\nets\mobilenet\mobilenet_v2.py", line 91, in <module>
    'normalizer_fn': contrib_layers.group_norm,  # pylint: disable=C0330
AttributeError: module 'tensorflow.contrib.layers' has no attribute 'group_norm'

any help

[2019-12-28 23:12] robieta commented on #33340
Hi. Let me try to address some of the questions here and see if that helps.

`experimental_run_tf_function` is an implementation detail, and that flag is mostly there as a debug during the transition. We don't plan to document it because it will be removed at some point in the future and the `True` behavior will be the only behavior.

Now I expect that you may be surprised (or aghast) that it's go

[2019-12-28 23:12] robieta commented on #33340
Oh, and @goldiegadde for tracking 2.2 performance, of course.

[2019-12-29 00:47] OverLordGoldDragon commented on #33340
@robieta Solid response, thanks - I'll look into the PR sometime. As for `predict`, so long as a faster alternative remains (i.e. `_on_batch`) and is noted in a docstring, it'd make an excellent resolution.

[2019-12-29 01:18] Mike575 commented on #33009
Building a model by subclassing the `Model` class can avoid this problem.

``
class MyModel(tf.keras.Model):
    def __init__(self):
        super(MyModel, self).__init__()
        self.dense1 = tf.keras.layers.Dense(32, activation=tf.nn.relu)
        self.dense2 = tf.keras.layers.Dense(2, activation=tf.nn.softmax)

    def call(self, inputs):
        x = self.dense1(inputs)
        return self.de

[2019-12-29 03:09] colorain549 opened #35471 "Using Conda, The only packageURL can not work"
Hi, I am using macOS and Conda to create a virtual environment, but when I install TensorFlow pip package, I found the **only packageURL**(https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-2.0.0-py2-none-any.whl) **for macOS can not work or even download**. Would you mind telling me a solution if anyone solve this problem. Thank you som much!

[2019-12-29 03:12] #35471 closed

[2019-12-29 03:41] MokkeMeguru opened #35472 "DCGANs Tutorial's BatchNormalization is maybe something wrong"
## URL(s) with the issue:
https://www.tensorflow.org/tutorials/generative/dcgan

## Description of issue (what needs changing):

https://colab.research.google.com/gist/MokkeMeguru/614e16d83d16f1eb70b5f3b73c7d070b/batchnormalization_debug.ipynb

In you tutorial, BatchNormalization will be Actnormalization in Glow(https://arxiv.org/abs/1807.03039)

### Clear description

We need Correct BathNormaliz

[2019-12-29 04:27] MokkeMeguru commented on #35472
Sorry, my misunderstanding about batch normalization.

[2019-12-29 04:27] #35472 closed

[2019-12-29 04:31] RafayAK commented on #34719
@suphoff any idea what I should do then?

[2019-12-29 06:25] toaomalkster commented on #28669
The docs need updating to with recommended solution:
https://www.tensorflow.org/tutorials/keras/text_classification

Still has
[code]

[2019-12-29 06:44] AND2797 commented on #35459
I am not sure if the page is there in the documentation or not... will have to check.

[2019-12-29 06:59] donttal commented on #33747
I think it be solved

[2019-12-29 07:24] SmileTM commented on #35226
😯oh， thank you.
 I thought it was as simple as keras,  just add two lines of code.
I have rebuilt my code， it works well in two GPU  .
thank you.

[2019-12-29 07:36] vishwas1234567 commented on #35464
tf.keras and just keras has the different performance instances thus making that the tf being compatible for all the version is a different deal and thus we have to have a version that satisfies just read the documentation and study you will get it done.

[2019-12-29 09:47] hansen1416 commented on #34607
same here with `Flask==1.1.1` `tensorflow==1.15.0` in a ubuntu 18.04 docker. I have to set `FLASK_DEBUG=0` to let it work.

[2019-12-29 10:35] sepmein commented on #33924
I met the same situation

[2019-12-29 10:36] sepmein commented on #33924
same situation, same error

[2019-12-29 10:43] galfridman commented on #34199
Any news regarding the bug?

[2019-12-29 11:35] TuringZhai opened #35473 "linux aarch64 nested, exception is java.lang.UnsatisfiedLinkError"
Handler dispatch failed; nested exception is java.lang.UnsatisfiedLinkError: Cannot find TensorFlow native library for OS: linux, architecture: aarch64.

[2019-12-29 12:52] SmileTM commented on #26418
@sudonto  ，hi
This binary may not be useful to you , because it was modified based on my configuration.
if you need the binary, you must bazel the  binary  in your configuration.
you can refer [my method](https://s-tm.cn/2019/09/28/%E9%82%A3%E4%BA%9B%E5%B9%B4%E8%B5%B0%E8%BF%87%E7%9A%84%E5%9D%91-tf2-gpu%E5%AE%89%E8%A3%85/).

[2019-12-29 13:07] OoiSC commented on #35381
Thanks. I was sick during the last 2
days and I did not read my email until today.

Will try tomorrow.

On Fri, 27 Dec 2019, 01:26 Mihai Maruseac, <notifications@github.com> wrote:

[2019-12-29 13:34] TerenceYang commented on #24607
@jdduke any update?

[2019-12-29 14:17] ttbrunner commented on #33340
Thanks for the clarification, and for the quick help! `model.predict_on_batch` speeds things up, but is still significantly slower on the v2 path. Here is the cumsum using your profile snippet (ran the loop for 100 times instead of 5) for a small DQN model on a small batch of data:

| `experimental_run_tf_function` | `predict()` | `predict_on_batch()` |
| ------------------------------ | ---------

[2019-12-29 14:56] AakashKumarNain opened #35477 "SequenceEnqueuer doesn't work"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0
- Python versi

[2019-12-29 14:59] AakashKumarNain commented on #35477
cc: @fchollet

[2019-12-29 16:51] paapu88 commented on #31509
Also facing this problem:

Unfortunately

did not fix the error

[2019-12-29 17:13] thyeun commented on #33374
how to install tensorflow arch package on virtualenv?

[2019-12-29 17:40] beojan commented on #33374
Install it systemwide. Or use 3.7 in a virtualenv.

On Sun, Dec 29, 2019, 17:13 Thomas Yeun <notifications@github.com> wrote:

[2019-12-29 18:43] MoussaMM opened #35482 "non_max_suppression is full of bugs!"
**System information**
The bugs are not related to my system informations. They are caused by a bad coding style in the https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/non_max_suppression_op.cu.cc and https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/non_max_suppression_op.cc. Just to be sure those bugs could be easily reproduced on google co

[2019-12-29 19:26] sharvil commented on #34859
@tanzhenyu, the specific use-case is what I describe in [my comment](https://github.com/tensorflow/tensorflow/issues/34859#issuecomment-562721861) and a concrete example of it is a BERT model that @saberkun describes in [their comment](https://github.com/tensorflow/tensorflow/issues/34859#issuecomment-562726594).

I understand that there are no more TF 1.x releases, but the `tf.train` APIs are sti

[2019-12-29 19:48] masoudnick opened #35483 "High percentage of CPU usage in ssdlite_mobilenet model"
Hi all,
I trained a model for license plate detection with ssdlite_mobilenet_v2_coco (training images:20000,steps:200000) and this model is going to be used in a traffic control app.

The accuracy of this model on frames of video is very good but the percentage of CPU usage on my system is between 70-80% (CPU info : Intel Core i7-6500 @ 2.50GHz.) and given that traffic control app should be consta

[2019-12-29 19:54] tavco09 commented on #35329
Good job!

[2019-12-29 19:55] mihaimaruseac commented on #33374
Arch guys, please create a different issue, don't pollute this one

[2019-12-29 21:11] minhtriet commented on #30069
Hi @alextp, thank you for the reply. Right now I am using `tensorflow_core.python.util.nest.pack_sequence_as` to produce the output ([here](https://github.com/minhtriet/tensorflow/blob/master/tensorflow/python/ops/script_ops.py#L461)), but somehow `_is_composite_tensor` returns `False`, which I do not understand why

The call stack is

[code]

[2019-12-29 22:13] kibergus commented on #34722
I have the same problem and by adding some prints and breakpoints observe that _LazyLoader for `tensorflow.python` kicks in and starts executing `tensorflow_core/python/__init__.py` it gets to the following line:
[code]
Which throws `AttributeError("type object 'scipy.interpolate.interpnd.array' has no attribute '__reduce_cython__'")` But this exception is not preserved or logged and instead we se

[2019-12-29 22:21] kibergus commented on #34722
In my case the problem was solved by `sudo apt install --reinstall python*-decorator`. It was induced by a corrupted scipy. But this does not cancel the fact that tensorflow does not report an underlying error properly.

[2019-12-29 22:46] ZoltanRado opened #35484 "variational autoencoder code sample error in TF2.0"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://www.tensorflow.org/gui

[2019-12-29 23:19] marxwolf opened #35485 "apply_gradients Error after do weight modification"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-12-30 00:02] lgeiger commented on #29005
For now grouped convolutions on CPU are only supported using [XLA](https://www.tensorflow.org/xla).

You can try it by using `@tf.function(experimental_compile=True)` (see [this colab](https://colab.research.google.com/drive/1M9jxNv3Y3a2lGlNLNg-rvdS7YxuN-Y1p)).

[2019-12-30 00:56] nectario commented on #27170
Does tensorflow Keras Embedding layers support Ragged Tensors?
I keep getting:
TypeError: Failed to convert object of type <class 'tensorflow.python.ops.ragged.ragged_tensor.RaggedTensor'> to Tensor. Contents: tf.RaggedTensor(values=Tensor("embedding/Cast_1:0", shape=(None,), dtype=int32), row_splits=Tensor("text_input/row_splits_0:0", shape=(None,), dtype=int64)). Consider casting elements to a s

[2019-12-30 01:04] yourtheron commented on #35329
@tavco09 Sorry, but I have not seen any solution, yet. Did I miss anything?

[2019-12-30 02:23] lindong28 commented on #34519
After investigating this bug, I found the following that may help explain the root cause.

After the op placement, the graph contains the follow connected line of nodes, where each node is uni-directionally connected to the next node

node_1: {name="while_input_4", op="_Arg", device="CPU"}

node_2: {name="while/enter/_6", op="Enter", device="GPU"}

node_3: {name="while/merge/_12", op="Merge", devi

[2019-12-30 02:53] suphoff commented on #34719
@RafayAK : I would just use "tensorflow/tensorflow:devel-gpu" and add python3 + (required python packages) as this is a lot easier then gathering the cuda requirements. Additionally I would open a new issue about the missing updates of  the "tensorflow/tensorflow:devel-gpu-py3" image.

[2019-12-30 03:35] yourtheron opened #35487 "How to Write Input_Signature's for function's and model's names when using tf.fucntion?"
Hi,

I want to decorate tf.function unto my training function
[code]
where data are a pair of 5D arrays with float32 and uint8 types (for input and label), model is the name of my NN model, optimiser is the name of an optimisation object, lossFunc and accFunc are names of custom functions. How can I decorate them in tf.function by Input_Signature? I cannot find out any solution in tf's tutorial or

[2019-12-30 03:35] OoiSC commented on #35381
My windows 10 installation of tensorflow-gpu==2.1.0.rc2 is now successful
as it can now collect tensorflow-gpu=estimator.

Thanks!

On Fri, Dec 27, 2019 at 1:26 AM Mihai Maruseac <notifications@github.com>
wrote:

[2019-12-30 03:48] ravikyram commented on #35473
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-12-30 03:52] ravikyram commented on #35466
@dancaselden

Request you to provide simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2019-12-30 04:02] ravikyram commented on #35456
I have tried on colab with TF version 2.0 , TF Nightly version 2.1.0-dev20191229 and i am not seeing any issue. Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/87a35d7a47720f1293a16a80c421917e/untitled511.ipynb) Thanks!

[2019-12-30 04:18] silky opened #35488 "`files"
the function `files_io.get_matching_files` says it takes a "filepath", but actually it takes a glob

this means that if you save your checkpoints to a folder like `x=[abc]`, then you can't load the previous checkpoint using something like:

[code]

where `checkpoint_path="./logs/x=[abc]"`.

[2019-12-30 04:18] silky opened #35489 "`files_io.get_matching_files` fails for valid filenames that contain globs"
the function `files_io.get_matching_files` says it takes a "filepath", but actually it takes a glob

this means that if you save your checkpoints to a folder like `x=[abc]`, then you can't load the previous checkpoint using something like:

[code]

where `checkpoint_path="./logs/x=[abc]"`.

[2019-12-30 04:21] #35488 closed

[2019-12-30 04:52] ravikyram commented on #35452
I have tried on colab with TF version 1.15 and i am not seeing any issue with dictionary  and with list of tuple (python 3's syntax) . I have tried in colab with TF 2.0 and i am able to reproduce the issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/d75c8e3a0d3121bace78789f88b03b6a/untitled512.ipynb) Thanks!

[2019-12-30 05:04] oanush commented on #35454
@wenyun ,
Hello, as per the [official documentation](https://www.tensorflow.org/lite/guide/ops_compatibility#unsupported_operations) TensorFlow Lite operations HashTableV2, LookupTableFindV2  are present but not ready for custom models yet.

[2019-12-30 05:05] gadagashwini commented on #35443
@WakerKQ, Looks like provided code is incomplete, `model is not defined`. Could you provide the complete code to reproduce the reported issue. Thanks!

[2019-12-30 05:08] danijar commented on #23780
Here is the corrected code example:

[code]

[2019-12-30 05:11] DachuanZhao commented on #35456
Hi , @ravikyram . When I run the code on linux by using ```python test.py``` or in jupyter (no matter on linux or windows) , It works well. But when I run it in powershell or cmd , it's strange that only ```tf.print``` can't output correctly . When I change windows global character encoding from ``GBK``` to ```utf8``` , both of them works well ......

[2019-12-30 05:17] dhakrasp commented on #35448
@SummerRainET2008 ,
Understood the design and functionality of Reshape. I assumed it would change the batch_size too.

The reason to change the batch_size was that while feeding the character level inputs I was appending the character level inputs of multiple words (the actual i/p to the model).

e.g.
1 batch = 2 sentences
1 sentence = 200 words
1 word = 50 characters
1 char = 50 dim vector
Initia

[2019-12-30 05:34] Queequeg92 commented on #26696
Any Update?

[2019-12-30 05:49] ravikyram commented on #35477
I have tried on colab with TF version 2.0, 2.1.0-dev20191229 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/8ab18eb35dc9b0ff7d16572f966267dd/untitled513.ipynb). Thanks!

[2019-12-30 05:51] gadagashwini commented on #35460
@Tonytony123474,
`integrate.odeint` is moved to Tensorflow/scientific in Tf 2.0.
Try, `pip install tensorflow-scientific`
`tfs.integrate.odeint`
Thanks!

[2019-12-30 05:53] MokkeMeguru commented on #35452
OK, I found we can use LIST OF TUPLE and also can use DICTIONARY at tf_1.15 (but its document is for tf_2.0 ...).
It's the problem of the document's syntax error.
Thanks!

[2019-12-30 05:53] #35452 closed

[2019-12-30 06:10] gadagashwini commented on #35463
@Deadsec69, Please provide the tensorflow version. Thanks!

[2019-12-30 06:25] gadagashwini commented on #35459
@AND2797, Can you add PR link here. Thanks!

[2019-12-30 06:34] ravikyram commented on #35484
I have tried on colab with TF version 2.0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/421ce6dadb234bbe06a11cbec1f6f94a/untitled518.ipynb). Thanks!

[2019-12-30 06:35] oanush commented on #35464
@ZoltanRado ,
For the tutorial mentioned I was able to run the code `latent_dim=1 `without any error, can you please provide link gist of colab used ?Thanks!

[2019-12-30 06:37] aohan237 commented on #33131
@aliutkus
sure.  go to pytorch, everythin goes fine

[2019-12-30 06:40] liyxi commented on #24496
Hi @sanjoy , I just got this output:
[code]

[2019-12-30 06:42] Deadsec69 commented on #35463
I'm using tensorflow version 1.14

[2019-12-30 06:57] yxchng commented on #32809
@qiuminxu any updates on this?

[2019-12-30 07:01] DachuanZhao opened #35490 "Why doesn't ```tf.keras.losses.binary_crossentropy``` raise error"
[code]
I think ```binary_crossentropy``` and ```BinaryAccuracy```  should raise an ValueError like ```tf.keras.metrics.Precision```:
[code]

[2019-12-30 07:03] rajputashu opened #35491 "Error: Not in GZIP format"
Getting below exception while following "https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/android"

org.gradle.api.InvalidUserDataException: Cannot expand TAR 'D:\WorkSpaces\ML_WorkSpace\TF_Android\app\build\intermediates\mobilenet_v1_1.0_224.tgz'.
	at org.gradle.api.internal.file.archive.TarFileTree.cannotExpand(TarFileTree.java:133)
	... 56 more
Caused by: or

[2019-12-30 07:29] aliutkus commented on #33131
yeah, I know... but can't for some reason

[2019-12-30 07:34] sourabhXIII commented on #29765
@Charlie4zc
How did you solve it?
I am facing same problem while working with Tensorlfow object detection API.

[2019-12-30 07:38] cbahcevan commented on #35402
Thank you for your response. I will post it

[2019-12-30 08:02] RafayAK opened #35492 "Tensorflow "devel-gpu-py3" docker image is stale, has not been updated for 2 months"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- Mobile device (e.g. iP

[2019-12-30 08:06] oanush commented on #35451
@veonua ,
Could you please provide complete code to reproduce the issue? Thanks!

[2019-12-30 08:06] gadagashwini commented on #35482
Issue is replicating on colab with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/2cf976ada8376c28056285c958785c97/untitled331.ipynb). Thanks!

[2019-12-30 08:10] AND2797 commented on #35459
Do you mean this -> https://github.com/AND2797/datasets/pull/1

[2019-12-30 08:25] gadagashwini commented on #35459
@AND2797, Can you submit this PR against Tensorflow?

[2019-12-30 08:28] ravikyram commented on #35432
@jonanem

Will it be possible to provide supporting files and colab link to reproduce the issue in our environment.Thanks!

[2019-12-30 08:34] ravikyram commented on #34863
@Richie-yan

Any update on this issue please. Thanks!

[2019-12-30 08:38] gadagashwini commented on #34759
@zaccharieramzi, Any update on this issue!

[2019-12-30 08:38] ravikyram commented on #35074
@allen-DM

Any update on this issue please. Thanks!

[2019-12-30 08:39] gadagashwini commented on #35075
@zheLim, Any update on minimal code snippet.

[2019-12-30 08:43] ravikyram commented on #35173
@chensongkui

Any update on this issue please. Thanks!

[2019-12-30 08:45] ravikyram commented on #35183
@colourful-tree

Any update on this issue please. Thanks!

[2019-12-30 08:48] oanush commented on #35490
@DachuanZhao ,
I was able to replicate the issue with TF-1.5 and TF-2.0, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/febed084ad734e809b857a89164015ae/35490.ipynb) of colab.Thanks!

[2019-12-30 09:05] AND2797 commented on #35459
Could you provide instructions as to how I can do this?

[2019-12-30 09:12] LogX2 commented on #29640
sorry for replying so late,
i have to say that i have given up this method, at least for now.
In order to parallelize computation and commutation, it is not enough to  just add an low-level communication XlaOp, which indeed  gives us a more beautiful timeline:  the HorovodOp is involved in XlaRun perfectly. But according my benchmark , in most scenarios, the performance turns out to be worse. In f

[2019-12-30 09:22] freedomtan commented on #35115
[code]

It seems `stream_executor::StreamExecutor::EnablePeerAccessTo(stream_executor::StreamExecutor*)` is needed but not there.

[2019-12-30 09:38] ChunHsinWang opened #35493 "tf.recompute_grad() throws dimension mismatched error when concatenating tensors with different number of channels"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0

[2019-12-30 09:39] ravikyram commented on #35485
@marxwolf

Looks like code is incomplete. Request you to provide colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2019-12-30 09:43] amahendrakar commented on #35489
@silky,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2019-12-30 10:15] veonua commented on #35451
should I just copy the example code to collab ?

On Mon, Dec 30, 2019, 09:06 oanush <notifications@github.com> wrote:

[2019-12-30 10:32] bilalsoomro commented on #35421
@Edward7Zhang Try using the NNAPI Delegate instead. The examples have recently been updated to use NNAPI delegate instead of `options.setUseNNAPI(true)`.

Check this [link](https://github.com/tensorflow/examples/blob/52d3a310df161ddac060ea0533fde1fe4befa93a/lite/examples/image_classification/android/app/src/main/java/org/tensorflow/lite/examples/classification/tflite/Classifier.java#L194)

[2019-12-30 10:49] maingoh commented on #35160
This is at least the same until 1.14.0 which are built using `-D_GLIBCXX_USE_CXX11_ABI=1` (for python3.7 package). For some reason the 1.15.0 is built with `-D_GLIBCXX_USE_CXX11_ABI=0` (and thus does not have the issue).

I don't have much time to rebuild a tf 1.15 with `-D_GLIBCXX_USE_CXX11_ABI=1` but I am quite sure it will be the same issue. I think the problem comes from the COW disabled on C+

[2019-12-30 10:52] rishabhsahrawat commented on #33136
Hello @gowthamkpr , have we fixed the bug? Thanks.

[2019-12-30 11:16] datemoon opened #35494 "distribut data io problem and I want to know way"
hi, I find some bug. Code is

import tensorflow as tf

if __name__ == '__main__':
    def Gen():
        for i in range(10):
            yield(i,2,3,4,5,6,7,8)

    dataset = tf.data.Dataset.from_generator(Gen, output_types=(tf.float32,tf.float32,tf.int32,tf.int32,tf.int32,tf.float32,tf.int32,tf.int32),output_shapes=None,args=None)
    for one_batch in dataset:
        print('one batch',one_batch)

[2019-12-30 11:28] nguyenxuanhau opened #35495 "Consuming sets of files :There are many datasets distributed as a set of files, where each file is an example."
I test  and run code from: https://www.tensorflow.org/guide/data#applying_arbitrary_python_logic_with_tfpy_func
import pickle as pi
import os
import cv2
import numpy as np
import tensorflow as tf
import pathlib
flowers_root = tf.keras.utils.get_file(
    'flower_photos',
    'https://storage.googleapis.com/download.tensorflow.org/example_images/flower_photos.tgz',
    untar=True)
flowers_root = pa

[2019-12-30 12:22] jianpeng957 commented on #17930
hi, **Tensor.close()**has any help for memory leak problem?

[2019-12-30 12:26] tensorflowbutler commented on #34267
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-30 12:26] tensorflowbutler commented on #35127
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-30 12:44] ZoltanRado commented on #35464
Here is a gist produced by [ravikyram](https://github.com/ravikyram) on colab with TF version 2.0 and was able to reproduce the issue.Please, find the [gist](https://colab.sandbox.google.com/gist/ravikyram/421ce6dadb234bbe06a11cbec1f6f94a/untitled518.ipynb) here.

I am working on TF2.0.0 with Anaconda on my machine.

Thanks

[2019-12-30 12:51] ZoltanRado commented on #35464
Here is a gist produced by [ravikyram](https://github.com/ravikyram) on colab with TF version 2.0 and was able to reproduce the issue. Please, find the [gist](https://colab.sandbox.google.com/gist/ravikyram/421ce6dadb234bbe06a11cbec1f6f94a/untitled518.ipynb) here.

I am working on TF2.0.0 with Anaconda on my machine.

Thanks

[2019-12-30 12:52] ZoltanRado commented on #35464
Here is the code:
[code]

[2019-12-30 13:07] AND2797 commented on #35459
Yes, I've done it  now.
https://github.com/tensorflow/datasets/pull/1322
This is the link.

[2019-12-30 13:09] guptapriya commented on #33274
You should be able to use the async mechanism without having to modify the c++ runtime. @qqfish - is async the default execution mode now in 2.0? If not, what's the python API to enable it?

Also, relatedly, @zongweiz is working on exploring ways of overlapping gradient computation and communication for multi worker sync training in TF 2.0.

[2019-12-30 13:10] netw0rkf10w commented on #35423
@sanjoy @cheshire Same issue with **TensorFlow 2.1.0-rc2** and **CUDA 10.1**.

[2019-12-30 13:11] ZoltanRado commented on #35464
I have produced it too (my first gist :-) ) [here](https://colab.research.google.com/gist/ZoltanRado/a599188734f3cebacbdc0bfc53e62c50/untitled0.ipynb)

[2019-12-30 13:22] deathrc commented on #32986
same issue, can't trace where I haven't fed the placeholder(I'm convinced I fed them all)

[2019-12-30 13:33] guptapriya commented on #5252
tf.distribute.MirroredStrategy handles aggregating IndexedSlices already afaik. How are you doing multi GPU training?

[2019-12-30 13:52] netw0rkf10w commented on #35423
Instead of looking for `./bin/ptxas`, shouldn't it check to see if `ptxas` is available first? In my case:

[code]

[2019-12-30 14:22] zhangyu345293721 opened #35496 "why tf do not work"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-12-30 14:32] Edward7Zhang commented on #35421
OK,I'll try this, this's seem can resolve my problem!

[2019-12-30 14:32] #35421 closed

[2019-12-30 14:35] kevinkepp commented on #32357
@Loner233 @YasineNifa
Have you tried the workaround that I mentioned above?
`train_generator = (pair for pair in zip(image_generator, mask_generator))`

[2019-12-30 15:48] mihaimaruseac commented on #35381
Thank you for confirming. I'm going to close the issue then, as it seems solved.

[2019-12-30 15:50] manuel-lincbiotech opened #35499 "can´t train image segmentation with model.fit"
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10.0.18362
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary): through pip
TensorFlow version (use command below): 2.0
Python version: 3.7
Bazel ve

[2019-12-30 15:53] manuel-lincbiotech commented on #35499
extra note:
If I suppress the batch_size input I get this different error:
`Train on 10 samples
10/10 [==============================] - 0s 1ms/sample
Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "C:\Users\Manuel_LincBiotech\Desktop\LincBiotech\python programs\venv\lib\site-packages\tensorflow_core\python\keras\engine\training.py", line 728, in fit
    use_multip

[2019-12-30 16:12] cantbeblank96 opened #35500 "A puzzling & fatal error occurred in the tf.matmal()"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

System information

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
no
- OS Platform

[2019-12-30 16:23] jlherren opened #35501 "cuDNN-based LSTM implementation not used when eager execution is disabled"
**System information**
OS: Debian 10, x64
GPU: GeForce GTX 1060 6GB
Python: 3.7.3
TensorFlow: 2.0.0 installed from source (git tag v2.0.0)
Bazel: 0.26.1
GCC: 6.5.0
CUDA: 10.1
cuDNN: 7.6.4

**Sample code**
[code]

**Output with eager execution enabled**
[code]

**Output with eager execution disabled**
[code]

**Discussion**
Note how the runtime is very significantly slower when eager execution is d

[2019-12-30 16:25] marxwolf commented on #35485
This is the full code.
[code]

[2019-12-30 16:41] kjmiller944 opened #35502 "GPU Support for Poisson Random Noise Generator in TensorFlow"
I am interested in using Generative Adversarial Network (GAN) to generate synthetic images for algorithm training. Poisson-distributed noise is an important source of noise in images. However, it does not appear that the TensorFlow Poisson noise generator has GPU support. The following code fails to execute:

[code]
with the error message
[code]
When training my model (the code is too much to plac

[2019-12-30 16:52] mihaimaruseac commented on #35496
Please reopen filling in issue template. As it is now, it is useless as we don't know what issue you have.

[2019-12-30 16:52] #35496 closed

[2019-12-30 17:13] stereomatchingkiss commented on #35408
Tried to figure out how to build by myself but it don't work so far. Almost every deep learning libraries are written by c++ but almost every deep learning treat c++ as 3rd class citizens, sigh.

[2019-12-30 17:24] cantbeblank96 commented on #35500
Further, I found that the error should be related to the dimensional size of the matrix

    offset = 0
    while True:
        j = np.random.rand(*(65530+offset*1 , 16, 8))
        k = np.random.rand(*(65530+offset*1 , 8, 1))
        # with tf.device("CPU:0"):
        j = tf.cast(j, dtype=tf.float32)
        k = tf.cast(k, dtype=tf.float32)

        a = tf.matmul(j, k)[-1]

        b = tf.matmul(

[2019-12-30 17:40] qqfish commented on #33274
For distributed training, it is enabled by default in TF 2.1

[2019-12-30 18:18] GuanLuo commented on #13683
@formath Do you mind to share the code for running such model in C++? The `Session::Run()` function accepts a vector of <string, Tensor> pairs, but I don't know how to create a Tensor object for sparseTensor ([SparseTensor](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/sparse/sparse_tensor.h) is not a subclass of Tensor...)

[2019-12-30 18:27] angerson commented on #35492
Thanks for isolating this into a new issue. Our previous expert on building in Docker departed a couple months ago, just before TensorFlow started using CUDA 10.1, and I've been trying to get the images fixed since then.

With recent commits to the dockerfiles/ directory, I believe the build issues are now resolved, and our CI should pick them up and deploy by December 31.

[2019-12-30 19:14] jsimsa commented on #35049
You are (likely) running out of memory because every call to `data_pipeline` will embed the `dataX` and `dataY` inputs into the graph (as constant inputs to `from_tensor_slices`).

What does your "update" to `trainX` do? (In your repro, you are mocking this out using `+ 0`). Can you provide an example that uses a placeholder that does not have the memory issue?

Taking a step back, you seem to try

[2019-12-30 19:28] Shiro-LK commented on #34346
Hi,

I tried with the new version, the assertion is gone but a new error came with fit and fit_generator:

I  am wondering if the ImageDataGenerator is compatible with TPU ?

[2019-12-30 19:28] anj-s commented on #19241
assigning to @karmel to find the right owner for this issue.

[2019-12-30 19:40] jsimsa commented on #35152
What happens when you run the `tf.strings.split` for 20 epochs? Does the memory use plateau?

Can you reproduce the issue without `tf.data` (simply wrapping your `_parse_data` for both with and without `strings.split` in `tf.function` and applying it to elements generated by `gen_samples` in your inner loop)?

[2019-12-30 19:42] mmalahe commented on #35032
Exeperienced this as well with a V100, NVIDIA drivers 418, CUDA 10.1 and 2.1.0rc2:

[[add_metric_2/Identity/_3667]] (1) Internal: Blas GEMM launch failed : a.shape=(1000, 1024), b.shape=(1024, 3), m=1000, n=3, k=1024
[[{{node mrcnn_class_logits/dense/MatMul}}]]

Was successful with an image based on today's nightly-gpu-py3 with digest 7cdb1957c9bf.

[2019-12-30 19:55] sanjoy commented on #34519
I don't know how much work this will be to retrofit into the current system, but in theory control flow ops like merge and switch should be "device polymorphic" on their data input/outputs since they just forward  the input tensors to the output tensors.

[2019-12-30 20:03] jsimsa commented on #35108
`py_function` produces tensors of unknown shape and rank (as shape inference does not work on arbitrary Python code) and if you need the shape (e.g. for `tf.image.resize`) you need to set it based on statically available information (i.e. it cannot be something that `py_function` returns).

For example, you can use `set_shape` to set the rank of the `py_function` output to 4, which will be suffici

[2019-12-30 20:03] #35108 closed

[2019-12-30 20:06] jsimsa commented on #34519
The problem here is in an assumption that the placer algorithm makes -- that any tensor can be copied between different devices -- which is generally not true (e.g. for dataset variant tensors). The proper way to fix this would be to make sure that placer only allows placement that collocate a node with its non-copyable inputs.

[2019-12-30 20:45] lindong28 commented on #34519
In this specific case, the error happens when:

- An edge connects two device
- The edge has dtype = DT_VARIANT.
- The underlying data type (e.g. tensor::flat<Variant>().data()[0].TypeName()) is not registered in UnaryVariantOpRegistry.

The issue here is that, the underlying data type is known only when we start to running the graph. This makes it hard for the placement algorithm to decide whethe

[2019-12-30 20:55] karimnosseir commented on #35377
Hi,
Sorry for late reply as i was out of office.
I just tried building it and it is working. Can you try again ?

We will be providing a hosted version on JCenter to use soon.

Thanks

[2019-12-30 21:03] karimnosseir commented on #35380
Hi,

Not all kernels are optimized to run on desktop. What is the model you're trying to run ? can you share it ?

Thanks

[2019-12-30 21:03] jsimsa commented on #34112
Yes, for instance https://github.com/tensorflow/tensorflow/issues/34519.

[2019-12-30 21:37] jsimsa commented on #35135
@aaudiber `from_tensor_slices` is not that different from `from_tensors` followed by `unbatch`. For datasets materialized into memory (e.g. as a NumPy array), `from_tensor_slices` is commonly used in TF tutorials as an example to convert these into a dataset and this will be suboptimal (c.f. this issue).

@feature-engineer `from_tensor_slices` represents a "ease-of-use vs. performance" trade-off a

[2019-12-30 21:44] jsimsa commented on #35335
I believe that this is another instance of the "datasets do not propagate" control dependencies bug (b/142341957) that and I plan to fix as soon as possible.

[2019-12-30 21:47] sanjoy commented on #34112
I did not phrase this unambiguously: is there a situation where TF should legitimately need to copy a `DatasetVariantWrapper` between CPU and GPU?  If yes, the right fix should be to teach TF to do this copy, right?