[2019-02-20 11:23] nparikhsfn commented on #24188
@AntoineWeber , to be precise, it is tf.tanh not supported or LSTM, you can use it but need to fall back on Linear? Is my understanding correct?

[2019-02-20 12:22] #25761 closed

[2019-02-20 12:29] PK15946 opened #25931 "Model with mirror pad can run using Desktop tflite but can't run using Android tflite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu16.04
- TensorFlow installed from (source or binary):binary
- TensorFlow version (or github SHA if from source):'1.13.0-dev20190215'

I notice that since 11/20/2018, [mirror pad](https://github.com/tensorflow/tensorflow/issues/23962#issuecomment-442147097) was supported in TFlite, and I can successfully convert

[2019-02-20 13:58] chris12766 opened #25932 "tf.data.experimental.CsvDataset iterates forever"
I have a csv file that has number of rows equal to 1 batch but when I run my code it loops that batch forever and never throws an exception. How can I make the iterator stop after it reaches the end of the dataset? Is this a bug?

[code]

[2019-02-20 14:01] mika-fischer commented on #22387
Still present in 1.13.0-rc2...

[2019-02-20 14:36] ujur007 opened #25933 "tensorflow Module object has no attribute keras."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2019-02-20 14:48] prhbrt opened #25934 "numpy.dtype size changed, may indicate binary incompatibility"
## Cleanest reproduction:

Run in a GPU Google Colaboratory session:

    !pip3 install tensorflow-gpu==1.13.0rc2 numpy==1.15.0
    !python3.6 -c 'import tensorflow'

However, how I came across the issue:

**System information**
- Ubuntu 18.04
- Dell XPS 15 2016 laptop
- installed a binary using pip3 install tensorflow-gpu==1.13.0rc2
- TensorFlow version: 1.13.0rc2
- Python 3.6.5
- virtualenv with

[2019-02-20 14:49] laurentlb opened #25935 "Bazel incompatible changes"
Tensorflow doesn't build with Bazel incompatible flags.
Based on our CI (https://buildkite.com/bazel/bazel-at-release-plus-incompatible-flags/builds/95), the following flags will fail:

* `--incompatible_new_actions_api`
* `--incompatible_no_support_tools_in_action_inputs`
* `--incompatible_no_transitive_loads`
* `--incompatible_disable_deprecated_attr_params`
* `--incompatible_disallow_load_label

[2019-02-20 15:03] a4ankit opened #25936 "Adding labels to images while training"
Hi @nsthorat @tensorflower-gardener,  we were about to implement image recognization

I'm able to convert the image to tensor, now I want to add the label and give training to that image. If this gets succeeded then I want to do the same for multiple images with their respective labels. Any suggestions would be helpful.

Thanks

[2019-02-20 15:08] prinsherbert commented on #25934
If wondering, I installed `tensorflow-gpu==1.13.0rc2` because I upgraded to cuda 10.0 from cuda 9.0 and didn't want to go through the hassle of downgrading cuda for compatibility with a stable tf, due to the risk of messing up the nvidia-drivers and killing my desktop environment.

Therefore I figured using a `rc2` tf is less troublesome, expecting the stable tf `1.13` to arrive soon.

[2019-02-20 15:13] quartermaine opened #25937 "error import tensorflow"
System information
OS Platform: Windows 10 x64
TensorFlow installed from: pip install tensorflow-gpu
Python version: 3.5.3
CUDA/cuDNN version: CUDA10.0 / cuDNN v7.4.2
GPU model and memory: GTX 1060
Exact command to reproduce: import tensorflow
Describe the problem
It is impossible to import tensorflow in my present environment.I am getting the following error.
-------------------------------------

[2019-02-20 15:42] ageron opened #25938 "keras.models.load_model() fails when the model uses a keras.losses.Loss subclass"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
tf

[2019-02-20 15:45] 2020testuser opened #25939 "Docker containers with Python 3.7"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version 1.12:
- Are you willing to contribute it (Yes/No): yes

**Describe the feat

[2019-02-20 15:58] lemr commented on #22056
I had the same/similar problem:
[code]

using docker container with dockerfile:
[code]

[2019-02-20 16:25] geoJaSON opened #25942 "Tensorflow Import Error (numpy.core.multiarray failed to import)"
Trying to import Tensorflow in iPython while in an conda environment. An issue with Numpy seems to be breaking the import. I have uninstalled and reinstalled numpy and tensorflow (CPU) using Pip commands within the environment. Thanks everyone

*System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version: 1.13
- Python version: 3.7.2
- Installed

[2019-02-20 16:37] Evarin commented on #17629
I had the same problem (with CUDA 9.2), and somehow got it solved ~magically using `conda install tensorflow-gpu` (after uninstalling it with pip), rather than `pip install tensorflow-gpu`. It does not sound like a read fix, but it may help :)

[2019-02-20 16:40] alextp commented on #25403
Can you inspect the memory usage with nvidia-smi? If you have any other
processes using the GPU tf eager might fail to allocate its memory.

On Tue, Feb 19, 2019 at 11:22 PM emailweixu <notifications@github.com>
wrote:

--
 - Alex

[2019-02-20 16:42] LittleFatHero opened #25944 "Is tensorflow-mkl version same as tensorflow?"
OS: windows 10
Intel said that if I want to install the mkl version of tensorflow on windows 10, I have to use the command as following:
_conda install tensorflow-mkl_

However, Anaconda said that if I want to install the mkl version of tensorflow, I just need to execute the following command no matter my OS is windows or linux:
_conda install tensorflow_

I just want to know if tensorflow is the

[2019-02-20 16:42] rohan100jain commented on #13530
The prefetching currently works only for tf.data, so you'll have to replace your pandas_input_fn with a dataset. I believe you can use SQLDAtaset (https://www.tensorflow.org/versions/r1.12/api_docs/python/tf/data/experimental/SqlDataset?hl=en) to construct one of these.

Once you have a dataset (lets call it sql_ds) with the information, you can do the following

def input_fn():
  sql_ds = <create

[2019-02-20 16:57] ParikhKadam commented on #3810
@sherrym @rabintang
`You can fork a local client from github and read the documents locally.`

Actually I tried this.. Forked docs from https://github.com/tensorflow/docs and tried building it by running
`python setup.py build`
according to what was shown in help menu. I am getting errors.

Is this the actual method to build or am I doing something wrong?
Can you please share a step-by-step guide?

[2019-02-20 16:58] fazlekarim commented on #25403
@emailweixu I noticed the same thing. But this issue is only with the 2080 GPUs. If you use any other GPU it works fine
@alextp I applied nvidia-smi. There isn't any other processes using the GPU.

[2019-02-20 17:00] lorenzesz commented on #25817
downgrade to Python 2 fixed this.

[2019-02-20 17:01] ParikhKadam commented on #3810
@danyfang

Can you also guide me on building docs on local machine to browser offline? It would be a great help.. Please!

Thank you..

[2019-02-20 17:06] spaul13 opened #25945 "Measuring the prediction accuracy for the tensorflow-lite android version"
I am using the tensorflow-lite version (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/java/demo). Can anyone please tell me how to compute the object detection accuracy or prediction accuracy while using this?

[2019-02-20 17:08] alextp commented on #25403
@azaks2 do you know someone with more low-level GPU work to investigate this? It makes no sense to me because eager doesn't treat GPUs any different than graph mode does.

[2019-02-20 18:18] jvishnuvardhan commented on #24218
@imnotkind Please open a new ticket by filling the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md) and providing as many details as possible. Thanks!

[2019-02-20 18:20] steige2 commented on #25747
Identical problem,
$ uname -a
Linux xxxx 3.10.0-862.6.3.el7.x86_64 #1 SMP Fri Jun 15 17:57:37 EDT 2018 x86_64 x86_64 x86_64 GNU/Linux

$ bazel version
INFO: Invocation ID: 4e446e3b-c921-4d82-a9f3-579c2424e8aa
Build label: 0.22.0- (@non-git)
Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Tue Feb 5 15:23:19 2019 (1549380199)
Bu

[2019-02-20 18:23] ppwwyyxx opened #25946 "BUG: symbolic layer triggers device creation"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):linux ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:n/a
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):b'v1.

[2019-02-20 18:24] Ann1874 commented on #14004
help please
C:\Users\Ana Flavia\AppData\Local\Programs\Python\Python36\Lib\site-packages>python tensorflow/examples/speech_commands/train.py
Traceback (most recent call last):
  File "C:\Users\Ana Flavia\AppData\Local\Programs\Python\Python36\lib\tarfile.py", line 1641, in gzopen
    t = cls.taropen(name, mode, fileobj, **kwargs)
  File "C:\Users\Ana Flavia\AppData\Local\Programs\Python\Python36\l

[2019-02-20 18:36] jvishnuvardhan commented on #24890
@gunan,
*AVX2 support is not compiled with the nightly. Could this fixed in the final build (TF2.0)?*

[2019-02-20 18:39] optiluca opened #25947 "tf.python.keras.utils.Sequence hangs fit_generator"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):  v1.12.0-8400-g7f0bf2ef4f 1.13.0-dev20190220
- Python version: 3.6
- CUDA/cuDNN version: 10/ 7.4.2
-

[2019-02-20 18:42] ppwwyyxx commented on #25946
This bug was introduced in https://github.com/tensorflow/tensorflow/commit/8ef3e7c8c053cb6dad530e13c478bbd406ea2c95.

In fact, the entire `keras/backend.py` file heavily relies on looking at the available devices.

[2019-02-20 18:43] jvishnuvardhan commented on #25282
Seems like this is resolved. Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-02-20 18:43] #25282 closed

[2019-02-20 18:51] ymodak commented on #25845
This is likely due to tensorflow and cudnn version mismatch.  Can you please switch to following test build configuration :
[tensorflow_gpu-1.8.0 cuda 7 cudnn 9](https://developer.nvidia.com/rdp/cudnn-archive)

[2019-02-20 18:54] angersson commented on #25939
TensorFlow 1.13's release candidates support Python 3.7 (there are a few other issues that cover this) -- you're welcome to try out one of the pip pre-releases on your own machine or on a custom Docker image.

Our Docker containers are based on Ubuntu 16.04, which doesn't offer Python 3.7. I don't think we have any plans to upgrade them to support Python 3.7 right now (which would need some PPA wo

[2019-02-20 19:02] anilknayak opened #25948 "Raspberry pi - Go Tensorflow - OOM allocating tensor issue"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
1. Code in Golang
2. Used GO Tensorflow
3. MobileNet model
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Raspberry Pi (1.4GHz, 1024 RAM, 4 Cores)
- TensorFlow version (use command below):
v1.12.0

**Describe the current behavior**
I have written a Face Classificatio

[2019-02-20 19:02] tensorflowbutler commented on #23096
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-20 19:03] tensorflowbutler commented on #24385
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-20 19:06] lhelontra commented on #25323
@mrodozov works with gcc-8.2 only.

[2019-02-20 19:54] cuixiaom commented on #17884
get fixed by replace the iterator node with place holder nodes, although this fix will cause the performance degrade.

[2019-02-20 19:54] aishwaryap commented on #24828
Yes, that seems to help. Thanks!

[2019-02-20 19:58] jvishnuvardhan commented on #25772
As suggested by @Sayan-Paul , @adt123 Could you use newer Tensorflow version and test your model? Thanks!

[2019-02-20 20:39] bazinac commented on #25657
+1 as well, took me quite a while to find out why .run is not returning. anyway guys, keep up the good job, it is really appreciated and it is really cool to watch how TF is evolving. 2 yrs ago something ondevice GPU support was hard to imagine for me.

[2019-02-20 20:54] jvishnuvardhan commented on #25784
@brownbro Could you provide any results showing the bug? Thanks!

[2019-02-20 20:58] ledinhtri97 commented on #559
Make sure you don't have `tempfile.py` somewhere in python path; which prevents import of standard library tempfile module.

Also make sure deleting `tempfile.pyc` if there it is.

[2019-02-20 21:08] ymodak commented on #25808
Closing this issue since its a duplicate of #25731.
Lets track it there. Thanks!

[2019-02-20 21:08] #25808 closed

[2019-02-20 21:15] yifeif commented on #25807
That is very odd. We didn't change the behavior of dsoloader or how we handle cupti.
@alanpurple when it worked for you before, was it the same pip package etc, and the only difference is the driver version?

[2019-02-20 21:46] jvishnuvardhan commented on #25824
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-02-20 21:57] jvishnuvardhan commented on #25817
@lorenzesz Did you try TF2.0-preview? Thanks!

[2019-02-20 22:03] jvishnuvardhan commented on #25812
Please check the [tested build config](https://www.tensorflow.org/install/source#tested_build_configurations). For  TF1.10, CUDA/cuDNN 9.0/7.0 is supported. Did you had a chance to migrate to TF1.12? Thanks!

[2019-02-20 22:05] jvishnuvardhan commented on #25805
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-02-20 22:05] #25805 closed

[2019-02-20 22:07] bazinac opened #25950 "TFLite GPU crashes when not all ops are supported by delegate?"
**System information**
- I have custom code, however GPU Delegate part I have used as described in here provided sample
- Ubuntu 18.04
- Samsung Galaxy J5 2015 (crashes), Galaxy S7 and LG G6 (works fine),
- TF build from 'org.tensorflow:tensorflow-lite:0.0.0-gpu-experimental'

**Describe the current behavior**
Using TF Lite with GPU developer preview, when I run inference on my mobilenetV2 retrain

[2019-02-20 22:37] jvishnuvardhan commented on #25883
@BigBigWolf-AI Team is working very hard on TF2.0. As of now, release date is not announced yet.

I am closing the issue as it is not related to build/install or bug/performance. Thanks!

[2019-02-20 22:37] #25883 closed

[2019-02-20 22:39] angersson commented on #25799
This looks like an issue in the nightly pip packages, not with the docker images specifically (thank you for mentioning that the problem also appears outside of Docker). @jvishnuvardhan, could you find a more fitting assignee, please?

[2019-02-20 22:41] jvishnuvardhan commented on #25870
@vinodk333 Please check [tested build config](https://www.tensorflow.org/install/source_windows#gpu). For your version you need to downgrade some modules, build and install the TF1.12 version. Thanks!

[2019-02-20 22:44] jvishnuvardhan commented on #25870
@vinodk333 Please also check there is a known issue with windows10 on character [limit](https://www.howtogeek.com/266621/how-to-make-windows-10-accept-file-paths-over-260-characters/). Thanks!

[2019-02-20 22:49] gunan commented on #24890
Our pip builds aim to be able to work an the widest platforms possible.
If we build AVX2 into them, the packages wont work on a wide range of older CPUs.
So our packages will still not be built with avx2 in 2.0 final.

[2019-02-20 23:17] Lauler commented on #25942
Take a look at #559 . Usually this seems to happen when you have had an older version of numpy installed somewhere. pip isn't always to be trusted when upgrading and installing new packages.

I got the same exact error in one conda env where I had a previous tensorflow version installed and tried to install a new one. It was easily solved by starting a new conda environment and installing everythi

[2019-02-20 23:26] jvishnuvardhan commented on #25846
@Sangarshanan you can download from [here](https://pypi.org/project/tf-nightly-2.0-preview/)

[2019-02-20 23:33] Hoeze commented on #21667
As of TensorFlow 2.0:
[Thank you for picking this up!](https://medium.com/tensorflow/effective-tensorflow-2-0-best-practices-and-whats-changed-a0ca48767aff?fbclid=IwAR1C_CVFwsJFkLgk9VUwegtEk22UPAojCvzKAEaNjoKpgePropUokHXIKPE)

[2019-02-20 23:35] jvishnuvardhan commented on #25877
@YibaYan Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-02-20 23:57] jvishnuvardhan commented on #25937
@quartermaine Could you follow more detailed instructions [here](https://www.tensorflow.org/install/pip) and let me know how it progresses. Thanks!

[2019-02-21 00:05] eloi-loomai opened #25952 "MKL Link error libiomp5md.lib library is corrupt"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-02-21 00:55] KaramAbuaisha opened #25954 "Issue with training using gpu on docker (slow to start and in general as well I believe, same speed as CPU)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
NO, stock exam

[2019-02-21 00:55] alsrgv commented on #25946
I'm guessing we'll have to stick with https://github.com/horovod/horovod/blob/master/examples/keras_imagenet_resnet50.py#L59 in a preamble for any Keras API usage.

[2019-02-21 00:56] BigBigWolf-AI commented on #25883
OK! I have known that! Thanks!

[2019-02-21 01:02] joeyearsley commented on #7511
https://github.com/zengarden/light_head_rcnn/tree/master/lib/lib_kernel/lib_nms_dev

Here is a GPU version which can be built for TF.

[2019-02-21 01:19] jackd opened #25955 "keras `Model.compile` with loss/metrics dict and multiple outputs from same layer"
## System information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- Python version: ('v1.12.0-7354-gedbd8a15b9', '1.13.0-dev20190203') - also present in 2.0 preview
- CUDA/cuDNN version: 10.0 / 7
- GPU model and mem

[2019-02-21 01:25] impjdi commented on #25950
@bazinac

`isGpuDelegateAvailable` essentially only checks whether AAR is available.  It is not very safe to assume that function is foolproof.  In fact, there can be various other reasons why GPU initialization might fail.  We are trying hard to improve that method though.

re: if the whole graph cannot be run, return false, is against the current philosophy of delegates API.  The idea is to prov

[2019-02-21 01:26] #25835 closed

[2019-02-21 01:27] dynamicwebpaige commented on #25802
@Sudeepam97 I _believe_ that the `gen_math_ops.py` file is generated from [`tensorflow.bzl`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorflow.bzl). There are C++ kernels located [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/kernels) for each op - most of the mathematical operations live in that repo. :slightly_smiling_face:

cc: @MarkDaoust @

[2019-02-21 01:40] apepkuss commented on #18839
Similar problem happened to me: "tile_functor_gpu.cu.pic.o was not created"
Tensorflow r1.9
Ubuntu 16.04
gcc 4.8
CUDA 9.0
cuDNN 7.0

[2019-02-21 01:52] mjahns commented on #22794
I had the same issue while using CUDA 9.0, installed 10.0 and it seems to have solved the problem so far. Based on that, pretty sure 1.13.0 requires 10 instead of 9.

[2019-02-21 01:54] ymodak commented on #25942
In addition to @Lauler 's suggestion, Python 3.7 is supported in TensorFlow 1.13.0-rc2 build.

[2019-02-21 02:01] santiag0m commented on #22794
Same here
python 3.6.7
geforce 1060

I had problems with numpy, so make sure to use numpy 1.16. I had to reinstall it from pip because Anaconda's version is outdated.

[2019-02-21 02:01] smit-hinsu commented on #25403
NVIDIA suggests to use CUDA 10 for RTX 2080 instead of earlier versions of CUDA.
https://devtalk.nvidia.com/default/topic/1042920/which-version-of-cuda-can-work-with-rtx-2080/

TensorFlow now supports CUDA 10. See https://github.com/tensorflow/tensorflow/issues/22706#issuecomment-461120061

Could you upgrade to CUDA 10 and give it a try? Let us know if it still does not work. Also, include nvidia-

[2019-02-21 02:03] mrry commented on #25825
Rachel, I think this is a feature request for better missing value handling in `make_csv_dataset()`

[2019-02-21 02:06] pcub commented on #21230
yes, I solved it. it was related to max number of detection and number of class as I remember.

[2019-02-21 02:12] ymodak commented on #25822
What is your current numpy version?
The numpy version should be  >= 1.14.5 and < 2.0

[2019-02-21 02:13] zg9uagfv commented on #25920
Fixed
`tensorflow::TTypes<float, 3>::Tensor boxes = outputs[0].tensor<float,3>(); `

[2019-02-21 02:13] #25920 closed

[2019-02-21 02:14] rachellim commented on #25825
Is the issue here the space character before the NA in your data? Matching the na_value requires an exact match. What if you did `na_value=" NA"`?

[2019-02-21 02:14] rachellim commented on #25825
@RylanSchaeffer

[2019-02-21 02:26] jackd opened #25957 "keras model.compile: allow user-specific label shapes/dtypes for loss/metrics"
## System information
- TensorFlow version: 1.12 (also present in 1.13, 2.0)
## Are you willing to contribute it (Yes/No):
Yes

## Describe the feature and the current behavior/state.
`tf.keras.models.Model.compile` currently has no way of knowing the shape/size of targets that will be passed to it during `Model.fit` (and other main looping methods). Instead it creates placeholders on a 1-to-1 bas

[2019-02-21 02:33] smit-hinsu commented on #25474
These failure definitely seem concerning.

But, I don't see any instructions for inference on the github page required to reproduce this issue.
https://github.com/matterport/Mask_RCNN

Could you try to come up with a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) as described in https://stackoverflow.com/help/mcve to make it easier to reproduce the failure?

[2019-02-21 02:37] AliceDinh commented on #25922
I don't know what happened but this morning the `mobilenet_v1_0.50_128/frozen_graph.pb` is converted successfully by `tflite_convert`:
![image](https://user-images.githubusercontent.com/20389638/53139285-be566400-35bb-11e9-9c27-e2f4536e1de0.png)
But if I change to my trained model, the mentioned error appear. Anyone please tell me about the `--output_arrays=MobilenetV1/Predictions/Reshape_1`, if I

[2019-02-21 02:40] vrl2 commented on #25822
Numpy version is 1.16.1. Also tried with version 1.14.5 with the same
result.

On Wed, Feb 20, 2019 at 9:16 PM ymodak <notifications@github.com> wrote:

[2019-02-21 02:41] dl8207531 commented on #24311
tensorflow/contrib/lite/kernels/reshape.cc:58 num_input_elements != num_output_elements (4 != 2)
Same problem
In other model squares it is possible to use dynamic size
Error using rectangle for current model

[2019-02-21 03:11] fnielsen commented on #25517
Will deleting the tensorflow directory help? If you are not in a virtual environment:
[code]
These commands apparently got my system working.

[2019-02-21 03:19] ibunny01 commented on #25665
I come across the same issue with you, but I was trying to use `AttentionCellWrapper` for `tf.nn.dynamic_rnn`:
[code]
If `self.ATTENTION` is False, everything is ok, but once added `AttentionCellWrapper` to the cell, it would get the same error message above.

[2019-02-21 03:28] lzw429 commented on #25665
If the architecture of your model is seq2seq, maybe you could try to use tf.contrib.seq2seq.AttentionWrapper instead.

[2019-02-21 03:42] danijar commented on #6269
Workaround with GPU gradients:

[code]

[2019-02-21 03:52] sendeb commented on #24410
Are there any updates on this? This will be an amazing feature when available!

[2019-02-21 04:59] preethivenkatesh commented on #25944
No, they are not the same on windows yet. Ideally, tensorflow from Anaconda must install mkl optimizations by default. However, due to old run time dependencies on windows, eigen version of tensorflow takes precedence over mkl version. This discrepancy has already been reported to Anaconda, and they are working on fixing their SAT solver to prefer mkl by default. In the meantime, please do ```cond

[2019-02-21 05:01] mpjlu opened #25958 "The performance of SparseSoftmaxCrossEntropyWithLogits in inference is very low"
SparseSoftmaxCrossEntropyWithLogits computes softmax cross entropy cost and gradients to backpropagate.
When SparseSoftmaxCrossEntropyWithLogits used in inference, for example, in language models, we only need the cost.
SparseSoftmaxCrossEntropyWithLogits is very time-consuming in language models, it is better to add a flag for inference and training, or to split this OP to two.

**Describe the cu

[2019-02-21 05:14] gunan commented on #25822
what is your CPU make/model?
TF requires CPUs that have AVX instruction sets. If you are running on an old machine, it will fail to load.

[2019-02-21 05:33] vrl2 commented on #25822
The CPU is an Intel Xeon X5680, which does not have AVX instruction sets.
Is it possible to run tensorflow in a conda virtual environment with this
processor?

On Thu, Feb 21, 2019 at 12:20 AM Gunhan Gulsoy <notifications@github.com>
wrote:

[2019-02-21 05:58] smit-hinsu commented on #25452
This issue is discussed on the NVIDIA forum and seems to be a known issue with windows.
https://devtalk.nvidia.com/default/topic/996667/gtx-980ti-6gb-only-have-4-97gb-memory-available-with-win10-64/

[2019-02-21 05:58] #25452 closed

[2019-02-21 06:09] gunan commented on #25822
Not the prepackaged versions.
If you build TF from sources, you can run TF on this machine:
https://www.tensorflow.org/install/source

[2019-02-21 06:25] smit-hinsu commented on #25623
Thanks for filing this issue. Could you also explain your preference for the old behavior?

I haven't tried to reproduce this yet but adding some devs who may know if there was any change in the memory allocator implementation that may have caused this.
@aaroey @poxvoculi

[2019-02-21 06:31] ibunny01 commented on #25665
Thanks for your suggestion, but I'm not trying to build a `seq2seq`, my model is for item recommendation, so I don't need a decoder (or in other word my decoder is just an item embedding vector which is doing inner product with the RNN encoder's output vector) . And what I'm doing is trying to add Attention mechanism to my RNN encoder (GRU/LSTM), so in this kind of situation, what kind of wrapper

[2019-02-21 06:38] ymodak commented on #25811
duplicate #20984

[2019-02-21 06:41] bazinac commented on #25950
Hi guys, thanks for providing extensive info on the topic.

You are right, this J5 has GL ES 3.0 only, which is why it does not run on it. Maybe it would be good idea to throw some warning about required version inavailability right at the TF init time (when GPU options are passed). Thanks for expanation!

[2019-02-21 06:41] #25950 closed

[2019-02-21 06:48] RajeshThallam opened #25959 "[TF 2.0 API Docs] tf.image.non_max_suppression"
### Existing URLs containing the issue:

https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/image/non_max_suppression#aliases

### Description of issue (what needs changing):

* **Correct Links**
  https://github.com/tensorflow/tensorflow/blob/master/python/ops/image_ops_impl.py is incorrect. The correct link should be https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python

[2019-02-21 06:56] lzw429 commented on #25665
In fact, this is also what I am trying to do. But I did not find that TensorFlow r1.12 has any similar wrapper. And of course, pytorch does not have a similar wrapper...

[2019-02-21 07:12] danijames commented on #13793
@chans1239 Can you please tell what all errors you solved and which version of tensorflow you installed?

[2019-02-21 07:21] Zhizh1 commented on #11157
when I use fit_generator() meet the same error with tf 1.8.0 and keras 2.2.4.

[2019-02-21 07:24] ymodak commented on #25933
I suspect its a due to lower tf version.  What's your tf version? Can you try updating tf
```pip install -U tensorflow```

[2019-02-21 07:34] fferroni commented on #25812
Hi,

Actually the reason why the CUDA toolkit is "missing" is that in my Bazel project, the CUDA toolkit is itself a Bazel library target, CUDNN library is another target, etc so that's why the Tensorflow configuration doesn't find it, because it lives in some crazy long path in Bazel cache like
`/home/ferronfr/.cache/bazel/_bazel_ferronfr/fb0eee7f7437f761aece7d670e37cf54/cuda_pc_amd64`

Digging a

[2019-02-21 07:35] xfj81525 commented on #21230
could you please tell me how to solve this problem?

At 2019-02-21 10:11:02, "baynaa" <notifications@github.com> wrote:

yes, I solved it. it was related to max number of detection and number of class as I remember.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-02-21 07:35] twopisoft commented on #25799
I am seeing similar SIGFPE when doing import on a system that is running CentOS 6.7 and no GPU. I am using TensorFlow 1.10 from Anaconda 5.3 (python 2.7.15). It also happens with TensorFlow 1.12.

`Program received signal SIGFPE, Arithmetic exception.
0x00007fffda47f846 in _GLOBAL__sub_I_jit_avx512_common_conv_kernel.cpp () from /home/user1/anaconda2/lib/python2.7/site-packages/tensorflow/python/.

[2019-02-21 07:37] yashwantptl7 commented on #11143
I'm also facing same problem, while doing distributed training using ESTIMATOR, my parameter server is also doing training. Although they are just supposed to update parameters.

[2019-02-21 07:37] Honghe commented on #22946
Same issue here with TensorFlow-GPU: 1.12.0, with CUDA-9.
Code: https://github.com/Honghe/Speaker_Verification

[2019-02-21 08:14] logsea commented on #25845
After I restart the system, the code can run successful.
I remember I run the code twice. And the first time it download the model, it meet a network problem. Then the code stoped. The second time it download successful and I meet the problem.

[2019-02-21 08:18] nasica88 opened #25960 "Cannot find cudnn.h under ~ but I really have it there !"
**System information**
- OS Platform and Distribution : Redhat 7.5 ppc64le
- TensorFlow installed from source
- TensorFlow version: v1.12.0
- Python version: 3.6.5  (anaconda3 v5.2)
- Bazel version (if compiling from source): 0.15.0
- GCC/Compiler version (if compiling from source):  4.8.5
- CUDA/cuDNN version: 9.2/7.4.2
- GPU model and memory: V100 16GB

**Describe the problem**

I am trying to b

[2019-02-21 08:47] nomis-g commented on #24265
It would be great to have a replacement since the numpy_input_fn is one way of [avoiding large `event` files](https://github.com/tensorflow/tensorboard/issues/1252) when running tf.estimator.

[2019-02-21 09:03] appyfizzA commented on #17494
I did "conda update conda" and "conda update mkl". But I'm still getting the error.
I'm using python 3.6, tensorflow 1.9
Please help

[2019-02-21 09:03] plagree opened #25961 "Warning with custom categorical column with custom weights"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution: MacOS 10.12
- TensorFlow installed from source
- TensorFlow version: v1.12
- Python version: 3.6.6

**Describe the current behavior**

A `_CategoricalColumn` is represented with 2 `SparseTensor`s: one for indexes and one for weights. It seems

[2019-02-21 09:06] appyfizzA commented on #23145
@wei-v-wang @kawaiiQ
were you able to solve this? I'm using python 3.6.5 and tensorflow 1.9

[2019-02-21 09:06] lorenzesz commented on #25817
I have compiled it with python 3.6 now. 2.0 is not ready for development, but I can compile for testing this night.

[2019-02-21 09:19] wei-v-wang commented on #23145
@appyfizzA this bug seems to be fixed with latest TF. Can you please try?
@TensorFlow-MKL please help confirm/double check on this. Thank you!

[2019-02-21 09:27] ujjwalrathod007 commented on #25933
Hi, I have 1.12.0

Is there any requirement for CUDA version?

`Name: tensorflow
Version: 1.12.0
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page: https://www.tensorflow.org/
Author: Google Inc.
Author-email: opensource@google.com
License: Apache 2.0
Location: /.local/lib/python3.6/site-packages
Requires: tensorboard, protobuf, keras-applications, wheel, ast

[2019-02-21 09:31] GPhilo commented on #24218
@jvishnuvardhan what's the point of opening an identical issue to this one just to bump the TF version it refers to? The issue was closed for lack of activity, but the lack is not on the user's side. Is XLA on windows still unsupported? Has the error message been improved to clarify why the static assert fails? (Considering that [the offending line is still unchanged in the master branch](https://

[2019-02-21 09:34] Zhiqiang-Ye commented on #24612
@alextp @msymp
Sorry for my late reply. I just got time to do more tests and finally solve this issue.

On one hand, the training process went well with partitioner, and it converged quickly;
On the other hand, the discrepancy between evaluation AUC and training AUC resulted from the initialization process of variables in the graph. To get the expected result, I had to provide a partitioner with *

[2019-02-21 09:36] puneet336 commented on #25896
I tried manual compilation of a file from bazel cache directory -
/home/puneet/.cache/bazel/_bazel_puneet/000cc71254e2a8499cd324ebddae445d/execroot/org_tensorflow
using the command line which fails during bazel build .

`/opt/intel/compilers_and_libraries_2019.0.117/linux/bin/intel64/icpc -U_FORTIFY_SOURCE -fstack-protector -Wall -B/opt/intel/compilers_and_libraries_2019.0.117/linux/bin/intel64 -B

[2019-02-21 10:21] mpjlu commented on #25958
ping @greg1232

[2019-02-21 11:29] windyuan opened #25965 "build failed on v1.13.0-rc1 with Geforce RTX 2080 card on Ubuntu 18.04"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution Linux Ubuntu 18.04:
- TensorFlow installed from source:
-

[2019-02-21 11:33] bhamapillutla commented on #15633
not able to convert ssdmobilenet v1 .pb to .tflite
pb generated through Tensorflow object detection api @aselle  @achowdhery

[2019-02-21 11:47] GPhilo opened #25966 "Compilation error when building tfcompile on Windows 10 (TF 1.13-rc2)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): source
- TensorFlow version: checkout tag v1.13-rc2
- Python version: 3.5.6
- Installed using virtualenv? pip? conda?: -
- Bazel version (if compiling from sourc

[2019-02-21 11:49] GPhilo commented on #24218
@jvishnuvardhan since I'm also still having the issue with 1.13-rc2 I opened a new issue with the full current configuration.

[2019-02-21 11:56] puneet336 commented on #25896
compilation of another .cc file failed
[code]

error messages are as follows -
[code]

I am attaching files involved in this issue.
[non_max_suppression_op.cc.txt](https://github.com/tensorflow/tensorflow/files/2889131/non_max_suppression_op.cc.txt)
[non_max_suppression_op.h.txt](https://github.com/tensorflow/tensorflow/files/2889132/non_max_suppression_op.h.txt)

[2019-02-21 12:26] vinayonchip opened #25969 "Is it mandatory to use same version of Tensorflow for TFLite conversion"
**System information**
- OS Platform and Distribution : Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: master
- Python version:3.6.5
- Installed using virtualenv
- Bazel version (if compiling from source):0.21.0
- GCC/Compiler version (if compiling from source):5.4.0

**Problem description**
I have trained a custom model using Tensorflow 1.9 binary.

[2019-02-21 13:15] Santosh3298 commented on #15800
For a given Labeled data(Location) how can we write a code in Tensorflow to predict Unlabeled data(Location).
[data.zip](https://github.com/tensorflow/tensorflow/files/2889382/data.zip)

I am new to Tensorflow and trying to write code to run and predict but not able to understand and write.Please help me if anyone has experience in Tensorflow.I have attached the data file

[2019-02-21 13:24] quartermaine commented on #25937
@jvishnuvardhan I follow the instructions that you mention and the resources given but still no success.

[2019-02-21 13:24] Learner1527 commented on #15800
For a given Labeled data(Location) how can we write a code in Tensorflow to predict Unlabeled data(Location).
[data.zip](https://github.com/tensorflow/tensorflow/files/2889416/data.zip)

I am new to Tensorflow and trying to write code to run and predict but not able to understand and write.Please help me if anyone has experience in Tensorflow.I have attached the data file

[2019-02-21 13:27] yongtang commented on #25966
@GPhilo I could see commit https://github.com/tensorflow/tensorflow/commit/bb479118c9fed7be0186f98a3939ec28b162f2fe might have fixed the issue. It is not part of `rc2` though.

[2019-02-21 13:48] ujjwalrathod007 commented on #25933
I think there was some CUDA toolkit problem, it worked after following

[https://medium.com/@taylordenouden/installing-tensorflow-gpu-on-ubuntu-18-04-89a142325138](url)

[2019-02-21 14:12] sidkashyap commented on #23888
I see the same error, "...bfc_allocator.cc:373] tried to deallocate nullptr"

[2019-02-21 14:25] kawaiiQ commented on #23145
@wei-v-wang @appyfizzA
I've just tried it using python 3.6.8 and tensorflow 1.12.0 on CentOS, Windows10 and WSL(based on Debian), all installed using the lastest Miniconda.
It seems that Windows version works fine, but Linux (CentOS and Debian) version still not work.

[2019-02-21 14:27] yuvval commented on #16875
For anyone encountered the `f"string {variable}"` literals issue: A hacky workaround, that works on earlier versions of python is to change those expressions to `"string {variable}".format(**locals())`

[2019-02-21 14:37] inakaaay commented on #25811
already solved this with reinstalling tensorflow as `pip install – user tensorflow==1.12.0 –ignore-installed`

[2019-02-21 14:37] #25811 closed

[2019-02-21 14:38] bersbersbers opened #25970 "tf.keras computes incorrect losses with 3+D data if batch size does not divide number of samples"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

Yes. For a minimal example, run

[code]
and observe that loss and poisson values are different, and loss values vary:
[code]

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10

- TensorFlow installed from (source or binary):
`pip install tensorflow`
- Tensor

[2019-02-21 15:01] ElderOrb commented on #22643
Seems like the issue was related to master instability. 1.13rc works just fine for android / linux (although I still can't build for windows)

[2019-02-21 15:14] binfoo1993 opened #25971 "Requirements of SparseTensorDenseMatMul on GPU"
Hi, I'm using SparseTensorDenseMatMul op on GPU. And I noticed that there are some requirements for the sparse matrix.

      // The GPU implementation is optimized to use 32 bit indexing, so
      // give a friendly error to the programmer early on if they
      // exceed.
      const int int32max = std::numeric_limits<int>::max();
      OP_REQUIRES(
          ctx,
          (FastBoundsCheck(inne

[2019-02-21 15:20] GPhilo commented on #25966
@yongtang thanks for the update, will the commit be included in 1.13?

[2019-02-21 15:43] logsea commented on #25845
@ymodak And I want to know what version you would suggest. cuDNN 7 also have plenty of subversion, and it seems like 7.4.2 can't work fine everytime.

This time it have one more error [failed to create cublas handle: CUBLAS_STATUS_ALLOC_FAILED].
The full log :

2019-02-21 23:41:21.400448: I T:\src\github\tensorflow\tensorflow\core\platform\cpu_feature_guard.cc:140] Your CPU supports instructions t

[2019-02-21 15:46] mrry commented on #25254
Reassigning this to @omalleyt12, since I think he has been improving the validation path lately, and I believe this feature would need to be implemented at the Keras level (but feel free to reassign, Tom!).

[2019-02-21 15:46] somnathrakshit commented on #14203
Same problem here.

[2019-02-21 15:57] 2020testuser commented on #25939
Thanks for the information!
Could you please clarify? Can I use TensorFlow 1.13 release images/tags to get Python 3.7? That is does image tags - 1.13.0rc2-gpu , 1.13.0rc2-gpu-py3 etc . come by default with python 3.7? Then, I can use any of the 1.13 images and I don't need ubuntu 18.x. Could you please confirm?

Thanks!

[2019-02-21 15:58] ataiya commented on #25707
Is there a workaround while the bug is being resolved?

[2019-02-21 16:02] duncandean opened #25973 "[TF 2.0 API Docs] tf.keras.losses.poisson"
### Existing URLs containing the issue:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/losses/poisson

### Description of issue (what needs changing):
* **Correct Links**
  All links are correct.
* **Clear Description**
  Lacks a description.
* **Usage Example**
  No usage example is provided.
* **Parameters Defined**
  Parameters are not defined.
* **Returns Defined**
  Returns

[2019-02-21 16:21] prateethvnayak opened #25974 "Able to access nodes/namespace from a graph for downloaded models"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): Yes

**D

[2019-02-21 16:28] quartermaine commented on #25937
@jvishnuvardhan I follow the instructions that you mention and the resources given but still no success.

[2019-02-21 16:52] poxvoculi commented on #25623
Exactly what do you mean by GPU memory being fully occupied?  How are you testing that?  And, most importantly, why would the old behavior be preferable?

[2019-02-21 16:57] armadillowithsunglasses commented on #20771
the aar package is for maven. I am building my app in gradle through studio, is there an alternate link to the aar package ?

[2019-02-21 17:17] ataiya opened #25976 "summary v2 create_file_writer() bug "SummaryWriterInterface does not exist""
Keeping the description brief as already discussed with @nfelt

I am getting these errors when logging to tensorboard:
[code]
This is a similar outcome to #25707, but it has a completely different cause (see below).

When using this "set_as_default" style:
[code]

The problem does not take place when using this style:
[code]

This is very counter-intuitive as the writer was never used after, and t

[2019-02-21 17:22] cbcase opened #25977 "CUDA_ERROR_ILLEGAL_ADDRESS in SoftmaxCrossEntropyWithLogits when run in FP16"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Binary (dockerhub: `tensorflow/tensorflow:1.13.

[2019-02-21 17:34] cbcase commented on #19473
Ping on this bug -- it's still broken. I believe the relevant int32 value that should be int64 is now here: https://github.com/tensorflow/tensorflow/blob/2199d3064c3f7778d51b9d62f6e81d1640d980f4/tensorflow/core/kernels/random_op_gpu.h#L137

[2019-02-21 17:41] nfelt commented on #25976
Just for context, this happens because the underlying resource is deleted when the SummaryWriter python object (returned by `create_file_writer()`) is no longer referenced.  Chaining the `.set_as_default()` method directly means there is no local variable reference to the writer.

I think the bug here is arguably that `.set_as_default()` only holds onto the underlying resource handle, not the Summ

[2019-02-21 17:42] yongtang commented on #25966
@GPhilo Don't know if the commit will be picked up by the final version of 1.13.0. The rc2 is very close to the final release as far as I know.

[2019-02-21 17:43] karmel commented on #9837
Thanks @theflofly for keeping on us about this. If you put together an RFC for review, I can help as the sponsor to find appropriate reviewers, etc. (CC @alextp , @skye who might be good reviewers here)

[2019-02-21 17:46] chans1239 commented on #13793
I installed the tensorflow-gpu version and the solved the issue!

[2019-02-21 17:48] ymodak commented on #25933
Yes, if you are using TF 1.12 gpu version then you have to install cuda 9.0. I will close this issue since you have found the solution. Thanks!

[2019-02-21 17:48] #25933 closed

[2019-02-21 17:50] vikashranjan26 opened #25978 "tf.keras.layers.conv3Dtranspose error when input size is None"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 / Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command b

[2019-02-21 17:52] karmel commented on #25285
Thanks, @amitlevy21 . I'm not totally sure I understand the use-case above, so let me repeat back to you what I hear: you want to switch between datasets, performing the same train operation on batches from each, but interleaving the steps. Is that correct? If so, Estimator doesn't interleave particularly well, but you can instead represent one input/model_fn step as a pass through each of the dat

[2019-02-21 17:58] av8ramit commented on #25711
Closing this issue for now due to lack of activity.

[2019-02-21 17:58] #25711 closed

[2019-02-21 17:59] ymodak commented on #25845
That's strange. I would recommend using cudnn 9.0 since its [tested version](https://www.tensorflow.org/install/source#tested_build_configurations) against tf 1.8

[2019-02-21 18:37] baslia opened #25980 "Failed to convert object of type <class 'tensorflow.python.framework.sparse_tensor.SparseTensor'> to Tensor"
Hi,
I am using python 3.6.8 and the last keras and tensorflow (1.12.0)version.
When I build something like that, it works:

[code]

But the following code would give an error:
[code]

The detailed error is
_TypeError: Failed to convert object of type <class 'tensorflow.python.framework.sparse_tensor.SparseTensor'> to Tensor. Contents: SparseTensor(indices=Tensor("input_30/indices:0", shape=(?, 2),

[2019-02-21 18:58] malmaud opened #25981 "Stateful version of contrib.summary.always_record_summaries"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13.0-dev20190219'
- Are you willing to contribute it (Ye

[2019-02-21 18:59] lissyx commented on #24709
@tofulawrence Can we expect that to work, or is there something blocking this feature fundamentally?

[2019-02-21 19:07] tensorflowbutler commented on #25536
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-21 19:16] angersson commented on #25939
Docker containers run an OS different from the host machine, so when you run one of those images you are effectively dropped into an Ubuntu 16.04 environment. That's the case for all of our images, so none of them will get you Python 3.7.

You would have to create your own Docker image to use Python 3.7, or modify an existing container to install Python 3.7. If you have any more questions about th

[2019-02-21 19:40] mjarosie opened #25983 "Compiling model with tf.keras.optimizers.SGD optimiser in eager execution mode throws an exception"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary):
- TensorFlow version: 1.12.0
- Python version: 3.6.8

**Describe the current behavior**
When trying to build a simple model in eager execution mode using SGD

[2019-02-21 19:44] ymodak commented on #25901
Thanks for your interest in using TensorFlow Hub. I think these issue can be better addressed in TensorFlow Hub repo. Please post it in TF Hub repo from [here](https://github.com/tensorflow/hub/issues). Thanks!

[2019-02-21 19:44] #25901 closed

[2019-02-21 19:47] tofulawrence commented on #24709
I'll let @miaout17 reply.

[2019-02-21 20:07] Supergitter123 opened #25984 "Tensorflow GPU installation issues"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-02-21 20:14] yongtang commented on #25978
I could reproduce with 1.13.0rc2 but not with tf-nightly. I think the issue has been fixed in the master branch.

[2019-02-21 20:16] yongtang commented on #25980
When I tried with tf-nightly, could not reproduce. I think the issue may have been fixed. Could you retry with tf-nightly?

[2019-02-21 20:23] yongtang commented on #25983
@mjarosie With tf 1.13.0rc2 I am not able to repeat the error. I think the issue may have been resolved. Could you retry with `tensorflow==1.13.0rc2`?

[2019-02-21 20:29] marpaia commented on #21404
Is there still work to do here or did #21895 wrap this up?

[2019-02-21 20:39] asimshankar commented on #21404
Thanks for linking this up @marpaia . Yeah #21895 should have closed this (and if there are missing features, a new issue can/should be filed).

@ymodak : Could you close this? Thanks!

[2019-02-21 20:42] huan opened #25985 "reset_states() failure in a stateful network with initial_states set and training in batch - TypeError: 'NoneType' object is not subscriptable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.

[2019-02-21 21:06] #21404 closed

[2019-02-21 21:10] ymodak commented on #25948
@asimshankar Can you PTAL? Thanks!

[2019-02-21 21:20] MarkDaoust commented on #25846
Yes that's the pip package.

The package is built from `master` with a 2.0 config flag... I think @dynamicwebpaige knows the exact commands. Paige is someone working on a install/source page for the tf2 docs?

Yes!
I believe it's [this file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/math_ops.cc#L409), but I can't think of a way to find this by introspection while gen

[2019-02-21 21:23] alextp commented on #24612
This does look like a bug. TF is supposed to be able to load partitioned variables as non-partitioned ones and vice versa.

Can you have short instructions to reproduce this issue, and file another bug?

[2019-02-21 21:28] mjarosie commented on #25983
I confirm - the problem doesn't persist. I'm closing the issue then. Cheers!

[2019-02-21 21:28] #25983 closed

[2019-02-21 21:39] JTunis opened #25988 "[TF 2.0 API Docs] tf.keras.applications.MobileNetV2"
**Existing URLs containing the issue:**
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/applications/MobileNetV2

**Description of issue (what needs changing):**
- __Correct Links__:
https://github.com/tensorflow/tensorflow/blob/master/python/keras/applications/__init__.py is incorrect
The correct link should be:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/pyt

[2019-02-21 22:03] jvishnuvardhan commented on #25536
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-21 22:03] #25536 closed

[2019-02-21 22:20] guoshimin opened #25990 "run_metadata should be preserved when session run fails"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-02-21 22:22] ymodak commented on #25973
@duncandean I think we have the correct link ```Defined in python/keras/losses.py.```

[2019-02-21 22:37] ymodak commented on #25862
Can you try setting cuda,cupti, cudnn paths to your environment variables in PyCharm?

[2019-02-21 23:40] deepikakanade commented on #17353
Hi All,

I am training my a MaskRCNN model on COCO data. I have created TFrecord file for the training and evaluation data. However, I am getting the error:

tensorflow.python.framework.errors_impl.InvalidArgumentError: indices[2] = 2 is not in [0, 0)
	 [[{{node GatherV2_4}} = GatherV2[Taxis=DT_INT32, Tindices=DT_INT64, Tparams=DT_FLOAT, _class=["loc:@RandomHorizontalFlip/cond_2/Switch_1"], _devic

[2019-02-21 23:59] ymodak commented on #25874
Please take a look at similar questions answered on [SO](https://stackoverflow.com/questions/34670112/how-to-deal-with-batches-with-variable-length-sequences-in-tensorflow).
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've

[2019-02-22 00:01] #25874 closed

[2019-02-22 00:07] yuboworks commented on #22794
have the same problem. I use non-gpu version TF, so I guess it is not a cuda or cudnn prblem?
python 3.6.0
TF 1.12.0
numpy 1.16.1
protobuf 3.6.1

[2019-02-22 00:25] ymodak commented on #25965
The minimum bazel version can be 0.19 and maximum is 0.21 for TF 1.13 release candidates.
Can you please switch to above acceptable bazel versions and try again?

[2019-02-22 00:36] jlzhao27 commented on #9614
@decentralion I'd like to re-open this issue since we have a use case where it is not possible to deploy tensorboard on `/`.

We are deploying several services behind a single DNS name due to certificate signing and other restrictions. We want to be able to add tensorboard on this proxy at some sub-path like `<my-host>/tensorboard` but the static paths break this. Seems like many other apps alread

[2019-02-22 00:46] RylanSchaeffer commented on #25825
@rachellim I just tried, but it doesn't seem to make a difference. I created `test.csv` in a directory

[code]

Here's the exact code that I ran with Python 3 from the same directory containing `test.csv`:

[code]

But I received the same error:

[code]

[2019-02-22 00:56] SuperKuooo commented on #22794
Don’t use protobuf 3.6 that’s probably the problem. I believe the latest you can use is 3.3 go to there github and find earlier versions.

[2019-02-22 01:02] adt123 commented on #25772
Hmm, I tried running the same code in my original post with Tensorflow 1.12.0, and received the same error message when trying to set `classifier.model_dir` to some other value. Should I be setting this variable through the super class?
Thanks!

[2019-02-22 01:08] TropSpirit opened #25994 "ImportError: cannot import name cloud"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No, using stock tensorflow
- Python version: 2.7
- Bazel version (if compiling from source): 0.22.0
- GCC/Compiler version (if compiling from source): gcc version 8.2.0 (Debian 8.2.0-20)
- CUDA/cuDNN version: No
- GPU model and memory: No

== cat /etc/issue =====================

[2019-02-22 01:08] yuboworks commented on #22794
I am running something that uses TF 1.12, that requires protobuf 3.6.1. oh well....

[2019-02-22 01:09] Sayan-Paul commented on #25772
The class DNNClassifier is deprecated so you should use the new estimator module which is at a different location tf.estimator. In the new one, you can give the model_dir as a paramter of `Estimator`.

Sayan Paul
sayan.paul6@gmail.com (mailto:sayan.paul6@gmail.com)

On Feb 21 2019, at 5:05 pm, Aditi Nataraj <notifications@github.com> wrote:

[2019-02-22 02:15] nasica88 commented on #25960
After reading tensorflow/third_party/gpus/cuda_configure.bzl, I could solve this by the following.

$ sudo ln -sf /usr/local/cuda-9.2/targets/ppc64le-linux/include/cudnn.h  /usr/include/cudnn.h

[2019-02-22 02:22] ymodak commented on #25994
Please take a look at duplicate issue #23976

[2019-02-22 02:34] ogre0403 commented on #9614
@decentralion  we also have similar issue since we try to setup a tensorflow lab environment on kubernetes.
Our use case is use kubernetes Ingress for user to access jupyter/tensorboard from a url having sub-path.  For Jupyter, we use baseUrl mentioned by @jlzhao27 to do this, but we can't do this for tensorboard.

[2019-02-22 02:37] ymodak commented on #25866
Your code is slightly different than the one in the tutorial. Can you please make following changes and execute again,
[code]

[2019-02-22 02:55] henrysky opened #25996 "Excess amount of deprecated warning in tf1.13"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7.6.1810
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.13

[2019-02-22 03:03] ymodak commented on #25984
I see that you have cuda 10 installed. Please switch to TensorFlow 1.13.0-rc2 as it supports cuda 10.

[2019-02-22 03:04] ymodak commented on #25829
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-02-22 03:16] ymodak commented on #23897
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 03:16] #23897 closed

[2019-02-22 03:17] ymodak commented on #24955
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 03:17] #24955 closed

[2019-02-22 03:19] ymodak commented on #24322
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!
@NicolasVidal Can you please post a [new issue](https://github.com/tensorflow/tensorflow/issues/new/choose) explaining your problem if it still persists? thanks

[2019-02-22 03:19] #24322 closed

[2019-02-22 03:19] #24389 closed

[2019-02-22 03:20] ymodak commented on #24403
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 03:20] #24403 closed

[2019-02-22 03:21] ymodak commented on #24546
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 03:21] #24546 closed

[2019-02-22 03:23] ymodak commented on #24954
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 03:23] #24954 closed

[2019-02-22 03:26] AliceDinh opened #25997 "Tflite convert with Bazel 0.22.0 error: Unable to load package for '//tensorflow/tools/def_file_filter:def_file_filter_configure.bzl'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.12
- Python version: 3.6.7
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.22
- GCC/Com

[2019-02-22 03:42] ymodak commented on #24339
@alextp Can you PTAL? Thanks!

[2019-02-22 03:43] FruitcakefromMars commented on #5858
I think I found a solution for this. Mine is on Windows however and I made my error "go away". I don't know if it is actually solved.

For other OS besides Windows, try:
`pip uninstall protobuf`
`brew install protobuf`
`mkdir -p /Library/Python/2.7/lib/python/site-packages`
`echo 'import site; site.addsitedir("/usr/local/lib/python2.7/site-packages")' >> /Library/Python/2.7/lib/python/site-package

[2019-02-22 03:43] cih9088 commented on #25623
What I mean by that if I set **per_process_gpu_memory_fraction** to 0.5, 50% of GPU memory is occupied as soon as session is created in v1.10.0 but in v1.12.0 only small fraction of GPU memory is occupied right after session is created.

This new behaviour is easily addressed by executing arbitrary ops or variables in session right after it is created. That is if I run any ops or variables, 50% of

[2019-02-22 03:51] wangwenjing commented on #25781
@jvishnuvardhan  Do we got any progress on this issue?  I still had no clue on this problem.

[2019-02-22 03:58] LeslieZhoa opened #25998 "The difference and error in tensorflow-1.8.0"
When I use tensorflow-1.8.0, the code is different and wrong. It is shape[axis] = -1.

[2019-02-22 04:06] sadatnfs opened #26001 "MKL build failing for mkl_cpu_allocator.h header in file threadpool_device.cc"
**Problem**
TensorFlow with MKL isn't building successfully.

**Error Log**
[code]

**Build call**
[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian: Stretch
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Source
- TensorFlow version: Master branch
- Pyt

[2019-02-22 04:20] JustASquid commented on #25866
@ymodak

If the batch size is large enough, the crash happens with a smaller number of steps than 1000 to be sure. So yes, when executing again the issue still happens.

I tried running furmark (a GPU stress test) on the machine and after a similar amount of time I am seeing severe artifacts across the entire screen.

![img_20190222_132907235](https://user-images.githubusercontent.com/11645696/532

[2019-02-22 04:31] AliceDinh commented on #25935
I got error when converting tfmodel (.pb) to tflite (.lite): Unable to load package for '//tensorflow/tools/def_file_filter:def_file_filter_configure.bzl': BUILD file not found on package path
Is that because of incompatibility?

[2019-02-22 04:58] smit-hinsu commented on #25623
Thanks for the explanation.

As a workaround, did you consider running a dummy operation immediately after creating the session to make sure that memory is reserved immediately after your process starts?

[2019-02-22 05:22] Sission opened #26002 "Install Tensorflow GPU with CUDA 10.0 on windows"
Hi guys. I am new to the tensorflow. I would like to install Tensorflow-Gpu with my RTX2080ti graphic card. I followed this instruction
https://www.pytorials.com/how-to-install-tensorflow-gpu-with-cuda-10-0-for-python-on-windows/

However, when I do the Step 12. The error shows up.

bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

Because RTX 2080 ti only su

[2019-02-22 05:25] cih9088 commented on #25623
Yes, that's exactly what I do for the time being.

But the old behaviour makes more sense to me. Shouldn't memory be occupied as soon as session is created if **allow_growth** option is False?

[2019-02-22 05:26] prabhuiitdhn commented on #8830
Check your libcupti.so.8.0 file in "/usr/local/cuda/extra/CUPTI/lib64/" path. If exists, copy the whole libcupti.* file in LD_LIBRARY_PATH

Hope this will work fine, for me It worked.
Good luck !!

[2019-02-22 05:52] byronyi commented on #24887
Sorry I have no knowledge of that.

[2019-02-22 05:56] Oceania2018 commented on #6268
Gradient ported from python to C# now. So we can use gradient in .NET, and it's using r1.13 branch.
Check this [issue](https://github.com/SciSharp/TensorFlow.NET/issues/175).

[2019-02-22 06:03] ymodak commented on #26002
Please install TensorFlow version 1.13.0-rc2 it supports cuda 10.

[2019-02-22 06:16] LukeBolly commented on #23148
We desperately need some simple documentation describing what the TFRecord format actually is. If you cannot use an existing writer / reader, it's very hard to find any notes on how to create or how to read the format yourself. Maybe I'm missing something obvious in the existing documentation, but searches for a description just lead me to a multitude of blog posts.

[2019-02-22 06:18] ektasg commented on #559
Thanks a lot.. It worked

[2019-02-22 06:18] ektasg commented on #559
Thanks a lot. It worked

[2019-02-22 06:27] facaiy commented on #25453
Automatically closing due to lack of recent activity. Feel free to reopen it if necessary.

[2019-02-22 06:27] #25453 closed

[2019-02-22 06:32] harshita-pal opened #26003 "Issue in running the models of tensorflow"
Hi,I want to know how to run various models like mobile net, image net, resnet  .Is there any particular set of steps to run these models or any official tensorflow tutorial to follow.Kindly guide me for the same.
Right Now i am following these steps:
1. sudo apt install python3-dev python3-pip
2. sudo pip3 install -U virtualenv
3. virtualenv --system-site-packages -p python3 ./venv
4. source ./ve

[2019-02-22 06:33] ymodak commented on #25068
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 06:33] #25068 closed

[2019-02-22 06:35] ymodak commented on #25081
Closing this issue since its resolved. Fee free to reopen if the issue still persists. Thanks!

[2019-02-22 06:35] #25081 closed

[2019-02-22 06:40] ymodak commented on #25998
Please provide a minimal code snippet to reproduce the issue reported here. Also provide following details: Thanks!
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- Tensor

[2019-02-22 06:49] ymodak commented on #25980
@yongtang I tried with TF-nightly (version:1.13.0-dev20190221) the issue still persists.

[2019-02-22 07:21] chinnusujitha commented on #25874
I know it's not a bug or feature request, but i couldn't found anywhere how to solve this problem, So i posted in stack overflow also,but i didn't get any response.
[](https://stackoverflow.com/questions/54421451/issue-with-maximum-sequence-length-while-making-predictions-using-lstm-model)

[2019-02-22 07:42] amitlevy21 commented on #25285
@karmel Thank you. You understand exactly what i'm trying to achieve.
I'll try my a go with the suggestions you made.

[2019-02-22 07:42] #25285 closed

[2019-02-22 07:46] LeslieZhoa commented on #25998
1. - I have not written custom code
2. - OS Platform is Windows10
3. - Tensorflow installed by conda install --channel https://conda.anaconda.org/anaconda tensorflow-gpu=1.8.0
4. - Tensorflow version is tensorflow-gpu-1.8.0
5. - python version is 3.6.5
6. - The code of maxout is difference in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py and

[2019-02-22 08:24] chrishkchris commented on #16102
Encountered exactly the same problem. It is not convenience to have the moving average and variance in the batch normalization layer updated, when we do a customized training loop by utilizing both tensorflow's graph and keras model. When we do customized training loop, using model.train_on_batch() and model.predict_on_batch() may not be enough, especially for those working in distributed training

[2019-02-22 08:26] cbreak-black commented on #25069
I also have this exact problem, using the newest release of TensorFlow. Without XLA, the network runs at similar speed on an RTX 2080 Ti as it does with XLA on a GTX 1080 Ti.

[2019-02-22 08:48] sonfiree opened #26005 "Model transfer Tensorflow to Keras"
I want to transfer the model from Tensorflow to Keras. But I do not see this function

[2019-02-22 09:02] windyuan commented on #25965
@ymodak,
It's fixed. not caused by bazel versions. It's caused by running out of memory in jvm.

Before you close this bug, Could you share the link for TF1.13 binary with cuda10?

Details:
HW configuration
CPU: Intel(R) Core(TM) i7-7820X
Mem: 16G
Disk: 1T SSD
GPU: RTX 2080

I change the bazel version check between 0.19 and 0.22. Today I tried downgrade to 0.21 still have the similar problem in bu

[2019-02-22 09:23] Ajk4 commented on #8517
I have same issue on GKE instance with tensorflow 1.12:

[code]

[2019-02-22 10:07] chandanchinta opened #26006 "Issue in model for parts of speech tagger."
**System information**
- TensorFlow version (you are using):1.12
- Are you willing to contribute it (Yes/No):No

**Describe the feature and the current behavior/state.**
I built a model which can predict parts of speech of words when given separately. Now I am building a model which can predict parts of speech of words in sentences. For this i have created two arrays. 1st Array - which has sentenc

[2019-02-22 10:17] berli opened #26007 "tensorflow.python.keras.api._v2.keras.losses' has no attribute 'SparseCategoricalCrossentropy' ？？"
it throw the error when I run autograph.ipynb, error message is following:
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-36-2c50f534479f> in <module>
----> 1 compute_loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)
      2
      3 compute_accuracy = tf.kera

[2019-02-22 10:36] mrodozov commented on #25323
@lhelontra for me it was working with 8.2 also without the extra flags, so local resources flags didn't help. it's something else (gcc 7.3.x related)

[2019-02-22 11:35] ArashHosseini commented on #14356
@shaoeChen how is this working for you?It turns out this way does not need a clear_session call and is at the same time configoration friendly
[code]

[2019-02-22 11:41] facaiy commented on #26007
Could you fill issue template and provide necessary environment information?

[2019-02-22 11:48] facaiy commented on #25996
Welcome to contribute. Would you like to fix those depressed warning?

[2019-02-22 12:00] facaiy commented on #25978
Yes, it has been fixed in #23004.

[2019-02-22 12:04] facaiy commented on #25978
@myron gets stuck in the same problem.

[2019-02-22 12:27] juebrauer commented on #8652
Solution of Nimi42 worked for me as well to solve this issue. I added:

from keras import backend as K
K.clear_session()

[2019-02-22 12:30] dpinthinker commented on #25228
@suharshs Sorry to reply late. It is still not working. So sad!

[2019-02-22 12:30] facaiy commented on #25934
duplication of #21225

As @feranick said:

[2019-02-22 12:35] facaiy commented on #25934
@av8ramit Hi, Amit, can we increase the minimum version of numpy to 1.15.1?  https://github.com/tensorflow/tensorflow/blob/9d508106b32eb6518912501d29a80ff9967dfe05/tensorflow/tools/pip_package/setup.py#L57

[2019-02-22 12:39] facaiy commented on #25932
Can you provide all necessary environment information required by issue template?

[2019-02-22 12:41] prinsherbert commented on #25934
Yes, that was my point, these warnings and the potential side-effects should not appear after `pip install`ing tensorflow.

[2019-02-22 12:43] prinsherbert commented on #25934
Sorry, I checked for all issues with dtype in the title, but missed this one

[2019-02-22 12:45] akuegel commented on #25069
The newest release means TF 1.12.0 like mentioned above? It is very much possibly that those bugs have been fixed in the meantime. So could you please try with a version compiled from head?

[2019-02-22 12:46] facaiy commented on #25882
@drpngx Can you answer the issue or reassign?

[2019-02-22 12:51] facaiy commented on #25990
@mrry Hi, Derek. What do you think?

[2019-02-22 12:57] prinsherbert commented on #21225
As I commented in my duplicate issue, I think part of this issue is to blame at tensorflow, because it allows numpy==1.15.0 as a requirement, and hence adhering to the tf requirements can result in a faulty installation, while there is an easy fix.

I would suggest to add a numpy>=15.1 requirement, although I can not oversee all consequences of excluding 1.15.0.

[2019-02-22 12:57] serycjon commented on #25882
I think this is more of a "type:bug" than "type:feature"

[2019-02-22 12:59] facaiy commented on #25971
@ebrevdo Can you explain the reason?

[2019-02-22 13:01] dingevin opened #26011 "tf.data.experimental.bucket_by_sequence_length"
I wanted to read speech data from tfrecord and use tf.data.experimental.bucket_by_sequence_length to bucketing data by seq_len, but i have same error when use it. here is my code:
`

    fea_conf = dict([
    ('SOS_ID', 2),
    ('EOS_ID', 3),
    ('BATCH_SIZE', 2),
    ('FRAME_SIZE', 80),
    ('GRAPHEME_TARGET_SEQUENCE_LENGTH', 620),])

     def read_TFRecord(file_pattern, symbol):
         """rea

[2019-02-22 13:09] bazinac commented on #25657
One note to this that might or might NOT relate to the single thread issue.

On most older devices (however with Open GL 3.2 capable), when inference is run on GPU, preview frame rate tend to drop after few seconds. So even though it runs inference faster than on CPU, it probably blocks Texture View somehow. Is there some general recommendation on which GPUs is makes sense to use GPUDelegate?

[2019-02-22 13:31] kirk86 commented on #25474
@smit-hinsu There's a demo for inference [here](https://github.com/matterport/Mask_RCNN/blob/master/samples/demo.ipynb). All you have to do is change the `Run Object Detection` cell in order to run inference on live feed from web cam using opencv.

Here's a simple example:
[code]

[2019-02-22 13:32] danaugrs opened #26012 "[TF 2.0] tf.keras.losses duplication?"
**Windows 10
TF Version: b'v1.11.0-rc2-4-gc19e29306c' 1.11.0
Anaconda Python 3.6.5
GPU: GeForce GTX 1070 Max-Q Design
Tensorflow 2.0 (gpu) preview installed via pip.**

I'm building a [reinforcement learning framework](https://github.com/danaugrs/huskarl) on top of TensorFlow 2.0 using the `tf.keras` API and I've come across the following issue.

The 2.0 API docs for [`tf.keras.losses`](https://ww

[2019-02-22 13:40] cbreak-black commented on #25069
Yes, TF 1.12. I've just finished compiling TF 1.13rc2 (on branch r1.13), and with it, I can run 'tensorflow/examples/tutorials/mnist/mnist_softmax_xla.py' without crashing. The incorrect warning because of ptxas is also gone. But I get a new warning:
[code]
The result of this is faster than without XLA, and it appears to work :) But it is not as fast as expected, maybe compiling for sm_30 is not o

[2019-02-22 13:54] dingevin commented on #26011
i have modified def element_length_fn  to:
`
def element_length_fn(example):
    return tf.shape(example)
`
but get this error: Dimensions must be equal, but are 3 and 0 for 'LessEqual' (op: 'LessEqual') with input shapes: [3], [0].   i think this's my reason of error, but i don't know how to modify it.

[2019-02-22 14:11] mborgerding commented on #13853
A slightly more advanced version of the code by @hoavt-54 ...

[code]

By default, TF assumes it can take over all CPUs.  Unfortunately, its threading is nowhere near linear. On a 16 core machine, processing a model single-threaded changed the `/bin/time` output from (real,user,sys)  = ( 1.61, 20.0, 6.46 ) to (8.36, 8.26, 0.07)
i.e single-threaded took 5x longer wall(real) time, but used less than

[2019-02-22 14:44] mrry commented on #25990
It's a totally reasonable suggestion, but I don't think it will be a high priority with the [deprecation of `tf.Session` in TF 2.0](https://github.com/tensorflow/community/pull/20). If anything, it might make more sense to ensure this behavior on calls to a `tf.function`.

[2019-02-22 14:46] chrishkchris commented on #16102
Is the problem caused by not setting the tensorflow session of the keras backend?
So, can the problem of moving_mean update be solved by adding a line
tf.keras.backend.set_session(session)
after the line
session = tf.Session() ?

[2019-02-22 14:53] AlbertoLanaro commented on #25607
Hi, I had the same issue. It seems to be solved with this flag in the `baze build` command:

`bazel build --define tensorflow_mkldnn_contraction_kernel=0 ...`

[2019-02-22 14:55] JTunis commented on #25988
Since the actual model implementation, including parameters, returns, and errors, is in `keras_applications` (https://github.com/keras-team/keras-applications/blob/master/keras_applications/mobilenet_v2.py), I have a few questions:
* What would be the best approach to reference this in TF docs?
* Is it still worth pointing the definition link to `__init__.py` in `python/keras/applications`?
* Is t

[2019-02-22 14:55] akuegel commented on #25069
Thanks for trying it out, and pointing out the new warning. We should try to get this line cherry-picked into the next release if it is not too late for that.

[2019-02-22 15:10] oldoldman opened #26013 "tensorflow c++ crash"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): win 10 64
- Mobile device (e.g

[2019-02-22 15:14] eLvErDe commented on #23145
Yes it's definitely broken from 1.6 to 1.12, we gave up building with MKL here

[2019-02-22 15:19] eLvErDe commented on #23145
BTW I uploaded on one of the MKL related bug a snippet producing the issue if I recall correctly

[2019-02-22 15:21] herbakamil commented on #25526
Maybe this was the issue that I've tried to work with python3?
After installing python2 and tensorflow-estimator for python2 problem has disappeared

[2019-02-22 15:21] #25526 closed

[2019-02-22 15:27] #16502 closed

[2019-02-22 15:30] bzamecnik commented on #3917
In my case I provided an batch of size 0 by mistake.

[2019-02-22 15:34] alanpurple commented on #25807
@yifeif
I uninstalled CUDA and reinstalled it, of course copy cudnn files and check CUPTI lib path again,
but same result

has anyone with latest windows 10 up to date + latest nvidia driver with 1.13.0rc2 binary build ever succeeded to open cupti64_100.dll?

[2019-02-22 15:41] alanpurple commented on #25807
strange thing is, yet cublas dll is successfully loaded

[2019-02-22 16:02] Anurag27031994 commented on #136
import gc;    gc.collect()

[2019-02-22 16:04] cbreak-black commented on #25069
On master, the warning is not present, as expected, but its performance on our internal graph of the result is slower than with 1.13rc2. (Still faster than without XLA though :)
I have no idea why yet, or if this is a more general problem or just an artefact of my testing.

[2019-02-22 16:05] bzamecnik commented on #3917
In my case I provided a batch of size 0 by mistake.

[2019-02-22 16:09] ebrevdo commented on #25971
The reason is that the underlying computation kernel uses int32 indices to perform calculations for performance reasons.  We would need to bifurcate the kernel to have one that uses int32 indices and one that uses int64 indices in order to support bigger matrices.  Notice we use [regular ints](https://github.com/tensorflow/tensorflow/blob/4e15557ac4c92f219f51ed94883d1e47dca88417/tensorflow/core/ke

[2019-02-22 16:15] danaugrs commented on #26007
Similar to https://github.com/tensorflow/tensorflow/issues/26012.

[2019-02-22 16:36] mihaimaruseac commented on #25998
#22031 changed that code from 1.8.0 to the current master. Don't think it is a wrong change

[2019-02-22 16:39] ashahba opened #26014 "TensorFlow devel containers are still built on Ubuntu:16.04 as opposed to Ubuntu:18.04"
I just downloaded the most recent `devel` containers from `DockerHub` and they seem to have been updated just a few hours ago and when I check the OS versions they read: `Ubuntu:16.04`.
I was under impression that those are build from `18.04` and using this [Dockerfiles](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile.devel) however I have:
[code]
and
[code]

[2019-02-22 16:44] vikashranjan26 commented on #25978
Thank you @facaiy it is working as expected in tf-nightly.

[2019-02-22 16:45] #23148 closed

[2019-02-22 16:48] guoshimin commented on #25990
@mrry Is there any way to use RunMetadata with tf.function now? The doc you linked mentions a doc at go/tf-2.0-function-api but obviously it's not accessible externally.

[2019-02-22 16:50] MarkDaoust commented on #23148
Added, WDYT?

[2019-02-22 16:55] LeslieZhoa commented on #25998
Hi @mihaimaruseac . I just want to show that the code in 1.8.0 is not work in my test, but it works well when I use the new code. I just want to know whether I am wrong. Thanks!

[2019-02-22 17:01] LeslieZhoa commented on #25998
Hi @mihaimaruseac . I just want to say that the code in 1.8.0 can't work well . Anyway,thanks!

[2019-02-22 17:05] dynamicwebpaige commented on #26012
@danaugrs - Adding @martinwicke and @fchollet -- and we'd love to have help resolving the issues you detailed in the API documentation.

PS: thanks for the great work on Huskarl! :slightly_smiling_face:

[2019-02-22 17:07] mihaimaruseac commented on #25998
That's why it was fixed in #22031

[2019-02-22 17:07] #25998 closed

[2019-02-22 17:10] jlebar commented on #25069
@tfboyd re the cherry-pick of 83ff640.

The new warning about sm75 should also be fixed in master.

mnist is such a small thing that we haven't been bothered by its performance in XLA one way or another.  If you have "real" models where XLA is slower, we'd definitely be interested in seeing those.

I think otherwise this bug is closed?

[2019-02-22 17:25] jvishnuvardhan commented on #25607
@AlbertoLanaro Thanks for the solution. @TropSpirit and @NKucza Could you both try the solution? Thanks!

[2019-02-22 17:25] omalleyt12 commented on #25233
Hi @mk123qwe , can you please try this with the latest nightly? This should be fixed

[2019-02-22 17:26] danecor opened #26015 "RaggedTile op results in XlaCompile error when calculating gradients"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.13.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): Both 1.13.0rc2 and tf-nightly
- Python version: 3.6.8
- CUDA/cuDNN version: no GPU
- GPU model and memor

[2019-02-22 17:31] alextp commented on #24339
Contrib is deprecated and about to be deleted so I don't have the bandwidth to investigate this.

I also suspect that with control flow v2 this won't be a problem.

[2019-02-22 17:31] #24339 closed

[2019-02-22 17:36] jvishnuvardhan commented on #25391
Closing due to lack of recent activity and type of issue (not build/install and not bug/performance). Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 17:39] jvishnuvardhan commented on #25625
Closing this issue as it is not bug/performance or build/install type. Please post this kind of support questions in Stackoverflow. There is a big community to help answering support type questions. Thanks!

[2019-02-22 17:39] #25625 closed

[2019-02-22 17:40] jvishnuvardhan commented on #22049
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 17:40] #22049 closed

[2019-02-22 17:54] ymodak commented on #25233
@omalleyt12 The issue persists with latest nightly build. 1.13.0-dev20190221

[2019-02-22 17:57] larissalages commented on #19174
I am having the same problem

[2019-02-22 18:03] ymodak commented on #25866
Yes, Its fairly evident that it is more of a hardware issue. Thanks for sharing your investigation. I will close this issue, feel free to reopen if anything else comes up. Thanks!

[2019-02-22 18:03] #25866 closed

[2019-02-22 18:03] impjdi commented on #25657
@bazinac

We have seen frame rate dropping when the device overheats.  Otherwise, we have not experienced performance degradations from other factors.  I mostly work on C++ layer, so I don't know whether Java can cause any issues, but given that the MobileNet demo app just runs fine in Java, I'm wondering whether it's device overheating.

re: recommendation.  The ideal use case is the following:

[2019-02-22 18:11] plooney commented on #25625
Why isn't this a build or install issue? I have seen the same issue across two other machines. I don't see this is relevant to Stack overflow since it is not a programming problem. The problem is not present in Docker so I am using that as a workaround.

[2019-02-22 18:16] guoshimin commented on #25990
I tried the following code and it seems to be working as intended:

[code]

I'll close the issue and if someone wants to have this behavior with sessions they can take a look at #25991

[2019-02-22 18:16] #25990 closed

[2019-02-22 18:22] henrysky commented on #25996
At least those warnings about tf.cast are fixed in master branch already. Is it possible to cherry pick them to r1.13 branch??

[2019-02-22 18:26] ymodak commented on #25378
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-02-22 18:35] poxvoculi commented on #25623
GPU allocators are BFCAllocators with a suballocator that gets large regions of GPU memory.  bfc_allocator.cc is also used for CPU memory.  In that second role it is capable of growing the regions it manages, on demand.  When used for GPU memory we constrain it to grab a single large region in once.  In either case, the first memory region is allocated by the suballocator on demand, the first time

[2019-02-22 18:35] #25623 closed

[2019-02-22 18:42] bazinac commented on #25657
Thanks for prompt answer. However I am not refering to situation, that could be caused by overheating. Even when running here provided demo on some older devices (like Samsung Galaxy J5 2017, Galaxy Tab S2), frame rate drops right after few seconds (like 3-5) when you switch to GPU. When using CPU, this does not happen.

Also thanks for recommendation for some input feeding optimalization, will tr

[2019-02-22 18:54] cbreak-black commented on #25069
This bug isn't originally mine, so I can't say if it is fixed, but at least for me, 1.13rc2 works.

On the model I'm working on at the moment, XLA itself in master is still faster than not using it, but it is slower than XLA in 1.13rc2 was. But the model is private and I'm not allowed to disclose any details, so I'll try to debug why this is the case on my own, and open a separate ticket should I

[2019-02-22 19:01] tensorflowbutler commented on #21332
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-22 19:01] tensorflowbutler commented on #21884
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-22 19:12] omalleyt12 commented on #25233
@tanzhenyu would you be able to take a look at this? looks like the Adam lr is not getting initialized in some case

[2019-02-22 19:18] tanzhenyu commented on #25233
@ymodak try having everything in tf.keras, in this particular case replace "import keras.backend as K" to "import tensorflow.keras.backend as K" and see if it works fine for you?

[2019-02-22 19:20] omalleyt12 commented on #25233
Oh great catch, I missed that. Yeah, that's very likely to be it

[2019-02-22 19:25] martinwicke commented on #26012
It looks from the description like this is regarding 1.11 (`TF Version: b'v1.11.0-rc2-4-gc19e29306c' 1.11.0`)?

This is expected, this was fixed in later versions (it wasn't ready back in late Summer 2018 when 1.11 was cut). I'll close this.

@pavithrasv FYI

[2019-02-22 19:25] #26012 closed

[2019-02-22 19:30] ymodak commented on #25233
@tanzhenyu That worked. Tested against TF '1.13.0-rc2' Thanks!

[2019-02-22 19:30] pGit1 commented on #8513
@UkiDLucas  THANK YOU!!!

I just installed some trash code from github and it broke my codebase entirely. Using this fixed everything along with sourcing my bashrc file.

[2019-02-22 19:39] tanzhenyu commented on #25233
Glad it works for you!

[2019-02-22 19:39] #25233 closed

[2019-02-22 20:02] impjdi commented on #25657
@bazinac

If it's not an overheat issue, we have seen slowdowns sometimes:
- On some Huawei devices, GPU frequency drops to half after boot up, comes back after a while, and repeats this fluctuation.
- On some devices, we had a driver bug that would slowly leak memory, and eventually blows up after several hundreds of thousand calls.

However, none of these is really applicable to your situation =

[2019-02-22 20:18] czabo opened #26020 "MirroredStrategy doesn't use GPUs"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): pip install tensorflow-gpu==1.12
- TensorFlow version (use command below): 1.12
- Python version: 3.5.2
- CUDA/cuDNN version: CUDA 9 / cuDNN 7.3
- GPU model and memory: 2 x Nvidia Titan X

**Describe the current behavior**

I was working on rewriting a scr

[2019-02-22 20:35] petarld commented on #25747
I can confirm that the issue can be resolved by installing or upgrading git and also making sure that msys2 usr/bin path is in the PATH variable.

[2019-02-22 20:36] danaugrs commented on #26012
@martinwicke Thanks, I must have gotten my virtual envs confused - apologies. I updated in any case and the docs match what I see. However, with the latest version (`tf.__version__ == '2.0.0-dev20190214'`) executing `pip show tensorflow` still shows `Version: 1.11.0`. This is preventing my library from requiring TF 2.0 explicitly. Is there a reason the PyPI version hasn't been updated?

As a heads

[2019-02-22 20:42] facaiy commented on #25978
Closing as it's fixed

[2019-02-22 20:42] #25978 closed

[2019-02-22 20:46] facaiy commented on #25996
I'm afraid not since r1.3 branch had been cut before. Would you like to use tf-nightly? Or just wait for next version? Sorry for the inconvenience.

[2019-02-22 20:47] martinwicke commented on #26012
That's because the preview is a different package (tf-nightly-2.0-preview).
So technically you haven't upgraded the TensorFlow package as far as pip is
concerned.

[2019-02-22 20:53] pavithrasv commented on #26012
=> 2. The functions compute per sample loss value. The classes call the functions in them internally and also apply weights and reduce the loss value to a scalar.
=> There is a `huber` function. It is called `huber_loss`. May be the the `_loss` suffix in the name can be removed.

[2019-02-22 21:02] wchargin opened #26021 "SplitPath should split on both forward slashes and backslashes on Windows"
Currently, on Unix, SplitPath splits only on forward slashes; on
Windows, it splits on forward slashes _unless_ there are no forward
slashes in the string, in which case it splits on backslashes. This is
confusing, and inconsistent with platform APIs like [`_wmkdir`], which
interpret both `\` and `/` as valid path delimiters.

For instance, `CreateRecursiveDirectory(r"foo\bar/baz\quux")` fails on

[2019-02-22 21:04] rachellim commented on #25825
Oh, I see. There are two different behaviors here, depending on whether you specify `column_defaults`:
1) If you specify `column_defaults` as a type (vs a value, e.g. 0.0), it treats the field as 'required', i.e. NA values not permitted. This is stated in the documentation: "If a dtype is provided instead of a tensor, the column is also treated as required. " I'll improve the error message here so

[2019-02-22 21:17] henrysky commented on #25996
It is okay for me, just a bit annoying to see all these deprecated warning. But it is probably not ideal for new users using tensorflow keras to see all these warnings and confuse them.

I think tensorflow should make sure all these deprecated warnings are fixed in the next 1.x or 2.x release.

[2019-02-22 21:35] RylanSchaeffer commented on #25825
Hmm, my interpretation of "If a dtype is provided instead of a tensor, the column is also treated as required. " meant that the column itself needs to exist, not that every row in the column needs to have a value consistent with the specified type.

That said, I don't think either of the two solutions is what I'm looking for. In the first option, 'NA' will be converted to the specified float (e.g.

[2019-02-22 21:45] guptapriya commented on #24408
@rohan100jain is this something you can look into? (or someone else from tf.data?)

[2019-02-22 21:46] alextp commented on #25350
This has been fixed, thanks to @jvdillon @jaingaurav and others!

[2019-02-22 21:46] #25350 closed

[2019-02-22 21:47] alextp commented on #20805
I believe this is no longer an error in tf 2.0 because Dimension is gone. Please comment or reopen if you can still reproduce this with nightly and after calling tf.enable_v2_behavior()

[2019-02-22 21:47] #20805 closed

[2019-02-22 21:47] alextp commented on #24865
@awav I think we should close this? Or do you want to attach a cleaned-up version of the second alternative you have here?

[2019-02-22 21:48] alextp commented on #24585
I think this does not reproduce on nightly, so closing it. Please reopen if I'm wrong.

[2019-02-22 21:48] #24585 closed

[2019-02-22 21:49] #24592 closed

[2019-02-22 21:49] irenedea opened #26024 "[TF Java] Support for AddControlInput in generated factory methods for building operations"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**
There are automatically generated wrapper classes for Graph Operations that provide a neat interface and consistency in practice. We can easily create graph operations with the `create` method.

However, there is no option to a

[2019-02-22 21:50] #25367 closed

[2019-02-22 21:50] alextp commented on #23763
Using tf.saved_model.save in nightly should fix this issue. Closing.

[2019-02-22 21:50] #23763 closed

[2019-02-22 21:51] alextp commented on #23914
I think this bug has been fixed in nightly. Please reopen / comment if I'm wrong.

[2019-02-22 21:51] #23914 closed

[2019-02-22 21:51] #24300 closed

[2019-02-22 21:51] haoyuz commented on #23464
Sorry for the late reply --- I noticed that you're using TF 1.10 which won't include some recent changes/fixes we've made to Keras (many of them are related to tf.data, memory efficiency, and Keras model graph). Could you please verify if the problem remains when you use the nightly TensorFlow build? If so, could you also provide a link to the full code so that we can also reproduce on our end? Th

[2019-02-22 21:51] alextp commented on #24759
We now revert to autograph=False, so closing this issue for now.

[2019-02-22 21:51] #24759 closed

[2019-02-22 21:52] sanjoy commented on #21761
Hi,

I'm not actively working on this, but I'd be happy to review pull requests if someone (outside Google or within Google) wants to drive performance on aarch64.

[2019-02-22 21:52] #21884 closed

[2019-02-22 21:52] #25240 closed

[2019-02-22 21:56] hksonngan commented on #25843
I can't reproduce this in Colab, TF version '2.0.0-dev20190221'

[2019-02-22 22:03] ymodak commented on #25093
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 22:03] #25093 closed

[2019-02-22 22:04] rachellim commented on #25825
Ah, I see - I'll clarify the docstring to make that clearer.

What about doing `column_defaults=[tf.string, tf.constant(float('nan'), tf.float32)]`? That should make NA values for the second column become `nan`.

[2019-02-22 22:04] ekelsen commented on #19283
Could I get unassigned from this please?

[2019-02-22 22:05] ekelsen commented on #22158
unassign

[2019-02-22 22:06] ekelsen commented on #23318
Yes, I believe it can be non-deterministic.  But the auto-tuner is also non-deterministic.  So basically all bets are always off right now.

[2019-02-22 22:06] ekelsen commented on #16872
unassign

[2019-02-22 22:07] ekelsen commented on #15463
unassign

[2019-02-22 22:07] ekelsen commented on #2625
unassign

[2019-02-22 22:11] tofulawrence commented on #23044
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 22:11] #23044 closed

[2019-02-22 22:11] twiecki commented on #24684
@msymp any progress so far?

[2019-02-22 22:12] tofulawrence commented on #23600
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 22:12] #23600 closed

[2019-02-22 22:12] #25159 closed

[2019-02-22 22:14] mayou36 commented on #22384
@azaks2 any updates here? I just stumbled in a completely different problem again on it (am I the only one doing complex divisions? :) )

For completeness the slighlty changed error message (from the example code above) which now incorporates the XLAs:

[code]

[2019-02-22 22:16] facaiy commented on #25996
Agreed. See more discussion in https://groups.google.com/a/tensorflow.org/forum/#!msg/developers/C2c6T9Hrh4I/RayJkLPbAgAJ

Let's close the issue because some deprecated warnings have been fixed in the master branch as you said?

[2019-02-22 22:20] henrysky commented on #25996
ok

[2019-02-22 22:20] #25996 closed

[2019-02-22 22:21] iganichev commented on #24684
Sorry, but nothing significant happened. Other more critical issues have taken precedence. Not sure when somebody will have time to pick this up again.

[2019-02-22 22:25] #23715 closed

[2019-02-22 22:25] ymodak commented on #24385
Automatically closing due to lack of recent activity. Note starting from TF 1.13 we have updated the ```configure.py``` which checks for the bazel version. The min, max versions are '0.19.0', '0.21.0' Thanks!

[2019-02-22 22:25] #24385 closed

[2019-02-22 22:28] jvishnuvardhan commented on #24844
I am closing the issue as it is duplicate. Please check Magenta Repo for a solution. Thanks!

[2019-02-22 22:28] #24844 closed

[2019-02-22 22:33] jvishnuvardhan commented on #25078
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 22:33] #25078 closed

[2019-02-22 22:45] ymodak commented on #24837
PR #25949

[2019-02-22 22:48] ymodak commented on #24221
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 22:48] #24221 closed

[2019-02-22 22:49] ymodak commented on #25693
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 22:49] #25693 closed

[2019-02-22 22:51] jvishnuvardhan commented on #25174
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 22:51] #25174 closed

[2019-02-22 22:53] jvishnuvardhan commented on #25258
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 22:53] #25258 closed

[2019-02-22 23:04] owenwork commented on #22497
Hi @eliorc, this is probably a dumb question but would you mind elaborating on which type of memory was failing for you (RAM, hard drive, etc.)? And/or what you mean by memtest? Was it the memtest86 program that comes with Ubuntu, thus suggesting RAM was the problem...?

I'm experiencing the same issue (data corruption occurring during training on one Ubuntu machine, but not on the other), and I s

[2019-02-22 23:05] temrich commented on #25800
Hi eospi, thank you for trying out the TensorFlow Lite Swift library. Unfortunately, the CocoaPod is not yet available. Will remove the instructions from the README. Sorry for the confusion.

[2019-02-22 23:08] jvishnuvardhan commented on #25284
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 23:08] #25284 closed

[2019-02-22 23:08] bgogul commented on #25800
Thanks, @temrich. I will close this issue then.

[2019-02-22 23:08] #25800 closed

[2019-02-22 23:11] jvishnuvardhan commented on #25304
I am closing this hoping it was resolved by using newer docker. Please let me know if I am mistaken. Thanks!

[2019-02-22 23:11] #25304 closed

[2019-02-22 23:11] martinwicke commented on #24977
This has been fixed.

[2019-02-22 23:11] #24977 closed

[2019-02-22 23:11] martinwicke commented on #6720
We're almost there.

[2019-02-22 23:12] jvishnuvardhan commented on #25517
I think it was resolved. I am closing the issue. Open a new ticket if the bug persists. Thanks!

[2019-02-22 23:12] #25517 closed

[2019-02-22 23:13] jvishnuvardhan commented on #25610
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 23:13] #25610 closed

[2019-02-22 23:14] jvishnuvardhan commented on #25678
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-02-22 23:15] petewarden commented on #5867
I've just approved the PR related to this one. Sorry for the delay in reviewing.

[2019-02-22 23:16] jvishnuvardhan commented on #25776
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-22 23:16] #25776 closed

[2019-02-22 23:18] petewarden commented on #14580
@gargn this seems to be a common cause of confusion for users of freeze_graph. Could you look at whether we could improve the error messaging, handling, or documentation to help, since you're looking at that script? Thanks!

[2019-02-22 23:20] ssorcerer commented on #25442
Same problem here. I checked the stack trace and decided that this might be a problem with the shape checking in _EagerTensorArray.
[code]
You need to modify the library file of tensorflow 1.12:
[code]

[2019-02-22 23:21] petewarden commented on #22859
Unfortunately we don't have any plans to make the tensorflow precompiled lib available for the Raspberry Pi, partly because the process of creating a reusable lib isn't straightforward for the framework (we don't have a good separation between internal headers and public C++ APIs for example). We'd be happy to link to any external projects that provide these, and it's possible that you might be ab

[2019-02-22 23:21] #22859 closed

[2019-02-22 23:22] jvishnuvardhan commented on #25814
@ameyinvent Could you provide a code to reproduce the bug? If this was resolved already, please close the issue or let me know. Thanks!

[2019-02-22 23:23] ypxie commented on #7469
since you have

I have the same question? why can't we manually add update_op to the graph before computing the loss?
the poster already add this to the code:
[code]

[2019-02-22 23:23] petewarden commented on #18229
Sorry for the slow response. The output of the retraining tutorial should already be frozen, so there's no need to freeze it again. The error is unclear though, it should be better, but closing this bug.

[2019-02-22 23:23] #18229 closed

[2019-02-22 23:24] RylanSchaeffer commented on #25825
Fantastic! Thank you :)

[2019-02-22 23:24] #25825 closed

[2019-02-22 23:26] petewarden commented on #25607
Sorry for the slow response! We don't officially support aarch64 linux builds (we don't have continuous integration, etc set up to catch these sort of issues, so it's hard to offer a great experience) but the suggestions for disabling MKL in this case make sense. Closing since that seems like a fix.

[2019-02-22 23:26] #25607 closed

[2019-02-22 23:26] ypxie commented on #7469
What if we manually add the dependency:
[code]

[2019-02-22 23:27] shashishekhar commented on #25088
Closing due to inactivity, please reopen if you are still facing the issue.

[2019-02-22 23:27] #25088 closed

[2019-02-22 23:28] petewarden commented on #25451
Thanks, that's a good spot! The current behavior is inherited from some Google internal code, which we want to keep compatibility with if possible. I'm hoping the slight difference isn't causing you any issues. If it is, please add some details and reopen, thanks again for the report!

[2019-02-22 23:28] #25451 closed

[2019-02-22 23:29] ymodak commented on #24199
Apologies lost track of this. @Naith123 Is this still an issue for you?

[2019-02-22 23:29] petewarden commented on #25296
That's good to know, thanks for the investigation! I'll close this one for now, and aim to create official 3.6 binaries using this approach soon.

[2019-02-22 23:29] #25296 closed

[2019-02-22 23:31] petewarden commented on #25190
testing_list.txt should only be used for testing outside of TensorFlow, so I don't think this is a bug? Closing, but please file a Stack Overflow issue if you need help doing something with TF.

[2019-02-22 23:31] #25190 closed

[2019-02-22 23:31] shashishekhar commented on #25537
@ksekine : Are you are running the tool on your Mac? You can run TFLite benchmark tool on Android, just compile for Android arm64. You should see comparable numbers on Android.

[2019-02-22 23:33] petewarden commented on #25168
Unfortunately we can't support external builds like https://github.com/lhelontra/tensorflow-on-arm/releases, since we're not in control of how they're built.

[2019-02-22 23:33] #25168 closed

[2019-02-22 23:34] alextp commented on #25442
Does this still happen in nightly?

If it does, I'll happily accept a pull request with the workaround proposed here.

[2019-02-22 23:34] ymodak commented on #25072
@trodaway Thanks for the link. Can you please tell which solution worked for you specifically?
Installing tf 1.6 wheel or lowering your protobuf version to 2.6.0

[2019-02-22 23:34] petewarden commented on #25120
@aselle, do you have any ideas on this one?

[2019-02-22 23:34] irenedea commented on #26024
@sjamesr @karllessard

Any thoughts regarding this? Thank you!

[2019-02-22 23:36] petewarden commented on #24854
Thanks! I think that's just a documentation problem, since I discovered the second max pool was not necessary for that model.

[2019-02-22 23:36] #24854 closed

[2019-02-22 23:37] petewarden commented on #24752
Thanks for the report! I don't know when we'll have a chance to work on this, since it's not directly causing a build error, so closing for now.

[2019-02-22 23:37] #24752 closed

[2019-02-22 23:38] petewarden commented on #24732
I'm not sure what's happening here unfortunately! I don't think I'll have a chance soon to debug, so adding contributions welcome.

[2019-02-22 23:39] petewarden commented on #24601
Thanks for the fix! The PR has been reviewed, so closing this now.

[2019-02-22 23:39] #24601 closed

[2019-02-22 23:40] sjamesr commented on #26024
Looks good to me, are you going to send a patch? Otherwise I can take care of it.

[2019-02-22 23:40] petewarden commented on #24396
Unfortunately I don't have enough information to debug this, so closing for now. A Stack Overflow question with more details might get a response? Thanks!

[2019-02-22 23:40] #24396 closed

[2019-02-22 23:43] petewarden commented on #24370
This is quite a large question, and seems more appropriate for Stack Overflow (since it's about usage now rather than a bug). You can see an example of doing image resizing here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/ios/simple/RunModelViewController.mm#L157

[2019-02-22 23:43] #24370 closed

[2019-02-22 23:44] ypxie commented on #7469
Is it because  is_training should be a python boolean rather than a placeholder?

[2019-02-22 23:52] petewarden commented on #24309
Passing to Rocky, since he's been looking at this.

[2019-02-22 23:53] petewarden commented on #24289
Unfortunately I wasn't able to reproduce this. Are you still seeing it Corine? I'll close it for now, but let me know more reproduction steps and I can reopen it if it's still happening.

[2019-02-22 23:53] #24289 closed

[2019-02-22 23:54] petewarden commented on #24148
Thanks for your PR on this (and sorry for the slow response).

[2019-02-22 23:55] petewarden commented on #23963
Sorry for the slow response. I haven't had a chance to look at this yet, so keeping it open, but I'm not sure when we will be able to debug it, so adding contributions welcome.

[2019-02-22 23:57] karimnosseir commented on #23599
Fix has been submitted. Please retry at head and let us know if there is an issue.

Thanks

[2019-02-22 23:57] #23599 closed

[2019-02-22 23:57] petewarden commented on #23716
Have you been looking at this NUMA area @poxvoculi?

[2019-02-22 23:59] petewarden commented on #23608
Sorry for the slow response! We are working on adding more operations (like Conv2D), and hope to have them in soon, but we'd also welcome contributions. I'll be working on some documentation around porting ops, but that isn't ready yet either.

[2019-02-22 23:59] #23608 closed

[2019-02-23 00:00] petewarden commented on #23440
Thanks for the report, and sorry for the slow response! I believe this is now fixed in the head of TF, so closing, but please reopen if it's still an issue.

[2019-02-23 00:00] #23440 closed

[2019-02-23 00:02] petewarden commented on #23075
This looks more like a Stack Overflow question than a bug unfortunately. Could you post full details there? Thanks!

[2019-02-23 00:02] #23075 closed

[2019-02-23 00:05] petewarden commented on #22838
The wav_to_spectrogram tool is only designed to be a debugging tool, so this hasn't made it onto our priority list to fix yet. I'm adding this to contributions welcome.

[2019-02-23 00:06] petewarden commented on #22615
Since this is a feature request that we aren't likely to get to soon, closing for now.

[2019-02-23 00:06] #22615 closed

[2019-02-23 00:06] TF-Deve commented on #23608
If you guys can have a quick guide of how to do it, I can start to add my own kernels. That would be great! Thanks for your reply!

[2019-02-23 00:06] trodaway commented on #25072
@ymodak It was the lowering of the protobuf version (to 3.6.0) that seemed to do the trick.

[2019-02-23 00:07] petewarden commented on #22273
We're trying to deprecate mainline TensorFlow Android builds in favor of TensorFlow Lite, so we're unlikely to get to this one. Closing.

[2019-02-23 00:07] #22273 closed

[2019-02-23 00:09] petewarden commented on #21591
We are deprecating the mainline TensorFlow build on Android, so closing this, but this Stack Overflow answer may help:
https://stackoverflow.com/questions/44938809/how-to-add-operations-into-tensorflow-android-build

[2019-02-23 00:09] #21591 closed

[2019-02-23 00:12] #5867 closed

[2019-02-23 00:12] petewarden commented on #11695
Closing this issue, since it's fairly old and doesn't have any recent reports.

[2019-02-23 00:12] #11695 closed

[2019-02-23 00:13] petewarden commented on #12084
Looks like this is resolved, so closing.

[2019-02-23 00:13] #12084 closed

[2019-02-23 00:14] petewarden commented on #14452
Since there are workarounds and this is pretty old, closing this issue.

[2019-02-23 00:14] #14452 closed

[2019-02-23 00:15] ymodak commented on #25577
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-23 00:15] #25577 closed

[2019-02-23 00:18] petewarden commented on #15651
Closing this, since the direct HVX support in TensorFlow is deprecated in favor of the NN API through TF Lite.

[2019-02-23 00:18] #15651 closed

[2019-02-23 00:21] petewarden commented on #17227
Apologies for the very long delay on this one. I've not been able to reproduce this, so closing for now, but please reopen if you're still hitting it.

[2019-02-23 00:21] #17227 closed

[2019-02-23 00:22] agramesh1 commented on #26001
@sadatnfs Thanks for submitting the issue. There is a fix that has been merged into master https://github.com/tensorflow/tensorflow/pull/25979

[2019-02-23 00:23] petewarden commented on #17424
We're now deprecating the mainline TensorFlow build on Android and iOS in favor of TF Lite. You should be able to find better documentation on this approach here:
https://www.tensorflow.org/lite

[2019-02-23 00:23] #17424 closed

[2019-02-23 00:24] petewarden commented on #17850
We don't currently have the resources to support building library binaries for arm linux unfortunately, so closing this one.

[2019-02-23 00:24] #17850 closed

[2019-02-23 00:25] petewarden commented on #17956
We're deprecating the older iOS mainline TensorFlow build process in favor of TF Lite, so closing this issue.

[2019-02-23 00:25] #17956 closed

[2019-02-23 00:26] petewarden commented on #18877
I believe this error usually happens when a graph that's already been frozen is fed into freeze_graph.py, and it's been a while since any updates, so closing this issue.

[2019-02-23 00:26] #18877 closed

[2019-02-23 00:29] ymodak commented on #25965
Thanks for sharing the info.
Here is the link for [TF1.13 binary with cuda10](https://github.com/tensorflow/tensorflow/tree/v1.13.0-rc2)

[2019-02-23 00:29] petewarden commented on #19071
My guess is that there's something wrong with the input image preprocessing in this case, in particular the input_mean and input_std values (though if it's working for v1, it should be similar for v2). Since this is now a bit old, closing, but please reopen with details on the exact command lines if you're still hitting the problem.

[2019-02-23 00:29] #19071 closed

[2019-02-23 00:30] #25965 closed

[2019-02-23 00:30] petewarden commented on #19854
I'm closing this issue since it's not been updated for a while, and seems to be fixed from the latest comments.

[2019-02-23 00:30] #19854 closed

[2019-02-23 00:31] petewarden commented on #20210
I'm not sure when we'll get to this, so adding to contributions welcome.

[2019-02-23 00:32] petewarden commented on #20504
Unfortunately we're not likely to be able to fix this soon, since protobuf has some built-in limits around a maximum size of 2GB. Closing as infeasible.

[2019-02-23 00:32] #20504 closed

[2019-02-23 00:35] petewarden commented on #20519
This is a feature we're not likely to get to soon, so adding to contributions welcome.

[2019-02-23 00:36] petewarden commented on #21416
We're now deprecating mainline TensorFlow Android builds in favor of TensorFlow Lite, so closing this as unlikely to get fixed.

[2019-02-23 00:36] #21416 closed

[2019-02-23 00:37] petewarden commented on #21505
Since we don't have plans to support these, closing for now.

[2019-02-23 00:37] #21505 closed

[2019-02-23 00:38] petewarden commented on #21566
You're correct, I do suggest the GTT in place of this script, since it should be more reliable.

[2019-02-23 00:38] #21566 closed

[2019-02-23 00:46] ymodak commented on #25753
You need to update your cuda and cudnn versions.
For TF 1.12 you can install cuda 9.0 and
for TF 1.13.0-rc2 you can install cuda 10

[2019-02-23 00:49] ymodak commented on #25847
Please provide following info. Thanks!
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):
- GCC/Co

[2019-02-23 00:54] poxvoculi commented on #23716
Yes, but not this part, where the StreamExecutor attempts to find the NUMA node of the GPU.  What's the problem?  Is it anything other than an error message in the log?  If the system is non-working unless a 0 is returned I suppose we should have more if-defs here.

[2019-02-23 00:56] ymodak commented on #25659
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-02-23 00:56] #25659 closed

[2019-02-23 01:02] martinwicke commented on #24653
@dynamicwebpaige you have the latest on the symbol map. Assigning this issue to you to close when we have an official map we can point to.

[2019-02-23 01:03] martinwicke commented on #24946
@r4nt how are the fires?

[2019-02-23 01:10] ymodak commented on #25854
@beew  TF 1.13 rc2 comes with pre built binaries for cuda 10 where as TF 1.12 supports cuda 9.
To use cuda 10 against TF 1.12, you have to build TF from sources yourself. Thanks!

[2019-02-23 01:10] #25854 closed

[2019-02-23 01:33] KashishDesai opened #26025 "unable to import tensor flow and keras"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
- Mobile device (e.g

[2019-02-23 01:36] KashishDesai commented on #26025
I also installed microsoft visual c++ 2015 redistributable, still getting errors. and few of the similar problem suggested to uninstall tensorflow and try lower versions of it because it worked for them, I have tried those as well, still stuck with this problem. Help Me!!
Thanks

it successfully installs keras and tensorflow but then creates error while importing them

[2019-02-23 01:38] rankeey commented on #25378
@ymodak it's really a bug as i mentioned before, losing shape while do tensorrt transformation.

[2019-02-23 02:10] lhendre commented on #24374
The PR has been merged and issue fixed.

[2019-02-23 03:47] nanshihui commented on #5867
which version can solve this problem。hope comming soon

[2019-02-23 03:57] beew commented on #25854
@ymodak

I am building from source myself. Please read OP.

[2019-02-23 04:25] PINTO0309 commented on #21574
I tried implementing MultiThread with Tensorflow Lite v1.11.0.
It gained 2.5 times the performance.

**https://github.com/PINTO0309/Tensorflow-bin/blob/master/tensorflow-1.11.0-cp35-cp35m-linux_armv7l_jemalloc_multithread.whl**

[code]

Customize "tensorflow/contrib/lite/examples/python/label_image.py".
[code]

Environment Preparation for MobileNet v1.
[code]

Result of x1 Thread.
[code]
Result of

[2019-02-23 07:25] huan opened #26026 "TypeError: can only concatenate list (not "tuple") to list"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
* Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N
* OS Platfor

[2019-02-23 07:37] ymodak commented on #26025
TF 1.5 is very old version. Why don't you install the latest one? You can simple do,

No need to specify version. It will grab the latest one.

[2019-02-23 07:50] ymodak commented on #25378
@samikama Can you PTAL? Thanks!

[2019-02-23 07:54] codeninja55 opened #26028 "TensorFlow library was compiled to use AVX512F instructions not importing after install"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): Source (master a2bb5db1bf7931b0dc2cd08e53b8798489568198)
- TensorFlow version:
- Python version: 3.6.5
- Installed using virtualenv? pip? conda?: Pip from Intel Distribution for Python on Conda
- Bazel version (if compiling from source): 0.21.0
- GCC/Compiler version (if compil

[2019-02-23 08:02] ymodak commented on #25232
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-23 08:02] #25232 closed

[2019-02-23 08:09] ymodak commented on #24928
We're trying to deprecate mainline TensorFlow Android builds in favor of TensorFlow Lite. Thus, closing this one.

[2019-02-23 08:09] #24928 closed

[2019-02-23 08:17] ymodak commented on #23386
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-23 08:17] #23386 closed

[2019-02-23 08:46] ageron opened #26029 "super() does not work within a tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
tf

[2019-02-23 09:07] eliorc commented on #24221
I'll try to run the code again and monitor its RAM when I'll have time, bit busy

[2019-02-23 09:10] eliorc commented on #22497
@owenwork I'll try to investigate that, since the IT guys ran all the test I don't have that information on hand - if I'll be able to get some answers I'll be sure to update

[2019-02-23 09:16] #21913 closed

[2019-02-23 09:34] ageron opened #26031 "Cannot create stateful metrics based on symbolic tensors using the functional API"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
tf

[2019-02-23 09:51] deeply commented on #25451
The difference should be all right if training and inference use the same code. Thanks for clarification.

[2019-02-23 10:19] awav opened #26032 "[TF2.0] default type"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2019-02-23 10:19] #26032 closed

[2019-02-23 10:34] awav opened #26033 "[TF2.0] Change default types globally"
Hello everyone,

I made the same request a while ago at [tensorflow/community](https://github.com/tensorflow/community/issues/23). The similar question was raised before at [tensorflow/tensorflow#9781](https://github.com/tensorflow/tensorflow/issues/9781), where maintainers argued that GPU is much faster on float32, default type cannot (should not) be changed because of backwards compatibility rea

[2019-02-23 10:46] lorenzesz commented on #24828
I have the same problem running ~/models/tutorials/image/mnist/convolutional.py

[2019-02-23 10:55] nirajkale commented on #21719
To add an update, this issue is not only related to tf-gpu version but also occurs for cpu version if installed with python version 3.6.0
this can still be solved by replacing default protobuf version with 3.6.0

[2019-02-23 12:18] niraj-bhujel commented on #11077
@madhurcodes  I am trying to pass the encoder state into the decoder using the

A part of my code is as below;
`
enc_output, self.enc_state = tf.nn.bidirectional_dynamic_rnn(encoder_cell_fw, encoder_cell_bw, enc_embed_input,   initial_state_fw=init_state_fw,  initial_state_bw=init_state_bw, dype=tf.float32, time_major=False)
att_fn = BahdanauAttention(config.rnn_size, enc_output)
decoder_cell = tf

[2019-02-23 12:47] tensorflowbutler commented on #18786
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-23 12:47] danaugrs commented on #26012
@pavithrasv [huber_loss](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/losses.py#L813) exists but as you can see it's not exported and therefore not accessible. `logloss` is also not exported but IMHO should be. I made a PR to address these issues: https://github.com/tensorflow/tensorflow/pull/26034

I also agree that `huber_loss` should be renamed to `huber` for con

[2019-02-23 12:47] tensorflowbutler commented on #24336
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-23 12:50] vishwasmehra opened #26035 "I having an issue that tensorflow is throwing "Failed to load the native Tensorflow runtime"."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: *Windows 10 Home*
- TensorFlow installed from (source or

[2019-02-23 13:07] kerwinxu opened #26036 "event.pb.h error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (win10):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung

[2019-02-23 13:47] kerwinxu opened #26037 "winsock2.h"
tensorflow\core\platform\cloud\gcs_dns_cache.cc 文件，i think it should like below 。
#include <winsock2.h>
#include <Windows.h>

[2019-02-23 14:46] silentsnooc opened #26038 "Warn or throw error when calling tf.train.TFRecordDataset([])"
### Issue

I am just here because it took me way to long to get behind this issue as somebody who tried to write `.tfrecord` files and use them in a `TFRecordDataset` for the first time.

I am not sure if this is intended behavior but it turns out that `dataset = tf.data.TFRecordDataset([])` won't bother you until you run the graph in a session but will only give you

[code]
As an error. I was thi

[2019-02-23 16:59] versusvoid commented on #23386
Just got it on 1.13.0-rc2 with monolithic build:
[code]
Tried to run example script from [hand3d](https://github.com/lmb-freiburg/hand3d):
[code]

[2019-02-23 17:34] deepakmeena635 commented on #24099
hey, can you let me know what caused the error, and if its possible to use tpus on colab with in this setting,  thanks

[2019-02-23 18:18] Mrpatekful opened #26041 "tf-nightly-gpu-2.0-preview dataset and tf.function error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): tf-nightly-gpu-2.0-preview
- Python version: Python 3 in Google Colab
- CUDA/cuDNN version: 10
- GPU model and memory: Tesla K80

**Describe the current behavior**

When using GPU r

[2019-02-23 18:56] sherryy commented on #24843
Resolved in https://github.com/tensorflow/tensorflow/commit/16c0e72b92497587b6f7e1614869066ed122c9e4.

[2019-02-23 18:56] #24843 closed

[2019-02-23 19:15] Davide-sd opened #26042 "Tensorflow r1.12 CPU-only build fails on Ubuntu 18.04"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in Tens

[2019-02-23 20:39] Syndrome777 commented on #20464
I have the same issue. Do you have any suggestion?

[2019-02-23 21:45] irenedea commented on #26024
@sjamesr yup, I'll open a PR soon. Thanks!

[2019-02-23 22:08] ilyaerin opened #26044 "Needs upgrade Russian's translation of page: /tutorials/keras/basic_classification"
**System information**
- TensorFlow version: not important
- Doc Link: https://www.tensorflow.org/tutorials/keras/basic_classification

**Describe the documentation issue**
When I was reading the Russian translation of this documentation page, I found a few places with not a natural way of using the Russian language(I'm a native Russian speaker), also I noticed a few small typo mistakes. I careful

[2019-02-23 22:50] duncandean commented on #25973
@ymodak I recall Martin Wicke saying something about the link generation script that should be updated. Seems to have been updated now, thanks! I'll edit the issue description. 🙂

[2019-02-23 23:11] StephenGemin commented on #24828
I just had the same problem, as the OP.  Problem for me was there wasn't enough memory.  When I cleared up processes to reduce my memory (RAM), I was able to get my program working.

I was running the MNIST with a CNN.

[2019-02-23 23:30] zhuoyw opened #26045 "tensorflow 1.12.0 install package requires protobuf>=3.6.1 but comes with protobuf==3.6.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platfo

[2019-02-24 00:41] akuz commented on #9917
I am also interested in this issue, and I think I have some idea how this can be done. If you read about how the depthwise_conv2d is implemented, you will find find that "_depthwise_conv2d applies a different filter to each input channel (expanding from 1 channel to channel\_multiplier channels for each), then concatenates the results together._" -- therefore, depthwise_conv_2d_transpose could the

[2019-02-24 01:02] beew opened #26046 "Tensorflow 1.13.0 reports wrong version"
**System information**

- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from: source
- TensorFlow version: 1.13.0
- Python version: 3.5.2
- Bazel version : 0.22.0
- GCC/Compiler version (if compiling from source): 5.4.0
- CUDA/cuDNN version: cuda10.0 cudnn7.4.2.24
- GPU model and memory: GTX1070

Tensorflow compiled and built without issue. But when created wheel with com

[2019-02-24 01:04] ageron opened #26047 "Switching between TF 1.x and TF 2.0 in the API browser loses the context"
**System information**
- TensorFlow version: from
- Doc Link:

**Describe the documentation issue**
When I'm browsing the documentation, I often need to switch from TF 1.x to TF 2.0 or vice versa. Unfortunately, the context is lost when I do that.
For example, visit the `tf.constant` documentation for TF 2.0:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/constant
Then from the drop d

[2019-02-24 01:09] ageron commented on #26047
I just noticed that the context is lost whenever I switch to any other TF version, not just to/from TF 2.0. I think I recall that context used to be preserved (I may be wrong). I didn't notice it until now because I was usually only interested in the latest TF version, so I didn't need to switch often. Now I do, and I think as TF 2.0 usage grows, people are going to need to switch more often too.

[2019-02-24 01:53] shaoeChen commented on #14356
Thanks your help, i will try it later and  reply.

[2019-02-24 02:14] robertnishihara opened #26048 "Check failure and silent failures with incorrect usage of tf.custom_gradient (in eager mode)."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.13.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.0-8779-g2ae06ca491 1.13.0-dev20190223 (as well as 1.12.0)
- Python version: Python 3.6.4 :: Anaconda

[2019-02-24 02:34] iKuba opened #26049 "official/utils/misc/distribution_utils.py uses the wrong API for OneDeviceStrategy resulting in runtime python error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): b'unknown' 1.13

[2019-02-24 02:46] #26049 closed

[2019-02-24 02:46] iKuba commented on #26049
Filed in wrong project.

[2019-02-24 03:01] pavithrasv commented on #26012
Oh yes, we can definitely export those, thank you for the PR!

[2019-02-24 03:50] balansky commented on #7469
for slim.batch norm, there is another parameters call trainable, which is true as default. When you do evaluation, turn off that. Also, for small data, it's possible to need more steps than the one without batch_norm.

[2019-02-24 03:59] ThanasanCHE opened #26050 "Failed to convert object of type <class 'dict'> to Tensor."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code for Model Regression
- I used ANACONDA platform with Tensorflow to Develop DNNRegre

[2019-02-24 05:16] dynamicwebpaige commented on #25846
@MarkDaoust @Sangarshanan @josephhaaga
You can build TF 2.0 from source with:

[code]
I do not think that anyone is working on adding installation from source to the docs - but that would be a great add! So would the guide to modifying `gen_math_ops.py` documentation. :smile:

Thanks for your interest in improving the TF 2.0 API docs! We appreciate it.

[2019-02-24 05:41] DankeGott commented on #26046
I meet the same situation LOL

[2019-02-24 05:42] DankeGott commented on #26046
Same situation ...

[2019-02-24 05:46] tatianashp commented on #23834
@reedwm Can you look into this?

[2019-02-24 05:57] vimukthiD commented on #26046
Same issue ..

[2019-02-24 06:47] xykong1958 commented on #24061
It should be always profitable to hoist the reciprocal showing in the example, the problem is if the
floating point precision differences are acceptable. Many compilers do the transformation under options which allow such differences.

[2019-02-24 07:06] dynamicwebpaige commented on #25988
@JTunis Thanks so much for the interest in contributing to TF 2.0 API documentation! We appreciate it, and these are excellent questions. I believe the best approach for modifying this endpoint in TF 2.0 docs would be to modify the docstrings for the [`mobilenet_v2.py`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/applications/mobilenet_v2.py) file in `tensorflow/te

[2019-02-24 07:08] geppyp commented on #26046
Same issue here...

[2019-02-24 07:12] freedomtan commented on #26042
as shown in the error message
[code]
You may want to either `pip install tensorflow-estimator==1.2.0` or `pip install tensorflow==1.2.0` before building your own version.

[2019-02-24 08:14] ttyen commented on #26046
same issue to me:
ubuntu 18.04.2 LTS
python 3.6.7
Bazel version : 0.22.0
NO GPU

[2019-02-24 08:31] #26044 closed

[2019-02-24 08:46] dynamicwebpaige commented on #25802
@Sudeepam97 Just confirmed that you are correct! Apologies for the confusion - the `.pbtxt`files in [`/base_api`](https://github.com/tensorflow/tensorflow/tree/9590c4c32dd4346ea5c35673336f5912c6072bf2/tensorflow/core/api_def/base_api) still create the documentation for several of the TF 2.0 math endpoints.

Let me take a look at your PR; we might need to tweak the syntax a little bit (format is a

[2019-02-24 08:53] zrss commented on #19892
i confirm this problem, and i run the distributed trainning job on k8s, and most of workers hang at

[code]

[2019-02-24 09:37] ahatamiz commented on #24410
Following :)

[2019-02-24 09:45] Squadrick commented on #24410
Hey, guys. Should be done within this week. I'll update this thread once I open a PR.

[2019-02-24 09:51] ahatamiz commented on #24410
Thank you so much for your great work.

[2019-02-24 09:58] oldoldman commented on #26013
have found the reason

[2019-02-24 09:58] #26013 closed

[2019-02-24 10:12] lonelykid commented on #8037
According to Intel, https://software.intel.com/en-us/articles/intel-optimization-for-tensorflow-installation-guide, If you use intel built Tensorflow, you can ignore those warning since all available instruction set would be used by the backend MKL. Can anyone from Tensorflow confirm this?

[2019-02-24 10:44] JustASquid commented on #8535
This still seems to be broken for me using `tf.layers.batch_normalization` in 1.12.

[code]

[code]

@reedwm any comments?

[2019-02-24 11:56] huntzhan commented on #26046
And the PyPI hasn't been updated yet.

[2019-02-24 11:56] CrabBucket opened #26059 "Tensorflow-gpu import error (solved)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Win 10

- TensorFlow installed

[2019-02-24 12:02] #26036 closed

[2019-02-24 12:14] DankeGott commented on #26046
same issue,but my tensorboard run properly.
maybe you can try compile your code in terminal,
then try
tensorboard --logdir="./graphs" --port number(anyone you want)
and open the address you set in browser(ie.http://localhost:10086/)

[2019-02-24 12:19] BorisMansencal opened #26060 "tf-lite: allocateTensors never returns"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- I Have written custom code inspired from the tf-lite demo https://github.com/tensorflow/tensorflow/tree/master

[2019-02-24 12:54] windyuan commented on #25965
thanks.

[2019-02-24 13:15] kumarrajesh996 commented on #22512
Using TensorFlow backend.
Traceback (most recent call last):
  File "C:\Users\Rajesh Kumar Khatik\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\Rajesh Kumar Khatik\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\pywrap_t

[2019-02-24 14:31] marsupial-tail commented on #25703
Any updates?

[2019-02-24 15:20] ElderOrb commented on #25690
any progress here?

[2019-02-24 15:30] ageron opened #26061 "Cannot load a Keras model with a custom initializer/regularizer/constraint function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
tf

[2019-02-24 16:03] xavysp commented on #24828
Mine was something like yours, I fixed updating cuDNN to 7.5
cheers!!

[2019-02-24 16:15] Sudeepam97 commented on #25802
@dynamicwebpaige, that's great! Please take your time to review the PR, I'll be happy to work on any changes that are necessary. :smile:
I seem to understand how to modify the API docs now. I can work on other similar issues as well.

[2019-02-24 18:43] tensorflowbutler commented on #21081
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-24 18:43] tensorflowbutler commented on #25644
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-24 19:16] AzharSindhi opened #26068 "Incorrect predictions while exporting keras model to android"
I trained the Keras model on State Farm Distracted Driver Dataset and exported it to **.pb** graph file with the code given below:

[code]

 The problem is when I run that exported model on android, it always predicts wrong classes. The same code below predicts the correct labels when given .pb file of model trained on MNIST Dataset from [source.](https://github.com/llSourcell/A_Guide_to_Running_T

[2019-02-24 19:42] akuz commented on #9917
Here is an implementation for you. I don't have time to submit pull request with tests etc, but this works for me. Although, it's slower than when I use the regular conv2d and conv2d_transpose with the same number of input and output channels (and larger, full filters). If implemented in C++ (or in some other smarter way), it should be in fact faster. Anyway, at least it works. P.S. I've also trie

[2019-02-24 19:50] njzjz commented on #26046
Is it because TF_MINOR_VERSION is still 12? I have submitted #26051 to update it.

[2019-02-24 20:03] jlebar commented on #24061
Indeed.

We already pass `-nvptx-prec-divf32=0` to LLVM, which lets it use PTX `div.approx`.  This is a large win on some benchmarks.

But even this optimization is observable.  For example, if `x == y`, then `x/y == 1` should be true.  But it's not with div.approx.  You can make this error arbitrarily large by e.g. doing `floor(x/y)` -- now this is 1 or 0, depending on whether or not there was an

[2019-02-24 20:20] rahulshenoy77 commented on #11930
I have got the same problem too. I'm using tensorflow 1.12.0 with python 3.6.8 on Windows10 + GPU GTX1060. Please help!

[2019-02-24 20:39] Supergitter123 commented on #25984
I installed TensorFlow 1.13.0-rc2 but still got the same error

[2019-02-24 21:46] beew commented on #26046
You can change the version by editing tensorflow-1.13.0/tensorflow/tools/pip_package/setup.py and change line 48 to _VERSION = '1.13.0' (typo in the original?) But the tensorboard error persists.

[code]

[2019-02-24 22:24] hjfreyer opened #26069 "Many operations don't support uint64"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.14.2
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): b'unknown' 1.13.0-rc1
- Python version: Python 3.7.2
- Bazel version (if compiling from source): N/A
- GC

[2019-02-25 00:02] Geeks-Sid opened #26070 "Model Memory requirements"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12.0
- Are you willing to contribute it (Yes/No): Yes

*

[2019-02-25 01:43] jvishnuvardhan commented on #25644
Closing this issue due to lack of recent activity. Please open a new ticker when new information is available. Thanks!

[2019-02-25 01:43] #25644 closed

[2019-02-25 01:49] TomHeaven commented on #25822
I'm facing the same problem using Tensorflow 1.12.0 built from source. The problem persists in Python 3.7 but does not exist in Python2.7. So maybe it's bug related to Python 3.7.

[2019-02-25 01:55] vrl2 commented on #25822
As a workaround, I able to run tensorflow, installed through anaconda, in
an anaconda virtual environment (both python 3.7 and 2.7):
https://www.anaconda.com/tensorflow-in-anaconda/

On Sun, Feb 24, 2019 at 8:52 PM Hanlin_Tan <notifications@github.com> wrote:

[2019-02-25 03:10] shaoeChen commented on #14356
@ArashHosseini
hi dear.
i try it  and get same reply, it's no response and no error. the browser is reading, reading, reading.
even i set uwsgi one process one thread as below:
[code]
Now, i try use gunicron as below, and five seconds can get predict_generator response:
[code]
It work well for me, i think i need study how to use uwsgi correctly.
thanks for your guidnace.

[2019-02-25 04:10] sandipto-sanyal commented on #8630
It happens generally due to learning rate having high values. Please refer to: https://stackoverflow.com/questions/45770603/tensorflow-session-returns-nan

[2019-02-25 05:26] karllessard commented on #26024
Hi @irenedea, sorry in advance for the novel but I think it might worth it to get more into details here,

I think your concern on not having control inputs available in the Ops API is justified. I would be careful though before adding a new `create` factory method inside the wrappers.

The thing is that by design, operation wrapper factories were not meant to be accessed directly by the users. Th

[2019-02-25 05:47] #25954 closed

[2019-02-25 05:58] KaramAbuaisha opened #26072 "docker tensorflow-tensorflow/latest-gpu slow initialisation of GPU"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Ubuntu 16.04
Using Docker (latest-gpu image)
- Mobile Dev

[2019-02-25 06:50] LuWei6896 opened #26073 "no such attribute 'downloaded_file_path' in 'http_file' rule"
**System information**
- OS Platform and Distribution :Linux Ubuntu 16.04
- TensorFlow installed from :source code
- TensorFlow version:https://github.com/tensorflow/tensorflow
- Installed using bazel(bazel build tensorflow/cc:cc_ops):
- Bazel version (0.15.0):
- GCC/Compiler version (5.4.0):
**Describe the problem**
when i use bazel(bazel build tensorflow/cc:cc_ops) to buid the tensorflow source

[2019-02-25 07:07] doublejtoh opened #26074 "tf.spectral.dct length argument not implemented"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
1.12.0
- Are you willing to contribute it (Yes/No):
Yes

*

[2019-02-25 07:09] chrisfan918 opened #26075 "TFLite model converted from pb file yields different output values"
System information:

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
    `macOS Mojave version 10.14.3`
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
   `IPhone XS (iOS 12.1.4)`
TensorFlow installed from (source or binary):
    bazel tools: build

[2019-02-25 07:35] ymodak commented on #26059
TensorFlow 1.13.0-rc2 has released which supports cuda 10. You might want to give it a try instead.

[2019-02-25 07:47] vinayonchip opened #26076 "Why is op:BatchMatMul listed in file(.pbtxt), when there is no call to such op?"
There is no usage of op named ***BatchMatMul*** in my code. If the op is not used then why is it listed in the file (.pbtxt)?

Can anyone please help me with this...!

Thanks in advance.

[2019-02-25 07:53] lunasdejavu commented on #24181
We really need this since it is much better to do CLAHE after data augmentation since there are some kinds of grids would be on the image after CLAHE. If we combine it with the random rotation  it would turn the grids to the noise of data augmentation.

[2019-02-25 08:01] Gytis123 opened #26077 "1.13.0-rc2 gpu doesnt work"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-02-25 08:23] wei-v-wang commented on #23145
@eLvErDe sorry for the issues. Indeed 1.12 the issue is there.
The good news is I have tested, e.g. this commit id: 07d5d08579bbbff910653a59163b4f8f180d16ac (master branch, tagged with v1.13.0-rc2  v1.13.0-rc1 v1.13.0-rc0), that the issue is gone. Can you please try one last time with this commit id with MKL?

Below is what I got:

2019-02-25 00:20:09.309341: I tensorflow/core/platform/cpu_feature

[2019-02-25 08:42] xuefeng7 commented on #19192
what if a input_fn returns a dictionary of name to tensor that will be consumed by model_fn? how can I stop the predict loop?

[2019-02-25 09:00] jackyko1991 commented on #25747
in the [workspace file](https://github.com/tensorflow/tensorflow/blob/b0022ada8fd3ba6ec1c359e5d4e374b4632d70aa/WORKSPACE) of tensorflow, they added apple_rule but not swift_rule

I am trying to make a PR to solve this issue

[2019-02-25 09:01] ArashHosseini commented on #14356
@shaoeChen, thx for reply, i edited the code, `set_session` in `__init__` was missing, now the GPU consumption should be significantly lower, let me know if that(gpu_config) worked in your case, thanks

[2019-02-25 09:17] DHOFM opened #26081 "Problem with keras implementation of Tensorflow"
Hi,
TF Version: b'v1.13.0-rc1-2-gb6141b06f5' 1.13.0-rc1

I have switched a keras implementation to tensorflow.keras. My intention is to give the TPUs a try. The original model trains on GPU. The tensorfow version cancels and shows a different model output:

Original output is:

Model summary...
__________________________________________________________________________________________________
Layer

[2019-02-25 09:56] pjhinton opened #26082 "TensorForestEstimator throws ValueError due to bad feature column handling"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

Bug was discovered when writing a custom script that used `TensorForestEstimator`.  Code is provided below.

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
[code]
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:

not ap

[2019-02-25 09:57] ageron commented on #25754
FYI, @fchollet wrote :"I think in this case tf.function is extracting the layer's call in a form where it is no longer dependent on the learning phase placeholder. The `fit` method sets the value of the placeholder, but by that time the tf.function is completely independent from it (and relies on the default value of 0)."

[2019-02-25 09:58] malgo1311 commented on #23937
@aselle What do you mean by 'try the nightly or source'? Am getting an error for ResizeNearesetNeighbor. I am using Tensorflow 1.12

[2019-02-25 10:25] NicolasVIscool opened #26083 "tensorflow lite : Convertion from keras works fine but execution on device fails : ByteBuffer is not a valid flatbuffer model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-02-25 10:27] alanpurple commented on #25807
I have no idea what's related, but I just "git pull"ed and this problem has been resolved

closing this issue

[2019-02-25 10:27] #25807 closed

[2019-02-25 10:35] alanpurple commented on #25807
confirmed.

In other machine this is resolved after conda upgrade --all( which upgrade python from 3.7.2-blahblah to 3.7.2-otherblahblah)

[2019-02-25 11:01] mika-fischer opened #26084 "libtensorflow.dll leaks icu symbols on Windows"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): Self-compiled with bazel & from https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-windows-x86_64-1.12.0.zip
- TensorFlow version: 1.12.0 & 1.13.0-rc2

**Describe the problem**
`libtensorflow.dll` exports a ton of symbols from icu. They should be private to the d

[2019-02-25 11:04] kmader commented on #21526
`tf.cumsum` appears also not to be implemented in `tf.__version__` in '1.13.0-rc1'
[code]

[2019-02-25 11:06] kmader commented on #21526
`ReverseV2` appears also not to be implemented in `tf.__version__` in '1.13.0-rc1' (which is used for Bidirectional LSTM/Recurrent models in tf.keras

[code]

[2019-02-25 11:35] kingspp opened #26085 "Ambiguous behaviour of tf.train.global_step"
**System information**
- OS Platform and Distribution: *Darwin - Mac OS X 10.14*
- TensorFlow installed from (source or binary): *Source*
- TensorFlow version (use command below): *v1.12.0-rc2-3-ga6d8ffae09 1.12.0*
- Python version: *3.6.5*

**Describe the current behavior**

Let me illustrate the ambiguous behaviour of global step when using iterators and custom gradient operations. For the examp

[2019-02-25 12:07] #26006 closed

[2019-02-25 12:17] kamauz opened #26087 "Changes within the base SSD mobilenet v1 structure"
I have to import the ssd_mobilenetv1_coco_2018 pretrained model inside PyTorch so I have to manage the specific chosen architecture in the code. I noticed that the first layers of the classification/box prediction have less output than the others (12 instead of 24).
Isn't it a standard implementation?
Does this involve directly the number of anchors that will be built?

Thanks

[2019-02-25 12:31] rudy-letote commented on #9549
for me  i key "conda install cudnn==7.1.2“ 。
my previous cudnn edition was 7.3.1 which respondes to  cuda9.2_0  ,but my cuda edition is 9.0.175.so i reduce the edition of cudnn to 7.1.2 which respondes to cuda 9.0.0.

[2019-02-25 13:10] Honghe commented on #22946
@ymodak

Which TensorFlow version? I met this error in v1.12.0-GPU. Thanks

[2019-02-25 13:37] milinddeore commented on #19431
I could able to convert FaceNet `.pb` to `.tflite` model, and following are the instructions to do so:

We will quantise pre-trained Facenet [model](https://drive.google.com/open?id=1EXPBSXwTaqrSC0OhUdXNmKSh9qJUQ55-) with 512 embedding size. This model is about 95MB in size before quantization. 
[code]
create a file `inference_graph.py` with following code:
[code]
Run this file on pre-trained mode

[2019-02-25 14:08] karllessard commented on #26024
In case you were not aware of the existence of the `Ops` classes, here [some examples](https://github.com/karllessard/models/tree/master/samples/languages/java/mnist/src/main/java/org/tensorflow/model/sample/mnist) to show there usage.

[2019-02-25 14:13] milinddeore commented on #23627
I could able to solve it, please see check on  #19431

[2019-02-25 14:17] botev opened #26091 "Tensorflow 2.0 Preview - tf.function error when wrapping a function that works"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.2 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): tf-

[2019-02-25 14:20] NicolasVIscool commented on #26083
If we use Firebase ML Model Interpreter 17.0.3 instead of 16.2.4, the error message is gone and I can execute the model, but, the tflite output results are equivalent to the keras or protobuf frozen graph ones.

Here is (in attachment) a slightly different architecture, with the 3 versions (keras, frozen_graph and tflite), the keras one and the frozen graph are consistent, but not the tflite one,

[2019-02-25 14:22] Pices-26 commented on #20444
This worked for me:

python -m pip  install https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.8.0-py3-none-any.whl

[2019-02-25 14:38] algorithmdog commented on #24539
Looking forward to the feature.

[2019-02-25 14:41] herbakamil opened #26092 "tensorflow lite tests on x86"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.1 LTS
- Mobile de

[2019-02-25 16:13] tahirashehzadi commented on #21742
When I executed the script I have this message:
![p1](https://user-images.githubusercontent.com/47982518/53350986-3337df80-38d5-11e9-8073-a1a3b7b26153.PNG)
master\p1.PNG
               [C:\Users\Tahira Shehzadi\Desktop\Master\semester1\MLCS\Image-Super-Resolution-master\p1.PNG ...]
main.py: error: the following arguments are required: C:\Users\Tahira Shehzadi\Desktop\Master\semester1\MLCS\Image-Su

[2019-02-25 16:25] r4nt commented on #24946
Thanks for pinging - there are still a couple of things on my stack, but this one is small enough to drop it in, code review coming your way.

[2019-02-25 16:37] herbakamil opened #26093 "sorry, unimplemented: non-trivial designated initializers not supported"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
-  OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.1 LTS
- Mobile d

[2019-02-25 16:52] jpribyl commented on #20444
Hey guys, I believe that this is fixed on the latest python/pip

[code]

Here is the log of the install
[code]

and the results

[code]

unrelated..
@campanelli-resonon Hey! Sure is cold outside :)

[2019-02-25 16:56] harahu commented on #16875
@gunan Can confirm that tf dockerfiles are still python 3.5.2. Now that TF 1.13 is released with support for python 3.7, maybe it is worth it to look into this again? Python 3.5 will reach end of life on 2020-09-13, which isn't that far out. I'd like to move on sooner rather than later.

[2019-02-25 17:46] ymodak commented on #26077
I suspect its due to version mismatch of  cuDNN for CUDA and NVIDIA Hardware. Please take look at [cuDNN Support Matrix](https://docs.nvidia.com/deeplearning/sdk/cudnn-support-matrix/index.html) to know more.

[2019-02-25 17:51] srjoglekar246 commented on #23627
@milinddeore I think this makes sense. Sorry I didn't get to your issue on time, but it seems like the error occurred because you were earlier trying to convert the part of the graph that was doing the training?

In [this attempt](https://github.com/tensorflow/tensorflow/issues/19431#issuecomment-467013566), you essentially add an input/output interface to the saved graph and use _just_ that with

[2019-02-25 17:52] mat100payette opened #26094 "Cross-compilation from Windows 10 to Ubuntu 16.04"
**System information**
- TensorFlow version: TF r1.12.0 if possible
- Doc Link: N/A

**Describe the documentation issue**
I can't find any official tutorial on how to cross-compile Tensorflow on the main platforms other than the less-than-descriptive official tutorial to cross-compile for the Pi. I'm not sure if this is more of a Doc issue than a Feature request but I was looking for any help comp

[2019-02-25 17:53] ispirmustafa commented on #18858
Hi @zjy8006 I'm closing this issue since I think checkpointing is the main reason you couldn't see more evaluation points.

[2019-02-25 17:53] #18858 closed

[2019-02-25 17:53] NeilGirdhar opened #26095 "Warnings raised for deprecated collections.abc usage."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): b'v1.13.0-rc1

[2019-02-25 17:53] SibtainRazaJamali opened #26096 "Kenlm in tf.nn.ctc_beam_search_decoder"
Please integrate Kenlm feature in tf.nn.ctc decoder. Because it is very hard to build tensorflow bindings from source. There are always issue with bazel version not matching with tf version.If every thing goes fine still there are issues such as missing libraries.So there should be some easy way to add a language model scoring with ctc_decoder.

[2019-02-25 17:56] ymodak commented on #25822
@TomHeaven TF 1.12 does not support Python 3.7 however TF 1.13.0-rc2 supports Python 3.7. You may want to give it a try.

[2019-02-25 18:20] ymodak commented on #25704
Is this still an issue? This issue is more appropriate on TensorFlowJS repository. The folks in TFJS repo may guide you better. Please post it on [tensorflow/tfjs](https://github.com/tensorflow/tfjs/issues) repo. Thanks!

[2019-02-25 18:20] #25704 closed

[2019-02-25 18:32] herbakamil opened #26097 "sorry, unimplemented: non-trivial designated initializers not supported"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
-  OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.5 LTS - docker i

[2019-02-25 18:34] danaugrs opened #26098 "[TF 2.0] optimizer_v2.get_updates() eager mode problem"
**TF Version: 2.0.0-dev20190214
Windows 10
Anaconda Python 3.6.5
GPU: GeForce GTX 1070 Max-Q Design
[Tensorflow 2.0 (gpu) nightly](https://pypi.org/project/tf-nightly-gpu-2.0-preview/) installed via pip.**

**Describe the current behavior**
Calling [`<AnyOptimizerV2>.get_updates(params=my_model.trainable_weights, loss=my_loss)`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/pytho

[2019-02-25 18:50] yifeif commented on #25807
Glad it's fixed!

[2019-02-25 18:50] ymodak commented on #26035
In addition to installing MSVC 2015 you also you have lower your cuda version to 9.0 since TF 1.12 come with pre-built binaries to support cuda 9.0 In addition to that you will have to set appropriate cuda, cudnn paths. Please refer this [windows setup](https://www.tensorflow.org/install/gpu#windows_setup) guide o this.

[2019-02-25 18:54] lamberta commented on #26047
Hey Aurélien,
It's a good point and something we've discussed, but not prepared to invest the site infra in (at least at this time with the run-up to TF 2).
When TF 2 is out of preview and released, that will be the default experience for tensorflow.org. We will continue to host some older 1.x API docs, but for narrative docs, we will point users off to our [tensorflow/docs](https://github.com/ten

[2019-02-25 19:14] qlzh727 commented on #23269
Seems that the change has been made to contrib/cudnn_rnn, but the it hasn't been port to core tf.keras API. I will work on that in this week.

[2019-02-25 19:18] gunan commented on #26046
Yeah, it is because you need more than renaming the file to update the version.
Did you build it from the branch r1.13?

[2019-02-25 19:20] elmirador opened #26099 "tf.one_hot crashes when indices is tf.uint8"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes.
- OS Plat

[2019-02-25 19:21] timudk opened #26100 "Parallel quasi-newton optimizers for tensorflow-gpu"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12.0
- Are you willing to contribute it (Yes/No): Yes

*

[2019-02-25 19:32] FCOS opened #26102 "ResizeNearestNeighbor op not supported in TFlite conversion"
<em>
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.13.0-dev20190219
- Python version: 3

**Describe the current behavior**
ToCo converter is throwing an

[2019-02-25 19:35] evictor commented on #25678
I have performed the upgrades to latest versions re: your point #2. I will let you know if anything new comes up, thanks

[2019-02-25 19:43] theflofly commented on #9837
Thanks @asimshankar, @karmel.

I will work on something then, but bear with me I am quite busy at the moment.

[2019-02-25 19:46] beew commented on #26046
@gunan

 I downloaded the 1.13 release tarball  from https://github.com/tensorflow/tensorflow/releases Now 1.13 appears to have been removed from the server (unreleased?) since is the latest version on the link is back to 1.13rc2 since maybe last night.

[2019-02-25 19:46] baslia commented on #25980
Thanks for you reply guys.
To be more specific, I am doing it on the mkl version of tensorflow (not the GPU one).

[2019-02-25 19:47] smit-hinsu commented on #25403
Closing this issue. Let us know if it is reproducible with CUDA 10 as well.

[2019-02-25 19:47] #25403 closed

[2019-02-25 20:00] alextp commented on #26091
Very interesting. So if I @tf.function decorate train_one_step it works, but if I decorate the result of functools.partial it doesn't.

I'll keep investigating.

[2019-02-25 20:17] smit-hinsu commented on #23586
Sorry for the long delay here but actual issue and the expected behavior is not clear based the issue description.

Please mention all the relevant fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md) or leave them as N/A if is not applicable?

[2019-02-25 20:40] jvishnuvardhan commented on #25678
Thanks @evictor. If you see the issue persists with the newer versions, we will open the issue and solve it. If you see any issue, please provide a code to reproduce the bug so that we can have solve the issue faster. Thanks again!

[2019-02-25 20:41] gunan commented on #26046
I made a mistake with that, and that tarball was created with the master version. 1,13,1 is being prepared which will have the correct sources.

[2019-02-25 20:42] smit-hinsu commented on #25474
Thanks for the instructions. These were not mentioned on the repository home page.

Is it possible to reproduce the issue without any other dependency except TensorFlow? For example, by using fake data. Any other way to reduce the size of the code so that it is minimal and self sufficient which can be shared using https://gist.github.com/?

[2019-02-25 20:43] botev commented on #26091
Yeah, there is something wrong going on when using functions.partial. For instance, if define the partial_func explicitly it works as well:
[code]

[2019-02-25 20:50] awav opened #26104 "[TF2.0] Variable with dynamic shape"
Hello everyone,

Why variable's `assign` doesn't work for different shapes? It doesn't look like correct behaviour.

[code]

**System information**
- macOS Mojave
- TensorFlow installed from `pip install -U tf-nightly-2.0-preview` - "2.0.0.dev20190225"
- Python version: 3.6

Kind regards,
Artem Artemev

[2019-02-25 20:51] alextp commented on #26091
@allenlavoie I remember we had issues with functools.partial and tf.function before; does anything ring a bell?

[2019-02-25 21:17] gunan commented on #25747
CC @temrich

[2019-02-25 21:19] #25138 closed

[2019-02-25 21:33] temrich commented on #25747
Explicitly adding Swift rules to the WORKSPACE file should not be needed. Swift rules are pulled in via Apple rules: https://github.com/bazelbuild/rules_apple/blob/master/apple/repositories.bzl#L115. Also see: #25735.

[2019-02-25 21:37] allenlavoie commented on #26091
Partial objects are their own special thing, so I'm not at all surprised there's yet another bug related to them. But no more specific ideas at a glance.

[2019-02-25 21:38] jaingaurav commented on #25446
@samsamoa: I've landed a fix to #25138. I'm continuing to work on additional config options. Could you please share which specific options are of interest to you?

[2019-02-25 21:47] jvishnuvardhan commented on #25548
@Kwander I have couple of questions.
1) You mentioned that you are able to successfully compiled for two models before. Did you disable XLA and CUDA while you compiled them?
2) What is the reason behind the disabling XLA & CUDA? Want to understand context. Thanks!

[2019-02-25 21:47] masterchop commented on #21574
Did you ran this on the RaspberryPI 3B?
So no difference? no performace gain? i dont understand the title saying 2.5 but the results are the same?
What about the PI resources was it taking over 90% or still at 25%-30%?

[2019-02-25 21:48] irenedea commented on #26024
Hi @karllessard, thank you for your response; the details are great! I actually had no idea of the existence of the `Ops` classes, so thank you for pointing that out or I would've missed that completely. (Is there documentation on this somewhere?)

I do like the idea of the chain solution. It is definitely much neater than doubling the Ops API :)

What do you think about this:
- Add `controlInputs

[2019-02-25 21:51] boqinggong opened #26105 "vocab_size = len(tokenizer.word_index) ?"
Update it to "vocab_size = top_k"?

[2019-02-25 21:51] #26105 closed

[2019-02-25 21:58] CrabBucket commented on #26059
[code]

after running running pip3 uninstall tensorflow-gpu then pip3 install tf-nightly-gpu

[2019-02-25 22:00] bennuttall commented on #25296
Tensorflow 1.12.0 is now available from piwheels.org for Python 2.7, 3.4, 3.5, 3.6 and 3.7 for Arm v6 and v7.

[2019-02-25 22:08] girving commented on #25446
@jaingaurav I use `config.device_count['GPU']` and `config.gpu_options.visible_device_list` currently.

[2019-02-25 22:27] impjdi commented on #25759
@pontiusnn

Thanks for trying out the GPU delegate, and sorry that it has taken so long to respond; must have missed this post somehow :(

The sad news about the proper way to get `GL_MAX_COMPUTE_WORK_GROUP_INVOCATIONS` is to query the GL driver, but not all vendors implement to return the correct numbers.  Then, from  `glGetIntegerv(GL_MAX_COMPUTE_WORK_GROUP_INVOCATIONS, &max_work_group_invocatio

[2019-02-25 22:36] TensorFlow-MKL commented on #23514
closing due to inactivity.

[2019-02-25 22:36] #23514 closed

[2019-02-25 22:36] TensorFlow-MKL commented on #23516
closing due to inactivity.

[2019-02-25 22:36] #23516 closed

[2019-02-25 22:37] TensorFlow-MKL commented on #24487
closing due to inactivity.

[2019-02-25 22:37] #24487 closed

[2019-02-25 22:47] nathan-greeneltch-intel commented on #26001
@sadatnfs can you try the fix and let us know if solved for you?

[2019-02-25 22:53] sadatnfs commented on #26001
@nathan-greeneltch-intel oh shoot sorry yes it built all good! :)

I had an issue which I was using VERBS in my configs, but that's really not a big deal for me so I commented that out. MKL is all good!

[2019-02-25 22:53] #26001 closed

[2019-02-25 23:21] jvishnuvardhan commented on #25709
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-25 23:21] #25709 closed

[2019-02-25 23:26] ymodak commented on #26059
Did you update the path for cuda, cudnn as per the [windows setup guide](https://www.tensorflow.org/install/gpu#windows_setup)?

[2019-02-25 23:28] karllessard commented on #26024
There is a glitch in current Java documentation on the TF website that prevents to generated classes to appear. I pinged the documentation team about this a few days ago and they said they will take a look at it but it's not on their top-priority list.

To palliate the pain, I wanted to merge my examples (the previous link I provided) to master but there's been another issue in the build system th

[2019-02-25 23:46] PINTO0309 commented on #21574
@masterchop

Yes. The above performance measurement result is based on RaspberryPi3.

25%-30%

It seems that you are misunderstanding something.
"freedomtan" and my implementation is **"MultiThread"**.
It is not **"MultiProcess"**.
Performance will never improve more than 4 times.
4 Core is never used in full.
**http://www.dabeaz.com/python/UnderstandingGIL.pdf**

If you need implementation with 4

[2019-02-25 23:49] jvishnuvardhan commented on #25686
@Raviteja1996 Please
This is not related to TensorFlow Core.  This repo is mainly for addressing bugs in installation and performance related to TF Core.
Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. Thanks!

[2019-02-25 23:49] #25686 closed

[2019-02-25 23:52] ymodak commented on #25889
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-02-25 23:52] #25889 closed

[2019-02-25 23:54] ymodak commented on #26003
You can refer to the instructions posted on https://github.com/tensorflow/models/tree/master/official and further the markdown files of different models in official directory.

[2019-02-25 23:59] Dexter2389 commented on #26104
`tf.random.normal` expects you to have the 'shape' argument to be a 1-D integer Tensor or a Python array. [https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/random/normal](url). Hence this error was raised. I tested and it seems it is working properly.

`
Python 3.6.8 |Anaconda, Inc.| (default, Dec 30 2018, 01:22:34)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" f

[2019-02-26 00:05] ymodak commented on #25984
Did you update the cuda, cudnn path as per the [windows setup guide](https://www.tensorflow.org/install/gpu#windows_setup)?

[2019-02-26 00:07] ymodak commented on #26050
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-02-26 00:11] ymodak commented on #25881
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-26 00:11] #25881 closed

[2019-02-26 00:11] jackyko1991 commented on #25747
Does it mean that we need to use latest version of bazel?

If so please specify which one will be compatible on swift rules.

[2019-02-26 00:14] ymodak commented on #25666
The issue persists with TF 1.13.0-rc2 and tf-nightly build.

[2019-02-26 00:16] temrich commented on #25747
Yes, I believe 0.21 and 0.22 (latest version) will work.

[2019-02-26 00:18] ymodak commented on #26005
Please take a look at similar [discussion](https://stackoverflow.com/questions/44466066/how-can-i-convert-a-trained-tensorflow-model-to-keras).
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please c

[2019-02-26 00:18] #26005 closed

[2019-02-26 00:30] irenedea commented on #26024
Thanks for your work on the documentation side of things as well! Hope it gets resolved soon as it would be great to have more documentation and examples with TF Java. (I haven't had much luck finding good usage examples myself.)

Good catch!

Agreed, that sounds great.

[2019-02-26 00:30] antonsoch opened #26107 "Big memory consumption conv2d vs conv3d"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
VERSION="16.04.5 LTS (Xenial Xerus)"
- **TensorFlow installed from**:
Binary
- **TensorFlow version**:
1.12.0
- **Python version**:
Python 3.5.2
- **CUDA/cuDNN version**:
CUDA: 9.0, V9.0.176
cuDNN: 7.4.2
- **

[2019-02-26 00:31] preethivenkatesh commented on #25952
Hi,
The mkl library on windows is currently experiencing several issues at the time of linking and a patch with a fix will be made available either this week or next week. Please try again when we have the new library released. Also, I see that your VS version is 2017 instead of 2015. Please ensure that the necessary installs are available as per the doc available here https://www.tensorflow.org/i

[2019-02-26 00:40] yifeif commented on #25513
@agnz were you using the docker container from the guide? You might need ubuntu 14.04.

[2019-02-26 00:50] EasonTong commented on #14475
I tried, but it still doesn' t work.

[2019-02-26 00:56] Worthy7 opened #26108 "2.0 Compile is leaking memory."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 (2 different machines)
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): gpu 2.0.0-dev20190214, gpu 2.0.0-dev20190224
- Python version: 3.6.6
- CUDA/cuDNN vers

[2019-02-26 01:08] china-zhangdj commented on #16981
谢谢

[2019-02-26 01:11] agnz commented on #25513
@yifeif I used the docket container from the guide and followed the guide exactly. The only difference is in the custom op ass inheriting ReaderBase.

[2019-02-26 01:15] Worthy7 commented on #26108
Changing the parameters of `compile` seems to makes no difference. And the size of the network also doesn't seem to make a difference.

[2019-02-26 01:16] angersson commented on #25752
@jvishnuvardhan I don't know very much about this. Can you find a more fitting reviewer, please?

[2019-02-26 01:20] #25700 closed

[2019-02-26 01:20] #24837 closed

[2019-02-26 01:30] freedomtan commented on #21574
@PINTO0309 and @masterchop as far as I can remember only the convolution kernel is multithreaded, so you hit [Amdahl's law](https://en.wikipedia.org/wiki/Amdahl%27s_law)

[2019-02-26 01:35] freedomtan commented on #25759
@impjdi I ran into this on in-house prototype phone. I'll be in the TensorFlow Dev Summit. Maybe I can give you some of the phone at next week.

[2019-02-26 01:38] flybikeGx opened #26114 "ImportError: DLL load failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- Mobile device (e.

[2019-02-26 01:39] flybikeGx commented on #26114
cuDNN version is v7.5.0.56, and all three things added to path

[2019-02-26 01:57] yhliang2018 commented on #25722
@lhlmgr Thanks for FR! We do have [multi_head](https://github.com/tensorflow/estimator/blob/master/tensorflow_estimator/contrib/estimator/python/estimator/multi_head.py) in tf.contrib, but don't think it's suitable for GAN. If you are interested in GAN, you can take [tf-gan](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/gan) as a reference.

[2019-02-26 02:04] ymodak commented on #26114
TF 1.12 supports cuda 9.0 . Please lower your cuda version to 9.0.

[2019-02-26 02:09] #25666 closed

[2019-02-26 02:10] ymodak commented on #26081
You can execute your model correctly using GPU however it fails on TPU. Is my interpretation correct on this? Also in order to expedite the trouble-shooting process, can you please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-02-26 02:10] impjdi commented on #25759
@freedomtan

Sounds good.  I'm not giving a talk at TF dev-summit, but can swing by.  Just let me know :)

[2019-02-26 02:11] ymodak commented on #25947
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-02-26 02:25] lenaevans commented on #21787
@jdduke Are there any updates on the fix? Thank you!

[2019-02-26 02:29] shivaniag commented on #22002
@facaiy You can now use `tf.data.experimental.StatsAggregator()` to gather the statistics about prefetch (i.e., prefetch buffer size and buffer capacity). Your workflow to attach a `stats_aggregator` with dataset pipeline would be:

[code]

Further, you can collect data statistics ( prefetch buffer size and buffer capacity) in form of tensor-board summaries from stats_aggregator, and thus the requ

[2019-02-26 02:29] #22002 closed

[2019-02-26 03:12] jiarenyf commented on #22098
Met the same problem, under watching.

[2019-02-26 03:22] Teslaxhub commented on #9243
tf.nn.conv2d           : is MUCH complicated, say,the filter need to be specified first
tf.layers.Conv2D       : recomended
tf.layers.conv2d       : IS DEPRECATED，Use tf.keras.layers.Conv2D instead.
tf.keras.layers.Conv2D : recomended

[2019-02-26 03:22] shivaniag commented on #22098
@fchollet  could you take a look.

[2019-02-26 03:25] milinddeore commented on #23627
@srjoglekar246 Thats correct!
It strips off `phase_train`, training input tensor and keeps `input` inference only.
That essentially means that all the `BatchNorm` and many other training specific ops are removed.

I have a question here, is there a document where we can see all the support ops on mobile or `.tflite` per release?

[2019-02-26 03:32] wookayin commented on #22002
[StatAggregator](https://www.tensorflow.org/api_docs/python/tf/data/experimental/StatsAggregator) (TF 1.13.0+) is great! Thank for your hard work on this.

[2019-02-26 03:53] rienath commented on #25094
I had the same problem with python 3.6.0. Updating it to python 3.6.4 helped. Try downgrading to python 3.6.4

[2019-02-26 04:08] beew commented on #26046
@gunan

It works now, tf 1.13.1 compiled and installed successfully. Thanks!

[2019-02-26 04:08] #26046 closed

[2019-02-26 04:20] rishi-rranjan commented on #26114
I am getting this error while compiling TF GPU  v1,13,1 with windows 10.

[2019-02-26 05:08] srjoglekar246 commented on #23627
Thanks for confirming! Closing this one...

[2019-02-26 05:08] #23627 closed

[2019-02-26 05:15] Qvera commented on #20499
Thx a lot! This works for me.
BTW, you need to delete the tensorflow directory, even its version is not the one you just installed.

[2019-02-26 05:17] CrabBucket commented on #26059
I believe so https://i.imgur.com/bc9AImq.png

I tried adding them to the user variables as well.  cudnn64_7.dll is inside the CUDA bin folder do I need to create a separate folder for it and then path to that as well? Or do I need to name the dll files explicitly in the path?

[2019-02-26 06:59] Degerz commented on #22
@iperov Care to know why practically no one uses PlaidML ?

1. It runs pitifully slow on AMD's OpenCL implementations compared to Tensorflow's CUDA backend so there goes at least half the reason to use it. Performance so bad that using Tensorflow with CPUs is competitive or even outright beats their hardware using PlaidML ?

2. Nobody is interested in maintaining their specialized Tile programming

[2019-02-26 07:14] Gytis123 commented on #26077
Thanks, I'll try to install newest cudnn version

[2019-02-26 07:16] guptapriya commented on #26020
That output looks fine and is expected. The devices it should be using are "/device:GPU:0" etc which it doesn't complain about.
Why do you think GPUs are not being used?

[2019-02-26 07:23] freedomtan commented on #25759
@impjdi How to reach you then? My email is freedom@computer.org

[2019-02-26 07:40] talregev commented on #22
What about all GPU inside arm machine like mobile phones and raspberry pi odroid and etc?
They don't support opencl?
Google should care about insert tensorflow on gpu on android.
The biggest libraries of neural network training run only on Nvidia gpu, it just make Nvidia gpu more and more expensive (because it people and companies only buy it for professional neural network training), then google

[2019-02-26 07:41] lenaevans opened #26123 "For an SSD mobilenetv2 model, tflite quantized_uint8 inference is slower on some android devices than float inference"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No, using the code in the tflite example apps.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac 10.14.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung Galaxy S8 [Snapdragon 835] (API 26), HTC Bolt [Snapdragon

[2019-02-26 08:09] elmirador commented on #9359
Stumbled upon this issue when I found out `tensor_x == 0` returns an all `False` tensor... well, here goes my debugging time :(
Can we at least warn people about the operator's inconsistent behavior? Maybe somewhere in the doc, suggest them to use tf functions instead.

[2019-02-26 08:17] ymodak commented on #25960
Thanks for sharing the workaround. Closing this issue since its resolved. Thanks!

[2019-02-26 08:17] #25960 closed

[2019-02-26 08:44] iperov commented on #22
@Degerz from which planet you are came from?
How you can compare tf-CPU and AMD GPU ?
AMD GPU on plaidML x30 faster than tf-CPU

in my deepfakes tests OpenCL slower only by 20%, but in some mini networks OpenCL is 20% FASTER.

My project DeepFaceLab has many users that have been waiting for the support of AMD. How many people were delighted when deepfakes can finally be trained on AMD cards.
Also

[2019-02-26 08:46] ymodak commented on #25848
In order to expedite the trouble shooting process can you please provide minimal code snippet to validate the issue reported here. Thanks!

[2019-02-26 09:00] czabo commented on #26020
I see. The info seemed strange to me. But also I I don't see a lot of util on my GPUs - to be exact it is about 5%/0%, peaking at around 27%/10% sometimes in spikes here and there. In contrast when using the old queue/threaded approach (using a RandomShuffleQueue) instead of tf.data.Dataset, I had a much higher util on the GPUs - about 50% on each GPU without any break.

So I'm thinking there must

[2019-02-26 09:22] sumit1212 commented on #3898
Please help me out.

`Traceback (most recent call last):
  File "server.py", line 49, in detect
    faces = recognize(detection.get_faces(image, threshold))
  File "/home/bigblue/Music/Test/tf-face-recognition-master/tensorface/recognition.py", line 19, in recognize
    X[i, :] = embedding(img_to_np(img))
  File "/home/bigblue/Music/Test/tf-face-recognition-master/tensorface/embedding.py", line 43

[2019-02-26 09:31] sumit1212 opened #26128 "KeyError: "The name 'input:0' refers to a Tensor which does not exist. The operation, 'input', does not exist in the graph.""
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-02-26 09:32] sumit1212 opened #26129 ""The name 'input:0' refers to a Tensor which does not exist. The operation, 'input', does not exist in the graph.""
**I have same issue.
  I have doing real time face recognition using tensorflow. I'm follow this link "https://github.com/btwardow/tf-face-recognition" When I'm download clone repo it work in one system but try to run another one this show me error. Please help me out.**

`Traceback (most recent call last):
File "server.py", line 49, in detect
faces = recognize(detection.get_faces(image, threshold

[2019-02-26 09:36] lhlmgr commented on #25722
@yhliang2018 thanks for your reply and the references. I'm familiar with both of these tools (I used tf-gan some times, and I quickly skimmed through the `multi_head`-classes). While `multi_head` is a nice idea, it doesn't allow to alternate through the different headers. It [adds them up to a total loss](https://github.com/tensorflow/estimator/blob/master/tensorflow_estimator/contrib/estimator/py

[2019-02-26 09:43] wookayin opened #26130 "tf.contrib.rnn.LayerNormBasicLSTMCell does not work with keras RNN"
**System information**

- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13
- Python version: 3.6

**Describe the current behavior**

Normal RNN cells work with `keras.layers.RNN` which allows to use arbitrary rnn cell class (replacing `tf.nn.dynamic_rnn` in 2.0 ?):

[code]

But LayerNormBasicLSTMCell does not work:

[code]

An error happens:

[cod

[2019-02-26 09:48] DHOFM commented on #26081
@ymodak Thanks. No the TPU is not the problem. The problem is the Keras implementation of tensor flow. I need to use tf.keras because of the TPU, but training also fails using tf.keras on a GPU. The only difference I see is the _1 and so on in the layers, so keras starts with _1, tf. keras starts without _x But i do not think that this is the problem, I have plotted both models for better understa

[2019-02-26 09:49] msiddique1436 commented on #25069
So the only solution for this is to install TF 1.13 ?

[2019-02-26 09:50] zhaoyingjun commented on #22837
this is happening with tf-nightly-2.0-preview-2.0.0.dev20190225

[2019-02-26 09:54] DHOFM commented on #26081
And these are the models Keras is the original on, tfkeras is the one, that won't work (tf.keras implementation)
![kerasmodel_plot](https://user-images.githubusercontent.com/27775323/53403892-ce53b680-39b4-11e9-91d3-e7ac299e2511.png)
![tfkerasmodel_plot](https://user-images.githubusercontent.com/27775323/53403907-d3b10100-39b4-11e9-81d3-a5a2388ad709.png)

[2019-02-26 09:55] DHOFM commented on #26081
**tf.keras:**

![tfkerasmodel_plot](https://user-images.githubusercontent.com/27775323/53403907-d3b10100-39b4-11e9-81d3-a5a2388ad709.png)

[2019-02-26 10:00] leondoofus opened #26131 "Modify Partitioning and Scheduling"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): Yes

*

[2019-02-26 10:08] r4nt commented on #24946
This has landed in 2e846b14e15d9bf04892e935e293dad1f2ec037a.

[2019-02-26 10:33] ThanasanCHE commented on #26050
Thank you very much sir.

After i check in more detail. I found this problem is come from i specify label data more than 1 ( 4 labor data) in DNNRegressor Estimator.

Now i try to find out the way to use DNNRegressor to predict more than 1 output.
Could you advise how to do this thing in DNNRegressor estimator sir ?

Thank you in advance^^

[2019-02-26 10:49] awav commented on #26104
@Dexter2389, I want the variable's dynamic shape behaviour. I put different shape in `tf.random.normal` deliberately, there is no issue there.

[2019-02-26 10:49] akuegel commented on #25069
Yes.

[2019-02-26 10:58] msiddique1436 commented on #25069
Alright then I am closing this issue.

Also is there any wheel file availabe for TF 1.13 with XLA. Compiling 1.12 from source with XLA was a pain and I don't want to go through the same steps again. If anybody has a wheel file plz share!!

[2019-02-26 10:58] #25069 closed

[2019-02-26 11:09] carlthome commented on #9359
It's `String` comparisons in Java all over again. :worried:

[2019-02-26 11:11] puneet336 commented on #23386
Got same issue with tensorflow 1.12.0 (compiled from source with gcc 4.8)
as **-march=native** (default) was getting me less performance with cifar10, i used following to build tensorflow -
`bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --copt=-msse4.2 --define=grpc_no_ares=true -k //tensorflow/tools/pip_package:build_pip_package`

while running -
` python -c 'fro

[2019-02-26 11:12] akuegel commented on #25069
I thought that TF version 1.12 already had XLA support linked in by default?
https://github.com/tensorflow/tensorflow/releases/tag/v1.12.0
(under major features and improvements)
The same should be true for every TF release after that.

[2019-02-26 11:19] msiddique1436 commented on #25069
@akuegel
Oh okay I didn't knew that actually I was working with an older version on a Jetson tx2 and then cross compiled from source for xla support. and then I wanted to use a newer version on my PC so I compiled 1.12 from source without even knowing that it had already xla support by default.