[2017-12-12 16:01] yongtang commented on #15284
By the way, currently `parameterized_docker_build.sh` uses `sed` to replace the following in Dockerfile in order to provide different builds:

[code]

I don't know enough about the history of the code base. However, I do think the above could be achieved through other means like `--build-arg`, which might be easier to maintain. Wondering if it make sense to make some changes in this part?

[2017-12-12 16:19] mrry commented on #15040
Example code is useful, but in the interests of keeping the core repository small, it's something we don't typically merge into the core. My general rule for this is: "If it can be built entirely using public APIs, and there is no performance downside to doing so, it doesn't need to be in the repository."

As I mentioned above, if there is some augmentation to `tf.data` that makes it easier to wor

[2017-12-12 16:19] mrry commented on #13348
@rishabh135 Can you provide enough information to reproduce the problem?

[2017-12-12 16:26] maxfiedler commented on #15318
Quick hint. You need to set reuse to false for gpu:0 and to true for all others

[2017-12-12 16:27] flx42 commented on #15284
@yongtang yes, @gunan mentioned that he wants to get rid of this scripts:
https://github.com/tensorflow/tensorflow/pull/15205#issuecomment-350197348

[2017-12-12 16:30] OluwoleOyetoke commented on #12093
Thanks, @GrandathePanda , it worked!

[2017-12-12 16:31] mrry commented on #15256
There's a `tf-nightly-gpu` package that includes the GPU build.

[2017-12-12 16:34] yongtang commented on #15284
Thanks @flx42 @gunan that would be great. Let me know if I can be of any help.

[2017-12-12 16:38] mrry commented on #9735
Closing this because the DLL not found error has been improved to indicate what DLL is missing.

[2017-12-12 16:38] #9735 closed

[2017-12-12 16:39] creativesh commented on #15318
@maxfiedler
I didnt understand you,can you explain with code ?

[2017-12-12 16:40] mrry commented on #13847
Closing due to lack of activity.

[2017-12-12 16:40] #13847 closed

[2017-12-12 16:43] mrry commented on #11865
I won't have time to look into this, so marking it as "Contributions Welcome."

[2017-12-12 16:45] mrry commented on #14595
Nothing springs to mind. @guschmue Do you have any ideas why this might not be working in the C++ build?

[2017-12-12 17:30] allenlavoie commented on #14267
@stereomatchingkiss sorry, got a bit distracted. Is the claim that "#include <atomic>" is causing the issue? Everything else in that file is in a namespace, so I don't see how it could cause an issue.

[2017-12-12 17:39] keryell commented on #22
@mirh to clarify the "acronyms of magically random technologies [...] making [you] mad":

In the Khronos Group realm, OpenCL is the low-level non-single source API and SYCL is the high-level *single-source* C++ domain-specific embedded language (DSeL). SYCL is expected to be built on top of OpenCL, so by transitivity when you use SYCL, often you use OpenCL.

Since TensorFlow uses Eigen which uses

[2017-12-12 17:53] Deepakchawla commented on #7455
@zaqari I am also getting the same issue can you please suggest me some solution of it...??

[2017-12-12 18:06] zaqari commented on #7455
Hey @Deepakchawla ! This was a while back, and I don't remember precisely what I did to fix it, but one of the things I did was to make sure that the values in my labels column were all int() by adding the the following single line after setting up the pandas dataframes for my test and train data. Assume you have to do this for both of them:

df['label']=df['label'].astype(int)

That worked like a

[2017-12-12 18:22] Deepakchawla commented on #7455
Actually, I used below code to split the data

`from sklearn.cross_validation import train_test_split
import pandas as pd

dataset = pd.read_excel('Iris.xls')

train, test = train_test_split(dataset, test_size = 0.2)
train.to_csv("train.xls", index=False, index_label=False, header=True)
test.to_csv("test.xls", index=False, index_label=False, header=True)

print (train.data)`

and this is to load t

[2017-12-12 18:32] zaqari commented on #7455
Hmm. I usually just load all of my data in via pandas as opposed to using the functions provided by tensorflow. However, looking at what you just shot me, I think the problem is in the target_dtype value--you have it set for np.float32 where you want it as np.int16 or np.int64

Try changing that and see what happens!

[2017-12-12 18:44] angersson commented on #15291
Actually, I think the CUDA prompt is one of the ones I didn't update because of its complexity (and potential breakages due to change).

I'm working on replicating this.

[2017-12-12 18:45] Carmezim commented on #15294
First, why did you install two CUDA versions? You need one CUDA installation, but despite that if one of them was properly installed TensorFlow would maybe be able to find so it may have not been properly installed. And it's not locating cuDNN as well which you also need.

Please take a look in the installation docs, it guides you step-by-step on how to set TensorFlow on your machine https://www.t

[2017-12-12 18:53] Deepakchawla commented on #7455
When I gave int16 or int32 then it will show me below error:
`Traceback (most recent call last):
  File "LoadData.py", line 10, in <module>
    training_set = base.load_csv_with_header(filename=IRIS_TRAINING,features_dtype=np.float32,target_dtype=int32)
NameError: name 'int32' is not defined`
but when I changed to it in int then it will give something like this..
`Traceback (most recent call last)

[2017-12-12 18:58] PeskyWabbit opened #15319 "Cannot import tensorflow after installing tensorflow-gpu - Windows"
I am running windows 10 64bit.
Tensorflow-gpu version - 1.4.0
CUDA version - 8.0
cuDNN - v6.0

I installed it using the cmd command: `pip install tensorflow-gpu ` and do not have any other version of tensorflow installed. now when I try to execute

[code]
I get the error `ModuleNotFoundError: No module named 'tensorflow'`

I am hoping getting this working will solve my bigger issue of tensorflow n

[2017-12-12 19:05] tensorflowbutler commented on #15305
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-12 19:07] angersson commented on #15291
Worth noting: the [README in the Docker directory](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/docker) says not to build the containers directly, though that may be out of date.

[2017-12-12 19:08] flx42 commented on #15291
@angersson As far as I know, the templating only happens for the `runtime` Dockerfiles (`Dockerfile` and `Dockerfile.gpu`). I don't think `Dockerfile.devel-gpu` is modified in any way.

[2017-12-12 19:11] Carmezim commented on #15242
This seems to be a bug in your code rather than with TensorFlow itself. Due to the huge volume of issues the TensorFlow team isn't able to provide help on this type of situation but only to bugs with TensorFlow or feature requests on Github. This question is better suited for StackOverflow which is also monitored under the TensorFlow tag.

[2017-12-12 19:13] flx42 commented on #15291
Also, I'm probably not smart enough to fathom how `parameterized_docker_build.sh` works :)

[2017-12-12 19:38] creativesh commented on #15318
@maxfiedler
thanks-I did it,but didnt solve the problem

[2017-12-12 19:43] BogdanRuzh opened #15320 "Multi-core CPU performance dropped for MKL TF build"
### System information

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04 LTS (64-bit)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: Tensorflow r1.4
- **Python version**: Python version:

[2017-12-12 20:20] vncntprvst commented on #14980
I got the same issue. Using `pip install --ignore-installed --upgrade tensorflow-gpu` on Windows broke Conda.
Thereafter, `conda -h` returns:
[code]

Most common Conda commands like `update`, `info`, `list `are missing.

[2017-12-12 20:29] amirjamez commented on #15292
Updated my question.

[2017-12-12 20:53] mohamedadaly commented on #14661
Thanks!

[2017-12-12 20:57] MtDersvan opened #15321 "Feature Request: Support for DT_STRING type in ScatterNd kernel."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: -
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOs, Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binaries
- **TensorFlow version (use command below)**:
v1.3.0-rc1-5542-g03a1651cbb 1.5.0-dev20171206
and
v1.4.0-rc1-11-g130a514 1.4.0
- **

[2017-12-12 21:08] kostiantynzghirovskyi opened #15322 "Add Android compilation support for ndk r16, clang and c++ stl"
Currently it doesn't seems like tensorflow support compiling with ndk r16, clang and c++ stl.
Is there any plans to update build flow to support that?
Also it would be nice to have pure CMake build for Android.

[2017-12-12 21:35] mrry commented on #14633
Sorry for the delay. I'm not convinced that we should add this to the API, because it seems possible to keep track of the initialized state in the calling code if need be. Moreover, it would be inherently racy, because another thread could come in and initialize the iterator between reading its initialized status and re-initializing it.

[2017-12-12 21:35] #14633 closed

[2017-12-12 21:39] jamieo-ms commented on #13477
I'm having a similar issue.  Are you suggesting that in this scenario, it needs to be:

[code]
 Let's assume `feature_spec` and `features` is something like:

[code]

For some arbitrary example:

[code]

What should be passed to the `predict_fn`?

[2017-12-12 21:45] eaplatanios opened #15323 "Beam Search Decoder API"
@ebrevdo Why is it that the user needs to call `tile_batch` explicitly for beam search decoders when using attention models? Couldn't the beam search decoder internally tile the provided `initial_state` in its constructor? It seems that this API is prone to wrong usage so I'm trying to understand why it's necessary.

Thank you!

[2017-12-12 21:54] flx42 commented on #15284
Here's a proof of concept for `Dockerfile.devel-gpu`, 2 GB less:
https://github.com/flx42/tensorflow/commit/101c8328a166e093925791d6e267a7d2d4ec5ab7
It uses `master` instead of `r1.4` because of https://github.com/tensorflow/tensorflow/issues/15291

If we push something like this, we will be in the same ballpark as the current runtime image. :)

[2017-12-12 22:07] Carmezim commented on #15319
Are you able to run this simple example?
[code]

[2017-12-12 22:12] sleighsoft commented on #15271
Regarding 3. in your https://github.com/tensorflow/tensorflow/issues/15271#issuecomment-350702852

The `global_step` is currently updated non-deterministically so it can happen that while it still runs training the global step already gets updated (not tested for loss calcluation but happens for `tf.cond(global_step,...)` in `generator_fn`). Maybe `global_step_inc` should depend on the loss with `

[2017-12-12 22:12] PeskyWabbit commented on #15319
I was able to get it to work now by installing tensorflow-gpu through pycharms package installer rather than via pip. Closing!

[2017-12-12 22:12] #15319 closed

[2017-12-12 22:30] AyalaSaenzJorge commented on #37
Why would anyone need another Javascript library? Why would anybody use a JS library to train NNs? Javascropt is a bad desigbed language.

[2017-12-12 22:42] mrry commented on #15040
That sounds like it could be useful! I'll pass you on to @wolffg, who oversees tensorflow.org, and might have an answer.

[2017-12-12 22:46] somombo commented on #37
@AyalaSaenzJorge lol (since you're trolling why dont I have at it) ... How about we LOVE "badly" designed languages? Javascript happens to be to most prevalent language currently in existance.. more code (on earth) is written in javascript than ANY other high level language.. And that's a FACT and it's never going away sorry lol

For those of you more serious than this troll Checkout the https://d

[2017-12-12 22:54] humphd commented on #37
@somombo yes, it looks really interesting.  RE: tensorflow + deeplearnjs, see esp:

* https://deeplearnjs.org/demos/mnist/mnist.html
* https://github.com/PAIR-code/deeplearnjs/issues/238
* https://github.com/PAIR-code/deeplearnjs/issues/407
etc

[2017-12-12 23:00] gbolcer commented on #12328
Ubuntu 17.10, Python 3.6.2, Syntaxnet-ops-hack main branch, cpu only, java 9.0.1, Eclipse 4.7.1a.

Just for the record I can build both the Tensorflow 1.4 cpu and gpu and pip packages in the normal tensorflow branch, but I need and want to use Syntaxnet in Java as part of my toolchain integration with other software.   Those libraries will obviously complain about not having the Syntaxnet Ops (Fea

[2017-12-12 23:05] angersson commented on #15321
@josh11b, can you comment on this?

[2017-12-12 23:09] angersson commented on #15311
Dupe of #6533 (which was closed after Python 3.6 support was added)

[2017-12-12 23:09] #15311 closed

[2017-12-12 23:22] bdwyer2 opened #15325 "Minor documentation mistake"
https://www.tensorflow.org/programmers_guide/tensors
Under the "Getting a tf.Tensor object's rank" subheading
`r = tf.rank(my3d)` should be `r = tf.rank(my_image)`

[2017-12-12 23:43] thefill commented on #37
@AyalaSaenzJorge this is a place for informative comments, not an opinionated-firestarters.
@somombo please see my comment from 26 Aug where I explain why deeplearnjs is irrelevant to this debate.

[2017-12-13 00:02] angersson commented on #15325
I prepped an internal change to fix this.

[2017-12-13 00:13] somombo commented on #37
@thefill I saw your comment, but respectfully I disagree I think there are good lessons that were learned on the deeplearn.js project that would be certainly be relevant to creating node.js ML library that can import tensorflow graphs, and save checkpoints etc without the need to directly invoke tensorflow (py or c code) itself. I think it would be nice and very useful to see an isomorphic version

[2017-12-13 00:23] chris-smith-zocdoc commented on #15159
Heres my environment variables within the container

[code]

[2017-12-13 00:26] chris-smith-zocdoc commented on #15159
For comparison, the env inside the tensorflow/tensorflow:1.4.0 container

[code]

[2017-12-13 00:36] chris-smith-zocdoc commented on #15159
Please note, that without credentials you must pass the `--no-sign-request` option to the cli. So that would look like this

[code]

This works correctly in both containers.

Is there a way to enable debug logging for the s3 filesystem? It would be useful to look at the actual requests it is making

[2017-12-13 00:46] kzm4269 opened #15326 "`import_scoped_meta_graph ()` use wrong name scope and fails to restore the collections"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.1
- **Python version**: 3.6.3
- **Bazel version (if compiling from source)**: N/A
- **

[2017-12-13 00:47] quaeler commented on #15190
Something is slightly fishy here - the AWS SDK has retry logic baked in to it which `Aws::S3::S3Client` should pick up.

`Aws::Client::ClientConfiguration` has [a default value for `retryStrategy`](https://sdk.amazonaws.com/cpp/api/LATEST/struct_aws_1_1_client_1_1_client_configuration.html#a48715e0c06bcf958694d1223657b51c7) which provides [a max retry count of 10](https://sdk.amazonaws.com/cpp/api

[2017-12-13 01:10] AyalaSaenzJorge commented on #37
Ok sorry for the comment.

El dic. 12, 2017 6:46 PM, "Filip Dabrowski" <notifications@github.com>
escribió:

[2017-12-13 01:17] yongtang commented on #15190
By the way my test on the script has been running for more than a day and it is still OK:
[code]

[2017-12-13 01:23] andydavis1 commented on #15322
@petewarden, @andrewharp can you comment on this one?

[2017-12-13 01:25] andydavis1 commented on #15318
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-13 01:25] #15318 closed

[2017-12-13 01:26] andydavis1 commented on #15314
Please fill out the template and include code for a reproducible test case.

[2017-12-13 01:27] drpngx commented on #15159
The code is [here](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/s3/s3_file_system.cc#L404) but there is no debugging info, unless the AWS toolkit prints something.

If memory serves, there was a perl script cli that you could tweak to dump the header. If you fixed up the date/time field then you could compare side-by-side with your implementation.

The code doe

[2017-12-13 01:29] andydavis1 commented on #15258
@aselle can you comment on this one?

[2017-12-13 01:32] andydavis1 commented on #15190
Closing this out is it looks as though we have not been able to reproduce it on our end.

[2017-12-13 01:32] #15190 closed

[2017-12-13 01:33] andydavis1 commented on #15288
Please fill out the template so that we understand more about your environment and TF version.

[2017-12-13 01:35] tensorflowbutler commented on #15312
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-13 01:36] tensorflowbutler commented on #15314
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-13 01:42] andydavis1 commented on #15238
Can you post code that reproduces the problem?

[2017-12-13 01:45] secsilm opened #15327 "Feature Request: Easy way to predict after training model with Estimator and Dataset API"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Windows 10
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: Python 3.5.2 :: Anaconda custom (64-bit)
- **Bazel version (if compiling from source)**: None
- **GCC/Compiler version (if compiling from source)**: None

### Describe the

[2017-12-13 01:52] andydavis1 commented on #15216
Did you call initialize_variables? Where is the session run call? Do you have enough memory on your machine for the larger variable sizes?

[2017-12-13 01:56] rishabh135 commented on #13348
@mrry  yeah , I have a network of following kind :
[code]

and it throws up the above error (ValueError: The last dimension of the inputs to Dense should be defined. Found None.) But as I am working on audio dataset , hence I have a variable amount of dimension depending upon the number of timesteps , instead of using flatten I even tried using  tf.reshape along with tf.get_shape to make it work b

[2017-12-13 01:58] asimshankar commented on #15306
@meldron : Apologies for the error. The root cause of the error is that the Go code at head is not compatible with the release version of the C library (version 1.4.0) that you're using.

Possible fixes:

- Use the 1.4 version of the Go code, as suggested in https://github.com/tensorflow/tensorflow/issues/14546#issuecomment-347433966
- Build the C library from source
- Use the "nightly" build of t

[2017-12-13 02:18] thunterdb commented on #15190
Interesting. I will try to reproduce it with more information, and reopen the ticket if something occurs again.

[2017-12-13 02:20] haikuoyao commented on #9678
Hi @chenhxbj I got some advice from @JiaoLiu  I think you can try to contact him.
Actually, I got a transfer script from him and it works.
But I don't know if it's ok to post it here.  Because he has the copyright.
Anyway, you can send a message to him.
Thanks.

[2017-12-13 02:21] Ushiao commented on #15305
using seq2seq model to training a doc2vec.

[2017-12-13 02:23] Nassimbelmecheri commented on #15314
OS Platform : windows
TensorFlow version ; latest
Bazel version: ?
CUDA/cuDNN version : latest
GPU model and memory : Nvidia 980 m 2g
Exact command to reproduce :
python train.py --logtostderr --train_dir=training\ --pipline_config_path=training\ssd_mobilenet_v1_pets.config

[2017-12-13 02:35] warmestwind opened #15329 "tf.train.match_filenames_once() under Windows"
I use  tf.train.match_filenames_once() as follows:
 tf.train.match_filenames_once("./*.py")
I mean , I want to get all the py file in current directory.
But, the result is I also get subdirectory py file under Windows.
How can I get the specified files only in current directory?
Thank you！
-----------------------
Have I written custom code : No
OS Platform and Distribution: Windows
TensorFlow inst

[2017-12-13 02:41] XeMinZa commented on #15256
I have try the GPU version,  but the `tf.data.Dataset.from_tensor_slices` method doesn't support the sparse tensor. Will it be updated?

[2017-12-13 03:05] asimshankar commented on #15288
@tensorflownoob99 : Eager should certainly not be slower than graph when multiplying large matrices., In fact, with larger matrices any overheads of eager execution should be further diminished. If you could provide all the details in the template (in particular the version number being used and self-contained code that reproduces the problem), that would help in tracking your issue down. Thanks.

[2017-12-13 03:14] asimshankar commented on #15208
@zh794390558 : I'm sorry, I'm not quite sure I understand the problem here.

Note that eager execution is not part of the 1.4 release, so to use it you currently have to update to the latest nightly release, i.e., you have to install a version later than 1.4

And with eager execution, currently, device placement has to be explicit - so you'll have to place code in a `with tf.device('/gpu:0'):` blo

[2017-12-13 03:16] asimshankar commented on #14247
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-12-13 03:16] #14247 closed

[2017-12-13 03:23] adam-dziedzic commented on #14779
`pip install -U setuptools ` didn't help me so I installed the latest setuptools from https://pypi.python.org/pypi/setuptools and it worked, thanks.

[2017-12-13 03:27] adam-dziedzic commented on #374
Somehow, the same advice was given when installing tensorflow from the the source code https://www.tensorflow.org/install/install_sources :

Validate your TensorFlow installation by doing the following:

Start a terminal.

Change directory (cd) to any directory on your system other than the tensorflow subdirectory from which you invoked the configure command.

Invoke python:

$ python

[2017-12-13 03:54] errord commented on #14994
error

[2017-12-13 04:07] quaeler commented on #15159
@drpngx (sorry if this is what you're saying - being a pedant to assure clarity) `.WithKey()` refers to the object key which is basically the path & file name within the bucket, as opposed to being a key related to authentication / credentials.

[2017-12-13 04:24] stereomatchingkiss commented on #14267
@allenlavoie Me neither. Whatever, we prefer another tool for our jobs.

Tensorflow is the most popular deep learning library, got rich features, huge community, support by the most brilliant engineers hired by google, amazing tensorboard, tensorflow have a lot of pros, but it got obvious drawback too(no perfect library, just pick the one suit your need)

1. Very complicated dependencies and build

[2017-12-13 04:35] wbaek commented on #12330
@reedwm  I try to fix this issue.
Plz check and review my PR https://github.com/tensorflow/tensorflow/pull/15308

[2017-12-13 04:40] gibiansky commented on #12851
Confirming this; `unzip` would be very useful.

In my application, I have to read data from JSON files and I extract two (or more) pieces of information for them, so I have a Dataset which yields (tf.string, tf.int32, tf.int32), for example. I then have some tensorflow code that transforms the tf.string into a tf.float32 (loading files, doing some compute), but leaves the two tf.int32's alone. Rig

[2017-12-13 04:45] KingRando95 commented on #12851
Confirm

[2017-12-13 05:26] selcouthlyBlue opened #15331 "Graph building and optimization is really slow"
I'm using tensorflow 1.4 and tflearn 0.3.2. The os of my machine is Win 8.1. Apparently, the graph building and cost optimization in my code is real slow which I think is a bug in Tensorflow (either that or my machine is just real slow). Here's the code:

[code]

[code]

Can anyone help me address this issue? To reproduce it, you can run main/train.py in this [repository](https://github.com/selcou

[2017-12-13 05:42] himsikha123 commented on #15144
Please suggest me what should i try to resolved the issue.

[2017-12-13 05:45] roumposg commented on #15285
SG, but I don't think we have the cycles to do it soon. We welcome contributions, though! I would add it to tf.contrib.metrics.

[2017-12-13 05:49] quaeler commented on #15159
@chris-smith-zocdoc it is something peculiar to CentOS 7 or the Python dot-dot version therein.

This Dockerfile:
[code]
when built and run (attaching a bash shell, running Python:
[code]
) works fine stat'ing the s3 file you cite, where as this Dockerfile
[code]
when built and run (attaching a bash shell, running Python:
[code]
) produces the error you cite.

[2017-12-13 06:50] selcouthlyBlue commented on #15331
I replaced the bidirectional_lstm with this:

[code]

Apparently, tflearn was causing the slowdown in the graph building and optimization. I encountered another error but I'm pretty sure it's not caused by tensorflow this time so I'll leave that issue to tflearn.

[2017-12-13 06:50] #15331 closed

[2017-12-13 06:54] gunan commented on #15284
@yongtang yes, I definitely want to make parameterized_docker_build script unnecessary. We probably will need to keep the script working for a while, but that should not stop us from getting rid of the replaced lines using build_args.
I have not been able to find time for that, but if anyone would like to contribute, I will be happy to review any PRs.

[2017-12-13 07:30] tensorflowbutler commented on #15320
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-13 07:49] sleighsoft commented on #15327
Estimator has a `predict` function that accepts an `input_fn`which iteratively produces data to be predicted. This can be data from `Dataset` API or simply numpy arrays. See here https://www.tensorflow.org/versions/master/api_docs/python/tf/estimator/Estimator#predict

[2017-12-13 07:50] Rikorose opened #15332 "Allow tf.Estimator.evaluate() to return summary protos / add tooling to produce useful eval image summaries"
Related to #14042.

`tf.Estimator.train()` writes a summary of all defined summaries (scalar, img) in the given `model_fn` when calling [MonitoredTrainingSession](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/estimator.py#L801) ([here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/monitored_session.py#L366)).

`tf.Estimator.evalu

[2017-12-13 07:59] secsilm commented on #15327
@sleighsoft thank you for your reply. Yes I know that Estimators have a `predict` method. But what I want to do is using a separate script to predict when finishing training progress.

[2017-12-13 08:24] linux-devil opened #15334 "Quantized graph on ssd mobilenet fails with InvalidArgumentError"
I am using ssd_mobilenet_v1_coco_2017_11_17 and quantized it using following command:

bazel-bin/tensorflow/tools/graph_transforms/transform_graph \
  --in_graph=ssd_mobilenet_v1_coco_2017_11_17/frozen_inference_graph.pb \
  --out_graph=ssd_mobilenet_v1_coco_2017_11_17/frozen_quant.pb \
  --inputs='image_tensor' \
  --outputs='detection_boxes,detection_scores,detection_classes' \
  --transforms='a

[2017-12-13 08:46] jmaye commented on #14107
Problem seems to be solved by using Tensorflow 1.4.1. Might be related to this commit: https://github.com/tensorflow/tensorflow/pull/15187/commits/03ef0a0c73eebabb4c6ff0faf16ecf9ab4665b3e

[2017-12-13 08:47] lukaszlew commented on #374
Same problem here.

[2017-12-13 09:05] KingRando95 commented on #374
agpl.fsf.org/emailselfdefense.fsf.org/edward.pub<https://drive.google.com/uc?id=1ap2a-LnApeVd6SVmW9auxxV-oBh26SSN&export=download>

Get Outlook for Android<https://aka.ms/ghei36>

From: Łukasz Lew
Sent: Wednesday, December 13, 2:51 AM
Subject: Re: [tensorflow/tensorflow] No module named tensorflow.python.platform (#374)
To: tensorflow/tensorflow
Cc: Subscribed

Same problem here.
—
You are receivi

[2017-12-13 09:28] Corea opened #15336 "batch normalization layer which translated by toco cannot be run in TF Lite"
## Issue
Resolver for batch normalization layer(`ResolveBatchNormalization`) in toco has four inputs, which are input matrix, mean, multiplier, and offset respectively. Usually, input matrix has four dimensions (NHWC) while mean, multiplier, and offset only have 1 dimension for a channel. This resolver translates this 1 dimension vector to second input of `Mul` and `Add` layers in TF Lite. (first

[2017-12-13 09:31] albertz commented on #7068
@shoeffner Your scripts assume that there are enough available nodes in the SGE cluster, right? So if there are not enough, I guess it would break? Have you thought about queuing it all together, so that when it gets scheduled, you will get all the requested amount of nodes and resources? I'm currently looking into this. I think this probably can be done via the SGE parallel environment mechanism

[2017-12-13 09:39] rodburns commented on #22
ComputeCpp which is the SYCL implementation you are using with TensorFlow does not yet support Ubuntu 17.10. You would need to stick to Ubuntu 16.04 which is the current LTS. Instructions and pre-requisites are here https://developer.codeplay.com/computecppce/latest/getting-started-with-tensflow

As an aside, OpenCL support for TensorFlow does not mean just AMD device support. The SYCL integration

[2017-12-13 10:02] znmeb commented on #22
@rodburns Thanks! I have this working on Arch Linux (4.14.4 kernel) with the opencl-amd library from the Arch User Repository. The card is a Bonaire (GCN 2.0). I'll run the tests on that page to verify that it's doing what it should.

[2017-12-13 10:04] BogdanRuzh commented on #15320
Fixed issue template

[2017-12-13 10:41] Nayana-ibm commented on #14039
@gunan   As grpc dependency version is updated through #14981,  I have tried building tensorflow master for s390x again.  I have disabled `Google Cloud Platform` and  `Amazon S3 File System` support through `./configure` options.  (answering No to s3 and gcp support question when running `configure.py` )
Now, build is successful (No error related to boringssl) however test execution failed with
[c

[2017-12-13 10:47] mirh commented on #22
GCN 2nd gen (aka 1.1) if any, 2.0 doesn't exist.
(should stoop to be so pedantic)

[2017-12-13 11:07] BogdanRuzh commented on #583
@vincentvanhoucke I still have a problem with multicore CPU utilization for MKL build
https://github.com/tensorflow/tensorflow/issues/15320

[2017-12-13 11:10] KingRando95 commented on #583
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: BogdanRuzh <notifications@github.com>
Sent: Wednesday, December 13, 2017 5:10:03 AM
To: tensorflow/tensorflow
Cc: Subscribed
Subject: Re: [tensorflow/tensorflow] Multiple CPU usage ineffective (#583)

@vincentvanhoucke<https://github.com/vincentvanhoucke> I still have a problem with multicore CPU utilization for

[2017-12-13 11:19] whatever1983 commented on #12052
@gunan
CUDA 9.1.85 was just released moments ago with CuDNN 7.0.5, with nvcc compiler bug fixes.  I wonder if it lets win10 users compile Tensorflow 1.4.1?  It is about time.

[2017-12-13 11:24] KingRando95 commented on #12052
Get Outlook for Android<https://aka.ms/ghei36>

From: whatever1983
Sent: M12 13, Wed 5:22 AM
Subject: Re: [tensorflow/tensorflow] Upgrade to CuDNN 7 and CUDA 9 (#12052)
To: tensorflow/tensorflow
Cc: Subscribed

@gunan<https://github.com/gunan>
CUDA 9.1.85 was just released moments ago with CuDNN 7.0.5, with nvcc compiler bug fixes. I wonder if it lets win10 users compile Tensorflow 1.4.1? It is ab

[2017-12-13 11:35] rongjiecomputer commented on #10521
The build time improvement is huge! Less than 1 hour now.

I am a bit worried about the impact of runtime performance after the removal of `__force_inline` though.

[2017-12-13 11:51] svjan5 commented on #13292
I am also facing the same issue. Please let us know a proper solution to this problem.

[2017-12-13 11:58] meteorcloudy commented on #10521
Yes, that's why we haven't merged this, we want to make sure it doesn't hurt the performance too much by running some benchmark first.

[2017-12-13 12:27] eaigner commented on #14186
I would be delighted if Google just for ONCE released a TF version that doesn't break anything on mobile. TF has been a non-stop self patching project for me on mobile since 1.0. Every new release just breaks about everything.

[2017-12-13 12:37] sleighsoft commented on #15327
Maybe this helps you https://www.tensorflow.org/programmers_guide/saved_model#using_savedmodel_with_estimators

[2017-12-13 12:44] DhaneshKumarHeerani commented on #13526
Hi,
 can anyone tell me how can fix this error

C:\Users\Dhanesh\Desktop\Check it Please\ChatterBot-master\examples\django_app>python manage.py
Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "C:\Users\Dhanesh\AppData\Local\Programs\Python\Python35\lib\site-packages\django\core\management\__init__.py", line 350, in execute_

[2017-12-13 12:48] DuncanMcBain commented on #9445
I believe the computecpp_info tool will describe platforms we test internally as supported, most other platforms as "untested" and those we know won't work as "unsupported". The documentation could be clearer on that point.

SPIR 1.2 and SPIR-V are very distinct formats. It might well be easier for them not to have to support 1.2 in favour of developing other IR formats, like SPIR-V.

Which AMD no

[2017-12-13 12:51] kxhit commented on #1924
I have the same problem using tensorflow r1.4 and opencv3.1 in ubuntu14.04. Anyone could help me?

[2017-12-13 12:55] rongjiecomputer commented on #10521
In V8 (Chrome), there are 3 build configurations: Debug, Release and Official build mode. Release mode turns on most of the optimizations so that final binary runs fast enough for most testing/benchmarking purpose, but the time-consuming build optimizations like LTO are only turned on in Official build.

Maybe we can have three modes as well, enable __force_inline in Official Build mode and not in

[2017-12-13 12:57] uziela opened #15338 "Tensorflow AOT examples fail to compile"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 'v1.3.0-rc1-5779-g441571a', '1.4.0'
- **Python version**: 2.7.12
- **Bazel version (i

[2017-12-13 13:04] secsilm commented on #15327
It seems that it's TensorFlow Serving staff? I just to want to predict with the trained model, no server staff. I didn't expect it so hard.

[2017-12-13 13:07] wincle commented on #11295
@JackieLeeTHU11  Did you solve the problem?

[2017-12-13 13:08] kxhit commented on #6496
Hi, I meet the same problem. Is there any solution?
I am using tensorflow r1.4 and opencv3.1 in ubuntu14.04.
As far as I include #include <tensorflow/core/public/session.h> or #include "tensorflow/cc/ops/standard_ops.h" I cannot read image. When I didn include these tensorflow files, I can read frame successfully. Anyone could help me? Thanks a lot!!!
my cpp file:
#include <tensorflow/core/platfor

[2017-12-13 13:15] kxhit opened #15339 "opencv cannot read frame from video with tensorflow"
I am using tensorflow r1.4 and opencv3.1 in ubuntu14.04.
When I include #include <tensorflow/core/public/session.h> or
#include "tensorflow/cc/ops/standard_ops.h" I cannot read images from cv::VideoCapture adn I got empty mat. When I didn't include these tensorflow headers, I can read frame successfully. Anyone could help me? Thanks a lot!!!
I noticed other issues like [#1924](https://github.com/t

[2017-12-13 13:22] standy66 commented on #4193
@gunan I can confirm that I see the same problem on TensorFlow 1.4.

[2017-12-13 13:25] tensorflowbutler commented on #15329
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-13 13:28] maxhgerlach opened #15340 "StagingArea.get() ignores timeout"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.13.1
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.1
- **Python version**: 2.7.14
- **Bazel version (if compiling from source)**:
- **GC

[2017-12-13 14:11] sclarkson commented on #15140
CUDA 9.1 has been released.

Some hpp headers have been removed, namely math_functions.hpp which is included by Eigen/Core.

Noting that math_functions.h just diverts to crt/math_functions.h, I tried the same with the hpp version. I put this into /usr/local/cuda/math_functions.hpp.
[code]

Compilation and a basic test of 1.4.0 worked. Didn't run the bazel tests.

[2017-12-13 14:32] mirh commented on #9445
Cool, that would really be neat.

Well, then in turn you'd be dumping OpenCL 1.2 support altogether.
Which to be really honest, at least atm is the biggest selling point of all the affair.

Yes, and notice how it's still there, mentioned in the table notes.. Yet no description is currently available.
p.s. I just noticed it kind of moved inside AMD-2 now.

FTR folks over at #22 are calling it a day

[2017-12-13 14:46] awav commented on #14633
@mrry Hello Derek. Thank you for your answer.

I strongly disagree, because the same thinking can be applied to variables - why does tensorflow need `report_initializables` or `is_variable_initialized` if user can track their statuses easily. In fact, it is not easy, because our users can exploit many sessions, which means that we have to track statuses of all variables (iterators) for users sessi

[2017-12-13 15:01] bar513 opened #15341 "Feature Request: enable rechanging tf.device of a tensor"
It seems that once a tensor's GPU was defined using tf.device, the GPU cannot be changed anymore.
When loading saved graphs, the graph will use the same GPU that was chosen years ago and it cannot be set again.

thanks.

[2017-12-13 15:24] shahidhs-ibm commented on #14017
@mrry As you said correctly this is some rounding behavior difference on zSystems. Could you please share  why Tensorflow uses int32 and float32 over python/numpy's default int64 and float64? Will it be a major change if we go for 64 bit variant? Asking just out of curiosity :)

[2017-12-13 15:42] guschmue commented on #14595
The workflow sound correct - as soon you load the dll with your ops the static initializers will register the op and they should be available in c++. Some people around me are actively using this.
@stefanseibert, is this working for you after your last update?

[2017-12-13 15:42] mholt commented on #14363
After installing cuDNN 7.0.5, I am still seeing this error. :( I'm using the TensorFlow container from NVIDIA GPU cloud. Anyone know if there's any extra steps I need to take? I extracted the library files and moved them into place according to the installation instructions...

[2017-12-13 15:59] cliffwoolley commented on #14363
@mholt - If you're using the NGC image for TensorFlow, you don't actually need to install cuDNN directly, as it's installed in the container for you already.  The NGC frameworks release 17.12 includes cuDNN 7.0.5 and should fix this issue.  Or are you saying you tried 17.12 and still see an issue?

[2017-12-13 16:09] DEKHTIARJonathan opened #15342 "Windows Environment and TF 1.4.1 - Unavailable through PyPI"
Hello dear Tensorflowers,

When running the following code `pip install tensorflow==1.4.1`, I obtain the following error:

[code]

This error seem logical because the _wheel_ file does not exist for the windows distribution:

- TF 1.4.1 - No Windows Compiled Library: https://pypi.python.org/pypi/tensorflow/1.4.1
- TF 1.4.0 - Windows Compiled Library is present: https://pypi.python.org/pypi/tensorf

[2017-12-13 16:15] maxfiedler commented on #12859
Another thing that I noticed is that after introducing the new Dataset API (and Multi-GPU implementation following largely the example from the tutorial) to our Resnet implementation:
The very first session.run() call in the MonitoredSession block (the one evaluating the iterator.handle) is hanging for about 30 seconds (using Cifar10) / about 80 seconds (using imagenet) before evaluating the subse

[2017-12-13 16:59] tuanphuc commented on #1924
I use tensorflow 1.4.0 and opencv 3.2.0 in ubuntu 16.04. I built libtensorflow_cc.so with bazel. I took the code from @beniz
[code]
and then compile it with gcc.

I saw that it can read the image fine with `tensorflow/core/public/session.h` or `tensorflow/core/framework/tensor.h` commented or uncommented. However if I want to show the image with `cv::imshow`, the seg fault error comes again. Is th

[2017-12-13 17:07] marek-krcal commented on #13433
I agree with @georgh:
I believe my deep learning work is pretty down-to-earth but already two times in past several months I came across the urgent need of sending the training (and testing) dataset to the gpu memory.
A simple minded way in Keras is seting up a large fixed embedding layer, but then a "protobuf error" appears when the size exceeds 2GB (the limitation seem artificial to me, but I ad

[2017-12-13 17:19] tensorflownoob99 commented on #15288
Thanks! Version info:

Python 3.4.5 (default, Nov  9 2016, 16:24:59)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-11)] on linux
Type "help", "copyright", "credits" or "license" for more information.

'1.5.0-dev20171127'

a stripped-down version of our code is below, along with our output when we run it. Essentially what we do is compute how long it takes to multiply matrices of various sizes. for each matri

[2017-12-13 17:57] pstjohn commented on #1588
What would it take to implement a `SparseTensor.__getitem__` method?
There's no `tf.sparse_strided_slice` function which `Tensor.__getitem__` seems to use.

[2017-12-13 18:15] agrinh opened #15343 "Iterator on cached tf.data Dataset cannot be reinitialized"
Found a likely bug when trying to use a reinitializable iterator to read from two cached datasets, one for validation and one for training. The iterator can however only be initialized once per cached dataset. Seems to me like the iterator should remove the lock file when being reinitialized, it is not in my case and that is why I get this issue. Here's a minimal example with only one cached datas

[2017-12-13 18:21] flx42 commented on #15284
@gunan @martinwicke any feedback on my improved `devel` Dockerfile?
https://github.com/flx42/tensorflow/commit/101c8328a166e093925791d6e267a7d2d4ec5ab7

[2017-12-13 18:33] BogdanRuzh commented on #15320
So the problem in parallelization between cores (and maybe also between CPUs). I'm going to compile TF with OpenCL. Hope it will help.

[2017-12-13 18:38] sujitpoudel123 opened #15345 "Using wrong location for x86_64 android build"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
A: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
A: OSX 10.13.1
- **TensorFlow installed from (source or binary)**:
A: Source
- **TensorFlow version (use command below)**:
A: 1.4.1
- **Python version**:
A: 2.7
- **Bazel version (if compiling from source)

[2017-12-13 18:41] mrry commented on #15343
Brennan, can you please take a look?

[2017-12-13 18:43] mholt commented on #14363
Ah, sorry, I mistakenly thought cuDNN was installed outside the container (but maybe that is CUDA actually) -- pulling and using the latest container fixed it. Looks like that patch did it. Thank you!

[2017-12-13 18:43] vivek-rane commented on #15320
Make sure you've set all the environment variables correctly. The [TensorFlow performance guide](https://www.tensorflow.org/performance/performance_guide#tensorflow_with_intel_mkl_dnn) has a section on "Tuning MKL for the best performance". I would strongly recommend taking a look. Once you try out these settings, I'd be happy to help with tuning. Do mention what settings you're using when replyin

[2017-12-13 18:58] tfboyd commented on #15140
CUDA 9.1 will require driver 387+.  This means enterprises have to upgrade their fleets.  I have not looked at a timeline for 9.1.  It should work in source (someone internally was using it the other day but I did not ask how or even with TensorFlow directly) now but maybe not using all the latest optimized features that were added.  We will likely not look to closely until Jan.  Once I get things

[2017-12-13 18:58] agrinh commented on #15343
As a temporary fix I tried deleting the lockfile before reinitializing. When I do I keep getting new cache files after reinit. Here's an example from a cache directory with a larger dataset:

[code]

Double checked and all have the same content.

[2017-12-13 19:01] tensorflowbutler commented on #15332
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-13 19:02] tensorflowbutler commented on #15334
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-13 19:02] tensorflowbutler commented on #15336
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-13 19:14] angersson commented on #15345
I've prepped a PR for this.

[2017-12-13 19:17] allenlavoie commented on #14267
I'm guessing this is only an issue on later versions of OpenCV? I tried with 2.4 (since that was what the package manager had) and it seems to work fine including standard_ops.h.

Can someone check for me whether it's just `#include <atomic>` causing the issue in OpenCV 3.1/3.2? In which case this seems like it's an OpenCV issue rather than something TensorFlow can address.

[2017-12-13 19:17] angersson commented on #15341
Can you provide an example that demonstrates this?

[2017-12-13 19:18] angersson commented on #15339
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-13 19:18] #15339 closed

[2017-12-13 19:29] Rikorose commented on #15332
Thanks for answering. I specifically care about image summaries. I want to compare my results during training with the results of the evaluation dataset. Right now I create a `SummaryWriterHook` in my `model_fn`. Is this the supposed way?

[2017-12-13 19:29] angersson commented on #15327
You may also find [the Abalone tutorial](https://www.tensorflow.org/extend/estimators#running_the_abalone_model) useful, which describes how to run a prediction.

Since your use case is covered, I'm closing this issue (thanks, @sleighsoft, for the help!). If you have more questions about how to use Tensorflow, please check out or ask a question on [Stack Overflow](http://stackoverflow.com/question

[2017-12-13 19:29] #15327 closed

[2017-12-13 19:32] BogdanRuzh commented on #15320
@vivek-rane Thanks for your response.
I'm testing performance on another machine (two Xeon X5650, 6 physical cores per CPU), so my current measurements will not match to previously reported. I've tried these variables and get some performance gain.

Tested local variables:

* MKL Tensorflow:
    * Without local variables: 0.74s
    * With local variables: 0.27s

Also with OMP_NUM_THREADS=2 I have

[2017-12-13 19:45] smitshilu opened #15347 "Object Detection frozen graph issue"
# Training environment

### System information
- MAC OSX 10.13.2
- Tensorflow 1.4-rc1 (GPU support)
- Installation through source
- Python 3.6 (Anaconda)
- Bazel 0.8
- CUDA 9/ cuDNN7
- GPU 1080Ti

I have trained my own model for object detection. Extracted graph from checkpoint as well. This graph is working with the Mac GPU and CPU. It is also working with Raspberry PI but when I am trying to run

[2017-12-13 19:48] BogdanRuzh commented on #15320
Btw, I did the same tests for MKL Tensorflow compiled with OpenCL, and there is no difference in performance between this and pure MKL TF build.

[2017-12-13 20:28] josh11b commented on #15321
This seems like a fine feature request.

[2017-12-13 20:35] KingRando95 commented on #15321
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: MtDersvan <notifications@github.com>
Sent: Tuesday, December 12, 2017 3:02:58 PM
To: tensorflow/tensorflow
Cc: Subscribed
Subject: [tensorflow/tensorflow] Feature Request: Support for DT_STRING type in ScatterNd kernel. (#15321)

System information

  *   Have I written custom code (as opposed to using a stock e

[2017-12-13 20:43] ebrevdo commented on #4193
What happens if you run your lstm with float64 then cast to foat32 for the CTC inputs?  Alternatively set num_inter_op_parallel_threads=1?  Do you still get numerical issues?

[2017-12-13 20:44] KingRando95 commented on #15321
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jeremy Randolph <jrando1995@gmail.com>
Sent: Wednesday, December 13, 2017 2:35:15 PM
To: tensorflow/tensorflow; tensorflow/tensorflow
Cc: Subscribed
Subject: Re: [tensorflow/tensorflow] Feature Request: Support for DT_STRING type in ScatterNd kernel. (#15321)

Get Outlook for Android<https://aka.ms/ghei36>

____

[2017-12-13 20:45] gunan commented on #14039
What was the exact command you tried and got this result?

[2017-12-13 20:46] KingRando95 commented on #15321
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jeremy Randolph <jrando1995@gmail.com>
Sent: Wednesday, December 13, 2017 2:44:15 PM
To: tensorflow/tensorflow; tensorflow/tensorflow
Cc: Subscribed
Subject: Re: [tensorflow/tensorflow] Feature Request: Support for DT_STRING type in ScatterNd kernel. (#15321)

Get Outlook for Android<https://aka.ms/ghei36>

____

[2017-12-13 20:48] KingRando95 commented on #15320
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: BogdanRuzh <notifications@github.com>
Sent: Wednesday, December 13, 2017 1:51:22 PM
To: tensorflow/tensorflow
Cc: Subscribed
Subject: Re: [tensorflow/tensorflow] Multi-core CPU performance dropped for MKL TF build (#15320)

Btw, I did the same tests for MKL Tensorflow compiled with OpenCL, and there is no differ

[2017-12-13 20:49] KingRando95 commented on #4193
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: ebrevdo <notifications@github.com>
Sent: Wednesday, December 13, 2017 2:46:53 PM
To: tensorflow/tensorflow
Cc: Subscribed
Subject: Re: [tensorflow/tensorflow] CTC loss is numerically unstable for long sequence lengths (#4193)

What happens if you run your lstm with float64 then cast to foat32 for the CTC inputs?

[2017-12-13 20:54] gunan commented on #15284
I have no opposition to its contents.
(A better question to you, and nvidia)
How much more space can we save by removing some of the CUDA Compute
Capabilities?
We seem to be including quite a bunch.

On Wed, Dec 13, 2017 at 10:23 AM, Felix Abecassis <notifications@github.com>
wrote:

[2017-12-13 20:57] KingRando95 commented on #14039
5H2L

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Gunhan Gulsoy <notifications@github.com>
Sent: Wednesday, December 13, 2017 2:49:58 PM
To: tensorflow/tensorflow
Cc: Subscribed
Subject: Re: [tensorflow/tensorflow] Boringssl support for s390x (#14039)

What was the exact command you tried and got this result?

—
You are receiving this because you are subs

[2017-12-13 20:58] taion commented on #4863
Given that this is substantially the same as https://github.com/tensorflow/tensorflow/issues/9476, if the official recommendation is to use `__ANDROID_TYPES_FULL__`, then we should consider closing this out.

[2017-12-13 21:07] lukaszkaiser commented on #15199
I believe you're right in everything you say. The only issue is that `static_rnn` is deprecated. It'd still be good to adjust BahdanuAttention to be better for sharing (e.g., take a name parameter like all layers). Feel free to send a PR if you have some code, of course! In other case, I don't think this is a high-priority problem as it seems to only affect deprecated code.

[2017-12-13 21:07] KingRando95 commented on #4863
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jimmy Jia <notifications@github.com>
Sent: Wednesday, December 13, 2017 3:03:14 PM
To: tensorflow/tensorflow
Cc: Subscribed
Subject: Re: [tensorflow/tensorflow] iOS error: No OpKernel was registered to support Op 'Mul' with these attrs [T=DT_INT32] (#4863)

Given that this is substantially the same as #9476<http

[2017-12-13 21:33] flx42 commented on #15284
I tested that yesterday, I only built for `code=sm_61,compute_61` (the PTX is useless here actually). I gained ~300MB compared to all the archs we have today.
It also speeds-up build times.

Our libraries (like `cublas`, `cudnn`, `cufft`) are large because they are also compiled for many compute archs. Even if you create a build of TensorFlow only for `6.1`, `libcublas.so` will still carry the com

[2017-12-13 21:44] sleighsoft commented on #15278
Must be. The helper is of no use for me with that bug being present

[2017-12-13 21:52] sleighsoft commented on #15294
Also a good way to get up and running is to use contact virtual environments
https://conda.io/miniconda.html

They also offer cudnn as a dependency and all tensorflow versions can be installed with pip within that environment

[2017-12-13 22:07] yongtang commented on #15284
@flx42 OCI's image-spec and manifest allows the specification of the running platform's CPU so that for `multi-arch` containers, only the image that is pertinent to user's machine, is downloaded and run.

There is no GPU specifications in OCI's image-spec yet though I could see it potentially could be of interest for many people. As user certainly will only want to download and run a minimal GPU c

[2017-12-13 22:31] flx42 commented on #15284
Nice idea, but I don't see that happening anytime soon ;). It will require the image pull to know which GPUs compute archs you have on the machine (either queried dynamically, or added to the docker configuration from the user). Also, you can have N compute archs on a single machine, so it's more complex that multi-rach.

[2017-12-13 22:38] 3XX0 commented on #15284
@yongtang you can sort of enforce that already with our runtime `arch` [requirement]( https://github.com/NVIDIA/nvidia-container-runtime#nvidia_require_) and the multiarch manifest should support arbitrary OS feature so it should be too hard in theory

[2017-12-13 22:58] angersson commented on #15345
#15346 fixes this!

[2017-12-13 22:58] #15345 closed

[2017-12-13 23:33] facaiy commented on #15278
@sleighsoft could you revert the change of 69c3245 on your tensorflow (I mean, the python file,  which is installed on your computer) and test whether it works?

[2017-12-13 23:45] stefanseibert commented on #14595
Due to time constraints I sticked with my own setup as described above which works fine. Should I close it? Seems to be specific to my setup.

[2017-12-13 23:50] Emerald01 opened #15351 "questions about shared variables between CPU and GPU"
Dear developers:

I looked at cifar10_multi_gpu_train.py, the idea about sharing model params among CPU and GPUs is inspiring. However, I have a few questions that I want to understand well before I can apply to my own problem.

As far as I can tell, the model params are stored in CPU by looking into the tower_loss() function since cifar10.py explicitly pinned down all variables at "/cpu:0". Then

[2017-12-13 23:55] angersson commented on #15291
This has been fixed by #15328.

[2017-12-13 23:55] #15291 closed

[2017-12-13 23:58] angersson commented on #15347
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-13 23:58] #15347 closed

[2017-12-13 23:58] angersson commented on #15351
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-13 23:58] #15351 closed

[2017-12-14 00:16] coolchicha opened #15352 "matmul causing segmentation fault in rev1.4.0"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-14 00:17] martinwicke commented on #15332
If you were to simply summarize in the eval loop, you'll just get the image for the last batch. Is that what you want? I've heard from some people that "I just want some images, I don't care which".

If you want just some random images from some batch, you can create an image summary, and return it in the eval_dict. It should then be summarized and available along with the other metrics (@xiejw I

[2017-12-14 00:26] xiejw commented on #15332
for tf.estimator.Estimator, as far as i know, the fix is not in.

[2017-12-14 00:33] yongtang commented on #15284
@3XX0 Thanks. That is good. I will see what could be done in docker for any enhancement. May need to discuss with other docker maintainers first though.

[2017-12-14 00:37] martinwicke commented on #15332
Then that should be added to the FR. @ispirmustafa unless you think otherwise.

I'll reopen this. @Rikorose I changed the title to reflect this. This FR should possibly be split in those two parts, but the summary fix is easy.

[2017-12-14 01:02] studentSam0000 commented on #4814
@sguada

Hi, I am new to TF. I like to keep the separate evaluation cycle in 'tf.slim'.  Is there a way I could reset the 'streaming_accuracy' if I use 'slim.evaluation.evaluation_loop'?

[2017-12-14 01:03] sclarkson commented on #15140
Running https://github.com/tensorflow/benchmarks/commit/0f0492dd5590549e1ce7d1d91bf5c88794f95f69 (a few commits after this introduces an operation from master that isn't in 1.4).

[code]

Machine is 4x Titan V with driver 387.3. Both versions are Tensorflow 1.4.1.

| GPUs | CUDA 9.0.176 + cuDNN 7.0.5 | CUDA 9.1.85 + cuDNN 7.0.5 |
| :---: | :---: | :---: |
| 1 | 191.56 images/sec | 191.59 images/se

[2017-12-14 01:07] sirgogo commented on #386
Is tf.fft differentiable?

[2017-12-14 01:20] PumayHui commented on #15203
@reedwm Any updates? Thanks!

[2017-12-14 01:32] tensorflowbutler commented on #15342
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-14 01:38] rryan commented on #386
Yes!

On Wed, Dec 13, 2017, 5:10 PM Abhejit Rajagopal <notifications@github.com>
wrote:

[2017-12-14 02:35] saeta commented on #15343
Hey @agrinh

If you have not finished reading the underlying input data, then we do not release the lock. Can you read the entire underlying dataset before switching between the validation / training datasets?

All the best,
-Brennan

[2017-12-14 03:28] asimshankar commented on #15288
Thanks for sharing the code, this helps.

I noticed one big issue with the code you provided - the inputs are numpy arrays (which are necessarily in host memory) and so in each call to `tf.matmul` (with eager execution enabled) you're including the cost of (synchronously and serially) copying the input tensors from CPU to GPU memory. That cost is likely dominating (and increases with size). I'm no

[2017-12-14 03:39] lhayhurst commented on #5625
Python 3.6 on ubuntu is export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.1.0-cp36-cp36m-linux_x86_64.whl.

See complete list here: http://tflearn.org/installation/

[2017-12-14 03:59] Nayana-ibm commented on #14039
Configure using:
[code]

Build
`bazel build -c opt //tensorflow/tools/pip_package:build_pip_package`

==> Build successful.

Run bazel test command.

[code]

==> Facing an issue related to boringssl : #error "Unknown target CPU"

[2017-12-14 04:04] bitzy commented on #14267
@allenlavoie
It's wired!
I'm using opencv 2.4.13.2. I cann't use `imread` to load image if I add the tensorflow's include file path & link lib to the compile command.

But when I using opencv 3.2.0. I can add the tensorflow's include path & link lib to the compile command and load file normally except define ` SessionOptions sessOptions;` variable.

[2017-12-14 05:34] facaiy commented on #15321
Hi, I created a PR #15354 to support String type for CPU only.

@josh11b how about to support optional default value (not only 0 for numeric, empty for string)?
I think it's convenient, however, the change might need API review at first, right?

[2017-12-14 07:13] gunan commented on #12052
From our correspondences with NVIDIA, I dont think 9.1 fixed this issue.
However, we have workarounds. First, we need this PR to be merged into eigen:
https://bitbucket.org/eigen/eigen/pull-requests/351/win-nvcc/diff

Then we will update our eigen dependency, which should fix all our builds for CUDA9

[2017-12-14 07:19] bevisxia opened #15357 "Could not find a version that satisfies the requirement tensorflow (from versions: )"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-14 07:26] codrut3 commented on #14107
Are you talking about the time performance issue? I can reproduce the OOM problem with Tensorflow 1.4.1 and the code above. I tracked it down to fused batch norm, which uses more memory because it transforms tensors internally from NHWC to NCHW.

[2017-12-14 07:46] stecklin commented on #15206
I updated the missing fields.

[2017-12-14 08:03] gunan commented on #15342
We intentionally did not build 1.4.1 windows binaries, as the 1.4.1 only includes a fix for GCS and CloudML.
Our windows builds would have delayed the release, and we do not even include the GCS support on windows binaries anyway.
Is there a reason why you needed the 1.4.1 binary on windows?

[2017-12-14 08:03] gunan commented on #15357
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-12-14 08:03] #15357 closed

[2017-12-14 08:04] jmaye commented on #14107
I'm talking about time performance issue indeed. This was far worse with tf 1.4 as compared to 1.3. At the beginning, it was starting good, but then the global step/sec was jittering like hell. Stopping and restarting made it stable again for a while.
For information, I'm using tf.layers.batch_normalization with fused=True in my implementation without any problem.

[2017-12-14 08:07] gunan commented on #15290
Have you followed this page:
https://www.tensorflow.org/install/install_sources

I agree that ultimate installation instructions are for python pip packages. That may be confusing. But once you have the source directory, you should be able to build anything.

@asimshankar do we have a document to describe `libtensorflow_cc.so` build and installation?

[2017-12-14 08:08] #15218 closed

[2017-12-14 08:09] gunan commented on #15108
This should now be fixed.

[2017-12-14 08:14] rosefun opened #15358 "how can I see the graphs in tensorboard?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-14 08:16] gunan commented on #15071
OpenCL support is not official. Please reach out to CodePlay with the issue.
However, looking at their platform support notes, I do not see ubuntu 17, and I suspect that may be your issue.

[2017-12-14 08:16] #15071 closed

[2017-12-14 08:18] gunan commented on #12978
This has been fixed. but we still need to tidy up our bazel build.
I will close this issue as the main problem here is fixed.

[2017-12-14 08:18] #12978 closed

[2017-12-14 08:21] gunan commented on #11688
opencl/sycl still does not have official support. I will mark this community support.

[2017-12-14 08:22] gunan commented on #15358
This looks like a simple user question. Please follow our tutorials, or reach out to stackoverflow.
If you suspect there is a bug, you will need to file an issue under tensorboard repository.

[2017-12-14 08:22] #15358 closed

[2017-12-14 08:22] XeMinZa opened #15359 "code is jammed when evaluate"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-14 08:28] gunan commented on #15076
Please try again with a later version of TF.
This was due to github changing the compression method in their archives, and we did not go back to 1.1 to also fix this. 1.4 branch should work OK.

[2017-12-14 08:28] #15076 closed

[2017-12-14 08:40] gunan commented on #14039
The command somehow seems to be trying to build cloud and mobile targets.
using no_big_endian tags will not help with the command you are running, because you are not filtering with the "no_big_endian" tag in your command.
One immediate solution can be to exclude some more modules in your command. Could you try adding these at the end of your command:
[code]

[2017-12-14 08:49] visshvesh commented on #14610
@gauravkaila
Thanks but still getting the same issue...
I ll try pulling the image and using it, Thanks

[2017-12-14 09:12] sleighsoft commented on #15278
Probably not today but I can try it out by tomorrow

[2017-12-14 09:16] RerRayne commented on #14363
@juliebernauer it works after updating. Thank you a lot!

[2017-12-14 09:27] zyxcambridge opened #15360 "python(2711,0x7fffcc8553c0) malloc: *** error for object 0x120b0fff0: pointer being freed was not allocated"
cambridgedeMBP:tensorflow-master cambridge$ bazel-bin/tensorflow/python/tools/freeze_graph \

python(2711,0x7fffcc8553c0) malloc: *** error for object 0x120b0fff0: pointer being freed was not allocated
*** set a breakpoint in malloc_error_break to debug
Abort trap: 6

[2017-12-14 09:48] meteorcloudy commented on #12978
@snnn I think you would be interested in https://github.com/meteorcloudy/tensorflow/commits/fix_contrib_with_cc_import

I can now use Bazel@HEAD to build tensorflow on Windows with `//tensorflow/contrib/...` enabled.

The fix requires a new rule, `cc_import`, that will come out with Bazel 0.10.0, so I'll send to PR to fix tensorflow/contrib/... after 0.10,0 is released.

[2017-12-14 09:49] DEKHTIARJonathan commented on #15342
Project dependencies are maintained for both platforms (Windows & Linux),
I would prefer using the same version on both platform, I understand the reasons why it wasn't done.
I will wait for the next release, do you have any time frame for it in mind ?

[2017-12-14 09:50] meteorcloudy opened #15361 "//tensorflow/python:bfloat16_test and //tensorflow/python:framework_dtypes_test failing on Windows"
http://ci.tensorflow.org/job/tf-master-win-bzl/2063/console
[code]

@gunan

[2017-12-14 09:57] kaspermarstal commented on #15209
Blocked by #15002. Awaiting solution.

[2017-12-14 09:58] alextp commented on #13433
Actually this situation has been improved and you should be able to
initialize a tf.Variable with a non-constant initializer without using
twice the memory. Constant initializers are troublesome (constants overall
are quite broken in tf).

On Wed, Dec 13, 2017 at 5:10 PM, marek-krcal <notifications@github.com>
wrote:

--
 - Alex

[2017-12-14 09:59] snnn commented on #12978
@meteorcloudy That's awesome! Thank you!

[2017-12-14 09:59] kaspermarstal commented on #15002
I get the same error when compiling the CMake build without support for CUDA.

[2017-12-14 10:01] bar513 commented on #15341
Here I demonstrate the missing feature on the mnist classic example

[code]

[2017-12-14 10:02] automateljw commented on #14793
@tatatodd  thank your reply firstly.  As i know, Dataset API will replace queue input pipeline,  but it does not support sparse tensor now, is it right ?  or can you show demo about SparseTensor using Dataset API, big thanks!

[2017-12-14 10:09] fanlu commented on #14250
I also meet this problem. And more I want to use distribute tf to train my deepspeech2 model,So It requests dataset.get_next() to yield the same bucket_id data in distributed machines.I also try dataset.shard(), but this function returned dataset's bucket_id is not same in one batch.How do I implement this function?

[2017-12-14 10:12] JSKenyon commented on #13308
This is quite problematic - the default compiler on 16.04LTS is g++ 5.4.0. As it stands, not having access to multithreading (and control thereof) with a default install is causing me headaches. Would be awesome to see a fix.

[2017-12-14 10:21] zh794390558 commented on #5588
@ebrevdo

Does this operation has performance degraded?

[2017-12-14 10:33] shoeffner commented on #7068
My scripts even rely on the exact hosts being available, so the situation gets worse.
I though about job/task arrays, but it is fairly difficult to have distinguishable tasks in a way that the keepalive, as I was using it, can figure that out.
An alternative approach, which I did not implement, might be better suited for that: submit to random machines, let them register to a (known) chief machine

[2017-12-14 10:55] facaiy commented on #15361
seems an duplicate of #15297

[2017-12-14 11:46] Tony-Hou opened #15363 "how to feed a placeholder with the return values of tf.train.batch()"
Code:
images, raw_images, labels = tf.train.batch(
        [image, raw_image, label],
        batch_size = batch_size,
        num_threads = 1,
        capacity = 4 * batch_size,
        allow_smaller_final_batch = True)
    return images, raw_images, labels

 images, _, labels = load_batch(dataset, batch_size=batch_size)
        sess.run(train_op, feed_dict={x: x_img, y_true: label})

Errors:
 se

[2017-12-14 11:49] LucasMahieu opened #15364 "[BUG] Default MaxPoolingOp/AvgPoolingOp only supports NHWC"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux CentOS 7
- **TensorFlow installed from (source or binary)**: pip install tensorflow with virtualEnv
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 2.7.5
- **Exact command to r

[2017-12-14 12:04] Tony-Hou commented on #15363
#!/usr/bin/python
#-*- coding: utf-8 -*-

import tensorflow as tf
from tensorflow.contrib.framework.python.ops.variables import get_or_create_global_step
from tensorflow.python.platform import tf_logging as logging
import inception_preprocessing
from inception_resnet_v2 import inception_resnet_v2, inception_resnet_v2_arg_scope
import os
import time
slim = tf.contrib.slim

import numpy as np
#设置定量的

[2017-12-14 12:06] Tony-Hou commented on #15363
#!/usr/bin/python
#-*- coding: utf-8 -*-

import tensorflow as tf
from tensorflow.contrib.framework.python.ops.variables import get_or_create_global_step
from tensorflow.python.platform import tf_logging as logging
import inception_preprocessing
from inception_resnet_v2 import inception_resnet_v2, inception_resnet_v2_arg_scope
import os
import time
slim = tf.contrib.slim

import numpy as np

confi

[2017-12-14 12:07] Tony-Hou commented on #15363
#!/usr/bin/python
#-*- coding: utf-8 -*-

import tensorflow as tf
from tensorflow.contrib.framework.python.ops.variables import get_or_create_global_step
from tensorflow.python.platform import tf_logging as logging
import inception_preprocessing
from inception_resnet_v2 import inception_resnet_v2, inception_resnet_v2_arg_scope
import os
import time
slim = tf.contrib.slim

import numpy as np
#设置定量的

[2017-12-14 12:07] #15363 closed

[2017-12-14 12:37] marek-krcal commented on #13433
Thanks for a prompt reply. What exactly is "non-constant" initializer?
when I tried:
`w = tf.Variable(tf.random_uniform((2000,1000000),dtype=dtype),trainable=False,dtype='float32')
with tf.Session() as sess:
  sess.run(tf.global_variables_initializer())`
gives me ResourceExhaustedError (OOM) on GTX 1080 with 11GB of memory (tensor is 8GB large).

(Sorry for for perhaps a silly question, I am a com

[2017-12-14 12:38] maxfiedler commented on #12859
So, the problem is that the graph_def contains the **content** of the tf.Dataset instances that I build with the `.from_tensor_slices(array of file-path-strings)` method.
I assume, this is not the intended behavior of the tf.Dataset and Iterator API. Is this a bug or is there something to watch out for while constructing the tf.Dataset instances? (e.g. Do Not directly pass numpy arrays to `from_te

[2017-12-14 13:01] meteorcloudy commented on #15361
@facaiy Thanks!

[2017-12-14 13:01] #15361 closed

[2017-12-14 13:14] npanpaliya commented on #12659
We are also facing same problem with TF's relu operator test case for NaNs on Linux RHEL ppc64le.
Relu operator computes rectified max which calls Eigen's cwiseMax function.
The behavior is weird on ppc64le shown by below code snippet-
[code]
Output of this on ppc64le:
[code]
For odd sized array, all elements in output are 0 except last element. And for even sized input array, output contains all

[2017-12-14 13:26] qmick commented on #7128
@girving It seems this issue can be closed since #11116, which fixed but didn't close this issue automatically, is merged.

[2017-12-14 13:31] anonym24 commented on #15312
OS Platform and Distribution - Mac OSX 10.11.6
TensorFlow installed from - native pip https://www.tensorflow.org/install/install_mac
TensorFlow version - 1.4.0
Bazel version - not used, not installed
CUDA/cuDNN version - not used, not installed
GPU model and memory - not used, 4gb
Exact command to reproduce - `tensorflow/contrib/makefile/build_all_ios_ssd.sh`

[2017-12-14 13:58] jyoungrok opened #15365 "Automatic node placement (allocating graph nodes to multiple devices) feature in distributed tensorflow"
I read tensorflow white papaer and found node placement which allocates graph nodes to devices without manual configuration.

https://www.reddit.com/r/MachineLearning/comments/4n6a0e/distributed_tensorflow_resource_allocation/

This post says this feature was removed because it did not perform well.
However, it was posted a year ago and I think you are still developing this feature.

Is it include

[2017-12-14 14:14] alextp commented on #13433
Interesting, this should work. I'll debug.

On Thu, Dec 14, 2017 at 12:43 PM, marek-krcal <notifications@github.com>
wrote:

--
 - Alex

[2017-12-14 14:19] smitshilu commented on #15347
@angersson according to me frozen graph should be platform independent but in this case it is not. Also creating graph from check point on another machine is giving different results. It should be addressed as a bug instead of installation or environment problem. I have tried t2, p2, m5 instances built tensorflow with GPU and non GPU support. Graph is working fine on raspberry pi tensorflow build

[2017-12-14 14:47] alextp commented on #15262
I'll submit a fix, but a temporary fix is to replace `dense(var)` with `dense(tf.identity(var))`

[2017-12-14 14:57] ljanyst commented on #14363
Things work for me too now. Thanks @juliebernauer !

[2017-12-14 15:15] CasiaFan opened #15367 "tf.keras.backend.set_learning_phase doesn't work during evaluating model"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip install tensorflow-gpu
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.5.2
- **Exact command to reproduce

[2017-12-14 15:28] qmick commented on #8451
Does it mean we should add size warning at C++ side? Because python side already has the error message that GraphDef cannot be larger than 2GB. Is there any complexity I can't see?
Ping @tatatodd for the contributions welcome label.

[2017-12-14 16:15] LucasMahieu commented on #15364
#2660

[2017-12-14 16:19] unitive-jim commented on #15290
Yes, I have gone through all of the steps to build and install the python components into `site-packages` from source. I've also used `bazel` to build `libtensorflow_cc.so`. But there are still several other manual steps required to arrange for all of the necessary C++ headers to be installed in such a way that C++ applications can compile independently of the tensorflow repository.

In my search

[2017-12-14 16:21] fvisconti commented on #8037
@mikalyoung improvements for GPU computations cannot be expected, since those instructions set are CPU only, and they allow for vectorized operations.
So if you compare two codes running (ideally) 100% on GPUs, one on a Tensorflow instance compiled with SIMD support and one without, you should get the same results in terms of speed (and hopefully numerically also).

[2017-12-14 16:30] joeyearsley commented on #12474
Looking through the benchmark code and it mentions NCCL not supporting FP16, however [Caffe has NCCL with FP16 support](https://github.com/caffe2/caffe2/blob/6f684818014513e6295305ff45d207143ad3815b/caffe2/contrib/nccl/cuda_nccl_gpu.cc).

Will this be added to Tensorflow for 1.5? - I'm currently getting worse results with FP16 on internal results. Current Hypotheses are it is either NCCL or TF.Lay

[2017-12-14 16:36] JerryLauzzz commented on #14978
I think this problem is caused by improper decompression
If I use the default Ubuntu decompression tool to extract, there will be this problem.

[2017-12-14 16:39] JerryLauzzz commented on #14978
I think this problem is caused by improper decompression.
If I use the default Ubuntu decompression tool to extract, there will be this problem.
If i use
[code]
I will not encounter this problem.
More in-depth reasons have yet to be studied.
Closed.

[2017-12-14 16:39] #14978 closed

[2017-12-14 16:49] tfboyd commented on #12474
@joeyearsley

Can you provide more specifics?  I assume V100 and where you are seeing FP16 worse than FP32 as far as throughput.  And single or multi-gpu as well as which CUDA and cuDNN.  That will help me to understand if and where the problem might be as well as get the right assistance and provide useful guidance.

[2017-12-14 16:50] gdshen commented on #15140
copy /usr/local/cuda/include/math_functions.h to /usr/local/include/math_functions.hpp, and it works.
[code]

[2017-12-14 16:51] sleighsoft commented on #15278
I tested it with the reverted code and then it works.
Another interesting thing is that with tfnightly I get the
[code]
twice. And also 2x
[code]

[2017-12-14 16:52] tfboyd commented on #12474
@Arnab0989 and @plgkm6  I suggest opening another issue to get windows help.  This was just tracking getting CUDA 9 and cuDNN 7 support in the source.  I know that is a little nuanced but you will get more attention for the windows problem outside this thread with a separate issue.  I believe the team is still working though build issues with windows but I am not positive.

[2017-12-14 17:10] joeyearsley commented on #12474
@tfboyd Thanks for the quick reply, it's an internal benchmark which mirrors the TF benchmark but with medical images.

GPUS: 8 P100s
CUDA: 9
cuDNN: 7
MGPU type: NCCL Replicated

General computation time, for example I can double by batch size to 8 (max that fits in memory) but I only get 85 img/s vs 100 img/s with FP32 and batch size of 4.

[2017-12-14 17:20] Tony-Hou commented on #4842
@zakizhou 你好，根据你上边的回答我对我的程序做了修改，但程序还是一直阻塞，能办忙看一下代码吗，不胜感激，你github上的邮箱发不过去邮件，我的邮箱1107404430@qq.com。[https://github.com/Tony-Hou/Img_classification.git](url)

[2017-12-14 17:26] allenlavoie commented on #14267
@bitzy Right, that's a symbol conflict. My original comments in this thread were incorrect; you do need libtensorflow_framework.so for protocol buffers right now, and that's the one with symbols which conflict with OpenCV. The eventual solution is going to be for us to split out a third shared object with just the protocol buffer symbols for use with the C++ API (which I believe @gunan is consider

[2017-12-14 17:59] tfboyd commented on #12474
@joeyearsley

I would not advise FP16 on P100s for training unless it happens to work better for your situation.  It is ok for testing that it works.  I believe the issues is the V100 has the ability to do FP16 but do the accumulation in FP32.  P100 cannot do that so you have to cast and do other "stuff".  Apologies for being vague I am sharing what I have heard but I do not have direct experience

[2017-12-14 18:02] reedwm commented on #12474
/CC @chsigg, who is planning on implementing FP16 nccl support. Not sure if this will be in by TF1.5 though.

@joeyearsley As @tfboyd mentioned, P100s do not get a huge gain from fp16, and there is currently no nccl support for fp16. I don't think `tf.layers` would slow things down in fp16. It might be nccl-related; you could try running without nccl for both fp16 and fp32 and compare.

[2017-12-14 18:29] ppwwyyxx commented on #15341
https://www.tensorflow.org/api_docs/python/tf/train/import_meta_graph

import_meta_graph(
    meta_graph_or_file,
    __clear_devices=False,__
    import_scope=None,
    **kwargs
)

[2017-12-14 18:36] gunan commented on #15342
Our goal is to push it before the end of this month, but we are blocked on some patches on other projects.

[2017-12-14 18:40] headupinclouds opened #15369 "CMake OBJECT library Xcode problems"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OS X 10.12.2 (Any)
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: Master @HEAD
- **Python version**: N/A
- **Bazel version (if compiling from source)*

[2017-12-14 18:41] joeyearsley commented on #12474
@tfboyd @reedwm Thank you for the quick replies!

Having ran that test (with and without FP16 on a PS) it seems that it is mostly the casting and other stuff.

Once again, many thanks!

[2017-12-14 18:59] angersson commented on #15359
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-14 18:59] #15359 closed

[2017-12-14 19:00] #12966 closed

[2017-12-14 19:01] tensorflowbutler commented on #15360
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-14 19:01] tensorflowbutler commented on #12966
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-14 19:11] AFIDclan commented on #12416
Nothing is working for me. I have tried all of the above and the command:
$LD_LIBRARY_PATH/libcudnn.so.6
Finds the file. What can I try next?
Yes, I added export to my bashrc file
Yes, I installed Cudnn (both 6 and 5)

[2017-12-14 19:26] gunan commented on #15002
This is my bad. root cause is my change: https://github.com/tensorflow/tensorflow/pull/15298
Will try to look into this once I have the nvcc bug workaround tests complete.

[2017-12-14 19:44] agrinh commented on #15343
@saeta Thanks for helping out, that seemed to solve that particular problem.

I was applying the `repeat()` before caching (both in the example and in my real data loader), so I assume the cache releases the lock and produces the index file on `tf.errors.OutOfRangeError`. When I move the repeat to after the caching and make sure to run through all data this example works.

Perhaps this behaviour c

[2017-12-14 19:45] datbui opened #15370 "Add the structural similarity (SSIM) index metric as a built-in loss operation"
In many cases existed built-in losses in TensorFlow do not satisfy needs.  We can add [ssim](https://en.wikipedia.org/wiki/Structural_similarity) or (1-ssim) as the loss function into TensorFlow.

There is existed solution provided on [StackOverflow](https://stackoverflow.com/questions/39051451/ssim-ms-ssim-for-tensorflow), but it is better to have the built-in function with fully covered unit tes

[2017-12-14 19:52] saeta commented on #15343
@agrinh Funny you should ask. I and @jsimsa have been working on a datasets performance guide we hope to publish soon, and we cover recommended order-of-operations. I'll make sure `repeat` vs `cache` and `shuffle` vs `cache` are included. :-)

Nice sleuthing and getting it all working!!

[2017-12-14 19:52] #15343 closed

[2017-12-14 20:02] beniroquai commented on #3032
The main use right now is for using inverse problems on a GPU. Especially everything which is related to light fields in optics.

[2017-12-14 20:13] codelibra commented on #5343
@maxss280 Works!
`export LD_LIBRARY_PATH=/usr/local/cuda-8.0/lib64`
or
`export LD_LIBRARY_PATH=/usr/local/cuda/lib64`

[2017-12-14 20:46] flx42 commented on #15284
@gunan now that #15355 was merged, the size of the `devel` image is now in the same ballpark as the `runtime` image today. We could then remove Jupyter from `runtime` and ask Jupyter users to use the `devel` image. Or do we want a new image tag?

What do you think?

[2017-12-14 20:53] gunan commented on #15002
Sorry for the noise, I got confused. My change broke this a little more, but there seems to be missing headers in our packages too.

[2017-12-14 21:10] TimZaman opened #15371 "Standardize arguments in SessionRunHook APIs."
Some hooks inheriting from `SessionRunHook` (https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/python/training/basic_session_run_hooks.py) use different input argument keywords, while implementing the exact same functionality. This should be ironed out.

I wanted to make a PR for this, but I realised this will be backwards incompatible. Still, I think we should standardise this.

E.g.:

[2017-12-14 21:10] guschmue commented on #10521
Some perf numbers for stock builds and and builds without __force_inline.
There is some impact, maybe 10% on average - details below.
This is from a little benchmark tool that runs some simple fc, lstm, conv nets and takes numbers for training and eval. The eval numbers (ms units, the tool runs 1000 and takes the average) are worse than training.
The diff column shows the change compared to a stoc

[2017-12-14 21:19] Erichliu00 commented on #14726
@dennismckinnon ,

[code]
Thus, for copying variable, one way is `v_copy1 = tf.Variable(v1)`, for copying model, you can create two instances and inistialize the copy model's variable using such way.

[2017-12-14 21:30] andydavis1 commented on #15352
@rmlarsen @benoitsteiner Can you take a look at this one?

[2017-12-14 21:42] andydavis1 commented on #15340
@ericdnielsen @jhseu Can you comment on this one?

[2017-12-14 22:01] Joshuaalbert commented on #3032
I see, a colleague of mine is doing adaptive optics and predicting phase screens.

[2017-12-14 22:03] shohkhan commented on #14610
My error message contained the following line:
`external/gemmlowp/public/../internal/../internal/kernel_default.h:88:2: error: #error "SIMD not enabled, you'd be getting a slow software fallback. Consider enabling SIMD extensions (for example using -msse4 if you're on modern x86). If that's not an option, and you would like to continue with the slow fallback, define GEMMLOWP_ALLOW_SLOW_SCALAR_FALL

[2017-12-14 22:04] andydavis1 commented on #15296
@lukaszkaiser Can you comment on this one? Thanks...

[2017-12-14 22:12] angersson commented on #15284
(I am on Gunan's team, hoping to help out with Docker things.)

Naive question: what's the use case for Jupyter? If the -devel images are for developing on TF and the non-devel images are for developing *with* TF, does it make more sense for Jupyter to only be in the non-devel images (or in an image to itself?)

[2017-12-14 22:14] andydavis1 commented on #15367
@fchollet Can you comment on this one? Thanks...

[2017-12-14 22:15] andydavis1 commented on #15369
@jart Can you comment on this one?

[2017-12-14 22:17] andydavis1 commented on #15365
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-14 22:17] #15365 closed

[2017-12-14 22:18] lukaszkaiser commented on #15296
Indeed, this looks very much like a bug! Probably hit relatively rarely, but a bug at all counts. I guess we should have multiple old count stores at least, right? Would you send a PR with a correction and a unit test?

[2017-12-14 22:18] andydavis1 commented on #15371
@ispirmustafa can you comment on this one? Thanks...

[2017-12-14 22:34] andydavis1 commented on #15364
@zheng-xq Can you comment on this? Maybe we should update docs to say that all data formats are not supported? Thanks...

[2017-12-14 22:37] fchollet commented on #15367
Try to put your evaluation code in a different function. The way you've written it, you are reusing the same graph, which could be hiding some underlying issue in your code. Use `K.clear_session()` at the end of each phase, or better, put them inside graph scopes.

`set_learning_phase` certainly does work, so my guess is that you are somehow reusing parts of the training model during evaluation. U

[2017-12-14 22:49] yaroslavvb commented on #13433
BTW, you can use "mem_util.py" from this [repo](https://github.com/yaroslavvb/chain_constant_memory/) to simplify debugging memory issues.

As an example, run this file https://github.com/yaroslavvb/stuff/blob/master/double_memory_bug.py

This prints memory allocation timeline
[code]

It extracts numbers from run_metadata...memory_stats entries, so here you can see Assign allocated memory rather t

[2017-12-14 22:55] juhanaka opened #15373 "GPU memory usage changed from TF 1.3.0 to 1.4.0 - runs out of memory"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Custom code included below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: From pip
- **TensorFlow version (use command below)**: 1.3.0 and 1.4.0
- **Python version**: 2.7
- **Bazel version (if c

[2017-12-14 22:57] ngc92 opened #15374 "tf.matching_files order of returned files"
As far as I can tell from `https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/file_system.cc`, the order of filenames returned by `tf.matching_files` can be non-determinstic.

If that is correct, it would be nice if that were stated in the documentation (and also for `Dataset.list_files` and `train.match_filenames_once`).

Even better would be to guarantee alphabetical o

[2017-12-14 23:06] zheng-xq commented on #15364
For now, many kernels only supports NCHW on GPU. In the future, we are introducing a layout optimizer so models can use NHWC and still get the best performance as if they are written for NCHW.

[2017-12-14 23:14] andydavis1 commented on #15364
@zheng-xq Thanks.
@ dr4b Can we update the documentation on nn_ops.py for function "max_pool"?

[2017-12-14 23:41] flx42 commented on #15284
I would say it should be a separate image, to avoid bloat in the `non-devel` image. But it seems you weren't willing to add a new tag.

[2017-12-14 23:54] tahaBak opened #15375 "Performance problem TF VS Keras"
Hello ,
I just got huge difference in results using Keras (Back-end TensorFlow) and TensorFlow. I want to know if the difference in performances is normal .

The keras model produces a loss of 0.2
`model = k.models.Sequential()
model.add(k.layers.convolutional.Conv2D(64, kernel_size=(3,3), input_shape=(75,75,3)))
model.add(Activation('relu'))
model.add(BatchNormalization())
model.add(k.layers.conv

[2017-12-15 00:43] reedwm opened #15376 "With tf-nightly-gpu, getting error: ImportError: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.23' not found"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: `tf-nightly-gpu` -- I can't import TensorFlow to check the version
- **Python version**: 2.

[2017-12-15 01:11] mrry commented on #12859
@maxfiedler `Dataset.from_tensor_slices()` will always convert its arguments to tensors, so if you have a large input, it will always be encoded in the graph. The best way to work around this is to replace the list/array of inputs with a TensorFlow op that calculates the same list (e.g. [`tf.matching_files(pattern)`](https://www.tensorflow.org/api_docs/python/tf/matching_files)). If you need arbit

[2017-12-15 01:33] #14400 closed

[2017-12-15 01:44] facaiy commented on #15278
Hi, @martinwicke @joel-shor , could you take a look ? I find we don't register argmax (and argmin) as `ops.NotDifferentiable` or `REGISTER_OP_NO_GRADIENT`, is it intentional? Thanks.

[2017-12-15 01:54] angersson commented on #15373
This is a duplicate of #14107. Please add your comments there to help us keep the tracker focused. Thanks!

[2017-12-15 01:54] #15373 closed

[2017-12-15 01:55] angersson commented on #15375
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-15 01:55] #15375 closed

[2017-12-15 01:55] bitzy commented on #14267
@allenlavoie

Now I can load image with opencv. Thanks!

[2017-12-15 02:12] facaiy commented on #15296
Yes, I agree that the case might be rare, in fact the bug is fund by accident. Moreover, I don't think I know the role of `variable_scopes_count` clearly. So l'm glad to leave the issue open :-)

[2017-12-15 02:54] lsy643 commented on #12667
@angersson I ran my experiment again after updating, so far It works fine and no stop happens

[2017-12-15 03:14] chenlongzhen commented on #9371
same with @moroseking .  I use tf 1.4 and train a model , when I load in java throws the exception SavedModel not found.

[2017-12-15 04:16] Sixigma commented on #14859
I solved this by removing all Batch Normalization layers in network , followed the tutorial process and freeze model with official script , achieve the same accuracy between checkpoint and freeze_graph.pb .

And I noticed that the more different inference images comparing to training images , the loss of accuracy gets more .

Is there any other insights can be provided ?

[2017-12-15 05:04] gunan commented on #14267
Looks to be resolved?
I will close the issue now, but please reopen if there are still things to address.

[2017-12-15 05:04] #14267 closed

[2017-12-15 05:30] myungjoo opened #15380 "CMake: external package: PIC option not working"
In many of external cmake files (```/tensorflow/contrib/cmake/external/*.cmake```), it tries to turn PIC on and off with:
[code]

However, the result (with cmake 3.5) is not what we wanted in CMakeCache:
[code]
Where it should be
[code]
because ```tensorflow_ENABLE_POSITION_INDEPENDENT_CODE``` is ON.

This can be corrected by:
[code]

I'll send a PR after some testing along with other fixes (e.g.,

[2017-12-15 05:40] Carter440 commented on #15044
I've got a solution running on my machine. I'll need to do more testing before I submit a pull req.

[2017-12-15 05:51] xia-sun commented on #13785
I'm having exact same problem as @rutadesai "TypeError: names_to_saveables must be a dict mapping string names to Tensors/Variables. Not a variable: Tensor("dnn/hiddenlayer_0/bias:0", shape=(2,), dtype=float32)". @rutadesai Have you resolved your problem? Thanks!

[2017-12-15 06:00] myungjoo commented on #13061
Started looking at the external library issue. As a probing point, I've chosen zlib and sent #15382 . I'll continue making other external libraries as "system libraries" if #15382 is satisfiable.

[2017-12-15 06:02] betterenvi opened #15383 "Feature request: Use placeholders to specify the inputs of TFGAN model."

[2017-12-15 06:15] gunan commented on #15284
This is the jupyter we are talking about: http://jupyter.org/
We use this to run most of the tutorials. It is a neat learning tool.
But this is something I never really used myself.

I like the new image idea better. If it were up to me, I would have a CPU only image that has jupyter for tutorials. @random-forests @wolffg @MarkDaoust what do you think?
Are you OK with us creating a completely sepa

[2017-12-15 06:25] li64351546 opened #15384 "Can't convert nasnet pb to tflite: Pad not supported"
cambridgedeMBP:tensorflow-master cambridge$ bazel-bin/tensorflow/contrib/lite/toco/toco \

2017-12-15 14:18:22.406487: I tensorflow/contrib/lite/toco/graph_transformations/graph_transformations.cc:39

] Before general graph transformations: 2988 operators, 4360 arrays (0 quantized)
2017-12-15 14:18:22.659788: I tensorflow/contrib/lite/toco/graph_transformations/graph_transformations.cc:39

] After

[2017-12-15 06:25] flx42 commented on #15284
I've heard one report of a developer using Jupyter for his day-to-day work, as a replacement for a code editor.
I don't know if it's very common, but if it is, it would probably warrant keeping a GPU + Jupyter image.

[2017-12-15 06:34] kxhit commented on #14826
Hi! I meet the same problem.
I'm using opencv3.1 tensorflow1.4 in ubuntu14.04. When I included tensorflow headers like #include <tensorflow/core/public/session.h> or #include "tensorflow/cc/ops/standard_ops.h", cv::imread can not read images encoded by JPEG, but can read other encoding images like Uncompressed 8-bit RGB. When I commented TF headers, I can read any images by cv::imread. Is there an

[2017-12-15 06:56] Howie-hxu commented on #14610
I have met the same problem.
Also I have tried to use
bazel build -c opt --copt=-msse4.1 --copt=-msse4.2 tensorflow/python/tools:freeze_graph
it works fine~,

[2017-12-15 07:02] shadabiitk commented on #14182
I installed tf_nightly_gpu-1.5.0.dev20171213-cp36-cp36m-manylinux1_x86_64.whl successfully.
Ubuntu17.10 x64.
Tensorflow is looking for cuda-9.0 but I have cuda-8.0 installed. does tf_1.5.0 works with cuda-8.0?
I have cuda-8.0 installed. I can see it in the library path

![screenshot from 2017-12-15 01-44-45](https://user-images.githubusercontent.com/5642181/34030106-956b7260-e139-11e7-9f71-6f665a5

[2017-12-15 07:12] kxhit commented on #14267
Hi! I meet the same problem.
I'm using opencv3.1 tensorflow1.4 in ubuntu14.04. When I included tensorflow headers like #include <tensorflow/core/public/session.h> or #include "tensorflow/cc/ops/standard_ops.h", cv::imread can not read images encoded by JPEG, but can read other encoding images like Uncompressed 8-bit RGB. When I commented TF headers, I can read any images by cv::imread. Is there an

[2017-12-15 07:14] gunan commented on #12978
@meteorcloudy would that also enable custom op support on windows?
Once that is tackled, our official builds on windows will be converted to bazel.

[2017-12-15 07:18] gunan commented on #15297
Did we recently introduce this breakage, or has this always been in our code?

[2017-12-15 07:28] tensorflowbutler commented on #15370
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-15 07:28] tensorflowbutler commented on #15374
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-15 07:28] zh794390558 commented on #15208
@asimshankar So without explicit placement the device, all code default to placement on CPU ?

[2017-12-15 07:35] asimshankar commented on #15208
@zh794390558 : Yes, at this time, eager execution will use the CPU always (even if a GPU is present) unless explicitly told to use the GPU using `with tf.device('/gpu:0'):` blocks or by explicitly copying tensors to GPU using `.gpu()`

[2017-12-15 07:40] gunan commented on #14691
https://bitbucket.org/eigen/eigen/pull-requests/351/win-nvcc/diff
Once the above change is merged, I will bump TF eigen dependency, and we should be all fixed.

[2017-12-15 07:54] gunan commented on #15376
@jhseu I think this is caused by our nightly and release GPU builds having to move to ubuntu 16, because the there are no more ubuntu 14 docker images with cuda9.

Maybe our builds are missing this flag: `--cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0"`

[2017-12-15 08:22] zyxcambridge opened #15387 "from pb tf_dst_dtype == DT_UINT8 || tf_dst_dtype == DT_INT32 || tf_dst_dtype == DT_FLOAT Abort trap: 6"
cambridgedeMBP:tensorflow-master cambridge$ bazel-bin/tensorflow/contrib/lite/toco/toco \

2017-12-15 16:18:25.486891: I tensorflow/contrib/lite/toco/import_tensorflow.cc:140] Unsupported data type in placehoder op: 7
2017-12-15 16:18:25.487509: I tensorflow/contrib/lite/toco/import_tensorflow.cc:1046] Converting unsupported operation: DecodeJpeg
2017-12-15 16:18:25.487725: I tensorflow/contrib/li

[2017-12-15 08:22] terryKing1992 commented on #11549
@wedesoft thanks for your solution, but it does not work for me.

[2017-12-15 08:25] snnn commented on #12978
@gunan , Yes, exactly as what you said. Now they are working Bazel 0.9.0, and Bazel 0.10.0 will be released in later Jan.

[2017-12-15 08:26] giker17 commented on #7778
I am getting the same warning while using tensorflow_gpu 1.1.0 on win10, the version of Python is 3.6.3 installed in Anaconda.
Since the tf for **G**PU version is used, then what does that matters **C**PU?
I want to know what do these warnings mean, and what should I do or just leave them?

Here is my warnings:

[code]

Another question:
How will I know if the tf using Gpu or Cpu while runing a pr

[2017-12-15 08:37] snnn commented on #15297
It only affects TF 1.4 and the nightly build. TF 1.3 is ok. It was introduced in 390dcd29ac75ba59a3ff6ab45ab58f80d4094dc2

[2017-12-15 08:54] XinhaiWang opened #15388 "cannot install with virtualenv python3.6"
Have I written custom code      No
OS Platform and Distribution .  MacOS 10.13.2
TensorFlow installed from        conda  URL of the TensorFlow Python package
TensorFlow version .                1.4
Bazel version                             N/A
CUDA/cuDNN version              N/A
GPU model and memory          N/A
Exact command to reproduce  I just follow Install with conda, My python was installed

[2017-12-15 08:54] maxfiedler commented on #12859
Thanks, @mrry
I will try that. (Maybe, include a sentence on this in the 'Importing Data' documentation)

[2017-12-15 09:18] agrinh commented on #15343
Awesome, looking forward to it, thanks again @saeta

[2017-12-15 09:19] icyblade opened #15389 "Fatal error while compiling Tensorflow with CUDA 9.1"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-104-generic x86_64)
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
unknown 1.4.0 (Source code is cloned from 798fa3

[2017-12-15 09:20] icyblade commented on #15389
I'll try to open a PR resolving this problem, after digging some source code.

[2017-12-15 09:41] tbsflk commented on #12177
Sorry, but I don't have the environment around anymore, so I cannot make more tests. I just accepted that the compiled version didn't work at some point. Anyway, thanks for looking at it again!

[2017-12-15 09:41] #12177 closed

[2017-12-15 09:42] meteorcloudy commented on #12978
@snnn is absolutely correct!

[2017-12-15 09:51] DEKHTIARJonathan commented on #15342
No problem, thanks for the answer.

[2017-12-15 09:51] #15342 closed

[2017-12-15 09:58] ManuelaPa commented on #14363
@juliebernauer Thanks for the answer! I installed cudnn 7.0.5 but it's not compatible with tensorflow 1.4, it needs cudnn64_6.dll, do you know that I should do?
Thank you

[2017-12-15 10:32] icyblade commented on #15389
I can confirm it's a bug of [Eigen](http://eigen.tuxfamily.org/).
Such error will be raised while compiling Eigen ([commit](https://bitbucket.org/eigen/eigen/src/5c43a259f0b51963a00dd85e941a1fd044ac1cf4)) with `cmake .. -DEIGEN_TEST_CUDA=ON && make check -j4`:
[code]

[2017-12-15 10:56] MarkDaoust commented on #15284
We are _planning_ to convert docs to use Jupyter format, where it makes sense.

So it will might be nice to have a GPU+Jupyter option when that happens, as some of the tutorials are pretty heavy, but it's hard to gauge how many users this would help.

[2017-12-15 10:57] AlessioTonioni commented on #15389
https://stackoverflow.com/questions/43113508/math-functions-hpp-not-found-when-using-cuda-with-eigen --> second answer seems to be related

[2017-12-15 10:58] jhzab opened #15391 "tf.nn.leaky_relu does not work with float64"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, see below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Fedora 26
- **TensorFlow installed from (source or binary)**: binary, pip3 install tensorflow
- **TensorFlow version (use command below)**: v1.4.0-19-ga52c8d9 1.4.1
- **Python version**: Python 3.6

[2017-12-15 10:59] eaigner opened #15392 "build_all_android.sh does not work on TF 1.4 branch"
Run `build_all_android.sh` on the `1.4` branch and it will fail with:

    cp: <PATH>/tensorflow/tensorflow/contrib/makefile/downloads/nsync/public: No such file or directory

[2017-12-15 11:05] rongjiecomputer commented on #13061
@johnsrude Tensorflow can already be built with Bazel on Windows, incremental build supported and is much faster than CMake + MSBuild (took me 3 hours in my low-end laptop).

CMake + Ninja will be much faster than CMake + MSBuild as Ninja can do incremental build, probably on par with Bazel. However, for some unknown reason Tensorflow's CMake build scripts are so tuned to MSBuild that Ninja simply

[2017-12-15 11:09] Kornel commented on #14689
In my case tf 1.4.1 works only with protobuf 3.4.0:

[code]

Upgrading protobuf to 3.5.x results in `KeyError: "Couldn't find field google.protobuf.EnumDescriptorProto.EnumReservedRange.start"`

[2017-12-15 11:35] ambr89 commented on #9737
I have the same problem with
ubuntu 16.04
tensorflow-gpu 1.3

`InternalError (see above for traceback): Failed launching MaxPoolForwardNoMask
[[Node: pool1 = MaxPool[T=DT_FLOAT, data_format="NHWC", ksize=[1, 2, 2, 1],
			padding="VALID", strides=[1, 2, 2, 1], _device="/job:localhost/replica:0/task:0/gpu:0"]
			(conv1_2/conv1_2)]]
         [[Node: bbox_pred/bbox_pred/_105 = _Recv[client_terminated=

[2017-12-15 11:54] icyblade commented on #15389
@AlessioTonioni Yes, and I've already referenced this answer above.

[2017-12-15 11:54] stefanopiovesan opened #15393 "Build tf_core_kernels on With VS2015 stops with "fatal error C1060: compiler is out of heap space""
### System information
- Build tf_core_kernels.vcxproj
- Windows 10 Enterprise Build 1607
- TensorFlow installed from source
- TensorFlow version Release 1.4.0 from github
- VS2015 Enterprise 14.0.25431 Update 3

Cannot build tf_core_kernels.vcxproj (generated with CMake) because of a fatal error C1060: compiler is out of heap space.

### Source code / logs
1>------ Build started: Project: tf_core

[2017-12-15 12:05] #15326 closed

[2017-12-15 12:05] kaspermarstal commented on #15002
Thanks for info!

[2017-12-15 12:09] CasiaFan commented on #15367
@fchollet Thanks for your reply! I try to use evaluation code in a separated script by loading pre-trained model weights, together with adding `K.clear_session()` at the end of session. But the issue still exists. **But again if I use keras instead of tf.keras, it works!**

BTW, I check the `K.learning_phase()` and `set_learning_phase` does work. So I think this issue should be about graph reusing

[2017-12-15 12:26] headupinclouds opened #15395 "OS X + GPU NVIDIA nccl dependency missing"
[Comment](https://github.com/tensorflow/tensorflow/pull/14016#discussion_r156704387) migrated to a full issue here.

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OS X 10.12.2 (Any)
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command

[2017-12-15 12:34] Tauranis commented on #10155
I've managed to use `init_from_checkpoint`, but until there I've made some mistakes.
First created a hook object (instance of a class that inherits from `tf.train.SessionRunHook` ) to load pretrained weights after a session is created ( on `after_create_session` method). But for some reason the string "Adam" was appended at the end of each variable name and then the variables could not be found in

[2017-12-15 12:43] bhack commented on #14879
@fchollet Also what it s needed to document where the additonal summaries for Tebsorboard need to be inserted. Cause with this API call we don't have an explicit model_fn to write, so what is the best practice for placing addtional summaries?

[2017-12-15 12:44] jda91 commented on #14610
As I said, I tried that, multiple times on multiple computers on various operation systems, I get the same exact error every time. I can't export or run any python script, even if I natively install pip tensorflow serving, the same error occurs. I tried in  the docker container, I tried without it, same error every time.

[2017-12-15 12:47] domschl commented on #15140
@gdshen : That's a bit dangerous, because you might end up with an outdated copy on next cuda-update, if you forget about that second copy.
@sclarkson 's approach is somewhat safer. This is anyway most probably a CUDA-9.1 issue.

[2017-12-15 12:58] bhack commented on #14879
Also just to point other missing documentation we can specify how to mix [tf metrics in tf.keras](https://stackoverflow.com/questions/45947351/how-to-use-tensorflow-metrics-in-keras) cause was requested in some Keras ticket but still not officially documented. We have some TF metrics that are not directly covered by tf.keras metrics counterpart so could be useful to document its use now the we are

[2017-12-15 12:59] tensorflowbutler commented on #15380
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-15 13:11] facaiy commented on #15391
Hi, @jhzab . There seems something wrong with the conversion, however, perhaps the workaround works for you.

[code]

[2017-12-15 13:13] qmick commented on #9898
@skye This issue can be closed now because fp16 support has been already added by commit cc1a02d.

[2017-12-15 13:20] Carmezim commented on #15329
Thank you for your interest in TF. This question is better suited for StackOverflow, which the TensorFlow team also monitors under the TensorFlow tag. Github is strictly for bugs and feature requests.

[2017-12-15 13:26] qmick commented on #9927
@ebrevdo This issue was fixed by #11049 and can be closed now.

[2017-12-15 13:26] sylvain-bougnoux commented on #13061
If you want fast compilation with MS, the best thing to do is precompiled header. It will compile much much faster, as a lot of object files are just a few lines with a huge header.

[2017-12-15 13:32] jhzab commented on #15391
Ah, I didn't even consider that the `alpha` parameter might be causing the problem when giving a `float64` input. I was using my own leaky_relu implementation in the mean time, but your suggestions seems cleaner, thanks.

I would have expected `alpha * features` to return a float64, since `alpha` is not set to some specific dtype. Am I missing something?

[2017-12-15 13:40] facaiy commented on #15391
`alpha` is converted to `float32` by default, I believe that's why dtype conflicts here. Yes, I agree that it's better to return a float64 for `alpha * features`, rather than raise those annoying message for user.

[2017-12-15 13:41] boeddeker opened #15396 "Bug: reshape shape inference for parital defined shape"
-----------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: Python 3.

[2017-12-15 14:05] eaigner commented on #14186
Can confirm @keyongyu s solution does work. Overriding `AR` resolves this.

[2017-12-15 14:13] facaiy commented on #15396
seems related to #14998 ?

[2017-12-15 14:14] ashokbugude opened #15397 "Tensorflow c++ memory leak - Valgrind"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 17.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0.5.1
- **GCC/Comp

[2017-12-15 14:21] sleighsoft commented on #14257
By the way why is the real data
https://github.com/tensorflow/tensorflow/blob/f5f2f789ea395e585ddcbc43e088fa63d6b41d0e/tensorflow/contrib/gan/python/train.py#L110
not handled like
https://github.com/tensorflow/tensorflow/blob/f5f2f789ea395e585ddcbc43e088fa63d6b41d0e/tensorflow/contrib/gan/python/train.py#L104
?

[2017-12-15 14:22] boeddeker commented on #15396
Indirect yes. I used the code from #14998 where I hit this bug, but the bug is independent.
Here is the problem (reduced to the minimum) that I need to solve with reshape:
[code]
It would be nice to do the reshape without predicting the shape and/or use `set_shape`

[2017-12-15 14:34] joel-shor commented on #14257
Real data and generator inputs are different kinds of things. The former
goes to the discriminator, the latter goes to the generator. The analogy
isn't between real data and generator inputs, but between real data and
generator outputs, which are handled the same way.

On Fri, Dec 15, 2017 at 2:23 PM, Julian Niedermeier <
notifications@github.com> wrote:

[2017-12-15 14:36] dataplayer12 opened #15398 "Feature request: tf.info to show docstrings in jupyter notebook"
When working with jupyter notebooks, it is really helpful to see the documentation within the notebook. Numpy has a function called `np.info` which takes a numpy function as argument and prints its docstring. For example, np.info(np.mean) prints the docstring for `np.mean`. It would be really helpful to have an equivalent `tf.info` for those of us who work with jupyter notebooks (and who doesn't?)

[2017-12-15 14:43] sleighsoft commented on #14257
I was just wondering that in the conditioned GAN case I could pass generator input as a dictionary whereas the real data has to be a list because dicts are not supported by `ops.convert_to_tensor`.

[2017-12-15 15:57] gdshen commented on #15140
@domschl A soft copy may be safer.
It would be more elegant to put header file in /usr/local/cuda/include, not in /usr/local/cuda

[2017-12-15 16:03] yongtang commented on #15376
I think the issue is that ubuntu 14.04 has a lower version of GLIBC. When build moves to ubuntu 16.04, some of the GLIBC symbols that is linked on is not available for GLIBC in 14.04.

The easiest path for the fix might be to upgrade from 14.04 to ubuntu 16.04.

Otherwise I think you can try alternatives:
1. Upgrade or install newer version of glibc on 14.04 (may typically cause some other issues

[2017-12-15 16:15] xtknight commented on #2594
I can't really quite understand the implications of this. Does this prevent LSTMs from being placed on the GPU?

I'm trying to do multi-GPU which requires explicit assignment of GPU devices, and suddenly when I start explicitly designing devices I start hitting this assert op that's apparently not supported on GPU. But I don't understand how it was running fine on a single GPU in the first place?

[2017-12-15 16:17] ferreirafabio commented on #15040
I'd appreciate your comment @wolffg

[2017-12-15 16:43] ispirmustafa commented on #15371
we cannot do this change due to backward compatibility.

[2017-12-15 16:43] #15371 closed

[2017-12-15 16:58] juliebernauer commented on #14363
@ManuelaPa The developer website lists Win7 and Win10 versions for both CUDA9.0 and CUDA9.1. So one has to make sure to download and install the one needed - after removing previous versions on Windows (this is not the case on Linux). Can you please try this? This should work. If not, may I suggest you send a ticket or report a bug on the NVIDIA developer website?

[2017-12-15 17:16] Androbin commented on #15392
Where is the repository located on your machine?
I suspect this issue might be related to whitespace.

[2017-12-15 17:26] eyaler commented on #14107
i am running the code for tensorpack/pix2pix on on windows 10 64 with gpu 1080ti (cuda 8, cudnn 6):
https://github.com/ppwwyyxx/tensorpack/blob/master/examples/GAN/Image2Image.py
in tf 1.4 i am seeing an increase of 30% in runtime over 1.3

[2017-12-15 17:34] martin-gorner opened #15400 "setuptools error on upgrading to 1.4.1"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Sierra
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.6 (normal install, NO virtualenv, NO anaconda, ...)
- **Exact command to reproduce**

[2017-12-15 17:42] kpierce8 commented on #14980
Interestingly on a different machine, I had "conda install tensorflow" disconnect jupyter from the conda environment. Exact same issue as this thread. So tensorflow installation has messed with conda now in two different ways on two different machines. (both win 10).

https://stackoverflow.com/questions/39604271/conda-environments-not-showing-up-in-jupyter-notebook

[2017-12-15 17:42] colmantse commented on #14107
Yes. This should occur if you do not have a clean build of tf for win10 from source. I had the same prob, with cpu utility goes up triple and gpu utility drops to the same extent. I decided to switch to linux and build from source (much easier) and now achieve full gpu utility.

[2017-12-15 17:46] BogdanRuzh commented on #15320
@vivek-rane
Sorry for late response. I did a bunch of tests and have good results with improving performance for MKL tf in comparison with pip tf - it's 3x faster for my segmentation model and 2x faster for inception v3.
Also, I'm curious about how it tf parallelize inception blocks. Check timelines below. So inception blocks can be processed much faster than straightforward cnn?

Segmentation mod

[2017-12-15 18:02] leandroBorgesFerreira opened #15401 "module 'tensorflow.contrib' has no attribute 'lite'"
Hello folks.

Everytime I try to run the example fo TOCO:

[code]

I get the error: **module 'tensorflow.contrib' has no attribute 'lite'**

OS Platform and Distribution: Mac OS High Sierra
Tensorflow installed from pip version 1.4.1.
Python version: 2.7.14 and 3.6.3 :: Anaconda custom (64-bit)

The informations about my system are those:

== cat /etc/issue ========================================

[2017-12-15 18:09] allenlavoie commented on #14267
@kxhit
Neat, so headers aren't causing issues on their own for you?

1. That's a reasonable guess; I've never tracked down exactly which image library in TF conflicts.
2. Custom ops are the main limitation (since they need symbols which are sealed off from the C++ API; typically they'd link against libtensorflow_framework directly, but if that's not built then there's no good way to support them);

[2017-12-15 18:20] #14505 closed

[2017-12-15 18:27] ecsark opened #15403 "Computing gradients of loop variables return None"
### Problem description
I got `None` when computing gradient of the two loop variables that are supposed to have gradient..

### Minimum code to reproduce the error
[code]

It seems to have failed in the first iteration as there was no output from print statement.

### Complete logs
[code]

### System information
- **Have I written custom code (as opposed to using a stock example script provided i

[2017-12-15 18:30] quaeler commented on #15388
I'm confused as to what here is TensorFlow related. Do you already have TF pip-installed into your system site packages?

[2017-12-15 18:38] mrry commented on #12667
Great, thanks for confirming!

[2017-12-15 18:38] #12667 closed

[2017-12-15 18:55] #9898 closed

[2017-12-15 19:00] tensorflowbutler commented on #15383
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-15 19:00] tensorflowbutler commented on #15384
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-15 19:00] tensorflowbutler commented on #15387
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-15 19:00] tensorflowbutler commented on #15388
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-15 19:00] tensorflowbutler commented on #15393
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-15 19:00] tensorflowbutler commented on #11404
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-15 19:04] martinwicke commented on #11404
@av8ramit this seems overzealous by our bot -- to do this, we would first have to make sure we have the labels correct.

Can you disable this behavior until we have the label state machine figured out?

[2017-12-15 19:06] alanhdu commented on #14675
FWIW, we were bitten by this issue -- we wanted to make the learning rate of our optimizer a placeholder (to experiment with some more exotic learning rate decay schemes) and were very confused why changing the learning rate from a constant to a placeholder fed the same value learned a different network.

[2017-12-15 19:10] Carter440 commented on #15044
How would we like to handle the event that the window + stride does not divide evenly into the length of the dataset?

eg: [0,1,2,3,4] window=3 stride=1 --> [[0,1,2],[1,2,3],[2,3,4]] OK
eg: [0,1,2,3,4] window=3 stride=3 --> [[0,1,2][3,4]] (size of last window is smaller)
                                                                or just [[0,1,2]] (end early)

[2017-12-15 19:40] devinsaini commented on #15044
Ending early should definitely be an option. I think there can also be an option to pad shorter final sequence with a given value, or the last value.
@mrry what do you think?

[2017-12-15 19:45] 4F2E4A2E commented on #12052
The pr is declined but it seams to be merged manually. Do we have to wait for a eigen release or is it getting built by the sources?

[2017-12-15 19:54] #15103 closed

[2017-12-15 20:04] jhseu commented on #15376
@gunan I don't think that flag will work here. I think we'll just have to require Ubuntu 16.04 as the minimum for our builds.

[2017-12-15 20:43] spiovesan commented on #15393
Have I written custom code: No
OS Platform and Distribution: Windows 10 Enterprise Build 1607
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce:
Followed instructions here:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/cmake
and then:
MSBuild /p:Configuration=RelWithDebInfo ALL_BUILD.vcxproj

[2017-12-15 20:57] fischman commented on #10220
I think the problem here is that gcc-5.5 shipped with avx512\*intrin.h headers that switched to using `void*` and `const void*` (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=76731) but without switching the builtins to do the same.  This is why 5.4 works but 5.5 breaks.  The tensorflow r1.4 build at least can be unbroken for 5.5 by locally rolling back the above change with e.g.:
[code]
This is a

[2017-12-15 21:00] angersson commented on #15403
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-15 21:00] #15403 closed

[2017-12-15 21:08] angersson commented on #15397
This looks like an issue on your end, as per the answer to the SO question you also posted.

Since this is not a bug or feature request, I'm closing this issue. If you believe you've found a true bug, please file another issue. Thanks!

[2017-12-15 21:08] #15397 closed

[2017-12-15 21:13] angersson commented on #15395
We don't officially support OSX + Nvidia, so I'm marking this as community support.

Please feel free to put together a PR!

[2017-12-15 21:15] aldrin233 commented on #12698
any solutions for this?

[2017-12-15 21:21] ppwwyyxx commented on #15398
![1215-13 20 52](https://user-images.githubusercontent.com/1381301/34060943-ce5ca2fe-e19a-11e7-952e-dd2ed18d9152.png)

[2017-12-15 21:36] OscarDPan commented on #14662
Update:
Found the direct cause of the hanging problem that happened right after the first sess.run(). It's because the there are some workers indefinitely waiting for the connections to other servers to be established. ("CreateSession still waiting for response from worker...."). The amount of bad connections was random, and this did not happened in some particular hosts.

This happened quite ofte

[2017-12-15 21:41] OscarDPan commented on #14662
@drpngx
Thank you for your response. The dataset we have is some huge .npy files. So what I did is first loading them into memory and splitting it into batches, then I enqueued those batches into RandomShuffleQueue. Could you elaborate why you suggested dataset API?

[2017-12-15 22:03] tylerlekang commented on #14182
Just installed python 3.6 on ubuntu 16.04. Then:

~$ python3.6 -m pip install --user tensorflow
Collecting tensorflow
  Downloading tensorflow-1.4.1-cp36-cp36m-manylinux1_x86_64.whl (41.2MB)
    100% |████████████████████████████████| 41.2MB 52kB/s

and so on...

Then:

~$ ipython
Python 3.6.3 (default, Oct  4 2017, 02:55:45)
Type 'copyright', 'credits' or 'license' for more information
IPython 6.

[2017-12-15 22:16] DuncanMcBain commented on #9445
I'm not sure I follow you here - SPIR is optional, not core, so there is nothing to say they have to support SPIR 1.2 over anything else. I believe the SYCL specification rather deliberately doesn't demand a particular IR format either. Or am I misunderstanding you?

@rodburns could we maybe get this updated with the next release? These are all useful hints for our documentation.

I've always felt

[2017-12-15 22:19] aselle commented on #15401
Tensorflow 1.4.1 doesn't contain TensorFlow lite. you need to download the nightly whl to get it.

[2017-12-15 22:21] angersson commented on #15401
You should be able to install the nightly with `pip install tf_nightly`.

[2017-12-15 22:28] leandroBorgesFerreira commented on #15401
Oh. So it's not a bug. Thanks for the help!

[2017-12-15 22:28] #15401 closed

[2017-12-15 22:30] Carter440 commented on #15044
just submitted a pull. This one just has the end early version. Looking into how to fill out the last bit.

Also don't try to use it with anything too big fit into RAM.

[2017-12-15 22:30] angersson commented on #15391
Since @facaiy is looking at this, I'll tag it as contributions welcome.

Thanks @facaiy!

[2017-12-15 22:35] angersson commented on #15389
Can you provide an exact command to help replicate this?

[2017-12-15 22:36] mirh commented on #9445
If you OCL 1.2 support relies on the mandatory support of SPIR 1.2, I assumed dropping this latter also inversely entailed dropping opencl 1.2 compatibility.

I'm also in the process of *\*finally\** getting to test said arch fglrx platform (on kernel 4.14 nonetheless) on a humble AMD E-350 [that for as much a low power apu, still has a fully fledged gpu (*yes I'm looking at you intel*)]
Might you

[2017-12-15 22:36] sclarkson commented on #15389
Also discussed in https://github.com/tensorflow/tensorflow/issues/15140

[2017-12-15 22:45] andydavis1 commented on #15396
@martinwicke @aselle Can either of you comment on this one?

[2017-12-15 22:52] andydavis1 commented on #15398
Thanks @ppwwyyxx @dataplayer12 Please reopen if that does not solve your problem.

[2017-12-15 22:52] #15398 closed

[2017-12-15 22:54] dr4b commented on #15364
@andydavis1 we could do it, or if @zheng-xq wants to submit a PR fixing the docs that would also work?  You just need to update the doc string in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_ops.py

[2017-12-15 23:02] #12052 closed

[2017-12-15 23:09] bhack commented on #14042
@martinwicke Have you assigned this after was already closed? Is there a plan to cover @bodokaiser  request?

[2017-12-15 23:23] drpngx commented on #14662
@OscarDPan the dataset API is easier to analyze than the queues, which can be hard to debug when they freeze. As long as you're OK with loading into memory then splitting, I think it should work just fine.

Could you try that instead?

[2017-12-15 23:27] hadaev8 commented on #12052
Cool, then it will be on Nightly pip?

[2017-12-15 23:52] rongjiecomputer commented on #15393
I hit this out of heap space error before as well, this prones to happen when you don't have enough RAM.

A workaround is to remove all `/MP`compile flag to make `cl.exe` create less processes and hence use less memory (works for me).

- https://github.com/tensorflow/tensorflow/search?l=CMake&q=%2FMP&type=&utf8=%E2%9C%93
- https://msdn.microsoft.com/en-us/library/bb385193.aspx

[2017-12-16 00:34] ushnish opened #15410 "Calling tf.contrib.lite.toco_convert results in global name 'tempfile' is not defined error"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

Related SO post - https://stackoverflow.com/questions/47645056/tensorflow-lite-toco-python-apl-nameerror-name-tempfile-is-not-defined

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoa

[2017-12-16 00:43] leandroBorgesFerreira commented on #15410
Same here. It also throw this error with Python 3.6.3 :: Anaconda custom (64-bit)

[2017-12-16 01:20] XinhaiWang commented on #15388
Have I written custom code No
OS Platform and Distribution . MacOS 10.13.2
TensorFlow installed from conda URL of the TensorFlow Python package
TensorFlow version . 1.4
Bazel version N/A
CUDA/cuDNN version N/A
GPU model and memory N/A
Exact command to reproduce I just follow Install with conda, My python was installed with conda, I think maybe that is the problem.

[2017-12-16 01:30] sketch34 commented on #3369
Same problem, installed on OSX exactly as per instrucitons: https://www.tensorflow.org/install/install_mac

[code]

Tried `sudo python3` with same result.

[2017-12-16 01:45] tensorflowbutler commented on #15400
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory

[2017-12-16 01:52] martin-gorner commented on #15400
Bazel version: irrelevant, not building from source
CUDA/cuDNN version: irrelevant, not using GPU
GPU model and memory: irrelevant, not using

[2017-12-16 02:01] icyblade commented on #15389
@angersson

[2017-12-16 02:40] facaiy commented on #15410
I believe the bug has been fixed in master branch, could you test it on [tf-nightly](https://github.com/tensorflow/tensorflow#installation) ?

[2017-12-16 02:42] germunwang opened #15412 "tf.contrib.memory_stats.MaxBytesInUse() got `Op type not registered 'MaxBytesInUse' in binary running` error"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Should be Yes, as subtitle Source code below.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 7 x64
- **TensorFlow installed from (source or binary)**:
`pip install tensorflow-gpu` with Anaconda on windows prompt following the

[2017-12-16 03:01] ppwwyyxx commented on #14107
@eyaler On a P100 I saw no performance difference between 1.3 and 1.4, also with Image2Image.py. My tensorflow was installed from pypi.

[2017-12-16 03:09] quaeler commented on #15388
.... but...
This command you report using and having an issue with
[code]
has **nothing** to do with TensorFlow. Why are you reporting this issue here?

[2017-12-16 03:33] betterenvi commented on #15383
@tensorflowbutler
Thanks, but this is a feature request, not a  bug. Do I still need to fill out these fields?

[2017-12-16 03:34] ZhongBaby opened #15413 "Android Failed To Run Inference"
Have I written custom code: No
OS Platform and Distribution: Android
TensorFlow installed from: binary
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce: N/A

### Describe the problem
With JNI libtensorflow_core.a etc. I can do inference with my model, which is frozen and stripped off unused op by transform_graph [tool](https://github.com/tensorflow/te

[2017-12-16 03:35] headupinclouds commented on #15395
I will take a look.  Do you know which version of nccl is currently required for master?

[2017-12-16 05:22] kxhit commented on #14267
@allenlavoie
Yes! I can read any images with headers `#include <tensorflow/core/public/session.h>  #include "tensorflow/cc/ops/standard_ops.h"`. Thank you for your help!

[2017-12-16 05:23] facaiy commented on #15285
I'd like to work on it.

[2017-12-16 05:51] hedandan commented on #2169
if I do not use tf.session to run, the unpool can run normaly. Howerver, I use tf.session, the problem that ValueError: None values not supported was occur. Whether the unpool.m was not adapt to Back Propagation

[2017-12-16 06:26] stevefermi commented on #15116
@zhangbo5891001 Is it related with the saved model file? Maybe we could try to sign it if it is.

[2017-12-16 07:11] gunan commented on #15284
considering some of our tutorials also involve modifying code, let's add jupyter in our devel images, and minimize the size of our non-devel images as much as we can.

[2017-12-16 07:23] flx42 commented on #15284
Wait, modifying the TensorFlow code and recompiling it?

Jupyter is already in the devel image I believe, the difference being that it doesn't start automatically, like the `devel` image does today.

[2017-12-16 08:04] cambwang opened #15414 "Failed to convert a .pb file to a .lite file where there is a custom lite op sin"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04.5 LTS
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.4.0
- **Python version**: 2.7.6
- **Bazel version (if compiling from source)**:

[2017-12-16 08:37] youngho1203 commented on #8160
I think the best one for java tutorial is that a mnist example by loading graph file which generated by python such as mnist_deep.py python file in mnist tutorials.
and the tutorial verify the same test accuracy ( ex : 0.9921 ) between java and python approach.

[2017-12-16 08:47] nasergh commented on #12052
@Tweakmind
i try to rebuild tensor with using python 2.7
but in bazel build i get this  error
i also install numpy but no change.

[code]

[2017-12-16 08:55] angshine commented on #14689
I find this solution really helpful:
1. uninstall all the protobuf on your machine (both from anaconda and pip)
`pip uninstall protobuf`
`conda remove protobuf`
you may try them twice to make sure all the version of protobuf have been removed
2. install protobuf using pip:
`pip install protobuf==3.5.0.post1`

[2017-12-16 09:02] sshadmand commented on #14273
+1 to @drewszurko and @SteffenNa

Better to use Sierra on High Sierra:

`pip install --ignore-installed --upgrade "https://github.com/lakshayg/tensorflow-build/raw/master/tensorflow-1.4.0-cp36-cp36m-macosx_10_12_x86_64.whl"`

[2017-12-16 09:16] kishorenayar commented on #14198
@bshao001 That's correct using **set_learning_phase(True) or set_learning_phase(False)** is solving the problem. Updated the answer in [StackOverflow](https://stackoverflow.com/questions/47149076/tensorflow-1-4-keras-issue-with-respect-to-model-fn)

[2017-12-16 09:29] masasys commented on #12052
It seems that OSX is excluded in version 7.0.5 of cuDNN. Does anyone know a detailed thing?

[2017-12-16 09:52] ZichuanLIU commented on #11704
@aurorelaurent Hi I also have this problem. Did you fix your problem?

[2017-12-16 10:10] #15388 closed

[2017-12-16 10:39] eeilon79 commented on #12052
I still can't get tensorflow-gpu to work in Windows 10 (with CUDA 9.0.176 and cudnn 7.0).
I've uninstalled both tensorflow and tensorflow-gpu and reinstalled them (with the --no-cache-dir to ensure downloading of most recent version with the eigen workaround). When I install both, my GPU is not recognized:

`InvalidArgumentError (see above for traceback): Cannot assign a device for operation 'rand

[2017-12-16 10:49] snnn commented on #8160
Hi @youngho1203

They already have a similar thing:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/src/main/java/org/tensorflow/examples/LabelImage.java

[2017-12-16 12:10] axelurbiz opened #15415 "sparse_multiclass_hinge_loss() error"
Hello,

I'm getting the error below using `sparse_multiclass_hinge_loss()`. Any hints would be highly appreciated.

[code]
 make_tensor_proto(values, dtype, shape, verify_shape)
    369   else:
    370     if values is None:
--> 371       raise ValueError("None values not supported.")
    372     # if dtype is provided, forces numpy array to be the type
    373     # provided if possible.

ValueEr

[2017-12-16 13:09] leandroBorgesFerreira commented on #15410
Hello facaiy, I amor using the master branch (the nightly) version, but the problem is still there =\. At least for high sierra

[2017-12-16 13:13] AlphasCodes commented on #22
SUCCESS!

The latest "dev/amd_gpu" branch commits in @lukeiwanski fork fixed my Tensorflow OpenCL compile issue. I assume it was the SysCL 1.2.1 related commits.

I successfully compiled a Tensorflow OpenCL version and can use it. See my [Tensorflow Setup](https://github.com/AlphasCodes/DeepLearning/blob/master/Tensorflow_Setup.md) document for details.

I also added a [Benchmark](https://github.c

[2017-12-16 13:19] tensorflowbutler commented on #15412
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
TensorFlow installed from
Bazel version
Exact command to reproduce

[2017-12-16 13:19] tensorflowbutler commented on #15413
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-16 13:48] germunwang commented on #15412
Yup I have leave them some as N/A and now I have updated them more in detail. In addition, the package version should be `tensorflow-gpu` 1.4.0. Thanks.

[2017-12-16 15:15] aselle commented on #15410
Sorry about this. It seems it has to do with the interface sealing in tensorflow (where we try to prevent exposing symbols unrelated to the interfaces). You can work around this with the following code

[code]
I'll make a more permanent fix soon.

[2017-12-16 15:52] ebrevdo commented on #2594
You need to enable soft placement when creating the session.  It's a
configuration o parameter in tf.ConfigProto.

On Fri, Dec 15, 2017, 8:15 AM Andrew Matteson <notifications@github.com>
wrote:

[2017-12-16 17:56] TIXFeniks commented on #672
Found some weird behavior of `partial_run`. If we add `optimizer.apply_gradients` to fetches, it updates the variables without any partial_run calls. So does it really compute anything at `partial_run` call, or does it compute everything at `partial_run_setup` call?

[2017-12-16 18:01] SHFRGRP opened #15416 "tensorflow-aarch64 with keras"
![screenshot_2017-12-17-15-05-30-239_ru iiec pydroid3](https://user-images.githubusercontent.com/31110466/34079284-0cd76cc4-e33c-11e7-8442-438e88e1a38d.png)
![screenshot_2017-12-17-15-04-20-194_ru iiec pydroid3](https://user-images.githubusercontent.com/31110466/34079285-0d1d5edc-e33c-11e7-9109-fbfdce775814.png)
![screenshot_2017-12-17-15-04-36-922_ru iiec pydroid3](https://user-images.githubuserc

[2017-12-16 18:57] tensorflowbutler commented on #15414
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-16 19:09] hadaev8 commented on #12052
I'm trying to build from source by bazel on win 7, get error

Can anyone pre build whl?

[2017-12-16 20:33] yaroslavvb opened #15417 "no protobuf package for macos Python 3.6"
Following instructions on
https://www.tensorflow.org/install/install_mac

`pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/protobuf-3.1.0-cp35-none-macosx_10_11_x86_64.whl
`

This doesn't work for Python 3.6 with error
`protobuf-3.1.0-cp35-none-macosx_10_11_x86_64.whl is not a supported wheel on this platform.
`
If I just change URL cp36, there's no such file

[code]

[2017-12-16 20:55] hsm207 opened #15418 "Eager: `gradients_function` can't compute the gradient for simple functions"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-16 21:23] yaroslavvb opened #15419 "official MNIST example should avoid huge constants"
Right now MNIST model loads dataset as a huge MNIST constant
https://github.com/tensorflow/models/blob/master/official/mnist/mnist.py#L65

This makes graphdef > 1 GB in size. That causes slowness when trying to visualize graph/dump graphdef. It should instead avoid constant. IE, you can load dataset into tf.Variable

[2017-12-16 21:23] #15419 closed

[2017-12-16 21:28] bhack commented on #13101
@jsimsa Somebody is suggesting [this approach](https://stackoverflow.com/questions/47086599/parallelising-tf-data-dataset-from-generator) on stackoverflow. Is it a workaround or a best practice?

[2017-12-16 21:30] bhack commented on #13101
/cc @matpalm

[2017-12-16 21:42] cswords commented on #14247
The nightly built wheels are sometimes less than 30mb, which does not make sense to me. And I confirm that tf_nightly-1.5.0.dev20171216-cp35-cp35m-win_amd64.whl (29.46 MB) does not have eager mode.

[2017-12-16 21:42] hadaev8 commented on #15389
Same on cuda 9.0

[2017-12-16 22:08] Tweakmind commented on #12052
@hadaev8, I need a lot more information to help. I can work on a whl but it will have heavy dependencies and not Win7, once I solve MacOS, I will solve Win10. In any case, post your details.

@eeilon79, I need to recreate this under Win10. I'm currently focused on MacOS now that Ubuntu is solved. I will come back to Win 10.

[2017-12-16 22:09] Tweakmind commented on #12052
@nasergh, is there a requirement for python 2.7?

[2017-12-16 22:23] Tweakmind commented on #12052
With CUDA 8.0 and cuDNN 6.0, this is how I installed TensorFlow from source for Cuda GPU and AVX2 support in Win10::

Requirements:

	* Windows 10 64-Bit
	* Visual Studio 15 C++ Tools
	* NVIDIA CUDA® Toolkit 8.0
	* NVIDIA cuDNN 6.0 for CUDA 8.0
	* Cmake
	* Swig

Install Visual Studio Community Edition Update 3 w/Windows Kit 10.0.10240.0
Follow instructions at: https://github.com/philferriere/dlwin

[2017-12-16 22:33] hadaev8 commented on #12052
@Tweakmind
python 3.6, tensorflow last from master, cuda 9.0, cudnn 7.0.5 for cuda 9.0, basel and swig loaded today.

[2017-12-16 23:02] #7225 closed

[2017-12-16 23:09] sleighsoft commented on #15271
Is transform_grads_fn already exposed in ganestimator? I can't seem to find it.

[2017-12-16 23:17] yaroslavvb opened #15420 "IteratorGetNext should have a None gradient defined"
Currently `IteratorGetNext` has no gradient defined. This can cause failures like below in `tf.gradients`. The solution is to define `None` gradient, like the `tf.stop_gradient` op. A work-around when this failure occurs is to wrap dataset ops inside `tf.stop_gradient`

[code]

[2017-12-16 23:56] leandroBorgesFerreira commented on #15410
Thanks for the workaround

[2017-12-17 00:03] yaroslavvb commented on #15420
Closing because this only seems to happen with a custom optimized version of `_PendingCount`

[2017-12-17 00:03] #15420 closed

[2017-12-17 00:44] PaulGitt commented on #9701
Just update the tensorflow version or try to open tensorboard in your logdir
tensorboard --logdir=your_log_dir/your_speciafy_log_dir
or open tensorboard in your specific logdir
tensorboard --logdir=your_specific_log_dir
these two type can works, because the it depends on which path you open tensorboard

[2017-12-17 01:04] mikeknapp commented on #15258
To fix this, open in XCode > Preferences > Locations and look Command Line Tools. Mine was empty. Selecting a value fixed in that dropdown fixed this issue for me.

[2017-12-17 01:20] tensorflowbutler commented on #15415
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-17 01:20] tensorflowbutler commented on #15416
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-17 01:33] caisq commented on #15418
It should work if you do
[code]
instead of
[code]

The root cause seems to be that the Log op doesn't support the dtype `DT_INT32`.

[2017-12-17 02:30] argman commented on #15213
@rongjiecomputer seems you can compile tensorflow with bazel on windows, can you share how you get that?

[2017-12-17 02:51] hadaev8 opened #15423 "Can't build with basel Python Configuration Error: --define PYTHON_BIN_PATH"
Can't get what im doing wrong.
Win7 python 3.6, tensorflow from master, cuda 9.0, cudnn 7.0.5 for cuda 9.0, basel and swig loaded today

https://github.com/tensorflow/tensorflow/issues/12052

[2017-12-17 03:17] argman commented on #14595
@stefanseibert can you share your experience about "the only modifications are some commented out lines to be able to build AVX support", i cannot compile tensorflow gpu version on windows..

[2017-12-17 03:37] rongjiecomputer commented on #15213
@argman Building Tensorflow with Bazel on Windows should work out of the box now.

1. Download `bazel-0.8.1-windows-x86_64.exe` from https://github.com/bazelbuild/bazel/releases, rename it to `bazel.exe` and put it in `PATH`.
1. set `BAZEL_VS` or `BAZEL_VC` to point to your VS 2017 installation directory (see https://docs.bazel.build/versions/master/windows.html)
1. Clone Tensorflow.
1. Run `confi

[2017-12-17 04:01] rongjiecomputer commented on #15213
@tatatodd I managed to build `tfcompile` with Bazel in Windows and build simple XLA/AOT examples.

First two PRs are at #15310 and #15335, but no reviews received. Can you help me to assign them to suitable reviewers?

I can only send the third PR when #15229, #14893 and #14531 get merged (not by me).

Once these PRs are merged, I will post a guide on how to write new `BUILD` file to import pre-bu

[2017-12-17 06:38] CrazyEric404 commented on #15258
@mikeknapp Thanks, it works!

[2017-12-17 06:47] juxuny commented on #7069
@oumayb
I think I have a similiar problem, too.
But I try to run `cd ~ && python`,  then everything is working well.

[2017-12-17 07:19] tensorflowbutler commented on #15417
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-17 09:45] acappemin opened #15424 ""Not a valid TensorFlow Graph serialization" at org.tensorflow.contrib.android.TensorFlowInferenceInterface.loadGraph.loadGraph"
Hi,
I build libtensorflow_inference.so & libandroid_tensorflow_inference_java.jar from source, then use them in an android studio project. But when I run
TensorFlowInferenceInterface tflite = new TensorFlowInferenceInterface(assetManager, MODEL_PATH);
the program always crashes and prints
"
Caused by: java.io.IOException: Not a valid TensorFlow Graph serialization: Invalid GraphDef
at org.tensorfl

[2017-12-17 10:31] ppwwyyxx opened #15425 "TypeError: broadcast() takes 1 positional argument but 2 were given"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**: b'v1.3.0-rc1-6044-g0b80606' 1.4.0    (2 days ago)
- **Python version**: 3.6
- **Bazel version (if compilin

[2017-12-17 12:02] SHFRGRP commented on #15416
Ok, i will.
I used Keras. When i import, it throws exception.
My OS is Android 7.1.2 MIUI 9, CPU arch - aarch64 (arm), GPU is Snapdragon 505.
I installed tensorflow-aarch64 1.2 from pip.
No bazel.
No cuDNN.

[2017-12-17 12:43] nairvinitha opened #15426 "Unsuccessful TensorSliceReader constructor: Failed to find any matching files for [[Node: save/RestoreV2 = RestoreV2[dtypes=[DT_FLOAT], _device="/job:localhost/replica:0/task:0/device:CPU:0"](_arg_save/Const_0_0, save/RestoreV2/tensor_names, save/RestoreV2/shape_and_slices)]]"
I am working on a TensorFlow Speech Recognition challenge and following https://www.tensorflow.org/tutorials/audio_recognition tutorial. The model training is completed, but I'm not able to Freeze the model.
This is what I get after typing the required command:

[code]
OS - Windows 10
TensorFlow version - 1.4
Python version - 3.6.3
GPU - CUDA V 8 and cuDNN V 6.0

I came across [https://github.com/

[2017-12-17 12:53] tensorflowbutler commented on #15423
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-17 13:13] hadaev8 commented on #15423
I filled.

[2017-12-17 13:54] ferreirafabio commented on #15040
I'd appreciate your comment @wolffg. Thank you

[2017-12-17 15:24] hadaev8 commented on #15423
If i remove check for python and python libs paths, i get this
May be problem with slash?

[2017-12-17 16:26] argman commented on #12052
@Tweakmind do you build with master or ?

[2017-12-17 16:30] tensorflownoob99 commented on #15288
Thank you!! Good to know. When we run that code on our GPU, we get quite similar results (pasted below).

Our initial results still seem a bit odd to me, I guess, since in some cases you may need to get data from the CPU to the GPU, and it's odd that it takes so much longer for eager mode, and it's also odd that it is initially very fast for eager mode but then slows down?

Results with your code:

[2017-12-17 16:46] beniroquai commented on #3032
Sounds cool. Did you publish anything on that already? I’m a bit curious :)

Von: Joshua George Albert <notifications@github.com>
Antworten an: tensorflow/tensorflow <reply@reply.github.com>
Datum: Donnerstag, 14. Dezember 2017 um 23:05
An: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: beniroquai <bene.d@gmx.de>, Comment <comment@noreply.github.com>
Betreff: Re: [tensorflow/tensorflow]

[2017-12-17 16:48] ebrevdo commented on #5588
No more than the current version.

On Thu, Dec 14, 2017, 2:22 AM Bayberry Z. <notifications@github.com> wrote:

[2017-12-17 16:52] kxhit commented on #8858
Hi I meet the same problem when I run vgg16 net on faster cnn. THe system just suddenly reboot when I run the code.
I'm using TF1.4 cuda8.0 Geforce GTX TITAN X in ubuntu14.04.
Any solutions？Thanks a lot！！！ @surmenok

[2017-12-17 18:59] tensorflowbutler commented on #15424
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-17 19:22] surmenok commented on #8858
My solution was to replace a power supply with a better one. My machine works well with "Cooler Master V1000".

[2017-12-17 19:23] AlphasCodes commented on #22
I did some [benchmarks](https://github.com/AlphasCodes/DeepLearning/blob/master/Benchmarks.md) and it seems the iGPU is slower than the 4 available CPU threads except of the [matmul_bench.py](https://github.com/AlphasCodes/DeepLearning/blob/master/matmul_bench.py) benchmark.

The initialization of a OpenCL Tensorflow run is also much slower than a CPU only OpenCL Tensorflow run. Something like 5 s

[2017-12-17 19:25] creativesh opened #15428 "[BUG] Cifar10 mutigpu loss does not decrease and is oscillating"
Hi
I want to develope a resnet50 multigpu system in tensorflow,
so I want to replace my model in [**cifar10_multigpu_train**](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py)
but when I run this code, loss does not decrease efficiently,until step 5000
my question is : can I trust this code? Is  the code correct?
**I use:**
ubuntu 16.04
installed

[2017-12-17 19:39] janusfxxx commented on #10779
Hello,
I'm new to python and tensorflow. Trying the MNIST example and receive the about the same error messages as paulcwatts (above)

Traceback (most recent call last):
  File "C:\Users\Andreas\Documents\Python\lib\urllib\request.py", line 1318, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "C:\Users\Andreas\Documents\Python\lib\http\client.py", line 1239, in request

[2017-12-17 19:44] mGworkS opened #15429 "RuntimeError: No C++ shape function registered for standard op: SingleImageRandomDotStereograms"
single_image_random_dot_stereograms (windows bug)
the function works fine on ubuntu 16.04 / tf 1.4.0 (CPU)

I know, that the support for unsupported libraries in tf.contrib on Windows is incomplete, and left up to the individual contributors. I found some sketchy solutions by editing gen_single_image_random_dot_stereograms_ops.py, but i could not figure it out correctly.

**Source code**
[code]

*

[2017-12-17 19:45] amirj opened #15430 "Placeholders should have a feeding schedule in TensorFlow?"
I have a parameter which should set **at the beginning** of each epoch and it is **constant** during the epoch's execution. Currently, we defined a placeholder for this param and during the training I have to pass the same value in each iteration:

`sess.run(train_op, feed_dict={param: const_param})`

It's a bit inefficient since pass the same value at each step of the same epoch. Is it possible t

[2017-12-17 19:58] znmeb commented on #22
@AlphasCodes I noticed that when I read through the benchmarks on your site. I haven't run them yet; I am still trying to get things to compile on Arch.

[2017-12-17 20:47] AlphasCodes commented on #22
OK i did some more troubleshooting.

- i used the Tensorflow MNIST example [see the "Validate a Tensorflow Setup" section of the Tensorflow Setup document](https://github.com/AlphasCodes/DeepLearning/blob/master/Tensorflow_Setup.md)
- i used "sudo cat /sys/kernel/debug/dri/0/amdgpu_pm_info" to check/watch the iGPU clock/load and "top" to check the CPU load
- the intialization phase until Step 0 to

[2017-12-17 21:01] hadaev8 commented on #12052
@Tweakmind
May you build on windows with cuda 9 cudnn 7 and share .whl?

[2017-12-17 21:44] swayam01 commented on #34
Swayam-MacBook-Pro:~ Swayam$ docker run -it gcr.io/tensorflow/tensorflow:latest-devel
docker: Error response from daemon: oci runtime error: container_linux.go:265: starting container process caused "exec: \"/bin/bash\": stat /bin/bash: no such file or directory".

Stuck with this error since morning! no answers available in forum

[2017-12-17 21:47] mirh commented on #22
What I used [yesterday](https://gist.github.com/mirh/f0042f84e57e610c6b065f17b66212e6).
After 14 hours (yes, my potato is very slow) I got [this binary](http://www34.zippyshare.com/v/Nkg9V93b/file.html), if you want to try.

[2017-12-17 22:23] znmeb commented on #22
@mirh I have it compiled - there were some missing things in my Python stack that I had to install. That's the good news.

The bad news is that `radeontop` is showing almost no GPU activity on `mnist`. That would explain why the CPU is faster than the GPU - the GPU code is spending all its time shuffling data in and out of GPU memory.

I'm going to try some of the other tutorials to see if any of

[2017-12-17 23:29] LeeKyungMoon commented on #9020
@Lescurel,  with your code, I got an error below:
**"Tensors in list passed to 'values' of 'Pack' Op have types [int32, <NOT CONVERTIBLE TO TENSOR>, <NOT CONVERTIBLE TO TENSOR>, int32] that don't all match"**

I'm trying this code with the tutorial of **object detection** from [tensorflowAPI](https://github.com/tensorflow/models/blob/master/research/object_detection/object_detection_tutorial.ipynb

[2017-12-18 00:52] tensorflowbutler commented on #15426
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-18 01:28] yongtang commented on #15429
The `SingleImageRandomDotStereograms` does not have a shape function I think that is the issue.

I added a PR #15431 with the shape function added.

Note`SingleImageRandomDotStereograms` takes an attribute of `output_image_shape` which is in the format of `[X, Y, C]` (`[ImageX, ImageY, Channel]`).

However, the actual data output is in the format of `[ImageY, ImageX, Channel]` (`[h, w, c]`). So by

[2017-12-18 01:35] #15424 closed

[2017-12-18 01:42] bzamecnik commented on #8858
Just a report: my 980 Ti works fine on 100% load from mining (at 78 deg C
with water cooling). So I'm not sure how it can be affected by a power
source.

Dne 18. 12. 2017 2:24 napsal uživatel "Pavel Surmenok" <
notifications@github.com>:

My solution was to replace a power supply with a better one. My machine
works well with "Cooler Master V1000".

—
You are receiving this because you commented.
R

[2017-12-18 01:47] surmenok commented on #8858
I'm not sure either. I tried to run gpu_burn to utilize GPU 100% and it worked fine. But TensorFlow was able to bring it down. The problem was solved by replacing the power supply.

[2017-12-18 02:57] snnn opened #15432 "[feature request] Switch to nvidia-docker v2?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.4.1
- **Python version**:
3.5.4
- **Bazel version (if compiling from source)**:
None
- **

[2017-12-18 03:24] snnn commented on #15297
Hi @meteorcloudy
Can you review that PR?

Thanks.

[2017-12-18 04:46] jyoungrok opened #15433 "[Feature Request] Automatic node placement"
I read tensorflow white papaer and found node placement which allocates graph nodes to devices without manual configuration.

https://www.reddit.com/r/MachineLearning/comments/4n6a0e/distributed_tensorflow_resource_allocation/

However, this post says this feature was removed because it did not perform well.

I think that automatic allocating graph nodes to devices for optimizing parallel executio

[2017-12-18 05:05] jeffheaton commented on #7287
FYI, I switched to Keras.  It actually implements sklearn in a way that works with sklearn.

[2017-12-18 05:53] gunan commented on #15432
The tensorflow CI uses nvidia-docker v2 for a while now.
Is there anything specific you saw that we missed?

[2017-12-18 05:55] gunan commented on #15423
@meteorcloudy could you take a look?

[2017-12-18 05:56] gunan commented on #15417
Looks like this is something we missed.
@jhseu FYI

[2017-12-18 06:24] snnn commented on #15432
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/ci_build.sh#L83
It still depends on nvidia-docker command? Instead of that, it should use:

    docker run --runtime=nvidia ...

[2017-12-18 06:38] snnn commented on #15393
If may because of two things:
1. you don't have enough memory.

2. you are using 32 bits toolchains.
   Please upgrade cmake to 3.10.x and add "-T host=x64" to cmake command line args.

[2017-12-18 06:42] snnn commented on #15389
It's a known issue. I can reproduce it under Fedora 25 and CUDA 9.1.

[2017-12-18 07:14] gunan commented on #15432
`nvidia-docker` command is still available for backwards compatility with nvidia-docker2.
This script gets installed on your system once you install nvidia docker v2
https://github.com/NVIDIA/nvidia-docker/blob/master/nvidia-docker

[2017-12-18 07:14] #15432 closed

[2017-12-18 07:15] Omegasad opened #15435 "tensorflow-gpu not working with pycharm"
I am trying to get the tensorflow-gpu working on pycharm but it doesn't compile. When I compile it, it gives me the following compile error

I am using Pycharm with the Python 3.6 venv and I am pretty sure I have CUDA 8.0 installed. When I check the directory of CUDA\v8.0\bin, it shows the cudart64_80.dll

It works perfectly on the CPU version but I want it working on the GPU side

[2017-12-18 07:23] tensorflowbutler commented on #15428
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-18 07:23] tensorflowbutler commented on #15430
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-18 07:27] blx22 commented on #3115
Hello, I am also wondering if there are any updates for this? I am currently trying to deal with transfer learning for LSTMCell. I would like to initialize the weights of the LSTMCell with my pretrained model weights. However, I am not very sure how should I approached this problem.

[2017-12-18 07:29] brainwave commented on #22
I have tried figuring out whats happening but unfortunately i wasn't able to. I'd appreciate if someone who knows about the following can help me come up to speed!

Most of the above discussion pertained to getting Tensorflow running with OpenCL acceleration on AMD chips. Am I correct in saying this? If I want to get gpu accelerated tensorflow using my integrated graphics card (intel HD 5000) whic

[2017-12-18 07:36] shadySource commented on #6035
I was able to make a workaround for CPU.
Warning: it is slow, bloated, and basically a last resort. But I can get ENet to run on my cpu at 5s/image...
Right now it is only for 2x2 maxpooling, but you could change the numbers and add things to expand upon this example.
[code]
becomes
[code]

Also, that part of the gpu kernel is on [this line](https://github.com/tensorflow/tensorflow/blob/40eef4473b

[2017-12-18 07:45] weidong8405347 commented on #15216
@andydavis1  i use monitored_session or supervisor to do the initialize_variables, when data is not so large, it will initialize successfully, my machine have more than 300GB memory is enough for the larger variable

[2017-12-18 07:56] scotthuang1989 commented on #15040
@ferreirafabio   I think your code is at early stage? a lot of hard coding.

[2017-12-18 08:20] zyxcambridge opened #15438 "can tf use the dataset from western faces to predict the Asia people's faces?"
can tf  use the dataset from western faces to predict the Asia people's faces?

是否可以 用西方人的人脸数据 检测 亚洲人脸？

[2017-12-18 08:36] craigcitro commented on #34
@swayam01 I can't seem to repro what you're seeing; my advice is to `docker pull gcr.io/tensorflow/tensorflow:latest-devel` and then try again.

If that doesn't work, go ahead and file a new issue.

[2017-12-18 08:57] chrisrn commented on #15364
I am running the following command:
`export CUDA_VISIBLE_DEVICES=“0,1”; python tf_cnn_benchmarks.py --num_gpus=2 --batch_size=64 --model=resnet101 --variable_update=parameter_server --local_parameter_device=cpu --data_format=NHWC`

and the warm up is really slow. I changed the data_format because of the error

[2017-12-18 09:09] XeMinZa commented on #14381
I have tried as the tutorial. But it emitted error
`WARNING:tensorflow:Input graph does not contain a QueueRunner. That means predict yields forever. This is probably a mistake.
error: None values not supported.`
so, what's the problem..

[2017-12-18 09:17] chrisrn commented on #15364
Basically this command runs on cpu. It's really strange because --device=gpu

[2017-12-18 10:19] znmeb commented on #22
@brainwave Do a Google search for Intel OpenCL - they have downloads for Windows and Ubuntu IIRC. On Arch Linux, there's a package in the Arch User Repository if Intel doesn't have one.

[2017-12-18 10:26] ferreirafabio commented on #15040
@scotthuang1989 Absolutely! I quote the readme:
`This implementation was created during a research project and grew historically. Therefore, we invite users encountering bugs to pull-request a correction.`

To be honest, I don't know what you're implying. I don't think stating the condition of the repository is an argument for why it isn't helpful to other people.

[2017-12-18 10:26] gopi77 opened #15442 "Tensorflow installation error"
Tensorflow installation error.

Method followed: https://www.tensorflow.org/install/install_linux#InstallingAnaconda

(Environment ubuntu 16.04, anaconda 4.3.29, Python 2.7.13, nvidia 1070 GPU)
Please help.

gopi@gp:~$ source activate tensorflow
(tensorflow) gopi@gp:~$ pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.4.0-cp27-none-linux_

[2017-12-18 10:29] axelurbiz commented on #15415
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
TensorFlow installed from (source or binary): N
TensorFlow version (use command below): 1.4
Python version: 2.7.12
Bazel version (if compiling from source): NA
GCC/Compiler version (if compiling from source): NA
CUDA/cuDNN version: NA
GP

[2017-12-18 10:37] rsathishr commented on #6971
Same Problem, pls guide me

InvalidArgumentError: Cannot parse tensor from proto: dtype: DT_FLOAT
tensor_shape {
  dim {
    size: 3840000
  }
  dim {
    size: 1024
  }
}
float_val: 0

[2017-12-18 10:43] betterenvi commented on #12414
I am using TF 1.4.0. The following works, though weird.
[code]

[2017-12-18 11:03] Carmezim commented on #15442
Seems like an authorization issue rather TensorFlow's. Your user is probably not authorized to access a directory necessary for the installation. Using `sudo` will work but be sure you know what you're doing.

[2017-12-18 11:05] varun19299 commented on #10419
Same issue as @ProGamerGov , the input tensors are not recognised for either of inception v3 or any subsequent models (model zoo, tensorflow).

[2017-12-18 11:07] kxhit commented on #8858
@surmenok
I tired to run gpu_burn to utilize GPU 100% and it worked fine too. But when I run your code with `input_dimension=10000` or more will make my system reboot suddenly. I'm using 600W power supply. I may have to replace the power supply for a try.

[2017-12-18 11:37] gopi77 commented on #15442
Thanks for the reply.
Still error. Please check

(tensorflow) gopi@gp:~$ sudo pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.4.0-cp27-none-linux_x86_64.whl
The directory '/home/gopi/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that d

[2017-12-18 11:41] facaiy commented on #15285
@hanfeisun Hi, I added a very rudimentary implementation of `cohen_kappa` in PR #15443. It is pretty rough as am not sure about the api. Please take a look and comment. Thanks.

[2017-12-18 11:51] Carmezim commented on #15442
Now it's a different error. Could you perhaps have created an environment for Python 3 rather 2?
This error occurs when the binary that doesn't correspond with the local environment, e.g. OS, Python version etc.

[2017-12-18 11:59] vinceyuan opened #15445 "Cannot compile tensorflow lite (TfLiteCameraDemo and tensorflow/python/tools:freeze_graph) on macOS Sierra"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Sierra 10.12.6
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.1 (fdf34a8 on master branch)
- **Python version**: 2.7.13
- **Bazel version (if

[2017-12-18 12:40] fvisconti commented on #6153
Hi all,

I have exactly the **opposite** behaviour.
My net is quite simple:
[code]
same inputs, running on two systems, CPU (Intel Core i5, compiled from source with SIMD support) and GPU (Nvidia Tesla K20).

GPU run is significantly faster (as expected, and I'm quite surprised to read this issue here); what is surprising is that after the first epoch on **CPU I have**
```4951s 566ms/step - loss:

[2017-12-18 12:45] brainwave commented on #22
@znmeb Hi Ed, thanks for replying. I have gotten OpenCL downloaded and running on my system. But my question was - how can I compile tensorflow to actually use the OpenCL libraries?

[2017-12-18 12:48] fvisconti commented on #6153
Found this: https://stackoverflow.com/a/43264395/827818
I added these lines:
[code]
In order to exclude randomness issues.

[2017-12-18 12:53] anonym24 commented on #15312
forgot `tensorflow/contrib/makefile/download_dependencies.sh`
solved

[2017-12-18 12:53] #15312 closed

[2017-12-18 12:58] tensorflowbutler commented on #15433
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-18 13:08] mirh commented on #22
https://developer.codeplay.com/computecppce/latest/getting-started-with-tensflow
And most importantly for intel https://github.com/codeplaysoftware/computecpp-sdk/issues/78#issuecomment-352411192

[2017-12-18 13:19] rodburns commented on #22
@AlphaCodes Thanks for publishing your results. With regard to the initialisation time, the way OpenCL works is that the code is compiled before execution, so the startup time is the compilation process.

@brainwave For Intel devices, there is a thread with @mirh [here]( https://github.com/codeplaysoftware/computecpp-sdk/issues/78) that explains how to remove the restrictions around running device

[2017-12-18 13:33] aloisg commented on #11280
Facing the same issue, on MacOS

[2017-12-18 14:48] SergeyBykov1 opened #15447 "[cmake] CPU only build error in tf_stream_executor.cmake"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: master
- **Python version**: N/A, building with cmake
- **Bazel version (if compiling

[2017-12-18 14:49] maxfiedler opened #15448 "[Feature] Dataset API - Reinitializable Iterator resets to first dataset element"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: slightly altered stock example (see below)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: 1.4.0 from source
- **Python version**: 3.6.3
- **Bazel version (if compiling from source)**: 0.7.0
- **

[2017-12-18 14:56] eddr opened #15449 "Tensorflow-gpu 1.4.1 windows binaries couldn't be found"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 1709
- **TensorFlow installed from (source or binary)**: looking for the binary
- **TensorFlow version (use command below)**: 1.4.1
- **Python version**: 3.6.3 64-bit
- **E

[2017-12-18 14:57] nikste commented on #15448
I'm having the same problem, how can you switch between training and validation pipeline, without resetting the iterators?

[2017-12-18 14:59] z589533 opened #15450 "TensorFlow binary was not compiled to use: AVX AVX2 from Java 1.8"
![image](https://user-images.githubusercontent.com/12063612/34111971-2b81c42a-e446-11e7-8482-6e3f3867e8d6.png)

![image](https://user-images.githubusercontent.com/12063612/34112074-6ad1b824-e446-11e7-8541-02ae054aefa0.png)

------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform from Wind

[2017-12-18 15:01] z589533 commented on #15450
2017-12-18 22:59:15.864242: I tensorflow/core/platform/cpu_feature_guard.cc:137] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX AVX2

from java VM options Can you specify the GPU?

[2017-12-18 15:03] z589533 commented on #15450
![image](https://user-images.githubusercontent.com/12063612/34112468-96bedb6e-e447-11e7-865b-5946f4accfdc.png)

[2017-12-18 15:06] z589533 commented on #15450
[display]
Operating System: Windows 10 Pro, 64-bit
DirectX version: 12.0
GPU Processor: GeForce GTX 1060
Driver Version: 388.59
Direct3D API version: 12
Direct3D functional level: 12_1
CUDA core: 1280
Core clock: 1404 MHz
Memory data rate: 8008 MHz
Memory Interface: 192-bit
Memory Bandwidth: 192.19 GB / s
Total available graphics memory: 10180MB
Dedicated video memory: 6144 MB GDDR5
System video m

[2017-12-18 15:06] bansalmk18jan opened #15451 "Tensorflow Installation Problem in Anaconda3-5.0.1Environment"
After installing the Anaconda3-5.0.1 on Ubuntu 17.10, I have followed the following steps to install the Tesnorflow -

$ conda create -n tensorflow python=3.6
$ source activate tensorflow
(tensorflow)$ pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.4.0-cp36-cp36m-linux_x86_64.whl
After installing the above pakages, I have verified the abov

[2017-12-18 15:06] z589533 commented on #15450
![image](https://user-images.githubusercontent.com/12063612/34112625-2277d408-e448-11e7-9b99-92f3618b977f.png)

[2017-12-18 15:09] z589533 commented on #15450
Trouble to help me locate the problem, thanks

[2017-12-18 15:13] snnn commented on #15451
Please use python 3.5

[2017-12-18 15:13] kmhofmann commented on #15448
Indeed, I have also observed the same issue.
Prior to using the Dataset API, I could implement multiple queues that would fetch data in parallel; what was unfortunately not possible was to reset (reuse) them after an epoch, e.g. for repeated evaluation of the validation set.

Now, with a re-initializable iterator, the queue(s) seem to be coupled to the iterator and will be forcibly reset by switch

[2017-12-18 15:15] snnn commented on #15450
It's a warning, not a bug.
If you need AVX support, compile libtensorflow by yourself.

[2017-12-18 15:17] snnn commented on #15449
They didn't release TF 1.4.1 for Windows. I hope you've read the release note.
"NOTE: There is no Windows binary for 1.4.1. The only difference to 1.4.0 is the CloudML Engine fix, and since CloudML Engine only supports Linux, Windows is unaffected."

[2017-12-18 15:21] snnn commented on #15435
Is it in your PATH?
Please run
[code]

[2017-12-18 15:23] eddr commented on #15449
Apparently I haven't. Thx

[2017-12-18 15:24] z589533 commented on #15450
https://storage.googleapis.com/tensorflow/  i find storage,not find  libtensorflow_jni-gpu-windows-x86_64-1.4.0.zip ,only libtensorflow-gpu-linux-x86_64-1.4.0.tar.gz

[2017-12-18 15:26] z589533 commented on #15450
Have a tutorial, please send me, thank you

[2017-12-18 15:32] Omegasad commented on #15435
Microsoft Windows [Version 10.0.16299.125]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\Users\Tori>echo %PATH%
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\bin;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\libnvvp;;C:\ProgramData\Oracle\Java\javapath;C:\Program Files (x86)\Intel\iCLS Client\;C:\Program Files\Intel\iCLS Client\;C:\Windows\system32;C:\Windows;C:\Wind

[2017-12-18 15:35] unoexperto commented on #22
@AlphasCodes Guys, I apologize for perhaps naive question but why is this build AMD GPU only ? Isn't OpenCL supposed to be standard ? Do I understand it correctly that it won't work on my Intel Carbon X1 with installed OpenCL 2.0 drivers ?

[2017-12-18 15:42] jonasrauber commented on #10155
Would be nice to have an official example in the docs, showing how to use the Estimators API when some weights should be initialized from an existing checkpoint in the very first step and all others should be initialized randomly. @honkentuber

[2017-12-18 15:42] snnn commented on #15435
You have 2 Python here. How does it work?

[2017-12-18 15:47] Omegasad commented on #15435
One of it is python 2.7 and the other one is 3.6
I deleted the python 2.7 though and only have the 3.6 at the moment

[2017-12-18 15:57] mirh commented on #22
If you read the issue that was linked twice, you'd see there's nothing about amd gpu.
Intel's is currently excluded, but it has nothing to do with wanting to force users, and there is a temporary workaround - discuss there if really any.

[2017-12-18 15:58] snnn commented on #15435
Can you run your code directly on command line, without PyCharm?  Is your problem specific to PyCharm or not?

[2017-12-18 16:00] mirh commented on #15204
The thing build fine for me with [this tree](https://github.com/lukeiwanski/tensorflow/tree/dev/amd_gpu)
Can you check ?

[2017-12-18 16:03] snnn commented on #15450
Np. Your suggestion is nice, I feel sad that I can't help you. My English is bad. You may seek help from the others.

[2017-12-18 16:28] Omegasad commented on #15435
It is specific to pycharm. I don't think I have tensorflow working on command line but I am planning on working with pycharm only

[2017-12-18 16:36] desperadoduck commented on #22
When i use the amd_gpu branch with a jupyter notebook, there seems to be a left over thread. python still uses 100% of one cpu, even after the computation has finished. Restarting the kernel finishes the stray thread. Does anybody else experience this?

[2017-12-18 16:47] fo40225 opened #15452 "Build break on locale Windows"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-18 16:56] leonlee723 commented on #11037
I encountered the issue. Has anyone resolve the issue?

[2017-12-18 16:59] tomergafner commented on #8211
Any progress here ?

[2017-12-18 17:08] bansalmk18jan commented on #15451
I have already tried several times and observed that latest tensorflow will
require python3.6.
Pls. explain me the steps to follow to use python 3.5.
Thanks & Regards
Manoj Bansal

On Mon, Dec 18, 2017 at 8:47 PM, Changming Sun <notifications@github.com>
wrote:

[2017-12-18 17:15] leonlee723 commented on #2554
virtualenv --system-site-packages -p /System/Library/Frameworks/Python.framework/Versions/3.6/bin/python3 /Users/lile/developer/TensorFlow
Running virtualenv with interpreter /System/Library/Frameworks/Python.framework/Versions/3.6/bin/python3
Using base prefix '/System/Library/Frameworks/Python.framework/Versions/3.6'
New python executable in /Users/lile/developer/TensorFlow/bin/python3
Also crea

[2017-12-18 17:53] mrry commented on #15452
This issue was fixed in 6a35171131331a31d70e67e6d244422f3d15aafb.

[2017-12-18 17:53] #15452 closed

[2017-12-18 18:05] rossanacunha commented on #14182
Same issue on Ubuntu 16.04 LTS.

[2017-12-18 18:06] davidoak commented on #1263
@michelleowen Have you solved the problem? I have the save question. Thanks

[2017-12-18 18:13] mrry commented on #14793
If you upgrade to a nightly build, you will find the `tf.data` now supports sparse tensors natively, thanks to @jsimsa's hard work!

[2017-12-18 18:15] jsimsa commented on #13101
I commented on the Stack Overflow thread; if possible, moving expensive processing from a `generator` to a `map` will make it possible to parallelize the processing. I find that preferrable to creating multiple identical generators and combining them using `interleave`.

On a related note, the extreme version of the approach discussed on the Stack Overflow page is to replace  `tf.data.Dataset.from

[2017-12-18 18:22] michelleowen commented on #1263
@davidoak yes, I did. Please refer to the stackoverflow: https://stackoverflow.com/questions/35582858/how-can-i-get-final-embeddings-from-word2vec-py/35611003?noredirect=1#comment76826763_35611003

[2017-12-18 18:24] themodernlife commented on #13766
I'd also like to see `Dataset.padded_batch` support `tf.SparseTensor`.  Right now I'm using Spark to create word vectors and I'd prefer to keep all data in TFRecord files and implement zero-padding at the last moment in TensorFlow.

Basically would like something like the below to work where `max_tokens` could be selected during model generation.

[code]

[2017-12-18 18:32] frankgh commented on #15142
Hi,

I'm having the same issue. I can't find a branch under that name. How were you able to fix the issue?

Thank you,

[2017-12-18 18:37] #12344 closed

[2017-12-18 18:39] AlphasCodes commented on #22
@brainwave @unoexperto
Sorry I cannot help with Intel OpenCL because i have only AMD OpenCL hardware.

@rodburns Thank you for the information.
Is it possible to speed up the initial compile time? e.g. using all available CPU threads instead of only 50%.

[2017-12-18 18:40] davidoak commented on #1263
@michelleowen thank you! I was also wondering after generating the .txt embedding file, can I use this to implement KNN retrieval task? For example, displaying top 10 nearest words. If so, do you know how I can do it?

[2017-12-18 18:40] martinwicke commented on #14042
I don't think there's anything else to do:

- `train_and_evaluate` uses EvalSpec, which has a `hooks` field.
- `Estimator.evaluate` has `hooks` argument.

[2017-12-18 18:49] asimshankar commented on #6971
@lokesh005 @rsathishr @wangzhenhui1992 @pgalilea @huyvohcmc @pribadihcr @LeviZell @Lukeeeeee @mayankj08 @pj-parag - Sorry to hear this, but it would help if more detailed information was provided. Is everyone using 1.4.0? Can you provide a short snippet that reproduces the problem?

For example, in a [previous comment](https://github.com/tensorflow/tensorflow/issues/6971#issuecomment-274227371) I

[2017-12-18 18:54] martinwicke commented on #14886
I see no documentation about this behavior. @themightyoarfish, where did you see "that first and last stride dimension must be 1"? I cannot find anything like that.

So I think this is a bug. Fixing avgpool to respect the channels stride would be ideal. Or we can clearly document the expectations.

[2017-12-18 18:58] angersson commented on #15395
I'm unfamiliar with the OSX build process myself, so I don't know, no.

[2017-12-18 19:00] tensorflowbutler commented on #15438
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-18 19:32] choongng commented on #22
@brainwave @rodburns
For Intel GPU (Gen9) under Linux we have seen significantly better DNN performance with Intel's open source Beignet implementation vs the closed source one when benchmarking with common vision nets on PlaidML. Beignet is also easier to install which is nice.

[2017-12-18 19:42] znmeb commented on #22
@choongng My old laptop is too old to use beignet (Sandy Bridge) but it does run the Intel OpenCL library from Arch just fine. But yeah, on Linux, beignet is the way to go for Intel CPUs. I've also run pocl but it's been giving me problems lately.

[2017-12-18 19:53] znmeb commented on #22
imagenet benchmark:

with AMD card, OpenCL / SYCL build
[code]

stock TensorFlow via `conda install tensorflow`
[code]

Conclusion: don't use a GPU on small problems, but at least the GPU is working and gets the right answer (it's a giant panda). ;-)

[2017-12-18 19:56] #15325 closed

[2017-12-18 20:08] themightyoarfish commented on #14886
i forgot to add the link to my issue; it says here (https://github.com/Hvass-Labs/TensorFlow-Tutorials/issues/19) that first and last should be 1, but it's not official documentation.

On 18 December 2017 19:58:51 CET, Martin Wicke <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-12-18 20:15] jhseu commented on #11280
I still can't reproduce this issue on both the Linux and MacOS with pip install tensorflow.

[2017-12-18 20:16] yongtang commented on #13521
Added PR #15402.

[2017-12-18 20:35] reedwm commented on #15389
/CC @nluehr can you fix this in Eigen?

[2017-12-18 20:39] martinwicke commented on #14998
You could add it contrib, in a new module, possibly called contrib/ops. I am skeptical that it's worthwhile, although you never know how many people silently want this as well.

[2017-12-18 20:51] martinwicke commented on #14047
We did not implement `x.size == tf.size(x)` because it would be similar to numpy. `tf.size(x)` returns a `Tensor`, while `ndarray.size` is an `int`. Almost no code that relies on the numpy behavior would work with `Tensor`s, so I'd rather not give the impression it would.

Even in Eager mode, the things returned from tf.shape will be TensorShape objects, not lists of integers. While these are most

[2017-12-18 20:51] #14047 closed

[2017-12-18 21:19] jhseu commented on #15417
We don't build protobuf versions anymore, so we should probably just delete that from the instructions.

[2017-12-18 21:26] akofman commented on #15142
@frankgh it's a pip package, see https://github.com/tensorflow/tensorflow#installation

[2017-12-18 21:52] #9827 closed

[2017-12-18 22:03] mrry commented on #13348
This is not an issue with the `tf.data` API: the `h4` tensor inherently has an unknown shape, because it depends on flattening a variable-size tensor.

The problem here is that `tf.layers.dense()` infers the number of input units in the layer from the shape of the input (`h4` in this case), and therefore it requires the input to have a static number of columns. However, in your program the number

[2017-12-18 22:03] #13348 closed

[2017-12-18 22:09] mrry commented on #14017
I don't think we can change that behavior without breaking backwards compatibility. I tracked down the original commit that added [this behavior](https://github.com/tensorflow/tensorflow/blame/4cdc52964ae24f2c2b863939b4dc9cbe9cd9d104/tensorflow/python/framework/tensor_util.py#L424), by @zffchen78. There's no documentation of the rationale, but perhaps ZF can comment.

(I suspect the reason is some

[2017-12-18 22:19] OscarDPan commented on #14662
@drpngx were you suggesting me to use the dataset API to create a synchronization barrier? I am not sure if that helps with the problems I found as I mentioned in the post above.

And FYI I had no problem enqueuing/dequeuing training data to/from a RandomShuffleQueue. As to whether it is ok to use FIFOQueue to create sync barrier, I am not sure since there's the server connection problems hinderin

[2017-12-18 22:42] yaroslavvb commented on #15417
So what's the recommended version of getting cpp version of protobuf? The default python version is slow (ie, timeline generation takes forever)

[2017-12-18 22:58] nlopezgi commented on #14610
I was having this same issue in a new container I created to build tensorflow and run some tests. Error went away after I remembered to run the ./configure script at the root of the project.

[2017-12-18 23:13] tylerlekang commented on #6417
I am seeing the same issue as noted in the original post, in Tensorflow-gpu version 1.4.0 with Python 3.6.2, on Windows 7.

The restore function does not have a problem with just a string of a filename, but the save function can't handle it. If I put './filename.ckpt', as suggested by other poster, then the saver is fine.

[2017-12-18 23:27] KarimElshaweish commented on #2685
from tensorflow.python.keras._impl.keras.utils import data_utils
just write it

[2017-12-18 23:27] KarimElshaweish commented on #9076
write
 from tensorflow.python.keras._impl.keras.utils import data_utils

[2017-12-19 00:20] bhack commented on #13101
@jsimsa I think that `generator` is an important parallel case to handle in the docs cause frequently it needs to handle itself the concept of epoch.

[2017-12-19 00:29] auroua commented on #14182
Same issue.

[2017-12-19 00:39] ppwwyyxx opened #15463 "Bug: StagingArea.size() always return 0 when placed on a different device"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 14.04
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:b'v1.3.0-rc1-6044-g0b80606' 1.4.0
- **Python version**:  3.6
- **Bazel version (if compiling fro

[2017-12-19 00:42] OscarDPan opened #15464 "[Feature Request] Sparse compute_gradient"
I am working on an extremely large scale linear model and have been trying to optimize the performance of the TF optimizer.

**Have I written custom code**
Version I.
My feature size is huge (500Mil) and sparse, so I was testing if I could make TF only compute the necessary gradients and apply it using some function like tf.scatter_sub()
My graph is like this:
[code]
I found that tf.graidents() al