[2017-09-02 17:35] avostryakov commented on #10685
@gunan I installed MLK on Mac OS (by default in /opt/intel/mkl)
Then I tried to install tensorflow from source with the following configuration parameters:

LD_LIBRARY_PATH=/opt/intel/mkl/lib/ ./configure
You have bazel 0.4.5-homebrew installed.
Please specify the location of python. [Default is /Users/vostryakov/projects/env/bin/python]:
Found possible Python library paths:
  /Users/vostryakov/pr

[2017-09-02 17:39] nectario commented on #10708
When I try to build it now it is much better but I get the following error now:
`bazel build --config opt tensorflow/java:tensorflow tensorflow/java:libtensorflow_jni

[32mINFO: [0mLoading complete.  Analyzing...
[1A[K[35mWARNING: [0mC:/development/projects/tensorflow/tensorflow/core/BUILD:1634:1: in includes attribute of cc_library rule //tensorflow/core:framework_headers_lib: '../../extern

[2017-09-02 18:04] ArtsiomCh commented on #12593
Current update:
TF version shown as 1.3 in log (Master branch from GitHub on Sep 1 / 2017, head on commit a2e1a5e0985d8d2c1ec3a3f246dad214600af21c)
app build at Android Studio 2.3.3 on Linux Ubuntu 16.04
app tested on Meizu M2 Note (Android 5.1, API 22)

With `useCamera2API = true` TF Detect works with both `nativeBuildSystem = 'cmake'` and `nativeBuildSystem = 'none'` (i.e. with Java and native i

[2017-09-02 18:07] ArtsiomCh commented on #12431
@andrewharp I've continued conversation about TF Detect at https://github.com/tensorflow/tensorflow/issues/12593#issuecomment-326760562

[2017-09-02 18:07] sarah-zaheer commented on #12722
***My command:**
sudo python tensorflow/examples/speech_commands/train.py > --data_url= > --data_dir= /home/sarah/Downloads/final/ > --wanted_words= shout,glass > --how_many_training_steps= 1000,200 > --learning_rate= 0.001,0.0001

***The output:**
Traceback (most recent call last):
  File "tensorflow/examples/speech_commands/train.py", line 79, in <module>
    import input_data
  File "/home/sara

[2017-09-02 18:07] yongtang commented on #12767
@calthome Are you referring to tfcompile.bzl (below)?
https://github.com/tensorflow/tensorflow/blob/da3aa93758508a37741dad1d8b28e62782330171/tensorflow/compiler/aot/tfcompile.bzl#L148

I am new to Bazel as well though I think using `" ".join(tfcompile_flags or [])` instead will allows `tfcompile_flags` to be a list.

[2017-09-02 18:09] yongtang commented on #12767
Created a PR #12769 for this issue.

[2017-09-02 18:13] tcmxx commented on #10708
@nectario How did you build it? Have you try to run https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/windows/libtensorflow_cpu.sh in shell?
I don remember that i had this error before..

[2017-09-02 18:15] gunan commented on #10685
You still need changes similar to this commit:
https://github.com/gunan/tensorflow/commit/ecd85c21545e4c47a78fa331b4e4bfce7af09180

I am waiting the bazel bug referenced to be fixed and released to be able to test the commit, then I will create a PR to the master repository.

[2017-09-02 18:21] nectario commented on #10708
I went to the root directory where I downloaded the tensorflow code:
(bazel is already installed)

c:\Development\Projects\tensorflow

There, I typed "configure" and specified all configuration parameters. For example, where my CUDA and CUDNN directories are etc.

Finally I typed this command:

bazel build --config opt tensorflow/java:tensorflow tensorflow/java:libtensorflow_jni

Btw, this is what

[2017-09-02 18:35] quaeler commented on #12722
Not gonna use pip, eh? :- )  Ok..

First, running this via sudo makes me feel unwell - usual caveats about not running things as sudo go here, and i'm done being a nanny.

Second, if you moved the `gen_audio_ops.py` file to `/tensorflow/python/ops`, move it back (or at least delete it from `/tensorflow/python/ops`) - i only meant to point out where it gets generated to, not to suggest you should m

[2017-09-02 18:41] tcmxx commented on #10708
I did not follow this instruction.
Instead, go to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/windows/libtensorflow_cpu.sh

I think this is the shell script that they use to build windows CPU version .
Use msys64 or any shell to run this script. It should work, or at least the errors will be easy to fix.

Then modify this above script and https://github.com/tenso

[2017-09-02 18:44] cxwx opened #12770 "GPU support on Mac OS X? compile by oneself?"
I'm 纠结 to select ubuntu or Hackintosh as my PC.

Note: As of version 1.2, TensorFlow no longer provides GPU support on Mac OS X.

Could anyone tell the reason?

Could I compile tensorflow with gpu[cuda] support by myself? Why or Why not?

[2017-09-02 18:45] sarah-zaheer commented on #12722
Alright, no sudo from now on. :-)
I'm very sorry if I forgot to mention that I did the pip part already. (followed all the instructions at [https://www.tensorflow.org/install/install_sources](url) including pip installing the .whl file.)

[2017-09-02 19:24] gunan commented on #12770
The reason is Apple has not released a Mac with an NVIDIA GPU since 2014. We tested with external boxes, but there were too many issues around the drivers and software TF depended on.
Therefore, we decided to drop support for GPUs on MacOS.

You may still be able to compile on MacOS with GPU support. But we do not know if it works, what needs to fix the issues you may face. You wont have the offic

[2017-09-02 19:24] #12770 closed

[2017-09-02 19:26] gunan commented on #12735
Thanks for the report. I will look into this right away.

Some more information for me to reproduce the issue on my machine.
Are you using a Cloud VM, docker container or a virtualbox VM on your machine?

[2017-09-02 19:29] michaelisard commented on #12748
Great! I will close for now but please reopen if the issue isn't resolved.

[2017-09-02 19:29] #12748 closed

[2017-09-02 19:29] gunan commented on #12717
Could you be clearer on what issues you are seeing in our installation instructions?
Nothing should have changed on MacOS since we last updated our instructions, but we are happy to revise them.

[2017-09-02 19:30] quaeler commented on #12722
Ah ok - if you pip installed the whl created by the methods described on that page, then switch to the virtualenv or conda environment into which you installed it, unless you installed it into the system using `sudo pip ...`.

Then, make sure you change directories out of the tensorflow source root, as this has been reported by some people to end up with Python trying to import from the source tre

[2017-09-02 19:30] michaelisard commented on #12760
Thanks! Marking contributions welcome for now pending the PR.

[2017-09-02 19:31] michaelisard commented on #12764
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-02 19:31] #12764 closed

[2017-09-02 19:33] MrShaham commented on #12491
Hi
i face the same problem when i try

:~/tensorflow$ bazel-bin/tensorflow/examples/image_retraining/retrain --image_dir ~/flower_photos

after enter above line in terminal, the out put is

Traceback (most recent call last):
  File "/home/sam/tensorflow/bazel-bin/tensorflow/examples/image_retraining/retrain.runfiles/org_tensorflow/tensorflow/examples/image_retraining/retrain.py", line 108, in <mod

[2017-09-02 19:34] Mistobaan commented on #12735
I am using a google cloud vm, standard n1 32 cores, us-east1-d

[2017-09-02 19:35] gunan commented on #12723
Not sure I understand what you mean.
Are you asking us to update common installation problems with a new issue?
Could you elaborate?

[2017-09-02 19:54] sarah-zaheer commented on #12722
**After appending my PYTHONPATH environment variable like you suggested, (and no sudo)**

Traceback (most recent call last):
  File "tensorflow/examples/speech_commands/train.py", line 77, in <module>
    import tensorflow as tf
  File "/home/sarah/tensorflow/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "/home/sarah/tensorflow/tensorflow/python/__init__.

[2017-09-02 20:01] quaeler commented on #12722
The PYTHONPATH suggestion was a "if you don't install via pip, then you can have Python reference the built contents which would otherwise go in to the pip install by setting your PYTHONPATH to look at the bazel output directories."

Since you installed from pip, don't alter the PYTHONPATH, and make sure your current working directory is not your local tensorflow repository directory when you run

[2017-09-02 20:02] Murali81 commented on #12526
Try installing cuDNN v6 and add "cudnn-8.0-windows10-x64-v6.0\cuda\bincudnn64_6.dll" to PATH in system variables if you are using windows.
That will solve your problem.

[2017-09-02 20:39] sarah-zaheer commented on #12722
Yes I did install using sudo pip..
(which commit? I dont understand)

I cloned tensorflow into my home directory so now running
_python tensorflow/tensorflow/examples/speech_commands/train.py_
from my home directory and still getting this error message
(Previously I was running from within the tensorflow root directory)

ImportError: cannot import name audio_ops

[2017-09-02 20:42] abhi2495 commented on #6999
Hi I am using Anaconda3 4.4.0 64-bit, Windows 7, Python 3.6.1.
I just installed tensorflow successfully with the command
 `conda install tensorflow`
Seems like the issue is resolved.

[2017-09-02 20:55] raginisharma14 opened #12772 "Using Sparse tensors to apply gradients in BackPropogation."
Hi All,

I am trying to use sparse tensors while applying gradients and i see below error.
 **Tensor conversion requested dtype int64 for Tensor with dtype float32: 'Tensor("Adam_1/update_conv1_1/weights/sub_2:0", shape=(), dtype=float32)'**

I am assuming this to be a bug as the dtype int64 must have been hardcoded for sparse tensors.
Is there any workaround for this issue?

Here is what I am try

[2017-09-02 21:15] quaeler commented on #12722
You don't want to invoke Python on tensorflow-dependent code from **any** directory that is at the head of the tensorflow repository code - whether that be where you git-cloned to, or whether you made a duplicate elsewhere.

Maybe the best way is for you to repeat my attempt at this; i've done the following after last pulling my local repository from master around 100 minutes ago:
[code]

The take

[2017-09-02 21:42] printdhruv commented on #12727
(1) Refer [using_gpu](https://www.tensorflow.org/tutorials/using_gpu) link for NVIDIA devices.There is a option of allow_soft_placement which might work for you.
(2) For windows 10, there are a few gpu settings which works well along with GPU. You can check [link](https://stackoverflow.com/questions/42011070/on-windows-running-import-tensorflow-generates-no-module-named-pywrap-tenso) here.

[2017-09-02 22:00] Mistobaan commented on #10618
Is this still an issue? did it creep into 1.3 too?

[2017-09-02 22:00] quaeler opened #12773 "Halted-partial dataset download for speech_commands example renders example ~broken"
If a user attempts to run `tensorflow/examples/speech_commands/train.py` for the first time against a new `data_dir` location and then halts the execution of Python before the download can finish, subsequent attempts to run the script using the same data_dir specification (or lack of specification) will result in Python exiting in error with the gzip libraries complaining about incorrect CRC value

[2017-09-02 22:51] nectario commented on #10708
Thank you. I am very close to building it now. Getting some other errors that seems compilation related...

` ERROR: C:/development/projects/tensorflow/tensorflow/tools/proto_text/BUILD:31:1: Linking of rule '//tensorflow/tools/proto_text:gen_proto_text_functions' failed: msvc_cl.bat failed: error executing command
  FAILED: Build did NOT complete successfully
`

[2017-09-02 22:54] raginisharma14 commented on #12772
I could resolve the issue by typecasting tf.gather_nd(mask_tensor, idx) to tf.to_float(tf.gather_nd(mask_tensor, idx))

[2017-09-03 00:56] facaiy commented on #12773
In my opinion, the exception about incorrect CRC value is sufficient clear for user.

[2017-09-03 01:07] facaiy commented on #12772
Hi, @raginisharma14 . Could you give a more concise (minimal, self-contained) reproduced code?

If I understand correctly, `Tensor conversion requested dtype int64 for Tensor with dtype float32` means that int64 is expected here, not float32. Hence it seems a little surprising for me to use `tf.to_float(xxxx)`.

[2017-09-03 01:14] scotthuang1989 commented on #7778
Yes. You will still get the warning,  even if you install and run the GPU-version. Because this warning come from CPU, when your operation run on CPU and  can be speed up by SSE. I think you can ignore these warnings if you are not so concern with speed. If you do want go faster, you need install tensorflow from source to optimize tensorflow for some specific instruction set.

The easiest way of c

[2017-09-03 01:15] lijhong commented on #12764
alright,thanks.

[2017-09-03 02:17] TomorrowIsAnOtherDay commented on #12758
It seems like a paper on NIPS 2016, which used Reinforcement Learning to learn the network structure, but it cost a lot of sources.

[2017-09-03 02:41] #11974 closed

[2017-09-03 03:02] scotthuang1989 commented on #12635
what do you mean by saying "don't start"? does the training start with an error or just hang?

[2017-09-03 03:28] nectario commented on #10708
This is extremely frustrating... :-( Which Python and version are you using? Seems like some python script is failing...

`ERROR: C:/tmp/_bazel_nektarios/ce5f8pzu/external/gif_archive/BUILD.bazel:8:1: C++ compilation of rule '@gif_archive//:gif' failed (Exit 1): msvc_cl.bat failed: error executing command`

[2017-09-03 05:04] sarah-zaheer commented on #12722
Thank you very much for helping me out so much. I'm working on it like you have suggested. Let's see what happens :)

[2017-09-03 05:15] Mistobaan commented on #1029
I think this is still a problem that should be addressed. Is a simple operation and it could be useful if you don't want to depend on other image libraries to do simple image transformations.
Here is an example that shows the problem:

[code]

output:

[code]

[2017-09-03 05:19] Mistobaan commented on #6164
This just happened to me too and seems the problem is that TFRecord does not recognize that the file is compressed (i.e. GZIP). You need to _explicitly_ configure it using the options, i.e:

[code]

[2017-09-03 06:01] olegklimov commented on #3389
Why is this closed?

Author raises legitimate concerns.

1. Why data already on GPU, cannot be fed into GPU model.

2. Why redefine model to use data already on GPU. This makes code more complicated.

3. What if I have 5 variables with data, do I need to define now 5 models with shared trainable variables?

Yes it is confusing, make you write complicated (or slow) code -- I think you guys should r

[2017-09-03 06:16] lsy643 commented on #12667
@jart
I have run my codes again, and when the training cluster hung, I used gdb to attach the server and worker processes. The trace back is stored in log files.
[ps.log.txt](https://github.com/tensorflow/tensorflow/files/1272757/ps.log.txt)
[worker1.log.txt](https://github.com/tensorflow/tensorflow/files/1272755/worker1.log.txt)
[worker0.log.txt](https://github.com/tensorflow/tensorflow/files/127

[2017-09-03 06:16] gunan commented on #12751
What I can tell from  the error messages is you did not run `configure` script before trying to build.
Please make sure to read our install from sources guide if you would like to build any part of tensorflow from sources.
https://www.tensorflow.org/install/install_sources

[2017-09-03 06:16] #12751 closed

[2017-09-03 06:25] gunan commented on #12761
With the latest bazel releases, it should be possible to build TensorFlow as a subproject quite easily. Now you can avoid needing to run `configure` script with having a `bazelrc` file with the necessary options in your primary project. An example project that uses TensorFlow as a subproject you can look into `tensorflow/serving`.
I know that there are still some kinks that need to be straightened

[2017-09-03 06:32] gunan commented on #12725
At the moment, we use cmake to build all of our TF code on windows GPU.
Bazel is not very well tested, but we are working hard to make bazel fully work on windows.
@meteorcloudy may have some ideas about the messages you see. It may be as simple as needing  a different `--config` value in your bazel command.

Your logs have these messages, which look suspicious to me:
[code]

@meteorcloudy could y

[2017-09-03 06:43] gunan commented on #12721
Thanks for the suggestion!
Would you like to send a pull request with your proposed fix?

[2017-09-03 06:46] gunan commented on #12360
Your error messages indicate that you forgot to run configure script. Please make sure to follow the installing from sources documentation when trying to build tensorflow from sources:
https://www.tensorflow.org/install/install_sources

[2017-09-03 06:46] #12360 closed

[2017-09-03 06:48] gunan commented on #12366
@av8ramit Cam we also mention the helpful script @mrry prepared in our windows installation documentation?
https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c

[2017-09-03 06:49] gunan commented on #12242
I think the nightly GPU build is still broken.
We will keep looking into a fix.

[2017-09-03 06:50] #12253 closed

[2017-09-03 06:51] gunan commented on #12166
Closing due to lack of debugging information.
If you are still seeing this problem, please fill out all of the fields in the template we provide for new issues.

[2017-09-03 06:52] gunan commented on #12123
Closing based on the latest comments.

[2017-09-03 06:52] #12123 closed

[2017-09-03 06:55] gunan commented on #11933
Closing based on latest comments.

[2017-09-03 06:55] #11933 closed

[2017-09-03 06:58] gunan commented on #11572
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-03 06:58] #11572 closed

[2017-09-03 07:01] gunan commented on #11232
If you clone master, you should be able to build the java library with `--config=mkl` and it should just work  with the latest changes.
At the moment, this is only on linux, but macOS support is pending a few bugfixes on windows.

[2017-09-03 07:01] #11232 closed

[2017-09-03 07:03] gunan commented on #11193
At the moment, this is not possible. You will need to conditionally install CPU or GPU packages on each machine based on existence of GPU on them.

CC @martinwicke

[2017-09-03 07:05] gunan commented on #11180
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-09-03 07:05] #11180 closed

[2017-09-03 07:05] gunan commented on #11180
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-09-03 07:05] gunan commented on #11060
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-09-03 07:05] #11060 closed

[2017-09-03 07:06] gunan commented on #11065
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-09-03 07:06] #11065 closed

[2017-09-03 07:07] gunan commented on #11029
MKL build should now not depend on locate command, if you are building from master branch.

[2017-09-03 07:07] #11029 closed

[2017-09-03 07:08] gunan commented on #10994
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-09-03 07:08] #10994 closed

[2017-09-03 07:09] gunan commented on #10674
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-09-03 07:09] #10674 closed

[2017-09-03 07:10] gunan commented on #10870
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-09-03 07:10] #10870 closed

[2017-09-03 07:11] gunan commented on #10646
Ping!
I think this is something important, as we receive issues about installing on 32 bit OS every now and then.
CC @dr4b @jugglerix

[2017-09-03 07:28] waleedka commented on #10618
I'm not seeing it in 1.3. At least in my case, it seems to have been fixed.

[2017-09-03 08:06] eloyfer opened #12776 "nest.flatten() does not work with list"
### System information
== cat /etc/issue ===============================================
Linux mews3153 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u2 (2016-10-19) x86_64 GNU/Linux
VERSION_ID="8"
VERSION="8 (jessie)"

== are we in docker =============================================
No

== compiler =====================================================
c++ (Debian 4.9.2-10) 4.9.2
Copyright (C) 2014

[2017-09-03 08:08] shahen94 commented on #37
+999

[2017-09-03 08:12] k1sul1 commented on #37
Jesus christ, stop sending people useless notifications, there's a reason GitHub introduced 👍 and 👎 reactions.

+1 and +999 just annoys people and adds no value whatsoever.

[2017-09-03 08:37] rgaidot commented on #37
+1000

[2017-09-03 08:37] rgaidot commented on #37
:+1:

[2017-09-03 08:44] BruceHem commented on #37
+1

[2017-09-03 09:22] didw commented on #12727
In case I set `allow_soft_placement=True`, or I didn't specifically set `with device='/gpu:0'` in graph, `tf.one_hot` is automatically allocated to `/cpu:0`. It's working but it's getting really slow because all the data are need to be transferred between cpu and gpu memory.

[2017-09-03 09:45] supernova23 commented on #37
+1

[2017-09-03 09:50] shahen94 commented on #37
#                  ATTENTION
😄 Guys please before commenting +1 or +whatever - Please take a look at @k1sul1 's comment

[2017-09-03 09:52] BruceHem commented on #37
@shahen94 we all saw that but still... we are js dev.

[2017-09-03 10:19] gorjan-mishevski commented on #37
+1

[2017-09-03 10:33] thefill commented on #37
@BruceHem not really sure how being a js dev correlates with blindly pushing unnecessary spam to the feed... 😄

You all are aware that "+1" just makes this topic unreadable? I understand that we all have the desire to support this case but can only deduct that on github closest thing to "vote" functionality is implemented with "reactions" not with a count of comments in the thread... or am I missi

[2017-09-03 13:05] Carmezim commented on #7778
@g10guang Yeah, TF can use both CPU and GPU but even if you're using GPU only it will inform you of the SIMD instructions available when you run a program for the first time.

To know in which device TF is running you can set `log_device_placement` to `True` when creating the session as in:
`sess = tf.Session(config=tf.ConfigProto(log_device_placement=True))`

You can see more details on this unde

[2017-09-03 13:54] 7ammer commented on #37
Lol :P this thread died years ago.
.
+1 Googolplex!

[2017-09-03 13:57] Alaboudi1 commented on #37
+1

[2017-09-03 15:14] nicaogr commented on #12758
Yes, it is a state of the art method but it could be really useful to be able to build with this kind of computation block in order to obtain better deep learning model.

It consisted in doing machine learning on the machine learning hyper parameters.

[2017-09-03 15:30] yorkie commented on #37
Agreed with @thefill "+1" just makes this topic unreadable, and actually we had community implementations then if anyone wants to use TensorFlow with Node.js or JavaScript, just have a try with the above one or two, I think this might be a good start than comment votes here.

As for me, I was working on https://github.com/yorkie/tensorflow-nodejs to make it enough functional like Python possible,

[2017-09-03 16:32] yongtang commented on #12776
In `tensorflow.contrib.data.python.util`,  `list` is not treated as a sequence:
https://github.com/tensorflow/tensorflow/blob/64e54423bbffa4161ba2d85dc913e1973ae52cc6/tensorflow/contrib/data/python/util/nest.py#L103-L110

I don't know enough history about this part though in your sample above I think you could change `list` to `dict`, e.g.,
[code]

/cc @mrry

[2017-09-03 16:41] djimoh5 commented on #37
In regards to the current projects that have been started, and specifically the challenges of working with the C API, I have a suggestion on implementation that has worked well for me.

Since python is still the most robust, developer-friendly, and full featured wrapper around the Tensorflow API, rather than trying to "re-create" the python API for js, why not create bindings directly TO the pytho

[2017-09-03 16:42] yaroslavvb commented on #12758
This is a fairly vague feature request since there are so many hyper-parameter optimization methods. The most commonly used one is the learning rate optimization. You launch several runs in parallel, with different learning rates in increments of 1.5, and see which one works better in a reasonable time.

At Google 1.5 years ago there were a few hyper-parameter optimizers implemented for TensorFlow

[2017-09-03 17:01] yorkie commented on #37
@djimoh5 Awesome thoughts on JavaScript to Python full-featured APIs! The other hand, we also could put an implementation of a RPC server for TensorFlow Python APIs with introspection feature, so that JavaScript and other language clients could access the real-time Python. (I will do this when I'm available, aha)

But here is something about why re-creating some Python features for JavaScript, bec

[2017-09-03 17:33] Mistobaan commented on #11193
I think you just need to  invoke `bazel build -- //tensorflow/tools/pip_package:build_pip_package  --gpu` to have the `--project_name` of the `setup.py` of the package set to tensorflow_gpu:
See:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/build_pip_package.sh#L57

[2017-09-03 17:36] snageshrao opened #12779 "C++ tensorflow interface is taking too long to terminate and return the calculated graph output."
Hi All,

I am loading a trained graph (from python) in c++ as explained in the below links,

1. https://medium.com/@hamedmp/exporting-trained-tensorflow-models-to-c-the-right-way-cf24b609d183

2. https://medium.com/jim-fleming/loading-a-tensorflow-graph-with-the-c-api-4caaff88463f

I am using this tf feature in larger c++ application, the working is as follows, main function creates a process that

[2017-09-03 18:24] printdhruv commented on #12727
I have following questions,
Do you get any warning while putting `allow_soft_placement=True` ? Is it correct?
Also, What is the computation speed difference between Ubuntu and Windows OS for a same program?

[2017-09-03 18:39] tcmxx commented on #10708
@nectario  my python is 3.5. Not sure what this error means. Seems like something to do with your Bazel environment? ...em...

[2017-09-03 18:47] armafire opened #12781 "Compile from source on Skylake-X (Intel i9)"
Hello,

Compiling tensorflow source on Skylake-X Intel i9 with "--config=opt" gives the following error in the snappy external module:

-----------------------

-----------------------

The command I use is:

bazel build --config=opt -c opt //tensorflow/tools/pip_package:build_pip_package --verbose_failures -j 64

If I change to --config=mkl, then it compiles fine. Therefore, it seems that the pro

[2017-09-03 18:50] gunan commented on #10618
Looks like the issue was resolved. Closing.

[2017-09-03 18:50] #10618 closed

[2017-09-03 18:52] gunan commented on #11193
Even if the pip packages are built with a different name, when installed they still occupy the same directory with the files with same names under your python library directories. Therefore, If you try to install both tensorflow and tensorflow-gpu you will overwrite the files the first installs with the second installation.
In the end, your installation may even not work.

[2017-09-03 19:38] knarf-hackatal2016 opened #12783 "Behavior of SVM in tensorflow.contrib.learn.python.learn.estimators inconsistent between dense and sparse inputs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Arch Linux
- **TensorFlow installed from (source or binary)**:
Binary (community arch linux repo)
- **TensorFlow version (use command below)**:
1.3.0-1
- **Python version**:
3.6.2
- **Bazel version (if compil

[2017-09-03 19:38] michaelisard commented on #12776
Closing for now since this seems to be working as intended but please reopen if you think there's an issue.

[2017-09-03 19:38] #12776 closed

[2017-09-03 20:28] Eraylson commented on #6584
use tf.contrib.learn.DNNClassifier

[2017-09-03 20:32] Alex-Fabbri commented on #8571
Hi, I'm having the same problem with the shape of the state being undetermined when using a dynamic_rnn.
I'm using tensorflow version 1.2.1.
`        (outputs,final_state) =(
        tf.nn.bidirectional_dynamic_rnn(cell_fw=encoder_cell,
                                    cell_bw=encoder_cell,
                                    inputs=encoder_inputs_embedded,
                                    s

[2017-09-03 20:41] eaplatanios opened #12784 "Eager API symbols not exported in the CI libtensorflow.so"
The eager API symbols (i.e., `TFE_*`) do not seem to be exported in the `libtensorflow.so` built by the CI system. I tried the nightly builds and they're missing from them. I checked using `nm -D libtensorflow.so` as well as `readelf -Ws libtensorflow.so` and `objdump -TC libtensorflow.so`. I'm not sure where to look to fix this though as the Mac nightly build seems fine. @asimshankar @alextp

[2017-09-03 20:48] asimshankar commented on #12784
Note that the eager APIs are NOT stable, so use at your own risk. They may change at any time (as we're experimenting with them) and we do not plan to restrict even trivial changes (like changing symbol names) to maintain compatibility.

With that disclaimer on the way, this is likely because [`version_script.lds`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/version_script.ld

[2017-09-03 20:58] eaplatanios commented on #12784
Thanks for pointing me to the file. I also made a couple small changes to two other files that I found may be relevant and submitted a PR (#12785).

Thanks for the disclaimer! I'm aware of that and I'm actually trying to find out what may be broken in the API. Thanks for releasing it early in any case. It's super useful for languages that do not have anything like numpy available. It certainly hel

[2017-09-03 20:59] eaplatanios commented on #12784
Just a heads up, but I have noticed that `TFE_Execute` does not seem to be thread-safe. If I have multiple threads calling it I often end up with malloc double free errors, but I haven't tracked this down yet.

[2017-09-03 21:54] perezjln commented on #8926
tf.image.random_flip_left_right() on batch would be fine indeed ...

[2017-09-03 22:03] #12715 closed

[2017-09-03 22:41] nectario commented on #10708
I think the issue is from the way I installed bazel (using choco). Downloading the bazel zip I see all these missing scripts...

[2017-09-03 23:07] jart commented on #12765
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-03 23:07] #12765 closed

[2017-09-03 23:48] jart commented on #12767
I support making this change, so long as it maintains support for passing a string and the items in the list are shell quoted. I left that feedback in the review that @yongtang was generous enough to send us.

[2017-09-03 23:52] jart commented on #12779
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-03 23:52] #12779 closed

[2017-09-03 23:59] jart commented on #12781
Could you share information about your operating system, distro, gcc version, clang version, and all that jazz? I ask because it looks like there might be something wrong with the compiler.

[2017-09-03 23:59] raginisharma14 commented on #12772
Hi @facaiy , in tf.IndexedSlice , the first argument is values and second argument is indices, But I have passed them in the reverse order, I think that is the reason why i was seeing the error."Tensor conversion requested dtype int64 for Tensor with dtype float32". When I changed it to values, indices. I don't see that error anymore.
but I am still facing the Rank issue while scatter_sub is calle

[2017-09-04 00:01] jart commented on #12783
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-04 00:01] #12783 closed

[2017-09-04 00:02] snageshrao commented on #12779
Hi Justine,
I have already asked this question in stackoverflow and had no luck over there, it seems like the delay is caused due to loading of tensorflow dependencies which are linked during bazel build, can you suggest me how to address this issue.
Thank you,

[2017-09-04 00:12] jart commented on #12773
@facaiy I agree. It seems the except clause of maybe_download_and_extract_dataset does print the URL and the directory, in case the user wants to manually run wget or simply rm the file and try again. Although it might not be super noticeable since it appears to be a log and throw.

This might be worth worrying about if it was production code. For example, I worked on Bazel's downloader. We went t

[2017-09-04 00:12] #12773 closed

[2017-09-04 00:14] jart commented on #12635
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-04 00:14] #12635 closed

[2017-09-04 00:22] jart commented on #12758
I agree with @yaroslavvb. Automating this sort of thing is a broad problem space that can be tackled in a variety of ways. We're open to feature requests in this area, but it helps when they're as specific as possible. Anyone with ideas like that, which could help TensorFlow improve, please feel free to open a new issue.

[2017-09-04 00:22] #12758 closed

[2017-09-04 00:33] jart commented on #12757
I can't speak authoritatively on this subject, but I'm not aware of any such plans at the moment. I also can't say for certain whether or not it would be possible.

I might be able to help you better if you shared a specific example of something you want to do with TensorFlow, but currently can't do, unless the paradigm changes.

[2017-09-04 01:12] jart commented on #12755
Apparently that function was moved into core as [`tf.estimator.export.build_raw_serving_input_receiver_fn`](https://www.tensorflow.org/api_docs/python/tf/estimator/export/build_raw_serving_input_receiver_fn). Does that function work for you?

[2017-09-04 01:16] jart commented on #12749
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-04 01:16] #12749 closed

[2017-09-04 01:19] jart commented on #12747
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-09-04 01:23] jart commented on #12743
Assigning to @ebrevdo who is reviewing the related PR.

[2017-09-04 01:32] jart commented on #12739
@fchollet It looks like a bug fix to [wrappers.py](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/contrib/keras/python/keras/layers/wrappers.py) made in https://github.com/tensorflow/tensorflow/commit/fa83a270c943317da6b07a3d093c224be0827bd9 might need to be cherry-picked onto r1.3.

[2017-09-04 01:39] jart commented on #12733
Thank you for reaching out. You were correct to post on Stack Overflow earlier. But as you know this issue tracker is for bugs and feature requests, rather than an escalation path for Stack Overflow. We like to focus on bugs and feature requests because those types of issues, once resolved, will be beneficial to everyone in the community.

[2017-09-04 01:39] #12733 closed

[2017-09-04 01:52] armafire commented on #12781
Operating System:

Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.5 LTS
Release:	14.04
Codename:	trusty

GCC:

gcc (Ubuntu 5.4.1-2ubuntu1~14.04) 5.4.1 20160904

CLANG:

Ubuntu clang version 3.4-1ubuntu3 (tags/RELEASE_34/final) (based on LLVM 3.4)
Target: x86_64-pc-linux-gnu
Thread model: posix

It looks like the instruction "kmovq" (the one that fails to be identified) belongs to "AVX512BW", a c

[2017-09-04 01:54] yongtang commented on #12755
@jart @slacy The `tf.estimator.export.build_raw_serving_input_receiver_fn` was using:
[code]
so it is fine although I think it might make sense to change it to
[code]
 as well. This will make it easy to maintain later.

I updated the PR #12759 and also added the test case to cover `tf.estimator.export.build_raw_serving_input_receiver_fn`  as well. Please take a look.

[2017-09-04 02:08] mixml commented on #12747
@jart Thank you for your reply, The information as follow:
**Command**: bazel build -c opt //tensorflow:libtensorflow_cc.so --crosstool_top=//external:android/crosstool --cpu=armeabi-v7a --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --verbose_failures
**Platform**: Linux version 3.10.0-514.10.2.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-11) (GC

[2017-09-04 02:16] jart commented on #12731
Stack Overflow says this was resolved by https://github.com/tensorflow/tensorflow/commit/d93a55b8. Try installing the [nightly whl file](https://github.com/tensorflow/tensorflow#installation) and let us know if it doesn't work. If that is the case, I'll reopen this issue.

[2017-09-04 02:16] #12731 closed

[2017-09-04 02:25] szymonk92 commented on #12698
@axtscz How did you solve the problem?

[2017-09-04 02:43] jart commented on #12657
Gosh is there any chance you're doing something related to mobile? Like Android? Also is it possible that this graph was saved using a different version of TensorFlow? It's just strange because the DecodeWav op is in core.

[2017-09-04 02:51] ibrahimsharaf commented on #12454
Hi @ppwwyyxx @ali01, I am new to open source, how can I start working on this?

[2017-09-04 02:51] ibrahimsharaf commented on #12486
Hi @leandro-gracia-gil @ali01, I am new to open source, how can I start working on this?

[2017-09-04 03:04] gauss-clb commented on #12765
It has been asked on stackoverflow, but no response.

[2017-09-04 03:04] jart commented on #12727
It's not possible to use `with tf.device('/gpu:0'):` to wrap an entire model to have it execute purely on the GPU. TensorFlow actually schedules to the GPU automatically, when it makes sense to do so.

There are actually a significant number of ops that only have CPU kernels. The ops that have both CPU and GPU kernels are mostly the ones that would stand to gain from the number crunching GPUs prov

[2017-09-04 03:04] #12727 closed

[2017-09-04 03:15] jart commented on #12649
@andrewharp `BufferOverflowException` happens in `TensorFlowImageClassifier` with image resolution ≥360.

[2017-09-04 03:17] jart commented on #12639
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-04 03:17] #12639 closed

[2017-09-04 03:18] #12621 closed

[2017-09-04 03:29] didw commented on #12727
What I've issued is `tf.one_hot` is perfectly allocate to `/GPU:0` on Linux, but it can not be allocated on WIndows environment. I think the GPU kernel for Windows is not developed or have some error. And it makes 4~5 times slower on Windows than I have run on Linux when I allocated CPU for `tf.one_hot` module.

[2017-09-04 03:50] facaiy commented on #12772
Sorry, @raginisharma14 . I am not familiar with SparseTensor, hence the question is beyond my scope.

By the way,  it would be wonderful if the test code could be more concise.

[2017-09-04 04:15] jzharris commented on #12491
I had the same result as you after installing `python-enum34` in Ubuntu 16.04 with python 2.7. I had to run the following steps at this point to get back on track:
`pip uninstall enum`
`pip install mock`

[2017-09-04 04:45] raginisharma14 commented on #12772
@facaiy : Here is what I am trying to do: 1. I am applying pruning on to the weights of each layer and then multiplying the pruned weights with the computed gradients and then converting the output of(pruned weights * computed gradients) to a sparse matrix(using tf.IndexedSlices). After this, I would apply these gradients. In tensorflow, while applying gradients you can either pass sparse gradient

[2017-09-04 04:53] TomorrowIsAnOtherDay commented on #12721
The official  Guide(https://www.tensorflow.org/programmers_guide/datasets) is different from that on master branch (tensorflow/tensorflow/docs_src/programmers_guide/datasets.md).The usage example from master branch is right.Can you update the official Guide? Additionally, why can't the API convert the list to tuple automatically?

[2017-09-04 05:14] TomorrowIsAnOtherDay commented on #12721
Oh, someone has made an issue before on this problem, Please update the official guide
#11786

[2017-09-04 05:14] #12721 closed

[2017-09-04 06:04] ashishagni5 commented on #12728
Thank you all for your quick responce
I could able to resolve the problem by changing the script path and run.

/tensorflow/bin/examples/image_retraining$ python label_image.py --image /home/ubuntu/index.jpeg --graph /tmp/output_graph.pb --labels /tmp/output_labels.txt --output_layer=final_result:0

Earlier script path was "/home/ubuntu/tensorflow/bin/examples/label_image" where I was getting ment

[2017-09-04 06:20] oxinabox commented on #8669
@skye
A MWE in julia:

[code]

Using @malmaud 's patched version of libtensorflow.so v1.2.0 ([patch here](https://github.com/malmaud/TensorFlow.jl/blob/master/deps/build_libtensorflow/gpu/upstream_patch))
the out put is as expected `[11]`

Using a freshly built libtensorflow.so v1.3.0 (but I can confirm this happened much earlier very similarly)
the gives an error on the line starting `end_i = Ten

[2017-09-04 06:40] martinwicke commented on #12746
If you use the Object oriented layers (on master), you can access the variables directly:

[code]

(also check out `init_from_checkpoint`)

Would these work in your use case?

[2017-09-04 07:05] ashishagni5 opened #12787 "Sqeezenet pretrained model"
Where can I find the pretrained squeezenet model using CIFAR or image net data sets? (if possible on tensorflow)
I would like to use that to re train for some new classes for classification.

[2017-09-04 07:17] tikamsingh opened #12788 "imagePickerController for iOS , not recognize"
Hello I have created pb and txt file for some specific images and want to test with same image. taking that image  from Gallery in iPhone Device and trying to recognise but its not working properly.

Can you please suggest.

How we can use tensor flow in Gallery Images.
what size are required to use it.

[2017-09-04 07:26] DiplEng opened #12789 "Zero accuracy if shuffle is False in TF Keras ImageDataGenerator"
If I use the TF Keras reimplementation (tensorflow.contrib.keras) and set the ImageDataGenerator's shuffle param to False, I get zero accuracy every time. Also this:

I've just used for the first time the ModelCheckpoint from function to save the best model (best_model = True) and wanted to test its performance. When the model was saved it said that the "val_acc" was at 83.3% before saving. I load

[2017-09-04 07:32] lyy1994 commented on #11988
I have found similar error while I use `AttentionWrapper` at `raw_rnn`. It seems that the problem came from the function `_copy_some_through` when it try to copy `next_state` to `state` conditioned on `elements_finished`. I think it is the consequence of `time` attribute of `AttentionWrapperState` can not be copied through by the code `tf.where(elements_finished, cur_i, cand_i)` inside `_copy_some

[2017-09-04 07:38] biyaa opened #12790 "tensorflow is moving too fast, could you release it a long term support version?"
Hi
    Tensorflow  is moving too fast to use my future project , could you release it a long term support 、stable  and full version?

[2017-09-04 08:10] AndyLin0128 commented on #12751
@gunan thanks。and run ./configure, no problem, but i run bazel-bin/tensorflow/python/tools/optimize_for_inference --input=~/Desktop/output_graph.pb --output=~/Desktop/optimized_graph.pb --input_names=Mul --output_names=final_result

bazel-bin/tensorflow/python/tools/optimize_for_inference --input=~/Desktop/output_graph.pb --output=~/Desktop/optimized_graph.pb --input_names=Mul --output_names=final

[2017-09-04 08:18] GPhilo commented on #12701
Well, I don't know all possible use-cases for this function, so I'll just describe mine.
I'm loading images from a set of folders, doing inference on every image, recording the prediction result and the filename.
My pipeline looks like this:
[code]

My dataset contains a small number of corrupted images that raise errors when processed. As of now, the `ignore_errors()` function does what it promis

[2017-09-04 08:33] meteorcloudy commented on #12725
@eyaler Looks like the python wrapper script is not used in Bazel, from Bazel 0.5.3 we are not using the python script to invoke cl.exe, but for the cuda compiler we still need it.
Please add `--action_env=USE_MSVC_WRAPPER=1` to enable it.

As @gunan pointed out, the Cuda build with Bazel is not well tested, so it's not guaranteed to work. But we are working on making it better!

[2017-09-04 08:42] tcmxx commented on #10708
Good to hear! Good luck with the build then~

[2017-09-04 08:46] AndyLin0128 commented on #12751
@gunan Thanks.

[2017-09-04 09:36] nitish11 commented on #12787
There are few resources related to Squeezenet at the below link :

https://github.com/DeepScale/SqueezeNet

[2017-09-04 09:38] nitish11 commented on #12728
@ashishagni5 : Is this issue got resolved, if yes, why is this still open?

[2017-09-04 09:51] carlthome opened #12792 "Feature request: let transform_graph use summarize_graph inputs/outputs guess as default flags"
`tensorflow/tools/graph_transforms/summarize_graph` is very useful for listing names of input and output nodes, however it seems like you still have to set `--inputs` and `--outputs` with `tensorflow/tools/graph_transforms/transform_graph` explicitly. Would it be possible to have `transform_graph` assume the same nodes from `summarize_graph` by default?

[2017-09-04 09:56] ShapingView commented on #11847
@pks your changes worked for my problem!
I can load the model now.

Thanks!

[2017-09-04 10:16] ashishagni5 commented on #12787
Ya this I have seen. But I am very new to ML field. I want to know how to use it too.
It is not so descriptive.

[2017-09-04 10:17] rsd-raul commented on #12593
@andrewharp Just checked with 1.3.0 and same as @ArtsiomCh, with the camera fix TF Detect works with `nativeBuildSystem = 'none'`, without it still throws an `UnsatisfiedLinkError` for the method `convertYUV420SPToARGB8888`.

[2017-09-04 10:17] luchensk opened #12793 "feature request: could tfdbg dump out debug data by specified step range?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X 10.12.4(BuildVersion: 16E195)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: ('v1.3.0-rc1-1702-g512d3d086', '1.3.0')
- **Python version**: Pyt

[2017-09-04 10:24] #12728 closed

[2017-09-04 10:25] ashishagni5 commented on #12728
@nitish11 forgot to close. done now

[2017-09-04 10:28] ashishagni5 commented on #12787
@nitish11 Request you to answer specifically. Many generic resources are available online. My requirement is retraining for classification using image net, CIFAR for squeezenet.

[2017-09-04 10:31] aritrabasu104 commented on #12526
added already

[2017-09-04 11:36] jakiechris opened #12794 "protobuf crashes at runtime when loading tensor lib."
hardware: Huawei P7 Android 4.4.2

i tried ndk r12b , r10e , and api 9, api 14
all run into this error:

09-04 19:10:47.640 21660-21660/com.zhuxin.ecg.jijian A/libc: Fatal signal 6 (SIGABRT) at 0x0000549c (code=-6), thread 21660 (uxin.ecg.jijian)
09-04 19:10:47.740 162-162/? I/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
09-04 19:10:47.740 162-162/? I/DEBUG: Build fingerp

[2017-09-04 11:36] jakiechris commented on #12794
don't know why , somebody pls help

beed50ec 812a0da8 /data/app-lib/com.zhuxin.ecg.jijian-1/libecg_sdk.so (std::unordered_map<std::string, google::protobuf::FieldDescriptorProto_Type, google::protobuf::hashstd::string, std::equal_tostd::string, std::allocator<std::pair<std::string const, google::protobuf::FieldDescriptorProto_Type> > >::operator+48)

[2017-09-04 12:34] dsalaj commented on #5731
@Sraw Were you able to accomplish your goal? I am also in need of recording all the LSTM cell gates. However I change the output of the cell call it breaks too much stuff. Do you have an example of what you did?

[2017-09-04 12:43] zrcahyx commented on #12416
I don't have the permission to install the cudnn v6 on the server, i only have the cudnn v5. Does anyone have a solution for this problem? This is troubling me, i'll appreciate any help.

[2017-09-04 12:50] AndyLin0128 opened #12795 "computed output size would be negative [[Node: pool_3 = AvgPool[T=DT_FLOAT, data_format="NHWC", ksize=[1, 8, 8, 1], padding="VALID", strides=[1, 1, 1, 1], _device="/job:localhost/replica:0/task:0/cpu:0"](mixed_10/join)]]"
python train model and run bazel-bin/tensorflow/python/tools/optimize_for_inference  --input=/Users/andylin/Desktop/tess/retrained_graph.pb  --output=/Users/andylin/Desktop/tess/retrained_graph_optimized.pb  --input_names=Mul --output_names=final_result.
error:
computed output size would be negative      [[Node: pool_3 = AvgPool[T=DT_FLOAT, data_format="NHWC", ksize=[1, 8, 8, 1], padding="VALID",

[2017-09-04 13:03] maziarmf commented on #5731
@Sraw  am I able to assign specific values for lstm gates? for instance always 1 for input and....

[2017-09-04 13:17] carlthome commented on #11604
:+1: on being able to use quantized ops with XLA AOT.

[2017-09-04 13:34] carlthome commented on #12740
On a similar note, what about folding [this](https://www.tensorflow.org/api_docs/python/tf/contrib/rnn/LayerNormBasicLSTMCell) as well? I.e. fold across `array_ops.split`.

[2017-09-04 14:27] LynnHo opened #12796 "About Cyclic Graph?"
Here is the code that confuses me:

[code]

It outputs different results (1, 3, 6 and 7, 7 is the most) at different runs.

I think it is caused by the cyclic graph. I don't know if tf has the constriction that the above graph is not allowed. But I have another more common example:

a = convnet_with_bn(img_a)
b = convnet_with_bn(img_b)

when the convnet is share, the bn' moving average operations

[2017-09-04 14:35] andrewcmyers opened #12797 "UINT8 is used but only partly supported in the Java API."
The datatype uint8 exists in the Java API (see DataType.UINT8) and is used by the LabelImage program. However, it does not seem to be fully supported. In particular, elemByteSize() in tensor_jni.cc does not have a case for TF_UINT8, which prevents uint8 tensors from being created or extracted from TensorFlow.

[2017-09-04 14:49] yvdriess commented on #10689
I can confirm the same issue with latest master ( #1209491913def44650d6457c60a6e41d56de3306) on a Skylake Xeon CPU, using either -march=native or -mavx512f, with either GCC 6 or 7.

[2017-09-04 15:33] yongtang commented on #12416
@zrcahyx If you could build TensorFlow from source and link against v5 then the binary might be used in your server.

[2017-09-04 15:35] ebrevdo commented on #11988
One could add a special case for scalar state that just passes it through.

On Sep 4, 2017 12:33 AM, "Lee" <notifications@github.com> wrote:

[2017-09-04 15:38] ebrevdo commented on #8571
What about in tf 1.3?

On Sep 3, 2017 1:33 PM, "Alex Fabbri" <notifications@github.com> wrote:

[2017-09-04 15:43] ebrevdo commented on #12694
Because queues are multithreaded, you have no guarantees about ordering, at all.  This particular case seems to fit within the "vagaries of concurrency on your particular system".  If you want proper ordering, use tf.contrib.data primitives in tf 1.3.  they're much easier to use and provide reproducible sequences.

[2017-09-04 15:43] #12694 closed

[2017-09-04 16:02] kollapsderwellenfunktion opened #12799 "problem with optimize_for_inference"
hi,
I'm using tensorflow 1.3.0 installed via pip with python 2.7.12 (Ubuntu 16.04, cuda 8, nvidia 1060)

when i try to optimize a custom model trained with tensorflow 1.3.0 with

`python -m tensorflow.python.tools.optimize_for_inference --input saved_model.pb --output opt_model.pb --input_names=in --output_names=out`

i get the following error:

[code]

i already did a ' export PROTOCOL_BUFFERS_PY

[2017-09-04 16:33] yaroslavvb commented on #12790
@biyaa TF version 1 is supposed to be stable

[2017-09-04 16:37] Tingbopku commented on #10479
I encountered with this problem, too.
Thank you for your post, or I think it will take me a lot of time to find the reason of this error.

But now I still wonder what the simplest way is for me to use both peephole and orthogonal initializer, cuz peephole is the most popular variant of LSTM.

[2017-09-04 16:42] panyx0718 commented on #12674
@sussillo
The question is about https://github.com/tensorflow/models/tree/master/lfads

[2017-09-04 16:47] yongtang commented on #12403
Yes I think the error message should be fixed as index is 0-based. PR #12800.

[2017-09-04 17:00] ebrevdo commented on #10479
You can copy the orthogonal initializer code and modify it to generate
correct values when a vector is requested.

On Sep 4, 2017 9:37 AM, "Tingbo Lu" <notifications@github.com> wrote:

[2017-09-04 17:19] AakashKumarNain commented on #12746
Correct me if I am wrong, wouldn't it be required to reshape the weights as per the previous layer output shape? Doing this check for each layer in the net would be a mess. With the feature that I requested for, I think that this check can be included in the method itself where the output of incoming layer is checked, the weights are reshaped accordingly and then assigned to the kernel

[2017-09-04 17:20] Alex-Fabbri commented on #8571
I just tried it on tf 1.3, and it worked. Thanks :)

[2017-09-04 17:42] nectario commented on #10708
Thanks. Btw, what version of Bazel did you use to build?

[2017-09-04 18:01] tcmxx commented on #10708
@nectario  0.5.3 I think

[2017-09-04 20:01] BassyKuo commented on #8090
I got the same problem when I set the epsilon value less than 1e-5 on Ubuntu 16.04+CUDA 8.0.61+cuDNN 5.1.10. I used tensorflow 1.3.0 installed from source also.

According to the error, I read the cuDNN library user guide, find the description about `epsilon` (in Section 4.95. cudnnBatchNormalizationForwardInference):
[code]

So I check my cudnn.h, there is one line defined:
[code]
I think that is

[2017-09-04 20:57] RylanSchaeffer commented on #12733
@jart , I can see why you think I'm escalating my problem, but there is an issue with TensorFlow's `Seq2Seq` module - during validation, no `Helper` subclass resolves the `Incompatible shapes` error.

I don't know if the existing helpers should solve this problem or if something new is needed, so this issue can be thought of as either a feature request or a bug. One solution is that `GreedyEmbeddi

[2017-09-04 21:01] RylanSchaeffer commented on #12733
@ebrevdo @adarob Am I'm missing something incredibly obvious?

[2017-09-04 21:26] zhxx1987 opened #12803 "tensorflow create myOwn_op.dll on windows"
Hi tf developers, I have one request regarding tensorflow's windows version.

I have tensorflow+gpu successfully built on windows 10 with visual studio 2015, from the source code.
as a result, I get tensorflow.dll and tensorflow.lib.
I have CUDA8.0 and cudnn 5.0; with a gtx 1080 gpu equipped.

however, my question is not about building and compiling tensorflow.
it is about creating tensorflow plug

[2017-09-04 23:13] jart commented on #12803
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-04 23:13] #12803 closed

[2017-09-04 23:25] manglav commented on #2169
@isaacgerg can you share your tensorflow example?

[2017-09-04 23:33] zhxx1987 commented on #12803
Hi I think "making the tensorflow integration with windows more smooth"
should in general be a feature request,
consider it will benefit a large community such as real-time computer
graphics and video games etc.

On Mon, Sep 4, 2017 at 4:15 PM, Justine Tunney <notifications@github.com>
wrote:

[2017-09-05 00:21] sharathppss commented on #12264
Hello I was looking to take it up. At this moment it looks like a straightforward fix (I am looking at the python edit distance function and mimic that). Please let me know if there are any specific points to beware of while going ahead with this.

[2017-09-05 01:07] tudaga opened #12804 "Feature request - non-scalar Multinomial draws"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX 10.12.6
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.2.0-rc2-21-g12f033d 1.2.0
- **Python version**: 3.6.2
- **Bazel version (if compiling fr

[2017-09-05 01:20] biyaa commented on #12790
thank you!!!

[2017-09-05 01:25] #12790 closed

[2017-09-05 02:15] ScorpioCPH commented on #9646
@eaplatanios @drpngx Sorry to comment on this closed issue, but I have a similar problem as code shown below:

[code]

In the loop, memory consumption will increase time by time.

My question is how to free this `tf.Tensor`(fread) explicit?
Could you take a look please, Thanks!

[2017-09-05 02:16] ashwhall opened #12805 ""High-Performance Models" documentation page unclear on StagingArea not being a FIFOQueue"
I feel that it would be good to modify the [High-Performance Models page](https://www.tensorflow.org/performance/performance_models ) to make it clear that the StagingArea class does not guarantee ordered delivery.
This would mean changing the line:

to something like this:

I just spent longer than I'd care to admit bug-hunting, when FIFO ordering was critical.

[2017-09-05 02:26] quaeler commented on #10689
Seems possibly related to https://github.com/tensorflow/tensorflow/issues/12781 also.

[2017-09-05 02:41] eaplatanios commented on #9646
@ScorpioCPH You should move the `fread = tf.read_file('./data.text')` line outside the loop. That line is not reading the file...it's just creating an op that will read it when you execute it using `sess.run`. You just keep re-creating that op in your graph and you end up with 1000 copies of it.

[2017-09-05 02:44] drpngx commented on #9646
I think it's because the graph grows. There is no simple way to prove there
graph. You can reset the graph.

May I suggest you take a look at the tf.contrib.dataset?

On Sep 4, 2017 10:17 PM, "Penghao Cen" <notifications@github.com> wrote:

[2017-09-05 04:09] ebrevdo commented on #8571
Great!

[2017-09-05 04:09] #8571 closed

[2017-09-05 04:26] #12795 closed

[2017-09-05 04:51] ryutah commented on #11440
I could extract prediction on this tutorials as below code.

[code]

[2017-09-05 05:25] Akansha62 opened #12807 "Speech-Recognitin issue"
Hi,

While running  "python tensorflow/examples/speech_commands/train.py"

I am getting following issue.::
"ImportError: cannot import name audio_ops"

Please help.

[2017-09-05 06:03] patelprateek opened #12808 "tensorflow performance issue for map_fn and gather"
I am trying to understand more about certain surprising results i see in implementing a tf graph .
The graph i am working with is just a forest (bunch of trees). This is just a plain forward inference graph , and nothing related to training. I am sharing the snippets for 2 implementation

code snippet 1:

    with tf.name_scope("main"):

        def get_tree_output(offset):
            loop_vars =

[2017-09-05 06:21] chinaluffy opened #12810 "build libtensorflow-core.a error"
buf -lpthread -lm -lz
Undefined symbols for architecture x86_64:
"nsync::nsync_mu_init(nsync::nsync_mu_s_)", referenced from:
tensorflow::mutex::mutex() in env.o
tensorflow::mutex::mutex() in random.o
"nsync::nsync_mu_lock(nsync::nsync_mu_s_)", referenced from:
tensorflow::mutex::lock() in env.o
tensorflow::mutex::lock() in random.o
tensorflow::mutex::lock() in histogram.o
"nsync::nsync_mu_unlock(

[2017-09-05 06:34] Kitter opened #12811 "The predict results using java and python is different"
My graph contains the following statements:
`tf.contrib.layers.batch_norm(incoming, is_training=is_training, scale=True, decay=0.99)`
` tf.contrib.layers.dropout(incoming, keep_prob=keep_prob, is_training=is_training)`

When the variable **is_training** is set to **True**, the saved model give the same result using Java and Python. The result is right.

But, when the variable **is_training** is se

[2017-09-05 06:40] tikamsingh opened #12812 "tensorflow/tensorflow/examples/ios/benchmark/ . Calculate % in Images."
In this example How we can calculate the % of Prediction.
We are getting 1.0.978 water bottle
1.0.988 bottle
1.0.078 mug
 type of result.

How we can convert in % value

[2017-09-05 06:56] SimonWalsh1000 commented on #6698
Has this issue been completely resolved. I am running TF 1.3.0 on Ubuntu 16.04 with CUDA 8.0 and cuDNN 5.1. I used Anaconda to install my packages. Randomly 4 days ago, I too experienced this error

`2017-09-05 07:47:04.848508: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but these are available on your machine and could spe

[2017-09-05 07:11] scucheri opened #12813 "How to add a user_ops to android .so file ?"
### Discription
I want to add a custom op for tensorflow and use it in android app. But I find it only tell us how to add an op in python . I put my own .cc file witch contains register code into the user_ops folder and bazel build again to generate a new .so file . But when I test this .so in android code, It says the custom op is not registered and crashed. How can I succeed to register a new op

[2017-09-05 07:19] anujchampjain opened #12815 "image classifier error"
Source : [tensorflow for poets](https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/#4)

[code]

[2017-09-05 07:19] gunan commented on #6698
TensorFlow 1.3 is built against cuDNN 6.
Please upgrade your cuDNN installation.

[2017-09-05 07:41] zzks commented on #11157
same problem... keras1.2.0, tf0.12.1

[2017-09-05 07:43] 92xianshen commented on #9469
It really does work!

[2017-09-05 07:46] SimonWalsh1000 commented on #6698
Thanks, Gunan - that makes no difference, unfortunately. Even with cuDNN 6, I am still getting the cuDNN cannot create handle error. Even setting the GPUptions directly doesn't prevent the error, although it does reduce the amount of GPU memory used. The GPU memory is taken up by Python, so if I shut this down, it closes my Jupyter notebook. I have been stuck on this for nearly 4 days now and seem

[2017-09-05 08:43] juventi opened #12816 "The efficiency of sess.run"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-05 08:48] juventi commented on #12816
use Tensorflow for Image detection and classification;
For a single image ,However small is it , the sess.run() method cost  above 10ms
But a batch(batch num = 100) input, the sess.run() cost less than 200ms,  2ms per image
Why? Can I improve the efficiency for single Image input??

[2017-09-05 08:49] JankiMehta commented on #11157
I found the solution. Instead of dumping a keras model object, save it usinf `keras.save`
[See here](https://keras.io/getting-started/faq/#how-can-i-save-a-keras-model)

[2017-09-05 09:03] hadarpo commented on #11327
Hi, is this bug solved already in version 1.3?

[2017-09-05 09:41] SimonWalsh1000 commented on #8879
Was this issue solved? - I too am having the same error with TF 1.3.0, cuDNN 6.0, CUDA 8.0 and keras. Altering the GPU-options didn't work. Many answers suggest checking for Zombie processes running in the background taking up GPU memory (I have none)

[2017-09-05 10:33] mishra-arjun commented on #10033
@mrry Thank you so much for all the help and the self-check script!

[2017-09-05 10:45] adakum commented on #11277
I installed tf 1.2 from pip in windows and tried to use BeamSearchDecoder and getting the exact same error .  Isn't the pip installs the latest build for 1.2 version ?

[2017-09-05 10:49] Enigma-li opened #12817 "LMDB reader Error in Reading Data of multi-thread, queue based input pipeline"
Hi,

I am now using LMDB reader to read and decode my custom data into tensorflow training pipeline, based on the example:
[code]
Here, I designed my own decoder and used LMDB reader here. But the problem is that, when the `num_epochs` is not 1, there will be ERROR:

[code]

Could you help check this?

Thanks

[2017-09-05 11:02] Enigma-li commented on #12817
The detailed code is like:

# set data directory
CURRENT = os.path.abspath(os.path.dirname(__file__))
DATA_DIR = os.path.join(CURRENT, 'gt')
DB_DIR = os.path.join(DATA_DIR, 'toy_db', 'data.mdb')
OUT_DIR = os.path.join(DATA_DIR, 'out')

def tf_lmdb_reader():
    test_queue = tf.train.string_input_producer([DB_DIR], num_epochs=2)
    reader = io_ops.LMDBReader()
    key, value = reader.read(test_que

[2017-09-05 11:02] jiazhe0909 opened #12818 "[feature request] Any way to control the order of send/recv (host to device data transfer) explicitly?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
1.2
- **Python version**:
3.5
- **Bazel version (if compiling from source)**:
0.5.2

[2017-09-05 11:10] adityapatadia commented on #9697
Getting this error on Intel Skylake-X 7820X processor

[code]

[2017-09-05 11:45] koelscha commented on #12704
Thanks, this solved it. Your code was not running, but the idea was clear, so I could fix it.

Now, if I have requests which use different batch sizes, I would have to reinit the network, right? I tried with resetting the graph, but then I again got a leak...

[2017-09-05 12:00] SimonWalsh1000 commented on #6698
Just for those who are driven mad by this:

I occasionally got a CUBLAS error as well. So I did this:

`cd /usr/local/cuda/samples/7_CUDALibraries/simpleCUBLAS # check if your samples are in the same directory
make
./simpleCUBLAS`

and discovered that I could not initialise CUBLAS

So next I did this (based on advice)

`sudo rm -f ~/.nv`

And it worked. Cheers.....thats 4 days wasted. Hope this sa

[2017-09-05 13:16] kzos commented on #10747
@amnonh-uw
Center Padding is happening in Gemmlowp,
is this you wanted.?

"tensorflow/core/kernels/quantized_conv_ops.cc"

            // What we're doing here is trying to copy and fill the im2col
             // buffer as efficiently as possible, using functions to set or
             // duplicate values en masse. We know we don't have to worry about
             // vertical edges because we dea

[2017-09-05 13:21] isaacgerg commented on #2169
@manglav https://github.com/isaacgerg/keras_odds_and_ends

[2017-09-05 14:14] eaperz opened #12821 "Wrong error message during compiling"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Amazon Linux 2017.03
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: release v1.3.0
- **Python version**: 3.6.2
- **Bazel vers

[2017-09-05 14:24] skye commented on #12264
Hey @sharathppss, thanks for your interest, but I don't think this will be a good feature for a TF newbie. This will require some design work and it's best to get familiar using/working with the code first.

[2017-09-05 14:48] deenaawny opened #12822 "TensorFlow import"
Tensor flow report issue:

I am getting the following error  when importing tensorflow.

import tensorflow as tf
Traceback (most recent call last):
  File "C:\Users\Deena Awny\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    return importlib.import_module(mname)
  File "C:\Users\Deena Awny\AppData\Local\Pr

[2017-09-05 15:04] drpngx commented on #12807
This is a known issue, we haven't released the drivers.

https://stackoverflow.com/questions/45952387/anaconda-install-of-tensorflow-missing-audio-ops-from-contrib-framework

[2017-09-05 15:04] #12807 closed

[2017-09-05 15:06] martinwicke commented on #11277
1.3 is the latest version. 1.2 probably doesn't contain the fix.

[2017-09-05 15:28] dilli007 opened #12823 "bazel error"
ERROR: /Users/dile/tensorflow/third_party/py/numpy/BUILD:11:1: no such package '@local_config_python//': Traceback (most recent call last):
	File "/Users/dile/tensorflow/third_party/py/python_configure.bzl", line 310
		_create_local_python_repository(repository_ctx)
	File "/Users/dile/tensorflow/third_party/py/python_configure.bzl", line 268, in _create_local_python_repository
		_get_python_bin(re

[2017-09-05 15:31] delton137 commented on #8879
@SimonWalsh1000 I am not sure if this helps but I was able to fix it by nuking the conda environment I was working in, uninstalling CUDA and then reinstalling everything using conda (just `conda install tensorflow-gpu`, it will install all the cuda dependencies automatically). There must have been a compatibility issue somewhere between the Nvidia driver, CUDA, CUDADNN, and TF, but I'm not sure wh

[2017-09-05 15:38] yzhwang commented on #11327
It is fixed in head so if you build from source you won't see the bug. The commit that solved this bug didn't get into r1.3, but will be included in our next release.

[2017-09-05 15:40] SimonWalsh1000 commented on #8879
I think you may have needed cuDNN 6.0 for TF 1.3.

[2017-09-05 15:45] tfboyd commented on #11232
@harelfar2

6x slower comparing CPU to CPU is not something I saw in my testing even when almost purposely picking bad configs for MKL.  The Maven build should only be SSE 3.1 (or something like that) and in the simple Resnet/Inception/AlexNet conv tests MKL was faster even with the less than optimal data_format and env variables.  I have likely pasted this too many places but here is a big part o

[2017-09-05 15:52] hhxxttxsh commented on #12731
Thank you! Are you sure that version you mentioned has a whl file under
nightly-matrix-linux-gpu
<https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-linux-gpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=gpu-linux/>
 ?

I have not found it.

Is it OK to just install the latest whl file? Will the change of
tf.reduce_sum function be reverted/missed somehow in

[2017-09-05 16:14] #12571 closed

[2017-09-05 16:25] adarob commented on #12733
For validation, I either use a TrainingHelper or ScheduledOutputTrainingHelper with sampling_probabilty = 1 as you suggested. Otherwise you'll need to come up with another way of computing the loss since you will have incompatible dimensions between the inferred outputs and ground truth, as you are seeing.

[2017-09-05 16:25] jamiebaggott opened #12824 "Apparent Segmentation Violation with Go API"
Hi, I am trying to build a project that will take multiple URLs, download their images, and then use TensorFlow and the InceptionV3 pre-trained model to perform image recognition. For this, I am using the Go API. Most of the time, this process occurs without an issue, but every now and again an error occurs. I think this may be caused by a bug in TensorFlow as it appears to being thrown from the c

[2017-09-05 16:36] sussillo commented on #12674
It is my understanding that this bug was fixed in commit 44bdf29fcbae0c9d748c9761d1be270a917b3ff6 on July 18th by @allenlavoie. Have you updated the code since then?

[2017-09-05 16:38] theflofly commented on #12519
Merged.

[2017-09-05 16:38] #12519 closed

[2017-09-05 16:54] guschmue commented on #11277
I think this was the change:
https://github.com/tensorflow/tensorflow/pull/11298/files
and it is not in 1.2:
https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/contrib/cmake/tf_core_kernels.cmake#L113

1.3 has it.

[2017-09-05 17:01] yaroslavvb commented on #12816
This is better suited for stackoverflow.

Small batches have worse performance because of how modern hardware architecture is structured. There are sometimes tricks to speed up small batches, ie, by using libxsmm which has some integration with TensorFlow.

[2017-09-05 17:07] yaroslavvb commented on #12805
BTW this is [mentioned](https://github.com/tensorflow/tensorflow/blob/b5214cab6151fc9c0471829a05bab4872e2e3bc4/tensorflow/python/ops/data_flow_ops.py#L1596) in documentation for StagingArea

[code]

[2017-09-05 17:19] andrewharp commented on #12649
@kwotsin: I'm not aware that Inception v3 is even supposed to work at an input resolution other than 299x299 -- do you have a reason to believe that it should? I'm not 100% certain it won't either, so just checking. It could be possible that seems to work up to a point, but really the image internally has striding errors or something until finally you run into a mismatched allocation issue.

The e

[2017-09-05 17:38] drpngx commented on #12823
Can you put the rest of the information? (OS, etc) Did you run configure?

[2017-09-05 17:40] drpngx commented on #12821
@MarkDaoust we should update the pre-requisites.

Thank for reporting this, @eaperz! If you want to send a PR, that's also great.

[2017-09-05 17:43] yifeif commented on #12760
The space here is intentional.
It is supposed to get the link without the cudnn version number:
	`libcudnn.so (libc6,x86-64) => /usr/local/cuda-8.0/targets/x86_64-linux/lib/libcudnn.so`
@DeliciousHair was it causing any issue for you?

[2017-09-05 17:47] drpngx commented on #12817
There should never be a SEGV.  I'm guessing the problem is on the LMDB reader. Do you have a stack trace?

[2017-09-05 18:16] RylanSchaeffer commented on #12733
I guess it doesn't really matter, but it feels wrong to use a TrainingHelper during validation.

[2017-09-05 19:14] pks commented on #11847
@ShapingView There's a cleaner patch in #12566.

[2017-09-05 19:39] dartdog commented on #8787
Interested also just found this when trying to move a tf.estimator based model to Keras and realizing the data prep and

`training_input_fn = tf.estimator.inputs.pandas_input_fn(x=training_data, y=training_label, batch_size=64, shuffle=True, num_epochs=None)`

Would not work to feed Keras, looking forward to it landing, the ability to use the estimator and experiment stuff with Keras is interestin

[2017-09-05 20:05] dhernandd commented on #12674
@sussillo Thanks, you are right. I was using a relatively old copy of LFADS I had stored in my local machine. I updated to the new version and it works fine now.

[2017-09-05 20:05] #12674 closed

[2017-09-05 20:10] naisanza commented on #11301
@cy89 how about getting `Blas GEMM launch failed` with Ubuntu 16.04?

Full log: [errors/Embedding error 2.txt](https://github.com/TheShellLand/tenderflow/blob/master/keras/errors/Embedding%20error%202.txt)

[2017-09-05 21:03] yaroslavvb commented on #12796
This may be more appropriate for stack overflow. TensorFlow will run your `update_a` and `update_b` ops in random order

[2017-09-05 21:43] yongtang commented on #2134
I think the issue about offset is located:
https://github.com/tensorflow/tensorflow/blob/ca3bc0f1c2f917cf6e7c49d58f5ec604a9af9367/tensorflow/core/kernels/eigen_attention.h#L84-L98

Created a PR #12829 to fix it with the following changes:
[code]

[2017-09-05 21:54] hotpxl opened #12830 "Custom op linking flags"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Clean master (b5214cab6151fc9c0471829a05bab4872e2e3bc4)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.3
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: not relevant
- **Python versio

[2017-09-05 22:40] printdhruv commented on #12822
(1) Please review tensorflow guidelines [here](https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE.md) before raising an issue.
(2) Please go to [stackoverflow](https://stackoverflow.com/search?q=install+tensorflow+on+windows) for more help.
(3) If you are trying to install tensorflow-gpu then have to follow specific guidelines [here](https://stackoverflow.com/questions/42011070/on

[2017-09-05 22:55] yaroslavvb commented on #12805
@ashwhall would you like to send a pull request on the documentation page to prevent this sort of confusion in the future? I think its this file --
 tensorflow/tensorflow/docs_src/performance/performance_models.md

[2017-09-05 23:26] ashwhall commented on #12805
Pull request https://github.com/tensorflow/tensorflow/pull/12833 created

Thanks!

[2017-09-06 00:00] andrewharp commented on #12431
@ArtsiomCh We've pushed a 1.3.1-alpha AAR (built from master between 1.3.0 and any upcoming 1.3.1 branch) which contains the native patch necessary to run the model (fixes the Switch error). We'll add some notes for future incompatibilities of this nature to suggest, when using the 'none' build type, to download at a pinned revision branch and fixing the TF AAR version to ensure that a known compa

[2017-09-06 00:00] #12431 closed

[2017-09-06 01:27] tristanbrown commented on #6548
The error came from the multiple Python distributions I had installed. I removed all the other ones from my PATH file, and the issue was resolved.

[2017-09-06 01:38] yongtang commented on #2134
@AroMorin Currently the  `tf.image.extract_glimpse` allows you to specify a boolean (`True/False`) to indicate if uniform or gaussian noise is to be used. We could not extend the boolean to indicate the zero background.

It might be possible to add an additional flag (e.g, `noise_type: string` etc) so that other noise types could be specified. But that will require API changes.

I can work on addi

[2017-09-06 02:06] Enigma-li commented on #12817
I guess the reason is that there is lock file when we open the LMDB database, this will prevent us to read it again when one epoch is finished. I got some explanation from other questions, like:

When opening a database file, LMDB creates a lock file lock.mdb in the same folder to prevent that database being opened more than once. This unfortunately prevents us to enqueue the database file multipl

[2017-09-06 03:10] ebrevdo commented on #8275
Yours is an unrelated problem. Can you create a new issue?

[2017-09-06 03:23] ebrevdo commented on #10815
I think it's just setting the seed to get consistent samples.  Your
randomness is different between the two runs.

Adam Roberts added two new inference helpers for this exact case, but they
are only in the nightlies, not in tf 1.3.  look for InferenceHelper, which
you can use to implement sample-only decoding.

On Aug 31, 2017 2:28 AM, "chococig" <notifications@github.com> wrote:

[2017-09-06 04:03] hbtsai commented on #9697
@adityapatadia I got exactly the same error as yours.
I tried with the latest eigen source (bccf2d933699) but in vain.

[2017-09-06 04:05] wizardboy2010 commented on #2885
im using ubuntu i followed the tflow doc and im still facing the same problem

[2017-09-06 04:12] tmulc18 commented on #12472
@jinxin0924 I'm currently working on implementing ADAG. I'm stuck because I don't know how to create local variables that aren't communicated with the parameter server.   Do you have any code the demos this?

[2017-09-06 04:21] tmulc18 opened #12838 "Feature Request: ADAG"
It seems difficult to add [ADAG](http://joerihermans.com/ramblings/distributed-deep-learning-part-1-an-introduction/)  as an optimizer, because by default with tf.train.replica_device_setter(), all variables get assigned to a parameter server (ps).  Thus, it is difficult to update variables locally because the optimizer first pushes updates to the ps, allowing all other workers to see its updates.

[2017-09-06 04:47] sharathppss commented on #12264
Thanks @skye. Yeah I was looking at the code, this might be a bit much to get started.

[2017-09-06 04:58] quaeler commented on #12817
Have you considered whether using DataFlow from tensorpack (though independent of tensorpack dependency-wise) would address this?

There's [an LMDB example here](http://tensorpack.readthedocs.io/en/latest/tutorial/efficient-dataflow.html#sequential-read)

[2017-09-06 05:06] prashanthsun9 commented on #12815
Is there no solution for this issue I am getting the same error and I am stuck,
knock knock anybody there? need help!!!

[2017-09-06 05:21] facaiy commented on #12821
Is it good to check whether `patch` is installed before it is invoked [here](https://github.com/tensorflow/tensorflow/blob/12a628a623a5dae81b8fc699792eaf414e6ace41/tensorflow/workspace.bzl#L110)?

[2017-09-06 05:27] cYclonEK commented on #9697
@adityapatadia @hbtsai
This error showed up on KNL since the beginning of 2017
I try to build periodically but all failed on this error
Eigen fails if you build with avx512 flag

[2017-09-06 05:45] hadarpo commented on #11327
Thanks @yzhwang, as I see the nightly build of tensorflow for windows-gpu has not succeeded for more than a month, so I'm not sure that I can build it myself. Is there any guess when will be the next release?

[2017-09-06 05:53] eaperz commented on #12821
I think it should be checked in a pre-requisite stage, along with all other pre-requisites to build. Unfortunately it's my first contact with tensorflow and I have no idea where in the code is this verification.

[2017-09-06 05:54] eaperz commented on #12821
I think it should be checked in a pre-requisite stage, along with all other pre-requisites to build. Unfortunately it's my first contact with tensorflow and I have no idea where in the code is this verification done.

[2017-09-06 05:59] facaiy commented on #12821
@eaperz  I agree with you. Since I'm not familiar with bazel, I don't know how to do pre-check yet.

[2017-09-06 06:18] namrata-ibm commented on #12136
@ali01, I m running : `bazel test -c opt //tensorflow/python:quantize_training_test`.
As per above log, ` testQuantizedSaveRestore` fails with error `Shapes must be equal rank, but are 0 and 2 for 'a/Min/AssignValue' (op: 'Assign') with input shapes: [], [1,1].`

I tried printing the graph_def object in `tensorflow/python/framework/importer.py`. It is similar to x86:

[code]

So I further printed

[2017-09-06 06:23] jvdsidq commented on #9564
How can I install Keras after installing theano? I tried to install keras but after complitation when I am trying to import keras it shows me error: No module name tensorflow.
I also changed the default backend from tensorflow to theano but still I am facing the same problem. Could you people please help me to fix it.

[2017-09-06 06:26] jvdsidq commented on #9564
How can I install Keras after installing theano? I tried to install keras but after complitation when I am trying to import keras it shows me error: No module name tensorflow.
I also changed the default backend from tensorflow to theano but still I am facing the same problem. Could you people please help me to fix it.

[2017-09-06 06:26] jvdsidq commented on #2885
How can I install Keras after installing theano? I tried to install keras but after complitation when I am trying to import keras it shows me error: No module name tensorflow.
I also changed the default backend from tensorflow to theano but still I am facing the same problem. Could you people please help me to fix it. I am working on Jetson TK1 Embedded Board and the board has some limitations of

[2017-09-06 06:47] geilige commented on #9469
TensorFlow 1.3 + CuDNN 6.0与Cuda 8

[2017-09-06 08:04] ggael commented on #9697
This should be fixed now: https://bitbucket.org/eigen/eigen/commits/66ac15c52b6c/

[2017-09-06 08:12] adityapatadia commented on #9697
@ggael do you recommend using master branch?

[2017-09-06 08:27] ggael commented on #9697
@adityapatadia perhaps it is safer to use the 3.3 branch, and 3.3.5 once released.

[2017-09-06 08:28] andforce commented on #10468
how convert “ckpt” to "mlmodel"?

[2017-09-06 08:30] crackcomm opened #12840 "User-defined functions loaders"
I noticed user-defined functions are still [experimental](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/graph.proto#L27). I have an idea about functions loaders that could allow us to use dynamically loaded functions from different sources.

Format of function address would be [multiaddr](https://github.com/multiformats/multiaddr#string-format)-like.

[code]

Loade

[2017-09-06 08:32] biolee commented on #4814
what's the best practice to use this

[code]

I get
[code]

[2017-09-06 08:36] zrcahyx commented on #12416
@yongtang Thanks for your advice. But i can't even link against v5. I am contacting with my colleague and trying to get cudnn v6 installed on the server.

[2017-09-06 08:41] adityapatadia commented on #9697
Gives following error for 3.3 branch:

[code]

[2017-09-06 08:54] ssfdust opened #12841 "Tensorflow broken on importing tensorflow.contrib.tensorboard module"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-06 09:08] ggael commented on #9697
@adityapatadia ok, looks like TensorFlow requires the master branch (I'm not a TensorFlow user)

[2017-09-06 09:11] adityapatadia commented on #9697
Ok, compiled with master branch and works fine.

[2017-09-06 09:45] keerthanashanmugam commented on #2382
I had a similar problem. In my case I was using ipython to run my code. Problem was resolved when I restarted ipython to run code again.

[2017-09-06 10:06] georgh opened #12843 "Error message of scatter_update is misleading"
When you call scatter_update with a wrong input vector, the error message will tell you that the rank is
wrong, which is not very helpful.
An example case in the documentation (provided) would be great.

Example:
[code]
Error Message:
**ValueError: Shapes must be equal rank, but are 1 and 2 for 'ScatterUpdate' (op: 'ScatterUpdate') with input shapes: [5,1], [2], [2].**
That's not that helpful beca

[2017-09-06 10:25] juventi commented on #12816
As you said， single image batches on CPU, it will have to load neural net parameters into cache for each image， so the loading process consume too much time ?
But  in Machine Learning project we  usually load the neural net parameters(or trained model) at the very beginning for only once,  than we process each vali sample.
Can tensorflow load the weights Once? Cause sometimes our model can be smal

[2017-09-06 10:29] kwotsin commented on #12649
@andrewharp I have tried Inception V3 at varying resolutions that is not 299x299 on my workstation, and it could still work. I think what has to be changed is just the first input node shape and some modification to its auxiliary operations. This is also true for the android implementation, and I've tried till 360x360, beyond which it gives a buffer overflow error. As for the image data, I think g

[2017-09-06 10:39] zhanglistar commented on #3224
I have the same error:

2017-09-06 18:35:49.879762: E tensorflow/stream_executor/cuda/cuda_event.cc:49] Error polling for event status: failed to query event: CUDA_ERROR_ILLEGAL_ADDRESS
2017-09-06 18:35:49.879768: E tensorflow/stream_executor/cuda/cuda_blas.cc:543] failed to run cuBLAS routine cublasSgemm_v2: CUBLAS_STATUS_INTERNAL_ERROR
2017-09-06 18:35:49.879809: F tensorflow/core/common_runtime

[2017-09-06 10:56] meteorcloudy opened #12844 "//tensorflow/python:saver_test is failing in Windows Bazel build"
http://ci.tensorflow.org/job/tf-master-win-bzl/1515/console

[code]
I found out that `TF_SAVER_LENIENT_NAMES` environment variable set at
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/saver_test.py#L2474 is not propagated to the [C++ module](https://github.com/tensorflow/tensorflow/blob/bf6df5e2330dff8383869999840578fa5128e794/tensorflow/core/util/tensor_bundle/te

[2017-09-06 11:06] ellurunaresh opened #12846 "Unable to install tensorflow=1.0.0"
I have been trying to install tensorflow 1.0.0 using pip in Anaconda environment. I found the below error while installation. I have seen previous posts in github and stackover flow but I couldn't find the solution.

(C:\Users\naresh.kumar\AppData\Local\Continuum\Anaconda3) C:\Users\naresh.kumar>**pip install --ignore-installed --upgrade  https://storage.googleapis.com/tensorflow/windows/cpu/tenso

[2017-09-06 11:09] jplu opened #12847 "Compilation issue with AVX option"
### System information
- **OS Platform and Distribution**: Debian Buster
- **TensorFlow installed from**: source
- **TensorFlow version**: commit https://github.com/tensorflow/tensorflow/commit/12a628a623a5dae81b8fc699792eaf414e6ace41
- **Python version**: 3.5.4
- **Bazel version**: 0.5.4
- **CUDA/cuDNN version**: CUDA 8/CuDNN 6
- **GPU model and memory**: 2xTesla K80 with 12GB each
- **CPU model*

[2017-09-06 11:37] bryant1410 opened #12848 "RenderScript support"
Is there a reason for not supporting RenderScript? It's there an ETA for this?

[2017-09-06 11:48] #12799 closed

[2017-09-06 12:03] akosiorek commented on #3862
The following workaround helps to avoid the NaN gradient issue (it lacks the `exclusive` flag but it's easy enough to implement):
[code]

[2017-09-06 12:07] qtdaniel opened #12849 "Unable to compile TF 1.3 from source using full MKL"
Steps to reproduce:

    git clone https://github.com/tensorflow/tensorflow.git test
    cd test
    git checkout r1.3
    yes "" | TF_NEED_CUDA=0 TF_NEED_MKL=1 TF_DOWNLOAD_MKL=0 MKL_INSTALL_PATH=<path>/l_mkl_2017.3.196/inst/mkl ./configure
    bazel build --config=mkl -c opt --verbose_failures //tensorflow/tools/pip_package:build_pip_package

OS version: Ubuntu Linux 14.04
Bazel version: 0.5.3

E

[2017-09-06 12:15] #12847 closed

[2017-09-06 12:15] jplu commented on #12847
Duplicate from 10220

[2017-09-06 12:16] jplu commented on #10220
I have the exact same issue on Debian. Any update on this issue?

[2017-09-06 12:18] apacha commented on #12052
I just tried installing pre-compiled tensorflow-gpu-1.3.0 for Python 3.6 on Windows x64 and provided cuDNN library version 7.0 with Cuda 8.0 and at least for me, everything seems to work. I'm not seeing any exception or issues.
Is this to be expected? Is cuDNN 7.0 backwards-compatible to cuDNN 6.0? May this lead to any issues?

[2017-09-06 12:21] Enigma-li commented on #12817
@quaeler sorry, I did not try. I already convert my data to TFRecords, which is bug free and can use the pipeline I used for LMDB. And I am waiting bug fixation for LMDB.

Thanks

[2017-09-06 13:12] EMCP commented on #9071
@stefanofiorentino for driver version 384, I no longer see this path.. did I not complete installation properly??  I'm almost in a stable setup but CUDA stopped working after a reboot and recompilation of tensorflow cannot find my gpu any longer.. for some reason the pip install was working great with cuda

![proof_speedup_worked](https://user-images.githubusercontent.com/3691722/30113663-ba0758e0

[2017-09-06 13:35] #12722 closed

[2017-09-06 13:36] 22csnyder commented on #9071
Not an expert, but I thought these lines ending with
"DMA: 0"
"      0:  Y"

meant that it did detect 1 gpu.

I use the top answer to this question
<https://stackoverflow.com/questions/38559755/how-to-get-current-available-gpus-in-tensorflow>
when
I'm unsure if gpus are detected.

-Chris

On Wed, Sep 6, 2017 at 8:15 AM, Erik <notifications@github.com> wrote:

[2017-09-06 13:40] Omarkaab commented on #12416
@zrcahyx what version of tensorflow-gpu are you using ?

[2017-09-06 13:50] eaplatanios opened #12851 "Dataset Unzip Operation"
@mrry This is a comment I originally posted to the "Redesigning input pipelines" issue, but I think it went unnoticed given the amount of comments on that thread. Given that issue is now closed (for good reason :)), I decided to post it as a separate issue.

I currently cannot see a way currently to "unzip" a dataset. Let's say we have a trainable model that has both a train/fit method and a infer

[2017-09-06 14:07] DecafManiac commented on #37
+1

[2017-09-06 14:21] mrry commented on #12851
Thanks for reposting this @eaplatanios! I'd like to understand the use case more, so we can focus on the appropriate efficient solution. Just to check my understanding, are you proposing a transformation with the following type? (Please forgive the abuse of Haskell notation below :)....)

[code]

If that's the case, you could do that by mapping twice over the the input, with the first map selectin

[2017-09-06 14:31] rhalbersma commented on #2141
[Please let me know if this is off-topic and should belong in a new issue]

Instead of saving/loading entire models from disk, I would also like the `Estimator` API to treat the trained weights as first-class entities (e.g. in a `Weights` class). E.g., the `train()` method could accept as input a weight initializer (defaulted to the currently used initialization routine), and expose the trained we

[2017-09-06 14:36] goktay commented on #12841
Are you using an Arch based Linux distro, by any chance? Such as Arch Linux, Antergos or Manjaro?

[2017-09-06 14:55] tfboyd commented on #12052
@apacha I am a little surprised it worked.  I have seen the error before in my testing where the TensorFlow binary cannot find cuDNN because it looks for it by name and the *.so files include 6.0/7.0 in the names.  Remotely possible you have cuDNN 6 still in your path.  I do not like making guesses about your setup but if I was making a bet I would saying it is still using cuDNN 6.

In regards to

[2017-09-06 15:01] riklopfer commented on #11948
@asimshankar I no longer see monotonic increase in memory consumption when running my the small test  in the linked repo. However, when I run a longer, more complicated graph on the GPU, it is killed by the OOM killer. I wasn't able to get a valgrind dump for that process. When I have time, I will try increasing the complexity of the test graph until it shows the problem again (or not).

[2017-09-06 15:01] tfboyd commented on #10220
@jplu
I do not know if someone will look at this, but with out knowing the hash you are building from, gcc, debian version and bazel version as well as the full build command and ./configure options it is looking for a needle in a haystack.  I do custom TensorFlow builds weekly on 16.04 and I 100% understand there are many combinations of builds that could trigger a problem that I would never see.

[2017-09-06 15:13] stefanofiorentino commented on #9071
@EMCP please let me know if you resolve the issue going with

`find / -iname nvidia-* -type d 2>&1 | grep -v ^find`

You should find what is your directory to add to LD_LIBRARY_PATH.

[2017-09-06 15:13] apacha commented on #12052
@tfboyd just for the sake of completeness: I was using cuDNN 5 previously and since I had to update for tensorflow 1.3, I was just hopping to cuDNN version 7 to give it a shot. I've explicitly deleted `cudnn64_5.dll` and there is no `cudnn64_6.dll` in my CUDA installation path. Maybe it's Windows magic. :-P

[2017-09-06 15:32] godspeed1989 commented on #12841
I am using Arch Linux, encountered the same issue
I have reported to:
[https://bugs.archlinux.org/task/55477](https://bugs.archlinux.org/task/55477)
waiting it to be fixed :)

[2017-09-06 16:02] eaplatanios commented on #12851
@mrry Thanks for the fast and elaborate response! :)

First of all, let me provide a simplified example of the use case I have in mind. I want to create a functional API for constructing and training networks. I'm thinking of having a notion of `Layer[T, R]`, which maps from input type `T` to output type `R`. A layer is a function that given a `T` will construct relevant ops and return an `R`. The

[2017-09-06 16:19] goktay commented on #12841
Well, this issue is not related with the repo itself ATM. I am the issuer of the ticket they have mentioned.

I have opened the ticket as soon as I got the error. First, they have closed it saying that it was a duplicate, it was not. Then they have reopened it but set it to "Low" priority, yeah a system breaking bug is not important as it seems. Now, the repo maintainer haven't fixed the issue for

[2017-09-06 16:56] drpngx commented on #12817
You mean the LMDB reader lacks a `close`?

[2017-09-06 17:15] alextp commented on #2141
Separate issue, please.

On Wed, Sep 6, 2017 at 7:35 AM, rhalbersma <notifications@github.com> wrote:

--
 - Alex

[2017-09-06 17:16] yzhwang commented on #11327
Sorry for the trouble. Previous release dates suggest a 2 month release cycle. But I'm not sure if this will always be the case. You can also patch in https://github.com/tensorflow/tensorflow/commit/db596594b5653b43fcb558a4753b39904bb62cbd with an earlier version of tensorflow if you need them immediately.

[2017-09-06 17:21] drpngx commented on #12841
@goktay can you link to the PR? Thanks.

[2017-09-06 17:27] tfboyd commented on #12052
@apacha It might be windows magic.  I did not want to sound judgmental as I had no idea.  I think windows magic is possible as the cuDNN calls should not have changed and thus backwards compatible seems likely.  For the linux builds TensorFlow is looking for specific files (or that is what it looks like when I get errors) and is very unhappy if it does not find cudnnblahblah.6.so.  Thanks for the

[2017-09-06 17:45] drpngx commented on #12843
Thanks for reporting! Do you want to send a PR to fix the message?

[2017-09-06 17:46] drpngx commented on #12849
@gunan do you happen to know on the top of your head?

[2017-09-06 17:48] drpngx commented on #12797
/CC: @asimshankar

It looks like you have a pending PR to fix this, LMK if you expect some action on our part.

[2017-09-06 17:50] yaroslavvb commented on #12816
@juventi this is a general issue not specific to TensorFlow -- you get better utilization when dealing with large batches. For instance large matrix multiply can be 10x more efficient, in terms of ops/sec than small matrix multiplies. It has to do with underlying hardware organizing computation more efficiently, ie, by using SRAM cache, this is not something you can directly control from TensorFlo

[2017-09-06 17:50] #12816 closed

[2017-09-06 17:55] gunan commented on #12849
AFAICT, my changes are not in 1.3 branch.
At master, you should only need to configure, then run `bazel build` with `--config=mkl`, and that should be it.
On 1.3, we still use the way contributed by intel. I believe this was not a very well tested build path, so it is likely this was broken all along.
I would recommend setting `TF_DOWNLOAD_MKL` to 1 and see if it works when configure downloads MKL

[2017-09-06 18:05] mrry commented on #12745
This sounds like the problem is with your network configuration, rather than a bug in TensorFlow. In particular, there seems to be something wrong with the configuration for workers 12 and 17... perhaps something else is listening on the same socket? Is there anything in the logs for those workers? You could try running the servers with environment variable `GRPC_VERBOSITY=DEBUG` and see if there

[2017-09-06 18:49] RAditi opened #12853 "Sub-gradient for self_adjoin_eig when eigen values are equal"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, I have written custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux 14.04
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use command below)**:
1.2.1
- **Python version**:
Python 2.

[2017-09-06 18:59] adrinjalali commented on #12707
Asked on [stackoverflow](https://stackoverflow.com/questions/45975463/tensorflow-example-building-input-functions-with-tf-estimator-doesnt-deliver). No answer there.

[2017-09-06 19:27] charlesjohannisen commented on #9436
For anyone who's still getting this error:
add `--action_env=PYTHON_BIN_PATH=/usr/bin/python` to `~/.bazelrc` as per [https://bazel.build/designs/2016/06/21/environment.html](url)
If you're building from your own Dockerfile, adding `ENV PYTHON_BIN_PATH=/usr/bin/python` will be adequate.

[2017-09-06 19:28] mbrownkinatrax commented on #3362
@ppries did you even get this batch size working in c++?

[2017-09-06 19:34] goktay commented on #12841
PR: https://github.com/tensorflow/tensorflow/pull/12782

Here you go. It is nothing big, just deleted the occurrences of "contrib.tensorboard" and put a few checks in keras/callbacks.py.

I have looked for all of the instances of tensorboard with `grep -rwn "tensorboard"` and so far I think I have covered everywhere (grep has a recursion limit however I think I didn't hit it).

Maybe you guys have

[2017-09-06 19:34] mjbk commented on #3362
@ppries  Were you even able to change the batch size in C++?

[2017-09-06 19:44] aabirabubaker commented on #12846
Have you tried
`conda install tensorflow`?
This is one of the best things about Anaconda - it simplifies package installation hugely.

[2017-09-06 19:46] Daniel451 commented on #9697
Sorry for the dumb question, but how can you advice bazel to build TensorFlow with a specific version of Eigen? Can I download Eigen from sources, build Eigen and then point bazel to the local Eigen build?

[2017-09-06 20:01] shyamalschandra opened #12854 "tf.qint8: Quantized 8-bit signed integer (Definition, code piece, examples)"
What does quantized mean in this scenario?  Could you please explain with an example and a descriptive definition along with the code used for this?

tf.qint8: Quantized 8-bit signed integer.
What does quantized mean in this scenario?

tf.quint8: Quantized 8-bit unsigned integer.
What does quantized mean in this scenario?

tf.qint16: Quantized 16-bit signed integer.
What does quantized mean in thi

[2017-09-06 20:11] georgh commented on #12843
@drpngx
I don't know - could you point me to the place where the actual scatter_update implementation and documentation is? Then I may be able to create a PR.

[2017-09-06 20:23] drpngx commented on #12821
Best place would probably be in the `configure`(https://github.com/tensorflow/tensorflow/blob/master/configure.py) script.

[2017-09-06 20:30] DeliciousHair commented on #12760
It was, the config script kept erroring on me when building from master until I removed that space (hence mentioning it). Wouldn't you want/need the version number though, since the script does in fact ask about it as well?

[2017-09-06 20:35] drpngx commented on #12747
To summarize the error, I think it's a C++11 issue:
[code]

Can you double-check and try `--copts=-std=cxx11`?

[2017-09-06 20:44] drpngx commented on #12781
@armafire thanks for the report. Are you sure you are using the proper binutils? It looks like a gas error.

[2017-09-06 20:46] drpngx commented on #12787
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-06 20:46] #12787 closed

[2017-09-06 20:48] jplu commented on #10220
Sorry. Here is my setup:

### System information
- **OS Platform and Distribution**: Debian Buster
- **TensorFlow installed from**: source
- **TensorFlow version**: commit https://github.com/tensorflow/tensorflow/commit/12a628a623a5dae81b8fc699792eaf414e6ace41
- **Python version**: 3.5.4
- **Bazel version**: 0.5.4
- **CUDA/cuDNN version**: CUDA 8/CuDNN 6
- **GPU model and memory**: 2xTesla K80 wit

[2017-09-06 20:49] drpngx commented on #12789
About the zero accuracy using `tf.contrib.keras`, please file a separate bug.

Otherwise, this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-06 20:49] #12789 closed

[2017-09-06 20:50] ppwwyyxx commented on #12817
I don't know what's causing the problem, but just want to mention that lmdb database can be opened without a lock when the transaction is read-only.

[2017-09-06 20:51] iamshang1 commented on #11610
Any update on this?

[2017-09-06 20:56] jart commented on #12693
We've now pushed the [0.1.6](https://github.com/tensorflow/tensorboard/releases/tag/0.1.6) release to [PyPi](https://pypi.python.org/pypi/tensorflow-tensorboard/0.1.6) which should fix this issue. Please run:

[code]

[2017-09-06 20:56] #12693 closed

[2017-09-06 21:06] yifeif commented on #12760
Do you mind posting the error you are seeing?
The script follows the regex match with this check:
`if os.path.exists('%s.%s' % (cudnn_path_from_ldconfig, tf_cudnn_version)):`, which is why it was looking for the link for libcudnn.so instead of libcudnn.so.<tf_cudnn_version>.

[2017-09-06 21:08] claynerobison commented on #327
I also had this issue and resolved it by uninstalling bazel (which was installed system-wide) and reinstalling as --user.

[2017-09-06 21:13] quaeler commented on #12817
We [do currently open it in read-only mode](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/lmdb_reader_op.cc#L39), but [the documentation for the LMDB API](http://www.lmdb.tech/doc/group__mdb.html#ga32a193c6bf4d7d5c5d579e71f22e9340) states WRT read-only mode:
[code]

[2017-09-06 21:20] eli-schwartz commented on #12841
1) mistakes happen
2) https://wiki.archlinux.org/index.php/Reporting_bug_guidelines#Severity
I do not read this issue as something that renders the entire package completely unusable.

Your aggressive attitude on the bugtracker and continued polemic here is not helping. Severities exist for a reason, and marking a bug as a lower priority is not a personal attack against you. Though if you absolute

[2017-09-06 21:25] DeliciousHair commented on #12760
happy to, but will not be around the computer for about 16 hours.

[2017-09-06 21:34] aenciso commented on #5949
@mrry best script ever! Thanks. I spent hours debugging, reinstalling, etc. You have save my day. Thanks a lot.

[2017-09-06 22:00] armafire commented on #12781
What should I do to verify the gas?

[2017-09-06 22:01] TomorrowIsAnOtherDay opened #12855 "[Feature Request]Read the last batch in Dataset"
## The programmer guide provides an example of work flow like this

`filenames = ["/var/data/file1.tfrecord", "/var/data/file2.tfrecord"]
dataset = tf.contrib.data.TFRecordDataset(filenames)
dataset = dataset.map(...)
dataset = dataset.batch(32)
iterator = dataset.make_initializable_iterator()
next_element = iterator.get_next()

### Compute for 100 epochs.
for _ in range(100):
  sess.run(iterator.

[2017-09-06 22:03] KindDragon commented on #9068
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md

[2017-09-06 22:24] pk11 commented on #12367
We have a similar model [DNNRegressor](https://www.tensorflow.org/api_docs/python/tf/estimator/DNNRegressor) that seems to require a single string tensor. `saved_model_cli` also seems to suggest that it has only a single head i.e.
[code]

[2017-09-06 23:15] kbsriram opened #12856 "C++ gradients: data_flow ops"
This set has just two ops to port - `DynamicStitch` and `DynamicPartition`. Anyone already working on it? Otherwise, I'll sign up for this.

/cc @suharshs

[2017-09-06 23:18] adityaatluri commented on #10703
@cy89 can you help me resolve this issue? Thanks!

[2017-09-06 23:18] lime45 commented on #9697
@Daniel451  What I did was open target/tensorflow/tensorflow/workspace.bzl and find eigen_archive and then change the values in the stanza located there. You will have to download the tar.gz file and get the sha256 sum so you can fill that in properly.

[2017-09-06 23:30] slacy opened #12857 "Unhelpful exceptions from tf.truncated_normal with dtype=tf.int32"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04 LTS
- **TensorFlow installed from (source or binary)**: pip install tensorflow
- **TensorFlow version (use command below)**: ('v1.3.0-rc2-20-g0787eee', '1.3.0')
- **Python version**: Python

[2017-09-06 23:37] MtDersvan opened #12859 "FailedPreconditionError when restoring initializable_iterator with Scaffold in a MonitoredTrainingSession for the second time."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: +
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**: Python 3.5.1
- **Bazel version (if compiling fro

[2017-09-06 23:54] pronobis commented on #6602
Same problem here with 1.3.0 compiled from source when I try to compile a custom op. Does anyone have a workaround?

[2017-09-07 00:05] mrry commented on #12855
`Dataset.batch()` always returns the last batch, even if it turns out to be smaller than the batch size.

[code]

[2017-09-07 00:05] #12855 closed

[2017-09-07 00:09] printdhruv commented on #12857
@slacy For reference, I am putting source code which is generating error.

`snippet-1` generated via `framework/tensor_util.py`.

[code]

`snippet-2 and snippet-3` generated via `framework/op_def_library.py`

[code]

[2017-09-07 00:12] pronobis opened #12860 "cuda/cuda_config.h missing when compiling custom ops with nvcc"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, see below.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
v1.3.0-0-g9e76bf324 1.3.0
- **Python version**:
3.5.2
- **Bazel version (if co

[2017-09-07 00:15] printdhruv commented on #12854
I guess this [link](https://www.tensorflow.org/performance/quantization) might help you to understand Quantization!

[2017-09-07 00:25] ellurunaresh commented on #12846
Yes I have tried. But it installs tensorflow=1.3.

On Sep 7, 2017 1:16 AM, "Aabir Abubaker" <notifications@github.com> wrote:

[2017-09-07 00:28] mrry commented on #12859
I think for the purposes of the `MonitoredSession`, an initializable iterator is more like a "local variable" (which are reinitialized on each worker when they start) than a "global variable" (which are initialized once by the chief, and then restored from checkpoints). Could you try moving the initializer to the `Scaffold.local_init_op` and see if that fixes things?

(This is clearly "not great".

[2017-09-07 00:30] hbtsai commented on #9697
@ggael @adityapatadia Thanks guys, master branches of  tensorflow + eigen compiled and worked well.

[2017-09-07 00:45] TomorrowIsAnOtherDay commented on #12855
@mrry Thanks for your quick reply.

[2017-09-07 00:56] nolanliou commented on #12745
Thanks for your detailed answer, I'll have a try.

[2017-09-07 01:04] drpngx commented on #12815
@petewarden any clue?

[2017-09-07 01:05] asimshankar commented on #12797
@andrewcmyers : Thanks for pointing this out. Do you want to package the commit in your repository as an independent PR?

[2017-09-07 01:06] drpngx commented on #12857
The truncated normal doesn't seem to make sense to me? The integer will be mostly zero. What do you expect as a result?

[2017-09-07 01:17] drpngx commented on #12811
That's interesting. Do you happen to have a full repro case?

[2017-09-07 01:20] drpngx commented on #12813
@andrewharp this seems to be somewhat of a recurring question, is there a canonical page to refer to or should we create one?

[2017-09-07 01:23] drpngx commented on #12853
That sounds reasonable.
@rmlarsen what do you think? Should we encourage a contribution?

[2017-09-07 01:26] andrewcmyers commented on #12797
It's a bit entangled with the generics stuff. I could create a separate commit that fixes this problem, I guess. That would create some conflicts to iron out later.

[2017-09-07 01:29] #12821 closed

[2017-09-07 01:31] asimshankar commented on #12811
@Kitter : Is there any more information you can provide?  A more complete example to help reproduce the problem will help. Can you share the saved model and the code you're using to load and execute it in Java and/or Python?

[2017-09-07 01:43] biolee opened #12863 "[BUG] unexpect results when run init with assign"
[code]

[2017-09-07 01:46] YC-YunyingChen opened #12864 "No gradient defined for operation '..' (op type: QueueDequeueUpToV2)"
When I tried to compute the gradient of the loss with 'grads = opt.compute_gradients(total_loss, update_gradient_vars)', there was an error said 'No gradient defined for operation '..' (op type: QueueDequeueUpToV2)'

[2017-09-07 03:30] zhanglistar commented on #2810
I have the same error:
`017-09-07 11:20:05.454046: E tensorflow/stream_executor/cuda/cuda_event.cc:49] Error polling for event status: failed to query event: CUDA_ERROR_ILLEGAL_ADDRESS
2017-09-07 11:20:05.454119: F tensorflow/core/common_runtime/gpu/gpu_event_mgr.cc:203] Unexpected Event status: 1
2017-09-07 11:20:05.454124: E tensorflow/stream_executor/cuda/cuda_blas.cc:365] failed to create cubl

[2017-09-07 03:33] ScorpioCPH commented on #9646
@eaplatanios @drpngx Thanks for your suggestions!

[2017-09-07 03:54] martinwicke commented on #11255
You can also try contrib/predictor.

[2017-09-07 04:02] Enigma-li commented on #12817
I guess so. But maybe some change is needed for using LMDB in the common pipeline like TFRecords.

[2017-09-07 04:15] liyungithub commented on #12810
rename ./tensorflow/contrib/makefile/downloads/nsync/builds/default.linux.c++11/nsync.a to libnsync.a  and then modify makefile  -L$(DOWNLOADSDIR)/nsync/builds/default.linux.c++11/   -lnsync

[2017-09-07 05:57] hadarpo commented on #11327
Thanks a lot @yzhwang

[2017-09-07 06:29] bezero commented on #9071
You might need to add CUDA_HOME as well. My ~/.bashrc is as following:

export PATH=/usr/local/cuda-8.0/bin${PATH:+:${PATH}}
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/cuda/lib64:/usr/local/cuda/extras/CUPTI/lib64:/usr/local/cuda-8.0/lib64:/usr/local/cuda-8.0/extras/CUPTI/lib64:/usr/local/lib"
export CUDA_HOME=/usr/local/cuda

[2017-09-07 06:34] yangyu12 commented on #12860
the same problem, I want to know if there is any better way to solve this problem

[2017-09-07 07:17] xcyan commented on #6265
@victorcampos7 Awesome! Can you possibly push your python op to tf.contrib?

[2017-09-07 07:23] EMCP commented on #9071
@stefanofiorentino actually I had removed the nvidia provided blacklist file.. which broke it.  As soon as I re installed the driver 384 with the flag `--no-opengl-files` my setup is back to working again, and that path does not exist in this version of the driver at all.. seems they put the lib files elsewhere now

[code]

[2017-09-07 07:28] Suodislie opened #12870 "init weights from pre_train model resnet_v2_101 something wrong : Assign requires shapes of both tensors to match. lhs shape= [19] rhs shape= [256]"
**SSD generate feature map by VGG16, I replaced VGG16 with ResNet_V2_101,the code as follows:**
`  with slim.arg_scope(resnet_utils.resnet_arg_scope()):
         net , end_points =resnet_v2.resnet_v2_101(inputs,reuse=reuse,global_pool=False,is_training=True,scope='resnet_v2_101')
`

**when i restore the pretrain_weights from the checkpoint_path, something wrong as follows:**
`InvalidArgumentError

[2017-09-07 07:40] rodburns commented on #22
@joe8086 If you modify the tf.Session creation with the below it will show a log in the terminal, is this mentioning SYCL anywhere?
tf.Session(config=tf.ConfigProto(log_device_placement=True))

For the Eigen guide do you have any specific feedback where it is out of date?

[2017-09-07 07:49] Prasad9 commented on #12553
@modanesh , were you able to fix that problem?
I am having the same problem. I did the training of Oxford-IIIT pets dataset as mentioned in the dataset. Then during evaluation I am getting the same error.
My system details:
Ubuntu 16.04, Python 3.5, Tensorflow 1.1, I have GPU support.

Also, after that warning comes, the evaluation stops for me. Please can somebody help me on this?

[2017-09-07 07:51] Joseph1977 commented on #11339
Trying the "Simple Audio Recognition", but get the " ImportError: cannot import name 'audio_ops'", Any way or plans to make it work?

[2017-09-07 07:53] melifluos commented on #2412
I'm getting this same error trying to build a custom operator on Ubuntu 14.04 using TF 1.3 GPU installed from pip.

I'm following these instructions

TF_INC=$(python -c 'import tensorflow as tf; print(tf.sysconfig.get_include())')
g++ -std=c++11 -shared word2vec_ops.cc word2vec_kernels.cc -o word2vec_ops.so -fPIC -I $TF_INC -O2 -D_GLIBCXX_USE_CXX11_ABI=0

found here:

https://github.com/tensorflow

[2017-09-07 08:07] antares1987 opened #12871 "About Deterministic Behaviour of GPU implementation of tensorflow"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian
- **TensorFlow version (use command below)**:('v1.3.0-rc2-20-g0787eee', '1.3.0')
- **CUDA/cuDNN version**: 8.0
- **GPU model and memory**: GeForce GTX 950

Dear experts,

I have just written a python code that implements a CNN with tensorflow. Despite using tf.set_random_seed(0) throughout my code, I get different results for ea

[2017-09-07 08:15] Kitter commented on #12811
@asimshankar :

python code:

    encoder_size = 64
    decoder_size = 17
    model_file='/test/model.pb'
    with tf.gfile.FastGFile(model_file, 'rb') as f:
        graph_def = tf.GraphDef()
        graph_def.ParseFromString(f.read())
        _ = tf.import_graph_def(graph_def, name='')

    with tf.Session() as sess:
        input_feed={}
        file_name = "/test/test.png"
        img = Image.o

[2017-09-07 08:26] georgh commented on #12843
I found the part by myself:
https://github.com/tensorflow/tensorflow/blob/2cfbd3347b943a389bb688125c2a90095b7735b5/tensorflow/core/ops/state_ops.cc
contains the doc and
https://github.com/tensorflow/tensorflow/blob/584d4921014db921a8f4722749adff09737826a8/tensorflow/core/kernels/scatter_op.cc
seems to be the actual implementation.
Will provide a PR soon

[2017-09-07 08:32] qtdaniel commented on #12849
Yes, it works with `TF_DOWNLOAD_MKL=1` but this downloads MKL-DNN, not the full MKL. If one wants to build MKL support into Eigen then, I believe, one needs to use the full MKL but maybe MKL support in TensorFlow is limited to MKL-DNN? Comments in the r1.3 `configure` script seem to imply that it should support the full MKL which is why I tried it.

By the way, the [instructions on the Intel site]

[2017-09-07 08:37] georgh commented on #12863
Looks like the init is sometimes performed first and sometimes the assign.

I don't know if this is a bug, but one could argue that you are expected to init all variables with a separate sess.run call before performing any operations.
On the other hand could sess.run always perform init operations first. I don't know if it would be hard to check for this

[2017-09-07 08:40] stefanofiorentino commented on #9071
@EMCP last thing to check is going with:

`find / -name 'libnvidia-*' 2>/dev/null | xargs ldd | grep "not found"`

that lets you know if reinstalling/upgrading the driver version left something broken (decina's 10-tin-underpants principle)

[2017-09-07 08:40] georgh commented on #12846
`conda install tensorflow=1.0
`
works on my system. This question should be asked in Stackoverflow!

[2017-09-07 08:46] ppwwyyxx commented on #12863
This is not a bug. Similar problem was discussed in #10860

[2017-09-07 08:58] koelscha commented on #12704
Just a quick example:

[code]

Memory usage:
![mem](https://user-images.githubusercontent.com/20746434/30154843-66d3c018-93bb-11e7-9f47-0720c7057f3e.png)

[2017-09-07 08:59] joe8086 commented on #22
@rodburns Thanks.
My err is build tensorflow miss config option --config=sycl
After add this option with this branch code https://github.com/lukeiwanski/tensorflow.git
I can see tensorflow run with OpenCL backend.

For Eigen guide, the main error is at:
1, not give correct include file.
2, for array, Tensor, TensorMap not give correct templet parameter.
3, for static_cast not give data type.

add

[2017-09-07 09:08] wiyzard commented on #12822
It seems module named '_pywrap_tensorflow_internal' is missing or cannot found.
Therefore, your TensorFlow runtime failed to load.
Try to fix it by going to your C:\Users\Deena Awny\AppData\Local\Programs\Python\Python36\lib directory and locate the missing file.

[2017-09-07 09:13] kashefy commented on #1325
Variables restored from the saver are assigned a different output index. So the variable I'm creating using tf.get_variable ends up being a completely different one.

`with tf.variable_scope("var_scope"):
    W = tf.get_variable('W', shape=[784, 10], initializer=tf.random_normal_initializer(stddev=0.1))`

If I restore variables from the saver I end up with two sets of variables:
The first: 'var_sc

[2017-09-07 09:16] terminator9487 commented on #4827
@clockzhong  Hi, I met the same problem. How did you solve that problem? Just reinstall the CUDA and CUDnn?  Thanks a lot

[2017-09-07 09:21] modanesh commented on #12553
@Prasad9 No, I haven't and I didn't find anything useful. I'm still waiting for someone to shade light on it.

[2017-09-07 09:58] vossthor commented on #10959
Windows users might want to check out these two batch lines:
[code]

[2017-09-07 10:48] suzhaolong opened #12873 "Efficient way to load a model over 2GiB with C++ interface?"
Hi,all
When applying TF model with its C++ interface, freeze_graph operations, for the graph file and the cpk file, are required. This operation will then generate a dumped binary protobuffer file.

However, protobuffer does not support to dump a file that is larger than 2GiB.

In this case, what's the right way to load a big model in TF, with its C++ interface? Any clues will be appriciated.

Tha

[2017-09-07 10:50] ravispatil opened #12874 "error in Building tensor flow. [sun.security.validator.ValidatorException:]"
== cat /etc/issue ===============================================
Linux ravi 4.4.0-93-generic #116-Ubuntu SMP Fri Aug 11 21:17:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.04.3 LTS (Xenial Xerus)"
VERSION_ID="16.04"
VERSION_CODENAME=xenial

== are we in docker =============================================
No

== compiler =====================================================
c++ (Ubuntu 5

[2017-09-07 11:04] Zumbalamambo opened #12875 "python wrapper around libtensorflow"
I wish to use tensorflow as a standalone library. I  have  `libtensorflow.so`. How do I bridge it to python so I can use it for standalone purpose?or is there any github repo for the same

[2017-09-07 11:06] TechBK opened #12876 "Reading float value from tfrecord, return a not same value."
### System information
- OS Platform and Distribution: Linux Ubuntu 16.04)
- TensorFlow installed from: [binary](https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.3.0-cp36-cp36m-linux_x86_64.whl)
- TensorFlow version: v1.3.0-rc2-20-g0787eee 1.3.0
- Python version: Python 3.6.2 :: Continuum Analytics, Inc.

### Describe the problem
When i read feature `label` with `float` type fr

[2017-09-07 11:58] kavishrastogi commented on #12159
I am trying to install Tensor-flow serving on Windows 10 64-bit machine, where tensor-flow installation can not happen with python 2, atleast python 3.5 is required.

Is there any workaround?

Sources: Internet

[2017-09-07 12:07] CriMenghini commented on #9130
I'm trying to install from source TensorFlow r.011 (since I need to use a code developed using this version).

To fix the error you should do the following change:

*Original snippet from `workspace.bzl`*:

`native.new_http_archive(
    name = "avro_archive",
    url = "http://www-us.apache.org/dist/avro/avro-1.8.0/cpp/avro-cpp-1.8.0.tar.gz",
    sha256 = "ec6e2ec957e95ca07f70cc25f02f5c416f47cb27b

[2017-09-07 12:14] mdsujan91 opened #12877 "Are there any predefined image format, image size etc for training using your tutorial. I found some error for several times, such as : "No image found in category validation" & "division by zero problem""
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-07 12:16] Ariostgx opened #12878 "Tutorial code in "Logging and Monitoring Basics with tf.contrib.learn" with multiple errors"
I've tried to run the setup code in the tutorial, but I met some confusing running errors. I'm new to tensorflow, so I have no idea how to deal with it. Could anybody help me fix this problem? Thanks a lot!

[code]

Here is what I saw:
WARNING:tensorflow:From .\logging_monitoring.py:33: calling BaseEstimator.fit (from tensorflow.contrib.learn.python.learn.estimators.estimator) with x is deprecated

[2017-09-07 12:25] MtDersvan commented on #12859
`Scaffold.local_init_op` works as intended, thanks for the suggestion.
Here is a working example for future reference:
[code]
Datasets is a pleasant API, thanks for the effort.

[2017-09-07 12:25] #12859 closed

[2017-09-07 12:53] prashanthsun9 commented on #12815
I found the solution it is this,

change height to 299 as shown below and input layer to Mul and it will work........:)
  input_height = 299
  input_width = 299
input_layer = "Mul"

[2017-09-07 13:49] caisq commented on #12793
@luchensk

The constructor of `tf_debug.DumpingDebugWrapper` provides a keyword argument called `watch_fn`, which can be used to control what tensors get watched on each run. `watch_fn` is a callable that takes fetch and feed names as input arguments and out puts an instance of [`tf_debug.WatchOptions`](https://www.tensorflow.org/api_docs/python/tfdbg/WatchOptions). The following example shows how

[2017-09-07 13:49] #12793 closed

[2017-09-07 14:21] gauss-clb opened #12879 "Is it a bug of tf.map_fn?"
Look at the code:

[code]

It will raise a error, but when I use tuple instead of list, it works well.

[code]
Is it a bug?
If you want to know more, llo at the discussion on [stackoverflow](https://stackoverflow.com/questions/46096767/how-to-explain-the-result-of-tf-map-fn).

[2017-09-07 14:25] GPhilo opened #12880 "tf.map_fn handles elems differently if it's a list or tuple"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, see below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: b'unknown' 1.3.0
- **Python version**: 3.6
- **Bazel version (if compiling from s

[2017-09-07 14:39] mrry commented on #12859
Thanks for confirming that that works! We're definitely still looking for a way to make Datasets work more naturally with `MonitoredSession`, though :).

[2017-09-07 14:44] quaeler commented on #12797
The genesis of the fix is due to [a merge down for the generics stuff,](https://github.com/tensorflow/tensorflow/pull/11535/commits/46981fb61c393a1b32b6e4569ac2e3e5c47b240f) so it makes more sense (imo) to include it in the PR for the generics stuff and not as a postscript to it.

[2017-09-07 14:47] #12880 closed

[2017-09-07 15:11] hillst commented on #9171
any progress on this? looking for a simple approach to implement dropout as a bayesian representation, https://arxiv.org/pdf/1506.02142.pdf

[2017-09-07 15:20] tomwanzek commented on #9526
Is there an update on the timing for this issue's resolution?
And a slightly more general contextual question, Is there a tracking reference to see which parts of the Programmer's Guide/Tutorials are current with Release 1.3 or still awaiting update as per @jugglerix above comment?

As always, thanks for the hard work!

[2017-09-07 15:23] quaeler commented on #12811
@Kitter still working on my first coffee, so forgive me if this first blush is wrong, but it looks like your Python code is converting the image data to grayscale (`im = img.convert('L')`) whereas i don't see any color space affectation in the Java code.

If that blush is wrong, does everything look equal if you dump the Python generated pixel array data and compare it to a dump of the Java genera

[2017-09-07 15:43] ebrevdo commented on #11610
Running your example with TF 1.3.0 in CPU-only mode:
[code]
and calculating av twice returns identical values.

when i switch everything to float64s, the errors go to zero.

i'll look into it more carefully.

[2017-09-07 15:50] #11885 closed

[2017-09-07 15:56] ebrevdo commented on #11610
I'm able to replicate the problem with a single call to GRUCell:

[code]

to get:
[code]

etc.

perhaps we are compiling FAST_MATH, and as a result the fp32 matmul or nonlinearities (tanh/sigmoid) are returning different values along the vectorisation path?  @rmlarsen what do you think?

[2017-09-07 16:03] ebrevdo commented on #11610
Looks like the matmul is the real culprit here.  It's not deterministic for f32, at least on CPUs:

[code]

[2017-09-07 16:04] ebrevdo commented on #11610
sorry - it's deterministic, but its output depend on the batch sizes.

[2017-09-07 16:08] ebrevdo commented on #11610
Updated issue title.

[2017-09-07 16:59] Garoe opened #12883 "Additional arguments for summary.image"
### System information
N/A

### Describe the problem

It'd be nice to have more control over the color map applied to the image summaries. In particular having `vmin` and `vmax` arguments as in matplotlib [imshow](https://matplotlib.org/devdocs/api/_as_gen/matplotlib.pyplot.imshow.html) function.
If no value is given the default behaviour could be kept, but if specified, black would correspond to

[2017-09-07 17:32] quaeler commented on #12815
Seems like a duplicate of https://github.com/tensorflow/tensorflow/issues/12736

[2017-09-07 17:48] quaeler commented on #12875
If you have the tensorflow source checked out locally, you could build a pip installer package from that source and install it into a virtualenv as discussed here: https://github.com/tensorflow/tensorflow/issues/12722#issuecomment-326769780

[2017-09-07 17:51] quaeler commented on #12874
It looks like the current nsync package has been signed in a manner which Bazel can't verify (is that correct @jart?)

[2017-09-07 18:07] petewarden commented on #11339
Are you using the latest development version of TensorFlow? https://hub.docker.com/r/tensorflow/tensorflow/

The op changes missed the deadline for 1.3, but should be in 1.4.

[2017-09-07 18:58] drpngx commented on #12815
Closing in favor of other bug. Thanks @quaeler !

[2017-09-07 18:58] #12815 closed

[2017-09-07 18:59] drpngx commented on #12736
Also see resolution in #12815 ([comment](https://github.com/tensorflow/tensorflow/issues/12815#issuecomment-327789980)).

[2017-09-07 19:04] zhenhe168 commented on #11327
Works for me now. Thx for bug fixing!

Zhen sent from my iPhone

[2017-09-07 20:59] cancan101 opened #12888 "[feature] ONNX Support"
Support exporting and loading models in ONNX format.
See: https://research.fb.com/facebook-and-microsoft-introduce-new-open-ecosystem-for-interchangeable-ai-frameworks/

[2017-09-07 21:21] #12797 closed

[2017-09-07 21:44] #12403 closed

[2017-09-07 21:59] andrewharp commented on #8641
@d4I3k I've submitted a change internally to fix building with NDK r13+, should show up in the next push to github. I think right now r14b is the recommended NDK for bazel, but I also tested with r15c and that seems to work fine as well.

[2017-09-07 21:59] gunan commented on #12849
@tobyboyd for more information on this.

MKL support is at the moment provided by Intel, not officially by us yet.
That is why installation guides are not on our webpage, but on intel's page.
I recommend reaching out to them for support with the above questions.

[2017-09-07 22:05] yongtang commented on #12879
@gauss-clb I think to specify a tuple with one element you will need comma like `elems = (tf.constant([1,2,3],dtype=tf.int64),)`?

[2017-09-07 22:11] MMCMA commented on #9571
I managed to delete after using `FileWriterCache.clear()`. Thanks and sorry for the late reply.

[2017-09-07 22:29] aj-michael commented on #8641
Bazel 0.5.4 supports up to NDK14. If you use NDK15, Bazel will pretend like it's NDK14 and may work, but there's no guarantees.

[2017-09-07 23:31] fetchinson opened #12891 "build fail (looser throw specifier in EnvWrapper)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

No.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Linux Fedora 17

- **TensorFlow installed from (source or binary)**:

Trying to build from source.

- **TensorFlow version (use command below)**:

1.3

- **Python version**:

2.7

- **Bazel version (if com

[2017-09-07 23:53] #11673 closed

[2017-09-07 23:56] #12583 closed

[2017-09-08 00:42] quaeler commented on #12876
This is a problem at the ProtocolBuffer layer. (@martinwicke i don't know who to tag about this)

If i do the following using your code:
[code]

I'll get:
[code]
for `example`, and
[code]
for `reconstituted` (and ultimately `[{'label': 4.3000002}]` for `result`)

I ran this against Python 2.7.10, and TF built from source from the head of master 5 days ago.

[2017-09-08 00:44] yinghsienwu opened #12892 "ant(1234)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-08 00:45] #12892 closed

[2017-09-08 00:49] siryog90 opened #12894 "Tensorflow gpu build error"
I am getting the following error when building Cuda enabled Tensorflow.

------------------------

I installed Cuda 8.0.61 (latest) with cudNN 7.0 (latest stable). It is my first time building tensorflow for the GPU so any explanation of the error would be great!

Edit: Found the answer #12052

[2017-09-08 00:54] mixml commented on #12747
@drpngx
I use "**bazel build -c opt //tensorflow:libtensorflow_cc.so --crosstool_top=//external:android/crosstool --cpu=armeabi-v7a --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --verbose_failures --copts=-std=cxx11**"
BUT:"**ERROR: Unrecognized option: --copts=-std=cxx11**"

[2017-09-08 01:11] #12894 closed

[2017-09-08 01:15] pksnkl commented on #6136
Its working perfect.
But should we install again all packages like cv2, matplotlib etc.
Because spyder(tensorflow) shows the below error.

runfile('C:/Anaconda3/Scripts/programs/maskplot.py', wdir='C:/Anaconda3/Scripts/programs')
Traceback (most recent call last):

  File "<ipython-input-1-fa20f58c72ab>", line 1, in <module>
    runfile('C:/Anaconda3/Scripts/programs/maskplot.py', wdir='C:/Anacond

[2017-09-08 01:45] eaplatanios opened #12895 "dlopen error when using TF_LoadLibrary"
I'm trying to use `TF_LoadLibrary` on a mac and I keep getting errors such as:
[code]
The same thing happens when I try to load the compiled dylib file through Python directly. It was compiled it using `-D_GLIBCXX_USE_CXX11_ABI=0` and `-undefined dynamic_lookup` for the linker. @asimshankar

[2017-09-08 01:49] jinxin0924 commented on #12472
@tmulc18
I use CustomGetter to create local variables and global variables at the same time. In addition, you can take a loot at [Model Average implementation](https://github.com/tensorflow/tensorflow/pull/11581/files), they create local variables in the optimizer.

[2017-09-08 01:53] asimshankar commented on #12895
Unfortunately, loading custom op libraries from the C API isn't fully functional now
(and worked around using [`RTLD_GLOBAL` in Python](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/python/pywrap_tensorflow.py#L40)).

The good news is that @allenlavoie is working on a fix. No immediate ETA, but long story short - loading custom op libraries might not work outside of Python yet, but

[2017-09-08 02:21] M3L0NM4N commented on #22
Guys, I'm not going to read this entire thread, but if someone could answer my question that'd be great! Can I use Tensorflow with an AMD GPU yet. If so in what operating system, and can I do it with RX Vega? Thanks!

[2017-09-08 02:22] Kitter commented on #12811
@quaeler  I add converting of image grayscale  in Java code, the result is the same as before. There is no improvement.

[2017-09-08 02:30] quaeler commented on #12811
@Kitter can you put your `test.png` some place from where it can be downloaded; also, could you post the code with which you did the Java BI grayscale conversion? Also, also, did you do a pixel array dump from each Python and Java and compare the values?

[2017-09-08 02:39] skycoop commented on #12888
Linking this issue to it's counterpart over at ONNX https://github.com/onnx/onnx/issues/3

[2017-09-08 03:02] adamklec commented on #11071
@hellolovetiger I just ran into a similar as you - repeating "Start master session xxx with config:" messages for all non chief workers. I'm curious if you ever found a solution.

Btw I suspect the reason why your training loss increases after the change you posted above is that apply_gradients() flips the sign of the gradient because it assumes you will be minimizing a loss function. This tripped

[2017-09-08 03:22] yick2232 commented on #11602
Okay, my problem is how to calculate the probability of a special output string.  I can got a logits of all vocabulary when the decoder run once.  And then, got the probability of  a character when the decoder run a step, the character in the specified output string.  In generally, you can take the specified character probability by normalize the logits, and take the log of the normalization resul

[2017-09-08 03:22] eaplatanios commented on #12895
@asimshankar That's interesting because I also tried to load it using RTLD_GLOBAL. However, on my mac, even `tf.load_op_library(...)` in Python is not working and is throwing the same error.

[2017-09-08 03:30] wqllr opened #12896 "tensorflow-master version compile build_all_ios.sh error ( armv7 compilation failed)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-08 03:37] Kitter commented on #12811
@quaeler
Java BI grayscale conversion code:

		BufferedImage grayImage = new BufferedImage(width, height, BufferedImage.TYPE_BYTE_GRAY);
		for (int i = 0; i < width; i++) {
			for (int j = 0; j < height; j++) {
				int rgb = bf.getRGB(i, j);
				grayImage.setRGB(i, j, rgb);
			}
		}

image file [:test.png](http://61.136.1.102:9001/test.png)

It is strange that Java and Python use  the [model_true.

[2017-09-08 04:02] HungLingChen commented on #12553
I have the same issue!!!

[2017-09-08 04:33] thbuerg commented on #9506
Same problem as @minhlab. Still no update on this?

[2017-09-08 04:50] znmeb commented on #22
@M3L0NM4N Hmmm ... I haven't been following the thread but it looks like there's possibly testable OpenCL code now, at least on *CPU* OpenCL. I have an older AMD GPU ("Bonaire") and I have OpenCL running on both the GPU and CPU, so I can test this. I might take a shot at it over the weekend; I really want OpenCL TensorFlow on my GPU.

[2017-09-08 04:55] gauss-clb commented on #12879
Yes, you are right, but I don't know why it will raise a error. I think it can work according to [api](https://www.tensorflow.org/versions/master/api_docs/python/tf/map_fn).

[2017-09-08 04:55] #7896 closed

[2017-09-08 04:55] #8114 closed

[2017-09-08 04:55] #8466 closed

[2017-09-08 04:55] #8536 closed

[2017-09-08 04:55] #9821 closed

[2017-09-08 04:55] #9910 closed

[2017-09-08 04:55] #9997 closed

[2017-09-08 04:55] #10005 closed

[2017-09-08 04:55] #10013 closed

[2017-09-08 04:55] #10050 closed

[2017-09-08 04:55] #10092 closed

[2017-09-08 04:56] #10146 closed

[2017-09-08 04:56] #10150 closed

[2017-09-08 04:56] #10190 closed

[2017-09-08 04:56] #10218 closed

[2017-09-08 04:56] #10224 closed

[2017-09-08 04:56] #10245 closed

[2017-09-08 04:56] #10282 closed

[2017-09-08 04:56] #10311 closed

[2017-09-08 05:12] eaplatanios commented on #12895
@asimshankar I found out that it's not just RTLD_GLOBAL that matters. The symbols are actually exported through `_pywrap_tensorflow_internal.so` in the Python API. I was only loading `libtensorflow.so` with RTLD_GLOBAL, but that is not enough to make things work. Is there any easy workaround that you can see, until the fix comes out? Thanks! :)

[2017-09-08 05:12] quaeler commented on #12811
Thanks for the assets.

I'm sorry to be hung up on this, but we're on board with the pixel values being used in Python and Java being wholly different - ya? (The values in the Python ndarray are nicely in the 0-255 range however the Java values being returned from BI are bitwise'd 8-bit R, G, B (and probably A since this is a PNG) resulting in the 'float' values being in the general region of -1.4

[2017-09-08 05:16] gautam1858 commented on #22
tf-coriander works  https://github.com/hughperkins/tf-coriander

[2017-09-08 05:26] #12846 closed

[2017-09-08 05:26] gunan commented on #12846
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-08 05:28] gunan commented on #12844
Looks like the whole build went down again, cannot verify if the issue is really resolved.

[2017-09-08 05:28] gunan commented on #12823
maybe forgot to run configure?

I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-09-08 05:28] #12823 closed

[2017-09-08 05:30] #12723 closed

[2017-09-08 05:31] gunan commented on #12717
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-09-08 05:31] #12717 closed

[2017-09-08 06:09] ebonat commented on #647
I updated tensorflow from 1.1.0 to 1.3.0 using the wheel file: tensorflow-1.3.0-cp35-cp35m-win_amd64.whl and in the line:

`import tensorflow as tf`

I got the following error:

[code]

Any help?

[2017-09-08 06:10] ebonat opened #12897 "ImportError: cannot import name 'c_einsum'"
I updated tensorflow from 1.1.0 to 1.3.0 using the wheel file: tensorflow-1.3.0-cp35-cp35m-win_amd64.whl and in the line:

`import tensorflow as tf`

I got the following error:

[code]

Any help?

[2017-09-08 06:34] jiazhe0909 opened #12898 "allocate output tensor for every operation before the first inference"
### Describe the problem
I was wondering if it's possible to allocate memory in advance, for internal output tensors of every operation in my inference workload.
I notice TF will automatically allocate (and de-allocate) memory for every internal result in a graph. If my inference workload repeats many times, all these allocations/deallocations will also repeat. Why don't we allocate these internal

[2017-09-08 06:51] Kitter commented on #12811
@quaeler
Thanks for your help.
This is my fault.I tried using tensorflow‘s API to read the picture file. I got the right result.

[2017-09-08 06:57] hellolovetiger commented on #11071
@adamklec , the issue is gone after I replaced the optimizer for local update with my own implementation. This may not apply to your situation. You may want to read the details above.
Thanks for you kind reminder of the "loss increases" issue. Yes, you are right. I got the wrong direction when incorporating the gradients from the workers.

[2017-09-08 06:58] maximedb commented on #7669
It was resolved by adding the following lines (see [here](https://stackoverflow.com/questions/45952149/tensorflow-estimator-periodic-evaluation-on-eval-dataset/))
[code]

[2017-09-08 07:33] passerbyd commented on #2807
what's the expected performance of inception-v3 on arm-v7? @petewarden

[2017-09-08 07:51] #12811 closed

[2017-09-08 08:04] ppwwyyxx commented on #12879
fn: The callable to be performed. It accepts one argument, which will have the same (possibly nested) structure as elems. Its output must have the same structure as dtype if one is provided, otherwise it must have the same structure as elems.

So the fix to the first snippet would be:
[code]

[2017-09-08 08:07] ppwwyyxx commented on #12883
You can simply do:
[code]
to get what you want.

[2017-09-08 08:08] meteorcloudy commented on #12844
@gunan No worries, sent #12900 to fix the build.

[2017-09-08 08:12] meteorcloudy commented on #12844
@gunan And also, for this issue. I think it's because in Bazel build we use /MT option to statically link into C runtime, but in CMake, we use /MD to dynamically link into C runtime.
That's causing Python code and C++ not sharing the same C runtime in Bazel build, so the environment variable is not propagated from Python to C++.
https://msdn.microsoft.com/en-us/library/2kzt1wy3.aspx

[2017-09-08 08:13] Garoe commented on #12883
I wasn't asking for a workaround. I'm trying to make the point that it's common enough that it makes sense to have that code integrated in the summary.image() function as it has been done with the matplotlib equivalent.

[2017-09-08 08:19] jundengdeng commented on #11339
Can you please add an dct bool option to the "audio_ops", so that the current mfcc function can be used to extract log-mel features as well? Thanks!

[2017-09-08 08:20] gaohuazuo opened #12901 "get_session_handle has no effect if not directly fetched"
Version `v1.3.0-rc1-1612-ga2e1a5e`, recent master.

[code]

[code]

[2017-09-08 08:28] Kaushal28 commented on #9066
I've followed all above suggestions but still getting the same error on windows 8.1

[2017-09-08 09:09] Joseph1977 commented on #11339
I cloned the master, don't use docker. don't see version 1.4, see only 1.3

[2017-09-08 09:10] eaplatanios commented on #12895
A temporary solution would be to replace `exported_symbols.lds` and `version_script.lds` in the `c` directory with `tf_exported_symbols.lds` and `tf_version_script.lds`. This would export all the necessary symbols in `libtensorflow.so`. Is there a reason not to do that for now, until the fix comes out?

[2017-09-08 09:15] Dorokhov opened #12902 "Change TanhGrad() operation definition with respect to documentation"
Hello,

TanhGrad() documentation says: "Specifically, `grad = dy * (1 - y*y)`, where `y = tanh(x)`, and `dy`
is the corresponding input gradient." https://github.com/tensorflow/tensorflow/blob/bab2db47f60d59d843d661903a8d28227600dd60/tensorflow/core/ops/math_ops.cc#L323 which is correct and looks good.

But operation has following declaration of inputs:
  Input("x: T")
  .Input("y: T")
https://git

[2017-09-08 09:16] serendipity24 commented on #12722
I have had similar issue as seen below:

"(tensorflow)*usrname*@*usrname*:~/tensorflow/tensorflow-0$ python tensorflow/examples/speech_commands/train.py
Traceback (most recent call last):
  File "tensorflow/examples/speech_commands/train.py", line 79, in <module>
    import input_data
  File "/home/cogknit/tensorflow/tensorflow-0/tensorflow/examples/speech_commands/input_data.py", line 35, in <mod

[2017-09-08 09:30] cinqs commented on #12168
@gunan , Hi, I don't have specific reason why `mlocate` is a must. I filed this issue only because when I compiling your source, I ran across the situation that `mlocate` is a must of dependency.

Since I was compiling from `r1.2`, which in fact is the version your official API document supporting then.
And, I was compiling the source inside a docker container. The image is `CentOS 7`

In conclusi

[2017-09-08 09:30] #12168 closed

[2017-09-08 09:31] YahaniManawadu opened #12903 "Input streaming data to tensorflow"
Can you please reccommend a way to input streaming data which comes in json format to tensorflow

[2017-09-08 09:34] yeshuanova opened #12904 "make "build_all_ios.sh" occur error"
I try to build tensorflow support at Android and iOS by makefile [tutorial](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile
) in current master branch 04c318b69c5b565436cfeeaab1cb7fd5419dde27

When running the build_all_ios.sh script, the below error message show
[code]
The `download_dependencies.sh` and `compile_ios_protobuf.sh` run successfully but `compile_ios_t

[2017-09-08 10:06] dilli007 opened #12905 "bazel error related to python"
bazel build tensorflow/examples/image_retraining:retrain
ERROR: /home/dile/tensorflow/third_party/py/numpy/BUILD:11:1: no such package '@local_config_python//': Traceback (most recent call last):
	File "/home/dile/tensorflow/third_party/py/python_configure.bzl", line 310
		_create_local_python_repository(repository_ctx)
	File "/home/dile/tensorflow/third_party/py/python_configure.bzl", line 268, i

[2017-09-08 10:35] qtdaniel commented on #12849
Thanks. I've started corresponding with Intel here: https://software.intel.com/en-us/comment/1911911

[2017-09-08 10:54] Sanghoon94 commented on #4589
I am trying to build a seq2seq model using fp16.
Using the same network architecture, fp32 model trains fine, but the model using fp16 suffers from CUDA_ERROR_OUT_OF_MEMORY.
Why is lower precision holds up larger memory? Is there any solution for this problem?

I am currently using python3, tf 1.0, cuda 8.0, cudnn 5.1

[2017-09-08 11:19] namrata-ibm commented on #11431
@mrry, I was looking at the statically inferred rank vs statically unknown rank calculation.
From the [code](https://github.com/tensorflow/tensorflow/blob/v1.2.1/tensorflow/python/ops/array_ops.py#L1276) :
[code]

I printed the `range` calculated above, in 2 scenarios
1.  when , rank = gen_array_ops.rank(a)
[code]
whereas
2. If we change,  rank_a = rank(a)
[code]

In both cases, **rank / rank_a**

[2017-09-08 11:23] lecun commented on #11598
@zhedongzheng
Hi, Here why  should we make sure impute_finished is False.? I encounter an Error when I use impute_finished ＝True with BeamSearchDecoder using dynamic_decode . False , will be right without bug .The error points the shape of finished corresponding the  line 265 in https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/contrib/seq2seq/python/ops/decoder.py
my verison of tensor

[2017-09-08 11:27] crackcomm opened #12906 "Generators in graphs"
I am wondering, is there any way to place a generator in a graph that would push values to lower parts of graph or asynchronous operations of this kind should be always placed outside of tensorflow graphs?

[2017-09-08 11:33] qtdaniel commented on #12849
A workaround has been provided for using the full MKL with TF r1.3; details at the Intel forums link above.

Additional information about building TF with the full MKL, including Eigen-MKL integration, can be found in the comments attached to this document: https://software.intel.com/en-us/articles/tensorflow-optimizations-on-modern-intel-architecture

[2017-09-08 11:34] #12849 closed

[2017-09-08 11:44] zhedongzheng commented on #11598
@lecun hi, this is related to the internal implementation of beam search decoder. Currently, impute_finished must be turned off when beam search decoding is performed. I think the TF team will make this right in next versions (1.4 or 1.5).

[2017-09-08 12:06] ShunChengWu commented on #559
I did
`conda uninstall numpy`
and then did what @UkiDLucas said
`conda install -c conda-forge numpy`
it works

[2017-09-08 12:35] teramototoya commented on #2169
Hi!
@ThomasWollmann ,I have a problem.
Please see #8102, scatter_nd has duplication problem.
I think this is not work out for Zeiler Unpooling layer.
But I want to use unknown input tensor shape.
Is there a way to solve this problem?

Thanks!

[2017-09-08 12:45] #9731 closed

[2017-09-08 13:04] mouradmourafiq opened #12908 "Subclasses of Estimator cannot override members of Estimator."
Any reason for not allowing subclasses of `Estimator` to override members other than `['_call_input_fn', '_create_global_step']`?

[2017-09-08 13:38] belph opened #12909 "Maven Packaging for GPU-backed Java Bindings"
### System information
N/A

### Describe the problem
Currently, the only `libtensorflow_jni` artifact which is deployed to Maven Central is compiled with CPU-only support. This means that (at least as far as my current understanding goes) any machine which I would like to deploy to and run GPU-backed code on has to build TensorFlow from source with GPU support. As one can imagine, this makes the l

[2017-09-08 13:43] fbcotter opened #12910 "is_numeric_tensor on _ref variables"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3
- **Python version**: 3.5
- **Bazel version (

[2017-09-08 13:59] fetchinson commented on #12891
I forgot to mention the glibc version so everything together again:

openjdk 1.8.0
bazel 0.5.4
python 2.7
gcc 4.7.2
libstdc++ 4.7.2
glibc 2.15

[2017-09-08 14:07] LukasDrude opened #12911 "tf.gather with int32 indices yields wrong result on gpu"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
$ cat /etc/issue
Ubuntu 16.04.2 LTS
- **TensorFlow installed from (source or binary)**:
Source head
- **TensorFlow version (use command below)**:
1.3
- **Python version**:
3.6
- **Bazel version (if compiling

[2017-09-08 14:36] ruppeshnalwaya1993 commented on #9661
@lissyx @cancan101 I got some success. I ran the following command to build `lruntime` for Android and similarly built `-lruntime_matmul -lexecutable_run_options`

`bazel build -c opt --cxxopt='-std=c++11' tensorflow/compiler/aot:runtime --crosstool_top=//external:android/crosstool    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain    --cpu=armeabi-v7a`

And got success in running the [test

[2017-09-08 14:52] mrry commented on #11431
Can you also try tracing the execution of `tf.contrib.util.constant_value(gen_array_ops.rank(a))`? My suspicion is that it's returning `0` incorrectly, but I'm not sure why that would be.

[2017-09-08 15:18] joelteply commented on #10468
I'd suggest someone use the [caffe to tensorflow](https://github.com/ethereon/caffe-tensorflow) project as a starting point, maybe combining both, and output keras since it uses tensorflow as a backend and is compatible with coremltools.Really once you get the weights it's not horrible to do by hand, but still annoying.

[2017-09-08 15:25] HarryBaker opened #12912 "T-SNE Suddenly Not Working in Projector"
Hello,

I'm sorry this isn't a technical question, but just this week I've noticed that T-SNE in the tensorboard projector is no longer clustering data properly. I am running the same vectors I did a few weeks ago, with the same perplexity. While before I saw distinct clusters, now the points are all forming an indistinct ball. Has anyone else noticed this?

[2017-09-08 16:13] Carmezim commented on #9066
Hi @Kaushal28 could you try running this [script](https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c) to see what can be happening on your side?

[2017-09-08 16:14] tfboyd commented on #4589
@Sanghoon94  Please open a different GitHub issue.  Without code you are asking for a guess that will not end up being very useful.  No guarantee someone will look at it but sharing the code allows for a better conversation.  You might also want to upgrade to TF 1.2.1 or TF 1.3 just to be more current as if anyone on the team tests the example you provide, they are going to use a much newer binary

[2017-09-08 16:22] rohan100jain commented on #12910
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-08 16:23] rohan100jain commented on #12908
Could you explain your use case a bit and maybe we can help you figure out a solution to the problem that you're trying to solve?

[2017-09-08 16:23] rohan100jain commented on #12906
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-08 16:23] #12906 closed

[2017-09-08 16:24] rohan100jain commented on #12904
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-09-08 16:31] furyjack commented on #8385
@Carmezim  just installed tensorflow-gpu version from pip.The specs are as follows:
cuda v8.0
cudnn 7.0
also MSVCP140.DLL is in the path

the following error is occurring when importing tensorflow

Traceback (most recent call last):
  File "F:\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow_inter
nal.py", line 18, in swig_import_helper
    return importlib.import_module(mname)
  Fi

[2017-09-08 16:32] furyjack commented on #8385
@Carmezim Any help would be appreciated

[2017-09-08 16:37] crackcomm commented on #12906
You're right, thank you for the tip.

[2017-09-08 16:43] #12856 closed

[2017-09-08 16:57] Carmezim commented on #8385
@furyjack could you try running this [script](https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c) to see what can be going wrong? I'm not following TF on Windows it's been a while.

[2017-09-08 17:04] tensorflowbutler commented on #10311
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-08 17:09] quaeler commented on #12905
As you point out, you must run configure prior to attempting to build; build [guidance is here.](https://www.tensorflow.org/install/install_sources)

[2017-09-08 17:14] tensorflowbutler commented on #9731
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-08 17:27] eaplatanios commented on #12895
I just made a PR (#12915) with this proposed fix.

[2017-09-08 17:29] malsulaimi opened #12916 "inconsistent behavior in variable sharing"
hello ,

I have been struggling for few days with an issue that I'm facing in TensorFlow , I hesitated before opening this GitHub as an issue because I'm not sure if what I'm facing is a bug or a mere confusion on my side    .

anyways it seems that I'm experiencing an inconsistent behavior in tensorFlow with variable name/reusing where I have a function that creates some cells and attentions obje

[2017-09-08 17:29] fbcotter commented on #12910
Why is it not a bug or feature request? Surely the is_numeric_tensor() should return true for _ref types, or at least explicitly explain why it doesn't in its help.

[2017-09-08 17:32] quaeler commented on #12722
Yes, create a virutalenv, then switch to that virtualenv ("activate" that virtualenv) and [pip-install tensorflow into that virtualenv.](https://www.tensorflow.org/install/install_linux#installing_with_virtualenv)

From a directory **that is not in the tensorflow source tree** and while still in the virtualenv, run the example Python script.

[2017-09-08 17:32] tensorflowbutler commented on #9770
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-08 17:41] shamanDevel opened #12917 "SVD on GPU: complex values, interface cleanup (Discussion)"
Hi,
pull request #11878 brought an implementation of the SVD on the GPU. But at the moment, only real values are supported.

The current status when applying the SVD (M=USV') on a complex matrix M:
- The python interface declares U,V as complex, S as real
- The C++ kernel definition declares both U,V and S as complex
   (This simplified the CPU implementation using Eigen)
- The python code then im

[2017-09-08 18:10] namrata-ibm commented on #11431
@mrry, I had to use `tensor_util.constant_value(gen_array_ops.rank(a))` as ` tf.contrib.util.constant_value(gen_array_ops.rank(a))` gave errors like tf, contrib modules missing. I assume the former is equivalent in v1.2.1.

The same failure is seen with this too.  :(
This change works on Intel x86 though.

Little analysis:
[code]

I could see calls made to [cpp_shape_handler.cc/ProtoFromShapeHandl

[2017-09-08 18:21] tensorflowbutler commented on #9770
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-08 18:28] rohan100jain commented on #12910
@langmore Can you take a look at this?

[2017-09-08 18:38] subashp commented on #5354
I faced the same issue and none of the above method worked out for me. What I realized is the memory allocation is failing. I reduced my GPU memory percentage from per_process_gpu_memory_fraction=0.95 to per_process_gpu_memory_fraction=0.8 to get past it.

[2017-09-08 19:05] tensorflowbutler commented on #9770
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-08 20:12] hfutxrg commented on #12474
Hi @tfboyd, I tried to use your patches, but after the first build step, there is no "external/eigen_archive" folder at all. It means the command "cd -P bazel-out/../../../external/eigen_archive" failed. So when this folder is generated?

[2017-09-08 20:12] #12905 closed

[2017-09-08 20:25] printdhruv commented on #12857
@drpngx do you have any suggestions? I tried to change flow but not passing 1 test case. Would you advise something else to make it informative?

[2017-09-08 20:42] gunan commented on #12844
Do we set that in TF build files and skylark rules, or does that come from bazel.
I think eventually we want c runtime to be only dynamically linked everywhere.

[2017-09-08 20:43] gunan commented on #12844
Also, we are now seeing this:
[code]
Any idea what causes this?

[2017-09-08 20:45] eaplatanios commented on #12895
@asimshankar @allenlavoie I just realized (after trying it) that pulling the pywrap so file doesn't really work for me because it depends on the Python libraries. Is there no other temporary solution we can use until the fix comes out? Maybe having a separate build target "libtensorflow_all.so", or something like that, that exports everything. Would that be acceptable? Aside from breaking the API,

[2017-09-08 20:58] anne1994 commented on #6136
you can try "pip install opencv-python" @pksnkl

[2017-09-08 21:00] eaplatanios commented on #12784
Closing this since the relevant PRs have been merged.

[2017-09-08 21:00] #12784 closed

[2017-09-08 21:01] #8962 closed

[2017-09-08 21:08] eaplatanios commented on #12118
@iganichev Thanks a lot Igor! I have already started using your API and it looks great. :) I only have a few questions:
1. When converting a graph to a GraphDef using the C API, does it take into account functions that have been added to that graph? If not, I could always add them on my side after creating a GraphDef using the C API.
2. If I close a `TF_Function` object, the function is still usab

[2017-09-08 21:10] jrriosBC commented on #10104
I had this error and noticed that the images did not include the extension at the end of the filename. After changing my image generating to include the extension at the end of the image, it worked flawlessly.

Maybe tensorflow checks the file extension when looking for the image?

[2017-09-08 21:12] eaplatanios commented on #12612
@alextp Closing this as it was resolved in #12627. If you are interested in a use of the eager API, all my bindings are located [here](https://github.com/eaplatanios/tensorflow_scala/tree/master/jni/src/main/native). The `generated` folder contains the eager API bindings as they are automatically generated. I am packaging the JNI bindings part of my library separately from the API and so I believe

[2017-09-08 21:12] #12612 closed

[2017-09-08 21:13] eaplatanios commented on #12612
@alextp By the way, the only issue I am currently encountering with the eager API is that I get exceptions when I invoke `TFE_Execute` for the same context, concurrently multiple times. Is a context supposed to only be used one thread at a time?

[2017-09-08 21:21] langmore commented on #12910
How to treat ref types seems like a higher level design decision for wicke or someone like that.

[2017-09-08 21:24] tfboyd commented on #12474
@hfutxrg  it must be broken now.  It will be in the official build in a few weeks or less.  Step #6 that mentions EIGEN is what creates that folder.  But if it did not work for you that is ok, this was for fun and it worked for a few people.

[2017-09-08 21:34] asimshankar commented on #12612
@eaplatanios : It is intended to be thread safe.

[2017-09-08 21:35] purna15111 commented on #7579
Just update both pip and then tensorflow your error will be gone

[2017-09-08 21:49] gmichaeljaison commented on #12859
@mrry Similarly, what would be the best workaround to make feedable iterators work along with MonitoredTrainingSession?
I am looking for a way to run training and validation dataset simultaneously and also get the convenience of MonitoredTrainingSession. Your suggestion would be helpful.

[Equivalent stackoverflow post](https://stackoverflow.com/questions/46111072/how-to-use-feedable-iterator-from

[2017-09-08 21:53] mrry commented on #12903
If you have Python code for connecting to the stream and parsing the JSON into arrays, you could wrap that logic in a Python generator and use `Dataset.from_generator()` (currently only available in the nightly build).

[2017-09-08 21:59] iganichev commented on #12118
@eaplatanios:
1. Yes it does
2. Assuming by "close" you mean calling TF_DeleteFunction, yes. Deleting the TF_Function struct does not do anything with the copies of the function that were added to graphs.
3. I will add ImportFunctionDef. It should be pretty easy and I can see it being useful.
4. GraphGetFunctions is a bit tricky. Functions are currently added to graphs as FunctionDef objects (plus

[2017-09-08 22:15] eaplatanios commented on #12118
@iganichev That's great, thanks for all the answers! :)

Regarding 4, that solution is totally fine. The only use case I have in my mind is for when one imports a graph from a GraphDef. In that case, I want to populate my Scala-side function registry with the functions that are defined in that graph. When manipulating graphs within Scala, no C-side functionality is needed as I can do the book-keep

[2017-09-08 22:37] martinwicke commented on #12876
To me, this looks like a bug in protobuf. I'm wondering:

1. is this reproducible with a simpler proto, say a message containing only a single float?
2. is this reproducible using a language other than python? I.e., is the bug in the python binding, or deeper?

[2017-09-08 22:47] ispirmustafa commented on #12859
For feedable iterators, writing a SessionRunHook may work.

[2017-09-08 23:14] gmichaeljaison commented on #12859
@ispirmustafa
feedable iterators require the handle to be passed as placeholders which should be run through the same session as training.

According the [documentation](https://www.tensorflow.org/api_docs/python/tf/train/SessionRunHook#begin), SessionRunHook has
* a `begin()` method which is invoked before creating a session.
* a `after_session_create(session, coord)` method - by this time the gr

[2017-09-08 23:15] o2x7 commented on #12904
I was able to get around this by linking
tensorflow/contrib/makefile/downloads/nsync/builds/lipo.ios.c++11/nsync.a in the other_linker flags

[2017-09-08 23:24] o2x7 opened #12921 "autoconf error when running build_all_ios.sh"
When running the build_all_ios.sh script on iOS I am getting the following error:

`+ autoreconf -f -i -Wall,no-obsolete
configure.ac:30: error: possibly undefined macro: AC_PROG_LIBTOOL
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf documentation.
autoreconf: /usr/local/Cellar/autoconf/2.69/bin/autoconf failed with exit status: 1`

-------------

[2017-09-08 23:42] #12863 closed

[2017-09-08 23:45] drpngx commented on #12871
There was some discussion previously #10636. Does that help?

[2017-09-08 23:48] quaeler commented on #12876
Addressing (1.) first. Yes, this happens with a simple message:
[code]
Will futz around for (2.) tonight or this weekend.

[2017-09-08 23:55] eaplatanios commented on #12895
As an alternative, I could also add my `ScalaCallback` and `ScalaCallbackStateless` ops with their kernel implementations (similar to that of `py_func`) to the main repository so they're included in the library by default. Would that be acceptable? I feel it interferes more than having a separate build target, but I'm not sure what your opinion is on this.

[2017-09-08 23:57] drpngx commented on #12873
The checkpoint should not be limited to 2GB for saving. You don't need to freeze the graph. You can create a saver in the graph, which you can use with `session.Run`.  Something like this:
[code]

[2017-09-08 23:58] #12875 closed

[2017-09-08 23:59] drpngx commented on #12877
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-08 23:59] #12877 closed

[2017-09-09 00:00] #12879 closed

[2017-09-09 00:04] o2x7 commented on #12921
I was able to solve this by uninstalling libtool, autoconf, and automake and deleting all local cahecs that brew had.  From there a fresh install of automake, libtool fixed it

[2017-09-09 00:04] #12921 closed

[2017-09-09 00:07] drpngx commented on #12891
I guess we're missing the `noexcept` in the `EnvWrapper`. Do you mind sending a PR?

[2017-09-09 00:09] drpngx commented on #12897
Do you have the full stack trace? What's the numpy version?

[2017-09-09 00:11] drpngx commented on #12901
Sorry, `get_session_handle` seems to be experimental. Have you tried the `_v2` version?

[2017-09-09 00:12] #12903 closed

[2017-09-09 00:14] ispirmustafa commented on #12859
handle is an output of session.run. it is not changing the graph. it is executing it. So i don't expect there will be an issue there. @mrry to verify?
Having said that, we're working on a better solution.

[2017-09-09 00:19] drpngx commented on #12909
@asimshankar for Java distribution.

[2017-09-09 00:20] drpngx commented on #12921
Good to see you figured it out!

[2017-09-09 01:01] drpngx commented on #12911
Could you try on github head? I can't seem to be able to repro. Can you also try on a prebuilt pip package?

[2017-09-09 01:05] mrry commented on #12859
Right, the handles could potentially be collected in the `after_session_create()` method. Annoyingly, you'll need to call `iterator.string_handle()` on each of the iterators before creating the `MonitoredSession`, and pass the resulting string-valued `tf.Tensor` objects to the hook.

[2017-09-09 01:07] buffxz commented on #8665
any updates?

[2017-09-09 01:42] TomorrowIsAnOtherDay opened #12924 "How to fetch the last batch in a multigpu model"
The new dataset API is awesome, but I don't know to fetch the last batch in my model
![image](https://user-images.githubusercontent.com/25046619/30235975-10aad7ce-9543-11e7-9b68-3c25330ee899.png)
![image](https://user-images.githubusercontent.com/25046619/30235993-3d38c9a4-9543-11e7-9698-d13b49e37050.png)

[2017-09-09 01:42] gmichaeljaison commented on #12859
@ispirmustafa
But, Tensorflow throws `RuntimeError: Graph is finalized and cannot be modified.` when I execute with  MonitoredTrainingSession. If it is not changing the graph, why am I getting this error!?

[code]

It throws the following error!

[code]

[2017-09-09 01:54] DeliciousHair commented on #12760
Closing this, as I cannot seem to reproduce the original problem, that really did required me to remove the space to fix.

My only guess is that I rave rebooted the machine between then and now to get the cuda drivers to actually work as opposed to being just installed, and that seems to have fixed the problem somehow as well.

Sorry about that!

[2017-09-09 01:54] #12760 closed

[2017-09-09 02:23] adamklec commented on #11071
@hellolovetiger Actually I did just that last night! I replaced SyncReplicasOptimizer with my own gradient accumulator and the problem went away. Cheers!

[2017-09-09 02:30] quaeler commented on #12876
Just to be replete, i have verified that (1.) occurs in the Python releases of TF 1.3.0 and 1.2.0

[2017-09-09 02:36] quaeler commented on #11610
Perhaps this is related to problems with the Python (?only?) binding to protobuf which introduces float imprecision on deserialization? ( https://github.com/tensorflow/tensorflow/issues/12876 )

[2017-09-09 02:37] martinwicke commented on #12876
It's pretty clearly a protobuf issue. The question is why. Allegedly it's
only in the C++ backend. Another thing that could be tried.

Either way, a workaround is to avoid Protobuf.

On Sep 8, 2017 19:32, "loki der quaeler" <notifications@github.com> wrote:

[2017-09-09 02:43] quaeler commented on #12876
Agreed on both cases; i'm still ignorant enough of the codebase to know at what points (if any) protobuf is unavoidably used in the TF code and so could not practically be avoided by TF consumers.

Will still spend some time this weekend in probing and gedankenexperiment WRT (2.)

[2017-09-09 03:23] quaeler opened #12925 "[RFE] tensorboard: provide a File->Open -like UI for saved model.pb files"
This was originally solicited as https://github.com/tensorflow/tensorflow/issues/8854 by @brandondutra but got derailed with a very nice tools contribution from @jubjamie / @brandondutra

The original request would still, imo, make for a nice addition to tensorboard; specifically, were the UI of a running instance of TB to have something akin to a File->Open function to load a saved model .pb file

[2017-09-09 03:33] Michael0134 opened #12927 "No op named GatherTree using BeamSearchDecoder"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.5
- **GPU model and memory**: GeForce GTX 1080 (8 GB)

##

[2017-09-09 04:24] gaohuazuo commented on #12901
There is `GetSessionHandleV2` but no `GetSessionTensorV2`.

[code]

[2017-09-09 04:36] gunan commented on #12735
what are the exact commands you used to build?
Also the OS you installed?
I created an n1-standard-32 instance in us-central1-f, with ubuntu xenial, and I can find the .so files under solib_k8.

[code]

@damienmg based on what do we construct the name of the `solib_k8` directory?

[2017-09-09 04:37] gunan commented on #12925
As stated in our github issue template, you sould file this under tensorflow/tensorboard github repository.

[2017-09-09 04:37] #12925 closed

[2017-09-09 04:43] dilli007 opened #12929 "error when giving this command bazel-bin/tensorflow/examples/image_retraining/retrain --image_dir ~/home/dile/dataset/dosa"
Traceback (most recent call last):
  File "/home/dile/tensorflow/bazel-bin/tensorflow/examples/image_retraining/retrain.runfiles/org_tensorflow/tensorflow/examples/image_retraining/retrain.py", line 108, in <module>
    import tensorflow as tf
  File "/home/dile/tensorflow/bazel-bin/tensorflow/examples/image_retraining/retrain.runfiles/org_tensorflow/tensorflow/__init__.py", line 24, in <module>

[2017-09-09 05:09] traveller59 opened #12930 "Unable to build C++ example by bazel on windows 10"
### System information
- **Have I written custom code**: No
- **OS Platform and Distribution**: Windows 10 64Bit
- **TensorFlow installed from**: binary
- **TensorFlow version**: master
- **Python version**: 3.6.1
- **Bazel version (if compiling from source)**: 0.5.4, binary

in windows powershell:
[code]
### Describe the problem
I want to learn tensorflow C++ api and build a example from this [pa

[2017-09-09 05:30] hellolovetiger commented on #11071
Cool!

[2017-09-09 05:31] SayimTR commented on #8037
You can silence the warnings.
Just add these code at the top.
import os
os.environ['TF_CPP_MIN_LOG_LEVEL']='2'
import tensorflow as tf
As mentioned here: https://stackoverflow.com/a/44984610

[2017-09-09 05:53] #12929 closed

[2017-09-09 05:54] dilli007 opened #12931 "getting no attribute key error in ubuntu virtual box"
bazel-bin/tensorflow/examples/image_retraining/retrain --image_dir ~'/dataset/dosa/'
ERROR:tensorflow:Image directory '~/dataset/dosa/' not found.
Traceback (most recent call last):
  File "/home/dile/tensorflow/bazel-bin/tensorflow/examples/image_retraining/retrain.runfiles/org_tensorflow/tensorflow/examples/image_retraining/retrain.py", line 1326, in <module>
    tf.app.run(main=main, argv=[sys.

[2017-09-09 05:57] dilli007 commented on #12931
Linux Ubuntu 16.04
source
tensorflow 0.12.1
python 2.7
bazel 0.5.4

[2017-09-09 06:02] dilli007 commented on #12931
when i give this command

bazel-bin/tensorflow/examples/image_retraining/retrain --image_dir '/home/dile/dataset/dosa'

am getting
ERROR:tensorflow:No valid folders of images found at /home/dile/dataset/dosa

but the folder is present in tat directory

[2017-09-09 06:04] venik commented on #8037
@SayimTR options make TF faster

[2017-09-09 06:36] ebonat commented on #12897
hi drpngx,

i have fixed this issue by updating numpy to version 1.13.1.

thank you for a good question?

-ernest

[2017-09-09 07:07] tfboyd opened #12932 "Turning on grappler makes SLIM Resnet_v1_50 slower on AWS K80"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:source binary link [here](https://s3-us-west-2.amazonaws.com/tf-benchmark/tf_binary/tensorflow-1.4.0.32ffc5a-cp27-cp27mu-linux_x86_64.whl)
- **TensorFlow version (use command below)**: 1.3+ the sha-hash is in the link to download the binary I co

[2017-09-09 07:20] jakiechris commented on #12482
same issue on linux centos:
tensorflow/tensorflow/core/platform/default/mutex.h:25:22: fatal error: nsync_cv.h: No such file or directory

[2017-09-09 07:46] derekhh commented on #12553
See https://github.com/tensorflow/models/issues/1696 for an explanation. Basically this warning is expected as label map ids now start with 1.

[2017-09-09 08:03] yeshuanova commented on #12904
My platform is macOS Sierra Version 10.12.6
Tensorflow version over v1.3.0  at master branch 04c318b69c5b565436cfeeaab1cb7fd5419dde27
Compiler  information
[code]

When I checkout to **v1.3.0** tag, building script is running successfully.
I think this is building problem in latest version.

[2017-09-09 08:25] furyjack commented on #8385
@Carmezim i ran the script this was the output of it

(root) C:\Users\Admin\Desktop>python tensorflow_self_check.py
ERROR: Failed to import the TensorFlow module.

- Python version is 3.5.

- TensorFlow is installed at: F:\Anaconda3\lib\site-packages\tensorflow

- Could not load 'cudart64_80.dll'. The GPU version of TensorFlow
  requires that this DLL be installed in a directory that is named in

[2017-09-09 08:59] furyjack commented on #8385
@Carmezim Thanks i found out the problems
1)path variables should have a extra \bin at the end
2)the cuda version should have been 6
3)in path variable there should be have been and extra C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\cuda\bin

[2017-09-09 10:16] Moymix commented on #7669
How can I use early_stopping in environment?

[2017-09-09 10:42] zhangwlgq commented on #9976
c:> tensorboard --logdir='DIR'
but when i use
c:> tensorboard --logdir= "DIR"
its ok
win10

it helps!

[2017-09-09 10:49] mr2dark commented on #10984
I've just switched to Visual Studio 2017 Community. Its `immintrin.h` has definitions for `_mm256_extract_epi8` and `_mm256_extract_epi16`

[2017-09-09 13:18] allredbw commented on #12148
@nikky78 Were you able to resolve the error? I am experiencing the same issue with `tf.contrib.learn.DNNRegressor()`. `tf.contrib.learn.DNNRegressor.evaluation()` works fine, but the error appears when using `tf.contrib.learn.monitors.ValidationMonitor()` and at its first evaluation step.

[2017-09-09 14:50] ebrevdo commented on #11610
I doubt it. The identity round trips are fine, and protobuf errors are
O(tiny), not O(eps).

On Sep 8, 2017 7:37 PM, "loki der quaeler" <notifications@github.com> wrote:

[2017-09-09 14:53] ebrevdo commented on #11598
Sounds like there's a bug between using impute_finished and the beam search
decoder.  We'll take a look next week.

On Sep 8, 2017 4:45 AM, "zhedongzheng" <notifications@github.com> wrote:

[2017-09-09 15:11] tillahoffmann opened #12935 "Feature request: nightly build for python 3.6"
The [`tf-nightly`](https://pypi.org/project/tf-nightly/) pip packages are great! Would it be possible to add support for python 3.6 and/or provide a wheel for python 3.6 as part of the [standard nightly build](https://github.com/tensorflow/tensorflow#installation)?

In particular, the following succeeds

[code]

whereas the following fails

[code]

[2017-09-09 15:21] eaplatanios commented on #12612
Ok, I'll try to dig into what's going wrong.

[2017-09-09 15:41] quaeler commented on #11610
Ok - sorry for the red herring.

[2017-09-09 16:14] fetchinson commented on #12891
I'd be happy to help but I'm not familiar with C++ at all (only C) and it does look like to me to be a C++ specific error.

[2017-09-09 16:24] eaplatanios commented on #12612
Never mind, I can't reproduce the behavior with the current master branch code so it may have been resolved or it may have been something wrong with my implementation that I resolved without realizing. :)

[2017-09-09 16:41] fetchinson commented on #12891
Just to see if anything changed lately I tried compiling the current master (commit 32ffc5a81eee8c39bbe71536212a773b1ffd4eb2) and it still fails:

[code]

The setup is still the same (versions of libraries, etc) and I left all questions to ./configure the default.

[2017-09-09 17:27] georgh opened #12937 "Possible Bug: while_loop, map_fn do not parallize"
The `parallel_iterations` parameter of `while_loop` and `map_fn` do not reduce the runtime as expected.
In comparison to the same operations created in a python loop, `while_loop` and `map_fn` are at least 4 times slower. `while_loop` does not scale at all

More details:
For my project, I need to calculate a matrix blockwise.
I execute the calculation in a loop, each loop iteration working on a sm

[2017-09-09 18:04] georgh commented on #12911
I cant reproduce this on pip 1.3

[2017-09-09 18:20] shahidhs-ibm commented on #11431
Got the root cause of the issue. The conversion from ndarray to Tensor is causing trouble on big endian machine. Following is the change in file `tensorflow/python/framework/tensor_util.py` which is solving the problem (this file is from tag 1.3.0) :
[code]
Now the tests failing on rank for big endian are passing.

[2017-09-09 18:29] martinwicke commented on #12876
Actually, it's all much simpler. Python uses float64 internally (Python "float" is really double). Once you cast 4.3 to 4.3f you get 4.30000019073486.

Proof:
[code]
yields
[code]

Thanks @hawkinsp, @aselle!

Casting explicitly to `np.float32` and printing that before serialization should yield the same. The confusing part is that default print options will prevent you from seeing anything useful.

[2017-09-09 18:29] #12876 closed

[2017-09-09 20:37] yaroslavvb commented on #12901
@gaohuazuo this is by (suboptimal) design.

get_session_tensor requires a TensorHandle object in order to figure to pass some extra information (device assignment).

This object is obtained when you issue session.run on get_session_tensor op. In your failing case, you are evaluating a TF identity op, which gives you a regular numpy array rather than TensorHandle

See https://github.com/tensorflow/

[2017-09-09 20:41] quaeler commented on #12876
Interesting - thanks. ... but something is still rotten here; this isn't really TF's problem, but it seems like a real problem that will affect Python users of TF and so maybe that at least warrants some note in a read-me somewhere?

There's a use case problem which highlights the data representation problem.

The use case problem is: i should be able to do math operations on the values in my prot

[2017-09-09 20:53] apuayush opened #12939 "cudnn_rnn_ops.py cannot find _cudnn_rnn_ops.so"
https://github.com/tensorflow/tensorflow/blob/702d595822e9e5f5232b8140c6296683612c33a9/tensorflow/contrib/cudnn_rnn/python/ops/cudnn_rnn_ops.py#L37

[2017-09-09 20:54] apuayush commented on #12939
`Using TensorFlow backend.
Traceback (most recent call last):
  File "/home/apurvnit/Downloads/test.py", line 3, in <module>
    import keras
  File "/home/apurvnit/anaconda/lib/python3.5/site-packages/keras/__init__.py", line 4, in <module>
    from . import activations
  File "/home/apurvnit/anaconda/lib/python3.5/site-packages/keras/activations.py", line 6, in <module>
    from .engine import L

[2017-09-09 21:01] fetchinson commented on #12891
Is it about which version of the C++ standard is supported by the compiler?

[2017-09-09 21:35] yaroslavvb commented on #12898
Similar thing is already being done with TensorFlow's caching allocator already. You may see __LOG_MEMORY__ messages suggesting memory allocations, but those allocations are near instantaneous when they reuse memory that tensorflow allocated earlier

[2017-09-09 22:17] fetchinson commented on #12891
Well, let me ask a well-defined question: which version of the C++ standard do you guys write the code for? C++03, C++11, C+14?

[2017-09-09 22:44] sachaanu commented on #10129
Hello datomnurdin ,

Can you please highlight what worked, Im facing same issue.

Thank You

[2017-09-09 22:53] sachaanu commented on #10129
It worked, pls ignore.

Thanks

[2017-09-09 23:01] tfboyd commented on #9339
This is old but I saw it and we had to turn it off again by default in 1.3 but at head and 1.4 going forward everything is all good.  We had issues with a few corner cases used by teams inside Google that would fail.  We worked with NVIDIA to identify all of the possible corner cases and the issue is finally closed.  An FYI if anyone sees this.  We had the same problem with fused batch norm, which

[2017-09-09 23:06] drpngx commented on #9339
Thanks for looping back!

On Sep 9, 2017 4:02 PM, "Toby Boyd" <notifications@github.com> wrote:

[2017-09-09 23:13] imaxpayne opened #12940 "tf.nn.separable_conv2d is slower than conv2d on GPU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: TF 1.3
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:
- **CUDA/c

[2017-09-09 23:45] Mistobaan commented on #12735
@gunan I think is [based on the cpu](https://github.com/tensorflow/tensorflow/search?utf8=%E2%9C%93&q=k8).
I did build also with xenial. What env configuration did you use?

this are mines:
[code]

[2017-09-09 23:56] Mistobaan commented on #12761
I tried to create a simple Python library that depends on the `./tensorflow` workspace configured like in #12735,  and then I try to create a pip package that contains everything embedded (tensorflow + your library).
A simple rule like this will fail with the advanced options enabled.
[code]
This is useful for training on Google ML Engine because you can have a single bazel target that packages ev

[2017-09-10 02:55] kjslag opened #12941 "float64 support for conv1d and conv2d"
This is a feature request for `float64` support with `nn.conv1d`, `nn.conv2d`, and `nn.convolution`. Also, `conv1d` does not correctly document which types it supports. See below for details.

`conv1d` (which seems to be a wrapper for `conv2d`) and `conv2d` throw a TypeError when passed `float64` tensors. (I have only tested using a CPU; I don't have GPU access.) This occurs despite the fact that

[2017-09-10 05:48] Shiv751 opened #12942 "I am facing this issue after installing it on Windows 7 32 Bit , AMD processor, python 3.5.2, TensorFlow 1.0.0"
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\SEM>python
Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\SEM\AppData\Local\Programs\Python\Python35\lib\site-package

[2017-09-10 06:24] gaohuazuo commented on #12901
@yaroslavvb Looks like python wrapper is irrelevant.

[code]

[2017-09-10 06:41] dsiot commented on #6357
@samjabrahams great work on this. we could be interested to contribute more also as part of my course (@Oxford Data Science for IoT) - has there been more updates re the TF on Pi? also .. does this come under the TF embedded / mobile tensorflow umbrella? finally which use cases are you considering for Pi(ex image or beyond) many thanks! Ajit

[2017-09-10 06:46] samjabrahams commented on #6357
@dsiot There has been some work towards making official support in #5729 - that may be where you want to look next/continue the discussion!

[2017-09-10 06:47] dsiot commented on #6357
thanks for the prompt reply!

[2017-09-10 06:57] dsiot commented on #5729
@samjabrahams @FlorinAndrei @petewarden I am also happy to contribute to this through my course (Data Science for IoT @Oxford uni). would you recommend a place to start so we can duplicate the existing implementation? I am also interested extending further with non image based use cases (ex sensor fusion, complex event processing etc on tensorflow with embedded devices esp on Pi). One more interes

[2017-09-10 07:06] petewarden commented on #5729
The latest documentation on cross-compiling for the Pi is here, along with
links to the previous binaries:
https://petewarden.com/2017/08/20/cross-compiling-tensorflow-for-the-raspberry-pi/

We'll be updating the main TensorFlow site soon, but let me know how you
get on with these instructions. I've managed to get Keras running together
with TF on the Pi too using this approach.

On Sep 10, 2017 7

[2017-09-10 07:09] dsiot commented on #5729
@petewarden many thanks. This is very useful for my course as a base to start. shall share back also

[2017-09-10 07:10] yardstick17 commented on #6011
Made the PR for SPP implementation. https://github.com/tensorflow/tensorflow/pull/12852

[2017-09-10 08:04] sandys commented on #12750
hey guys,
im facing the same issue. Is savedmodel the recommended way to export from tensorflow ? OTOH, I do see a [commit](https://github.com/tensorflow/tensorflow/commit/ca6b88eb95b089010a1b970e0de7398195b5bcca) about adding this support to android.

We are seeing too many options here:
1. freezing - https://github.com/tensorflow/tensorflow/issues/12319
2. savedmodelbuilder - https://github.com/

[2017-09-10 08:06] shahidhs-ibm commented on #11431
Correcting the fix given in the above comment:
[code]
The missing data type in the nparray is behaving differently on the big endian machines. This solution works fine for Intel as well zSystems architecture. Will create a PR for same.

[2017-09-10 09:03] JacquelineWang commented on #12073
Got the same problem.  Can you be more specific? @rolai

[2017-09-10 09:16] YahaniManawadu commented on #12903
Thanks you so much  mrry .
Actually, I was quite stucked at inputting streaming data to tensorflow in my project. So, Thanks a lot.

[2017-09-10 09:27] YahaniManawadu commented on #12903
Dear sir,
Actually, I was quite stucked at that question in my project.
Thank you so much Derek Murry .

regards,
Yahani Manawadu,
Undergraduate_Computer Science (Special)_4th year, University of Sri
Jayewardenepura.
Machine Learning Engineering Intern, nCinga Innovations Pvt. Ltd.

On Sat, Sep 9, 2017 at 5:44 AM, drpngx <notifications@github.com> wrote:

[2017-09-10 09:45] yongtang commented on #12941
Added a PR #12943 to address the above mentioned issues.

[2017-09-10 10:05] Shiv751 commented on #1402
Traceback (most recent call last):
  File "C:\Users\SEM\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in swig_import_helper
    return importlib.import_module(mname)
  File "C:\Users\SEM\AppData\Local\Programs\Python\Python35\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, l

[2017-09-10 10:07] imaxpayne commented on #12132
I am facing with the same problem, seperable convolution some times run slower than normal conv2d on my GPU, but faster than conv2d on CPU, did you manage to find the solution ?

[2017-09-10 11:59] HenryChen1990 commented on #11363
I meet the same problem too

[2017-09-10 12:11] shoeffner commented on #4814
You are doing what I did wrong in the first place: You are using the `tf.local_variables_initializer()`. Try using another reset op, which only resets the variables you need, e.g. by selecting the variables you need:

[code]

You would then call `sess.run(op)` whenever your metric should be updated, `sess.run(reset_op)` whenever you want to reset it, and `sess.run(v)` whenever you want to know its

[2017-09-10 12:50] Nick7hill commented on #9484
`>>> import tensorflow as tf
Traceback (most recent call last):
  File "/home/tensor/anaconda3/envs/tgpu/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow.py", line 41, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "/home/tensor/anaconda3/envs/tgpu/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow_internal.py", line 28, in <module>

[2017-09-10 13:12] sdschulze commented on #12040
The problem persists with Tensorflow 1.3.0.  Has anyone tried to reproduce it?

[2017-09-10 14:25] jheymann85 commented on #12911
It might be related to the address the array is stored in:
[code]
Notice that the bug appears when there is hardly any free memory while it doesn't when all memory is free. Possibly an int32 overflow somewhere?

[2017-09-10 14:28] caisq commented on #12942
@Shiv751 , Windows 32-bit is not a platform supported by TensorFlow.

cc @gunan

[2017-09-10 14:30] vishalghor opened #12944 "No proper documentation to use transfer learning using pretrained model in .ckpt format"
Hi all,

Tensorflow had provided a retrain sample  code for inception v3 pretrained model to apply transfer learning usinng .pb file of the model.

But there is  no documentation on how  to use a .ckpt file for pretrained  models on Imagenet such as  Resnet,inception_resnet, etc.

Not much information of  how  to get a .pb file  for these pretrained model in .ckpt format.

Has anyone tried transfe

[2017-09-10 15:11] JYKim9628 commented on #4547
I'm sorry my answer too late

I found solution

The solution is that set environment value in apache config

[2017-09-10 17:11] jaideep777 commented on #672
@markusdr

In the simple case you described, wont the following code do exactly that?
"""
cost_val, grad_val = sess.run([cost,grad], feed_dict=feed)
"""