[2021-10-20 17:29] tfeher commented on #52520
In general, there is a difference in terminology what do we mean by "synchronous". `async_scope`, or `tf.config.experimental.set_synchronous_execution` use a different meaning, compared to what we use in CUDA terminology.

For reference: [async_wait](https://github.com/tensorflow/tensorflow/blob/2f73ac99e94c1e0c8a8b6ce0efdb3d11b834fe3d/tensorflow/python/eager/context.py#L2571) (used by `set_synchr

[2021-10-20 19:00] akshit0201 commented on #47554
I'm facing the same issue in GRU , here is the model:
[code]
The callback along with model.fit():
[code]
The problem persists even with eager implementation. Moreover, when I'm loading the model , the loaded model seems to be corrupted as the loss is coming out to be infinity.

This is how I'm loading the model:
[code]

[2021-10-20 21:51] #52207 closed

[2021-10-20 22:35] utrenic opened #52603 "build tensorflow 2.6 on macOS Big Sur (11.6) M1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  macOS Big Sur v11.6 Apple M1

[2021-10-20 23:47] jimhoggey opened #52604 "NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
-  Linux Mint Ubuntu 19.2
- TensorFlow installed from pip install tensor flow
- TensorFlo

[2021-10-21 00:34] JakeTheSnake3p0 commented on #44984
In case this helps anyone, I had the same errors but for a different (buggy) reason. I created an [InputLayer](https://www.tensorflow.org/api_docs/python/tf/keras/layers/InputLayer) and set the name to "Input" not thinking much of it. For whatever reason, that triggered this warning during save:

Then when I tried loading the model I got the error:

Even though I DID supply the custom_objects dict

[2021-10-21 02:51] #4914 closed

[2021-10-21 02:58] #52586 closed

[2021-10-21 02:58] shajibul commented on #52586
Yes, Thanks a lot

[2021-10-21 03:07] sapphire008 opened #52605 "Model serving signature with SparseTensor input feature"
This is a bug report.

------------------------

### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOSX 11.5.2, GCP Linux hosted instance
-   **TensorFlow installed from (source or binary)**: TFX 1.0.0 docker image on Linux; on OSX installed binar

[2021-10-21 03:12] mohantym commented on #52589
@ashishsb0307! Have you tried same in latest version 2.6 yet?

[2021-10-21 05:45] tilakrayal commented on #52590
@timmy-ops ,
Looks like the code is supporting only 1.x version.Can you please provide the code which supports the 2.x version.It helps to reproduce the issue in our end.Thanks!

[2021-10-21 07:03] sushreebarsa commented on #23692
@jtavrisov Could you please let us know if it is still an issue with TF v2.6.0 ? Please refer to this similar [issue](https://stackoverflow.com/questions/65283620/how-to-install-wheel-package-of-tensorrt-for-tensorflow-on-windows-10) ,and let us know if it helps ? Thanks!

[2021-10-21 07:13] sushreebarsa commented on #25222
@YuanWenqing Could you please check with recent TF version 2.6.0 and let us know whether the issue persists. Thanks!

[2021-10-21 07:59] sushreebarsa commented on #41320
@arjun-majumdar Could you please try on the TF v2.6.0 and let us know if it helps? Thank you!

[2021-10-21 08:13] sushreebarsa commented on #31885
@ghost Could you please have a look at the [TF Lite Examples ](https://www.tensorflow.org/lite/examples) and let us know if it helps?Thank you!

[2021-10-21 09:43] sushreebarsa commented on #45059
@ihuale Could you please try to use latest **TF v2.6.0** and let us know if it helps?Thank you!

[2021-10-21 09:46] lambdaphy commented on #42446
Yes, you're right.  Loss function returning a single loss value for the whole batch will cause problems under some circumstances.

The documentation has yet to be corrected.

There are many ambiguities in the document.

[2021-10-21 09:48] TheEnigmist opened #52607 "MirroredStrategy throw always AttributeError at the end of execution"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v2.5.0-rc3-213-ga4dfb8d1a71 2.5.0
- Python version: 3.7
- CUDA/cuDNN version: 11.2/8.1.0
- GPU model and

[2021-10-21 10:36] Saduf2019 commented on #49306
@mrawding
Could you please try on the latest tf version as many bugs have been fixed.

[2021-10-21 10:36] Saduf2019 commented on #49263
@AndreyPlotkinOr
Are you still facing this issue, please let us know.

[2021-10-21 10:38] TheEnigmist commented on #52607
Just installed TF-gpu 2.6.0 and the Exception ignored appears. I don't know why it doesn't appear on colab executions

[2021-10-21 10:51] Nugine commented on #49902
I can reproduce the compile error with the lastest commit (22b2692d3fef35c8c3da94d222946a71467fe630)

[2021-10-21 11:04] sushreebarsa commented on #44800
@SestoAle Can you please refer to the [comment ](https://github.com/tensorflow/tensorflow/issues/44800#issuecomment-730502054) and try using latest TF v2.6.0 ? Please let us know if it helps? Thank you!

[2021-10-21 11:15] myasser63 commented on #52194
I am trying to convert `MobilenetV2` to `Tflite `using the code below
[code]

and I always get this error:

2021-10-21 11:14:34.124780: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-10-21 11:14:34.135413: I tensorflow/stream_executor/cuda/cuda_gpu_e

[2021-10-21 11:58] tilakrayal commented on #24409
@erfannoury ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-10-21 12:03] Flamefire commented on #49833
@Saduf2019 as the problematic code linked at https://github.com/tensorflow/tensorflow/issues/49833#issuecomment-850355351 is still current, yes the issue still persists

[2021-10-21 12:05] Flamefire commented on #45013
Yes the issue still persists

[2021-10-21 12:33] thesigmaguy commented on #50943
Were you able to fix it @sbushmanov I am also running into the same issue? I am using RTX 3080 with Cuda version 11.4 and cudnn 8.2.4

[2021-10-21 12:37] sushreebarsa commented on #44607
@justeph Could you please try on the stable TF v2.6.0 and let us know if the issue still persists ? Thank you!

[2021-10-21 15:51] sachinprasadhs commented on #52194
@myasser63 did you try with 2.5 version as @mirjalal claimed that it worked for him after downgrading the Tensorflow version, also can you try the same with tf-nightly version as well. Thank you.

[2021-10-21 16:00] sachinprasadhs commented on #52210
@kat25230 , Have you connected your TPU directly to the VM, since tpu='local' expects the same.

[2021-10-21 16:05] mihaimaruseac commented on #44539
Also, we currently don't have any person with Go expertise left in the team, so we'd probably need to separate the go bindings to a separate repository and give full control to community to fix these.

[2021-10-21 16:17] mohantym commented on #52536
Ok @mbkgh!  Could you try again just saving the model without arguments or with .h5 extension .

[Reference ](https://www.tensorflow.org/tutorials/keras/save_and_load#savedmodel_format)

[2021-10-21 16:27] sanatmpa1 commented on #52239
@logankilpatrick,

Unfortunately we don't have the M1 mac to test, Can you try opening an issue in this [repo](https://github.com/apple/tensorflow_macos) to see if this can be checked? Thanks!

[2021-10-21 17:09] sanatmpa1 commented on #52607
@TheEnigmist,

This looks like an issue with Multi processing on windows. Can you please paste the complete stack trace of the error? Thanks!

[2021-10-21 17:55] kat25230 commented on #52210
you can see all the details in my original post, what do you mean by connected directly?

[2021-10-21 18:53] schissmantics commented on #52379
ok, i'll close the issue for being irrelevant

[2021-10-21 18:57] kkimdev commented on #36021
@k-w-w Do you know why we didn't revive `trainable_variables` ?

[2021-10-21 20:13] gonzojive opened #52610 "Golang support for tf.Variable"
**System information**
- TensorFlow version (you are using): unsure
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**

I don't see any equivalent of "tf.Variable" in the Go API:
https://pkg.go.dev/github.com/tensorflow/tensorflow/tensorflow/go#section-readme
and
https://pkg.go.dev/github.com/tensorflow/tensorflow/tensorflow/go/op

**Will thi

[2021-10-21 20:53] mbkgh commented on #52536
In addition I tried with the one model created:
C:\Users\User>curl http://localhost:8501/v1/models/my_model
{ "model_version_status": [   {    "version": "1",   "state": "AVAILABLE",   "status": {     "error_code": "OK", ...

and it leads to the same issue...

C:\Users\User>curl -d "{ \"instances\": [ {\"age\": 50,\"sex\": 1,\"cp\": 1,\"trestbps\": 145,\"chol\": 133,\"fbs\": 1,\"restecg\": 2,\"tha

[2021-10-21 21:19] jvishnuvardhan commented on #33794
This is updated in recent TF version. Please check the page https://www.tensorflow.org/api_docs/python/tf/keras/layers/SimpleRNN

I am closing this issue as this was resolved. Please feel free to reopen if this is still an issue. Thanks!

[2021-10-21 21:19] #33794 closed

[2021-10-22 03:06] mohantym commented on #52597
Hi @qspi
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2021-10-22 03:27] sprouteer opened #52615 "tensorflow lite libhexagon_nn_skel.so signed"
About the hexagon nn deployment in tensorflow lite, the libhexagon_nn_skel.so has  already signed？
Is it possible to use hexnn_controller_request_unsigned_pd to avoid signing problem。

[2021-10-22 03:31] Yunlei-AI opened #52616 "The keras.layere.reshape() is a dynamic-sized tensor ? convert CRNN model to TFLite cannot work on android GPU"
### 1. System information

- Linux Ubuntu 20.04,
- android API 25
- tf-nightly   keras=2.4.3

### 2. Code

CRNN model use rashape like this:

     x = layers.Reshape((4, 128))(x)

Convert code:

    keras_model = models.load_model(model_path, custom_objects={ 'precision': precision, 'recall': recall, 'f_score': f_score})
    converter = tf.lite.TFLiteConverter.from_keras_model(keras_model)
    tfl

[2021-10-22 03:52] sushreebarsa commented on #51776
@KumaTea Please see the discussion on [TF Forum ](https://discuss.tensorflow.org/t/support-python-3-10/124?u=mihaimaruseac).Thanks!

[2021-10-22 05:57] H-Sorkatti opened #52618 "Offline Documentation"
Hello, TF Team.
Would you please guide me to how I can generate offline documentation for tensorflow, since I work a lot in offline settings. Or better yet, point me to where I can get a ready-made PDF version of the docs.
Thanks.

[2021-10-22 14:41] Anonymud opened #52620 "cannot train wiht custom dataset"
hello,
i wanted to try to generate images with stylegan2. i have an dataset with 4823 images. when I run !python /content/drive/MyDrive/stylegan2/run_training.py --num-gpus=1 --data-dir=/content/drive/MyDrive/stylegan2/dataset/ --config=config-f --dataset=eye --mirror-augment=true --metric=none --total-kimg=4823 --min-h=8 --min-w=8 --res-log2=8 --result-dir="/content/drive/My Drive/stylegan2/resul

[2021-10-23 15:05] Sgsouham opened #52630 "quantization aware training issue"
Hi, I am training a U2Net model and want to use quantization aware training to reduce the size of the model. According to the official Docs regarding this, We need to import the library of tensorflow_model_optimization and use the quantize model function.

Issue - When i am using this, I am getting AttributeError: 'list' object has no attribute 'dtype'
This is my model declaration code-

quantize_

[2021-10-24 00:09] mohantym commented on #52616
Hi @Yunlei-AI ! Could you please provide sample stand alone code to reproduce this issue?

[2021-10-24 00:37] mohantym commented on #46949
Hi @TLCFYBJJHYYSND!
We are checking to see whether you still need help in this issue . Have you checked with above comment yet?

[2021-10-24 00:47] mohantym commented on #39053
Hi @harsha113!
We are checking to see whether you still need help in this issue .Have you checked the same in Latest version TF 2.6 yet? Thanks!

[2021-10-24 02:16] yogeesh-alphaics opened #52638 "ValueError: Converting a list of object of custom class (ExtensionType) to tensor error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):linux ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:no
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):2.8.0-

[2021-10-24 02:53] rand42studios opened #52639 "AttributeError: 'FlatMapDataset' object has no attribute 'bucket_by_sequence_length'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-10-24 02:58] rand42studios opened #52640 "Typo in the model.compile code examples: tf.keras.optimizers not tf.keras.optimizer"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/api_

[2021-10-24 04:08] Big141 opened #52641 "When using make to run the test, the error "there should be no - m at this time. Find: the parameter format is incorrect" is reported"
F:\桌面\TyniML\tensorflow-2.4.3>make -f tensorflow/lite/micro/tools/make/Makefile 'test_hello_world_test'
process_begin: CreateProcess(NULL, uname -m, ...) failed.
此时不应有 -m。
FIND: 参数格式不正确
FIND: 参数格式不正确
make: *** No rule to make target ''test_hello_world_test''。 停止。

[2021-10-24 07:04] Wanzizhu opened #52642 "Frozen graph converted by freeze_graph.py is not usable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution: Ubuntu 20.04.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.0
- Python version: 3.9.5
- B

[2021-10-24 09:55] donghyun128 opened #52644 "' TypeError: '<=' not supported between instances of 'list' and 'Rectangle' ' from pose_classification.ipynb"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Github : https://github.com/te

[2021-10-24 11:17] zhaozheng09 opened #52645 "xla compile op cache many tensors to out of memory ."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2021-10-24 14:18] zhengweiqin969 opened #52648 "ValueError: Tensor-typed variable initializers must either be wrapped in an init_scope or callable (e.g., `tf.Variable(lambda : tf.truncated_normal([10, 40]))`) when building functions. Please file a feature request if this restriction inconveniences you."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please sha

[2021-10-25 01:31] mmanoharahere opened #52649 "TFlite support for FakeQuantWithMinMaxVarsPerChannel"
Is there support for conversion of QAT model trained with per-channel quantization to TFlite models?
Thanks!

[2021-10-25 06:10] joshiayush opened #52650 "error: `'Py_hash_t'` does not name a type"
**System information**
- OS Platform: `Ubuntu 20.04.3 LTS`
- TensorFlow installed from (source or binary): `source`
- TensorFlow version: 487ce666eba608e3ac909db94c4211c2661f2828
- Python version: `Python 3.8.10`
- Bazel version: `bazel 3.7.2`
- GCC/Compiler version (if compiling from source): `gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0`
- CUDA/cuDNN version: `NaN`
- GPU model and memory: `NaN`

**P

[2021-10-25 11:24] GPhilo opened #52653 "TFLite: XNNPACK delegate failed to delegate FULLY_CONNECTED node"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): Source for inference, Binary for model generation
- TensorF

[2021-10-25 17:42] wei-v-wang opened #52657 "Numpy 1.21.2/3 Causing Feature Column Unit Test Failures"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-10-25 18:20] ausashet opened #52660 "ausashet"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-10-25 18:31] g-sarapata opened #52664 "Target //tensorflow/tools/pip_package:build_pip_package failed to build"
### System information

- Im trying to build tensorflow to run custom code
- Using macOS Big Sur 11.4
- Tensorflow installed from source
- Can't find Tensorflow version
- Python 3.7
- bazel 3.1.0
- Intel HD Graphics 530 1536 MB
- 16 GB 2133 MHz LPDDR3
- bazel build -c opt $COPT -k //tensorflow/tools/pip_package:build_pip_package

### Describe the problem
6 errors generated.
Target //tensorflow/too

[2021-10-25 19:54] whatdhack opened #52668 "Does XLA handle FusedBatchNormV3 correctly in GPUs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):: 2.6
- Python ver

[2021-10-26 05:40] par1hsharma opened #52672 "Warning persists after upgrading to Mac OS 12- Could not identify NUMA node of platform GPU ID 0"
**This warning was supposed to be resolved in MacOs 12 . How to fix this?**
[code]
[code]

[2021-10-26 09:53] mansnils opened #52673 "No SVDF ref kernel support with all 8 bit weights and state"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source): 1180d389b41314e9715336b4b7b194140292d5c8

TFLM has support for this already:
https://github.com/tensorflow/tflite-micro/pull/506

If CMSIS-NN should add support for this it would be good to first have support in Tenso

[2021-10-26 10:43] insung3511 opened #52674 "Install error on m1 MBP (Python 3.9)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur 11.6
- TensorFlo

[2021-10-26 11:38] elfringham opened #52676 "Undefined behaviour in Range"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-10-26 12:30] Ending2015a opened #52680 "Inconsistent results on every run with GPU"
**System information**
- OS Platform and Distribution: Colab
- TensorFlow version: 2.6.0 GPU

**Describe the current behavior**
Hello, I'm using TensorFlow 2.4.0 with GPU support on my local machine to train a small CNN model. I can get the same training results when I train it on CPU mode if I fixed the random seed, but always get inconsistent results on GPU mode.

*So I test it on Colab, which h

[2021-10-26 14:28] Liozizy opened #52681 "In Tensorflow 2.6, tf.keras.backend.gradients() return None"
I try to customize a loss functionm, But when I run the following code:

[code]

An error will be reported(The above code is in the custom function.)：

[code]
When I tried to solve it, I found that the value of pressure_grad_x (or pressure_grad_y, pressure_grad_z) is None.

The model i used if LSTM model and take the custom loss function as the last layer of the model.

out2 is the outputs of LSTM

[2021-10-27 00:05] AnishKumarNayak opened #52692 "Detection of images using Object Detection Algorithm based on YOLO (importing tensorflow) in different setups"
Hi,

I have been running some detections of images by calling upon trained weights for YOLOv3. This is all done through either tensorflow or tensorflow-GPU.
Some of these detections are done through my own laptop (CPU bases -- Mac) and sometimes using GPU Clusters which we can only access by SSH.
I noticed that for the very same weights being used, on different laptops and CPU workstations the det

[2021-10-27 13:05] tusneemA opened #52705 "Title: Input shape compatibility of ZIP-object of (image and image ImageDataGenerator objects) and CNN"
**System information**
Have I written custom code (as opposed to using a stock example script
provided in TensorFlow): custom code
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
happens on a mobile device: NA
TensorFlow installed from (source or binary): binary (added as library to Anaconda )
TensorFlow version

[2021-10-27 17:58] Toon34 opened #52726 "Tensorflow C api is no longer supported on mac OSX High Sierra (Sierra too)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): mac OSX High Sierra
- TensorFlow installed from (source or binary): Binary
- TensorFlow version: 2.6 -> 2.8
- Python version: None
- Installed using virtualenv? pip? conda?: None
- Bazel version (if compiling from source): None
- GCC/Compiler version (if compiling from source): None
- CUDA/cuDNN version: None
- GPU m

[2021-10-27 22:10] viktor-haag opened #52752 "tf.nn.ctc_loss calculated sequentially when using tf.distribute.MirroredStrategy()"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-10-28 00:59] a906247390 opened #52754 "ModuleNotFoundError: No module named 'tf'"
import numpy as np
import pandas as pd
import matplotlib as plt
import tensorflow as tf
from tensorflow import keras

print(tf.__version__)

# 加载fashion_mnist数据集
fashion_mnist1 = tf.keras.datasets.fashion_mnist
(x_train, y_train), (x_test, y_test) = fashion_mnist.load_data()

output is
2.6.0
Traceback (most recent call last):
  File "G:/workspace/py/data analize/untitled/Tensorflow2leanProject/pre

[2021-10-28 02:01] a906247390 opened #52755 "pycham Cannot auto replenish kersa.layers"
import numpy as np
import pandas as pd
import matplotlib as plt
import tensorflow as tf
import minst_reader

# 加载fashion_mnist数据集
x_train, y_train= minst_reader.load_mnist('fashion',kind='train')
x_test, y_test= minst_reader.load_mnist('fashion',kind='t10k')
x_train,y_train = x_train/ 255.0,y_train/255.0

model = tf.keras.Sequential([
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dense(128,ac

[2021-10-28 02:15] Zhangts98 opened #52759 "Is tf1.15-gpu compatible with cudnn8,cuda10.2?"
centos7
gpu 2080ti
gcc 4.8.5
bazel 0.26.1
python 3.8
tf code  1.15
cuda 10.2
cudnn 8.0.1
i modified  **./configure.py**  and  **./third_party/gpus/find_cuda_config.py** and **WORKSPACE** When I execute **bazel build --config=opt --config=cuda //tensorflow:libtensorflow_cc.so** command, it has some errors:

![企业微信截图_16353867475126](https://user-images.githubusercontent.com/61573829/139174477-e5d1b8

[2021-10-28 06:03] yesufeng opened #52764 "MultiHeadAttention layer save and load changes weight"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-10-28 07:14] KochankovID opened #52768 "No matching distribution found for tensorflow"
Used one of your Dockerfiles to build a docker image with TensorFlow installed (also I've tried to do it manually and used python docker image and latest Ubuntu image) but all the time I get same error:

<img width="1051" alt="image" src="https://user-images.githubusercontent.com/33292483/139205340-79248dec-c487-4589-be45-9593f0492dd8.png">

I've tried to update pip and setuptools.

[2021-10-28 09:07] zding047 opened #52774 "How to convert a tensorlfow SpaceToBatchND-Conv2D-BatchToSpaceND to a single Conv2D in tflite"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installation (pip package or built from source): docker image
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.5.0-gpu-jupyter

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

[code]
The models and

[2021-10-28 13:14] naveen-marthala opened #52793 "Add all the averaging methods available for Precion, Recall and F-score in sklearn, natively in tensorflow or tensorflow-addons"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4.3
- Are you willing to contribute it (Yes/No): Yes, bu

[2021-10-28 13:31] misheeltoli opened #52794 "TFLite GPU Delegate Precision loss enabled produces different/wrong result."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Galaxy Note20 Ultra(Snapdragon), Galaxy S10(Exynos)
- TensorFlow installed from (source or binary): source
- TensorF

[2021-10-28 14:36] YingYuChen97 opened #52795 "Unnormal low gpu usage: MobileNetV3"
System information

- Have I written custom code: Custom
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow version (use command below): 2.4.0
- Python version: 3.6.10
- CUDA/cuDNN version: 11.1
- GPU model and memory: RTX 2080 ti *4

I'm training my classifier with 4 RTX 2080 ti with MobileNetV3.
Using Pytorch, GPU utility could be up to 97%, however, it is

[2021-10-28 19:26] raghul-parthipan opened #52814 "Linear regression learnt parameters are wrong when using sklearn with my specific docker instance."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Binary? Installed via docker pull tensorflow/te

[2021-10-28 21:21] hamcapem opened #52831 "Retrieving exactly the same recommendations for all users"
## URL(s) with the issue:
https://www.tensorflow.org/recommenders/examples/basic_retrieval#making_predictions

## Description of issue (what needs changing):
When making predictions, the model is retrieving the exact same predictions for all users when using other datasets.

### Clear description
When model is trained and we're making predictions, everything works fine when using the movielens dat

[2021-10-28 23:01] dwyatte opened #52845 "TensorFlow binary crashes on Apple M1 in x86_64 Docker container"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-10-29 06:42] DS-Liu opened #52848 "tensorboard walltime and step not consistent"
Does anyone know whats happening here? The walltime and the step is not consistent, might it be the asynchronous of the SummaryWriter on CPU and the training on GPU?

![image](https://user-images.githubusercontent.com/67493438/139387653-cff79104-508e-40eb-b920-f331acb52cc1.png)

![image](https://user-images.githubusercontent.com/67493438/139387687-ddfb8b5b-c683-475d-b2c2-49ebc07ec08f.png)

![image

[2021-10-29 09:09] zuozhen opened #52852 "please add tf.size support"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (or github SHA if from source): 2.4.1

**Provide the text output from tflite_convert**
[code]

**Standalone code to reproduce the issue**
https://www.tensorflow.org/lite/tutorials/pose_classification

Also, please include a link to

[2021-10-29 14:29] johan-gras opened #52854 "[Tflite] quantized ABS operator doesn't behave as intended"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): master/nightly
- Python version: 3.7
- Bazel version (if compiling from source): 3.7.2

**Describe t

[2021-10-29 20:00] Ashvith opened #52867 "Linker command not proper, as it does not look under /usr/local/lib"
## URL(s) with the issue:

https://www.tensorflow.org/install/lang_c

## Description of issue (what needs changing):

In the **Linker** section, the given command is `sudo ldconfig`, but as per the description, it only links to the trusted directories (`/lib` and `/usr/lib`). This needs to be replaced with `sudo ldconfig /usr/local/lib -v` (-v is optional, only for verbose) assuming that the libte

[2021-10-30 05:14] storypku commented on #39759
Thank all for helping. I think this issue can be closed now.

[2021-10-30 05:14] #39759 closed

[2021-10-30 06:22] par1hsharma commented on #52672
yes exactly this issue persists but the TensorFlow team on GitHub is unable to catch this issue and they keep directing us to different threads .They dont even check the MacOs version people are using .

[2021-10-30 06:25] par1hsharma commented on #52672
**@rayjennings3rd** **@xiangpeng2008**
I recommend you to check [this](https://github.com/jeffheaton/t81_558_deep_learning/blob/master/install/tensorflow-install-mac-metal-jul-2021.ipynb) installation guide for proper installation on M1 Macs.I am not sure about the intel Macs .

[2021-10-30 06:27] par1hsharma commented on #52672
2.6.0

[2021-10-30 08:06] #52370 closed

[2021-10-30 09:40] sdkayb commented on #33285
adding the code to my data_utils.py file didn't work for me
how can in install certificates.command on windows
i am working with python 3.7 tensorflow 2.5

[2021-10-30 15:45] sparshgarg23 commented on #40166
I was trying to run an example in tensorflow object detection api where in they were using a pretrained centernet model.Any ideas what could be the possible reason behind this.

[2021-10-30 18:41] sbushmanov commented on #50943
@thesigmaguy
Yes, I did. The issue was due to Anaconda interfering with native cudatoolkit. After disabling Anaconda (and switching it back after successful build) the build proceeded successfully.
As another solution, you may try their docker, try to reproduce your environemnt within docker, and see wjere it fails.

@thesigmaguy
Yes, I did. The issue was due to Anaconda interfering with native cu

[2021-10-31 02:57] yogeesh-alphaics opened #52882 "tf.nn.batch_normalization and tf.keras.layers.BatchNormalization outputs gives a diff (10^-2) range"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 20.04

I have implemented a classification model , which has Batchnormalization layers into it. While training the model , i used ```tf.keras.layers.BatchNormalization``` layer for training. Then manually extracted t

[2021-10-31 03:48] Rakagami opened #52883 "AttributeError in tensorflowjs wizard with tensorflow_estimator version 2.7.0 (but can be fixed by downgrading modules)"
**System information**
- Manjaro Linux x86_64
- TensorFlow installed from anaconda (implicitly thorugh `pip install "tensorflowjs[wizard]"`)
- TensorFlow version : 2.6.0
- Python version: 3.6.13
- CUDA/cuDNN version: cuda_11.4.r11.4
- GPU model and memory: NVIDIA GeForce GTX 1660 Ti, 6GB memory

**Current Behavior**
When I execute `tensorflowjs_wizard`, I get the following output:

[code]

**Expec

[2021-10-31 04:35] sushreebarsa commented on #52831
@hamcapem
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-10-31 05:17] hamcapem commented on #52831
There is no template for "other issues" though

[2021-10-31 05:38] tilakrayal commented on #52705
@tusneemA ,
Can you please upgrade to latest stable tensorflow version 2.6 and test the code in new virtual environment and let us know if the issue still persists.It helps.Thanks!

[2021-10-31 06:57] MrinalTyagi opened #52884 "Ability of flow, flowFromDirectory and flowFromDataFrame in ImageDataGenerator to self generate class weights"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.6.0
- Are you willing to contribute it (Yes/No): Yes

**

[2021-10-31 07:01] MrinalTyagi opened #52885 "Addition of a new activation function: Mish in comps"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.6.0
- Are you willing to contribute it (Yes/No): Yes

**

[2021-10-31 09:15] alanpurple commented on #52131
@sanatmpa1

executing powershell with admin privilege solved this
of course "nogcp" & "nonccl" options still not work in windows

It seems that bazel&llvm now needs admin privilege execution

[2021-10-31 11:33] Nafees-060 opened #52886 "Temporal Attention on LSTM Layer?"
Hi,

**I want to implement Attention on LSTM layer. Let me put the detail description:**

we analyze the 8 hidden states of the LSTM that represent the embeddings for the different parts of an input frame. We consider the first 7 hidden states as the historical temporal
context and learn 7 weights corresponding to these states:
past context = [h1;h2;h3;:::h7] (1)

current = h8 (2)

transformed con

[2021-10-31 13:13] AgastyaSingh3292 commented on #22926
Is this issue open?

[2021-10-31 13:17] Space-Fighter commented on #52184
@sanatmpa1 As i see in the post quoted above i seem to get a different error in my local machine and a diffrent one in colab.

As i see the version of tensorflow in colab is -
![image](https://user-images.githubusercontent.com/63576756/139585230-ba01ba09-85b5-48b9-bb23-74b6424ad44b.png)

and in my machine it is -

![image](https://user-images.githubusercontent.com/63576756/139585385-66cdae7b-431a-

[2021-10-31 13:23] Jackwin opened #52887 "Converting from TensorFlow model input to MHLO"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4.3
- Are you willing to contribute it (Yes/No):
Yes，I w

[2021-10-31 14:06] #52387 closed

[2021-10-31 14:09] Gomesz785 commented on #22926
What are you expecting by commenting this number?

[2021-10-31 14:11] Gomesz785 commented on #22926
Yes it is.

[2021-10-31 14:50] sushreebarsa commented on #52882
@yogeesh-alphaics
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-10-31 15:06] sushreebarsa commented on #52831
@hamcapem Could you please let us know which TF version you are using ? Thanks!

[2021-10-31 16:30] svzj95 opened #52888 "Handpose model doesn't get image data from React Native Canvas"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- Expo, Windows
- Xiaomi Redmi note 9 pro 5g

package.json:
`{
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web": "expo start --web",
    "eject": "expo eject"
  },

[2021-10-31 17:10] jpienaar commented on #52887
Thanks for filing this, to add context from origin thread, the request was for "standalone infrastructure that imports the TF model and exports the MHLO".  I'll refrain this issue to be scoped to that and assign to bridge team for comment.

I think there are 2 parts here 1) documenting how to perform the conversion (this has been requested in a couple of threads) and 2) the standalone tool.

[2021-10-31 18:58] yogeesh-alphaics commented on #52882
okay thanks for the update @sushreebarsa

[2021-10-31 18:58] #52882 closed

[2021-10-31 22:23] mryszt commented on #52883
Looks the problem is in wrong dependency in tensorflow 2.6.0. It has tensorflow-estimator~=2.6, while it shall be tensorflow-estimator~=2.6.0.
Similar thing will happen to keras, when it is not in rc phase anymore, as the same dependency (~=2.6) is set there

[2021-11-01 02:11] Jackwin commented on #52887
Thank Jacques for the refinement. The MLIR thread is repeated [here](https://llvm.discourse.group/t/convert-tensorflow-tf-lite-model-to-mhlo-linalg-standalone/4611/2), which maybe help the guys who are interested in TF and MLIR, hopefully.

[2021-11-01 02:17] oonisim opened #52892 "Explanation of tf.keras.layers.CategoryEncoding output_mode='multi_hot' behavior"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/keras/layers/CategoryEncoding

## Description of issue (what needs changing):

Need clarification on the statement below about multi hot encoding.

## Clarification

Please help understand the definition of **multi hot encoding** of tf.keras.layers.CategoryEncoding and the behavior of ```output_mode='multi_hot'```.

### Backgr

[2021-11-01 02:34] logankilpatrick commented on #52239
@sanatmpa1 that repo is archives so I cannot open an issue there.

[2021-11-01 02:36] logankilpatrick commented on #52239
I have updated to the newly release macOS version and no longer have any issues. Thanks for debugging with me!

[2021-11-01 02:36] #52239 closed

[2021-11-01 07:19] nolanding commented on #40157
I'm using tflite_runtime 2.5, I converted my model using tensorflow 2.5 but when I'm trying to do inference using that model with tflite_runtime in my environment I'm getting below error
RuntimeError: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference.Node number 0 (FlexAbs) failed to prepare.

[2021-11-01 07:38] thaink commented on #40157
@nolanding the guide to use Select TF ops is in https://www.tensorflow.org/lite/guide/ops_select#run_inference

[2021-11-01 07:41] raahul-hub commented on #31318
I was facing the same issue.
I did following changes in my code

1. import os
    os.environ["TF_FORCE_GPU_ALLOW_GROWTH"]="true"
2. Changed optimizer from RMRprop tp Adagrad
3. Reduced the dimention from 6181 to 3750.

and the problem was resolved.

[2021-11-01 07:57] nolanding commented on #40157
@thaink  I followed the same, but I don't find anything for python.
Can you suggest something?

[2021-11-01 08:06] #52527 closed

[2021-11-01 08:06] #52535 closed

[2021-11-01 08:10] sushreebarsa commented on #52888
@svzj95
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),Thanks!

[2021-11-01 08:16] thaink commented on #40157
@nolanding Can you try a newer version of tflite_runtime? It is backward-compatibility so it should work with older model.

[2021-11-01 08:42] intervolga-school commented on #51693
+1 to have resize XLA implementation for the same purposes

[2021-11-01 09:02] DamRsn commented on #46711
Hello,

Any news on this?

I also believe that the overhead of memory allocation should be avoided when calling `TF_SesssionRun()` multiple times. I'm using the Tensorflow C API (2.6) for inference in the context of real-time audio processing, and malloc is not a real-time safe operation. Having a way to avoid this memory allocation is crucial for I think numerous use cases.

This issue has been p

[2021-11-01 09:06] #12853 closed

[2021-11-01 09:21] Randl commented on #12853
But I replied?

[2021-11-01 09:21] lxsyz opened #52893 "Tensorflow2.4 matmul returns different result(CPU) comparing numpy & torch matmul"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-11-01 09:22] OpenWaygate commented on #38409
Is there any progress on this problem? I have same problem with tf 2.4.1.

[2021-11-01 10:05] akarmi commented on #45032
@sushreebarsa, thank you for your suggestions. We checked it and got some compilation errors when building tensorflow.

I am closing this issue as it is a very old one. We switched to using tensorflow-testing/nosla-cuda11.2-cudnn8.1-ubuntu18.04-manylinux2010-multipython docker image a few months ago since tensorflow/tensorflow:custom-op-gpu-ubuntu16 does not get updated any more.

[2021-11-01 10:05] #45032 closed

[2021-11-01 10:46] iremonur commented on #39759
Hi, the problem is solved, thank you!

[2021-11-01 11:03] nolanding commented on #40157
@thaink  I've tensorflow data type 13 which doesnot work on lower versions.
getting below error for lower versions
Unsupported data type 13 in tensor

[2021-11-01 11:05] lionfish0 commented on #50075
Thanks for following up & solving this!

[2021-11-01 11:05] nolanding commented on #40157
@thaink  is there some way to define flex ops during inference?

[2021-11-01 11:06] #52383 closed

[2021-11-01 11:13] berlinsaint opened #52894 "Bug: SomeTimes Coredumped using tfjob"
hello, iam using tfjob to train keras model.

most of times, they work fine. But some times, it will crash  after train and savemodel.

our partial train code is here:

[code]
And the log is:
![image](https://user-images.githubusercontent.com/10629930/139662542-31221f80-a0de-4c76-b4f5-cfd017612de4.png)

I get the coredumpe file;

it show this:
![image](https://user-images.githubusercontent.com/106

[2021-11-01 11:24] hamcapem commented on #52831
@sushreebarsa I am using the following versions:
tf   version:    2.6.0
tfrs version:   v0.6.0
tfds version:    4.4.0

[2021-11-01 11:52] berlinsaint commented on #52894
Tensorflow Version is 2.6， and i also try 2.7dev.  But some times They both occur the same coredumped....

[2021-11-01 13:04] sushreebarsa commented on #52831
@Saduf2019 Was able to replicate the issue on colab using TF v2.6.0 ,please find the [gist](https://colab.research.google.com/gist/sushreebarsa/cb2ac34b3cdabd2ad1ccdace0dd19f07/basic_retrieval.ipynb) for reference.Thanks!

[2021-11-01 13:06] #52534 closed

[2021-11-01 13:08] sushreebarsa commented on #52894
@berlinsaint
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-11-01 13:16] chunduriv commented on #52158
@CarlosYeverino, Did you refer solutions discussed [here](https://github.com/tensorflow/tensorflow/issues/52158#issuecomment-932659820), [here](https://github.com/tensorflow/tensorflow/issues/52158#issuecomment-932743058)?  Can you let us know why your model requires FlexStridedSlice since StridedSlice is also available for TFLite?

[2021-11-01 13:26] chunduriv commented on #51757
@KennyTang1988, Did you tried as suggested [here](https://github.com/tensorflow/tensorflow/issues/51757#issuecomment-938333253)? and let us know?

[2021-11-01 13:33] alenandry opened #52895 "How to install tensorflow to ARM32 Windows platform? Is there any solution for this problem?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- ARM32 Windows10
- GPU model and memory:16G

**Describe the problem**
ARM base Windows s

[2021-11-01 13:38] qiq208 opened #52896 "tf.linalg.triangular_solve different behaviour on CPU vs GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- https://colab.research.google.com/drive/1uTUzEQXDR6JvCkFQyS-3n2pAUKAH-TLk?usp=sharing#scrollTo=BcSb0SDQ5nI0
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 (also Colab)
- TensorFlow installed from (source or binary): source
- TensorFlow version (u

[2021-11-01 13:44] chunduriv commented on #50970
@whalefa1I, Did you tried as suggested [here](https://github.com/tensorflow/tensorflow/issues/50970#issuecomment-887351872)?

[2021-11-01 14:15] tusneemA commented on #52705
OK, I will.

On Sun, Oct 31, 2021 at 8:38 AM tilakrayal ***@***.***> wrote:

[2021-11-01 14:33] pselden commented on #52883
This is also breaking our TFX pipeline in BigQueryExampleGen running in dataflow -- do you know if this is going to be fixed by just releasing tensorflow 2.7, or will the version be pinned in 2.6?

[2021-11-01 14:55] chunduriv commented on #50375
@VirVisha, Is your issue resolved now? Else, did you checked [this response](https://github.com/tensorflow/tensorflow/issues/50375#issuecomment-872114199)?

[2021-11-01 15:40] Mohammedirfan25 opened #52897 "Illegal instruction (core dumped)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 18.04.5 LTS x86_64
- Mob

[2021-11-01 18:48] yunjiangster commented on #34519
Indeed calling an eval dataset loop inside a training loop is still a problem!

[2021-11-01 19:01] rthadur commented on #52640
This has been fixed in r2.6.1 , Thank you all

[2021-11-01 19:01] #52640 closed

[2021-11-01 19:06] #52519 closed

[2021-11-01 19:11] VladislavSmolyanoy commented on #52672
This fixed this issue for me:

1. Removing my previous kernel
`jupyter kernelspec remove tensorflow`

2. Installing the [TensorFlow Metal plugin](https://developer.apple.com/metal/tensorflow-plugin/) (Skip the Miniforge installation if you already have it installed, also installed it globally)
`conda install -c apple tensorflow-deps`
`python -m pip uninstall tensorflow-macos
python -m pip uninstal

[2021-11-01 19:29] xinjin95 commented on #47448
Have you @xmy19029 tried to add custom op for GPU?

@impjdi I have a followup question. I am running a model on Android with GPU delegate. The `tf.gather` op in my model is not supported. If I add custom op for it in Android GPU delegate, should I follow the same steps as you suggested above?

[2021-11-01 19:59] calebmadrigal commented on #47782
Is there any plans to officially release binary distributions for TensorFlow for ARM (Apple M1) on linux?

[2021-11-01 20:25] jvishnuvardhan commented on #31050
@beasteers As development of keras moved from TF repo to keras-team/keras repository,  I am closing this from TF repository. We will track this feature request in keras-team/keras

https://github.com/tensorflow/tensorflow/issues/29685

[2021-11-01 20:25] #31050 closed

[2021-11-01 20:26] cheshire commented on #52277
This is the seeding behavior: https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/compiler/tf2xla/tf2xla_util.cc;l=547-556;drc=3381da37560d64c7cb62b53879a0a931ff9036c4

it looks like it will generate a new seed each time you run it within a single execution, ignoring TF seed. Which behavior would you expect?

[2021-11-01 20:36] rayjennings3rd commented on #52672
@par1hsharma what you listing is from the past. I've always been using Intel based Macs. Again, this problem happened on exactly the day (and immediately right after) upgrading to MacOS Monterey. This is not an issue of not being able to install it. I can still install it, it just fails on a keras model fit() call when it never did before.

I can run something like:

[code]

And see my CPU and GPU

[2021-11-01 21:48] jvishnuvardhan commented on #25412
This is a stale issue. Since the issue opened, there were lot of improvements in the TF lite guides and tutorials that can be used to accomplish your task. The following is the link to the TF Lite Guides

https://www.tensorflow.org/lite/guide/

I am closing this issue. Feel free to open a new issue if there is any specific bug or performance issue related TF lite. Thanks!

[2021-11-01 21:48] #25412 closed

[2021-11-01 22:24] jvishnuvardhan commented on #39954
@ChiHangChen This is a stale issue.

Is this still an issue for you? Can you please check with recent TF versions as well as try Quantization aware training https://github.com/tensorflow/model-optimization and let us know whether the issue persists or not. Thanks!

[2021-11-01 23:03] MedAbdelkaderAbba opened #52905 "tf.repeat fails with jit_compile when repeats is a tensor!"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**:
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Plat

[2021-11-01 23:22] jvishnuvardhan commented on #40129
@aselva-eb Is this still an issue for you?

I ran your code and I can see the reduction in file size (4 times with OPTIMIZE_DEFAULT for size) and 2 x smaller with FLOAT16 TF_Lite model. [Here](https://colab.research.google.com/gist/jvishnuvardhan/d89b000adca26c3eb684e0376c84010e/untitled1100.ipynb) is a gist for a reference. Thanks!

There are other models (such as full integer model) described in

[2021-11-01 23:37] berlinsaint commented on #52894
i thinks it may not be the keras problem...

i have the same  symptom as the [issue-50853](https://github.com/tensorflow/tensorflow/issues/50853)

[2021-11-02 00:27] thaink commented on #40157
I mean tflite_runtime 2.6 or higher. There shouldn't be any additional step to run the the delegate.

[2021-11-02 00:27] berlinsaint commented on #50853
does this has a workaround？

[2021-11-02 00:28] thaink commented on #40157
@terryheo can you take a look at the recent question?

[2021-11-02 01:06] cheshire commented on #52277
We can seed the first calculation with the TF seed, let me see if there are any known blockers.

[2021-11-02 02:35] panpan123456 commented on #44224
Has this problem been solved？ I have the same problem

[2021-11-02 02:38] #52639 closed

[2021-11-02 02:39] rand42studios commented on #52639
Thanks! Issue resolved after update

[2021-11-02 04:38] Wuxinxiaoshifu commented on #44103
i don't think this sloved!
can you tell me how to solve tf.contrib,the update guide can't explain how to solve it

[2021-11-02 05:06] #52311 closed

[2021-11-02 05:06] #52540 closed

[2021-11-02 05:26] Wuxinxiaoshifu commented on #44103
i don't think this sloved!
can you tell me how to solve tf.contrib,the update guide can't explain how to solve it

[2021-11-02 06:04] tilakrayal commented on #52884
@MrinalTyagi ,
Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2021-11-02 06:04] sushreebarsa commented on #52894
@berlinsaint
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-11-02 06:09] tilakrayal commented on #52893
@lxsyz ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2021-11-02 06:10] Saduf2019 commented on #51571
@DachuanZhao
Please update the pr as requested for.

[2021-11-02 06:11] MrinalTyagi commented on #52884
Addition of a new attribute and a method that will be available to the objects of this class. If the user wants to use class weights in model training then this attribute can directly be used rather than relying on any other library like scikit learn or method to compute class weights. This will be very useful in case of class imbalanced dataset as it will fasten up the process of training a model

[2021-11-02 06:28] Saduf2019 commented on #52123
Moving this to closed status as per above comment

[2021-11-02 06:28] #52123 closed

[2021-11-02 06:32] sonogoto opened #52907 "tensor lost shape info after tf.math.unsorted_segment_*"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-11-02 06:50] sanatmpa1 commented on #52131
@alanpurple,

Glad that your problem is solved with admin privilege, infact I have also advised to run with admin privilege in this [comment](https://github.com/tensorflow/tensorflow/issues/52131#issuecomment-940185962) as it looked like a permission error.

Can you confirm if we are good to close this issue? Thanks!

[2021-11-02 06:54] sanatmpa1 commented on #52325
@jeisinge,

As I see a new issue has been raised in `Keras` repo and it is in progress, Can you close this issue here? Thanks!

[2021-11-02 07:01] lxsyz commented on #52893
@tilakrayal I'm sorry I can't upload entire code and model. I have uploaded test code and weights in this repo
[https://github.com/lxsyz/temp](https://github.com/lxsyz/temp)
just run `test.py`, and you will see the result is different.

[2021-11-02 07:03] sanatmpa1 commented on #52135
@RomanFoell,

As per this [comment](https://github.com/spyder-ide/spyder/issues/16561#issuecomment-947891068), It has been addded to milestone of spyder for 5.2.1 release. Can you close this issue for now and you can create a new one in future if you want to report any issues from TF end. Thanks!

[2021-11-02 07:06] sanatmpa1 commented on #52184
@Space-Fighter,

Can you try updating TF to latest stable version i.e 2.6.0 in your local machine as well? as 2.1.0 is an older version and there are many different problems fixed and features added in `2.6.0`

[2021-11-02 07:07] #52135 closed

[2021-11-02 07:23] nolanding commented on #40157
I'll try it and get back to you.

[2021-11-02 07:30] pgrantgit opened #52908 "WARNING : tensorflow:AutoGraph could not transform"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2021-11-02 07:35] sanatmpa1 commented on #52896
@qiq208,

As per the colab link provided, with CPU we get `InvalidArgumentError` and with GPU, it returns NaNs whereas in the issue description you have mentioned in the opposite way.

[2021-11-02 07:39] sanatmpa1 commented on #52896
I am able to reproduce the issue reported, in colab with both TF `2.6.0` and nightly `2.8.0-dev20211101`. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/3e3ef7ffc3c1fff14c57d2b112679d38/triangular_solve_cpu_gpu.ipynb)

[2021-11-02 07:56] SefaZeng commented on #32849
Any exact solutions? Meet the same issue for LSTM.

[2021-11-02 08:21] alanpurple commented on #52131
closing, but isn't this still a problem? ( since admin privilege wasn't needed before )

I mean, bazel's problem

[2021-11-02 08:21] #52131 closed

[2021-11-02 08:45] mohantym commented on #52883
Hi @Rakagami! Could you please post this issue here in[ tfjs ](https://github.com/tensorflow/tfjs)repository?

[2021-11-02 08:53] mohantym commented on #52845
Hi @sanatmpa1! Could you look at this issue?

[2021-11-02 08:55] mohantym commented on #52814
Hi @Saduf2019! Could you please look at this issue?

[2021-11-02 09:20] bhpatray commented on #52542
Hi,

I was able to create the shared library with the below changes in CMakeLists.txt present in tensorflow/lite folder.
But I was unable to use the generated shared library through CMake.
I was able to run tflite models using shared library generated through bazel but not CMake.

![diff1](https://user-images.githubusercontent.com/92724011/139819511-1b832fce-1068-4ba7-8dba-5f7d25d5e3ba.JPG)

![dif

[2021-11-02 10:37] panpan123456 commented on #34862
Has this problem been solved?I had met the same problem

[2021-11-02 10:46] mohantym commented on #52616
Hi @sachinprasadhs! Could you please take a look at this issue?

[2021-11-02 10:53] elfringham opened #52910 "Build broken by incorrectly dropped comma"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux RHEL 8.4
- Mobile device

[2021-11-02 10:56] xuChenSJTU commented on #52526
Hi, I have the same issue. Have you solved this? @sjtusmartboy

[2021-11-02 11:06] mohantym commented on #52854
Hi @sachinprasadhs! Could you please look at this issue! Attaching Gist in [2.5](https://colab.sandbox.google.com/gist/mohantym/a977debead828c24a0d72d7c6c0320d0/github_52854.ipynb#scrollTo=9bXl_OvYRhis),[2.6 ](https://colab.sandbox.google.com/gist/mohantym/f0a7d4dfb0db0cf0067a0b5d20bd0b76/github_52854.ipynb)and [nightly ](https://colab.sandbox.google.com/gist/mohantym/495ed934741467da97352bef5c09b

[2021-11-02 11:08] Saduf2019 commented on #44512
@DavidInWuhanChina
Is this still an issue

[2021-11-02 11:09] Saduf2019 commented on #44510
@JohnTaylor2000
Is this still an issue, could you please try on the latest tf version and let us know.

[2021-11-02 11:09] GPhilo commented on #52653
Working on this, I found the source of the issue: `converter.optimizations = [tf.lite.Optimize.DEFAULT]` does something to the graph that breaks the model for XNNPACK. Exporting the very same model without that line generates a model that is loaded correctly in the delegate.

[2021-11-02 11:15] mohantym commented on #52674
Hi @insung3511 ! Could you please try again by installing/upgrading numpy . Reference: [link1](https://discuss.codecademy.com/t/error-installing-numpy-on-m1-mac-using-terminal/580706/5),[link2](https://exerror.com/building-wheel-for-numpy-pyproject-toml/). Thanks!

[2021-11-02 11:20] sushreebarsa commented on #41063
@MevadaRavikumar Could you please let us know if this issue still persists ? Thanks!

[2021-11-02 11:23] Tessil commented on #52854
We looked a bit on our side and it seems the quantizer takes either the scaling/zero-point of one of the inputs or of one of the outputs when the operator has the `SameOperandsAndResultsScale` trait and override all the inputs and outputs scaling/zero-point with it.

Ideally I think it should calculate the common scaling/zero-point based on the union of all the inputs ranges and outputs ranges of

[2021-11-02 11:27] sushreebarsa commented on #40501
@leandro-gracia-gil Could you please let us know if this is still an issue ?Thanks!

[2021-11-02 11:31] sushreebarsa commented on #40503
@ArtanBerisha1 Could you please let us know if this is still an issue ?Thanks!

[2021-11-02 11:33] sushreebarsa commented on #40524
@victorromeo Could you please let us know if the issue still persists ? Thanks!

[2021-11-02 11:40] leandro-gracia-gil commented on #40501
@sushreebarsa Following the instructions provided in [this comment](https://github.com/tensorflow/tensorflow/issues/40501#issuecomment-669187477) it works fine. There's still the problem that it forces you to export all concrete functions that are ever traced instead of a signature subset of your choice, but at least there's a workaround for getting things working. I'll be closing this for now.

[2021-11-02 11:40] #40501 closed

[2021-11-02 11:40] sushreebarsa commented on #40838
Hi @alexmil2019 Could you please let us know if this is still an issue in latest stable TF v2.6.0 ?Thank you!

[2021-11-02 12:22] tilakrayal commented on #44435
@Aribido-Oluwaseun ,
Can you please take a look at above [comment](https://github.com/tensorflow/tensorflow/issues/44435#issuecomment-736742158) and also please try to check in latest stable version v2.6 and let us know if the issue still persists.Thanks

[2021-11-02 12:32] tilakrayal commented on #43941
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-11-02 12:42] tilakrayal commented on #43288
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-11-02 12:45] SimonCqk opened #52912 "[feature request & discuss] observe tensor execution efficiency by eBPF tracepoints."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

NONE

**Desc

[2021-11-02 12:55] sachinprasadhs commented on #52653
Hi, refer [this](https://www.tensorflow.org/lite/performance/post_training_quantization#dynamic_range_quantization) and let me know if this helps, Thanks!

[2021-11-02 13:08] sachinprasadhs commented on #52616
GPU delegate doesn't support dynamic shapes.
You need to specify the static size to use the GPU delegate or you can use the dynamic shape with CPU.
Please look into the responses in the issue [here](https://github.com/tensorflow/tensorflow/issues/38036) for more insights on this. Thanks!

[2021-11-02 13:14] sachinprasadhs commented on #52884
Hi, Thanks for this feature request, could you please open this feature request in [keras repo](https://github.com/keras-team/keras/issues) since `ImageDataGenerator` comes under tf.keras and we can track this separately there.

[2021-11-02 13:21] mohantym commented on #52905
Hi @sanatmpa1! Could you please look at this issue ? It's replicating in [2.5](https://colab.sandbox.google.com/gist/mohantym/ce936b3de46b2a1b4ca88a6abbaa94cd/github_52905.ipynb#scrollTo=PUBnLDhStk5G),[2.6](https://colab.sandbox.google.com/drive/1PKuqXyhgob9oFsK_phrguptAcJf1kGT6?resourcekey=0-rknXJyWPxX_dTBg3sXh8ow#scrollTo=PUBnLDhStk5G) and [nightly](https://colab.sandbox.google.com/gist/mohantym

[2021-11-02 13:25] MrinalTyagi commented on #52884
sure

[2021-11-02 13:28] sachinprasadhs commented on #52852
Since Tensorflow Life supports limited number of builtin operators, however you can still enable `tf.size` with the `select TF option`.
Refer [this](https://www.tensorflow.org/lite/guide/ops_select) documentation for more details. Thanks!

[2021-11-02 13:38] sachinprasadhs commented on #52885
As of now `Mish` is already available in [Tensorflow Addons](https://www.tensorflow.org/addons/api_docs/python/tfa/activations/mish), and you can still make use of the same for now.
Moving this to core could take some time and few factors like below.
`TensorFlow Addons is a repository of contributions that conform to well-established API patterns, but implement new functionality not available in c

[2021-11-02 13:52] mohantym commented on #52886
Hi @Nafees-060 !
This is not a bug or feature request, for any further queries you may open this issue in tf discussion [forum ](https://discuss.tensorflow.org/)as there is a larger community there.Thank you!

[2021-11-02 13:53] GPhilo commented on #52653
@sachinprasadhs It does not, as I already came to the conclusion that this is the source of the problem I show above. There is no mention on the linked page about XNNPACK (or it not supporting models with dynamic range quantization enabled), nor were the error messages produced during execution mentioning anything connected to quantization being the problem.

[2021-11-02 13:58] mohantym commented on #52768
Hi @KochankovID ! Sorry for the late response. Did you follow instructions from [here ](https://www.tensorflow.org/install/docker) ?You can check these threads to upgrade your setup tools.[link1](https://stackoverflow.com/questions/59469537/how-can-i-upgrade-pips-setup-tools),[link2 ](https://github.com/pypa/pip/issues/8395)and confirm the version using this command  `pip --version` . Thank you!

[2021-11-02 14:04] mohantym commented on #52892
Hi @Saduf2019 ! Could you please look into this issue ?

[2021-11-02 14:10] mohantym commented on #52910
Hi @elfringham! Thanks for the PR .This issue will be closed once PR[ #52911](https://github.com/tensorflow/tensorflow/pull/52911) is merged.

[2021-11-02 14:11] Saduf2019 commented on #44758
@Wang-Yu-Qing
Is this still an issue

[2021-11-02 14:12] Saduf2019 commented on #44806
@Tessil
Is this still an issue

[2021-11-02 14:13] Saduf2019 commented on #44856
@GustavoMSevero
Could you please let us know if this is still an issue in latest stable TF v2.6.0 ?Thank you!

[2021-11-02 14:14] Saduf2019 commented on #44819
@pranathibl
Could you please let us know if this is still an issue in latest stable TF v2.6.0 ?Thank you!

[2021-11-02 14:16] Saduf2019 commented on #44890
Could you please update as per above comment

[2021-11-02 14:16] KochankovID commented on #52768
I actually found out what my problem and hope it'll help others.

I use mac with m1 processor which has arm architecture. So, when I use Docker images (as Ubuntu or others) it downloads images compiled for aarch64 platform (kind of Linux for arm) because it's my host platform.

But looks like TensorFlow doesn't have aarch64 package on PyPi and doesn't support this platform.
And that's why I had su

[2021-11-02 14:17] mohantym commented on #52895
Hi @alenandry ! Could you check out these threads ? [link1](https://www.tensorflow.org/lite/guide/build_arm#cross-compilation_for_arm_with_bazel),[link2](https://stackoverflow.com/questions/33634525/tensorflow-on-32-bit-linux). Thanks!

[2021-11-02 14:17] Saduf2019 commented on #45044
@Harsh188
Could you please let us know if this is still an issue in latest stable TF v2.6.0 ?Thank you!

[2021-11-02 14:18] Tessil commented on #44806
Hi, yes `tf.keras.layers.Add` and `tf.math.add_n` still behave differently and can produce different quantized results.

[2021-11-02 14:20] Saduf2019 commented on #45073
@krworks
Could you please let us know if this is still an issue in latest stable TF v2.6.0 ?Thank you!

[2021-11-02 14:20] #52768 closed

[2021-11-02 14:21] Saduf2019 commented on #45155
@dibog
Is this still an issue,
Could you please let us know if this is still an issue in latest stable TF v2.6.0 ?Thank you!

[2021-11-02 14:21] Saduf2019 commented on #45173
@KirillAI
Could you please let us know if this is still an issue in latest stable TF v2.6.0 ?Thank you!

[2021-11-02 14:22] Saduf2019 commented on #45184
@SmileTM
Could you please let us know if this is still an issue in latest stable TF v2.6.0 ?Thank you!

[2021-11-02 14:28] robert-hardwick opened #52914 "NNAPI on Kirin 980 NPU. Model won't run on NPU, libc : Access denied finding property "ro.hardware.chipname""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 11.0
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Huawei P30 Pro
- TensorFlow installed from (source or binary):  android_aarch64_benchmark_tool
- TensorFlow version (us

[2021-11-02 14:32] ashissahu commented on #45628
MSE: 1544.323, RMSE: 39.298, MAE: 37.612

I am getting these forMLP regression.This is njot matching . Can someone help me with the correct ones ?

[2021-11-02 14:34] ArtanBerisha1 commented on #40503
Hi @sushreebarsa ,
I didn't replace the .tflite so I guess this is still an issue, if there is newer .tflite model let me know so I can give it a try and test it.

Thank you!

[2021-11-02 14:38] mohantym commented on #51588
@wangwei-cmd ! Can this issue be closed then?

[2021-11-02 15:06] #25378 closed

[2021-11-02 15:32] #42347 closed

[2021-11-02 15:46] berlinsaint commented on #52894
i dont know how to reproduce it，it's strange!  Just in distributed training . And it has nearlt the same stack as

[2021-11-02 15:54] Rakagami commented on #52883
The behavior changed a bit since the dependency was changed. `pip install tensorflowjs[wizard]` now installs `tensorflow-estimator` 2.6.0 on default. `tensorflowjs_wizard` still throws an error which I documented in [this new issue](https://github.com/tensorflow/tfjs/issues/5805) in the tfjs repository. I think this issue can be closed here.

[2021-11-02 15:54] #52883 closed

[2021-11-02 16:15] jeisinge commented on #52325
Sure --- if that is the best place for the defect!

[2021-11-02 16:15] #52325 closed

[2021-11-02 16:16] Saduf2019 commented on #45256
@EliZucker
Could you please let us know if this is still an issue in latest stable TF v2.6.0 ?Thank you!

[2021-11-02 16:18] Saduf2019 commented on #45302
@wwdok
Please update as per above comment.

[2021-11-02 16:18] Saduf2019 commented on #45346
@ddavis-2015 Could you please let us know if this is still an issue in latest stable TF v2.6.0 ?Thank you!

[2021-11-02 16:54] LordFenny opened #52915 "Installing tensorflow in python"
<em>hi, i'm trying to install tensorflow for python but i get two errors installing it, and i google but every solution dosn't work</em>

### **CODE**
`pip3 install tensorflow`

output:
[code]

### **2° TRIAL**
`pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.2.0-py2-none-any.whl`

output
[code]

**_IT DOESN'T WORK_**
what shall i do??

[2021-11-02 17:00] sanatmpa1 commented on #52905
@MedAbdelkaderAbba,

Can you take a look at this [documentation](https://www.tensorflow.org/xla#explicit_compilation_with_tffunctionjit_compiletrue) which says,

As per the error trace, it says that `No registered 'Where' OpKernel for XLA_CPU_JIT devices compatible with node` and since you have an unsupported operation, `InvalidArgumentError` is thrown which is expected. Can you try using auto-clu

[2021-11-02 17:01] LordFenny commented on #52915
just wanted to say that on the other computer it works, but on this one not

_can i transfer it somehow_ ?

[2021-11-02 17:15] carlthome commented on #42387
@scchess are you sure about that? I thought it was only GPU support that got removed but that CPU support should still work on macOS. There are still wheels published for Mac on PyPI anyway: https://pypi.org/project/tensorflow/#files

[2021-11-02 17:27] JustinWickMS opened #52916 "Missing libtensorflow builds for 2.6.1, 2.5.2 and 2.4.4"
There don't appear to be prebuilt binaries for libtensorflow (https://www.tensorflow.org/install/lang_c) for 2.6.1, 2.5.2 and 2.4.4.

These binaries exist for earlier point releases for those minor versions on https://storage.googleapis.com/tensorflow/libtensorflow/, but none exist for the above point releases.

https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64

[2021-11-02 17:31] tariqMH22 opened #52917 "TensorFlow"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-11-02 18:05] wangpengmit commented on #52277
For RNG in general, `tf.random.stateless_*` and `tf.random.Generator` are recommended over `tf.random.shuffle` and alike. Please see https://www.tensorflow.org/guide/random_numbers . We don't have `stateless_shuffle` or `Generator.shuffle` yet. We are working on adding the former.

[2021-11-02 18:11] Saduf2019 commented on #52897
@Mohammedirfan25
Can you please run below code and share the output [also please share text in place of screenshots next time which will help ither users as well]

import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

Please refer to this [comment](https://github.com/tensorflow/tensorflow/issues/47245#issuecomment-786245812), and similar issues :[link]

[2021-11-02 19:00] DEKHTIARJonathan commented on #52910
Thanks, this indeed fix the issue

[2021-11-02 19:06] #52562 closed

[2021-11-02 19:08] MedAbdelkaderAbba commented on #52905
@sanatmpa1,
I am not sure I understand the auto-clustering part. I tried to set the following options in the code but nothing changed:
[code]
Also, my concern is that the above code workd fine when the argument ''repeats" was a list
[code]
this behavior is counter intuitive.

[2021-11-02 21:27] vazkir commented on #52845
I am taking a class where we use tensorflow inside docker containers and everybody with an M1 mac in that class had this exact same issue including me. Unfortunately nobody has found a fixso I am going to subsribe to this issue as well, I hope there exist some kind of workarround/solution!

[2021-11-02 22:21] sachinprasadhs commented on #50881
For each batch during training, Keras will compute this metric and keep track of its mean since the beginning of the epoch. This is exactly what you are trying to calculate manually.
But this is not the case always.Instead of batch wise accuracy or it keeps track of the all True positives and False positives and returns the overall precision, which is called `streaming metric `or `stateful metric`

[2021-11-02 22:34] rthadur commented on #52321
The related PR has been merged , closing this issue.Thank you

[2021-11-02 22:34] #52321 closed

[2021-11-02 22:39] sachinprasadhs commented on #52726
Did you try and follow the steps mentioned in the link here https://www.tensorflow.org/install/lang_c#macos

[2021-11-02 22:59] sachinprasadhs commented on #52653
If your issue is resolved by removing` converter.optimizations = [tf.lite.Optimize.DEFAULT] `, could you please close this issue. Thanks

[2021-11-02 23:10] sachinprasadhs commented on #52537
You can use [tf.data.experimental.sample_from_datasets](https://www.tensorflow.org/api_docs/python/tf/data/experimental/sample_from_datasets) and set seed in the parameter to get the consistent behavior.

[2021-11-03 02:07] zjmwqx commented on #15028
have you solved this problem? I am trying to algin the ctc decoded output to the raw timeline, can you help me?

[2021-11-03 02:08] sushreebarsa commented on #52917
@tariqMH22
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-11-03 03:06] #40992 closed

[2021-11-03 03:06] #40900 closed

[2021-11-03 03:06] #36800 closed

[2021-11-03 04:20] mohantym commented on #52915
Hi @LordFenny !
Could you please the [template](https://github.com/tensorflow/tensorflow/issues/new/choose) too as it helps us analyse the issue. Thanks!

[2021-11-03 04:22] JapinderSandhu commented on #34196
how do you output a ragged tensor from your dense layer with Keras Tensorflow?

ex. my last layer is:

 model.add(TimeDistributed(Dense(2, activation='sigmoid')))

how do i specify this layer to output ragged?

[2021-11-03 04:33] tilakrayal commented on #52912
@SimonCqk ,
Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2021-11-03 05:16] tilakrayal commented on #52309
@alanpurple ,
Can you please share a reproducible code that supports your statement so that the issue can be easily understood? Thanks!

[2021-11-03 05:23] tilakrayal commented on #52893
@lxsyz ,
I was able to execute the code without any issues.Please find the metrics in gist [here](https://colab.research.google.com/gist/tilakrayal/e2b4e12e4815f9b3a89ccbc057b45e07/52893.ipynb).I was not able to find the mentioned issue(0.28822073) in v2.6.Requesting to test your code in latest tf v2.6.Thanks

[2021-11-03 05:34] shkarupa-alex commented on #34196
Dense layers don't support ragged tensors.
So, i wrote a small wrapper
[code]

Use it like so:
[code]

[2021-11-03 05:40] sanatmpa1 commented on #48223
I tried reproducing the issue in `2.6.0` and in nightly i.e `2.8.0-dev20211102`, the results are still similar to the one reported in the issue. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/3231a6791ba0dee202ba0e7645a580a8/untitled583.ipynb). Thanks!

[2021-11-03 05:43] sanatmpa1 commented on #48156
@napoleonwar,

Can you take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/48156#issuecomment-858452541) by @NatakuG, and let us know if it helps in resolving your issue? Thanks!

[2021-11-03 05:52] sanatmpa1 commented on #48126
@Zakria96,

Can you take a look at this [similar issue](https://github.com/tensorflow/tensorflow/issues/37401) for tflite conversion of `FasterRCNN` and also take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/34845#issuecomment-573156336) to modify `pipeline.config`. Let us know if it helps. Thanks!

[2021-11-03 05:58] sanatmpa1 commented on #48041
@scarrazza,

As per this [comment](https://github.com/tensorflow/tensorflow/issues/48041#issuecomment-845419240), you have mentioned that its not reproducible with `2.5.0`.  We recommend that you can try with latest stable version i.e `2.6.0` along with CUDA 11.2 and other configurations as per this [link](https://www.tensorflow.org/install/source#gpu) and let us know if the issue persists. Thanks

[2021-11-03 06:02] sanatmpa1 commented on #48044
@anywhere133,

Can you take a look at the above comment by @impjdi and let us know if it helps in resolving your issue? Thanks!

[2021-11-03 06:06] #52381 closed

[2021-11-03 06:14] kumariko commented on #34171
Could you please let us know if this issue still persists ? If it it resolved then please feel free to move this issue to close status ? please check **[link](https://www.tensorflow.org/api_docs/python/tf/keras/experimental/PeepholeLSTMCell)** . Thanks!

[2021-11-03 06:16] sanatmpa1 commented on #48007
@FSet89,

We are checking to see if this is still an issue, Can you check if this problem still persists with latest stable version of TF i.e `2.6.0`? Thanks!

[2021-11-03 06:19] sanatmpa1 commented on #47904
@saw999,

Can you take a look at the above comment by @lu-wang-g and let us know if it helps in resolving your issue? Thanks!

[2021-11-03 06:48] Maratyszcza commented on #52653
@GPhilo: this was fixed in 29d64ea02d00ac97a05d4aa6cd373e78fde3bc74

[2021-11-03 06:50] kumariko commented on #34064
Could you please let us know if this issue still persists ? If it is resolved then please feel free to move this issue to close status ? please refer [link](https://stackoverflow.com/questions/19477348/opencl-opengl-interop-dimensions-of-a-renderbuffer-in-relation-to-workgroup-size), [link](https://stackoverflow.com/questions/11466162/work-group-sizes) . Thanks!

[2021-11-03 07:07] zhaozheng09 commented on #52645
When the cache reaches a certain amount, should we tell the user that XLA caches a lot of data?

[2021-11-03 07:19] zhaozheng09 commented on #52645
1. Should we replace flat_map with LRUCache ?
2. If user misuse leads to OOM, is there a log to remind them of this in time ?

[2021-11-03 07:49] sushreebarsa commented on #52894
@berlinsaint Without the reproducible code it is difficult for us to replicate the issue from our end. Could you please open this issue in [TF discussion forum](https://discuss.tensorflow.org/) as there is a larger community there.Thank you!

[2021-11-03 08:04] Zakria96 commented on #34845
Is your model converted to tflite successfully ?

[2021-11-03 08:05] sushreebarsa commented on #40298
@sumeshpandit Could you please let us know if this is still an issue ? Thank you!

[2021-11-03 08:07] sushreebarsa commented on #40356
@stefano555 Could you please let us know if this is still an issue in TF v2.6.0 ? Thanks!

[2021-11-03 08:11] sushreebarsa commented on #40370
@elpapi42 Could you please let us know if this is still an issue ?Thanks!

[2021-11-03 08:15] sushreebarsa commented on #40375
@luyuan2015
Could you please let us know if it is still an issue in TF v2.6.0 ? Thank you!

[2021-11-03 08:17] daeing commented on #40044
I meet the same problem, when my h5 model trans to tflite, I use tflite to do inference, but conv2d with groups failed. Does this issue have any progress?

[2021-11-03 08:37] kumariko commented on #31611
@MasterGG Could you please let us know if this issue still persists ? If it is resolved then please feel free to move this issue to close status ? refer [link](https://stackoverflow.com/questions/54830869/understanding-tf-contrib-lite-tfliteconverter-quantization-parameters) . Thanks!

[2021-11-03 08:44] Brentbin commented on #39588
It's work for me

[2021-11-03 09:13] elfringham commented on #52910
The pending PR was ignored and the fix applied directly by @tensorflower-gardener  https://github.com/tensorflow/tensorflow/commit/ad8a18eaab4bf0b6e18272c9e54d8818e5875ac0

[2021-11-03 09:13] #52910 closed

[2021-11-03 09:26] raphscho commented on #36833
I encountered the same error message using Tensorflow 2.5.1. Unlike the provided code snippet I'm using TF-Estimators as a wrapper around a Keras model.

Has anyone solved the problem?

[2021-11-03 09:53] Toon34 commented on #52726
Hello !
Yes of course, same problem.

[2021-11-03 10:06] #52571 closed

[2021-11-03 11:02] mohantym commented on #40784
Hi @TheMindVirus!
We are checking to see whether you still need help in this issue . Have you checked this [thread](https://towardsdatascience.com/getting-started-with-nvidia-jetson-nano-and-installing-tensorflow-gpu-ad4a3da8ed26) yet? Thanks!

[2021-11-03 12:06] #52376 closed

[2021-11-03 12:06] #29267 closed

[2021-11-03 12:36] bineethk commented on #24187
Can you explain how you solved your issue, please?

[2021-11-03 13:05] GustavoMSevero commented on #44856
Sorry @Saduf2019, have been a long time I don't use it and don't remember what project is this kkkkkk But I remember I have this issue.
Thank you for your attention.

[2021-11-03 13:06] #36956 closed

[2021-11-03 13:06] #42323 closed

[2021-11-03 13:22] TheMindVirus commented on #40784
A few 404 Errors while building from source with bazel and CUDA support:
https://storage.googleapis.com/mirror.tensorflow.org/github.com/llvm/llvm-project/archive/bcad20bc6591c8b503923402038c735a77373f99.tar.gz
http://mirror.tensorflow.org/github.com/tensorflow/runtime/archive/03b3c4c9baa9b99b2073a4f342b810e8843e43c2.tar.gz
https://storage.googleapis.com/mirror.tensorflow.org/github.com/NVIDIA/cud

[2021-11-03 13:33] pedromtelho opened #52920 "Bazel build tensorflow error - C++ compilation of rule"
**System information**
- OS Platform and Distribution: Debian buster Raspbian 10
- TensorFlow installed from source
- TensorFlow version: 2.6.0
- Python version: 3.7.3
- Bazel version: 3.7.2
- GCC/Compiler version: 8.3.0
- CUDA/cuDNN version: No CUDA
- GPU model and memory: No GPU

I am trying to build tensorflow using bazel (3.7.2). But when I run:
`bazel build //tensorflow/tools/pip_package:buil

[2021-11-03 13:40] GPhilo commented on #52653
@sachinprasadhs no, the issue *is* the undocumented side effects of applying the optimisation to a model.
I found out myself that "don't apply the default optimisations" prevents the error from happening. Unfortunately, it also increases the model size massively (around 4x, since the weights are not quantises anymore).

So, again, the issue that needs addressing is either an undocumented incompati

[2021-11-03 13:42] sanatmpa1 commented on #47522
@Cnotey,

Can you update your tensorflow to latest stable version i.e `2.6.0` and let us know if the issue still persists? Thanks!

[2021-11-03 13:47] sanatmpa1 commented on #47334
@kavyaprasad22,

As @Arjun-NA has pointed out that the issue is solved and also its not from TF end, Can you confirm if we are good to close this issue? Thanks!

[2021-11-03 14:01] sanatmpa1 commented on #46847
@Paryavi,

Can you confirm if the above link provided by @vikramdattu helps in resolving this issue? Thanks!

[2021-11-03 14:06] #41544 closed

[2021-11-03 14:22] ck-intel commented on #29907
@linyuhui I am facing similar issue on windows. Were you able to solve the issue?
For my work I have build Tensorflow from source, and I have added missing protobuf symbols in def_file_filter.py.tpl file, to resolve the protobuf related linking errors.

[2021-11-03 15:04] mihaimaruseac commented on #52916
Unfortunately automation for these releases has been broken and we had to do it manually. Will release these artifacts and publish them soon. Apologies for the delay

[2021-11-03 15:06] #42841 closed

[2021-11-03 15:06] #43955 closed

[2021-11-03 15:13] Luux commented on #47554
@google-ml-butler This issue should not be stalled...

[2021-11-03 15:28] sachinprasadhs commented on #52726
Could you please raise this issue in the dedicated Apple developer forum https://developer.apple.com/forums/

[2021-11-03 15:39] rthadur commented on #20817
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-11-03 15:39] #20817 closed

[2021-11-03 15:43] farzanehnakhaee70 opened #52921 "ValueError: input resource[0] expected type resource != float, the type of embeddings_sharded_0[0]"
Hi,
I'm going to optimize my model and convert it to FP16. When using trt_conver, this error raises:
[code]

[2021-11-03 16:06] #29646 closed

[2021-11-03 16:19] sushreebarsa commented on #52921
@farzanehnakhaee70
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-11-03 16:21] sachinprasadhs commented on #52908
You could silence the warning by decorating with  the function `@tf.autograph.experimental.do_not_convert`

[2021-11-03 16:31] MalcolmMielle commented on #52537
This [gist](https://colab.research.google.com/gist/MalcolmMielle/ca49d1687fdc608f6243ed73d6e507fd/untitled92.ipynb) still crashes on the assert. Is that what you meant?

[2021-11-03 16:55] guillaumekln opened #52922 "TensorFlow 2.6 installs Keras 2.7"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: 2.6.1
- Python version: 3.6.9
- Installed using virtualenv? pip? conda?: virtualenv + pip

**Describe the problem**

TensorFlow 2.6 installs Keras 2.7, but it should install Keras 2.6 instead.

**Provide the exact sequence of commands / steps that you executed before runnin

[2021-11-03 16:55] TheMindVirus commented on #40784
The build has failed with more 404 Errors and some Internal Compiler Errors.
There are even more possible combinations than are shown in the documentation you linked, many projects look like version hell at the moment.
![Screenshot from 2021-11-03 16-51-16](https://user-images.githubusercontent.com/8195854/140107898-3e0595c9-7696-4d7b-a6e3-35337464f9c0.png)

[2021-11-03 17:04] brandon-wu76 opened #52923 "Restoring a model with frozen TimeDistributed layers onto an unfrozen model does not work"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 21H1
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v2.6.0-0-g919f693420e 2.6.0
- Python version: 3.7.12
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A

[2021-11-03 17:06] #40359 closed

[2021-11-03 17:06] #34189 closed

[2021-11-03 17:06] #52055 closed

[2021-11-03 18:06] #27626 closed

[2021-11-03 18:13] tusneemA commented on #52705
I did install Tensorflow 2.6 and I got the following error:

 ValueError: Shapes (None, None, None, None) and (None, 3) are incompatible

also I was not able to install any version of Spyder therfore, I run it Jupyter

On Sun, Oct 31, 2021 at 8:38 AM tilakrayal ***@***.***> wrote:

[2021-11-03 18:38] Saduf2019 commented on #44856
@GustavoMSevero
In that case would you want to move this to closed status, and open an issue when your face the issue.

[2021-11-03 19:14] Saduf2019 commented on #52672
@par1hsharma
Please refer tot he above comments and let us know if this is still an issue.

[2021-11-03 19:27] JapinderSandhu commented on #34196
Thank you so much for creating this code example for me ! I really appreciate it.

Unfortunately it did not run, WithRagged is undefined in this example, did you mean to use MapFlat instead like this?

model.add(MapFlat(Dense(2, activation='sigmoid')))

if my model requires the use of TimeDistributed layer would this still work with a RaggedTensor?

[code]
I tried to run this model but got the fol

[2021-11-03 19:29] sachinprasadhs commented on #52537
Sorry my bad, above reference was for multiple dataset, for checking if both the iter items are same, you can convert the tensor to numpy and test with .all().
Here is the [gist](https://colab.research.google.com/gist/sachinprasadhs/8655f7bcd83c9591eff0d73b5a9122be/untitled92.ipynb) for reference.

[2021-11-03 20:01] jvishnuvardhan commented on #52795
@YingYuChen97 What was difference between old code (that was working) and new code? Was there any change in `mixed_precision` Policy? Was there any difference in the inputs and their sizes? Can you share the error log? Thanks!

[2021-11-03 21:00] bhayden53 commented on #52922
Don't know if it's related but I'm seeing things like this in my own pip installation logs:

[code]

I've noticed that `keras~=2.6` is also resolving to 2.7

Are these other dependencies being install incorrectly as well?

[2021-11-03 22:37] nneubert opened #52933 "Failing to Quantize for Edge TPU. Requires tf.float32 type for conversion but tf.uint8 for Edge"
I am attempting to quantize a model post creation for use on a coral product. This requires me to quantize the model, unfortunately quantization throws a significant error. Below is the architecture of my model and associated Colab notebook showing the error. In short, the model successfully converts to a tflite when I allow the input and output to be tf.float32, which renders a TPU useless, but w

[2021-11-03 22:47] nneubert commented on #52933
https://drive.google.com/drive/folders/1Edy4ARMLZOIDuS_3Is4u_bXf6Paa3M97?usp=sharing

This is a link to the data I used.

[2021-11-03 22:48] gagolucasm commented on #33104
Same as @e-dzia, on CPU the results were identical, but on GPU there were huge variations (3rd digit).

[2021-11-03 23:06] nneubert commented on #52933
Update: My model successfully compiles on tensorflow version 2.2.0 but I have to remove the PreReLU activation function.
https://colab.research.google.com/drive/1jR1nRQ1PK2nxUaQFHvYQPVJjs5cki5dI?usp=sharing

[2021-11-03 23:15] mihaimaruseac commented on #52916
I think all should be uploaded now. Please let us know if something is missing.

Thank you!

[2021-11-03 23:47] sachinprasadhs commented on #52520
Since in the document https://www.tensorflow.org/guide/intro_to_graphs#seeing_the_speed-up, it is the comparison between eager and `tf.function`, if you use numpy() it will throw error, since `numpy()` is not supposed to be used in the graph mode or inside tf.function.

[2021-11-04 00:06] JustinWickMS commented on #52916
I've confirmed the availability of linux x86_64, presumably you've got the rest. My teams and I appreciate the quick turnaround time on this!

I'd say you can close the ticket now.

[2021-11-04 00:06] #44547 closed

[2021-11-04 00:08] bolau commented on #51592
I have the same problem: even on a clean system this even more minimized code fails with exactly the error message posted above:
[code]

I have the same error on my Mac with miniconda. This occurs with TF 2.6.1 and 2.6.0, but not with 2.5.2.

[2021-11-04 00:08] sachinprasadhs commented on #52360
The warning indicates that the Variables mentioned in the warning are not part of calculating gradient, you can ignore the warning if you want it that way or you need to define a layer based on the base class instead of Lambda.

[2021-11-04 00:31] DEKHTIARJonathan opened #52934 "[TF-TRT] - TRTEngineOP do not show output shape"
TRTEngineOP node attribute `_output_shapes` returns an empty list. We need to fix that.

@bixia1 @tfeher  FYI

[2021-11-04 00:50] sachinprasadhs commented on #52933
PReLU has some limitations on edge TPU.
`Alpha must be 1-dimensional (only the innermost dimension can be >1 size). If using Keras PReLU with 4D input (batch, height, width, channels), then shared_axes must be [1,2] so each filter has only one set of parameters.`
Instead you can use RELU which doesn't have any limitations on edge TPU.
For all the limitations, refer [this](https://coral.ai/docs/edg

[2021-11-04 00:53] MalcolmMielle commented on #52537
This seems like the perfect solution for datasets like MNIST where each input is distinct. Thanks for the gist!
However, for other dataset where multiple samples can be identical, that method can return `True` for two similar samples, right?

Thanks for taking the time to answer on this thread. I really appreciate the help!

[2021-11-04 01:03] sachinprasadhs commented on #52922
The above linked PR is merged, now you should be able to see the compatible versions, please check [this](https://colab.research.google.com/gist/sachinprasadhs/3e16aa2c6b60c12bb3902957e9175b9d/52922.ipynb) gist for reference which is working as expected.Thanks.

[2021-11-04 01:09] sachinprasadhs commented on #52916
Closing this,, since the issue was resolved. Thanks.

[2021-11-04 01:09] #52916 closed

[2021-11-04 01:21] sachinprasadhs commented on #52915
Could you please open this issue in https://developer.apple.com/forums/. Thanks

[2021-11-04 01:37] mcskinner commented on #51592
This also just happened for me.

[This Stack Overflow answer](https://stackoverflow.com/a/69830680/13283808) was the key for me.

I checked with `pip freeze` and found that I had a mismatch with `tensorflow==2.6.1` but `keras==2.7.0`. Funny, because it was a fresh environment with only `tensorflow-hub` installed prior (besides `srsly`, a small I/O utility library). Perhaps TFHub brought in the bad

[2021-11-04 01:45] bolau commented on #51592
Thanks for the reply. Yes, downgrading to Keras 2.6.0 does the trick.

[2021-11-04 02:12] mohantym commented on #47399
Hi @Sehaba95!
We are checking to see whether you still need help in this issue .Supported Micro controllers for Tensorflow can be found [here](https://www.tensorflow.org/lite/microcontrollers). You can refer this[ link](https://github.com/milinddeore/TfLite-Standalone-build-Linux-MacOS) for building TFLite in macos .Thanks!

[2021-11-04 02:21] mohantym commented on #45692
Hi @ParadoxShmaradox ! We are checking to see whether you still need help in this issue .Supported Micro controllers for Tensorflow can be found [here](https://www.tensorflow.org/lite/microcontrollers). You can refer these threads for installing TFLite in Rasberry pi. [link1](https://github.com/EdjeElectronics/TensorFlow-Lite-Object-Detection-on-Android-and-Raspberry-Pi/blob/master/Raspberry_Pi_Gu

[2021-11-04 02:47] bhack commented on #52922
@sachinprasadhs Your notebook is wrong as a Colab instance have a preinstalled env with Tensorflow and Keras that was prepared before Keras TF 2.7 was available so you cannot test in this way.

You need something like:
[code]
or on a local instance:

[code]

[2021-11-04 03:02] bhack commented on #52922
This is also against the official claimed Keras-TF versions compatibilities at:

https://github.com/keras-team/keras#release-and-compatibility

[2021-11-04 03:06] #52603 closed

[2021-11-04 03:09] mihaimaruseac commented on #52922
This would be fixed in ~12 hours by a release of TF 2.6.2 patch release and TF 2.7.0 release.

The issue is a bug in TF 2.6 where we specified Keras dependency as `~= 2.6` instead of `~= 2.6.0`. The `~=` semantic is "take the version on the right, keep all the numbers specified there except the last one, that's the only one that can chance". So `~= 2.6` means that `keras == 2.99` would also be via

[2021-11-04 03:13] bhack commented on #52922
Yes exaclty as they claim:

[2021-11-04 04:35] jubaer-ad commented on #51592
It helped. Thanks.

[2021-11-04 05:04] rthadur commented on #40560
This DataType is depreciated , please check the latest docs https://www.tensorflow.org/api_docs/java/org/tensorflow/DataType . Thank you

[2021-11-04 05:04] #40560 closed

[2021-11-04 05:29] wangwei-cmd commented on #51588
Yeah, the problem is solved. please close it.

[2021-11-04 06:06] #40999 closed

[2021-11-04 06:06] #22007 closed

[2021-11-04 06:25] whalefa1I opened #52935 "TFlite model always have fixed dimensions output"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):all the platform:(win10 ubuntu android)
- TensorFlow installed from (source or binary):(colab default)
- TensorFlow version:2.6.0(colab default)

I try to add some postprocess layers after [a Keras model](https://drive.google.com/file/d/1yKLW5F7-6x9ylH65MgVxH5N5oQJgK8wq/view?usp=sharing) which can detect faces in an i

[2021-11-04 07:11] mohantym commented on #41938
Hi @battuzz!
We are checking to see whether you still need help in this issue . Please create a new issue if the issue is replicating in Latest version TF 2.6 . Thanks!

[2021-11-04 07:15] mohantym commented on #41457
Hi @scarrazza!
We are checking to see whether you still need help in this issue . Have you tried this [thread ](https://developer.apple.com/metal/tensorflow-plugin/)for Tensorflow installation in Mac OS yet? . Thanks!

[2021-11-04 07:23] mohantym commented on #51588
Ok @wangwei-cmd ! Thanks for confirming the same. Closing this issue as it seems to resolved.

[2021-11-04 07:23] #51588 closed

[2021-11-04 08:06] #23692 closed

[2021-11-04 08:06] #26727 closed

[2021-11-04 08:12] WangTuoxyty commented on #51592
it worked, thank you!

[2021-11-04 08:30] KinWaiCheuk commented on #40439
Hi, I also need to use tensorflow 1.12 to rerun one project that our group did few years ago. When using the latest version of TensorFlow, the result we get is different from what we reported before. Therefore, we would like to install tensorflow 1.12 to do debugging.

[2021-11-04 08:41] ZanZong commented on #41584
Update, according to this [issue](https://github.com/tensorflow/tensorflow/issues/41061#issuecomment-662222308), I workaround the error in tf-1.15.2 by modifying the code in _tensorflow/python/lib/core/bfloat16.cc_ from
[code]
to
[code]

[2021-11-04 09:06] #27744 closed

[2021-11-04 09:06] #41320 closed

[2021-11-04 09:06] #31885 closed

[2021-11-04 09:06] #30212 closed

[2021-11-04 09:06] #52604 closed

[2021-11-04 09:21] michalderdak commented on #43263
@chunduriv I've replicated the issue with `TF2.6` and `tf-nightly`. Furthermore, I have added examples without our custom loss function to have as little custom code as possible.

see the notebooks here:
https://colab.research.google.com/drive/1FW2cVAGSL5aWuFBbDcLNbwvtseOaOYO2?usp=sharing
https://colab.research.google.com/drive/1YNKSG21CQf3Q6mQFzrLKNO6FzB7Z6j2T?usp=sharing

[2021-11-04 09:59] 161019733305 opened #52936 "@mihaimaruseac I'm working in colab and changed `tf.gfile.GFile` to `tf.io.gfile.GFile` but still get this error"
@mihaimaruseac I'm working in colab and  changed `tf.gfile.GFile` to `tf.io.gfile.GFile` but still get this error
`AttributeError: module 'tensorflow' has no attribute 'gfile'
`

_Originally posted by @mitramir55 in https://github.com/tensorflow/tensorflow/issues/31315#issuecomment-643277101_

[2021-11-04 09:59] xingfeT commented on #25323
thanks, it's work

[2021-11-04 10:00] 161019733305 commented on #52936
I'm also getting the same ..how to figure it out?

[2021-11-04 10:06] #13869 closed

[2021-11-04 10:06] #16187 closed

[2021-11-04 10:06] #21991 closed

[2021-11-04 10:06] #21647 closed

[2021-11-04 10:18] a906247390 commented on #52754
Your reply is very helpful to me. I have newly configured Anaconda virtual environment to solve this problem

[2021-11-04 10:19] #52754 closed

[2021-11-04 11:06] #45059 closed

[2021-11-04 11:06] #45033 closed

[2021-11-04 11:33] Saduf2019 commented on #52936
@161019733305
I tried https://www.tensorflow.org/io/tutorials/avro tutorial which shows tf.io.gfile.GFile usage example. I didn't see AttributeError raised. [also please fill in the issue template and share the tf version and verify the system requirements for compatibility issues]

schema = tf.io.gfile.GFile('train.avsc').read()

Perhaps you can confirm at your end. [please find the [gist](https:

[2021-11-04 11:53] frgfm opened #52937 "tf.keras import raises an AlreadyExistsError with keras 2.7"
Hello there :wave:

I encountered a CI problem with a build job today that wasn't happening yesterday. So I checked the difference in terms of dependency and the only difference was keras. So I inspected the traceback and ended up tracking the import from keras that causes trouble. I already reported this to the keras team in https://github.com/keras-team/keras/issues/15585 but I figured it might

[2021-11-04 11:56] fernandonieuwveldt commented on #51592
Awesome. Thanks!

[2021-11-04 11:59] zhaozheng09 opened #52938 "session config conflict with server_def_"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-11-04 12:06] #49769 closed

[2021-11-04 12:06] #49263 closed

[2021-11-04 12:06] #45020 closed

[2021-11-04 12:06] #44974 closed

[2021-11-04 12:06] #44944 closed

[2021-11-04 12:06] #44800 closed

[2021-11-04 12:52] bleedingfight commented on #52130
solved it!

[2021-11-04 13:06] #24409 closed

[2021-11-04 13:39] esghif commented on #51354
Hi *, I tried it out again with tf 2.6 and 2.8.0-dev20211104. Both led to OOM as previously. @jvishnuvardhan when b=1000 is the small problem that worked previously also. For b=10000 it still leads to OOM.

[2021-11-04 13:42] mohantym commented on #41792
Hi @w4nderlust ! I was able to resolve the issue in TF 2.6 , Attaching [Gist ](https://colab.research.google.com/gist/mohantym/c542c973ace96823d4b1b6b9ed38168e/untitled110.ipynb#scrollTo=ajw7CVUpID6n)for reference.
[Reference.](https://stackoverflow.com/questions/57144586/tensorflow-gradienttape-gradients-does-not-exist-for-variables-intermittently)

[2021-11-04 13:52] GustavoMSevero commented on #44856
Sorry @Saduf2019

[2021-11-04 13:52] #44856 closed

[2021-11-04 14:00] rsuriano commented on #52630
Could you find a solution? I'm having the same problem, can't use the _quantize_model_ function. This is my code:

`number_of_classes = 10

inputs = tf.keras.Input(shape=(51))
embedding = landmarks_to_embedding(inputs)

layer = keras.layers.Dense(128, activation="relu")(embedding)
layer = keras.layers.Dropout(0.5)(layer)
layer = keras.layers.Dense(64, activation="relu")(layer)
outputs = keras.laye

[2021-11-04 14:06] #44254 closed

[2021-11-04 14:06] #44508 closed

[2021-11-04 14:27] FHof opened #52941 "tf.keras.backend.set_floatx does not change the default dtype in tensor initialisation"
I would like to change the default float precision for initialising tensors and found the [tf.keras.backend.set_floatx](https://www.tensorflow.org/api_docs/python/tf/keras/backend/set_floatx) function in the documentation.
When I use this function, `tf.keras.backend.floatx()` shows the configured float type but unexpectedly this type does not affect the type of created tensors:
[code]
The command

[2021-11-04 14:37] bhayden53 commented on #52937
see https://github.com/tensorflow/tensorflow/issues/52922

keras 2.7 is not compatible with tf 2.6.x but the dependency specification in tensorflow 2.6.0 and 2.6.1 for keras `~=2.6` allows keras 2.7 to be installed.

[2021-11-04 14:44] TC27GF commented on #52360
@sachinprasadhs thanks for the reply; unfortunately yes, the main problem was the gradient calculation for trainable weights that could not be ignored. Anyway, I couldn't find a good solution on the basis of above mentioned code, however, it was already solved using the following structure that might be helpful for others as well; the below structure can be employed for any complex trainable **fn*

[2021-11-04 14:46] DanBmh commented on #45444
Update to my comment above: Seems it doesn't work with every model architecture ...

[2021-11-04 15:25] nneubert commented on #52933
I am confused, as I have only one value in PReLU. Is there some way I could alter that function to work properly instead of using ReLU?

[2021-11-04 15:40] nneubert commented on #52933
Also, replacing PReLU alone did not resolve the issue. I have to revert to an older version of Tensorflow.

[2021-11-04 16:09] sachinprasadhs commented on #52933
Did  you try with nightly version and the details in the above linked document?

[2021-11-04 16:29] sachinprasadhs commented on #52360
Good to hear that you have solved the issue, could you move this issue to closed. Thanks!

[2021-11-04 16:33] #52884 closed

[2021-11-04 16:34] sachinprasadhs commented on #52537
Yes, if the two samples are identical it should return True.

[2021-11-04 16:47] #52360 closed

[2021-11-04 16:54] w4nderlust commented on #41792
@mohantym from your gist it looks to me it looks that the weights and biases are the same after the first batch and at the end:

[code]

[2021-11-04 17:05] MIHIRKHAMBETE opened #52944 "tf.print() with XLA compilation"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

Hello,

Does anyone know whether tf.print (or an equivalent workaround) can be made to work with XLA compilation? I get

[2021-11-04 17:06] frgfm commented on #52937
I see, so I guess this shouldn't be an issue anymore with TF 2.6.2 patch release?

[2021-11-04 17:07] bhayden53 commented on #52937
seems to be the case, 2.6.2 is installing the correct versions of the dependencies in my builds

[2021-11-04 17:14] GPhilo commented on #52653
@Maratyszcza Thanks for the clarification, but then I still don't understand the descripton of the optimisation options I quoted above (putting it here again with the whole context and adding with proper formatting):

This line coms from [here](https://www.tensorflow.org/lite/performance/post_training_quantization#dynamic_range_quantization). The way I read it, this is just a (lossy) operation to

[2021-11-04 17:52] mihaimaruseac commented on #52936
Duplicate of #31315 which is already resolved.

Please make sure you environment only uses packages that are build for TF 2.x

[2021-11-04 17:53] mihaimaruseac commented on #52936
Sorry, misread. But please fill in issue template and provide a minimal reproducer

[2021-11-04 17:58] sachinprasadhs commented on #28236
The  Module: `tf.audio` gives the detail about the functions available under that module, for usage example you can check the link specified for each functions [here](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/audio). Thanks!

[2021-11-04 18:01] mihaimaruseac commented on #52915
Please fill in issue template.

Please make sure you are running on a 64 bit computer, have the newest pip package.

Please make sure your Python version is 3.7, 3.8 or 3.9. TF is not yet ready for Python 3.10 and versions below 3.7 are deprecated.

Please make sure you are installing TF 2.4 or later. Older versions are no longer supported

[2021-11-04 18:06] #50761 closed

[2021-11-04 18:06] #52561 closed

[2021-11-04 18:06] #52382 closed

[2021-11-04 18:10] mihaimaruseac commented on #52917
Template not filled, nothing actionable

[2021-11-04 18:10] #52917 closed

[2021-11-04 18:10] sachinprasadhs commented on #28238
These details are generated through .pbtxt file, you can see the same details [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/api_def/base_api/api_def_EncodeWav.pbtxt).
For tutorials and usage examples on tf.audio, you can refer this [link](https://github.com/tensorflow/docs/tree/master/site/en/tutorials/audio), Thanks.

[2021-11-04 18:24] wangpengmit commented on #52346
Looping in @k-w-w, who may know more about the checkpointing issue.

[2021-11-04 18:39] sachinprasadhs commented on #52944
Could you please provide the code for which you are facing error. Thanks!

[2021-11-04 18:44] bgdax commented on #51241
Thank you for raising this issue. We are discussing internally the available options, and we'll update with the result.

[2021-11-04 18:48] nneubert commented on #52933
I am not sure what you mean by nightly version but I am in compliance with the linked document. I was in conversation with them for several days discussing what to do. They had access to my full architecture.

[2021-11-04 18:48] nneubert commented on #52933
How do I use the nightly version?

[2021-11-04 18:49] Maratyszcza commented on #52653
TFLite has convolution kernels which directly consume `INT8` weights and do conversion to floating-point just before doing the computations. XNNPACK doesn't include such kernels, so it requires that weights are unpacked into FP32 in advance. You can achieve it by inserting `DEQUANTIZE` operator to unpack `INT8` weights of the `FULLY_CONNECTED` operator into floating-point.

[2021-11-04 19:46] sachinprasadhs commented on #52933
You can install the nightly version by `pip install tf-nightly` and then import tensorflow by `import tensorflow as tf`

[2021-11-04 19:46] jli commented on #52937
This issue broke some of my team's production pipelines. We specify a dependency on `tensorflow==2.6.0`, but didn't specify a pinned version of Keras, so we automatically got 2.7.0 yesterday.

I think this is a bug with either:
1. [tensorflow's requirements specification](https://github.com/tensorflow/tensorflow/blob/v2.6.0/tensorflow/tools/pip_package/setup.py#L106) (eg for TF 2.6, I think the de

[2021-11-04 19:50] nneubert commented on #52933
I will try that version. I am making my way up the versions testing each one. Version 2.4.4 works correctly but version 2.5.0 yields the following error: ValueError: The inference_input_type and inference_output_type must be tf.float32.

[2021-11-04 19:53] nneubert commented on #52933
Also, I have removed all PreReLU functions for now.

Nightly results in the same error.

[2021-11-04 19:55] GPhilo commented on #52653
Thank you for the additional information.

Taking a deeper look at the xnnpack_delegate.c you linked in your first comment, I noticed that between r2.6 and the current master [the handling of kTfLiteInt8 tensors has been geatly extended](https://github.com/tensorflow/tensorflow/blob/8a2a4c3ca06a622989823c7dfa58e01044244935/tensorflow/lite/delegates/xnnpack/xnnpack_delegate.cc#L233). Building from

[2021-11-04 19:55] #52653 closed

[2021-11-04 20:06] #52363 closed

[2021-11-04 20:06] #52362 closed

[2021-11-04 20:06] #52384 closed

[2021-11-04 20:06] #52192 closed

[2021-11-04 20:06] #52538 closed

[2021-11-04 20:27] tmargary opened #52945 "AutoGraph could not transform function map_fn"
**System information**
- I have written custom code:
- OS Platform and Distribution: Ubuntu 20.04.3 LTS
- TensorFlow installed from: conda install tensorflow-gpu
- TensorFlow version: 2.4.1
- Python version: 3.8.0
- CUDA/cuDNN version: 10.1
- GPU model and memory: NVIDIA GeForce RTX 2060 with Max-Q Design computeCapability: 7.5

**Standalone code to reproduce the issue**
[code]

**Other info / log

[2021-11-04 21:07] chaaland commented on #34171
It still looks like the bug is there having just looked at the code now

[2021-11-04 21:41] amirbehbahanian opened #52947 "Build did NOT complete successfully"
Hi,

I'm using python Python 3.6.8 on CentOS 7, my bazel version is bazel 3.1.0. Using "git checkout r2.4" and trying to make the C++ interface I get the following error:

`INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=237
INFO: Reading rc options for 'build' from /home/u211355/tensorflow/.bazelrc:
  Inherited 'common' options: --experimental_rep

[2021-11-04 22:07] #52537 closed

[2021-11-04 22:18] bhack commented on #52944
Why not

[code]

[2021-11-04 22:40] sachinprasadhs commented on #52933
in Tensorflow 2.4.4 does it work perfectly even with PReLU?

[2021-11-04 22:44] sachinprasadhs commented on #52944
Normal print functions works without any limitations, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/8140cf768b36a8daa07505687fceb4a1/52944.ipynb). Thanks!

[2021-11-04 22:51] MIHIRKHAMBETE commented on #52944
The problem is that with normal print, the print statements are only executed on the first call to the function if the function is called multiple times with the same arguments (since tf will use an already made graph, which does not include the calls to print) - (please see https://www.tensorflow.org/guide/function under section "what is tracing?" for details)

tf.print() on the other hand will a

[2021-11-04 22:53] MIHIRKHAMBETE commented on #52944
For example,

`import tensorflow as tf

@tf.function(jit_compile=True)
def print_ten():
  for i in range(10):
    print('printing ' +str(i))
  return

print_ten()
print_ten()
`
Will only print 10 times (corresponding to the first call). If the regular print is replaced with tf.print(), the code will NOT run since XLA does not support tf.print at this time.

[2021-11-04 22:55] nneubert commented on #52933
In Tensorflow 2.4.4 it quantizes correctly however it does not compile in the Edge compiler. I have found that the latest version to both quantize and compile properly is 2.2.3. This functions properly even with PReLU

[2021-11-04 23:03] bhack commented on #52944
Yes if you want to print on every function call it is not supported. You can print the returned value outside of the compiled function.
I don't know if it is still updated but here you can find the list of the supported ops:
https://github.com/tensorflow/tensorflow/issues/14798#issuecomment-350814888

[2021-11-04 23:12] sachinprasadhs commented on #52938
Could you please fill the issue template https://github.com/tensorflow/tensorflow/issues/new/choose to expedite the process. Thanks

[2021-11-04 23:19] sachinprasadhs commented on #51839
@sjtusmartboy Could you please update on the above request.

[2021-11-04 23:24] paynecl commented on #52887
Hi Chunjie.  I work with Jacques on the part of the TF stack (bridge team) that can do this conversion.  We are looking at making a standalone tool for this.

[2021-11-04 23:34] MIHIRKHAMBETE commented on #52944
Yup - that's why I made a feature request for adding tf.print() to the supported ops for XLA compilation.

[2021-11-05 00:09] MarkDaoust commented on #47561
Yes, this is still a problem.

There is a workaround, use a TF1 name-based checkpoint from `raw_ops`.

There's a complete example here:

https://www.tensorflow.org/lite/examples/on_device_training/overview

Caution: Name-based checkpoints can be tricky.

[2021-11-05 00:55] karanveersingh5623 opened #52951 "Cannot register 2 metrics with the same name: /tensorflow/api/keras/optimizers"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-11-05 03:06] JakeTheSnake3p0 commented on #19913
I'm getting the same error, but I'm importing from `tensorflow_addons`. It's only occurring due to the fact that I'm attempting to load the model via `bytes()`. Due to limitations in the platform I'm using ([QuantConnect](https://lean-api-docs.netlify.app/classQuantConnect_1_1Storage_1_1ObjectStore.html)), I need to store/retrieve objects using their `ObjectStore.ReadBytes` / `ObjectStore.SaveByte

[2021-11-05 03:34] pierricklee commented on #23783
Same issue, but I encounted it on JAX. I solved by setting two environement variables:
`export LD_LIBRARY_PATH="/usr/local/cuda/lib64:$PATH"`
`export XLA_FLAGS='--xla_gpu_cuda_data_dir=/usr/local/cuda/'`
While, you have to point to your cuda path.
After that, run your code as usual:
`python run.py`

[2021-11-05 03:40] nectario commented on #41169
Is this issue addressed with the 2.7 release?

[2021-11-05 04:03] mohantym commented on #52934
Hi @Saduf2019 ! Could you please look at this feature request . PR has been created  for this issue in #52625

[2021-11-05 05:03] RuofanKong opened #52952 ""tf.print()" breaks the tensor value order in OrderedDict"
**System information**
- OS Platform and Distribution: macOS Big Sur 11.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version: The issue occurs in both TF v1.15.2 and TF v2.7.
- Python version: Python 3.6.5 with TF v1.15.2, or Python 3.8.3 with TF v2.7

**Issue Description & Repro Code**

I am using `tf.print()` to log the intermediate values evaluated from a OrderedDict co

[2021-11-05 06:07] kode54 commented on #46044
Why is this even an issue any more, isn't there a native version available already? It simply requires Monterey to function.

[2021-11-05 06:32] #52607 closed

[2021-11-05 06:32] #52132 closed

[2021-11-05 06:52] mazeltovlee commented on #36804
Thanks for solving this problem, can you kindly direct me to the pr/commit link where you fix this bug?

[2021-11-05 07:30] jponf opened #52953 "Missing tensorflow 2.6.2 Windows wheels"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow version: 2.6.2
- Python version: 3.8
- Installed using: poetry (pip)

After running poetry (1.1.11) on a project, the dependency resolution picks tensorflow version 2.6.2 but when it tries to install the package it fails because tensorflow 2.6.2 is missing the Windows wheels (https://pypi.org/project/tensorflow/2.6.2/#f

[2021-11-05 07:32] #52618 closed

[2021-11-05 07:52] zldrobit opened #52954 "TFLite int8 quantization failure in TensorFlow 2.7.0"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): v2.7.0

### 2. Code

The MWE is provided in the following colab notebook:
https://colab.research.google.com/drive/1K-Hwq6LEfjFr-4dSLEI4dhQd6pCR0K-F?usp

[2021-11-05 08:25] vonchenplus opened #52955 "tf.signal.stft has dynamic-sized tensors causing the tflite delegate to not work"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 16.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **iPhone12**
- TensorFlow installed from (source or binary): **PIP**
- TensorFlow version (use command below): **2.6**
- Python version: **3.9**

**Describe the current behavior**

[code]

**Describe the e

[2021-11-05 08:26] AlexisPapaioannou opened #52956 "Change the input layer from a saved TF model"
Is there any way to load a Tensorflow model, change the input layer and save again the new model? (I would like to convert a model from NHWC vs NCHW)

[2021-11-05 08:32] #52615 closed

[2021-11-05 09:12] Crispisu opened #52957 "TypeError: Parameter to MergeFrom() must be instance of same class: expected tensorflow.TensorShapeProto got tensorflow.TensorShapeProto."
Hi I am still getting the 'TypeError: Parameter to MergeFrom() must be instance of same class: expected tensorflow.TensorShapeProto got tensorflow.TensorShapeProto.' even after applying the fix mentioned previously.
Any suggestions?

[2021-11-05 09:22] wawltor opened #52958 "[Help] How to feed the RaggedTensor as inputs in Graph execution ?"

[2021-11-05 09:30] hamcapem commented on #52831
@Saduf2019 any luck with this?

[2021-11-05 09:41] xingkong1994 opened #52959 "TensorFlow 2.4.1 data.Dataset.from_generator Report Error in Distributed Training"
I use TF2.4.1 API tf.data.Dataset.from_generator in ps-worker distributed training, but it report error, the message is "Cannot assign a device for operation PyFunc: {{node PyFunc}} was explicitly assigned to /job:localhost/replica:0/task:0 but available devices are [ /job:worker/replica:0/task:0/device:CPU:0 ]. Make sure the device specification refers to a valid device."  but my codes run in TF

[2021-11-05 09:52] mcourteaux opened #52960 "Make line wrapping and precision of tf.print configurable."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): not relevant
- Are you willing to contribute it (Yes/No):

[2021-11-05 10:06] tedwards-flf commented on #41891
Is this fix in 2.5.0 or 2.6.0?

[2021-11-05 10:41] bhack commented on #52574
We can close this https://pypi.org/project/tf-nightly/#files

[2021-11-05 10:46] leandro-gracia-gil commented on #52574
I can confirm I was able to get the latest version now from pip. Thanks!

[2021-11-05 10:46] #52574 closed

[2021-11-05 11:58] sushreebarsa commented on #52941
@FHof
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-11-05 12:43] SuyunCDN commented on #52960
Company name: SuyunCDN

Title of position: Python Developer

Position type: Full Time, Part Time, or Contractual

Pay range: $800 - $2000

Location: Remote

Preferred Qualifications:

●	Graduated in any IT related course
●	Proficient in English and Mandarin Language
●	Proficient in Python Coding

Description of responsibilities:

●	Writing and testing code, debugging programs and integrating appli

[2021-11-05 12:44] SuyunCDN commented on #52959
GREETINGS IT SPECIALIST! SUYUN CDN IS HIRING NOW!

Company name: SuyunCDN

Title of position: Python Developer

Position type: Full Time, Part Time, or Contractual

Pay range: $800 - $2000

Location: Remote

Preferred Qualifications:

●	Graduated in any IT related course
●	Proficient in English and Mandarin Language
●	Proficient in Python Coding

Description of responsibilities:

●	Writing and tes

[2021-11-05 12:44] SuyunCDN commented on #52958
GREETINGS IT SPECIALIST! SUYUN CDN IS HIRING NOW!

Company name: SuyunCDN

Title of position: Python Developer

Position type: Full Time, Part Time, or Contractual

Pay range: $800 - $2000

Location: Remote

Preferred Qualifications:

●	Graduated in any IT related course
●	Proficient in English and Mandarin Language
●	Proficient in Python Coding

Description of responsibilities:

●	Writing and tes

[2021-11-05 12:44] SuyunCDN commented on #52951
GREETINGS IT SPECIALIST! SUYUN CDN IS HIRING NOW!

Company name: SuyunCDN

Title of position: Python Developer

Position type: Full Time, Part Time, or Contractual

Pay range: $800 - $2000

Location: Remote

Preferred Qualifications:

●	Graduated in any IT related course
●	Proficient in English and Mandarin Language
●	Proficient in Python Coding

Description of responsibilities:

●	Writing and tes

[2021-11-05 13:03] alexpyattaev commented on #34415
Seems TF2 still does not respect these options for simple linear algebra tasks. For example,
[code]
would still use all cores it can find no matter what is set in config.
It seems the only thing that actually works as intended is
[code]

Maybe would be nice if programmatic change would work too, starting new processes not always convenient.

[2021-11-05 13:04] ghylander commented on #52346
I'm having this issue too
My workflow is:
0. (import libs, declare functions, hyperparameters, datasets, checkpoint paths, etc)
1. build model
2. load checkpoints
3. train
4. build model unfreezing layers
5. load best checkpoints of previous training stage
6. train
I get the error right after starting stage 6

[2021-11-05 13:32] #43860 closed

[2021-11-05 13:32] #43821 closed

[2021-11-05 13:32] #43235 closed

[2021-11-05 13:35] alexcombessie commented on #52845
Hi,

I have the exact same issue. It is hindering my development process. While my app is deployed on an x86 server, I do need to use my M1 mac with emulation to develop code locally and to push it to production.

All other major data science packages work correctly under x86 rosetta emulation: pandas, scikit-learn, torch, transformers, spacy, xgboost, lightgbm.

I appreciate the great work you ar

[2021-11-05 13:53] sushreebarsa commented on #52959
@xingkong1994
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-11-05 14:30] Practical-AI commented on #50659
@RedJyve
I had the same issue. I loaded the model in the same notebook that I was converting the samed_model to tflite and it solved the issue. I assume TensorFlow recognizes the used objects in RAM and it prevents further errors.

[2021-11-05 14:31] Practical-AI commented on #52370
@DEKHTIARJonathan
I had the same issue. I loaded the model in the same notebook that I was trying to load the saved_model and solved the problem. I assume TensorFlow recognizes the used objects in RAM and it prevents further errors.

[2021-11-05 14:32] #42096 closed

[2021-11-05 15:15] battuzz commented on #41938
Hi @mohantym , thanks for coming back to this issue!

I've tried with TF 2.6 and it should work fine now... I don't have this error anymore and the compilation runs successfully, even though the performance of the compiled version of this cholesky decomposition seems quite slow on CPU..

[2021-11-05 15:34] ebrevdo commented on #41938
I suggest opening a separate bug for the performance of cholesky on CPU.  I
don't think anyone's bothered optimizing it, it's likely implemented as a
series of loops in HLO.

On Fri, Nov 5, 2021 at 8:15 AM Andrea Battistello ***@***.***>
wrote:

[2021-11-05 15:52] battuzz commented on #41938
@ebrevdo Ok, thanks!

[2021-11-05 15:54] nneubert commented on #52933
This is the working version with tf 2.2.3: https://colab.research.google.com/drive/1jR1nRQ1PK2nxUaQFHvYQPVJjs5cki5dI?usp=sharing

[2021-11-05 15:58] K1504296 commented on #52544
Andrew Goodbody has also tested this and said that the tests pass by disabling Fused Multiply Add instructions via `--copt=-ffp-contract=off --cxxopt=-ffp-contract=off`

[2021-11-05 16:12] sushreebarsa commented on #52956
@AlexisPapaioannou
Could you please refer to [Save and load model ](https://www.tensorflow.org/tutorials/keras/save_and_load) , for any further queries you may open this issue in [TF discussion forum ](https://discuss.tensorflow.org/) as there is a wider community to respond. Thank you!

[2021-11-05 16:20] sushreebarsa commented on #52947
@amirbehbahanian
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),Thanks!

[2021-11-05 16:20] sushreebarsa commented on #52953
@jponf In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),Thanks!

[2021-11-05 16:35] amirbehbahanian opened #52964 "Build did NOT complete successfully"
Hi,

My system is,

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Computational Node
- TensorFlow installed from (source or binary): git clone https://github.com/tensorflow/tensorflow tensorflow
- TensorFlow version: Install TensorFlow 2
- Python version: 3.6

[2021-11-05 16:36] amirbehbahanian commented on #52947
I opened a build issue is that what you meant?

[2021-11-05 16:43] nneubert commented on #52933
Also of importance is to note that while model quantizes in 2.4.4, interpretation of the model as written in the last block fails.

[2021-11-05 16:48] DEKHTIARJonathan commented on #52934
@mohantym a PR has not been created for the feature. It's left as a TODO. @bixia1 requested to create a GH issue for this

[2021-11-05 16:51] nneubert commented on #52933
Beginning in Version 2.3.0 the following error is generated when trying to use a lite interpreter on the quantized model.

Code:

# Load the TFLite model and allocate tensors.
interpreter = tf.lite.Interpreter(model_path="IVUS_v1.tflite")
interpreter.allocate_tensors()

# Get input and output tensors.
input_details = interpreter.get_input_details()
output_details = interpreter.get_output_details()

[2021-11-05 17:06] jvishnuvardhan commented on #52592
Closing this as this was resolved. Thanks!

[2021-11-05 17:06] #52592 closed

[2021-11-05 17:08] #52115 closed

[2021-11-05 17:13] FernandoDorado opened #52965 "<unknown> shape of Tensor, as_list() is not defined on a unknown TensorShape"
Good afternoon,

I am trying to implement a pipeline using TFX and Tensorflow. For this, I use 3 accelerometer measurements to predict the activity that is being performed at that moment (6 classes). To do the processing, I have to transform the dataset to sequences, and for that I make use of .windows function. The code used to perform this processing is the following:

[code]

Once this is done,

[2021-11-05 17:30] mihaimaruseac commented on #52951
This should be fixed by TF 2.6.2 or TF 2.7.0

[2021-11-05 17:30] #52951 closed

[2021-11-05 17:31] mihaimaruseac commented on #52937
Should be fixed by TF 2.6.2 and TF 2.7

[2021-11-05 19:37] jackaraz opened #52968 "`tf.svd` fails during GradientTape mode"
**System information**
- OS Platform and Distribution: macOS v12.0.1
- TensorFlow installed from: pypi
- TensorFlow version: v2.6.0-rc2-32-g919f693420e 2.6.0
- Python version: 3.8.9
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A

Hi, I'm trying to contract a network with multiple tensors and using singular value decomposition during contraction to simplify the contraction process. Whilst th

[2021-11-05 23:06] sachinprasadhs commented on #52968
You can refer [this](https://stackoverflow.com/questions/66896059/) which shows working of tf.linalg.svd with Gradient Tape.
If you are using any dynamic matrix dimension, you can try providing static matrix to debug the issue. Thanks!

[2021-11-05 23:13] jackaraz commented on #52968
Hi, @sachinprasadhs I'm aware that svd works with GradientTape that's why I'm using it that's not the issue. During my calculation, I'm regularizing my network with svd (as seen in the code above). During this regularization, svd method loses the shape information of the tensor which can be directly traced to `tensorflow/python/ops/linalg_grad.py` L825: `a_shape = a.get_shape().with_rank_at_least(

[2021-11-05 23:15] sachinprasadhs commented on #52965
Could you please refer the answer [here](https://stackoverflow.com/questions/67573468/) and let me know if this helps, Thanks!

[2021-11-05 23:18] sachinprasadhs commented on #52960
I don't think it is the limitation of tf.print, even if you try with normal print in colab, it truncates to certain numbers in a line.
You could just try the below line in your IDE.
`print(np.random.randn(2,7,7))`

[2021-11-05 23:20] sachinprasadhs commented on #52958
Could you please fill the issue template here https://github.com/tensorflow/tensorflow/issues/new/choose to understand your problem. Thanks

[2021-11-06 01:01] sachinprasadhs commented on #52968
Thanks for the clarification, I was able to reproduce your issue with Tensorflow 2.7, please find the Gist [here](https://colab.research.google.com/gist/sachinprasadhs/8e98a9a1431360d09c5695bf2ef4dcfc/52968.ipynb).

[2021-11-06 02:14] sushreebarsa commented on #52947
@amirbehbahanian Could you please try with the latest stable TF version `2.6.0` and refer to the [build from source](https://www.tensorflow.org/install/source) .Please let us know if it helps ?Thanks!

[2021-11-06 06:40] kennysong opened #52972 "Cannot run TensorFlow 2.7 in Docker on M1 (Apple Silicon)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 12.0 Monterey
- TensorFlow installed from (source or binary): pre-built binary (Docker and pip)
- TensorFlow version (use command below): 2.7
- Python version: 3.8.10

**Describe the current behavior**

Our team

[2021-11-06 07:02] Prayoga2882 commented on #43227
just replace the batch size =1 and make sure you're use CPU/GPU at `use_bfloat16 :`

-

[2021-11-06 07:26] larawehbe commented on #41482
@rzimmerdev  Solved my problem after a full day of troubleshooting !! Thanks !!

[2021-11-06 07:38] mchlsdrv commented on #32912
Thanks @jpambrun  -

[code]
Worked for me.

Though it would be interesting to figure out the cause of this issue - i.e., is it a bug in TF 2.0, or is it an expected behavior?

[2021-11-06 08:32] #37382 closed

[2021-11-06 09:23] shkarupa-alex commented on #34196
Sorry, seems i posted wrong class. Here it is correct one:

[code]

[2021-11-06 11:32] #52088 closed

[2021-11-06 11:32] #52092 closed

[2021-11-06 11:48] kennysong opened #52973 "Release pre-built wheels for manylinux2014_aarch64 and macosx_arm64"
**System information**
- TensorFlow version (you are using): 2.6
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

You can't `pip install tensorflow` natively on an M1 Mac, since there are no pre-built wheels for macosx_arm64 or manylinux2014_aarch64 (for a native Linux container or VM on M1).

PyTorch [has provided these pre-built binaries

[2021-11-06 13:56] guillaume-tgl commented on #47400
Looks like a new version of Bazel's `rules_apple` has been released with support for `ios_sim_arm64` architecture: https://github.com/bazelbuild/rules_apple/releases/tag/0.32.0

Is it enough to be able to build TFLite for iOS Simulator on Apple Silicon?

[2021-11-06 14:32] bhack commented on #52972
I think this is a dup of https://github.com/tensorflow/tensorflow/issues/52845

[2021-11-06 15:17] sinh123457 commented on #38786
làm ơn giúp tôi chuyển qua file TFlite

[2021-11-06 15:43] gqqnbig commented on #44758
Even if Wang-Yu-Qing is fine, I think we need to update documentations to make clear the meaning of "negative samples".

[2021-11-06 18:32] #48293 closed

[2021-11-06 18:59] Crazy-LittleBoy commented on #37339
having the same issue in tensorflow==2.4.1

[2021-11-06 20:15] DJT777 opened #52974 "Cannot build from source and illegal instruction on import tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04

- TensorFlow ins

[2021-11-06 21:18] jponf commented on #52953
**System information**

- OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.6.2
- Python version: 3.8
- Installed using: poetry (pip)

**Describe the problem**

After running poetry (1.1.11) on a project, the dependency resolution picks tensorflow version 2.6.2 but when it tries to install the package it fails because tensorflow

[2021-11-06 22:34] dkgaraujo commented on #37339
Same... tensorflow==2.6.0

[2021-11-07 01:32] #46949 closed

[2021-11-07 01:32] #50518 closed

[2021-11-07 01:32] #39053 closed

[2021-11-07 01:59] jessecantu opened #52975 "Need clarification and assistance on this one (Friday with Leanne)"
Need clarification and assistance on this one (Friday with Leanne)

_Originally posted by @ZCorso in https://github.com/WorldEES/Q/issues/5#issuecomment-351091481_

__Originally posted by @jessecantu in https://github.com/jessecantu/overriddes/issues/1__

[2021-11-07 02:07] mohantym commented on #52957
Hi @Crispisu! Could you please fill the template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose) as it helps expedite the issue.

[2021-11-07 02:31] mohantym commented on #52954
Hi @Saduf2019 ! Could you please look at this issue . It is replicating in TF [2.6](https://colab.sandbox.google.com/gist/mohantym/b4faca62759831aafe849e56357c448c/tf2-7-0-fb-2-0-tfl-int8-quant.ipynb#scrollTo=CBaIlu0d7JmG),[2.7](https://colab.sandbox.google.com/gist/mohantym/426183f718608c162ca345ca1608489d/tf2-7-0-fb-2-0-tfl-int8-quant.ipynb) and [nightly](https://colab.sandbox.google.com/gist/mo

[2021-11-07 02:37] kennysong commented on #52972
The environments are similar, but the actual error is different (AVX not available vs. floating point error), so may be worth keeping as separate issues.

[2021-11-07 04:22] DJT777 commented on #52974
Photo of the terminal at screen freeze:

![PXL_20211107_040457264](https://user-images.githubusercontent.com/47899472/140632226-056d12c5-599f-4792-99a2-b654fb23096d.jpg)

[2021-11-07 07:07] guba-odudkin commented on #37900
Having the same issue on TF 2.6.0. Using Laptop RTX 3000

[2021-11-07 07:47] PeterShmukler commented on #47532
simple reproduction
https://colab.research.google.com/gist/ymodak/36c744a25affa7c74147d5cccbf94140/git44970.ipynb

[2021-11-07 07:51] mohantym commented on #52974
Hi @DJT777! Could you try again with with [tested configurations](https://www.tensorflow.org/install/source#tested_build_configurations) for TF 2.6.

[2021-11-07 09:07] Crispisu commented on #52957
Hi @mohantym ! Thank you for this. In the meantime I have managed to solve this as per instructions You provided to previous similar issues. The problem was related to my laptop as I am using an M1 chip which causes multiple issues for tensorflow.
Can you please close this one?

[2021-11-07 09:27] Lakedaemon opened #52976 "Crash with tensorflow lite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please sha

[2021-11-07 09:29] Lakedaemon commented on #52976
Also, I tried with my old model (frozen, converted from tensorflowlite1 ...) from 4 years ago with tensorflowlite 2.6.
and it also complains about wcsnrtombs missing

[2021-11-07 09:41] ihuale commented on #45059
@sushreebarsa ok, I will try it later

[2021-11-07 11:37] bhack commented on #52845
https://github.com/apple/tensorflow_macos/issues/164#issuecomment-776785984

https://github.com/ARM-software/Tool-Solutions/tree/master/docker/tensorflow-aarch64

But as someone still needs to use this in emulation I suppose in that It could be a qemu BUG with `DBL_MAX` in emulation

[2021-11-07 11:42] bhack commented on #52972
If you want to emulate on qemu you need to build TF [from sources](https://www.tensorflow.org/install/source) to disable AVX.

Instead if you are interested on an aarch64 images check:

https://github.com/tensorflow/tensorflow/issues/52845#issuecomment-962594728

[2021-11-07 11:50] Lakedaemon commented on #52976
I looked in my github history and used tensorflowlite 2.1.
Then my code worked fine---> I'll refreain to upgrade tensor flow to later libs as it create issues (or I'll experiment first that it improves the app before using it)

[2021-11-07 11:50] #52976 closed

[2021-11-07 12:32] #28937 closed

[2021-11-07 12:32] #52620 closed

[2021-11-07 13:19] JaydenKing32 opened #52977 "OCR example app crashes with new image"
I'm not certain if this is the correct issue type, I'm using the documentation type since the [examples repo](https://github.com/tensorflow/examples) instructed me to do so (specifically the "To file an issue" link in the README).

## URL(s) with the issue:
https://github.com/tensorflow/examples/blob/03f796596c9ca9d3d42e5cb43a726b8e220c73b2/lite/examples/optical_character_recognition/android/app/s

[2021-11-07 13:53] tilakrayal commented on #52920
@pedromtelho ,
Can you please if you are following this [link](https://www.tensorflow.org/lite/guide/build_arm) for the installation of tensorflow?Thanks

[2021-11-07 14:32] #32468 closed

[2021-11-07 14:32] #30545 closed

[2021-11-07 14:32] #30744 closed

[2021-11-07 14:32] #32866 closed

[2021-11-07 14:32] #30655 closed

[2021-11-07 14:32] #25222 closed

[2021-11-07 21:14] JMeyerEngineering commented on #52953
Please tag me when a solution is proposed.  I ran into the same issue today!

[2021-11-07 22:18] a42664 commented on #52953
Me too. Waiting for the windows wheels on pip.

[2021-11-07 22:34] compfy-dot-com opened #52978 "Problems with saving and loading stock TF models (Resnet50, MobileNetV3, etc.) starting from TF 2.5"
System: Ubuntu 20, Python 3.9.5, TF 2.5 (or 2.6)

This code:

base_model = MobileNetV3Large();
base_model.save('test')

Generates a warning: "generic_utils.py:494: CustomMaskWarning: Custom mask layers require a config and must override get_config. When loading, the custom mask layer must be passed to the custom_objects argument."

I ignored this warning, trained a model and observed that when sav

[2021-11-07 23:48] mihaimaruseac commented on #52953
The Windows builds are extremely slow (18 hours and more) and very flaky. Hopefully we'd have all wheels by tomorrow.

[2021-11-08 00:00] mihaimaruseac commented on #52069
Doesn't seem to be caused by spacing, the error message has very different numbers

[code]

[2021-11-08 01:07] mohantym commented on #52937
Hi @frgfm ! This issue is not replicating with TF 2.6  or TF-nightly in Colab Environment.  Attaching [Gist](https://colab.research.google.com/gist/mohantym/0e6f734312f9b78b0f2760a5cc136800/github_52937.ipynb) for reference .

[2021-11-08 02:36] Esthesia commented on #41584
@ZanZong Thanks a lot. I suffer from this issue even I changed the NumPy version but solved this issue with your comments.

[2021-11-08 02:37] xingkong1994 commented on #52959
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos 8
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.4.1
- Python

[2021-11-08 03:32] #52641 closed

[2021-11-08 03:32] mohantym commented on #41938
Ok @battuzz! Closing this issue as it seems to be resolved . Please create a new issue if you need further assistance . Thanks!

[2021-11-08 03:32] #41938 closed

[2021-11-08 04:29] bhpatray opened #52979 "TFLite static library generated is not working"
The generated static library through CMake sources as per tflite documentation is not working.

**System information**
- Debian 10 (e.g., Linux Ubuntu 16.04):
- TensorFlow Lite installed from CMake (source or binary): Source
- TensorFlow version 2.4.1

**Describe the current behavior**
Currently, the static library when generated through the bash script present in tensorflow/lite/tools/make/build_

[2021-11-08 04:30] rohitrkr commented on #31058
Tried many ways..
But dnt know how to do it..
New to Ubuntu and deep learning..

[2021-11-08 04:40] tilakrayal commented on #52945
@tmargary ,
Can you please upgrade the latest stable tensorflow v2.6 to test the code and let us know the  if you are facing the same error. Thanks!

[2021-11-08 05:00] bhpatray commented on #52542
Any update

[2021-11-08 05:32] tilakrayal commented on #52955
@vonchenplus ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2021-11-08 06:20] tilakrayal commented on #52975
@jessecantu ,
 In order to expedite the trouble-shooting process, could you please provide a minimal code snippet and the TensorFlow version you are using.

[2021-11-08 06:29] danishansari commented on #43527
I am getting a similar error in TF2.6, cuda-10.2 has anyone been able to fix it.
2021-11-04 16:06:55.345573: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-04 16:06:55.349826: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful

[2021-11-08 06:41] ankitchandracs commented on #51479
can anyone elaborate how the issue was resolved? i am facing the same error while trying to extract weights from tflite model.

[2021-11-08 07:08] Sgsouham commented on #52630
from what i can gather @rsuriano , tihs api works only with sequential or functional api, and for custom class, layers need to be annotated manually. Though i am still waiting for an official answer. In your case, you can move the entire layers into a sequential api and it might work.

[2021-11-08 07:30] AlexisPapaioannou commented on #52956
Thanks, @sushreebarsa !

[2021-11-08 07:30] #52956 closed

[2021-11-08 07:32] #52648 closed

[2021-11-08 07:43] lindadamama opened #52980 "win11 gtx960M tensorflow2.5~ tensorflow2.7 CUDA out of memory"
win11 gtx960M tensorflow2.5~ tensorflow2.7 report errors : CUDA out of memory ,but win10 gtx960M tensorflow2.5~ tensorflow2.7 can run normally

[2021-11-08 08:49] StudentGGG commented on #44472
It seems that I get that error only when I load the module on a separate thread and only for some devices.

[2021-11-08 08:54] tilakrayal commented on #52935
@whalefa1I ,
On running the given code, I was facing different error. Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/cd328e6d5a60e8148c4826f15aa36622/52935.ipynb).Please provide all the dependencies to reproduce the issue.Thanks!

[2021-11-08 08:59] tilakrayal commented on #52935
Also please refer this [issue](https://github.com/tensorflow/tensorflow/issues/41391) with the similar error.It helps.Thanks!

[2021-11-08 09:29] sushreebarsa commented on #52979
@bhpatray
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-11-08 09:30] mohantym commented on #52980
Hi @lindadamama ! Could you please provide the standalone code to reproduce this issue?

[2021-11-08 09:33] artus-LYTiQ opened #52981 "Pip install tensorflow==2.7.0 expects cuda 11.0 instead 11.2"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>
Well, it seems to fall between a bug and an installation issue :P

**System information**
- OS Platform and Distr

[2021-11-08 09:36] alemyewno opened #52982 "Problem with calling the same object twice in the "call" part"
My model is this:

[code]

Then I build it like this

[code]

This gives me the following error:

"ValueError: Dimensions must be equal, but are 200 and 100 for '{{node dense_5/MatMul}} = MatMul[T=DT_FLOAT, transpose_a=false, transpose_b=false](Placeholder, dense_5/MatMul/ReadVariableOp)' with input shapes: [?,200], [100,200]."

When I change ```out_4 = self.dense_200(out_3)``` into ```out_4 = sel

[2021-11-08 09:37] sushreebarsa commented on #52982
@alemyewno
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-11-08 09:46] mohantym commented on #52977
Hi @sachinprasadhs ! Could you please look into this issue?

[2021-11-08 09:46] artus-LYTiQ commented on #52981
Downgrading to 2.6.2 (or 2.6.1 for tf plus manual downgrade for keras to 2.6.0) then brings the system back to a working state:

pip install -U tensorflow==2.6.2
Successfully installed google-auth-1.35.0 keras-2.6.0 tensorboard-2.6.0 tensorflow-2.6.2 tensorflow-estimator-2.6.0
(tf2) student@c4d-vw-14:~$ python
Python 3.8.12 (default, Oct 12 2021, 13:49:34)
[GCC 7.5.0] :: Anaconda, Inc. on linux
Ty

[2021-11-08 09:54] elfringham commented on #52069
The tolerance is 1e-03. The numbers are close enough to match. It is the spaces that cause the string comparison to fail.
https://github.com/tensorflow/tensorflow/blob/c1ddc3f097997094d0e045bd81502805a169937c/tensorflow/tools/docs/tf_doctest_lib.py#L117

[2021-11-08 09:55] suke27 commented on #17699
is it resolved, i also want to know how to convert pb to ckpt

[2021-11-08 10:04] mohantym commented on #52957
Ok @Crispisu! Thanks for confirming the same. Attaching similar issue for reference. [link1](https://github.com/tensorflow/tensorflow/issues/50545),[link2](https://stackoverflow.com/questions/67570696/typeerror-parameter-to-mergefrom-must-be-instance-of-same-class-expected-ten). Please close this issue once it has been resolved.

[2021-11-08 10:15] frgfm commented on #52937
Hi @mohantym,
I'm sure not sure this is related? The bottom of this issue is that there was a loose version constraint for keras on the TF side up until 2.6.2 and 2.7. So yes, if you manually install keras 2.6, it does work as expected :)
My point was that if you had installed one of the release before 2.6.2 (say 2.6.0), the installer might be tempted to install keras 2.7 which was not compatible.

[2021-11-08 10:16] Saduf2019 commented on #52964
@amirbehbahanian
Please verify if you meet the [requirements](https://www.tensorflow.org/install/source),
you may also refer to below similar error issues: [link](https://github.com/google/mediapipe/issues/533),[link1](https://github.com/google/mediapipe/issues/70)

[2021-11-08 10:17] lindadamama commented on #52980
Currently, tensorflow 2.4.4 can be used normally
从 Windows 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>发送

________________________________
发件人: mohantym ***@***.***>
发送时间: Monday, November 8, 2021 5:30:54 PM
收件人: tensorflow/tensorflow ***@***.***>
抄送: lindadamama ***@***.***>; Mention ***@***.***>
主题: Re: [tensorflow/tensorflow] win11 gtx960M tensorflow2.5~ tensorflow2.7 CUDA out of memory

[2021-11-08 10:21] Saduf2019 commented on #52954
@zldrobit
Could you please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/51590#issuecomment-912614740) and let us know if it [helps](https://github.com/tensorflow/tensorflow/issues/51590#issuecomment-915458143).

[2021-11-08 10:23] kennysong commented on #52972
Got it – personally I'd like to avoid building from source since it complicates our dependency management.

Most other ML libraries work fine out-of-the-box in x86 emulation on M1: PyTorch, Scikit-Learn, Numpy, Scipy, etc. It would be great if TF supported it as well.

[2021-11-08 10:38] karanveersingh5623 commented on #51659
What are the steps to upgrade TF to CUDA 11.4 and cuDNN 8.2 using docker image
 tensorflow/tensorflow:latest-devel-gpu

[2021-11-08 10:40] #52957 closed

[2021-11-08 10:59] Saduf2019 commented on #52907
@sonogoto
Please refer to similar error issue and let us know:[link](https://stackoverflow.com/questions/56918388/error-valueerror-the-last-dimension-of-the-inputs-to-dense-should-be-defined),[link2](https://github.com/tensorflow/tensorflow/issues/35464)

[2021-11-08 11:45] GrigoriiTarasov opened #52983 "tensorflow-estimatior==2.0.0 not available so can't fix known issue"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution Linux Ubuntu 20.04.2 LTS
- Installed using mamba
- TensorF

[2021-11-08 11:48] bhack commented on #52972
This more general that M1 so if you want to use this in emulation you can close this and ad a comment to https://github.com/tensorflow/tensorflow/issues/19584

[2021-11-08 11:55] mohantym commented on #52937
Ok @frgfm ! Thanks for confirming the same .You can also test with TF 2.7 and Keras 2.7. Closing this issue as it seems to be resolved.

[2021-11-08 11:55] #52937 closed

[2021-11-08 11:58] bhack commented on #52972
P.s. I don't have that hw bout also you can check this Docker claim https://github.com/docker/for-mac/issues/5485#issuecomment-834163428

[2021-11-08 12:01] ravinderkhatri commented on #28010
I am facing the same issue using tf.keras.callbacks.ModelCheckpoint . Any solution ?

[2021-11-08 12:32] #48632 closed

[2021-11-08 12:32] #28237 closed

[2021-11-08 12:32] #47742 closed

[2021-11-08 12:44] doruksonmez opened #52985 "Possible Bug on Building From Source (crosstool_wrapper_driver_is_not_gcc)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18:04
- Mobile device (e.g. iP

[2021-11-08 12:51] tilakrayal commented on #52978
@compfy-dot-com ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2021-11-08 13:29] tilakrayal commented on #52705
@tusneemA ,
Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-11-08 13:44] Saduf2019 commented on #51996
@EricTheRed20
Is this still an issue.

[2021-11-08 13:45] Saduf2019 commented on #50104
@gqqnbig
Is this still an issue

[2021-11-08 13:48] Saduf2019 commented on #48285
@bhack  @theadactyl
Checking if this is still an issue. Thanks!

[2021-11-08 14:14] gqqnbig commented on #50104
My description still holds true and I didn't see any documentation changes or code changes. I suspect it is still an issue.

[2021-11-08 14:44] anth2o opened #52986 "Custom training with tf.distribute.Strategy fails with BatchNorm"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-11-08 14:50] fsx950223 opened #52987 "Function _implements is missing when create a new object"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platfor

[2021-11-08 14:54] drasmuss opened #52988 "TensorFlow 2.7 does not detect CUDA installed through conda"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
-

[2021-11-08 14:59] mtorabirad commented on #41448
I wonder if this has to do something with what is mentioned here https://www.tensorflow.org/api_docs/python/tf/keras/Model

"If the model has multiple outputs, you can use a different loss on each output by passing a dictionary or a list of losses. The loss value that will be minimized by the model will then be the sum of all individual losses, unless loss_weights is specified."

[2021-11-08 15:10] anth2o commented on #31531
I think this issue is still present in TF2.5. I opened an other issue since I'm having the same bug or only a similar one: #52986

[2021-11-08 15:11] MahmoudAshraf97 commented on #50400
The issue still exists, only solved by adding a very small number as mentioned in the original post, another workaround is to train for some iterations using MSE and then start the training from a saved checkpoint and continue using MS-SSIM

[2021-11-08 15:36] mihaimaruseac commented on #52953
Still delayed, two more jobs restarted :(

[2021-11-08 16:02] smarimariem opened #52989 "Error in converting tensorflow model hdf5 to onnx format"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows on jupyter notebook
-

[2021-11-08 16:35] compfy-dot-com commented on #52978
The complete code to reproduce the warning:

from tensorflow.keras.applications import MobileNetV3Large
base_model = MobileNetV3Large()
base_model.save('test')

IMHO we should focus on that warning and the reason for it: There should be none for the stock models. TF 2.4 does not seem to have this issue, it's only starting with TF 2.5.

[2021-11-08 16:37] cfRod commented on #52544
Are these tests built using -03? For the purpose of unit testing, I guess it is ok to disable these FMA instructions (?).
Tagging @penpornk  and @nSircombe here!

[2021-11-08 16:54] elfringham commented on #52544
By default it builds with -O2.

[2021-11-08 17:11] srjoglekar246 commented on #36804
The fix landed a while back, but everything after [this commit](https://github.com/tensorflow/tensorflow/commit/920bf272c8187ee68d810d468209400ba7f7c4c9#diff-c47a66c8e8e1fead95278a60d5aa66a287b7b44467137998f093b5d203105061) included the fix.

[2021-11-08 17:19] srjoglekar246 commented on #52914
@miaowang14 Can you take a look?

[2021-11-08 17:20] sanatmpa1 commented on #52923
@brandon-wu76,

I modified your code to save the model in `SavedModel` format and not on `h5 format`, which is working fine and I am able to load the model. Can you take a look at this [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/51357fe30394b38a564a41286fadecc9/untitled3.ipynb). Thanks!

[2021-11-08 17:32] #43157 closed

[2021-11-08 17:32] #47311 closed

[2021-11-08 17:32] #38305 closed

[2021-11-08 17:48] mihaimaruseac commented on #52983
You have a typo

[code]

[2021-11-08 18:05] jvishnuvardhan commented on #20644
Development of keras moved to separate [keras-team/keras](https://github.com/keras-team/keras/issues) repository.

I will close the issue here and open this in keras-team/keras repo and let team evaluate this feature. Thanks!

[2021-11-08 18:10] #20644 closed

[2021-11-08 18:32] #30943 closed

[2021-11-08 18:41] atpoverload opened #52992 "Providing OS thread ids when tracing"
**System information**

 - Debian 9
 - python 3.5
 - TensorFlow 2.0.0

**Are you willing to contribute it (Yes/No):**

Yes

**Describe the feature and the current behavior/state.**

Currently, tracing only reports internal ids for threads:

[code]

It would helpful to be able to also report the OS thread id. Unfortunately, `threading.enumerate` does not appear to report these threads. Examining th

[2021-11-08 19:42] EricTheRed20 commented on #51996
Item 1 has been fixed, but items 2, 3 and 4 haven't been fixed, so yes, it is still an issue

[2021-11-08 19:47] wangpengmit commented on #44758
Agreed. We'll track the documentation update in #49490.

[2021-11-08 20:58] bliep commented on #51485
This issue seems to be fixed in TF 2.7.0 :)

[2021-11-08 21:12] Egorvasechko commented on #45285
Hi. There were a couple of questions about the cuda 10.1 drivers in conjunction with tensorflow 2.3.1 on Nvidia 30 series (rtx 3060) video cards in ubuntu 18.04 operating system. There were no problems with installing the drivers, all the necessary files for the neural network are there (like libcublas, libcudart and others), but for some reason the neural network does not want to process the imag

[2021-11-08 21:29] josephcoveai opened #52994 "Unable to use tensorflow after installing"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2021-11-08 21:57] karimnosseir commented on #52852
@zuozhen Regarding the part about not working in your app after converting with TF_SELECT.
Can you please follow the instructions [here](https://www.tensorflow.org/lite/guide/ops_select#android_aar) and let us know how it works

[2021-11-08 22:19] JohnTaylor2000 commented on #44510
I have been able to test this using TensorFlow 2.6.0 using a test code. I do not have access to 2.7.0 at the moment.

Still seeing the same problem when using a dense layer tf.keras.layers.Dense the response was
AttributeError: 'KerasTensor' object has no attribute 'device'. I also observed that the code intended to run on 4 GPUs runs primarily on a single GPU ie the 'with tf.device("GPU:3"): ' is

[2021-11-08 22:42] mhaghighat commented on #47174
I installed the released tensorflow-gpu==2.7. This version throws an error when the determinism flag is on (`os.environ['TF_DETERMINISTIC_OPS'] = '1'`):
[code]
And if I comment out the line regarding TF_DETERMINISTIC_OPS, the results are still not reproducible.

[2021-11-08 23:30] MarkDaoust commented on #32912
This is expected behavior.

Normally TensorFlow can handle shapes with unknown dimensions. It really can't handle shapes with an unknown **number of dimensions**.

`from_generator` has the option of setting the shapes in the arguments.

Even if you don't fully know the shape, just setting the rank will often fix this. Fpr example, if you know the output is 3d but you don't know the sizes, set: `tf

[2021-11-09 01:35] zldrobit commented on #52954
@Saduf2019 The link actually helps, and downgrading flatbuffers fixes the problem.

[2021-11-09 02:09] sachinprasadhs commented on #41455
Hi, Is this still an issue? Could you please try in the latest Tensorflow Version and let us know. Thanks

[2021-11-09 02:13] sachinprasadhs commented on #42310
Hi, could you please try again with the recent Tensorflow version and let us know if the issue still exists, Thanks!

[2021-11-09 02:18] aewhite commented on #30659
I don't know where else to put this so I'll post my finding here. First I did find a pairwise distance function (I think by following linked issues here):

[code]

If you want something that is maybe more memory friendly then I imitated what scipy does with this setup:

[code]

I highly doubt my solution is optimal but maybe somebody can improve it.

[2021-11-09 02:25] sachinprasadhs commented on #43097
Usually Eager mode is slower compared to graph mode, to make the best use of performance and optimization you can use Autograph in Tensorflow 2.x , once you implement part of your code with Autograph using @tf.function decorator, that part of code will be executed in graph mode. See more details [here](https://github.com/keras-team/keras/issues/15545).

[2021-11-09 02:42] xiongjiezk commented on #44281
I have the same error and find no way to solve it but turn down the `batch_size`, the error disappears automatically

[2021-11-09 04:09] marsmiao commented on #48753
Have you got anything yet? I'm facing the same question while using the code you wrote (Sparse Operation Kit), I think it maybe caused by Gradient Tape

[2021-11-09 04:16] Jianbing-D commented on #48753
Could you please provide more info about your issue, and directly ask it in this 【[repo](https://github.com/NVIDIA-Merlin/HugeCTR)】?

[2021-11-09 04:32] #52660 closed

[2021-11-09 04:58] kumariko commented on #30758
@hvalev Could you please let us know if this issue still persists ? If it is resolved then please feel free to move this issue to close status ?Thanks!

[2021-11-09 04:58] tilakrayal commented on #52981
@artus-LYTiQ ,
We can see that you have installed tensorflow from conda environment.Installation issues within the Anaconda environment are tracked in the Anaconda repo.Please try to install in new virtual environment from this [link](https://github.com/tensorflow/tensorflow/releases) and let us know if it is still an issue.Thanks!

[2021-11-09 05:00] kumariko commented on #30371
@joaolcaas Could you please let us know if this issue still persists ? If it is resolved then please feel free to move this issue to close status ?Thanks!

[2021-11-09 05:07] kumariko commented on #29739
@weinixuehao Could you please let us know if this issue still persists ? If it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-11-09 05:08] mohantym commented on #52980
Hi @sanatmpa1! Could you please look at this issue ?

[2021-11-09 05:09] GrigoriiTarasov commented on #52983
Thank you!

[2021-11-09 05:09] #52983 closed

[2021-11-09 05:53] jponf commented on #52953
I never though it was so complicated to create the windows wheels, thanks @mihaimaruseac for keeping us posted :)

[2021-11-09 06:11] wangzhongju commented on #36266
Run error in pycharm, but run well in jupyter.

[2021-11-09 06:22] qqwerter opened #52999 "How to specify the output layers during model conversion to TFLite in TF2?"
**Describe the problem**
Is there any way to remove the TFLite_Detection_PostProcess in tf2 ssd mobilenet model during conversion to tflite model？In tf1, there is a option to do so, but it seems that in tf2 the option for specifying the output layers is removed.

In tf1, I can specify the output layers by putting the name in output_array:
input_arrays=["normalized_input_image_tensor"]
output_array

[2021-11-09 06:24] tilakrayal commented on #52988
@drasmuss ,
We can see that you have installed tensorflow from conda environment.Installation issues within the Anaconda environment are tracked in the Anaconda repo.Please try to install in new virtual environment from this [link](https://github.com/tensorflow/tensorflow/releases) and let us know if it is still an issue.Thanks!

[2021-11-09 06:32] #31354 closed

[2021-11-09 08:03] Saduf2019 commented on #52892
@oonisim
The Document clearly says: Encodes each sample in the input into a single array of num_tokens size, containing a 1 for each vocabulary term present in the sample. Treats the last dimension as the sample dimension, if input shape is (..., sample_length), output shape will be (..., num_tokens)

[2021-11-09 08:09] tilakrayal commented on #52994
@josephcoveai ,
Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) from the issue with similar error.It helps.
Also in order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy

[2021-11-09 08:12] bracagranda commented on #32489
@cyrus2018 I am currently facing the same issue where tensorflow is actually running with the GPU:0 that is an Intel Graphic one, while it is not recognizing the NVIDIA one which is the GPU:1. Could you please share the code?

[2021-11-09 08:32] #52642 closed

[2021-11-09 08:53] CLRW97 commented on #32809
adding `opts['output'] = 'file:outfile={}'.format(logfile)` between `opts = tf.compat.v1.profiler.ProfileOptionBuilder.float_operation()` and `flops = tf.compat.v1.profiler.profile(graph=graph, run_meta=run_meta, cmd="op", options=opts)` works for me to get the complete report

[2021-11-09 08:56] glodanclaudia opened #53000 "Wrong Tensorflow Lite link to hexagon_nn_skel.run v1.21 (actually is pointing to the v1.20.0.1)"
Hi, I want to download the hexagon_nn_skel.run v1.21. In the Tensorflow Lite Hexagon guide there are many links to many versions: https://www.tensorflow.org/lite/performance/hexagon_delegate. The problem is that v1.21 is pointing to v1.20. So the question is where can I find the version 1.21 of hexagon_nn_skel.run?
Also, in the guide it is specified that we must use the hexagon_nn libraries with t

[2021-11-09 09:14] chenzhengda opened #53001 "Can I init a XlaBuilder using a existing XlaComputation？"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No): Yes

**Descri

[2021-11-09 09:16] marsmiao commented on #42111
Is tf.control_dependencies with tf.function really make backward with tape.gradient() use the same order that is expected? sorry to bother, but i'm face the same but more complexed situation.

[2021-11-09 09:17] axiqia opened #53002 "TF2.6 compile error with custom eigen repo"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos7
- Mobile device (e.g.

[2021-11-09 09:25] chensterliu opened #53003 "[tflite] any way to extract operator attributes from interpreter"
**System information**
- python 3.8.11
- TensorFlow 2.5.1
- Are you willing to contribute it: No

**Describe the feature and the current behavior/state.**
With current APIs I can extract operator details with

I could get (for example):

I would expect another key "builtin_option" in this dict to expose all attributes of this layer contained in flatbuffer, e.g. fused_activation_function, padding,

[2021-11-09 09:32] #22119 closed

[2021-11-09 09:32] #33800 closed

[2021-11-09 09:34] gqqnbig commented on #44758
In that case, I will close this issue and look at  #49490.

[2021-11-09 09:36] tilakrayal commented on #46615
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-11-09 09:57] Saduf2019 commented on #44758
In that case can this be move to closed status.

[2021-11-09 10:17] vonchenplus commented on #52955
Hello @tilakrayal, I have updated my export code and this model with no train parameters.

[2021-11-09 10:21] sonogoto commented on #52907
I do not think it is the same issue with [link2](https://github.com/tensorflow/tensorflow/issues/35464) since there is no broadcast operation in my code at all.

[2021-11-09 10:32] Saduf2019 commented on #52954
@zldrobit
Thank you for your update, Kindly move this to closed status.

[2021-11-09 10:41] Saduf2019 commented on #52907
@sonogoto
Does link1 help.

[2021-11-09 10:51] jackaraz commented on #52968
Hi to update the problem here I also tried without reassigning `multiplier` tensor in `contraction_step` function by initializing it as a list and appending in it with every iteration. However this approach also ends up with giving the exact same error. Here is the modified function for future reference;

[code]
Any help on how to fix this issue would be greatly appreciated.

[2021-11-09 11:16] mohantym commented on #52987
Hi @Saduf2019! Could you please look into this issue? It is replicating in TF [2.6,](https://colab.research.google.com/gist/mohantym/bdbcb7c7483706e884ac09f932d0ba4e/github_52987.ipynb#scrollTo=Ep2KdhZbrhga) [2.7 ](https://colab.research.google.com/drive/1ZfkNCjNIb4qY5jkeJ3_NYo9q1nLAeQ70?resourcekey=0-lEO7IYc7t-tJOS2o8IDQ7A#scrollTo=Ep2KdhZbrhga)and [Nightly ](https://colab.research.google.com/gis

[2021-11-09 11:32] #52668 closed

[2021-11-09 11:32] mohantym commented on #53000
Hi! @sachinprasadhs! Could you please look at this bug?

[2021-11-09 11:44] sanatmpa1 commented on #52980
@lindadamama,

Can you clarify if you're getting this error while installing tensorflow or while running any code after installing tensorflow?

[2021-11-09 11:44] barabanus commented on #48021
@Saduf2019
I confirm that this's still an issue for v2.7.0
After compilation we've got `build/Debug/tensorflowlite_c.dll`

[2021-11-09 11:52] barabanus commented on #48775
@PINTO0309 Thank you for sharing your implementation of `acos`. I managed to do a similar approximation based on its similarity to `sqrt(1 - abs(x))` + polynome to reduce error, but it would be good to have this common operation implemented within TFLite by default
[code]

[2021-11-09 12:01] lindadamama commented on #52980
running code after installing tensorflow ，
This error occurred
Run print（tf.test.is_gpu_available()）return true
However, an error is reported when running the program
I tried to install tensorflow 2.5~2.7，Reported the same error：cuda out of memeory
I tried to install tensorflow 2.4.1~2.4.4，run normaly
The configuration of my computer is intel I76900HQ ，nvida gtx960M 8GB ，16GB RAM win11 ,cuda11.2
H

[2021-11-09 12:14] DJT777 commented on #52974
I was able to get past the screen freeze by using a swap, but now I am getting this error:

@mohantym

`
ERROR: /home/dylan/tensorflow/tensorflow/lite/python/BUILD:63:10 Executing genrule //tensorflow:tf_python_api_gen_v2 failed (Exit 1): bash failed: error executing command /bin/bash -c ... (remaining 1 argument(s) skipped)`

When I try "python3 -m pip install keras-preprocessing"

Requirement al

[2021-11-09 12:17] lindadamama commented on #52980
anaconda 2021.05 python3.8
从 Windows 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>发送

________________________________
发件人: lin lin ***@***.***>
发送时间: Tuesday, November 9, 2021 8:01:49 PM
收件人: tensorflow/tensorflow ***@***.***>
主题: 回复: [tensorflow/tensorflow] win11 gtx960M tensorflow2.5~ tensorflow2.7 CUDA out of memory (Issue #52980)

running code after installing tensorflow ，

This error o

[2021-11-09 12:36] PINTO0309 commented on #48775
@barabanus
A structurally simple model was generated, and the output results match perfectly. I would like to thank you as well.
[code]
![Screenshot 2021-11-09 21:29:24](https://user-images.githubusercontent.com/33194443/140924447-e9215953-4ae6-4723-baa1-164f7efa8726.png)

The method you suggested is clearly a better method for approximate calculations. However, I have created models that are comp

[2021-11-09 13:05] FernandoDorado commented on #52965
This problem seems to have solved my doubt. I have other derived errors, but they will be in other issues.

[2021-11-09 13:05] #52965 closed

[2021-11-09 13:08] #52941 closed

[2021-11-09 13:45] tilakrayal commented on #40336
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-11-09 13:46] tilakrayal commented on #39831
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 or v2.7 and let us know if you are facing the same error. Thanks!

[2021-11-09 13:47] tilakrayal commented on #39645
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-11-09 14:07] DUPASYoann opened #53006 "py_function isn't working with CompositeTensor (especially TensorArray) tf 2.7.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.6 LTS
- TensorFlow installed from (source or binary): binary (pip install tensorflow)
- TensorFlow version (use command below): .v2.7.0-rc1-69-gc256c071bb2 2.7.0
- Python version: 3.7
- CUDA/cuDNN

[2021-11-09 14:15] sushreebarsa commented on #52999
@qqwerter
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-11-09 14:31] Jeevvenrat opened #53007 "Issue in import tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-11-09 14:32] #23542 closed

[2021-11-09 14:35] #52885 closed

[2021-11-09 14:43] frgfm commented on #51825
Could you point to the files that you expect to need some modifications for this?
If it's within my reach, I'm happy to help as I believe this is really important for the long-term compatibility of TF!

About the `jit_compile`, you mean that grouped convolutions are supported if we trace them?

[2021-11-09 14:57] drasmuss commented on #52988
I'm not installing tensorflow from conda, just cuda/cudnn. Tensorflow is being installed from `pip` like normal. And you can see in the reproduction steps I posted above that we're starting from a new virtual environment (repeated below for convenience).
[code]
Also note that nothing has changed on the conda side of things; we're still using the exact same environment with the same cuda/cudnn libr

[2021-11-09 15:02] mihaimaruseac commented on #52953
One more build left to do, sorry for all these delays :(

[2021-11-09 15:08] JMeyerEngineering commented on #52953
@mihaimaruseac   Thanks for the status updates!

[2021-11-09 15:32] #28309 closed

[2021-11-09 15:32] #30072 closed

[2021-11-09 15:35] mihaimaruseac commented on #52973
We don't have support for these architectures, we are stretched quite thin already with the official builds.

Apple M1 builds were never supported officially by Google.

[2021-11-09 15:38] mihaimaruseac commented on #52895
We don't support ARM architectures at the moment

[2021-11-09 15:44] Jeevvenrat commented on #53007
Hi @sushreebarsa,

I have installed Anaconda 3 which has integrated python 3.7 within it.
Currently i need to install the latest version of tensorflow-base 2.6.0 from the below link for windows 64bit
https://anaconda.org/main/tensorflow-base/files
File Name: tensorflow-base-2.6.0-mkl_py37h9201259_0.tar.bz2
Tensorflow is installed using command
conda install tensorflow-base-2.6.0-mkl_py37h9201259_0

[2021-11-09 15:52] sushreebarsa commented on #53007
@Jeevvenrat Thanks for the update!
Could you please refer to the  official site to [install TF](https://www.tensorflow.org/install/pip#windows_1)  and [Build from source](https://www.tensorflow.org/install/source_windows) and let us know if it helps? Thank you!

[2021-11-09 15:54] tilakrayal commented on #53001
@chenzhengda ,
Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2021-11-09 16:07] schissmantics opened #53009 "model.fit() never calls custom metric"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): custom code
-

[2021-11-09 16:12] FernandoDorado opened #53010 "New problem in TF 2.6 that does not appears in 2.3.1 (TypeError: Input must be a SparseTensor.)"
Hi,
I've been migrating our tensorflow images from 2.3 to 2.6. To my surprise, I've found bugs in the code that didn't appear before. The error is as follows:
[code]

The functions that return this error are the following:
[code]

I've tried ignoring the _fill_in_missing function and some new errors appears related to the batch (these errors also don't appear the TF 2.3 version):
`Cannot add tenso

[2021-11-09 16:32] #52664 closed

[2021-11-09 16:33] sushreebarsa commented on #53010
@FernandoDorado
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-11-09 16:46] Jeevvenrat commented on #53007
Also i want to install the library offline without creating environment or using pip install as the fire wall policies blocks and give an ssl error

[2021-11-09 16:47] FernandoDorado commented on #53010
I've create a [COLAB ](https://colab.research.google.com/drive/1LC1B-wA_evEOi9X8vG2dYk02nVqyO3sT?usp=sharing) notebook in order to reproduce the error.

This is the [link ](https://drive.google.com/file/d/1nV7LGX5A8RroGh3ABPN6Z2agJs0IMsVM/view?usp=sharing) of the data, in case of problems with the data that I've previously loaded into the notebook.

[2021-11-09 16:58] Jeevvenrat commented on #53007
@sushreebarsa please let me know if there is any other dependencies other than pip version greater than 19.0 and c++  redistributable.

[2021-11-09 17:11] sanatmpa1 commented on #52952
I am able to reproduce the issue in colab with `2.6.0`. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/d22ff38bff24c7313182ec3c623c60e2/52952.ipynb#scrollTo=yNgtEmUglESQ)

[2021-11-09 17:15] Jeevvenrat commented on #53007
When i install absl library offline using conda install command and then try to import tensorflow i get the below error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 41, in <module>
    from tensorflow.python.tools import module_util as _module_util
  File "C:\ProgramData\Anaconda3\lib\site

[2021-11-09 17:18] sanatmpa1 commented on #52952
@RuofanKong,

I've found [this](https://github.com/tensorflow/community/blob/master/rfcs/20180824-tf-print-v2.md#supported-input-types) documentation, which states that

Can you take a look on it? Thanks!

[2021-11-09 17:20] #52069 closed

[2021-11-09 17:26] Jeevvenrat commented on #53007
In the end when i install all the libraries which is giving no module named, i get a different error.
(base) C:\Temp\anaconda library>conda install googleapis-common-protos-1.53.0-py37h9ae81ce_1.tar.bz2

Downloading and Extracting Packages
############################################################################################################### | 100%
Preparing transaction: done
Verifying tra

[2021-11-09 18:31] wangpengmit commented on #44758
Closing this issue and tracking the documentation update in #49490. Feel free to reopen.

[2021-11-09 18:31] #44758 closed

[2021-11-09 18:32] #52260 closed

[2021-11-09 18:41] callumm-graphcore commented on #52277
Hi @cheshire, thank you for looking into this. I would still expect to be able to make the first call to `tf.random.shuffle` produce different results across multiple runs, even if that meant changing the seed each time. It'd be great if we could use the TF random seed for this purpose.

Thank you for pointing me to the stateless RNG ops and the RNG generators, @wangpengmit. I will use those when

[2021-11-09 18:48] ghosinski opened #53013 "tflite-model-maker: audio_classifier's DataLoader loads .wav files as int32, resulting in TypeError when training model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom Code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version (use command below): 2.7.0 (also repeated on 2.6 and 2.5)
- Python version: 3.8

**Describe the current behavior**

Following this tutorial: https://github.com/tensorflow/tenso

[2021-11-09 19:39] nneubert commented on #52933
This bug seems to have been forgotten in the pipeline.

[2021-11-09 20:27] jvishnuvardhan commented on #44214
@charlielito Is this still an issue for you?

I tried with `TF2.7` and I don't see that much difference as it had with `TF2.3`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/c8b3fb82636f21965d2d7b36b8b081fd/44214.ipynb) is a gist for reference. Thanks!

[2021-11-09 20:53] jvishnuvardhan commented on #42475
@TAIYISONG Looks like this was resolved in recent TF versions. I ran your code with `TF2.7` and the computation times are similar. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/c8ddfaadda2ae1bfb75e8b3cd8bf01e2/training_speed_dif_tf2_vs_torch.ipynb). Thanks!

[2021-11-09 21:13] jvishnuvardhan commented on #37729
@hankcs Looks like this was resolved in recent TF versions. I checked with `TF2.7` with CPU and GPU. [Here](https://colab.research.google.com/gist/jvishnuvardhan/5b8b89f8d3874e1df20d4dccde39b235/untitled36.ipynb) is a gist for reference. Thanks!

Results are very different where pytorch is 10x slower than TF. I am not sure whether this is something related to colab. Will check it on my local soon.

[2021-11-09 22:32] #42423 closed

[2021-11-09 22:33] jxu commented on #43693
CUDA is officially supported for Ubuntu 20.04 here https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/

I think the packages in apt are named similarly but idk if named exactly the same

[2021-11-09 23:26] bayesian-mind commented on #29509
@haozha111 any updates on this?

[2021-11-09 23:27] bayesian-mind commented on #29509
@haozha111 any updates on this?

[2021-11-09 23:32] #52290 closed

[2021-11-10 00:12] mohantym commented on #52974
Hi @DJT777! Sorry for the late response . You should try again with Bazel 3.7.2 and GCC 7.3.1 .
[code]

[2021-11-10 00:25] mohantym commented on #52542
Hi @bhpatray! Could you refer these threads for building shared library using CMake.[ link1](https://stackoverflow.com/questions/17511496/how-to-create-a-shared-library-with-cmake),[link2](https://surfertas.github.io/cmake/cpp/projecteuler/2019/05/01/cmake.html).Please post this issue on Stackoverflow/[TF forum ](https://discuss.tensorflow.org/)for further assistance.Thank you!

[2021-11-10 00:36] #52954 closed

[2021-11-10 00:47] sachinprasadhs commented on #52958
Closing this since no information is available. Thanks.

[2021-11-10 00:47] #52958 closed

[2021-11-10 01:38] sonogoto commented on #52907
I'm afraid not

[2021-11-10 02:03] mohantym commented on #39447
Hi @ms-ims !
We are checking to see whether you still need help in this issue . Supported Microcontrollers can be found from [here](https://www.tensorflow.org/lite/microcontrollers#supported_platforms).Please post this on Stackoverflow/[TF forum ](https://discuss.tensorflow.org/)for further assistance. Thank you!

[2021-11-10 02:07] sachinprasadhs commented on #52985
Could you please refer [this](https://www.tensorflow.org/install/source#gpu) table and try the versions mentioned for Tensorflow 2.7 and let us know if you are still facing error. Thanks

[2021-11-10 02:20] mohantym commented on #53013
Hi @ghosinski! Could you try again after casting your input data then ? Attaching similar issues for your reference .[link1](https://stackoverflow.com/a/62282237/11530462),[link2](https://github.com/tensorflow/tensorflow/issues/33077) Thanks!

[2021-11-10 02:38] daverim commented on #52933
Hi nneubert@, this can happen when a bias is used in another operator as an input or weight. This issue was fixed in 2.5, so I would suggest you run the tflite converter from 2.5 with representative dataset again on your saved model.

[2021-11-10 02:50] ghosinski commented on #53013
Hey @mohantym thanks so much for the follow up! The input to train a tflite_model_maker audio_classifier model is just raw .wav audio files. For example, the [tutorial ](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/tutorials/model_maker_audio_classification.ipynb) uses [these ](https://storage.googleapis.com/laurencemoroney-blog.appspot.com/birds_dataset.zip) wav file

[2021-11-10 02:57] kumariko commented on #37806
I could reproduce the issue with TF 2.7 . Please, find the gist [here](https://colab.research.google.com/gist/kumariko/8a66abfc6f34386539a6e68d03b5b7f9/untitled7.ipynb#scrollTo=fPzJ0Pz_8T8A). Thanks!

[2021-11-10 03:10] kumariko commented on #37795
Was able to reproduce issue in Tf 2.7, please find the gist [here](https://colab.research.google.com/gist/kumariko/8a42c0c222e29898235da0b9a5ec87a1/untitled7.ipynb#scrollTo=fPzJ0Pz_8T8A). Thanks!

[2021-11-10 03:17] Bmoradi93 commented on #43947
I solved this problem by installing cuDNN v8.2.0 (April 23rd, 2021), for CUDA 11.x.
Download the Debian package and use the following instructions to install it.
https://docs.nvidia.com/deeplearning/cudnn/install-guide/index.html

[2021-11-10 03:21] mohantym commented on #53013
Hi @sanatmpa1! Could you look at this issue . Attaching [Gist f](https://colab.sandbox.google.com/gist/mohantym/1069c2eec8a17574d0184138cee547d5/untitled183.ipynb)or reference.

[2021-11-10 03:27] yarri-oss commented on #30896
@SamuelMarks following up from todays ML Community Day, did you want to author an RFC instead of filing an issue: https://github.com/tensorflow/community/blob/master/governance/TF-RFCs.md

[2021-11-10 03:37] theadactyl commented on #30896
I second @bhack on creating a forum thread about this proposal to find an RFC sponsor.

[2021-11-10 04:28] kumariko commented on #37656
Was able to reproduce issue in Tf 2.7, please find the gist [here](https://colab.research.google.com/gist/kumariko/99780d7b0e651df8f45be967ddb68b82/untitled7.ipynb#scrollTo=R-FZoQlKLuxr). Thanks!

[2021-11-10 04:32] #52692 closed

[2021-11-10 04:32] #52681 closed

[2021-11-10 04:34] kumariko commented on #37652
Was able to replicate the issue with TF v2.7, please find the gist [here](https://colab.research.google.com/gist/kumariko/2aec36644ad00433f93d649557748d61/untitled259.ipynb#scrollTo=PBEgk3qwH9rc) ..Thanks!

[2021-11-10 04:42] Jackwin commented on #52887
@paynecl Quite excited to get this news . Looking forward to this feature. Thanks ahead:)

[2021-11-10 04:48] SamuelMarks commented on #30896
Good idea. I spoke with @fchollet a couple of days ago about this… François Chollet: do you want to be my RFC sponsor?

[2021-11-10 04:56] limhj23 commented on #43800
Hi @mdanatg
Back again to ask for your help. I have been away from this issue for a while due to other issues, and then now I started to work on this again recently.
So, the mode 1 and 2 explained above, I managed to get the code converted by the transformation call which looks like below. To help you to understand better, it is about generating anchor boxes and here I am trying to map images with

[2021-11-10 06:54] TAIYISONG commented on #42475
@jvishnuvardhan Thanks for the update. So glad to see the issue is resolved in 2.7.0!
@mdanatg Thanks for taking this issue previously, also many thanks to the engineers who fixed this!

[2021-11-10 06:54] #42475 closed

[2021-11-10 07:02] AnishKumarNayak opened #53017 "Interconnect Issue + NaN Error"
When I run python train.py (attached here) it does not give a Y next to the GPU when Interconnect Matrix is checked. Following which it runs the CPU version, and NaN error is attained after a few steps. i have not seen any such issue when training on NVIDIA Tesla K40c (attached as sm25epc.log) or Tesla T4 (attached as nohup.txt
[nohup.txt](https://github.com/tensorflow/tensorflow/files/7510510/noh

[2021-11-10 07:06] AnishKumarNayak commented on #53017
[job.21631.txt](https://github.com/tensorflow/tensorflow/files/7510565/job.21631.txt)
Error file attached here