[2019-08-21 18:23] akanyaani opened #31852 "Tensorflow2.0 distributed training gives error :- A non-DistributedValues value 8 cannot be reduced with the given reduce op ReduceOp.SUM."
<em> **Getting the error when i am running distributed training**  as described in this tutorial (https://colab.research.google.com/github/tensorflow/docs/blob/r2.0rc/site/en/r2/guide/distribute_strategy.ipynb#scrollTo=IlYVC0goepdk)</em>

**System information**
- OS Platform: - Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.0-beta
- Python versi

[2019-08-21 18:25] WindQAQ commented on #31842
That's the reason why! Because `tf.function` will re-trace the graph due to the variable sequence lengths or variable batch sizes, the number of cached graphs will increase over time if it do not see this shape before., and this OOM occurred. To avoid re-tracing, you might want to specify the `input_signature`. For detailed explanation, please refer to
https://www.tensorflow.org/beta/tutorials/eag

[2019-08-21 18:29] bdzyubak opened #31853 "Cannot load saved model with tf.keras.models.load_model"
**System information**
- Wrote custom code for simple model
- Ubuntu 16.04.6 LTS
- Tensorflow 2.0.0-beta1 installed from binary using pip
- Python 3.7, no CUDA or GPU

Loading a saved model results in error:
__init__() got an unexpected keyword argument 'reduction'

**Code to reproduce the issue**

[code]

**Other info / logs**
Traceback (most recent call last):
  File "/home/m047659/Programs/pych

[2019-08-21 18:30] mihaimaruseac commented on #31804
Let's try minimizing this code, or add some print statements around to see where the lock/break happens.

[2019-08-21 18:31] akanyaani commented on #31842
Thanks for your prompt response.
But for that I was calling this method for prevent tensorflow to create new graph tf.compat.v1.get_default_graph().finalize()

But let me try with the input signature

[2019-08-21 18:35] jalexstark commented on #31187
Thanks again for the grepping, BTW. I will probably add a guard such as __clang_major__ >= 7

[2019-08-21 18:50] aadamson opened #31855 "Building TensorFlow 1.14 with local GRPC via TF_SYSTEM_LIBS"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Debian 9
- Mobile device

[2019-08-21 19:06] ymodak commented on #31795
By default, TensorFlow maps nearly all of the GPU memory of all GPUs (subject to CUDA_VISIBLE_DEVICES) visible to the process and particular TF Session.
Therefore you have to kill the process and not only the tf session.
If using python interpreter then you have to exit your python interpreter.
If using jupyter notebook then kill the kernel.

[2019-08-21 19:15] keunwoochoi commented on #12940
Same problem. @HouseOfFinwe Did you figure out to fix this?

[2019-08-21 19:42] akanyaani commented on #31842
It tried with `@tf.function(input_signature=[tf.TensorSpec(shape=(None, None), dtype=tf.int32)])` with variable sequence length but still, it is happening, but **when I run with a fix sequence length it works fine** but it will cost extra computation.

[2019-08-21 19:58] alextp commented on #31709
You can use tf.tensor_scatter_nd_add etc to update slices without concats, which are dog slow.

[2019-08-21 20:01] nealjack commented on #29792
Hi,

I'm looking at the master branch (856af529) and can not find the .tflite model or .cc data file. Is there a different commit or branch that has these files?

[2019-08-21 20:19] nealjack opened #31859 "Tensorflow lite: micro_vision missing model data"
On the latest commit (eb7b5e6) on master branch, the mico_vision example is still missing `person_detect.tflite` as well as `person_detect_model_data.cc`. This problem is mentioned in issues #29792 and #29524. The only resolution mentioned in these closed issues are mentions that it "should be fixed now" without mention to a commit that fixes it or a pointer to the files existing in a branch.

If

[2019-08-21 20:24] ezhulenev commented on #31639
We track Eigen head pretty close, current revision is `8071cda5714d` https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl#L178.

Are you talking about https://github.com/tensorflow/tensorflow/blob/master/third_party/eigen3/gpu_packet_math.patch? That one should probably go into Eigen main repo, if you can prepare a PR to Eigen bitbucket, you can assign it to http://bitbuck

[2019-08-21 20:24] ezhulenev commented on #31639
Based https://bitbucket.org/eigen/eigen/commits/ on we are just 1 commit away from head

[2019-08-21 20:33] Niels-ns commented on #12940
@keunwoochoi I did not, please let me know if either of you managed.

[2019-08-21 20:58] keunwoochoi commented on #12940
@HouseOfFinwe Ok thanks. https://github.com/tensorlayer/tensorlayer/issues/416#issuecomment-374180396 says the speed issue was fixed in tf 1.5, but I'm having it with 1.13 now. Do you remember which versions have you tried?

[2019-08-21 21:07] keunwoochoi commented on #12132
Same problem here, especially with @chenbiaolong. Have you figured out to fix it?

[2019-08-21 21:23] mahmoodn opened #31866 "error: 'is_final' is not a member of 'std'"
With
  bazel 0.26.1
  gcc 7.4
  cuda 10.1 update 2

and the latest git clone of tensorflow, I hit the following error at the bazel build command

[code]

[2019-08-21 21:25] HattoriSan commented on #31804
I added print statements and it seems that this is the variable initialization that fails.
the print("\n2\n") is not reached.

[code]

[2019-08-21 21:25] bmongia commented on #30728
Any updates on this issue? This bug is preventing me from upgrading to tf1.14.

[2019-08-21 21:29] amapic opened #31867 "Bug on last batch of first epoch using TPU with pretrained-model on google colab"
Hi,

I am trying to train a mobileNetV2 coming from tf.keras but the training stops on the last batch of the first epoch:
Epoch 1/15
1/2 [==============>...............] - ETA: 10s - loss: 2.7432 - acc: 0.1406
Don't mind about the number of batch, adding some more  changes nothing

Here's the error :
Compilation failure: Asked to propagate a dynamic dimension from hlo %convert.283 = f32[8,80,80,32

[2019-08-21 21:39] jvishnuvardhan commented on #31813
@bionicles Can you open a PR in `addons` repo [here](https://github.com/tensorflow/addons/pulls) and close the issue here. Thanks!

[2019-08-21 21:42] aakbar5 commented on #29792
@nealjack You need to run makefile as it will be downloaded during build process.

[2019-08-21 22:04] mihaimaruseac commented on #31804
Can you change code to use eager execution instead? (The default in 2.0 and after)

[2019-08-21 22:16] ymodak commented on #29429
This is fixed with latest version if tf-nightly
Out in tf-nightly version '1.15.0-dev20190821'
[code]

[2019-08-21 22:16] #29429 closed

[2019-08-21 22:23] Jbiloki commented on #31662
@oanush Thank you for the link, I will have to implement these operators myself to compile the graph!

[2019-08-21 22:23] #31662 closed

[2019-08-21 22:24] kraglemylego commented on #26354
Why was this closed, it still doesn't work? I don't understand this output

[2019-08-21 22:25] Jbiloki commented on #31649
@gargn I see, thanks!

[2019-08-21 22:25] #31649 closed

[2019-08-21 22:25] dbonner commented on #31187
I tried:
CC=/usr/lib/llvm-9/bin/clang CXX=/usr/lib/llvm-9/bin/clang++ bazel build --config=opt --define=using_clang=true --define=using_cuda_clang=true --config=v2 --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" //tensorflow/tools/pip_package:build_pip_package

This built for longer and seemed to get past the error we're talking about here.  However, due to incompatibilities with clang and gcc (I think) it

[2019-08-21 22:33] bas-aarts commented on #31866
see https://github.com/tensorflow/tensorflow/commit/09c588de14f02bc2f07e6de8fca01093f92ba4f0

[2019-08-21 22:43] jvishnuvardhan commented on #31816
@gorjanradevski I cannot reproduce the issue with `!pip install tf-nightly-gpu-2.0-preview`. I think this was resolved in `!pip install tf-nightly-gpu-2.0-preview`. Please take a loot at the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/78ed85d5cce4286d7bd8d04247f4c819/tf_31816_fit_generator.ipynb).

I am closing the issue. Please feel free to open if the issue persists again. T

[2019-08-21 22:43] #31816 closed

[2019-08-21 22:49] gowthamkpr commented on #31169
Closing this issue as it has been answered. Please additional comments and we can open the issue again. Thanks!

[2019-08-21 22:49] #31169 closed

[2019-08-21 23:01] KichangKim opened #31870 "TF_CPP_MIN_LOG_LEVEL does not work with TF2.0 dev20190820"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64 1903
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0-

[2019-08-21 23:02] ymodak commented on #31147
This is fixed with latest version of TF nightly build '1.15.0-dev20190821'. Thanks!

[2019-08-21 23:02] #31147 closed

[2019-08-21 23:05] KichangKim opened #31871 "TF 2.0 dev20190820 consumes more memory than dev20190504 when training keras model using train_on_batch()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64 1903
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0-

[2019-08-21 23:10] sgambient commented on #31671
MAX_TOPK_K is the problem. What is this value, is there a way to adjust it ?

[2019-08-21 23:21] plopresti commented on #31866
@bas-aarts I get the same failure. (Doesn't everyone? Why not?) Reverting 09c588d fixes it for me.

[2019-08-21 23:23] ymodak commented on #31519
This is fixed with latest version TF 2.0 nightly
Output in TF 2.X nightly version 2.0.0-dev20190821
[code]

[2019-08-21 23:28] jvishnuvardhan commented on #31026
@fsx950223 I agree that memory is increasing. What is the reason behind compiling multiple times with same loss and optimizer? Thanks!

[2019-08-21 23:29] alextp commented on #24453
@tatianashp allowing TF to share CUDA memory with other python libraries would be really useful. Do you know who could work on this?

[2019-08-21 23:33] Niels-ns commented on #12940
Sadly I do not

[2019-08-21 23:46] dbonner commented on #31187
When I restore platform.h to its original state and run:

CC=/usr/lib/llvm-9/bin/clang CXX=/usr/lib/llvm-9/bin/clang++ bazel build --config=opt --config=cuda --config=v2 --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" //tensorflow/tools/pip_package:build_pip_package

I get the same build error we're talking about (in tensorflow/lite/experimental/ruy/pack_avx512.cc).

[2019-08-21 23:50] MarkDaoust commented on #31752
@cheshire : FYI.

I've got a fix inflight. Thanks for reporting.

[2019-08-21 23:50] #31752 closed

[2019-08-21 23:55] cheshire commented on #31752
We do not recommend using `XLA_*` devices, as their usage can cause various issues, that's why the page was deleted. Instead, the recommended way is to use auto-clustering, documented at https://www.tensorflow.org/xla

[2019-08-21 23:56] gowthamkpr commented on #31830
Was able to reproduce the error. Github gist is [here](https://colab.research.google.com/gist/gowthamkpr/5687a543ffcf0b2d2a72a2a731152063/untitled104.ipynb)

[2019-08-22 00:12] sgambient commented on #31671
nvinfer1::TopKLayer::validate ()  is called  when tf.nn.top_k (    input, k=1, sorted=True, name=None) is   present. Setting k  =< 3000, seems to fix the problem.

[2019-08-22 00:25] fsx950223 commented on #31026
Maybe I want to change trainable layers or distribute strategy that I need to compile it again. Although I can solve the problem by run python script several times, it will cost more time to train the model.

[2019-08-22 00:38] manuprasad07 opened #31872 "Compiling from source, error with finding cuda"
- OS Platform and Distribution: Centos 7
- TensorFlow installed from: source
- TensorFlow version: 1.15
- Python version: 2.7.5
- Installed using virtualenv: virtualenv
- Bazel version: 0.26.0
- GCC/Compiler version: 7.3.0
- CUDA version: CUDA 10.1
-cuDNN version: 7.6.2
- TensorRT: 5.1.5
- GPU: Tesla T4

I'm trying to install tensorflow from source and tried v1.14 and v1.15. When running ./configu

[2019-08-22 00:40] ekuznetsov139 commented on #31449
More information:

* During placement, in core/common_runtime/colocation_graph.cc, placer creates node 93
[code]

and assigns it to a Member

[code]

And it assigns node 588
[code]

to member

[code]
Colocating 93 {name:'roi_layer/map/while/map/TensorArray_1' id:93 op device:{/job:localhost/replica:0/task:0/device:GPU:0} def:{{{node roi_layer/map/while/map/TensorArray_1}} = TensorArrayV3[clear_aft

[2019-08-22 00:45] paanguin opened #31873 "Parts of graphs are missing during tf.lite.TFLiteConverter"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

- OS Platform and Distribution : Linux Ubuntu 16.04
- TensorFlow version (use command below): r1.14
- Python version:
- Bazel version (if compiling from source):
- GCC/Compiler version : gcc 5.4.0
- CUDA/cuDNN version: 10.0 / 7
- GPU model and memory: Nvidia GeForce GTX TITAN

[2019-08-22 01:14] AaronLiu92 opened #31874 "Compute library for hardware acceleration"
Does google has their own compute library for hardware(arm cpu, gpu, fpga, etc.) acceleration? If google has it, where is it located at? which directory? Thanks!

[2019-08-22 01:22] #31696 closed

[2019-08-22 01:29] zwenju commented on #31519
Great Thanks.

[2019-08-22 01:29] #31519 closed

[2019-08-22 01:31] zwenju commented on #31751
Great thanks!

[2019-08-22 01:31] #31751 closed

[2019-08-22 01:33] mrgloom commented on #27023
On `1.14.0` only this works:

[code]

[2019-08-22 01:34] zwenju opened #31875 "Aanconda python 3.7 could not find tf-nightly-2.0-preview"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
Anaconda
python 3.7
conda 4.7.10

**Describe the problem**

**Provide the exact sequence

[2019-08-22 01:44] grouchysmurf commented on #28710
Can confirm, ran a training run in 1.13.1 and had this issue, upgraded to 1.14.0 without doing anything else and now works correctly.

[2019-08-22 01:55] PatrickXYS opened #31876 "Invalid Link for TensorFlow Keras Official Documentation"
## URL with the issue:
https://www.tensorflow.org/guide/keras
https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/guide/keras.ipynb
https://github.com/tensorflow/docs/blob/master/site/en/guide/keras.ipynb

## Description of issue (what needs changing):
The last two links are directed to 404, which means they don't exist with valid colab files or gitlab files.

[2019-08-22 02:09] divahno commented on #27880
The same here:

[code]

TF2 Beta1 Keras model with post-training quantization:
[code]

TFLite model inference in notebook works without issues. Problem with `edge_compiler` being cryptic.

[2019-08-22 02:19] facaiy commented on #31582
Sean, I think the bug has been fixed by dc3534c

[2019-08-22 02:21] aaronlyt commented on #28924
Any updates?

[2019-08-22 03:07] zrss commented on #28639
@jvishnuvardhan , sorry for the late reply, we suppose it is resolved now after upgrading the nccl to 2.4.7

[2019-08-22 03:08] hwenjun18 opened #31877 "graph_transforms/transform_graph failed with shared backbone and multiple input node"
**I try to optimize my model with tf transform_graph tool, and failed**

bazel-bin/tensorflow/tools/graph_transforms/transform_graph \
--in_graph=inference.pb \
--out_graph=inference_opt.pb \
--inputs='input_image_1:0,input_image2:0,input_image_3:0’ \
--outputs='output_node_1:0,output_node_2:0’ \
--transforms='
  remove_nodes(op=Identity, op=CheckNumerics)
  fold_batch_norms
  fold_old_batch_norms

[2019-08-22 03:37] jeinlee1991 commented on #23815
I met the same problem, and i have solved it now. I think it is caused by the implicit use of default graph. So, to solve it, just change the line of "tf.get_default_graph()" to "tf.Graph()" . What to say, it really works for me. It may help to solve yours.

[2019-08-22 03:47] ZhuoranLyu commented on #29733
@adaber Same question, here is my code, wondering if this is the correct way to do so.

`for (int i = 0; i < 100; i++) { `
  `	  tf_utils::RunSession(session, input_ops, input_tensors, out_ops, output_tensors);  `
`	  tf_utils::DeleteTensors(output_tensors);  `
`}`

[2019-08-22 03:47] ekuznetsov139 commented on #31449
Okay, I think I see the big picture.
We have a graph containing an operation that can be placed on the GPU, but whose gradient can only be placed on the CPU.

When constructed normally via model.compile/model.fit, it works because the graph is completely constructed in one go.

When we load weights, the graph is partially constructed inside K.batch_set_value, using only a subset of the nodes. Sinc

[2019-08-22 03:54] kkimdev commented on #30713
FYI, It's just not implemented yet https://github.com/tensorflow/tensorflow/blob/c9443f07d2a5a5febcbaa415e27f871553661036/tensorflow/python/ops/math_grad.py#L53

I think this could be confusing to users as it returns `None` without any explanation.  This is a simple example but for a complex real-world numerical script, it could take good amount of time figuring out which part was the problem.

Wo

[2019-08-22 04:42] paanguin commented on #31873
I found some answers for my self. I'm sorry for a premature issue making.

I could get some log messages by setting following environment variables in the converting code.

[code]

This gives me some log messages that seems related to the converting.

Among them I found following part, says constant folding.

[code]

I didn't fully checked the correctness of 'float_val's, but it seems that the con

[2019-08-22 04:42] #31873 closed

[2019-08-22 05:29] gadagashwini commented on #31825
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-08-22 05:32] gadagashwini commented on #31831
@mariusz-r Please elaborate the issue and context. Thanks!

[2019-08-22 05:33] gadagashwini commented on #31837
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-08-22 05:44] jinmel commented on #31603
preflight:
https://github.com/jinmel/lookahead-tensorflow

[2019-08-22 05:53] VirRajpurohit commented on #31788
Changing NUM_DETECTIONS to 1917
throws error

[code]

[2019-08-22 06:15] oanush commented on #31842
@akanyaani ,
Can you please provide a code snippet to reproduce the issue reported here.Thanks!

[2019-08-22 06:18] mariusz-r commented on #31831
I would like to experiment more with `micro_vision` example in TF lite micro and therefore I would like to have the full `person_detect` model. Is it available somewhere?

[2019-08-22 06:33] lamberta commented on #31876
Thanks for the report. We're in the process of moving the docs around for the TF2 RC.
Those docs now live here in github:
- https://github.com/tensorflow/docs/blob/master/site/en/r1/guide/keras.ipynb
- https://colab.sandbox.google.com/github/tensorflow/docs/blob/master/site/en/r1/guide/keras.ipynb

But, really, they should point to the `r2.0rc` branch to avoid this: https://github.com/tensorflow/d

[2019-08-22 06:57] jackwish opened #31879 "Lite: is the "MinimumRuntimeVersion" list still under maintenance?"
*This is an issue "compiled by eyes in original source", so there is no templeted issue questions*.

Hi, I notice that the "[GetMinimumRuntimeVersionForModel](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/toco/tflite/op_version.cc#L26)" doesn't include **a complete list** of supported Ops of TFLite when I am adding new op. I am curious that if that list is still under mainte

[2019-08-22 06:58] KyotoSunshine commented on #22226
Any update on this?

[2019-08-22 07:08] apremgeorge commented on #23755
Hi I have the same issue,
I have build the keras Sequential model, and I have Tornado API, when I run the API I get
[code]

May I have some help please, Thanks

[2019-08-22 07:12] mmmmayi commented on #31609
Thanks for your reply, but when I try the error still exist, I don't know why. Here are the whole log:
[code]

[2019-08-22 07:13] hjnnjh commented on #8785
Thank you, it's useful.

[2019-08-22 07:17] CDNova opened #31880 "Converting .pb to tflite GetOpWithOutput-Error"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platfo

[2019-08-22 07:35] paulbauriegel commented on #31169
So the answer is then,  Reshape (-1,) is just not possible?

[2019-08-22 07:39] shenzhencheng opened #31881 "no attribute python"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-08-22 07:39] shenzhencheng opened #31882 "no attribute python"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-08-22 07:48] Zantares opened #31883 "Can TF add a C++ kernel for PRelu?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Red Hat 4.8.5-16
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.4,

[2019-08-22 07:51] septra commented on #24407
@seanpmorgan In case you were successful in converting the Faster-RCNN model to TFLite could you please provide some details for that? As per my research the the implementation of the ops required to convert the models is still not there and as of now only SSD models can be converted to TFLite.

[2019-08-22 07:53] mahmoodn commented on #31866
OK. I fixed that. I am looking for a working version of tensorflow. I hit another error on 1.14.0 which is described in another thread.

[2019-08-22 07:56] mahmoodn opened #31884 "declared output erros while building"
How can I fix these errors with tensorflow 1.14.0 and bazel 1.24

[code]

[2019-08-22 08:07] ZhuoranLyu commented on #27441
@samhodge Exactly the same situation. Unless I am using a RTX2080Ti under windows 10. However, if I set this `options.config.mutable_gpu_options()->set_per_process_gpu_memory_fraction(fraction);`  in my code. It gives me the error
[code]
 Any idea on this? I compiled from source.

[2019-08-22 08:17] ghost opened #31885 "Enabling model training on Android"
The current support of tensorflow for Android does not include the binaries required for training. Is there a way by which we can include the required function's files ( for training basic image recognition model) in the libtensorflow-core.a?
Or any other method by which we can enable training?

[2019-08-22 08:17] JiayiFu commented on #31639
Thanks for your reply!

[2019-08-22 08:17] #31639 closed

[2019-08-22 08:26] LaCandela commented on #26502
I am still having this issue with pycharm 2019.1.3
I cannot import keras from tensorflow. "from tensorflow import keras" doesn't work either.
I am using the nightly build of TF2.0: tf-nightly-gpu-2.0-preview 2.0.0.dev20190821

[2019-08-22 08:40] xwzhong commented on #31885
I am curious why you wanna train model in Android? the Android calculation ablity is hard to support it. @kukzile

[2019-08-22 08:57] anujajakhade opened #31887 "//tensorflow/contrib/distributions/python/kernel_tests/independent_test.py fails with assertion error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 s390x
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command belo

[2019-08-22 09:16] ravikyram commented on #31871
I have tried on Colab with TF version 2.0.0-dev20190820  and was able to reproduce the issue.I am able to train the model using 2.0.0-dev20190504 without any problem.Please, find the [gist ](https://colab.research.google.com/drive/1y4Z77hmagOig2fqVN1tnp2vOnXHdhuZg)here.Thanks!

[2019-08-22 09:16] #31880 closed

[2019-08-22 09:19] gadagashwini commented on #31819
I could able to reproduce the issue with Tensorflow 1.14.0. Please see the gist [here](https://colab.research.google.com/drive/1RvCNPW8pDR0vUD23d2Q8rzqjYWMQb5sj). Thanks!

[2019-08-22 09:20] veqtor commented on #18266
I wrote a little utility function to get rid of lock files
[code]

Note that what you want to do is to create a single dataset iterator and keep using it:
[code]

[2019-08-22 09:26] ZhuoranLyu commented on #23542
Same error. Wondering how to solve the problem.

[2019-08-22 09:26] ZhuoranLyu commented on #23542
@ttdd11 Same issue. Did you fix this?

[2019-08-22 09:27] gadagashwini commented on #31852
@akanyaani I tried executing the colab with ReduceOp.SUM and ReduceOp.MEAN but i didn't get any error. Please can you try once and let us know if issue still persists. Thanks!

[2019-08-22 09:43] anujajakhade commented on #31887
@martinwicke Can you please comment on this?

[2019-08-22 09:46] HattoriSan commented on #31804
I'll do it in the day and come back to you. thanks

[2019-08-22 10:04] faerics commented on #31441
@aaroey, soory for the delay,
I'm not a CUDA pro by myself, but according to the [post](http://arrayfire.com/zero-copy-on-tegra-k1/) I linked one needs to use different allocation functions (namely, `CudaHostAlloc` instead of `CudaMalloc` and then `cudaHostGetDevicePointer` instead of `CudaMemcpy`).

The post is from 2014, not sure that functions' names sre the same nowadays.

[2019-08-22 10:07] akanyaani commented on #31852
Hi @gadagashwini

It works on colab because you are not running on multiple GPU,
ReduceOp.MEAN is working when I am running on GPU, but not working when I am running on multiple GPU.

[2019-08-22 10:27] ceteke commented on #31839
First of all, thank you for your response.

This is the build function of M

[code]

Build function of the RNN which inherits ```tf.keras.layers.Layer```.

[code]

Build function of the Multi RNN Cell which inherits ```tf.nn.rnn_cell.MultiRNNCell```.

[code]

Buld function of a single RNN cell which inherits ```tf.nn.rnn_cell.RNNCell```

[code]

[2019-08-22 10:33] rvallari1 commented on #23471
Also, I am able to build tf1.12 with mkl support from source , but I require an updated version of tf[1.13.1 or higher]..

[2019-08-22 10:37] Raju-567 opened #31889 "how to add new label(say mobilephone) to the existing Image classification pre trained model :android"
I'm working on Android project to use Image classification , my requirement is to add new label (say mobilephone )to the existing Image classification(detection) pre trained model , is that possible ? If yes how to do that . I see when we train new category it does not add to the existing pre trained model ,example referred is mentioned below

https://codelabs.developers.google.com/codelabs/recogn

[2019-08-22 11:08] gadagashwini commented on #31852
@akanyaani Thanks for the update.

[2019-08-22 11:09] oanush commented on #31824
@vikasrathod4299 ,
Please refer this [link](https://www.tensorflow.org/install/source_windows).Thanks!

[2019-08-22 11:10] 0julio0 commented on #30810
I solved delete the lines 174 till 178 of ../object_detection/utils/variables_helper.py

def get_global_variables_safely():
  """If not executing eagerly, returns tf.global_variables().

  Raises a ValueError if eager execution is enabled,
  because the variables are not tracked when executing eagerly.

  If executing eagerly, use a Keras model's .variables property instead.

  Returns:
    The re

[2019-08-22 11:10] abdullah-online commented on #31795
Restarting the kernel ensures that the first call always succeeds. I guess the everything is working as intended.

[2019-08-22 11:10] #31795 closed

[2019-08-22 11:12] ravikyram commented on #31850
Looks like the code is incomplete.Can you please provide full code snippet to reproduce it on our environment.Thanks!

[2019-08-22 11:18] ravikyram commented on #31853
Looks like the code is incomplete.Can you please provide full code snippet to reproduce it on our environment.Thanks!

[2019-08-22 11:19] #31887 closed

[2019-08-22 11:20] anujajakhade commented on #31887
Discussion going on a similar fix in this [PR ](https://github.com/tensorflow/tensorflow/pull/26692)

[2019-08-22 11:30] oanush commented on #31875
@zwenju ,
When tried installing latest TF-nightly-2.0-preview worked fine, can you kindly check.Thanks!

[2019-08-22 11:31] samhodge commented on #27441
Expose those symbols in your script of all the symbols you are exposing.

What project are you working towards?

[2019-08-22 11:34] oanush commented on #31882
Duplicate of the issue #31881

[2019-08-22 11:34] #31882 closed

[2019-08-22 11:35] gadagashwini commented on #31870
@KichangKim I tried on Colab with Tensorflow 2.0.0-dev20190820. Please see the colab [gist](https://colab.research.google.com/drive/12nzwoqnttwa4KFXR-xKs2MlnaDDWVghQ) and let us know the expected result. Thanks!

[2019-08-22 11:54] KichangKim commented on #31870
@gadagashwini Thanks for testing. But gist's result differ to my local result.
Here is my output:
[code]
Can you try my code on local machine?

[2019-08-22 11:57] ravikyram commented on #31835
Can you try building TensorFlow from source using Bazel since support for cmake is no longer there. You can follow the steps mentioned in [TensorFlow website](https://www.tensorflow.org/install/source_windows) for reference. Let us know you are stuck anywhere. Also, see the below link if it helps you.Thanks!
https://gist.github.com/meteorcloudy/8e5f1aab7c7fa87b16ae28e6f8fd3fd2

[2019-08-22 12:08] gadagashwini commented on #31627
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-22 12:08] #31627 closed

[2019-08-22 12:08] oanush commented on #31848
@pandrey-fr ,
Can you please provide the gist of colab for 2 scenario mentioned ?Thanks!

[2019-08-22 12:11] #31272 closed

[2019-08-22 12:16] zwenju commented on #31875
I retest it.
It is not working with python 3.7
It works for python 3.6.
Do you know  the reasons ?

[2019-08-22 12:18] gadagashwini commented on #31774
@UrosTo, I tried replicating the issue, looks like the repository has some dependencies. Will it be possible to provide the minimal code snippet to reproduce the reported issue. Thanks!

[2019-08-22 12:19] oanush commented on #31695
Closing since the issue is resolved.Thanks!

[2019-08-22 12:19] #31695 closed

[2019-08-22 12:21] gadagashwini commented on #31264
@lujq96,
Did you try the @alextp's solution. Thanks

[2019-08-22 12:29] oanush commented on #31779
@samhithaaaa ,
Can you please downgrade gcc version to 4.8, see this [link](https://www.tensorflow.org/install/source#linux). Thanks!

[2019-08-22 12:32] tensorflowbutler commented on #26512
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-08-22 12:32] tensorflowbutler commented on #30456
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-08-22 12:32] ShellRox commented on #31449
That's very interesting, so subset of regular operations that are temporarily held with `K.batch_set_value` during weight assignment have complete support for GPU - therefore it is assumed that the whole graph, including the complement set containing gradient operations should be colocated on GPU device (however, not all gradient operations in this complement set have GPU kernels).

I still don't

[2019-08-22 12:32] inscite commented on #23471
@rvallari1 May I request the error log you have seen? Is it same with your previous log?
Meanwhile, how about the MPI directory lookup while tensorflow setup configuration?
Below is an example of my previous configuration output.
See and check if there exist any differences.

[code]

[2019-08-22 12:34] ravikyram commented on #31790
@rishabhsahrawat
Thanks for providing the code.

[2019-08-22 12:39] seovchinnikov commented on #22994
In some cases you can do remove_attribute(attribute_name=some_attr)  before to strip unused and unsupported attr, but it has to be unused by tf and you should verify it

[2019-08-22 12:39] zwenju opened #31891 "TF2.0 'NoneType' object has no attribute 'shape'"
windows 10
anaconda python 3.7

**Describe the current behavior**
![image](https://user-images.githubusercontent.com/27112868/63515144-ba7cad80-c51c-11e9-93cb-167363519e4f.png)

Problem
Line 32 input_x[:,1] occurs the error.

**Code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate the problem.

[code]

**Other info / logs**
Include any logs o

[2019-08-22 12:45] gadagashwini commented on #29971
@tokotchd This is fixed in Tf 1.14.0. Please take a look at colab gist [here](https://colab.research.google.com/drive/1Q7HkreVszvG6ygXqlQrUoZI0ZRHzsX4m). You want to give a try. Thanks!

[2019-08-22 12:51] oanush commented on #31881
@shenzhencheng ,
Can you please provide the link for which the issue is being faced ?Thanks!

[2019-08-22 12:57] ravikyram commented on #31832
I have tried on colab with TF 1.14 and was able to reproduce the issue.Please, find the [gist ](https://colab.research.google.com/drive/15MX0aH_W8nyU02743Xt7JlyfziwWhUw3)here.I tried in nightly versions and i am getting the below error `ValueError: Cannot use the given session to evaluate tensor: the tensor's graph is different from the session's graph.`Thanks!

[2019-08-22 13:02] pandrey-fr commented on #31848
@oanush

1st case: run the code I provided, plus:
[code]

2nd case (you need to restart Python): run the code I provided, plus:
[code]

[2019-08-22 13:09] ahvahsky2008 opened #31892 "java.lang.IllegalArgumentException: Expects arg[0] to be float but string is provided (java)"
I have own trained model and use label image demo code.

[code]
I see error `Exception in thread "main" java.lang.IllegalArgumentException: Expects arg[0] to be float but string is provided`. This model works perfect in python, but i have issue in java

[2019-08-22 13:18] harsathAI commented on #31
Freenode IRC server has a #tensorflow channel, it helps. You guys join and make the channel big enough for Queries on the instant.

[2019-08-22 13:26] UrosTo commented on #31774
@gadagashwini I am not really sure what you are asking me to provide now.
Can you please explain a bit?

[2019-08-22 13:29] amapic commented on #31867
Tell me if you have question abbout my code.

[2019-08-22 13:30] ravikyram commented on #31820
Can we track with that issue#31359 and close this one. It will help us to follow easily. Please let us know. Thanks!

[2019-08-22 13:35] ravikyram commented on #31817
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Thanks!

[2019-08-22 13:40] rvallari1 commented on #23471
COMMAND:
bazel build --config=mkl -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mavx512f --copt=-mavx512pf --copt=-mavx512cd --copt=-mavx512er //tensorflow/tools/pip_package:build_pip_package

ERROR:
ERROR: /home/vallari/tensorflow-master/tensorflow/contrib/mpi_collectives/BUILD:40:1: C++ compilation of rule '//tensorflow/contrib/mpi_collectives:python/ops/_mpi_ops.so' failed (Exit 1)
ten

[2019-08-22 13:45] csachs opened #31893 "[TF2] tf.saved_model.save fails on models re-using other models"
**System information**
- Have I written custom code: Yes.
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.0.0-dev20190821
- Python version: 3.7.3
- CUDA/cuDNN version: 10.0
- GPU model and memory: GTX 1080 Ti

This bug might be related to the behavior observed by @cysmnl in https://github.com/tensorflow/tensorflow/issues/2

[2019-08-22 13:59] rishabhsahrawat commented on #31832
Thank you for confirming the issue. @ravikyram

[2019-08-22 14:15] rishabhsahrawat commented on #31162
With the latest nightly build, I am able to use larger dimension (max 1000) but not bigger. Also, after raising the issue I started building the model in Tf1.14 and it also has the same issue only so value upto 400 works but not higher.

[2019-08-22 14:19] jalexstark commented on #31187
Recent versions of platform.h have the following lines:

#if RUY_PLATFORM(X86_ENHANCEMENTS) && RUY_PLATFORM(X86) &&                    \
    defined(__AVX512F__) && defined(__AVX512DQ__) && defined(__AVX512CD__) && \
    defined(__AVX512BW__) && defined(__AVX512VL__)
#define RUY_DONOTUSEDIRECTLY_AVX512 1
#else
#define RUY_DONOTUSEDIRECTLY_AVX512 0
#endif

Your file looks different. Would you check

[2019-08-22 14:22] yfq512 commented on #29675
@s4sarath  Hi, I have a question about other script ，When run ...'tf.compat.v1.set_random_seed(1)', it will raise error'module 'tensorflow.compat' has no attribute 'v1'', Can you help me? Waiting your reply!

[2019-08-22 14:33] notabee opened #31894 "tf.keras.layers.BatchNormalization() throws TypeError: Incompatible types: <dtype: 'resource'> vs. int64. Value is 0"
[code]

Throws error::

[code]
UPDATE::
this works but if you set the trainable boolean to True, it throws the same error
[code]

[2019-08-22 14:42] shreyance opened #31895 "How to fix the ConcatOp dimension error when trying to compile a model using tensorflow XLA AOT?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2019-08-22 15:10] LaCandela opened #31896 "tf-2.0.0rc0-gpu tf.dataset bug"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 LTS
-

[2019-08-22 15:11] HattoriSan commented on #31804
here is my code with eager execution. It is still failling due to variables. I add several print statement and it fails on the first call of ````def new_fc_layer(...)```` function. ````print(\nlayer 1\n)```` is not showing. all other print are ok untill then.

[code]

[2019-08-22 15:12] tanzhenyu commented on #29675
Depending on your tf version. compat.v1 is introduced only after 1.14. So if you're in 1.14 you shouldn't see the error. Otherwise it would pop up.

[2019-08-22 15:21] adaber commented on #29733
Hi ZhuoranLyu,

The order of operations seems ok. The overall correctness depends on the implementation of RunSession and DeleteTensors, of course. Those are probably two custom functions defined in a namespace.

[2019-08-22 15:29] mihaimaruseac commented on #31804
Can you check the same code using the pip-installed tensorflow-gpu package?

Can you test this if using the r2.0 branch or master? On both of these eager is default, so you don't need to get it from contrib. Can also try `pip install tensorflow_gpu==2.0.0-beta1`.

Make sure the pip installs are in separate virtualenv so you can switch between them?

Can you test using a much simpler script, such a

[2019-08-22 15:33] DocDriven commented on #31802
For clarification, I am not using some fancy layers, just simple dense layers:

[code]
@liyunlu0618
I have tried this with different activation functions, as a similar keras model does seem to have problems with the leaky_relu activation function. Unfortunately, this is not the case here and I get the same error.

I have attached the frozen graph protocol buffer, so that you can try out the conver

[2019-08-22 15:44] alextp commented on #30713
That is a very serious bug. ops.NotDifferentiable is to be used only on purpose when an operation is not differentiable at all; for operations which are differentiable you do get an exception if you neither register a gradient nor mark it as notdifferentiable.

However at this point removing this annotation would likely break existing code, so we should fix this by implementing the gradient. Can y

[2019-08-22 16:02] plopresti commented on #31866
@mahmoodn What was the fix?

[2019-08-22 16:05] mihaimaruseac commented on #31881
Doesn't seem to have any new info beside the template

[2019-08-22 16:05] #31881 closed

[2019-08-22 16:08] kkimdev commented on #30713
sg, started.

[2019-08-22 16:41] bionicles commented on #31813
@jvishnuvardhan @yongtang @seanpmorgan done, closed, here is updated code just for future searchers:

[code]

[2019-08-22 16:41] #31813 closed

[2019-08-22 16:44] jvishnuvardhan commented on #31867
@amapic Please provide a standalone code to reproduce the issue. Please use any toy dataset if the data you are using is private. Thanks!

[2019-08-22 16:44] preethivenkatesh commented on #31550
We submitted a few fixes to the 1.15 branch, could you please test your use case in 1.15 branch?

[2019-08-22 16:45] plopresti opened #31900 "'is_final' is not a member of 'std'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux RedHat 7.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: master branch
- Python version: N/A
- Installed using virtualenv? pip? conda?: N/A
- Bazel version (if compiling from source

[2019-08-22 16:46] plopresti commented on #31900
Reverting 09c588de fixes this for me.

Yes this is a duplicate of issue #31866, which was closed even though the problem remains.

[2019-08-22 16:48] plopresti commented on #31866
Re-filed as #31900, since this is definitely not fixed.

[2019-08-22 16:48] Donald-Su commented on #25274
Hi, I meet the same issue, did you solve this issue?

[2019-08-22 16:57] kevinthecheung opened #31901 "Handle AddV2 and FusedBatchNormV3 in tflite_convert"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.0.0b1

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

https://tfhub.dev/google/magenta/arbitrary-image-stylization-

[2019-08-22 17:05] BernardinD commented on #30881
Is there any progress on this?

[2019-08-22 17:13] akarmi opened #31902 "[tflite] Support INT8 quantisation for UNPACK with TFLITE_BUILTINS_INT8 OpsSet"
**System information**
- TensorFlow version (you are using): 1.14 and built from sources, master branch
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
The new TFLiteConverter post-training quantisation flow, as described in https://www.tensorflow.org/lite/performance/post_training_quantization#full_integer_quantization_of_weights_and_acti

[2019-08-22 17:17] tanzhenyu commented on #25349
@josiahbjorgaard @seungjaeryanlee Gently ping and let me know if you need additional help.

[2019-08-22 17:20] jdduke commented on #31829
This path is effectively deprecated. Is there a reason you cannot use bazel?

[2019-08-22 17:24] jdduke commented on #31836
Hi @laohur. You cannot treat the .so output from a cc_library as a self-contained shared library. You need to put all of the deps into a cc_binary. See also [this build rule](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/BUILD#L454) and what it expands to.

[2019-08-22 17:24] #31836 closed

[2019-08-22 17:27] xilenteyex commented on #26340
@prb12 , for a Shape type op fro example, will it copy data to GPU or it will just keep the tensor in host memory and return pointer to the reshaped tensor ?

[2019-08-22 17:31] Starscream9559 commented on #17101
What about CUDA 10/10.1/10.1 Update 1/10.1 Update 2 ?
For CUDA 10.1, it now says cudart64_100.dll that is missing.

[2019-08-22 17:37] kevinthecheung commented on #31901
Looks like it's in master.

[2019-08-22 17:37] #31901 closed

[2019-08-22 17:38] plopresti commented on #31900
Update: The -std=c++0x flag is coming from inside Bazel.

Setting the environment variable BAZEL_CXXOPTS to "-std=c++14" makes the error go away. (So presumably you can set it to -std=c++0x to reproduce this issue.)

Seems like the LLVM build ought to be setting its build options explicitly?

[2019-08-22 17:39] ilhamfp commented on #30895
#31268 has been merged. I think we can close this?

[2019-08-22 17:47] haozha111 commented on #31879
Hi Jack,

Thanks for taking a look into this!

1) When you add a new op, you also need to update the map in op_version.cc, with 'kPendingReleaseOpVersion' as a placeholder for the actual TF version.
2) The compare logic is a bug. I will fix this soon. Sorry about that!
3) We currently don't block model from execution based on min_version, I think that's intended. It could be in the user code that

[2019-08-22 17:47] jvishnuvardhan commented on #31026
@fsx950223 When you change anything related to what you listed or anything related model, optimizer, and loss function, model need to be compiled and need to train the model again. If I am correct, it was adding only 1MB when you recompile the given example. Thanks!

[2019-08-22 17:49] HattoriSan commented on #31804
I create a virtual env with only tensorflow-gpu installed with:

````sudo pip3 install tensorflow-gpu````

and there is nothing that fails. there is simply no improveent in training time. I guess this is because pip install tensorflow-gpu 1.14, which work with CUDA 10.0 but I have CUDA 10.1

So, I guess this is because of my compiled version of tensorflow-gpu ?

[2019-08-22 17:50] haozha111 commented on #31821
Hi,

TOCO currently doesn't support control-flow ops and TensorList ops. We are currently working on a new converter to support all those use cases.

Are you trying to convert an RNN model?

[2019-08-22 17:51] lamberta commented on #31876
Links in TF1 guides and tutorials have been updated to point to the `r2.0rc`branch:
- https://colab.research.google.com/github/tensorflow/docs/blob/r2.0rc/site/en/guide/keras.ipynb
- https://github.com/tensorflow/docs/blob/r2.0rc/site/en/guide/keras.ipynb

[2019-08-22 17:51] #31876 closed

[2019-08-22 17:55] mihaimaruseac commented on #31804
None of the released pips support CUDA 10.1

[2019-08-22 17:56] jdduke commented on #31840
This information is not yet exposed from NNAPI, sadly, and won't be available in the near future.

[2019-08-22 17:56] #31840 closed

[2019-08-22 17:58] jdduke commented on #31788
Unless you attach your converted model there's not much we can do to help without knowing more about its topology, inputs and outputs.

[2019-08-22 18:02] byaman73 commented on #23590
Hi Can you send me your current version

Hi I would really appreciate if you could send me your gpu version of tf.roll. My email is grekavdel@hotmail.com

[2019-08-22 18:05] choochtech opened #31903 "Fix Tensorflow Lite Documentation"
Hi,

On https://www.tensorflow.org/lite/guide/python the sample Interpreter code is wrong

![image](https://user-images.githubusercontent.com/2943831/63538358-9b562f80-c4cc-11e9-8cac-d81786a1acad.png)

"from tflite_runtime import Interpreter"  should be changed to

"from tflite_runtime.interpreter import Interpreter"

Thanks

Hakan

[2019-08-22 18:09] jdduke commented on #31843
Feel free to propose a fix that allows setting the SDK as optional.

[2019-08-22 18:16] haozha111 commented on #31694
Sachin, do you mind taking a look on this (since this is related with exporting ssd graph)? Thanks!

[2019-08-22 18:18] HattoriSan commented on #31804
Yes, that is why I compiled tensorflow by my own to support CUDA 10.1. But I assume that my compiled version is bad as tensorflow-gpu installed via pip does not fail.

[2019-08-22 18:23] edloper commented on #31545
Which of these is the problem that you're trying to address?

1. You'd like to get the size of some dimension of a ragged tensor.
2. You'd like to do get the size of some dimension of an *optionally* ragged tensor, in a way that works for both tensors and ragged tensors.

For problem 1:

* You can get the size of the outermost dimension with `rt.nrows()`
* You can get the size of inner uniform dim

[2019-08-22 18:33] josiahbjorgaard commented on #25349
@tanzhenyu Somebody else should take over mine. I haven't had a chance to get anywhere with it.

[2019-08-22 18:40] mpavlovic commented on #25185
I have the same issue with:
Windows 10 1903
Python 3.6.6 and 3.6.9
Cuda 10.0
cudnn 7.6.1
tensorflow-gpu==2.0.0-beta1

[2019-08-22 18:42] jvishnuvardhan commented on #31291
@ I couldn't reproduce the issue with `tf-nightly`. Please check the [ gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/b350996a893a58e8a54cad0f3cf1a253/tf_31291_keras_opt.ipynb). Thanks!

[2019-08-22 18:47] jvishnuvardhan commented on #31476
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-22 18:47] #31476 closed

[2019-08-22 18:52] yzhang93 commented on #31709
@alextp thanks for your suggestion, but I think this may not be a proper solution for this issue. In this particular case, I need to assign several small matrices (e.g. 3x3) to a large matrix (e.g. 21x21). Something similar to this:
`
F[:3, 9:12] = -Rot_prev
    F[3:6, :3] = skew(g)
    F[6:9, 3:6] = torch.eye(3)
    F[3:6, 12:15] = -Rot_prev
    F[3:6, 9:12] = -v_skew_rot
    F[6:9, 9:12] = -p_sk

[2019-08-22 18:52] tanzhenyu commented on #31291
Thanks @jvishnuvardhan ! @xuevin it seems to be fixed after 1.14

[2019-08-22 18:52] #31291 closed

[2019-08-22 19:17] alextp commented on #31709
I think scatter_nd_add can let you get one index for a whole submatrix (hence the nd part)

[2019-08-22 19:19] prb12 commented on #26340
A `Shape` op does not need to look at any of the values in a tensor.  The metadata lives in the hosts memory, no matter what TF device the op runs on.  It returns a tiny int32 (or int64?) tensor whose values are the dimension sizes  - these always live in host memory, even on the GPU device (one of TF's strange foibles - but it exists precisely because of things like this since much TF gradient co

[2019-08-22 19:36] Donald-Su commented on #24828
I had the same issue with tensorflow-gpu (1.13.1)  , set the environment variable `TF_FORCE_GPU_ALLOW_GROWTH` to true, it's worked for me.

[code]

environment：
[code]

[2019-08-22 19:39] mdanatg commented on #30895
Yep, looks like this can be closed. Thanks everyone!

[2019-08-22 19:39] #30895 closed

[2019-08-22 19:39] ekuznetsov139 commented on #31449
I don't know if it's _assumed_, or simply that no one yet realized this scenario is possible.

As far as I understand, when the graph is initially constructed, weight tensors are provided with initializers. They are told "if you are asked to execute but you don't have any contents, go to this RNG and pull some values out of it to fill yourself." But nothing actually happens until you start the ses

[2019-08-22 19:39] mihaimaruseac commented on #31804
I'd try to use the compiled version with the investigation mentioned above.

[2019-08-22 19:46] yzhang93 commented on #31709
@alextp From api guide, I only saw two ways to use this function: either add individual elements to a tensor by index, or insert entire slices of a higher rank tensor all at once.

Could you give an example how to use this function to implement this? Thanks!
[code]

[2019-08-22 19:48] mikejcroc opened #31905 "mnist_cnn.py major performance loss after switching to TF 1.14"
**System information**
- Windows 10 Enterprise 64-bit
- TensorFlow GPU installed via Anaconda
- TensorFlow GPU version: 1.14
- Python version: 3.7.3
- CUDA version: 10.0.130
- cuDNN version: 7.6.0
- GPU model and memory: NVIDIA Quadro P600 (2 GB)

**Describe the current behavior**
The mnist.py script achieves a test accuracy of <85% after 12 epochs of training when using tensorflow-gpu=1.14.

**De

[2019-08-22 19:52] DoumanAsh commented on #31843
There is something unclear to me currently.

Is it bazel, who requires SDK in addition to NDK in order to build android related projects, or tensorflow?

[2019-08-22 19:59] mdanatg commented on #31823
AutoGraph doesn't currently override `map`, but the usage you describe could be added, in a fashion similar to how we handle `zip` and `enumerate`.

[2019-08-22 20:14] #31895 closed

[2019-08-22 20:18] jvishnuvardhan commented on #31243
@yarik1988 I cannot reproduce the issue. For me first block of code was taking 11 sec and second block was taking 19 sec. However, when you run the ops on `cpu` with `with tf.device('/cpu:0')` then second block takes only 9 sec. Please take a look at the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/30b5952afbfa1ba6e6c19d7595e78c85/tf_31243_load_model.ipynb#scrollTo=lS2n6-L9ulp8

[2019-08-22 20:30] jdduke commented on #31843
I suspect you'll need to modify something in this file: https://github.com/tensorflow/tensorflow/blob/master/third_party/android/android_configure.bzl

[2019-08-22 20:38] haozha111 commented on #31844
The 'TFLite_Detection_PostProcess' is a custom operator that you need explicitly register, otherwise the interpreter can't find the kernel of this op. You can register by setting converter.allow_custom_ops = true.

[2019-08-22 20:38] dbonner commented on #31187
Yes, I did a git clone and tried out building 25 hours ago.  Then I was using a different version of platform.h to the one available now.  I just now did a new fresh git clone and have the new verion of platform.h.
I still get the same error at _mm512_storeu_epi32.  I did not use clang as cuda compiler in ./configure.  I built using:
bazel build --config=opt --config=cuda --config=v2 --cxxopt="-D_

[2019-08-22 20:48] vlawhern commented on #31905
This issue appears to be due to a regression in the 'Adadelta' optimizer in TF1.14. I tested this with TF1.13 and 1.14 with Adadelta and Adam and noticed the following:

In TF1.13 with Adadelta = script works as intended
in TF1.14 with Adadelta = script doesn't work
in TF1.14 with Adam = script works as intended

[2019-08-22 20:57] vlawhern commented on #31905
Upon further investigation this is due to a change in the default learning rate in Adadelta in TF1.14, see Issue #31024. Changing the learning rate to 1.0 when in TF1.14 fixes the issue.

[2019-08-22 21:05] jalexstark commented on #31187
Just a moment - now at _mm512_storeu_epi32()?

That is more different that it might at first appear. Which line?

I think that cuda means clang. There is a recent change (may not have propagated yet) that disables for Clang < version 8.

Nonetheless, it would be useful to know the exact error. I have a way of working around the other mess, but that might not help for epi32. There _used_ to be an a

[2019-08-22 21:06] gowthamkpr commented on #31891
The error is caused in the line `z0 = grad(y, input_x[:,1])` as there is a shape mismatch
Plese find the [github gist](https://colab.research.google.com/gist/gowthamkpr/a1acdcf518d8930f81cde19acfe98ac3/gradients.ipynb) where I have solved this problem and let me know if it helps. Thanks!

[2019-08-22 21:08] mikejcroc commented on #31905
Thanks for looking into this! That seems to be the issue.

[2019-08-22 21:08] #31905 closed

[2019-08-22 21:10] jvishnuvardhan commented on #30770
@dlepzelter It is always suggested to use input_shape which is the best way to tell model what is expected. Model understand the shapes and infer the shape for the following layers.

`The model needs to know what input shape it should expect. For this reason, the first layer in a sequential model (and only the first, because following layers can do automatic shape inference) needs to receive infor

[2019-08-22 21:10] #30770 closed

[2019-08-22 21:20] jvishnuvardhan commented on #31014
@baiztencale I cannot reproduce the issue. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/b2220efcb17b4e40f8cb91f7d4753937/tf_31014_lstm.ipynb). This might have been resolved recently in `tf-nightly`. Thanks!

[2019-08-22 21:42] ebrevdo commented on #9368
We have an internal solution for better handling of second derivatives with `tf.custom_gradient`; will try modifying the non-sparse xent gradient to use that and report back here.

[2019-08-22 21:48] bionicles opened #31907 "please add tensor factorization"
**System information**
- TensorFlow version (you are using): 2b1
- Are you willing to contribute it (Yes/No): I want to but I don't think I'm qualified

**Describe the feature and the current behavior/state.**
tensorflow is about tensors but there's no built-in tensor factorization.
i do believe this should be a core feature of the framework...what do you think?

**Will this change the current api

[2019-08-22 22:33] ymodak commented on #31770
Closing this since its resolved in latest tf 2.0 nightly. Feel free to reopen if having problems. Thanks!

[2019-08-22 22:33] #31770 closed

[2019-08-22 22:34] reliefs commented on #31431
something new ?

[2019-08-22 22:36] gowthamkpr commented on #31893
Was able to reproduce the issue. Here's the colab [notebook](https://colab.research.google.com/gist/gowthamkpr/ba0632fc201dd096c95a70c6586a06f8/untitled106.ipynb)

[2019-08-22 22:55] jdduke commented on #31470
Hi @VirRajpurohit, for TFLite please follow [this detection example](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android), not the one in tensorflow/examples/android. The latter is for TensorFlow Mobile, and will soon be removed.

[2019-08-22 22:55] #31470 closed

[2019-08-22 23:09] bananabowl commented on #30306
My guess is that a deadlock occurred within keras.utils.OrderedEnqueuer (which is used when the generator is a sequence). Please confirm if you experience the same stall with fit_generator or evaluate_generator. Also please check if keras.experimental.terminate_keras_multiprocessing_pools returns any useful errors: https://www.tensorflow.org/api_docs/python/tf/keras/experimental/terminate_keras_mu

[2019-08-22 23:12] tanzhenyu commented on #25349
@josiahbjorgaard Alright.

[2019-08-22 23:19] dbonner commented on #31187
Sorry I pasted the end of the traceback.  The start of the error message
incluedes: "‘_mm512_loadu_epi8’ was not declared in this scope" early on,
which is the same error:  The whole error message is:

ERROR:
/home/daniel/tensorflow/tensorflow/lite/experimental/ruy/BUILD:271:1: C++
compilation of rule '//tensorflow/lite/experimental/ruy:kernel' failed
(Exit 1)
In file included from
tensorflow/lite

[2019-08-22 23:30] zwenju commented on #31891
No, this  is not my expected solution.

I know  that   z0 = grad(y, input_x)  will make the code run.

What  wanted is that   we only want part of derivatives with input_x,
so  I write it as    z0 = grad(y, input_x[:. 0]).

Could you solve this bug   without changing Z0 = grad(y, input_x[:,0]) ?

[2019-08-22 23:33] jvishnuvardhan commented on #31790
@rishabhsahrawat I cannot reproduce the issue. If it was fixed already, please close the issue. we will track any related issues in the [other issue](https://github.com/tensorflow/tensorflow/issues/31832) that raised. Thanks!

[2019-08-22 23:57] fsx950223 commented on #31026
It's a example. In fact, it increased 8g memory in my project

Vishnuvardhan Janapati <notifications@github.com<mailto:notifications@github.com>> 于 2019年8月23日周五 上午1:56写道：

@fsx950223<https://github.com/fsx950223> When you change anything related to what you listed or anything related model, optimizer, and loss function, model need to be compiled and need to train the model again. If I am correct,

[2019-08-23 00:01] jvishnuvardhan commented on #31609
@mmmmayi I couldn't reproduce the issue. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/ed91d93d0fa43a8a210881da87443b62/tf_31609_tflite.ipynb).

1. Based on the error trace, you are running the code with `tensorflow-gpu` right? Can you try with 'tensorflow-cpu` only to see whether the issue caused due to any `cuda` related file.

2. Can you run the gist provided

[2019-08-23 00:31] AeroWRX opened #31911 "Data Augmentation from PREPROCESSING_FUNCTION_MAP?"
How do we utilize Data Augmentation features in the Tensorflow API as indicated from the PREPROCESSING_FUNCTION_MAP in preprocessor_builder.py? Is there a file we have to modify in the /object_detection folder or is there additional command lines we need to be aware of?

[2019-08-23 00:45] alexminnaar opened #31912 "Not able to build GPU custom op example"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or b

[2019-08-23 00:53] apremgeorge commented on #13715
Hi I have the similar issue,
I have build the keras Sequential model, as a separate run, it is working fine, after saving the model, i do prediction from Tornado API, when I run the API I get
[code]
Using TensorFlow 1.13.0 and keras 2.2.4, Both working fine when building the model.
May I have some help please, Thanks

[2019-08-23 01:18] miaout17 commented on #29124
The original reported issue should be resolved by commit aca24307eba.
Could you try it again with the next TF nightly build? Thanks!

[2019-08-23 01:18] miaout17 commented on #27882
The original reported issue should be resolved by commit aca24307eba.
Could you try it again with the next TF nightly build? Thanks!

[2019-08-23 01:25] #31582 closed

[2019-08-23 01:51] banbishan commented on #31821
yep, i trying to convert an rnn model. and i have use tf.lite.experimental.nn.bidirectional_dynamic_rnn instead of tf.nn.bidirectional_dynamic_rnn, use tf.lite.experimental.nn.TfLiteLSTMCell instead of tf.nn.rnn_cell.LSTMCell references https://tensorflow.google.cn/lite/convert/rnn. But it doesn't seem to be working.

[2019-08-23 02:02] ilhamfp commented on #31823
@mdanatg But how to handle if we need to apply `map` to more than 2 datasets? Unlike `Dataset.zip`, [`map` in Datasets](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/data/ops/dataset_ops.py#L1099-L1214) can only take 1 Dataset.

[2019-08-23 02:28] ZhuoranLyu commented on #27441
@samhodge Hi Sam, I just replied you in another issue. Thank you for your reply.

[2019-08-23 02:56] cuongdv1 commented on #28000
I have same issue, were anyone able to resolve the issue ?
Thanks

[2019-08-23 02:59] oanush commented on #31602
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-23 02:59] #31602 closed

[2019-08-23 03:01] oanush commented on #31614
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-23 03:01] #31614 closed

[2019-08-23 03:16] whhu opened #31913 "All_reduce of collective_ops hangs in a distributed environment"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux CentOS 7.6.1810
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): No
- TensorFlow version (use command below): v1

[2019-08-23 03:19] jackwish commented on #31879
Thank you for the detailed explanation! I am agree you that user code may need to check that version, but the list is not complete, not sure it can really help :)

Btw, is the versioning here shall sync with schema, and/or kernel register?

[2019-08-23 03:36] YuBicheng commented on #31835
Thanks for answering my question!No offence, but you give me a python lib build tutorial. I'm asking for a c++ lib build tutorial.
As I say,I tried to use bazel to build c++lib, and it's works. But after that I can't find  any “*.h” files in build fold.
Should I just try to copy "*.h" from source code by shell, and build my own
And there are too many .lib files in build fold, which should be linke

[2019-08-23 03:52] WindQAQ commented on #31891
Hi @zwenju, to my best knowledge, it's impossible to make your code run without changing `z0 = grad(y, input_x[:, 0])`.

1. If you use keras functional API, you have to make sure *all tensor operations* are done in `tf.keras.layers.Layer` or its subclass, including *slicing operation* as you use `input_x[:, 0]`.

2. Moreover, since *slicing operations* create a new tensor, if you try to compute gr

[2019-08-23 04:01] ravikyram commented on #31610
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-23 04:01] #31610 closed

[2019-08-23 04:09] oanush commented on #31896
@LaCandela ,
In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here. Thanks!

[2019-08-23 04:20] gunan commented on #31678
I can see that swig.exe failed. But I see no output from swig command itself.

@meteorcloudy @laszlocsomor any ideas?

[2019-08-23 04:22] oanush commented on #31884
@mahmoodn ,
Please refer this [link](https://www.tensorflow.org/install/source).
Also provide the other platform details like operating system, architecture.Thanks!

[2019-08-23 04:22] gadagashwini commented on #31774
@UrosTo, We need a complete code to investigate the issue. It would be good if you provide the complete code with all the operation. Thanks!

[2019-08-23 04:37] VirRajpurohit commented on #31788
Hello @jdduke
I am defining the link below.
It has converted tflite file, label file and original .pb file from which model converted.

[THIS IS THE LINK](https://drive.google.com/open?id=174Bibbh3MiSzBdBRuSubQ_wp5cSDytDw
)
Please assist.

[2019-08-23 04:44] cuongdv1 commented on #28000
@jianlijianli
Do you have any information for resolving this issue? please help
This issue occurs when I convert quantized model (using quantization aware training) to TFLite

[2019-08-23 04:46] dattv commented on #28515
@achandraa
Recently I tried to do quantization aware training and do Toco converter to Tflite model with a network having batch_norm layers. but I got the error below.
`"TOCO failed. See console for info.\n%s\n%s\n" % (stdout, stderr))
tensorflow.lite.python.convert.ConverterError: TOCO failed. See console for info.
2019-08-23 09:53:37.518330: I tensorflow/lite/toco/graph_transformations/graph_tra

[2019-08-23 04:50] zh794390558 opened #31915 "tf logging error"
**System information**
[code]

**Describe the current behavior**
using `evaluate_generateor` do evaluation, tf logging has error on flush info to stream.

**Describe the expected behavior**

**Code to reproduce the issue**

**Other info / logs**
[code]

[2019-08-23 05:08] jvishnuvardhan commented on #31698
Automatically closing this out since I understand it to be resolved by the https://github.com/tensorflow/tensorflow/pull/31897 (merged already), but please let me know if I'm mistaken.Thanks!

[2019-08-23 05:08] #31698 closed

[2019-08-23 05:32] #31472 closed

[2019-08-23 05:37] ravikyram commented on #31892
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-08-23 05:44] DoumanAsh commented on #31843
Ok, thx, I'll test various approaches and will be back with PR

[2019-08-23 05:54] bstriner commented on #28582
FWIW, I got this error right now on tf-nightly-gpu. Upgraded tf-estimator-nightly and tb-nightly and the problem went away.

[2019-08-23 06:00] gadagashwini commented on #31894
I could reproduce the issue with Tensorflow 1.14.0 and tf-nightly. Here is the [gist](https://colab.research.google.com/drive/1CL4dYS0LLbTyoe7Dt8MQ_kD2yA3o6u3T).
@iamnotahumanbecauseiamabot, Which version of tensorflow you using. Thanks!

[2019-08-23 06:00] 004307ec commented on #30753
@bonlime
[code]
This two lines might allow you to run CNN networks with TF 1.14 + CUDA 9.
But it might cause strange behavior with LSTM models, where TF tries to allocate extensive VRAM and fails).

[2019-08-23 06:17] sidd-hart commented on #28326
I was facing the same issue with tensorflow-gpu version 2.0-beta, and figured this is definitely a tensorflow-cuda-cudnn version mismatch problem. The issue occuered because my default Python  came from Anaconda, whereas I was installing CUDA/CUDNN as instructed on  TF-gpu installation page. I installed the latest versions of both CUDA and CUDNN, but, every time I checked the versions shown were o

[2019-08-23 06:20] oanush commented on #31848
Issue replicating with TF version-2.0beta,please find the [gist](https://colab.research.google.com/drive/1JZxvN7aQvUjW0wnCM4tdZ2cADoWLJI-V) of colab.Thanks

[2019-08-23 06:24] gadagashwini commented on #31903
Similar issue [#31369](https://github.com/tensorflow/tensorflow/issues/31369).  Will close this now, we can track the solution on that thread.Thanks!

[2019-08-23 06:24] #31903 closed

[2019-08-23 06:32] errord commented on #31842
focus on

[2019-08-23 06:38] rishabhsahrawat commented on #31790
@jvishnuvardhan If you think the approach (`make_initializable_iterator`) I used to access each element in the dataset for tokenizing then we can move to next issue mentioned [here](https://github.com/tensorflow/tensorflow/issues/31832) and close this one. But if you think this is not the good way of performing tokenizing then please share your suggestions.

[2019-08-23 06:40] jurneo opened #31917 "Intermittent crash with CUDA_ERROR_LAUNCH_FAILED failure"
### System information
- **OS Platform and Distribution**:
on (Linux-based) ML-engine runtime version 1.12, which means it is using TensorFlow 1.12, with Python 3.6.
- **CUDA/cuDNN version**:
CUDA Version: 10.1, with cuDNN: libcudnn.so.7.4.2
- **GPU model and memory**:
Tesla K80
- **Exact command to reproduce**:
running custom code on object segmentation task.

### The problem
The problem is the t

[2019-08-23 06:42] gadagashwini commented on #31732
@aaur0, Closing the issue, please post this issue in TF serving repository. Thanks!

[2019-08-23 06:42] #31732 closed

[2019-08-23 06:43] kukzile commented on #31829
I want the whole tensorflow library for android which includes ops for
training as well, hence trying this method. The present process of building
for Android using Android studio or bazel supports only inference, right?

On Thu, Aug 22, 2019 at 10:58 PM Jared Duke <notifications@github.com>
wrote:

[2019-08-23 06:55] akanyaani commented on #31842
Hi,

My model has transformer-based encoder-decoder as explained here.
[https://www.tensorflow.org/beta/tutorials/text/transformer](url)

[2019-08-23 07:02] gadagashwini commented on #30456
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-23 07:02] #30456 closed

[2019-08-23 07:06] ShellRox commented on #31449
Yes, what I mentioned was that it could be more explicit if random initializers created separate session to fill the weight tensors just like manual methods. But I agree, whole graph construction during `model.compile` would fix this issue as well - I guess there's some drawback to that though.

Yes, I am aware of that. In fact I've linked [a new code](https://gist.github.com/ShellRox/91bead44f6b4

[2019-08-23 07:14] mahmoodn commented on #31884
See:
[code]

configure
[code]

[2019-08-23 07:27] tnodelan commented on #30881
Well I was forced to not use a TFLite model since conversion broke it every time, so instead I used the frozen_graph.pb given by the export_inference_graph method, and the example application using a similar frozen graph to obtain a working app, but I still couldn't put my head around TFLite conversion.

[2019-08-23 07:45] laohur commented on #31789
solved，how to delete it

[2019-08-23 07:45] #31789 closed

[2019-08-23 07:59] gadagashwini commented on #31789
@laohur. Glad it solved.
No need to delete it. Thanks!

[2019-08-23 08:02] UrosTo commented on #31774
@gadagashwini oh sorry I got confused since all of the neural network code was linked in the original post. Here is the github link to the [code](https://github.com/qqwweee/keras-yolo3).
The only thing I am running is [train.py](https://github.com/qqwweee/keras-yolo3/blob/master/train.py) that I will link again.
Hope this helps in pinpointing the problem. If you need more please let me know

[2019-08-23 08:38] sayakpaul opened #31919 "tf.GradientTape().tape() is returning None on the generator loss"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: I am using Colab
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: Not applicable
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow ve

[2019-08-23 08:45] lujq96 commented on #31264
@gadagashwini @alextp
I tried using the following code:
`tensor_train_images = tf.convert_to_tensor(train_images, dtype=tf.float32)
with tf.GradientTape() as tape:
    tape.watch(tensor_train_images)
    model.evaluate(x=tensor_train_images,y=train_labels, steps=10)
print(tape.gradient(model.total_loss,tensor_train_images))`
And the return was
`10/10 [==============================] - 8s 753ms/ste

[2019-08-23 09:24] abhay1722 commented on #31413
@martinwicke Thanks for the direction.
After debugging further, we were able to figure out that, for this particular test, the `auc` value gets calculated using placement values [here](https://github.com/tensorflow/tensorflow/blob/87989f69597d6b2d60de8f112e1e3cea23be7298/tensorflow/contrib/metrics/python/ops/metric_ops.py#L1230).

So, We tried printing the values of `auc`, `lower` and `upper` usin

[2019-08-23 09:25] Pay20Y commented on #24816
For me it appear when a manual loop with too many steps  is used in my graph.

[2019-08-23 09:34] viral-synoverge commented on #31844
on setting allow_custom_ops = True I am getting the following error.

Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting target_ops=TFLITE_BUILTINS,SELECT_TF_OPS when calling tf.lite.TFLiteConverter(). Otherwise, if you

[2019-08-23 09:48] WindQAQ commented on #31919
Hello, maybe official tutorial could help you.
https://www.tensorflow.org/beta/tutorials/generative/dcgan

[2019-08-23 10:06] PanderBoy18 opened #31921 "Failed importing _pywrap_tensorflow"
Hi all, I have a problem.

After I installed tensorflow on my windows 10 machine with python 3.7.4
using this pip command: `pip install --user --upgrade tensorflow`

I want the CPU only version on a 64-bit version!

I was trying to verify the installation by running this command:
`python -c "import tensorflow as tf; print(tf.reduce_sum(tf.random.normal([1000, 1000])))"`

But that gives me the foll

[2019-08-23 10:06] HattoriSan commented on #31804
It works !! And it appears that this is not due to my installation. I was actually starting spyder3 from the GUI, but I came to do it via the terminal and then all went well. I did not know that distinctions were done between this tow types of launch.

Thanks a lot for your great help. I better learned how the whole think works.

[2019-08-23 10:07] ProgrammerYuan commented on #31114
I also encounter this problem, I resolve this by reconfigure my ndk abifilter settings. My project originally was only built for 'armeabi' architecture. When I add any other abi options, it works like a charm. However, I'm still confused because on the tutorial page of Tensorflow Lite, it says that the library support all kinds of architecture(which should include armeabi). Or is it because arm su

[2019-08-23 10:12] maneshsyno commented on #31844
Thanks it worked for me.

[2019-08-23 10:16] sayakpaul commented on #31919
Hi. I am aware of this tutorial but the topologies are different here.

[2019-08-23 10:21] thias15 opened #31922 "Running MobileNet SSD Float Detector"
Hello.

I'm trying to run the model "mobile_ssd_v2_float_coco.tflite" in the [object detection app](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android). I have gotten the model to run on the GPU following the [tutorial](https://www.tensorflow.org/lite/performance/gpu) and adjusting image resolution and output accordingly. The output seems to follow the [old f

[2019-08-23 10:22] WindQAQ commented on #31919
After a rough look at the colab, I find `get_moments()` is a numpy function, so you pass `g_fake_data.numpy().T` into it, which makes the graph unconnected. So I modify this function to TF version and the gradients are not longer `None`. Modified colab notebook is down below:
https://colab.research.google.com/drive/1r9HZRlVepGU6ScXPZLOjwoLa7vSr5DCJ

[2019-08-23 10:30] CCHDjango opened #31923 "module 'tensorflow' has no attribute 'matvec'"
I saw the file tensorflow/python/ops/math_ops.py  include matvec excample:

[code]

when I code that.

that error heppend:
`AttributeError: module 'tensorflow' has no attribute 'matvec'`

[2019-08-23 10:38] ravikyram commented on #31877
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Please fill the issue template. Could you update them if they are relevant in your case, or leave them as N/A? . If you are unclear what to include see the issue template displayed in [the Github new issue template]

[2019-08-23 10:45] gadagashwini commented on #31894
@iamnotahumanbecauseiamabot, Thanks for the update.

[2019-08-23 10:51] wolfiex commented on #31755
What was the issue?

[2019-08-23 11:02] ravikyram commented on #31613
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-23 11:02] #31613 closed

[2019-08-23 11:08] hwenjun18 commented on #31877
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.14
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.14.0
- Pytho

[2019-08-23 11:10] oanush commented on #31923
@CCHDjango ,
Can you please try using `tf.linalg.matvec(a,b)`,it should work fine.Thanks!

[2019-08-23 11:10] ravikyram commented on #31844
I am closing this issue since it looks to be fixed. Thanks!

[2019-08-23 11:10] #31844 closed

[2019-08-23 11:12] VirRajpurohit commented on #31788
@jdduke
 Changing the output tensor did the trick.
 Can you please refer any doc which stats the usage of the each variable in detail.

As my question was revolving around the NUM_DETECTIONS? What exactly it means?

[2019-08-23 11:21] rishabhsahrawat opened #31925 "[TF1.x][TPU] How to perform preprocessing steps for text classification for training on TPU?"
I have been trying since 5 days to train a simple text classification model on TPUs. But because of lack of documentation it is very difficult. I just can not perform tokenization, encoding, padding without `tf.py_func`. Please add some examples for doing these steps for TPU devices so that dumb people like me can understand TF. Will be greatly thankful to everyone at Google.
I am following this [

[2019-08-23 11:21] svdHero opened #31926 "Proper way to install TensorFlow Docker image with GPU support on Debian 10 (Debian Buster)"
**System information**
- OS: Debian GNU/Linux 10 (buster) x86_64
- Kernel: 4.19.0-5-amd64
- CPU: Intel i7-6700 (8) @ 3.400GHz
- GPU: Intel HD Graphics 530
- GPU: NVIDIA GeForce RTX 2070

**Describe the problem**
I followed the [Tensorflow documentation](https://www.tensorflow.org/install/docker) in order to install a TensorFlow Docker image with GPU support on Debian Buster. For verification, I ex

[2019-08-23 11:32] pzobel commented on #31755
@wolfiex TF 1.x was installed. Make sure that TF 2.0 is installed to use the tf.function decorator.

[2019-08-23 11:43] wolfiex commented on #31755
Hi, I am only employed 2.5 days of the week (mainly Tuesday and
Wednesday). This means that replies may be delayed. Thanks for
understanding.

[2019-08-23 12:06] gadagashwini commented on #31804
@HattoriSan,
Glad it resolved.
Closing the issue. Feel free to reopen if the issue still persists. Thanks!

[2019-08-23 12:06] #31804 closed

[2019-08-23 12:09] sayakpaul commented on #31919
Thank you very much @WindQAQ. I will look into and post my further findings here :)

[2019-08-23 12:23] visionscaper commented on #24226
@guptapriya I noticed that in commit 3782019ca739f2b00f1f1990d737e7be65e09df9 support was added for "temporal sample weight mode in non-graph networks". Does that affect this issue? Just wondering.

[2019-08-23 12:24] daniele-sartiano opened #31927 "tf2 load model issue"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): google colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf-nightly

[2019-08-23 12:34] visionscaper commented on #24226
@guptapriya Ah, I see that `sample_weight_mode` is still not supported with `tf.distribute.Strategy` in the r2.0 branch.

https://github.com/tensorflow/tensorflow/blob/c75bb66a99ad45e5a3c9fc4625c8abeb705520b5/tensorflow/python/keras/engine/training.py#L1461

What is the current status of this issue? Do you have any insights in how to proceed (how to fix it)?

[2019-08-23 12:39] wolfiex commented on #31755
Ah yes, just made the same mistake, Thanks!

[2019-08-23 13:09] laszlocsomor commented on #31678
@QuellaZhang : Could you try this please:
1. open `cmd.exe`
2. Run:
[code]

Does this generate `c:\tmp\gh31678\tensorflow_wrap_interpreter_wrapper.cc`? If not, what error does it print?

[2019-08-23 13:15] MarkDaoust commented on #31306
I can imagine implementing it either way.

@mingxingtan appears to be the author, maybe they can help.

[2019-08-23 13:19] llan-ml commented on #31291
@gadagashwini @jvishnuvardhan This issue happens with gpu-enabled tensorflow.

[2019-08-23 14:01] YC-wind commented on #31837
when i use below method , load the saved model,  it throw  KeyError: 'BatchMatMulV2' ---- in tf 1.13 environment,  (proble is here: saver = tf.train.import_meta_graph(input_checkpoint + '.meta', clear_devices=clear_devices))

def load_model(model_folder):
    # We retrieve our checkpoint fullpath
    try:
        checkpoint = tf.train.get_checkpoint_state(model_folder)
        input_checkpoint = c

[2019-08-23 14:04] laohur commented on #25781
@jdduke fellowed by your example，got “l17_ops_registration.cc” which contains only 12 operators .  but it seems not reduce library size when i include it . How to use it properly? thanks!

[2019-08-23 14:05] amapic commented on #31867
Thanks, I made it works by using cifar10. But do you have any idea of what was going on with my own data ? It's regular image.
With cifar10, I now have this result :
i know have this as a result:
Epoch 1/15
2/2 [==============================] - 15s 8s/step
2/2 [==============================] - 15s 8s/step
2/2 [==============================] - 35s 18s/step - loss: 2.7288 - acc: 0.0781 - val_loss

[2019-08-23 15:09] wwfwwfwwf3 commented on #31817
Windows 10,jupyter notebook.
Tensorflow version:1.14.0

[2019-08-23 15:14] sdll opened #31928 "[tf.estimator] Training with tf.estimator + tf.keras and tf.keras only yields inconsistent results"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `macOS 10.14.6 (18G87)`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **n/a**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use

[2019-08-23 15:14] mihaimaruseac commented on #31431
There hasn't been a new release yet, but hopefully we'll have 2.0 RC0 early next week

[2019-08-23 15:23] jdduke commented on #25781
So, using the MutableOpResolver approach won't change the size of the *static* library, but it should shrink the size of the actual binary that gets produced in an app, as the unneeded code/symbols can be stripped.

[2019-08-23 15:33] jdduke commented on #31788
I encourage you to use tools like our [.tflite visualizer](https://www.tensorflow.org/lite/guide/faq#how_do_i_inspect_a_tflite_file) to better understand your graph inputs/outputs, or the excellent [Netron](https://electronjs.org/apps/netron) model visualizer (that handles .tflite models as well as other model formats). NUM_DETECTIONS refers to the number of detected objects. In the model used by

[2019-08-23 15:38] jvishnuvardhan commented on #31867
@amapic As it is working with cifar data, i am sure it is not a bug related to Tensorflow.

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community (including us) to support and learn from your questions. GitHub is mainly for addressing bugs in installatio

[2019-08-23 15:38] #31867 closed

[2019-08-23 16:02] ymodak commented on #31855
@perfinion Can you please take a look? Looks similar to #31020 Thanks!

[2019-08-23 16:05] zaccharieramzi commented on #6541
I have done some profiling of my own using the trace profiler and the results suggest that the `tensorflow` FFT2D is about 50 times slower than `numpy`'s.

Here is what I have done (with IFFT2D but the results are the same for FFT2D):
[code]

On 8 CPUs (intel i7), ubuntu 16.04, tensorflow 1.14.0, keras 2.2.4, the fitting time is 5s. Looking into the timeline (chrome://tracing/), I find that the IF

[2019-08-23 16:09] #25343 closed

[2019-08-23 16:09] #25366 closed

[2019-08-23 16:09] jacekblaz opened #31930 "[TF 2.0] Different results of binary cross entropy loss of the same architecture"
**System information**
- Tensorflow 2.0

**Describe the current behavior**
I have created model from tf.keras.models for binary classification problem. It is dense with sigmoid activation in the last layer and binary cross entropy loss. I got different loss values whether my last layer was:
```last_layer = Dense(1, activation='sigmoid')(previous_layer)```
or
[code]

If `loss=BinaryCrossentropy(fro

[2019-08-23 16:09] #25364 closed

[2019-08-23 16:11] #25353 closed

[2019-08-23 16:12] ymodak commented on #30854
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-08-23 16:12] #30854 closed

[2019-08-23 16:21] ymodak commented on #31921
TensorFlow release binaries version 1.6 and higher are prebuilt with AVX instruction sets.
Therefore on any CPU that does not have these instruction sets, either CPU or GPU version of TF will fail to load.
What is your CPU make/model?

[2019-08-23 16:35] jvishnuvardhan commented on #31291
@llan-ml Based on error trace [mentioned here](https://github.com/tensorflow/tensorflow/issues/31291#issue-476337948), the `momentum` related ops looking for a specific device. So when I assign a device like below, everything worked as expected.
[code]
When you select gpu as `with tf.device('gpu:0'):`, this will throw same error as follows. Error clearly mentions that the `supported_device_types_=

[2019-08-23 16:56] reliefs commented on #31431
Great, people have been looking for this for years ;)

[2019-08-23 17:04] Nestak2 commented on #30321
Thank you for the hint, can you provide a few lines of code, if possible connected to your previous code snippet? I am not advanced with tensorflow and can't bring fit_generator to work on distributed strategies.

[2019-08-23 17:09] manivaradarajan commented on #29215
Reassigning to davidsoergel to prioritize for the Graph plugin.

[2019-08-23 17:12] sdll commented on #31928
Nice, could this be added to the [official guide](https://www.tensorflow.org/guide/estimators#creating_estimators_from_keras_models) on estimators? What can explain the fact that `model_to_estimator` performs so poorly? That `train_and_evaluate` should always be used instead of `train`?

[2019-08-23 17:16] jalexstark commented on #31187
I'm still not understanding.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/ruy/kernel.h

does not have a line 613, so how can there be this error?

ERROR:
/home/daniel/tensorflow/tensorflow/lite/experimental/ruy/BUILD:271:1: C++
compilation of rule '//tensorflow/lite/experimental/ruy:kernel' failed
(Exit 1)
In file included from
tensorflow/lite/experimental/ruy

[2019-08-23 17:33] llan-ml commented on #31291
@jvishnuvardhan Thanks for your explanation. I know there are some ops used by Momentum that do not have gpu implementations. However, it is really a limitation that we cannot try the Momentum optimizer for optimizing a model with GPU.

I do not know the internal implementations of different optimizers, but other optimizers such as Adam and RMSprop work normally on GPUs.

Sorry that I just realize

[2019-08-23 17:33] srjoglekar246 commented on #31694
@kezakool Looks like you have a bunch of ops that are not supported :-). The vanilla response would be for you to implement custom ops for all these. However, we are adding better support for Control Flow (Merge, Switch, etc) & TensorList ops by next year, with an improved converter & builtin TFLite ops. However, these structures are *usually* required when you have ambiguous shapes in the graph.

[2019-08-23 17:34] #31694 closed

[2019-08-23 17:41] ymodak commented on #31652
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-08-23 17:41] #31652 closed

[2019-08-23 17:42] gowthamkpr commented on #31930
Can you please provide the github gist of the code for TF1.14  @jacekblaz

[2019-08-23 17:48] mdanatg commented on #31823
I think we could use a combination of `Dataset.map` and `Dataset.zip`.

In other words:

`map(fn, dataset1, dataset2)`

could translate to (pseudo-code, the exact API calls may differ):

[code]

Would this work?

[2019-08-23 17:49] tanzhenyu commented on #31291
@llan-ml I think none of the optimizers would work with GPU given sparse. And this is something that we're planning to fix and should probably be done by Nov 2019 -- But contribution welcome if this is urgent to you.

[2019-08-23 17:51] jvishnuvardhan commented on #31877
@hwenjun18 Could you share minimum standalone code to reproduce the issue? Did you check graph transform with other tensorflow models? Thanks!

[2019-08-23 17:52] fazish commented on #14724
reducing the batch size worked for me.

[2019-08-23 17:53] angersson commented on #31835
I'm sorry, but the GitHub issue tracker is not a support forum. If you are having trouble building TensorFlow, consider asking a question at Stack Overflow instead.

[2019-08-23 17:53] #31835 closed

[2019-08-23 18:06] haozha111 commented on #31879
Hi, Jack,

Totally agree with you that the current list should keep in sync with kernel register. Otherwise the generated min version won't be reliable. I'm currently working on this.

In the meantime, I will update the comment about this method to inform the users that this is currently experimental. Thanks!

[2019-08-23 18:07] ymodak commented on #31737
I tried your code snippet with latest version of tf-nightly ('1.15.0-dev20190821') and was able to execute it successfully.
I cross checked ```nce_loss function``` with TF  version 1.12 and TF version 1.14. There isn't any change in its definition. Thus doesn't look like a root cause in this scenario.

[2019-08-23 18:07] alextp commented on #29971
I just ran this 20 times with and without GPUs on colab and did not get the error.

[2019-08-23 18:07] #29971 closed

[2019-08-23 18:08] jvishnuvardhan commented on #31637
@AdrianYu Can you try recent TF versions and see whether the OOM issues persists. There were lot of improvements more recently. Please let us know what you think? Thanks!

[2019-08-23 18:11] llan-ml commented on #31291
@tanzhenyu Just in my cases, my model can be trained with Adam, but it raises the error when I declare the optimizer with `optimizer = tf.keras.optimizers.SGD(momentum=0.9)` and without any other code changed. I'm using tf-nightly-gpu-preview and follow the subclassed model style with custom training loops. If needed, I can provide some tiny scripts to reproduce.

[2019-08-23 18:14] alextp commented on #31264
Oh, I see now. model.total_loss in keras is also not a tensor, so you can't differentiate wrt it.

Instead do something like

[code]

[2019-08-23 18:15] #31264 closed

[2019-08-23 18:15] alextp commented on #31264
@fchollet how do you feel about trying to keep this intermediate keras information (like model.total_loss) as tensors, now that we have tf2?

[2019-08-23 18:25] tanzhenyu commented on #31291
@llan-ml Oh sorry I missed that, adam is the only one that would probably work in your case because we haven't made a sparse op yet so every op it uses can be run on GPU.

[2019-08-23 18:31] wchargin opened #31931 "2019-08-23 nightlies missing `tf.summary` symbols"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-08-23 18:31] wchargin commented on #31931
cc @mihaimaruseac ; anything new here?

[2019-08-23 18:42] ilhamfp commented on #31823
Oh yea, you're right! Working on it right now

[2019-08-23 18:47] wchargin commented on #31931
Googlers: <http://b/139924752>

[2019-08-23 18:56] peterse commented on #31522
I have run the command exactly as you wrote it, and got yet another error claiming that a different file doesn't exist:
[code]

Though this file does indeed exist:
![image](https://user-images.githubusercontent.com/14928221/63616656-0def0a00-c5b6-11e9-8ec1-b6363e83661f.png)

The log is attached:
[github.log](https://github.com/tensorflow/tensorflow/files/3535816/github.log)

[2019-08-23 18:57] peterse commented on #31522
I'll also mention that the command you provided defaulted to a python2 installation, while I had previously been running `./configure` and pointing to my python3 executable.

[2019-08-23 19:09] peastman opened #31932 "How to create Python extension module that uses TensorFlow C API?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6
- Mobile device

[2019-08-23 19:25] grananqvist commented on #31499
Apparently, the code works for tf 2.0

[2019-08-23 19:33] alextp commented on #31709
Indeed this type of slicing on multiple dimensions at once doesn't work well with the `tensor_scatter_nd_*` family of functions.

I will leave it open and unassigned to see if someone wants to contribute a similar solution to those but for the slicing operations.

[2019-08-23 19:39] mihaimaruseac commented on #31431
TF 2.0 RC0 is out, and I see a Python 3.7 link for each os at https://pypi.org/project/tensorflow/2.0.0rc0/#files

Please test it and let us know if there are still issues with python 3.7 on Windows

[2019-08-23 20:09] mihaimaruseac commented on #31522
Start of the log, there are a bunch of errors:

[code]

[code]

[2019-08-23 20:13] mihaimaruseac commented on #31931
This seems to be caused by bad interaction between virtual pip, lazy loading and relative imports.

[2019-08-23 20:16] HarikrishnanBalagopal opened #31935 "Simple way to manage and release GPU memory in colab"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-08-23 20:27] peterse commented on #31522
Apologies, those errors were from setting up the environment (I had two failed runs due to `./configure` options using Python 2. Since I am not a Python 2 user, `future` and `numpy` were not installed and since I couldn't locate any explicit Python 2 requirements or a `requirements.txt` I just attempted installation until the build no longer threw import errors. Those errors ended up in the log be

[2019-08-23 20:32] wchargin commented on #31931
A change to TensorBoard to pick up the new APIs should fix this:
<https://github.com/tensorflow/tensorboard/pull/2593>

I’ll re-trigger today’s `tb-nightly` upload, which should resolve the
problem for future installs.

[2019-08-23 20:42] wchargin commented on #31931
Fixed:

[code]

[2019-08-23 20:42] #31931 closed

[2019-08-23 21:02] mihaimaruseac commented on #31522
Oh, makes sense.

Seeing warning like the following in the log makes me wonder what compiler are you using?

[code]

Also, could it be possible you're running out of space? Timeout? Corrupted disk? Can you try compiling on a Linux only box or directly on Windows instead of WSL? Can you reinstall the WSL?

When the compilation ends in error, do you have the bazel-* symlinks?

[2019-08-23 21:04] robieta commented on #31026
@fsx950223 Can you provide an example with the more pathological behavior? As @jvishnuvardhan said, a small increase in memory consumption on recompile is expected.

[2019-08-23 21:10] PanderBoy18 commented on #31921
Which commando should I use to install version 1.5?

[2019-08-23 21:14] jvishnuvardhan commented on #31028
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-08-23 21:14] #31028 closed

[2019-08-23 21:31] jvishnuvardhan commented on #30952
@pandrey-fr This was resolved in `2.0.0rc0` and was tested internally. Can you check and let us know whether it resolved for you when you use `!pip install tensorflow==2.0.0rc0`. Thanks!

[2019-08-23 21:46] jvishnuvardhan commented on #30957
@nfergu There was some updates related to this issue. Can you please check whether the issue still persists. Please use `tf-nightly` and let us know the status. Thanks!

[2019-08-23 21:50] ymodak commented on #31814
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-08-23 21:50] #31814 closed

[2019-08-23 21:51] jvishnuvardhan commented on #29975
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-23 21:51] #29975 closed

[2019-08-23 22:00] ymodak commented on #31397
See TensorFlow Saved Model https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/saved_model/README.md
Feel free to reopen if have any further problems. Thanks!

[2019-08-23 22:00] #31397 closed

[2019-08-23 22:09] preethivenkatesh commented on #30383
this fix not in master as of yet, it's available in the 1.15 branch. Can you please try in this branch?

[2019-08-23 22:13] preethivenkatesh commented on #30772
@plopresti, can you confirm if you are still experiencing this issue? BTW  #30383 is fixed in 1.15

[2019-08-23 22:18] preethivenkatesh commented on #23420
@ufgtb24 could you please close this issue if we have provided a resolution

[2019-08-23 22:20] preethivenkatesh commented on #23455
Please close this issue if fixed

[2019-08-23 22:20] wei-v-wang commented on #30383
@preethivenkatesh @plopresti Master has the merged code https://github.com/tensorflow/tensorflow/commit/15bd4863bd63968ad0396493d2c41bd0e5d8390b   as a result of merging https://github.com/tensorflow/tensorflow/pull/31777

[2019-08-23 22:21] anferico commented on #31737
What do you mean by "executing that successfully"? I was able to execute it successfully as well, but the problem was that the model wasn't learning anything, and the loss function kept oscillating up and down instead of decreasing with each training step. That's the whole point of this issue

[2019-08-23 22:24] preethivenkatesh commented on #24980
please close this issue if you have this solution working

[2019-08-23 22:29] gowthamkpr commented on #31932
@peastman Please take a look at the [similar issue](http://derivative.ca/Forum/viewtopic.php?f=27&t=19692) and let me know if it helps. Thanks!

[2019-08-23 22:35] ymodak commented on #29162
Apologies for the delay in response. Please post your code snippet on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow)

[2019-08-23 22:36] #29162 closed

[2019-08-23 22:50] ekuznetsov139 commented on #31449
[code]
Pretty sure it would work

[2019-08-23 22:58] peastman commented on #31932
Thanks.  I'm not sure what that has to do with this case?  None of my code does anything with protobuf directly.  I just have a module that links against the libtensorflow that comes with the C API.  Then I open up a Python console and try importing modules.  I can either import the module I wrote or import TensorFlow and either one works.  But if I try to import both, Python immediately crashes.

[2019-08-23 22:58] jmwoloso commented on #31935
@HarikrishnanBalagopal I was running 10 training loops on colab and running into OOM errors after the 8th iteration. Putting the following at the end of the loop helped.
`tf.reset_default_graph()`

[2019-08-23 23:01] ymodak commented on #31689
Can you please help us with the stack trace? Thanks!

[2019-08-23 23:01] gaborchris opened #31938 "tf.function decorator with GradientTape >10x slower than tf.keras.model.Models.fit()"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No, reused cod

[2019-08-23 23:04] gaborchris commented on #31938
`

[2019-08-23 23:05] besirkurtulmus opened #31939 "Pip install can't find tensorflow2.0.0rc0"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (

[2019-08-23 23:13] gargn commented on #30706
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-23 23:13] #30706 closed

[2019-08-23 23:16] besirkurtulmus commented on #31939
Looks like `tensorflow2.0.0rc0` moved away from the `manylinux1` tag to the `manylinux2010` tag.

The `manylinux2010` tag is only supported w/ pip version `19` and above.

To fix this bug/issue, update pip via:

[code]

[2019-08-23 23:16] ymodak commented on #31797
I tried your code snippet in Google Colab using TF 1.14 and produced same expected results on 3 consecutive runs.
[code]
Perhaps this is an issue with GCP instance and not with TF 1.14 version specifically.

[2019-08-23 23:25] mrry commented on #31913
Reassigning this to @dubey since it involves `collective_ops`.

[2019-08-23 23:28] DEKHTIARJonathan commented on #31938
@tf.function should not be around the whole epoch: `for images, labels in dataset:`
Move the loop outside the function and it will fix your issue

[2019-08-23 23:34] ymodak commented on #16545
Closing this issue due to staleness. Please check with the latest version of TensorFlow. Feel free to reopen if issue still persists. Thanks!

[2019-08-23 23:34] #16545 closed

[2019-08-23 23:35] ymodak commented on #16526
Closing this issue due to staleness. Please check with the latest version of TensorFlow. Feel free to reopen if issue still persists. Thanks!

[2019-08-23 23:35] #16526 closed

[2019-08-23 23:41] ymodak commented on #16042
TF is moving out of contrib module. Try using ```tf.keras.layers.CuDNNGRU``` instead.
Closing this issue due to staleness. Please check with the latest version of TensorFlow. Feel free to reopen if issue still persists. Thanks!

[2019-08-23 23:41] #16042 closed

[2019-08-23 23:43] ymodak commented on #16115
Closing this issue due to staleness. Please check with the latest version of TensorFlow. Feel free to reopen if issue still persists. Thanks!

[2019-08-23 23:43] #16115 closed

[2019-08-23 23:48] YC-wind commented on #31837
addition:

it  works well in tf 1.14 environment( train and save model in tf 1.14,  can get the graph from meta file )
in tf 1.13 environment, it can not get the graph from meta file, only init graph works.

thanks

[2019-08-23 23:52] gui-li opened #31940 "Where is stop_if_no_increase_hook gone?"
I use tensorflow.contrib.estimator.stop_if_no_increase_hook in my code to perform an early stopping, which works smoothly before. But today it throws out an error:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:

https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
https://github.com/tensorflow/addons
https://gi

[2019-08-23 23:55] plopresti commented on #30772
@preethivenkatesh This issue is resolved.

Initial testing on #30383 looks good; we are trying other cases and will update soon. Thanks!

[2019-08-23 23:55] #30772 closed

[2019-08-24 00:04] zaccharieramzi commented on #6541
This is what I tried in pure `tensorflow` with the same results:

[code]

[2019-08-24 00:55] jackwish commented on #31879
Thank you Haoliang! I have added version in this list once, I understand
that is hmm... a sort annoying work, thanks for you efforts, sincerely.

Cheers

Haoliang Zhang <notifications@github.com> 于2019年8月24日周六 上午2:13写道：

[2019-08-24 01:13] guptapriya commented on #24226
Current status is that this is still not supported.
However, we have made some progress recently on unifying keras execution with and without distribution strategy. This means that we should be able to provide this functionality sooner than later.
@tomerk @qlzh727 - do you have any insight into when the new execution path may support sample weight mode?

[2019-08-24 01:56] nfelt commented on #26405
This is essentially done aside from getting better docs, which https://github.com/tensorflow/tensorboard/pull/2514 should address.

[2019-08-24 01:57] fsx950223 commented on #31026
I have updated notebook. I just tested it with a small dataset, and large dataset will significantly improve memory usage.

[2019-08-24 04:44] WindQAQ commented on #31940
Should be here? `tf.estimator.experimental.stop_if_no_increase_hook`
https://www.tensorflow.org/api_docs/python/tf/estimator/experimental/stop_if_no_increase_hook

[2019-08-24 05:07] dbonner commented on #31187
I just now did:

git clone https://github.com/tensorflow/tensorflow.git
git checkout r2.0

tensorflow/tensorflow/lite/experimental/ruy/kernel.h
has a line 613:

[kernel.h.txt](https://github.com/tensorflow/tensorflow/files/3536878/kernel.h.txt)

[2019-08-24 05:36] ongoing0217 commented on #31630
@gadagashwini I was busy and could not respond, sorry
In this period, I downgraded tensorflow-gpu to 1.12.0 and reapplied my previous setup with CUDA 9.0, reinstalled cuDNN 7.5, and I can actually import tensorflow and error messages won't be raised. However, when I tried to test if the package was actually working using tf.Session(), my command prompt just stops working.

2019-08-24 13:26:29.8849

[2019-08-24 05:46] tomerk commented on #24226
I believe @pavithrasv has integrated sample_weight_mode into the unified path (although I'm not sure if she tested it with distribution strategies or not). You can go ahead and try the nightlies to see if it fixes it for you.

If it does we may still be able to cherrypick it into 2.0, or it may have to wait until a followup release.

[2019-08-24 06:38] hugh102575 commented on #8858
I have tried nvidia-smi power limit and disable turbo boot, which both don't work for me.

Finally, I solve this problem by just reduce training data by about halve(56% -> 35% of total memory).
Hope this may help you.

[2019-08-24 07:33] ongoing0217 commented on #31630
@gadagashwini seems like the issue somehow sort itself out, so all my problems are solved. Thanks for answering my questions :D

[2019-08-24 07:33] #31630 closed

[2019-08-24 08:12] axa000 commented on #30629
hi, @mihaimaruseac
I followed the instruction on Tensorflow
https://www.tensorflow.org/install/source_windows
I had a hard time when doing this command

bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package
(I also found others said: change to -c opt, but not working either)
most of the error said
FAILED: Build did NOT complete successfully(326 packages loaded, 7927 targets c
o

[2019-08-24 08:17] zouhanting opened #31942 "win10 Creating a Virtual Environment"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):window10
- Mobile device (e.g.

[2019-08-24 08:18] standy66 commented on #16042
`tf.keras.layers.CuDNNGRU` does not support `skip_input`. It's a shame tensorflow stepped down from providing low-level CuDNN-like interface.

[2019-08-24 08:29] kaka-lin opened #31943 "[TF 2.0.0-rc0] Run model.evaluate() let notebook crash (Chrome)."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Mac
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): Tensorflow 2.0.0-rc0
- Python version: 3.6.5

print(tf.version.GIT_VERSION, tf.version.VERSION)
v2.0.0-beta1-5101-gc75bb66a99 2.0.0-rc0

**Describe t

[2019-08-24 08:32] akanyaani commented on #31938
Hi gaborchris,
As suggested by DEKHTIARJonathan change your code like this it will be faster than model.fit.

[code]

[code]
[code]

[2019-08-24 09:32] #31820 closed

[2019-08-24 09:48] axa000 opened #31944 "failed to bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):windiws 2012 r2
- Mobile device

[2019-08-24 09:52] axa000 commented on #31944
![image](https://user-images.githubusercontent.com/51321052/63635678-97c2d400-c697-11e9-8395-224bca43207a.png)
![image](https://user-images.githubusercontent.com/51321052/63635685-c476eb80-c697-11e9-9218-6a372b2f8125.png)

[2019-08-24 10:00] axa000 commented on #31944
[according to this](https://github.com/tensorflow/tensorflow/issues/30556#issuecomment-510220573)
My tensorflow version is 1.13.1, so I installed bazel 0.20.0
and run `python ./configure.py`
![image](https://user-images.githubusercontent.com/51321052/63635713-4b2bc880-c698-11e9-91c2-5d0ebec0f8fa.png)
how did this happen?

after I tried the latest version of bazel, frankly, it worked
but this error

[2019-08-24 10:06] axa000 commented on #30629
@mihaimaruseac hi, I created new issue incase you don't understand what I'm talking about
[LINK](https://github.com/tensorflow/tensorflow/issues/31944#issue-484800011)

[2019-08-24 10:17] visionscaper commented on #24226
@guptapriya @tomerk Thanks for your replies. Apparently @pavithrasv added "support for sample weight mode in v2 single execution path" through commit 9f30dc6211ac2531f98e1516f23bcb995d7a15c2. However, looking in to the latest version of `training.py` in the `master` branch, using `sample_weight_mode` is still not supported:

https://github.com/tensorflow/tensorflow/blob/2123cb71b81c92e08a9210d80b5

[2019-08-24 10:30] akanyaani commented on #31927
Hi it is happening because you have put some part of model outside graph of your graph.
entry point of you model is **input** so feature layer is outside .

An op outside of the function building code is being passed a "Graph" tensor.

[code]

[2019-08-24 11:44] DavidS3141 opened #31945 "tf.custom_gradient does not handle variables correctly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf 1

[2019-08-24 12:21] tensorflowbutler commented on #27195
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-08-24 12:21] tensorflowbutler commented on #30449
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-08-24 14:35] virtualdvid commented on #24828
I got the same problem using `tensorflow-gpu==2.0.0-rc0` on a kaggle kernel (it was working fine with TF beta release):

[code]

[2019-08-24 15:27] nikste commented on #31323
is there a workaround for this ? I just stumbled upon the same problem..

[2019-08-24 17:23] jiawei6636 commented on #30263
I install the tensorflow-gpu==2.0.0-rc0, but the issue still exist.

[2019-08-24 17:26] jiawei6636 commented on #30263
And some problems occur when I use tf.keras.optimizer.RMSProp() to optimize the LSTM model by a costum training loop like the tutorial. There is no convergence.

[2019-08-24 18:23] tomerk commented on #24226
That method only runs in the older execution path that we will be removing soon once the new path supports everything the old path used to (it currently supports everything except for target_tensors & hdf5 matrix inputs & scipy sparse tensors)

If you run the nightly now sample_weight_mode shouldn't trigger the old path anymore so `_validate_compile_param_for_distribution_strategy` will no longer

[2019-08-24 18:35] gui-li commented on #31940
@WindQAQ Thank you so much！

[2019-08-24 19:02] dbonner commented on #31187
Master branch builds successfully.  Maybe you guys just need to use the code in master for /tensorflow/lite/experimental/ruy/kernel.h in r2.0.

[2019-08-24 19:08] moraywheel commented on #31939
I'm using pip 19.2.2 and I get the same error.

[2019-08-24 19:33] anhtu812 commented on #12132
why this bug not fixed in many year?

[2019-08-24 19:43] georgealexandruvlad commented on #26502
Same issue with the new tensorflow==2.0.0-rc0 release. If in beta release I could just use the tensorflow.python.keras workaround, now keras.layers module doesn't see the layers classes (Dense, Embedding, etc) but packages in which every layer is grouped. If I import them separately from each module the call of a layer over an input doesn't seem to work. This behaviour might be only a problem in P

[2019-08-24 20:10] val9299 opened #31948 "[TensorFlow Lite] GPU delegates on Android with GPU nightly fail to run on GPU (it seems to run on CPU)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
no (for the demo APP & classification APP);
yes (for the object detection APP), but only added GPU delegate and used a self-converted SSD float model
- Mobile device: Google Pixel 2 XL (Android 8.0.0 and Android 9)
- TensorFlow Lite version: nightly 0.0.0 + GPU nightly 0.0.0
- O

[2019-08-24 20:58] val9299 opened #31949 "[TensorFlow Lite] GPU experimental does not work with converted SSD model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no (for the demo APPs);
yes (for the object detection APP), but only added GPU delegates and used a self-converted SSD float model
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy): Google Pixel 2 XL (Android 8.0.0 and Android 9)
- TensorFlow Lite version: GPU experimenta

[2019-08-24 21:01] JossWhittle commented on #31187
@dbonner glad to here compilation is possible, have you looked at the diff between branches for that file?

The work around I used to disable tf lite from building was to comment out the following lines in the pip package BUILD file (https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/tools/pip_package/BUILD#L64-L66) which lets branch r2.0 build successfully on Skylake at the loss of tf

[2019-08-24 22:22] timespacce commented on #31520
Hello,

I tried to compile with VS2017, CUDA 10 and the bazel version listed in the tutorial -[https://www.tensorflow.org/install/source_windows], but rebatch.cc couldn't get compiled. So I changed the file like this and the build had success.

Previous:
**constexpr std::array<const char*, 6> kBatchDatasetOps = {
    kBatchOp,       kBatchV2Op,      kMapAndBatchOp, kExperimentalMapAndBatchOp,

[2019-08-24 22:30] Bredding234 commented on #20444
How do I install TensorFlow on windows for python 3.7? what COMMAND do I use it is not working using pip install tensorflow

[2019-08-24 22:45] #31879 closed

[2019-08-24 22:53] haozha111 commented on #31821
Hi,

I believe currently you need to add ophints in your model to make the conversion work. Could you please check out:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/experimental/examples/lstm/g3doc

Thanks!

[2019-08-24 23:02] #30693 closed

[2019-08-24 23:05] #30458 closed

[2019-08-24 23:41] tambulkar opened #31951 "No Brier Score Loss Function"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14.0
- Are you willing to contribute it (Yes/No): Yes

*

[2019-08-24 23:41] tambulkar commented on #31951
https://github.com/tensorflow/tensorflow/pull/31950

[2019-08-24 23:43] hankcs commented on #26502
Someone should reopen this since neither `tensorflow-gpu-2.0.0rc0` nor `tf-nightly-gpu-2.0-preview` enables IDE to resolve `tf.keras`. I don't really understand why tf2 still uses such a complex importing method. tf1 has reinvented logging and argparse, now tf2 is still reinventing import.

[2019-08-25 00:11] visionscaper commented on #24226
Hi @tomerk, @pavithrasv, to my surprise, after some fiddling to adapt my code to Tensorflow 2.0, temporal sample weighting works with the `MirroredStrategy`!

Please see my [Tensorflow Keras issues tests repo](https://github.com/visionscaper/tf-issues) that I use to investigate what features from the original Keras work in `tf.keras` and which don't.

You can run this test and see it in action you

[2019-08-25 01:34] efriesema commented on #20444
check your pip --version  it should be at least 19.0 otherwise tensorflow won't install.  if it still doesn't install reply with exactly what error mess age you are getting

[2019-08-25 05:56] scholarboss commented on #23692
@samikama I'm a new bee in windows tensorflow，I'm confused by the 5th step of the compiling process, could please give an example on how to execute the link command manually ?

Thank you very much in advance.

[2019-08-25 06:00] guptapriya commented on #30850
I think the optimizer weights issue is because sometimes optimizer weights are only created during the first step. So when you try to load the weights before training starts, weights have not yet been created.
One workaround can be to just do 1 step first and then load the weights. @k-w-w do you know what could be a better alternative for loading optimizer weights ?

[2019-08-25 06:17] pandrey-fr commented on #30952
Awesome! I will test on my custom model tomorrow, but as for the example case I initially shared, it is indeed running just fine with `2.0.0rc0`. Many thanks and congratulations on the work already achieved towards the 2.0 release :-)

[2019-08-25 06:17] #30952 closed

[2019-08-25 07:00] guptapriya commented on #25806
For 2.0, as I mentioned, we've removed the scaling from compute_gradients. Now the scaling is left up to the user if using custom training loops. If you're using estimator in TF 2.0 also, you need to do the scaling in your model_fn yourself.
As for gradient clipping, I think there is no one right answer. If you prefer to do the clipping after reduction, you can override the optimizer's `apply_grad

[2019-08-25 07:18] #31951 closed

[2019-08-25 07:33] SumNeuron commented on #18266
I also find the `.cache` method of `tf.data.Dataset` a bit odd, with the docs stating:

e.g. asking for `filename` when `filename` actually represents the name of a `directory`.

Part of the `cache` method problem is that the cached file is not always auto-cleaned up.

I think adding a positional argument `overwrite` solves this issue by allowing users to `cache` to a known location like:

[code]

[2019-08-25 07:46] akanyaani commented on #31939
Run this command, this worked for me.

`pip install --upgrade tensorflow-gpu==2.0.0-rc0`

[2019-08-25 08:23] freedomtan commented on #31949
The post-processing part, implemented as a custom op is not supported by GPU Delegate. That's why you saw
[code]
in messages you showed. If it goes well, that's not a problem. And, the custom op is supposed to be run on CPUs, that is falling back to TFLite CPU interpreter. However, it seems there was something wrong. Did you check that when calling Interpreter::ModifyGraphWithDelegate() or Interpr

[2019-08-25 08:32] freedomtan commented on #31229
@JionBin What do you mean by "unreasonable predictions"? The results look fine to me.

[2019-08-25 09:41] laohur commented on #25781
Oh，is there another way to reduce static library?
here is my BUILD file.  Only a "cc_binary + static" .so can be loaded ok in unity(c#).

    name = "Prophet.so",
    srcs = ["minimal.h", "Prophet.cc",   ],
    linkopts = tflite_linkopts() + select({
        "//tensorflow:android": [
            "-pie",  # Android 5.0 and later supports only PIE
            "-lm",  # some builtin ops, e.g., tanh,

[2019-08-25 09:51] David-Mao opened #31952 "[TF 2.0] tf.gather doesn't work alongside @tf.function"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2019-08-25 10:31] YonghuiXu commented on #31689
#! /usr/bin/python
# -*- coding: utf8 -*-
import os, time, random, time, csv
from PIL import Image
from datetime import datetime
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from time import localtime, strftime
import scipy, multiprocessing
import tensorflow as tf
import tensorlayer as tl
from model import get_G, get_D
from config import config
import utils

os.envir

[2019-08-25 10:34] YonghuiXu commented on #31689
I am very sorry, our computer is wrong. I can't run my code. This is the error ever.

Traceback (most recent call last):   File "train.py", line 680, in <module>     train()   File "train.py", line 319, in train     per_d_loss, per_g_loss, per_d_loss1, per_d_loss2, per_g_gan_loss, per_mse_loss, per_vgg_loss, per_style_loss = strategy.experimental_run_v2(G_D_fn, args=(epoch, batch_data, ))   File "

[2019-08-25 11:04] SpikingNeuron commented on #26502
🤕 I just upgraded to 2.0rc ..... and my code is full of yellows
Earlier for 2.0b I used to use the hack for keras and other stuff
[code]
Now that doesn't work .... but nonetheless code runs ....

[2019-08-25 11:31] InputMoe commented on #27794
Another One up! I also have the error with "pip3 install tensorflow"

[2019-08-25 12:21] tensorflowbutler commented on #30409
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-08-25 12:48] sarsbug commented on #31504
I have the same problem...anyone can help?

[2019-08-25 14:19] seijikun opened #31953 "TF2.0 from source crashes with optimizer specified as instance"
**System information**
- Have I written custom code: **yes**
- OS Platform and Distribution: **OpenSUSE Tumbleweed**
- TensorFlow installed from: **source**
- TensorFlow version: **v2.0.0-rc0-0-gc75bb66a99 2.0.0-rc0**
- Python version: **3.7.3**
- Bazel version: **0.26**
- GCC/Compiler version: **gcc (SUSE Linux) 9.1.1 20190805 [gcc-9-branch revision 274114]**
- CUDA/cuDNN version: **-**
- GPU mod

[2019-08-25 15:04] peterse commented on #31522
Found out the problem: it was a multithreading bug from the _host_ Windows OS that causes these kinds of 'file not found' errors in WSL if using Windows 10 OS versions before 17655.

For future reference, the problem can be resolved by updating Windows 10 to some version after 17655; thread detailing this issue [here](https://stackoverflow.com/questions/50206890/intermittent-random-file-not-found-

[2019-08-25 15:04] #31522 closed

[2019-08-25 15:29] nsantavas opened #31954 "TPUStrategy with Keras in TF2.0.0rc0"
Hi,

Although the description of TF 2.0.0rc0 contains this
 _"Distribution Strategy: TF 2.0 users will be able to use the tf.distribute.Strategy API to distribute training with minimal code changes, yielding great out-of-the-box performance. It supports distributed training with Keras model.fit, as well as with custom training loops. Multi-GPU support is available, along with experimental support

[2019-08-25 15:53] perfinion commented on #31196
@zh794390558 Can you give me the exact commandline to reproduce it? `bazel build --output_base=what..?`

[2019-08-25 16:43] thomasZen commented on #31797
@ymodak thanks for running the code in Google Colab. Given these results I assume it used the standard (non mkl optimized) version of TF 1.14.

Do you have the possibility to test the code with the mkl optimized version of TF 1.14?

[2019-08-25 17:53] tsc2017 opened #31956 "LossScaleOptimizer does not work"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14.

[2019-08-25 17:59] seijikun commented on #31956
Sounds quite similar to #31953

[2019-08-25 18:14] WindQAQ commented on #31953
So the problem is that you access v1 style optimizer. If you use `tf.keras.optimizers.Adam` instead, you can get an `OptimizerV2` instance, which works fine in your example. My best practice is not to access private API, and try to run codes with public endpoints like `tf.*, tf.keras.*`. Workable colab is here: https://colab.research.google.com/drive/1ZlUU0fSmxtdBtJ3L4jdMOhI8WpbnZOnB

https://gith

[2019-08-25 18:23] seijikun commented on #31953
That was the problem. Should be more carefull, copying code from Stackoverflow next time. :sweat_smile:
Thank you!

[2019-08-25 18:23] #31953 closed

[2019-08-25 18:32] jmgc opened #31957 "Eager mode: Accessing contents of scalars in a tf.function"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-08-25 20:34] nikste opened #31960 "No description for / option to select non default cuda location when building TF2.0 from source"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>
commit hash:
553a3b826a55acb78de18ca6dbca8c965c7cf78e

**System information**
- OS Platform and Distribution (e.g

[2019-08-25 20:40] jsimsa commented on #31761
Your input pipeline is currently repeatedly picking a pair of random files. If you want to instead repeat the two randomly selected files infinitely, put `cache` between `take` and `repeat`.

[2019-08-25 20:40] #31761 closed

[2019-08-25 20:53] sdll commented on #31761
@jsimsa, thanks for your response! I wonder whether it is ok that the example without shuffling works as expected without caching, instead of going over the consecutive pairs of files. Shouldn't caching be enabled by default if there is a repeat coming after shuffling, like it is for the in-order processing?

[2019-08-25 21:28] jsimsa commented on #31761
When shuffling is enabled, you need to list all files in order to pick two randomly.

The input pipeline without `cache` repeatedly randomly samples two files. The input pipeline with `cache` repeats the same two (randomly sampled) files. I don't think that caching should be enabled by default because the behaviors are different (and both meaningful).

[2019-08-25 21:38] sdll commented on #31761
Agreed. Could the description of this behavior be added to the [official docs](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#take) at least?

[2019-08-25 21:40] jsimsa commented on #31373
@SumNeuron `numpy_function` is opaque to shape inference (as it can contain arbitrary Python code), so the functionality you are asking for is not feasible. Having said that, I don't see why you need to use `numpy_function` for your example. The follow pipeline will work just fine:

[code]

@deasmhumhna I would highly discourage your from relying on implementation details of private attributes as

[2019-08-25 21:40] #31373 closed

[2019-08-25 21:46] jsimsa commented on #31761
I am not sure what exactly would you like to be added (as documentation of each tf.data transformation should make sense on its own), but I am happy to review a PR with your suggestion.

[2019-08-25 23:24] fullprocess commented on #22670
Why is the "Target Operations" argument NULL? What exactly does this argument represent?

[2019-08-26 00:21] mmv opened #31962 "Tensorflow 2.0 tf.function internal error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab, Ubuntu, Windows
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2019-08-26 01:39] muller0 opened #31963 "Broken link in XLA page"
All the link on the following page is forwarding to a 404 page.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/g3doc/operation_semantics.md

[2019-08-26 02:19] honeytidy opened #31964 "ERROR: opt-einsum requires Python '>=3.5' but the running Python is 2.7.15"
I want upgrade tensorflow-gpu==2.0.0-beta to  tensorflow-gpu==2.0.0-rc0. I upgrade with the following command:
`pip install tensorflow-gpu==2.0.0-rc0 -U`

I got an error like this:

[code]
But it is ok for last version. How to solve the problem?

[2019-08-26 02:35] anttttti commented on #23748
@SharoneDayan

On TensorFlow 2.0.0-rc0 I get "ValueError: The two structures don't have the same nested structure." trying your DenseLayerForSparse layer. Using sparse inputs as to regular Dense gives the "ValueError: The last dimension of the inputs to `Dense` should be defined. Found `None`." There doesn't seem to be any simple fix to this that doesn't involve in-depth understanding of TF2 inter

[2019-08-26 02:40] Anymre opened #31965 "Crash-course issue"
#31958  URL(s) with the issue:
https://developers.google.cn/machine-learning/crash-course/reducing-loss/video-lecture

## Description of issue (what needs changing):
On 1:50,it prompts me to do the gradient-descent practice，when i click the button,then redirect to the wrong page.

### Correct links

https://developers.google.cn/machine-learning/crash-course/reducing-loss/gradient-descent

[2019-08-26 02:45] zh794390558 commented on #31196
Like this `bazel build --output_base ~/delta/.cache //tensorflow:tensorflow_cc.so`

[2019-08-26 03:00] sjtusmartboy opened #31966 "NotFoundError: _ZN10tensorflow31MaybeForwardRefInputToRefOutputEPNS_15OpKernelContextEii"
Python 3.6.5
compiled tensorflow-1.13.1-cp36-cp36m-linux_x86_64.whl

The compilation process of my newly created optimizer libgftrl_op.so can be compiled without error. However, when it is loaded by `resource_loader.get_path_to_datafile('libgftrl_op.so'))`, then comes the error message
`
tensorflow.python.framework.errors_impl.NotFoundError: /opt/ml/job/python/jarvis/tensorflow/libgftrl_op.so: und

[2019-08-26 03:05] tired0408 commented on #25062
Same problem.At this env, keras==2.2.2, Keras-Applications==1.0.8  and keras_preprocessing==1.1.0,please upgrade  Keras-Applications==1.0.4 and keras_preprocessing==1.0.2 can solved the problem

[2019-08-26 03:09] DragonicVoid22 commented on #29079
so is anyone gonna give an answer to this post lmao, so much comments but zero solutions shown lol

[2019-08-26 03:09] UCLA123 commented on #10779
/Applications/Python 3.7/Install Certificates.command
Work for me

[2019-08-26 03:30] oanush commented on #31938
@gaborchris ,
Can you please try the solution provided by @DEKHTIARJonathan and @akanyaani.Thanks!

[2019-08-26 03:32] ghost opened #31967 "Select compiler for building"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
1.14

- Are you willing to contribute it (Yes/No):

Yes

*

[2019-08-26 03:35] ziyigogogo commented on #31870
same situation here, when i update my tf.nightly version to 2.0rc, TF_CPP_MIN_LOG_LEVEL does not work anymore.

[2019-08-26 03:53] ziyigogogo commented on #31870
After a quick dig into this, it seems that the problem appear only if you change the log level after import tensorflow.
[code]
output:
[code]
if i change set the environ after import tf:
[code]
output:
[code]
This bug happens in Tensorflow 2.0rc, and in Tensorflow beta0&beta1 everything works good no matter the order of import.

I think the code somehow only the logger reading the TF_CPP_MIN_LOG_L

[2019-08-26 03:57] Naville opened #31968 "Why HLO Importer doesn't support U32 type?"
Hi:
I am learning the internal data structure of Tensorflow and MLIR.
I first used ``tfcompile --graph=graph.pb  --config=graph.config.pbtxt   --xla_dump_to="/tmp/" --cpp_class="mynamespace::MyComputation" --xla_dump_hlo_as_text=true`` and then extracted ``module_0000.after_optimizations.txt`` which if I understood this correctly is the lowered HLO IR from input TF GraphDef.

However when I pass t

[2019-08-26 04:02] SumNeuron commented on #31373
@jsimsa the reason for the `numpy_function` inclusion, is because I provided a MWE rather than the actual code. Perhaps one would, inside of `preprocess_image`, do more advanced alterations. See [issue 31235](https://github.com/tensorflow/tensorflow/issues/31235) which includes code copy-pasted from keras's image processing which one might want to use without re writing `numpy` core functions.

As

[2019-08-26 04:03] PlusWayne opened #31969 "Distributed Tensorflow"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

example scrip

[2019-08-26 04:08] ZhuoranLyu commented on #23692
Just compiled the dll successfully. However, another question raised. Currently I am using TensorRT5.0.4.3 on windows to compile tensorflow. But the optimized tftrt model file is generated on ubuntu with tensorrt 5.0.2.6, which is incompatible  with the version under windows. But there is no tensorrt5.0.4.3 for linux...

[2019-08-26 05:02] sjtusmartboy commented on #27307
@dMokaMoka hi, what do you mean by 'installed tensorflow with my own op'?

[2019-08-26 05:12] oanush commented on #31911
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-08-26 05:41] oanush commented on #31956
@tsc2017 ,
Can you also refer the similar issues #[783](https://github.com/tensorflow/tensorflow/issues/783) and #[17](https://github.com/jacobgil/keras-grad-cam/issues/17).Thanks!

[2019-08-26 05:43] gadagashwini commented on #31942
@zouhanting,
Please follow the steps below to install Tensorflow using pip and by creating virtual env
[code]
Let us know how it progresses. Thanks!

[2019-08-26 05:47] gadagashwini commented on #31927
@daniele-sartiano, did you get a chance to look at @akanyaani's comment. Thanks

[2019-08-26 05:56] kaka-lin commented on #31943
I found crash only happens in Chrome browser.

In Firefox, as below:

![Screenshot from 2019-08-26 13-53-56](https://user-images.githubusercontent.com/20853096/63668267-315dc300-c809-11e9-812f-6b665c13ab47.png)

[2019-08-26 05:58] ravikyram commented on #31952
I have tried on Colab with TF version 2.0.0-dev20190730, recent nightly version 2.0.0-dev20190825 and was able to reproduce the issue.Please, find the [gist](https://colab.research.google.com/drive/1P4tejxmGIxKmXM4TFoesuaXTZUEsPpdx) here.Thanks!

[2019-08-26 06:04] zwenju commented on #31891
Thanks，
In  issue  #31516，  similarly,  Input[:,0] creates a connected computational graph.
In this part,  it may exist a  non-consistency between **the slicing operation** and the the **gradient functions.**
Could you further consider it ???

Since slicing operations create a new tensor, if you try to compute gradients from the return value of input[:, 0], you will get the value of None because o

[2019-08-26 06:04] gadagashwini commented on #31921
@PanderBoy18,
Try below command to install tensorflow 1.5
`pip3 install tensorflow==1.5`
Let us know how it progresses. Thanks!

[2019-08-26 06:14] gadagashwini commented on #31945
@DavidS3141, Thanks for finding the issue.
I could able to reproduce the issue on Colab with Tensorflow 1.13.1 . Please take a look at gist [here](https://colab.research.google.com/drive/1lG5pJtuX7IDxxH-Sxt8SzqQ4S8e3A_Wk). Thanks!

[2019-08-26 06:15] tomruarol opened #31970 "ERROR: NotFoundError - File under path not being found."
I am trying to train a whole model based on the COCO dataset using this scripts provided but reducing the number of classes to only 6.

I run the `download_and_preprocess_coco.sh` script which downloads the dataset and calls the `create_coco_tf_record.py` script which creates the TFRecords from the dataset previously downloaded. After that steps (successfully achieved) I try to run the `retrain_de

[2019-08-26 06:43] WindQAQ commented on #31891
I do not really understand how two examples are related. If you plot your model in #31516, you can find that paths from prediction to `model.trainable_variables`, that is, batch normalization and dense layer (`BLOCK_*_{BN,DENSE}` in the following figure) does not go through any sliced tensor/op. Therefore the gradients are computed safely without obtaining any `None` value. However, if you try to

[2019-08-26 06:50] gadagashwini commented on #31939
@besirkurtulmus,
For Tensorflow CPU version try,
`pip install --upgrade tensorflow==2.0.0-rc0`
Let us know if that helps. Thanks!

[2019-08-26 06:50] ravikyram commented on #31940
I am closing this issue since the query is been answered. Please, feel free to reopen if the issue is still persists. Thanks!

[2019-08-26 06:50] #31940 closed

[2019-08-26 06:52] gadagashwini commented on #31954
@nsantavas, will it be possible to provide sample code to investigate the issue. Thanks!

[2019-08-26 07:04] cskonopka commented on #20444
I've installed the latest version (and older versions) of Tensorflow using pip 19.2.3 and I still cannot run Tensorflow. I keep running into the following error:

`ImportError: No module named tensorflow`

I've found no solution after hours of research. Has anyone successfully installed tensorflow with python 2 or 3 lately?

[2019-08-26 07:06] jichangsheng commented on #31604
i want to convert pb file to tflite file using TFliteConverter of TensorFlow 1.14.0, it is failed because SubpixelConv2d in tensorlayer contained a custom op named “DEPTH_TO_SPACE” appeared.When I set “converter.allow_custom_ops=True” it is successed to
converted to tflite file，but when i use python to reuse
the tflie file to produce model，it is still faied showing “didnot find custom op for name

[2019-08-26 07:12] daniele-sartiano commented on #31927
@akanyaani thank you for your comment.
I tried to edit the code in this way:
[code]

but I obtain the same error.
Any suggestion to solve this issue?

[2019-08-26 07:15] Oktai15 commented on #24607
@jdduke any update?

[2019-08-26 07:16] liakopyangsir commented on #31762
Thank u, my tensorflow version is r1.14.0 which is the official release and not support FP16 yet.
the latest version maybe is not stable and I got some compile errors, so I chose r1.14.0,  I will try the latest version and check again.

BR

[2019-08-26 07:16] #31762 closed

[2019-08-26 07:18] YuBicheng opened #31971 "vs2015: c++ dependencies"
I already build a tensorflow1.13r c++ lib with bazel0.21.0 .I found a problem when I try to create the VS project.
Severity	Code	Description	Project	File	Line	Suppression State
Error	LNK2019	unresolved external symbol "char const * __cdecl tensorflow::core::GetVarint32PtrFallback(char const *,char const *,unsigned int *)" (?GetVarint32PtrFallback@core@tensorflow@@YAPEBDPEBD0PEAI@Z) referenced in f

[2019-08-26 07:28] pandrey-fr commented on #30561
Now that version 2.0 rc0 is out (congrats!), I re-ran the tests on the shared mock script (with the `tf.sequence_mask` line now wrapped with a Lambda layer) using it, and am overall very pleased with the results, although there might still be a few things to look at.

**Mock script and data**

With **Eager execution enabled**, the training is faster than ever, with a first epoch running in 11 seco

[2019-08-26 07:28] #30561 closed

[2019-08-26 07:29] #31966 closed

[2019-08-26 07:32] sjtusmartboy opened #31972 "`tf.load_op_library` contains no custom ops"
I face the same problem with that in https://github.com/tensorflow/tensorflow/issues/27307. However, the author did not give more details how he solved this problem. Is there anyone who has successfully solved this problem?

[2019-08-26 07:41] DKWIPL commented on #31825
Sure,
Here are the details:

I am following this tutorial - https://www.tensorflow.org/tutorials/load_data/images
to learn about how to train the model using sets of images.

But when I started inspecting the images as shown here: https://www.tensorflow.org/tutorials/load_data/images#inspect_the_images

It is not working, it gives me the following error:
File "DataCollectionError:.py", line 38, in

[2019-08-26 07:54] zwenju commented on #31891
thanks WinQAQ, thanks for you solution.
Great!

[2019-08-26 07:54] #31891 closed

[2019-08-26 08:02] pandrey-fr commented on #30952
As a conclusive note:

I ran my actual model with 2.0 rc0, comparing performances with and without disabling Eager execution. Most importantly, I am happy to report that leaving Eager enabled no longer causes memory issues. Regarding fitting runtimes, disabling Eager still yields a slight gain (122 seconds per epoch, versus 145 for the first and 135 for the following ones when Eager is left enable

[2019-08-26 08:09] ravikyram commented on #31922
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-08-26 08:24] oanush commented on #31749
@deasmhumhna ,
Any update after tried rebuilding TF?Thanks!

[2019-08-26 08:24] ravikyram commented on #30449
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-26 08:24] #30449 closed

[2019-08-26 08:28] gadagashwini commented on #31957
Was reproduced the issue with Tensorflow 1.14.0. Please see the gist [here](https://colab.research.google.com/drive/1EKMMLXpMreIz5_w3qTWKtodnbnBDydwZ). Thanks!

[2019-08-26 08:30] jeandut commented on #13308
I think I might be running into this exact same issue with tf1.13.1 and MacOS see: https://stackoverflow.com/questions/57427277/tensorflow-customop-multiprocessing-not-working-for-cpu#comment101753938_57427277

[2019-08-26 08:40] oanush commented on #31875
@zwenju ,
I tried installing latest `tf-nightly-2.0-preview 2.0.0.dev20190825` version in both python3.6 and 3.7 in anaconda,worked fine for me.Thanks!

[2019-08-26 08:41] gadagashwini commented on #31612
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-26 08:41] #31612 closed

[2019-08-26 08:43] gadagashwini commented on #31642
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-26 08:43] #31642 closed

[2019-08-26 08:52] gadagashwini commented on #31645
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-26 08:52] #31645 closed

[2019-08-26 08:54] gadagashwini commented on #31666
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-26 08:54] #31666 closed

[2019-08-26 08:55] gadagashwini commented on #31693
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-26 08:55] #31693 closed

[2019-08-26 09:01] gadagashwini commented on #31837
@YC-wind, can it be possible to share the complete code to reproduce the reported issue. Thanks!

[2019-08-26 09:18] cgebbe commented on #29795
The issue came up because Udacity only features tensorflow 1.3.0 in their final capstone project of their self-driving car nanodegree, see https://github.com/udacity/CarND-Capstone/issues/276

I thought that such situations may occur quite often. However, I don't have the issue anymore, so it can be closed.

[2019-08-26 09:24] makercob opened #31973 "[TF 2.0.0-rc0] Cannot find any 2.0.0 RC0 API references."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Windows 10 and macOS
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0-rc0 (both GPU and CPU versions)
- Python version: 3.6.8

**Describe the current behavior**
No

[2019-08-26 09:34] mahmoodn opened #31974 "LD_LIBRARY_PATH is set but library files can not be found"
I have installed tensorflow via `pip install tensorflow-gpu` and I also have copied the label image on my local directory. When I run it, I see some shared library error related to libcu* but such files actually exist and LD_LIBRARY_PATH confirms that.
[code]

Please note messages like

[code]

library path is set correctly

[code]

Any more steps should I take?

[2019-08-26 09:35] #31884 closed

[2019-08-26 09:37] nsantavas commented on #31954
@gadagashwini
[code]

[2019-08-26 09:51] calmisential commented on #31973
@makercob Hello, friend! I have the same problem. I found PyCharm cannot find the tensorflow_2.0.0-rc0 API, but jupyter notebook and jupyter lab can. I'm also  puzzled by this problem.

[2019-08-26 10:09] ravikyram commented on #31943
@kaka-lin

I tried in Google colab and Jupyter notebook with Google chrome and able to execute the code successfully.Can you please upgrade your google chrome version and try again and see if the problem still persists.Thanks!

[2019-08-26 10:48] drewm1980 opened #31975 "Prediction speed worse than community keras due to training related code running during inference"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 18.04.2 (but we believe this to be irrelevant)
- TensorFlow installed from (source or binary): pip (inside a docker image)
- TensorFlow version (use command below): 1.14 (likely affects 1.12 - current 2.

[2019-08-26 11:05] georgealexandruvlad commented on #31973
Many others (including myself) reported the same problem in the following thread [https://github.com/tensorflow/tensorflow/issues/26502](url). The previous issue is closed so I will leave this here too hoping it has better coverage being an open issue.

[2019-08-26 11:13] drewm1980 commented on #31975
Looking at the code in the 2.0 branch, this affects tensorflow 2.0 beta as well. It is not limited to tensorflow 1.14.

We haven't backported our code to 1.12 to test it, but looking at the code, it seems much of the overhead may have been introduced in the commit:

https://github.com/tensorflow/tensorflow/commit/4ca599630233afe5240deae44212f19412ab6423#diff-02db763382946f7695e505ce1c545dc4L250

S

[2019-08-26 11:18] makercob commented on #31973
@georgealexandruvlad uhmmm... PyCharm to blame? but 2.0.0b1 worked fine.

[2019-08-26 11:32] tsc2017 commented on #31956
@oanush Thanks for the information.
Now I figure out that the problem can be fixed by removing pairs of grad and var in which grad is None:

[code]

Still, I have doubt whether the source of LossScaleOptimizer should be updated so that it is consistent with the other optimizers.

[2019-08-26 11:40] thias15 commented on #31922
Hello.

Thanks for your response. The problem is not related to a specific platform, but here it is:
The App is running on Android, Android Studio running on a MacBook.

I'm using tflite, 1.14 binaries:
org.tensorflow:tensorflow-lite-gpu:1.14.0

[2019-08-26 11:43] georgealexandruvlad commented on #31973
@makercob well, you're right. I'm just looking for a solution for large projects which can't be implemented in jupyter/google colab. As I stated in my comment in the other thread:

I only ask for a solution to get it working because there are lots of good new features in the new release. This could mean a solution from the tensorflow team if there are some steps to be followed in order to make it

[2019-08-26 11:43] Efaq commented on #31973
Is there any workaround for that, while it is not solved?

[2019-08-26 11:46] RaphaelMeudec opened #31976 "[TF2.0] (rc0) Mocking tf.summary.image"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): `pip install tensorflow==2.0.0rc0`
- TensorFlow version (us

[2019-08-26 11:56] kumarnikhil936 commented on #31364
You can simply revert back to the numpy 1.16.1 version, by
→ pip install numpy==1.16.1

[2019-08-26 12:39] tensorflowbutler commented on #25171
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-08-26 12:39] tensorflowbutler commented on #25997
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-08-26 12:39] tensorflowbutler commented on #26280
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-08-26 12:43] makercob commented on #31973
@georgealexandruvlad Could you please share a link to release notes of 2.0.0-rc0? I just can't find it anywhere. Thanks!

[2019-08-26 12:44] val9299 commented on #31949
Thank you for the explanation! Then the real issue is how to get interpreter.run() to run on the same thread where it was initialized.

The interpreter “tfLite” is initialized in TFLiteObjectDetectionAPIModel.create() but tfLite.runForMultipleInputsOutputs(inputArray, outputMap) is used in TFLiteObjectDetectionAPIModel.recognizeImage() which is called in a separate thread.

For testing purpose onl

[2019-08-26 12:46] dbonner commented on #31187
@JossWhittle The files between the 2 branches are completely different.  One is about 25Kb (r2.0) and the other is only 2-3Kb (master) from memory.
Yes I have a similar workaround (commenting out AVX512 support for tf lite but not disabling TF lite entirely) to get r2.0 to build.

@jalexstark Hi, hadn't heard from you in a bit.  I'm sorry I got you thinking I was on the master branch.  My problem

[2019-08-26 12:48] georgealexandruvlad commented on #31973
Sure. I think this should be what you're searching for: https://github.com/tensorflow/tensorflow/releases

[2019-08-26 13:03] mmmmayi opened #31977 "what's the mean of "? A/DEBUG: signal 6 (SIGABRT), code -6 (SI_TKILL), fault addr --------" in tflite"
When I using tensorflow-lite in Android, after change the model officially supported, an error happened but I can't solve it because I didn't find some guide on Internet about tensorflow-lite with details.

The input of my model has two inputs, 32*128*128*1 respectively, and I mimic the way to feed the inputs but failed

Here is some code in my project:
[code]
And the error shows:
[code]
Thanks fo

[2019-08-26 13:11] zaccharieramzi commented on #6541
So I tried one further thing to see how big the problem was.
I wrapped the `numpy` IFFT2D in a `tensorflow` layer using concepts from [`odl`](https://github.com/odlgroup/odl/blob/master/odl/contrib/tensorflow/layer.py) (itself inspired by gists shared in [#1095](https://github.com/tensorflow/tensorflow/issues/1095)).

This is the code I used to create the `tensorflow` layer:
[code]

(a bit more co

[2019-08-26 13:12] kezakool commented on #31694
@srjoglekar246, thanks for helping me! :)

 What do you mean with "you could try 'freezing' some of these shapes?" can you describe a bit please?, i'm not sure to get it

Also, with your suggestion, I tried to convert using  target_ops = [tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS]
and i still get this error :
Here is a list of operators for which you will need custom implementat

[2019-08-26 13:18] oanush commented on #31963
@muller0 ,
When tried accessing the links in the page mentioned, I was able to access without any issues.Can you check again and let me know.Thanks!

[2019-08-26 13:19] ravikyram commented on #31685
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-26 13:19] #31685 closed

[2019-08-26 13:40] ravikyram commented on #31817
@wwfwwfwwf3

Can you please confirm which version of numpy you are using? If numpy version is 1.17 in your system can you downgrade to 1.16.4 and check whether the issue still persists?Thanks!

[2019-08-26 13:49] Leslie-Fang commented on #31325
The test run into this snippet of code
https://github.com/tensorflow/tensorflow/blob/0b180e77223a1819758945a9d09c6960c553a1f3/tensorflow/core/kernels/reduction_ops_common.h#L189-L194

[2019-08-26 14:56] andreyhristov opened #31982 "Can't build 1.14.0 on Nvidia Xavier AGX"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04,
- Device : Nvidia Xavier AGX
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.14.0
- Python version: 3.6
- Installed using virtualenv? pip? conda?: n/a
- Bazel version (if compiling from source): 0.24.1
- GCC/Compiler version (if compiling from source): 7.4.0
- CUDA/cuDNN v

[2019-08-26 15:16] makercob commented on #31973
@Efaq Any alternative to PyCharm? VS Code works not so well for me.

[2019-08-26 15:18] PgLoLo opened #31983 "[TF 2.0.0rc0] dependency on functools32 prevents python3.7 installation"
Somewhy poetry thinks, that `tensorflow-gpu = "2.0.0-rc0"` depends on functools32 on python3.7 environment, because of what `poetry install / update` fails.

Found [this](https://github.com/tensorflow/tensorflow/issues/31767) issue, but it did not help because `tensorflow-gpu = "2.0.0-beta1"` works greate with poetry.

[2019-08-26 16:33] kezakool commented on #31694
Thanks for investing this Sachin, is ControlFlow v2 compatible with Tensorflow 1.14?

Before seeing your answer, I dug into into the differents LSTM components availables, and using BasicLSTMCell with Static_rnn seems to be a solution (still have to tune it) and doesn't use Merge/Switch.
With that, the only piece missing is the CTC_BEAM_SEARCH_DECODER op, i saw this issue :
https://github.com/tens

[2019-08-26 16:43] DragonicVoid22 commented on #24138
instead of posting things that do not work at all why not just post something that works 200%

[2019-08-26 16:43] AaronLiu92 commented on #31874
Is it the library can chose Arm cpu/gpu to do the acceleration?

发自 iPhone 版 Yahoo 邮箱

星期二, 八月 27, 2019, 00:20 于 Martin Wicke <notifications@github.com>写道：

Please check out XLA here: https://www.tensorflow.org/xla/

It lives in the compiler directory.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-26 16:57] OlavHN opened #31984 "[TF 2.0.0rc0] Error when using cuDNN GRU"
Upgrading from pip package `tensorflow-gpu==2.0.0-beta1` to `tensorflow-gpu=2.0.0-rc0` the cuDNN GRU op no longer seems to work:

[code]
Gives expected output for `beta1`:
[code]
versus this for `rc0`
[code]

[2019-08-26 17:14] dmagee commented on #31944
I think this is [now] the same error I reported a couple of weeks back here https://github.com/tensorflow/tensorflow/issues/30999. I've failed to see any evidence any version since 1.10 builds on windows, this is also the latest version that has a pre-compiled binary for windows.

[2019-08-26 17:27] Alekxos commented on #27880
Same here...  ERROR: quantized_dimension must be in range [0, 1). Was 3.
Noticeably, the batch normalization layers are conveniently missing from the EdgeTPU sample compile script and other examples that use EdgeTPU quantization like:
https://ai.googleblog.com/2019/08/efficientnet-edgetpu-creating.html
also use their own form of batch normalization layers. Not sure if it's just a problem when fuse

[2019-08-26 17:58] jmgc commented on #31957
@yongtang

Following your advice, I have made another test using the `tf.io.write_file` function:

[code]

The result is a:

[code]

If I do exactly the same, but without the `@tf.function` decorator:

[code]

The result is the one expected:

```2```

I assume I am making something wrong, but sincerely I do not know what.

In any case, thanks for your comment.

[2019-08-26 18:33] RaphaelMeudec opened #31987 "[TF 2.0.0rc0] Installation on Travis CI"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Xenial 16.04 (xenial distribut

[2019-08-26 18:36] sziem commented on #31550
Great!  I was able to run the code without error after compiling the 1.15 branch with mkl.
Thanks!

[2019-08-26 18:36] #31550 closed

[2019-08-26 20:21] visionscaper commented on #24226
@pavithrasv No, I didn't need to change anything related to the MirroredStrategy. And, yes, I used the very latest nightly (2 days ago):

[code]

[2019-08-26 20:26] OlavHN commented on #31984
Thanks for looking into this!

The CUDNN available from apt specified in the tensorflow install guide ( https://www.tensorflow.org/install/gpu#ubuntu_1604_cuda_10 ) gave this error. Manually downloading a (newer) `.deb` file from nvidia seemed to solve the issue for me as well.

Not sure if the issue is due to apt and a messy setup or if rc0 is not compatible with `7.4.1.5-1`.

Problem solved for

[2019-08-26 21:13] jmd-0 opened #31991 "Iterate on Unknown Batch Size with Custom Layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **OS X 10.14.6**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **Binary**
- TensorFlow version (use comman

[2019-08-26 22:44] alextp commented on #31335
It is effectively necessary; otherwise you can use our docker images, which
let you reproduce exactly the build environment for our releases. This is a
downside of using C++ for TF, which has no stable ABI. We're working on a C
API for custom ops which will not have this restriction.

On Mon, Aug 26, 2019 at 3:40 PM Steven Johnson <notifications@github.com>
wrote:

--
 - Alex

[2019-08-27 00:13] memory-yancy commented on #26289
I follow https://github.com/tensorflow/tensorflow/issues/26150#issuecomment-469058265 resolved `Cuda Configuration Error: Cannot find cuda library libcublas.so.10.1` similar issue in `nvidia/cuda:10.1-cudnn7-devel-centos7` docker image, anaconda `Python 3.6` to compile GPU `tensorflow==1.12`:

[code]

Unfortunately, raise another issue for me:
[code]

[2019-08-27 00:23] grananqvist commented on #31499
@jvishnuvardhan Right.. I was looking for what change there was? Is it possible to make whatever fix there was into TF 1.x ?

[2019-08-27 00:33] jurneo commented on #31917
I supposed the TF is preinstalled (when running on the Google AI-Platform).
The nvidia driver version from running nvidia-smi:
[code]

[2019-08-27 01:28] #27828 closed

[2019-08-27 02:16] ZhuoranLyu commented on #23692
Hi @pooyadavoodi , do you know how to optimize the model on Windows? I tried to use this ConvertGraphDefToTensorRT function to convert the tf model to a trt model, however, I did not see any speed up here.

[2019-08-27 02:23] zh794390558 commented on #31915
replace https://github.com/didi/delta/blob/master/egs/iemocap/emo/v1/run.sh#L50 `--cmd train_and_eval` to `--cmd eval` will reproduce this bug.

[2019-08-27 02:40] zh794390558 commented on #31196
[code]

[2019-08-27 02:42] ZhuoranLyu commented on #23692
@pooyadavoodi Because there is no python API 'TrtGraphConverter' under windows platform...

[2019-08-27 02:43] kaka-lin commented on #31943
Hi, @ravikyram:

I upgrade my google chrome version: Version 76.0.3809.132 (Official Build) (64-bit)
But the problem is still persistent.

I record a demo video, pls check it thanks.

TF2 - beta1:

https://drive.google.com/file/d/1g8f-IAqKU9ACYiK4BemoMpmQwxw5GlXA/view?usp=sharing

TF2 - rc0:

https://drive.google.com/file/d/1yXDPVJJ_XVCpytveEQFv9AiLlx1j3ANr/view?usp=sharing

[2019-08-27 02:46] #22229 closed

[2019-08-27 02:56] gino6178 commented on #31943
I have the same problem.

[2019-08-27 03:00] ZhuoranLyu commented on #23692
Hi, could you please explain a little bit more? I could not quite understand. Do you mean using python API to convert a model to trt like the example?

[2019-08-27 03:13] ziyigogogo commented on #31870
@ymodak
![1](https://user-images.githubusercontent.com/9452949/63738157-7b9f7c80-c8bb-11e9-90a7-6948b5efbb1a.png)
tried 2.0.0-dev20190826, still not work. Maybe the platform-differ issues?
I'm testing this on win10.

[2019-08-27 03:29] chengmengli06 opened #31994 "Autotune seems not improve performance"
How autotune is implemented? it seems not improve performance, the dataset is still the bottleneck.

[2019-08-27 03:43] ZhuoranLyu commented on #23692
@samikama Hi, thank you for your reply. Would you please have a look at my code?

[code]
Is this correct? I am still confused about how to set session config in C++.

[2019-08-27 03:49] sjtusmartboy commented on #31972
I added the op code in tf source code, complied it and installed tf complied binary. Then I extracted the tf op code and load the op built. So comes the duplex op code and tf cannot differentiate which op to load

[2019-08-27 03:49] #31972 closed

[2019-08-27 03:55] Raju-567 commented on #31889
Yes, I want to extend the pre trained model's(https://www.tensorflow.org/lite/guide/hosted_models) provided by TensorFlow with my new class ex: mobilephones .

[2019-08-27 04:03] Bakibiiiillah opened #31995 "NotImplementedError: tf.GradientTape.gradients() does not support graph control flow operations like tf.cond or tf.while at this time. Use tf.gradients() instead."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-08-27 04:13] ZhuoranLyu commented on #23692
Thank you very much! Let me have a look at that.

[2019-08-27 04:29] SuperAcidLemon commented on #21788
I have the same issue.

[2019-08-27 04:47] Mageswaran1989 commented on #30885
**TF Version : tensorflow-gpu==2.0.0-rc0**

When ever I use `tf.data`, I always experience a lag on my Dell G7 laptop (32GB RAM, Nividia 1060 6GB, 12cores i7). With TFRecords in place, the very reason of switching to Dataset APIs goes for waste. After each epoch the RAM memory foot print increases linearly till OS kicks in and kills the application.

With Tensorflow 2, I had to do quite a bit of w

[2019-08-27 05:03] hlopko commented on #14380
We've had discussions with the Bazel's external repositories team, and they're delivering `bazel sync --configure` in Bazel 0.29 command that will only refetch configure-like external repositories (which nccl_archive is). Good news is that we won't have to throw everything out with `clean --expunge`, only artifacts affected by the update will be recomplited. Bad news is that you still have to manu

[2019-08-27 05:03] hlopko commented on #14380
Relevant Bazel commit - https://github.com/bazelbuild/bazel/commit/4a1380fed159f09b29df461b85e0469f8cd81d34

[2019-08-27 05:14] khaliltalib277 opened #31996 "import tensorflow as tf issue"
I tried many times, but still the same issue.

[code]
​

[2019-08-27 05:22] zwenju commented on #31875
thanks, it is not works for me.

[2019-08-27 05:22] #31875 closed

[2019-08-27 05:28] khaliltalib277 commented on #31996
but before this issue, I was using TF version 1.13.1 on the same PC. Just I have installed my window and I'm facing this issue.

[2019-08-27 05:55] pandrey-fr commented on #30834
@bluehope
After some time, the PR was merged into the master branch a few hours ago; this means the feature is not part of the recent 2.0 rc0, but should be part of future releases. In the meanwhile, you can still use a local copy of the updated `noise.py` file, as previously indicated (or you can temporarily make it part of your code projects and use the locally-defined class instead of the one s

[2019-08-27 06:18] oanush commented on #31974
@mahmoodn ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.Thanks!

[2019-08-27 06:25] apremgeorge commented on #17022
Yes, python 3.7.3 with tensorflow 1.14.0 and keras 2.2.5, keras sequential model working perfect in Tornado API

[2019-08-27 06:35] gadagashwini commented on #31711
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-27 06:35] #31711 closed

[2019-08-27 06:41] ZhuoranLyu commented on #23692
@samikama Hi Sam, I just found that `ConvertGraphDefToTensorRT` this function already constructed the config proto inside the function.
https://github.com/tensorflow/tensorflow/blob/6612da89516247503f03ef76e974b51a434fb52e/tensorflow/contrib/tensorrt/convert/convert_graph.cc#L289
So do I still have to construct the config myself?

[2019-08-27 06:48] ChenYang-ChenYang commented on #19671
@jaingaurav I'm using tensorflow 2.0.0b1 keras with eager mode. I can't find tf.set_random_seed(). Where is it in version 2.0? Thanks.

[2019-08-27 06:54] oanush commented on #31962
I was able to replicate the issue in TF version 2.0 preview. Thanks!

[2019-08-27 06:55] jmgc commented on #31957
@jvishnuvardhan it is correct that it works for the `tf.io.read_file` and `tf.io.write_file`. However, it does still not work with the `tf.io.gfile` functions.

[2019-08-27 07:04] Efaq commented on #31973
@makercob I will try not to change, I have some preference for PyCharm. But in case it gets too annoying not to have the last version of TF, I will choose between VS and Spyder. **BUT** I don't even know if this would solve the issue :)

What issues have you had with VS Code? Could you get autocompletion?

[2019-08-27 07:14] bluehope commented on #30834
Dear @pandrey-fr,
Thank you for your dedication for the patch.
Congratulations for your updated code merged into the master branch.
We will be happy with the newly released version.
Thank you :)

[2019-08-27 07:14] #30834 closed

[2019-08-27 07:22] jackd commented on #27170
I was happy to see `tf.keras` finally managed to do away with the `Lambda` necessity. I was disappointed to see this hasn't reached `RaggedTensor`s yet.

[code]

[2019-08-27 07:37] pandrey-fr commented on #30834
You are very welcome (and although I am happy the PR got accepted, it is very few lines of code; thank *you* for pointing out the issue in the first place).

[2019-08-27 07:39] David-Mao opened #31998 "[TF 2.0] GRU layer doesn't work when called from tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Darwin Kernel Version 18.6.0
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use comman

[2019-08-27 08:00] KMint1819 commented on #12132
Maybe not proper here but here's some of my experiments on MxNET & NVIDIA Titan X + CUDA 10.1(Not sure about cudnn version):
|Model|parameters|Cost time on GPU|Cost time on CPU|
|:--:|:--:|:--:|:--:|
|Resnet50_v2|25.6M|0.3964s|5.4333s|
|EfficientNet B2|9.2M|0.6466s|1.6488s|
Efficientnet is the sota model published by google, which is mainly built with MBConv(A depthwise separable convolution block

[2019-08-27 08:02] cadama opened #31999 "SparseTensor stopped working on tf.keras when moving from 2.0.0-beta1 to 2.0.0-rc0"
I just moved from `2.0.0-beta1` to `2.0.0-rc0` and some code for handling sparse categorical variable stopped working for me.

Here is some minimal code to reproduce the issue.

[code]
on `2.0.0-rc0` I am getting the following error

[code]
Whereas everything runs fine in `2.0.0-beta1`

[2019-08-27 08:05] makercob commented on #31973
@Efaq No autocompletion with VS Code either. :-/
Spoiled by PyCharm, not everything seems right to me in VS Code when working with Python. say, instant variable evaluation and numpy array inspection.

[2019-08-27 08:26] boluoweifenda commented on #12132
There is a paper discussing the trap of FLOPs, maybe in depthwise convolutions the memory access dominants the real cost time on GPU/CPU implementations
[https://papers.nips.cc/paper/7835-constructing-fast-network-through-deconstruction-of-convolution](url)

[2019-08-27 08:39] gadagashwini commented on #31825
@DKWIPL,
I tried executing the colab but i didn't get any error. Just to verify, are you executing the code in colab or jupyter notebook locally on your system. Thanks!

[2019-08-27 08:43] zh794390558 commented on #29738
This problem not solved now for 1.14-py3 image.

[2019-08-27 08:44] ravikyram commented on #31970
@tomruarol
This issue is more suitable for TensorFlow Models repo. Please post it on models repo from [here](https://github.com/tensorflow/models/issues/new). Thanks!

[2019-08-27 08:48] svdHero commented on #31926
Can anybody confirm the above behaviour?

Should I install `nvidia-container-toolkit` via
[code]
as described on https://github.com/NVIDIA/nvidia-docker or is this not necessary with the latest docker version?

[2019-08-27 08:49] cadama commented on #23748
@anttttti

Possibly related:

https://github.com/tensorflow/tensorflow/issues/31999

[2019-08-27 08:57] #31794 closed

[2019-08-27 08:59] svdHero commented on #31926
I have seen that @Ethyling has added Debian 10 support to the Nvidia Container Toolkit over at https://github.com/NVIDIA/nvidia-docker recently.

Maybe he could point me in the right direction? Last time I tried to install `nvidia-container-toolkit` I got an `Unsupported distribution`.

[2019-08-27 09:02] xmfbit commented on #31964
`pip install opt-einsum==2.3.2` works for me.

[2019-08-27 09:06] yecphaha opened #32001 "The title is the shared_embeddings module，but the document introduces shared_embedding_columns module"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-08-27 09:06] gadagashwini commented on #31927
Was able to reproduce the issue with Tensorflow 2.0.0.dev20190818. Please see the gist [here](https://colab.research.google.com/drive/1T4pKIz9d6zqVsoZerjaquTKVhx4-Px4P).Thanks!

[2019-08-27 09:08] nhatuan84 commented on #30413
did someone solve this?

[2019-08-27 09:10] nhatuan84 commented on #30413
@xuyingxiao

did someone solve this?

[2019-08-27 09:14] AaronLiu92 opened #32002 "Tensorflow Lite compute library for hardware acceleration"
Does Tensorflow lite has their own compute library for hardware(arm cpu, gpu, fpga, etc.) acceleration? If they have it, where is it located at? which directory? Thanks!

[2019-08-27 09:21] amrithadevadiga opened #32003 "TF Serving version 1.10.0"
Hi all,

Can some one give me steps to build TF Serving version 1.10.0  on centos7 image

[2019-08-27 09:22] dbonner commented on #31187
@jalexstark Hi, please indicate whether I should start a new post to get Skylake building fixed for r2.0?  Many thanks, Daniel.

[2019-08-27 09:22] xuyingxiao commented on #30413
Not yet.

[2019-08-27 09:25] drewm1980 commented on #31975
Thanks for looking into this! We can't share our model publicly as-is.

I thought maybe the version of keras-team might have more overhead than the one we benchmarked. The keras-team we were using for benchmark was 2.2.4. We just looked at the current master commit: https://github.com/keras-team/keras/commit/a39f10acf3eac5e6ef69d084616982a4d4ebd8bb and the overall logic has not changed.

If you lo

[2019-08-27 09:29] DKWIPL commented on #31825
NO, I am doing it on my Local System.

[2019-08-27 09:40] DKWIPL commented on #31825
And can you also help me with the tutorial to create and train the model using our own image dataset?
It will be really useful for us if can help us with this.

Thank You.

[2019-08-27 09:42] DocDriven opened #32004 "Python/C++ API interpreter example for hybrid models"
I have a hybrid tflite model, e.g. was converted with the option

`converter.target_ops = [tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS]`

So it contains both tflite ops and normal ops. I test a lot, so this is quicker than implementing the missing parts myself. When trying to load the model with an interpreter, either with the Python or the C++ API, I get errors:

Python
[code]
C+

[2019-08-27 09:47] jianchong-chen commented on #29739
@weinixuehao
I meet the same crash problem on zuk z2 and mi6. My code is almost same as yours.
It crashed at the DepthWiseConv.
Have you fixed the problem? Thank you!

[2019-08-27 09:57] oanush commented on #31977
@mmmmayi ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.Thanks!

[2019-08-27 10:03] ravikyram commented on #32003
@amrithadevadiga
This issue is more suitable for TensorFlow Serving repo. Please post it on Serving repo from [here.](https://github.com/tensorflow/serving/issues) Thanks!

[2019-08-27 10:03] #32003 closed

[2019-08-27 10:07] oanush commented on #31971
@YuBicheng ,
Can you please go through similar issue #[24885](https://github.com/tensorflow/tensorflow/issues/24885).Thanks!

[2019-08-27 10:12] Sreerag-ibtl commented on #30490
@AlexZot answer works. Also, input_array, output_array has changes after conversion.

[2019-08-27 10:12] ravikyram commented on #31676
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-27 10:12] #31676 closed

[2019-08-27 10:12] vissieGP commented on #26289
Hi. I got mine to work. I did alto of things, not sure exactly what did the trick, but I'm fairly sure it was doing the following:
I'm running Arch Linux.
Cuda 10.1.
Python 3.7.4
I installed tf 2: sudo pip3.7 install tf-nightly-gpu-2.0-preview
I found my cuda directory: sudo find / -name "libcublas.so*"
Mine is: /opt/cuda/targets/x86_64-linux/lib/
I did all the symbolic links as above:
sudo ln -s

[2019-08-27 10:19] oanush commented on #31725
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-27 10:19] #31725 closed

[2019-08-27 10:22] ravikyram commented on #31799
@Stormreaver

Can you please confirm if the issue still persists.Thanks!

[2019-08-27 10:24] snathicktechno commented on #31764
Hi oanush,

I resolved the above error and i now stuck with the following error

OS Platform and Distribution (e.g., Linux Ubuntu 16.04)
TensorFlow installing from source using cmake
TensorFlow version: r1.0
Python version: 2.7.12, 3.5 also
GCC/Compiler version (if compiling from source): GNU 5.4.0

the steps i followed
cd tensorflow
./tensorflow/tools/ci_build/linux/cmake/run.sh which is calling

[2019-08-27 10:26] ravikyram commented on #31817
@wwfwwfwwf3

Please, let us know if the issue still persists.Thanks!

[2019-08-27 10:34] ravikyram commented on #31943
@kaka-lin
As per my understanding in Google chrome with TF2 - beta1 version you are able to execute the code successfully .But with Google chrome using TF2 - rc0: you are facing the issue. Am i correct?
Thanks!

[2019-08-27 10:36] tomruarol commented on #31970
**@ravikyram**
Okay, I posted it where you suggested.
Link to the issue: https://github.com/tensorflow/models/issues/7504

[2019-08-27 10:37] Stormreaver commented on #31799
I fixed this issue by using master code

[2019-08-27 10:37] #31799 closed

[2019-08-27 10:40] mmmmayi commented on #31977
I used Tensorflow nightly to get tflite model, run the android application on HUAWEI M6 tablet, android version 9 , and here is my tflite model if you need:
https://drive.google.com/drive/folders/1Ds8ihFsz9K5ZKPCS0FPQ2_qZBUOn3to3?usp=sharing

[2019-08-27 10:41] durandg12 commented on #31364
@mihaimaruseac I did it and the warnings are gone, thanks! So this issue can stay closed.
Strangely, the warnings from [this issue](https://github.com/tensorflow/tensorflow/issues/29881) are not gone whereas the issue has been closed 2 months ago by [the following commit](https://github.com/tensorflow/tensorflow/commit/d7e858192d1de827bc03705ac62e1bd38daf06d8).

[2019-08-27 10:42] mmmmayi commented on #31977
And I think it's because of the inputs, I have two inputs and one output for my model, but I didn't find such demo to referred. And the log shows like this:
[code]

[2019-08-27 10:43] durandg12 commented on #29881
The warnings are still here in tf2.0.0-rc0.

[2019-08-27 11:04] chenbiaolong commented on #12132
@keunwoochoi  problem still exists. I agree with @boluoweifenda ,the slow inference speed are not caused by a bug of  depthwise convolutions, FLOPs  are not the only factor that affect inference time. maybe we should change the network architecture of decoder stage.

[2019-08-27 11:06] jackd opened #32006 "Very unhelpful error msg building keras models with while loops"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Linux Ubuntu 16.04:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v1.12.1-9365-gff401a6 1.15.0-dev20190821
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0 / ??
- GPU model and memory: Quadro 2

[2019-08-27 11:09] Bakibiiiillah commented on #31504
*typeerror:image data cannot be converted to float.*
*how to solve this problem in kaggle to show a tensor image*

On Sun, Aug 25, 2019 at 6:55 PM sarsbug <notifications@github.com> wrote:

[2019-08-27 11:33] larenzhang commented on #27120
Hi, could you please show your solution detailedly? Thanks.

[2019-08-27 11:34] devin730 opened #32007 ".a library file is not working on android platform while using tf lite with c++ api."
I am trying to make an android project using tensorflow lite, I want to use lite api in c++ level, however the examples in the repository are all using java api.

As the guidance tf lite can be applied in both java level and c++ level, but the .a library is not working.

I built the libtensorflow-lite.a following the https://tensorflow.google.cn/lite/guide/build_arm64, but it seems this .a file is

[2019-08-27 11:43] Mageswaran1989 commented on #30885
@corynezin  could you please update the issue description stating RAM OOM ?

[2019-08-27 11:47] kassemyu commented on #31192
Hey, I read the documentation of various layers and it seems to be intended for conv_2d layers and conv2d_transpose layers to have different kernels (i.e. the last dimensions being swapped, also for keras layers)

Is there a particular reason for it?

[2019-08-27 11:58] JiayiFu commented on #31478
I found another problem: when I set inter=1 and intra=1, the CPU usage is still higher than 100%. Is this reasonable?

[2019-08-27 11:59] oanush commented on #31968
@Naville ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version and provide more information on the issue.Thanks!

[2019-08-27 12:01] oanush commented on #31983
@PgLoLo ,
Can you please provide details about what platform you are using (operating system, architecture).Thanks!

[2019-08-27 12:10] hgffly commented on #31184
I have tried TensorFlow 2.0 RC but it still doesn't work. Is it that the bug is not fix yet? or there is something wrong with the codes ? How should I apply transfer learning with tf.GradientTape successfully ? Thanks

[2019-08-27 12:11] oanush commented on #31926
@svdHero ,
Can you try installing [nvidia-docker](https://github.com/NVIDIA/nvidia-docker) and install TF.?Thanks!

[2019-08-27 12:13] oanush commented on #31680
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-27 12:13] #31680 closed

[2019-08-27 12:17] oanush commented on #31764
@snathicktechno ,
Can you please install TF using [Bazel](https://www.tensorflow.org/install/source) and not cmake? Thanks!

[2019-08-27 12:22] camillasterud commented on #30263
I get the same warning as @freetiger20150000 with CPU-only tensorflow built from the r2.0 source on macOS.

[2019-08-27 12:28] PlusWayne commented on #31969
I have found out why. The server set http proxy which leads to failure of connection.
i just use the following command, then it works
[code]

[2019-08-27 12:28] #31969 closed

[2019-08-27 12:28] michelucci commented on #25820
Hi @dynamicwebpaige is this issue still open? I wrote two books on TensorFlow and I am happy to help with the documentation... I teach deep learning at the university and maybe I can help with doc issues... Let me know.

[2019-08-27 12:32] michelucci commented on #31996
Possibly you can check this...

https://stackoverflow.com/questions/49932993/importerror-dll-load-failed-a-dynamic-link-library-dll-initialization-routin

Best of luck, Umberto

[2019-08-27 12:41] michelucci commented on #30994
If needed I could work on this if is ok with you @dynamicwebpaige . Reading now this https://www.tensorflow.org/community/contribute/docs

[2019-08-27 12:50] val9299 commented on #31949
The object detection APP works now with GPU experimental, but I get only 75 ms per frame. Is this normal because it jumps back to CPU for TFLite_Detection_PostProcess or could it be better even without SSBO? I will try SSBO next :)

[2019-08-27 13:04] svdHero commented on #31926
Thanks for your help. I have run
[code]
now. This time, I did not get an `Unsupported distribution` error. Maybe that's related to the work @Ethyling has done. The installation seems to be successful:
[code]

However, still no difference when trying to run the docker image:
[code]
and
[code]

I tried restarting the machine, just to be sure, but that didn't help either. Any idea what's going on her

[2019-08-27 13:17] JiayiFu opened #32009 "[C++] The SessionOptions doesn't control the usage of CPU ?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No, only use C++ API
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.14
- Bazel version (if compiling from source): 0.24.1
- GCC/Compiler version (if compiling from source): GCC

[2019-08-27 13:22] beamaster commented on #13872
<dependencies>
		<dependency>
			<groupId>org.tensorflow</groupId>
			<artifactId>tensorflow</artifactId>
			<version>1.13-1</version>
		</dependency>
	</dependencies>

I use the version1.13.1, then this problem appeared too.

[2019-08-27 13:23] PlusWayne opened #32010 "NotImplementedError in Distributed tensorflow with parameter_server"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-08-27 13:27] kaka-lin commented on #31943
@ravikyram

Yes!

[2019-08-27 14:05] Isaryll commented on #27906
I tried to update tensorflow from 1.13.1 to 1.14 and it work for me.

[2019-08-27 14:22] Boegebjerg commented on #3907
Same, still needed

[2019-08-27 15:00] ChenYang-ChenYang commented on #19671
@velocirabbit Thanks for the reply. I tried tf.random.set_seed(1) but it didn't work. I use version
2.0.0b1 with keras, eager mode, GradientTape and GPU. I just tried the same code on the latest tf
version 2.0.0rc and got the same result where the memory keeps increasing to 10G after 5 epochs. My training data is dataframe and I passed it to each batch by generator. I print the dataframe.info and

[2019-08-27 15:21] piisku78 commented on #30376
@saumpsh What was your solution? I'm having the same problem...

[2019-08-27 15:35] maziyarpanahi commented on #30635
Same for me in macOS `10.14.x`, it works in `1.13.1` but have the error when I move to `1.14.0`:

[code]

[2019-08-27 15:45] ottovonzastrow commented on #31840
similar issue for me
after following the instructions on the tflite benchmarking tool for desktop the tool worked but didn't show any additional information when using the --enable_op_profiling=true argument
OS: linux 19.04, built benchmarking tool with bazel 0.21 from latest tensorflow

[2019-08-27 15:47] jeandut opened #32013 "CustomOp segfaults using work sharder on MacOS with TF1.13.1"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-08-27 15:55] zhen8838 opened #32014 "TF 1.14 : assgin Variable in loss function can't update value ?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-08-27 17:09] durandg12 commented on #30958
There is no need to clarify my code, because I have found the cause of the issue. It was my use of the static `dense.shape` instead of the dynamic `tf.shape(dense)`.

[2019-08-27 17:09] #30958 closed

[2019-08-27 17:35] akanyaani commented on #31842
Hi, @kkimdev please look at Gpt model written in this repo.
https://github.com/akanyaani/gpt-2-tensorflow2.0

[2019-08-27 17:59] Victor-Almeida opened #32017 "Training stalls after saving checkpoint 0"
Hello.

I'm trying to run the LibriSpeech problem using tensor2tensor on Google Colab's GPU runtime, but the training stalls after saving checkpoint 0 and opening dynamic library libcublas.so.10.0. There is no error message, it just stops there forever.
I'm posting it here because the stalling point happens on Tensorflow's packages.

Python's version : 3.6.8
Tensorflow's version : 1.14.0
tensor2te

[2019-08-27 18:22] Mageswaran1989 commented on #30885
Update:
By disabling TF 2 behavior, the memory build up got slowed down to MBs from GBs.

[code]

[2019-08-27 18:25] mahmoodn commented on #31974
Does that mean the binary pip version has not been tested with cuda 10.1?

[2019-08-27 18:30] #31919 closed

[2019-08-27 18:43] mjlbach opened #32018 "[TF 2.0] Unsupported op node error messages in latest tf-nightly (8-27-19)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-08-27 18:45] amal268 opened #32019 "hi i want to freeze east text a pretrained model the ckpt.meta data file exist in the model folder but i get this error can any one help me please !!!!"
re_fusion/Conv_7/Sigmoid,model_0/feature_fusion/concat_3
Traceback (most recent call last):
  File "freez2.py", line 66, in <module>
    freeze_graph(args.model_dir, args.output_node_names)
  File "freez2.py", line 41, in freeze_graph
    saver = tf.train.import_meta_graph(input_checkpoint + '.meta', clear_devices
=clear_devices)
  File "C:\Users\DeLl\Anaconda3\lib\site-packages\tensorflow\python\

[2019-08-27 18:59] noahtren opened #32023 "tf.keras.layers.Concatenate layer has unexpected behavior since 1.13"
`tf.keras.layers.Concatenate` used to operate in a very straightforward way with the Keras functional API for building DenseNet-esque feedforward networks.

The code below works in TF 1.13 but fails in 1.14, 2.0.0a0 and beyond.

I also tested replacing the `Concatenate` layer with its functional alternative, `concatenate`, and produced the same error.
[code]
The error output is
[code]
Visualizatio

[2019-08-27 19:03] mahmoodn commented on #31974
OK. I will try to compile from source. I will close the issue. Thanks.

[2019-08-27 19:03] #31974 closed

[2019-08-27 19:42] nsantavas opened #32024 "TPU nightly"
I'm training a custom resnet on a single TPU device using tf.keras, and saving the model using ModelCheckpoint callback on the VM. The time takes to save the model during training is very much. The model is about 200mb and it takes ~1 hour to save it to the VM

[2019-08-27 20:28] yiliu9090 opened #32025 "I need more accuracy"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
 1.13 and 2.0
- Are you willing to contribute it (Yes/No):

[2019-08-27 20:31] dbonner opened #32026 "Tensorflow r2.0 will not build successfully on skylake machines"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): not installed (attempting to build from source)
- TensorFlow version: attempting to build from branch r2.0
- Python version: 3.7.4
- Installed using virtualenv? pip? conda?: Anaconda conda virtual environment
- Bazel version (if compiling from source)

[2019-08-27 20:35] dbonner commented on #31187
OK thanks, I have submitted the issue [https://github.com/tensorflow/tensorflow/issues/32026](https://github.com/tensorflow/tensorflow/issues/32026)