[2019-07-23 06:34] amitmate commented on #24910
Thanks Jared. I have a trained SSD keras model (h5).   I am trying to convert it to tflite using tflite converter. However, it complains:

ValueError: Unknown layer: Normalize

Is there a way to add/register custom layers in python to  TFLite converter ?

[2019-07-23 06:42] sharvil commented on #30818
Gotcha, thanks for the input.

Do you anticipate having a Python VM running in the TPU VM at some point in the future? The input pipeline often needs much more flexibility than the model itself and it's difficult (if not impossible) at times to express a pipeline in terms of _pure_ TF ops.

In my case, I've hacked up our input pipeline to avoid tf.py_function (yay!) but the result is pretty gnarly

[2019-07-23 06:44] ravikyram commented on #30938
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the [Github](https://github.com/tensorflow/tensorflow/issues/new/choose) new

[2019-07-23 06:52] allenling commented on #29829
representative_data_gen should(better) be the images that used to train our model?
@jianlijianli

[2019-07-23 07:06] braindotai commented on #30596
Sorry for late reply, @robieta thanks, it worked. And as of now I'm getting better performance using tf.function(55.secs) as compared to tf.keras .fit(64.8 secs), probably because .fit does some initialization before training starts.
But unfortunately in eager execution (without tf.function) its taking 270 secs.
And if we compare this result with MXNet and Pytorch, it turns out Tensorflow eager ex

[2019-07-23 07:10] ravikyram commented on #30935
Just to verify did you get chance to follow instructions from [TensorFlow ](https://www.tensorflow.org/install/gpu)website .Please, let us know. Thanks!

[2019-07-23 07:25] wangxuesong29 commented on #22338
@taotaolin wangxuesong29@gmail.com

Thanks.

[2019-07-23 07:31] tangjie77wd commented on #30308
Well,how do you set the environment variable of XLA_FLAGS or TF_XLA_FLAGS since add **export TF_XLA_FLAGS=--tf_xla_cpu_global_jit=/mytensorflowpath/tensorflow/compiler/xla:$TF_XLA_FLAGS=--tf_xla_cpu_global_jit** to /etc/profile is wrong ?

[2019-07-23 07:44] ronyeapen opened #30944 "Keras' performance is worse than pure TF"
Hello,
I am trying to update my pure Tensorflow code to incorporate Keras. But what I find is that my Keras implementation of the same NN structure does not converge as much as the pure TF code for the same number of iteration. In fact, Keras implementation does very poorly.  I have attached my code and data set [here](https://github.com/ronyeapen/TF-and-Keras). It is a Regression model.  No respo

[2019-07-23 08:00] zh794390558 commented on #26430
[code]

how to fix this ?

[2019-07-23 08:05] gison93 commented on #30874
My input argument is a base64 string containing spaces.
The standard library base64 is able to decode (ignoring the spaces since are used just for readability) while tf.io.decode_base64 does not recognize that string as a base64 string.
When the spaces are eliminated everything works fine.

I think add a warning on this could be useful:

[2019-07-23 08:26] AntonioSu opened #30945 "/home/hdp_teu_dia/guesslike/user/suwenyuan/emotion/bert-master/chinese_L-12_H-768_A-12"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-07-23 08:29] gadagashwini commented on #30913
@sjtusmartboy Please provide details about TensorFlow version. Also provide the Github link of tensorflow/core/kernel/training_ops.cc Thanks!

[2019-07-23 08:33] meteorcloudy commented on #30839
I never tried to build TensorFlow 2.0 on Windows, is there any guide?

[2019-07-23 08:34] gadagashwini commented on #30934
I tried executing the code on Colab and I could able to reproduce the issue with TF 2.0.0.beta1. Please see the gist of [Colab](https://colab.research.google.com/drive/1fJaDnYtOjFjNklmmecfIXUIp_vKOO8aj).Thanks!

[2019-07-23 08:36] ravikyram commented on #30932
I have tried on colab with TF version tf-nightly-2.0-preview==2.0.0.dev20190601 and was able to reproduce the issue.Please, find the [gist](https://colab.research.google.com/drive/1853YfSmRK0AtNnrK5uiu4poZVmGPt7JL) here.Thanks!

[2019-07-23 08:37] gadagashwini commented on #30919
I could able to reproduce the issue with Tensorflow 1.14 on Colab. Find the gist of Colab [here](https://colab.research.google.com/drive/1tQ1C5jnwxXotnxR-H7WGWD0QvCXnLybX). Thanks!

[2019-07-23 08:40] 7oranger commented on #26289
sorry. I've installed 1.14 using pip install, but when import it still says cudart64_100.dll is missing. Cuda 10.0 is need .

[2019-07-23 08:51] jsolves commented on #26297
Intriguing. How do you make that "fake 4-channels", setting the "fake" alpha to 1 in every pixel?

Thanks in advance.

[2019-07-23 09:03] anush-o commented on #30732
Closing due to lack of recent activity.Thanks!

[2019-07-23 09:03] #30732 closed

[2019-07-23 09:05] Callidior opened #30946 "tf.keras.layers.Dropout does not accept noise_shape with None-dimension"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux openSUSE 42.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary (via conda)
- TensorFlow version (use com

[2019-07-23 09:05] anush-o commented on #30747
Closing since this is not a bug or feature request.Thanks!

[2019-07-23 09:05] #30747 closed

[2019-07-23 09:06] anush-o commented on #30774
Closing since the issue is resolved.Thanks!

[2019-07-23 09:06] #30774 closed

[2019-07-23 09:10] ravikyram commented on #30929
I have tried on colab with TF version 2.0.0-beta1 and was able to reproduce the issue.Please, find the [gist](https://colab.research.google.com/drive/1UB-vuD2MNChCJBAsf1aWM5pIw17AAtWm) here.Thanks!

[2019-07-23 09:13] tarrade commented on #30909
It seems the issue was fixed in tf-nightly-2.0-preview==2.0.0.dev20190722 but only work with strategy=None  and not strategy = tf.distribute.MirroredStrategy(). I will open a separet ticket. Closing

[2019-07-23 09:13] #30909 closed

[2019-07-23 09:13] anush-o commented on #30813
@yanghoonkim ,
Can you please elaborate  beta1_power ,beta2_power and scope_1.Thanks!

[2019-07-23 09:21] LIUHUANUCAS commented on #18736
I do have the same issue

[2019-07-23 09:22] rocklee2013 commented on #22857
hi , I have a quetion. "resulting in 100 samples being evaluated each time" , here "100 samples " means 100*batchSize samples or just 100  samples ?

[2019-07-23 09:33] RobRomijnders commented on #27499
@tanzhenyu as of July 2019, this still has not been documented. In my opinion the documentation for `apply_gradients` should mention that it follows the negative gradient.

Independent of the debate whether implementation is good or bad, a better documentation could never hurt.

[2019-07-23 09:39] tarrade opened #30947 "[TF 2.0 nightly] tf.keras.estimator.model_to_estimator with strategy=tf.distribute.MirroredStrategy() -> Method requires being in cross-replica context, use get_replica_context().merge_call()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.14.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary from pip
- TensorFlow version (use command below):

[2019-07-23 09:45] kzhangair opened #30948 "The use of List and Tuple is vague in Tensorflow tf.data.Dataset.map."
System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): 1.14.0
Python version: 3.7.3
CUDA/cuDNN version: 10.1.168 / 7.6.0 but also failing in CPU-only mode
GPU model and

[2019-07-23 10:24] dgriffiths3 commented on #30928
I wrote a small script to recreate the issue using standard `tf.keras.layers` ops and there was no problem. I have now found out my error comes when I pass in a tensor from a custom c++ op. The tensor returned from the custom op does not contain the shape information. I'll close this as it's not a bug!

[2019-07-23 10:24] #30928 closed

[2019-07-23 10:28] wssrc opened #30950 "Transfer Learning tutorial Attribute Error: 'GFile' object has no attribute 'seekable'"
Following the tutorial on downloading and using data sets found here: https://www.tensorflow.org/beta/tutorials/images/transfer_learning
I get the error

It breaks when I run tfds.load

You can reproduce it with the following syntax:

'import tensorflow_datasets as tfds
tfds.disable_progress_bar()
SPLIT_WEIGHTS = (8, 1, 1)
splits = tfds.Split.TRAIN.subsplit(weighted=SPLIT_WEIGHTS)

(raw_train, raw

[2019-07-23 10:38] Binpord opened #30951 "Missing input after saving/loading Keras Model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-07-23 10:42] pandrey-fr opened #30952 "`tf.keras.layers.Embedding` causes memory leak"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Mint 19.1
- TensorFlow installed from: binary (using pip)
- TensorFlow version: 2.0.0-beta1 (v2.0.0-beta0-16-g1d91213fe7)
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0 / 7.5
- GPU model and memory: Nvidia Quadro P1000 - 4 GB GDDR5

**Describe the current behavior**

A GPU (_edit: CPU as well, see ad

[2019-07-23 11:00] wssrc commented on #30950
I manually deleted all of the tensorflow files from my computer and reinstalled them and this is no longer a problem

[2019-07-23 11:00] #30950 closed

[2019-07-23 11:06] jannispriesnitz commented on #23972
Same here

[2019-07-23 11:10] rishabhsahrawat commented on #30952
@pandrey-fr Hi Paul,
this is not related to your problem. However, I am stuck at one step before you, since you have helped me earlier so I thought maybe you can give me some suggestions.
I am training my `tf.keras` model on multiple GPUs (2 exactly) and following TF2.0's [example](https://www.tensorflow.org/beta/guide/distribute_strategy#using_tfdistributestrategy_with_keras) for doing that. I am

[2019-07-23 11:13] dimtass opened #30953 "TF-Lite micro low performance"
This issue regards the tflite micro.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: STM32F746NG
- TensorFlow installed from (source or binary): g

[2019-07-23 11:20] alexeyr opened #30954 "Potential bugs found with static analysis"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-07-23 11:31] weinman commented on #23972
@jannispriesnitz I got this fixed by sorting out my numpy install (it's possible to have in three places: system-wide via apt, system-wide via pip, and in your user account). Try uninstalling from as many of these as possible and uninstall just the one you need (user is certainly easiest) to manipulate.

Once I was down to a single, consistent version of NumPy, I had no problem.

[2019-07-23 11:33] sjtusmartboy commented on #30913
I'm using the tf 1.14
please go to the link [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/training_ops.cc#L2300)

[2019-07-23 11:48] huaifeng1993 commented on #27100
@isra60  @aaroey I find that the problem (Segmentation Fault)  can be solved by set the params max_workspace_size_bytes larger.

[2019-07-23 11:56] ravikyram commented on #30770
I have tried on Jupyter notebook with TF version 2.0 beta and was able to reproduce the issue.Thanks!

[2019-07-23 12:23] GuesmiAbd commented on #30432
Thank you for all!
the problem was solved.

[2019-07-23 12:35] jiahuigeng commented on #30892
from __future__ import absolute_import, division, print_function, unicode_literals
import tensorflow as tf

if __name__=="__main__":
  tf.config.set_soft_device_placement(True)
  tf.debugging.set_log_device_placement(True)

  # Creates some tensors
  a = tf.constant([[1.0, 2.0, 3.0], [4.0, 5.0, 6.0]])
  b = tf.constant([[1.0, 2.0], [3.0, 4.0], [5.0, 6.0]])
  c = tf.matmul(a, b)

  print(c)

I met

[2019-07-23 12:36] monatis commented on #30935
@ravikyram I've already installed it correctly, just reporting a mistyped error message in source code.

[2019-07-23 12:50] DocDriven commented on #30714
@liyunlu0618
Could you or somebody else confirm the correctness of this workflow? If it is a tensorflow issue, I could stop debugging my code and actually help figuring out the real problem.

Thanks!

[2019-07-23 13:02] Vooblin commented on #22109
I have the same error when converting. Are there any solutions of this problem?

[2019-07-23 13:07] DeepBlender opened #30955 "Subclassing Model prevents the computation of intermediate values in graph mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Google Colab
- TensorFlow version (use command below):
Tensorflow 2.0 beta 1

**Describe the current behavior**
Computing intermediate values within a subclassed model doesn't work in graph mode.

**Describe the expec

[2019-07-23 13:27] bionicles commented on #30925
Closest thing I can think of to this is Strongly Typed Genetic Programming

![image](https://user-images.githubusercontent.com/24532336/61715882-07a60d80-ad2c-11e9-9508-993e99a622a0.png)

[2019-07-23 13:58] colmantse commented on #26208
@frankchn Hi, do you mean the clusterspec for the server.start() and server.join() are different thats why it raises "Not found: TF GPU device with id 0 was not registered." ? because i got the same issue as well but i thought tf.train.Server must take clusterspec as argument.

[2019-07-23 14:00] tnodelan commented on #30881
Solution ?
I removed that line `converter.target_ops = [tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS]` used during the conversion of the .pb to the .tflite model graph file as the documentation showed this flag as experimental, and the error disappeared.

However I am not sure of why adding target operations raised an issue, moreover since almost every code sample available seems t

[2019-07-23 14:04] aayushthakur commented on #4922
Instead of using the AssetFileDescriptor use it like this, pass the full file path in load model method

[code]

[2019-07-23 14:16] pandrey-fr commented on #30952
After additional testing, I found out the high memory usage is not exclusive to the GPU, and update the initial post accordingly.

[2019-07-23 14:18] pandrey-fr commented on #30952
@rishabhsahrawat Hi, I unfortunately have no experience with GPU distribution strategies, and only have 1-GPU machines at my current disposal, hence I would not know how to help you... Sorry :/

[2019-07-23 14:31] sanjoy commented on #29878
Can you please post the entire linker error you get?

Note: you can ignore the "(One-time warning): Not using XLA:CPU for cluster because envvar ..." warning.  We had a (now fixed) bug where we'd print that warning even when it wasn't necessary.

[2019-07-23 14:44] ErmiaAzarkhalili commented on #30897
Hi, Update the template.

[2019-07-23 14:53] mdanatg commented on #30895
Unfortunately, in the Python REPL, functions don't expose source code, which is required for autograph. Note that other shells, like Jupyter don't expose this limitation.

Admittedly, the explanation of the error is tucked inside the warning message, and it would be nice to make it more obvious:

[code]

[2019-07-23 14:58] yongtang commented on #30946
Looking into the code history, I think this issue might have been fixed in: ab2644e

[2019-07-23 15:02] congee524 commented on #30191
try
`conda update wrapt`

[2019-07-23 15:12] Callidior commented on #30946
Looks good. Thanks for pointing me to this and sorry for redundant reporting.

[2019-07-23 15:12] #30946 closed

[2019-07-23 15:25] nfergu opened #30956 "Segfault in custom op with TensorFlow 1.14, Python 3.6 and GCC 5."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-07-23 15:36] jvishnuvardhan commented on #30757
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-23 15:36] #30757 closed

[2019-07-23 15:38] nfergu opened #30957 "Segfault when passing empty Tensor to cholesky_solve"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfor

[2019-07-23 15:39] gargn commented on #24910
Starting 1.14, [`TFLiteConverter.from_keras_model_file`](https://www.tensorflow.org/api_docs/python/tf/lite/TFLiteConverter#from_keras_model_file) takes in the argument `custom_objects` which is passed directly into the Keras loading function. The logic should look something like the following:

[code]

I'm not sure where in the Keras library the `Normalize` layer is described. There are some norm

[2019-07-23 15:41] jvishnuvardhan commented on #30767
@joglekara Why PR was closed by you. Why there is no code in the PR? Please let me know if you are not interested in the PR or want to close this issue. Thanks!

[2019-07-23 15:45] sanjoy commented on #30580
I'm reverse engineering from the kernel implementation but isn't `TemporaryVariable` a ref variable?  If yes, I don't think we can support it in the tf-xla bridge (without a lot of work!).

I think it is a ref variable because the kernel creates an instance of `TmpVar` and calls `context->set_output_ref(0, &tmp_var->mu, &tmp_var->val);`.

[2019-07-23 15:54] kuri-leo commented on #30895
Hi @mdanatg ,

Thanks for your help, the first issue is easy as the log gives the hint (and it is the log that asked me to report
But what confused me is the second issue: `ConversionError: converting <tensorflow.python.eager.def_function.Function object at 0x7facb0169d30>: AttributeError: 'Function' object has no attribute '__code__'` raised by calling `tf.autograph.to_code(calc)`. I think this o

[2019-07-23 15:55] durandg12 opened #30958 "fit and save methods fail with a subclassed model using a SequenceFeatures layer with sequence_numeric_column"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6
- TensorFlow installed from (source or binary): from pip install
- TensorFlow version (use command below): v2.0.0-beta0-16-g1d91213fe7 2.0.0-beta1
- Python version: v3.6.7:6ec5cf24b7, Oct 20 2018, 03:02

[2019-07-23 15:56] it-is-a-username opened #30959 "What can replace 'initializer = tf.contrib.layers.xavier_initializer_conv2d()' in tensorflow 2.0?"
Now that tensorflow has no attribute 'contrib'. Thanks a lot!

[2019-07-23 16:00] tahwaru commented on #30191
this worked for me!!!!

PS: I got a reboot after the first line was done.
      I have windows 10.

[2019-07-23 16:11] jkamalu commented on #29189
@mckinziebrandon I am currently able to run a model containing the tf.keras.layers.LSTM layer with the MirroredStrategy on 3 GPUs in parallel as of the July 23 2.0 gpu nightly. See this comment by @qlzh727 on my now closed issue pointing to two recent commits that may have resolved a myriad of problems: https://github.com/tensorflow/tensorflow/issues/30639#issuecomment-513599641

[2019-07-23 16:19] joglekara commented on #30767
I closed my PR because I was having issues with the email address/CLA. Here's the [open PR](https://github.com/tensorflow/tensorflow/pull/30939)

[2019-07-23 16:23] arnaldog12 commented on #13127
Hi, @jetjodh
Sorry for the late response. I tried it with the version you mentioned (v1.14) and I had problems with some operations not defined by v1.4. However, I tested with version v1.13 and everything went fine.

If you really need to run it on v1.14, I can help you build it. If you have already done it, please let me know.

[2019-07-23 16:24] mdanatg commented on #30895
@kkimdev FYI

Ah, I completely missed the second part, sorry about that. I think this would be a useful bug to fix. In essence, `to_code` requires the original function, but `@tf.function` returns a wrapper object over the original function. We should make `to_code` aware of this wrapper so that users don't see this surprising result.

In the mean time, the following workaround should work (subjec

[2019-07-23 16:28] val9299 commented on #30524
Hi @AlexZot,

try output_arrays = ['raw_outputs/box_encodings','raw_outputs/class_predictions']

I'm facing the same issue. Using --add_postprocessing_op True should give an output_array of detection_boxes,detection_classes,detection_scores,num_boxes but it somehow doesn't. How export_tflite_ssd_graph.py has to be used to get a model with 4 outputs? So output_arrays = ['detection_boxes', 'detectio

[2019-07-23 16:28] aaroey commented on #30744
@chsigg any ideas?

[2019-07-23 16:45] aaudiber commented on #30685
@mdanatg Thank you for reporting this and for including simple repro instructions!

The issue is with how we use `TensorArraySpec` to convert the `TensorArray` to/from `Tensor` components across the `reduce` boundary. I have a CL out to fix it.

[2019-07-23 16:47] alextp commented on #30580
It currently is a ref variable, but one could in principle make the same
API work with resource variables.

But now I'm confused: TemporaryVariable is not a public symbol in the TF
API; how did you come to have a graph with it? (and if you have a graph
which depends on non-public APIs I think you're on your own)

On Tue, Jul 23, 2019 at 8:53 AM Sanjoy Das <notifications@github.com> wrote:

--
 - A

[2019-07-23 16:50] dsgupta commented on #30855
@christopherbate Sorry, I am not able to share the code. However, I am using the Keras Functional API with Bidirectional LSTM, and basic Dense and Embedding layers.
My training script is exactly like the one in the tutorial here, only swapping out the model with mine, and the input dataset is something else using TFRecordDataset: https://www.tensorflow.org/beta/tutorials/distribute/training_loops

[2019-07-23 16:57] aaroey commented on #30466
@reedwm would you help to take a look? Thanks.

[2019-07-23 16:57] qlzh727 commented on #30513
The distribution strategy with RNN issue should be resolved now in the latest nightly. Please try to test again. Thanks.

[2019-07-23 16:57] lufol commented on #30959
You can find the Glorot initializer which is a different name for the Xavier initializer here: `tf.keras.initializers.GlorotNormal`

I hope this helps!

[2019-07-23 16:59] themightyoarfish commented on #30898
The same problem occurs with the CMake build (which I have fixed many problems in, but running into this as well).

[2019-07-23 16:59] qlzh727 commented on #29189
Thanks for reporting the issue, the issue should be solved by ca7acec and f0fd2be. Could u try the code again with the tf-2.0-nightly builds?

[2019-07-23 17:01] Johnny65456 commented on #28075
Do you solve it? I have the same problem with eager execution already enabled.

[2019-07-23 17:01] jvishnuvardhan commented on #30897
@ErmiaAzarkhalili Can you provide a simple standalone code to reproduce the issue? You could use public datasets like mnist, cifar..... Thanks!

[2019-07-23 17:04] lufol commented on #30945
Hi,

Could you please describe the problem you are experiencing currently and fill out the form you posted above with some information?

[2019-07-23 17:14] lufol opened #30960 "Make Github templates more intuitive"
Hi,
Frequently I stumble upon issues on the Tensorflow githubpage which do not fill out the template properly. I was curious whether it's possible to make the filling in of the template more intuitive.

For instance I think it would be nice if there were field to fill in the asked questions right after each question.
Furthermore it would be nice to be required to at least fill some part of the for

[2019-07-23 17:19] durandg12 commented on #30958
I edited my message to talk about the `save` method instead of `tf.keras.experimental.export_saved_model`. `export_saved_model` has the same issue but has additional problems with subclassed models making it useless even in the case where `fit` and `save` do not fail (that is, the case with `embedding_column`). Indeed, `export_saved_model` do not save saved_model.json because the subclassed model

[2019-07-23 17:25] dsgupta commented on #30855
My custom layer is a dynamic one as it has operations using the shape of its inputs, which is the output of `padded_batch`, so it's `None`. Hence, if I remove `dynamic=True`, it throws an error. And if I keep in the `dynamic=True` and try `Autograph`, it can't find the gradients for any of the trainable variables. I assume this is expected behavior.

[2019-07-23 17:28] dsgupta commented on #30855
@ppham27 Sorry for spamming your notifs, but I just wanted to confirm. So there's no way to ensure asynchronous execution in a multi-GPU setting outside of graph mode, right?

Is there a way to do distributed training without using MirroredStrategy or any way to train in parallel in eager mode? Otherwise, there's no point in doing multi-GPU training...

[2019-07-23 17:29] jvishnuvardhan commented on #30691
I could reproduce the issue in TF1.13 and even in tf-nightly. Thanks!

[2019-07-23 17:31] frankchn commented on #26208
@colmantse Can you open another issue with more complete details? That error happens when TensorFlow cannot detect GPUs in your system.

[2019-07-23 17:41] colmantse commented on #26208
hi, thanks for the prompt reply. I suspect it has to do with me passing the wrong configproto when starting the server. i will come back tmr if it is not the case. many thanks!

[2019-07-23 17:42] temccarthy commented on #30905
I'm having the same problem, I tried both links and neither worked. I also tried the solution to this link, but it didn't work either.
https://github.com/googleapis/google-cloud-python/issues/6647

[2019-07-23 17:43] anirudhraju opened #30961 "Inconsistent behavior with and without distributed scope"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-07-23 17:45] jeet4690 commented on #30900
Please somebody help me to find “output_node_names”, I have to create “freeze_graph.pb”

[2019-07-23 17:51] aaroey commented on #30871
@jiarongqiu there is a problem in 1.14.0 and we're fixing that. Meanwhile, can you try with `tf-nightly-gpu` and follow [these](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/compiler/tensorrt/trt_convert.py#L316-L327) instructions to see if it works?

Thanks.

[2019-07-23 17:57] pumpkinband commented on #30776
I want to make a “freeze_graph.pb” but I cannot understand graph and cannot find “output_node_names” can anyone please help me @AbhimanyuAryan @ymodak

[2019-07-23 18:02] jvishnuvardhan commented on #30934
@Kaynato I think this was resolved in `tf-nightly-2.0-preview==2.0.0.dev20190718`. Please check the gist [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/39386ed6c56b2c16b6466cb41bb29228/tf_30934.ipynb). I don't see any issues with tf-nightly-2.0. Thanks!

[2019-07-23 18:14] wangpengmit commented on #30493
Hi ghostplant, by HEX do you mean the raw bits of a float32? If you want to learn how to add an new op and contribute, you can read https://www.tensorflow.org/guide/extend/op and https://github.com/tensorflow/tensorflow/commit/688e638da7ebe1f805107f56946ef400ffd89112 as an example.

[2019-07-23 18:15] prateethvnayak commented on #19838
What about Tf 1.13.1  ?

[2019-07-23 18:26] daviduarte commented on #28087
I compiled in other identical computer, and for my surprise, the TF was compiled like a charm.

[2019-07-23 18:38] Path-A commented on #25254
I am having the same issue as @ahmedanis03 and @benhe2011. I modified the old code from the multi_gpu_model documentation and used the new MirroredStrategy.

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happen

[2019-07-23 18:41] tpopp commented on #30791
Averaging the 1000 runs is fine as long as we aren't recompiling based on different steps. And the tutorial demo not being faster is probably reasonable. It's a small piece of code which gives us less opportunity to optimize.

I also realize that I wasn't fully clear on my directions, so I want to confirm that both `TF_CPP_VMODULE=xla_compilation_cache=2` and `TF_XLA_FLAGS=--tf_xla_always_defer_co

[2019-07-23 18:50] ymodak commented on #30746
I was able to reproduced your issue with TF-Nightly version '1.15.0-dev20190723'

[2019-07-23 18:51] chsigg commented on #30744
@yifeif might have missed them or they might have been introduced afterwards.

[2019-07-23 19:00] omalleyt12 commented on #29371
@UltraSpecialException The inputs to your dense layer are constant-valued. They need to come from keras.Input in order for the Model to be connected

[2019-07-23 19:20] jvishnuvardhan commented on #30932
@captain-pool I cannot reproduce the issue when I use `!pip install tf-nightly-2.0-preview==2.0.0.dev20190718`. Please check the gist [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/cd9804dbb3f558688dbc8c339f1e269f/untitled59.ipynb). This issue might have been resolved after `2.0.0.dev20190601` version. Thanks!

[2019-07-23 19:29] lukaszgrad commented on #30431
I encountered the same issue with beta1 version. I'm also using tf.keras.Model.fit() (but with distributed Dataset)

Hope you guys can get this bug fixed, since people experimenting with tf 2.0 will get unsatisfactory results from their models.

Cheers!

[2019-07-23 19:42] khazali commented on #30687
I have tested the updated master branch again, and the compiler output was the same.

[2019-07-23 19:53] alextp commented on #30199
The issue here is that u_norm will be zero and the gradient of a zero norm in TF is NaN. You can use the double-where trick to replace zeros (or small values in general) with something valid, and then things should work:

[code]

[2019-07-23 19:53] #30199 closed

[2019-07-23 19:58] alextp commented on #30865
The graph transforms API is in contrib, right? If so, it's not a part of TF2.

[2019-07-23 19:58] #30865 closed

[2019-07-23 19:59] jhseu commented on #30818
Yeah, in the new TPUStrategy API, we do already support this, and additionally it offers flexibility for the user to do step-at-a-time training and feed in whatever Python numpy arrays they want. It's a bit new, so we'll start documenting it soon.

[2019-07-23 19:59] alextp commented on #30865
Sorry I confused it with another API.

Graph transforms is not in contrib but it's not built by default as a part of tf2. Just build it without --config=v2 if you need to build it.

[2019-07-23 20:21] captain-pool commented on #30932
I tried on 2.0.0-dev20190723, Looks like it's Solved. Thanks for the heads up :)
Closing the issue.
CC:
@vbardiovskyg
@srjoglekar246

[2019-07-23 20:21] #30932 closed

[2019-07-23 20:23] jvishnuvardhan commented on #30810
@VitalieStirbu This is more related to `TF models` repository. Please post it in https://github.com/tensorflow/models/issues. Thanks!

[2019-07-23 20:26] jvishnuvardhan commented on #30779
@sgambient Can you try both `tf-nighly` and TF1.14 and let us know whether the issue persists with the latest TF versions. Thanks!

[2019-07-23 20:28] ronyeapen commented on #30897
hey guys, I had a similar issue but with native TF and Keras. Are these connected. [https://github.com/tensorflow/tensorflow/issues/30944](url)

[2019-07-23 20:32] christian-rauch opened #30964 "Redefinition of "__name__" when importing keras callbacks or optimizers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14.0
- Python version: 2.7.15+
- CUDA/cuDNN version: 10.0

**Describe the current behavior**
When importing

[2019-07-23 20:35] Path-A commented on #30321
Thank you @srihari-humbarwadi. I was at least able to train the model, but I get an unfortunate error at the end about running out of data.

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10.0.18362 Build 18362
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the iss

[2019-07-23 20:36] cassianocasagrande opened #30965 "LITE: Interpreter wrapper without libtensorflow_framework.so.2 dependency"
One should be able to use tensorflow lite python wrapper without having to import the entire libtensorflow (really costly on ARM boards such as raspberry), and use only the libtensorflow-lite as dependency.

[2019-07-23 20:40] ymodak commented on #30874
Thanks for elaborating. Its clear now.  Would you like to send a PR to add the message?

[2019-07-23 20:42] VitalieStirbu commented on #30810
@aidenmj ,  @alfdnl  this issue was resolved, please check this <a href="https://github.com/tensorflow/hub/issues/324#issuecomment-513847409">link</a>

[2019-07-23 20:42] #30810 closed

[2019-07-23 21:05] ymodak commented on #30194
Perhaps you can use ```tf.distribute.Strategy``` for training on multiple gpus.
See https://www.tensorflow.org/guide/distribute_strategy

[2019-07-23 21:06] alextp commented on #30913
I believe l1_reg_adjust is the thing responsible for setting it to zero (note how it's defined to be equal to linear if -l1 < linear < l1, which the subtraction below will make zero).

[2019-07-23 21:06] #30913 closed

[2019-07-23 21:22] Alaska47 opened #30966 "Restoring tf.py_funcs used inside of a tf.data.Dataset for use at inference time"
**tensorflow gpu version:** 1.13.1

I'm currently trying to use the Datasets API at inference time but I am having trouble restoring the model and the iterator/py_func ops. I'm setting up the dataset while training like this and I'm using two py_funcs in my input pipeline:
[code]

I am trying to load the model and iterator at inference time by doing this, however I'm running into an issue.
[code]

[2019-07-23 21:30] dwangnuro opened #30967 "TensorFlow 1.14 custom estimator model slower than TensorFlow 1.13"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platfo

[2019-07-23 21:36] jvishnuvardhan commented on #30919
I could reproduce the issue even with `tf-nightly`. Thanks!

[2019-07-23 21:47] tanzhenyu commented on #30431
I was able to reproduce this in colab. Will look into it.

[2019-07-23 21:51] #30576 closed

[2019-07-23 21:54] robieta commented on #30919
This is expected behavior. `trainable=False` is a keras concept; it doesn't automatically override the graph and op behavior of tf 1.x. In order to do what you want, you should use the new style `tf.keras.optimizers` optimizers (or `GradientTape`) which accept a list of variables to differentiate with respect to and the `.trainable_weights` attribute of Layers and Models which will filter based on

[2019-07-23 21:54] #30919 closed

[2019-07-23 22:22] ymodak commented on #30223
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-23 22:22] #30223 closed

[2019-07-23 22:48] chengleiwang commented on #30744
@yifeif ，could you please tell me how to fix this issue? I tried use cc_library instead of tf_cuda_library, code path in GOOGLE_CUDA will not execte.

[2019-07-23 22:49] jvishnuvardhan commented on #30523
@Matt-Peters97 Were you able to run any simple tensorflow-gpu models? Was there any change in NVIDIA drivers after restart? I think it is not related to Keras. It will be more related to NVIDIA driver, CUDA, cuDNN drivers. Please let us know what you think. Thanks!

[2019-07-23 23:20] sgambient opened #30969 "TF-TRT does not return correct batch size."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):1.13.1
- Pyt

[2019-07-23 23:33] Uiuran opened #30970 "graph.get_operation() returns operations that are not from the respective name_scope"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-07-23 23:34] gowtham-kp commented on #30528
@blackhu setting histogram_freq = 1 was making it compute histograms at every epoch. That is the cause of error. Please take a look at this [issue](https://stackoverflow.com/questions/55085661/unable-to-attach-tensorboard-callback-in-tensorflow-keras) where the solution is described and let me know if it helps. Thanks!
Also please note that this platform is only for bug/performance, feature reques

[2019-07-23 23:34] #30528 closed

[2019-07-23 23:40] Uiuran commented on #30970
And, use graph.get_operation_by_name(name)
is dully since i would have to inspect op names inside the scope and use if and elses too

[2019-07-23 23:40] ppham27 commented on #30855
Hi @dsgupta,

If you want, you can send me code to ppham27-github@google.com. Yes, it doesn't seem that the ASYNC execution mode is fully working, so you probably have to be using graph mode.

The last easy fix that I can think of to improve performance with `tf.function` is trying:

[code]

I doubt that this will work, too, though.

[2019-07-23 23:40] lytkarinskiy commented on #28782
Hi! Any update in this?

[2019-07-23 23:45] ymodak commented on #30900
I don't  see saved_model file in your directory. Your model tree should contain ```saved_model``` file.  I made a toy example to illustrate,
[code]

[2019-07-23 23:54] gunan commented on #30839
The C++ aspects of the build are identical.
As far as I know, you just need to feed the `--config=v2` flag to the bazel command. @goldiegadde to confirm.

[2019-07-23 23:57] jvishnuvardhan commented on #27386
Closing this as the stackoverflow is correct place for this issue.

[2019-07-23 23:57] #27386 closed

[2019-07-24 00:01] #20007 closed

[2019-07-24 00:08] jvishnuvardhan commented on #27541
@mauricelucy I am closing this as it was resolved in `tf-nightly-gpu-2.0-preview==2.0.0.dev20190723`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/2df53e68f336fa3e02524632e7612bbf/tf_27541.ipynb). Please feel free to open if the issue persisits. Thanks!

[2019-07-24 00:08] #27541 closed

[2019-07-24 00:09] jvishnuvardhan commented on #27705
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-24 00:15] jvishnuvardhan commented on #27705
Reopening as I find some issues are there still with `tf-nightly-gpu-2.0-preview==2.0.0.dev20190723` . Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/4ee37c87967ef4abfa7c7cb3bed63c0c/tf_27705.ipynb). Thanks!

[2019-07-24 01:02] guizili0 commented on #30865
@alextp Thank you for the response, that means in TF 2.0, this API would be remove?

[2019-07-24 01:05] haozha111 commented on #30645
Could you post the error here when you specify  --inference_type= QUANTIZED_UINT8?

In the meantime, you can checkout post-training quantization here and give it a try:
https://www.tensorflow.org/lite/performance/post_training_quantization

[2019-07-24 01:13] it-is-a-username commented on #30959
@lufol It really works. Thank you!

[2019-07-24 01:15] guptapriya commented on #30843
This has been fixed in the latest nightly, can you try with 2.0 nightly and see if it's still failing? (same as https://github.com/tensorflow/tensorflow/issues/30513)

[2019-07-24 01:44] dandy27 commented on #30899
why i see people using -c opt instead of --config=opt? @ravikyram

[2019-07-24 01:45] czgdp1807 commented on #30308
@tangjie77wd I use linux and on that probably using the suggestion in https://github.com/tensorflow/tensorflow/issues/30308#issuecomment-513985618. If you are facing problems in using XLA with environment flags then I would suggest you to use `xla.compile` in your code for compiling the model. I have given the associated link in https://github.com/tensorflow/tensorflow/issues/30308#issuecomment-51

[2019-07-24 01:49] ymodak commented on #28281
This is fixed with latest tf-nightly ''2.0.0-dev20190723'. Thanks!

[2019-07-24 01:49] #28281 closed

[2019-07-24 02:01] it-is-a-username commented on #26665
Now tf 2.0.0beta0 has solved this problem... Thank @pavithrasv !

[2019-07-24 02:11] impjdi commented on #30914
@Gmrevo

I'm not clear on what the problem is.

[2019-07-24 02:31] tangjie77wd commented on #30308
Thanks anyway. I have looked at  #30308 (comment) once but it maybe is not suitable for me because i do prediction with C++ API not Python.

[2019-07-24 02:41] tangjie77wd commented on #29878
This is my whole warnings here (not error because i can test many examples successfully which means get correct prediction result.):
`
2019-07-16 10:33:52.057179: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 FMA
2019-07-16 10:33:52.082548: I tensorflow/core/platform/profile_utils/cpu_

[2019-07-24 02:43] ArthurWang10086 commented on #27557
same question too.

[2019-07-24 02:46] czgdp1807 commented on #30308
@tpopp Is there any C++ API for XLA compile. May be if it exists then it can be added to https://www.tensorflow.org/xla/tutorials/xla_compile . Or any trick for using `xla.compile` in C++ code will be helpful. Thanks.

[2019-07-24 02:57] junhwanjang commented on #26297
`input_shape = (224, 224, 4)
inputs = Input(input_shape, dtype=np.float32)
x = Lambda(lambda x: x[:, :, :, :3])(inputs)
model_pre = Model(inputs, x)
model_pre.summary()
sess_fake = K.get_session()
graph_def_fake = sess_fake.graph_def
nodes_fake = [n for n in graph_def_fake.node]
`
I converted the model as follows.
1. Create fake inputs (including strided slice operation)
2. Change previous 3-chann

[2019-07-24 03:06] tangjie77wd commented on #30308
I think sentenses below  maybe is XLA C++ API:
**#include "c_api_experimental.h"
TF_SessionOptions* options = TF_NewSessionOptions();
TF_EnableXLACompilation(options,true);*
It can not be built successuffly because it need some XLA libraries .However, i do not find any .so file in /mytensorflowpath/tensorflow/compiler/xla/client/lib and there are only some c++ source file and c++ header file .

[2019-07-24 03:16] ekuznetsov139 opened #30972 "Excessive overhead with dense layer"
Under normal circumstances, propagation through the dense layer should reduce to a matmul operation and possibly an activation operation. However, in tensorflow 1.14, it sometimes does not. This situation arises if the input to the dense layer is at least 3D and its dimensions are not fully determined at the time of graph construction.
If this happens, the framework calls the method tensordot(), w

[2019-07-24 03:35] HYPJUDY commented on #24828
I had this problem with
[code]
and `allow_growth` doesn't help.

The error is gone with `tf 1.13, cuda 10.0, cudnn 7.5.0`.
BTW, I'm using Ubuntu 16.04 with nvidia-driver-418.

[2019-07-24 03:38] Leslie-Fang commented on #30691
@jvishnuvardhan  Sorry to interrupt, tf-nightly-2.0-preview==2.0.0.dev20190718 is built based on master branch or any other branchs?

[2019-07-24 03:38] clarkzhao commented on #23898
same issue

[2019-07-24 03:55] lee-bin commented on #30791
Thanks again for your detailed analysis.

I'm doing inference instead of training, and the input is the same for 1000 runs, but as there is dropout during inference, the length of output may be different. I don't know if this could cause recompiling.

I use `TF_CPP_VMODULE=xla_compilation_cache=2` and `TF_XLA_FLAGS=--tf_xla_always_defer_compilation=true` separately.

I tried running the command be

[2019-07-24 04:01] skyzombie89 opened #30974 "AttributeError: module 'tensorflow.python.ops.summary_op_util' has no attribute 'skip_summary'"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
device:
- TensorFlow installed from (source or binary): i use pip
- TensorFlow version (use command below): 1.14
- Python version: i tried 3.7.3 and 3.6
- Bazel version (if compiling from source):  i dont know
- GCC/Compiler version (if compiling from source): i dont know
- CUDA/cuDNN version: 10.0
- GPU model and memory

[2019-07-24 04:23] #29189 closed

[2019-07-24 04:24] #30513 closed

[2019-07-24 04:26] qlzh727 commented on #30456
@arthurarg who worked on RNN esitmator

[2019-07-24 04:27] qlzh727 commented on #30456
Also, just FYI, contrib is going away in tf 2.0, and we are not actively fixing anything in contrib.

[2019-07-24 04:53] gadagashwini commented on #28206
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-24 04:53] #28206 closed

[2019-07-24 04:53] blutjens commented on #27519
tf.executing_eagerly() instead of tf.eagerly() worked for me to check if I'm in eager mode

[2019-07-24 04:54] gadagashwini commented on #30612
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-24 04:54] #30612 closed

[2019-07-24 04:57] AlexZot commented on #30524
@jdduke Here is link: https://drive.google.com/open?id=1HJ0bnrOok4Brd5IcB30HYn80itE4dH8_
@val9299 I know that is working with raw outputs, but it means that I have to decode predictions manually.

[2019-07-24 04:59] melody-rain commented on #29590
@haozha111  Seems your method does not work.
After calling
[code]
 and

[code]

the program will crash with
[code]

[2019-07-24 04:59] AbhimanyuAryan commented on #30776
@pumpkinband it's yet not solved. Also I have switched to OpenVino. Since NCSDK v1 & v2 are both out of support

[2019-07-24 05:32] jaywalnut310 opened #30975 "Bug in TF2.0 & V100: Inconsistent 2d convolution results w.r.t batch size"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-24 05:41] dee98 opened #30976 "AttributeError: 'NoneType' object has no attribute 'keys'"
I am trying to make classification using tensorflow

I am using anaconda version 1.7.2 on Ubuntu 18.04.2 LTS and python 3.7.3

i downloaded retrain.py code from [ https://github.com/tensorflow/hub/blob/master/examples/image_retraining/retrain.py](url)

 when i run this file i got error

`File "retrain.py", line 1349, in <module>
    tf.app.run(main=main, argv=[sys.argv[0]] + unparsed)
  File "/hom

[2019-07-24 05:45] jmgc commented on #24520
Same situation here. Installing the  nightly build of today (July 24th, 2019) with:
[code]
in colaboratory.

If I use a strategy, in this case to access a TPU, I get the error:
[code]
However, if I just avoid the use of an strategy, thinks work smoothly.

I am using a dataset.map which includes a numpy_function that calls a python object that is in charge of the training.
[code]
My first guess wou

[2019-07-24 06:18] anush-o commented on #30969
@sgambient ,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-07-24 06:20] jiarongqiu commented on #30871
This is my current code. I import the graph through GraphDef.
[code]
And, I tested it on the tf-nightly-gpu but got some errors during the conversion.
[code]

[2019-07-24 06:22] ravikyram commented on #30749
Automatically closing due to lack of recent activity. Thanks!

[2019-07-24 06:22] #30749 closed

[2019-07-24 06:23] ErmiaAzarkhalili commented on #30897
I think its due to using of tf.keras.metrics.Accuracy() instead of tf.keras.metrics.CategoricalAccuracy(). Hence, everything is fine now and m,y model converges like a charm.

[2019-07-24 06:23] #30897 closed

[2019-07-24 06:25] ravikyram commented on #30734
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-24 06:25] #30734 closed

[2019-07-24 06:31] eric4337 commented on #30861
I met the same problem before, you can try add this `tf. Enable_eager_execution() ` at the beginning.

[2019-07-24 06:34] anush-o commented on #30966
@Alaska47 ,
In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here. Thanks!

[2019-07-24 06:34] gadagashwini commented on #30958
Was able to reproduce the issue on Colab with Tensorflow version 2.0.0.beta1. Please find the gist [here](https://colab.research.google.com/drive/17M78uFxsUg82xjqOYPdMb4Hm2TqB-J9J). Thanks!

[2019-07-24 06:36] eric4337 commented on #30438
I have std::out_of_range error even with only one placeholder

[2019-07-24 06:36] MeysamSMH7 opened #30977 "Online convertor"
hello,
i have too many problem to convert  a custom model, install python and ...
actually i have been tired to make a custom model and have asked from a person to make it.
its kind of hard to ask other people to do these simple things and hard to me cuz i dont know cant understand. can you make a online convertor for us?
we upload our images and you give us .tflite and .txt
i think its easy for y

[2019-07-24 06:42] gunan commented on #30905
did you try rerunning the command?
On windows, sometimes we see spurious failures.

[2019-07-24 06:46] debadityamandal opened #30978 "attribute error"
AttributeError: module 'tensorflow' has no attribute 'get_default_graph'

[2019-07-24 06:46] gadagashwini commented on #30961
@anirudhraju Looks like the code is incomplete. Please provide the complete code to reproduce the issue. Thanks!

[2019-07-24 06:54] gadagashwini commented on #30964
I am able to reproduce the issue with Tenosrflow 1.14.0 on Colab. Take a look at Colab gist [here](https://colab.research.google.com/drive/1et_k56o8CMt8lWEmwjS6imZKtudiAc1J). Thanks!

[2019-07-24 07:08] cahuja1992 commented on #11339
Thanks for the explanation. Though the output is similar for the spectrogram when we have to calculate the mfccs the outputs for audio_ops.mfcc doesn't match with the output of tf.signal.mfccs_from_log_mel_spectrogram.

This notebook has the code which was written to replicate, [Colab Notebook](https://colab.research.google.com/drive/1kKm0SVhC4v7SfbBeLfBn9RF-xO_qT8rq)

[2019-07-24 07:16] gadagashwini commented on #30952
I could reproduce the reported issue on Colab with Tensorflow version 2.0.0.beta1. Please take a look at gist of [colab](https://colab.research.google.com/drive/1ubO2h45rdehaPuoKiX4MzeKrYF-HIeG5). Thanks!

[2019-07-24 07:16] gunan commented on #30899
The error message says it cannot download one of the TF dependencies. You need to check your internet connection.
Especially users in china have reported similar issues. Is it possible you are in China?

[2019-07-24 07:26] Monikasinghjmi opened #30979 "Converting Tensorflow model to Tensorflowlite model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-07-24 07:31] Monikasinghjmi commented on #23253
fdfddfd

[2019-07-24 07:35] EstechRnD commented on #30272
I'm also facing the same problem.

System information

OS Platform and Distribution : Windows 10
TensorFlow version: tensorflow_gpu-1.14.0
Python version: 3.5.6
CUDA/cuDNN version: 10.1 / 7.6.1
GPU model and memory: GTX1050 / 4GB

[2019-07-24 07:55] SharoneDayan commented on #27557
Maybe the article I wrote can help ? https://medium.com/dailymotion/how-to-design-deep-learning-models-with-sparse-inputs-in-tensorflow-keras-fd5e754abec1
I implemented a custom Dense layer that ingests both sparse and dense tensors, and used subclassing in keras to train a model

[2019-07-24 07:55] Monikasinghjmi commented on #19431
@milinddeore --Wouldn't the inference graph that will be produced (using the code you mentioned) corresponds to the pre-trained Facenet Protobuf file. If I want to deploy TFlite model on a IOS, it has to be trained on the training images I provide; which means I need a Tflite version of the trained model. I have gone through https://github.com/tensorflow/tensorflow/issues/23253, where it is mentio

[2019-07-24 08:05] Monikasinghjmi commented on #19431
@cefengxu @jdduke --pls open this issue

[2019-07-24 08:05] ellonde commented on #30167
Any updates on this?

[2019-07-24 08:06] pandrey-fr commented on #30952
Additional information: since [this aforementioned post](https://stackoverflow.com/questions/42499592/resourceexhaustederror-oom-when-allocating-tensor-with-shape#42512916) recommends taking the embedding lookup out of the training loop, I ran a modified version of the code where the embedding layers are declared outside of the instantiated keras Model (which now takes pre-embedded Tensors as inpu

[2019-07-24 08:19] benyeoh commented on #28995
Yup, can reproduce here as well with `1.14.0`.

Suboptimal workarounds are:

1. Set `verbose=0`
2. Set `steps_per_epoch` to something that is not `None`
3. Don't use `validation_data`

[2019-07-24 08:23] usamahjundia commented on #24407
Did you finally manage to convert FRCNN to TFLITE? If so, how did you do it? I tried converting but ran into errors

[2019-07-24 08:26] apoorvopen opened #30980 "Running FaceNet and MTCNN model simutaneously on 2 cameras"
Hello everyone!

I am trying to run the MTCNN and FaceNet model on 2 cameras simultaneously. So, I am not getting any error while doing this but the code don't give me any results.

It just loads both the models and doesn't give me any predictions. Can anyone help me with this? I have created 2 graphs using g=tf.Graph for MTCNN and FaceNet.

I think this error is coming due to multi-processing wit

[2019-07-24 08:30] rishabhsahrawat commented on #30843
@guptapriya Hi Priya, thank you for your helpful response. After updating TF to latest 2.0 nightly from [here](https://pypi.org/project/tf-nightly-gpu-2.0-preview/#history), it starts training on both GPUs however once the first epoch is finished it throws following error-

    use_multiprocessing=use_multiprocessing)
  File "/home/rishabh/.local/lib/python2.7/site-packages/tensorflow_core/python/

[2019-07-24 08:33] pandrey-fr commented on #30978
Hi,
Could you please provide more details as to which version of tensorflow you are running, and in which context this error appears? This is most probably an issue with trying to use a behaviour from TF 1.x while running TF 2.0beta

[2019-07-24 08:41] NoSyu commented on #30191
Above solutions are not worked for me. So I remove the `wrapt' by conda operation.

`conda remove wrapt`

And, it worked.

`pip install tensorflow`

[2019-07-24 08:43] pandrey-fr commented on #30976
Hi,
This is actually not a tensorflow issue, the exception is apparently raised because the `create_image_lists` function returns a `None` value instead of the expected `OrderedDict`. I would advise you to run Python in a terminal, copy/paste the `retrain.py` file's content save for the `if __name__ == '__main__'` final block (or run `from retrain import `create_image_lists` if the file is in your

[2019-07-24 08:52] gadagashwini commented on #30955
I tried executing the given code on colab and I am able to reproduce the issue with `use_eager_mode=False`. Thanks!

[2019-07-24 08:52] hfzhang31 commented on #30121
I'm facing the same issue. I failed to run distributed evaluation when setting `cluster_spec` like the document does. Now I'm using `train_and_evaluate` for my model. The `train_and_evaluate` document mentions that when using 'train_and_evaluate', the evaluator should not use `cluster_spec` but use `remote_cluster` instead. It does eliminate `ValueError`. However the model doesn't work as expected

[2019-07-24 08:54] MovGP0 commented on #30905
@gunan Sure. First thing I've tried.

[2019-07-24 08:57] #30944 closed

[2019-07-24 08:59] anush-o commented on #30942
@ankitgc1 ,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-07-24 09:06] debadityamandal commented on #30978
Thank you for your response. This error is coming after upgrading tensorflow to 2.0.When i am going to create sequential model,this error is coming.I had to downgrade the version.After that it is working fine.

[2019-07-24 09:06] anush-o commented on #30951
I was able to reproduce the issue with TF version 1.12.
Please find Colab [Gist](https://colab.research.google.com/drive/1KGY8R2dn4hhPvmj7QP49X2wIPJ0jKGLK).Thanks!

[2019-07-24 09:12] yoshihikoueno commented on #30309
Any updates so far?

[2019-07-24 09:17] anush-o commented on #30957
I am able to reproduce the issue.Thanks!

[2019-07-24 09:17] gadagashwini commented on #30970
Was able to reproduce the issue with Tensorflow 1.14.0 on Colab. Please find the gist [here](https://colab.research.google.com/drive/1naJ37I98gPub_G22x1vfN7W17Dd8JKsB). Thanks!

[2019-07-24 09:19] anush-o commented on #30798
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-24 09:19] #30798 closed

[2019-07-24 09:21] ravikyram commented on #30959
Can we close this issue as it was resolved.Thanks!

[2019-07-24 09:26] anush-o commented on #30816
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-24 09:26] #30816 closed

[2019-07-24 09:28] macarena1807 commented on #12071
Hi @gsutanto, @gokul-uf , I've tried to implement your idea (that I think should work correctly and avoid this problem). I'm able to make it work with 1D tensor, but unable to do it with higher dimensions tensor. For example, when I try to run it over a tensor with shape: `[1, 256000, 2]`, I want to compute the norm on last dimension (columns), so I get a norm_tensor with shape `[1, 256000]`. When

[2019-07-24 09:33] pandrey-fr commented on #30978
Great ; you are welcome, and do not forget to close the issue if your problem is solved.

Tensorflow 2.0 changes the API quite a bit. It is up to you to start using it now or not, but if you do you indeed need to update your code :-)

[2019-07-24 09:35] colmantse opened #30981 "does pip wheels support hdfs on default?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 16.04
- Mobile device (

[2019-07-24 09:40] DocDriven commented on #27880
@vibhatha
Thanks to your efforts, I was able to create a custom model in tf 2.0.0 and load it locally with an interpreter via the Python API. The effects of quantization is recognizable, but insignificant.

I just wanted you to ask if you have any experience with deploying tflite models on the Coral Edge TPU stick. I tried to do this with my successfully generated model, but are getting Segmentati

[2019-07-24 09:40] mon28 commented on #23243
@sujitbiswas did you find a solution to this? I am stuck with the same issue.

[2019-07-24 09:56] debadityamandal commented on #30978
OK. Thank you.

[2019-07-24 09:56] #30978 closed

[2019-07-24 10:05] pandrey-fr commented on #30952
With some effort, I found a way to export and reload the datasets after their creation (which requires Eager execution), so that I was able to run `setup_dataset`, dump the results, restart python, `tf.compat.v1.disable_eager_execution`, reload the datasets, `setup_model` and fit it without Eager.

Long story short, it turns out **the issue does not show up when Eager is disabled** (and the fittin

[2019-07-24 10:07] macarena1807 commented on #12071
Hi, @gsutanto, @gokul-uf , I've tried to implement your code, like this:

`@tf.custom_gradient
def custom_norm(x):
    y = tf.norm(x, axis= - 1 , keepdims=False)
    def grad(dy):
        return dy * (x / (tf.expand_dims(y, -1) + 1e-19))
    return y, grad

def custom_norm1(X):
    return tf.map_fn(lambda x: custom_norm(x), X)`

I've add the `tf.expand_dims(y, -1)` in the gradient calculation and

[2019-07-24 10:13] ghostplant commented on #30493
@wangpengmit Yes, it is something to make `int int_val = *(int*)&float_val;`
I am using old version TF1.14 which is not suitable to upgrade to 2.0 for other unstable purpose, so I'm afraid I cannot establish full developing environment for latest Tensorflow 2.0 and managing test requirement for all combinations, like GPU, CPU, TF2.0, TF1.14, Windows, Linux, ..

[2019-07-24 10:21] simian-typist opened #30983 "Sample weights being expanded to match y_true/y_pred before they're sliced using a class_id in keras metrics."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0

[2019-07-24 10:22] ravikyram commented on #30947
I have tried on colab with TF nightly version  and was able to reproduce the issue.Please, find the [gist](https://colab.research.google.com/drive/1h51lgpv27ro23gwjuz1yv0Sgbz0wQggG) here.Thanks!

[2019-07-24 10:24] christian-rauch commented on #30964
I don't have access to the gist that you are referring to.
I can reproduce this on a virtual Ubuntu 18.04 machine with Python 2 and 3, and on a CentOS 7 server with Python 2.

[2019-07-24 10:30] morgangiraud opened #30984 "[tf2.0] tf.function and dataset perf issue"
Hi everyone,

I'm having a look at datasets and `tf.function` and It feels like I've stumble upon a strange perf issue.
Is it a normal behaviour or am I doing something wrong?

**System information**
- Have I written custom code: `yes`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `OSX`
- TensorFlow installed from (source or binary): `binary - 2.0.0-beta1`
- TensorFlow version (use co

[2019-07-24 10:34] RealPolitiX commented on #30191
agreed!

[2019-07-24 10:40] wangyexiang commented on #15026
I see. Thank you very much.  @WindQAQ

[2019-07-24 10:42] wangyexiang commented on #15831
see [https://github.com/tensorflow/tensorflow/issues/15026#issuecomment-513819963](url)

[2019-07-24 10:52] gadagashwini commented on #30967
@dwangnuro This question is better asked on [tenosrflow/model](https://github.com/tensorflow/models/issues) repository for faster resolution. Thanks!

[2019-07-24 10:57] DocDriven commented on #30714
I have tried to reproduce this error with tf 2.0.0-beta1. Unfortunately, it is indeed reproducable, speaking that I can create a model, load and do inference with it via the Python interpreter API. But as soon as I utilize the edgetpu_compiler to create a model for an ARM platform, I get a Seg Fault (again). Here the code to reproduce this:

[code]

The output of this script on my machine is:
[cod

[2019-07-24 11:08] sheirving commented on #22893
same problem with the first in a frozen graph definition (pb) file, did you find a solution? Thankyou

[2019-07-24 11:59] DocDriven commented on #30714
The problem seems to be the function that allocates memory for the tensors. The function call

`interpreter->AllocateTensors()`

returns 1, e.g. an error. Upon looking at the file `tensorflow/tensorflow/lite/interpreter.cc` the error originates from the primary_subgraph(), but I wasn't able to figure out what causes the Seg Fault:

[code]

[2019-07-24 12:10] zh794390558 commented on #25036
@fchollet Thanks.

[2019-07-24 12:11] sharkdtu commented on #30981
Yes. you should set hadoop env in advance:
[code]

[2019-07-24 12:14] amitmate commented on #24910
Thanks Nupur. Now I am able to convert my custom keras SSD (with a custom Normalize layer) to  tflite format. How can i incorporate the post processing layer (TFLite_Detection_PostProcess ) in the tflite model ? Can i add that custom post processing layer in python/keras without using bazel tool?

[2019-07-24 12:18] colmantse commented on #30981
much thanks!

[2019-07-24 12:24] MonsieurWave commented on #30191
None of the solutions worked for me.
I am always getting `ERROR: Cannot uninstall 'wrapt'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.`
and with `conda remove wrapt` I get `RemoveError: 'setuptools' is a dependency of conda and cannot be removed from conda's operating environment.`

env: Mac OS 1

[2019-07-24 12:27] Uiuran opened #30988 "Relations/differences between Container and Scopes in Context Manager are not Clear"
From respective docs
https://www.tensorflow.org/api_docs/python/tf/container
https://www.tensorflow.org/api_docs/python/tf/VariableScope

The relation between these two context manager is not clear (although variable scope and name scope inter-relation are fine).

But from the source code ones can see that they are clearly two things that inter-relates but not the same thing.

Should i use Contain

[2019-07-24 12:35] agronskiy commented on #22145
Same here, with CUDA 10.0 / CuDNN 7.5 / Tensorflow, after switching to 1.13.1 to 1.14.0 I started getting this issue.

Same setting as above: I implement gaussian blur transform using conv2d as part of tf.Data pipeline which is placed on cpu, without layout optimizer knowing that.

[2019-07-24 12:39] Pepslee commented on #27511
I use tensorflow 2.0.0-dev20190724  which must to have this commit 5956c7e#diff-e329ed6b8d30dca9a441689005047035 , but still have a similar problem when run model.fit_generator() in loop.

If i use only load load_model() and then keras.backend.clear_session() inside the loop, everything is fine.

But if I use  load_model(), and then compile() and then fit_generator() in loop, when fit_generator()

[2019-07-24 12:42] tasnimul92 opened #30989 "tf.compat.v2.summary.scalar has no attribute 'experimental'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NO
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-beta

[2019-07-24 13:20] jcRisch commented on #18736
@LIUHUANUCAS Tensorflow use too much memory, you have to find a way to reduce it. You can reduce your batch size for example. If it doesn't work, try @guoyaohua method.

[2019-07-24 13:28] dwangnuro commented on #30967
@gadagashwini Why is that? It is the same demo code but became slower after upgrade. And I saw my other code became 50% more slower after upgrade. Is it a regression on tensorflow?

[2019-07-24 13:31] vibhatha commented on #27880
@DocDriven
Can you provide me the log file created after edgetpu_compiler was used?
In that one, please check how much of your operators were successfully converted with TPU support.
It is a detailed report.

Possible issues, first check the expected input from that loaded "edgetpu compiled model"?
Make sure you provide input with a similar shape?
When the model is partially compiled for TPU suppo

[2019-07-24 13:35] vibhatha commented on #30714
Can you provide the log file after running edgetpu_compiler?
And check how much is TPU compatible? It will give a detailed report.

Note: There is a *.log file created with partials of your tflite model name added with suffix edgetpu*

ex : <tflite_model_name>_edgetpu.log

[2019-07-24 13:42] Alaska47 commented on #30966
Like I said, it occurs when I'm trying to get the value of my output tensor. Specifically with this code:
[code]

[2019-07-24 13:45] DocDriven commented on #30714
@vibhatha
Sure, take a look:

[code]
Thanks!

[2019-07-24 13:57] YoavRamon commented on #30728
Any news regarding that problem?

[2019-07-24 13:58] yiyang-yu opened #30990 "LSTM is not working with ModelCheckpoint callback"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-07-24 13:59] MonsieurWave commented on #20372
Recently updated to `TensorFlow version:  2.0.0-beta1`
I now get `ValueError: Session keyword arguments are not support during eager execution. You passed: {'callbacks': [<tensorflow.python.keras.callbacks.TensorBoard object at 0x1a473117f0>]}`

[2019-07-24 14:14] dulm commented on #24474
same problem with @pranav-kohli

[2019-07-24 14:30] Uiuran opened #30991 "Name Scope Automatic Handling According to the Model Architectures blocks"
**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):
Yes
**Describe the feature and the current behavior/state.**
Tensorflow must be able to give name scopes more logically according to the architecture being built and automatically. Also, must be able to update the names automatically according to the
Architecture without the dev having to expl

[2019-07-24 14:45] Uiuran commented on #30991
The tracker isnt tagging as feature request as it should.

[2019-07-24 14:59] vibhatha commented on #30714
It seems. Everything is good.

Can u load the tflite model to the interpreter and check what is the expected input shape?
And make sure what you try to infer (input for inference) has the same shape?

[2019-07-24 14:59] nseidl opened #30992 "INT8 TensorRT Quantization Fails to Calibrate"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04, [nvcr.io/nvidia/tensorrt:19.02-py3](https://docs.nvidia.com/deeplearning/sdk/tensorrt-container-release-notes/rel_19-02.html#rel_19-02)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if t

[2019-07-24 15:00] AlexiaHan commented on #30647
I am also having the same issue, the solution with the patchand editing `def_file_filter.py.tpl` file only seems to fix the problem in 1.13. Has anyone found a workaround for 1.14?

[2019-07-24 15:01] nseidl commented on #30657
@aaroey Thank you. Updating to `tf-nightly-gpu==1.15.0.dev20190718` fixed the issue of no TRTEngineOps being created/used. Closing as this specific issue is fixed.

[2019-07-24 15:01] #30657 closed

[2019-07-24 15:17] alextp commented on #30865
It's not a part of TF's core APIs, it's a separate tool you can build if
you want. I don't know of plans to deleting it.

On Tue, Jul 23, 2019 at 6:10 PM Li, Guizi <notifications@github.com> wrote:

--
 - Alex

[2019-07-24 15:19] andmax opened #30993 "Missing shuffle argument on validation call during training"
On TensorFlow 1.14 (OS Ubuntu 16.04), when I call fit() of a tf.Keras model using HDF5Matrix on both training and validation data, I set the argument shuffle='batch' and it works for training batches, however it fails when starting validation batches:

TypeError: TypeError while preparing batch. If using HDF5 input data, pass shuffle="batch".

  The problem seems to be the shuffle argument missing

[2019-07-24 15:20] steph-en-m opened #30994 "[TF 2.0 API Docs] tf.math.sqrt"
Documentation contributor guide: https://www.tensorflow.org/community/contribute/docs

TensorFlow.v.2.0
Link to doc : https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/math/sqrt

## Doc issue description:

**1.** The generated file in which this symbol is defined .i.e **python/ops/gen_math_ops.py** is just plain text rather than a link to the source file. It would be great if it's rightl

[2019-07-24 15:26] casiciaco commented on #19957
Will this functionality be extended ?

[2019-07-24 15:29] jdduke commented on #19431
@Monikasinghjmi, it's hard to tell exactly what you're asking, but it doesn't sound like it's a bug/issue, and is probably best suited as a question on StackOverflow.

[2019-07-24 15:35] dimtass commented on #30953
I'll also edit the main post, but I've found a stupid mistake that I've made.
I didn't enabled the FPU on the STM32F746. Now that I've enabled it, it's 3x times faster than before, so the inference time dropped from 2964 to 922ms.

But it's still much slower that the x-cube-ai implementation. It's now ~13x times slower, which is still too much.

I've also pushed the changes to the repo.

[2019-07-24 15:41] Monikasinghjmi commented on #19431
This is an error related to the topic of the thread, Shouldn't it be asked
there only.

Regards,
Monika

On Wed, Jul 24, 2019 at 9:08 PM Jared Duke <notifications@github.com> wrote:

[2019-07-24 15:46] gargn commented on #24910
In order to use the `TFLite_Detection_PostProcess` op, you need to:
1. Freeze the graph.
2. Use [`export_tflite_ssd_graph.py`](https://github.com/tensorflow/models/blob/master/research/object_detection/export_tflite_ssd_graph.py) to add `TFLite_Detection_PostProcess` to the frozen graph. I don't know the specifics of this script. However, there are a handful of other bugs you might be able to refe

[2019-07-24 15:49] gargn commented on #22893
Starting 1.14, [`TFLiteConverter.from_keras_model_file`](https://www.tensorflow.org/api_docs/python/tf/lite/TFLiteConverter#from_keras_model_file) takes in the argument `custom_objects` which is passed directly into the Keras loading function. The logic should look something like the following:

[code]

If you need to use 1.13 then you can load the Keras model yourself and use `TFLiteConverter.fro

[2019-07-24 15:53] DocDriven commented on #30714
@vibhatha
I did not find any possibility to inspect my model. What I can show you is the point, where my exe dies:

[code]
I guess that the second line tries to write to a place that could not be allocated beforehand.

[2019-07-24 15:58] srjoglekar246 commented on #30524
Hey Alex, can you try adding `converter.allow_custom_ops = True` ?

[2019-07-24 16:00] Geogre19 commented on #29729
Same issue. Any response from tensorflow developer ?

[2019-07-24 16:12] Quiigi opened #30995 "LSTM prediction is numerically inconsistent for the last few instances."
The predictions you get may differ slightly depending on input length and position within it.  E.g., if you have 11 instances of input, you get one answer for the first 8, and a different answer for the last 3.
I write "may" as it happens to me with probability around 0.4. "Slightly" means in the order of the least significant bits of the float32 mantissa.

**System information**
- Yes, I have wri

[2019-07-24 16:13] qlzh727 commented on #28995
Hi @lgeiger, sorry for the very late reply. That indeed seems to be a bug for certain runtime condition. As @benyeoh, mentioned, the quickest workaround is to set verbose = 0, which suppress the print of the message, and still give u the same training/eval behavior.

We are in the middle of a refactoring of the training logic, and will take care of the issue in 2.0 release.

[2019-07-24 16:22] vibhatha commented on #30714
`
tflite_fname = "path_to_tflite_model"
interpreter = tf.lite.Interpreter(model_path=tflite_fname)
interpreter.allocate_tensors()

input_detail = interpreter.get_input_details()[0]
output_detail = interpreter.get_output_details()[0]

print("Input Details : ", input_detail)
 print("Output Details : ", output_detail)

def quantize(real_value):
      std, mean = input_detail['quantization']
      ret

[2019-07-24 16:28] lgeiger commented on #28995
Thanks for taking a look

Does that mean TF 1.14 won't receive a fix for this? I understand that you are focusing on 2.0 at the moment, but a fix would be very useful for people currently relying still relying on TF 1.x.

[2019-07-24 16:30] jeet4690 commented on #30900
can you please tell me how to create `saved_model` foulder, if not then can you please tell me a code or something to get `output_node_names` (graph is too big so manually do it is not possible ) @ymodak

[2019-07-24 16:30] lgeiger commented on #28860
This is actually not a bug in `tf.data` but rather a limitation of TensorFlow Datasets. With TensorFlow Datasets version 1.1.0 this can be mitigated by skipping the internal decoding and caching the encoded version of the dataset. For more information see https://github.com/tensorflow/datasets/blob/master/docs/decode.md#filtershuffle-dataset-before-images-get-decoded

[2019-07-24 16:30] #28860 closed

[2019-07-24 16:35] haozha111 commented on #22109
Thanks for the feedback. I can reproduce this issue with the tf-nightly builds, I will take a look on this issue soon.

[2019-07-24 16:37] qlzh727 commented on #28995
We probably won't update 1.14 release for this bug.

Also just check the docstring of model.fit()

tuple (x_val, y_val) of Numpy arrays or tensors
tuple (x_val, y_val, val_sample_weights) of Numpy arrays
dataset or a dataset iterator.
For the first two cases, batch_size must be provided. For the last case, validation_steps must be provided.

Seems that the validation_steps is needed if the validat

[2019-07-24 17:06] isaprykin commented on #30636
Keras should be able to figure out validation_steps.  (cc @omalleyt12 )

Could you please share the code so that we have more complete details of this case while we are looking at it?  Thanks.

[2019-07-24 17:09] liuyanqi commented on #30861
Wow. I'm not sure why but this solves the problem.

I visualize the generated tflite model using netron. Can anyone explain why it only insert Quantize layer after a certain convolution layer?

![image](https://user-images.githubusercontent.com/7076268/61813651-3dbebc80-ae14-11e9-8108-3521e49e71b0.png)

[2019-07-24 17:14] aaudiber commented on #30685
Now that 6cd69820a7ec68363647bf918d312b5d10e0e07a has merged, inferred `TensorArray` shapes will be preserved across all tf.data operations.

[2019-07-24 17:14] #30685 closed

[2019-07-24 17:16] dubey commented on #30887
Hi @mjlbach, thanks for filing the issue.  Please confirm a couple of things:
1. Are you using `tf.distribute.MirroredStrategy` on a single machine with multiple GPUs?
2. Can you run NCCL tests on the machine without an TensorFlow code? https://github.com/NVIDIA/nccl-tests

[2019-07-24 17:35] mjlbach commented on #30887
1. Yes a single node
2. It appears to be an nccl issue

[code]

[2019-07-24 17:41] anirudhraju commented on #30961
Reformatted the above code blurb with python markdown for readability. Please copy to a script and run as:
Without distributed scope: python3 script.py
With distributed scope : python3 script.py distributed

[2019-07-24 17:48] ymodak commented on #30900
See https://www.tensorflow.org/guide/saved_model#build_and_load_a_savedmodel to build saved model
and then https://www.tensorflow.org/guide/saved_model#cli_to_inspect_and_execute_savedmodel

[2019-07-24 17:48] wangpengmit commented on #30493
I see. I'll add the op.

[2019-07-24 17:49] tomerk commented on #29729
Subclass models in Keras are not guaranteed to have made all of their variables until the first time they have been called on inputs. This is because the model has no way to know how your layers are connected until you actually enter the `call` method, so it is insufficient to specify an input layer shape on one of your layers.

If your subclass model doesn't implement a custom `build` method, you

[2019-07-24 17:49] #29729 closed

[2019-07-24 17:53] dubey commented on #30887
Thanks for opening the NCCL issue.  A potential work around in TensorFlow is to use a different `cross_device_ops` object with `MirroredStrategy`.  The default is [`NcclAllReduce`](https://github.com/tensorflow/tensorflow/blob/f22a98fcf8855cb252658437f248874bd7602082/tensorflow/python/distribute/cross_device_ops.py#L793) but you can specify a different cross device ops object in the [strategy cons

[2019-07-24 17:56] saumpsh commented on #30376
Hi,

@tuanphan09 Thank you for helping me out. It solved my problem and now I am able to successfully compile and deploy my model to the microcontroller.

[2019-07-24 17:57] #30376 closed

[2019-07-24 17:59] p-dimi commented on #28053
If it's any help - I was running a script for model compression, and started getting this error when I disconnected my laptop from the power and it started running on battery.
After I reconnected it to the power, and restarted the script, the errors did not return.

[2019-07-24 18:00] cysmnl commented on #28923
With tf.version 2.0.0-dev20190724, I tried saving a model `model.save('output_path', format='tf')` with no luck. I used the keras functional api to build the model.

[2019-07-24 18:01] jvishnuvardhan commented on #28250
@joelzou925 I don't see any error with the latest `tf-nightly-gpu-2.0-preview==2.0.0.dev20190723`.
Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/d6407dac539bf2b15db7daf205dea360/untitled315.ipynb).

I am closing the issue. Feel free to open it if the issue persists again. Thanks!

[2019-07-24 18:01] #28250 closed

[2019-07-24 18:02] ghostplant commented on #30493
@wangpengmit Great, thanks! And `float float_val = *(float*)&int_val;` is needed as well, since the value should be turned back after some int-level / bit-wise operation.

[2019-07-24 18:03] ghostplant commented on #30493
@wangpengmit I'm also sure whether adding this op will support 2.0 only, or supporing 1.14 as well?

[2019-07-24 18:06] georgealexandruvlad opened #30998 "Can't install tensorflow-text"

[2019-07-24 18:09] a-gn commented on #28053
Probably your laptop is configured to shut the GPU off when on battery? This doesn't work for me, I always keep it plugged.

[2019-07-24 18:10] jvishnuvardhan commented on #28323
@scooter4j Have you created a PR? If yes, can share it here so that we can close when the PR merge. Thanks!

[2019-07-24 18:14] sgambient commented on #30969
Ok, will try to . It is related pyfunc that returns  2 arrays of different  first dimension ( e.g.  (25,5) (1,) ) .

[2019-07-24 18:17] georgealexandruvlad commented on #30998
I can't install tensorflow-text via pip as it is shown in the tf2.0 tutorial pages [https://www.tensorflow.org/beta/tutorials/tensorflow_text/intro](url). I tried using -q or -U flag (as it is specified in tensorflow-text github page) but without any success. I made an environment in anaconda and installed tf2.0. The evironment has python 3.7.3 but I tried with other versions too. I checked pip ve

[2019-07-24 18:21] rchao commented on #30052
@mahzoon thanks for reporting the issue - we were able to repro and found that the mismatched argument is keras_learning_phase. We're actively working on training loop refactoring which will resolve the issue. Will post back here once we get more updates.

[2019-07-24 18:27] nseidl commented on #30992
(issues with quantized model file sizes and inference speeds here) #30717

[2019-07-24 18:34] georgealexandruvlad commented on #30998
I've done further researches and it appears that tensorflow-text is not supported on windows. I will close the issue as it has been resolved.

[2019-07-24 18:34] #30998 closed

[2019-07-24 18:37] jvishnuvardhan commented on #28398
@ispmarin I think this was resolved in `tf-nightly-gpu-2.0-preview==2.0.0.dev20190723`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/e68b76451dd49bf282fb35d2f78faca7/tf_28398.ipynb).

Last line in your code `mdl.predict_classes` is expecting a numpy array where as your are providing a `dataset`.

I am closing this issue as it was resolved. Please feel free to r

[2019-07-24 18:37] #28398 closed

[2019-07-24 18:42] mjlbach commented on #30605
I'm working on a minimal example now... The main problem I have is that it's hard to debug exactly which operation is triggering the problem. It seems to be an incompatibility of the op with the GPU.

[code]

[2019-07-24 18:45] arthurarg commented on #30456
The input tensor needs to be a sparse tensor, and you need to specify the
number of cells. The following code should work:
[code]

On Wed, Jul 24, 2019 at 12:34 AM Qianli Scott Zhu <notifications@github.com>
wrote:

[2019-07-24 19:38] hi-im-ryanli commented on #30191
This worked for me.

[2019-07-24 20:08] kbelete99 commented on #29079
Hey,
 I'm getting the same error trying to convert MobileFaceNet from a .pb to .tflite file. I noticed you closed the issue and was wondering if there was a way to convert the model. Is there a workaround or a function I can tinker with to get it to work?

[2019-07-24 20:24] gargn commented on #30754
There is currently limited support for LSTMs in TFLite. The documented path is available [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/examples/lstm/g3doc/README.md). We are working on improving our support of control flow based operations and models. We will update documentation and the GitHub issues as we make progress on this issue.

[2019-07-24 20:34] dmagee opened #30999 "r2.0 windows build ProtoCompile issue"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from: source
- TensorFlow version: 2.0
- Python version: 3.6.5
- Installed using: Visual studio
- Bazel version (if compiling from source): 0.26.0
- GCC/Compiler version (if compiling from source): Visual Studio 2017
- CUDA/cuDNN version: 10, 7.1
- GPU model and memory: NVIDIA 1080

Building under windows (fol

[2019-07-24 20:41] Kaynato commented on #30934
I updated to tf-nightly-gpu-2.0-preview 2.0.0.dev20190724 and the issue is still present.

I care mostly about this issue in the **gpu version** of tensorflow - in fact I have a feeling that the discrepancy has to do with how data is passed to and from the GPU.

[2019-07-24 20:44] jvishnuvardhan commented on #29161
@mwin76 I think it was resolved sometime ago. I have tested in nightly builds (1.15 and 2.0b1) and don't see any issue. Please check the gist with [TF2.0](https://colab.sandbox.google.com/gist/jvishnuvardhan/b466a0758214055628c16026d68125d8/tf_29161_tf2p0b1.ipynb) and [tf-nightly](https://colab.sandbox.google.com/gist/jvishnuvardhan/220c6d9555b467f171b56ebbe36c6b18/tf_29161_tf1p15.ipynb).

I am cl

[2019-07-24 20:52] edwardyehuang commented on #30636
When I do not pass the validations_steps:

Without Mirroed Strategy : **Work**
With Mirroed Strategy, Single Card : **Work**
With Mirroed Strategy, Multiple Cards with device = /gpu:0 : **work**
With Mirroed Strategy, Multiple Cards with device = /gpu:1 : **work**
With Mirroed Strategy, Multiple Cards : **Error**

[2019-07-24 20:56] jvishnuvardhan commented on #29310
@edwardyehuang Can you provide a standalone code to reproduce the issue? The current code shows `NotImplementedError: When subclassing the `Model` class, you should implement a `call` method.`. Thanks!

[2019-07-24 20:58] edwardyehuang commented on #30636
I think this maybe the keras does not consider when the numbers of val data is odd.

[2019-07-24 21:09] jvishnuvardhan commented on #29445
@johnkabler I could not reproduce the issue with the latest `tf-nightly`. This might have been resolved in `tf-nightly-gpu-2.0-preview==2.0.0.dev20190724`. Thanks!

I am closing the issue. Please feel free to reopen the issue if the bug persists. Thanks!

[2019-07-24 21:09] #29445 closed

[2019-07-24 21:12] alaayadi commented on #30748
Same problem here , not detecting any GPU device after upgrading the tensorflow version
tensorflow only detect GPU XLA
But now , I cannot go back to tensorflow1.10.0 as it was been deleted from pip
Any help ?

[2019-07-24 21:14] sleighsoft commented on #29867
It works for numpy

[2019-07-24 21:47] chengchu88 commented on #30748
I downgraded the tensorflow to an older version and the problem is
resolved..
command is like
conda install tensorflow-gpu==1.9.0

On Wed, Jul 24, 2019 at 2:20 PM alaayadi <notifications@github.com> wrote:

[2019-07-24 22:38] bashi-bazouk opened #31004 "tf.tensordot documentation describes non-existent `a_axes` and `b_axes` parameters"
## URL(s) with the issue:

https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/tensordot

## Description of issue (what needs changing):

There are no `a_axes` and `b_axes` parameters, but the documentation describes the function as if there are.

[2019-07-24 23:17] robertlugg commented on #30191
Tensorflow seems to have trouble being friendly with other packages.  The following worked for me, starting from a clean conda environment:

pip install --upgrade pip
pip install six>=1.12.0
pip install  httplib2==0.12.0
pip uninstall -y setuptools
pip install setuptools>=41.0.0

pip install tensorflow==1.14.0
pip install tfx

pip install pylint

This sequence gets rid of wrapt as well as tensorbo

[2019-07-24 23:28] alaayadi commented on #30748
That's just working ! thanks

[2019-07-24 23:37] mjlbach commented on #30887
To follow-up; the issue was an X server was running on the GPUs.

[2019-07-24 23:43] ymodak commented on #30970
Perhaps this can be a Feature Request since we already have [get_operation_by_name](https://www.tensorflow.org/api_docs/python/tf/Graph#get_operation_by_name)

[2019-07-24 23:49] ymodak commented on #29319
Closing since associated PR is merged. Thanks!

[2019-07-24 23:49] #29319 closed

[2019-07-25 00:51] lengoanhcat opened #31005 ""Not found: Resource does not exist" exception thrown in runtime"
I am facing a similar error mentioned above. I will try my best to help resolve this issue as it benefits my work as well. It is the same problme with issue #22631,

OS Platform and Distribution: Linux Ubuntu x86_64 - 4.15.0-52-generic (kernel)
TensorFlow installed from: conda 4.7.5
TensorFlow version: 1.13.1
Bazel version: N/A
CUDA/cuDNN version: 10.0
GPU model and memory: Tesla V100-SXM2-16GB
Ex

[2019-07-25 00:51] edwardyehuang commented on #29310
The example above is not a full code

[2019-07-25 00:57] edwardyehuang commented on #29310
[resnet.zip](https://github.com/tensorflow/tensorflow/files/3429272/resnet.zip)

[2019-07-25 01:08] edwardyehuang commented on #29310
Cannot believe you guys still cannot understand my issue...
For example,
Conv2d is the subclass of tf.keras.layer
Resnet and ConvBlock are the subclass of tf.keras.Model
A Resnet class contains Conv2d and ConvBlock instances
A ConvBlock contains Conv2d instances
When doing the load h5 weight by name for Resnet. It will only load the weights for the tf.keras.layer instances in Resnet. The tf.keras.

[2019-07-25 01:26] mjlbach commented on #30887
Edit: This issue is not closed, even after fixing NCCL the problem persists.

[2019-07-25 01:34] tanzhenyu commented on #29310
Hmm...AFAIK .layers has issues for functional and subclassed models. But if with the solution you proposed it works fine, then we'd appreciate if you want to contribute.

[2019-07-25 01:38] dubey commented on #30887
Do you mean the out of range error?

[2019-07-25 01:53] yanghoonkim commented on #30813
Please compare the two code blocks below and their printed result.
The only difference is that I reopened the tf.variable_scope('myscope') and defined 'compute_gradient', and 'apply_gradient' in the reopened scope.

**The first code**
[code]
**Result:**
[<tf.Variable 'myscope/a:0' shape=(4, 3, 2) dtype=float32_ref>, <tf.Variable 'myscope/b:0' shape=(4, 3, 2) dtype=float32_ref>, <tf.Variable '**mys

[2019-07-25 01:58] boraca opened #31006 "Contradicting bazel versions suggested"
### URL(s) with the issue:

https://www.tensorflow.org/install/source_windows#install_bazel

## Description of issue (what needs changing):
It should be Bazel <0.23.0, not 0.24.1
### Clear description
First and last sentence contradict each other:
Install Bazel 0.24.1,
Ensure you install Bazel 0.23.0 or lower.

### Correct links

### Parameters defined

### Returns defined

### Raises listed and d

[2019-07-25 02:00] azaks3 commented on #30702
1. For inference take a look at [https://www.tensorflow.org/tfx/guide/serving](url)
One important part is that the process will turn variables into constants.
2. According to the timeline (comparing slow and fast sess.run) it seems most of the diff comes from the MatMul op. I am not 100% sure but using taskset to run the script (taskset 0x1 python ...) improved the variance for my runs.

slow infe

[2019-07-25 02:06] eric4337 commented on #30861
U need 'yield [sess.run(input value)]', or it's still a tensor

[2019-07-25 02:12] sgambient opened #31007 "Remove the max_batch_size in tf-trt create_inference_graph api"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):1.13.1
- Are you willing to contribute it (Yes/No):  Sure,

[2019-07-25 02:13] iwonajs commented on #30990
I am experiencing a similar issue.
--------------------------
print(tf.version.GIT_VERSION, tf.version.VERSION) > 2.2.4-tf
-----------------------------
OS: Ubuntu
 Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2 LTS
Release:	18.04
Codename:	bionic
-------------------------------------
running on CPUs
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little En

[2019-07-25 02:20] TomorrowIsAnOtherDay commented on #29729
Thanks for replying.
I do want to use limited number of  keras functional API to build my network, as these APIs are not as flexible as origin tf.xx APIs. So I will try using model.build() to initialize the variables.

[2019-07-25 02:27] cj741 commented on #30701
Thanks Gunan, the bazel is work well, I got some new errors like following:
Analyzing: target //tensorflow/tools/lib_package:libtensorflow (123 packages loa
ded, 5204 targets configured)
INFO: An error occurred during the fetch of repository 'eigen_archive'
INFO: Call stack for the definition of repository 'eigen_archive':
 - D:/tensorflow/tensorflow/tensorflow/workspace.bzl:148:5
 - D:/tensorflow

[2019-07-25 02:28] eric4337 opened #31008 "throw std::out_of_range while convert Lite quantization model with representative_dataset"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.14.0-rc1

[2019-07-25 02:33] iwonajs commented on #22837
I am experiencing this in 2.2.4-tf

[2019-07-25 02:33] ageron opened #31009 "Union of string sets cannot be converted to dense tensor (raises TypeError)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOSX 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VERS

[2019-07-25 02:39] iwonajs commented on #22837
I am experiencing this issue in 2.2.4-tf

[2019-07-25 02:50] ageron commented on #31009
Ok, the problem seems to have nothing to do with sets. It's just that the default value in `to_dense()` is 0, which cannot be converted to a string, so the following code works:

[code]

I think the default value for string sparse tensors should be the empty string. At the very least, the error message should be clearer (it should say that it's talking about the `default_value`).

[2019-07-25 02:51] chengmengli06 opened #31010 "Detail Design doc of tf.Dataset not available"
Want the Detail Design doc of tf.Dataset not available. The current design include quite a lot of tuning parameters such as num_threads, and we users have little about its functionality. It is impossible for use to debug the performance bottleneck, it just looks like a black box.  I think it is necessary for the dataset developers to publish the design doc, and give more details about the data pip

[2019-07-25 02:51] chengmengli06 commented on #31010
@mrry

[2019-07-25 03:05] chenchao666 commented on #2271
I came across the same problem as you, do you know how to solve it now. I use tf 1.9.0

[2019-07-25 03:25] AbrahamSanders commented on #30431
Hi,
I also encountered this issue in a colab from a course demonstrating transfer learning with MobileNetV2.
I ran the same exact code in alpha0 and then in beta1, and am seeing a reduction of 13.6% in validation accuracy in beta1.
[Colab for Alpha0](https://colab.research.google.com/drive/1KszPPoBVwBoAGwgoSMtUjuLZMYRXzvWV#scrollTo=6XOGP0tExZvv)
[Colab for Beta1](https://colab.research.google.com/

[2019-07-25 03:30] daquexian opened #31011 "What is HalfPixelScalerForNN in nearest interpolation?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ArchLinux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14.1-dev20190526
- Python version: 3.7
- Bazel version (if compiling from source): **tf_env_collect.sh just

[2019-07-25 03:32] yongtang commented on #31009
@ageron I think this is the same issue as #30750 and will be fixed by PR #30781. The PR has been approved so likely it will be merged soon.

[2019-07-25 03:38] freedomtan commented on #30870
FYI, Edge TPU [July 2019 Updates](https://coral.withgoogle.com/news/updates-07-2019/) includes post-training quant support. Didn't try web compiler, offline compiler does work.

[2019-07-25 04:01] jvishnuvardhan commented on #30934
@Kaynato Can you check my [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/af4efafb809c4558189b31a9463aa5a6/tf_30934.ipynb) and let me know what you think? When I ran the gist it results in `Disagreement between manual and keras-model wrapped conv: 0.0` which means it working as expected right?

Could you create a gist and share it with the results. Thanks!

[2019-07-25 04:54] mjlbach commented on #30887
No, even though NCCL works now, the example still fails with the same NCCL error. NCCL tests compiled against system (2.4.7) NCCL yields:

[code]

But when I run the example keras script yields the following python error:
[code]
[code]

[2019-07-25 04:55] gadagashwini commented on #30967
@dwangnuro As this is more related to TF models, please post this in [TF model](https://github.com/tensorflow/models/issues) repo. Thanks!

[2019-07-25 05:09] gadagashwini commented on #30961
I am able to reproduce the issue on Colab with Tensorflow version 2.0.0.beta1. Please find the [gist](https://colab.research.google.com/drive/1NsqVwxKeBy6zZOA4KCC0etgzy7NUZYy9) of colab. Thanks!

[2019-07-25 05:11] dwangnuro commented on #30967
@gadagashwini I think there are some misunderstanding. In general, I noticed some of my model become slower after upgrade to tf 1.14. And the model in this issue is just an example that shows tf 1.14 is slower than tf 1.13. It is a performance issue. It isn't the model in the TF model become slower.

[2019-07-25 05:12] eric4337 commented on #31008
I seems to find a fix for this, this is probably a current limitation for lite now,
as stated in https://www.tensorflow.org/lite/guide/ops_compatibility
"num_or_size_split contains number of splits as a 0D tensor"

Input shape x=[1, 32, 32, 1]
If neet tf.split(x,  2, axis = 1), use tf.split(x, tf.const([16, 16]), axis = 1)

[2019-07-25 05:19] ravikyram commented on #30800
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-25 05:19] #30800 closed

[2019-07-25 05:20] ravikyram commented on #30803
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-25 05:20] #30803 closed

[2019-07-25 05:26] Ryandry1st opened #31013 "[TF 2.0 Docs] Include @tf.function in site/en/r2/tutorials/generative/cvae.ipynb"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
site/en/r2/tutorials/generative

[2019-07-25 05:31] mwin76 commented on #29161
Hi,

I tested it with tf-nightly-gpu and it is stuck.

Thanks,
Mattan.

[2019-07-25 06:23] chengleiwang commented on #30744
Any suggestion?

[2019-07-25 06:25] gadagashwini commented on #30979
@Monikasinghjmi Please provide the information asked in Template. Thanks!

[2019-07-25 06:49] gadagashwini commented on #30976
@dee98 Please provide the correct link for retrain.py.
And also, let us know @pandrey-fr's comment resolve your issue. Thanks!

[2019-07-25 06:53] gunan commented on #30687
We have a potential fix we are hoping it may address this.
We are hoping to push it tomorrow (Mountain View Daytime).

You may be able to try it out to see if that works.

[2019-07-25 07:04] PigApple commented on #29958
@8bitmp3, is there any possible way to dump model gradients and intermediate layer output through callback?

[2019-07-25 07:16] ravikyram commented on #31004
@bashi-bazouk
In the function tf.tensordot( a,    b,    axes,    name=None)
axes parameter means a-axis , b-axis parameters.
For eg: `tf.tensordot(a, b, [[0], [2]])` means `a-axis param =[0]` and `b-axis param=[2].`

For more details refer [this link](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/tensordot#args).

Thanks!

[2019-07-25 07:29] guptapriya commented on #30961
I believe you are missing this one step in the input pipeline:
`x_train_full = x_train_full / 255.0`
After adding this, the code without strategy seems to work fine too.

See this tutorial for a very similar example:
https://www.tensorflow.org/beta/tutorials/keras/basic_classification

I don't understand though why
- with strategy it seems to work without needing this extra step ( i will look into

[2019-07-25 07:29] kbhute-ibm commented on #26135
Hi @martinwicke Did you get chance to look at above changes?
@frreiss Please share if you have any inputs on this?

[2019-07-25 07:31] blackPython commented on #21726
I am facing the name problem. The moving_mean and moving_variance go to nan at training time and the effect of this can only be seen during the evaluation time. I am not using keras I am coding in tensorflow APIs and I am using tf.layers.batch_normalization. Is there a workaround?

[2019-07-25 07:31] anniezhi commented on #20867
Did anyone solved this issue? I'm faced with exactly the same issue when adding a create_training_graph(). My model makes use of a pre-trained ResNet-v1 and is derived from it a bit. There is no explicit "batch normalization" in the derived model. Shall I find a quantized ResNet before further training?

[2019-07-25 07:33] baiztencale opened #31014 "ConvLSTM2D hidden states aren't updated with Session.run"
Hey guys,

I have a problem when I use a Keras ConvLSTM2D layer in my TensorFlow graph. When I compute the output of the graph using `session.run`, the hidden states of the ConvLSTM2D won't be updated. Here is an minimal example to reproduce the behavior:

[code]

OS Platform and Distribution: Windows 10
TensorFlow installed from: pip
TensorFlow version: 1.14.0
Python version: 3.6

Does anyone kno

[2019-07-25 08:02] val9299 opened #31015 "Failed to convert an SSD mobilenet model to a frozen graph with 4 outputs by using export_tflite_ssd_graph.py"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary; with conda environment
- TensorFlow version (use command below): 1.13.1
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0 / 7.6.0
- GPU model and mem

[2019-07-25 08:08] pandrey-fr commented on #30952
Oh, and for the sake of it: I tried fitting a model with Eager enabled after reloading the data from the .npy dumps, and the memory issue is still there (_i.e._ it is not caused by the use of dataset transformations in `setup_dataset`).

[2019-07-25 08:11] val9299 commented on #30524
I opened a new issue for specifically my case: https://github.com/tensorflow/tensorflow/issues/31015
Thanks for helping!

[2019-07-25 08:12] zkl99999 opened #31016 "when using tf.train.exponential_decay , how can i stop learning_rate changing during test"
is there a simple example?

[2019-07-25 08:21] guptapriya commented on #30843
Can you try setting validation_steps in fit and see if that helps? This is still a bug and we will look into it.

[2019-07-25 08:21] gadagashwini commented on #30967
@dwangnuro If some of your custom model became slower after upgrading to 1.14, might be regression issue in 1.14 version. Will take a look. Thanks!

[2019-07-25 08:22] ravikyram commented on #30992
@nseidl
 Did you check whether the issue persists with latest versions (TF1.14, or latest nightly builds) of TF? Thanks!

[2019-07-25 08:35] l1t1 opened #31018 "did 2.0beta1 version support cuda 10.1"
i installed it by
`C:\Python37\Scripts>pip install tensorflow-gpu==2.0.0-beta1`
it is done ok
but when i run `import tensorflow as tf` in python,
it reports
`ImportError: Could not find 'cudart64_100.dll'. TensorFlow requires that this DLL be installed in a directory that is named in your %PATH% environment variable. Download and install CUDA 10.0 from this URL: https://developer.nvidia.com/cuda`

[2019-07-25 08:36] chengmengli06 opened #31019 "Are tf.TFRecord(num_parallel_reads) and interleave(num_parallel_calls) duplicated?"
Are tf.TFRecord(num_parallel_reads) and interleave(num_parallel_calls) duplicated? what is the behavior if they are both set > 1?  And the difference of shuffle before repeat and shuffle after repeat? I think the design of Dataset is too complicated, we need a more clear approach.

[2019-07-25 08:39] gadagashwini commented on #30999
@dmagee Can you tell us, Which protobuf version are you using?

[2019-07-25 08:43] gadagashwini commented on #30993
@andmax Will it be possible to provide the minimal code to reproduce the reported issue. Thanks!

[2019-07-25 08:45] Amzo opened #31020 "Symbolic Links Aren't Created When Needed Using TF_SYSTEM_LIBS"
**System information**
- OS: FreeBSD
- Building from source
- TensorFlow version: V1.14.0
- Python version: 3.6
- Bazel version (if compiling from source):  0.28
- GCC/Compiler version (if compiling from source): Clang 6.0.1

**Describe the problem**

When using _TF_SYSTEM_LIBS_ to build Tensorflow from source. It tries to include files which it has yet to create. In the file third_party/systemlib

[2019-07-25 08:49] gsp2014 commented on #17422
This also solved my problem. Thanks!

[2019-07-25 08:52] lissyx commented on #28902
We are also hitting this when trying to get a (slightly modified to be able to get GPU delegation to start working) DeepSpeech model exported for TFLite.

Output from TFLite `benchmark_model`:
[code]

[2019-07-25 08:52] dmagee commented on #30999
I didn't install protobuf (https://www.tensorflow.org/install/source_windows doesn't mention installing protobuf, so assumed it came with the distribution. I fetched r2.0). Maybe that's the issue?

[2019-07-25 08:52] 3NFBAGDU commented on #20506
Hi, estimator.predict is to slow , i want to predict some text in my model for every 2 second.  estimator.predict() function allways load the model from latest checkpoint.  I want to load model only once in estimator.predict to get fast prediction.

[2019-07-25 08:53] gadagashwini commented on #30990
I am able to reproduce the issue on Colab with Tensorflow version 2.0.0.beta1. Please take a look at [gist](https://colab.research.google.com/drive/1-WNfJK6G7ahlrTyouiStGNOhCFxVuK-R) of Colab. Thanks!

[2019-07-25 09:00] 3NFBAGDU opened #31021 "estimator.predcit load model every time"
estimator.predict() works to slowly. I want to predict some text in my model in every 2 seconds. Everytime I call the estimator.predict() function, it loads the model all over again. I want to load the model just once and after that use estimator.predict() every 2 seconds on this same model to get the faster prediction.

[2019-07-25 09:11] tangjie77wd commented on #8037
However,it is not faster than i do not use -FMA -AVX -SSE [https://stackoverflow.com/questions/57197854/fma-avx-sse-flags-did-not-bring-me-good-performance](url)

[2019-07-25 09:14] ankitgc1 commented on #30942
I changed the model from NMT to for chatbot here are some code snippet.

training phase
![Screenshot from 2019-07-25 14-39-49](https://user-images.githubusercontent.com/35380717/61861896-7e890500-aeea-11e9-9632-867c823b4f5a.png)

restoring phase

![Screenshot from 2019-07-25 14-39-59](https://user-images.githubusercontent.com/35380717/61861921-8b0d5d80-aeea-11e9-8a04-082905f3a953.png)

[2019-07-25 09:20] vinaykumar2491 commented on #6698
I am getting the same error with `tensorflow-gpu == 1.8.0` even after I add the above suggested solution.
Following is the stack-trace:
[code]
Please help

[2019-07-25 09:30] ravikyram commented on #30989
I am able to execute the code without any issues in 2.0.0-beta1. Please, find the screenshot.
![experimental](https://user-images.githubusercontent.com/51902062/61863096-995c7900-aeec-11e9-8517-9f73fc71696d.png)
If that was not the expected output ,please share the full code snippet to reproduce the issue.
Thanks!

[2019-07-25 09:30] val9299 commented on #24910
Did someone successfully convert a ssd model from model zoo and has now a tflite model with 4 outputs (detection_boxes, detection_classes, detection_scores, num_boxes)? I somehow only get a model with two outputs (raw_outputs/box_encodings, raw_outputs/class_predictions) when using export_tflite_ssd_graph.py (I also set `add_postprocessing_op True`). I opened a new issue on that: https://github.co

[2019-07-25 09:35] hstuk opened #31022 "Invalid result on some GPUs, probably einsum"
**System information**
- I have written custom code.
- Linux Ubuntu 19.04, Debian 9.9
- TensorFlow installed from binary
- TensorFlow version 2.0.0-b1, 1.14, 1.15.0
- Python version: 3.7.1, 3.7.3
- CUDA/cuDNN version: 10.0, 10.1
- GPU model and memory: Tesla T4, Tesla P4, P100, does not exist on k80

**Describe the current behavior**

The result on the GPU is significantly different from CPU. It i

[2019-07-25 09:44] ilhamfp opened #31024 "tensorflow.keras.optimizers.Adadelta() Inconsistencies With keras.optimizers.Adadelta()"
**System information**
- OS Platform and Distribution: Linux-4.9.0-8-amd64-x86_64-with-debian-9.9 .
- TensorFlow version: v1.14.0-9-gc407b045b8 1.14.0 .
- Python version: 3.6.6 .

**Describe the current behavior**
Take a look at the following two Kaggle kernel:
1. https://www.kaggle.com/ilhamfp31/keras-mnist
2. https://www.kaggle.com/ilhamfp31/tensorflow-keras-mnist

Both of them run the same code

[2019-07-25 09:48] ravikyram commented on #30983
I have tried on colab with TF version 2.0 beta1 and was able to reproduce the issue.Please, find the [gist ](https://colab.research.google.com/drive/1yoHN-3k50q3KHCg6U-vJ2v8U_yqXafI2)here.Thanks!

[2019-07-25 09:49] ilhamfp commented on #31024
I have create a [pull request](https://github.com/tensorflow/tensorflow/pull/31025) fixing this issue.

[2019-07-25 09:52] fsx950223 opened #31026 "How to release keras compiled model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platfor

[2019-07-25 09:57] ravikyram commented on #30980
This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2019-07-25 10:02] ravikyram commented on #30977
This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2019-07-25 10:07] dee98 commented on #30976
@gadagashwini link of retrain.py  `https://github.com/tensorflow/hub/tree/master/examples/image_retraining`
yes @pandrey-fr  comment resolve my issue
this error occured because i was using "~" this sign in my image path

Thanks for help me

[2019-07-25 10:07] #30976 closed

[2019-07-25 10:22] rishabhsahrawat commented on #30843
thank you for your reply. I tried your suggestion and now validation data can also be used in `model.fit` function. Since, `validation_steps` require number of batches, and lets' say length of test data is (5000) not completely divisible by the batch size (64) so in this case it will skip the last data (of length 8) that doesn't make any batch. Now my question is if there is a way to also include

[2019-07-25 10:23] theangels commented on #30830
@gargn
I'm sorry for reply late, still failed, and my TensorFlow's version is v2.0.0-beta0-16-g1d91213fe7 2.0.0-beta1

[2019-07-25 10:34] ravikyram commented on #30974
@skyzombie89
In order to expedite the trouble-shooting process, please provide a minimal code snippet to reproduce the issue reported here. Thanks!

[2019-07-25 10:47] ssable commented on #30835
I just tried creating a new notebook, activating GPU, putting the code above in the notebook and running and... I still get the exception above.
I am not sure what can be the difference between our 2 environments.

Here is the full callstack:
``
---------------------------------------------------------------------------
InvalidArgumentError                      Traceback (most recent call last)
/u

[2019-07-25 10:53] vinaykumar2491 commented on #30254
I have the same issue with `tensorflow-gpu==1.8.0`, `cudnn==7.0.5` and `cuda=9.1.84` on ubuntu 16.04
Below is the log:

Hi everyone,
I am trying to reproduce the results mentioned in paper  https://github.com/f90/Wave-U-Net ; but when I run the repo's scripts I get the following errors:
[code]
Please help.
Thankyou

[2019-07-25 10:55] DmitryGeyzersky commented on #29831
Experienced the same problem. After running configure.py script I had to manually add the following lines to the generated **.tf.configure.bazelrc** file:

[code]
After this the build process succeeded.
The environment:
Windows 10, tensorflow v1.14.0,  CUDA Toolkit 10.1.168, CUDNN - 7.6.2.24

Hope this helps someone.

[2019-07-25 11:12] pandrey-fr commented on #30976
@dee98 You are welcome :)

[2019-07-25 11:25] jeet4690 commented on #30900
@ymodak problem is the model is pretrained one, i didn't make it. I just want to know the `output_node_names` to convert it into `freeze_graph.pb`

[2019-07-25 11:28] simian-typist commented on #30983
I patched my local copy yesterday, it's a very small tweak. I'll make a pull request this afternoon.

[2019-07-25 11:39] lissyx commented on #28902
FTR, forcing some reshape on the input tensor did work, as suggested in https://github.com/tensorflow/tensorflow/issues/30303#issuecomment-508117448

[2019-07-25 11:54] ElPapi42 commented on #30533
any advances on this issue?

[2019-07-25 11:55] andmax commented on #30993
Yes, based on keras / cifar10 example:
`
import h5py
import numpy as np
import tensorflow as tf
from tensorflow.keras.utils import to_categorical, HDF5Matrix

(Xtr, Ytr), (Xva, Yva) = tf.keras.datasets.cifar10.load_data()
Xtr, Ytr, Xva, Yva, nc = Xtr[:1000], Ytr[:1000], Xva[:100], Yva[:100], 10
Xtr, Xva = Xtr.astype('float32') / 255, Xva.astype('float32') / 255
Ytr, Yva, ins = to_categorical(Ytr,

[2019-07-25 11:56] DocDriven commented on #30714
@vibhatha
It seems to have the correct shape. I decided to inspect the tflite models with the tensorflow visualize.py script. It turns out that by setting `converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]`, no further conversion with the edgetpu_compiler seems to be needed. To my knowledge, this is NOT mentioned anywhere.

Therefore, I went the original tflite file. Here

[2019-07-25 11:58] rmothukuru commented on #22878
@DevarakondaV ,
Can you please upgrade the Tensorflow with the latest version and confirm if the issue still persists.

[2019-07-25 12:28] rmothukuru commented on #21135
@ybsave , @TheCrazyT ,
Sorry for the delayed response. I tried reproducing the issue with Tensorflow Version 1.14 and 1.13.1 but I didn't get the error you mentioned. Instead, I got the below error. Can you please provide the working reproducible code. Thanks!

[code]

[2019-07-25 12:35] tensorflowbutler commented on #27195
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-07-25 12:39] Yogeshnaik1190 commented on #30191
This worked for me. I am using Jupyter notebook (OD: Ubuntu 16.0) all the commands running from the notebook:

At the time of installing tensor flow I got following two errors. The errors and solutions are:
ERROR 1: Cannot uninstall 'wrapt'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.

Solution:

[2019-07-25 12:45] pandrey-fr commented on #31018
No, it does not (see the [documentation](https://www.tensorflow.org/install/gpu)). You therefore need to use CUDA 10.0.

No offence, but this question has been repeatedly asked before - please search closed issues before posting (although it is for sure better to ask than to remain without an answer) :-)

[2019-07-25 12:55] rmothukuru commented on #30972
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

[2019-07-25 12:57] rmothukuru commented on #30646
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-25 13:05] DavideCatto commented on #26386
Modify _tf_core_kernels.cmake_ with all wrong path dependencies. Also tf_core_ops.cmake have same path to change.
I'm using tensorflow r1.14, Visual Studio 2015, no python bindings, only c++ interface.

[2019-07-25 13:06] cottrell opened #31027 "BatchNormalization axis=0 fails on batch dim changes."
Will close if this ends up to not be a bug. Posted on stackoverflow now and will follow up later.

https://stackoverflow.com/questions/57202668/keras-batchnormalization-only-works-for-constant-batch-dim-when-axis-0

[2019-07-25 13:12] ilhamfp commented on #30802
@mdanatg I'm interested in working on this! I'm confused on how to get started. I've read the documentation on AutoGraph & tf.function decorator as well as [the code](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/eager/def_function.py#L725-L1027) and I can't spot which code is responsible for overriding such action. Pardon my inexperience.

[2019-07-25 13:14] constiDisch opened #31028 "tensorflow.keras.layers.TimeDistributed seems to reset batch-size"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-07-25 13:21] kuri-leo commented on #30895
@mdanatg thanks for your responding
I'm not sure but both autograph decorator and `to_code` can work fine together in r1.14 as I just tested, is the autograph reconstructed in r2.0?

here comes my code and its output:
[code]
[code]

Thank you

[2019-07-25 13:26] jvishnuvardhan commented on #29161
@mwin76 Can you check my gists or provide a gist/screenshot showing the issue? Thanks!

[2019-07-25 13:27] ClintTCG commented on #29731
Likewise, I'm stuck getting the same error -- both on r1.14.0 and on current master.  Attempted with a number of different NDK versions and still getting the same issue.  I'm not sure what to try next.

[2019-07-25 13:37] DocDriven commented on #30714
@vibhatha
I was finally able to track down the cause of the Seg Faults. For some odd reason, `typed_output_tensor` and `typed_input_tensor` members do NOT work. They did however, when not using the TPU.

Instead, simply use `typed_tensor` for setting the inputs and getting the outputs.

One last issue remains, however: I have to manually quantize and dequantize inputs and outputs. In Python, it is

[2019-07-25 13:37] vibhatha commented on #30714
@DocDriven
`            test = xtest[i] # from your testing dataset
            test_label = ytest[i] # from your testing dataset
            sample_input = quantize(test).reshape(input_detail['shape'])
            interpreter.set_tensor(input_detail['index'], sample_input)
            interpreter.invoke()
`
You need to call corresponding C++ endpoints.

Are you doing it like this?

[2019-07-25 13:38] mdanatg commented on #30802
@ilhamfp that's great, happy to help you get started!

The dynamic dispatch can indeed make things a bit confusing.

The place to add this is in the Python builtin overloads file: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/operators/py_builtins.py

The file contains a number of overloads, check out `len` for instance, that you can use as a model. Then, once yo

[2019-07-25 13:42] ifed-ucsd opened #31029 "Will TF2 include implementations of constrained optimizers?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0.0-beta1
- Are you willing to contribute it (Yes/No): Y

[2019-07-25 13:49] mdanatg commented on #30895
@kuri-leo indeed, they don't work together, because `@convert` replaces the function with a wrapper, and  `to_code` converts that instead. It's a shortcoming in the API that we never fixed because we're deprecated the `@convert` decorator: instead we recommend using `@tf.function` instead of `@tf.contrib.autograph.convert`, both in 2.0 and 1.14. Sorry for not adding a deprecation warning.

I shoul

[2019-07-25 13:59] #31027 closed

[2019-07-25 14:00] cottrell commented on #31027
Probably axis meaning is the confusing bit and intention is not what axis to average over but what axis *not* to average over. Not sure if broadcast across other axes.

[2019-07-25 14:09] sseveran commented on #20972
Same on TF 1.14 CUDA 10 CuDNN 7.

[2019-07-25 14:13] colmantse opened #31030 "tf.while loop behaviour in multigpu setting"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-07-25 14:14] superbobry commented on #30873
Thanks for reporting that @ivankreso! I think the fix (d5b287d6c93332ba73b99b375bd21f81266e3112) did not make it into the -beta1 releases. Could you try with the latest nightly and let us know if it works OK?

[code]

[2019-07-25 14:19] suffererofautomation opened #31031 "Building tensorflow 1.14 (bazel 0.24.1) on Jetson Xavier with the trouble"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution
Linux Ubuntu 18.04

- TensorFlow installed from (source or

[2019-07-25 14:26] DocDriven commented on #30714
@vibhatha
I was finally able to track down the cause of the Seg Faults. For some odd reason, typed_output_tensor and typed_input_tensor members do NOT work. They did however, when not using the TPU.

Instead, simply use typed_tensor for setting the inputs and getting the outputs.

One last issue remains, however: I have to manually quantize and dequantize inputs and outputs. In Python, it is easy

[2019-07-25 14:29] Bocul16 commented on #22823
anybody can help me
im running on: PyCharm 2019 1.3, Anaconda3 2019.03, Tensorflow 1.14.0 GPU Nvidia GTX 950 CUDA 10.0 cuDNN 7.1.4

C:\Users\bonix\Anaconda3\envs\tensor\pythonw.exe C:/Users/bonix/PycharmProjects/TensorPye/testing.py
Traceback (most recent call last):
  File "C:\Users\bonix\Anaconda3\envs\tensor\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    fro

[2019-07-25 14:30] bjarthur opened #31032 "timestamps in logs please"
in TF 1.12 using the TF API i get nice timing info in the logs:

[code]

the `Elapsed ...` number therein is in seconds.

in TF 2.0-beta using the keras API i sadly don't:

[code]

the `0s` there seems to be the time for that step, not the cumulative elapsed time, as it never changes over the course of an hour long training run.

at the very least it would be nice to have more significant digits o

[2019-07-25 14:34] khazali commented on #30687
Thanks a lot.

[2019-07-25 14:35] calincru commented on #30466
Can we expedite this a little bit, please?

FWIW, there's a similar issue in PyTorch (see https://github.com/pytorch/pytorch/issues/22573). But AFAIU cuSolver should be fast for small matrices.  Is it expected to be slower than CPU, though?

[2019-07-25 14:39] alexacgomes opened #31033 "Failed to load the native TensorFlow runtime - Tensorflow 1.14.0 (CPU) - Python 3.7.3"
System information:

Have I written custom code: No
OS Platform and Distribution: Windows Server 2008 R2 Standard
TensorFlow installed from: pip install
TensorFlow version: 1.14.0 CPU
Python Version: 3.7.3
Anaconda 2019.07 for Windows
CPU Intel Xeon X5650 @ 2.67GHz

The installation seems to work but when I try to import tensorflow I get the following error:

ImportError

[2019-07-25 14:55] MikeShlis commented on #28644
@colonder How did you fix this? getting same issue

[2019-07-25 14:58] Dudu197 commented on #22823
@Bocul16 try using CUDA 9.0

[2019-07-25 15:06] Kaynato commented on #30934
This gist works, but I can't replicate the fix on my local machine even with the same version of tensorflow. Maybe it has to do with the drivers, but it's unclear.

Here is the script, with a print at the beginning to verify that the version is in fact tf.nightly-gpu-2.0-preview==2.0.0.dev20190718

[code]

Here is the output log I receive:

[code]

[2019-07-25 15:08] vibhatha commented on #30714
@DocDriven

It should be something similar. C++ may take a few more lines. But I think it won't be an issue.
Glad it works now.

[2019-07-25 15:13] vibhatha opened #31034 "Quantization Aware Training On Eager Mode"
I am developing my model in the eager mode by using Keras models.
I read a couple of examples and guidelines in quantization aware training.
Most of them are not using gradient tape but uses the inbuilt training function
to train and it looks straight forward. But let's say, someone, is calculating the gradient and have written the training model in a custom way.
How to use quantization aware trai

[2019-07-25 15:26] #30849 closed

[2019-07-25 15:31] aaroey commented on #30728
Hi @robieta, seems you recently made changes to _TfDeviceCaptureOp, would you mind to take a look?
Thanks.

[2019-07-25 15:55] alextp commented on #30970
graph.get_operations() is not intended to depend on the current thread-local name-scope, so this is working as intended.

[2019-07-25 15:55] #30970 closed

[2019-07-25 15:57] dmagee commented on #30999
Update: I installed all the python modules from the linked :

"The dependencies are listed in the setup.py file under REQUIRED_PACKAGES."
[https://www.tensorflow.org/install/source_windows]

Python now has protobuf 3.9.0. I'm still getting similar errors:

....
INFO: From Linking external/grpc/libgrpc++_base.a:
server_posix.o : warning LNK4221: This object file does not define any previously undef

[2019-07-25 15:59] wendy518 opened #31035 "microcontroller ops"
HI, i just want to know in all_ops_resolver.cc
it only has these ops for microcontroller.

[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/micro/kernels/all_ops_resolver.cc](url)

And in hello world test, the keras frame can be used, so i want to know if it is possible to use the model with tf.keras.layers.Conv2D and tf.keras.layers.MaxPool2D?

And if is possible

[2019-07-25 16:07] Uiuran commented on #30970
So tensorflow is lacking a function that can know what name-space its talking about, unless you have another ideia for namespaces functions, the only thing that resides is that they are appropriated names for a graph of ops.

[2019-07-25 16:10] gargn commented on #30830
You can install it with `pip install tf-nightly-gpu-2.0-preview`. I tested on last night's GPU nightly (`2.0.0.dev20190725`) and the code seems to work there as well.

[2019-07-25 16:14] ilhamfp commented on #30802
@mdanatg Please review #31036
Thank you :D

[2019-07-25 16:14] Jonarod commented on #29236
@hossein-b I am in your same situation right now. Did you figure out what to do next ?

[2019-07-25 16:18] alextp commented on #30970
You can always get the operations and filter them yourself.

On Thu, Jul 25, 2019 at 9:14 AM Daniel Penalva <notifications@github.com>
wrote:

--
 - Alex

[2019-07-25 16:28] dubey commented on #30887
Okay, can you run with `NCCL_DEBUG=INFO` and post the logs?

[2019-07-25 16:32] nseidl commented on #30992
Can confirm that simply upgrading to `tf-nightly-gpu==1.15.0.dev20190725` solved the issue.

[2019-07-25 16:32] #30992 closed

[2019-07-25 16:32] #28798 closed

[2019-07-25 16:35] alextp commented on #30831
Can you ask this question in the eigen repository? I don't think it's TF-specific.

[2019-07-25 16:35] #30831 closed

[2019-07-25 16:35] gunan commented on #30687
The potential fix is now merged.

[2019-07-25 16:38] mjlbach commented on #30887
This seems to be the cause... I had this issue running NCCL-tests when X was enabled, but now NCCL-tests runs fine.

[code]

[2019-07-25 16:53] dubey commented on #30887
I think you may be running into [this issue mentioned in NVIDIA docs](https://docs.nvidia.com/cuda/cuda-driver-api/group__CUDA__PEER__ACCESS.html#group__CUDA__PEER__ACCESS_1g0889ec6728e61c05ed359551d67b3f5a) and also discussed in another [TensorFlow issue thread](https://github.com/tensorflow/benchmarks/issues/143).  Can you follow-up with NVIDIA on the NCCL issue and confirm that more than 8 GPUs

[2019-07-25 16:59] Uiuran commented on #30970
What is the point of being working inside a namespace that you defined by a
purpose, if you have to "filter the ops by yourself" ?

On Thu, Jul 25, 2019 at 1:27 PM Alexandre Passos <notifications@github.com>
wrote:

[2019-07-25 17:08] Uiuran commented on #30970
I do not intend to be arrogant, but i can see the if else, or even sigma
but will be a lot of, proliferating if i wanna to derive an architecture
from Inception V3 and do Transfer Learning for Research.
That's why i see immense importance in the issue.

On Thu, Jul 25, 2019 at 1:59 PM Daniel Penalva <dkajah@gmail.com> wrote:

[2019-07-25 17:12] ymodak commented on #31033
From the template it looks like you are installing TF prebuilt binaries.

 **TensorFlow release binaries version 1.6 and are prebuilt with AVX instruction sets.**
 Therefore on any CPU that does not have these instruction sets either CPU or GPU version of TF will fail to load.

Apparently, your CPU model does not support AVX instruction sets. You can still use TensorFlow with the alternatives give

[2019-07-25 17:13] nseidl opened #31039 "TensorRT Slowdown Native->FP32 and FP16->INT8; File Size Increase"
## **System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04, [nvcr.io/nvidia/tensorrt:19.02-py3](https://docs.nvidia.com/deeplearning/sdk/tensorrt-container-release-notes/rel_19-02.html#rel_19-02)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) i

[2019-07-25 17:13] gunan commented on #30905
I definitely think this is a pip issue, but not sure where to look for a solution.
Maybe the path is too long and pip has problems?

[2019-07-25 17:15] mjlbach commented on #30887
In the linked issue in NVIDIA/nccl#241, @sjeaugey believes it's an issue on the TF side

[2019-07-25 17:16] ymodak commented on #31018
Closing since its resolved. Thanks!

[2019-07-25 17:16] #31018 closed

[2019-07-25 17:28] dubey commented on #30887
Hi @sjeaugey, can you help us understand what are the possible causes of `CUDA_ERROR_TOO_MANY_PEERS`?

[2019-07-25 17:30] jvishnuvardhan commented on #30990
I could reproduce the issue with `!pip install tf-nightly-gpu-2.0-preview==2.0.0.dev20190724`. Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/5ee731bc2b38fc03604f66e964b9aff3/untitled323.ipynb). Thanks

[2019-07-25 17:31] jvishnuvardhan commented on #30804
I was able to reproduce the issue with `!pip install tf-nightly-gpu-2.0-preview==2.0.0.dev20190724` . Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/9fbcb2e8c3b7bb622aeb61455dfff6cb/untitled324.ipynb). Thanks!

[2019-07-25 17:40] anirudhraju commented on #30961
Yes, this works ok in TF2.0 alpha0 version without the distributed scope, and without the division by 255 operation.
In beta, the behavior is inconsistent with and without the distributed scope

[2019-07-25 17:50] sjeaugey commented on #30887
There is indeed a limitation to 8 peers as described in the documentation, hence if you enable P2P between all GPUs it will fail with 10 GPUs or more per system. NCCL only uses 2 connections at the moment so it does work in that case (provided Xorg didn't allocate all peer connections already).

Whether you want to support that case in TF is up to you. Maybe you don't need to enable p2p between al

[2019-07-25 18:09] alextp commented on #30970
tf.name_scope is not a way for you to define an isolated namespace within a
graph. It just means that ops created inside that block have names that
start with the name of the scope.

On Thu, Jul 25, 2019 at 10:16 AM Daniel Penalva <notifications@github.com>
wrote:

--
 - Alex

[2019-07-25 18:25] kwaegel opened #31040 "TFLite conversion fails when using BatchNorm after Reshape (Check failed: dim_x == dim_y)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 18.04 & Windows 10**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow

[2019-07-25 18:32] Uiuran commented on #30970
you use variable scope, and them  reuse it through variable scope, thats
ok.

But to me seems that you are evading the question, how to you do require an
op, in a big model, by knowing the var/name space block and by knowing that
this op is the one that outputs tensors of interest.

Tensorflow nowadays donst do that. I see you are member of Tensorflow, but
please dosnt evade the question because o

[2019-07-25 18:39] ymodak commented on #30321
@mketcha You need to switch to ```tf.distribute.Strategy``` in this case. Closing this issue for now. Please reopen if have any further questions using ```tf.distribute.Strategy```. Thanks!

[2019-07-25 18:39] #30321 closed

[2019-07-25 18:45] albertNod commented on #30748
If you have cuda 10.1 you need to update to cuDNN 7.6.2
https://docs.nvidia.com/deeplearning/sdk/cudnn-install/index.html

That's what got it working for me without downgrading Tensorflow

[2019-07-25 18:52] ymodak commented on #30967
@dwangnuro I see that time is almost similar. This doesn't look like a regression issue. Perhaps you can use profiling tool and investigate which TF operation consumes longer time than usual to execute. This will help us to troubleshoot quicker.  We will reopen the issue when new information is available. Thanks!

[2019-07-25 18:52] #30967 closed

[2019-07-25 19:01] ymodak commented on #30960
@lufol Thanks for your suggestion. We have an understanding here. Unfortunately at this point of time, GitHub interface has limitation where we cannot enforce users to fill all information asked by the template before posting their issue. However we do highly recommend them to do so.  We strive to help TensorFlow community to the best of our efforts and we revert to the issues wherever we can prov

[2019-07-25 19:01] #30960 closed

[2019-07-25 19:26] alextp commented on #30970
I'm not evading the question. I'm just telling you that tf.name_scope is
not the same thing as tf.variable_scope, and doesn't have (and never was
intended to have) the functionality you seem to want it to have, which is
easy to implement on top of the functionality it does have.

On Thu, Jul 25, 2019 at 11:39 AM Daniel Penalva <notifications@github.com>
wrote:

--
 - Alex

[2019-07-25 19:28] ymodak commented on #30900
Perhaps referring to this similar post on stackoverflow can help.
https://stackoverflow.com/questions/38958662/tensorflow-what-are-the-output-node-names-for-freeze-graph-py-in-the-model-wi/38959056
Thanks!

[2019-07-25 19:46] Santosh-Gupta opened #31043 "Feature Request: Able to store weights to disk when not in use. For sparse inputs/data/training"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF 2.0 Beta
- Are you willing to contribute it (Yes/No): Y

[2019-07-25 19:47] amitmate commented on #24910
Thanks again Nupur.

Is there a python module for TFLite_Detection_PostProcess ? I can perhaps just add that as a custom keras output layer to my model. Would that work?

[2019-07-25 19:48] Oktai15 commented on #22109
@haozha111, I have the same problem when try to convert `tf.keras.applications.MobileNetV2` in TFLite in tensorflow 2.0 beta. Do we have any workaround for this now?

[2019-07-25 20:25] bashi-bazouk commented on #31004
Maybe you should make the documentation say that instead of the github issue.

[2019-07-25 20:25] trisolaran commented on #30673
hi, Martin:
  I am from the profiler team. I am glad to review your patch if you already have it. otherwise, I will try to figure out how to implemented this correctly.
Best
Jie

[2019-07-25 20:27] G-mel commented on #24591
I managed to freeze my tensorflow model with `tf.keras` layers in it by using `tf.SavedModel` in conjuntion with `freeze_graph.freeze_graph_with_def_protos`. Below is a generic snippet to convert a `tf.keras` based tensorflow checkpoint into a frozen checkpoint.

I am working in `tensorflow==1.13.1`
[code]

[2019-07-25 20:46] ymodak commented on #30773
Did you try restarting your kernel before compiling your model again? Also
Can you try to execute your model from terminal may be a python script?

[2019-07-25 20:48] #30194 closed

[2019-07-25 20:51] ymodak commented on #30741
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-25 20:51] #30741 closed

[2019-07-25 20:55] elyasmehtabuddin commented on #30580
@alextp @sanjoy

So it seems we can try supporting TemporaryVariableOp with known sizes on XLA, but if that is not possible for any reason, is it still possible to try and avoid using TemporaryVariableOp when possible (i.e. for this model I am using changing the hidden size introduces the op)?

[2019-07-25 20:56] Uiuran commented on #30970
suppose you have:
/name_1/insidename1/Add
/name_1/insidename1/Flat
/name_1/insidename1/ininsidename1/Conv
/name_1/insidename1/ininsidename1/Flat
/name_1/insidename1/ininsidename1_1/SomeOp
/name_2/insidename1/Add
/name_2/insidename1/Flat
/name_2/insidename1/ininsidename1/Conv
/name_2/insidename1/ininsidename1/Flat
/name_2/insidename1/ininsidename1_1/SomeOp

i wanna the last operation of the first b

[2019-07-25 21:07] jvishnuvardhan commented on #27295
@aligirayhanozbay I cannot reproduce the issue with `!pip install tf-nightly-gpu-2.0-preview==2.0.0.dev20190724`. Please check the gist [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/03c58eb73f4a965a40ecfcaf0671dccf/tf_27295_keras_pooling.ipynb).

Looks like it was resolved. I am closing the issue but feel free to open the issue if it persists again. Thanks!

[2019-07-25 21:07] #27295 closed

[2019-07-25 21:12] #30900 closed

[2019-07-25 21:14] gargn commented on #24910
Unfortunately there is no Python module for the op. To elaborate a bit, `TFLite_Detection_PostProcess` is a custom op that is only available in TensorFlow Lite - so once you run the `export_tflite_ssd_graph.py` script to add the op the model can't be loaded into the TensorFlow runtime.

We are working on adding support for control flow which should hopefully make models like SSD easier to convert.

[2019-07-25 21:27] ekuznetsov139 commented on #30972
TensorFlow 1.14, Linux, observed on Debian and Ubuntu.

You may reproduce the effect with the following simple script:
[code]
To do the profiling, launch "nvprof --profile-all-processes --print-gpu-trace --log-file nvprof%p.txt" in another terminal on the same system. You will observe that, if 'fix' is 'False', the resulting profile log contains repeated invocations of tensorflow::GatherOpKernel ,

[2019-07-25 21:28] alextp commented on #30580
Can you provide a minimal example of a model which has temporary variable?

On Thu, Jul 25, 2019 at 2:03 PM Elyas Mehtabuddin <notifications@github.com>
wrote:

--
 - Alex

[2019-07-25 21:30] alextp commented on #30970
You seemed to want earlier that graph.get_operations() inside a namescope
returns instead [x for x in graph.get_operations() if
x.name.startswith(scope)].

In general if you want to get to an operation in the TF graph you should
keep a reference to it or give it a globally unique name (and keep a
reference to that).

On Thu, Jul 25, 2019 at 2:05 PM Daniel Penalva <notifications@github.com>
wrote:

[2019-07-25 21:34] #30122 closed

[2019-07-25 21:55] dwangnuro commented on #30967
On a different RNN model that I'm working on. The training speed is 50% slower. I tried the profiling tool but TF 1.14 and TF 1.13 generates very different profiling result.
1. TF 1.14 put data ops into the graph so there are a lot of profiling result for them which are not in the TF 1.13 profiling graph. I cannot tell if it is cause for the slowness.
2. In TF 1.13, there's only one CPU compute se

[2019-07-25 21:56] jvishnuvardhan commented on #30770
@dlepzelter The error trace looked more related to `nyoka` than `tensorflow. Can you create the issue without using `nyoka`. thanks!

[2019-07-25 21:59] ymodak commented on #25790
Closing this issue since the associated PR has been merged.
Also can see clear error message with latest TF (tested with tf-nightly 1.15.0-dev201907250)
Thanks!

[2019-07-25 21:59] #25790 closed

[2019-07-25 22:10] aaroey commented on #28346
Thanks for reporting this. I can reproduce the problem, will make a fix soon.

[2019-07-25 22:34] annarev commented on #26902
I submitted a change to fix symbolic link behavior. However, the behavior is slightly different than you proposed. Specifically, I keep symlink unchanged if it points to external file (as opposed to converting it to regular file).

I was thinking that someone who has code in a different directory might want to update it separately, while keeping the symlink.

I will keep this issue open for the ex

[2019-07-25 22:45] Oktai15 opened #31046 "[TF 2.0] tf.keras.applications.MobileNetV2 can't be converted to TFLite model"
I convert MobileNetV2 to TFLite from `tf.keras.applications.MobileNetV2`:

[code]

I got the following error when try to convert to TFlite:

[code]

Maybe it is linked with [this issue](https://github.com/tensorflow/tensorflow/issues/22109).

[2019-07-25 23:45] ymodak commented on #23948
Please test with the latest version of TF and see if the issue still persists. Also the provided code snippet looks incomplete to reproduce the issue reported. Closing this issue for now. Thanks!

[2019-07-25 23:45] #23948 closed

[2019-07-25 23:46] ymodak commented on #24624
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-25 23:46] #24624 closed

[2019-07-25 23:51] ymodak commented on #23872
I believe we have this feature now in TF [tf.sparse.sparse_dense_matmul](https://www.tensorflow.org/api_docs/python/tf/sparse/sparse_dense_matmul). Please reopen if that's not the case. Thanks!

[2019-07-25 23:51] #23872 closed

[2019-07-25 23:51] Uiuran commented on #30970
agree with you, the problem is keeping track of the reference, it will not
be easy when same ops appear in embeded varscopes with the same root name
i think this possible if you considwr the redundant ops in the same root as
with diferent subnames as edges of diferemt size

Em qui, 25 de jul de 2019 18:38, Alexandre Passos <notifications@github.com>
escreveu:

[2019-07-25 23:54] ymodak commented on #23769
This is fixed in latest tf-nightly version 1.15.0-dev20190725. Thanks!

[2019-07-25 23:54] #23769 closed

[2019-07-25 23:58] beasteers opened #31050 "Can't set sprite in Keras Tensorboard Callback"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): maybe,

[2019-07-25 23:58] ymodak commented on #23774
This is fixed in latest tf-nightly version 1.15.0-dev20190725. Thanks!
https://github.com/tensorflow/tensorflow/blob/4ad169057cf0adb51767914e84c300c95ce748d5/tensorflow/python/util/function_utils.py#L62

[2019-07-25 23:58] #23774 closed

[2019-07-25 23:59] jvishnuvardhan commented on #30995
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-07-26 00:01] ymodak commented on #23712
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose) if it still exists. We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one

[2019-07-26 00:01] #23712 closed

[2019-07-26 00:04] Uiuran commented on #30970
that is, if you uniq embbeded ids as notion of distamce from macro id you
can track the real ops

Em qui, 25 de jul de 2019 20:51, Daniel Penalva <dkajah@gmail.com> escreveu:

[2019-07-26 00:04] jvishnuvardhan commented on #30254
@vinaykumar2491 Please create a new issue with platform details, standalone code and any other details that will help in resolving the issue faster. Thanks!

[2019-07-26 00:19] guptapriya commented on #29975
Hi, sorry about the delay in responding. You need to construct the input tensors you want in this case, there is no API where you can specify the batch size.

Maybe I can suggest something better if you show me your use case. Where is your input coming from ? Are you using a tf.data dataset?

[2019-07-26 00:26] jvishnuvardhan commented on #30934
@Kaynato Thanks for your patience. Can you try with `!pip install tf-nightly-gpu-2.0-preview==2.0.0.dev20190724` which is what I used in my recent gist. Thanks!

[2019-07-26 00:55] taotaolin commented on #22338
It's too big. I put the code on github. The data set is MNIST.

[https://github.com/taotaolin/MNIST_tensorflow_C](MNIST_tensorflow_C)

[2019-07-26 01:11] BrianHung commented on #30531
There are some examples of code for TPUs here: https://github.com/tensorflow/tpu/tree/master/models/experimental. Cheers.

[2019-07-26 01:18] theangels commented on #30830
I update the tf2.0 version but still not work.

![snipaste20190726_091755](https://user-images.githubusercontent.com/11308780/61919018-5fd84c00-af86-11e9-8171-6b920d559197.png)

[2019-07-26 02:06] guptapriya commented on #30843
Hi - great to know it worked for you. Once we do fix the bug, you should be able to run the validation until the end. In the meantime, perhaps you can try rounding up instead of rounding down when calculating the number of steps and see if that works?

BTW, would you mind filing a separate bug for the error you saw in https://github.com/tensorflow/tensorflow/issues/30843#issuecomment-514534349? Wi

[2019-07-26 02:10] guptapriya commented on #30843
Actually ignore the new bug part, i found a similar bug here : https://github.com/tensorflow/tensorflow/issues/28797

[2019-07-26 02:10] guptapriya commented on #28797
Similar error here: https://github.com/tensorflow/tensorflow/issues/30843#issuecomment-514534349

[2019-07-26 02:14] guptapriya commented on #30850
for 2.0, please test with the latest nightly version: https://pypi.org/project/tf-nightly-gpu-2.0-preview/

[2019-07-26 02:27] ThisIsIsaac opened #31051 "caching cuDNN CNN kernel choices"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes):

**Describe the

[2019-07-26 02:35] ThisIsIsaac opened #31052 "CUDA optimization: using read-only cache"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes):

**Describe the

[2019-07-26 02:36] eric4337 opened #31053 "TFLite Interpreter, allocate_tensors() failed to prepare, not kTFLiteInt8/Uint8"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.14.0-rc1

[2019-07-26 03:11] jordanparker6 commented on #30918
I waited for about 48 hours...

I will have a look and implement this version and post back my findings.

You rock! Thanks.

[2019-07-26 03:27] AlexZot commented on #30524
@srjoglekar246 omg, that's worked! Thank you good man! How does this array: ['detection_boxes', 'detection_classes', 'detection_scores', 'num_boxes'] corresponds to this: [TFLite_Detection_PostProcess', 'TFLite_Detection_PostProcess:1', 'TFLite_Detection_PostProcess:2', 'TFLite_Detection_PostProcess:3']

[2019-07-26 03:27] #30524 closed

[2019-07-26 03:34] Neeraj0011 opened #31054 "I0725 19:06:30.700653 7708 tf_logging.py:115] Saver not created because there are no variables in the graph to restore (When Training the tf estimator model )"
[code]

**_ValueError: Feature descriptions is not in features dictionary._**

originally defined at:
File "C:\Users\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\estimator\canned\dnn.py", line 108, in dnn_logit_fn
name='dnn')
File "C:\Users\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\estimator\canned\dnn.py", line 143, in init
create_scope_now=Fal

[2019-07-26 04:01] Ryandry1st commented on #31013
Pull request submitted

[2019-07-26 04:40] damienpontifex opened #31055 "Saved model and serving preprocessing"
Using: tensorflow2.0.0-beta1
OS: macOS 10.14.6
python: 3.7

This might be a docs or feature request - not sure, so please forgive my general posting of the issue.

I used to use `estimator.export_savedmodel('export', serving_input_receiver_fn)` which would allow me to define `serving_input_receiver_fn ` where I could transform my inputs. Such transformations in my case were decode jpeg, convert to

[2019-07-26 05:38] gadagashwini commented on #30975
@jaywalnut310, I tried reproducing the reported issue on Colab with TF 2.0.0.beta1 but i got same result for `ya` and `yb`. The result of the above code is
[code]
Please try once and let us know the expected behavior. Thanks!

[2019-07-26 05:42] alokprasad commented on #30684
@jdduke with that also with my model its throws error that enter and exit ops not supported

[2019-07-26 05:53] gadagashwini commented on #30984
Tried executing the code on Linux platform, I am able to reproduce the issue with TF 2.0.0.beta1 and it results
[code]

[2019-07-26 06:04] val9299 commented on #30524
I also tried the suggestion. But it looks like the new tflite model has raw outputs just in another format. I thought the goal would be having processed outputs like detection_boxes, detection_classes,...? To get a model like this, something already has to be changed in the freezing process with export_tflite_ssd_graph.py but I also would like to know what has to be changed to get it working.

[2019-07-26 06:13] ravikyram commented on #31004
@bashi-bazouk

The above information is available in the [documentation.](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/tensordot#args).Please, let me know if you have any questions.Thanks!

[2019-07-26 06:26] alexacgomes commented on #31033
Thanks a lot! The problem is because of the AVX.

[2019-07-26 06:26] #31033 closed

[2019-07-26 06:29] ageron commented on #31009
Indeed, it is, thanks @yongtang.

[2019-07-26 06:29] #31009 closed

[2019-07-26 06:31] MeysamSMH7 commented on #30977
i asked alot but its have to me because i dont know anything about python and im useing sources that i dont know that are they.
All developers always have same problem if you make an online convertor its going to save our time and your wont want to answer to our questions (which most of them are the same)
i lost too many project that because i cant work with python and got too many problems (and a

[2019-07-26 06:42] gadagashwini commented on #31030
@colmantse Will it be possible to provide minimal code to reproduce the issue. Thanks!

[2019-07-26 06:45] elyasmehtabuddin commented on #30580
@alextp

When I posted this issue I wanted it to be resolved as quickly as possible, I spent as much time on my end actually trying to make the smallest example to reproduce the issue. The original model I had was the full Transformer model, I was able to strip it down to what it is right now and still reproduce the issue. However, if I remove any part of the model now the issue completely goes aw

[2019-07-26 06:54] zakizhou opened #31057 "`tf.keras.Model.save` does not support subclassed model when saving model as SavedModel format"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NA
- OS Platfo

[2019-07-26 06:56] gadagashwini commented on #30835
I could able to reproduce the issue on Colab with TF 1.14.0. Look at the gist [here](https://colab.research.google.com/drive/1ryWl00ykTXykIO01Ne45eyjHW4W1XaOb). Thanks!

[2019-07-26 06:56] Hugh0120 commented on #30636
same here here

[2019-07-26 07:07] #30916 closed

[2019-07-26 07:28] jetjodh commented on #13127
@arnaldog12 I found that c# was much better suited for my use case, so I used that instead. There are many bindings for TensorFlow in C# which surprisingly worked better than ones in C++.

[2019-07-26 07:30] colmantse commented on #31030
hi @gadagashwini , will work on it right away.

[2019-07-26 07:33] senorpinatta opened #31058 "No Matching Distribution Found for Tensorflow"
**System information**
- Linux Ubuntu 18.04:
- Nvidia Jetson Xavier
- Python version: 3.6.8

**Describe the problem**

`pip install tensorflow` and `pip3 install tensorflow`

returns:

`ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)`
`ERROR: No matching distribution found for tensorflow`

And trying to install the .whl file directly yields:

`ERROR:

[2019-07-26 07:38] ixtiyoruz commented on #27126
I am having this problem with TensorFlow 1.13.1 while trt.create_inference_graph

[2019-07-26 07:49] rishabhsahrawat commented on #30843
Hi Priya, @guptapriya thank you for your response again. I tried using the rounded up value and it worked. I thought it only takes integer values as input. :D

[2019-07-26 07:49] patzm commented on #30673
Hi Jie / @trisolaran ,
no I don't have a patch yet. I would be happy to work on it. But a small kick-start would be nice. E.g. the files to start looking. I also found that `depthwise_conv2d`, and also `separable_conv2d` are buggy / incomplete. Didn't file issue for those yet though.

[2019-07-26 07:55] Oktai15 commented on #31046
It seems that it's not a MobileNet bug, I will close the issue.

[2019-07-26 07:55] #31046 closed

[2019-07-26 07:55] kung-foo commented on #31058
You have an ARM processor. PyPi seems to only have x86/amd64 wheels.

[2019-07-26 08:02] develooper1994 commented on #23410
I am using
windows 7
Anaconda 2019.0.7 and Python 3.7.3
tensorflow 1.15.0-dev20190718
keras 2.2.4
error still exist but now it is a different variable
UnboundLocalError: local variable 'arith_flex' referenced before assignment

[2019-07-26 08:04] khazali commented on #30687
It was compiled successfully with VS2019. Thank you.

[2019-07-26 08:10] gadagashwini commented on #31035
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-07-26 08:14] Oktai15 commented on #27640
@amitsrivastava78 i have the same problem on my machine: Debian GNU/Linux 9 (stretch), gcc 6.3.0

[2019-07-26 08:17] andrey-utkin commented on #30181
@covertg Add `-latomic` to your LDFLAGS

[2019-07-26 08:22] ivankreso commented on #30873
It works ok with the latest nightly version. Thanks.

[2019-07-26 08:22] #30873 closed

[2019-07-26 08:22] SalahAdDin commented on #26289
@selvamshan It didn't work for me:
[code]

[2019-07-26 08:35] gadagashwini commented on #30993
I am bale to reproduce the reported issue with TF version 1.14.0 on Colab, find the gist [here](https://colab.research.google.com/drive/1UuloCJ4vLmILAVws7QxSI4N6IWxYJHCx). Thanks!

[2019-07-26 08:49] karkirowle commented on #22099
I would not bother to reopen this issue, but for Cuda Compute Capability 3.0 this is actually the last build which is supported from the pre-built packages on Windows (i.e. when you query tensorflow for the devices, it won't promptly say that you have a Cuda too low).
While I understand that officially TF is not supporting this Cuda version, I would still be interested in what is the problem, or i

[2019-07-26 08:49] ravikyram commented on #31031
Just to verify did you get chance to follow instructions from [TensorFlow](https://www.tensorflow.org/install/source) website .Please, let us know. Thanks!

[2019-07-26 08:53] tintinxue1 opened #31061 "tf.data.iterator make_initializer multiple creates new ops instead of using old"
System information

    Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
    Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
    TensorFlow installed from (source or binary): binary
    TensorFlow version (use command be

[2019-07-26 08:53] Oktai15 commented on #27640
Small code for reproducing:
[code]

Log:
[code]

Do we have any workaround now?

[2019-07-26 08:54] PistaSaki commented on #29763
Thank you, it seems to work!
I have a related problem, but maybe I should open it as another issue:
I have a dataset from generator, containing uneven tensors. After batching I would expect it to return dataset with RaggedTensors. At present it fails.
Here is a minimal example:
[code]

[2019-07-26 08:56] tintinxue1 commented on #31061
it seems like tf.data.dataset is having the same behaviour as tf.Variable() instead of tf.get_variable(). with tf.Variable(), even with tf.name_scope() or tf.variable_scope() it avoids the name clashes instead of reusing the variables.

[2019-07-26 08:58] 7oranger commented on #26289
I finally installed third-party-built tensorflow with cuda101. It works .

[2019-07-26 08:58] PistaSaki commented on #27653
Thank you, it seems to work!
I have a related problem, but maybe I should open it as another issue:
I have a dataset from generator, containing uneven tensors. After batching I would expect it to return dataset with RaggedTensors. At present it fails.
Here is a minimal example:
[code]

[2019-07-26 08:58] PistaSaki commented on #29763
Sorry, I found probably a more related issue:
https://github.com/tensorflow/tensorflow/issues/27653
and I repated my above comment there.

[2019-07-26 09:00] chengleiwang opened #31062 "Why tensorflow r2.0 still load libcudart_static.a in cuda_configure.bzl"
In tensorflow r2.0, I still can see libcudart_static.a copied to local cuda repository in third_party/gpus/cuda_configure.bzl file, but looks like tensorflow using cuda shared object to access Nvidia GPUs, so why still we need load static library here?

[2019-07-26 09:03] DavideCatto commented on #9984
I can't understand how to generate dnn.pb.h file.
Can you please upload dnn.pb.h file in order to ""copy"" the declaration and manually generate it?

[2019-07-26 09:05] ravikyram commented on #31028
I have tried on colab with TF version 1.14.0 was able to reproduce the issue.Please, find the [gist](https://colab.research.google.com/drive/1vNktBX2U5T6-KilL3zbBDz67FGA3dTnt) here.Thanks!

[2019-07-26 09:07] huangeer commented on #18503
Hey, guys. I tell a story about me, last time I import TensorFlow in its source file directory, it happened this fault, and I use "cd .." (then import TensorFlow)solve this problem. Maybe it's not one problem, but may this help.

[2019-07-26 09:20] ravikyram commented on #31022
I have tried on colab with TF version 2.0 beta1,1.14 and was able to reproduce the issue.Please, find the [gist ](https://colab.research.google.com/drive/117O0l7XLQeFAIf1cr4PbNOzSsjUtkKHY)here.Thanks!

[2019-07-26 09:22] tarrade commented on #26804
@tanzhenyu, with the latest version of TF 2.0 (1.1.0.dev201907250105) I see the same "bug". Maybe I am missing something  but I see no reason to not dispaly accuracy in such case. The issue is that it make the usage of keras -> estimator useless. One solution with TF 2.0  is to use with keras layer in an estimator model.

I find model_to_estimator great but useless if we don't have the right metri

[2019-07-26 09:32] alokprasad opened #31064 "Support for Latest NDK ( ndk14b above) for tensorflow/contrib/makefile/Makefile"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2019-07-26 09:44] gadagashwini commented on #31050
@beasteers  As this is more related to TF Tensorboard, please post this in [TF Tensorboard repo](https://github.com/tensorflow/tensorboard). Thanks!

[2019-07-26 09:51] marconardelli opened #31065 "Failed to clear function handle cache: Invalid argument: Failed to find FunctionLibraryRuntime"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): tens

[2019-07-26 10:01] gadagashwini commented on #31026
@fsx950223 Will it be possible to share the minimal code which replicates the reported issue. Thanks!

[2019-07-26 10:04] capilano opened #31067 "tensorflow polyfill operation"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):Current stable build(1.14)
- Are you willing to contribute

[2019-07-26 10:20] fsx950223 commented on #31026
I provided code above

[2019-07-26 10:23] tarrade commented on #27345
Any status on this issue ? @tanzhenyu @MMMarcy @ymodak
I am wondering what is the status of the migration of tf.estimator to Tensorfloe 2.0. It seems few things are not working yet. Probably tf.estimator is/will be the last part migrationg to Tensorflow 2.0. For example in the official documentation, the example on tf.estimator is very very limited, still use compat.v1 module for some ops and don'

[2019-07-26 10:27] manuel-masiello opened #31068 "CUDA_ERROR_ILLEGAL_ADDRESS but never on low power mode"
**System information**
- Windows 10
- TensorFlow version 1.14 from PIP
- python 3.6.8
- cudatoolkit 10.0.130
- cudnn 7.6.0
- vs2015_runtime  14.15.26706
- GPU model and memory: RTX 2070 - 6315 MB memory

**Describe the current behavior**

When I run TF code ildoonet/tf-pose-estimation on my RTX 2070 I have an issue about:

`2019-07-26 11:57:11.701402: E tensorflow/stream_executor/cuda/cuda_driver.

[2019-07-26 10:51] SumairSaeed opened #31069 "Instructions for updating: Use standard file APIs to delete files with this prefix. While training chicken pose estimation algorithm"
![11](https://user-images.githubusercontent.com/53338377/61946734-c710f300-afbc-11e9-8f08-b2eab9a06445.PNG)

While training chicken pose estimation data on google colab using this pose estimation algorithm, this is the point where it stucks.  This is the command i am using;
"import os
os.chdir("/content/gdrive/My Drive/pose-tensorflow-master/models/coco/train")
!ls ../../
!TF_CUDNN_USE_AUTOTUNE=0

[2019-07-26 10:52] edwardyehuang commented on #29310
#31049

[2019-07-26 11:12] Thormidable opened #31070 "Issue using tf.keras ModelCheckpoint when distributing under MultiWorkerMirroredStrategy"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-07-26 11:36] develooper1994 commented on #23410
Hello again, I think i solve my problem whenever upgrade c++ runtime version or install msvc_runtime‑14.21.27702‑cp3x‑cp3xm‑win_amd64.whl (in my case x==7)
python enviroment broken. Continue with c++ runtime version 19.15

[2019-07-26 11:40] mimxrt opened #31071 "Error on model fit with stateful LSTM using Dataset"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04 LTS
- **TensorFlow installed from (source or binary)**: conda-forge
- **TensorFlow version (use command below)**: unknown 1.14.0
- **Python version**: Python 3.7.3
- **CUDA/cuDNN version**:

[2019-07-26 11:41] seolhokim opened #31072 "torch.unfold function is needed.."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):1.14
- Are you willing to contribute it (Yes/No):Yes

**Des

[2019-07-26 11:42] ravikyram commented on #31014
@baiztencale

I tried on cloab with TF 1.14.0 and able to see different results after multiple executions.Can you cross check again and confirm.Thanks!

[2019-07-26 11:44] Quiigi commented on #30995
This is a **bug** report.  (It is not about build, installation, or performance.  It is about correctness.)

It is a small reproducible example illustrating a bug.  (In our real code, we trained a bigger model of thousands of samples, only to find that the trained model behaved oddly.)  The same input should give the same response.  And it does, except if the length of the input isn't divisible by

[2019-07-26 11:46] SalahAdDin commented on #26289
@7oranger which one? how?
Thanks.

[2019-07-26 11:50] hathawayxxh opened #31073 "tf.linalg.sqrtm() returns nan"
I want to perform the function of matrix square root in my CNN, which can be automatically backpropagated. I used the function tf.linalg.sqrtm() to compute the square root of an invertible matrix. After running the session, it returns an array with all elements equal to "nan". Does anyone know about the reason for the incorrect result? Or any other methods to compute the matrix square root in the

[2019-07-26 11:57] 7oranger commented on #26289
https://github.com/fo40225/tensorflow-windows-wheel . If your computer support avx 2,
 you can download package from https://github.com/fo40225/tensorflow-windows-wheel/tree/master/1.14.0/py37/GPU/cuda101cudnn76avx2 and unzip them. Use pip  to install the wheel .

[2019-07-26 11:57] arnaldog12 commented on #13127
@jetjodh Nice! Can you please share the tutorials you followed our even your TensorFlow build for C# to help others as well? Thanks in advance.

[2019-07-26 12:20] Uiuran commented on #30991
First proposal of simple op blocks tracking through ultrametric space ( only some sketches, lemme know if you cant figure anything of this).
https://github.com/Uiuran/Biological-Images-Datasets/blob/master/drawing/feature.jpg

[2019-07-26 12:30] lufol opened #31074 "fit_generator validation progress bar"
**System information**
- TensorFlow version (you are using): 2.0 beta
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Currently it is not possbile to see the progressbar of the valitation process when the `keras.fit_generator` is running in `verbose=1` or `verbose=2`.

**Will this change the current api? How?**
In https://github.com/tensor

[2019-07-26 12:30] alexeyr commented on #30954
**Issue 6**
https://github.com/tensorflow/tensorflow/blob/4213d5c1bd921f8d5b7b2dc4bbf1eea78d0b5258/tensorflow/contrib/layers/kernels/sparse_feature_cross_kernel.cc#L282-L293
The condition in line 284 is always true because the loop ends otherwise.

**Issue 7**
https://github.com/tensorflow/tensorflow/blob/f6822df38cb0b820e2229f07d0a93f215f2dae42/tensorflow/lite/toco/graph_transformations/propagate

[2019-07-26 12:32] TGithubbr commented on #22099
Yes don't bother. They don't know what they are doing because they apparently don't have Windows.  If the build passes they apparently just put it up

[2019-07-26 12:33] tensorflowbutler commented on #30409
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-07-26 12:36] TGithubbr commented on #22099
You could try to build it with bazel which I tried but was never able to get to work. They won't be able to do anything because they don't have Windows (google to cheap for that) and don't test their builds

[2019-07-26 12:41] 4saad commented on #22240
(@pbertoni ) did you find a solution for this?

[2019-07-26 13:00] alice17 commented on #24322
I'm having the same issue, converted the model with from_keras_model_file, tried to load it in Android but gives me this error:

`java.lang.IllegalArgumentException: Contents of /conv.tflite does not encode a valid TensorFlowLite model: Could not open '/conv.tflite'.The model is not a valid Flatbuffer file`

[2019-07-26 13:02] durandg12 commented on #30143
Hi @karmel do you have any comment on my last post here ?
Thanks in advance

[2019-07-26 13:04] abdou31 opened #31077 "Downgrade tensorflow 1.14 to tensorflow 1.13"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14
- Python version: 3.6.8
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:9.0/7.4
- GPU model and memory: Nivida GeForce 840m 3 Go

**D

[2019-07-26 13:59] nfsrules commented on #29866
Hi @JCMiles Did you solve this issue?
Thanks

[2019-07-26 14:03] dlepzelter commented on #30770
Certainly. Replace
[code]
with
[code]
and you get the same error.

[2019-07-26 14:17] SalahAdDin commented on #26289
@7oranger Yeah, well, i'm working on linux.

[2019-07-26 14:35] Yossarian0916 commented on #24243
Reboot worked for me, too

[2019-07-26 14:43] beasteers commented on #31050
But this isn't an issue with Tensorboard. It's an issue with Tensorflow's Keras Tensorboard callback.

The changes needs to happen in this repo i.e. `tensorflow/python/keras/callbacks.py`, so I feel like it is better placed as an issue here.

It's not a change that is heavily Tensorboard knowledge-specific. Here's the introductory [tutorial](http://www.pinchofintelligence.com/simple-introduction-t

[2019-07-26 15:09] Char-Aznable opened #31083 "Build for centos with toolchain in nonstandard location"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos 6.9
- TensorFlow instal

[2019-07-26 15:19] mrgloom commented on #26289
`conda install -c anaconda tensorflow-gpu` seems install `tensorflow 1.14.0` with` CUDA 10.1`

[2019-07-26 15:21] alextp commented on #30970
The real solution is to not use name_scopes / variable_scopes to retrieve
ops later. Either manually keep them in a list, use context managers which
actually track ops, or use tf.function / tf.compat.v1.wrap_function to get
semantically scoped subgraphs.

On Thu, Jul 25, 2019 at 5:11 PM Daniel Penalva <notifications@github.com>
wrote:

--
 - Alex

[2019-07-26 15:27] ltrottier opened #31084 "Bug Issue: tf.case incompatible with list comprehension"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **custom**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
[code]
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **None**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command belo

[2019-07-26 15:27] #30935 closed

[2019-07-26 15:32] nikzzastic commented on #25942
Didn't worked. Still same issue and kernel dies once I try importing tensorflow

[2019-07-26 15:35] Uiuran commented on #30991
Following the proposal, i would implement an auto-tracking of names and updating to new names with a 3-adic ultrametric space in which each triple ramification inside an name consists of: Ops,Inner-Names Dict and Dependency Edges.

Inner-Names Dict points to new 3-adic trees with the same property

In the leaves will always be an Op or None (that is, no Dependency or No Op or No Inner name of any

[2019-07-26 15:59] Uiuran commented on #30970
this is a 2.0beta feature only, it only works in eager mode, but that's
fine for now, will be dedicating to the other issue that seems to have more
concise precision.

thanks.

On Fri, Jul 26, 2019 at 12:28 PM Alexandre Passos <notifications@github.com>
wrote:

[2019-07-26 16:08] azaks3 commented on #29687
1. I think you are measuring graph construction time not the runtime for the TF numbers.
2 However even more importantly the benchmark does not even run any lookups at all since "return test_word" does not depend on looked up values,
3. Overall once you run the lookup ops performance will be even more dismal than what you currently claim, since you are creating > 10000 ops and per op overhead is h

[2019-07-26 16:23] ymodak commented on #31033
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-07-26 16:41] ewilderj commented on #28195
cc @wicke this issue has gotten stuck and is blocking SIG JVM.

[2019-07-26 16:45] allenlavoie commented on #31055
You can do this now by calling the model inside a function and exporting the function as a signature. There's some discussion of this in [the SavedModel RFC](https://github.com/tensorflow/community/blob/master/rfcs/20181116-saved-model.md#protos-in-serving-signatures-re-exporting). So the exported function takes whatever you'd like to pass when serving, transforms it to inputs the model takes, cal

[2019-07-26 16:46] srjoglekar246 commented on #30524
@AlexZot The `TFLite_Detection_PostProcess:1` value lets the converter know that `detection_classes` is the output from the post-processing op at index 1.

[2019-07-26 16:55] windj007 commented on #31053
Same issue with TF 1.14.0 from PIP, Python 3.7.

I have just installed tf-nightly-gpu and I cannot get that error with your script. However, my model (image to image) is still not loading with the same error (DEQUANTIZE).

[2019-07-26 16:56] srjoglekar246 commented on #31015
So the model converted using `export_tflite_ssd_graph.py` is not intended to be the final model to be used by TFLite.
Heres how it works:

1. The model zoo `.pb` files are the original TF graphs. They contain control flow ops at the end(`Merge`, `Enter`, etc), to perform NMS. TFLite doesn't have full fledged support for control flow ops yet. (Hence you can't directly call `tflite_convert` on the o

[2019-07-26 16:56] #31015 closed

[2019-07-26 17:26] vitong opened #31085 "Building Tensorflow with VS 2019"
_My apologies for starting this conversation here. I didn't think the TensorFlow discussion forum or StackOverflow would be appropriate._

Hello,

I work on the Visual Studio C++ Compiler team. We are interested in helping TensorFlow upgrade to Visual Studio 2019 while also making sure the best compiler switches are being used. We have seen significant throughput and code generation improvements b

[2019-07-26 17:31] ymodak commented on #31029
TF 2.0 does not contain this feature. However, you can raise a request to add this feature in [tensorflow/addons](https://github.com/tensorflow/addons) repository.
See https://github.com/tensorflow/addons/tree/master/tensorflow_addons/optimizers to know more.

[2019-07-26 17:34] martinwicke commented on #28195
@saxenasaurabh could you take a look? I think sending people down the functional while path is now probably the right thing to do.

[2019-07-26 17:49] ymodak commented on #30955
The code provided snippet fails with same message in TF 2.X (eager mode disabled) as well as TF 1.X (eager disabled by default). Can you please confirm if you are able to execute this script successfully in  TF 1.X?

[2019-07-26 17:50] trisolaran commented on #30673
I was not so sure  about the  nature of this issue but in
tensorflow/python/ops/nn_ops.py have following code:
@ops.RegisterStatistics("Conv3D", "flops")
def _calc_conv3d_flops(graph, node):

I would start from there to figure out why it is not doing what you had expected :)

[2019-07-26 17:51] josh11b commented on #30253
It is possible that the Eager execution runtime does not support tensor attrs. In general, though, you should never use an attr for values that can be an input. So attrs should be used for things that affect the signature like number or type of inputs or outputs. The main reason for Tensor attrs in the first place was for the Const op, which is handled in a different way in eager execution.

[2019-07-26 17:55] wangpengmit commented on #30493
An ordinary op like this will work for all versions.

[2019-07-26 17:55] martinwicke commented on #26135
I was OOO for a while, thank you for your patience.

This looks fine to me.

[2019-07-26 17:58] jscul commented on #28067
Same issue

[2019-07-26 18:04] wangpengmit commented on #30493
@alextp do you know of any existing ops for this? And if not, do you think they should be added as custom ops (https://github.com/tensorflow/community/pull/126/files) or to the core?

[2019-07-26 18:23] alextp commented on #30493
I think you're talking about tf.bitcast https://www.tensorflow.org/api_docs/python/tf/bitcast

[2019-07-26 18:23] #30493 closed

[2019-07-26 18:24] isaprykin commented on #28541
Yes, it's an issue and we are currently working on fixing it.  Thanks for reporting.

[2019-07-26 18:37] NeuralGirl opened #31086 "TensorFlow 2.0 using pretrained word embeddings as input to sequence model"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF 2.0 Beta
- Are you willing to contribute it (Yes/No):
*

[2019-07-26 19:02] bashi-bazouk commented on #31004
@ravikyram There is no sentence in the documentation that says that axes parameter decomposes into a_axes and b_axes. The documentation simply starts referring to these arguments, as if they are self-evident. However, they're not, and the lack of that documentation is the reason that I created this issue.

The link you provided points to the exact page that I said is lacking this documentation.

[2019-07-26 19:04] Kaynato commented on #30934
Hello, thank you for your help. Though the gist works correctly in a colab instance, **the gist is not reproducible on the local machine despite both being clean installations and fresh container pulls.**

Either the issue is likely a **driver / hardware bug** and so at least should be made known (that perhaps some version of CUDA or CUDNN causes issues here, or that there is something else going

[2019-07-26 19:21] #31004 closed

[2019-07-26 19:45] suyashbakshi commented on #533
Hello, I'm trying to use fp16 resize_bilinear on my RTX20280ti. Any information on which TF version contains this kernel? I installed tf1.15 nightly as well as tf2.0 using pip, but all i keep getting is "DLL load failed" error.

Any help is appreciated!

[2019-07-26 20:15] Char-Aznable opened #31088 "import error for python3: _pywrap_tensorflow_internal.so: undefined symbol: _Py_ZeroStruct"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos 6.9
- Mobile device (e.

[2019-07-26 20:28] sanjoy commented on #30820
No, we're not investigating adding any sparse operations to XLA at this time.

I don't know enough about the TF ops to state whether they're even a good fit for XLA, but if they are a good fit for XLA I'd be fine reviewing a PR adding XLA support for these ops.

[2019-07-26 20:41] jvishnuvardhan commented on #24570
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-26 20:47] tgpsantos commented on #28742
Hey :) Were you able to improve the performance with GPU?

[2019-07-26 20:56] impjdi commented on #28742
Unfortunately not.  We're making some plumbing to improve parallelism of certain ops.  With a lot of people on vacation, it's going slow.

[2019-07-26 21:02] jvishnuvardhan commented on #26799
@jrabary I am closing the issue as it was resolved. Check this [resource](https://github.com/tensorflow/tensorflow/issues/30711) for custom_metric implementation. Thanks!

[2019-07-26 21:02] #26799 closed

[2019-07-26 21:21] #30750 closed

[2019-07-26 21:27] beasteers opened #31089 "Can't set tf.keras.backend.variable(trainable=False)"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): maybe,

[2019-07-26 21:31] ymodak commented on #21513
I believe this feature has been added in TensorBoard now.
https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard
Thanks!

[2019-07-26 21:31] #21513 closed

[2019-07-26 21:32] tgpsantos commented on #28283
I have an Exynos 9810 with Mali G72 and I've never got a NaN (not that I had seen at least). But tbh I never saw an increase in performance when switching the interpreter from cpu to gpu

[2019-07-26 21:35] jbgh2 commented on #30773
Restarting the kernel seems to be the only way to be get the model to recompile. But for the use-case of hyperparameter search it's painful.

I'll try it in a standalone python script.

[2019-07-26 21:35] jvishnuvardhan commented on #28923
@cysmnl Can you post a standalone code to reproduce the issue? Thanks!

[2019-07-26 21:38] ymodak commented on #20379
This is fixed with tf-nightly version '1.15.0-dev20190726'. Thanks!

[2019-07-26 21:38] #20379 closed

[2019-07-26 21:40] tgpsantos commented on #28283
I have an Exynos 9810 with Mali G72 and I never got any NaN (not that I had noticed at least). But tbh I never saw an increase in performance when switching the interpreter from cpu to gpu so I even doubt if that's actually running on gpu(?)

[2019-07-26 21:40] ymodak commented on #20696
This is fixed with tf-nightly version '1.15.0-dev20190726'. Thanks!

[2019-07-26 21:40] #20696 closed

[2019-07-26 21:44] ymodak commented on #21614
This is fixed with latest tf-nightly version '1.15.0-dev20190726'. Thanks!

[2019-07-26 21:44] #21614 closed

[2019-07-26 21:47] rsk2327 commented on #12745
Could you elaborate on this? I am getting the same error and I was hoping to fix it

[2019-07-26 21:50] ymodak commented on #21811
This is fixed with latest tf-nightly version '1.15.0-dev20190726'. Thanks!

[2019-07-26 21:50] #21811 closed

[2019-07-26 21:54] tpopp commented on #30791
Just a warning, I am without my work computer until next Wednesday or Tuesday. I will look at this at that time, but I won't get a chance to before.

That's strange that the TF_CPP_VMODULE is not working for you, but we will try to work around it.

[2019-07-26 22:28] jvishnuvardhan commented on #30934
@Kaynato I don't know what else we can do to find root-cause of this issue as we cannot access your local machine. But surely we can say this is not related to Tensorflow. May be downgrading to CUDA10.0 and test again might help i think. Thanks!

[2019-07-26 22:41] yifeif commented on #30744
@chengleiwang I believe tensorflow/core/grappler/clusters/utils.cc is using cudart_stub.
[`utils`](https://github.com/tensorflow/tensorflow/blob/4eb56665431534476801486257087f16d8ddee4c/tensorflow/core/grappler/clusters/BUILD#L22) is a tf_cuda_library, which depends on [`cudart_stub`](https://github.com/tensorflow/tensorflow/blob/4eb56665431534476801486257087f16d8ddee4c/tensorflow/tensorflow.bzl#L

[2019-07-26 23:14] lytkarinskiy opened #31091 "[TF 2.0] tf.image.central_crop doesn't work"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-07-26 23:21] ymodak commented on #30455
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-07-26 23:21] #30455 closed

[2019-07-26 23:23] chengleiwang commented on #30744
@yifeif, yes, utils depends on cudart_stub, but actually it doesn't call dynamic cuda runtime api. I have debug this for  several days. You can do a quick check by remove cudaGetDevicrProperties() in cudart_stub.cc/cuda_runtime_10_0.inc and then you can run a test , set a breakpoints at cudaGetDeviceProperties() in utils.cc. You can see it still can execute this Api without using dynamic one.

I s

[2019-07-26 23:29] ashleygw commented on #30905
I had the exact same problem. Here is what I did to make the installation work:

- Downloaded python from here : https://www.python.org/downloads/release/python-374/

- Ran the installer and installed for all users (I did this because the path length is shorter, who knows if that was the difference). Additionally I also installed pip through this installer as well.

- At the end of the installatio

[2019-07-26 23:40] gunan commented on #30999
Are you trying to build the 2.0 branch? What configuration options did you use?
What exact hash are you building?

@goldiegadde do we have a prebuilt binary for windows for 2.0 beta?

[2019-07-27 00:27] haozha111 commented on #29590
Hi Melody, sorry that it doesn't work for you. We are actively working on dynamic shapes in TF Lite, and hope to make the user experience better. Adding Nupur who is working in this area.

[2019-07-27 00:47] guptapriya commented on #30843
Glad to know it worked! Thanks for testing out 2.0!

[2019-07-27 00:47] #30843 closed

[2019-07-27 02:07] zuoshaobo opened #31092 "Tensorflow-lite gpu ios memory leak"
I use TensorFlowLiteGpuExperimental  for inference ,I have 60 models, if i only use one model to inference ,it works well, but if i switch different models in running , than memory leak occurs, I just use code :
            interpreter = nullptr;
            DeleteGpuDelegate(delegate);
to free resources
so if i loss other free function ?
if TensorFlowLiteGpuExperimental a bug?
TensorFlowLiteGpuEx

[2019-07-27 02:10] vitalyli opened #31093 "Loading embeddings into the graph fails with: libprotobuf ERROR google/protobuf/io/zero_copy_stream_impl_lite.cc 164 Cannot allocate buffer larger than kint32max for StringOutputStream"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOS 10.14
- TensorFlow installed from (source or binary):
Binary
- TensorFlow version (use command below):
1.13.1
- Python version:
Python 3.6.7 |Anaconda

**Describe the current behavior**
Loading 1.4mil 100dim embedd

[2019-07-27 02:56] ethereon commented on #29191
@mdanatg: this continues to be an issue even with the recent attempt at supporting argument-less super.

In the new [super_in_original_context](https://github.com/tensorflow/tensorflow/blob/612ceb6c488e228fa5246d2452799cf2691ef5f1/tensorflow/python/autograph/operators/py_builtins.py#L92-L130) implementation, the technique used for getting `self` seems a bit fragile. In particular, existence of con

[2019-07-27 04:21] patelprateek commented on #30820
@sanjoy : can you please provide me some pointers or documentation regarding "what is a good fit for xla". I am happy to contribute and add PRs but would need some guidance , can you point me to some example PRs that adds support for few ops , that would be very helpful for me to understand the different pieces that needs to go in for supporting a new op .

[2019-07-27 04:45] connors2015 commented on #10408
Leaving this here so I remember to come back Monday and write out a work-around for the memory leak inside a loop issue using Keras.

[2019-07-27 04:57] handongyexingren commented on #27079
I reinstalled, But again occur this error "cannot import name 'monitoring'
" ubuntu 18.04.1
python 3.6.8
tensorflow 1.13.1
tensorflow-estimator (1.14.0)

[2019-07-27 05:13] CroMocha opened #31094 "Compilation error with protoc"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlo