[2017-06-16 18:47] #7008 closed

[2017-06-16 18:47] girving commented on #7581
@josh11b Preferences on making the allocator API public?

[2017-06-16 18:47] kyo744 commented on #10754
I have tried the following steps to add the C and C++ APIs:
1. Add all .cc files in the /c and /cc directories to the Makefile.
2. Add all .pb.cc .pb_text.cc generated by Bazel to the Makefile.
3. Include the dependencies (gtest, .pb.h and pb_text.h).
4. Use the Makefile to create libtensoflow-core.a and .so.

The compilation terminates without error and the .a and the .so files are produced. Howe

[2017-06-16 18:48] #7886 closed

[2017-06-16 18:48] wookayin commented on #10429
Great job!

Just a question -- is the (legacy) [tensorboard module](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tensorboard) in the original tensorflow repository going to removed, or will it be kept?

[2017-06-16 18:49] dandelionmane commented on #6768
Migrated this to the TensorBoard repo.

[2017-06-16 18:49] #6768 closed

[2017-06-16 18:49] caisq commented on #7885
Working on a PR. Sorry for the delay.

[2017-06-16 18:50] gunan commented on #7129
@ebrevdo Are there any updates?
Is this fixed?

[2017-06-16 18:51] girving commented on #7918
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 18:51] #7918 closed

[2017-06-16 18:52] MarkDaoust commented on #9559
Hi,

From the path, /anaconda3/lib/python3.6/site-packages, it looks like you're trying to launch that `bazel build` from the tensorflow pip-installation.

(Almost) none of the examples, and none of the BUILD files are included in the pip installation.

For that bazel command to work you need to launch it from a git clone of the tensorflow repository. That should work.

Good luck.

[2017-06-16 18:52] #9559 closed

[2017-06-16 18:52] dandelionmane commented on #10744
The markdown requirement is going to leave setup.py for TensorFlow shortly, because it's only needed by TensorBoard, and TensorBoard is exiting to its own repo. So I'm going to close this here, and migrate to TensorBoard.

[2017-06-16 18:52] #10744 closed

[2017-06-16 18:52] wchargin commented on #9053
Interesting. I can reproduce this. The following script demonstrates buggy behavior in TensorBoard:

[code]

Thank you for reporting. I've migrated this to our new repository at https://github.com/tensorflow/tensorboard/issues/41.

[2017-06-16 18:52] #9053 closed

[2017-06-16 18:52] girving commented on #5757
@petewarden Are there any plans to work on this?  Optimizing the 8 bit case for CPU seems good for testing and development purposes.

[2017-06-16 18:52] cancan101 commented on #7008
@gunan: https://github.com/tensorflow/tensorflow/issues/7962 😄

[2017-06-16 18:52] ekelsen commented on #10142
note that softmax does subtract the maximum logit, so the max value it will exponentiate will be 0.  I don't think this is the cause of your NaN.  Without more information it's hard to say.

[2017-06-16 18:53] dandelionmane opened #10773 "PIP: Don't lock markdown version to 2.2.0"
https://github.com/tensorflow/tensorflow/issues/10744

[2017-06-16 18:53] skye commented on #7251
@MycChiu did you ever open a new PR for this?

[2017-06-16 18:54] dandelionmane commented on #10773
I meant to migrate this to TensorBoard 😝

[2017-06-16 18:54] jjough commented on #10513
Yeah, seems odd, especially as Theano always gives the right answer.

BTW my example was bad because w doesn't have to be a random normal matrix. If w is a small constant, it gives a repeatable, deterministic error:

[code]

[2017-06-16 18:54] #10773 closed

[2017-06-16 18:54] girving commented on #8035
Looks like this was fixed.

[2017-06-16 18:54] #8035 closed

[2017-06-16 18:54] martinwicke commented on #10737
I don't think this is feasible in general. I'll close this issue. If someone can come up with a workable design, please file a new issue.

[2017-06-16 18:56] wchargin commented on #8610
Thanks for reporting this! I've migrated it to our new repository at https://github.com/tensorflow/tensorboard/issues/44.

[2017-06-16 18:56] #8610 closed

[2017-06-16 18:57] girving commented on #8011
It should just work and return a `tf.no_op`.

[2017-06-16 18:57] skye commented on #7354
@ebrevdo any updates? Is this resolved?

[2017-06-16 18:57] #8894 closed

[2017-06-16 18:57] chihuahua commented on #5983
Lets continue discussion of this issue within tensorflow/tensorboard#42. We have moved TensorBoard to a new repo outside of tensorflow/tensorflow.

[2017-06-16 18:58] wchargin commented on #7718
Thanks for reporting this. Given that it's a few months old and there's no repro, I'm closing it for now. Please feel free to reopen it in our new repository at https://github.com/tensorflow/tensorboard/issues.

[2017-06-16 18:58] #7718 closed

[2017-06-16 18:58] dandelionmane commented on #7746
This should be done now, at the highest level (e.g. /graphs, /scalars). Please open an issue on tensorflow/tensorboard if you need more fine-grained state in the url bar.

[2017-06-16 18:58] #7746 closed

[2017-06-16 18:59] #6026 closed

[2017-06-16 19:01] cancan101 commented on #10737
Maybe I confused matters. This should just be a matter of reshaping the 8 values to 9 and then calling [`tf.matrix_inverse`](https://www.tensorflow.org/api_docs/python/tf/matrix_inverse).

[2017-06-16 19:01] #4865 closed

[2017-06-16 19:02] chihuahua commented on #10105
I have migrated this issue to tensorflow/tensorboard#45 because TensorBoard has migrated to a different repo. Lets continue discussion there - sorry about how this issue is still open.

[2017-06-16 19:02] #10105 closed

[2017-06-16 19:02] girving commented on #7630
Unfortunately the `mul` fix proposed by @cancan101 makes `constant_value` linear time in the size of the whole graph in the worse case.  Therefore, I don't think we can support it in that form.  I'll close this issue as now as out of reach of simple contributions (and for lack of activity).

[2017-06-16 19:02] #7630 closed

[2017-06-16 19:03] wchargin commented on #7708
I'm migrating this to our new repository at https://github.com/tensorflow/tensorboard/issues/46. See you there! :-)

[2017-06-16 19:03] #7708 closed

[2017-06-16 19:04] girving commented on #8016
Assigning to @petewarden because makefiles.

[2017-06-16 19:05] girving commented on #8020
@petewarden?

[2017-06-16 19:06] girving commented on #8025
@andrewharp Is this fixable?

[2017-06-16 19:06] wchargin commented on #6807
Hi @Faur—thanks for reporting. I've migrated this to our new repository at https://github.com/tensorflow/tensorboard/issues/47.

Sorry for the long delay—we're going to try to be more responsive to issues and PRs moving forward. :-)

[2017-06-16 19:06] #6807 closed

[2017-06-16 19:07] nmiculinic opened #10776 "Docker build issues -- libcuda.so.1 cannot be found"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No, I'm using baidu's warp-ctc which has custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A, using docker
- **TensorFlow installed from (source or binary)**: provided docker image
- **TensorFlow version (use command below)**: 1.2.0
- **Bazel versi

[2017-06-16 19:07] #6011 closed

[2017-06-16 19:07] cwhipkey commented on #9400
@tbchj @yujulucy - when you write that this works in standalone training, but not with distributed training - can you post the example of how distributed training is set up?  Distributed training setup should also be able to take a 'config' parameter - you can try passing your config to that setup as well?

[2017-06-16 19:09] #8895 closed

[2017-06-16 19:09] itsmeolivia commented on #9012
@asimshankar  hey asim, are you still working on this?

[2017-06-16 19:10] #9028 closed

[2017-06-16 19:10] itsmeolivia commented on #9049
hey andrew, are you still actively working on this?

[2017-06-16 19:10] #9087 closed

[2017-06-16 19:11] dandelionmane commented on #8829
Hi all,

I posit that no smoothing is perfect, and there are always going to be some edge cases where it doesn't behave quite like you imagine it should.

I'm closing this issue since we're migrating to a new repo, and because it looks like the new exponential smoothing solves a lot of complaints here. If you still want smoothing changes, please open a new issue at https://github.com/tensorflow/te

[2017-06-16 19:11] #8829 closed

[2017-06-16 19:11] chihuahua commented on #10428
I have migrated this issue to tensorflow/tensorboard#48.

The issue is almost fixed (It is already in the code.). The documentation code just has to be updated, so [this tensorflow.org page](https://www.tensorflow.org/get_started/graph_viz) changes.

[2017-06-16 19:11] #10428 closed

[2017-06-16 19:11] wchargin commented on #10234
[The `README.md` is currently up-to-date.](https://github.com/tensorflow/tensorboard/blob/master/README.md#usage) We should, as you indicate, update `DEVELOPMENT.md`. I'll just go ahead and do this in our new repository at https://github.com/tensorflow/tensorboard. Thanks for reporting.

As to development environments, it's just everyone's own taste; we don't have a single unified setup. In fact,

[2017-06-16 19:11] cancan101 commented on #10737
In fact that reshaping method exists: [`_flat_transforms_to_matrices`](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/contrib/image/python/ops/image_ops.py#L201-L209) it just isn't exported.

[2017-06-16 19:11] dandelionmane commented on #9799
We've deleted the gulp build! Now everything builds using bazel. Please check it out at our new repo: https://github.com/tensorflow/tensorboard.

h/t to @jart who did a ton of awesome work to get rid of gulp and switch us to bazel.

[2017-06-16 19:11] #9799 closed

[2017-06-16 19:12] Robomate opened #10777 "Error: map_fn = tf.python.functional_ops.map_fn AttributeError: module 'tensorflow' has no attribute 'python'"
Error on System: py3.5, win7, tf 1.2 cpu version.

map_fn = tf.python.functional_ops.map_fn
AttributeError: module 'tensorflow' has no attribute 'python'

[2017-06-16 19:12] #9108 closed

[2017-06-16 19:13] wchargin commented on #10233
I'm closing this due to inactivity. Please feel free to re-open it in our new repository at https://github.com/tensorflow/tensorboard.

[2017-06-16 19:13] #10233 closed

[2017-06-16 19:13] sguada commented on #7370
For training we reserve the class 0 for back-ground.
See https://github.com/tensorflow/models/blob/master/slim/datasets/imagenet.py#L59

[2017-06-16 19:13] #7370 closed

[2017-06-16 19:13] dandelionmane commented on #9701
Hi all,

This issue looks like it's encompassing a few different problems, some of which are workflow issues, some of which are bugs that are fixed in latest TensorBoard. So I'm going to close it.

You can pip install the latest tensorboard via `pip install tensorflow-tensorboard`.
If afterwards you still have issues, please open an issue at https://github.com/tensorflow/tensorboard.

[2017-06-16 19:13] #9701 closed

[2017-06-16 19:14] girving commented on #8275
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 19:14] #8275 closed

[2017-06-16 19:14] dandelionmane commented on #8326
@jart fixed this; tensorboard now uses bazel to build instead of gulp/npm!

Check it out here: https://github.com/tensorflow/tensorboard

[2017-06-16 19:14] #8326 closed

[2017-06-16 19:14] #7885 closed

[2017-06-16 19:15] #9135 closed

[2017-06-16 19:15] skye commented on #5913
@petewarden do you have any plans to fix this? If not, please unassign yourself and mark contributions welcome (if appropriate).

[2017-06-16 19:15] girving commented on #3492
Looks like a good chunk of this is done.  Further requests should probably be filed as further issues.

[2017-06-16 19:15] #3492 closed

[2017-06-16 19:16] wchargin commented on #10207
Thanks for the suggestion! I've gone ahead and migrated this to our new repository at https://github.com/tensorflow/tensorboard/issues/50. Feel free to submit a PR there!

[2017-06-16 19:16] #10207 closed

[2017-06-16 19:16] chihuahua commented on #836
I have migrated this issue to tensorflow/tensorboard#49 because TensorBoard has moved to a new repository (outside of tensorflow/tensorflow). Lets continue discussion there, and sorry about how this issue is still open.

[2017-06-16 19:16] #836 closed

[2017-06-16 19:16] #9147 closed

[2017-06-16 19:17] girving commented on #8287
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 19:17] #8287 closed

[2017-06-16 19:18] girving commented on #7093
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 19:18] #7093 closed

[2017-06-16 19:18] wchargin commented on #9854
Thanks for reporting this. I've migrated it to our new repository at https://github.com/tensorflow/tensorboard/issues/51.

[2017-06-16 19:18] #9854 closed

[2017-06-16 19:18] itsmeolivia commented on #6738
hey Andrew, is this still forthcoming?

[2017-06-16 19:18] martinwicke commented on #10729
If you want to fix the >= / = / == parsing issue, the code that processes that lives here in tensorflow/core/framework/op_def_builder.cc line 221ff. You could allow == as a token, and then we could use that in the Op registrations. There's no documentation for this, just the code.

We would love a PR for that.

[2017-06-16 19:19] #3028 closed

[2017-06-16 19:19] dandelionmane commented on #7856
Migrated this to tensorflow/tensorboard.

[2017-06-16 19:19] #7856 closed

[2017-06-16 19:19] Androbin commented on #7370
@sguada Okay, but I don't think this resolves the main concern here:

[2017-06-16 19:19] wchargin commented on #7087
Glad that you've found a solution. I'm closing this for now; if you want, you can re-open it in our new repository at https://github.com/tensorflow/tensorboard/issues.

[2017-06-16 19:19] #7087 closed

[2017-06-16 19:19] girving commented on #7874
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 19:19] #7874 closed

[2017-06-16 19:19] cancan101 commented on #8287
I think this is still relevant as an open issue.

[2017-06-16 19:20] dandelionmane commented on #4714
Migrating this to the TensorBoard repo.

[2017-06-16 19:20] #4714 closed

[2017-06-16 19:21] cancan101 commented on #5919
I think this is still relevant and "active" in that it was referenced by https://github.com/tensorflow/tensorflow/issues/8404.

[2017-06-16 19:21] skye commented on #4887
@sguada what's the status on this? Can we close this or is there still something being requested?

[2017-06-16 19:21] wchargin commented on #7720
Agreed; I was just thinking about doing this yesterday.

The count at right is correct; it indicates how many charts there are. There is indeed one chart…it's just useless. :-)

I've migrated this to our new repository at https://github.com/tensorflow/tensorboard/issues/55. Feel free to continue discussing there.

[2017-06-16 19:21] #7720 closed

[2017-06-16 19:22] dandelionmane commented on #9681
Migrated this to the TensorBoard repo.

[2017-06-16 19:22] #9681 closed

[2017-06-16 19:22] dandelionmane commented on #7041
The script was removed.

[2017-06-16 19:22] #7041 closed

[2017-06-16 19:23] chihuahua commented on #6313
I migrated this issue to tensorflow/tensorboard#54 because TensorBoard has moved to a new repository. Lets continue discussion on this bug there.

[2017-06-16 19:23] #6313 closed

[2017-06-16 19:23] #6682 closed

[2017-06-16 19:24] girving commented on #6365
@yuefengz Can you take a look?

[2017-06-16 19:24] cwhipkey commented on #7704
If you include linkstatic=1 as well, does it work?
It appears that with linkshared only, it will be in the DYNAMIC case listed for linkstatic here: https://bazel.build/versions/master/docs/be/c-cpp.html

(this is guessing that there is a .so available at runtime that provides the operators from an older release of tensorflow)

[2017-06-16 19:25] dandelionmane commented on #6677
Can you please reopen this at https://github.com/tensorflow/tensorboard/issues with a reproduction? Perhaps a script we can run to generate unreadable data.

[2017-06-16 19:25] #6677 closed

[2017-06-16 19:26] dandelionmane commented on #6150
Migrating this issue to tensorflow/tensorboard

[2017-06-16 19:26] #6150 closed

[2017-06-16 19:26] fchollet commented on #10728
Thanks for the bug report. I've sent out a CL to fix it.

[2017-06-16 19:26] #6146 closed

[2017-06-16 19:27] wchargin commented on #7060
We could also see if we can only use this modified scale when in fact there are negative* values. If we could manage that, then I'd be quite happy regardless of what the behavior is when there are negative values. That is, if you asked for a log plot when you have negative values, that's kind of your fault, but other people shouldn't be affected.

(Sending zero to neginf is fine with me. Our plots

[2017-06-16 19:27] #7060 closed

[2017-06-16 19:28] chihuahua commented on #6789
3f6404f2069a1baf795cc618e700dd43dcbeeb15 limits the default max height of images to 800px. One can always view true pixel size (the full image) if they desire, so I am closing this issue.

[2017-06-16 19:28] #6789 closed

[2017-06-16 19:29] girving commented on #8022
Seems fixed.

[2017-06-16 19:29] #8022 closed

[2017-06-16 19:30] girving commented on #8089
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 19:30] #8089 closed

[2017-06-16 19:30] wchargin commented on #5039
I'm going to close this for now; feel free to open an issue in our new repository at https://github.com/tensorflow/tensorboard/issues if you feel that there's more to discuss. Thanks!

[2017-06-16 19:30] #5039 closed

[2017-06-16 19:31] itsmeolivia commented on #6507
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 19:31] #6507 closed

[2017-06-16 19:31] wolffg commented on #10759
It looks like you are compiling off the 1.0 branch.  Could you try reproducing this with master (or at least 1.2)?

[2017-06-16 19:31] itsmeolivia commented on #7620
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 19:31] #7620 closed

[2017-06-16 19:32] dandelionmane commented on #2603
Migrated to tensorflow/tensorboard.

[2017-06-16 19:32] #2603 closed

[2017-06-16 19:32] girving commented on #8355
This is a models issue, not a tensorflow issue.

[2017-06-16 19:32] #8355 closed

[2017-06-16 19:32] gunan commented on #10776
What is the docker command you used to start your docker container?

[2017-06-16 19:32] wchargin commented on #6108
I'm going to close this for now. If you have a fix, please feel free to submit it to our new repository at https://github.com/tensorflow/tensorboard/pulls.

[2017-06-16 19:32] #6108 closed

[2017-06-16 19:33] girving commented on #8496
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 19:33] #8496 closed

[2017-06-16 19:33] skye commented on #8451
@tatatodd any update on this? If you're not gonna get to it, please unassign yourself and mark contribution welcome if appropriate.

[2017-06-16 19:33] dandelionmane commented on #9688
Migrated to https://github.com/tensorflow/tensorboard

[2017-06-16 19:33] #9688 closed

[2017-06-16 19:33] wchargin commented on #6337
Due to the great efforts of @jart, you no longer need gulp, bower, or any of their co-conspirators to develop or run TensorBoard! Perhaps try again using our new repository at https://github.com/tensorflow/tensorboard/blob/master/README.md?

[2017-06-16 19:33] #6337 closed

[2017-06-16 19:33] girving commented on #8508
From the comments, it sounds like this is done.  Please close issues once they are done.

[2017-06-16 19:33] #8508 closed

[2017-06-16 19:34] itsmeolivia commented on #8920
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 19:34] #8920 closed

[2017-06-16 19:34] wchargin commented on #6532
I'm closing this due to inactivity, but if you have a PR, please feel free to submit it to our new repository at https://github.com/tensorflow/tensorboard/pulls! Thanks :-)

[2017-06-16 19:34] #6532 closed

[2017-06-16 19:36] nmiculinic commented on #10776
This is build error, not run. Thus: ```docker build -t tag .```

[2017-06-16 19:36] chihuahua commented on #1464
I migrated this issue to tensorflow/tensorboard#62 because TensorBoard has moved into its own repo. Lets continue discussion there.

[2017-06-16 19:36] #1464 closed

[2017-06-16 19:37] wchargin commented on #8030
I don't really understand what you're asking. TensorBoard works just fine with logs stored in `/tmp/`; that's where I put essentially everything. It also works fine with `~/tmp`, but I don't see any reason to change the existing tutorials to use this instead. Indeed, I'd argue that `/tmp/` is better because it's cleared when you restart the machine.

If you're still having issues, try running `ten

[2017-06-16 19:37] #8030 closed

[2017-06-16 19:37] Lan1991Xu commented on #8410
Solve it. It is nice to use this.

[2017-06-16 19:38] wchargin commented on #8994
Looks like Chi migrated this to our new repository at https://github.com/tensorflow/tensorboard/issues/36, so I'm closing it. Please feel free to continue discussion there.

[2017-06-16 19:38] #8994 closed

[2017-06-16 19:38] caisq commented on #8410
Thanks for checking, @skye. Thanks for confirming, @Lan1991Xu .

[2017-06-16 19:38] chihuahua commented on #2510
We now have a text summary. See https://www.tensorflow.org/versions/master/api_docs/python/tf/summary/text

[2017-06-16 19:38] #2510 closed

[2017-06-16 19:38] #8410 closed

[2017-06-16 19:38] itsmeolivia commented on #8972
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 19:39] dandelionmane commented on #6327
Migrated to the TensorBoard repo

[2017-06-16 19:39] #6327 closed

[2017-06-16 19:40] wchargin commented on #1141
Closing due to inactivity. That said, if you have a PR, please feel free to submit it to our new repository at https://github.com/tensorflow/tensorboard/pulls!

[2017-06-16 19:40] #1141 closed

[2017-06-16 19:40] 3rd3 commented on #10118
Just for the sake of completeness, here is the recommended code from the docs:

          update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS)
          with tf.control_dependencies(update_ops):
            train_op = optimizer.minimize(loss)

[2017-06-16 19:41] gunan commented on #4551
We do not maintain the conda-forge repository for tensorflow.
Therefore I will close this issue.

[2017-06-16 19:41] #4551 closed

[2017-06-16 19:41] itsmeolivia commented on #9045
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 19:41] #9045 closed

[2017-06-16 19:42] petewarden commented on #10763
Unfortunately the current approach to HVX acceleration requires new op implementations to be written for the DSP before they can be used. Looking at the list of ops, a lot of them seem like they might be related to batch normalization. Are you able to run the `fold_constants` transform using the graph transform tool and see if some of them disappear?

[2017-06-16 19:43] itsmeolivia commented on #9130
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 19:43] #9130 closed

[2017-06-16 19:44] wchargin commented on #4207
This is certainly a reasonable suggestion. I've migrated it to our new repository at https://github.com/tensorflow/tensorboard/issues/64. Please feel free to submit PRs there, too!

[2017-06-16 19:44] #4207 closed

[2017-06-16 19:44] martinwicke commented on #7068
Sorry, I don't think we'll be able to support this. If you end up with a solution, we'd be happy to link to it from tensorflow.org.

[2017-06-16 19:44] #7068 closed

[2017-06-16 19:44] gunan commented on #10776
Could you try running `nvidia-docker build -t tag`?

[2017-06-16 19:44] petewarden commented on #7212
You could try setting the name argument of import_graph_def explicitly to "", for example:
[code]

[2017-06-16 19:45] wchargin commented on #1405
Hi there—I've just migrated this to our new repository at https://github.com/tensorflow/tensorboard/issues/65. Feel free to submit a PR there!

[2017-06-16 19:45] #1405 closed

[2017-06-16 19:46] itsmeolivia commented on #2358
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 19:46] #2358 closed

[2017-06-16 19:46] nmiculinic commented on #10776
I just did. Same error, nothing's changed.

[2017-06-16 19:46] ppwwyyxx commented on #10735
If the difference is not large this is not a bug. Reduction operations on GPU are non-deterministic.

[2017-06-16 19:47] petewarden commented on #5913
The new graph transform approach fixes this issue:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms/#strip_unused_nodes

We need to update the documentation and code to mark the old strip_unused.py script as deprecated.

[2017-06-16 19:47] chihuahua commented on #6012
I closed this issue (because TensorBoard is moving into its own repo outside of tensorflow/tensorflow), and started another issue to track @vedhas's proposal of having the graph explorer provide SVGs: tensorflow/tensorboard#66

[2017-06-16 19:47] #6012 closed

[2017-06-16 19:47] aselle commented on #10747
How hard is this to repro on a very small example i.e. 1x4x4x1 image and 1 channel in 1 channel out filter of size 2 or 3? That might make it clearer what the problem is.

[2017-06-16 19:48] wchargin commented on #9083
I'm closing this due to inactivity, but please feel free to submit a PR to our new repository at https://github.com/tensorflow/tensorboard/pulls!

[2017-06-16 19:48] #9083 closed

[2017-06-16 19:48] #10234 closed

[2017-06-16 19:49] petewarden commented on #8665
One solution to this is to look at calling explicit initialization in the freeze_graph.py script, by specifying the `--initializer_nodes` argument:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/freeze_graph.py#L242

You'll need to know the name of the node that initializes your tables or other data structures though.

[2017-06-16 19:50] aselle commented on #4590
This is also an issue for strided_slice.

[2017-06-16 19:54] gunan commented on #10776
Our CI continuously build our docker images using our docker files without any issues.

So let's try something simpler to verify if your machine is setup correctly.
Could you try using the docker image checked into dockerhub tf repository? This is to verify if you have correct docker setup:

[code]

If the above works, then probably there is some issues with the environment variables.

[2017-06-16 19:54] chihuahua commented on #2602
I have migrated this issue to tensorflow/tensorboard#69 because TensorBoard has moved into its own repository (outside of tensorflow/tensorflow).

[2017-06-16 19:54] #2602 closed

[2017-06-16 19:54] martinwicke commented on #7962
Look at https://tensorflow.github.io/serving/serving_basic for docs. We'll have more soon.

[2017-06-16 19:54] #7962 closed

[2017-06-16 19:54] petewarden commented on #10754
From your description, it sounds like they're not being linked in, so you should look at what the command line that links all the .o files in the makefile logs looks like, and ensure it has the ones generated from the .cc's you want.

As a note, this sort of manual compilation will be a bit fragile, since you'll have to do the same steps #1 and #2 whenever ops are added or changed.

[2017-06-16 19:56] petewarden commented on #5757
We would like to see this too, but since x86 is not a priority for mobile, it hasn't been high enough on our task list to get done yet. We don't have plans to do this in the medium term.

[2017-06-16 19:56] wchargin commented on #7385
I've migrated this to our new repository at https://github.com/tensorflow/tensorboard/issues/70. Feel free to continue discussion there.

[2017-06-16 19:56] #7385 closed

[2017-06-16 19:57] nmiculinic commented on #10776
It responds with True. It found the correct GPU device.

[2017-06-16 19:57] petewarden commented on #8016
The generated C++ op interfaces are not built by the mobile build systems, either using Bazel or Makefiles. That means that the CC examples won't run unfortunately.

[2017-06-16 19:58] wchargin commented on #9094
Thank you for reporting, and thank you for the repro data and tracebacks!

I've migrated this to our new repository at https://github.com/tensorflow/tensorboard/issues/71.

[2017-06-16 19:58] #9094 closed

[2017-06-16 19:59] cancan101 commented on #7962
Yes I linked to that initially though there is no migration docs.

[2017-06-16 20:00] martinwicke commented on #6097
We used to have get_params, but we never supported (and will not support) set_params, so we took it out to avoid confusion.

This is something that SKCompat can (and should support). A PR would be welcome.

[2017-06-16 20:00] #8016 closed

[2017-06-16 20:01] ppwwyyxx commented on #10723
With " variable_update = replicated  local_parameter_device = gpu  use_nccl = true" I can get:
4GPU: 270im/s
8GPU: 530im/s
with Tesla M40s (roughly same speed as TitanX).

With "parameter_server" I can still get 4GPU:270im/s, 8GPU:470im/s which is faster than what's reported above. But my GPU topology may be better connected.

[2017-06-16 20:01] petewarden commented on #2807
The quantization is aimed at mobile performance, so most of the optimizations are for ARM not x86. We're hoping to get good quantization on Intel eventually, but we don't have anyone actively working on it yet.

[2017-06-16 20:02] #8020 closed

[2017-06-16 20:03] chihuahua commented on #322
We do not plan to make the graph explorer editable unless compelling reasons arise. One can run TensorFlow in colab and get quick feedback on how the graph looks like.

[2017-06-16 20:03] #322 closed

[2017-06-16 20:03] ebrevdo commented on #7204
Yes, someone sent in a PR.  We don't have any unit tests checking this case
sadly.

On Jun 16, 2017 11:30 AM, "Skye Wanderman-Milne" <notifications@github.com>
wrote:

[2017-06-16 20:04] itsmeolivia commented on #2164
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 20:04] jart commented on #4181
This issue has been migrated to https://github.com/tensorflow/tensorboard/issues/72.

[2017-06-16 20:04] #4181 closed

[2017-06-16 20:04] gunan commented on #10776
Then it looks to me like nvidia-docker and TF are clear in this issue.
one thing you can try to debug is this, remove the last line (the failing command) from your dockerfile.
Start a container with the image you build with the rest of the dockerfile, using nvidia-docker.
Locate libcuda.so.1 in this container, and try adding the path to your LD_LIBRARY_PATH, then running the last line manually in

[2017-06-16 20:04] girving commented on #8287
@cancan101 It looks like no one is working on it, or planning to work on it.  Is that right?

[2017-06-16 20:05] petewarden commented on #7141
There's no enough information on this bug yet unfortunately. Could you confirm you successfully followed the steps here?
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#ios

If that's true, please post reproduction steps so we can see the same error here.

[2017-06-16 20:05] wchargin commented on #2439
Closing due to inactivity. If this is still happening, please feel to open an issue in our new repository at https://github.com/tensorflow/tensorboard/issues. Thanks!

[2017-06-16 20:05] #2439 closed

[2017-06-16 20:07] ebrevdo commented on #5982
I believe this is fixed.

On Jun 16, 2017 10:29 AM, "Toby Boyd" <notifications@github.com> wrote:

[2017-06-16 20:08] dandelionmane commented on #10373
@fvisin The summary doesn't really have any control or influence over how things are retained on disk. Basically, everything written to disk stays there forever until you manually remove it.

There's some work on the TensorBoard side to switch TB over to using a sql database on the backend, at which point it would be feasible to just delete the old event files directly because a subset of their da

[2017-06-16 20:08] #10373 closed

[2017-06-16 20:08] jart commented on #10301
This issue has been migrated to https://github.com/tensorflow/tensorboard/issues/73.

[2017-06-16 20:08] #10301 closed

[2017-06-16 20:09] petewarden commented on #7813
The makefile is aimed at mobile development, and doesn't include a lot of functionality that the label_image example depends on (e.g. jpeg decoding, generated C++ operators). Closing this as working as intended.

[2017-06-16 20:09] #7813 closed

[2017-06-16 20:09] girving commented on #8181
@drpngx What's the status?

[2017-06-16 20:09] dandelionmane commented on #9800
Thanks to hard work by @jart, we no longer use gulp or package.json.

[2017-06-16 20:09] #9800 closed

[2017-06-16 20:09] wchargin commented on #5305
Thanks for the suggestion! I've migrated this to our new repository at https://github.com/tensorflow/tensorboard/issues/74. Feel free to continue the discussion or submit a PR there!

[2017-06-16 20:09] #5305 closed

[2017-06-16 20:09] petewarden commented on #8211
This is still an open issue, we'd like to see this too, but no recent progress has been made.

[2017-06-16 20:10] dandelionmane commented on #8188
Closing since we didn't hear a response. @haeusser feel free to re-open at https://github.com/tensorflow/tensorboard/issues

[2017-06-16 20:10] #8188 closed

[2017-06-16 20:10] chihuahua commented on #10292
I have migrated this issue to tensorflow/tensorboard#75 because TensorBoard has moved into its own repository. Lets continue discussion there.

[2017-06-16 20:10] #10292 closed

[2017-06-16 20:10] dandelionmane commented on #4355
Closing since we didn't hear a response. Feel free to reopen at https://github.com/tensorflow/tensorboard/issues

[2017-06-16 20:10] #4355 closed

[2017-06-16 20:12] petewarden commented on #8371
This is expected, but it should be possible to override this by defining the __ANDROID_TYPES_FULL__ macro:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/cwise_ops_common.h#L476

[2017-06-16 20:13] dandelionmane commented on #6603
Migrating this to https://github.com/tensorflow/tensorboard/issues/59

[2017-06-16 20:13] #6603 closed

[2017-06-16 20:13] aselle commented on #10708
Unfortunately, Windows support is highly experimental. Only cmake windows builds are unit tested. As is said on the web page. So what this means is that since you didn't get a response on StackOverflow and people have told you to make sure cudnn is properly getting detected. Probably nobody else has tried this yet, so you are on a trailblazing path.

[2017-06-16 20:13] #10708 closed

[2017-06-16 20:14] amnonh-uw commented on #10747
I can't do much smaller, but here is a 1x16x16x1 with a kernel size 7
[test_and_data.zip](https://github.com/tensorflow/tensorflow/files/1081842/test_and_data.zip)

[2017-06-16 20:14] ebrevdo commented on #7417
Indeed.  This op has been rewritten since the original report. Let's close
it and op can reopen if it still happens.

On Jun 16, 2017 11:24 AM, "Geoffrey Irving" <notifications@github.com>
wrote:

[2017-06-16 20:14] girving commented on #8485
XLA isn't yet supported beyond Linux.  Hopefully this will work eventually, but closing to reduce bug tracker clutter.

[2017-06-16 20:14] #8485 closed

[2017-06-16 20:14] ebrevdo commented on #7354
Yes, we got rid of this function.

On Jun 16, 2017 11:58 AM, "Skye Wanderman-Milne" <notifications@github.com>
wrote:

[2017-06-16 20:15] dandelionmane commented on #7631
I'm migrating this to https://github.com/tensorflow/tensorboard/issues/77. @chris-chris you're welcome to contribute on this. If you're still interested, let's discuss on the new issue at tensorboard/77.

[2017-06-16 20:15] #7631 closed

[2017-06-16 20:16] chihuahua commented on #2730
This issue has been migrated to tensorflow/tensorboard#76 because TensorBoard has migrated to a new repo (outside of tensorflow/tensorflow).

[2017-06-16 20:16] #2730 closed

[2017-06-16 20:16] gunan commented on #1820
I am closing this issue due to inactivity.
Also, we moved word2vec to our models repo.
If this is still a problem, please file an issue in the models repository.

[2017-06-16 20:16] #1820 closed

[2017-06-16 20:16] wchargin commented on #3495
Please feel free to submit PRs to our new repository at https://github.com/tensorflow/tensorboard! In the meantime, I'm closing this due to inactivity.

[2017-06-16 20:16] #3495 closed

[2017-06-16 20:16] petewarden commented on #9724
It's hard to say without knowing how the graph was exported, but in your script you set `is_training=False` when creating the Slim model. This will create a different model with some training-only variables and ops removed, which can be important for good results when running the graph.

[2017-06-16 20:17] girving commented on #3638
Related bug with the same "how to signal errors on GPU" problem: https://github.com/tensorflow/tensorflow/issues/3638.

[2017-06-16 20:18] aselle commented on #10735
@gongbudaizhe, @ppwwyyxx is correct about reproducibility. Please guantify the difference.

[2017-06-16 20:18] fchollet commented on #7791
That's an oversight, I will send out a fix. Thanks for the report.

[2017-06-16 20:19] girving commented on #5516
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:19] #5516 closed

[2017-06-16 20:19] jart commented on #8255
This issue has been migrated to https://github.com/tensorflow/tensorboard/issues/78.

[2017-06-16 20:19] #8255 closed

[2017-06-16 20:19] gunan commented on #7036
@martinwicke could you comment?

[2017-06-16 20:20] wookayin commented on #6405
Yeah, I think this is not necessary any more since it has been a while after TF 1.0 came out.

[2017-06-16 20:20] dandelionmane commented on #8177
I'm migrating this to https://github.com/tensorflow/tensorboard/issues/79, and assigning @dsmilkov and @nsthorat, who build the embedding projector, to take a look.

[2017-06-16 20:20] #8177 closed

[2017-06-16 20:21] girving commented on #6903
Agree that this is WAI, for better or worse.

[2017-06-16 20:21] #6903 closed

[2017-06-16 20:21] ringw commented on #10737
This also seems feasible to me.

[2017-06-16 20:22] gunan commented on #7036
Due to backwards compatibility guarantees, we will not be able to change anything under core.
Therefore, we are not going to be able to change this for most of TF.

[2017-06-16 20:22] #7036 closed

[2017-06-16 20:23] girving commented on #8454
Many ops are disabled on Android for code size reasons, so this is WAI unfortunately.

[2017-06-16 20:23] #8454 closed

[2017-06-16 20:23] paulcwatts opened #10779 "Mac + Python 3.6.1: Attempting to download mnist data results in CERTIFICATE_VERIFY_FAILED error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X 10.12.5
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.2.0-rc2-21-g12f033d 1.2.0
- **Bazel version (if compiling from source)**: n/a
- **CU

[2017-06-16 20:23] aselle commented on #10679
@ispirmustafa, could you have a look.

[2017-06-16 20:24] petewarden commented on #9809
Unfortunately we don't test on 32-bit x86 here, since it's not an officially supported platform and we don't have machines set up, so it's hard for us to do a fix. We'd welcome a PR with an update though, I'm guessing adding the right macro check at [1] would get things running?

[2017-06-16 20:25] #8593 closed

[2017-06-16 20:25] wchargin commented on #4672
I'm not sure that I can reproduce this. When I write `tensorboard --logdir x:/tmp/data,y:/tmp/moredata`, I can view data from both logdirs, and this still holds on refresh.

If you can provide a consistent repro case, please feel free to reopen this issue in our new repository at https://github.com/tensorflow/tensorboard/issues. Thanks!

[2017-06-16 20:25] #4672 closed

[2017-06-16 20:25] gunan commented on #5147
Closing as a duplicate of #2354

[2017-06-16 20:25] #5147 closed

[2017-06-16 20:25] jart commented on #2050
This issue has been migrated to https://github.com/tensorflow/tensorboard/issues/80.

[2017-06-16 20:25] #2050 closed

[2017-06-16 20:25] girving commented on #8594
@skye Did this fall through the cracks?

[2017-06-16 20:25] satok16 commented on #10738
@kzos
Most of the code is already submitted internally.  The remaining part will be submitted in a week, hopefully in a few days.  Stay tuned.

[2017-06-16 20:25] caisq commented on #8416
TensorFlow's Dockerfiles don't have any special settings on cpu-shares. I suspect this has to do with the way low-level dependencies of TF do multi-threading. This may involve eigen and stream_executor.

cc @benoitsteiner @rmlarsen

[2017-06-16 20:26] cancan101 commented on #10737
@ringw what do you think about exposing `_flat_transforms_to_matrices` ?

[2017-06-16 20:26] girving commented on #4836
@mrry Is this done?

[2017-06-16 20:26] aselle commented on #10779
Could you try with python2 (default system install of py)? Also,  how did you install with brew or macports (we use brew for our testing so that's more likely to work).

[2017-06-16 20:27] petewarden commented on #6124
Sorry we weren't able to give you a better solution for this one! We do generally recommend having separate graphs for training and inference, though that isn't well documented. Closing this bug since it looks like you have a workaround? Let me know if we should reopen it.

[2017-06-16 20:27] #6124 closed

[2017-06-16 20:28] girving commented on #4920
@yaroslavvb Is this resolved as of https://github.com/tensorflow/tensorflow/commit/b25d1c7d3e9f30925aa132ba62e79d281191a3dc?

[2017-06-16 20:28] girving commented on #4920
Closing for now since it looks like yes, but happy to reopen if not.

[2017-06-16 20:28] #4920 closed

[2017-06-16 20:29] aselle commented on #10768
OpenCL is highly experimental  right now, so marking community support. It also is not yet performant. Follow along #22 for more info.

[2017-06-16 20:29] MarkDaoust commented on #6551
This looks like it's been fixed.

I can `saver.save` and `saver.restore` a partitioned variable without trouble. If this is still a problem please post a minimal example of the code that is not working for you.

This line:

    softmax_w = tf.get_variable("softmax_w", [hps.vocab_size, hps.projected_size])

Fails for me with:

    ValueError: No partitioner was provided, but a partitioned version o

[2017-06-16 20:29] #6551 closed

[2017-06-16 20:30] dandelionmane commented on #8011
On it.

[2017-06-16 20:30] girving commented on #8277
@tfboyd Any ideas?

[2017-06-16 20:31] nectario commented on #10708
I am trying to wrap my ahead around why Windows support is highly experimental..... Isn't Windows a large installation base? Don't most of us have Nvidia cards?  Especially now that deep learning is becoming so popular, it's well worth the effort to make Windows/Java support stable.

Anyway, I will solve this myself. In the end, I may just write my own deep learning framework for Windows and Java.

[2017-06-16 20:31] petewarden commented on #8242
I'm not sure of the underlying issue here, but I'm hoping that the new graph transform approach to removing unused nodes might be more robust?
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms/#optimizing-for-deployment

[2017-06-16 20:32] girving commented on #8448
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:32] #8448 closed

[2017-06-16 20:33] paulcwatts commented on #10779
I installed Python 3.6 using the dmg installer from the Python website (not through brew or macports).

It seems to work with Python 2.7.10. I had thought that in Python 2.x urlretrieve didn't validate the server certificate, but apparently it does as of 2.7.9: https://docs.python.org/2/library/urllib.html

[2017-06-16 20:33] girving commented on #8581
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:33] #8581 closed

[2017-06-16 20:33] ringw commented on #10737
That's fine with me, if we also expose `_transform_matrices_to_flat` for consistency.

[2017-06-16 20:33] wchargin commented on #842
Happy to see that this is such a popular request! It sounds like this would be a perfect fit to be implemented as a new plugin/dashboard (like the scalars dashboard or image dashboard). We're actively working on a new plugin system that will make it easy for external contributors to create such plugins, either to use for themselves or share back to TensorBoard core. Keep an eye out in the coming m

[2017-06-16 20:33] #842 closed

[2017-06-16 20:33] girving commented on #8620
Closing since this is too open ended.  We'd be happy to accept PRs!

[2017-06-16 20:33] #8620 closed

[2017-06-16 20:34] #7354 closed

[2017-06-16 20:34] tfboyd commented on #3636
It seems really odd that the one core is being stressed.  Given you have two GTX 1080s I am assuming you have at least a 4 core 8 thread setup.

Using our benchmark code I have not had an issue feeding 1080s.  I 100% recognize that my code is not the same as this code.

I will leave this open a contributions welcome.  I looked over the example and I can see where it could use some help that might

[2017-06-16 20:34] dandelionmane commented on #10421
Migrating to tensorflow/tensorboard

[2017-06-16 20:34] #10421 closed

[2017-06-16 20:34] gunan commented on #3334
Ping! Is there work going on to fix this issue?
Should we reassign this?

[2017-06-16 20:35] girving commented on #7908
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:35] #7908 closed

[2017-06-16 20:35] #7204 closed

[2017-06-16 20:35] aselle commented on #10737
This sounds fine. @cancan101, I was confused that you meant "Transforms" in the general sense ... where contrast and brightness are a type of "transform" and you wanted to be able to create an op that undoes things. Would you be willing to submit a pull request @cancan101.

[2017-06-16 20:35] skye commented on #5913
Thanks, I'll close this then.

[2017-06-16 20:35] #5913 closed

[2017-06-16 20:36] girving commented on #8473
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:36] #8473 closed

[2017-06-16 20:36] dandelionmane commented on #6474
I don't own the tf.image module and don't intend to work on this. Going to mark it contributions welcome.

[2017-06-16 20:36] wchargin commented on #3368
CSV should be working fine in the current release, as should JSON.

@CJxD, thanks for sharing that workaround! Like @dandelionmane said, this isn't really high-priority for us at this time, so I'm closing it for now. If you like, feel free to open an issue in our new repository at https://github.com/tensorflow/tensorboard/issues. Thanks!

[2017-06-16 20:36] #3368 closed

[2017-06-16 20:36] petewarden commented on #8760
Sorry for the delay on this one. I'm not sure I understand the issue, is the error that the shape op is not included in Android builds by default? If so, this should be fixable by adding it to the list of kernels here in `:android_extended_ops_group2`:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/BUILD#L4222

[2017-06-16 20:36] girving commented on #8552
@jbalma Interested in submitting a pull request to remove the obsolete code?

[2017-06-16 20:37] girving commented on #8567
Closing since complex use of queues are deprecated in favor of @mrry's `tf.contrib.data`.

[2017-06-16 20:37] #8567 closed

[2017-06-16 20:38] skye commented on #5099
@w4nderlust @theweiho  is this still an issue?

[2017-06-16 20:38] hadamschek commented on #8385
Hi Caremzim,

thank you for providing your script. I used it, got the following response:
![image](https://user-images.githubusercontent.com/29492654/27243811-3c6b626e-52d3-11e7-87f3-cf724085a2d1.png)

If I just try to import, I get this
![image](https://user-images.githubusercontent.com/29492654/27243853-6f699122-52d3-11e7-95a4-121bc7908c40.png)

I have intalled cuda 7.5 with cudnn 5 on windows s

[2017-06-16 20:38] itsmeolivia commented on #5805
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 20:38] #5805 closed

[2017-06-16 20:39] girving commented on #8571
@ebrevdo What's the status of this issue?

[2017-06-16 20:40] girving commented on #8053
@vrv Spent some time analyzing this but didn't find any solutions.  Closing since I don't think we'll solve this without more information or insight.

[2017-06-16 20:40] #8053 closed

[2017-06-16 20:40] nmiculinic commented on #10776
Ok I solved it.

I added this two lines and modified problematic one:

RUN ln -s /usr/local/cuda/lib64/stubs/libcuda.so /usr/local/cuda/lib64/stubs/libcuda.so.1
RUN LD_LIBRARY_PATH=/usr/local/cuda/lib64/stubs/:$LD_LIBRARY_PATH python3 setup.py install
RUN rm /usr/local/cuda/lib64/stubs/libcuda.so.1
and that solved the issue. I guess tensorflow changed from implicit libcuda.so to explicit libcuda.s

[2017-06-16 20:40] #10776 closed

[2017-06-16 20:41] petewarden commented on #8914
I think this is actually related to #9809. In that bug I said we don't have a supported 32-bit x86 platform, but that's not true for the older iPhone emulators. I will close that one as a duplicate of this, and we'll aim to get this one fixed.

[2017-06-16 20:41] gunan commented on #3233
@drpngx looks like this is still a problem in the latest version.
Any updates on the problem?

[2017-06-16 20:41] skye commented on #7353
@fesun any update? Are you still experiencing this problem or can we close the issue?

[2017-06-16 20:42] vade commented on #5757
And just out of morbid curiosity- there is no plan to support GPU on Darwin/OSX at all due to continued adoption of AMD GPUs?

Sent from my iPhone

[2017-06-16 20:42] petewarden commented on #9809
Actually, I take that back. We do have a supported platform we can test on, older iPhone emulators use 32-bit x86, as shown in bug #8914. Since we're tracking this issue there, closing this as a duplicate.

[2017-06-16 20:42] #9809 closed

[2017-06-16 20:42] tfboyd commented on #7515
The PR was closed as it was adding the Op to core and not contrib.  It would be easy to move this to contrib using the code that was already written.

[2017-06-16 20:43] vrv commented on #8053
The only thing I could think of was that somehow the gpu allocation algorithm performs slightly differently when it has less memory because of the buddy allocation system, and it might be hitting a weird corner case where having more memory leads to more unreclaimable fragmentation, and thus an eventual OOM.  But we don't really have good enough tools to understand whether this is actually happeni

[2017-06-16 20:43] itsmeolivia commented on #8701
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 20:43] #8701 closed

[2017-06-16 20:43] skye commented on #7726
It looks like there's nothing to do here so closing this issue. Please reopen if I'm mistaken.

[2017-06-16 20:43] #7726 closed

[2017-06-16 20:43] itsmeolivia commented on #8905
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 20:43] #8905 closed

[2017-06-16 20:43] cancan101 commented on #8473
wait... the last comment on this thread was @skye taking a look at the issue.

[2017-06-16 20:44] itsmeolivia commented on #8937
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 20:44] #8937 closed

[2017-06-16 20:44] petewarden commented on #9272
We're going to be working on fusing ops like this as part of TF Lite, so I don't think this change will make it into the main code base. Closing, but please reopen if you strongly feel the fused ops should exist at this level.

[2017-06-16 20:44] #9272 closed

[2017-06-16 20:44] gunan commented on #720
@martinwicke could you comment?

[2017-06-16 20:44] itsmeolivia commented on #8950
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 20:44] #8950 closed

[2017-06-16 20:44] aselle commented on #6474
@TimZaman, I believe it is this way so that ops can be created to produce tensors in a deterministic way. If a bounding box is unused it can be given dummy values. Most ops in TensorFlow work better with direct indexable dense formats rather than the id-based sparse format you suggest. So I am closing for now.

[2017-06-16 20:44] #6474 closed

[2017-06-16 20:44] girving commented on #8589
`tf.contrib.crf` was written and then abandoned by the author.  Will be removed shortly.

[2017-06-16 20:44] #8589 closed

[2017-06-16 20:44] chihuahua commented on #10204
I have migrated this issue to tensorflow/tensorboard/issues#83 because TensorBoard has moved into a separate repository. Lets continue discussion there. The logic for writing text summaries will change in v1.3. The previous means had used a construct called the plugin assets manager, which relied on a certain `plugins` directory existing within each run to identify text summaries.

[2017-06-16 20:44] #10204 closed

[2017-06-16 20:45] petewarden commented on #9778
We don't intentionally exclude graph transform files for cmake, so I'd be happy to see all of these included by default. Passing back to @gunan for review.

[2017-06-16 20:45] apcode opened #10780 "1.2 release python pip version is incorrect"
The python pip package still has the version label 1.2.0-rc2 even though 1.2.0 was released proper today. Can you change please.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py#L32

[2017-06-16 20:46] skye commented on #8253
@gunan I'm assuming this has been cherry-picked into a release. I'm gonna close this, please reopen if it's still an issue.

[2017-06-16 20:46] #8253 closed

[2017-06-16 20:46] girving commented on #5757
Removed off topic comment about GPUs.

[2017-06-16 20:46] itsmeolivia commented on #1915
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 20:46] #1915 closed

[2017-06-16 20:47] #7417 closed

[2017-06-16 20:47] tatatodd commented on #8451
Indeed, contributions welcome!

[2017-06-16 20:48] itsmeolivia commented on #7954
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 20:48] #7954 closed

[2017-06-16 20:48] gunan commented on #4193
ping!
Any updates here?
Is this still a problem with TensorFlow 1.2?

[2017-06-16 20:48] aselle commented on #10779
It works me on python 3.4 on Linux. I'd try installing python3.6 using brew. It could be the python3 distrib you are using has out of data certificates.

[2017-06-16 20:49] yifeif commented on #971
Do we plan to add more build details or this can be closed?

[2017-06-16 20:49] cancan101 commented on #9272
I don't know what TF Lite is, but I guess I do think this would be valuable for TF main.

[2017-06-16 20:49] martinwicke commented on #720
It will become more interesting as we fix the problems with our linkage / symbol visibility. But for now, I'm reluctant to maintain more packages.

I would still welcome contributions here.

[2017-06-16 20:49] girving commented on #8645
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:49] #8645 closed

[2017-06-16 20:50] itsmeolivia commented on #5243
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 20:50] #5243 closed

[2017-06-16 20:50] girving commented on #8484
Closing for now since this needs the same unimplemented mechanism for GPU error reporting that https://github.com/tensorflow/tensorflow/issues/2594 and https://github.com/tensorflow/tensorflow/issues/3638 require.

[2017-06-16 20:50] #8484 closed

[2017-06-16 20:51] petewarden commented on #8642
Unfortunately using the name to detect conditionals is pretty fragile, since lots of non-conditionals could match ".*/cond.*" too. As a workaround, it might be better to supply a list of node names or patterns not to remove as an argument to the function.

[2017-06-16 20:51] girving commented on #8715
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:51] #8715 closed

[2017-06-16 20:52] skye commented on #8311
@eddiepierce is your issue resolved? I'm gonna close this, but please let me know if it should be reopened. Thanks.

[2017-06-16 20:52] #8311 closed

[2017-06-16 20:52] girving commented on #8315
@fxsuper Yep, no one at Google is working on this.

[2017-06-16 20:53] drasmuss commented on #2314
Does that mean that there are no plans to implement SparseApply operators for the GPU (or that they've already been added)?  Or is there another issue tracking that feature? I'd just been following this one waiting for updates.

[2017-06-16 20:53] petewarden commented on #9914
I'm hoping transform_graph will be added by default to pip in #9778. Since that looks like the only remaining issue, closing as a duplicate of that one. Let me know if I've missed something!

[2017-06-16 20:53] #9914 closed

[2017-06-16 20:53] skye commented on #6195
@danielgordon10 @ankitp94 are you still experiencing this issue?

[2017-06-16 20:53] girving commented on #8626
@skye Vaguely thinks it's fixed.  Happy to reopen if not.

[2017-06-16 20:54] #8626 closed

[2017-06-16 20:54] itsmeolivia commented on #8857
friendly ping, Derek: is this something that's still useful for users?

[2017-06-16 20:54] aselle commented on #10708
I empathize that you are super frustrated, but as a developer, you must know that we don't have unlimited time to support everything ourself. You are likely one of the few people that have tried to setup Windows/Java/GPUs together. As such we really would appreciate if you solve this problem and contribute it back to the community. We hope that even going through that effort will save you time ove

[2017-06-16 20:54] skye commented on #8057
@faddey-w any update on this? Is this still an issue or has it been resolved?

[2017-06-16 20:55] girving commented on #1763
@martinwicke Have your thoughts evolved?

[2017-06-16 20:55] girving commented on #309
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:55] gunan commented on #4617
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:55] #4617 closed

[2017-06-16 20:55] gunan commented on #4614
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:55] #4614 closed

[2017-06-16 20:56] girving commented on #4847
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:56] #4847 closed

[2017-06-16 20:56] itsmeolivia commented on #8779
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 20:56] #8779 closed

[2017-06-16 20:56] yifeif commented on #7394
@asimshankar do we plan to add a check or this is expected?

[2017-06-16 20:57] gunan commented on #7023
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:57] #7023 closed

[2017-06-16 20:57] girving commented on #5488
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:57] #5488 closed

[2017-06-16 20:57] itsmeolivia commented on #8726
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 20:57] #8726 closed

[2017-06-16 20:57] itsmeolivia commented on #8698
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 20:57] #8698 closed

[2017-06-16 20:57] gunan commented on #5804
@fredbertsch Any updates here?
Is this still a problem?

[2017-06-16 20:58] gunan commented on #7123
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 20:58] #7123 closed

[2017-06-16 20:58] petewarden commented on #10199
@gunan just got a fix for these warnings into our internal tree, so it should be fixed once that's merged with github. Assigning to him, since he did the work!

[2017-06-16 20:59] MarkDaoust commented on #6814
This is working in both r1.2 and master.

[2017-06-16 20:59] #6814 closed

[2017-06-16 21:00] gunan commented on #8394
Clang build is now running nightly. Closing this issue.

[2017-06-16 21:00] #8394 closed

[2017-06-16 21:00] itsmeolivia commented on #8871
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:00] #8871 closed

[2017-06-16 21:01] girving commented on #2314
@drasmuss It's been contributions welcome since November, and the person who said they might do it went a different direction.  We'd be happy to accept pull requests, but we're closing issues where no activity is on the horizon.  Would you like to submit a PR?

[2017-06-16 21:01] itsmeolivia commented on #8818
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:01] #8818 closed

[2017-06-16 21:01] yifeif commented on #8049
Closing this. @aselle feel free to reopen if upgrade script needs to be updated.

[2017-06-16 21:01] #8049 closed

[2017-06-16 21:02] gunan commented on #8709
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:02] #8709 closed

[2017-06-16 21:02] aselle commented on #10729
Josh also suggested there is a := syntax that lets you remove the constraint part in the docs and provide your own text completely.

[2017-06-16 21:02] itsmeolivia commented on #8797
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:02] #8797 closed

[2017-06-16 21:02] girving commented on #6624
@elibixby What's the status of this issue?

[2017-06-16 21:02] itsmeolivia commented on #7727
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:02] #7727 closed

[2017-06-16 21:03] itsmeolivia commented on #7217
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:03] #7217 closed

[2017-06-16 21:03] girving commented on #7031
Closing as WAI.

[2017-06-16 21:03] #7031 closed

[2017-06-16 21:03] #8288 closed

[2017-06-16 21:03] itsmeolivia commented on #4536
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:03] #4536 closed

[2017-06-16 21:04] girving commented on #8786
@martinwicke Did that rollback happen?

[2017-06-16 21:04] itsmeolivia commented on #3681
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:04] #3681 closed

[2017-06-16 21:04] girving commented on #8795
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:04] #8795 closed

[2017-06-16 21:04] caisq commented on #10780
@apcode, the master branch hasn't been updated yet. The release is generated from the r1.2 branch, which is in the process of being merged back to the master branch. Once the merge is done, master will be at 1.2.0 as well.

[2017-06-16 21:04] #10780 closed

[2017-06-16 21:05] aselle commented on #10780
That usually happens when we remerge the 1.2.0 branch back into master. This is normal. Thanks for the comment.

[2017-06-16 21:05] itsmeolivia commented on #8805
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:05] #8805 closed

[2017-06-16 21:05] gunan commented on #8734
I think @tfboyd was able to run TF on AWS successfully. Could you comment?

[2017-06-16 21:05] yifeif commented on #8182
@joel-shor could you take another look? Thanks!

[2017-06-16 21:05] girving commented on #8804
@ebrevdo Is future activity likely?

[2017-06-16 21:06] girving commented on #9357
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:06] #9357 closed

[2017-06-16 21:06] martinwicke commented on #1763
No, still a good idea, and still a lot of work, and in some cases, hard to get right.

[2017-06-16 21:06] tfboyd commented on #7776
https://github.com/tensorflow/tensorflow/pull/10781

Apologies that I did not understand the issue as much until I just started building on OS X as of last night.  Added the PR where I added the small change.  I hope to re do the build in the new few weeks but this is a great little add to have incase it takes a long time.

[2017-06-16 21:06] girving commented on #9406
Closing since apparently it's fixed.

[2017-06-16 21:06] #9406 closed

[2017-06-16 21:07] allenlavoie commented on #309
New information: probably going to be the (very) beginning of Q3 rather than the end of Q2. Definitely in contrib for 1.3.

Re-opening because this is still relevant.

[2017-06-16 21:07] skye commented on #8517
@jw447 are you still experiencing this problem?

[2017-06-16 21:07] girving commented on #9413
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:07] #9413 closed

[2017-06-16 21:07] paulcwatts commented on #10779
This might have also been because I recently switched to a new machine and it's still only partially installed :)

For future reference: if you want to use the Python dmg installer, you also have to read Python 3's ReadMe and run the `/Applications/Python 3.6/Install Certificates.command` bash script to install newer certs.

Thanks for the quick response, @aselle!

[2017-06-16 21:07] #10779 closed

[2017-06-16 21:07] girving commented on #9414
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:07] #9414 closed

[2017-06-16 21:08] #8772 closed

[2017-06-16 21:08] itsmeolivia commented on #9034
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:08] #9034 closed

[2017-06-16 21:08] girving commented on #9424
Apparently fixed in https://github.com/tensorflow/tensorflow/pull/9448.

[2017-06-16 21:08] #9424 closed

[2017-06-16 21:09] itsmeolivia commented on #9042
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:09] #9042 closed

[2017-06-16 21:09] gunan commented on #7848
@xavigonzalvo Any updates?

[2017-06-16 21:10] itsmeolivia commented on #9172
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:10] #9172 closed

[2017-06-16 21:10] girving commented on #1661
I think this is unlikely to happen in a way that makes anyone happy, so closing.  All applications of 4D convs that I know of will almost certainly be forced to use special factorizations for efficiency.

[2017-06-16 21:10] #1661 closed

[2017-06-16 21:10] girving commented on #9513
I think this is unlikely to happen in a way that makes anyone happy, so closing. All applications of 4D convs that I know of will almost certainly be forced to use special factorizations for efficiency.

[2017-06-16 21:10] #9513 closed

[2017-06-16 21:10] itsmeolivia commented on #9188
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:10] #9188 closed

[2017-06-16 21:11] skye commented on #8560
@poxvoculi @zheng-xq have any of the solutions discussed been committed?

[2017-06-16 21:11] gunan commented on #8717
Looks like there is a workaround posted. Closing this issue.

[2017-06-16 21:11] #8717 closed

[2017-06-16 21:11] stephenroller commented on #2314
As far as I can tell, this may have actually been addressed by
https://github.com/tensorflow/tensorflow/commit/67443722b26c3585d860d44e7069d997300a7187
On Fri, Jun 16, 2017 at 16:07 Geoffrey Irving <notifications@github.com>
wrote:

[2017-06-16 21:11] junshi15 commented on #9926
This was in RoCE config? If so, have you tried IB mode?

Did this happen at the very beginning of the training, likely the very first step? Or do you have evidence that this happened in the middle of training, i.e. there were a few successful steps prior to these errors.

I am wondering if this is still related to connection issues, i.e. the connection was not really established. Although, I do no

[2017-06-16 21:11] girving commented on #9416
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:11] #9416 closed

[2017-06-16 21:12] girving commented on #9437
Closing since this is very low priority.  PRs welcome, though!

[2017-06-16 21:12] #9437 closed

[2017-06-16 21:12] gunan commented on #8687
@jhseu any updates?

[2017-06-16 21:12] girving commented on #9450
Closing since @yuanbyu is gone.

[2017-06-16 21:12] #9450 closed

[2017-06-16 21:12] aselle commented on #10680
Thank you your new description is much more clear!

[2017-06-16 21:12] skye commented on #8731
Has this been resolved? I'm gonna close, but please lemme know if I should reopen.

[2017-06-16 21:12] #8731 closed

[2017-06-16 21:13] MarkDaoust commented on #6774
This issue still exists in r1.2.

[2017-06-16 21:14] gunan commented on #8624
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:14] #8624 closed

[2017-06-16 21:15] av8ramit commented on #9042
I have added the functionality to include headers in the cmake build.

[2017-06-16 21:15] skye commented on #5722
It appears this has been resolved. I'm gonna close, but please let me know if it should be reopened.

[2017-06-16 21:15] #5722 closed

[2017-06-16 21:15] magixsno commented on #10640
I no longer have access to the machine I was developing on, but I'll get you the stack trace as soon as I get my home machine set up.

[2017-06-16 21:15] #7403 closed

[2017-06-16 21:15] gunan commented on #8561
Looks like this is already fixed by #8690.
Closing issue.

[2017-06-16 21:15] #8561 closed

[2017-06-16 21:15] aselle commented on #10677
Can you give example code that exhibits the problem. Essentially when you call session.run() you ask for a given op and every dependent of that has to be run. You have a dependency on something called "Gradients/..." (that's where the error is showing up). I feel like you might be pulling on a training op or something dependent on a training op. If not, it is somewhat strange. Either way you could

[2017-06-16 21:16] girving commented on #7543
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:16] #7543 closed

[2017-06-16 21:16] Robomate commented on #10777
just these two lines:
[code]
anyway looks like old code which might be changed to
`map_fn = tf.map_fn` ?

I am closing this issue, because it works. Thanks

[2017-06-16 21:17] gunan commented on #8554
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:17] #8554 closed

[2017-06-16 21:17] pierluigiferrari commented on #8734
@gunan It's been a while so I'm not a hundred percent sure if I remember correctly, but I believe the issue was that an automatic unattended NVIDIA GPU driver update that ran in the background broke everything, because the K520 GPUs in the AWS g2.2xlarge instances were too old and incompatible with whatever driver version updater tried to install. It left the system in an inconsistent state. That

[2017-06-16 21:18] skye commented on #6256
Ping -- is anyone still looking at this issue or should we close it?

[2017-06-16 21:18] girving commented on #4821
@petewarden Is this deprecated code?

[2017-06-16 21:18] aselle commented on #10677
Also check out this for more info... https://codelabs.developers.google.com/codelabs/tensorflow-for-poets-2/#0

[2017-06-16 21:18] #10777 closed

[2017-06-16 21:19] girving commented on #5061
This is a models issue, not a tensorflow core issue.

[2017-06-16 21:19] #5061 closed

[2017-06-16 21:19] itsmeolivia commented on #9255
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:19] #9255 closed

[2017-06-16 21:19] dandelionmane commented on #5381
Take a look here. https://www.tensorflow.org/versions/master/get_started/tensorboard_histograms

Or in the README for the dashboard, seen here: https://github.com/tensorflow/tensorboard/blob/master/tensorboard/plugins/histograms/README.md

[2017-06-16 21:19] #5381 closed

[2017-06-16 21:20] dandelionmane commented on #10397
Please try running `pip install tensorflow-tensorboard` to get the latest TensorBoard. If it's still broken, file an issue at https://github.com/tensorflow/tensorboard

[2017-06-16 21:20] #10397 closed

[2017-06-16 21:20] girving commented on #9501
@petewarden Xor encryption, really?

[2017-06-16 21:20] girving commented on #9501
Closing as out of scope for TensorFlow.

[2017-06-16 21:20] #9501 closed

[2017-06-16 21:21] girving commented on #9501
I'll give Pete the benefit of the doubt and assume that by xor he meant AES-GCM.

[2017-06-16 21:22] dandelionmane commented on #6322
You can also check out my [TF Dev summit talk](https://www.youtube.com/watch?v=eBbEDRsCmv4) and associated [code](https://github.com/dandelionmane/tf-dev-summit-tensorboard-tutorial).

Anyway, we should add a canonical demo for the projector. I'm going to migrate this issue to tensorflow/tensorboard.

[2017-06-16 21:22] #6322 closed

[2017-06-16 21:23] girving commented on #9507
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:23] #9507 closed

[2017-06-16 21:23] ebrevdo commented on #8804
Yes, it's just lower priority but hope to fix by tf 1.3.

On Jun 16, 2017 2:06 PM, "Geoffrey Irving" <notifications@github.com> wrote:

[2017-06-16 21:24] ebrevdo commented on #7727
The move will happen by tf 1.3.

On Jun 16, 2017 2:03 PM, "Olivia" <notifications@github.com> wrote:

[2017-06-16 21:24] petewarden commented on #9961
What's the best way to reproduce this, since I believe the standard Windows cmake builds are working? Is there a script I can run to kick off a test that shows this error?

[2017-06-16 21:24] MarkDaoust commented on #6015
This is fixed.

[2017-06-16 21:24] #6015 closed

[2017-06-16 21:25] yifeif commented on #8431
We are currently working on CuDNN6.0 support, cc @tfboyd,

[2017-06-16 21:26] martinwicke commented on #8786
I believe so.

[2017-06-16 21:26] #8786 closed

[2017-06-16 21:26] itsmeolivia commented on #363
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:26] #363 closed

[2017-06-16 21:27] amnonh-uw commented on #10747
P.S.  You can run a docker image of caffe from here: https://github.com/BVLC/caffe/tree/master/docker
then simply pip install tensorflow

[2017-06-16 21:27] petewarden commented on #10458
It's hard to tell what the underlying cause is here. Can you try removing some of the transforms to narrow it down to which one is causing your inaccuracies?

[2017-06-16 21:27] girving commented on #254
Closing since Raspberry Pi binaries exist.

[2017-06-16 21:27] #254 closed

[2017-06-16 21:28] itsmeolivia commented on #9184
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:28] #9184 closed

[2017-06-16 21:28] girving commented on #3810
Closing due to lack of activity, but we're happy to accept PRs if someone wants to improve the situation.

[2017-06-16 21:28] #3810 closed

[2017-06-16 21:28] petewarden commented on #10463
Thanks @androbin! I'll close this bug since that fixes the documentation.

[2017-06-16 21:28] #10463 closed

[2017-06-16 21:29] bbouffaut commented on #10714
Thanks @aselle @sampepose for the idea. I already tried this solution and it did not work, but I'm not sure where the option shall be applied: in the "bazel build" command of the custom op? or in the "bazel buil" of tensorflow? or elsewhere ? Many thanks for your help.

[2017-06-16 21:29] girving commented on #7116
@drpngx What's the status of this issue?

[2017-06-16 21:30] #10483 closed

[2017-06-16 21:30] girving commented on #4044
Closing since we don't have a simple repro case.

[2017-06-16 21:30] itsmeolivia commented on #9230
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:31] skye commented on #7938
@petewarden is there still work to do here?

[2017-06-16 21:31] girving commented on #9132
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:31] #9132 closed

[2017-06-16 21:31] girving commented on #9521
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:31] #9521 closed

[2017-06-16 21:32] girving commented on #9528
I'd also recommend reading the published papers on TensorFlow.  E.g., http://download.tensorflow.org/paper/whitepaper2015.pdf.

[2017-06-16 21:32] #9528 closed

[2017-06-16 21:32] gunan commented on #8734
@pierluigiferrari Thank you very much for the status update. Then I will close this issue.

[2017-06-16 21:32] #8734 closed

[2017-06-16 21:32] itsmeolivia commented on #9298
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:32] #9298 closed

[2017-06-16 21:32] chihuahua commented on #5276
I migrated this issue to tensorflow/tensorboard#87 because TensorBoard has moved into its own, separate repo. Lets continue discussion there.

[2017-06-16 21:32] #5276 closed

[2017-06-16 21:33] skye commented on #9419
Closing since this seems to have generated some useful suggestions. Please let me know if there is still an outstanding issue.

[2017-06-16 21:33] #9419 closed

[2017-06-16 21:34] girving commented on #9234
@rmlarsen Do you want to take a look or triage further?

[2017-06-16 21:34] skye commented on #9465
Marking this contributions welcome, if anyone wants to dig in and pick this up...

[2017-06-16 21:34] yifeif commented on #9709
Website has been updated. Closing this.

[2017-06-16 21:34] #9709 closed

[2017-06-16 21:35] danbri commented on #254
@samjabrahams what are your plans w.r.t. the pi binaries? is the build process any easier than last year?

[2017-06-16 21:36] girving commented on #9511
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:36] #9511 closed

[2017-06-16 21:37] gunan commented on #1045
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:37] #1045 closed

[2017-06-16 21:37] skye commented on #6749
Marking this as contributions welcome. @ilblackdragon please let me know if you plan to fix this.

[2017-06-16 21:38] MarkDaoust commented on #6714
@kencoken, given the inactivity here It sounds like that solved your problem.

[2017-06-16 21:38] #6714 closed

[2017-06-16 21:38] skye commented on #9379
Closing due to lack of recent activity. Please reopen if this is still an issue.

[2017-06-16 21:38] #9379 closed

[2017-06-16 21:39] girving commented on #5464
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:39] #5464 closed

[2017-06-16 21:39] itsmeolivia commented on #2682
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:39] #2682 closed

[2017-06-16 21:40] gunan commented on #6729
Looks like there were a few workarounds posted.
I am closing this issue, as we also dropped support for NVIDIA GPU support on MacOS.

[2017-06-16 21:40] #6729 closed

[2017-06-16 21:41] skye commented on #9405
Closing due to lack of recent activity. Please reopen if this is still an issue.

[2017-06-16 21:41] #9405 closed

[2017-06-16 21:41] girving commented on #7750
Looks like https://github.com/tensorflow/tensorflow/pull/9631 fixed this.

[2017-06-16 21:41] #7750 closed

[2017-06-16 21:42] skye commented on #9434
@slavakung did you manage to resolve this?

[2017-06-16 21:43] girving commented on #9549
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:43] #9549 closed

[2017-06-16 21:43] PaulDufort commented on #6999
The latest successful build (followed by many days of failures!) of the win64, Python 3.6, GPU version (https://ci.tensorflow.org/view/Nightly/job/nightly-win/M=windows-gpu,PY=36/) appears to have been on June 7th. Has anyone tried that one? Thanks!

[2017-06-16 21:43] skye commented on #9454
Closing due to lack of recent activity. Please reopen if this is still an issue.

[2017-06-16 21:43] #9454 closed

[2017-06-16 21:43] girving commented on #9581
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:43] #9581 closed

[2017-06-16 21:43] itsmeolivia commented on #6391
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:43] #6391 closed

[2017-06-16 21:44] girving commented on #6095
Fixed by https://github.com/tensorflow/tensorflow/pull/9276.

[2017-06-16 21:44] #6095 closed

[2017-06-16 21:45] chihuahua commented on #7911
I am going to tentatively close this issue because I cannot reproduce it. Feel free to re-open as an issue within the new repository for TensorBoard: https://github.com/tensorflow/tensorboard/issues

tensorflow/tensorflow will no longer accept TensorBoard-related issues. I am sorry for not having responded.

I did though file a different but related issue: tensorflow/tensorboard#88

[2017-06-16 21:45] #7911 closed

[2017-06-16 21:45] girving commented on #9496
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:45] #9496 closed

[2017-06-16 21:45] #8566 closed

[2017-06-16 21:45] gunan commented on #9359
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:45] girving commented on #9613
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 21:45] #9613 closed

[2017-06-16 21:46] jart commented on #10383
Closing due to inactivity. If you still believe there's a bug in TensorFlow or TensorBoard, let me know and I'll re-open.

[2017-06-16 21:46] #10383 closed

[2017-06-16 21:46] girving commented on #9636
Closing as not feasible given importance.

[2017-06-16 21:46] #9636 closed

[2017-06-16 21:46] itsmeolivia commented on #7389
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:46] #7389 closed

[2017-06-16 21:47] yifeif commented on #9679
@davidzchen could you take a look? Thanks!

[2017-06-16 21:47] Carmezim commented on #8385
@hadamschek Hi, that is not my script but you can thank @mrry for kindly create it :)
Your error is due your CUDA version. If you refer to TensorFlow docs you will notice only CUDA 8.0 is supported on Windows. If you install it with cuDNN 5.1 for CUDA 8.0 you might solve this issue. Also I don't really know about Windows Server but you OS needs to be 64-bit as well as Python. Let me know if you fa

[2017-06-16 21:48] gunan commented on #9363
Looks like you did not run `./configure` before building.
Please make sure to run `./configure` before running `bazel build`

[2017-06-16 21:48] #9363 closed

[2017-06-16 21:48] dandelionmane commented on #9953
As Ali correctly diagnosed, the upload button only accepts graph pbtxts, not event files. Closing this issue.

[2017-06-16 21:48] #9953 closed

[2017-06-16 21:48] itsmeolivia commented on #8926
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 21:49] dandelionmane commented on #9480
Migrating to tensorflow/tensorboard.

[2017-06-16 21:49] #9480 closed

[2017-06-16 21:50] skye commented on #9616
Closing due to lack of activity. Please reopen if this is still an issue.

[2017-06-16 21:50] #9616 closed

[2017-06-16 21:51] itsmeolivia commented on #9307
friendly ping: is this still an issue?

[2017-06-16 21:51] skye commented on #6466
@protoget has this been resolved?

[2017-06-16 21:52] dandelionmane commented on #9614
Closing since it sounds like Justine's solution works.

[2017-06-16 21:52] #9614 closed

[2017-06-16 21:53] gunan commented on #217
In some of these checks, we are bound by google's style. Therefore, I think the amount of enforcement for pep8 we have in place right now will stay.
Closing this issue, please reopen if you think there needs to be more discussion on this.

[2017-06-16 21:53] #217 closed

[2017-06-16 21:53] dandelionmane commented on #9512
This is a known issue, TensorBoard doesn't like it when you write multiple event files from separate runs in the same directory. It will be fixed if you use a new subdirectory for every run (new hyperparameters = new subdirectory).

[2017-06-16 21:53] #9512 closed

[2017-06-16 21:53] #7585 closed

[2017-06-16 21:54] skye commented on #7585
Thanks for confirming the fix everyone.

[2017-06-16 21:56] skye commented on #9600
Closing this issue since it looks like the corresponding PR has been merged. Please let me know if I should reopen.

[2017-06-16 21:56] #9600 closed

[2017-06-16 21:56] girving commented on #7755
@chrisranderson Is this fixed, or is there a code fix warranted?

[2017-06-16 21:56] yifeif commented on #6120
Do we still plan to this, @petewarden @girving?

[2017-06-16 21:56] #9689 closed

[2017-06-16 21:56] skye commented on #9689
Closing due to inactivity.

[2017-06-16 21:58] skye commented on #9690
@benoitsteiner are you planning to do this? If not, please unassign yourself and mark contributions welcome if appropriate.

[2017-06-16 21:58] skye commented on #6265
@ravindranathbr any update on this?

[2017-06-16 21:58] girving commented on #9356
`decode_png` and `decode_jpeg` now decode all formats.

[2017-06-16 21:58] #9356 closed

[2017-06-16 22:00] girving commented on #9588
This is too broad, so I'm going to close.  More specific sparse tensor ops should be filed as separate issues (or submitted as PRs).

[2017-06-16 22:00] #9588 closed

[2017-06-16 22:00] dandelionmane commented on #8199
Migrated this to the TensorBoard repo.

[2017-06-16 22:00] #8199 closed

[2017-06-16 22:01] skye commented on #9777
Closing due to lack of activity. Please reopen if this is still an issue.

[2017-06-16 22:01] #9777 closed

[2017-06-16 22:02] chrisranderson commented on #7755
@girving I'd call it "band-aid fixed". Fully fixed would mean I could do whatever I wanted with opencv and not have it affect TensorFlow, I think. I have no idea why this happens or what the situation is, so maybe it's actually opencv's fault, or nvidia's fault or something.

[2017-06-16 22:02] skye commented on #9783
I'm assuming this works by now, please let me know if I'm mistaken.

[2017-06-16 22:02] #9783 closed

[2017-06-16 22:03] dandelionmane commented on #8887
Closing this issue, since as PhilJd correctly points out, the sprites are independent from the training data.

[2017-06-16 22:03] #8887 closed

[2017-06-16 22:03] aselle commented on #10757
It seems like there is a problem in Eigen's broadcasting code. Unfortunately we have no way to test or run on ppc64le, so we can't officially support it.

[2017-06-16 22:04] girving commented on #9744
Closing since specifying the initializer is the right solution.

[2017-06-16 22:04] #9744 closed

[2017-06-16 22:05] girving commented on #4419
A better error message would be nice, but I don't think a default initializer is a good idea: integers frighten and confuse me.

[2017-06-16 22:05] #4419 closed

[2017-06-16 22:06] girving commented on #7128
@yaroslavvb What's the status here?

[2017-06-16 22:07] gunan commented on #9324
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 22:07] #9324 closed

[2017-06-16 22:07] itsmeolivia commented on #5303
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 22:07] #5303 closed

[2017-06-16 22:08] girving commented on #6120
@yifeif I'm unlikely to get to this before I vanish.

[2017-06-16 22:08] lxwgcool commented on #10665
@aselle @gunan @RustingSword
Hi All,
Good news: I just compiled gpu version of tensorflow 1.2.0-rc2 successfully. I did several additional things as below:
1: Thanks @RustingSword , I replaced all of "/apps2" by "/gpfs/gpfs1/apps2" to avoid the potential problem of auto-mount in our parallel file system.
2: For the file: tensorflow/third_party/gpus/crosstool/CROSSTOOL_nvcc.tpl, replace:
   "tool_p

[2017-06-16 22:10] itsmeolivia commented on #4478
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 22:10] #4478 closed

[2017-06-16 22:11] gunan commented on #9326
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 22:11] #9326 closed

[2017-06-16 22:11] itsmeolivia commented on #9816
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 22:11] #9816 closed

[2017-06-16 22:12] girving commented on #7755
Alas!  I'm going to close, but with sadness.  Let us know if a clearer picture ever emerges.

[2017-06-16 22:12] #7755 closed

[2017-06-16 22:12] skye commented on #9307
Yes, I believe this is a case of #9525

[2017-06-16 22:13] girving commented on #5688
@tfboyd Any ideas?

[2017-06-16 22:13] chihuahua commented on #8387
I migrated this issue to tensorflow/tensorboard#93 because TensorBoard has moved out of the TensorFlow repository and into the new tensorflow/tensorboard repository. Lets continue discussion there.

[2017-06-16 22:13] #8387 closed

[2017-06-16 22:14] jart commented on #10227
Since the NGINX workaround seems sufficient, I'm going to close this one out.

Please note that we're planning to productionize TensorBoard. Things like CORS will be part of our configuration scripts. Please follow https://github.com/tensorflow/tensorboard/issues/92 for more information.

With that said, I'm going to close this one out. If anyone feel strongly that header customization or CORS sho

[2017-06-16 22:14] #10227 closed

[2017-06-16 22:14] itsmeolivia commented on #8511
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 22:14] #8511 closed

[2017-06-16 22:15] girving commented on #9846
I don't think we're going to support third party string types.

[2017-06-16 22:15] #9846 closed

[2017-06-16 22:15] ebrevdo commented on #6391
BTW this op now has a gradient.

On Jun 16, 2017 2:45 PM, "Olivia" <notifications@github.com> wrote:

[2017-06-16 22:15] itsmeolivia commented on #7258
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 22:15] #7258 closed

[2017-06-16 22:16] av8ramit commented on #9890
Closing due to lack of activity. Please respond to @skye 's question and reopen if necessary.

[2017-06-16 22:16] #9890 closed

[2017-06-16 22:17] aselle commented on #10767
@gfolego, could you give some motivation for why this is needed. It seems you worry that there is a trivial null-space to the loss function where you return constant 1's as your logits which causes zero loss since every class is in top_k. However, with random weight initialization this doesn't seem likely to be found with sgd since the gradient will not reliably target that.

[2017-06-16 22:17] ebrevdo commented on #8571
I think this is fixed in tf 1.2... OP can you confirm?

On Jun 16, 2017 1:40 PM, "Geoffrey Irving" <notifications@github.com> wrote:

[2017-06-16 22:17] girving commented on #8347
Glad you found a workaround!

[2017-06-16 22:17] #8347 closed

[2017-06-16 22:17] girving commented on #9489
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 22:18] samjabrahams commented on #254
@danbri - The process is a little smoother than it was at the end of last year, but it's still pretty much the same (in terms of needing to compile on-device). We don't need to compile `protoc` from scratch anymore, and there's less finagling overall- there's basically only five changes you need to make to Bazel and TensorFlow, total.

I haven't had the time to put much effort into trying out cros

[2017-06-16 22:18] girving commented on #9634
@jart What's the status of this issue?

[2017-06-16 22:19] girving commented on #9915
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 22:19] #9915 closed

[2017-06-16 22:19] itsmeolivia commented on #6803
Feel free to send a PR ([this](https://help.github.com/articles/merging-a-pull-request/) might help if you're not sure how to contribute!!) otherwise, I am closing this issue now

[2017-06-16 22:19] #6803 closed

[2017-06-16 22:19] aselle commented on #10755
Could you take a look @concretevitamin , please?

[2017-06-16 22:20] girving commented on #10083
@ebrevdo What's the status of this issue?

[2017-06-16 22:20] adennie commented on #9525
Any updates on this issue?  My project is kind of blocked by the inability to build a debug tensorflow DLL.

[2017-06-16 22:20] girving commented on #10103
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 22:20] #10103 closed

[2017-06-16 22:20] jart commented on #9750
Yes please upgrade to a more recent version of TensorFlow. In early January we added redundant mirrored URLs to our download configs. The new configuration is 99.9% reliable. It works even if GitHub goes down. Let us know if it still doesn't work.

[2017-06-16 22:20] #9750 closed

[2017-06-16 22:20] gunan commented on #9319
Ping!
Any updates here?

[2017-06-16 22:21] tfboyd commented on #5416
@mortada I am closing this based on the original bug.  For the incorrect reports of GPUs issue please open another github issue.  That will make it easier to track and restart the thread.  Thank you.

[2017-06-16 22:21] #5416 closed

[2017-06-16 22:22] gunan commented on #9901
@prb12 @tfboyd any ideas?

[2017-06-16 22:24] #9392 closed

[2017-06-16 22:24] yifeif commented on #9682
@xavigonzalvo could you take a look? Thanks!

[2017-06-16 22:25] girving commented on #8796
@mrry What's the status of this issue?

[2017-06-16 22:25] #9635 closed

[2017-06-16 22:26] gunan commented on #8310
Looks like this issue was resolved.
Closing issue.

[2017-06-16 22:26] #8310 closed

[2017-06-16 22:26] drpngx commented on #7116
@c0710204 @jiazhentim @amit-gupta is this still current? Do we still need to modify `Jacobi.h` to get this to work?

[2017-06-16 22:27] girving commented on #9525
Still working on, but no usable progress yet.

[2017-06-16 22:28] bhack commented on #8926
@itsmeolivia It is a little bit strange to close an issue with tag awaiting tensorflower. Tensorflower arrived to close just close the issue 😄? And now only the issue owner or a tensorflower could reopen it.

[2017-06-16 22:29] jart commented on #7302
We really appreciate this issue report, however I'm going to close it out due to inactivity. We're still open to solving this issue, but we need a simple way to reproduce it. If anyone in the community can help us out on that end, please file an issue against our new GitHub repository. Be sure to reference this issue. https://github.com/tensorflow/tensorboard/issues/new

[2017-06-16 22:29] #7302 closed

[2017-06-16 22:30] andrewharp commented on #9836
@petewarden Any ideas?

[2017-06-16 22:31] martinwicke commented on #8511
Additional information: we're moving canned estimators to core and
documentation will be part of that.

[2017-06-16 22:31] gunan commented on #6698
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 22:31] #6698 closed

[2017-06-16 22:31] kshaeffer opened #10784 "build fails for r1.2 on linux"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No

OS: Ubuntu 16.04.2 LTS
I have cloned tensorflow from github.
checked out release r1.2

I have rune the configure script:
$ ./configure
Please specify the location of python. [Default is /usr/bin/python]: /usr/bin/python3
Found possible Python library paths:
  /usr/lib/py

[2017-06-16 22:33] gunan commented on #9471
Ping!
Are there any updates here?

[2017-06-16 22:33] itsmeolivia commented on #9863
friendly ping: are you still having issues @ancadumitrache

[2017-06-16 22:35] cfuxiang commented on #8385
@hadamschek Just curious, how did you install the gpu version? e.g via standard pip install or using the nightly build? If you are using the standard pip install for gpu, it is not stable. If you have not tried the nightly build, perhaps you can install it with its latest stable version.

[2017-06-16 22:37] gunan commented on #8109
@tfboyd Could you comment on this?

[2017-06-16 22:39] aselle commented on #10784
Try upgrading bazel to at least 0.4.5.

[2017-06-16 22:41] #9861 closed

[2017-06-16 22:42] gunan commented on #9764
Correct, as @ales-t suggested, in version 1.1 there is no `AttentionWrapper`:
https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow/contrib/seq2seq/__init__.py#L39

[2017-06-16 22:42] #9764 closed

[2017-06-16 22:43] jart commented on #9621
This issue has been migrated to https://github.com/tensorflow/tensorboard/issues/94.

[2017-06-16 22:43] #9621 closed

[2017-06-16 22:46] gunan commented on #9149
I think the problem is, we configure using SIMD instruction sets when running with `--config=opt`. You should be able to solve this by adding `--copt=-O2` to our bazelrc when running configure.
As I cannot test this, I will leave this as contributions welcome.

[2017-06-16 22:46] aselle commented on #3350
@EverettYou to see the code search for REGISTER_OP("Determinant") in the repo.

[2017-06-16 22:48] aselle commented on #4663
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-06-16 22:48] #4663 closed

[2017-06-16 22:49] #9505 closed

[2017-06-16 22:49] aselle commented on #7407
@bxshi, did @pkubik's suggestion to fix your metrix solve your problem?

[2017-06-16 22:50] gunan commented on #9550
Ping!
@ebrevdo any comments?
I know there are a lot of issues assigned to you, so could you reassign this one who may have time to investigate this?

[2017-06-16 22:51] yaroslavvb commented on #7128
@girving I haven't tested it, but @suiyuan2009 says this can be fixed with 3 line change to `qr_op_impl.h`

[2017-06-16 22:55] chihuahua commented on #7302
Indeed, I can't reproduce the issue. It seems fixed for `tf.contrib.layers.convolution2d`.

![rcmesrk7v42](https://user-images.githubusercontent.com/4221553/27247308-2bf44440-52ac-11e7-941b-611f4a5ba744.png)

[2017-06-16 22:55] MarkDaoust commented on #6478
It looks like code in that `.ipynb` no longer runs (mostly the problems are function signatures that were updated in 1.0).

@PhoenixDai, could you update and retry it, let us know if this is still a problem.

[2017-06-16 22:55] #6478 closed

[2017-06-16 22:56] gunan commented on #9920
@aselle could you chime in

[2017-06-16 22:57] gunan commented on #9911
@sunsided any update on a simple script to reproduce the issue?

[2017-06-16 22:57] gunan commented on #8271
@fredbertsch Any comments on windows support?

[2017-06-16 22:58] yifeif commented on #6120
I see. I'm closing this for now. @petewarden feel free to re-open if we plan to precede on this.

[2017-06-16 22:58] #6120 closed

[2017-06-16 23:01] zhangyaobit commented on #10730
Could you mark the idle period and  _Retval  in the two images?
Could you also clarify what are the two timeline/image respectively for?  Are they for tf_cnn_benchmarks.py or cifar10_multi_gpu_train.py?

[2017-06-16 23:05] jwise commented on #9230
@itsmeolivia I just tried this with the latest version of TensorFlow, installed from https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.2.0-cp27-none-linux_x86_64.whl .  The issue still reproduces, and so this should be reopened.  Unfortunately, I don't have access to do so.

As an aside, aging a bug out seems like bad policy.  I spent a long time (multiple days) tracking this bu

[2017-06-16 23:10] concretevitamin commented on #10755
Seems relevant to I/O layer.  Adding @rohan100jain.

[2017-06-16 23:21] kshaeffer commented on #10784
Ok, upgraded bazel

$ bazel version
Build label: 0.5.1

This has resolved the build failure.
Thank you.

[2017-06-16 23:23] petewarden commented on #10488
Maciek, can you take a look at this?

[2017-06-16 23:30] itsmeolivia commented on #8926
@bhack Hey! I don't see what's strange.  It was not awaiting a tensorflower as per the tags.  It hasn't been commented on in almost two months so my original statement, "Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you"  still makes sense, especially in

[2017-06-16 23:31] itsmeolivia commented on #8572
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 23:31] #8572 closed

[2017-06-16 23:31] smrtslckr opened #10785 "Feature Request-Randomized Hashing"
This is feature request to see if randomized hashing can be implemented to relevant part of the library to allow the option to be utilized for better computational resource utilization:

https://arxiv.org/abs/1602.08194

[2017-06-16 23:33] #2921 closed

[2017-06-16 23:33] xavigonzalvo commented on #9682
Please use input_fn not data directly.

On Jun 16, 2017 6:26 PM, "Yifei Feng" <notifications@github.com> wrote:

[2017-06-16 23:35] itsmeolivia commented on #4675
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 23:35] #4675 closed

[2017-06-16 23:36] elibixby commented on #6624
Not sure there is any fix in the works. But I believe there may be a workaround, where you can create a separate GraphKey for variables that are downstream of Queues, and run initialization of those variables after queue initialization. Have to test it but believe it should work.

[2017-06-16 23:37] itsmeolivia commented on #4550
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 23:37] #4550 closed

[2017-06-16 23:41] itsmeolivia commented on #6111
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 23:41] #6111 closed

[2017-06-16 23:43] fchollet commented on #9487
`clear_session()` should definitely work here.

[2017-06-16 23:44] itsmeolivia commented on #8843
friendly ping to all involved: is this still an issue with 1.2? If so, who is a good person to assign this to?

[2017-06-16 23:45] itsmeolivia commented on #9527
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2017-06-16 23:54] petewarden commented on #9836
My only guess is that one of the inputs being fed into the model is a different type on the C++ and iOS sides. Can you get a server version of your C++ code running to test that you're calling it correctly from there?

[2017-06-16 23:58] tfboyd commented on #10723
Thanks @ppwwyyxx  It has been a while since we were on the same thread.  :-)  Off topic but DataSets is great if you are going multi-GPU and do not need/want to feed your data via a dict.  It is contrib but is moving to core very soon.

[2017-06-17 00:00] tfboyd commented on #10723
Closing, please let me know if you still have issues.  One of the options I suggested should get you much closer to the published performance numbers.

[2017-06-17 00:01] #10723 closed

[2017-06-17 00:12] nectario commented on #10708
Thank you. I hope I find the solution, and certainly would share with the community.

[2017-06-17 00:16] bhack commented on #8926
Was not commented cause we was awaiting a tensorflower tagged by a tensorflower. Cause is old I don't know if the owner (@jubjamie) is still interested on this topic. If he is not active anymore only  a tensorflow could reopen this issue.

[2017-06-17 00:19] bhack commented on #8926
@martinwicke Can we considered this to be solved by [tf.map_fn()](https://stackoverflow.com/questions/38920240/tensorflow-image-operations-for-batches)?

[2017-06-17 00:23] drpngx commented on #3233
@nikitakit did you try a regular Session instead of an InteractiveSession?

[2017-06-17 00:26] martinwicke commented on #8926
Nah, last comment was April 19, I removed awaiting label April 20, marked contributions welcome, no activity since then.

map_fn is not the perfect solution, but it's a solution. If you think it's valuable to leave open as contributions welcome, we can leave it open. There's not enough demand to prioritize this though, and nobody's lining up to do it (although it would be a fairly good entry-level

[2017-06-17 00:30] Vishurao06 opened #10786 "Unable to install tenser flow on python 3.6.1 on windows 10 x64"
![pip](https://user-images.githubusercontent.com/29494774/27248510-24b7f1f6-5322-11e7-9067-1ba4dfb700ac.PNG)

Unable to install tenserflow

[2017-06-17 00:30] drpngx commented on #8181
We changed the `remove_training_nodes` to include a new parameter `protected_nodes`, which are kept unconditionally. @cancan101 would that work for you?

[2017-06-17 00:37] lobachevzky commented on #8805
Ok. Sorry about that. For a while now, all the computers I've had access to either don't have valgrind (os x) or have GPUs.

[2017-06-17 01:12] MarkDaoust commented on #6929
I don't see a problem here.

Feel free to correct me if I'm wrong, but "logits" seems to be used throughout TensorFlow to refer to  un-normalized log probabilities like these. see [softmax_cross_entropy_with_logits] (https://www.tensorflow.org/api_docs/python/tf/nn/softmax_cross_entropy_with_logits) and friends for example.

In the test, [line 191](https://github.com/tensorflow/tensorflow/blob/r1.

[2017-06-17 01:12] #6929 closed

[2017-06-17 01:14] #10784 closed

[2017-06-17 01:22] Carmezim commented on #10786
@Vishurao06 You're installing a wheel for Python 3.5. `tensorflow-1.0.0**cp35-cpm35**`. You need the corresponding wheel for Python 3.6 that you can download [here](http://ci.tensorflow.org/view/Nightly/job/nightly-win/M=windows,PY=36/lastSuccessfulBuild/artifact/cmake_build/tf_python/dist/tensorflow-1.2.0rc2-cp36-cp36m-win_amd64.whl)

[2017-06-17 01:27] xzj6795365 opened #10787 "quantize_graph"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorflow/issues).

**Here's why we have that policy**: TensorFlow developers r

[2017-06-17 01:27] #10787 closed

[2017-06-17 01:31] Vishurao06 commented on #10786
Thanks , but the issue is still the same

![pip](https://user-images.githubusercontent.com/29494774/27249079-a02954d0-532a-11e7-8d6d-e869d0568ebd.PNG)

[2017-06-17 01:32] czarina opened #10788 "Where is ios_examples?"
Hi,

I'm trying to follow your iOS guide in the README, which tells me to use: tensorflow/contrib/ios_examples.

But this folder is completely missing.

Can anyone advise?

[2017-06-17 01:32] xzj6795365 opened #10789 "quantize_graph error in simple graph"
when my graph is as follows, it will fail to quantize, the error info is **AssertionError: Failed to quantized constant ones_1 of type**
`x = tf.ones((1000,1),'int32')
**ones = tf.ones((1, 100), "int32")**
x = tf.reshape(x, shape=(-1,1))`

when i change graph to the following, it works:
`x = tf.ones((1000,1),'int32')
**ones = tf.ones((1, 100), "int32")
ones = tf.reshape(ones, shape=(1,-1))**
x = t

[2017-06-17 01:36] czarina commented on #10788
Just found ios_examples was moved to tensorflow/examples/ios. You may want to update your README as it contains broken links to the old location.

[2017-06-17 01:38] martinwicke commented on #10786
@yifeif looks like we're not stripping the amd64 suffix, but we should?

[2017-06-17 02:00] Vishurao06 commented on #10786
thanks i fixed it , actually the pip scripts were default at 32 bit as in the below image
![pip2](https://user-images.githubusercontent.com/29494774/27249257-8f990634-532e-11e7-99fb-1d66191ee5f0.PNG)

so i changed both path and script path to python36  instead of default python 36-32

[2017-06-17 02:06] bhack commented on #8926
You a right I've missed the contributions welcome label. I think that this issu was linked to many other issue about batch in image api some of that are closed in this closing run. Can we live one issue opened for all realted to batching in image api?

[2017-06-17 02:08] jkschin commented on #10513
I looked deeper at your code. When we print with more precision, we realize that it is symmetric except one point. Pardon the very long matrix, seeing it in higher precision is better.

[[ -3.7940350011922419071197509765625000000000e-05, -3.8315996789606288075447082519531250000000e-05, **-3.8691643567290157079696655273437500000000e-05**]
 [ -3.8315996789606288075447082519531250000000e-05, -3.86953

[2017-06-17 02:12] bhack commented on #8926
I think also an unique issue doesn't make sense cause resize_image_with_crop_or_pad in image api now support batch

[2017-06-17 02:18] StarRain-L commented on #8371
@petewarden thanks for your comment again. I tried your example. rebuild ios script. but not worked. Attach a screenshot, and write wrong?
![snip20170617_1](https://user-images.githubusercontent.com/8908244/27249358-4010bd9c-5346-11e7-9ba7-75e13398fe52.png)

[2017-06-17 02:22] StarRain-L commented on #8371
@martinwicke @tokoduck   this is the full error message.I am doing the inference . I just use the model file saved by python .See a lot of issues, and try many methods,but not worked.

[2017-06-17 02:27] gunan commented on #9778
Actually, we do exclude them intentionally due to posix dependencies graph transform libraries have. Therefore, at the moment this inclusion seems to be infeasible.

[2017-06-17 02:27] #9778 closed

[2017-06-17 02:39] Carmezim commented on #10786
@Vishurao06 glad you solved. TensorFlow requires Python 64-bit on Windows.

[2017-06-17 02:42] xzj6795365 commented on #10789
BTW, what the meaning of parameter "mode" can take, such as round, quantize, eightbit, weights, or weights_rounded

[2017-06-17 02:47] erickrf opened #10790 "conv1d not in tf.contrib.layers"
As of tensorflow 1.2, conv1d can be found under `tf.layers`, and not `tf.contrib.layers`, where you find conv2d. Shouldn't it be available under the contrib namespace? By the way, what's the conceptual difference between both submodules?

[2017-06-17 02:58] CDLuminate commented on #9298
This should be reopened.

[2017-06-17 03:05] tfboyd commented on #7549
@mdebski  Thank you and yes it has been added.  :-)

[2017-06-17 03:05] #7549 closed

[2017-06-17 03:06] tfboyd commented on #7551
Guide has been updated in github, the site should get updated soon.  Closing as the content has been added. I hope to redo the perf guide significantly with everything that has been learned in the past 3-4 months.

[2017-06-17 03:06] #7551 closed

[2017-06-17 03:08] tfboyd commented on #7776
PR with updates has been merged it may take a bit for the website to be updated but the tweak is in.  Again as I said on another thread, I hope to redo the perf guide with everything that has been learned in the past 3-4 months by me personally and what I learned from all of the input from the community.  There is so much info to add.  Thank you for the feedback.

[2017-06-17 03:08] #7776 closed

[2017-06-17 03:38] #10786 closed

[2017-06-17 03:44] martinwicke commented on #10790
tf.contrib.* should be considered temporary. We make no guarantees about the stability of the modules and symbols in there. They may change behavior (even in not backwards-compatible ways) at any time.

The symbols in core (anything in the tensorflow module that is not in contrib) are subject to semver guarantees, meaning they will not change behavior in backwards-incompatible ways between minor r

[2017-06-17 03:44] #10790 closed

[2017-06-17 04:55] buddha314 opened #10792 "Enable sparse_matmul(a,b) when a and b are sparse, conformable"
Current tf.sparse_matmul(a,b) requires both a and b to be dense, apparently.

[code]

The cast of `sparse_tensor_to_dense()` seem inappropriate.  Please enable

[code]

[2017-06-17 04:55] eamartin commented on #9757
Minor nitpick in case anyone references this thread in the future: the speedup came by aligning with 64 bytes, not 64 bits (=8 bytes).
The ``EIGEN_MAX_ALIGN`` variable depends on the vector architecture with which Eigen was compiled. As far as I know, AVX-512 (= 64 bytes) is the largest vector size (and largest value for ``EIGEN_MAX_ALIGN``) in the wild.

[2017-06-17 05:26] gunan commented on #10665
Looks like the issue was resolved.
Thanks for the update!

[2017-06-17 05:26] #10665 closed

[2017-06-17 05:37] yanchen036 commented on #8873
@girving pls review this [](https://github.com/tensorflow/tensorflow/pull/10793)

[2017-06-17 05:42] mocayo commented on #9890
thank you all
I changed my virtual machine form ubuntu14 to ubuntu16, and everything become well

[2017-06-17 06:11] gunan commented on #10757
I will mark this as a duplicate of #8945 and close this issue.
As @aselle stated, we do not have access to ppc64le machines, so we will not be able to officially support it.
But we will accept any contributions to fix the bugs that cause the test failures.

[2017-06-17 06:11] #10757 closed

[2017-06-17 06:17] gunan commented on #8945
As we do not have access to ppc64le machines, we will not be able to officially support the architecture ourselves.
Looking at the test results you had, it looks like there is a problem in the code that cause the issues.
We welcome any contributions to fix the issues. I will mark this as contributions welcome, and leave it open.

[2017-06-17 06:34] tokoduck commented on #8371
@martinwicke yes, that was the full error message

@StarRain-L from my knowledge, it is not resolved, but I have not checked the newer releases 1.1 and 1.2 yet.

As a work around, I got my program working when linking with the dynamic library, that can be created using bazel. When linking the same program with the static library, it fails.

[2017-06-17 06:56] StarRain-L commented on #8371
@tokoduck  I'm in iOS, and you?Your problem solved?

[2017-06-17 07:28] StarRain-L commented on #4766
@civilman628 你好,请问能请教你一些问题吗?最近在做 TensorFlow 在 iOS 上的开发,遇到一些瓶颈.多谢!!!!

[2017-06-17 07:36] StarRain-L commented on #3358
@gepolv Did you solve the problem?  I met a similar error.

  device='CPU'; T in [DT_FLOAT]

	 [[Node: gradients/Mean_grad/Maximum = Maximum[T=DT_INT32, _output_shapes=[[]], _device="/device:CPU:0"](gradients/Mean_grad/Prod_1, gradients/Mean_grad/Maximum/y)]]

[2017-06-17 07:41] gongbudaizhe commented on #10735
Ok, so this means GPU is inherently non-deterministic... that explains a lot of things...

In terms of reproducibility, for me, the effect turns out to be minimal. Thanks guys.

[2017-06-17 07:41] #10735 closed

[2017-06-17 07:42] StarRain-L commented on #3546
@cedricsimar Your problem solved?I met a similar problem,and consult.Thank you!!

  device='CPU'; T in [DT_FLOAT]

	 [[Node: gradients/Mean_grad/Maximum = Maximum[T=DT_INT32, _output_shapes=[[]], _device="/device:CPU:0"](gradients/Mean_grad/Prod_1, gradients/Mean_grad/Maximum/y)]]

[2017-06-17 07:44] laoreja commented on #10535
My model has several 3D conv layers, followed by several 3D conv trans layers. I detected that the last 3D conv trans layer is extremely slow, while the previous layers are much faster.

According to some previous issues, I guess this may be a memory related problem?

[2017-06-17 08:55] jakedailey1 commented on #2734
+1 for anyone using labels originated in another language (like Lua, R) that count or index starting with 1

[2017-06-17 09:04] joedercoder commented on #722
going back to 5.1 was also the solution for me.

[2017-06-17 09:07] joedercoder commented on #6928
for me the solution was to use 5.1 instead of 6.0

[2017-06-17 09:25] jubjamie commented on #8926
I'm very much still active! However I don't have time to work on the contribution. I raised it as an inconsistency that I thought the Devs would want to fix but if it's being left as contributions only for this long with no response then I guess we'll just have to wait until someone else has the same issue but with more time than me!

[2017-06-17 09:36] kafkagt commented on #10768
Thanks

[2017-06-17 09:46] lakshayg commented on #10792
Related issue: https://github.com/tensorflow/tensorflow/issues/10003

[2017-06-17 10:30] StarRain-L commented on #10677
@aselle Attach the code , and please have a look.how can I modify these ops ?
![ab8a4371-8743-40ed-b960-5147afd686b2](https://user-images.githubusercontent.com/8908244/27252215-fa468072-538a-11e7-8ee6-24ad41c08aed.png)

[2017-06-17 10:51] SteveBetter commented on #9697
It works for my Raspberry pi 3 model B also.
Thanks @ggael

[2017-06-17 11:27] ckshitij opened #10794 "Failed to load the native TensorFlow runtime."
## I tried #10026 but I won't work for me .
-------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-21-32e52670ef8f> in <module>()
      6 import pattern
      7 from bs4 import BeautifulSoup as bs
----> 8 import tensorflow as tf
[code]

## Failed to load the native TensorFlow runtime.

See https

[2017-06-17 11:36] vinay-hebb commented on #9682
Thanks. I will try this.

On Sat, Jun 17, 2017 at 5:05 AM, Xavi <notifications@github.com> wrote:

[2017-06-17 11:37] #9682 closed

[2017-06-17 11:53] gfolego commented on #10767
@aselle Sure! I'll use ImageNet as an example, but my case is quite similar.
Let's say I have the ILSVRC2017 dataset, and I'm working on image classification only, so my main objective is to get a high top 5 accuracy.
Now, I'm analyzing a CNN's performance given a specific number of training images, which will vary from very few to the complete training set. The motivation behind this analysis is

[2017-06-17 12:36] davidpham87 commented on #1325
I am running into a similar problem:

0. In the contrib.learn.Estimator`  class, define some variable say `W`.
1. Export a `contrib.learn.Estimator` with `export_savedmodel`. End the python process.
2. Restart a new python process, and import the `SavedModel` back into python with `saved_model.load`
3. `tf.get_variable` do not recognize the variable `W` defined in step 0.

Is it really working as

[2017-06-17 12:39] fxsuper commented on #9527
Please reopen this. Nothing has changed in the latest release, and 500x difference in inference speed seems very much like a performance bug to me.

[2017-06-17 13:45] issa-s-ayoub opened #10795 "How to update the variable list for which the optimizer need to train in tensorflow?"
How to update the list of variables for the optimizer to train in tensorflow? In other words, if we have the following optimizer:

`optimizer = tf.train.AdamOptimizer(learning_rate).minimize(cost_scalar, var_list=my_var_list)`

I need to update my_var_list for example while fine tuning the network. That is, I am going to remove the variable which I no longer need to train and keep the others. Exam

[2017-06-17 14:30] Robomate commented on #5551
the bug still exists in tf.contrib.layers.batch_norm(variables_collections=['vars'], outputs_collections='vars2'). If you do just variables_collections='vars' it will return an empty list. Annoying if you do not know this thread.

[2017-06-17 14:34] AlexisTM commented on #6999
@PaulDufort As nobody talks since 10 days, I guess they all were able to install TensorFlow with Python3.6.

[2017-06-17 14:37] rharish101 commented on #10756
Hi @dandelionmane , I'm the one who asked the Stack Overflow question mentioned by @eiennohito . I tried `pip install tensorflow-tensorboard` and it worked! It can visualize the embeddings, but it takes too much time parsing the metadata. I'll try it again, and if the error persists, I'll open an issue over at the tensorboard repo.

[2017-06-17 14:44] kwotsin commented on #10434
@jeichel-miovision What is the full version of CUDA you're referring to? I installed my CUDA quite some time ago so I suspect it's an earlier version of CUDA 8.0. FYI my error is from building on a laptop, not the TX1.

@martinwicke I have tried to checkout with r1.2, and used `bazel clean` before I configured and built with bazel.

I now have an error that goes like this:

[code]
@benbarsdell Her

[2017-06-17 14:54] Zardinality commented on #10134
Well, I remember back then I write a simple script that call slice on both sides of equal sign to convince myself this works, don't know how I got it worked out. As for the slice assignment problem, I've tackled it through assignment per element in a cuda kernel. Hope this helpful for other people who are possibly puzzled on same problem.

[2017-06-17 14:56] #10134 closed

[2017-06-17 15:53] aselle commented on #10785
We will likely not work on this in the foreseeable future, but marking contributions welcome to see if there is additional interest.

[2017-06-17 15:58] kzos commented on #10763
With **fold_constants, quantize option,** for tranform_graph,
On Hexagon, was able to get through <registration of nodes>.
Failed in <Setupgraph> during instantiating the graph.

[code]

Logging in nnlib is not friendly, no node names etc..
I will try to debug it further to get names stuff and try to fix (**Comment if you got any pointers to debug here**).

As I couldn't get working on Hexagon, to

[2017-06-17 16:00] cancan101 commented on #8181
That should work.

[2017-06-17 16:00] byronyi commented on #10785
I am wondering the exact use case you are trying to address, as we already have randomised hashing in `sklearn` ([here](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.FeatureHasher.html) and [there](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.HashingVectorizer.html)).

Or you would like to implement this in C/C++ and export the symb

[2017-06-17 16:26] abhigoku10 commented on #8385
@Carmezim @krishnaputhran  hi guys i have read through each of your guys comments and followed yet i am having an issues while doing import tensorflow as tf i am trying to do this on window 10 below is log
Python 3.5.3 |Continuum Analytics, Inc.| (default, May 15 2017, 10:43:23) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (

[2017-06-17 17:14] Carmezim commented on #8385
@abhigoku10 Please try running the script again and it will point you what may be causing this. It may be you didn't install CUDA and cuDNN correctly adding their directories to your `%PATH%` but as you are using a Python Anaconda distribution a common cause is you don't have `MSVC140.DLL` installed in your system which you can get downloading the [Microsoft Visual C++ 2015 Redistributable Update

[2017-06-17 17:55] #8181 closed

[2017-06-17 17:55] drpngx commented on #8181
Great!

[2017-06-17 18:06] bryancresswell opened #10798 "TF Detect to work with the new Object Detection API model"
Hi there, if I replace the current TF Detect model with the new Object Detection API model, will it still work?

[2017-06-17 18:16] ChrisAntaki commented on #10111
This issue seems to keep coming up for Windows users. Is there any way we could improve the error diagnosis/messaging, to give developers more guidance? For instance, if the cuDLL isn't found, the error message could suggest installing cuDNN 5.1, and adding it's bin directory to the path?

[2017-06-17 18:26] ChrisAntaki commented on #10111
@nectario Did you try adding the cuDNN's bin/ directory to your system's "Path" environmental variable?

![cuda-bin-path](https://user-images.githubusercontent.com/1216762/27255268-c3c4e9fc-534f-11e7-968e-af673f5e3493.png)

[2017-06-17 18:35] nectario commented on #10111
Let me do that! Than you!

[2017-06-17 19:02] jch1 commented on #10798
@bryancresswell  - are you referring to the Android Detection demo?

[2017-06-17 19:03] bryancresswell commented on #10798
@jch1 yup!

[2017-06-17 19:09] jch1 commented on #10798
It currently won't work (it was actually trained using an older version of the API) - I plan to update it to use the new models over the next couple of weeks.

[2017-06-17 19:10] bryancresswell commented on #10798
Alright, sounds great! Looking forward to the updates! Thanks for the quick response.

[2017-06-17 19:10] #10798 closed

[2017-06-17 19:23] borablanca opened #10799 "Compiler is out of heap space"
I am compiling tensorflow on windows 10 laptop, i7 6700hq 16GB ram with Visual Studio 2015 and all dependencies are ok as it is explained on readme. However at the end of compilation I get the following error:

[code]
How can I solve this problem?

[2017-06-17 19:24] djelkind commented on #10479
@ebrevdo Still exists in release 1.2.

[2017-06-17 19:42] aselle commented on #10799
This seems to be a compiler bug... try following advice here.
https://stackoverflow.com/questions/43140529/compiler-is-out-of-heap-space

[2017-06-17 19:43] aselle commented on #10794
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-17 19:43] #10794 closed

[2017-06-17 19:45] aselle commented on #10792
@lakshayg, yes this is a dupe of #10003, closing for now. thanks!

[2017-06-17 19:45] #10792 closed

[2017-06-17 19:56] aselle commented on #10795
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

However, one thing you could do is just make a new optimizer op that contains a changed set of var_list.

[2017-06-17 19:56] #10795 closed

[2017-06-17 20:12] aselle commented on #10677
Can you detail how you are creating your model, how you are constructing the model (what framework), the commands and programs you used to compact the model and freeze it. It seems what is happening is that a part of the training network is brought in. If all else fails, you could try to construct an inference only network (that uses the same variables so you can load your trained checkpoint in it

[2017-06-17 21:27] borablanca commented on #10799
I increased the maximum number of concurrent processes and it did the job with no errors. Also with the huge decrease in compilation time: from ~60 mins to 5 mins !! I compiled with the following code by increasing the concurrent processes to 4 (where the default was 1)

`D:\...\build> MSBuild /m:4 /p:Configuration=Release tf_python_build_pip_package.vcxproj`

Also I want to mention as a side note

[2017-06-17 21:41] 3rd3 opened #10800 "tf.cond should be evaluated lazily"
It should be possible to statically analyze the following graph such that the execution of the one branch is stopped early if the other branch is determined to be chosen. Am I missing some different function in TensorFlow that allows to do this? Perhaps using control dependencies?

In the following code the identity matrix is multiplied many times and a placeholder threshold determines whether the

[2017-06-17 21:43] johndpope commented on #5061
seems like someone actually coded this
https://github.com/dsindex/syntaxnet/blob/master/api/parsey_api.proto

[2017-06-17 21:49] 3rd3 commented on #10737
I've run into numerical instabilities inverting transformation matrices before, though for data augmentation it should suffice. Usually one can construct the same matrices again using their inverse primitive affine transformations (shear, rotation etc.). Perhaps a function would be helpful that either constructs the mapping or the inverse like this `tf.image.affine_transform(shear_x, shear_y, rota

[2017-06-17 22:29] RylanSchaeffer opened #10801 "tf.reshape fails for Tensor with valid shape parameter"
I don't know if my problem is truly a bug with TensorFlow, but I think it is. My problem is that `tf.reshape(x, shape=(sequence_length, 4))` fails even when `x` is a tensor and the shape provided is valid. Reshape returns the following error: `TypeError: List of Tensors when single Tensor expected`

Some background: I have a number of CSVs that I converted to `SequenceExample`s and stored as `TFRe

[2017-06-17 22:36] danijar commented on #5340
Taking about cleaning up the API, an exponential decay op should also not live in `tf.train`. Maybe worth cleaning up and reorganizing some ops for TF 2.0?

[2017-06-17 22:38] faddey-w commented on #8057
Yes, the problem still exists.
Sorry for such delay, the coursework at my university took all my free time. :) Fortunately, I've finished it just a few days ago, so I can continue working on this issue.
There is not much work to do, so I believe, I'll send a pull request in next 2-3 days.

[2017-06-17 23:35] Peri044 opened #10802 "Decoding images in a given shape from TF records"
I am trying to read images from TFrecords file. The images vary in shapes. After reading, I want to preserve their shape which is why I pass the height, width and depth parameters appropriately. But the code just doesn't print anything after the set_shape command. The sess.run() calls do not respond. I initialized the session in the main function and passed the object. Is there a way to get the va

[2017-06-18 00:23] tibbe opened #10803 "TensorBoard Histogram Dashboard link broken"
The link (https://www.tensorflow.org/get_started/tensorboard_histograms) to the "TensorBoard Histogram Dashboard" documentation is broken (404). If that section is currently in the process of being written perhaps add a dummy page saying so.

[2017-06-18 00:27] dsmilkov commented on #10756
Thanks @dandelionmane for answering.

@eiennohito just for curiosity, since you said the parsing of the metadata takes a long time, how big is your embedding (number of points and dimensionality)?

[2017-06-18 00:54] sseveran commented on #8665
I believe I tried that, but its always possible I did it wrong. Ultimately I have moved away from lookup tables since the java bindings still don't have support for passing arrays of strings. If that is added I will be interested in the issue again.

[2017-06-18 01:20] beauremus commented on #37
+1

[2017-06-18 02:37] MtDersvan opened #10804 "Not possible to use tf.contrib.training.stratified_sample with a SparseTensor"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.2.0-rc2-21-g12f033d 1.2.0
- **Bazel version (if compiling from source)**: -
- **CUDA/cuDNN vers

[2017-06-18 05:46] zakizhou commented on #10802
same problem with you

[2017-06-18 05:56] jonasrauber commented on #5340
Why not create a new exponential_decay function with the correct argument names and at the correct location now, and leave the current one for compatibility? This would be a non-breaking change that would solve this issue.

[2017-06-18 07:15] tokoduck commented on #8371
hi,

no, I am on MacOS (and ubuntu). So I have the workaround to produce a
dynamic library using bazel, linking with this library works, but linking
with the static library from the makefile project produces the error
message.

On Sat, Jun 17, 2017 at 8:58 AM, Sunny <notifications@github.com> wrote:

[2017-06-18 07:20] zakizhou commented on #10802
@Peri044 see https://stackoverflow.com/questions/41921746/tensorflow-varlenfeature-vs-fixedlenfeature for a solution

[2017-06-18 07:23] ringw commented on #10737
I'd argue against adding an `inverse` argument for rotation and translation
where the arguments can just be negated, but if it's useful to have a
`shear` function, we might want an inverse argument there. (Any function
like `rotate` should have a corresponding function that creates the
transform, and then the user can compose the transforms in whatever order
they want.)

On Jun 18, 2017 12:01 AM,

[2017-06-18 07:52] danielwatson6 opened #10805 "Make `tf.contrib.seq2seq._BaseAttentionMechanism` public"
Currently, if users want to write their own attention mechanisms, they have to do so from scratch by extending the `tf.contrib.seq2seq.AttentionMechanism` class (which has nothing) or import the `_BaseAttentionMechanism` from [attention_wrapper.py](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/contrib/seq2seq/python/ops/attention_wrapper.py) with the following, inconvenient import

[2017-06-18 08:31] abhigoku10 commented on #8385
@Carmezim  Thanks for the tips, i uninstalled everything and followed the steps again, then i found out the cudnn dlls i have downloaded was of different, now everything is working fine i am able to import and run the code. Appreciate the help tq

[2017-06-18 08:53] rharish101 commented on #10756
@dsmilkov Well, I don't know about eiennohito, but I was the one experiencing the long metadata parsing time. The metadata consists of just 50 embeddings with dimensionality 784.

[2017-06-18 09:19] tillahoffmann commented on #675
I've played a bit with using `while_loop` to build Hessians. The graph build time is significantly reduced (about an order of magnitude). Unfortunately, the evaluation time seems to be worse (about a factor of three worse). Full details here: https://gist.github.com/tillahoffmann/003f3bcb9639a18253ec7854abcbea01 Would be nice if we could get the best of both worlds.

[2017-06-18 09:33] slavakung commented on #9434
No, unfortunately. I was not able to get this working in TF or Theano, and
am now working on trying to implement my algorithm in Pytorch instead. It
looks as though the tensorflow architecture is just not properly suited for
non-standard (anything but one gradient evaluation at the current point,
per iteration) optimization.

On Saturday, June 17, 2017, Skye Wanderman-Milne <notifications@github.c

[2017-06-18 10:16] StarRain-L commented on #8371
My problem has been solved temporarily, thank you for your reply!!!!!!This is my reference information.
https://github.com/tensorflow/tensorflow/search?l=C%2B%2B&q=TruncatedNormal&type=&utf8=✓

[2017-06-18 10:18] StarRain-L commented on #10677
Very grateful for your reply. I understand a little bit about, I try again!!

[2017-06-18 11:15] yangjunpro commented on #2126
@benoitsteiner

Thanks for the update, already taken a go-through of your nice paper and really appreciate your fancy RL-based idea illustrated in the paper.
It looks that so far the device placement optimization is still time consuming(around 20 hour with 80 GPUs), so will you integrate it into the TF master revision? Also may I know inside Google how often you will use this RL-based automatic pl

[2017-06-18 11:30] Zardinality commented on #10761
It should be easy to implement it using slice and concat. Does it need to be implemented in a C++ kernel?

[2017-06-18 14:03] aselle commented on #10800
See #3287 #8168 and https://stackoverflow.com/questions/34401714/is-tensorflow-lazy for background info.

[2017-06-18 14:04] aselle commented on #10803
PTAL @wolffg. Thanks!

[2017-06-18 14:09] aselle commented on #10801
I'd suggest first asking on StackOverflow, because I strongly suspect you are constructing things with a small mistake. I'd suggest posting full code of a reproducible example, and try to make it as small of an example as possible. Can you reproduce it without tfrecord to remove that variable. Breaking the problem into smaller pieces like this will likely make it clearer.  Please use the template

[2017-06-18 14:09] #10801 closed

[2017-06-18 14:13] aselle commented on #10804
@MtDersvan, unfortunately SparseTensor is supported only is rather limited contexts. One of the reasons is because the sparse format is based on unordered sparsity which makes some operations slower. I'm not  sure that stratified sampling would be easy or hard, but @zongheng, do you have any suggestions, or should we mark this contributions welcome?

[2017-06-18 14:19] aselle commented on #10802
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

But your code looks like a usage error to me. Why not use tf.reshape... set_shape is used for hinting shape inference (setting a fixed shape when you know there is one).

[2017-06-18 14:19] #10802 closed

[2017-06-18 14:20] aselle commented on #10805
@ebrevdo, could you evaluate these feature request. Thanks!

[2017-06-18 14:25] aselle commented on #10767
@fchollet, @martinwicke, what is your feeling on this feature? Should we add an argument to in_top_k? It seems like the conceptional conflict is that it is hard to make a top_k that ignores ties in a consistent way but is also fixed size.

[2017-06-18 15:09] vonclites commented on #5551
Pretty sure it's not just batch_norm.

On Sat, Jun 17, 2017, 10:31 AM Robomate <notifications@github.com> wrote:

[2017-06-18 15:47] nuchi commented on #10685
I managed to compile it on a work computer. Besides editing the configure script I remember also changing the file names in https://github.com/tensorflow/tensorflow/blob/master/third_party/mkl/BUILD to match the ones I downloaded (that file has `.so` for linux shared libraries but I had downloaded `.dylib` dynamic libraries).

I also symlinked the dylibs into /usr/local/lib/ --- having `configure`

[2017-06-18 16:34] SiriusHsh commented on #3834
@fangpin  Yes,I also found this question, how do you solve the problem？

[2017-06-18 16:53] bbouffaut commented on #10714
Hi @aselle  @sampepose, I added --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" both on tensorflow and zero_out custom op compilation command (bazel build --config=opt  --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" ...", then it works well.

Many thanks for your help!

BR,
Baptiste.

[2017-06-18 19:08] christianmenz commented on #9484
@gwind55 I had the same problem, renamed the file and it worked perfectly!
I spent so many hours looking for a solution. I'm glad I finally found one. I'm not a Python developer but can't the logs be improved so that you see which DLL failed to load?

[2017-06-18 19:17] christianmenz commented on #9484
sorry I have to correct. I had the wrong CUDnn version installed (6.0), when installing v 5.1 no renaming was necessary.

[2017-06-18 20:59] DanielLowry opened #10806 "Error compiling in Linux Mint"
I am trying to compile this from source, but currently getting the following issue:

sudo bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package --verbose_failures
....................................................................................
WARNING: /home/dan/tensorflow/tensorflow/contrib/learn/BUILD:15:1: in py_library rule //tensorflow/contrib/learn:learn: target '//te

[2017-06-18 21:14] gunan commented on #10806
Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-18 21:15] #10799 closed

[2017-06-18 21:22] kootenpv opened #10807 "Could a 3.7 alpha wheel of tensorflow be provided on pip?"
Python 3.7 alpha exists, I would like to be able to install a wheel. Any idea when tensorflow could be added on pypi for 3.7?

[2017-06-18 21:46] junshi15 commented on #10699
yes, both changes are needed. I am fine with changing "assert" to "LOG(WARNING)".

[2017-06-18 21:46] hkyq opened #10808 "Original error was: DLL load failed: The specified procedure could not be found."
Hello. I've been getting 'Original error was: DLL load failed: The specified procedure could not be found' error when attempting to import tensorflow. I'm on Windows 10 with python 3.6.00. I've checked some issues like mine but I already have visual studio c++ 2017. I attempted to download 2015 however I was told I already have it.  I installed tensorflow with:

    Have I written custom code (as

[2017-06-18 22:46] hassanzadeh opened #10809 "New changes in tf 1.2 and the seq2seq model"
In the change log it reads: "The strictness described
in the TensorFlow 1.1 release is gone: The first time an RNNCell is used,
it caches its scope. All future uses of the RNNCell will reuse variables from
that same scope."

Based on which the seq2seq model (with UNtied decoder weights) no longer remain untied. Can you confirm that this is addressed? I don't see anywhere in the seq2seq model that

[2017-06-18 23:20] hassanzadeh opened #10810 "seq2seq for dynamic length sequences"
The seq2seq model is based on the static_rnn, what should I do if my sequence lengths is not known?

[2017-06-19 00:24] DataMining-ClusteringAnalysis opened #10811 "ImportError: cannot import name bayesflow"
**I am trying to use the command:
`cell = tf.contrib.rnn.BasicLSTMCell(state_size, state_is_tuple=True)`

However, it keeps telling me:  ImportError: cannot import name bayesflow **. Detail is shown as below:

Anybody know how to fix it? Much appreciated in advance!

Xin

[2017-06-19 00:34] Sushobhan04 commented on #10749
@aselle Hey, sorry for late response. I magnified the difference by a factor of 10.

I realized that numpy uses float64 whereas tf uses float32. I could not find a way to use float64 in tf (creates a complex128, which is not supported by tf.fft2d). Could this be a possible problem ?

The difference kind of seems huge to consider floating point accuracy as the reason.

[2017-06-19 00:56] amnonh-uw commented on #10747
this might be the issue?
https://stackoverflow.com/questions/42924324/tensorflows-asymmetric-padding-assumptions

[2017-06-19 01:07] adakum commented on #10659
@Scitator The link which u provided seems to be broken

[2017-06-19 01:12] ZhangBowen commented on #9356
thanks

[2017-06-19 01:16] reuben commented on #8660
@itsmeolivia, why was this closed? It looks like a similar but different problem than #10059.

[2017-06-19 01:27] martiansideofthemoon opened #10812 "`tf.Summary` comparison operator overloading?"
So I was trying to use a comparison operation (`>`) with a `tf.Summary` object. It does not throw an error, but the results are incorrect. I couldn't find any help for this on the [official documentation](https://www.tensorflow.org/api_docs/python/tf/Summary/Value).
Here are my logs -->
[code]
The objects were created using `tf.Summary(value=[tf.Summary.Value(tag=tag, simple_value=value)])`. What

[2017-06-19 01:38] cYclonEK commented on #10689
I guess my issue is the same.
[Build Log.txt](https://github.com/tensorflow/tensorflow/files/1083578/Build.Log.txt)
On 16.04.2 with GCC 7.1.0

[2017-06-19 01:42] jihopark commented on #6996
`v1.2` released. Any update on this?

[2017-06-19 02:20] DjangoPeng commented on #10642
@cmluciano Cuda version is 8.0.44, and the nvidia driver version is 375.66.  I uninstalled the nvidia driver When I realize CUDA includes Nvidia driver actually.
@therc After uninstalled the nvidia driver, the nvidia-smi shows that the nvidia driver, a part of CUDA, version is 367.48. What's more, I can locate the `nvidia-uvm` and `nvidia0` in the container.
[code]

When I run the `deviceQuery` in

[2017-06-19 02:52] marlazinger200 opened #10813 "Mr."
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn&#39;t be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorflow/issues).

**Here&#39;s why we have that policy**: TensorFlow deve

[2017-06-19 03:17] LuoJiaji opened #10814 "load_csv_with_header"
When I run iris_monitors.py file, It has an error :
File "C:\software\Python\Python35\lib\site-packages\tensorflow\contrib\learn\python\learn\datasets\base.py", line 47, in load_csv_with_header
header = next(data_file)
StopIteration

[2017-06-19 03:18] LuoJiaji commented on #10814
When I  run iris_monitors.py file, It has an error :
  File "C:\software\Python\Python35\lib\site-packages\tensorflow\contrib\learn\python\learn\datasets\base.py", line 47, in load_csv_with_header
    header = next(data_file)
StopIteration

[2017-06-19 03:20] DjangoPeng commented on #10642
Hi guys, although I can't run `deviceQuery` in container, but it doesn't matter. I reallocate the device to GPU in mnist_softmax, and it runs well. I think the key point is copying shared object files in cuda into `/usr/local/nvidia/lib64` and mount them into container. **Don't install nvidia driver individually, just install CUDA which includes a matched nvidia driver**.
Close the issue~

[2017-06-19 03:20] #10642 closed

[2017-06-19 03:27] ruiann commented on #9471
@gunan sorry I'm busy with other works. This behavior can be reproduced only in my own pc, maybe some hardware issue?

[2017-06-19 03:48] ebrevdo commented on #10479
The peephole connections are vectors that represent the diagonal of a
matrix; so an orthonormal initialization for these would be a vector of all
ones.  The solution is to fix the orthonormal initializer so you can decide
how to treat vectors.

On Sat, Jun 17, 2017 at 12:24 PM, David J. Elkind <notifications@github.com>
wrote:

[2017-06-19 03:57] StarRain-L commented on #10677
@aselle The problem is resolved.My colleague reference your instructions to modify the model code, I am not very clear what he modified.And  tf_op_files.txt increased " random_op. cc".I provide the reference link.Finally, thank you very much for your help, and if have any problem, I hope I can continue to ask you.

https://stackoverflow.com/questions/40855271/no-opkernel-was-registered-to-support-

[2017-06-19 05:39] danijar commented on #5340
Yeah I should do that.

[2017-06-19 05:46] ahundt commented on #8787
@martinwicke fchollet/keras#6928 integrates TFRecords via yield op support (i.e. [RecordInput](https://github.com/tensorflow/tensorflow/blob/833252af72af56661aefb0541163109132f9d4a6/tensorflow/python/ops/data_flow_ops.py#L2137)). The fifo queue way to get records and the new Dataset class may or may not work with Keras after those changes, but if they do an example is probably a good idea.

I'd su

[2017-06-19 06:16] amadupu commented on #6683
hi xisnu, i do face the same issue after restore, the model train is happening from start instead the last check point. by any chance u had progress towards this issue ? i followed the recommendations in stack overflow but ntohing helps..

[2017-06-19 06:38] xisnu commented on #6683
@amadupu Sorry to say, no progress in this context. I believe the RNN weights are not saving properly as pointed out by @igorbb

[2017-06-19 06:44] leckie-chn commented on #10713
also missing on [cifar10 tutorial](https://www.tensorflow.org/tutorials/deep_cnn)
in r1.2 version
[tensorflow_models/tutorials/image/cifar10/](https://www.github.com/tensorflow/tensorflow/blob/r1.1/tensorflow_models/tutorials/image/cifar10/)

[2017-06-19 06:52] leckie-chn commented on #10713
see this issue: https://github.com/tensorflow/tensorflow/issues/10711
seems to need a fix on the tutorial doc

[2017-06-19 06:56] SunsetWan commented on #170
I downloaded these four data files from the link.But I don't know where these data file should be put.Is there anyone who can help me?

[2017-06-19 07:00] rickyhan commented on #10810
You use padding tokens after the end token. Please close this issue because it's a general question

[2017-06-19 07:20] rickyhan opened #10815 "Feature request: Add a subclass of seq2seq.Decoder to support regression"
Currently, seq2seq decoder class only supports classification which uses 1D softmax with embedding. The library is very good for this particular task. However, seq2seq is also extremely useful in regression tasks by replacing embedding with a dense layer.

As of 1.2, the current architecture only allows 1D sequence data by supplying a Dense layer as _embedding_fn to TrainingHelper. Currently, trai

[2017-06-19 07:44] futurely commented on #5919
This workaround works for me.
https://stackoverflow.com/a/43627334

[2017-06-19 07:47] yuefengz commented on #6365
That stackexchange link is very helpful. I will implement the gradient function.

[2017-06-19 07:58] amadupu opened #10816 "Training LSTM RNN model after restoration starting again with high loss"
I have an LSTM based RNN language model where in after the initial training for 1000 iterations, the model is saved as follows
saver = tf.train.Saver()
saver.save(sess,'rnn_model.ckpt',global_step=1000)

I've restored the model by

            saver = tf.train.import_meta_graph("rnn_model.ckpt-1000.meta")
            saver.restore(self.sess, tf.train.latest_checkpoint('./'))
            graph = tf

[2017-06-19 08:12] rickyhan commented on #10815
[Related paper](http://www.ijcaonline.org/archives/volume143/number11/zaytar-2016-ijca-910497.pdf)

Graph on page 2

[2017-06-19 08:19] BowieHsu opened #10817 "TensorFlow C library now available for Windows?"
Does anyone know where  to find the available TensorFlow C library for Windows?
I only get the information about C library on Linux and MacOs.

[2017-06-19 08:27] chencjiajy commented on #7816
The  TensorFlow version I use is TF1.1, when I'm trying to use tfdbg in the code of  https://github.com/david-gpu/srez   .
I met the aborted problem ,and the error is : tensor_util.cc:37] Check failed: DT_STRING == other.dtype() (7 vs. 20)

[2017-06-19 08:39] xiusir commented on #8181
Maybe I have the same problem. TensorFlow VERSION  1.1.0
Has it been fixed in 1.1.0?

I specifed ["input", "output"] as the input and output nodes of my model  by tf.identity.
After frozen,  I can found "input", "output" in graph_def.node.
After optimized, "input" is still there, but "output" is lost.

# train.py
[code]

# package.py -- Generate model file
[code]

# show_nodes.py -- Print all node

[2017-06-19 08:42] amadupu commented on #6683
thanks for the update, I've raised a new issue enclosing references (including this one) in the following request
https://github.com/tensorflow/tensorflow/issues/10816

hope someone has an answer to it

[2017-06-19 08:46] GD06 commented on #10723
@tfboyd @ppwwyyxx
Hi Toby & Yuxin,

Thanks a lot for your patient explanation. I performed the multiGPU tests for three argument sets and the results are shown as the following tables:
The abbreviations for the parameter sets are as followed:
1. replicated_gpu_nccl: ```variable_update=replicated local_parameter_device=gpu use_nccl=True```
2. parameter_server_gpu: ```variable_update=parameter_serve

[2017-06-19 09:21] mhobby commented on #5193
HI @aselle - we found a work around by using Julia which has direct implementation/wrapper of the CSR routines in CUDA.
Has there been any further progress in tensorflow for this?

[2017-06-19 09:33] nicaogr commented on #8843
I have updated my Tensorflow version 1.0.1 to version 1.2 and I don't have the error message anymore. The issue seems to have been settled.

[2017-06-19 09:50] rohan-varma commented on #9996
I'd be happy to work on this if still needed, please let me know (and any specific tips as well)!

[2017-06-19 09:52] zhaoerchao commented on #10730
Thank you for your apply.

The two images in the question are all for tf_cnn_benchmarks.py

The second one is zoomed in of the first one. The _Retval operation is in the end of the image. The idle period is the period without operation that is obviously.

[2017-06-19 10:04] martinambition commented on #8191
@supermeatboy82 , Could you share your code?

[2017-06-19 10:08] andreas-eberle opened #10819 "Tensorflow Android API version 1.2 not in JCenter"
The freshly released version 1.2 of the tensorflow APIs is not yet fully available in JCenter ( https://bintray.com/google/tensorflow/tensorflow-android/1.2.0). There is a version 1.2.0 but it does not contain any files.

Can you push these files to the repository?

[2017-06-19 10:14] tiagmoraismorgado opened #10820 "how to compile tensorflow for sse4.1 sse 4.2, avx, and sycl?"
how can i compile tensorflow for sse4.1 sse 4.2, avx, and sycl?
is there some guide available online?

[2017-06-19 10:34] rodburns commented on #10768
For now you would be better on the branch referenced [here](https://www.codeplay.com/products/computesuite/computecpp/guides/how-to-setup-tensorflow-with-computecpp) until the changes make it upstream to the main TensorFlow branch
https://github.com/lukeiwanski/tensorflow.git
branch: opencl_improvements

[2017-06-19 10:39] byronyi commented on #10820
For SSE and AVX, just add ` -copt=-msse4.1 -copt=-mavx` to your `bazel build` options. SYCL I believe requires you to manually set the `OpenCL` switch when running `./configure`, but I could be wrong.

[2017-06-19 10:40] byronyi commented on #10820
Also `-copt=-msse4.2`, but you get the idea.

[2017-06-19 10:49] byronyi commented on #10723
You should read through the benchmarks page. It does contain detailed explanations to the difference between parameter update strategies.

[2017-06-19 11:10] ribx commented on #10529
Yes, my path is empty (I thought that is the purpose of "env -"). Python is install into `/usr/bin/python`. Never the less, I don't want to build with my systems default python binary, but with the one inside my virtualenv. This is not possible, if the environment is cleared before (with `env -`).

Why is it even cleared?

[2017-06-19 11:17] byronyi commented on #10529
If you are in a `virtualenv` when building, then it's tied to that `virtualenv`. I don't think there's any need to do `env -` either way.

[2017-06-19 11:20] gaohuazuo opened #10822 "py_func returning string leaks memory"
TF version: 1.2.0

[code]

[2017-06-19 11:23] tiagmoraismorgado commented on #10820
thank you @byronyi

[2017-06-19 11:39] ribx commented on #10529
To the real question: which component creates this command and why? It looks like some javascript/typescript stuff. I cannot find it in the code, so it may be some third party problem.

[2017-06-19 12:04] nicaogr commented on #10759
I have updated my Tensorflow version 1.0.1 to the version 1.2 and I can't reproduce those error with the former script : [TestFFT2D.py](https://github.com/nicaogr/silver-octo-fortnight/blob/master/TestFFT2D.py)

But when I increase the size of the tensor I used (from 400 * 300 to 800 * 600), I got an Internal Error message again :
[InternalError2.txt](https://github.com/tensorflow/tensorflow/files

[2017-06-19 12:06] DavidNorman opened #10823 "Excessive chatter in VLOG(1)"
IMO:  tensorflow/core/framework/op.cc:82 is rather a chatty and specific output to be included at VLOG(1).

Could it be changed to VLOG(2) or better still VLOG(3)

one person's useful output is 100's of peoples noise.

[2017-06-19 12:09] GD06 commented on #10723
@byronyi
Thanks for your kind remind! I am sorry that I didn't claim the problem very clearly. To be more specific, my question is that what's the difference causing so significant performance difference. To my poor understanding, both of programs resulting in the second and fourth column data aggregate gradients on one GPU and use NCCL for the reduction and they have the same amount of data trans

[2017-06-19 12:12] fesun commented on #9823
Since googler didn't response for very long time, I made one minimal change on my codebase to solve this, and post my solution here in case others are also confused by this:
1) Tensorflow provides ones_initializer/zeros_initializer for initializing variables to 1/0, what tensorflow actually does is creating one const tensor and then assign it to variable, however constant operator holds tensor as

[2017-06-19 12:20] fesun opened #10824 "Constant operator is not appropriate for variable initialize"
Tensorflow uses const tensor to initialize variables(for example ones_initializer, zeros_initializer and some optimizer slot creation), this will prevent `AssignOp `to transfer ownership from rhs to lhs and waster a lot of memory when variable shape is very large(for example sparse model). see #9823 #9742

[2017-06-19 12:26] rajnamitha commented on #10739
@petewarden The error was common across other inception models that I tried (i.e. Inception V3 and Inception V4) even for those models I got :

### _```
File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/tensorflow/python/framework/importer.py", line 312, in import_graph_def
op_def=op_def)
File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-p

[2017-06-19 12:34] nicaogr opened #10826 "ResourceExhaustedError : OOM when allocating tensor with shape"
### The problem

I try to compute a very costly loss function using FFT2D, rolling of the tensor and neural network with 3 layers.
You can find the Python script here : [TestFFT2D_2.py](https://github.com/nicaogr/silver-octo-fortnight/blob/master/TestFFT2D_2.py)

My loss function is the sum of 448 terms. Each of this term is computed with a rolling of the initial tensor, FFT2D, a multiply of two t

[2017-06-19 13:16] byronyi commented on #10823
Not in TF team, but I guess there's a reason to name VLOG differently from LOG :)

Jokes aside, you should consider writing some scripts to analyze the VLOG. It's really not for looking into with you bare eyes.

[2017-06-19 13:27] danielwatson6 commented on #10805
The `AttentionMechanism` class is also expected to have certain attributes by other methods, like `batch_size`, `values`, `num_units`, and `alignments_size`. These should at least appear in some way in the parent class and be documented so that users can create their own attention mechanisms if they are not to use all the functionality of `_BaseAttentionMechanism `.

[2017-06-19 13:29] hassanzadeh commented on #10810
Thanks but padding causes the context (c) to change.

From: Ricky Han [mailto:notifications@github.com]
Sent: Monday, June 19, 2017 3:03 AM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: hassanzadeh <ha.hassanzadeh@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [tensorflow/tensorflow] seq2seq for dynamic length sequences (#10810)

You use padding tokens after the end to

[2017-06-19 13:44] fvisin commented on #10373
Thanks @dandelionmane , I look forward to an sql backend for Tensorboard. Is there a PR or an issue I can subscribe to, to follow the advancement? I couldn't find any.

[2017-06-19 13:54] jubjamie commented on #10826
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Overflow._

Having a quick look at your code and your hardware I think that it's down to not having enough GPU memory. 2GB is really not very much. Can you please run nvidia-smi alongside your code to see whether anything else has a lock on your GPU memory? Perhaps something else is using i

[2017-06-19 13:59] jeichel-miovision commented on #10434
@kwotsin your nvcc --version actually posted the full release code: V8.0.33
If possible, I would strongly recommend upgrading to the latest cuda version, >= V8.0.64, since there are known issues with the older versions.

for those interested in the jetson progress:
I've also successful built TF v1.1.0 (1ec6ed51182adf8f1b03a3188c16cd8a45ca6c85) on the TX2 using CUDA V8.0.64 with bazel 0.5.1.

I fol

[2017-06-19 14:26] ribx commented on #10529
To the real question: which component creates this command and why? It looks like some javascript/typescript stuff. I cannot find it in the code, so it may be some third party problem.

[2017-06-19 14:32] Scitator commented on #10659
@adakum Sorry, have released the [repo](https://github.com/Scitator/YATS2S) yesterday :)
The code:
[code]
[working link](https://github.com/Scitator/YATS2S/blob/versions/tf_1.2/seq2seq/rnn_encoder.py#L91)

[2017-06-19 14:32] TengdaHan opened #10827 "version 1.2 doesn't show CUDA and cuDNN information"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: `pip install tensorflow-gpu`
- **TensorFlow version (use command below)**: ('v1.2.0-rc2-21-g12f033d', '1.2.0')
- **CUDA/cuDNN version**: C

[2017-06-19 14:54] tfboyd commented on #10723
First, I am really excited that having the benchmarks public helped us to have a reference point to figure this out (maybe a pat on the back but it justifies the time and money we spend running these tests).  Second, I am glad you were able to try multiple configurations and we have another semi-reference point that most likely M40s and decently connected Titan X (maxwells) likely behave like a DG

[2017-06-19 14:57] caisq commented on #10822
cc @alextp

This is fixed in the master branch by

https://github.com/tensorflow/tensorflow/commit/27f1b80c22115f134fd959a7c0fe013a21784795#diff-6fed5e0cf86f9cf983a6c73438b0f7e1

But the fix is not in 1.2. So please either use the nightly builds (see home README.md for download addresses) or wait for 1.3.

[2017-06-19 14:57] #10822 closed

[2017-06-19 14:58] tfboyd commented on #10685
@nuchi   Were you able to use it after you compiled?  Asking because I was able to get it to compile and MKL was 100% included but then I get the error when I first tired to use it.

This is great data.  We and maybe I will keep trying.  Any info you ca provide would be great.  I also had to do the symlink thing  :-)

[2017-06-19 15:04] tfboyd commented on #7004
This is still experimental and OS X support will be prioritized after Linux.  The contributions welcome label is intended to suggest that the core team is not likely to work on this feature.  We are hoping to get MKL running on OS X which will add a significant performance boost.

https://github.com/tensorflow/tensorflow/issues/10685

[2017-06-19 15:10] tfboyd commented on #5952
I likely chose the wrong words it was a canned response.  I understand it can be frustrating as teams follow different processes and we did not document our action.  We essentially declared a "bug bankruptcy" and closed most issues older than ~6 months after a quick review.

That said if you are seeing this behavior on TF 1.1 or 1.2, I am happy to reopen and try to push it back through Triage agai

[2017-06-19 15:22] GD06 commented on #10723
@tfboyd
Hi Toby,

I am thankful for your patient explanations and helpful information! At least I confirmed that I had a misunderstanding about these modes. It's so great that TensorFlow provides these flexible options. Understanding system performance is always hard including TensorFlow. XD
We are making our steps forward to understand the performance of TensorFlow and so wonderful we can hear fr

[2017-06-19 15:34] nuchi commented on #10685
@tfboyd yes, passed the mkl unit tests and also could successfully import tensorflow and eval a hello world tensor. I'll be able to provide more info in a week or so — I'm away from that computer at the moment.

[2017-06-19 15:35] martinwicke commented on #5340
We are working on cleaning up the API, this could be one of the things we do (make an alias and soft-deprecate the old form).

@aselle FYI

[2017-06-19 15:42] girving commented on #7128
@suiyuan2009 Interested in submitting a PR? :)

[2017-06-19 15:44] nicaogr commented on #2391
Do you plan to add a CPU version for FFT/FFT2D etc in tensorflow ?

[2017-06-19 15:45] girving commented on #9230
@jwise We're happy to keep issues open if there is some hope of fixing them.  However, this particular issue is very deeply tied to TensorFlow's current operational semantics.  There are plans for future redesigns that might fix it, but it's not likely to happen anytime soon.

@josh11b Maybe we should keep a list of bugs that could be fixed by your resource-oriented redesign of stateful ops?  I'll

[2017-06-19 15:48] girving commented on #6624
Actually, did https://github.com/tensorflow/tensorflow/commit/b25d1c7d3e9f30925aa132ba62e79d281191a3dc fix this?  It makes `Variable.initialized_value` not reinitialize already initialized variables, which should make data dependent initialization quite a bit easier.

[2017-06-19 15:52] tfboyd commented on #10685
That is awesome.  No rush.   Any info is great and knowing it worked for you I will give it a try again from scratch.  By the time mine compiled I had made a huge mess.  :-)

[2017-06-19 15:56] girving commented on #5919
@cancan101 Happy to reopen if you're planning to submit a PR.  Otherwise it looks like this contributions welcome issue is being ignored.

[2017-06-19 15:57] martinwicke commented on #10529
The command is generated by bazel. It tries to make the build hermetic, and it should use the python binary that you gave it when you configured TensorFlow.

[2017-06-19 15:59] elibixby commented on #6624
It's possible, busy today but I can test tomorrow if no-one beats me to it.

[2017-06-19 16:17] skye commented on #9996
Hi @rohan-varma, it'd be great if you can look into this! Unfortunately I'm not very familiar with this code, so I can't give you any specific tips without digging in myself... assuming you can still repro the confusing error message yourself, it would be useful even if you can just understand and explain how the error arises (this is always a great way to learn about a new codebase too). Hopefull

[2017-06-19 16:24] angup143 commented on #1450
I have a similar problem:
Cuda 8, cudnn v5.1 on a titan X

[code]
It occurs intermittently on training (usually after a few epochs)

[2017-06-19 16:28] aselle commented on #10749
We use cuFFT to compute fft's, so it is a property of the cufft. You could look at its documentation to see if it has any insight (or google for cufft vs fftw). Also, you could see whether numpy.fft when run with floats matches better.

[2017-06-19 16:29] #10806 closed

[2017-06-19 16:30] aselle commented on #10807
This is currently unsupported. You can just try renaming the wheel (which is how we generate our python 3.6 binary). Until Python 3.7 is an actual release (not beta, alpha) we will not support it. You can of course build for it .from source, but that is unsupported.

[2017-06-19 16:31] rmlarsen commented on #9823
@fesun Good job figuring this out. My apologies for not getting back to you. I think we can probably implement a more general solution by doing a graph analysis and strip off the buffer constraints when they are not needed, or perhaps propagate them to dependencies, so the bufferes are compatible, perhaps similar to
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtim

[2017-06-19 16:48] aselle commented on #10814
I apologize but I am having a hard time understanding what the problem is, where the problem is, what platform you are using, and what versions it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

I did try it on my Linux machine, and it worked fine.

[2017-06-19 16:48] #10814 closed

[2017-06-19 16:50] aselle commented on #10819
@petewarden, I have no idea if we support this or about JCenter in general. Could you point me to the right direction or right person?

[2017-06-19 17:02] #10820 closed

[2017-06-19 17:03] andrewharp commented on #10819
Shawn has created the listing
<https://bintray.com/google/tensorflow/tensorflow-android/1.2.0> for it, so
I believe he just needs to upload the AAR and pull the switch to make it
the latest version now.

On Jun 19, 2017 12:51 PM, "Andrew Selle" <notifications@github.com> wrote:

[2017-06-19 17:10] lime45 commented on #9697
@SteveBetter I'm curious, which commit of tensorflow did you build? I am still having difficulty due to an api mismatch with EigenEnvironment instantiation. I get this error:
____[1,110 / 2,530] Linking tensorflow/core/libreader_base_proto_cc.pic.a
ERROR: /home/chris/src/tensorflow-build/target/tensorflow/tensorflow/core/BUILD:1207:1: C++ compilation of rule '//tensorflow/core:lib_internal' failed

[2017-06-19 17:13] guschmue commented on #10521
found somebody to look at it; we update the issue once we know more.

[2017-06-19 17:40] andreas-eberle opened #10829 "Java API does not include quantize operations"
When trying to run a quantized model with the Tensorflow Java API in version 1.2-rc0, I get the following exception in Java:

[code]

It seams the kernels for quantized graphs are not included in the Java API binary of tensorflow. Can you add these kernels?

Note: The frozen model I used to create the quantized model runs perfect with the same code.
Note2: I quantized the graph with the current r1

[2017-06-19 17:54] aselle commented on #10829
@asimshankar, could you comment?

[2017-06-19 18:09] vincentvanhoucke commented on #10823
I would expect a PR moving it to higher VLOG levels to be swiftly approved.

[2017-06-19 18:19] wolffg commented on #10759
I think that may be an out-of-memory error, as seen here: #8710; same
return code.

On Mon, Jun 19, 2017 at 5:05 AM, Gonthier Nicolas <notifications@github.com>
wrote:

[2017-06-19 18:24] itsmeolivia commented on #8660
oops, the tags were wrong. reopening and re-tagging

[2017-06-19 18:25] fventer commented on #9519
I have the same problem. runs regex works fine at localhost, but not when running on another host.

[2017-06-19 18:27] suharshs commented on #4821
I am working on exposing this, will update when changes have been made. Thanks.

[2017-06-19 18:29] wolffg commented on #10711
This is now fixed.

[2017-06-19 18:29] #10711 closed

[2017-06-19 18:33] gunan commented on #10807
We will not release a 3.7 binary until Python 3.7 is officially released.
Until then, as @aselle suggested you can just rename 3.6 wheel file and install it (except for windows).

[2017-06-19 18:33] #10807 closed

[2017-06-19 18:33] sullivak commented on #8566
Not sure how I missed seeing the suggestion from @protoget but that seems to work, thanks!

[2017-06-19 18:35] wolffg commented on #10713
This is now fixed.

[2017-06-19 18:35] #10713 closed

[2017-06-19 18:36] wolffg commented on #10803
This is now fixed.

[2017-06-19 18:36] #10803 closed

[2017-06-19 18:43] ancadumitrache commented on #9863
@itsmeolivia It worked after I shuffled the URL retrieve and file open commands (for both train and test data):

[code]

[2017-06-19 18:49] asimshankar commented on #10817
You can download this from:
https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-windows-x86_64-1.2.0.zip

We haven't yet updated the website, but as of the 1.2 release are producing the C library binary artifacts for Windows.

[2017-06-19 18:49] #10817 closed

[2017-06-19 19:04] pvanhaes commented on #2641
The gradient of `reduce_prod` does not support negative axis unlike `reduce_prod` itself.
It is caused by `gather` not supporting negative axes.
This code illustrates the problem.
[code]

[2017-06-19 19:06] DanielLowry opened #10832 "Error compiling in Linux Mint"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Mint 18
- **TensorFlow installed from (source or binary)**: Installed from Source
- **TensorFlow version (use command below)**: Error generated when running below command
- **Bazel version (if compiling

[2017-06-19 19:43] wolffg commented on #7762
No, the user is the poet; the codelab is not, so we should probably fix the grammar.

[2017-06-19 19:47] skye commented on #9890
Thank you for sharing your solution to this issue!

[2017-06-19 19:47] wolffg commented on #4998
Sorry, what are we talking about here?  We provide header/subhead links, like this:

https://www.tensorflow.org/get_started/get_started#importing_tensorflow

All the links are available on the table of contents on the right.

Can you clarify which headers you want links to?

[2017-06-19 19:47] dandelionmane commented on #9519
Please pip install the latest tensorboard via `pip install tensorflow-tensorboard`. If it's still happening, open an issue at https://github.com/tensorflow/tensorboard with precise reproduction steps

[2017-06-19 19:48] dsmilkov commented on #10756
That's a small metadata. Can you share the files/logdir contents by any chance so we can reproduce the problem? Or a synthetic data that reproduces the problem. Thanks!

[2017-06-19 19:48] dandelionmane commented on #8660
Yes, this is a known issue that conditional ops don't play well with summary ops.
@alextp @josh11b @ali01

I'm removing the `tensorboard` tag because it's not a tensorboard issue, it's a problem with core tensorflow.

[2017-06-19 19:51] zo7 commented on #8926
[code]
Not all image ops support batch still, can we reopen? I raised a separate issue about making the image module API more consistent (#9318) but closed it because this issue existed. This has been on the back of my mind to contribute to because it would benefit a model I have but I haven't had time to look into it recently.

[2017-06-19 19:52] dandelionmane commented on #10812
These are protocol buffer. I have no expectation that the protocol buffer framework will have a > operator defined in a way that is aware of the semantic meaning of summary values.

It may be that you can find some documentation on the protobuf site that explains how this operator works, if you're really curious. https://developers.google.com/protocol-buffers/docs/reference/python-generated

[2017-06-19 19:52] #10812 closed

[2017-06-19 19:53] SivaMohanRanga opened #10834 "I am New To Tensorflow How To learn can anyone Provide Step by Step Process"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorflow/issues).

**Here's why we have that policy**: TensorFlow developers r

[2017-06-19 19:54] dandelionmane commented on #10373
I would take a look here https://github.com/tensorflow/tensorboard/issues/92

[2017-06-19 20:00] martinwicke commented on #8926
Let's keep this open to track progress on this issue.

[2017-06-19 20:05] ribx commented on #10529
my workaround is to replace the env binary with
[code]

quite a bit ugly, but works for now. I still think, this should be reopened and investigated. Btw I have this problem on all my Gentoo systems.

[2017-06-19 20:28] jjough commented on #10513
Thanks, makes a lot more sense.

I thought errors cannot accumulate with symbolic computation.

[2017-06-19 20:35] skye commented on #9434
Ah, I'm sorry to hear that. I'll leave this open for now since it hasn't been resolved, but I'm marking it "contributions welcome" since unfortunately this is a somewhat obscure use case and I don't think we have any plans to address it currently.

[2017-06-19 20:39] girving commented on #2641
@pvanhaes Thanks for the bug report!  Can you file it as a separate issue, since it's unrelated to the current thread?  It helps us to keep Github issues organized.

[2017-06-19 20:42] ebrevdo commented on #9527
Try replacing the inputs from a tf.constant to a tf.Variable.  the static
graph is probably being optimized away via constant folding, and the
dynamic one is not.  if your input is not a tf.constant but a placeholder
or Variable, then both the static and dynamic graphs will have to execute
all operations at each session.run.

On Mon, Jun 19, 2017 at 1:37 PM, Skye Wanderman-Milne <
notifications@gi

[2017-06-19 20:42] 3rd3 commented on #4998
Indeed, the table of contents basically implements this feature. This issue remains a minor feature request that the headers which are already linkable via the table of contents should be wrapped in anchor elements to make them clickable. This is sometimes implemented by displaying a chain/link symbol 🔗 on the MouseOver event (e.g. in the [PyTorch docs](http://pytorch.org/docs/torch.html#torch.add

[2017-06-19 20:43] skye commented on #8594
Hi, sorry for leaving this hanging for so long. After some internal discussion we decided that to keep the current behavior, where "aa" refers to the enclosing name scope rather than the final output op. This is to be consistent with other functions that produce multiple ops, and since it makes TensorBoard output more useful.

[2017-06-19 20:43] #8594 closed

[2017-06-19 20:44] aselle commented on #10834
https://www.tensorflow.org/get_started/
For more targeted questions on how to use TensorFlow, use Stackoverflow.
Good luck!

[2017-06-19 20:44] #10834 closed

[2017-06-19 20:46] pvanhaes opened #10835 "Gradient of reduce_prod does not support negative axis"
The gradient of `reduce_prod` does not support negative axis unlike `reduce_prod` itself.
It is apparently caused by `gather` not supporting negative axes.
This code illustrates the problem.
[code]

[2017-06-19 20:47] #8843 closed

[2017-06-19 20:47] #9863 closed

[2017-06-19 20:47] aselle commented on #5193
There really has not been any application that has driven that forward for us as of yet. So, for now I am marking this contributions welcome, although there would likely need to be a pretty good design document to make a case for way to integrating this into TensorFlow elegantly to go with any effort to solve the feature.

[2017-06-19 20:48] ekelsen commented on #10513
I talked with @rmlarsen about this and we think the issue that when you compute the two entries that _should_ be the same, they are computed according to a different order of operations (the derivatives are taken in a different order).  Floating point doesn't associate, so you are likely to get different answers.

If you want a symmetric matrix, it would be best to simply compute half of it and th

[2017-06-19 20:49] ryanhalabi opened #10836 "Installation Fails"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: win10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: latest from pip
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**:  8/5.1
-

[2017-06-19 21:11] jjough commented on #10513
Thanks, makes sense.

[2017-06-19 21:12] jjough commented on #10513
Got it, thanks.

[2017-06-19 21:45] sonalgupta commented on #5609
@ebrevdo @itsmeolivia has the tutorial been posted somewhere? I can't find it...

[2017-06-19 22:07] yzhwang commented on #9471
Trying to reproduce this on my local machine with CUDA 8, CUDNN v5.1.10, and tensorflow v1.1.0.
Currently has run 28 steps:
Memory usage: 4043
step: 0
read image cost: 37s
step cost: 73s
Memory usage: 4811
step: 1
read image cost: 38s
step cost: 39s
Memory usage: 4811
step: 2
read image cost: 38s
step cost: 38s
Memory usage: 4811
step: 3
read image cost: 40s
step cost: 40s
Memory usage: 4811
step:

[2017-06-19 22:07] kootenpv commented on #10807
@gunan @aselle Thanks, that worked! I would have never thought python would use a file naming convention to throw an error!

[2017-06-19 22:19] ppwwyyxx commented on #8594
I think using "aa" for the output op doesn't conflict with using an internal name scope to organize tensorboard graph (e.g. the scope can be named "aa_internal").

Using the name for output op is actually consistent with most other `tf.xxx` functions. At least from the documentation of all `tf.xxx` functions, we cannot tell whether "name" will be used for the op or the scope.

[2017-06-19 22:21] andrewharp commented on #10819
1.2.0 files for TF Android are now available on JCenter!

[2017-06-19 22:21] #10819 closed

[2017-06-19 22:22] #10513 closed

[2017-06-19 22:23] djelkind commented on #10479
To be clear, my complaint is about the software interface, not the mathematics. And for the sake of precision, note that we're speaking generally about ortho**gonal** matrices, not the special case of ortho**normal** matrices.

From a software standpoint, there are two ways to look at my bug report.

One way to look at it is that the LSTM cell is defective for trying to pound a square peg (the pee

[2017-06-19 22:43] asimshankar commented on #10829
@andreas-eberle : The `QuantizeV2` op should be linked in with the Java JNI distribution. Is it possible that you're somehow using an older version of the TensorFlow Java native library?

To validate and simulate the environment you're in, I tried the following:

1. Construct a graph in Python

[code]

2. Load and execute this graph in a Java program:

[code]

Executing the Java program seemed to

[2017-06-19 23:23] rickyhan commented on #10736
Hi, I filed an issue too. We are running essentially the same script.

https://github.com/tensorflow/tensorflow/issues/10815

[2017-06-19 23:29] ahundt opened #10837 "Feature Request: Placeholder support for being set from an Op"
Update: I thought on this some more, and perhaps if tf.Variable could directly support being set from an op with the transfer happening entirely on the C++ side that might cleanly and simply solve the problem.

Often it is not known immediately what kind of Op will be needed for input, but it would be preferable to specify that detail later without the overhead associated with transporting data in

[2017-06-19 23:47] Erstwild commented on #10785
@byronyi Thank you for pointing this functionality in sklearn out for me.  The use case I am trying accomplish is the randomized hashing to radically reduce training time/resource consumption for deep neural networks in Keras/TensorFlow (as demonstrated in the paper).  I will reread the paper to see if it will be as simple initial feature extraction or a more complex architecture.  I suspect it is

[2017-06-19 23:48] Iolaum opened #10838 "Compiling TensorFlow gives 3k lines of warnings!"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.2 (4.8 kernel)
- **TensorFlow installed from (source or binary)**: Compiling TF from Source
- **TensorFlow version (use command below)**: 1.2.0
- **Bazel version (if compiling from source)**: 0.5.

[2017-06-19 23:52] yzhwang commented on #9471
So at step 40, the memory usage and run time per training step is like this:
step: 40
read image cost: 96s
step cost: 151s
Memory usage: 7049

By restarting the training both memory usage and run time drop:
step: 40
read image cost: 37s
step cost: 72s
Memory usage: 4832

I will investigate on this.

[2017-06-19 23:56] jcomfort4 commented on #7705
I am getting the exact same error message as Sidd originally got with the only difference being that I am in an anaconda environment that I created.

[code]

[2017-06-20 00:00] martinwicke commented on #10529
@damienmg I don't know why the right python isn't used in @ribx's case, but the env workaround is clearly not in the spirit of bazel. Is this an error in how TF does python config? Or is it a bug in bazel's treatment of python?

[2017-06-20 00:10] LuoJiaji commented on #10814
thanks for your attention. I am a beginner of TensorFlow.
I use Win 10 ,and the version of TensorFlow is 1.0.1 , TensorFlow is installed from binary.

[2017-06-20 00:20] jcomfort4 commented on #7705
Just to add context, I created a conda python 3.5 environment and am still getting the same error so something else must be missing. Is there any more specific documentation on exactly which folders need to be in the PATH variable? I see other responses such as "copying the cuDNN dll, lib, and header to the CUDA folder's respective subfolders worked for me as well." and I believe that I copied tho

[2017-06-20 00:23] xzj6795365 commented on #10789
if i use tf.fill instead fo tf.ones, then can quantize the graph, but when importing graph, it reports an error that can not change from int32 to float32. the reason why it should  change to float32 is beacuse the variable will matrix multiply with another float variable

[2017-06-20 00:30] drpngx commented on #9138
Submitted CL internally. It should close automatically at the next push. Thanks for the write-up and reporting back to us!

[2017-06-20 00:32] jiazhentim commented on #7116
Hi @drpngx  and @girving, for gcc I can compile TF on KNL. did not test with icc. I hear from a friend that it was still not working for icc several weeks ago.

[2017-06-20 00:52] tatatodd commented on #10677
Closing this out, as it looks like the problem was resolved.

[2017-06-20 00:52] #10677 closed

[2017-06-20 00:58] tatatodd commented on #10731
@fchollet might have some suggestions here.

[2017-06-20 00:58] tatatodd commented on #10731
@fchollet might have some suggestions here.

[2017-06-20 01:06] tatatodd commented on #10759
Yup, as @wolffg points out, this looks like the same out-of-memory error as #8710.  Closing this out, since it doesn't look like this is a bug in the core framework.

[2017-06-20 01:06] #10759 closed

[2017-06-20 01:10] tatatodd commented on #10809
@hassanzadeh Can you clarify the exact issue you're running into?  E.g. it would help if you could provide a short code example describing your problem.

[2017-06-20 01:12] tatatodd commented on #10811
Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks (e.g. TF version, etc). Thank you.

[2017-06-20 01:17] tatatodd commented on #10815
@lukaszkaiser might have an opinion on whether this is feasible.

[2017-06-20 01:18] nealwu commented on #1882
Yep, we'll keep retraining in mind. We shouldn't run into this issue in the garden though, at least not with our current set of models.

[2017-06-20 01:23] jwise commented on #9230
@girving Thanks.  NOTABUG is an understandable disposition (although it would make `random_hue` more difficult to use), though auto-closing is quite a lot more frustrating :smiley:  Looking forward to the longer-term fix for this!

[2017-06-20 01:44] yongtang commented on #10715
Created a PR #10840 for this issue.

[2017-06-20 01:52] hassanzadeh commented on #10809
Thanks, I think I figured out what I was missing. I did not notice the fact that the encoder cell is deep copied  ( through copy.deepcopy).

[2017-06-20 01:58] tatatodd commented on #10827
@TengdaHan I've reproduced your issue on TF 1.2.0.

This is odd, since the code to dump the "successfully opened CUDA library ..." code still seems to exist:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/stream_executor/dso_loader.cc#L139

@zheng-xq might know more about why these log messages aren't showing up.  I'm suspecting that either the dso_loader.cc code isn't actually be

[2017-06-20 01:59] tatatodd commented on #10835
Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks (e.g. platform, version, etc). Thank you.

[2017-06-20 02:02] tatatodd commented on #10837
@fchollet can you comment as to whether this is the TensorFlow feature you were asking for in https://github.com/fchollet/keras/pull/6928#issuecomment-309552423?

[2017-06-20 02:10] tatatodd commented on #10809
Cool, glad you figured things out.  I'll close this out.

[2017-06-20 02:10] #10809 closed

[2017-06-20 02:18] MarkDaoust commented on #7762
This is fixed.

Next codelab could be: TensorFlow poetry -  RNNs

[2017-06-20 02:18] #7762 closed

[2017-06-20 02:22] MarkDaoust commented on #7763
Fixed.

[2017-06-20 02:22] #7763 closed

[2017-06-20 02:29] lukaszkaiser commented on #10815
I'm not sure, I'll defer to @ebrevdo to decide on that.

[2017-06-20 02:36] tatatodd commented on #6269
In the meantime, I'll say this is 'contributions welcome'.

[2017-06-20 03:01] sleepfin commented on #10389
@asimshankar @aselle Has anyone looked into this issue?

[2017-06-20 03:11] rharish101 commented on #10756
@dsmilkov Here they are. It corresponds to 50 vectors from the MNIST dataset.

[logdir.tar.gz](https://github.com/tensorflow/tensorflow/files/1086901/logdir.tar.gz)

[2017-06-20 04:51] zhangyaobit commented on #10730
Could you upload the timeline file somewhere, so that we can take a look?

[2017-06-20 06:17] santle commented on #10458
"quantize_weights"
    "quantize_nodes"
cause the inaccuracies. Keeping any of them cause incorrect results.
when I remove both of them, the results seems to be correct, but there is no performance gain in terms of size / run time.
Any suggestion to improve both? I used Lenovo Phab 2.

[2017-06-20 06:22] falcondai commented on #9147
@itsmeolivia i think this should be migrated to the tensorboard repo?

[2017-06-20 06:47] sleepfin commented on #10432
@sguada @michaelisard
Has anyone looked into this issue?

[2017-06-20 06:49] futurely commented on #8550
This happens to some graphs generated with the [Graph Transform Tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms) too.

Using the commands detailed in https://github.com/tensorflow/models/issues/1609, I was able to benchmark the graph transformed from frozen_inference_graph.pb of one of the the official [object detection models](https://github.com/tensor

[2017-06-20 06:53] vvekic commented on #7951
@kratzert I, too, have experienced issues with getting GPUs to 100% usage and keeping them there. The Dataset API, it seems, is implemented less efficiently and though it is a welcome change regarding code clarity and simplicity as well as a more natural way of doing training and validation, it cannot (yet) substitute queues for high data rate usecases, such as computer vision.

[2017-06-20 07:22] snnn commented on #7951
@kratzert You are right. The new input pipeline do not have queues.  If you aren't satisfied with the shuffling it provides, you can do it outside TF: You can load all the filenames into memory then shuffle them in any way you like.

[2017-06-20 07:30] kratzert commented on #7951
@snnn Yes I know and I do exactly this. But by doing this I can't find a way to shuffle the entire data in e.g. my training data every epoch. I can shuffle e.g. the list of filenames before creating a dataset, but once I start a session to my knowledge I can only shuffle the data from the dataset that I have in memory using dataset.shuffle(buffer_size). But with images this can be hardly done for