[2020-01-27 15:29] lgeiger commented on #36249
I think this was fixed in 0071950c073eb78e8935ad680f557e11f52b76a0 and 0438fe668efd9c3e3c3d4692f0c4af4f1dff6395, though it is not release in TensorFlow 2.1

[2020-01-27 15:32] cmichelenstrofer commented on #36227
@byronyi I want to use LeakyReLU activation. When I add this layer then I get the following error:
[code]

The modified toy case is:
[code]

[2020-01-27 15:35] Akpadhy opened #36253 "How is the support for tensorflow 2.0 and keras in this?"
Need to understand if this support tensorflow 2.0 and tfx serving directly?

[2020-01-27 15:36] cmichelenstrofer commented on #36227
Also, with the original toy case (without LeakyReLU) if I don't use of the ``experimental_use_pfor=False`` I get the following:

[code]

[2020-01-27 15:40] nkoep commented on #36246
I did some more digging and realized it was due to the default behavior of `tf.gradients`, which replaces unconnected gradients with None. The straightforward fix is to copy the implementation of `_hessian_vector_product` and pass `unconnected_gradients=tf.UnconnectedGradients.ZERO` to any `tf.gradients` calls.

[2020-01-27 15:43] shahriar49 opened #36254 "Dropout problem in tensorflow 1.14"
**System information**
- OS Platform and Distribution: Windows 10 on two different PCs
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 1.12 on one system and 1.14 on another system
- Python version: 3.6.5
- Bazel version (if compiling from source): N/A
- GCC/Compiler version (if compiling from source): N/A
- CUDA/cuDNN version: 9.0 (for tf1.12) and

[2020-01-27 15:47] rohanreddych commented on #36245
"http://jmlr.org/proceedings/papers/v28/sutskever13.pdf"
is this the only thing that should be present?

[2020-01-27 15:50] dodiak commented on #36135
@gadagashwini
Thanks and sorry for the late reply. Some significant minimization was needed.
Here it is:
import os
import tensorflow as tf
import tensorflow.keras.backend as K
from tensorflow.keras import models
import numpy as np
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2' # 0:default all | 1:no info | 2:no warning | 3:no error

x=np.ndarray(shape=(8,6),dtype=int,buffer=np.array([[0,2,3,4,5,1],[0,3,

[2020-01-27 15:57] alextp commented on #30596
Please file a separate bug for your problem.

On Sun, Jan 26, 2020 at 10:33 AM Xiaokang Wang <notifications@github.com>
wrote:

--
 - Alex

[2020-01-27 16:01] aaroey commented on #33184
@bixia1 could you help to take a look at the repro above? Thanks.

[2020-01-27 16:33] bjacob commented on #35283
Thanks for running this experiment. ~1.6x is sufficiently close to ~1x that we can draw the following conclusion as to what is the main phenomenon happening here --- there may well be additional things at play, but this should be the main thing, especially if you find that further increading this duration beyond 20ms further reduces the inference times.

On a mobile system like Android, the OS agg

[2020-01-27 16:50] mihaimaruseac commented on #36121
2.1 uses CUDA 10.1

[2020-01-27 16:53] xmax1 opened #36255 "GradientTape does not track intermediate variables inside a tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04
- TensorFlow installed from (source or binary):
Binary
- TensorFlow version (use command below):
2.2.0-dev20200123
- Python version:
3.7.3
- CUDA/cuDNN version: 10.1 /
#define CUDNN_MAJOR 7
#define CUDNN

[2020-01-27 16:56] mihaimaruseac commented on #36235
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-01-27 16:56] #36235 closed

[2020-01-27 17:01] mihaimaruseac commented on #36207
There are tools to inspect the code, you could place a debugger breakpoint and step through the code while a model is quantized. Or, you could identify the file history, look at the commits, etc.

We cannot do this for every single feature.

Hence, closing as offtopic.

[2020-01-27 17:01] #36207 closed

[2020-01-27 17:07] mihaimaruseac commented on #35030
It seems Colab doesn't properly measure memory usage even in this case:

[code]

[2020-01-27 17:08] valsworthen commented on #35911
Just ran into the same issue on TF 2.0.0.

[2020-01-27 17:21] impjdi commented on #35389
The command line that you use looks correct to me, but note that I'm not super familiar with TOCO myself; I usually only work with the final Flatbuffer model, and use flatc to convert back and forth.

I would try to grep for the error message in the code base and find out what condition is failing.

[2020-01-27 17:44] mihaimaruseac commented on #33758
There was an attempt in 8497ae4f2810fc7af4a14c6ea433a98fd275a01d but that got rolled back.

It doesn't look likely that we can pin to a release. Let me try it again today

[2020-01-27 17:45] #36142 closed

[2020-01-27 17:46] djwenren commented on #36213
I also saw the same error came up in this issue: https://github.com/tensorflow/tensorflow/issues/34098

[2020-01-27 17:47] yhliang2018 commented on #35030
@gdudziuk Can you check [this link](https://colab.research.google.com/gist/yhliang2018/9d45291c6ff4bc061f340b754ef47815/gitissue-35030.ipynb) to access the code in colab?

Okay, thanks for reporting this. I will try it with my local machine then.

[2020-01-27 17:55] gdudziuk commented on #35030
Yes, the latter link is accessible for me. Thanks.

[2020-01-27 17:56] alewir commented on #35791
@enhany may I ask you what GPU have you been using while getting the error? I'm wondering if the newer models from rtx 10XX and 20YY are affected...

[2020-01-27 17:57] nbro commented on #32219
@kristofgiber, @reedwm, @brianwa84, @ravikyram, The [original example](https://github.com/tensorflow/tensorflow/issues/32219#issue-489428442) works both with TFP 0.8 or TFP 0.9 combined with TF 2.1.  See also https://github.com/tensorflow/probability/issues/538#issuecomment-578224143, where I say that there are other examples that work with TF 2.1.

**However**, I have an example where I am still

[2020-01-27 18:20] mihaimaruseac commented on #36179
We never pushed a new docker image for patch releases. The image should be the same as for the main release.

[2020-01-27 18:21] mihaimaruseac commented on #33758
It seems we cannot upgrade this yet as we need work to support upb (micro protocol buffers)

[2020-01-27 18:33] abcdabcd987 commented on #33758
@mihaimaruseac Thanks for the effort. If upgrade is not an option now, could you add the `gettid` patch into the bazel workspace?

[2020-01-27 18:36] ymodak commented on #36219
Are you performing an optimizations on tf lite file? If so, then can you try without optimizations?
See https://github.com/tensorflow/tensorflow/issues/35194

[2020-01-27 18:46] pramodjayram commented on #36219
I tried with optimization and without but both resulted in the same error.

[2020-01-27 18:50] mihaimaruseac commented on #33758
The one mentioned at https://github.com/tensorflow/tensorflow/issues/33758#issuecomment-547143723, right?

[2020-01-27 18:51] abcdabcd987 commented on #33758
Right.

[2020-01-27 18:52] ymodak commented on #36160
Can you also ad `experimental_converter` flag?
`converter.experimental_new_converter = True`

[2020-01-27 19:00] jvishnuvardhan commented on #36181
@nbro I think the error is coming from the line `model_output` while creating the model.

`model_output = tfp.layers.DistributionLambda(lambda t: tfd.Categorical(logits=t[0], validate_args=True))(x)
`

The shape of output layer is ((), ()) while the metric tries to access the `index -1` and throws the following error

`InvalidArgumentError: slice index -1 of dimension 0 out of bounds. for 'metrics

[2020-01-27 19:00] echu87 commented on #36160
Hi, forgot to update the issue earlier but I did try that and it was able to convert and load using the interpreter. Thanks for the help!

[2020-01-27 19:00] #36160 closed

[2020-01-27 19:04] cianciosa opened #36256 "Tensorflow 2.1 Jacobian fails when using Keras LeakyReLU Layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes. See attached test case.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Unsure
- TensorFlow installed from (source or binary): Binary installed from pip

[2020-01-27 19:10] 00krishna commented on #35680
@fchollet I was wondering if you had any additional thoughts on this question? Seems like there should be a direction on what TF will go in terms of Features API versus the Keras preprocessing functions. Or does Google and the Community want to keep both sets of functions, even though they overlap.

[2020-01-27 19:13] thelinuxmaniac commented on #36249
duplicate issue https://github.com/tensorflow/tensorflow/issues/36199 contains a fix.

[2020-01-27 19:15] dirktheeng commented on #35993
May I ask why the headers should not be included?  I'm not trying to argue, I am just curious and somewhat ignorant.  Is there a way that we can make the core kernels accessible from custom ops with a standard install?  For our purposes it is best to subclass and expand capability but it is difficult to make the workflow easy if the headers are not there.

[2020-01-27 19:16] dirktheeng commented on #35994
anybody care to comment as to why the variables are limited? our testing so far is showing no compatibility issues.

[2020-01-27 19:18] enhany commented on #35791
@alewir  2070s

[2020-01-27 19:26] karimnosseir commented on #35927
@haozha111 Can you please have a look, specifically on TensorList issues.

Thanks

[2020-01-27 19:29] artemry-mlnx commented on #36170
Observed the similar TensorFlow building failure (Ubuntu 16.04) starting from https://github.com/tensorflow/tensorflow/commit/72144ee6f671d768236f41181e320110bafe978a

[2020-01-27 19:30] alextp commented on #35994
Replacing the registration to include TF_CALL_GPU_ALL_TYPES SGTM. @sanjoy for FYI.

[2020-01-27 19:30] ymodak commented on #35958
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2020-01-27 19:30] #35958 closed

[2020-01-27 19:34] Xiaohui-Z commented on #9489
I add `os.environ["CUDA_VISIBLE_DEVICES"] = "0"` to the code and solve this problem.

[2020-01-27 19:37] karimnosseir commented on #36143
Hi Lenin,
Can you provide the reproduce steps ?

Thanks

[2020-01-27 19:51] dishkakrauch commented on #36114
It's more than limit 10MB. Can I share google drive link here?
https://drive.google.com/file/d/1ggk622mLwkpWHS04Q8lq1ITIKZwSPOPh/view?usp=sharing

[2020-01-27 20:03] sanjoy commented on #35994
Can you be more specific on which ops you want to modify?  For instance, I'm not sure if we should be calling `TF_CALL_GPU_ALL_TYPES` on `AssignAddVariableOp` since we can't add `bool`s.

[2020-01-27 20:04] maximuslee1226 commented on #32793
Hi Sanjoy, Thanks for your response. I am running tensorflow 1.14.0

[2020-01-27 20:14] sanjoy commented on #32793
Thank you.  I believe this issue has been fixed; can you check if you can reproduce the problem with tf-nightly?

[2020-01-27 20:20] maximuslee1226 commented on #32793
How can I install tf-nightly?

[2020-01-27 20:20] maximuslee1226 commented on #32793
never mind pip install tf-nightly

[2020-01-27 20:32] mihaimaruseac commented on #35536
1.15.2 and 2.0.1 have been released

[2020-01-27 20:32] #35536 closed

[2020-01-27 20:34] artemmavrin opened #36259 "Error registering Keras serializable loss"
**System information**
- Have I written custom code): yes
- TensorFlow installed from: binary
- TensorFlow version: 2.1
- Python version: 3.7

**Describe the current behavior**

Using the `tf.keras.utils.register_keras_serializable` decorator does not allow correct serialization/restoration of a custom `tf.keras.losses.Loss` subclass without using a `custom_objects` argument.

**Describe the expec

[2020-01-27 20:34] PCerles commented on #35194
I am also interested in quantizing a model with LSTM layers and am having this issue.

[2020-01-27 20:53] tensyq commented on #36222
**System information**
- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): No
**Describe the feature and the current behavior/state.**
**Will this change the current api? How?**
Possibly similar to conv2d with padding
I am trying to implement upsampling + convolution in tensorflow c++ like this:
....
[code]

where AddConvolutionLayer does something like this:
[co

[2020-01-27 20:54] colt18 opened #36262 "Possible incorrect implementation of inception_v3.py"
"Mixed 0" between lines 138-152 is the implementation of the figure 5 in the paper. There should be 4 branches that does and have the layer name as :

branch 1x1 = 1x1 conv
branch pool = pooling + 1x1 conv
branch 3x3 = 1x1 conv + 3x3 conv
branch 5x5 = 1x1 conv + 3x3 conv +3x3 conv

The last one is is named as branch3x3dbl in the implementation and its fine doing two 3x3 convs to substitute 5x5 con

[2020-01-27 20:59] lbatteau commented on #35980
I can confirm this issue. I spent some time browsing the code today, and discovered the following.

`_GRAPH_LEARNING_PHASES ` is a `weakref.WeakKeyDictionary`, and at some point a learning phase is added with the key `_DUMMY_EAGER_GRAPH`, which is a `threading.local()` object. Because Gevent monkey patching replaces this local object with a `gevent._local.local`, which cannot be weakly referenced,

[2020-01-27 21:01] PCerles commented on #35168
Any update on this issue?

[2020-01-27 21:02] cshimmin commented on #36025
Hello, I was having the same issue when instantiating a relatively small network on an RTX 2080 8GB. @ymodak's suggestion of setting `allow_growth=True` seems to solve the issue for me, although I don't really understand why this step is necessary.

My setup is as follows:
 * tensorflow: v2.1.0-rc2-17-ge5bf8de 2.1.0
 * driver: 418.87.00
 * CUDA: 10.1
 * cuDNN: v7.6.5.32
 * python: 3.6.7
 * platfor

[2020-01-27 21:07] gowthamkpr commented on #35088
Closing this issue as it has been inactive for more than 3 weeks. Please add additional comments and we can open this issue again. Thanks!

[2020-01-27 21:07] #35088 closed

[2020-01-27 21:16] colt18 commented on #36162
Are Hera and tf under the same virtuel-env. There may be some conflicts version-wise.

[2020-01-27 21:27] shun-lin commented on #32793
Thanks for the suggestion, but I no longer have access to the powerful GPU due to switching to other team and therefore I wouldn't be able to know if the new `tf-nightly` build has fixed the issue, if @maximuslee1226 issue is fixed then I think we can closed this issue. Thank you so much for your help!

[2020-01-27 21:48] iganichev commented on #35980
WeakKeyDictionary is definitely needed. There are a couple of issues here and I can submit a fix. Can somebody quickly test if something like this would work with gevent?

[code]

[2020-01-27 22:00] nbro commented on #36181
@jvishnuvardhan Yes, you're right. The problem is `t[0]`. If you pass `t` to logits, the output of the NN will now be `distribution_lambda (Distrib ((None,), (None,))` and we don't get the `InvalidArgumentError` error anymore. However, we still get the other error that I describe in the duplicate issue in the TFP issue tracker

Another user on Stack Overflow also reported this issue: https://stack

[2020-01-27 22:14] dirktheeng commented on #35994
@sanjoy I would prefer to see TF_CALL_GPU_ALL_TYPE on the variableop and assignop (as well as int32) to allow users to create and store it and then limit the assignAdd and/or assignSub to datatypes which are sensible.  That way users have freedom to create and store variables with limited memory use and can then use assignAdd/Sub etc as needed.  So assignAdd/Sub would be left alone (unless you wan

[2020-01-27 22:15] feihugis commented on #35867
The solution from @wdirons works for me : `BAZEL_LINKLIBS=-l%:libstdc++.a bazel build -c opt //tensorflow/tools/pip_package:build_pip_package `

[2020-01-27 22:15] qlzh727 commented on #36139
Hi @jmhessel

Thanks for reporting the issue.

1. cuDNN kernel only support right padded input sequence. We will fallback to use generic kernel when input is left padded (pre-padding) or mix-masked. See docstring for cuDNN kernel criteria in the LSTM/GRU layer. For the working case, since the data is pre-padded, it goes to generic kernel, and nothing breaks (it doesn't invoke cuDNN kernel at all).

[2020-01-27 22:16] qlzh727 commented on #33148
ping @houtoms for a status update from Nvidia side.

[2020-01-27 22:19] DnPlas commented on #35867
Hi @feihugis, thanks for the workaround. Any clue why it doesn't get solved by adding "--linkopt=-lstdc++"? I tried that, but seems like failing. I will try your suggestion.

[2020-01-27 22:23] houtoms commented on #33148
Sure. Let me check with the CUDNN team and will update soon.

[2020-01-27 22:32] jvishnuvardhan commented on #35791
@alewir I don't see any issue with the code. I suspect root-cause is related to GPU cuda drivers or somethings related to them. `TF2.1` is built with cuda10.1 so please uninstall `cuda10.2`, unistall `TF2.1`, restart computer, install `cuda10.1`, install `TF2.1` and then test again.

Please let us know how it progresses. Thanks!

[2020-01-27 22:37] feihugis commented on #35867
I am not very clear about this. @wdirons Do you have any ideas?

[2020-01-27 22:37] dirktheeng commented on #35994
@sanjoy Also, if you look at the existing code, the assignop already has TF_CALL_GPU_ALL_TYPE registration and the variableOp TF_CALL_GPU_NUMBER_TYPE.  IMHO, they should both be TF_CALL_GPU_ALL_TYPE and also include TF_CALL_INT32

[2020-01-27 22:37] jmhessel commented on #36139
Gotcha --- that makes sense. If you use pre-padded/left-padded sequences, a non CuDNN kernel is used. Otherwise, a CuDNN kernel is used. So --- if all your sequences are either full, i.e., don't require padding or fully-padded, the CuDNN kernel is used (because it appears that everything is right-padded) but then it fails because of fully empty sequences.

BTW --- is their an easy way to check to

[2020-01-27 22:42] #36139 closed

[2020-01-27 22:55] jvishnuvardhan commented on #31184
@wmmxk Can you please open a new issue with more details on your issue, error trace and provide the colab (in the above post). Thanks!

[2020-01-27 22:55] will-holley commented on #34607
Has anybody gleaned any insight into the problem?

It seems that enough people are taxed by it to warrant an economic incentive for its fix.  Any interest in pooling together for to establish a reasonable bug bounty?

[2020-01-27 22:57] jvishnuvardhan commented on #35986
@st170911 Can you please create a simple standalone code to reproduce the issue? Please share the model *.pb. Thanks!

[2020-01-27 22:58] jvishnuvardhan commented on #35750
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-27 22:58] #35750 closed

[2020-01-27 23:00] #34068 closed

[2020-01-27 23:06] wdirons commented on #35867
Before compiling TensorFlow, I had to compile Bazel and it was failing with the same error:

I found these related to the issue:
https://github.com/bazelbuild/bazel/issues/8652
https://github.com/bazelbuild/bazel/pull/8660
https://github.com/bazelbuild/bazel/issues/10327

They say to use `BAZEL_LINKOPTS=-static-libstdc++ BAZEL_LINKLIBS=-l%:libstdc++.a`, but I found just using BAZEL_LINKLIBS is eno

[2020-01-27 23:11] qlzh727 commented on #36139
The actual kernel is only data dependent. It is possible that one batch run with cuDNN kernel since it meets the criteria, and the following one doesn't. The kernel is assigned at ops runtime, which is too far from python API level to retrieve.

[2020-01-27 23:12] jayantsahewal opened #36266 "Check failed: 0 <= new_num_elements"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-01-27 23:14] jmhessel commented on #36139
Gotcha --- very cool :) I think I am now successfully using the cudnn kernel, because my training steps are over 2x faster 0.0

[2020-01-27 23:16] lbatteau commented on #35980
Yes, this seems to resolve the issue. I did have to modify the patch to reference 'Foo' correctly: `self.key = DummyEagerGraph.Foo()`.

[2020-01-27 23:27] mihaimaruseac commented on #36266
You are allocating a tensor with too many elements, and there is a check that prevents that from happening.

[2020-01-27 23:30] jayantsahewal commented on #36266
But, shape of the dataFrame is just (3333, 154)

[2020-01-27 23:40] iganichev commented on #35980
Great. I will make the patch and send it out internally (a little easier). I should make it to github tomorrow night or a bit later.

[2020-01-27 23:43] lbatteau commented on #35980
That's amazing, thanks for the quick response!

[2020-01-27 23:56] gowthamkpr commented on #36203
@Matoran I used a different code to test TimeseriesGenerator with fit_generator. Heres my [gist](https://colab.sandbox.google.com/gist/gowthamkpr/994a11657986b250976f2ec252abe1e0/untitled284.ipynb)

I am not running into any error using tf-nightly. Please take a look at it.

You can also find the code that I used [here](https://github.com/Tony607/Keras_TimeseriesGenerator). Thanks!

[2020-01-28 00:06] aselle commented on #35987
Can you post the whole backtrace in gdb?

[2020-01-28 00:08] jvishnuvardhan commented on #36181
@nbro It is clearly showing the root-cause of the error. When I added `print(help(y_pred))` in the loss function, it  showed `Tensor in module tensorflow.python.framework.ops object`. As a tensor object, it doesn't have any `log_prob` attribute. So, it is throwing `AttributeError`. Thanks!

[2020-01-28 00:18] jvishnuvardhan commented on #35815
@bersbersbers Yes, This is still an issue with `TF2.1`. It was update recently in `tf-nightly`. If you want to test, please install `tf-nightly` and test. Otherwise, there will be stable `TF2.2` version released in the near future. Thanks!

I am closing as it is resolved. Thanks!

[2020-01-28 00:18] #35815 closed

[2020-01-28 00:28] #35817 closed

[2020-01-28 00:28] #35883 closed

[2020-01-28 00:48] gargn commented on #34350
First off, I recommend using `experimental_new_converter` given that the older converter seems to be resulting in additional errors. With the new converter, it becomes clear that your example uses an unsupported operation - `tf.ParseExampleV2`.

Given that `tf.ParseExampleV2` is not supported as a built-in op in TFLite your options are to:
1. Remove `tf.ParseExampleV2` from your graph.
2. Implemen

[2020-01-28 01:00] haozha111 commented on #35784
I'm a bit interested why it can't reach 400% cpu utilization. Are you calling interpreter.invoke repeatedly for a long duration?

[2020-01-28 01:02] sanjoy commented on #35994
Just to be clear, you're talking about the `Variable` and `VariableV2` op, *not* `VarHandleOp`?

[2020-01-28 01:08] haozha111 commented on #35927
Sure. I will need to take some time to repro the problem. This might not relate to tensorlist though.

(note that you can't get rid of converter.experimental_new_converter = True), since your graph contains control flows which can *only* be handled by the new converter.

[2020-01-28 02:27] yourtheron commented on #36198
@oanush . As I mentioned above, please refer to the last comment in issue #35441 and talk to @reedwm , who actually found out the bug and suggested me about raising it in a new issue.

[2020-01-28 02:49] terhorst opened #36268 "tf.debugging.assert_shapes() does not work for SparseTensor"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS X 10.15
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1
- Python version: 3.8

**Describe the current behavior**
`tf.debugging.assert_shapes` cannot be used

[2020-01-28 03:15] igorhoogerwoord commented on #36121
Hi @mihaimaruseac

10.1 is indeed the CUDA version that I am installing, because the current documentation does refer to that version for Tensorflow 2.1: https://www.tensorflow.org/install/gpu

It turns out the Nvidia *driver* needs to be 430 instead of 418 to make it work on Linux Ubuntu 18.04.

I think the documentation needs to be updated to reflect the new driver version right?
Or do you mean

[2020-01-28 03:24] KoizumiNao opened #36269 "ModuleNotFoundError: No module named 'tensorflow.contrib'"
Hi. Can anyone help me with this existing problem?

This is the error.
2020-01-28 02:46:01.200715: E tensorflow/core/platform/hadoop/hadoop_file_system.cc:132] HadoopFileSystem load error: libhdfs.so: cannot open shared object file: No such file or directory
Traceback (most recent call last):
  File "train.py", line 48, in <module>
    from tensorflow.contrib import framework as contrib_framework

[2020-01-28 03:25] oanush commented on #36236
Issue replicating for [tf-nightly](https://colab.sandbox.google.com/gist/oanush/8de62f184ff385f8c95404fa6b8d36f4/36236.ipynb), thanks!

[2020-01-28 03:39] reedwm commented on #36198
Ah I see the issue. You never used either of your Concatenate layers. Here is a smaller example to reproduce:

[code]

The error is

[code]

This isn't a bug, but perhaps we could improve the error message?

[2020-01-28 04:21] jkparuchuri opened #36270 "TFLite FP16 network Fully connected layer failing on gpu in android"
Using tensorflow 2.1 on both python as well as android. Quantized the model to fp16 in python and successfully run inference tests with python interpretor on ubuntu/mac.

But when I deployed the same network on android edge device with tflite java 2.1 pre-built and enabled gpu delegate, its failing with below error.

tensorflow/lite/kernels/fully_connected.cc:105 filter->type != kTfLiteFloat32 (10

[2020-01-28 04:52] PrashantDandriyal commented on #35072
Made clarification. Created Pull Request #36271

[2020-01-28 05:00] maximuslee1226 commented on #32793
Hi Shun-lin, I tried, but it failed. I have tf-nightly installed, but it's still giving me the same error. cudnn installed and working find with samples after mnist test, but as soon as I call the tf.config.experimental.list_physical_devices(), I get the same error. I need some help! Thanks in advance.

[2020-01-28 05:55] MokkeMeguru commented on #18222
Tensorflow Team doesn't want to test the user's layer...
Custom Layer cannot apply unit tests (these unit tests have the process, 'its layer is tensorflow's official layer?')

[2020-01-28 05:57] terryheo commented on #36184
Confirmed. Working on this.

[2020-01-28 05:58] Leslie-Fang commented on #36266
Didn't reproduce this issue with commit-id: 0c9a5414d4ac21a52ddd2ee441afe69113bd8bc4 in master branch.

[2020-01-28 06:05] MokkeMeguru opened #36272 "Able to Custom Layer's unit test"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): Yes

**

[2020-01-28 06:11] MokkeMeguru commented on #36272
So, we can change the layer_test function as follows
[code]

[2020-01-28 06:13] MokkeMeguru commented on #36272
Usage:
[code]

[2020-01-28 06:27] serdarbozoglan commented on #26846
I am also having the same issue. Could you address please?

[2020-01-28 06:30] Saduf2019 commented on #36269
Could you please provide us with simple standalone code to reproduce the issue in our environment, Thanks

[2020-01-28 06:58] shauryad15 commented on #35389
@impjdi do you have any follow steps on how to convert an object detection model into it's compatible tflite format so that we can use gpu delegate to run it?

I tried converting it the model into it's tflite format but i'm getting model initialisation error. no documentation is available in internet. Do you any?

[2020-01-28 07:41] VitaliKaiser opened #36274 "Support setting shapes directly in tf.py_function"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tensorflow==2.1.0
- Are you willing to contribute it (Yes/

[2020-01-28 07:47] ravikyram commented on #36229
@ZTZ-99

Make sure[ long paths are enabled ](https://superuser.com/questions/1119883/windows-10-enable-ntfs-long-paths-policy-option-missing)on Windows.Thanks!

[2020-01-28 07:55] rangsaritv opened #36275 "Build on MacOS for Select Operators TFLite error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.14.5
- TensorFlow installed from (source or binary): installed from source
- TensorFlow version (use command below):  v2.0.1
- Python version: 3.5.2
- Bazel version (if compiling from source):  0.26.1
- GCC/Compiler version (if compiling from source):  Apple clang version 11.0.0 (clang-1100.0.33.17)

**Descr

[2020-01-28 08:12] VitaliKaiser opened #36276 "Support nested structure as return value in tf.py_function."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tensorflow==2.1.0
- Are you willing to contribute it (Yes/

[2020-01-28 08:20] Leslie-Fang commented on #36268
@terhorst  I believe the input of sparse_tensor is not a typical use-case for tf.debugging.assert_shapes but it shouldn't raise the error neverthless.
I have made a PR to fix it: https://github.com/tensorflow/tensorflow/pull/36277
Please have a check if needed.

[2020-01-28 08:26] VitaliKaiser opened #36278 "Support tf.SparseTensor and tf.RaggedTensor in tf.py_function"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tensorflow==2.1.0
- Are you willing to contribute it (Yes/

[2020-01-28 08:32] MokkeMeguru commented on #18222
https://gist.github.com/MokkeMeguru/35af0c7ddba511f6a268e7c78fdba2d6
Here is the test-passed BatchNormalization Layer
This layer was tested by https://github.com/tensorflow/tensorflow/pull/36273

I need anyone to help me to test this layer.

[2020-01-28 09:05] rodyt commented on #36224
Hi @Saduf2019 ,

Thanks for responding. I am able to reproduce the error with the sample MNIST code provided on the Tensorflow website:
https://www.tensorflow.org/tutorials/distribute/keras

This is the sample code from the tutorial that I tried to run:
[code]
This is the output when I run `.fit` using `MirroredStrategy`:

This is the output of the model when I run _without_ `MirroredStrategy`:

[2020-01-28 09:13] gm-spacagna commented on #36250
I have even tried wrapping the tensorflow metric instances in a sort of decorator:
[code]

The wrapped metrics instances work fine in eager mode in fact I can now get reproducible results when I calculate the recall in sequence on the toy data.

Nevertheless, when I collect the metrics calculated at each epoch via the History callback in Keras, the look like in the original case (without the wrapp

[2020-01-28 09:15] Lem0nRavioli commented on #22794
https://github.com/tensorflow/tensorflow/issues/22512#issuecomment-572603142
This solved it for me.

[2020-01-28 09:24] PavelKovalets opened #36279 "Dimension is expanded for Keras scalar input in eager mode"
**System information**
- Have I written custom code: **YES**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10**
- TensorFlow installed from (source or binary): **pip**
- TensorFlow version (use command below): **v2.1.0-rc2-17-ge5bf8de410 2.1.0**
- Python version: **Python 3.7.3**
- CUDA/cuDNN version: **CUDA v10.1 / cuDNN 7.6.4**
- GPU model and memory: **NVIDIA GeForce GTX

[2020-01-28 09:34] renatobellotti commented on #36245
I don't know, I just realised that there is something wrong with the formatting.

[2020-01-28 09:42] gm-spacagna commented on #36250
I have tried to train the model by proving random validation labels (y_val) in order to force a visible gap between training and validation data.
The metrics calculated natively in keras makes sense (loss and accuracy):

![loss-keras](https://user-images.githubusercontent.com/1311749/73252243-baaf6200-41ba-11ea-8d9c-ad2d8148e251.png)
![accuracy-keras](https://user-images.githubusercontent.com/1311

[2020-01-28 09:50] patzm commented on #36179
Hm, someone seems to have done it after all: https://hub.docker.com/layers/tensorflow/tensorflow/1.15.2-gpu/images/sha256-da7b6c8a63bdafa77864e7e874664acfe939fdc140cb99940610c34b8c461cd0
Thanks to [@angersson](https://hub.docker.com/u/angersson)!

[2020-01-28 09:51] gustavgransbo opened #36280 "Keras: Unable to load SavedModel that includes tf.keras.backend.not_equal call"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 18.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **No**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use comma

[2020-01-28 09:54] Corly commented on #23715
I also had this error on Windows. On my case I had installed cupy-coda which also added de cudnn dll and the program always looked there for it.

In order to fix this I just removed the cupy-coda dll from the cupy-cuda install folder (..Python36\Lib\site-packages\cupy\cuda) and then the program loaded the correct cudnn dll from CUDA_PATH.

[2020-01-28 09:56] Flamefire opened #36281 "unsupported operand type(s) for *: 'int' and 'NoneType' in training_v2"
**System information**
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.1.0

Running a simple evaluation of a Lenet Model with MNIST dataset (from TFDS) with a large batch size (e.g. due to using many workers) leads to

[code]

and

[code]

The bug is pretty obvious in https://github.com/tensorflow/tensorflow/blob/7b0cfadc895d74aec99875a23ed296506c

[2020-01-28 10:01] Avagenzo commented on #24828
I had two Python Notebook Tabs open. Both containing a GPU-initialization. Shutting down one tab and restarting the kernel in the other solved the issue.

[2020-01-28 10:11] yanghaoyue001 commented on #31368
Figured out a solution that sounds stupid. I moved the folder 'models' with .tflite file to '/home/username/edgetpu', and then the compiler works with the same compile code provided on the official website. This 'edgetpu' folder was created through a beginner object detection retrain example using dataset of American bulldog and  Abyssinian provided on the official website.

My setup: custom datas

[2020-01-28 10:29] Oscarjia commented on #35888
i also got the problem. when i save the model it works.
`model5.save('./model_name.tf')`
`INFO:tensorflow:Assets written to: ./model_name.tf\assets`
but when i try to load the saved model,
`from tensorflow.keras.models import load_model
model6=load_model('./model_name.tf')`
it raise exception:
`
ValueError                                Traceback (most recent call last)
<ipython-input-353-c27051c3

[2020-01-28 10:32] yll-C2S commented on #8658
Hi all,

This is a "trick" I found to save the best checkpoints.
I am writing a small code which regularly downloads a specfic loss graphic in tensorbord page. The downloaded data are stored in text file in JSONArray format. Each JSON has :
-  time
-  step
-  loss
For instance, if you are interested in the "Total loss", use this curl command (make sure tensorboard is launched and working !):
curl

[2020-01-28 10:32] sebastianschramm opened #36282 "What (tf) happened to and in release 1.15.1?"
There was a release of tensorflow-1.15.1 available for a very short time (on Jan 24 2020) that caused a `TypeError: gradients_v2() got an unexpected keyword argument 'colocate_gradients_with_ops'`.

Exact same code that failed with above error on v1.15.1 works with v1.15.0 and v1.15.2.

Now, the release tag 1.15.1 (https://github.com/tensorflow/tensorflow/tags) is not even available anymore on git

[2020-01-28 11:06] hgaiser commented on #33691
Awesome @srjoglekar246 , latest `tf-nightly` fixed my issue. Thank you!

[2020-01-28 11:20] AkashB23 commented on #36207
Thank You but it would be greate if you suggest any debugger that can traverse throughout the tensorflow module plzzz.. because whichever i know are only refering from executed script only

[2020-01-28 11:29] gadagashwini commented on #36238
@ashwin17083, Can you provide the standalone code replicate the reported issue. Thanks!

[2020-01-28 11:32] gadagashwini commented on #36244
@renatobellotti, can you elaborate the issue with code snippet or any use case. Thanks!

[2020-01-28 11:40] amahendrakar commented on #36253
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. Thanks!

[2020-01-28 11:41] joel5638 commented on #30197
Can we train the facial landmark on different models like fasterrcnn, ssd and mobilenet using this https://github.com/yinguobing/cnn-facial-landmark?

[2020-01-28 11:43] Leslie-Fang commented on #36278
@VitaliKaiser  Create a PR to convert the sparse tensor and ragged tensor into the uniform tensor

[2020-01-28 11:48] gadagashwini commented on #36246
Was able to reproduce the issue with Tf 1.15 on colab.
Please find the gist [here](https://colab.research.google.com/gist/gadagashwini/e149f31541c4106708a8c850761a39c3/untitled362.ipynb). Thanks!

[2020-01-28 11:50] gadagashwini commented on #36247
@himanshisyadav, Could you provide the standalone code to reproduce the reported issue. Thanks!

[2020-01-28 11:55] brightcoder01 commented on #34618
Hi, @rmothukuru and @k-w-w , can you please share more information about this issue?

[2020-01-28 11:55] ravikyram commented on #36234
@B0yma
Can you please go through this [link](https://www.tensorflow.org/lite/guide/ops_select), [link2 ](https://www.tensorflow.org/lite/guide/android) and see if it helps you. Thanks!

[2020-01-28 12:10] amahendrakar commented on #36255
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/5702221d4122ecf0ff681e032cb61657/36255.ipynb). Thanks!

[2020-01-28 12:29] ManishAradwad commented on #35816
Hey @ashutosh1919 , sorry for the late reply...

I actually came across this issue while doing the exercise in the dl course. I've tried replicating the problem in following colab: https://github.com/ManishAradwad/ML_Stuff/blob/master/Courses/Udacity:%20Intro%20to%20Tensorflow%20for%20DeepLearning/Lesson5:%20TransferLearning/FlowersWithTransferLearning.ipynb

If we batch the flower images first an

[2020-01-28 12:31] ravikyram commented on #36192
I have tried on colab with TF version 2.0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/cb1ab77eee77a220bd6632f2a2b0de3e/untitled594.ipynb). Thanks!

[2020-01-28 12:33] Matoran commented on #36203
@gowthamkpr next time I should test tf-nightly before opening an issue :p. Thanks

[2020-01-28 12:33] #36203 closed

[2020-01-28 12:43] amahendrakar commented on #36241
@arjun-majumdar,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-01-28 12:55] borgr commented on #12475
Any news? I also got that running tf 1.15 (ignore if fixed in 2, I did not convert yet)

[2020-01-28 13:09] KoizumiNao commented on #36269
I tried to train data using this line in the terminal:
**python3 train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config**

[2020-01-28 13:10] BrEr commented on #35630
The issue described in the linked issue is different from what I am experiencing. It also does not fix the issue. 8x8 is working.

[2020-01-28 13:18] ravikyram commented on #36262
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Please, provide simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. If you are unclear what to include see the issue template displayed in [the Github new iss

[2020-01-28 13:26] thelinuxmaniac commented on #36199
closing this issue as it has already been fixed.

[2020-01-28 13:26] #36199 closed

[2020-01-28 13:30] amahendrakar commented on #36250
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/40d8b36766062b0c2a9101af93ae8464/36250.ipynb). Thanks!

[2020-01-28 13:34] josdewitte commented on #36252
See also related issue https://github.com/tensorflow/tensorflow/issues/36064

[2020-01-28 13:40] arjun-majumdar commented on #36241
@amahendrakar , added GitHub repo URL in post

https://github.com/arjun-majumdar/Lottery_Ticket_Hypothesis-TensorFlow_2/blob/master/tfmot_sparsity_experiment.ipynb

[2020-01-28 14:05] shaywinter commented on #35860
Facing same issue when capturing profile data by tensorboard through gRPC: Tried following [solution](https://developer.nvidia.com/nvidia-development-tools-solutions-err-nvgpuctrperm-cupti) by nvidia (enable non privileged access to profile counters) - to no avail. my training runs as root inside a container (which was other solution suggested by nvidia).
TF2.1.0, NVIDIA Driver Version: 418.56 CUD

[2020-01-28 14:18] dirktheeng commented on #35994
@sanjoy yes

[2020-01-28 14:18] Ehtasha commented on #30645
@Deepak-HpyAda
How you get the output paramters ?

[2020-01-28 14:20] mradlmaier commented on #36269
Same problem but on local machine:
**python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/ssd_inception_v2_coco.config**

[2020-01-28 14:34] aselva-eb commented on #36184
Thank you. In the mean time for anyone else struggling with this issue, I was able to backtrack to an older commit of the repo:
fc7bce9b4ada6ef123b899ed88889923c9fafae6

[2020-01-28 14:47] terhorst commented on #36268
This fixes it, but converting the sparse tensor to dense solely for the purpose of checking its shape seems quite wasteful to me.

[2020-01-28 14:55] susierao commented on #31231
Had the same problem. Then I referred to the [tf2.0.0 documentation for fit()](https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit), where it says:

This leads me to the following solution:

[code]

[2020-01-28 15:16] wezzoid opened #36284 "Problems building TF-Lite Android Benchmark tool"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Build machine is an Ubuntu VM

[2020-01-28 15:24] michal-bouska commented on #14885
I have same problem, and also I work on shared cluster without root privilegies.
For me help reach limit to hard limit (see ulimit -H -a) by ulimit -u 1029439.

[2020-01-28 15:31] Joshuaalbert commented on #14885
@mrry Could you reopen please?

[2020-01-28 15:34] edwardyehuang commented on #18222
[code]

Improved code based on the code from @MokkeMeguru
Tested on my Model,  global batch size = 16
1.8 times slower, and 1% performance dropped on 2 P40 GPU without NVLINK

Will test it on 2 * Titan RTX with NVLINK

[2020-01-28 15:38] Arsakes commented on #35124
I've also notices disastrous performance drop between TF2.1/2.0 and 1.14/1.15.

It's hard to compare pieces of code directly since,  2x advises very differnt style of coding.
Anyways I've ported 3 vision models from legacy graph mode and with using the same input pipeline based on `tf.data.Dataset` the performance drop is goes from
1.5 - 2.9step/s
to 0.3-0.5 step/s
I've tired eager execution, part

[2020-01-28 15:47] MokkeMeguru commented on #18222
It's very simple. I like this code.
(but this code cannot pass TensorFlow's too complexed unit test, I think)

[2020-01-28 15:55] Mr-Bigworth opened #36286 "ImportError: DLL load failed:"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution :win10
- TensorFlow installed from (source or binary):http

[2020-01-28 16:11] lllAlexanderlll commented on #35987
Sure:
[code]

The tensorflow version used during the inference is 2.0.0 (as shown in the output).

Thanks for helping!

[2020-01-28 16:20] #36184 closed

[2020-01-28 16:37] mihaimaruseac commented on #36179
Yes, I was wrong and we needed an upgrade.

I think we can close this now.

[2020-01-28 16:37] #36179 closed

[2020-01-28 16:41] srjoglekar246 commented on #33691
Awesome!

[2020-01-28 16:41] #33691 closed

[2020-01-28 16:47] vicpara commented on #35358
`datasets = datasets.batch(64)` doesn't set the batch size. It actually tells the `dataset` object that at runtime it should batch everything you pass through into batches of 64. If you call batch twice then you get the result above. I think the function works as expected.

[2020-01-28 16:50] saxenasaurabh commented on #36168
@allenlavoie do you have any ideas?

[2020-01-28 16:53] Conchylicultor commented on #35630
@gowthamkpr
From what I understand of the issue, `tf.io.gfile` fails to extract the following file on windows. This seems unrelated to TFDS. I do not have access to windows so cannot reproduce the issue.

@BrEr You should update the issue description with better title/description. The current one makes it look like the issue is related to TFDS which it is not, so it's not surprising that TF team d

[2020-01-28 17:02] mihaimaruseac commented on #36121
You are right, I misunderstood.

[2020-01-28 17:04] sanjoy commented on #35994
Ok, that SGTM.  Are you going to send a PR?

[2020-01-28 17:04] mihaimaruseac commented on #36286
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-01-28 17:04] #36286 closed

[2020-01-28 17:05] padoremu commented on #36093
@oanush Do you have any news? I tried to load the saved tf model in the colab, and it fails. So unfortunately, the workaround does not work, not even with the newest tensorflow version.

[2020-01-28 17:19] Rbiessy commented on #34991
I just had a similar error. The error message is misleading but it may be that `_pywrap_tensorflow_internal.so` is not compiled for the architecture you would expect i.e. the cross compilation went wrong. Can you check what is the output of `file /home/rmc/code/venv/lib/python3.6/site-packages/tensorflow_core/python/_pywrap_tensorflow_internal.so`?

[2020-01-28 17:27] awav commented on #26204
One year has passed!!! Thanks to @srvasude.

[2020-01-28 17:32] allenlavoie commented on #36168
I commented out the two `@tf.function` lines and I see the same "Input not invertible" error (from MatrixInverse via LogMatrixDeterminantGrad). Adding back the stop_gradient does avoid the error in either case. This is with 2.2.0-dev20200128.

It's totally possible that tf.function changes the gradient graphs for higher-order gradients in some cases. They're still correct (assuming the original re

[2020-01-28 17:34] gunan commented on #35993
`core/kernels` by design are just our implementations of kernels. Most libraries there have not been designed to be reused. So in our code structure, they are meant to be hidden symbols not used by others.

Moreover, on windows, we have to limit the number of symbols we export. This is because windows puts a limit on number of exported symbols from shared objects. So that folder is completely excl

[2020-01-28 17:34] #35993 closed

[2020-01-28 17:45] himanshisyadav commented on #36247
I am using the autoencoder example codes from [this](https://github.com/lloydwindrim/hyperspectral-autoencoders) github repo. Specifically running autoencoder_test_MLP_basic.py.

I actually unset tf_xla_cpu_jit variable and the above error was solved. However, I was trying so many things simultaneously that I do not remember what did the trick.

[2020-01-28 17:46] AnakTeka commented on #24328
I'm having a same problem, did you find the fix for this?

[2020-01-28 17:47] mckinziebrandon commented on #30121
Agreed with @lebinlebin, the solution is unclear. Can someone explictly provide an example of:

1. The TF_CONFIG set on the worker nodes.
2. The TF_CONFIG set on the evaluate node.
3. The full tf.estimator.RunConfig used.

[2020-01-28 17:57] divyag11 opened #36287 "keras freezing at last step in the first epoch"
My model is using tf 2.0 and tf.keras 2.2.4 . When I train the model, it freezes at the last step of the first epoch. I am using :
 history = model.fit(
     train_dataset,
   epochs=EPOCHS,
    steps_per_epoch=train_steps,
    validation_data=valid_dataset,
   validation_steps=valid_steps,
 )
the train_dataset and valid_dataset is of type: <class 'tensorflow.python.data.ops.dataset_ops.DatasetV1A

[2020-01-28 18:07] mrry commented on #14885
@Joshuaalbert It sounds like you're running into a different problem, so please open a new issue with details of how to reproduce the problem. Thanks!

[2020-01-28 18:16] dirktheeng commented on #35994
I can.  This is my first PR.  Will tests be run on servers or do I have to run tests locally?

[2020-01-28 18:30] philpearl opened #36288 "Go API performance concerns with NewTensor & Value"
The Go NewTensor call will unnecessarly incur a large number of allocations (e.g. >20,000 for a 100x100x100 tensor). There are similar issues with .Value. It's possible to work around the issue by using ReadTensor and WriteTensorTo.

I'm basically wondering if a PR to fix this would stand a chance of being accepted? If there's a chance I might have a go. The 'best' fix would likely use unsafe - wo

[2020-01-28 18:31] gsimko commented on #35439
Resetting the state does not solve the problem - during evals one needs to accumulate the metrics. Why was this issue closed?

[2020-01-28 18:36] wdirons commented on #36282
My speculation - 1.15.1 was tagged with something major wrong and they had to delete the tag so that no one tried to build it. The same thing happen with 1.13.0 when the master branch was tagged instead of the r1.13 branch. Once a tag is used and picked up in forks, you can't reuse it.

So 1.15.1 is history. Looking at the commit history for the r1.15 branch I see this: https://github.com/tensorfl

[2020-01-28 18:46] stephenwithav commented on #35164
Hi @gadagashwini!  I'm having this problem, too.

I'm following along with the code linked in this article:

https://blog.tensorflow.org/2019/03/variational-autoencoders-with.html

...but using TF 2.x.

https://colab.research.google.com/drive/1HonWNUBQaecB4GHAAGiVP6YBUDc33qOF

The error occurs when defining the encoder:

[code]

[code]

[code]

Does this help or should I create a new issue?

[2020-01-28 18:49] maximuslee1226 commented on #34759
@hd1090. I tried to install tensorRT in cuda 10.1. My gpu is working, but tensorRT installation is erroring out on me with the following message. Do you know what could be wrong here?
(base) prompt$:~$ sudo apt install tensorrt
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impo

[2020-01-28 18:59] haozha111 commented on #35987
There is a specific line in your converter code:
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir, input_shapes={"image": [1, 640, 480, None]}) #only change of code beside filenames

Can you also specify the last dimension (channel size) for the input shape? Currently tf lite doesn't support dynamic shapes very well, so i'm guessing this might  be an issue. thanks.

[2020-01-28 19:01] #36217 closed

[2020-01-28 19:02] pavithrasv commented on #29770
Is this still an issue? i do not see any error or predict calls in the colab.

[2020-01-28 19:09] colt18 commented on #36262
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (Windown 10-64 bit):
- TensorFlow installed from (source or binary): binary from conda
- TensorFlow version (use command below): 2.0
- Python version: 3.7
- CUDA/cuDNN version:
- GPU model and memory: GTX 1070

**Describe the current behavior**

[2020-01-28 19:10] #35980 closed

[2020-01-28 19:19] pavithrasv commented on #30208
A change was made to make the node attributes mirror the structure of the inputs. So this behavior is expected.
Node attributes are implementation detail - used for creating Keras graph. Probably why this change wasn't announced as a breaking change in the release.

[2020-01-28 19:19] #30208 closed

[2020-01-28 19:21] MarcoLeti commented on #36141
Same problem here, is there a resolution by any chance? Thanks

[2020-01-28 19:43] talumbau commented on #36226
Hi,

I think you are right that we don't have great documentation here. The layout of the tensor data is such that the values in the dimension of highest index "change fastest" as you iterate through the data. So, with typical 4D tensors in MobileNet models labeled as [batch, filter height, filter width, channels], you step through the channel dimension as you iterate through the data. You can see

[2020-01-28 19:44] #36226 closed

[2020-01-28 19:44] edufonseca commented on #24520
@rachellim I encountered exactly the same thing as @adriancaruana . His proposed solution works for me with `tf.__version__: 2.1.0`. Be sure to apply `set_shape()` to the tensor _returned_ by `tf.py_function()`, and not within `tf.py_function()`.

[2020-01-28 19:57] thelinuxmaniac commented on #36226
I am grateful for you support in improving my understanding of the code. Thank you.

[2020-01-28 20:17] Jbiloki opened #36289 "Tensorflow 2.1 Tracing Error with Model Subclassing"
I am implementing a tensorflow model using the keras subclassing api, as mentioned in a previous post here:

https://stackoverflow.com/questions/59743161/tensorflow-model-subclassing-mutli-input

I am running into an error that is slowing my entire system, where it is retracing but I cannot narrow down where this error occurs, I do not use @tf.function anywhere in my code. I am looking for support

[2020-01-28 20:18] jvishnuvardhan opened #36290 "Not sufficient documentation on custom tf_lite classification model"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-01-28 20:19] #36290 closed

[2020-01-28 20:24] patzm commented on #36179
Yes thank you :+1:

[2020-01-28 20:26] JanzenLiu commented on #23344
Hey, I notice that your GPU is NVIDIA Quadro M2200. Do you remember how you set up the tensorflow environment? I kept getting  CUDA_ERROR_NO_DEVICE. My GPU is alos Quadro M2200.

[2020-01-28 20:41] sanjoy commented on #35994
The PR won't be merged unless all tests pass (this is automatically enforced).  However it is usually better  to run tests locally so that your PR does not get blocked.

[2020-01-28 20:42] qlzh727 commented on #33178
The PR has been rollback due to a test failure. I will try to update the internal code/test to fix the memory leak.

[2020-01-28 20:47] ArthurAttout opened #36291 "GFile read() terminates with no error message"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
  **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
  **Windows 10 1909, 18363.592**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
  **N/A**
- TensorFlow installed from (source or binary):
  `pip install tensorflo

[2020-01-28 20:50] pavithrasv commented on #32006
Can you wrap the while loop in a lambda layer?

[code]

By default if TF ops are used in a tf.keras model, without having been wrapped in a tf.keras layer, we try to wrap them ourselves. This will work only for use cases where we can backtrack to the inputs of the model. If your custom op has a control dependency for example, this automatic wrapping will not work.

[2020-01-28 20:50] #32006 closed

[2020-01-28 20:57] pavithrasv commented on #29770
Closing the issue as there is not enough information to repro the issue, please feel free to re-open if required.

[2020-01-28 20:57] #29770 closed

[2020-01-28 21:05] ajschumacher commented on #31800
Thanks for creating the issue, @g19fanatic! Thanks for looking into it, @mihaimaruseac! Recently encountered this as well. Currently manually editing the source code to achieve FIPS compliance, but it would be far better for TensorFlow to work with FIPS out of the box.

[2020-01-28 21:06] crccw commented on #34139
from device placement logs it seems that validation happens on all GPUs under conditions mentioned in  keras-team/keras#9404 (num_data=7,num_gpu=3,batch_size=6).

nvidia-smi may not be accurate if the dataset is small. Could you try again with a larger validation set (by adding a .repeat(N) to the dataset).

[2020-01-28 21:12] pavithrasv commented on #31110
@linhx13 Thank you for the issue. From the gist it looks like the issue is independent of validation_split=0, batch_size. I removed your custom loss and metric to make sure that the model works first and there are errors in the model. It would be great if you can provide a minimal repro, if there is still an issue here. Closing for now, please feel free to reopen if required.

[2020-01-28 21:12] #31110 closed

[2020-01-28 21:28] ArthurAttout commented on #36291
Actually, I just figured out this was failing because the path I was using didn't have escaped backslashes.

This can be closed, but I'd suggest figuring out a way to log it before it dumps.

[2020-01-28 21:28] #36291 closed

[2020-01-28 21:28] gowthamkpr commented on #35056
I am sorry for the above comment but try following this [comment](https://github.com/tensorflow/tensorflow/issues/32646#issuecomment-554609113). just replace
`from tensorflow.keras.optimizers import Adam`
in place of
`from tensorflow.python.keras.optimizers import Adam`

[2020-01-28 21:29] pavithrasv commented on #33428
`inputs` is a property on the `tf.keras.Model` class. Also you wouldn't need to create Input layer in the sub-classed model. It is more for the keras Functional API.

Please checkout the following guide on sub-classed models: https://www.tensorflow.org/guide/keras/custom_layers_and_models#building_models

[2020-01-28 21:29] #33428 closed

[2020-01-28 21:31] gowthamkpr commented on #35103
@TheBicPen Lets make things clear here. If you use pasta 0.1.8 are you still facing the issue in Manjaro Linux?

[2020-01-28 21:33] pavithrasv commented on #28074
Thank you, i see you have opened another issue for the pending features, will reply on that.

[2020-01-28 21:35] pavithrasv commented on #33636
Adding this to contributions welcome list. Please feel free to add the `multi-label` option to the APIs and send me a PR.

[2020-01-28 21:36] #35413 closed

[2020-01-28 21:51] gilescoope commented on #27880
This is still an issue, no way to do quantization-aware training, even in TF2.1.

Was expected Q2 2019, now it's Q1 2020.

[2020-01-28 21:57] gowthamkpr commented on #35451
@veonua In the line
`tf.saved_model.save(decoder, "/tmp/model",signatures=dncoder.call)`

In the `signatures=dncoder.call`, pass `signatures=decoder.call`

Also if you have any more question as this question is purely a support question and not related to  bug/performance, feature request, build/install or docs related issues, please post it in stack overflow.

[2020-01-28 22:01] pavithrasv commented on #32328
Adding @omalleyt12 who is working on refactoring code to make it easier for users to write custom training loops.

[2020-01-28 22:05] yzhuang commented on #36287
This is likely the same issue as https://github.com/keras-team/keras/issues/8595

When I ran into it, I noticed that if I don't supply `validation_data`, it didn't freeze.  When I supplied `validation_data`, it frozen on the last step in first epoch.

[2020-01-28 22:11] gowthamkpr commented on #35485
Similar ti the issue #21134. As @rohan100jain mentioned We can only compute gradients wrt Variables not tensors.

[2020-01-28 22:28] jackd commented on #32006
@pavithrasv yes, wrapping it in a keras layer resolves things. I'm starting to accept that `_create_keras_history_helper` isn't the panacea I thought it once was - and trying to write code that feels more like non-keras tf without wrapping things in `Lambda`s is generally just a bad idea.

My main issue is the lack of informative error message. `A cross-device loop must have a pivot predicate: whi

[2020-01-28 22:43] veonua commented on #35451
@gowthamkpr have you tried your answer or just wanted to close the issue?
I would appreciate it if you spend another minute and open the collab link I have created.

the issue is related to the official TF example. So it would be strange to ask help on Stack Overflow.

[2020-01-28 22:50] gowthamkpr commented on #35487
@yourtheron Look at this specific issue on how they used `@tf.function` This should give you clarity on how to use it in your case.

[2020-01-28 22:53] gowthamkpr commented on #36004
@Joshuaalbert I tried running it multiple times on colab but I didn't run into ``python': double free or corruption` error

[2020-01-28 23:32] #25306 closed

[2020-01-28 23:33] yashk2810 commented on #25306
This has been fixed.

[2020-01-28 23:35] MarkDaoust commented on #20343
I think this profiler is dead. Closing.

[2020-01-28 23:35] #20343 closed

[2020-01-28 23:39] yashk2810 commented on #22595
Can you try this out: https://www.tensorflow.org/tutorials/text/image_captioning

I am closing this. Please reopen if still failing.

[2020-01-28 23:39] #22595 closed

[2020-01-28 23:40] yashk2810 commented on #24203
This should be fixed by tomorrow or day-after tomorrow.

[2020-01-28 23:40] #24203 closed

[2020-01-28 23:43] ecpoppenheimer commented on #36236
I am having the same problem.  Removing all tf.function decorators causes the problem to go away.

[2020-01-28 23:44] qlzh727 commented on #35724
Thank you for the very detailed explanation and sorry for the late reply.

1. I agree with you that the recurrent dropout should not scale up the undroped value, wrt to all the referred paper.
2. Wrt to stateful RNN, currently generate new masks for each of the mini batch, but we can update that to handle the stateful case. Within each of the batch, the masks are the same.
3. If we going to change

[2020-01-28 23:48] yashk2810 commented on #24342
Thanks for reporting. Can you send a PR here (https://github.com/tensorflow/docs/blob/master/site/en/tutorials/keras/regression.ipynb) to fix it.

[2020-01-28 23:48] sanjoy commented on #32793
Can you please share the log file?  The original error has now been replaced by a [`LOG(INFO)` line](https://github.com/tensorflow/tensorflow/blob/f54bb6f5578b931d79884302768996ba1073f685/tensorflow/compiler/jit/xla_gpu_device.cc#L161) so you're probably seeing a different error.

[2020-01-28 23:55] yashk2810 commented on #24329
This has been fixed. The tag for jupyter notebook is: `docker pull tensorflow/tensorflow:latest-gpu-jupyter`.

Please reopen if you hit an error.

[2020-01-28 23:55] #24329 closed

[2020-01-28 23:57] yashk2810 commented on #23923
This looks fixed to me: https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator#export_saved_model

Please reopen or submit a PR if not fixed.

[2020-01-28 23:57] #23923 closed

[2020-01-29 00:00] jackd opened #36293 "Decouple RaggedStructure from RaggedTensor"
**System information**
- TensorFlow version (you are using): 2
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
I've been doing a lot of work with `RaggedTensor`s since their introduction, and one thing that irks me is that a lot of the methods (`row_lengths`, `row_starts`, `value_rowids` etc) work entirely on their row structure, and indep

[2020-01-29 00:01] jackd commented on #36293
@edloper thoughts? Happy to contribute PR if it's something that would be considered.

[2020-01-29 00:03] #33888 closed

[2020-01-29 00:05] cheshire commented on #32793
Also could you say whether the crash is still there if you run under `TF_XLA_FLAGS='--tf_xla_enable_xla_devices=false'` ?

[2020-01-29 00:13] yashk2810 commented on #26197
Both the things were fixed: https://github.com/tensorflow/tensorflow/pull/33443

Regarding difference between keras.io vs tensorflow.org/keras, contributions welcome :)

[2020-01-29 00:25] wolffg commented on #27351
This link has been removed.

[2020-01-29 00:25] #27351 closed

[2020-01-29 00:27] yashk2810 commented on #27070
Thank you so much. Fixed in nightly: https://www.tensorflow.org/api_docs/python/tf/keras/losses/CategoricalCrossentropy?version=nightly#class_categoricalcrossentropy

[2020-01-29 00:27] #27070 closed

[2020-01-29 00:29] yashk2810 commented on #26211
Thank you so much. Fixed in nightly: https://www.tensorflow.org/api_docs/python/tf/keras/activations/relu?version=nightly

[2020-01-29 00:29] #26211 closed

[2020-01-29 00:34] yashk2810 commented on #26533
It has a usage example now. I don't think it needs a visual. Closing because it seems fixed: https://www.tensorflow.org/api_docs/python/tf/argsort

[2020-01-29 00:34] #26533 closed

[2020-01-29 00:39] wolffg commented on #26783
This is updated in nightly.  Thanks!

[2020-01-29 00:39] #26783 closed

[2020-01-29 00:39] yashk2810 commented on #26976
Fixed in nightly: https://www.tensorflow.org/api_docs/python/tf/transpose?version=nightly

[2020-01-29 00:39] #26976 closed

[2020-01-29 00:42] yashk2810 commented on #27463
We are linking off to guides now: https://www.tensorflow.org/api_docs/python/tf/keras/Sequential?version=nightly

Regarding the ordering, this is being tracked internally and being worked on. Closing this for now. Please reopen if something is not fixed :)

[2020-01-29 00:42] #27463 closed

[2020-01-29 00:53] jvishnuvardhan commented on #36192
@arjun-majumdar I agree that `EarlyStopping` is kicking in early in case of `GradientTape` where as it is kicking later using `model.fit`. However, the error levels at those Epochs are very different. Please check below. These numbers are from your GitHub link.

#### Model.fit

[code]

#### Gradient Taps
`Epoch 99, Loss: 0.0751, Accuracy: 99.0625, Test Loss: 0.0815, Test Accuracy: 99.004120`

In c

[2020-01-29 00:53] #36192 closed

[2020-01-29 01:03] fcarsten commented on #36044
@pavithrasv I think I found a way to show the different behaviour in TensorFlow nightly by using `with tf.Graph().as_default():` instead of the `experimental_run_tf_function` argument:

[https://colab.research.google.com/drive/1clvvsr9i0Tvt8o3vyy8N3FSdSdX5-Se6](https://colab.research.google.com/drive/1clvvsr9i0Tvt8o3vyy8N3FSdSdX5-Se6)

I also added a TensorBoard visualization of the loss behaviour

[2020-01-29 01:07] #33178 closed

[2020-01-29 01:11] MarkDaoust commented on #27146
Hey @suharshs, any idea about the answer? or more generally the status of GraphTransform Tool?

[2020-01-29 01:14] yashk2810 commented on #33756
Every TF API is now doing that. There is a big Github button at the top :)

https://www.tensorflow.org/api_docs/python/tf/concat

[2020-01-29 01:14] #33756 closed

[2020-01-29 01:16] yashk2810 commented on #33764
The example has been modified to use scopes wherever necessary. Since it is a notebook and all cells are independent, we need to add scopes. This is not true for python files where you can only have one scope and everything underneath it.

Closing, feel free to reopen.

[2020-01-29 01:16] #33764 closed

[2020-01-29 01:19] MarkDaoust commented on #27269
I think that's it, or absl_py logging?

[2020-01-29 01:19] #27269 closed

[2020-01-29 01:21] yashk2810 commented on #33823
We have this guide now: https://www.tensorflow.org/tutorials/customization/performance

But we are working on more.

[2020-01-29 01:24] #22234 closed

[2020-01-29 01:25] Leslie-Fang commented on #36268
Hi @terhorst, I think this function is used for debugging only, right? If so, the efficiency shouldn't be the major problem. And I think this fix changes the least number of code which has lower possibility to induce other issues.

[2020-01-29 01:26] MarkDaoust commented on #22250
This is done, and those docs no-longer exist.

[2020-01-29 01:26] #22250 closed

[2020-01-29 01:26] ravi-ai-cons commented on #20444
WORKED FOR ME TOO. Thanks.

[2020-01-29 01:31] yashk2810 commented on #33356
This seems fixed in TF 2.1. Please reopen if you are still hitting errors.

[2020-01-29 01:31] #33356 closed

[2020-01-29 01:32] MarkDaoust commented on #23265
Hi @karmel  I don't think we have a single modern Estimator -> saved_model example.

Do you know who the right person to ask is?

[2020-01-29 01:32] wolffg commented on #27789
This tutorial was rewritten from scratch for 2.0 and seems to train and generate text correctly.  I'm closing this, but please file a new issue if you see any other issue.  Thanks!

[2020-01-29 01:32] #27789 closed

[2020-01-29 01:34] allenlavoie commented on #23265
There's a section in the SavedModel guide: https://www.tensorflow.org/guide/saved_model#savedmodels_from_estimators

But maybe we should have an example in the Estimator guide too.

[2020-01-29 01:35] yashk2810 commented on #27956
THis was updated: https://www.tensorflow.org/guide/estimator

Please reopen if image is still not found.

[2020-01-29 01:35] #27956 closed

[2020-01-29 01:56] terhorst commented on #36268
In my case, the whole reason for using a SparseTensor in the first place is
that it cannot fit into memory as dense. With this patch, assert_shapes()
will produce an OOM or some other form of crash, which seems like a
regression since that is strictly more annoying and harder to debug than
mismatched dimensions. But, it's your call; my only point in submitting
this issue was to bring it to your at

[2020-01-29 02:20] kyamagu commented on #32653
I observe this issue too. Below is my colab profiling showing that a model with BatchNormalization (ResNet50V2) is taking much longer to save when MirroredStrategy is used.

https://gist.github.com/kyamagu/695c127f7f457b5a5cee4aaaa80b6336

[2020-01-29 02:20] ZTZ-99 commented on #36229
我修改 long paths 的设置为enable后，旧错误没有再出现，但是出现了新的错误

注意: 包含文件:   bazel-out/x64_windows-py2-opt/bin\tensorflow/compiler/mlir/lite/ir/tfl_ops.h.inc
.\tensorflow/compiler/mlir/lite/quantization/quantization_traits.h(98): error C2976: “mlir::OpTrait::TFL::QuantizationSpecTraitBase”: 模板 参数太少
.\tensorflow/compiler/mlir/lite/quantization/quantization_traits.h(33): note: 参见“mlir::OpTrait::TFL::QuantizationSpecT

[2020-01-29 02:25] jackd commented on #36293
Having investigated the existing `RaggedTensor` implementation further I've realized the only caching that occurs is when cached values are calculated in the factory constructor. Is there any particular reason for that?

[2020-01-29 02:51] Broyojo opened #36294 "Dyanmic Library not loading tensorflow-gpu"
- OS Platform and Distribution: Zorin OS 15.1
- TensorFlow installed from binary
- TensorFlow version: 2.1.0
- Python version: 3.6.9
- Installed using pip
- CUDA/cuDNN version: 10.2
- GPU model and memory: 2080ti with 11gb of gddr6

So basically I want to leverage tensorflow-gpu since my gpu has a compute capability of 7.5. I went through all the steps that are on the tensorflow gpu installation f

[2020-01-29 03:01] yhliang2018 commented on #29288
The docs have been updated to 2.x APIs, and you may check it [here](https://www.tensorflow.org/api_docs/python/tf/estimator).

[2020-01-29 03:01] #29288 closed

[2020-01-29 03:46] oanush commented on #35876
@Kodiologist ,
Any update on the issue ?Thanks!

[2020-01-29 04:46] talumbau commented on #35380
Hi,

May I ask, what model of Raspberry Pi are you using and may I see the bazel command you used to build? Thanks!

[2020-01-29 04:58] fcarsten commented on #36044
I think I narrowed the problem further down. The current code is basically:
[code]

and training happens with:
[code]

This works with eager mode off, but does not work with eager mode enabled.

If I change the code slightly by changing the order of the ouputs and loss arguments:

[code]

this now seems to work in both version (although still much slower with eager mode enabled).

One potential ex

[2020-01-29 04:59] Saduf2019 commented on #36269
@KoizumiNao  Please refer to this work around [#31350](https://github.com/tensorflow/tensorflow/issues/31350#issuecomment-520958043). And let us know if the issue still exist.

[2020-01-29 05:12] sehargul-123 commented on #14978
tensorflow.python.framework.errors_impl.InvalidArgumentError: Header mismatch: Expected RIFF but found
i am getting this error while running my run file

[2020-01-29 05:22] gothboiclique commented on #8627
I know this is extremely late. But after you have installed tensorflow downgrade your h5py, the previous version is working for me.

"pip install h5py==2.9.0" hope this works for you too! :)

[2020-01-29 05:22] janonoly opened #36295 "````ruby def hello_world puts 'Hello World!' end ````"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-01-29 05:24] janonoly commented on #36295
[code]
![吾爱淘装修论坛 _MAP-DESK-1080 (2)](https://user-images.githubusercontent.com/46779919/73330080-ad69a480-429a-11ea-9c35-f044b774e526.jpg)

[2020-01-29 06:02] OverLordGoldDragon commented on #35724
@qlzh727 All of that sounds good, and I agree with 3 also. Further, I've changed my position since last time: I no longer advocate for _replacing_ current recurrent dropout, as I just achieved remarkable performance with current dropout, which wouldn't be possible if it did more harm than good. 1's authors do also note that performance was close to 2's on multiple benchmarks.

This said, and my ca

[2020-01-29 06:02] GuyGoldner commented on #36111
**Solved in a simple but ugly way.**
I installed TensorFlow GPU v2.1, on top of CUDA 10.2.89 and cuDNN 7.6.5.32.
I got the same error in VSCode as described above.

Checked the CUDA installation folder :
_C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\bin_

Instead of the required cudart64_101.dll file there was a nice looking cudart64_10**2**.dll
Copied it and renamed to cudart64_101.dl

[2020-01-29 06:15] Saduf2019 commented on #36287
@divyag11  Could you please provide us with simple standalone code to reproduce the issue in our environment, Thanks

[2020-01-29 06:38] Saduf2019 commented on #36280
@gustavgransbo Was able to reproduce the issue. Please find the [Gist](https://colab.research.google.com/gist/Saduf2019/4e7c6c479f6124be187dbda990df259c/untitled8.ipynb) here. Thanks!

[2020-01-29 06:41] Saduf2019 commented on #36281
@Flamefire Could you please provide us with simple standalone code to reproduce the issue in our environment, Thanks.

[2020-01-29 06:43] vimalkumarmdb opened #36296 "I want to open spyder. Error show from . import (constants, error, message, context, ImportError: DLL load failed: The specified module could not be found."
C:\Users\bimalgupta>spyder
Traceback (most recent call last):
  File "C:\Anaconda3\Scripts\spyder-script.py", line 6, in <module>
    from spyder.app.start import main
  File "C:\Anaconda3\lib\site-packages\spyder\app\start.py", line 22, in <module>
    import zmq
  File "C:\Anaconda3\lib\site-packages\zmq\__init__.py", line 47, in <module>
    from zmq import backend
  File "C:\Anaconda3\lib\site

[2020-01-29 06:54] Ehtasha commented on #28729
@anonym24  I'm also facing same issue.

Did you resolve this issue ?

[2020-01-29 07:14] KoizumiNao commented on #36269
I found the solution. I installed **1.13.1** of TensorFlow instead. And I tried to run by python3. There's a lot of depreciation warnings. Thank you for the solution, sir.

[2020-01-29 07:14] #36269 closed

[2020-01-29 07:20] cp0418 opened #36297 "I need to connect my uvc camera with the object detection application (android)."
Could someone tell me how to config or where I should config?

[2020-01-29 07:58] YusukeSuzuki opened #36298 "tf.keras loss/metric argument/return specification"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): No

**Des

[2020-01-29 08:00] gadagashwini commented on #36294
@Broyojo, As the error says `Could not load dynamic library 'libcudart.so.10.1`, you have to install CUDA 10.1 in order to use 2.1.
Similar issue [#34759](https://github.com/tensorflow/tensorflow/issues/34759).

[2020-01-29 08:06] janosh commented on #33756
I noticed. Thanks a lot! 👍

[2020-01-29 08:10] gadagashwini commented on #36296
@vimalkumarmdb, Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose). Thanks

[2020-01-29 08:19] EtagiBI commented on #35056
@gowthamkpr, the following imports work indeed:
[code]
And yes, I get a memory allocation error as well =(....
Anyway, thanks!

[2020-01-29 08:19] #35056 closed

[2020-01-29 08:23] gadagashwini commented on #35164
@stephenwithav, Can you open new issue with filling issue [Template](https://github.com/tensorflow/tensorflow/issues/new/choose) and include the colab gist also. Thanks!

[2020-01-29 08:26] manish-kumar-garg opened #36299 "Unable to import meta graph using tf.train.import_meta_graph, The name '' refers to an Operation not in the graph"
[model.zip](https://github.com/tensorflow/tensorflow/files/4126895/model.zip)

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution: `Ubuntu 18.04`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): `pip i

[2020-01-29 08:28] gadagashwini commented on #35443
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-29 08:28] #35443 closed

[2020-01-29 08:31] gadagashwini commented on #35499
Closing this, looks like issue is resolved. Please feel free to open if still issue persists.  Thanks

[2020-01-29 08:31] #35499 closed

[2020-01-29 08:33] gadagashwini commented on #35502
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-29 08:33] #35502 closed

[2020-01-29 08:38] w4-hyunseok opened #36300 "Error message is unclear when we failed to load tflite model."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
   Darwin 19.2.0
   Android Pixel2 API 29
- TensorFlow installed from (source or binary):
   binary (pip)
- TensorFlow version (or github SHA if from source):
   1.15.0

**Provide the text output from tflite_convert**
tflite_convert succeeded without any error.
[code]

But when I tried to load this model on both my l

[2020-01-29 08:39] gadagashwini commented on #35703
@WisarutBholsithi, Looks like the read and execute permission on the file is disabled. Navigate to the folder and change the file permission,
`chmod 777 *`. Thanks

[2020-01-29 08:39] #35703 closed

[2020-01-29 08:44] ravikyram commented on #36295
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2020-01-29 08:46] gadagashwini commented on #35787
@jon-chuang, Please take a look at the [Tensorflow doc](https://www.tensorflow.org/guide/gpu#with_tfdistributestrategy). Thanks!

[2020-01-29 08:46] #35787 closed

[2020-01-29 08:50] gadagashwini commented on #35795
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-29 08:50] #35795 closed

[2020-01-29 08:51] gadagashwini commented on #35910
@loreProgetto, Please fill the issue Template. Thanks

[2020-01-29 08:53] gadagashwini commented on #35922
@alanpurple, Did you get a chance to look at @freedomtan's comment. Thanks!

[2020-01-29 08:55] amahendrakar commented on #36289
@Jbiloki,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-01-29 09:06] gadagashwini commented on #35926
@craterkamath, Is this still an issue!

[2020-01-29 09:07] ravikyram commented on #36268
I have tried on colab with TF version 2.1.0-rc2, 2.2.0-dev20200128 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/76389a872dc7528d8ba29760a345c37b/untitled596.ipynb).Thanks!

[2020-01-29 09:08] gadagashwini commented on #36015
@devbk007, Provide the minimal code snippet to replicate the issue. Thanks!

[2020-01-29 09:10] gadagashwini commented on #36077
@shuklakirti. Provide the minimal code snippet to analyze the issue. Thanks

[2020-01-29 09:11] ravikyram commented on #36262
@colt18
Request you to provide colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-01-29 09:35] ravikyram commented on #36259
I have tried on colab with TF version 2.1.0-rc2, 2.2.0-dev20200128 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/55d11b811078c362ff6e49379da72353/untitled597.ipynb).Thanks!

[2020-01-29 09:37] gadagashwini commented on #36132
@juskuz, Can we close if the issue resolved. Thanks!

[2020-01-29 09:38] rajeev-mirelz commented on #35509
@yyoon Any luck with this one. Thanks.

[2020-01-29 09:39] OctaM commented on #35953
@jvishnuvardhan any idea how to solve this?

[2020-01-29 09:40] divyag11 commented on #36287
yes sure:
could you let me know your email address,so that i send you the coalb notebook?

[2020-01-29 09:42] michal-bouska opened #36302 "Tensorflow 2.1 Tracing Error with LSTM layer"
I am implementing a tensorflow model using the keras LSTM layer.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow version (use command below): 2.1.0
- Python version: 3.7
- GPU model and memory: CPU

**Describe the current behavior**
Method Model.predict raise warning about Tracing
```WARNING:tensorflow:5 out of the last 5 calls to <function _m

[2020-01-29 09:45] divyag11 commented on #36287
please let me know what is the issue so that it stops at the last step in the first epoch.thanks

[2020-01-29 09:49] #36132 closed

[2020-01-29 09:49] netw0rkf10w commented on #33764
@yashk2810 You didn't get it. The point is that not all code should be under the strategy scope.

For example, look at this code in the tutorial:

[code]

Do `def train_step()` and `def test_step()` have to be inside the scope? I don't think so.

Another example:

[code]

I don't see why the scope is necessary here.

The rest of the tutorial contains a few more examples like this. My apologies if

[2020-01-29 09:52] ravikyram commented on #36256
@cianciosa
I have tried on colab with TF version 2.1.0-rc2 .Please find the gist for [python3](https://colab.research.google.com/gist/ravikyram/2b9d8404b0c8e2b1969602e563db4dc0/untitled598.ipynb) and [python2](https://colab.research.google.com/gist/ravikyram/9b62bd4eaf07da2912ac14990f93a34a/untitled599.ipynb) here. Is this the expected behavior?. Thanks!

[2020-01-29 09:53] juskuz commented on #36132
I think so. I closed the issue. You can change the stat label

[2020-01-29 09:56] zaccharieramzi commented on #34456
I think the issue is resolved in version 2.1.

Another fix would be to use the [new random number generation API of `numpy`](https://docs.scipy.org/doc/numpy/reference/random/generator.html) as advised [here](https://github.com/numpy/numpy/issues/9248#issuecomment-522340824). That changes the line `noise = np.random.normal(scale=1.0, size=image_shape)` to `noise = np.random.default_rng().normal(sc

[2020-01-29 09:56] #34456 closed

[2020-01-29 10:02] craterkamath commented on #35926
@gadagashwini  The issue is resolved. I installed CUDA 9.x for which the GPU had support. I think I will close this now.

[2020-01-29 10:02] #35926 closed

[2020-01-29 10:06] ravikyram commented on #36254
@shahriar49
Looks like code is incomplete. Can you please provide complete code snippet to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-01-29 10:07] kuppas opened #36303 "tensorboard installation issue"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or

[2020-01-29 10:18] dawgster commented on #35614
@LemonRay Yeah I did solve it for my case. The pointer to the session stored in the SavedModelBundle is a unique_ptr and you can't use it the way I did. I ended up accessing it through the SavedModelBundle like this:

[code]
Hope this is applicable to your problem.

[2020-01-29 10:33] manish-kumar-garg commented on #36299
These are all the operations and variables in the graph.
Why is it looking for '`data`'?
Where is this data coming from?

`{'global_tensor_train_flag/train_flag': <tf.Operation 'global_tensor_train_flag/train_flag' type=Placeholder>, 'globals/train_flag': <tf.Operation 'globals/train_flag' type=Identity>, 'extern_data/placeholders/classes/classes': <tf.Operation 'extern_data/placeholders/classes/c

[2020-01-29 10:37] Flamefire commented on #36281
I'm having trouble reproducing this with a reduced sample. What I did was using the MultiWorkerMirroredStrategy with a simple MNIST test and 2 nodes. For some reason the dataset was not able to produce a single batch and raised OutOfRangeError which lead to the above linked handling code. As the step is still zero the 2nd branch (see link above) is taken and steps_per_epoch is used without checkin

[2020-01-29 10:37] tfeher opened #36304 "TensorRT native segment lookup error in calibration mode"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Ubuntu 18.04 (docker)
- TensorFlow installed from source
- TensorFlow version: 2.1.0
- Python version: 3.6.9
- Bazel version: 1.2.1
- GCC/Compiler version : 7.4.0
- CUDA/cuDNN version: 10.2 / 7.6.5
- TensorRT version 7.0
- GPU model and memory: NVIDIA TESLA V100-SXM2-16GB

**Describe the current behavior

[2020-01-29 10:41] ravikyram commented on #36141
@tuomassiren

Can you please confirm if @mihaimaruseac's suggestion is working for you.Thanks!

[2020-01-29 10:46] ravikyram commented on #35935
@vishwas1234567

Can you try installing with pip instead of conda and see how it progresses.Please, follow the instructions from [here](https://www.tensorflow.org/install/pip).Thanks!

[2020-01-29 10:47] MarcoLeti commented on #36141
@ravikyram I am using TF > 2.0 installed with "pip install --upgrade tensorflow" but I got the same error. I am trying TF on a RaspPi 4 with Raspbian.

[2020-01-29 11:22] lllAlexanderlll commented on #35987
I tested it, but the error persists:
[code]

[2020-01-29 11:32] dartlune commented on #35860
I have the same issue when I use the official TensorFlow docker image(tensorflow/tensorflow:2.1.0-gpu-py3).
I used 'tf.keras.callbacks.TensorBoard' with model.fit() method, but during the first epoch following errors came out.

E tensorflow/core/profiler/internal/gpu/cupti_tracer.cc:1307] function cupti_interface_->Subscribe( &subscriber_, (CUpti_CallbackFunc)ApiCallback, this)failed with error CU

[2020-01-29 11:43] vishwas1234567 commented on #35935
I am looking for the performance form the conda and the time it commands
also have stopped working after doing it with the pip.

On Wed, 29 Jan 2020 at 16:16, ravikyram <notifications@github.com> wrote:

[2020-01-29 11:56] depthwise commented on #29509
FYI, @haozha111, this PR improved the issue, but did not fully fix it. Here's an updated repro which demonstrates the remaining issue:
[code]

This produces the following:

![minimal_repro2](https://user-images.githubusercontent.com/46361887/73354717-3bb63a00-424b-11ea-9767-5762e6863f05.png)

Each of the convs in isolation is fixed, but if I concatenate them we're back to the status quo ante.

[2020-01-29 11:57] depthwise commented on #29509
Such dilations are commonly used in the ASPP module of segmentation models.

[2020-01-29 11:59] terhorst opened #36306 "Gradients do not propagate when iterating over dataset in graph mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS X 10.15
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2.0-dev20200128
- Python version: 3.8

**Describe the current behavior**
Gradients become `None` if it

[2020-01-29 11:59] ashwin17083 commented on #36238
Please find the attached zip folder.
compliation command: python3 PAKLSTMRepValCommented.py
[lstm.zip](https://github.com/tensorflow/tensorflow/files/4127786/lstm.zip)

[2020-01-29 12:11] ravikyram commented on #36288
@philpearl
Can you please elaborate the context. Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Please, provide code snippet to reproduce the issue. Thanks!

[2020-01-29 12:20] terhorst commented on #36306
A workaround is to move the GradientTape inside of the accumulated function, and accumulate gradients alongside the loss.

[2020-01-29 12:43] wadewangpower commented on #27984
I met the same issue today, but now i fix it according the comment of  abdulrahman-khankan in this [issue](https://github.com/tensorflow/tensorflow/issues/22794). In brief, i just install **Microsoft Visual C++ Redistributable for Visual Studio 2019** and reboot the computer.
System information : win 10, python 3.7.4 , tensorflow-gpu 2.1 cuda 10.1 cudnn7.6.4

[2020-01-29 12:45] pramodjayram commented on #36219
Below is the exact code that I am running

[code]
It results in following error on the device serial console
[code]
If I remove the GRU layer or replace it with another one then the code works well.
It would be quite helpful if somebody knows the solution or an explanation for this following error report.

[2020-01-29 12:53] Kodiologist commented on #35876
@oanush I don't understand. What sort of update are you hoping to receive from me?

[2020-01-29 12:56] trayanmomkov commented on #34350
Thank you @gargn!
I've added the 'supported_ops' and conversion passed without errors. Here is the final code.
[code]
Now there is a problem when try to infer: **"Node number 0 (FlexParseExampleV2) failed to prepare"**
[code]
[code]
I should apply "Flex delegate" somehow, I guess?

[2020-01-29 12:57] divyag11 commented on #36287
@jvishnuvardhan, did you find what was the cause for the issue of freezing at the last step of 1st epoch?

[2020-01-29 12:58] divyag11 commented on #36287
could you come up with the reason, why it happened

[2020-01-29 13:03] amahendrakar commented on #36057
@jiapei100,
Any updates regarding this issue? Thanks!

[2020-01-29 13:04] matthiasseibold opened #36307 "Wrong CUDA ImportError message in tf-gpu 1.14"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-01-29 13:06] rakeshmothukuru1 opened #36308 "Incorrect Error TypeError: padded_batch() missing 1 required positional argument: 'padded_shapes'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Error is not OS specific. Can be reproduced in Google Colab.
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or b

[2020-01-29 13:19] rzyangKyle opened #36309 "test that the full precision model runs on the CPU and GPU, but it takes 800ms to initialize on the GPU, but it only takes a few milliseconds to initialize on the CPU, how should I optimize"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2020-01-29 13:20] lennyerik opened #36310 "Non-OK-status: GpuLaunchKernel( SwapDimension1And2InTensor3UsingTiles<T, NumThreads, TileLongSide, TileShortSide>, ...) Internal: invalid configuration argument when using the tf.keras MaxPooling3D layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, I have written my own model training script.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 19.10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): F

[2020-01-29 13:22] rzyangKyle opened #36311 "Why tflite model runs on GPU, and multi batch speed is very slow"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-01-29 13:25] abdelazizmirasoft commented on #34431
Try to use: `import tensorflow.compat.v1 as tf
`

[2020-01-29 13:45] Joshuaalbert commented on #36004
@gowthamkpr Indeed, this is non-deterministic. This problem requires thinking outside the normal MVCE box, and requires solving a puzzle by someone who really understands the TF system. The example that I provide (as stated in the issue) is the conceptual program. The clues that I can provide you are:
 - it occurs about 50% of the time
 - it does not occur right away, but after several hundred loo

[2020-01-29 13:51] dtim1985 commented on #34844
Hi! We have the same issue with the profiler. Here some simpler gists that reproduce the problem:
TF 2.1-rc, no GPU in trace devices: https://colab.research.google.com/drive/1WLUSb9inSabMm4x7IdHuM5CEwJq9QX5j
TF 2.2 the nightly build, there is a GPU device in the trace: https://colab.research.google.com/drive/1GVlisiFGl5Hkjg0SIhCAQSDAKnJkN0HL

Though for TF 2.2 nightly build I wasn't able to run te

[2020-01-29 14:10] wadewangpower commented on #24828
According the comment of @neolee  and @Man7hano , i change my system information to TF 2.1 with CUDA 10.1 and cuDNN 7.6.4 too (in addition, OS is windows10, gpu is GTX 1660 ti，python is 3.7.4），when i run object_detection_tutorial.ipynb in jupyter notebook, the error still exist:
 `2020-01-29 21:56:35.944996: E tensorflow/stream_executor/cuda/cuda_dnn.cc:329] Could not create cudnn handle: CUDNN_ST

[2020-01-29 14:13] mstebelev opened #36313 "make_tensor_proto for float16 ndarray"
make_tensor_proto works too slow for float16 arrays because dtypes.float16 not in [_TENSOR_CONTENT_TYPES](https://github.com/tensorflow/tensorflow/blob/339b76d4f1e420d070559051403c71c185df1d57/tensorflow/python/framework/tensor_util.py#L237) list. Is there any reason not to add it to the list?
[code]

[2020-01-29 14:14] dtim1985 opened #36314 "Empty step_stats from context.export_run_metadata() in TF 2.1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab

As sessions are no more available in TF 2 API we are using `context.enable_run_metadata()` and `context.export_run_metadata()` to accure `run_metadata.step_stats` which then we feed to `timeline.Timelin

[2020-01-29 14:27] philpearl commented on #36288
[code]

[code]

Almost all of these allocations are unnecessary.

I'm more wondering if you'd be interested in a contribution to improve this than looking for a fix - we're sidestepping by using ReadTensor.

[2020-01-29 14:33] amahendrakar commented on #36297
@cp0418,
Could you please check out the object detection guide for mobile devices from this [link](https://www.tensorflow.org/lite/models/object_detection/overview). Thanks!

[2020-01-29 14:37] cianciosa commented on #36256
Since a LeakyReLU function has a well defined although discontinuous first derivative, I would have expected that computing the jacobian would proceed without throwing an exception.

If you comment out the LeakyReLU line and uncomment the normal ReLU line,
[code]
then you would see the behavior more a kin to what I would have expected.

[2020-01-29 14:40] ZTZ-99 commented on #36229
我切换到了r1.12版本，并打开long paths配置后，编译过程可以顺利完成了，但是在最后生成结果时报告：
ERROR: C:/tensorflow/tensorflow/BUILD:533:1: Executing genrule //tensorflow:tf_python_api_gen_v1 failed (Exit 127): bash.exe failed: error executing command
  cd C:/users/reshiram/_bazel_reshiram/xv6zejqw/execroot/org_tensorflow
  SET CUDA_TOOLKIT_PATH=F:/CUDA10.2
    SET CUDNN_INSTALL_PATH=F:/CUDA10.2
    SET PATH=F:\msys64\usr\bin;F:\msys64

[2020-01-29 14:50] BrEr commented on #35630
I filed this bug in Tensorflow because you asked me to in the original issue in TFDS .  https://github.com/tensorflow/datasets/issues/1337

I don't know if the issue is not related to TFDS, for me it only occurs with one specific dataset (Imagenet resized 32x32 and 64x64) using TFDS. I haven't been able to reproduce the issue in any other way.

I have updated the instruction a bit.

[2020-01-29 14:52] SumNeuron commented on #33636
@pavithrasv  see above

[2020-01-29 14:55] SalahAdDin commented on #34759
@maximuslee1226
Try doing this:
[code]

Using `CUDA 10.1`.

[2020-01-29 14:55] byronyi commented on #36004
@Joshuaalbert It may because your OS is too old for latest NumPy.

Try `pip install --ignore-installed --no-binary=:all: numpy==1.16.2`.

[2020-01-29 14:55] robinglord commented on #7278
Can someobdy confirm that the separable_conv3d feature is implemented in the latest release of Tensorflow 2.1 ? I can't find it in the Tensorflow API docs (there is SeparableConv1D and SeparableConv2D, but not SeparableConv3D). Thanks !

[2020-01-29 15:08] mstebelev commented on #36313
I understood that it also requires some changes in Tensor::FromProto

[2020-01-29 15:09] #36313 closed

[2020-01-29 15:12] jvishnuvardhan commented on #36300
@w4-hyunseok Can you please share a standalone code to reproduce the issue? Thanks!

[2020-01-29 15:45] shahriar49 commented on #36254
@ravikyram
The whole code is lengthy and I didn't think it helps that much, and it is run on some proprietary data that I can not share. Isn't there any clue that somebody can get from the error log that I got? I expect experts to be able to spot the problem easily.

[2020-01-29 15:59] InTalor commented on #30191
This worked for me too ! Thank you very much!
My environment is windows 10

[2020-01-29 16:16] bfs15 commented on #36241
It is because the delta is calculated from the best value, on your second example it would be epoch 6 with val_loss 0.0736.
The next 3 epochs don't get better values than that. 0.0856, 0.0808 and 0.1043 are all greater than 0.0736 so they showed no improvement. The purpose is to improve on your best epoch not the latest.

[2020-01-29 16:16] Jordy-VL opened #36318 "installation of CUDA documentation"
Hi,

Two important lines are missing from the suggested CUDA >=10 installation scripts:

[code]

[2020-01-29 16:33] nbro opened #36319 "How do I create multiple custom AUC metrics, one for each of the outputs, in TensorFlow?"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: macOS Catalina (Version: 10.15.2 (19C57))
- TensorFlow installed from: binary
- TensorFlow version: 2.1
- Python version: 3.7.5
- GPU model and memory: Intel Iris Pro 1536 MB

**Describe the current behavior**

I get several errors, which are all described in [this Stack Overflow question](https://stackoverflo

[2020-01-29 16:34] JoaoLages opened #36320 "How to replace a layer of a compiled Keras' model"
I'm in tensorflow 1.14
How can I replace a layer in a Keras model? My new layer has a different output size so set_weights doesn't work.

[2020-01-29 16:40] konopik opened #36321 "The shape of Tensors is UNKNOWN after batching in graph mode."
**System information**
- Have I written custom code: YES
- OS Platform and Distribution: Google Colab
- TensorFlow installed from: Preinstalled in Colab
- TensorFlow version: v2.1.0-0-ge5bf8de410 2.1.0
- Python version: sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)

**Describe the current behavior**

The shape of tensors is unknown when batching dataset in the graph m

[2020-01-29 16:50] mihaimaruseac commented on #36004
@Joshuaalbert if we cannot reproduce it we cannot provide a fix for it. The example you provide should be as complete as possible

[2020-01-29 16:52] mihaimaruseac commented on #36141
@MarcoLeti can you post output of `pip freeze`?

[2020-01-29 16:54] mihaimaruseac commented on #35614
Can we close this if it is fixed?

[2020-01-29 16:56] Conchylicultor commented on #35630
@BrEr Thanks for updating the description. Please also update the description to add the stracktrace that you get when running without TFDS.

I though you were able to reproduce the issue by running the code snippet that you added. Could you confirm and add the full stacktrace that you're getting when you running the code ? If so, the code snippet do not depends on TFDS, so no change in TFDS will

[2020-01-29 16:56] mihaimaruseac commented on #20444
@ravi-ai-cons please don't update closed issues with "worked for me, thanks" messages as these messages send unnecessary emails to everyone who replied on the issue and these message have no real content.

[2020-01-29 16:57] mihaimaruseac commented on #36217
@jkkj1630 when closing the issue, please also update if it was user error or how you fixed the issue. This will allow others encountering the same problem to get to a fix faster.

[2020-01-29 16:58] mihaimaruseac commented on #33758
I will attempt another grpc update using a different direction for patching, but it will take a few days.

[2020-01-29 17:07] Joshuaalbert commented on #36004
@byronyi I will try this now. The jobs take several hours to complete, so I should know in a few hours if this resolves the issue. I have to run a large batch to be certain.

@mihaimaruseac Not all computer problems are deterministic, yet that does not rule out attempting to resolve them. A good blog post on it is [this](https://www.tablix.org/~avian/blog/archives/2014/10/on_hunting_non_determinis

[2020-01-29 17:21] mihaimaruseac commented on #36004
I know that, but thank you for the links.

As some background, I'm working on creating better tools for debugging these issues. But don't have something usable at the moment.

[2020-01-29 17:37] mihaimaruseac commented on #36295
spam issue

[2020-01-29 17:37] #36295 closed

[2020-01-29 17:42] mihaimaruseac commented on #36282
1.15.1 was build using v2 behavior by mistake. So we removed all the pips and tags to make sure it won't get installed and we won't get issues to debug in the future for something we already know we caused as an error.

Apologies for the confusion.

Closing issue.

[2020-01-29 17:42] #36282 closed

[2020-01-29 17:42] qlzh727 commented on #35724
Yes, I think we are open for that. Also adding @fchollet  as the API owner to confirm this.

We can have a more descriptive naming for the new param, but we can decide it later.

[2020-01-29 17:51] jvishnuvardhan commented on #36245
@renatobellotti I agree there is some formatting required in this page. But, can you please explain what do you meant by "that has nothing to do with the reference"?. I think the reference explain about the importance of `nesterov`. Thanks!

[2020-01-29 17:57] Joshuaalbert commented on #36004
@mihaimaruseac That interesting. Would a real-time tool like [osquery](https://osquery.io/) be useful for logging things before they fail?

[2020-01-29 18:02] renatobellotti commented on #36245
@jvishnuvardhan I haven't read the reference, I just saw that this piece of code was no reference, and I couldn't find where it belongs to, so I assumed it should not be in the reference box.

Sorry for my ambiguous formulation.

[2020-01-29 18:16] trisolaran commented on #34844
I suspect that the libcupti.so is not located.
if I run !ldconfig -p | grep libcupti, I see nothing.

[2020-01-29 18:21] B0yma commented on #36234
from the 1st link:

[code]

after above code I get error :
[code]

and after this code:
[code]

get error:
[code]

[2020-01-29 18:33] ymodak commented on #33565
This is fixed with latest tf nightly '2.2.0-dev20200129'. Thanks!

[2020-01-29 18:43] romeokienzler commented on #30551
I had the same problem, you need to make sure that the environment variable is set on all cluster members and readable from the python process before is tf.distribute.experimental.MultiWorkerMirroredStrategy() called

I've found this one a much better documentation than the official one, have fun!
https://lambdalabs.com/blog/tensorflow-2-0-tutorial-05-distributed-training-multi-node/

[2020-01-29 18:47] jvishnuvardhan commented on #36093
@padoremu In order to install `tf-nightly`, you can do this. At the command prompt, enter `pip3 install tf-nightly==2.2.0dev20200129`, then it will install `tf-nightly` that was released on 01/29 (today). I tried it on my Linux desktop and it works. Hope it works for you too.

If this was resolved, please close the issue. Thanks!

[2020-01-29 19:01] jvishnuvardhan commented on #36245
Closing this issue as it was resolved. Thanks!

[2020-01-29 19:01] #36245 closed

[2020-01-29 19:11] trisolaran commented on #34844
colab team confirm this is LD_LIBRARY_PATH problem,
you can run this
!ldconfig /usr/local/cuda-10.1/extras/CUPTI/lib64 /usr/local/lib /usr/local/lib/python3.6/dist-packages/ideep4py/lib
before profiling as a temporary fix.

[2020-01-29 19:17] jvishnuvardhan commented on #36072
@liuxingbaoyu It could be related to GPU memory. Can you share more details on GPU card? Can you try with smaller model and see whether the issue persists? Thanks!

[2020-01-29 19:24] ymodak commented on #36280
The code snippet executes successfully with latest tf nightly version '2.2.0-dev20200129'. Thanks!

[2020-01-29 19:28] MarcoLeti commented on #36141
I checked and I don't know why I have version 1.14, could you please advise? (pip version 20.0.2)

absl-py==0.9.0
astor==0.8.1
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
gast==0.2.2
google-auth==1.11.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.26.0
h5py==2.10.0
idna==2.8
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
numpy==1.18.1
oauthlib==3.1.0
ope

[2020-01-29 19:33] jk78346 commented on #35695
I got the same error as yours. I tried the simple model as follows:
[code]
When I use toco to try to convert to .tflite, I got:
[code]

This is wired since I notice that ADD operation should be supported by coral/m2 edgetpu, but the converter cannot convert it successfully? (from this [thread](https://github.com/tensorflow/tensorflow/issues/29117#issuecomment-498103605))

[2020-01-29 19:36] alewir commented on #35791
I've did that (uninstalling everything from nvidia, wipeing out installation folders, cleaning registry from orphan paths) reinstalling everything as suggested by @jvishnuvardhan and... so far so good. I've run stable trainings thru-out the night and today. Usually it would fail for me already. I'll do some more testing and then I'll confirm if it's fully now stable.

[2020-01-29 19:51] OverLordGoldDragon commented on #35724
@qlzh727 Wonderful. To clarify, did fchollet confirm it, or are you requesting a confirmation?

If it's a green light, I'll go ahead and cook up a PR - though unsure when exactly, I'd say within a few weeks. As for correcting the current implementation, I'll leave that to the devs.

[2020-01-29 19:53] lennyerik commented on #36310
After a bit more testing, I came to the conclusion that the issue only occurs when using the `MaxPooling3D` layer as the input layer of the model. Is this expected behaviour? If so, why does the model work as a single-GPU model?
After placing the layer behind the `ConvLSTM2D` layers of my model, the issue has disappeared, however now it seems like tensorflow is only using the compute capabilities

[2020-01-29 19:54] XueqiYang commented on #30191
this works for me, Linux64, python3.7, with pip20.0.2 under conda self-defined enviromnet

[2020-01-29 19:58] mihaimaruseac commented on #36141
@MarcoLeti please post the output of running `pip uninstall tensorflow tensorflow-estimator && pip install tensorflow==2.1`. Please use ` ``` ` before and after the output so the output is properly formatted.

[2020-01-29 19:59] MarcoLeti commented on #36141
[code]

[2020-01-29 20:02] mihaimaruseac commented on #36141
What is the output of `pip version` and `pip debug verbose`?

[2020-01-29 20:04] MarcoLeti commented on #36141
[code]
[code]

[2020-01-29 20:05] lgeiger commented on #29443
@lu-wang-g @ymodak What do you think about converting `TFL_MeanOp` to `TFL_AveragePool2DOp` and `TFL_ReshapeOp` in the new MLIR based converter for the case of `GlobalAveragePooling2D`?
This would be very helpful for users trying to convert Keras models to TFLite since it is quite common to use `GlobalAveragePooling2D` or `tf.reduce_mean` in models.

[2020-01-29 20:15] MarcoLeti commented on #36141
Unfortunately still the same error and setuptools seems to be upgrade
[code]

[2020-01-29 20:18] mihaimaruseac commented on #36141
One more attempt at getting more information: `pip install --no-cache-dir -vvv tensorflow==2.1`. Please attach the full log, no matter how long it is

[2020-01-29 20:18] Broyojo commented on #36294
Yes it worked. For anyone wondering what I did I just ran: `sudo apt-get install cuda-10-1`

[2020-01-29 20:19] mihaimaruseac commented on #36141
Also try adding `--force-reinstall ` flag on the above command too

[2020-01-29 20:33] MarcoLeti commented on #36141
[code]
[output.txt](https://github.com/tensorflow/tensorflow/files/4130585/output.txt)

[2020-01-29 20:34] MarcoLeti commented on #36141
pip3 install --no-cache-dir -vvv tensorflow==2.1 --force-reinstall
[output2.txt](https://github.com/tensorflow/tensorflow/files/4130590/output2.txt)

[2020-01-29 20:59] mihaimaruseac commented on #36141
None of the wheels that we publish on PyPi (https://pypi.org/project/tensorflow/2.1.0/#files) match the tags supported by your system.

You were able to install 0.11.0, 1.12.0, 1.13.1 and 1.14.0 only because they are on piwheels: https://www.piwheels.org/project/tensorflow/ But note that not all TF versions are there.

I think the only options left are to either get piwheels to upload the new pips

[2020-01-29 21:04] oxinabox commented on #7422
Can this now be closed?
I see docs for
https://www.tensorflow.org/api_docs/python/tf/nn/weighted_moments

[2020-01-29 21:12] #35614 closed

[2020-01-29 21:35] zzj0402 commented on #16860
adding `--runtime=nvidia` to the docker exec/run command

[2020-01-29 21:35] tvlenin commented on #36143
Yes sure,
I'm using a tool called [heapusage](https://github.com/d99kris/heapusage) that internally use Valgrind to detects memory leaks.
I follow the instructions to build the label_image example provided by you and get the output above.

This is how I execute the example:

`heapusage ./label_image   --tflite_model mobilenet_v1_1.0_224.tflite   --labels labels.txt   --image testdata/grace_hopper.

[2020-01-29 21:53] Ordgod opened #36323 "This part of code on `self.save_weights_only` is not necessary"
In [tensorflow/tensorflow/python/keras/callbacks.py ](https://github.com/tensorflow/tensorflow/blob/r2.1/tensorflow/python/keras/callbacks.py#L813-L1166), this part of code on `self.save_weights_only` is not necessary:
[code]
Because when the argument `save_weights_only` is `True`, no matter what the model._is_graph_network is and no matter what model.__class__.__name__ is 'Sequential' or not,  `s

[2020-01-29 22:32] jk78346 commented on #35695
Another simple model I tried works:
[code]
It gives the following :
[code]

It doesn't make sense.

[2020-01-29 22:45] jvishnuvardhan commented on #35953
@vladdders I can reproduce the issue with `TF1.15` as well as `tf-nightly`. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/f98dc30ec4ddbd421127bc5f99f639ec/untitled799.ipynb) is the gist with `tf-nightly` for our reference.

Do you have access to the code that was used to create the model? I think the `input` to the model was used as `tf.float64` which was not supported in `tf_lite`.

[2020-01-29 22:53] haozha111 commented on #29509
That's a bit interesting. I haven't tested for this case.

So do you mean if you have only one conv2d in your graph, then it can be correctly folded?

[2020-01-29 22:58] depthwise commented on #29509
Looks like conv2d's by themselves work fine. The simpler repro I posted before looks "correct", although I have not tested this in a full blown, trained model yet.

[2020-01-29 23:35] goldiegadde commented on #32219
yes as pointed in the above comment the original example works with TF 2.1 and TFP 0.9 or 0.8

I am going to mark this as fixed.
@nbro can you please open a new issue with a minimal repro where it is failing for you. Thanks!

[2020-01-29 23:35] #32219 closed

[2020-01-29 23:39] ymodak commented on #36308
`padded_batch` method requires two arguments.
See   https://github.com/tensorflow/tensorflow/blob/cf7fcf164c9846502b21cebb7d3d5ccf6cb626e8/tensorflow/python/data/ops/dataset_ops.py#L1383
https://www.tensorflow.org/api_docs/python/tf/data/Dataset#padded_batch

[2020-01-29 23:43] karimnosseir commented on #36143
Hi Lenin,

I can see valgrind reporting a leak when i run the label_image example, but it is not actually a leak, it's from initializing the absl flags.

I still can't see the stack in your first post which is from the interpreter.
Do you have reproduce steps ?

Thanks

[2020-01-29 23:46] penpornk commented on #34213
@preethivenkatesh Any updates?

[2020-01-30 00:22] haozha111 commented on #29509
I tested with your new code, and convert it. Then I'm getting the tflite graph looks like the following:
![mum9U9Ewi6y](https://user-images.githubusercontent.com/6316921/73408979-bbc3ba80-42b2-11ea-91ab-46f8a05219f5.png)

I also have the corresponding tflite file, but not sure how to attach it here.

This suggests that the graph is converted as expected. I'm wondering if my previous change has bee

[2020-01-30 00:25] depthwise commented on #29509
OK, I'll try again. My example was converted using a build directly from master as of last night. Maybe something else got submitted in the interim.

[2020-01-30 00:30] haozha111 commented on #29509
did you set converter.experimental_new_converter = True between those two lines?

`converter = tf.lite.TFLiteConverter.from_saved_model(str(out_dir))
tflite_model = converter.convert()`

[2020-01-30 00:34] ymodak commented on #36219
The code looks incomplete, x_train and y_train are undefined.

[2020-01-30 00:34] pavithrasv commented on #36250
@gm-spacagna Thank you for the issue.

For some of the metrics such as MSE we have stateful and stateless versions:
stateful listed as classes here: https://www.tensorflow.org/api_docs/python/tf/keras/metrics
stateless listed as functions: https://www.tensorflow.org/api_docs/python/tf/keras/metrics#functions

Usage with compile/fit API are always stateful. If you want to get batchwise values, you

[2020-01-30 00:34] #36250 closed

[2020-01-30 00:35] jvishnuvardhan commented on #36287
@divyag11 I could reproduce the issue with `tf-nightly`. I updated your colab to make it run. [Here](https://colab.research.google.com/gist/jvishnuvardhan/19a0e237eb539c621d9872982f378085/test.ipynb) is the updated gist for our reference. Thanks!

[2020-01-30 00:59] freedomtan commented on #35115
@sanjoy: FYI, as @alanpurple mentioned in #35922, TensorRT 7 doesn't have such problem. Unfortunately, not all people can use TensorRT 7, e.g., I have a Jetson Nano board which doesn't have TensorRT 7 (yet).

[2020-01-30 00:59] pramodjayram commented on #36219
I have defined x_train and y_train before. I just haven't included in the code above. The code is working perfectly. The error occurs when I try to use the converted model on the ARM device.

[2020-01-30 01:02] ymodak commented on #36074
The `build_fn` in `tf.keras.wrappers.scikit_learn.KerasRegressor` should return a `keras model` which can be used on `fit/predict` method downstream.
See https://github.com/tensorflow/tensorflow/blob/cf7fcf164c9846502b21cebb7d3d5ccf6cb626e8/tensorflow/python/keras/wrappers/scikit_learn.py#L43

[2020-01-30 01:05] shaoeChen commented on #35358
Hi. thanks for your reply.
but according [tensorflow document](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#batch)，it means 『Combines consecutive elements of this dataset into batches.』, and the "batches" from parameter "batch_size", then you get "batch_size" return array every time.

so i think, `datasets = datasets.batch(64)` is set batch size, tell the dataset object every time ge

[2020-01-30 01:09] jvishnuvardhan commented on #36010
I could reproduce the issue with `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/8bae6dfdf3bd7cc94f89f16d6101ee7f/untitled801.ipynb) is the gist for our reference. Thanks!

[2020-01-30 01:10] trisolaran commented on #34844
this should be fixed after cl/292248849 lands and docker is rebuilt.

[2020-01-30 01:11] #34844 closed

[2020-01-30 01:34] shaoeChen commented on #35358
finally, according #24520 , i modify as bellow..

parser function
[code]
then it work fine. thanks for help.

[2020-01-30 01:53] bixia1 commented on #36304
Are you sure that https://github.com/tfeher/tensorflow/blob/native_segment_bug/tensorflow/python/compiler/tensorrt/test/native_segment_test2.py can be used to reproduce the problem?

If that is the case, I expect that removing AddTest from the file the test should pass.

But I got this error:
ValueError: Fetch argument 'output_0:0' cannot be interpreted as a Tensor. ("The name 'output_0:0' refers

[2020-01-30 02:31] karimnosseir commented on #35927
Hmm,
The failure from the converter is because of concat op failing verification
According to the tensorflow op
https://www.tensorflow.org/api_docs/python/tf/concat

"The number of dimensions of the input tensors must match, and all dimensions except axis must be equal."

But the Concat has inputs
(tensor<i32>, tensor<1xi32>, tensor<i32>)

Can you please confirm that you are expecting concat to re

[2020-01-30 02:32] CNOCycle commented on #35336
@ashutosh1919 , Thanks your comment. I saw the parameters' usage in the function on the lastest master branch.

But, I still have two main concerns.

1. The input range for pre-trained weights: Not all pre-trained weights require the input range to be [0,1]. It should be highlighted.

2. The accuracy for pre-trained weights: I have shown the experimental results. All tests' accuracy are under 70%.

[2020-01-30 02:39] rakeshmothukuru1 commented on #36308
Ok.. I might have verified that in the previous version.

But the documentation in your 2nd Link, https://www.tensorflow.org/api_docs/python/tf/data/Dataset#padded_batch
Shows only 1 Mandatory Parameter,

[code]

[2020-01-30 03:14] xuchengggg commented on #35927
Do you mean error is in line 517 detections = tf.concat(..)? It is not necessary, so if i remove those lines, it will be successful?

[2020-01-30 03:53] Bidski opened #36327 "Ability to calculate projected memory usage for a given model"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): Yes, but

[2020-01-30 04:24] gadagashwini commented on #36299
@manish-kumar-garg, Thank you for reporting this issue. Can you please provide the complete code to replicate the reported issue. Thanks!

[2020-01-30 04:24] SummerRainET2008 commented on #36321
This is a not a bug.
In the graph mode, you have to use tf.shape(tensor) to return a shape tensor which won't be known until it really runs.

[2020-01-30 04:36] manish-kumar-garg commented on #36299
I have already added the complete code above.

This piece of code should be enough to replicate the issue
[code]

[2020-01-30 04:40] depthwise commented on #29509
I'm actually converting as follows, using the master branch as of this afternoon:
[code]
The original savedmodel is created with TF 2.1.0 release version, the conversion is done with `master` `tflite_convert`.

Here's the original model and its conversion, in case it's useful in debugging: https://storage.googleapis.com/depthwise-temp/minimal_bug_repro.zip

[2020-01-30 04:41] depthwise commented on #29509
For me the graph looks like the image I posted previously, incorrect.

[2020-01-30 05:05] bardenthenry commented on #36142
I use the docker image tensorflow/tensorflow:latest-gpu-py3, but the problem have not resolved. Why this issue closed?

[2020-01-30 05:11] gadagashwini commented on #36303
@kuppas, Just to verify, did you install GPU support Tensorflow? If so install TensorRT as well to get rid of this error. Please refer the similar issue [#35968](https://github.com/tensorflow/tensorflow/issues/35968#issuecomment-577327358). Thanks!

[2020-01-30 05:12] ravikyram commented on #36288
@philpearl

Can you please let us know which version of TensorFlow you are facing the issue. Thanks!

[2020-01-30 05:25] ravikyram commented on #36306
I have tried on colab with TF version 2.2.0-dev20200129 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/1641e618441ed823560057b4d24c6d75/untitled604.ipynb).

[2020-01-30 05:25] shashank-industrail commented on #36154
@haozha111  Could you please take a look of this issue.

[2020-01-30 05:27] shashank-industrail commented on #36154
@haozha111 Could you please take a look of this issue.

[2020-01-30 05:35] w4-hyunseok commented on #36300
@jvishnuvardhan Thanks to reply.
My execution code is below and I want to share our tflite file or saved_model if you want.
If you give me an email address to get our tflite file or saved_model, I'll send them ASAP.

[code]

[2020-01-30 05:37] gadagashwini commented on #36294
@Broyojo, Glad that it is working.
I am closing as it is resolved. Thanks!

[2020-01-30 05:37] #36294 closed

[2020-01-30 05:39] cy-eom opened #36328 "Error while saving transformer example to SavedModel"
**System information**
- OS Platform and Distribution : Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:  N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version: tf-nightly (2.2.0.dev20200123)
- Python version: 3.7.4
- Installed using virtualenv? pip? conda?: pip3
- Bazel version (if compiling from source):

[2020-01-30 05:44] Saduf2019 commented on #36320
@JoaoLages  Please provide details about what platform you are using (operating system, architecture) Also, did you compile from source or install a binary?

Make sure you also include the exact command[code] if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorf

[2020-01-30 05:47] amahendrakar commented on #35870
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-30 05:47] #35870 closed

[2020-01-30 05:56] kuppas commented on #35968
I just verified GPU version is not installed and current TensorFlow details are
$  pip freeze | grep tensorflow
tensorflow==2.1.0
tensorflow-estimator==2.1.0

[2020-01-30 05:56] kuppas commented on #36303
I just verified GPU version is not installed and current TensorFlow details are
$ pip freeze | grep tensorflow
tensorflow==2.1.0
tensorflow-estimator==2.1.0

[2020-01-30 05:57] renjithkrishna commented on #18337
WARNING:tensorflow:From generate_tfrecord.py:99: The name tf.app.run is deprecated. Please use tf.compat.v1.app.run instead.

WARNING:tensorflow:From generate_tfrecord.py:85: The name tf.python_io.TFRecordWriter is deprecated. Please use tf.io.TFRecordWriter instead.

W0130 11:20:39.150328 140560265512704 module_wrapper.py:139] From generate_tfrecord.py:85: The name tf.python_io.TFRecordWriter is

[2020-01-30 05:59] gadagashwini commented on #36302
Was able to replicate the issue on colab with Tf 2.1 and Tf -nightly version.
Please find the gist [here](https://colab.research.google.com/gist/gadagashwini/2799dacc09fdf988c7c40d4b72bf5d9d/36302.ipynb). Thanks!

[2020-01-30 06:02] gadagashwini commented on #36249
@peter197321, Were you able to resolve this issue. Thanks!

[2020-01-30 06:06] shauryad15 commented on #35389
[detect.zip](https://github.com/tensorflow/tensorflow/files/4132456/detect.zip)
@impjdi can you check this model? Is this fine?

[2020-01-30 06:09] vikramdattu opened #36329 "OpenBLASS for efficient Matrix multiplications?"
**System information**
- TensorFlow version (you are using): TFLite micro (on ESP32)
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behaviour/state.**

The major CPU intensive function here are Convolution functions! Which are nothing but Large Matrix multiplications.
For Face detection example on ESP32, I have seen that it is the major contributor at more

[2020-01-30 06:27] yxchng commented on #36231
@ravikyram There is no mention of saving part of a model in these two links. Have you really read them?

[2020-01-30 06:40] padoremu commented on #36093
@jvishnuvardhan Thank you for your reply.

Regarding the model: For me, neither "h5" nor "tf" format work in the end. Saving in "tf" format works, but loading it doesn't  - can't see this issue being mentioned in the other ticket.

Regarding tf-nightly. Unfortunately, this doesn't work for me, I get the error:

[code]
What is your Linux and Python version? (for mine, see first posting here)

[2020-01-30 06:48] ravikyram commented on #36311
@rzyangKyle

Will it be possible to share the related code to reproduce the issue in our environment. It helps us in localizing the issue faster.Please, fill the issue template. Thanks!

[2020-01-30 06:56] anj-s commented on #36224
I am unable to repro the issue in a colab using the standalone snippet you provided.  Can you try using [tf.debugging.enabled_check_numerics](https://www.tensorflow.org/api_docs/python/tf/debugging/enable_check_numerics) to help pinpoint the op that is causing this?

[2020-01-30 07:04] soham24 commented on #26297
Can we have update on this?

[2020-01-30 07:21] gunan commented on #36252
@goldiegadde @mihaimaruseac did we see a similar issue in 2.1 branch?
On master, my builds seem to be healthy.

[2020-01-30 07:24] indrajithi commented on #34607
I retrained the model with `tensorflow==1.14.0` then saved the model and used `gunicorn` to run flask. This solved my problem.

[2020-01-30 07:29] LemonRay commented on #35614
I'll have a try! Thanks for your reply.

[2020-01-30 08:15] starhou commented on #28009
I'm having the same problem ! @achandraa
I write a layer with the APIs of tf.nn. When using the layer together with other written layers, such as tf.keras.layers. Dense, I got the error "ValueError: Weights for model sequential_3 have not yet been created. Weights are created when the Model is first called on inputs or `build()` is called with an `input_shape`." However, the layer works well seper

[2020-01-30 08:20] TQuy commented on #35968
It leads to other error

Building dependency tree
Reading state information... Done
E: Unable to locate package libnvinfer-plugin6

[2020-01-30 08:21] ravikyram commented on #36328
I have tried on colab with TF version 2.2.0-dev20200129 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/f6d370dc3aafab9e134e8724f72e35f5/untitled605.ipynb#scrollTo=JJ4LZ2SRhk9e). Thanks!

[2020-01-30 08:22] mjlbach commented on #35968
I don't know the specifics of your OS/package manager, but it is likely there is a conflicting package or you did not enable the right repos. This works on Ubuntu 16.04/18.04

[2020-01-30 08:23] rodyt commented on #36224
I'm sorry, I don't have TF 2.1. What is the alternative to this?

[2020-01-30 08:49] fferroni commented on #36109
Any updates?

[2020-01-30 08:56] gingsi commented on #7375
Same issue, tensorboard 2.1.0, Win 7, Python 3.7, training with torch 1.1
Downgrading to tensorboard 2.0.0 fixes the issue for now

[2020-01-30 09:07] dbonner commented on #35115
@freedomtan, I'm on CUDA 10.1 and TensorRT 7 does not support this.  Do you
know if I can build tensorflow with CUDA 10.2?
Cheers,
Daniel

On Thu, 30 Jan 2020 at 11:59, freedomtan <notifications@github.com> wrote:

[2020-01-30 09:15] amahendrakar commented on #36241
@arjun-majumdar,
Could you please verify if @bfs15's answer resolves your query?  Thanks!

[2020-01-30 09:15] ejar-ArriagaAsociados commented on #32982
Any update?

[2020-01-30 09:16] ejarkm commented on #32982
Any updates?

[2020-01-30 09:16] SadiqKhanRaza commented on #22300
I had the same issue and for me the problem was in python and tensorflow version compatibility.
Tensorflow didn't work with python 3.8 , So when I downgraded it to Python 3.5, It worked like a charm.

[2020-01-30 09:17] yxchng opened #36330 "How to profile GPU memory usage in TF2.0?"
How to profile GPU memory usage in TF2.0?

Since TF hogs the entire GPU or requires user to pre-allocate a fixed amount GPU memory, I am not able to know what is the exact memory usage. This is a problem when I need to know which part of my code is using too much memory.

[2020-01-30 09:20] mania25 opened #36331 "Got Warning : Disabling AVX support in Mac OSX Catalina"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOSX 10.15.3 (Catalina)
- TensorFlow installed from (source or binary): Source
- TensorFlow version: 2.0
- Python version: 3.7
- Installed using virtualenv? pip? conda?: no
- Bazel version (if compiling from source): 1.2.1
- GCC/Compiler version (if compiling from source): Apple clang version 11.0.0 (clang-1100.0.3

[2020-01-30 09:22] ravikyram commented on #36307
@matthiasseibold

Can you please let us know which CUDA/cuDNN version you are using. Please, provide us complete error log.Thanks!

[2020-01-30 09:22] bardenthenry commented on #36224
Well, I can tell you that this problem have not been sloved at tensorflow 2.1....

[2020-01-30 09:25] freedomtan commented on #36284
it's fixed in 2f4812d

[2020-01-30 09:27] OmerLiberman opened #36332 "Fit method printout is broken in version 2.1"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-01-30 09:33] ravikyram commented on #36318
@Jordy-VL

Please, follow the below steps to install CUDA 10. Thanks!

wget https://developer.nvidia.com/compute/cuda/10.0/Prod/local_installers/cuda-repo-ubuntu1804-10-0-local-10.0.130-410.48_1.0-1_amd64

sudo dpkg -i cuda-repo-ubuntu1804-10-0-local-10.0.130-410.48_1.0-1_amd64
sudo apt-key add /var/cuda-repo-<version>/7fa2af80.pub
sudo apt-get update
sudo apt-get install cuda

[2020-01-30 09:33] liuxingbaoyu commented on #36072
@jvishnuvardhan I am using RTX 2080TI.

I updated the latest version of tf-nightly-gpu and the problem persists.
When it runs, the GPU memory usage is as follows.
And I guess the problem may be in the BN layer, when I comment out the BN layer, it works normally.
Thanks!

nvcc -V
[code]
nvidia-smi.exe
[code]

[2020-01-30 09:40] freedomtan commented on #35115
@dbonner interesting, actually I was using 10.0 + TensorRT 7 on an x86_64 machine (Jetson boards do not have newer CUDA 10.1 or 10.2, so I use 10.0 on x86_64 machine too).

[2020-01-30 09:43] amahendrakar commented on #36309
@rzyangKyle,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-01-30 09:44] ahtik commented on #35115
@freedomtan I parse the comment from alanpurple ("no problem without tensorrt suppot ( ver 7.0 )") as it was successful *without* tensorrt. v7 being mentioned simply added color.

Also https://github.com/tensorflow/tensorflow/issues/35653#issuecomment-576963272 confirms it (not yet confirmed if this issue and #35653 are related).

On Thu, Jan 30, 2020, at 10:40 AM, freedomtan wrote:

[2020-01-30 09:49] RobertBiehl commented on #32840
We seem to encounter the same issue. With OpenCL the load times are extremely long often in the 10s range.
Do you have an update on this?

[2020-01-30 09:51] ravikyram commented on #35403
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2020-01-30 09:51] #35403 closed

[2020-01-30 09:51] freedomtan commented on #35115
@ahtik oops, you are right. Let me check the configuration I used to build master branch with TensorRT 7 again.

[2020-01-30 09:54] ravikyram commented on #35423
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-30 09:54] #35423 closed

[2020-01-30 09:58] ravikyram commented on #35665
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-30 09:58] #35665 closed

[2020-01-30 10:02] ravikyram commented on #35702
@crownk1997

Any update on this issue please. Thanks!

[2020-01-30 10:05] Saduf2019 commented on #36279
i am able to replicate the issue, please find the [gist](https://colab.research.google.com/gist/Saduf2019/f954acee0b06d7b1dbdaabc751ea69a0/untitled11.ipynb) here.

[2020-01-30 10:07] ravikyram commented on #35744
@acmilannesta
Any update on this issue please. Thanks!

[2020-01-30 10:08] ravikyram commented on #35814
@rajcivils

Any update on this issue please. Thanks!

[2020-01-30 10:09] ravikyram commented on #35837
@Jbiloki

Any update on this issue please. Thanks!

[2020-01-30 10:10] ravikyram commented on #35933
@indexraja

Any update on this issue please. Thanks!

[2020-01-30 10:11] SadiqKhanRaza commented on #33279
I had also the same issue which actually was occuring due to incompatibility of python and tensorflow versions. Tensorflow didn't support python 3.8 so, I downgraded it to python 3.5 and it worked like a charm..:)

[2020-01-30 10:12] FrancoisData commented on #19016
I don't think that there is any other way. I did the tuning with the CUD version and then switched to normal LSTM to export my model.

[2020-01-30 10:13] ravikyram commented on #36020
@Ali-Junaid

Any update on this issue please. Thanks!

[2020-01-30 10:15] ravikyram commented on #36045
@FSyed2

Any update on this issue please. Thanks!

[2020-01-30 10:17] ravikyram commented on #36084
@Aaron9477

Any update on this issue please. Thanks!

[2020-01-30 10:18] sandip-narwade commented on #16720
ImportError: /usr/local/lib/python3.6/dist-packages/tensorflow/python/_pywrap_tensorflow_internal.so: undefined symbol: _Py_FalseStruct

I am using flask and wsgi

[2020-01-30 10:27] ravikyram commented on #36148
@Vishal2188

Can you please try with cudnn 7.0.Can you please see tested build configuration from [here](https://www.tensorflow.org/install/source#gpu).Thanks!

[2020-01-30 10:38] image357 commented on #31057
if you use model.predict(...) instead of model(...) it works.

[2020-01-30 10:59] ravikyram commented on #36332
@OmerLiberman

Can you please provide the simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-01-30 11:13] DoumanAsh commented on #33472
@jdduke Glad to hear this, do you have any idea which 2.x version would get stable C API?

As for pre-built libraries, for our purpose we only need C/C++ API so we avoid any JNI enabled binaries (as we use tensorflow lite outside of Android too)

[2020-01-30 11:40] amahendrakar commented on #36314
Was able to reproduce the issue with [TF 2.0](https://colab.sandbox.google.com/gist/amahendrakar/3dab2da9961c6834738404f87f7f4deb/36314_2-0.ipynb), [TF 2.1](https://colab.sandbox.google.com/gist/amahendrakar/b8b246d084c420e8ef224879dc45182d/36314_2-1.ipynb) and [TF nightly](https://colab.sandbox.google.com/gist/amahendrakar/0461a8d5f0df8ee909c2fa395df9f546/36314_nightly.ipynb). Please find the att

[2020-01-30 11:45] MarcoLeti commented on #36141
Ok, thank you. So basically TF > 1.4 cannot be installed on RaspberryPi through pip and must be built from source? This is not very clear and I also found a lot of people on the web who install it from pip...
Anyway I found this issue that may be useful: #29704

[2020-01-30 11:49] ravikyram commented on #35732
@David-Mao
Can you please try with `!pip install tf-nightly` version. I am not seeing any issue in nightly version.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/7d8c3704f0b378a3f95509587f4064ea/untitled608.ipynb).Thanks!

[2020-01-30 11:58] matthiasseibold commented on #36307
You get this message when you don't have CUDA/cuDNN installed

[2020-01-30 12:02] konopik commented on #36321
I include additional details to show the full extend of the problem. Tensorflow layers cannot operate on Tensors with unknown shapes. For example, if I call the LSTM layer on the top of the Tensor with an unknown shape I get the error below. I have extended the Colab to include this error. The example is shown in the Colab cell named _Problems in application of Tensors with unknow shape._

    <ip

[2020-01-30 12:09] crownk1997 commented on #35702
@trangnm58 I am so sorry about that. Because I do not have the permission to change the CUDA version on our server.

[2020-01-30 12:10] anilsathyan7 commented on #35199
Facing same issue with tf.keras(TF 2.1.0), when is use x=Activation("softmax")(ip).
The tflite conversion is successful; but the layers appear as shown by @ghop02

![tfbug](https://user-images.githubusercontent.com/1130185/73448772-9b196480-4387-11ea-82bc-32e6b15e5820.png)

[2020-01-30 12:22] tejaslodaya commented on #35447
Hi @ymodak @ravikyram @gadagashwini

Any update on the above?

[2020-01-30 12:54] saudet commented on #18397
@MarkDaoust This one also could be considered "fixed" since we're now using JavaCPP for https://github.com/tensorflow/java

[2020-01-30 13:07] rocksyne commented on #7278
SeparableConv3D is still not implemented.

[2020-01-30 13:17] rzyangKyle commented on #36309
I use mobilenetv2 float model run cpu and gpu by benchmark, you can try it

[2020-01-30 13:21] rzyangKyle commented on #36311
I run the model to compare single batch and multiple batches, but multiple batches are not accelerated because there is no parallel computing？

[2020-01-30 13:28] colt18 commented on #25138
Same goes for me. Have you been able to figure something out?

[2020-01-30 14:25] apostrophesoftware opened #36336 "Problem with build_rpi_lib.sh"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
PRETTY_NAME="Raspbian GNU/Linux 9 (stretch)"
NAME="Raspbian GNU/Linux"
VERSION_ID="9"
VER

[2020-01-30 14:35] MarkDaoust commented on #18397
Thanks.

[2020-01-30 14:35] #18397 closed

[2020-01-30 14:49] arjun-majumdar commented on #36241
Thanks, it solves my problem

[2020-01-30 14:49] #36241 closed

[2020-01-30 15:07] yxchng opened #36337 "SSD300 on TF 2.0 is unable to train with batch size 32 on GPU with 8GB memory when it should be able to?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N.A.
- TensorFlow installed from (source or binary): docker pull tensorflow/tensorflow:2.1.0-gpu-py3
- Tenso

[2020-01-30 15:26] vishwas1234567 opened #36338 "not supported in the pynq board from xilinx"
![image](https://user-images.githubusercontent.com/48592314/73463266-f9a00c00-43a2-11ea-80cf-628d6dbe1a69.png)

[2020-01-30 15:47] sfleisch commented on #35702
If you are using a Docker container you need CUDA 10.1 in the container image not the host OS level. You just need a compatible driver and if CUDA 10.2 is installed on the host then you, in fact, do.

[2020-01-30 16:11] aaguiar96 opened #36339 "Unable to convert DeeplabV3 - "xception_65" frozen graph to TFLite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): 1.13

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Link to the saved GraphDef**

[code]

Thanks in advance.

[2020-01-30 16:12] mbenami commented on #8658
Hi @laetitiaoist
I try your `serving_input_receiver_fn` function but i got this error :
[code]
in Object Detection API (when training with main.py)
in file model_lib.py  I add the class BestExporter as above
and i change
[code]
with your function as `serving_input_receiver_fn=serving_input_receiver_fn`
do you know what I did wrong?

I want to export the model with input_type as image_tensor
Thanks

[2020-01-30 16:12] Ansreng360 commented on #22794
I installed the redistributable and msvcp140.dll is available on my file system.

However, I still get the error. Downgrading helps, but I need to upgrade my version, since there is an unfixed bug on 2.0.0 I can't get around.

Is there any notice from the developers, that they are working on this?

[2020-01-30 16:17] Ansreng360 commented on #35618
Installing the redistributable didn't solve the error for me. Does anyone else have the same problem?

[2020-01-30 16:21] edloper commented on #36293
1. We are currently working on doing something very similar to what you suggest, motivated by the fact that row partitioning needs to be shared in StructuredTensors.  In particular, we're adding a `RowPartitioning` class that wraps the `row_splits`, `row_lengths`, etc. tensors together.

2. We tried to add lazy caching of the alternative row-partitioning tensors, but had to roll it back because it

[2020-01-30 16:32] fcunilim opened #36340 "100-line Tensorflow code and Keras equivalent do not produce the same result, Tensorflow result does not converge, why?"
I am doing experiments with a basic GAN, the code of which is provided for both TF (I use version 1.15.2, using TF 2.x-style API) and Keras (2.2.5), below.
The GAN learns to generate 2D points fitting a 2D curve, f(x) = x^2. Every point is considered as a 2D vector 'individual', (x,y).

The following 2 python programs compile and run out-of-the-box, and are meant to produce exactly the same result

[2020-01-30 16:47] mihaimaruseac commented on #36252
I don't remember having this issue at the time.

[2020-01-30 16:53] mihaimaruseac commented on #35618
@Ansreng360

There are at least 4 possible scenarios:

* You need to install the MSVC 2019 redistributable
* Your CPU does not support AVX2 instructions
* Your CPU/Python is on 32 bits
* There is a library that is in a different location/not installed on your system that cannot be loaded.

Please identify which is your case and open a new issue *only if* there is a fifth case

[2020-01-30 16:57] mihaimaruseac commented on #36141
That issue is related to the install issue.

Yes, you are right, you have to build it from source, as we are not managing it ourselves. If people are installing from pip, **on RaspberryPi**, then the pip they use must come from a different source (i.e., someone compiled from source and installed it)

[2020-01-30 17:05] ghop02 commented on #35199
@anilsathyan7 if you're blocked, you should be able to make this change to sneak the softmax operator in:
[code]

[2020-01-30 17:15] nbro commented on #34765
The issue still persists if I set the `compile`'s parameter `experimental_run_tf_function` to `False`, which is necessary in order to train TensorFlow Probability models with Keras' `fit` (see this comment https://github.com/tensorflow/tensorflow/issues/33729#issuecomment-562656807, the issues https://github.com/tensorflow/tensorflow/issues/33729 and https://github.com/tensorflow/probability/issue

[2020-01-30 17:18] nbro commented on #32219
@goldiegadde I have already opened the issue: https://github.com/tensorflow/tensorflow/issues/34765. And, finally, I understood the cause of the issue. See https://github.com/tensorflow/tensorflow/issues/34765#issuecomment-580359337.

[2020-01-30 17:20] jdduke commented on #33472
The next release (2.2) will have the stable C API embedded in the prebuilt Android libraries.

We're also exploring hosting prebuilt libraries for non-Android platforms, but it likely won't be until Q2 that we can make that happen.

[2020-01-30 17:36] joshleiph commented on #32357
I've also ran into this problem as well. I tried the zip workaround and it does seem to fix that problem when using model.fit_generator(). But now the error I am getting from model.fit_generator() is:

Error when checking model target: the list of Numpy arrays that you are passing to your model is not the size the model expected. Expected to see 1 array(s), but instead got the following list of 2

[2020-01-30 17:56] claynerobison opened #36343 "bazel test command broken because of Missing ROCM input files."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 tensorflow/tensorflow:devel-py3 container
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: commit ID 720b16121ea60d914f2d3df47e580e7e1e5542ae or latest master
- Python version:

[2020-01-30 17:58] impjdi commented on #32840
We continued the discussion on an email thread.   You can use `TFLITE_GPU_INFERENCE_PREFERENCE_FAST_SINGLE_ANSWER` for faster initialization.

[2020-01-30 17:58] #32840 closed

[2020-01-30 17:59] jdduke commented on #35199
@ghop2: If you want to submit a PR for updating the [Keras softmax behavior](https://github.com/tensorflow/tensorflow/blob/v2.1.0-rc1/tensorflow/python/keras/activations.py#L73), we'd be happy to approve. Thanks again for flagging the issue.

[2020-01-30 18:03] chrisffm commented on #36224
Same here with TF 2.1, have been using the same example and also get the NaN-Values while the training on 2 gpu's is much slower than on one

[2020-01-30 18:31] nmatare opened #36344 "Allow tf.estimator.Estimators to use CuDNN layers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
N/A
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
N/A
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
source
- TensorFlow version (use command below):
2.0+
- Python v

[2020-01-30 18:34] ymodak commented on #36308
![image](https://user-images.githubusercontent.com/42785357/73479052-0cd3bd00-434c-11ea-84d5-fc7b77c2b7be.png)
![image](https://user-images.githubusercontent.com/42785357/73479082-1a894280-434c-11ea-91c2-11d811096a6a.png)

[2020-01-30 18:35] haozha111 commented on #36154
Have you tried using the new MLIR tflite converter?

add this line after you construct the converter object:
converter.experimental_new_converter = True

[2020-01-30 18:40] suharshs commented on #35741
Hi, I dug into this and the issue is that the FakeQuant operation seems to do some computation using the min and max values that must happen on the CPU host. The issue can be resolved  by forcing the min/max variable to be placed on the CPU. I see ValidateInputTypeAndPlacement disappear from my profiler when I do this.

with tf.device('/cpu:0'):
  xmax = ...
  xmax_val =

...

Hope that helps!

[2020-01-30 18:40] #35741 closed

[2020-01-30 18:55] Jbiloki commented on #35837
@ravikyram Yes, I solved the problem here https://stackoverflow.com/questions/59725989/tensorflow-checkpoint-custom-map

[2020-01-30 18:55] #35837 closed

[2020-01-30 19:09] airplane2230 opened #36345 "How can I repeat the generator?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-01-30 19:10] #34004 closed

[2020-01-30 19:19] airplane2230 commented on #36345
It removes the A and B args and works.
After removing the 'steps_per_epoch' and 'validation_steps', it works.

But there is problem the whole data is not use.

My train data num: 5578
After removing arguments, it uses only 5568.

How can I solve this problem?
Is there something wrong with my custom code?

[2020-01-30 19:31] AlexBritoOfficial opened #36346 "FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'. np_resource = np.dtype([("resource", np.ubyte, 1)])"
I am receiving this future warning message after compiling my code. I am following this gentleman's video https://www.youtube.com/watch?v=6g4O5UOH304 online. I don't know what kind of complications it might give me further along as we go through the video. Is this something to worry about?

[2020-01-30 19:37] pavanky opened #36347 "Official release of tensorflow==1.15.2 does not include GPU support"
**System information**
- OS Platform and Distribution: Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): [binary](https://pypi.org/project/tensorflow/1.15.2/#files)
- TensorFlow version: 1.15.2
- Python version: python2, python3.6
- Installed using virtualenv? pip? conda?: pip

**Describe the proble

[2020-01-30 19:44] yzhuang opened #36348 "Keras model.train() should automatically run table initializers."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Centos 7, OS X 10.15
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.15 and 2.1
- Python version: 2.7 and 3.6
- Bazel version (if compiling from source): N/A

[2020-01-30 19:46] haozha111 commented on #29509
I could reproduce the issue with your saved model, but the graph I posted before is from the keras testing code. I'm not sure why there is a difference here.

Digging it further, I found that there is a difference in the MLIR representation of the two models. For saved model, the IR looks like:
...
  %10 = "tf.Identity"(%arg0) {T = f32, device = ""} : (tensor<1x128x128x3xf32>) -> tensor<1x128x128x

[2020-01-30 19:48] alextp commented on #36287
@omalleyt12 do you know what's going on here?

[2020-01-30 19:52] paloha commented on #32879
In another issue I have posted some examples on how to make Tensorboard Projector work in both TF2.0 and TF2.1 in both Non-Eager and Eager modes. Please check [https://github.com/tensorflow/tensorboard/issues/2471#issuecomment-580423961](url). Hope this helps.

[2020-01-30 19:54] Ely-S commented on #32712
I'm encountering this same issue with TF 1.15 on TPU v3. Are there any workarounds?

[2020-01-30 19:56] janosh commented on #26813
I third @astier. Getting `unresolved import 'tensorflow.keras.layers'` with

[code]

Importing from `tensorflow.python.keras.layers` makes no difference. This is in TF r2.1.

[2020-01-30 19:56] decodyng opened #36349 "Keras Layer With Trainable=False Flag Creates Variables With Trainable=True"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-01-30 19:57] haozha111 commented on #29509
I think you can produce the correct result by calling the tflite converter python API:
def run_sm():
  out_dir = pathlib.Path("/tmp/minimal_bug_repro")
  converter = tf.compat.v2.lite.TFLiteConverter.from_saved_model(str(out_dir))
  converter.experimental_new_converter = True
  tflite_model = converter.convert()
  output_file = out_dir / "model.tflite"
  output_file.write_bytes(tflite_model)

I th

[2020-01-30 20:00] ymodak commented on #36097
We don't have TF binaries with python 3.8 support as of now.
To know more see https://github.com/tensorflow/tensorflow/issues/33374#issuecomment-571074915

[2020-01-30 20:01] haozha111 commented on #29509
Hi, Nupur, do you know what might be the cause for the difference between calling the python API and the command line tool?

[2020-01-30 20:02] rxsang commented on #32712
tf.data.Dataset.from_generator is not supported in TPU because TPU is a 2 VM setup, where the TPU worker is a C++ binary which cannot execute python functions. @jsimsa who raised the discussion about this topic recently.

[2020-01-30 20:08] tfeher commented on #36304
Thanks @bixia1 for looking into the problem!

I have not seen the output_0 error, I think I was disabling v1 test, where the output name is used. Thanks for catching this. As you have suggested I have [updated the native segments test](https://github.com/tfeher/tensorflow/commit/167007c77ea63b39da1a2913e32731130205fe9e).

I have also added the [printout statement for segment_graph_def](https://git

[2020-01-30 20:25] omalleyt12 commented on #36287
@alextp Yep discussed this in triage, we think it's either an issue with how the validation dataset is constructed or assumptions we are making about the validation dataset size.

@jvishnuvardhan is working on a minimal repro

[2020-01-30 20:34] haozha111 commented on #29509
I also tried to convert the model via command line 'tflite_convert' directly (no bazel) in tf-nightly, and the model could be converted correctly. I think the issue is probably with bazel, it might be calling the TF 1 saved model loader which doesn't produce the expected result.

Can you please try using `tf-nightly` and then run 'tflite_conveter' tool directly (please avoid using bazel)?

Thanks.

[2020-01-30 20:36] depthwise commented on #29509
Just to be clear, once again, the SavedModel I posted was saved using TF 2.1.0, not the new "master" build. Let me try to replicate this with a wheel of TF build off master to see if the model is being saved incorrectly in the first place. Build times being what they are, this will take a bit of time.

[2020-01-30 20:44] haozha111 commented on #29509
I think the saved model is generated correctly, it doesn't matter if you generate it from TF 2.1.0 or the master build.

The issue is with the converter. When you build from master, and then run `bazel`, even if it's pulling the latest code, I think there is some mis-configuration in bazel that causes the model loading to incorrectly use the old TF 1.x codepath. So what I'm suggesting maybe the ea

[2020-01-30 20:57] bixia1 commented on #36304
Can you tell me the detail on how you get the binary "python" as in "TF_CPP_VMODULE=trt_engine_op=2,convert_graph=7 python tensorflow/python/compiler/tensorrt/test/native_segment_test2.py"?

[2020-01-30 21:16] ymodak commented on #36144
What is your macOS version?
See https://www.tensorflow.org/install/lang_c#supported_platforms

[2020-01-30 21:34] pavanky commented on #36347
Related there is no 1.15.2 version of tensorflow_cpu: https://pypi.org/project/tensorflow-cpu/#history

[2020-01-30 21:52] qlzh727 commented on #35724
@OverLordGoldDragon, I would like to have @fchollet to confirm this is ok to proceed as the API owner.

[2020-01-30 21:54] mihaimaruseac commented on #36347
There has been an unfortunate change in our build scripts and 1.15.2 uses `tensorflow_gpu` for GPU and `tensorflow` for CPU.

[2020-01-30 22:08] jvishnuvardhan commented on #36300
@w4-hyunseok Please share the link to saved_model and tf_lite model so that it is easy to share, if needed, with other developers. Thanks!

[2020-01-30 22:08] ymodak commented on #36254
We may not be able to provide solution to your problem without inspecting the minimal code repro.
If you can help us with a toy example which works in 1 TF version and fails in another we will be happy to assist.  Thanks!

[2020-01-30 22:29] depthwise commented on #29509
Nightly as of last night LGTM, in both my full deeplab model and the minimal example. Thanks for the quick fix, much appreciated. This was blocking things in unpleasant ways.

[2020-01-30 22:39] jackd commented on #36293
Oo, I like `RowPartitioning` as a name better (though is the noun not `RowPartition`? Now that I think about it, does it have anything to do with rows? Isn't it just a `Partition`? Maybe that's too abstract...). Does that mean TF is looking at other sparse formats (CSR / CSC)?

I'm happy to close this issue if there's work being done on it - but is there any way to track progress on that? Rename t

[2020-01-30 22:45] pavanky commented on #36347
@mihaimaruseac This isnt a blocker, but it would nice if you can make an announcement about this at least.

[2020-01-30 22:49] jdduke commented on #36248
Can you be a bit more explicit? Do you mean you'd like for the example to use one of the shared library targets (either the C or C++ one), rather than statically linking everything into the final binary?

[2020-01-30 22:50] haozha111 commented on #29509
Great to hear that!

[2020-01-30 22:50] #29509 closed

[2020-01-30 22:52] jdduke commented on #36300
@miaout17 is there a reason we're allowing conversion of this model, only to fail at runtime?

[2020-01-30 23:00] jsimsa commented on #32712
@lindong28 was your CL to fix the issue merged?

[2020-01-30 23:06] tfeher commented on #36304
I compiled tf inside our docker container `nvcr.io/nvidia/tensorflow:20.01-tf2-py3`, and I use the python binary from the container, if that answers your question.

[2020-01-30 23:10] jsimsa commented on #36240
@lgeiger can you reproduce the issue when you store a copy of ImageNet locally?

[2020-01-30 23:13] Joshuaalbert commented on #36004
@byronyi So it seems that did not work. Should numpy by 1.16.2 always for stability? Anyways, where next can I look?

[2020-01-30 23:20] #36280 closed

[2020-01-30 23:21] jdduke commented on #36177
There were some issues with ndk r18, we typically recommend r17c with a target API of 21.

Looks like the dependency on saved_model for flex is a new one, I'll take a look.

[2020-01-30 23:21] jdduke commented on #36177
Actually, can you check and see if you can repro the build failure with the latest checkout from master (rather than 2.1)?

[2020-01-30 23:22] ymodak commented on #35849
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-30 23:22] #35849 closed

[2020-01-30 23:23] jvishnuvardhan commented on #36287
@divyag11 I looked into the your data and code. I think something is wrong with the construction of validation dataset. In the code when I used `final_dataset` for training as well as validation(replacing `valid_dataset` with `final_dataset`), everything works as expected  Can you please check `valid_dataset`? Thanks!

[2020-01-30 23:24] #35742 closed

[2020-01-30 23:25] ymodak commented on #34008
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-30 23:25] #34008 closed

[2020-01-30 23:33] k-w-w commented on #33957
This is happening because `model.save/load_weights` creates a `tf.train.Checkpoint` which assumes  the models have the same structure. If you're changing the model structure between saving and loading, you should create a `tf.train.Checkpoint` object that is compatible with both models.

For example, if the layer names are consistent, then you could create a `tf.train.Checkpoint` that maps layer n

[2020-01-30 23:34] #33957 closed

[2020-01-30 23:36] jvishnuvardhan commented on #36093
@padoremu Regarding the installation of `tf-nightly`, it is strange. You should be able to install with the command I provided. `pip3 install tf-nightly==2.2.0dev20200129`.

Can you please share the command you used? some time unknowingly we use pip instead of `pip3`.
I have Python 3.6.8 and Linux 5.2.17-1rodete3-amd64 x86_64.

I will check the saving issue and respond to you soon. Thanks!

[2020-01-30 23:38] k-w-w commented on #34950
Currently hdf5 weights are saved with a specific ordering that depends on whether layers/variables are trainable. It's difficult to change this behavior as it would break all currently existing checkpoints.

Can you set trainable to `False` after the weights have been loaded? Alternatively, stick to using the ckpt format. Unfortunately there's not much we can do to fix this for hdf5.

[2020-01-30 23:38] #34950 closed

[2020-01-30 23:51] lgeiger commented on #36240
I currently don't have a good way to test this. Though the experiment can be reproduced with a smaller dataset like [`oxford_flowers102`](https://www.tensorflow.org/datasets/catalog/oxford_flowers102), though there the memory difference is harder to see.

[2020-01-30 23:57] ymodak commented on #30413
`contrib` module is deprecated with TF 2.X
You may still use subset if features by using `tf addons` module. Thanks!
https://www.tensorflow.org/addons/api_docs/python/tfa/image

[2020-01-30 23:57] #30413 closed

[2020-01-31 00:04] #29958 closed

[2020-01-31 00:18] laetitiaoist commented on #8658
Hi! I actually changed this BestCheckpointsExporter class to inherit directly from tf.estimator.Exporter. Because I am only exporting checkpoints and not SavedModel, I don't need the serving_input_receiver_fn anymore.
@mbenami I think you can fix your problem by calling :
serving_input_receiver_fn=serving_input_receiver_fn(image_shape)

[2020-01-31 00:43] qlzh727 commented on #36302
I don't think this is the issue with LSTM. The warning also shows up when LSTM layer is removed.

The real issue is that the usage between predict() and predict_on_batch(). Since the predict() is designed to handle large data and process them one batch by one batch, under the hood, we build TF functions. Whereas for predict_on_batch, since there is only one batch, we use more light weighted approa

[2020-01-31 00:43] #36302 closed

[2020-01-31 00:44] preethivenkatesh commented on #36123
yeah, this is a known issue with pip 20* versions and we will fix it in the next release. the install will work on versions 19 and before.

[2020-01-31 01:43] mbrio commented on #13711
I'm having the same problem, it would seem that all of these instructions are out dated because I can't even find a version of the MKL-DNN library specified above that has the prepare_mkl.sh file. I wish there was some place on the Tensorflow docs that described what versions were necessary of MKL and MKL-DNN because I think it's probably developed for an older version.

[2020-01-31 01:54] jiapei100 commented on #35584
Still buggy from my side...

[code]

[2020-01-31 01:56] mbrio commented on #13711
I'd like to amend what I said in my previous post, it would seem as though the prepare_mkl.sh file exists in the v0.21.3 tag's files not the v1.1.3 tag.

[2020-01-31 02:52] w4-hyunseok commented on #36300
@jvishnuvardhan I share the link to download both saved_model and tflite file. For convenience, I exported our model to .pbtxt. If you prefer .pb, please tell me again. Thank you.
https://goto.wisefour.com/tfissue_3600.tar.gz

[2020-01-31 03:09] vistart commented on #35922
The following three files are logs containing the compilation process. You can derive the target version and environment from the name of the file:

[tf2.1_py36_cuda10.0.zip (cuda 10.0.130, nccl 2.5.6, cudnn 7.6.5.32 tensorrt 7.0.0.11)](https://github.com/tensorflow/tensorflow/files/4137358/tf2.1_py36_cuda10.0.zip)
[tf2.1_py36_cuda10.1.zip (cuda 10.1.243, nccl 2.5.6, cudnn 7.6.5.32 tensorrt 6.0.1.

[2020-01-31 03:31] Krishnarohith10 opened #36358 "TypeError: '>' not supported between instances of 'Nonetype' and 'float'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution: Windows 10 1909
- TensorFlow version: 2.1.0
- Python version: 3.6.10
- CUDA/cuDN

[2020-01-31 03:49] freedomtan commented on #35115
@ahtik It turns out that it's a Python 2 vs Python 3 problem. Python 2.7 + Cuda 10.[0-2] + TensorRT + Bazel 1.2.1 works fine.

@sanjoy it seems bazel 1.2.1 + Python 3.x is problematic when TensorRT enabled.

[2020-01-31 03:57] freedomtan commented on #35922
It seems this is a python 2 vs. python 3 problem. I've tested python 3.[5-7]  environments, none of them works.

[2020-01-31 03:58] gadagashwini commented on #36338
@vishwas1234567, Follow the steps mentioned [here](https://www.tensorflow.org/lite/guide/python).`
 pip3 install https://dl.google.com/coral/python/tflite_runtime-2.1.0-cp35-cp35m-linux_aarch64.whl`.
Thanks!

[2020-01-31 04:23] gadagashwini commented on #36163
@VitaMusic, Can you try with removing the conda actvate tf2 step and remove the bazel cache files in /root/.cache/bazel/. let us know how it progresses. Thanks

[2020-01-31 04:52] wenmin-wu opened #36359 "[Bug] embedding_lookup_sparse divide by zero when use mean combiner"
I come across this issue with TF==1.14.
I found this bug was fixed in this PR: https://github.com/tensorflow/tensorflow/pull/21757.
However, when I checked the implementations in 1.13, 1.14 and 1.15 I found all of them implemented as following:

[code]

Should this be fixed with `math_ops. div_no_nan ` ?

[2020-01-31 04:55] fcarsten commented on #36044
@pavithrasv I dug around a bit more and I think this is the point where things go pear-shaped:

training_eager.py#_model_loss(), currently around line 147:
[code]
this removes `None` entries from the list of loss functions. However the corresponding outputs are not removed from the `outs` list. This results in the lists becoming un-aligned and all subsequent loss computations using the wrong outpu

[2020-01-31 05:07] lindong28 commented on #32712
@jsimsa Are you referring to patch that places all PyFunc op on the coordinator's address space? That fix has been committed in https://github.com/tensorflow/tensorflow/commit/7bfb8380a7c09603259f49027374a4faf4199ad2. However this patch will only be included in the next TF release 2.2.0 which is scheduled to have branch cut on 2/26.

[2020-01-31 05:36] ravikyram commented on #36336
@apostrophesoftware
Can you please go through the [link](https://www.tensorflow.org/lite/guide/build_rpi) and see if it helps you. Thanks!

[2020-01-31 05:42] hsh2438 commented on #29252
You just use iter() function like below.

iterator = iter(batched_dataset)
next_element = iterator.get_next()

[2020-01-31 05:48] rodyt opened #36360 "Parallel Write TFRecords Shards"
**System information**
- TensorFlow version (you are using): TF2.0
- Are you willing to contribute it (Yes/No): No

I have a `tf.data.Dataset` that reads raw image and annotations files and shards them. However, using `tf.data.experimental.TFRecordWriter` writes sequentially and is currently very slow.

[code]

I would like to be able to write the shards in parallel to reduce the write time by ope

[2020-01-31 05:57] tangbyron commented on #35848
hello! how is this going?
anything I can do to help?

Thank you

[2020-01-31 05:57] Saduf2019 commented on #36359
Please note,I have found the same issue for code in TF 2.x as well.

[2020-01-31 06:08] ravikyram commented on #36340
I have tried on colab with TF version 1.15  and was able to reproduce the issue.Please, find the gist for [Keras](https://colab.research.google.com/gist/ravikyram/529137515280fa62e9c448c1b08af051/untitled611.ipynb) and [Tensorflow keras](https://colab.research.google.com/gist/ravikyram/253009155c80160420e3b804ee3c5162/untitled612.ipynb). Thanks!

[2020-01-31 06:14] ravikyram commented on #36344
@nmatare

Can you please provide simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-01-31 06:25] ravikyram commented on #36346
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Please,provide simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. If you are unclear what to include see the issue template displayed in [the Github new issu

[2020-01-31 06:41] ravikyram commented on #36307
@matthiasseibold

TensorFlow-gpu==1.14 requires CUDA and cuDNN. Please install CUDA 10.0 and cuDNN 7.4 before installing GPU support Tensorflow.Thanks!

[2020-01-31 06:44] amahendrakar commented on #36330
@yxchng,
Could you please check [this](https://stackoverflow.com/questions/36123740/is-there-a-way-of-determining-how-much-gpu-memory-is-in-use-by-tensorflow) similar StackOverflow issue and let us know if it helps?

You can also take a look at TensorBoard Profiling tool from [here](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras). Thanks!

[2020-01-31 06:45] cy-eom commented on #36328
I changed my code a little to use  transformer.call()  directly (in training_step function):
[code]

and I'm now getting a different error:
[code]

I'm not sure if it's a correct usage that directly using obj.call() method here, rather than using object name only. I wonder what's the difference between them.
Also, why it says "model has not yet built" after training is done?

[2020-01-31 07:13] abhigoyal2210 opened #36361 "tf.function using higher GPU memory than normal python function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.5
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0
- Python version: (3, 5, 2, 'final', 0)
- CUDA/cuDNN version: 10.0
- GPU model and memory: Tesla V

[2020-01-31 07:24] gadagashwini commented on #36162
@prpeixoto, Tensorflow 2.1 support, `keras-applications 1.0.8`, `keras-preprocessing 1.1.0`.

Can you follow below instructions to install Tensorflow 2.1 using PIP by creating virtual env.

#Install tensorflow using pip virtual env
$pip install virtualenv
$virtualenv tf_2.1   # tf_2.1 is virtual env name
$source tf_2.1/bin/activate
tf_2.1 $ pip install tensorflow==2.1
tf_2.1 $ python

2.1
Let us k

[2020-01-31 08:03] suth1807 opened #36362 "load_weights fails for custom models"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-01-31 08:04] rakeshmothukuru1 commented on #36308
Got it Thanks!

[2020-01-31 08:04] #36308 closed

[2020-01-31 08:04] suth1807 commented on #36362
Just an update: SavedModel format works

[2020-01-31 08:04] padoremu commented on #36093
@jvishnuvardhan I had copy&pasted. Now also created a fresh venv:
[code]
Same result as already posted here. I have Python 3.6.9 and Linux 5.3.0-28-generic x86_64.

[2020-01-31 08:05] amahendrakar commented on #36347
@pavanky,
Is this still an issue? Please please free to close it if if answers your query.

[2020-01-31 08:10] ashutosh1919 commented on #35628
Issue resolved by PR #36206 and @sharvil and @alextp has approved it. Please close this issue if everything is resolved, @MarkDaoust , @jvishnuvardhan and @sharvil.

[2020-01-31 08:16] rmothukuru commented on #36362
@suth1807,
Can you please share the Code with proper indentation and using Code Formatting Option,  **<>** shown above, or please execute the Code in the Google Colab and Save it as Github Gist (File -> Save a Copy as Github Gist), and please share that Link with us. Thanks!

[2020-01-31 08:19] suth1807 commented on #36362
`import tensorflow as tf
from random import seed
from random import random

seed(1)
class SqDataset:
    def __init__(self):
        pass
    def generate(self):
        for i in range(1000):
            value = random()
            value = value * 2.0 - 1.0
            yield ({'x':value}, value*value)

dat = SqDataset()

datGen = tf.data.Dataset.from_generator(dat.generate, ({'x':tf.float32}, tf.

[2020-01-31 08:19] suth1807 commented on #36362
`import tensorflow as tf
from random import seed
from random import random

seed(1)
class SqDataset:
    def __init__(self):
        pass
    def generate(self):
        for i in range(1000):
            value = random()
            value = value * 2.0 - 1.0
            yield ({'x':value}, value*value)

dat = SqDataset()

datGen = tf.data.Dataset.from_generator(dat.generate, ({'x':tf.float32}, tf.

[2020-01-31 08:20] vladdders commented on #35953
@jvishnuvardhan The code is in the aocr package, you can obtain it by `pip install aocr` or by visiting [this](https://github.com/emedvedev/attention-ocr). Below is the part that I think it pre-processes the data:

[code]

When I try to change the type from float32 to float64 in line 2 I get the following:
`ValueError: Tensor conversion requested dtype float64 for Tensor with dtype float32: <tf.Te

[2020-01-31 08:27] suth1807 commented on #36362
The link is below
https://gist.github.com/suth1807/9f2e0ab73046f7b85aa86959458bc4cd#file-untitled0-ipynb

[2020-01-31 08:29] suth1807 commented on #36362
``import tensorflow as tf
from random import seed
from random import random

seed(1)
class SqDataset:
    def __init__(self):
        pass
    def generate(self):
        for i in range(1000):
            value = random()
            value = value * 2.0 - 1.0
            yield ({'x':value}, value*value)

dat = SqDataset()

datGen = tf.data.Dataset.from_generator(dat.generate, ({'x':tf.float32}, tf

[2020-01-31 08:35] suth1807 commented on #36362
The code can be executed with modelName set to None to enable saving of the weights

[2020-01-31 08:51] Ehtasha commented on #17375
@BKZero Did you resolve this problem ?
I'm also facing same issue.

Other tflite model like DeepLab, MobileNet are running but when I try to load my own model app crashes..

[2020-01-31 08:51] bckim1318 commented on #23166
Did this issue get solved now? I'm suffering from the same error with dropout and batch normalization.

[2020-01-31 08:56] rmothukuru commented on #36362
Could reproduce the error with Tensorflow Version 2.0. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/1b3447627937fd6759f7a1dd235b5fde/36362.ipynb). Thanks!

[2020-01-31 09:10] gerwin3 opened #36363 "Different behavior tf.keras and Keras for `stateful=True`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): All platforms (tested on Ubuntu 18.04 and macOS)
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.1
- Python version: 3.8

**Describe the current behavior**
The original

[2020-01-31 09:33] ulken94 commented on #33218
try import keras like this:###

`import tensorflow.keras as keras

# usage
keras.layers.Dense`

it works for me :)

[2020-01-31 09:33] gblue1223 commented on #32743
In my case, Coral USB accelerator works on USB3.0 so, I've changed USB compatibility option to USB 3.0 and it solved.

[2020-01-31 09:34] ulken94 commented on #33218
`<python>
asd
</python>`

[2020-01-31 09:35] ulken94 commented on #33218
`
import tensorflow.keras as keras

keras.layers.Dense(..)
`

[2020-01-31 09:36] ashutosh1919 commented on #36318
@Jordy-VL , Please take a look at [this documentation](https://github.com/ashutosh1919/FaceGenerationStyleGAN/blob/master/CUDA_INSTALLATION_INSTRUCTIONS.md). Hope it helps.

[2020-01-31 09:41] yxchng commented on #36330
@amahendrakar Solutions presented in link you linked here are all for TF 1.0. The functions used are not working in TF 2.0.

[2020-01-31 09:51] shashank-industrail commented on #36154
@haozha111  Thanks for quick reply.

**Now i'm getting this error.**
Traceback (most recent call last):
  File "generate_quant_tflite.py", line 38, in <module>
    tflite_model_quant = converter.convert()
  File "/home/shashank/ENTER/envs/dl_py35/lib/python3.5/site-packages/tensorflow_core/lite/python/lite.py", line 469, in convert
    self.experimental_new_quantizer)
  File "/home/shashank/ENTER/

[2020-01-31 09:52] Hawk0826 commented on #28796
@Tayseer-bme  Thank you! I follow the steps and then it works. But when I run the train_mri_vn.py, it shows `Non-OK-status: status_ status: Failed precondition: could not dlopen DSO: libcupti.so.10.1; dlerror: libcupti.so.10.1: cannot open shared object file: No such file or directory` and `tensorflow.python.framework.errors_impl.InternalError:` Failed to create CUPTI subcriber.` Have you ever met

[2020-01-31 10:03] anj-s commented on #35743
Please reopen if you are still having issues. Thanks!

[2020-01-31 10:03] #35743 closed

[2020-01-31 10:22] kunal4097 opened #36366 "Discrepancy in training step accuracy with Tensorflow 2.1"
tag:Bug/Performance Issue</em>

**Describe the current behavior**
1. I followed each and every step from the tensorflow documentation but still there is discrepancy coming in training step accuracy
2. Training and validation accuracy is far too different though same dataset is used for training and validation

**Describe the expected behavior**
1. Training accuracy should not come that different f

[2020-01-31 10:22] ravikyram commented on #36361
@abhigoyal2210
I have tried on colab with TF version 2.1 and i am not able to see GPU memory usage with and without decorating tf.function . Please find the gist [here](https://colab.research.google.com/gist/ravikyram/62470c7593576abb4ec738c53cc4a76d/untitled614.ipynb). Thanks!

[2020-01-31 10:31] gadagashwini commented on #36319
I was able to reproduce the issue on colab with Tf2.1.
Please find the gist [here](https://colab.research.google.com/gist/gadagashwini/368cc6e810c6332f328a44b33c28b688/untitled368.ipynb). Thanks!

[2020-01-31 10:31] jkbjh commented on #12659
On 2.2.0-dev20200131 this also happens for sign:

    import tensorflow as tf
    import numpy as np
    print("reduce_max:", tf.reduce_max(tf.fill((1,4,4), float("NaN"))))
    print("sign:", tf.sign(tf.fill((1,4,4), float("NaN"))))

Output:

    reduce_max: tf.Tensor(-inf, shape=(), dtype=float32)
    sign: tf.Tensor(
    [[[0. 0. 0. 0.]
      [0. 0. 0. 0.]
      [0. 0. 0. 0.]
      [0. 0. 0. 0.]

[2020-01-31 10:35] abhigoyal2210 commented on #36361
By the time !nvidia-smi runs on colab, the code is already executed completely. Below are screenshot of GPU usage monitored in parallel using nvtop (GPU ID: 0).

Without tf.function decoration:
<img width="827" alt="Screenshot 2020-01-31 at 4 00 47 PM" src="https://user-images.githubusercontent.com/53578184/73532745-57843080-4443-11ea-9bf9-bd1da3c82798.png">
<img width="822" alt="Screenshot 2020-0

[2020-01-31 10:38] gadagashwini commented on #35910
@loreProgetto, Please take a look at [Android quickstart](https://www.tensorflow.org/lite/guide/android) Tensorflow doc. Thanks!

[2020-01-31 10:42] Hawk0826 commented on #20041
I got the same problem in tensorflow 1.5.0 and cuda 10.1 , how can I fix the problem?

[2020-01-31 10:45] abhigoyal2210 commented on #36361
Even on collab, after you run the code, you can see occupied GPU memory. Below are the screenshots.

Without tf.function decoration (2445MiB):
<img width="722" alt="Screenshot 2020-01-31 at 4 13 31 PM" src="https://user-images.githubusercontent.com/53578184/73533423-c9a94500-4444-11ea-9ceb-55aa78ddffca.png">

With tf.function decoration (8589MiB):
<img width="706" alt="Screenshot 2020-01-31 at 4 1

[2020-01-31 10:45] dbonner commented on #35115
@freedomtan
This same error still occurs when building with Cuda 10.2 and TensorRT 7.

On Fri, 31 Jan 2020 at 14:49, freedomtan <notifications@github.com> wrote:

[2020-01-31 10:45] gadagashwini commented on #36015
@devbk007, Please take a look at the [#35449](https://github.com/tensorflow/tensorflow/issues/35449#issuecomment-570318723) comment to solve the reported issue. Thanks!

[2020-01-31 10:47] gadagashwini commented on #36029
@18970901926, Any update!

[2020-01-31 10:53] pj1989 commented on #35823
Using `tensorflow.keras` indeed solved the error.

I'm also getting your same error.
I tried to understand the causes, but it's not completely straight forward.

What I understood so far:

- The error is caused on line 3047 of training.py by the fact that `self.output` is `None` (we are inside the `model` class, so `self` should be our model as far as I understand)

Traceback:
[code]

- On TF docu

[2020-01-31 10:53] gadagashwini commented on #35777
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-31 10:53] #35777 closed

[2020-01-31 10:58] josdewitte commented on #36252
Dear all, the issue persists; I am using
[https://github.com/sitting-duck/stuff/tree/master/ai/tensorflow/build_tensorflow_1.14_source_for_Windows](url) as the steps for creating a build on windows, since there is no good documentation. If you have a better description of steps needed; please provide them.

[2020-01-31 11:14] freedomtan commented on #35115
@dbonner with Python 2.7?

[2020-01-31 11:15] hamzakhalid96 opened #36367 "Tensorflow 2.1.0 Error : Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above. [Op:Conv2D]"
**System information**

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
OS Platform and Distribution (Windows): Windows 10 Home, 10.0.18362 Build 18362
TensorFlow installed from : PIP
TensorFlow version: v2.1.0-rc2-17-ge5bf8de410 2.1.0
Python version: 3.7.6
CUDA/cuDNN version: Cuda 10.1, cuDNN 7.6.5
GPU model and memory: RTX 2070 8GB"

**Describe t

[2020-01-31 11:16] rmothukuru commented on #36323
@Ordgod,
Code says even though `save_weights_only = False`, but if `model._is_graph_network = False` and if it `not a Sequential Model`, then **only Weights will be Saved**.

If I understand the Code and your explanation correctly, Code demonstrates the Case of  `save_weights_only = False` and your explanation is about `save_weights_only = True`.

Please correct me if I am wrong. Thanks!

[2020-01-31 11:27] rmothukuru commented on #36330
You can use `Profiler` Option of Tensorboard. Please find this [Stack Overflow Answer](https://stackoverflow.com/a/56698035/11530462) for more info. If the issue still persists, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-01-31 11:42] Olli69 commented on #34135
With MacOS restarting the computer solved the problem.

[2020-01-31 11:42] Goofy-G opened #36368 "You tried to call `count_params` on embedding, but the layer isn't built. You can build it manually via: `embedding.build(batch_input_shape)`."
when i run model.summary(), this issue occures.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):windows 10 64bit
- TensorFlow installed from (source or binary):pip install tensorflow (cpu-version)
- TensorFlow version (use command below):tensorflow 2.0
- Python versio

[2020-01-31 11:50] ashutosh1919 opened #36369 "Need for more flexible Loss Function"
**System information**
- TensorFlow version (you are using): 1.15
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Since, we know that sometimes in the training process, we need the **MAE and MSE type of behavior** simultaneously. We have this kind of loss function already - **Huber Loss**.  But in some cases, we don't need just one value,

[2020-01-31 11:57] DebojitBiswas commented on #34135
Hi Olli,
I am using a Raspberry Pi. The problem persists for last one month. I did at least 100 restarts in the meantime.

[2020-01-31 11:58] moniGra commented on #35987
I'm having the same issue with different model - same as reported here: https://github.com/tensorflow/tensorflow/issues/32725
Conversion is ok - I've tried different ways of making a tflite model- from Saved Model, from Frozen Graph, etc. I've also tried with quantisation- the conversion is always correct and invoke() fails. I've also tried it in C API - the same problem

[2020-01-31 12:00] amahendrakar commented on #36348
@yzhuang,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-01-31 12:04] ahtik commented on #35115
@dbonner Confirming, also getting the build failed now with both TF 2.1 and latest master from yesterday, Ubuntu 18.04, python 3.8, cuda 10.1, tensorrt 6.
[code]

To make the build succeed, have to disable tensorrt, easiest to `export TF_NEED_TENSORRT=1` before running `./configure`.

I had a suspicion that pybind11 might be involved after skimming https://github.com/tensorflow/tensorflow/issues/3

[2020-01-31 12:18] rmothukuru commented on #36345
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-01-31 12:22] bsddemon commented on #34135
I am also using a Raspberry Pi and I still have not solved this issues.

[2020-01-31 12:30] freedomtan commented on #35115
@ahtik and @dbonner It seems bazel 1.x + Python 3 is problematic when building TensorRT is enabled. Workarounds:
1. use bazel 0.2.x, e.g., bazel 0.26.1, see comments in #35584
2. use Python 2.7.x instead of Python 3

[2020-01-31 12:33] LeonTodoran opened #36370 "error converting to tflite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.14.0

**Provide the text output from tflite_convert**

[code]

Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators,

[2020-01-31 12:42] zihaozhang9 opened #36371 "cannot import name 'resnet '"
I installed tensorflow using the following command
`conda install tensorflow-gpu`
`conda install keras-gpu`
then
`import tensorflow`
I get the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/nnir712/anaconda3/envs/tfenv/lib/python3.6/site-packages/tensorflow/__init__.py", line 98, in <module>
    from tensorflow_core import *
  File "/home/n

[2020-01-31 12:45] vk1z commented on #35584
@jiapei100 What were your build flags? Mine were the standard cuda and opt flags, nothing else. I'm wondering why protobuf directories don't exist. To make sure that everything starts from a clean state, without pollution from prior builds, I tend to rm -fr .cache/bazel first.

[2020-01-31 12:51] nbro opened #36372 "More advanced ways of collecting metrics in tf.keras while training models"
**System information**
- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): Maybe

**Describe the feature and the current behavior/state.**

Currently, in `tf.keras`,  we can access the metrics by accessing the attribute `metrics` (a list) and `metrics_names` (list) of the model. Furthermore, when developing a callback, e.g. in the definition `def on_epoch_end(epo

[2020-01-31 12:55] amahendrakar commented on #36358
@Krishnarohith10,
Replace `if(logs.get('acc') > ACCURACY_THRESHOLD):` with `if(logs.get('accuracy') > ACCURACY_THRESHOLD):` in your code and it should work.

Was able to resolve the issue. Please find the Gist [here](https://colab.research.google.com/gist/amahendrakar/cc1d75ca9f89f5b910daef7846bcf068/36358.ipynb#scrollTo=1KcZMQr7fNZp&line=10&uniqifier=1).

[2020-01-31 13:05] SamuelMarks opened #36373 "AUCROC > 80% with sensitivity 1.0 and specificity 0.0?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-01-31 13:25] amahendrakar commented on #36363
Works as intended with [Keras](https://colab.sandbox.google.com/gist/amahendrakar/c4643b7f631003b9747ace2b26e417ee/36363_keras.ipynb), was able to reproduce the error with [tf.Keras](https://colab.sandbox.google.com/gist/amahendrakar/47bf7a1917dabc817d805b659090c3c6/36363_tf-keras.ipynb). Please find the attached Gist. Thanks!

[2020-01-31 13:32] koodzi commented on #36177
I used code from master and now I have a different error. I have tested it for NDK r17c,r18,r21.

[code]

Additionally, when I try to `./configure` for clang I have got an error:
[code]

[code]

[2020-01-31 13:38] divyag11 opened #36374 "regarding hosting of .h5 model using tfserving"
hi, can I host .h5 model through tf serving, or it just supports .tfsavedformat models for hosting. please let me know if I can host it , and if you can suggest me an article for the support

[2020-01-31 13:41] divyag11 commented on #36287
okay,got your point.actually what i understood is since i am calling from genertors two times,with 2 different generator functions,and according to my understanding,the 1st generator is caching and producing the trainig batches ,while the 2 nd batch is not .Is it that we can use only 1 genertor for get_form_genertor in tf?

[2020-01-31 14:04] nbro opened #36375 "AttributeError: 'Callback' object has no attribute 'validation_data'"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/Callback

## Description of issue (what needs changing):

Currently, the page https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/Callback says `validation_data: Deprecated. Do not use.`, but if I attempt to access the attribute `validati

[2020-01-31 14:05] RobertBiehl commented on #32840
thx, will try

[2020-01-31 14:24] nbro opened #36376 "Callbacks should be able to access the training and validation data"
**System information**
- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): Maybe

**Describe the feature and the current behavior/state.**

Currently, AFAIK, there's no direct way of accessing the training and validation data used for the mini-batch in the `on_batch_end` or `on_batch_begin` methods (in `tf.keras`).  Of course, this feature can be very useful, for

[2020-01-31 14:29] rajeshr157 opened #36377 "unable to import tensorflow after installation- DLL load failed: The specified module could not be found error comes up"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-01-31 14:29] rajeshr157 commented on #36377
import tensorflow
Traceback (most recent call last):

  File "C:\ProgramData\Anaconda3\envs\py3-TF2.0\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *

  File "C:\ProgramData\Anaconda3\envs\py3-TF2.0\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _py

[2020-01-31 14:49] apostrophesoftware commented on #36336
Hello @ravikyram the link you specified is to the same page that I was using so this will not help
Thanks

[2020-01-31 15:05] DachuanZhao opened #36380 "ERROR: No matching distribution found for tensorboard<2.2.0,>=2.1.0 (from tensorflow)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
win10 1903

- TensorFlow installed from (source or binary):
```pip install tensorflow```

- TensorFlow version:
2.1.0

- Python version:
3.7.4

- Installed using virtualenv? pip? conda?:
```pip install tensorflow```

- CUDA/cuDNN version:
10.1 / 7.6.5.32

- GPU model and memory:
rtx 2070s

**Describe the problem**

*

[2020-01-31 15:22] lerobitaille commented on #36164
Do you have any workaround meanwhile?

[2020-01-31 15:25] amahendrakar commented on #36366
Was able to reproduce the issue. Please find the Gist [here](https://colab.research.google.com/gist/amahendrakar/5ac084bdfd001085dba47ef5f1aa1210/copy-of-36366.ipynb). Thanks!

[2020-01-31 15:38] gargn commented on #34350
Unfortunately, models converted with TensorFlow select ops cannot be run in Python interpreters. There is more information on running your model available [here](https://www.tensorflow.org/lite/guide/ops_select#running_the_model).

[2020-01-31 16:00] Rinkal2 commented on #35940
the dataset is not loading when opening the code in google colab. both dog vs cats and rock_paper_scissors.

[2020-01-31 16:22] jsimsa commented on #32712
@tsc2017 would you be able to try if your program work with a nightly release of TF which should include the above fix?

[2020-01-31 16:32] karapapas commented on #34315
@lu-wang-g Any updates on that?

I am using Teachable Machine to export a Tensorflow Lite model and after building and running the app on my Android I am getting the same error.

The example I am building on is the github.com/tensorflow/examples/tree/master/lite/examples/image_classification/android

I strictly followed the guide in Teachable Machine and changed nothing else.

Please give some fee