[2021-04-16 09:45] Saduf2019 commented on #39878
I have tried in colab with TF 2.5 and was able to reproduce the issue.Please, find the [gist here](https://colab.research.google.com/gist/Saduf2019/e13a1e93aa24f9af370d05e2d067e60e/untitled589.ipynb).Thanks!

[2021-04-16 09:46] Flamefire commented on #48500
Thanks for the reply. I've seen the term "legacy autotune" in the code but I haven't been able to find anything of it in the TF profiler. Where would I have to look for that and how can I influence which autotune is used?

In the "trace viewer" tool I see this when selecting the Prefetch op:

[code]

When running with `TF_CPP_MIN_LOG_LEVEL=0 TF_CPP_MIN_VLOG_LEVEL=2` I don't see any "tunable" outpu

[2021-04-16 09:47] Saduf2019 commented on #29198
I could reproduce the issue with TF 2.5 .Please, find the gist [here](https://colab.research.google.com/gist/Saduf2019/e19bf295505b2f4c6af8c41fa345f995/untitled589.ipynb).Thanks!

[2021-04-16 09:48] Saduf2019 commented on #42150
I could reproduce the issue with TF 2.5 .Please, find the gist [here](
https://colab.research.google.com/gist/Saduf2019/4ce54a15776dfb50c0096c200ce65bc0/untitled589.ipynb).Thanks!

[2021-04-16 09:52] Saduf2019 commented on #43379
I could reproduce the issue with TF 2.5 .Please, find the gist [here](https://colab.research.google.com/gist/Saduf2019/64487dc440dd3a2cfb1c5cc9ec891a75/untitled589.ipynb).Thanks!

[2021-04-16 09:56] yjiangling opened #48557 "Why there is no DepthwiseConv1D function in TensorFlow?"
The function DepthwiseConv2D、SeparableConv1D and SeparableConv2D are all supported in TensorFlow, however, the function DepthwiseConv1D is still not supported yet. But in fact, the function of SeparableConv1D is conduct by a sequence of a DepthwiseConv and a PointWiseConv, so it seems that it's very convient to add DepthwiseConv1D function to the TensorFlow.

[2021-04-16 10:10] akarmi commented on #44806
Hi @abattery, out of interest, what is the difference between "ModelOptimizationTookit" and "TFLiteConverter" labels? I noticed you re-assigned this issues from the latter to the former above. Quick check of other issues under both seems to suggest that both are applicable to issues with the TFLite Converter.

[2021-04-16 10:11] dexsr415 commented on #48554
Thanks for your reply!

I use  `saved_model_cli`

It report: `MetaGraphDef with tag-set: 'train, serve' contains the following SignatureDefs:`

And I modify my code

`converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir, tags=set(["serve", "train"]))`

It report : **ValueError: Only support a single signature key.**

,I modify my code

`converter = tf.lite.TFLiteConverter.from_save

[2021-04-16 10:19] tilakrayal commented on #48551
@DavidPal ,

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel versi

[2021-04-16 10:25] bhack commented on #47816
Have you tried with:
[code]

[2021-04-16 10:28] axelning commented on #48478
It is because it just called tf.keras actually, and this functions runs well in tf 2.2 , so I wonder there's some change in tf.keras

[2021-04-16 10:40] Saduf2019 commented on #43568
@sehoffmann
Could you please verify with latest versions of tf and let us know if you still face the problem.

[2021-04-16 10:41] Saduf2019 commented on #43657
@DeepakG19
Could you please try on the latest version of tf and let us know if this is still an issue.

[2021-04-16 10:47] EwoutH commented on #46093
CUDA 11.3 is released!

- Blog: [Exploring the New Features of CUDA 11.3](https://developer.nvidia.com/blog/exploring-the-new-features-of-cuda-11-3/)
- Blog: [Programming Efficiently with the NVIDIA CUDA 11.3 Compiler Toolchain](https://developer.nvidia.com/blog/programming-efficiently-with-the-cuda-11-3-compiler-toolchain/)
- [Download CUDA 11.3](https://developer.nvidia.com/cuda-downloads)
- [CU

[2021-04-16 10:49] mitramir55 commented on #48451
Hi @UsharaniPagadala, thank you for your response.

I'm working with Google Colab and this problem occurs in all modes (with or without GPU or TPU) with the usual memory it offers to normal users (13 gigabytes).
I'm using:
TensorFlow 2.4.1
Python 3.7.10
In short, I run the GPT model (Persian GPT model) in the graph mode and generate logits for predicting the next tokens based on the target tokens

[2021-04-16 10:51] Saduf2019 commented on #32322
Issue is replicating with TF nightly version (2.6.0-dev20210416).Please, find the [gist here](https://colab.research.google.com/gist/Saduf2019/74c25be65ca20bc5653aac311d0038b5/untitled590.ipynb). Thanks!

[2021-04-16 10:53] rmothukuru commented on #36216
@phemmer,
Sorry for the delayed response. Can you please confirm if you have submitted a `Pull Request` with the changes you submitted in the above comment? Thanks!

[2021-04-16 11:02] axelning commented on #48478
import tensorflow as tf
tf.compat.v1.disable_eager_execution()
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(512, activation=tf.nn.relu, input_shape=(784,)))
model.add(tf.keras.layers.Dense(5, activation=tf.nn.softmax))

model.compile(loss='categorical_crossentropy',
              optimizer='rmsprop',
              metrics=['accuracy'])
model._make_train_function()

runs well , whe

[2021-04-16 11:04] amahendrakar commented on #35867
@DnPlas,
Thank you for the update. Can we please close this issue as it is resolved?

[2021-04-16 11:05] Leiga opened #48558 "tensorflow.python.framework.errors_impl.InternalError: CUDA runtime implicit initialization on GPU:0 failed. Status: all CUDA-capable devices are busy or unavailable"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04
- Mobile device (

[2021-04-16 11:05] amahendrakar commented on #48288
@Ethylbenzol,
Thank you for the update. Closing the issue as it is resolved. Please feel free to re-open if necessary.

[2021-04-16 11:05] #48288 closed

[2021-04-16 11:10] Saduf2019 commented on #48236
@thomultee
You may also refer to similar issues and let us know: [link](https://stackoverflow.com/questions/66298721/tensorflow-python-framework-errors-impl-invalidargumenterror-specified-a-list-w),[link1](https://github.com/keras-team/keras/issues/11749), [link2](https://stackoverflow.com/questions/56000401/tensorflow-invalid-shape-invalidargumenterror)

[2021-04-16 11:13] rmothukuru commented on #36372
@nbro,
Can you please take a look at [Tensorflow Model Analysis](https://www.tensorflow.org/tfx/model_analysis/get_started), which provides a facility to play around with **`Metrics`** of a **`Machine/Deep Learning Model`**, and see if it helps? Thanks!

[2021-04-16 11:24] rmothukuru commented on #36436
@MichelHalmes,
Can you please confirm if your issue is resolved by the tip mentioned in [pabloi09's comment](https://github.com/tensorflow/tensorflow/issues/36436#issuecomment-620726339)? Thanks!

[2021-04-16 11:25] Tessil commented on #48521
Perfect, thank you very much. I will close the ticket then.

[2021-04-16 11:25] #48521 closed

[2021-04-16 11:27] atom00 opened #48559 "Unexpected behavior of soft device placement"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.

[2021-04-16 11:28] Saduf2019 commented on #48431
@javierFerreroM
Could you please try on tf 2.4.1 or 2.5rc1 and let us know if you still face the issue.

[2021-04-16 11:32] Matesanz commented on #36436
Yes. It was.
Regards.

[2021-04-16 11:36] rmothukuru commented on #36615
@doldre,
The error seems to be resolved in the **`Latest Version of Tensorflow (2.4.1)`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/d63ec7e7de7a272dabaeb511b272c047/36615.ipynb) of the **`Working Code`**. Thanks!

[2021-04-16 11:53] UsharaniPagadala commented on #48474
@kevint324
Could you please fill the issue template

In order to expedite the trouble-shooting process, could you please provide the following details

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using

[2021-04-16 12:14] hogbal opened #48560 "RTX 3070 gpu usage is low in CNN model training using tensorflow."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): tensorflow 2.5.0rc1
- Python version: python 3.6.9
- CUDA/cuDNN version: 11.2/8.1
- GPU model and memory: RTX 3

[2021-04-16 12:17] prajwaljpj commented on #35100
Running into the same error...

Here is some information about my configuration:
Distribution:
[code]

GPU Driver:
[code]

CUDA version:
[code]
Python version:
[code]

Tensorflow version:
[code]

Any thoughts?

[2021-04-16 12:39] tilakrayal commented on #48531
@jvishnuvardhan ,
I was able to reproduce the issue in TF v2.4,v2.5.0rc0,nightly.Please find the [gist](https://colab.research.google.com/gist/tilakrayal/7b6386e1bf710ea29e5e1f9e4657c0f3/48531.ipynb) here

[2021-04-16 12:59] saikumarchalla commented on #48559
Was able to reproduce the issue with TF 2.4 and Nightly versions. Please find the gist [here](https://colab.research.google.com/drive/16G4mZM8bNTaCQyJ6-0WpQ-LiemIiU8D7#scrollTo=CluP63gevyi1&uniqifier=2). Thanks!

[2021-04-16 13:05] sandhyacs commented on #48228
hi  @Saduf2019

https://drive.google.com/file/d/1fA_zG8rzNIUkJSCPa4I0KO-NnQ19YcZW/view?usp=sharing
here is the drive link of model and attached python script.

https://drive.google.com/file/d/1Y6_WhZ5fx00MQHdwDJ5BD3mYhMXye0yB/view?usp=sharing

[2021-04-16 13:11] abattery commented on #48554
Looks like your model has tags, {'train, serve'}. So, you need to specify tags with ['train', 'serve'].

The signatures are different. A signature represents an entry point of the given saved model. You can also get the list of the signatures by the following Python code:

[code]

Among the signature keys, you need to pick up the one signature key and provide it through the saved model converter A

[2021-04-16 13:14] abattery commented on #44806
TFLite converter is a gateway to the TFLite product. However, it contains several components, TF -> TFLite graph lowering and model optimization techniques. This issue is related to the model optimizations so to be clear, we tried to set the model optimization tag for such cases.

[2021-04-16 13:26] bhack commented on #46366
Can we close this?

[2021-04-16 13:31] bhack commented on #41361
/cc @nikitamaia This bug is is still valid in TF nightly but the connected pull request was closed without any feedback. What we want to do here?

[2021-04-16 13:31] Zhuxinpei opened #48561 "What does ”Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them“ mean?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2021-04-16 13:35] guillaumekln commented on #46366
The crash is not fixed. I believe the `FusedBatchNorm` CPU kernel should check if the input is empty. I tried to fix the issue but eventually moved to something else.

[2021-04-16 13:38] Saduf2019 commented on #48477
@namursag
Please refer to below link, which says about GPUs support for float16 and float32, you may also refer to [[link](https://github.com/tensorflow/tensorflow/issues/21317#issuecomment-413365605) and [link1](https://stackoverflow.com/questions/51602313/bfloat16-training-in-gpus)]
(NVIDIA GPUs support using a mix of float16 and float32, while TPUs support a mix of bfloat16 and float32.):

http

[2021-04-16 13:42] bhack commented on #37576
/cc @nikitamaia Can we move this in progress or close it with the related PR.

[2021-04-16 13:46] bhack commented on #36757
@qlzh727 Do we want to close this or are we waiting for a contribution?

[2021-04-16 13:51] bhack commented on #46366
The PRs at the python level was rejected. Do you think that will be accepted at cpp level?

[2021-04-16 13:55] guillaumekln commented on #46366
The GPU kernel [is checking for empty inputs](https://github.com/tensorflow/tensorflow/blob/v2.5.0-rc1/tensorflow/core/kernels/fused_batch_norm_op.cc#L818), but not the CPU kernel. So I think a code change would make sense here.

[2021-04-16 13:59] bhack commented on #46366
@nikitamaia I think that we could remove the keras label here as this is a contribution at c++ level.

[2021-04-16 14:01] raduslmn opened #48562 "Building the latest 'tflite_runtime' from source for Windows"
**System information**
- Windows 10
- tf-nightly
- Python version: 3.7
- Bazel version:3.7.2

**Describe the problem**
I am trying to build from source the latest `tflite_runtime-2.6.0` for windows. using the following command:

`$ bash tensorflow/lite/tools/pip_package/build_pip_package_with_bazel.sh windows`
and it fails, the output is below. I took this command from the guide https://github.com

[2021-04-16 14:06] nikitamaia commented on #48502
Hi @cswhjiang, #45940 has some more info on using XLA with a distribution strategy. Please take a look at that thread. If that does not answer your question, please provide more information (are you using a custom training loop?) or reproducible code. Thanks!

[2021-04-16 14:06] guillaumekln commented on #46366
Yes, the issue is more specifically to `tf.compat.v1.nn.fused_batch_norm` that is called by `tf.keras.layers.LayerNormalization`.

[2021-04-16 14:08] anovis commented on #42366
was able to do the conversion using the latest tf version, however was running into problems using it on mobile.

this conversion worked for me
[code]
But on mobile i get the error

`Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference`

I think https://www.tensorflow.org/lite/guide/ops_select#android_aar may be related, but wasn

[2021-04-16 14:12] luca992 commented on #48553
Yeah as I said,  the model appears to be using too much ram to be able to run on ios with the cpu, so I am trying to run on gpu. But thank you for the quick reply, that's really helpful, I'll check those methods to debug.

[2021-04-16 14:15] dexsr415 commented on #48554
Thanks again for your reply!

I try the python you gave
It shows this:
`[]`

`[]`  Is this None?

So I modify my code
 ### 1
`converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir, tags=set(["serve", "train"]), signature_keys=[""])`
Show this error:
**ValueError: Invalid signature key '' found. Valid keys are ''.**

### 2
`converter = tf.lite.TFLiteConverter.from_saved_model(saved_m

[2021-04-16 14:21] around-star commented on #48470
@fchollet I'll open a PR for this issue implementing the change.

[2021-04-16 14:25] Saduf2019 commented on #48558
@Leiga
this seems Nvidia related error, please refer to these links and let us know if it helps:
[Link](https://forums.developer.nvidia.com/t/failure-to-set-vgpu-computing-mode-from-prohibited-to-default/107067/2), [link1](https://stackoverflow.com/questions/41965187/nvidia-device-error-in-tensorflow),[link2](https://github.com/NVIDIA/nvidia-docker/issues/262),[link3](https://stackoverflow.com/que

[2021-04-16 14:28] talhaanwarch opened #48563 "Could not load dynamic library amazon ec2"
**System information**
- OS Platform and Distribution (aws Linux 2):

- TensorFlow installed from (source or binary): via pip
- TensorFlow version: 2.4.0
- Python version: 3.7
- Installed using virtualenv? pip? conda?: virtual env, pip
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: 11.0
- GPU model and memory: Tesla t4 (g4dn.xla

[2021-04-16 14:32] pankajkasar opened #48564 "while creating VGGSEGNET giving following error"
<em>Below is VGGSEGNET code</em>

This function call- **model=VGGSegnet(n_classes=1, input_height=224, input_width=224)** is giving same error on following both versions of TF and KERAS and Python

**System information**
- tf version=2.4.1 & 2.2.0
- keras version=2.4.3 & 2.4.3
- python=3.7 and python 3.8

**Following is code defining VGGSEGNET:-**

`def VGGSegnet(n_classes, input_height, input_wid

[2021-04-16 14:41] bhack commented on #37620
@geetachavan1 As we are on RC1 I don't it could still in https://github.com/orgs/tensorflow/projects/11

[2021-04-16 14:42] bhack commented on #37620
Do you think that we could add a postponed (or something other naming) column?

[2021-04-16 14:54] luca992 commented on #48553
@abattery so after visualizing with Netron I see there are a few while loops in the graph. Are there any good ways to actually determine which parts of the model's code introduce these while loops? As there are no actual while loops in the model's code. Are for loops converted to be represented as while loops?

# For example:
<img width="727" alt="Screen Shot 2021-04-16 at 10 46 39 AM" src="https:

[2021-04-16 15:26] AdityaKane2001 commented on #48556
@Duynguyen0897
Can you please share the colab notebook or a minimal standalone reproducible gist?

[2021-04-16 15:59] UsharaniPagadala commented on #48561
@Zhuxinpei

In order to expedite the trouble-shooting process, please provide a code snippet to reproduce for the issue reported here. Thanks!

[2021-04-16 16:00] #36025 closed

[2021-04-16 16:12] Zhuxinpei commented on #48561
[code]

[2021-04-16 16:20] UsharaniPagadala commented on #48564
@pankajkasar

This issue is more suitable for TensorFlow Models repo. Could you Please post it on Tensorflow Models repo from [here.](https://github.com/tensorflow/models/issues) Thanks!

[2021-04-16 16:44] UsharaniPagadala commented on #48561
@Zhuxinpei
I ran the code shared but didn't face any error/warning, please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/d090cd530b3df7b5bd37c95d541722cd/48561.ipynb#scrollTo=j1FJHUXHjHTs) here.Could you please let us know if it helps.Thanks .

[2021-04-16 17:01] jvishnuvardhan commented on #48356
@tomerk Any insights on the root-cause of "slow-start"? Thanks!

[2021-04-16 17:06] ymodak commented on #48461
@TaahaKhan You may want to post this issue on https://github.com/pypa/pipenv/issues repository if still need help, Since the error you are facing is not TF related.

[2021-04-16 17:20] ymodak commented on #48278
Similar issue was recently [fixed]( https://github.com/tensorflow/tensorflow/issues/48289#issuecomment-820789715) and should be available with upcoming TF 2.5.0-rc2 release.

[2021-04-16 17:21] #38287 closed

[2021-04-16 17:30] fchollet commented on #48557
Sure, that seems reasonable. Would you like to open a PR?

[2021-04-16 17:35] around-star commented on #48557
@fchollet I can work on it.

[2021-04-16 17:38] Lucy20211 opened #48567 "Dilated and causal convolutions on microcontrollers"
@tensorflow/micro

**System information**
- OS Platform and Distribution: Linux Ubuntu 20.10
- TensorFlow version: 2.4.1
- Python version : 3.8

**Describe the problem**

I would like to run inference on a microcontroller above by using a model characterized by Conv1D layers which implement causal convolutions 1D. In particular, in main.cpp I thought I would use something like this:

`// Pull in o

[2021-04-16 17:38] #48290 closed

[2021-04-16 17:57] eagle-dot commented on #46479
I installed Cuda 11.2 on my windows 10 PC  ( GPU Nvidia Quadera 2200). The tensorflow sees GPU, but not using it even after  I added the following to my python script.

os.environ['TF_XLA_FLAGS'] = '--tf_xla_enable_xla_devices'.

Any suggestion or guidance is appreciated.

Here is the log:

021-04-16 12:42:09.192167: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is op

[2021-04-16 18:02] ymodak commented on #48558
@Leiga Let's try [limiting gpu memory growth](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and see if it helps. Before that please make sure you close all python sessions and exit python interpreter, we want to make sure your gpu is not utilized any simulations.
[code]

[2021-04-16 18:08] #48412 closed

[2021-04-16 18:22] #48473 closed

[2021-04-16 18:23] ymodak commented on #37433
For more context please refer [comment](https://github.com/tensorflow/tensorboard/issues/1862#issuecomment-782518739)

[2021-04-16 18:25] prabhakarlad opened #48568 "Model datatype"
Hi,

I am trying print the summary of give model. I am more specifically interested in the datatype of the model.

I have tried the print_model_analysis() but this doesn't print the datatype. I have also tried summarize_graph utility but had no luck.

Is there something I am missing ? Are there any apis to do so ?

Cheers,
Prabhakar

[2021-04-16 19:06] bhack commented on #48200
We can use another specific entry for the library: https://ctan.org/tex-archive/macros/latex/contrib/biblatex-contrib/biblatex-software

[2021-04-16 19:14] bhack commented on #48568
You can use something like
[code]

![image](https://user-images.githubusercontent.com/1710528/115073556-c8085780-9ef8-11eb-94d5-b35c97a0c62c.png)

[2021-04-16 19:18] rd16395p commented on #43487
@hfahrudin Yes I do, commented on the pr.

[2021-04-16 19:21] nikitamaia commented on #48557
@around-star assigning this issue to you. Thanks!

[2021-04-16 19:23] jruk opened #48570 "Fails building example projects for ESP micro"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX 10.12.6
- Mobile device (e

[2021-04-16 19:27] bhack commented on #48549
It was introduced by @omalleyt12 with https://github.com/tensorflow/tensorflow/commit/2b58bb4025df1afe47cd9b523a988d4b75f3f89f. Let see what was the origin of this change.

[2021-04-16 19:31] weiserhase opened #48571 "No allocator statistics when starting a network"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Windows 10, debain 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below):  2.5.0
- Python version: 3.9.2
- CUDA/cuDNN version: 11.3, tried with 10.0, 11.0, 11.1, 11.2 aswell

[2021-04-16 19:40] bhack commented on #48541
That code is 4 years old. I suggest you to open an issue there if the maintainer is still active. It will need for sure some changes to run in modern TF versions.
@saikumarchalla I think that we can close this.

[2021-04-16 19:45] bhack commented on #36935
Side note: there was a proposal for an official DepthwiseConv1D PR at https://github.com/tensorflow/tensorflow/issues/48557

[2021-04-16 20:05] weiserhase commented on #30736
Im encountering the same issue
#48571

[2021-04-16 20:14] AdamByerly opened #48572 "tf.nn.compute_average_loss documentation/code misaligned"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/nn/compute_average_loss

## Description of issue (what needs changing):
The name of the method itself and the documentation at the URL above implies that the calculation will be an average (mean) reduction.
But in the source code (https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/python/ops/nn_impl.py#L391-L446),

[2021-04-16 20:24] dgoldenberg-audiomack commented on #48374
Whether MirroredStrategy or MultiWorkerMirroredStrategy, I get errors such as the following:

[code]

Any ideas as to what might be causing this? This is now blocking me from making any progress on this issue also.

I've filed a ticket with tf-recommenders [here](https://github.com/tensorflow/recommenders/issues/274).

[2021-04-16 20:47] bhack commented on #48572
Is the average not over the `global_batch_size`?

[2021-04-16 21:09] AdamByerly commented on #48572
It does indeed divide the sum by the global batch size.  I will close as user error.  I was passing in the global batch size since I had it available, but the error was that by not naming the parameter, the scalar global batch size was being broadcast as a weight to add to each example, thus producing the summing behavior I was seeing, despite the tensorflow code being correct.

[2021-04-16 21:09] #48572 closed

[2021-04-16 21:23] impjdi commented on #48523
Are you running this in FP16 mode?

[2021-04-16 21:46] abattery commented on #48562
@yyoon @terryheo could you take a look?

[2021-04-16 21:52] abattery commented on #48554
Is it possible to share your saved model?

I think your saved model does not any signatures. TFLite converter API needs at least one sigature availabe. In such cases, you can re export your TF graph with explicitly defining a signature. Or, the saved model object will be a callable so you can create a simple concrete function to wrap the callable saved model and then, you can convert it through th

[2021-04-16 21:52] w3sip opened #48575 "tensortflow-lite installation and packaging"
Hello,

I'm trying to create a standalone artifact of TFLite SDK. Running

`cmake -DCMAKE_INSTALL_PREFIX=~/tmp/foo ../tensorflow/tensorflow/lite
make
make install
`

The build completes, but the result of the build isn't installed. How can I assemble a standalone package?

[2021-04-16 21:54] abattery commented on #48553
There are node names or tensor names that can be found in the Netron. From those names, you can get hints to locate the original TF graph spot.

[2021-04-16 22:01] abattery commented on #48575
@terryheo could you take a look?

[2021-04-16 22:17] tetelestia commented on #48549
This works either using the Functional API, or setting the input shape of the layer with Sequential API. It seems to only be a problem using `model.build(...)`

[2021-04-16 22:24] evancollins1 commented on #47872
@amahendrakar Thank you. Making the y input for model.fit an array seemed to solve for the model.fit issue. However, now this is introducing an issue with the loss function. Any tips to resolve the dimensions? I defined the axis=-1 for the Squeeze function, but it produces the error referenced in the gist.

[2021-04-16 23:21] normanheckscher commented on #46111
I'm short on time to commit to this, so I'll probably never get to the bottom of it. My conclusion is that the source of this problem is within the tensorflow/cuda code or its a python incompatibility.

Ultimately, I'm just going to revert my codebase back to tensorflow 1.1x, an older version of cuda and import keras as a separate python library. This worked for me in the past and it should work a

[2021-04-16 23:50] jocelynbaduria opened #48579 "ai-explanations-image.ipynb - Saved model error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
https://colab.research.google.com/github/GoogleCloudPlatform/ml-on-gcp/blob/master/tutorials/explanations/ai-exp

[2021-04-17 01:25] Duynguyen0897 commented on #48556
The colab notebook [here](https://colab.research.google.com/drive/1hl7WPnzNOEH_MvchRqMGw6omRmy-5Z3y?usp=sharing)
Thank you!

[2021-04-17 01:53] #47557 closed

[2021-04-17 02:21] #48162 closed

[2021-04-17 04:05] pankajkasar commented on #48564
@UsharaniPagadala
OK done I have posted on Tensorflow Models. Shall I close or shall I expect some more help from your side?

[2021-04-17 04:55] shwoghk14 commented on #39651
@abStack-pk  HI,
I hadn't know that has missing letter 's'.
Thanks, I question is solved.

Best regards.

[2021-04-17 04:59] UsharaniPagadala commented on #48564
@pankajkasar
Yes you can feel free to close the issue.Thanks

[2021-04-17 05:00] pankajkasar commented on #48564
OK done

[2021-04-17 05:00] #48564 closed

[2021-04-17 05:07] AdityaKane2001 commented on #48556
@Duynguyen0897
The images in /tree/cam folder are of RGBA type, thus they are not being read properly by the model. Please convert these images to RGB. [This](https://stackoverflow.com/questions/9166400/convert-rgba-png-to-rgb-with-pil) may be helpful.
Hope this helps.

[2021-04-17 05:34] liufengdb commented on #48282
fvollmer@, can you confirmed that the issue is resolved with tf-nightly?

[2021-04-17 05:55] georgeslabreche commented on #48200
@bhack that wouldn't produce a DOI, though.

[2021-04-17 07:23] saikumarchalla commented on #48541
@SixtyTrees   The code which you have provided using keras  instead of tf.keras and it is very old. Please check the suggestion mentioned above by @bhack .

[2021-04-17 07:42] saikumarchalla commented on #48547
Was able to reproduce the issue in TF 2.4 and nightly versions. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/ec58aa8fffe616dc5546be7f20550b69/a2c-cont-issue.ipynb).Thanks!

[2021-04-17 07:46] rmothukuru commented on #36677
@rohanmohapatra,
Sorry for the delayed response. Can you please look into the Documentation of [Custom Gradients](https://www.tensorflow.org/api_docs/python/tf/custom_gradient) and let us know if it helps? Thanks!

[2021-04-17 07:52] AdityaKane2001 opened #48584 "Models having locally connected layers with implementation = 2 or 3 cannot be saved in SavedModel format."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): Colab, so binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.7

**Describe the current behavior**
This issue is a continuation of #47689 .

[2021-04-17 08:02] TomatoBoy90 opened #48585 "how use session in function for TF1.14?"
I build a seesion,but I use it in functoin,it will call me that No default TensorFlow session found.
how I reslove the issue?

[2021-04-17 08:44] karimnosseir commented on #48426
Jared, can you please help with this issue.

Thanks

[2021-04-17 09:24] Yannik1337 opened #48586 "Why do we need to divide the loss in case of multi-dimensional labels?"
I am following TensorFlow's tutorial on [custom training][1].
There are two things that I do not understand:

First, when defining the losses, the authors point to dividing by the shape of one example, in the case of a multi-dimensional labels:

"If `labels` is multi-dimensional, then average the `per_example_loss` across the number of elements in each sample. For example, if the shape of predicti

[2021-04-17 09:34] Fapannen opened #48587 "TFlite Converter - EfficientDet conversion fails on int quantization (IndexError: _Map_base::at)"
Hello,

I am trying to convert EfficientDet-D4 model to tflite, with integer quantization with CPU fallback for unsupported operations. I am encountering error same as [this issue](https://github.com/tensorflow/tensorflow/issues/43239). I have tried using different converter settings but none of them work. Interestingly, though, EfficientDet-D0 converts with this type of quantization without any i

[2021-04-17 09:49] abattery commented on #48587
@teijeong could you triage this issue?

[2021-04-17 09:53] bhack commented on #48200
If you want an automated DOI we could explore https://guides.github.com/activities/citable-code/

/cc @MarkDaoust @lamberta

[2021-04-17 11:12] lugalUrim commented on #48477
@Saduf2019 After I downgrade to 11.0, the output is still the same.

[2021-04-17 11:13] rmothukuru commented on #15644
@Hoeze,
Sorry for the delayed response. It looks like [UniqueV2 ](https://www.tensorflow.org/api_docs/python/tf/raw_ops/UniqueV2) and [UniqueWithCountsV2](https://www.tensorflow.org/api_docs/python/tf/raw_ops/) has **`axis`** argument. Can you please confirm if this is what you are looking for? Thanks!

[2021-04-17 11:14] RobertBiehl commented on #47755
@jameshfisher I think the tutorial should probably mention the advantages and disadvantages. Image augmentation quickly becomes the bottleneck, and depending on your goals both can be relevant.

[2021-04-17 11:30] rmothukuru commented on #20505
@mrader1248,
It is implemented in [tf.experimental.numpy.allclose](https://www.tensorflow.org/api_docs/python/tf/experimental/numpy/allclose). Please confirm if we can close this issue. Thanks!

[2021-04-17 11:33] Hoeze commented on #15644
Thanks @rmothukuru, this looks indeed like what I was looking for.
I remember that the UniqueV2 and similar functions were not accessible via the normal Tensorflow API, but unfortunately I did not try tensorflow for years now.

Since there are many other people interested in this feature, maybe someone of you could have a try?

[2021-04-17 11:35] paweller commented on #31312
Thanks to everyone who was persistently pushing for this issue to not get inactive. As basically everyone who uses TensorFlow 2.x.x and the built-in functions like **model.fit()** I was experiencing the **following issues**:
1. **Loads of RAM usage** even though I am running NVIDIA GeForce RTX 2080 TI GPUs.
2. Very **slow training**.
3. Some kind of **memory leakage** (feels like it was somewhat l

[2021-04-17 11:36] lugalUrim opened #48589 "Conv2d didn't raise exception for invalid input argument."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): bianry
- TensorFlow version (use command below): 2 .4.1
- Pyt

[2021-04-17 11:36] phone-burner commented on #48455
@ymodak @mihaimaruseac So will this problem be fixed ? Thanks .

[2021-04-17 11:42] rmothukuru commented on #20528
@eanschuetz,
[tf.random.poisson](https://www.tensorflow.org/api_docs/python/tf/random/poisson) seems to utilize GPU Kernel in the **`Latest Version of Tensorflow (2.4.1)`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/e24b4cdee5d809bbdf303d5e12e28c44/gh_20528.ipynb) of the working code. Thanks!

[2021-04-17 11:45] rmothukuru commented on #15644
@Hoeze,
Thank you for your response. Sure, I will wait for the community to respond about it.

[2021-04-17 11:48] rmothukuru commented on #20532
@dhingratul,
Can you please confirm if the issue is resolved, as per [Tauranis comment](https://github.com/tensorflow/tensorflow/issues/20532#issuecomment-518623533)? Thanks!

[2021-04-17 11:52] Leiga commented on #48558
I have tried putting those on top of my test script and run it. Unfortunately, It produced the same error as mentioned above.

[2021-04-17 12:22] jameshfisher commented on #47755
@RobertBiehl what are the advantages of the current approach (cached augmentation) vs no augmentation? As far as I can see, there aren't any, but I might be missing something ...?

[2021-04-17 12:26] jameshfisher commented on #47755
FYI, [this post was popular a few days ago](https://news.ycombinator.com/item?id=26767441), about what seems to be an identical issue with PyTorch tutorials.

[2021-04-17 12:30] leondgarse commented on #48127
So does anyone checking this? Also tested `tf-nightly 2.6.0.dev20210401` with `python 3.8.5`, same situation.

[2021-04-17 14:20] anshkumar opened #48590 "error: 'tf.TensorScatterUpdate', 'tf.Size' op is neither a custom op nor a flex op"
### 1. System information

- OS Platform and Distribution: Ubuntu 18.04.4 LTS
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.3.0

### 2. Code
I'm providing the saved model in the [google-drive](https://drive.google.com/file/d/16tkI7FWiQ8QTqNpBUAceLbS8jNljLKsL/view?usp=sharing).
[code]

### 3. F

[2021-04-17 14:46] AdityaKane2001 commented on #48589
@lugalUrim
When you make a model and compile, it gives the expected error.
Example:
[code]
Error trace:
[code]

Please close this issue if the query is resolved.
Thanks

[2021-04-17 14:54] AdityaKane2001 commented on #48557
@around-star
Would like to work on this with you.

[2021-04-17 14:56] emadboctorx commented on #48547
I fixed the problem by changing the implementation. This doesn't necessarily mean that the current implementation is wrong. It works only for discrete environments, otherwise I get this ghost gradient warning. Based on this, I'm closing this issue and if anyone encounters the similar issue, feel free to re-open it.

[2021-04-17 14:56] #48547 closed

[2021-04-17 15:10] bhack commented on #48557
I think that we could assign assign two contributors but you need to collaborate on the same external fork cause we expect a single PR. Nikita what do you think?

[2021-04-17 15:37] RylanSchaeffer opened #48592 "TensorFlow Reddit Dataset to DataFrame Throws Error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- Python version: 3.6.9
- TensorFlow version (use command below):

[code]

**Describe the current behavior**

I want to load the [tfds reddit d

[2021-04-17 15:49] rmothukuru commented on #20687
@badreddinen,
Sorry for the delayed response. You can think of using [Profiler Tool of Tensorboard](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras), which highlights the **`Bottlenecks`** in the performance. Please refer to the [Guide](https://www.tensorflow.org/guide/profiler) and the [Performance profiling in TF 2 talk](https://www.youtube.com/watch?v=pXHAQIhhMhI) from the **

[2021-04-17 15:58] RylanSchaeffer commented on #48592
The error goes away and a sensible result is produced if I remove these two lines https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/as_dataframe.py#L222-L223 and add `df = pd.DataFrame(rows)`.

[2021-04-17 15:59] bhack commented on #48584
It is that in_dims and out_dims have shape `shape=(3,)` so then in_size/out_size is shape=().

[code]

[2021-04-17 16:02] AdityaKane2001 commented on #48584
@bhack
Can you please elaborate on that?

[2021-04-17 16:04] bhack commented on #48584
In `local.py` add a print yourself:

[code]

[2021-04-17 16:07] AdityaKane2001 commented on #48584
Got it, will look into it

[2021-04-17 16:07] bhack commented on #48584
P.s. I fixed a type

[2021-04-17 16:08] RylanSchaeffer commented on #48592
Ok upon further investigation, I found the cause of the error. I'm using Tensorflow Datasets 4.2.0, which has the following at the top of the `as_dataframe.py` file:

[code]

The second import statement was failing, causing `DataFrame` to be set to `object`.  I noticed this import was removed in the most recent commit.

https://github.com/tensorflow/datasets/commit/81e8ec79e9782f6eb5a93689bef9a5a0

[2021-04-17 16:08] #48592 closed

[2021-04-17 16:12] bhack commented on #48470
/cc @nikitamaia (Assign/In progress)

[2021-04-17 16:13] prabhakarlad commented on #48568
Hi @bhack,

Thank you for the response, your suggestion prints the data type of each tensor.

I have come with below snip code which prints the dtype of model.

interpreter = tf.lite.Interpreter(model_path=args.input_path)
input_type = interpreter.get_input_details()[0]['dtype']
print('input: ', input_type)
output_type = interpreter.get_output_details()[0]['dtype']
print('output: ', output_type)

[2021-04-17 16:25] AdityaKane2001 commented on #48585
@TomatoBoy90
It is recommended that you use TensorFlow 2.4.1, which is the latest stable release. Installation guide [here](https://www.tensorflow.org/install?hl=en).

[2021-04-17 16:44] AdityaKane2001 commented on #48584
@bhack
I understood that in `make_2d` function we are facing empty arrays. But then why in the test error logs we see that the error is on some other line, and not that one?

[2021-04-17 16:52] Leiga commented on #48558
I have tried using `os.environ["CUDA_VISIBLE_DEVICES"] = '0'`  but it did not solve the problem.

After browsing this [link](https://forums.developer.nvidia.com/t/how-to-run-devicequery/54624) you recommended, I found that I had an issue with the Recommended [Actions](http://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#recommended-post) under Post-Installation Actions from Nvidia

[2021-04-17 17:30] bhack commented on #48584
I was just commenting your point 3. Isn't that line?

[2021-04-17 17:32] AdityaKane2001 commented on #48584
Yes, that's the one.
My question is, how do we pinpoint where the bug is? Where are we calling the `reshape` that has argument `shape` which has `None` in it?

[2021-04-17 18:19] aki65 commented on #48081
@miaowang14, what did your partner at Qualcomm say about this ?

[2021-04-17 18:36] jabowery commented on #45156
I'm running into the same problem and am confused by adlzanchetta's resolution of this issue when he says "for some reason".  Wasn't the original problem that the GPUs were not being used?  Why must the CPUs be registered for the GPUs to be used?

[2021-04-17 19:15] arcutright commented on #48033
I also have this issue with the training metrics in tf-2.4.1 using python 3.8 and a custom loss function. It looks like the history object is correct and the debug info is incorrect (assuming the history values are calculated before updating the model weights, otherwise I have 3 different answers).

[code]
[code]

[2021-04-17 19:56] bhack commented on #48584
The problem is that on save the layer `def call(self, inputs):` called with `inputs.shape` `(None, None, None, 1)` instead of `(None, 28, 28, 1)`. As in `implementation == 2` and `3` we have always `self.compute_output_shape(inputs.shape)` we will get the error for `(None, None, None, 1)`.

[2021-04-17 20:15] ardtrkc opened #48593 "No rule to make target 'install' [cmake]"
Hello!
While compiling the minimal.cpp example of TensorFlow Lite with cmake on Yocto platform, we are having error as follows:

[code]
On the install line of our CMakeLists.txt file the idea is not clear in our mind about "TARGETS". If you brighten up our mind it would be perfect.

- The CMakeLists.txt file is as follows:

[code]
Your guidance and clarifications are important for us.

Thank you i

[2021-04-17 20:24] #48485 closed

[2021-04-17 21:07] georgeslabreche commented on #48200
@bhack, yes. That's what's in the description of this issue.

[2021-04-17 21:26] abattery commented on #48590
In the recent TF versions those ops can be supported through the tf select option. https://www.tensorflow.org/lite/guide/ops_select

[2021-04-17 21:27] abattery commented on #48593
@terryheo could you take a look?

[2021-04-17 23:32] ArtNow198 opened #48597 "Thanks for contributing to TensorFlow Lite Micro."
Thanks for contributing to TensorFlow Lite Micro.

To keep this process moving along, we'd like to make sure that you have completed the items on this list:
   * Read the [contributing guidelines for TensorFlow Lite Micro](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/CONTRIBUTING.md)
   * Created a [TF Lite Micro Github issue](https://github.com/tensorflow/tensorflow/

[2021-04-17 23:47] rschiewer commented on #31312
Using `run_eagerly=True` like @paweller suggests fixes the memory leak for me without any other action needed. **However, as far as I'm aware it completely removes the benefit of graph optimizations and should mean a noticeable performance hit**. For my application, it did.

Two findings if yout don't want to use `run_eagerly=True`:

1. I tried to use tmalloc with no change regarding the memory le

[2021-04-18 01:15] luca992 commented on #48553
@abattery So I was able to remove the while loops from the graph by changing `tf.map_fn` to `tf.vectorized_map`, and I fixed the input sizes. There are no if statements in the graph. When I look at the graph in Netron there is no node with dynamically sized tensors now. Dynamically sized tensors would have a -1 in its shape, correct?

But, I'm still getting the same `TensorFlow Lite Error: Attempt

[2021-04-18 01:37] abattery commented on #48553
String, resource, and variant type tensors always are categorizded as dynamic tensors. Dynamically sized tensors would have a -1 or None in its shape.

Is it possible to share your TFLite model?

[2021-04-18 01:43] luca992 commented on #48553
@abattery yeah, this is what I have now after slightly modifying the model from here: https://colab.research.google.com/github/google-research/google-research/blob/master/repnet/repnet_colab.ipynb

[code]

[2021-04-18 01:46] rthadur commented on #48236
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-04-18 01:46] #48236 closed

[2021-04-18 01:55] tyoc213 opened #48598 "Failed to build `xla_client:libxla_computation_client` undeclared inclusion"
**System information**
- OS Platform and Distribution: OS: Ubuntu 20.04.2 LTS (x86_64)
- TensorFlow installed from (source or binary): 00d31f1d50c
- TensorFlow version: 00d31f1d50c
- Python version: 3.8.5
- Installed using: conda
- Bazel version (if compiling from source): 3.7.2 (1608224243)
- GCC/Compiler version (if compiling from source):  c++ (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
- CUDA/cuDNN v

[2021-04-18 02:23] abattery commented on #48553
Is it possible to share the converted TFLite model?

[2021-04-18 02:26] luca992 commented on #48553
@abattery yeah sorry, here you go: https://drive.google.com/file/d/1-LcGSsb4PbPDsGe1Cy1cwR-W_7Hu-kyP/view?usp=sharing

[2021-04-18 03:20] doldre commented on #36615
Yes, It is resolved!

[2021-04-18 03:20] #36615 closed

[2021-04-18 04:27] DavidPal commented on #48551
tf.strings.upper() has a similar bug. It does not correctly handle non-ASCII characters.

[2021-04-18 04:45] bersbersbers commented on #31312
@rschiewer you may mean #46475 and/or #46661.

[2021-04-18 06:24] luca992 commented on #48553
So I looked into it some more. It looks like `vectorized_map` also is not supported on GPU? Since it uses `gather` and that is [not supported on GPU](https://github.com/tensorflow/tensorflow/issues/42180)? Is that correct?

[2021-04-18 06:36] gganduu opened #48599 "Resnet50 pretrained model for fine tuning, the model is not convergence"
Hi,

I'm using pretrained Resnet50 model for my own data's training.  The model is not convergence even the train accuracy looks good shown by the log, and validation loss and accuracy is not improved during the training phase.

I also test the trained model on training and val set, the accuracy is very pool(see below)

And I try the tensorflow 1.15.0 and 2.4.0 different version, the problem is th

[2021-04-18 06:36] ymodak commented on #48558
Perhaps this [thread ](https://forums.developer.nvidia.com/t/nvidia-persistenced-failed-to-initialize-check-syslog-for-more-details/74052/5)can help you fix

[2021-04-18 07:01] #20505 closed

[2021-04-18 07:15] nicolaspi commented on #47816
Thanks, but you have hint a better solution using `tf.autograph.to_graph` that might solve the issue in the general case:

[code]

Now this works both in graph and eager mode (with proper debugging capabilities). I suggest the `infer_output` logic using the autograph conversion step to be embedded in `Lambda`.

[2021-04-18 07:49] SohaibAnwaar commented on #46975
Hy I hope that  you all are doing good. I need to train my mrcnn model on gtx 3070. Model loads onto the gpu but stuck while starting training no error appears but it stuck.

Versions I am using:

1. Tensorflow 2.4
2. cudnn 8
3. cuda 11.0
4. nvidia-drivers 460

![Screenshot from 2021-04-18 12-45-13](https://user-images.githubusercontent.com/29427728/115138252-681ec780-a044-11eb-9e7d-c567d1219df0.p

[2021-04-18 07:56] yakovdan commented on #48307
if I just do pip install, the installation does not contain the source code. Does this mean I need to build from source?

[2021-04-18 08:43] mchuv commented on #46975
Hi, sorry I can't help you, because I only work with local training and never use Jupiter and/or Notebooks.

[2021-04-18 09:33] SohaibAnwaar commented on #24828
Hy I hope that  you all are doing good. I need to train my mrcnn model on gtx 3070. Model loads onto the gpu but stuck while starting training no error appears but it stuck. When I list tensorflow device it show GPU exists but training not starts.

![Screenshot from 2021-04-18 12-53-28](https://user-images.githubusercontent.com/29427728/115138389-3bb77b00-a045-11eb-9534-90d55308cfef.png)

Versions

[2021-04-18 09:56] dexsr415 commented on #48554
Thank for you replay!

I re-exporting a new saved model.

It has singnaturee ['serving_default']

Then,i modify code

`converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir, tags=set(["train", "serve"]), signature_keys=['serving_default'])`

`tflite_model = converter.convert()`

It reported (when it executes to that "`tflite_model = converter.convert()`"):

**WARNING:tensorflow:Issu

[2021-04-18 09:59] SohaibAnwaar commented on #46975
I am currently using this repo
Github Link: https://github.com/SohaibAnwaar/Mask-Rcnn-Tensorflow-2.0

I tried by using py file But still stuck on the same point
![Screenshot from 2021-04-18 14-55-46](https://user-images.githubusercontent.com/29427728/115141570-94dbda80-a056-11eb-81d5-47cab56f59ae.png)

[2021-04-18 10:21] bhack commented on #47816
For lambda with dynamic we have also another issue https://github.com/tensorflow/tensorflow/issues/44906

[2021-04-18 10:44] paweller commented on #31312
@rschiewer: How does it make sense then that my training times per epoch decreased siginificantely to about 1/3 of what they were before? Or may that be caused by the `ClearMemory` callback? I cannot imagine it does but I might be wrong. Anyways, I will give your finding 2. a try as I am indeed using ReLU as the activation function for all my convolutional layers. I will let you know what it did f

[2021-04-18 11:00] nicolaspi commented on #47816
Yes, but do you agree that I used `dynamic=True` only as a way to specify the output's shape using the public API (for the POC) and that this is not a necessary condition?

[2021-04-18 11:19] Saduf2019 commented on #48477
@lugalUrim
Can you please open a new issue with the details of your issue as this issue is for the GPU usage for bfloat16 which is not supported.

[2021-04-18 11:26] Saduf2019 commented on #48558
@Leiga
Same error is reported and solved at Nvidia webiste shared below, please follow it and move this issue to closed status as it is not a tensorflow related issue, in case of any further questions related to same issue you may open a ticket with Nvidia.

https://forums.developer.nvidia.com/t/nvidia-persistenced-failed-to-initialize-check-syslog-for-more-details/74052

[2021-04-18 11:40] bhack commented on #47816
The current documentation in master still specify dynamic also for layers with Python control flow.

[2021-04-18 12:05] nicolaspi commented on #47816
Here is a POC without dynamic:

[code]

[2021-04-18 12:43] NafeesPhD opened #48600 "NameError: name 'wait' is not defined when executing tf.distribute.MirroredStrategy()"
**System information*
- TensorFlow version : 2.6.0
- Python version: 3.8
- GCC/Compiler version (if compiling from source):
- CUDA version:  11.2

I want to train the model using TensorFlow's MirroredStrategy on several GPUs. I've used `strategy = tf.distribute.MirroredStrategy()` many times before but this time when I executed it, I got an unusually long error and the mechanism became stuck for a

[2021-04-18 13:16] abattery commented on #48554
Please share simple stand alone code such that we can replicate the issue faced or if possible share a colab gist.

[2021-04-18 14:55] ardtrkc commented on #48593
We fixed our fault on install part as `install(TARGETS minimal DESTINATION git)`. However, still we are getting the same error.

[2021-04-18 15:22] hashaaan commented on #45214
I also agree with @stas00, INFO logs should be able to disable

[2021-04-18 15:27] Suraj1199 commented on #45063
NO @vandenheuvel , seems like this problem occurs only during eager execution. Currently I looked into its [source code](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python/eager) to find the bug.

[2021-04-18 15:35] lugalUrim commented on #48589
Thanks @AdityaKane2001 . When I make a model, it raises a `ValueError` indeed.

As far as I am concerned, it would be better if the error can also be raised when building a layer for invalid input.

 - Image this case: One breaks the model into multiple blocks to debug, and every single block (consisting of one or more layers) works fine with some input, but when putting them altogether into a mod

[2021-04-18 15:42] AdityaKane2001 commented on #48589
@lugalUrim
The thing is, mostly one does not execute a layer like this without putting it into a model, for obvious reasons. But yes, it's a valid thing to expect, and we may implement it.

[2021-04-18 15:44] #48600 closed

[2021-04-18 15:45] NafeesPhD commented on #48600
I reinstalled TensorFlow and now everything is fine.

[2021-04-18 16:39] hyang0129 opened #48602 "Atrous/Dilated Convolutions cannot dynamically Compute Shape on TPU"
**System information**
- Colab Pro TPU Environment
- TF 2.4.1
- TPU v2-8

**Describe the current behavior**
tf.keras.layers.Conv2D(filters = 32, kernel_size=3, strides = 1, use_bias = False, dilation_rate = 2) does not compile on TPU.

Building a custom layer using tf.nn.atrous_conv2d results in the same error.

**Describe the expected behavior**
tf.nn.atrous_conv2d is a supported op based on this

[2021-04-18 16:40] bhack commented on #47816
In you last example are you running always in eager mode?

[code]

[2021-04-18 16:49] HRania opened #48603 "Unsupported data type 13 in tensor"
Hi everyone,
 I recently converted my custom object detection model from TensorFlow '1.15.0' to TensorFlow lite so I can implement it on a raspberry PI 3 model B. But, when I tried to test it I got this error 'Unsupported data type 13 in tensor'.
 Can anyone help me understand this error?
ps:   I am using the latest TF Lite runtime version 2.5

[2021-04-18 18:04] vandenheuvel commented on #45063
@Suraj1199 do you mean that it only occurs during **non**-eager execution?

[2021-04-18 18:08] narvekarnm opened #48604 "Support for OV7675 camera module"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): not applicable (using the Arduino_TensorFlowLite installed from the Arduino IDE)
- Tensorflow version (commit SHA if source): Arduino_TensorFlowLite. 2.4.0-ALPHA
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Arduino Nano 33 BLE Sense

The image pro

[2021-04-18 19:14] rschiewer commented on #31312
@bersbersbers Yes exactly, it's [#46475](https://github.com/tensorflow/tensorflow/issues/46475). Thanks for mentioning it here!

@paweller I'd be a lucky man if I understood how tensorflow graph mode really works. If your training runs faster in eager mode,  there's maybe something going wrong during the generation of the optimized graph. According to my experience, using graph mode is usually fas

[2021-04-18 21:41] Fabian-Ket commented on #48523
If it is the default, yes. How do you set the running mode?

[2021-04-18 22:01] alanvgreen opened #48605 "Make GreedyMemoryPlanner::PrintMemoryPlan accessible"
@tensorflow/micro

**System information**
- All distributions
- Source
- All version to date
- Any platform with UART output

**Describe the problem**

[GreedyMemoryPlanner::PrintMemoryPlan()](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/memory_planner/greedy_memory_planner.h#L84) prints information about head memory allocation to the console. It has proven quite usef

[2021-04-18 22:06] alanvgreen opened #48606 "Enhance GreedyMemoryPlanner::PrintMemoryPlan() format"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: all
- TensorFlow installed from source
- Tensorflow version: All
- Target platform: All

**Describe the problem**

While using the output of `GreedyMemoryPlanner::PrintMemoryPlan()` to better understand model memory use, I found myself tweaking the output to provide information in a more readily understandable way.

I h

[2021-04-18 22:14] alanvgreen opened #48607 "Old makefile target in person dection example README"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: Debian Linux
- TensorFlow installed from source
- Tensorflow version  7e55a20
- Target platform: host

**Describe the problem**

The README documentation for the "Run the tests on a development machine" of the [person_detection example README](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/ex

[2021-04-18 22:16] DylanHsu commented on #48545
Yes, this issue is being _tracked_, but is it being _worked on?_ It would be great to know the actual status of this issue. For brevity, you could inform the users which of the following statements are true:

1. "Clearing GPU memory is currently being worked on, but we don't have an exact time estimate."
2. "We appreciate your concerns, but clearing GPU memory is not in the planned design spec for

[2021-04-18 22:19] abattery commented on #48603
Could you make sure that the installed TF version on the raspberry Pi board is 2.5.0 or beyonds?

[2021-04-18 22:20] abattery commented on #48603
By the way, are you using TFLite micro product or TFLite product?

[2021-04-18 22:47] lamberta commented on #48200
FWIW, the Google quantum projects have started doing this with Zenodo: https://quantumai.google/cirq/citation
But, yes, currently we point to the [TensorFlow white paper](https://www.tensorflow.org/about/bib) for the citation.
cc: @theadactyl @joanafilipa

[2021-04-18 22:59] benjs opened #48608 "Keras plot_model: AttributeError: 'ResourceVariable' object has no attribute '_keras_history'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v2.4.0-49-g85c8b2a817f 2.4.1

The following things probably don't matter:
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- Python version: 3.8.5
- CUDA/cuDNN ve

[2021-04-18 23:21] foxik opened #48609 "Bug in ragged version of tf.losses.SparseCategoricalCrossentropy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Debian Buster**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below

[2021-04-18 23:33] foxik commented on #48609
Adding @pedro-r-marques who wrote the code.

[2021-04-18 23:34] hjmus commented on #39521
On 2.5.0, seeing the same issue but with a different symbol: `_ZN10tensorflow4data17FinalizeDatasetOp15kHasCapturedRefE`

`-c opt --copt=-g` no longer helps. Linker will fail with "relocation overflows" error.

[2021-04-18 23:50] joe-antognini commented on #35648
Sure, we can close this.

[2021-04-18 23:50] #35648 closed

[2021-04-19 01:40] HRania commented on #48603
@abattery Thank you for replying.
I am using the 2.5 version as it is showing :
![xx](https://user-images.githubusercontent.com/62913708/115170161-e072a080-a0b7-11eb-8271-bac138fabaaf.PNG)

and to answer your question, I am using the TFLite product.

[2021-04-19 01:44] abattery commented on #48603
Please share simple stand alone code such that we can replicate the issue faced or if possible share a colab gist. If possible, please share your converted tflite model file.

[2021-04-19 01:51] HRania commented on #48603
here's a link to my converted Tflite model :
https://drive.google.com/drive/folders/1bNewhxBiKqv4dgaI_I0Tj0LZoc-DDwLp?usp=sharing

[2021-04-19 02:29] abattery commented on #48603
I have confirmed that the above model works well with the recent TF version. It is hard to reproduce your issue on my end.

How about using the TF nightly version at your machine?

[2021-04-19 02:32] dh-g commented on #46648
hey again, any updates????

[2021-04-19 02:32] abattery commented on #48603
My recommendation is that, instead of the tflite_runtime package, could you try using the recent TensorFlow package? To run resources including TensorArray through the TF select option, the TF kernels are required.

[2021-04-19 02:38] dh-g commented on #46648
@saikumarchalla @rmothukuru Hey guys, I just tried in the colab notebook again [here](https://colab.research.google.com/gist/saikumarchalla/50427c688799dbcfbb20505b82e1efd1/untitled.ipynb#scrollTo=pDt8nA5z_GQS). The code still fails for both 2.4 and the nightly version 2.6

[2021-04-19 02:56] Leiga commented on #48558
Are you sure the error `nvidia-persistenced failed to initialize. Check syslog for more details.` is the main cause of `tensorflow.python.framework.errors_impl.InternalError: CUDA runtime implicit initialization on GPU:0 failed. Status: all CUDA-capable devices are busy or unavailable` ? I have checked my nvidia-persistenced status with `systemctl status nvidia-persistenced` and it was active.

[2021-04-19 03:18] BorisPolonsky commented on #45931
Any update on this issue?

[2021-04-19 03:56] HRania commented on #48603
Okay I will try what you suggested. Can you please provide me the exact versions that you used to test my model?

[2021-04-19 03:57] abattery commented on #48603
I verified with the today's tf-nightly version.

[2021-04-19 05:03] LeopoldACC opened #48611 "E tensorflow/core/grappler/clusters/utils.cc:87] Failed to get device properties, error code: 3"
### System information
-   **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**:
-   **TensorFlow installed from (source or binary)**:source
-   **TensorFlow version (use command below)**:1.15.4
-   **Keras version()**:2.3.1
-   **Python version**:3.6.3
-   **GCC/Compiler version (if compiling from source)**:7.5
-   **CUDA/cuDNN version**:1.11.0 / 8.0.4
-   **GPU model and memory**:RTX3090

[2021-04-19 05:19] #48597 closed

[2021-04-19 05:19] #48558 closed

[2021-04-19 05:30] abattery commented on #40157
In the TF-nightly version or TF 2.5 version (not tflite-runtime 2.5 version), this problem has resolved already.

[2021-04-19 05:43] Genius-farmer commented on #26546
I followed the steps above. However, I am still getting error.

I cannot upgrade tensorflow==2.0 due to my project requirements.
I can only use tensorflow==1.14.0 , tensorflow-gpu==1.5.0

I am getting
`ModuleNotFoundError: No module named 'tensorflow.compat'`

How do I go about solving it?

[2021-04-19 06:08] #48300 closed

[2021-04-19 06:20] terryheo commented on #47357
I see. BTW, can you test this again?
My Mac has x86 emulator and it looks fine now.

[2021-04-19 06:30] saikumarchalla commented on #48528
@halhwadi Closing this issue for now as I can see you have created a new issue on models repo. Thanks!

[2021-04-19 06:30] #48528 closed

[2021-04-19 06:32] xueyedamo521 commented on #48223
@ymodak
Looking forward to any reply from you，thanks.

[2021-04-19 06:34] CyangXu commented on #42376
Take more time than my expectation. Hopefully I can have something to show before Friday.

[2021-04-19 06:39] amahendrakar commented on #47794
@bgcgh,
Thank you for the update. Can we close this issue for now?

Please let us know if you are facing the same error with the latest version of TensorFlow v2.5.0rc1 as well. Thanks!

[2021-04-19 06:54] #48436 closed

[2021-04-19 07:07] amahendrakar commented on #48368
@redmlr,
Could you please provide the complete code snippet along with the `model.fit()` function, so that we can look into this? Thanks!

[2021-04-19 07:13] WannesBouwen commented on #48227
Hello,

Sorry for the late response. I've updated to the latest available changeset and the problem is not seen anymore. Thank you for the help.

Kind regards,

Wannes

[2021-04-19 07:16] ianqouda commented on #47910
@jvishnuvardhan Thank you very much! This works fine for this example I showed here but in more complexe context (which is my case) this solution alters a little bit the behaviour of my layer. More precisely if I have this boundary as an argument which I can set manually and force the adapt method not to override it then this solution would not work any more.

In the mean time I found another way

[2021-04-19 07:16] #47910 closed

[2021-04-19 07:29] abattery commented on #48567
Unassigning myself from the micro issue.

[2021-04-19 07:30] Yannik1337 commented on #36510
I found that this is still an issue. Training with four 2080 Ti GPUs crashes with the following error:

[code]

Setting `strategy = tf.distribute.MirroredStrategy(cross_device_ops=tf.distribute.ReductionToOneDevice())` works but slows down training.

Are there any updates on this?

[2021-04-19 07:35] redmlr commented on #48368
This is the main function:
[code]

[code]

[2021-04-19 08:15] nasirml commented on #47174
@duncanriach
It's probably not the BatchNormalization. As a point of reference, InceptionResNetV2 model, which is reproducible in GPU, has BatchNormalization layer (and so does ResNet101).

In case it is helpful, following layers are unique to the EfficientNetB0 in comparison to the InceptionResNetV2:
`Rescaling`
`Normalization`
`ZeroPadding2D`
`DepthwiseConv2D`
`GlobalAveragePooling2D`
`Reshape`

[2021-04-19 08:38] tilakrayal commented on #48568
@prabhakarlad ,

Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status.

Thanks!

[2021-04-19 08:54] jonasrauber opened #48612 "@tf.function triggers "AttributeError: 'Tensor' object has no attribute 'ndim'""
TensorFlow version: `v2.4.0-49-g85c8b2a817f 2.4.1`

**Minimal Example**
[code]

**Describe the current behavior**
[code]

**Describe the expected behavior**
[code]

**This actually works**
[code]

This problem occured in https://github.com/jonasrauber/eagerpy/issues/36

[2021-04-19 09:06] VertexC opened #48613 "Why XLA leads to much more cuMemcpyHtoDAsync calls?"
I did some profiling shows that, for a resnet50 inference task, (V100 batch=64), xla jit will have 5000 more cuMemcpyHtoDAsync calls in average. For some research purpose, I would like to decrease the number of cuMemcpyHtoDAsync calls.

I notice that there is hlo memory scheduler in XLA that might do the same thing as described in Grapper's page: "Memory optimizer - Analyzes the graph to inspect t

[2021-04-19 09:26] tilakrayal commented on #48587
@Fapannen ,

In order to expedite the trouble-shooting process, could you please provide the complete code and dataset  or colab link to reproduce the issue reported here.

Thanks!

[2021-04-19 09:28] UsharaniPagadala commented on #48585
@TomatoBoy90
Could you please fill the issue template

Can you share more details for us to analyse, simple stand alone code to replicate the issue faced or a colab gist with the code and error. Thanks

[2021-04-19 09:34] UsharaniPagadala commented on #48599
@gganduu

This issue is more suitable for TensorFlow Models repo. Could you Please post it on Tensorflow Models repo from [here.](https://github.com/tensorflow/models/issues) Thanks!

[2021-04-19 09:45] Dilshat commented on #720
Is there any light in the tunnel?

[2021-04-19 10:00] rmothukuru commented on #21019
@kbsriram,
Can you please confirm if we can close this issue as the [in-flight PR](https://github.com/tensorflow/tensorflow/pull/21021) and the [PR corresponding to Image OP](https://github.com/tensorflow/tensorflow/pull/25467) has been merged? Thanks!

[2021-04-19 10:03] javierFerreroM commented on #48431
Good morning @Saduf2019 ,

I just tested both versions and in both we encounter the same issue. The project is generated out of the hello_world example using the following command:

`make -f tensorflow/lite/micro/tools/make/Makefile TARGET_ARCH=x86_64 generate_hello_world_make_project`

I used the same model.cc file for the three TF Tiny versions ( I am assuming that the model is not the issue, bu

[2021-04-19 10:04] Hoimar2 commented on #37726
I have another minimal example that is similar to this:

[code]

[2021-04-19 10:07] Saduf2019 commented on #48364
@JeffreyWardman

The error in the gist is self explanatory, Your input layer is incorrect, please refer tot his [link](https://machinelearningmastery.com/reshape-input-data-long-short-term-memory-networks-keras/#:~:text=Tips%20for%20LSTM%20Input,-This%20section%20lists&text=The%20LSTM%20input%20layer%20must,on%20the%20first%20hidden%20layer.) for the correct input shape.

You may refer to this wor

[2021-04-19 10:22] UsharaniPagadala commented on #48602
@hyang0129

Since similar issue is already being tracking in issues [#1110](https://github.com/tensorpack/tensorpack/issues/1110) [,#28788](https://github.com/tensorflow/tensorflow/issues/28788), [#26797](https://github.com/tensorflow/tensorflow/issues/26797), [#29542](https://github.com/tensorflow/tensorflow/issues/29542) .Could you please let us know if it helps.

To avoid duplicates can you ple

[2021-04-19 10:32] bhack commented on #48612
You are in graph mode I think you need something like:
[code]

[2021-04-19 10:44] Fapannen commented on #48587
Hello, sure.

1) Clone [EfficientDet repo](https://github.com/google/automl/tree/master/efficientdet)

2) mkdir <CUSTOM_DIR>
    cd <CUSTOM_DIR>

3) Download and unpack the model
    Concrete model doesnt matter, d1-d7 all have the issue
    wget https://storage.googleapis.com/cloud-tpu-checkpoints/efficientdet/coco/efficientdet-d4.tar.gz

    tar xf efficientdet-d4.tar.gz

4) in <path_to_efficien

[2021-04-19 10:48] victorbocharov commented on #720
@Dilshat  I'm also waiting for. Here is the latest information about packages in Debian (Removed from experimental in 2019-08-27):
https://tracker.debian.org/pkg/tensorflow
https://salsa.debian.org/deeplearning-team/tensorflow/

[2021-04-19 10:58] anshkumar commented on #48590
I've updated tf version to 2.4.1. Tf conversion is working now, but when I try to use INT8 quantization I'm getting error. Here, is my code:
[code]

I'm getting following error:
[code]

[2021-04-19 11:00] prabhakarlad commented on #48568
Hi @tilakrayal,

Similar to above for tflite is there something similar to get dType for onnx and pb models ?

Cheers,
Prabhakar

[2021-04-19 11:08] #48280 closed

[2021-04-19 11:11] bhack commented on #48568
When you a Keras model you can print model input/output dtype. For onnx you need to ask in an onnx repository.

e.g from https://stackoverflow.com/questions/60792775/keras-how-to-check-what-is-the-data-type-expected-in-the-input-layer
[code]

[2021-04-19 11:21] Cerno-b opened #48614 "Connectionist Temporal Classification with Maximum Entropy Regularization (EnCTC)"
**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

There is an extension to CTC (EnCTC) that introduces regularization in order to prevent "peaky" and overly confident distributions typical to CTC.

https://papers.nips.cc/paper/2018/file/e44fea3bec53bcea3b7513ccef5857ac-Paper.

[2021-04-19 11:28] paweller commented on #31312
I have now tried putting the activation function as an additional layer and changing it from `ReLU` to `LeakyReLU`. It solved the memory leak for me as well. I also tried training on a different machine. Here it does not make a difference in performance whether I use `run_eagerly=True` or not. Epoch times stay the same regardless (the model is a small one with only four convolutional, one dense an

[2021-04-19 11:29] Saduf2019 commented on #48608
@benjs
The code shared works on 1.x, please refer to the (does not throw any error)[gist here](https://colab.research.google.com/gist/Saduf2019/efa031a154c8e6d526efe730e892d904/untitled589.ipynb).

You can find same error reported and resolved as mentioned above here:
[link](https://stackoverflow.com/questions/44889187/attributeerror-tensor-object-has-no-attribute-keras-history), [link1](https://g

[2021-04-19 11:36] abattery commented on #48590
Could you try the tf-nightly version or tf 2.5 since we have  improved a better support in the quantization tool?

[2021-04-19 11:37] tilakrayal commented on #48611
@LeopoldACC ,

TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue. Thanks!

[2021-04-19 11:51] anshkumar commented on #48590
I tried using `2.6.0-dev20210419` with `converter.experimental_new_converter = True`, but I'm having following error:
[code]

[2021-04-19 11:53] abattery commented on #48590
Could you also try the conversion with `converter.experimental_new_converter = False`?

Thanks.

[2021-04-19 11:55] abattery commented on #48590
Could you also try out with the `converter.experimental_new_quantizer = False`?

Thanks!

[2021-04-19 12:46] anshkumar commented on #48590
It having following error:
[code]

[2021-04-19 12:51] #48463 closed

[2021-04-19 12:58] JeffreyWardman commented on #48364
@Saduf2019 could you please provide a working gist that works with channels first? That way there is evidence of it working.

[2021-04-19 13:01] jonasrauber commented on #48612
@bhack I am not sure I follow. Of course I can use other ways to achieve the same (see also my shape example), but the issue that I report is that the `ndim` attribute doesn't work in functions decorated with `@tf.function` and it should. Are you saying this is intended behavior? If so, I don't see why.

[2021-04-19 13:03] abattery commented on #48590
Is it possible to share your saved model to us for debugging purpose?

[2021-04-19 13:07] anshkumar commented on #48590
[saved_model](https://drive.google.com/file/d/1fAFdQ0vZY2xQUv1mo-Aw4VAvU-EmcMjf/view?usp=sharing).

[2021-04-19 13:16] dexsr415 commented on #48554
Thank for you replay!

This is my saved model:

https://drive.google.com/drive/folders/1zbQ_tR2QlsZP-doHnfA_BXkgGczYwLBD?usp=sharing

And this is from : https://github.com/tegg89/SRCNN-Tensorflow  (I upgrade it to tf 2.3)

Change the checkpoint in the file and save it as a saved model.

**Below is the code I used to convert**

    import os
    import tensorflow as tf

    trained_checkpoint_prefi

[2021-04-19 13:20] bgcgh commented on #47794
This seems to have been a problem for other people and for quite some time, it is really unfortunate that it still remains unresolved. I apologize that I could not provide more than the model that generates the issue.

Best regards,

bgcgh

________________________________
From: Abhilash Mahendrakar ***@***.***>
Sent: 19 April 2021 08:39:47
To: tensorflow/tensorflow
Cc: Bo Cartling; Mention
Subjec

[2021-04-19 13:23] bhack commented on #48612
Cause `ndim` is in the EagerTensor base class non in the Tensor class:

https://github.com/tensorflow/tensorflow/blob/8ce4ae914b6d2e2b7a324ebca3e9a1e5dfba074a/tensorflow/python/framework/ops.py#L1217

[2021-04-19 13:23] gganduu commented on #48599
@UsharaniPagadala， already posted.

[2021-04-19 13:49] hyang0129 commented on #48602
This is not a duplicate of the issues you mentioned. Those issues deal with GPU hardware accelerators. This issue deals with TPU hardware accelerators.

You can reproduce the issue by running the colab notebook posted above, using TF 2.4.1 and a TPU v2-8.

This issue has not been resolved for TPU systems.

[2021-04-19 13:51] UsharaniPagadala commented on #48599
@gganduu
To avoid duplicates can you please close this and subscribe/follow that issue posted in TensorFlow Models repo ?
Thanks!

[2021-04-19 14:00] legitishan commented on #48396
Hey, can someone close this issue :) (sorry if this sounds mean)

[2021-04-19 14:01] gganduu commented on #48599
Sure, thank @UsharaniPagadala

[2021-04-19 14:01] #48599 closed

[2021-04-19 14:12] amahendrakar commented on #48391
@MinasTyuru,
On running the code with TensorFlow v2.2.0rc4 and 4 GPUs, I did not face any errors. Please check the below screenshot for reference.
![Screenshot 2021-04-19 7 37 44 PM](https://user-images.githubusercontent.com/57165142/115249969-c16f1f80-a146-11eb-809e-dbf6c6530315.png)

In this case, I'd suggest you to update TensorFlow to v2.4.1 or v2.5.0rc1. Thanks!

[2021-04-19 14:19] fredo838 commented on #29877
there's now `tf.data.experimental.save(tf_dataset, path)`, which is what we're all been waiting for I think. You don't need to `tf.io.serialize` the dataset yourself anymore. The current version (at time of writing), still requires you to know the `output_signature` of the `tf.data.Dataset` you're trying to load, but that's no longer needed in the `nightly` build.
current:
https://www.tensorflow.o

[2021-04-19 14:37] cgebbe commented on #48429
@jsimsa and @jayxiaojieshi : Thank you a lot for the support! he last example below is working for me (haven't tested the other ones).

One big question: Is it somehow possible to trigger the Pycharm Debugger instead of PDB? The former one is arguably more convenient...

[2021-04-19 14:44] eagle-dot commented on #44683
I am using UDA 11.2 om windows 10 (GPU: Quadro P2200,) , and have the similar issue. Even after SET TF_XLA_FLAGS=--tf_xla_enable_xla_devices.  My application is the ANPR using easyOCR. The processing time for one license plate is 2+ seconds on CPU. I need to enable GPU for a better performance.

Here is the log. Any advice or tips is appreciated.

021-04-19 09:36:51.937087: I tensorflow/stream_exe

[2021-04-19 14:45] andreselizondo-adestech commented on #48557
I would like to request support for `causal` padding for the new DepthwiseConv1D layer.
Thanks :)

[2021-04-19 14:58] bas-aarts opened #48615 "TF/XLA ignores tf.config set_visible_devices API and initializes all GPUs in the system"
This leads to many superfluous memory allocations, possibly leading to OOM.

Reproduction instructions for the duplicate memory allocations when running with XLA on a multiGPU host.
Use https://github.com/horovod/horovod/blob/master/examples/tensorflow2/tensorflow2_mnist.py as test.py
this test uses the “set_visible_devices” TF API

when running with
TF_XLA_FLAGS="--tf_xla_auto_jit=1 --tf_xla_enab

[2021-04-19 15:09] jsimsa commented on #48429
If PDB works but PyCharm does not, please contact the PyCharm team for help with this.

[2021-04-19 15:33] around-star commented on #48470
@nikitamaia , @fchollet , @bhack I have sent in a [PR](https://github.com/tensorflow/tensorflow/pull/48566) for this issue. Can you please review it ?

[2021-04-19 15:40] Ozzey commented on #20690
So  after changing async to async1 , I am also facing the same problem
"ModuleNotFoundError: No module named '_pywrap_tensorflow_internal'"

Any solution?

Python 3.9.2

[2021-04-19 15:43] Ozzey commented on #20690
So after changing async to async1 , I am also facing the same problem
"ModuleNotFoundError: No module named '_pywrap_tensorflow_internal'"

Any solution?

Python 3.9.2

[2021-04-19 15:52] saikumarchalla commented on #48571
@weiserhase  I tried the same thing colab and i didn't face any errors. Also,  tf.test.is_gpu_available() is deprecated.

 Could you please try with cuda 11.2 and let us know if you are still facing the issue. Thanks!

[2021-04-19 15:58] pranavpsv commented on #48009
Hi @ymodak @mihaimaruseac,

To get TensorFlow S3 writing to work with KMS on our productive system, I patched the TensorFlow C++ source code and built TensorFlow from source.
The GetTransferManager method in the s3_file_system.cc of the TensorFlow Release 2.4 branch was modified as follows:

[code]
The crossposted tensorflow/io issue's conclusion is that S3 support for Server Side Encryption is on

[2021-04-19 15:59] jvishnuvardhan commented on #39651
Closing this issue as this was resolved. Thanks!

[2021-04-19 15:59] #39651 closed

[2021-04-19 16:05] jvishnuvardhan commented on #48127
@reedwm Any insights on the root-cause of the issue? Thanks!

[2021-04-19 16:11] amahendrakar commented on #48544
@farazBhatti,
I am facing errors while convert the model to `.tflite`, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/f0b201b5ba066efd0473be8f43dacd0d/48544.ipynb).

In order to expedite the trouble-shooting process, could you please provide a minimal reproducible code? Alternatively, you can run the code on [Google Colab](https://colab.research.google.com/)

[2021-04-19 16:13] jonasrauber commented on #48612
Yes, that's what I think should be changed ;-)

[2021-04-19 16:22] rmothukuru commented on #21255
@dhingratul,
Can you please respond to the above comment? If the issue is not resolved yet, please refer this [Tensorflow Documentation regarding Custom Op](https://www.tensorflow.org/guide/create_op) and the respective [Github Repository](https://github.com/tensorflow/custom-op). Thanks!

[2021-04-19 16:22] farazBhatti commented on #48544
@amahendrakar , here is the link to keras model converted to .tflite [model](https://drive.google.com/drive/folders/1GR_CJ9JapoLwzzr7gkEwQZA4OewdWc60). please note I was only able to convert using tf-nightly and not stable version of tensorflow2.4.1. ill also share google colab with you in few minutes. thanks

[2021-04-19 16:36] Saduf2019 commented on #48563
@talhaanwarch
Could you please refer to [this link and follow it]( https://www.tensorflow.org/install/gpu)

[2021-04-19 16:38] bhack commented on #48612
It was introduce 3 years ago https://github.com/tensorflow/tensorflow/commit/7da6a83b74f467929032dce95794ef0197d46b20. Probably just for numpy compatibility cause rank it is not implemented for `EagerTensor`:

https://github.com/tensorflow/tensorflow/blob/b7121255625688775e5d582d5bcead68b5650629/tensorflow/python/framework/ops.py#L1131-L1141

[2021-04-19 16:38] MaxxTr commented on #46315
hi @haozha111 @abattery  can you please assist ?

[2021-04-19 16:38] Saduf2019 commented on #48334
@Dragon-GCS
Please provide me with a colab gist with code that replicated the error.

[2021-04-19 16:40] Saduf2019 commented on #48226
@i-bat
is this a duplicate of #48504, if yes please move this to closed status as its already tracked.

[2021-04-19 16:42] Saduf2019 commented on #43502
@jeisinge
Could you please try on latest version of tf and let us know if you still face the same issue.

[2021-04-19 16:42] Fapannen commented on #48587
I have tried converting this with tf-nightly ('2.6.0-dev20210418'), which seems to produce an tflite output. Closing the issue for now.

[2021-04-19 16:42] #48587 closed

[2021-04-19 16:46] Saduf2019 commented on #43433
@PwnerHarry
Could you please check on the latest tf version and let us know if this is still an issue.

[2021-04-19 16:48] farazBhatti commented on #48544
here is the google colab [notebook](https://colab.research.google.com/drive/12sAdJbiXS3w5vy8P75bfFbF6yTdUqK3c?usp=sharing)

[2021-04-19 16:50] Saduf2019 commented on #43631
@maciejwolczyk
I ran the code shared on tf 2.4 and do not see nay error, please refer to the [gist here](https://colab.research.google.com/gist/Saduf2019/92061a2bdbd30749974b6c202f8d5737/untitled589.ipynb).

[2021-04-19 16:58] #48429 closed

[2021-04-19 17:00] ewilderj commented on #48200
cc / @iamtimdavis from product

[2021-04-19 17:00] bhack commented on #48589
/cc  @nikitamaia Assign/Inprogress

[2021-04-19 17:20] jdduke commented on #48426
Hi @ToBigboss . Can you add more details about your deployment environment? In particular:
- What build system are you using for your Android app/deployment?
- Are you already using TFLite via C++ in your app? If so, were you building from source? Or using prebuilt binaries?

A few notes to your equestions:

The NNAPI delegate is only useful with the core TFLite library, so you would need both. Ho

[2021-04-19 17:21] bhack commented on #43433
With nightly is
[code]
so we could close this.

[2021-04-19 17:22] SunilNoct commented on #45285
I had the similar issue. GPU was detected by tensorflow but not used during the prediction (I was using only for the prediction, already have the trained model).

I managed to fix the problem using the following steps:
1. installed cudatoolkit11.0.221 (conda install -c anaconda cudatoolkit)
2.  downloaded **cudnnv8.1.0.77**
3. copy **cudnnv8.1.0.77/bin** to **envs/env_name/Libarary/bin**
4. Rename

[2021-04-19 17:25] talhaanwarch commented on #48563
the os is amazon linux 2, instead of ubunto

[2021-04-19 17:27] SunilNoct commented on #45299
Solved the issue using the configuration mentioned at the following link:

https://github.com/tensorflow/tensorflow/issues/45285#issuecomment-822640988

[2021-04-19 17:28] bhack commented on #48608
isn't ` m = Model(inputs=[x], outputs=mm(x))` ?

[2021-04-19 17:33] Marmotte06 commented on #45888
@tomerk , I now confirm that tfio.experimental.IODataset.from_numpy allows to process much larger numpy arrays than tf.data.Dataset.from_tensor_slices or tf.data.Dataset.from_tensors, thanks a lot for the advise.

A couple of questions:
1. In the tfio doc I see there is also a tfio.v0.IODataset, would you know what's the difference with the experimental version ?
2. In the options for the OneDevic

[2021-04-19 17:39] kbrajwani commented on #47924
Hey @Saduf2019 can you please check following gist where we can reproduce the memory issue. It's working fine if I run a cell in notebook as your gist. But when i run as python file in background it's not releasing memory. Why is taking too much memory to predict and load the model? I don't think it's a correct thing.
https://colab.research.google.com/drive/1QwfH6aXK8vTLuNslP4qcSMh50fT2K1Gt?usp=sh

[2021-04-19 17:55] advaitjain commented on #48516
I'm unsure exactly what state I was in when I saw the errors from the quoted comment.

Contrary to what I said above, restoring the resize_bilinear changes on top of master does not break the bluepill build. This has been confirmed by both me and @patriklaurell.

Additionally, we have #48619 that should prevent the Xtensa build from being broken.

We will still port over resize_bilinear is smaller

[2021-04-19 18:08] aaudiber commented on #48500
In TF 2.4 the trace viewer will show information about autotuning as well as the current buffer size. Is it possible to update to a newer version?

[2021-04-19 18:08] #48295 closed

[2021-04-19 18:39] Saduf2019 commented on #48364
@JeffreyWardman
Please find your code modified [here](https://colab.research.google.com/gist/Saduf2019/fb9b8e9c34562dc63e0746ae2b1ca3ea/untitled589.ipynb) for any further queries kindly open a stackoverflow issue.

[2021-04-19 19:13] ikram-hamizi commented on #38613
My answer is not related to your issue since you used Sequential. But this could be helpful to others.

I got the same error when I used the Keras functional API. _I **named both my NN outputs and my training set `x`** by mistake._

So the trainset **`x`** was overwritten by the NN output **`x`** which made it of type:
`tensorflow.python.keras.engine.keras_tensor.KerasTensor`

and resulted in this

[2021-04-19 19:24] #48516 closed

[2021-04-19 19:30] impjdi commented on #48523
Nah, that's just the stage when you create the model.  There's another mode for the actual runtime.  Given that you use:

[code]

which is implemented as

[code]

which takes the default values:

[code]

I think it's running at FP16 mode.  If you set `precisionLossAllowed` to `false` and the problem is gone, that means that your model is not numerically stable enough to be run at FP16.

[2021-04-19 19:44] dhingratul commented on #21255
Wow, it's been 2 years, I don't think I have the reproducer anymore to verify that, although from what I remember i was able to resolve this back then. Feel free to close it, we can re-open this if I come across this again. Thanks.

[2021-04-19 19:44] #21255 closed

[2021-04-19 19:46] dhingratul commented on #20532
I was able to hack around it back then, I am sure it works now with Keras APIs, as i have been using it in another context.

[2021-04-19 19:46] #20532 closed

[2021-04-19 19:54] jonasrauber commented on #48612
In the end it boils down to this: the API should be consistent, so that the same code works with and without `@tf.function`.

[2021-04-19 20:01] Orpheus23 commented on #12001
Here are two sample ones that do some of it, the first doesn't compile on TPU it does work on CPU
[code]
 The second compiles also on TPU and works well on CPU but doesn't train on TPU
[code]
If any solutions found do update thanks!

[2021-04-19 20:04] roberthajdu92 commented on #44787
Exactly the same issue here. Any findings?

[2021-04-19 20:08] #48239 closed

[2021-04-19 20:34] qlzh727 commented on #48066
Thanks for reporting the issue. I wasn't able to access the data file you are using in the colab.

Having said that, the mobilenet v3 include the preprocessing logic in the model and was expecting the input data to be ranged from [0, 255]. Since I can't access your data file, I can't tell whether you logic in inception_preprocess is correct (it seems to make the data ranged from [-255, 255], assum

[2021-04-19 21:08] #48277 closed

[2021-04-19 21:09] haozha111 commented on #46315
This might be caused by various reasons (converted graph is invalid, input is not set correctly). One way to debug this is to dump the internal node's results and see where the problem may happen. You can insert some print statement here:
https://github.com/tensorflow/tensorflow/blob/43c1ea6eed787254c814f2b2eb00bebf8d5b19df/tensorflow/lite/core/subgraph.cc#L1095

This will allow you to see the res

[2021-04-19 21:22] Fabian-Ket commented on #48523
I already tried with:

[code]

also tried to play around with:

[code]

Nothing changed I still get demo_classXX: [NaN, NaN, NaN, NaN]

[2021-04-19 21:22] abattery commented on #46315
Or you can try the following option for your case.
`converter._experimental_lower_tensor_list_ops = False`

[2021-04-19 22:05] weiserhase commented on #48571
I think there were leftover pieces from another cuda install because after mannualy deleting all cuda files
The Installation of Cuda 11.3 crashed it again but if you use a fresh cuda 11.2 installation it worked constantly.
Thank you for the hint @saikumarchalla

[2021-04-19 22:06] #48571 closed

[2021-04-19 22:50] bhack commented on #48612
But in Graph execution _rank could be `None`. Do you want to handle ndim `None` in the graph case?
https://github.com/tensorflow/tensorflow/blob/906c8d5c5b9dbd930b0c2d41c0fe8650b746b1cf/tensorflow/python/framework/ops.py#L548-L554

https://github.com/tensorflow/tensorflow/blob/906c8d5c5b9dbd930b0c2d41c0fe8650b746b1cf/tensorflow/python/framework/ops.py#L308-L316

[2021-04-19 22:52] hyang0129 commented on #48602
@UsharaniPagadala this is not a duplicate issue. This is specific to TPU hardware accelerators. Also, those issues that you listed have been resolved, but we still get the error above in TF 2.4.1 on a TPU.

[2021-04-19 23:23] bkirwi commented on #47804
Hrm, actually, turns out I am _not_ able to use the fused LSTM... it causes an unacceptable accuracy loss for my problem. (In the example I'm testing out now, the error rate goes from ~0.13 to ~0.30 when I fix the input shape.)

Is that a known issue? If not, happy to open another issue... seems unrelated to the quadratic complexity.

[2021-04-19 23:41] abattery commented on #47804
You can try flex tensor list op instead with the recent tf nightly version.

[code]

[2021-04-19 23:54] michaelyhuang23 opened #48624 "tf.ragged.stack doesn't work for multidimensional tensors"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-04-19 23:57] renjie-liu commented on #47804
TFLite fused LSTM is stateful, so you will need to call `reset_all_variables`: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/interpreter.py#L847-L848

between each innovation.

[2021-04-19 23:58] jgorham commented on #25563
hey @ebrevdo , I'm also having issues when trying to fully quantize a (keras) LSTM to int8. I'm running code like the following:
[code]
and seeing this in response:
[code]
is this a known issue? fwiw, if i comment out the lines relevant to quantization, the convert call is successful.

[2021-04-20 00:33] bkirwi commented on #47804
Yes, can confirm I'm doing this correctly. (Error rate is closer to 0.7-0.8 without it.)

I have not tried this! Will report back.

[2021-04-20 01:27] bkirwi commented on #47804
Hmm, no appreciable difference unfortunately.

[code]

Is that the right usage?

If it matters for the optimization: my actual model is a stack of multiple bidirectional LSTM layers, followed by a softmax and CTC-decode. Can share code if folks are interested!

[2021-04-20 01:29] abattery commented on #47804
I would test this with disabling lowering tensor list ops like the following example:

[code]

[2021-04-20 01:52] wenwu-glagle opened #48627 "Change "Simple Audio Recognition" to right link"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**

The link of "Simple Audio Recognition" in  tensorflow/lite/micro/examples/micro_speech/train/README.md is not righ

[2021-04-20 02:18] HRania commented on #48603
I did some research and unfortunately I wasn't able to install TF2.5 on the raspberry. so , I tried with the TF 2.4 version and I am still getting the same error.

[2021-04-20 02:20] abattery commented on #48603
TF 2.4 does not support resource types. You need to install TF 2.5 or beyonds. Please refer to the following document to install TensorFlow version on your board:

https://www.tensorflow.org/install/pip#3.-install-the-tensorflow-pip-package

[2021-04-20 02:25] abattery commented on #48603
Also, as I said earlier, please make sure the `tf.lite.Interpreter` instead of `tflite_runtime.interpreter.Interpreter` in the TF 2.5 or beyonds.

[2021-04-20 02:40] abattery commented on #48554
Looks like the signature in the attached saved model does not have any outputs. Could you create a saved model with the signature, which has valid output signature information as well and try again?

[2021-04-20 02:49] abattery commented on #48590
I confirmed that TF -> TFL legalization does work correctly. We can consider this issue as a TF MOT issue.

[2021-04-20 02:50] abattery commented on #48590
@liufengdb could you triage this TFMOT issue?

[2021-04-20 03:06] Puppeteer-HML opened #48629 "Tesla V100 is slower than GTX 1660 super!?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8
- CUDA/cuDNN version: CUDA 11.0, cuDNN 8.0.4
- GPU model and memory: Tesla V100S-16Q / GTX 1660 super 8G

Recently I'm working on a detection project. The network I'm using is efficient

[2021-04-20 03:12] abattery commented on #48590
If there are If or While ops in the graph, the only weights-only quantization will work. We can consider this as a feature request for broader multiple subgraph support in the model optimization toolkit.

[2021-04-20 04:26] bkirwi commented on #47804
Ah, apologies, I misunderstood... thanks! Performance is improved in that case but still quadratic. I've updated the notebook:
https://colab.research.google.com/drive/1APyFWSL3ln5gZFEotw_5wwUDpaSJrzD-

[2021-04-20 04:27] kevint324 commented on #48613
I assume those extra memory transfers are related to JIT optimization and they would only run once during the first warmup run.
After the first batch there should be less memory transfers.

[2021-04-20 04:28] abattery commented on #47804
The new performance graph looks like a linear graph.

[2021-04-20 04:31] sanjoy commented on #48545
Hi,

We expect this to be a non-issue once we're using the CUDA malloc async allocator by default.  Can you give it a try?  You can enable it by adding `TF_GPU_ALLOCATOR=cuda_malloc_async` to the environment.

[2021-04-20 04:36] kevint324 opened #48630 "TPU ops are compiled by default despite of if_libtpu or if_with_tpu_support configurations"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): UBUNTU18
- Mobile device (e.g.

[2021-04-20 04:46] Saduf2019 commented on #48608
@benjs
Please move this issue to closed status as its resolved.

[2021-04-20 05:04] epsilon11101 opened #48631 "model_main.py"
I trained a model with TensorFlow object detection API (TF1) with model_main script but when the model finish training returns me a export/Servo/save_model.pb, when I run the export_inference_graph.py script returns me the frozen graph but when I run object_detection_runner the model doesn't detect anything, ( but when I trained the model with train.py script it detects everything)

Config:
Model:

[2021-04-20 05:19] Hemanthkumar2112 commented on #48364
i have done some changes with the gist

[2021-04-20 05:33] VertexC commented on #48613
@kevint324 Greate thanks for the hint. I just tried and result did show that most memory transfers happends at first warmup run.

Just out of curiousity, do you have any idea why XLA Jit optimization need so many memory transfers?

[2021-04-20 05:33] sanjoy commented on #48520
I'm not a TFRecord expert, but I can't easily see how this will work reading the TFRecord [spec](https://www.tensorflow.org/tutorials/load_data/tfrecord#tfrecords_format_details).

Can you more explicitly state what you're proposing?  Are you suggesting to create a new format that is like TFRecord, but is formatted differently?

[2021-04-20 06:09] kevint324 commented on #48613
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/compiler/xla/service

There are quite some hlo and llo optimization passes during the XLA setup stage.

[2021-04-20 06:18] Flamefire commented on #48500
I am using TF 2.4.1. Where do I have to look for that information?
The only place I've seen is when selecting an op/event in the trace viewer but that is unsuitable to see how the buffer size (e.g.) changes, as selecting dozens or hundreds of such events and manually check for changes is unfeasible.

[2021-04-20 06:20] weiserhase commented on #48571
I sadly have to reopen the issue because i noticed that it just seemed to fix the problem
I just downloaded the Example Model provided by the example but they fail aswell as it turned out.
Same Issue all over again.

[2021-04-20 06:23] joonb14 commented on #9489
In my case with rtx3070 & tensorflow 2.4.1,
below code worked for me

`physical_devices = tf.config.experimental.list_physical_devices('GPU')
assert len(physical_devices) > 0, "Not enough GPU hardware devices available"
config = tf.config.experimental.set_memory_growth(physical_devices[0], True)`

[2021-04-20 06:27] Saduf2019 commented on #43904
I am able to replicate this issue on tf 2.5 , please find the [gist here](
https://colab.research.google.com/gist/Saduf2019/ff2ac41c5a428e86d6e834c44767599c/untitled589.ipynb)

[2021-04-20 06:30] Saduf2019 commented on #43764
@RomanGirin
Could you please provide access to the colab gist so we could verify if this is fixed in later tf versions or could you please confirm if this is still an issue on latest tf version.

[2021-04-20 06:35] sandeep22-v opened #48632 "TF to TFLite conversion clarification"
**What is  the difference between

converter.target_spec.supported_ops =[tf.lite.OpsSet.TFLITE_BUILTINS_INT8]

and

converter.target_spec.supported_ops =[tf.lite.OpsSet.TFLITE_BUILTINS]

performed during conversion of tf model to tflite model??**

I tried using converter.target_spec.supported_ops in 3 ways :
1.  using
converter.target_spec.supported_ops =[tf.lite.OpsSet.TFLITE_BUILTINS]

2. using

[2021-04-20 06:37] sanjoy commented on #47964
TF by default tries to preallocate all memory on the device.  Does setting [`set_memory_growth`](https://www.tensorflow.org/api_docs/python/tf/config/experimental/set_memory_growth) to `true` help?

[2021-04-20 06:39] sanjoy commented on #48146
@jbaiocchi knows this better.

[2021-04-20 06:42] abattery commented on #48632
@liufengdb could you triage this issue?

[2021-04-20 06:42] saikumarchalla commented on #48609
Was able to reproduce the issue in TF 2.4.1 and nightly versions. Please find the gist here. Thanks!

[2021-04-20 06:45] sanjoy commented on #48015
Can you use `DeviceFactory::AddDevices`?

[2021-04-20 06:53] VertexC commented on #48613
@kevint324 Thanks! I'll take a look into it.

[2021-04-20 06:53] #48613 closed

[2021-04-20 06:55] MaxxTr commented on #46315
Thank you very much for proposals and answers. I will debug it :-)

[2021-04-20 07:34] cgebbe commented on #48429
One last question: Can you explain why the parameter nosigint=True is necessary?

Based on the explanation from https://docs.python.org/3/library/pdb.html#pdb.Pdb, it seems to have something to do with Pressing Ctrl+C, so nothing necessary for the task at hand.

However, without it, I get the following error:
[code]

[2021-04-20 07:43] Duynguyen0897 commented on #48556
Thank for your help!
I converted to .jpeg format and everything was fine

[2021-04-20 07:44] sandeep22-v commented on #48632
Sure sir...
I was converting a custom trained pb model to an 8 bit integer quantized tflite model.
That's where the question arose in my mind about this line :
converter.target_spec.supported_ops

Although I experimented with it and generated multiple tflite models,all of them were identical .
Also I cam across an article which stated that :

**type_choice['none'] = None**
**# for converter.target

[2021-04-20 08:19] AdityaKane2001 commented on #48556
Please close the issue if the query is resolved.
Thanks

[2021-04-20 08:20] jonasrauber commented on #48612
Yes. If you want, you could still raise an `AttributeError`, but only selectively if `ndim` is actually unknown.

It doesn't make sense to delegate this to downstream code / libraries. Imho, they should have to care as little as possible about whether the code is eventually wrapped by `@tf.function` or not.

[2021-04-20 08:28] Saduf2019 commented on #44505
We see a 403 error on nightly [2.6.0-dev20210419], please find the [gist here](https://colab.research.google.com/gist/Saduf2019/3ec3ad6b49999b76ffc07a9a74a95ea4/untitled589.ipynb)

[2021-04-20 08:30] yakovdan commented on #48307
So, I've verified `ruy::ScopedSuppressDenormals suppress_denormals;` is in interpreter.cc on line 289.
I've also added a print to stdout before this line to verify that it's exectued. The code now reads:

[code]

after compling the source ,building the pip package and pip installing it, the execution now results in the following:

@jianlijianli Please assist.

[2021-04-20 08:43] micosacak commented on #48513
Thanks for your help, I will check the tutorial as well.

[2021-04-20 08:43] #48513 closed

[2021-04-20 08:43] #48448 closed

[2021-04-20 08:45] RomanGirin commented on #43764
I had the error more than a half of year ago!
I'm sorry but the only code I have left for the case is provided above in this issue

[2021-04-20 09:05] Saduf2019 commented on #48478
@axelning
I ran with out "tf.compat.v1.disable_eager_execution() " and no error popped up, please find [gist here](https://colab.research.google.com/gist/Saduf2019/0497ab113346b00090f50ae5dbeeaa02/untitled589.ipynb)

[2021-04-20 09:08] #48319 closed

[2021-04-20 09:27] rmothukuru commented on #48607
@alanvgreen,
Can you please confirm if we can close this issue as [the respective PR](https://github.com/tensorflow/tensorflow/pull/48594) has been merged? Thanks!

[2021-04-20 09:47] rmothukuru commented on #47642
@jeongukjae,
Closing the issue as [the PR](https://github.com/tensorflow/tensorflow/pull/47645) has been merged. Thanks!

[2021-04-20 09:47] #47642 closed

[2021-04-20 09:49] benjs commented on #48608
Isn't it a bug, that `keras.utils.plot_model` cannot plot such models?

[2021-04-20 09:52] #48608 closed

[2021-04-20 10:34] apdullahyayik commented on #37543
Just update the callbacks for the second fit, issue goes away

[2021-04-20 10:39] Rabahjamal opened #48635 "How to call tf.compat.v1 from the C++ API?"
I have a frozen graph that was frozen in TensorFlow v1 from the python API, and I want to load it using TensorFlow v2.4 from the C++ API using something like tf.compat.v1 in python. I can do it in python with this script:
[code]
But I didn't find any related document to do the same from the C++ API.

[2021-04-20 10:55] lgeiger commented on #47193
Just for reference it looks like a similar issue has been reported in https://github.com/tensorflow/model-optimization/issues/635

And it seems like #48580 might fix this issue, but the PR is still waiting for review.

[2021-04-20 11:01] tilakrayal commented on #48568
@prabhakarlad ,

[2021-04-20 11:04] tilakrayal commented on #48568
@prabhakarlad ,

 Please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status and for new issues please submit new issue from [this link ](https://github.com/tensorflow/models/issues/new/choose)and fill in the template, so that we can track the issue there.

Thanks!

[2021-04-20 11:07] steemandlinux commented on #36465
[code]
Working nice with AMD.

[2021-04-20 11:41] roberthajdu92 commented on #44787
I managed to work. Here are some info:

https://stackoverflow.com/questions/54716143/how-to-read-output-from-tensorflow-model-in-java

Also the output map look like this, if you wanna make efficientdet(d0) tflite to work:

    detectionScores = new float[1][100];
    detectionMulticlassScores = new float[1][100][60];
    rawDetectionBoxes = new float[1][49104][4];
    detectionBoxes = new float[1]

[2021-04-20 11:48] noppelmax commented on #47393
So the only possibility to check whether a tensor is a scalar or not is a `try-except`?

[2021-04-20 11:53] pitocms opened #48636 "ERROR: Could not find a version that satisfies the requirement tensorflow for MAC m1"
**System information**
-MacBook Air (M1, 2020)
-version 11.2
-python version 3.8.2
-pip version 21.0.1

**Describe the problem**

I am trying to install tensorflow by below command
`pip install tensorflow
`
and getting below

error

**ERROR: Could not find a version that satisfies the requirement tensorflow
ERROR: No matching distribution found for tensorflow**

This is my all attempts log:

[code

[2021-04-20 12:15] sandeep22-v opened #48637 "TFlite to 8 bit quantized TFLite conversion"
I have a TFLite model with me sans any pb model and it is operating on float32 (all the parameters including weights,biases and activaions).
I need to get the 8 bit integer quantized version of this.
Is there any way in which I can convert TFlite model to 8 bit quantized TFLite model without having pb file of it??

[2021-04-20 12:26] rmothukuru commented on #23316
@pesser,
Can you please let us know if we can close this issue, as the **`Placeholders`** are not relevant in **`Tensorflow Versions, 2.x`**? Thanks!

[2021-04-20 12:29] rmothukuru commented on #23564
@MorganR,
Can you please let us know if it is still an issue and if we can close this? Thanks!

[2021-04-20 12:30] jsimsa commented on #48429
1) When running in debug mode, for technical reasons, tf.data executes user-defined functions using a background thread.
2) The implementation of `pdb.set_trace()` uses `signal`, which as per the error message is not supported in the main thread. Either Python 3.8 removed the use of `signal` in `pdb` or added support for `signal` in background threads.

[2021-04-20 12:40] #47841 closed

[2021-04-20 13:23] AIspeakeryhl opened #48638 "delete the eager execution check for shared_embedding_columns_v2"
at the line 901 of tensorflow/tensorflow/python/feature_column/feature_column_v2.py:
we have a eager execution  check:
if context.executing_eagerly():
    raise RuntimeError('shared_embedding_columns are not supported when eager '
                       'execution is enabled.')
but it shouldn't check because it's a tf2.X code and it use eager execution at default

[2021-04-20 13:27] AdityaKane2001 commented on #48638
@Alspeakeryhl
Yes, it is true that TF has eager execution on by default. But many models in production or production testing environments do not use eager mode, they use graph mode. Thus, to tell the user that the aforementioned function cannot be used under such conditions, we raise the `RuntimeError`.

[2021-04-20 13:42] kbsriram commented on #21019
@rmothukuru - great! Thanks for checking, I'll go ahead and close it.

[2021-04-20 13:42] #21019 closed

[2021-04-20 13:44] Zhuxinpei opened #48639 "Is there any offical way of freezing graph to pb in Tensorflow2"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2021-04-20 13:50] tilakrayal commented on #48631
@epsilon11101 ,

This issue is more suitable for TensorFlow Models repo. Please post it on Tensorflow Models repo from [here](https://github.com/tensorflow/models/issues/new/choose). Thanks!

[2021-04-20 13:56] GatGit12 commented on #48545
Hi,

could you please clarify with which TF version and CUDA version i can/should try this option?

A quick search in this repo revealed that at least CUDA 11.2 is required:
https://github.com/tensorflow/tensorflow/blob/926817c9ee822fe0f382248ea95f8f54c882d4bd/tensorflow/core/common_runtime/gpu/gpu_cudamallocasync_allocator.h#L44
But TF 2.4.0/2.4.1 is only built for CUDA 11.0 (https://www.tensorfl

[2021-04-20 14:09] nikitamaia commented on #48279
So that message means that an optimization failed and your model training might run slower. I don't know that it would cause a nan loss though. A few questions:
- Do you still have the nan loss if you use a different optimizer?
- Can you also provide a screenshot of the logs for your full example?
- are you scaling your batch size by the number of replicas? `global_batch_size = per_replica_batch_s

[2021-04-20 14:18] anshkumar commented on #48590
There are `if` and `for` loops in the code. I've shared the code in the question above. I don't know how to replace these for loops. I can use `tf.map_fn` but I guess that won't work with tflite. Any suggestions? I need to do batch NMS.

[2021-04-20 14:21] ymodak commented on #48376
`ndarray` wrapper is removed intentionally with TF 2.5.0-rc1
See commit [0b9ff2e](https://github.com/tensorflow/tensorflow/commit/0b9ff2eb1a097602206c6b29823543768bfb34fe#diff-ff9428d2d7e920852bc429bd4ffd46ae182d27730a55d16d31d34a5d21d38ac6)

[2021-04-20 14:23] nikitamaia commented on #48439
Hi @Mullich123, can you please make sure that your code is fully formatted? Copy and pasting unformatted code can lead to lots of errors and makes it more difficult for us to reproduce and debug the issue. Thanks!

Also, please try running your code with `tf.distribute.get_strategy()` instead of `MultiWorkerMirroredStrategy` and let me know what happens.

[2021-04-20 14:32] nikitamaia commented on #48374
Unfortunately, I don't have much context on tf-recommenders so your best bet is to wait until someone in that repo gets a chance to take a look. But one thing to check that can help determine if the issue is with the `tf.distribute.Strategy` API is to see what happens when you use `tf.distribute.get_strategy()`, instead of `MirroredStrategy` or `MultiWorkerMirroredStrategy`, which implements the t

[2021-04-20 14:41] saikumarchalla commented on #48624
@michaelyhuang23  I tried to reproduce the issue with 2 dimensional matrix and it is working fine  but  when i tried with 3  dimensional matrix, getting the same error as mentioned.

Was able to reproduce the issue with TF 2.4.1 and tf-nightly version as well. Thanks!

[2021-04-20 14:41] ymodak commented on #48305
`tf.shape` method gives dynamic shape of tensor which fails when tuple unpacking is triggered.
`.shape` method provides static shape of tensor in the form of tuples.

[2021-04-20 14:48] hoondy commented on #42606
I have a similar issue in 2.4.1. I have custom layers bundled as a dict. Works fine on CPU but crashes on GPU.

./tensorflow/core/util/gpu_launch_config.h:129] Check failed: work_element_count > 0 (0 vs. 0)

Any workaround?

[2021-04-20 14:53] innat opened #48640 "Tensorflow after 1.15 - No need to install tensorflow-gpu package"
This is basically an info question that was asked by [mon](https://stackoverflow.com/users/4281353/mon) in SO and we answered as far as we know, [here](https://stackoverflow.com/a/67088947/9215780).

In the official `tf` installation guide in documentation, it says,

pip install tensorflow==1.15      # CPU
pip install tensorflow-gpu==1.15  # GPU

And for later version, e.g `tf : > = 2.0`, we simpl

[2021-04-20 14:53] innat opened #48641 "[TF.Keras]: plotting utilities"
The plot function is defined as follows

[code]

Following features would be nice (IMO) to have with it:
- Plot subgroup (e.g. form layer index 5 to 20 or by layer's name) of `model`. For example: if we plot `EfficientNet`, this plot utils will plot the whole model from first to last. But let's say for some reason we manipulate intermediate block from `layer_id: 10` to `layer_id:30` and want to ch

[2021-04-20 15:08] Mullich123 commented on #48439
Wonderful, it runs normally with tf.distribute.get_strategy()!!!!!!So why it is?
My code is completely from the official tutorial:Multi-worker training with Keras.
I make it just by change 'strategy = tf.distribute.experimental.MultiWorkerMirroredStrategy()'
to 'strategy = tf.distribute.get_strategy()'.

[2021-04-20 15:09] amahendrakar commented on #48602
@ymodak,
I was able to reproduce the error with [TF v2.4.1](https://colab.research.google.com/gist/amahendrakar/1bd46aca07368f2057087de77774cbe7/48602.ipynb#scrollTo=CXtFIzZ0zD9s).

Whereas, with [TF v2.5.0rc1](https://colab.research.google.com/gist/amahendrakar/6fc93724ae3b0f5836684ecbe8ad308e/48602-2-5.ipynb#scrollTo=CXtFIzZ0zD9s) and TF-nightly, the error changes to
[code]

Please check the lin

[2021-04-20 15:12] KaleabTessera commented on #31173
Any workarounds or updates?

[2021-04-20 15:23] fvollmer commented on #48282
@liufengdb Seems to work fine. I can't reproduce the problem anymore. Thanks!

[2021-04-20 15:23] #48282 closed

[2021-04-20 15:31] micosacak opened #48643 "Why the same model has different behaviours? One requires training = True, the other one not?"
I have Unet model used to train 2 different datasets; one with input_shape = (128,128,1) and the other with input_shape = (128,128,3). After training, model1 does not require training = True, while model2 requires training = True for image segmentation. Why is this happening even I am using the same settings except the input_shapes are different? You can find the model [here](https://github.com/te

[2021-04-20 15:33] amahendrakar commented on #48579
@jocelynbaduria,
Although, I do not have access to a GCP project, I was able to export the model to the local storage without any issues.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/c69ed74c7b2906ca0436478cddbf4023/48579.ipynb#scrollTo=Yn8hEAHiXaE7&line=1&uniqifier=1). Thanks!

[2021-04-20 15:39] rschumi0 opened #48644 "AveragePooling3D does not support float64 and produces confusing error message"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-rc4-71-g582c8d236cb 2.4.0
- Python version: 3.8.5

**Description**
AveragePooling3D and MaxPool3D layer don't seem to support float64, i.e. they don't work with `tf.keras.backend.set_floatx('float64')`

[2021-04-20 15:41] hyang0129 commented on #48602
If anyone has a quick fix for this please let me know ASAP. I've got a deadline to hit and the latest I could start training on imagenet and get results in time would be end of April. For now, I'm substituting the dilated convs with non dilated convs.

[2021-04-20 15:46] amahendrakar commented on #48560
@hogbal,
Could you please run the below code snippet and share the results with us
[code]

Also, take a look at the TensorFlow profiling tool [link #1](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras), [link #2](https://www.tensorflow.org/guide/profiler#gpu_kernel_stats) and let us know if it helps. Thanks!

[2021-04-20 16:02] nikitamaia commented on #48439
`get_strategy()` is the default strategy. It implements the `tf.distribute.Strategy` interface but is a pass-through and provides no actual distribution. I was curious to see the results with this strategy because it helps to isolate where the issue is. If you can reformat your code so that it's properly indented, etc, I can try to reproduce the error on my end to help you debug.

[2021-04-20 16:15] rschumi0 opened #48646 "ReLU layer wrong result with negative threshold"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-rc4-71-g582c8d236cb 2.4.0
- Python version: 3.8.5

**Describe the current behavior**
The [ReLu](https://www.tensorflow.org/api_docs/python/tf/keras/layers/ReLU) layer seems to have an issue with negati

[2021-04-20 16:17] AdityaKane2001 commented on #48643
@micosacak
Hello again. can you provide a reproducible notebook for this?
Thanks

[2021-04-20 16:20] AdityaKane2001 commented on #48643
@micosacak
Hello again. Can you please share a reproducible notebook?

[2021-04-20 16:27] pesser commented on #23316
The issue persists with recent versions and `tf.compat.v1` but it can be closed from my side since I'm not relying on it.

[2021-04-20 16:34] Mullich123 commented on #48439
Well, I swear I do reformat my code and it looks normal with indentations in edit window.But it comes out like above.

[2021-04-20 16:36] nikitamaia commented on #48439
Can you put it in a colab notebook?

[2021-04-20 16:36] rschumi0 opened #48647 "Softmax layer unexpected behaviour for axis=0"
### Description:
The [Softmax layer](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Softmax) returns all ones when axis=0 is used. Perhaps this behaviour is not wrong, but it is really confusing since it is not what the user would expect from this layer.
It would make sense to better explain in the documentation how the axis are numbered, especially since both negative and positive num

[2021-04-20 16:41] ebrevdo commented on #25563
@liufengdb is our TFLite post-training-quantization expert so I've asked him to answer these questions.

[2021-04-20 16:53] rchao commented on #47099
Investigation into this shows that this is because Progbar doesn't have the correct stateful metrics information. Will work on a fix for this. Thanks for your patience.

[2021-04-20 16:53] jbaiocchi commented on #48146
Please note that there's no official C++ API for programmatic profiling in TF2.

Your code is enabling TF1 profiling capabilities in session->Run() by setting a trace level in RunOptions passed. Don't do that to avoid conflicts with the TF2 profiler.

Do not use CreateGpuTracer() as it is not a public API. It is a factory function for instantiating the GPU tracer, which is a plugin to ProfilerSess

[2021-04-20 16:57] liufengdb commented on #48632
The 'converter.target_spec.supported_ops' is just the inference the tflite converter exposed to the end users, and internally this flag will be used to specify some parameters to the backend for whether "allowing" floating-point ops in a quantized model and whether "allowing" flex ops, etc. "Allowing" certain ops doesn't necessarily mean the ops will be used. The converter will still try its best

[2021-04-20 17:08] UsharaniPagadala commented on #48449
@yananchen1989

Could you please confirm if the issue is resolved? if yes, please feel free to move this issue to closed status.Thanks

[2021-04-20 17:08] #48332 closed

[2021-04-20 17:09] liufengdb commented on #25563
Hi Jackson, just want to confirm that you are using the latest tf version 2.4. (Your stack shows you are still using old converter).

[2021-04-20 17:10] UsharaniPagadala commented on #48466
@lugalUrim

Could you please confirm if the issue is resolved? if yes, please feel free to move this issue to closed status.

[2021-04-20 17:16] LesLuger commented on #24828
So one should reinstall using the nvidia installer?

[2021-04-20 17:18] UsharaniPagadala commented on #48487
@lucacampanella

Could you please confirm if the issue is resolved? if yes, please feel free to move this issue to closed status.

[2021-04-20 17:20] UsharaniPagadala commented on #48498
@DabiaoMa

Could you please confirm if the issue is resolved? if yes, please feel free to move this issue to closed status.
--

[2021-04-20 17:23] lucacampanella commented on #48487
Hi @UsharaniPagadala ,
I don't really know why this issue was referenced in number #48546 , they seem totally unrelated to me.

The current **issue is not resolved**, I was just waiting for some feedback from @teijeong , who was kind enough to reply to my first message and asked for more code :)

[2021-04-20 17:43] amahendrakar commented on #36054
@Korsar13,
This this still an issue?

Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-04-20 17:45] amahendrakar commented on #33975
@Flamefire,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v.2.4.1 and let us know if you are facing the same error. Thanks!

[2021-04-20 17:50] amahendrakar commented on #32997
@Kramax,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-04-20 18:07] Flamefire commented on #33975
Yes, even for 2.4.1 we still need to patch using https://github.com/easybuilders/easybuild-easyconfigs/blob/develop/easybuild/easyconfigs/t/TensorFlow/TensorFlow-2.1.0_fix-cuda-build.patch

[2021-04-20 18:38] LesLuger commented on #20690
how do you open the file to edit?

[2021-04-20 18:42] #48470 closed

[2021-04-20 19:39] micosacak commented on #48643
Sorry, unfortunately I cannot. In case you need any further information from the models, please let me know.

As I wrote, the models summary are above.

If I do not provide training = True for model1, it still performs segmentation as good as if provide training = True.
However, the model2 does not show any segmentation, if do not provide training = True.

While both models have all options simila

[2021-04-20 19:55] szutenberg commented on #48644
Hi @rschumi0 ,

I don't think we have an issue here. Both messages are informative. On TF 2.4.0 I'm getting:
[code]

Let's have a look at the code:
- [AvgPool3D](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/nn_ops.cc#L716-L724) is registered also for `T=double` (which is float64)
- [MaxPool3D](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/nn_o

[2021-04-20 19:57] arunraja-hub opened #48649 "tf.data.experimental.save"
My GIT version and tf.version: unknown, 2.2.0

**Describe the current behavior**
I am trying to use [tf.data.experimental.save ](https://www.tensorflow.org/api_docs/python/tf/data/experimental/save)to save a tf Dataset
**Describe the expected behavior**
Expected behaviour is that the dataset should be saved
**Standalone code to reproduce the issue**
The code is very simple:
[code]
The error I got

[2021-04-20 20:10] ricvo commented on #47099
@rchao thanks for looking into this. Could you please tell in your opinion what the Progbar displayed metric values are at the moment?

[2021-04-20 20:17] deeepwin opened #48650 "Cannot allocate tf_uniform_replay_buffer to GPU - No registered 'ResourceScatterUpdate' OpKernel for 'GPU' devices compatible with node"
**System information**

tensorflow 2.4.1
tf-agents 0.7.1
Nvidia RTX 2080 Ti
Windows 10
Python 3.8

**Describe the current behavior**

I am trying to run the TFUniformReplayBuffer on the GPU based on the example outlined here:

[https://pathtopioneer.com/blog/2020/07/rl-3](https://pathtopioneer.com/blog/2020/07/rl-3)

When adding device='/device:CPU:0' to the initalisation of the replay buffer ever

[2021-04-20 20:23] Gaasmann opened #48652 "bug while running bazel build"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Debian Sid
- TensorFlow installed from (source or binary): source r2.5
- TensorFlow version: r2.5
- Python version: 3.9
- Installed using virtualenv? pip? conda?: pip from the system (python3-pip) no venv
- Bazel version (if compiling from source): 3.7.2  (using bazelisk)
- GCC/Compiler version (if compiling fr

[2021-04-20 20:27] abattery commented on #48449
You can try out tf 2.5 versions since they are under the rc version and it will be released soon.

[2021-04-20 20:40] #48103 closed

[2021-04-20 20:55] Gaasmann commented on #48652
Adding @chsigg as that [page](https://chromium.googlesource.com/external/github.com/tensorflow/tensorflow/+/e07069218c39cbfc4bbad79fc50c83d64b0546af%5E%21/third_party/nccl/build_defs.bzl.tpl) seems to declare him as the author of that piece of code.

[2021-04-20 21:08] #48071 closed

[2021-04-20 21:08] #43916 closed

[2021-04-20 21:13] qlzh727 commented on #42046
I think it is likely to be a keras issue. In the for any input feed to keras, we will try to expand it to 2D tensor if the input is 1D. In this case, the x was having a shape [2,] in the direct call(), and expand to [2, 1] when fit(). The hub layer was expecting a vector input, and raise error when the input rank doesn't match its expectation.

I don't think we could change the keras behavior, sin

[2021-04-20 21:18] qlzh727 commented on #43745
@tomerk, the docstring was updated in https://github.com/tensorflow/tensorflow/commit/229cbce4caa531b9f9695e98b38909dfeed234aa. Could we make it bit explicit for what limitation it could have?

[2021-04-20 21:21] jvishnuvardhan commented on #47924
@kbrajwani Can you please run the code by enabling `tf.config.experimental.set_memory_growth` as shown below. Please check the [TF page](https://www.tensorflow.org/api_docs/python/tf/config/experimental/set_memory_growth) for more information.

[code]

Also, can you try Keras under TF. Instead of importing keras as `import keras`, can you try importing as `from tensorflow import keras`.

Please le

[2021-04-20 21:22] bhack commented on #43745
It could be nice if we explain why we have this current limitation and if we want any contribution on this specific topic.

[2021-04-20 21:24] bhack commented on #42046
I meant exactly this and it is why I think it could be by an operational point of view a TF hub ticket as here we are quite constrained.

[2021-04-20 21:52] szutenberg commented on #48646
That's how "ReLU" looks like if we obey
[code]
![image](https://user-images.githubusercontent.com/37601244/115468201-07091680-a233-11eb-9567-796d263a6ad5.png)

It does not look like "**Re**ctified **L**inear **U**nit anymore so I think it's no point to fix it and I recommend modifying the docs. (https://github.com/tensorflow/tensorflow/pull/48654)

[2021-04-20 22:25] abattery commented on #48637
Please refer to https://www.tensorflow.org/lite/performance/post_training_quantization#full_integer_quantization

[2021-04-20 22:49] jgorham commented on #25563
thanks @ebrevdo !

yes, @liufengdb , i tried both `2.4.0` and `2.4.1`. is there an easy to force my local package to use the new converter?

[2021-04-20 22:49] szutenberg commented on #48647
[code]

You do normalization along axis = 0 (first dimension which is 1) so you get `exp(x)/exp(x) = 1`.

By default, softmax does normalization along the last dimension (axis = -1).

I recommend [Introduction to Tensors - About shapes](https://www.tensorflow.org/guide/tensor?hl=en#about_shapes). Please send PR if it can be improved.

[2021-04-20 23:40] duncanriach commented on #47174
Thanks for digging deeper, @nasirml; that's very helpful.

It is possible the the model architectures are using BatchNormalization differently. If BatchNormalization is configured for [fine-tuning](https://github.com/NVIDIA/framework-determinism/blob/master/tensorflow_status.md#fused-batch-norm), then it would introduce nondeterminism. I have yet to clarify (and document) the configuration mapping

[2021-04-20 23:54] nikitamaia commented on #48279
Quick update, looks like you should not encounter this ScopedAllocator issue with TF 2.5.
Can you try your code with 2.5 or nightly?

[2021-04-20 23:55] jsimsa commented on #43905
TLDR: `prefetch_to_device` works as expected, when the data produced by the input pipeline is allocated in [pinned host memory](https://developer.nvidia.com/blog/how-optimize-data-transfers-cuda-cc/).

I have recently investigated this issue.

First, to compare `copy_to_device` and `prefetch_to_device` performance, I have modified the original repro as follows:

[code]

Using this program I have c

[2021-04-20 23:56] jsimsa commented on #35563
Please see https://github.com/tensorflow/tensorflow/issues/43905.

[2021-04-20 23:57] jsimsa commented on #31616
Please see https://github.com/tensorflow/tensorflow/issues/43905#issuecomment-823675760

[2021-04-20 23:58] jsimsa commented on #20628
Please see https://github.com/tensorflow/tensorflow/issues/43905#issuecomment-823675760

[2021-04-21 00:25] jianlijianli commented on #48307
Hi yakovdan, thanks for the update and sorry for the delay.

And thanks for confirming the ruy version is updated in your environment. We looked deeper into the model and found the culprit. The conv (node id 9; after the first "split") in basic_tflite.tflite has inputs that are extremely small (e.g. -1.1937661617583117e-41), which caused large scales in full_quant.tflite. When the model runs on th

[2021-04-21 00:25] reedwm commented on #48127
I cannot reproduce, either on TF 2.4 or the latest tf-nightly. I did use different GPUs (I tried both a Titan V and an A100), which could explain it.

I tried running the first program in the original post with the following commands on TF 2.4.1:

[code]

On a Titan V: In the former case (fp32), I get 54ms/step for the second epoch. In the latter case (fp16), I get 53ms/step.

@leondgarse, can you

[2021-04-21 01:04] xlnwel commented on #35662
I've managed to build TF2.4. Thanks

[2021-04-21 01:04] #35662 closed

[2021-04-21 01:12] kevint324 commented on #33360
I got the same error on tf2.4
It seems the bug is still there.

[2021-04-21 01:42] leondgarse commented on #48127
Yes, yes, the commands are right, and I just noticed TF is actually loading `CUDA 11.0`, but my `nvidia-smi` is reporting `CUDA 11.2`. It's also `CUDA 11.0` I actually installed...
[code]

I just noticed when the lag happens, the CPU usage is very low `<50%`, and GPU usage is very high `>90%`.
[code]
![Selection_340](https://user-images.githubusercontent.com/5744524/115483738-ee751c80-a283-11eb-8c

[2021-04-21 01:50] Jianbing-D commented on #43905
So the conclusion is:
`prefetch_to_device` actually works, but it needs be to used with `map().batch()` to get better performance? <br>

And where can I get such information? From TensorFlow source code?

[2021-04-21 01:54] axelning commented on #48478
I ran the gist and got
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-1-8d086c4bccef> in <module>()
      8 optimizer='rmsprop',
      9 metrics=['accuracy'])
---> 10 model._make_train_function()

AttributeError: 'Sequential' object has no attribute '_make_train_function'

[2021-04-21 02:23] hogbal commented on #48560
@amahendrakar
The result of that code is shown below.
<pre>
INFO:tensorflow:Enabling eager execution
INFO:tensorflow:Enabling v2 tensorshape
INFO:tensorflow:Enabling resource variables
INFO:tensorflow:Enabling tensor equality
INFO:tensorflow:Enabling control flow v2
Num GPUs Available:  1
</pre>

After using the TensorFlow profiling tool, I will share the results :)

[2021-04-21 03:06] XXZhou25 commented on #33951
Same question. Will you update this feature?

[2021-04-21 03:06] #47099 closed

[2021-04-21 03:21] atptour2017 commented on #48538
Thanks!
So I checkout r2.4 but could not find build_all_linux.sh in this branch. The similar folder is tensorflow/tensorflow/lite/tools/make. This folder has download_dependencies.sh inside. But I do not know how to build the code. I need to build out protobuf header files and c++ source files and others as I want to use tensorflow in C++.
When I checkout r2.0 the tensorflow\tensorflow\contrib\mak

[2021-04-21 03:48] kbrajwani commented on #47924
@jvishnuvardhan I have tried both things you can check [gist ](https://colab.research.google.com/drive/1QwfH6aXK8vTLuNslP4qcSMh50fT2K1Gt?usp=sharing) but it doesn't work.

[2021-04-21 03:49] lugalUrim commented on #48466
Thanks. I will close the issue.

[2021-04-21 03:49] #48466 closed

[2021-04-21 04:06] deeb02 commented on #47493
Hi @hfahrudin,
I took a look at the PR you submitted. Upon looking again at the math, it does seem that the existing implementation provides a minimum/final learning rate, but it's defined as a fraction of the initial learning rate (not as the actual final learning rate).
Another point that struck me, is that your PR changes the calculation (whereas I initially though it would just add an optional

[2021-04-21 04:06] #47493 closed

[2021-04-21 04:23] hfahrudin commented on #47493
@deeb02 Thanks for the review. I would keep it in mind in the future

[2021-04-21 04:33] AdityaKane2001 commented on #48649
@arunraja-hub
Can you please share a reproducible sample code? Thanks

[2021-04-21 04:37] StarWang commented on #48204
@Saduf2019 @ymodak Can you help look at this request? Thanks

[2021-04-21 04:43] Mullich123 commented on #48439
Sorry,I ...... don’t know how to use colab notebook.Here is my code:
[unet_code.zip](https://github.com/tensorflow/tensorflow/files/6348057/unet_code.zip)

[2021-04-21 04:46] AdityaKane2001 commented on #48646
Can we do
` f(x) =   negative_slope * (x - threshold) + threshold `

This will work for the general case as `f(x) .= x for x = threshold`

[2021-04-21 05:04] arunraja-hub commented on #48649
@AdityaKane2001 I have updated the code above

[2021-04-21 05:06] AdityaKane2001 commented on #48649
@arunraja-hub
Thanks

[2021-04-21 06:00] xbbkok commented on #42738
same problem

[2021-04-21 06:06] RobertChenKFC opened #48657 "How to Modify and Debug the TFLiteConverter"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installation (pip package or built from source): built from source
- TensorFlow library (version, if pip package or github SHA, if built from source): 0d1805aede03d25aa9d49adcef6903535fa5ad14

### 2. Code

Modify `tensorflow/compiler/mlir/lite/tests/end2end/add.pbtxt` to [this](https://d

[2021-04-21 06:33] abattery commented on #48657
We don't recommend using `tf_tfl_translate` and that is not an official TensorFlow API.  Please use the TFLiteConverter API instead. Please refer to https://www.tensorflow.org/lite/performance/post_training_quantization for the quantization.

[2021-04-21 06:35] abattery commented on #48657
For the pbtxt conversion, please use this path for your case. https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/lite/TFLiteConverter#from_frozen_graph

[2021-04-21 06:54] AdityaKane2001 commented on #48646
@szutenberg
Also, there's something more weird going on with `tf.nn.relu` function. Here's how it works:
[code]

According to your graph the (1,1) entry should be -0.5.

[2021-04-21 07:01] RobertChenKFC commented on #48657
Thanks for the help. I do know how to convert to `.tflite` models using the `TFLiteConverter`, but my problem was how I could add an MLIR pass to the converter such that I can modify and test the pass without rebuilding TensorFlow entirely just to use the python API. My attempt was to use `tf_tfl_translate`, but unfortunately it failed at performing full-integer quantization. I was wondering if it

[2021-04-21 07:34] rmothukuru commented on #24364
@mileslucas,
Can you please refer the documentation of [tf.linalg.LinearOperatorBlockDiag](https://www.tensorflow.org/api_docs/python/tf/linalg/LinearOperatorBlockDiag) and check if this is what you are looking for? Thanks!

[2021-04-21 07:36] rmothukuru commented on #24393
@Oceania2018,
Can you please respond to the above comment? Thanks!

[2021-04-21 07:37] tilakrayal commented on #48636
@pitocms ,

Please refer to similar issues #44615, #47365, #47205, #46817,  #46506 and [link](https://stackoverflow.com/questions/48720833/could-not-find-a-version-that-satisfies-the-requirement-tensorflow). It helps.

Thanks!

[2021-04-21 07:54] rmothukuru commented on #24559
@MlWoo,
Sorry for the delayed response. [This comment](https://github.com/tensorflow/tensorflow/pull/25025#issuecomment-473283030) from the PR states:

Also, no one from the Developer Community seems to be interested in this feature. Can you please confirm if we can close this issue? Thanks!

[2021-04-21 07:58] rmothukuru commented on #24571
@nikhil-dev,
Can you please confirm if we can close this issue as your problem has been resolved with [this comment](https://github.com/tensorflow/tensorflow/issues/24571#issuecomment-454113321)? Thanks!

[2021-04-21 08:02] kaushalyap commented on #42065
For me just adding following line from [this comment](https://github.com/tensorflow/tensorflow/issues/42114#issuecomment-671593386) fixed the issue.

`   converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS]`

I am using `tensorflow~=2.4.1`

[2021-04-21 08:07] Dragon-GCS commented on #48334
Here is the simplified code:
[code]

[2021-04-21 08:11] rmothukuru commented on #24738
@dchatterjee172,
Above comment has almost answered your question but you can also take a look at [Mixed_Precision](https://www.tensorflow.org/guide/mixed_precision) which helps us to switch between **`Float32`** and **`Float16`**, for **`Faster Training`**. Thanks!

[2021-04-21 08:15] rmothukuru commented on #24881
@shoubhik,
Please refer the documentation of [Quantization Spec](https://www.tensorflow.org/lite/performance/quantization_spec) and [Post Training Quantization](https://www.tensorflow.org/lite/performance/post_training_quantization#representation_for_quantized_tensors) which has a mention about Support for **`per Channel Quantized Ops`**. Thanks!

[2021-04-21 08:28] blackyang opened #48660 "Why enforcing "Make sure all arrays contain the same number of samples.""
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-04-21 08:29] ricvo commented on #47366
related issue https://github.com/tensorflow/tensorflow/issues/47099 has been closed, could you check if the present issue is solved too on the new commit by @rchao?

[2021-04-21 08:32] UsharaniPagadala commented on #48649
@arunraja-hub

I ran the code shared on tf 2.4, tf nightly and did not get any error, please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/7e6cfa94cb1b955a8c2f1e8fc9808b73/-48649.ipynb) here

[2021-04-21 08:32] abattery commented on #48657
Quantizer is a part of TF Python API. It looks hard to achieve that.

[2021-04-21 08:36] TheEnigmist opened #48661 "tf.data.Dataset from_generator w/ keras.utils.Sequence doesn't trigger on_epoch_end"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8
- CUDA/cuDNN version: 11.0 / 8.0.4
- GPU model and memory: RTX 3070

**Describe the current behavior**
I created a class from `tf.keras.util.Sequence` with `on_epoch_end()` function with a print inside it. Then I created a `tf.data.Datas

[2021-04-21 08:51] ricvo commented on #46713
@ssomers it's true the problem seems to be in the Progbar

Related issue https://github.com/tensorflow/tensorflow/issues/47099 has been closed, could you check if the present issue is solved too on the new commit 979c5093da6238eae2f137e2f5538cf6373c4c02?

[2021-04-21 08:56] leondgarse commented on #48127
Updated and tested using `tf-nightly 2.6.0-dev20210420` and `tensorflow 2.5.0-rc1` with `cuda 11.2.2-1` + `cudnn 8.1.1.33` + `nvidia-driver 465.19.01`. No luck, same situation...

[2021-04-21 09:07] krenerd commented on #46702
This issue happened to me in TF 2.4.1. The following line took 10+ minutes to complete, while there were only 1,500 images in the directory. Although the images were 4K and the size of the data was around 50GB, it doesn't seem reasonable to take a such long time.
[code]

[2021-04-21 09:08] #48287 closed

[2021-04-21 09:36] tilakrayal commented on #48639
@Zhuxinpei ,

Can you please refer to this [link](https://stackoverflow.com/questions/58119155/freezing-graph-to-pb-in-tensorflow2) for similiar issue.

Thanks!

[2021-04-21 09:38] RocaVincent opened #48662 "Gradient penalty with mixed precision training"
**System information**
- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
I haven't found a way to implement a stable gradient penalty with mixed precision. I think it comes from the use of second order gradient (the penalty is computed inside the overall loss GradientTape context). Whether I scale t

[2021-04-21 09:45] Zhuxinpei commented on #48639
I have tried all ways from that link but the pb from .h5 was not simillar to the pb in TF1 especially when I built custom model.

[2021-04-21 09:47] alexartwww opened #48663 "RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.2 LTS focal (kernel 5.4.0-70-generic)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): source
- TensorFlow version: r2.3 tag
- Python version: Python 3.8.5
- Installed using virtualenv? pip? conda?: pip
- Ba

[2021-04-21 10:13] ssomers commented on #46713
The fresh [tf-nightly 2.6.0.dev20210421](https://pypi.org/project/tf-nightly/) doesn't help for this issue, but I can't find which commit this is built on (and meanwhile it seems the Windows wheels have disappeared). Going over to trying to build tf myself.

[2021-04-21 10:24] npanpaliya opened #48664 "Eigen update needed to fix tensorflow build failure on ppc64le"
Request to update Eigen in TF to https://gitlab.com/libeigen/eigen/-/commit/06c2760bd1139711eeffa30266ead43423891698
to fix compilation issue on ppc64le.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux CentOS 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): sour

[2021-04-21 10:33] AndyMcPython commented on #42738
here too

[2021-04-21 10:50] RobertChenKFC commented on #48657
Okay, so does this mean that if I want to add an MLIR pass to the `TFLiteConverter` and test it, I must rebuild the TensorFlow pip package entirely?

[2021-04-21 10:59] GuichardVictor opened #48665 "Keras experimental preprocessing layers with random seed does not yield the same results after a few call"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Tested on Linux Ubuntu 18.04 and Google Colab
- TensorFlow version (use command below): 2.4.1
- Python version: Tested on Python 3.6.12 and Python 3.7.10
- CUDA/cuDNN version: Tested on cuda 11.1 and cuda 11.2
- GPU model and memory: gtx TITAN V / Tesla T4 (for colab)

**Describe the current behavior**

Creating two

[2021-04-21 11:01] FelixOpolka commented on #24364
If I am not mistaken, unlike `scipy.linalg.block_diag`, `tf.linalg.LinearOperatorBlockDiag` does not support non-square sub-matrices.

[2021-04-21 11:01] #48593 closed

[2021-04-21 11:03] abattery commented on #48657
The Bazel build environment supports only required build targets and also builds the necessary stuffs for the TFLite converter.

[2021-04-21 11:10] rmothukuru commented on #25050
@john81923,
Can you please confirm if the issue is still relevant? You can refer the [Tensorflow Documentation for Second Order Differentiation ](https://www.tensorflow.org/guide/advanced_autodiff). Thanks!

[2021-04-21 11:21] rmothukuru commented on #25339
@mayou36,
Sorry for the delayed response. Your code could be run without any error in the **`Tensorflow Version 1.15.2`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/477abf7964ce7c71691ea425107c0052/gh_25339.ipynb) of the working code. Thanks!

[2021-04-21 11:22] aiXia121 commented on #22963
have you resovled it ? thx, i met the same problem

[2021-04-21 11:32] rmothukuru commented on #25391
@darthdeus,
I ran your code in `Google Colab` and in `Jupyter Notebook` in `Linux` Machine and I could see the error,

Please find the [Gist of the Google Colab](https://colab.research.google.com/gist/rmothukuru/bb4173404c62ce4b3cf5784dc7afb1b4/gh_25391.ipynb).

Can you please confirm if we can close this issue as the expected Error is being raised? Thanks!

[2021-04-21 11:38] mayou36 commented on #25339
Hi no worries, many thanks!

[2021-04-21 11:38] #25339 closed

[2021-04-21 11:42] jaydu1 commented on #22963
I think even if we are using the eager mode, we can build the model by passing an input tensor to the model (i.e., a forward pass). After the model is fully built, hopefully, we can call the `summary` function.

[2021-04-21 11:47] Oceania2018 commented on #24393
It’s been resolved.

[2021-04-21 11:47] #24393 closed

[2021-04-21 11:50] mansnils opened #48668 "Missing support for Ethos-U for FVP target"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source): d73d688687e48a29f06c84404f9817876e4b6325
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): FVP (cortex_m_corstone_300)

**Describe the problem**
For the FVP (cortex_m_corstone_300) there is n

[2021-04-21 12:08] #48359 closed

[2021-04-21 12:11] RobertChenKFC commented on #48657
Just to make sure, do I run `bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package` and let bazel figure out what should be rebuilt every time I modify my MLIR pass, or is there another target that just builds the `TFLiteConverter`?

[2021-04-21 12:20] worknotalent opened #48670 "SavedModel file does not exist at"
Cannot load model whereas it does exist at the specified location.

I'm using tf.keras.models.load_model(PATH_TO_FILE) to do so, like it's explained [here](https://www.tensorflow.org/tutorials/keras/save_and_load#savedmodel_format), but it keeps on throwing:

Traceback (most recent call last):
  File "C:\Rasp\project\main.py", line 37, in <module>
    model = tf.keras.models.load_model(PATH_TO_FIL

[2021-04-21 12:24] tilakrayal commented on #48643
@micosacak ,

I ran the mentioned code and face a different error, please find the [gist](https://colab.research.google.com/gist/tilakrayal/4d573c4a63339374c695689009e72e85/untitled48643.ipynb) here. To replicate the issue can you please provide the Tensorflow verion,dependencies or colab gist with the reported error.

Thanks!

[2021-04-21 12:26] AdityaKane2001 commented on #48660
@blackyang
Please take a look at #48256 . I have explained why this is the case. Please close this issue if your query is resolved.
Thanks.

[2021-04-21 12:55] ibreschi commented on #48146
@jbaiocchi
Many thanks for your reply!

I had the feeling that I was not using something meant to be used officially, but I looked for a C++ profiling API everywhere and I did not found any. I'm open to any suggestion on how to profile my GPU programmatically in C++ with something more suitable.

Thanks for the suggestion of using the ProfilerSession, it cleaned my code a bit, but  the issue is st

[2021-04-21 13:04] abattery commented on #48657
It is possible to create a Python program under the bazel development env., by depending on the //tensorflow/lite/python:lite build target.

[2021-04-21 13:06] worknotalent commented on #48670
I needed to target to wrapping folder, not the file.

[2021-04-21 13:08] #48326 closed

[2021-04-21 13:12] bmmo opened #48671 "TFLite produces bogus results on GPU when setPrecisionLossAllowed(true)"
### 1. System information

- OS Platform and Distribution: Android 10
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.4.0

### 2. Code

I am using a FC-DenseNet model trained with PyTorch, then converted to ONNX, Tensorflow .pb and finally TFLite.
Original torch code is here: https://github.com/

[2021-04-21 13:19] tilakrayal commented on #48639
@Zhuxinpei ,

In order to reproduce the issue reported here, could you please provide Tensorflow version,the complete code and the dataset you are using. Thanks!

[2021-04-21 13:24] Zhuxinpei commented on #48639
Tensorflow-2.3.0. Sorry for no code and data cause the issue was asked for the code of freezing graph to pb.

[2021-04-21 13:45] shivtejshete commented on #41380
What did you do then to solve it then? any suggestion

[2021-04-21 13:47] solisqq commented on #41380
Just rename "checkpoint" directory to "cp" for example (remember to change paths in pipeline.config).

[2021-04-21 13:49] pearcemc commented on #44529
I ran into a very similar issue under tf 2.4.1. Workflow is fine for float32, but float64 raises this error described:

https://colab.research.google.com/drive/1yS1bSIG_ygL4_vhXhjnMyqrvJf57cxYU?usp=sharing

[2021-04-21 13:56] ymodak commented on #48388
Did you try converting your model using [tf.experimental.tensorrt.Converter()](https://www.tensorflow.org/api_docs/python/tf/experimental/tensorrt/Converter)?

[2021-04-21 14:18] shanmukh05 commented on #48670
@worknotalent Can you share the code? It will be helpful to see where the error is occurring.
Thanks

[2021-04-21 14:27] XXZhou25 opened #48672 "Efficient upsampling 3D Volume with linear interpolation options"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tensorflow2.0
- Are you willing to contribute it (Yes/No):

[2021-04-21 14:31] elad-c opened #48673 "load_model fails for certain keras.layers.Add configurations"
**System information**
Python version: 3.7
TF 2.3 version: v2.3.0-54-gfcc4b966f1 2.3.1
TF 2.4 version: v2.4.0-49-g85c8b2a817f 2.4.1
TF-nightly version: v1.12.1-55314-g6a872f41130 2.6.0-dev20210421

**Describe the current behavior**
It's possible to create and infer model with Add layer (or OpLambdaLayer-Add) that adds the input to a constant, either with the constant as first input or the last. I

[2021-04-21 14:37] dwyatte commented on #42046
Agree it might be nice to have something in `hub.KerasLayer` or the next version of the relevant TensorFlow Hub SavedModels that currently expect 1D inputs (not sure if limited to Universal Sentence Encoder or there are others) to automatically handle this.

@bhack @qlzh727 would it be appropriate to simply amend the docs of [tf.keras.Model.fit](https://www.tensorflow.org/api_docs/python/tf/keras/

[2021-04-21 14:40] mansnils commented on #42626
Is it so that we are moving away from TF_LITE_REPORT_ERROR() in TFLM and instead use GetMicroErrorReporter() and MicroPrintf() more and more? It seems so far GetMicroErrorReporter() is mostly used in kernel tests.
Assuming it would be used for all logging in TFLM, would it make sense to add a log level for it?
So that specific error prints could have an error prefix.

[2021-04-21 14:46] jbaiocchi commented on #48146
The memory allocation events are not generated by CUPTI but by BFCAllocator::AddTraceMe. Is that code executed?
https://github.com/tensorflow/tensorflow/blob/ccee426384468b152aba22e1a9f9a3fd2f92bf00/tensorflow/core/common_runtime/bfc_allocator.cc

[2021-04-21 14:54] xhochy commented on #48113
Probably the necessary information needed here is how to build the correct Bazel compiler toolchain. You can have a look at https://github.com/conda-forge/tensorflow-feedstock/blob/40db5f43756877bea9e0dd2685cd5683b6527904/recipe/gen-bazel-toolchain.sh#L1 how we did this for conda-forge.

[2021-04-21 15:06] micosacak commented on #48643
@tilakrayal
you can generate a test input as: `test_input = tf.random.normal([1,100])`.

What I do not understand and I do not how it happened, the same model have 2 behaviors. Model1 performs image segmentation either set `training = True` or not. But Model2 only performs prediction correctly only if `training = True`.

you can see the models summary above. I also checked the `saved_model.pb` and

[2021-04-21 15:14] micosacak commented on #48643
@tilakrayal
setting `training = True` is a big problem for me, as I want to use the trained model in Java. That is why finding a way to set `training = True` after training would make it easier to use these models in Java. As you can see [here](https://github.com/tensorflow/java/issues/284), I can not use these models in tensorflow/java directly as I have to find out a way to `feed` a scalar boole

[2021-04-21 15:17] jsimsa commented on #43905
`prefetch_to_device` works when the data produced by the input pipeline is allocated in pinned host memory. `map().batch()` is currently the option to achieve this through tf.data. This is not documented anywhere and is a subtle implementation detail: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/data/experimental/map_and_batch_dataset_op.cc#L517

I plan to investiga

[2021-04-21 15:20] patriklaurell commented on #46721
@angsiokcheng @marconi1964 @zyang498 I don't know if this is still relevant for you but I just uploaded PR #48659 . It updates the micro_speech mbed generation. It should enable you to compile the micro_speech example for STM32F746, if you follow the instructions in tensorflow/lite/micro/examples/micro_speech/README.md. The instructions on developer.arm.com that you posted above have not been upda

[2021-04-21 15:30] ibreschi commented on #48146
Yes it's executed.

[2021-04-21 15:53] jbaiocchi commented on #48146
I think the other bug in your code is that you are looking for the events in the GPU side instead of the host side, try:
[code]
It would be better to directly call ConvertXSpaceToMemoryProfileJson:
https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/tensorflow/core/profiler/convert/xplane_to_memory_profile.cc

[2021-04-21 15:56] saikumarchalla commented on #48650
@deeepwin  I can able to reproduce the issue using GPU for TF 2.4.1 where as the issue is fixed in tf-nightly version. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/6c1e5b1a5eed9755998c7b3ed30c7485/untitled64.ipynb). Thanks!

[2021-04-21 15:56] #47908 closed

[2021-04-21 16:01] Saduf2019 commented on #48665
@GuichardVictor
I ran your code on latest version of tf [2.6.0-dev20210421], this seems to have been fixed, please refer to [the gist and confirm](https://colab.research.google.com/gist/Saduf2019/faf2b60aedbbc8cc391d94a458583619/untitled589.ipynb)

[2021-04-21 16:02] impjdi commented on #48407
Sorry for the late turnaround.  Have a lot of things on my plate.

That's a quite disappointing news; I suspected things to be slow on those end, but maybe there is more to it.  Do you have the adb log?

[2021-04-21 16:10] Saduf2019 commented on #48129
I ran the code on tf nightly and upto seven decimals the values match, please refer to the [gist here](https://colab.research.google.com/gist/Saduf2019/806ee04ea749c79669a33384b22e3e01/untitled591.ipynb)

[2021-04-21 16:12] YannPourcenoux opened #48675 "TFLite bug: RuntimeError: tensorflow/lite/kernels/conv.cc:329 input->dims->size != 4 (3 != 4)Node number 0 (CONV_2D) failed to prepare."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 LTS
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: Python 3.6.9 :: Anaconda, Inc.

**Describe the current beh

[2021-04-21 16:28] ymodak commented on #48670
Try using `hub.load()` to [load](https://www.tensorflow.org/hub/api_docs/python/hub/load) models from TF Hub.
See [gist](https://colab.research.google.com/gist/ymodak/304c5d8adad525a7da868cf5f61ce602/untitled17.ipynb) that explains the usage.

[2021-04-21 16:28] dails08 commented on #39550
I'm having a similar NotFoundError issue with the ComputeBatchSize op.  @rxsang , can you elaborate on how to make sure the coordinator and worker have the same tf version?

[2021-04-21 16:33] advaitjain commented on #42626
Yes, we do want to use MicroPrintf and GetMicroErrorReporter for all logging in TFLM. We can certainly consider adding a log level there, though my hope is that before we go down the path of implementing our own embedded logging library, we also take a look at other options (such as https://pigweed.dev/pw_log/).

Such an investigation is not something that we have currently planned so I am not exp

[2021-04-21 16:36] ggproRIC opened #48676 "can not install tensorflow"
import tensorflow as tf
Traceback (most recent call last):

  File "C:\Users\Home\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)

  File "<ipython-input-13-64156d691fe5>", line 1, in <module>
    import tensorflow as tf

  File "C:\Users\Home\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 24, in

[2021-04-21 16:45] bjkomer commented on #48235
For my specific case this has been resolved. There is still the related issue of the error message not being very helpful and inconsistent behaviour of the original model and restored model when `model.fit` is called. That could be treated as a separate issue though.

[2021-04-21 16:45] #48235 closed

[2021-04-21 16:51] AdityaKane2001 commented on #48557
@bhack
Myself and @around-star have some code ready. Unfortunately, we are not able to build it multiple times due to limited resources. Thus, it is has become quite difficult to debug. Can you suggest some solution?

[2021-04-21 16:52] ibreschi commented on #48146
Tried this, unfortunately it does not work, I have the same result.

I dont think I can because it was introduced in a later version of TF, I use 2.3.2.

[2021-04-21 16:54] sanjoy commented on #48629
This is unusual.  Can you grab a profile using the [TensorBoard profiler](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras) to see if anything jumps out?

[2021-04-21 16:54] reedwm commented on #48127
@nluehr can you take a look? I do not have access to any cards with compute capability 7.5

Unrelated to this issue, but the problem is you need CUDA 11.2. @sanjoy can we improve the error message if the wrong version of CUDA is used?

[2021-04-21 16:56] bhack commented on #48557
We are working on this at https://github.com/tensorflow/tensorflow/pull/48421

In the meantime If you can complete the first build the with this param it will easier with the next builds if you don't resync too much you branch with master: https://docs.bazel.build/versions/master/remote-caching.html#disk-cache

[2021-04-21 17:08] #48362 closed

[2021-04-21 17:14] jbaiocchi commented on #48146
The memory profiler was added in 2.3 so you should have the necessary pieces.
More debugging tips:
- Make sure you are not disabling TraceMe (host_tracer_level in ProfilerOptions should be at least 2)
- Make sure the TraceMe's in BFCAllocator::AddTraceMe are actually executed while ProfilerSession is active.
- Debug ConvertXPlaneToMemoryProfile to see why it doesn't find the events (are the events

[2021-04-21 17:25] saikumarchalla commented on #48660
@blackyang  We call fit(), which will train the model by slicing the data into "batches" of size batch_size, and repeatedly iterating over the entire dataset for a given number of epochs. so, it is not possible to train on different sized datasets that go into a single model.

Hope that  clarifies your question. Thanks!

[2021-04-21 17:40] liufengdb commented on #48552
Can you try the following code?
[code]

[2021-04-21 17:43] liufengdb commented on #48548
Can you try the tf-nightly and using the following flags:
[code]

[2021-04-21 17:45] rchao commented on #47099
@ricvo it would basically average the metric across batches, which is incorrect for stateful metrics like "AddAllOnes" used in the example repro.

[2021-04-21 17:45] prabhakarlad commented on #48568
Thank you for the pointers @bhack

[2021-04-21 17:45] #48568 closed

[2021-04-21 17:46] impjdi commented on #48407
I ran your full network (`tflite_model_not_quant.tflite`) on a Pixel 4:

CPU: 38.018285ms
GPU: 5.6015285ms

AFAIK Pixel 4 has Qualcomm Snapdragon 855 & Adreno 640.  So I don't think it's the delegate or the model.

I'm not familiar with the `label_image` thing.  How is the inference engine used?  It should look like:

[code]

[2021-04-21 17:47] rchao commented on #47366
@ricvo very likely so. If you find that the original issue is still not fixed after using a nightly build (that has the fix), please comment. Thanks!

[2021-04-21 17:55] prabhakarlad opened #48677 "Input and output tensor of .pb file"
Hi,

I have been trying to get the input and output tensor dtype for a pb model.
[code]

when I use the above code and compare against the output of summarize_graph utility there seems to be a mismatch. So my query is graph_def.node[0] is always input and graph_def.node[-1] is output ?

Cheers,
Prabhakar

[2021-04-21 17:58] deeb02 commented on #47493
Absolutely. Thank you for trying to make Keras better!
Keep looking for things that need to be improved!

[2021-04-21 18:02] maximgeller opened #48678 "Skipping timesteps with ConvLSTM2D layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux RHEL 7.9
- TensorFlow installed from: binary
- TensorFlow version: 2.0.0 and 2.2.0
- Python version: 3.6.13

**Describe the current behavior**
I am working with 2D data with a variable number of timesteps, so I

[2021-04-21 18:15] liufengdb commented on #48497
David, there are fake quant ops are inserted between the conv and relu. looks like this is a bug of the QAT api.

[2021-04-21 18:16] qlzh727 commented on #48504
Thanks for reporting the issue. Please https://github.com/tensorflow/tensorflow/pull/48542#issuecomment-824258134 for more updates. #48542 should fix the issue.

[2021-04-21 18:17] qlzh727 commented on #48226
Thanks for reporting the issue. Please https://github.com/tensorflow/tensorflow/pull/48542#issuecomment-824258134 for more updates. #48542 should fix the issue.

[2021-04-21 18:17] qlzh727 commented on #48066
Thanks for reporting the issue. Please https://github.com/tensorflow/tensorflow/pull/48542#issuecomment-824258134 for more updates. #48542 should fix the issue.

[2021-04-21 18:25] amahendrakar commented on #48368
@redmlr,
You have defined the functions but are not calling them anywhere. On calling the main() function, I am facing an error stating `NameError: name 'load_json_into_lists' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3ebad085a7493cce8c3d154feb0d8de6/48368.ipynb#scrollTo=jDObUjkfolzd).

Could you please provide the complete code along wi

[2021-04-21 18:26] liufengdb commented on #48675
Hi Yann, can you help me and upload the converted model when only `[tf.lite.OpsSet.TFLITE_BUILTINS]` is used?

[2021-04-21 18:28] amahendrakar commented on #47794
@bgcgh,
Closing the issue for now. Please feel free to re-open if you can share a reproducible code with us. Thanks!

[2021-04-21 18:28] #47794 closed

[2021-04-21 18:48] jvishnuvardhan commented on #47366
@asterisk37n As mentioned by @rchao and @ricvo, this was resolved with recent `tf-nightly`. Please check the [gist here]().

Old output (with `TF2.4.1`)

[code]

New output (with `tf-nightly`)

[code]

Please verify once and close the issue. Thanks!

[2021-04-21 18:51] amahendrakar commented on #48544
@farazBhatti,
Thank you for the gist.

@rmothukuru,
I was able to reproduce the issue with TF v2.4.1, TF v2.5.0rc1 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/dbe8dcf8ab125e42ae86d891f7cea103/48544.ipynb). Thanks!

[2021-04-21 19:01] #48609 closed

[2021-04-21 19:03] YannPourcenoux commented on #48675
Of course, [here](https://github.com/tensorflow/tensorflow/files/6353281/model.zip) it is!

[2021-04-21 19:04] Saduf2019 commented on #48175
@raposter
Please provide the code in format such that we can replicate the error reported, as the code shared has too many indentation errors.

[2021-04-21 19:07] shbkukuk opened #48680 "ValueError: Shapes (8, 100) and (8, 1) are incompatible"
![image](https://user-images.githubusercontent.com/53318795/115602332-7dffe700-a2e7-11eb-9f46-16b76d8bfdd5.png)
My model params is above. when i tried to get score metrics (Recall and Precision)  this error show up
![image](https://user-images.githubusercontent.com/53318795/115603793-4134ef80-a2e9-11eb-92b4-ecd3323b8bd6.png)
model.fit code is :
![image](https://user-images.githubusercontent.com/53

[2021-04-21 19:09] Saduf2019 commented on #48334
I m able to replicate this issue on tf 2.3,2.5 and nightly, please find the gist [here](https://colab.research.google.com/gist/Saduf2019/04874623524313e08da482f0764acdcb/untitled589.ipynb) can you please refer to this comment based on [the error](https://github.com/keras-team/keras/issues/11749#issuecomment-804620973) reported.

[2021-04-21 19:10] amahendrakar commented on #36536
@Korsar13,
Is this still an issue?

Could you please follow [this guide](https://www.tensorflow.org/install/source_windows) and let us know if you are facing the same issue with TF v2.4.1 as well? Thanks!

[2021-04-21 19:34] amahendrakar commented on #38065
@372046933,
Is this still an issue?

Could you please update TensorFlow to v2.4.1 and let us know if you are facing the same error. Thanks!

[2021-04-21 19:57] amahendrakar commented on #34215
@zh794390558,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-04-21 20:30] PwnerHarry commented on #43433
@Saduf2019 I tested it on Windows with tf 2.4.1, its NaN (good).

[2021-04-21 20:30] #43433 closed

[2021-04-21 20:39] redmlr commented on #48368
@amahendrakar Sorry! I updated the gist with some code and comment instructions now.

[2021-04-21 21:08] abattery commented on #48671
@impjdi could you take a look?

[2021-04-21 21:10] abattery commented on #48675
Could you also share your inference code? I think the input dimension for the image tensor should have four dimensions.

[2021-04-21 21:10] impjdi commented on #48671
The title of the bug and

are telling contradicting story.  Which one is it?

Also, could you attach the model?

[2021-04-21 22:14] GrayWasTaken opened #48683 "Issues loading saved model - TypeError: __init__() got an unexpected keyword argument 'name'"
solved can be closed

[2021-04-21 22:17] jvishnuvardhan commented on #48033
@zhaoyun0071 Looks like this was resolved in recent `tf-nightly`. I couldn't reproduce the error anymore. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/3aceaaeb392ce0baece7c1ab2d4d239f/untitled580.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2021-04-21 22:20] deprekate opened #48684 "Error: tf.device does not support functions"
Tensorflow crashes when following current guide.

**System information**
Tensorflow Version:
v2.4.0-49-g85c8b2a817f 2.4.1

**Describe the current behavior**
Following the [guide](https://www.tensorflow.org/api_docs/python/tf/compat/v1/train/replica_device_setter) on how to use `replica_device_setter`, the code crashes with the error: `RuntimeError: tf.device does not support functions.`

**Describ

[2021-04-21 22:27] jvishnuvardhan commented on #48408
@malessandrini This was resolved in recent tf-nightly. I couldn't reproduce the error anymore. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/ea9c97436cf9949b21df32a17eb42969/copia-di-beginner.ipynb).

`loss` and accuracy from `model.fit`

[code]

`loss` and `accuracy` from `history` object
[code]

Please verify once and close the issue if this was resolved for

[2021-04-21 22:39] YannPourcenoux commented on #48675
Hi, there is no inference code. I am just running the conversion code I put in the original issue message above. The input_shape of the model is `(1, 224, 224, 3)` (you can verify with [netron](https://netron.app/)) and the representative dataset is yielding tensors of shape `(1, 224, 224, 3)` ie the exact same.

[2021-04-21 22:47] nicholastoddsmith commented on #47245
I am also seeing this (or a similar issue) on an Ubuntu 20.04 system with an older CPU (Xeon X5675; no AVX) built with CUDA support (Geforce 970 GTX; cuda compute 5.2). I compiled the r2.5 branch and specified `-march=native` and CUDA compute 5.2 during compile. Used the CUDA 11 toolkit.

Compile and install went OK. I can import _tensorflow_ and basic commands like `tf.config.list_physical_device

[2021-04-21 22:52] jvishnuvardhan commented on #41319
@arjun-majumdar Closing this issue as this is a duplicate.
Duplicate of https://github.com/tensorflow/tensorflow/issues/41320

Will follow the progress in the other issue https://github.com/tensorflow/tensorflow/issues/41320.

[2021-04-21 22:52] #41319 closed

[2021-04-21 22:54] jvishnuvardhan commented on #41320
@arjun-majumdar Sorry for the late response.  Is this still an issue for you?

It would be great If you could provide a simple standalone. The current code is too long for us to debug and resolve the issue. We generally suggest to post this kind of questions in Stackoverflow where there is a large community to support this kind of questions.

GitHub is mainly for bugs and performance related issue

[2021-04-22 00:02] MuhsinFatih commented on #45089
`pip install tensorflow==2.5.0-rc1` worked for me

[2021-04-22 00:07] alexartwww commented on #48663
INFO: From Executing genrule //tensorflow/python/keras/api:keras_python_api_gen:
2021-04-22 03:01:58.501826: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.2
INFO: From Executing genrule //tensorflow/python/keras/api:keras_python_api_gen_compat_v1:
2021-04-22 03:01:58.505888: I tensorflow/stream_executor/platform/default/dso_load

[2021-04-22 00:32] nicholastoddsmith commented on #47245
Well, I think I may have answered my own (and possibly the OP's question). I ran my script using _gdb_. Python receives a SIGILL,(illegal instruction) in _libcudnn_cnn_train.so.8_

Disassembly:

[code]
_vmovdqa_ is an AVX instruction.

So it looks like the problem is that CUDNN is compiled using AVX instructions even though Tensorflow is not. When Tensorflow calls into that DLL, it crashes with SI

[2021-04-22 02:23] #48556 closed

[2021-04-22 03:33] limdlh commented on #48407
@impjdi Thanks for your reply, but I find in the [TFLite docment ](https://tensorflow.google.cn/lite/performance/gpu#c-until-2.3.0), it use TfLiteInterpreterOptions, not TfLiteGpuDelegateOptionsV2, is it the reason why my code fail to accelerate?
And how about Hexagon(DSP), could you still give me a sample code to use Hexagon to accelerate?
Thank you so much~

[2021-04-22 04:06] tilakrayal commented on #48661
@TheEnigmist ,

I ran the code shared and face a different error, please find the [gist](https://colab.research.google.com/gist/tilakrayal/6e57541cc1214c25ace3f7de6eeb7cb0/48661.ipynb) here and share all dependencies to replicate the issue or share a colab gist with the reported error.

Thanks!

[2021-04-22 04:17] tilakrayal commented on #48670
@worknotalent ,

Please take a look at @[ymodak](https://github.com/tensorflow/tensorflow/issues/48670#issuecomment-824195656)   comment and let us know if you are still facing the same issue? Thanks!

[2021-04-22 04:40] Ethylbenzol opened #48689 "Post training quantization conversion log show: Optimization loop failed: Cancelled: Operation was cancelled"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installation (pip package or built from source): pip package install in anaconda virtual env
- TensorFlow library (version, if pip package or github SHA, if built from source):  tf-nightly 2.6.0.dev20210407

### 2. Code

[code]

### 3. Failure after conversion
If the conversion is successf

[2021-04-22 04:41] Saduf2019 commented on #48481
@lugalUrim
Please share your GPU model, Cuda, cudnn version.

[2021-04-22 04:48] abattery commented on #48689
@liufengdb could you triage this?

[2021-04-22 05:13] raposter commented on #48175
Enclosed is the source code taken from the LSTM Networks book by Jason Bownlee.Thanks
    On Wednesday, April 21, 2021, 12:05:11 PM PDT, Saduf2019 ***@***.***> wrote:

@raposter
Please provide the code in format such that we can replicate the error reported, as the code shared has too many indentation errors.

—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2021-04-22 05:14] atptour2017 commented on #48538
Thanks!
So I checkout r2.4 but could not find build_all_linux.sh in this branch. The similar folder is tensorflow/tensorflow/lite/tools/make. This folder has download_dependencies.sh inside. But I do not know how to build the code. I need to build out protobuf header files and c++ source files and others as I want to use tensorflow in C++.
When I checkout r2.0 the tensorflow\tensorflow\contrib\mak

[2021-04-22 05:14] tilakrayal commented on #48673
@jvishnuvardhan ,

I was able to replicate the issue on tf 2.4 and nightly but the issue is not reproducible on tf 2.3, please find the [gist](https://colab.research.google.com/gist/tilakrayal/017b8a7566093e4bb0d7644827bdb47d/48673.ipynb) here

[2021-04-22 05:59] frankchn commented on #48630
@kevint324 Thanks for the report! This is working as intended, because TPU ops are also used in the current Cloud TPU product and we want to support this out of the box in TensorFlow. `//tensorflow/core/tpu/ops` also only contains the op definitions and not any kernel implementations, so should be very lightweight.

The `with_tpu_support` and `if_libtpu` are there to disable the building of the ac

[2021-04-22 05:59] #48630 closed

[2021-04-22 06:00] kevint324 commented on #48630
Got it. Thanks for the reply.

[2021-04-22 06:38] tyoc213 commented on #48598
https://github.com/pytorch/xla/issues/2896#issuecomment-824581049

[2021-04-22 06:38] #48598 closed

[2021-04-22 06:38] elad-c commented on #48673
As I wrote in the issue description, the code works fine in TF 2.3
it only started failing after the move to 2.4

[2021-04-22 06:39] hasanabs opened #48690 "ValueError: Found two metrics with the same name: Dense_xx Accuracy. TensorFlow 2.4"
**System information**
- OS: Linux Ubuntu 20.04 as well as Windows 10
- TensorFlow version (use command below): 2.4.1
- Python version: 3.79
- CUDA version: 11.2
- GPU model and memory: RTX 3060

**Issue**
Previously I upgraded my Tensorflow to 2.4.
I got an error message like "ValueError: Found two metrics with the same name: dense_xx_accuracy".
Then, I downgraded my TF to 2.1 and everything is w

[2021-04-22 06:50] rmothukuru commented on #25592
@jpatts,
Sorry for the delayed response. Your code seems to work properly with `batch_size > 1` as well. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/d1058e4c18c323d346cd77ab093dbc51/gh_25592.ipynb) of the working code. Thanks!

[2021-04-22 06:52] arjun-majumdar commented on #41320
@jvishnuvardhan Yes, the issue still persists.

A "simple" standalone code is as follows:

[code]

You can refer to the complete Google Colab jupyter-notebook [here](https://colab.research.google.com/drive/1BH3S6w9n_JtRIBMck-NqC-PKPRe5F4FR?usp=sharing)

Let me know if you need anything else.

[2021-04-22 06:53] #48408 closed

[2021-04-22 06:55] rmothukuru commented on #25609
@mccane,
Can you please confirm if we can Close this issue as the [associated PR](https://github.com/tensorflow/tensorflow/pull/25803) has been Merged? Thanks!

[2021-04-22 07:04] tilakrayal commented on #48677
@prabhakarlad ,

In order to reproduce the issue reported here, could you please provide the Tensorflow version,complete code and the dataset you are using. Thanks!

[2021-04-22 07:22] sandeep22-v commented on #48637
Thanks for the reply sir!!

I have checked the website mentioned by you but the issue I faced there was there the tflite model is generated from a saved_model ,i.e,  we need to input a pb model ,then convert it to tflite model

converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)

But my requirement is a bit different. I need to convert an already converted tflite model to  8 bit

[2021-04-22 07:29] UsharaniPagadala commented on #48678
@maximgeller

I reproduced the code shared on tf 2.4, tf 2.5rc0 and tf-nightly and didn't get any errors.please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/7c09134e95ca294cb93604be37547be3/-48678.ipynb) here.
Could you please upgrade your tf version and let us know.Thanks

[2021-04-22 07:36] deeepwin commented on #48650
@saikumarchalla tested nightly build on my windows machine (Paython 3.7 and 3.8). But, still same error. On Colab it seems to work indeed. But, is Linux and Python 3.7.

[2021-04-22 07:51] mipsan commented on #38285
@MeghnaNatraj
This issue was resolved completely?
Even with TF 2.4.1, I still have this error:
`RuntimeError: Quantization not yet supported for op: 'CUSTOM'.`

Without QAT,
[code]
I cannot find out what's wrong at all.

[2021-04-22 07:58] torgeir commented on #47205
Hit this coming from homebrew python@3.9. For anyone else ending up here;

`brew install python@3.8` installs alongside 3.9 without linking. Manually pointing to the needed installation worked for us `/usr/local/opt/python@3.8/bin/python3 -m venv venv; ...`

[2021-04-22 08:08] #48159 closed

[2021-04-22 08:13] lheim commented on #38285
As it says in the error, one of your operations called `'CUSTOM'` is not yet supported. Therefore, it's something with your original neural network (probably Keras).
You might want to check which operands are supported [here](https://www.tensorflow.org/lite/guide/ops_compatibility).

[2021-04-22 08:14] ssomers commented on #46713
I'm pretty sure I tested the wrong thing yesterday. Today, a simple `pip install tf-nightly` in a fresh python 3.9 virtual environment ends in a flawless display of loss and custom metrics.

I'm not so sure that that means this issue is entirely fixed and is the same as all the linked issues.

[2021-04-22 08:22] GuichardVictor commented on #48665
@Saduf2019

I can confirm that it is working properly on both my machine and Google colab with this tensorflow version installed.

Thanks!

[2021-04-22 08:27] rmothukuru commented on #25728
@Spenhouet,
Sorry for the delayed response. This [Stack Overflow Answer](https://stackoverflow.com/questions/24442725/is-floating-point-addition-commutative-in-c#:~:text=The%20mathematical%20operation%20%22sum%22%20is,addition%20is%20definitely%20not%20associative.) explains that **`Floating Point Addition`** in **`C++`** is not **`Commutative`**.

So, the behavior can be considered as expected. T

[2021-04-22 08:29] mipsan commented on #38285
@lheim Thanks,

I got a pb file from saved model, as this [link](https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html).

The error message says 'CUSTOM' is not supported, but I cannot find where it is.

[2021-04-22 08:32] UsharaniPagadala commented on #48684
@amahendrakar

I reproduced the code in tf 2.5rc1 ,tf-nightly and tf2.4.1,but facing the same [error.](https://colab.research.google.com/gist/UsharaniPagadala/98d5766b0cb51c516dddf2c32f8ec1c9/-48684.ipynb) Could you please look at this issue .Thanks

[2021-04-22 08:38] rmothukuru commented on #25775
@sipan17,
Sorry for the delayed response. Slight `Non-Determinism` is possible in `Tensorflow`, especially while using `GPU`. Please find [this Article](https://www.twosigma.com/articles/a-workaround-for-non-determinism-in-tensorflow/) and this [Stack Overflow Answer](https://stackoverflow.com/questions/50744565/how-to-handle-non-determinism-when-training-on-a-gpu) on how to handle `Non-Determinis

[2021-04-22 08:50] rmothukuru commented on #26069
@hjfreyer,
With @yongtang's PRs, many operations support uint64 now (**`Tensorflow Version 2.4.1`**). Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/4f4124c514714df8fe4456a3c589209f/gh_26069.ipynb) of the Working Code. Thanks!

[2021-04-22 08:51] TheEnigmist commented on #48661
Sorry, I copied only part of my code. I edited your gist so now you can run it.
As you can see there is no output at the end of the epoch. I can put a raise Exception too and will never trigger!

[2021-04-22 08:56] aredier opened #48692 "multi-output keras models change metric names when reloading"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NO
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command belo

[2021-04-22 08:58] bmmo commented on #48671
@impjdi the title was wrong and was fixed.
I'm not sure I can attach the model. Can I give you any other relevant info without providing the model?

[2021-04-22 09:14] #24559 closed

[2021-04-22 09:17] tilakrayal commented on #48524
@azuryl ,

Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status.

Thanks!

[2021-04-22 09:36] worknotalent commented on #48670
Sorry, I was just targetting the file instead of the containing folder, but anyways I discovered `hub.load()` and it works just fine, I'm just having a problem when I choose another model from the one used in the tutorial I followed:

`Traceback (most recent call last):
  File "C:\RealTimeObjectDetection\h.py", line 154, in <module>
    run_detector(detector, downloaded_image_path)
  File "C:\Real

[2021-04-22 09:38] Mrlyk423 opened #48693 "How to build a dynamic library for ios tflite by cmake with Cross-compilation?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-04-22 09:46] abattery commented on #48693
@terryheo @yyoon  could you take a look?

[2021-04-22 09:47] RuralHunter commented on #38561
The problem still persists with version 2.4.1 and the workaround doesn't work on predict_on_batch:
[code]
tf reports error:
`RuntimeError: Detected a call to `Model.predict_on_batch` inside a `tf.function`. `Model.predict_on_batch is a high-level endpoint that manages its own `tf.function`. Please move the call to `Model.predict_on_batch` outside of all enclosing `tf.function`s. Note that you can

[2021-04-22 10:00] rmothukuru commented on #26401
@cjqw,
 Can you please respond to the above comment? Thanks!

[2021-04-22 10:04] ross114 commented on #35114
i got the error, could anyone help to fix it

[2021-04-22 10:05] tilakrayal commented on #48670
@worknotalent ,

Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status and please submit a new issue from this [link](https://github.com/tensorflow/models/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-04-22 10:20] UsharaniPagadala commented on #48692
@aredier
 I reproduced the code in tf-nightly it worked as you expected that the metrics' remain unchanged when reloading:
Could you please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/c43c04782946b15d3faf7a9a671bde9d/-48692.ipynb) here.Thanks

[2021-04-22 10:26] sanyakuznezov commented on #46905
Hello everyone, I need help. When trying to run the sound classification model on android 4.4.2, there is a problem:
E/dalvikvm: dlopen("/data/app-lib/com.ashomok.sleepbaby-2/libtensorflowlite_flex_jni.so") failed: dlopen failed: cannot locate symbol "fegetround" referenced by "libtensorflowlite_flex_jni.so"...

on android 10, this problem does not arise, the application starts

[2021-04-22 10:31] #48670 closed

[2021-04-22 10:38] Saduf2019 commented on #48665
@GuichardVictor
Thank you for your update, glad its working fine for you, kindly move this issue to closed status as it is resolved.

[2021-04-22 10:39] UsharaniPagadala commented on #48474
@kevint324

Hi, Can you provide the above requested details.Thanks

[2021-04-22 10:40] #48665 closed

[2021-04-22 10:40] FGMphys opened #48694 "Import graph operation in C or C++"
Hi all,
I'm dealing with the following operations. I would like to export a graph from tensorflow python API to TF C API.  Based on TF 2, I'm using graph execution and @tf.function to build the graph with custom operation. Then I'm saving the graph using save_model. Next I would like to load this graph on C or C++ and run the graph to obtain the outputs. Which is the best procedure to do that at t

[2021-04-22 10:41] UsharaniPagadala commented on #48501
@rajsingh02
Hi  Can you please provide the above requested details. Thanks
--

[2021-04-22 10:55] mansnils opened #48695 "Downloaded CMSIS version is a bit old"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source): 323d8b857216f20bf4266ea0a7876363d707aceb
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**
Downloaded CMSIS version is a bit old. It should be updated.

**Please pro

[2021-04-22 10:59] abattery commented on #46905
@sanyakuznezov could you upload new issue? This issue has been closed and we would keep each issue to be focused.

[2021-04-22 11:09] UsharaniPagadala commented on #48585
@TomatoBoy90
Could you please provide the above requested details.Thanks

[2021-04-22 11:13] phunc20 commented on #32912
Hi. I cannot manage to get the same tf version (2.0.0-rc0) on conda, but I tried the closest one I can find, which is version 2.0.0. I guess one workaround for this problem might be

- not only should we specify `output_types`
- **but also `output_shapes`**

The following snippets ran fine on an IPython session on my machine (Python3.6.13):
[code]
With output as follows:
[code]

[2021-04-22 11:21] sanyakuznezov commented on #46905
ok

[2021-04-22 11:21] bhack commented on #48683
Can you share a minimal standalone example that we could just `copy and run` to reproduce this (or a Colab)?
Thanks

[2021-04-22 11:23] sanyakuznezov opened #48697 ""libtensorflowlite_flex_jni.so" crashes on x86 Android emulator"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-04-22 11:24] bhack commented on #48662
Is this the same as https://github.com/tensorflow/tensorflow/issues/47156 ?

[2021-04-22 11:24] saikumarchalla commented on #48663
@alexartwww  Also, please try with Tensorflow version 2.4 and let us know if it solves your TF installation as well. Thanks!

[2021-04-22 11:25] abattery commented on #48697
@thaink could you take a look?

[2021-04-22 11:37] saikumarchalla commented on #48680
@shbkukuk Could you please provide the code snippet/colab link so that it helps to figure out the error a bit faster.

Also, Please check the input size of  first layer whether you have defined properly or not and helps to resolve the error. Thanks!

[2021-04-22 11:38] maettuki commented on #41799
is there any solution yet? I am facing the same problem here

[2021-04-22 11:55] sanyakuznezov commented on #48697
I found information that tensorflow lite does not work on x86 emulators.  But I am running my model on a real device and it doesn't work on android 4.4.2.  Can you give an answer to which version of android tensorflow lite is stable?

[2021-04-22 12:00] abattery commented on #48697
TensorFlow Lite and Select TF option both works on x86 emulators.

We recently have received the bug reports that the recent version (TF 2.5 or beyonds) of TensorFlow Lite's Select TF option won't work on Android 4.4.2 while the recent versions of TensorFlow Lite still works on Kitkat without any issues.

Could you try the TF 2.4.1 version on Android Kitkat? I believe at the TF 2.4.1, TensorFlow L

[2021-04-22 12:07] shbkukuk commented on #48680
`IMG_SIZE = 100

new_array = cv2.resize(img_array, (IMG_SIZE, IMG_SIZE))
plt.imshow(new_array, cmap='gray')
#plt.show()
# üstte datalarımızı array ve gray uygun hale getirdik.şimdi data eğitimi yapcağız.

training_data = []
def create_training_data():
    for category in CATEGORIES:
        path = os.path.join(DATA,category)
        class_num = CATEGORIES.index(category) #sınıflandırma yapıyoruz.

[2021-04-22 12:14] aredier commented on #48692
@UsharaniPagadala I can indeed reproduce on my machine with tf_nightly.
Tnanks

[2021-04-22 12:14] #48692 closed

[2021-04-22 12:17] trifwn commented on #36508
Same issue here
I tried all the aforementioned solutions. None seems to resolve the issue

[2021-04-22 12:32] sanyakuznezov commented on #48697
thanks for the answer, as soon as I try your solution to the problem, I will definitely report the results

[2021-04-22 12:35] mabahgat commented on #46515
another example: on Quadro RTX 6000 .. TF 2.4 ETA 7 hours for single iteration, TF 2.3 40 minutes. Same everything except for downgrading to 2.3 between the two runs.

[2021-04-22 12:58] yyoon commented on #48693
cc/ @thaink

Generally speaking, the size of the iOS static library built with bazel is big due to bitcode embedding. When it's linked to your final app after the app thinning is applied, the actual size increase caused by TFLite will be much smaller (around 3~4MB last time we checked a few months ago).

A few additional notes:
* The [iOS build script using Makefile](https://github.com/tensorflow/

[2021-04-22 13:03] sanyakuznezov commented on #48697
implementation "org.tensorflow:tensorflow-lite:2.3.0"
updated version to 2.4.1 and here's what happened

Could not find org.tensorflow:tensorflow-lite:2.4.1.
     Searched in the following locations:
       - https://jcenter.bintray.com/org/tensorflow/tensorflow-lite/2.4.1/tensorflow-lite-2.4.1.pom
       - https://maven.google.com/org/tensorflow/tensorflow-lite/2.4.1/tensorflow-lite-2.4.1.pom

[2021-04-22 13:08] #48369 closed

[2021-04-22 13:28] kunalchamoli opened #48698 "Cannot run tflite model on GPU after converting it into using Float16 quantization."
### 1. System information

- Google Colab
-Tensorflow 2

### 2. Code
https://github.com/Akhilesh64/Image-Segmentation-U-2-Net/blob/main/U2-net.py

#### Option A: Reference code
1)  Reference
https://www.tensorflow.org/lite/performance/post_training_quantization#float16_quantization

2) The warning i get while converting this model to tflite is.
[code]

### 3. Failure after conversion
But when i us

[2021-04-22 13:31] bmmo commented on #48671
[quantized-fp16.tflite.zip](https://github.com/tensorflow/tensorflow/files/6358625/quantized-fp16.tflite.zip)

I'm attaching the same model, quantised to FP16, but with different weights. Hope this helps?
Anyway let me know what more information you would need.

[2021-04-22 13:46] thierryherrmann opened #48699 "autograph prevents tf.assert protection"
**System information**

    Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
    OS Platform and Distribution: Ubuntu 18.04.5 LTS
    TensorFlow installed from: binary
    TensorFlow version: 2.2.0
    Python version: 3.6.9
    CUDA/cuDNN version: 10.1.243 / 7.6.5
    GPU model and memory: NVidia Tesla V100-SXM2-32GB

**Describe the current behavi

[2021-04-22 13:50] abattery commented on #48697
Instead of TF 2.4.1, could you try the TF 2.4.0 version? Looks like the TF pom distribution does not specify the minor version level.

[2021-04-22 13:52] maximgeller commented on #48678
I was successfully able to run the code on the newer TensorFlow version @UsharaniPagadala. However, my project is dependent on the version I tested on, so is there any fix that could work for 2.0.0 or 2.2.0?

[2021-04-22 14:10] Ozzey commented on #20690
Locate the pywrap_tensorflow_internal.py. It's generally in
python3.7/site-packages/tensorflow/python/
Open any text editor (I prefer atom).
Find async on the mentioned lines and replace it with async1.
Dont forget to take a backup of pywrap_tensorflow_internal.py in case
something goes wrong.

On Wed, Apr 21, 2021 at 12:08 AM LesLuger ***@***.***> wrote:

[2021-04-22 14:24] abattery commented on #48698
@impjdi could you take a look?

[2021-04-22 14:37] shkarupa-alex opened #48701 "Function used in many augmentations (convert_image_dtype) has an issue"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-04-22 14:47] Saduf2019 commented on #48538
@atptour2017
Please share the error logs faced on  tf 2.4.

[2021-04-22 14:58] Saduf2019 commented on #48690
@hasanabs
Please share code such that we could replicate the error reported or a colab gist with the code and error.

Based on the error logs, you may refer to this link an let us know: [link](https://stackoverflow.com/questions/62905851/valueerror-found-two-metrics-with-the-same-name-recall),

[2021-04-22 15:01] Saduf2019 commented on #48563
@talhaanwarch
please follow the link shared, it works for all linux versions.

[2021-04-22 15:05] dails08 commented on #37504
I'm getting a similar problem.  Running fit locally runs no problem, but running it on a TPU fails.  The error message is less informative, but it seems to be failing in the same spot: calculating cardinality.  See the below notebook.

https://colab.research.google.com/drive/13KUPcl8o03jYfIFj_UjAL3xPtlHH8umH?usp=sharing

[2021-04-22 15:07] Saduf2019 commented on #48397
I am able to replicate the issue reported, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/8d0fff98cbcb5ff6e91242597db5dcae/untitled592.ipynb).

[2021-04-22 15:24] BeccaHuang opened #48702 "About biLSTM model different sequence lenght use padding & mask."
About 「Variable Length Sequence Support for CUDNN LSTM #23269」

i have three question about biLSTM model have different sequence lenght that i will use padding & mask.

(1)So in tf2 I can use lstm  don't need to use keras.layers.CuDNNLSTM layer,but why is the GPU running speed different tf2 LSTM slow then tf1 CuDNNLSTM?

 (2)So if I use  tf2  layer→ tf.keras.layers.Bidirectional(tf.compat.v1.keras

[2021-04-22 15:26] kevint324 commented on #48474
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): UBUNTU18
TensorFlow installed from (source or binary): from source
TensorFlow version: 2.4.1
Python version: 3.6
Installed using virtualenv? pip? conda?: virtualenv
Bazel version (if compiling from source): 3.1
GCC/Compiler version (if compiling from source): 7.5
CUDA/cuDNN version:n/a
GPU model and memory: n/a

The test failed on our in hou

[2021-04-22 15:27] pdubz-sudo opened #48703 "Feature Request: adding class_weights to tfLite Model Maker"
## Description of issue (what needs changing):
It would be great if somebody could add class_weights to the `model maker` .create() arguments because it's pretty common to work with imbalanced datasets in real life. I'm trying to retrain a model with model maker for image classification and have about 15 labels with very different balances in classes. I'm trying to change the code myself and hopin