[2022-10-29 02:17] itskobold commented on #386
Hello,

I'm getting this not implemented error...

`Gradient for IRFFT3D is not implemented.`  (I'm assuming I'll get a similar error for RFFT3D too).

Is there any way I could get this working myself?  I've taken a look at where the ops for 1D/2D (I)RFFT are defined in fft_ops.py but I'm a bit lost as to what I'd need to do to implement it in 3D.

Thanks in advance for any advice!

[2022-10-29 03:02] mohantym commented on #58140
Ok @rrajkumar1990 !
Thanks for the update. Would test with a sample frozen graph model and update.
Feel free to test the loading time in 2.10/nighty version too.
Thank you!

[2022-10-29 04:29] suggfudge commented on #58333
That code goes into an earlier cell in my python notebook? Alright.

Is this requirements.txt part of tensorflow repo? I'm currently unable to access my computer until the weekend is over, was such a txt file generated after installation?

[2022-10-29 08:47] xiaodathereal opened #58363 "How to enable GSPMD?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

tf 2.7

### Custom Code

No

### OS Platform and Distribution

Linux

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-10-29 09:05] H-Yin opened #58364 "'ValueError: Graph already contains one or more main ops under the collection saved_model_main_op'. this error occurred When `add_meta_graph_and_variables` method is called more than once, with argument `main_op`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 1.15

### Custom Code

No

### OS Platform and Distribution

CentOS Linux release 7.7.1908

### Mobile device

_No response_

### Python version

3.7.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

10.1

### GPU model and memory

_

[2022-10-29 10:18] Garve opened #58365 "tf.keras.layers.StringLookup() does not work within tf.keras.Sequential()"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

v2.10.0-rc3-6-g359c3cdfc5f 2.10.0

### Custom Code

No

### OS Platform and Distribution

Windows 11

### Mobile device

_No response_

### Python version

3.9.9 (tags/v3.9.9:ccb0e6a, Nov 15 2021, 18:08:50) [MSC v.1929 64 bit (AMD64)]

### Bazel version

_No response_

### GCC/Compiler v

[2022-10-29 13:00] suggfudge commented on #58333
Can I put all 35 images in one batch?

[2022-10-29 15:31] DwayneDuane commented on #58192
@mohantym What you suggested works and allows me to utilise the NNAPI delegate. However, in my use case, I also need to be able to use the GPU delegate. Right now, I am building `libtensorflowlite_gpu_delegate.so` separately, but is there a build flag that allows the GPU delegate to be included within `libtensorflowlite_c.so`? I tried `--define tflite_with_gpu=true` and `--define tflite_with_openc

[2022-10-29 15:35] #58077 closed

[2022-10-29 17:21] feranick opened #58368 "TF 2.11.0/2.12 fails to build in MacOS 13 - XCode 14.1 - issue with ld linker"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.11.0-rc

### Custom Code

No

### OS Platform and Distribution

MacOS 13.0

### Mobile device

_No response_

### Python version

3.10.6

### Bazel version

5.3.0

### GCC/Compiler version

clang - XCode 14.1-rc2

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-10-29 20:21] nalane commented on #36465
@Gargisingh11 I have not had the opportunity to try your example, but it looks conceptually almost identical to the suggestions in [this comment](https://github.com/tensorflow/tensorflow/issues/36465#issuecomment-582318197) and [this comment](https://github.com/tensorflow/tensorflow/issues/36465#issuecomment-582651686), as all three suggestions are focused on limiting memory growth. As @HristoBuyu

[2022-10-29 20:35] hoondy commented on #36465
This is a great summary.

[2022-10-29 20:53] fuzzyswan opened #58369 "`tf.experimental.numpy.remainder` outputs nan for 0/inf on GPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.10.0, 2.12.0-dev20221029

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

[2022-10-29 21:39] bhack commented on #58334
https://github.com/JuliaLang/julia/issues/40207

https://jax.readthedocs.io/en/latest/_modules/jax/_src/scipy/linalg.html#sqrtm

[2022-10-30 01:38] creakseek commented on #58350
hi @tilakrayal
I checked the issue you pointed, although it is the same API, **the root causes are different**. That issue is triggered when vocab_file is invalid (`Non-OK-status: LoadFromFile`), and this issue is triggered with an invalid `weights_` shape (`Check failed: range == weights_.size()`). Thus, the PR to that issue **will not fix** this check-fail problem.

[2022-10-30 01:39] sushreebarsa commented on #58339
@davidxia Could you please confirm if your issue has been resolved?
Thank you!

[2022-10-30 01:46] sushreebarsa commented on #57528
@sky712345678 Please refer the comment above and let us know if it helps?
Thank you!

[2022-10-30 02:40] davidxia commented on #58339
@sushreebarsa I just downloaded the
`tensorflow_macos-2.9.2-cp38-cp38-macosx_11_0_x86_64.whl` file from [PyPI here](https://pypi.org/project/tensorflow-macos/2.9.2/#files), unzipped it, and ran `objdump -d /tmp/tensorflow_macos-2.9.2/tensorflow/python/util/_tf_stack.so | grep vmovups | head` and still see it has AVX instructions. So it's not resolved for this wheel. I didn't check the many others

[2022-10-30 07:13] mohantym commented on #58192
@DwayneDuane !

I am not sure on baking all the delegates in to tflite-runtime simultaneously. So my thought was to build them individually and  create a policy to switch to respective delegate when it does not find any supported ops during inference.

But that has not been recommended earlier to avoid any runtime issues.

Thank you!

[2022-10-30 07:53] delphianaus commented on #58298
Is the windows build broken ? i want to build cuda debug and see if i can import the dll into C++ builder.

Bazel - 5.3.1
VC 2022
Branch 2.10 from git hub,
using latest copy of anaconda3 ( Python 3.10)

[2022-10-30 14:24] bhack commented on #58369
We don't have explicit tests for `mod` with non int/unit input types:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/math_ops/cwise_ops_binary_test.py#L335

[2022-10-30 14:26] bhack commented on #58369
[code]

[code]

[2022-10-30 15:00] Sougata10 commented on #41448
Can you show how to implement the loss function in the code? I am stuck in
an image segmentation problem.

On Thu, Oct 27, 2022 at 11:03 PM marlon-shiftone ***@***.***>
wrote:

[2022-10-30 16:08] EParisot commented on #47554
I'm facing the issue too, can I assume my model will still works correctly ? I intend to convert it to TFLite format to run on ESP32 device ...

[2022-10-30 16:12] dwyatte commented on #41732
BoostedTreesClassifier and other estimators are now deprecated

[2022-10-30 16:12] #41732 closed

[2022-10-30 18:11] MarkKocherovsky opened #58373 "High Batch Size Exceeds Memory"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

tf 2.10

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 22.04

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.8

### GPU model and memory

NVID

[2022-10-30 19:03] aliashori75 commented on #58373
import tensorflow as tf
mnist = tf.keras.datasets.mnist

(x_train, y_train),(x_test, y_test) = mnist.load_data()
x_train, x_test = x_train / 255.0, x_test / 255.0

model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(input_shape=(28, 28)),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dropout(0.2),
  tf.keras.layers.Dense(10, activation='softmax')
])

model.compile(o

[2022-10-30 19:04] aliashori75 opened #58374 "import tensorflow as tf"
import tensorflow as tf
mnist = tf.keras.datasets.mnist

(x_train, y_train),(x_test, y_test) = mnist.load_data()
x_train, x_test = x_train / 255.0, x_test / 255.0

model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(input_shape=(28, 28)),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dropout(0.2),
  tf.keras.layers.Dense(10, activation='softmax')
])

model.compile(o

[2022-10-30 21:43] tillahoffmann commented on #386
I don't have tensorflow installed at the moment to verify, but the three-dimensional RFFT is just a two-dimensional RFFT plus a FFT along the leading dimension. Here's a numpy example.

[code]

This should allow you to get the gradients by decomposing the three-dimensional transform into a one-dimensional and a two-dimensional transform (assuming those two have gradients implemented).

[2022-10-30 21:58] marlon-shiftone commented on #41448
@Sougata10, this way:

`model.compile(optimizer=opt, loss=WeightedSCCE(class_weight), metrics=['sparse_categorical_accuracy'])`

`class_weight`must be a list of floats.

[2022-10-31 00:34] bhack commented on #58350
@creakseek check https://github.com/tensorflow/tensorflow/pull/58358

[2022-10-31 02:49] mohantym commented on #58333
@suggfudge !
Yeah. You can put 35 images in one batch. Please post on [TF Forum](https://discuss.tensorflow.org/) on further assistance.
Thank you!

[2022-10-31 03:37] Janus-Shiau opened #58376 "Failed to apply XNNPACK after quantization aware training"
### 1. System information

- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installation (pip package): 2.7.0
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.7.0

### 2. Code

The model has two inputs, where the range of first one is [0, 1.0] and then second one is [-1.0, 1.0].

[code]

### 3. Failure after conversion

We use quantization-aware traini

[2022-10-31 03:48] mohantym commented on #58344
Hi @dradenvandewind !

I don't think compat.v1.device would render much improvement. tf.device is recommended rather. Forgot to tell you that Python 3.7 version is minimum version now . ( It seems from template that you are using Python 3.6.9)

Please replace
`with tf.compat.v1.device(f"/job:localhost/replica:0/task:0/device:GPU:1"):`
with
`with tf.device(f"/job:localhost/replica:0/task:0/device:G

[2022-10-31 04:08] dh7hong commented on #46178
https://docs.anaconda.com/anaconda/user-guide/tasks/tensorflow/

try out the first method of installing tensorflow. It worked for my M1 Macbook Pro

[2022-10-31 04:57] mohantym commented on #58344
@dradenvandewind !
Re-opening this issue until it is resolved from your end.
Thank you!

[2022-10-31 06:13] SuryanarayanaY commented on #58373
@MarkKocherovsky,
Could you please use the below code to list out GPU devices first
`physical_devices =tf.config.list_physical_devices('GPU')`
and then try to use below code to allow the Memory growth using
`tf.config.experimental.set_memory_growth(physical_devices[0], True)`
Please take a look at the official document for the [reference](https://www.tensorflow.org/api_docs/python/tf/config/experi

[2022-10-31 06:33] jdanceze commented on #58318
@tilakrayal sorry for an unclear bug explanation. The crash will only trigger when dtype of  `value` equal to `tf.float64` and the dtype of `resource` is differ (sth like tf.float32). The crash can reproduce by the following code.

[code]

[2022-10-31 06:34] #43547 closed

[2022-10-31 06:44] mohantym commented on #51467
Hi @skillingt !

Could you confirm that did above [pointer](https://github.com/tensorflow/tensorflow/issues/51467#issuecomment-1269765351)  solve this issue.
Keeping this issue open until it is confirmed from your side.

Thank you!

[2022-10-31 06:45] mohantym commented on #51467
Keeping this issue open until it is confirmed from your side.

[2022-10-31 06:48] dh7hong commented on #46178
on your terminal simply type:
_conda create -n tf tensorflow_
here rename tf to the name of your choice

[2022-10-31 06:49] dh7hong commented on #46178
https://docs.anaconda.com/anaconda/user-guide/tasks/tensorflow/

try out the first method of installing tensorflow. It worked for my M1 Macbook Pro

on your terminal simply type:
conda create -n tf tensorflow
here rename tf to the name of your choice

[2022-10-31 07:34] #58100 closed

[2022-10-31 07:49] sachinprasadhs commented on #57018
Thanks for opening this issue. Development of keras moved to separate repository https://github.com/keras-team/keras/issues

Please post this issue on keras-team/keras repo.
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-10-31 08:05] woojinn8 commented on #58000
@sachinprasadhs @roserg Latest version is working well. Thanks!

[2022-10-31 08:32] misterBart commented on #58050
Related:
https://github.com/google/mediapipe/issues/2094
https://github.com/google/mediapipe/issues/2119
https://github.com/google/mediapipe/issues/2354
https://github.com/google/mediapipe/issues/3017
https://github.com/google/mediapipe/issues/3672

[2022-10-31 08:57] mohantym commented on #58363
Hi @xiaodathereal !
Not sure on GSPMD ( General and Scalable Parallelization for ML Computation Graphs). But you can mentions the GPU's  you want to use with [tf.device](https://www.tensorflow.org/guide/gpu) / [distribution strategy](https://www.tensorflow.org/api_docs/python/tf/distribute/MirroredStrategy) (Sharing policy is there)

Could you post on [TF forum ](https://discuss.tensorflow.org/)fo

[2022-10-31 08:57] KantiCodes commented on #11037
@jandog8990
I'm a bit late to the party but did you manage to fix it with bare Python w/o conda?

[2022-10-31 09:08] RenuPatelGoogle opened #58378 "Video classification notebook is showing error in output when replicated using TF 2.9"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

TF 2.9

### Custom Code

No

### OS Platform and Distribution

Google Colab, Linux

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-10-31 09:11] chenliang110 opened #58379 "when running tflite model , the performance of GPU is obviously slower than cpu on PC"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

2.7

### Custom Code

No

### OS Platform and Distribution

win64

### Mobile device

no

### Python version

3.7

### Bazel version

no

### GCC/Compiler version

no

### CUDA/cuDNN version

no

### GPU model and memory

111

### Current Behaviour?

[code]

### Standalone code t

[2022-10-31 09:12] xiaodathereal commented on #58363
By GSPMD, we mean this paper: https://arxiv.org/abs/2105.04663.

We use the 'xla_sharding.mesh_split' API, but it seems that GSPMD does not enabled at all.

[2022-10-31 09:12] kamryncerv commented on #8231
I am training a deep neural network (a CNN) using out-of-memory data. As usual, I am creating an "imageDatastore" and passing it to the  "trainNetwork" function of the Deep Learning Toolbox. At the beginning of the training process, the memory used by MATLAB is around 4GBs. Along the process, the memory used increases constantly filling up the entire available amount which is 16GBs in my computer

[2022-10-31 09:14] mohantym commented on #58368
@sushreebarsa !
Could you look at this issue.
Thank you!

[2022-10-31 09:17] chenliang110 commented on #58379
I use this tflite model to test performance on the other notebook (intel ), and using  Core graphics card testing, the inference time on GPU is very faster than cpu

[2022-10-31 09:17] mohantym commented on #58363
Ok @xiaodathereal !
Thanks for the update.

@sushreebarsa !
Could you look at this issue.

Thank you!

[2022-10-31 09:34] #34219 closed

[2022-10-31 09:43] chenliang110 commented on #58379
The gpu delegate is using Opencl

[2022-10-31 09:44] MustafaAlahmid opened #58380 "Input details changed after converting tf model to tflite model"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 , 64 bit
- TensorFlow installation (pip package or built from source): 2.10 and 2.5
- TensorFlow library (version, if pip package or github SHA, if built from source): pip

### 2. Code

#### Option A: Reference colab notebooks

### 3. Failure after conversion
If the conversion is successful, but the ge

[2022-10-31 10:32] tilakrayal commented on #58364
@H-Yin,
Tensorflow version 1.x is not actively supported. Hence, kindly update to the latest stable version 2.10 and let us know if you are facing the same issue. Thank you!

[2022-10-31 11:34] #51352 closed

[2022-10-31 12:05] bhack commented on #58379
What is the `clinfo` output on the two machines?

[2022-10-31 12:12] mohantym commented on #58380
Hi @MustafaAlahmid !
This has been known issues (shape distortion during conversion) in model conversion.

Work around is to set input/output using [signatures](https://www.tensorflow.org/lite/guide/signatures)(In tf.function declare the input shape) /[ metadata](https://www.tensorflow.org/lite/inference_with_metadata/lite_support) .

Have you checked in nightly version too (It seems to be address

[2022-10-31 12:23] bhack commented on #58348
https://github.com/tensorflow/tensorflow/pull/56762

[2022-10-31 12:35] mohantym commented on #58376
Hi @Janus-Shiau !

Can you check with below code snippet and let us know if it works.
[code]

I would suggest you to save  .pb with tf.saved_model format and reload it using 2.x lite converter api for better results.

Thank you!

[2022-10-31 12:51] bhack commented on #58374
Why this was posted here from https://github.com/tensorflow/tensorflow/issues/58373#issuecomment-1296328507?

[2022-10-31 13:29] bhack commented on #58349
@tanzhenyu The problem is that the GPU Kernel is monolithic/custom:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/image/generate_box_proposals_op.cu.cc

Nobody internally has tried to lower this OP with XLA, so who has analyzed the compatibility/composability of this Tensor program with *HLO? And in the case is compatible do we have still other XLA limits (missing br

[2022-10-31 13:39] bhack commented on #58365
/cc @mattdangerw

[2022-10-31 13:49] tilakrayal commented on #58369
@fuzzyswan,
I tried to execute the mentioned code and was able to get the desired output. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/973d2ccfed819bf0f2bab2a219c0a35f/untitled719.ipynb) and confirm if anything is missing in this case. Thank you!

[2022-10-31 14:05] bhack commented on #58369
What do you mean?

[2022-10-31 14:46] gsirocco commented on #58206
Hi, just some feedback regarding parameters like mean and std. This model is different and simple without any training process. I assume you would need the mean, std, and labels to debug in a way for a more typical trained model?

[2022-10-31 15:49] tilakrayal commented on #58317
@HounaidaM,
The code provided is fairly complex and contains multiple images hence it would be difficult for us to pinpoint the issue. Could you please get the example down to the simplest possible repro? That will allow us to determine the source of the issue easily.
Thank you!

[2022-10-31 15:54] mihaimaruseac commented on #58354
@tilakrayal that's exactly what has been said in the message above yours.

[2022-10-31 16:18] Germantas-IILTD opened #58383 "Misspelling of the word "argument""
https://github.com/tensorflow/tensorflow/blob/cdf72454805f790b97ad731f5ea9a400ecbbc26d/tensorflow/lite/python/optimize/calibrator.py#L97

[2022-10-31 16:29] tilakrayal commented on #58383
@Germantas-IILTD,
The PR #58384 has been assigned for reviewing and once it is merged this issue will move to closed status. Thank you!

[2022-10-31 16:49] MarkKocherovsky commented on #58373
I have the following code close to the top of the program:

[code]

Which returns the following log on startup
[code]

[2022-10-31 17:00] surya-narayanan commented on #35499
Similarly, earlier, my labels were y = np.array(0) or y = np.array(1). Changing them to y = np.array([1]) or the equivalent for 0, solved the problem.

[2022-10-31 17:21] sirakiin commented on #58050
Can you try setting minimal logging severity with

[tflite::LoggerOptions::SetMinimumLogSeverity](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/logger.h) and see if it works?

[2022-10-31 17:24] tanzhenyu commented on #58349
I hope the ideal state is most tf ops can be composed of, or lowered to xla, and warn users of those ops which don't and eventually deprecate it. But the selection of those xla ops needs to be very careful so in cases like this the guideline will be clear how to build a logic to create bounding box proposals.
As for this particular issue, I still hope we could get rid of the cuda kernel and see if

[2022-10-31 17:41] elfringham opened #58387 "Two unit test failures on high CPU core count machines"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

git HEAD

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

n/a

### Python version

3.8.10

### Bazel version

5.3.0

### GCC/Compiler version

10.2.1

### CUDA/cuDNN version

n/a

### GPU model and memory

n/a

### Current Behaviour?

[code]

### S

[2022-10-31 17:51] #57534 closed

[2022-10-31 17:59] bhack commented on #58349
If you read the Jax claim that I've mentioned in that ticket:

So the real point is:
- What is the process we want to adopt to interact with XLA as "consumers"?
- What we will do when we have something that "seems" hard to be expressed or "efficiently expressed" with XLA covered ops?

This is the whole point of https://github.com/openxla/xla/discussions/17

[2022-10-31 18:31] JW1992 commented on #58315
@jdanceze using your code snippet I got error "InvalidArgumentError: Value for attr 'Tindices' of resource is not in the list of allowed values: int32, int64" instead of the "Check failed" in tensor.cc.

Did you intend to use the following example instead? (notice I swapped the definition of `input`` and `indice`)
[code]

[2022-10-31 18:47] bhack commented on #58318
Check https://github.com/tensorflow/tensorflow/pull/58391

[2022-10-31 20:38] marygracemoesta commented on #41448
@marlon-shiftone in the case of multi-task learning (with binary outputs) would we just instantiate an instance for each output task, i.e.:
[code]

[2022-10-31 21:18] chunky opened #58392 "TFLite won't build using ccmake [vs cmake]"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

commit 50a22ec283d14a9142bbd77cac77750714500768

### Custom Code

No

### OS Platform and Distribution

Ubuntu 22.04.1 LTS

### Mobile device

_No response_

### Python version

3.10.6 [ubuntu default]

### Bazel version

_No response_

### GCC/Compiler version

gcc (Ubuntu 11.

[2022-11-01 01:26] jdanceze commented on #58315
@JW1992 Yes, I made the mistake in my code snippet. The crash used to be reproduced from your snippet.

[2022-11-01 01:50] tiruk007 commented on #58349
@sushreebarsa
I was able to reproduce the issue on Colab using TF v2.10. Please find the gist [here](https://colab.research.google.com/gist/tiruk007/18c2ae158bb95fbd96baf78ed26695d2/58349.ipynb) for reference.

Thank you !

[2022-11-01 01:52] tiruk007 commented on #58337
@MyRache
Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose)
Thank you!

[2022-11-01 02:04] tiruk007 commented on #58365
@Garve
This issue seems to be a keras issue. Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999).
Thank you!

[2022-11-01 02:19] tiruk007 commented on #58374
@aliashori75
Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) and elaborate about your issue.
I was able to execute the given code snippet without any error on Colab using TF v2.10. Please find gist [here](https://colab.research.google.com/gist/tiruk007/2fb83dfb02ff71ef212749a877cc0ce4/58374.ipynb) for reference.

Thank you !

[2022-11-01 02:56] sky712345678 commented on #57528
Hi, @preethivenkatesh @sushreebarsa
I've done a quick test with `tf-nightly 2.12.0.dev20221031`, and I didn't see these 2 kinds of error now. I think this **helps**!
So, this is because there are some bugs in the pooling layer?

[2022-11-01 02:58] tiruk007 commented on #58351
@tianxiangsong
As per above [comment](https://github.com/tensorflow/tensorflow/issues/58351#issuecomment-1295266247).
It throws `UnimplementedError` in latest TF v2.10.0. Could you please find the gist [here](https://colab.research.google.com/gist/tiruk007/68174ec8b78e1bc93a89c8850ae1c415/58351.ipynb) for reference.

Thank you !

[2022-11-01 03:30] mihaimaruseac commented on #58337
@tiruk007 you don't need to repeat the same message as before. You can just add the label, if needed.

[2022-11-01 03:46] tilakrayal commented on #44447
@skribm9,
Could you please try to save to a core file and open it with debug binary but it isn't able to map the symbols. If you run debug binary in gdb, the test case simply passes.

`bazel build -c dbg --copt=-O -c opt --copt=-g --strip never --color=yes --curses=yes --verbose_failures --local_cpu_resources 1 --local_ram_resources=2048 //tensorflow/compiler/mlir:tf-mlir-translate`

On tensorflow

[2022-11-01 03:49] suggfudge commented on #58333
using ```strategy = tf.distribute.MirroredStrategy()``` in model_main_tf2.py and ```os.environ["CUDA_VISIBLE_DEVICES"] = "-1"``` has not changed my situation. Is this caused by my tensorflow version? How can I infer the names of apis that I need?

[2022-11-01 03:51] suggfudge commented on #58333
I would also like to see the log for this, how can I produce ```os.environ["CUDA_VISIBLE_DEVICES"] = "-1"``` in cmd?

[2022-11-01 03:55] tilakrayal commented on #44346
@Jan08,
Related PR #45334 was merged. Could you please take a look at the comments from the developer and the community that the issue got resolved.
 Also please take a look at this [file](https://github.com/silabs-LudvigS/tflite-micro/blob/main/.github/workflows/esp32.yml) for the reference.
[code]

[2022-11-01 04:28] chenliang110 commented on #58379
struct OpenClInfo {
  std::string device_name;
  std::string vendor_name;
  std::string opencl_c_version;
  std::string platform_version;

  OpenClVersion cl_version;

  std::vector<std::string> extensions;
  bool supports_fp16;
  bool supports_image3d_writes;
  bool supports_images;
  int compute_units_count;
  uint64_t buffer_max_size;
  uint64_t max_allocation_size;
  uint64_t image2d_max_width

[2022-11-01 04:32] chenliang110 commented on #58379
gpu_options.inference_priority1 =
        TFLITE_GPU_INFERENCE_PRIORITY_MIN_MEMORY_USAGE;
       gpu_options.inference_priority2 = TFLITE_GPU_INFERENCE_PRIORITY_MIN_LATENCY;
       gpu_options.inference_priority3 =
        TFLITE_GPU_INFERENCE_PRIORITY_MAX_PRECISION;

TfLiteGpuDelegateOptionsV2 gpu_options‘s configuration information is above.   very much thank you !

[2022-11-01 04:42] ductranit opened #58395 "Can't build cocoapods TensorflowLite 2.10 on mac M1"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.10.0

### Custom Code

No

### OS Platform and Distribution

Mac os 12.6

### Mobile device

iphone 12 pro max

### Python version

3.10

### Bazel version

5.3.2

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No re

[2022-11-01 04:59] cpsauer commented on #58018
Hey! I ended up just spinning up a new set of BUILD rules for curl over at https://github.com/hedronvision/bazel-make-cc-https-easy. The goal was to have a place where we can all collaborate on rules for making HTTPS requests from C++, since the status quo is that people just keep copy pasting this problematic file.

It also provides a libcurl wrapper called CPR that provides a delightful C++ inte

[2022-11-01 05:15] billhhh commented on #45445
Hello @ghamkhari , exact same issue on my end, have you solved it? Thank you

[2022-11-01 08:06] 21564669 opened #58397 "https://www.tensorflow.org/api_docs/python/tf/keras/losses/BinaryFocalCrossentropy contains some information of https://www.tensorflow.org/api_docs/python/tf/keras/losses/BinaryCrossentropy"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

binary

### Tensorflow Version

2.10

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model a

[2022-11-01 08:54] SuryanarayanaY commented on #58373
Hi @MarkKocherovsky,
At present TF2.10 actively supports CUDA versions upto 11.2 .Please refer tested configurations [here](https://www.tensorflow.org/install/source#gpu).
I request you to please try tested configurations as per [tensorflow official documenation ](https://www.tensorflow.org/install/source).

[2022-11-01 09:20] tilakrayal commented on #58347
@yufang67,
Glad the issue was resolved on tf-nightly version. As the workaround for the bfloat16, please try to execute the code with below comments.
**from tensorflow.python.framework.ops import disable_eager_execution
disable_eager_execution()**

Also please move this issue to closed status and feel free to open a new feature request. Thank you!

[2022-11-01 09:34] #58021 closed

[2022-11-01 10:07] eelcoder commented on #58156
Hello @sirakiin ,

Thanks for the tip.
Initially, I tried to implement it using tensorflow ops in python, but the inference time was very slow (4x slower):
![image](https://user-images.githubusercontent.com/3323242/199208868-ba410a93-a13c-4193-b3e2-559d590c9707.png)

But here I guess, I need to modify directly the hexagon delegate, which should hopefully be faster:
I'd like to try it, but since I'

[2022-11-01 10:24] tilakrayal commented on #50649
@crischeng,
Could you please take a look at the above comment from the developer and use **CurrentStackTrace** which provides the information where the error arises. Also Could you please create a virtual environment and install the latest stable v2.10.
For the points you could also set the environment variable TF_CPP_MIN_VLOG_LEVEL to 1 (used [here](https://github.com/tensorflow/tensorflow/blob/8

[2022-11-01 10:37] tilakrayal commented on #47815
@marcjoos-phd,
I tried to replicate the issue on tensorflow v2.9 with Bazel 5.0.0 and it was not failing as before. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/a5d0b2766e14c9d8b13f7065088ceb8c/tensorflow-ranking.ipynb) and confirm if the issue still persists. Thank you!

[2022-11-01 10:37] bhack commented on #58379
Have you checked to not include in the benchmark timing the kernel compilation?

Check https://www.tensorflow.org/lite/performance/gpu?hl=en#delegate_serialization

[2022-11-01 10:42] bhack commented on #58379
Please check also if the opencl library is loaded correctly:

https://github.com/tensorflow/tensorflow/issues/54269

[2022-11-01 10:42] erikbylow-vol opened #58398 "Fail to build TensorFlowLiteC_framework on multiple computers."
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.10.0

### Custom Code

No

### OS Platform and Distribution

Mac

### Mobile device

iOS

### Python version

3.10.1

### Bazel version

5.1.1

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current

[2022-11-01 10:50] mohantym commented on #55680
Hi @snowuyl !

Could you build with the below command and let us know.
`bazel build --jobs 6 --verbose_failures -c opt  --config=elinux_aarch64 --fat_apk_cpu= arm64-v8a --define=tflite_convert_with_select_tf_ops=true --define=with_select_tf_ops=true //tensorflow/lite:libtensorflowlite.so`

Attached [gist](https://colab.research.google.com/gist/mohantym/1199f48c5ac7c5cbb9c9ded4a08d6b6b/git_55680.ip

[2022-11-01 11:20] tilakrayal commented on #47683
@chrisbutner,
I tried to execute the given code on tf-nightly and was not able to find the mentioned initial error. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/d78483df084a35f8e03f7066135baef1/untitled725.ipynb) and let us know if anything is missing here. Thank you!

[2022-11-01 11:35] chenliang110 commented on #58379
absl::Status LoadOpenCL() {
#ifdef __WINDOWS__
  HMODULE libopencl = LoadLibraryA("OpenCL.dll");
  if (libopencl) {
    LoadOpenCLFunctions(libopencl);
    return absl::OkStatus();
  } else {
    DWORD error_code = GetLastError();
    return absl::UnknownError(absl::StrCat(
        "Can not open OpenCL library on this device, error code - ",
        error_code));
  }
I confirmed
LoadOpenCLFunction

[2022-11-01 11:38] chenliang110 commented on #58379
while (1) {
    uint64_t timestart = NowMicros();
    TfLiteInterpreterInvoke(interpreter_);
    cnt++;
    time_total += (NowMicros() - timestart);

    }
  }
I use the time_total ,then          time_total / cnt

[2022-11-01 11:45] bhack commented on #58379
Can you do few warm-up loop before benchmarking?

[2022-11-01 11:49] bhack commented on #58379
It would be also nice if you could profile your run on AMD with:

https://www.tensorflow.org/lite/performance/measurement#profiling_model_ops

[2022-11-01 11:49] chenliang110 commented on #58379
D:\human>benchmark_model.exe  --graph=xx.tflite  --use_xnnpack=0  --warmup_runs=20 --num_runs=600  --num_threads=1 --use_gpu=1  --enable_op_profiling=0  --min_secs=0 --warmup_min_secs=0
STARTING!
Log parameter values verbosely: [0]
Min num runs: [600]
Min runs duration (seconds): [0]
Num threads: [1]
Min warmup runs: [20]
Min warmup runs duration (seconds): [0]
Graph: [xx.tflite]
Enable op profili

[2022-11-01 11:57] bhack commented on #58379
Can you check enabling profile options what are the kernels creating the performance GAP?

[2022-11-01 12:06] chenliang110 commented on #58379
D:\human>benchmark_model.exe  --graph=UPPERBODY_POSEH2DSEG_L_20220106_0000_e209_fp16.tflite  --use_xnnpack=0  --warmup_runs=20 --num_runs=600  --num_threads=1 --use_gpu=1  --enable_op_profiling=1  --min_secs=0 --warmup_min_secs=0
STARTING!
Log parameter values verbosely: [0]
Min num runs: [600]
Min runs duration (seconds): [0]
Num threads: [1]
Min warmup runs: [20]
Min warmup runs duration (second

[2022-11-01 12:13] chenliang110 commented on #58379
\tensorflow\tensorflow\lite\delegates\gpu\cl\testing\performance_profiling.cc

I use the file to test every kernel's time .Per kernel time is bigger than on intel notebook,
Then add the time of every kernel is 28MS

[2022-11-01 12:20] chenliang110 commented on #58379
I guess the reason is that cpu  compute ability is better than gpu  on this AMD notebook. is that right?

[2022-11-01 12:26] Kepnu4 opened #58402 "TFLite "Unrecognized GetAddress selector""
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.10.0, master

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

iOS

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-11-01 12:28] bhack commented on #58379
Mhh I don't see OpenCL kernel details, probably you need to workaround with https://github.com/tensorflow/tensorflow/issues/53138#issuecomment-982185730 to get some details /cc @impjdi

[2022-11-01 12:33] csn1800 commented on #57907
@impjdi / @sachinprasadhs could you please look into the above query?

[2022-11-01 12:34] #44566 closed

[2022-11-01 12:38] chenliang110 commented on #58379
OK OK!

D:\human>model_tool_fenceng.exe UPPERBODY_POSEH2DSEG_L_20220106_0000_e209_fp16.tflite
- Precision: CalculationsPrecision::F16
Storage type: TensorStorageType::IMAGE_BUFFER
Per kernel timing(84 kernels):
  convolution_2d 0 linked : relu 1 - 1.043610 ms
  convolution_2d 2 linked : relu 3 - 0.409920 ms
  convolution_2d 4 linked : relu 5 - 0.205160 ms
  convolution_2d 6 - 0.084440 ms
  convolu

[2022-11-01 12:54] chenliang110 commented on #58379
the follow is the time data on intel core graphics，faster than AMD notebook。

- Precision: CalculationsPrecision::F16
Storage type: TensorStorageType::BUFFER
Per kernel timing(86 kernels):
  convolution_2d 0 linked : relu 1 - 0.538500 ms
  convolution_2d 2 linked : relu 3 - 0.096083 ms
  convolution_2d 4 linked : relu 5 - 0.100500 ms
  convolution_2d 6 - 0.057750 ms
  convolution_2d 7 linked : add

[2022-11-01 12:57] yufang67 commented on #58347
@tilakrayal yes, on graph mode it also works on 2.9.1. it does not support on eager mode yet, right?

[2022-11-01 13:09] titusfx commented on #35968
In my case is weird. I create a `virtualenv`, and I installed the requirements of my project. And my project worked for days. Then suddenly (with the same project). I'm getting this error, I've removed the `env/` folder and create it again, installed everything, and it worked. So, it seems something with a lib, not only a problem of `install what it is requested` on the terminal.

[2022-11-01 13:16] 21564669 opened #58404 "typo in https://www.tensorflow.org/datasets/catalog/big_patent"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

binary

### Tensorflow Version

2.10

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model a

[2022-11-01 13:36] tilakrayal commented on #58397
@21564669,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

Please feel fre

[2022-11-01 14:33] gsirocco commented on #58206
The inputs and outputs of the model are strictly 0 and 1 values only. Hope this helps clarify. Thanks!
We look forward to any help why the TFLite model is not working like the TF model, if it's some scaling or quantization issue.

[2022-11-01 14:49] #57844 closed

[2022-11-01 15:05] AidanDugganCIT commented on #47554
I have the same Warning when saving and can confirm the model still works as normal when doing inference

[2022-11-01 15:05] cota commented on #57844
@namrata-ibm: can you please test that you can now build with XLA enabled on s390x? Make sure you check out the repo's HEAD -- I just committed what I believe should be the final fix needed. Thanks!

[2022-11-01 15:32] fuzzyswan commented on #58369
@tilakrayal
I think the output is not desired as the GPU outputs nan.

[2022-11-01 16:28] tilakrayal commented on #46123
@tianhuat,
Could you please take a look at the above comment from the developer. Triplet loss needs triplets to work (anchor image, positive image, negative image).
You need to make sure to always get enough triplets when you sample your batches.
If you sample randomly from your dataset, the number of triplets you get depends mostly on your batch_size and num_classes.

For batch_size=16 and num_cl

[2022-11-01 16:51] cantonios commented on #58086
All these `gen_**_ops` get automatically generated from the op definitions, e.g. [nn_ops.cc:870](https://github.com/tensorflow/tensorflow/blob/f56dd27d3e94d15af6ca82e3e5a5c4fbaf34771d/tensorflow/core/ops/nn_ops.cc#L870) for "MaxPool".  The generated python code won't help you much - it just creates a wrapper around a call to the C++ kernel.  The actual kernel that gets called depends on the device

[2022-11-01 17:00] EParisot commented on #47554
thank you @AidanDugganCIT
Im very happy @bersbersbers found a meaning to his/her life !

[2022-11-01 17:34] kun-lu20 commented on #44447
Hi @tilakrayal ,

I am @skribm9 's colleague. Thanks for your response.

Yes, test case `//tensorflow/compiler/mlir/xla/tests/translate:while.hlotxt.test` could pass with both optimized binary and debug binary. We've verified it on v2.9.1.

[2022-11-01 18:13] vinayburugu opened #58407 "How to catch XlaRuntimeError in python"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf2.10

### Custom Code

No

### OS Platform and Distribution

Ubuntu

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

[2022-11-01 18:19] sachinprasadhs commented on #57724
Thanks for reporting the bug, it's strange that it works well when the input is provided is of int64 max value and throws error when the input is greater than max int64 value.
[Here](https://colab.sandbox.google.com/gist/sachinprasadhs/bef0540045f65591a32e4568911c013d/57724.ipynb) is the gist with my observation.
We will look into it. Thanks!

[2022-11-01 18:30] cantonios commented on #57757
`std::pow(1, NaN) = 1` in c++ [[docs](https://en.cppreference.com/w/cpp/numeric/math/pow)].  Looks like XLA is violating this, returning `NaN`.

[2022-11-01 18:34] #58047 closed

[2022-11-01 18:41] JXRiver commented on #53149
Calling numpy on a RaggedTensor will create numpy array of dtype object.
For your example, it could return something like
`(42, array([array([1, 2], dtype=int32), array([3], dtype=int32)], dtype=object))`.

Is this your expected output?

[2022-11-01 21:36] jszaday commented on #57385
Closing this issue since, from this comment, it seems like you have solved the problem 😄 If this interpretation is incorrect, please let us know how we can help from here (and provide the TFv2 colab @tilakrayal requested). Thank you!

[2022-11-01 21:36] jszaday commented on #57385
Closing this issue since, from this comment, it seems like you have solved the problem 😄 If this interpretation is incorrect, please let us know how we can help from here (and provide the TFv2 colab @tilakrayal requested). Thank you!

[2022-11-01 21:36] #57385 closed

[2022-11-01 22:16] mihaimaruseac commented on #58374
Duplicate of #58373

[2022-11-01 22:16] #58374 closed

[2022-11-01 22:22] sachinprasadhs commented on #57520
Thanks for opening the issue.
The implemenatation of raw_ops.floor_div as mentioned in the document is right way and it internally calls` gen_math_ops `code file, which does not use the logic of https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc#L2461-L2467,
However, I have changed the implementation of mlir/tosa floor_div.

[2022-11-01 23:33] sachinprasadhs commented on #57664
If you remove the tf.function when you use run_functions_eagerly(False), both tracing produces the same result.

Below is the modified code and the output.

[code]

[code]

[2022-11-01 23:39] sachinprasadhs commented on #57601
Is it possible for you to try saving the model with latest Tensorflow version and load it using `model.save` and load the model using `tf.keras.models.load_model` and let us know if you still observe the memory leak. Thanks!

[2022-11-02 01:23] matthewfernst opened #58411 "Converting model to frozen pb causes original model to go into an "Invalid State""
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

2.4

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 18.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-11-02 02:50] pranavladkat commented on #58310
Hi,

Is there any progress on this issue?

[2022-11-02 03:34] #58114 closed

[2022-11-02 03:58] tilakrayal commented on #44447
@smit-hinsu @kun-lu20,
Thank you for the confirmation. Glad the issue is resolved for you, please feel free to move this to closed status.

[2022-11-02 04:34] #58117 closed

[2022-11-02 04:34] #56178 closed

[2022-11-02 05:51] mohantym commented on #58402
Hi @Kepnu4 !

Could you confirm that you have followed [CoreML delegate documentation](https://www.tensorflow.org/lite/ios/delegates/gpu#quantized_models)  and used a static batch size instead of
 dynamic batch size for IOS.

[Ref ](https://github.com/tensorflow/tensorflow/issues/56835#issuecomment-1192223899)
A Quantized lite model is always recommended for GPU delegate usage.

Would it be possib

[2022-11-02 06:38] mohantym commented on #58398
@erikbylow-vol !
Thanks for reporting this issue. I could replicate this issue in 2.9, 2.10 and nightly in my Mac M1.

@yishuangP !
Could you look at this issue.

Thank you!

[2022-11-02 06:39] Kepnu4 commented on #58402
Hi @mohantym
I use metal delegate with static input size (i.e batch size, width, height, channels).

Here is the model
[model.tflite.zip](https://github.com/tensorflow/tensorflow/files/9916938/model.tflite.zip)

[2022-11-02 07:11] #58397 closed

[2022-11-02 07:14] #58404 closed

[2022-11-02 07:56] saloni346 commented on #58002
Is this issue still open for contribution? I look forward to contributing to this issue as my first contribution to the Outreachy internship.

[2022-11-02 07:58] sushreebarsa commented on #51508
@pianogGG Could you please refer the comment above and let us know if that helps?
Thank you!

[2022-11-02 08:19] mohantym commented on #58392
Hi @chunky !
Thanks for reporting this issue. I could replicate this issue in Colab and local machine too.
It is throwing "Cmakelist.txt not found" error in my case.

@miaout17 !
Could you check this issue. Attached [gist](https://colab.sandbox.google.com/gist/mohantym/575d2dde07500a63162c4974772bb260/git_58392.ipynb#scrollTo=BvLOPDcQdNaF) for reference.

Thank you!

[2022-11-02 08:23] rrajkumar1990 commented on #58140
@mohantym , Wanted to try using a stable version, but nightly will have everyday updates rite?

[2022-11-02 08:26] 372046933 commented on #32122
`test_seek_v1` works but `test_seek_v2` not
[code]

[2022-11-02 08:33] maybeLee opened #58412 "Inconsistent RMSProp implementation compared with Kingma and Ba paper"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10.0

### Custom Code

No

### OS Platform and Distribution

N/A

### Mobile device

N/A

### Python version

N/A

### Bazel version

N/A

### GCC/Compiler version

N/A

### CUDA/cuDNN version

N/A

### GPU model and memory

N/A

### Current Behaviour?

[code]

### Standalone code to r

[2022-11-02 08:38] SuryanarayanaY commented on #58363
Hi @xiaodathereal,
We are not sure of how GSPMD works and i gone through the link you provided and unable to found any useful insights to address your issue.Please check the content of generated files for any insights.

Could you please confirm details like what strategy you used for distribution computing and how you enabled GPUs for tensorflow etc.
We also recommend to refer an old issue [here](

[2022-11-02 08:40] chenliang110 commented on #58379
Please ask，Do you have idea

[2022-11-02 09:03] gregory2w commented on #52977
ADB is a command-line utility that that can be used to control your device over USB from a computer. It will allow you to install / uninstall and or view logs on your device. This could be very handy when there are issues with a specific app and you like to view the logs for information that may lead to identify the cause of error. In this post, we’ll discuss how to install and use ADB. Installati

[2022-11-02 09:03] maybeLee commented on #58412
I further check with implementation of RMSProp in Keras: https://github.com/keras-team/keras/blob/5ef06f96f1612eb8ded3d00967d26cb29c953d45/keras/optimizers/optimizer_v2/rmsprop.py#L245

The implementation of epsilon in Keras is: $\sqrt{v_t} +\hat{\epsilon}$ instead of $\sqrt{v_t+\hat{\epsilon}}$ implemented in TensorFlow. I guess the TensorFlow's version can be updated?

[2022-11-02 09:23] HounaidaM commented on #58213
Hello
It's OK, I found the error: The problem was in the type and size of the image.
Thanks a lot

[2022-11-02 09:23] #58213 closed

[2022-11-02 09:28] xiaodathereal commented on #58363
Thanks for the answer @SuryanarayanaY. But we still want to reproduce the use cases mentioned in the GSPMD paper.
@ukoxyz could you please check this question?

[2022-11-02 09:33] FannyDuan opened #58413 "crosstool_wrapper_driver_is_not_gcc failed: error executing command"
<details><summary>Click to expand!</summary>

 Issue Type ：Build/Install
 Source ：source
 Tensorflow Version：tf 2.7-rc1
 OS Platform and Distribution：Linux Ubuntu18.06
 Python version：3.9
 Bazel version：3.7.2
 GCC/Compiler version：7.5
 CUDA/cuDNN version：CUDA version : 11.3   cuDNN version : 8.2.1
 GPU model and memory：RTX 3060Ti

### Current Behaviour?
Build keep failing with branch r2.7.
I build

[2022-11-02 09:50] #58352 closed

[2022-11-02 10:15] bhack commented on #58379
Yes, It seems that some convolutional kernels are slower on the AMD GPU. Just taking the first 3 in the log.

AMD Ryzen 5 5600U
[code]

intel(R) UHD Graphics 620

[code]

Are the AMD driver updated?

/cc @roserg

[2022-11-02 10:16] NewUserHa commented on #58032
since https://github.com/tensorflow/tensorflow/pull/58345, Could `tf-nightly` support 3.11 ASAP first?

[2022-11-02 10:18] bhack commented on #58413
I suggest you to use one of the tested build configuration (please check versions):

https://www.tensorflow.org/install/source#tested_build_configurations

Also please try to compile the last stable version TF 2.10.

[2022-11-02 10:22] bhack commented on #58412
I don't understand. There is no TF vs Keras implementation and now the Keras code is in its own repository at https://github.com/keras-team/keras

[2022-11-02 10:45] Janus-Shiau commented on #58376
I test the `tf.saved_model` on tensorflow 2.7 and 2.10 with 2.x lite converter API.
But the error is still not solved.

Our converting code is provided as follows:

[code]

We still have no idea here, thank you for your time and any comment.

[2022-11-02 10:59] meteorcloudy commented on #58168
Looks like this is fixed by https://github.com/tensorflow/tensorflow/commit/4695502cf9ded96ed835ddcb1ec7e7bcb85f3891

[2022-11-02 10:59] #58168 closed

[2022-11-02 11:32] prerakmody commented on #31647
Following @innat's example, I had to move all my internal functions that I wished to plot to the main models `call()` function. My model is an encoder-decoder architecture ([gist](https://gist.github.com/prerakmody/1b6f349db1634846303fac27060805cc#file-model_subclassing-py))

**Initial Visualization**
![OrganNetPool3](https://user-images.githubusercontent.com/2803936/199478897-7027e461-24cb-4815-9

[2022-11-02 11:38] chenliang110 commented on #58379
I see th AMD  driver :  (AMD Radeon(TM) Graphics)
driver provider : Advanced Micro Devices,Inc.
driver program date : 2021/12/7
driver program version: 30.0.13044.0

this driver program date is relatively new.

[2022-11-02 11:42] bhack commented on #58412
Can you show me the line? I see `epsilon` outside of `sqrt`

[2022-11-02 11:47] bhack commented on #58379
The last release I see on Linux is June 2022:

https://www.amd.com/en/support/kb/release-notes/rn-amdgpu-unified-linux-22-20

[2022-11-02 12:04] maybeLee commented on #58412
As I mentioned in the main body of this issue, please check this line:
https://github.com/tensorflow/tensorflow/blob/cc3ea640850863e3762bfea824e4459a90d7564d/tensorflow/core/kernels/training_ops.cc#L904

[2022-11-02 12:12] chenliang110 commented on #58379
I just update driver to
driver program date :  2022/4/28
driver program version: 30.0.15021.11005
,GPU time is not change

[2022-11-02 12:14] bhack commented on #58392
@mohantym Your gist has many errors/typo like:
[code]
and you have not replicated the user output as you have instead:
[code]
cause you are working on the wrong directory.

@chunky I can use `ccmake` without problems with a reproducible env:
[code]

[2022-11-02 12:27] tilakrayal commented on #58411
@matthewfernst,
I was facing a different error while executing the mentioned code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/570a37623a387d49de4305e95a96c012/untitled727.ipynb) and share the required dependencies. Thank you!

[2022-11-02 12:33] YinuoWen commented on #47554
'tf' format saved model worked  and no warning in  tf version==2.7.0 before, but have same warning issue in 2.9.0 and colab. The saved model does can works normally.

[2022-11-02 12:36] bhack commented on #58379
driver program date : 2022/4/28
driver program version: 30.0.15021.11005
,GPU time is not change

OK thanks. Let see if we have any feedback from the TFlite team about this performance gap.

[2022-11-02 12:44] bhack commented on #58412
But in the optimizer is external.

https://github.com/tensorflow/tensorflow/blob/3759a403a7e00a373e6e5f9154e6a15e291ff123/tensorflow/python/keras/optimizer_v2/rmsprop.py#L270-L272

So in the optimizer we are in formula before 2.1. I think in the `training_ops` you are in the Algorithm 1 section of the paper.

[2022-11-02 12:56] tilakrayal commented on #43476
@ichernob,
I tried to execute the provided code as mentioned and it failed with the different error. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/082b920884d8a9689af835da621f7bde/untitled726.ipynb) and confirm whether the issue got resolved on tf-nightly. Thank you!

[2022-11-02 13:09] bhack commented on #58407
I don't think it is exposed currently.
What is your use case?

Jax it is handling it internally:
https://github.com/google/jax/blob/main/jax/_src/stages.py#L191-L204

[2022-11-02 13:19] bhack commented on #58402
@Kepnu4 What static input size have you used?

https://github.com/tensorflow/tensorflow/issues/37012#issuecomment-652682677

[2022-11-02 13:26] Kepnu4 commented on #58402
It's `[3x256x256x5]`. I have static batch size  because channel is a sample in my case and it's always 3. If i convert with static size `[1x256x256x5]` and pass channel by channel then it works fine

[2022-11-02 13:42] bhack commented on #58402
Isn't expected that the layout is `B, C, H, W`?

[2022-11-02 13:46] bhack commented on #58402
Check https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/performance/coreml_delegate.md#supported-ops

[2022-11-02 14:25] Kepnu4 commented on #58402
I don't use CoreML delegate. I use metal delegate

[2022-11-02 14:37] Kepnu4 commented on #58402
Where do you see it? As see `BHWC` layout:
[code]
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/metal/kernels/conv_test.mm#L262

[2022-11-02 14:44] bhack commented on #58402
No, I meant that looking at metal test is the same "as your"  `[3x256x256x5]`  `[1x256x256x5]`.

So `[1x256x256x5]` is working correctly and `[3x256x256x5]` is failing right?

[2022-11-02 14:46] berndporr commented on #58247
Hang in there. Server with the GPU card has been playing up. Now with new power supply!

[2022-11-02 15:03] mohantym commented on #58379
Hi @chenliang110 !
I will post my observations after trying [rocm-build ](https://pypi.org/project/tensorflow-rocm/)in my local amd machine  (amd64 radeon graphics).
Thank you!

[2022-11-02 15:05] matthewfernst commented on #58411
@tilakrayal Sorry about that! I created a gist [here](https://colab.research.google.com/gist/matthewfernst/98743463177ee1d85bb4870bb454b79c/untitled727.ipynb) detailing the issue. This is with TF 2.9.2 and it's still having the same issue. Maybe I'm doing something wrong? Thank you for your help!

[2022-11-02 15:07] bhack commented on #58379
@mohantym Ok but we are talking here about TFlite.
But if @chenliang110 is not strictly interested in TFlite I suppose it is another ticket.

[2022-11-02 15:22] tanzhenyu commented on #48881
+1. This is a feature request, I believe it'd be really beneficial to users if profiling team can support this.

[2022-11-02 15:22] mohantym commented on #58379
@bhack!
But I ROCM-Builds suits best for running Tensorflow in AMD machines. So I guessed that might be the reason behind the slow performance time while benchmarking the lite model.

Thank you!

[2022-11-02 15:30] bhack commented on #58379
Sure but these kernel are really different from the Opencl kernels in TFlite.. I don't think that we will add something  useful other then "if you don't need to use TFlite for your project use regular TensorFlow".

@chenliang110  If you are not constrained to use TFlite for you project you could work with regular [TF with ROCm](https://pypi.org/project/tensorflow-rocm/)

[2022-11-02 15:32] cantonios commented on #58002
Sounds great to me.  If you create a PR you can ping my username and I will review.

[2022-11-02 15:38] Kepnu4 commented on #58402
i can't shuffle channels because i will need to change network architecture

yes, right.

i can see that it's failing at his line with node name `"winograd_4x4_to_36 15"`
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/common/task/tensor_desc.cc#L981

[2022-11-02 16:00] cantonios commented on #58334
TF uses the same algorithm as JAX, so not the recursive blocking method.  The paper reference is quoted in the TF docs for [`tf.linalg.sqrtm`](https://www.tensorflow.org/api_docs/python/tf/linalg/sqrtm).

[2022-11-02 16:03] mohantym commented on #58392
Ok @bhack !
Thanks for correcting me again.

[2022-11-02 16:16] bhack commented on #58392
Yes but it was not the problem, the problem is that you was in a folder where the parent you have referred `..` has no  `CMakeLists.txt` that it is exactly the output message it gives your colab.

So probably you want to do something like `cmake ../..` in your gist instead.
But it is generally better to build in an external directory as suggested by our official documentation https://www.tensorflo

[2022-11-02 16:17] cantonios commented on #58334
TF just calls Eigen's matrix sqrt [here](https://github.com/tensorflow/tensorflow/blob/38a677b555140410598603ff15abbe408b252e40/tensorflow/core/kernels/linalg/matrix_square_root_op.cc#L45).

I don't think we have that in Eigen either.

[2022-11-02 16:29] bhack commented on #58334
So, probably still waiting on https://gitlab.com/libeigen/eigen/-/issues/840

[2022-11-02 17:19] Muskaan4299 commented on #15557
Is this issue still open for contribution? I look forward to contributing to this issue as my first contribution to the Outreachy internship.

[2022-11-02 17:34] #58108 closed

[2022-11-02 18:34] #57755 closed

[2022-11-02 18:34] #58142 closed

[2022-11-02 18:47] sachinprasadhs commented on #57601
Try saving the model in Tensorflow version 2.5 and above, for migrating your 1.x code to 2.x, you can follow https://www.tensorflow.org/guide/migrate

[2022-11-02 19:34] #57946 closed

[2022-11-02 19:34] #57889 closed

[2022-11-02 19:34] #57823 closed

[2022-11-02 20:05] sachinprasadhs commented on #58053
Thanks for reporting the issue, I have updated the document with the above PR to show the list of supported dtypes in the args.

[2022-11-02 20:19] cantonios commented on #58053
We don't have comparisons for complex types, so there is no real "minimum" or "maximum" value at which to saturate.

What is your intention here?

[2022-11-02 20:43] feranick opened #58419 "TF 2.11.0-rc2 fails to compile on Linux with GPU support due to error related to CUDA tensorRT"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.11.0-rc2

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.10.6

### Bazel version

5.3.0

### GCC/Compiler version

11.3.0

### CUDA/cuDNN version

11.8

### GPU model and memory

NVidia GeForc

[2022-11-02 20:46] feranick commented on #58419
Note: TensorRT version 8.5.1.7-1+cuda11.8 is the only one available on NVidia's repository, regardless of the CUDA version. This means that this will be the only installable version, and no previous versions are available.

[2022-11-02 21:03] sachinprasadhs commented on #58027
Negative value in the `seq_axis` is handled in the code and it returns the InvalidArgument Error, below is the code and the output for that.
[code]

`InvalidArgumentError: Invalid seq_dim -1 [Op:ReverseSequence]`

[2022-11-02 21:11] sachinprasadhs commented on #57919
Apologies for the delayed response, if you are looking for the custom OP which has to perform on specific device like CPU, you need to register OP for CPU kernel only. You can refer the template [here](https://github.com/tensorflow/custom-op#template-overview) for reference. Thanks!

[2022-11-02 21:15] bhack commented on #58419
/cc @MichaelHudgins

[2022-11-02 21:34] #58096 closed

[2022-11-02 21:55] wangpengmit commented on #57390
You need to call `tf.experimental.numpy.experimental_enable_numpy_behavior`, which will add `ndim` to `Tensor`. Please see [the TF NumPy guide](https://www.tensorflow.org/guide/tf_numpy).

[2022-11-02 22:10] sachinprasadhs commented on #57902
`compat.v1` API's are no longer under support, could you please try `tf.nn.embedding_lookup` and let us know if you observe the similar behavior. Thanks!

[2022-11-02 22:21] amyb12345 opened #58421 "Feature Request - Tensorflow Docker Extension"
### Describe the problem
Feature request: Hi, I am the product manager for Docker Extensions. We've been getting some requests from Docker users to see a Tensorflow Docker Extension. The most common reason for this request is that the user does not want to install Tensorflow locally. I am opening this feature request so that the larger Tensorflow community can determine how helpful this would be a

[2022-11-02 22:23] sachinprasadhs commented on #57960
When we find out the difference between the both using` print(np.subtract(output1, output2))`.
The difference between two arrays is very small and it can be ignored as precision error.

[2022-11-02 22:24] sachinprasadhs commented on #57961
Could you please refer the comment [here](https://github.com/tensorflow/tensorflow/issues/57960#issuecomment-1301418837). Thanks!

[2022-11-02 23:16] dixr commented on #57390
@wangpengmit Can you justify why this is really the best solution? Why not change the use of `.ndim` in `kron`?

I mean, none of all the other functions in `np_math_ops.py` require `.ndim`, they all call some alternative rank functions that don't produce this error.

If for some reason `kron` really has to use `.ndim` instead of an alternative, then you should make the error message more helpful.

[2022-11-02 23:21] Leonamrsm commented on #58086
@cantonios
Thanks for the answer. I believe this solution should work for me. I will follow the [guide ](https://www.tensorflow.org/guide/create_op )to create a custom operation.

[2022-11-03 00:01] wangpengmit commented on #57390
Please see comment in #57506.

[2022-11-03 00:45] FannyDuan commented on #58413
Thank you! I'll give it a try.

[2022-11-03 01:14] karllessard opened #58423 "Delete the old Java client from TensorFlow main repository"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf2.10

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and

[2022-11-03 01:14] karllessard commented on #58423
CC\ @bhack , @craigacp

[2022-11-03 01:15] karllessard commented on #58423
This template is not right for this kind of demand, closing this and starting from a blank form...

[2022-11-03 01:15] #58423 closed

[2022-11-03 01:16] karllessard opened #58424 "Deleting legacy Java client from TensorFlow main repository"
TensorFlow main repository still contains the old [Java client](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java) based on TF1.x that has been replaced a few years ago by the [new version](https://github.com/tensorflow/java) maintained by SIG-JVM.

This is very misleading for users who wants to discover the capabilities of running TensorFlow models on Java (just this week a new

[2022-11-03 02:34] #58135 closed

[2022-11-03 02:39] suggfudge commented on #58333
was I supposed to restart the kernel after making the changes?

[2022-11-03 03:14] chenliang110 commented on #58379
I use tflite model .         IF use the TFlite2.10 to compile benchmark on PC,  can also test performance. I’m not sure the tflite2.10 is or not exist this problem.

[2022-11-03 03:17] maybeLee commented on #58412
Hi @bhack

If I understand the code correctly, RMSprop has two mode: with momentum and without momentum.
If RMSprop is executed without momentum, implementation in the optimizer will be executed where the epsilon is external: https://github.com/tensorflow/tensorflow/blob/3759a403a7e00a373e6e5f9154e6a15e291ff123/tensorflow/python/keras/optimizer_v2/rmsprop.py#L216

If RMSprop is executed with momen

[2022-11-03 03:35] feranick commented on #58368
Bug persists with TF 2.11-rc2 and stable release of XCode 14.1.

[2022-11-03 03:56] mohantym commented on #58392
Hi @chunky !
Can you check again with below syntax.
[code]
[Ref.](https://github.com/tensorflow/tensorflow/issues/58392#issuecomment-1300253682)

Thank you!

[2022-11-03 04:41] #58000 closed

[2022-11-03 05:09] #58378 closed

[2022-11-03 05:09] RenuPatelGoogle commented on #58378
Sure, Thank you Tilak!

[2022-11-03 05:59] vinayburugu commented on #58407
@bhack  Since XLA is common to both Tensorflow and Pytorch, accessing XlaRuntimeError and able to throw / catch will enable me to rethrow relevant message that the exception root cause is within XLA and not the framework.
@mohantym I don't think [1](https://www.tensorflow.org/api_docs/python/tf/xla/experimental/jit_scope) and [2](https://www.tensorflow.org/xla/custom_call#signalling_an_error) woul

[2022-11-03 06:01] mohantym commented on #58407
Ok @vinayburugu !
Thanks for the update.

@sushreebarsa !
Could you look at this issue.

Thank you!

[2022-11-03 06:30] mohantym commented on #58333
@suggfudge !
Sorry for the late response.
Attached alternate notebooks for object detection for you reference.
[1](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2.md), [2.](https://www.tensorflow.org/hub/tutorials/object_detection)

Please post on TF forum for further assistance.

Thank you!

[2022-11-03 06:34] #29666 closed

[2022-11-03 06:40] #58387 closed

[2022-11-03 07:33] timedcy commented on #47554
i have the same problem, but change `Layer` to `Model`, the warnings will disappear, like

[2022-11-03 08:27] mohantym commented on #58395
Hi @ductranit !

Could you confirm that you have added the TFLiteswift and TFSelectops to pod file and  force loaded the select ops frame work to your Xcode project (Build Settings -> Other Linker Flags).
[Ref ](https://www.tensorflow.org/lite/guide/ops_select#ios)

Thank you!

[2022-11-03 08:34] bhack commented on #58424
/cc @theadactyl

[2022-11-03 08:39] mohantym commented on #58413
@FannyDuan !
Please let us know after testing with tested config. ( GCC 9.3.1 ,  Bazel 5.0.0 with 2.10 ) .
Thank you!

[2022-11-03 08:41] bhack commented on #58379
We always suggest to test the last available version for bug reports. Can you test 2.10 and 2.11rc2?

if still confirmed on the last releases, it would be nice if you can replicate it on the master branch.

[2022-11-03 08:46] ductranit commented on #58395
hi @mohantym, yes, I did add force load in other linker flags
[code]
And version `2.6.0` is working fine on my M1 mac. This issue only happens on `2.10`

[2022-11-03 08:54] rrajkumar1990 commented on #57601
Hi Team ,  I am also facing a similar issue .  I have a tensorflow v1  trained model with Retinanet architecture .  The model  training and inference code have been  ported to tensorflow v2 through the compat.v1 apis.

Issue :
 I run my model inference inside a docker container with memory 1.5gb.
When I load the model in memory , and  I could see that the docker memory is getting occupied (around

[2022-11-03 08:58] bhack commented on #58412
The C++ code there is quite old, let see if we could double check it again to evaluate numerical differences.

[2022-11-03 08:59] mohantym commented on #58376
Ok @Janus-Shiau !

Would it be possible to share a sample saved model to replicate the issue.
Another issue might be usage of dynamic batch size (static batch size or batch size = 1) or invalid data format ( NHWC to NCHW is efficient ) in model itself.
[Ref ](https://blog.tensorflow.org/2022/06/Profiling-XNNPACK-with-TFLite.html#:~:text=inference%20and%20detailed%20performance%20information.%20The

[2022-11-03 09:04] mohantym commented on #58395
Ok @ductranit !
Thanks for the update.  Feel free to check in nightly version too.

@sachinprasadhs !
Could you look at this issue.

Thank you!

[2022-11-03 09:21] mohantym commented on #40538
Hi @kinos9 !

We are checking to see whether you still need help in this issue .
Have you run the inference with the wheels from this  [document ](https://www.tensorflow.org/install/lang_c) with 2.10 version.

Thank you!

[2022-11-03 09:45] Janus-Shiau commented on #58376
I can provide a tester model for you, which contains similar the above error:

[code]
The model download link:
https://drive.google.com/file/d/19XB3XwbvfhmsvFJ_SKuDQi_QgN5L--2t/view?usp=share_link

[2022-11-03 09:49] sushreebarsa commented on #23900
@SumNeuron Estimators are deprecated so those are not recommended for new code. Could you please have a look at [this](https://www.tensorflow.org/guide/estimator) and let us know if it helps?
Thank you!

[2022-11-03 10:50] alkatar21 opened #58428 "I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:980] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

binary

### Tensorflow Version

2.10.0

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04.4 LTS

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA Version: 11.6

### GPU model and mem

[2022-11-03 10:53] namrata-ibm commented on #56892
Thank you @Craigacp for confirming.

[2022-11-03 10:53] #56892 closed

[2022-11-03 11:01] anirban-mu commented on #41898
Has there been any update on this issue? It would be very useful to know a little bit more about how we can either avoid this issue when developing our model.

[2022-11-03 11:05] anirban-mu commented on #53160
Has there been any update on this issue? It would be very useful to know a little bit more about how we can either avoid this issue when developing our model.

[2022-11-03 11:08] cheshire commented on #58030
@MThalberg what is the expected comparison semantics for complex numbers?

@smit-hinsu either way, seems like a bridge issue?

[2022-11-03 11:12] bhack commented on #58428
This logic now was moved here:

https://github.com/tensorflow/tensorflow/blob/4432e35cb20a6cc42a14ef539cf7fdc4fefcda29/tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc#L951-L1004

As you can see there is a mentioned internal ticket http://b/18228951 that is not accessible to the external users.

But you could understand a bit the logic of this code with:
https://stackoverflow.com/

[2022-11-03 11:17] bhack commented on #58424
P.s. I suggested to open an initial Issue (this) and PR sin the last SIG-JVM meeting.

The first one is at:
https://github.com/tensorflow/tensorflow/pull/58427

[2022-11-03 11:23] MuellerJY opened #58429 "Confusing Problems(Not a ndarray) occur when training wGAN with tensorflow.keras API : train_on_batch"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf2.4.0

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

Cuda compilation tools, release 11.1, V11.1.74;

### G

[2022-11-03 11:44] penpornk commented on #57095
Sorry for the delay! I could reproduce the issue on a Windows laptop, however, I can't reproduce it on a GCP Windows Server instance -- the plug-in didn't detect any GPUs. Do I need to install additional drivers on there?

Re: @sagunb:

Yes, I looked into creating mock tests to repro the issue in Linux, but the code requires too many ops to cover with a mock PluggableDevice. Also, the issue seems

[2022-11-03 11:47] bhack commented on #58428
Check https://github.com/tensorflow/tensorflow/pull/58430

[2022-11-03 11:58] mohantym commented on #58429
Hi @MuellerJY !
2.4 version is outdated now. I would suggest you test in 2.9/2.10 version.
If the error persists, you can use make_ndarray to convert the tensors to nd array prior training.

Please post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues) for further assistance.
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-i

[2022-11-03 12:25] #57637 closed

[2022-11-03 13:01] bhack commented on #58407
I think it was exposed in Jax with https://github.com/google/jax/pull/10676.

Is this really a TF related request? If not XLA has a new standalone repository at https://github.com/openxla/xla.

[2022-11-03 13:05] MarkKocherovsky commented on #58373
So should I manually downgrade to 11.2?

[2022-11-03 13:08] wowhhh opened #58431 "Why my code get better f1_score on older versions"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10.0 , 2.7.0, 2.4.0

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.7.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[

[2022-11-03 13:22] bhack commented on #58431
Your code is not accessible.
Please can you try also with the last stable version TF 2.10?

[2022-11-03 13:34] SumNeuron commented on #23900
@sushreebarsa sure, but it also has been four years and it just required exposing an argument...

[2022-11-03 13:39] namrata-ibm commented on #57844
Thanks @cota , Above reported error doesn't occur anymore. Thank you!

[2022-11-03 13:50] wowhhh commented on #58431
Thanks for your quick reply! I modified the access permission. [colab code](https://colab.research.google.com/drive/1BWZMI7uPmYfOgobBHRH0H2q3WXOSmdDn?usp=sharing)

Besides, I test it with TF 2.10 and the F1 score is  0.6031746031746031.

[2022-11-03 13:58] csn1800 opened #58432 "Issues with Tensorflow benchmark tool on OpenCL C 1.2"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: No
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: Khadas Vim3
-   **TensorFlow installed from (source or binary)**: Source
-   **

[2022-11-03 14:09] bhack commented on #58432
Can you reproduce the same error with the last stable release 2.10/2.11-rc2?

[2022-11-03 14:20] wowhhh commented on #58431
Hi!
- [x] refactor the colab with the new imports
- [x] upload datset
[Download dataset](https://github.com/tensorflow/tensorflow/files/9929997/dataset.zip)

[2022-11-03 14:23] alkatar21 commented on #58428
I'm not sure I understand why this is not set correctly on the PC the container is running on, but I understand where the problem is and the note may help a bit.

[2022-11-03 14:27] bhack commented on #58428
From https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355

Date:		Oct 2014
Contact:	Prarit Bhargava <prarit@redhat.com>
Description:
		This file contains the NUMA node to which the PCI device is
		attached, or -1 if the node is unknown.  The initial value
		comes from an ACPI _PXM method or a similar firmware
		source.  If that is missing or incorrect, this

[2022-11-03 14:36] alkatar21 commented on #58428
This is the note I meant. I just don't understand why it happens in my case that the file is not correctly filled with 0. Everything should be up to date.

[2022-11-03 14:55] bhack commented on #58431
It is hard to compare results between TF version with you notebook as if you see your code gives different results with the same TF version across multiple runs.
Other then seeds you need probably to remove other random sources for a reproducible experiment.
When you will reproduce the same results across multiple run on the same TF version we could check if there is really a numerically relevant

[2022-11-03 14:58] bhack commented on #58392
@chunky This is why I have asked you to try to reproduce the same with a controllable environment like docker so we are for sure exactly on the same page.

If you don't want to use a clean/under control environment please check that your custom env respect the tested build configuration:

https://www.tensorflow.org/install/source#tested_build_configurations

`identification is GNU 11.3.0` is not i

[2022-11-03 15:10] bhack commented on #58428
As you car read there if you manually access to that sysfs on the host and it is `< 0` it could be a firmware issue. You can use the suggested workaround and report it to your PC/laptop/server vendor as it is probably a firmware bug.

[2022-11-03 15:23] tanzhenyu commented on #48845
TF 2.10 + running locally = issue is still here

[2022-11-03 15:30] ductranit commented on #58395
Just notice that I got the same error on nightly build `0.0.1-nightly.20221102`

[2022-11-03 15:44] thierryherrmann opened #58433 "OperatorNotAllowedInGraphError: using random seed in tf.function"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

binary

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.1.74 / 8.0.5

### GPU model

[2022-11-03 16:03] wowhhh commented on #58431
Hello, I try to set the random seed using this approach.
https://github.com/keras-team/keras/issues/2743#issuecomment-904169662
[code]
I added ```shuffle = False``` in ```model.fit()```. And I executed the code five times with TF 2.10 but it gave the same result which is 0.5364372469635627.
It' s weird why the results of your tests are inconsistent. Can you run it several times to see if there are

[2022-11-03 16:10] berndporr commented on #58247
Now I'm getting this protobuf related error:
[code]

[2022-11-03 16:13] bhack commented on #58247
I think we are using https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/release/requirements_common.txt#L12

[2022-11-03 16:40] berndporr commented on #58247
[code]
and
[code]
@bhack that's done the trick. Thank you. Now building the wheel.

[2022-11-03 16:44] cantonios commented on #58086
Marking as closed then.  For the slow transpose issue, if it's a blocker, please re-open #13017.

[2022-11-03 16:44] #58086 closed

[2022-11-03 16:46] berndporr commented on #58247
[code]
No idea what that means but hope that's OK!

[2022-11-03 16:46] bhack commented on #58431
Ok,  now I see the difference with 2.4.0.
I got very similar results also with TF 2.10 and TF Nightly (`f1_score:  0.5369807497467073`)

I think that you can reopen this ticket in the Keras repo   https://github.com/keras-team/keras.

[2022-11-03 16:48] bhack commented on #58247
@berndporr Yes it is ok that one is https://github.com/tensorflow/tensorflow/issues/58428

[2022-11-03 17:02] bhack commented on #58247
Can we close this?

[2022-11-03 17:04] mihaimaruseac commented on #58180
This is a real issue that used to be considered a vulnerability but due to large number of occurences versus limited impact it was decided to only consider it a bug. Please don't autoclose these types of issues.

[2022-11-03 17:05] mihaimaruseac commented on #58177
This is a real issue that used to be considered a vulnerability but due to large number of occurences versus limited impact it was decided to only consider it a bug. Please don't autoclose these types of issues.

However, please do check if these are happening in tf-nightly. If they don't, then the issue can be closed.

[2022-11-03 17:05] mihaimaruseac commented on #58032
The infra team needs to create jobs for the nightly jobs. CC @learning-to-play @angerson @nitins17

[2022-11-03 17:07] mihaimaruseac commented on #32122
I think `test_seek_v2` is actually correct. You are opening the file only for writing so of course you should not be able to read from it

[2022-11-03 17:11] csn1800 commented on #58432
Unable to build benchmark tool for 2.10 version, though using the same build command:

[code]

[2022-11-03 17:12] YuchengT opened #58434 "Worker nodes exits early in MultiWorkerMirroredStrategy, causing error task reported on chief node."
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.10.0

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

5.1.1

### GCC/Compiler version

9.4.0

### CUDA/cuDNN version

11.8/8.6

### GPU model and memory

320G

### Current Be

[2022-11-03 17:27] feranick commented on #58419
BTW compilation proceeds fine when TensorRT support is disabled when running `./configure' before compilation.

[2022-11-03 17:28] sachinprasadhs commented on #58419
@bixia1 , Could you please look at this issue and provide your input. Thanks!

[2022-11-03 17:32] bhack commented on #58419
Just to not that the `switch` compiler flag was introduced quite recently in TF:

https://github.com/tensorflow/tensorflow/commit/16e2157e9279541e99dd8fdeb3d5b9e80dcc90b8

[2022-11-03 17:43] bhack commented on #58432
Are you using one of the tested build env version?

https://www.tensorflow.org/install/source#linux

[2022-11-03 17:55] csn1800 commented on #58432
The system has a GCC 9.3.0 compiler `aarch64-linux-gnu-gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0`, still tensorflow build downloads and uses:

`aarch64-linux-gnu-gcc (GNU Toolchain for the A-profile Architecture 8.3-2019.03 (arm-rel-8.36)) 8.3.0`

Bazel and Python are having the required versions.

[2022-11-03 17:58] berndporr commented on #58247
Yes! :)

[2022-11-03 18:09] #58247 closed

[2022-11-03 18:15] eirism commented on #32122
The `+` argument to the built in `open()` function means that the file should be opened for updating (reading and writing), see the [docs](https://docs.python.org/3/library/functions.html#open). So the `w+` mode of the built in `open()` function means to open the file for reading and writing and truncating it first. I do not see any documentation of the `mode` parameter for `tf.io.gfile.GFile` in

[2022-11-03 18:44] Lokiiiiii commented on #58407
@bhack Though the exception is defined in xla, it seems to be up to every front-end framework to expose the exceptions as you pointed out. The request here is specific to TensorFlow's front-end.

@vinayburugu You should file an issue with XLA to make this contract between compiler and front-end simpler. If XLA standardizes its exception definitions under one easy to import module, front-ends can e

[2022-11-03 19:03] csn1800 opened #58435 "Unable to build Tensorflow lite OpenCL delegate for Open CL 1.2"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.8

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

Khadas Vim 3

### Python version

3.8

### Bazel version

4.2.1

### GCC/Compiler version

8.3.0

### CUDA/cuDNN version

NA

### GPU model and memory

Vivante NPU (VIPNano-Q)

[2022-11-03 19:06] aliashori75 opened #58436 "@aliashori75"
@aliashori75
Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) and elaborate about your issue.
I was able to execute the given code snippet without any error on Colab using TF v2.10. Please find gist [here](https://colab.research.google.com/gist/tiruk007/2fb83dfb02ff71ef212749a877cc0ce4/58374.ipynb) for reference.

Thank you !

_Originally posted

[2022-11-03 19:14] huan1372 commented on #58053
The saturate_cast function will use  minimum value which not implemented in complex type as you said, but in the documentation of saturate_cast, it did not said we cannot use complex dtype. Thats why I suggest change the documentation for saturate_cast.

[2022-11-03 19:16] bhack commented on #58374
And now posted again at https://github.com/tensorflow/tensorflow/issues/58436

[2022-11-03 19:28] feranick commented on #58419
Indeed, compiling is successful (in the sense that it is completed), without the new `switch` compiler flags in `.bazelrc`.

[2022-11-03 19:30] cantonios commented on #58053
The documentation doesn't list any types at all.  That doesn't mean it supports all types.  I'm wondering why this is important.  Did you actually intend to use `saturate_cast` on a complex type? and if so, what is your desired outcome?

We don't typically list all the types an op supports unless we have good reason.

[2022-11-03 19:39] huan1372 commented on #58053
Yes,  I am actually doing saturate_cast on the complex type and got an error saying that min value is not supported and when I try to search documentation online, there is little info regarding this function. So I do think it is important to explain more in saturate_cast args otherwise someone else may get an unexpected error from math_ops.py and take time to debug.

Apart from user side, I am als

[2022-11-03 19:42] huan1372 commented on #58053
In the documentation, it said This function casts the input to dtype without applying any scaling.
I want to cast a complex type to float type.

[2022-11-03 19:46] misterBart commented on #58050
Thanks for your message.

`tensorflow/lite/logger.h` is not part of TfLite 2.10
I therefore installed the master branch
I added to the code in my opening post:
`#include <tensorflow/lite/logger.h>`
and at the start of main function:
`tflite::LoggerOptions::SetMinimumLogSeverity(tflite;;TFLITE_LOG_ERROR)`

But I now get the error:
[code]

Has the namespace changed w.r.t. TfLite 2.10? The current do

[2022-11-03 19:48] cantonios commented on #58053
So does `tf.cast`.  The difference is that if the input doesn't fit within the range of the output, it clips the values into a finite range instead of converting to `inf`.

Casting from complex to real will produce a warning.  If you want the real component, you should use `tf.math.real`.  You can saturate-cast on that if you like, for example if trying to cast from `tf.complex128` to `tf.float32`

[2022-11-03 19:49] #58107 closed

[2022-11-03 19:50] bhack commented on #58419
That it is why I've mentioned @MichaelHudgins in the previous comment.

[2022-11-03 19:51] huan1372 commented on #58053
I totally get your point, but why this could not be added in the documentation?  If not adding in documentation, where could we found those information?

[2022-11-03 19:51] MichaelHudgins commented on #58419
Thanks for the ping, let me look into it.

[2022-11-03 19:53] mihaimaruseac commented on #58436
Please stop spamming with duplicate issues or we might be required to block you from the org.

Closing as duplicate of #58374

[2022-11-03 19:53] #58436 closed

[2022-11-03 19:57] cantonios commented on #58053
"Cast" has as very specific meaning.  Is the confusion in documentation about what the purpose of "cast" is?  Is the confusion how to extract the real component of a complex tensor?  That's why I'm trying to understand what the use-case is.

Simply listing "cannot be used for complex types" wouldn't help you accomplish what you're trying to do.

[2022-11-03 20:01] bhack commented on #58433
[code]
is working for me. See https://colab.research.google.com/gist/bhack/815bd1283b4de03f21702c627919047e/untitled181.ipynb

[code]

Is failing cause autograph is not going to covert correctly this condition

https://github.com/tensorflow/tensorflow/blob/bf22440f8485b5af3823cdd1b32b52cbce15b487/tensorflow/python/framework/random_seed.py#L89-L91

[2022-11-03 20:04] huan1372 commented on #58053
The tf.cast documentation does not have any confusion here: https://www.tensorflow.org/api_docs/python/tf/cast
It mentioned everything I need and I am wondering why there is no link to cast from saturate_cast or any explanation like that?:

The operation supports data types (for x and dtype) of uint8, uint16, uint32, uint64, int8, int16, int32, int64, float16, float32, float64, complex64, complex1

[2022-11-03 20:27] bhack commented on #58433
Basically It is like

[code]

[2022-11-03 21:02] #57934 closed

[2022-11-03 22:26] bhack commented on #48845
Reproduced on nightly
https://colab.research.google.com/gist/bhack/88a2baa9c31788dc4e5bf6275929563c/bn-issue.ipynb

[2022-11-03 22:43] freedomtan commented on #58368
FYR, mostly, this is a bug of Xcode 14.x (or more specifically ld? There were some new changes in ld. It failed to build gcc with some early Xcode 14 versions). I ran into this problem since early Xcode 14 betas.

I could build TensorFlow with Xcode 13.x on macOS Monterey (12.x) without problems. When I tried to build it with Xcode 14 on macOS 12.x, it failed.

[2022-11-03 23:24] sirakiin commented on #58050
No, there's no change to the BuiltinOpResolver.

Can you use and build from r2.11 branch of Tensorflow? 2.11 includes the TfLite logger options.

https://github.com/tensorflow/tensorflow/blob/r2.11/tensorflow/lite/logger.h

[2022-11-03 23:41] mraunak opened #58442 "TIMEOUT while running the Bazel Tests on windows"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.11

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.10

### Bazel version

5.1

### GCC/Compiler version

MSVC

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Beha

[2022-11-03 23:47] garrettkajmowicz opened #58443 "Request Tensorflow Docker container be expanded to support running all models."
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

binary

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 22.04 LTS

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model

[2022-11-04 00:02] #53822 closed

[2022-11-04 00:31] PatriceVignola commented on #57095
I'm not able to repro with this exact code on WSL. I think the crash is dependent on which operators are implement in the device and which ones fall back to the CPU. For example, in this repro, the plugin doesn't have `UnsortedSegmentSum` implemented (yet).

I'm relatively confident that this crash isn't caused by our plugin. TensorFlow core calls the `memcpy_htod` function, but with a pointer tha

[2022-11-04 00:52] bhack commented on #58443
I think that the original "research" Dockerfile is in this repository:

https://github.com/tensorflow/models/blob/master/research/object_detection/dockerfiles/tf2/Dockerfile

Also the new model garden object detection is at:
https://github.com/tensorflow/models/tree/master/official/vision#object-detection-and-instance-segmentation

We are also building object detection in Keras-cv:
https://github.

[2022-11-04 01:01] bhack commented on #58442
Do you have access to the specific log?

E.g.   `C:/67cictjz/execroot/org_tensorflow/bazel-out/x64_windows-opt/testlogs/tensorflow/examples/custom_ops_doc/multiplex_3/multiplex_3_test/test.log`

[2022-11-04 01:02] #57990 closed

[2022-11-04 01:03] bhack commented on #58435
Source https://github.com/tensorflow/tensorflow/issues/58432#issuecomment-1302422753

[2022-11-04 01:20] mohantym commented on #58429
Ok @MuellerJY !
Thanks for the update. Closing this issue here as it will be tracked in [Keras ](https://github.com/keras-team/keras/issues/17212 repo.

Thank you!

[2022-11-04 01:20] #58429 closed

[2022-11-04 01:33] mohantym commented on #58392
Thanks @chunky!  for the confirmation.
Marking this issue as resolved as you have confirmed that you could build with tested config in above[ comment](https://github.com/tensorflow/tensorflow/issues/58392#issuecomment-1302357022).
Thank you!

[2022-11-04 01:33] #58392 closed

[2022-11-04 02:26] mohantym commented on #58433
Hi @thierryherrmann !
I think I found the issue here . Actually, you are passing a non integer seed in the tf.random.set_seed which is causing the issue. If only integer value are passed in above reproducible code snippets, I can get the expected values.

Attached resolved [gist](https://colab.sandbox.google.com/gist/mohantym/48e9fa5b2cc6c43f9c664c29a8503a31/git_58433.ipynb#scrollTo=9gDOcl7wcutQ)

[2022-11-04 03:02] #58119 closed

[2022-11-04 03:35] zcase commented on #56753
Wanted to see if there was any update here.

I am running tensorflow lite version 2.10.0 and for a native C++ object detection app and getting similar issues when running on the GPU with not only a custom model but a model downloaded straight from the TF2 model zoo.

I have followed the instructions of taking any of the ssd models (mostly the mobilenet models) and running the export script for tf2

[2022-11-04 03:55] 372046933 commented on #32122
`test_seek_v2` open mode is reading and writing

https://github.com/tensorflow/tensorflow/blob/e0d5221071bdc741ec41125080d29869f5262112/tensorflow/python/lib/io/file_io.py#L40

[2022-11-04 04:23] SuryanarayanaY commented on #35333
I was able to replicate the issue in TF2.10.Please find the attached [gist](https://colab.research.google.com/gist/SuryanarayanaY/9c9885fbe5713c20da653eb8282e425a/35333.ipynb#scrollTo=6BAOjh2nlU2Q).
Thankyou!

[2022-11-04 04:35] SuryanarayanaY commented on #48213
The issue is replicating is TF2.10 and nightly versions.Please find the attached [gist](https://colab.research.google.com/gist/SuryanarayanaY/c408439e8cc7933a97a21de1bd3d8b60/48213.ipynb) here.
Thankyou!

[2022-11-04 04:44] SuryanarayanaY commented on #34346
The issue still persists in Tf2.10 and tf-nightly versions.Please find the attached [gist](https://colab.research.google.com/gist/SuryanarayanaY/fa98fc8ab4a25119fdfb885aa007b1ad/34346-keras-tpu-mnist.ipynb) here.
Thankyou!

[2022-11-04 04:53] prsatyal opened #58444 "TFBertMainLayer cannot be loaded from .h5"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

source

### Tensorflow Version

tf2.9

### Custom Code

No

### OS Platform and Distribution

Windows

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-11-04 05:09] thierryherrmann commented on #58433
thanks a lot @bhack for your response. Unfortunately for your first code snippet, you mention it works for you. Indeed it works but if you read carefully my initial comment, if you invoke `f()` several times (without redefining the function), it will give you different random numbers, which is not what we expect, given the `tf.random.set_seed(1)`.
That's why in my snippet, I called `f()` twice aft

[2022-11-04 05:10] animesh-wynk commented on #45658
Hi @sergorl
I've been facing a similar kind of issue which happens randomly, I was wondering whether you were able to fix the problem?
Thanks,
Animesh

[2022-11-04 05:10] thierryherrmann commented on #58433
Thanks a lot @mohantym for your response. Unfortunately I'm afraid the seed I pass is really an integer.
If you add this line:
[code]
it'll print `tf.int32`

I saw that you replaced `self.seed + repl_id` with just `self.seed` to make the code work.
But that addition `+ repl_id` was intentional: if you only use `self.seed` both replicas will generate the same random numbers.
By adding `repl_id` you

[2022-11-04 05:12] thierryherrmann commented on #58433
Thanks again @bhack, @mohantym for your contribution. I searched more and the `stateless_xxx()` functions are the solution.

This code satisfies my requirements:
[code]

Output:
[code]

So with a given seed, the results are reproducible: each replica generates different numbers but a second execution will have the replicas generate the same numbers as with the previous execution.
Changing the seed

[2022-11-04 05:12] #58433 closed

[2022-11-04 05:49] mohantym commented on #58444
Hi @prsatyal !

Can you add the custom layer on TFDistilBertModel while loading the model and see if it works.
`loaded_model = tf.keras.models.load_model('bert_model.h5',custom_objects={'TFDistilBertModel':TFDistilBertModel})
`

[Reference.](https://github.com/tensorflow/tensorflow/issues/43721#issuecomment-1247898978)

Please post this issue on [keras-team/keras repo](https://github.com/keras-tea

[2022-11-04 05:57] mohantym commented on #58433
Ok @thierryherrmann !

Thanks for the update. Actually, What I meant seed should be a python integer not an integer Tensorflow Tensor.
Marking this as resolved from above comment.

Thank you!

[2022-11-04 05:57] mohantym commented on #58433
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-11-04 06:24] SuryanarayanaY commented on #58373
Hi @MarkKocherovsky ,
You can do that.Please follow the procedure to install tensorflow with GPU as per the documentation attached [here](https://www.tensorflow.org/install/pip#step-by-step_instructions).
Please follow it and let us know if any problem persists in installing Tensorflow with GPU.

Also i believe that batch_size of 1500 may be very high and also i see your network is also deeper and

[2022-11-04 07:52] creakseek opened #58445 "`tf.random.stateless_categorical` produces inconsistent results on CPU/GPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.2

### Custom Code

No

### OS Platform and Distribution

Colab

### Mobile device

_No response_

### Python version

3.7.15

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2.152, 8.1.1

### GPU model and memory

_No response_

[2022-11-04 07:56] tilakrayal commented on #58431
@wowhhh,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-11-04 08:00] tilakrayal commented on #58434
@YuchengT,
TensorFlow v2.10 is compatible with CUDA 11.2 and cuDNN 8.1. Could you please try with the compatible build configurations check if you are facing the same error. Thank you!

[2022-11-04 08:57] wowhhh commented on #58431
hi, I post this issue on [keras#17217](https://github.com/keras-team/keras/issues/17217).
Thanks for your reply!

[2022-11-04 09:10] SuryanarayanaY commented on #51677
Hi,
Iam able to replicate the issue in TF2.10 and nightly versions.Please refer attached [gist](https://colab.research.google.com/gist/SuryanarayanaY/a254ff456169b4c8751a2a284849d9a7/51677.ipynb) here.
Thankyou!

[2022-11-04 09:20] smit-hinsu commented on #58030
Comparison is undefined for complex types so CategoricalAccuracy doesn't make sense for it. Later TensorFlow versions will remove support for complex types to avoid this crash and have an explicit failure.

[2022-11-04 09:20] #58030 closed

[2022-11-04 09:25] mohantym commented on #58019
Ok @cantonios !
Thanks for the tip.  I will change the info in website then.
Thank you!

[2022-11-04 10:54] bhack commented on #58431
Thanks

[2022-11-04 10:54] elfringham opened #58446 "Unit test nn_ops:pooling_ops_3d_test_cpu broken with oneDNN enabled"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

git HEAD

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

n/a

### Python version

3.8.10

### Bazel version

5.3.0

### GCC/Compiler version

9.3.1

### CUDA/cuDNN version

n/a

### GPU model and memory

n/a

### Current Behaviour?

[code]

### St

[2022-11-04 11:00] elfringham commented on #58446
@nSircombe @cfRod

[2022-11-04 11:02] #57975 closed

[2022-11-04 11:45] creakseek opened #58447 "`tf.raw_ops.FakeQuantWithMinMaxArgs` loses extra precision with certain inputs"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.2

### Custom Code

No

### OS Platform and Distribution

Colab

### Mobile device

_No response_

### Python version

3.7.15

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2.152, 8.1.1

### GPU model and memory

_No response_

[2022-11-04 12:23] elfringham commented on #58446
Introduced by https://github.com/tensorflow/tensorflow/commit/41affcdc1919df3e29684a946416192bfbc36eee

[2022-11-04 12:32] dasmehdix opened #58448 "How to read .csv file through mapping function of tf.data.dataset?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf 2.10

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 18.04 & Windows

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU mode

[2022-11-04 12:46] tilakrayal commented on #58411
@matthewfernst,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-11-04 13:10] bhack commented on #58445
@cantonios I can reproduce this in eager mode on TF-nightly but it seems that they are aligned in graph mode.
See https://colab.research.google.com/gist/bhack/a0a1dfe818ace0160dfccd0436811e6a/untitled182.ipynb

[2022-11-04 13:17] bhack commented on #58448
Have you tried to map a function with `tf.io.decode_csv()` as in the example/doc at:

https://www.tensorflow.org/tutorials/load_data/csv

[2022-11-04 13:26] thierryherrmann commented on #58433
@mohantym

Actually passing the seed to the tf.function as a tf.constant rather than a python int was intentional. autograph reconstructs a new graph on each invocation with a different python int value. While with a tf.constant, it reuses the same graph.
My simplified example doesn't show the input_signatures I use with the tf.function to restrict inputs and ensure only one graph is generated. Th

[2022-11-04 13:37] aliashori75 opened #58449 "Closing due to conflict."
Closing due to conflict.

_Originally posted by @mohantym in https://github.com/tensorflow/probability/issues/1519#issuecomment-1046746208_

[2022-11-04 13:40] mohantym commented on #57533
Hi @rorocui !
Could you confirm whether issue is resolved or not .
Thank you!

[2022-11-04 13:42] bhack commented on #58433
Yes sorry is that it seems, without the output, that it was empty. But reading again the "text" it is clear. So the pointer to the stateless version is correct.

P.s. the autograph problem mentioned for the non stateless impl at https://github.com/tensorflow/tensorflow/issues/58433#issuecomment-1302627410 is still valid.

[2022-11-04 13:50] magnusg-sa commented on #28830
@kingofthebongo2008 is there any information on how to get this to work?

It feels like I am close to the solution but I must be missing something fundamental. I am quite new to most of the tools and concepts involved, but I managed to stitch together the following procedure:

1. Installed ANGLE according to https://chromium.googlesource.com/angle/angle/+/main/doc/DevSetup.md (COMMIT=596c2acfa5071

[2022-11-04 13:50] mohantym commented on #58140
@rrajkumar1990 !
Yeah! Nightly version are updated on daily basis.
Did you check against 2.10 version lately?
Thank you!

[2022-11-04 14:01] dasmehdix commented on #58448
This method is not appropriate for my case.

[2022-11-04 14:04] mihaimaruseac commented on #32122
My bad, I misread the `+` meaning.

[2022-11-04 14:04] tilakrayal commented on #50567
@qizhou000,
As mentioned above, I tried to execute the code with the alternative approach and the code was executed without any issue/error. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/e6d03aa0e114cbdf8b0e81830e6f164f/untitled728.ipynb) and let us know if you are looking for the similar output. Thank you!

[2022-11-04 14:07] bhack commented on #58448
I think you could share a colab  +  a very small sample of your input data to reproduce your case.

[2022-11-04 14:08] sushreebarsa commented on #58348
@njzjz Could you check the PR mentioned above and let us know if it helped ?
Thank you!

[2022-11-04 14:08] bhack commented on #58449
/cc @mihaimaruseac

[2022-11-04 14:10] MichaelHudgins commented on #58419
We will look to remove the switch flag in .bazelrc before final release of 2.11 and revisit enabling it after.

[2022-11-04 14:48] #58411 closed

[2022-11-04 15:22] creakseek opened #58450 "`tf.raw_ops.StatelessMultinomial` produces inconsistent results on CPU/GPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.2

### Custom Code

Yes

### OS Platform and Distribution

Colab

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2.152, 8.1.1

### GPU model and memory

_No res

[2022-11-04 15:28] cantonios commented on #58445
Interesting.  I wasn't aware we had the same guarantee _between_ devices (CPU and GPU).  /cc @wangpengmit are we sure this is something we can guarantee?  I guess if they both always use the same philox generator with the same seed.

[2022-11-04 15:35] cantonios commented on #58053
Again, I don't think listing input types solves the issue.  The problem with doing something like that is that `saturate_cast` is just a composite op that calls other ops, including `tf.maximum` and `tf.cast`.  If we ever modify the valid input types for `tf.maximum` or `tf.cast`, it would implicitly modify the valid input types to `tf.saturate_cast`.  They would all need to be kept synced.

We co

[2022-11-04 15:38] creakseek commented on #58445
@cantonios CPU and GPU are actually generating same random numbers even with some stateful APIs like `tf.random.normal()` as long as they have the same seed, though not guaranteed.
[code]
You get:
[code]
Which are very close.

[2022-11-04 15:45] creakseek commented on #58450
In comparison, `tf.raw_ops.StatelessParameterizedTruncatedNormal` works well.

[2022-11-04 15:46] nyadla-sys opened #58451 "Not able to convert OpenAI hugging face TF Whisper model to int8 model"
### 1. System information
- Linux Ubuntu 16.04:

### 2. Code
Provide code to help us reproduce your issues using one of the following options:

#### Option A: Reference colab notebooks

 Reference [[TensorFlow Lite Model Colab](https://colab.research.google.com/drive/1rApSDy3KMoMMaK3SIQwvu21yPas2VFjx?usp=sharing)]

#### Option B: Paste your code here or provide a link to a custom end-to-end colab

[2022-11-04 15:50] nyadla-sys commented on #58451
Adding more information

I was able to convert from Hugging face whisper onnx to tflite(int8) model,however am not sure how to run the inference on this model
Could you please review and let me know if there is anything i am missing in onnx to tflite conversion
https://colab.research.google.com/github/usefulsensors/openai-whisper/blob/main/notebooks/whisper_to_onnx_tflite_int8.ipynb
or
I was able

[2022-11-04 16:05] MarkKocherovsky commented on #58373
I will try downgrading my CUDA, but I will say that it does work with smaller batch sizes, so I'll look into Higher Resources. Is that a specific option I can enable?

[2022-11-04 16:08] huan1372 commented on #58053
I agree with you if you guys could add link of tf. Cast and if could add some instruction of how to use complex type as you said

[2022-11-04 16:13] #58449 closed

[2022-11-04 16:14] nyadla-sys commented on #58451
Here is colab crash APP.log
Timestamp,Level,Message
"Nov 4, 2022, 9:11:46 AM",WARNING,WARNING:root:kernel f8c4a776-358c-4ac4-9933-d386576f666a restarted
"Nov 4, 2022, 9:11:46 AM",WARNING,WARNING:root:kernel f8c4a776-358c-4ac4-9933-d386576f666a restarted
"Nov 4, 2022, 9:11:46 AM",INFO,"KernelRestarter: restarting kernel (1/5), keep random ports"
"Nov 4, 2022, 9:11:45 AM",WARNING,"fully_quantize: 0,

[2022-11-04 16:21] bhack commented on #58450
@wangpengmit   @cantonios  Same as https://github.com/tensorflow/tensorflow/issues/58445 it is reproducible only in eager mode.

[code]

[code]

[2022-11-04 16:24] misterBart commented on #58050
Thanks! It works, I no longer see the INFO message.
I guess `tflite::ops` error was a mistake I made.

Two questions remain:
(1) Will this not still print an error message to the standard output? Is there a argument for` SetMinimumLogSeverity()` that disables all messages? (Because our software will be part of larger customer software, and our customers do not want us to print to the standard outp

[2022-11-04 16:25] bhack commented on #58424
https://github.com/tensorflow/tensorflow/pull/58427 was merged.

Do we need something else?

[2022-11-04 16:29] bhack commented on #58451
Just for reference, it was cross posted:
https://discuss.huggingface.co/t/convert-openai-whisper-transformer-model-to-quantized-tflite-model/25488
https://github.com/openai/whisper/discussions/464#discussioncomment-4050705

[2022-11-04 16:36] tilakrayal commented on #51693
@srihari-humbarwadi,
Could you please take a look at below options:
1.If you know the max height and width and don't mind changing the code, you can give us a hint in the model using the tf2xla.set_bound API:
[code]

2. If you need a fully automatic way, more infrastructures need to be built side the bridge/distribution strategy that automatically bucketize the input based on value. Thank you!

[2022-11-04 16:44] Craigacp commented on #58424
Getting [this link](https://www.tensorflow.org/api_docs/java/org/tensorflow/package-summary) to point at the new API would be useful. It's where the "Java" link goes to from [here](https://www.tensorflow.org/api_docs).

[2022-11-04 16:45] feranick commented on #46976
This is still an open issue with TF 2.10 or later.

[2022-11-04 16:53] nyadla-sys commented on #58451
This post is in Huggingface

[2022-11-04 16:56] feranick commented on #58368
Technically, bazel allows for downloading a "fresh version" of clang upon configuring previous to compilation. But that option is broken.

https://github.com/tensorflow/tensorflow/issues/46976

[2022-11-04 16:56] bhack commented on #58451
Yes

[2022-11-04 17:22] MichaelHudgins commented on #58419
The error switch is removed from the release. With https://github.com/tensorflow/tensorflow/pull/58452.

Upon looking further, it appears that line is fixed in a PR that landed after branch cut.
https://github.com/tensorflow/tensorflow/pull/57954

[2022-11-04 17:36] bhack commented on #58419
@MichaelHudgins thanks

[2022-11-04 17:36] #58419 closed

[2022-11-04 17:58] kingofthebongo2008 commented on #28830
Run build from this command, cl.exe will be in the path

ERROR: C:/users/magnusg/src/tensorflow_lite/tflite_2.10.0_gpu_delegate_build_bazel/tensorflow_src/tensorflow/lite/delegates/gpu/cl/kernels/BUILD:129:11:
Compiling tensorflow/lite/delegates/gpu/cl/kernels/converter.cc
failed: (Exit 2): cl.exe failed: error executing command

[image: image.png]

On Fri, 4 Nov 2022 at 15:50, Magnus Gedda ***@**

[2022-11-04 17:59] kingofthebongo2008 commented on #28830
Here command line option is wrong, i think, that you must change it somehow

cl : Command line warning D9035 : option 'experimental:preprocessor'
has been deprecated and will be removed in a future release
cl : Command line warning D9036 : use 'Zc:preprocessor' instead of
'experimental:preprocessor'

On Fri, 4 Nov 2022 at 19:58, Stefan Dyulgerov ***@***.***>
wrote:

[2022-11-04 18:48] #58428 closed

[2022-11-04 20:06] nyadla-sys commented on #58451
If I use something like below getting below error

**RuntimeError: Max and min for dynamic tensors should be recorded during calibration: Failed for tensor cond_2/while/cond_1/cond/mul2
Empty min/max for tensor cond_2/while/cond_1/cond/mul2**

_def representative_dataset():
    for x in range(1):
      inputs = processor(ds[x]["audio"]["array"], return_tensors="tf")
      input_features = inputs.i

[2022-11-04 20:10] cantonios commented on #58445
@creakseek it will never be _exact_.  Different platforms/compilers have different guarantees for accuracy of things like `std::exp`, which isn't prescribed by the standard to have any specific error bound.  Eigen/XLA also take some liberties here, allowing some small accuracy tradeoffs in order to boost performance.

Most of TF's RNGs are "stateless" (even the stateful random ops) with counter-ba

[2022-11-04 20:22] #58332 closed

[2022-11-04 21:02] Jerry-Ge commented on #37659
Hi Jae Sung, any updates from google that this converter for stateful LSTM can be supported in official releases? Tks!

[2022-11-04 22:09] feranick opened #58453 "Download of fresh release of clang fails on TF 2.10.0-2.11.0"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.11.0-rc2

### Custom Code

No

### OS Platform and Distribution

MacOS 13.0

### Mobile device

_No response_

### Python version

3.10.6

### Bazel version

5.3.0

### GCC/Compiler version

XCode 14.1

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No resp

[2022-11-04 22:11] feranick commented on #58453
This is a similar issue, but it's now closed due to lack of activity. Since I can't reopen it, I submit it with updated info as this issue.

https://github.com/tensorflow/tensorflow/issues/46976

[2022-11-04 22:37] spottenn commented on #56231
Thank you! Worked for me. I'm on windows 11, VS Code, python 3.10.8, tensorflow 2.10.0

[2022-11-04 23:37] odieXin opened #58454 "Tensorflow inference slow down: Repeatedly load and delete Keras model"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

binary

### Tensorflow Version

2.10

### Custom Code

Yes

### OS Platform and Distribution

Mac OS M1 Pro

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-11-05 00:51] I-Thompson commented on #547
I use tensorflow for quantum physics calculations that involve much matrix arithmetic.
And float64 makes a huge difference to accuracy. With float32, fitting data stops too often at false minima.

And now I discover that DTensorAllGather cannot do float64.
(Strangely?) the first missinig float64 support I have met in 2 years now of tf.

I really do want full float64 support

[2022-11-05 00:57] odieXin commented on #58454
This problem can be reproduced without running the first inference too.

Inference time 1:
[code]

Inference time 2:
[code]

Inference time 2 is significantly longer than inference time 1.
Any thoughts?

[2022-11-05 01:11] bhack commented on #58453
Yes, It seems it was removed with e70d095050e1d4858b2fcf0a5b55c31a2d631387

[2022-11-05 02:02] bhack commented on #58454
Have you tried to introduce [ tf.keras.backend.clear_session
](https://www.tensorflow.org/api_docs/python/tf/keras/backend/clear_session) before loading the weights again?

[2022-11-05 02:06] odieXin commented on #58454
Yes, @bhack I tried [tf.keras.backend.clear_session](https://www.tensorflow.org/api_docs/python/tf/keras/backend/clear_session) and it doesn't work.
I found re-loading weights doesn't impact the inference performance.
The problem is of creating new models with Keras and the models could not be deleted clearly with the clear_session function or the del variable function in python.
gc.collect() does

[2022-11-05 02:25] bhack commented on #58454
We have a quite long thread at https://github.com/tensorflow/tensorflow/issues/36465

But In your specific case we are also talking about a package that is closed source and it is supported third party. Have you tried to post this case in the official forum; https://developer.apple.com/forums/tags/tensorflow-metal

[2022-11-05 03:57] RPGillespie6 commented on #37729
This issue happens all the time in GCP with 2.10. The very first `import tensorflow` is very slow (20+ seconds). The funny thing is, it doesn't seem to matter _where_ the first `import tensorflow` happens - it could even happen inside a docker container. But after that very first slow import, any subsequent imports (inside or outside docker container) are fast (1 second or less).

[2022-11-05 07:03] Zonbi-san opened #58458 "tensorflow-gpu not working"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.10

### Custom Code

No

### OS Platform and Distribution

windows 10 22h2

### Mobile device

_No response_

### Python version

3.10.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA v11.2.2 cuDNN v8.1.1

### GPU mode

[2022-11-05 08:29] martin-ueding commented on #58091
I honestly don't want to set up a TensorFlow build environment to test the changes. I will just wait until Google switches over to C++20 and ignore these warnings until then.

[2022-11-05 08:53] prsatyal commented on #58444
Thank you for your help! The model loaded perfectly but is not performing as well as it did when i didnt load the model. It also gave me this error and im getting mixed answers all over the internet. How do i resolve this error and what does it mean?

WARNING:tensorflow:Error in loading the saved optimizer state. As a result, your model is starting with a freshly initialized optimizer.

[2022-11-05 10:44] MuellerJY opened #58459 "Getting Troubles when installing tf.2.10_gpu with anaconda virtual env."
### Issue Type

Build/Install

### Source

source

### Tensorflow Version

v2.10.0

### Custom Code

Yes

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.9.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

8.4.1.50

### GPU model and memory

NVIDIA GeForce RTX 2080 Ti

### Current Behaviour?

[2022-11-05 17:27] bhack commented on #58459
Test this (from the official doc)
[code]

[2022-11-05 19:35] bhack commented on #58458
Can you try with https://github.com/tensorflow/tensorflow/issues/58459#issuecomment-1304595767

[2022-11-05 21:43] Zonbi-san commented on #58458
yeah already tried it didn't work

[2022-11-05 22:10] bhack commented on #58458
Have you created the conda env?

[code]

And then
[code]

[2022-11-06 04:51] MuellerJY commented on #58459
Thank you for your reply!
It that means that the version of cudatoolkit and cudnn mismatch with tensorflow?

[2022-11-06 04:55] Zonbi-san commented on #58458
i also i tried conda and it didnt work

[2022-11-06 05:11] tranvansang commented on #52680
from TF 2.9, the following config works perfect, even with use_multithreading enabled

[code]

https://stackoverflow.com/a/72377349/1398479

[2022-11-06 09:13] xiaodathereal commented on #58363
Thanks for the answer @ukoxyz

I see the current limitations of directly utilization of GSPMD on TF. But, is there a plan (or time schedule) to open the APIs for users to directly use GSPMD? or the usages of GSPMD are limited on the encapsulated model zoos?

[2022-11-06 09:30] Theresaliu opened #58460 "ValueError: An `initial_state` was passed that is not compatible with `cell.state_size`."
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

1.19.2

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-11-06 10:46] SuryanarayanaY commented on #58373
Yes @MarkKocherovsky ,
Please opt for Higher Resources for training on high batch sizes.You can opt for distributed training on multi GPUs as mentioned here [tensorflow.org](https://www.tensorflow.org/guide/distributed_training) for better performance.Please try this and reach out us incase of any issues.
Thankyou!

[2022-11-06 11:27] #58460 closed

[2022-11-06 12:33] bhack commented on #58459
What do you mean?

[2022-11-06 12:36] bhack commented on #58458
Check that Microsoft Visual C++ Redistributable is installed correctly and that Windows long paths are enabled:

https://www.tensorflow.org/install/pip?hl=en#windows-native

[2022-11-06 12:55] Zonbi-san commented on #58458
i already tried installing tensorflow the correct way

[2022-11-06 14:22] Zonbi-san commented on #58458
I already tried following the official install guide and it didn't work

[2022-11-06 14:23] bhack commented on #58458
Quite strange as I see that in your env is broken as it doesn't find CUDA dlls.

Try to recreate a fresh conda env

[2022-11-06 14:38] Zonbi-san commented on #58458
already tried wiping all trace of miniconda and reinstalling it again and still didn't work

[2022-11-06 15:20] bhack commented on #58458
I cannot reproduce your issue. Can you test the WSL install from the doc?

[2022-11-06 16:53] ssuhas76 commented on #49725
Why is pooling layer not sued for ResNet 101 code?

[2022-11-06 17:54] karllessard commented on #51506
I'm also hitting the `malformed trie, node past end file` error.

This issue should not have been closed in the first place, we are still not able to build sources on an Apple Silicon, which is the main topic here. The `tensorflow_macos` binaries distributed by Apple only helps users using TensorFlow in Python, it is not a viable solution for those using other language bindings, such as Java, C++

[2022-11-06 21:42] Zonbi-san commented on #58458
I don't really want to use wsl2 though

[2022-11-06 22:24] sniafas opened #58461 "TF 2.10 fails to build gpu support - inference crashes"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.10

### Custom Code

Yes

### OS Platform and Distribution

Debian 11

### Mobile device

_No response_

### Python version

3.8

### Bazel version

5.3.0

### GCC/Compiler version

9.3.0

### CUDA/cuDNN version

11.2,8.1

### GPU model and memory

RTX 3060/12G

### Current B

[2022-11-06 22:26] mihaimaruseac commented on #58091
Unlikely that Google would switch to C++20.

[2022-11-06 22:28] ardamavi opened #58462 "Memory Allocation - Training Bug"
<details><summary>Click to see bug report!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.5.2

### Custom Code

Yes

### OS Platform and Distribution

CentOS 7

### Python version

3.6.13

### CUDA/cuDNN version

11.6

### GPU model and memory

NVIDIA V100S - 32 GB

### Current Behaviour?

We are having a training problem while using maximum memory allocation on

[2022-11-06 22:54] OverLordGoldDragon opened #58463 "`tf.constant(1)` maxes VRAM"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10.0

### Custom Code

Yes

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.10.4

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

cudatoolkit 11.3.1

### GPU model and memory

GTX 1070, 8GB

### Current Behaviour?

7.5GB VRAM us

[2022-11-06 23:29] RichNovo opened #58464 "1"

[2022-11-06 23:34] #58464 closed

[2022-11-06 23:43] OverLordGoldDragon commented on #58463
After

[code]
below suffices to reproduce the issue

[code]

New list:

<details>
<summary><b>conda list</b></summary>

[code]

</details>

I see TF wants CUDA 11.2, but torch wants 11.3, either way this shouldn't happen.
</details>

[2022-11-07 04:39] SuryanarayanaY commented on #58111
Hi @RinnetenseiQ ,
Sorry for delayed response.Please find the release note from [here](https://github.com/tensorflow/tensorflow/releases/tag/v2.11.0-rc2) regarding the tensorflow.python.keras.optimizers path.

`tensorflow/python/keras code is a legacy copy of Keras since 2.7 release, and will be deleted in 2.12 release. Please remove any import of tensorflow.python.keras and use public API with fr

[2022-11-07 05:12] Urkchar opened #58465 "tf.keras.utils.plot_model fails and outputs large byte string"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.10

### Custom Code

Yes

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.9.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

Nvidia Gtx 1

[2022-11-07 05:47] timedcy opened #58466 "tf.queue.FIFOQueue not savable by tf.saved_model.save in tf2.10"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10

### Custom Code

No

### OS Platform and Distribution

windows 10

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

8.2.1

### GPU model and memory

_No response_

### Curre

[2022-11-07 06:24] mohantym commented on #58463
Hi @OverLordGoldDragon !
I think you should not mix Pytorch and Tensorflow in one environment as those two have different architecture on memory management.

Could you create a fresh environment and follow the instructions from this [document](https://www.tensorflow.org/install/pip#windows-native) (11.2 and 8.1 is tested config for 2.10 version) and please specify the cuda config while installing

[2022-11-07 06:31] SuryanarayanaY commented on #58459
Hi @MuellerJY ,

Please confirm whether you have also installed NVIDIA GPU driver ? Please refer the documentation attached [here](https://www.tensorflow.org/install/pip#windows-native).
Also for tested configurations of CUDA,cuDNN please refer documentation here for [Build/install](https://www.tensorflow.org/install/source_windows#gpu).

Thankyou !

[2022-11-07 06:33] sushreebarsa commented on #57390
@dixr Could you please refer to the comment above?
Thank you!

[2022-11-07 06:35] mohantym commented on #58454
Hi @odieXin !
Sorry for the late response.

You can also use save the best model weights and save in checkpoints folder to start the model training again from last using [custom call back ](https://keras.io/api/callbacks/model_checkpoint/). A custom call back is recommended to stop the training when desired accuracy has been achieved to save memory usage.

That way, It will solve  the caching prob

[2022-11-07 06:53] acknowledgexiongdei opened #58467 "I met an error: In[o] missmatch In[1] shape"3 vs/4:[1,4,4,3] [1,4,4,1]"
### Issue Type

Others

### Source

binary

### Tensorflow Version

tf 2.5

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[code

[2022-11-07 06:59] tilakrayal commented on #58447
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.9, v2.10 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/16b37a4c45f3315727d755c807e3adae/58447.ipynb).

[2022-11-07 07:09] tilakrayal commented on #58448
@dasmehdix,
Code shared is full of [indentation errors](https://colab.research.google.com/gist/tilakrayal/bdc11b8f1dee2af32af25afdf3e56ff0/untitled731.ipynb), Kindly share a colab gist with issue reported or indented code with all dependencies such that we can replicate the issue reported. Thank you!

[2022-11-07 07:23] ra9hur opened #58468 "Visualizing class activation maps with tflite weights"
I am able to visualize Grad-CAM using keras weights(H5). I am not able to find to visualize last CNN layer using tflite weights.

- https://pyimagesearch.com/2020/03/09/grad-cam-visualize-class-activation-maps-with-keras-tensorflow-and-deep-learning/
- https://medium.com/analytics-vidhya/visualizing-activation-heatmaps-using-tensorflow-5bdba018f759

Found a related link on TF discussion forum ment

[2022-11-07 07:45] tilakrayal commented on #58458
@Zonbi-san,
There are at least 3 possible scenarios:

1. You need to install the MSVC 2019 redistributable.
2. Your CPU does not support AVX2 instructions.
3. Your CPU/Python is on 32 bits.
4. There is a library that is in a different location/not installed on your system that cannot be loaded.
Also pip install tensorflow will install a version thats compatible with GPU and CPU. So it gives you th

[2022-11-07 07:53] SuryanarayanaY commented on #58462
Hi @ardamavi,

Thanks for writing us.I think `tf.config.experimental.set_virtual_device_configuration()` is deprecated in current versions. Please use `tf.config.set_logical_device_configuration()` instead.For more information on this API please refer the attached [Documentation Link](https://www.tensorflow.org/api_docs/python/tf/config/set_logical_device_configuration).

Also I request you to upd

[2022-11-07 08:02] tilakrayal commented on #58347
@yufang67,
As mentioned above, please try to disable the eager execution for the bfloat16 and  please move this issue to closed status and feel free to open a new feature request for the lstm and fbloat16. Thank you!

[2022-11-07 08:44] njzjz commented on #57826
Same error, so I roll back to 2.9.2.

[2022-11-07 09:26] Kristoff-starling opened #58469 "`tf.raw_ops.SegmentMax` Behaves Differently Under CPU and GPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.10

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 22.04

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-11-07 09:32] dixr commented on #57390
I did, I agree that you should use `.shape.rank` instead of `.ndim`.

[2022-11-07 09:43] fuzzyswan commented on #58122
hi @tilakrayal
I checked the issue you pointed but I think the problem I reported here is not related to gradient computation. Here, the problem is the lack of input validity checking in the forward pass. A simple data type check would help to reject invalid floating `depth_radius`, and no value validity checking is needed (which I assume would be costly).

[2022-11-07 10:06] bhack commented on #58469
https://github.com/tensorflow/tensorflow/blob/bca2f494460b139e529b23b480427f7fdbc6bace/tensorflow/core/api_def/base_api/api_def_SegmentMax.pbtxt#L32-L36

[2022-11-07 10:34] Kristoff-starling commented on #58469
Hi, @bhack
Sorry that I didn't notice the 'caution' section in the document.
I'm also curious about whether an out-of-bound read behavior is reasonable when given unsorted indices, since it seems unsafe. Thanks a lot!

[2022-11-07 10:34] tilakrayal commented on #58461
@sniafas,
I see that you are using cuDNN version 8100 and that could be the reason for your issue. Please have a look at here (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc#L5309). Could you please try to upgrade cuDNN version > 8205 in your system and let us know if you are facing a similar issue.  Thank you!

[2022-11-07 10:49] sniafas commented on #58461
@tilakrayal
I have already tried with higher versions, it shouldn't be a problem since 8.1 is the version that is suggested in the [guide](https://www.tensorflow.org/install/source)
After all, the assertion [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc#L77) checks handles the discrepancies.
I'll give it a try, the one that conc

[2022-11-07 10:56] bhack commented on #58469
Have you tried to test these idxs with the memory sanitizer on CPU?:

[code]

[2022-11-07 11:15] bhack commented on #58468
I think that you could try to post directly in that forum thread.

[2022-11-07 11:39] SuryanarayanaY commented on #57967
Hi @MayStepanyan,

Thanks for highlighting the issue.I have replicated the issue in both TF2.10 and tf-nightly versions.Please refer the [gist](https://colab.research.google.com/gist/SuryanarayanaY/2e8bb76e5fdb2bfb5fd00ddab8fbcb1c/57967-r1.ipynb).

Strange thing is that for this application`tf.keras.applications.efficientnet.EfficientNetB0()` , `model.save('file_path')` is throwing out error where

[2022-11-07 12:00] SuryanarayanaY commented on #26321
Hi,
The issue replicated in both tf 2.10 and nightly versions.Please refer the attached [gist](https://colab.research.google.com/gist/SuryanarayanaY/935aaa12feee21c77766197089ae556e/26321.ipynb) here.
Thankyou!

[2022-11-07 12:11] Kristoff-starling commented on #58469
I haven't tried to test with sanitizers on CPU because I'm currently unable to build TensorFlow with sanitizers. A relevant issue is #58013 in which I was told that the developers never managed to build OSS TF with sanitizers or debug info.
BTW, even if I use increasing indices, the error still exists (partly because TF segmentation doesn't accept negative values, but not all the negative values t

[2022-11-07 12:16] paazca commented on #53708
I've run into the same issue.

`tflite_flex_shared_library` ignores my model and outputs the full Select TF Ops library, instead of building only the needed operators.

[2022-11-07 12:21] bhack commented on #58466
Have you checked https://github.com/keras-team/keras/issues/16015 ?

[2022-11-07 12:27] dasmehdix commented on #58448
I have created a sample dataset and code block on Kaggle instances for this issue. You can check [dataset ](https://www.kaggle.com/datasets/dasmehdixtr/pose-data-example)and [code ](https://www.kaggle.com/code/dasmehdixtr/tf-data-dataset-map/notebook)here. @bhack @tilakrayal

[2022-11-07 12:36] bhack commented on #58469
If I remember correctly we could build single components with debug info. See @reedwm comment at https://github.com/tensorflow/tensorflow/issues/48919#issuecomment-866438774.

From the [high level API doc](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/math#about_segmentation) I see:

Is this an hard constrain that need to validated?

[2022-11-07 12:48] mohantym commented on #58466
Hi @timedcy!

Please post this issue on [keras-team/Keras repo](https://github.com/keras-team/keras/issues) for further assistance.

To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) .

 Thank you!!

[2022-11-07 13:03] bhack commented on #58467
[code]

[2022-11-07 13:27] RinnetenseiQ commented on #58111
I am using 2.10 version. Is your answer true for this version?
If yes, can you change it in oficial docs? https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam

[2022-11-07 13:39] yufang67 commented on #58347
Hi @tilakrayal,
i didn't think this issue is resolved, because when you check the my original questions, i have already tried disable eager execution.
For short, my question is how i can run bfloat16 in multiGPU training in eager mode ?
If you want i can close this one and open a new one just by changing the title.
thanks

[2022-11-07 13:40] SuryanarayanaY commented on #26873
Hi @bersbersbers,

I have gone through the above issue and would like to share few things.As per your code my understanding is that the model you created is having 'Zero' parameters as per `Model.summary()` function.Hence there is no question of updating the weights and thereby loss.Hence the loss curve is Flat irrespective of epochs.
Please note Input() is basically to create a placeholder and no

[2022-11-07 13:58] tilakrayal commented on #58177
@shijy16,
I tried to execute the code on tf-nightly and it was executed without any issue/error. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/0244a7b536e22168cb896bbfddb95d74/untitled732.ipynb) and let us know if this serves your requirement. Thank you!

[2022-11-07 14:19] tilakrayal commented on #58369
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.9, v2.10 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/fdd25a38ee8d7d7feb02ff23978bf8e1/untitled733.ipynb).

[2022-11-07 14:20] magnusg-sa commented on #28830
@kingofthebongo2008 I am not sure what you mean by _"Run build from this command"_? And did you provide some image `image.png` that is not displayed in your post?

I have tried re-running the build multiple times from the tensorflow source root directory. It compiles most of the ~1,111 files properly but it always fails on this `cl.exe` error for the file `.\tensorflow/lite/delegates/gpu/cl/opencl

[2022-11-07 14:21] tilakrayal commented on #58180
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.9, v2.10 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/e5c83edf3e2e1fd2a263588bf3126613/untitled735.ipynb).

[2022-11-07 14:22] tilakrayal commented on #58122
@sushreebarsa,
I was able to reproduce the issue on tensorflow v2.10 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/3660292fada1f13b65f92981fe928fb1/untitled736.ipynb).

[2022-11-07 15:19] davidxia commented on #58339
Hi, just checking for any updates on this. Thanks!

[2022-11-07 15:21] Zonbi-san commented on #58458
finally work thank you

[2022-11-07 15:21] #58458 closed

[2022-11-07 15:26] bhack commented on #58458
@Zonbi-san Did you identify what the problem was?

[2022-11-07 15:42] mohantym commented on #58450
Hi @creakseek !
I was not getting any issue in graph mode as said in above comment.
But in Eager mode. It is replicating .
Attached [gist](https://colab.sandbox.google.com/gist/mohantym/a511dedd9b8bc7b1f77eb55d63be9d90/git_58450.ipynb#scrollTo=AT8miYKr2eqQ) for reference.

Hi @SuryanarayanaY !
Could you look at this issue.
Attached gist in [2.8](https://colab.sandbox.google.com/gist/mohantym/61481

[2022-11-07 16:07] gsirocco commented on #58206
Hi @mohantym and @sachinprasadhs, just checking if there's any update on this issue? I'm trying to get this working for our product that utilizes an edge TPU, so before proper operation on the TPU is achieved, the TFLite model functionality would need to be correct. Is there a way for me to fix or debug this issue? Thanks, I appreciate any help and input on this issue as we are stuck right now.

[2022-11-07 16:15] mohantym commented on #58469
Hi @Kristoff-starling !
Could you reply on above [comment](https://github.com/tensorflow/tensorflow/issues/58469#issuecomment-1305545145).

I could not replicate in Colab environment( Ubuntu 18, Python 3.7).  Attached gist in [2.9](https://colab.sandbox.google.com/gist/mohantym/8e90e70d2574b254b58232f191f15cf6/git_58469.ipynb#scrollTo=pPkg4daEy1SL), [2.10](https://colab.sandbox.google.com/gist/moh

[2022-11-07 16:20] mohantym commented on #58444
@prsatyal !

It might be getting resolved in 2.10 and nightly version then.
[Ref.](https://github.com/keras-team/autokeras/issues/1162)
Could you post on Keras Repo and close this thread here.
Thank you!

[2022-11-07 16:48] nikolaydyankov commented on #56895
I'm also trying to solve this, unfortunately I'm not so advanced and don't understand everything that you did to solve it. I created a virtual env in the tensorflow folder, installed cuda with `pip install cuda-python` but I couldn't figure out how to install cudnn. Also I don't understand how you did this:

[2022-11-07 17:08] bhack commented on #58354
Do you mean that it will be backported?

[2022-11-07 17:21] SuryanarayanaY commented on #58111
Hi @RinnetenseiQ ,

Iam trying to say please use the import statement like  `from tensorflow.keras import xxxx`
instead of `tensorflow.python.keras import xxxx`.
The https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam also uses tf.keras.optimizers.Adam and
no `python name space` here in import statement.

Thankyou !

[2022-11-07 17:31] #58444 closed

[2022-11-07 17:32] bhack commented on #58451
I have some memory limit running your Colab.
Have you really tried to run it with TF nightly as it seems it was mispelled at the first cell of your colab.

[2022-11-07 17:46] nyadla-sys commented on #58451
@bhack
I changed first cell of colab to **!pip install tf-nightly**, but I still see the crash while converting to quantized int8 model

[2022-11-07 18:11] infil00p commented on #55495
I'm still getting the issue on 2.10 when I use the precompiled libraries provided in the AAR on Gradle.

[2022-11-07 18:14] bhack commented on #58451
Yes it seems we have a segmentation fault on nightly:

[code]

[2022-11-07 18:15] nyadla-sys commented on #58451
@bhack Thanks for confirming

[2022-11-07 18:48] elfringham opened #58472 "//tensorflow/python/data/experimental/kernel_tests/service/cross_trainer_cache_test fails on high CPU count"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

git HEAD

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

n/a

### Python version

3.8.10

### Bazel version

5.3.0

### GCC/Compiler version

10.2.1

### CUDA/cuDNN version

n/a

### GPU model and memory

n/a

### Current Behaviour?

[code]

### S

[2022-11-07 18:51] elfringham commented on #58472
The size of the elements needed seems to have recently increased causing this test to begin failing again.

[2022-11-07 19:15] bersbersbers commented on #26873
@SuryanarayanaY yes, you are misinterpreting the issue. This issue is not about loss values, so a model with zero parameters is perfectly fine. By contrast, this issue is about epoch values.

At the moment, I did not text the four-years-old original issue. What I can easily reproduce with TF 2.10 is what I reported last in https://github.com/tensorflow/tensorflow/issues/26873#issuecomment-11183493

[2022-11-07 19:42] bersbersbers commented on #26873
Related to that: https://github.com/keras-team/keras/issues/16173

[2022-11-07 21:06] zcase commented on #56753
Please reopen this ticket as the issue is still present

[2022-11-07 21:33] nitins17 commented on #58442
@cantonios @MarkDaoust Looks like tests in `//tensorflow/examples/custom_ops_doc/...` and `//tensorflow/examples/...` are timing out on Windows. Can you take a look? Thanks!

[2022-11-07 22:59] bas-aarts commented on #52203
this did the  trick for me on M1:
`bazel build -s --config=dbg --config=macos_arm64 --copt=-mcmodel=large --cxxopt=-mcmodel=large tensorflow/tools/pip_package:build_pip_package`

[2022-11-07 22:59] Zonbi-san commented on #58458
when I was scanning the conda venv folder I found a .bat file name .cudnn-post-link.bat and .cudatoolkit-post-link.bat so I ran it and it fix the issue somehow

[2022-11-07 23:00] bas-aarts commented on #46566
this did the trick for me on M1:
`bazel build -s --config=dbg --config=macos_arm64 --copt=-mcmodel=large --cxxopt=-mcmodel=large tensorflow/tools/pip_package:build_pip_package`

[2022-11-07 23:04] bhack commented on #58458
Ok probably you had a failure like https://github.com/conda-forge/cudatoolkit-dev-feedstock/issues/9  on conda install as these scripts are automatically executed by the installation process.

[2022-11-07 23:05] MarkDaoust commented on #58442
The bug report links to this CI run:

https://tensorflow-ci.intel.com/job/tf-win-testall/21/artifact/test_run.log

The logs include strange conflicting output about multiplex tests and a few others. The logs look like the runs are passing, but the summary says they're timing out:

[code]

But it also says:

[code]

So  I'm kindof lost.

  +1 to @bhack 's comment, is it possible to get one of these

[2022-11-08 00:10] sachinprasadhs commented on #52203
@jgehw , Could you please refer the above comment and let us know if that works for you. Thanks!

[2022-11-08 01:24] MuellerJY commented on #58459
I've tried. But new bugs occurs.
GPU can be successfully loaded but ptaxs

Thank you. I'll check!

[2022-11-08 01:39] MuellerJY commented on #58459
Sorry to interrupt you again.
I've met a new bug :(
When using:
`conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0`
`python3 -m pip install tensorflow`
GPU is now workable during model training, but here remains:
` Relying on driver to perform ptx compilation.`
` Modify $PATH to customize ptxas location.`
Presenting that the model is trained by GPU on first epoch and gradually turns to GPU

[2022-11-08 01:44] MuellerJY commented on #58459
Thank you. Please take a look at my new problem at your convenient.

[2022-11-08 01:49] bhack commented on #58459
Can you check with `conda install -c conda-forge cudatoolkit-dev`?

[2022-11-08 02:54] mihaimaruseac commented on #58354
Unlikely to backport if it doesn't turn out to be a security issue

[2022-11-08 03:49] FannyDuan commented on #58413
I switched to version 2.9 and it works

[2022-11-08 04:07] mohantym commented on #58451
@nyadla-sys !
Integer quantization is not working as Bhack commented  earlier.

Hi @sachinprasadhs !
Could you look at this issue.

Attached gist in [2.9](https://colab.sandbox.google.com/gist/mohantym/9dc8ca5f6a462ef0398ab29fed75068e/openai-whisper-toquantized-int8-not-working.ipynb#scrollTo=mqA7Cz4HK5s7), [2.10 ](https://colab.sandbox.google.com/gist/mohantym/7ee01b18f79a00682a6729b980b1648e/ope

[2022-11-08 04:26] rrajkumar1990 commented on #58140
@mohantym no I haven't tried yet in nightly version , as I want to run in some stable version .
where you able to replicate the issue  in 2.8.1 or 2.9.1?

[2022-11-08 04:44] tensorbuffer opened #58476 "cmake flatbuffer fail with Findflatbuffers.cmake"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tot, e.g. master

### Custom Code

No

### OS Platform and Distribution

Ubuntu 18.04

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and

[2022-11-08 04:54] SuryanarayanaY commented on #26873
Thanks @bersbersbers ,
We will track the issue from Keras Repo.We Will keep you informed once the issue resolve.
Thankyou!

[2022-11-08 06:24] h-vetinari commented on #56244
@danaepapad
Any update on this?

[2022-11-08 06:25] mraunak commented on #58442
Hey @bhack and @MarkDaoust, I have attached the logs, but I didn't find much information in them. I re-run it but got the same output log.
[error_log.docx](https://github.com/tensorflow/tensorflow/files/9958245/error_log.docx)

Please let me know if any further information is needed on my end

[2022-11-08 06:42] preethivenkatesh commented on #58446
hi, there is an internal ticket that is currently being worked on to fix this bug.

[2022-11-08 06:50] Kristoff-starling commented on #58469
Hi, @mohantym and @bhack,
Sorry for the late response since I had some problem entering into colab yesterday.

The comment mentioned that adding compiling options to part of the files (by using `--per_file_copt`) may work. I'm still looking for ways to successfully compile TF with sanitizers while instrumenting all the files we're interested in. (Simply adding `--config=msan` or `--copt=-fsanitize

[2022-11-08 06:53] shijy16 commented on #58177
It seems to be fixed by PR #57783 for a similar issue #57754 , I'll close this issue while it is fixed recently.

[2022-11-08 06:53] #58177 closed

[2022-11-08 07:20] mohantym commented on #58413
Thanks @FannyDuan !
Could you consider this as resolved then.
Thank you!

[2022-11-08 07:27] MuellerJY commented on #33375
Sorry to bother you. I'm under Windows 10 OS and meet the following issues:
`Internal: Invoking GPU asm compilation is supported on Cuda non-Windows platforms only`
`Relying on driver to perform ptx compilation.`
`Modify $PATH to customize ptxas location.`
I've tried the method you recommended by using mklink cmd in Windows OS. However, warnings about do not disappear.
What should I do?
Thanks for

[2022-11-08 07:46] mohantym commented on #58469
@Kristoff-starling !
Thanks for sharing your observations in gist format.

@SuryanarayanaY !
Could you look at this issue.

Thank you!

[2022-11-08 08:48] tmlstrong commented on #57550
@sayakpaul Because Conv2D that you using have dimension is 5, tflite support is 4. You can quick solve by reduce dimension from 5 to 4 by remove batch dimension

[2022-11-08 08:53] tilakrayal commented on #58467
@acknowledgexiongdei,
Kindly please take a look at the above comment and I tried to execute as mentioned. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/8fe371c5137dd9e64d2bd3dc06219243/untitled738.ipynb) and let us know if it serves your purpose. Thank you!

[2022-11-08 08:55] tilakrayal commented on #58472
The PR has been assigned for reviewing and once it is merged this issue will move to closed status.

[2022-11-08 09:01] acknowledgexiongdei commented on #58467
Thank you very much

[2022-11-08 09:05] acknowledgexiongdei commented on #58467
I use the code
[code]
Then get the result that I want

[2022-11-08 10:23] tilakrayal commented on #58274
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.9, v2.10 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/237fe6f24e3412bc65a5539a0b5b9105/untitle4.ipynb).

[2022-11-08 10:30] mohantym commented on #58476
HI @tensorbuffer !
Thanks for reporting this bug. Feel free to raise a PR from your end. I think it will take some time to reflect the change in new builds.
It is replicating [2.8,](https://colab.sandbox.google.com/gist/mohantym/03c9902ddf54bed97d15704dea325969/git_58468.ipynb#scrollTo=szplVG7VZ15X), [2.10](https://colab.sandbox.google.com/gist/mohantym/83e0ffe4b2be0d3d8cade1a2311f0ab4/git_58468.i

[2022-11-08 11:34] mohantym commented on #58468
Hi @ra9hur !
You can see the model details of lite model using [netron web app](https://netron.app/). To print all tensor details, you need to invoke the interpreter with respective TFlite model and get the [tensor details](https://www.tensorflow.org/api_docs/python/tf/lite/Interpreter#get_tensor_details) by index of respective tensor.

On GradCam Visualization perspective, You can use @tf.functio

[2022-11-08 11:37] learning-to-play commented on #58339
Hi @kulinseth, Could you please share your thoughts on this issue?

[2022-11-08 11:37] learning-to-play commented on #58339
FYI @penpornk

[2022-11-08 11:42] sharmadhiraj86 commented on #58383
@tilakrayal @Germantas-IILTD If possible can you please let me take this issue and raise a PR? In my one subject, 30% component is there for open source contribution and I have been looking for some issues that can be solved and found this. Also I have to get the PR raised and get it merged. Without that, I won't get marks. I hope you understand. Please assign this issue to me and let me raise a P

[2022-11-08 12:16] rivershah commented on #56177
Seeing same issue

[2022-11-08 13:28] eelcoder commented on #58156
Hello,

Any feedback on this request ?

thanks.

[2022-11-08 13:32] fuzzyswan opened #58479 "`tf.math.pow()` is inaccurate with some small integer values presented by tf.float32 on GPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.2

### Custom Code

Yes

### OS Platform and Distribution

Colab

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2.152, 8.1.1

### GPU model and memory

_No res

[2022-11-08 13:34] MarkDaoust commented on #58442
Thanks @mraunak. Yeah, I guess we were all hoping there would be more details.

@SeeForTwo adjusted the test size, to see if it somehow just needs more time, but I'l not holding my breath on that one given the strange logs: `Ran 6 tests in 0.373s ...  TIMEOUT in 3 out of 3 in 300.9s`

[2022-11-08 13:35] misterBart commented on #58050
`tflite::LoggerOptions::SetMinimumLogSeverity(tflite::TFLITE_LOG_ERROR)` will not silence *error* events, therefore I implemented option (2) in my previous post as:
[code]
But this does *not* even silence the message `INFO: Created TensorFlow Lite XNNPACK delegate for CPU.`
So obviously, the `Report()` function is not called, whereas the documentation says "Subclass ErrorReporter to provide anothe

[2022-11-08 13:35] SuryanarayanaY commented on #41152
Hi @RanjanBalappa,
Sorry for the delayed response. Here is my observations on the output you mentioned for the given code.Each BatchNormalisation layer has two `trainable weights` and two `non_trainable weights` and hence 3-layers in given problem has total 6 non_trainable weights.Tensorflow arranged them in such a way that all trainable parameters grouped in sequence and non-trainable parameters

[2022-11-08 14:02] bhack commented on #58354
So as it is solved in 2.11rc I think it could go stale/closed.

[2022-11-08 14:05] Daveorr commented on #58295
Thanks for the insights,

My case is pretty simple, I have
- `index` tensor of shapes `(nxm)`
- `params` tensor of shapes `(1xk)` (basically we sample always from a flat tensor)

expected behaviour would be something like:
'''
## INPUTS ##
params = [a,b,c,d,e,f]
index = [[2,3,1], [1,2,3], [1,4,3]]

## OUTPUT#
out = [[c,d,b],[b,c,d],[b,e,d]]
'''

But I noticed that `gather_OP` for cl GPU delegate i

[2022-11-08 15:36] aaudiber commented on #58109
Hi @MinaAku. This doc explains how to use dataframes with tf.data: https://www.tensorflow.org/tutorials/load_data/pandas_dataframe#a_dataframe_as_a_dictionary. The idea is to cast your dataframe as a `dict` before using `from_tensor_slices`.

[2022-11-08 15:52] davidxia commented on #58339
To clarify, I'm just seeking clarity on whether I can expect tensorflow-macos to support Apple silicon + Rosetta. Totally fine if the decision by Google and/or Apple is no after a certain version. I just want an explicit and transparent notification of this. Thanks.

[2022-11-08 16:09] github-actions[bot] opened #58480 "Issue created for Rollback of PR #57674: [NVIDIA TF] Enable BF16 Conv Ops"
Merged PR #57674 is rolled back in 3e8539cbca22e04e6e8f6ca30460d526fee4b5aa.
    Please follow up with the reviewer and close this issue once its resolved.

[2022-11-08 16:20] teijeong commented on #58480
(cleaned-up) internal error trace:

[code]

[2022-11-08 17:03] gaetanbahl commented on #45256
This is still a problem in tensorflow 2.9.1.

[2022-11-08 17:07] bhack commented on #58479
I suppose that this is MLIR generated on GPU and it could be related to [float precision in LLVM](https://discourse.llvm.org/t/rfc-floating-point-accuracy-control/66018)?

@cantonios What do you think?

/cc @frgossen

[2022-11-08 17:33] kaixih commented on #58480
Thanks @teijeong . Reopened the PR and updated there.

[2022-11-08 17:37] rishikasinha-tf commented on #58339
Hi David! Thanks for reaching out about this. We are currently discussing this internally and will have a response for you soon. cc @kulinseth this is the PR we discussed last week which needs to be commented upon. Thanks!

[2022-11-08 18:26] SeeForTwo commented on #58442
My change was for consistency for one of the tests. (One of my general philosophies for debugging is that it is better to fix something that is wrong than to assume it's irrelevant.) It did not necessarily increase a timeout. I would be surprised if it helped.

I am not sure what this 5 minute timeout is. My understanding is that these tests have a 1 minute timeout. My guess is that the timeout is

[2022-11-08 18:50] impjdi commented on #56753
@sachinprasadhs I don't know enough about TF 2.10 or the converter.  Can this be assigned to the owner of TFLite convert?

[2022-11-08 18:54] bhack commented on #58479
I am bit lost with all the things moving in `tsl`. Are we using this on CPU?

https://github.com/tensorflow/tensorflow/blob/d46cbbc6433e4e366e0bb45f8632cf84da4b1948/tensorflow/tsl/lib/math/math_util.h#L172-L180

[2022-11-08 18:57] bhack commented on #58479
Also https://docs.nvidia.com/cuda/cuda-compiler-driver-nvcc/index.html#options-for-steering-gpu-code-generation-use_fast_math

[2022-11-08 19:02] #58088 closed

[2022-11-08 19:04] sachinprasadhs commented on #56886
Forward and backward gradients are computed in different ways and that is the reason you are seeing different behavior.
Regarding invalid inputs, in gradient calculation, validating of inputs will not be performed in all the cases considering the computation cost which will effect the performance. Thanks!

[2022-11-08 19:42] tensorbuffer opened #58481 "cmake of tensorflowlite for aarch64 failed with EIGEN_STATIC_ASSERT"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

master

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and

[2022-11-08 20:33] OverLordGoldDragon commented on #58463
Libraries supporting both as backends need this to avoid making a separate testing environment.

[2022-11-08 20:33] #58463 closed

[2022-11-08 20:59] rothn commented on #32081
FYI, I'm having this issue internally with an auto-generated (config-based) TFX pipeline. An internal Q/A points to this, but I have no idea how we would set trainingInput.useChiefInTfConfig() internally.

[2022-11-08 21:03] rothn commented on #32081
Any way we can reopen this? I'm seeing this on a completely stock pipeline. Same error:
I 2022-11-08 13:02:31.787559-08003 52788 session_manager.py:460 Waiting for model to be ready.  Ready_for_local_init_op:  Variables not initialized: global_step, linear/linear_model/augmented_text_StringSplitColumn_NgramColumn_ComputeAndApplyVocabWithMutualInfoColumn/weights/part_0, linear/linear_model/bias_wei

[2022-11-08 21:24] pranavladkat commented on #56692
The issue with above suggestion is that it does not work with nested modules. If one of the layer is deep inside other layers which uses kwarg, this approach does not work.

[2022-11-08 21:27] njzjz commented on #31807
In the auditwheel [5.2.0](https://github.com/pypa/auditwheel/releases/tag/5.2.0) which is recently released, one can use `--exclude` option instead of editting `policy.json`:
[code]

If one uses `cibuildwheel`, add the following option to `pyproject.toml`.
[code]

[2022-11-08 22:19] chrisbutner commented on #47683
Hi @tilakrayal - in the gist you linked I see the following error, so I don't think the gist indicates that the bug can be closed.

```InvalidArgumentError: Trying to access resource _0_SentencepieceOp located in device /job:worker/replica:0/task:0/device:CPU:0 from device /job:worker/replica:0/task:0/device:TPU:0```

Also, the gist installs `tensorflow-text-nightly` then `tensorflow-text` - only

[2022-11-08 22:22] bhack commented on #58481
Is the same as https://github.com/tensorflow/tensorflow/issues/57968  fixed with https://github.com/tensorflow/tensorflow/pull/57969?

/cc @elfringham

[2022-11-08 22:27] hguihot commented on #58479
See https://github.com/tensorflow/tensorflow/issues/56998.

[2022-11-08 23:52] tensorbuffer commented on #58481
No, that commit only changed BUILD file, which is for bazel build, while I am using cmake.
I fixed it by changing the define to 4 in eigen/Eigen/src/Core/arch/NEON/GeneralBlockPanelKernel.h:
 #if EIGEN_ARCH_ARM64

#ifndef EIGEN_NEON_GEBP_NR
#define EIGEN_NEON_GEBP_NR 4
#endif

But I think a better fix would be a similar change in cmake files.

[2022-11-09 02:12] mohantym commented on #58463
@OverLordGoldDragon !
Thanks for the feedback .

[2022-11-09 03:13] kennysong opened #58485 "The tutorial Keras SavedModels from TF 2.7 do not load in TF 2.8, 2.9, 2.10"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

TF 2.7.0 to 2.10.0

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model a

[2022-11-09 03:33] yishuangP commented on #58398
That's weird, I just try building the framework with the same command and it builds successfully. Mine is also M1. What's your bazel version?

[2022-11-09 03:46] mohantym commented on #57826
@lreiher @njzjz !
I could replicate this issue in [master ](https://colab.sandbox.google.com/gist/mohantym/0428967b7a85d88775b4707fdfc6a8c6/tensorflow-ranking.ipynb)branch too .
Thank you!

[2022-11-09 06:34] mohantym commented on #58140
Sorry @rrajkumar1990 !

Actually, I could not find a  sample .pb from in time to replicate this issue. It have been great if you provide the .pb model and code snippets in a colab gist.

My thought was as  if you are using 1.x version format( .pb)  of models, It will throw compatibility issues while replicating in 2.x version.  So, It is better to recreate and save the model using[ tf.saved_model.

[2022-11-09 07:04] MichoChan opened #58487 "release variable memory api ?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf 2.8

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-11-09 08:15] erikbylow-vol commented on #58398
Mine is 5.1.1

[2022-11-09 08:51] tilakrayal commented on #58485
@kennysong,
Thank you for reporting this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-11-09 09:02] #58186 closed

[2022-11-09 09:34] creakseek opened #58489 "`tf.exp` on GPU behaves differently from CPU and numpy when a complex input overflows"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.2

### Custom Code

Yes

### OS Platform and Distribution

Colab

### Mobile device

_No response_

### Python version

3.7.15

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2.152, 8.1.1

### GPU model and memory

_No response_

[2022-11-09 10:15] bhack commented on #58398
@erikbylow-vol Do you have the same problem with TF 2.11.0-rc2?

[2022-11-09 10:16] SuryanarayanaY commented on #58469
The test case is tested with CPU runtime with both `tf.raw_ops.SegmentMax()` and `tf.math.segment_max()` in [2.9.2v](https://colab.research.google.com/gist/SuryanarayanaY/d4652c3f229afa2a99d93e0a3b35378f/58469-2-9-2v.ipynb) , [2.10v](https://colab.research.google.com/gist/SuryanarayanaY/c1e44d29bdc66c720ae9ad60ed8f6465/58469-2-10-v.ipynb) & [nightly](https://colab.research.google.com/gist/Suryanar

[2022-11-09 10:21] bhack commented on #58469
I don't see the GPU in your gist. What do you mean?

[2022-11-09 10:22] SuryanarayanaY commented on #26873
Hi @bersbersbers ,
As this issue is currently active on Keras-repo,could you please close it here so that we can track the issue there at Keras-repo ?

Thankyou in advance.

[2022-11-09 10:43] SuryanarayanaY commented on #58469
Hi @bhack,

The code tested in GPU for 2.9.2 ,2.10 and nightly versions in above comments by @mohantym .I have gone through those and observed GPU behaviour. Hence i have not attached them again in my comments to avoid repetition.

Thankyou!

[2022-11-09 10:49] bhack commented on #58469
These test are not always valid with the default soft placement enabled in TF, e.g. are for sure are not for the nightly gist.

Please add `tf.config.set_soft_device_placement(False)` after import TF in these gists.

[2022-11-09 10:59] dasmehdix opened #58490 "Training takes much more time after load saved model(pretrained model)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

tf 2.10

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 18.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

Nv

[2022-11-09 11:45] DanijelDomazet opened #58491 "Running TensorFlow on SHArC processors?"
Are there any information on the possibility to compile TensorFlow (Lite C) targeting SHArC processor from Analog Devices?

[2022-11-09 11:50] bhack commented on #58469
Just to be a little bit more explicit @mohantym's gist you have reused was running on CPU at least on nightly so you have not observed the GPU behaviour.

[2022-11-09 12:02] #58262 closed

[2022-11-09 12:02] #58267 closed

[2022-11-09 12:02] bhack commented on #58469
@Kristoff-starling I don't know if it is really a cosntrain it was more an open question as if you try it is also not validated by the high level API op `tf.math.segment_max`.

[2022-11-09 12:05] omersavas26 commented on #41635
I have similar problem. I try to generate new image with gans model on google cloud tpu (v2.8). But some time i give nan value as loss and after i check to model weights, i see all weights are nan.

My code is:
`def build_generator(channels = CHANNELS, gf = GF, img_shape = IMG_SHAPE):
  def conv2d(layer_input, filters, f_size=4, bn=True):
    d = Conv2D(filters, kernel_size=f_size, strides=2, padd

[2022-11-09 12:09] kennysong commented on #58485
Hi @tilakrayal, I've copied the issue to the Keras repo as well: https://github.com/keras-team/keras/issues/17232

If you can post your reproduction of the bug there, that would be helpful!

[2022-11-09 12:13] bhack commented on #57950
You need to share your dataset or reproduce it with dummy input data or we cannot run your colab.

[2022-11-09 12:40] Kristoff-starling commented on #58469
Hi @SuryanarayanaY ,
May be you can refer to this [gist](https://colab.research.google.com/drive/1MFcgJmU6RkJP0b9YMMa9XUENUCTJvYTB?usp=sharing) to see the outputs of compute sanitizers. Maybe we should add some checks on GPU side to avoid unexpected access to memory.
@bhack yes, `tf.math.segment_max` also doesn't accept sequences with negative values. I'm not quite sure about it.

[2022-11-09 12:56] bhack commented on #58469
Can you reproduce out of bound with positive values on GPU with the raw op?

[2022-11-09 13:01] tilakrayal commented on #58485
@kennysong,
Could you please move this issue to closed status, since it is already being tracked there in keras repo? Thank you!

[2022-11-09 13:14] kennysong commented on #58485
Done. Please post your confirmation on the other issue as well!

[2022-11-09 13:14] #58485 closed

[2022-11-09 13:17] Kristoff-starling commented on #58469
It seems that out-of-bound cannot be reproduced with positive values even if the sequence is non-increasing. Actually we need a negative value small enough locating at the first place in the sequence to trigger the out-of-bound error.

[2022-11-09 13:29] bersbersbers commented on #26873
@SuryanarayanaY I am not sure https://github.com/keras-team/keras/issues/16173 is a good replacement for this issue, as that issue tracks bringing back a functionality that was deleted; this issue here is about a bug within that functionality. Having said that, this issue is four years old and there is a good chance it is outdated if https://github.com/keras-team/keras/issues/16173 is closed one w

[2022-11-09 13:29] #26873 closed

[2022-11-09 13:48] Kristoff-starling commented on #58469
Thanks for the advice. I'll look into it.

[2022-11-09 14:25] agarip opened #58492 "Can't build TensorFlowLiteSelectTfOps with -force_load linker flag"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.10.0

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and

[2022-11-09 14:28] fuzzyswan opened #58493 "`tf.experimental.numpy.divmod` produces `nan` remainder for `1 % inf` on GPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.2

### Custom Code

Yes

### OS Platform and Distribution

Colab

### Mobile device

_No response_

### Python version

3.7.15

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2.152, 8.1.1

### GPU model and memory

_No response_

[2022-11-09 15:02] #58263 closed

[2022-11-09 15:02] #58293 closed

[2022-11-09 15:02] #58272 closed

[2022-11-09 15:15] bhack commented on #58290
I've tested the gist again with the last nightly and the code path of this example it seems to be different from the one fixed with the PR https://github.com/tensorflow/tensorflow/pull/58328:

https://colab.research.google.com/gist/bhack/9dc16546d360291eb943bbeb36a01c57/untitled192.ipynb

But I don't have enough cloud resources to recompile TF again a prepare a new PR /cc @mihaimaruseac

[2022-11-09 15:34] fuzzyswan opened #58496 "`tf.experimental.numpy.sort` does not `nan` values to the end as numpy document says"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.2

### Custom Code

Yes

### OS Platform and Distribution

Colab

### Mobile device

_No response_

### Python version

3.7.15

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2.152, 8.1.1

### GPU model and memory

_No response_

[2022-11-09 16:02] #58208 closed

[2022-11-09 16:02] #58280 closed

[2022-11-09 17:40] SuryanarayanaY commented on #58140
Hi @rrajkumar1990 ,

From the error log  as we can see `MLIR V1 optimization pass is not enabled`  as the API  `tf.config.experimental.enable_mlir_graph_optimization` is under development.

Could you please spare some time to refer the attached [TF Forum](https://discuss.tensorflow.org/t/none-of-the-mlir-optimization-passes-are-enabled/2247/18) link regarding similar issue and please let us know i

[2022-11-09 17:40] csn1800 opened #58497 "Unable to build Tensorflow 2.12.0 Open CL delegate for aarch64 platform"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.12.0

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

Khadas Vim 3

### Python version

3.8.10

### Bazel version

5.1.1

### GCC/Compiler version

10.3.1

### CUDA/cuDNN version

_No response_

### GPU model and memory

Mali G52

[2022-11-09 17:53] bhack commented on #58496
Yes it is the underline impl of `tf.sort`

[code]

Can you contribute a PR add a new test case with `np.nan`?
https://github.com/tensorflow/tensorflow/blob/c9d57288fe985527b85ed554a1d518b9ca03fc25/tensorflow/python/ops/sort_ops_test.py#L41-L48 ?

As the test will fail you must wrap it with `@unittest.expectedFailure` like this one and add a reference to this issue:
https://github.com/tensorflow/te

[2022-11-09 18:02] #58210 closed

[2022-11-09 18:15] bhack commented on #58493
Yes it is the underline impl of `tf.math.mod`

[code]

I think that it is the same as https://github.com/tensorflow/tensorflow/issues/58369

It is better to contribute a PR to extend the coverage of the underline TF op as suggested at https://github.com/tensorflow/tensorflow/issues/58496#issuecomment-1309127218.

[2022-11-09 18:31] tensorbuffer opened #58498 "Feature request: tflite with GPU and Hexagon delegate support on Linux ARM64 platform"
From this link: https://www.tensorflow.org/lite/guide/build_arm , GPU delegate is "only available for Android" if I use bazel, so I have to use cmake in order to get GPU delegate.
However from this link: https://www.tensorflow.org/lite/guide/build_cmake , there's only TFLITE_ENABLE_GPU, no TFLITE_ENABLE_HEXAGON. I tried to use it in cmake and it's not recognized.
Wondering if tensorflow can either

[2022-11-09 18:48] swapnilsayansaha opened #58499 "Pruning Example broken in TensorFlow 2.9.2"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.2

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.6

### GPU model and memory

Nvidia Rtx 30

[2022-11-09 19:30] sachinprasadhs commented on #58481
https://github.com/tensorflow/tensorflow/commit/09d49d9f6c9c13679ab8181d1b15480ea8a88da1 fix had problems with the target `tensorflow/lite/kernels/internal/BUILD `, which was later addressed in https://github.com/tensorflow/tensorflow/commit/888dd68c774ba5d48dbb5181077ee454936822ed with changes `DEIGEN_NEON_GEBP_NR=4` asserts the values anything but 4 in the files https://github.com/tensorflow/ten

[2022-11-09 19:33] csn1800 commented on #58497
The issue was was happening due to Tensorflow build referring to local CL includes which are at a different version. It got resolved with a work-around of renaming the /usr/include CL directory temporarily. There was no issue in compiling with the old compiler version (GCC 8.3.0) which comes with Tensorflow as well.

I do not think the build should refer to the host /usr/includes in prior to what

[2022-11-09 19:38] sachinprasadhs commented on #58476
Could you please refer to the comment here https://github.com/tensorflow/tensorflow/issues/58481#issuecomment-1309256864, could you close this issue and track the progress in the new issue, which you have opened [here](https://github.com/tensorflow/tensorflow/issues/58481). Thanks!

[2022-11-09 20:03] tensorbuffer commented on #58481
Tried this patch, modified the two files and still same result.

[2022-11-09 20:05] tensorbuffer commented on #58476
This is a different issue, where the root cause is explained in the description, e.g. just change find_package(flatbuffers) to find_package(Flatbuffers)

[2022-11-09 20:13] bhack commented on #58481
If you have only patched have you checked that the Eigen hash is aligned https://github.com/tensorflow/tensorflow/commit/09d49d9f6c9c13679ab8181d1b15480ea8a88da1#diff-4d11c067bc6f6eac72690f773f5c5ddc1cbc8020ba3a2752a9ed041986012699R26 ?

[2022-11-09 20:17] tensorbuffer commented on #58481
Yes that's always the case
   EIGEN_COMMIT = "b3bf8d6a13585ff248c079402654647d298de60b"
   EIGEN_SHA256 = "2ec7ccfe975d2e05768172b7b98975852e8f739f776ea3ae7ee9fc981dcc38de"

[2022-11-09 20:20] zcase commented on #56753
Not sure if this helps give a direction to look for the issue, but I found it one modifies the default pretrained config file (I was using mobilenetV2) and you change the following area to look like this:

`
anchor_generator {
      multiscale_anchor_generator {
        min_level: 3
        max_level: 3
        anchor_scale: 4.0
        aspect_ratios: 1.0
        aspect_ratios: 2.0
        aspect_

[2022-11-09 20:28] jkaldal commented on #56734
I'm having a similar problem ("while" loop) when converting a RNN network, with a custom RNN cell, to a tflite model. This also happens when using the LSTMcell instead of the custom cell or when using the GRUcell or GRU layer. However, this does NOT happen when using the LSTM layer.

[code]

When I view my model in netron, this is what I get
![netron_gru_model](https://user-images.githubuserconten

[2022-11-09 21:17] bhack commented on #58481
Ok, It seems that the def doesn't propagate. Have you tried to put it in `TFLITE_TARGET_PUBLIC_OPTIONS` instead of the private one?

[2022-11-09 21:26] tensorbuffer commented on #58481
Yes that works!
set(TFLITE_TARGET_PUBLIC_OPTIONS "-DEIGEN_NEON_GEBP_NR=4")

[2022-11-09 21:39] bhack commented on #58481
Do you want to do this PR?

[2022-11-09 21:58] tensorbuffer commented on #58481
Sorry no, not sure about company policy...

[2022-11-09 22:03] cantonios commented on #57779
@jxy we know the cause, and we know the proper solution is to use `tf.convert_to_tensor` rather than `tf.cast` to convert numpy arrays to tensors.  We're blocked from changing `tf.cast` to address this directly, since doing so changes the graph representation which breaks existing models and workflows.  So I think our hands are tied.  You should be using `tf.convert_to_tensor` to avoid precision l

[2022-11-09 22:08] sachinprasadhs commented on #58264
You can close this issue and track the progress in the ongoing thread in the issue here https://github.com/tensorflow/tensorflow/issues/56137, , unless if you like to convert this to a feature request as mentioned below.

[2022-11-09 22:09] bhack commented on #58481
@tensorbuffer Ok I will do it on my side.

[2022-11-09 22:25] AVON257 opened #58507 "Bug in MLP notebook"
I have found a problem with a memory explosion on the MLP notebook, if it's configured to use non deterministic Nvidia cuda.

What I found is that the memory usage went up massively, when I last tested it I think using gelu activation functions, instead of relu.

When I tested this it resulted in memory usage increases, until it used up all my system memory (32GB), on Ubuntu 22.10.

This was using

[2022-11-09 23:02] #57905 closed

[2022-11-09 23:45] swapnilsayansaha commented on #58499
Found a totally unacceptable solution. Not sure but the training step for the pruned model only works on CPU and not GPU:

[code]

So TensorFlow's sparse operators aren't GPU friendly even now?!

[2022-11-10 01:15] kulinseth commented on #58339
Thanks @rishikasinha-tf  and @learning-to-play for pointing out this issue. Apologize for delay in response.

@davidxia . This is a good question. Let me provide some context (you might already be familiar or would have guessed). As you mentioned Rosetta doesn't support AVX, so TF built with AVX enabled will have issue which you pointed out. Till TF 2.8 we were building the packages :
CC_OPT_FLAGS

[2022-11-10 01:32] feihugis commented on #38722
@Pekary  No, I did not at that time. Maybe you can try to convert the model to ONNX format and use ONNXRuntime with TensorRT ExecutionProvider.

[2022-11-10 02:31] wangpengmit commented on #58445
We don't guarantee it for `tf.random.stateless_categorical` because it doesn't have an `alg` argument, in which case the algorithm is interpreted to be "auto-select" (which can be device-dependent). There is a sentence in https://www.tensorflow.org/guide/random_numbers: `The RNG algorithm used by stateless RNGs is device-dependent, meaning the same op running on a different device may produce diff

[2022-11-10 02:33] wangpengmit commented on #58445
BTW I suspect the reason it's not reproduced in graph mode is because soft placement placed both ops on CPU.

[2022-11-10 02:35] wangpengmit commented on #58450
Marked as duplicating #58445 .

[2022-11-10 02:35] #58450 closed

[2022-11-10 02:46] bhack commented on #58445
In my shared colab I had:
`tf.config.set_soft_device_placement(False)`

[2022-11-10 02:56] bhack commented on #58445
Also if it is a FR for introducing the algo control, don't we need in the meantime to modify the mentioned claim?

https://github.com/tensorflow/tensorflow/blob/359c3cdfc5fabac82b3c70b3b6de2b0a8c16874f/tensorflow/python/ops/stateless_random_ops.py#L834:L838

[2022-11-10 03:04] bhack commented on #58445
Also if it is a FR for introducing the algo control, don't we need in the meantime to modify the mentioned claim?

https://github.com/tensorflow/tensorflow/blob/b2b201fd709a0a256a39751e7aa248d24f349b7a/tensorflow/python/ops/stateless_random_ops.py#L888;L892

[2022-11-10 03:22] felker commented on #57779
FYI it only does this for Python floats, not `np.float64` inputs:
[code]

[2022-11-10 04:09] yishuangP commented on #58398
Hi, sorry I just tried switching branch to v2.10.0, it also failed with the same error, but it succeeds on master. We already drop support for 32 bits since Apple drops support for it since iOS 11. To build for 64bits devices, you can run the following command:
[code]

[2022-11-10 04:11] rrajkumar1990 commented on #58140
Hi @SuryanarayanaY ,

I don't think so the memory consumption changes are due to the "MLIR V1 optimization". I remember trying that and still  the pod memory consumption was more in 2.8.1 and 2.9.1. Could you try the steps I have mentioned and let me know

[2022-11-10 04:13] mohantym commented on #58499
Hi @swapnilsayansaha !
I could not find any issue with Colab config (Cuda 11.2 , TF 2.9.2 and Python 3.7 default version now in Colab) .
Attached [gist](https://colab.sandbox.google.com/gist/mohantym/205940f9f5ed47b2ad56691f55a8c35c/pruning_with_keras.ipynb#scrollTo=LdLm4hVYc1wx) for reference.

Cuda 11.2 and Cudn8.1 are Tested config for TF 2.9 and TF 2.10.

Can you create an fresh environments t

[2022-11-10 04:26] mohantym commented on #58491
Hi @DanijelDomazet !

Not Sure whether the [Cmake ](https://www.tensorflow.org/lite/microcontrollers) documentation on lite will suit for Sharc processors with Hexagon DSP support.

Normally we use Cmake the compile certain example from [tflite/micro](https://github.com/tensorflow/tflite-micro) repo .
Could you post in TFlite-Micro repo / TF Forum for better visibility.

Thank you!

[2022-11-10 04:27] sayakpaul commented on #57550
Thanks. Any code snippets?

[2022-11-10 04:28] swapnilsayansaha commented on #58499
@mohantym thanks for your suggestion. Here a few things I noticed:
1. I repeated your suggestion and the issue persists. Now in case you wonder why: Is it a problem with my environment? No. **My models train fine on the GPU when I don't use pruning.** The issue was there only for the pruned model. I talked to a few researchers in my universities who said TensorFlow doesn't work well with sparse op

[2022-11-10 05:02] #58214 closed

[2022-11-10 05:02] #30914 closed

[2022-11-10 05:13] reedwm commented on #58479
I can reproduce with this a raw CUDA program, so this is a CUDA issue:

[code]

@nluehr is it expected `powf` might be this inaccurate? If so I'll close this issue.

[2022-11-10 05:16] SuryanarayanaY commented on #58140
Hi @rrajkumar1990 ,

Thanks for quick response.Could you please confirm whether with 2.8v you are getting any logs like those you attached above ?
Is the behaviour tested on latest stable version 2.10 v ? Could you please test and share the logs if any ?

Also could you please share the model graph so that we can try to replicate the problem.

Thankyou!

[2022-11-10 06:08] SuryanarayanaY commented on #58453
Hi @feranick,

Please find the attached documentation link specifying the compatibilities of MacOS CPU with Bazel and Clang from xcode. Could you please cross check the installation with these configurations and let us know if problem still persists.

[2022-11-10 06:13] creakseek opened #58515 "`tf.math.negative` negates only the last element in an all-zero 3x3 matrix on CPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10.0, and nightly

### Custom Code

Yes

### OS Platform and Distribution

Colab

### Mobile device

_No response_

### Python version

3.7.15

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2.152, 8.1.1

### GPU model and memory

[2022-11-10 06:21] creakseek commented on #58489
@tilakrayal This is also reproduced on tf nightly.

[2022-11-10 06:26] rsanthanam-amd opened #58516 "Removal of Experimental_IO Device in DTensor Causing Issues With Horovod Based Models"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.12

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.03

### Mobile device

_No response_

### Python version

3.9

### Bazel version

5.3.0

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

[2022-11-10 07:00] tilakrayal commented on #58489
@sachinprasadhs,
I was able to reproduce the issue on tensorflow-gpu v2.9, v2.10 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/b35c0398ce6c842017603bc6de8c3b23/gpu.ipynb).

[2022-11-10 07:19] mohantym commented on #58499
Ok @swapnilsayansaha !
Thanks for sharing your observations.

It seems to be pruning issue then. As it is replicating in GPU when a pruned model is used.
Could you post on [model-optimization](https://github.com/tensorflow/model-optimization) repo.

Thank you!

[2022-11-10 07:40] chenliang110 commented on #58379
Can you test this problem on AMD notebook?

[2022-11-10 07:55] erikbylow-vol commented on #58398
How will this work with simulators? My job computer is an Intel Mac.

[2022-11-10 08:02] #55692 closed

[2022-11-10 08:31] erikbylow-vol commented on #58398
It works on my Intel Mac on v2.11.0-rc2

[2022-11-10 08:48] shanks0739 commented on #51583
pip install tensorflow-io  . This package needs to be installed separately

[2022-11-10 09:38] tilakrayal commented on #58507
@AVON257,
Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose) and also o expedite the trouble-shooting process, could you please provide a minimal code snippet you are using. Thank you!

[2022-11-10 09:46] creakseek commented on #58515
It's strange enough that this does not happen on 2x2 matrices.

[2022-11-10 09:48] muxamilian commented on #57601
I tried saving the tf1 model using tf2.10 but the memory leak persists.

Then I tried loading the saved model in tf2.10 again and saving it one more time with tf2.10 but then I get another problem: The newly saved model only is a couple of KB in size. Apparently all neural network weights are lost.
[code]

[2022-11-10 10:02] #45630 closed

[2022-11-10 10:02] #46083 closed

[2022-11-10 10:03] creakseek opened #58517 "`tf.round` on GPU rounds `-0.5` to `0.0` rather than `-0.0`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10.0, and nightly

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.7.15

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.3, 8.2.4

### GPU model and

[2022-11-10 10:10] bhack commented on #58489
@tilakrayal Your nightly gist is on CPU only

[2022-11-10 10:14] bhack commented on #58496
@tilakrayal You have not replicated on nightly as it is running on CPU

[2022-11-10 10:44] mohantym commented on #58498
Hi @tensorbuffer !

Thanks for the feature request. It is correct that Hexagon delegate are currently supported for Android if bazel build are used.

But I think once you [cross-compiled](https://www.tensorflow.org/lite/guide/build_cmake_arm#build_for_aarch64_arm64) with Linux Arm64 tool chain and build a TFlite run time with TFLITE_ENABLE_GPU=ON flag, It might be possible to compile the C++ progr

[2022-11-10 11:35] martin-gorner commented on #55639
I confirm this is a deliberate product decision: data augmentation techniques that augment an entire batch of images in a similar way are potentially harmful. Many models train better with good stochasticity of the training data. Even inadequate shuffling of data within a batch can show up on learning curves. Data augmentation is supposed to increase the variance of input images. But having an ent

[2022-11-10 11:48] SuryanarayanaY commented on #58461
Hi @sniafas ,

As i observed you are using bazel 5.3.0,which is not in tested versions of TF.Please refer the attached compatibilities [here](https://www.tensorflow.org/install/source#gpu).There might be compatibility issues with the newer versions.I request you to please use tested Bazel versions with its compatible CUDA,cuDNN and let us know if problem still persists.

There are couple of simila

[2022-11-10 12:14] bhack commented on #55639
Yes I think we all understand this but we also know that if in the design phase we don't have planned the resources to rewrite the required TF ops and Kernels, XLA the performance gap was assured as we need to launch a kernel for every image in the batch.

Also in some specific known condition it is hard to plan at all to refactor these specific API (see https://github.com/tensorflow/community/iss

[2022-11-10 12:24] lukaseller commented on #36065
I can reproduce the same issue with TF2.10.0. Interestingly it seems that the problem is related to the inference mode only --- when I call the model with `training=True` on the test_dataset I get a similar accuracy as for the training_dataset.

I think this is indeed something that requires fixing.

[2022-11-10 12:33] hellofinch opened #58520 "How to build with RDMA in new version"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

master

### Custom Code

No

### OS Platform and Distribution

ubuntu 18.04

### Mobile device

_No response_

### Python version

3.7

### Bazel version

0.26.1

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respo

[2022-11-10 12:46] martin-gorner commented on #55639
I'm hearing you. Performance is an important consideration too. We will be discussing the tradeoff.

[2022-11-10 12:54] bhack commented on #58479
@reedwm Is that internally is implemented in CUDA as this gist?

https://colab.research.google.com/gist/bhack/5071ca357b0e860aa99f74185cc4ff1e/untitled195.ipynb

[2022-11-10 12:57] bhack commented on #58479
And the errors bounds are in this relative table:
https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#intrinsic-functions

[2022-11-10 13:02] #58322 closed

[2022-11-10 13:17] bhack commented on #55639
@martin-gorner Thanks, I hope that you could keep the discussion open in the community also if sometimes I understand it could be slower than an internal thread.

Currently I don't have the Cloud resource available to compile TF and prepare some testing PR.
E.g. Just to make a concrete example, also if I have not seen the full implementation in details, but just considering the CPU kernel in Rando

[2022-11-10 13:21] lockmatrix commented on #57872
I also had the same problem,
I tested tf 2.9, 2.10, 2.11 and master

[2022-11-10 13:22] davidxia commented on #58339
Thanks for the update.

1. We would love to use native macosx arm64 builds. But my team depends not only on `tensorflow` (usually only a transitive dependency) but also `tfx` and a lot of other tensorflow related packages like `tfx-bsl`, `tensorflow-data-validation`, etc. In order to use native macosx arm64 builds, all these other tensorflow packages will also need to provide macosx arm64 builds.

[2022-11-10 13:25] feranick commented on #58453
Sorry, I don't see any attachment to the original email and in GitHub.

[2022-11-10 13:38] SuryanarayanaY commented on #58453
@feranick ,
Sorry for missing the attachment link. Please find the Documentation link [here](https://www.tensorflow.org/install/source#cpu_2).

Thankyou!

[2022-11-10 14:07] Twbent commented on #58520
Sorry

[2022-11-10 14:25] mohantym commented on #58497
Hi @csn1800 !
Sorry for the late response.
Currently GPU delegates are enabled for Android and IOS in Bazel Builds.

Could you refer the  [CMake arm](https://www.tensorflow.org/lite/guide/build_cmake_arm#build_for_aarch64_arm64)  documentation for use case and let us know.

Thank you!

[2022-11-10 14:35] feranick commented on #58453
Reading from the documentation, XCode 10.4 is ancient (before 2020) and not sure why it is listed. I don't know what 10.14 refers to, it certainly makes little sense in relation to the actual versions of XCode available today.

Anyway, Compilation works for TF 2.10.0 Bazel 5.1.1 and Clang from XCode 13.x (the one supported in MacOS 12.x). Compilation fails with XCode 14.1, the one supporting MacOS

[2022-11-10 14:40] bhack commented on #58368
Yes I don't know what it was broken with this commit https://github.com/tensorflow/tensorflow/issues/58453#issuecomment-1304365920

I think that this configuration it is currently not tested by the CI jobs so that commit was not checked by the CI.

[2022-11-10 14:54] feranick commented on #58453
The point of this issue, however, is not what works and what not based on a specific configuration. Rather that there is no way to download a viable compiler, as the `./configure` tool clearly intends to do.

If I run compilation, I get this error (as stated above):

`ERROR: Config value 'download_clang' is not defined in any .rc file`

In essence, regardless of what works or not, even defining wh

[2022-11-10 14:54] thoomi opened #58522 "Parallel loading of nested ExtensionTypes produces shape mismatch"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

Nvidia G

[2022-11-10 14:58] bhack commented on #58453
@feranick Can you make a quick test reintroducing these lines https://github.com/tensorflow/tensorflow/commit/e70d095050e1d4858b2fcf0a5b55c31a2d631387#diff-544556920c45b42cbfe40159b082ce8af6bd929e492d076769226265f215832fL69-L77 ?

[2022-11-10 15:20] feranick commented on #58453
I am running a compilation test using TF 2.11.0-rc2 codebase with the readded lines. Will keep you posted.

[2022-11-10 15:23] gsirocco commented on #58206
Hi @miaout17 @sachinprasadhs @mohantym, I'm just checking if you are able to replicate the issue and see a possible workaround or fix? I am ultimately trying to run on edge TPU, but if the TFLite model is not correct then the edge TPU will not be correct. Thanks!!

[2022-11-10 15:27] swapnilsayansaha commented on #58499
Sure I will do that. Closing this as of now.

[2022-11-10 15:27] #58499 closed

[2022-11-10 16:02] #58115 closed

[2022-11-10 16:13] pooya-jannaty commented on #51506
Having a similar malformed trie issue both on an M1 mac and Intel-based.

[2022-11-10 16:13] zcase commented on #56753
Could this issue result from using cuda 11.6? Just asking because I switched back to a commit for the models repo that was back around the time of tensorflow 2.5.0 thinking this would make things work and was seeing about the same issue.

Only difference was that the model that was created and then exported to a .tflite file always seemed to run everything on the GPU except the last output layer w

[2022-11-10 16:32] cantonios commented on #57779
Correct.  The is only happening because all non-tensor inputs get sent through a bare `tf.convert_to_tensor()` first, so calling cast on a python (or numpy) value is actually like calling
[code]
if `f` is a numpy array with dtype `np.float64`, the `convert_to_tensor` call converts it to the equivalent tensorflow type (`tf.float64`).  If it's a python float, we default to `float32`, since for most

[2022-11-10 16:36] cantonios commented on #58445
Yes, we should remove the `(and between CPU and GPU)` claim.

[2022-11-10 16:51] felker commented on #57779
Should I open a PR for the docs with the above suggested text?

[2022-11-10 17:20] kulinseth commented on #58339
Thanks @davidxia. This makes sense. We will look into enabling Rosetta support in upcoming release. I will update here.

[2022-11-10 17:21] creakseek opened #58523 "`tf.linalg.pinv` produces all-zero matrix instead of all-`nan` matrix when given `nan` input on GPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10.0, and nightly

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.7.15

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.3, 8.2.4

### GPU model and