[2019-07-27 05:43] MeysamSMH7 commented on #30977
@tensorflowbutler  @ravikyram so? is it possible ?

[2019-07-27 05:46] ramrahu commented on #30349
Sorry for late response. Yes it is the same.

[2019-07-27 05:51] Deepak-HpyAda commented on #30645
Thank you
I solved it. But the accuracy has gone done
I used this code to Convert TFModel to TFlite Model

set the python location in the terminal
**cd /Applications/anaconda3/envs/tensorflow_cpu/lib/python3.7/site-packages/tensorflow/lite/python**

Then add this code to Convert the Model to a Quantized one!!!

**tflite_convert --output_file=$(Output file Location_ name it with outputfile.tflite)

[2019-07-27 05:52] #30645 closed

[2019-07-27 07:45] MovGP0 commented on #30905
On Windows 10, you could disable the path length restriction, set an hard link for the installation path, and update the environment variables.

This way we could have a store-managed version of python that supports the longer paths.

[2019-07-27 08:11] hailigu opened #31095 "YOLO V3 Tensorflow Lite request"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-07-27 08:22] MovGP0 commented on #30905
@gunan can you update the documentation? thank you!

[2019-07-27 08:34] kishorekumarsingh opened #31096 "Op request tensorflow lite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-07-27 08:43] GSonderling commented on #21403
Any changes to this issue? Or does it still require you to rewrite basic tensorflow functions?

[2019-07-27 09:10] damienpontifex commented on #31055
Thank you for the insights @allenlavoie

I'm now trying this
[code]

But get the error:
[code]

I've also tried wrapping this up in a `tf.Module` subclass that has the Keras model as a member property and then has a member function to predict but similar error.

For more context, this is the example I'm trying to set up: https://github.com/damienpontifex/mobilenet-classifier-transfer

[2019-07-27 11:03] ppwwyyxx commented on #26278
@johnpjf The `crop_and_resize` op also has the half-pixel issue, which can be seen at https://github.com/tensorflow/tensorflow/blob/c95e5bcd98b35c2688577262038da645a2088de4/tensorflow/core/kernels/crop_and_resize_op.cc#L237-L248

Since you fixed this issue in the resize ops, I'm wondering whether this op is on your radar and is there a plan to fix it soon?

[2019-07-27 11:09] mdanatg commented on #29191
@ethereon Thank you for follow-up and the samples! Indeed, our current resolution for handling `super()` is not yet complete, and will only work if the call is in a method (or outside control flow, as you pointed out).
@kkimdev has been working on addressing this. We intentionally oversimplified the solution to assume the original caller of `super()` is exactly one frame up the call stack in the c

[2019-07-27 12:12] DeepBlender commented on #30955
@ymodak sorry for the confusion, I meant to say similar functionality, but that does not seem to be accurate either.
It has been my understanding that in TensorFlow 2.0 it should be possible to switch between graph and eager mode flawlessly. This is a relatively simple example where it doesn't work.

[2019-07-27 12:22] tensorflowbutler commented on #25171
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-07-27 12:23] tensorflowbutler commented on #25588
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-07-27 12:23] tensorflowbutler commented on #25746
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-07-27 12:23] tensorflowbutler commented on #25997
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-07-27 12:23] tensorflowbutler commented on #26280
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-07-27 12:56] tlkh commented on #31077
Yes. If you only used the binary package, you can uninstall and install with your package manager. Did you use pip or conda?

For example, for pip you can do:
[code]

[2019-07-27 13:03] tlkh commented on #31031
@suffererofautomation NVIDIA provides validated and optimized binaries. Although currently, it is for TF 1.13.1. Take a look at: https://elinux.org/Jetson_Zoo#TensorFlow

If you want to build from source (assume you have a specific requirement for 1.14 and you cannot wait), check out [this thread](https://devtalk.nvidia.com/default/topic/1055131/jetson-agx-xavier/building-tensorflow-1-13-on-jetson

[2019-07-27 13:11] eriklu opened #31098 "conda install tensorflow-mkl version raise error: could not create a dilated convolution forward descriptor"
keras vesion: 2.2.4, tenssoflow version: 1.13.1
CPU: i3-330

exception stack:

Epoch 1/5

---------------------------------------------------------------------------
AbortedError                              Traceback (most recent call last)
<ipython-input-7-ddf42c6880a1> in <module>
     13                               validation_steps=math.ceil(val_flow.samples/val_flow.batch_size),
     14

[2019-07-27 13:24] abdou31 commented on #31077
Yes, I have used pip.
Thanks for your answer.

[2019-07-27 13:34] abdou31 opened #31099 "Improve fps Resnet model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):1.14.1
- Python version:3.6.8
- CUDA/cuDNN version:9.0/7.4
- GPU model and memory: Nvidia GeForce 840m

I hav

[2019-07-27 13:46] bamwani commented on #30191
dist-packages cannot be uninstalled or removed by pip, so you have to go manually delete the wrapt folder.

Where is that wrapt folder?- It can be seen in the terminal from where it is picking the wrapt.

in my case, the wrapt folder was in root/usr/lib/python3/
hope it works for you too.
ps. (you can start by deleting all wrapt folders by just searching them)

[2019-07-27 13:51] jvishnuvardhan commented on #29795
@cgebbe Sorry for the delay in my response. There were huge improvements in TF. Why do you want to use TF1.3? Do you have any use case that requires TF1.3 which was not associated with keras? Thanks!

[2019-07-27 13:54] Akeaakar commented on #30427
Hello i am having the same error. Can u plese tell me what to do with instruction to solve this problem.Thanks

[2019-07-27 14:27] yenerhelvacioglu commented on #27470
I am still getting this error with Python 3.7.3, Tensorflow-2.0.0-alpha0 and macOS 10.14.6

[2019-07-27 14:53] lufol commented on #31099
Hi abdou31,
you could try the tensorflow slim models.
[Here](https://github.com/tensorflow/models/tree/master/research/slim) is an overview how to use them. There is even a pretrained model that might be a good start to try out the performance before training your own network.

[2019-07-27 15:00] yongtang commented on #30427
@Akeaakar The issue has been fixed and merged into the master branch. In the next release of TF the issue should be gone.

[2019-07-27 15:15] abdou31 commented on #31099
I just want to tell you that I have used a Github Repository ( project ) that use a CNN to create a Resnet model to detect 68 facial landmarks.
NB: The output of the CNN is Regression, not a classification.
So I have used this CNN to train my own dataset to detect 40 eye region landmarks, I tried to use the pre-trained model that he gives but it doesn't work because of the number of landmarks ( un

[2019-07-27 15:52] lufol commented on #31099
Since the project of the github repository you linked seems to be specific, I would consider converting the network you have trained to a tf lite network and try the performance then.

[2019-07-27 16:06] abdou31 commented on #31099
I have converted to tflite and I did not how can I use tflite model for prediction

[2019-07-27 18:38] maxima120 commented on #23150
Any attempt to mix keras and tf.keras classes fail on TPU. You probably need to induce TF devs to fix their optimisers rather..

[2019-07-27 19:17] llan-ml commented on #26460
Hi @jaingaurav It seems that disabling all GPUs does not work properly. I ran the following code
[code]
Although the variable `x` is placed on GPU, the process still occupies some gpu memory. The expected behavior is that running `nvidia-smi` does not show any process info.

[2019-07-27 19:20] #22485 closed

[2019-07-27 19:36] maxima120 commented on #29839
@rjpower - I tried your suggestion but got similar error (_train_on_batch` is not supported.. with tf.distribute.Strategy_) - see above.. any other suggestions?

[2019-07-27 19:48] vitalyli commented on #31093
Work around so far was to reduce phrase vocabulary, which reduced graph size from 1.G to 500Mb and above error doesn't appear, but it's not really scalable solution.

[2019-07-27 20:12] jbgh2 commented on #30773
I get the same behavior if all the code is in a standalone file.
I've attached the file, it just needs renaming.
[OOM-bug-standalong.txt](https://github.com/tensorflow/tensorflow/files/3438554/OOM-bug-standalong.txt)

[2019-07-27 20:39] ispmarin commented on #28398
The error persists, and now the documentation says that predict can use tf.data besides other kinds of data, but predict_classes can only use numpy arrays. Is there a reason for `predict_classes` only accepts numpy arrays? This seems to break what is expected from the library.

[2019-07-28 00:06] cag472 commented on #30404
I have the same problem in both 1.10 and 1.14. Problem occurs when I slice a tensor and use the slice in the loss function. Sorry no MWE.

[2019-07-28 00:44] mckinziebrandon commented on #31070
I am experiencing the same issue.

[2019-07-28 01:30] bugzhu opened #31100 "When I used tf.keras.backend.clip in my code, I got the error: TypeError: Using a `tf.Tensor` as a Python `bool` is not allowed"
When I implemented the code below with TensorFlow 1.12.0, I got some errors. However, the code can be implemented well with TensorFlow 1.11.0. I am confused by the problem. Actually, I am not sure whether it is the problem of the TensorFlow version. Hope someone can give me some advice.

The code:

[code]
The error:

[code]

[2019-07-28 03:02] feiga commented on #24326
Hi, @yuefengz
I checked your document and latest code. I'm trying to implement a distributed trainer using MirroredStrategy, which replicates network in each devices. But I would like to force the embedding layers in CPU since it's too big to store in device memory in my task.  Is this supported now?

[2019-07-28 03:17] chenghuige commented on #22555
@Oktai15
from keras import backend as K
print K.learning_phase()
train_step.run(feed_dict={x: batch[0], labels: batch[1], K.learning_phase(): 1})

this might help

[2019-07-28 03:29] sjtusmartboy opened #31101 "when will the weights be updated for the sparse tensor in the optimizer"
I notice there are both [SparseApplyAdadeltaOp](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/training_ops.cc#L798) and [ApplyAdadeltaOp](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/training_ops.cc#L642) in the [/tensorflow/core/kernels/training_ops.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/train

[2019-07-28 04:09] Hayashi-Yudai commented on #24496
@synapse8 Thank you for your comment. I tried but the result was the same.

By the way, I tried nvidia-docker and went well except for that the python version is 3.5.
https://docs.nvidia.com/deeplearning/frameworks/tensorflow-release-notes/running.html#running

[2019-07-28 04:43] Suger131 opened #31102 "DepthwiseConv2D initializer version problem"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Y
- OS Platform

[2019-07-28 04:45] Tylersuard opened #31103 "pip install tensorflow-lite PLEASE!"
I'm finding very, very difficult-to-understand information online for how to install TF-lite.  Most of it involves cross-compilation and 10+ hours of waiting.  Tensorflow installation is easy.  Could you please make it so we can install TF-lite by just typing "pip install tensorflow-lite?"

Thanks!

[2019-07-28 05:42] mwin76 commented on #29161
Hi,

Tried this in colab and it is stuck. the code was the same as the code in your gist just replaced the "pip install tf-nightly" with "pip install **tf-nightly-gpu**"
When killing the job I get the following stack:

running predict with multiprocessing: True
E0728 05:34:49.872965 140443983652736 ultratb.py:152] Internal Python error in the inspect module.
Below is the traceback from this intern

[2019-07-28 05:43] Lishiyuan0813 commented on #1511
hi,have you solved this problem now?I met the same problem and confused.

[2019-07-28 05:49] YonghuiXu opened #31104 "W tensorflow/core/framework/op_kernel.cc:1431] OP_REQUIRES failed at iterator_ops.cc:988 : Invalid argument: Input shape axis 0 must equal 4, got shape [3]"
Epoch: [93/10] step: [186/2] time: 0.2719242572784424s, mse: 0.03679807484149933
2019-07-28 12:23:43.405599: W tensorflow/core/framework/op_kernel.cc:1431] OP_REQUIRES failed at iterator_ops.cc:988 : Invalid argument: Input shape axis 0 must equal 4, got shape [3]
[[{{node crop_to_bounding_box_1/unstack}}]]
Traceback (most recent call last):
File "train.py", line 380, in
train()
File "train.py", l

[2019-07-28 06:49] Ayeeta commented on #23683
@TamirisCrepalde you just saved the day! Thank you very much!!

[2019-07-28 06:55] bhorkar commented on #22991
The issue exists even with tf1.14.

[2019-07-28 07:04] lufol commented on #31099
Sorry, I mixed something up there. Tf lite is just for embedded devices, but I guess you are trying to run the model on your pc.
You can have a look at https://www.tensorflow.org/guide/performance/overview
If this does not help you, you might consider opening a question on stackoverflow since this is not an issue with tf.

[2019-07-28 08:24] ali-masoudi opened #31107 "Model failed to serialize as JSON. Ignoring 'Not JSON Serializable:'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- Ubuntu 18.04:
- TensorFlow installed from binary:
- TensorFlow version (1.14):
- Python version: (3.6)
- CUDA/cuDNN version: 10.0
- GPU model and memory: GTX 1080Ti

**Describe the current behavior**
[code]
**Describe the expected behavior**
Running without issue

**Code to re

[2019-07-28 08:43] mohapatras commented on #5867
Any update on the solution yet ?

[2019-07-28 09:20] mohapatras commented on #23809
Here is a solution load the graph. It is working fine.

[code]
Hope it helps.

[2019-07-28 09:57] Ori226 commented on #29161
Hi @jvishnuvardhan. I tested your gist with 1.15.0-dev20190728 and it still doesn't work. Let me know if you need more information.

Thanks

[2019-07-28 10:13] harshitsankhla commented on #10647
"Suppose I have run both pip install tensorflow-gpu and pip3 install tensorflow-gpu, So, I have two different instances of tensor flow. I am I correct?" -> yes, for python 2.x and 3.x each

[2019-07-28 10:32] zhjunqin commented on #8665
I met the issue when using https://github.com/tensorflow/models/tree/master/official/wide_deep to do freeze graph and predict.
I think it is using estimator.
I need add init_all_tables to the list of names to export fixes this issue, as jkiske mentioned above.

[code]

[2019-07-28 10:32] yarik1988 opened #31108 "Bulld tensorflow from source for Raspberry PI (Python 3.7)"
I successfully have built tensorflow 2.0.0b1 for raspberry PI using the guideline
https://www.tensorflow.org/install/source_rpi and command

sudo CI_DOCKER_EXTRA_PARAMS="-e CI_BUILD_PYTHON=python3 -e CROSSTOOL_PYTHON_INCLUDE_PATH=/usr/include/python3.7" tensorflow/tools/ci_build/ci_build.sh PI-PYTHON3 tensorflow/tools/ci_build/pi/build_raspberry_pi.sh

However, generated wheel file is called tenso

[2019-07-28 10:52] #30977 closed

[2019-07-28 10:56] hstuk commented on #31022
Thanks. I investigated a bit more. The bug does not occur when using only one layer 'layers': [[2,1]]. I think the minimal configuration is config = {'batch_size': 2, 'layers': [[1,1],[1,1]]}.

[2019-07-28 10:59] hstuk commented on #31022
i also reproduced the bug on geforce gtx 1050 ti

[2019-07-28 11:31] abdou31 commented on #31099
The link that you post doesn't meet for what I need and what I want.
The performance should be good on the phone because the SDK that I want should be performant and the value of fps should be heigher.
I know that this is related to the GPU or CPU of the phone you test on it.
But there many application that use machine learning SDK work perfectly and fast like BinaryFace SDK ...
I know just gpu de

[2019-07-28 11:57] kmonachopoulos commented on #5867
I think that the only way to remove dropout for now is to comment out the dropout lines in your python source code and export the model without them ...

[2019-07-28 12:16] dmagee commented on #30999
It did "git checkout r2.0"

Basically default, except specifying to use CUDA 10 (see below)

c:\Software\tensorflow>python configure.py
WARNING: --batch mode is deprecated. Please instead explicitly shut down your Bazel server using the command "bazel shutdown".
You have bazel 0.26.0 installed.
Please specify the location of python. [Default is C:\Program Files (x86)\Microsoft Visual Studio\Shared

[2019-07-28 12:17] breadbread1984 opened #31109 "dilated tf.keras.layers.Conv2D can't estimate output shape"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-07-28 12:20] linhx13 opened #31110 "keras model fit() crash with large batch_size and 0 validation_split"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-07-28 12:23] penghao1990 opened #31111 "absl"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-07-28 12:48] Bornlex opened #31112 "NotFoundError: No registered 'ReadFile' OpKernel for GPU devices compatible with node {{node ReadFile}}"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): installed via pip
- TensorFlow version (use command below): 1.14.0
- Python version: 3.6.8
- CUDA/cuDNN version:
nvcc: NVIDIA (R) Cuda compiler drive

[2019-07-28 13:21] WendyWangxyue commented on #31035
I use the Linux Ubuntu 16.04 in VMware with Tensorflow 1.14 with CPU. I install Tensorflow with pip.
Build label: 0.27.1
Python 3.5.2
[GCC 5.4.0 20160609] on linux
tf.version
'1.14.0'

[2019-07-28 13:22] maxima120 opened #31113 "MAE and MAPE and ACC makes no sense"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
Debian 9 VM on GCP with TPU v3-8
Tensorflow 1.13.1 Keras 2.2.4

**Describe the current behavior**

training a mo

[2019-07-28 14:11] bugzhu commented on #31100
I guess that maybe it is the problem of the usage of K.clip. I am not sure whether tensor can be the third parameters of the K.clip function. Actually, sometimes, the code can run without error, but, it outputs errors in majority conditions.

[2019-07-28 14:56] Hayashi-Yudai commented on #24496
An additional information, if you do not mind python 3.6.8 and tensorflow-gpu 1.12.0, you can use anaconda.

[code]

[2019-07-28 15:04] ssomers commented on #30427
@Akeaakar And for the time being, `pip install "numpy<1.17"` to revert to numpy version 1.16.4

[2019-07-28 15:14] wosiu opened #31114 "TFLite No implementation found for long org.tensorflow.lite.NativeInterpreterWrapper.createErrorReporter(int)"
**System information**
- OS Platform and Distribution: Android 5.1.1, API 22
- Mobile device: Xiaomi Redmi 3
- TensorFlow installed from: official binary
- TensorFlow version : tensorflow-lite:1.14.0

**Describe the current behavior**
Tensorflow-lite 1.13.1 works fine on all devices I tested. Whereas tensorflow-lite 1.14.0 is broken for Xiaomi Redmi 3 (Android 5.1.1, API 22), other devices are ok.

[2019-07-28 16:11] Tugces commented on #17022
pip install tensorflow==1.13.1
it works for me on Python 3.7
Good Luck.

[2019-07-28 17:17] byronyi commented on #31103
Just kidding: you should try to build the Android Open Source Project as a practice first.

[2019-07-28 17:40] ymodak commented on #31111
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). Please provide all the information it asks. Thank you.

[2019-07-28 17:40] #31111 closed

[2019-07-28 17:44] ymodak commented on #31034
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-07-28 17:44] #31034 closed

[2019-07-28 18:23] kassemyu commented on #30178
Hey, sorry for the long wait.

Here is a small code snippet for reproduction. Please set the breakpoint at the last `print(...)` and evaluate the shapes-dictionary. You will see that 'conv1' has the kernel shape (3, 3, 1, 32), indicating that 1 is the depth/number of channels for the input.
32 is the number of filters/outputs/feature maps.

If you look at the conv2d_transposed layer 'up1' the numb

[2019-07-28 18:33] Bornlex commented on #31112
@asimshankar I saw that you answered similar questions. Maybe you can help with this one?

[2019-07-28 18:34] kassemyu commented on #30178
I supplied some code and apologise for the long wait.

[2019-07-28 18:46] paulbauriegel opened #31115 "Convert to TFLite Unexpected value for attribute 'data_format'. Expected 'NHWC'"
I'm trying to convert a frozen Tensorflow graph. See model [here](https://drive.google.com/open?id=15g1aNF3WdJ7Yw8GRPVEWzBbkaZPIvCGC). I found a lot related bug reports on that issue but non of them was actually solved: [#30411](https://github.com/tensorflow/tensorflow/issues/30411), [#7967](https://github.com/tensorflow/tensorflow/issues/7967),[#24491](https://github.com/tensorflow/tensorflow/iss

[2019-07-29 01:23] penghao1990 opened #31116 "Cannot open include file: 'absl/strings/string_view.h"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-07-29 02:11] vaibhavkumar049 commented on #24887
How to work around this error , I am using TPU Distribute strategy?

Failed copying input tensor from /job:localhost/replica:0/task:0/device:CPU:0 to /job:worker/replica:0/task:0/device:CPU:0 in order to run ExperimentalAutoShardDataset: Unable to parse tensor proto
Additional GRPC error information:
{"created":"@1564365854.431149350","description":"Error received from peer","file":"external/grpc/

[2019-07-29 02:39] makercob opened #31117 "Model does not converge during training with distribute strategy and tf.py_function in dataset.map"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution:Windows 10 Pro
- TensorFlow installed from:binary(pip)
- TensorFlow version:2.0.0-beta1
- Python version:3.6.8
- CUDA/cuDNN version:10.0
- GPU model and memory:Tesla K80

**Describe the current behavior**
Model does not converge and training is extremely slow with distribute strategy, if tf.py_function called i

[2019-07-29 02:58] CroMocha commented on #31094
Nvmind, I tried using the older version of protoc 3.5.1 that was verified to work in the tutorial and managed to compile. Guess 3.6.1 couldn't cut it. Where can we find the correct version of protoc for each tensorflow version?

[2019-07-29 03:53] chdzhen commented on #14267
opencv3.4.6 tensorflow1.4 on MacOS is ok, the same libs on unbuntu16.04 is not ok . so I try this code "bazel build --config=monolithic :libtensorflow_cc.so"

[2019-07-29 03:54] smartcatdog commented on #17699
Has anyone known how to do it? I also want to convert .pb to a ckpt file.thx

[2019-07-29 04:54] ElderOrb opened #31118 "Tensorflowlite 1.14: bazel windows build is broken"
Please make sure that this is a build/installation issue. As per our GitHub Policy, we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template

System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10

Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
n/a

[2019-07-29 04:56] jordanparker6 commented on #30918
@tlkh

I have taken the BERT class from your script and adjusted my code to fit; however, I am still getting the same issue. Training fails to start. I waited 6 hours. Network i/o was not evidencing any download either.

** main.py **

[code]

[2019-07-29 04:57] pournami123 commented on #28660
A solution that worked for me in centos 7 with miniconda installed
Create an environment for tensorflow with the python version=3.6.8
`conda create -n tfgpu tensorflow python=3.6.8
`
Now install the tensorflow with version 1.13.1
`conda install tensorflow-gpu==1.13.1
`

[2019-07-29 05:17] gadagashwini commented on #30640
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-29 05:17] #30640 closed

[2019-07-29 05:21] gadagashwini commented on #30868
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-29 05:21] #30868 closed

[2019-07-29 05:25] gadagashwini commented on #30901
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-29 05:25] #30901 closed

[2019-07-29 05:58] ppham27 commented on #31107
I believe this is fixed by https://github.com/tensorflow/tensorflow/commit/7cc180f107f142432358ac33787466de90afd776#diff-8eb7e20502209f082d0cb15119a50413.

If you don't like using nightly, you can use Python 2 or wrap everything in Lambda layers.

[2019-07-29 06:06] gadagashwini commented on #31069
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-07-29 06:18] Deepak-HpyAda opened #31119 "How to create a tensorflow lite plugin for Unity"
I'm trying to use tensorflow lite in unity.
I need plugins to run my project.
Especially a **plugin for IOS** [tensorflowlite_c]

Thank you!

[2019-07-29 06:20] gadagashwini commented on #31096
@kishorekumarsingh,
Provide the exact sequence of commands / steps that you executed before running into the problem. And also, provide Tensorflow version. Thanks!

[2019-07-29 06:22] ravikyram commented on #30875
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-29 06:22] #30875 closed

[2019-07-29 06:32] zhaoyingjun opened #31120 "The aip of instance normaalization"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):tf2.0
- Are you willing to contribute it (Yes/No):yes

**De

[2019-07-29 06:47] gadagashwini commented on #31093
@vitalyli, Provide us the full minimal code snippet. It will indeed help us to move faster.

[2019-07-29 06:49] anush-o commented on #31104
@YonghuiXu ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?
Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue tem

[2019-07-29 06:55] anonym24 commented on #31114
did you solve it?

Firebase crashlytics reports this issue for Android 5 users of my app

I've added Tensorflow like this:

    implementation 'org.tensorflow:tensorflow-lite:0.0.0-nightly'
    implementation 'org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly'

`Fatal Exception: java.lang.UnsatisfiedLinkError
No implementation found for long org.tensorflow.lite.NativeInterpreterWrapper.createErrorR

[2019-07-29 07:15] colmantse commented on #30981
I am running it on a paas, therefore instead of shell export, i did instead
""" os.environ["LD_LIBRARY_PATH"]+=":"+os.environ["JAVA_HOME"]+"/jre/lib/amd64/server:"+os.environ["HADOOP_HDFS_HOME"]+"/lib/native"
  f = os.popen("/opt/hadoop/bin/hadoop classpath --glob")
  classpath=f.read()
  os.environ["CLASSPATH"]=classpath.strip('\n')
"""
the unable to load error goes away but the socket timeout ex

[2019-07-29 07:17] kishorekumarsingh commented on #31096
This is the command that I used:
`tflite_convert
--graph_def_file=frozen_inference_graph.pb
--output_file=new_graph.tflite
--input_format=TENSORFLOW_GRAPHDEF
--output_format=TFLITE
--input_shape=1,224,224,3
--input_array=image_tensor
--output_array=detection_boxes,detection_scores,detection_classes,num_detections
--inference_input_type==QUANTIZED_UINT8
--inference_type=FLOAT
----mean_values=128
 -

[2019-07-29 07:29] tejavoo opened #31121 "How to use Tensorboard logging in tf2.0 step loop of the @tf.function"
Hello,

I have been trying to figure out how to log to tensorboard from the gradienttape loop function

thanks,
tejavoo

[2019-07-29 07:38] #31121 closed

[2019-07-29 07:53] zhoujianqian commented on #19838
entity_tagging/bidirectional_rnn/fw/fw/cond/fw/multi_rnn_cell/cell_0/basic_lstm_cell/MatMul/Switch' expects to be colocated with unknown node 'entity_tagging/bidirectional_rnn/fw/multi_rnn_cell/cell_0/basic_lstm_cell/kernel/read'

when use quantize tools cause this problem
solved this problem by delete graph_util.remove_training_nodes function

[2019-07-29 08:01] hwdong-net commented on #30935
I have the same problem!

[2019-07-29 08:02] loiccordone commented on #28010
Hello,
Any news? Thanks

[2019-07-29 08:04] yiyayamaya commented on #14363
Have you solved it?

[2019-07-29 08:08] hwdong-net commented on #27020
I installed  "cuda_10.1.168_425.25_win10" and "cudnn-10.1-windows10-x64-v7.6.2.24".But I have the same problem

[2019-07-29 08:14] hwdong-net commented on #25185
I have the same problem.
I installed the CUDA10.1 and cuDNN10.1.
I install tensorflow-gpu :
 pip3 install tensorflow-gpu==2.0.0-beta1

[2019-07-29 08:15] ravikyram commented on #31112
@Bornlex
In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here. Thanks!

[2019-07-29 08:34] ravikyram commented on #31103
Please go through the [link](https://www.tensorflow.org/lite/guide/build_arm64) to build tensorflow-lite.Thanks!

[2019-07-29 08:38] gadagashwini commented on #31102
@Suger131 Looks like you found workaround. Please let us know if you are happy to close if no issue persists. Thanks!

[2019-07-29 08:51] gadagashwini commented on #31084
Was able to reproduce the issue on Colab with Tensorflow 1.14. Please see the [gist here](https://colab.research.google.com/drive/1aaE0CT0DSPlf2fQAPEzlPiT5d8cd8dtQ). Thanks!

[2019-07-29 09:03] ali-masoudi commented on #31107
How can I apply this on 1.14, like a patch?
or just need to edit `tensorflow/python/keras/engine/base_layer.py` and apply this `https://github.com/tensorflow/tensorflow/commit/7cc180f107f142432358ac33787466de90afd776#diff-8eb7e20502209f082d0cb15119a50413`

[2019-07-29 09:12] MisterTellini commented on #28846
I am having the same error... any solutions?

[2019-07-29 09:26] ravikyram commented on #31100
I have tried on colab with TF version 1.12.0 and 1.11.0 beta and was able to reproduce the issue.Please, find the [gist ](https://colab.research.google.com/drive/1fuHtPEGXy3xJQdwGDwvON0Uoi-pxEV46)here. Thanks!

[2019-07-29 09:34] ravikyram commented on #31109
I have tried on colab with TF version 2.0 beta1 and was able to reproduce the issue.Please, find the [gist](https://colab.research.google.com/drive/10utd0A3GuBGAvIf8RnMQVFRp2QjAbFPC) here.Thanks!

[2019-07-29 10:01] LieJiang opened #31123 "how can I feed multi inputs with tf2.0"
how can i feed value to actions in loss functions  error  like this
[code]

my code here
[code]

[2019-07-29 10:12] abdou31 commented on #31077
When I tried this command I get this error:

Collecting tensorflow-gpu==1.13.1
  Could not find a version that satisfies the requirement tensorflow-gpu==1.13.1 (from versions: )
No matching distribution found for tensorflow-gpu==1.13.1

[2019-07-29 10:12] Bornlex commented on #31112
Yes of course.

[code]

[2019-07-29 10:16] hsinpaohuang opened #31124 "Error 'int8x8_t' does not name a type when building with bazel"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ARMv8 aarch64 CentOS Linux release 7.6.1810
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source
- TensorFlow version: 1.14
- Python version: 3.7.3
- Installed using virtualenv? pip? conda?: virtualenv
- Bazel versio

[2019-07-29 10:16] zz7379 commented on #27953
Me too

[2019-07-29 10:26] cottrell commented on #27470
Am still getting this. Can only install 2.0.0b1

[2019-07-29 10:27] anush-o commented on #31071
Issue is replicating with TF version-1.14, please find the gist of [Colab](https://colab.sandbox.google.com/drive/1N7agqrl9m2MTFK008TtJnxJA4vfBDBrF#scrollTo=-tSmJM4LQnUr). Thanks!

[2019-07-29 10:28] cottrell commented on #27470
Am wondering if it is picking up the MacOS versions as different. Am on 10.14.6 (18G84) at the moment and the nightlies are for 10.9 if I'm reading it correctly.

[2019-07-29 10:34] penghao1990 opened #31125 "tf_core_lib"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-07-29 10:35] #31125 closed

[2019-07-29 10:41] JVGD commented on #28323
Any update on this? I got exactly the same Issue. If @scooter4j got this error:
[code]

I got this one:
[code]
Which is the same but with different image dimensions and batch size

[2019-07-29 10:44] wosiu commented on #31114
@anonym24 nope :( I guess we can't do much about it without a fix in tf. BTW I guess you should not put both `org.tensorflow:tensorflow-lite` and `org.tensorflow:tensorflow-lite-gpu` in your gradle file at the same time. But that's not the issue here anyway...

[2019-07-29 10:52] anush-o commented on #31110
Issue replicating with TF version-gpu 1.13, please find the gist of [Colab](https://colab.sandbox.google.com/drive/1JHRJCgGmImIasATBbxnxaMFZuXCrysLv#scrollTo=Qw6wX1NdWhB8). Thanks!

[2019-07-29 10:57] penghao1990 opened #31126 "fatal error C1083: Cannot open include file: 'ab sl/strings/string_view.h': No such file or directory"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (win10):
- TensorFlow installed from (source):
- TensorFlo

[2019-07-29 11:07] anonym24 commented on #31114
@wosiu yes, we need them both: https://www.tensorflow.org/lite/performance/gpu

![image](https://user-images.githubusercontent.com/8851301/62043870-2fa0df80-b20a-11e9-9c14-d56096189366.png)

[2019-07-29 11:38] anush-o commented on #31077
Can you please refer to the [software requirements](https://www.tensorflow.org/install/gpu#software_requirements) for tensorflow 1.13 and above.Thanks!

[2019-07-29 11:44] ravikyram commented on #31091
I have tried on colab with TF version 2.0.0-dev20190726 and was able to reproduce the issue.Please, find the [gist](https://colab.research.google.com/drive/1h_Hr_QmSBJ445wTT_8srF-O4otMOhQUS) here.Thanks!

[2019-07-29 11:54] anush-o commented on #31068
@manuel-masiello ,
Can you please provide minimal code to reproduce the issue.Thanks!

[2019-07-29 11:58] ravikyram commented on #31088
Just to verify did you get chance to follow instructions from [TensorFlow](https://www.tensorflow.org/install/source) website .Please, let us know. Thanks!

[2019-07-29 11:59] abdou31 commented on #31077
I solve the issue by changing , pip is related to python 2.x and pip3 is related to python 3.6.8

[2019-07-29 12:10] ravikyram commented on #31073
@hathawayxxh
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-07-29 12:15] pandrey-fr commented on #31123
Hi,

The issue here is that you define an input tensor for actions, but do not make it part of your model's inputs. A work-around to your problem is to define a `tf.keras.Model` instance with both a `states` input tensor and the `actions` one, whose output will be the processing of `states` by the sequential stack you defined. Then, your built model will expect to be called on lists of two element

[2019-07-29 12:21] JiayiFu opened #31128 "What is the right way to use intra_op_parallelism_threads and inter_op_parallelism_threads?"
Hi,
  I create a `Session` with `tf.ConfigProto(intra_op_parallelism_threads=1, inter_op_parallelism_threads=1)`.
When I run the `Session`, I use the `top` command to observe the situations. But I found the program still use 1700% CPU. Why did this happen? What's the right way to control the number of cores/threads used by tensorflow?
thx!

[2019-07-29 12:27] manuel-masiello commented on #31068
Hello @anush-o,

The code to reproduce the error is not mine. You have to make a GIT clone on the project https://www.github.com/ildoonet/tf-pose-estimation, install the different libraries then launch the python script run_webcam.py

Thx for your help.

[2019-07-29 12:28] pandrey-fr commented on #31086
Hi @NeuralGirl,

If you already have pretrained embeddings, you should be able to build a model that takes pre-embedded data as inputs, and add a non-trainable lookup to your embedding matrix to your pipeline so as to conduct the embedding before feeding to the network.

E.g. something in the vein of:
[code]

If I am missing something or if you would like to indicate a more precise use case your i

[2019-07-29 12:29] lytkarinskiy commented on #31110
@anush-o Thanks, but your gist is private access only(

[2019-07-29 12:30] anush-o commented on #30813
I was able to replicate the issue with TF version-1.12.Thanks!

[2019-07-29 12:36] anush-o commented on #30969
@sgambient ,
Please provide the code to reproduce the issue.Thanks!

[2019-07-29 12:39] anush-o commented on #30942
@ankitgc1 ,
Can you please provide executable code.Thanks!

[2019-07-29 12:41] anush-o commented on #31077
@abdou31 ,
Looks like issue is resolved,Can i close the issue.?Thanks!

[2019-07-29 12:49] abdou31 commented on #31077
Yes, I will close the issue.
Thanks.

[2019-07-29 12:49] #31077 closed

[2019-07-29 13:15] FlorianUekermann commented on #27170
In the latest tf2 nightly using this line works:
[code]

[2019-07-29 13:16] rishabhsahrawat commented on #30646
Hi @rmothukuru , thank you for your suggestion. Please excuse me I could not test it earlier and respond here.
I followed your suggestion and instead of using `Dataset.shuffle` as used in the [link](https://www.tensorflow.org/beta/tutorials/load_data/text#split_the_dataset_into_text_and_train_batches), I am using `Dataset.apply(tf.data.experimental.shuffle_and_repeat())` from [here](https://www.te

[2019-07-29 13:29] ankitgc1 commented on #30942
@anush-o
you can find all files and code here
https://github.com/ankitgc1/Chatbot-in-tensorflow

[2019-07-29 13:32] ltrottier commented on #31084
Thanks for the feedback. Let me know when this is fixed.

[2019-07-29 13:37] anonym24 commented on #31114
@wosiu
in my case, yes:

![image](https://user-images.githubusercontent.com/8851301/62052901-29692e00-b21f-11e9-8b3a-fee666ab05f1.png)

[2019-07-29 13:40] #29950 closed

[2019-07-29 13:45] richriley opened #31131 "Unable to save model when using Mirrored Strategy with multiple GPUs"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian GNU/Linux 9 (stretch) (Linux 4.9.0-9-amd64)
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v1.12.1-7260-gd4bc7d98c6 2.0.0-dev20190729
- Python version: 3.7.2
- GPU model and memory: 2 X Tesla V100 (24 gig RAM)

**Describe the current behavior**
An error is thro

[2019-07-29 13:54] jvishnuvardhan commented on #25746
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-29 13:54] #25746 closed

[2019-07-29 13:55] jvishnuvardhan commented on #25588
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-29 13:55] #25588 closed

[2019-07-29 14:03] rishabhsahrawat commented on #30646
I tried to train the model without using `shuffle()` function. It does not fill up the buffer but the start of the model training, it throws `(GPU_0_bfc) ran out of memory trying to allocate 1.37GiB (rounded to 1467428096)`. I am not sure on how to troubleshoot this problem, I tried various batch sizes also like 1,2, 128,256,512, 1024.

[2019-07-29 14:14] Leslie-Fang commented on #31128
Could you set:
[code]
What's your cpu utilization now?

[2019-07-29 14:20] sangurocactus commented on #28287
Thanks for providing the codes. I ran into the same similar error message while running BERT on Kera. I tried your solution but can't seem to get it to work.  Any guidance is most appreciated!

[code]

[2019-07-29 15:21] nsmetanin commented on #30039
Can confirm this issue, on a system with NVIDIA 2080 Ti it behaves the following way:
with per_process_gpu_memory_fraction=0.2 it allocates 2457 MiB / 10989 MiB (as shown in nvidia-smi), which is obviously greater than expected (0.2 * 10989 = 2198 MiB)

With per_process_gpu_memory_fraction=0.1 it allocates 1357 MiB / 10989 MiB, which is greater than 0.1 * 10989 = 1099 MiB expected.

[2019-07-29 15:51] ankitmaurya001 commented on #27880
Hi @ohtaman

Thanks for the great notebook.

I followed your notebook but I am getting following error with the edgetpu compiler. Everything else works fine. Any idea?

Edge TPU Compiler version 2.0.258810407
Invalid model: converted_model_simple_1_2.0.0-beta1.tflite
Model could not be parsed
INFO: Initialized TensorFlow Lite runtime.
ERROR: quantized_dimension must be in range [0, 1). Was 3.

[2019-07-29 15:52] ericjiang18 opened #31134 "Can not run ./build_ios_universal_lib.sh"
According to https://www.tensorflow.org/lite/guide/build_ios, I am running tensorflow/lite/tools/make/build_ios_universal_lib.sh. However, when I run it, it gives me the error:

Undefined symbols for architecture x86_64:
  "tflite::ResourceVariable::~ResourceVariable()", referenced from:
      tflite::Interpreter::~Interpreter() in benchmark-lib.a(interpreter.o)
ld: symbol(s) not found for archite

[2019-07-29 15:57] allenlavoie commented on #31055
Yeah I think you just need to pass `dtype=` to `map_fn` to specify the output type. Otherwise it [defaults to the input type](https://www.tensorflow.org/api_docs/python/tf/map_fn#args).

[2019-07-29 16:06] tonyw commented on #19838
reproduct the it:
1. train a model by tf/models/official/transformer
2. do freeze_graph for the model, which created at step 1
3. try to import the graph_def, which created at step 2

    with tf.gfile.GFile(model_file, 'rb') as f:
        graph_def = tf.GraphDef()
        graph_def.ParseFromString(f.read())
        with tf.Session() as sess:
            tf.import_graph_def(graph_def,{"input_tenso

[2019-07-29 16:07] gunan commented on #31020
@perfinion as he helped set up `TF_SYSTEM_LIBS`

[2019-07-29 16:17] gunan commented on #30905
@lamberta It may be useful to mention disabling path length restriction may help resolve pip installation issues on windows.

@MovGP0 did disabling tpath length restriction solve the problem for you?
Should we close the issue?

[2019-07-29 16:18] NeuralGirl commented on #31086
Thanks for the prompt followup! Yes, this is what I am looking to do in TF2.0. Thanks!

[2019-07-29 16:18] vitalyli commented on #31093
I can't share embeddings file, but the core issue is it's too large for the graph; The file is about 1.5G in size with words and word vectors of dim 100.
My guess is some phrase words may have ended up lengthly and would take more space.

The error prints while loading w_embeddings matrix. I don't remember seeing this in the past, but that could be because I have not crossed this limit.
So my ques

[2019-07-29 16:25] gunan commented on #30956
Unfortunately, at the moment this is due to GCC5.
You have to use the same toolchains we are providing to build your custom ops, otherwise they will be ABI incompatible with our prebuilt binaries.
For our new guide to build the custom ops, please see here:
https://github.com/tensorflow/community

@yifeif @lamberta I see that the website still does not point to the new custom op building guide:
htt

[2019-07-29 16:26] Amzo commented on #31020
I've just worked around the issue for now and patched the bzl file to just use the include files directly from ${LOCALBASE}/includes instead of just creating symlinks to the build directory.

[2019-07-29 16:31] gunan commented on #31085
For CPU builds, as far as I know building with visual studio 2019 should be OK.
We cannot move our builds to visual studio 2019 because CUDA 10 does not support it.
We do definitely use VS 2017 to build TF on our side. Once we upgrade CUDA, we will reevaluate which compiler to base TF off of.

I think you can reach out to @thirupalanisamy to help set up a more formal channel, and build special int

[2019-07-29 16:31] ppham27 commented on #28010
Should be fixed: https://github.com/tensorflow/tensorflow/commit/7cc180f107f142432358ac33787466de90afd776

[2019-07-29 16:33] gunan commented on #31083
As this is a bazel issue, I would recommend reaching out to bazel team. What you are raising is a good question, but it is a bazel feature that you may be able to use.

Closing issue as this is a bazel issue.

[2019-07-29 16:33] #31083 closed

[2019-07-29 16:34] sanjoy commented on #30820
Probably the easiest way to get started is to look at some example TF->XLA lowerings and try to find one that is close to `SparseReshape`.  All the TF->XLA lowerings are in tensorflow/compiler/tf2xla/kernels/.

For instance, this file contains the dense reshape operation: tensorflow/compiler/tf2xla/kernels/reshape_op.cc, although I suspect the implementation of `SparseReshape` is probably going to

[2019-07-29 16:37] jbgh2 opened #31135 "[TF 2.0] How to globally force CPU?"
In TF 1.x it was possible to force CPU only by using:

[code]
However, `ConfigProto` doesn't exist in TF 2.0 and changing a OS environment variable seems very clunky.

What's the TF 2.0 way of doing this?

[2019-07-29 16:44] sajagkc11 commented on #30864
@tensorflowbutler Could you help me with this issue?

[2019-07-29 16:53] MuhsinFatih commented on #30052
In jupyter notebook I noticed that if I don't have any metric, it works after the first fail. Just fyi, in case it helps

[2019-07-29 17:04] Binpord commented on #30951
Another thing to consider: running the exact code snippet with TF version 1.14 (built from source, git tag 1.14 with Bazel 0.25.2 on Mac OS, running with miniconda python 3.7.3) I get an unhandled exception in `compile` method:
[code]
This means, that I am doing something wrong. I tried debugging the issue, but got completely confused with all the abstraction levels. What I succeeded in grasping i

[2019-07-29 17:07] nairouz opened #31136 "Inconsistent gradient"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 1.4.0
- Python version:

[2019-07-29 17:09] IIIBlueberry commented on #29839
@rjpower @frankchn train_on_batch is broken on tensorflow 1.14.0
check this link https://stackoverflow.com/questions/56741126/using-train-on-batch-on-colab-tpu-new-tensorflow-version-1-14

[2019-07-29 17:10] DeepBlender commented on #30955
Even though, the example I presented has a workaround, a minor change will eliminate this workaround. If you add "x = x - 0.5" in "call", the code simply doesn't work anymore and there is no way to compute the intermediate results.

As this way of using the Model class is presented as pretty much the "TensorFlow 2.0 way", this issue is reducing the flexibility quite significantly.

[2019-07-29 17:11] 8bitmp3 commented on #27652
thank you @Bharat123rox @kyscg and @fchollet . Closing now 👍

[2019-07-29 17:11] #27652 closed

[2019-07-29 17:14] durandg12 opened #31137 "tf.concat throws error after another call of tf.concat if values is a single Tensor or a list of length 1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6
- TensorFlow installed from (source or binary): from pip install
- TensorFlow version (use command below): v2.0.0-beta0-16-g1d91213fe7 2.0.0-beta1
- Python version: v3.6.7:6ec5cf24b7, Oct 20 2018, 03:02:

[2019-07-29 17:16] lamberta commented on #30905
Thanks, but I think we already have this in the docs: https://www.tensorflow.org/install/pip
Select Windows tab ...
*Make sure [long paths are enabled](https://superuser.com/questions/1119883/windows-10-enable-ntfs-long-paths-policy-option-missing) on Windows.*

Is something else needed? (That page [is here in GitHub](https://github.com/tensorflow/docs/blob/master/site/en/install/pip.html))

[2019-07-29 17:16] jvishnuvardhan commented on #30912
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-29 17:16] #30912 closed

[2019-07-29 17:17] jvishnuvardhan commented on #30866
Closing this as it is support issue. Thanks!

[2019-07-29 17:17] #30866 closed

[2019-07-29 17:18] captain-pool opened #31138 "[TF 2.0] gRPC error, in TPUStrategy experimental_distribute_dataset"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-29 17:19] maxima120 commented on #29839
Thank you. But this is about TF 1.13
I am not going to use 1.14 ever. I am just waiting for 2.0 being mature and TPUs are implemented..
They are moving like facebook now - move fast break things (translation to English - no quality just ticking checkboxes in managerial reports)

[2019-07-29 17:19] #28346 closed

[2019-07-29 17:27] psyg0501 opened #31139 "ps"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-07-29 17:28] lamberta commented on #30956
The link to the custom-op repo was added at the bottom of the page: https://www.tensorflow.org/guide/extend/op#build_a_pip_package_for_your_custom_op
"Build a pip package for your custom op" as opposed to source.
Happy to point the *Building the op library* section to this repo, if that's accurate.
That page is [here in GitHub](https://github.com/tensorflow/docs/blob/master/site/en/guide/extend/op

[2019-07-29 17:29] prsiyag commented on #31139
(base) ps1@ubuntu-s-1vcpu-2gb-nyc1-01:~/xbot_hyperopt$ ls
hyperopt_v2.py  xbot.py
(base) ps1@ubuntu-s-1vcpu-2gb-nyc1-01:~/xbot_hyperopt$ screen -r
er
    output_shape = fn(instance, input_shape)
  File "/home/ps1/anaconda3/envs/tf_cpu/lib/python3.7/site-packages/tensorflow/python/keras/layers/recurrent.py", line 2143, in build
    constraint=self.kernel_constraint)
  File "/home/ps1/anaconda3/envs

[2019-07-29 17:30] vitong commented on #31085
Thanks for the response, @gunan. I'll reach out separately to create that channel.

I did a quick search for Cuda and Visual Studio and found this: https://docs.nvidia.com/cuda/cuda-installation-guide-microsoft-windows/index.html. It seems like in Cuda 10.1, they now have support for Visual Studio 2019. Do you happen to know if this is sufficient for Tensorflow?

[2019-07-29 17:31] jvishnuvardhan commented on #31016
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-07-29 17:34] elaPa opened #31140 "[go] Include MetaGraphDef in SavedModel for go library"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): Yes

**D

[2019-07-29 17:35] gunan commented on #31085
We will probably need to keep supporting Cuda 10 for a while. Until we move off of cuda 10, we will kepe the toolchains same across our build environment.

[2019-07-29 17:36] Char-Aznable commented on #31088
Yes, I did.

However, I found the culprit is ```export PYTHON_BIN_PATH=$(which ${python3})``` which should be ```export PYTHON_BIN_PATH=$(which python3)```. Fixing this solves the problem

[2019-07-29 17:36] #31088 closed

[2019-07-29 17:38] ymodak commented on #31113
Is your question regarding mae, mape and accuracy metrics in general? or it is, that you are suspicious of those values in your specific use case?
For the latter I cannot reproduce the behavior since the code snippet provided is incomplete.

[2019-07-29 17:40] ymodak commented on #31139
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). Please provide all the information it asks. Thank you.

[2019-07-29 17:40] #31139 closed

[2019-07-29 17:45] max-lifetrack commented on #30728
If it helps, I got the same error message with another traceback.

AttributeErrorTraceback (most recent call last)
<ipython-input-26-8f80d72756c9> in <module>()
----> 1 model = multi_gpu_model(model,gpus=2)

/usr/local/lib/python2.7/dist-packages/keras/utils/training_utils.pyc in multi_gpu_model(model, gpus)
    173                 # Apply model on slice
    174                 # (creating a model

[2019-07-29 17:45] angersson commented on #31094
The TensorFlow team does not officially support cmake, sorry. Please try out building [from source with Bazel](https://www.tensorflow.org/install/source).

[2019-07-29 17:45] #31094 closed

[2019-07-29 17:47] psyg0501 opened #31141 "Tensorflow script that runs perfectly well on Windows 10 laptop gives error on ubuntu 18 cloud vps. How can I solve this problem?"
Here is the error message thrown:

(base) ps1@ubuntu-s-1vcpu-2gb-nyc1-01:~/xbot_hyperopt$ ls
hyperopt_v2.py  xbot.py
(base) ps1@ubuntu-s-1vcpu-2gb-nyc1-01:~/xbot_hyperopt$ screen -r
er
    output_shape = fn(instance, input_shape)
  File "/home/ps1/anaconda3/envs/tf_cpu/lib/python3.7/site-packages/tensorflow/python/keras/layers/recurrent.py", line 2143, in build
    constraint=self.kernel_constrain

[2019-07-29 17:51] allenlavoie commented on #31043
The way people often do this is via multiple parameter servers with embeddings sharded between them, which would be my suggestion. I don't think disks are generally low enough latency for this to make sense. Although you could just make swap really big and let the operating system swap out unused parameters; again I think that's generally too slow.

[2019-07-29 17:57] vitong commented on #31085
That's understandable. If TF could continue using Cuda 10.0 but have that utilize Visual Studio 2019 instead of 2017, would your team consider upgrading to Visual Studio 2019 for both CPU and GPU setups on Windows?

Is there anything else that might block the TF team from upgrading to Visual Studio 2019?

[2019-07-29 18:00] AlbiBone opened #31142 "Tensor flow not found - spyder"
Hello,
I am new of python environment.
I want to use spyder and tensor flow in windows PC, but I get the error:

`no module named 'tensorflow' spyder`

I simply downloaded anaconda from https://www.anaconda.com/distribution/#download-section.
What's wrong? I already tried to look for similar problems on internet but I am quite confused to the procedure. Can you provide me a step-by-step guide on h

[2019-07-29 18:01] isaprykin commented on #28541
FYI it should work if there were fully defined shapes instead of None in padded_batch.

[2019-07-29 18:17] aselle commented on #31092
I assume you are storing interpreter in a std::unique_ptr so that interpreter=nullptr doesn't leak.
Could you give a complete repro example. Reassigning @impjdi who has more insight.

[2019-07-29 18:22] aselle commented on #30864
@gargn, is this is bug in converter v2, or do you think its just a lstm converter example.

[2019-07-29 18:24] gargn commented on #25922
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-29 18:24] #25922 closed

[2019-07-29 18:24] aselle commented on #30477
This is possible to do by installing the standard tensorflow pip and using the Python tflite interpreter
https://www.tensorflow.org/api_docs/python/tf/lite/Interpreter
That's the easiest way, it is also possible to use the C++ API, but you'll need to compile tflite yourself.

[2019-07-29 18:25] #30477 closed

[2019-07-29 18:25] MovGP0 opened #31143 "CUDA Download link needs update"
**Describe the current behavior**

When CUDA is not installed, I get the following error

[code]

The link is for CUDA 9.0 rather than 10.0.

**Describe the expected behavior**

Use one of these links (whichever is appropriate):

[code]

[2019-07-29 18:28] sajagkc11 commented on #30864
@aselle Thank you for responding. I was thinking if this is the issue on the parameter.(input_arrays and output_arrays)

[2019-07-29 18:30] gargn commented on #30864
This is an issue with converting LSTMs. There is currently limited support for LSTMs in TFLite. The documented path is available [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/examples/lstm/g3doc/README.md). We are working on improving our support of control flow based operations and models. We will update documentation and the GitHub issues as we make pro

[2019-07-29 18:30] captain-pool commented on #31138
This fixed the issue.
Downloading TF Nightly 2.0 and disabling auto_sharding helped fixed the issue.

[2019-07-29 18:33] sajagkc11 commented on #30864
converter = tf.compat.v1.lite.TFLiteConverter.from_keras_model_file(keras_file)
When I run with the v1
[code]

[2019-07-29 18:50] aselle commented on #25113
Is this bug still an issue?

[2019-07-29 19:15] sajagkc11 opened #31144 "Having issue with the input and output arrays. Here is my jupyter notebook."
**System information**
Model Name:	MacBook Pro
Model Identifier:	MacBookPro11,3
Processor Name:	Intel Core i7
Processor Speed:	2.5 GHz
Number of Processors:	1
Total Number of Cores:	4
L2 Cache (per Core):	256 KB
L3 Cache:	6 MB
Hyper-Threading Technology:	Enabled
Memory:	16 GB
Boot ROM Version:	153.0.0.0.0
SMC Version (system):	2.19f12
Serial Number (system):	C02NF1XAG3QD
Hardware UUID:	411A542B-6D

[2019-07-29 19:46] saxenasaurabh commented on #28195
Sorry this got pushed to the back-burner since we have been focusing on fixing bugs for 2.0.
I am planning to find some time over the next weeks to design how FuncGraphs in the C API might look like. I think this will be important to pursue soon since we are starting to see issues in other areas e.g. C++ shape inference, colocations etc. because of missing nested graph information. Maybe I can sen

[2019-07-29 19:48] MovGP0 commented on #31143
btw: installed CUDA from `https://developer.nvidia.com/cuda-10.0-download-archive`, installed it, and restarted the computer. The path to the `%programfiles%\NVIDIA GPU Computing Toolkit\CUDA\v10.0\bin` directory was added in the system-wide path variable.

Whent typing

[code]

I get

[code]

However, I still get the above error in my Jupyter Notebook.

[2019-07-29 19:51] maxima120 commented on #31113
Ok I think what I really wanted to ask is this - are these numbers make sense to you (generally)? if not then probably something is wrong with TF outputting them (generally) [my assumption here - whatever the case - model is learning or not learning or invalid altogether - the metrics should somehow be relevant - and if they aren't I assume this is a bug].

I am going to try my best to make you a

[2019-07-29 19:51] yifeif commented on #30744
Which platform are you on?

[2019-07-29 19:54] liamuk commented on #25113
Not an issue for me personally bc I’m no longer working with custom ops.

Not sure if it still exists in Tensorflow.

[2019-07-29 19:57] psyg0501 commented on #31141
I just saw that accidental change I made was responsible for this. Please ignore it and close it.

[2019-07-29 20:10] yongtang commented on #31137
Added a PR #31145 for the fix.

[2019-07-29 20:25] georgealexandruvlad commented on #28287
I have a similar error when using Elmo embeddings from tf-hub inside a custom keras layer.

  (0) Failed precondition: Error while reading resource variable ElmoEmbeddingLayer_module/bilm/CNN_high_0/b_carry from Container: localhost. This could mean that the variable was uninitialized. Not found: Resource localhost/ElmoEmbeddingLayer_module/bilm/CNN_high_0/b_carry/class tensorflow::Var does not ex

[2019-07-29 20:43] mbeissinger opened #31147 "Tensorflow 1.14 Keras functional API mixed with ops using placeholders throws InvalidArgumentError 'You must feed a value for placeholder tensor'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 1.14.0
-

[2019-07-29 21:10] dsgupta commented on #30855
Hi @ppham27,

When I try using @tf.function, my execution just hangs without progressing (no activity on GPU) but with lots of activity on CPU. Can you please help me debug the issue? There are no errors being shown.

[2019-07-29 21:21] dzubo commented on #22002
@wookayin , @shivaniag , @facaiy ,
guys, could you please provide simple working example of using StatAggregator?

[2019-07-29 21:30] alextp commented on #31084
@kkimdev can you help triage this? The implementation of tf.case with eager execution should be relatively straightforward to follow.

[2019-07-29 21:42] guptapriya commented on #30835
Hi, this has been fixed already so if you use the latest versions of TF, you should not see this issue. I just tested with latest tf nightly (https://pypi.org/project/tf-nightly-gpu/) and it works fine.

[2019-07-29 21:42] #30835 closed

[2019-07-29 21:44] jvishnuvardhan commented on #31067
@capilano Can you provide more details about any use-case for this feature? Thanks!

[2019-07-29 22:02] ymodak commented on #31109
This is fixed in latest 2.0 nightly build version' 2.0.0-dev20190729'. Thanks!

[2019-07-29 22:02] #31109 closed

[2019-07-29 22:03] jvishnuvardhan commented on #31071
@mimxrt I could reproduce the issue with tf-nightly. Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/a2e382b13204b6852729ac48b1fae6d1/tf-31071_nightly.ipynb).

However, TF2.0b1 is running without any issues. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/7547bf0796f78ea7f8078b1b396aab3c/tf20_31071.ipynb). Thanks!

[2019-07-29 22:09] fchollet commented on #30431
In between these 2 version, we have changed the semantics of setting `batch_norm.trainable = False` on a `BatchNormalization` layer.

Old behavior: freeze weights, freeze updates, use training-time behavior during training (i.e. use the batch statistics are used for training-time normalization).

New behavior: freeze weights, freeze updates, use inference-time behavior during training (i.e. use th

[2019-07-29 22:19] gowtham-kp commented on #31147
@mbeissinger As mentioed in this [issue](https://stackoverflow.com/questions/50321139/keras-error-you-must-feed-a-value-for-placeholder-tensor) 'scale' is a  "symbolic" tensor.

This means, they have absolutely no data (or value) until the moment you start fitting or predicting.

[2019-07-29 22:40] sangurocactus opened #31148 "FailedPreconditionError when training BERT on Colab"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-29 22:41] mbeissinger commented on #31147
The example script is not running in eager execution mode and I am not expecting the symbolic tensor made by the placeholder to have or need any value at compile time. Tensorflow 1.13.2 did not throw this exception, why did the behavior change in 1.14 to expect placeholder values immediately and not just at session.run?

[2019-07-29 22:56] rickykim93 commented on #30191
This worked for me:

`pip install wrapt --upgrade --ignore-installed`
`pip install tensorflow`

[2019-07-29 22:57] mhaghighat opened #31149 "Feature Request: Capability to fix the seed for all keras kernel initializers"
**System information**
- TensorFlow version (you are using): 2.0-beta
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
If you create a Keras model, the only way to make your model reproducible is to repeat setting the seed for the `kernel_initializer` in every layer. This makes the code bulky and more prone to error. For example, a reproduci

[2019-07-29 23:13] jvishnuvardhan commented on #31100
@bugzhu I was able to reproduce the issue with tf-nightly. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/83a39f17991e14fc1dfb27fb7263e29d/tf-nightly_31100.ipynb) is the gist.

However, it ran without an issue when TF2.0 was used. Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/ecedfcce76930129a03a41d889dad523/tf-20_31100.ipynb) with TF2.0b1. Thanks!

[2019-07-29 23:18] #31029 closed

[2019-07-29 23:20] gowtham-kp commented on #30159
@WangYongzhao Can you please provide how 'SupervisedInputReceiver' can help the wider community?

[2019-07-29 23:24] jvishnuvardhan commented on #30983
@simian-typist Thanks for submitting PR to resolve the issue. Thanks!

[2019-07-29 23:35] jsimsa commented on #31010
tf.data performance is discussed in https://www.tensorflow.org/beta/guide/data_performance

As you can imagine, the original tf.data design doc created in 2017 is outdated and we do not have any plans to create a new one.

[2019-07-29 23:35] #31010 closed

[2019-07-29 23:37] chengleiwang commented on #30744
Ubuntu18.04

[2019-07-29 23:53] gowtham-kp commented on #31148
@sangurocactus Please refer to the following solution and let me know if it helps in resolving your issue. Thanks!

[2019-07-29 23:58] damienpontifex commented on #31055
Thank you @allenlavoie

I ended up with this which I verified using the `saved_model_cli run` command

[code]
Also here https://github.com/damienpontifex/mobilenet-classifier-transfer/blob/master/binary_classifier_train.py#L129-L170

Is there some documentation pieces I can update through a PR that might make this clearer. for others?

[2019-07-30 00:00] ppham27 commented on #31107
You can use nightly: https://pypi.org/project/tf-nightly/ or https://pypi.org/project/tf-nightly-gpu-2.0-preview/

[2019-07-30 00:04] ymodak commented on #31113
Well, usage of these metrics depends more on the task at hand. For instance ```mape``` is most commonly used in assessing forecasting models.
I found this documentation useful to understand more about the pros and cons of using these metrics.
See https://towardsdatascience.com/how-to-select-the-right-evaluation-metric-for-machine-learning-models-part-2-regression-metrics-d4a1a9ba3d74
We can always

[2019-07-30 00:09] Santosh-Gupta commented on #31043
Thanks for the suggestion, I'll look into parameter servers.

I am wondering, if there's any scale where the setup I mentioned wouldn't cause a slowdown, while also reducing memory. Say that the swap would be big enough for 1,000 iterations. For a negative sampling rate of 16, left/right context of 3, and batch size of 512, that might go up to ~12 million embeddings loaded into memory. But if ther

[2019-07-30 00:22] frreiss commented on #26135
@kbhute-ibm this fix should be ok for now.

The numeric instability that is happening here worries me, so I'll look into the underlying issue a bit more. Hopefully it's just due to different register sizes across architectures.

[2019-07-30 00:26] gowtham-kp commented on #31120
@zhaoyingjun Normalization.py already exists in ['tensorflow/python/keras/layers/'](https://github.com/tensorflow/tensorflow/tree/r2.0/tensorflow/python/keras/layers).Can you please be specific what feature request are you talking about? Thanks!

[2019-07-30 00:28] #31141 closed

[2019-07-30 00:31] gowtham-kp commented on #31123
@LieJiang Did @pandrey-fr solution answer your question?

[2019-07-30 00:39] rjpower commented on #29839
Sadly, the original Keras API you're using was always intended as an experimental stop-gap (hence being marked as `@experimental` in the API signature). DistributionStrategy is intended as it's replacement. I'm not sure at the moment if the missing support for `train_on_batch` is "we haven't gotten to it yet", or if it's "we can't get to it".

I can check on that, but I think in the meantime, the

[2019-07-30 01:01] allenlavoie commented on #31043
Given your numbers, this sounds like less than 10 GiB of embeddings. Personally I'd just buy a stick or two of RAM and stay with a single machine if those are accurate.

But I guess you could put the embedding read as part of the data input pipeline, then like you say limit writes to some small slice of the embeddings. I don't think that's something amenable to wrapping into a high-level API, but

[2019-07-30 01:05] allenlavoie commented on #31055
Sure, if you have something you want to add you could append to the [SavedModel guide](https://github.com/tensorflow/docs/blob/master/site/en/r2/guide/saved_model.ipynb), one of the docstrings, or potentially the [Keras saving guide](https://github.com/tensorflow/docs/blob/master/site/en/r2/guide/keras/saving_and_serializing.ipynb). Right now we have a 1.x/2.x distinction which makes the 2.x guide

[2019-07-30 01:09] frankchn commented on #31138
Hi @captain-pool, thanks your report. A couple of questions:

1) Which version of Cloud TPUs are you using?
2) Are you using a single TPU or a slice of a Cloud TPU pod (i.e. was it a v2/v3-8 or was it a v2-32 / v3-32 or above)?

[2019-07-30 01:18] zhaoyingjun commented on #31120
there is no Instance Normalization in Normalization.py ，my request is "add a instance normalizatiom layer class in Normalization.py "

[2019-07-30 01:20] protossw512 opened #31153 "Quantization aware training does not add weights quantization and fake quantization nodes to Conv2D layers without bias and followed by non-addition ops"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14.0
-

[2019-07-30 01:41] Tylersuard commented on #31103
Hi Ravikyram.  I've been stuck on those instructions for the last 3 days.  I'm finding them very, very difficult to follow.

[2019-07-30 01:52] jtang7 opened #31154 "Workers are out-of-sync with MultiWorkerMirroredStrategy"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-07-30 02:17] sunzhe09 opened #31155 "quantized for SplitV"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 16.04
- TensorFlow installed from (source or binary):pip install tensorflow==1.14
- TensorFlow version (or github SHA if from source):1.14.0

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**
W tensorflow/lite/

[2019-07-30 02:25] LieJiang commented on #31123
@pandrey-fr   but when i use model   to predict , i must pass useless actions  like this :
[code]

[2019-07-30 02:31] sgambient commented on #30969
Found a workaround, but it is beyond ugly.   Could not find any  clean way of getting specific output from multi-output networks, although TF  does assign a unique name to each output.  The code is attached ( the formatting seems to be screwed up - but it is a simple piece of code that works).

`
import numpy as np
import tensorflow as tf
import tensorflow.contrib.tensorrt as trt
input_names  = []

[2019-07-30 02:49] WangYongzhao commented on #30159
do you mean the difference of 'ServingInputReceiver' and 'SupervisedInputReceiver'?
its function diff should be clear here. https://github.com/tensorflow/estimator/blob/master/tensorflow_estimator/python/estimator/export/export.py#L251

for my cases, I was doing some neural machine trasatlation experiment, I can use 'ServingInputReceiver' to generate some traslations, while i can use 'SupervisedIn

[2019-07-30 03:29] WindQAQ commented on #31120
@zhaoyingjun Hi, `InstanceNormalization` has appeared in [tensorflow/addons](https://github.com/tensorflow/addons).
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/normalizations.py#L277

[2019-07-30 04:03] Santosh-Gupta commented on #31043
Great, thanks for the insights!

[2019-07-30 04:03] #31043 closed

[2019-07-30 04:27] ymodak commented on #30874
```tf.io.decode_base64``` ignores spaces in the string too. I made a toy example to elaborate;
Tested with TF 1.14.0
- String without space

[code]
- String with space
[code]
Thanks!

[2019-07-30 04:27] #30874 closed

[2019-07-30 04:48] Eugen2525 commented on #6698
great, worked for me buddy :))

[2019-07-30 04:49] Eugen2525 commented on #6698
great reply, worked for me !!

[2019-07-30 05:05] breadbread1984 commented on #31109
the same problem still exists in dilated Conv1D.

[2019-07-30 05:19] feiga commented on #24326
@yuefengz Any comments?

[2019-07-30 05:22] gadagashwini commented on #31117
@makercob I tried executing the Colab link provided, Please confirm us is this expected behavior. Please look at the colab [gist](https://colab.research.google.com/drive/1vmljazkzTyE7Xyo7vruf7oyUYk1Q78y9). Thanks!

[2019-07-30 05:31] #30905 closed

[2019-07-30 05:46] makercob commented on #31117
@gadagashwini Without discarding distribute strategy or replacing 'map_py_func' with 'map_tf', training accuracy will always oscillates around 50%.

[2019-07-30 05:46] JonnoFTW commented on #26150
In addition to @edowson I had to do:

[code]

You may also need to set your `LD_LIBRARY_PATH` when running anything that uses the GPU:

[code]

[2019-07-30 05:54] captain-pool commented on #31138
@frankchn I'm using single TPU, v2-8, installed with nightly build.

[2019-07-30 06:04] theceday commented on #14659
I wonder how many people actually hitting this one without even releazing it.

[2019-07-30 06:16] frankchn commented on #31138
To clarify, you selected the "nightly" version when creating the TPU in the console and/or created the TPU with `ctpu --version=nightly` or `gcloud compute tpus create --version=nightly`?

[2019-07-30 06:25] gadagashwini commented on #31057
I am able to reproduce the issue with TF version 2.0.0-dev20190724 on Colab. Please see the colab gist [here](https://colab.research.google.com/drive/1KQISq9_YVfIHV3S3OF5PTzk2pfdT4Uz5).
Thanks!

[2019-07-30 06:25] captain-pool commented on #31138
Yep

On Tue, 30 Jul 2019, 11:53 am Frank Chen, <notifications@github.com> wrote:

[2019-07-30 06:29] sangurocactus commented on #31148
@gowtham-kp Sorry - is there a link or an image with the solution following your message? I don't see any instruction apart from the one-line message you sent me. Thanks.

[2019-07-30 06:30] gadagashwini commented on #30979
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-30 06:30] #30979 closed

[2019-07-30 06:31] gadagashwini commented on #31030
@colmantse Any update on the code snippet. Thanks!

[2019-07-30 06:34] gadagashwini commented on #31035
@wendy518 Could you please elaborate issue with context. Will it be possible to provide the minimal reproducible code. Thanks!

[2019-07-30 06:47] zhaoyingjun commented on #31120
OK，thanks

[2019-07-30 06:47] #31120 closed

[2019-07-30 07:28] wy9884255 commented on #24135
it can be pre-download and restore into C:\Users\XX\_bazel_XX\snbwbfmj\external\icu... and so on

[2019-07-30 07:33] akshika47 commented on #31142
Could you post your code snippet here?

[2019-07-30 07:46] Z-Y00 commented on #26266
For 0.25,0.24,0.23, it seems you will never get pandas.compat

[code]
as in 0.23
https://pandas.pydata.org/pandas-docs/version/0.23/api.html?highlight=compat
 so. @art1 why downgrading works for you? I'm new to python

and in 0.24
https://pandas.pydata.org/pandas-docs/version/0.24/reference/index.html

and in stable(Now 0.25)
https://pandas.pydata.org/pandas-docs/stable/reference/index.html?highli

[2019-07-30 07:46] colmantse commented on #31030
hi sorry, I am still trying to reproduce the issue. maybe I should close for now and reopen when I manage.

[2019-07-30 07:48] pandrey-fr commented on #31123
@LieJang I am unfamiliar with the model you are trying to set up; are `actions` always empty/random? If that is the case, you could replace the inputs mechanism with an automated Tensor generation within the model...

[2019-07-30 07:49] pandrey-fr commented on #31086
You are welcome :-)

[2019-07-30 07:58] edowson commented on #26150
@JonnoFTW I've updated my [tf-build/Dockerfile](https://github.com/edowson/docker-tensorflow/blob/master/ubuntu/xenial/tf-build/Dockerfile#L227-L234) to incorporate those changes.

There's a [tf-base](https://github.com/edowson/docker-tensorflow/tree/master/ubuntu/xenial/tf-base) docker image in there that uses the [tf-build](https://github.com/edowson/docker-tensorflow/tree/master/ubuntu/xenial/t

[2019-07-30 08:12] gadagashwini commented on #31054
@Neeraj0011 , Please provide details about TensorFlow version. Also, did you compile from source or install a binary?
In order to expedite the trouble-shooting process, please provide a complete code  to reproduce the issue reported here. Thanks!

[2019-07-30 08:17] anush-o commented on #30882
Issue replicating with TF version-2.0.0beta1, please find the gist of [collab](https://colab.sandbox.google.com/drive/1gSgYR8eSgYFmDCLb-LGbyvLx3rPeTGSF#scrollTo=i6DsFwm781KS). Thanks!

[2019-07-30 08:26] Neeraj0011 commented on #31054
TF Version : 1.12.0
Compiled from Source:

[code]

[2019-07-30 09:00] chengleiwang commented on #31062
Any update?

[2019-07-30 09:04] mimxrt commented on #31071
Thank you for testing this - good to know. However, I am unsure if I should migrate to TF2.0b1 now given it is still a beta version. To be fair, I was expecting 1.14 to be the more stable version of the two.

[2019-07-30 09:07] wendy518 commented on #31035
`model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Convolution2D(30, (1,1), activation='relu',input_shape = (X_train.shape[1], X_train.shape[2],1)))
model.add(tf.keras.layers.MaxPooling2D(pool_size=(2,2), padding='same'))
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(units =20,kernel_initializer = 'uniform', activation = 'relu'))
model.add(tf.keras.layers.Dense(

[2019-07-30 09:20] anush-o commented on #31116
@penghao1990 ,
Can you please fill details in the above mentioned template.
Also In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here.
Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2019-07-30 09:28] caozhanxu commented on #13463
i encountered this problem in MAC system, the reason is, in my directory , it has a .DS_store file，but my code noly need the records data, so when i filter the .DS_store, it run sucessed

[2019-07-30 09:29] lee-bin commented on #30791
No problems, thanks!

[2019-07-30 09:34] rishabhsahrawat commented on #31131
You need to define the model function inside `strategy.scope()` or remove the function and just use
`
         with mirrored_strategy.scope():

        model = InceptionV3(input_shape=(299, 299, 3),
                             include_top=True,
                             weights='imagenet',
                             pooling='avg')

        model.compile(loss='sparse_categorical_crossentropy'

[2019-07-30 09:35] gadagashwini commented on #31126
@penghao1990,
The TensorFlow team does not officially support cmake, sorry. Please try out building from [source with Bazel](https://www.tensorflow.org/install/source_windows). Thanks!

[2019-07-30 09:42] anush-o commented on #31065
@marconardelli ,
Hi when tried executing the given code `NameError: name 'SupplyChainEnv2' is not defined` was received, can you please provide the complete code.Thanks!

[2019-07-30 09:45] rmothukuru commented on #31142
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-07-30 10:03] tpopp commented on #30308
There is not a C++ API for XLA compile. If you think there would be use in this, feel free to open another issue, and someone with more insight than me can respond.

I will close this issue as the bug this was opened for is now fixed at head.

Regarding the other issues for @tangjie77wd, It looks like you're still adding other information when setting the flag. It should be exactly `TF_XLA_FLAGS=-

[2019-07-30 10:03] #30308 closed

[2019-07-30 10:03] rmothukuru commented on #31118
@ElderOrb ,
Can you please follow the instructions mentioned in [this link](https://github.com/bazelbuild/bazel/issues/4148#issuecomment-469237002) and let us know if it helps.

[2019-07-30 10:07] gadagashwini commented on #31054
@Neeraj0011 Could you please provide the sample data set to reproduce the issue. Thanks!

[2019-07-30 10:09] agarnitin86 commented on #20067
@riklmr : I have a similar issue. I have two processes using CuDNNLSTM. One process trains model on some data and another process predicts using a previously saved model. When i run both the process i get this error. When i change cudnnLSTM to LSTM cell it works fine. But i need to use CuDNNLSTM. Does anyone have any resolution.

[2019-07-30 10:12] rmothukuru commented on #31061
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-07-30 10:29] gschen opened #31160 "same one line code but get different type."
[code]
There is one line same code '**type(tf.random.uniform([], maxval=1.0))**' in two positions [P1],[P2], but we got two different type, one is EagerTensor and the other is Tensor.

Some people know why? Thanks for your reading.

[2019-07-30 10:42] AlbiBone commented on #31142
I am using a Windows 7 i7 pc, and the Anaconda version is "Anaconda 2019.07 for Windows Installer" that you can see in the link: https://www.anaconda.com/distribution/#download-section
and then I installed the anaconda with "Python 3.7 version" (at left).

But good news: now I write in the anaconda prompt:
'pip install tensorflow' and now the code works without problem of 'no module named 'tensorf

[2019-07-30 10:42] #31142 closed

[2019-07-30 10:55] osheenn opened #31161 "Cannot convert a Tensorflow GraphDef model to tflite format"
<h1> Description </h1>

I have been trying to convert a custom fastai based model to tflite and tf-js for deployment purpose. I was able to convert my fastai based model to onnx format and then to tensorflow format. I was able to perform inference on tensorflow model. However, when i try to convert the same model to tflte and tf-js i get error using the tflite converter API.
I get multiple errors

[2019-07-30 10:57] smistad commented on #30212
I am also getting this error on 1.14 using MSVC 2017 and bazel 0.24.1

[2019-07-30 11:06] gadagashwini commented on #31124
@hsinpaohuang, Just to verify, did you install tensorflow lite following the instructions mentioned in the [Tensorflow](https://www.tensorflow.org/lite/guide/build_arm64) website on ARM. Thanks!

[2019-07-30 11:07] nairouz commented on #31147
Keras does not allow TensorFlow ops unless they are wrapped by a Lambda layer.
@mbeissinger I think there is no bug here.

[2019-07-30 11:08] anush-o commented on #30738
Closing due to lack of recent activity.Thanks!

[2019-07-30 11:08] #30738 closed

[2019-07-30 11:08] rmothukuru commented on #31142
@AlbiBone ,
Good to know that your issue is resolved. If I understand it correctly, you were trying to
`import tensorflow` without running `pip install tensorflow`. Now that you have run `pip install tensorflow`, you could `import` it without any error.

[2019-07-30 11:08] rmothukuru commented on #31142
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=31142)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=31142)

[2019-07-30 11:09] anush-o commented on #30828
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-30 11:09] #30828 closed

[2019-07-30 11:10] rishabhsahrawat opened #31162 "Can not use large dimension in Embedding layer on GPU(s)."
I am using TF2.0 latest nightly build and I am trying to train LSTM model for text classification on very large dataset of 16455928 sentences. For embedding layer in the model, I have a vocab size of 366856 and I used 1000 as embedding dimension value in it, on which the 2 GPUs(Tesla T4 from Google) ran out of memory.
Since I can not lower the size of vocabulary (maybe there is a way), so I used l

[2019-07-30 11:12] anush-o commented on #30876
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-30 11:12] #30876 closed

[2019-07-30 11:13] anush-o commented on #30894
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-30 11:13] #30894 closed

[2019-07-30 11:14] anush-o commented on #30903
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-30 11:14] #30903 closed

[2019-07-30 11:17] rmothukuru commented on #31058
@senorpinatta ,
Can you please try the instructions mentioned in [this link ](https://stackoverflow.com/questions/38896424/tensorflow-not-found-using-pip) and let us know if it helps. Thanks.

[2019-07-30 11:23] rmothukuru commented on #31052
@ThisIsIsaac ,
In order to answer your questions,

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://g

[2019-07-30 11:23] nairouz commented on #31136
I solved this problem by using `tf.keras.backend.get_session`.

When I run this code multiple times, I get the same results.

   sess = tf.keras.backend.get_session({'input:0':X})
   out_grad = sess.run(grad, feed_dict={'input:0':X})
   print(out_grad[0][0])

[2019-07-30 11:26] #31136 closed

[2019-07-30 11:44] anush-o commented on #30981
@colmantse ,
Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2019-07-30 12:02] anush-o commented on #31119
@Deepak-HpyAda ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issu

[2019-07-30 12:04] anush-o commented on #31062
@chengleiwang ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue

[2019-07-30 12:26] zaccharieramzi commented on #26989
Regarding the new ops `fftshift` and `ifftshift`, currently it's impossible to use them without specifying the shape over the axes you want to shift (you get the following error: `TypeError: 'NoneType' object cannot be interpreted as an integer` when executing `axes = tuple(range(x.shape.ndims))`).

I was wondering whether it was possible to implement them without having to specify entirely the sh

[2019-07-30 12:39] vinaykumar2491 commented on #6698
Changing the Nvidia driver to 396+ solved the issue for me.

[2019-07-30 12:45] rusyaev-roman opened #31163 "[MLIR] couldn't convert MLIR to GraphDef via tf-mlir-translate"
`tf-mlir-translate` fails while converting MLIR to GraphDef.

`$ uname -a`
[code]

`$ cd tensorflow/compiler/mlir`
`$ cat add.pbtxt `
[code]

`$ bazel run tf-mlir-translate -- --graphdef-to-mlir --tf-input-arrays=input0,input1 --tf-input-data-types=DT_INT32,DT_INT32 --tf-input-shapes=10:10 --tf-output-arrays=Add ${PWD}/add.pbtxt -o ${PWD}/add.mlir`

`$ cat add.mlir`
[code]
`$ bazel run tf-mlir-tra

[2019-07-30 13:00] katarina-cavar commented on #18268
Similar issue in Tensorflow 1.14.0.

[2019-07-30 13:08] chengleiwang commented on #31062
My system is Ubuntu 18.04 64bit os.
TensorFlow version is r2.0.
Compiled and installed from source.
I follow the TensorFlow document to build the tf. I am ooo at this moment.but I believe you can find the cuda build configuration in /third_part/gpus/cuda/ path. There are many library use libcudart_static.a as dependence.

[2019-07-30 13:10] KauthamMurugan commented on #30682
Hi guys any update on this.

[2019-07-30 13:16] aprimostka commented on #4193
On request added #31164

[2019-07-30 13:17] chushan89 commented on #30427
With Ubuntu19.04, the combination of tensorflow-gpu 1.14.0 (or tensorflow-gpu 1.12.2) with numpy 1.17.0 has the same warnings as well. When change numpy version to 1.16.3, the warnings are gone.

[2019-07-30 13:21] smistad commented on #30212
I was able to get around this error by upgrading the Visual Studio 2017 Build Tools and Community IDE to the latest version 15.9.14. Maybe someone can verify if this is a valid fix, for instance @stewart-r ?

[2019-07-30 13:24] baiztencale commented on #31014
I checked it again and I'm still getting the same outputs during the execution loop. Furthermore are all states of the layer filled with zeros.

By the way, I'm using the CPU version of TensorFlow without any GPU.

[2019-07-30 13:24] danielkrause commented on #7278
No, it doesn't. It implements just the first step of the Depthwise Separable Convolution.

[2019-07-30 13:25] anush-o commented on #31143
@MovGP0 ,
Just to clarify did you add sub folders: bin and lib to the path?Thanks!

[2019-07-30 13:26] colmantse commented on #30981
@anush-o sorry for the ambiguity , I have narrowed down it to this function:

data_files = sorted(tf.contrib.slim.parallel_reader.get_data_files(
        data_filepattern))
where datafilepattern is the hdfs://path/pattern

[2019-07-30 13:27] anush-o commented on #31098
@eriklu ,
Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2019-07-30 13:29] pandrey-fr commented on #30952
As I am still hoping that someone will pick up this issue, I conducted (yet) additional testing, namely replacing `tf.keras.layers.Embedding` with a subclass that overrides the `call` method in order to use one-hot-encoding and dot-product to retrieve embeddings instead of `tf.nn.lookup` (see code below). This does not fix the issue, which therefore seems to be a general input tensors non-discardi

[2019-07-30 13:34] pandrey-fr commented on #31162
Hi @rishabhsahrawat,

Could you be more precise as to when the issue occurs exactly, and what your data processing pipeline looks like (i.e. do you have the entire dataset loaded in memory, or do you iteratively load and discard pieces of it)?

I would not be surprised if your issue was similar to the one I reported in #30952 (which has not been picked up as of now...), but maybe it is a simpler d

[2019-07-30 13:46] pandrey-fr commented on #31160
Hi,

I have an imprecise answer to your question, which should hopefully clarify things for you but might not be entirely accurate from a technical standpoint.

In version 2.0, Eager execution is enabled by default, hence any Tensor you create will be wrapped as an EagerTensor. This is what shows up at position [P1] in your code.

That being said, TensorFlow relies on building computation graphs,

[2019-07-30 13:47] damitkwr commented on #24789
I got the same issue with the GNMTv2 model as well. It literally doubled the model size

[2019-07-30 13:47] pandrey-fr commented on #31160
By the way, no offence and I am happy to try to help you, but this is not an issue _per se_ and would be better asked on a questions-answering website such as StackOverflow rather than here ;-)

[2019-07-30 13:53] kiranintellify commented on #30488
can you specify where to append i faced the same issue with python 3.6 tensorflow

[2019-07-30 13:54] pandrey-fr commented on #31135
There might be a better way, but you can use `tf.config.experimental.set_visible_devices([], 'GPU')` to hide any GPU (they can still be listed using `tf.config.experimental.list_physical_devices('GPU')` and restored using the first function with different arguments, but will no longer appear when running `tf.config.experimental.list_logical_devices('GPU')` and should therefore not be used to place

[2019-07-30 13:55] llan-ml opened #31165 "[tf 2.0] use summary apis without occupying gpu memory"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0.0-dev20190725

**Describe the feature and the current

[2019-07-30 13:57] rishabhsahrawat commented on #31162
Hi @pandrey-fr , thank you for your questions. I am actually using `tf.data.Dataset` (reading a csv file using `make_csv_dataset`). After that I created an encoder using `tfds.features.text.TokenTextEncoder` which gives a vocabulary size of 366856 (unique words). This vocab size is then given to Embedding layer of my model along with the embedding size of 1000 which on running the model throws hug

[2019-07-30 14:03] PhilJd commented on #30488
You need to run the command
[code]

[2019-07-30 14:06] pandrey-fr commented on #30952
I am happy to see some activity popping (@robieta, you seem to be quite the expert on this kind of issue!), however I see the `type:bug` tag was removed which in my humble opinion is incorrect; this is not just a performance issue (as is the case, e.g. in #30561), this is a bug, in the sense that training is not just slower, it is made altogether impossible on some configurations (namely when a GP

[2019-07-30 14:16] capilano commented on #31067
@jvishnuvardhan Yes. My particular use case is to create a polygon bounding box (instead of a square) and then I also need to know what pixels are inside the bounding box and which ones are outside. So, given a bunch of landmark points(not necessarily convex), I need to find the outer  boundary and the enclosed pixels. cv2.convex_hull + cv2.fillPoly are the equivalent functions that as far as I kn

[2019-07-30 14:16] pandrey-fr commented on #31162
To be clear, does this include the fitting process of the model? If so, then it could just be that the data is indeed too large for the amount of RAM on your GPU. Could you describe your GPU's specs (name, RAM)?

You could also try running your code without enabling GPU use (run `tf.config.experimental.set_visible_devices([], 'GPU') at the beginning of your code) and monitor how much RAM is being

[2019-07-30 14:20] pandrey-fr commented on #31165
Hi,
Is there any chance you can actually place the operations on CPU? E.g.
[code]

I have no idea whether this works, nor if simply creating the writer on device influences the way future operations are dealt with, which you would have to test unless a more knowledgeable person comes around :-)

[2019-07-30 14:28] #31138 closed

[2019-07-30 14:30] sWizad opened #31166 "Possible tf.matmul bug (wrong results) on tensorflow-gpu"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.1

[2019-07-30 14:37] rishabhsahrawat commented on #31162
Yes, this happens after calling `model.fit`, if that was your question and my error log is also similar like the one you have mentioned in your issue. I am using 2 Tesla T4 GPUs each with 16 GB memory from Google.
As per your suggestion, I will run it on CPU and see the memory consumption. However, I want to share one information (not sure if this will be helpful). Earlier, I was trying to shuffle

[2019-07-30 14:48] captain-pool opened #31167 "[TF2.0] [Support] TPU training code Breaks after 2 steps of Training"
I'm training a model on TPU, however the code execution breaks after exactly after 2 steps. I'm using tf.distribute.experimental.TPUStrategy for the training.
After running exactly two steps *inside* experimental_run_v2(), it breaks.
The execution doesn't even come out of experimental_run_v2() (I'm logging every microstep (forward passing, loss calculation, applying gradients, etc) to keep a note

[2019-07-30 14:56] tpopp commented on #29640
Regarding synchronization, you can implement it with
https://www.tensorflow.org/api_docs/python/tf/no_op
https://www.tensorflow.org/api_docs/python/tf/xla/experimental/jit_scope and
https://www.tensorflow.org/api_docs/python/tf/control_dependencies

You would create a no_op node within a jit_scope(compile_ops=False) and then have control dependencies from it to the AllReduce and the unrelated clus

[2019-07-30 15:04] rusyaev-roman commented on #31163
CC +=  @joker-eph

[2019-07-30 15:16] tpopp commented on #30791
So in this case, it does not seem like XLA is a problem. To be specific, there are two parts to XLA used by Tensorflow. There is a "tf2xla bridge" that changes the graph to be compatible with XLA, then XLA itself. The latter is not clearly a problem based on your timelines. The former (the bridge) does seem to be an issue though. We would hope for the timeline to be primarily a single XlaCompile a

[2019-07-30 15:21] joker-eph commented on #31163
Sorry about this, it was fixed in 459f8cf615402f022de9ea1f9c1f033509db0076 but reverted in 459f8cf615402f022de9ea1f9c1f033509db0076 because it broke an ASAN test. The ASAN fix is under review and we should land everything today (hopefully).

[2019-07-30 15:26] rusyaev-roman commented on #31163
Thanks!

[2019-07-30 15:29] RaphaelMeudec commented on #30955
@ymodak I'm also having trouble creating subgraph for model using the subclassing API (on TF2).

Google Colab: https://colab.research.google.com/drive/1kRbgCtF2CIfiK3F75FjDZiI241cfPC-f

Code below:

[code]

Stacktrace is:
![image](https://user-images.githubusercontent.com/12402673/62143005-921fdb80-b2ef-11e9-9c10-ac7285bf4a2d.png)

Is there a workaround for this?

[2019-07-30 15:30] sajagkc11 commented on #31144
@tensorflowbutler Need your expertise

[2019-07-30 15:32] jdduke commented on #31064
Please attach the build failure you're seeing and the NDK version you're using. TensorFlow Mobile builds are deprecated in favor of TensorFlow Lite; is there a reason you cannot use TensorFlow Lite? Or bazel builds for TensorFlow Mobile?

[2019-07-30 15:33] pandrey-fr commented on #31162
Okay, so basically your dataset (multiplied by embedding dimension) is huge, and the embedding vectors representing it cannot be all loaded in memory (either CPU or GPU) at the same time. For your model to run, you therefore need to keep the amount of data loaded at any given time under 16 GB (which is the limit on both your CPU and GPU, notwithstanding the idea of using multiple parallel devices)

[2019-07-30 15:36] klarson2 commented on #30635
I experienced this on both Mac OS X and Linux.

Tracing through the `org.tensorflow.NativeLibrary`class, it seems that what is happening is that the code is extracting the dependent framework lib _without_ the version (i.e. `libtensorflow_framework.dylib`) to a temp directory for loading, but the dependency ("@rpath") in the JNI lib is for the framework lib _with_ the version (i.e. `libtensorflow_

[2019-07-30 15:58] alextp commented on #26989
It's not clear to me either. Interested in giving it a try?

On Tue, Jul 30, 2019 at 5:33 AM Zaccharie Ramzi <notifications@github.com>
wrote:

--
 - Alex

[2019-07-30 16:10] zaccharieramzi commented on #26989
Well at the moment I am a little bit busy, so it won't be possible for me in the near future (I found a workaround for my problem which is just to shift my data before and after the network).
I am however interested in giving it a go at some point if noone tried before.

[2019-07-30 16:13] rishabhsahrawat commented on #31162
Yes, I am still using the same way for loading the dataset so padded_batch
etc. except shuffling since it doesn’t work for me as I said.
I will surely try out the way to divide the layers of the model and hope it
will work. I will keep you updated about that.

Thank you again for your suggestions and help.
-Rishabh

On Tuesday, July 30, 2019, Paul Andrey <notifications@github.com> wrote:

--
Sent

[2019-07-30 16:27] paulbauriegel opened #31169 "Tensorflow Keras load model"
I have a keras model which I'm able to load with Keras (with Tensorflow Backend). Tensorflow Keras however is not able to load that model, which makes it impossible to use `TFLiteConverter.from_keras_model_file`

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 19.04 64-bit
- TensorFlow installed from (source or binary): binary (CPU)
- TensorFlow version (us

[2019-07-30 16:38] antiagainst commented on #31163
The ASAN fix is landed as https://github.com/tensorflow/tensorflow/commit/417972d14641a9a4a3ac512a078465d6cfeaff30 now.

[2019-07-30 17:06] jvishnuvardhan commented on #29161
@mwin76 I could reproduce the issue with `tf-nightly-gpu` but TF2.0 has no issues. We will try to find the root-cause of the issue in TF1.x nightly. Thanks

[2019-07-30 17:14] joker-eph commented on #31163
Fixed in ff79f54b9c89789f03b09d5a9a5afd481adca6b0

[2019-07-30 17:14] #31163 closed

[2019-07-30 17:16] gowtham-kp commented on #31148
Yes @sangurocactus Just for the refence again, here's [some workaround](https://github.com/tensorflow/tensorflow/issues/28287#issuecomment-495005162) for your problem. Thanks!

[2019-07-30 17:35] Jonarod commented on #23649
I am in the exact same situation right now. Using Golang as well.
However, in my case I could build the static `.a` using `gcc 7.3.0`, so I don't really know if my output is valid or not but I do get the same `undefined reference to ...` errors when building with: `go build -ldflags '-linkmode "external" -extldflags "-static -L /search/odin/tensorflow/lib64/lib"' hello_tf.go`.

Seems like it all b

[2019-07-30 17:41] gunan commented on #31085
CUDA upgrades are usually a larger discussion for TF prebuilt binaries. Let's have a larger video call about that.

[2019-07-30 17:56] ymodak commented on #31135
This can help you forcing all operations on CPU;
[code]
Output
[code]

[2019-07-30 17:58] jsimsa commented on #31093
This issue is not related to tf.data.

[2019-07-30 18:04] jimmyvo2410 commented on #27880
@ankitmaurya001
Only converting from frozen graph works for me with tf1.14.0. Try this:
[code]

[2019-07-30 18:14] alextp commented on #31067
I think it's reasonable to have convex hulls and polyfills in tf. I'll mark this as contributions welcome though since I don't think it's on our current roadmap but PRs would be welcome.

[2019-07-30 18:14] alextp commented on #31067
Also note that you should be able to use the opencv version right now inside a tf.numpy_function.

[2019-07-30 18:16] ymodak commented on #31143
@MovGP0 You are right. Thanks for reporting this.  What version of TF you are trying to install?

[2019-07-30 18:19] ymodak commented on #31098
@eriklu In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-07-30 18:19] alextp commented on #30984
@jsimsa @rohan100jain can you take a look at this?

[2019-07-30 18:25] dsgupta commented on #29911
I had the same problem and am curious if the suggestions (and which one, specifically) worked for you @mcoolsce

[2019-07-30 18:35] Uiuran commented on #30991
Small update here, in my actual code iam doing
[code]
For var space redefinition. That is, indeed iam cleaning working space and restarting the graph as a new block, however this would take too much time for immense graphs, in this feature the better way i think is to implement a new function in VarScope Class to directly change the scopes of the graph variables.

[2019-07-30 18:51] celinew1221 commented on #28028
The migration guide actually have it for TF2.0: https://www.tensorflow.org/beta/guide/migration_guide. But it wasn't mentioned in keyword. So it's sort of hidden here.

[2019-07-30 18:54] celinew1221 commented on #28028
Additionally, using `training=False` or `training=True` doesn't set learning phase in keras. So when I print `keras.backend.learning_phase()`, it will also say 0 (test phase). This is confusing.

[2019-07-30 19:37] #31167 closed

[2019-07-30 20:03] janprz opened #31171 "404 Error during oxford-pets tutorial dataset loading"
**System information**
- OS Platform and Distribution (Windows 10):
- TensorFlow installed from (binary):
- TensorFlow version: GPU 2.0 beta
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: 10.0/7.5
- GPU model and memory: nvidia GTX 1050 4gb

**Describe the problem**
problematic tutorial: https://www.tensorflow.org/beta/tutorials/images/segmentation
In th

[2019-07-30 20:05] #27680 closed

[2019-07-30 20:12] vitong commented on #31085
Sure. Is there an email/contact I can reach out to, in order to set this up? Thanks again for the help

[2019-07-30 20:14] Welfinity commented on #25938
yeah, It solved for me.

[2019-07-30 20:17] nasirbashak commented on #25938
yeah, It solved for me.

[2019-07-30 20:37] MovGP0 commented on #31143
@ymodak v1.14 GPU
[code]

[2019-07-30 20:39] MovGP0 commented on #31143
@anush-o the bin and lib folders where added to the path variable during the Installation of CUDA.

[2019-07-30 20:46] Pidem commented on #25348
on a similar note, @aaroey , I think the following lines of code should return the value "True".

from tensorflow.compiler.tf2tensorrt.wrap_py_utils import is_tensorrt_enabled
print(is_tensorrt_enabled())

[2019-07-30 20:51] nicholas-2 opened #31172 "ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed."
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): no idea, likely binary
- TensorFlow version: 2.0.0b1
- Python version: Python 3.7.4
- Installed using pip
- CUDA/cuDNN version: using CPU
- GPU model and memory: using CPU

Running the testing in the object detection API sample models (@ https://github.com/tensorflow/models) gives me a

[2019-07-30 20:52] haozha111 commented on #31115
TF Lite's Conv/MaxPool/AvgPool operator only supports NHWC data format right now. I think your model uses NCHW format in those ops. Could you try switch your data format to 'NHWC'?

[2019-07-30 20:52] nicholas-2 commented on #31172
I'm not using a GPU, so I thought I didn't need CUDA and cuDNN?

[2019-07-30 21:06] ymodak commented on #31172
From the template it looks like you are installing TensorFlow (TF) prebuilt binaries.
TensorFlow release binaries version 1.6 and higher are prebuilt with AVX instruction sets.
Therefore on any CPU that does not have these instruction sets, either CPU or GPU version of TF will fail to load.
Apparently, your CPU model does not support AVX instruction sets. You can still use TensorFlow with the alte

[2019-07-30 21:07] pandrey-fr commented on #31162
Hi Rishabh,

Looking further at the tutorial (whose dataset is way smaller than yours, if I understand well) and doing a few tests on my own, I must say I am surprised by the issues you are encountering...

Normally, setting a reasonable buffer_size argument when using shuffle should solve memory issues associated with that part of the data pipeline. As for the embeddings matrix, it is indeed rath

[2019-07-30 21:09] ymodak commented on #31172
From the template it looks like you are installing **TensorFlow** (TF) prebuilt binaries.

**TensorFlow release binaries version 1.6 and higher are prebuilt with AVX instruction sets.**
Therefore on any CPU that does not have these instruction sets, either CPU or GPU version of TF will fail to load.

Apparently, your CPU model does not support AVX instruction sets. You can still use TensorFlow wit

[2019-07-30 21:12] bencbartlett commented on #26502
I am also still having this issue running PyCharm 2019.2 with Python 3.7 and `tf-2.0.0-beta1`. If I run `from tensorflow import keras` in a Python interpreter it works fine, but tf seems to have done something that renders PyCharm unable to find many of its submodules, which makes it difficult to work with due to the lack of autocomplete and false import warnings.

[2019-07-30 21:14] jvishnuvardhan commented on #30995
@Quiigi Can you provide a standalone code in python to reproduce the issue? Thanks!

[2019-07-30 21:22] IanQS opened #31173 "un-deprecate `write_grads` for `fit`"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0-beta
- Are you willing to contribute it (Yes/No): No

[2019-07-30 21:25] gowtham-kp commented on #30270
@gupta-vivek Please post this issue on [tensorflow/tensorboard](https://github.com/tensorflow/tensorboard) as its you can get your questions answered fast. Thanks!

[2019-07-30 21:25] #30270 closed

[2019-07-30 21:26] Ryandry1st commented on #31013
Pull request is submitted, approved, and merged. Website docs just need to be updated to include recent code merge.

[2019-07-30 21:32] jvishnuvardhan commented on #28297
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-30 21:32] #28297 closed

[2019-07-30 21:35] ymodak commented on #30773
Thanks for the code snippet. Can you try reducing ```batch_size``` and test again?
If not, then next thing can be to limit gpu memory growth.
```tf.config.experimental.set_memory_growth```
See, https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/config/experimental/set_memory_growth
https://www.tensorflow.org/beta/guide/using_gpu#limiting_gpu_memory_growth

[2019-07-30 21:55] nicholas-2 commented on #31172
Thanks @ymodak for the advice.

I'm using this tutorial by sentdex by the way: https://www.youtube.com/watch?v=COlbP62-B-U

I started by attempting to use Google Colab, but got an error with no solution I could find online:
[code]

I also seemed to get the same error after running `pip install tensorflow==1.14`:

[code]

so perhaps it's not a problem with TF >1.5?

Thanks for your help!

[2019-07-30 22:07] maxima120 commented on #29839
Thank you I will try it.
Re: TF 2.0 - I would gladly switch but I read 2.0 beta doesn't have tpu support whatsoever. Is it wrong?

[2019-07-30 22:13] jvishnuvardhan commented on #31013
Automatically closing this out since I understand it to be resolved by the PR https://github.com/tensorflow/docs/pull/871. Thanks for the contribution.

[2019-07-30 22:13] #31013 closed

[2019-07-30 22:27] Bornlex commented on #31112
@ravikyram is it enough?

[2019-07-30 22:34] ymodak commented on #31172
You should be able to install TF less than 1.6 perhaps TF 1.5 however that won't solve your current issue. The reason being TF Object detection API requires TF 1.12 and above.
See https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md
You can try using google colab to execute object detection api however you need to setup the recommended environment.
See
h

[2019-07-30 22:43] peastman opened #31174 "TF 1.14 Keras model throws exception when inputs are not the deepest nodes"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-07-30 22:47] TheNewSound commented on #31172
I literally have the same problem, tried every combination of CUDA10.0/Python3.7/Python3.6/cuDNN4.2/cuDNN7.5/cuDNN7.6 on win10

I eventually gave up on tensorflow-gpu and doing it in the browser now with tfjs.

[2019-07-30 22:53] nicholas-2 commented on #31172
Sorry, I forgot to ask, are there any sample google colabs that run the object detection API? I followed all the instructions, here's my setup but still gives an error. https://colab.research.google.com/drive/1m6Cw38ldCMndeuIOwoMExd4EBxkDOkc4

[2019-07-30 22:59] rchao commented on #29629
@protsenkovi I tried a few times but never successfully reproduced this issue (with python 3 and TF 2 enabled). Are you able to repro the issue consistently?

[2019-07-30 23:04] #31160 closed

[2019-07-30 23:30] aaroey commented on #31007
@sgambient the max_batch_size is the limit from [TensorRT library](https://docs.nvidia.com/deeplearning/sdk/tensorrt-api/c_api/classnvinfer1_1_1_i_builder.html#a7285560854aec37979363e1d71709bfe) since each TensorRT engine needs to be built with a specific max_batch_size. But if you set is_dynamic_op to True, TRT engines will be built dynamically and each engine will have max_batch_size set to the

[2019-07-30 23:30] #31007 closed

[2019-07-30 23:36] aaroey commented on #31051
@timshen91 would you please help to take a look at this?
Also @houtoms for comments if any.

[2019-07-30 23:37] MartinNowak opened #31175 "TF2.0 - memory leak caused by autograph retracing due to bound method argument"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 30
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0-beta0-

[2019-07-30 23:44] houtoms commented on #31051
Has TF already used similar mechanism https://github.com/tensorflow/tensorflow/blob/e3efabdcaf9359991527c4aec9544dbd1a61c67d/tensorflow/core/kernels/conv_ops.cc#L990?

[2019-07-30 23:46] timshen91 commented on #31051
The similar caching mechanism is already implemented for all cuDNN convolutions: https://github.com/tensorflow/tensorflow/blob/e3efabdcaf9359991527c4aec9544dbd1a61c67d/tensorflow/core/kernels/conv_ops.cc#L990

[2019-07-30 23:46] alokprasad commented on #31064
Some of the model cannot be converted to TFLITE even enabling SELECT_TF_OPS flag also , So we need full tensorflow for Android ( i Understand it will be not optmized for speed) but still that will enable the model to run on Android.
NDK Version 16 , there are changes in NDK sysroot and headers in NDK after 14b so current Makefile dont work with any NDK after 14b.

I am following Android steps from

[2019-07-30 23:54] JonnoFTW commented on #26150
The only error I got was that it couldn't find a header file:

[code]
Copying the header files fixed it for me.

[2019-07-31 00:19] pavithrasv commented on #29799
This would be a good candidate for the AddOns repository (https://github.com/tensorflow/addons) and based on how widely it is being used we can move it to TensorFlow core.

[2019-07-31 00:20] pavithrasv commented on #29799
Please feel free to send a PR to the add ons repository.

[2019-07-31 00:20] #29799 closed

[2019-07-31 00:24] ajeyaajeya commented on #15736
Is there a solution to this?

For :
 from tensorflow.keras.layers.core import Reshape,Dense,Dropout,Activation,Flatten

I get:
ModuleNotFoundError: No module named 'tensorflow.keras.layers.core'

[2019-07-31 00:36] paanguin commented on #27781
I have 16 transpose operations in my tensorflow graph. I hope to figure out which one causes the problem, but tflite_convert doesn't provide that information.

[2019-07-31 00:38] sgambient commented on #31007
Hi, does not seem to work for me. Getting the following error.

tensorflow/contrib/tensorrt/kernels/trt_engine_op.cc:264] Engine buffer is full. buffer limit=1, current entries=1, requested batch=25

[2019-07-31 00:43] pavithrasv commented on #30498
@dalgu90 `output_shape` is not supported in eager. https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/base_layer.py#L1493

[2019-07-31 00:52] hsinpaohuang commented on #31124
@gadagashwini, I followed the instructions on how to build tensorflow (not lite) from source from the [official website](https://www.tensorflow.org/install/source).

[2019-07-31 01:12] lu-wang-g commented on #29443
First, AVERAGE_POOL_2D (corresponds to tf.nn.avg_pool2d) has been optimized for the float path while MEAN (corresponds to GlobalAveragePooling2D) has not yet been optimized in tflite.

Second, your code of converting the tflite model using AVERAGE_POOL_2D does not seem right. You need to set the flag for optimization: converter.optimizations = [tf.lite.Optimize.DEFAULT]. Without it, you'll end up

[2019-07-31 01:12] #29443 closed

[2019-07-31 01:42] tranvangaohd1994 opened #31180 "Some of the operators in the model are not supported by the standard TensorFlow Lite runtime and are not recognized by TensorFlow. If you have a custom implementation for them you can disable this error with --allow_custom_ops, or by setting allow_custom_ops=True when calling tf.lite.TFLiteConverter(). Here is a list of builtin operators you are using: ADD, CAST, CONCATENATION, CONV_2D, DIV, EXP, FILL, GATHER, GREATER_EQUAL, LEAKY_RELU, LOGISTIC, MAX_POOL_2D, MUL, PACK, REDUCE_MIN, REDUCE_PROD, RESHAPE, RESIZE_NEAREST_NEIGHBOR, SHAPE, SQUEEZE, STRIDED_SLICE, SUB. Here is a list of operators for which you will need custom implementations: NonMaxSuppressionV3, Round, Where"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-07-31 01:48] paanguin commented on #27781
Is there any connection between this issue and following one?
https://github.com/tensorflow/tensorflow/issues/27640

[2019-07-31 02:28] tangjie77wd commented on #30308
@tpopp Thank you,i have already solved the problem.

[2019-07-31 02:29] JiayiFu commented on #31128
I set this in the shell and then run the same python program. The CPU utilization is still more than 1000%.

[2019-07-31 02:32] jiarenyf opened #31181 "C++ compilation of rule '//tensorflow/core:framework_internal_impl' failed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS + docker
- All other messages: using the following docker image to build tensorflow from source:
[code]

**Describe the problem**
[code]
And I couldn't find the file ```///usr/share/doc/gcc-7/README.Bugs``` ...

**Provide the exact sequence of commands / steps that you executed before running into the problem*

[2019-07-31 02:48] spiderMast commented on #31134
I had the same problem

[2019-07-31 02:54] wurenshangu commented on #24047
I've got the same problem.

[2019-07-31 02:55] fuji322 commented on #15773
I'm struggling with the multiple losses in an estimator, heres a question with the var_lists, how did you define? thanks

[2019-07-31 02:58] llan-ml commented on #31165
@pandrey-fr Thanks for your advice.
[code]
Now, it only consumes `407 MB` of GPU memory, which may be used to initialize something by gpu-enabled tensorflow version.

However, for tf 1.x with gpu enabled, we can still use APIs such as `tf.Summary` to write logs without initializing GPU kernels. I still expect some similar APIs for tf 2.x.

[2019-07-31 03:08] LK commented on #27325
@weinixuehao instead of building the bazel target `metal_delegate`, build `metal_delegate_fully_linked.a` — this gives you a single archive file with all dependencies included. https://docs.bazel.build/versions/master/be/objective-c.html#objc_library_implicit_outputs

[2019-07-31 03:09] tangjie77wd commented on #15552
@Goldesel23 Could you supply me more detailed warm-up you used ?

[2019-07-31 03:19] ChuangLee opened #31182 "TF2-gpu: _SymbolicException: Inputs to eager execution function cannot be Keras symbolic tensors,"
System information

OS Platform and Distribution: Linux Ubuntu 16.04
TensorFlow installed from binary:
TensorFlow version (use command below):tf-nightly-gpu-2.0-preview 2.0.0.dev20190729
Python version: 3.6.4
CUDA/cuDNN version: CUDA-10.0/ Cudnn7.6.1
GPU model and memory: 3 Titan XP

**Describe the current behavior**
RNN Masking of length cause crash
**Code to reproduce the issue**
[code]

**Other

[2019-07-31 03:27] aaroey commented on #31007
@sgambient would you please set maximum_cached_engines to something larger than 1, e.g. the number of different input shapes?

[2019-07-31 03:34] sh0gg0th commented on #30748
For me, it was the placement of ArgMax ops on GPUs that broke it; relocating them to CPU did the trick.

[2019-07-31 03:35] senorpinatta commented on #31058
Hi @rmothukuru ,
I googled solutions for this problem for many hours and tried many, many proposed solutions but none seemed to work.

kung-foo seems correct in his statement that Tensorflow does not have any distribution for ARM/aarch64 processors.

To elaborate, I'm trying to install Tensorflow inside a docker container on my Nvidia Xavier device.

I had especially hoped [this](https://www.tenso

[2019-07-31 03:36] samuelrusk commented on #31167
Any insight on this issue even though you closed it out? Had the same issue today on the TPU v3-8 nightly with the tf-nightly-2.0 tensorflow build.

[2019-07-31 03:39] Neeraj0011 commented on #31054
@gadagashwini  Please find the dataset link
https://drive.google.com/file/d/1PB7xnodZpT7EFcKq8d6vBmIR9EuczqAm/view?usp=sharing

[2019-07-31 04:00] ymodak commented on #31172
Sure, you can take a look at this;
https://github.com/tensorflow/hub/blob/master/examples/colab/object_detection.ipynb

[2019-07-31 04:03] dzhu commented on #30850
Thanks, it seems to work with the 2.0 preview version.

For TF 1.14, I've found a workaround, which I'll document here for anyone else coming across this:

1. Save the model with `tf.keras.models.save_model`.
1. Load a copy of the model outside the strategy scope using `tf.keras.models.load_model`. Retrieve its weights using `model.get_weights()` and `model.optimizer.get_weights()`.
1. Create and

[2019-07-31 04:05] #31172 closed

[2019-07-31 04:06] capilano commented on #31067
@alextp  Thanks. I am trying to train on TPU's so not sure if I can use a  py_func wrapper. Is there an alternative to this?

[2019-07-31 04:09] ymodak commented on #31107
```pip install tf-nightly-gpu``` since you are using TF 1.X

[2019-07-31 05:07] anush-o commented on #31161
@osheenn ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here. Thanks!

[2019-07-31 05:12] capilano commented on #30818
@jhseu Does the distribute strategy support using tf.py_func outside the input pipeline. For instance, is it possible to apply python logic(using pure python, numpy,opencv etc)  to the output tensor of some layer in a model while training.

[2019-07-31 05:38] hgffly opened #31184 "Transfer learning trained by custom TF 2.0 training loop performs worse than keras fit"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-31 05:50] ravikyram commented on #30938
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-31 05:50] #30938 closed

[2019-07-31 05:53] ravikyram commented on #30959
I am closing this issue as it was resolved.Thanks!

[2019-07-31 05:53] #30959 closed

[2019-07-31 05:59] ravikyram commented on #30980
Automatically closing due to lack of recent activity.Thanks!

[2019-07-31 05:59] #30980 closed

[2019-07-31 06:04] nartes commented on #28028
It doesn't because training variable directly affect which computing branch is return at graph construction time inside a python interpreter.
https://github.com/keras-team/keras/blob/master/keras/backend/tensorflow_backend.py#L3363

[2019-07-31 06:06] anush-o commented on #30945
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-31 06:06] #30945 closed

[2019-07-31 06:17] stakemura opened #31185 "Add FP16 precision support to TFLite external C API"
**System information**
- TensorFlow version (you are using):master repository
- Are you willing to contribute it (Yes/No):Yes

**Describe the feature and the current behavior/state.**
Add FP16 precision support to TFLite external C API.

**Will this change the current api? How?**
This change has no influence.

**Who will benefit with this feature?**
TFLite extenal C API users

**Any Other info.**

[2019-07-31 06:20] DavidNorman opened #31187 "Failed to compile 'tensorflow/lite/experimental/ruy/pack_avx512.cc'"
**System information**
- Have I written custom code - YES, but not in the failing part
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): master branch
- Python version: 3.6
- Bazel version (if compiling from source): 0.21
- GCC/Compiler version (if compiling from source): gcc (Ubu

[2019-07-31 06:23] gunan commented on #31031
Redirecting to tf mobile team.

[2019-07-31 06:24] mcoolsce commented on #29911
@dsgupta, I tried all the options and the second one seems to work fine:

- The argument `experimental_relax_shapes` had no effect at all.

- This is the option I am using now. I create my dataset and make an iterable out of it, which is the only argument going into the tf.function. Inside the function, I call `next(dataset)` to get access to my data. Performance-wise (tested on 1 GPU), it seems t

[2019-07-31 06:27] captain-pool commented on #31167
Hey Samuel, the code breaks because I was placing the Distributed Dataset on "/job:worker" but forgot to place the trainer code on it, instead I was placing it on the CPU. Moving the trainer code inside the scope of "/job:worker" fixed the issue.
The error message was not clear at all, so that was making it extremely difficult to Debug.

[2019-07-31 06:46] protsenkovi commented on #29629
@rchao Unfortunately, yes. I've checked it again with `env_dirs` and `pkgs_dirs` pointing to the same nfs folders now and got the same behaviour.

[2019-07-31 06:53] AbrahamSanders commented on #30431
Thanks for the clarification @fchollet, indeed I see the documentation of the change in the comments of the [BatchNormalization](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/layers/normalization_v2.py#L26-L65) class.

So, since both @taotsetung and I observed this behavior with the MobileNetV2 model provided by tf.keras.applications.MobileNetV2, I presume this model w

[2019-07-31 07:03] AbrahamSanders commented on #30431
Never mind, I realized just after posting that my suggestion made no sense since the behavior when trainable = True did not change. Re-training the entire model (all layers are trainable) would not lead to any different results.

[2019-07-31 07:13] Leslie-Fang commented on #31128
Could you share some code snippet you used?

[2019-07-31 07:20] pinkmanbox commented on #9009
Did you find a solution to this?

[2019-07-31 07:45] yaradong opened #31189 "Win 10 download mnist get SSL CERTIFICATE_VERIFY_FAILED error"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-07-31 07:50] rishabhsahrawat commented on #31162
Hi Paul, thank you for your response. My dataset size is 16455928 elements/sentences, so in order to make sure nothing that shuffling is perfect I must use either the same or greater value as the size of my full dataset for buffer_size (mentioned [here](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/data/Dataset#shuffle)) otherwise there might be some elements that the model might see

[2019-07-31 07:54] allen-ash commented on #18660
@sibyjackgrove Have you solved this problem? I am currently get into this problem too.

[2019-07-31 08:15] JiayiFu commented on #31128
Sure. I was doing a unit test in python with my model. The model is converted to TensorFlow from another framework through ONNX.

`
    config = tf.ConfigProto(intra_op_parallelism_threads=1,
                            inter_op_parallelism_threads=1)

    __sess = tf.Session(graph=graph, config=config)
    input_node = "input:0"
    ivector_node = "ivector:0"
    inputs = np.loadtxt("inputs.txt",

[2019-07-31 08:16] VladislavAD commented on #29733
Hi, I have similar issue with `TF_SessionRun` on Windows 10 with binaries Tensorflow 1.14, I'm also using Visual Studio Community 2017 and its heap profiling tool. I'm doing semantic segmentation using U-Net and every time I run `TF_SessionRun` I have leak of size
(input tensor dimension size) + (output tensor dimension size) + 159 bytes.
So for example when I predict one class 512x512 RGB image I

[2019-07-31 08:16] gadagashwini commented on #31162
@rishabhsahrawat Will it be possible to create minimal reproducible code and share with us to move faster. Thanks!

[2019-07-31 08:17] anush-o commented on #30966
@Alaska47 ,
When tried executing the code given `NameError: name 'FLAGS' is not defined` was faced.Can you provide minimal required executable code?Thanks!

[2019-07-31 08:17] ravikyram commented on #31175
I have tried on colab with TF version 2.0 beta1 and was able to reproduce the issue.Please, find the [gist](https://colab.research.google.com/drive/1KpbCu6lgchU1A_zWcYc62m6Mxkpopz4l) here.Thanks!

[2019-07-31 08:20] tpopp commented on #30791
To get additional information with your version of Tensorflow, you can add:
TF_CPP_MIN_VLOG_LEVEL=2 TF_XLA_FLAGS="--tf_dump_graph_prefix=/tmp/tacotron/ --tf_xla_clustering_debug". You might want to redirect output to a file when running this because much other unneeded information will be printed that will flood your screen.  The files logged out with this can be analyzed to figure out why we aren

[2019-07-31 08:29] gadagashwini commented on #31171
@janprz I tried executing the code on Colab but i didn't see any error message. It successfully downloaded the dataset. Please look at the below output.
[code]
Could you please try once and let us know. Thanks!

[2019-07-31 08:30] ravikyram commented on #31166
I have tried on colab with TF version 1.14 and was able to reproduce the issue.Please, find the [gist ](https://colab.research.google.com/drive/1-PILZtGYy4N5yV_goNWGx6CyOe22gutg)here.Thanks!

[2019-07-31 08:35] wookayin commented on #22002
Every TF API has a test for it. See:

https://github.com/tensorflow/tensorflow/blob/v1.14.0/tensorflow/python/data/experimental/kernel_tests/stats_dataset_ops_test.py

[2019-07-31 08:40] paulbauriegel commented on #31115
I would like to switch the data_format, but that is actually not so easy because the model was build in Pytorch->convert to ONNX->convert to frozen graph. And I cannot change the data format of a node without rebuilding the entire graph. Is there some tool from Tensorflow to do that?

[2019-07-31 08:41] DollarAkshay commented on #26844
I think the problem here is that people have no clue how to use `tf.keras.layers.Dense` without building a Keras model.

Even the official document for [tf.keras.layers.Dense](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dense) has only examples using the Keras model. So naturally, people see this and wonder "_How do I add the inputs?_" They come to the conclusion that `tf.keras.laye

[2019-07-31 08:43] anush-o commented on #30942
@ankitgc1 ,
When tried executing the code by cloning, I got the output as per the screenshot attached.
![Screenshot from 2019-07-31 13-59-46](https://user-images.githubusercontent.com/52397990/62197282-32800980-b39d-11e9-8c10-d800c1029afe.png)
Thanks!

[2019-07-31 08:44] el1995 commented on #29878
Hi, I am also once again confused by XLA. I am using a CPU-only system, and although I do not get the errors mentioned about, I see the follwing:

[code]
Moreover, the inference performance gets significantly worse every time I activate XLA. As described above, I used this command to activate XLA:
[code]

However, now i found out in the experimental header of the C API:
[code]

And here (https://w

[2019-07-31 08:48] eriklu commented on #31098
# In[1]:
from keras.preprocessing.image import ImageDataGenerator
from keras.applications.mobilenet import preprocess_input, decode_predictions

WIDTH=224
HEIGHT=224
BATCH_SIZE=64
test_dir = '../Dataset/test/'
train_dir = '../Dataset/train/'
val_dir = '../Dataset/val/'

#Train DataSet Generator with Augmentation
print("\nTraining Data Set")
train_generator = ImageDataGenerator(preprocessing_functi

[2019-07-31 09:00] pandrey-fr commented on #31162
That is correct, however I guess an imperfect shuffling might be better than no shuffling at all, if the dataset comprises some order - but it might be already shuffled "by nature", or could probably be shuffled on disk outside of TensorFlow. I leave it up to you to see what suits best your usecase!

I just tested again using your exact code; I agree on the number of parameters, but on RAM it stil

[2019-07-31 09:06] Efaq commented on #25369
@shubham-samant this link is sending me to the old example, still in TF 1.X. Do you have a reference for an example using TF 2.0 and TFX?

[2019-07-31 09:07] anush-o commented on #31068
@manuel-masiello ,
Will it be possible to provide minimal code using which we can reproduce the same error?Thanks!

[2019-07-31 09:09] notoschord commented on #28552
I got a same error and it may be related to parallel calls used in map().
So I shuffle the dataset before map it, then it works correctly.

[2019-07-31 09:14] Yuvaraj8blr commented on #29122
@mdanatg : I had a similar issue. The warnings disappeared after using the beta1 release.
Thanks.

[2019-07-31 09:34] zhangshexin opened #31190 "external/androidndk/ndk/toolchains/arm-linux-androideabi-4.9/prebuilt/darwin-x86_64/lib/gcc/arm-linux-androideabi/4.9.x/../../../../arm-linux-androideabi/bin/ld: error: cannot open Foundation: No such file or directory"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):mac 10.12.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):source
- TensorFlow version:V1.14.0
- Python version:3.7
- Installed using virtualenv? pip? conda?:conda
- Bazel version (if compiling from source):2.5.0
- GCC/Comp

[2019-07-31 09:37] dalgu90 commented on #30498
@pavithrasv Oh I see. Then the issue here is the wrong type and description of the exception raised.

[2019-07-31 09:43] gadagashwini commented on #31124
@hsinpaohuang The [official website](https://www.tensorflow.org/install/source_windows) provides the instructions to build Tensorflow on Linux or MacOS platform. Looks like you are building Tensorflow on ARM. Please let me know if my understanding is bad. Thanks!

[2019-07-31 09:48] rishabhsahrawat commented on #31162
Hi @gadagashwini , I can not share the dataset unfortunately but I can share the model architecture example. These example layers also, from [here](https://www.tensorflow.org/beta/tutorials/load_data/text#build_the_model) throws same errors about memory full, GPU exhausted etc. Updated layers look like this-
[code]
If I use output_dim <=150 in Embedding layer, then training starts without any prob

[2019-07-31 09:54] tommydino93 commented on #29063
Hi!
Did you manage to solve the issue? :)

[2019-07-31 10:03] gadagashwini commented on #31180
@tranvangaohd1994 Provide the exact sequence of commands / steps that you executed before running into the problem and also provide the Tensorflow version. Thanks!

[2019-07-31 10:07] kiranintellify commented on #30488
Thanks but after trying it i amgetting error undefined symbol: _ZTVN10tensorflow14kernel_factory17OpKernelRegistrar18PtrOpKernelFactoryE

[2019-07-31 10:10] gadagashwini commented on #29042
@samhodge, Is this still an issue? Thanks!

[2019-07-31 10:24] kassemyu opened #31192 "conv2d_transpose param tensor shapes differ from conv2d shapes"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Ubuntu 16.04
- Mobile device: Not tested
- TensorFlow installed from: binary
- TensorFlow version: 1.13 and 1.12
- Python version: 3.7.3 and 3.6.8
- Bazel version:
- GCC/Compiler version:
- CUDA/cuDNN version: 10.0/7.3.1
- GPU model and memory: Nvidia, driver 418.56, 11178MiB

**Describe the current behavior**

[2019-07-31 10:27] rishabhsahrawat commented on #31162
Hi @pandrey-fr , I just tried your dummy model. As you mentioned, training on single GPU also triggered allocation memory problem one time during epoch 2  like yours and one time during epoch 6. The CPU RAM it takes near 2-3 GBs but as soon as the fit model fit function is executed, the RAM usage increase and stops near 14-15 GBs.
I also then tried training it on multiple GPUs after adding `Mirror

[2019-07-31 10:32] kassemyu commented on #30178
This issue is continued at: https://github.com/tensorflow/tensorflow/issues/31192

[2019-07-31 10:43] Vanrap opened #31193 "Add multi-class classification on tflite"
As of now, I believe tensorflowlite can only return predictions belonging to one class. But,it would be great if there was  away to add 2 or more labels in the models. For example, if I want to classify whether a given image is a vegetable or fruit, and also what type of vegetable or fruit, that would be multi label classification.

**System information**
- TensorFlow lite:
- Are you willing to co

[2019-07-31 10:44] anush-o commented on #30981
@colmantse ,
Looks like the issue is from hadoop,can you confirm?Thanks!

[2019-07-31 10:48] anush-o commented on #25113
@liamuk ,
Can you confirm if we can proceed for closure?Thanks!

[2019-07-31 10:53] colmantse commented on #30981
um.... yeah Hadoop error is raised. I am just not sure if it is caused because some of the function in tf 1.12 and Hadoop is incompatible.

[2019-07-31 11:06] pandrey-fr commented on #31162
Hi @rishabhsahrawat,

Thank you for the details and feedback ; let us hope the issue gets picked up by someone who can clarify what is going on, and especially disentangle expected behaviours from potential bugs.

Just a side note, but as your model's output dimension if the same as the input embedding one (I guess you are doing some kind of language modelling task, _e.g._ predicting masked or nex

[2019-07-31 11:06] ofexe commented on #30112
Did you get the right image. I use map function, and I can't even get the string of "path".

[2019-07-31 11:10] alokprasad commented on #14245
try compiling libtensorflow-core.a using ndk14, tensorflow Makefiles and bazel are desinged to be used by older NDK , unless guys at google or someone modifies it for newer ndk supporting unified headers in newer ndk

[2019-07-31 11:45] jsolves commented on #28563
I have been trying my .tflite because it infered bad results, but then I realized that the previous generated .pb does that, too. So It seems that the first conversion to .pb isn't working...

[2019-07-31 11:49] makercob commented on #30112
in dataset.map:
1. do random brightness/saturation/hue with tf.image functions.
2. wrap OpenCV operation with tf.py_function(rotation with warp affine).
but currently I'm having lots of trouble dealing with tf.py_function when distribute strategy is employed. see: [https://github.com/tensorflow/tensorflow/issues/31117](url)

[2019-07-31 11:55] zaccharieramzi commented on #19911
For anyone coming here, this might be related to https://github.com/keras-team/keras/issues/11322 .

[2019-07-31 12:07] rishabhsahrawat commented on #31162
I am not sure if I understood it correctly, but I think you mean creating something like a 'word2vec' model? If not, can you also share some helpful link to understand it better?
You are right, I am doing tokens prediction.

[2019-07-31 12:07] remydubois commented on #28541
@isaprykin thanks, good to know

[2019-07-31 12:14] ravikyram commented on #31112
@Bornlex
I tried to reproduce the issue .I am getting the  error `NameError: name 'args' is not defined`.
Please, help me with the reproducible code and the  list_bbox.txt file.Thanks!

[2019-07-31 12:25] SumNeuron commented on #30028
Is there a work around in the mean time?

[2019-07-31 12:27] ltrottier commented on #31084
As a side note, I tested `tf.switch_case` in colab 1.14, and I had the same problems.

[2019-07-31 12:34] rishabhsahrawat commented on #31162
**UPDATE**
I just tested the same model with output_dim= 1000 and also 150 on my Macbook Pro with 16 GB RAM and it trains without any problem. Of course the training is slow since it is only CPU. Now I don't what to do. I think the problems are somewhere in `MirrorStrategy()` and also training on GPUs.

[2019-07-31 12:35] tensorflowbutler commented on #28639
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-07-31 12:35] tensorflowbutler commented on #28645
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-07-31 12:35] tensorflowbutler commented on #28871
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-07-31 12:35] tensorflowbutler commented on #28892
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-07-31 13:00] ltrottier commented on #31084
If I do this however, it works:
[code]

Outputs:
[code]

[2019-07-31 13:03] LiyouZhou commented on #29829
I ran into a similar problem and debugged my script using PDB, caught an exception related to custom operators. I then removed the custom operator from the model. Then the conversion finished without a problem.

[2019-07-31 13:04] jiarenyf commented on #31181
@ry @jmhodges @eggie5 @bmabey
Could you please help me, thank you!

[2019-07-31 13:13] chengleiwang opened #31195 "Can not build //tensorflow/core/kernels:cwise_ops_test"
**System information**
- OS Platform and Distribution ( Linux Ubuntu 18.04):
- TensorFlow installed from (source ):
- TensorFlow version: r2.0
- Python version: Python 3.6.8 (default, Jan 14 2019, 11:02:34)
- Installed using virtualenv? pip? conda?: build test binary with bazel
- Bazel version (if compiling from source):Build label: 0.24.1
- GCC/Compiler version (if compiling from source): gcc ver

[2019-07-31 13:17] chengleiwang commented on #31062
You can see the related code in /third_party/gpus/cuda_configure.bzl
 "cudart_static": _find_cuda_lib(
            "cudart_static",
            repository_ctx,
            cpu_value,
            cuda_config.config["cuda_library_dir"],
            cuda_config.cuda_version,
            static = True,
        ),

Base on commit: 7c5aed3, tensorflow should use cuda dynamic library instead of static .

[2019-07-31 13:18] Leslie-Fang commented on #31128
@JiayiFu
I try setting OMP_NUM_THREADS, intra_op_parallelism_threads and inter_op_parallelism_threads to 1.  And the cpu utilization is almost 100%.

Is it possible you have more than one sessions(async) are running, such as data_session which makes your CPU usage to 160%?

[2019-07-31 13:18] chengleiwang commented on #30744
@yifeif , Are you able to reproduce this issue? Any suggestion?

[2019-07-31 13:22] mdanatg commented on #30991
@Uiuran Thanks for the suggestion! I think this could be an interesting idea; it would be worth elaborating on the terminology a bit. More examples are always better. Also, have you looked at the name scoping done for instance by Keras?

I recommend reading the docs on the TF RFC process and c=preparing one according to that process: https://github.com/tensorflow/community/blob/master/governance/T

[2019-07-31 13:31] pandrey-fr commented on #31162
You are right, I am doing tokens prediction.
Thank you!

What I mean is doing something like this (with a possibly more-general implementation):

[code]

And using such a layer (instantiated by being passed a shared embedding matrix of the output vocabulary) instead of the final softmax in your model. That being said, I know see that your input and output layers have different dimensions (differen

[2019-07-31 13:32] pandrey-fr commented on #31162
Interesting... Could you monitor RAM usage and share some indications as to the amount of memory used when training on CPU?

[2019-07-31 13:32] aakbar5 opened #31196 "Multiple builds of zlib library"
During compilation of TF, `tensorflow_framework` target (`libtensorflow_framework.so`) will end up with multiple definitions of zlib. The reason is that `protobuf` will bring `zlib`

 whereas the rest of the system is using `zlib_archive`. There is a patch `//third_party/protobuf/protobuf.patch` to force the `protobuf` to use `zlib_archive` but it is not working because the logic introduced in `th

[2019-07-31 13:34] Uiuran commented on #30991
Iam looking in that direction too, thank you for the hint, update you asap.

On Wed, Jul 31, 2019 at 10:30 AM Dan Moldovan <notifications@github.com>
wrote:

[2019-07-31 13:40] #30965 closed

[2019-07-31 13:41] cassianocasagrande commented on #30965
Was able to generate tflite_runtime without everything by using the following commands:

[code]

[2019-07-31 13:46] Bornlex commented on #31112
[code]

The dataset I use is the DeepFashion dataset (in Img folder here, the img.zip).
The list_bbox.txt file is located in the Anno folder, same link.

https://drive.google.com/drive/folders/0B7EVK8r0v71pWGplNFhjc01NbzQ

@ravikyram sorry, I was trying to give you the minimum amount of code necessary so you have an idea of the problem.

[2019-07-31 13:48] jbalma commented on #31195
Can you add the --verbose_failures to the bazel build line you used to start the build and post that output as well?

[2019-07-31 13:49] Uiuran opened #31197 "contrib.graph_editor maintenance after Contrib module sunset"
Hi all, i would like to know if there is a pro-vision to where these functionalities, of graph_editor such as subgraph_view, will be maintained. Or it won't?

They are very handy to architecture/comp-graph engineering. It is of particular interest for me to do research in many directions.

Thank you in advance.

[2019-07-31 13:49] mdanatg commented on #31175
@kkimdev @alextp FYI

This is a surprising and subtle behavior. I believe the proper fix would be to be resilient to this case, by comparing functions using the equality operator `==` instead of `is`:

[code]

In the mean time, another workaround I would recommend is to use the model object as argument, instead of methods:

[code]

[2019-07-31 13:51] rishabhsahrawat commented on #31162
Thank you for clarifying my confusion. As you have noticed the input and output layers do not have same dimensions. So it will not be useful, however since I am tokenizing the data so I am saving it as a token file which I can load later without tokenizing the whole dataset on each run.

I am now training the model with output_dim 1000 on CPU and I can see most of the memory is taken but the unuse

[2019-07-31 13:59] alexkartsev commented on #23747
Does your model works fine? Could you please share your model and provide your way of converting to tflite?

[2019-07-31 14:09] 2649 commented on #28868
Any ideas?

[2019-07-31 14:12] jvishnuvardhan commented on #28645
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-31 14:12] #28645 closed

[2019-07-31 14:13] jvishnuvardhan commented on #28892
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-31 14:13] #28892 closed

[2019-07-31 14:14] jvishnuvardhan commented on #28871
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-31 14:14] #28871 closed

[2019-07-31 14:15] jvishnuvardhan commented on #28639
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-31 14:15] #28639 closed

[2019-07-31 14:16] wkoziej commented on #30464
Hi,

I've made a config and tfrecord's for this issue [on my drive](https://drive.google.com/open?id=1ZFB1pTfASNU7tUeHDAO06tO0mYm67XiO) You can download it, change paths in pipeline.config and run training (run.sh - set CUDA_VISIBLE_DEVICES and paths).

Can I help you in some way to solve this issue?

[2019-07-31 14:47] regression-gerry commented on #17101
I had a similar issue except mine was:
ImportError: Could not find 'cudart64_100.dll'.

My initial tensorflow installation was tensorflow-gpu 2.0 beta which requires CUDA 10.0.

What I did:
- uninstall tensorflow via 'pip uninstall tensorflow-gpu==2.0.0-beta1'
- uninstall CUDA 9.0
- install CUDA 10.0
- 'pip install tensorflow-gpu' (This will install tensorflow-gpu 1.14)
- download the latest cuDNN

[2019-07-31 14:50] sanjoy commented on #29878
We also create a StreamExecutor for the host, that's what that line is saying.  I'm working on a CL to make that log line clearer.

Are you also setting TF_XLA_FLAGS=--tf_xla_cpu_global_jit?  You're right that without this XLA will not kick in on CPU.

To debug this further, you can enable `--v=1` and check if you see this log line from `xla_compilation_cache.cc`: https://github.com/tensorflow/ten

[2019-07-31 14:53] chengleiwang commented on #31195
WARNING: The following configs were expanded more than once: [cuda_clang, using_cuda]. For repeatable flags, repeats are counted twice and may lead to unexpected behavior.
INFO: Options provided by the client:
  Inherited 'common' options: --isatty=0 --terminal_columns=80
INFO: Reading rc options for 'test' from /home/chengleiwang/code/tensorflow/.bazelrc:
  Inherited 'build' options: --apple_plat

[2019-07-31 14:59] el1995 opened #31199 "Adding AVX2 and FMA makes tensorflow slower on my CPUs"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.14
- Python version: 3.6.8
- Baz

[2019-07-31 14:59] chengleiwang commented on #31195
@jbalma, please help check if the log is ok, thanks.

[2019-07-31 15:03] faizulhz opened #31200 "illegal instruction"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-07-31 15:04] faizulhz commented on #31200
import tensorflow as tf causes illegal instruction. on docker

[2019-07-31 15:11] rishabhsahrawat commented on #31162
@ymodak @gadagashwini I just found out if I train on 2 GPUs then it takes 1s per step to train but when I use all 4 GPUs it takes 2s per step. I think it should train faster on more GPUs.
I am following [this](https://www.tensorflow.org/beta/guide/distribute_strategy#mirroredstrategy) for placing on particular devices.

[2019-07-31 15:21] SatyamThakur30 commented on #17101
Download cudnn version 10.0 not latest one  10.1.
 This will work.

[2019-07-31 15:24] alextp commented on #31067
You can run something like py_func with host_call and careful usage of
tf.device, I think, but I agree it's not ideal.

On Tue, Jul 30, 2019 at 9:14 PM Ashwin Thyagarajan <notifications@github.com>
wrote:

--
 - Alex

[2019-07-31 15:43] JiayiFu commented on #31128
@Leslie-Fang
I try to simplify the code and it just creates a session and runs once like the followed snippet. The CPU usage still raises to more than 100% and when I do session.run in a loop, the usage raised to more than 1000%

    config = tf.ConfigProto(intra_op_parallelism_threads=1,
                            inter_op_parallelism_threads=1)
    sess = tf.Session(graph=graph, config=config)

[2019-07-31 15:44] DocDriven opened #31201 "ERROR: Failed to prepare for TPU. generic::failed_precondition: Custom op already assigned to a different TPU."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): Docker image latest-gpu-py3
- TensorFlow version (us

[2019-07-31 15:51] alextp commented on #31175
I concur that the best workaround is to just pass the model. I don't think relying on equality comparison instead of identity comparison for functions is ideal since equality comparison is more expensive and this would create a harder-to-understand mental model.

[2019-07-31 15:54] alextp commented on #31067
That said implementing convex hull and polyfill on TPUs will be somewhat harder than adding a custom C++ kernel for them because for TPUs they'll have to be written in terms of XLA HLOs.

@sanjoy do you know who would be the best person to ask for help on expressing these operations in term of HLOs?

[2019-07-31 15:56] esslushy opened #31202 "Documentation is missing explanation of how to write custom loss functions for the keras api"
## URL(s) with the issue:

https://www.tensorflow.org/beta/guide/keras/training_and_evaluation#specifying_a_loss_metrics_and_an_optimizer

## Description of issue (what needs changing):

Documentation is missing how to write custom loss functions and how to use the keras.losses.Loss class to write a loss function that takes more inputs than just y_true and y_pred despite the portion saying it will

[2019-07-31 15:56] capilano commented on #31067
@alextp Yeah, many problems. Convex hull  needs to support dynamic shapes by definition(not sure if that works well with XLA/JIT). Also, this is happening inside my training loop, so need gradients defined as well. So,right now I am just abandoning this approach.

[2019-07-31 15:58] dsgupta commented on #29911
@mcoolsce Thanks for the response! I faced the same sort of problem with the third approach, but instead of Out of Memory, I was getting Recursion Depth Exceeded if I tried using `for input in dataset:` I'll try the second one and see how it goes.

[2019-07-31 16:02] Neo01010 opened #31203 "import tensorflow fail ,error code 3221225501"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-07-31 16:05] angersson commented on #31058
@senorpinatta Yes, you are correct -- the TensorFlow team does not currently offer pre-compiled ARM Python wheel binaries. However, you can compile the package yourself (for example, [here is a demonstration repository created by a TensorFlow community member](https://github.com/lhelontra/tensorflow-on-arm)).

You may also be interested in checking out [TensorFlow SIG Build](https://groups.google.

[2019-07-31 16:05] #31058 closed

[2019-07-31 16:13] janprz commented on #31171
Hello, I have tried again, but the problem still exists. I am connected to the internet so I have no idea why I am getting 404, because I haven't edited any url path or something.

[2019-07-31 16:14] janprz commented on #31171
Hello, I have tried again, but the problem still exists. I am connected to the internet so I have no idea why I am getting 404, because I haven't edited any url path or something.

[2019-07-31 16:18] guo-max opened #31204 "BatchMatMul, Merge, Switch."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
   Windows 10
- TensorFlow installed from (source or binary):
   Github
- TensorFlow version (or github SHA if from source):
   1.14.0

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**
I am trying to convert a stati

[2019-07-31 16:20] TheNewSound commented on #31172
I think it doesnt support AVX, could that be an issue?

[2019-07-31 16:27] sbsky opened #31205 "TFLite: Changing weights"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v1.12.1-7529-g3e0ad8a004 2.0.0-dev20190731
- Python version: 3.6.8

I'm attempting to implement Soft Conditional Computation (https://arxiv.org/pdf/1904.04971.pdf).  In this approach, the convolution weights are calcu

[2019-07-31 16:28] alextp commented on #30580
Ok, looking at this more carefully it seems that the error is coming from the aggregation method accumulate_n in the optimizer.

So if you replace

[code]

with

[code]
things should work.

What I don't understand is why TF seems to be defaulting to accumulate_n in your case.

[2019-07-31 16:36] samuelrusk commented on #31167
@captain-pool Awesome, that worked for me! Thanks for the bit. Don't fully understand the mechanics of adding the "/job:worker" inside the scope but it seems to have fixed the issue.

[2019-07-31 16:38] janprz commented on #31171
I have also tried connecting through the other internet provider with same effect.

[2019-07-31 16:54] janprz commented on #31171
Using Colab it worked, but why I can't do it locally on my pc? I want to work later with little or no internet on holidays.

[2019-07-31 16:55] paulbauriegel commented on #27640
@Oktai15 I'm running Ubuntu 19.04 and building from source did solve the problem on my machine

[2019-07-31 16:56] sgambient commented on #31007
I see, so it has to be set to maximum possible.  In my case that could be
1000 or more.

On Tue, Jul 30, 2019, 8:34 PM Guangda Lai <notifications@github.com> wrote:

[2019-07-31 16:58] sanjoy commented on #31067
Dynamic shapes are not a great fit for XLA.

But +CC @blakehechtman in case he has a clever idea.

[2019-07-31 16:59] #30109 closed

[2019-07-31 17:00] #29762 closed

[2019-07-31 17:12] paulbauriegel opened #31206 "TFLite Invalid tensors 'MatMul' were found."
TFLite does not convert a containing a MatMul node.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `No`
- OS Platform and Distribution: `Ubuntu 19.04 64bit`
- TensorFlow installed from (source or binary): `source`
- TensorFlow version (use command below): `v1.14.0-20-g456fbc0e49 1.14.1`
- Python version: `3.7.3`
- Bazel ver

[2019-07-31 17:14] albertNod commented on #30748
I'm having the same issue after accidentally upgrading CUDA and then downgrading again, how did you manage to relocate the ArgMax ops to CPU?

[2019-07-31 17:15] jbgh2 commented on #30773
I tried reducing that batch size in `fit` to 2 and adding in `tf.config.experimental.set_memory_growth(physical_devices[0], True)`. Neither made a difference.

Here's an updated example.
[OOM-bug-standalone.py.txt](https://github.com/tensorflow/tensorflow/files/3453093/OOM-bug-standalone.py.txt)

[2019-07-31 17:18] Zoltrix commented on #29187
The issue still persists in the beta release

[2019-07-31 17:20] rkdx007 commented on #20930
@saeta @mrry Any solution to this? I am also facing a similar issue.

[2019-07-31 17:24] jvishnuvardhan commented on #31202
@esslushy Are you planning to submit a PR to improve the documentation with examples of custom loss function? Thanks!

[2019-07-31 17:55] essalahsouad commented on #23747
@alex-petrenko
no ,unfortunately my model does not predict correctly
i used the model for an ios application TensorFlow Lite GPU delegate
and i still have a bad segmentation mobile
 my tflite conversion is:
`tflite_convert ----output_format=TFLITE --inference_type=FLOAT --inference_input_type=FLOAT --input_arrays=sub_2 --input_shapes=1,257,257,3 --output_arrays=ResizeBilinear_2 --output_file=froze

[2019-07-31 18:02] sh0gg0th commented on #30748
@albertNod something along these lines: https://github.com/aymericdamien/TensorFlow-Examples/blob/042c25ce2c3d91bf5a2e0a308fea578b1e290f82/examples/6_MultiGPU/multigpu_cnn.py#L110
just add 'ArgMax' to the list

[2019-07-31 18:04] ymodak commented on #31172
Yes that is true.

[2019-07-31 18:05] sgambient commented on #31007
What is  the consequence of setting the batch_size to a large number ?

[2019-07-31 18:18] ymodak commented on #30729
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-31 18:18] #30729 closed

[2019-07-31 18:21] gunan commented on #31031
What version of bazel do you have installed?

[2019-07-31 18:25] haozha111 commented on #31115
There isn't such tool that I'm aware of to convert data format from a graphdef. One way to do this is to manually insert transpose nodes before each of those ops in your graphdef(which could be tricky).

[2019-07-31 18:25] esslushy commented on #31202
@jvishnuvardhan Sure I can do that. I just was unsure if I should in case I misunderstood how the losses api was suppose to be shown. I will work on a PR. Thanks for the response.

[2019-07-31 18:31] capilano commented on #31067
@sanjoy I wanted to create a custom C++ op, my initial idea was to just take as input, N points with shape (N,2) and return an array with shape(N,1) where each row is either 0 (if the point is not in the hull) or a scalar representing the position of the point in the hull. This solves the dynamic shapes issue(I think).

What I was(and still am) unsure about is if XLA supports search operations whi

[2019-07-31 18:39] alextp commented on #30814
I don't understand. In @gadagashwini's reproduction the precision difference is 1e-16, which seems to be in line of what you'd expect from double precision addition / subtraction at this difference in order of magnitude.

Is this something you don't see in numpy but see in tf?

[2019-07-31 18:50] jdduke commented on #31064
At this point, if you want to propose a fix, that would probably be the only way to fix this path for non-r14b builds.

[2019-07-31 19:02] ymodak commented on #30964
This is fixed with tf-nightly version '1.15.0-dev20190731'
[code]

[2019-07-31 19:07] ymodak commented on #31024
Discussion on the [PR thread](https://github.com/tensorflow/tensorflow/pull/31025) addresses this issue. Hence closing it. Feel free to reopen if necessary. Thanks!

[2019-07-31 19:07] #31024 closed

[2019-07-31 19:28] aaroey commented on #31007
The maximum batch size specifies the batch size for which TensorRT will optimize. So running with smaller batches may result in sub-optimal performance.

[2019-07-31 19:30] ymodak commented on #30915
Please provide following information whichever is applicable in your case.
It will help us to get some context. Thanks!
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- Te

[2019-07-31 19:34] ElderOrb commented on #31118
I've tried that but it didn't help. Please note that I'm not doing windows => android cross-compilation. What I'm trying to get is windows build (dll or whatever).

Also, not sure why, maybe due to the latest changes in 1.14 branch now I see this error:

"D:\Test\tensorflow_1.14>bazel-0.20.0-windows-x86_64.exe --output_user_root D:\test\tensorflow_1.14-windows build --jobs 1 -c opt --cxxopt --std

[2019-07-31 19:42] sgambient commented on #31007
That is what I figured.  The batch size can be variable for some DL models , specially in  ROI (Regions of Interest)  type of applications, where one batch slice can trigger  50x  slices down the pipeline.  So, if  input batch size if 25,  some where in the middle of the  pipeline, batch size can become 25*50 = 1250.  Looks like TensorRT  does not handle that use case transparently  at this point

[2019-07-31 20:03] dsgupta opened #31210 "[TF 2.0] tf.function causes dataset iteration to crash in multi-GPU mode"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-07-31 20:13] dnjake commented on #15736
I have not double checked this answer.  But I believe the reason for the problem is the way Tensorflow uses package __init__.py modules to restrict user access to the fixed Tensorflow API.  The way those modules are coded prevents the standard python techniques of mapping symbols to arbitrary module content from working.

[2019-07-31 20:21] alextp commented on #31072
unfold looks very similar to tf.extract_image_patches. Which of the differences in the API are important to you?

[2019-07-31 20:21] wkoziej commented on #30464
I've tried [tensorpack lib](https://github.com/tensorpack/tensorpack/tree/master/examples/FasterRCNN) and succesfully got   [results for image with more then 100 bboxes](https://user-images.githubusercontent.com/138819/62245092-0d14ef00-b3e1-11e9-90e4-7e9634bb6603.png)

[2019-07-31 20:23] ulorentz commented on #27880
I am trying to train a neural network that is done with convolutional 1d layers. I can train it without problems but when it comes to tflite_convert I have the following issue:
"2019-07-31 16:51:40.890861: F tensorflow/lite/toco/tooling_util.cc:1709] Array conv1d/Relu, which is an input to the Conv operator producing the output array conv1d_1/Relu, is lacking min/max data, which is necessary for q

[2019-07-31 20:39] gowtham-kp commented on #31169
@paulbauriegel Can you please share the code snippet of the whole model so that we can get take a look at it. Thanks!

[2019-07-31 20:40] vibhatha commented on #27880
Yes, the issue clearly mentions what you need to do. It is better to add a representative_dataset from your dataset. If you can follow @ohtaman notebook provided in this thread.

`def representative_dataset_gen():
    for i in range(1000):
        yield [train_images[i: i + 1]]`

converter.representative_dataset = representative_dataset_gen

add this to your converter object which is an instance o

[2019-07-31 20:42] aaroey commented on #31039
Hi @pooyadavoodi, would you help to take a look at this?

[2019-07-31 20:43] vibhatha commented on #30806
@ravikyram @liyunlu0618

Were you able to follow this issue? For now, I use a workaround and it adds unnecessary complication to our system. I just need to clarify this before we design the production model.
Is this a known issue or something else is wrong in my end?

[2019-07-31 20:46] elyasmehtabuddin commented on #30580
@alextp
Sounds like good news! However I wasn't able to fix it on the TPU machine I am working on. Its on tf 1.14.0.

```train_step = tf.train.GradientDescentOptimizer(0.0001, aggregation_method=tf.AggregationMethod.ADD_N).minimize(loss)```

gives me an error:
[code]

It looks like `aggregation_method` is a parameter for `minimize` not the gradient descent constructor?

I changed it to:
```train_s

[2019-07-31 20:49] ulorentz commented on #27880
Actually I am not using the api converter but the command line program. Here you can inspect my code: https://colab.research.google.com/drive/1vY1Y-mxQBmrH-YzNgh3nLP2hkOPV8-1K
I forgot to mention that I am using quantization aware training, not post training quantization. So how should I use representetive dataset gen? Isn't this for post training quantization?
Thanks

[2019-07-31 20:59] vibhatha commented on #27880
`!tflite_convert --help`

check the necessary param.

In your case, I think

`--default_ranges_min DEFAULT_RANGES_MIN
                        Default value for min bound of min/max range values
                        used for all arrays without a specified range,
                        Intended for experimenting with quantization via
                        "dummy quantization". (default None)

[2019-07-31 21:10] Uiuran commented on #31197
This questions extends to contrib.copy_graph too, since TensorFlow dosnt seem to have this capabilities and i found very handy to model comp graphs

[2019-07-31 21:11] jvishnuvardhan commented on #31202
@esslushy I know you already know what you need to do. There was a recent [issue](https://github.com/tensorflow/tensorflow/issues/30711) regarding custom metric which might help you. Thanks!

[2019-07-31 21:12] vmarkovtsev commented on #29481
I hit the same problem when I use batch normalization, too.

[code]

The problem happens while `Model.build()`-s so there is no way to try `experimental_run_v2` for me.

[2019-07-31 21:19] guptapriya commented on #31117
I tried reproducing this but I think I am getting the same behavior with and without strategy - the accuracy hovers around 50% in either case.. can you send a version that does work?

[2019-07-31 21:20] guptapriya commented on #31117
I tried reproducing but even without distribution strategy, I am seeing the same behavior (accuracy hovers around 50%). Can you share a working example?

![Screen Shot 2019-07-31 at 2 18 05 PM](https://user-images.githubusercontent.com/14104855/62248998-4a0bc200-b39e-11e9-9371-1ae1495a17d4.png)

[2019-07-31 21:24] Uiuran opened #31212 "New name disambiguation for scope argment in tf.contrib.copy_graph.copy_op_to_graph"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No):
yes
just

[2019-07-31 21:24] Uiuran commented on #31212
Feature Request, why Github does not label it automatically?

[2019-07-31 21:59] esslushy commented on #31202
@jvishnuvardhan thanks for the issue regarding the metrics and for responding so quickly. I have submit a [pull request](https://github.com/tensorflow/docs/pull/892) for the change. Thanks for all the help. Have a great day.

[2019-07-31 21:59] gowtham-kp commented on #31165
@llan-ml Can you please create an issue in Tensorflow/tensorboard repository and reference this issue there as this is closely related to tensorboard. Thanks!

[2019-07-31 21:59] #31165 closed

[2019-07-31 22:04] liamuk commented on #25113
I don't mind if you close it.

[2019-07-31 22:06] jvishnuvardhan commented on #28541
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-31 22:09] jvishnuvardhan commented on #25113
I am closing this issue. If the issue persists with latest TF versions, please feel free to open the issue again. Thanks!

[2019-07-31 22:09] #25113 closed

[2019-07-31 22:13] paulbauriegel commented on #31115
@haozha111 Ok, [modifying the GraphDef](https://github.com/paulbauriegel/tensorflow-tools/blob/master/convert-model-to-NWHC.py) and adding Transpose nodes before and after the convolutional operations let me convert the model. Thanks for the hint 👍

[2019-07-31 22:13] #31115 closed

[2019-07-31 22:16] ymodak commented on #31019
From documentation,  ```tf.TFRecord``` and ```interleave``` do same operation. However ```interleave``` provides more options (map_function, block_length) to optimize the performance.

[2019-07-31 22:21] jsimsa commented on #31019
no, not at the moment `TFRecord` uses a legacy version of parallel interleaving that does not support autotuning

[2019-07-31 22:21] #31019 closed

[2019-07-31 22:23] ajeyaajeya commented on #15736
I can call keras.something when I installed keras on NVIDIA Jetson TX2 with `sudo apt-get install python3-keras`

[2019-07-31 22:28] ymodak commented on #30885
Limiting gpu memory can help resolve OOM error.
See https://www.tensorflow.org/guide/using_gpu#allowing_gpu_memory_growth

[2019-07-31 22:40] guptapriya commented on #30947
Hi - this looks like a bug related to saving/checkpointing when using a batch norm layer + distribution strategy. While we look into fixing this, it is possible for you to try with these options to unblock yourself:
- use checkpoint_format = "saver"
- do not use batch norm layer

[2019-07-31 23:01] guptapriya commented on #28541
I don't think the issue is resolved yet, Igor simply suggested a workaround for now. The bug is still there and needs to be fixed.

[2019-07-31 23:02] jvishnuvardhan commented on #31153
I could reproduce the issue with TF1.14.0. Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/301d8c4a1c743e49639bd46161106fe9/tf31153.ipynb). Thanks!

[2019-07-31 23:05] ymodak commented on #31171
You can download the data from this link
https://www.robots.ox.ac.uk/~vgg/data/pets/

[2019-07-31 23:25] jvishnuvardhan commented on #28868
@2649 I think there is some issue with your callback code that is giving the error. If I remove the callback function from `model.fit` then there is no error. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/98cea0e3381567496b1dad4228fe4601/tf28868_keras_layers.ipynb). Thanks!

[2019-07-31 23:30] ymodak commented on #30854
Can you please provide the stack trace?
From the issue title looks like you are hitting your gpu memory limit.
You can try reducing the ```batch_size``` and limiting gpu memory usage.
See https://www.tensorflow.org/guide/using_gpu#allowing_gpu_memory_growth

[2019-07-31 23:35] jvishnuvardhan commented on #30691
@Leslie-Fang `f-nightly-2.0-preview` are built using [TF2.0](https://github.com/tensorflow/tensorflow/tree/r2.0). Thanks!

[2019-07-31 23:38] jvishnuvardhan commented on #30691
@piiswrong was this issue resolved by following @Leslie-Fang workaround? Are you interested in trying TF2.0? Thanks!

[2019-07-31 23:49] guptapriya commented on #31154
Did you try setting your TF_CONFIG as described in the tutorial? From the example you pasted above, it looks different. You don't need to explicitly specify a chief. Simply put all your workers in the worker list, and give each of them a different index. Strategy will automatically pick the first one in the list as the chief.
I think what you're seeing is that both the programs are running indepen

[2019-08-01 00:06] ali-raza-tariq opened #31214 "INFO:tensorflow:Graph was finalized, Job hangs indefinitely when running with istio-sidecars"
Hi guys, i am rather new to tensorflow- and trying to run a distributed tensorflow job (from here https://github.com/learnk8s/distributed-tensorflow-on-k8s). Its a standard character recognition job using MNIST dataset. I can successfully run the job on locally deployed Kubernetes cluster without any issue. But when i try to deploy the same job in an istio-injection=enabled namespace, the job keep

[2019-08-01 00:09] kasrayazdani commented on #13607
I'm using tf.14. I get the same error when running a custom op: undefined symbol: _ZTIN10tensorflow8OpKernelE

when I compile using this flag: -L$TF_LIB -ltensorflow_framework,

I get this error:
/usr/bin/ld: cannot find -ltensorflow_framework.
can someone help please?

[2019-08-01 00:11] jtang7 commented on #31154
I changed code as you suggested, and run
python distribute_run_tf2.py 0

to only start one worker, I assume in sync-training setup, this worker will wait for another worker(like I did with TF1.0 with SyncReplicasOptimizer + parameter server), but worker 0 just start training, here is the log

[code]

[code]

[2019-08-01 00:22] guptapriya commented on #31154
Can you try by setting the TF_CONFIG another way (for e.g. by actually setting an env variable when you start the process)? I wonder if the strategy is not picking up your TF_CONFIG updates, especially because you create the strategy before TF_CONFIG is modified (and reading the TF_CONFIG happens during initialization of the strategy instance: https://github.com/tensorflow/tensorflow/blob/r2.0/ten

[2019-08-01 00:43] jtang7 commented on #31154
Yes, that works. Thanks so much! it would be nice this dependency could be mentioned somewhere.

Close the issue.

[2019-08-01 00:43] #31154 closed

[2019-08-01 01:05] mudassirej commented on #30223
sorry for the late response. I am attaching the snippet of the code and also the status of my gpu and system memory. I need a solution to this problem as I am not able to train my model.
![Screenshot 2019-07-31 16:51:16](https://user-images.githubusercontent.com/45818401/62258113-74f82380-b43b-11e9-9093-8b0e6e55203e.png)
![Screenshot 2019-08-01 09:03:16](https://user-images.githubusercontent.com/4

[2019-08-01 01:18] mudassirej opened #31216 "training code utilize more cpu memory than gpu memory"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-08-01 01:27] ThisIsIsaac commented on #31052
@rmothukuru

Operating system: all operating systems

architecture: any Nvidia GPU with compute capability over 3.0

Tensorflow version: NA

I got response from @chsigg via email. Seems like I can assume the two ( any exceptions should be caught by pre-built unit tests ). I will go a head with a pull request with in a couple days.

[2019-08-01 01:31] makercob commented on #31117
@guptapriya oops, it seems like in Colab(TF 1.14), training always fails.

here is the code by which training will be successful in TensorFlow2.0.0b1:
[code]

<img width="985" alt="Screen Shot 2019-08-01 at 09 25 12" src="https://user-images.githubusercontent.com/6904036/62258773-5cd5d380-b43e-11e9-971e-7d24cce1f27e.png">

BTW, according to the doc: [https://www.tensorflow.org/versions/r2.0/api_do

[2019-08-01 01:43] eric4337 opened #31217 "TF Lite quantize with representative data, memory keep growing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.14.0-rc1-22-gaf

[2019-08-01 02:10] yichuxue opened #31218 "ImportError: cannot import name 'monitoring' from 'tensorflow.python.eager'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): pip install tensorflow
- TensorFlow version (use command

[2019-08-01 02:37] meiwuzhao opened #31219 "'tensorflow/lite/c/c_api_internal.h' file not found"
pod create the library MyLibray.framework    s.dependency 'TensorFlowLite'.

build error in tensorlow_lite.framework.  #include "tensorflow/lite/c/c_api_internal.h"

prompt:  'tensorflow/lite/c/c_api_internal.h' file not found

In my framework. just #include <tensorflow_lite/tensorflow/lite/kernels/register.h>

why?

i need to set up what?

[2019-08-01 02:47] lee-bin commented on #30791
Thanks again for your patience.
I ran the command with the environment variables above and recorded outputs to [the file](https://drive.google.com/open?id=17ncyy2Xl0jRJBxdMPR8oojqdV0OT6P8V). It's a very big file. Maybe you can help figure out what happened. :)

[2019-08-01 03:38] Santosh-Gupta commented on #31043
I'm attempting to make a prototype for simple-ish library for this. Let me know if you have an idea for the best data store for this. At the moment I am just attempting to do embeddings, so just a single row with simple index lookup. I've been asking around but getting a variety of recommendations: hdf5, feather, parquet, postgres, Cassandra, SQLite, and simple files.

[2019-08-01 03:48] senorpinatta commented on #31058
Thanks for the link to the forum, I'll check it out.
For future readers, the example works for 32-bit architectures, not 64 as far as my attempts have gone.

[2019-08-01 05:05] rmothukuru commented on #31052
@ThisIsIsaac ,
Thank you for the details. Once you raise the pull request, can you please give reference of that Pull Request in this issue so that we can track it accordingly.

[2019-08-01 05:12] rmothukuru commented on #31058
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=31058)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=31058)

[2019-08-01 05:12] edowson commented on #24496
I tested building tf-2.0.0-beta1 from sources with CUDA-10.1 and CUDNN-7.6.2.4 and the error doesn't manifest.

You can find the docker images for [building](https://github.com/edowson/docker-tensorflow/tree/master/ubuntu/xenial/tf-build) a tf-gpu package and a [tf-base](https://github.com/edowson/docker-tensorflow/tree/master/ubuntu/xenial/tf-base) package here:
https://github.com/edowson/docker-

[2019-08-01 05:16] anush-o commented on #31182
@ChuangLee ,
In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here.Thanks!

[2019-08-01 05:24] ravikyram commented on #30989
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-08-01 05:24] #30989 closed

[2019-08-01 05:24] gadagashwini commented on #30975
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-01 05:24] #30975 closed

[2019-08-01 05:26] dreadbird06 opened #31220 ""Build from source" fails during "bazel build""
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2019-08-01 05:32] hsinpaohuang commented on #31124
@gadagashwini You're right. I found a precompiled .whl for aarch64 [here](https://github.com/lhelontra/tensorflow-on-arm) and it worked. Thank you. Closing this issue.

[2019-08-01 05:32] #31124 closed

[2019-08-01 05:36] ravikyram commented on #30974
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-01 05:36] #30974 closed

[2019-08-01 05:38] gadagashwini commented on #31210
@dsgupta , Looks like the code is incomplete please provide the complete code to reproduce the issue. Thanks!

[2019-08-01 05:42] gadagashwini commented on #31124
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=31124)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=31124)

[2019-08-01 05:51] jasonyzhang commented on #31166
Replicated with Ubuntu 18.04, CUDA 10, tensorflow-gpu 1.14.0, and Python 2.7

[2019-08-01 06:02] Kayee6 opened #31222 "Specifying shapehandle's shape when creating new op in tensorflow (rank problem of the output tensor)"
System: Ubuntu 18.04
Tensorflow: 1.13.1
CuDNN: 7.4.2
CUDA: 10.2
NVIDIA: 430.26
Python: 3.6
GPU: 2080TI

I have successfully compiled the op registration file and tested when only using this file. But during training process, I tried to call the function defined in the op, these errors were encountered, which vary every time:

`Segmentation fault (core dumped)`

or

[code]

or

[code]

And please n

[2019-08-01 06:04] ravikyram commented on #31205
@sbsky
I tried to reproduce the issue. I am getting constant difference in tflite. Please, see below screenshot for your reference.Do you feel it is still a bug?.Please, confirm.Thanks!
![test](https://user-images.githubusercontent.com/51902062/62269229-ffe31900-b44f-11e9-98a0-f06183e0e7d0.png)

[2019-08-01 06:10] Ark-kun commented on #21907
Why didn't you do it the official way? https://docs.docker.com/registry/spec/manifest-v2-2/#example-manifest-list

[2019-08-01 06:25] anush-o commented on #31206
I was able to replicate the issue with TF version 1.14, please find the Gist of [Colab](https://colab.research.google.com/drive/1U8kKeBAyGtdWgmnCVFaKBS42_QuNpeH1).

[2019-08-01 06:26] sbsky commented on #31205
My apologies, I could've made the example a bit more clear.  In the example the fix is by default on.  I've now included a variable 'reallocate_tensors' that controls it, now with default off.  Are you able to reproduce?

[2019-08-01 06:32] anil-bit commented on #30594
did anyone find the solution to this problem?

Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2019-08-01 14:26:33.107400: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 3696000000 Hz
2019-08-01 14:26:33.107815: I tensorflow/compiler/xla/service/service.cc:150] XLA service 0x55714b51c9f0 executing computations on platform Host.

[2019-08-01 06:35] ravikyram commented on #31184
I have tried on colab with TF version 2.0 beta1 and was able to reproduce the issue.Please, find the [gist](https://colab.research.google.com/drive/1MnjoWQpt1grgjQAE1gDZaKu6AB7fgWBq) here.Thanks!

[2019-08-01 06:37] ThisIsIsaac commented on #31052
Made a pull request [here](https://github.com/tensorflow/tensorflow/pull/31223)

[2019-08-01 06:44] ilhamfp commented on #30895
@mdanatg @kkimdev I'm interested in working on this. Please correct me if I'm wrong. Is the solution was to check whether the `function.autograph == true` on [to_code source code here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/impl/api.py)? If it's true, then we get the source from `entity.python_function` instead of only `entity`?

[2019-08-01 06:55] tangjie77wd commented on #29878
Has already been solved several days !

[2019-08-01 06:55] ofexe commented on #30052
I got the same issue like @zihaozhihao , setting 'save_weights_only=Flase' would cause the problem.

[2019-08-01 06:56] tangjie77wd commented on #30580
Has already been solved!

[2019-08-01 06:59] datianshi21 commented on #9512
Two possible reasons triggers that:
    **Reason1:** you haven't clean the model repo but you train a new model.
    **Solution:** just clean the model repo before you train another model.
    **Reason2:** you are using models like WDL that made up with more than one graphs
    **Solution:** In this situation, you cannot use tensorboard graph visualization

[2019-08-01 07:00] datianshi21 commented on #9512
Two possible reasons triggers that:
**Reason1:** you haven't clean the model repo but you train a new model.
**Solution: **just clean the model repo before you train another model.
**Reason2:** you are using models like WDL that made up with more than one graphs
**Solution: **In this situation, you cannot use tensorboard graph visualization

[2019-08-01 07:04] gadagashwini commented on #31192
@kassemyu I executed the code and got the following error,
`ValueError: Variable conv1/weights already exists, disallowed. Did you mean to set reuse=True or reuse=tf.AUTO_REUSE in VarScope? Originally defined at:` Thanks!

[2019-08-01 07:08] wugh opened #31224 "Can not load tflite model"
# TF information
[code]
# Model Information

I use the bert's `run_classifier.py` to export the classifier model
[code]
Then the estimator to export model.

# Code to generate tflite model
[code]

# Code to load tflite model
[code]
When load tflite load model path I get error message
[code]

[2019-08-01 07:10] el1995 commented on #29878
Hi @all,
I now also set the environment variables and XLA should definitely be activated now. However, this leads to the termination of my simulations due to floating point exceptions, but only if I activate XLA. Is there a plausible reason for this?

[2019-08-01 07:27] HymEric opened #31225 "tensotflow website"
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/guide/keras

## Description of issue (what needs changing):

can't open URL

[2019-08-01 07:40] paanguin commented on #27781
I tried to follow the converting process with --dump_graphviz_dir and --dump_graphviz_video option in tflite_convert.

I think the error occurred in the following part:
tensorflow/tensorflow/lite/toco/graph_transformations/reorder_reshape_transpose.cc

The tflite_convert computing the 'new_perm' using the function,
const std::vector<int> new_perm =
      ComputeNewPerm(input_dims, intermediate_dim

[2019-08-01 07:42] Konstantin-Bogdanoski commented on #31225
This might help:
[https://www.tensorflow.org/guide/keras](https://www.tensorflow.org/guide/keras)
***
**Explanation:**
tensorflow.org/~~tutorials~~/guide/keras  =>  tensorflow.org/guide/keras

[2019-08-01 07:43] jnorthrup opened #31226 "bad juju in docker vm url"
goal as user:
would like to click the url produced referring to localhost tokens. using docker as recceomended by tensorflow project  is the fastest and most repeatable way to get gpu+tensorflow+ jupyter

console output:

[code]

problem:

` http://(2950c268081b or 127.0.0.1):8888 ` is not a legal url in most browsers.  in even fewer browsers, this will result in useful copy and paste