[2018-08-04 18:41] tensorflowbutler commented on #20154
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-04 18:41] tensorflowbutler commented on #20208
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:41] tensorflowbutler commented on #20379
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:41] tensorflowbutler commented on #20411
Nagging Assignee @zheng-xq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:41] tensorflowbutler commented on #20428
Nagging Assignee @reedwm: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:41] tensorflowbutler commented on #20496
Nagging Assignee @yuefengz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:41] tensorflowbutler commented on #20564
Nagging Assignee @tatatodd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:41] tensorflowbutler commented on #20575
Nagging Assignee @tatatodd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:41] tensorflowbutler commented on #20703
Nagging Assignee @mdanatg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:41] tensorflowbutler commented on #20781
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:41] tensorflowbutler commented on #20843
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:42] tensorflowbutler commented on #20874
Nagging Assignee @yuefengz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:42] tensorflowbutler commented on #20930
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:42] tensorflowbutler commented on #20956
Nagging Assignee @mdanatg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:42] tensorflowbutler commented on #20986
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-04 18:42] tensorflowbutler commented on #20989
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-04 18:42] tensorflowbutler commented on #20994
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-04 18:53] sid619sid commented on #20956
I am new to this kind of environment of open source project / product
development can suggest me few guide lines regarding how to learn and
understand about the flow of project.
Any help is appreciated...

Thanks regards
Sidhartha

On 05-Aug-2018 12:16 AM, "Alfred Sorten Wolf" <notifications@github.com>
wrote:

[2018-08-04 19:04] #20150 closed

[2018-08-04 19:37] ebrevdo commented on #18705
Sounds like the numbers are in line now?

On Sat, Aug 4, 2018, 11:39 AM Alfred Sorten Wolf <notifications@github.com>
wrote:

[2018-08-04 20:12] RamNathaniel commented on #21364
Thank you for the very quick response - much appreciated!

[2018-08-04 20:12] #21364 closed

[2018-08-04 20:33] RanFeldesh commented on #18705
In my case, yes. @chrisc36 , it could be interesting to see if a rerun with TF1.9 on your configuration gives a similar result, if you find it interesting.

[2018-08-04 20:48] Olshansk commented on #20444
Why was this issue closed?

[2018-08-04 20:56] yongtang commented on #21380
Added a PR #21387 as an attempt for the fix.

[2018-08-04 21:59] feranick commented on #21225
The problem is in numpy itself. This will be fixed in numpy v. 1.15.1

https://github.com/numpy/numpy/issues/11628

[2018-08-04 22:02] angeload commented on #17629
Same problem here. CUDA 9.2, cudNN 7.1.4

[2018-08-04 23:54] #13818 closed

[2018-08-05 00:44] lubomir1 commented on #3332
In theory yes, but in practice implementing group convolution in this way is very inefficient. This is why NVidia explicitly provided acceleration of group convolutions in the latest CuDNN. There is a [group option](https://blog.yani.io/cudnn-filter-groups) for nearly a year now.
 All the Tensorflow developers need to do is propagate it to the parameters of conv2d.

[2018-08-05 00:55] junshi15 commented on #20585
@ebrevdo I just realized there could still be a bug in tensorflow.
Indeed, the code above works perfectly. Note I used the following "lookup-then-transpose" to handle time_major:
[code]
Another approach could be "transpose-then-lookup":
[code]
the latter causes non-chief worker to hang. There is no error message, the worker just keeps starting master sessions. I found the latter hung because it is

[2018-08-05 01:01] tensorflowbutler commented on #21381
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-05 01:46] ychen404 commented on #21368
Following is the log of the TOCO converter.

tensorflow/contrib/lite/toco/graph_transformations/graph_transformations.cc:39] Before Removing unused ops: 224 operators, 311 arrays (0 quantized)
2018-08-03 14:39:47.544660: I tensorflow/contrib/lite/toco/graph_transformations/graph_transformations.cc:39] Before general graph transformations: 224 operators, 311 arrays (0 quantized)
2018-08-03 14:39:47

[2018-08-05 01:49] hughperkins opened #21388 "GRU cell r and u implemented as matmul of concat, but paper adds the matmuls"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-08-05 01:51] #21388 closed

[2018-08-05 02:34] marcolinux commented on #19100
hello,
My laptop is indeed old and the CPU does not support AVX (same situation as #19584)
I built it from source and confirmed I could compile successfully.
The issue is close for me, thanks for the support

[2018-08-05 02:34] #19100 closed

[2018-08-05 04:05] ebrevdo commented on #20585
It still looks like you've got an error in either creating or running the
graph that you're just not catching. See if you're accidentally piping or
throwing out your stderr, or maybe it's in another log file?

On Sat, Aug 4, 2018, 5:56 PM Jun Shi <notifications@github.com> wrote:

[2018-08-05 04:59] dhitology commented on #10693
@aselle Thanks for you attention. I have fixed this problem, The problem is just caused by that the directory of checkpoint is wrong. After I change the right directory, it works. Thanks very much!
--

I have the same issues, can you explain what you really doing clearly?

[2018-08-05 05:42] pkulzc commented on #17353
Lots of object detection API code has been changed since this issue was filed. Could you please sync to latest and follow the instructions to try again?

[2018-08-05 05:56] Xyand commented on #21298
Didn't try on Windows (and no plans to do so). My exact setup is actually PyCharm @ OSX but interpreter is running in Docker container Ubuntu 16.04 (tensorflow/tensorflow:1.9.0-devel-py3)

[2018-08-05 06:08] ruksin commented on #7547
can anyone solve my problem:please do reply:
doe@doe:~/anaconda3/envs/tensorflow/models/research/object_detection$ python3 train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/ssd_mobilenet_v1_coco.config
WARNING:tensorflow:From /home/doe/anaconda3/lib/python3.6/site-packages/tensorflow/python/platform/app.py:124: main (from __main__) is deprecated and will be removed in a

[2018-08-05 06:36] Giribushan commented on #20919
After running
[code]

[2018-08-05 08:57] zhangjinyangnwpu commented on #21026
Thanks, I have solved this problem by using
[code]

[2018-08-05 10:53] ppwwyyxx commented on #10857
A quick test shows that fused & non-fused BN have similar backward speed when freezed:
[code]

Outputs on GTX1080Ti:
[code]

[2018-08-05 11:29] blured commented on #20690
As explained above, you can edit the last file of the trace where the error occur :
/usr/local/lib/python3.7/site-packages/tensorflow/python/pywrap_tensorflow_internal.py
and find anywhere the variable async is used and replace it with async1 so its not a python 3.7 keyword anymore.  you will find those "async" variables on line 114, 115, 150
So this (for instance):
def TFE_ContextOptionsSetAsync(

[2018-08-05 12:25] lgeiger opened #21389 "DistributionStrategy in tf.keras doesn't support multi input models"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-08-05 14:10] arozans commented on #18016
@jhseu Can you hint what is the name or when will be available this API that does not recreate graph at each train/eval call?

[2018-08-05 15:29] slerman12 commented on #672
I'm finding `partial_run` to be a really useful feature, but for my most recent purposes, I've found it to be rather limited. It would be nice if a partially computed graph could be reused more than once. Even better, it'd be great if independent placeholders within it could be modified. This isn't as complicated as it sounds, I don't think. The former just requires a heavier memory consumption by

[2018-08-05 16:03] stegben commented on #20908
Looks like it's been fixed in 1.10+.

Commit that fix this: https://github.com/tensorflow/tensorflow/commit/032f804a2feca8995185a5fbb9dbc62d5d8df48e

[2018-08-05 16:14] RanFeldesh opened #21391 "tf.linspace doesn't except integers for start/stop and floats for num"
tf.linspace(start=1.0, stop=3.0, num=3) - works fine.
tf.linspace(start=1, stop=3, num=3) yields an error (because start and stop are integers)
tf.linspace(start=1.0, stop=3.0, num=3.0) yields an error (because num is float)
In both cases the error is: "Could not find valid device for node name: "LinSpace" "

I would expect the following behavior:
* start and stop can be integers (the op can conve

[2018-08-05 17:11] yongtang commented on #21391
@RanFeldesh On Linux the error is quite descriptive:
[code]

[2018-08-05 17:12] yongtang commented on #21391
Not so sure about the automatic conversion of dtype, but would be happy to add support if this could be confirmed by tf API team.

[2018-08-05 17:43] inferrna commented on #19393
Same error with ComputeCpp-CE-0.9.1.

[2018-08-05 18:00] khashei commented on #17933
I have the same issue, on windows 10 with Tensorflow 1.9.

[2018-08-05 18:01] RanFeldesh commented on #21391
Dear @yongtang , thank you so much for the quick reply and verification on your machine.
The first post's error message was with eager mode. With the graph mode, I get a similar error message  to your Linux example. It didn't occur to me that the vague error message might be due to eager mode. I usually debug in eager, then execute in graph. It might be possible to add the explicit error message i

[2018-08-05 18:33] shivaniag commented on #21135
@asimshankar could you please take a look or assign it to Object Detection API folks if its on their end.

[2018-08-05 18:34] tensorflowbutler commented on #19515
Nagging Assignees @wolffg, @MarkDaoust: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-05 19:18] jianxucsm commented on #13101
@mrry

Hi Derek;

seems to me that the from_generator can not catch up the requirement of the data feed for the convolution neuron network processing on gpu.

following is the image of the gpu performance

![image](https://user-images.githubusercontent.com/22060946/43689057-1b46e08c-98a9-11e8-86a6-c39e32dea312.png)

I am using the dataset.from_generator to get the input data from slicing of pandas

[2018-08-05 19:54] jianxucsm commented on #13101
@mrry

further will from_generator introduce the parameter as num_parallel_calls which will parallel the process of the generator function.

tks.

[2018-08-05 20:07] mjanusz commented on #6925
There is no active work on pooling over the "channels" dimension that I'm aware of. Note that pooling works over all 3 spatial dimensions. The code of the OP should read:

kernel = [1, kd, kh, kw, 1]

  instead of:

kernel = [batch_size, kd, kh, kw, input_cdim]

in order to accomplish this.

[2018-08-05 20:16] shivaniag commented on #21349
@TimZaman: [Tensorboard graph_visualization ](https://www.tensorflow.org/guide/graph_viz), provides a graphical representation of how the different tf.data calls work together. Did I understand a part of feature request correctly, or is there something else you are looking for?

[2018-08-05 20:26] TimZaman commented on #21349
That does not seem to be the case: see the screenshot.

[2018-08-05 20:33] shivaniag commented on #20930
@saeta do you have an update on this?

[2018-08-05 20:51] shivaniag commented on #21349
This is what I visualized in Tensorboard for a simple input pipeline:
<img width="1104" alt="screen shot 2018-08-05 at 1 49 02 pm" src="https://user-images.githubusercontent.com/16565716/43689950-a46e8ccc-98b6-11e8-89d6-a23660b49540.png">

[2018-08-05 20:52] shivaniag commented on #21349
Adding @mrry to the loop.

[2018-08-05 20:59] boeddeker commented on #13101
@jianxucsm As I mentioned earlier, a python generator cannot run in parallel. So from_generator will never get a num_parallel_calls, as long the input is a generator.

[2018-08-05 21:27] psyhtest commented on #21332
@freedomtan's patch has helped me to make progress but only to find out about another failure to build TF 1.9 on aarch64 platforms:
[code]
Now, peeking into `tensorflow/contrib/lite/kernels/internal/optimized/depthwiseconv_uint8_3x3_filter.h` revealed the following case of conditional compilation excluding practically all of the file (full of inline assembly):
[code]
Now, that's at the same time b

[2018-08-05 21:36] psyhtest commented on #21332
There are 20 occurrences of `offsetof` under `src/tensorflow`:
[code]
I suspect this feature has crept into TF via TFLite, and requires compiler support (e.g. [gcc-7.1+](https://github.com/gcc-mirror/gcc/blob/gcc-7_1_0-release/gcc/ginclude/stddef.h#L416-L417)).

The same `grep` for TF 1.8 and 1.7 returns only two occurrences:
[code]

[2018-08-05 21:38] psyhtest commented on #21332
However, I have the same failure on HiKey960 with gcc-7.2.

[2018-08-05 22:07] psyhtest commented on #21332
The following patch (commenting out all lines mentioning `offsetof` in `depthwiseconv_uint8_3x3_filter.h`):
[code]
allowed me to complete the build on HiKey960:
[code]

Of course, it cannot be considered a proper fix, but I've committed it as a workaround to `ck-tensorflow:package:lib-tensorflow-1.9.0-src-cpu`. One can test it as follows:
[code]
(See full CK instructions above.)

[2018-08-06 01:43] sleepfin commented on #20761
@bignamehyp anyone help?

[2018-08-06 01:45] sleepfin commented on #19017
@yaroslavvb @angersson anyone help? :)

[2018-08-06 01:55] tobegit3hub commented on #21234
Okay, thanks @karmel and @netfs 😃

[2018-08-06 01:55] #21234 closed

[2018-08-06 01:58] merryImage opened #21394 "tflite: "Unimplemented: this graph contains an operator of type TransposeConv for which the quantized form is not yet implemented". So how long will that be supported?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-08-06 02:04] aifollower commented on #21376
When I convert Tensorflow object detection api model to tensroflow lite, I have get this problem.
I tensorflow/contrib/lite/toco/import_tensorflow.cc:1053] Converting unsupported operation: SquaredDifference

[2018-08-06 02:30] BrianOn99 commented on #8550
Closed because I don't care about it anymore and this issue has been inactive.

[2018-08-06 02:30] #8550 closed

[2018-08-06 02:30] BrianOn99 commented on #8550
Closed because I don't care about it anymore and this issue has been inactive.

[2018-08-06 02:41] hephaex commented on #20919
@Giribushan :  In my case, I don't need to Android NDK but it occurs failure when "TF_SET_WORKSPACE =1 & T_CUFA=1".  Temporary way, I install Android NDK to make Tensorflow wheels. I wish you solve error , please refer to my build configuration.

[code]

[2018-08-06 02:41] pribadihcr commented on #19981
@KeyKy,

Can you share your code? thanks

[2018-08-06 03:01] baobao7766 opened #21395 "import_meta_graph + load model, then fail to model_export with signature"
I was fail to export model for tf-serving, and this is my error message, but i hava no idea about it:
[code]
And those are part of my code:
[code]
Save model with:
[code]
Load with:
[code]
model export with:
[code]

I have try to rebuild graph with the same parameters instead load them with `import_meta_graph`, it works, but it not convenient.

Hope anyone can help me, thanks!

[2018-08-06 03:25] Freshield commented on #21351
BTW, Here is the image which I create follow the tutorial, maybe you can
use it

Best Regards

YANG YU

Karmel Allison <notifications@github.com> 于2018年8月4日周六 上午6:37写道：

[2018-08-06 04:29] kishore0905 commented on #21326
![output gpu](https://user-images.githubusercontent.com/37259213/43696343-2497c324-995b-11e8-8b74-d9a0c7a85c2a.png)
The above one is the output when i am running the code on windows gpu system.

********************************************************************************************************************
from __future__ import absolute_import, division, print_function

# Import TensorFlow >=

[2018-08-06 05:02] yashk2810 commented on #21326
For how many epochs was the model trained on in GPU and CPU confirgurations?

[2018-08-06 05:53] facaiy commented on #21363
Hi, which norm do you mean the infinity is in, use_norm or clip_norm?

[2018-08-06 06:42] LZDSJTU opened #21398 "Questiona about Multi gpus using estimator in tensorflow 1.9"
Now I am using estimator to train models in multi gpus.

When I used the original sess.run() and trained in multi gpus before, I found that the batchnorm statistics cannot be shared between multi gpus and had a bad effect on the evaluation result.

So I change the code to tensorflow 1.9 and used estimator to train.

Estimator can support a distributed multi-server environment without changing your

[2018-08-06 06:46] zhonghao0077 commented on #20679
`zyyt@ubuntu:~/tensordata$ tflite_convert --output_file=out/nmt.tflite --saved_model_dir=export/Servo/1530870898/
2018-08-06 02:40:25.275242: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
Traceback (most recent call last):
  File "/usr/local/bin/tflite_convert", line 11, in <module>
    sys.exit(mai

[2018-08-06 07:11] IvanZhangDoIt commented on #18736
Tf:1.9 , I have the same issue.    Total: prams: 367.352.  256G mem.  1) When I use tf.keras.layers, it's OK, but I changed to tf.layers to address  BN layer accuracy issue.  this issue pop up 2) Batch size 128 work when using tf.keras layer, still exist when batch size is set to 8    3) from the detail, the clue is on Adam initilization, but it shoud not.

2018-08-06 06:54:03.420400: W tensorflow

[2018-08-06 07:42] guoyaohua commented on #18736
@IvanZhangDoIt
Hi, Ivan

I have solved my problem, you can try the following:
1. Kill all the running process, to make sure GPU have suffice memory. use command "nvidia-smi" see the running process, and use command "kill -9 id" to kill it.
2. Make sure your network not very large,  Check if there is an oversized fully connected layer.
3. Checking if float64 is used will double your memory.
4. Chec

[2018-08-06 08:30] su-si opened #21400 "contrib.rnn.ConvLSTMCell: zero_state has wrong size if cell has skip connections"
There seems to be a but in how ConvLSTMCell handles its states:

When calculating the output size, ConvLSTMCell has one more channel dimension (in general, as many more channels as there are input channels) than what was given as output_channels.
This is only if skip_connection was True at initialization, **and makes sense** (the input is concatenated to the output --> n_channels_out = n_channels_

[2018-08-06 08:32] jyoungyun commented on #15805
@RoboEvangelist I'm using tensorflow r1.9 version. :)

[2018-08-06 08:36] ChrisBellew opened #21401 "Request: Be able to tell if tensorflow is making use of tensor cores on V100"
It would be really great if you could tell if the model you were training was successfully making use of the tensor cores on the Nvidia Tesla V100.

This would help in deciding whether spending the extra money on the V100 would be worth it, which it would be if the model is making good use of the tensor cores.

I've tried to find the information using Nvidia's `nvidia-smi` tool, but it doesn't see

[2018-08-06 08:54] Rbiessy commented on #19393
@inferrna the official TensorFlow repository doesn't have the recent changes needed by SYCL yet.
Please use the eigen_sycl branch of https://github.com/codeplaysoftware/tensorflow for now. It only supports TF 1.6 for now but we are working towards merging 1.9.

[2018-08-06 09:02] hujunyao commented on #19893
I am having the same issue when
MSBuild /p:Configuration=Release tf_python_build_pip_package.vcxproj
whatever -Dtensorflow_ENABLE_GRPC_SUPPORT=OFF or On.

But I compile succussfully with Dtensorflow_ENABLE_GRPC_SUPPORT=OFF in
msbuild /p:Configuration=Release tf_tutorials_example_trainer.vcxproj

[2018-08-06 09:10] yjl9122 commented on #19570
No news @tensorflowbutler @angersson @zheng-xq

[2018-08-06 09:11] GengDavid commented on #18191
Can you provide more information in the [document](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/custom_operators.md)?
I think it's still an issue. We need more explanation or example codes to understand how to do it. We even don't know where can we add our own codes.

[2018-08-06 09:51] syagev commented on #21334
Exact command to reproduce: `Session::run()`

[2018-08-06 10:01] Jylomaki opened #21402 "Features: train.saver namescoped-restoring"
Hello:

Scenario of need:
Joe the ML-engineer wants a model that predict multiple thing out of a single img (lets say object detection & some environment values: hour of day, type of surroundings: inside/outside/forest/stadium/etc).
So Joe train a model to get its object detected.
Then Joe train a model to get its environment data.
And now, Joe want a model that does both in a single prediction.
B

[2018-08-06 10:08] apacha opened #21403 "Crash during folder creation from Estimator exporter.py in Python 3.6"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.8.0 and 1.9.0
- **Python version**: 3.6
- **GPU model and memory**: GTX 1080 Ti
- **Exact c

[2018-08-06 10:15] NMRobert opened #21404 "Request: Add Golang API bindings for C-API TF_AddGradients()"
Hi,

currently the Golang bindings to Tensorflow (via the C API) allow me to define a graph, do most computations, load a trained model, and perform inference. However, it would be very helpful to be able to obtain gradients aswell. It looks like the C-API now has the TF_AddGradients call which makes it possible to get grads for some (but not all) operations.

Adding a binding to this call in the

[2018-08-06 10:27] apacha commented on #21403
Ok, I guess - despite being ugly - the path is actually valid on Windows. Then the problem seems to be caused by the implementation of `RecursivelyCreateDir`. Why not using the good old [`os.makedirs`](https://docs.python.org/3.6/library/os.html#os.makedirs) command?

[2018-08-06 10:28] chriskraus0 commented on #7547
Maybe a missing `./` in front of `ssd_mobilenet_v1_coco_2017_11_17/model.ckpt`. This issue was already answered here: https://stackoverflow.com/questions/42260167/unsuccessful-tensorslicereader-constructor-failed-to-find-any-matching-files-fo

[2018-08-06 10:49] iliTheFallen opened #21405 "Tensorflow Moving Average Optimizer and Distribution Strategy"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04.4 LTS (Xenial Xerus)
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: From source
- **TensorFlow version (use command be

[2018-08-06 10:58] MaeThird commented on #21221
@achowdhery  By printf the shape,I found some clues.
when import tensorflow model the **tensorflow::Status ConvertCOnvOperator** function will ReorderAxes from AxesOrder::**kHWIO** to AxesOrder::**kOHWI**. In my case :
`BoxPredictor/weights/read with shape: [ 1, 1, 512, 24 ] reorder to shape: [ 24, 1, 1, 512 ] `
At this moment `BoxPredictor/weights_quant/FakeQuantWithMinMaxVars ` **has no shape**

[2018-08-06 11:01] bsaendig commented on #17353
I can confirm that with the newest version of tensorflow and the object_detection repository this Error disappeared. It seems to me though, that it is not possible anymore, to get separate precision values for each category which worked with the PASCAL metric before.

[2018-08-06 11:01] omaralvarez commented on #5902
Same problem here, I'm working with video in GPU memory and for me copying data to CPU and back to GPU again is a problem, I'm working in realtime and copies kill performance. Is there any update on this issue?

[2018-08-06 11:19] leccyril commented on #7547
yes it is clear it not found this file, please check you tree folder, you have to download it , by default it does'nt not exist in object_detection folder

[2018-08-06 12:20] anhnt1 opened #21406 "Error with tf 1.10.0rc1"
Hi,

After upgrading to 1.10.0rc1, I got an error: E tensorflow/core/common_runtime/gpu/gpu_device.cc:228] Illegal GPUOptions.experimental.num_dev_to_dev_copy_streams=0 set to 1 instead. However, the program is still running. Is it still ok with this error?

Thanks,
Tuan

[2018-08-06 12:42] tensorflowbutler commented on #21395
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-06 12:55] ptighin opened #21407 "Error installing tensorflow from source"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra 10.13.6
- **TensorFlow installed from (source or binary)**: Source with CPU-only support
- **TensorFlow version (use command below)**: b'v1.9.0-rc2-1183-g1b33df1814' 1.9.0
- **Python version*

[2018-08-06 13:05] rogermorgan opened #21408 "The installation procedure for Ubuntu does not work."
I tried to follow the procedure for installing on Ubuntu 16.04 or later.
I am using Ubuntu 16.04 with the latest updates on 64-bit AMD/Intel.
I am using Python 3, version 3.5.2. I checked the version of pip3, it is 8.1.1
The step of the procedure which fails is:
virtualenv --system-site-packages -p python3 venv

and the error messages are as follows:
Already using interpreter /usr/bin/python3
Usin

[2018-08-06 13:48] PinkySan opened #21409 "[Feature Request] Main improvements for the c++-API"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: a bit, but this is not the problem
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 64 Bit
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: sour

[2018-08-06 14:02] MohammadMoradi commented on #13944
Hi @xunkaixin . Did you find any solution? I am facing the same problem.

[2018-08-06 14:06] olesalscheider opened #21410 "Memory leak with tf.py_func"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, see below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow vers

[2018-08-06 14:07] olesalscheider commented on #21410
leak.py:
[code]

[2018-08-06 14:27] hawkinsp commented on #9579
I'm not sure this issue is still relevant. Feel free to reopen if it still occures.

[2018-08-06 14:27] #9579 closed

[2018-08-06 14:29] olesalscheider commented on #21410
I forgot to mention that this seems to only be an issue if it runs on the GPU.

[2018-08-06 14:39] lysecret2 commented on #21304
You are right. The problem does not exist using tf nightly. Thanks!

[2018-08-06 14:40] junshi15 commented on #20585
For "transpose-then-lookup" code, the chief worker ran fine, but non-chief worker hung. After I set `tf.logging.set_verbosity(tf.logging.DEBUG)`, I saw the following on the non-chief worker. It seems embedding_encoder and embedding_decoder were not ready on the non-chief worker. No other error messages were seen.

[code]

[2018-08-06 14:44] asaiyed10 opened #21411 "Tensorflow does not recognize GPU"
OS: Ubuntu 18.04.1 LTS
Tensorflow: 1.9.0
Tensorflow- GPU: 1.9.0
Both installed from pip/pip3

Graphics Card: GeForce GTX 1080 TI
Nvidia SMI Driver Version: 390.77
Python: 2.7.15, 3.6.5
CUDA Toolkit:  9.0, V9.0.176 ( I also have 8 installed)
CuDNN:
![asfd](https://user-images.githubusercontent.com/22109013/43723326-5e2d6d0a-9965-11e8-9362-e5ff24c99e4f.png)

Running this:
![screenshot from 2018-08-0

[2018-08-06 15:07] lenlen opened #21412 "Error in Distribution Strategy with train_and_evaluate"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.4 LTS
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow versio

[2018-08-06 15:28] martinwicke commented on #19433
@benoitsteiner may have more context on this, but we have no official support for OpenCL. If computecpp doesn't work, I fear you are out of luck.

[2018-08-06 15:28] #19433 closed

[2018-08-06 15:42] Rbiessy commented on #19433
@karthee320, ComputeCpp isn't working with the official TensorFlow repository yet.
You'll have to use the eigen_sycl branch of https://github.com/codeplaysoftware/tensorflow to make it work. Note that you will need ComputeCpp 0.9.1 and bazel 0.11.1.
Hope this helps!

[2018-08-06 15:46] mrry commented on #21335
I think this is working as intended: the iterator should raise an exception (I think it would be `tf.errors.InvalidArgumentError`) when the first element is retrieved.

However, I'm surprised by this part of the bug report:

Can you try reproducing this problem with a simpler example? As mentioned above, the iterator should raise an exception and never generate garbage values when the path is unre

[2018-08-06 15:57] paulomarciano commented on #20915
There might be an issue with the provided code, there is an import missing. I'm attaching a new code.zip that fixes this issue.
[code.zip](https://github.com/tensorflow/tensorflow/files/2263210/code.zip)

[2018-08-06 16:14] shashishekhar commented on #20919
@case540 : Mike do you know how one can avoid the Android ndk rule dependency, without Android NDK being configured.

[2018-08-06 16:17] ebrevdo commented on #20585
Do you have logs for the non chief worker?

On Mon, Aug 6, 2018, 7:41 AM Jun Shi <notifications@github.com> wrote:

[2018-08-06 16:37] junshi15 commented on #20585
Yes, the logs for non-chief worker is posted above. I was wondering if you meant chief worker. I posted the logs for chief worker below:
[code]

[2018-08-06 16:38] Canxes commented on #20739
@raghuraman-k Thank for answer.

Unfortunately, I can't provide small and exhaustive source code example, because in my case drop in accuracy can be observed in complicated detection network, MaskRCNN. To be precise, ROIAlign seems to be rather sensitive to the input distribution changes. (Yes, ROIAlign and other related operations are not supported, however, I manually implemented them in C++ as

[2018-08-06 16:42] lenlen commented on #21412
probably related to https://github.com/tensorflow/tensorflow/issues/21180

[2018-08-06 16:48] shashishekhar commented on #20912
@298068845 : Please reopen if you still need help.

[2018-08-06 16:48] #20912 closed

[2018-08-06 16:53] olesalscheider commented on #21410
It seems that the code just allocates and deallocates a lot of memory - maybe because the size of the masked tensor changes all the time.

The allocated tensors are quite large but when the pool of the PoolAllocator cannot find a matching chunk it allocates a new one. Since the pool size is only tracked in the number of entries instead of the allocated memory size, the eviction code will only be t

[2018-08-06 16:57] harshita-kaushal opened #21413 "tensorflow-1.0.0rc0-cp27-none-linux_x86_64.whl is not a supported wheel on this platform."
I've activated tensorflow in terminal, and I'm trying to set up tensorflow fold. When I try doing this, the above error pops up
`tensorflow-1.0.0rc0-cp27-none-linux_x86_64.whl is not a supported wheel on this platform.`

I searched other forums and tried to resolve the issue by trying the solutions suggested, but I wasn't able to solve the problem.
Thanks!

[2018-08-06 16:59] av8ramit commented on #21413
Hi @harshita-kaushal can you please provide more information? What commands are you running? Are you running in a virtual environment? I'm guessing you're running python2. Are you directly installing a whl file or just running a pip install. If you provide more information I may be able to help.

[2018-08-06 17:13] sharvil commented on #19568
@raofengyun thanks for the suggestion! You're right that eliminating the `control_dependency` will prevent the lockup from occurring. However, `update_ops` isn't guaranteed to complete before `train_op` even if it's placed first in the `session.run` call unless that control dependency is introduced.

I've also noticed that the above code snippet runs to completion when executing on CPU.

[2018-08-06 17:20] achowdhery commented on #21221
@MaeThird Thanks. Is there a specific bug ? Can you attach the frozen graph in pbtxt format?

[2018-08-06 17:30] av8ramit commented on #21413
You're getting a specific link which for whatever reason may not be compatible. Can you try this?

```sudo -H pip install ** proxy specific part to intel that i cannot provide** -U tensorflow==1.10.0rc0```

[2018-08-06 17:32] MarkDaoust commented on #21351
I see. This is a problem with how we name the images.

The .ipynb --> .md converter names the image files after the cell index.
And there's lag between updating english versions, and any other languages.

So if the cell number changes and we republish the image, it moves and breaks the other languages.

A better solution will be to use the cell['metadata']['id'] for the image paths, then they will

[2018-08-06 17:33] s4mpl3d commented on #21409
Sounds cool :+1:

On Mon, 6 Aug 2018, 15:54 PinkySan, <notifications@github.com> wrote:

[2018-08-06 17:45] asimshankar commented on #5902
Update: We do have an experimental means of feeding/fetching the GPU memory of Tensors, added in commit a1d6179adb1ca6208281ed955860c319525edf75

This is subject to change, but something y'all may want to try.
See the unittest https://github.com/tensorflow/tensorflow/blob/f3ed7f7e836da4f0ca1cb04cadce938744932b72/tensorflow/core/common_runtime/direct_session_test.cc#L1897
for an example.

This is a

[2018-08-06 17:46] #21304 closed

[2018-08-06 17:47] mdanatg commented on #20956
Hi Sid, please have a look at the [general TF contrib guidelines](https://www.tensorflow.org/community/contributing for contribution) and the [AutoGraph supplement](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/autograph/CONTRIBUTING.md) to get you started. We're planning to include additional developer documentation, but that's not yet ready.

[2018-08-06 17:57] sauronpy opened #21414 "issue in Google LOGO..."
hi there..
my wife got a meticulous problem in the official LOGO of Tensorflow.

see the logo:
(https://user-images.githubusercontent.com/39337227/43732365-c2b3a27e-99c6-11e8-94dc-735a1727678e.JPG)

in T of the logo, its have 4 column but in shadow its have 3 column.
corroct it.

we also accept any gift for that . 🥇

[2018-08-06 18:03] jonathanking commented on #9868
@kenfehling You are correct, see pull request #19932

[2018-08-06 18:03] asimshankar commented on #19768
Not all operations are included in the default builds for TensorFlow Mobile to keep the binary size smaller. You may need to use [selective registration](https://github.com/tensorflow/tensorflow/blob/915cf10d4bcbb51f079f6841aeaf876b430a920b/tensorflow/python/tools/print_selective_registration_header.py#L15) to include the 'All' op and build from source.

Assigning to @petewarden , who I believe mi

[2018-08-06 18:17] harshita-kaushal commented on #21413
[code]
This is the error generated.

[2018-08-06 18:20] asimshankar commented on #21406
Yes, that is a benign message that you can ignore.
We'll look into make that message less ominous! :)

[2018-08-06 18:28] donaldlee2008 commented on #16660
Still waiting for an update....

[2018-08-06 18:37] aselle commented on #21336
Ping

[2018-08-06 18:51] tensorflowbutler commented on #21398
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-06 18:51] tensorflowbutler commented on #21400
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Mobile device

[2018-08-06 18:51] tensorflowbutler commented on #21401
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-06 18:51] tensorflowbutler commented on #21402
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-06 18:51] tensorflowbutler commented on #21404
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-06 18:51] tensorflowbutler commented on #14232
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-06 18:51] tensorflowbutler commented on #20938
Nagging Assignee @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-06 18:51] tensorflowbutler commented on #20961
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-06 18:51] tensorflowbutler commented on #20983
Nagging Assignee @shivaniag: It has been 13 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-06 18:57] asaiyed10 commented on #21411
Thanks for your response!

My system BIOS has actually always been UEFI.
My system recognizes the cards, and uses them for display settings and such ( as far as what I can tell from the  NVIDIA X Server Settings )

[2018-08-06 19:02] ywanglocus opened #21415 "tensorflow ScipyOptimizerInterface feeding error"
-----------------------
My code are as follow:
[code]
[code]

[2018-08-06 19:02] sauronpy commented on #21411
so you need to update your driver in additional driver

On Mon, Aug 6, 2018, 23:30 Ahson Saiyed <notifications@github.com> wrote:

[2018-08-06 19:04] asaiyed10 commented on #21411
Do you mean the Nvidia driver for the graphics card?

[2018-08-06 19:05] asaiyed10 commented on #21411
Sorry not sure what you mean exactly by additional driver

[2018-08-06 19:18] gibiansky opened #21416 "Android: Compiling ops yields "THIS_TYPE_IS_NOT_SUPPORTED" for cwise_op"
Using TF 1.9.0, I cannot build applications for Android due to errors from `cwise_op`.

Building for ARM v8, the error is `THIS_TYPE_IS_NOT_SUPPORTED`:
[code]

For ARM v7, the error is `no matching function for call to 'acosh'`:
[code]

The exact bazel command is quite simple and is provided below.

This is an isolated issue which crops up when trying to build a larger target (which depends on the

[2018-08-06 19:30] danijar commented on #21363
The infinity is in `use_norm`, which is computed internally if not provided by the user.

[2018-08-06 19:33] av8ramit commented on #21413
Now after tensorflow is installed try the install tensorflow_fold line again:

[code]

[2018-08-06 19:37] #21384 closed

[2018-08-06 19:40] priyankjain opened #21417 "Discrepancy between Python and C++ loading of corrupt SavedModels"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: YES
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS High Seirra 10.13.6
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NOT MOBILE
- **TensorFlow installed from (source or binary)**: binary
- **TensorFl

[2018-08-06 19:47] gibiansky commented on #21416
Updates: Changing the NDK to `r17b` seems to fix this problem. Tested on `master` and tag `v1.9.0` with both the ARM v7 and ARM v8 versions of the command.

That said, when using NDK `r17b`, I get the following message from `bazel`:

[code]

Is this warning message out of date? Does TensorFlow for Android now expect/depend upon r17b to function?

[2018-08-06 19:50] jparsert commented on #20444
Has the problem with this wheel https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.8.0-py3-none-any.whl been fixed? Or rather what is the new link/version?

[2018-08-06 19:57] gibiansky commented on #20819
[This issue](https://github.com/tensorflow/tensorflow/issues/21416) may be relevant here. The issue was mostly resolved by switching to NDK 17b.

[2018-08-06 20:04] ychen404 commented on #17684
@GarryLau
Hi Garry,

I am able to use the code you provided to create the eval.pbtxt.
But I still don't understand how to use eval pbtxt for freezing.
Is the graph retrieved from the checkpoint file? If I need to use the eval pbtxt, should I use the eval gbtxt directly in the freeze script?
Following is the code I used to freeze my model.
[code]

[2018-08-06 20:04] harshita-kaushal commented on #21413
The same error is generated when I run the install tensorflow_fold command:
`tensorflow_fold-0.0.1-cp27-none-linux_x86_64.whl is not a supported wheel on this platform.`

[2018-08-06 20:13] shivaniag commented on #21404
@alextp Do you have any pointers in this?

[2018-08-06 20:16] tfboyd commented on #19568
@tfboyd

[2018-08-06 20:17] av8ramit commented on #21413
So now the error is different. Earlier the error was "tensorflow-1.0.0rc0" is not a supported. Unfortunately I cannot help you with tensorflow_fold issues. I suggest you file the issue an issue [here](https://github.com/tensorflow/fold/issues).

My unofficial advice would be to try this:
[code]

My theory is that your virtualenv does not like the whl file extension.

[2018-08-06 20:35] av8ramit commented on #21408
Hi @rogermorgan unfortunately this seems to be a virtualenv with python3 issue you're hitting. Unfortunately it's not easily reproducible since it most like is an issue with the machine you're running on. I recommend maybe asking on StackOverFlow if any other users have this this. Maybe you're hitting [this](https://stackoverflow.com/questions/15954467/python-ssl-example-from-docs-gives-connection

[2018-08-06 20:35] #21408 closed

[2018-08-06 20:36] av8ramit commented on #21406
Thanks @asimshankar .

[2018-08-06 20:36] #21406 closed

[2018-08-06 21:03] alextp commented on #21404
I'm tempted to mark this as contributions welcome; it should be straightforward with the way the go bindings work. Asim, does that make sense?

[2018-08-06 21:12] aselle commented on #17944
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-08-06 21:12] #17944 closed

[2018-08-06 21:15] aselle commented on #18894
This is actually fixed in the latest release (certainly the latest nightly, 1.10-rc1 also). the interpreter used to destroy the input buffer (and reuse it for temporaries during the computation). Closing now due to lack of recent activity (and it's already fixed).

[2018-08-06 21:15] #18894 closed

[2018-08-06 21:17] aselle commented on #18890
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-08-06 21:17] #18890 closed

[2018-08-06 21:18] aselle commented on #19610
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-08-06 21:18] #19610 closed

[2018-08-06 21:21] aselle commented on #19940
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-08-06 21:21] #19940 closed

[2018-08-06 21:23] aselle commented on #16091
Could you please try with a new nightly (pip install --upgrade tf-nightly) and let us know if that works as @andrehentz mentions, most of these ops have been added.

[2018-08-06 21:26] aselle commented on #20627
[code]

this looks wrong as it will make the range -1 to 1 . you want to feed 0,255 which is probably what it was
so try feeding
[code]
but check by checking mins and maxes of the img array once done ...

[2018-08-06 21:27] aselle commented on #19026
Thanks for closing the issue. Did it actually work for you? We'd love to hear.

[2018-08-06 21:30] aselle commented on #18199
@nanamare, we are working on various acceleration strategies (including GPU), and we will update this post when we can.

Thanks!

[2018-08-06 21:40] suharshs commented on #20653
You should have one graph that is a training graph built with create_training_graph. Then you should create a separate graph that is the corresponding eval graph (just the forward pass, no gradients) that you should create with create_eval_graph.

Then you should freeze the graph with the freeze_graph tool and provide to tflite_convert.

[2018-08-06 21:43] #21413 closed

[2018-08-06 21:44] asimshankar commented on #21406
(Actually, this was fixed in commit bb52a6663a0141de53ddaf844f6c7087c0ddf7f7, but that isn't included in 1.10 so there will be spurious messages in 1.10.

@av8ramit : Should we cherry pick that fix?)

[2018-08-06 21:44] bbarnes52 commented on #6674
Some recent activity on this subject:

https://stackoverflow.com/questions/51716049/recommended-approach-for-building-codebases-which-require-python-bindings-to-c

https://github.com/bazelbuild/bazel/commit/d1d613c9e93ce69e3880728350d1cff959f6845d

[2018-08-06 21:45] gibiansky opened #21421 "Android: cannot find -lpthread for simple binary"
I'm trying to compile a simple application for Android and getting linker errors: Bazel is linking in `-lpthread`, even though Android doesn't support that.

The application code is as follows:

*tensorflow/demo-bug/main.cc*:
[code]

The BUILD file is as follows:

*tensorflow/demo-bug/BUILD*:
[code]

If you don't include `//tensorflow/core:core_cpu` in the `deps`, the error doesn't happen. For som

[2018-08-06 21:51] myth01 commented on #18894
@aselle could you point to the commit of the fix?

[2018-08-06 21:51] asimshankar commented on #21380
I should mention that since the fix won't be in 1.10, the following workaround can be used till then:

[code]

And then use `my_relu6` instead of `tf.nn.relu6`. For example:

[code]

[2018-08-06 21:57] asimshankar commented on #21404
Yup, it should be relatively straightforward and can be done as it was similarly done for Java recently (commit fac56f9c9ab58fe7406a826683559de4cef85637).

Marking as "Contributions Welcome" in case someone wants to get to it before I do :)

[2018-08-06 22:03] gibiansky commented on #21421
I have confirmed that the behaviour is identical on current `master` (`1282e2b6fbb5f3ce9745402922a84291786ec62d`).

[2018-08-06 22:32] sabhiram commented on #20983
@shivaniag - PR submitted and attached to this about 16 days ago :)

See this PR that is awaiting merge once CI is good to go: https://github.com/tensorflow/tensorflow/pull/21038

[2018-08-06 22:36] qinyao-he commented on #20120
@rhavard Try add
`import tensorflow.contrib.tensorrt as trt`
in your code.

[2018-08-06 22:39] shashishekhar commented on #15554
Note, regarding the performance difference between TF Mobile and TF Lite was probably due to issue #16851 which caused a regression in TF Lite convolution performance. TFLite performance should be same/better than TF mobile.

[2018-08-06 22:40] gibiansky commented on #21421
I've traced this down to ```"//conditions:default": [
    "-ldl",
    "-lpthread",
],
[code]

[2018-08-06 23:42] nataliaponomareva commented on #21204
This is not supported as of now in a canned version. You can use the contrib version tensorflow/contrib/boosted trees, which can export feature importances (see boston.py example)

[2018-08-06 23:44] sabhiram commented on #21414
This is funny - your wife needs to project a little more @sauronpy

[2018-08-06 23:51] martinwicke commented on #21204
Should this be kept open as a feature request? Would you accept contributions?

[2018-08-06 23:52] gargn commented on #20825
Can you explain your motivation behind freezing the model `mobilenet_v1_1.0_224_frozen.pb`?

The model is already frozen, so it does not need to run through the `freeze_graph` tool again. Additionally, if you are trying to use this model in TensorFlow Lite, then you can use the provided `mobilenet_v1_1.0_224.tflite` file.

[2018-08-06 23:57] gibiansky commented on #21421
Additionally, the same problem seems to exist with the target `"//tensorflow/core/kernels/data:dataset_ops"`.

[2018-08-07 00:24] 201power commented on #21414
not sure if this is a bug

[2018-08-07 00:24] sabhiram commented on #21381
@draplater If you want to pass non-tensor arguments to a `py_func` you can do so quite easily by wrapping your `py_func` definition in a wrapper where the desired variable is within scope.

For example something like this will work:

[code]

Then when you want to create your py_func:
[code]

Remember that if `extra_info` is a graph-time tensor, this method will not work. Also if the info you wish

[2018-08-07 00:52] cvJie commented on #19893
me too,how to solve it?

[2018-08-07 01:00] asimshankar commented on #19893
(BTW, bazel can now be used to build TensorFlow on Windows. @gunan I believe is in the process of updating the build instructions for that)

[2018-08-07 01:08] tensorflowbutler commented on #21407
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
CUDA/cuDNN version
GPU model and memory
Mobile device

[2018-08-07 01:08] panfengli commented on #18238
I am wondering after `tf.boolean_mask`, how to recover the predicted results as a 2D tensor from pred (1D tensor) and mask (2D array with elements of 'True' or 'False'), where False corresponds to 0.

[code]

@langmore

Thanks!

[2018-08-07 01:14] shivaniag commented on #21412
@guptapriya: could you take a look.

[2018-08-07 01:15] raofengyun commented on #19568
@sharvil you're right, it's not guaranteed, but I can't find any other way.

[2018-08-07 01:27] ppwwyyxx commented on #18238
I think this is still not a well-defined feature request. There aren't even some examples of (input, output) pairs at all. The input, output pairs given by in the original issue are already proven unsound by @burglarhobbit.

If one just wants to replace False entries by another element (which seems to be what @panfengli needs) then you should use `tf.where`.

[2018-08-07 01:28] lubomir1 commented on #956
@aselle The original poster also asked that the padding be added to the convolution operation. Would padding inside the convolution be more efficient and avoid unnecessary copy compared to tf.pad followed by convolution?

[2018-08-07 01:37] ppwwyyxx commented on #956
Constant padding with values other than 0 is already supported, so it looks like this issue can be closed.

@lubomir1 your question is answered at https://github.com/tensorflow/tensorflow/issues/18213#issuecomment-396736457

[2018-08-07 01:45] T0T4R4 commented on #17629
You have to re-compile tensorflow. The builds are not compatible with this combination yet.

[2018-08-07 01:45] baobao7766 commented on #21395
@tensorflowbutler Thanks for your reply, i have run the code on two environments: PC and Platform:
PC:
  Have I written custom code: No
  OS Platform: Mac OS 10.11.6, no distribution
  TensorFlow installed with conda4.5.4, version is 1.2.0, without Bazel

Platform:
  ubuntu16.04, cuda8, cudnn5,
  python2.7, tensorflow 1.2.1, Bazel 0.15.0
  tensorflow install by docker,

That's all i know about env

[2018-08-07 01:51] MaeThird commented on #21221
@achowdhery
[tflite_pb.tar.gz](https://github.com/tensorflow/tensorflow/files/2264630/tflite_pb.tar.gz) Thanks.

[2018-08-07 02:01] guileryu01 commented on #21056
Figured it out - in my case it was because target copy path is too long so it has problem creating a file with specified path. It would be nice if the error message can be made more informative.

[2018-08-07 02:13] guileryu01 commented on #20523
Same problem here. Here is the traceback when I import tensorflow.contrib with code in master:

[code]
Does the module gen_collective_ops never exist?

[2018-08-07 02:35] panfengli commented on #18238
For example,

[code]
I would like new_img to be
[code]

[2018-08-07 02:41] ppwwyyxx commented on #18238
@panfengli  `tf.where(img>5, img, tf.zeros_like(img))` does what you need.

[2018-08-07 02:47] yongtang commented on #21403
I think the `compat.as_bytes` was intended to make the function compatible with both python 2 and python 3, but `compat.as_bytes` was missing when adding `"temp-"`.

Added a PR #21426 to try to fix the issue.

[2018-08-07 02:48] panfengli commented on #18238
Okay, I got it. Thanks!

[2018-08-07 02:50] alanpurple opened #21427 "builld tf 1.10.0, but version shows rc1"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 16.04 x64
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.10
- **Python version**: 3.6.6 x64
- **Bazel version (if compiling from source)**: 0.

[2018-08-07 03:07] TobiasLee commented on #2774
Yeah, I met this problem, too.

[2018-08-07 03:39] freedomtan commented on #21421
There is no libpthread in Android. Another easy way to compile your app is to add `linkopts` to your `BUILD`, something like
[code]

[2018-08-07 03:52] gibiansky commented on #21421
@freedomtan I'm not sure you understood what the bug report is, sorry if I was unclear.

Even if I add those `linkopts` to my build, if I depend on `//tensorflow/core:lib`, I will get `-lpthread` as an argument, because the `linkopts` from `//tensorflow/core:lib` propagate upwards to my app. This needs to be fixed in the `//tensorflow/core` `BUILD` file, I think.

[2018-08-07 03:53] kishore0905 commented on #21326
10 epochs on GPU system and saving them in  checkpoint file and i runned them in CPU system(without retraining)

[2018-08-07 04:14] freedomtan commented on #21421
@gibiansky because you are not supposed to build `//tensorflow/core:lib` for Android. There are Android specific targets. Check [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/BUILD#L35-L51) as an example.

[2018-08-07 05:09] gibiansky commented on #21421
Ah, perfect, I'll try it out. Maybe it'll reduce file size a bit to do this although I think the selective op registration is already working fine.

FWIW everything seems to work smoothly depending on the standard TF lib as long as you add a `//tensorflow:android` condition.

[2018-08-07 05:43] facaiy commented on #21363
Thanks. Sounds reasonable to me. I create the PR #21428 to fix it.

[2018-08-07 06:08] ophiry opened #21429 "TocoConvertor: converting keras models to tflite doesn't support custom objects"
Have I written custom code: No
OS Platform and Distribution: Mac
TensorFlow installed from: pip
TensorFlow version: 1.10-rc1
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce: `tensorflow.contrib.lite.TocoConverter.from_keras_model_file(model_file, custom_objects=CUSTOM_OBJECTS)`
Mobile device: N/A

-----

This is required to convert models that use cu

[2018-08-07 06:11] Roc-J commented on #6082
I met a problem

INFO:tensorflow:Error reported to Coordinator: <class 'tensorflow.python.framework.errors_impl.NotFoundError'>, Unsuccessful TensorSliceReader constructor: Failed to find any matching files for ./object_detection/training/model.ckpt-0
         [[Node: save/RestoreV2_901 = RestoreV2[dtypes=[DT_FLOAT], _device="/job:ps/replica:0/task:0/device:CPU:0"](_recv_save/Const_0_S1, save/Rest

[2018-08-07 06:26] ankitjhagithub commented on #21379
thank you.

On Tue, Aug 7, 2018 at 4:53 AM, Amit Patankar <notifications@github.com>
wrote:

--
Ankit Jha
Indian Institute of Information technology, Sri City, Chittoor, Andhra
Pradesh-517646
Mob: +91-9764194921

[2018-08-07 06:35] Roc-J commented on #6082
the problem is that running the command , the training_dir only 2 files
model.ckpt-0.data-00000-of-00001
model.ckpt-0.index

[2018-08-07 06:47] tensorflowbutler commented on #21415
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-07 06:53] gragundier commented on #21411
Yall need to take this to stack overflow this is for bugs/feature requests only.

[2018-08-07 07:00] olesalscheider commented on #19992
This definitely sounds like a problem that can reduce the accuracy of your models, but it might go unnoticed by some.

If the cudnn path does not support the dilated convolution in this case yet, maybe it would be a good idea to just use the native path if the dilation rate is > 1?

[2018-08-07 07:02] gragundier commented on #21427
https://github.com/tensorflow/tensorflow/releases
1.10 is still prerelease
You used pip3 install tensorflow-gpu?  That's weird and definitely a bug if you did.

[2018-08-07 07:07] gragundier commented on #21368
Correct me if I'm wrong, but those ops seem to be part of your model.  If it's part of the model, it won't get stripped and you'll need custom ops for them.  I'm curious about your model can you post it?

[2018-08-07 07:07] alanpurple commented on #21427
@gragundier  no i build from r1.10 source as I wrote above.....what ru sayin....

[2018-08-07 07:14] vee367 commented on #9506
If you are still facing the problem of invalid argument error, then try installing the tensorflow version 1.3.0 and then do it.

[2018-08-07 07:16] mirhosseinmousavi opened #21431 "I get error not found Fill in Zros class"
Hello guys i get error in Zeros class for not found Fill in android studio and in Build panel showing this error and not running sample app from tensorflow to my android devices

error: cannot find symbol variable Fill where T is a type-variable: T extends Object declared in class Zeros

[2018-08-07 07:19] PinkySan commented on #21409
spread the word!

[2018-08-07 07:28] ychen404 commented on #21368
Hi gragundier,

Thanks for your reply.
It is a simplified version of mobilenet v1. I changed the end point of the mobilenet model.
You can find the end point in models/research/slim/nets/mobilenet_v1.py
I changed that to Conv2d_6_pointwise layer.
[code]

[2018-08-07 07:29] alanpurple commented on #21427
@gragundier
you're really not helping

https://github.com/tensorflow/tensorflow/commit/d2af5d50b6255c4bc76b9e9fc516a0aa027efe6d

[2018-08-07 07:32] ramaakkantvdas commented on #17022
guys need help , i am unable to install tensorflow on python 3.7 .

should be re consider to downgrade it ?

[2018-08-07 07:32] gunan commented on #20778
The full solution to this issue is to clean up all TF installation files from your system. Here is how to do that. Run the following first:
[code]

From the above command, you need to go and remove the folder
[code]

Finally, you need to run
[code]
Then it should work.

[2018-08-07 07:32] #20778 closed

[2018-08-07 07:33] tejaswid commented on #21335
When I run the following simple example,
[code]
If `<FILENAME>` is a non-existent file (like empty string) the error says
[code]
If `<FILENAME>` is an existing directory but not a _.tfrecords_ file the error says
[code]
which I think is the expected behaviour.

When I run the code mentioned in my first post, no error is thrown. Instead loss is not computed at all and remains **None**. The followin

[2018-08-07 07:41] gunan commented on #19893
Sorry for the inconvenience.
@meteorcloudy for bazel instructions.
For cmake build, if you build from the 1.10 branch, it is still working.

[2018-08-07 07:56] mm1860 commented on #19893
i using tensorflowsharp now,build file has been put in NUGET,this is a good idea

[2018-08-07 07:58] EdwardLin2014 opened #21432 "BUG: Initial values are still random, even both the graph-level and the operation seed are set"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu Server & Window 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow ver

[2018-08-07 08:04] #20677 closed

[2018-08-07 08:05] gragundier commented on #21427
I'm just cranky because ci.tensorflow.org is down. 😞

[2018-08-07 08:18] fcacarminati commented on #19491
[just back from vacation] Thanks a lot for your answer. I am really glad you acknowledged this issue. We are really dependent on the training performance for our studies and any improvement could be a big help. Please keep us informed about your progress. Best regards,

[2018-08-07 09:13] akloss opened #21433 "Shape mismatch after sampling"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary (pip install tensorflow-gpu)
- **TensorFlow version (use command below)**:
1.9 ('v1.9.0-0-g25c197e023', '1.9.0')
- **Python version**:
2

[2018-08-07 09:17] ahbrosha opened #21434 "Broken link to the API stability page"
The link mentioned in the API stability warning is broken: https://www.tensorflow.org/install/install_go
It should be changed in this file as well: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/install/install_go.md

[2018-08-07 09:39] piteren opened #21435 "Docs error: sparse_softmax_cross_entropy_with_logits"
There is an error in documentation of sparse_softmax_cross_entropy_with_logits:
https://www.tensorflow.org/api_docs/python/tf/nn/sparse_softmax_cross_entropy_with_logits

there is:
"logits and labels must have the same dtype (either float16, float32, or float64)."

should be:
"logits should have dtype float16, float32, or float64,
 labels should have dtype int32 or int64"

(in Args section of this

[2018-08-07 09:45] ptighin commented on #21407
tensorflowbutler, done! They are indeed not relevant, which is why I left them out in the first place.

[2018-08-07 09:48] weishi258 opened #21437 "Resnet50 applying last pooling layer regardless pooling parameter"
### Describe the problem
Resnet50.py apply pooling at last layer regardless pooling parameter.

### Source code / logs
Current:
  x = AveragePooling2D((7, 7), name='avg_pool')(x)
  if include_top:
    x = Flatten()(x)
    x = Dense(classes, activation='softmax', name='fc1000')(x)
  else:
    if pooling == 'avg':
      x = GlobalAveragePooling2D()(x)
    elif pooling == 'max':
      x = GlobalMaxPo

[2018-08-07 09:50] afisc commented on #7072
had the same issue as @shrimalmadhur ( failed to create cublas handle: CUBLAS_STATUS_ALLOC_FAILED)
Fixed it by following @BSalita 's hint, that there might be some issue with the numpy version. just updated the numpy package in my anaconda environment ( activate the environment => **pip install --upgrade numpy** )
Thanks a lot!

[2018-08-07 09:51] weishi258 opened #21438 "Resnet50.py apply pooling at last layer regardless pooling parameter."
### Describe the problem
Resnet50.py apply pooling at last layer regardless pooling parameter.
The issue has been fixed in keras 2.2.0
### Source code / logs
Current:
[code]
Fix:
[code]

[2018-08-07 09:54] #21437 closed

[2018-08-07 09:57] Lillypucien opened #21439 "Reduce_sum error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: YES
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 64 bits
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.9.0
- **Python version**: 3.5
- **CUDA/cuDNN version**: 9.0 / v7
- **GPU model and

[2018-08-07 10:30] cxwx opened #21441 "building error on mac"
ERROR: /private/var/tmp/_bazel_chenxu/eac512cc1715441e7965427cfb136e20/external/protobuf_archive/BUILD:665:1: C++ compilation of rule '@protobuf_archive//:python/google/protobuf/pyext/_message.so' failed (Exit 1)
external/protobuf_archive/python/google/protobuf/pyext/descriptor_containers.cc:172:13: error: _assigning to 'char *' from incompatible type 'const char *'_
        if (PyString_AsStringA

[2018-08-07 10:35] koAlech commented on #16589
@suharshs I was about to paste the entire bazel command we used in order to build tflite from source but then realized that a new version (1.9.0) was released and decided to give it a try.
And surprisingly this issue was resolved! We're so happy!

[2018-08-07 10:35] #16589 closed

[2018-08-07 10:36] psyhtest commented on #21332
Just a note that the above worked with Python 2.7 only. With Python 3.5 it failed:
[code]
What's weird is that I used NumPy 1.11 with Python 2, and NumPy 1.15 with Python 3.

[2018-08-07 10:50] csitaula opened #21442 "tensorflow.python.framework.errors_impl.InternalError: Could not allocate ndarray"
HI,
I am using running Places pre-trained VGG16 network in python  using CPU. I got this error? How to solve this memory issue after several computations? Thanks
C:/Experiment/PicAlertData/public/4326658334.jpg
Traceback (most recent call last):
  File "C:\Python3.5\lib\site-packages\tensorflow\python\client\session.py", line 1322, in _do_call
    return fn(*args)
  File "C:\Python3.5\lib\site-pac

[2018-08-07 10:53] mpekalski commented on #21383
That is not a place for usage questions.
Please do it for example on stackoverflow.com

[2018-08-07 11:33] facaiy commented on #21335
I can reproduce the bug with [models/official/resnet/cifar10_main.py](https://github.com/tensorflow/models/blob/master/official/resnet/cifar10_main.py) . And the exception of [_WrappedSession](https://github.com/tensorflow/tensorflow/blob/aed8f42bafabf11c5d92ce4109a5e0408b31f9c5/tensorflow/python/training/monitored_session.py#L987) is shown below when running:

[code]

[2018-08-07 11:53] coolajitsahu commented on #1013
hello i have also same problem ....

[2018-08-07 12:35] yongtang commented on #21434
Added a PR #21443 to fix the incorrect link.

[2018-08-07 12:44] iliTheFallen opened #21444 "Estimator API -- Incorrect Super-Type Check for Hooks"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04.4 LTS (Xenial Xerus)
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: From source
- **TensorFlow version (use command be

[2018-08-07 12:54] yongtang commented on #21435
@piteren I think you are correct. The labels in `SparseSoftmaxCrossEntropyWithLogits` can only be int32 or int64:

https://github.com/tensorflow/tensorflow/blob/46cf73f0214bc6208295e36650f1a8ffde4abdd7/tensorflow/core/ops/nn_ops.cc#L1092-L1099

Created a PR #21445 for the fix.

[2018-08-07 13:55] zhaoyingjun commented on #16227
AttributeError: module 'tensorflow.contrib.factorization' has no attribute 'KMeansClustering'

tensorflow-gp==1.9.0 but i got an error?
mycode:
import pandas as pd
import numpy as np
import tensorflow as tf
def kmeansCluster(X,numClusters):
    get_inputs=lambda: tf.train.limit_epochs(tf.convert_to_tensor(X.as_matrix(), dtype=tf.float32), num_epochs=1)
    cluster = tf.contrib.factorization.KMeans

[2018-08-07 14:01] meixiaofeng commented on #20886
Got the same problem,don't know how to solve.

[2018-08-07 14:03] meteorcloudy commented on #21054
@abdulwahabqurashi as Martin pointed out contrib ops doesn't work on Windows yet. TF is still built with CMake currently.TensorFlow built with Bazel will have support for most ops under contrib, but the Bazel build is still new, it will be enabled from TensorFlow 1.11. I'm working on a documentation for the Windows Bazel build. Hopefully it will help.

[2018-08-07 14:03] ztwe opened #21446 "the error of freeze model"
- OS Platform:  Ubuntu 16.04
- TensorFlow installed from:  anaconda
- TensorFlow version: GPU-1.8
- Python version: 3.6.6
- CUDA/cuDNN version: 9.0 / 7.1.2
- GPU model and memory:16G

The model is mobilenetV2 + LSTM + attention.
MobilenetV2 is restored from the model zoo in [https://github.com/tensorflow/models/tree/master/research/slim](https://github.com/tensorflow/models/tree/master/research/sl

[2018-08-07 14:16] prasanna532 opened #21447 "Camera is showing as half screen while running the application (Android)"
Android - Oneplus 3

[2018-08-07 14:20] asaiyed10 commented on #21411
Was a problem with python packages

[2018-08-07 14:20] #21411 closed

[2018-08-07 14:41] pumpkinband opened #21449 "Traceback (most recent call last):"
While running this code on CYGWIN

`$ python -m scripts.label_image \

this error showed up

` Traceback (most recent call last):
 File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/home/Admin/tensorflow-for-poets-2/scripts/label_image.py", li

[2018-08-07 15:10] carusyte commented on #5719
I submitted a PR #21436 which attempts to workaround the issue of gradient execution on CPU, waiting for code review. If anybody is still interested...

[2018-08-07 15:25] ebrevdo commented on #5719
Thanks!

On Tue, Aug 7, 2018, 8:11 AM Jonathan Zhang <notifications@github.com>
wrote:

[2018-08-07 15:29] nataliaponomareva commented on #21204
Sure, contributions are welcome. Technically all the data is already kept around - it is gain in NodeMetadata. One would need to go through all the nodes of all the trees and sum the gains groupped by the feature ids.

[2018-08-07 15:32] Fa1c0nSec commented on #20192
No, just like @shashishekhar said, you need to add one line in tensorflow/.tf_configure.bazelrc:
build --action_env ANDROID_NDK_API_LEVEL=21
if that doesn't work, you need to change your workspace file which in tensorflow/WORKSPACE, and modify your ndk repository settings with:

android_ndk_repository(
    name = "androidndk",
    path = "/Users/kyoushouu/Library/Android/sdk/ndk-bundle",
    api_l

[2018-08-07 15:41] nataliaponomareva commented on #21347
Btw when you say you cleared the checkpoints - it means you cleared the whole model dir right? Not just checkpoint files? Can you try on a completely new folder
Can you print out the length of feature columns list after u do the build_model_columns()

[2018-08-07 16:03] brge17 commented on #21361
@fchollet

[2018-08-07 16:06] #21379 closed

[2018-08-07 16:10] jessiejc23 commented on #21347
Yep I cleared the whole model directory. and tried it on a completely new folder. Same error still exists.
Length of feature columns list printed is 5.

[2018-08-07 16:18] tlf30 commented on #16660
Same here... @case540 are you working on this?

[2018-08-07 16:25] av8ramit commented on #21449
@pumpkinband it looks like you have no installed numpy. Please run the following in your terminal.

[code]

[2018-08-07 16:29] saeed68gm commented on #14444
@bignamehyp this is a bug. I run into this issue when I use the 'obfuscate_names' transform.

[2018-08-07 16:30] av8ramit commented on #21427
ci.tensorflow.org is not down. We have deprecated it. Any nightly builds you need can be found at the tf-nightly or tf-nightly-gpu.

Additionally I've just merged the [latest version change](https://github.com/tensorflow/tensorflow/commit/d2af5d50b6255c4bc76b9e9fc516a0aa027efe6d). Can you try again with the latest r1.10 branch?

[2018-08-07 16:39] gunan commented on #21427
@alanpurple could you also share the output of `tf.__git_version__` ?
@gragundier ci.tensorflow.org is deprecated, and is finally taken down for good. So the site being down is working as intended.

[2018-08-07 16:58] alextp commented on #13433
If you use resource variables this issue has been fixed. To use those, either do `tf.Variable(..., use_resource=True)`, `tf.get_variable(..., use_resource=True)` or add a line saying `tf.get_variable_scope().set_use_resource(True)` somewhere before you start building graphs.

[2018-08-07 16:58] #13433 closed

[2018-08-07 17:04] Manish-rai21bit commented on #20690
All you need to do is change the argument "async" to something else in "/usr/local/lib/python3.7/site-packages/tensorflow/python/pywrap_tensorflow_internal.py" in the function definition and return..

[2018-08-07 17:07] mtiitto commented on #20997
Hello again,

I downloaded the Official MNIST scripts and tried running them but I got
an  ImportError: No module named official.mnist.

I went to the Tensorflow Official models website (found here
<https://github.com/tensorflow/models/tree/master/official#running-the-models>),
and tried to follow the directions under the Requirements section. However,
I learned that these directions are only for

[2018-08-07 17:18] asimshankar commented on #21415
The error message:
[code]
suggests that the value being fed to `p_sub`, i.e., the value of `x1_train` in the line:
[code]
has either the wrong type (i.e., is not a `float32`) or has an incompatible shape (i.e., is not a 2-dimensional tensor, or the size of the second dimension is not 18).

You'd want to verify that:
[code]
has the right shape and type.

Hope that helps.

[2018-08-07 17:18] #21415 closed

[2018-08-07 17:30] karmel commented on #20523
@guileryu01 , if you are seeing the same issue, please provide the details requested in the issue template for yourself as well. As I note above, a possible cause is an older version of TF than the benchmark expects.

[2018-08-07 17:36] thyeun commented on #20444
because of python 3.7 fully release, all production opencv are death because of tensorflow are incompatible. HELP pls!!!!!!

[2018-08-07 17:42] kbsriram commented on #20926
Thanks all for the help getting the PR merged, fixed via https://github.com/tensorflow/tensorflow/commit/b462815ccc279c79a5592a0a2d4492718da02c5d

[2018-08-07 17:42] #20926 closed

[2018-08-07 17:48] guileryu01 commented on #20523
@karmel I wasn't running the benchmark code. All I did was import tensorflow.contrib, although it hit the same error as above. Here is system information:

------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 64 bit
- **Mobil

[2018-08-07 17:50] nataliaponomareva commented on #21347
Ah, sorry this is weird
feature_columns = [tf.feature_column.indicator_column(x) for x in columns]
You seem to be creating an indicator over bucketized columns as well. This is not needed. Also, to narrow down
1) Can you first try just with bucketized feature columns b_bucket, d_bucket (no indicator over them)
2) Then add the categorical with an indicator

[2018-08-07 17:59] pumpkinband commented on #21449
@av8ramit  actually i tried but every time this error keeps going
`Command "/usr/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-i                                                                                                                                  nstall-LkomBi/numpy/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f

[2018-08-07 18:00] ashwaniag commented on #21320
Any updates?

[2018-08-07 18:01] GKilianW commented on #20674
Checking in on this again.

[2018-08-07 18:06] av8ramit commented on #21449
I'd recommend trying in a virtual environment with the latest corresponding python version. If that doesn't work maybe update your setuptools version as well.

[code]

[2018-08-07 18:19] aselle commented on #15849
I just hit this too. expunge worked for me as well

[2018-08-07 18:30] pkulzc commented on #21320
We identified the issue. The fix will go out with our next release this week!

[2018-08-07 18:36] yashk2810 commented on #21326
Please try upgrading your tensorflow version to tf-nightly. I think, that should resolve the error.

[2018-08-07 18:41] shivaniag commented on #20983
Thanks!

[2018-08-07 18:49] shivaniag commented on #20994
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2018-08-07 18:54] 13steinj commented on #21298
@Xyand while I cannot guarantee that this specific piece of tensorflow code causes the issue on Windows, I can guarantee that the underlying problem (PyCharm debugger using evaluation frames with generators) does cause an issue on Windows (I'm using it, and I get the issue with sympy)

[2018-08-07 18:55] #21380 closed

[2018-08-07 18:57] #9518 closed

[2018-08-07 18:57] #19829 closed

[2018-08-07 18:57] #20217 closed

[2018-08-07 18:58] malsulaimi opened #21454 "Turning off Teacher Forcing in decoders of Seq2Seq models"
Have I written custom code:N/A
OS Platform and Distribution :macOS Sierra 10.12.6
TensorFlow installed from : tensforflow.org
TensorFlow version: TensorFlow Version: 1.3.0
Bazel version: NA
CUDA/cuDNN version:NA
GPU model and memory:NA
Exact command to reproduce:NA
Mobile device:NA

Hello ,

I'm posting this request here however I'm not sure if this is a new feature request or it is something alre

[2018-08-07 18:58] tensorflowbutler commented on #21429
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-07 18:59] tensorflowbutler commented on #21431
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-07 18:59] tensorflowbutler commented on #21433
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce
Mobile device

[2018-08-07 18:59] tensorflowbutler commented on #21438
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-07 18:59] tensorflowbutler commented on #21439
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Mobile device

[2018-08-07 18:59] tensorflowbutler commented on #21441
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-07 18:59] tensorflowbutler commented on #21442
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-07 18:59] tensorflowbutler commented on #8517
Nagging Assignee @zheng-xq: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 18:59] tensorflowbutler commented on #9518
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-07 18:59] tensorflowbutler commented on #10220
Nagging Assignee @tfboyd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 18:59] tensorflowbutler commented on #10408
Nagging Assignee @fchollet: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 18:59] tensorflowbutler commented on #12460
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 18:59] tensorflowbutler commented on #12871
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-07 19:00] tensorflowbutler commented on #14357
Nagging Assignee @ebrevdo: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:00] tensorflowbutler commented on #14675
Nagging Assignee @asimshankar: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:00] tensorflowbutler commented on #15530
Nagging Assignee @shivaniag: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:00] tensorflowbutler commented on #16184
Nagging Assignee @gunan: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:00] tensorflowbutler commented on #16834
Nagging Assignee @rmlarsen: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:00] tensorflowbutler commented on #17494
Nagging Assignee @tonywang1990: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:00] tensorflowbutler commented on #17925
Nagging Assignees @jvdillon, @ebrevdo: It has been 133 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:00] tensorflowbutler commented on #18058
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:00] tensorflowbutler commented on #18149
Nagging Assignee @skye: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:00] tensorflowbutler commented on #18216
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:00] tensorflowbutler commented on #18356
Nagging Assignee @jart: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:01] tensorflowbutler commented on #18538
Nagging Assignee @yifeif: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:01] tensorflowbutler commented on #18768
Nagging Assignee @tatianashp: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:01] tensorflowbutler commented on #18975
Nagging Assignee @ispirmustafa: It has been 39 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:01] tensorflowbutler commented on #19093
Nagging Assignee @rmlarsen: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:01] tensorflowbutler commented on #19303
Nagging Assignee @fchollet: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:01] tensorflowbutler commented on #19430
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-08-07 19:01] tensorflowbutler commented on #19440
Nagging Assignee @rohan100jain: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:01] tensorflowbutler commented on #19528
Nagging Assignees @ysuematsu, @angersson: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:01] tensorflowbutler commented on #19611
Nagging Assignee @jart: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:01] tensorflowbutler commented on #19745
Nagging Assignee @tatatodd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:01] tensorflowbutler commented on #19775
Nagging Assignee @sguada: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:01] tensorflowbutler commented on #19811
Nagging Assignee @tatatodd: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:02] tensorflowbutler commented on #19812
Nagging Assignee @srvasude: It has been 47 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:02] tensorflowbutler commented on #19824
Nagging Assignee @jart: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:02] tensorflowbutler commented on #19825
Nagging Assignee @tatatodd: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:02] tensorflowbutler commented on #19829
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-07 19:02] tensorflowbutler commented on #19834
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:02] tensorflowbutler commented on #19838
Nagging Assignee @tatatodd: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:02] tensorflowbutler commented on #19852
Nagging Assignee @cy89: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:02] tensorflowbutler commented on #19855
Nagging Assignee @shivaniag: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:02] tensorflowbutler commented on #19904
Nagging Assignees @mhyttsten, @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:02] tensorflowbutler commented on #19957
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-07 19:02] tensorflowbutler commented on #20126
Nagging Assignee @guptapriya: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:02] tensorflowbutler commented on #20139
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-07 19:03] tensorflowbutler commented on #20141
Nagging Assignee @suharshs: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:03] tensorflowbutler commented on #20169
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-07 19:03] tensorflowbutler commented on #20194
Nagging Assignee @jart: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:03] tensorflowbutler commented on #20217
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-07 19:03] tensorflowbutler commented on #20273
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:03] tensorflowbutler commented on #20299
Nagging Assignee @protoget: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:03] tensorflowbutler commented on #20308
Nagging Assignee @cy89: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:03] tensorflowbutler commented on #20434
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:03] tensorflowbutler commented on #20464
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:03] tensorflowbutler commented on #20475
Nagging Assignee @robieta: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:03] tensorflowbutler commented on #20498
Nagging Assignee @robieta: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:03] tensorflowbutler commented on #20500
Nagging Assignee @cy89: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:03] tensorflowbutler commented on #20510
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:03] tensorflowbutler commented on #20532
Nagging Assignee @allenlavoie: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:04] tensorflowbutler commented on #20547
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:04] tensorflowbutler commented on #20565
Nagging Assignee @shivaniag: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:04] tensorflowbutler commented on #20571
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-07 19:04] tensorflowbutler commented on #20597
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:04] tensorflowbutler commented on #20607
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:04] tensorflowbutler commented on #20621
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:04] tensorflowbutler commented on #20625
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-07 19:04] tensorflowbutler commented on #20640
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-07 19:04] tensorflowbutler commented on #20651
Nagging Assignee @guptapriya: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:04] tensorflowbutler commented on #20694
Nagging Assignees @suharshs, @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:04] tensorflowbutler commented on #20702
Nagging Assignee @suyoggupta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:05] tensorflowbutler commented on #20812
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:05] tensorflowbutler commented on #20844
Nagging Assignee @karmel: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:05] tensorflowbutler commented on #20868
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-07 19:05] tensorflowbutler commented on #20904
Nagging Assignee @shashishekhar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:05] tensorflowbutler commented on #20976
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:05] tensorflowbutler commented on #20991
Nagging Assignee @allenlavoie: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:05] tensorflowbutler commented on #21036
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-07 19:06] tensorflowbutler commented on #21051
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-07 19:06] tensorflowbutler commented on #21062
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:06] tensorflowbutler commented on #21067
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:06] tensorflowbutler commented on #21070
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-07 19:09] neuencer opened #21455 "multi-hot representation and sequence_categorical_column_with_identity"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.9.0
- **Python version**: 3.6.5
- **Bazel version**: N/A
- **CUDA/cuDNN version**:

[2018-08-07 19:17] shivaniag commented on #20565
@skye can you take a look into this.

[2018-08-07 19:37] rohan100jain commented on #21403
Can someone confirm that this small fix fixes the problem?

[2018-08-07 19:38] karmel commented on #21160
Based on the error above, it looks like a required file is not being found. What is the exact command you are using to run the script, and are the input files correctly passed?

[2018-08-07 19:47] karmel commented on #21391
Thanks, @RanFeldesh and @yongtang . @asimshankar -- can you comment on whether this would be a desired feature, and, while you're here, whether the error message can be improved for eager?

[2018-08-07 19:48] ebrevdo commented on #14357
Have you tried using batch norm with:

tf.contrib.layers.batch_norm you need to use update_collection=None

On Tue, Aug 7, 2018, 12:00 PM Alfred Sorten Wolf <notifications@github.com>
wrote:

[2018-08-07 19:56] karmel commented on #21335
@robieta - can you investigate whether this is an issue with Cifar10 in particular, or more generally?

[2018-08-07 19:56] #21026 closed

[2018-08-07 20:00] karmel commented on #20523
@guptapriya -- this seems to be related to dependencies introduced for distribution; is this something you've seen? My guess is there's some version mismatch or missing flag (cc @gunan )-- any ideas?

[2018-08-07 20:01] ispirmustafa commented on #18975
Hi @superbobry
Could you please update this thread? thanks

[2018-08-07 20:02] karmel commented on #20844
Unfortunately, it is hard to debug from a distance. Is there any reason you are using the deprecated Queue API rather than the newer [Dataset API](https://www.tensorflow.org/guide/datasets)

[2018-08-07 20:18] mas-dse-greina commented on #17494
It's been fixed. Please close.

Thanks

On Tue, Aug 7, 2018, 12:04 PM Alfred Sorten Wolf <notifications@github.com>
wrote:

[2018-08-07 20:25] rohan100jain commented on #21328
@marksandler2 can you take a look?

[2018-08-07 20:25] jamieas commented on #17149
@dieka13 Can you try

`tf.contrib.predictor.from_saved_model(
  saved_model_dir, config=tf.ConfigProto(allow_soft_placement=True))`

[2018-08-07 20:25] #17494 closed

[2018-08-07 20:31] alextp commented on #19093
I submitted a fix recently which makes the issue go away with resource variables. Use them by passing use_resource=True to tf.variable or tf.get_variable when creating variables, or by setting `tf.get_variable_scope().set_use_resource(True)` in the beginning of your graph building code.

[2018-08-07 20:31] #19093 closed

[2018-08-07 20:34] sguada commented on #19775
I don't know why it would perform differently.

[2018-08-07 20:42] ispirmustafa commented on #19084
I don't have an idea.
@iron9light could you please provide a simple script which reproduces the issue?

[2018-08-07 20:42] marksandler2 commented on #21328
Can you describe what are you trying to achieve? The outputs 1-3 of fused batchnorm are meant as for   tensorflow access during training,   that you normally wouldn't need to access directly.  Particulaly if mode is_training is set ot False, then these nodes are often optimized away by the optimizer.

If you want another look please make reproducible example in colab.  (you can use mobilentev2's i

[2018-08-07 20:43] rohan100jain commented on #21348
I could reproduce the memory leak. As a guess, could this be the allocate_temp in the GatherNd op doing something unexpected?

[2018-08-07 20:45] cvinson830 commented on #20597
Hi, yes this is still in the works.  This sprint I'm going to work on putting this information in the NodeExecStats protobuf.  I'll likely submit the pull request to TF and TB this month.

[2018-08-07 20:55] hugolimachaves commented on #6698
I faced the same problem. I my case I downgraded the tensorflow's version and it worked for my application.

[2018-08-07 20:55] ibeling opened #21458 "speech recognition tutorial bug"
Have I written custom code no
OS Platform and Distribution N/A
TensorFlow installed from N/A
TensorFlow version N/A
Bazel version N/A
CUDA/cuDNN version N/A
GPU model and memory N/A
Exact command to reproduce N/A
Mobile device N/A

I'm doing the Speech Commands tutorial and looking at the low_latency_conv architecture here:
https://github.com/tensorflow/tensorflow/blob/23c218785eac5bfe737eec4f8081

[2018-08-07 20:56] ispirmustafa commented on #20642
@josh11b this is about grouping multiple scaffolds. Based on desired outcome, either scaffold._user_init_fn should be used or a lambda should be created which a dummy first argument.
Could you please take a look?

[2018-08-07 21:08] asimshankar commented on #21433
@jvdillon - might I trouble you to triage?

[2018-08-07 21:10] pvn25 commented on #19354
@kingofthebongo2008 I believe you mean in the tf_core_kernels project,  "Configuration Properties > Linker > Debugging> Generate Debug Info" set to No.  However, I do not see the Linker tab in the "tf_core_kernels" project. Am I missing something?

[2018-08-07 21:47] drpngx commented on #20571
@protoget Any thoughts on this?

[2018-08-07 21:48] ispirmustafa commented on #20478
@jperl could you please update the thread?
thanks

[2018-08-07 21:52] ccolby commented on #16227
I can't reproduce your problem.

'1.9.0'

['ALL_DISTANCES', 'CLUSTER_CENTERS_VAR_NAME', 'CLUSTER_INDEX', 'COSINE_DISTANCE', 'KMEANS_PLUS_PLUS_INIT', 'RANDOM_INIT', 'SCORE', 'SQUARED_EUCLIDEAN_DISTANCE', '__class__', '__delattr__', '__dict__', '__doc__', '__format__', '__getattribute__', '__hash__', '__init__', '__module__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__si

[2018-08-07 21:53] ewilderj commented on #19554
Hi @llhe — please don't use TensorFlow GitHub issues for promotional purposes, it's off-topic. We are glad that there are many competing open source frameworks, but let's stay on-topic for TensorFlow assistance within the TensorFlow Github organization. That will help us all use our time most efficiently to help users.

[2018-08-07 21:54] ewilderj commented on #663
Hi @llhe — please don't use TensorFlow GitHub issues for promotional purposes, it's off-topic. We are glad that there are many competing open source frameworks, but let's stay on-topic for TensorFlow assistance within the TensorFlow Github organization. That will help us all use our time most efficiently to help users.

[2018-08-07 21:59] drpngx commented on #20976
OK closing since there is a resolution. If you're unhappy about `class_map`, feel free to open another PR.

[2018-08-07 21:59] #20976 closed

[2018-08-07 22:01] pkulzc commented on #21320
I sent out the PR to fix this. A relevant FAQ question is also added to help understand this issue.

[2018-08-07 22:02] cnsmth opened #21459 "Changing optimizer of restored network messes up training output"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
 Ubuntu 16.04.2 LTS (GNU/Linux 4.4.0-130-generic x86_64)

- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
N/A

- **TensorFlow installed from (source or bin

[2018-08-07 22:02] drpngx commented on #19904
@mhyttsten could you take a look?

[2018-08-07 22:05] drpngx commented on #21326
@kishore0905 did that work for you?

[2018-08-07 22:12] ybsave opened #21460 "Keras load weights does not work"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Y
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command

[2018-08-07 22:14] protoget commented on #20571
tf1.2 doc on this is deprecated. We started to have more usable CudnnRNN classes since 1.6.

It probably doesn't help you achieve much by querying the size of opaque params, which is subject to change depending on cudnn version.

To share params between CudnnLSTM and CudnnCompatibleLSTM, one could export a CudnnLSTM checkpoint and import into a CudnnCompatibleLSTM graph. Check this unittest for an

[2018-08-07 22:17] drpngx commented on #9506
We are now at 1.10 I believe, could you try that?

[2018-08-07 22:20] drpngx commented on #21407
@meteorcloudy @damienmg this looks like a bazel mac configuration error?

[2018-08-07 22:26] nmerino opened #21461 "Bazel cannot find Tensorflow"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 17.10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command

[2018-08-07 22:37] anj-s commented on #21389
Thank you lgeiger@ for filing the issue! This error was raised due to support not being added for multiple inputs and targets. I am working on a fix and will update this issue as soon as the fix is in.

You mentioned running into this issue when using dictionary as input. Currently DistributionStrategy requires a Dataset object as input to fit, evaluate and predict. Can you clarify how you were pa

[2018-08-07 22:42] allenlavoie commented on #21460
Sorry you ran into this. There was a bug with when restore ops got run when graph building; the correct behavior was to mimic eager execution (run restore ops in the Session as they came in), but they were getting run just once instead (which probably interacts with Sequential building immediately here).

Your snippet works for me in the 2018-06-28 nightly. The fix was https://github.com/tensorflo

[2018-08-07 22:42] qinyao-he commented on #20780
@aaroey I still have the same issue with this PR merged. Although not core dumped, it end up with not changing the graph. The log information shows failed in TensorRT engine creation.

[2018-08-07 22:49] aaroey commented on #20780
@qinyao-he since it's different from this issue, would you please file a separate issue for that?
Thanks.

[2018-08-07 23:12] ispirmustafa commented on #17951
handling errors with hooks may not have that straightforward/clear usage. Instead I would recommend using multiple sessions something like following:

You can run some ops at the end of training by using `end` function of `SessionRunHook`
[code]

Please let us know this works or not

[2018-08-07 23:27] chtran opened #21463 "Keras model with SparseTensor as inputs"
I'm trying to setup a Keras model with sparse input:

[code]
This fails with
[code]

It seems to me that tensorflow/python/keras/utils/tf_utils.py:get_reachable_from_inputs doesn't recognize SparseTensor as a correct input type. Is there anyway to setup a Keras model with sparse input?

[2018-08-07 23:32] jgberg commented on #19071
yes

On Wed, Aug 1, 2018 at 1:07 PM achowdhery <notifications@github.com> wrote:

[2018-08-07 23:32] angersson commented on #10179
This should go away when https://github.com/tensorflow/community/pull/8 gets implemented.

[2018-08-07 23:33] allenlavoie commented on #21460
You're right, 20180802 was the one that worked. 20180628 was broken. I don't expect a regression, so anything from August should work.

Looks like the only August Windows builds are CPU: https://pypi.org/project/tf-nightly/1.10.0.dev20180802/#files

[2018-08-07 23:35] angersson commented on #19003
@av8ramit Yeah. Actually, the implementation of the proposal (linked from the proposal) does fix this.

[2018-08-07 23:35] angersson commented on #19430
Thanks for the update! Since this looks like it's been resolved, I'm closing the issue.

[2018-08-07 23:35] #19430 closed

[2018-08-07 23:36] angersson commented on #21395
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-08-07 23:36] #21395 closed

[2018-08-07 23:37] angersson commented on #21381
@sabhiram Thanks for the help!

This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there (and it also supports helpful members of the community a bit better than we can here).

If you think we've misinterpreted a bug, please comment again with a clear

[2018-08-07 23:37] #21381 closed

[2018-08-07 23:37] angersson commented on #21345
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-08-07 23:37] #21345 closed

[2018-08-07 23:38] gragundier commented on #21427
@av8ramit Then, I've got a question.  Recently, the regular raspberry pi tf binary's tflite interpreter didn't work because of an armv7 optimization bug.  Turns out, I could pull the latest pi-zero binary compilation and use that instead.  I understand this isn't a problem with other hardware: "Broken tf-nightly version? Roll it back to a stable release." But with Raspberry Pi's I can use either t

[2018-08-07 23:38] angersson commented on #21363
Thanks @facaiy! I'll mark you as the assignee while we wait for #21428 to go in.

[2018-08-07 23:40] ybsave commented on #21460
Thank you for the clarification. Do you know whether there be any Windows builds for tensorflow GPU version soon?

[2018-08-07 23:40] angersson commented on #21338
Thanks @ppwwyyxx! I marked this as "Contributions Welcome" since you're looking at it.

[2018-08-07 23:47] angersson commented on #21309
@petewarden Can you take a look at this?

[2018-08-07 23:48] angersson commented on #20771
@gunan Can you comment on this? Where do these files live now?

[2018-08-07 23:51] cy89 commented on #21303
@sunjeet95 is this a bug? Did your system crash? Or are you just worried about memory use but you're able to keep working?

[2018-08-07 23:52] angersson commented on #20989
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-08-07 23:52] #20989 closed

[2018-08-07 23:53] allenlavoie commented on #21460
@av8ramit are we planning to do Windows GPU nightly builds?

[2018-08-07 23:53] cy89 commented on #21255
@dhingratul can you please add the op-not-found error trace to the bug?

And have you tried searching Stack Overflow with its signature?

[2018-08-07 23:54] alanpurple commented on #21427
@gunan
b'v1.10.0-rc1-12-gbae6aeffc0'

[2018-08-07 23:57] sunjeet95 commented on #21303
@cy89  Yes my system did crash after memory reached it maximum with terminal saying Killed!

[2018-08-07 23:59] cy89 commented on #21229
@nealwu it looks like you last updated the documentation on this complexity. Can you please comment on the Note->Warning request from @hsgkim, and either address or reassign to someone who owns this interface?

[2018-08-08 00:00] cy89 commented on #21174
@fchollet PTAL.

[2018-08-08 00:01] cy89 commented on #21110
@mengfanyu1991 could you please fill in the form, and give us enough data to be able to reproduce your problem?

[2018-08-08 00:04] av8ramit commented on #21460
@allenlavoie we are in the process of migrating to bazel from cmake. Hopefully that fixes that build.

[2018-08-08 00:04] csitaula commented on #21442
Thanks, I fixed the problem! I used model inside loop in my coding! I changed it and kept outside of loop for multiple images and now, it worked.

[2018-08-08 00:04] cy89 commented on #21081
@samikama not clear whether this is a bug or working-as-intended. Would you please take a look?

[2018-08-08 00:10] ppwwyyxx commented on #21338
@angersson No I'm not. I can fix the pooling ops but I expect TF team to find out why the tests did not detect such failure.

[2018-08-08 00:11] cy89 commented on #20016
@wenching33 does it work for you now?

[2018-08-08 00:11] samikama commented on #21081
It looks like @snownus created the engine with a batch size smaller than the execution time. Either a bigger batch size should be used or dynamic op should be generated.

[2018-08-08 00:16] cy89 commented on #19670
@yifeif could you PTAL?

[2018-08-08 00:24] amtagrwl opened #21464 "StridedSlice (OpKernel was found, but attributes didn't match)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-08-08 00:40] mrry commented on #20986
I recently added `tf.contrib.data.get_next_as_optional()` (9811b72df7347a4ec2ee884a2165775340d70e75), which makes it possible to consume values from an iterator in a `tf.while_loop()` without raising an exception at the end of the sequence. This should make it possible to implement your RL use case.

As I commented on #20255, we have no plans to add `Iterator.has_next()`, but a combination of `tf.

[2018-08-08 00:40] #20986 closed

[2018-08-08 00:59] EdwardLin2014 commented on #21432
**I guess the bug is at the QR Algorithm.** I guess tq.orthogonal_initializer and tf.qr share the same algorithm. So tf.qr also cause this bug.

To illustrate, I base on the code https://github.com/tensorflow/tensorflow/blob/r1.9/tensorflow/python/ops/init_ops.py
and I re-implemented/simplified my code as follow
[code]

[2018-08-08 01:29] sjain-stanford commented on #21345
Thanks @angersson for checking on this. I think this can be classified as a bug, since it is breaking the code that is supposed to otherwise run, and does run normally on an earlier version (1.7). The details from the issue template are all populated. Please try to re-create it at your end to see how this actually affects the forward compatibility of the codebase written for 1.7.

As long as the c

[2018-08-08 01:46] pcub commented on #21230
Hi @achowdhery, can u see any problem?
here is the model visualization:
[model_graph.dot.pdf](https://github.com/tensorflow/tensorflow/files/2268640/model_graph.dot.pdf)

[2018-08-08 01:52] tensorflowbutler commented on #21446
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
Bazel version
Exact command to reproduce
Mobile device

[2018-08-08 01:52] tensorflowbutler commented on #21447
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-08 02:32] dingsiyu opened #21467 "FP16 Batch Matmul still does not run"
**System information**

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Slightly.

OS Platform and Distribution : centos6.3

TensorFlow installed from: conda

TensorFlow version (use command below): v1.8.0(it already has the code TF_CALL_half(REGISTER_BATCH_MATMUL_GPU);)

Python version: 3.6

CUDA/cuDNN version: 9.2

GPU model and memory: V100

Exact

[2018-08-08 02:46] vee367 commented on #9506
I tried with the latest versions but the error was still there..

[2018-08-08 02:47] facaiy commented on #21204
I'm interested in the issue, and I'd like to take a try :-)

[2018-08-08 02:49] 333caowei commented on #21357
Can anyone help？

[2018-08-08 02:59] lichuanzong opened #21468 "typeerror"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-08-08 03:04] #19852 closed

[2018-08-08 03:04] Yayong-guan commented on #19014
@G-mel , can you quantize MobileNetV2 with multi gpu trainning,  i can  quantize with only one gpu，multi gpu will get NotFoundError key.

[2018-08-08 03:10] jasonachonu commented on #21067
I would be glad if you can help resolve this issue, as am stuck on my work
because of it. Please let me know if you need more info.

On Tue, Aug 7, 2018 at 3:13 PM, Alfred Sorten Wolf <notifications@github.com

[2018-08-08 03:40] Zrachel commented on #21467
I meet the same problem, with code:
[code]

, tf 1.8.0 shows:
[code]

Environment:
python 2.7
tf 1.8.0 installed from pip (pip install tensorflow-gpu==1.8.0 -t $PYTHONHOME/lib/python2.7/)
V100,  driver 396.26
cuda9.2,  cudnn7

[2018-08-08 03:47] kishore0905 commented on #21326
i tried with tf-nightly in both the systems but the problem still persist

[2018-08-08 04:36] prasanna532 commented on #21447
OS Platform and Distribution - Windows
TensorFlow installed from - https://github.com/tensorflow/tensorflow.git
TensorFlow version - 1.10.0rc
Bazel version - NA
CUDA/cuDNN version - NA
GPU model and memory -NA
Exact command to reproduce - NA
Mobile device - OnePlus3, Mi, Samsung J6, Samung J7

[2018-08-08 04:53] gragundier commented on #21427
@av8ramit it has absolutely nothing to do do with the topic and I don't see a DM feature.  Let me open a new issue and we can stop pestering alanpurple.  And yes, you're right on the money.

[2018-08-08 05:02] graviteja8888 commented on #20341
Hi aselle,
Even if I upgrade my bazel to 1.10.0, issue still remains.

[2018-08-08 05:09] gragundier opened #21469 "ci.tensorflow.org is now deprecated. Where can I get nightly builds for pi-zero AND regular pis when I only have a pi3?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Raspbian Stretch 9
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:Raspberry Pi 3 Model B
- **TensorFlow installed from (source or binary)**:latest pi-zero nigh

[2018-08-08 05:44] pumpkinband commented on #21449
Tried both the things but 'numpy' isn't installing.

[2018-08-08 05:46] rabiaqayyum commented on #20994
@shivaniag thank you for the response but now i am using tensorflow dependency in android studio for inference. Can you please guide me that am i going in right direction or not? Using .jar and .so files is necessary or adding the dependency can do the same for me? I am a newbie for deep learning and tensorflow

[2018-08-08 06:00] songmeixu commented on #15625
@nullian  I have the same issue as you, have you solved this problem?

[2018-08-08 06:09] gunan commented on #21427
@alanpurple I suspect this is due to 1.10 official still not being out, and the tag not being generated in our repo.
May I ask, why do you need the package with 1.10 label before we release the official 1.10?

[2018-08-08 06:30] gunan commented on #20771
ci.tensorflow.org is deprecated.
We are working with tf mobile team to get the android builds back to healthy state and export the artifacts.

[2018-08-08 06:45] tensorflowbutler commented on #21454
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-08 06:46] tensorflowbutler commented on #21455
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Mobile device

[2018-08-08 06:46] tensorflowbutler commented on #21458
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-08 06:46] tensorflowbutler commented on #21463
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-08 06:56] alanpurple commented on #21427
@gunan

That's not what "I need"
I just report this because your repo says " 1.10 " and actually is not

https://github.com/tensorflow/tensorflow/commit/d2af5d50b6255c4bc76b9e9fc516a0aa027efe6d
this is just a report, not my problem

[2018-08-08 07:03] #20991 closed

[2018-08-08 07:06] bharat8766 commented on #7652
Here is the solution:

tf.logging.set_verbosity(tf.logging.ERROR)

[2018-08-08 07:43] haifenghan commented on #21328
When running the following example code, I get error message which doesn't exist in TF 1.8.

[code]

Error is as follow:
[code]

[2018-08-08 07:50] janstrelka commented on #20547
I found out I have legacy core i5 CPU without AVX support that caused the issue. You may ignore my comment. Thanks for help.

[2018-08-08 08:33] danielwatson6 commented on #20571
@protoget That makes sense. There's a [related issue](https://github.com/tensorflow/tensorflow/issues/20273) I opened about putting this in documentation, rather than making users have to read source to know how to use these classes. I'll close this given your explanation.

[2018-08-08 08:33] #20571 closed

[2018-08-08 08:39] Windaway opened #21470 "NCCL is not supported on Windows"
------------------------
### System information
Windows 10 x64 pro 17314.365, i7 7900X R6E, TTxp (*4), 16G DDR4 3000@2666 (*6)
Channel .
Tensorflow 1.9.0 with AVX2 simd, CUDA9.2.148, Cudnn7.1.4, py3.6.6 , VS2017 15.7(with cmake), CP/SM6.1

### Describe the problem
Op type not registered 'NcclAllReduce' in binary running on Windows10.
With onedevicestrategy no problems. I noticed that NCCL only wor

[2018-08-08 08:46] Zark02 opened #21471 "N_class from DNN estimator Problem"
`assertion failed: [Label IDs must >= 0]`
I am getting this class again and again and i can not understand why.
Please tell me what is label and n_class?
i have 3 labels and they are asking me to make n_class greater than labels. When i do it, it does not do anything.

[2018-08-08 09:01] suraneti opened #21472 "RuntimeWarning: compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.7"
**Environment:**
-  MacOS (High Sierra)
-  Python 3.7
-  Tensorflow 1.9.0

After I've imported tensorflow, I've got warning message link this
`RuntimeWarning: compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.7`

And I've tried to run demo.py from this repo https://github.com/mystic123/tensorflow-yolo-v3
still got error message
 `Syst

[2018-08-08 09:01] arc13-13 commented on #18974
add --user flag.  this worked for me.

[2018-08-08 09:02] rharish101 commented on #20517
I'm facing similar issues when building from source too, using python 3.7 in Arch Linux.
[code]
My system configuration is:
OS Platform and Distribution: Arch Linux
Python: Python 3.7.0
TensorFlow installed from: source (https://github.com/tensorflow/tensorflow.git), master branch
TensorFlow version: TensorFlow 1.9.0
Bazel version: 0.16.0
CUDA/cuDNN version: CUDA 9.2
GPU model and memory: NVIDIA G

[2018-08-08 09:29] jyoungyun opened #21473 "Do not generate LSTM op by incorrect param check logic"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: x
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use

[2018-08-08 09:31] freedomtan commented on #21332
@psyhtest FYR, I was able to build pip package for Python 3.6 last week, so mostly it's problem of your environment?

[2018-08-08 09:31] ShubhamSrivastava93 commented on #20691
Hi @raghuraman-k. I can't switch to mobilenet because of my project requirements. The size of converted .tflite is below :
[code]
I did not see any size difference

[2018-08-08 09:51] DavideCatto opened #21475 "FusedBatchNorm problem during benchmark test"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: None
- **TensorFlow installed from (source or binary)**: 1.9
- **TensorFlow version (use command b

[2018-08-08 09:55] ShubhamSrivastava93 commented on #20691
can I expect implementation of required ops ( RSQRT, Dequantize, ReorderAxes) in coming TFLite version ?

[2018-08-08 10:02] malsulaimi commented on #21454
Have I written custom code:N/A
OS Platform and Distribution :macOS Sierra 10.12.6
TensorFlow installed from : tensforflow.org
TensorFlow version: TensorFlow Version: 1.3.0
Bazel version: NA
CUDA/cuDNN version:NA
GPU model and memory:NA
Exact command to reproduce:NA
Mobile device:NA

[2018-08-08 10:27] elihuan1990 commented on #18736
I have the same issue.the reason is that I didn't install CPU acceleration. Don't use "pip install tensorflow", use "conda install tensorflow". @reinaldocmendes

[2018-08-08 10:48] kontarsoma commented on #20444
Same issue here..would be awesome to know when a fix is going to be available for this issue :)

[2018-08-08 10:51] psyhtest commented on #21332
@freedomtan I can hardly call it "mine" :). It's a standard TX1 environment, and TX1 is a very popular board.

It's very disheartening to see that the TensorFlow community enables support for aarch64 platforms only one platform at a time (notably, only Raspberry Pi is properly supported).

[2018-08-08 11:10] songmeixu commented on #11847
@pks  hi, i encounter the error: `Op type not registered 'BlockLSTM' in binary`, when i load a graph.pb with LSTMBlockFusedCell. I am using android c++ api in a android project, the linked `libtensorflow-core.a` comes from `tensorflow/contrib/makefile/build_all_android.sh`. I want to know how to modify things under `tensorflow/contrib/makefile` to make the lib comprises contrib op(especially LSTMB

[2018-08-08 11:17] lemmaa commented on #21473
@jyoungyun , the attached image was broken. Would you please update it?

[2018-08-08 11:47] baluyotraf opened #21476 "Transforming a dataset pre-processing to an inference graph"
If we are working with data with fixed dimensions we can easily load the data in a dataset using from_tensor_slices. Thus, when working on inference, we can use a placeholder that will give the dataset the numpy array.

When working with data with varying dimensions (text and a like) most of the answers I've seen suggest using the from_generator function and it works. However there doesn't seem to

[2018-08-08 12:07] CNugteren commented on #17823
Any updates? This is also something I am interested in, since `tf.slice` could be a way to do `tf.random_crop` on the GPU (e.g. as explained [on this blog](http://tech.donghao.org/2018/07/27/do-tf-random_crop-operation-on-gpu/)).

[2018-08-08 12:09] jperl commented on #20478
Closing. We switched away from feature columns.

[2018-08-08 12:09] #20478 closed

[2018-08-08 12:10] petewarden commented on #19768
There's some documentation on the process of adding ops here:
https://www.tensorflow.org/mobile/prepare_models

It's not very easy to do unfortunately, so we are working on improvements for TensorFlow Lite.

[2018-08-08 12:10] #19768 closed

[2018-08-08 12:41] MohammadMoradi commented on #19384
Hi, I have the same problem. I managed to implement object detection with my own model but I get the error tensorflow_demo.so is not found and so the tracking support cannot be enabled. I've download the package and replace it to jniLibs folder of my app and I haven't change the default app name. Still the error exists. Could you please help me?
How can I build my own tensorflow_demo.so?

[2018-08-08 12:58] lgeiger commented on #21389
@anj-s Awesome to hear that you're working on this.

Sorry for the confusion. I was using a Dataset with a dict instead of a tuple for the first input.
Here is a updated test case, that covers the behavior:
[code]

[2018-08-08 13:07] carlthome commented on #21178
Just ran into this too. Is it just a matter of replacing `t.get_shape()` with `tf.shape(t)`?

[2018-08-08 13:10] asimshankar commented on #21468
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). Please provide all the information it asks. Thank you.

[2018-08-08 13:10] #21468 closed

[2018-08-08 13:10] gary90231 opened #21478 "Implement "quantize_graph" will print "tf.estimator package not installed.""
Making quantization by using command "sudo bazel-bin/tensorflow/tools/quantization/quantize_graph ......." in the directory of tensorflow, and it will input "tf.estimator package not installed." And in this directory, implemt "python->import tensorflow", it will return error message. But in other directory, implemt "python->import tensorflow", it will be normally. The folllowing is my envirnment i

[2018-08-08 13:16] freedomtan commented on #21332
@psyhtest I guess no Google TensorFlow guys are really working on AArch64 linux platforms. That's why nobody reviewed the PR I sent in in Jan. Yes, RPI 3s are on ARMv8 SoC, but Raspbian for RPI 3 is actually running AArch32 kernel and user space. I started building TensorFlow on ARM64 Debian env because I wanted to have better debugging and profiling env than Android AArch64 devices.

The Debian r

[2018-08-08 13:30] SukwooH commented on #6082
This is the result I got although I employed virtual machine...

![screenshot from 2018-08-08 15-25-00](https://user-images.githubusercontent.com/33311950/43840039-f2657e48-9b1f-11e8-8d36-ecbe5477d00f.png)

[2018-08-08 13:45] #21153 closed

[2018-08-08 14:38] natalieharris commented on #11831
Yes, this has now been fixed

[2018-08-08 15:03] thyeun commented on #20444
@richardARPANET issue is we won't know what will happen before upgrade python 3.7, because nobody will go and check each module either it is compatible or not.

And due to that, after upgrade to python 3.7, everything become nightmare.

[2018-08-08 15:10] richardARPANET commented on #20444
@thuyen isn't that why automated tests exist?

[2018-08-08 15:16] ybsave commented on #21460
@av8ramit Thank you for your update. Once the new build is available, I will test it and report the results here.

[2018-08-08 15:25] BonaventuraLabs commented on #20569
The same issue;
Ubuntu 18.04; Intel i7-7820X .
cuda 9.2
tensorflow-gpu 1.9.0
cudnn 7.2 (also tried 7.1).

[2018-08-08 15:41] asimshankar commented on #21391
Will look into it.
Some possibly useful background information can be found in https://stackoverflow.com/questions/51698096/from-design-perspective-why-arent-the-error-messages-in-eager-and-in-graph-mod/51735894#51735894

[2018-08-08 15:46] wf-ai commented on #21141
I have  the same issue ,using ssd_resnet50_v1

[2018-08-08 15:48] #20625 closed

[2018-08-08 15:54] asimshankar commented on #21141
Could you provide more context about what you're doing? Ideally a [minimal, comete, verifiable example](https://stackoverflow.com/help/mcve).

Without additional context, it's hard to provide help.

The error itself is suggesting that the model you're trying to checkpoint has no trainable parameters

[2018-08-08 15:59] githubharald commented on #21051
YES

[2018-08-08 16:17] HughKu commented on #21199
Hey guys, I sent a PR to fix this [#5032](https://github.com/tensorflow/models/pull/5032).

[2018-08-08 16:31] MarkDaoust commented on #21199
Merged. Thanks!

[2018-08-08 16:31] #21199 closed

[2018-08-08 16:36] allenlavoie commented on #21156
Not at the moment. I have changes pending to configure garbage collection of checkpoints (will probably be a separate object), and for other ways of numbering checkpoints. Did you have something else in mind?

[2018-08-08 16:40] #20829 closed

[2018-08-08 16:50] jubafourali commented on #19216
yes, install old version solved this. Thanks @loboere .

[2018-08-08 16:50] pks commented on #11847
@songmeixu Have a look at this #12566

[2018-08-08 16:57] amadupu opened #21482 "tf.nn.embedding_lookup_sparse without combiner, to get result similar to tf.nn.embedded_lookup using dense input params"
I would like to undrestand if `tf.nn.embedding_lookup_sparse` with sparse tensor can be used to get result similar to `tf.nn.embedded_lookup ` which requires dense representation of sparse tensor.

Currently im converting the sparse tensor to dense tensor (using `tf.sparse_tensor_to_dense`) and suppling the same as input to  `tf.nn.embedded_lookup `. This works well as expected

However from the n

[2018-08-08 17:11] toby-w commented on #17022
@ramaakkantvdas try downgrading to python 3.6 as suggested by @jaiken06. This worked for me as well.

[2018-08-08 17:12] MarkDaoust commented on #21172
Yes. This is a good idea.

The RNN tutorials need an update. We should make this a part of that update.

#18405

I'm going to close this as duplicate and, make this part of that bug.

[2018-08-08 17:12] #21172 closed

[2018-08-08 17:29] reedwm commented on #21405
/CC @anj-s, can you take a look?

[2018-08-08 17:31] anj-s commented on #21405
I am currently working on fixing this issue. Here is duplicate bug which I believe is the same issue: https://github.com/tensorflow/tensorflow/issues/19551

[2018-08-08 17:33] reedwm commented on #21163
Closing since this is caused by a network issue

[2018-08-08 17:33] #21163 closed

[2018-08-08 17:41] reedwm commented on #20531
Closing this since the original issue has been solved.

[2018-08-08 17:41] #20531 closed

[2018-08-08 17:51] reedwm commented on #19775
/CC @gunan, any ideas why Python 2 and Python 3 would have numerical differences, leading to different results on Inception v3?

[2018-08-08 17:54] reedwm commented on #19986
Closing due to inactivity. If this is still an issue, please file a new issue with the issues template filled out.

[2018-08-08 17:54] #19986 closed

[2018-08-08 18:04] mengxingxinqing opened #21484 "the url is invalid, maybe you need to update it"
The answer to the question is invalid. Can you update it?

[2018-08-08 18:05] #21484 closed

[2018-08-08 18:06] mengxingxinqing commented on #25
The url of answer to the question is invalid. Can you update it?

[2018-08-08 18:06] gunan commented on #19775
Python 2 and python 3 have quite a bit of differences. Here is a small number of them:
https://www.geeksforgeeks.org/important-differences-between-python-2-x-and-python-3-x-with-examples/

So it can really be as simple as division operator behaving differently, or maybe the two different python distros rounding numbers differently, or random number generators behaving differently. There are a lot

[2018-08-08 18:08] ybsave opened #21485 "Keras save_weights/load_weights error for custom layer"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Y
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **Tensor

[2018-08-08 18:11] feihugis commented on #20661
@weberxie Thanks for your code and comments. I also met a similar problem. Do you know why the model's warm-up consumes that much time? Is there any way to warm up the model in advance before `_session->Run`?

[2018-08-08 18:16] Htiango commented on #4279
@Tomhouxin did you solve it? I did the execution and still met the problem

[2018-08-08 18:29] aselle commented on #21175
@nitheeshmuthuraj  Glad you got it to work. Thanks for reporting back solutions; we really appreciate help the community. Also, we're close to supporting windows, and we'll update this when it's fully working.

[2018-08-08 18:29] aselle commented on #20904
@ChaosYang, could you submit a PR, please! That would be awesome.

[2018-08-08 18:32] chtran commented on #21463
OS Platform and Distribution: unix
TensorFlow installed from: pip install
TensorFlow version: 1.9.0
Bazel version: NA
CUDA/cuDNN version: NA
GPU model and memory: NA
Exact command to reproduce: pasted above
Mobile device: NA

[2018-08-08 18:33] allenlavoie commented on #21485
`get_config` is for Python state associated with the Layer. TensorFlow variables are saved separately, so the error is because there's no pickling defined for them.

Otherwise I assume this is the same issue as https://github.com/tensorflow/tensorflow/issues/21460 ? Or can you reproduce on a more recent build?

[2018-08-08 18:34] aselle commented on #16624
Sorry this isn't resolved, @llyyun, could you please provide a reproducible test case so we can see the model architecture and exact shapes?

[2018-08-08 18:37] aselle commented on #21429
@gargn , PTAL.

[2018-08-08 18:39] aselle commented on #20994
You can use an aar of tflite to do mobile inference. Please look at the tflite documentation https://www.tensorflow.org/mobile/tflite/

[2018-08-08 18:42] aselle commented on #17628
YC, do you maintain the cocoapod for tf mobile?

[2018-08-08 18:42] ybsave commented on #21485
@allenlavoie Thank you for your response. For #21460, the bug is from loading weights. For this one, if I enable "get_config()", the crash happened during save_weights(). Therefore, I submitted this new issue.

I do not quite understand the issue. Do you mean that I cannot use get_config() for my custom layer? However, I see some online discussions claiming they use "get_config()" without any issu

[2018-08-08 18:48] aselle commented on #21469
This should be easy now with the latest effort to make raspberry pi officially supported?
Does this address your needs? (not sure if it makes it easy to get the nightly?)
https://medium.com/tensorflow/tensorflow-1-9-officially-supports-the-raspberry-pi-b91669b0aa0

[2018-08-08 18:48] wdirons commented on #19693
Unable to recreate using the new CI/CD process of calling ci_build.sh using the latest master branch of Tensorflow code.

[2018-08-08 18:54] wdirons commented on #20361
Fixed with PR #20744

[2018-08-08 18:54] #20361 closed

[2018-08-08 18:56] tensorflowbutler commented on #21470
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-08 18:56] tensorflowbutler commented on #21471
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-08 18:56] tensorflowbutler commented on #21472
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-08 18:56] tensorflowbutler commented on #21476
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Mobile device

[2018-08-08 18:56] tensorflowbutler commented on #3636
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:56] tensorflowbutler commented on #14699
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:57] tensorflowbutler commented on #18000
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:57] tensorflowbutler commented on #18316
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-08 18:57] tensorflowbutler commented on #18676
Nagging Assignee @benoitsteiner: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:57] tensorflowbutler commented on #19360
Nagging Assignee @girving: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:57] tensorflowbutler commented on #19390
Nagging Assignees @drpngx, @tfboyd: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:57] tensorflowbutler commented on #19742
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-08 18:57] tensorflowbutler commented on #19911
Nagging Assignees @fchollet, @pavithrasv: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:57] tensorflowbutler commented on #20225
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-08-08 18:57] tensorflowbutler commented on #20240
Nagging Assignee @rohan100jain: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:58] tensorflowbutler commented on #20241
Nagging Assignee @shivaniag: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:58] tensorflowbutler commented on #20263
Nagging Assignee @tatatodd: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:58] tensorflowbutler commented on #20280
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-08 18:58] tensorflowbutler commented on #20407
Nagging Assignee @rmlarsen: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:58] tensorflowbutler commented on #20579
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-08 18:58] tensorflowbutler commented on #20589
Nagging Assignee @asimshankar: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:58] tensorflowbutler commented on #20629
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-08 18:58] tensorflowbutler commented on #20638
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-08 18:58] tensorflowbutler commented on #20866
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-08 18:58] tensorflowbutler commented on #20964
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:58] tensorflowbutler commented on #20975
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:58] tensorflowbutler commented on #20987
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-08 18:59] tensorflowbutler commented on #20999
Nagging Assignee @tanzhenyu: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:59] tensorflowbutler commented on #21037
Nagging Assignee @karmel: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-08 18:59] tensorflowbutler commented on #21093
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-08 19:01] reedwm commented on #20428
Marking as contributions welcome to remove warnings, since no one internally is working on it.

[2018-08-08 19:13] #20987 closed

[2018-08-08 19:19] yifeif commented on #19670
@khanh1412 could you try an older version of gcc based on this https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#system-requirements ?

[2018-08-08 19:39] tanzhenyu commented on #20999
still in review.

[2018-08-08 19:43] karmel commented on #21037
Based on the above, there appears to be a mismatch between the checkpoint you are loading and the code you are trying to run. I would recommend starting with the tutorials provided in the Object Detection directory, and, if you have problems with those, please open a question with that repository or on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow). Thanks.

[2018-08-08 19:43] #21037 closed

[2018-08-08 19:45] mancoast commented on #22
OpenCL support please!

[2018-08-08 19:46] karmel commented on #21476
There are several ways to handle data transformation during inference. The best method depends on the model you are using and the context for inference. Are you running inference using a serving system like tf-serving? In Python? Using Estimator or Keras? Any other relevant details you can provide?

[2018-08-08 19:52] gunan commented on #21427
Thanks for the report. The version string generation mechanism is actually more than just what is at the repo. Once all the git tags are created, and release is finalized, this will be pointing to 1.10.

I will close this issue for now.

[2018-08-08 19:52] #21427 closed

[2018-08-08 19:55] gunan commented on #25
For nightly pip packages, recommended way to install is to use `pip install tf-nightly` command.
ci.tensorflow.org is deprecated.

[2018-08-08 20:02] iliTheFallen commented on #21405
@anj-s , yes it is true. It is exactly the same issue. So you want to merge them? Or close  both of them after you fix it? Another question of mine is whether you will have the fix in 1.10?

[2018-08-08 20:05] av8ramit commented on #21449
I recommend filing this issue on the [numpy](https://github.com/numpy/numpy/issues) repository as they will have a better idea of how to help you. After you get that working please comment or open a new issue if there is any issue with the TensorFlow portion.

[2018-08-08 20:05] #21449 closed

[2018-08-08 20:12] av8ramit commented on #21339
A few users have claimed using conda instead of pip install helped with Windows python3.5 issues. Can you try that?

[2018-08-08 20:13] allenlavoie commented on #21485
I just mean that including variables in get_config() (`{'mask': self.mask}`, where `self.mask` looks like a variable) is unusual and not supported. Putting `dimension` and defining a `from_config` method which re-creates `self.mask` is the usual path; `load_weights` will then load the variable automatically. But you can load the weights without defining `get_config` or `from_config`.

[2018-08-08 20:16] reedwm commented on #19775
Thanks for the info! I'm surprised there is a difference in accuracy between Python 2 and 3, because these differences should not affect the result of a TensorFlow graph. But, there is a difference, so marking as contributions welcome if anyone wants to investigate this.

[2018-08-08 20:31] ybsave commented on #21485
@allenlavoie Thank you for your explanation. If get_config() should not work with a variable, then the problem seems to be same with #21460. I will close this issue then. If the problem still exists after trying the new build of Tensorflow, I will reopen this later. Thank you for your help.

[2018-08-08 20:49] qinyao-he opened #21487 "TensorRT Can't identify the cuda device"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command

[2018-08-08 20:52] qinyao-he commented on #21487
@aaroey

[2018-08-08 21:10] matt-garman opened #21488 "Tensorflow PIP Package fails to build - AttributeError: module 'pandas' has no attribute 'core'"
This may be a bug in the Python PIP build script(s), or something askew in my environment.  I am trying to build Tensorflow from source, to include AVX/AVX2 support.  It always fails with the error log pasted below.  I have tried the latest git pull over the last week or so (i.e. multiple git pulls, followed by "bazel clean ; bazel build <options>".  I have also tried the same with the r1.10 branc

[2018-08-08 21:14] yifeif commented on #18538
@oroojlooy is this still an issue for you? Could you check if there is tensorflow folder or tensorflow.py from where you were seeing the error?

[2018-08-08 21:15] dumorgan commented on #15332
Is it possible to do this inside model_fn which is passed to tf.estimator.train_and_evaluate and have the returned EstimatorSpec receive the SummarySaverHook?

[2018-08-08 21:25] martinwicke commented on #15332
Yes, set the evaluation_hooks field.

[2018-08-08 21:25] yifeif commented on #20113
@rohanjhanepal do you have MSVCP140.DLL is installed on your system as mentioned in #8385?

[2018-08-08 21:25] shoyer commented on #20816
I think this could be supported by implementing the `__float__` method.

[2018-08-08 21:26] martinwicke commented on #15332
I will close this issue -- I believe @iamtodor's solution works well. Please reopen a new issue if there's a significant use case that is not covered.

[2018-08-08 21:32] guptapriya commented on #20523
hey @karmel - thanks for bringing to attention. collective ops was added to tf_cnn_benchmarks by @poxvoculi and @yuefengz added them to the distribution strategy - will let them address why this is failing imports

[2018-08-08 21:48] shoyer opened #21491 "Consider automatic casting rules for promoting dtypes"
### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NA
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: NA
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA
- **TensorFlow installed from (source or binary)**: NA
- **TensorFlow version (use command below)**: u

[2018-08-08 21:49] superbobry opened #21492 "Public API to preempt tf.train.Server"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below

[2018-08-08 22:02] npow commented on #15943
I submitted a PR as per comments from @ebrevdo, which fixed the issue for me.

[2018-08-08 22:26] cvinson830 commented on #20597
@asimshankar Hi Asim, we'd like to augment a node in a neural network with this extra gpu information.  The node is associated with the NodeDef protobuf.  Question: How is a node in a neural network associated with NodeExecStats?

[2018-08-08 22:27] guptapriya commented on #21340
Hey @karmel, you're referring to this change right: https://github.com/tensorflow/tensorflow/commit/bbde9a6c47fedc35a03c90b85b9f301d643f6680#diff-76ab9dafbe12c20ddc3769c6b108986c

This change doesn't exist in 1.9 from what I can tell (the file you linked to is the 1.9 version right?). It doesn't have the changes from that commit. Also, that change should actually have no effect unless the new `ret

[2018-08-08 22:50] josh11b commented on #21409
I don't know of anyone explicitly working on the C++ API at this time, so I'm going to mark this as "contributions welcome". I believe there are some issues with providing C++ libraries as binaries, though, because in general it is hard to make stable C++ ABI.

[2018-08-08 23:07] omalleyt12 commented on #21463
Hi @chtran, thanks for submitting this issue. I was able to recreate the error and have a fix pending, I'll let you know when it is available in the nightly build

[2018-08-08 23:35] gragundier commented on #21469
No, there are two ways to compile for Raspberry Pi Non-zeroes (I'm talking 2,3,3b,3b+ etc):

1. tensorflow/tools/ci_build/ci_build.sh PI tensorflow/tools/ci_build/pi/build_raspberry_pi.sh PI_ONE
2. CI_DOCKER_EXTRA_PARAMS="-e CI_BUILD_PYTHON=python3 -e CROSSTOOL_PYTHON_INCLUDE_PATH=/usr/include/python3.4" \
tensorflow/tools/ci_build/ci_build.sh PI-PYTHON3 tensorflow/tools/ci_build/pi/build_raspberr

[2018-08-08 23:37] AmberWenZhong opened #21498 "bayesflow"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-08-08 23:41] gragundier commented on #21442
Then can you close the issue?

[2018-08-08 23:53] pathakrohit08 opened #21500 "Memory error with tensorflow GPU"
I have NVIDIA GPU Titan V installed on my remote machine and I am trying to do simple multi class lassification using CNN

`train_file = './data/csv_data.csv.zip'`
 `x_raw, y_raw, df, labels = data_helper.load_data_and_labels(train_file)`

here my csv_data zip file is 65MB .

`max_document_length = max([len(x.split(' ')) for x in x_raw])`
`logging.info('The maximum length of all sentences: {}'.for

[2018-08-08 23:56] av8ramit commented on #16660
I'm working on this. It should be available soon.

[2018-08-09 00:03] dhingratul commented on #21255
I was able to build the tensorflow_cc.so using cc_library in the main build file, and providing the path to the src and header files. But, my custom op also has .cu source files, if I add them to hdrs=[], it throws me an error and gives me the type of accepted file types. How do i make sure my .so is created with the cuda files ?

[2018-08-09 00:29] drpngx commented on #21461
That's neat, /CC @jonathanasdf .

@duggelz is there any way to debug this?

[2018-08-09 00:40] #21434 closed

[2018-08-09 00:44] drpngx commented on #19742
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-08-09 00:44] #19742 closed

[2018-08-09 00:50] jyoungyun commented on #21473
@lemmaa Thanks for letting me know. I updated image now.

[2018-08-09 00:59] #21442 closed

[2018-08-09 01:11] baluyotraf commented on #21476
I'm using the low level tensorflow API. As recommended I create 3 graphs for training, evaluation, and inference and I'm using the Dataset APIs to load my data.

If we are working with model inputs with similar lengths or dimension, you can do this.

`# x and y are uniformly sized numpy arrays
dataset = tf.data.Dataset.from_tensor_slices((x, y), ...)
dataset = dataset.map(...)
dataset = dataset.pa

[2018-08-09 01:26] rohan100jain commented on #21447
Can you please elaborate and provide explicit details of the problem you're facing. Explain to us what you tried to do, what the issue was and some error logs etc.

[2018-08-09 01:46] rohan100jain commented on #20521
So @mrry added some support recently that makes this go away. I ran the same piece of code with tf-nightly-gpu and seems to work.

https://github.com/tensorflow/tensorflow/commit/02ae1e2e781b8e049d1fc1ab7b52f6ee7edb4423#diff-3d32c23cf21d0adac13fdd28576dd6f9

Please test it and let me know if there is still a problem.

[2018-08-09 01:46] amtagrwl commented on #21464
@karmel Is there any other information that I should provide to help you locate the issue?

[2018-08-09 01:52] zchfaq opened #21501 "How to encrypt the tflite file？"
Now  I have my own tflite file，and I am worried that others will copy my file. I want to encrypt my tflite file，so even if others have my file，they cannot use it.
Is there a way to encrypt the file?

[2018-08-09 01:54] anj-s commented on #21389
Thank you for the example! This was very helpful to reproduce. I have a solution and will let you know as soon as the fix is in.

[2018-08-09 01:56] anj-s commented on #21405
Duplicate of #19551

[2018-08-09 02:21] xu-song opened #21502 "tf.train.Saver() will save both the checkpoint and meta-graph"
I found that, `tf.train.Saver()` will save both the `checkpoint` and `meta-graph`.
However in many tensorflow tutorial, it adopt the following usage:
[code]

# the following case

https://www.tensorflow.org/api_guides/python/meta_graph#Import_a_MetaGraph

[code]

# env
[code]

# background

I read the tensorflow docs, and search in stackoverflow.
I just find similar question, but no proper answer,

[2018-08-09 02:26] aaroey commented on #20139
1.10 is released and this particular problem is fixed there.

[2018-08-09 02:26] #20139 closed

[2018-08-09 02:38] tobegit3hub opened #21503 "Installing tensorflow-serving-api 1.9.1 makes the package of tensorflow unuseable"
### System information

== cat /etc/issue ===============================================
Darwin mbp-2.local 17.5.0 Darwin Kernel Version 17.5.0: Fri Apr 13 19:32:32 PDT 2018; root:xnu-4570.51.2~1/RELEASE_X86_64 x86_64
Mac OS X 10.13.4

== are we in docker =============================================
No

== compiler =====================================================
Apple LLVM version 9.1.0 (c

[2018-08-09 02:39] pvn25 opened #21504 "Linking of rule '//tensorflow/core/grappler/costs:analytical_cost_estimator_test' failed"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: source
- **TensorF

[2018-08-09 02:49] aawgit commented on #21228
I think I found the problem. I have included Tensorflow in REQUIRED_PACKAGES in the setup.py, trying to overcome a different issue faced earlier. After removing it, this error didn't appear. Many thanks to everybody, and sorry for taking your time on a problem in my end.

[2018-08-09 02:49] #21228 closed

[2018-08-09 02:57] tobegit3hub commented on #21503
I have tried and it works with `pip install tensorflow-serving-api-1.9.0` and doesn't work with `pip install tensorflow-serving-api-1.9.1`.

It seems that the package breaks from `1.9.1`.

[2018-08-09 03:35] huanyingjun opened #21505 "[TFLite] Is there any plan to support "ExtractImagePatches" and "Elu" ?"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: Samsung Galaxy)
- **TensorFlow installed from (source or binary)**:

[2018-08-09 03:46] MaeThird opened #21506 "export_tflite_ssd_graph_lib.py didn't work with 1.10.0-rc1 ?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Y
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux  4.17.11-arch1
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: None of them
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow ve

[2018-08-09 03:51] ramaakkantvdas commented on #17022
@toby-w , thanks , but it worked using this line : python -m pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl

TensorFlow works on Python 3.7

[2018-08-09 04:37] aaroey commented on #21487
@qinyao-he are you using tensorrt 4? The 1.9rc and 1.10 was built agains trt 3.0, so if you run with trt 4.0 there could be problem like this.

[2018-08-09 04:39] aaroey commented on #21487
It should print the loaded trt version before the first log message `Number of eligible GPUs (core count >= 8): 1` as shown above. If you want to use trt 4.0 would you please build from master? We plan to make trt 4.0 as the default in r1.11 but it'll take a while.

[2018-08-09 04:41] qinyao-he commented on #21487
@aaroey I actually use TensorRT 4, and I indeed build from master myself.

[2018-08-09 04:52] amadupu commented on #21482
Have I written custom code: Yes

`vs`

I would like the output shape to be similar to the embedding lookup

`Batch x  Max Words x Max Char x Char Feature Size`

OS Platform and Distribution: Windows
TensorFlow installed from: pip install tensorflow
TensorFlow version: 1.9.0
Bazel version: Unknown
CUDA/cuDNN version: NA
GPU model and memory: NA
Exact command to reproduce: NA
Mobile device: NA

[2018-08-09 05:27] av8ramit commented on #21498
Please add more information and reopen a new issue with all the above fields filled out.

[2018-08-09 05:27] #21498 closed

[2018-08-09 06:00] aaroey commented on #21487
Well I just managed to reproduce the problem using your script. It turns out the error was caused by another problem: the device is not set in the engine and the converter will use default cuda malloc for memory allocation during the conversion. I'll fix it.

As a work around, it should work if you add `with graph.device('gpu:0')` when building your model for training. Or you may read the `./log/f

[2018-08-09 06:34] Zark02 commented on #21471
Is it possible to put a range numbers of values under one label?
How to do that? I have research on internet but i could not find it. Any hint?
lets suppose i want to put 10,000 data under "+" operator. Now there are two ways, either i put 10,000 labels to 10,000 values which is a stupid approach or i can put all values under "+" operator. How to do that? And these values are totally different. Th

[2018-08-09 06:48] gunan commented on #20674
Sorry for the delay, I am trying to find and share a non-avx 1.8 pip package for you, but I have been quite busy lately.
I am sorry for the delay.

[2018-08-09 06:53] lgeiger commented on #21389
Sure, I'm happy to help. Thanks for working on this, I'm looking forward to the feature.

[2018-08-09 06:59] #10296 closed

[2018-08-09 07:09] gary90231 commented on #21478
Have I written custom code: N/A
CUDA/cuDNN version: Not supported when confugurate
GPU model and memory : Not supported GPU
Exact command to reproduce : N/A
Mobile device: In PC not in mobile device
Thank you.

[2018-08-09 07:10] iliTheFallen commented on #21444
@cy89 Do you have any update?

[2018-08-09 07:55] haifenghan commented on #21328
@marksandler2 I can't access google colab due to internet limitation. Sorry for this. Please try above reproducible example

[2018-08-09 08:08] lepangdan opened #21510 "tf.image.hsv_to_rgb cannot seem to compute gradient"
### Describe the problem
I found tf.image.hsv_to_rgb cannot seem to compute gradient. However, In principle, the hsv2rgb operation just a linear transformation. Ummm, I am not sure that whether I misunderstand the tf.image.hsv_to_rgb op, otherwise, this is a feature request.

### Source code / logs

    new_image_hsv = tf.random_normal(shape=[32,32,3])
    new_image_rgb = tf.image.hsv_to_rgb(new_i

[2018-08-09 08:08] muneebullahkhan commented on #3388
i run this code
import tensorflow as tf
# read and decode the image
image_contents = tf.read_file("~/Desktop/test.jpg")
image = tf.image.decode_jpeg(image_contents, channels=3)

with tf.Session() as sess:
    img = sess.run(image)
    print(img)
and give this flowing error how to fix it
NotFoundError                             Traceback (most recent call last)
~\Anaconda3\envs\tensorflow\lib\site

[2018-08-09 08:09] prasanna532 commented on #21447
@rohan100jain , There are no errors actually when i open the app application to detect camera is showing only 70 percent to the screen, like camera is not opening with fullscreen

[2018-08-09 08:10] muneebullahkhan opened #21511 "Hi i run the flowing code"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-08-09 08:14] wrongtest commented on #21338
At least in synchronous execution on gpu devices, whether the computation is buggy or not seems to be checked by OpContext's status, which requires OP developers to follow some error handling conventions, or else errors may "leak".

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/gpu/gpu_device.cc#L506-L508

I test to do some additional check here and recompile,

[2018-08-09 08:32] freedomtan commented on #21469
@gragundier if TF Lite related stuff compiled with optimization flags is what you need, I think something like
[code]
on your Pi devices works. Building the whole TensorFlow pip package on natively on Pi devices is painful. But building only TF Lite related code should be fine.

[2018-08-09 08:56] chiu0602 commented on #17217
Currently TensorFlow released Python package up to 3.6, I have met the same problem and success after using Python 3.6 instead of 3.7, wish this help..

[2018-08-09 09:01] freedomtan commented on #21198
@gragundier FYI, I was able to build pip package on RPI 3 w/ my one-line patch (https://github.com/tensorflow/tensorflow/pull/21109) and ran my label_image.py without problem.

[code]

[2018-08-09 09:06] mjchi7 opened #21513 "Keras callbacks: TensorBoard class does not have "embeddings" parameters."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-08-09 09:06] dieka13 commented on #17149
@jamieas sorry, it's been too long. I do not longer have access to the source code.

[2018-08-09 09:07] raminhalavati commented on #1095
Is there a document on what the 'grad' argument in the gradient operator do? (the |grad| in |_MeanSquareGrad(op, grad)|)

[2018-08-09 09:12] songmeixu commented on #17274
I am facing the same issue, look like `dynamic rnn` is a problem for `benchmark_model`. Any new progress?

[2018-08-09 09:14] lepangdan commented on #21510
I got it!  the transformation from HSV to RGB color space is not differentiable.

[2018-08-09 09:14] #21510 closed

[2018-08-09 09:38] sleighsoft commented on #21156
Currently I would just like to set the `max_to_keep` setting of `tf.train.Saver` to a different value.

[2018-08-09 09:45] Jylomaki commented on #21402
filled the field even though it's not technically and issue, and more of a feature request/proposition

[2018-08-09 10:01] EdwardLin2014 opened #21515 "BUG: optimizer.compute_gradients() produces inconsistent gradient with the same training instance and label"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu Server & Window 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow ver

[2018-08-09 10:06] psyhtest commented on #21332
Thanks @freedomtan. That perfectly matches my understanding.

As far as I know, NVIDIA do not recommend using TensorFlow on the TXs because it's slow and consumes too much memory. Google suggest to use TFLite now, but it seems to share the same build problems. Given the situation, I'd switch to an alternative framework e.g. MXNet or Caffe2, and recommend our community to do the same. If my respons

[2018-08-09 10:14] Henrystarstar commented on #17747
same error~ Error polling for event status: failed to query event: CUDA_ERROR_ILLEGAL_INSTRUCTION

[2018-08-09 10:37] JRMeyer commented on #20942
This is a friendly ping for @yuefengz and @drpngx :)

[2018-08-09 10:38] yegord commented on #19619
@samikama Ping.

In general, can anybody here share the roadmap for TensorRT support in TensorFlow: on what time horizon is tf.contrib.tensorrt going to get a documented, relatively stable, and well-tested interface (like most other TensorFlow contrib modules have)?

[2018-08-09 10:53] shinya321 commented on #11235
I have the same issue. Does anyone solve it?
KeyError: 'detection_boxes'

[2018-08-09 11:14] Nayana-ibm commented on #19770
@gunan Could you please guide us on how to resolve this issue?

[2018-08-09 11:15] nirmaljith commented on #20968
Yes this is still an issue

On Sat, Aug 4, 2018 at 12:27 AM Alfred Sorten Wolf <notifications@github.com>
wrote:

--
*Regards,*

*Nirmal Jith O U*

[2018-08-09 11:50] jamieas commented on #17149
@dieka13 thanks for your response. Sorry that it took so long for this bug to be addressed.

@rohan100jain should we close this bug as obsolete?

[2018-08-09 12:30] Windaway commented on #21470
Have I written custom code
Yes
OS Platform and Distribution
Windows 10 x64 pro 17314.365, i7 7900X R6E
Channel .
TensorFlow installed from Self Compiled,TensorFlow version
Tensorflow 1.9.0 with AVX2 simd,
Bazel version
With Cmake
CUDA/cuDNN version
CUDA9.2.148, Cudnn7.1.4, py3.6.6 , VS2017 15.7(with cmake), CP/SM6.1
GPU model and memory
TTxp (*4), 16G DDR4 3000@2666 (*6)

[2018-08-09 12:47] facaiy commented on #21502
You're right. For save method, its argument `write_meta_graph` is True by default, see API [ tf.train.Saver](https://www.tensorflow.org/api_docs/python/tf/train/Saver#save):

[code]

[2018-08-09 12:54] tensorflowbutler commented on #21501
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-09 12:54] tensorflowbutler commented on #21502
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-09 12:54] tensorflowbutler commented on #3628
Nagging Assignees @petewarden, @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:54] tensorflowbutler commented on #4044
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:54] tensorflowbutler commented on #4639
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-09 12:54] tensorflowbutler commented on #5477
Nagging Assignee @thjashin: It has been 152 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:54] tensorflowbutler commented on #5492
Nagging Assignee @benoitsteiner: It has been 262 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:54] tensorflowbutler commented on #6767
Nagging Assignee @ebrevdo: It has been 182 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:54] tensorflowbutler commented on #6992
Nagging Assignee @rmlarsen: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:54] tensorflowbutler commented on #7129
Nagging Assignee @ebrevdo: It has been 182 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:54] tensorflowbutler commented on #7480
Nagging Assignee @gunan: It has been 97 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:54] tensorflowbutler commented on #7669
Nagging Assignee @xiejw: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:55] tensorflowbutler commented on #7702
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-09 12:55] tensorflowbutler commented on #8112
Nagging Assignee @aselle: It has been 152 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:55] tensorflowbutler commented on #8416
Nagging Assignee @caisq: It has been 418 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:55] tensorflowbutler commented on #8564
Nagging Assignee @ebrevdo: It has been 215 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:55] tensorflowbutler commented on #8804
Nagging Assignee @ebrevdo: It has been 211 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:55] tensorflowbutler commented on #9049
Nagging Assignee @andrewharp: It has been 164 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:55] tensorflowbutler commented on #9234
Nagging Assignee @rmlarsen: It has been 182 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:55] tensorflowbutler commented on #9509
Nagging Assignee @hawkinsp: It has been 209 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:55] tensorflowbutler commented on #9550
Nagging Assignee @ebrevdo: It has been 216 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:55] tensorflowbutler commented on #9638
Nagging Assignee @benoitsteiner: It has been 307 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:55] tensorflowbutler commented on #9690
Nagging Assignee @benoitsteiner: It has been 302 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:55] tensorflowbutler commented on #9779
Nagging Assignee @ebrevdo: It has been 215 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:56] tensorflowbutler commented on #9904
Nagging Assignee @ebrevdo: It has been 429 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:56] tensorflowbutler commented on #9946
Nagging Assignee @andrewharp: It has been 420 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:56] tensorflowbutler commented on #10083
Nagging Assignee @ebrevdo: It has been 229 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:56] tensorflowbutler commented on #10110
Nagging Assignee @andrewharp: It has been 436 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:56] tensorflowbutler commented on #10215
Nagging Assignee @cy89: It has been 191 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:56] tensorflowbutler commented on #10270
Nagging Assignee @allenlavoie: It has been 428 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:56] tensorflowbutler commented on #10338
Nagging Assignee @rohan100jain: It has been 425 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:56] tensorflowbutler commented on #10672
Nagging Assignee @shivaniag: It has been 404 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:56] tensorflowbutler commented on #10675
Nagging Assignee @asimshankar: It has been 394 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:56] tensorflowbutler commented on #10765
Nagging Assignee @tfboyd: It has been 418 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:56] tensorflowbutler commented on #11055
Nagging Assignee @fchollet: It has been 408 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:56] tensorflowbutler commented on #11092
Nagging Assignee @benoitsteiner: It has been 231 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:56] tensorflowbutler commented on #11138
Nagging Assignee @xiejw: It has been 155 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:57] tensorflowbutler commented on #11144
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-09 12:57] tensorflowbutler commented on #11148
Nagging Assignee @caisq: It has been 244 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:57] tensorflowbutler commented on #11361
Nagging Assignee @tatianashp: It has been 196 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:57] tensorflowbutler commented on #11396
Nagging Assignee @ekelsen: It has been 392 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:57] tensorflowbutler commented on #11399
Nagging Assignee @yongtang: It has been 122 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:57] tensorflowbutler commented on #11447
Nagging Assignee @cy89: It has been 196 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:57] tensorflowbutler commented on #11514
Nagging Assignee @zhangyaobit: It has been 218 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:57] tensorflowbutler commented on #11521
Nagging Assignee @asimshankar: It has been 135 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:57] tensorflowbutler commented on #11548
Nagging Assignee @reedwm: It has been 134 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:57] tensorflowbutler commented on #11604
Nagging Assignee @kayzhu: It has been 216 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:57] tensorflowbutler commented on #11695
Nagging Assignee @bignamehyp: It has been 97 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:57] tensorflowbutler commented on #11765
Nagging Assignee @skye: It has been 138 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:57] tensorflowbutler commented on #11802
Nagging Assignee @tfboyd: It has been 107 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:57] tensorflowbutler commented on #11806
Nagging Assignee @saeta: It has been 376 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:58] tensorflowbutler commented on #11807
Nagging Assignee @shivaniag: It has been 134 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:58] tensorflowbutler commented on #11823
Nagging Assignee @aselle: It has been 190 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:58] tensorflowbutler commented on #11882
Nagging Assignee @benoitsteiner: It has been 122 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:58] tensorflowbutler commented on #12121
Nagging Assignee @zheng-xq: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:58] tensorflowbutler commented on #12386
Nagging Assignee @josh11b: It has been 245 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:58] tensorflowbutler commented on #12465
Nagging Assignee @caisq: It has been 331 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:58] tensorflowbutler commented on #12523
Nagging Assignee @cy89: It has been 348 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:58] tensorflowbutler commented on #12569
Nagging Assignee @ebrevdo: It has been 312 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:58] tensorflowbutler commented on #12587
Nagging Assignee @rohan100jain: It has been 348 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:58] tensorflowbutler commented on #12653
Nagging Assignee @asimshankar: It has been 345 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:58] tensorflowbutler commented on #12659
Nagging Assignee @benoitsteiner: It has been 166 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:58] tensorflowbutler commented on #12753
Nagging Assignee @aselle: It has been 339 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:59] tensorflowbutler commented on #12792
Nagging Assignee @petewarden: It has been 134 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:59] tensorflowbutler commented on #12917
Nagging Assignee @rmlarsen: It has been 334 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:59] tensorflowbutler commented on #13104
Nagging Assignee @wolffg: It has been 182 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:59] tensorflowbutler commented on #13150
Nagging Assignee @saeta: It has been 321 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:59] tensorflowbutler commented on #13169
Nagging Assignee @caisq: It has been 317 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:59] tensorflowbutler commented on #13549
Nagging Assignees @wolffg, @MarkDaoust: It has been 97 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:59] tensorflowbutler commented on #13568
Nagging Assignee @tatianashp: It has been 286 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:59] tensorflowbutler commented on #13603
Nagging Assignee @rmlarsen: It has been 125 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:59] EduGonzalez opened #21516 "Build failes '@protobuf_archive//:python/google/protobuf/pyext/_message.so' failed (Exit 1): gcc failed: error executing command"
I have an error when I try to build tensorflow with Bazel.
python3 -V
Python 3.7.0

gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/libexec/gcc/x86_64-redhat-linux/4.8.5/lto-wrapper

 c++ -v
Using built-in specs.
COLLECT_GCC=c++
COLLECT_LTO_WRAPPER=/usr/libexec/gcc/x86_64-redhat-linux/4.8.5/lto-wrapper

bazel version
Build label: 0.16.0- (@non-git)

cat /etc/redhat-release
Re

[2018-08-09 12:59] tensorflowbutler commented on #13718
Nagging Assignee @cy89: It has been 295 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:59] tensorflowbutler commented on #13868
Nagging Assignee @petewarden: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:59] tensorflowbutler commented on #13967
Nagging Assignee @tatatodd: It has been 113 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 12:59] tensorflowbutler commented on #13980
Nagging Assignee @rohan100jain: It has been 231 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:00] tensorflowbutler commented on #14007
Nagging Assignee @akshayka: It has been 90 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:00] tensorflowbutler commented on #14012
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-09 13:00] tensorflowbutler commented on #14018
Nagging Assignee @MarkDaoust: It has been 187 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:00] tensorflowbutler commented on #14080
Nagging Assignee @iganichev: It has been 112 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:00] tensorflowbutler commented on #14083
Nagging Assignee @aselle: It has been 188 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:00] tensorflowbutler commented on #14129
Nagging Assignee @asimshankar: It has been 120 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:00] tensorflowbutler commented on #14130
Nagging Assignee @akshaym: It has been 120 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:00] tensorflowbutler commented on #14132
Nagging Assignee @asimshankar: It has been 281 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:00] tensorflowbutler commented on #14283
Nagging Assignee @cy89: It has been 163 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:00] tensorflowbutler commented on #14366
Nagging Assignee @aselle: It has been 268 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:00] tensorflowbutler commented on #14772
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-09 13:00] tensorflowbutler commented on #14924
Nagging Assignee @aselle: It has been 245 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:01] tensorflowbutler commented on #14943
Nagging Assignee @caisq: It has been 253 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:01] tensorflowbutler commented on #14950
Nagging Assignee @tatianashp: It has been 252 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:01] tensorflowbutler commented on #14980
Nagging Assignee @aselle: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:01] tensorflowbutler commented on #14993
Nagging Assignee @caisq: It has been 244 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:01] tensorflowbutler commented on #15057
Nagging Assignee @ebrevdo: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:01] tensorflowbutler commented on #15211
Nagging Assignee @cy89: It has been 128 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:01] tensorflowbutler commented on #15352
Nagging Assignee @rohan100jain: It has been 160 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:01] tensorflowbutler commented on #15364
Nagging Assignee @wolffg: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:02] tensorflowbutler commented on #15412
Nagging Assignee @wujingyue: It has been 187 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-09 13:02] tensorflowbutler commented on #15572
Nagging Assignee @rmlarsen: It has been 229 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.