[2017-11-23 15:35] carlthome commented on #13500
@lijiansong, could you clarify your question?

[2017-11-23 16:02] tc64 commented on #14622
+1

[2017-11-23 16:25] pfc opened #14841 "Estimators cause Out of range warning on FIFOQueue and fail to run all training steps"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 4.13.12-1-ARCH
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.6.3
- **CUDA/cuDNN version**: 9.0.176-4/7.0.3-1
- **GPU model and memory**: 1080/1070

### Describe the problem
Trying to use estimators with a trivially small netw

[2017-11-23 16:41] rryan commented on #13977
@doktorneergaard great to hear, thanks!

[2017-11-23 16:41] #13977 closed

[2017-11-23 18:45] arnaldog12 commented on #14832
It happens to me as well.
In my case, I ran the following cmake command:

[code]

And I got the error:

[code]

[2017-11-23 19:22] gunan commented on #14691
If you are seeing a failure similar to this one:
http://ci.tensorflow.org/job/tf-master-win-gpu-cmake/

This looks like an nvcc bug, and it is reported to NVIDIA. We are waiting for their investigation

[2017-11-23 21:32] cesarsouza opened #14845 "No gradient defined for op: Select"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4
- **Python version**: None
- **CUDA/cuDNN version**: None
- **GPU model and memory**

[2017-11-23 21:35] YuanhaoGong commented on #10375
Sparse matrix multiply another sparse matrix. The implementation should be simpler than "sparse X dense". It is so strange that the former does not exist in TF but later one exists.

[2017-11-23 21:59] MtDersvan commented on #14613
@mrry @cy89
I'm getting following behaviour without any warnings or errors, only upper-mentioned `Start master session ...` message.
![image](https://user-images.githubusercontent.com/7069222/33189189-55b3b19a-d055-11e7-8e61-5361f88354fb.png)
I would like to prevent or at least debug this.

[2017-11-23 22:11] TarrySingh commented on #14689
No, your answer is incorrect. Tensorflow 1.4 uninstalls protobuf and reinstalls it so I think we need to dig deeper into this.

[2017-11-23 22:26] carlthome commented on #14689
Do you have multiple installs of protobuf (different versions) in the same Python environment?

[2017-11-23 22:29] TarrySingh commented on #14689
On my mac it all works like a charm including eager execution with nightly build update. It's just on my Ubuntu GPU box , its dying :/

I'll see if downgrading to 3.4.0 gives some positive results.

[2017-11-23 22:42] TarrySingh commented on #14689
OK, here is the solution -- funny but worked for me 👯‍♂️

I uninstalled protobuf 3.5.0.post1, which comes with TF 1.4.1 distro, installed 3.4.0 release and then installed 3.5.0.post1.

`
deeplearn@Ubuntu-1604-xenial-64-minimal:~$ pip install protobuf==3.4.0
Requirement already satisfied: protobuf==3.4.0 in ./anaconda3/lib/python3.6/site-packages
Requirement already satisfied: setuptools in ./anaco

[2017-11-23 22:54] wochinge commented on #14084
Did you properly format your hdfs url?
Since `hdfs_path+"save_net.ckpt` would give `"hdfs://*save_net.ckpt" `, which is wrong? I cannot comment on Stackoverflow since I have to less reputation there.

[2017-11-23 22:55] zeyu-h commented on #14689
I run into the same problem, and your solution works for me.

[2017-11-23 23:12] kaspermarstal commented on #12534
@m3bm3b The issue is still present in TensorFlow 1.4. Are you interested in a PR?

[2017-11-24 00:20] TarrySingh commented on #14689
Glad to hear 😃

[2017-11-24 01:57] kelly-tlz commented on #14084
Maybe your version(mine is tf1.0) or environment of hadoop is different from me, I'm sure the hdfs path is exist and I can use subpreprocess.Popen to write and read hdfs file through python code.

[2017-11-24 02:08] zkk0911 opened #14848 "HistogramSummary not support fp16 ？"
There is a issue when I train my model with adm optimizer (tf.train.AdamOptimizer),  It seems HistogramSummary not support DT_HALF.

2017-11-24 09:19:36.954820: W tensorflow/core/framework/op_kernel.cc:1192] Invalid argument: Infinity in summary histogram for: local4/BatchNorm/beta_1
         [[Node: local4/BatchNorm/beta_1 = HistogramSummary[T=DT_HALF, _device="/job:localhost/replica:0/task:0/dev

[2017-11-24 02:42] offbye commented on #11235
I have quantized the ssd-mobilenet_v1 model success, but when I run on android demo, the model can not be loaded.  i have create a issue [here](https://github.com/tensorflow/models/issues/2853)

[2017-11-24 03:08] fesun opened #14850 "Tensorflow v1.4.0 rpc crash"
I built tensorflow v1.4.0 from source code, sometimes it crashed inside kernel. This happened on both Linux and Windows platform.

Linux call stack:
[code]

Windows call stack:
[code]
Both indicating that tensorflow rpc framework may have some bug.

[2017-11-24 03:40] facaiy commented on #14828
We should specify `params=[x]`,  otherwise `gradients_function` will use all arguments, see its [API](https://www.tensorflow.org/versions/master/api_docs/python/tf/contrib/eager/gradients_function):

[code]

[2017-11-24 03:53] zhangyafeikimi opened #14851 "Got NAN when calling embedding_lookup_sparse with weights and "mean" combiner"
### System information
- **OS Platform and Distribution**: Win7 64bit
- **TensorFlow installed from**: anaconda binary
- **TensorFlow version**: 1.2.1
- **Python version**: 3.6

### Describe the problem
I always got nan when I call embedding_lookup_sparse with weights and "mean" combiner.
Code pieces are listed below:

### Source code / logs
from __future__ import absolute_import
from __future__ i

[2017-11-24 03:56] arixlin commented on #14787
https://github.com/tensorflow/models/blob/master/research/slim/README.md
$ python export_inference_graph.py \
  --alsologtostderr \
  --model_name=mobilenet_v1 \
  --image_size=224 \
  --output_file=/tmp/mobilenet_v1_224.pb

[2017-11-24 04:11] hutuyingxiong opened #14852 "tensorflow lite build for iOS"
error ：./download_dependencies.sh: line 50: 1: Usage: download_and_extract URL DIR
how to do it？

[2017-11-24 05:59] hzxie commented on #5354
Maybe the following command helps:

    sudo rm -rf .nv/

Good luck.

[2017-11-24 06:06] XiaXuehai opened #14855 "tensorboard ImportError: cannot import name 'run_main'"
I install the tensorflow on Mac from source.
but when I run the tensorboard,and got a error like this

Traceback (most recent call last):
  File "/Users/xxh/anaconda3/bin/tensorboard", line 7, in <module>
    from tensorboard.main import run_main
ImportError: cannot import name 'run_main'`

How to fix it?

[2017-11-24 06:16] dloyer commented on #14742
Testing further, this seems to be related to this error message:
tensorflow/stream_executor/cuda/cuda_driver.cc:936] failed to allocate 72.44M (75956224 bytes) from device: CUDA_ERROR_OUT_OF_MEMORY

It looks like a memory error happens, but this does not cause the task to fail.  It just causes in incorrect result.

I would suggest that it is better that the job fail than have a wrong answer

[2017-11-24 06:28] colmantse commented on #14691
thank you! however, I could not see the fail build log from your page. There seems a lot of experiment has been going on tho. Good to know!

[2017-11-24 06:41] bravelywangexocr commented on #1888
@RexYing,  meet the same invalid allocator type issue, have you figured out the solution? thanks.

[2017-11-24 07:13] reyne-d opened #14857 "how can I ues Dataset to shuffle a large whole dataset?"
I know we can ues dataset.shuffle(buffer=10000) to shuffle dataset.
But I have a large image dataset with 2,325,000 images, if I use the follwing code with 'dataset = dataset.shuffle(buffer_size=2325000) ' ,the cost of time to load images is too long for me.

Is there any way to shuffle the whole dataset in Dataset  API??

[code]

[2017-11-24 07:14] vanpersie32 commented on #5588
@Jonbean same question here, does backward rnn read from the end  or the true end of the of the padded inputs

[2017-11-24 07:15] vanpersie32 commented on #5588
same question with jonbean, if we provide sequence length arguements, does the backward rnn read from the end or the true end of the of the padded inputs

[2017-11-24 07:22] vanpersie32 commented on #5588
According to [link1](https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/python/ops/rnn.py#L1416-L1423) and [link2](https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/python/ops/rnn.py#L268-L307), backward rnn read the sequence from the true end of the padded input @Jonbean

[2017-11-24 07:29] Jonbean commented on #5588
@vanpersie32 Thank you so much for pointing this out.

[2017-11-24 08:13] printdhruv commented on #14855
(1) You can't import it. Please go to [here](https://stackoverflow.com/) for support since it's not a bug.
(2) Please fill [ISSUE_TEMPLATE](https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE.md) before raising an issue.

[2017-11-24 08:15] printdhruv commented on #14852
Please fill and read [ISSUE_TEMPLATE](https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE.md) before raising an issue.

[2017-11-24 08:20] watlaw commented on #14832
The issue was the version of swig , I guess. I changed with 3.0.12 and Now facing with another errors :) @arnaldog12 I think you are building in wrong folder.

[2017-11-24 08:21] printdhruv commented on #14851
`[
[  0.           0.           0.           0.           0.           0.
    0.           0.        ]
 [ 80.          81.          82.          83.          84.          85.
   86.          87.        ]
 [ 17.60000038  18.60000038  19.60000229  20.60000038  21.59999847
   22.60000229  23.60000038  24.60000038]
 [ 32.          33.          34.          35.          36.          37.
   38.

[2017-11-24 08:27] wangzheqie commented on #14689
check if your `protobuf` are installed  deplicately like:

*  sudo apt-get install python3-protobuf  `or` python-protobuf
*  pip install protobuf  `or`  pip3 install protobuf

If both installed, uninstall one of them

[2017-11-24 08:30] mtu commented on #14215
Hi, I met the same problem, do you sovle it at last?

[2017-11-24 08:30] bodokaiser commented on #14042
I would love to get this working with the higher level APIs [`tf.estimator.train_and_eval`][1] and [`Estimator.evaluate`][2]

1: https://www.tensorflow.org/api_docs/python/tf/estimator/train_and_evaluate
2: https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator#evaluate

[2017-11-24 09:03] DMTSource commented on #6968
I ran into this and other "Error in `python'" issues using the module mayavi.mlab with TensorFlow when creating multiple mlab figures. @jhseu 's suggestion to import the module after TF fixed it instantly. Thank you.

[2017-11-24 09:38] yaroslavvb opened #14858 "off-by-one bug in graph_editor get_forward_walk_ops"
This [line](https://github.com/tensorflow/tensorflow/blob/c9de294d0a0980b1636f76757c175afbf4f58ea8/tensorflow/contrib/graph_editor/select.py#L414) converts Tensor to its corresponding op by replacing it with its consuming op

`seed_ops = util.get_consuming_ops(ts)
`

Instead it should replace it with its producing op

`seed_ops = [t.op for t in ts]
`

This would makes `get_forward_walk_ops(tensor`

[2017-11-24 10:16] Salon-sai commented on #1421
1. When I run the command: tensorboard --logdir=20171124-174639/ --debug
[code]
2. I open the chrome and it show me a blank page

3. So, I open the console in the chrome and found that in the picture:
![error in the chrome](https://user-images.githubusercontent.com/4996787/33205914-89d84bcc-d143-11e7-8de4-0b29ccadcaa1.png)

4. But I can see the graph in firefox....

[2017-11-24 10:27] Sixigma opened #14859 "Accuracy drop down after freezing"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
TensorFlow installed from (source or binary): source
TensorFlow version (use command below): 1.3.0
Python version: 2.7.12
Bazel version (if compiling from source): 0.5.4
CUDA/cuDNN version: 8.0.61
GPU model and

[2017-11-24 10:34] kemusa commented on #14358
Hi. I'm having the same issue but on  Linux Ubuntu 16.04 in an AWS AMI using python version 2.7. I tried adding the lines you mentioned to the file in tensorflow/BUILD but got the same result.

[2017-11-24 10:38] zhangyafeikimi commented on #14851
sorry, use combiner="mean", and retry.

[2017-11-24 10:43] facaiy commented on #14857
I believe you don't have to create so large buffer, perhaps buffer=10000 is enough. The cost is new dataset samples from every 10000 images, instead of total images. However it should be accepted in practice, at least for me.

[2017-11-24 10:57] kidsung commented on #14719
Any difference between Slim and non-slim one? I have had also the output probabilities are larger than 1.0. and the recognition does work well. It does not return a right answer

[2017-11-24 11:11] withme6696 commented on #12052
environment: cuda9.0+cudnn7.0+tf1.4，and I meet an error when I run the "ptb" example , TypeError: __init__() got an unexpected keyword argument 'input_size',   'input_size' is the parameter of the CudnnLSTM

[2017-11-24 11:22] kartikeyasaxena1012 commented on #8324
Cant install tensorflow on my laptop
pip3 install --upgrade tensorflow-gpu
Collecting tensorflow-gpu
  Could not find a version that satisfies the requirement tensorflow-gpu (from versions: )
No matching distribution found for tensorflow-gpu

this is what it shows please help

[2017-11-24 11:23] kartikeyasaxena1012 opened #14861 "Cant install tensorflow on my laptop"
pip3 install --upgrade tensorflow-gpu

Collecting tensorflow-gpu

Could not find a version that satisfies the requirement tensorflow-gpu (from versions: )
No matching distribution found for tensorflow-gpu

this is what it shows please help

[2017-11-24 11:32] facaiy commented on #14845
@cesarsouza Hi, I open a PR #14862 to add SelectGrad op.

[2017-11-24 11:43] facaiy commented on #14834
@maybeluo I agree that 1% gap is unsatisfied. It could be useful if you can provide some data for test (or benchmark report) , for example, a numpy array or csv file.

[2017-11-24 12:07] facaiy commented on #14851
I think `np.nan` is reasonable, because some lines, say 0, 4, 5, 6, 7, 8, are missing in
` indices=[[1, 0], [2, 0], [2, 1], [2, 2], [3, 0], [9, 1]],`. For those lines, value is 0, and sum is 0, so `0 / 0 = np.nan`.

[2017-11-24 12:12] nikonikolov commented on #14809
1. Sorry, I got confused and it took me some time to clear it. I feel that the documentation is not clear  enough on the meaning of axis. A lot of the confusion comes from the way that `dense` and `conv` layers are handled. Specifically, in `conv` layers, the moments are taken over all dimensions except for the channel dimension, while in `dense` layers the moments are taken over the batch dimensi

[2017-11-24 12:19] facaiy commented on #14851
[code]

[code]

[2017-11-24 12:28] zhangyafeikimi commented on #14851
facaiy, exactly right.

as its name "sparse", missing values are common cases.

how can nan be spread everywhere?

[2017-11-24 12:35] facaiy commented on #14809
Hi, @nikonikolov. I agree that readable documents can save user a lot of time. And if you'd like, welcome to help revise documents. Thanks.

Could we update the op internally? I believe @fchollet can give us more useful information.

[2017-11-24 12:48] facaiy commented on #14851
`tf.where` can help you clean all `np.nan`:
[code]

[2017-11-24 12:54] Zumbalamambo commented on #14689
I tried all... i tried reinstalling protobuf, tensorflow but still the same issue :(

[2017-11-24 13:06] sawlogs commented on #9484
@xuxianju Same here. Both 1.0 and 1.1 require cudnn5.1, so if 1.0 works, I'd expect 1.1 to load and work as well. But it doesn't. Were you able to fix this? I had to downgrade and stay with 1.0, which is not nice, since we have the 1.4 release now. And all the releases 1.1, 1.2, 1.3, 1.4 fail to import with these meaningless messages like in your log. Have no idea how to debug it. The script says

[2017-11-24 13:09] #14827 closed

[2017-11-24 13:40] YaoZhongtian opened #14866 "If I import cv2, " tf.global_variables_initializer() " will be very slow."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04.3
- **TensorFlow installed from (source or binary)**:
Binary.
- **TensorFlow version (use command below)**:
1.3.0
- **Python version**:
2.7.12
- **CUDA/cuDNN version**:
CUDA Version 8.0.61

[2017-11-24 13:44] zhangyafeikimi commented on #14851
@facaiy    thanks.

tf.where is not an elegant way, but better than nothing.

[2017-11-24 13:48] ejls commented on #14324
It seems to have been fixed in d0a5d885
I'm closing.

[2017-11-24 13:48] #14324 closed

[2017-11-24 14:04] WayneWang12 commented on #14620
I get across the same issue.

[2017-11-24 14:40] awav commented on #14633
Same request applies to `tf.is_variable_initialized`. It would be great if it could work with `tf.data.Iterator`.

[2017-11-24 14:42] awav commented on #14633
https://github.com/GPflow/GPflow/issues/568 another one related issue in GPflow

[2017-11-24 15:01] jacowp357 commented on #3797
Any reliable fix on this issue yet - made part of the release? I'm also getting the "embedding_lookup" exception when using RMSprop in a LSTM network. It works fine with the Adam optimizer.

[2017-11-24 15:05] modanesh commented on #492
I still have the memory problem. It uses so much ram that the OS kills the process.

[2017-11-24 15:09] empty16 commented on #5625
Thanks

[2017-11-24 15:35] evindj commented on #14689
Thanks @TarrySingh Your solution worked for me

[2017-11-24 16:10] GauthierChan commented on #10153
@matt-deboer Do you mind sharing the .jar you get following your bazel command? I built mine with your nice instructions but I get this exception when I run my app:

[code]

[2017-11-24 16:45] LiJinyao commented on #9545
Have same issue

[2017-11-24 16:51] golu-golu commented on #14861
#8251
this might help
:)

[2017-11-24 18:40] juandes commented on #14777
Hi @offbye, I believe you comment on an issue of mine because I am also experiencing the same error. Were you able to find a solution or a workaround? Thanks.

[2017-11-24 19:13] abviv commented on #492
@modanesh Could you explain your problem with a little bit more explanation?

[2017-11-24 19:27] qixiang109 opened #14868 "consuming Dataset becomes slower and slower, if make_one_shot_iterator each epoch"
### Problem

I run make_one_shot_iterator() each epoch because  I want re-shuffle the dataset each epoch. I Know that the dataset.shuffle().repeat().batch() pipeline can do almost the same thing, but when data_num can not be divided exactly by batch_size, the pipeline merges two epochs at their boundary to construct a complete batch,  which I HATE.

So, I choose to run dataset.shuffle().batch() an

[2017-11-24 19:37] archenroot commented on #12052
after watching this thread for months I am going to give it a try on Gentoo linux

[2017-11-24 19:51] XiaoxueZang commented on #7077
I have the same problem and pip install does not solve it.

[2017-11-24 20:23] napolar commented on #14622
+1

[2017-11-24 21:09] matt-deboer commented on #10153
@GauthierChan It looks like your custom .so is not being packaged into the apk.

Putting them in the `libs` dir (in the structure you've mentioned) should work just fine, but you'll want to add the `.so` file(s) as a dependency also, similar to this:
[code]

[2017-11-24 21:32] vade commented on #10685
https://github.com/bazelbuild/bazel/commit/600ab49a98bcb6d96231174b44bd4ae335de4dbf ? Was this re-rolled forward correctly @gunan ?

[2017-11-24 21:36] vade commented on #10685
And just to re-iterate - out of the box Darwin MKL support would be awesome.

[2017-11-24 21:37] rajatmonga commented on #14830
@shaurya0 The updating of model is independent of the core TF Lite interpreter and operations themselves. The core library and most kernels (op implementations) have very few dependencies and likely not the ones you list here.

The goal is for the core to be very portable so keeping low dependencies is important.

Certain kernels do leverage multi-threading/synchronization, but we often have singl

[2017-11-24 21:49] Carmezim commented on #14861
Make sure you're installing the corresponding binary for you system and Python installation. For instance a binary for Python 2.7 won't work on a Python 3.5 or 3.6 installation.

[2017-11-24 22:02] archenroot commented on #4841
Is there any way to enabling the GPU support programatically, but not via some terminal input (Y vs N)?

@goldsborough what is the value of the variable? I suggest it is simply /usr/lib64 (I am on gentoo system):
[code]

[2017-11-24 22:03] dfumento commented on #10685
@vade "And just to re-iterate - out of the box Darwin MKL support would be awesome."

I agree.

[2017-11-24 22:17] archenroot commented on #4841
Ok, small update, I had to export some other variable, here is whole content from Ebuild, important is phase configure where I export related variables:
[code]

And this works, or in minimum I was able to finish compilation and installation process with CUDA 9 and CUDNN 7, now I will do some hello world test....

[2017-11-24 22:38] ppwwyyxx commented on #14866
#1197 #7755

[2017-11-24 22:46] m3bm3b commented on #12534
Beware that the cmake build is not fully supported
and not routinely tested on MacOS.
The cmake build is there mostly for Windows.

However, at least for that particular error
     'nsync_time_init.h' file not found
the current master branch of TensorFlow should
get past that point in the build.
The key difference from 1.4 that should fix the issue is in the file
   tensorflow/contrib/cmake/patche

[2017-11-24 23:16] vade commented on #12539
Hi.

Im still having the above issue with TF 1.4 final via git, compiled with -config-opt without any MKL or anything on Darwin (10.13.1)

My application is now linking both libtensorflow_cc.so and libtensorflow_framework.so

[code]

[2017-11-24 23:29] vade commented on #2412
Hey @memo ;) Out of curiosity, have you had reports of linker issues with ofxMSATensorFlow on OS X with TF 1.3 and TF 1.4? Ive been getting the following linker issue in my Synopsis project which is basically your instructions the wiki you linked almost verbatim:

https://github.com/tensorflow/tensorflow/issues/12539

Trying to isolate - but I cant quite deduce where my issues lies.

[2017-11-24 23:38] archenroot commented on #8756
Just note, I had similar problem, by setting following variables during configuration phase:
[code]

And all is good.

[2017-11-24 23:58] aluo-x commented on #14801
@sylvain-bougnoux I don't believe the WHOLEARCHIVE flag is used when building a Python whl, am I mistaken?

[2017-11-24 23:58] aluo-x commented on #11865
Closing this issue for now since it is stale.

[2017-11-25 00:01] ygoncharov opened #14871 "SpaceToDepth for DT_HALF is not supported on GPU"
space_to_depth can be placed on GPU for float32, but there is no a GPU kernel for float16

[2017-11-25 02:05] qingzew commented on #5112
@kelly-tlz try to create root dir first?

[2017-11-25 02:26] Sixigma commented on #14859
I use the script to manually freeze model , since there is dropout and Batch normalization in Mobilenet , I set is_training = False as the suggestions ( it seems like doing the same thing as slim tutorial ) . And MovingAverage doesn't apply in model.
But the accuracy is still terrible.

[2017-11-25 02:57] yongtang commented on #14871
Added a PR #14872 for DT_HALF support on GPU.

[2017-11-25 03:25] usernameoliver commented on #14622
+1

[2017-11-25 04:18] nikhil-minz opened #14873 "[Feature Request] Support for Flutter"
I recently moved from native development to Flutter seeing Google backing its development.
Since both TensorFlow and Flutter is by Google will there be a support for Flutter in Future?

[2017-11-25 06:24] shivaniag commented on #14873
@petewarden do you have any comments on this?

[2017-11-25 06:26] shivaniag commented on #14861
Are you able to install now, or still facing any issues.

[2017-11-25 06:31] shivaniag commented on #14739
@asimshankar could you please take a look into this.

[2017-11-25 06:38] nasergh commented on #12052
i have asus strix 1080TI
1- in ubunto i can use driver in nvidia website or i must download from asus(because i don't see driver for linux in asus website)
2- last version is ok or i must intall 378.13 because i see in most comment they say use 378.13?
thanks

[2017-11-25 06:56] shivaniag commented on #14743
tf.keras.backend.set_learning_phase takes 0 and 1 as argument, would it be possible for you to write a small example to reproduce the same error?

[2017-11-25 07:25] ychong commented on #6683
Thanks for asking the question and contribution guys. I'm having the same problem saving rnn LSTM layers with TF using python3. Restoring saved TF RnnLSTM using python3 is giving me random weights as well. Just wondering has this been fixed?

[2017-11-25 07:32] YaoZhongtian commented on #14866
Thanks ！

[2017-11-25 08:22] qixiang109 commented on #14868
And now I have confirmed that even making epochs with .repeat().batch() only results in slower and slower performance!

[2017-11-25 08:52] creativesh commented on #7321
Hi,i have the same issue after running 4 epoch,and i have tested in other machin,but problem exists
this is my trainig code:

# Copyright 2017 The TensorFlow Authors All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licens

[2017-11-25 09:37] memo commented on #2412
Hey @vade, I haven't built on OSX since r1.0 I'm afraid. Linux only now.

Did you update the headers? This is a bit of a dirty solution, but right now (I think because the C++ API is changing), you need to change headers for each lib (not always, but sometimes). So it might be that if you're using the 1.2 headers, it's not finding the implementations in the 1.3 lib?

This script updates the header

[2017-11-25 10:43] kikushah commented on #14267
@allenlavoie
Hi,

I have a similar problem as well, although its surprising. I am not using cv in my project. I just trained a network on python and am trying to load the graph on a C++ project. I am trying to link libtensorflow_cc to my c++ project (building with cmake). It fails during linking - undefined reference to symbol '_ZN10tensorflow8GraphDefD1Ev'
/usr/local/lib/libtensorflow_framework.s

[2017-11-25 11:37] facaiy commented on #14788
Hi, I have created a PR to fix the issue. If accepted, tf.Prints will convert Variable to mutable Tensor.

[2017-11-25 12:37] ccqu opened #14875 "tf.data cannot be loaded with r1.4"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian GNU/Linux 8 (jessie)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: b'v1.4.0-14-gb5df90f' 1.4.1
- **Python version**: Python 3.6.3 |Anaconda, I

[2017-11-25 12:38] xploiter-projects commented on #14689
Thank you @TarrySingh. Your solution works like charm ^_^

[2017-11-25 13:03] zhangqianhui opened #14876 "How to get the preivous batch after running Iteration.get_next() in tensorflow?"
This problem is in the stackoverflow.
https://stackoverflow.com/questions/47485023/how-to-get-the-preivous-batch-after-running-iteration-get-next-in-tensorflow
I hope someone to help me to solve it.
Thanks.

[2017-11-25 13:04] zhangqianhui commented on #14876
You can close it if don't meet acquirment .

[2017-11-25 13:29] liumanfei commented on #4243
@LinJM Have you solve the problem? I'm in the same trouble~

[2017-11-25 14:50] hughsalimbeni commented on #14633
@mrry, @cy89 any further thoughts on this?

[2017-11-25 14:54] bhack opened #14879 "Extend estimators.md to cover Keras"
Can you extend the estimators.md tutorial to cover `tf.keras.estimator.model_to_estimator` use case?

[2017-11-25 14:54] episodeyang commented on #14779
Same problem here, same setup and setting as OP.

@gunan Is there a reference compile script that is used for the Jenkins' CI that I can use to write a configuration and compile script? looks like
1. the Jenkins test has been passing
2. I looked but couldn't find the script that is used to do the Jenkins test
Thanks in advance.

[2017-11-25 14:56] stereomatchingkiss commented on #14267
Link with libtensorflow_framework.so should solve the issue

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

2017-11-25 18:46 GMT+08:00 kikushah <notifications@g

[2017-11-25 15:02] episodeyang commented on #14779
found under /tools/ci_build. Thanks

[2017-11-25 16:07] gokceneraslan commented on #14689
In my case `protobuf` from `conda-forge` was the reason for the error. I removed it via `conda remove protobuf` and reinstalled protobuf via pip.

[2017-11-25 17:34] episodeyang commented on #14573
same problem.

[2017-11-25 17:40] vade commented on #2412
Memo- thanks. I had done that before, but had a different compiler error (Nsync issue as noted here:

https://github.com/tensorflow/tensorflow/issues/12482

But the new fixes in that thread resolved the issue. Much appreciated!

[2017-11-25 17:43] vade commented on #12482
I feel as though this issue should be re-opened, because a fresh clone of master (as of b20ec5c461031f9375274cf026a7dfff0f903acc) results in the Aforementioned NSync compilation bug when trying to integrate libtensorflow into other apps - the only working solution was to use @alc1218 's variant of mutex.h - which is a breaking change to the codebase.

Thank you.

[2017-11-25 17:55] vade commented on #12539
Hi. So this issue is no resolved, partially due to stale project headers and also resolving an issue introduced in 1.4 by way of https://github.com/tensorflow/tensorflow/issues/12482.

In my particular case, getting the C++ Api of TF 1.4 via libtensorflow_cc.so properly linking into my app I needed to

**1 Compile TF via the normal instructions**
* bazel clean
* ./configure
* bazel build --config=

[2017-11-25 19:18] TarrySingh commented on #14689
Awesome to hear that 👌

@zumbalambo — you need to share your error.

[2017-11-25 19:48] RakshakTalwar commented on #14689
@TarrySingh your solution worked for me as well!

[2017-11-25 20:14] yomoko opened #14882 "What if we don't install tensorflow under a new environment?"
How come we need to install tensorflow as a [separate](https://user-images.githubusercontent.com/33768560/33234120-05bba17a-d1ef-11e7-9f8a-0390d005aa6a.png) environment?

If we do it this way, many common libraries are not available when tensorflow is activated.
![image](https://i.stack.imgur.com/zOslW.png)

Most of the common libraries such as matplotlib, panda, etc. are not within tensorflow env

[2017-11-25 20:14] Servot commented on #14622
+1

[2017-11-25 20:40] creativesh commented on #1658
Hi
I have exactly the same issue, I am training resNet50 and always after 3 epochs,i get this error
 i use ubuntu 16.04,tensorflow 1.3,and gtx 1080 gpu on a shared server with 3 gpus
and also i have used new dataset tensorflow api,i suspect something is write aboute feeding data to network
this is my training code :+1:
[github.txt](https://github.com/tensorflow/tensorflow/files/1503372/github.txt)

[2017-11-25 21:03] sl-matrix commented on #14882
I did a system-wide install on Ubuntu (Linux Kernel) after going through similar troubles you mention.
I am guessing the rational behind the preferred approach is to preserve the state of mission-critical machines by not altering the code base of dependencies. For recreational users like us, the native pip install allows more flexibility.

[2017-11-25 21:14] keryil commented on #12657
Sorry for the late reply. I have tried again with a freshly installed TF 1.4, and whatever my problem was, it seems to exist no more. Just a heads up if anybody encounters something similar.

[2017-11-25 21:42] kikirizki commented on #2412
@memo sir does the source code https://github.com/memo/ofxMSATensorFlow.git has GPU support ?
thx

[2017-11-25 23:34] bhack commented on #14879
I think that could be useful to have a full example with estimator, tf.keras and dataset API now that all these API are in core. See also https://github.com/tensorflow/tensorflow/issues/8787#issuecomment-337297281 /cc @fchollet

[2017-11-25 23:41] #14708 closed

[2017-11-25 23:58] kaspermarstal commented on #12534
Okay, many thanks for the update! Appreciated.

[2017-11-26 00:31] bhack commented on #14879
A nice example to add to documentation is [something like this one](https://www.dlology.com/blog/an-easy-guide-to-build-new-tensorflow-datasets-and-estimator-with-keras-model/) but including also the Dataset API.

[2017-11-26 00:37] bhack commented on #14879
/cc @Tony607

[2017-11-26 00:42] facaiy commented on #14882
I think new environment is optional choice.
Since tensorflow has many dependencies, for example, numpy, pandas and so on, they might be upgraded when installing tensorflow. So it is safe to create a separate environment. If you don't care the case, feel free to install tensorflow in default environment.

[2017-11-26 01:11] empty16 commented on #53
Hey, guys. Here are the solutions.
`mkdir ~/glibc
cd ~/glibc

wget http://ftp.gnu.org/gnu/glibc/glibc-2.23.tar.gz
tar zxvf glibc-2.23.tar.gz
cd glibc-2.23
mkdir build
cd build

../configure --prefix=/opt/glibc-2.23
make -j4
sudo make install

export LD_LIBRARY_PATH=/opt/glibc-2.23/lib`
https://github.com/mind/wheels/issues/7

[2017-11-26 01:17] yomoko commented on #14882
How come your tensorflow came with those dependencies?  Mine didn't. I have to reinstall pandas, matplotlib, pandas_datareader again under tensorflow environment.

[2017-11-26 01:47] teaglin opened #14884 "Object detection works on Linux but not Mac"
------------------------

### System information
- **OS Platform and Distribution **: Linux 16.04 and Mac OS 10.12.6
- **TensorFlow installed from (source or binary)**: Mac – Binary, Linux – Source
- **TensorFlow version (use command below)**: Mac – ('v1.3.0-rc2-20-g0787eee', '1.3.0')
Linux – ('v1.3.0-rc1-4003-g1f582aa', '1.4.0-rc0')
- **Python version**: Mac – 2.7.14, Linux – 2.7.12
- **Bazel ver

[2017-11-26 02:09] klydream commented on #13161
@mrry I have struggle with this problem
first, when i deal with `dim = reshape.get_shape()[1].value
    weights = _variable_with_weight_decay('weights', shape=[dim, 384],
                                          stddev=0.04, wd=0.004)`

[2017-11-26 02:18] maybeluo commented on #14834
I'll do more experiments and look at the approximation method. Thanks.

[2017-11-26 02:18] #14834 closed

[2017-11-26 02:20] facaiy commented on #14882
Hi, @yomoko. Since the issue is neither bug report or feature request, I think it could be better to post the question on [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow).

[2017-11-26 03:34] djbard commented on #14807
I agree - but I haven't had time to make a mini example (this is someone else's code). I will try to find time to do so, but in the meantime the github repo I linked to will reproduce the error shown in the gdb log.

[2017-11-26 04:58] creativesh opened #14885 "tensorflow-terminate called after throwing an instance of 'std::system_error'"
Hi
I am training a resNet50 with tensorflow, using a shared server with these properties:

ubuntu 16.04
3 gtx 1080 gpus
tensorflow 1.3
python 2.7
CUDA 8.0.4
CUDNN 6
but always after two epochs, and during the third epoch, I encounter this error:
`terminate called after throwing an instance of 'std::system_error' what():
Resource temporarily unavailable
Aborted (core dumped)`
with adding some print

[2017-11-26 05:21] orpillar commented on #14800
@yongtang. Thanks for the PR. It looks the sanity build had time out.

[2017-11-26 05:28] #14882 closed

[2017-11-26 05:48] mystbrent commented on #14622
+1

[2017-11-26 06:43] cmvikas94 commented on #12084
The above issue has been resolved by updating the "libandroid_tensorflow_inference_java.jar" and "libtensorflow_inference.so" to the latest version i.e. Tensorflow - 1.4. The latest ".jar" and ".so" files can be found [here](https://ci.tensorflow.org/view/Nightly/job/nightly-android/).

The issue was due to mismatch of Tensorflow versions. Mobilenet classifier trained over ImageNet was built on Te

[2017-11-26 08:36] HggsHntr commented on #5688
Hi,
Might be helpful for some of the people that are having the same problem.
A small workaround for this problem that I am using is changing the driver model from WDDM to TCC.
Doing it by
`nvidia-smi -dm 1`

[2017-11-26 08:54] derdav3 commented on #14642
This appears on iOS as well (do you want a different bug issue?) -stack:
[code]

this also appears with the mentioned retraining parameters:
`'--default_ranges_min=0' '--default_ranges_max=6' '--std_values=128' '--mean_values=128'`

[2017-11-26 08:54] nanhuo commented on #14112
Hi, @tamias65 , Could you please give some more details on how you figure out which 'cc' file is associated with the "Prod" op?.
 I'm running into a similar problem here, which says "No OpKernel was registered to support Op 'Equal'".

[2017-11-26 11:11] themightyoarfish opened #14886 "avg_pool ignores channel stride dimension, but max_pool does not"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary (conda-tensorflow-gpu)
- **TensorFlow version (use command below)**: `b'unknown' 1.3.0`
- **Python version**: 3.6
- **Bazel version

[2017-11-26 13:31] YoelShoshan opened #14887 "feature request - decode_compressed"
It will be great if you could add **tf.decode_compressed** to be used in **situations that tfrecords cannot be used**.

Currently, only **tf.decode_raw()** can be used in such situations, which becomes a big issue with massive amount/size of files.

[2017-11-26 13:53] hiroki-kyoto opened #14888 "Is it possible to extend normal operators like add/minus with convolution-like operating?"
This is a feature request, and so far I haven't got any solution from tensorflow source code or websites like stackoverflow.
It may be confusing to state the problem like my title, so, I am going to give it a demo:
1. The input matrix A has shape of [5,5], and the operation matrix B has shape of [3,3];
2. In convolution manner, tf.nn.conv2d(A, B, padding='VALID') will compute like this:
     creat

[2017-11-26 14:07] zhangqianhui commented on #14876
The problem has been solved.

[2017-11-26 14:07] #14876 closed

[2017-11-26 14:21] eli99999 commented on #14215
@mtu  -  eventually i had 2 ops_to_register.h in my project and bazel always compiled libtensorflow_inference.so according to the wrong one...

[2017-11-26 15:09] derdav3 commented on #14852
do you have the newest version? [this](https://github.com/tensorflow/tensorflow/pull/14734) addresses some issues with download_dependencies

[2017-11-26 15:15] undersail commented on #11217
Got the same issue, and the above workaround works.

[2017-11-26 15:16] derdav3 commented on #14852
I just tried it - the script fails when being outside of the root folder of tensorflow... when I cd into tensorflow - it all works out

[2017-11-26 16:38] #12294 closed

[2017-11-26 17:57] ahaider3 commented on #14663
I also came across this issue. I am using MPI_Allreduce to do distributed training of my model. I noticed that my workers were not converging because of this issue. Parallel_iterations == 1 seems to have solved it.

[2017-11-26 18:23] preetivyas opened #14890 "Tensorflow installation for python version 3.6"
I am trying to install tensorflow framework on my Windows 10 system and the framework is showing me the similar error of
![image](https://user-images.githubusercontent.com/31855851/33243068-c272b944-d2ac-11e7-97fc-327b8b18bafa.png)
I have checked my system architecture which is 32 bit. I have tried it installing using the conda - 3.5 python version fix but then again same error arises. Please help

[2017-11-26 18:32] chandan4raj4 commented on #11037
Experiencing this while setting up vertualenv in Pychram
Python 3.6.1 :: Anaconda 4.4.0

Using base prefix '/home/chandan/anaconda3'
New python executable in /home/chandan/VirtualEnvironment/bin/python3.6
Also creating executable in /home/chandan/VirtualEnvironment/bin/python
ERROR: The executable /home/chandan/VirtualEnvironment/bin/python3.6 is not functioning
ERROR: It thinks sys.prefix is '/tm

[2017-11-26 19:35] hoangcuong2011 commented on #14689
Thanks @TarrySingh, pip install protobuf==3.4.0 solved the problem!

[2017-11-26 23:18] is8ac opened #14891 "`panic: runtime error: cgo argument has Go pointer to Go pointer` when using FIFOQueueV2 with non scalar shapes"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: NA, using go bindings
- **Bazel version (if compiling from sourc

[2017-11-27 01:06] uptodiff opened #14894 "'No gradients provided for any variable, check your graph for ops that do not support gradients'"
I write the code like following
[code]
Tensorflow throws an error and shows
''ValueError: No gradients provided for any variable, check your graph for ops that do not support gradients, between variables ["<tf.Variable 'input1:0' shape=(6,) dtype=float32_ref>", "<tf.Variable 'input2:0' shape=(6,) dtype=float32_ref>"] and loss Tensor("mul:0", shape=(), dtype=float32).''

  I know the op  tf.histogr

[2017-11-27 01:19] #14688 closed

[2017-11-27 01:55] qinghuayu commented on #14606
I met the same problem. Have you solved it?

[2017-11-27 02:10] yongtang commented on #14800
@orpillar bumped the build. Thanks!

[2017-11-27 02:17] yongtang commented on #2075
I think `unravel_index` is quite a useful feature that could be used in many places. Created a PR #14895 to add the C++ kernel for it. Please take a look if interested.

[2017-11-27 02:42] jackyko1991 opened #14896 "[bug report] CMakeList config error"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-27 02:46] firewu commented on #14610
**I get the same error when bazel building,do you know how to deal with it,thks!**
ERROR: /home/deeplearn/.cache/bazel/_bazel_deeplearn/bf1e87bfe06d5731809039dca55f14ae/external/org_tensorflow/tensorflow/contrib/lite/toco/BUILD:174:1: C++ compilation of rule '@org_tensorflow//tensorflow/contrib/lite/toco:graph_transformations' failed (Exit 1).
In file included from external/gemmlowp/public/../inte

[2017-11-27 03:02] mrbrantofgithub commented on #14761
Now that I convert the mobilenet model to lite format failed, how tensorflow offered us the converted mobilenet lite model on the github? @miaout17

[2017-11-27 03:16] pangzhan27 opened #14897 "A bug in tensorflow r1.4 when applying MultiRNNCell"
### System information
- **TensorFlow installed from source :
- **TensorFlow version: r1.4
- **Python version: 3.5.4
- **Bazel version: 0.5.4
- **GCC/Compiler version 5.4.0
- **CUDA/cuDNN version: 9.0 &5.0
- **GPU model and memory*: GeForce GTX 1080

### Describe the problem
when applying the MultiRNNCell as below, an error occurs. The code went well in tensorflow r1.3
# Source code
input_list is

[2017-11-27 03:21] joa23 opened #14898 "r1.4 build failed constexpr constructor calls non-constexpr function"
BLUF:
Build fails on OSX.
./tensorflow/core/framework/variant.h(343): error: constexpr constructor calls non-constexpr function "std::__1::unique_ptr<_Tp, _Dp>::unique_ptr() [with _Tp=tensorflow::Variant::ValueInterface, _Dp=std::__1::default_delete<tensorflow::Variant::ValueInterface>]"

1 error detected in the compilation of "/var/folders/96/nq247q_92n99r8hkfvlxg_6w0000gn/T//tmpxft_00004cf5_0000

[2017-11-27 03:35] concerttttt commented on #14896
Met the same issue, to cheat cmake, either comment the line for deleting gpu_tracer.cc or create a fake empty file, but still I don't think it's a good practice.

[2017-11-27 03:39] jackyko1991 commented on #14896
Seems gpu_tracer.cc is renamed to device_trace.cc, changing the filename in .cmake file help to solve the problem but the git repository need to be updated

[2017-11-27 03:47] pangzhan27 commented on #14897
@arixlin  Thank you so much,  it works out

[2017-11-27 04:53] Ellie68 opened #14900 "How to control the thread number on Tensorflow?"
Hi all,

Do we have any options to control the number of threads in TF-Slim both in training and evaluation processes?

Specifically, I use [this network](https://github.com/pudae/tensorflow-densenet) for my classification problem. I changed the evaluation part in a way that runs train and evaluation in parallel like [this code](https://github.com/mnuke/tf-slim-mnist). I can run it on my own CPU w

[2017-11-27 05:07] aluo-x commented on #12052
For those on Windows, I have just uploaded TF 1.4.0 built against CUDA 8.0.61.2, cuDNN 7.0.4, Python 3.6.3, with AVX support [onto my repo](https://github.com/aluo-x/tensorflow_windows). Hopefully this is enough until CUDA 9 gets sorted out on Windows.

[2017-11-27 05:11] stevefox commented on #8820
Google designed an ASIC with which they've done this called the Tensorflow Processing Unit (TPU). There's a fair amount of information on it that has been publicly released.

* https://drive.google.com/file/d/0Bx4hafXDDq2EMzRNcy1vSUxtcEk/view
* https://www.nextplatform.com/2017/04/05/first-depth-look-googles-tpu-architecture/
* https://cloud.google.com/blog/big-data/2017/05/an-in-depth-look-at-goo

[2017-11-27 06:07] danielfleischer commented on #14689
@TarrySingh didn't immediately help but upgrading all pip packages did:

`pip3 freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip3 install -U`

Hope it helps.

[2017-11-27 06:42] yomoko opened #14902 "tensorflow for python 3.6 will cause Jupyter notebook not executing properly"
Details refer to this issue I originally posted. -->https://github.com/jupyter/notebook/issues/3084

[2017-11-27 07:13] sylvain-bougnoux commented on #14801
I don’t think so either, it is a matter of linking your app with the TF libraries. Making a whl should work, while making an app is prone to fail.
I have summited this bug to MS but no answer yet.

[2017-11-27 07:52] wwwyn opened #14903 "Non-deterministic result using a pre-trained word embedding in TensorFlow"
I use pre-trained word embedding to initialize embedding in tensorflow, but got a non-deterministic result. However, if I fix the seed and use random initialization, the result is almost the same.What's the problem here? Thanks.
The code is here:

[code]

init_embedding is the pre-trained word embedding

[2017-11-27 08:00] nikste commented on #12860
@Queequeg92 installing from source did not fix the problem, ended up manually adding directories to .h files as additional include directories and copying `cuda_config.h` from source to my project.

[2017-11-27 08:02] SMZCC commented on #7253
- I have successfully used tf.shape()[0] to flat a  tensor with  none dim  as a vector, thanks
[code]
- however , I want to connect a full connected layer behind the  `tensor_vector`, so I have to define the weight matrix's shape, then the contradiction is occurred ,because when I　using the `wshape = (tf.shape(some_tensor)[1] *tf.shape(some_tensor)[２] , 1000)` to define the weight matrix , the err

[2017-11-27 08:43] rafalfirlejczyk opened #14905 "Running label_wav.py from Simple Audio Recognition on Windows 7/64 is generating errors: CRITICAL:tensorflow:Audio file does not exist CRITICAL:tensorflow:Labels file does not exist CRITICAL:tensorflow:Graph file does not exist"
Windows 7/64, GPU Nvidia M2000M, Python 3.5.4, tensorflow 1.5.0-dev20171120.

I was following the Simple Audio Tutorial. After retraining and freezing the model I was trying to run the script label_wav.py. The script produces an error: CRITICAL:tensorflow:Audio file does not exist CRITICAL:tensorflow:Labels file does not exist CRITICAL:tensorflow:Graph file does not exist:

C:\Users\bbb738>python

[2017-11-27 08:49] Gumilton opened #14906 "Functionality Available?: Dataset Input perform slicing along time axis"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7
- **TensorFlow installed from (source or binary)**: from pip
- **TensorFlow version (use command below)**: 1.3
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:
- **GCC/Compi

[2017-11-27 08:51] shaurya0 commented on #14830
Thanks for your comment.

[2017-11-27 08:51] #14830 closed

[2017-11-27 08:56] ManuelaPa commented on #14363
Hello
I installed tensorflow 1.4 cudnn 6 and cuda 8.0
I have the same problem "cuda_event.cc:49 Error polling for event status: failed to query event: CUDA_ERROR_ILLEGAL_ADDRESS" when I try yo train with tensoflow
I have tried to install anothers versions but I have the same issue always and in some computers, not only mine. Do you know what I have to do? Thanks

[2017-11-27 09:31] rashmishrm commented on #8191
ValueError: Attempt to reuse RNNCell <tensorflow.contrib.rnn.python.ops.core_rnn_cell_impl.GRUCell object at 0x117f7cbd0> with a different variable scope than its first use.  First use of cell was with scope 'embedding_attention_seq2seq/rnn/multi_rnn_cell/cell_0/gru_cell', this attempt is with scope 'embedding_attention_seq2seq/rnn/multi_rnn_cell/cell_1/gru_cell'.  Please create a new instance of

[2017-11-27 09:41] kartikeyasaxena1012 commented on #14861
@Carmezim yes I am using python 3.6 . Is CUDA & cuDDn installation necessary to install tensorflow on windows??

[2017-11-27 09:42] kartikeyasaxena1012 commented on #14861
@shivaniag I am still facing issues

[2017-11-27 09:46] golu-golu commented on #14861
No it's not necessary to have CUDA unless you are using tensorflow CPU

[2017-11-27 09:46] golu-golu commented on #14861
Correction : tensorflow GPU

[2017-11-27 09:51] kartikeyasaxena1012 commented on #14861
@golu-golu I tried to install tensorflow cpu but still the same error popped up
but as I have a graphic card it would be nice to use it for tensorflow-gpu

[2017-11-27 09:57] dantkz commented on #9091
There is indeed different treatment for `dtype=tf.int32 ` for `tf.zeros`, `tf.zeros_like`, `tf.ones`, `tf.ones_like`.

These ops are defined in [tensorflow/python/ops/array_ops.py](https://github.com/tensorflow/tensorflow/blob/96f334b0d6ec61f5037b8ddd1860a9aa7874efef/tensorflow/python/ops/array_ops.py#L1433).

They all call `fill` function defined in [tensorflow/core/kernels/constant_op.cc](https:

[2017-11-27 10:00] dantkz commented on #9091
There may be a relation to [issue 13221](https://github.com/tensorflow/tensorflow/issues/13221).

[2017-11-27 10:16] Jerrylu5683 commented on #11048
@rohitrango how to revert? I set the soft-link of libcudnn.so to libcudnn.so.5 but it doesn't work.

[2017-11-27 11:31] dickreuter opened #14909 "Crossentropy loss function with weights by sample and by category and outcome"
In my loss function I would like to weight each sample differently and in each sample, each category should be weighted differently as well depending on the outcome. Meaning if in a cross entropy the one_hot is correctly specified, a different weight needs to be applied than when the output is incorrect. So I would need two weights per category. A tensor with rank 3. One dimension for the samples,

[2017-11-27 12:12] bigpalm82 commented on #14855
It could be helpful to run a script directly, e.g. "python /usr/local/lib/python2.7/dist-packages/tensorboard/main.py --logdir=~~~"

[2017-11-27 12:33] smsrikanthreddy commented on #14358
Hi @InsZVA ,
I tried your suggestions and accordingly,  I have updated the /serving/tensorflow/tensorflow/BUILD file with the below lines,
tf_cc_shared_object(
    name = "libtensorflow.so",
    linkopts = select({
        "//tensorflow:darwin": [
            "-Wl,-exported_symbols_list",  # This line must be directly followed by the exported_symbols.lds file
            "//tensorflow/c:exported_s

[2017-11-27 13:55] qianyizhang commented on #5688
@HggsHntr
This solves your problem completely on windows 10?

[2017-11-27 14:03] qianyizhang commented on #5688
I am having problem with slim.conv3d_transpose(which is wrapper of convolution3d_transpose?)
What's interesting is that the error message does not occur all the time, almost like a coin flipping...
[code]

[2017-11-27 14:04] riadsouissi commented on #14231
gunan, thanks for the feedback. I upgraded to TF 1.4 and used your option as well. Things are much more stable now, though training with GPU on my machine is slower than CPU, mostly due to my setup have been configured  for mining (low PCI for stability). Will play with PCI and see...

[2017-11-27 14:17] dickreuter commented on #10021
In my loss function I would like to weight each sample differently and in each sample, each category should be weighted differently as well depending on the outcome. Meaning if in a cross entropy the one_hot is correctly specified, a different weight needs to be applied than when the output is incorrect. So I would need two weights per category. A tensor with rank 3. One dimension for the samples,

[2017-11-27 14:33] dantkz commented on #13221
I suspect the main leak is not from ones/ones_like but from tf.where.

I modified the example code, so that it doesn't create new nodes in the computation graph while iterating. The script checks memory usage depending on which implementation of relu is in use.

[code]

This is the output on my machine with tensorflow 1.4:
[code]

As you can see, there memory usage doubles after the first iteratio

[2017-11-27 14:59] Piedone commented on #8820
Yes, Hastlayer works in a very similar way @stevefox .

What do you think, which part of TF would be most interesting to swap out with an accelerated implementation? It seems to me that the most important piece of the TPU is the matrix multiplier, a somewhat similar feature to GPUs.

[2017-11-27 15:13] danbarnes333 commented on #14898
I can build the last commit before the last changes to variant.h which is [9380e3a832](https://github.com/tensorflow/tensorflow/commit/9380e3a8327e801bee5cf3ab34b98dcbd3c72bf7)

The changes at the following commit break the build for me so is probably a good place to start [105dd2aa22c7aaac401d2d8ed3131b5d81fdc227](https://github.com/tensorflow/tensorflow/commit/105dd2aa22c7aaac401d2d8ed3131b5d81f

[2017-11-27 16:10] mrry commented on #14885
I posted a (possible) answer on your [Stack Overflow question](https://stackoverflow.com/q/47499138/3574081). Feel free to reopen this issue if that doesn't solve the problem.

[2017-11-27 16:10] #14885 closed

[2017-11-27 16:11] mrry commented on #14905
Do those files exist? They don't look like Windows paths....

[2017-11-27 16:29] vrv commented on #13221
@ebrevdo is the temporary memory allocated to cub not being freed at the end of the kernel?

[2017-11-27 16:30] jcftang commented on #14779
FYI you probably need to update setuptools to 'setuptools-38.2.1' and also install wheel if you don't have it installed.

[2017-11-27 16:32] dantkz opened #14913 "[BUG] argparse (Argument Parser) is not working in nightly build"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip install tf-nightly-gpu
- **TensorFlow version (use command below)**: v1.3.0-rc1-5211-gab0fcac 1.5.0-dev20171125
- **Python version**:

[2017-11-27 16:34] alanhdu commented on #14779
I wonder whether this is a problem with an old version of `setuptools` (or maybe `wheel`?). I have `36.5.0`, which works fine.

[2017-11-27 16:38] jcftang commented on #14779
@alanhdu I am building on centos7 and setuptools is too old on on centos, the package built as soon as I updated setuptools and installed wheels.

It would be nice if the packaging didn't force an update on setuptools for people running on long term supported distros

[2017-11-27 16:42] shivaniag commented on #14812
Closing this, feel free to reopen if this is a different stack trace.

[2017-11-27 16:42] #14812 closed

[2017-11-27 16:49] lvilnis opened #14914 ""and", "or", etc, should be overloaded if possible"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OS X 10.13.1
- **TensorFlow installed from (source or binary)**: Binary (anaconda)
- **TensorFlow version (use command below)**: 1.1.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**:

[2017-11-27 16:51] lvilnis commented on #14914
Not sure how I can assign or mark as a feature request but looping in @alextp

[2017-11-27 16:54] mrry commented on #14913
2652704b576adc16b4d735f651cea1024e88b72e changed the behavior of `tf.app.run()` to look at `sys.argv` and attempt to parse the flags using `absl.flags`.

As a workaround, you can pass an empty list of args to `tf.app.run()`:

[code]

@martinwicke @yilei This seems like it might be a breaking change for existing users of `argparse`. Should we find a way to make this optional before it gets into a r

[2017-11-27 16:57] alquraishi opened #14915 "Very different CPU usage/allocation behavior when using slightly different CPUs"
I am running the same exact model on two largely similar systems, let's call them system A and B. However, TF's behavior is very different. On system A, CPU utilization is around 60% (on a 12-core system), while on system B CPU utilization is only around 8%. Moreover, on system A the same model runs about 10x slower than system B, even though it's using far fewer CPU resources.

The systems are si

[2017-11-27 17:00] shivaniag commented on #14806
@mrry could you please take a look.

[2017-11-27 17:12] mrry commented on #14806
I think `DataType 21` is `DT_VARIANT`, which is indeed the expected dtype for a `TextLineDataset`:

https://github.com/tensorflow/tensorflow/blob/ab0fcaceda001825654424bf18e8a8e0f8d39df2/tensorflow/core/framework/types.proto#L37

I'm not sure why it's not supported in the Go API, but there is a TODO here:

https://github.com/tensorflow/tensorflow/blob/ab0fcaceda001825654424bf18e8a8e0f8d39df2/tenso

[2017-11-27 17:15] martinwicke commented on #14913
Yeah, that is a problem. @yilei, we do need to maintain backwards compatibility for the behavior of `tf.app.*`. Maybe we need to extend the wrapper to be ugly.

We should also deprecate `tf.app` and `tf.flags` altogether. They are included for historical reasons, TF has no business containing those modules.

[2017-11-27 17:15] mrry commented on #14906
Currently the `tf.data` APIs all treat the outermost dimension as the batch dimension, both for slicing into elements and for batching. Can you use `tf.tranpose()` or `np.transpose()` to reorder the dimensions so that this works for your data?

[2017-11-27 17:19] joa23 commented on #14898
@danbarnes333,
Thanks! Good to know someone else has the same setup. I was afraid it was hardware related.
Does the 9380e3a832 build than work for you? I managed to the build r1.3 branch but any Tensorflow hello world just hang. No stack trace. No Error message.

[2017-11-27 17:22] dantkz commented on #13221
Actually, there may be no memory leak...

I've put the memory_stat calls outside the graph, and everything started to work faster and without memory growth:

[code]

Result:

[code]

It seems memory_stat has imperfect memory management. :)

[2017-11-27 17:23] ispirmustafa commented on #14768
yes.

[2017-11-27 17:23] #14768 closed

[2017-11-27 17:36] mrry commented on #14857
The `Dataset.shuffle()` implementation is designed for data that could be shuffled in memory; we're considering whether to add support for external-memory shuffles, but this is in the early stages. In case it works for you, here's the usual approach we use when the data are too large to fit in memory:

1. Randomly shuffle the entire data once using a MapReduce/Spark/Beam/etc. job to create a set o

[2017-11-27 17:44] yaroslavvb commented on #13221
@dantkz what you are seeing is related. Calling tf.contrib.memory_stats.MaxBytesInUse() in loop body appends a new op to your graph. Ideally this should only leak CPU memory and not GPU memory. However, the way const's are implemented, any modification of the graph will cause TensorFlow to create new copies of all consts (see reedwm comment on Oct 2). The bottom line is that const nodes will leak

[2017-11-27 17:52] case540 commented on #14039
You can disable s3 and gcp support by not having --config=s3 or --config=gcp in your Bazel build command (answering No to s3 and gcp support question when running configure.py will do this (they default to the Yes choice)).

Looks like you already did this though.

[2017-11-27 18:24] asimshankar commented on #14732
Apologies for the late response, I was out. Long story short: This behavior is intended and it isn't a bug :)

The `tf.data` API defines input processing as a dataflow graph that is executed by the TensorFlow runtime. In the code sample above, the call to `dataset.flat_map` expects a function that constructs the dataflow graph defining the transformations to be performed. As a result, you'll obser

[2017-11-27 18:26] gyang274 opened #14916 "tf.nn.softmax(input, dim=-1, name=None), argument `dim` cannot take negative index other than -1?"
I expect that in the function `tf.nn.softmax(input, dim=-1, name=None)`, the argument `dim` can take dim either positive or negative. However, it seems the only negative index can be taken is -1?

[code]

[2017-11-27 18:28] yilei commented on #14913
Looks like `tf.app.run` needs to continue ignoring unknown flags (i.e. unfix #11195)

However, does the example code work before the change? `tf.app.run` will call `main` with positional arguments, but here the `main` function has no arguments and it's called manually.

Did you mean the following?

    def main(argv):
      parser = argparse.ArgumentParser(description='argsparse test for tensorflo

[2017-11-27 18:33] malmaud commented on #14768
I still think it would be nice to have some kind of interface for exposing the relationship between columns and features to users, even if it's not user-specifiable.

[2017-11-27 18:48] dantkz commented on #14913
@yilei yes, the example code works with tensorflow 1.4.

I call `main` manually just to show that the arguments are parsed by python. I wouldn't call it in a usual usecase. I don't think I would want any arguments from `tf.app.run`.

@mrry Unfortunately the work-around doesn't work:
[code]

This, however, works:
[code]
and this doesn't:
[code]

[2017-11-27 18:48] shivaniag commented on #14825
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-27 18:48] #14825 closed

[2017-11-27 18:50] kuba-chledowski commented on #11157
I have similar problems when trying to reproduce [esim](https://arxiv.org/abs/1609.06038). However, when I use simpler neural network architecture, such as [bilstm](https://arxiv.org/abs/1508.01991), everything works correctly.

Changing saving to keras.save did not help.

    Traceback (most recent call last):
      File "src/scripts/train_model.py", line 69, in <module>
        plugins=[MetaSave

[2017-11-27 18:53] shivaniag commented on #14829
I don't see any typo at "https://www.tensorflow.org/programmers_guide/embedding#projections", could you please redirect to the correct link unless it has already been fixed.

[2017-11-27 18:54] JoshVarty opened #14918 "This build requires an Android SDK. Please add the android_sdk_repository rule to your WORKSPACE"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04 LTS
- **TensorFlow installed from (source or binary)**:  Source
- **TensorFlow version (use command below)**:  Master from November 17 (11eefcd21f9f3d92740cb85d9576198507eeb118)
- **Python version

[2017-11-27 18:55] yilei commented on #14913
The correct workaround should be `tf.app.run(argv=sys.argv[:1])`, not `tf.app.run(argv=sys.argv[1:])`

[2017-11-27 18:58] dantkz commented on #14913
@yilei you are right, but surprisingly it works in both cases.

[2017-11-27 18:59] shivaniag commented on #14815
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

[2017-11-27 19:04] yilei commented on #14913
Hmm I think it worked in your example since `sys.argv[1:]` is `['--myarg', 'buzz']`, `--myargv` is treated as the program name, and it only tries to parse `['buzz']`, which only contains positional arguments.

[2017-11-27 19:06] yilei commented on #14913
@dantkz I tried your example in 1.4, but I got this:

[code]

[2017-11-27 19:09] dantkz commented on #13221
@yaroslavvb Ah, yes, as you pointed out this behavior happens when the computation graph is being updated. I got carried away trying to find if a memory leak in my code is related to this memory leak, so I just re-did what you guys had above. My code doesn't grow the graph, but it uses `tf.scatter`/`tf.gather`/`tf.unique`/`tf.where` to modify `tf.ones` and `tf.constant` tensors depending on the in

[2017-11-27 19:16] dantkz commented on #14913
@yilei Oops, my tensorflow 1.4 example had `def main(argv):`, sorry. :(

The bug is still there with `def main(argv):`.

[2017-11-27 19:28] shivaniag commented on #14795
https://www.tensorflow.org/api_docs/python/tf/contrib/cudnn_rnn/CudnnGRU, it seems that you have given wrong set of arguments.

[2017-11-27 19:28] #14795 closed

[2017-11-27 19:34] mrry commented on #14913
Sorry for the bug in the workaround. Perhaps the following would work to ensure that the executable name is preserved?

[code]

[2017-11-27 19:41] nikonikolov opened #14921 "Possible sparse gradients bug in 1.4"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Slackware 14.2
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: 3.6

### Problem
I get the following warning when I run my code:
[code]
When I was using the exact same code with TF 1.3, I did not get t

[2017-11-27 19:41] yongtang commented on #14916
Added a PR #14920 for the fix.

[2017-11-27 19:43] shivaniag commented on #14818
@yifeif could you please take a look at this.

[2017-11-27 19:44] rafalfirlejczyk commented on #14905
Yes, they do exist according exactly as it is stated in the command bellow. So  the **my_frozen_graph.pb** in c:/tmp, **conv_labels.txt** is in c:/tmp/speech_commands_train/ and **a5d485dc_nohash_0.wav** is in c:/tmp/speech_dataset/left/.

According to the code in label_wav.py the program probably cannot find the tf.gfile...:

def label_wav(wav, labels, graph, input_name, output_name, how_many_lab

[2017-11-27 19:47] shivaniag commented on #14776
@yifeif could you please take a look.

[2017-11-27 20:39] ispirmustafa commented on #14768
I think it's doable without changing order. Currently we're returning vars related to FCs via cols_to_vars. We can similarly add an argument such as cols_to_slices.

[2017-11-27 20:44] mrry commented on #14905
Does it work if you explicitly include `C:/` at the beginning of the paths?

[2017-11-27 20:50] viktro78 commented on #14915
The E5-2643 v4 uses the broadwell architecture, whereas the v3 uses haswell architecture. Broadwell architecture uses a 14nm process, whereas the haswell architecture uses 22nm, resulting in broadwell having a much higher ipc.

[2017-11-27 20:54] rafalfirlejczyk commented on #14905
No, adding c:/   does not.  Still the same  failure.
I even copied all these three files to the same folder where I am starting the script and I called the script like this:

_C:\Users\bbb738\tensorflow>python tensorflow/examples/speech_commands/label_wav.py \--graph=my_frozen_graph.pb \--labels=conv_labels.txt \--wav=a5d485dc_nohash_0.wav_

I still see the same failure:

_CRITICAL:tensorflow:Audi

[2017-11-27 20:59] RylanSchaeffer opened #14923 "_LayerRNNCell __call__() method incompatible with tuple of tensors"
I'm trying to build a custom LSTM cell that should accept a tuple of tensors in the call method. However, as part of the `dynamic_rnn` loop, `_LayerRNNCell`'s `__call__()` method requires that `inputs` be a `2-D` tensor with shape `[batch_size, input_size]`, which is incompatible with a tuple of tensors. Is there a way around this, or can the `__call__()1 method be expanded to be more flexible?

T

[2017-11-27 21:01] mrry commented on #14905
Can you try running a small script that does the following?

[code]

From the error message, it looks like the arguments `wav`, `labels`, and `graph` are empty strings. Notice that the filenames do not appear in those "CRITICAL" error messages. Perhaps something is going wrong in the command-line argument parsing...

[2017-11-27 21:06] gyang274 opened #14924 "What is supported by broadcasting? Is the dimensions still limited?"
This is related to issue #1519.

This is OK:

[code]

However:
[code]
Gives an error:
`UnimplementedError (see above for traceback): Broadcast between [10,32,1,4,4,1] and [10,1,32,1,4,4] is not supported yet.
	 [[Node: mul_1 = Mul[T=DT_INT32, _device="/job:localhost/replica:0/task:0/device:CPU:0"](Const_2, Const_3)]]`

Log:
[code]

[2017-11-27 21:07] rafalfirlejczyk commented on #14905
3x true

C:\Users\bbb738\tensorflow>python tensorflow/examples/speech_commands/test_rf.py
True
True
True

[2017-11-27 21:12] rafalfirlejczyk commented on #14905
Not sure if it helps, but I googled this issue

https://github.com/tensorflow/tensorflow/issues/9027

[2017-11-27 21:16] RylanSchaeffer commented on #14923
I just realised that the problem arises because my custom LSTM inherits from `BasicLSTMCell`, which requires that `Inputs must be 2-dimensional.` The above error thus arises because `self.input_spec` is set during initialisation and an error check on dimensionality is performed, so even though my custom `call` method handles the tuple of tensors, execution never reaches that code because it fails

[2017-11-27 21:22] mrry commented on #14905
I believe that that old issue has been fixed, and the problem seems to be in how `argparse.ArgumentParser()` is working in this code:

https://github.com/tensorflow/tensorflow/blob/7726333292b9e3d97a033617ee53099f6c4fedd5/tensorflow/examples/speech_commands/label_wav.py#L109-L130

Can you try modifying `label_wav.py` to print out both `FLAGS` and `unparsed` after it calls `parse_known_args()`?

[2017-11-27 21:27] allenlavoie commented on #14780
Oh right, our Bazel build is still not quite there on Windows. Is the issue that we don't have an exported symbol list for the C++ API? CMake would be good to try.

[2017-11-27 21:31] mas-dse-greina commented on #9868
Can this be done with inference too? I mean can you pass the run_metadata into the .predict()? Or when you load the model from a saved file?

[2017-11-27 21:34] RylanSchaeffer commented on #14923
It seems like changing `call()` to `__call__()` allows me to bypass this problem. What is the difference?

[2017-11-27 21:36] gunan commented on #7077
This is strictly a TB dependency.
You should reach out to tensorboard to look into fixing this dependency in tensorboard pip package.

[2017-11-27 21:42] rafalfirlejczyk commented on #14905
I added a few prints after definition of label_wav like this (arround line 85):

_def label_wav(wav, labels, graph, input_name, output_name, how_many_labels):
  """Loads the model and labels, and runs the inference to print predictions."""

  **print(FLAGS.wav)
  print(FLAGS.labels)
  print(FLAGS.graph)**

  if not wav or not tf.gfile.Exists(wav):
    tf.logging.fatal('Audio file does not exist %s

[2017-11-27 21:50] mrry commented on #14905
OK, it definitely looks like `parser.parse_known_args()` isn't doing the expected thing, because that looks like all the flags have their default values.

What print statement is printing "_wav_data:0 labels_softmax:0 3"?

[2017-11-27 22:08] gyang274 commented on #14924
An update:

I assume the reason is related to how the dimensions are matching, instead of the total number of dimensions, or the number of mis-match. Because the following script runs OK, where x3 has the 2nd to last dimension changes from 4 to 1, adding one more places of mismatch.

[code]

[2017-11-27 22:17] shivaniag commented on #14868
@jsimsa I believe you were looking into a similar bug internally, could you please look into this.

[2017-11-27 22:26] gunan commented on #10685
I just tested building with mkl again on macos with bazel 0.8, and it is still looking for the dylib files under the wrong directory. I will follow up with bazel team and will soon come back with another update.

[2017-11-27 22:31] vade commented on #10685
@gunan Thank you very much for continuing to respond to this issue, its very much appreciated!

[2017-11-27 23:43] gunan commented on #14039
Looks like now we need boringssl for grpc.
@martinwicke WDYT?

[2017-11-27 23:46] gunan commented on #14039
Also cc @vjpai
We would like to build TF for s390x. But boring SSL strictly has no ppc64 support. Looks like GRPC now depends on boringssl. Below is my bazel query output:
[code]
 How would you recommend for us to proceed?

[2017-11-27 23:48] martinwicke commented on #14039
This looks like a bug in the grpc_unsecure rule. It seems like it shouldn't depend on any ssl code. @mrry do you know who to best tell about this?

[2017-11-27 23:50] tatatodd commented on #14805
Thanks for filing the issue @johngrabner

I suspect the `cuDNN v6.1` in the TensorFlow Windows installation instructions is a typo, and the correct version should be `cuDNN v6.0`.  Notice that the linux instructions mention `v6.0`.
https://www.tensorflow.org/install/install_linux

@mrry can you confirm that this is a typo?  If so I'll fix up the instructions; if not we'll need to find `cuDNN v6.1`

[2017-11-27 23:51] angersson commented on #14664
I'm running into this problem too on Docker (I'm the one who wrote the build instructions). @bryant1410, could you also post the contents of your `WORKSPACE` file?

The build has been working in our internal Bazel tests, so my initial assumption is that this is an environmental configuration issue of some kind.

[2017-11-27 23:52] tatatodd commented on #14805
BTW I should also point out that people are confused by this on the nvidia forums as well, so if this is indeed a typo, we should also leave a comment here:
https://devtalk.nvidia.com/default/topic/1023497/no-link-to-download-cudnn-v6-or-v6-1/

[2017-11-28 00:07] angersson commented on #14664
I cloned HEAD on my work machine and successfully built the app:

[code]

Here's what WORKSPACE looks like:

[code]

And the output of `bazel version`:

[code]

So there's... some critical environmental difference going on.

[2017-11-28 00:17] mrry commented on #14805
Yep, looks like 5.1 was changed to 6.1 without making sure that that exists :).

[2017-11-28 00:19] mrry commented on #14039
I think @vjpai would probably have it covered - he recently switched us over to using gRPC's own `BUILD` file (instead of our old fork).

[2017-11-28 00:25] johngrabner commented on #14805
Release note says 6.0
So 2 inconsistencies to fix

Sent via the Samsung Galaxy S7 edge, an AT&T 4G LTE smartphone

-------- Original message --------
From: Derek Murray <notifications@github.com>
Date: 11/27/17 6:20 PM (GMT-06:00)
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: johngrabner <john_grabner@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [tensorflow/tenso

[2017-11-28 00:46] tatatodd commented on #14805
@johngrabner To be clear, there was simply a typo in the Windows installation instructions.

TensorFlow 1.3 onwards requires `cuDNN v6.0` for both Linux and Windows.  The release notes already say`cuDNN v6.0`, which is correct.

I'm fixing up the docs, which should eventually make it onto the live tensorflow.org site.  I'll also leave a comment on the nvidia forum I mentioned above.

Closing this

[2017-11-28 00:50] johngrabner commented on #14805
Thank you

Sent via the Samsung Galaxy S7 edge, an AT&T 4G LTE smartphone

-------- Original message --------
From: Todd Wang <notifications@github.com>
Date: 11/27/17 6:49 PM (GMT-06:00)
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: johngrabner <john_grabner@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [tensorflow/tensorflow] Installation says to use cuDNN v6.1,

[2017-11-28 01:10] asimshankar commented on #14739
Sounds like a fair request :), will send out a change to address this.

[2017-11-28 01:14] Heilce commented on #7285
@rsaliy  could you tell me how to fix it,I meet the same problem with you.

[2017-11-28 01:22] asimshankar commented on #14546
Apologies for the late reply, I was out.

DataType 23 corresponds to `TF_UINT64`:

https://github.com/tensorflow/tensorflow/blob/ab0fcaceda001825654424bf18e8a8e0f8d39df2/tensorflow/core/framework/types.proto#L39

support for which was added pretty recently (after TensorFlow 1.4 was cut) in commit https://github.com/tensorflow/tensorflow/commit/3bafe0a86f67dd54197c6d60bdb5053f510de7d8

So the test

[2017-11-28 01:22] #14546 closed

[2017-11-28 01:24] tatatodd commented on #14807
@djbard Thanks for filing the issue!  As @facaiy mentioned, a minimum repro would be appreciated.  But I agree that this looks like a cycle in Eigen that ends up exhausting the stack.

@benoitsteiner @rmlarsen Can you take a look, or suggest someone who can?

Here's a simplified form of the bottom of the stack trace from the `gdbTrace.log` link above.  I dunno if this is simply a bug that causes a

[2017-11-28 01:38] tatatodd commented on #14811
@junshi15 can you comment on this?  Thanks!

[2017-11-28 01:38] DominikLorenz commented on #14244
@quarkleptonboson you need to write cp36-cp36m instead of cp36-cp36mu . I just had the same problem ;)

[2017-11-28 01:42] tatatodd commented on #14835
@nfiedel might have some ideas here.

[2017-11-28 01:48] Gumilton commented on #14906
Thank you! @mrry
Our data now is in shape [batch, time, features]. If we do a transpose into [time, batch, features], this is not what we want to have.

Otherwise, for a batch of two signals of time series, for example, for simplicity number of features == 1, so of shape [2, 6, 1]
[
  [[1], [2], [3], [4], [5], [6]],
  [[7], [8], [9], [10], [11], [12]]
]
What we want to pass as input of x is
[
 [[1

[2017-11-28 01:54] Sixigma commented on #14610
Sorry , I didn't solve it , does it still remain on newest branch ?

[2017-11-28 01:59] tatatodd commented on #14841
@ispirmustafa might have some ideas here.

[2017-11-28 02:01] tatatodd commented on #14845
Thanks @facaiy!  Please update this bug when your PR #14862 lands.

[2017-11-28 02:03] asimshankar commented on #14806
As @mrry mentioned, `op.TextLineDataset` produces a `DT_VARIANT` tensor.
I'm not quite sure what we'd want `.Value()` on it to return. Could you clarify what you were expecting it to?

Note that the `dataset` tensor is meant for consumption by iterators, and you can construct dataset tensors and create iterators over them in Go (though, you have to do it from the primitive ops as we don't have the

[2017-11-28 02:03] tatatodd commented on #14851
@facaiy Please update this bug when your PR #14865 lands.  And thanks for your help and PRs!  :)

[2017-11-28 02:05] tatatodd commented on #14855
Please file TensorBoard issues under https://github.com/tensorflow/tensorboard/issues

[2017-11-28 02:05] #14855 closed

[2017-11-28 02:08] tatatodd commented on #14857
Thanks for the update @mrry!

@reyne-d does the suggestion of pre-shuffling your data into shards, and then shuffling the shards work for you?

[2017-11-28 02:19] tatatodd commented on #14801
Thanks for the notes @sylvain-bougnoux!

Adding @mrry @gunan @tfboyd since they might be interested in your notes on getting things working.

As the referenced bugs mention, support for CUDA 9 / cuDNN 7 is anticipated in TensorFlow 1.5.

Marking this as "community support" since the purpose of this issue seems to be to collect useful tips in making this all work.

[2017-11-28 02:26] tatatodd commented on #14859
@petewarden might have some ideas here.

[2017-11-28 02:35] angersson commented on #14664
This is ultimately caused by https://github.com/bazelbuild/bazel/issues/4068. NDK version 16 rearranged important includes, and Bazel doesn't support it yet.

You should be able to work around this by manually downloading NDK version 15, which you'll have to search around online for (the sdk manager doesn't let you download older versions). You can also try messing with [the NDK developer recommen

[2017-11-28 02:35] tatatodd commented on #14875
@ccqu Does the following work?  I.e. you've imported `tensorflow as tf`.
[code]
Or how about using `tf.data.TFRecordDataset` directly?

[2017-11-28 02:37] tatatodd commented on #14879
Seems reasonable to me, can you comment on this @fchollet?  Thanks!

[2017-11-28 02:40] AdaZhangLi commented on #6331
--virtualenv
if your python's version is 2.7,try this:
virtualenv python27
source python27/bin/activate

[2017-11-28 02:42] tatatodd commented on #14887
@mrry might have some thoughts on this.

[2017-11-28 02:44] tatatodd commented on #14891
@asimshankar might have some ideas here.

[2017-11-28 02:45] #14897 closed

[2017-11-28 02:46] tatatodd commented on #14903
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-28 02:46] #14903 closed

[2017-11-28 02:48] mrry commented on #14906
Ah, I misunderstood what you were asking for. Yes, you can do this using `Dataset.flat_map()`. For example, the following program produces the result you describe (although it doesn't use a `lookback` variable, so you might need to change it still):

[code]

[2017-11-28 02:48] #14906 closed

[2017-11-28 02:49] tatatodd commented on #14909
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there.

Note that after discussion on StackOverflow, if you believe a feature request is warranted, feel free to file a specific feature request here in github issues.

Thanks!

[2017-11-28 02:49] #14909 closed

[2017-11-28 02:59] tatatodd commented on #14793
@automateljw The Dataset API is the recommended way to combine train and eval input pipelines in the same Session.  Read about it here:
https://www.tensorflow.org/programmers_guide/datasets

In particular, there is an example of exactly this usage here (search for `reinitializable iterator`):
https://www.tensorflow.org/programmers_guide/datasets#creating_an_iterator

Does this resolve your issue?

[2017-11-28 03:00] tatatodd commented on #14915
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-28 03:00] #14915 closed

[2017-11-28 03:00] Interstella12 commented on #14610
i got the same error

[2017-11-28 03:09] tatatodd commented on #14921
Looks like that warning has existed for over a year:
https://github.com/tensorflow/tensorflow/blame/master/tensorflow/python/ops/gradients_impl.py#L96

But note that it's only a warning.  Is there actually anything wrong, other than the warning being generated?

[2017-11-28 03:10] tatatodd commented on #14923
@ebrevdo might have some thoughts on this.

[2017-11-28 03:15] alquraishi commented on #14915
You can close this if you want, but I'm reporting this as a bug, not a request for help. Same model with 10X performance decrease and 8X CPU utilization increase on nearly identical CPUs is not exactly expected behavior.

[2017-11-28 04:04] fchollet commented on #14879
Yes, I agree that covering the use case "how can I define a custom Estimator using the Keras API" would be great to have in the main tutorial. How should we proceed?

[2017-11-28 04:05] firewu commented on #14610
I fellow  the part of  “Optimized build”  on the page of https://www.tensorflow.org/serving/setup,
and added msse4 options(Although mine is on modern x86_64) when building and testing,it seems work,but maybe not the best solution.
1.> nohup.out && nohup  bazel build -c opt **--copt=-msse4.1 --copt=-msse4.2** tensorflow_serving/... &
2.bazel test -c opt **--copt=-msse4.1 --copt=-msse4.2**  tensorfl

[2017-11-28 04:14] is8ac commented on #14806
I didn't have any expectations regarding what dataset.Value() returns, I was just playing with the OP to see what it did and was surprised by the error.

Now that you have shown me the usage of op.Iterator(), I know how to use datasets correctly, and don't need dataset.Value() to return anything in particular. Just a clearer error message would be nice.

Does there currently exist documentation /

[2017-11-28 04:30] quarkleptonboson commented on #14244
It worked! Thanks!

[2017-11-28 04:41] shivaniag commented on #14824
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-28 04:41] #14824 closed

[2017-11-28 04:48] MtDersvan commented on #12968
@drpngx I think the order of parameters doesn't need to be changed, `num_true` is always the first `.attr`, so switching it to an `.input` preserves the order. I have a simple working fix that leaves almost everything intact [here](https://github.com/MtDersvan/tensorflow/tree/r1.4) on`r1.4` branch. If you're interested I can submit a PR.
I did direct changes to `core/ops` and `core/kernels` instea

[2017-11-28 04:58] drpngx commented on #12968
Oh good, yes feel free to send the PR!

On Nov 28, 2017 12:51 PM, "MtDersvan" <notifications@github.com> wrote:

@drpngx <https://github.com/drpngx> I think the order of parameters doesn't
need to be changed, num_true is always the first .attr, so switching it to
an .input preserves the order. I have a simple working fix that leaves
almost everything intact here
<https://github.com/MtDersvan/tenso

[2017-11-28 05:43] facaiy commented on #14768
I'm afraid that cols_to_slices is a little complicated. At least for tuple, it seems safe to respect its iterator's order.

[2017-11-28 05:49] yaroslavvb commented on #14915
@alquraishi I guess the issue is that this bug is not actionable. Performance optimization is tricky, and there are many ways of ending up with slow performance. Without more details it's not clear if this is a fixable bug in TensorFlow, an unfixable bug in TensorFlow (or at least hard to fix), some kind of interaction between TensorFlow and underlying system, some inefficient implementation of th

[2017-11-28 05:52] ebrevdo commented on #14923
Don't subclass `BasicLSTMCell`.  You can copy/paste the bits you need for your class.

[2017-11-28 05:52] #14923 closed

[2017-11-28 06:04] facaiy commented on #14829
If I understand you correctly, you point out the "Euclidian" is not correct name here in the screenshot. And we should correct it to "Euclidean", right?

<img width="277" alt="image" src="https://user-images.githubusercontent.com/1112263/33304540-700729da-d444-11e7-8210-6154886f6e36.png">

[2017-11-28 06:10] jyoti59n commented on #14829
That's correct. Sorry all for a delayed response.

On Nov 28, 2017 11:36, "Yan Facai (颜发才)" <notifications@github.com> wrote:

[2017-11-28 06:34] prabufca commented on #14890
Hi Preti,

Kindly uninstall python 3.6 version and install python 3.5 version

[2017-11-28 06:56] vjpai commented on #14039
Thanks for the heads-up; I'll look this over. It is indeed a problem in the rule for grpc_unsecure if it actually depends on boringssl.

[2017-11-28 06:57] cybertk commented on #282
Fixed by upgrading protobuf, like @vrv pointed.

[2017-11-28 06:58] vjpai commented on #14039
Ok, I see the issue. This dependence is being pulled up through census. Not sure why census wants boringssl but I'll investigate.

[2017-11-28 07:10] rafalfirlejczyk commented on #14905
Q: What print statement is printing "_wav_data:0 labels_softmax:0 3"?
A: three prints - I added to the code yesterday. pls see my post above, however it is not important anymore

Today I  have change the code  to print **unparsed** and I got the following result:

**check unparsed=  ['\\--graph=/tmp/my_frozen_graph.pb', '\\--labels=/tmp/speech_commands_train/conv_l
abels.txt', '\\--wav=/tmp/speech

[2017-11-28 07:12] galeone commented on #14546
That was easier than I thought, so the fix is:

[code]

Perfect. Thank you!

[2017-11-28 07:26] tjacobs commented on #2412
I've written a small guide for C++ CMake TensorFlow on Mac: https://medium.com/@TomPJacobs/c-tensorflow-a-journey-bdecbbdd0f65

[2017-11-28 07:26] dhc1256436519 opened #14929 "Number of bytes mismatch when reading tflite schema"
I train a model outside and convert it into.lite format and import it to the iOS project，but I  encounter a problem below:why?
Loaded model resolved reporter tensorflow/contrib/lite/interpreter.cc:481 required_bytes != bytes (4 != 16)Tensor 88 is invalidly specified in schema.
Failed to construct interpreter

[2017-11-28 07:37] wangzhenhui1992 commented on #6971
the same problem

`InvalidArgumentError (see above for traceback): Cannot parse tensor from proto: dtype: DT_FLOAT
tensor_shape {
  dim {
    size: 150528
  }
  dim {
    size: 150528
  }
}
float_val: 0

	 [[Node: training/SGD/Const = Const[dtype=DT_FLOAT, value=<Invalid TensorProto: dtype: DT_FLOAT tensor_shape { dim { size: 150528 } dim { size: 150528 } } float_val: 0>, _device="/job:localhost/r

[2017-11-28 07:42] pemywei opened #14931 "Missing gradient for tf.argmax"
LookupError: No gradient defined for operation 'Argmax' (op type: Argmax)

[2017-11-28 07:46] facaiy commented on #14829
@jyoti59n thanks for reply. I think it is a typo, however we should report the issue to tensor board repository.

[2017-11-28 08:02] yutao256258 commented on #4840
hallo @Dagalaki , have you fixed the problem mit using using the tf.image.decode_png, i have the same problem as yours, if you have the answer, could you please help me, thanks

[2017-11-28 08:05] asimshankar commented on #14806
Unfortunately, no, there isn't any additional documentation beyond the godoc. We look forward to your tutorials and more community support/contributions. Thanks!

[2017-11-28 08:14] ccqu commented on #14875
@tatatodd Thanks, directly using `tf.data.TFRecordDataset` works!
\>\>\> `from tf.data import TFRecordDataset`
Traceback (most recent call last):
  File "\<stdin\>", line 1, in <module>
ModuleNotFoundError: No module named 'tf'
\>\>\> `tf.data.TFRecordDataset('filename.tfrecord')`
<TFRecordDataset shapes: (), types: tf.string>

What could be the cause of it? I have a Windows PC with TF r1.4 instal

[2017-11-28 08:24] HggsHntr commented on #5688
@qianyizhang
I am not sure about windows 10. I only tested it on windows server 2016.

[2017-11-28 09:10] warriorZH commented on #12468
I got the same error! help!!
**sys**
Ubuntu x64 14.04
bazel:0.7.0
tf:1.4
cuda:8
java:8

**error log**
INFO: Found 1 target...
ERROR: /home/mt-srcb/phzhang/DLplatform/tensorflow-1.4.0/tensorflow/core/BUILD:993:1: C++ compilation of rule '//tensorflow/core:android_tensorflow_lib_lite' failed (Exit 1).
In file included from ./third_party/eigen3/unsupported/Eigen/CXX11/Tensor:1:0,
                 fro

[2017-11-28 09:19] offbye commented on #14610
I have try below command , and it passed!

bazel build   -c opt --copt=-msse4.1 --copt=-msse4.2 tensorflow/python/tools:freeze_graph

[2017-11-28 09:28] hkxIron commented on #9853
do you have solve the problem for input pipeline by multiprocess? @ghost

[2017-11-28 09:40] hkxIron commented on #9853
I have modify your code ,but it still doesn't work.

`import os
import tensorflow as tf
import pathos.multiprocessing as pmp

def f(graph, queue,i):
    # g = tf.Graph()
    with graph.as_default():
        # q = tf.FIFOQueue(capacity=100, dtypes=[tf.string], shapes=[[]],
        #                  shared_name="shared_q", name="q")
        a = tf.constant("Hello")
        b = queue.enqueue(a)

[2017-11-28 09:45] nikonikolov commented on #14921
The code runs fine, but it is hard to tell if there is difference in speed, compared to TF 1.3.

I know that the warning has been there for a long time, but could it be that the implementation of some of the operators that I use changed between the two versions and causes the implicit conversion and hence the warning? In any case, it is very strange that I was not getting the warning in 1.3 if not

[2017-11-28 09:51] thequilo opened #14932 "tf.squared_difference does not work with complex dtypes"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, the provided minimal example
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary (tensorflow-gpu)
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.6
- **C

[2017-11-28 10:10] asimshankar commented on #14891
Thanks for the report, this is indeed a bug, will send out a fix.

[2017-11-28 10:30] asimshankar commented on #14828
Yup, as @facaiy pointed out, `tfe.gradients_function` attempts to return the gradient with respect to all the parameters of the function, which in the case of `tf.sin` are two (`x` and the string `name`).

The following should work:

[code]

as would the following:

[code]

The error message could be nicer of course :)

FYI: @alextp @akshayka as they may be touching that code right now and might h

[2017-11-28 10:30] #14828 closed

[2017-11-28 11:01] szpssky opened #14933 "Support "causal" padding in tf.keras.layers.Conv1D by adding support to tf.layers.convolutional.Conv1D"
TensorFlow version:1.4.0

In the API docs, tf.keras.layers.Conv1D supports "causal". However, if I use "causal" as the argument of 'padding', there will be an error like this: The 'padding' argument must be one of" valid "," same ". Received : causal.

I check the source code, the Conv1D uses the methods in tensorflow.python.layers.convolutional, but the default implementations of tensorflow do no

[2017-11-28 11:01] danbarnes333 commented on #14898
Yes I can build and run 1.3, no hangs. 9380e3a832 will build into a wheel but throws some errors when trying to import it which maybe isnt suprising as its not a release version.

I can build r1.4 head with GPU support (see below) and use in OSX by changing tensorflow/core/framework/variant.h(343)
`std::unique_ptr<ValueInterface> value_;`
to
`std::shared_ptr<ValueInterface> value_;`
But I cant rea

[2017-11-28 11:08] bobetocalo commented on #1924
I have the same problem using v1.4.0 and opencv 3.3.1 #14267

[2017-11-28 11:26] vaibhavsood opened #14934 "Multi-arch docker images"
Are there non-x86 (ppc64le, arm etc) docker images available for tensorflow?

This looks like an intel image : https://hub.docker.com/r/tensorflow/tensorflow/

[2017-11-28 11:27] bhack commented on #14879
I think that @Tony607's Notebook I linked it is quite complete. But I don't know if he want to contribuite it.
Probably also a 2nd flavour with custom loss, explicit model_,fn, Tensorboard summaries could be interesting to have more control for power users that still want to rely on the high level API. There was  https://github.com/mjlaali/keras-estimator/ but still on the contrib interface.

[2017-11-28 11:54] cocoakang commented on #14822
How did you fix that?

[2017-11-28 11:54] cocoakang commented on #14822
@luyuesheng

[2017-11-28 12:22] zhangqianhui opened #14935 "How to scale the weights at runtime in tensorflow?"
I have asked this questione in the stackoverflow.
https://stackoverflow.com/questions/47527384/how-to-scale-the-weights-at-runtime-in-tensorflow

Thanks for your help!

[2017-11-28 12:48] wpj1530882136 opened #14936 "tensorflow lite: Some operations cannot be supported when convert to tflite format"
## System information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
   No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
   Ubuntu 14.04
- TensorFlow installed from (source or binary):
   source
- TensorFlow version (use command below):
  1.3.0
- Python version:
  2.7
- Bazel version (if compiling from source):
  0.7.0
- GCC/Compiler

[2017-11-28 12:50] RylanSchaeffer opened #14937 "_dynamic_rnn_loop flat_output_size prevents arbitrary-shaped output tensors"
I want a custom RNN cell to output multiple tensors, each with a different shape. I can handle the logic internally, but I'm running into the issue that `_dynamic_rnn_loop` automatically constructs initial outputs using `flat_output_size = nest.flatten(cell.output_size)`. This is problematic because the flattening prevents me from specifying arbitrary-shapes for my output tensors.

For concretenes

[2017-11-28 12:50] RylanSchaeffer commented on #14937
@ebrevdo , you seem to be the master of TensorFlow's RNN features. What do you think?

[2017-11-28 12:51] RylanSchaeffer commented on #14937
I could flatten the third tensor into (batch size, c*d*e) and then reexpand it later, but I feel like I should be able to make this work without having to do that.

[2017-11-28 12:57] RylanSchaeffer commented on #14937
I guess that doesn't solve my problem, since later on, `final_outputs = array_ops.stack(final_outputs, axis=0)` in `rnn.py` fails because the tensors can't be stacked.

[2017-11-28 12:58] RylanSchaeffer commented on #14937
@ebrevdo what is the proper way of having a RNN cell output multiple tensors?

[2017-11-28 13:03] memo commented on #2412
@vade
glad to hear that that problem is sorted. Interestingly I just tried building 1.4 (I'd only gone as far as 1.3), and I too get the nsync error! I'm currently looking for a solution which doesn't involved modifying the src, but will resort to that if I have to :)

@kikirizki
the source code itself is agnostic to GPU or CPU or platform. For tf1.3 I provide precompiled libraries for linux only

[2017-11-28 13:29] RylanSchaeffer commented on #14937
Using TensorShapes in the output_size property solves the first issue i.e.

    def output_size(self):
        return tf.TensorShape([a]), tf.TensorShape([b]), tf.TensorShape([c, d, e])

Also, I think the second issue is caused by TensorFlow eager. Specifically, the problem arises from array_ops.stack, which is only called if eager.in_graph_mode() is false.

  final_outputs = nest.pack_sequence_as

[2017-11-28 13:38] yongtang commented on #14932
Added a PR #14939 for the fix.

[2017-11-28 13:39] RylanSchaeffer commented on #14937
Yes, the problem is definitely with TensorFlow eager. Removing `# tfe.enable_eager_execution()` removes the problem. However, now I can't debug :(

[2017-11-28 13:45] gauss-clb opened #14940 "The keys in end_points of slim are not unified for different layers."
Look at the code:

[code]

It output
[code]

For `max_pool2d` layer, the key has prefix `xx`, but for `conv2d` layer, it don't have prefix `xx`. Because in `conv2d` it uses `variable_scope` but in `max_pool2d` it uses `name_scope`. So the behavior looks inconsistent, and may cause the code make mistake. Do we need to unify the behavior ?

For example, if we use multi-gpu to train the network, and

[2017-11-28 13:55] hkxIron commented on #390
I think parse_example is much faster than parse_single_example. in my case , speed change from 25000 sample/second to 32000 sample/second

[2017-11-28 13:56] hkxIron commented on #13187
@balaji-in-git ,I think parse_example is much faster than parse_single_example. in my case , speed change from 25000 sample/second to 32000 sample/second

[2017-11-28 14:01] WenmuZhou opened #14942 "tensorflow 1.4 is 8 times slower than tensorflow 1.3 when read data"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**: python wheel
- **TensorFlow version (use command below)**: 1.4 and 1.3
- **Python version**: 3.6.1
- **Bazel version (if compiling from source)**:
- **GCC/Compi

[2017-11-28 14:09] gauss-clb commented on #14490
@ispirmustafa Does it work?

[2017-11-28 14:17] hkxIron commented on #3009
@rohitgirdhar ,could you paste your code about function _read_image_from_disk()? I have verify that parse_example is much faster than parse_single_example.

[2017-11-28 14:21] alexanderkjeldaas opened #14943 "Update docker images and documentation to not use nvidia-docker by default."
`nvidia-docker` is not used anymore by the [nvidia-docker](https://github.com/NVIDIA/nvidia-docker) project.  Rather `nvidia-docker2` should be used:

[code]

[2017-11-28 14:27] bj1123 opened #14944 "[BUG]embedding_lookup can't convert out of index into zeros vector when embedding matrix is placed on CPU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.5.2
- **Bazel version (if compiling from source)**:
- **GCC/Compil

[2017-11-28 14:33] #14944 closed

[2017-11-28 14:57] ShivamSharma1997 opened #14946 "Getting the given error while installing gpu version of tensorflow"
Exception:
Traceback (most recent call last):
  File "C:\Users\Shivam\Anaconda2\envs\tensorflow\lib\site-packages\pip\basecommand.py", line 215, in main
    status = self.run(options, args)
  File "C:\Users\Shivam\Anaconda2\envs\tensorflow\lib\site-packages\pip\commands\install.py", line 342, in run
    prefix=options.prefix_path,
  File "C:\Users\Shivam\Anaconda2\envs\tensorflow\lib\site-packages

[2017-11-28 14:58] ShivamSharma1997 commented on #14946
Also on doing import tensorflow I am getting the following

import tensorflow
Traceback (most recent call last):

  File "<ipython-input-1-d6579f534729>", line 1, in <module>
    import tensorflow

  File "C:\Users\Shivam\Anaconda2\envs\tensorflow\lib\site-packages\tensorflow\__init__.py", line 24, in <module>
    from tensorflow.python import *

  File "C:\Users\Shivam\Anaconda2\envs\tensorflow\l

[2017-11-28 15:42] mrry commented on #14887
What the signature of such an op be?

[2017-11-28 15:43] #14905 closed

[2017-11-28 15:52] mrry commented on #14905
Argh, now that you mention it, `^` (rather than `\`) is the line continuation character in the Windows command prompt.

Thanks for persevering with the example!

[2017-11-28 16:09] junshi15 commented on #14811
It was broken in an early commit that was not related to VERBS or OpenMPI.
This [PR](https://github.com/tensorflow/tensorflow/pull/14290) is supposed to be a fix.

[2017-11-28 16:16] Kyle-Kuzma commented on #13176
I have solved this problem with the help of bro @umang6891 at https://github.com/tensorflow/tensorflow/issues/12482.
Follow these steps:
search for nsync_cv.h file using:
sudo find / -name nsync_cv.h
then add it in the file mutex.h
#include "tensorflow/contrib/makefile/downloads/nsync/public/nsync_cv.h"
#include "tensorflow/contrib/makefile/downloads/nsync/public/nsync_mu.h"
Hope that it can work

[2017-11-28 16:17] Andrew-Draganov opened #14947 "Tensorflow minimize operation runs into shape mismatch with StridedSliceGrad"
System Info:
   - custom code
   - Linux Ubuntu 16.04
   - Tensorflow 1.4.0 installed with pip install tensorflow-gpu
   - python 2.7
   - CuDa 8
   - terminal command just calls my script with "python GAN.py"

Source code:

input_points = tf.placeholder(shape=[batch_size, 2048, 3], dtype=tf.float32)
latent_vector = encoder(input_points, encoder_weights, encoder_biases)
reconstructed_points = deco

[2017-11-28 16:18] kemusa commented on #14358
Hi. I'm having the same issue but on Linux Ubuntu 16.04 in an AWS AMI using python version 2.7.

I tried adding the lines that @InsZVA mentioned to the tensorflow/BUILD file in the cc_binary section but got the same result.

[2017-11-28 16:25] evanfwelch commented on #14520
Mind reposting the link to your example? I’m getting a 404 not found when I click on it. Thanks!

[2017-11-28 16:28] tigerpup commented on #3401
I met the same problem deleting the data dir in the same folder as the script worked for me

[2017-11-28 16:52] #14802 closed

[2017-11-28 16:53] frankiecancino opened #14948 "Setup.py on CentOS7 pywrap_tensorflow_internal Error"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux CentOS7
TensorFlow installed from (source or binary):
Setup.py
TensorFlow version (use command below):
1.3
Python version:
2.7
Bazel version (if compiling from source):
GCC/Compiler version (if compiling from source):

[2017-11-28 16:57] aselle commented on #14826
can you do an ldd on the openmp library and the tensorflow dso libraries? Does it work if you don't link tensorflow and only link opencv?

[2017-11-28 16:58] aselle commented on #14832
Glad you got it resolved Did you open another issue for the other errors?

[2017-11-28 16:59] malmaud commented on #14828
Thanks, that clarifies things!

[2017-11-28 17:00] aselle commented on #14848
Does it work fine if you use a 10th of the learning rate. It looks like you are hitting infinities in your optimization. That can happen if the optimization is at the edge of stability. Using reduced precision makes numerics less stable.

[2017-11-28 17:01] aselle commented on #14850
Please provide reproduction instructions. It is unclear what you are running.

[2017-11-28 17:10] aselle commented on #14852
Closing for now. Making a more user friendly error message here #14949.

-A

[2017-11-28 17:10] #14852 closed

[2017-11-28 17:14] xiaoyunwu commented on #14661
any updates?

[2017-11-28 17:23] gargn commented on #14740
Answered on StackOverflow: https://stackoverflow.com/questions/47321911/cant-convert-model-to-tensorflows-lite-format

[2017-11-28 17:23] #14740 closed

[2017-11-28 17:24] aselle commented on #14888
This is an interesting feature request. For now, we would probably prefer not to add this functionality, since the implementation effort would be high. However, you can experiment with this idea using `tf.extract_image_patches()`. This gets the values that tf.conv (or others) would use to produce an output at that tensor index. You can use this to implement custom sliding window  operations.

[2017-11-28 17:24] kirilg commented on #14835
I think the problem is that the 'patch' command is not installed (see [this thread](https://github.com/tensorflow/tensorflow/issues/8919)).

It looks like you're trying to build on Windows and though we never tried it, I think TensorFlow Serving is likely not to compile there. You may want to use a Docker container.

[2017-11-28 17:24] #14888 closed

[2017-11-28 17:25] gargn commented on #14731
Answered here: https://github.com/tensorflow/tensorflow/issues/14761.

[2017-11-28 17:30] valentinradu commented on #14740
@gargn You mean my own answer on SO can be confirmed? No support to date?

[2017-11-28 17:41] alquraishi commented on #13926
I'm getting build errors as well with TF 1.4.0 and CUDA 7.5, but it works with CUDA 8. Unfortunately I can't use CUDA 8 because of outdated Nvidia drivers that I can't upgrade, so it would be great if CUDA 7.5 were supported.

[2017-11-28 17:42] aselle commented on #14661
Could you provide a reproducible small tensorflow example. What kind of model have you converted?

[2017-11-28 17:46] JerRyL2017 commented on #363
yeah I met the same issue as you.
And I guess this is because I download it for a while but not perfectly,that means my computer have cifar-10 but it's bad.So,i get to
/tmp/cifar10_data/
and I delect anything about cifar-10

after that I get back to cifar10_train,it worked !

[2017-11-28 17:46] aselle commented on #14890
@preetivyas , does this suggestion resolve your issue?

[2017-11-28 17:48] xiaoyongzhu commented on #13643
I encountered this in TensorFlow 1.4.0 - so looks like this fix is not included in 1.4.0 release. I installed TensorFlow nightly build (tf_nightly_gpu-1.5.0.dev20171127-cp35-cp35m-manylinux1_x86_64.whl) and the nightly build solves the issue.

[2017-11-28 17:49] sshrdp commented on #14520
Here is the commit: https://github.com/tensorflow/tensorflow/commit/20e2fdc2f95f213eef5a736a140d8591ef7a5b6e

[2017-11-28 17:51] aselle commented on #14894
I have no idea what you are trying to accomplish.

Your loss is defined in terms of histogram_fixed_width, so your loss is not differentiable in terms of the variables, so you can't optimize this.  You seem to understand that based on "I know the tf.histogram_Fixed_width"...

Perhaps you want to try defining a gradient for histogram_fixed_width that is [None] like Floor has

[2017-11-28 17:53] aselle commented on #14896
Thanks for the fix @concerttttt. This should resolve your problem @jackyko1991 .

[2017-11-28 17:53] #14896 closed

[2017-11-28 18:02] rhaps0dy commented on #14924
For the record, I get the same error, for another pair of shapes, on an element-wise multiplication:

```UnimplementedError (see above for traceback): Broadcast between [10,6,6,4,4,1] and [10,1,6,1,4,5] is not supported yet.```

[2017-11-28 18:02] mohamedadaly commented on #14661
Here is the command I use to convert from .pb to .tflite

[code]

and here is the [model file](https://www.dropbox.com/s/hwqam5eo167tcsx/tiny-yolo-voc.pb?dl=0) and here is the output I get:

[code]

[2017-11-28 18:07] ispirmustafa commented on #14841
there is a `batch_size` parameter of `numpy_input_fn`. num steps you'll get will be `set_size/batch_size`.

[2017-11-28 18:07] #14841 closed

[2017-11-28 18:11] aselle commented on #14934
Not to my knowledge @caisq.

[2017-11-28 18:14] aselle commented on #14940
@sguada, could you please comment on this?

[2017-11-28 18:17] aselle commented on #14948
Sorry, what version did you install. Did you use pip? I don't know exactly what you mean by installing with setup.py. This doesn't match our usual install instructions.

[2017-11-28 18:19] aselle commented on #14942
@ispirmustafa, any ideas what might be causing this?

[2017-11-28 18:21] aselle commented on #14918
@angersson, I thought we had disabled these tests. Could you take a look please.

[2017-11-28 18:21] frankiecancino commented on #14948
I installed TF version 1.3 with Python 2.7. Usually just running python on the setup.py file will install any python package, but for some reason running it on Tensorflow's will install it but it won't create the pywrap_internal_tensorflow file. As far as I've noticed this is the only file missing and causes an error when trying to do anything with TF.

[2017-11-28 18:22] miaout17 commented on #14718
Fixed in #14734

[2017-11-28 18:22] #14718 closed

[2017-11-28 18:22] aselle commented on #14946
The error suggests this. Did you try finding cudnn and putting it in your path?
[code]

[2017-11-28 18:27] ispirmustafa commented on #14490
Metrics uses so called a `_safe_div`, which returns `0 if denominator <= 0, else numerator/denominator`.
In this example `reduce_sum(weights)` is < 0.
Having total weights negative seems very unusual. Could you please explain what is the use case?

[2017-11-28 18:45] sguada commented on #14940
If you replace the name_scope with a variable_scope do both align?
In general when creating layers and variables one should use variable_scopes instead of name_scope.

[2017-11-28 18:51] mamrehn commented on #14622
You might want to try this [tensorflow-gpu-v1.4-cuda-v9-cudnn-v7.whl](https://github.com/mind/wheels/releases/tag/tf1.4-gpu-cuda9) wheel as well as
[code]
as pointed out in the [nvidia forums](https://devtalk.nvidia.com/default/topic/845363/libcublas-so-7-0-cannot-open-shared-object-file/). Seems to work on an Ubuntu 16.04 machine.

[2017-11-28 18:58] ispirmustafa commented on #14942
I'm not aware of any related change within estimator.

[2017-11-28 19:00] ispirmustafa commented on #14942
May be something related to data loader part? @WenmuZhou do you mind to test time difference of input_fn between 1.3 and 1.4?

[2017-11-28 19:03] sadlerjw commented on #7108
I reported #12298 and I'm using a version including that commit, but I am also having this issue. For me, it seems to only happen when in some other place in my iOS app I have an `NSOperationQueue` with a ton of operations and `myQueue.maxConcurrentOperationCount = NSOperationQueueDefaultMaxConcurrentOperationCount`. Maybe that indicates the there's some thread contention between my operation queu

[2017-11-28 19:03] Andrew-Draganov commented on #14947
I found what the issue was, but am curious why the trace error didn't specify. The chamfer_distance loss metric had an arg_min operation, which was then being processed by minimize incorrectly, as it is non-differentiable. Does minimize not check for differentiability in the graph it is working with?

[2017-11-28 19:05] AKhilGarg91 commented on #14835
@kirilg  yes I am trying on windows and its not possible. Tensorflow serving is also not compatible.

[2017-11-28 19:06] a7b23 opened #14950 "Incorrect GPU memory usage"
with tf.device('/gpu:0') :
    	with tf.variable_scope('network1') :
    		x = tf.get_variable('inp1',shape = [256,50,50,3],dtype = tf.float32)
    		w1 = tf.get_variable('weight1',shape = [1,1,3,256],dtype = tf.float32)
    		y1 = tf.nn.conv2d(x, w1, strides=[1, 1, 1, 1], padding='VALID')
    		w1 = tf.get_variable('weight2',shape = [1,1,256,256],dtype = tf.float32)
    		y1 = tf.nn.conv2d(y1, w1

[2017-11-28 19:07] asimshankar commented on #14873
What kind of support were you thinking of?

At this time, there are no concrete plans for any Dart APIs for TensorFlow to be shipped as a flutter package. You may want to use something like https://flutter.io/platform-channels/ to integrate with TensorFlow/TensorFlowLite in your mobile application.

[2017-11-28 19:07] #14873 closed

[2017-11-28 19:16] eggie5 opened #14951 "Document S3 `S3_REGION` constant"
This gave me a lot of grief recently as the AWS Region for S3 is controlled by an undocumented constant `S3_REGION` which defaults to `us-east-1` unless defined on the system-level. Extra frustrating as it departs from the common naming practice: `AWS_REGION`:

https://github.com/tensorflow/tensorflow/blob/79422ab39b5fe0e1491abb8deabc7ecb5fd9f3a2/tensorflow/core/platform/s3/s3_file_system.cc#L52

[2017-11-28 19:28] moeiscool commented on #37
+1... we no longer live in the medieval portion of the information age. Please support node.js.

[2017-11-28 19:40] shivaniag commented on #14829
@jart could you please fix this?

[2017-11-28 19:41] vjpai commented on #14039
I think I have this under control with grpc/grpc#13525 .

[2017-11-28 19:52] martinwicke commented on #14039
Awesome, thanks! We need to update our dependency again once this is merged.

[2017-11-28 19:55] alextp commented on #14914
Looking at the details of python we're not allowed to override and and or since python has weird short-circuiting control flow based on those operators. What we can do is turn a tensor into a boolean if eager execution is enabled in which case and, or, not, etc all work as intended. We can override the bitwise operators to be elementwise but I think that is less attractive.

[2017-11-28 20:01] lvilnis commented on #14914
i would vote for overriding the bitwise operators to be elementwise because thats what python already does with "^" since it has no xor. You can write "True ^ False" etc

[2017-11-28 20:02] lvilnis commented on #14914
Also, you can think of an array of booleans as being an array of bits, so I don't see why overriding bitwise is a problem?

[2017-11-28 20:22] nksheridan commented on #13176
Thanks! I will try it out!

[2017-11-28 20:44] Erichliu00 opened #14954 "enable get the 'mathematical' gradient of output w.r.t neural network parameters"
In some situation, it is necessary to get the 'mathematical' gradient of output w.r.t neural network parameters.

For example, suppose I have a neural network `out = f(s)`, where `s` is a batch of input with shape`[None, dim_s]`, while out is a scaler, `f` is simply a MLP. With `tf.gradient(out, tf.trainable_variables())` I can get gradient of out w.r.t neural network parameters of f, which is a l

[2017-11-28 20:54] nicolov commented on #13243
I think we're only seeing this on chroot environments because they're missing CUDA drivers (the linker complains about a missing `libcuda.so`).

I think the following is a better solution than `LD_LIBRARY_PATH`:

[code]

[2017-11-28 20:59] tatatodd commented on #14931
Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-11-28 21:07] tatatodd commented on #14933
Thanks for filing the issue @szpssky!  I've dug through the code and agree with you; either the documentation is wrong (and should be fixed), or we need to add support for "causal" padding

@fchollet can you comment on this?

[2017-11-28 21:09] tatatodd commented on #14935
Since this is not a bug or feature request, you should follow-up on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). There is also a larger community that reads questions there. Thanks!

[2017-11-28 21:09] #14935 closed

[2017-11-28 21:12] fchollet commented on #14933
I think support for causal padding should be added to the parent layer in `tf.layers`. Then it will also be supported in the Keras layer that subclasses it. Please open a PR, if your time allows.

[2017-11-28 21:23] boeddeker commented on #14931
Afaik it is impossible to define a gradient for argmax.

[2017-11-28 21:27] kirilg commented on #14835
Perhaps not natively, but you can try compiling in a docker container - https://www.tensorflow.org/serving/docker

If you're going to use a docker container that sets up a linux environment, you can also just `apt-get install` the ModelServer (v1.4 uses TF 1.4), unless you wanted to compile from source. Apt-get instructions can be found [here](https://www.tensorflow.org/serving/setup).

[2017-11-28 21:56] andrewharp commented on #14731
I'm currently looking into ssd-mobilenet support, will leave this open to track.

[2017-11-28 21:58] jart commented on #14829
The typo is fixed in TensorBoard. Fixing the minor typo in the screenshot would require monkey patching the PNG in Photoshop and uploading it directly to the documentation web server. Re-assigning to @dr4b.

[2017-11-28 22:05] JoshVarty commented on #14918
If you disabled them after November 17 (11eefcd) then I may just need to merge master into my branch. I'll give this a shot later tonight.

[2017-11-28 22:05] ebrevdo commented on #14898
Can you provide the full compile time error?

On Tue, Nov 28, 2017 at 3:02 AM, Dan Barnes <notifications@github.com>
wrote:

[2017-11-28 22:14] aselle commented on #14954
It's really difficult to follow what you are asking. TensorFlow computes gradients w.r.t. to scalar functions. I.e. usually you do tf.gradients on a loss which is a scalar (and if there is a batch, it will be some reduction across that batch too). If you give it a vector function it implicitly sums it first.   I'd suggest you setup an example with concrete things and make sure it is giving what yo

[2017-11-28 22:15] aselle commented on #14950
You are probably not accounting for intermediates implied by the various operations? You can't just assume memory usage is going to be the total memory usage of the variables.

[2017-11-28 22:16] aselle commented on #14866
Closing as a duplicate.

[2017-11-28 22:16] #14866 closed

[2017-11-28 22:29] ebrevdo commented on #14884
The problem seems to be with the new type T.  This was introduced in TF 1.4; you may want to upgrade your mac os version to using TF 1.4 as well.

As a long-term solution, we probably also want to add forwards compatibility-type default attr stripping in `import_scoped_meta_graph`.  @josh11b for comments.

[2017-11-28 22:30] alextp commented on #14914
Numpy treats bitwise operators as elementwise operators on boolean arrays so I think we should too. Reopening.

[2017-11-28 22:33] lvilnis commented on #14914
Yeah as does regular python, for not just xor:

[code]

This is actually better than overriding "and" and "or" because these TF operators never shortcircuit AFAIK. This would be really nice to have in regular mode, not just immediate.

[2017-11-28 22:34] asoehlke commented on #14452
Hello @GPhilo,
I solved my issue now by defining the initial values of the problematic variables as additional placeholders.
This means I have to feed the initializing values additionally when using the model, but at least this got the model usable.
The initializers are the init_states variables in https://github.com/asoehlke/neuronal-music-accompanist-bach/blob/master/MusicAccompanistInferenceGra

[2017-11-28 22:43] aselle commented on #14900
@mrry, do you have any ideas on this? I'd imagine python creates many threads, but it's strange that slurm actually limits the number of threads. A lot of tensorflow threads are IO threads that don't really correspond to an allocation of CPU resources. Perhaps you can talk to your SLURM sysadmin to increase this limit.

[2017-11-28 22:49] aselle commented on #14936
See the supported op list:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/tf_ops_compatibility.md

Did you make sure to remove training related operations. Could you provide more details about your model? Did you train from a standard model script?

[2017-11-28 22:52] aselle commented on #14758
You could try adding linkshared=1 to the framework rule in tensorflow/contrib/lite/BUILDhttps://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/BUILD#L64
(see bazel docs here https://docs.bazel.build/versions/master/be/c-cpp.html)

[2017-11-28 22:54] aselle commented on #14753
It should be possible. You likely will have to modify some things. Could you give it a try and, we can help you when you run into trouble you can't solve. You can look at the Makefile for a simple build environment. You will likely not be able to build using bazel, since it doesn't support QNX toolchains.

[2017-11-28 22:56] aselle commented on #14761
We haven't yet provided an example of Mobilenet SSD, only Mobilenet classification.  We will likely provide support for that in the future. If you are adventurous, we are happy to help you along.

[2017-11-28 22:57] cy89 commented on #14613
@mrry have you seen this kind of behavior before, or might you have any hints?

[2017-11-28 23:00] xiaoyunwu commented on #14661
inside  toco/tflite/operator.cc, most class are inherited from BuiltinOperator, but class Split : public CustomOperator<TensorFlowSplitOperator>. I noticed. Unfortunately, I have not figured out how to fix it.

[2017-11-28 23:00] mrry commented on #14900
The main additional source of threads would be from the Slim input pipeline, which uses Python queue runners. From your code fragment I can't tell how many threads would be created, but you might be able to set a smaller number of threads when creating the pipeline.

[2017-11-28 23:03] preetivyas commented on #14890
So after reading all such blogs I decided to install python version 3.5 and 2.7 too. I was installing the tensorflow using conda installation as given here.
![image](https://user-images.githubusercontent.com/31855851/33348787-ae8620dc-d465-11e7-83fc-f6a954a11344.png)
I installed it successfully but after installation when I went inside my python terminal and tested tensorflow it shows me this.
![i

[2017-11-28 23:06] aselle commented on #14951
@jhseu, do you think we should support both and just fallback?

[2017-11-28 23:07] aselle commented on #14943
@caisq, could you please look into updating our examples?

[2017-11-28 23:09] niinmashie opened #14956 "traceback error"
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec cod in run_globals
  File "/usr/lib/python2.7/py_compile.py", line 181, in <module>
    sys.exit(main())
  File "/usr/lib/python2.7/py_compile.py", line 173, in main
    compile(filena

[2017-11-28 23:18] teaglin commented on #14884
You are right, I exported the model using export_inference_graph.py on Mac OS with CPU and the frozen graph now works. Thanks for the help!

[2017-11-28 23:25] drasmuss opened #14957 "tf.profiler reports 0B memory usage"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5.0-dev20171103
- **Python version**: 3.5
- **Exact command to reproduce**:

[code]

### D

[2017-11-28 23:27] jhseu commented on #14951
Yeah, if there's a common practice here, we should use that and deprecate the other environment variable in TF 2.0.

[2017-11-29 00:07] danbarnes333 commented on #14898
I cant seem to get any more verbose than the following

Thanks

[code]

[2017-11-29 00:13] luyuesheng commented on #14822
@cocoakang
E:\tensorflow
E:\tensorflow\tensorflow\contrib\cmake\build\nsync\src\nsync\public
E:\tensorflow\tensorflow\contrib\cmake\build
E:\tensorflow\tensorflow\contrib\cmake\build\eigen\src\eigen
E:\tensorflow\tensorflow\contrib\cmake\build\protobuf\src\protobuf\src

[2017-11-29 00:28] angersson commented on #14706
I've discovered this too, running builds in Docker. I'm surprised, because a very similar environment didn't have this issue.

[2017-11-29 00:33] aselle commented on #12040
Well I believe we delegate all conv operations to cudnn, so it may be a cudnn bug. @reedwm, could you take a look?

[2017-11-29 00:34] aselle commented on #10488
@petewarden, can you think of anyone else to look at this?

[2017-11-29 00:35] aselle commented on #11182
Is this resolved?

[2017-11-29 00:36] aselle commented on #6360
Is this issue ready to close?

[2017-11-29 00:39] aselle commented on #3332
@martinwicke, @shlens, @fchollet, is there any interest in defining an api for this?

[2017-11-29 00:40] ebrevdo commented on #14898
what version of clang are you using?  are you using the cmake build?

[2017-11-29 00:43] yaroslavvb commented on #6360
@alextp said something about plans for a mechanism to update a group of variables together, did anything happen with it?

[2017-11-29 00:45] angersson commented on #14706
@wujsy, are you using Docker for this?

[2017-11-29 00:47] mrry commented on #6360
I think @ebrevdo might be taking this on. Assigning to him so he can confirm or deny....

[2017-11-29 00:56] flx42 commented on #14943
dupe of #14714

[2017-11-29 00:56] martinwicke commented on #14826
Both TF (via bazel) and OpenCV include libjpeg and build it from source as part of their build. It is conceivable that, if they use different versions, or even if they don't, that there might be global state that is confused between the two.

I also don't know what OpenCV does if the jpeg decoder is not available, do you have to configure OpenCV to use jpeg manually, i.e. define some compiler defi

[2017-11-29 01:01] mrry commented on #14613
I'm at a loss to explain why the restarts are having such an effect on your training job. I believe `MonitoredTrainingSession` has always attempted to restart the underlying session transparently when certain types of failure happen, and the worker for which `is_chief` is `True` will attempt to reinitialize the parameters from the latest checkpoint if one is available. I doubt the dataset initiali

[2017-11-29 01:12] Erichliu00 commented on #14954
Hi, @aselle Thanks. I have changed problem to scaler output to simplifier statement.

An example:
[code]

Then both `gradients_1` and `gradients_2` will look something like:

with shape as following:

Given the gradient is of such kind of shape, I think there is a gap between tensorflow gradient and the usual mathematical gradient(which usually is a vector or matrix), so it makes some applications

[2017-11-29 01:15] angersson commented on #14918
I've replicated this on a fresh pull from master:

[code]

...but it's not replicating with:

[code]

[2017-11-29 01:16] ispirmustafa commented on #14613
I'm too not aware of any change to MonitoredSession that is related.
BTW, following code segment accesses to private parts of MonitoredSession which may work in an unexpected way:
[code]
Instead you should use session run hooks to make it proper:
[code]

[2017-11-29 01:19] reedwm commented on #12040
I cannot reproduce on Ubuntu 14.04, with a GTX 1080, Cuda 8, cuDNN 6, on TensorFlow 1.3. @sdschulze, what version of Cuda and cuDNN did you use on TensorFlow 1.3? cuDNN 5.1 isn't supported on TensorFlow 1.3.

[2017-11-29 01:22] aselle commented on #12466
This appears to be because pyc files store the paths relative to where they were generated from.  So if you run the python command that generates the pyc from the root directory in an environment with the same root, it will give you full paths and work properly. That being said, it would be great if we could make this work no matter what the relative paths were.

[2017-11-29 01:25] gauss-clb commented on #14940
But in some case, we just need `ops` should have different name rather than `variable`, we want the shared variables on different gpu, so we can't use `variable_scope`.

[2017-11-29 01:25] aselle commented on #12466
@annarev, could you look into making getfile() more robust to only pyc environments? I think we have the same issue if you try to put a PYTHONPATH with a relative path specified i.e.  ../foo/bar/tensorflow

[2017-11-29 01:26] angersson commented on #14706
This is a Bazel version problem. You're probably using Bazel 0.5.4 -- switching from that version to the latest Bazel version fixes the problem when I saw it in my builds.

[2017-11-29 01:26] #14706 closed

[2017-11-29 01:27] joa23 commented on #14898
I used gcc and followed this tutorial step by step:
https://metakermit.com/2017/compiling-tensorflow-with-gpu-support-on-a-macbook-pro/

[2017-11-29 01:41] MtDersvan commented on #14613
@mrry I shared the graph just to illustrate that `MonitoredTrainingSession` is initialized repeatedly during a training. The graph looks that way because the checkpoint is being saved rarely. The problem is that there are no errors whatsoever.
In the beginning I thought it maybe restarting due to OOMs and just not showing the errors, but I checked with bigger models and tf catches OOMs just fine.

[2017-11-29 01:47] uptodiff commented on #14894
Thanks so much for your reply. In fact my task is to implement the histogram loss mentioned in the paper [Stable and Controllable Neural Texture Synthesis and Style Transfer Using Histogram Losses](https://arxiv.org/abs/1701.08893), which involves histogram match technique in the process of computing the loss function. According to the paper we can regard the data flows through the ops that are no

[2017-11-29 01:52] snownus commented on #10488
@aselle , yes. we would appreciate it a lot if you can help to address the problem.

[2017-11-29 01:54] WenmuZhou commented on #14942
here is the time of input_fn between 1.3 and 1.4
the script is
[code]
`input_fn` is extracted from `data_loader` function
[code]
tf 1.3 log
[code]
tf 1.4 log
[code]

[2017-11-29 02:03] elfxwt commented on #14273
I have met the same issue with python3 in virtualenv

[2017-11-29 02:17] danbarnes333 commented on #14898
Not using cmake build, using the normal configure script and clang (with nvcc as the CUDA compiler).

@joa23 I dont believe on OSX you can actually build with gcc without some changes to the build files. Despite the question on at the end of the configure pointing to gcc thats by default a symlink back to clang. I tried separately to build with a version of gcc from homebrew, but it threw up a lot

[2017-11-29 02:20] tatatodd commented on #14861
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-11-29 02:23] angersson commented on #14664
Our official workaround at the moment is to download an older NDK and point to that instead. @bryant1410 , can you verify that works for you?

[2017-11-29 02:24] tatatodd commented on #14937
@RylanSchaeffer Can you boil your problem down into a minimum reproducible program?  Otherwise it's hard to know what problem you're facing.  E.g. without your last two comments, it wasn't clear that Eager mode was involved at all.

[2017-11-29 02:27] bryant1410 commented on #14664
@angersson yes, that works. Thanks!

[2017-11-29 02:27] #14664 closed

[2017-11-29 02:36] tatatodd commented on #14947
@ebrevdo or @andydavis1 might know whether `tf.train.AdamOptimizer(loss)` is supposed to return a better error, if `loss` is non-differentiable.

[2017-11-29 02:38] tatatodd commented on #14957
@panyx0718 might have some ideas here.

[2017-11-29 02:38] songgc commented on #14107
Same here. Training a resnet against imagenet becomes slower by 30% with v1.4 compared to v1.3. With v1.4, I noticed GPU's starvation (GPU usage is only 60-70% in average, and is fluctuating a lot).

[2017-11-29 02:59] gauss-clb commented on #14490
I just test the `tf.contrib.metrics.streaming_mean`,  maybe it is not useful.

[2017-11-29 03:00] zhangbo5891001 opened #14959 "[BUG]Out-of-Bounds Read in DecodeBmpOp class(tensorflow/core/kernels/decode_bmp_op.cc)"
------------------------

### System information
- **The following is output of tf_env_collect.sh**:
== cat /etc/issue ===============================================
Linux ubuntu 4.4.0-31-generic #50~14.04.1-Ubuntu SMP Wed Jul 13 01:07:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
VERSION="14.04.5 LTS, Trusty Tahr"
VERSION_ID="14.04"

== are we in docker =============================================

[2017-11-29 03:07] ZairMahmood commented on #13176
@Kyle-Kuzma I definitely tried that when I was having this issue and still didn't work. Possibly fixed in 1.4? Haven't tried yet since I'm pretty satisfied with Tuatini's solution.

[2017-11-29 03:09] ebrevdo commented on #6360
@danijar Indeed I'm working on a locking mechanism; we can talk about it offline.  There's an early design, and some code, but I'm not sure if the version I have in mind now will be the version we end up with in the end.  It relies on using ResourceVariables instead of regular Variables.  @sguada is also appraised on the situation.

[2017-11-29 03:10] ebrevdo commented on #6360
Note as of now, the locking mechanism is restricted to all ops and associated [Resource]Variables sitting on the same device.  And one initial limitation might be that it must be a CPU.

[2017-11-29 03:12] mameng1 opened #14960 "Method of stabilizing prediction box"
I found that when I used other methods to detect objects, the prediction box was not stable. However, in the demo you provided, I found that the detection box is very stable. Why, can you give me the code to stabilize the detection box?

[2017-11-29 03:57] tatatodd commented on #14915
@alquraishi I don't deny that the behavior you're experiencing is unexpected.

The reason I'm suggesting you turn to StackOverflow for help is exactly what @yaroslavvb mentioned - without more information or a means for us to reproduce the issue, it's not clear what the issue is, and whether it is a bug in TensorFlow or not.  As a matter of policy, that sort of support is handled on StackOverflow.

[2017-11-29 04:00] ljdang commented on #11182
@aselle No, it is not resolved. Still need to add the argument --copt="-DTENSORFLOW_DISABLE_META" when building the "libtensorflow_inference.so" file. But this made the performance slower. When using the nightly-android builds, the result is different between mobile and PC.

[2017-11-29 04:06] bipedalBit commented on #7541
I'm trying to mix C++ tensorflow code with python tensorflow code instead, with tensorflow 1.4.0. Same fatal messages encountered. Is it suggested that I should link _pywrap_tensorflow_internal.so instead of libtensorflow_cc.so when compiling the C++ DDL to avoid the conflict temporarily？

[2017-11-29 04:06] tatatodd commented on #14811
Thanks @junshi15!  Marking this as "contributions welcome", since the in-flight PR will hopefully fix this.

[2017-11-29 04:46] tatatodd commented on #14931
Ah sorry, brain freeze.  Actually, we could create a practical implementation of gradient for argmax, but it just wouldn't be very useful for learning.

For details see:
Yaroslav's comment here: #2177
https://www.reddit.com/r/MachineLearning/comments/4e2get/argmax_differentiable/

[2017-11-29 04:46] #14931 closed

[2017-11-29 04:48] hpnhxxwn commented on #14657
@ppwwyyxx
Hi, I'm facing the same issue using CUDA 8.0 with cuDNN 6. Could you show me how did you use tf.cond? Like which parameter did you put condition on?

Thank you!

[2017-11-29 05:11] hpnhxxwn commented on #13643
I can confirm the issue still exists in my case for the nightly build tf_nightly_gpu-1.5.0.dev20171127-cp35-cp35m-manylinux1_x86_64.whl... :(

Anyone can points us the good build that fixes the issue?

[2017-11-29 05:15] xiaoyongzhu commented on #13643
@hpnhxxwn OK you are right - it also exists in my app too. The above example runs successfully, but my tensorflow app just crashes:(

[2017-11-29 05:24] ebrevdo commented on #14937
The problem is in eager mode; and is here
<https://cs.corp.google.com/piper///depot/google3/third_party/tensorflow/python/ops/rnn.py?q=dynamic_rnn+tensorflow&sq=package:piper+file://depot/google3+-file:google3/experimental&l=829>.
I think that line should be something like:

final_outputs = nest.map_structure(lambda out: array_ops.stack(out,
axis=0), final_outputs)

On Tue, Nov 28, 2017 at 6:24 PM

[2017-11-29 05:38] eaplatanios commented on #14783
@itsmeolivia FYI, the shape checking code is crashing sometimes on a few Ubuntu machines I tried (not on a Mac though), at `graph->refiner.GetContext(&new_src.oper->node)`. It happens because `node_to_context_` inside the refiner is uninitialized I think. I'm not sure what is the root cause of the problem though.

[2017-11-29 05:46] facaiy commented on #14931
Yup, how about registering `argmax` by  `REGISTER_OP_NO_GRADIENT` or `ops.NotDifferentiable`?

[2017-11-29 06:02] Sixigma commented on #14610
Sorry for my late reply .
I try the latest master branch and do not modify anything , all bazel build is going very well .
Do you use the latest branch ?

[2017-11-29 06:05] hpnhxxwn opened #14962 "Tensorflow Conv model crashes on GPU with zero size batch"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, I have created two CNN models
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: I installed tensorflow via pip install (Python 3)
- **TensorFlow version (use command below)**: 1.4.0
- **

[2017-11-29 06:08] akanimax opened #14963 "Documentation of tf.nn.raw_rnn is confusing"
The documentation for the tf.nn.raw_rnn displays the following line as the pseudocode for the function:
<br>
`(finished, next_input, initial_state, _, loop_state) = loop_fn(
    time=time, cell_output=None, cell_state=None, loop_state=None)`
<br>
This is the first time the loop_fn is called by the raw_rnn interface. Here, the '_' for the emit_output returned by the loop_fn is a **_do not care_** f

[2017-11-29 06:21] InsZVA commented on #14358
Hi, @smsrikanthreddy , Your tf version in this issue is 1.3.0, so you should switch to r1.3 branch and build libtensorflow.so

[2017-11-29 06:26] facaiy commented on #14914
I think bitwise operators have been supported,

https://github.com/tensorflow/tensorflow/blob/3d1452c6a4a37c9f5d6f1da77d335cc43f9b7fc8/tensorflow/python/ops/math_ops.py#L1167-L1169

[2017-11-29 06:28] chaihua483 opened #14964 "Has anybody ever written a gradient for the operator 'SparseReduceSumSparse' ?"
I could only find a gradient for `SparseReduceSum`.

[code]

It seems uneasy to write a similar gradient for operator `SparseReduceSumSparse`.
Could anyone give me a hand? Thanks.

[2017-11-29 06:59] zxxiswhat commented on #14182
In mac os ,this help me: python3 -m pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl

[2017-11-29 07:01] byronyi commented on #14811
Or you could use GDR without GPU to enjoy RDMA :)

[2017-11-29 07:03] lvpchen opened #14965 "compile tensorflow with the source code-----ERROR"
when i compile tensorflow with the source code,an ERROR appear. If you know how to solve this problem,please help me. Thank you.

ERROR: /home/hy003/tensorflow/tensorflow/python/BUILD:4508:1 C++ compilation of rule '//tensorflow/python:framework/fast_tensor_util.so' failed(Exit 1). bazel-out/local-opt/genfiles/tensorflow/python/framework/fast_tensor_util.cpp: In function 'PyObject* __pyx_f_5numpy_

[2017-11-29 07:24] AKhilGarg91 commented on #14835
@kirilg thanks I was just asking like in anyway it possible on windows. But I dont think so its possible. I hope they make tensorflow serving compatible to python 3.5 and later. because tensorflow need python 3.5 and serving need python 2.7.

[2017-11-29 07:42] wpj1530882136 commented on #14936
@aselle
We trained a rnn model using encoder-decoder framework to implement the named entity recognition and generated the pb file from model.ckpt which produced in training steps.

The main code is as follows:
[code]
So hereby，should I rewrite the realted function as what i've mentioned above in tf-lite to make my model work? If so, that will be a huge tuffing work. And is there any suggestions,

[2017-11-29 07:57] Bingohong opened #14966 "why the size of filter is 3*3 in inceptionv1.py?"
https://github.com/tensorflow/tensorflow/blob/b5df90f91cde6eb12af9cbe818bd2cf4a9bcc687/tensorflow/contrib/slim/python/slim/nets/inception_v1.py#L103
according to the paper,  the size of filter in the scope of "InceptionV1/Mixed_3b/Branch_2"  should be 5*5.
why is 3*3 in the script?

[2017-11-29 08:29] bluemandora commented on #14701
Same issue on Tesla V100, I think the new GPU is not working very well with CUDA8.0

[2017-11-29 08:30] rajatmonga commented on #14942
There seems to be a tiny difference in the accuracies, are the runs exactly the same?
The config for 1.4 seems to include a clusterspec, are you running the 1.4 run locally as well?

Also are either or both of them using a GPU?

[2017-11-29 08:46] yongtang commented on #14959
Added a PR #14967 to fix the crash.

[2017-11-29 08:52] VOCCTQ opened #14968 "Question about tf.contrib.image.rotate"
Good Morning :) -
is it possible to parse the result from `tf.contrib.image.rotate` to a tensor to use it in `t.cast` ?

[2017-11-29 08:53] guerrillacaptain commented on #373
like

[2017-11-29 08:59] Sam7791 opened #14969 "remplace .npy weight file from a checkpoint"
Hi,
I went modify this line of code (loading weights from pretrained mode):
weights_dict = np.load(self.WEIGHTS_PATH, encoding = 'bytes').item()

where WEIGHTS_PATH is a an npy file WEIGHTS_PATH = 'bvlc_alexnet.npy'

by my own weights saved in checkpoint.

Thanks a lot

[2017-11-29 09:01] GPhilo commented on #14452
@asoehlke for my use-case though, everything has to be made constant, since I won't be running inference in tensorflow.

[2017-11-29 09:14] RylanSchaeffer commented on #14937
@tatatodd, help me interpret Eugene's comment. I can't access the link he shared. Should I still put together a minimal reproducible program?

[2017-11-29 09:15] nasergh commented on #12052
i am trying to install CUDA9 and cudnn 7 on ubuntu 16.04 and python 3.6
but i am fail :(
i try everything, search everywhere but still give same error "importError: libcublas.so.8.0 can not open shared object file: no such file or directory
i think tensor want to run CUDA8
how i can tell him to use cuda9 ?!!!! if answer is run from source how exactly? i did not see very clear website about build f

[2017-11-29 09:20] ppwwyyxx commented on #14657
https://github.com/ppwwyyxx/tensorpack/blob/be50085f7e2d9ed2704a14cb4c2e6aaa20548972/examples/FasterRCNN/train.py#L123-L134

[2017-11-29 09:25] behyjoon opened #14970 "AttributeError: module 'tensorflow' has no attribute 'session'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-29 09:28] withme6696 commented on #12052
You should install tf from source

[2017-11-29 09:46] guillaumekln opened #14972 "Support optional activation function to produce attentional hidden states"
*This is a feature request.*

When using an `AttentionWrapper` with the `attention_layer_size` argument set, the cell output and the context are combined and fed through a dense layer to produce an attentional hidden state.

However, it is also common to apply an activation function on this layer output (typically *tanh*). This is for example described in:

I would be happy to contribute. Do we wa

[2017-11-29 10:07] nasergh commented on #12052
@withme6696
how i can install it from source ?

i know i can download one of this
https://github.com/mind/wheels/releases
but i don't know download which one and how install it !?

[2017-11-29 10:24] vaijan1990 commented on #7560
I have the same problem. Is there any solution found for this?
tar: Unrecognized archive format
tar: Error exit delayed from previous errors.

[2017-11-29 10:38] ammarasmro commented on #7560
@vaijan1990

I just tried the instructions posted on [https://www.tensorflow.org/tutorials/image_retraining](How to Retrain Inception's Final Layer for New Categories)

`curl -O http://download.tensorflow.org/example_images/flower_photos.tgz
tar xzf flower_photos.tgz`

It worked without any problems

[2017-11-29 10:42] gaosanyuan commented on #4887
I'm suffering the same problem

[2017-11-29 10:51] Sixigma commented on #14859
@tatatodd Thanks for your participation !
I also notice that Mobilenet model exported directly by retrain.py is working well , but their freezing methods share the same process ( both are via "graph_util.convert_variables_to_constants" )
So I am really confused now.

[2017-11-29 11:14] juandes commented on #14884
Hi @teaglin. I'm having a somehow similar issue. Could you explain how you specify you want to export the model using export_inference_graph.py but with CPU. Thanks.

[2017-11-29 11:22] rotem90 opened #14973 "Tensor as index to other tensor not supported?"
I have 2 tensors (one is constant and one is placeholder), lets say:
A = [0.1,0.2,0.3,0.4,0.5,0.6,0.7]
B = [[1,2,4],[5,0],[3]]
I want to build a tensor C like this:
C= [[0.2,0.3,0.5],[0.6,0.1],[0.4]] which is a tensor in the same size of B and every element in C is equal to element in A indexed by B elements.

is there any way to do that?

Thanks!

[2017-11-29 11:25] Gumilton commented on #14906
@mrry Thanks! This works in splitting them into chunks along time axis. However, if the lengths of the original signals are different, how could we know when to reset the state of LSTM to 0?
For example, if we have two batches and each batch size is 1.
[
[[[1], [2], [3], [4], [5], [6]]],
[[[7], [8], [9], [10], [11], [12], [13]]]
]
The only one sample in the first batch is of length 6 while the oth

[2017-11-29 11:29] ivallesp commented on #5985
Any update? Is there already any way of computing second order gradients for dynamic_rnn modules?

[2017-11-29 12:32] mklopp commented on #10755
Sorry for not following up on this but the original issue has been resolved. So I guess this can be closed. The best way to use the function is to hand over `os.path.abspath(filename)`.

[2017-11-29 12:43] ppwwyyxx commented on #14962
Duplicate of #14657

[2017-11-29 13:10] vino5211 commented on #2995
@rajkumarcm I am confused about the shape of W_fw you mentioned above: [hidden_size,n_chars],what's n_chars in the second dimension? Is it the max length of the batch of sequences?

[2017-11-29 13:19] marrowsuck opened #14975 "master branch: compilation of llvm_gpu_backend failed"
### System information
- **OS Platform and Distribution**: slackware64-current
- **Python version**: 3.6.3
- **Bazel version**: 0.8.0
- **GCC/Compiler version**: 5.4.0
- **CUDA/cuDNN version**: 9 / 7
- **build environment**:
export PYTHON_BIN_PATH=/usr/bin/python3
export USE_DEFAULT_PYTHON_LIB_PATH=1
export CC_OPT_FLAGS="-march=native"
export TF_NEED_JEMALLOC=1
export TF_NEED_S3=1
export TF_NEED_G

[2017-11-29 13:21] teaglin commented on #14884
@juandes I used the CPU only version of tensorflow for Mac. So it automatically defaults to that. I didn’t specify anything in the export inference graph.

Some what related to this I can’t get either of these models to work on iOS. They complain about a similar issue.

[2017-11-29 13:45] facaiy commented on #14954
Hi, @Erichliu00 .

You build the function: `prediction = y = tanh(w x + b)` and calculate gradients as

[code]

here `tf.trainable_variables()` is `[w, b]`, so we get: `dy / dw` and `dy / db`, the corresponding shapes are (3, 1) and (1,). I think everything works well.

Since you mentioned usual mathematical gradient, I guess that you might expect `dy / dx`, like:

[code]

[code]

I wish the expla

[2017-11-29 13:55] prabufca commented on #14890
cool

[2017-11-29 14:01] prabufca commented on #14946
if you not get the cudnn64_6.dll, then use below method

you should rename the cudnn64_7.dll or cudnn64_8.dll as cudnn64_6.dll in the below path of your system

C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\bin

[2017-11-29 14:03] facaiy commented on #14947
As I known, the gradient op is not registered for `argmax` and `argmin`, since there not practical implementation, see #14931 and #2177 .  I just wonder whether we should mark them by `ops.NotDifferentiable` or `REGISTER_OP_NO_GRADIENT`. So the gradients are always zero when those ops are involved.

[2017-11-29 14:21] marrowsuck commented on #14975
This commit https://github.com/tensorflow/tensorflow/commit/4e9fa6dcce4912a4797c48f4cb55d3564961bfca changed CommandFlags.h to CommandFlags.def which is missing.

[2017-11-29 14:51] mrry commented on #14970
`tf.Session` has an upper-case `S`.

[2017-11-29 14:51] #14970 closed

[2017-11-29 14:59] JerryLauzzz opened #14978 "Header mismatch when running 'Simple Audio Recognition'"
tensorflow: 1.4, ubuntu 17.10, python3.6 anaconda, cuda 8.0, cudnn 6.0

Going with [Simple Audio Recognition](https://www.tensorflow.org/versions/master/tutorials/audio_recognition), I met an error when running
[code]

error:
[code]

[2017-11-29 15:10] mpeniak commented on #14731
That's awesome, thanks!

[2017-11-29 15:21] kemusa commented on #14358
Hi I am having the same issue but on Ubuntu 16.04 and I am running it in a docker container. I did all of the above:

- switched to branch r1.3 (because I am running TF v1.3.0)
- Added the two additional lines you mentioned
- built libtensorflow.so (using the instructions from here:    https://malmaud.github.io/TensorFlow.jl/latest/build_from_source.html)
- And then I copied libtensorflow.so to my

[2017-11-29 15:51] #10498 closed

[2017-11-29 15:54] marrowsuck commented on #14975
Tensorflow compiles successfully now.

[2017-11-29 15:54] andydavis1 commented on #14947
@aselle Can you comment on the StrideSliceGrad?

[2017-11-29 16:24] andrehentz commented on #14642
No need for a different issue for iOS since this is platform-independent.

The conversion tool uses std_value and mean_value to map raw input values into real values:
    real_value = (raw_input_value - mean_value) / std_value
The default values of 0 and 1 yield real_value = raw_input_value, which in conjunction with -
 inference_type=QUANTIZED_UINT8 means the input will range from 0.0 to 255.0, w

[2017-11-29 16:29] Erichliu00 commented on #14954
Hi @facaiy , thanks.  Indeed I want to get the gradient of output `predictions ` w.r.t neural network parameters `tf.trainable_variables `, however, my concern is that `tf.trainable_variables ` will contains some variables with shape like `3x2` then the gradient w.r.t such variable denoted as `g1` and `g2` will be of the same shape `3x2`, then my concerns are: 1. are the gradient `g1` and `g2` ave

[2017-11-29 16:43] ispirmustafa commented on #14613
@isaprykin do you have some idea on what's going on?

[2017-11-29 16:43] danqing commented on #12052
@nasergh check out our [README](https://github.com/mind/wheels) for how to install. If you don't mind installing MKL, you can do

[code]

If you don't want to install MKL, you can do

[code]

[2017-11-29 16:44] #14490 closed

[2017-11-29 16:51] #14969 closed

[2017-11-29 16:51] ebrevdo commented on #14937
Sorry, I meant line 829 of file tensorflow/python/ops/rnn.py at master.

On Wed, Nov 29, 2017 at 1:20 AM, Rylan Schaeffer <notifications@github.com>
wrote:

[2017-11-29 16:58] aselle commented on #14978
Could you try Python 2? It looks like a unicode python 3 problem.

[2017-11-29 16:59] aselle commented on #14978
@petewarden, did you test this on Python 3?

[2017-11-29 17:02] aselle commented on #14948
I'm still confused. Where did you get a setup.py? From the source code? If you download from the web site you get a .whl  which can be installed with pip. If you install from source you sually run build_pip_package which again gives you a .whl. Can you give me the exact steps to reproduce. Did you uncompress the whl with unzip or something?

[2017-11-29 17:06] aselle commented on #14954
gradients_1 and gradients_2 are the same shape. So just multiply them elementwise and sum the elements. You want to see if the gradients agree in direction i.e. the cosine, right? That should work, but perhaps you could give more background on what you are trying to accomplish. I think you might want to ask on Stack Overflow, as this seems to be more of a usage question rather than a bug in tensor

[2017-11-29 17:06] aselle commented on #14956
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-11-29 17:06] #14956 closed

[2017-11-29 17:07] aselle commented on #14960
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-29 17:07] #14960 closed

[2017-11-29 17:08] aselle commented on #14962
Closing as duplicate (for the feature request aspect). For help using tf.cond refer to the documentation or post a question on StackOverflow.

[2017-11-29 17:08] #14962 closed

[2017-11-29 17:09] aselle commented on #14966
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-29 17:09] #14966 closed

[2017-11-29 17:09] aselle commented on #14968
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-29 17:09] #14968 closed

[2017-11-29 17:11] aselle commented on #14972
Thanks for your interest in contributing. @ebrevdo, could you discuss with and advise @guillaumekln on creating this feature.

[2017-11-29 17:14] Erichliu00 commented on #14954
Yes, I want to see if the gradients agree in direction.

[2017-11-29 17:16] aselle commented on #14954
Sure, so just do
[code]
and that will be the cosine. The point is tf.gradients gives you an array entry for the gradient with respect to each discrete variable instead of a flattened one, because the optimizer needs to apply the gradients to each object in turn. .

[2017-11-29 17:16] #14954 closed

[2017-11-29 17:27] frankiecancino commented on #14948
Yes, I got the setup.py file from the source code. Specifically: /tensorflow/tools/pip_package/setup.py
And unfortunately the environments I'm deploying Tensorflow to are cut off from the internet due to a firewall so building it through an rpm for linux was the route I'm going. Being able to run "python setup.py" should install Tensorflow and it does except for one file, causing it to break once

[2017-11-29 17:28] allenlavoie commented on #14965
Which version of Python, which commit hash, and which configuration options? And which platform are you building on?

[2017-11-29 17:35] Jonathan-LeRoux commented on #9969
I'm not sure I understand why this issue was marked as Closed.
We have exactly the same problem: we're on a multi-node slurm cluster where the head node does not have a GPU. In order to run tensorboard on the head node without having to use a separate tensorflow-cpu environment (which is fine too, but that's one more thing to keep track of), we need to have the NVIDIA driver libraries on the head

[2017-11-29 17:47] yaroslavvb commented on #9969
It was marked as closed because it was working as intended -- there are two versions of TensorFlow, one that requires cuda libraries, and the one that doesn't, so it's expected that the former will crash without cuda libraries present.

I agree see that it adds to management pain, if someone has an idea of a solution (ie, how to restructure tensorflow to remove static linking requirement) it could

[2017-11-29 18:07] kuthedk commented on #13655
well, I have fixed this problem by refactoring the code to get it to *kinda* run on the newest version of TF. I forked the project and I believe the fix has been made there to at least get around this problem. I currently am working on updating the rest of this to be able to run on the newest version of TF with no problems, however that is proving to be a bit of a task.

[2017-11-29 18:22] Jonathan-LeRoux commented on #9969
I see, thanks. My comment is just a hack to work around the issue, hopefully it will be useful to someone in a similar situation.

[2017-11-29 18:29] #14914 closed

[2017-11-29 18:30] tatatodd commented on #14937
@RylanSchaeffer I've edited Eugene's comment to provide the correct link.  I guess one thing you can do is to try changing the code as he's described, to see if that helps with your immediate problem.

If not, a minimal reproducible program will still be useful for us to track down what other issues there might be.

@alextp @josh11b since this seems to be a problem with Eager mode, can one of you

[2017-11-29 18:34] aselle commented on #14924
It looks like broadcasting for dimensions 6 and above is not implemented see

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/cwise_ops_common.h#L142

You can likely add a case for 6 dimensional and see if that works.

[2017-11-29 18:35] aselle commented on #14916
@yongtang, thanks for looking into fixing this.

[2017-11-29 18:40] aselle commented on #14902
@gunan, could you please take a look?

[2017-11-29 18:41] alextp commented on #14937
I don't think I have enough context to understand whether this fixes the issue. Can I get an example to reproduce this problem?

I think @akshayka originally wrote this.

[2017-11-29 18:44] reedwm commented on #13643
The fix did not make it into 1.4, but should be in nightly.

@hpnhxxwn, does the above example not work or is it a different example that does not work? Can you post your CUDA/cudnn/Python/Ubuntu versions and your GPU? I'm not seeing the issue on Ubuntu 14.04, Python 2.7, Cuda 8 and cuDNN 6 with `pip install tf-nightly-gpu`.

@xiaoyaozhuzi what is the error message when your TensorFlow app crashes

[2017-11-29 18:46] aselle commented on #14898
Unfortunately, Apple support for NVIDIA CUDA is not strong, so it is difficult for us to support TensorFlow CUDA on Mac OS X.

[2017-11-29 18:49] aselle commented on #14894
You can edit the source code and recompile tensorflow yourself, or else you can use the gradient override map
https://uoguelph-mlrg.github.io/tensorflow_gradients/
I would recommend asking this question in StackOverflow as others might have implemented this in tensorflow already.

[2017-11-29 18:49] #14894 closed

[2017-11-29 18:51] gunan commented on #14902
I do not have much experience with Jupyter myself.
Maybe @caisq or @random-forests may know, or may know who to redirect this to?

[2017-11-29 18:52] RylanSchaeffer commented on #14937
@alextp , I can throw an example together tomorrow if you are willing to wait.

[2017-11-29 19:09] yaroslavvb commented on #9969
The proper solution is to use official instructions to install CUDA. You do not need a GPU in order to install CUDA

[2017-11-29 19:23] vrv commented on #13655
@reedwm I have no personal plans to add this, but it seems easy enough and I'd like to encourage external contributions.

@kuthedk is it sufficient to just implement this via:

    def writelines(self, seq):
        for line in seq:
          self.write(line)

?

[2017-11-29 19:25] a7b23 commented on #14950
I don't have any other operation apart from the ones in the graph. So when only network1 shows GPU usage of 2200 MB it does include all the intermediates , similarly with network2.

[2017-11-29 19:25] vrv commented on #13655
(Specifically, adding that function to file_io.py with tests, etc.)

[2017-11-29 19:26] drricksanchez321 commented on #14719
I was able to get it working with inception v3 non-slim 2015 by making @kidsung 's changes plus:

replacing the imgData.put's with:
[code]
commenting out
[code]
and
[code]

and modifying the declarations:
[code]

Additionally, I received a tensor length error for the labels, the file had 1001 and (somewhere) it expected 1008, so I filled in 7 lines of foo1, foo2, etc.

[2017-11-29 19:39] kuthedk commented on #13655
@vrv omg I've been commenting in regards to the wrong project. my bad. please forgive me as I've been sick for a while and a lot of stuff has been blurring together. What you have added looks like it would work but what I ended up doing was just a simple 2 liner in the https://github.com/carpedm20/attentive-reader-tensorflow project. there is a PR that I made on that project that also kinda addres

[2017-11-29 19:42] Jonathan-LeRoux commented on #9969
We have the CUDA toolkit installed on the head node, but not the CUDA driver. I didn't know it was possible to install the driver without a GPU, but if that's the case, then indeed it sounds like the proper solution.

[2017-11-29 19:45] a7b23 commented on #14950
I have another example showing the above concern

<img width="1205" alt="screen shot 2017-11-30 at 1 10 37 am" src="https://user-images.githubusercontent.com/12389081/33395462-96c2a630-d56b-11e7-83a3-d2670caa90b2.png">

In the graph defined in the image if I run it on a single GPU , the node network1 shows usage of 1.2 GB whereas if I run the left and right half of graphs on seperate GPU's the nod

[2017-11-29 19:55] gdeer81 commented on #13982
@theflofly any thoughts on how to test my changes?

[2017-11-29 20:12] kpierce8 opened #14980 "tensorflow-gpu install from pip breaks conda on windows"
Your instructions for installing tensorflow-gpu on windows often breaks peoples conda installations forcing a complete reinstall. This also forces a rebuilding of previous environments which no longer function.

https://stackoverflow.com/questions/46356732/anaconda-prompt-corrupts-after-installation/46493533#46493533

Some kind of warning or recommendation to check the above thread could really he

[2017-11-29 20:16] ppwwyyxx commented on #9566
The whole documentation now has become 8GB.

[2017-11-29 20:16] Erichliu00 commented on #14954
Hi @aselle , thanks, you are right, I should consider gradient of each variable to compute cosine and also should not expect a flatten gradient since variable has shape that is not flattened.  However, I still believe that if gradient is not the usual flattened gradient, then some computation may not applicable.
For example, suppose we have a neural network parameter `x` with shape `[2,4]`, then t

[2017-11-29 20:17] tatatodd commented on #14811
@eLvErDe FYI #14290 was merged as 49059695babc08df22f31124480142e7f6aec5eb, which hopefully fixes this problem.

Can you try again at that commit?

[2017-11-29 20:26] aselle commented on #14586
@JulianNeeleman, is your question sufficiently answered?

[2017-11-29 20:28] aselle commented on #14606
We are planning to implement this op.

[2017-11-29 20:28] aselle commented on #14607
What kind of support are you interested in? Inference or tooling for preparing models?

[2017-11-29 20:31] aselle commented on #14610
Are you building on a Intel machine or are you building on say a Jetson host device or an ARM host device?

[2017-11-29 20:32] aselle commented on #14615
Also, please take a look at how the JNI layer is implemented to provide Java support as an example of using the c++ api.

[2017-11-29 20:37] aselle commented on #14661
Assigning to @andrehentz for advising.

[2017-11-29 20:37] JulianNeeleman commented on #14586
@aselle Yes, thank you.

[2017-11-29 20:37] #14586 closed

[2017-11-29 20:41] aselle commented on #14670
It looks like multiple things are happening. You still have operations we don't support (Pack, Where). We are working to add more ops. If you're inclined you can provide your own implementations of these.

[2017-11-29 20:44] aselle commented on #14716
It looks like you only provided a checkpoint. Could you provide python source code for the model?

[2017-11-29 20:45] aselle commented on #14719
Seems like the issue is resolved. Could you please close it if it is?

[2017-11-29 20:55] aselle commented on #14581
Currently there is no build rule in bazel for that benchmark_model.cc. You can add a cc_binary to BUILD (look at other BUILD cc_binary examples in contrib/lite/BUILD for inspiration).

[2017-11-29 20:57] mholt commented on #14363
Came here to report the exact same thing with our Volta, using the Tensorflow container on NVIDIA GPU Cloud. We will be happy to test the fix with cuDNN 7.0.5 and follow-up. Please let us know if there are any other updates on this issue.

[2017-11-29 21:09] andrehentz commented on #14661
You'll need to implement a wrapper to make the existing optimized_ops.h available to TF Lite, and you would need to implement the export code for toco. In both cases you can look at the MUL operation for inspiration. I'd say the steps would be:

1. Propose a change to schema/schema.fbs to add the new operator along with any required options
2. Change toco/tflite/operator.cc to export/inport the ne

[2017-11-29 21:15] eLvErDe commented on #14811
I will. Is it also fixing openmpi ?

[2017-11-29 21:26] wdhorton commented on #14583
@Linusnie seems like this is the intended behavior:
https://github.com/tensorflow/tensorflow/blob/0403762ced523c048914009b335c7626e10e5f2e/tensorflow/contrib/layers/python/layers/layers.py#L1003

[code]

It chooses the kind of convolution to perform based on the rank of the input tensor.

[2017-11-29 21:27] junshi15 commented on #14811
I do not think the PR touches openmpi, which may need a separate fix.

[2017-11-29 21:32] angersson commented on #14573
Can you give an exact sequence of commands to reproduce this?

[2017-11-29 21:42] aselle commented on #14980
The installation instructions linked from that issue are not tensorflows. They are another repository. That beintg said:
It seems like the problem is you probably didn't add the path properly you should always include %PATH% in any path you define in the windows environment so you inherit the previous path instead of replacing it.

[2017-11-29 22:00] kpierce8 commented on #14980
No. They are a possible fix for tensorflows. I’ve been using the same few conda environments for months. After following the tensorflow web page installation instructions for the gpu install in a new conda environment all of my conda functionality suddenly crashed. Evidently the —ignore-installed flag winds up installing an older conda binary that overrides the current installation. Took me three

[2017-11-29 22:09] caisq commented on #14902
As yomoko@ wrote in the related issue:

[2017-11-29 22:10] caisq commented on #14902
yomoko@ wrote in a separate and I copy it here:

[2017-11-29 22:21] yunxing commented on #14676
Just saw this. Good catches, thanks! We did notice the mistakes in the formula when we were testing the implementation, but haven't got a chance to fix the doc. Will work on a fix.

[2017-11-29 22:31] theflofly commented on #13982
@gdeer81 Sorry for the delay.

As a NoGradient cut the flow of the gradient I don't see what we can test. I mean if you do something like that:
[code]
And you try to differentiate y w.r.t x1 or x2, it will just do nothing (no error, no result) whereas in Python there is:  `No gradients provided for any variable, check your graph for ops that do not support gradients, between variables...`. I think

[2017-11-29 23:01] gunan commented on #13926
Officially we will  only support the latest CUDA version. So we are currently actively working to upgrade to CUDA 9 and drop support for CUDA 8.
However, we will be happy to accept any contributions that fix the build issues on CUDA 7.5.

[2017-11-29 23:08] alquraishi commented on #13926
Just a heads up that CUDA 9 does not appear to be supported on Ubuntu 14.04, which has a large installed base in ML.

[2017-11-29 23:09] aselle commented on #14980
Well that is not consistent with the stackoverflow question you linked. Could you please be precise about what instructions you followed by posting a link here, and tell me where you would like a warning included. I'm happy to help, but you need to provide more information.

[2017-11-29 23:14] aselle commented on #14950
Well it could be that even though you have allow_growth on it, the allocator graphs a larger chunk that it needs. This is often done by memory allocators for efficiency and to reduce fragmentation. @zheng-xq, might be able to provide more insight.

[2017-11-29 23:22] aselle commented on #14948
Well pywrap_tensorflow_internal is the entire c++ backend of TensorFlow. I.e. it's not just one file, it's the backend that runs everything. Cou'll at the very least need to run build_pip_package as
bazel run tensorflow/tools/pip_package:build_pip_package
Before you do that edit the build_pip_package command to output to a specific directory  (i.e. replace
[code]
with some specific directory. Then

[2017-11-29 23:25] aselle commented on #14890
Glad it worked. If your issue is resolved, please feel free to close it.

[2017-11-29 23:29] aselle commented on #12450
@anandcu3  have you had any luck resolveing your issue?

[2017-11-29 23:29] aselle commented on #12450
Nevermind, read the stackoverflow.

[2017-11-29 23:29] #12450 closed

[2017-11-29 23:30] #12794 closed

[2017-11-29 23:38] hossein-h commented on #14432
I have faced the same problem.

[2017-11-29 23:44] OscarDPan commented on #14662
Some updates:
I think the shared queue is inherently unstable, according to my experience and to some Googler who works on TF.
So I implemented the sync mechanism without using queues. But the hangs still happened, and it looked like this was due another problem than some servers just hung because the port it got assigned was taken away by others. (hung on the first sess.run())

So there were actu

[2017-11-30 00:04] #13789 closed

[2017-11-30 00:12] aselle commented on #12978
@gunan, could you look at what could be done to streamline/fix this to work out of the box?

[2017-11-30 00:13] aselle commented on #13148
@mrry, could you respond to the cleaner API improvement suggestion?

[2017-11-30 00:15] blairjordan commented on #11440
@ryutah The answer still isn't very clear to us newbies, so I've created a github question (with a small bounty) to get a working example of how to extract the prediction:
https://stackoverflow.com/questions/47494658/saving-and-running-wide-deep-py-model

[2017-11-30 00:16] aselle commented on #13196
Not really sure what is going on. as far as lib vs Lib, windows is case-preserving not case-sensitive. Try using python 3.5 rather than 3.6. Try using the non-gpu version first and see if you can get that to work.

[2017-11-30 00:36] mrry commented on #13148
Since `data` in that example is a `tf.data.Dataset` object, an API like that would require some form of mutability in the `Dataset` class, which we are not going to support.

It might be possible to define some new type that supports (i) maintaining a dynamic set of elements, and (ii) creating a `Dataset` over that dynamic set of elements that has well-defined semantics (e.g. it could randomly sam

[2017-11-30 00:41] gunan commented on #12978
We are sorry about the negative experience you have been seeing.
Bazel support out of the box on windows is still WIP. I will recommend using cmake build for all users on windows. We are hoping early in 2018 we will be able to declare out of the box bazel support working.
In the meantime, I recommend sticking with the build scripts @snnn pointed out.

AVX, AVX2 support we have are weak, and AVX512

[2017-11-30 00:43] aselle commented on #13744
@IvanDeFalco, does this suggestion resolve your issue.

[2017-11-30 00:47] gunan commented on #12052
I will use this issue as the tracking issue for CUDA 9 support.
Currently, there are two blockers:
1 - https://github.com/tensorflow/tensorflow/pull/14770
2 - On windows, it looks like we have a bug with NVCC. Building TF with CUDA9 seems to be failing with a compiler crash. NVIDIA is helping investigate this, and once we have an update we will proceed.

[2017-11-30 00:49] gunan commented on #14801
On windows, it looks like we have a bug with NVCC. Building TF with CUDA9 seems to be failing with a compiler crash. NVIDIA is helping investigate this, and once we have an update we will proceed.

I will mark this as a duplicate issue of #12052 and #14691, if you dont mind.

[2017-11-30 00:49] #14801 closed

[2017-11-30 00:56] yongtang commented on #12000
Looks like this issue has been addressed in #14404. As #14404 has already been merged, I think this issue could be closed.

[2017-11-30 01:01] kpierce8 commented on #14980
I was using the following instructions

https://www.tensorflow.org/install/install_windows

[image: Inline image 1]
After creating a fresh environment, activating it and running the

(tensorflow)C:> *pip install --ignore-installed --upgrade tensorflow-gpu*

command, conda no longer responded to any of the current command line
flags. I kept getting a choice error then a bunch of options. When I ran

[2017-11-30 01:12] #14455 closed

[2017-11-30 01:14] ed-alertedh commented on #13604
I'm also getting this error on TF GPU 1.4.0, Python 3.6.3 x64 on Windows 10 x64

[2017-11-30 01:16] #14719 closed

[2017-11-30 01:27] InsZVA commented on #14358
@kemusa I think you should put your libtensorflow.so to your library path(such as `/usr/local/lib`, and run `ldconfig`, refer: https://www.tensorflow.org/install/install_c

[2017-11-30 01:27] panyx0718 commented on #14957
Thanks for reporting it and doing the analysis.

The constant op memory is recorded in "memory_stats" but not in "memory". And profiler
missed that. I sent out a fix for it.

 Some clean up is needed for the TensorFlow internal memory tracing. Here are some thing I noted down during my code digging:
  // 1. OpKernelConstruction::allocate_xxx is not traced. Below, we only
  //    discuss OpKernelCo

[2017-11-30 01:41] WenmuZhou commented on #14942
both of them ara run using 1080TI，and everything is the same except for the tensorflow version

[2017-11-30 01:42] WenmuZhou commented on #14942
the tf1.4 log of input_fn is error and I have fixed it

[2017-11-30 01:44] InsZVA commented on #14358
I faced this error when I tried to use Go load a savedmodel I trained with Python. And I found the library other language(c, c++, go etc) use is built by the rule in BUILD files. And I addethat two lines in file and succeed. So I think if you face a error like "Op type not registered XXX", you can check whether it was built into the library you use.

[2017-11-30 01:48] snnn commented on #12978
My personal view: I always perfer to use bazel than cmake for building tensorflow on Windows, because it can do incremental build very well.  At this time, bazel on Windows works well except it can't build the custom ops under tf.contrib, thus all stuffs under tf.contrib are missing.  We won't get it until https://github.com/bazelbuild/bazel/issues/1920 is fixed.  I wish bazel team could put more

[2017-11-30 02:00] tatatodd commented on #14921
@nikonikolov it's defnitely possible that something has changed, but again, note that it's just a warning.

I'm closing this out.  If you feel there's a concrete bug here, feel free to ping this issue (or open a new one), with a minimum reproducible example that demonstrates the issue, and I'll re-open.

[2017-11-30 02:00] #14921 closed

[2017-11-30 02:04] tatatodd commented on #14959
Thanks @yongtang!  I'll close this out once your PR gets merged.

[2017-11-30 02:07] tatatodd commented on #14963
Thanks for filing the clear issue @akanimax!  Would you like to submit a PR to improve the documentation?

FYI @ebrevdo.

[2017-11-30 02:13] tatatodd commented on #14973
I think you're looking for one of these:
https://www.tensorflow.org/versions/master/api_docs/python/tf/gather
https://www.tensorflow.org/versions/master/api_docs/python/tf/gather_nd

For future reference, this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads ques

[2017-11-30 02:13] #14973 closed

[2017-11-30 02:21] tatatodd commented on #14975
Great, closing this out.

[2017-11-30 02:21] #14975 closed

[2017-11-30 03:05] YoungGer commented on #14622
+1

[2017-11-30 03:25] gyang274 commented on #14924
@aselle it might be, but then what i don't understand is why the following works just fine.

[code]

[2017-11-30 03:42] tatatodd commented on #14875
I don't know Python that well, so bear with me.  Perhaps @jart can confirm or correct any mistakes I make.

First off, here's some documentation on Python modules and packages:
https://docs.python.org/3/tutorial/modules.html#packages

I'm guessing the problem is due to the way TensorFlow python code and `__init__.py` files are structured.  The file layout looks like this:
[code]
Here are links to

[2017-11-30 03:50] akanimax commented on #14963
Sure! It'd be a privilege.

[2017-11-30 03:54] yongtang commented on #14951
The S3_REGION was introduced in PR #11089. Sorry about the confusion on AWS_REGION vs. S3_REGION.  I will create a PR to add AWS_REGION support shortly.

[2017-11-30 04:01] yongtang commented on #14951
Added a PR #14984 for the fix. Please take a look.

[2017-11-30 04:02] jart commented on #14875
Rather than this:

[code]

Please do this:

[code]

[2017-11-30 04:02] #14875 closed

[2017-11-30 04:07] OscarDPan commented on #12745
@mrry I have the same problem that one worker got stuck at trying to connect to 3 parameter servers (which are apparently running and connected to all other workers). There are other workers on the same machine as the problematic one, and they are all connected to the ps. Also ports are assign to all servers as expected.

This behavior happens quite often and the worker number, ps number or the ma

[2017-11-30 04:20] balconychy opened #14985 "tf.nn.fractional_max_pool output have same batch size when feed with different input batch size"
### Describe the problem
tf.nn.fractional_max_pool output have same batch size when feed with different input batch size.
Attached is test code I write. 2 different input is feed in with different batch size , outputs get same batch size.
[pool_test.py.txt](https://github.com/tensorflow/tensorflow/files/1516498/pool_test.py.txt)

###code result
shape of input_a (3, 32, 32, 3)
shape of output_a (3,

[2017-11-30 04:38] hpnhxxwn commented on #13643
@reedwm

It is my code. It was working for CPU version, but for GPU it did not work and gives me such error. Mine is Ubuntu 16.04, Python 3.5, Cuda 8 and cuDNN 5. Actually I tried both tensorflow 1.14.0 with cuDNN 6 and local build from tenforflow latest source code with cnDNN 5, both have issue. I have also tried with the nightly build xiaoyongzhu pointed yesterday, also has the same issue with c

[2017-11-30 04:49] facaiy commented on #14933
@fchollet The implementation of causal padding seems designed for NWC format only, does it make sense for NCW?

https://github.com/fchollet/keras/blob/b00ec66ba948077b61e25cf7dc004857c432b01a/keras/backend/tensorflow_backend.py#L3140

[2017-11-30 04:59] hpnhxxwn commented on #14657
@ppwwyyxx Could you point me how to use tf.cond on keras generator type of input?

[2017-11-30 05:14] yao-zhao commented on #6620
will this change be included in tf-1.5? any examples for multi gpu usage of the new CudnnLSTM?

[2017-11-30 05:23] ppwwyyxx commented on #14657
I'm not sure I know what you mean. And I think it's already unrelated to the issue anyway. You can search for documentation/examples or ask on stackoverflow for usage questions.

[2017-11-30 05:26] protoget commented on #6620
yes it'd be included in 1.5.
You can check ```cudnn_rnn_test.py```.
```ptb_word_lm.py``` is updated but not released to the public yet.

[2017-11-30 05:26] #6620 closed

[2017-11-30 05:37] fchollet commented on #14933
@facaiy I've never seen this use case (it's used for timeseries only, which are in NTC format), but in theory it could be made more general.

[2017-11-30 05:52] WKChung1028 opened #14988 "tf.image.crop_and_resize"
Anyone know how the
tf.image.crop_and_resize(images, boxes, batch_inds,
                                         [pooled_height, pooled_width],
                                         method='bilinear',
                                         name='Crop')
work? i cannot find the " tf.image.crop_and_resize" in  tensorflow/python/ops/gen_image_ops.py.
Thank you

[2017-11-30 06:00] WKChung1028 commented on #9988
@shitian-ni  Hi, have you get the tensorflow/python/ops/gen_image_ops.p? or you know it work?

[2017-11-30 06:18] WKChung1028 opened #14989 "gen_image_ops.py"

[2017-11-30 06:20] #14989 closed

[2017-11-30 06:23] johnpjust commented on #4965
Just stumbled across this thread looking to implement HMC.  Glad this has been moving along.  To add to the use cases -- I've recently been recommended this as an efficient way to help fit complex/high dimensional unsupervised learning models (as well as generate samples from complex/high dimensional probability distributions approximated by ANN models)

https://stats.stackexchange.com/questions/3

[2017-11-30 06:26] adeagle opened #14990 "fcn network to tensorflow lite ?"
Input:
(u'input_image', (<tf.Tensor 'input_image:0' shape=<unknown> dtype=float32>,))
(u'image_width', (<tf.Tensor 'image_width:0' shape=<unknown> dtype=int32>,))
(u'image_height', (<tf.Tensor 'image_height:0' shape=<unknown> dtype=int32>,))

Output:
(u'Squeeze', (<tf.Tensor 'Squeeze:0' shape=(?, ?, 2) dtype=float32>,))
(u'Squeeze_1', (<tf.Tensor 'Squeeze_1:0' shape=(?, ?, 4) dtype=float32>,))
(u'

[2017-11-30 06:51] amitoengg commented on #6620
Thanks again. Could you please advise on how to use CudnnLSTM trained models on cpu's at test time ?  i,e how to convert Bidirectional CudnnLSTM to say Bidirectional BasicLSTM that can be used on cpus.

[2017-11-30 07:26] sylvain-bougnoux commented on #14801
@gunan
Where is the crash you mention?
Actually I could compile everything just by changing the parameters given to nvcc. As I could not run it properly (despite the example trainer) due to the /WHOLEARCHIVE bug, is my success an illusion?
AFAICJ it is just a matter of fixing the cmake file (or bazel).

[2017-11-30 07:28] dariavel commented on #13466
PR #14290 fixed the issue.

[2017-11-30 07:28] #13466 closed

[2017-11-30 07:31] gunan commented on #14801
http://ci.tensorflow.org/job/tf-pr-win-cmake-gpu/19/console

[code]

The location of the assertion failure seems to point to a line in nvidia proprietary code.

[2017-11-30 07:47] kartikeyasaxena1012 commented on #14861
@tatatodd I am using Windows 10 x64 bit version and I am trying to install the tensorflow version available on the tensorflow website. I am using "pip3 install --upgrade tensorflow-gpu" command for installing tensorflow gpu version, I installed CUDA 9.0 from NVDIA and also added cuDNN's dll to the respectivefolders as said in the installation guide. I also have numpy, dev,pip and wheel installed .

[2017-11-30 07:55] zh794390558 opened #14993 "Using tfdbg with errors."
VERSION: TF-1.4.0

Problem:
  I want to use tfdbg to debug NaN problem with `tf_debug.LocalCLIDebugHook()` , but encounter thie problem.
  One more question, how to lower the size of dump files?

Logging is below:
[code]

[2017-11-30 08:03] uptodiff commented on #14894
Thanks for your advice！

[2017-11-30 08:41] RSantanu99 opened #14994 "Tensorflow"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/sovietsky/anaconda2/lib/python2.7/site-packages/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "/home/sovietsky/anaconda2/lib/python2.7/site-packages/tensorflow/python/__init__.py", line 49, in <module>
    from tensorflow.python import pywrap_tensorflow
  File "/home/so

[2017-11-30 08:43] boeddeker opened #14995 "Bug: tf.estimator.Estimator.export_savedmodel does not work with pathlib.Path in py36"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: 3.6
- **

[2017-11-30 08:45] YoelShoshan commented on #14887
same signature as decode_raw, I don't currently see any reason for additional arguments.
so basically

[code]

[2017-11-30 09:18] dongjk commented on #12859
the Scaffold code is working, but in further step I want add feed_dict(like feed tfrecord file names) to iterator initializer, that will not work, I only see `init_feed_dict`, no `local_init_feed_dict` in Scaffold.

[2017-11-30 09:19] Linusnie commented on #14583
@wdhorton yes, but my point is that a function called conv2d should never perform a 3d convolution, as it does right now when you use it on a 5d tensor.

[2017-11-30 09:21] matthiasreisser commented on #14885
I observed the same error originating from the same problem as @mrry explained on stack overflow. I thought it noteworthy though that this only ever occurred when I built TensorFlow from source. Using the pip installed version this problem did not occur.

[2017-11-30 09:25] luyuesheng opened #14996 "How to read image_data and fill image_tensor by tensorflow c++ apis"
I want to infer a image by a trained model.first read a image as Mat by opencv,then fill plane_tensor with Mat.Does it work ? Is there any better way to the following code? waiting for some warming person ! thank you very much.

Mat img = imread(file_name);
std::vector<Mat> bgr;
split(img, bgr);
tensorflow::Tensor four_dim_plane(DT_UINT8, tensorflow::TensorShape({ 1, img.rows, img.cols, 3 }));
aut

[2017-11-30 09:45] rhaps0dy commented on #14924
It works for me if I add broadcasting for dimension. But it is still puzzling that @gyang274's 6-dimensional example works even without adding that test case.

Perhaps that is because `y3` could be reshaped to [10,1,32,1,16] and multiplied by `x3` with the last dimension squeezed out and the result would be the same. There seem to be calls to reshape all around the code that deals with broadcastin

[2017-11-30 10:11] boeddeker opened #14998 "Extend reshape with begin_axis and end_axis like in cntk"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: 3.6
- *

[2017-11-30 10:25] derdav3 commented on #14642
@andrehentz thanks a lot for your explanation! maybe I misunderstood, but as I read it `--std_values=128' '--mean_values=128` should resolve it, however at my end the error still persists. (I will try again later today.)

[2017-11-30 10:41] juandes commented on #14884
@teaglin thanks for the quick reply.

[2017-11-30 12:39] xf4fresh opened #15001 "How can i read csv file by file name and line number in tensorflow?"
I read some csv files using queue like [this](https://www.tensorflow.org/api_guides/python/reading_data#creating_threads_to_prefetch_using_queuerunner_objects).  Then, i get `key` and `value` when reading from file queues. The `key` contains file name and line number.

[code]

I train model using Dynamic negative sampling like [IRGAN code](https://github.com/xf4fresh/irgan/blob/master/ltr-gan/ltr-

[2017-11-30 12:39] Choxmi commented on #11807
I faced a same type of issue in windows. I was able to solve it by changing the cpu  to `x64_windows_msys`. Hope would help somebody. :)

[2017-11-30 13:23] PatWie opened #15002 "fatal error: cuda/include/cuda.h: No such file or directory"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, I followed the official documentation for custom operations.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

[code]

- **TensorFlow installed from (source or binary)**:
  tried both
- **TensorFlow version (use command below)**:

| version

[2017-11-30 13:29] JerryLauzzz commented on #14978
I tried anaconda python2, and the error:
[code]

[2017-11-30 13:30] facaiy commented on #14933
Thanks for explanation, @fchollet . #15000 is created to fix the issue, might you take a look?

[2017-11-30 13:36] simonhuber95 opened #15003 "msvcp140.dll missing on win 7"
Hi everyone :)

I installed Tensorflow on Windows 7 ultimate with Python 3.5.4, via the `pip3 install --upgrade tensorflow` command. It even stated it successfully installed version 1.4

But if I try to invoke `import tensorflow as tf` in the shell I get the following error:
![grafik](https://user-images.githubusercontent.com/33151777/33433308-5b8fee18-d5db-11e7-8ddf-7037bae45e11.png)

Of course I

[2017-11-30 13:37] jimdsouza commented on #8033
@guillaume-michel Any way to do this for a tensor which has a batch of images?
Eg.
`Tensor inputImg(DT_FLOAT, TensorShape({4,inputHeight,inputWidth,3}));`

Since tensors aren't subscriptable, I'd imagine you would create tensors for each image and combine them somehow to forrn `inputImg`. If so, is there a way to combine tensors?

[2017-11-30 14:00] kolesov93 commented on #14014
Is there any update?

[2017-11-30 14:02] facaiy commented on #14583
I agree with @Linusnie that `contrib.slim.conv2d` should check its input rank. However since it is under contrib module, I'm afraid that the issue might not be resolved quickly. So I prefer to use ` tf.layers.conv2d`.

About the second point, as @sguada said:

I think the feature will be useful, however it seems difficult to implement currently. And to get around the problem, we can reshape our da

[2017-11-30 14:15] cuevas1208 opened #15004 "compile error with cmake for windows 10 and GPU enabled"
Hi,
I am trying to compile the tensorflow.dll with cmake for windows 10 and GPU enabled. However, the it failed because of the following error:
[code]
These are the commands I use:
cmake .. -A x64 -DCMAKE_BUILD_TYPE=Release -DSWIG_EXECUTABLE=C:\Users\mcuevas\bin\swigwin-3.0.12\swigwin-3.0.12\swig.exe -DPYTHON_EXECUTABLE=C:\Users\mcuevas\AppData\Local\Continuum\anaconda3\envs\acsis_cpu\python.exe -

[2017-11-30 14:23] facaiy commented on #14995
I prefer to use `tf.gfile`.

[2017-11-30 14:32] facaiy commented on #14998
It seems that `tf.reshape` supports to merge its dimensions, for example:

[code]

[2017-11-30 14:37] shahidhs-ibm commented on #14017
After debugging more into issue which @namrata-ibm had found out, it turned out an issue with NumPy (similar to [12963](https://github.com/tensorflow/tensorflow/pull/12963)).

On Intel:
[code]
On zSystems:
[code]

If we do not specify the data type to the array, NumPy is giving same results on both the platforms.
On Intel:
[code]

On zSystems:
[code]

@mrry Please share your thoughts on this.

[2017-11-30 14:44] jimdsouza commented on #3471
I have an independant project using Makefile and tensorflow shared object file instead of bazel to build. What's the g++ equalivalent of `-c opt` here?

[2017-11-30 14:44] boeddeker commented on #14995
If I interpret `tf.gfile` correct its made for file handling (i.e. a replacement for `open`) and not for path handling (like `os.path` and `pathlib`).
The code that causes the problem is related to py2 vs py3 with `bytes` and `str`.
So I do not know how to solve this with `tf.gfile`.

[2017-11-30 14:45] szpssky commented on #14933
hi @facaiy
I use your convolutional.py file to replace the original file, I found error：

`   File "/Users/szp/Documents/github/check_tf/causal.py", line 63, in build_model
    model = tf.keras.models.Model(input_, net)
  File "/Users/szp/anaconda3/envs/dl/lib/python3.6/site-packages/tensorflow/python/keras/_impl/keras/engine/topology.py", line 670, in __init__
    super(Network, self).__init__(in

[2017-11-30 14:52] nimral commented on #5036
+1

[2017-11-30 14:58] mrry commented on #14017
I assume it’s some difference between in the rounding behavior for `np.float32` and `np.float64` on zSystems. Not my area of experience, alas…

[2017-11-30 15:04] boeddeker commented on #14998
Currently `tf.reshape` is powerful enough to solve all problems, but there are two reasons in my mind, why the further arguments are useful, not necessary.

First: Less "hidden bugs" on user side
Example: I modified your example (swapped 6 and 4), it is still executable, but the intent was to flatten the inner dims.
So the output shape is correct, but it hides a bug in user code.
[code]

Second: I

[2017-11-30 15:26] qmick commented on #15004
Which version of tensorflow are you compiling? `stream.h` of master branch doesn't match the error log. You can try to update to a newer version.

[2017-11-30 15:55] Madhivarman commented on #7529
when i installed

` export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.11.0rc2-py2-none-any.whl`

and upgraded in my linux machine i get  following error

  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/__init__.py", line 23, in <module>
    from tensorflow.python import *
  File "/usr/local/lib/python2.7/dist-package

[2017-11-30 15:59] JulietteCarter commented on #10145
Any updates/solutions? I am having a similar problem.

[2017-11-30 16:25] cuevas1208 commented on #14293
For some reason my tf_cc_while_loop.lib has not been build when I ran this command:
`cmake .. -A x64 -DCMAKE_BUILD_TYPE=Release -DSWIG_EXECUTABLE=C:\Users\mcuevas\bin\swigwin-3.0.12\swigwin-3.0.12\swig.exe -DPYTHON_EXECUTABLE=C:\Users\mcuevas\AppData\Local\Continuum\anaconda3\envs\acsis_cpu\python.exe -DPYTHON_LIBRARIES=C:\Users\mcuevas\AppData\Local\Continuum\anaconda3\pkgs\python-3.5.2-0\libs\py

[2017-11-30 16:25] #14293 closed

[2017-11-30 16:29] yupbank opened #15006 "tf.contrib.data: tf-slim training pipeline raise GetNext() failed because the iterator has not been initialized."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-30 16:55] ispirmustafa commented on #12859
@dongjk you can use a hook to do all you need. Following is a code example.
[code]

[2017-11-30 17:11] reedwm commented on #13643
@hpnhxxwn I'm not sure what the issue is. Can you post the full error message that occurs? Also if possible can you post the full example? Are you calling conv2d_transpose with zero batch size?