[2017-11-09 10:35] BobLiu20 opened #14402 "Encountered a training error when using slim with multi-GPU connect by PIX type"
Hi all, I encountered a training error when I training model in multi GPU.
The key condition is using slim to write model and training in multi GPU(GTX TITAN X) which connect by PIX type.

How to reproduce:
 * 1. checkout office code in [here](https://github.com/tensorflow/models/tree/master/tutorials/image/cifar10)
 * 2. copy code in below(slim model code) and replace it to cifar10.py file. (Beca

[2017-11-09 11:05] tranhungnghiep opened #14405 "`keras` model with `tf.keras.layers.Conv2D` layers compiled with `tf.losses.softmax_cross_entropy` loss does not converge"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: simple MNIST model in keras
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian GNU/Linux 8
- **TensorFlow installed from (source or binary)**: binary from pip
- **TensorFlow version (use command below)**: 1.4
- **Python version**: 3.5.3

### Describe the p

[2017-11-09 11:07] snnn commented on #14194
Hi @johnsrude , now it lacks tf.load_library() support. All stuffs in tf.contrib are missing.   For the others, it's almost perfect.

[2017-11-09 11:14] facaiy commented on #14361
How about using ˋwith tf.variable_scope("test")`?

[2017-11-09 11:16] snnn opened #14406 "cmake build type is hard coded in grpc.cmake"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows Server 2012
- **TensorFlow installed from (source or binary)**:
Source

- **TensorFlow version (use command below)**:
92838685241ca22ea2797e937e380bdbe8325784

- **Python version**:
3.5.4
- **Bazel ver

[2017-11-09 11:19] #14406 closed

[2017-11-09 11:20] ljanyst commented on #14363
Thanks for the hint @zheng-xq ! I have had a closer look, and the offending kernel seems to be:

[code]

I was unable to get any useful host-side stack trace because there appears to by something wrong with the DWARF symbols: `Unable to access DWARF register number 83886081`. I am not sure whether it's about the symbols in CUDA/cuDDN or in TensorFlow. Do you think that recompiling TensorFlow in de

[2017-11-09 11:33] hbfreedow opened #14407 "Failed to connect to dl.google.com port 443: Operation timed out"
when I run the simple project of ios, I just run "pod install", but I get the error message of the title, however, if I copy the url "https://dl.google.com/dl/cpdc/2cf20b661cbb3374/TensorFlow-experimental-1.1.1.tar.gz" to my safari, it download speed is fast, who can help me? By the way, my ruby/cocoapods all are newest, thx.

[2017-11-09 12:11] GPhilo commented on #10155
Hello,
could you clarify how `init_from_checkpoint`'s `assignment_map` should be defined?

I'm trying to restore weights from an InceptionResnet_v2 checkpoint, but I want to exclude the `InceptionResnetV2/Logits` and `InceptionResnetV2/AuxLogits` scopes.
I get the variables to restore via `tf.contrib.slim.get_variables_to_restore(exclude=['InceptionResnetV2/Logits', 'InceptionResnetV2/AuxLogits'])

[2017-11-09 12:21] huw commented on #14042
The API lists `evaluation_hooks` as a [valid parameter](https://www.tensorflow.org/api_docs/python/tf/estimator/EstimatorSpec) for `EstimatorSpec` — does this not work?

[2017-11-09 12:43] joel-shor commented on #14257
In general, `GANEstimator` is absolutely not meant to be a fully-flexible GAN solution; none of the canned Estimators are. For full control, you should use `TFGAN` or write your own `model_fn`, based on `GANEstimator` code.

Re your specific questions:
1) Tensor conversions are standard in publicly accessible functions. However, I think all this code should be compatible with the new Dataset API,

[2017-11-09 12:48] roytseng-tw commented on #14361
`tf.name_scope` will NOT affect the name of Variable, use `tf.variable_scope` instead.
`tf.name_scope` will affect the name of Operation and thus Tensor.

[2017-11-09 12:52] ReinhardHameeteman commented on #14014
@gunan Please do not drop cmake support!

[2017-11-09 12:52] ppwwyyxx commented on #14361
`tf.variable_scope` will NOT affect the name of Variables defined by Keras.

[2017-11-09 13:00] facaiy commented on #14361
@roytseng-tw is right.

[code]

[2017-11-09 13:16] humcasma commented on #14361
That is true. `tf.variable_scope` does what I was expecting from `tf.name_scope`. I guess one can combine both to have both variables and operations named.
A more correct name for `tf.name_scope` would probably be `tf.operation_scope`, though. But probably not realistic to change now.

[2017-11-09 14:07] facaiy commented on #14361
Hi, @humcasma. In fact, `tf.variable_scope` always creates an auxiliary name scope (for convenience) when used, so it is indeed what you desired. Moreover, you are also free to combine `tf.variable_scope` with `tf.name_scope` to custom them separately.

[2017-11-09 14:24] mschulkind commented on #8182
I think fixing the problem is fairly easy, although since `QueueRunner` isn't really designed for this, it's slightly messy, but better than the current situation. The problem right now is that the `top_queue` is closed as soon as the input to `bucket_sequence_by_length` runs dry, and then nobody ever closes the `bucket_queues`, but it wouldn't even matter, since by then, the `top_queue` is alread

[2017-11-09 14:31] Karthick333031 commented on #14182
I took reference from
https://github.com/tensorflow/tensorflow/issues/6533

[code]

[2017-11-09 14:54] TarrySingh opened #14410 "Is there a clean way to upgrade my TF (built from sources in production env) from current 1.31 to 1.4?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-09 15:34] hanfeisun commented on #14042
@mtngld I need the summary hook because I want to config `save_steps` and `output_dir` parameter using SummarySaverHook.  My codes looks like this:

[code]

As I remember, during the evaluation, the image summary is not shown in tensorboard somehow..

[2017-11-09 15:37] hanfeisun commented on #14042
@huw That looks great! I think the API is newly added as there is no `evaluation_hooks` yet in "[tensorflow 1.3](evaluation_hooks)"

[2017-11-09 15:37] #14042 closed

[2017-11-09 15:42] tfboyd commented on #14380
It does not work with the --config=cuda.  Assigning to Gunhan there is work in this area with no ETA.  Also if you are using GPU I would go with AVX2 or AVX it should get most of the benefits you need for work mostly done on the GPU.  AVX2 does help for GPU work in my testing.  The input pipeline (image processing) benefits from it but I did not see a big difference until 8x K80s and did not have

[2017-11-09 15:59] tomwarrens commented on #12301
Having the same Issue

[2017-11-09 16:46] tolsonMDA commented on #5888
This appears to be broken. Is there a workaround? I can reproduce it with the following code in v1.3.0
[code]
Output:
[code]

[2017-11-09 16:48] briansp2020 commented on #22
For those who want to try TensorFlow on AMD hardware using ROCm, I wrote a blog describing how to run Fast.ai notebooks using AMD Fury Nano.
http://briansp2020.github.io/2017/11/05/fast_ai_ROCm/

[2017-11-09 16:53] ppwwyyxx commented on #5888
@tolsonMDA "None" is exactly what the gradient is supposed to be.

[2017-11-09 16:54] tolsonMDA commented on #5888
@ppwwyyxx Thanks for taking a look. Can you elaborate? I have the same problem using any of `tf.round`, `tf.floor`, `tf.ceil`, and `tf.cast(a, tf.int32)`, but the gradient is fine when I cast it to a floating type. Why shouldn't it work when casting it to an integer?

[2017-11-09 16:56] BastiaanBergman commented on #14391
Never mind, found it, see here:
https://stackoverflow.com/questions/43336553/how-to-use-tf-train-monitoredtrainingsession-to-restore-only-certain-variables

[2017-11-09 16:56] #14391 closed

[2017-11-09 16:58] #8729 closed

[2017-11-09 17:00] ppwwyyxx commented on #5888
"None" means the gradient is zero. And the gradient is [indeed zero](http://www.wolframalpha.com/input/?i=derivative+round(x)).
Same for others.

[2017-11-09 17:01] tolsonMDA commented on #5888
Ah, guess I'm being dense today. That makes sense. Thanks!

[2017-11-09 17:09] johnsrude commented on #14380
In the meantime how about a better error message, either in configure.py or in bazel?

[2017-11-09 17:15] #7391 closed

[2017-11-09 17:15] #14191 closed

[2017-11-09 17:31] KevinLucidyne opened #14413 "Can't get support template"
I seem to have lost the support template when I open issues in tensorflow on Chrome.

Any way to get it back?

[2017-11-09 17:51] zheng-xq commented on #14363
That seems to be a Cudnn bug. Adding NVIDIA folks.

@benbarsdell, @nluehr, any insight to debug this Cudnn kernel exception?

[2017-11-09 17:58] tfboyd commented on #14380
I know this may seem confrontational but it is not.  You could add a message to configure.py.  It would not stop people from adding --config=cuda but you could give a warning based on the options they pick.  On the flip side, I am not sure how many people run into this problem.  If they see MKL on the performance page it says --config=cuda does not work.  If they see it in the config.py then a mes

[2017-11-09 18:10] tfboyd commented on #13050
Feels like a life time.  Numbers are now on the default page due to 1.4 launching.  Closing and having a personal party and a bit sip of diet cherry coke.  cheers.

[2017-11-09 18:10] #13050 closed

[2017-11-09 18:14] angersson commented on #14393
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-09 18:14] #14393 closed

[2017-11-09 18:14] KevinLucidyne commented on #14413
It's back now.  Weird.

[2017-11-09 18:14] #14413 closed

[2017-11-09 18:15] angersson commented on #14407
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-09 18:15] #14407 closed

[2017-11-09 18:17] angersson commented on #14361
This appears to be resolved (and does not seem to indicate a bug), so I'm closing the issue to keep the issue tracker focused. Feel free to reopen if needed.

[2017-11-09 18:17] #14361 closed

[2017-11-09 18:27] ValeryPiashchynski commented on #12052
Can someone tell me, how can i build tensorflow whl package from sources for windows in linux (Ubuntu 16.04) with bazel? Thanks.

[2017-11-09 18:27] jsimsa commented on #14053
@traveller59 the problem is rooted in the fact that `from_tensor_slices` will create a constant-value tensor that has the raw data, which will be recorded in GraphDef.

An alternative approach to achieve the behavior you are hoping for is to use `tf.data.from_generator`:

[code]

[2017-11-09 18:37] neverperfect opened #14414 "Error importing Tensorflow"
I have tensorflow 1.4.0rc1 installed, I get errors when I tried to import tensorflow in my project.

[code]

Can someone help me how to solve this error? Thanks!

[2017-11-09 18:39] KevinLucidyne opened #14415 "tensorflow-master install from sources doesn't install with pip3"
### System information
- **OS Platform and Distribution**: Ubuntu 17.04
- **TensorFlow installed from**: source
- **TensorFlow version**:  tensorflow-master
- **Python version**:  3.5.3
- **Bazel version (if compiling from source)**: 0.7.0
- **GCC/Compiler version (if compiling from source)**: 4.9.4
- **CUDA/cuDNN version**: 8.0
- **GPU model and memory**: NVIDIA 1080

### Describe the problem
The

[2017-11-09 18:44] KevinLucidyne commented on #14380
@tfboyd no offense taken.  We both want the same thing, to make TensorFlow better.

[2017-11-09 19:09] angersson commented on #14415
The bazel configuration from `./configure` seems to refer to Python 2:

[code]

You may have wanted to set `./configure` to `/usr/bin/python3` instead of `/usr/bin/python`. On Ubuntu, I think `/usr/bin/python` refers to Python 2.7.

Since this looks like a configuration issue and not a bug, I'm closing this issue to keep the tracker focused. If you can nail this down to an error in our build pipel

[2017-11-09 19:11] RayXu14 opened #14416 "can eager mode make use of multi-thread automatically?"
just like session mode:

config = tf.ConfigProto(device_count={"CPU": 4},
                inter_op_parallelism_threads = 1,
                intra_op_parallelism_threads = 4,
                log_device_placement=True)
with tf.Session(config = config) as sess:
...

[2017-11-09 19:15] KevinLucidyne commented on #14415
@angersson if you're making Python version decisions based on paths that's not a good thing.
[code]

[2017-11-09 19:21] bignamehyp commented on #14416
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-09 19:21] #14416 closed

[2017-11-09 19:21] bignamehyp commented on #14414
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-09 19:21] #14414 closed

[2017-11-09 19:22] bignamehyp commented on #14410
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-09 19:22] #14410 closed

[2017-11-09 19:23] KevinLucidyne commented on #14415
@angersson I can't reopen the issue because you closed it, not I and I'm not a collaborator.  Given the info in the comment above, please reopen.  Thanks.

[2017-11-09 19:30] bignamehyp commented on #14402
This might be related to the customized model you defined, as the loss going to nan caused this training error. We can't debug or reproduce this since it seems it's hardware specific. Please debug further yourself and let us know if there is a bug on tensorflow side.

[2017-11-09 19:31] bignamehyp commented on #14398
@martinwicke

[2017-11-09 19:35] bignamehyp commented on #14396
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-09 19:35] #14396 closed

[2017-11-09 19:37] bignamehyp commented on #14358
Please double check if you have referenced CountExtremelyRandomStats, which was deprecated already.

[2017-11-09 19:38] bignamehyp commented on #14394
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-09 19:38] #14394 closed

[2017-11-09 19:55] CodeMasterYi opened #14417 "cuda 8.0 is not available now on NVIDIA's website"
latest cuda version is 9.0.x, but what tf depends on is 8.0.x! and it seems that nvidia does not provide downloading site for 8.0 now~~~
how can i solve this problem?

[2017-11-09 19:56] angersson commented on #14415
`./configure` runs the python path provided and [asks for the version from the binary](https://github.com/tensorflow/tensorflow/blob/34609f1501ad87dde6d2b2ec0dbdf794b773e008/configure.py#L177).

To test that this is a bug, can you reply with the output of:

- `./configure` with `/usr/bin/python3` instead of the default
- `/usr/bin/python3 -c 'import sys; print(sys.version[0])'`
- `/usr/bin/python

[2017-11-09 19:57] angersson commented on #14417
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-09 19:57] #14417 closed

[2017-11-09 19:59] angersson commented on #14405
Can you provide a minimum viable sample of code that replicates this issue?

[2017-11-09 20:15] smitshilu commented on #12052
@ValeryPiashchynski you can follow these steps https://www.tensorflow.org/install/install_sources

[2017-11-09 20:23] ValeryPiashchynski commented on #12052
@smitshilu Thanks for you answer. I can build wheel package in Ubuntu following this steps and all works good. But i can't install that whl package in Windows OS. So my question is how can i build package in Ubuntu which i can then install in Windows?

[2017-11-09 20:27] #10399 closed

[2017-11-09 20:27] #10624 closed

[2017-11-09 20:27] #11897 closed

[2017-11-09 20:27] #11928 closed

[2017-11-09 20:27] tensorflowbutler commented on #10399
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-11-09 20:27] tensorflowbutler commented on #10624
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-11-09 20:27] tensorflowbutler commented on #11897
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-11-09 20:27] tensorflowbutler commented on #11928
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-11-09 20:34] danqing commented on #12052
@ValeryPiashchynski I don't think that's possible.

[2017-11-09 21:08] m3bm3b commented on #13220
On the XLA issues, you should configure without XLA on MacOS.
I suspect that XLA won't have support on MacOS for a while yet.
(That is, the people who support XLA might accept fixes, but I doubt they'll be
working on MacOS themselves for a while.)

On the tensorboard issue, you've probably reported that in its own project.

I'm going to close this issue, since the nsync-related issues reported ori

[2017-11-09 21:08] #13220 closed

[2017-11-09 21:23] therc commented on #12052
Cross-building on Ubuntu for Windows should be possible one day through clang. It will probably require lots of fixes, since Windows binaries are currently built with MSVC. I asked basically the same question when talking in person to @gunan last Monday. Should this be forked into a GH issue of its own, since it has little to do directly with CUDA?

[2017-11-09 22:00] smitshilu commented on #12052
Cross compile is possible with bazel but not sure how to do it on tensorflow. For reference
[https://github.com/bazelbuild/bazel/wiki/Building-with-a-custom-toolchain](https://github.com/bazelbuild/bazel/wiki/Building-with-a-custom-toolchain)
[https://github.com/bazelbuild/bazel/wiki/Building-with-a-custom-toolchain](https://github.com/bazelbuild/bazel/issues/1353)

[2017-11-09 22:09] momih opened #14423 "Using newer NVIDIA drivers causes TF to freeze the entire system if terminated"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.3 LTS (Xenial Xerus)"
- **TensorFlow installed from (source or binary)**: Binary, through `pip install tensorflow-gpu`
- **TensorFlow version (use command below)**: 1.3.0, Git Version - `v1

[2017-11-09 22:17] gunan commented on #12959
OK, I fixed most of the failures. There are a few more remaining now.
However the following one I have no idea how to tackle:

- tensorflow/python/keras/_impl/keras/engine/training_test.py
- tensorflow/python/keras/_impl/keras/utils/data_utils_test.py

The error:
[code]
Seems to happen when we have a locally defined function we would like to run a new thread using the multiprocessing library. This

[2017-11-09 22:19] angersson commented on #14423
@poxvoculi, can you take a look at this?

[2017-11-09 22:27] martinwicke commented on #14398
That's a fair point, because name_scope is about op names only, it's tied much stronger to strings.

I don't think we'll change that, it is much more likely that variable_scope will disappear from view much more than it is that we'll increase the scope of name_scope.

[2017-11-09 22:27] #14398 closed

[2017-11-09 22:28] KevinLucidyne commented on #14415
[code]

[2017-11-09 22:39] angersson commented on #14415
It looks like ./configure's default setting of `/usr/bin/python` indeed points to a python 2 binary, and explicitly specifying `/usr/bin/python3` is what's needed here. That should resolve your problem.

If you have any more environment configuration issues, please ask for help on Stack Overflow, which is much better suited to community support. Thanks!

[2017-11-09 22:39] #14415 closed

[2017-11-09 22:42] ilya-edrenkin commented on #12453
Fixed in #13274.

[2017-11-09 22:42] #12453 closed

[2017-11-09 23:04] KevinLucidyne commented on #14415
@angersson the fix breaks the build:
[code]

[2017-11-09 23:16] abaviska commented on #6533
Hi, I am trying to setup tensorflow with Python 3.6 using this wheel on windows CPU version. tensorflow-1.4.0-cp36-cp36m-win_amd64.whl. But, It is giving an error like  Could not find a version that satisfies the requirement wheel>=0.26 (from tensorflow==0.12.0) (from versions: )
o matching distribution found for wheel>=0.26 (from tensorflow==0.12.0).

I can install on Mac but failing on windows.

[2017-11-09 23:18] mrry commented on #12959
I think Python `multiprocessing` depends on POSIX `fork()` semantics, so on Linux it can use `fork()`, but on Windows it has to fake it out in software by pickling some amount of process state. These errors seem to come from attempting to pickle a Python function, which I didn't think was supported by the standard `pickle` module. Is it possible that `use_multiprocessing=True` just doesn't work on

[2017-11-09 23:40] therc opened #14425 "Support Windows builds through clang"
Right now, the tested configurations for Linux, Mac and Windows use gcc, clang and MSVC, as seen at
https://www.tensorflow.org/install/install_sources#tested_source_configurations

Linux can be made to compile with clang, too, if you use the right magic trick (`--config=cuda_clang`). All that's left is Windows, which is probably the trickiest of the three.

Bonus points for allowing to cross-build

[2017-11-10 00:06] mschulkind commented on #8182
The PR above should fix this.

[2017-11-10 00:13] sammcj commented on #22
👍 can't wait for this!

[2017-11-10 00:31] martinwicke commented on #14374
Sounds right.

[2017-11-10 00:48] fchollet commented on #14359
Your `Lambda` layer unfortunately breaks the model topology. So when you're defining your model, it's not taking into account the layers that came before `c`, because `c` is not being tracked as an input to your `Lambda` layer. Here's how to do it correctly in the general case:

[code]

But really in your case you could do:

[code]

[2017-11-10 00:48] #14359 closed

[2017-11-10 01:12] thzhao opened #14428 "error when I try mpi_collectives features"
I want to try mpi_collectives features in tensorflow 1.4, but when I run mpi_allreduce_test.py example using python2.7 in contrib/mpi_collectives, I got error.

I installed tensorflow with openmpi.

mpirun -n 2 python mpi_allreduce_test.py
======================================================================
ERROR: test_mpi_allreduce (__main__.AllreduceTest)
--------------------------------------

[2017-11-10 01:14] ebrevdo commented on #8182
I like it!  Will review this week.

[2017-11-10 01:18] traveller59 commented on #14053
Thanks, it seems that from_tensor_slices should be deprecated.

[2017-11-10 01:18] #14053 closed

[2017-11-10 01:32] taeyeon816 opened #14429 "tensorflow.python.framework.errors_impl.NotFoundError:"
I got this erros.
I tried to convert csv to tfrecord with https://www.youtube.com/watch?v=kq2Gjv_pPe8

kimvlvl@cmlabUbuntu:~/object-detection$ python3 generate_tfrecord.py --csv_input=data/train_labels.csv  --output_path=datacord
Traceback (most recent call last):
  File "generate_tfrecord.py", line 107, in <module>
    tf.app.run()
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/

[2017-11-10 02:24] cinqs opened #14430 "Some errors in docker tf notebooks"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:CentOS 7
- **TensorFlow installed from (source or binary)**: docker images
- **TensorFlow version (use command below)**: latest

### Describe the problem

it is just a documentation problem.

in https://github.

[2017-11-10 02:35] Kangbababa commented on #7454
the some bugs is in camera  ios_examples. the mobile direction is incorrect. you can find the correct result only home_key left.

[2017-11-10 03:36] Gandhi-Sagar opened #14432 "Errors and warnings through op_kernel.cc and core/grappler/utils.cc"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-10 03:41] gxdalu-yaya commented on #11182
@kwotsin hi，I use the DTENSORFLOW_DISABLE_META，the result is better, but the predict score is still diffrent with the python script's result.  I want to know , are your android result and python result is compeletly same?

[2017-11-10 03:48] fchollet commented on #12959
I think that should work in most circumstances. It would be interesting to see why exactly `GeneratorEnqueuer.start.<locals>.data_generator_task'` is not picklable.

That's an acceptable outcome. It would need to be documented.

[2017-11-10 04:01] tranhungnghiep commented on #14405
Please see the [notebook](https://gist.github.com/tranhungnghiep/f2465272561aaaf68a01ad567d6c4292) for replicate, note the two different outputs when changing `loss` in the model.

Now when I check again, it is quite subtle. When changing the configuration a little the behavior will change, not sure why.

[2017-11-10 04:22] HudsonHuang opened #14433 "tensorflow.python.framework.errors_impl.InternalError: Failed to create session."
**I am running some preparation code with tf, it seems it doesn't to much memory for it. But:**

(tensorflow) lab-huang.zhongyi@gpu-2:~/workspace/vae-npvc$ python build.py
452 files found
Processing Tensor("ReaderReadV2:0", shape=(), dtype=string)
2017-11-10 12:24:55.938368: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but t

[2017-11-10 04:56] formath commented on #3725
Problems not fixed yet. Please fix the update formula and change the meta parameter names to be consistent with the paper. Now, the names of meta parameter are so confusing. Anyone want to contribute?

[2017-11-10 05:18] bignamehyp commented on #14430
Thank you very much for your feedback. Feel free to submit a pull request.

[2017-11-10 05:18] #14430 closed

[2017-11-10 05:20] bignamehyp commented on #14432
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-11-10 05:20] #14432 closed

[2017-11-10 05:22] bignamehyp commented on #14428
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-11-10 05:54] sandipmgiri opened #14436 "Setting up a Jenkins job for ppc64le for Tensorflow"
We are interested in setting up a Jenkins job for ppc64le for Tensorflow  @ http://ci.tensorflow.org/. We can work on providing and configuring a ppc64le slave node that can be hooked in to the Jenkins master. Please let me know if that can be done and if yes, what would be the minimum configuration requirements for the slave node? Thanks.

[2017-11-10 06:32] filipre commented on #1666
Just out of curiosity: Would you lose a lot of performance if someone implements `base` as an optional attribute?

[2017-11-10 06:45] bignamehyp commented on #14436
@gunan

[2017-11-10 06:49] gunan commented on #14436
We have plans to move away from jenkins and move to a fully internal build system (as we have been experimenting for a while).
I will need to look into how contributed builds can be handled with that model.

[2017-11-10 07:06] gunan commented on #12959
I think I got all the issues. I elected to disable use_multiprocessing tests on windows for now. But maybe we can add checks into the code itself for use_multiprocessing, on windows?

Anyway, the PR is out for review, I also enabled python/keras tests for cmake build, we should see if I was really able to catch all failures.

[2017-11-10 07:15] clived2 commented on #6533
https://www.tensorflow.org/install/install_windows

On Thu, Nov 9, 2017 at 6:18 PM, abaviska <notifications@github.com> wrote:

--
Clive DaSilva CPA,CMA
Home:  416-421-2480|Mobile: 416-560-8820
Email: clive.dasilva@gmail.com
LinkedIN:  http://ca.linkedin.com/pub/clive-dasilva/3/197/b89

[2017-11-10 07:30] jakajacky commented on #9836
**types.pb.h**
`enum DataType {
  DT_INVALID = 0,
  DT_FLOAT = 1,
  DT_DOUBLE = 2,
  DT_INT32 = 3,
  DT_UINT8 = 4,
  DT_INT16 = 5,
  DT_INT8 = 6,
  DT_STRING = 7,
  DT_COMPLEX64 = 8,
  DT_INT64 = 9,`

**it looks like a DT_INT64 and DT_UINT8 mismatch.**

 **like this code：**
`
tensorflow::Tensor x(tensorflow::DT_FLOAT, tensorflow::TensorShape({ 1, 39, 2 }));
 auto input = x.tensor<double, 3>();
`
*

[2017-11-10 07:35] thjashin commented on #9859
Any update?

[2017-11-10 07:40] Mohit-Ak commented on #14182
Same issue on OSX 10.13.1 with Python 3.6.3

[2017-11-10 07:49] pierrebaque opened #14441 "GPU support for sparse_dense_binary_op_shared.cc"
Are you planning to add GPU support for the operations defined in
tensorflow/tensorflow/core/kernels/sparse_dense_binary_op_shared.cc

I see that there is a GPU version for the sparse to dense Matrix-Multiplication version
tensorflow/tensorflow/core/kernels/sparse_tensor_dense_matmul_op.cc

but being able to use the GPU for Component-Wise operations would be very helpful.

Thank you.

Regards,
Pie

[2017-11-10 07:57] eaigner commented on #14186
`nsync.a` exists. Everything was compiled with the NDK, not with a different compiler (unless one of the build scripts does that internal).

As I said, I only run the build normally with setting the `NDK_ROOT`. That's it.

    NDK_ROOT="$HOME/Library/Android/sdk/ndk-bundle" bash $MAKEFILE_DIR/build_all_android.sh

[2017-11-10 08:04] CR-Ko commented on #12860
Also stucking on this problem in TF 1.4.0...

[2017-11-10 08:09] HudsonHuang commented on #14433
Oh it it really don‘t  enought memories.
I solved it by allocating memories dynamically:

import tensorflow as tf
import os
os.environ["CUDA_VISIBLE_DEVICES"] = '0'   #use GPU with ID=0
config = tf.ConfigProto()
config.gpu_options.per_process_gpu_memory_fraction = 0.5  # maximun alloc gpu50% of MEM
config.gpu_options.allow_growth = True      #allocate dynamically
sess = tf.Session(config = config)

[2017-11-10 08:09] #14433 closed

[2017-11-10 08:16] JosPolfliet opened #14442 "Session.run() hangs in child thread if something was executed in main thread first"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Confirmed on Mac OS X (10.12.6) + Ubuntu 16.04 on GCP
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**

[2017-11-10 08:46] damienpontifex commented on #14356
@bignamehyp does this information from @hsm207 provide any further insights? If I have to call `clear_session()` between runs, this would seem to be unexpected behaviour and be a bug?

Just still not sure why it's happening to provide insights on a potential solution.

[2017-11-10 09:35] Leo-Mrl commented on #12860
@CR-Ko Downgrading to 1.2.0 "solved" the issue for me

[2017-11-10 10:06] sleighsoft commented on #14257
1. I can use the Dataset API with `GANEstimator` using a hook that runs the Dataset initializer.

2. My description was not quite correct. I have generator output of shape `[time, batch_size, vocab_size]` and real data of shape `[time, batch_size]` as would be the case when using a sequence approach with e.g. `RNN`s. `GANEstimator` complains about mismatching shapes but I need them that way for my

[2017-11-10 10:09] sleighsoft commented on #14257
For the pretraining I see the best possible solution is to write modular code where I plug my `Generator` and `Discriminator` either in `GANEstimator` together or each one in a single `Estimator` for pretraining. This was my initial approach but that fails due to different shape checks and slightly different behavior (as reported above) of `GANEstimator` compared to `Estimator`. That is also why I

[2017-11-10 10:16] sebeaumont commented on #13220
Thanks for the heads up. So much for targeting all devices I might go down a different road for my apps.

Simon Beaumont

On 9 Nov 2017, at 21:11, Mike Burrows <notifications@github.com> wrote:

On the XLA issues, you should configure without XLA on MacOS.
I suspect that XLA won't have support on MacOS for a while yet.
(That is, the people who support XLA might accept fixes, but I doubt they'll be

[2017-11-10 10:31] UndeadBlow opened #14444 "Can not import graph after transform_graph with quantize_nodes"
### System information
- **What is the top-level directory of the model you are using**: models/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below

[2017-11-10 11:02] eram1205 commented on #5437
Hi @s4sarath. I'm having the same issue, also using tf.while_loop. How did you solve it? Thanks!

[2017-11-10 11:12] stereomatchingkiss commented on #14267
@allenlavoie  My tracking history

1. <tensorflow/cc/ops/const_op.h>
2. <tensorflow/cc/framework/ops.h>
3. <tensorflow/core/framework/tensor.h>
4. <tensorflow/core/lib/core/refcount.h>

As long as I include recount.h, the image return by imread will become empty. However, include <tensorflow/core/platform/logging.h> do not effect the resutls, this is weird. Do not looks like it is caused by #defin

[2017-11-10 11:40] argman commented on #12215
@vcarbune
Note that ctc_merge_repeated is different from collapsing repeated labels, which is done through preprocess_collapse_repeated. The former controls how the CTC loss penalizes internally repeated labels ('a' 'a' 'b' becomes 'blank' 'a' 'blank' 'a' 'blank' 'b' 'blank' for the forward/backward computation), while the latter actually modifies the ground truth. ('a' 'a' 'b' first becomes 'a' '

[2017-11-10 11:59] s4sarath commented on #5437
Hi , I did not resolve it yet . Find some complex alternate hacks .

On Nov 10, 2017 16:34, "Eduard Ramon Maldonado" <notifications@github.com>
wrote:

[2017-11-10 12:14] carlthome opened #14445 "Target '@llvm//:support' is not visible from target '@org_tensorflow//tensorflow/compiler/xla/client:compile_only_client'."
I was doing an XLA compilation that worked before TensorFlow 1.4 but now errors with

This is how I get tfcompile:
[code]

[2017-11-10 12:40] TarrySingh commented on #14410
OK thanks!

[2017-11-10 12:47] guillaumekln commented on #13463
I also had reports of this error which appears to occur randomly during the training. It happened on multiple occasions and with different reported offsets (see https://github.com/OpenNMT/OpenNMT-tf/issues/19).

To investigate the issue, I wrote a small script that repeatedly loops over the **same** *TFRecord* dataset that threw the error and applies the same processing as done during the training

[2017-11-10 12:50] Carmezim commented on #14127
As https://github.com/tensorflow/tensorflow/pull/14288 is about to be merged I'll open a new issue to track the LLVM updates causing the compilation to fail.

[2017-11-10 13:03] Carmezim opened #14446 "[Mac] Changes in fast-math-flags LLVM API cause XLA enabled build to fail"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.13 High Sierra
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: HEAD
- **Python version**: 3.6/2.7
- **Bazel version (if compiling from source)*

[2017-11-10 13:17] thzhao commented on #14428
sorry for incomplete information.
I installed tensorflow r1.4 from source code.
Bazel version is  0.5.4.
here is output that I use tf_env.sh.

====bazel version==============================================
uild label: 0.5.4- (@non-git)
Build target: bazel-out/local-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Tue Nov 7 04:33:30 2017 (1510029210)
Bui

[2017-11-10 13:45] loretoparisi commented on #14295
@bignamehyp That would be very helpful, thank you! 💯

[2017-11-10 13:48] boeddeker opened #14448 "[Feature request] Improve syntax for accessing Python objects in dataset pipelines"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.6
- **Bazel version (if compilin

[2017-11-10 13:54] SaintNazaire commented on #13379
One needs to [install docker](https://docs.docker.com/engine/installation/linux/docker-ce/ubuntu/#set-up-the-repository) in the container. On my system i.e. the environment was not set up properly so @gunan was right.

For example and depending on your machine:

[code]

`$which docker`

I'm still stalled, suggest you check out #13784 if there is anything you can contribute, don't forget to edit th

[2017-11-10 14:27] gauss-clb opened #14449 "Is it a bug of tf.summary.image?"
Look at the code:

[code]

It prints `1`.

[code]
But it prints `0`.

[2017-11-10 14:43] dcunhas opened #14450 "tf.nn.sparse_softmax_cross_entropy_with_logits documentation error"
It looks like there may be a documentation error in [tf.nn.sparse_softmax_cross_entropy_with_logits](https://www.tensorflow.org/api_docs/python/tf/nn/sparse_softmax_cross_entropy_with_logits).

It mentions "ValueError: If logits are scalars (need to have rank >= 1) or if the **rank of the labels is not equal to the rank of the labels minus one**."

Based on the argument requirements above, I belie

[2017-11-10 14:47] kmkolasinski opened #14451 "Oversampling functionality in dataset API"
Hello,
I would like to ask if current API of datasets allows for implementation of oversampling algorithm? I deal with highly imbalanced class problem. I was thinking that it would be nice to oversample specific classes during dataset parsing i.e. online generation. I've seen the implementation for `rejection_resample`  function, however this removes samples instead of duplicating them and its slo

[2017-11-10 14:51] mrry commented on #14451
If you have a function `f` that returns the number of times to duplicate an element, you can data-dependently repeat an element using `dataset.flat_map(lambda x: tf.data.Dataset.from_tensors(x).repeat(f(x))`. Perhaps that would work?

[2017-11-10 15:04] kmkolasinski commented on #14451
Thanks I will try this.

[2017-11-10 15:18] GPhilo opened #14452 "Bug - freeze_graph producing invalid graph_def in tensorflow 1.4"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: release 1.4
- **Python version**: 3.5
- **Bazel version (if compiling from source)**: -
- **G

[2017-11-10 15:24] mrry commented on #14442
I assume `ProcessPoolExecutor` uses `fork()` internally, and forking after the TensorFlow runtime creates internal threads is unsafe. Fortunately, there are two workarounds:

1. Use `ThreadPoolExecutor` instead of `ProcessPoolExecutor`.
2. Use `tf.Session(config=tf.ConfigProto(use_per_session_threads=True))` instead of `tf.Session()`.

[2017-11-10 15:46] ppwwyyxx commented on #14449
The API says:
[code]
It should be a __list__, not string.

[2017-11-10 15:48] abbradar opened #14454 "cuda_config.h is required to build non-CUDA release"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: NixOS 18.03.git.869485a (Impala)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4
- **Python version**: 3.5
- **Bazel version (if compiling from sour

[2017-11-10 15:53] cfehr247 opened #14455 "Tensorflow cannot be installed with default Windows Python 3.5 stack"
After installing Python 3.5.0 using the Windows 64 bit installer (which includes pip in the install):

pip3 install --upgrade tensorflow
Collecting tensorflow
  Could not find a version that satisfies the requirement tensorflow (from versions: )
No matching distribution found for tensorflow
You are using pip version 7.1.2, however version 9.0.1 is available.
You should consider upgrading via the '

[2017-11-10 16:06] JosPolfliet commented on #14442
Thanks, that tip works!

[2017-11-10 16:06] #14442 closed

[2017-11-10 16:14] abbradar commented on #14454
It seems that disabling MPI support allows TensorFlow to be built.

[2017-11-10 16:16] albenoit commented on #14002
Hi, can you provide more details on the CUDNN header problem and the solution provided ?
Actually compiling Tensorflow from one version to the other on not officially supported distributions is always a mess. Sharing helps a lot.
Thanks in advance

[2017-11-10 16:28] cmccarthy15 commented on #12935
I also have this issue! Please help!

pip install tf-nightly-gpu
Collecting tf-nightly-gpu
  Could not find a version that satisfies the requirement tf-nightly-gpu (from versions: )
No matching distribution found for tf-nightly-gpu

[2017-11-10 16:40] poxvoculi commented on #14423
This sounds like an NVIDIA problem, not TF.  I see several complaints about freezing related to the 387 driver on the web, for other applications.  @zheng-xq is most likely to know about the current recommendation for drivers to use with TF.

[2017-11-10 16:52] ebrevdo commented on #5437
What version of TF are you using?  I am not able to replicate the issue.  Can you repost a **minimal** example that causes it?  And have you tried in TF 1.4?

[2017-11-10 16:53] sabi0 opened #14456 "Windows native library (tensorflow_jni.dll) is dynamically linked to msvcp140.dll"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7 SP1 x64
- **TensorFlow installed from (source or binary)**: Downloaded from Maven repository
- **TensorFlow version (use command below)**: 1.4.0

### Describe the problem
I need to run TensorFlow on a Windows PC where I don't have admin rights. So I cannot install MS Visual C++ 2015 Redistributable pack

[2017-11-10 16:55] aktivkohle commented on #11736
I was also getting the exact same error `crosstool_wrapper_driver_is_not_gcc failed` no matter what I did, tried also an older gcc, different bazels. It's now run to completion thanks to @YusukeSuzuki comment above. Two things which fixed it were

- Use Python 3.5 rather than Python 3.6
- Do not use `pyenv` as I was using for the virtual environment instead follow exactly the instructions [here](h

[2017-11-10 16:58] kejiashi commented on #7404
Hi @ebrevdo , is there any update on this issue? Thanks!

[2017-11-10 17:18] #13444 closed

[2017-11-10 17:18] #14164 closed

[2017-11-10 17:28] bignamehyp commented on #14456
@mrry

[2017-11-10 17:32] bignamehyp commented on #14452
Looks like a bug in freeze graph, right @petewarden ?

[2017-11-10 17:34] bignamehyp commented on #14444
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-10 17:34] #14444 closed

[2017-11-10 17:36] bignamehyp commented on #14446
@tatatodd

[2017-11-10 17:38] bignamehyp commented on #14448
@vrv @mrry  Feature requests for datasets.

[2017-11-10 17:38] mrry commented on #14456
Asim, I assume you know how the JNI library is built, so can you suggest a solution here?

(Since I don't think it's plausible to remove the dependency on `MSVCP140.dll`, perhaps we need to bundle it with the Maven package?)

[2017-11-10 17:43] bignamehyp commented on #14450
Thanks for catching this. Feel free to submit a pull request to fix it.

[2017-11-10 17:45] bignamehyp commented on #14454
Thanks for your feedback.
What options you picked when running ./configure?

[2017-11-10 17:51] tatatodd commented on #14446
@jlebar might know more about this.

[2017-11-10 18:02] zheng-xq commented on #14423
Adding @benbarsdell and @nluehr

[2017-11-10 18:18] bloudman commented on #14182
same issue on osx 10.12.6 with Python 3.6.3
[code]

I someone has a solution I take it ! :)

[2017-11-10 18:24] aktivkohle commented on #14182
setup a virtualenv with Python 3.5.0

[2017-11-10 18:26] LingboTang commented on #14182
@aktivkohle We need binary for python 3.6 anyways

[2017-11-10 18:27] MisterMorden opened #14460 "Apparent incorrect behavior from resize_to_range() in models/preprocessor.py"
From the comments for resize_to_range():

  The output size can be described by two cases:
  1. If the image can be rescaled so its minimum dimension is equal to the
     provided value without the other dimension exceeding max_dimension,
     then do so.
  2. Otherwise, resize so the largest dimension is equal to max_dimension.

This logic would yield the wrong behavior for images with an aspect

[2017-11-10 18:38] mrry commented on #14448
It sounds like `Dataset.map()` and `tf.py_func()` are almost adequate for your needs, so I'd be more in favor of improving `tf.py_func()` to the point where it has the same feature set as `Dataset.from_generator()`. Approximately speaking, it would need support for nested structures as inputs and outputs, and optional shape hints. There might be some delicacy in doing this without breaking backwar

[2017-11-10 18:42] mrry commented on #14425
This sounds potentially useful for development, but it's unlikely anyone on the team will take this on soon, because we already have a supported configuration that works well enough. Marking it as contributions welcome, in the hope that somebody wants to take it on.

[2017-11-10 18:48] abbradar commented on #14454
[code]

Others by default.

[2017-11-10 18:53] angersson commented on #14429
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-10 18:53] #14429 closed

[2017-11-10 18:57] angersson commented on #14449
This appears to have been resolved (thanks!), so I'm closing the issue to keep the tracker focused.

[2017-11-10 18:57] #14449 closed

[2017-11-10 19:10] joonblue commented on #8268
Hi @satok16, @kdxtb,
I have the same problem as kdxtb has even though I didn't use -p as an option.

Prepare failed! returned 0xffffffff

NN Id = 872478096
Execute graph!
Execution failed!
execute got err: -1

NN Id = 872478096
Execution failed
NN Id = 872478096
Failed to read data.

I think that I have problem creating graph from *.pb. Do you have any suggestions?

[2017-11-10 19:35] jlebar commented on #14446
Hey there.

As you say, LLVM's APIs are not stable.  TF and XLA target LLVM built at head, not a particular LLVM release.  So if you want to build XLA, you also have to build LLVM.

This should happen automatically and transparently for you as part of the TF+XLA build.

The LLVM revision we check out is specified here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl#L

[2017-11-10 19:36] angersson commented on #14441
@ebrevdo, can you comment on this?

[2017-11-10 19:50] ShehabMMohamed opened #14462 "OpKernel errors after building tensorflow from sources"
Instead of using pip to install pre-built tensorflow library, I downloaded the sources and manually built the library to support using my machine's CPU SIMD instructions (SSE4.1, SSE4.2, AVX, AVX2, FMA).

I've installed tensorflow from sources using the official documentation (https://www.tensorflow.org/install/install_sources#PrepareMac)

But now I'm facing an array of OpKernel errors when I use

[2017-11-10 20:01] mrry commented on #14462
This has been fixed in https://github.com/tensorflow/tensorflow/commit/f0b1e65b0ac9e587c117485a96a0eaf40675c518. If you pull the latest HEAD and build again, these warnings should not appear.

[2017-11-10 20:01] #14462 closed

[2017-11-10 21:10] kmkolasinski commented on #14451
Hi @mrry , I've checked it, and it works perfectly :+1:  Thank you very much :)
Here is a sample code which I'm going to try in my image classification problem. I'm posting it here in case if someone will want to experiment with the method.  The code is oversampling low frequent classes and undersampling high frequent classes, where `class_target_prob` is just uniform distribution in my case. I wa

[2017-11-10 21:31] angersson commented on #14455
In the PR above, I added a link on the Install Windows docs to include a link to a stack overflow page that covers this.

[2017-11-10 21:32] #14451 closed

[2017-11-10 21:33] angersson commented on #14451
Since you your question has been resolved, also consider posting an answered question to [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow), where it's likely to reach more developers with a similar question. Thanks!

[2017-11-10 21:35] mrry commented on #14451
Glad to hear that it worked! Thanks for posting the example, and +1 to @angersson's suggestion!

[2017-11-10 21:38] angersson commented on #14405
It looks like this is a configuration problem -- if your recent changes haven't resolved your issue, please ask a question on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-10 21:38] #14405 closed

[2017-11-10 21:44] angersson commented on #14445
Please provide details about what platform you are using  (operating system, architecture). If you are unclear what to include  see the issue template displayed in  [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new).

 We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-11-10 21:44] bignamehyp commented on #14460
@nealwu

[2017-11-10 21:46] bignamehyp commented on #14428
We currently don't have anybody working on mpi_collectives, which is a community contribution. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2017-11-10 22:01] aluo-x commented on #14126
CUDA 9 builds do seem to work on both Mac and Linux as per #12052, Windows is the only OS it is failing for. It is not clear if this is a Tensorflow bug or an nvcc bug that can be worked around, t[he messages that are thrown](https://github.com/tensorflow/tensorflow/issues/12052#issuecomment-341887171) are very none helpful.

[2017-11-10 22:01] bignamehyp commented on #14454
@tfboyd @gunan

[2017-11-10 22:01] Carmezim commented on #14446
@jlebar Thank you for the thorough explanation and solution :) and no worries at all.
I've made the suggested changes and it compiled successfully 👍

[2017-11-10 22:01] #14446 closed

[2017-11-10 22:10] shashankneocfc commented on #12071
+1 I'm also facing this issue while computing eucledian norm for the paper :  [A Structured Self-attentive Sentence Embedding](https://arxiv.org/abs/1703.03130)

[2017-11-10 22:25] evolu8 commented on #3678
Any movement on this?

Cheers

[2017-11-10 22:29] hannah-rae commented on #4632
I am having a similar issue but while trying to add dropout after my convolutional layers. The dropout documentation describes that noise_shape can have a shape like noise_shape = [k, 1, 1, n], but when this gets passed to random_uniform() in the dropout code I get the following error: "ValueError: Shape must be rank 1 but is rank 4 for 'conv_dropout/random_uniform/RandomUniform' (op: 'RandomUnifo

[2017-11-10 22:35] mrry commented on #4632
@hannah-rae I think so. Try the following:

[code]

[2017-11-10 22:50] hannah-rae commented on #4632
Hooray! That worked. Thank you 👍

[2017-11-10 22:56] yvettewang commented on #11851
thank you so much! it works well!

[2017-11-10 23:09] nealwu commented on #14460
Hi @MisterMorden, it looks like your issue is for the object_detection model in the [models repository](https://github.com/tensorflow/models). Please open an issue there and tag the owners of the object_detection model.

[2017-11-10 23:09] #14460 closed

[2017-11-10 23:25] MisterMorden commented on #14460
Thanks for the point in the right direction.

[2017-11-11 00:04] zongmingliu commented on #14182
same issue on macOS 10.13.1 with Python 3.6.3
[code]

[2017-11-11 00:26] facaiy commented on #14313
Nice work, thank you, @yongtang! I'd like to take a look if time allows.

[2017-11-11 01:25] asimshankar commented on #14456
Thanks for the report. I'm not familiar enough with what the convention is when it comes to packaging programs that depend on it.

I'll look into it.

CCing @meteorcloudy @gunan in case they have any thoughts (they may not).

`tensorflow_jni.dll` is built by [this script](https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/tools/ci_build/windows/libtensorflow_cpu.sh#L53), that invokes ba

[2017-11-11 02:27] rbwendt commented on #9829
FWIW I was seeing this after getting an OOM and then reducing the batch size. The video card seems to hold on to memory after crashes sometimes. Restarting the machine fixed the problem for me.

[2017-11-11 03:21] hookover opened #14475 "Internal: failed initializing StreamExecutor for CUDA device ordinal 0: Internal: failed call to cuDevicePrimaryCtxRetain"
### SYSTEM Infomation
ubuntu16.04
cuda7.5
cudnn5
gtx1060
tensorflow1.0.1
python3.5
memory 15.6G ,used 5.3GB

$ nvidia-smi
[code]
### run train script get this error:

[code]

I will be grateful to anyone for helping me
Thanks everyone

[2017-11-11 03:42] Kangbababa opened #14476 "IOS camera example load map_data from in_pix is incorrect!"
//    for (int y = 0; y < wanted_input_height; ++y) {
//        float *out_row = out + (y * wanted_input_width * wanted_input_channels); //0+height
//        for (int x = 0; x < wanted_input_width; ++x) {
//            const int in_x = (y * image_width) / wanted_input_width;
//            const int in_y = (x * image_height) / wanted_input_height;
//            tensorflow::uint8 *in_pixel =
//

[2017-11-11 03:44] bryanpham85 commented on #14182
got same issue on macOS 10.12.6. However, seem we can ignore this warning. Waiting for a fix!

[2017-11-11 04:27] MyAusweis opened #14477 "error message show while compiling tensorflow from source"
bazel-out/host/bin/_solib_local/_U_S_Stensorflow_Scontrib_Smemory_Ustats_Cgen_Umemory_Ustats_Uops_Upy_Uwrappers_Ucc___Utensorflow/libtensorflow_framework.so: undefined reference to `cublasDgemm_v2'
bazel-out/host/bin/_solib_local/_U_S_Stensorflow_Scontrib_Smemory_Ustats_Cgen_Umemory_Ustats_Uops_Upy_Uwrappers_Ucc___Utensorflow/libtensorflow_framework.so: undefined reference to `cublasCtrsv_v2'
baze

[2017-11-11 04:48] qmick commented on #14477
It would be better if you post your system information as required.

[2017-11-11 05:12] ebrevdo commented on #14441
No current plans; will leave this as contributions welcome.

[2017-11-11 05:30] MyAusweis commented on #14477
- I tried to compile tensorflow from source in jetson tk1,
i use external sd card for booting (32 GB), ubuntu 14.04. already install cuda 7.0 with cudnn 4 (for dummy while compiling), python 2.7.6, gcc 4.8.5, bazel 0.5.4-dist, GPU Model K20A and memory of Jetson only 2 GB

The  steps are :
https://github.com/tensorflow/tensorflow
cd tensorflow
git checkout rv1.4.0
grep -Rl "lib64"| xargs sed -i 's

[2017-11-11 06:29] tranhungnghiep commented on #14405
@angersson imho, I think this is a bug. Notice that for the same model, `tf.keras.losses.categorical_crossentropy` lets it converge, but `tf.losses.softmax_cross_entropy` does not. So this shows a case when the compatibility in `tf` fails. Thanks for looking into it.

[2017-11-11 06:38] radeksimko opened #14479 "Wrong link in tensorflow-for-poets codelab"
https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/#3

There's a link for `Inception V3 model` pointing to https://github.com/tensorflow/models/tree/master/slim#pre-trained-models which 404's.

I assume it can point to https://arxiv.org/abs/1512.00567 instead.

<img width="375" alt="screen shot 2017-11-11 at 06 37 47" src="https://user-images.githubusercontent.com/287584/32687045

[2017-11-11 07:00] TheButlah commented on #14182
Same issue using Anaconda with python 3.6 on Ubuntu 16.04 when upgrading from tensorflow-gpu 1.3

[2017-11-11 07:49] ppwwyyxx commented on #14405
The two functions don't even take the same arguments. One takes logits and one takes prediction. They are never compatible.

[2017-11-11 09:33] MaheshBhosale commented on #11238
Yes, I wold also like to contribute to it with guided direction.

[2017-11-11 09:43] kmkolasinski commented on #14451
I've followed the @angersson's suggestion and posted answered question to Stack Overflow. Here is the link [Q&A](https://stackoverflow.com/questions/47236465/oversampling-functionality-in-tensorflow-dataset-api/47236466#47236466). Once more time thanks for quick feedback.

[2017-11-11 10:42] t-fi opened #14480 "Dataset API batching is slow for numpy arrays"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
1.4rc1
- **Python version**:
3.5.2
- **Bazel version (if compiling from source)**:
N

[2017-11-11 10:56] amin07 opened #14481 "Tensorflow stops training on random epoch"
When I run the following code on GPU, it trains well for some epoches and then just hangs.
While hanged processes are still alive but the GPU usages become 0%.
In the below code I am using Dataset API from tf.contrib.data.Dataset. But I also tried using placeholder and feed dictionary approach which hangs as well on random epoch during training.
I am struggling with the problem for last 2-3 weeks

[2017-11-11 10:57] Sudhakar17 opened #14482 "[Fetaure Request] Bicubic interpolation using map coordinates"
I would like to train a two CNN in single graph. The architecture of model is
![capture](https://user-images.githubusercontent.com/18436807/32688705-3ea9e54c-c6d6-11e7-84ba-fb01a3be2755.PNG)

This one is not like end to end training. In the warping of images(refer attachment), I use scipy for mapping coordinates from the disparity map to an input image and I am unable to build a model(graph) in te

[2017-11-11 11:36] NGUYENKHAC commented on #14182
same issue on Ubuntu 17.10, python 3.6.
Can we really ignore this warning ?

[2017-11-11 11:51] JulyJohn commented on #13147
Hi, @materacer

Did you mean that you have run tensorflow with the Altera FPGA Arria 10 successfully? And I'was wondering if you could provide a more detailed tutorial, it would help a lot of people. Thank you! :-p

[2017-11-11 12:40] tranhungnghiep commented on #14405
OK, I see. I was confused by its name. Putting the logits in and it works fine. Thanks.

[2017-11-11 12:42] 7017227 opened #14484 "My trained checkpoint doesn't work."
$ python3 tests/test_snapshot.py lsp out/lsp_alexnet_imagenet_small/checkpoint-370000.data-00000-of-00001

But it shows this error

Data loss: not an sstable (bad magic number): perhaps your file is in a different file format and you need to use a different restore operator? Traceback (most recent call last):

DataLossError (see above for traceback): Unable to open table file out/lsp_alexnet_image

[2017-11-11 13:23] przemoo9621 commented on #14004
I have the same problem.

    Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No, I'm running python tensorflow/examples/speech_commands/train.py
    OS Platform and Distribution: Windows 10 x64
    TensorFlow installed from (source or binary): pip3 install --upgrade tensorflow
    TensorFlow version (use command below): tensorflow-1.4.0-cp36-cp36m-w

[2017-11-11 15:01] #11839 closed

[2017-11-11 15:20] dcunhas commented on #14450
The error in this case is not in the in-file documentation in master (which is correct) but only on the website. It seems that master has the correct documentation, but 1.4 does not. If it is still valuable to pull request that change for 1.4, I can do so. However, I did notice a related error in master, which I did submit a pull request for.

[2017-11-11 15:32] chenghuige opened #14486 "TowerLoss(Multiple GPU) will hurt final accuracy/performance so much when doing image finetune, is it a bug?"
From the paper "Show and Tell: Lessons learned from the 2015 MSCOCO Image Captioning Challenge"
Writer say "Training was
done using a single GPU (Nvidia K20), and step time was
about 3 seconds. Thus, training took over 3 weeks – **parallelizing
training yielded somewhat worse results,** though it
increased the speed to convergence."
For my applications, I find tower loss is ok when you do anything

[2017-11-11 18:06] bignamehyp commented on #14482
We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2017-11-11 18:07] bignamehyp commented on #14480
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-11 18:08] bignamehyp commented on #14484
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-11 18:08] #14484 closed

[2017-11-11 18:08] bignamehyp commented on #14486
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-11 18:08] #14486 closed

[2017-11-11 18:09] bignamehyp commented on #14476
@petewarden  can you please take a look? Feel free to reassign it to someone else.

[2017-11-11 19:00] boeddeker commented on #14448
Thanks for the suggestion to modify `py_func`. I looked in the code of `from_generator` and there is the generalization of my workaround with dicts.

I try to extract the code from `from_generator` and write a wrapper around `py_func`.

Current signature
`py_func(func, inp, Tout, stateful=True, name=None)`
Future signature
`py_func(func, inp, output_types, output_shapes=None, stateful=True, name=N

[2017-11-11 20:08] bantmensc commented on #12414
I can also confirm this problem and I am also not passing a `py_func` to `dataset.map`.

[2017-11-11 21:36] nave01314 commented on #14182
Same issue on Anaconda, Ubuntu 16.04, Python 3.6, Tensorflow GPU

[2017-11-11 21:41] FelipeZeiser opened #14488 "Problem to install tensorflow"
Hello, I am trying to install the tensorflow to use it in the digits of nvdia and am having this problem :/

Traceback (most recent call last):
  File "/home/felipe/.local/lib/python2.7/site-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/home/felipe/.local/lib/python2.7/site-packages/pip/commands/install.py", line 342, in run
    prefix=options.prefix

[2017-11-11 21:57] ebrevdo commented on #14202
Is it possible your optimizer is generating a non positive definite covariance?  Consider mvnchol and feeding your covariance variable through an op that enforces positive diagonals, i.e. matrix_set_diag with a softplus.

[2017-11-11 22:12] Sudhakar17 commented on #14482
Thanks for your time. I have one question.

I will train a CNN1 using extracted depth features and freeze a graph. Then I will do an bicubic interpolation with disparity map in images using SciPy. Later, I use that warped images to train a CNN2 with tensorflow. Will auto-differentiation work in this case ?

I read that tensorflow follows static graph construction. So probably it works only in an e

[2017-11-11 22:19] SivaGabbi commented on #10983
@abhiML Hi Abhi,

I am getting the same error.. i was wondering where you gave the --input_binary=True as a  parameter..

[2017-11-11 23:02] printdhruv commented on #14488
(1) Please follow issue guidelines and template style [ISSUE_TEMPLATE](https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE.md) before raising an issue.
(2) This is not a bug hence you can go to stack overflow where tf community can help you out. This [link](https://stackoverflow.com/questions/23870808/oserror-errno-13-permission-denied) might solve your issue.

[2017-11-11 23:12] mrry commented on #14004
@przemoo9621 See my comment [above](https://github.com/tensorflow/tensorflow/issues/14004#issuecomment-342582086). You'll need to upgrade to a newer version (`tf-nightly` or wait for the 1.5 release).

[2017-11-11 23:15] mrry commented on #14480
If it's *so* much slower than Python, there might be a bug. @jsimsa is looking into similar issues in #13101, and this test case is really useful, thanks!

[2017-11-11 23:17] FelipeZeiser commented on #14488
Thanks, I solved the problem using the following command:

`pip3 install --user tensorflow-gpu`

[2017-11-12 00:09] yaroslavvb opened #14489 "sess.run hangs forever despite operation_timeout_in_ms being set"
`sess.run` waits indefinitely on worker when one of the parameter server machines in the cluster fails despite `operation_timeout_in_ms` being set.

Because waiting happens inside TensorFlow runtime, there's no way for client to regain control to provide a helpful error message/fix the situation.

[code]
You see this during worker's `session.run`
[code]

Suggestion: since `CreateSession` happens d

[2017-11-12 00:11] cauimsouza commented on #14182
Same issue on Anaconda, Ubuntu 16.04, Python 3.6, Tensorflow CPU

[2017-11-12 00:45] facaiy commented on #14450
Yes, the typo of `sparse_softmax_cross_entropy_with_logits` is fixed in the master branch.

[2017-11-12 00:48] ringw commented on #288
FYI I've just added `tf.contrib.framework.sort()`, and I may be able to add `tf.contrib.framework.argsort()` in a followup.

[2017-11-12 02:49] micklexqg commented on #7089
@anthnyprschka , thanks!

[2017-11-12 02:54] qmick commented on #14374
I am working on it.

[2017-11-12 03:59] bobeo commented on #3549
@cwhipkey @andrewharp hi guys, do you know if I should compile **libtensorflow_inference.so** with GPU enabled? Or it doesnt make any difference? Currently I compiled it without GPU because else I got this [error](https://github.com/tensorflow/tensorflow/issues/12468)

When I run it an Android, it takes like 1 minute to process each frame. Is that normal?

[2017-11-12 07:28] abhiML commented on #10983
while running the file from terminal.

[2017-11-12 07:38] JekaMas commented on #12416
Or just `ln -s YOURS_PATH_TO_cuDNN/libcudnn.so.7.0.3 YOURS_PATH_TO_cuDNN/libcudnn.so.6`

[2017-11-12 08:43] qmick commented on #14374
@bignamehyp Does `contrib.graph_util` mean `tensorflow/contrib/framework/python/framework/graph_util.py` or something else?

[2017-11-12 09:00] RayAnteku commented on #4842
@zakizhou 你好，我也遇到了相似的问题，系统刚开始和我说，输入必须是一个tensor，另一方面系统又和我说，feed不能是tensor，能不能麻烦大神帮我看一下，代码并不复杂。感谢
https://github.com/RayAnteku/tensorflow

[2017-11-12 09:06] gauss-clb opened #14490 "tf.contrib.metrics.streaming_mean"
[code]
It works well. But when I use `weights = tf.constant([[0.3, -3.1], [-1.3, 1.2]])` instead of weights above,
It can't work, `_mean_value=0.0`, what's  wrong?

[2017-11-12 09:11] asterycs opened #14491 "n 6"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-12 09:12] #14491 closed

[2017-11-12 09:39] theflofly commented on #9837
Some news about this issue, I am currently migrating the gradient ops from Python to C++ and I'll work on the Optimizers when enough gradients have been migrated.

[2017-11-12 09:44] theflofly commented on #14081
@DavidYKay Are you working on that ?

[2017-11-12 09:45] theflofly commented on #13982
@gdeer81 Are you working on that ?

[2017-11-12 09:48] theflofly opened #14493 "Feature Request: C++ gradient for Prod (PR done)"
Pull request opened. https://github.com/tensorflow/tensorflow/pull/14422

[2017-11-12 10:37] yananchen1989 opened #14494 "Difference between distribute and local machine version when training by tensorflow"
I use a common DNN network with less than 4 layers for a regression task. When I test my codes in local single machine with CPU, everything is fine. But when I train it on distribute system, which uses 30 machines' CPU and in the asynchronous parameters update way, all the layers' output values, including the last prediction values, come into Nan. The learning rate in local and distribute training

[2017-11-12 10:53] makarg1001 opened #14495 "FATAL EXCEPTION on running the custom app after including libraries. java.lang.UnsatisfiedLinkError"
java.lang.UnsatisfiedLinkError: com.android.tools.fd.runtime.IncrementalClassLoader$DelegateClassLoader[DexPathList[[dex file "/data/data/com.example.iiti.earcheck/files/instant-run/dex/slice-support-annotations-25.0.1_ef28e13c9736d79b0dc9b87816fdb5d73ab6b4a6-classes.dex", dex file "/data/data/com.example.iiti.earcheck/files/instant-run/dex/slice-slice_9-classes.dex", dex file "/data/data/com.exam

[2017-11-12 13:00] samin-batra commented on #91
When I try to run the classify_image.py file, it shows an error that six.moves module is not found, even though I have the latest version of the module 'six' installed.
Can anyone help?

[2017-11-12 13:52] georgh opened #14496 "Building with MKL reduces CPU performance"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: both
- **TensorFlow version (use command below)**: 1.4
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: 0.5.4
- **GCC/

[2017-11-12 14:28] DarcyCode commented on #13461
All code is pasted above. I think the problem lies in function batch_norm(). It is saved differently in different machine. Or my computer is too old for tensorflow....

[2017-11-12 14:36] gauss-clb opened #14498 "The result of tf.control_dependencies is undetermined."
[code]
It sometimes prints `1` and sometimes prints `2`.

Another example:
[code]
Sometimes `0` and sometimes `2`.

[2017-11-12 14:54] barak-hurwitz commented on #7162
Hi,

I'm also getting similar errors ,trying to run inference after quantize_nodes transform operation in GTT.
Started with the code from NMT tutorial https://github.com/tensorflow/nmt
Freezed the graph into PB , used the GTT tool to transform the graph and load it back for the inference part.

Error message :
'dynamic_seq2seq/encoder/bidirectional_rnn/..../basic_lstm_cell/basic_lstm_cell/concat/r

[2017-11-12 14:55] theminingengineer commented on #14273
HI, am having the same issue....  any one with a solution?

[2017-11-12 15:22] bpiel commented on #13982
@theflofly I know he was, but I haven't heard from him (on slack) since he posted that last comment (Nov 6).

[2017-11-12 15:25] RicardoAnjos commented on #14182
Same issue. Going to try to come back to setup a virtualenv with Python 3.5

[2017-11-12 16:32] ppwwyyxx commented on #14498
Same as #11186. Using ResourceVariable fixed the problem.

[2017-11-12 16:35] AnilKumarES commented on #3389
This works for a scalar value but when you try to get handle for a sequence of inputs, it is failing.
Basically, i am also getting the same error **"TypeError: The value of a feed cannot be a tf.Tensor object. Acceptable feed values include Python scalars, strings, lists, numpy ndarrays, or TensorHandles."**

operation I performed is feeding the sequence of number from -10 to 10 for a function.

p

[2017-11-12 16:54] boeddeker commented on #14448
Now I have some working code, I extracted the code from 'tf.data.Dataset.from_generator' and modified it to have a similar signature as `py_func`.
Further, I added also a decorator (I prefer the decorator style.). For the decorator I allowed `output_type`/`output_shapes` to be callable to dynamic infer the `output_type`/`output_shapes`.

If there is an interest in a PR, I need some feedback on the

[2017-11-12 18:04] yaroslavvb opened #14502 "Estimator does not not support sparse jobs"
You need sparse jobs (https://github.com/tensorflow/tensorflow/commit/8177edd7700ccbe0c831e680a1acb5275819d762) if you want async training to proceed without having all workers available.

This currently doesn't work because estimator [uses json](https://github.com/tensorflow/tensorflow/blob/9ff1aebc2b3dcb07f15b92c0a58027b0438f502a/tensorflow/python/estimator/run_config.py#L379) to dump values int

[2017-11-12 18:12] yaroslavvb commented on #14494
To misquote Tolstoy -- "Happy training jobs are all alike, every unhappy job is unhappy in its own way."

Async training jobs sometimes gets problems when gradients are too stale -- stale worker arriving with yesterday's gradient can throw whole procedure into NaN-land

[2017-11-12 19:18] AlsubaieNajah opened #14503 "Error: CUDNN_STATUS_INTERNAL_ERROR Any help is appreciated."
Dears, I am struglling with tensorflow installation.

I have GeForce GTX1080 , Ubuntu16.04 cuda 9 cudnn7 . nvidia driver 384.98. I try to run the mnist samle coud from cudd_samples v7 and I got this error:
Error: CUDNN_STATUS_INTERNAL_ERROR
here is nvidia-smi
-----------------------------------------------------------------------------+
| NVIDIA-SMI 384.98                 Driver Version: 384.98

[2017-11-12 20:03] mimoralea commented on #14182
I wish GitHub had a "Me Too" button... Anyways, me too.

Arch Linux, Pip env, and native GPU installation. Python 3.6.

[2017-11-12 20:24] droidicus opened #14504 "Cannot use keras estimator_from_model() in distributed cluster"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: tf.VERSION = 1.4.0 tf.GIT_VERSION = v1.4.0-rc1-11-g130a514
- **Python version**: 2.7

[2017-11-12 20:52] asoehlke commented on #14452
@GPhilo: Have you tried to blacklist IsVariableInitialized with the --variable_names_blacklist argument?
I had the same issue with my graph, which were solved by blacklisting the variables.
The problematic variables were used in model to transfer the states of rnn cells from one iteration to another, these really had to remain variables and must not be converted to constants.

[2017-11-12 20:54] asoehlke commented on #3628
Have you tried to blacklist the problematic variables (e.g. BatchNorm/moving_mean:0 in the initial error message) with the --variable_names_blacklist argument?

I had the same issue with my graph, which were solved this way.

The problematic variables were used in model to transfer the states of rnn cells from one iteration to another, these really had to remain variables and must not be converted

[2017-11-12 21:09] alexlee-gk commented on #11171
Hi, I'd like to reopen this discussion on whether there is a better way to do this. I followed @ebrevdo suggestion and implemented a `recompute_on_gradient` decorator that uses `Defun`. I have included the decorator and sample usage below. It works as desired, but it has some major limitations:
1. I couldn't find a good way to pass in function parameters, e.g. `reduction_dim` in the example below.

[2017-11-12 22:23] cdeil commented on #14182
I see the same warning with Python 3.6 from conda. On Mac it's just a warning, and things seem to work OK. But on Linux I see that `import tensorflow` breaks `import scipy.special` in a weird way.
[code]

I think my scipy is OK, at least this import works if I don't import tensorflow:
[code]

Scipy 1.0 was installed via Anaconda, tensorflow 1.4 via pip:
[code]

[2017-11-12 22:30] ruthyaneth commented on #10179
Aqui esta como instalar python, docker, tensorflow, virtualbox
https://youtu.be/OiPjSnKAmSI

[2017-11-12 22:37] OlavHN opened #14505 "index_to_string_table_from_file cannot use tf.string as vocabulary file"
Running stock tensorflow on macOS I get:

[code]

results in:

[code]

Expected:

[code]

Due to None check at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/lookup_ops.py#L1126

This is an issue because I can't seem to be able to make `index_to_string_table_from_file` read the vocabulary_file from a `GraphKeys.ASSET_FILEPATHS` collection when storing the graph as a sav

[2017-11-12 23:03] ruthyaneth commented on #530
Install docker, tensorflow and python
https://youtu.be/OiPjSnKAmSI

[2017-11-13 00:49] abaviska commented on #6533
Hi Clived2, Thanks for your comments and reply.

What I observed that , if I read my error, it is missing Wheel package in my local libraries. Due to proxy issues, my machine not able to download required packages for installation from Internet.

As a workaround, what I did is based on error kept downloading and locally installing number of library packages and finally could install Tensorflow.  A

[2017-11-13 00:49] debasish83 commented on #10089
@eaplatanios @asimshankar are there plans to combine the jni library in tensorflow_scala with the java interface ? tensorflow_scala exposes the Server interfaces which will help in implementing distributed training and inference using parameter servers deployed in Spark clusters....

[2017-11-13 01:24] philipperemy commented on #288
@ringw thanks great job!

[2017-11-13 01:29] Chinix commented on #13120
I have encountered the same problem，and the problem is caused by that I save the model file in the same path which I put the Python file. When I save the model file in a different path from the path of python file, the problem is solved.
Good luck!

[2017-11-13 01:37] linearhit opened #14506 "poor performance when XLA works with dynamic control_flow ops"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**:  2.7.14
- **Bazel version (if compiling from source)**: 0.4.5
- **GCC

[2017-11-13 01:49] linearhit opened #14507 "XLA reports error with 1000 steps of static_bidirectional_rnn"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.2.1 or 1.3
- **Python version**: 2.7.4
- **Bazel version (if compilin

[2017-11-13 02:21] qmick commented on #14496
I also have this problem. I build tensorflow step by step as official tutorial says, but get a much slower version when MKL is enabled. It is quiet strange,

[2017-11-13 02:44] lightingghost commented on #14174
@kanwei I also came across the `ld: library not found for -lgomp` error. Can you please let me know where should I remove the  "-lgomp" from the CUDA makefile

[2017-11-13 03:01] fword commented on #4638
any progress?

[2017-11-13 03:25] clived2 commented on #6533
Thanks for your  response. This must have been am old issue as I have
installed Tensorflow without any difficulty on this laptop (Windows 10) and
on my Ubuntu 16.04 desktop both of which have Anaconda 3 installed.
Installing Tensorflow on either running either of the two commands in
terminal :
1) conda install tensorflow
or
2) pip install tensorflow.

so it seems that Tensorflow is now readily ava

[2017-11-13 04:53] gauss-clb commented on #14498
@ppwwyyxx I am also confused, what difference between `Variable` ans `ResourceVariable` , can you explain why the result will change for my two examples above?

[2017-11-13 04:58] monajalal commented on #1511
for
[code]

I get this error:
[code]

how should I fix?

[2017-11-13 05:14] prashantmaheshwari94 commented on #3628
@asoehlke  Can you elaborate more on how you solved this problem. I haven't found a solution to it.

[2017-11-13 05:22] ppwwyyxx commented on #14498
I tried your first snippet with ResourceVariable and it appears to work.
I'll just quote https://github.com/tensorflow/tensorflow/issues/4663#issuecomment-336609536 that `tf.Variable` is semi-broken and `ResourceVariable` is better.

[2017-11-13 05:24] monajalal commented on #10959
getting this error:

[code]

[2017-11-13 05:36] shoyer opened #14509 "Function for explicit broadcasting"
It would be convenient to have an explicit function for broadcasting in TensorFlow's Python API, like to [`numpy.broadcast_to`](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.broadcast_to.html) or XLA's [Broadcast](https://www.tensorflow.org/performance/xla/operation_semantics#broadcast), and as [requested on StackOverFlow](https://stackoverflow.com/questions/34362193/how-to-exp

[2017-11-13 05:37] jpienaar commented on #14506
As clarification, when you say negative optimization, do you mean that the performance when using XLA is worse than using vanilla TensorFlow or something else? For which backend are you seeing this?

[2017-11-13 06:02] yaroslavvb commented on #4638
cc @asimshankar

[2017-11-13 06:48] dengyuning commented on #9475
I am experiencing this when I call tf.contrib.cudnn_rnn.CudnnLSTM with Python3.5.2 and tensorflow1.2.1:
`AttributeError:module 'tensorflow.contrib.cudnn_rnn' has no attribute 'CudnnLSTM'`
while the above code works fine with Python3.6 and tensorflow1.2.1.
I checked tensorflow/contrib/cudnn_rnn/__init__.py and found there are some differences.
In `__init__.py` under tensorflow/contrib/cudnn with py

[2017-11-13 06:48] Ellie68 opened #14511 "How can I have an Online Data Augmentation like Keras in Tensorflow (tf-slim)?"
Hi all,

I use tf-slim [(this network)][1] for my classification problem. I want to do online data augmentation like [Keras ImageDataGenerator][2] for my images. I know [these functions][3] in Tensorflow, but I need a tutorial or an example in Tensorflow or tf-slim that does this online data augmentation. Would you please, help me to find a way to do this?

  [1]: https://github.com/pudae/tensorfl

[2017-11-13 06:58] fesun opened #14512 "gfile random access file seek implementation inappropriate"
the call stack for tensorflow.python.platform.gfile.GFile.seek function is as follows:
https://github.com/tensorflow/tensorflow/blob/294442996b2aeff00b1bfdc7e7169f7cb35bbf3d/tensorflow/python/lib/io/file_io.py#L118
https://github.com/tensorflow/tensorflow/blob/18f36927160d05b941c056f10dc7f9aecaa05e23/tensorflow/core/lib/io/buffered_inputstream.cc#L153
https://github.com/tensorflow/tensorflow/blob/

[2017-11-13 07:36] przemoo9621 commented on #14004
@mrry thanks for your reply. I changed my tensor flow version to a newer version tf_nightly. This solve my problem, but now I have another one.

PS C:\Python36\lib\site-packages> python tensorflow\examples\speech_commands\train.py
2017-11-11 16:59:17.282443: I C:\tf_jenkins\home\workspace\tf-nightly-windows\M\windows\PY\36\tensorflow\core\platform\cpu
_feature_guard.cc:137] Your CPU supports instr

[2017-11-13 07:52] linearhit commented on #14506
@jpienaar
The backend is GPU. And, yes the performance when using XLA is worse than using vanilla TensorFlow, which is what i called "negative optimization".

[2017-11-13 08:38] carlthome commented on #14445
Ubuntu Trusty on Travis with Bazel 0.7.0.

[2017-11-13 08:55] GPhilo commented on #14452
@asoehlke Just tried that, still the same error

[2017-11-13 09:00] facaiy commented on #14441
Hi, the issue is interesting for me. I'd like to take a try.

[2017-11-13 09:17] Fulvioo opened #14514 "tensorboard not deployed"
It appears Tensorboard is not installed under the following condictions:
- Win 10
- GPU (+Cuda 8)
- Anaconda 1.6.9
- NEW installation of TF GPU, as per instructions at https://www.tensorflow.org/install/install_windows

Thanks for checking

[2017-11-13 09:19] sandipmgiri opened #14515 "//tensorflow/python:session_clusterspec_prop_test is failing with GPU support"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
     Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
     Installed from source
- **TensorFlow version (use command below)**:
     TF1.3.1
- **Python version**:
     Python 2.7.5
- **Bazel version (if compiling from source)**:
     Bazel - 0.5.4
- **GCC/Compiler version (if compiling fr

[2017-11-13 09:19] #14514 closed

[2017-11-13 09:28] sabi0 commented on #14456
As far as I understand msvcp140.dll is a 'generic' library (iostream, containers, etc.) So it won't be needed if the project was built using MinGW, for example.
Alternatively (if you prefer to stick to MS VC++ compiler) you could probably use `/NODEFAULTLIB` option and supply alternative (statically linked) implementation.

These are my "out of thin air" guesses though. So please ignore them if I

[2017-11-13 09:30] theflofly commented on #13982
Thanks @bpiel, is this a slack related to TF developments ?

[2017-11-13 09:54] andreas-eberle commented on #14366
any ideas?

[2017-11-13 10:46] sarakazmi commented on #6213
hey i have trained my own model in tensor flow and saved the model in protobuf file ..kindly tell me how to import it in android

[2017-11-13 11:41] bpiel commented on #13982
@theflofly The slack I was referring to above is the tensorflow channel of the clojure slack (https://clojurians.slack.com/), but since you asked, I've also made a channel in a TF-focused slack for non-python TF collaboration. It doesn't see a lot of action, but if you're interested, please email me. I don't want to hijack this issue.

[2017-11-13 11:59] bpiel commented on #13789
For the record, here's @gdeer81's PR for this issue:
https://github.com/tensorflow/tensorflow/pull/13987

[2017-11-13 12:39] norman-thomas commented on #14174
@lightingghost inside the file [`third_party/gpus/cuda/BUILD.tpl` line 112](https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/cuda/BUILD.tpl#L112)

[2017-11-13 13:18] pbanavara commented on #12686
Hey @suharshs and @skye Thanks and sorry for the delayed response. I haven't gone cold on this - still working. Trying to run the correct RunTest variant. Will keep you posted here soon.

[2017-11-13 13:56] mcuking commented on #14182
Same issue on macOS 10.13 with Python 3.6.3

`/Users/mcukingdom007/tensorflow/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)`

[2017-11-13 14:08] YoelShoshan opened #14518 "DataSet user provided shuffled order"
It would be very useful if a user will be able to provide the order of examples within a dataset (with repetitions allowed, as only indices are shuffled).
This would allow having a more complicated logic (which involves balancing data of different types).

I assume it can be somehow supported by zip-ing together different DataSets, but it would be MUCH easier and more flexible if we could just pas

[2017-11-13 14:13] pierrebaque commented on #14441
That would be really useful. Let me know if you try to do it and need some help.

[2017-11-13 14:33] Joshuaalbert commented on #10265
I can confirm odd behaviour. I get:

[code]

[2017-11-13 14:36] pbanavara commented on #12686
Ok did some amateurish stuff ...

[code]
I get this error

`candidate function not viable: no known conversion from 'tensorflow::ops::SoftmaxCrossEntropyWithLogits' to 'const value_type' (aka 'const tensorflow::Output') for 1st argument`

At the line where I am adding the outputs to the OutputList vector. Since the RunTest variant requires an OutputList I did it this way. Perhaps there is another

[2017-11-13 14:48] SHPLIU commented on #14182
Any workaround or timeline to solve this problem? Thanks a lot!

[2017-11-13 15:37] skye commented on #12686
It's a little confusing, but SoftmaxCrossEntropyWithLogits has two outputs, 'loss' and 'backprop'. These are public properties of the returned SoftmaxCrossEntropyWithLogits instance (see https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/softmax-cross-entropy-with-logits), so can be accessed in your code via `y.loss` and `y.backprop`. Both of these should be added the `outputs` list I thi

[2017-11-13 15:45] mrry commented on #14004
@petewarden If I'm reading that line of code correctly, it's trying to extract a path component using a regular expression with `'/'` as the path separator.

[2017-11-13 15:46] mrry commented on #14004
Thanks for letting us know. It looks like that code is relying on `'/'` being the path separator. I've just sent PR #14519 that should fix this.

[2017-11-13 16:20] ZihengJiang commented on #14445
I have the same problem on osx

[2017-11-13 16:46] lissyx commented on #11275
Looking at the codebase, r1.4 includes this https://github.com/tensorflow/tensorflow/commit/0e71ecaf9512cd8a69af01ac85e5e1632171c651 which is mostly what we already had as a workaround on https://github.com/mozilla/tensorflow/ repo.

[2017-11-13 16:49] yaroslavvb commented on #14515
Can you make sure ops are placed on CPU?
[code]

TemsprF

[2017-11-13 16:49] amalF commented on #7823
Hello,
Will TF Boosted Trees will be supported on GPU soon ?

Thx

[2017-11-13 17:08] nikste commented on #12860
Any other workarounds for this besides downgrading?

[2017-11-13 17:14] mrry commented on #14518
Can you sketch the kind of syntax you'd like for this feature? Do you assume that the entire dataset to be shuffled fits in memory?

I'm not sure whether this should be part of the API or a "standard recipe" that we document, but that would depend on how complicated the recipe ends up being....

[2017-11-13 17:26] gdeer81 commented on #13982
@theflofly I haven't made much progress with this one if you're looking for a feature request that's probably in your wheelhouse.

[2017-11-13 17:27] mrry commented on #14518
For example, if we required the data to fit into memory, one could imagine something like the following:

[code]

[2017-11-13 17:27] evanfwelch opened #14520 "upgrades to boosted_trees: an example with feature importance + tuning + savedmodel"
### System information
N/A

### Describe the problem
*Feature Request*: I hate to make a trite request, but is there any plan to add more documentation or examples to the `tensorflow.contrib.boosted_trees` submodule? Now that there's a GB classifier available, I am hoping to replace my production XGBoost code with `boosted_trees` as soon as I can prove it out. Perhaps it's my newness to `tf.contri

[2017-11-13 17:29] Datadude88 commented on #22
ROCm 1.7 is on the way!

https://www.phoronix.com/scan.php?page=news_item&px=AMD-ROCm-1.7-Released

[2017-11-13 17:30] evanfwelch commented on #14520
I also notice that `boosted_trees` is using what I think is a deprecated version of the `Estimator` class. I discovered this when `<instance of GBTClassifier>.train(input_fn=my_input_fun)` throw an error. Seems like `.fit` accomplishes the same goal but this created some uncertainty about how compatible the `boosted_trees` estimators were with other `tf` features (like SavedModel).

[2017-11-13 17:57] Joshuaalbert commented on #10332
There is another use case. The team who is creating GPflow then TF version of GPy (Gaussian processes for python) has an issue when cholesky fails/doesn't give numpy equivalent (https://github.com/GPflow/GPflow/issues/78).

[2017-11-13 17:58] drpngx commented on #14493
Thanks! We can discuss directly on the PR.

[2017-11-13 17:58] #14493 closed

[2017-11-13 18:06] aluo-x commented on #11096
@chrisplyn @kalengi I have 1.4.0 AVX2 (VS2017), Python 3.6.3 builds [on my repo here](https://github.com/aluo-x/tensorflow_windows).

[2017-11-13 18:17] s4mpl3d commented on #14515
Did ops resolve this problem?

On 13 Nov 2017 5:51 p.m., "Yaroslav Bulatov" <notifications@github.com>
wrote:

[2017-11-13 18:40] bignamehyp commented on #14520
@ThomasColthurst

[2017-11-13 18:41] #14488 closed

[2017-11-13 18:49] bignamehyp commented on #14512
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-11-13 19:01] YoelShoshan commented on #14518
Thanks for the quick response!
I do not assume a dataset that fits entirely in memory, actually, my main usage scenario is datasets which are far from that (TBs).

In the current syntax, to shuffle your elements, you can do something like:

[code]
But that's not useful for unbalanced scenarios.

My thought was adding something like this:
[code]
An example of a common scenario where this is useful.

[2017-11-13 19:32] jart commented on #10332
While I'm still not sure if in-graph exception handling is something we can do, your recent comments suggest you might be interested in [Eager execution mode](https://research.googleblog.com/2017/10/eager-execution-imperative-define-by.html). It's also possible @josh11b, @asimshankar, or @clattner might want to weigh in on this issue.

[2017-11-13 20:11] asoehlke commented on #14452
I have a similar problem with non-trainable variables (trainable=False) which are also modified within the model. A description of what I found out so far is below.

@GPhilo: Can it be that the value of global_step is modified when processing the model? The name sounds like a kind of counter?
If it is modeled like this then I guess it needs to remain a variable, a const value could not be changed

[2017-11-13 20:22] asoehlke commented on #3628
@prashantmaheshwari94: I added a more detailed description to #14452.
It seems that we run into trouble as soon as a variable is involved which is modified within the model and thus must not be converted to a constant.
A GRU cell also has the internal state variables like the LSTM cell that I use, so there should be similar problems.

[2017-11-13 20:43] eric4545 commented on #14198
hi @jart, i also got the same issue when `set_learning_phase(0)`, seems there is a problem in [1] `K.learning_phase()` is returning integer, however in [2] is Boolean.
[1]: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/_impl/keras/layers/core.py#L115-L117
[2]: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/core.py#L295

[2017-11-13 20:46] drpngx commented on #14475
It looks like there is a problem with this:
[code]

Can you try with:
[code]

[2017-11-13 20:48] drpngx commented on #14479
@MarkDaoust could you take a look?

[2017-11-13 21:27] ebrevdo commented on #6683
@pickou can you provide anna.txt and any other files required to run?

[2017-11-13 21:40] KevinLucidyne commented on #14415
Looks like problem had to do with tensorflow-master as it stood when I downloaded.  tensorflow-r1.4 works fine.

[2017-11-13 21:41] Titaniumtown opened #14522 "bazel build: can't install tensor flow"
I did "bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package"
and this is what I got:

"ERROR: /home/simon/Downloads/tensorflow/tensorflow/contrib/rnn/BUILD:259:1: Illegal ambiguous match on configurable attribute "copts" in //tensorflow/contrib/rnn:gen_gru_ops_py_wrappers_cc:
@local_config_cuda//cuda:using_clang
@local_config_cuda//cuda:using_nvcc
Multiple matche

[2017-11-13 21:45] drpngx commented on #14481
Any idea where it is hanging? Can you get the stack traces?

[2017-11-13 21:46] drpngx commented on #14477
It looks like it's not linking to cublas correctly. The way to debug this is to get the build command, and look at the .so or .a file in cublas using nm to see what symbols are defined.

[2017-11-13 22:20] beniroquai commented on #6213
Hey, did you have a look at the tensorflow example for android apps?

On 13 Nov 2017 11:49, "sarakazmi" <notifications@github.com> wrote:

[2017-11-13 22:23] x10000year opened #14523 "[Fetaure Request] Layer normalization for NCHW/NHWC with fast gpu kernel"
tf.contrib.layers.layer_norm is slow and only supports NHWC layout. It is beneficial to have a fast gpu kernel for layer normalization that supports both NCHW and NHWC. I think layer normalization is quite useful when the minibatch is extremely small or comprises only one sample (in which case batch norm/renorm doesn't work) and when local receptive fields is desired (in which case instance norm i

[2017-11-13 22:35] #13942 closed

[2017-11-13 22:39] andreas-eberle commented on #13942
Thanks @yongtang!

[2017-11-13 22:44] ruthyaneth commented on #11065
https://youtu.be/OiPjSnKAmSI

[2017-11-13 23:00] sshrdp commented on #14520
There are some examples [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/boosted_trees/examples/boston.py) but I agree that we should add the documentation and examples for the scenarios you mentioned (feature importance, exporting and predicting, etc). SavedModel export should work.
boosted_trees estimator is implementing the older version of estimator (tf.contrib.le

[2017-11-13 23:23] Joshuaalbert commented on #10332
@jart Eager execution mode sounds like https://github.com/yaroslavvb/imperative but more full featured. I was actually hoping something like this would come along. Indeed this gives access to pythonic control flow. But is there not a pretty large efficiency penalty as there can be no cse optimization?

[2017-11-13 23:42] printdhruv commented on #11065
@ruthyaneth Now,it's far more stable.You can do it far more easily with nightly builds.

[2017-11-14 00:33] rceballos98 commented on #14244
I'm working on Ubuntu 17.10, with cuda-9.0 and cuDNN 7.0 for cuda 9. I followed the instruction above but get the following error when trying to import:
[code]
Running
[code]
Succesfully installed TF:
[code]

[2017-11-14 00:35] 2KangHo commented on #14182
Maybe Tensorflow-1.4 does not support linux & macOS with Python 3.6, so there seems to be an error.

[2017-11-14 01:11] gentcys commented on #14182
Same issue on macOS 10.13 with python 3.6.1

[2017-11-14 01:14] danqing commented on #14244
You want to follow the **NOTE** section in my url above: https://github.com/mind/wheels/releases/tag/tf1.4-gpu-cuda9

[2017-11-14 01:14] amin07 commented on #14481
Hello drpngx,
I am trying to get stack trace. Need to figure out how can I do that on hanged processes. What is confusing to me is that, sometimes it runs up to completion of training, but most of time it hangs somewhere in middle. After printing the epoch loss line it should be in the "sess.run(trainig_iterator_init)". Any guess about why its behaving like this?

[2017-11-14 01:15] leonmak commented on #12491
fyi `pip install enum34` for mac solves it for me

[2017-11-14 01:26] jart commented on #10332
I'm not sure how graph optimizations work in Eager. It's possible something like `@tf.defun` would be able to apply those sorts of optimizations to your critical sections of code. [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) would be a better place to ask (I'm just a triager.)

TensorFlow graphs are turing complete ([example](https://github.com/akimach/EsotericTensorFlow/b

[2017-11-14 01:26] #14523 closed

[2017-11-14 01:30] pickou commented on #6683
ok, I'll push a complete one @ebrevdo .

[2017-11-14 01:33] drpngx commented on #14481
You can do gdb attach. You will get many stack traces, for all hanging threads, but typically only one will but stuck in an rpc wait, then you can pop up from there. Not ideal.

[2017-11-14 01:56] xcyan commented on #5985
Any updates on this thread?

[2017-11-14 02:08] facaiy commented on #14441
Yes, I'd like working on it. The issue seems not difficult, however it might still take a little long time (perhaps two weeks) for me, because I'm a novice in gpu programming. Is it OK?

Anyway, I'll tell you if I get in trouble. Thanks.

[2017-11-14 02:09] kishorenayar commented on #14198
Guys I also posted this question in [StackOverflow](https://stackoverflow.com/questions/47149076/tensorflow-1-4-keras-issue-with-respect-to-model-fn)

[2017-11-14 02:09] asimshankar commented on #10332
@Joshuaalbert : At this point, depending on the precise computation there may be efficiency penalties with eager execution (it really depends on the model. For example, see the [eager example benchmarks](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/eager/python/examples/resnet50), some of which are are competitive with graph execution, some of which are not), and we're w

[2017-11-14 02:34] snownus commented on #8550
@futurely , have u addressed the problem with quantize_nodes option?

[2017-11-14 02:45] snownus commented on #10488
@qjivy  Have u addressed the problem?

[2017-11-14 02:51] charlie-ruan commented on #22
Tensorflow port to AMD GPU:
https://github.com/ROCmSoftwarePlatform/hiptensorflow/blob/hip/README.ROCm.md

It works great for me.  My hardware setting:
GPU: AMD Radeon RX 480
CPU: Intel Xeon 2603 v3
MB: supermicro x10srl-f

The key is mother board and CPU have to support PCIe v3

[2017-11-14 03:04] evanfwelch commented on #14520
Sounds great, thanks so much for addressing my questions.

As for generating a more thorough example, I'm happy to assist if you guys need help. If you DM me a snippet for feature importance I can probably figure out the rest.

[2017-11-14 03:16] znmeb commented on #22
I can't even get the "supported" AMD drivers to work on my "supported" Ubuntu 16.04 LTS install. Planned obsolescence?

[2017-11-14 03:21] zuowang commented on #5492
Same error!

[2017-11-14 03:27] charlie-ruan commented on #22
znmeb, what is your AMD GPU ?  If you have dual GPUs, disable the unsupported one from BIOS.

[2017-11-14 03:27] npuichigo opened #14526 "Doubt in the implementation of gan's training critera"
I read the code of gan implementation in tf.contrib.gan, but I'm not quite sure whether the generator_train_op and discriminator_train_op use the same batch of data.

Here is the code in [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/gan/python/train.py](url)
[code]

Can we guarantee that both hooks run the optimizer on the same batch, along with that each hook run the re

[2017-11-14 03:29] passerbyd commented on #5394
The problem does not happen any more on current version of RDMA. Seems like an issue on GRPC.

[2017-11-14 03:53] moorage commented on #12482
I was able to fix the issue by adding `/usr/local/lib/python3.6/site-packages/tensorflow/include/external/nsync/public` to my library search path (TF v1.4)

[2017-11-14 03:58] asimshankar commented on #10454
This should now be doable with TensorFlow 1.4. See https://stackoverflow.com/questions/47276624/issue-while-loading-serving-tensorflow-model-in-java-using-estimators/47277367#47277367

You'll have to adjust the arguments to `TensorFlow.loadLibrary()` to correspond to the shared libraries included in the `tf.contrib.tensor_forest` module.

I'm closing this bug out since I believe the process descri

[2017-11-14 03:58] #10454 closed

[2017-11-14 04:17] jilljenn commented on #8340
Thank you @CNugteren. It's never too late.

Somehow, now I need to do: `./manage.py test <app_name>.tests`.
Not just `./manage.py test` or `./manage.py test <app_name>`, otherwise the logs will appear again.
(your snippet was included in `<app_name>/tests/__init__.py`.

[2017-11-14 04:34] pbanavara commented on #12686
Thanks @skye That solved the error. I had tried this before but had called loss and backdrop as methods :). I overlooked the fact that they are just attributes.
Now the output shapes are not matching. I am trying to fix that. The error messages are quite hard to interpret.
[code]
So clearly one of the matrices need to be of shape [3,5] but which one. So I am just trying all combinations  in the in

[2017-11-14 04:42] FduJyy opened #14528 "Tensorflow would sometimes get rather slow during training"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.4
- **Python version**: 3.5
- **CUDA/cuDNN version**: CUDA 8.0 / cuDNN 6.0
- **GPU model and

[2017-11-14 05:11] fly2mun commented on #8268
Hi @satok16
I try to hexagon DSP for android.
build_and_run_inception_hexagon.sh wih '-p' prebuild so files test ok.
but local build ibhexagon_nn_skel.so, this file seem to be a problem.
I thank that difference between the google server prebuild version and tensorflow source base,
When was the prebuild version created? i want to test if back.
Please let me know git commit.
Thanks, Moon.

[2017-11-14 05:23] Amitayus commented on #13342
I have the same problem with you. I solve it by doing following two steps.

### 1. pass the parameter `saver` to `slim.learning.train()`
[code]
where function [optimistic_restore_vars](https://github.com/tensorflow/tensorflow/issues/312) is defined as
[code]

### 2. pass the parameter `local_init_op` to `slim.learning.train()` to initialize the added new variables
[code]

### In last, the code sho

[2017-11-14 05:26] moorage commented on #8033
@guillaume-michel how would you use the (converted) `cameraImg` in the C++ API's run function which accepts a Tensor?  In other words, once `cameraImg` has the image data, how do you get it back to a Tensor?

[2017-11-14 05:30] 4ToolMaker commented on #14273
I am also having the same problem:

Using TensorFlow backend.
/Users/Create/.pyenv/versions/3.6.3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

[2017-11-14 05:33] 4ToolMaker commented on #14182
I'm also having the same problem not anaconda install...just with pyenv and jupyter...on a macOS Sierra versiong 10.12.6 with python 3.6

Using TensorFlow backend.

/Users/Create/.pyenv/versions/3.6.3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds

[2017-11-14 05:36] #14127 closed

[2017-11-14 05:51] jinghong commented on #14182
Same issue on Ubuntu16.04.3 with python 3.6.3

[2017-11-14 05:58] gauss-clb commented on #13342
Don't put checkpoint file in logdir, so that the saver can't restore and  `init_fn` will work. So just put checkpoint file in another directory and pass to `tf.contrib.framework.assign_from_checkpoint_fn`.  I  read the source and find the solution.

[2017-11-14 06:02] jim24 commented on #10265
Hmmm, well I've upgraded tensorflow to 1.2.1 since this issue occurred and now I get your result for `cholesky_solve/MatrixTriangularSolve_1:0:`. I'll close my issues because the only difference seems to be floating point imprecisions.

[2017-11-14 06:03] #10265 closed

[2017-11-14 06:03] martinwicke commented on #9859
If this is extremely important to you, please do send us a PR.

[2017-11-14 06:08] qianyizhang opened #14529 "[feature request]time out option for tf.Data.from_generator"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10/7
- **TensorFlow installed from (source or binary)**:
pip installed tensorflow-gpu binary
- **TensorFlow version (use command below)**:
1.40
- **Python version**:
3.5/3.6
- **Bazel version (if comp

[2017-11-14 06:10] posenhuang commented on #7404
@ebrevdo, any update on this issue or any workaround? Thanks!

[2017-11-14 06:13] snnn commented on #14456
Hi @sabi0,

I guess your problem is how to get the dlls inside of the "MS Visual C++ 2015 Redistributable" package?  It can be easily solved if you have another computer: Download the package from microsoft.com , install it, then copy the dlls out.  AFAIK, build tensorflow with MinGW toolchains is no longer supported.  Please use VC instead.

[2017-11-14 06:15] martinwicke commented on #14374
Yes, that one.

[2017-11-14 06:17] fchollet commented on #9859
There is in fact a flatten layer in TF 1.4 in `tf.layers`: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/core.py#L347-L406

In general, feel free to use layers from `tf.keras` in your workflow.

[2017-11-14 06:17] #9859 closed

[2017-11-14 06:32] martinwicke commented on #5394
Maybe it's an instance of the bug fixed by https://github.com/grpc/grpc/pull/12648? We should get an updated ref to gRPC soon, which might fix this.

[2017-11-14 06:49] sandipmgiri commented on #14515
Thanks a lot @yaroslavvb. Now this test is passing with GPU as well (ops are placed on CPU).

I have created a PR to upstream the changes , relevant link - https://github.com/tensorflow/tensorflow/pull/14530

[2017-11-14 06:51] eaplatanios commented on #10089
@debasish83 It's very easy to share the work I have done for my JNI bindings and I would be happy to collaborate and find a way to merge it into the main TensorFlow repository. However, most of the setup/management for distributed TF in my library is implemented on the Scala side. The C API does not expose much for that as a lot of it is only implemented in the Python API. However, it's easy to cr

[2017-11-14 06:53] eaplatanios commented on #10089
@skye @asimshankar I have also finally added support for while loops, back propagation, and RNNs, by reimplementing pretty much all of the Python API functionality and adding some strong typing on top of it (with respect to loop variables, etc), and so I guess you can close this issue if you want as there isn't any remaining issue I can see. :)

[2017-11-14 07:02] przemoo9621 commented on #14004
@mrry Thanks for your help, everything works fine now.

[2017-11-14 07:13] lightingghost commented on #14174
@norman-thomas Thanks for helping.

[2017-11-14 07:19] mikhovr opened #14533 "Tensorflow Website XSRF Token missing or incorrect"
The error occurs when I read current TF API documentation. My default lang is set to Russian (but it does not matter and has influence only on the bottom menu). But when I'm trying to change the language to English or Chinese I get the following error message:

Is it ok or this is the TF Website bug?

Windows 10
Firefox 56.0.2 x64
![1setlang](https://user-images.githubusercontent.com/7415950/32767

[2017-11-14 07:20] vladTeplitski commented on #14273
It seems like the new version 1.4.

[2017-11-14 07:23] SteffenNa commented on #14273
https://github.com/lakshayg/tensorflow-build
this guy can help.

[2017-11-14 07:30] ekelsen commented on #14174
It's not clear to me that the align directive is needed here; might be worth testing internally.

[2017-11-14 07:47] bignamehyp commented on #14522
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-14 07:47] #14522 closed

[2017-11-14 08:08] thjashin commented on #9859
@fchollet THX. Found it. Just wondering if this two will be merged in future? Btw, using keras means one more hierarchy :)

[2017-11-14 08:16] phongnhhn92 opened #14535 "Can not import transformed and quantized model using tf.import_graph_def"
Hello guys,
I am trying to quantized the pretrain SSD_mobilenet_v1_coco from the Tensorflow Object Detection API using the following command:
`bazel build tensorflow/tools/graph_transforms:transform_graph
bazel-bin/tensorflow/tools/graph_transforms/transform_graph \
--in_graph=MobileNetSSD.pb \
--out_graph=optimized_SSD.pb \
--inputs='image_tensor' \
--outputs='detection_boxes,detection_scores,det

[2017-11-14 08:20] debasish83 commented on #10089
@eaplatanios I am fine to use scala API...like MXNet it will be useful to introduce a scala package to support distributed learning with spark/flink and model inference can continue using java/scala API...I will provide further feedbacks on https://github.com/eaplatanios/tensorflow_scala...

[2017-11-14 08:22] afroze100 commented on #13939
I have the same problem as this. I have a small graph of 30MB (7.5MB after quantization). On 1080Ti quantization increases inference time from 8ms to 5s. And on DrivePX2 embedded device it increases from 100ms -> 800ms.

I observe that on both devices, after quantization the graph is processed on the CPU. By inspecting nvidia-smi I can see that the GPU memory is allocated but no processing occurs

[2017-11-14 08:28] lissyx commented on #14445
Same on Debian Sid, Bazel v0.5.4.

[2017-11-14 08:54] sohaib-l commented on #8773
@gunan Following the link you shared it shows only how to install Tensorflow for Python. However, the question of @xiaoguai0992  was about installing Tensorflow on Windows 10 with **C++**, where on the website, nothing was mentionned regarding this issue.
Tensorflow is an excellent framework and no body can say the opposit. However, it is mainly focused on python + Linux/Mac. I am a windows user,

[2017-11-14 08:56] HelloSeeing opened #14539 "Build Custom GPU Op Failed with TF-1.3.1"
### System information
- **Have I written custom code**:
YES
- **OS Platform and Distribution**:
Ubuntu 14.04 LTS
- **TensorFlow installed from**:
source
- **TensorFlow version**:
1.3.1
- **Python version**:
2.7.6
- **Bazel version**:
0.5.4
- **GCC/Compiler version**:
4.8.4
- **CUDA/cuDNN version**:
7.5/6.0
- **GPU model and memory**:
Geforce GTX TITAN X, 12GB
- **Exact command to reproduce**:
[co

[2017-11-14 08:58] YoelShoshan commented on #14518
Also, does DataSet.shuffle(buffer_size) require that buffer_size elements will fit into memory? because if it does, it makes it not very useful in a tfrecords scenario of a big file.

[2017-11-14 09:06] ahoereth commented on #12475
Probably relevant, an issue I am running into with big matrices.

https://github.com/tensorflow/tensorflow/blob/ce02c770fb269e5e607da459bde4f580ef108137/tensorflow/core/kernels/sparse_tensor_dense_matmul_op.cc#L96-L114

[2017-11-14 09:09] eaplatanios commented on #10089
@debasish83 Sounds good! I'd really appreciate your feedback. :) I'm currently in the process of adding a sequence-to-sequence modeling package as well as a neural machine translation module. I will be working for a paper deadline until December 15th and traveling, but I'll try to be as responsive as possible. :)

[2017-11-14 09:15] altermarkive commented on #6322
While by now there are many MNIST-based examples, for me they still relied too much on pre-trained data and pre-generated sprite & metadata files. To fill this gap I created such an example myself and decided to share it here for anyone interested - the code is on [GitHub](https://github.com/altermarkive/tensorflow-embeddings-minimalistic-example) and the video run-through is on [YouTube](https://

[2017-11-14 09:15] lissyx commented on #14445
I've been able to trigger my build after changing roughly a dozen of visibility to public in `third_party/llvm/llvm.BUILD` by trial/error ... Not sure if it's a legit solution, though.

[2017-11-14 09:29] onursertkaya opened #14540 "Wrong protobuf BUILD rule while compiling tensorflow on powerpc"
### System Info
- **No custom code is written**
- **Ubuntu 16.04 on powerpc (ppc64le)**
- **Installing from source**
- **Tensorflow v1.4.0**
- **python 3.5.2**
- **bazel 0.7.0**
- **`gcc --version` output: gcc (Ubuntu/IBM 5.4.0-6ubuntu1~16.04.5) 5.4.0 20160609**
- **CUDA 8.0, cuDNN 5.1**
- **NVIDIA Tesla P100**

### Describe the problem
I tried to build Tensorflow from sources. While `./configure`

[2017-11-14 09:31] sabi0 commented on #14456
Thanks @snnn,

I've already figured out where to get msvcp140.dll
But I believe the problem should be solved in a generic way. So that other users like me don't have to face it in the future.
At the very least "MS Visual C++ 2015 Redistributable" dependency should be clearly mentioned in the System Requirements as well as Installation documentation.

[2017-11-14 09:53] snnn commented on #14456
Hi @asimshankar
For how to distribute , this article has some recommendations:
 https://blogs.msdn.microsoft.com/vcblog/2015/03/03/introducing-the-universal-crt/

[2017-11-14 10:07] rjbruin commented on #13463
Same problem here. For several different sets of TFRecord files we get this error at random times during training.

[2017-11-14 10:16] SnowWalkerJ opened #14542 "'Model' object has no attribute 'container_nodes'"
## Problem
[code]
Output:
[code]

## Environment
-System: Ubuntu 16.04
-Tensorflow-gpu bin v1.4.0-rc1-11-g130a514 1.4.0

[2017-11-14 10:21] meteorcloudy commented on #14456
Bazel now use /MD to dynamically link to MSVCRT by default, but you can easily switch to static linking(/MT) by adding `--features=static_link_msvcrt` as a build option. (requires Bazel 0.7.0)

But be aware, using `/MT`  might cause problems like https://github.com/tensorflow/tensorflow/issues/12844#issuecomment-328034368

[2017-11-14 10:24] sabi0 commented on #14456
msvcp140.dll is a "Standard C++ Library for native code", not a CTR.
https://msdn.microsoft.com/en-us/library/8kche8ah.aspx

According to MS it is possible (though not recommended) to bundle redistributable DLLs with the application. See https://msdn.microsoft.com/en-us/library/ms235299.aspx

Another option is to statically link the runtime libraries using `/MT` switch. This will likely blow the s

[2017-11-14 10:24] smsrikanthreddy commented on #14358
[train_file.txt](https://github.com/tensorflow/tensorflow/files/1470326/train_file.txt)
Hi,
Ya I indeed checked it more than once.
I am attaching the my training code.
Please let me know if I need to do anything or else for any code issues.

Ran the below command in docker container.
bazel-bin/tensorflow_serving/model_servers/tensorflow_model_server --port=9000 --model_name=rf_quora --model_base_p

[2017-11-14 10:51] meteorcloudy commented on #12844
The static linking problem is fixed in Bazel 0.7.0 by https://github.com/bazelbuild/bazel/commit/1edcd0f32d85686c5616a997b988479d3891d525
and the `Cannot open include file: '_numpyconfig.h': No such file or directory` error will be fixed Bazel 0.8.0 by https://github.com/bazelbuild/bazel/commit/6a4247b10f5cf040c1a7176498bef69c75b1b286.
Closing this issue.

[2017-11-14 10:51] #12844 closed

[2017-11-14 11:10] tankienleong opened #14543 "Failed to calculate FLOPs for Tensorflow Object Detection API (SSD_Mobilenet & SSD_Inception)"
System information

    Have I written custom code: No
    OS Platform and Distribution: Linux Ubuntu 14.04
    TensorFlow installed from: source
    TensorFlow version: ('v1.3.0-rc1-1951-g04c318b', '1.3.0')
    Python version: 2.7.12
    Bazel version (if compiling from source): 0.7.0
    CUDA/cuDNN version: 8.0/6.0
    GPU model and memory: Tesla K40 12Gb
    Exact command to reproduce: bazel-bi

[2017-11-14 11:44] mzx5464 commented on #5643
Thanks, i try "-b r0.11" with Git clone and it works

[2017-11-14 12:00] qyffWJ opened #14544 "ValueError: Variable RNNLM/RNNLM/embedding_layer/embedding/Adam_2/ does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=tf.AUTO_REUSE in VarScope?"
when running following code,

**with tf.variable_scope('RNNLM') as scope:
          model = RNNLM_Model(config)
          scope.reuse_variables()
          gen_model = RNNLM_Model(gen_config)**

this problem occurs:
       **ValueError: Variable RNNLM/RNNLM/embedding_layer/embedding/Adam_2/ does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=tf.AUTO_REUSE in VarSco

[2017-11-14 12:10] rashikcs opened #14545 "Nan in summary histogram error for training images if faster_rcnn_resnet101_coco_11_06_2017 model is used."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-14 12:25] galeone opened #14546 "[Go] SIGABRT when running go test, using tensorflow 1.4 compiled form source"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Archlinux
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: Build label: 0

[2017-11-14 12:59] quarkleptonboson commented on #14244
Thanks for the cuda wheels!

Btw I have Ubuntu 16.04 with anaconda and python 3.6, cuda 9, cudnn 7 and a GPU with compute capability 5.0. I also finished installing the additional MKL-dnn library. However I tried to install the cp36-cp36mu wheel yet it says my platform does not support that wheel. What might be lacking in my system? Thanks in advance!

[2017-11-14 13:17] bhamill638 commented on #14182
Switching to Python 3.5 has removed the warning. To do this, I basically had to remove python 3.6 from my machine completely since jupyter was still pointing towards 3.6 even when only installed in 3.5 packages.

I followed [this answer](https://stackoverflow.com/questions/3819449/how-to-uninstall-python-2-7-on-a-mac-os-x-10-6-4/3819829#3819829) to remove python 3.6 from my machine (just replace a

[2017-11-14 13:20] Alienrose opened #14547 "Tensorflow Java Api Graph support any other than InceptionV3"
I'm fairly new to tensorflow, but I've got a general idea of it.

I've retrained Faster RCNN coco model on my own images in ubuntu. and exported the frozen graph.
Now I'm busy writing an Java app in windows that will use the model for object detection, I need bounding boxes etc to can't just use the normal classifier.

In my java app when I try to load/importGraphDef the frozen graph(converted to

[2017-11-14 13:27] notimesea commented on #13516
I had the same problem.
I came with workaround:
use `sess._tf_sess()` instead of `sess` when you need to skip MonitoredSession internal behavior

[2017-11-14 13:40] sandipmgiri commented on #14436
Thanks, @gunan. Is there any timeframe we are looking at by which this would be in place? We also have an external Jenkins based CI environment that can support Power builds, would it be something you would be interested in pursuing?

[2017-11-14 13:53] meteorcloudy opened #14549 "Windows Bazel build is failing due to compiling error for //tensorflow/compiler/xla:util"
http://ci.tensorflow.org/job/tf-master-win-bzl/1902/console
[code]

Culprit: https://github.com/tensorflow/tensorflow/commit/64d9aa1ace99c66f20b65532f633acb34ee3c057

The dependency from pip package to this target is:
[code]
This dependency exists even when xla is disabled.

https://github.com/tensorflow/tensorflow/commit/64d9aa1ace99c66f20b65532f633acb34ee3c057 changed [xla_data.proto](https://gi

[2017-11-14 13:59] carlthome commented on #14445
I wonder how the Bazel in Jenkins differs from our configs considering the 1.4 tests passed. :confused:

[2017-11-14 14:10] akuz opened #14550 "Log version of the SoftmaxFunctor implementation is numerically unstable"
The following code in the log version of SoftmaxFunctor, should use reduce_logsumexp() instead of .exp().sum().log()

[code]

Additionally, the following code in the tests only passes without generating NANs because the data is generated using standard normals, never resulting in the values that are too small to be converted to zeroes when exponentiated:

[code]

[2017-11-14 14:20] akuz commented on #14550
Oh sorry, the logits are already shifted, all good!

[2017-11-14 14:20] #14550 closed

[2017-11-14 14:23] andimarafioti commented on #3047
Same for me, I don't see any logging in the Jupyter notebook no matter the logging level that I set.

[2017-11-14 14:26] ahoereth commented on #6391
The example provided above still does return None -- added `sparse_tensor_dense_matmul` and `sparse_to_dense` to the mix because in my use case I can (with some overhead) use each of those functions.

## Executed:

[code]

## Ready to copy & run:

[code]

[2017-11-14 14:29] yaroslavvb commented on #14504
Which instructions/examples are you following? Usually there are some extra steps needed to configure the cluster

[2017-11-14 14:31] ahoereth commented on #6391
Wait, how did I just unassign @concretevitamin? I don't even have rights to assign anybody 😕

![screen shot 2017-11-14 at 15 28 10](https://user-images.githubusercontent.com/3015996/32784971-97d9471c-c950-11e7-89a8-0f592c58904b.png)

[2017-11-14 15:34] skye commented on #10089
Wow awesome @eaplatanios! I'll go ahead and close this issue, but feel free to continue the current discussion here.

[2017-11-14 15:34] #10089 closed

[2017-11-14 15:54] qmick commented on #14542
`model_to_dot()` does not work since commit  3599fd4. A minor fix seems works.

[2017-11-14 16:51] theflofly commented on #13982
@gdeer81 you should it, it is easy enough to get you started. What is your problem ?

Something like this should work:
[code]

[2017-11-14 17:12] gunan commented on #8773
Sorry for the misunderstanding.
Then, our instructions would be here:
https://www.tensorflow.org/install/install_c

I see that these do not mention windows, but I think we also build c libraries for windows.
@asimshankar how different are the instructions for windows?

[2017-11-14 17:23] KevinLucidyne commented on #2169
@Pepslee my understanding of your code is that **tf.reduce_sum** is not implemented for GPU so this unpooling will still be CPU-bound.  Is that correct?

[2017-11-14 17:31] danqing commented on #14244
How are you installing it? Can you paste the command you run? Also to make sure, do you have a reasonably new Intel CPU (past 3 years)?

Please feel free to open an issue in our repo and I can further assist you. Replying to this thread will email 10 people and don't want to create too much spam.

[2017-11-14 17:43] droidicus commented on #14504
Primary reference for the Keras model -> Estimator: https://www.tensorflow.org/api_docs/python/tf/keras/estimator/model_to_estimator
Primary reference for the TF_CONFIG settings for cluster: https://www.tensorflow.org/api_docs/python/tf/estimator/train_and_evaluate
Primary reference for gcloud ml-engine: https://cloud.google.com/sdk/gcloud/reference/ml-engine/

I agree that the code snippet above

[2017-11-14 17:54] gdeer81 commented on #13982
@theflofly that's exactly what I have. =D
I was struggling to write the test.
Someone said to look at your PR for ProdGrad and it was kind of intimidating so I was worried that I left something out.

I'll push what I have tonight let everyone see what I've done. Sunlight is the best disinfectant.

[2017-11-14 17:59] juliebernauer commented on #14363
@ljanyst Let's talk offline so that I can have a look at this with debug info. Thanks.

[2017-11-14 18:38] yaroslavvb commented on #14504
That page seems to be for distributed training of estimator. Don't know if distributed training on Keras is supported, cc @fchollet

For distributed training, session needs to be created in a different way, ie, `tf.Session("grpc://....")`. From your error it looks like keras creates just a regular local session `tf.Session()`

[2017-11-14 18:38] Jatik commented on #9701
In my case the problem was that I created the virtual environment, and I had to run tensorboard from there!

[2017-11-14 18:45] homink commented on #13463
I have reproduced the error at the same record location. The first and third got the error in the middle of 'Filling up shuffle buffer' and the second got the error in the beginning of that. In my case, this error looks highly relevant with the buffer shuffling process. I hope this would be helpful for debugging.

[code]

[2017-11-14 18:51] yongtang commented on #14512
@fesun Are you looking for not reading through the data for RandomInputStream? It looks like RandomInputStream relies on RandomAccessFile which does not expose `SizeOfFile` so moving through the position marker will not be enough. We will need to know when EOF is hit.

On the other hand, I think it is possible to try reading 1 bytes to `expected_pos -1`, and if it complete, then we know EOF is not

[2017-11-14 19:17] lissyx commented on #14445
@carlthome I took a chance and had a look at the `tensorflow/tools/ci_build/` tooling. It turns out that it seems those run without sandbox, using `--spawn_strategy=standalone --genrule_strategy=standalone`.

One can see how bazel is defined there: https://github.com/tensorflow/tensorflow/blob/1b0a9ff5e863da4349f100bead90b0032805eafc/tensorflow/tools/ci_build/builds/libtensorflow.sh#L54 and then,

[2017-11-14 19:23] thupalo opened #14558 "Bug: Inclusion missing in TF 1.4 BUILD file for mpi component"
### System information
- **I'm compiling TF from sources to have AVX512F instruction support**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: **16.04**
- **TensorFlow installed from (source or binary)**: **source (11/14/2017)**
- **TensorFlow version (use command below)**: **1.4.0**
- **Python version**: **3.6.1**
- **Bazel version (if compiling from source)**: **0.7.0**
- **GCC/C

[2017-11-14 19:26] rohan100jain commented on #14544
Would be hard to debug this without knowing what the actual model code looks like...

Maybe try doing

with tf.variable_scope('RNNLM', reuse=tf.AUTO_REUSE) as scope:
  ...

[2017-11-14 19:33] martinwicke commented on #6391
That is supremely odd.

[2017-11-14 19:33] mrry commented on #14529
Thanks for the suggestion! The difficulty here is that `Dataset.from_generator()` takes an arbitrary Python function as the generator, and there is no standard way to time out a Python function while it's running. It will depend on the particular library that you're using and what threads, file handles, etc. it uses. I'm going to close this issue, because I don't think it would be feasible to impl

[2017-11-14 19:33] #14529 closed

[2017-11-14 19:33] martinwicke commented on #6391
I'll chalk that up to a bug in github.

[2017-11-14 19:40] rohan100jain commented on #14558
@jbedorf Could you take a look as well? Somehow I couldn't assign this issue to you.

[2017-11-14 19:43] VictorGaiva commented on #14182
"FIxed" issue by forcing the installation of the 1.3.0 version of tensorflow
$~/Downloads$ pip3 install tensorflow==1.3.0
Collecting tensorflow==1.3.0
  Downloading tensorflow-1.3.0-cp36-cp36m-manylinux1_x86_64.whl (43.5MB)
    100% |████████████████████████████████| 43.6MB 42kB/s
Collecting six>=1.10.0 (from tensorflow==1.3.0)
  Using cached six-1.11.0-py2.py3-none-any.whl
Collecting protobuf>=3.

[2017-11-14 19:51] rohan100jain commented on #14528
Its a little challenging to debug without seeing the model code you're running. Could you please share that and then might be able to help you better.

[2017-11-14 19:56] rohan100jain commented on #14526
I'm not that familiar with the code, but looking at the comment
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/gan/python/train.py#L618

seems like get_joint_train_hooks solves this problem that you're mentioning.

[2017-11-14 20:02] rohan100jain commented on #14506
Will leave it upto Eugene, but might be helpful to get the exact code that you're running in order to debug.

[2017-11-14 20:16] #12060 closed

[2017-11-14 20:16] #12080 closed

[2017-11-14 20:17] #12193 closed

[2017-11-14 20:17] #12220 closed

[2017-11-14 20:17] #12251 closed

[2017-11-14 20:17] tensorflowbutler commented on #1
It has been 7 days with no activity since the `awaiting response` label was assigned. Please update the label and/or status accordingly.

[2017-11-14 20:17] tensorflowbutler commented on #2
It has been 7 days with no activity since the `awaiting response` label was assigned. Please update the label and/or status accordingly.

[2017-11-14 20:17] tensorflowbutler commented on #12060
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-11-14 20:17] tensorflowbutler commented on #12080
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-11-14 20:17] tensorflowbutler commented on #12193
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-11-14 20:17] tensorflowbutler commented on #12220
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-11-14 20:17] tensorflowbutler commented on #12251
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-11-14 20:38] xcyan opened #14562 "[Bug] tf.contrib.layers.layer_norm: third-party implementation does not reflect the original paper"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-14 20:40] gunan commented on #14540
`--config=opt` seems to be the problem you are running into.
Could you try the following command instead?
`bazel build --copts="-mcpu=native" --config=cuda tensorflow/tools/pip_package:build_pip_package`

In the meantime, I will mark this community support, because there is no official support for ppc64le for now.
cc @sandipmgiri in case I am missing anything.

[2017-11-14 21:20] #14494 closed

[2017-11-14 21:23] amundle-cs commented on #12522
@ebrevdo Any updates?

[2017-11-14 21:34] rohan100jain commented on #14562
@xodus7 Could you take a look at this please?

[2017-11-14 21:36] #14498 closed

[2017-11-14 21:45] rohan100jain commented on #14496
@vivek-rane Vivek, could you respond to this?

[2017-11-14 21:52] thupalo commented on #12781
Maybe now the sources are more stable.
I've manage compile on i9-7900x:
https://github.com/thupalo/TF1.4_GPU_CUDA9_AVX512F
Could you please check if this works for you?

[2017-11-14 21:53] vivek-rane commented on #14496
Will get someone to take a look - thanks for tagging.

[2017-11-14 22:00] jbedorf commented on #14558
I have not run into that problem when I last compiled TF a few weeks ago. Could it be caused by something similar to the problem that had to be fixed with  #13800 ?

[2017-11-14 22:04] cuevas1208 commented on #9794
if you are using a python model use  tf.image.resize_image_with_crop_or_pad to resize image or [tf.reshape(tensor, shape, name=None)](https://www.tensorflow.org/versions/r1.3/api_docs/python/tf/reshape) to change dimensions and then call this function from c++

[2017-11-14 22:07] asanakoy commented on #14558
OpenMPI 3.0.0
Tensorflow: Current master branch 52467b8e68122560439534e3bc9ea266408fbfa7

Got exactly the same error

[2017-11-14 22:16] thupalo commented on #13014
have look at i9-7900x version
https://github.com/thupalo/TF1.4_GPU_CUDA9_AVX512F
I hope that the sources/tools are better now
I have no messages regarding the new instructions:
[code]

[2017-11-14 22:21] ebrevdo commented on #12522
Before you run `dynamic_rnn`, you can manually add static shape information to your inputs, i.e.

`inputs.set_shape([None, None, input_depth])`

where input_depth is a python int; and the first two dimensions are the unknown time & batch dimensions.  If you have those, add them in as well.

[2017-11-15 00:11] ispirmustafa commented on #14490
I've tried your code. It seems working. Could you please re-check?

[2017-11-15 01:04] vivek-rane commented on #14496
@georgh Could you tell us what the inter/intra op settings and model is?

[2017-11-15 01:15] skye commented on #12686
Could this be an actual bug in your SoftmaxCrossEntropyWithLogits function? If you can't find the bug, post what you have so far in a PR and I can try to take a look.

[2017-11-15 01:17] ShangYuming commented on #14417
Please tell me how to find cuda8.0 and cudnn5.1?

[2017-11-15 01:25] georgh commented on #14496
I didn't set inter or intra op settings for the example, but I just tested it with both set to 20 and it still behaves the same.
The model I used is quite big, the main parts uses two big tf.while_loops with a few operations.
I will try to provide a simple test case tomorrow.

[2017-11-15 01:26] youngwoo-yoon commented on #11679
I successfully saved and restored the model only with the iterator handle placeholder. But you should initialize a new iterator.
One strange thing is that the placeholder for the handle should have a name parameter. Without naming, the type and content is not correctly loaded when I call get_collection.

[2017-11-15 01:34] pbanavara commented on #12686
Quite possibly it’s a big in my code. Am investigating the same and will
post a PR soon

On Wed, 15 Nov 2017 at 06:47, Skye Wanderman-Milne <notifications@github.com>
wrote:

[2017-11-15 01:36] NearLinHere commented on #14004
@mrry thank you for your kindly help
I met another problem when I try to let model recognize more words. Here is my command:

`python tensorflow/tensorflow/examples/speech_commands/train.py --data_dir=speech_commands_data --model_architecture=low_latency_conv --wanted_words=yes,no,up,down,left,right,on,off,stop,go,happy,house,cat,dog,bird,three,tree`

and after 400 steps. The following error messa

[2017-11-15 01:53] xcyan commented on #3621
@suiyuan2009 Have you ever tried this layer_norm op with most recent TF (1.3 or 1.4)?
#3671 #14562

[2017-11-15 02:38] dangbuzhudechaozi commented on #310
ImportError                               Traceback (most recent call last)
<ipython-input-5-41389fad42b5> in <module>()
----> 1 import tensorflow as tf

E:\Program Files\Anaconda3\lib\site-packages\tensorflow\__init__.py in <module>()
     22
     23 # pylint: disable=wildcard-import
---> 24 from tensorflow.python import *
     25 # pylint: enable=wildcard-import
     26

E:\Program Files\Anacond

[2017-11-15 03:06] kweisamx opened #14566 "Feature request for making dynamic gradient clipping"
That I know about gradient, tf has
https://www.tensorflow.org/versions/r0.12/api_docs/python/train/gradient_clipping

But I need the clipping gradient can change at training, and I see the all clip gradient doc, not found this function.

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.0

[2017-11-15 03:30] vincentfung13 commented on #14169
Hi @yzhwang @zheng-xq, any updates on this issue? Thanks. :)

[2017-11-15 03:41] tobegit3hub opened #14567 "Convert SavedModel files into TFLite file with toco convertor"
### Feature request

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 2.7
- **Bazel version (if compiling from sour

[2017-11-15 03:42] luyuesheng opened #14568 "Cmake TF1.4 GUP on windows 10"
Who can give me some recent samples about "Cmake TF1.4 GUP on windows 10"?
I have tried several times  following some old links ,but failed.

System information

•OS Platform and Distribution :win10/64
•TensorFlow version (use command below): 1.4.0
•Python version: 3.5.2
•CUDA/cuDNN version: 9.0 /7.0.3
•GPU model and memory: GTX 1080Ti
•VS2015
•Have I written custom code:
•TensorFlow installed fro

[2017-11-15 03:46] asimshankar commented on #14547
Could you please provide more detail - ideally all the details asked for in the new issue template. These include which version of TensorFlow you're using and instructions to reproduce the problem.

In general, the Java API is not tied to InceptionV3 and there have been uses of it with different models. Without the information asked for in the new issue template, it'll be hard for us to diagnose t

[2017-11-15 03:53] cy89 commented on #14445
@jart this seems potentially like a build issue rather than an XLA issue. Would you PTAL?

[2017-11-15 03:56] cy89 commented on #14489
@mrry would you please comment?

[2017-11-15 03:57] cy89 commented on #14495
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-11-15 03:59] hawkinsp commented on #14445
I've pushed a fix for this to our staging tree, it will make its way to Github shortly.

If you wish to workaround this locally in your tree, just change this line:
https://github.com/tensorflow/tensorflow/blob/master/third_party/llvm/llvm.BUILD#L21
from
package(default_visibility = ["@%ws%//tensorflow/compiler/xla:internal"])
to
package(default_visibility = ["//visibility:public"])

[2017-11-15 04:00] cy89 commented on #14503
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-15 04:00] #14503 closed

[2017-11-15 04:02] jart commented on #14445
Sounds like @hawkinsp has got this one under control. That main repo reference issue has always been somewhat problematic.

[2017-11-15 04:06] asimshankar commented on #8531
This is part of 1.4, so is available on Maven Central.

[2017-11-15 04:07] cy89 commented on #14509
@josh11b can you please comment on the possibility of an explicit broadcast op in future libraries, please? Might such a thing come from us in the future, or might I mark it "contributions welcome"?

[2017-11-15 04:10] cy89 commented on #14511
@sguada are there pointers we can pass along, or might this be something we would add in future documentation?

@Ellie68 have you also asked on Stack Overflow?

[2017-11-15 04:11] asimshankar commented on #14567
I believe this is being worked on and will happen soon.

@petewarden @suharshs

[2017-11-15 04:13] dieka13 commented on #13336
**UPDATE**
I have tried to export another custom Estimator (Recurrent CNN) in the same machine, trained with single GPU with latest tensorflow 1.4.0 and export it successfully.
However if I add `with tf.device('/device:GPU:0')` to the model function, the same error occurs even if the training just use a single GPU.

[2017-11-15 04:16] sandipmgiri commented on #14540
Please first run `export CC_OPT_FLAGS="-mcpu=power8 -mtune=power8"`  on ppc64le and retry building TensorFlow i.e. `bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package`

[2017-11-15 04:31] josh11b commented on #14509
I am not aware of any specific plans to provide this functionality in the short term, and I would expect it to be straightforward to implement (since we already have many ops that broadcast, this would have a subset of the functionality). So this would be a good fit for "contributions welcome".

The only question is the API -- would it take two tensors as input, the one to broadcast and one descri

[2017-11-15 04:36] makarg1001 commented on #14495
There was some issue with including the libraries manually. I fixed it just now. I will be posting the whole process after I finish up with my android application. Thanks a lot!

[2017-11-15 04:36] #14495 closed

[2017-11-15 04:55] Ellie68 commented on #14511
Hi @cy89

Yes, I have already asked on [Stack Overflow](https://stackoverflow.com/q/47258519/8872136). But I didn't get any good answers.

[2017-11-15 05:01] shoyer commented on #14509
NumPy's `broadcast_to` API basically works they way. It takes an array to broadcast and a tuple describing the shape. In TensorFlow the shape could either be a TensorShape object or tuple/list (used for static shape analysis), or a 1D tensor (for dynamic shapes).

[2017-11-15 05:16] qianyizhang commented on #14529
thanks for the tips. I did the search on StackOverflow first, but I wasn't confident using imports like threading or multiprocessing with custom functions, since they may interfere with tf threadings, can you elaborate on this?
Also on an orthogonal topic (which I saw your reply in another issue I can't find), does Dataset.from_generator() support parallel processing? In my experience, prefetch do

[2017-11-15 06:19] jasminezz opened #14571 "Links in tensorflow/tensorflow/contrib/lite/g3doc/models.md are not working"
The links in tensorflow/tensorflow/contrib/lite/g3doc/models.md are not working, please fix it?
When I click the Link, get the error "AccessDenied".
I try to modify the link from
https://storage.googleapis.com/download.tensorflow.org/models/mobilenet_v1_1.0_224_float_2017_11_08.zip
to
https://storage.googleapis.com/download.tensorflow.org/models/tflite/mobilenet_v1_1.0_224_float_2017_11_08.zip

it

[2017-11-15 06:33] tenapril commented on #14004
so i changed it to
[code]
in line 243 on train.py and it works!

i was wondering if we can run this on GPU instead of CPU? What code should i add?
Thanks in advance for the developers! Cheers

[2017-11-15 06:34] sguada commented on #14511
Take a look at https://github.com/tensorflow/models/blob/master/research/slim/preprocessing/inception_preprocessing.py

[2017-11-15 07:24] lissyx commented on #14445
Thanks @hawkinsp, it's indeed a generalization of the workaround I was working with, as documented above :)

[2017-11-15 07:34] Kwoks2017 commented on #3389
@AnilKumarES For the feed_dict can't accept the tensor object. As for the f = tf.square(x) + 2 * x + 5, it can be fed with scalars generated by numpy

[2017-11-15 08:25] kwin-wang opened #14572 "it's slow to train model when loading dataset and checkpoints from S3"
# System information

**Have I written custom code (as opposed to using a stock example script provided in TensorFlow):**  No

**OS Platform and Distribution (e.g., Linux Ubuntu 16.04):** Amazon Linux, P2 Instance

**TensorFlow installed from (source or binary):** pip

**TensorFlow version (use command below):** 1.5.0.dev20171113

**Python version:** 2.7

**CUDA/cuDNN version:** CUDA 8.0 / cuDNN 6

[2017-11-15 08:40] chhwang opened #14573 "bazel build failure of current master in Docker container due to contrib/lite"
Building current GPU version of master branch tensorflow/tensorflow@31b79e42b9e1643b3bcdc9df992eb3ce216804c5 fails in Docker container, saying

    /usr/bin/ld: warning: libcuda.so.1, needed by bazel-out/host/bin/_solib_local/_U_S_Stensorflow_Scc_Cops_Sdata_Uflow_Uops_Ugen_Ucc___Utensorflow/libtensorflow_framework.so, not found (try using -rpath or -rpath-link)

and I find that it is due to [`cont

[2017-11-15 09:05] rayjang opened #14575 "How to configure gpu memory fraction outside of my own code?"
My tensorflow automatically allocates all of my GPU memory.
I know the way to configure 'gpu memory fraction' in my own code like the below
[code]
I added the codes at the front of my code, so it worked well.

BUT I want to use tensorflow in distributed processing (e.g. spark)
Adding the configuration code in the code is not working in the distributed processing since configuration in the code is

[2017-11-15 09:13] sandipmgiri opened #14576 "FAIL://tensorflow/core:common_runtime_direct_session_with_tracking_alloc_test with GPU support"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
     Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
      Installed from source
- **TensorFlow version (use command below)**:
      TF-1.3.1
- **Python version**:
      Python 2.7.5
- **Bazel version (if compiling from source)**:
      Bazel - 0.5.4
- **CUDA/cuDNN version**:
      cuda

[2017-11-15 09:21] snownus commented on #10739
@eshirima  It appears because of the input tensor is empty. you  can add some codes to handle the empty tensor.

[2017-11-15 09:22] rayjang opened #14577 "modify tensorflow/core/protobuf/config.proto"
I try to modify config.proto.
I want to change per_process_gpu_memory_fraction from 1 to 0.2.
I modified it and builded it.

After I modified it, I compiled by using bazel
[code]
But I got error and I cannot compile.

[2017-11-15 09:27] FduJyy commented on #14528
@rohan100jain The model I run is Inception_v1 provided here [https://github.com/tensorflow/models/blob/master/research/slim/nets/inception_v1.py](url)
The code is like:

[code]

[2017-11-15 09:34] 11maxed11 commented on #14107
Have the same performance drop as mentioned above (and a slightly increased use of memory). A batch takes 0.4 ms on 1.4.0, used to take 0.25 ms on 1.3.

[2017-11-15 10:04] 345ishaan opened #14579 "Is it possible to optimize the network's likelihood function over a function of parameters? Or putting it the other way, can we optimize a function of parameter instead of parameters?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-15 10:04] jasminezz opened #14580 "freeze_graph "No variables to save""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I do not modify any of the source code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.4.0
- **Python version**:
3.5
_ **Bazel version

[2017-11-15 10:05] qmick commented on #14577
What is the error log and your system information?

[2017-11-15 10:25] atrah22 opened #14581 "Generate benchmark_model (android arm64-v8a) executable in case of tensorflow lite"
Hello i tried the sameway defined in the Readme.md of "tensorflow/contrib/makefile" folder to build benchmark_model for  tensorflow lite (tensorflow/contrib/lite/). However, it failed and seems that "TARGET=ANDROID" is not working in caseof Makefile of "tensorflow/contrib/lite/" folder.

ERROR LOG:
/tensorflow/tensorflow/contrib/lite/downloads/gemmlowp/public/../internal/../internal/kernel_default

[2017-11-15 10:34] gdeer81 commented on #13982
This is what I have so far:
https://github.com/gdeer81/tensorflow/commit/5275fc4dfd584ea3e95ea5227259c4e9d36d2f13

It took a bit of fiddling to get the test to go from erroring out to just plain failing. Using the x_fn variable like the other tests do just caused a seg fault so I commented it out and just started plugging in random values for the second arg to the test method. The only acceptable

[2017-11-15 11:36] Linusnie opened #14583 "contrib.slim.conv2d doesn't check input dimension"
tensorflow version: v1.4.0-rc1-11-g130a514 (installed from pip)

contrib.slim.conv2d doesn't check for input dimensionality. So if you give it a 5D tensor it instead performs a 3D convolution.

Here is a quick way to see this:
[code]

conv_out will have shape `[16, 18, 8, 8, 3]`, meaning that the time dimension (dim 1) has decreased due to the VALID padding.

As a side note I think it would be con

[2017-11-15 11:44] boeddeker commented on #14374
How about to allow the input of `get_placeholders` to be anything, that can be passed to `tf.Session.run`?

[code]

[2017-11-15 12:16] rayjang commented on #14577
I changed per_process_gpu_memory_fraction from 1 to 0.5 in cofig.proto
![image](https://user-images.githubusercontent.com/9244296/32835622-1ef3b7ec-ca4a-11e7-8cbf-8838d4c7a86c.png)

[2017-11-15 13:11] faisalthaheem commented on #9068
For anyone interested in x64 windows build of tensorflow1.4 with AVX2 instructions compatible with python 3.5.3 please visit the following link, details also given on howto compile yourself
[https://github.com/faisalthaheem/tensorflow-windows](https://github.com/faisalthaheem/tensorflow-windows)

[2017-11-15 13:30] meteorcloudy commented on #14549
@alextp Should summary_kernel depend on `//tensorflow/compiler/xla:util`?
Can we cut this dependency?

[2017-11-15 13:34] dakshvar22 opened #14584 "Contradicting behaviour in variations of tf.cond usage with tf.nn.static_state_saving_rnn"
[Model.txt](https://github.com/tensorflow/tensorflow/files/1474854/Model.txt)
[Training.txt](https://github.com/tensorflow/tensorflow/files/1474855/Training.txt)

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Custom
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installe

[2017-11-15 13:34] yaroslavvb commented on #14576
It looks good, I think for these kind of one line changes you can send a PR directly, and explain your reasoning in the PR description.

[2017-11-15 13:58] rayjang opened #14585 "how to change the gpu_fraction_per_process from default 1 to 0.5 or 0.7?"
I want to change the gpu_fraction_per_process from default 1 to 0.5 or 0.7.
Not by adding the below in my code
[code]
Is there other method to change it in the tensorflow source file??

In the case of Keras, I can change it by modifying keras.json file.
I spent a lot of time to find the way though, I cannot find the way ..
Is it impossible???

[2017-11-15 15:08] whatever1983 commented on #12052
Does anyone know if the tensorflow 1.5 nightly builds posted here(win10 builds) have CUDA9+CuDNN7 support?
https://pypi.python.org/pypi/tf-nightly-gpu/1.5.0.dev20171115

[2017-11-15 15:08] alextp commented on #14549
It depends because it uses xla::MakeUnique which is convenient when working with unique_ptrs. Maybe we should pull MakeUnique out of xla and into tensorflow core lib?

[2017-11-15 15:16] yaroslavvb commented on #14585
`K.set_session`?  (This kind of question is better for stackoverflow)

[2017-11-15 15:16] mrry commented on #14577
From the error message I'm guessing that you edited this line:

https://github.com/tensorflow/tensorflow/blob/31b79e42b9e1643b3bcdc9df992eb3ce216804c5/tensorflow/core/protobuf/config.proto#L21

...to something like:

[code]

The `1` in the original code is not a default value. Rather, it is a protobuf field number, which controls how the protocol buffer is serialized, and it must be a unique integ

[2017-11-15 15:16] #14577 closed

[2017-11-15 15:25] mrry commented on #14489
Indeed, it looks like the cancellation isn't propagated to the `WorkerService.ListDevices()` RPCs, which will attempt to reconnect forever if the host is unavailable. It seems reasonable to add that, and hopefully someone will volunteer to do it.

Just to check though, @sherrym: was there any reason you didn't add a timeout to this operation in fa07bfda6896748b747334e750763f6feea91129? (My recolle

[2017-11-15 15:39] rayjang commented on #14585
@yaroslavvb  I run my model in spark with GPU machines. The problem is that tensorflow takes all memory, so there is no memory space for spark rdd. This is why I want to limit the fraction of memory.
`K.set_session` is  kinda not working for this case.  `K.set_session` works on only spark driver, not on workers.. So I want to set default  in Tensorflow itself.
Is there any way to modify tensorflow

[2017-11-15 15:46] JulianNeeleman opened #14586 "TF Lite C++ standalone Interpreter"
**Feature request**

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.4
- **Python version**: 2.7.12
- **Bazel version (if compiling from

[2017-11-15 15:47] yaroslavvb commented on #14585
Some hacky workarounds are discussed here -- https://github.com/tensorflow/tensorflow/issues/8040

There was some discussion for a generic mechanism to do global settings here https://github.com/tensorflow/tensorflow/issues/8136 but it stalled

[2017-11-15 16:52] RoshanADK commented on #8574
I was stucked in the same , got a fix in different thread.
You have to use full relative path for the model
Eg : "model_08" has to be replaced by "./model_08" or full relative path.

Try replacing and let us know, if it works !

[2017-11-15 17:13] LearnedVector opened #14589 "Tensorflow Lite Support for Raspberry PI"
### Describe the problem
Are you planning to support Tensorflow Lite on Raspberry Pi? Specifically Raspberry Pi 3.

[2017-11-15 17:53] s0urcer opened #14590 "Loading TF 1.1 model in TF 1.4"
There is a model which has been trained in TF 1.1 (it's a seq2seq model with bahdanau attention). It uses DynamicAttentionWrapper (which has been renamed to AttentionWrapper). After updating TF to version 1.4 and switching to renamed AttentionWrapper the model can't be loaded. I get multiple errors like the following:

[code]

Setting name to dynamic_attention_wrapper in AttentionWrapper construct

[2017-11-15 17:57] gunan commented on #12052
Not yet, we are working on upgrading our build infra for CUDA 9.
We are aiming to have pip packages with CUDA 9 before the end of this week.

[2017-11-15 18:26] anitha-v commented on #14571
Thank you for noticing this, the links are fixed now.

Anitha

[2017-11-15 18:26] #14571 closed

[2017-11-15 18:33] atomantic opened #14593 "TextLineReader is missing compression option (see TFRecordReader)"
`tf.TextLineReader` does not currently provide a way to read GZIP encoded files

This option exists in `TFRecordReader`:
[code]

It would be great to be able to ingest gzipped files into the TextLineReader as well:
[code]

This `compression_type` argument could pass down to

[code]
 in the same way the TFRecordReader passes down to `_tf_record_reader_v2`:
```rr = gen_io_ops._tf_record_reader_v2(na

[2017-11-15 18:37] isaprykin commented on #13336
This sounds something that got likely got fixed [here](https://github.com/tensorflow/tensorflow/commit/bf05a2eef97863fc78778bcde5987f93af8a7598).

I think this should go away if you try [the latest source version](https://www.tensorflow.org/install/install_sources) or wait for 1.5.

[2017-11-15 18:44] Amitayus commented on #13342
Yeah, slim will not invoke init_op, but I found the parameter  `local_init_op` is done before `saver.restore`. Thus, I use `local_init_op=tf.global_variables_initializer()` and pass it into `slim.learning.train()`. Is this a proper way? Thank you.

[2017-11-15 19:06] Amitayus commented on #13342
Ref in `tensorflow/python/training/Supervisor (about line 186):
  ##### Custom model initialization

  `managed_session()` only supports initializing the model by running an
  `init_op` or restoring from the latest checkpoint.  If you have special
  initialization needs, see how to specify a `local_init_op` when creating the
  supervisor.  You can also use the `SessionManager` directly to create a

[2017-11-15 19:41] sarahs1 commented on #14589
Yes, this is something we plan to do.

[2017-11-15 19:57] yangcheng opened #14594 "Unable to download quantized Mobilenet TensorFlow Lite model"
### Describe the problem
I am trying to build TensorFlow Lite Android app,  was following the [instruction](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/lite#building-in-android-studio-using-tensorflow-lite-aar-from-jcenter).

however, the link is not open to the public

https://storage.googleapis.com/download.tensorflow.org/models/tflite/mobilenet_v1_224_android_quant_2

[2017-11-15 20:08] vivek-rane commented on #14496
Setting the inter op to 20 is a really bad idea. Try starting with an inter op of 1 and intra op of #cores, and OMP_NUM_THREADS set to #cores and tweak from there.

[2017-11-15 20:10] anitha-v commented on #14594
Please try now, this has been fixed.

Anitha

[2017-11-15 20:10] #14594 closed

[2017-11-15 20:27] cy89 commented on #14533
@MarkDaoust is this your territory, and can you please advise or reassign?

[2017-11-15 20:30] cy89 commented on #14535
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-11-15 20:32] cy89 commented on #14539
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-15 20:32] #14539 closed

[2017-11-15 20:38] stefanseibert opened #14595 "Adding a custom Tensorflow Op under Windows/cmake does not work with TF_LoadLibrary"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I have a custom fork (https://github.com/stefanseibert/tensorflow/tree/r1.3) which is forked from r1.3 and the only modifications are some commented out lines to be able to build AVX support as described in another ticket, and the recent added fix for wide strings.

- **OS P

[2017-11-15 20:50] MarkDaoust commented on #14533
This one is over my head, maybe @wolffg knows who to send it to.

[2017-11-15 20:58] boeddeker opened #14596 "Bug: tf.data.Dataset.map computes unrequested graph parts"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: See code example at the bottom
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
-

[2017-11-15 21:01] aselle commented on #14586
I'm not exactly sure what you mean by "standalone c++" build, but I assume independent of TensorFlow tooling is wha tyou mean.

There is already a makefile that builds basically just the interpreter that @petewarden made. You may need to modify the ops to be driven by the "reference ops" rather than the "optimized ops" to avoid using neon. But this should be definitely possible, and something we h

[2017-11-15 21:18] georgh commented on #14496
Thank you for your advise. If that's a bad Idea, why does the performance guide state:

Is this only valid if you set it to the number of physical cores?
I didn't do that much tests with these values, because I can't always use the complete cluster for my computations. Setting both values to 20 restricts tensorflow to 20 logical cores and leaves therefore enough room for other people to use the sy

[2017-11-15 21:38] zach-nervana commented on #14590
I am also getting a similar error. I do not get this error in tensorflow 1.3. Unfortunately I don't yet have a minimal example of this bug yet.

[2017-11-15 22:03] aselle commented on #14581
Please use bazel for Android. Currently the makefile only supports IOS.

[2017-11-15 22:30] alextp commented on #14509
There is a quick way to implement a broadcast_to(tensor, shape) function (though not super efficient);

[code]

[2017-11-15 22:35] vivek-rane commented on #14496
@tfboyd do we recommend running with intra=num_cores for mkl? that would give pretty bad perf, since TF will run num_cores number of ops in parallel, each with OMP_NUM_THREADS threads (heavy oversubscription).

[2017-11-15 22:35] vivek-rane commented on #14496
@georgh can you share the timeline for your run?

[2017-11-15 22:50] harishannavajjala commented on #7511
Are there any good examples online on how to use tf.image.non_max_suppression ?? And does using this in-built nms function over our own function improves performance of the model ?

[2017-11-15 22:53] luongthomas commented on #5036
+1

[2017-11-15 22:59] letuantang commented on #5036
+1

[2017-11-16 00:15] yongtang commented on #14593
Added a PR #14599 to support compression on TextLineReader. Please take a look.

[2017-11-16 00:18] mrry commented on #14004
@tenapril Thanks for confirming that it works!

@NearLinHere I'm not sure what the problem is there... I don't think it's platform related... but hopefully @petewarden can shed some light.

[2017-11-16 00:22] mrry commented on #14004
@NearLinHere A quick update: I think PR #14600 should fix it. Thanks for letting us know the problem!

[2017-11-16 01:05] yzhwang commented on #14169
Hi @vincentfung13 I've made a commit that should solve the problem: https://github.com/tensorflow/tensorflow/commit/4535bd5df4d077072a8f207146bf4cd051971237 Now each process that runs a TF program will try to initialize CUDA runtime before the giant device memory allocation, and if the remaining memory is insufficient, there should be an error for session creation. Please verify if this solves the

[2017-11-16 01:09] Oewyn opened #14601 "Conv2D operator with SAME padding when Stride > kernel size showing unexpected results"
### System information
- **Have I written custom code -- YES, only to demonstrate the problem (source code is below)**:
- **OS Platform and Distribution (Linux Ubuntu 16.04)**:
- **TensorFlow installed from (binary (PIP))**:
- **TensorFlow version (1.4.0)**:
- **Python version (2.7.12)**:
- **Bazel version (N/A)**:
- **GCC/Compiler version (N/A)**:
- **CUDA/cuDNN version (N/A)**:
- **GPU model and

[2017-11-16 01:33] cy89 commented on #14543
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-16 01:33] #14543 closed

[2017-11-16 01:34] cy89 commented on #14507
@tatatodd could you please either comment or route to the appropriate TensorFlower?

[2017-11-16 01:40] cy89 commented on #14579
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-16 01:40] #14579 closed

[2017-11-16 01:42] cy89 commented on #14583
@sguada would it be appropriate to mark this "contributions welcome", or do we have internal plans to fix it?

[2017-11-16 01:44] cy89 commented on #14575
Is this a different issue from #14585? If not, may we please close this one?

[2017-11-16 01:48] cy89 commented on #14545
@rashikcs is this not a TensorBoard issue, which should be filed in a different comment, per the link in the form?

I'll close for now; please feel free to reopen if it's not actually a TensorBoard issue.

[2017-11-16 01:48] #14545 closed

[2017-11-16 01:51] cy89 commented on #14505
@ysuematsu can you comment or offer advice here?

[2017-11-16 01:53] tatatodd commented on #14507
@jlebar might be able to provide some guidance here.

@linearhit can you provide a minimal program that demonstrates the error?

Note that the whole point of static_bidirectional_rnn is that it's fully unrolled, so it's not surprising to me that unrolling 1000 steps might encounter issues; you'll end up with a large graph!

That said, it might be useful to look at exactly why we're ending up with

[2017-11-16 02:03] cy89 commented on #14549
@alextp do you want to take this, or should I mark it "contributions welcome"?

[2017-11-16 02:04] jlebar commented on #14507
Well that's fun.

We'll have to change our calling convention in order to fix this.  Which is to say, this is a bug, we should fix it, but I'm not sure it will be simple.

[2017-11-16 02:04] jlebar commented on #14507
@linearhit, a reproducer would be appreciated.

[2017-11-16 02:27] yupbank opened #14603 "add Unspecified dimension to an existing tensor."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: osx
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:  ('v1.3.0-rc2-20-g0787eee', '1.3.0')
- **Python version**:   Python 2.7.11
- **Bazel version (if compil

[2017-11-16 02:42] 4ToolMaker commented on #14182
Great!!!

[2017-11-16 02:47] 4ToolMaker commented on #14273
Thank you! @SteffenNa

[2017-11-16 03:03] llyyun opened #14605 "Linking error "Undefined symbols for architecture x86_64: "nsync::nsync_mu_init(nsync::nsync_mu_s_*)"" on iOS"
Hello,

I downloaded the latest release 1.4.0 and builded it for iOS with build_all_ios.sh, and can successfully build libtensorflow-core.a, libprotobuf-lite.a and libprotobuf.a

but error happened when link these libs to iOS project, the detail info as follows, can anybody know how to fix it? thanks

Undefined symbols for architecture x86_64:
  "nsync::nsync_mu_init(nsync::nsync_mu_s_*)", referen

[2017-11-16 03:06] gxdalu-yaya opened #14606 "Converting unsupported operation: Dequantize"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: centos 7
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**:  2.7
- **Bazel version (if compiling from

[2017-11-16 03:13] apollo-time commented on #14605
try add ~/tensorflow/tensorflow/contrib/makefile/downloads/nsync/builds/lipo.ios.c++11/nsync.a into
other linker flags

[2017-11-16 03:17] apollo-time opened #14607 "Tensorflow Lite Support for Windows"
Are you planning to support Tensorflow Lite on Windows? Specifically Windows 32bit.

[2017-11-16 03:24] naname0505 commented on #14182
TensorFlow v1.4 doesn't work with Python3.6.
So, we should use TensorFlow v1.3.
It will be success.
Thank you.

[2017-11-16 03:29] chengdianxuezi opened #14608 "save restore from a incomplete model"
# problem
Each time the trainning programe begining to run will restore model from where the last model was saved。but sometimes the last model is incompleted.the model restore fail. In order to make programe restore from a normal model，I hava tomodify the checkpoint file manually。

# the checkpoint file as follow:
[code]
# model.ckpt-88663487 is incomplete
[code]
# confuse
The model will restort f

[2017-11-16 03:42] 4ToolMaker commented on #14182
This is the main guidance to installing which py version and tf version
https://github.com/lakshayg/tensorflow-build

[2017-11-16 03:43] MaeThird opened #14609 "Why cannot use tf.Print() ?"
I just want to print out the executing data like this:
![t](https://user-images.githubusercontent.com/14851411/32872558-47be9c0c-ca7f-11e7-8e5d-6fa6796cb043.jpg)
But I got :"**Cannot assign a device for operation 'Print': Could not satisfy explicit device specification '/device:GPU:0' because no supported kernel for GPU devices is available**"
I'm sure this piece of code can work in python console

[2017-11-16 03:47] rashikcs commented on #14545
I am a newbie in this sector, so thank you for the heads up @cy89.
Here is the openend issue link on tensorboard :

https://github.com/tensorflow/tensorboard/issues/744

[2017-11-16 03:51] caisq commented on #14609
@MaeThird Are you using TF eager mode by any chance?

[2017-11-16 03:54] naname0505 commented on #14182
I use Mac OS High Sierra.
I tried to use TF v1.4 with Python3.6.3, but , RuntimeWarning is shown when I import TF.
So, if you use High Sierra , be careful.

[2017-11-16 04:04] MaeThird commented on #14609
@caisq no. This is just a test with my tedious codes.I thought there must be something wrong since it can print as excepted in console:
![t2](https://user-images.githubusercontent.com/14851411/32873268-feb1290e-ca82-11e7-8c91-187c4555a150.jpg)

[2017-11-16 04:04] Sixigma opened #14610 "Error when bazel building after pull down newest master branch"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**: 0.5.4
-

[2017-11-16 04:16] llyyun commented on #14605
Yes, it works, thanks so much !!!

[2017-11-16 04:16] #14605 closed

[2017-11-16 04:21] ppwwyyxx commented on #7511
The documentation is pretty clear IMHO, which part do you have questions?
For speed the answer is always the same: it depends on the speed of "your own function" (which only you know) plus the overhead to transfer data between TF and your own function.

[2017-11-16 04:28] Sixigma commented on #14610
After modified https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorflow.bzl#L1098 from " nsynch = "../../external/nsync/public" " to " nsynch = "external/nsync/public" " , got another error message :

[code]

[2017-11-16 04:43] monajalal opened #14611 "KeyError: "Couldn't find field google.protobuf.DescriptorProto.ExtensionRange.options""
My tensorflow was working fine a few days ago and now I get this error:

[code]

And my sys info is:
[code]

[2017-11-16 04:49] gauss-clb commented on #14490
I have re-checked code, it will output `assert` error.

[code]

[2017-11-16 04:57] sandipmgiri commented on #14576
Sure @yaroslavvb , and thanks for your suggestion.

I committed the changes in same PR - https://github.com/tensorflow/tensorflow/pull/14530 (which was created for https://github.com/tensorflow/tensorflow/issues/14515)

[2017-11-16 04:58] #14515 closed

[2017-11-16 04:59] monajalal commented on #14611
I uninstalled all the packages and installed again using pip and still getting error:
[code]

I need both tensorflow and tensor board that's why I used pip. Please suggest a solution.

[2017-11-16 05:00] Sixigma commented on #14610
Solved after download all the nsync* from https://github.com/google/nsync/tree/master/public to tensorflow/core/platform/default/

the solution is referred to [https://github.com/tensorflow/tensorflow/issues/12482](url)

[2017-11-16 05:02] #14576 closed

[2017-11-16 05:12] Sixigma commented on #14610
Got another error message :

[code]

[2017-11-16 05:17] colmantse commented on #14244
so i take for window 10, tf 1.4 cuda 9 cudnn 7 is not an option yet?

[2017-11-16 05:57] linuxjain commented on #12491
I had same issue on mac, @leonmak suggestion worked for me.

[2017-11-16 06:12] smsrikanthreddy opened #14612 "bazel build command failed for tensorflow serving"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04 docker container
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:1.3.0
- **Python version**: 3.5.2
- **Bazel version (if compiling from source)**:0.5.4

[2017-11-16 06:13] MtDersvan opened #14613 "tf.data.Iterator.from_string_handle() breaking behaviour in r1.4 compared to r1.3.1"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: +
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: Python 3.5.2
- **Bazel version (if

[2017-11-16 06:31] #14612 closed

[2017-11-16 07:03] rjlee0 commented on #11777
@anandcu3

It works! My steps are like this:
1. Clone tensorflow1.4.0
2. including cwise_op_ceil.cc in tensorflow/core/kernels/BUILD file under filegroup "android_extended_ops_group1"
3. including "tensorflow/core/kernels/cwise_op_ceil.cc" in "tensorflow/contrib/makefile/tf_op_files.txt"
4. Import projects "tensorflow/examples/android" using Android Studio.
5. Modify build.gradle:  def nativeBuild

[2017-11-16 07:06] Sixigma commented on #14610
I think it's because of the files in
https://github.com/tensorflow/tensorflow/blob/f589bf0d4dbc8a803f0b40704a4b8c019aa885bd/tensorflow/contrib/cmake/external/gemmlowp.cmake
and
https://github.com/google/gemmlowp/blob/master/internal/kernel_default.h
?

[2017-11-16 07:33] rayjang opened #14614 "Which c++ source code Should I modify to allocate GPU memory dynamically?"
I am using Spark with tensorflow. Spark make many tensorflow process, so I want tensorflow to allocate GPU memory dynamically.
Adding the below code is **not workin**g for me
[code]
Although I found  the way to set gpu memory fraction in 'tensorflow/tensorflow/core/common_runtime/gpu/gpu_device.cc' ,
I want to set 'allow_growth' in c++ source.
Which part shoud I modify?

[2017-11-16 07:40] charleys commented on #14586
My goal is to use NDK to compile C++ static libraries that can be called by Android. I don't quite understand what you're saying "modify the ops to be driven by the "reference ops" rather than the "optimized ops" to avoid using neon. "  PS: I refer to /tensorflow/contrib/lite/makefile

[2017-11-16 07:41] charleys commented on #14586
hi, asslle:

My goal is to use NDK to compile C++ static libraries that can be called by Android. I don't quite understand what you're saying "modify the ops to be driven by the "reference ops" rather than the "optimized ops" to avoid using neon. " PS: I refer to /tensorflow/contrib/lite/makefile

[2017-11-16 07:48] Sixigma commented on #14610
Solved after define GEMMLOWP_ALLOW_SLOW_SCALAR_FALLBACK.

[2017-11-16 07:49] charleys opened #14615 "For Android, Tensorflow Lite C++ interface and static library"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-16 07:56] Sixigma commented on #14610
Got this message :
[code]

[2017-11-16 07:57] wangxiaofei1997 opened #14616 "help me with tensorflow!"
wxf@wxf-K56L:~$ source activate tensorflow
(tensorflow) wxf@wxf-K56L:~$ python
Python 2.7.14 |Anaconda, Inc.| (default, Nov  8 2017, 22:44:41)
[GCC 7.2.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/wxf/anaconda2/envs/tensorflow/lib/python2.7/site-packages/tensorflow/__init_

[2017-11-16 08:28] moroseking commented on #9371
hello! I  meet the same problem!  I  use tf 1.4 and train a model with python 3.6,now I want to load the model in java ,but it can not work! throws the exception SavedModel not found in export directory: d:/pythonworkspace/alerm/model/predicted........
can you share you point about how to solution the problem? or  the model train in python can not load in java ?

[2017-11-16 09:10] skyson opened #14617 "ValueError: graph_def is invalid at node u'decode/DecodeJpeg': Input tensor 'image_feed:0' Cannot convert a tensor of type float32 to an input of type string."
when i try to quantize the graph after optimize, i get the error
ValueError: graph_def is invalid at node u'decode/DecodeJpeg': Input tensor 'image_feed:0' Cannot convert a tensor of type float32 to an input of type string.

python ./tensorflow/tools/quantization/quantize_graph.py \
--input=/Users/jie/tensorflow/models/models/im2txt/im2txt/model/train/optimize_graph.pb \
--output=/Users/jie/tensor

[2017-11-16 09:11] xcyan commented on #14616
You did not include cuda library in your env.

[2017-11-16 09:11] simo23 opened #14618 "Error in tf.image.extract_glimpse documentation"
Hi,
I think there is an error into the documentation of the **tf.image.extract_glimpse** into the **offsets** definition:

**offsets**: A Tensor of type float32. A 2-D integer tensor of shape [batch_size, 2] containing the **x, y** locations of the center of each window.

Are you sure it is not **y,x** instead? Also into the previous field:

**size**: A Tensor of type int32. A 1-D tensor of 2 elem

[2017-11-16 09:16] jmaye commented on #14518
In case you need a workaround for balancing, here is what I did:
- put your data into folders, each folder is a class
- shuffle the folders
- get one shuffled folders, shuffle the content of the folder and pick as many elements you wish

You can then do stuff like give me a batch of 10 classes with 5 samples per class for instance.

But this should definitely be handled better in Tensorflow.

[2017-11-16 09:27] llyyun opened #14619 "Undefined symbols "_cblas_sgemm" on iOS"
Hello,

I downloaded the latest release 1.4.0 and builded it for iOS with build_all_ios.sh, and can successfully build libtensorflow-core.a, libprotobuf-lite.a and libprotobuf.a, and added the libtensorflow-core.a with -force_load

but error happened when link these libs to iOS project, the detail info as follows, can anybody know how to fix it? thanks
Undefined symbols for architecture arm64:
  "

[2017-11-16 09:28] #14585 closed

[2017-11-16 09:29] snownus commented on #10488
@petewarden  I have came across similar problem. InvalidArgumentError (see above for traceback): requested_output_max must be >= requested_output_min, but got -33025.5117 and 0
	 [[Node: SecondStagePostprocessor/BatchMultiClassNonMaxSuppression/MultiClassNonMaxSuppression/ClipToWindow_2/Area/mul/eightbit/requantize = Requantize[Tinput=DT_QINT32, out_type=DT_QUINT8, _device="/job:localhost/replica:

[2017-11-16 10:08] BenjaminLarrousse commented on #11621
Hi @xiejw,
I'm facing the same problem as @mari-linhares with my custom estimator (and an input function build with the tf.dataset API).
I see that the warning is removed in the master branch of Tensorflow. Any ideas where it would be in a release ?
In the mean time, is there any work around I can use ?
Thanks

[2017-11-16 10:55] unnir commented on #12326
Summarize :
pip uninstall tensorflow-gpu tensorflow
pip install tensorflow-gpu
pip uninstall protobuf==3.3.0.
pip install protobuf==3.3.0.

it helped me.

[2017-11-16 11:01] beyhangl commented on #7031
parameters changed

`tf.concat(0,[t1, t2])
`
to
`tf.concat([t1, t2], 0) `

solved my issue but why they need to change it ? i dont understand why some parameters is changing always like this way.

[2017-11-16 11:44] junja94 opened #14620 "tf r1.4 bazel build error: nsync?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: r1.4
- **Python version**:
- **Bazel version (if compiling from source)**: 0.7.0
-

[2017-11-16 11:47] ammarhusain commented on #4680
You need to include the Eigen3 (from eigen.tuxfamily.org) library in the -I for your target. From CMake it is something like:
[code]

[2017-11-16 11:51] charleys opened #14621 "Tensorflow Lite Error: when convert frozen Graphdef to flatbuffer format (.lite)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:master lastest
- **Python version**: 2.7
- **Bazel version (if compiling from source)**:0

[2017-11-16 12:14] carlthome commented on #12610
Status on this? It's a huge limitation of the tf.estimator API that labels can only be a tensor, IMO. It would be a lot nicer to have named tensors in the case of multi-headed output.

[2017-11-16 12:41] ppwwyyxx commented on #14609
Putting `tf.Session()` under 'tf.device' has no effect at all. Putting `tf.Print` will probably give you the same error.
Enabling "allow_soft_placement" session option should avoid this error.

[2017-11-16 13:03] facaiy commented on #12610
Yes, I think the issue has been resolved.

[2017-11-16 13:10] carlthome commented on #12610
I assume it's still a problem for the corresponding Pandas input_fn though, right? And similarly throughout the docs there is a very strong assumption that the output of an estimator will always be a single tensor of labels (which is not the case for a multitude of common models).

Overall, it's strange that `features` can be multi-headed while `labels` cannot, and I think it should be changed to

[2017-11-16 13:26] facaiy commented on #12610
Yes, I think pandas_input_fn is unchanged. And would you like to make a contribution?

[2017-11-16 13:51] gyglim commented on #10091
@mrry Is there a way to change `validate_shape` at a later point? This would be useful to modify networks restored from a metagraph definition

[2017-11-16 13:58] carlthome commented on #12610
No, I fear we'll just run into problems further down the line when deploying to Serving and the like.

Maybe the author of the Estimator API could clarify if it's supposed to only be used for predicting a one/multi-hot vector or if it's intended for more general usage of any models with a fit/predict workflow.

My particular use case at the moment is a stateful RNN with one sequence as input and t

[2017-11-16 14:07] hernandezurbina opened #14622 "ImportError: libcublas.so.8.0: cannot open shared object file: No such file or directory"
I'm trying to run Tensorflow-gpu through virtualenv via pip3 in Ubuntu 16.04. I have installed Cuda-9.0 and cuDNN v7.0.3, then tested both and they are working fine. However, when attempting to import Tensorflow in Python I get the following error:

  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorf

[2017-11-16 14:45] georgh opened #14623 "[BUG] tf.while_loop creates a seg-fault when setting parallel_iterations to high values"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: both
- **TensorFlow version (use command below)**: 1.3 / 1.4
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: 0.5.4
-

[2017-11-16 14:50] zach-nervana commented on #14590
In my case though, the problem is occurring even on new models, not models loaded from a checkpoint.

[2017-11-16 14:53] georgh commented on #14496
I created two timelines for a very small run, but I am not sure if they contain useful informations.
I tried to create a timeline for a bigger run, but the resulting file is 1.3GB big and chrome does not show any information if I try to open it.

[timelines.zip](https://github.com/tensorflow/tensorflow/files/1478931/timelines.zip)

[2017-11-16 15:03] JinbiaoYu commented on #2514
How about if the labels for train and test is different? If I have two lables for train, but only one label for test.

[2017-11-16 15:03] rayjang commented on #14614
solved it.

[2017-11-16 15:08] guschmue commented on #14595
Have not tried tried this for some time but it used to work. Should still work because ops like gru use the same mechanism. I can take a look ... might take me a few days to get to it. For debug builds: they are broken a lot. I use RelWithDebInfo which has only the problem that combined pdb for the tensorflow.dll is >4GB which the linker fails on. My workaround is to delete some of the pdb's I don

[2017-11-16 16:05] wyli opened #14624 "Bug: using regularizer for shared variables in tf.cond branches"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-16 16:09] dartdog commented on #14182
I am finding the GPU version (using Nvidia ) 1.4 works fine on Ubuntu Linux (py3.6) once past the warnings.. Have not run into other issues than the warnings..

[2017-11-16 16:12] tfboyd commented on #14496
In my testing I had the best results with the following settings, cut and
pasted from the document
<https://www.tensorflow.org/performance/performance_guide#optimizing_for_cpu>I
wrote.  It can be a different for different models but for resnet and
inception training this worked well and even for inference.  Intel
mentioned that slightly higher levels of inter_op might work but my
guidelines as # o

[2017-11-16 16:17] stefanseibert commented on #14595
Thanks for the response! Thats a good idea with deleting the pdb files. I will try to get RelWithDebInfo build using that to see a bit more whats happening.

[2017-11-16 16:18] anitha-v commented on #14615
Can you please look at our C++ API documentation here ?

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/apis.md

[2017-11-16 16:18] alextp commented on #14549
I have too much on my plate now to take this right away :-/

On Wed, Nov 15, 2017 at 6:06 PM, Cliff Young <notifications@github.com>
wrote:

--
 - Alex

[2017-11-16 16:26] afroze100 opened #14625 "float16 support for separable_convolutions"
### System information
- **Have I written custom code**:
No
- **OS Platform and Distribution **:
16.04
- **TensorFlow installed from**:
from pip package
- **TensorFlow version**:
1.4.0
- **Python version**:
3.5.2
- **CUDA/cuDNN version**:
CUDA 8.0, cuDNN 6.0
- **GPU model and memory**:
1080Ti with 12GB Memory
- **Exact command to reproduce**:

It appears that half precision support is still not av

[2017-11-16 16:29] juliebernauer commented on #14363
@zheng-xq @ljanyst We have a repro and a fix. Roll out is planned in cuDNN 7.0.5 mid-December.

[2017-11-16 16:30] layssi commented on #14622
+1

[2017-11-16 16:40] beriberikix opened #14626 "[FR] Target for Cortex-M7"
With the recent availability of TensorFlow Lite, it seems now possible to target embedded systems other than mobiles. [Cortex-M7](https://developer.arm.com/products/processors/cortex-m/cortex-m7) is the highest performing processor in the Cortex MCU family has ICs from [several](http://www.st.com/en/microcontrollers/stm32-high-performance-mcus.html?querycriteria=productId=SC2154) [big](https://www

[2017-11-16 17:05] atomantic commented on #14593
awesome. That looks like exactly what I want :)

[2017-11-16 17:40] zzw922cn opened #14629 "Documentation error in attention_wrapper.py"
In tf.contrib.seq2seq.attention_wrapper.py file, in line 295, it should be [batch_size, 1, max_time], instead of [batch_time, ...], hope to fix it soon!! Thanks !!

[2017-11-16 17:56] markpwoodward commented on #2514
If you are using tf.estimator.Estimator, which I think is the current best way to go (https://stackoverflow.com/questions/46925196/does-tf-estimator-estimator-train-maintain-input-fn-state), you can pass a different input_fn for train and evaluate, and you can use the mode passed to model_fn to create the appropriate graph.

[2017-11-16 18:04] #2514 closed

[2017-11-16 18:20] #14558 closed

[2017-11-16 18:22] markpwoodward commented on #2514
I just closed this. Feel free to re-open it. In my opinion, `tf.estimator` and `tf.dataset` are the way to go, and solve my original issue.

If you need to do things at the end of each epoch then just run `estimator.train()` with a `Dataset` that does not repeat. Alternate this with `estimator.evaluate()` or whatever you need.

Often times the dataset is too big to wait for epoch boundaries, so us

[2017-11-16 18:33] ProTip commented on #14546
@galeone I'm running up against this as well. Have you found any workarounds?

[2017-11-16 19:03] saraswat commented on #527
Why did 'conda install tensorflow' not make the front page of the New York Times???? I just spent four days wrestling with building bazel, getting a new version of gcc, figuring out I needed to upgrade binutils, and still running into an assembler problem with the code in boringssl.
So kudos to whoever made this work -- and please advertise this more broadly!

[2017-11-16 19:06] tho15 opened #14632 "libtensorflow_cc.so linker issues with release 1.4 Undefined reference"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-16 19:08] umangmehta12 commented on #14186
I am also facing the same issue. Using the instructions on [README for Makefile](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#android).

Configuration:
MacOS Sierra 10.12.6
Android NDK r15c

[code]

[2017-11-16 19:20] awav opened #14633 "[FEATURE REQUEST] Report uninitialized data iterators."
At https://github.com/GPflow/GPflow/issues/561 we found that, iterators are not variables :), therefore `report_uninitalized_variables` fails with:

[code]

[code]

Frankly, it must be very easy to adapt `report_unitialized_variables` to report data's unitialized iterators. This would be helpful to avoid re-initializing datasets each time when we call `session.run` in GPflow. Right now, it provide

[2017-11-16 19:30] allenlavoie commented on #14632
Does it work with `-ltensorflow_cc` rather than `-ltensorflow` (i.e. the C API rather than the C++ API)?

[2017-11-16 19:36] UWFrank commented on #14232
Hello @frankchn I've drafted a [design proposal](https://docs.google.com/document/d/18XgUwmmxvhR-sk9A2KFD8Wom8H0sfI7PKtacVI_7jvc) that include major API changes, please let me know your thoughts. @yongtang thank you for your interest, please also feel free to comment on the design doc.

[2017-11-16 19:37] galeone commented on #14546
I didn't have time to dig into the code, therefore no. But since C++ tests are passing, I guess that they have changed something in the C++ implementation without reflecting the changes in the tensorflow tests (maybe some operation that fist was accepting a `float32` now needs a `float64`). I'm pretty sure that other packages that depend on the go package could still work. Tomorrow I'm going to tr

[2017-11-16 19:53] tho15 commented on #14632
@allenlavoie No, it does not work with -ltensorflow_cc. I did not try to link with C library -ltensorflow, since the code call some functions not in the C API. I did test C library with some sample code, and it works. Thanks!

[2017-11-16 19:58] allenlavoie commented on #14632
Great, sounds like this isn't a bug, so I'm closing.

[2017-11-16 20:14] tho15 commented on #12539
any solution? I got same issue on 1.4.0 release

[2017-11-16 20:22] shoyer commented on #14509
The version using `+` appears to work on many but not all dtypes:
[code]

[2017-11-16 20:29] alextp commented on #14509
It also does not work for string. I think you might be able to replace +
with logical_or to make it work on bool dtypes. Nothing I can come up with
for strings, sadly.

On Thu, Nov 16, 2017 at 12:25 PM, Stephan Hoyer <notifications@github.com>
wrote:

--
 - Alex