[2021-09-01 08:21] mlinke-ai opened #51779 "SavedModel imported in ML.NET throws vacuous error"
I create a model in Python and save it with `tf.saved_model.save(model, model_save_path)` into a `.pb` file.
Then I load the model in ML.NET, create a pipeline, and make a prediction with the following code:
[code]
The first `foreach` loop throws an error, which I do not understand. The error message reads:
[code]
What does the error message mean? What is happening? And how do I fix it?

EDIT:
I j

[2021-09-01 08:37] Barba515 commented on #37680
how about in the case of 1D a trained CNN I would like to see which part of inputs are most related to output through the model that I have not a picture any help is appreciated

[2021-09-01 08:41] githlam opened #51780 "2021-09-01 16:39:11.050592: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN)to use the following CPU instructions in performance-critical operatiWARNING:tensorflow:AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x000001A3554913A0> and will run it as-is. Please report this to the TensorFlow team. To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-09-01 08:52] songcaidao commented on #39013
Hitting the same error

[2021-09-01 08:59] sushreebarsa commented on #51780
@githlam In order to expedite the trouble-shooting process,Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).Thanks!

[2021-09-01 09:34] NEGU93 commented on #51726
Your welcome!
It was not the only example I found, there are a few and for sure many more I did not found yet.

I think since version 2.6 or 2.5 the `tf.keras.python` module was removed (and items moved to another place) that is my theory and it may help to track the broken links.

[2021-09-01 09:46] mohantym commented on #35405
Hi @Dave-Stein! Could you please check on latest stable version of TF 2.6 and the instructions at this[ link ](https://www.tensorflow.org/install/lang_c)for installing Tensorflow in windows from Source. let us know if this is still an issue.Thanks!

[2021-09-01 10:10] sanatmpa1 commented on #45248
@iamMOY,

Can you take a look at this [link](https://www.tensorflow.org/install/source#tested_build_configurations) to know about tested configurations and please update to latest stable version i.e `TF 2.6.0` and create a new issue if you face any. Thanks!

[2021-09-01 10:12] sanatmpa1 commented on #45248
@Avditvs,

As the problem has been fixed after you have downgraded the NVIDIA driver. Can you confirm if we are good to close this issue? Thanks!

[2021-09-01 10:30] mlinke-ai commented on #51779
Reason seems to be my data pipeline, it outputs `float[]` filled with `null` instead of actuall values (even `0.0f` would be okay).
I need to further investigate this.
Closing this issue.

[2021-09-01 10:30] #51779 closed

[2021-09-01 10:33] KumaTea commented on #51776
For the first error I've created a pull request (#51782) with a minor fix, and Python 3.6 - 3.10 compabilities have been tested.

[2021-09-01 10:35] sanatmpa1 commented on #45228
@Flamefire,

As per the latest stable version of Tensorflow which is `2.6.0`, I see that abseil 0.13.0 is used, which is the recent python implementation of [absl-py](https://pypi.org/project/absl-py/#history). Can you confirm if this resolves your issue? Thanks!

[2021-09-01 10:41] Flamefire commented on #45228
I can confirm this has been fixed in TF 2.5+

[2021-09-01 10:41] #45228 closed

[2021-09-01 10:43] sanatmpa1 commented on #45205
@iamweiweishi,

Can you try installing the latest stable version of tensorflow i.e `2.6.0` using this [guide](https://www.tensorflow.org/install/source#tested_build_configurations) to build from source. Also make sure that you have the supported version of CUDA,CUDNN,compiler as per the [tested build configurations](https://www.tensorflow.org/install/source#gpu) section. Thanks!

[2021-09-01 10:49] sanatmpa1 commented on #35170
@gimgane,

Thanks for providing a detailed explanation about how you solved the problem. Can you confirm if we are good to close this issue as your problem is resolved? Thanks!

[2021-09-01 10:54] sanatmpa1 commented on #35180
@giaxxi,

Can you try building the latest stable version of tensorflow i.e `2.6.0` and lets us know if the issue still persists? You can follow this [guide](https://www.tensorflow.org/install/source_windows) to build from source. Thanks!

[2021-09-01 10:57] sanatmpa1 commented on #35160
@maingoh,

As I see that the issue is related to `TF 1.x` which is not officially supported anymore. Can you try installing the latest stable version of tensorflow i.e `2.6.0` and lets us know if the issue still persists. You can follow this [guide](https://www.tensorflow.org/install/source#tested_build_configurations) to build from source. Thanks!

[2021-09-01 11:02] sanatmpa1 commented on #35014
@s-sajid-ali,
Can you try installing the latest stable version of tensorflow i.e `2.6.0` and lets us know if the issue still persists. You can follow this [guide](https://www.tensorflow.org/install/source#tested_build_configurations) to build from source. Thanks!

[2021-09-01 11:06] #51534 closed

[2021-09-01 11:06] #50594 closed

[2021-09-01 11:06] #47675 closed

[2021-09-01 11:06] #31250 closed

[2021-09-01 11:06] #30851 closed

[2021-09-01 11:06] microcoder-py commented on #51727
HI, unable to attach file because GitHub doesn't support tsv files. However, I tried to save the weights and that happened just fine. I think the error is coming in because i have declared python lists inside my layers, and those python lists are inaccessible to the tf computation graph

[2021-09-01 11:15] starboyvarun opened #51783 "TypeError: 'NoneType' object is not callable"
![3](https://user-images.githubusercontent.com/26819449/131661895-8f6100c7-9d01-43c4-bf4f-034853cafaa4.JPG)

![2](https://user-images.githubusercontent.com/26819449/131661655-91576b86-8977-475a-b107-13dad63be3d1.JPG)

![1](https://user-images.githubusercontent.com/26819449/131661662-97ec164b-8596-4b7b-b7ab-e17b39b65d82.JPG)
The error is in this part only before that is nothing just library import.

[2021-09-01 11:15] sanatmpa1 commented on #33316
@wookayin,

It is working fine in recent stable version of TF i.e `2.6.0` and I am able to import tensorflow with lazy_import. Please take a look at the [gist here](https://colab.research.google.com/gist/sanatmpa1/d122e3dcef78ea794a6c36cd99e3c5bb/33316.ipynb). Thanks!

[2021-09-01 11:27] sanatmpa1 commented on #51769
@old-school-kid,

Can you take a look at this [issue](https://github.com/tensorflow/neural-structured-learning/issues/23) in `
neural-structured-learning` repo, where a similar type of question is already answered. Let me know if it helps. Thanks!

[2021-09-01 11:45] River861 commented on #51720
@sanatmpa1 ,
Thanks for your response.

[2021-09-01 11:45] #51720 closed

[2021-09-01 11:52] Sur3 opened #51784 "Repeat weights in dense layer / Forum registration not possible"
Hello I tried to ask this question in the Forum, but somehow the Forum won't let me register saying something about timeout even if I refresh the page for registering. So instead I post this here as feature request.

What I want to achieve is that say for a 3x8x8 input for a dense layer I want the same 8x8 weights to be trained and repeated over the whole input. Is there a condition I can set for

[2021-09-01 11:52] mohantym commented on #51783
Hi @starboyvarun !We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-09-01 11:55] mohantym commented on #51778
Hi @zpcalan ,Could you please raise the issue in [TensorBoard ](https://github.com/tensorflow/tensorboard/issues/new/choose)repo.

[2021-09-01 12:05] #20308 closed

[2021-09-01 12:15] starboyvarun opened #51786 "Type Error: __init__() got an unexpected keyword argument 'epochs'"
![1](https://user-images.githubusercontent.com/26819449/131669104-e1037302-ddde-4eda-9ecf-bfd57a583653.JPG)
![2](https://user-images.githubusercontent.com/26819449/131669108-9b95b63c-1054-4195-95bc-445a29095346.JPG)
![3](https://user-images.githubusercontent.com/26819449/131669115-228d7a39-91f2-4aa3-9482-86fc1dc9944e.JPG)
![4](https://user-images.githubusercontent.com/26819449/131669118-a39aab97-1

[2021-09-01 12:30] sushreebarsa commented on #51786
@starboyvarun In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-01 12:58] Qrox commented on #46036
Seems to work fine now after updating to tensorflow 2.5 and CUDA 11.2.

[2021-09-01 12:58] #46036 closed

[2021-09-01 13:05] #19168 closed

[2021-09-01 13:26] Shadowman82 commented on #45943
Hello I wanted to ask if you managed to solve this and how you were able to build TF 2.4 in order to see that function. I am still getting the Linker error symbol not found on "class tensorflow::Status __cdecl tensorflow::FreezeSavedModel" even after modifying the BUILD file to include it. Thank you

[2021-09-01 13:27] sushreebarsa commented on #51786
@starboyvarun We see that this issue is more specific to Janggu.Please post this issue in Janggu repo to get the right help!Thanks!

[2021-09-01 14:05] #25480 closed

[2021-09-01 14:12] NEGU93 opened #51787 "tf.nn.max_pool_with_argmax to support multiple dimensions (ND)"
Currently, there is a function called [tf.nn.max_pool_with_argmax](https://www.tensorflow.org/api_docs/python/tf/nn/max_pool_with_argmax).
This function is useful to, for example, implement [MaxUnpooling](https://www.oreilly.com/library/view/hands-on-convolutional-neural/9781789130331/6476c4d5-19f2-455f-8590-c6f99504b7a5.xhtml).

However, it would be great if the function supported several dimensi

[2021-09-01 14:21] busFred commented on #45943
The problem is never resolved. I haven't touch this project for quite awhile and I have forgot how I get it. But I think it was a lot of gdb backtrace that leads me to the file.

[2021-09-01 14:45] Saduf2019 commented on #51677
@kaiyu-pony
You can use "tf.compat.v1.disable_eager_execution()" to avoid the error, please refer to this [gist here](https://colab.research.google.com/gist/Saduf2019/eedfcb6027362d1c0dc5db5ce5aca460/untitled631.ipynb).

[2021-09-01 15:01] elfringham commented on #50873
Fixed by the merge of #44549

[2021-09-01 15:04] kun-lu20 commented on #51770
@sushreebarsa Thanks! I'll look into them and get back to you later.

[2021-09-01 15:05] #51546 closed

[2021-09-01 15:13] akkshay0107 commented on #51723
@sanatmpa1 the build has worked after disabling XLA JIT but after that there is an installation error
[code]
is there any way to fix this ?

[2021-09-01 15:23] sanatmpa1 commented on #51772
@remotepilotsam,

Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) for us to expedite the trouble-shooting process. Thanks!

[2021-09-01 15:35] dash-myelin commented on #51746
@mohantym @sanatmpa1 Is anyone going to help me with this issue? It's a critical bug that is not supposed to be there in the first place and still, no one is responding for the past 2 days.

It's really frustrating that after all the training and evaluation when you are finally going to deploy a model, you can't even save it!

Also, it's a **Quantization Aware Model** that is being saved.

Please

[2021-09-01 15:44] cfRod commented on #51750
Related issue https://github.com/abseil/abseil-cpp/issues/662.

[2021-09-01 15:49] sanatmpa1 commented on #51746
@dash-myelin,

I am able to reproduce the issue with `TF 2.6.0` whereas it works fine when using `tf-nightly`. Please take a look at the [gist here](https://colab.research.google.com/gist/sanatmpa1/b4d16c99e24f16c7fbbd2af1832c6de9/51746.ipynb) and let me know if it helps. Thanks!

[2021-09-01 15:55] impjdi commented on #44659
@WillLiGitHub you're posting a completely irrelevant issue to a closed bug...

Anyway, your ADD operation below LOGISTIC has only 1 input, which means the other input is a constant.  And I assume that's a 3D tensor.

[2021-09-01 15:56] old-school-kid commented on #51769
Thank you @sanatmpa1
I was trying to save the model with the regularization. But saving the base model works too. So we can close the issue.
I was wondering if we could save the nsl model directly as a tensorflow model and not save the base model explicitly. Would be easy in that way.

[2021-09-01 16:05] #51489 closed

[2021-09-01 16:05] #24817 closed

[2021-09-01 16:09] sanatmpa1 commented on #51784
@Sur3,

Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).Also can you please elaborate about your Feature and please specify the Use Cases for this feature. Thanks!

[2021-09-01 16:25] sanatmpa1 commented on #51483
@sujithsudhi,

Can you please take a look at this similar issue #45285, also you can checkout this #46673, #45170 which discussed about the similar problem. let me know if it helps. Thanks!

[2021-09-01 16:27] mohantym commented on #26436
Hi @moritzmeister !
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-01 16:29] mohantym commented on #27155
Hi @edrozenberg !
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-01 16:34] kaiyu-pony commented on #51677
@Saduf2019 I see. But for some reason I need to avoid that in my project.
Is this the expected behavior? If so, could you please make the error message clearer? Otherwise, could you please fix it?

[2021-09-01 16:39] mohantym commented on #26841
Hi @phquanta ,
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade the code base to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-01 16:52] mohantym commented on #51771
Hi @sanatmpa1 ,Could you please look at this issue , providing [gist](https://colab.research.google.com/gist/mohantym/ad7afdd8f8f312b5c84b2c4d7d417696/github_51771.ipynb#scrollTo=Q-WhCzmqRkiw) for reference.

[2021-09-01 17:05] #24513 closed

[2021-09-01 17:05] #24123 closed

[2021-09-01 17:07] mohantym commented on #37094
Hi @FB43 ,  Could you please look at this[ link ](https://www.tensorflow.org/install/source_windows#tensorflow_1x)for installing from source in windows.
We also see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you

[2021-09-01 17:13] Sur3 commented on #51784
**System information**
- TensorFlow version (you are using): tensorflow-2.5.0
- Are you willing to contribute it (Yes/No): maybe

**Describe the feature and the current behavior/state.**

Training a dense layer on say 3x4 inputs results in 3x4 weights for every output:
[code]

It would be nice to tell the layer that some weights are equal, meaning for example with a repeating pattern of four weigh

[2021-09-01 17:24] cbalint13 commented on #51750
@hwrod,
@cfRod

* Can you try [tensorflow-aarch64.patch.gz](https://github.com/tensorflow/tensorflow/files/7093182/tensorflow-aarch64.patch.gz) patch ?
* In basic is a backport from [absl upstream](https://github.com/abseil/abseil-cpp/commit/2e94e5b6e152df9fa9c2fe8c1b96e1393973d32c) that adress exactly this issue.

If works we can PR it into tensorflow.

[2021-09-01 17:31] GEllickson-Hover commented on #43073
@piisku78 I believe this is at least partly due to how at least some GPU work as @lrdxgm alluded to as well. Taking a look this [Adreno GPU doc](https://developer.qualcomm.com/qfile/33472/80-nb295-11_a.pdf) (one of the most common GPUs) in section 3.4 it says that long-running GPU compute kernels can block the graphics pipeline, so they recommend making sure the work is in the 10s of milliseconds.

[2021-09-01 17:46] bfontain commented on #50567
Hi, the issue is the -1 in the output shape of the convolution. TPUs generally require static shapes, and this includes the output_shape. Your code example works for me if I make the following change:
[code]
I have filed an internal bug to track returning a better error to the user in this case.

[2021-09-01 18:42] hrw commented on #51750
will check tomorrow

[2021-09-01 20:10] #46343 closed

[2021-09-01 20:33] hrw commented on #51750
[code]

[2021-09-01 21:23] rafikg commented on #37339
I have the same bug in Tensorflow 2.6.0 as well

[2021-09-01 21:39] kun-lu20 commented on #51770
Hi @sushreebarsa , these links really help! Issue https://github.com/tensorflow/tensorflow/issues/40049 is similar as well.

It looks like the root cause is that the recent commit https://github.com/tensorflow/tensorflow/commit/738e5aa37935f713a2366fc00a26d1d5830cb971 has the dependency of secure variant of `GRPC`, which depends on `boringssl`, while `boringssl` does not support big-endian systems

[2021-09-01 21:59] #50822 closed

[2021-09-01 22:06] ymodak commented on #39174
You can find Libtensorflow packages on tf website now
https://www.tensorflow.org/install/lang_c#download

[2021-09-01 22:10] #39174 closed

[2021-09-01 22:31] ymodak commented on #44622
Please refer TF and cuda compatibility chart https://www.tensorflow.org/install/source#gpu
Thanks!

[2021-09-01 22:31] #44622 closed

[2021-09-01 22:37] ymodak commented on #45011
Closing this issue since its resolved. Feel free to update the thread if still have problems. Thanks!

[2021-09-01 22:37] #45011 closed

[2021-09-02 01:26] mohantym commented on #51787
Hi @NEGU93 ,Please fill the template for feature request too. Thanks!

[2021-09-02 01:31] zpcalan commented on #51778
OK, I'll try later.

[2021-09-02 02:03] zldrobit commented on #42427
@sanatmpa1  I am closing this issue, as the PR addressed the problem.
Now I could successfully build the debug version of TensorFlow v2.6.0 with
[code]

[2021-09-02 02:03] #42427 closed

[2021-09-02 03:05] #51233 closed

[2021-09-02 03:28] kumariko commented on #20870
@nxphi47 We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help. If it is resolved then please feel free to move this issue to

[2021-09-02 03:34] starboyvarun commented on #51786
@sushreebarsa you must be getting other errors when compiling it. because you haven't done the previous import.
But the error I have reported here is related to TensorFlow or Keras. This is a code snippet.
Also, tell me why do we get such errors and also give the reference.
Thanks!

[2021-09-02 03:34] kumariko commented on #21432
@EdwardLin2014 We are checking to see if we can close this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF. If it is resolved then please feel free to move this issue to close status.Thanks!

[2021-09-02 05:14] sanatmpa1 commented on #51179
@crawlingcub,

Are you able to update your tensorflow version to `2.6.0` and check if the same issue persists? because the one that I reproduced in colab is with TF 2.6.0 and I see the issue reported by you is with `TF 2.5.0`.

[2021-09-02 05:26] jimch3n opened #51789 "modify_model_interface removing input float tensor is not completed, memory allocator occupied this dummy tensor"
### 1. System information
TFLM
Tensorflow r2.5

### 2. Code
code in tensorflow\tensorflow\lite\tools\optimize\modify_model_interface.cc

Function: RemoveInputTensor
`code: c
 // Removes the input tensor and the related operator.
  for (auto tot : inputs) {
    SubGraphT* subgraph = model->subgraphs.at(tot.subgraph_index).get();
    TFLITE_DCHECK(tot.input_index < subgraph->tensors.size());
    TFL

[2021-09-02 05:51] mgmm13 commented on #42105
Hello, is there any chance that vulnerability fix will be applied in versions like 2.3.4?

[2021-09-02 05:56] GCidd opened #51790 "Transfer learning ResNet mode performance drop in recent versions"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2021-09-02 06:02] mgmm13 commented on #42129
Hello, is there any chance that vulnerability fix will be applied in versions like 2.3.4?

[2021-09-02 06:05] GeorgeS2019 commented on #35405
@mohantym   if you check the feedback here, most have given up. With LibTorch, we have a reliable VS2019 project solutions to iteratively integrate LibTorch for .NET community.  I went through the link. It seems to focus on Python and not c++ Tensorflowlib build. Please engage further improvement.

[2021-09-02 06:05] #51551 closed

[2021-09-02 07:08] eli-osherovich opened #51792 "weighted_moments produces NaNs when weights are all zeros"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): git
- Python

[2021-09-02 08:05] #51550 closed

[2021-09-02 08:07] sahasraa commented on #38800
i am having this issue please help
Traceback (most recent call last):
  File "/home/sahasra/jukshio/object_det_rec/TensorFlow/models/research/seq_flow_lite/export_to_tflite.py", line 24, in <module>
    import tensorflow.compat.v2 as tf
ModuleNotFoundError: No module named 'tensorflow.compat'

im using tensorflow : 2.5.0
                  python : 3.9.6

[2021-09-02 08:07] l-bat opened #51793 "Unable to restore the model with shared ops using from_config()"
**System information**
- OS Platform and Distribution:  Linux Ubuntu 18.04
- TensorFlow installed from pip
- TensorFlow version: 2.6.0
- Python version: 3.7.11
- CUDA Version: 11.2
-  Driver Version: 460.80

**Describe the current behavior**
Can not load model with shared ops from config. During loading, the outputs of the shared operation are placed in the wrong positions.

**Describe the expecte

[2021-09-02 08:09] mohantym commented on #51792
Hi @eli-osherovich !You should provide only positive weights  in w , Here 0's are not positive weights.
Reference -https://www.tensorflow.org/api_docs/python/tf/nn/weighted_moments#args

[2021-09-02 08:26] kumariko commented on #28854
@fuzzyBatman We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-09-02 08:30] kumariko commented on #35491
@rajputashu Could you please let us know if this issue still persists ? If it it resolved then please feel free to move this issue to close status ?Thanks!

[2021-09-02 08:40] eli-osherovich commented on #51792
I understand the rationale, yet, I believe that all-zeros is still a valid case.

[2021-09-02 08:55] kumariko commented on #29736
@klemen-forstneric We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-09-02 08:57] kumariko commented on #29693
@ignvinay We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-09-02 09:09] kumariko commented on #29490
@mun3 Could you please let us know if this issue still persists ? If it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-02 09:15] kumariko commented on #29486
@stiv-yakovenko Could you please let us know if you still need help on this ? We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. If it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-02 09:16] sushreebarsa commented on #51790
@GCidd Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-09-02 09:23] kumariko commented on #29236
@hossein-b Could you please let us know if you still need help on this ? if it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-02 10:34] stiv-yakovenko commented on #29486
Sorry, I don't even remember how i was able to reproduce this.

[2021-09-02 10:44] sanatmpa1 commented on #51730
@Silvio-Ma,

Have you tried following this [guide](https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow_cpu-2.6.0-cp38-cp38-win_amd64.whl) to install the tensorflow for windows? If not, Can you try creating a new venv and install as per the guide and let us know if it helps? Thanks!

[2021-09-02 10:54] uoyssim opened #51795 "tf.GradientTape not working properly."
Recently I made new network & trained it with tf.Gradient.

But losses didn't decrease.

So I tested in different examples in [tensorflow tutorial](https://www.tensorflow.org/tutorials/images/cnn?hl=en)

When I tested, I used tensorflow turorial code except training part.

Please let me know if there is any wrong usage.

**System information**
- Have I written custom code (as opposed to using a st

[2021-09-02 11:05] #27752 closed

[2021-09-02 11:05] #27033 closed

[2021-09-02 11:08] #29486 closed

[2021-09-02 11:10] Koushik667 commented on #50801
@karimnosseir Any updates on this issue?

[2021-09-02 11:18] hrw commented on #51750
It is kind of chicken and egg.

To install Tensorflow 2.7 you need tensorflow-io-gcs-filesystem.

To build tensorflow-io-gcs-filesystem you need Tensorflow package. Good that 0.20 needs TF 2.6.0+.

I have something built but need to clean my hacks and submit them to tensorflow/io (several already got merged).

[2021-09-02 11:18] sushreebarsa commented on #51770
@kun-lu20 Thank you for the update! The recent commit 738e5aa  is in work in progress. We recommend you to use to stable Version.After replacing each`@com_github_grpc_grpc//:grpc++` with `//tensorflow:grpc++ ` in `tensorflow/distribute/experimental/rpc/kernels/BUILD`, which will conditionally choose secure/unsecure variant of `GRPC` as per the target arch, if the the master build works fine, Could

[2021-09-02 11:22] cfRod commented on #51750
So those changes will be in tensorflow/io?... and do we need TensorFlow then to pick the right version of tensorflow-io-gcs-filesystem?

[2021-09-02 11:22] bizzyvinci opened #51796 "Attributes section in Keras Model (documentation) is not generated properly"
Model attributes section in the documentation has 2 issues:

1. It is duplicated: [attributes](https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#attributes) and [attributes_1](https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#attributes_1). You might have to look at table of content to spot the difference.
2. Some attributes are missing even though t

[2021-09-02 11:34] i7p9h9 commented on #43690
Hello, I found the temporary solution:
You should to set drop_remainder to "True" to fix the size of batch.

[2021-09-02 11:47] hrw commented on #51750
@cfRod no - this issue is about Tensorflow. Once it is fixed we can build Tensorflow 2.7-git.

Installing it would require tensorflow-io-gcs-filesystem which is from tensorflow/io which is other project. And I sent several aarch64 related changes/issues there already.

[2021-09-02 12:02] uoyssim commented on #51795
Thanks for the quick response :)

[code]

[2021-09-02 12:29] mervess commented on #27519
What fixed it for me:
Use either `tf.config.run_functions_eagerly(True)`, or compile the model with the flag `run_eagerly=True`.
Then, add `if tf.executing_eagerly():` before calling the `.numpy()` function.

TF version: 2.5.0, I use *tensorflow.keras*.

[2021-09-02 12:29] sushreebarsa commented on #51795
@uoyssim Thank you for the response!
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-09-02 13:04] harshitadd opened #51797 "Interpreter invocation error after input tensor resizing"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.6.0

Error: Post reshaping the input sizes of my tensors - the interpreter invocation fails with an input-output shape mismatch. [ Stack trace in the

[2021-09-02 13:21] karinaaq commented on #42451
Hi, maybe you should just write it without the 's' in http:
!pip install -q git+http://github.com/tensorflow/examples.git
That worked for me, I had the same problem!

[2021-09-02 13:28] DenysMenfredy commented on #51724
@Saduf2019 Still not working here... I am able to see a gpu when I put nvidia-smi but when I try to list GPU's using tf.config it returns an empty list... This update to tensorflow 2.6 broke so many things in colab, like saving models using tf.save it's a headache now

[2021-09-02 13:31] kun-lu20 commented on #51770
Closing the issue.

[2021-09-02 13:50] sjtusmartboy opened #51798 "tensorflow2 memory leak when using tf.function"
I post this question here because no one is able to answer it for over a month. Hope someone here would give the solution.
https://stackoverflow.com/questions/68379996/how-to-profile-tensorflow-memory

[2021-09-02 13:50] AndreyOrb opened #51799 "Compiling TF 2.6 in debug mode on Windows env."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): r2.6.0
- P

[2021-09-02 13:56] sanatmpa1 commented on #51769
@old-school-kid,

Thanks for the update, glad its working fine for you, kindly move this issue to closed status as it is resolved.

[2021-09-02 14:14] ymodak commented on #42361
Closing this issue since the above PR is merged and fixes it. Feel free to reopen if necessary. Thanks!

[2021-09-02 14:19] letdivedeep opened #51800 "Android GPU delegate gives same output from intermediate layers output"
Hi Team

I have trained a mobilnetv2  model using the tfod API.  Along with the normal detector output (bbox, score,num_detection, confidences), I also wanted an intermediate layers output, so  while converting the model to tflite i specified the intemediate node from where i needed the output ('FeatureExtractor/MobilenetV2/expanded_conv_9/add') as illustrated below :

`tflite_convert --graph_def_

[2021-09-02 14:20] ggardiakos commented on #25403
In windows ended python tasks worked

[2021-09-02 14:22] Silvio-Ma commented on #51730
@sanatmpa1

May you send the guide again, the link you have sent above is pointing to a wheel file.
Thanks

[2021-09-02 14:23] nitsanhasson opened #51801 "When loading a saved model with multiple outputs, outputs order is not deterministic"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.5

[2021-09-02 14:51] ymodak commented on #49119
Closing this issue since above FR to cover this topic. Thanks!

[2021-09-02 14:51] #49119 closed

[2021-09-02 14:52] MIHIRKHAMBETE commented on #51684
Solved by running `conda install pip` before pip installing tensorflow 2.6.0 when making the virtual environment.

[2021-09-02 14:52] #51684 closed

[2021-09-02 14:53] thor4 commented on #50881
thanks, I am working on a jupyter nodebook and will provide soon

[2021-09-02 14:57] #36935 closed

[2021-09-02 15:10] ysyyork opened #51802 "how to use SparseTensor with ctc loss where the label's length varies within one batch"
how to use SparseTensor with ctc loss where the label's length varies within one batch.

IDK how to formulate a sparse tensor with different lengths and pass into the ctc loss. any example here?

[2021-09-02 15:13] PrakharPrashantSingh commented on #44936
same issue here.. i have Ryzen 9 3900x and RTX 3070.. python starts and then freezes for 10 minutes before executing something and then suddenly starts working again with good FPS in YoloV4 implementation with Tensorflow backend!

This is stupid....
![erroe](https://user-images.githubusercontent.com/40795304/131869711-29870461-cfeb-47b5-9cbf-d9a519851640.PNG)

[2021-09-02 15:16] ymodak commented on #18323
Can you also try setting the seed for the kernel_initializer in each layer ?
[code]

[2021-09-02 15:21] sushreebarsa commented on #51801
@nitsanhasson
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-09-02 15:22] yongtang commented on #42421
With the latest tf-nightly I believe the issue has been resolved with no crash anymore:
[code]

[2021-09-02 15:23] yongtang commented on #42421
@mjkim720 I will close this issue for now, but feel free to re-open if the issue persists.

[2021-09-02 15:23] #42421 closed

[2021-09-02 15:25] sanatmpa1 commented on #26359
@Niran89,

Can you take a look at the above comment and let us know if it helps in resolving your issue.Thanks!

[2021-09-02 15:27] sanatmpa1 commented on #25133
@raaaaay-c,

Have you checked if you had any rows with missing values like `df[df['review'].isnan()]` since NaN is a special type of floating point value.

Also since this issue was with TF 1.x and the official support is ended for the same. Can you try updating the latest stable version `2.6.0` and let us know if you still face any challenges with the same. Thanks!

[2021-09-02 15:55] moritzmeister commented on #26436
Yes, this is outdated, will close.

[2021-09-02 15:55] #26436 closed

[2021-09-02 16:10] sushreebarsa commented on #37029
@smatzek With the latest `tf-nightly` I believe the issue has been resolved with no crash anymore:Could you Please find the [gist ](https://colab.research.google.com/gist/sushreebarsa/93c4ba41732627df5e750ca1865ddb99/untitled299.ipynb#scrollTo=29gASIMYoGZD)here for reference and confirm the same ?Thank you!

[2021-09-02 16:20] tanzhenyu commented on #33375
This solves my problem and saves the day :-)

[2021-09-02 16:22] sanatmpa1 commented on #24789
@sonnguyen64,

We see you were using an older version of Tensorflow `1.x` which is not officially supported anymore. We recommend that you upgrade to latest stable version and let us know if the issue still persists.Thanks!

[2021-09-02 16:41] sanatmpa1 commented on #51800
@letdivedeep,

I see that you have mentioned the TF version as `1.5` which is no more supported officially. Can you try updating to latest stable version i.e `2.6.0` and let us know if the issue still persists? Thanks!

[2021-09-02 16:50] makisgrammenos opened #51803 "GPU Error: Check failed: work_element_count > 0 (0 vs. 0)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-09-02 16:55] maingoh commented on #35160
I rebuilt tf 2.6.0 from source, the conclusion is the same. I am still using a saved_model trained using tf1 (I don't have one in tf2).

To be honest, I don't think it will magically be fixed without a proper debug or PR addressing it. It might come from a dependency or maybe it is not even fixable because of the way the new C++ ABI works.

The official docker images are still built using the old

[2021-09-02 16:57] letdivedeep commented on #51800
@sanatmpa1 Thanks for the response

 I mean to say I trained a model with tfod API with TensorFlow 1.15 version. But while inferencing on the android I used 'org.tensorflow:tensorflow-lite:2.4.0' version

[2021-09-02 17:27] mihaimaruseac commented on #42129
Hi. Not in 2.3.4, as the 2.3.x has reached end of life.

It is already included in 2.4.0 and later

[2021-09-02 17:27] mihaimaruseac commented on #42105
Hi. Not in 2.3.4, as the 2.3.x has reached end of life.

It is already included in 2.4.0 and later

[2021-09-02 17:34] yakovdan opened #51804 "Hexagon Delegate crashes on max pooling operation"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Snapdragon 855 dev platform
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use

[2021-09-02 17:46] sfines-clgx commented on #50512
I have a similar Issue:

`  (0) Invalid argument:  indices[4,0] = -1 is not in [0, 8)
	 [[node model_y_dnn/condition_embed_layer/embedding_lookup (defined at /tmp/tmpb36iffpd/dnn_model.py:163) ]]
  (1) Invalid argument:  indices[4,0] = -1 is not in [0, 8)
	 [[node model_y_dnn/condition_embed_layer/embedding_lookup (defined at /tmp/tmpb36iffpd/dnn_model.py:163) ]]
	 [[model_y_dnn/condition_embed_la

[2021-09-02 17:58] hossein-b commented on #29236
Thanks for your comment. I changed my mind to use Python Tensorflow, and it solved my problem.

[2021-09-02 18:05] #51568 closed

[2021-09-02 18:05] #50871 closed

[2021-09-02 18:23] cantonios commented on #51643
Yes, this looks like an XLA overflow issue for complex division.  It's probably using the native complex division algorithm.

[2021-09-02 20:20] yatbear commented on #51778
Hi @mohantym, this seems to be a question for **TensorFlow** rather than **TensorBoard**, since TensorBoard just _renders_ whatever is in the op graph it receives, it doesn't control what distribution-related ops are included. Thanks!

[2021-09-02 20:26] Burtininkas69 opened #51805 "Can not install python3-pip"
Hello, I am new to python. I was trying to install pip, but I get and error whitch I can not find a way to fix it
Code that I am running:
`sudo apt install python3 python3-pip`
What I am getting:
[code]
Also tried to do `sudo apt --fix-broken install` like statet in the last line, but got this:
[code]

Any ideas on how to fix it?
Running Linux PopOs
npm -v: 6.14.15

[2021-09-02 20:41] fuzzyBatman commented on #28854
Hi! I stopped working on that project a year ago

[2021-09-02 20:41] #28854 closed

[2021-09-02 20:51] cbalint13 commented on #51750
Thanks for the confirmation @cfRod !
* It seems to pass olso on my [side](https://download.copr.fedorainfracloud.org/results/rezso/ML/fedora-rawhide-aarch64/02679631-tensorflow/builder-live.log) too.
* I try merge into upstream via a new [PR#51806](https://github.com/tensorflow/tensorflow/pull/51806) .

[2021-09-02 20:54] JXRiver commented on #46635
Hi, thanks for raising the issue. According to @edloper "Basically, RaggedTensorVariant objects should never be copied to GPU, because we can't do anything useful with them there. But Placer isn't currently smart enough to figure that out (it just sees a Variant tensor, and doesn't know what kind of value it contains)." We have a project going on right now that hopefully will fix the issue.

[2021-09-02 21:09] rubenlg commented on #29964
Thanks for filing this issue. I just had this problem as well. Reading the reason why it happens, it makes a lot of sense. In order to report the metrics after the backpropagation, tensorflow would need to do an extra forward pass, which has performance implications.

[2021-09-02 21:17] yeshbourne commented on #48689
import numpy as np
import tensorflow as tf

image_data = tf.data.Dataset.list_files("./quant-images/*.jpg")
HEIGHT, WIDTH = 640, 640

def representative_dataset_gen():
   for image_path in image_data:
       img = tf.io.read_file(image_path)
       img = tf.io.decode_image(img, channels=3)
       img = tf.image.convert_image_dtype(img, tf.float32)
       resized_img = tf.image.resize(img, (HEIGHT,

[2021-09-02 22:57] nfelt commented on #36128
Thank you very much for filing this issue with such a detailed and comprehensive reproduction!  I apologize for the long delay in actually investigating this further.

I've done more of a deep dive in this colab of my own: https://gist.github.com/nfelt/0ae51ba3eb901b3438d9eab9a7ca4d16

To summarize my conclusions:

- A) The main problem you identified, with a large number of entirely missing count

[2021-09-03 00:29] bhack commented on #51393
Can you reproduce this on TF 2.6 or TF nightly.
I've tried the Colab with TF 2.6 and It seems to freeze.

[2021-09-03 00:44] jvishnuvardhan commented on #39013
@pabloi09 Looks like this may be due to providing multi-input to a keras Sequential model. Please note that Sequential models only works with single-input and single-output. For multi input/outputs, please use Functional model.

The warning also clearly mentions about multi-outputs provided to the model.

I tried to remove one branch in your multi-input Sequential model. With those modification, i

[2021-09-03 00:54] mgmm13 commented on #42105
@mihaimaruseac noted on this, thank you for the feedback.

[2021-09-03 00:54] mgmm13 commented on #42129
@mihaimaruseac noted on this, thank you for the feedback.

[2021-09-03 00:58] mihaimaruseac commented on #46890
There are still a few PRs that need to land here.

[2021-09-03 01:43] abattery commented on #30799
Closing due to the no response. Please file a new issue if this issue persists on the recent TF version.

[2021-09-03 01:43] #30799 closed

[2021-09-03 01:52] kumariko commented on #29236
@hossein-b Could you please close this ticket if it is resolved for you ?

[2021-09-03 02:00] hx1997 opened #51809 "Gradient accmulation with LSTM achieving lower accuracy on testset"
Hi,

Sorry if this is not the right place. I'm really at a loss for my problems.
I'm using TF 2.4, and I'm trying to do gradient accumulation with my model, which is three layers of LSTM connected to three Dense layers. I'm also using a "sub-network" trick-- in each layer of my model, the first x% neurons are taken to form a sub-network, with its weights shared with the full network. (For example,

[2021-09-03 02:06] lifeiteng commented on #43165
same problem

[2021-09-03 02:10] rabintang commented on #37652
in estimator it can work, but in keras it doesn't.
https://colab.research.google.com/gist/sushreebarsa/828257b5977439dea95ee3d48bcab242/untitled105.ipynb#scrollTo=45EerngFwltz

[2021-09-03 02:55] tanveer6715 opened #51810 "RuntimeError: tensorflow/lite/kernels/conv.cc:349 input->dims->data[3] != filter->dims->data[3] (64 != 1)Node number 13 (CONV_2D) failed to prepare."
Hello I am using semantic segmentation model. The model is suclass custom model. It has been trained and saved successfully. i also convert it into tflite version. But when I tried for inference of tflite model it shows the mentioned error in allocating tensors. i have also tried it using tf-nightly 2.7 and tf version 2.5 but it shows same error while allocation tensor. Any help will be highly app

[2021-09-03 04:30] mohantym commented on #51802
Hi @ysyyork ! Please have a look at this[ link](https://www.tensorflow.org/api_docs/python/tf/nn/ctc_loss) for answer. But We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-09-03 05:30] klemen-forstneric commented on #29736
Hi @kumariko, I don't need help anymore. Thanks for the tip!

[2021-09-03 05:48] sanatmpa1 commented on #51730
@Silvio-Ma,

Can you checkout this [guide](https://www.tensorflow.org/install/source_windows) for TF installation in windows. Thanks!

[2021-09-03 05:55] kumariko commented on #29736
@klemen-forstneric Thanks for the update. closing this issue.

[2021-09-03 05:55] #29736 closed

[2021-09-03 06:11] gaoteng-git opened #51812 "Is there any update on profiler's TensorCores eligible rules?"
@yisitu
I find the rules code to judge whether a kernel uses Tensor Cores is 1~2 years old. I'm not sure whether there should be new updates, along with latest hardward chips or library updates.
BTW, how these rules come from? Is there any doc that lists all kernels which uses Tensor Cores?

https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/tensorflow/core/prof

[2021-09-03 06:17] mohantym commented on #51805
Hi @Burtininkas69 , This does not look like a Tensorflow issue. You can have a look a the instructions[ here ](https://docs.python-guide.org/starting/install3/linux/) though in case you might have missed some steps.

[2021-09-03 06:19] mohantym commented on #51796
Hi @Saduf2019. Could you please look at this issue!

[2021-09-03 06:23] ysyyork commented on #51802
Hi @mohamedadaly

Sorry i didn't follow the format because all I want is just some explanation but not a bug.

But the tf version is 2.4.0. I already read all the API doc about ctc loss but just that I'm a bit confused about how to make it work with SparseTensor.

My question is that, for example, if I have a labels like below:
[code]
How to indicate the different lengths with SparseTensor?

For d

[2021-09-03 07:15] undcloud opened #51813 "tf.io.decode_image will flip the image"
Please look at [colab](https://colab.research.google.com/drive/1gybGlto8ol7lnE82G9LLx0-DhRWtweUd#scrollTo=gecIt24H9fHO)

![IMG_20210729_194824430_MFNR](https://user-images.githubusercontent.com/33624574/131965649-813d23db-d14d-4c12-8dd5-25c3bf313e90.jpg)

[2021-09-03 07:18] songcaidao commented on #39013
Thanks to @jvishnuvardhan 's reply, I was reminded  to check my code and then I found I was using **tf.keras.layers.Input**, when I tried to use **tf.keras.Input**, the error just gone. Maybe the previous is a type of keras Sequential model?

[2021-09-03 07:19] sushreebarsa commented on #51813
@AR-fan
In order to expedite the trouble-shooting process,Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).Thanks!

[2021-09-03 07:27] sanjoy commented on #50735
Hi @nectario,

Can you try running with `CUDA_LAUNCH_BLOCKING=1` in the environment & share the logs?  That should isolate the error to the actual GPU operation that caused it.

Also: do you have a reproducer that does not depend on separate data files, like `./y_val_two_week_return.pkl`?

[2021-09-03 07:30] sanjoy commented on #50943
@sbushmanov I suggest using the `tensorflow/tensorflow:devel-gpu` docker image (details [here](https://www.tensorflow.org/install/docker#download_a_tensorflow_docker_image)) which should have the correct deps installed.

[2021-09-03 07:46] AR-fan commented on #51813
@sushreebarsa

- Have I written custom code :
[code]
- OS Platform and Distribution : colab Linux version 5.4.104+
- TensorFlow version : 2.6.0
- Python version : Python 3.7.11
- GCC/Compiler version (if compiling from source) : gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
- CUDA/cuDNN version : None

**Describe the current behavior**
tf.io.decode_image op will flip the input image

**Describe the expe

[2021-09-03 08:02] BakaZoro commented on #45930
Thanks! This worked for me .

[2021-09-03 08:13] cfRod commented on #51750
@hrw > no - this issue is about Tensorflow.
I was referring to the issue on tensorflow-io-gcs-filesystem actually but thanks for the update. Is it just tensorflow/io#1441 that is remaining?

@cbalint13 thanks for the PR.

[2021-09-03 08:16] hrw commented on #51750
Depends on build environment. I do builds in manylinux2014 so https://github.com/tensorflow/io/issues/1510 is a problem too (due to gcc 10).

[2021-09-03 08:20] mateusz1981 opened #51814 "Connection to pythong"
I got folowing error using tensorflow in R
[code]

[2021-09-03 08:27] mohantym commented on #51792
Hi @Saduf2019 , Could you look into this please . providing[ gist](https://colab.research.google.com/gist/mohantym/bfc557013a0db04183e0c2d2ba4cec79/github_51792.ipynb) for reference . issue is replicating in 2.5 ,2.6 and nightly

[2021-09-03 08:31] songcaidao commented on #39013
Thanks to @jvishnuvardhan 's reply, I clear the error by remove Sequential model and just use Functional style code.

[2021-09-03 08:35] gonnet commented on #50642
I'm hitting a similar problem. The difference seems to be:

[code]
[code]

i.e. although the Tensors are identical, they have different ragged ranks.

[2021-09-03 08:36] tanveer6715 commented on #51810
Sorry for inconvenience. I have change the share setting of the provided colab link. Now anyone can access to it. If anyone can help to resolve this issue it will be highly appreciated.

[2021-09-03 08:46] mohantym commented on #51814
Hi @mateusz1981 ! Could  you please fill the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-09-03 08:46] starboyvarun opened #51815 "ValueError: Shape must be rank 1 but is rank 0 for"
Value Error: in user code:
    <ipython-input-18-4013e653d9ce>:18 one_hot_matrix  *
        one_hot = tf.reshape(tf.one_hot(label,depth,axis=0), (depth))
    /opt/conda/lib/python3.7/site-packages/tensorflow/python/util/dispatch.py:201 wrapper  **
        return target(*args, **kwargs)
    /opt/conda/lib/python3.7/site-packages/tensorflow/python/ops/array_ops.py:195 reshape
        result = gen_ar

[2021-09-03 09:23] jobpasin opened #51816 "Building TFlite for windows with flex delegate error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2021-09-03 09:26] mohantym commented on #51802
Ok ! We will update the document with an example , Feel free to look at the [comment](https://github.com/tensorflow/tensorflow/issues/41353#issuecomment-658059572) of earlier similar[ issue](https://github.com/tensorflow/tensorflow/issues/41353).  Providing a sample [Gist ](https://colab.research.google.com/gist/mohantym/3a9847de1628a42d12a2d3d64a495d8c/ctc_loss.ipynb#scrollTo=nQX4zZx0eKJG)as an e

[2021-09-03 09:30] ysyyork commented on #51802
@mohantym Thanks for this. this is helpful. Just to make sure. Does that mean instead of using 1 and 0 as the label, I should use tf.nn.log_softmax(1) and tf.nn.log_softmax(0)?

[2021-09-03 10:04] mohantym commented on #51778
Hi @zpcalan , Was getting error in TF 2.6 and TF nightly (2.7.0-dev20210903) , providing [gist ](https://colab.research.google.com/gist/mohantym/882d94eada74ec09a470c37a6023cae7/github_51778.ipynb#scrollTo=bMMrN_v3DVbk)for reference .

[2021-09-03 10:09] jakobwowy commented on #48282
@fvollmer Great example how to handle the state by the user program. Do you have a hint how to handle the states of multiple LSTM layers?

[2021-09-03 10:25] starboyvarun opened #51817 "Facing issue while initializing parameters in tensorflow."
![2](https://user-images.githubusercontent.com/26819449/131990627-7504f592-80e1-478f-ab3d-19a48d7b50b9.JPG)

![1](https://user-images.githubusercontent.com/26819449/131990652-bc585eb8-0be2-4ace-b3c2-b88f05da8e9c.JPG)

Where i am lacking.
I have already ready tensor flow documentation.
Just tell me what should I do.
tf_version_2.3.0
Thanks!

[2021-09-03 10:38] tilakrayal commented on #51653
@LukeBolly ,

Please check the above [comment](https://github.com/tensorflow/tensorflow/issues/51653#issuecomment-905196574) and provide the complete code to reproduce the issue.Thanks!

[2021-09-03 10:55] AlexFuster opened #51818 "Low performance when using persistent mode GradientTape with LSTM/GRU layers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.0
- Py

[2021-09-03 10:57] mohantym commented on #51799
Hi @jvishnuvardhan ,Could you please look at this issue!

[2021-09-03 11:02] mohantym commented on #35977
Hi @alanpurple , Could you try with tested configuration mentioned here in this [link ](https://www.tensorflow.org/install/source_windows#gpu) .

[2021-09-03 11:08] aysebyz5942 commented on #43227
İ hade the same issue did you solv it?

[2021-09-03 11:11] mohantym commented on #35543
Hi @Times125 , Could you please fill the above template which will help  expedite the issue .  Could you  also try with [tested configurations ](https://www.tensorflow.org/install/source_windows#gpu). For installing tensorflow 2.0 with Bazel . Tested configuration for tensorflow_gpu-2.0.0  are below.

tensorflow_gpu-2.0.0 | 3.5-3.7 | MSVC 2017 | Bazel 0.26.1 | 7.4 (cuDNN)| 10 (CUDA)

[2021-09-03 11:28] yakovdan commented on #51804
In case you want replicate creating the quantized model:

Here's a [zip file](https://drive.google.com/file/d/1J3kg2Ul0w0Dw9w29nU4MFRKD7tjv47B8/view?usp=sharing) with the TensorFlow saved_model (./checkpoints/yolov4-416), the original model definitions (./core), the representative dataset based on COCO (./data/dataset/val2017) and the conversion script: convert_tflite.py
which you run like this:
p

[2021-09-03 11:34] omayrkhan commented on #51693
Any update on this? I am trying to do something similar. I want to implement data augmentation in a `tf.data.Dataset` pipeline, but the problem is that the image dimensions are known only at run time.

[2021-09-03 11:43] mohantym commented on #51817
Hi @starboyvarun
This is not a bug or feature request, Please open these type of  issues in [tf discussion forum ](https://discuss.tensorflow.org/)as there is a larger community there.

[code]
Reference :https://www.tensorflow.org/api_docs/python/tf/keras/initializers/GlorotNormal#examples_2
Thank you!

[2021-09-03 11:52] starboyvarun commented on #51817
@mohantym I already told you I have read the documentation.
I asked where I am lacking.
you just copying and pasting the code here.
Thanks!.

[2021-09-03 12:03] sanatmpa1 commented on #51393
@bhack,

I've updated the [gist](https://colab.research.google.com/gist/sanatmpa1/54bf06a243d227c67188c77f1f867ca0/51393-cpu.ipynb#scrollTo=tgqM12gmpM5u) with results from TF 2.6 and TF nightly. Here's a comparison of results,

2.3      - `0:02:12.134876`
2.5      - `0:02:47.300976`
2.6      - `0:01:37.283745`
nightly -`0:02:46.074507`

[2021-09-03 12:12] yakovdan opened #51819 "Converting Hard Swish activation to TFLite efficiently"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.0
-

[2021-09-03 12:25] mohanr opened #51820 "Tensorflow sort changes values in output list to 0 when the tensor datatype is tf.float32 but not for tf.float64"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): M1 Macbook Air where is the issue is seen / Intel Mac where I don't see any issue
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source

[2021-09-03 12:32] ysyyork opened #51821 "ctc_loss: W ./tensorflow/core/util/ctc/ctc_loss_calculator.h:499] No valid path found."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.0
- Python ve

[2021-09-03 12:48] mohantym commented on #51820
Hi @mohanr ,Please look at the [comment ](https://github.com/tensorflow/tensorflow/issues/51499#issuecomment-904821790)of the this similar[ issue ](https://github.com/tensorflow/tensorflow/issues/51499)  . Try with
`a = tf.random.uniform(shape=[n], dtype=tf.float64)`

[2021-09-03 12:58] smatzek commented on #37029
@sushreebarsa I see the gist failing with `InvalidArgumentError:  Default MaxPoolingOp only supports NHWC on device type CPU` rather than an out of memory error.

The [gist from June 23](https://colab.research.google.com/gist/sushreebarsa/b6d69794a8890503affb90f658e3da4d/untitled299.ipynb#scrollTo=juXh8fO8n5in), IS failing on OOM.

[2021-09-03 12:58] #51821 closed

[2021-09-03 12:59] ysyyork commented on #51821
NVM, it's my mistake and understand the thing wrongly

[2021-09-03 13:15] FullZing opened #51823 "[Tensorflow Executor Dialect]"
**MLIR operation format is :**
operation            ::= op-result-list? (generic-operation | custom-operation)
                         trailing-location?
generic-operation    ::= string-literal `(` value-use-list? `)`  successor-list?
                         region-list? dictionary-attribute? `:` function-type
custom-operation     ::= bare-id custom-operation-format
op-result-list       ::= op-r

[2021-09-03 14:05] #51593 closed

[2021-09-03 14:08] AndreyPlotkinOr commented on #51799
The error comes from 2 files:
tensorflow/core/kernels/depthtospace_op.cc and tensorflow/core/kernels/spacetodepth_op.cc

I think it's related to another bug report https://github.com/tensorflow/tensorflow/issues/41118

1) depthtospace_op.cc
I added #if GOOGLE_CUDA || TENSORFLOW_USE_ROCM
and #endif  // GOOGLE_CUDA || TENSORFLOW_USE_ROCM
between lines 115-130, because this code is related only to GP

[2021-09-03 14:23] AndreyPlotkinOr commented on #51799
Another reference: https://stackoverflow.com/a/63339256/1100913

[2021-09-03 14:30] mypey commented on #50926
We investigated a bit and compared the tensorflow logs for tensorflow-2.4.1 (no segfault) and tensorflow-2.5.0 (segfault). We use 1 node with 4 GPUs, 2 workers, and each worker managing 2 GPUs. We also use Keras (`model.fit()`) and the MultiWorkerMirroredStrategy.

Using tensorflow-2.4.1:
[code]

Using tensorflow-2.5.0:
[code]
We see that the communication implementation does not switch to AUTO wi

[2021-09-03 14:43] howl-anderson opened #51824 "Keras model with TPUStrategy get InternalError"
When I fit a Keras Model with TPUStrategy, it got following errors:
[code]

TensorFlow Version:
v2.6.0-0-g919f693420e 2.6.0

**Standalone code to reproduce the issue**

The code used to reproduce this error can be found at https://drive.google.com/file/d/1ceB5VBwFd87Z0ANa_91vhvrOdG4SJQLY/view?usp=sharing

[2021-09-03 14:50] #51772 closed

[2021-09-03 15:16] yjwen commented on #51590
I got the same error and solved  by downgrading flatbuffer from 2.0.0 to 1.12.0. It looks like a version mismatch between tflite and flatbuffer

[2021-09-03 15:23] frgfm opened #51825 "Grouped convolutions generate seriously obscure errors on CPU"
Hello there :wave:

Today I ran into a cumbersome error that only happens when running on CPU instead of GPUs. I tracked the source of the error to grouped convolutions and managed to make a reproducible minimal snippet. I happened to suspect that it was because of grouped convolutions since I ran into some problems a few days ago with those using SavedModels but it's pure luck.

It would be good

[2021-09-03 15:42] sanatmpa1 commented on #51803
@makisgrammenos,

Can you take a look at this similar issues [link1](https://github.com/keras-team/keras/issues/9870), [link2](https://github.com/matterport/Mask_RCNN/issues/521) and this [SO thread](https://stackoverflow.com/questions/51704365/tensorflow-check-failed-work-element-count-0/53586477)

[2021-09-03 15:46] sanatmpa1 commented on #51809
@hx1997,

I see that you are using `TF 2.4`, I would suggest you can update to latest stable version i.e `2.6.0` and if the issue still persists, Please share a reproducible code snippet to expedite the trouble-shooting process. Thanks!

[2021-09-03 15:52] sanjoy commented on #48520
@Lifann I think this is already done, see https://github.com/tensorflow/tensorflow/pull/47936.

[2021-09-03 15:59] mohantym commented on #51824
Hi @howl-anderson !We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-09-03 16:12] atyshka opened #51826 "TF-32 Tensor Cores not used"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.0
-

[2021-09-03 16:16] dash-myelin commented on #51746
@sanatmpa1,

Thanks for the suggestion to use ```tf-nightly```. However, I ran into this issue - [gist here](https://colab.research.google.com/drive/1_afuGL5IUrquuXEhAJkOExN5HXJUbtOt?usp=sharing)

Please let me know what can be done.

[2021-09-03 16:30] howl-anderson commented on #51824
Hi  @mohantym, I have added the TF version and colab link to reproduce the issue. Steps followed before I ran into this error are also list in the colab link.

[2021-09-03 16:57] zipy124 commented on #48890
This should be fixed for newer versions of GCC, as per the above bug report. "Fixed for GCC 10.4, 11.2 and 12."

[2021-09-03 17:00] sumitbinnani opened #51827 "Custom signatures not working with Subclasssed Keras Model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.3
- Python

[2021-09-03 17:04] TechnikEmpire commented on #35081
@lu-wang-g Yeah, then you end up with:

[code]

[2021-09-03 17:04] yisitu commented on #51812
@trisolaran  these rules need to be updated for Ampere and beyond.

[2021-09-03 17:05] zipy124 opened #51828 "Build fails with internal compiler error on file lstm_ops.cc"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.6.0
- Python version: 3.9
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): 10.2.0
- CUDA/cuDNN version: 11.4/8.2.2
- GPU model an

[2021-09-03 17:33] ymodak commented on #40426
This codelab is now updated and uses TF Lite Model Maker module  https://codelabs.developers.google.com/codelabs/recognize-flowers-with-tensorflow-on-android#0
Please give it a try and let us know if you have any questions.
Thanks!

[2021-09-03 17:33] #40426 closed

[2021-09-03 17:54] pangwong commented on #39730
Inherit from tf.keras.callbacks.TensorBoard and rewrite ```on_train_batch_begin/end``` function, and use ```summary_op_v2``` directly(like that in TensorBoard source code),  code likes below:
[code]

[2021-09-03 18:01] rringham commented on #41545
Can this please be added to the documentation?

[2021-09-03 18:05] #51543 closed

[2021-09-03 18:05] #51579 closed

[2021-09-03 18:11] xelandar commented on #46096
Same problem for me. Also Windows 10.

[2021-09-03 18:31] srjoglekar246 commented on #51804
This is certainly weird. What do you mean by 'intermittent'? Does it:

1. Not convert a model sometimes, with a conversion error? OR
2. Converts a model that runs on Hexagon just fine?

[2021-09-03 19:08] yunjiangster commented on #6399
Thanks for the nice tip. I tried adding the final assign op of an initialization function to the TABLE_INITIALIZERS collection before, but only recently realized that it still computes the whole function every time a request comes in during serving. Could you help me understand why it behaves this way?

[2021-09-03 19:11] yarri-oss commented on #51393
@sanatmpa1 are you able to respond to @zongweiz request for more profiling information in this gist?

Here's an example of how you can add an [embedded TB profile run](https://colab.research.google.com/gist/yarri-oss/8d95ef510f6d1e88ef584d57617f57fb#scrollTo=TzD69-eA-K0R) to the 2.5 training. Thanks.

[2021-09-03 19:51] yakovdan commented on #51804
I meant the second option. Sometimes I get a model that runs fine, sometimes I get a model that crashes with the error reported above. One caveat - I haven't yet verified the correctness of the output when executed on Hexagon, just that execution terminates without runtime errors (when it runs fine). However, the same model runs fine on PC, always - and the output is correct as well.

[2021-09-03 20:49] caio-davi commented on #47675
Any news on this?

[2021-09-03 20:58] caio-davi commented on #32927
Any news on this issue?

[2021-09-03 21:30] rbavery commented on #40302
I'm also getting the above error with Tensorflow 2.6

[code]

[code]

[2021-09-03 21:48] rbavery commented on #40302
I can confirm this error does not happen if I install tensorflow 2.3

[2021-09-03 22:26] jvishnuvardhan commented on #46096
Sorry, by mistake this issue got closed. I will reopen it. Thanks!

[2021-09-04 00:24] bhack commented on #51393
@sanatmpa1 I suppose that this numbers other then for 2.6 are wrong.
Can you add this in your Xolab to see if you have visible GPUs on all your tested versions?

[code]

[2021-09-04 01:42] gaoteng-git commented on #51812
@yisitu Thanks! But how do you get the rules? Maybe I could contribute if I know the way to get them.

[2021-09-04 02:00] yisitu commented on #51812
Hi Gao,

It is a heuristic and obtained mainly through observation, empirical data, and research. I agree that it would be great if NVIDIA documentation lists all kernels which uses Tensor Cores. Alternatively, you could read the cuDNN documentation to see the prereqs for using TensorCores and observe what kernels are launched - but this requires significant amount of effort.

Situ

[2021-09-04 03:04] gaoteng-git commented on #51812
Hi yisitu,
Thanks a lot for response!
Do you mean trying to run a lot of classic models on different NVIDIA archtectures(such as Turing and Volta), and using [nvprof and tensor_precision_fu_utilization metric](https://developer.nvidia.com/blog/using-nsight-compute-nvprof-mixed-precision-deep-learning-models/) to check each kernel, recording every one with this metric valid? This way is also time c

[2021-09-04 03:11] yisitu commented on #51812
It is not so much about the models as it is about the resulting cuDNN kernels for each GPU architecture. You can simplify this a little more to cover just the cuDNN TensorCore use cases.

[2021-09-04 04:29] renjie-liu commented on #51819
I think if you do

[code]

the fusion should works

[2021-09-04 04:34] calmisential commented on #51825
In TensorFlow, grouped convolution is only implemented on the GPU version. That is to say, in the CPU version of TensorFlow, you cannot achieve grouped convolution by changing the value of the parameter groups in tf.keras.layers.Conv2D().

[2021-09-04 05:49] awson commented on #46730
I haven't tested 2.6.0, but looked quickly into `tensorflow.lib` from 2.6.0 distro, and I see these particular symbols are now exported correctly.

[2021-09-04 07:38] yakovdan commented on #51819
Confirmed. It works.

Can you please explain why
```x = 0.16667 * x * tf.nn.relu6(x+3)```
does not work but
```tf.nn.relu6(x+3.0) * 0.1666666666666 * x```
works?
Is it a matter of types, or operator order or something else?

[2021-09-04 07:44] Char-Aznable commented on #42221
I got the same error with 2.6.0

[2021-09-04 10:23] ceztko opened #51832 "Forked tf script deadlocks unless disabling intra op parallelism"
**System information**
- Have I written custom code: **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 20.04.2 LTS**
- Mobile device: **No**
- TensorFlow installed from: **pip**
- TensorFlow version (use command below): **v2.6.0-rc2-32-g919f693420e 2.6.0**
- Python version: **3.9.6**
- Bazel/GCC/Compiler version: **Not compiling from source**
- CUDA/cuDNN/GPU version: **U

[2021-09-04 10:35] ceztko commented on #13802
@hawkinsp thank you for the suggestion. I possibly found another tensorflow+fork related issue (#51832). Since in my sample the `fork()` call is not performed by TF itself your `posix_spawnp()` workaround probably doesn't apply. Also I tried to forcely upgrade numpy to version 1.21.2, which uses OpenBlas 3.17, but that also doesn't work. It seems still related to linear algebra operations though,

[2021-09-04 10:38] #51786 closed

[2021-09-04 12:56] hx1997 commented on #51809
Hi Sanat,

Thanks for replying! I'm a little busy recently, but I'll try your suggestions and share reproducible code if necessary.

[2021-09-04 13:06] bzr1 opened #51833 "ValueError: `validation_split` is only supported for Tensors or NumPy arrays, found following types in the input: [<class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>]"
I'm trying to build a neural network for colour recognition, I have 3 categories to sort
part1 of my code is building the data set
----------
import numpy as np
import matplotlib.pyplot as plt
import os
import cv2
import random
import pickle
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten, Conv2D,MaxPool

[2021-09-04 13:07] sushreebarsa commented on #51795
@uoyssim Could you please close this ticket if you have posted the issue in Keras repo ?Thank you!

[2021-09-04 13:46] sushreebarsa commented on #51813
@AR-fan I tried to run your code on Colab using TF v2.6 and didn't face the issue reported here ,Please find the [gist](https://colab.research.google.com/gist/sushreebarsa/72f61f633b7a0b5bad7e5aacd60561f2/-github_issue_41126_ipynb.ipynb#scrollTo=CfrODBN8a4ul) for reference. Could you please have a look at the [link](https://www.tensorflow.org/api_docs/python/tf/io/decode_image) and similar [issue]

[2021-09-04 14:35] makisgrammenos commented on #51803
Already checked them but nothing helped so far.
 I have added some print functions to help debug this problem int `__getitem__`  (data generator) and  in  `__call__` (model)
here is the updated version

get item
[code]

call function:
[code]

and here is the output:
[code]

It seems the tensors with ` shape=(None, None, None, None, None)` are causing the error but I can't figure out why since the

[2021-09-04 15:27] LeoJuh commented on #40804
This worked for me, thank you!

[2021-09-04 15:55] Silvio-Ma commented on #51730
Solved
I tried too many ways for days, this is what finally worked for me:

1- Run cmd as administrator

2- Uninstall tensorflow package

3- Delete unnecessary files, this will save lots of space:
`conda clean --tarballs -packages`

4- Create a new Virtual Environment:
`conda create --name env-tf python=3.8.5 `

5- Download tensorflow whl file, close ALL apps (including browsers), activate the new

[2021-09-04 16:07] #51833 closed

[2021-09-04 17:59] samanemami opened #51834 "staged_predict for Boosted Tree classifier"
<emThe issue related to the performance of the [BoostedTree classifier](https://github.com/tensorflow/estimator/blob/781c0d30c6bf100aa174591dd97cb70fc39d294d/tensorflow_estimator/python/estimator/canned/boosted_trees_test.py#L403) in terms of accuracy.</em>

**System information**

- OS Platform and Distribution: Linux Ubuntu 16.04, Windows 10
- TensorFlow installed from (source or binary): pip in

[2021-09-04 18:00] samanemami commented on #51834
Hi @mihaimaruseac, May I ask for your help on this issue, please?

[2021-09-04 18:38] BearNinja123 opened #51835 "self.add_weight in custom Keras Layers breaks model saving in TF format"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-09-05 06:28] sam351 commented on #51724
@Saduf2019 I moved to the link(gist) that you shared, and ran it in colab. However, it's not working as expected, unlike the saved outputs of the notebook that you've shared. Even in your notebook, the first cell doesn't show any available gpu (that is, it shows an empty list)
By the way, if this repo is not for asking this kind of question, where should I ask? I'm not familiar with the convention

[2021-09-05 07:32] nitsanhasson commented on #51801
@sushreebarsa  Posted there, thanks

[2021-09-05 08:03] sushreebarsa commented on #51801
@nitsanhasson Thanks for the update! Could you Please move this issue to closed status as you have posted the same in keras repo, you will get the right help there?Thanks!

[2021-09-05 08:09] zhaozheng09 opened #51837 "tensorflow support multi-evaluator."
Issues:
1. **OOM**: The model from distributed training is too large (memory) to be restored to the evaluator.
2. **Performance**: The evaluation data is too large (TB), and the stand-alone evaluator is too slow to process the data.
so:
Do we have plans to support distributed evaluator?

[2021-09-05 08:12] zhaozheng09 opened #51838 "tensorflow support multi-evaluator."
Issues:
1. **OOM**: The model from distributed training is too large (memory) to be restored to the evaluator.
2. **Performance**: The evaluation data is too large (TB), and the stand-alone evaluator is too slow to process the data.
so:
Do we have plans to support distributed evaluator?

[2021-09-05 08:13] #51837 closed

[2021-09-05 08:47] #51801 closed

[2021-09-05 10:06] ceztko commented on #51832
I was able to create a dump of the stuck process with gcore and I inspected it with gdb. From the analysis it shows a single thread stuck on a condition variable doing an Eigen operation. It follows an excerpt, attached the full [backtrace](https://github.com/tensorflow/tensorflow/files/7111317/all-threads-stacks.txt):

[code]

The presence of a singe thread probably means that a resource, possibl

[2021-09-05 10:36] renjie-liu commented on #51819
you can check out our existing fusion patterns here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/mlir/lite/transforms/optimize_patterns.td#L253-L317

see two reasons your ops are not fused:

* operator order
* 0.1666666666666 does not match 0.16667

[2021-09-05 12:10] frgfm commented on #51825
@calmisential yes thanks, I understood that during my personal investigation :+1:
My point is that this is far from being obvious with this error message:
- the forward pass is doing well both on CPU & GPU
- however the backpropagation has some troubles on CPU only

So my suggestion is the following:
- If the forward pass is also erroneous, this needs to throw a `NotImplementedError` when doing it

[2021-09-05 12:59] #51769 closed

[2021-09-05 13:44] sjtusmartboy opened #51839 "memory leak in tf.py_function"
tensorflow 2.7 python 3.7

minimum code

[code]

[2021-09-05 14:03] lkmandy commented on #29854
My point was  **tf.dynamic_partition**  doesn't have a **Raises section** like in the case of **tf.map_fn**  [https://bit.ly/3DZ0DCn](https://bit.ly/3DZ0DCn)

There is no section describing possible errors that may occur while using tf.dynamic_partition.

[2021-09-05 14:37] Saduf2019 commented on #46730
@awson
lease move this to closed status as it is resolved now.

[2021-09-05 14:52] Saduf2019 commented on #20628
@sh1ng
Could you please try on latest stable version of tf and let us know if this is still an issue.Thanks!

[2021-09-05 14:54] Saduf2019 commented on #20475
@FrancescoSaverioZuppichini
Could you please try on latest stable version of tf and let us know if this is still an issue.Thanks!

[2021-09-05 14:55] Saduf2019 commented on #20369
@David-Mao
Could you please try on latest stable version of tf and let us know if this is still an issue.Thanks!

[2021-09-05 14:56] Saduf2019 commented on #19440
@AlexanderYukhanov
Could you please try on latest stable version of tf and let us know if this is still an issue.Thanks!

[2021-09-05 14:57] Saduf2019 commented on #19041
@zeyademam
Could you please try on latest stable version of tf and let us know if this is still an issue.Thanks!

[2021-09-05 14:58] Saduf2019 commented on #21622
@Darkknight2018
Could you please try on latest stable version of tf and let us know if this is still an issue.Thanks!

[2021-09-05 14:59] Saduf2019 commented on #21644
@cvJie
Could you please try on latest stable version [2.4/2.5/2.6] of tf and let us know if this is still an issue.Thanks!

[2021-09-05 15:00] Saduf2019 commented on #23845
@candyzone
Could you please try on latest stable version of tf and let us know if this is still an issue.Thanks!

[2021-09-05 15:01] Saduf2019 commented on #24982
@babuya7
Could you please try on latest stable version of tf and let us know if this is still an issue.Thanks!

[2021-09-05 15:02] Saduf2019 commented on #25076
@agniszczotka
Could you please try on latest stable version of tf and let us know if this is still an issue.Thanks!

[2021-09-05 15:03] Saduf2019 commented on #34946
@shizukanaskytree
Could you please try on latest stable version of tf and let us know if this is still an issue.Thanks!

[2021-09-05 15:05] Saduf2019 commented on #34558
@JushBJJ
As tf version below 2.0 is not actively supported, please upgrade to 2.x and let us know if this is still an issue.

[2021-09-05 15:06] Saduf2019 commented on #34612
@stereomatchingkiss
Could you please try on latest stable version of tf and let us know if this is still an issue.Thanks!

[2021-09-05 15:09] Saduf2019 commented on #51796
@bizzyvinci
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-09-05 15:10] thsunkid commented on #50980
@UsharaniPagadala
This gist produces the similar error https://gist.github.com/thsunkid/28731eddd4192cb10f8441e338d84d35.
Can you take a look on it?

[2021-09-05 16:21] EnderWiggin14 opened #51840 "Saving a composite model that includes a custom layer results in error - None has NoneType, but expected one of: bytes, unicode"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-09-05 16:22] EnderWiggin14 commented on #51840
Before someone says that I should post this to StackOverflow, I have already done this and have received no response. Also, similar issues appear to generally be bugs.

[2021-09-05 16:22] bizzyvinci commented on #51796
Ok. Thanks.

[2021-09-05 16:23] #51796 closed

[2021-09-05 16:23] pathikg opened #51841 "OS Error while installing tensorflow on virtualenv"
**System information**
- OS Platform and Distribution : Windows 10
- TensorFlow version: 2.6.0
- Python version: 3.8
- Installed using virtualenv? pip? conda?: virtualenv with pip install --upgrade tensorflow
- GPU model and memory: none (Using CPU)

**Describe the problem** :
I tried installing tensorflow on my local machine in a virtual environment I got this error  :
[code]

**Provide the exact

[2021-09-05 16:34] sjtusmartboy commented on #51839
same memory leak issue
[code]

[2021-09-05 17:35] hotstone1993 opened #51842 "The ModifyGraphWithDelegate function fails on some devices."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): mac OS Big sur (11.3.1)
- Mobi

[2021-09-05 17:40] sidhomj opened #51843 "tf.linalg.diag issue"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.0
- Python version: 3.8.11

**Describe the current behavior**
When providing the tf.linalg.diag function an

[2021-09-05 17:47] tanzhenyu commented on #40130
It should work if you just use copt_per_file, without --strip=-never, using readElf -S to look for debug_info

[2021-09-05 18:47] caio-davi commented on #46840
The issue is **NOT** related to Pillow. It is clear by the description and the [notebook](https://colab.research.google.com/drive/1npV2ZmDE-So0IlA63MpoKhIs7sL-N6Xu?usp=sharing).
It seems to be related to [this issue](https://github.com/tensorflow/tensorflow/issues/32927), though.
I thought [this commit](https://github.com/tensorflow/tensorflow/commit/c8c6683f33bf93495dcd2bc2cb103e0adaa01718#diff-3

[2021-09-05 23:04] sjtusmartboy commented on #51839
with the below as the comparison of no memory leak
[code]

[2021-09-06 00:42] collinzrj commented on #51843
Keras is expecting to receive inputs in batch
[code]
It works

The `predict` method of model has an attribute `batch_size`, the doc says

[code]
In your case, the code is seperated into half, I think that produces the problem

[2021-09-06 00:54] kevint324 commented on #34946
Could you please post the related commit? What's changed? The default ABI or documentation?

[2021-09-06 02:20] sjtusmartboy commented on #51587
@jvishnuvardhan Please make some update, thanks!

[2021-09-06 02:59] mohantym commented on #29854
Hi @Saduf2019 ,Could you please look into this issue!

[2021-09-06 03:32] shlee007 commented on #51763
hi @mohantym , the issue template：

**tf version:** 1.15.0
**Python version:** 2.7 & 3.6
**the problem:** I am not asking a specific issue, I just want to know the implementation of TensorFlow on Py2/3 compatibility. I have learned about the functions and usage of the [six](https://pypi.org/project/six/), [future](https://pypi.org/project/future/), and [past](https://pypi.org/project/past/) librar

[2021-09-06 03:37] mohantym commented on #51802
Hi @ysyyork , Please update once after trying that , You can also look in this [issue ](https://stackoverflow.com/questions/64321779/how-to-use-tf-ctc-loss-with-variable-length-features-and-labels).
 For any further queries you may open this issue in tf discussion [forum](https://discuss.tensorflow.org/) as there is a larger community there as This is not a bug or feature request,Thank you!

[2021-09-06 04:02] mohantym commented on #51842
Hi @hotstone1993 ,Could you look into  [link ](https://www.tensorflow.org/lite/api_docs/cc/class/tflite/interpreter?hl=zh-cn#modifygraphwithdelegate)of this error.

[2021-09-06 04:16] tilakrayal commented on #51815
@starboyvarun ,
Can you please to execute your code in latest stable tf v2.6 and let us know if you are facing same issue.Thanks!

[2021-09-06 04:26] mohantym commented on #51817
Hi @starboyvarun !This is not a bug or feature request, for any further queries you may open this issue in tf discussion[ forum](https://discuss.tensorflow.org/) as there is a larger community there.Thank you!

[2021-09-06 04:46] sidhomj commented on #51843
thank you, i realized this soon after!

[2021-09-06 04:46] #51843 closed

[2021-09-06 04:57] ysyyork commented on #51802
I have figured out myself. Thanks!

On Mon, Sep 6, 2021 at 11:37 AM mohantym ***@***.***> wrote:

[2021-09-06 05:03] uoyssim commented on #51795
[Keras Issues](https://github.com/keras-team/keras/issues/15306) is closed.

It is my mistake.

When I use tf.keras.losses.SparseCategoricalCrossentropy,I missed 'from_logits=True'

Thank you for your helps!

[2021-09-06 05:03] #51795 closed

[2021-09-06 05:04] tilakrayal commented on #51825
@Saduf2019 ,
I was able to reproduce the issue in tf v2.5, v2.6 and tf-nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/723f860cfaf0d3e2f7901e7bafac425c/un51825.ipynb).

[2021-09-06 05:12] mohantym commented on #51802
Ok! Could you please close this issue then ?

[2021-09-06 05:15] TianruiZhang opened #51845 "Convert Functional API to Model Subclassing in TensorFlow Tutorial?"
Could anyone please teach me how to convert the Functional API to Model subclassing in this [TensorFlow Official Tutorial](https://www.tensorflow.org/tutorials/structured_data/preprocessing_layers)? I suppose an elegant chuck of code should be what combines the Normalization layer with the remaining layers. Thank you very much!

[2021-09-06 05:26] ysyyork commented on #51802
sure

[2021-09-06 05:26] #51802 closed

[2021-09-06 05:38] letdivedeep commented on #51800
@ymodak .. Just to update you on this part.

I even tried to run the model on GPU delegate on the Linux platform, it gives the same issue

[2021-09-06 06:11] AR-fan commented on #51813
@sushreebarsa
Please try this picture:
![IMG_20210729_194824430_MFNR](https://user-images.githubusercontent.com/33624574/132168738-77702ed9-66e4-481a-9489-605554e40931.jpg)

[2021-09-06 06:26] AR-fan commented on #51813
@sushreebarsa
I have seen that issue, but not works for me.
Using tf op is right in most case, but fail in this case.

[2021-09-06 06:27] mohantym commented on #51824
Hi @Saduf2019 ,Could you look into this issue ! providing gist in TF [2.5](https://colab.research.google.com/gist/mohantym/0ed4686d38b613687b0e8d588953d496/layers_crf_with_tpu.ipynb?authuser=1#scrollTo=l3WJsqUBxpFX) ,[2.6 ](https://colab.research.google.com/gist/mohantym/961390e60a7b3c780a46ec2abc506802/layers_crf_with_tpu.ipynb?authuser=1#scrollTo=HKbmByByTVEP), [nightly ](https://colab.research.

[2021-09-06 06:30] howl-anderson commented on #51824
Thank you @mohantym for your swift response.

[2021-09-06 06:46] vcucu commented on #29103
The issue is not solved for me when using the tfjs_graph model.
But you can solve it by replacing all "kernel_initializer" with "depthwise_initializer", "kernel_regularizer" with "depthwise_intializer" and "kernel_contraint" with "depthwise_constraint" in  model.json file.

[2021-09-06 06:49] hotstone1993 commented on #51842
thanks for answering.
But, I already read the page.

"Delegation failed to be applied due to the incompatibility with the TfLite runtime"
Does this sentence mean that some devices may not work because of compatibility?

Is there no way??

[2021-09-06 06:57] HongtaoYang commented on #44232
Hi @Arman-IMRSV, I have the exact same issue. Thanks for pointing out a workaround!

I do have a question, how did you save you model after training? Because you now have this condition in the call function, you have to set it to true for training. If you just save the model after training, the model will still have dropout in it right?

[2021-09-06 07:00] terryheo commented on #51842
Each device could have different OpenCL or OpenGL version and capability so it is possible.

But could you share the logcat dump of  Galaxy s21 Ultra? I'm curious what kind of issue the device has.

[2021-09-06 07:02] Saduf2019 commented on #51792
@eli-osherovich
The weighted_moments function sums your weights with zero vector and  then determines the divisor by taking a reciprocal of the broadcasted vector. In this case, your sum will be zero and since the reciprocal of zero is infinity, nans are appearing.
Don't use zero weights, logically it makes no sense, instead 1's weight every element equally.
For any further queries i suggest to op

[2021-09-06 07:03] Saduf2019 commented on #51724
@sam351 @DenysMenfredy
I ran the code again and it working as expected.
Can you please create an issue in the colab repo in case it still persist. @sam351 if an issue is not related performance or a tf bug/feature request, you may open it in the tf [discussion forum](https://discuss.tensorflow.org/) as it has a large community to support and respond.

[2021-09-06 07:37] sushreebarsa commented on #51813
@AR-fan Could you please refer to the [gist ](https://colab.research.google.com/gist/sushreebarsa/74683afc831c6bf99b4c728f1f4fe5f3/untitled433.ipynb) and let us know if it helps? Thank you!

[2021-09-06 07:39] kumariko commented on #27617
@WenguoLi Could you please let us know if you still need help on this ? We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. If it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-06 07:40] eli-osherovich commented on #51792
@Saduf2019
I know why it happens. Let me assure you zeroes are perfectly logical. I do not see why zeros should be replaced with ones....

P. S.
It is a bit difficult to understand is this the TF team answer or a recommendation from a fellow user....

[2021-09-06 07:44] Shadowman82 opened #51847 "set_visible_device_list causing session create failure"
**System information**
- Standard code (as shown in the "gpu_device_test.cc" provided with TF source code)
- Windows 10 64 bit
- Tensorflow built from source
- TF 2.5
- Python 3.8.7
- Bazel 3.7.2
- CUDA 11.2 cudnn 8
- GeForce GTX 1050

The session create function fails if I set a specific GPU with the function set_visible_device_list, even if I have a single GPU.
For instance if I set the GPU like

[2021-09-06 07:46] Shadowman82 commented on #51847
In addition if I call the CreateDevices after setting the specific GPU, it also fails wit this error

`DeviceFactory::GetFactory("GPU")->CreateDevices(options, kDeviceNamePrefix, &devices) failed: "Internal: Failed to get memory allocator for TF GPU 0 with 2914163099 bytes of memory."`

[code]

[2021-09-06 07:57] faroit commented on #47041
the issue is still relevant

[2021-09-06 08:01] HongtaoYang opened #51848 "Cannot load saved tflite model when model contains dropout. However quantization-aware model is fine."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- TensorFlow installed from (source or binary): No
- TensorFlow version (use command below): 2.5.0
- Python version: 3.8.9
- CUDA/cuDNN version:  cuDNN-8.1.1.33. CUDA-11.2.0

**Describe the current behavior**
If a model contains dropout layers, if can be converted to tflite,

[2021-09-06 08:02] hyeonsu94 opened #51849 "Cannot create interpreter error occurred when test 'On-Device Training in TensorFlow Lite'"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.2 LTS
- TensorFlow installation (pip package or built from source): pip package (pip install tf-nightly)
- TensorFlow library (version, if pip package or github SHA, if built from source):
![image](https://user-images.githubusercontent.com/37358784/132177843-72c65706-a28e-43f2-9ec4-b6285ca12b5f.png)

[2021-09-06 08:03] yakovdan commented on #51819
Ok, that's great! Thank you.

[2021-09-06 08:03] #51819 closed

[2021-09-06 08:04] yakovdan commented on #51804
Hi, are there any updates on this? Is there anything I can do to help debug this?

[2021-09-06 08:05] #51621 closed

[2021-09-06 08:06] WeichenXu123 opened #51850 "tf-nightly dev version installed with mismatch keras-nightly version, which cause importing error."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : Ubuntu 18.04.5 LTS (GNU/Linux 5.4.0-1045-aws x86_64)
- M

[2021-09-06 08:16] WeichenXu123 commented on #51850
seems my fault, looks like tf-nightly no longer support pip 3.6:
https://pypi.org/project/tf-nightly/2.7.0.dev20210905/#files

[2021-09-06 08:16] #51850 closed

[2021-09-06 08:20] HongtaoYang commented on #51848
Oh I figured out what I did wrong and also the correct way to use dropout.

Basically I shouldn't explicitly pass the `training` argument to dropout layer, it is handled during model invocation where we can tell the model to be in training mode by `out = model(input_batch, training=True`. This way tflite can handle dropout correctly.

[2021-09-06 08:35] sushreebarsa commented on #51839
@Saduf2019 Was able to reproduce the issue on Colab using TF 2.6 and tf-nightly,Please find the [gist](https://colab.research.google.com/gist/sushreebarsa/a739fc42e9dcd921c83591c773565f0a/untitled434.ipynb) here for reference.Thank you!

[2021-09-06 08:46] kumariko commented on #34200
I was able to reproduce the issue in Tensorflow 2.6, please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/e565a5148e12171e18c4f9529d98a96e/untitled245.ipynb#scrollTo=g7u0Qqz_sUuG).

[2021-09-06 08:53] kumariko commented on #34322
I was able to reproduce the issue in TF 2.6, please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/84045750f10af051765b7902c3a9f5ec/untitled80.ipynb#scrollTo=_J8m072tMdiO).

[2021-09-06 09:05] #51596 closed

[2021-09-06 09:23] mohantym commented on #51847
Hi @jvishnuvardhan ,could you please look into this issue?

[2021-09-06 09:23] kumariko commented on #20142
@laurentk67 We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-09-06 09:23] AR-fan commented on #51813
@sushreebarsa
Could you please have a look at this [gist](https://colab.research.google.com/drive/1gybGlto8ol7lnE82G9LLx0-DhRWtweUd?usp=sharing)?
I modify your gist and use wget to get picture.
The result is still wrong.
If you find a solution , please tell me , thanks~
Onz

[2021-09-06 09:36] tilakrayal commented on #51838
@zhaozheng09 ,
Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2021-09-06 09:49] abattery commented on #51849
Could you remove `jcenter()` from the gradle file and depend on the only ossrh-snapshot only?

    repositories {
        google()
        mavenCentral()  // For versioned releases
        maven {         // For snapshot releases
            name 'ossrh-snapshot'
            url 'http://oss.sonatype.org/content/repositories/snapshots'
        }
    }

[2021-09-06 10:02] Gomesz785 commented on #22926
@RedaAitBabaaziz ?

[2021-09-06 10:08] abattery commented on #51849
I could reproduce your issue. The jcenter dependency in the build.gradle in your application setting makes the android application depend on the March 31st version of the TensorFlow Lite library.

You can fix the problem by the removal of the `jcenter()` through following the above build.gradle example.

[2021-09-06 10:08] #51849 closed

[2021-09-06 10:50] tilakrayal commented on #51840
@EnderWiggin14 ,
I was able to execute the given code without facing any errror.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/d9c1dcadfd3315cc4c7948c54635b5f7/un51840.ipynb).Can you please try to execute the code in new virtual environment and let us know if you are facing same issue.Thanks!

[2021-09-06 10:54] bhbruce opened #51853 "Fully connected layers don't follow tensorflow quantization spec (zero-point!=0)"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 18.04.5 LTS
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): tensorflow2.5.0

### 2. Code

Provide code to help us reproduce your issues using one of the following options:
1)  Demonstrate how to build you

[2021-09-06 11:31] mohantym commented on #51827
Hi @sumitbinnani !Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2021-09-06 11:42] sushreebarsa commented on #51826
@atyshka Could you please post this issue in [Tensorboard repo](https://github.com/tensorflow/tensorboard/issues) ,you will get the right help there ?Thank you!

[2021-09-06 11:57] sushreebarsa commented on #51823
@FullZing Could you please have a look at the[ link1](https://www.tensorflow.org/mlir/includes/tf_passes), [link2](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/mlir/tensorflow/ir/tf_executor_ops.td) and let us know if it helps ?

[2021-09-06 12:05] mohantym commented on #30768
Hi @ageron , Values can be  only added to variable using  **assign_add/assign** operations .For other variable operations  please refer to [this](https://www.tensorflow.org/api_docs/python/tf/Variable#methods_2) .  providing [gist](https://colab.research.google.com/gist/mohantym/07746dd82f590aee71dfae32c898f3b2/30768-tf-nightly.ipynb#scrollTo=JvDCJ6Cj_Kmt) for reference.

[2021-09-06 12:05] #51623 closed

[2021-09-06 12:21] sushreebarsa commented on #51832
@ceztko Could you please have a look at the similar [issue1](https://github.com/huggingface/transformers/issues/5486), [issue2](https://stackoverflow.com/questions/41233635/meaning-of-inter-op-parallelism-threads-and-intra-op-parallelism-threads) and let us know if it helps?Thanks!

[2021-09-06 12:22] sushreebarsa commented on #51835
@BearNinja123 Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-09-06 12:28] sushreebarsa commented on #51841
@pathikg Could you please have a look at the [link](https://www.tensorflow.org/install/source_windows) and similar [issue1](https://github.com/tensorflow/tensorflow/issues/46934),[issue2](https://stackoverflow.com/questions/59302043/error-when-installing-tensorflow-python-3-8) .Please let us know if it helps?

[2021-09-06 12:31] pathikg commented on #51841
Yes enabling long_path solved the error , thanks 👍

[2021-09-06 12:33] sushreebarsa commented on #51841
@pathikg Could you Please close the ticket if it is resolved for you ?Thank you!

[2021-09-06 12:35] pathikg commented on #51841
Yes

[2021-09-06 12:35] #51841 closed

[2021-09-06 12:57] #51817 closed

[2021-09-06 12:58] #51815 closed

[2021-09-06 12:59] sushreebarsa commented on #51845
@TianruiZhang Could you please have a look at the [link1](https://www.tensorflow.org/guide/keras/functional) , [link2](https://www.tensorflow.org/guide/keras/custom_layers_and_models) and similar [issue1](https://stackoverflow.com/questions/65851897/subclassing-of-model-class-and-model-functional-api-give-different-results-in-te).Please let us know if it helps?Thanks!

[2021-09-06 12:59] starboyvarun commented on #51744
@sanatmpa1  can you just tell me how to add the path to a particular library in google collab?

[2021-09-06 13:41] sravansai04 commented on #51805
@Burtininkas69  You can find the Solution [here](https://askubuntu.com/questions/148383/how-to-resolve-dpkg-error-processing-var-cache-apt-archives-python-apport-2-0)

[2021-09-06 13:56] sunilXY commented on #38477
Error still persists :RuntimeError: UnimplementedError: Failed to construct dataset mnist: File system scheme 'gs' not implemented (file: 'gs://tfds-data/datasets\mnist')
windows 10

[2021-09-06 14:12] EnderWiggin14 commented on #51840
@tilakrayal I goofed during copy-paste and missed the last bit of code. I have now edited the post which includes all of the necessary code. FYI I'm running in 2.5.0 not 2.6.0. I did install 2.6.0 to test like you suggested but it failed which is how I realized i failed to do a proper copy-paste. I will be reverting to 2.5.0 because I can't justify moving to 2.6.0 as I don't have control over what

[2021-09-06 14:45] Conchylicultor commented on #38477
Could you try with the last version of TFDS and TF ?

[2021-09-06 15:01] TianruiZhang commented on #51845
Thank you for your reply. I went through the TensorFlow [tutorial](https://www.tensorflow.org/tutorials/structured_data/preprocessing_layers), trying to reproduced the process to fit my purpose. I have only 1 predictor (`age`) and 1 target variable (`se`), both are continues variables.

Here's how I refactored the code:

[code]

Below the Functional API part, which worked as expected, like in the

[2021-09-06 15:05] Saduf2019 commented on #51824
@howl-anderson
Could you please refer to [similar error](https://github.com/tensorflow/tensorflow/issues/44963) issue and try with 2.4, also [link](https://github.com/keras-team/keras-io/issues/150).
In case the issue still persists:

Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-

[2021-09-06 15:37] EnderWiggin14 commented on #51840
@tilakrayal I believe I have found the issue. The issue is that I do not have the "name" parameter set in `self.add_weight`.

I have no idea if it was intended by the developers to absolutely need a name provided, but the [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer#add_weight) doesn't make that clear at all. It also doesn't follow the general convention within

[2021-09-06 15:40] sanatmpa1 commented on #51809
@hx1997,

Sure, Please let me know if it works, or if the issue still persists in `2.6.0`. Thanks!

[2021-09-06 16:06] #38824 closed

[2021-09-06 16:07] sanatmpa1 commented on #51793
@l-bat,

I see that the error occurs in `2.6.0` whereas with `tf-nightly` it works fine. Please take a look at the [gist here](https://colab.research.google.com/gist/sanatmpa1/4dcda01fe2bbafe77f98d787e0feee8e/51793.ipynb). Thanks!

[2021-09-06 16:14] sanatmpa1 commented on #51730
@Silvio-Ma,

Thanks for the detailed steps that worked for you, as it may help someone else in the future to try out. As your problem is resolved, can you move this issue to closed status? Thanks!

[2021-09-06 16:19] sanatmpa1 commented on #51727
@microcoder-py,

If you feel that the issue is already fixed, please feel free to move the issue to closed status. Thanks!

[2021-09-06 16:28] howl-anderson commented on #51824
Hi @Saduf2019, thank you for your help.  My code target is TF 2.6. So, it surely has `StringLookup` issue under TF 2.5.  The true issue will show under TF 2.6, you can reproduce it from this code: https://drive.google.com/file/d/1ceB5VBwFd87Z0ANa_91vhvrOdG4SJQLY/view?usp=sharing . Sorry for the confusion. And thank you for your reminder, I will move this issue to keras-team/keras repo.

[2021-09-06 16:28] howl-anderson commented on #51824
Move this issue to keras-team/keras#15317

[2021-09-06 16:28] #51824 closed

[2021-09-06 16:32] invoxiaglo opened #51856 "Error when reading .wav files using TPU"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-09-06 16:34] dash-myelin commented on #51746
@sanatmpa1

Can you please help me solve this issue. I am really stuck with this QAt issue with tf-nightly

[2021-09-06 16:55] lgeiger opened #51857 "Support `float16` input for `tf.quantization.fake_quant_*` ops"
**System information**
- TensorFlow version (you are using): 2.6, nightly
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Currently `tf.quantization.fake_quant_*` ops do not support `float16` input. E.g.:
[code]
would fail because there is no kernel implementation available for `float16` input on either GPU or CPU.

Checkout [this noteboo

[2021-09-06 17:03] ceztko commented on #51832
@sushreebarsa thank your for the prompt answer. [Issue1](https://github.com/huggingface/transformers/issues/5486) does not appear to matter here (I tried the TOKENIZERS_PARALLELISM=false, though, and it didn't help). Instead [issue2](https://stackoverflow.com/questions/41233635/meaning-of-inter-op-parallelism-threads-and-intra-op-parallelism-threads) is about the correct use of `set_intra_op_paral

[2021-09-06 17:05] #11149 closed

[2021-09-06 17:11] sanatmpa1 commented on #51746
@dash-myelin,

I can see that this issue with your custom model is not just with `tf-nightly`, it happens even in `2.6.0`. Take a look at the [gist here](https://colab.research.google.com/gist/sanatmpa1/f2e4ca93d3110ae0da974bcc590d5aa9/issue.ipynb).

[2021-09-06 17:14] dash-myelin commented on #51746
@sanatmpa1

Ok. But with tf-nightly, I can save the QAT model with Separable Convs. How Do I get rid of this error?

[2021-09-06 17:19] sanatmpa1 commented on #51746
@dash-myelin,

I feel the issue is probably related to model optimization. Can you submit an issue with [model optimization repo](https://github.com/tensorflow/model-optimization/issues). Thanks!

[2021-09-06 17:58] eyalhir74 commented on #41881
@DachuanZhao  - How does moving to Keras solved this?
The LookupTableFindV2 et al runs on the GPU now? what's the performance gain of that?

[2021-09-06 18:01] Silvio-Ma commented on #51730
@sanatmpa1
Thanks for your help Sanat, and sure, I will do it now.

[2021-09-06 18:01] #51730 closed

[2021-09-06 18:05] #12579 closed

[2021-09-06 18:36] hrw commented on #51750
https://snapshots.linaro.org/ldcg/python-cache/ has tensorflow-io packages if someone needs.

versioned as "0.20.0"  but they are git HEAD ones.

[2021-09-06 19:05] #51349 closed

[2021-09-06 21:11] meslane commented on #48545
Got the same error as the other replies in this thread, and reinstalling 11.4 changed nothing. After downloading the nightly build it started working again. Good work.

[2021-09-06 23:48] matthewfeickert commented on #51743
If just the two are specified then `pip` is able to figure out the dependency mismatch and find a version of `black` (`v21.7.b0`) that will work

<details>
<summary>Full Example in a python:3.9 Docker image:</summary>

[code]

</details>

but that `tensorflow` is pinning down to the patch release here (`typing-extensions~=3.7.4`) is pretty restrictive (and making it so that everyone using TensorFl

[2021-09-07 01:05] #26385 closed

[2021-09-07 01:05] #26435 closed

[2021-09-07 01:11] #48396 closed

[2021-09-07 02:02] seanshpark opened #51858 "[tflite conversion] Output order changes with multiple outputs"
I maybe wrong... is so, could anyone provide how to fix this?

### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip package version 2.6.0
- TensorFlow library (version, if pip package or github SHA, if built from source): N/A

### 2. Code

[code]

[code]

Provide code to help us reproduc

[2021-09-07 02:12] DachuanZhao commented on #41881
I rewrite the code with ```tf.keras``` . The performance is same .

[2021-09-07 02:59] abattery commented on #51858
Please consider using the signature instead of relying on the tensor indices.
https://www.tensorflow.org/lite/guide/signatures

[2021-09-07 03:06] #51088 closed

[2021-09-07 03:07] seanshpark commented on #51858
Thanks for point this out.
I think need some time to understand how to apply to my situation.

[2021-09-07 03:10] seanshpark commented on #51858
@abattery , if possible, could you please apply this signature to my above examples?
I use `tflite` file as input to another projects but not the interpreter.

[2021-09-07 03:14] abattery commented on #51858
In such cases, you can read the signature information, stored in the flatbuffer schema:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/schema/schema.fbs#L1193

[2021-09-07 03:19] abattery commented on #51858
FYI, the signature information will be automatically carried from the TensorFlow 2.5 version if you are using the `from_saved_model` path.

[2021-09-07 03:25] hyeonsu94 opened #51859 "'Failed to apply delegate' error occurred when training with tflite using nnapi"
### 1. System information

#### Converter
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.2 LTS
- TensorFlow installation (pip package or built from source): pip package (pip install tf-nightly)
- TensorFlow library (version, if pip package or github SHA, if built from source):
![image](https://user-images.githubusercontent.com/37358784/132276541-58ff757e-6b7d-404f-ad5d-6a3

[2021-09-07 03:27] seanshpark commented on #51858
Thanks for the information!
We're currently based on tflite schema from TF 2.3.0, so `SignatureDef` doesn't exist.
But will upgrade to latest version soon... found a good reason for this :)

[2021-09-07 03:29] #51858 closed

[2021-09-07 04:12] mvss80 commented on #34396
Has anyone tried exporting https://tfhub.dev/google/universal-sentence-encoder-large/3 to tflite?

[2021-09-07 04:22] sanatmpa1 commented on #42221
@Char-Aznable,

Are you following this [guide](https://www.tensorflow.org/install/source) and you have other configurations like Python version, GCC version,CUDA version and etc same as the tested build configurations in this [link](https://www.tensorflow.org/install/source#tested_build_configurations)?

[2021-09-07 04:24] sanatmpa1 commented on #42221
Also you have gcc 8.4.0 compiler, whereas most of the tested builds has GCC version 7.3.1, Can you fix this and try building to see if the issue persists? Thanks!

[2021-09-07 04:24] tilakrayal commented on #51691
@ArunaKote ,
 Code shared is full of indentation errors, please share a colab gist with issue reported or simple stand alone indented code with all dependencies such that we can replicate the issue reported.Thanks

[2021-09-07 04:33] Char-Aznable commented on #42221
@sanatmpa1 That was what I did. BTW, It would be much easier to locate the problem if someone from your team can point out the specific compiling commands involved in the error so that I don't have to go through the entire build process again and again. Also, there are a lot of things to try obviously but wouldn't it be more efficient for you to give me some hint on what went wrong with the error?

[2021-09-07 05:05] clinplayer commented on #47554
For me, the problem was gone when I uncommented this line in my source code:
# tf.config.run_functions_eagerly(True)

[2021-09-07 05:06] #51407 closed

[2021-09-07 05:13] tilakrayal commented on #51840
@EnderWiggin14 ,

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-09-07 05:38] kumariko commented on #38812
@settle Could you please check https://github.com/tensorflow/tensorflow/issues/38812#issuecomment-619171137 and let us know if you still need help on this ? if it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-07 06:00] Nima-pw opened #51860 "Wrong training count in eager execution mode!"
Hi,

I am using MNIST dataset with 54,000 training data on a CNN model. TensorFlow version 2.6.0.

When the code runs in enabled eager execution, in the training step only 844 data are used in each epoch!
 I think the output shots is clear:

`1- When eager execution is enabled in default`
![image](https://user-images.githubusercontent.com/84374136/132291914-1b899fd0-ef9d-4975-acfe-f5d7c1aca693.png

[2021-09-07 06:12] BlueSkyyyyyy commented on #51043
@ymodak

[1.383168e+19 1.383168e+19 1.383168e+19 1.383168e+19 1.383168e+19
 1.383168e+19 1.383168e+19 1.383168e+19 9.223372e+18], shape=(9,), dtype=float32)
this result is not right, that is the key poit. 1.383168e+19 is wrong ,9.223372e+18 is right.

[2021-09-07 06:25] mohantym commented on #51860
Hi @Nima-pw !We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-09-07 06:34] kumariko commented on #40949
@iot-hunter Could you please let us know if you still need help on this ? if it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-07 06:42] DachuanZhao commented on #51649
I have read them . I wonder why ```tensorflow``` use ```pylint``` linter instead of ```yapf``` formatter  ?

[2021-09-07 06:58] mohantym commented on #23785
Hi @magnusart!  your last edited code is not replicate infinite loop issue neither in 1.13 or 2.6 , attached [gist](https://colab.research.google.com/gist/mohantym/7175c5de19129389fd8d0fb3389c16e8/github_23785.ipynb) for reference.

[2021-09-07 07:02] l-bat commented on #51793
@sanatmpa1
Great!
Can we close the issue when TF 2.7.0 is released?

[2021-09-07 07:04] kumariko commented on #36841
@deliahu Could you please let us know if you still need help on this ? We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. If it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-07 07:09] kumariko commented on #29686
@TrungLM13 Could you please let us know if you still need help on this ? if it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-07 07:32] tilakrayal commented on #33687
@Belgrath1900 ,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-07 07:33] tilakrayal commented on #33618
@alanpurple ,
Is this still an issue?

Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-07 07:35] tilakrayal commented on #33431
@dbl001 ,

Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-07 07:37] tilakrayal commented on #33390
@dmitryr117
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-07 08:06] #51403 closed

[2021-09-07 08:19] Chromatius commented on #37615
I am having the same problem when using MLFlow ([mlflow.tensorflow.load_model](https://www.mlflow.org/docs/latest/_modules/mlflow/tensorflow.html#load_model)) to load a previously saved model. The same code works if I run it in a notebook, but when I load the model with `mlflow.tensorflow.load_model` I get the same error as mentioned here.

Since the code is defined in a 3rd party library I cannot

[2021-09-07 08:40] nicolasnn opened #51862 "Custom metrics doc doesn't mention `assign` method"
## URL(s) with the issue:
https://www.tensorflow.org/guide/keras/train_and_evaluate#custom_metrics

## Description of issue (what needs changing):

**First small issue**:  `reset_states` is deprecated, il should be `reset_state`, shouldn't it? Furthermore, this method is not required when creating a custom metrics.

**Second issue**:
It is not necessary to subclass Metric (cf https://github.com/te

[2021-09-07 09:29] kumariko commented on #28994
@polpolie Could you please let us know if you still need help on this ? if it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-07 09:47] mohantym commented on #41083
Please go through this link for [reference](https://nitin9809.medium.com/getting-started-with-raspberry-pi-installation-guide-for-tensorflow-2-3-1-and-opencv-4-5-1-3a5bd0b6de2d) . Can you also try with these follow steps
1.upgrade your pip to latest version
2.sudo pip install --upgrade tensorflow

if that does not work , uninstall then install latest version from above link.

[2021-09-07 10:06] #16205 closed

[2021-09-07 10:06] #51602 closed

[2021-09-07 10:09] pisoir opened #51863 "Bus error when TFLite library compiled as "opt""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Poky (Yocto Project Reference Distro) 3.1.3 (dunfell)**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): **source**

[2021-09-07 10:28] alexander-held commented on #51743
An example for a setup where the dependency resolution fails is the combination of `black`, `tensorflow` and `tensorflow-probability`. Using a `python:3.8` Docker environment (otherwise equivalent setup to @matthewfeickert's comment above),
[code]
installs the following (output of `pip list | grep "black\|tensorflow"`):
[code]
The import of `tensorflow-probability` after `tensorflow` then fails:
[

[2021-09-07 11:07] hotstone1993 commented on #51842
Sorry now that I check, the model is the problem.

my log is
"Attempting to use a delegate that only supports static-sized tensors with a graph that has dynamic-sized tensors (tensor#42 is a dynamic-sized tensor)."

thanks for your help

[2021-09-07 11:07] #51842 closed

[2021-09-07 11:24] harveenchadha commented on #28840
The handling of this issue speaks volumes of why the research community is moving from tensorlfow to pytorch.

[2021-09-07 11:25] hx1997 commented on #51809
Hi,

I (sadly) haven't got time to install TF 2.6.0 yet, but a minimized and reproducible version of my code can be found here (`grad_repro_train.py` is the training code, `utils_learning_rnn.py` is the model): https://gist.github.com/hx1997/ec2b0cf9f5e07dda1eba7b9a612aa7ff

Note that for some reason on my part, I'm not allowed to share the dataset I use to train the model, so I've replaced the in

[2021-09-07 11:42] sanatmpa1 commented on #27502
@Han-sok,

I've checked the issue in latest stable version `2.6.0` and as you mentioned, it raises `ResourceExhaustedError: failed to allocate memory [Op:AddV2]` when tf.while_loop is causing OOM. Please take a look at this [gist here](https://colab.research.google.com/gist/sanatmpa1/23f2cbdefde27ce1bf56ca1c27aef345/27502.ipynb). Thanks!

[2021-09-07 12:02] sanatmpa1 commented on #30418
@mpafla,

As I can see that you've reacted thumbs up to @rmothukuru 's above comment about closing the issue, I am closing it now. Thanks!

[2021-09-07 12:02] #30418 closed

[2021-09-07 12:18] mohantym commented on #47019
Hi @DNXie  @kkimdev !checked this issue is give "inf" output when compiled with float64  (used tensor instead of numpy array ) providing [gist ](https://colab.research.google.com/gist/mohantym/cc05b28af3fee349917513a55ccc2908/untitled524.ipynb#scrollTo=HRA_hmkgVC4J)for reference

[2021-09-07 12:34] JF-D commented on #43049
@mohantym I am sorry. I didn't continue to try unified memory with tf, and I am working on something else. So, I think this issue can be closed.

[2021-09-07 12:49] NikosSpanos commented on #46071
I will close the issue here. I won't re-open it in Keras repo because I didn't  have the time to check any new updates on this matter. Probably it's resolved. But in any case if this issue come to my attention again I will re-open it on the new Keras repo.

Thank you!

[2021-09-07 12:49] #46071 closed

[2021-09-07 13:20] nouiz commented on #48545
@meslane thanks for the confirmation. Can you tell me which OS you are using?

[2021-09-07 13:32] tilakrayal commented on #51649
@DachuanZhao ,
Please take a look at the comment provided mentioned.It helps.Thanks

[2021-09-07 13:58] #43020 closed

[2021-09-07 14:11] sanatmpa1 commented on #30356
@alayu,

We are checking to see if you still need help on this issue.You can checkout this detailed [guide](https://www.tensorflow.org/guide/create_op?hl=lt_Dowloand) which helps you in creating custom operation.

We recommend that you upgrade to `2.6` which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-07 14:12] sanatmpa1 commented on #33309
@nbro,

We are checking to see if you still need help on this issue. We recommend that you upgrade to `2.6` which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-09-07 14:15] sanatmpa1 commented on #31720
@LukeChow,

We are checking to see if you still need help on this issue. We recommend that you upgrade to `2.6` which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-09-07 14:26] msokur commented on #39523
I have a hack
(I'm very not sure that this is the perfect decision, but it works and works without a lot of changes)

For example, you have a class inherited from keras.utils.Sequence

[code]

and code that uses it, for example:

[code]

---------------A hack---------------
As we can see method ```__getitem__``` is private. Let's make its public copy and an attribute for the length in ```__init__`

[2021-09-07 14:30] sanatmpa1 commented on #34326
@simonchen375,

We are checking to see if you still need help on this issue. We recommend that you upgrade to `2.6` which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-09-07 14:32] sanatmpa1 commented on #30793
@mabdullahrafique,

We are checking to see if you still need help on this issue. We recommend that you upgrade to `2.6` which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-09-07 15:01] seandaug commented on #34491
Please do not close this. This is a very important issue to me.

[2021-09-07 15:03] #46730 closed

[2021-09-07 15:12] Saduf2019 commented on #45874
@SamuelMarks
Is this still  an issue, could you please try on the latest version of tensorflow and let us know.

[2021-09-07 15:18] caio-davi commented on #46840
The changes mentioned by @collinzrj does fix the problem, but it raises another error:
[code]

Although, I think this one is indeed expected.

[2021-09-07 15:22] mihaimaruseac commented on #32244
closing as #32838 landed a while ago

[2021-09-07 15:22] #32244 closed

[2021-09-07 15:29] mihaimaruseac commented on #38477
You need to install `tensorflow-io` for the other filesystems. See #51583 for similar issue

[2021-09-07 15:41] sanatmpa1 commented on #42586
@tejasmorkar,

Can you confirm if the above [comment](https://github.com/tensorflow/tensorflow/issues/42586#issuecomment-803608994) from @aaudiber answers your question and resolves the issue? Thanks!

[2021-09-07 15:54] pisoir commented on #51863
Quite incredibly I managed to "circumvent" the problem by inserting a "printf" in the get_shape_data in `tensorflow/lite/kernels/broadcast_to.cc` :)

[code]

Can it be that there is some memory alignment issue with the input tensor? I am really puzzled by this and would be happy if someone could propose a proper fix.

[2021-09-07 16:16] srjoglekar246 commented on #51804
Sorry for the delay, we had a long weekend in the US. If possible can you paste the models that 1) runs fine on Hexagon & 2) gives an error with Hexagon? If you only intermittently see Hexagon errors, then there might be some issue with the converter. I can compare the two models & see what is different between the two.

[2021-09-07 16:41] tilakrayal commented on #32920
@bwang-delft ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-07 16:42] #38737 closed

[2021-09-07 16:42] #38300 closed

[2021-09-07 17:03] Arman-IMRSV commented on #44232
@HongtaoYang This is how I implemented the inference function:
[code]
When calling the trainer, you will set it to true. I saved it to TFLite and dropout is not put into it's graph as it is in inference time.

[2021-09-07 17:10] deliahu commented on #36841
I no longer use this image, but after taking a quick look at the command and size of layer 10 in [tensorflow/tensorflow:2.6.0](https://hub.docker.com/layers/tensorflow/tensorflow/2.6.0/images/sha256-773d5ce09e4ce003db02740c6a372a8a9f43be2bac23544d8f452bfec5347c53?context=explore), yes, I do believe this has been resolved :+1:

[2021-09-07 17:10] #36841 closed

[2021-09-07 17:16] qlzh727 commented on #34491
I have created a new issue in keras-team/keras to track this since the keras code has been moved.

[2021-09-07 17:16] #34491 closed

[2021-09-07 17:31] mohantym commented on #43049
Ok @JF-D !Closing issue then. Feel free to open a new issue if you face any problem.

[2021-09-07 17:31] #43049 closed

[2021-09-07 17:41] meslane commented on #48545
@nouiz I am on Windows 10. GPU is an RTX2060 and CPU is an i7-4790k.

[2021-09-07 17:42] #38070 closed

[2021-09-07 17:42] #37695 closed

[2021-09-07 17:42] #37985 closed

[2021-09-07 18:02] mihaimaruseac commented on #51625
@mohantym if user supplies invalid arguments then there should be an error, not a crash. An attacker will try to pass invalid arguments, so we should still handle these properly.

[2021-09-07 18:02] #30981 closed

[2021-09-07 18:02] mihaimaruseac commented on #51805
Not a TF issue, please open only TensorFlow related issues here.

[2021-09-07 18:02] #51805 closed

[2021-09-07 18:13] mihaimaruseac commented on #51601
I think this should be fixed now. Please reopen if that's not the case.

Culprit: TFRT introduced C++17 code via MLIR/LLVM but TF is using C++14.

[2021-09-07 18:13] #51601 closed

[2021-09-07 18:14] mihaimaruseac commented on #19440
Not a TF issue. It's an operating system limitation.

[2021-09-07 18:14] #19440 closed

[2021-09-07 18:24] mihaimaruseac commented on #51743
Doesn't this mean any version at `3.7.4` or after but not after `3.8` or `4.0`? That is, `3.7.5` could still be installed.

[2021-09-07 19:04] yongtang commented on #51776
Added a PR #51865 to resolve another distutils related issue.

[2021-09-07 19:07] Saduf2019 commented on #51856
@invoxiaglo
Please refer to [this link](https://github.com/tensorflow/io/issues/716#issuecomment-879999571) and let us know.
You can use tf.audio.decode_wav,it is part of tensorflow and will eliminate tfio, avoiding the error faced.

[2021-09-07 20:42] #51641 closed

[2021-09-07 21:24] collinzrj commented on #46840
@caio-davi yes, it is expected

[2021-09-07 22:03] mohantym commented on #51763
Supported Python versions for Tensorflow are Python 3.6-3.9 .
For further details on supported hardware and OS ,Please refer - https://www.tensorflow.org/install

[2021-09-07 22:27] matthewfeickert commented on #51743
Yup, and indeed the compatible release syntax does that (get the latest in the `v3.7.X` series for `X>=4` or more concisely `">=3.7.4,<3.8"`, which for [`typing-extensions` is `3.7.4.3`](https://pypi.org/project/typing-extensions/3.7.4.3/#history))

[code]

Python 3.8 struggles though

[code]

[2021-09-07 23:30] lgeiger commented on #51487
@Saduf2019 The PR you linked didn't fully solve the issue. I think this should be reopened until #51577 has been merged.

[2021-09-07 23:50] diliprc96 commented on #47554
Is this a fix for the problem? I am using tensorflow 2.6 currently.

I have a model script completely written with tensorflow (keras not used). All the functions are written by myself. It is a simple model and I am trying to save a pb file so that I can run inference of this model in a edge device. The model works fine in eager mode.

I have a tf.Module class of which I am creating an object. I am

[2021-09-08 00:50] s-sajid-ali commented on #35014
This issue was fixed in spack: https://github.com/spack/spack/pull/16077.

[2021-09-08 00:50] #35014 closed

[2021-09-08 01:11] impjdi commented on #51800
Because GPU delegate reuses memory objects, you cannot dump intermediate tensors.  If you really wish to do so, you have to insert a fake node, e.g. ADD 1e-6, and declare the output of that op as graph output.

[2021-09-08 01:42] #46244 closed

[2021-09-08 02:13] DEKHTIARJonathan opened #51870 "[TF SavedModel Export] - 2GB Tensor size constraint"
Hi,

CC: @nluehr @WhiteFangBuck

We discussed this already a few times with @bixia1 @sanjoy and @pkanwar23.

With the recent progress in dynamic shapes support for TF-TRT, we are trying to process larger models (e.g. BERT Large, DLRM, TransformerXL) and some of them have issues to be saved in SavedModel format due to the 2GBs tensor size limit.

We have compiled a Google Colab to expose this issue

[2021-09-08 02:42] #51389 closed

[2021-09-08 03:37] sanjoy commented on #51870
IMO the ideal solution is:
1. TensorRT lifts the restriction of needing layer weights to be compile time constants.
2. We no longer freeze graphs, which means the SavedModel proto can be small (the variable values are in checkpoint files).

Questions:
 - Do you see (1) happening soon?
 - Can (2) happen independently of (1)?

[2021-09-08 04:00] mihaimaruseac commented on #45664
Somehow this slipped. I think with the upcoming refactor we can target this too

[2021-09-08 04:09] tilakrayal commented on #51828
@zipy124 ,

Every TensorFlow release is compatible with a certain version, for more information please take a look at the [tested build configurations](https://www.tensorflow.org/install/source_windows#gpu).In this case, can you please try installing TensorFlow v2.6 with compatible configurations and check if you are facing the same error. Thanks!

[2021-09-08 04:17] tilakrayal commented on #51862
@nicolasnn ,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue.Thanks!

[2021-09-08 04:42] #51638 closed

[2021-09-08 04:42] #47131 closed

[2021-09-08 04:53] ArunaKote opened #51871 "Not able to lower tf.sets.intersection to HLO"
Tensorflow version 2.6

My python code snippet is like:
import os
import numpy as np
import tensorflow as tf
from tensorflow.python.eager import context
from tensorflow.python.framework import dtypes
from tensorflow.python.platform import test
from tensorflow.python.framework import config
import tensorflow.compat.v1 as tf
config.enable_mlir_bridge()
tf.config.experimental.enable_mlir_bridge()

cl

[2021-09-08 05:09] waqarahmad84 opened #51872 "Hexagon delegate"
I am trying to build a simple "Hexagon delegate" based android app by using https://www.tensorflow.org/lite/performance/hexagon_delegate link.
I have pixel 2xl phone for test this. I have rooted my phone for access all facility but i was fail to make this app.
I am facing 1 error which is  "java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "dlopen" referenced by "/data/app/~~2R44

[2021-09-08 05:21] letdivedeep commented on #51800
@impjdi  thanks for the suggestion.  I will try this approach and let you knaow

[2021-09-08 05:32] w4-hyunseok commented on #51583
I reached out to resolve a similar error.

By using https://github.com/tensorflow/tensorflow/issues/51583#issuecomment-902786636 comment,
I succeeded to use tf.io.gfile APIs such as tf.io.gfile.exists and so on.

But tf.io.gfile.rename still failed when I run the below codes.

[code]

[2021-09-08 05:32] sanatmpa1 commented on #51744
@starboyvarun,

Can you take a look at this [blog](https://zerowithdot.com/colab-workspace/) and this SO [thread](https://stackoverflow.com/questions/55253498/how-do-i-install-a-library-permanently-in-colab) and let me know if this is what you are looking for?

[2021-09-08 05:42] #51652 closed

[2021-09-08 05:42] #33387 closed

[2021-09-08 06:03] par1hsharma opened #51876 "M1 Mac TensorFlow metal"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): M1 MAC
- Mobile device (e.g. iPhone 8, Pixel 2, Samsu

[2021-09-08 06:23] mohantym commented on #51876
Hi @par1hsharma , Could you look into this [link ](https://developer.apple.com/forums/thread/684178)for answers ? It suggests upgrading to MacOS 12.0

[2021-09-08 06:29] par1hsharma commented on #51876
can you tell me if i followed correct tutorial to install TensorFlow for M1 Mac
I followed this link  https://github.com/jeffheaton/t81_558_deep_learning/blob/master/install/tensorflow-install-mac-metal-jul-2021.ipynb
the above link contains  "tensorflow-apple-metal.yml" . is this yml file a correct way to install or should I have followed
this  https://developer.apple.com/metal/tensorflow-plugin/

[2021-09-08 06:43] dakshvar22 commented on #51393
@bhack @yarri-oss I can already see a small slowdown in a simple snippet with a single `tf.scan` operation.

Snippet:

[code]

The snippet is taken from the [docs page](https://www.tensorflow.org/api_docs/python/tf/scan) of `tf.scan` op.

Runtime for TF 2.3: ~1.18s
Runtime for TF 2.5: ~1.3s

**System information**

Have I written custom code (as opposed to using a stock example script provided in

[2021-09-08 06:44] sushreebarsa commented on #51845
@TianruiZhang Thank you for the update! Could you please  post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2021-09-08 06:57] TianruiZhang commented on #51845
@sushreebarsa Thanks, I’ve already done so.

[2021-09-08 07:02] sushreebarsa commented on #51872
@waqarahmad84  In order to expedite the trouble-shooting process here, Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose), and explain more about your issue ?Thanks!

[2021-09-08 07:37] sushreebarsa commented on #51813
@sanatmpa1 Was able to reproduce the issue on colab using TF 2.6 and tf-nightly ,Please find the gist[ here ](https://colab.research.google.com/gist/sushreebarsa/7d4afd700b35821cf840464ec8eb67c9/-github_issue_41126_ipynb.ipynb#scrollTo=11TT3PoSVUuZ) for reference.Thanks!

[2021-09-08 07:38] sanatmpa1 commented on #51723
@akkshay0107,

Can you update on what's the output you're getting for the commands `which unzip` and `unzip`?

[2021-09-08 07:42] #51576 closed

[2021-09-08 08:08] nicolasnn commented on #51862
Edited

[2021-09-08 08:30] mohantym commented on #50148
Hi @caijinana , The issue is not replicating TF 2.6 , providing[ Gist ](https://colab.research.google.com/gist/mohantym/978cc0b2f8765f297e3846a33f09f2bb/github_50148.ipynb)for reference.

[2021-09-08 08:42] #48146 closed

[2021-09-08 08:42] #34257 closed

[2021-09-08 08:46] sushreebarsa commented on #51845
@TianruiZhang Thank you for the quick update! Could you please close this ticket if you have posted this issue on Keras repo? Thank you!

[2021-09-08 09:05] puneeshkhanna opened #51877 "tensorflow/python/kernel_tests/metrics_test.py fail in assertAlmostEqual comparison; E TypeError: type numpy.ndarray doesn't define _round_ method"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-09-08 09:17] bhack commented on #51393
@dakshvar22 Can you test the same with TF nightly?

[2021-09-08 09:42] #35002 closed

[2021-09-08 09:42] #34698 closed

[2021-09-08 09:42] #35205 closed

[2021-09-08 09:42] #35378 closed

[2021-09-08 09:57] van68 opened #51878 "For the model trained on tensorflow 1. X, how to quickly infer on tensorflow 2. X"
For the model trained on tensorflow 1. X, how to quickly infer on tensorflow 2. X？

Based on the model trained on tensorflow 1. X, how to infer on tensorflow 2. X, and Quantization Compression Based on tflite 2. X，Is there any relevant example reference, thanks!

[2021-09-08 10:04] #51574 closed

[2021-09-08 10:20] mohantym commented on #51876
Both approach includes  required  packages and steps , But Could you test the second approach and update whether issue is replicating or not?

[2021-09-08 10:24] fperezgamonal commented on #39906
Hi all!
Thanks @boogalooYison , your solution worked with TensorFlow 2.6.0 👍  . About the reason why it works, I can only say that the input shape is set in the call to `model.compute_output_shape(input_shape)`, as it is required to compute the actual output shape.

In my opinion, this is a cleaner and more elegant solution than having to call the network with dummy input data.

Cheers!

[2021-09-08 10:36] fperezgamonal commented on #50575
Hello,

I get the same warning in my code (input shape to Softmax is `None, 4` as I have 4 output classes).
![image](https://user-images.githubusercontent.com/19503950/132494782-b21aea07-0510-4de9-9cda-9c815c7d5c83.png)

I can also reproduce it by running the Google Colab mentioned before:
[code]

Being a warning, do we know if we should worry about it?

Thanks for the help!

[2021-09-08 10:58] Innuendo1975 commented on #34491
The issue still exists and can be reproduced even with the version 2.6.
I have also tried the patch above https://github.com/tensorflow/tensorflow/issues/34491#issuecomment-869086784 with no success.

`Epoch 1/10
1/1 [==============================] - 3s 3s/step - loss: 0.3452 - binary_crossentropy: 0.6601
Epoch 2/10
1/1 [==============================] - 0s 26ms/step - loss: 0.3448 - binary_cross

[2021-09-08 11:00] #33618 closed

[2021-09-08 11:30] starboyvarun opened #51879 "Bug: Loading the older versions of tfs and keras"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on a mobile device: No
![4 1](https://user-images.githubusercontent.com/26819449/132501060-50a9033b-f984-4828-9715-a77b50fa1c8a

[2021-09-08 11:42] #49975 closed

[2021-09-08 11:42] #49836 closed

[2021-09-08 11:42] #49464 closed

[2021-09-08 11:42] #18092 closed

[2021-09-08 11:42] #11756 closed

[2021-09-08 11:42] #11058 closed

[2021-09-08 11:42] #21670 closed

[2021-09-08 12:25] e-dzia commented on #33104
I had the same issue and I think it's connected to the GPU's non-determinism - on the CPU the results were identical, on the GPU (RTX 2080Ti and RTX 3090) they were not. I couldn't solve it (using deterministic options for GPU didn't work).

[2021-09-08 12:27] AmondialCapital commented on #51876
Here is how to build TF on M1:

https://github.com/tensorflow/tensorflow/issues/51506#issuecomment-901460541

[2021-09-08 13:02] dakshvar22 commented on #51393
@bhack `tf-nightly` is quite a lot slower! On the same system environment, the snippet runs in approximately 1.55s 🤯

[2021-09-08 13:04] bhack commented on #51393
Can you verify that you are placing the ops in the same device on all your tested version with this:

https://www.tensorflow.org/api_docs/python/tf/debugging/set_log_device_placement

[2021-09-08 13:06] dakshvar22 commented on #51393
I don't have a GPU device on the system, so it should be using just the CPU device for all tested versions?

[2021-09-08 13:17] dakshvar22 commented on #51393
@bhack I verified this by adding this line to the top of the snippet

[code]

I see identical logs like this (truncated) on all versions:

[code]

[2021-09-08 13:23] karimkalimu opened #51880 "IOS tflite model doesn't have ResetVariableTensors() attribute"
- OS Platform and Distribution : Mac os(xcode)
- TensorFlow installed from (source or binary): pod install
- TensorFlow version : TensorFlowLiteSwift 2.6.0

I am using model that contain two LSTM layers, if I don't use a function that has same functionality like reset_all_variables()(python), ResetVariableTensors()(java, and c++), the output will be different from what I want.

I need the function

[2021-09-08 13:46] sushreebarsa commented on #51878
@van68 Could you please refer to the [link1](https://www.tensorflow.org/lite/performance/post_training_quantization), [link2](https://www.tensorflow.org/model_optimization/guide/quantization/training) ,[ link 3](https://www.tensorflow.org/hub/model_compatibility) and let us know if it helps ? Thanks!

[2021-09-08 13:55] Abellegese commented on #40447
`a`

[2021-09-08 14:08] AlbertoMQ commented on #39679
Also happening on TF 2.4.1

[2021-09-08 14:13] Huskers2020 commented on #50766
@Amzo - Were you able to make progress?

[2021-09-08 14:27] doubibobo opened #51881 "tensorflow/compiler/mlir/tensorflow:gen_gen_mlir_passthrough_op_py_py_wrappers_cc' failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux, Kylin 4.4.131 (a syste

[2021-09-08 14:42] #33267 closed

[2021-09-08 14:42] #51673 closed

[2021-09-08 15:02] mohantym commented on #51879
Hi @starboyvarun! We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-09-08 15:10] db81 commented on #47007
You get unresolved symbols because `TfLiteXNNPack*()` stuff doesn't get exported into the DLL on Windows. See #51882 for a fix, you can safely apply it against 2.6.0.

[2021-09-08 15:21] MrinalTyagi commented on #51862
@tilakrayal @sanatmpa1 i would like to work on this issue. Could you guide me regarding the same?

[2021-09-08 15:23] #51845 closed

[2021-09-08 15:25] MrinalTyagi commented on #51839
@sushreebarsa  @Saduf2019 I would like to work on this issue. Could you guide me with the same?

[2021-09-08 15:33] sanatmpa1 commented on #32082
Checked in `TF 2.6.0` and the issue still persists. Please find the [gist here](https://colab.research.google.com/gist/sanatmpa1/c239a0283aaa27bdf633529e04134458/32082.ipynb)

[2021-09-08 15:33] mahaoyanghb commented on #31331
awesome!
it works

[2021-09-08 15:41] sanatmpa1 commented on #32090
issue still exists in `2.6.0` and `nightly`. Here's the [gist](https://colab.research.google.com/gist/sanatmpa1/985a559b4ff8e165576f2803457ad8d1/32090.ipynb#scrollTo=hRPeuchG--s3). Thanks!

[2021-09-08 15:42] #51644 closed

[2021-09-08 15:42] #34345 closed

[2021-09-08 15:42] mohantym commented on #28446
Hi @ppwwyyxx!  I have edited code and  issue is not replicating after multiple use . please find [GIST ](https://colab.research.google.com/gist/mohantym/b9c052452fa3f11504c1f0044f0b1bd5/untitled997.ipynb#scrollTo=yb2BJyV0HDCm)for reference.

[2021-09-08 16:09] mohantym commented on #32322
Hi @deasmhumhna , Edited your code at this part to resolve the issue.
[code]

to

[code]

providing [gist](https://colab.research.google.com/gist/mohantym/e746a27163286c6424fc58b93df76ae5/32322.ipynb#scrollTo=WKwaGW2QJoZu) for reference

[2021-09-08 16:13] mihaimaruseac commented on #32090
Problem is the modularization effort stalled since members left the team last year.

We onboarded new members recently, so we should pick up these items again. Apologies for the delays.

[2021-09-08 16:35] akkshay0107 commented on #51723
@sanatmpa1

i get that unzip is not recognized as an internal or external command
![2021-09-08 22_02_49-](https://user-images.githubusercontent.com/64022998/132549146-e4fb4cb1-1107-4714-897d-55f1e3633cea.png)

[2021-09-08 16:37] rainwoodman commented on #46977
The tuple in DCHECK is only evaluated under debug mode. (`#undef NDEBUG`). Could this be the cause of this anomaly?

[2021-09-08 16:42] #34693 closed

[2021-09-08 16:50] tilakrayal commented on #51877
@puneeshkhanna ,
Can you please refer this SO [link](https://stackoverflow.com/questions/41319292/error-typeerror-type-numpy-ndarray-doesnt-define-round-method) with similar error.It helps.Thanks!

[2021-09-08 16:52] jvishnuvardhan commented on #51818
@AlexFuster Thanks for creating this issue. Looks like this is more related to keras-team/keras. So, I moved this issue to keras-team/keras repo for resolving. Thanks!

[2021-09-08 17:02] sushreebarsa commented on #51881
@doubibobo Could you please have a look at the [link1](https://www.tensorflow.org/mlir),[link2](https://www.tensorflow.org/install/source), similar[ issue ](https://github.com/tensorflow/tensorflow/issues/46630) and try to install using latest stable TF version 2.6 from source ?Please let us know if it helps? Thanks!

[2021-09-08 17:24] Amzo commented on #50766
Yeah, i upgraded to 2.1.4 and fixed the packaging in the Makefile, and it works as intended on freebsd.

[2021-09-08 17:27] eli-osherovich commented on #32322
This is a not-so-nice hack to somehow circumvent the bug.
Definitely, not a solution.

[2021-09-08 17:42] #47473 closed

[2021-09-08 17:42] #47485 closed

[2021-09-08 18:08] lu-wang-g commented on #51590
+1. This is because your Flatbuffer version is 2.0.0, while TF 2.5/2.6 expects Flatbuffer 1.12. Reinstall TF will refresh the Flabuffer version. Or you can imply downgrade your Flatbuffer version.

[2021-09-08 18:14] mdanatg commented on #51585
@tomerk can probably tell more, but the error message seems wrong.

Looking at the code, using `tf.range` would index a Python list (`self.net_list`) using a Tensor (`i` is a Tensor when the loop is over `tf.range`), which isn't supported. The same happens for appending to outlist, which needs to be a TensorArray; Python lists are not supported in `tf.range` loops at the moment.

Still, while it s

[2021-09-08 18:33] vigkrish123 commented on #27120
I am having the same issue. Can someone summarize the solution in simple terms ? I am new to tensorflow and i got the error:-

File "train.py", line 298, in <module>
    _main_(args)
  File "train.py", line 266, in _main_
    train_model.fit_generator(
  File "C:\Users\vigne\anaconda3\lib\site-packages\tensorflow\python\keras\engine\training.py", line 1847, in fit_generator
    return self.fit(

[2021-09-08 18:40] bhack commented on #27120
@vigkrish123  Can you check if your case is covered by this test https://github.com/tensorflow/tensorflow/pull/51538?

[2021-09-08 18:42] #51676 closed

[2021-09-08 18:48] vigkrish123 commented on #27120
I added the lines of code but after first Epoch, the error returned

[2021-09-08 18:53] bixia1 commented on #51870
The Google Colab provided by Jonathan shows two issues:
(1) a freeze graph exceeds the savedModel 2GB limit.
(2) a single constant exceeds the 2GB limit for "tensor proto".

Here are the concerns for the proposed solution to have TF-TRT work on checkpoints instead of savedModel:
(1) It doesn't address the second problem above.
(2) Common ML practice is to use savedModel for inference. Now we can t

[2021-09-08 19:03] mdanatg commented on #27120
Do the recommendations in https://www.tensorflow.org/guide/function#creating_tfvariables help?

[2021-09-08 19:05] hrw opened #51886 "GET returned 404 Not Found"
**System information**
- OS Platform and Distribution: manylinux2014
- TensorFlow version: git HEAD
- Python version: 3.6 - 3.9
- Installed using virtualenv
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): 10

**Describe the problem**

File missing on mirror?

[code]

**Provide the exact sequence of commands / steps that you executed before runni

[2021-09-08 19:14] bhack commented on #27120
I don't understand what you mean as that one is just an expecting failing test for a not implemented functionality.
What i meant is:

Is your use case the same as the expected failing test?

[2021-09-08 19:50] vigkrish123 commented on #27120
Am not quite sure. The problem arises when the following code is reached:-

train_model.fit_generator(
        generator        = train_generator,
        steps_per_epoch  = len(train_generator) * config['train']['train_times'],
        epochs           = config['train']['nb_epochs'] + config['train']['warmup_epochs'],
        verbose          = 2 if config['train']['debug'] else 1,
        callba

[2021-09-08 20:10] bhack commented on #27120
I don't see where you are using a `tf.function` here.

[2021-09-08 20:25] ymodak commented on #32896
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-09-08 20:25] #32896 closed

[2021-09-08 21:24] njzjz opened #51889 "CUBLAS_STATUS_INVALID_VALUE when using `tf.matmal` to calculate large size of tensors"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Feroda 34
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.5.0
- Python version: 3.9.6
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version

[2021-09-08 21:39] vigkrish123 commented on #27120
Problem was when i called tf.Variable(0.). When I removed this and assigned it a normal value (batch_seen = 0), the code started proceeding further. Strange! Anyways thanks for the help :)

[2021-09-08 21:44] bhack commented on #27120
Yes is:
[code]

[2021-09-08 22:36] #51456 closed

[2021-09-08 22:41] #42361 closed

[2021-09-08 22:54] ymodak commented on #38898
Thanks for your issue. The performance stats have significantly improved with TF 2.6

dtype | framework | mean (ms)
-- | -- | --
int32 | tensorflow | 39.084363
int16 | tensorflow | 25.341967
float32 | tensorflow | 34.118117
float16 | tensorflow | 22.233753
int32 | pytorch | 32.295503
float32 | pytorch | 24.424627

[2021-09-08 22:55] #38898 closed

[2021-09-09 00:12] bhack commented on #11085
Can we close this?

[2021-09-09 00:30] DEKHTIARJonathan commented on #51870
@sanjoy as promised here a few additional data points:

## 1. It's totally doable to save in a SavedModel format >= 2GBs

[code]
Which produces the following:
[code]

If we look into the SavedModel documentation: https://www.tensorflow.org/api_docs/python/tf/saved_model/save

Variables must be tracked by assigning them to an attribute of a tracked object or to an attribute of obj directly. TensorF

[2021-09-09 02:01] nectario commented on #50735
Hi @sanjoy

Sorry for my late response. I just came back from vacation. I did as you said, but surprisingly, the issue is not reproduceable now. I tried running it in the different environments in AWS and also my local machine, where it was happening, and it does not happen now. The version of tensorflow I tested with  was 2.6. Fyi, when this first happened, it was under 2.5. Anyway, I do remember

[2021-09-09 02:19] bhack commented on #47340
@ogrisel Can you confirm that `evaluate` corrupts also `train_on_batch`?

[2021-09-09 02:44] liumilan opened #51892 "how to barrier when run distribution trainning by estimator api"
When run distribution trainning by tf.estimator api ，other workers will be hanging when one worker finished training.So i add sleep function below estimator funtion.But it seemed tricky this way.
[code]
Any other good ways to fix this estimator issue?
TF version is 1.14

[2021-09-09 04:03] ArunaKote commented on #51691
pip install tensorflow-hub
pip install tensorflow

I have attached python file
[model.zip](https://github.com/tensorflow/tensorflow/files/7133302/model.zip)

[2021-09-09 04:19] starboyvarun commented on #51879
@mohantym Other template question was not important that's why I only filled important ones.
 and I have mentioned a screenshot that clearly says version. This is just the beginning of the code.
Thanks!

[2021-09-09 04:55] mohantym commented on #51886
Hi @Saduf2019 ! Could you look into this issue?

[2021-09-09 05:17] eduardoLopex666 commented on #30472
Yes, this solved my issue with this problem.

[2021-09-09 05:28] gilfree commented on #48545
Works on nightly, on the same system.

Thanks!

[2021-09-09 05:52] par1hsharma commented on #51876
is this not a correct way to install it on M1 . Can you please go through the link and share your response ?
 https://github.com/jeffheaton/t81_558_deep_learning/blob/master/install/tensorflow-install-mac-metal-jul-2021.ipynb

[2021-09-09 05:55] kumariko commented on #28902
@valwang We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-09 06:00] sushreebarsa commented on #51832
@sanatmpa1 Was able to reproduce the issue on Colab using TF v2.5, 2.6 and tf-nightly,Please find the[ gist](https://colab.research.google.com/gist/sushreebarsa/dad6e56c8fa248ebdc10dccbad66b893/untitled190.ipynb#scrollTo=LUTrz0LeJAXK) for reference .Thanks!

[2021-09-09 06:20] valwang commented on #28902
OK, I will heck the newer version for this. Thanks!

From: kumariko ***@***.***>
Sent: 2021年9月9日 13:56
To: tensorflow/tensorflow ***@***.***>
Cc: Wang, Gang (NSB - CN/Hangzhou) ***@***.***>; Mention ***@***.***>
Subject: [Suspected Marketing Mail] Re: [tensorflow/tensorflow] INTERNAL ERROR reported while trying to apply GpuDelegate to tflite (#28902)

@valwang<https://github.com/valwang> We are ch

[2021-09-09 06:21] van68 commented on #51878
thank you reply, but it is no using.
Our problem is based on tensorflow 1. X training model, if reasoning under tensorflow 2. X

[2021-09-09 06:35] kumariko commented on #18112
@linchuming We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions.Thanks!

[2021-09-09 06:38] sushreebarsa commented on #51892
@liumilan We see that you are using TF **`v1.14`** which is not actively supported, please try to upgrade the TF version to **`2.6.0`** which is the latest stable TF version. Please let us know if the issue still persists in newer versions? Thank you!

[2021-09-09 06:42] #29835 closed

[2021-09-09 06:48] sanatmpa1 commented on #51723
@akkshay0107,

`unzip` is not a normal program in Windows. It won't work directly when using CMD as your shell. So you should install command line archiving programs like [unzip](http://gnuwin32.sourceforge.net/packages/unzip.htm) and add corresponding path to your environments. This is not an issue with TF and its a common windows error. Please try the same and check if its working. Thanks!

[2021-09-09 06:57] saeedm2020 commented on #11085
This issue is not solved yet.

On Thu, Sep 9, 2021 at 2:12 AM bhack ***@***.***> wrote:

--
-Saeed

[2021-09-09 07:09] Saduf2019 commented on #51886
@hrw
Can you please confirm if this issue occurs with the stable version of tensorflow as the nightly could have daily updates, can you let us know if it works fine on stable tested version 3.4/2.5 or 2.6

[2021-09-09 07:10] sanatmpa1 commented on #51793
@l-bat,

As its working in nightly, can you close this issue and open it again if its still an issue on later release. Thanks!

[2021-09-09 07:12] sanatmpa1 commented on #27673
@PeterS2a,

Thank you for the detailed summary of how you solved and it may help others. Since the issue is already resolved and can you confirm if we are good to close this issue?

[2021-09-09 07:18] kumariko commented on #17968
@harryxu-yscz We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-09 07:24] kumariko commented on #17628
@hanspond We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-09 07:30] PeterS2a commented on #27673
I can confirm, that this issue is solved for my since early 2020... And so I would encourage You to close it (and go on solving open issues, as the Raspi-cross-compilation remains a cumbersome adventure. Currently I have quite some compatibility issues with different versions of the Google protobuf...).

[2021-09-09 07:30] #27673 closed

[2021-09-09 07:33] kumariko commented on #17150
@Hvass-Labs We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. please check https://github.com/tensorflow/tensorflow/issues/17150#issuecomment-464426225

[2021-09-09 07:36] tilakrayal commented on #49306
@mrawding ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-09 07:37] tilakrayal commented on #49260
@magondra
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-09 07:40] tilakrayal commented on #18931
@Skydes
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-09 07:41] tilakrayal commented on #18748
@gpx1000 ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-09 07:42] tilakrayal commented on #17778
@jtavrisov ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-09 07:50] Skydes commented on #18931
@tilakrayal I am not using TensorFlow anymore so I won't be able to help on this - closing this issue now.

[2021-09-09 07:50] #18931 closed

[2021-09-09 08:04] NEGU93 opened #51895 "tf.nn.max_pool_with_argmax to support multiple dimensions (ND)"
**System information**
- TensorFlow version (you are using): 2.x
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Current Behavior:

Currently, there is a function called [tf.nn.max_pool_with_argmax](https://www.tensorflow.org/api_docs/python/tf/nn/max_pool_with_argmax).

Feature Request:

However, it would be great if the function support

[2021-09-09 08:06] #51787 closed

[2021-09-09 08:25] AlexFuster commented on #51818
Well, Keras team doesn't seem to agree with that

[2021-09-09 08:33] mohantym commented on #51876
Hi @par1hsharma ,Is the issue still replicating  with same error stack trace?

[2021-09-09 08:41] doubibobo commented on #51881
Thanks for your timely response. Following [https://github.com/tensorflow/tensorflow/issues/46630#issuecomment-885816590](url), I set TF_ENABLE_MLIR=0 and TF_ENABLE_XLA=0, but I still get the same error while compiling a new file.
It seems like that the absl package is not installed correctly......

ERROR: /home/b517-120/tensorflow/tensorflow/cc/BUILD:621:22: Linking of rule '//tensorflow/cc:ops/e

[2021-09-09 08:49] terryheo commented on #47168
BTW, if you're using tf-nightly you can use Model Analyzer API to check which node has the compatibility issue.

[code]

[2021-09-09 09:19] klamann opened #51896 "Tensorflow does not work with python -OO because of __doc__ usage"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): any
- TensorFlow installed from (source or binary): pip wheel
- TensorFlow version (use command below): 2.6.0
- Python version: 3.9

**Describe the current behavior**

Tensorflow crashes when being executed in a cont

[2021-09-09 09:42] #51624 closed

[2021-09-09 10:12] SaschaHeyer opened #51897 "official guide on developer.apple.com/metal/tensorflow-plugin fails to build grpcio"
Apple Silicon steps it fails to install base tensorflow:

[code]

with the following error message:

[code]

What is the proposed solution?

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac M1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): https://developer.apple.co

[2021-09-09 10:28] mohantym commented on #51879
Hi @starboyvarun , The above commands ran fine in Colab .Please  Find [Gist ](https://colab.research.google.com/gist/mohantym/973ccfa19402bedeb4aca8659b914a7c/github_51789.ipynb)for reference  . Please provide Full Error stack trace to proceed further.
Also,It seems a duplicate issue to [this issue](https://github.com/tensorflow/tensorflow/issues/51783) who response has have been updated  recently

[2021-09-09 10:33] mohantym commented on #51895
Hi! @Saduf2019 ,Could you please look at this feature request?

[2021-09-09 10:36] gao8954 opened #51898 "the @tf.function annotation weird performance"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-09-09 11:04] niesocja opened #51899 "BatchNormalization"
I am trying to understand how BatchNormalization works. With code:
`x=tf.constant([2.,3.,4.])`
`x=keras.layers.BatchNormalization()(x)`
`print(x)`
I get response:
`tf.Tensor([1.9990008 2.9985013 3.9980016], shape=(3,), dtype=float32)`
Which is not what i expect since it doesn't have mean 0 or variance 1. Can somebody explain?

[2021-09-09 11:13] qq747688898 opened #51900 "Multi gpus can not run parallel when using run_eagerly=True in model.fit() in MultiWorkerMirroredStrategy"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-09-09 11:15] hrw commented on #51886
This was on Linaro CI. Our 'manylinux tensorflow nightly' job builds Tensorflow in a loop for Python 3.[6789] versions.

Log: https://ci.linaro.org/job/ldcg-python-manylinux-tensorflow-nightly/89/console

It looks like it built git HEAD for Python 3.6 and then started for 3.7 and failed.

Build of TF:
[code]

Our Ansible playbooks/roles used for building: https://git.linaro.org/ci/job/configs.git/

[2021-09-09 11:17] hrw commented on #51886
I am aware that build scripts I use may need some improvements. All comments are welcome.

[2021-09-09 11:28] puneeshkhanna commented on #51877
Usage of assertAllClose is done correctly in tensorflow/python/feature_column/sequence_feature_column_integration_test.py. Someone realized there the issue.
self.assertEqual(list(ctx_result['float_ctx'].shape), [1])
self.assertAlmostEqual(ctx_result['float_ctx'][0], 123.6, places=1)
This is how it needs to be changed wherever applicable and not pass numpy array to the call.

[2021-09-09 11:42] #38858 closed

[2021-09-09 11:50] tilakrayal commented on #51889
@njzjz ,
Every TensorFlow release is compatible with a certain version, for more information please take a look at the [tested build](https://www.tensorflow.org/install/source#gpu) configurations.In this case, can you please try installing TensorFlow v2.5 with CUDA 11.2 and cuDNN 8 .1and check if you are facing the same error. Thanks!

[2021-09-09 11:55] starboyvarun commented on #51879
@mohantym its fine but see the version is 2.3 of tf ,check I wanted the version to be 2.2 of Tensorflow

[2021-09-09 11:58] hohilwik commented on #51634
XLA documentation uses different markdown from github so it took me a while to figure out. Sorry about that. Will submit PR in a day or two

[2021-09-09 12:09] akkshay0107 commented on #51723
It as started working. Thanks a lot !

[2021-09-09 12:09] #51723 closed

[2021-09-09 12:29] mohantym commented on #51879
Yes , Its a bug. I have update the [Gist ](https://colab.research.google.com/gist/mohantym/973ccfa19402bedeb4aca8659b914a7c/github_51789.ipynb#scrollTo=itREjrDQFN79).

[2021-09-09 12:34] starboyvarun commented on #51879
@mohantym
Now, will anyone fix it??
Fix with older versions as people of bioinformatics use older versions.

[2021-09-09 12:36] mohantym commented on #51898
Ok. @gao8954,
But Could you please fill the issue template ?It helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-09-09 12:38] liumilan commented on #51892
Can tf 2.6.0 support tf 1.14 api?

[2021-09-09 12:41] mohantym commented on #51879
Hi @sanatmpa1 ,Could you please look at this issue?

[2021-09-09 12:42] #35053 closed

[2021-09-09 12:42] #51380 closed

[2021-09-09 12:55] diviramon opened #51901 "TF 2.5 Asks for nightly build"
Now that Keras 2.5 and 2.6 have been released, can we update the setup.py to a stable Keras version? It causes errors when trying to use package managers such as poetry since they rely on pip. Thanks!

https://github.com/tensorflow/tensorflow/blob/a4dfb8d1a71385bd6d122e4f27f86dcebb96712d/tensorflow/tools/pip_package/setup.py#L107

[2021-09-09 13:00] diviramon commented on #50042
Can it be changed the Keras nightly dependency? It really is stopping my team from using 2.5. Thanks!

[2021-09-09 13:11] yyoon commented on #51547
Using the unmodified Sound Classification example with TFLite v2.5.0 dependencies with your model, I get a different error:

[code]

Based on the log message, it doesn't seem to be crashing immediately after the TFLite runtime initialization.

[2021-09-09 13:18] mohantym commented on #51901
Hi @diviramon ! We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-09-09 13:20] nouiz commented on #48545
@gilfree Thanks for the confirmation.
@GatGit12 if you have time that this resolve your original issue, it would be great.

[2021-09-09 13:28] diviramon commented on #51901
There are no steps to reproduce, it is simply a line in the code under `pip_package/setup.py` for Tensorflow 2.5.

[2021-09-09 13:33] Huskers2020 commented on #50766
@Amzo Appreciate the quick response!

Is your updated code available in ports or was it something you just did locally on your m/c?
If you had locally compiled on your m/c how long did it take?

Also, can you point to any specifics that one to be aware of to compile TF on FreeBSD

[2021-09-09 13:41] mdanatg commented on #51588
It looks like the crash is unrelated with the original error message ("google.protobuf.message.DecodeError: Error parsing message"). The crash is likely due to the huge tensors ind1 and w1. That might also be the cause of the DecodeError, but let's rule it out by using smaller shapes which fit inside colab's RAM.

@mohantym can you reproduce the DecoderError in a gist?

[2021-09-09 13:42] #51699 closed

[2021-09-09 14:01] kevinkotzen opened #51902 "val_sample_weight not used in calculation of custom validation metrics"
**System information**
-  Custome code using standard keras and tfa.metrics
-  Operating System: CentOS Linux 7 (Core), Kernel: Linux 3.10.0-1160.el7.x86_64
- Tensorflow installed with pip install tf-nightly-gpu
- v1.12.1-63317-g034300c177d 2.7.0-dev20210907
- NVIDIA-SMI 465.19.01    Driver Version: 465.19.01    CUDA Version: 11.3
- A100-40GB

**Describe the current behavior**
All validation metri

[2021-09-09 14:02] Amzo commented on #50766
Code hasn't been merged yet, but this should work on FreeBSD, best to just email me about it or report on there instead of on here.

https://github.com/Amzo/FreeBSD-Tensorflow/tree/master/science/py-tensorflow

[2021-09-09 14:10] hrw commented on #51886
It built: https://snapshots.linaro.org/ldcg/python/tensorflow-manylinux-nightly/20210909-90/tensorflow-aarch64/

Closing. Sorry for mess.

[2021-09-09 14:10] #51886 closed

[2021-09-09 15:29] thor4 commented on #50881
Thanks for your patience. Here is a Jupyter notebook with the model and dataset which duplicates the accuracy calculation discrepancy: https://colab.research.google.com/github/thor4/neuralnets/blob/master/projects/1-CNN/model_evaluate.ipynb

Please let me know of questions/issues. Thank you for your help.

[2021-09-09 15:39] tilakrayal commented on #51896
@klamann ,
Can you please check this [SO](https://stackoverflow.com/questions/15036594/how-to-fix-typeerror-unsupported-operand-types-for-nonetype-and-str) link for the issue with similar error.It helps.Thanks!

[2021-09-09 15:40] tilakrayal commented on #51896
Also In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2021-09-09 15:42] #15869 closed

[2021-09-09 15:44] tilakrayal commented on #51899
@niesocja ,
Please refer this links [1](https://www.analyticsvidhya.com/blog/2021/03/introduction-to-batch-normalization/) and [2](https://www.tensorflow.org/api_docs/python/tf/keras/layers/BatchNormalization) which provide the information on BatchNormalization.It helps.Thanks!

[2021-09-09 16:26] sushreebarsa commented on #51892
@liumilan As per [TF official documentation](https://www.tensorflow.org/) ,There is a caution for using estimator api. To know more could you please have a look at the [link](https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator) for reference.Thank you!

[2021-09-09 16:29] sushreebarsa commented on #51878
@van68  In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-09 16:30] CodeMonkey3435 opened #51904 "Convert Tensorflow functions to Tensorflow Lite functions"
### 1. System information

- Linux
- TensorFlow version: 2.5.0, also TFLite 2..5.0

### 2. Code
`    masks = tf.image.crop_and_resize(tf.cast(roi_masks, tf.float32), boxes, box_ids, config.MASK_SHAPE)`

Hi there,
I am currently trying to convert the Mask R CNN model from Matterport/Leekunhee (https://github.com/leekunhee/Mask_RCNN) to Tensorflow Lite. I fixed the problem temporarily by allowing Se

[2021-09-09 16:34] TonyRietwyk commented on #31610
Just in case anyone else finds this article - LINK1201 can also occur if the output pdb file is in use.  I had a project open in Visual Studio 2019 that used zlibd.dll and zlibd.pdb.  At the same time I was trying to run vcpkg to recreate those files and got this error.  It was resolved by closing all instances of Visual Studio (and its zombie debugging consoles), then running vcpkg.  The zlibd.pd

[2021-09-09 16:49] sushreebarsa commented on #51900
@qq747688898 Could you please have a look at the [link](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras) for reference and please let us know if it helps ? Thanks!

[2021-09-09 17:04] bulgarianboy opened #51906 "Cannot find tensorflow 2.2.0rc4 as available option with pip install"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.9.5
- Mobile device (

[2021-09-09 17:06] bulgarianboy commented on #51906
Should mention pip is 21.2.4 (latest)

[2021-09-09 17:14] jvishnuvardhan commented on #51818
@AlexFuster looks like more related to TF core. So, this repo is right place for this issue. Thanks!

[2021-09-09 17:14] tilakrayal commented on #51902
@sanatmpa1 ,
I was able to reproduce the issue in tf v2.5,v2.6 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/93668cb75a71299e9d335249a7450ca2/un51902.ipynb).

[2021-09-09 17:25] bulgarianboy opened #51907 "Failed to load the native TensorFlow runtime"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.9.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.2.1
- Python v

[2021-09-09 17:42] #35408 closed

[2021-09-09 18:05] lugalUrim opened #51908 "tf.pad crashes with large paddings"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2021-09-09 18:26] mohantym commented on #51906
Hi @bulgarianboy , In that  case ,select from suggested versions i.e  2.2.1 ,But Minimum MacOS requirement is 10.12.6 or later . Detail instructions are here in this[ link](https://www.tensorflow.org/install/pip#macos) .

[2021-09-09 18:28] njzjz commented on #51889
Hi @tilakrayal, CUDA 11.2 works for me. So, I guess there is still something incompatible with CUDA 11.3 in the source code, even if I built from source?

[2021-09-09 18:39] bkgoodman opened #51909 "crash in (loading?) libtensorflow_framework.so.2"
**System information**
- No custom code - just loading
- Ubuntu 20.0.4
- Intel(R) Atom(TM) CPU D2500   @ 1.86GHz
- Installed from Ubuntu release binary apt-get
- Cannot determine (see below)
- Python version: 3.8
- CUDA/cuDNN version: None
- GPU model and memory: None
- Everything very "stock" - new, clean ground-up install from binary repos
- CPU flags:  `fpu vme de pse tsc msr pae mce cx8 apic s

[2021-09-09 18:42] #39590 closed

[2021-09-09 18:42] #17267 closed

[2021-09-09 18:42] #39648 closed

[2021-09-09 18:44] rafak360 opened #51911 "TensorFlow throws an exception when loading a model that was normalized like this."
See my stackoverflow question that covers up everything:
https://stackoverflow.com/questions/69112466/why-tensorflow-throws-this-exception-when-loading-a-model-that-was-normalized-li

[2021-09-09 18:47] kkimdev commented on #51681
I think it's also good to check PyTorch and JAX before making a decision here.  First of all, the gradient is mathematically not defined in this case (left-limit and right-limit is different, 0 and 1), and for gradient-descent optimizing purpose, I think having a stable gradient norm with respect to floating point round off error is not a bad choice.

[2021-09-09 18:50] Saduf2019 commented on #34112
@mwalmsley
This has been fixed in nightly please find the [gist here](https://colab.research.google.com/gist/Saduf2019/e6b288651a3944a6b720b30e2ffd3b86/untitled635.ipynb).

[2021-09-09 18:52] Saduf2019 commented on #34035
@dav1d-wright
As many issues have been fixed in the latest version could you please try on the latest stable version [2.4/2.5/2.6] and let us know.

[2021-09-09 18:56] Saduf2019 commented on #33967
@ouakif
Please post this issue on keras-team/keras repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-09-09 18:57] klamann commented on #51896
There is no dataset required and I provided a complete working example. You can try it in your terminal, it's just one call:

    python -OO -m tensorflow.python.ops.array_ops

It will fail with the mentioned `TypeError`.

The linked SO post has nothing to do with this issue.

[2021-09-09 19:08] yakovdan commented on #51804
I've tried many times to recreate a model that runs on Hexagon, but I couldn't. They all failed to run as I've described above. It's likely the intermittency I've seen is just confusion on my part.

Can we discuss why max_pool with size (13,13) fails?

In the meantime, I've replaced the max_pool operator with kernel size (13,13) with a chain of two smaller max_pool operators that work fine - (9,9)

[2021-09-09 19:14] nectario opened #51913 "Attention and AdditiveAttention Layers not well documented."
The attention layers (Attention and AdditiveAttention Layers) are not well documented. For example, I am able to pass a 4D input without issue when the current documentation say we should pass a 3D input.

What does it mean when I pass 4D input? Please provide more examples.

Thank you!

Nektarios

## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://ww

[2021-09-09 19:48] bhack commented on #11085
What is missing?

[2021-09-09 19:53] blackyang commented on #39774
@jvishnuvardhan i think this is clearly a bug right? because it's inconsistent behavior between using custom Model vs using functional API. Could you fix this? Thx.

[2021-09-09 20:15] rthadur commented on #50571
Closing this issue as there is no activity and is not a bug or feature request in TF.

[2021-09-09 20:15] #50571 closed

[2021-09-09 21:17] rfmeloneto opened #51915 "ModuleNotFoundError: No module named 'tensorflow.python.eager'"
**System information**
-  I wrote a custom code
- Windows 10
- TensorFlow installed from source
- TensorFlow version : 2.6.0
- Python version:3.9

**Describe the current behavior**

When i run the code, the following error appears :
from tensorflow.python.eager import context
ModuleNotFoundError: No module named 'tensorflow.python.eager'

**Describe the expected behavior**

This error shouldn't ha

[2021-09-09 23:20] mohantym commented on #51870
Hi @DEKHTIARJonathan !Could you please look into  [answer](https://github.com/tensorflow/tensorflow/issues/4291#issuecomment-245995340) of this [issue.](https://github.com/tensorflow/tensorflow/issues/4291) Replicating in [TF 2.5](https://colab.research.google.com/gist/mohantym/b1358880ec360b5872c314fbef7218d2/-tf-savedmodel-export-2gb-tensor-size-constraint-in-tf-trt-conversion.ipynb#scrollTo=LRO

[2021-09-09 23:23] rafak360 commented on #51911
In addition to that, using that same code example from stackoverflow will notice a significant loss of accuracy after the model is loaded properly (with input_dim specified in Normalization()), however that does NOT happen in tensorflow-gpu 2.5.0 which means tensorflow-gpu 2.6.0 has more bugs than expected.

[2021-09-09 23:27] DEKHTIARJonathan commented on #51870
@mohantym this solution will not work because TF-TRT (behind the hood) relies on graph freezing API and there's no way to use variable partitioner / tf.split() OPs AFAIK

[2021-09-09 23:40] mohantym commented on #51915
Hi @rfmeloneto ! Did you verify with instructions here for building from [source](https://www.tensorflow.org/install/source_windows). Can you please try with Python 3.6.? I was not able to replicate this issue in  Colab though.

[2021-09-09 23:51] mohantym commented on #51901
Hi @diviramon  , but its updated to keras 2.6  in [2.6 ](https://github.com/tensorflow/tensorflow/blob/r2.6/tensorflow/tools/pip_package/setup.py)

[2021-09-09 23:54] diviramon commented on #51901
Hi @mohantym, thanks for getting back to me. Yes, but TF 2.6 is not supported on Apple M1 chip (there is no arm distribution). Therefore we need to use 2.5. Could it be updated in 2.5 as well?

[2021-09-10 00:03] tgsmith61591 commented on #49182
Any update on this?

[2021-09-10 01:09] wangpengmit commented on #44758
According to the big table in https://www.tensorflow.org/extras/candidate_sampling.pdf , the phrase "negative samples" may mean different things in different algorithms. For example, in NCE "negative samples" means S_i (which is just the sampled classes) which may overlap with true classes, while in Sampled Logistic "negative samples" means S_i - T_i which excludes the true classes.

For `tf.rando

[2021-09-10 01:12] ClaudioBorges commented on #50204
This makes `tensorflow >= 2.2` incompatible with `gensim >= 4.1`  because `gensim` requires `numpy >= 1.20` on `python 3.8`.

[2021-09-10 01:15] wangpengmit commented on #44814
According to the docs for `tf.random.fixed_unigram_candidate_sampler` ([doc](https://www.tensorflow.org/api_docs/python/tf/random/fixed_unigram_candidate_sampler)) and `tf.random.log_uniform_candidate_sampler` ([doc](https://www.tensorflow.org/api_docs/python/tf/random/log_uniform_candidate_sampler)), the former uses a discrete distribution defined by the `vocab_file` or the `unigrams` argument, w

[2021-09-10 01:20] wangpengmit commented on #49490
Please see my comment https://github.com/tensorflow/tensorflow/issues/44758#issuecomment-916554100 . The phrase "negative samples" may have different meanings in different candidate-sampling algorithms. For some algorithms "negative samples" can overlap with true classes.

We do need to mention this caveat in the tutorial though.

[2021-09-10 01:52] qq747688898 commented on #51900
Thanks for your reply. This page introduces how to start a distributed training by using Keras and tf.distribute.Strategy, but it can not explain why the gpus does not run parallel when using `model.compile(run_eagerly=True)`

[2021-09-10 02:11] HoussemNeuer commented on #32278
how i can find ～./keras/datasets/ ?

[2021-09-10 03:26] gao8954 commented on #51898
Ok,has been modified,and colab link provided

[2021-09-10 03:37] wu-yy opened #51921 "How can I the outputs of tf_logging on a TestCase"
I write a `test.TestCase` file, and i could't find the outputs of tf_logging.

code:
[code]

compile command:
`
bazel test --test_arg=--v=3 --test_output=streamed //tensorflow/python:pipeline_embedding_ops_test
`
But I couldn't find the output of "logging.info("Output")".

throw a error : No handlers could be found for logger "tensorflow"

[2021-09-10 03:52] starboyvarun commented on #51879
@mohantym  @sanatmpa1  yes I have posted the issue where you have mentioned.
Please let me know when it gets fixed.
Thank you.

[2021-09-10 04:12] EnderWiggin14 opened #51922 "Sub-classed constraint doesn't appear to be called"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): A proprietary variant of RedHat, outside of my control
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.5.0
- Python version: 3.7.2
- CUDA/cuDNN version: 11.1.0/8.1.1

[2021-09-10 04:13] EnderWiggin14 commented on #51840
@tilakrayal

I just posted this to the Keras issues page.

[2021-09-10 04:26] mohantym commented on #51909
Could you please confirm the Tensorflow version too?

[2021-09-10 04:26] Huskers2020 commented on #50766
how much time did it take to compile TF?

[2021-09-10 04:27] tilakrayal commented on #51840
@EnderWiggin14 ,
Please feel free to move this issue to closed status as it has been tracked in Keras repo.Thanks!

[2021-09-10 04:40] tilakrayal commented on #51889
@njzjz ,
As mentioned above please follow  the tested build configurations and try to install tf v2.5 with compatible cuda and cudnn and let us know if you are facing any issue. CUDA 11.3 is incompatible with v2.5 as every tensorflow release is compatible with certain version.Hope it r helps to resolve the issue.Thanks!

[2021-09-10 05:05] shkarupa-alex commented on #49182
No issue at 2.6.0

[2021-09-10 05:07] #51840 closed

[2021-09-10 05:34] dolmens opened #51925 "build pip package failed when setting --config=c++17_gcc"
**System information**
- OS Platform and Distribution: Ubuntu 20.04
- TensorFlow installed from source
- TensorFlow version: 2.6.0
- Python version: 3.8.10
- Bazel version: 3.7.2
- GCC/Compiler version: 9.3.0-17ubuntu1~20.04

**Describe the problem**
build failed by
[code]
**build commands**
[code]
The target `//tensorflow:libtensorflow_cc.so` build finished and worked, so I guess there are some b

[2021-09-10 05:52] bill-connelly commented on #40070
Same issue as @kevinashaw

[2021-09-10 05:59] tilakrayal commented on #51877
@puneeshkhanna ,
In order to expedite the trouble-shooting process, could you please provide a minimal code snippet you are trying to execute.Thanks

[2021-09-10 06:01] tilakrayal commented on #51907
@bulgarianboy ,
Could you please update TensorFlow to the latest stable version v2.6 and let us know if you are facing the same error. Thanks!

[2021-09-10 06:04] tilakrayal commented on #51907
Also please check the tested build [configurations](https://www.tensorflow.org/install/source#gpu) and try to install latest tensorflow version with compatible Cuda and cudnn.Thanks!

[2021-09-10 06:05] kumariko commented on #17316
@mrry We are checking to see if you still need help on this issue. I can see [**`PR`**](https://github.com/capeprivacy/tf-trusted/pull/27) is merged . We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-10 06:08] kumariko commented on #29217
@KocsisV We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-10 06:12] kumariko commented on #19457
@jackonan We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-10 06:17] kumariko commented on #16889
@rundembear We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-10 06:25] saeedm2020 commented on #11085
It does not work in macOS Big Sur Version 11.5.2. It has to work otherwise,
why did we have to pay for a GPU that we never used?

On Thu, Sep 9, 2021 at 9:49 PM bhack ***@***.***> wrote:

--
-Saeed

[2021-09-10 06:42] #39407 closed

[2021-09-10 06:42] #29907 closed

[2021-09-10 06:42] #30483 closed

[2021-09-10 06:42] #39328 closed

[2021-09-10 06:42] #48575 closed

[2021-09-10 06:42] #34834 closed

[2021-09-10 06:58] amitport commented on #19457
@kumariko this is also an issue in tf2

[2021-09-10 07:18] tilakrayal commented on #51911
@rafak360 ,
I was able to execute the mentioned [SO code](https://stackoverflow.com/questions/69112466/why-tensorflow-throws-this-exception-when-loading-a-model-that-was-normalized-li) in tf v2.6 without any issue.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/845d0574f6411100fc00255bfcfc0b62/un51911.ipynb).Also i can see your  tf v2.6 is installed with Cuda 11

[2021-09-10 07:31] ArniusOm opened #51926 "ImportError: DLL load failed while importing _pywrap_tensorflow_internal: A dynamic link library (DLL) initialization routine failed."
Hello,
I ran this comand in Conda:

(style-transfer) E:\Python\fast-style-transfer>python evaluate.py --checkpoint ./rain-princess.ckpt --in-path <E:\Python\fast-style-transfer\arnius_gali.jpg> --out-path ./arnius_gali2.jpg

Got this error message:

Traceback (most recent call last):
  File "C:\Users\User\anaconda3\envs\style-transfer\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line

[2021-09-10 07:37] CodeMonkey3435 commented on #51904
Okay, so I wanted to try on Tf 2.6 and tf nightly and this is what I found:

[code]
And this is the error message:

<unknown>:0: note: loc("StatefulPartitionedCall"): called from
/home/codemonkey/anaconda3/envs/tflite_converter/lib/python3.7/site-packages/tensorflow/python/util/deprecation.py:552:0: error: failed to legalize operation 'tf.TensorListReserve' that was explicitly marked illegal
<unkn

[2021-09-10 07:42] #51570 closed

[2021-09-10 07:42] mohantym commented on #13426
Hi @daj ,
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-10 07:45] CodeMonkey3435 commented on #51904
And after I disabled "converter._experimental_lower_tensor_list_ops = False", the code looks like this:

[code]

My new error message is this:

[2021-09-10 07:45] mohantym commented on #10071
Hi @HFTrader! We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-10 07:52] mohantym commented on #9951
Hi @HFTrader ,Could you please check out the new [Tensorflow manual](https://www.tensorflow.org/install/source) here for building from Source.
Also It  seems that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face a

[2021-09-10 07:55] mohantym commented on #14205
Hi @daisylab ,Please follow instructions for installing Tensorflow from [here](https://www.tensorflow.org/install).
We also  see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you th

[2021-09-10 07:57] mohantym commented on #14186
Hi @eaigner ,
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-10 08:01] rafak360 commented on #51911
You forgot to edit that code and uncomment the part  #model = tf.keras.models.load_model('AI/test.h5') so that is where the problem begins. I tried your  gist and achieved same exception. You might wanna change the path dir from AI/test.h5 to just test.h5 since gist seems not to accept creating a sub folder. So run the code for the first time just as is, then for the second time uncomment that par

[2021-09-10 08:04] mohantym commented on #23859
Hi @iwsmith ,Could you please visit [here](https://www.tensorflow.org/install/source_windows) for installing latest TF version as
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will ge

[2021-09-10 08:09] mohantym commented on #26378
Hi @DachuanZhao ! Could you please visit [here ](https://www.tensorflow.org/install)for more details on errors and installation procedures.  We  also see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any e

[2021-09-10 08:26] mohantym commented on #29831
Hi @CovertKoala , Could you please check with similar issues [link1,](https://github.com/tensorflow/tensorflow/issues/30539),l[ink2](https://github.com/tensorflow/tensorflow/issues/43776#issuecomment-705999765) and  Also Try with Latest version 2.6 with instructions from [here ](https://www.tensorflow.org/install) to see if issue persists.

[2021-09-10 08:28] Luux commented on #47554
This is also NOT a fix as this should not rely on whether eager execution is enabled or not.

[2021-09-10 08:29] KocsisV commented on #29217
@kumariko
I'm not using tensorflow anymore, so I can't check if the issue is still present or not in 2.6. Due to compatibility issues back then I stayed with 1.X, as the early 2.X releases did not provide the C_API.
Quickly checking the repository, there is still no docs listing falsely detected memory leaks (if there is any) for example in a form of a valgrind suppression file.

[2021-09-10 08:36] par1hsharma commented on #51876
Yes it is still replicating. Can you suggest me come commands to check if my installation is successful especially for arm Mac (m1 Mac). how to check if I have everything M1 native installed (from python to TensorFlow)

[2021-09-10 08:37] mohantym commented on #51901
Hi @sanatmpa1 ,Could you please look into this issue?

[2021-09-10 08:44] cfRod commented on #51750
Thanks for the package @hrw

[2021-09-10 09:42] #19138 closed

[2021-09-10 10:01] 1148330040 opened #51927 "Why can't you perform additional operations on the loss function under tf.gradienttape?"
tf：2.2
env：linux
this is a **Triplet extraction model**
subject_labels is normal:   (batch_size,  max_len,  2)
object_labels is : (batch_size, max_len, len(predicate), 2)
For object_ Model I need to overwrite the padding part and only modify the text part。

However, after I perform the overwrite operation, although the obtained l**oss value** has no problem in the form, it is put into tf.gradientt