[2016-05-09 19:53] yaroslavvb commented on #2296
I don't think you are using too many files, however using large amounts of data makes it more likely to expose underlying bugs. The error indicates that "bottleneck_string" contains some non-numeric characters. Not familiar with that part of code, maybe @petewarden  has an idea how non-digits could've snuck into `bottleneck_string`?

[2016-05-09 19:58] yaroslavvb commented on #2264
For reference, cuda_gpu_executor [here](https://github.com/tensorflow/tensorflow/blob/7b4d733593842361d066d7e33a03a07da5dca465/tensorflow/stream_executor/cuda/cuda_gpu_executor.cc#L905) should've convereted all -1 to 0 (I've gotten -1 Numa node on machines with 1 or 2 nodes, but it turns into 0 in the end

[2016-05-09 20:02] oweingrod commented on #2296
@yaroslavvb Yup, I had the same idea. Corrupted JPEG files would theoretically be missing the JPEG "tag" at beginning of file, right? I tried looking for that tag specifically but the process took prohibitively long on my machine.

[2016-05-09 20:02] yaroslavvb commented on #2288
Are you calling `add_check_numerics_ops` after calling `AdamOptimizer`? In `add_check_numerics` I see that it adds check numerics ops to all ops present in the graph

[2016-05-09 20:12] yaroslavvb commented on #2280
`partial_run` should enable these kinds of computation reuse. Can you check your device placement to make sure you are not spending your time waiting for CPU->GPU memory transfers?

Also, is this issue fixed if you consolidate and fetch all your outputs in a single `run`?

You can enable device placement logging by creating your session with `config = tf.ConfigProto(log_device_placement=True)`.

A

[2016-05-09 20:26] yaroslavvb commented on #2296
Yes, it probably could be missing. @dave-andersen had fun dealing with various forms of corruption when trying to reprocess imagenet dataset. Some ".jpg" files in the set were actually ".png" files in disguise

[2016-05-09 20:29] oweingrod commented on #2296
@yaroslavvb the one issue is that I've created all of the files through an automated process, so it doesn't quite make sense that just one would be corrupted.

[2016-05-09 20:52] oweingrod commented on #2296
@yaroslavvb Do you think, though, that there would be a hard-cap limit for number of images trained using this transfer learning approach? Eventually I would like to build my own CNN (or train Inception from scratch) but I'll likely have to wait for the new GTX1080 to be able to do that with any speed

[2016-05-09 20:58] yaroslavvb commented on #2296
There shouldn't be a theoretical cap, but there could be practical caps. In my own experiments I saw overfitting happening when using <1M images. However, when increasing to 20M, I didn't see overfitting after hundreds of millions of steps, so I've been using it as personal rule of thumb for desired number of training images. I'm expecting GTX1080 to be 2x faster than TitanX so it's not a great pa

[2016-05-09 21:06] oweingrod commented on #2296
@yaroslavvb Interesting. Another question—albeit a stupid one—should the number of training steps reflect the number of images 1-1? As in, 600k images, 600k training steps?

[2016-05-09 21:14] yaroslavvb commented on #2296
If you had something like 1B images, then you could train for one epoch
without fearing losing much.
But for 600k you probably will need several passes to get convergence (a
few dozen epochs at batch size 32 maybe?). I don't remember the details off
the top of my head, but ImageNet papers should talk about how many epochs
they used

On Mon, May 9, 2016 at 2:06 PM, oren weingrod <notifications@gith

[2016-05-09 21:16] oweingrod commented on #2296
@yaroslavvb I'll take a look there. Thanks a lot!

[2016-05-09 21:18] yaroslavvb commented on #2296
No problem, closing this for now since not sure what can be done on our side, but feel free to re-open if you are able to get more debugging info (ie, the contents of `bottleneck_string` for the failing example)

[2016-05-09 21:40] oweingrod commented on #2296
Attempting to grab that data now.

[2016-05-09 21:58] jhollowayj opened #2298 "opt.compute_gradients() returns values different from the weight difference of opt.apply_gradients()"
This isn't a bug, bug I wasn't sure where to ask for help on this one, so I'm sorry to just throw in another issue here on github.  I've tried searching, but haven't found answers to my questions yet.

My question is what is the most efficient way to get the delta of my weights when training?  I assume it's related to gradients, but the optimizer (I think) does a lot more than just apply the raw g

[2016-05-09 22:39] poxvoculi commented on #2264
Thanks @yaroslavvb, looks like it's failing to get the numa node on one of the other logic paths through TryToReadNumaNode.  @petamem: Fix coming.  Meanwhile, it's probably safe for you to hack common_runtime/gpu/gpu_device to set the num_node parameter to 0, where it is used.  This value is only important if you have multiple GPUs on different PCI buses.  If that's your case, then we need to fix

[2016-05-09 23:48] dave-andersen commented on #2296
I have a helper program I used to validate all of the imagenet files, but it's a little too Google-specific to be useful more broadly.  The heart of it, though, was just:

... do something to read in your JPEG into a string called image_buffer ...

  features = tf.parse_single_example(example_serialized, feature_map)
  image_buffer = features['image']
  filename = features['filename']

  image_sav

[2016-05-10 02:30] qbx2 commented on #2298
Tensorflow has the code calculates the difference in tensorflow/core/kernels/training_ops.cc, look at it.
Additionally, I see that there are no python interfaces for it now.

[2016-05-10 02:37] qbx2 commented on #2278
Could you show me system call trace using dtruss?

[2016-05-10 02:40] smartcat2010 commented on #2283
Hi, girving:
The problematic IndexedSlices comes from "tf.gradients(cost, tvars)". Because if I remove the wrapper "tf.clip_by_global_norm" and leave "grads, _ = tf.gradients(cost, tvars)" alone, the same error shows again.

[2016-05-10 02:59] apkuhar commented on #211
Any updates on this? not having this on GPU really slows things down.

[2016-05-10 03:12] pikeas commented on #2278
It's 2200 lines of output, so I've created a gist: https://gist.github.com/pikeas/293556206511cda72b94bcf154c35ddc

It's my first use of dtrace, so let me know if this output is what you need. I invoked it by doing:

    sudo -i
    export DYLD_LIBRARY_PATH=/Developer/NVIDIA/CUDA-7.5/lib
    dtruss /Users/pikeas/.virtualenvs/hnn/bin/python foo.py > dtruss.out 2>&1

foo.py only imports tensorflow.

[2016-05-10 03:31] smartcat2010 commented on #2292
I just follow mrry's suggestion [here](https://github.com/tensorflow/tensorflow/issues/2285). I add the following code to create session:

config = tf.ConfigProto(allow_soft_placement=True)
with tf.Session(config=config) as sess:

Then the error never shows and it starts to run. But the GPU usage is very low(about 7%), however CPU usage is relatively high(about 360% in “top" command). Maybe the "a

[2016-05-10 03:36] liumilan opened #2300 "what is the format of model when using save"
Can it possbile to give the doc about the format of model when using save function?

How can I define the self-model,just only using fwrite ,and read-model using fread?

[2016-05-10 03:38] qbx2 commented on #2278
ImportError: dlopen(/Users/pikeas/.virtualenvs/hnn/lib/python3.5/site-packages/tensorflow/python/_pywrap_tensorflow.so, 10): Library not loaded: @rpath/libcudart.7.5.dylib

Would you check if the file exists there, and try to put one?

[2016-05-10 03:44] pikeas commented on #2278
@qbx2 Hm, I'm not sure what you mean? `_pywrap_tensorflow.so` exists in that location, and if you're referring to `@rpath/libcudart.7.5.dylib`, the file is in /Developer/NVIDIA/CUDA-7.5/lib, which is where my CUDA was installed (default location from NVIDIA installer). That's why I set DYLD_LIBRARY_PATH.

[2016-05-10 03:48] qbx2 commented on #2278
Would you try dtruss using following method:
1) Launch python from any shell, and find its pid. (Mine is 5136 for example)
2) `sudo dtruss -p 5136`
3) `import tensorflow` in python interactive shell
4) Check dtruss output

[2016-05-10 03:48] alviur opened #2301 "Contact for legal issues"
Good night

Currently my university wants to use Tensorflow for a software project. The lawyers of my university want a letter which says TensorFlow creators allow my university to use his library. Any idea who must I contact for this issue? Thanks a lot.

[2016-05-10 04:02] pikeas commented on #2278
@qbx2 I really appreciate the help! Here's the dtruss output for `import tensorflow` run in a separate REPL - https://gist.github.com/pikeas/ea3cfca6ee49b190319f1f2da65e57c3

[2016-05-10 04:17] qbx2 commented on #2278
Yes, it seems to be a numpy.random problem. Could you check if numpy.random works?

[2016-05-10 04:21] pikeas commented on #2278
Yep, works:

    $ /Users/pikeas/.virtualenvs/hnn/bin/python -c 'from numpy.random import random; print(random(5))'
    [ 0.87424813  0.06297989  0.89478638  0.2749335   0.93622187]

[2016-05-10 04:43] girving commented on #2283
@smartcat2010: We need more information than that it comes from somewhere inside `tf.gradients`, which contains something like half of TensorFlow.  The best way would to be either find the specific line that constructs the `IndexedSlices` without specifying a `dense_shape`, or to produce a minimized test case.  Here are some ways to go about the former:

1. Add an assert in the constructor of `Ind

[2016-05-10 05:19] smartcat2010 commented on #2292
I just follow mrry's suggestion [here](https://github.com/tensorflow/tensorflow/issues/2285), adding "allow_soft_placement=True" as follows:
`        config = tf.ConfigProto(allow_soft_placement = True)
        sess = tf.Session(config = config)`

Then it works.

I reviewed the [Using GPUs](https://www.tensorflow.org/versions/r0.8/how_tos/using_gpu/index.html) in tutorial. It mentions adding "allo

[2016-05-10 06:19] qbx2 commented on #2278
I think the gist is truncated?

[2016-05-10 06:57] pikeas commented on #2278
@qbx2 I agree that the gist looks truncated, but I've just re-run and got the same result.

It looks like some dtruss runs stop early at the numpy.random output, but some runs reach a more useful trace:

write_nocancel(0x2, "I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcufft.7.5.dylib locally\nNone\n\n        Returns\n        -------\n        result : MaskedA

[2016-05-10 07:12] pikeas commented on #2278
Solved!

Gist problem - dtruss sometimes truncated its output. When I re-ran, I got a slightly longer trace that mentioned libcuda.dylib. This file is *not* in /Developer/NVIDIA/CUDA-7.5/lib, but it is in /usr/local/cuda/lib.

In other words, the solution is adding to my dylib export: `export DYLD_LIBRARY_PATH="/Developer/NVIDIA/CUDA-7.5/lib:/usr/local/cuda/lib"`

Please note that I used stock eve

[2016-05-10 09:24] sesse commented on #2288
Yes, I called it after AdamOptimizer. I believe the optimizer is special because nothing reads from its outputs (before the next iteration), and that's why it falls through the cracks.

[2016-05-10 09:31] wangzhangup commented on #1965
Aha
I have another solution:
$ cd /usr/lib/python2.7/dist-packages
$ sudo rm six*

[2016-05-10 11:14] myme5261314 commented on #2280
Here are some more investigation.

[code]
change `a` from **placeholder** to **Variable**. Then total running time decrease to **half** of above.

[code]

Using these toy snippets isn't my intension. I intended to find out where is the slow component of tensorflow framework.
Actually, I can confirm that current `tensorflow` runs kind of very slow compared to `Torch` based on my practical experimen

[2016-05-10 11:39] akors commented on #2301
Not an export or lawyer, but:
https://github.com/tensorflow/tensorflow/blob/master/LICENSE

It's an apache license, which means you can basically use it (also commercially), you can redistribute it, modify it and are not required to publish your changes or your source code.

https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)

[2016-05-10 11:52] gaohuazuo opened #2303 "Error parsing bazel version (bazel 0.2.2b)"
TensorFlow version: v0.8.0
Bazel version: 0.2.2b (installed via deb package)

Command: `bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer --verbose_failures`
Error message:
[code]

The error seems to be `_parse_bazel_version` not expecting a non decimal character.

[2016-05-10 12:22] moon6pence commented on #2303
I cannot believe there's another person suffering with same problem, just 30 minutes ago!

[2016-05-10 12:42] moon6pence commented on #2303
It seems to be fixed in current master.
https://github.com/tensorflow/tensorflow/commit/3be665fb87ff12c90766afc7ceed63b3c7c69317

[2016-05-10 13:43] danleh93 opened #2304 "Tensorflow retrain.py random distortions"
### Environment info
Operating System: Mac OS X with Tensorflow 0.8 installed.

I am trying to run retrain.py with my custom training set, but whenever I try passing in the argument `--random_crop 5` when running retrain.py the program errors out and says:

The command I am using is:

`bazel-bin/tensorflow/examples/image_retraining/retrain --image_dir /path/to/my/training_images --how_many_trainin

[2016-05-10 14:42] carlthome commented on #483
Status?

[2016-05-10 14:49] darrengarvey commented on #446
I had a question to the authors on testing an implementation of this.

For the other optimisers like Adam there is a python function that does the equivalent optimisation and then the test checks that the real implementation comes up with the same result. That seems reasonable given how simple the other optimisers are, but what about something more involved like L-BFGS-B?

The implementation could

[2016-05-10 14:50] boosh opened #2305 "FR: Create/Support an automated hyperparameter selector like TPOT"
Not sure if you've seen TPOT (http://rhiever.github.io/tpot/, introductory blog post at http://www.randalolson.com/2016/05/08/tpot-a-python-tool-for-automating-data-science/) but it would be awesome if you collaborated with them to add something like this to TensorFlow.

[2016-05-10 15:11] liweitj47 commented on #1725
@ebrevdo thanks again for your reply, I am trying the dynamic_rnn, but got confused with the parameter sen_len, if I send in a 1-dim tensor of lengths of sentences in the batch, What shape would the output of dynamic_rnn be? will the last time_step of this output still be right? and why output[:,sen_len,:] couldnt' work? Thank you.

[2016-05-10 15:42] hholst80 opened #2306 "Building from source in Ubuntu 16.04 LTS amd64"
I have installed the `nvidia-cuda-toolkit` from Ubuntu Multiverse package and I wish to compile TensorFlow from source. I realize that I still need CuDNN to be installed the traditional way because its not (yet) packaged by Ubuntu.

The `configure` scripts has some issues which hinders me to configure it for Compute Capability 3.0.
### Environment info

Operating System: Ubuntu 16.04 LTS (amd64)

[2016-05-10 15:51] qbx2 commented on #2278
In the setup tutorial ( https://www.tensorflow.org/versions/r0.8/get_started/os_setup.html ),
It says that install CUDA and CuDNN in /usr/local/cuda.
I think you've missed it.

[2016-05-10 16:16] oweingrod opened #2307 "Tensorflow serving with Retrained Inception graph"
Hello!

Are there any plans to release a tutorial similar to the one to use a checkpointed Inception graph with Tensorflow Serving, but with a Retrained Inception graph as created with the [transfer learning tutorial](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/image_retraining/index.md)?

[2016-05-10 16:35] brunosmarsaro commented on #1990
Renaming the wheel file worked fine for me!

[2016-05-10 16:42] petrbel opened #2308 "Theano-like scan non-sequences"
It would be nice to add some functionality that allows passing non-sequences to `scan` function (introduced in 0.8.0). [Theano implements this feature](http://deeplearning.net/software/theano/library/scan.html) and it is very useful.

The suggested usage could be (pseudocode):
[code]
The first argument could be the last output (state), then all `non_sequences` could be passed and, finally, the cur

[2016-05-10 16:51] jhollowayj commented on #2298
Thanks for the pointer @qbx2, I'll look there and come back if I have any problems still.

[2016-05-10 16:58] agupta83 commented on #2190
Hi,
I am having similar problem on the project I am working. I am implementing [Convolutional Neural Networks for Sentence Classification](http://emnlp2014.org/papers/pdf/EMNLP2014181.pdf). I am getting this error irrespective of the parameter I choose. I have tried window size of 3, 4, 5 and various number of filters (32, 64, 128). It crashes at step **8100** step is all the parameter settings.

[2016-05-10 17:06] joshburkart commented on #446
We have an external optimizer interface module coming to contrib/ that should address this. Allows controlling a TF session using e.g. scipy.optimize.minimize(). Should be available soon!

[2016-05-10 17:12] oweingrod commented on #2296
@yaroslavvb new information! I tried catching the error and continuing after skipping the image file in question.

`Creating bottleneck at ~/tmp/bottleneck/832764-001/3-output00000727.jpg.txt
E tensorflow/stream_executor/cuda/cuda_driver.cc:932] failed to allocate 190.44M (199688192 bytes) from device: CUDA_ERROR_OUT_OF_MEMORY`

So, looks like it was a memory issue causing the ValueError. How can

[2016-05-10 17:16] jmugan commented on #916
I'm getting this error. Are there any workarounds? @xlangacadia, what do you mean by "disabled GPU for Theano"? In .theanorc? I restarted the computer (Theano was running previuosly), so that should have taken care of getting Theano off the GPU, I would think. Restarting did not help.

[2016-05-10 17:20] yuanbyu commented on #2281
Thanks for reporting.  It will be fixed in the next pull.

[2016-05-10 17:20] #2281 closed

[2016-05-10 17:38] yuanbyu commented on #2308
Have you tried the following?

[code]

[2016-05-10 17:57] vladfi1 opened #2309 "Slice all but last element of tensor"
I'm trying to slice all but the last element of a tensor, equivalent to python's `a[:-1]`. However, I understand that tensorflow instead uses a start and size rather than start and end for slicing. My current workaround is to do something like this:
[code]
This is obviously a bit awkward, and potentially inefficient. Is there a better way to do this?

[2016-05-10 18:00] vladfi1 commented on #2306
You should configure with `TF_UNOFFICIAL_SETTINGS=1` in order to allow compute capability 3.0.

[2016-05-10 18:10] moustaki commented on #916
@jmugan Make sure you don't have a ```import theano.tensor as t``` line lying around in your code -- this will cause this issue to happen.

[2016-05-10 18:17] MarvinTeichmann opened #2310 "Bug: tf.app.run() does not allow to import ipdb"
When using tensorflow with `tf.app.run()` one cannot `import ipdb`. I have tested several Tensorflow Versions and did run Tensorflow in several environments, all of them seems to be affected by this Bug.

The following script provides a minimal Example reproducing the error:

[code]

Executing the  script yields the following error message:

[code]

### Environment info
Operating System: Linux (va

[2016-05-10 18:20] hholst80 commented on #2306
I used `grep` to search through the source for that string and I could not find any trace of it being used by the configuration script. I will however try that and report back to make sure I did not miss anything.

[2016-05-10 18:49] jhollowayj opened #2311 "Calling variable.assign() too many times crashes on memory allocation."
**Background**: I'm working on a set of networks that only share some layers, so I have a parameter server that sends new weights for the different clients to use.  These clients accept the new weights and bias for the layers they are using and assign the values to the TF.Variables via `sess.run(self.w1.assign(new_weights))`.  However, when I start it up and let it run, it crashes saying
[code]
(S

[2016-05-10 18:52] vladfi1 commented on #2306
@hholst80 You're right, `git grep` didn't turn up anything for me either. This worked for me though on my GTX 660.

I got the solution from https://github.com/tensorflow/tensorflow/issues/25#issuecomment-156234658. Note that the variable is actually `TF_UNOFFICIAL_SETTING` (no "s") - sorry!

[2016-05-10 19:03] shampool opened #2312 "'module' object has no attribute 'atrous_conv2d'"
### Environment info
Operating System: ubuntu 14.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]
### Tensorflow version
lateset one

### What have you tried?
1.
[code]

[2016-05-10 19:25] vladfi1 opened #2313 "Batched gather"
This is related to #2170, which describes how to use `tf.gather` to index on the first dimension of a tensor. What I'd like to do now is batch this operation:
[code]

[2016-05-10 19:38] v0dro commented on #50
Hello,

Jason (@jtoy on GitHub) has volunteered to sponsor a student to write a Ruby TensorFlow wrapper over 3 months this summer. SciRuby will be providing technical assistance in this endeavor and

People interested in winning this grant should go over this blog entry for further details: http://www.somatic.io/blog/tensorflow-is-coming-to-ruby

Applicants are expected to provide a detailed propo

[2016-05-10 19:41] vladfi1 commented on #2309
I've figured out that I can get the right size even if the shape is `[None]` by using `tf.shape` to get the shape and then subtracting 1 (or whatever desired offset from the end).

[2016-05-10 19:41] #2309 closed

[2016-05-10 19:47] jmugan commented on #916
That fixed it, thanks @moustaki! I couldn't find where I was doing the import, but I changed the device to cpu in .theanorc, and now it works.

[2016-05-10 19:55] mirikle commented on #2198
@terrytangyuan Thank you so much!

[2016-05-10 20:02] seanfcarroll commented on #50
It will be great to see this, the Machine Learning challenge site,
crowdai.org, is written in Ruby :-)

On 10 May 2016 at 21:41, Sameer Deshmukh <notifications@github.com> wrote:

[2016-05-10 20:07] darrengarvey commented on #446
@joshburkart - Sounds like exactly what I was looking for!

[2016-05-10 20:12] stephenroller opened #2314 "SparseApply* operators for the GPU"
At the moment, it appears that only GradientDescentOptimizer supports running on the GPU when there is a SparseTensor update. This is particularly relevant for any RNNs which train their embeddings, including the word2vec example (yes w2v isn't an RNN ;)

So far the common workaround everyone seems to use is to force the embedding variables to be on the CPU, but there can be _substantial_ speed im

[2016-05-10 20:25] petrbel commented on #2308
@yuanbyu thanks for prompt reply. Well, yes, in such simple case this works.

However, imagine that `c1` is `GruCell`. It is forbidden to access such computational nodes that are not passed directly by scan from the inner function (afaik).

@vojtsek could give more description of the problem with scan and using the variable that are not passed by it.

[2016-05-10 20:37] itsmeolivia commented on #760
this looks like it has been changed already by a different commit

[2016-05-10 20:37] #760 closed

[2016-05-10 20:52] avati opened #2315 "tf.nn.softmax outputs negative values (equal to tf.nn.log_softmax)!"
### Environment info
Operating System: Ubuntu 14.04.03

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

ls -l /usr/local/cuda/lib*/libcud*
-rw-r--r-- 1 root root    322936 Apr 25 11:05 /usr/local/cuda/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root        16 Apr 25 11:05 /usr/local/cuda/lib64/libcudart.so -> libcudart.so.7.5
lrwxrwxrwx 1 root root

[2016-05-10 21:21] itsmeolivia commented on #1839
TensorFlow does not support 3.5 as of today. Try using 3.4 which is supported.

[2016-05-10 21:21] #1839 closed

[2016-05-10 21:28] ebrevdo commented on #1965
That won't work in the long run if your package manager / os manages six in
that directory.
On May 10, 2016 2:32 AM, "Zhang Wang" <notifications@github.com> wrote:

[2016-05-10 21:36] yuanbyu commented on #2308
I don't quite understand your `GruCell` example. Could you provide a concrete example?

[2016-05-10 21:43] itsmeolivia commented on #2212
This is a pip problem.  Running
`sudo pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/mac/tensorflow-0.8.0-py2-none-any.whl` works for me.  You can read more [here](https://github.com/pypa/pip/issues/3165).

[2016-05-10 21:43] #2212 closed

[2016-05-10 21:54] itsmeolivia commented on #1916
This is a pip problem.  Check out #2212

[2016-05-10 21:54] #1916 closed

[2016-05-10 21:55] xuxy09 commented on #1965
I agree. It's quite dangerous to delete some package directly.

xuxiangyu2014@qq.com

From: ebrevdo
Date: 2016-05-10 14:30
To: tensorflow/tensorflow
CC: XiangyuXu; Comment
Subject: Re: [tensorflow/tensorflow] AttributeError: NewBase is_abstract, ImportError: libcudart.so.7.5 (#1965)
That won't work in the long run if your package manager / os manages six in
that directory.
On May 10, 2016 2:32 AM,

[2016-05-10 22:00] #1411 closed

[2016-05-10 22:03] #1413 closed

[2016-05-10 22:05] #1674 closed

[2016-05-10 22:11] #2053 closed

[2016-05-10 22:30] #2278 closed

[2016-05-10 22:38] itsmeolivia commented on #1243
Feel free to reopen if @samjabrahams's suggestions did not work.

[2016-05-10 22:38] #1243 closed

[2016-05-10 22:41] #923 closed

[2016-05-10 22:43] #1431 closed

[2016-05-11 00:40] rryan commented on #211
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/stream_executor/cuda/cuda_dnn.cc#L1422

;)

[2016-05-11 00:48] vrv commented on #211
Right, cudnn has an LRN implementation, so the point is to have it use that one.

[2016-05-11 02:56] neverPick commented on #2290
trying to build label_image:main.cc on Android...

[2016-05-11 02:56] #2290 closed

[2016-05-11 03:09] neverPick opened #2316 "Try to build label_image:main.cc on Android"
1.If I build  tensorflow_jni.cc with the BUILD file in label_image,I added android_binary.it ask me to compile with -std=c++.because the ndk r10e running with GCC4.9.I donot know how to set -std=c++11.
2.If I build it with .mk.and copy the .h files in bazel-genfiles/tensorflow/cc/ops,like array_ops.h etc,  to tensorflow folder,setted include like this
`#include "tensorflow/cc/ops/array_ops.h"
#inc

[2016-05-11 03:21] suiyuan2009 commented on #1783
I'll work on it

[2016-05-11 03:45] aolang commented on #56
Just like markusdr commented, update the pip using "pip install --upgrade pip", then you can check the pip version "pip2 --version", and then
"sudo pip2 install https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.5.0-cp27-none-linux_x86_64.whl", maybe it can worded.

[2016-05-11 03:54] GodaiAoki commented on #500
Thank you 1337newbee, that command works for me.

[2016-05-11 03:55] aolang commented on #106
upgrade the pip can solve the problem, but when "Run TensorFlow from the Command Line", another issue came up,  "ImportError: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.17' not found (required by /usr/local/lib/python2.7/dist-packages/tensorflow/python/_pywrap_tensorflow.so)",
and  check the libc,
$ strings /lib/x86_64-linux-gnu/libc.so.6 | grep GLIBC_
GLIBC_2.2.5
GLIBC_2.2.6
GLIBC_2.3
GLIB

[2016-05-11 05:20] vojtsek commented on #2308
@yuanbyu Hi, the actual part of code looks like this:

`state_Tbh = scan(fn=process_turn,
                     elems=tf.transpose(embedded_input_bTte, perm=[1, 0, 2, 3]),
                     initializer=init_state_bh)`

Here we scan through a sequence of states and inputs. The problem is, that we want to use `GRUCell` inside the `process_turn` function. We don't want to initialize it in each turn

[2016-05-11 05:56] ismymajia opened #2317 "Install the latest version whl of tensorflow from Jenkins daily build system, but can not find a part of the directory。"
hello, i have a question:

Operating System:
ubuntu 14.04

question：
Install the latest version whl of tensorflow from Jenkins daily build system, but can not find a part of the directory。

If installed from binary pip package, provide:
1. Which pip package you installed.

first download the latest stable package:

http://ci.tensorflow.org/view/Nightly/job/nightly-matrix-cpu/TF_BUILD_CONTAINER_TYP

[2016-05-11 06:02] shoyer opened #2318 "tf.constant should support pandas Series and DataFrame as input"
Currently, it does not.

I would suggest implementing this by checking for a `__array__` method, which is the [standard API](http://docs.scipy.org/doc/numpy/reference/arrays.classes.html#numpy.class.__array__) used for indicating that an object is coercible into NumPy arrays, and is implemented by nearly every library that implements "array like" objects in the Python ecosystem. This includes pand

[2016-05-11 06:02] yuanbyu commented on #2294
You are welcome to contribute.  We will accept it if it passes our review process.

[2016-05-11 06:06] shoyer opened #2319 "tf.constant does not raise an error if too few values are provided"
It is difficult to see the current behavior (repeating the final value) being useful for anyone:
[code]

In contrast, there is a sensible error message if too many values are provided:
[code]

I am running the internal version of TensorFlow.

[2016-05-11 06:26] myme5261314 commented on #2285
Thanks for your suggestion, it seems using `allow_soft_placement=True` will fix the issue. As stated in #2292 , it's better to improve the corresponding document for user to know this.

[2016-05-11 06:26] #2285 closed

[2016-05-11 08:34] pkmital commented on #1962
This is happening for me while saving a checkpoint with or without `write_meta_graph=False` on tf.0.8.0rc0 on Ubuntu 14.04.  The checkpoint appears to be in a temporary state just before the crash occurs.

[code]

[2016-05-11 09:36] petamem commented on #2264
If there's anything I can do to help searching for the culprit (enabling some debug switches, using other (combinations of) versions), let me know.

[2016-05-11 09:50] DKaravolos opened #2320 "examples/udacity/1_notmnist.ipynb image normalization is not equal to Udacity video"
Hi,
This is just a minor thing, but it might be confusing for people who follow the Udacity course. The video about normalization of the input (https://www.youtube.com/watch?v=0mxNQA95mYE) describes the normalization as: pixel_value - 128 / 128. However the code seems to compute: pixel_value - 128 / 255 (since pixel_depth = 255). This changes the range of the data from -1 to 1 into -0.5 to 0.5 and

[2016-05-11 09:52] DKaravolos commented on #2320
Sorry for posting it here, but I could not find another location to post issues like this.

[2016-05-11 10:18] hholst80 commented on #2303
Have you tried bazel 0.2.2?

[2016-05-11 11:19] petamem commented on #2264
Ok. In order to test the hypothesis that I could mitigate the error by disabling the Intel P530 GPU, I disabled it in the BIOS. lspci henceforth does not list it, so for the OS it should look like there is only one GPU - the M2000M - present.

Unfortunately, the error remains the same (GPU just uses slightly more memory because the frame buffer):

[code]
Which leads me to the conclusion, that ther

[2016-05-11 11:49] gaohuazuo commented on #2303
Yes. Bazel 0.2.2 worked perfectly.

[2016-05-11 13:41] ZhuFengdaaa opened #2322 "InvalidArgumentError: Cannot assign a device to node when distributed running"
I tried running [this script](https://github.com/tensorflow/models/tree/master/inception) on two machine, start script as follows, Note that each machine has 4 GPUs.

[code]

error log as follows:

[code]

[2016-05-11 14:01] liumilan opened #2323 "the process wil be so slow when reading batch data from csv files in tensorflow"
def read_data(filename):

        filename_queue = tf.train.string_input_producer([filename])
        reader = tf.TextLineReader()
        key, value = reader.read(filename_queue)
        record_defaults = [[1.0 for col in range(1)] for row in range(280)]
        record_defaults[279][0] = 1
        a = tf.decode_csv(value, record_defaults=record_defaults)
        data = tf.pack(a[0:278])
        l

[2016-05-11 14:20] julialintern opened #2324 "Issue with tensorflow/core/lib/core/threadpool.cc"
Operating System:  Ubuntu 14.04.4
CUDA version: 7.5
cuNN: 4.0.7

Installed from sources:
commit 5681406

running : bazel build -c opt //tensorflow/cc:tutorials_example_trainer --verbose_failures --genrule_strategy=standalone --spawn_strategy=standalone

Note : that i have configured my WORKSPACE file as per : https://github.com/bazelbuild/bazel/issues/623#issuecomment-158151936:

(made the followi

[2016-05-11 14:34] cruvadom commented on #1373
I had a similar issue, the first time I tried importing tensorflow I got:
AttributeError: NewBase is_abstract, ImportError: ...
And starting the second time I got the above mentioned error. What solved the issue for me is to update the version of 'six' as instructed in
https://github.com/tensorflow/tensorflow/issues/1965

Cheers

[2016-05-11 14:35] chrisblum2 opened #2325 "Random numbers and tf.less_equal"
### Environment info
Operating System: Ubuntu 16.04 LTS 64-Bit
Installed version of CUDA and cuDNN: none
Tensorflow Version: 0.8.0

### Steps to reproduce
1. When comparing a random variable with a tensor using the tf.less_equal operation, the output result is wrong. I can reproduce the error with the minimal example code shown below. When I use a fixed number rather than a random variable, the ou

[2016-05-11 14:37] girving commented on #1373
@cruvadom: That sounds like an unrelated issue, since what you describe is not a segfault.  If your issue still occurs with tensorflow at master, please file a separate issue.

[2016-05-11 14:50] akors commented on #2053
Hi, @itsmeolivia , is there any particular reason why you closed this issue?

Because I just checked again with the latest head (5681406e2874a02835d34be579810a93ad74a473), and I still have the same error as described in the original message.

I believe that compilation should succeed without any magical options that are not described in the tutorial. And my setup really isn't that exotic ;)

[2016-05-11 15:18] cgel opened #2326 "tf.QueueBase.close() docs"
I think the docs should specify that a dequeue might raises a OutOfRange error.
Right?

[2016-05-11 15:27] ZhuFengdaaa commented on #2040
Actually I use `cp -r * ../`, the same.

[2016-05-11 16:07] suiyuan2009 commented on #1783
InvalidArgumentError: No OpKernel was registered to support Op 'Diag' with these attrs
	 [[Node: Diag = Diag[T=DT_COMPLEX64, _device="/device:CPU:0"](Const)]]
does this mean I should use gpu?

[2016-05-11 16:44] ZhuFengdaaa commented on #1418
I have a question. If I have two machine, each of which has 4 GPUs. Can I target tasks directly using: `with tf.device("/gpu:0"):` to `with tf.device("/gpu:7")`. Thanks~

[2016-05-11 16:55] ZhuFengdaaa commented on #2292
Have you notice that even if there is no error occurs, but the `/gpu:3` device is not used ?

I have a problem described [here](https://github.com/tensorflow/tensorflow/issues/2322) that I cannot make use of the GPUs on the second machine. If I use like `tf.device("/gpu:5")`, the error like `InvalidArgumentError: Cannot assign a device to node...` occurs. But if I set `allow_soft_placement` to `Tr

[2016-05-11 17:02] MarvinTeichmann opened #2327 "Numerical Problem in tf.nn.softmax_cross_entropy_with_logits"
The function `tf.nn.softmax_cross_entropy_with_logits(logits, labels)` is numerical unstable when used in weak labelling scenarios (i.e. there are no labels for some rows of the labels).

The instability does not occure, when using `tf.nn.softmax` followed by a simple cross_entropy implementation, i.e.:

[code]

I therefore conclude, that this is a bug occurring in the softmax layer. I can not giv

[2016-05-11 17:18] vladfi1 opened #2328 "Can't mix tensors and python objects"
I'd like to do things such as the following:

[code]

Currently both of these raise exceptions. The alternative is to use a combination of `tf.expand_dims` and `tf.concat`, which is a bit unwieldy.

[2016-05-11 17:46] ajaech commented on #2325
When you evaluate z then it will re-evaluate y at that time and produce new random numbers. To evaluate y and z simultaneously then you should do` ye, ze = session.run([y, z])`

[2016-05-11 17:54] poxvoculi commented on #2264
Unfortunately, the fix is not in the latest (pending) merge up from Google: https://github.com/tensorflow/tensorflow/pull/2299
It should be in the next one.  The testing process makes the code pushes slow.

If you'd like to help debug the underlying problem, look at tensorflow/stream_executor/cuda/cuda_gpu_executor.cc
In there is a function TryToReadNumaNode() which examines the /sys/ directory to

[2016-05-11 18:08] mrry commented on #2328
Hi there,

Several people have requested this recently, and I think it's time we implemented this. I'll take on the feature request.

Derek.

[2016-05-11 18:40] vincentvanhoucke commented on #2277
I can't reproduce this at the head of the tree. It seems to strongly point at a memory issue.
If you reduce the size of the test and validation sets (which are kept in memory), does it start working?

[2016-05-11 18:40] #2277 closed

[2016-05-11 18:47] SpicyBroseph commented on #2040
Same issue, compiling in CentOS 6.7 for our HPC cluster with latest master branch of both tensorflow and bazel, python 2.7.6, and using the devtoolset-2 install of gcc/g++ 4.8.2.

My steps are identical to kors, who has them two comments above mine (though I am not using the gpu build).  Same fix solves the issue.

@vrv I am also happy to provide more info.  My guess it's also due to bazel.

[2016-05-11 19:01] petamem commented on #2264
Hm. I'm afraid the path template "/sys/bus/pci/devices/%s/numa_node" cannot be found on my system as /sys/bus/pci/devices looks like that:

    # ll /sys/bus/pci/devices/0000\:*
    lrwxrwxrwx 1 root root 0 May 11 15:06 /sys/bus/pci/devices/0000:00:00.0 -> ../../../devices/pci0000:00/0000:00:00.0
    lrwxrwxrwx 1 root root 0 May 11 15:06 /sys/bus/pci/devices/0000:00:01.0 -> ../../../devices/pci000

[2016-05-11 19:42] petamem commented on #1969
same here

[2016-05-11 19:59] vrv commented on #2040
@damienmg @kchodorow will you help us move towards the new runfiles location before you decide to release the next version of bazel officially?

[2016-05-11 20:10] kchodorow commented on #2040
Happy to work with you on this.  TensorFlow probably needs to:

* Define a workspace name (`workspace(name = "org_tensorflow")` in the WORKSPACE file).
* Fix any scripts you have that reference runfiles to look for them under `x.runfiles/org_tensorflow` (or whatever you choose for a name), instead of `x.runfiles`.

I'll take a look and see if I can reproduce/fix it myself.

[2016-05-11 20:20] kchodorow commented on #2040
Oh, yeah:

[code]

All of these just need to be changed to .runfiles/_some_name_.

[2016-05-11 20:42] weiliu620 opened #2330 "softmax_classifier input argument not right?"
The softmax_classifier in losses_ops.py file seems not right to me. I haven't done any test yet, but just look at the the input argument definition, the tensor_in and weight are not compatible for matrix multiplication.
====== begin ============
tensor_in: Input tensor, [batch_size, feature_size], features.
    labels: Tensor, [batch_size, n_classes], labels of the output classes.
    weights: Ten

[2016-05-11 21:25] poxvoculi commented on #2264
Thanks, glad you found a solution.  I'll look into the error messages.

[2016-05-11 21:25] #2264 closed

[2016-05-11 21:49] levelvc commented on #16
@petewarden Any further update on this?

[2016-05-11 22:34] RyanYoung25 commented on #483
Hi, sorry for the delay in updates. We finished implementing the feature but still have not been able to access a machine with a GPU to test if it is fully functional. If anyone would like to help us finish testing and get the code base up to a state where we can submit a pull request I'd be more than happy to add them as a collaborator or they can fork my fork.

[2016-05-11 23:01] JohnAllen opened #2331 "No ability to verify a jpeg before decode_jpeg-ing"
Say we are writing images to a dir and feeding them to a TF queue.  If TF goes to read a JPEG that isn't there for some reason or hasn't finished writing, `decode_jpeg` will fail.  Using something like `os.stat()` will not work on the tensor that `decode_csv` returns.

It would be great if we could verify a jpeg is our target image size before decoding so TF doesn't shutdown completely.

[2016-05-11 23:15] pkmital commented on #1962
On further inspection, this occurs once the system has run out of memory.  In my particular application, it seems the process grows from using ~ 1 GB to using the entire system memory ~16 GB (no swap) over the course of 8 hours, and then crashes with the above message.   I can at least continue training by using a swap space, but it seems there is another issue here causing a memory leak.

[2016-05-11 23:33] yuanbyu commented on #2308
Is it a python compile error or a TensorFlow graph build error?

[2016-05-11 23:35] petewarden commented on #16
I'm working with the protobuf team to get https://github.com/google/protobuf/pull/1500 in, so we can update protobuf in TensorFlow and get iOS support checked in.

[2016-05-12 01:26] davidzchen opened #2332 "install_name_tool error when running reduction_ops_test_gpu on OS X"
I ran into this while testing my patch tensorflow/tensorflow#1289 on OS X. At first, I thought that it was caused by my patch but then I found that it also reproduces at HEAD.

I am not entirely sure whether this is a TensorFlow issue (the error seems to indicate that we need to add a `ld` flag) or a Bazel issue in the gcc wrapper.

+cc @lberki @damienmg

### Environment info
Operating System: Mac

[2016-05-12 01:36] vrv commented on #2332
Try
    bazel test --linkopt=-headerpad_max_install_names

I have no idea why but this solved the problem for me in the past.

[2016-05-12 02:04] petewarden commented on #2300
I'm not sure if it answers your question, but here is some documentation on the GraphDef fileformat we use to save models:
https://www.tensorflow.org/versions/master/how_tos/tool_developers/index.html

[2016-05-12 02:07] petewarden commented on #2304
Sorry you're hitting problems. Are you able to reproduce the same error with the standard flowers set of photos? If you can, that will help me track down what's going wrong, thanks!

[2016-05-12 02:17] petewarden commented on #2307
In theory it should be possible to reuse the TensorFlow Serving tutorial and just change the name of the output layer to "final_result", as shown in the label_image example:
https://www.tensorflow.org/versions/master/how_tos/image_retraining/index.html#using-the-retrained-model

Unfortunately the TensorFlow Serving code creates its own model from scratch, and then loads in the checkpoints to fill

[2016-05-12 02:22] vrv commented on #2303
Are you synced to master?  Or are you on the 0.8 branch?  This is fixed at HEAD, so there should be no reason to downgrade to Bazel 0.2.2 at HEAD on master.

[2016-05-12 02:22] #2303 closed

[2016-05-12 02:29] petewarden commented on #2316
Sorry you're hitting problems! The best way to tackle this is to update the Android Demo to handle retrained models, so I will work on that.

[2016-05-12 02:39] petewarden commented on #2330
It would be great to see a test on this one if you're able to put something in code. Thanks!

[2016-05-12 03:24] liumilan commented on #2323
I have assign min_after_dequeue  to 100,and now it can print the result immediately.
Now I increase batchsize to 20000,and it will take so longer.
In caffe,it only take 198ms to get the data.
Is it other issue that i haven't noticed?
 I0512 11:17:32.966964   787 caffe.cpp:280] ctr_feature_data     forward: 198.561 ms.

[2016-05-12 03:39] stationedabroad commented on #1990
Hi - does anyone know what the path is to download using anaconda for a windows machine? is it the same one as for linux?

[2016-05-12 03:44] martinwicke commented on #1990
We do not currently support a Windows binary and I am not sure whether that
would work. I heard rumors that it is possible to build TensorFlow on
Windows 10, but I haven't done it myself.
On Wed, May 11, 2016 at 20:39 stationedabroad <notifications@github.com>
wrote:

[2016-05-12 03:59] GekTo opened #2333 "Building from source fail, error in tensorflow/core/lib/core/threadpool.cc"
Hi,
I try to build tensorflow from source, but I get the ERROR as following:
[code]
OS:  redhat 6.7
gcc: 4.9.2
building with cuda

run command:
export EXTRA_BAZEL_ARGS='-s --verbose_failures --ignore_unsupported_sandboxing --genrule_strategy=standalone --spawn_strategy=standalone --jobs 8'
bazel build -c opt //tensorflow/tools/pip_package:build_pip_package

I did not change any source file,
And pr

[2016-05-12 04:14] yaroslavvb opened #2334 "Immediate-mode execution in TensorFlow"
Mirror TensorFlow API to provide "numpy/Torch"-like mode for executing TensorFlow programs.

Briefly, provide a mode where you can do the following:
[code]
Goals
1. No separation between graph-construction and evaluation - each op is executed in TensorFlow runtime the moment the corresponding wrapper is evaluated by Python
2. Reuse of TensorFlow Graph for efficiency. For instance, after float32 ad

[2016-05-12 04:52] yaroslavvb opened #2335 ""bazel test" fails on MacOS with setuptools-21.0"
I just went through official MacOS instructions to setup bazel/swig and tried the following

[code]

They all fail with stack trace like below, any suggestions?

[code]

[2016-05-12 05:11] yaroslavvb commented on #2335
Googling suggested problem with new setuptools. Downgrading setuptools to version 19 fixes it

[code]

[2016-05-12 05:34] petrbel commented on #2308
@yuanbyu it is tensorflow error that occurs on graph compilation

[2016-05-12 05:53] stationedabroad commented on #1990
thanks for reply. I meant I am using anaconda on windows - i followed all advice above, saving the fie locally even - but thought since the set up files have 'linux' in the name they would not work regardless.  So is there no way to install tensorflow on windows through anaconda? the message i get when trying the above when using pip and the copied file as tensorflow-0.8.0rc0-py3-none-linux_x86_64

[2016-05-12 05:55] martinwicke commented on #1990
There is currently no way to install TensorFlow from a binary package for
Windows.

On Wed, May 11, 2016 at 10:53 PM stationedabroad <notifications@github.com>
wrote:

[2016-05-12 06:04] yuanbyu commented on #2308
Would it be possible to create a simple example that could reproduce the problem? It looks like a bug.

[2016-05-12 06:09] martinwicke commented on #2317
I am fixing this for the future. For now, you can simply clone the tensorflow repository (the r0.8 branch if you want to be consistent with your binaries), and copy the `alexnet` and `imagenet` directories from the cloned directory into the `anaconda2/envs/tensorflow/lib/python2.7/site-packages/tensorflow/models` directory.

[2016-05-12 07:13] hholst80 commented on #2295
Just out of curiosity, what is the gradient value at y = 1e-5 then?

[2016-05-12 08:31] PythaGorilla commented on #17
+1

[2016-05-12 09:11] Vikramank commented on #383
Hi,
I am trying to restore a saved model . But it is returning me an error. Please help me out.
**code to save the model : save_model.py**

[code]

**code to restore model : restore_model.py**

[code]
I have saved both the files in the same directory.

[2016-05-12 09:33] sesse commented on #2295
I have no idea, I never printed them out. But the graph trained just fine.

[2016-05-12 09:36] sesse commented on #1300
Some changes from @benoitsteiner: d526527a7f2bb3d29fed58b9f759f59e9a49c890 enables fp16 support for the tiling ops, 7ae67a14e273a000e5b306d335dc0f1d7c0650c1 enables fp16 support for the l2loss kernel.

[2016-05-12 11:34] neverPick commented on #2316
thx，I am waiting for the new demo now.

[2016-05-12 11:34] #2316 closed

[2016-05-12 12:48] Vikramank commented on #383
I am able to restore models within the same Python script,  but I am unable to restore in a different script in the method stated above.

[2016-05-12 13:01] MartinThoma commented on #2034
I think I have the same problem:

[code]

## My system

* Ubuntu 16.04
* Tensorflow 0.80
* Cuda 7.5, CuDNN 4

More details:

[code]

## Debugging

[code]

with `tf.py`:

[code]

gives

[code]

[2016-05-12 13:05] beopst commented on #2323
It is because tf.train.shuffle_batch blocks dequeue operation until the queue size reaches to min_after_dequeue. This is intended for better mixing of elements in queue to shuffle data.

[2016-05-12 13:11] suiyuan2009 commented on #2109
stuck me  a lot of time until I reach this post, may be we should rewrite CROSTOOL to make gcc path not static

[2016-05-12 13:44] vojtsek commented on #2308
@yuanbyu While I was creating the reproducing example I realised, that we have made different kind of mistake in our code. We just mistakenly thought that this is a problem. My simple example uses the mechanism described above and works just fine, so there is actually no issue to be solved. Sorry for that and thanks for your help.

[2016-05-12 13:48] liumilan commented on #2323
And why when I increase batchsize to 20000,and it will take much more to print .Because of larger data?Can it possible to improve the performance when modify the parameters?
@beopst

[2016-05-12 13:50] danleh93 commented on #2304
Thanks for taking the time to respond and look into it! I was not able to reproduce the same error with the standard flowers set of photos. In fact, I was stumped for a while as I noticed all the images within the flowers set are all .jpg's, but my photos are all also .jpg's. When looking at the metadata, I noticed for all JPEGs that are EXIF standard instead of JFIF standard, Tensorflow will brea

[2016-05-12 14:14] petrbel commented on #2308
So just to sum up, TensorFlow offers more comfortable way of passing non-sequences than Theano. Even though I still miss the feature described in #2294, I am happy that this is supported :)

[2016-05-12 14:14] #2308 closed

[2016-05-12 14:24] beopst commented on #2323
Yes, it is because of batch_size. In this case, the queue should still block until it has a sufficient amount of elements for the first single batch.

tf.train.shuffle_batch needs some time only for the first dequeue operation. Once it has elements more than min_after_queue, it consumes much little time since tf.train.shuffle_batch runs in a separate thread. You can see if you call `example, label

[2016-05-12 14:44] hholst80 commented on #2306
I made some changes to build TensorFlow 0.8.0 on my workstation which is running Ubuntu 16.04 LTS amd64. The changes can be found here https://git.frostbite.com/hholst/ea-tensorflow

[2016-05-12 14:49] terrytangyuan commented on #2089
This can be closed. See an example in examples/skflow.

[2016-05-12 15:21] petewarden commented on #2304
Thanks for investigating! Can you upload one of the EXIF files that's causing the error and send me a link? I'll try to reproduce the problem here.

[2016-05-12 15:44] yaroslavvb commented on #2335
Actually maybe this should be open because setuptools-21.0 is the default for new users and this issue was tricky to diagnose, maybe the installing for MacOS page could be updated to say that setuptools-21.0 is not supported? https://www.tensorflow.org/versions/r0.8/get_started/os_setup.html#installation-for-mac-os-x

[2016-05-12 16:00] mrry commented on #2325
@ajaech is absolutely right. This is intended behavior: `tf.random_uniform()` and the other random ops produce new random numbers each time they execute, and each call to `{y,z}.eval()` will execute the random op another time.

[2016-05-12 16:00] #2325 closed

[2016-05-12 16:20] Mistobaan commented on #1299
@cesarsalgado did you resolve your issue with cudnn r4 ?

[2016-05-12 16:25] ilblackdragon commented on #2089
Thanks @terrytangyuan!

[2016-05-12 16:25] #2089 closed

[2016-05-12 16:44] girving commented on #2034
This bug is fixed.  If you have the same problem, please try with a version of TensorFlow after the fix.  If it is a different problem, please file a separate bug.

[2016-05-12 16:55] girving commented on #2295
The fast way to solve this is an add an extra op that does `x * log y` and does the right thing for `x = y = 0`.  The slow way is to do that in Python via `tf.select(tf.equal(x, 0), 0, x * tf.log(y))`.  Unfortunate that simplistic code doesn't work out of the box because `tf.select` doesn't broadcast.

The simple way to solve it is to use `x * tf.log(y + y.dtype.epsilon)` in the gradient.  Probabl

[2016-05-12 17:25] girving commented on #2315
Can you isolate an input to `tf.nn.softmax` that produces the problematic values?  It would be nice to have a simple test case that exhibits the problem.  Does adding a `tf.Print` to the inputs give you a reproducible bad input?

[2016-05-12 17:40] girving commented on #206
Cc @aselle.

[2016-05-12 17:41] girving commented on #206
@keithshep: Do you mind if we give this to @aselle as a starter project?  He just joined Brain. :)

[2016-05-12 17:41] RuofanKong opened #2340 "Tensor.eval() Performance Decay"
I used Tensorflow 0.6 (I pip installed TensorFlow: `pip install https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.6.0-cp34-none-linux_x86_64.whl`) with Python 3 to train Neural Network on GPU (Nvidia GeForce GTX Titan X with Cuda 7.0 and Cudnn 6.5), and I noticed an interesting problem: The time consumption for running `tensor.eval(session=..., feed_dict=...)` at each iteration was

[2016-05-12 17:43] avati commented on #2315
I have been trying, but on simple graphs things seem to work fine. Whether I add tf.Print or not, my application always witnesses negative values (i.e behavior like tf.nn.log_softmax). It is very consistent in the erroneous behavior.

[2016-05-12 17:47] vroomzel commented on #2197
I have the same issue on CentOS7

[2016-05-12 18:04] yuanbyu commented on #2294
+ebrevdo@. One way to do it is to extend TensorArray a bit so we could convert between a (python) list of tensors and TensorArray.  It would also be nice to change session slightly so we could return a list of tensors for a single output.

[2016-05-12 18:07] girving commented on #2315
If it's consistent, it seems like it's a deterministic problem in softmax.  If that's the case, you should be able to get a small reproducible instance via something like:

    ... lots of complicated graph construction code ...
    logits = ...
    probs = tf.nn.softmax(logits)
    ... more complicated graph construction code

    # Instead of
    np_output = sess.run(output)
    # do
    np_outp

[2016-05-12 18:28] mrry commented on #2340
Does the problem persist in TensorFlow 0.8? Can you share a complete program that exhibits the problem? In particular, how are `a` and `input_tensor` defined?

[2016-05-12 18:33] jhollowayj commented on #2311
Here's a quick script that should break when you run it.  Mine dies on iteration 31.
[crash_tf_assign_op.py.txt](https://github.com/tensorflow/tensorflow/files/262026/crash_tf_assign_op.py.txt)

[2016-05-12 18:33] mrry commented on #2319
This is intentional behavior. Many users write e.g. `tf.constant(4.0, shape=[100, 100])` to generate a tensor filled with a given value. Supporting this for non-scalars is more questionable, but might be required for backwards compatibility.

[2016-05-12 18:33] #2319 closed

[2016-05-12 18:34] agupta83 opened #2342 ""_too_large_attrs" for Graph visualization on Tensorboard."
I am not sure if this issue is beyond the Github scope. If it is, I apologize.

I am trying to visualize the computation graph for the project I am working. I can see all the histograms as well as the events. However, computation graph visualization displays following message.

![](https://raw.githubusercontent.com/agupta83/shared_data/master/tf-failed_adding_edges.png)
Please find the [tfevent-fi

[2016-05-12 18:34] brianretford opened #2343 "Distributed Runtime protos aren't sandbox compatible"
The master/worker protos don't include their dependent source files in the rules that constitute them in a way that enables tensorflow to be used from a skylark rule. This is annoying.

[2016-05-12 18:47] RuofanKong commented on #2340
@mrry Thanks for your answer :) Yes, for TF 0.8, we used the same profiling tool to test it, and still got linear performance decay as running time goes by. Actually, I'm really eager to show all my code here, but the complete code has more than 2000 lines... But I can show you the data shape that I defined: it's `[array([[…], …, […]]), array([[…], …, […]]), …, array([[…], …, […]])]` - list with d

[2016-05-12 18:58] shoyer commented on #2319
Should I raise a separate issue for non-scalars then? The behavior is surprising and in my opinion quite likely to result in bugs. It's true that it's documented, though.

[2016-05-12 19:22] keithshep commented on #206
@girving Not at all. I was only going to get a chance to dig in this weekend so no problem. Oh, and congrats to @aselle

[2016-05-12 19:25] yildizib commented on #50
+1

[2016-05-12 19:27] Russell91 opened #2345 "Numpy Layer"
Is there no way for me to create a new layer in python as a function with inputs and outputs as cpu numpy arrays. This would be especially useful for certain custom operations (say an opencv call in the middle of the network, or a special logging layer). But as far as I can tell, it is not available, and one has to go through the hassle of writing a c++ layer and recompiling to be able to get dire

[2016-05-12 19:28] girving commented on #2315
Hmm, I found *a* bug, and it's certainly consistent with your excellent observation about `log_softmax`, but I'm not sure how you're triggering it.  Basically `tf.nn.softmax` and `tf.nn.log_softmax` check the op name to see if it starts with `"Log"`, but they should be checking the op type.

[2016-05-12 19:29] girving commented on #2315
`"Logistic"`!! :)

[2016-05-12 19:29] girving commented on #2315
Fix coming up.

[2016-05-12 19:31] ajtulloch commented on #2345
https://www.tensorflow.org/versions/r0.7/api_docs/python/script_ops.html#py_func

[2016-05-12 19:35] #2345 closed

[2016-05-12 19:35] Russell91 commented on #2345
Great, thanks!

[2016-05-12 19:36] avati commented on #2315
wow, no wonder i couldn't reproduce it in simple test cases, and it was consistent in the program!

[2016-05-12 19:42] mrry commented on #2340
If you simply fetch a constant containing that data using `Tensor.eval()` in a loop, does the time increase for each call?

I expect that the problem is somewhere in the other part of the 2000 lines, and it's just being accounted to `TF_Run()` since that's the main entry-point to the native runtime. It would be helpful to make a minimal example that still exhibits the problem. For example, are the

[2016-05-12 19:52] mrry commented on #2340
I just tried to reproduce this with a simple program, and while the distribution of step times is noisy, it doesn't seem to show an increasing trend:

![figure_1](https://cloud.githubusercontent.com/assets/192142/15228283/41845590-1840-11e6-9c1e-f8ad6a217909.png)

[code]

[2016-05-12 19:52] girving commented on #206
For `__setitem__`: we can't use it directly because it doesn't return a value, and usually you need the return value of assignments (to make sure they execute).  However, we could make `x[i].assign(y)` work with a bit of class trickery.

[2016-05-12 20:32] mrry commented on #2322
Is this issue related to [this Stack Overflow question](http://stackoverflow.com/q/37177992/3574081)? The command lines and error messages are similar but not identical. I posted an answer on Stack Overflow.

[2016-05-12 20:48] mrry commented on #2322
Looking at your command lines, it's a little suspicious that the PS tasks (mentioned in the error message) have the arg specified as `-task_id=1` (and not `--task_id=1`). Is it possible that your PS task 1 (i.e. on `10.10.102.29:2220`) thinks that it is actually task 0, because this flag isn't being parsed?

[2016-05-12 20:49] jrock08 commented on #2034
While there was workaround for importing numpy before tensorflow, if you want a solution which works so you can run tensorboard.  (on ubuntu) `pip uninstall scipy` (and numpy) and then `apt-get install python-scipy` (and python-numpy).  This will cause compatible versions of both to be installed which match the binary file provided.

[2016-05-12 21:32] mrry commented on #2313
You might be able to do this using `tf.gather_nd()`, but this will ultimately be addressed by the support for enhanced slicing.

Closing as a duplicate of #206.

[2016-05-12 21:32] #2313 closed

[2016-05-12 21:40] mrry commented on #2323
If you want training to start sooner, you should reduce the value of `min_after_dequeue`. This parameter is here to ensure good mixing, so you may find that the loss of randomness leads to poorer accuracy, but this depends on your model.

[2016-05-12 21:40] #2323 closed

[2016-05-12 22:24] keithshep commented on #206
@girving I don't know if this is a reasonable path or not (I may be missing the point) but I wonder if borrowing ideas from SSA https://en.wikipedia.org/wiki/Static_single_assignment_form for manipulating the computation graph in cases where there is a side effect and no return value is a way to achieve this?

[2016-05-12 22:24] rryan commented on #211
FYI to anyone looking at contributing a fix for this -- there is some movement internally.

[2016-05-12 22:26] vrv commented on #211
Thanks, removing the contributions welcome tag, since this is being worked on.

[2016-05-12 22:26] girving commented on #206
@keithshep: Unfortunately I don't know what you mean.  We can't manipulate a computation graph until we have one to manipulate, and `__setitem__` discards the output of the assign.  Normally that return value needs to be used later on, typically as part of a training op which is then run.

[2016-05-12 22:27] vrv commented on #1786
We're sort of working on this now.

[2016-05-12 23:09] mrry commented on #2310
Which version of `ipdb` are you using? It looks like an issue regarding `sys.modules['__main__']` was recently closed: https://github.com/gotcha/ipdb/issues/85.

[2016-05-12 23:25] keithshep commented on #206
@girving my thought was to add some tensor version metadata similar to variable versioning used in SSA. This would mean that some internal tensor version bookkeeping would have to be performed whenever `__setitem__` is invoked, and that a tensor version would have to be recorded whenever a tensor is passed to an op since a single tensor python reference could refer to different versions depending

[2016-05-12 23:29] girving commented on #206
@keithshep: That approach would be reasonable, but unfortunately I think it's too big a jump from what we have currently.

[2016-05-12 23:29] MarvinTeichmann commented on #2310
Version 0.10.0. So the cited patch is already applied.

[code]

[2016-05-12 23:53] vodp commented on #6
I found that the file size of https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip is very small, ~50MB. The Inception v3 model in tensorflow/tensorflow/examples/label_image/data/inception_dec_2015.zip is rather larger ~100MB but still portable on mobile devices. However when I tried to convert VGG-16 models into .pb file, it cost ~500MB. Is that the architecture of Incept

[2016-05-13 00:17] martinwicke commented on #6
@shlens, can you comment on this?

[2016-05-13 01:05] mrry commented on #2310
OK, it looks like `ipdb` does something strange to `sys.modules`:

[code]
...yields the following output:
[code]

I'm not sure if it's feasible to fix this. Two alternatives present themselves:

1. Call `tf.app.run(main=main)`.
2. Place the `import ipdb` statement in the `main()` function itself.

[2016-05-13 01:19] davidzchen commented on #2332
That worked for me. Perhaps we should add a `select()` so that this linkopt gets added when building on OS X?

I have opened PR #2347 to add this.

[2016-05-13 02:01] RuofanKong commented on #2340
@mrry I think you are right. I also tested `tensor.eval()` in a single loop by myself, and seems time for running this function is not growing. So there might be some places in my code getting the time consumption problem... By the way, I wonder whether or not `tensorflow.concat()` creates new nodes in tensor graph. Also, I wonder if there are tensorflow methods that creates new nodes. Thanks!!!

[2016-05-13 02:07] mrry commented on #2340
When we've seen this problem in the past, it's usually because something in the training loop is creating new graph nodes, and the TF runtime has to do more work each time you call `eval()`, because it believes it's running a new graph (even if it's structurally identical to the old ones). If you're calling `tf.concat()` in the training loop, that would be adding new nodes to the graph, and would

[2016-05-13 02:07] #2340 closed

[2016-05-13 02:09] rzabcik opened #2348 "Build failure ArchLinux with nvcc + gcc 6.1.1"
Just downloaded and built on Archlinux, and it failed with:

[code]

gcc version 6.1.1 20160501 (GCC)
Cuda compilation tools, release 7.5, V7.5.17
cudnn version 5
ecd5b7255e05634cad6ea5e0bc680f7a9d981ba8

[2016-05-13 02:16] vrv commented on #2348
I don't think cuda supports host gcc of >= 5 yet, so you'll have to install gcc 4.8 or 4.9 and use that for nvcc's host compiler

[2016-05-13 02:17] mrry commented on #2318
This should be easy to add, after my fix to #2328 goes in.

@rdadolf: Was there any reason for your thumbs down? If this change is easy to make, is there any reason not to do it?

[2016-05-13 02:42] rdadolf commented on #2318
So this caught my eye because of the pandas tag, but I suppose if I am to be consistent, it should apply to #2328 as well.

My feeling is that this kind of everything-should-map-to-everything coercion is harmful to a programming environment, mostly because it undermines the type system. Type errors turn into logical errors, which are far harder to debug. This is the reason I avoid pandas (sorry, @

[2016-05-13 02:58] shoyer commented on #2318
I am in total agreement with you, but I think "numpy array likes" are a well defined duck type -- they're anything that implements the `__array__` method.

Importantly, I do not propose to test this by seeing if coercing something to an array with `np.array` works. NumPy is far too willing to convert anything into 0d object arrays, though I think most NumPy devs agree that this is a [bad idea](htt

[2016-05-13 03:18] liumilan commented on #2323
yes,i have called example, label = sess.run([data, label]) in a loop .But it still take much time when batchsize is set 20000。
So reduce batchsize is only one way? it seems not best ways. @beopst

[2016-05-13 03:19] liumilan commented on #2323
yes,i have called example, label = sess.run([data, label]) in a loop .But it still take much time when batchsize is set 20000。
So reduce batchsize is only one way? it seems not best ways.
@mrry

[2016-05-13 05:44] smartcat2010 commented on #2292
GPU3 is really under use if "allow_soft_placement = True" is added.
It seems multi-GPU-tower style can't assign your work to another machine, it could only parallel work to  multiple GPUs inner machine. If you want to parallel it in a multi-node GPU cluster, you should try [Distributed Tensorflow](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/distributed/index.md)

[2016-05-13 06:51] buyijie commented on #1519
I want to caculate the Kronecker product of two matrix, and
tf.reshape(matrix_A, [2,1,2,1]) * tf.reshape(matrix_B, [1,3,1,3]) raised the above UnimpementedError.
I circumvented this broadcasting by using tf.tile to explictly broadcast this two matrix.

Is there an easy way to do this broadcasting in tensorflow, like in Numpy?

[2016-05-13 06:51] phvu commented on #2218
I think we can write a custom data reader, that reads data from HDFS, which seems doable: https://www.tensorflow.org/versions/r0.8/how_tos/new_data_formats/index.html

Any plan for this? I might be able to help with implementation.

[2016-05-13 08:28] ZhuFengdaaa commented on #2322
Sorry for my typo, this issue can be closed. After further exploration, I have some idea of improvements and we can discuss at [here](https://github.com/tensorflow/models/issues/72)

[2016-05-13 08:34] #2322 closed

[2016-05-13 09:11] ZhuFengdaaa commented on #2292
Yes, you are right. `/gpu:%d` is for local devices.

[2016-05-13 11:58] vodp commented on #6
@martinwicke I think my guess is right. I tried to freeze the inception-v1 (GoogleNet) and found it just 27MB, a half of inception-v3. This is probably due to the less number of fully connected layers used (infact just one layer in the case of inception-v1) compared to VGG-x architectures. This turns out that  inception arch is really friendly for embedding apps.

[2016-05-13 13:45] rdadolf commented on #2318
This seems convincing. It avoids ambiguity by explicitly foisting the decisions on the  `__array__` method author, which is a plus.

I probably should have directed my emoji-flavored vitriol elsewhere. Or perhaps, you know, actually taken the time to write a coherent response.

This doesn't seem compatible with session's [existing method](https://github.com/tensorflow/tensorflow/blob/4a4f246153384

[2016-05-13 14:04] adamcavendish commented on #2306
@hholst80 How did you escape the configure:

[code]

when asked for `libcudart.so`?

Cause `nvidia-cuda-toolkit` package is installed in `/usr/lib/x86_64-linux-gnu/libcudart.so`

[2016-05-13 14:10] sesse commented on #1300
523055469c8a61425e3b8f104be67787c2933ccb adds support for fp16 GEMM (matrix multiplications) to StreamExecutor. 61b12f567ad167556bf55d4375112ed262d37975 does the same for convolution operations via cuDNN. (Both require CUDA 7.5.) Unfortunately there were some late changes to how convolutions are done in TensorFlow proper, so we'll need a followup commit for updating the cuDNN use.

Note that neith

[2016-05-13 14:12] raindeer commented on #1742
Maybe a stupid question, but why use a SparseTensor at all since it is never sparse? You have a label for each timestep right?

[2016-05-13 14:17] rdadolf commented on #2328
Just pulling in the conversation from #2318, since it's really more appropriate here.

The downside of this feature is type errors can become harder to hunt down. For instance, having a dimension typo can become a logical error, especially if it's compounded with broadcasting.

While manually converting heterogeneous structures may seem tedious, it's also clearer what's going on. It might seem tha

[2016-05-13 14:31] terrytangyuan commented on #2198
@mirikle It requires different mechanism to make it work. I'll try fix it later when I get a chance.

[2016-05-13 14:47] shlens commented on #6
Yes, Inception is known to be far smaller in terms of parameter count then VGG. The first version of Inception contained roughly 5M model parameters; VGG was >75M model parameters (I don't know the exact the number for VGG). As @vodp mentions, the primary reason for this difference in parameter count is due to the fact that VGG uses several large fully connected layers at the top where as Inceptio

[2016-05-13 14:59] EelcovdW commented on #2241
I was experiencing this error too, redownloading and reinstalling cudnn (4.0.7) worked for me.

[2016-05-13 15:14] ebrevdo commented on #1742
No, for CTC you have a different number of output time steps than input
time steps.  That's the point.

On Fri, May 13, 2016 at 7:13 AM, Erik Rehn <notifications@github.com> wrote:

[2016-05-13 16:17] vladfi1 opened #2351 "No gradient for log_softmax"
It appears that the log_softmax doesn't have a gradient:
[code]

[2016-05-13 16:26] vladfi1 commented on #2348
I've built gpu-tensorflow with gcc 5.3.

[2016-05-13 16:34] raindeer commented on #1742
Yes of course, the target/output sequence is shorter than the input sequence. But for every "target timestep" you have a label, right?
Im probably misunderstanding what `labels` represent.  In the docs it says:
`labels.indices[i, :] == [b, t]` means `labels.values[i]` stores the id for (batch b, time t).
Is not t here in the output time scale?

[2016-05-13 16:37] raindeer commented on #1742
Ah, now i get it, you want to use a SparseTensor since the target sequences might have different length?

[2016-05-13 16:39] ailurus1991 commented on #1965
$home/.pip/pip.conf is better and also worked.

[2016-05-13 16:44] ebrevdo commented on #1742
Yes - the target sequences almost always have different length, from one
batch entry to the next.

On Fri, May 13, 2016 at 9:38 AM, Erik Rehn <notifications@github.com> wrote:

[2016-05-13 17:16] vladfi1 commented on #2328
@rdadolf I don't see why type errors become logical errors - they'll just point to the nested object instead of the root. In any case, the current behavior allows both python objects and tensors, just not mixed - I assume this is done with an implicit call to `convert_to_tensor`, so any improvements to `convert_to_tensor` should carry over to all its use-sites.

[2016-05-13 17:18] hardsetting commented on #17
+1

[2016-05-13 18:35] vianamp opened #2353 "Tensorboard: graph is shown but no scalar data was found"
I can see the graph, but no scalar is shown.

## Environment info

Mac OS 10.11.4
Anaconda Python 2.7
Tensoflow installed from binary pip package
The output from python -c "import tensorflow as tf; print(tf.__version__)": 0.8.0

## About the code

I am trying to log values of loss using: `tf.scalar_summary('loss',loss)`

I have the writer set to a particular folder: `summary_writer = tf.train.Summ

[2016-05-13 19:03] weiliu620 commented on #2037
Found the issue when I searched the same problem. I git pulled the latest source and got this same issue: tutorials_example_trainer output some NaNs. Here are the last few lines of the output.

======== log ===========
000004/000005 lambda =      nan x = [     nan      nan] y = [     nan      nan]
000009/000005 lambda = 2.000000 x = [0.894427 -0.447214] y = [1.788854 -0.894427]
000004/000003 lambd

[2016-05-13 19:56] jinghuangzhu opened #2354 "add shuffling option to tf.train.batch which handles variable-length sequence"
tf.train.batch is the only one can handle variable-length sequence, but it does not have shuffling option.
For RNN training, shuffling is needed.

[2016-05-13 19:59] vincentvanhoucke commented on #2320
That's true. Maybe what this discrepancy conveys is that it doesn't matter :) Happy to take a PR if you think it should be changed, but please make sure the results don't change in unexpected ways as a result.

[2016-05-13 20:00] vincentvanhoucke commented on #2320
Closing pending PR since this is not a mandatory fix.

[2016-05-13 20:00] #2320 closed

[2016-05-13 20:20] hpssjellis opened #2355 "skflow example text_classification needs file text_datasets.py"
### Environment info
Operating System:

0.8.0

pip version 0.8.0 installation using

sudo pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.8.0-cp27-none-linux_x86_64.whl

does not install text_datasets.py needed to run several skflow examples using text_classification su as

tensorflow/tensorflow/examples/skflow/text_classification.py

the location of text_dat

[2016-05-13 20:24] terrytangyuan commented on #2355
Have you tried one of the nightly builds? https://github.com/tensorflow/tensorflow#installation

[2016-05-13 20:55] sherrym commented on #2292
As @smartcat2010 mentioned, the tutorial is to illustrate the use of allow_soft_placement.

Closing this as it's a not a bug.

[2016-05-13 20:55] #2292 closed

[2016-05-13 20:56] sherrym commented on #1819
No user response. Closing as not reproducible. Please open a new bug if the issue persists.

[2016-05-13 20:56] #1819 closed

[2016-05-13 20:58] sherrym commented on #1798
What did you set to outfiles['meta'] to? Could you pass in an absolute path to your meta file, something like this:

tf.train.import_meta_graph("/tmp/model.meta")

if your model.meta file is indeed in /tmp?

Sherry

[2016-05-13 21:00] sherrym commented on #1798
The instructions and examples for using meta_graph can be found here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/meta_graph/index.md

[2016-05-13 21:01] hpssjellis commented on #2355
sudo pip install --upgrade http://ci.tensorflow.org/view/Nightly/job/nightly-matrix-cpu/TF_BUILD_CONTAINER_TYPE=CPU,TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=cpu-slave/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow-0.8.0-cp27-none-linux_x86_64.whl

Does install the file text_datasets.py I will check tonight if the text_classification examples work.

P.S. I

[2016-05-13 21:03] sherrym commented on #1962
@jmugan, I agree with you that the model is probably too big for your system.

@pkmital, could you please file a bug if you believe the memory leak is in TensorFlow, and not in the way your model is constructed?

Closing this bug as the fundamental issue is memory, not the saver itself.

[2016-05-13 21:03] #1962 closed

[2016-05-13 21:42] hpssjellis commented on #2355
Thanks Terry. The nightly build fixed the text_classification.py file. Fair bit of number crunching, took about 5 minutes on cloud 9. I think all the text_ ...py files will work now.

P.S.
 All my broken skflow files are in this folder at the moment

https://github.com/hpssjellis/forth-tensorflow/tree/master/skflow-examples/broken

I will move them out of the folder after I test them.

[2016-05-13 21:45] terrytangyuan commented on #2355
Great. Please close this issue and submit new one if you encounter new problems.

[2016-05-13 21:51] #2198 closed

[2016-05-13 21:53] terrytangyuan commented on #2198
@ilblackdragon Could you re-open this and assign to me? I'll try work on this soon.

[2016-05-13 22:03] itsmeolivia commented on #2218
I'm working on this.  The testing is a little tricky to integrate but it should be done soon :)

[2016-05-13 22:25] altaetran opened #2358 "scatter_add for non variable tensors"
Hi,

I am interested in using scatter_add when the tensor being update is not a variable. Is this possible?

I am looking to do something like this:

`X1_ph = tf.placeholder(tf.float32, shape=(None, 3))`
`ind_ph = tf.placeholder(tf.int32, shape=(None))`

`#Z = tf.Variable(tf.zeros([10, 3]))`
`Z = tf.zeros([10, N_feat])`

`X1 = np.array([[1,0.00,1],`
`[2,0.00,1],`
`[3,0.00,1],`
`[5,0.00,1.1],`
`[6,

[2016-05-13 23:12] benoitsteiner commented on #2324
This looks like a duplicate of https://github.com/tensorflow/tensorflow/issues/2324

[2016-05-13 23:12] #2324 closed

[2016-05-13 23:25] benoitsteiner commented on #2333
I can't reproduce your compilation error so it'll be hard for me to diagnose the root cause. However, you should be able to work around the problem by editing the tensorflow.bzl file and deleting the  "-DTENSORFLOW_USE_EIGEN_THREADPOOL" string in the tf_copts() function.

[2016-05-13 23:40] altaetran commented on #2328
I am personally not a fan of mixed typing like this. I see tensorflow as a programming language with a python wrapper, rather than python module that can interact nicely with other python modules.

[2016-05-14 00:32] girving commented on #2358
Use `tf.sparse_to_dense`.

[2016-05-14 00:34] girving commented on #2358
Actually, by "this operation" do you mean the whole thing, or do you want to allocate a `Z` and do a bunch of separate scatters into it before deallocating it.

[2016-05-14 00:35] hpssjellis commented on #2355
Thank you

[2016-05-14 00:35] #2355 closed

[2016-05-14 00:53] sherrym commented on #2351
This has been fixed internally and will be available by the next update.

[2016-05-14 00:53] #2351 closed

[2016-05-14 01:02] altaetran commented on #2358
I'd like to be able to allocate Z, do a bunch of scatters, and then deallocate it while allocating another Z for a different version. Is there a function I can call to deallocate a variable?

[2016-05-14 01:05] girving commented on #2358
@altaetran: We could certainly make a deallocation op, but I don't think we have one at the moment?  However, using it would be somewhat awkward.

@yuanbyu: Do you have an ideas?

[2016-05-14 01:16] altaetran commented on #2358
Is there any way to retrofit the scatter_add function to work directly on regular tensors produced by other tensorflow operations?

[2016-05-14 04:09] gustavopinto opened #2361 "Why the software history was not kept?"
Hi there,

I'm a researcher studying software evolution. As part of my current research, I'm studying the implications of open-sourcing a proprietary software, for instance, if the project succeed in attracting newcomers. Tensorflow was in my list. However, I observed that the software history of when the software was developed as a proprietary software was not kept after the transition to Github.

[2016-05-14 05:15] antonszilasi opened #2362 "Tensor flow installation problem: import error"
I am having the following issue when I try to install TensorFlow for Python 2.7 on mac OS. This seems to be an issue with Tensor flow's libraries, thank you for your help!

![screen shot 2016-05-14 at 3 11 14 pm](https://cloud.githubusercontent.com/assets/8773483/15266421/badcb0ec-19e7-11e6-9ad5-599c656cba59.png)

[2016-05-14 06:54] lightingghost commented on #452
same problem here. Using the newest tf and bazel. The error message is as following:

`no such package '@paper_dialog//': Error cloning repository: https://github.com/polymerelements/paper-dialog.git: cannot open git-upload-pack caused by https://github.com/polymerelements/paper-dialog.git: cannot open git-upload-pack caused by https://github.com/polymerelements/paper-dialog.git: cannot open git-u

[2016-05-14 07:13] laouer opened #2363 "(skflow) issue in batch normalization after restore"
Hi,
I'm using Tensorflow [last succeed build #85](http://ci.tensorflow.org/view/Nightly/job/nigntly-matrix-linux-gpu/TF_BUILD_CONTAINER_TYPE=GPU,TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=gpu-working/lastSuccessfulBuild/)

I succeed to train a classifier with batch normalization and saving it with classifier.save(logdir) and restoring the classifier with
classifi

[2016-05-14 08:45] 333caowei opened #2364 "zlib.h not found when compile tensorflow with GPU support"
I am trying to compile tensorflow from source. I can build it **successfully** with CPU support only( i.e. not use ```--config=cuda```) .

But when I try to build it with GPU support, I get error:
[code]

**I also compile python3 from source in my computer. And when I ```import zlib```, it works fine.**

Here is the information of my system:
```[chaowei@mgt ~]$ cat /etc/redhat-release Red Hat Ente

[2016-05-14 08:49] suiyuan2009 commented on #2305
I'll work on it

[2016-05-14 09:32] ayqh opened #2365 "pip install problem:SSLError"
I encountered " SSLError: hostname 'storage.googleapis.com' doesn't match 'www.google.com' "
after typing "sudo pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.8.0-cp27-none-linux_x86_64.whl"
can somebody help me fix this? thanks a lot!

[2016-05-14 10:16] prafiles commented on #2306
@adamcavendish apparently just use "/usr" instead of  "/usr/local/cuda" for cuda path.
Helped me a lot for caffe. Found it on Google Forums. Sorry but cant find the reference anymore.

[2016-05-14 11:13] adamcavendish commented on #2306
@prafiles Sorry, I can't make it work. The `configure` file asks me to specify a CUDA path, and it'll look for `THE_CUDA_PATH/lib64/libcudart.so` while the `libcudart.so` is here at `/usr/lib/x86_64-linux-gnu/libcudart.so`, therefore it failed.

[2016-05-14 11:24] prafiles commented on #2306
@adamcavendish
Sadly I too spent my last day fixing these bugs. Two things came to light. Install CUDA SDK from the .run file. Use the provided driver. And finally use gcc-5 only along with INLINE changes for NVCC.

Installed Caffe, Theano and Tensorflow as per this. There is a lot of mixture of information available over the internet about this. However removing CUDA SDK from apt and switching to

[2016-05-14 11:40] adamcavendish commented on #2306
@prafiles Thx a lot. There's not many choices for us.

[2016-05-14 13:26] siddharth-agrawal commented on #1061
I looked into this issue, and as far as I can tell, the issue comes from [this line](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/optimizer.py#L379) in the `class Optimizer()` implementation, and not the `clip_by_value` op. Also none of the optimizers override the `_valid_dtypes()` method. I don't have background information as to why the dtypes did not include f

[2016-05-14 14:18] RobRomijnders commented on #2034
Got the segmantation as well on running TensorBoard, updating numpy and scipy like @jrock08 said solved the issue for me. Thank you!

[2016-05-14 15:00] yaroslavvb commented on #1061
I suspect it's historical -- in the beginning few ops had working float64
implementations. Someone should try adding dtypes.float64 to that line and
seeing if it works.

On Sat, May 14, 2016 at 6:26 AM, Siddharth Agrawal <notifications@github.com

[2016-05-14 17:32] mrry opened #2366 "Functional ops don't accept Python lists as input."
See error reported in [this Stack Overflow question](http://stackoverflow.com/q/37221092/3574081):

The functions in [`functional_ops.py`](https://github.com/tensorflow/tensorflow/blob/ddd86c0ff110b332171638890ba990d79def877b/tensorflow/python/ops/functional_ops.py) each expect their `elems` inputs to have a `dtype` property. As a side-issue, they convert their input to a tensor multiple times (im

[2016-05-14 19:20] siddharth-agrawal commented on #1061
Tried that, it works. Tested on a modified version (replaced all float32s by float64s) of @evanthebouncy's code [here](https://github.com/evanthebouncy/matching_parenthesis_rnn/blob/master/matching.py), using which the bug was reported I presume. Should I send out a PR?

[2016-05-14 19:27] PierreGe commented on #2016
I solved this problem on mac osx doing this :
`python`
`import six`
Then we localize the package six:
`>>> six.__file__`
`'/Library/Python/2.7/site-packages/six.pyc'`
Then we upgrade the concerned package
`sudo pip install six --upgrade --target="/Library/Python/2.7/site-packages/"`

[2016-05-14 23:14] yaroslavvb commented on #1061
Nice, good to know the fix is so simple. A PR seems like a generally good thing to do, although I don't know how overwhelmed the people in charge of merging are right now, I'll let someone else comment

[2016-05-15 00:42] altaetran opened #2367 "Incorrect gradients for scatter_add"
Hi Tensorflow Development Team,

Thank you so much for being so patient with me. I am currently working with scatter_add, and have encountered a None gradient where I believe there should be gradients.

### Environment info
Operating System: CentOS

Installed version of CUDA and cuDNN:
(please attach the output of ls -l /path/to/cuda/lib/libcud*):
CUDA version 7.5
cuDNN version 7.0 (64 bit)
tensor

[2016-05-15 00:50] altaetran commented on #2367
I suspect there is no registered gradients function for scatter_add. Could anyone confirm? Thank you so much!

[2016-05-15 07:44] deependersingla opened #2370 "installation problem in ubuntu 64 gpu"
Tried installing it on ubuntu but getting this error even using Virtualenv:
[code]

### Environment info
Operating System: Ubuntu
Distributor ID:	Ubuntu
Description:	Ubuntu 15.04
x86_64 x86_64 x86_64 GNU/Linux
python 2.7.9

Installed version of CUDA and cuDNN:
[code]

If installed from binary pip package, provide:
https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.8.0-cp27-none-linux

[2016-05-15 09:56] sjperkins opened #2371 "C++ API header files missing from pip install"
I'm building a custom CPU/GPU operator with the pip binary [install](https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.8.0-cp27-none-linux_x86_64.whl) linked from

https://www.tensorflow.org/versions/r0.8/get_started/os_setup.html#pip-installation

Certain header files seem to be missing from the above binary. When following the [Adding an Op](https://www.tensorflow.org/versions/r0.

[2016-05-15 11:10] 333caowei commented on #2365
can you ```import ssl``` in python?

[2016-05-15 14:16] rdadolf commented on #2328
@vladfi1 The type errors I'm talking about are dimension mismatch due to extra or insufficient nesting. Consider the following exceedingly contrived example:

[code]

Currently, TF gives you a type error; in the proposed extension, this silently gives you the wrong answer (i.e., it becomes a logical error). This is obviously not real code, but imagine having an n-dim tensor accidentally becoming a

[2016-05-15 16:00] aleSuglia opened #2373 "Embedding lookup table doesn't mask padding value"
Hi there,

I'm using an *embedding_lookup* operation in order to generate dense vector representations for each token in my document which are feed to a convolutional neural network (the network architecture is similar to the one in a [WildML article](http://www.wildml.com/2015/12/implementing-a-cnn-for-text-classification-in-tensorflow/)).

Everything works correctly but when I pad my document in

[2016-05-15 16:19] byzhang commented on #666
Same error here.

[2016-05-15 18:47] sherrym commented on #666
The error is due to current size limit on protocol buffers in the implementation of message lite. Can you shard the Variable so it's not so large?

bool MessageLite::SerializePartialToCodedStream(
    io::CodedOutputStream* output) const {
  const int size = ByteSize();  // Force size to be cached.
  if (size < 0) {
    // Messages >2G cannot be serialized due to overflow computing ByteSize.
    G

[2016-05-15 18:53] byzhang commented on #666
The variables are the embeddings of word2vec with a large vocabulary. It
seems not easy to shard them without changing the NegTrainOp and python
caller code a lot?

Thanks,
-B

On Sun, May 15, 2016 at 11:49 AM, Sherry Moore <notifications@github.com>
wrote:

[2016-05-15 19:23] chrishenx opened #2375 "Matplotlib incompatibility when using virtualenv"
RuntimeError when importing matplotlib.pyplot in a jupyter notebook from a virtual environment:

`RuntimeError: Python is not installed as a framework. The Mac OS X backend will not be able to function correctly if Python is not installed as a framework. See the Python documentation for more information on installing Python as a framework on Mac OS X. Please either reinstall Python as a framework,

[2016-05-15 19:30] #73 closed

[2016-05-15 19:42] zxzhijia opened #2376 "Beginner question: Error when running the conv net example"
I tried to learn Tensorflow and ran the .py file I created by copying the example code on the Tensorflow website. it runs well initially and printing it's training epochs. But finally, it gave some error showing as below:

(tensorflow)xu@xu-ThinkCentre-M72e:~ $ python BuildConvNet.py
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcublas.so locally
I tensorflow/

[2016-05-15 20:43] julialintern commented on #2333
I had a similar issue (ref https://github.com/tensorflow/tensorflow/issues/2324)

[2016-05-15 21:33] ghost opened #2377 "Will there be custom GPU kernels for NHWC Batchnorm in the future?"
NCHW Batchnorm #1759 is one merge away but as it currently stands the NHWC Batchnorm kernel is the single biggest performance killer in very deep networks. My testing shows that Resnet-164's forward pass taking more than twice as much time as that of Resnet-110, simply because the former has an additional BN of increased channel dimension (x4) in each block, despite the two architecture having nea

[2016-05-15 21:51] hholst80 commented on #2306
Sorry, I did not see that the corperate git repo was firewalled. I copy up the changes to github instead.

[2016-05-16 01:18] 22csnyder commented on #208
@rdipietro  The link to that notebook does not work for me :(

[2016-05-16 01:29] 22csnyder opened #2381 "understanding the current state of dynamic_rnn vs buckets vs scan for seq2seq"
Bear with me as I am not an expert in the practical or theoretical details.

Perhaps because tensorflow has developed so rapidly, I find it a little difficult to find the recommended procedure for RNNs with varying length, at least from my lay end-user perspective. It is unclear to me on May 15, 2016 what tool within tensorflow is best suited to this task.

It seems that originally RNNs of varying

[2016-05-16 01:45] rdipietro commented on #208
Oh I'm sorry. Reorganized a bit.

http://rdipietro.github.io/tensorflow-scan-examples/
On May 15, 2016 9:20 PM, "22csnyder" <notifications@github.com> wrote:

[2016-05-16 02:03] wangbm opened #2382 "ValueError: GraphDef cannot be larger than 2GB"
I'm trying to implement a deep autoencoder with tensorflow. The RBM pretraining works just fine, but when it comes to fine tuning, it raises the error: 'ValueError: GraphDef cannot be larger than 2GB'. My input is an array in the shape of [12396, 8192], and here is my layers: [8192 16384 8192 4096 2048 1024 512 256 512 1024 2048 4096 8192 16384 8192].
I know where the problem is, but I have no ide

[2016-05-16 02:44] Retoro commented on #2241
I used
cudnn-6.5-linux-x64-v2.tgz of
Download cuDNN v2 (March 17,2015), for CUDA 6.5 and later.

[2016-05-16 04:45] ebrevdo commented on #2366
This example is ambiguous. Numpy arrays should be converted to tensors.  Python lists and tuples should be treated as a multi arity input for a mapfn which runs each row of N inputs at the same time.

[2016-05-16 04:58] ebrevdo commented on #2180
Don't forget to call Reorder Sparse on the result of Derek's code.

[2016-05-16 05:43] NickQian commented on #254
I confirm that with @samjabrahams whl I can get the "panda" and "uniform" result in 15s(use python example. not sure the cpp example). Thanks a lot! building tensorflow and bazel on raspberry is not a easy job......I tried but blocked at the javac report out of memory(I already change the swap file to 2GB but I found the javac even does not consider any swap space).

1) is it possible to put the b

[2016-05-16 06:17] shekkizh commented on #2375
Just curious why you would post this question here?! This is clearly not an issue in tensorflow.

[2016-05-16 06:22] samjabrahams commented on #254
@NickQian Glad the TensorFlow binaries are working for you. Couple quick responses:

1. At this time, I'm unable to distribute the Bazel binaries directly, mainly because I don't know the exact files that need to be packaged up (I believe there's more to it than just a single binary file). If someone could help me out with this, I'd be able to do so- I just don't have much (if any) time to dedicat

[2016-05-16 06:59] tu-lee opened #2383 "machine learning beginner: how to get custom input data to train a conv net?"
I have started learning tensorflow recently. I am trying to input my custom python code as training data. I have generated random exponential signals and want the network to learn from that. This is the code I am using for generating signal-

`import matplotlib.pyplot as plt
import random
import numpy as np

lorange= 1
hirange= 10
amplitude= random.uniform(-10,10)
t= 10
random.seed()
tau=random.un

[2016-05-16 07:29] hholst80 commented on #2364
You need zlib1g**-dev** installed.

[2016-05-16 07:31] NEELMCW commented on #22
@benoitsteiner  Is the eigen-opencl https://bitbucket.org/benoitsteiner/eigen-opencl ready enough to support an opencl tensor flow development ?

Does tensorflow depend only on Eigen tensors or are there any other dependencies of Eigen ?

[2016-05-16 07:41] 333caowei commented on #2364
@hholst80 I have tried ```yum install zlib-delve``` before and it showed ```zlib-devel has been installed```

[2016-05-16 07:59] shendiaomo opened #2384 "ps job in the distributed inception trainer killed by OOM killer"
Hi all:
  It seems that the distributed runtime has a memory leak problem, my tf version is the 0.8.0 wheel package from http://tensorflow.org.
  When I started the distributed inception trainer in http://github.com/tensorflow/models/ on a 64G RAM Linux server with 1 ps and 4 replicas, the footprint of the ps process increased slowly but continously, and the process was finally killed by the syste

[2016-05-16 08:06] hholst80 commented on #2306
https://github.com/hholst80/tensorflow is a snapshot of the customizations I made to build TensorFlow v0.8.0 on Ubuntu 16.04 LTS.

[2016-05-16 08:29] ushnish opened #2385 "Hard to understand error message"
x is a list of list of tensors, and im passing in one list at a time to the rnn but I get this hard to understand error message

Traceback (most recent call last):
  File "autoencoder_m.py", line 60, in <module>
    outputs, state = rnn.rnn(cell=dropout_cell, inputs = x[i], initial_state=initial_state, sequence_length=s[i], scope = scope)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/p

[2016-05-16 11:05] EelcovdW commented on #2241
That might be the problem. as written [here]https://www.tensorflow.org/versions/r0.8/get_started/os_setup.html#requirements), prebuilt GPU version works with cuda 7.5 + cuDNN v4. Try it with 4.0.7, and see if it works.

[2016-05-16 11:36] Fhrozen commented on #530
I do not if it is correct to ask this here, but I am wondering about the installation for developers using bazel. The problem is that when I tried to compile tensorflow (tf), bazel cleans the cache so when i tried to run tensorboard (tb) it show the message that tb is not in the list. and then when I tried to compile tb it cleans tf. Is possible to keep both of them using the source code? and avoi

[2016-05-16 12:29] suiyuan2009 commented on #2076
@eriophora you can use a placeholder
`x=tf.placeholder(tf.string,shape=(1,1))
 z=tf.constant(10)
 y=tf.Print(z,[x,z])
 with tf.Session() as sess:
         for i in range(10):
         time.sleep(1)
         ti=time.asctime()
         xx=np.array([ti],ndmin=2)
         y.eval(feed_dict={x:xx}) `

[2016-05-16 12:48] smartcat2010 opened #2386 "Distributed tensorflow hang when turning from Async to Sync"
I follow [Distributed tensorflow](https://www.tensorflow.org/versions/r0.8/how_tos/distributed/index.html) to port our RNN to multi-GPU cards. I start 4 processes and each process run on a different GPU card.
After solving the [issue](https://github.com/tensorflow/tensorflow/issues/2292), I could run it on my 4 GPU cards server in Asynchronized mode.

Then I change my code to Synchronized mode by

[2016-05-16 13:06] terrytangyuan commented on #2383
Examples for tf.learn [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/skflow) should make things easier for you.

[2016-05-16 14:35] girving commented on #2358
Non-Variable tensors are immutable, so supporting scatter into them would break an important part of the model.  The uninitialize op is much easier.  Would you be interested in submitting a patch? :)

[2016-05-16 15:20] girving commented on #2383
Questions like this should go on StackOverflow, not Github Issues.

[2016-05-16 15:20] #2383 closed

[2016-05-16 15:23] girving commented on #2241
@martinwicke: Is there a convenient way to report error message in this case instead of crashing?

[2016-05-16 15:30] mrry commented on #2375
I'm closing this as it doesn't seem relevant to TensorFlow.

[2016-05-16 15:30] #2375 closed

[2016-05-16 15:35] alkhaled opened #2387 "Documentation on fault tolerance in distributed tensorflow"
Hi,

I know the white paper describes how Tensorflow handles failures in distributed execution, but the docs for open source tensorflow (specifically: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/distributed/index.md) don't really explain what to expect if a machine goes down in a cluster. It would be nice to know:

1. What the expected behavior is if a machine fai

[2016-05-16 15:37] plooney opened #2388 "pip install failing for Python3.4 but fine for Python3.5"
I have been following the installation for Python3.4 using

sudo pip3 install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.8.0-cp34-cp34m-linux_x86_64.whl

The installation says it was successful

When I try to run the examples I get an error

Traceback (most recent call last):
  File "/usr/lib/python3.4/inspect.py", line 977, in getfullargspec
    skip_bound_arg=Fals

[2016-05-16 15:38] mrry commented on #2358
Judging by #2367, it appears that @altaetran also requires gradients for this operation. It sounds to me like a functional op would be preferable for this purpose.

[2016-05-16 15:38] mrry commented on #2367
Scatter add mutates one of its inputs - it's more like "scatter assign-add" - so I don't think it the current gradient system would support it. It certainly doesn't have a registered gradient function.

I think this is covered by #2358 ("scatter_add for non variable tensors"). If there were a functional scatter_add-like op that operated on regular tensors, the concern about mutation would go away.

[2016-05-16 15:38] #2367 closed

[2016-05-16 15:41] mrry commented on #2362
It looks like your version of `pip` is not installing things into the path that your version of `python` is expecting. Perhaps you have two versions of Python installed? What output do you get from `which pip` and `which python`? (These paths might give a clue....)

[2016-05-16 15:58] mrry commented on #2370
I think the problem here is that you have a file called `tensorflow.py` in your current directory. Python will interpret `import tensorflow as tf` as an instruction to load that script, rather than the installed TensorFlow module. Renaming that file to something else should fix the problem.

[2016-05-16 15:59] mrry commented on #2376
It looks like you're invoking this from a script called `BuildConvNet.py`. Can you share the source of that file?

[2016-05-16 16:11] mrry commented on #2311
The assign op is not consuming memory, but the problem is caused by the fact that each instance of `new_weights` is converted to a constant op, and added to the graph. Each constant op owns a buffer containing the value that it produces, and a constant op on the GPU device will allocate that buffer in GPU memory.

The fix is to rewrite your program somewhat. Instead of doing:

[code]

... you shou

[2016-05-16 16:11] #2311 closed

[2016-05-16 16:21] #2196 closed

[2016-05-16 16:22] #2199 closed

[2016-05-16 16:37] #2229 closed

[2016-05-16 16:40] mrry commented on #2207
@rmlarsen, I'm assigning this to you because you mentioned there was a plan to add SVD this quarter. Feel free to reassign if someone else is doing the work....

[2016-05-16 16:41] #2225 closed

[2016-05-16 16:45] mrry commented on #2245
If a graph node is unused, it will not be executed, and hence it won't contribute to the step time (apart from possibly the first step, when the graph is first built and pruned). There's no API for deleting nodes in Python, but you can try using the [`extract_sub_graph()`](https://github.com/tensorflow/tensorflow/blob/5f4524928af5ba5727fa97a35ddd5da72be0c476/tensorflow/python/client/graph_util.py#

[2016-05-16 16:45] #2245 closed

[2016-05-16 16:48] mrry commented on #2255
Re-assigning this to @yuanbyu, who knows the current gradients code best, and would be able to estimate the changes needed. (I suspect that this would require a considerable amount of work to update the existing gradient functions, which may have latent assumptions about expecting `tf.float32` or `tf.float64` values.)

[2016-05-16 16:52] mrry commented on #2189
I'm closing this due to inactivity. Let us know if you still have problems!

[2016-05-16 16:52] #2189 closed

[2016-05-16 16:56] mrry commented on #2159
@cssndrx: Did this fix make it into the master branch?

[2016-05-16 16:58] mrry commented on #2127
@ebrevdo: Would you have time to look at this, now you're back? (Or did it get fixed in the mean time?)

[2016-05-16 16:58] itsmeolivia commented on #1768
I looked into the code base for when that error is raised and the only place is in the optimizer.py code that was referenced in #1758 which does show the nodes responsible.  I'm closing this because the uninformative error message is not reproducible.  Feel free to reopen if you can provide more details.

[2016-05-16 16:58] #1768 closed

[2016-05-16 17:02] terrytangyuan commented on #2159
@mrry I think so. Looks like you are adding that commit internally. https://github.com/vrv/tensorflow/commit/2c3c49bb6a1a2f3a9ebcf0b9f48cf8988197f718

[2016-05-16 17:33] mrry commented on #2159
Great, thanks!

[2016-05-16 17:33] #2159 closed

[2016-05-16 17:40] itsmeolivia commented on #658
Closing because yamins81 provided a solution.  Feel free to reopen if this is still a problem!

[2016-05-16 17:40] #658 closed

[2016-05-16 17:57] mrry commented on #2014
@jcyk, @arlejeun: Does updating to a more recent version fix this for you?

[2016-05-16 17:57] mrry commented on #1992
@keveman: Assigning this to you, but feel free to combine with the related bugs.

[2016-05-16 18:01] mrry commented on #1823
I'm closing this because the `tf.train.NewCheckpointReader()` API is now in the latest version, and enables users to build this functionality in code that uses the existing Saver API.

[2016-05-16 18:01] #1823 closed

[2016-05-16 18:07] mrry commented on #1663
Is this still a problem? It looks like that particular nightly is passing now, so do we need to keep this issue open?

[2016-05-16 18:07] mrry commented on #1660
I'm assuming this can be closed since #1691 is merged now.

[2016-05-16 18:07] #1660 closed

[2016-05-16 18:08] mrry commented on #1644
This seems like a reasonable feature to add in `contrib/...`.

[2016-05-16 18:11] Trion opened #2391 "Implemented Tensorflow Op Kernel not found"
I would like to implement an fft op kernel for CPU. Since eigen got an fft implementation this shouldn't be too hard. It's compiling without problems, but I am always running into an InvalidArgumentError when trying to use it from python (see below).

Code of kernel for fft op on CPU (modification of [this file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/fft_ops.c

[2016-05-16 18:24] mrry commented on #1588
@concretevitamin: Is slice one of the ops for which you're implementing SparseTensor support?

[2016-05-16 18:25] mrry commented on #1539
@jlebar: This issue has been quiet for a while. Did you eventually find a workaround, or is there still work ongoing to fix it?

[2016-05-16 18:26] mrry commented on #1538
Closing this due to inactivity. Feel free to reopen if my previous answer didn't fix things for you!

[2016-05-16 18:26] #1538 closed

[2016-05-16 18:28] mrry commented on #1387
I think this is fixed thanks to the underlying fixes in gRPC.

[2016-05-16 18:28] #1387 closed

[2016-05-16 18:29] #1276 closed

[2016-05-16 18:34] LeavesBreathe commented on #2255
Thanks @mrry

Here's the full situation. TensorFlow has operations such as batch_ifft which only accept complex64 numbers. To implement papers like unitary RNN's http://arxiv.org/abs/1511.06464, we need these transforms.

We also need to operate in the complex domain. Now you can simulate imaginary numbers with float32 numbers, but still -- we can't use FFT's which is a critical piece.

There are

[2016-05-16 18:35] #714 closed

[2016-05-16 18:37] mrry commented on #465
Closing this as a duplicate of #2328.

[2016-05-16 18:37] #465 closed

[2016-05-16 18:38] oweingrod commented on #2307
@jharmsen Do you have any further information on this topic? I am unfortunately still at a standstill.

[2016-05-16 18:41] mrry commented on #17
One interesting piece of news: @shanselman wrote a [blog post](http://www.hanselman.com/blog/PlayingWithTensorFlowOnWindows.aspx) about running TensorFlow on  Bash for Windows.

We still intend to provide first-class Windows support, but adventurous users might find this a good way to get started in the mean time.

[2016-05-16 18:44] mrry commented on #2391
Can you share the code for your modified file? In particular, it looks like there is a big `#ifdef GOOGLE_CUDA` in that file, so my first suspicion is that the registration might not be executing.

[2016-05-16 19:03] zheng-xq commented on #2377
NHWC will be supported by converting to NCHW internally back and forth. Our experience is that in most cases that is okay. If you absolutely don't want that overhead, you can switch your entirely model to NCHW through data_format, and that will be fine. If for some ops, NCHW support isn't available, either a conversion can be added, or add new support.

[2016-05-16 19:05] ebrevdo commented on #1588
mdan is implementing SparseTensor slice this week.  I think there's some
code already done.

On Mon, May 16, 2016 at 11:25 AM, Derek Murray <notifications@github.com>
wrote:

[2016-05-16 19:33] jhollowayj commented on #2311
That totally makes sense now.  I never would have guessed to do that though.  Thanks so much.

[2016-05-16 19:38] mrry commented on #2311
Indeed - it's a difficult error to disallow, because there are many totally valid patterns that involve adding nodes to the graph. One tip is to try calling `tf.get_default_graph().finalize()` before your training loop, so that an error will be thrown if you accidentally add a node. (However, we can't do that automatically - e.g. on the first `run()` call - because it would break a huge number of

[2016-05-16 19:50] mrry commented on #2384
Thanks for the report! It might take some time to figure this out, but we'll get to the bottom of it.

First of all, was it only the PS task that died? Do the worker replica tasks show an upward trend in memory consumption over time?

[2016-05-16 19:53] rdipietro commented on #2266
Any ideas about why this wouldn't be picked up?

[2016-05-16 20:11] mrry commented on #2385
This looks like a bad error message. Can you try printing the dtypes of all elements in `x`? My guess is that they have incompatible types....

[2016-05-16 20:17] goodfeli opened #2393 "Update FAQ"
The FAQ here: https://www.tensorflow.org/versions/r0.8/resources/faq.html
still says that multi-machine isn't available yet. But it is available now.

[2016-05-16 20:27] zheng-xq commented on #2266
The error message is from the first line here:

#!/usr/bin/env python2.7
https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc

Could you confirm that you are running bash? And if you start from your bash shell, if you run the displayed command line from "bazel", you would pass the first line?

If so, it could be possible that

[2016-05-16 20:43] ushnish commented on #2385
Thank you for your response. All the dtypes in x appear to be `<dtype: 'float32'>`.

Maybe I'm not doing this the right way, and you can point me in the right direction. Is there something obviously wrong with how I am trying to run rnn on multiple GPU, using the param server paradigm? I'm happy to provide more code if that helps.

[2016-05-16 21:16] jmchen-g commented on #2386
You also need to start the chief queue runner which will start the synchronization thread. Please follow the comments and example in the sync_replicas_optimizer.py. Another example is the inception_distributed_train.py in tensorflow/models/inception

[2016-05-16 21:26] zxzhijia commented on #2376
# Copyright 2015 Google Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on

[2016-05-16 21:38] mrry commented on #2376
OK, it looks like your GPU is running out of memory when you try to run the eval. You seem to have a GTX 750 with 2GiB of RAM. It's possible that copying all of the MNIST test images and labels to the GPU exhausts its memory. I'd suggest batching the test data (e.g. taking 50 images at a time) and aggregating the accuracy in your Python code.

[2016-05-16 21:38] #2376 closed

[2016-05-16 21:47] zxzhijia commented on #2376
Isn't this means a batch of 50 images? Sorry, I'm a beginner.

batch = mnist.train.next_batch(50)

[2016-05-16 21:58] zxzhijia commented on #2376
Ok, I seems understand what you mean. The last print is the problem. I'll try to revise x and y_ to subset. Thank you very much.

[2016-05-16 22:05] orionr commented on #136
As an additional data point, I'm getting the same as @lookfwd and @orodbhen with a GeForce GTX 750 (1 GB). I'll see if the more manual batching from @mtourne fixes it.

[2016-05-16 22:32] peterjliu commented on #640
Any update on a plan to resolve this?

[2016-05-16 23:47] yaroslavvb commented on #2334
This is worked on in request #2346
atm, Tensorflow-native ops work in immediate-mode, but missing infrastructure to support Python-only ops, which happen to be the most popular ops
Estimating another week to get Python-only ops working

[2016-05-17 00:21] concretevitamin commented on #1588
I am not actively working on this op.  Happy to review any PRs ;)

On Monday, May 16, 2016, ebrevdo <notifications@github.com> wrote:

[2016-05-17 00:46] jhollowayj commented on #2311
Thanks @mrry.  Everything is running great again.

[2016-05-17 00:46] #2298 closed

[2016-05-17 01:02] davidzchen commented on #452
@lightingghost Can you paste the full output from running your `bazel` command with `--verbose_failures`?

[2016-05-17 01:06] lightingghost commented on #452
@davidzchen Thanks for helping.

I am using bazel 0.2.2b at that time, when I changed to 0.2.2, it works fine.

[2016-05-17 01:14] maxcuda commented on #851
I have a build of TF 0.8 but it requires a new 7.0 compiler that is not yet available to the general public.
I am building a wheel  on a Jetson TK1, I will make it available after some testing.
I will update the instructions on how to build from source on cudamusing.

[2016-05-17 01:16] mrry commented on #2311
Glad to hear it!

[2016-05-17 01:16] raviqqe commented on #601
+1

[2016-05-17 01:42] shoyer opened #2395 "Tensors should have an "ndim" property"
This is a useful shortcut property on NumPy arrays, and would nice to have in TensorFlow for the sake of cross-compatibility. `tensor.ndim` would be equivalent to `tf.rank(tensor)`.

[2016-05-17 01:46] forsake commented on #2343
I met this , is  a same issue？

/root/tensorflow/tensorflow/core/BUILD:135:1: null failed: protoc failed: error executing command
  (cd /root/.cache/bazel/_bazel_root/efb88f6336d9c4a18216fb94287b8d97/tensorflow && \
  exec env - \
  bazel-out/host/bin/google/protobuf/protoc '--cpp_out=bazel-out/local_linux-opt/genfiles/' '--plugin=protoc-gen-grpc=bazel-out/host/bin/external/grpc/grpc_cpp_plugin' '

[2016-05-17 02:40] sanjaymeena opened #2396 "AttributeError: module 'tensorflow.contrib.learn' has no attribute 'datasets'"
I was running :  tensorflow/tensorflow/examples/skflow/text_classification_cnn.py

The line at : dbpedia = learn.datasets.load_dataset('dbpedia') fails with the attribute error .

Error: AttributeError: module 'tensorflow.contrib.learn' has no attribute 'datasets'

[2016-05-17 03:24] terrytangyuan commented on #2396
Please install latest version, .e.g. one of the recent nightly builds

[2016-05-17 05:33] deependersingla commented on #2370
@mrry Thanks and big facepalm for me :).

[2016-05-17 05:33] #2370 closed

[2016-05-17 05:36] mrry commented on #2370
No problem, it's happened to me a few times too! :)

[2016-05-17 05:41] deependersingla commented on #2370
Yes, I think its mainly because when we are in terminal we don't see file tree.

[2016-05-17 05:54] #2396 closed

[2016-05-17 06:19] ZhuFengdaaa opened #2397 "Performance of Tensorflow distributed training is much slower than caffe multi-GPU training"
I have trained inceptionv3 using tensorflow both on multi-GPU version and distributed version (two machine, four GPU each). Each GPU processes 32 images per iteration under both settings. However, the distributed training speed is twice as slow as the `caffe` multi-GPU version. I'm wondering how to improve the performance of distributed training.

**Configuration:**

Two machine, both of them have

[2016-05-17 06:50] brucewoo opened #2398 "imac install failed."
Installing collected packages: protobuf, wheel, numpy, tensorflow
  Found existing installation: numpy 1.8.0rc1
    DEPRECATION: Uninstalling a distutils installed project (numpy) has been deprecated and will be removed in a future version. This is due to the fact that uninstalling a distutils project will only partially uninstall the project.
    Uninstalling numpy-1.8.0rc1:
Exception:
Traceback

[2016-05-17 07:07] hayder78 commented on #17
@mrry Hi Derek Murray,
I am glad to hear  from you -  as a Google software engineer -  that you intend to provide a native windows support for tensorflow.  Are you part of the tensorflow developer team at Google?

At least I have a hope now.

Any rough estimate when will be a beta release?

[2016-05-17 07:42] robagar commented on #851
Good work @maxcuda!  Will it build on the TX1 too?

[2016-05-17 08:12] linlma commented on #2212
Hi Olivia, still has issue, here are more detailed information, appreciate if you could advise. Thanks.

$ python
Python 2.7.11 |Continuum Analytics, Inc.| (default, Dec  6 2015, 18:57:58)
[GCC 4.2.1 (Apple Inc. build 5577)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thank

[2016-05-17 08:22] akors commented on #2348
@vladfi1

How? The last time I tried to do that, the compilation failed due to explicit version checks in the CUDA headers.
Could you post instructions how you did it? I'm very interested to compile TensorFlow with newer compilers.

[2016-05-17 08:23] cegeme opened #2399 "Is it possible to add summaries to an existing event file ?"
When I continue to train my model from last interrupted training, `tf.train.SummaryWriter` create a new event file.
Could I add new summaries to my existing event file?  So I can visualize the whole learning run.

P.S. What's the right way to suspend the training binary on GPU?   We share one GPU, and I always use  "Ctrl+c" ……

[2016-05-17 08:29] srp1970 commented on #2270
Sorry, it was my mistake or rather the README was the issue. I had to give the same command line with "--size=256 --num_layers=2" during --decode too. Otherwise, it is looking for Cell3 which is non existent (and looks like default is that).

[2016-05-17 08:29] #2270 closed

[2016-05-17 08:37] srp1970 commented on #173
Yes, I had the same problem, and when I gave the same params like "--size=256 --num_layers=2" while decode too, it worked. I think defaults are different during decode.

[2016-05-17 09:18] shendiaomo commented on #2384
I'd tried several times, only the PS task was OOM, all the worker tasks seemed ok.

[2016-05-17 09:38] zzqiang04053080 opened #2400 "modify grpc for local_repository"
Due to network limited, I modify grpc for local_repository in workspace.bzl file,  as shown below:

  #native.git_repository(
  native.local_repository(
    name = "grpc",
    path = "/home/jason/localDep/grpc/grpc",
    #commit = "3d62fc6",
    #init_submodules = True,
    #remote = "https://github.com/grpc/grpc.git",
  )
And when run  bazel build -c opt --config=cuda --verbose_failures --genrule

[2016-05-17 09:43] zzqiang04053080 commented on #2400
A tangle of problems.....

[2016-05-17 10:12] felixmaximilian commented on #2304
Hey guys,
I ran into the same problem and have a fix ready. You seem to have problems with grayscale pictures that have one channel only.
The fix is available in this PR
https://github.com/tensorflow/tensorflow/pull/2349#issuecomment-219077419
and you can find the fix in the marked line:
https://github.com/tensorflow/tensorflow/pull/2349/files#diff-e27def9997dcd569e1f2412fd6f3ae76R619
(I load ever

[2016-05-17 10:47] bingfeng1018 commented on #890
as markusdr  said, it worked!  thanks!
pip uninstall protobuf
pip install /tmp/tensorflow_pkg/tensorflow*.whl

[2016-05-17 11:07] drag0 opened #2402 "Problem with documentation regarding SparseTensors and TFRecord."
I can't seem to find how to store sparse tensors to TFRecord. GitHub issues is not really a place for such a question but documentation was really hard to understand. Could anybody help me with this? Maybe link to a code that uses VarLenFeature or something similiar?

[2016-05-17 11:10] felixmaximilian commented on #1882
Hi @oweingrod,

you probably find the explanation for the slow training [here](https://github.com/tensorflow/tensorflow/blob/d4bf5e072478c92cae2bd71b96e10e77e229dfba/tensorflow/examples/image_retraining/retrain.py#L497).
It's said that bottleneck caching cannot be applied if distortions are enabled. That means the bottlenecks are calculated by the inception model for each image and each step.

Eve

[2016-05-17 12:02] tu-lee opened #2403 ""Total error: nan" for neural network model"
Hi

I have randomly generated exponential signal. I am training the network to predict y values depending on the random time constant (tau). I have added one hidden layer and used gardient descent for optimization. The code runs fine, but it doesnt print error properly. I get this - ('Total Error: ', nan)

here is my code-

`import tensorflow as tf
 import numpy as np
 import random

#input data

[2016-05-17 12:39] Pitscho commented on #1727
I have the same problem here with version 0.8.0.

This is really anoying, because I have to kill the python kernel to free the resources!

[2016-05-17 12:49] Remper commented on #2403
```nan``` can appear in many situations like, for example, division by zero.
I guess in your case ```calculated_output``` produces zero, therefore a subsequent log produces ```nan```.

To prevent this from happening you can, for example, clip the value like this:
[code]

[2016-05-17 13:51] sbyma commented on #17
Another +1, very interested to see this happen. If and when Bazel actually runs on Windows, will TF actually compile on the platform? Or are there other portability issues as well e.g. network, file system calls?

[2016-05-17 14:04] mrry commented on #2400
It sounds like you have checked out the `master` branch of gRPC. Subsequent updates have added a new dependency on `nanopb`, which we haven't added to TensorFlow yet. The solution is to check out exactly the named commit `3d62fc6` in your local grpc repository.

[2016-05-17 14:06] maxcuda commented on #851
Yes, it will build on TX1 too. I fixed a problem with the new memory allocator to take in account the 32bit OS. Some basic tests are passing but the label_image test is giving the wrong results so there may be some other places with 32bit issues.

[2016-05-17 14:07] mrry commented on #2403
This question comes up quite often on Stack Overflow, and @Remper has pointed out a good solution. You can also see a Stack Overflow answer about the same problem [here](http://stackoverflow.com/a/33713196/3574081).

[2016-05-17 14:07] #2403 closed

[2016-05-17 14:13] mrry commented on #2398
It looks like the `pip` is trying to remove am old version of a system library. To avoid version clashes, we recommend that you follow the [virtualenv installation instructions](https://www.tensorflow.org/versions/r0.8/get_started/os_setup.html#virtualenv-installation).

[2016-05-17 14:13] #2398 closed

[2016-05-17 14:21] dcolomvakos commented on #17
+1

[2016-05-17 14:27] SolalPirelli commented on #17
Folks, could you please use [GitHub reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) rather than writing "+1" in a new message? Right now it produces a lot of spam for people who subscribed to updates in this thread. Thanks!

[2016-05-17 14:49] mrry commented on #2402
I think the most realistic code for generating TFRecord files of Example protos is here: https://github.com/tensorflow/models/blob/master/inception/inception/data/build_imagenet_data.py

However, it's not quite clear what you're trying to do. I'm closing this issue so we can move it to Stack Overflow.

[2016-05-17 14:49] #2402 closed

[2016-05-17 15:03] stmax82 commented on #17
+1 for GitHub reactions!

[2016-05-17 15:14] lnunno commented on #2034
Is there a solution for this when running in a virtualenv?

[2016-05-17 15:20] rdipietro opened #2405 "HEAD compiles without error, but not completely? build_pip_package fails."
CentOS 6.7
Cuda 7.0
cuDNN 4.0.7

I resolve https://github.com/tensorflow/tensorflow/issues/2266 by hard coding the python2.7 path in `third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc`.

After also resolving a similar problem with `swig`, it compiles without errors:

[code]

But it seems that `build_pip_package` was only partially (?) completed:

[code]

Any ideas? Could som

[2016-05-17 15:21] araileanu opened #2406 "TensorFlow grpc tensorflow server build on CentOS 7.2"
### Environment info
Operating System:
Linux 3.10.0-327.13.1.el7.x86_64
CentOS Linux release 7.2.1511 (Core)

Installed version of CUDA and cuDNN:
CUDA is 7.5 and cuDNN is 4.0.7
ls -l /usr/local/cuda/lib64/libcud*
-rw-r--r-- 1 root root   322936 Aug 15  2015 /usr/local/cuda/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root       16 May 11 22:38 /usr/local/cuda/lib64/libcudart.so -> libcudart.so.7.5
lrwx

[2016-05-17 15:23] rdipietro commented on #2266
I think you're right. I'll file a bazel issue along with other lost dependencies after I get it to successfully compile.

[2016-05-17 15:23] #2266 closed

[2016-05-17 15:30] vinhqdang opened #2407 "TF learn has a problem with discontinuous categorical outputs"
I have a ``train.csv`` which looks like:

[code]

and ``test.csv``:

[code]

The idea is: the output variable (``v3``) can take four values:  ``5,10,20,50`` and nothing more. It is classification task.

Then code:

[code]

Then I have a problem:

[code]

I think the issue is because the absolute value of output value (``5``) is larger than the number of classes (``4``)

[2016-05-17 15:52] zszhong commented on #2405
refer to `https://github.com/tensorflow/tensorflow/issues/2040`, they have solved this problem.

cp -r bazel-bin/tensorflow/tools/pip_package/build_pip_package.runfiles/__main__/* bazel-bin/tensorflow/tools/pip_package/build_pip_package.runfiles/

[2016-05-17 16:20] jrock08 commented on #2034
I believe for virtualenv, you would need to install the correct numpy (1.8.2) and scipy (0.13.3) since those match the ubuntu repos.  (full disclosure: I haven't checked if this works)

[2016-05-17 16:29] mrry commented on #2405
Thanks for replying @zszhong! Closing this as a duplicate of #2040.

[2016-05-17 16:29] #2405 closed

[2016-05-17 16:44] maxcuda commented on #851
@benoitsteiner , with the new compiler your change to Eigen is not required anymore ( and it is forcing to edit a bunch of files). Could you please remove the check and re-enable variadic templates ?

[2016-05-17 16:52] chris-scott commented on #1815
Having atrous convolution in TensorFlow is great - thank you @gpapan. I'd like access to strides for learning multi-scale raw audio filters, where using a stride of 1 is computationally infeasible.

[2016-05-17 16:58] #1914 closed

[2016-05-17 16:58] #1924 closed

[2016-05-17 16:58] #2315 closed

[2016-05-17 16:58] #2366 closed

[2016-05-17 16:58] #2393 closed

[2016-05-17 17:23] rdipietro commented on #110
Update: Previous process was for a commit after release 7.

Here are necessary changes for commit 1d4fd06, which is after release 8:

1. You need Bazel 0.2.x. As of this writing, with appropriate environment variables, Bazel at HEAD compiles simply with `./compile.sh`. Thank you @damienmg !
2. You still need to make the above changes to the TensorFlow files, including the changes to `CROSSTOOL` et

[2016-05-17 18:07] b33pr commented on #2343
Pretty much, yup. I 'fixed' it by removing the distributed rules from a forked version of Tensorflow, cause I don't care about them right now

[2016-05-17 18:10] mrry commented on #2406
This looks like a duplicate of #2109. Closing this so we can merge the discussion over there (but feel free to reopen if it looks like this is a different issue).

[2016-05-17 18:10] #2406 closed

[2016-05-17 18:17] mrry commented on #2395
You can call `Tensor.get_shape().ndims` to get the (inferred) rank of a tensor, but it is allowed to be `None` if the rank is unknown. Or you can call `tf.rank(tensor)` and the result is a `tf.Tensor` that you have to evaluate (e.g. using `Session.run()`) in order to get an integer.

Neither of these is quite the same as the NumPy property, so I don't see the advantages of having an identical inte

[2016-05-17 18:19] mrry commented on #2382
My guess is that your variable creation statements in `_make_encoder()` and `_make_decoder()` are implicitly creating large constants in the graph - but I'm not sure without knowing the implementation of `rboltz.fit(...)`. What is the return type from that function?

[2016-05-17 18:23] shoyer commented on #2395
This is fair enough. I didn't realize it was possible to have tensors with unknown rank.

[2016-05-17 19:25] mrry commented on #2395
It's possible but rare :) (at least in reasonable-quality code...). For example you can create one with `tf.placeholder(tf.float32)`, but you're encouraged to use `tf.placeholder(tf.float32, shape=[...])`. Unfortunately, we have some highly dynamic custom and legacy op code that requires this behavior....

[2016-05-17 19:25] #2395 closed

[2016-05-17 20:06] mrry commented on #2399
The SummaryWriter API doesn't let you append to an existing file, but you can use TensorBoard to visualize multiple files in the same log directory.

Assigning to @danmane in case there are any other tricks you could use.

[2016-05-17 20:57] danmane commented on #2399
Correct, if you point TensorBoard to the directory containing event files, then creating a new event file within that directory will be fine, and tensorboard will combine the runs.

N.b. you should use a clean directory for each separate training job.

[2016-05-17 20:57] #2399 closed

[2016-05-17 22:06] mrry commented on #2127
Looks like it was fixed in https://github.com/tensorflow/tensorflow/commit/b7f7fe26fd2e15978d84a1f02e983faf7324a131.

[2016-05-17 22:06] #2127 closed

[2016-05-17 22:07] liuyipei commented on #2121
I have the same issue as well. I use a similar set up to OP (but ubuntu 14.04 on 2 Titan X). I have been trying to run ``https://github.com/tensorflow/models/tree/master/inception``.

Originally, I would run into an unhandled ``CUDA_ERROR_LAUNCH_TIMEOUT`` a few hours in
[code]
``CUDA_ERROR_LAUNCH_TIMEOUT`` is the result of watchdog killing a compute thread that took too long.

To address this, I d

[2016-05-17 22:28] martinwicke commented on #1815
You should file a new issue with that feature request, I doubt it will be seen hidden in this thread.

[2016-05-17 22:40] ppwwyyxx commented on #2121
Hi, are you using cuda 7.5 or 7.0? I only tried it once after switching to 7.0 and it didn't happen to me that time.

[2016-05-17 22:48] benoitsteiner commented on #851
@maxcuda Where can I download the new cuda compiler? I'd like to make sure that I don't introduce new problems when I enable variadic templates again.

[2016-05-17 23:01] #1783 closed

[2016-05-17 23:13] mrry commented on #2365
This is a known issue with some `pip` installations. The workaround is documented [here](https://www.tensorflow.org/versions/r0.8/get_started/os_setup.html#sslerror_ssl_verify_failed): simply download the `.whl` file using `curl` or `wget`, then pass the name of the downloaded file to `pip install` in place of the URL.

[2016-05-17 23:13] #2365 closed

[2016-05-17 23:28] mrry commented on #2312
Are you using the 0.8 release or a recent nightly build? `tf.nn.atrous_conv2d()` is only available in the nightly builds.

[2016-05-17 23:34] #2328 closed

[2016-05-17 23:34] #2371 closed

[2016-05-18 00:15] ushnish commented on #2385
@mrry Do you have any idea what can raise this error? It's not the input dtypes themselves

[2016-05-18 00:20] shampool commented on #2312
@mrry   I downloaded the nightly build whl file and installed it by:
[code]
but I still could not find
[code]

[2016-05-18 00:23] liuyipei commented on #2121
@ppwwyyxx tyvm for the update. I was on cuda 7.5. I will try cuda 7.0.

[2016-05-18 02:02] wangbm commented on #2382
Thank you!
The return type of `rboltz.fit(...)` is `ndarray`.
I use `W = tf.Variable(self.W_list[i], name = 'weights')` to create variables. I have try to use `tf.placeholder` instead of `tf.Variable`, but it turned out that 'there are no variables to optimize'. Now I have no idea how to deal with it.
It doesn't make sense. Tensorflow can't solve the problem when the graph is very big and deep? Th

[2016-05-18 02:17] lifuhuang opened #2410 "Possible typo in doc of constant_initializer"
In the [doc](https://www.tensorflow.org/versions/master/api_docs/python/state_ops.html#constant_initializer) of `constant_initializer`, it says that the argument `value` should be:

But in fact, it can take array-like argument and initialize variables properly with it. So I guess it's a mistake in the doc? It's kind of misleading for beginners.

Thanks!

[2016-05-18 02:28] datomnurdin opened #2411 "Android - Binary XML file line #*: Error inflating class com.android.internal.widget.ActionBarView"
I got this issue when trying to test tensorflow demo on android device.

    05-18 10:25:44.494: E/AndroidRuntime(29965): FATAL EXCEPTION: main
    05-18 10:25:44.494: E/AndroidRuntime(29965): java.lang.RuntimeException: Unable to start activity ComponentInfo{org.tensorflow.demo/org.tensorflow.demo.CameraActivity}: android.view.InflateException: Binary XML file line #39: Error inflating class com.

[2016-05-18 02:39] vladfi1 opened #2412 "Packaged TensorFlow C++ library for bazel-independent use"
Currently, building a C++ application in tensorflow requires creating a project in the tensorflow source tree and compiling with bazel. In my case I would like to use tensorflow in a (fairly large) existing application with an existing build system that would be difficult to port to bazel. The solution to me seems to be exposing tensorflow as a library that can be linked with.

[2016-05-18 03:23] antonszilasi commented on #2362
Strangely I am getting this

![screen shot 2016-05-18 at 1 21 02 pm](https://cloud.githubusercontent.com/assets/8773483/15346446/a394568a-1cfb-11e6-9258-c374601d50b7.png)

[2016-05-18 03:30] zzqiang04053080 commented on #2400
@mrry    yea, it works, thank you !

[2016-05-18 03:30] #2400 closed

[2016-05-18 03:38] smartcat2010 commented on #2386
@jmchen-g
Thanks a lot for your help! I turn to [sync_replicas_optimizer.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/sync_replicas_optimizer.py) and follow the "Usage". In order to simplify the code, I just change [mnist_softmax.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/mnist/mnist_softmax.py) to changing input da

[2016-05-18 03:56] smartcat2010 commented on #2386
@jmchen-g
I've also follow the style of [inception_distributed_train.py](https://github.com/tensorflow/models/blob/master/inception/inception/inception_distributed_train.py) , and changed my above code to:
with tf.device('/job:worker/task:%d' % FLAGS.task_index) :

Then restarting the job, still 1 ps and 2 workers. Then worker 0 still runs smoothly and print out results. Worker 1 hangs inner "sv.p

[2016-05-18 04:39] cgorman commented on #2353
Do you have a call to `tf.merge_all_summaries()` (or something similar) and do you evaluate the op? See e.g. https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/mnist/fully_connected_feed.py#L151 and https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/mnist/fully_connected_feed.py#L191

[2016-05-18 04:50] andrewharp commented on #2411
Hi,
A few questions first:
- have you made any changes to the code?
- which SDK build tools version are you using?
- how did you build the APK?
- What Android API level is the device you're testing it on?

My initial guess after a little googling is that it has something to do with API levels, themes, or Android support libraries (which we don't use -- did your IDE try to add one?).

[2016-05-18 04:57] guopei opened #2413 "Compile Failed Numerous Times"
Ubuntu 14.04
GCC 4.8.4
Cuda 7.5
Cudnn 4.0.7
Bazel 0.2.2b

-----

`bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer`
INFO: Found 1 target...
ERROR: /home/peiguo/.cache/bazel/_bazel_peiguo/67521296d96959142b2d5d303d9c774c/external/re2/BUILD:9:1: undeclared inclusion(s) in rule '@re2//:re2':
this rule is missing dependency declarations for the following files included by 'ex

[2016-05-18 05:01] datomnurdin commented on #2411
1. I convert into gradle format. No major changes except gradle file.
2. **23.0.2**
3. Build using android studio and upload it into device (not simulator).
4. **4.3**

My gradle setting

[code]

[2016-05-18 05:46] mrry commented on #2412
The "//tensorflow:libtensorflow.so" enables you to build a standalone TensorFlow library that you can dynamically link into your other project. Would that be sufficient?

[2016-05-18 06:27] mrry commented on #2362
Which version of OS X are you running? On closer inspection of your first screenshot, the error message is:

[code]

Looking [elsewhere](http://stackoverflow.com/questions/25926495/symbol-not-found-sincos-stret) suggests that this symbol is only available in OS X 10.9 and above.

[2016-05-18 06:34] jmchen-g commented on #2397
Since you have a Xeon CPU, it is less likely your CPU is the bottleneck, however, you have 8 workers but only 1 PS which is also very busy processing the input for the GPUs, that PS is likely to get congested and become the bottle neck. Two things you can try here:
1. Run the TF multi-GPU version with 4 GPUs locally and see if and how much slower it will be compared to 1 GPU.
2. Use more hosts fro

[2016-05-18 06:34] mrry commented on #2410
The documentation is intentionally vague on this point. Currently, you can pass any array-like argument that is supported by `tf.constant()`, but this is an implementation detail, and it is unreliable since `constant_initializer()` can be used to create variables of different shapes. Only a scalar argument has a well-defined meaning (fill a tensor of the given shape with that scalar value) for all

[2016-05-18 06:34] #2410 closed

[2016-05-18 06:36] mrry commented on #2385
The most likely culprit is an invalid value in the list - e.g. one that cannot be converted to a tensor. I'm about to submit a change that will improve the error message here, so it should help to discover the real problem.

[2016-05-18 06:43] jmchen-g commented on #2386
Actually the inception distributed train is using slim which has its own trick related to device setter. For you case, can you try follow the instructions for the replica_device_setter:
  # To build a cluster with two ps jobs on hosts ps0 and ps1, and 3 worker
  # jobs on hosts worker0, worker1 and worker2.
  cluster_spec = {
      "ps": ["ps0:2222", "ps1:2222"],
      "worker": ["worker0:2222", "

[2016-05-18 06:51] ushnish commented on #2385
Well this is how I am creating the placeholders now.

`x1 = []
x2 = []

y1 = []
y2 = []

for _ in xrange(max_sequence_length):
        with tf.device('/gpu:0'):
                x = tf.placeholder(tf.float32, shape=[batch_size, input_width])
                x1.append(x)
                y = tf.placeholder(tf.float32, shape=[batch_size, input_width])
                y1.append(y)
        with tf.devic

[2016-05-18 07:08] mrry commented on #2385
Looking closer at the exception backtrace, it is failing on [this line](https://github.com/tensorflow/tensorflow/blob/449d122b46d6e7fa2deba151356ffda200d1be7c/tensorflow/python/ops/rnn.py#L128) in `rnn.py`:

[code]

This suggests that either `batch_size` or `cell.output_size` has the wrong type. With the forthcoming change it will be easier to tell which one of these is incorrect, but perhaps you

[2016-05-18 07:33] ushnish commented on #2385
Both of these are `<type 'int'>`, and both have value 32 (I have batch size 32 and so is the number of neurons in my LSTM cell). Should they be some other type?

[2016-05-18 07:50] smartcat2010 commented on #2386
@jmchen-g
Thank you very much for your quick help!
I updated my code following your guide. I run 1 ps and 2 workers like this:
[code]
My code file:
[mnist_softmax.py.txt](https://github.com/tensorflow/tensorflow/files/269861/mnist_softmax.py.txt)

Then worker0 runs smoothly, worker1 shows the following error:

[code]

When I change it to run the 2 workers in the same machine as follows, then both

[2016-05-18 07:58] jmchen-g commented on #2386
Can you remove all the checkpoint before starting the run?

If you want to have checkpoint, you need to make sure the path is
accessible from all PS and chief worker.

On Wed, May 18, 2016 at 12:52 AM, smartcat2010 <notifications@github.com>
wrote:

[2016-05-18 08:04] jhave commented on #336
same issue. did editing build files work for anyone else?

[2016-05-18 08:08] qingzew opened #2414 "how to run lstm on multi gpus?"
I run a example of lstm on multi gpus using codes in `models/image/cifar10`, but it turns out that Attempting to use uninitialized value lstm/LSTMCell/W_0. I have read the issues 1390, so I have a question if the implementation of lstmcell is ok. when I want to store variables on cpu, and run ops on gpu, the implementation of lstmcell do initialization of `w` in blackbox, then variables and ops mu

[2016-05-18 08:20] smartcat2010 commented on #2386
@jmchen-g
Do you mean the file with name "checkpoint"? I've just deleted all files including that under the code's folder of both machines. But the same error still shows.

[2016-05-18 09:10] andyljones commented on #559
I ran into this while building syntaxnet. The root issue was while I had NumPy installed in the virtualenv, I didn't have it installed in my 'base' system, and that's where SWIG was looking for the package.

I did a quick search for ways to get SWIG to respect virtualenvs, but came up with nothing. I'd be interested to know if anyone learns how to fix this! In the meantime, I've just installed Num

[2016-05-18 09:24] sesse commented on #1300
6350f17524f0f6f3761e84589846191a90fef061 does the required fixups to StreamExecutor.

[2016-05-18 09:48] chris-scott opened #2415 "Feature Request: atrous convolution with stride > 1"
I'd like access to strides in atrous_conv2d for learning multi-scale raw audio filters. Using a stride of 1 is computationally infeasible, and as the goal is classification resolution does not need to be preserved.

[2016-05-18 10:10] andrewharp commented on #2411
Android 4.3 is API level 18. The demo requires 21 due to the camera2 api. I'm not sure why Gradle allowed you to compile it for API 18 when the AndroidManifest.xml specifies 21 (did you change that?), but your errors are almost definitely related to the appcompat dependencies shown at the bottom of the gradle settings you provided.

Appcompat libraries should not be required for tensorflow, as we

[2016-05-18 10:51] vodp commented on #559
Going back to Ubuntu 14.04 solves my problem. Maybe TF had instability issues with gcc 5.x.

[2016-05-18 12:18] trungnt13 commented on #110
I managed to run pip installed tensorflow package on RHEL 6.7 (without building bazel and tensorflow source), the core idea is get separated newer version of GLIBC version:

* mkdir $USERAPPL/tensorflow
* cd $!
* wget http://launchpadlibrarian.net/137699828/libc6_2.17-0ubuntu5_amd64.deb
* wget http://launchpadlibrarian.net/137699829/libc6-dev_2.17-0ubuntu5_amd64.deb
* ar p libc6_2.17-0ubuntu5_amd6

[2016-05-18 12:34] ZhuFengdaaa commented on #2397
I tested locally both with 1 GPU and 4 GPUs. 1 GPU version has the speed of 0.8 sec/batch, and 4 GPUs version has the speed of 1.3 sec/batch, same as distributed version.(with 2 machine, each has 4 GPU)

[2016-05-18 13:16] erickrf opened #2416 "Memory error running tensorflow code on GPU"
### Environment info

Operating System: Scientific Linux release 7.2 (Nitrogen)

Installed version of CUDA and cuDNN:
$ ll /usr/local/cuda/lib/libcud*

[code]

Installed version 0.8.0 with anaconda.

I'm getting a MemoryError when I try to run a tensorflow script on a server with GPU support. The same code, with the same inputs, runs without problems on my local machine, which is CPU only and has

[2016-05-18 14:01] lifuhuang commented on #2410
Got it, thanks.

Best Regards,
Lifu Huang

2016-05-18 14:37 GMT+08:00 Derek Murray <notifications@github.com>:

[2016-05-18 14:28] smartcat2010 commented on #2233
@mrry
In order to make you easier to simplify the bug, I just take  [ptb_word_lm.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/rnn/ptb/ptb_word_lm.py) as example. I added Async-Distributed tensorflow code to it.
I run it by using 1 ps-server and 2 workers, all of them on the same node:

[code]

When I set "vocab_size" to bigger than 83887, (83887*200*4>67108864), it sh

[2016-05-18 14:34] mrry commented on #2416
This doesn't look like the error is related to the GPU: the `MemoryError` is raised while you are **building** your graph, and before anything will be transferred to the GPU.

It's difficult to tell what's going wrong here without seeing your `train.py` code. One possibility is that your server has a 32-bit version of Python installed for some reason. Can you try running the following snippet and

[2016-05-18 14:38] mrry commented on #2415
@gpapan: Assigning you based on your contribution of the original op.

[2016-05-18 14:39] mrry commented on #2414
I'm closing this because it's a question that would be more appropriately handled on Stack Overflow:

[2016-05-18 14:39] #2414 closed

[2016-05-18 15:23] mrry commented on #2413
Does this problem only occur when you build that target with `--config=cuda`?

@damienmg: You've helped out with a few of these errors before, so perhaps you'll have a quick answer. Is there an obvious cause for `/usr/include` not being in the builtin include paths? As far as I can tell it's explicitly defined in `CROSSTOOL` [here](https://github.com/tensorflow/tensorflow/blob/449d122b46d6e7fa2deb

[2016-05-18 16:33] kiddjacky commented on #2398
I got the same error, and even with virtualenv, I have the same error too. Any idea how to work around? Thanks,

[2016-05-18 16:42] mrry commented on #2398
One [suggestion from the FAQ](https://www.tensorflow.org/versions/r0.8/get_started/os_setup.html#mac-os-x-oserror-errno-1-operation-not-permitted) is to use the `--ignore-installed` flag when running `pip install`. Depending on the error message, you may need to pass `--ignore-installed six` or `--ignore-installed numpy` to ignore the appropriate package.

[2016-05-18 17:21] erickrf commented on #2416
It's 64.

[code]

My `train.py` code is somewhat big. I will try to isolate the problem and post back.

[2016-05-18 17:36] siddharth-agrawal commented on #547
Stumbled upon some more errors in the documentation for AvgPool3D and MaxPool3D. Documentation says that these ops can be used with many tensor types, as can be seen [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/functions_and_classes/tf.nn.avg_pool3d.md) and [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/f

[2016-05-18 17:42] girving commented on #547
@siddharth-agrawal: That would be awesome!  You'll likely need atomic add for doubles, but it's available now in `util/cuda_kernel_helper.h` as `CudaAtomicAdd`.

[2016-05-18 17:46] siddharth-agrawal commented on #547
Oops. I think I didn't express myself right. I meant PR for the documentation errors. However, I found this while digging for the solution to this issue. So hopefully the PR you meant will come soon too. :)

[2016-05-18 17:57] girving commented on #547
@siddharth-agrawal: If the documentation change requires changing the list of dtypes passed to `REGISTER_OP`, you'll break the backwards compatibility tests when doing so (those tests don't notice the lack of kernels).  If the double kernels are coming soon, it may be better to wait.  However, it's also possible (likely?) that I'm misunderstanding the changes, so please tell me if the previous mak

[2016-05-18 18:14] siddharth-agrawal commented on #547
@girving I was thinking of modifying the first two files I mentioned in my first comment on the thread and `api_docs/python/nn.md`. Do you mean the list passed in `core/ops/ops.pbtxt`? Is that used for registering the op? Also, could you tell me where the backward compatibility tests are? (sorry, newbie here)

[2016-05-18 18:18] rdipietro commented on #110
Yeah that was described [here](http://stackoverflow.com/questions/33655731/error-while-importing-tensorflow-in-python2-7-in-ubuntu-12-04-glibc-2-17-not-f) a while back, but as you mention, it's not ideal. For example if you run Jupyter it'll lead to a memory leak / crash (at least on the system I tried it with).

[2016-05-18 18:21] girving commented on #547
`api_docs/python/nn.md` is autogenerated from code: you can't modify it directly.  Specifically, it's autogenerated from `core/ops/nn_ops.cc`, `python/ops/nn.py`, and `python/ops/nn_ops.py`.

[2016-05-18 18:26] songgc commented on #583
With [ab02c5](https://github.com/tensorflow/tensorflow/commit/ab02c5ab2f1f10bc9e51f02f5125abed449cae87), I do see a significant speedup on CPUs.

[2016-05-18 18:30] siddharth-agrawal commented on #547
Alright. I was looking at [this commit](https://github.com/tensorflow/tensorflow/commit/aa7c2472a70a26f4e57508b788eb9791abdbaee1), guess things have changed.

[2016-05-18 18:38] girving commented on #547
@siddharth-agrawal: They're autogenerated but also checked in.  That commit also changed the code from which it was autogenerated (scroll down).

[2016-05-18 18:49] guopei commented on #2413
@mrry Yes, it occurs without --config=cuda

[2016-05-18 18:51] servomac opened #2420 "TypeError: an integer is required executing skflow text classification examples"
Using a nightly build I'm unable to execute the text classification examples in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/skflow (I have tried text_classification.py, text_classification_cnn.py and text_classification_builtin_rnn_model.py).

`$ sudo pip3 install --upgrade http://ci.tensorflow.org/view/Nightly/job/nightly-matrix-cpu/TF_BUILD_CONTAINER_TYPE=CPU,TF_BUIL

[2016-05-18 18:57] benoitsteiner commented on #583
@songgc https://github.com/tensorflow/tensorflow/commit/ab02c5ab2f1f10bc9e51f02f5125abed449cae87 combined with a few other changes to make sure all the TensorFlow operations are multithreaded resulted in a 1.5x to 3x improvement on most benchmarks. Is that what you're seeing?

[2016-05-18 19:47] #2385 closed

[2016-05-18 20:48] songgc commented on #583
@benoitsteiner Yes. I trained relatively small networks on intel CPUs and did inference on an ARM CPU. On both systems (learning and inference), I did see 1.5x to 1.8x gains. Thanks a lot!

[2016-05-18 22:29] jmchen-g commented on #2386
Looks like you only specified 1 worker? In your case, they should be 2 instead.

                **num_workers** = FLAGS.gpu_cards # Use only 1 worker for test.
                opt = tf.train.SyncReplicasOptimizer(opt, replicas_to_aggregate = num_workers,
                    replica_id = FLAGS.task_index, total_num_replicas = num_workers)

[2016-05-18 22:33] gongenhao commented on #739
@ExonRen Any way to share your code or work together?

[2016-05-18 22:44] bogdanteleaga commented on #2348
There's [bug 49272](https://bugs.archlinux.org/task/49272) that tracks this.

You can use [this PKGBUILD](https://gist.github.com/slokhorst/029aa3c86bdb897cb47acc3f137aa11c) to build gcc49. Then follow the instructions [here](https://wiki.archlinux.org/index.php/GPGPU) under `Using CUDA with an older GCC`.

[2016-05-18 22:58] sherjilozair commented on #593
Tensorflow is still not able to handle backprop over nested scans.

@yuanbyu @ebrevdo, any updates on this?

[2016-05-18 23:31] mrry commented on #2145
The results from `simpleP2P` seem like the problem is a CUDA configuration issue and not a TensorFlow-specific issue. I'm closing this for now.

[2016-05-18 23:31] #2145 closed

[2016-05-18 23:34] mrry commented on #2260
Closing this issue due to inactivity. If you revisit it, @liumilan, I think this might be a better question for Stack Overflow....

[2016-05-18 23:34] #2260 closed

[2016-05-18 23:46] perrohunter opened #2421 "SKLearn examples not working in the latest release"
I've been trying to run some examples from the provided SKFlow examples located at

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/skflow

And most fail with dependency failures such as:

AttributeError: 'module' object has no attribute 'datasets'

For:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/skflow/text_classification_builtin_rnn_model.p

[2016-05-18 23:52] ebrevdo commented on #593
This is a known limitation :(

This will require some revamping of the TensorArray and a bit of additional
work, to make it happen.  No ETA right now.

On Wed, May 18, 2016 at 3:59 PM, Sherjil Ozair <notifications@github.com>
wrote:

[2016-05-19 00:06] ExonRen commented on #739
@rollingstone @gongenhao I'm still busy working on my graduation paper, and I think I'll upload my code after finishing this. Maybe at the end of May or the beginning of June.

[2016-05-19 00:11] mrry commented on #2421
The skflow examples in the master branch have changed to use a new API that isn't present in the 0.8 release. There are two options:

1. Download the examples from the `r0.8` branch: https://github.com/tensorflow/tensorflow/tree/r0.8/tensorflow/examples/skflow
2. Install a [nightly version of TensorFlow](https://github.com/tensorflow/tensorflow#installation) and use the examples from the master br

[2016-05-19 00:11] #2421 closed

[2016-05-19 02:09] swlsw commented on #2233
Did you solve this problem? I have similar problem with my async-distributed word2vec.(79840 vocab, 300 dim)

[code]

[2016-05-19 02:53] datomnurdin commented on #2411
I already use Android 5 but I got another error message

[code]

[2016-05-19 03:03] jmchen-g commented on #2397
This 4 GPUs is not the distributed setting, right? If so, that means the slow down is not related to the distributed setting then.

I thought Xeon should be good enough to process images for 4 GPUs. Can you try to increase the threads for the preprocessing? What is the current number of threads?

[2016-05-19 03:23] Sabrewarrior commented on #17
Well bazel seems to work most of the time on windows now, aside from a few name errors (illegal characters or very long commands). There definitely are issues to getting a working windows tensorflow other than just having a working bazel. All the errors I have got so far are of the type:
`ERROR: C:/tensorflow-orig/tensorflow/contrib/metrics/BUILD:16:1: in linkshared attribute of cc_binary rule //t

[2016-05-19 03:27] tansey commented on #1241
I don't think this is sufficient to close this issue. The stackoverflow post is talking about the general case where you want something like `sparse_matmul(sp_a, sp_b)`.

I currently have that problem: I want to calculate a graph Laplacian given a sparse oriented edge matrix, D. Every row is an edge between two nodes, with -1 for node_i and 1 for node_j; the graph Laplacian is then (D'.D). My grap

[2016-05-19 03:41] smartcat2010 commented on #2386
@jmchen-g
Thank you very much! It's my stupid mistake of specifying 1 worker in previous code. Now it works on multi-nodes/multi-cards after fixing my bug. Really sorry for bring so much trouble to you.
My fixed code which works:
[mnist_softmax.py.txt](https://github.com/tensorflow/tensorflow/files/271770/mnist_softmax.py.txt)

Maybe it's a good idea to put the usage of Sync-mode into [tutorial](h

[2016-05-19 03:42] gpapan commented on #2415
@chris-scott, it is a bit tricky to write an efficient implementation for general strides and rate based on the current approach. Note however that if rate is a multiple of stride, i.e., `rate = k * stride` for some positive k, then:

    atrous_conv(input, rate=rate, stride=stride)

is identical to

    atrous_conv(subsample(input, stride), rate=k, stride=1)

Can you adopt something like that in

[2016-05-19 04:15] RafaelCosman opened #2422 "Why not allow feeding and fetching the same tensor?"
Currently this generates `InvalidArgumentError: Placeholder_2:0 is both fed and fetched.`

It doesn't seem like a particularly useful thing but why not trivially allow this behavior? We might as well allow users to fetch any tensor in the graph.

[2016-05-19 04:16] vladfi1 opened #2423 "More random ops"
Tensorflow currently doesn't support too many random operations. It would be nice to have things like bernoulli, batched normal (the existing normal only takes scalars), beta, gamma, and so on.

[2016-05-19 04:20] vladfi1 commented on #2412
Yes, that is what I need. It would be nice if this was documented somewhere too!

[2016-05-19 04:21] manau commented on #42
Hi guys,

    To open linux shell , after docker run -it you can open another command, so execute commands below:

docker ps
    -> This command list docker machine in execution , you need 3 first character from conteiner ID
![image](https://cloud.githubusercontent.com/assets/7232976/15382327/b4b73c7a-1d5f-11e6-9180-ca31425de705.png)

So you can execute docker exec and pass initial 3 chars from co

[2016-05-19 04:57] ZhuFengdaaa commented on #2397
Yes, 4 GPU is not the distributed setting. OK, I know the point. I will adjust the Multi-GPU version until it is close to the one-GPU version.  *And, according to your experience, Mult-GPU version is just slightly slower than one-GPU version, right ?*

[2016-05-19 05:23] datomnurdin opened #2424 "couldn't find "libtensorflow_demo.so""
I got this error message after ran on Android 5

[code]

P.S: BTW i'm using android studio for this project (converted into gradle project based).

Please advice. Thank you.

[2016-05-19 05:23] nguyendn commented on #2396
I install version `tensorflow-0.8.0` but I have the same problem

[2016-05-19 06:31] jmchen-g commented on #2386
No problem. Glad it worked~:)

Ya, we might add an example at some point. Thanks for the suggestion.

On Wed, May 18, 2016 at 8:43 PM, smartcat2010 <notifications@github.com>
wrote:

[2016-05-19 06:34] jmchen-g commented on #2397
It should be just slightly slower than 1 GPU version if the CPU is powerful
enough and the connection to the 4 GPUs are also fast enough. People have
reported that with one core i7 with 4 Titan X, the system cannot feed GPUs
fast enough. Since you have a Xeon, maybe you can try increasing the
threads and see if it helps.

On Wed, May 18, 2016 at 9:59 PM, ZhuFengdaaa <notifications@github.com>
wrot

[2016-05-19 07:18] jwhpryor opened #2425 "Initializing saver after variables are initialized and queue runners are started causes inconsistent behaviour."
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-05-19 09:07] ibab commented on #2255
Hi, I'm a bit surprised about this issue, as it seems that calculating gradients for expressions involving `complex64` seems to work, even if `tf.fft` is involved.
Maybe it's a specific op that hasn't been extended to `complex64` yet that's causing the problem?

[code]
[code]

[2016-05-19 09:46] Irtza commented on #739
@ExonRen Sounds great.

[2016-05-19 09:48] Hanuman26 commented on #1353
### OS : Ubuntu 14.04
tensor flow GPU installation
tensorflow.__version__  = 0.7.1
python anaconda2

Traceback (most recent call last):
  File "exp_mnist.py", line 56, in <module>
    w_conv1 = weight_variable([5,5,1,32])
  File "exp_mnist.py", line 40, in weight_variable
    initial = tf.truncate_normal(shape, stddev=0.1)
AttributeError: 'module' object has no attribute 'truncate_normal'

output

[2016-05-19 10:07] DKaravolos commented on #2320
You are right, it does not really matter for the tutorial. I was just surprised to see it when I reused the code. I thought it might be worth a comment in the code or the course. But I'm new to this, so do with it as you see fit. (thanks for the videos by the way, they were really useful)

[2016-05-19 10:07] tillahoffmann opened #2426 "Supporting negative reduction indices."
The reduce operations do not support negative indices as opposed to their numpy equivalents. In particular, the following code fails with the error message `ValueError: Invalid reduction dimension -1 for input with 2 dimensions`.

[code]

The code that checks the reduction indices and throws the exception appears to know about the dimensionality of the vector (taken from [_ReductionShape](https://

[2016-05-19 10:22] sesse commented on #1300
4d55cb5c55fcc85009171b6a4657cbd966fd85e5 adds fp16 support to the MatMul op (gated on CUDA 7.5 or higher). This is a major milestone for fp16 support; it means that many real graphs can probably be  trained and run in fp16.

Convolutions are missing still.

[2016-05-19 10:23] mouradmourafiq commented on #2407
@vinhqdang you need to encode your `y_train` values to `[0, 1, 2, 3]` classes.

[code]

[2016-05-19 10:37] DKP-90 opened #2427 "Error on retraining flowers"
Creating bottleneck at /tmp/bottleneck/roses/8949720453_66e8304c30.jpg.txt
Traceback (most recent call last):
  File "/home/ubuntu/tensorflow/bazel-bin/tensorflow/examples/image_retraining/retrain.runfiles/tensorflow/examples/image_retraining/retrain.py", line 827, in <module>
    tf.app.run()
  File "/home/ubuntu/tensorflow/bazel-bin/tensorflow/examples/image_retraining/retrain.runfiles/tensorflo

[2016-05-19 10:43] chris-scott commented on #2415
@gpapan
Thank you - I didn't appreciate adding strides was non-trivial. I can take a downsampling approach as you suggest.

[2016-05-19 10:43] #2415 closed

[2016-05-19 10:52] DKP-90 commented on #2413
If on amazon use this ami number ami-a19b67c1

[2016-05-19 10:53] BogusLogin commented on #583
Hi, my problem is similar to @alantus  post in the beginning:
I installed Keras with TF as backend on a machine with multiple cpus (each cpu can run only 1 thread). At runtime Keras/TF only uses 1 cpu at all.

How can I check how many devices TF was able to recognize?

[2016-05-19 10:56] damienmg commented on #2413
Can you try updating to 0.2.3?

Can you upload the file under bazel-out/external/local_config_cc/CROSSTOOL?
What if you try with `--crosstool_top=@bazel_tools//tools/cpp:raw-toolchain`?

[2016-05-19 10:56] vinhqdang commented on #2407
Hello,

Afterwards, how could i convert the predicting outputs back to the normal one.

For example, after training a model, and use the model to predict a case, the output is 1.

Of course, 1 is not correct, I need to convert it back to [5,10,20,50] before.

[2016-05-19 11:09] Mistobaan opened #2428 "GloVe implementation for Tensorflow"
I think [GloVe](http://nlp.stanford.edu/projects/glove/) can be an useful embedding model for NLP.
The patch would be very similar to the current /models/embedding/word2vec

[2016-05-19 11:37] 333caowei opened #2429 "TypeError: List of Tensors when single Tensor expected when using tf.pack()"
I  get a confusion problem. I can run  code well on my computer. But when I copy the code to the cluster and run it. I get the error: ```TypeError: List of Tensors when single Tensor expected.``` on this line ```outputs     =   tf.pack(outputs)```.  The input of pack function should be list. That is so wired. Why? The version of TF on cluster is 0.8.

[2016-05-19 12:13] ibab commented on #2391
This is great!

But I thought adding a CPU fft op would be difficult, as the Eigen version needs a backend (either fftw or mkl): http://eigen.tuxfamily.org/dox/unsupported/group__FFT__Module.html

[2016-05-19 13:00] terrytangyuan commented on #2407
@vinhqdang you'll just save your map somewhere

[2016-05-19 13:09] vinhqdang commented on #2407
Hi @terrytangyuan yeah, as discussed in gitter, it is a valid workaround and actually I am using it, but it seems not (very) official way.

[2016-05-19 13:27] imcomking commented on #2363
Hello.
Actually this is an equivalent problem with next issue.

https://github.com/tensorflow/tensorflow/issues/2167

These problems are caused by unsaved graph collections.

[2016-05-19 13:28] mouradmourafiq commented on #2407
@vinhqdang `pd.factorize` return a tuple; the encoded values and the index/labels.

if you need to know what 1 means you just need to save your labels as @terrytangyuan suggested

[code]

[2016-05-19 13:35] VDalibard commented on #2233
I think the solution is in #582, the protobuf python package solution as the bottom of the thread doesn't seem to work for everyone as mentioned in #2046.

[2016-05-19 14:07] mrry commented on #2427
Which version of TensorFlow are you running? You will need to upgrade to version 0.8 for that example code to work.

[2016-05-19 14:09] mrry commented on #2428
We're moving models over to their own repository. Feel free to contribute this to the https://github.com/tensorflow/models repository (or open an issue over there).

[2016-05-19 14:09] #2428 closed

[2016-05-19 14:10] mrry commented on #2429
What is the version of TF on your computer? (The nightly build contains additional support for automatically packing nested lists of tensors, which will not work with older versions.)

[2016-05-19 14:11] hmartiniano commented on #2034
I had the same problem in Ubuntu 14.04, with TF 0.8.
Installing inside a virtualenv worked for me and it wasn't necessary to mess with numpy or scipy versions.

[2016-05-19 14:16] ysfseu commented on #1045
I have the same issue

[2016-05-19 14:23] dvyukov commented on #583
@tridemax @jeremybarnes Can you please test your benchmarks after commit ab02c5?
Scaling on CPU should be significantly improved.

[2016-05-19 14:26] mrry commented on #2396
@nguyendn: See the answer to #2421. You need to install a **nightly** build to run the examples on the `master` branch, or run the examples from the branch that corresponds to the release (https://github.com/tensorflow/tensorflow/tree/r0.8/tensorflow/examples/skflow).

[2016-05-19 14:45] 333caowei commented on #2429
@mrry  Hi mrry, the version of TF on my computer is 0.7, it works fine on tf.pack(outputs). But the version 0.8 on cluster can not. Can you tell me what  I can do to solve the problem on cluster please?

[2016-05-19 14:46] erickrf commented on #2416
Ok, I tried some snippets via the interpreter and got a segfault as soon as I started a session:

[code]

I also tried `tf.InteractiveSession` with the same result.

I suppose that something could be wrong with CUDA libraries version... but I have no idea where to begin.

[2016-05-19 15:00] mrry commented on #2426
Thanks for the suggestion - this looks like it would be better to implement in the C++ code (with a corresponding relaxation to shape function. @keveman is cooking up a patch as we speak.

[2016-05-19 15:00] mrry commented on #2429
Can you share what the value of `outputs` is?

[2016-05-19 15:09] hack-r opened #2430 "Documentation describes Python 3 Anaconda installation but no support for current Anaconda Python 3 (i.e. Python 3.5)"
Anaconda uses Python 3.5 as its version of Python 3.

If you follow the [instructions ](https://storage.googleapis.com/tensorflow/linux/cpu/)to install Tensorflow via Anaconda you'll fail with the error

presumably because the wheel is made for Python 3.4 instead of 3.5

[2016-05-19 15:11] guopei commented on #2413
Thanks for the help! But it still doesn't work.

**Use 0.2.3 doesn't solve the problem. This time error message becomes:**

ERROR: /scratch/peiguo/tensor-flow/tensorflow/tensorflow/core/kernels/BUILD:1267:1: undeclared inclusion(s) in rule '//tensorflow/core/kernels:batchtospace_op_gpu':
this rule is missing dependency declarations for the following files included by 'tensorflow/core/kernels/batch

[2016-05-19 15:17] orome opened #2431 "Better support for breaking up too-large operations"
Unless I'm missing something, the ability to automatically break up calculations that don't fit on a device does not seem to be part of the TensorFlow API. This surprises me since one of the very first things users (at least naive ones like me) encounter in readily accessible GPU machines (e.g. AWS EC2 instances) are memory crashes on GPUs.

To avoid these errors users have to either give up on GP

[2016-05-19 15:21] tillahoffmann commented on #2426
Great news, thanks for implementing this @keveman. On a related note, do you know whether other functions such as `scatter_update` are going to get axis support to simplify things like [this](http://stackoverflow.com/questions/37307519/packing-array-into-lower-triangular-of-a-tensor)?

[2016-05-19 15:28] crunchiness commented on #2188
+1

[2016-05-19 15:36] caisq commented on #2188
We are in the process of getting python3.5 build to work for linux. Stay tuned. Renaming is the temporary solution.

[2016-05-19 15:49] ebrevdo commented on #1241
Feel free to open a new issue asking specifically for (SparseTensor, SparseTensor) matmul.

[2016-05-19 16:03] damienmg commented on #2413
no without --config=cuda

--config=cuda is the issue on the error message you are showing

[2016-05-19 16:41] 333caowei commented on #2429
@mrry
Here is the code:
[code]

[2016-05-19 16:54] mrry commented on #2429
It looks like you are using `rnn.bidirectional_rnn()`. The return type of that function changed from [a single tensor in 0.7](https://github.com/tensorflow/tensorflow/blob/657f1d987aca211e775acbccf719e67864a0be70/tensorflow/python/ops/rnn.py#L323) to [a tuple of three tensors in 0.8](https://github.com/tensorflow/tensorflow/blob/4b7bc3174ed67b4a0eb1803537c9d00f132e9ae7/tensorflow/python/ops/rnn.py

[2016-05-19 16:54] #2429 closed

[2016-05-19 17:25] rdipietro opened #2432 "Feature Request: Staircase function"
Right now for learning rates we have `exponential_decay`, which is useful but doesn't handle fine-tuned scheduling. For example, regardless of whether we did this manually or with `exponential_decay`, there'd be boilerplate code to use a learning rate of 1.0 for 100000 steps, 0.5 for the next 10000 steps, and 0.1 for all remaining steps.

This could be handled with a staircase function, maybe with

[2016-05-19 17:41] thuzhf opened #2433 "Feature needed: configuration file"
Is there any configuration file which can be used to configure the default behavior such as which gpu device to use and so on? Just like the .theanorc file in package Theano? If there isn't, I hope some one can add this feature in the future code.

[2016-05-19 17:42] guopei commented on #2413
**Now without --config=cuda:**

`bazel build -c opt //tensorflow/cc:tutorials_example_trainer --crosstool_top=@bazel_tools//tools/cpp:raw-toolchain`
ERROR: Loading of target '@bazel_tools//tools/cpp:raw-toolchain' failed; build aborted: no such target '@bazel_tools//tools/cpp:raw-toolchain': target 'raw-toolchain' not declared in package 'tools/cpp' defined by /home/peiguo/.cache/bazel/_bazel_peig

[2016-05-19 17:50] damienmg commented on #2413
Sorry my bad, my memory served me wrong. So here the correct command:
`bazel build -c opt //tensorflow/cc:tutorials_example_trainer --crosstool_top=@bazel_tools//tools/cpp:default-toolchain`

Can you also try:
`bazel build -c opt //tensorflow/cc:tutorials_example_trainer` (without anything else)?

[2016-05-19 17:50] guopei commented on #2413
@DKP-90 No I am not on Amazon.

[2016-05-19 17:54] rdipietro commented on #2432
Update: here is the code without the necessary error checks, conversions, tests that'd be necessary for a pull request. Can do this if we think it might be accepted.

[code]

[2016-05-19 17:59] mrry commented on #2431
Why does your `np.split(...)` approach not scale? This is an easy way to proceed if your dataset fits in host memory. For larger datasets, you can use the standard reader pipeline to read batches of input at a time: e.g. see the `batch_inputs()` function in the [Inception model](https://github.com/tensorflow/models/blob/dc7791d01c9a6b1fcc40e9e2c1ca107cbd982027/inception/inception/image_processing.

[2016-05-19 18:00] guopei commented on #2413
Thanks @damienmg , `bazel build -c opt //tensorflow/cc:tutorials_example_trainer --crosstool_top=@bazel_tools//tools/cpp:default-toolchain` works out well!

But one more question, is there any solution for building with cuda support?

[2016-05-19 18:01] LeavesBreathe commented on #2255
I have been using a gpu as well but I do run other operations like `tf.embedding_lookup` which do require cpu operations. I was very careful to check that all calculations I do accept `complex64` and this error only happens upon compilation.

I use float32 for the majority of operations, but i use complex64 within the RNN and then convert the output back to float32. This would be a critical issue

[2016-05-19 18:57] damienmg commented on #2413
And what about the second option: `bazel build -c opt //tensorflow/cc:tutorials_example_trainer`?

For CUDA, we should make the previous command work first.

[2016-05-19 19:00] guopei commented on #2413
This is what I got from `bazel build -c opt //tensorflow/cc:tutorials_example_trainer`

WARNING: /home/peiguo/.cache/bazel/_bazel_peiguo/f093626f144ca8499d84c1ae3f196d29/external/re2/WORKSPACE:1: Workspace name in /home/peiguo/.cache/bazel/_bazel_peiguo/f093626f144ca8499d84c1ae3f196d29/external/re2/WORKSPACE (@__main__) does not match the name given in the repository's definition (@re2); this will

[2016-05-19 19:04] damienmg commented on #2413
what does `echo | ${CC} -E -xc++ - -v` gives you?

[2016-05-19 19:15] #2426 closed

[2016-05-19 19:16] guopei commented on #2413
echo | ${CC} -E -xc++ - -v
-E: command not found

[2016-05-19 19:24] liuyipei commented on #2121
More updates: using cuda 7.5, the same behavior occurs even when num_gpu is set to 1.
Subsequently, I reproduced a similar behavior using cuda 7.0 with num_gpu set to 2, though this time it took about 9hours before freezing.

[2016-05-19 19:24] damienmg commented on #2413
oops `echo | gcc -E -xc++ - -v` (sorry for the number of command)

[2016-05-19 19:25] guopei commented on #2413
Using built-in specs.
COLLECT_GCC=gcc
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 4.8.4-2ubuntu1~14.04' --with-bugurl=file:///usr/share/doc/gcc-4.8/README.Bugs --enable-languages=c,c++,java,go,d,fortran,objc,obj-c++ --prefix=/usr --program-suffix=-4.8 --enable-shared --enable-linker-build-id --libexecdir=/usr/lib --without-included-gettext --enable-threa

[2016-05-19 19:31] damienmg commented on #2413
`/usr/lib/gcc/x86_64-linux-gnu` is not in the list of include directories returned by gcc which explains why bazel cannot find it. Weird that it found stuff there.

Anyhow, the fix for cuda should be to add the following line:
[code]
at that line: https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/crosstool/CROSSTOOL#L62

[2016-05-19 19:36] siddharth-agrawal commented on #547
@girving I ran into a problem while trying to solve this, let me know if the following makes sense.

To register `MaxPoolingGradOp` on the GPU for float64 we need to have `template class DnnPoolingGradOp<double>` in `kernels/pooling_ops_common.cc` as `MaxPoolingGradOp`'s `Compute()` uses it. But adding this gives a build error with the following message:
`error: no matching function for call to 'p

[2016-05-19 19:42] orome commented on #2431
@mrry — At least in this context, it's not an issue of the many ways to do batching, but a simple matter of  sequencing: doing something in parts rather than all at once (as in the hand-coded version). What doesn't scale is that I need to ferret out every place where this happens, and write code like I did above.

But I see the problem: its not easily generalized, as you say. The data might need s

[2016-05-19 19:44] mrry commented on #2433
This sounds like an potentially useful feature, but it won't be trivial to develop a good version of this. Assigning to @martinwicke for prioritization.

[2016-05-19 19:45] mrry commented on #2432
This seems like it could be a useful contribution!

[2016-05-19 19:47] guopei commented on #2413
This time it works like magic!

Thanks a lot, this problem confuses me for at least two days...

Now I have built Tensorflow from source and I can do [fine-tuning on Inception-V3 model](https://github.com/tensorflow/models/blob/master/inception/README.md#how-to-fine-tune-a-pre-trained-model-on-a-new-task)!

[2016-05-19 19:49] girving commented on #547
It's surmountable, but I don't think we can accept pull requests that change the necessary code at the moment due to silly code organizational reasons.  @zheng-xq: I am I right that stream executor changes are difficult to accept from outside?

[2016-05-19 19:54] orome commented on #2431
@mrry — If I've got that right, it would be extremely helpful to see how I might rewrite the full code example in [my SO question](http://stackoverflow.com/q/37327312/656912) to take advantage of some of the related TF API (e.g., `train.batch` and `batch_join`, perhaps).

[2016-05-19 19:54] mrry commented on #2425
The solution is to start the queue runners after you have finished building the graph (which includes the saver). Does that work for you?

[2016-05-19 19:58] mrry commented on #2413
Thanks for persevering @guopei and massive thanks to @damienmg for helping! Damien, is there something we could/should do in the TF/Bazel configuration to make this less likely to happen, or is this just a case of adding documentation?

[2016-05-19 19:58] siddharth-agrawal commented on #547
Ah, okay. I will find something else to work on. Thanks for all the help.

[2016-05-19 20:01] martinwicke commented on #2433
This does look like a useful feature. There are a number of such configuration options exposed as Environment variables, with appropriate refactoring it would be straightforward to expose them as "check environment, if not set, read from config file, if not found, apply default" in a uniform manner.

[2016-05-19 20:02] martinwicke commented on #2433
That said, this is not going to be worked on right now, if someone wants to pick it up, I'd be delighted to get a PR.

[2016-05-19 20:02] damienmg commented on #2413
TF CUDA crosstool file should be configured depending on the used C++ compiler, just like we do for the default crosstool in Bazel.

I am a bit more puzzled on how @guopei compiler includes file from /usr/lib/gcc/x86_64-linux-gnu/4.8/include while it is not reported by gcc as a system include directory. But that might just be an issue of setting correctly the CC environment variable.

[2016-05-19 20:10] mrry commented on #2413
Thanks again. @keveman, sorry for picking on you, but would you be able to make these changes (feel free to reassign if someone else would be better)? It looks like there are some longstanding TODOs in our crosstool from the original OSS release, and we might be able to revisit them now.

[2016-05-19 20:31] andrewharp commented on #2424
Can you check and see if libtensorflow_demo.so is in the apk, and built for the correct target architecture? Just unzip -v to see the contents. It sounds like the native libraries (the .cc code) are either not getting built, or not getting packaged into the apk properly.

Gradle support is outside the scope of Tensorflow github issues, but I would suggest looking for differences between [this](htt

[2016-05-19 20:34] andrewharp commented on #2411
I take it you were able to get past the original error? If so, was the fix removing the dependencies or something else?

[2016-05-19 20:34] mrry commented on #2422
The answer here is that it would require extra code to be written and tested, and&mdash;as you point out&mdash;it's not particularly useful :).

[2016-05-19 20:34] #2422 closed

[2016-05-19 20:35] jwhpryor commented on #2425
Like I said, I understand this is user error.  I just don't see why this shouldn't be disallowed.  As a beginner it's really confusing to see unrelated crashes and there isn't an easy way to debug native code.

It's an easy mistake to make and the only feedback is random crashing.

[2016-05-19 20:40] mrry commented on #2428
As a brief update, I just noticed that someone has published an implementation of this model on GitHub: https://github.com/GradySimon/tensorflow-glove

[2016-05-19 21:15] Mistobaan commented on #2428
Yes, but is far from being mergeable.
I was thinking to also add a faster implementation with specialized tf ops.

There is also the reference code implemented in C that potentially could be
wrapped in one single op in user space.

What would be the preferred way to be part of the model library?

On Thursday, May 19, 2016, Derek Murray <notifications@github.com> wrote:

--
LinkedIn: http://linkedi

[2016-05-19 23:09] sherrym commented on #1852
@nemo , could you please cut and paste your code showing how you set the save_path? I have unit tests demonstrating that relative paths work correctly.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/saver_test.py#L659

[2016-05-19 23:10] Spacefish commented on #2188
+1

[2016-05-19 23:36] nemo commented on #1852
Here it is:
[code]

Since it was renamed from `skflow` to `learn` - I haven't tested the different path types other than the one you see there, which still causes the checkpoint file to have a full path.

[2016-05-19 23:47] zhengwy888 commented on #1592
I have implemented a primitive op on cpu for the XOR + bitcount. but it's too slow right now. Does any one know how to speed this up? if this ever gets to the same speed as tf.matmul than I should provide a patch.

[code]

[2016-05-19 23:58] sherrym commented on #1852
@ilblackdragon, Saver.save() takes a save_path as an argument. You just need to change TensorFlowEstimator's save() in estimators/base.py to pass in save_path.

[2016-05-20 00:06] mrry commented on #2425
We've gone back and forth on disallowing it&mdash;for example, we could call `tf.Graph.finalize()` in the `tf.train.start_queue_runners()` method, but that would break a lot of code that *mostly* works. However, it seems reasonable to log an ominous warning, to discourage this kind of code. At least it should help debugging. I'll prepare a change.

[2016-05-20 00:25] #2386 closed

[2016-05-20 02:10] zzqiang04053080 opened #2437 "Loaded cudnn library: 4007 but source was compiled against 4004"
when I install the tensorflow from souces in my ubuntu14.04 system, a cudnn version does not match  problem happened.
Omit some fine steps, the following is my installation steps:

### 1.Configure the cuda installation,  CUDA 7.5 and cudnn v4.0.7  have been chosen:

root@node4:/home/zhouzhiqiang/tensor_5_9/tensorflow# ./configure
Please specify the location of python. [Default is /usr/bin/python]:

[2016-05-20 03:03] zzqiang04053080 commented on #2437
No one has ever met??

[2016-05-20 04:36] zheng-xq commented on #2437
If you grep for "CUDNN_PATCHLEVEL" in your "/usr/local/cuda/include/cudnn.h", what does it say?

[2016-05-20 05:27] 333caowei commented on #2429
@mrry Thank you so much!!!

[2016-05-20 05:57] zzqiang04053080 commented on #2437
@zheng-xq

### CUDNN_PATCHLEVEL in cudnn.h described as follows:

#if !defined(CUDNN_H_)
#define CUDNN_H_

#define CUDNN_MAJOR      4
#define CUDNN_MINOR      0
#define CUDNN_PATCHLEVEL 7

#define CUDNN_VERSION    (CUDNN_MAJOR * 1000 + CUDNN_MINOR * 100 + CUDNN_PATCHLEVEL)

[2016-05-20 06:03] zzqiang04053080 commented on #2437
@zheng-xq
when I run the following example:
bazel build -c opt  --config=cuda  //tensorflow/cc:tutorials_example_trainer
bazel-bin/tensorflow/cc/tutorials_example_trainer --use_gpu

it can be executed correctly, print as shown below:

I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.so.7.5 locally
I tensorflow/stream_executor/dso_loader.cc:108] successfull

[2016-05-20 06:27] zheng-xq commented on #2437
If you grep third_party/gpus/cuda/include/cudnn.h, do you see the same thing? You could also try to set LD_LIBRARY_PATH to point to the right library.

[2016-05-20 06:36] zheng-xq commented on #2437
Another possibility is that you are using an older TensorFlow binary. Please check around and make sure you didn't have those. Also look under /tmp/tensorflow_pkg as well.

[2016-05-20 07:14] s0okiym commented on #2386
I tried the newest mnist_softmax.py.txt provided above.
It seems hang at sv.prepare_or_wait_for_session in worker 1.

[2016-05-20 08:36] hholst80 commented on #2430
Workaround is to build from source or rename the wheel file.

[2016-05-20 09:16] sjperkins commented on #2431
@orome I've written a tool called [hypercube](https://github.com/ska-sa/hypercube) to reason about problem sizes and memory requirements that you may find useful.

[2016-05-20 11:29] mattisback opened #2439 "Plots in tensorboard overlay when change horizontal axis"
## Problem

When using tensorboard, if the axis is changed from 'step' to 'relative' and back to 'step' quickly a new graph is created and overlays the original one.  This looks confusing as in the images below.  Note that the issue can be cleared by refreshing the page.

Small graph, both of the graphs shown here have an extra graph overlayed.
![alt text](https://www.breadboardkiller.com.au/img/m

[2016-05-20 12:23] thuzhf commented on #2433
@martinwicke I can't find any documents which explain which Environment variables can be set to what in TF, can you please show me a link to some related documents or just give me a heuristic example?

[2016-05-20 14:25] hack-r commented on #2430
Renaming the wheel file with py3-none in place of the version information worked for me.

[2016-05-20 14:25] #2430 closed

[2016-05-20 15:10] ppwwyyxx commented on #1592
I've worked on binary GEMM/convolution before. From my experience the best approach for popcnt on avx2 would be this one: https://github.com/WojciechMula/sse-popcount/blob/master/popcnt-avx2-lookup.cpp. But that code needs a little fix for a counter overflow.  xor also needs to be done in avx2.
For TF I guess there needs to be a generic non-avx2 code. There are some references in that repo as well

[2016-05-20 15:12] bhack commented on #1592
@ppwwyyxx Have you benchmarked  against recent GCC, MSVC, LLVM/CLANG intrinsic?

[2016-05-20 15:16] ppwwyyxx commented on #1592
@bhack I don't think there will be a big difference with different intrinsics. They all end up being avx2 instructions anyway.

[2016-05-20 15:28] bhack commented on #1592
Are you sure that all internal compiler code use avx2? I think that built-in are supported also on arm/neon.

[2016-05-20 15:34] ppwwyyxx commented on #1592
Oh right. if you are talking about compatibility then compiler builtins may be a good choice. But i never tried them.

[2016-05-20 17:23] siddharth-agrawal commented on #1246
Is anyone working on this? I have not implemented an Op yet, so I think this could be a good learning experience for me. I can take this up, unless it needs to be done quickly. Can one of the admins comment?

[2016-05-20 17:28] cgel opened #2441 "Understanding cause of bad performance"
I am training a convnet with multilple gpus and was using the cifar10 model as an example. It computes the gradients in every tower, stitches them and averages them. But that is mathematically equivalent to defining `total_loss = tf.add_n(tower_loss_list)` so I thought I would just do that.
But this implementation with 2 gpus runs at 1/2 the speed of the single gpu implementation. I am guessing th

[2016-05-20 17:41] arita37 opened #2443 "ImportError: cannot import name grid_rnn"
Docker - Tensor Flow Latest

### Steps to reproduce
When typing:    from tensorflow.contrib import grid_rnn

i have this message:
ImportError: cannot import name grid_rnn

How can download the contrib part into tensorFlow Docker (in windows) ?

Thanks

[2016-05-20 19:26] scroyston opened #2444 "Reinforcement Learning can be really, really slow in tensorflow."
I was looking at applying DeepMind's [DDPG algorithm](http://arxiv.org/pdf/1509.02971.pdf) to the new OpenAI gym problem set, focusing on continuous control problems like: [the pendulum](https://gym.openai.com/evaluations/eval_I3x3s4DuS7CmIbpaTCs51w)

I noticed that a TensorFlow version of the algorithm was running about 10-20x slower than a theano version of the same algorithm.

[Tensorflow imple

[2016-05-20 19:31] mrry commented on #2444
@benoitsteiner @rmlarsen: Benoit, Rasmus, are there other configuration options for Eigen that could help improve the performance here? Would any of the post-0.8 performance improvements be likely to help here?

[2016-05-20 19:38] mrry commented on #2443
`tf.contrib.grid_rnn` is only available in the nightly builds of TensorFlow (and it will be in version 0.9).  We don't currently publish nightly docker images, but you can modify the [`Dockerfile`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile) by replacing these lines:

[code]

...with:

[code]

Follow the Docker instructions for [building a new image on

[2016-05-20 19:38] #2443 closed

[2016-05-20 19:40] danmane commented on #2353
Following on cgorman's comment: based on your `session.run` call, it look like you aren't actually running the summary op, or adding the output of the summary op to the SummaryWriter.

Please take a look at the example code [here](https://github.com/tensorflow/tensorflow/blob/r0.8/tensorflow/examples/tutorials/mnist/mnist_with_summaries.py)

[2016-05-20 19:42] danmane commented on #530
@Fhrozen
You should be able to build both tensorflow and tensorboard using bazel without having the two conflict. I'm not sure what's going wrong in your case - you could try building all your targets (without using bazel run) and then run them by invoking the built target in `bazel-bin`.
If you keep having issues with bazel, please open a separate issue with a clear reproduction of the exact comm

[2016-05-20 19:53] Trion commented on #2391
Thanks, it was the big ```#ifdef GOOGLE_CUDA``` was the problem. It looks like there is already ab implementation, at least the convolution utilizes FFT (https://github.com/tensorflow/tensorflow/blob/e39d8feebb9666a331345cd8d960f5ade4652bba/third_party/eigen3/unsupported/Eigen/CXX11/src/NeuralNetworks/TensorConvolutionByFFT.h#L234). Maybe I'm misunderstanding this line (the ```.template``` is a li

[2016-05-20 19:53] #2391 closed

[2016-05-20 19:58] mrry commented on #2441
Did you change from having one `Optimizer` per tower to a single `Optimizer`? In that case, it's possible that all of the gradients are being computed on a single GPU (most likely `/gpu:0`), because the `colocate_gradients_with_ops` argument to `Optimizer.minimize()`/`Optimizer.compute_gradients()` defaults to `False`, and so the gradient ops will default to running on a single device.  You could

[2016-05-20 20:34] rajarsheem commented on #208
@rdipietro I tried to extend your code to a vanilla GRU. Also removed the clipping therefore and replaced Gradient Descent with Adagrad.
Consequently convergence is now much faster.
Can you please verify the code ?
http://paste.ubuntu.com/16534925/
(I know it's much dirty!)

[2016-05-20 21:07] LittleYUYU commented on #2373
I guess I met the same problem, @aleSuglia .

In the released "tranlsate" codes of a seq2seq model, buckets are used for defining different lengths of encoders and decoders. Every time we get a batch of data, we pad the original input with "PAD" to satisfy the required length of a bucket, e.g., [1,2,3] --> [1,2,3,PAD,PAD] for the bucket with length=5. However, we take the PAD as a normal token in

[2016-05-20 21:39] vianamp commented on #2353
Thanks guys. I was missing this:
[code]

[2016-05-20 22:05] agupta83 commented on #2342
I tried couple of stuff and it finally worked. I made my variables name shorter than before and it fixed the issue.

[2016-05-20 22:28] phiber1 commented on #1786
Was about to ask about the RNN and LSTM support in cuDNN v5, and found this thread. While we're on the subject, what about support for tensor descriptors? Also new in v5.

[2016-05-21 00:54] mrry opened #2447 "TensorFlow segfaults on attempting to save a large variable"
The checkpoint format writes the value of a variable into a Protocol Buffer, which has a 2GB limit. The saving mechanism does not validate the size of a variable&mdash;which can be much larger than 2GB&mdash;before attempting to write it into the Protocol Buffer. The following code can cause a segfault:

[code]

[2016-05-21 01:32] ppwwyyxx opened #2448 "Session got stuck after fork"
Version: nightly prebuilt for Python2 w/ GPU (just now)

I'm expecting the following code to print "10.0" 3 times, but session.run got stuck in all forked processes.
[code]
Removing the graph/session in master process will solve the problem. So it seems like once there is a session, we cannot use fork?
The problem exists with and without GPU.

NOTE:  this code doesn't terminate normally. You'll pr

[2016-05-21 01:33] ian-plosker commented on #2171
@waleedka I've noticed the same behavior. 👍  for tracking it down!

[2016-05-21 01:39] mrry commented on #2448
The in-process session (i.e. `tf.Session()` with no arguments) is not designed to be `fork()`-safe. If you want to share a set of devices between multiple processes, create a [`tf.train.Server`](https://www.tensorflow.org/versions/r0.8/api_docs/python/train.html#Server) in one process, and create sessions that connect to that server (with `tf.Session("grpc://...")`) in the other processes.

[2016-05-21 01:39] #2448 closed

[2016-05-21 02:39] stmharry commented on #740
@HWiese1980
I have been encountering reboot problems like yours. However, reboot happens sometimes as early as importing tensorflow (loading *.so), and sometimes after running a few iterations of training. In this case do you this it's a PSU problem like yours? Since I have tested out loading Theano and the same problem occurs on loading Theano.

[2016-05-21 03:31] IvenHsu opened #2450 "gradient check"
Hi I have some problem to write new tensorflow op.<br>
I use tf.test.compute_gradient_error to write the test case. <br>
And get the error <br>
The error message <br>

I already differential on f(data,truthdata).
How to write correct gradient calculate?<br>

The op have two inputs and two output.<br>
Input1 data<br>
Input2 truthdata<br>
output1 loss<br>
output2 delta(gradient)<br>
<br>
Here is the

[2016-05-21 04:38] zplizzi commented on #2040
I'm also having this issue. I'm on the current master branch of tensorflow (7d9ab3e), bazel 0.2.3, and gcc 5.3.1 on Ubuntu 16.04. My build steps were very similar to @akors. The fix mentioned above works. I'd be happy to provide more specific information if that's helpful.

[2016-05-21 05:15] mrry commented on #2450
I'm going to close this issue and encourage you to submit this on Stack Overflow instead:

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

[2016-05-21 05:15] #2450 closed

[2016-05-21 05:51] arita37 commented on #2443
I am using this command to download tensorflow....
docker run -it b.gcr.io/tensorflow/tensorflow
I cannot change the docker file on tensorflow side....

What command should I use to install a local dockerfile ?

Thanks, regards

[2016-05-21 06:11] mrry commented on #2443
Here's a step-by-step tutorial for using Docker on Windows with a custom Dockerfile:

https://docs.docker.com/windows/step_four/

[2016-05-21 06:35] kunal-bajpai commented on #1300
@sesse great job with adding all these operations! Any estimate on how long it might take to support convolutions?

[2016-05-21 07:45] HWiese1980 commented on #740
@stmharry Yes, I'd still say it's a PSU problem. The evidence is pretty much the same. Definitely sounds like an undersized PSU. I bought a Corsair HX750i several weeks ago and since then never again experienced these sudden reboots. So I highly recommend upgrading your PSU to something around at least 700 watts.

[2016-05-21 08:56] lilac commented on #616
I encountered the same issue as reported by @Ingwar which is reproducible using the [gist](https://gist.github.com/Ingwar/3b8a7232f4cb906ff1f0)

Any workaround for this problem?

[2016-05-21 09:17] hayder78 commented on #17
The official roadmap of tensorflow :
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/resources/roadmap.md

Windows support is part of the near future roadmap that is targeted for the next few months!

[2016-05-21 09:23] sesse commented on #1300
@kunal-bajpai: It will almost certainly happen next week.

[2016-05-21 09:39] aleSuglia commented on #2373
Exactly @LittleYUYU!

I don't know why nobody has noticed it before but for me is a missing feature and not a bug. I hope that somebody, one day, will notice this issue and fix it.

Thank you to all in advance.

Alessandro Suglia

[2016-05-21 10:03] sydpz opened #2451 "Compile Issue about Eigen"
I want to compile tensorflow-r0.8 while meet an issue about Eigen.
This issue happened in both CPU and GPU version.

The error log is

[code]

Then I run that command by myself,and get the error as below
[code]

It seems that a eigen model can not be found.  How can I fix it?

[2016-05-21 10:08] sydpz commented on #2451
my system is ubuntu 14.04
[code]

[2016-05-21 11:53] indiangolfer commented on #254
Sam, thanks for your great work.  Have you compiled & shared Tensorflow for Python3?

[2016-05-21 12:46] LittleYUYU commented on #2373
@aleSuglia Right! Currently I use a mask which is a matrix with the same dimension as the embedding matrix but with the padding value set to be zero to solve this problem. I just feel confused: why the released sample code doesn't consider this issue? Thanks!

Ziyu

[2016-05-21 13:34] vincentvanhoucke commented on #551
As of change `ab02c5`, we consider the CPU scaling issue generally resolved, so I'm going to close this bug. Please file new issues with benchmarks and steps to reproduce if you still see any performance issues.

[2016-05-21 13:34] #551 closed