[2021-08-03 18:01] sushreebarsa commented on #42190
@ntreepoint It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 18:02] raryanpur commented on #41977
@sushreebarsa @multiverse-tf provided an explantation of this behavior above that was fine for my use case at the time that I filed the bug and I should've closed the ticket then. It appears via @jdduke this ticket is relevant to the broader project so is being kept open. I don't currently have the bandwidth to test this for you on the latest version of TF but hopefully the details I've provided i

[2021-08-03 18:04] srjoglekar246 commented on #41977
We addressed this issue in the latest version of TF. Now TFLite supports applying multiple delegates if the graph doesn't have dynamically-shaped tensors. I am closing this issue, thanks for providing the context @raryanpur :-)

[2021-08-03 18:04] #41977 closed

[2021-08-03 18:11] sushreebarsa commented on #40228
@albertz It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-08-03 18:11] sbushmanov commented on #50943
Anything from @ymodak ?

[2021-08-03 19:19] Danny4 opened #51131 "recompute_grad + keras: "TypeError: Cannot convert a symbolic Keras input/output to a numpy array.""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro, Version 21H1
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0
- Python version: 3.9.0

**Describe the current behavior**
tf.recompute_grad does not

[2021-08-03 19:57] mdanatg commented on #50843
There are multiple issues at play here:

1. the eager version of tf.cond only executes one branch, which is inconsistent with graph execution. That's a bug.
2. the way conditionals are traced does have this fundamental limitation: that it traces all branches. Combine that with the shape verifications done at tracing, it explains the errors you see. [This article](https://github.com/tensorflow/tens

[2021-08-03 20:03] noamfreeman commented on #39612
@sushreebarsa thanks. it does.
shame on me not specifying the exact version i used (i see the null check is pretty old).
thanks for checking into it.

[2021-08-03 20:20] #39612 closed

[2021-08-03 22:04] cpoohee opened #51134 "TFLite fails to convert when the Model has regex_split_with_offsets"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installation (pip package or built from source): pip package
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.5.0

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

[code]
Testing with a simpler delim and

[2021-08-03 22:30] abattery commented on #50801
@Koushik667 could you share the reproducible steps for creating the above TensorFlow model to debug?

[2021-08-03 23:28] fz-29 opened #51135 "Documentation link broken at projector.tensorflow.org"
## URL(s) with the issue:
https://projector.tensorflow.org/

## Description of the issue (what needs changing):

The question mark icon in the top right of navbar is supposed to be a hyperlink to the documentation.
The icon is a hyperlink to https://www.tensorflow.org/get_started/embedding_viz , which is broken.

[2021-08-04 00:12] jvishnuvardhan commented on #47971
My recent runtime (without any other programs running) show that there is a small increase but that is expected. Please check the runtime below

[code]

[2021-08-04 00:32] #39121 closed

[2021-08-04 01:41] Drewbie18 opened #51137 "TFLite conversion notebook will no longer install dependencies"
## URL(s) with the issue:

Doc Link: https://github.com/tensorflow/examples/blob/master/lite/examples/gesture_classification/ml/README.md

Notebook link (also on doc page):
https://github.com/tensorflow/examples/blob/master/lite/examples/gesture_classification/ml/tensorflowjs_to_tflite_colab_notebook.ipynb

## Description of issue (what needs changing):

Updated notebook that will install the depe

[2021-08-04 01:44] abattery commented on #51137
@xunkai @lintian06 could you take a look at this report?

[2021-08-04 03:23] yongtang commented on #46911
Added PR #51138 for the fix.

[2021-08-04 03:29] yydxlv opened #51139 "KeyError: u'SelectV2'"
**I trained one model using tf 1.13, but when i load the model , the KeyError: u'SelectV2' occured , is there anything wrong with the procedure?**

File "/usr/lib/python2.7/site-packages/tensorflow/contrib/predictor/predictor_factories.py", line 153, in from_saved_model
    config=config)
  File "/usr/lib/python2.7/site-packages/tensorflow/contrib/predictor/saved_model_predictor.py", line 153, in

[2021-08-04 05:09] abattery commented on #51126
@impjdi could you take a look at this?

[2021-08-04 05:37] Koushik667 commented on #50801
Sure,

I have created a sample program for the titanic dataset which takes only 2 input numerical features for simplicity.
Attaching codes as .txt files as githhub is not allowing .c or .py attachments.

Dataset csv files:
[train.csv](https://github.com/tensorflow/tensorflow/files/6928824/train.csv)
[eval.csv](https://github.com/tensorflow/tensorflow/files/6928826/eval.csv)

Here is the python pro

[2021-08-04 05:38] abattery commented on #51134
I can reproduce this issue. Thanks for the report!

[2021-08-04 05:41] Stonepia commented on #50892
Thanks for the reply. Got this.  I'll close this issue for now.

[2021-08-04 05:41] #50892 closed

[2021-08-04 05:48] abattery commented on #51134
Ragged Tensors are not a simple tensor type. Returning objects should be one of TensorFlow Lite types. Just returning a Ragged Tensor object is not supported.

For example,
[code]

[2021-08-04 05:48] #51134 closed

[2021-08-04 05:51] abattery commented on #50801
Could you format the above script in a format of the CoLab if possible?

[2021-08-04 05:57] Koushik667 commented on #50801
Sure,
Here is the link: https://colab.research.google.com/drive/1w0zWDFQMljfOSzlSEtvFtLkAINu8UxFd?usp=sharing

[2021-08-04 06:06] Koushik667 commented on #50801
Sorry, thought it would be shared with dataset files, checked in a different google account, i couldnt see them, do you want it to be attached?

[2021-08-04 06:26] mahaoyanghb commented on #19906
thanks a lot!
how did you find the reason, that is really hard to recognize release debug difference cause this!

[2021-08-04 06:43] sushreebarsa commented on #51139
@yydxlv In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-04 07:07] imohamadhoseins commented on #51078
[code]

you can set any path containing class folders and images inside them as "path_train" and any batch_size you like.
@tilakrayal

[2021-08-04 07:21] mittkongg commented on #51119
i upload the model, https://github.com/tensorflow/tensorflow/files/6929310/bisenetv3_fp32_224.tflite.zip ,thanks

[2021-08-04 07:35] jung-youjin commented on #38194
Is this valid only on `Ubuntu 20.04`? I'm curious if it works for `Ubuntu 18.04` as well.

[2021-08-04 07:36] sjtusmartboy opened #51141 "Failed precondition: Could not find variable bias_w. This could mean that the variable has been deleted."
tf2.5

[code]

[code]

[2021-08-04 07:44] tricoffee opened #51142 "Tensorflow 2.x, Unable to debug a tensorflow projects, can only print tensor.shape but not get values of the tensor"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-08-04 07:47] sjtusmartboy commented on #51141
[code]

This code works normally if I remove the `tf.Variable` in the function of `weightVariables`.But that includes the weight that I want to train. So I think `tf.Variable`  is necessary.  Also the while loop stands for different batches of data, so I think that is also necessary. So how should I modify the code.

[2021-08-04 07:52] sjtusmartboy commented on #50871
@Saduf2019 Any progress yet

[2021-08-04 08:09] Saduf2019 commented on #51135
@fz-29
We are looking in to this and will update you at the earliest.

[2021-08-04 08:11] sjtusmartboy commented on #51141
Some simplification but same error
[code]

[2021-08-04 08:13] lintian06 commented on #51137
Thank you for the report! You can add the flag --use-deprecated=legacy-resolver, and it is pip's version change.
[code]

[2021-08-04 08:18] Saduf2019 commented on #51142
@tricoffee
Please share code for us to replicate the issue or if possible share a colab gist with the error reported.
You may refer to [this link](https://stackoverflow.com/questions/33633370/how-to-print-the-value-of-a-tensor-object-in-tensorflow).

[2021-08-04 08:39] sjtusmartboy commented on #51141
Tensorflow makes me so frustrated because it has wasted me lots time bebuging those that should not be the error.

[code]

`TypeError: Can not convert a ResourceVariable into a Tensor or Operation.
`

[2021-08-04 08:40] sjtusmartboy commented on #51141
very bad product experience

[2021-08-04 08:46] sjtusmartboy commented on #51141
[code]

[code]

[2021-08-04 08:47] sjtusmartboy commented on #51141
@Saduf2019 Please explain to what each of the error means

[2021-08-04 09:25] Saduf2019 commented on #23049
Moving this to closed status due to lack of activity.

[2021-08-04 09:25] #23049 closed

[2021-08-04 09:28] sushreebarsa commented on #51096
@jiayugedede Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-08-04 09:33] Saduf2019 commented on #31050
@beasteers
It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists?

Can you please open this issue on kears repo in case of any queries.

[2021-08-04 09:41] kacper-kleczewski opened #51143 "tf.saved_model.save fails when there is tf.reshape in tf.keras.Model call method"
**Current behavior**
tf.saved_model.save fails to save tf.keras.Model if there is tf.reshape operation in Model call method.

I have debugged it and I found that during saving the Model, SimpleModel.call is called twice. The first time everything is fine and **batch_size = 1,** but in the second call **batch_size = None** and this is why it fails.

**Expected behavior**
Model should be saved as Sa

[2021-08-04 10:55] sushreebarsa commented on #51143
@kacper-kleczewski Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-08-04 10:59] kacper-kleczewski commented on #51143
Ok, thanks.
Issue added to keras repo:
https://github.com/keras-team/keras/issues/15066

[2021-08-04 10:59] #51143 closed

[2021-08-04 11:10] CvHadesSun opened #51144 "Tflite full Integer quantization bug."
<em>Hi, I am trying to quantize my own tf-keras model for NNAPI delegate. First the origin tf-keras model size is 5.6MB,and quantized int8-tflite model size is about 1.8M, that is not 4X times. And more important is :  i am trying to run the quantized int8-tflite model on this test benchmark (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark), the result is : use

[2021-08-04 11:12] sanatmpa1 commented on #27266
@saugatkandel,

Can you please respond to the above comment.If you think PR is not appropriate, can you please let us know how you want this issue to be resolved. Thanks!

[2021-08-04 11:16] liyinhgqw opened #51145 "Performance regression: Tensorflow 2.5.0"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-08-04 11:28] sanatmpa1 commented on #33978
@racinmat ,

Can you please respond to the above comment?

[2021-08-04 11:31] sanatmpa1 commented on #31229
@JionBin ,

Can you check @freedomtan 's answer and let us know if it helps in resolving your issue? Thanks!

[2021-08-04 11:35] idee24 opened #51146 "Google Developers Certification Plugin"
The Google Developers Certification Plugin is not available on Android Studio Arctic Fox 2020.3.1
![dd](https://user-images.githubusercontent.com/40315618/128174071-8755f5fb-5161-4991-9151-df731784dda8.PNG)

[2021-08-04 12:27] UsharaniPagadala commented on #51125
@mrwunderbar666
I was able to reproduce the issue in tf2.5 with no warning. Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/98bdf8b059c2f8d8b081e6b7276d7699/untitled160.ipynb).Thanks

[2021-08-04 12:47] Saduf2019 commented on #30161
@LukeBolly
Is this still an issue,Could you check on later versions of 2.x  as 1.x is not supported actively

[2021-08-04 13:28] PINTO0309 commented on #51098
Using the Python API seems to convert without problems. I think it might be a problem with tflite_convert built with Bazel.
https://colab.research.google.com/drive/1uuAl1BP8v1R1xhcOyBIDyh9nkO8AW6xD?usp=sharing
[code]

[2021-08-04 13:47] arghyaganguly commented on #51141
@sjtusmartboy ,
please modify likewise to define your variable before initializing it ;-
[code]

[2021-08-04 14:28] kennedyCzar commented on #48797
Calling tensorflow first (import tensorflow as tf) and all other dependencies before calling torch seems to solve the problem for me.

[2021-08-04 14:29] mrwunderbar666 commented on #51125
@UsharaniPagadala
I guess it is because I ran my code snipped in python repl. No error when executed as file.
Nevertheless, the warning told me to report this to the tensorflow devs

[2021-08-04 14:35] UsharaniPagadala commented on #51131
@Danny4

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo. To know more refer to:https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

I have reproduced the code with minimal changes.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/823a4d13ebd2baa005248c6b0aba4533/

[2021-08-04 15:00] jmendezv opened #51148 "The model won't download"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2021-08-04 15:06] sturmianseq commented on #51091
I have also tried commands from https://github.com/tensorflow/tensorflow/issues/46477 (`bazel coverage -s --instrument_test_targets --coverage_report_generator=@bazel_tools//tools/test:coverage_report_generator --coverage_support=@bazel_tools//tools/test:coverage_support --collect_code_coverage --jobs 5 //tensorflow`), but it simply didn't work.

[2021-08-04 15:12] UsharaniPagadala commented on #51125
@mrwunderbar666

Could you please refer similar issues [#30895](https://github.com/tensorflow/tensorflow/issues/30895) and [#28316](https://github.com/tensorflow/tensorflow/issues/28316) and let us know if it helps.Thanks

[2021-08-04 15:45] tensorbuffer commented on #51098
Thanks. Ok I will try that. I remember that with python convert, I can set attributes like inference type, while in tflite_convert command line there's no such option. Wondering if they are the same.

[2021-08-04 15:50] PINTO0309 commented on #51098
I remember that command line tools were deprecated a long time ago. They are probably rarely maintained.

[2021-08-04 16:39] Julianna3141 opened #51149 "Cloud TPU Memory Leak causing OOM Error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-08-04 16:54] n33lkanth commented on #51127
Hi,
Any update on this issue?

Best Regards

[2021-08-04 16:59] saugatkandel commented on #27266
For my work, I used some custom code to account for complex64 numbers:

https://github.com/saugatkandel/sopt/blob/master/sopt/benchmarks/ops/tensorflow/flops_registry_custom.py

Note that my "fix" only applies to complex64 numbers (not complex128), and is intended for TensorFlow 1.x code.  This is quite limited and is not a full fix for the issue at hand.

Since I am no longer working on this proj

[2021-08-04 17:22] Saduf2019 commented on #50820
@tibbe
Please update as per above comment

[2021-08-04 17:28] Alex-Pawlicki-Bose commented on #50883
Yes, looks like this doesn't happen when using 2.7 nightly.

[2021-08-04 17:34] ianholing commented on #38961
Hi @sushreebarsa, you can close this issue if you want, this was more than one year ago.. at that time i tried all the latest versions but nowadays I don't keep the code to try again sorry.

[2021-08-04 17:34] #38961 closed

[2021-08-04 17:46] pavanky commented on #51145
Performance
- 2.3.0:  ~245 ms
- 2.4.0:  ~240 ms
- 2.5.0: ~350ms
- tf-nightly (latest): ~350ms

Something broke between 2.4 and 2.5

[2021-08-04 17:59] impjdi commented on #51126
Not easily achieved at the code level, as we implement https://arxiv.org/abs/2001.03288 buffers used by intermediate tensors are reused and overwritten.

However, one quick hack you can do is the following:
- Assume the output of a CONV_2D is to be inspected.  Let that tensor be A.
- Let the rest of the network intact, but attach a ADD 0 or MUL 1 to A, which is essentially a no-op.  Let its output

[2021-08-04 18:07] SohaibAnwaar commented on #51145
Hy! I am processing matrix multiplication operations on TensorFlow and NumPy to check the processing time difference on CPU and GPU. It's taking more time to process operation on GPU than on CPU

On Cpu its taking:1.15 sec

On GPU it's taking: 34 sec

why so? According to my understanding GPU should perform fast operations than CPU..

**CPU CODE**

[code]

**GPU Code**

[code]

[2021-08-04 18:09] SubhasmitaSw commented on #51135
This is fixed now, I think this issue should be closed to avoid confusion.

[2021-08-04 20:34] #51038 closed

[2021-08-04 21:34] MisterBerg opened #51178 "&TfLiteTensor->Data not 16-Byte Aligned"
### 1. System information

- OS Platform and Di_pywrap_toco_apistribution (e.g., Linux Ubuntu 16.04): LINUX UBUNTU 20.04
- TensorFlow installation (pip package or built from source):  PIP PACKAGE
- TensorFlow library (version, if pip package or github SHA, if built from source): PIP PACKAGE

### 2. Code
I think the code will not help, as the conversion process is working but I have questions about

[2021-08-04 22:09] abattery commented on #51178
For your specific cases, you might need to create your own data type in TensorFlow Lite and modify the converter and runtime to suppport it.

[2021-08-04 22:22] YodaEmbedding commented on #48797
Yes, the fix is:

[code]

**Note:** I still have this issue on newer versions of packages on Arch Linux. The fix is either to reinstall `torchvision` or to always import `tensorflow` first, as shown above. Should I reopen since the issue isn't *technically* resolved (I have merely found consistent workarounds)?

[2021-08-04 22:26] bhack commented on #48797
I think you can open a ticket on arch in the meantime.

[2021-08-04 23:11] crawlingcub opened #51179 "Inference is slower on Densenet121 when using XLA"
Hi,

When running the Densenet121 model using **XLA** on Imagenet dataset, the inference is about 5-7 seconds slower than normal on GPU.

**Environment**:
Tensorflow 2.5.0
keras-nightly==2.5.0.dev2021032900
Python 3.7
OS: Ubuntu 18.04
CUDA 11.1
GPUs: 8 Nvidia GA100

**Current behaviour**:
Running inference using Densenet121 without XLA takes ~14s on 10000 images
Running inference using Densenet121

[2021-08-04 23:28] JiashuGuo commented on #46821
I have installed tf-nightly and now get the following error:
TF Select ops: TensorArrayGatherV3, TensorArrayReadV3, TensorArrayScatterV3, TensorArraySizeV3, TensorArrayV3, TensorArrayWriteV3
Please see the [https://colab.research.google.com/drive/10CadH871KSf5Twklf0fI1rp3UGI0VhEB](gist) in Colab.

[2021-08-04 23:32] airman00 opened #51180 "[CoreML Delegate] validator error: Padding type for the pooling layer 'PoolingLayerBuilder (MEAN)_2' is not set."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOSX Big Sur
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iPhone XS
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.5.0
- Python version: 3.8
- Bazel version (if compiling from source): 3.7.2

**Describe the curren

[2021-08-05 00:31] Drewbie18 commented on #51137
Hi @lintian06. You're welcome for the report.

The fix did work for the initial error, however the next part of the notebook would then end up in an error unfortunately.

Command:
[code]

Error:
[code]

Fortunately I was able to find the solution to this error myself here: https://stackoverflow.com/questions/67703514/tensorflow-issue-google-colab-tensorflow-api-v1-compat-v2-has-no-attribute

[2021-08-05 01:07] harujoh opened #51201 "Error : Value for attr 'data_format' of "", when calling TF_AddGradients with FusedBatchNormV3 operator"
Hello, I'm very happy to see that FusedBatchNormV3 is now included in backprop.
Unfortunately, when I call TF_AddGradients with a TF_Graph containing a FusedBatchNormV3 operator, I get an error with a blank data_format attribute.

This is probably due to the fact that the default values are not reflected when registering FusedBatchNormGradV3.

**System information**
Windows 10 x64
No custom code
b

[2021-08-05 01:09] austinzh commented on #41073
If you only want to use shared_embedding, you checkout my gist, I do a copy of yours and modify it
https://colab.research.google.com/gist/austinzh/361f7758b56dfa41b538c9b0c16feeb5/untitled86.ipynb

[2021-08-05 01:45] JiashuGuo opened #51209 "Can Mask_rcnn being converted into fully integer quantized TF Lite model? Got error: Some ops are not supported by the native TFLite runtime, you can enable TF kernels fallback using TF Select. See instructions: https://www.tensorflow.org/lite/guide/ops_select TF Select ops: CropAndResize during converting."
### 1. System information

- OS Platform and Distribution:  Linux Ubuntu 18.04
- TensorFlow installation: pip package
- TensorFlow library version: 2.7.0-dev20210804

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

#### Option B: provide a link to a custom end-to-end colab

Please see code to reproduce the issue in Colab [here](https://colab.research

[2021-08-05 01:56] FdyCN commented on #51126
I really appreciate your reply, i still got one more question. If we cannot get intermidiate buffers from internal op of graph. How can we debug the result of ops in graph if graph's result is wrong？(**assume op single test is passed, but op may not be fully tested or there comes some platform-related bugs.**)

BTW,  i figure we can use MemoryStrategy::NAIVE when create gpu buffers so that buffers

[2021-08-05 01:57] FdyCN commented on #51126
@impjdi Please take a look.

[2021-08-05 02:05] sjtusmartboy commented on #51141
@arghyaganguly Yeah, that solves the question, is this the new requirement in tf 2.5? Any instructions?

[2021-08-05 02:10] smilingday commented on #51031
Thanks for reporting and @lintian06 to take a look.

[2021-08-05 02:25] zhaozheng09 opened #51226 "No performance improvement when I change prefetch() to prefetch_to_device()"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.15.0
- Python version: 3.6.8
- Bazel version (if compiling from source): 0.26.1
- GCC/Compiler version (if compiling from source): devtools gcc 9.3.0
- CUDA/cuDNN version: 11.2
- GPU model and memory:  single car

[2021-08-05 02:27] abattery commented on #51209
Please consider using the Select TF option. https://www.tensorflow.org/lite/guide/ops_select

[2021-08-05 02:27] #51209 closed

[2021-08-05 02:29] HungYangChang commented on #44965
Answer from one of my group members:
 you can assign specific CPUs. You do so by either taskset or CPU shielding. My preference is CPU shielding. Here's how:

1- install cpuset if not there
2- shield the CPUs that you want to assign (I'm assuming CPUs number 0,1,2,3 (LITTLE cluster)
3- run the tflite model using the benchmark model in the CPUset you have created, with setting num_threads option. H

[2021-08-05 02:36] HungYangChang commented on #44965
Another example: form [https://github.com/adityagupta1089/ComputeLibrary](url)

![image](https://user-images.githubusercontent.com/70759685/128282036-bc63999b-c6e5-4efd-a028-d4f2de9d3238.png)

[2021-08-05 02:45] saikumarchalla commented on #51127
@n33lkanth It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](github.com/keras-team/keras) repository instead. As ([previously announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999/)), all future development of Keras is expected to happen in the [github.com/keras-team/k

[2021-08-05 03:14] xhae commented on #46821
As the error message says, some ops are not supported by native. I think you can try using flex delegate for those ops.

[2021-08-05 03:25] sushreebarsa commented on #51226
@zhaozheng09 We see that you are using older version of tensorflow 1.15 which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Thanks!

[2021-08-05 03:30] mittkongg commented on #51119
we cut the first two layer , but the result remain same, cpu differ from gpu
[CPUout_simple.txt](https://github.com/tensorflow/tensorflow/files/6935729/CPUout_simple.txt)
[GPUout_simple.txt](https://github.com/tensorflow/tensorflow/files/6935730/GPUout_simple.txt)
[Uploading bisenetv3_fp32_224_noprocess.tflite.zip…]()

[2021-08-05 03:40] harujoh commented on #51201
I'm currently waiting for the build, but I think the following fixes will probably fix the problem.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/gradients/nn_grad.cc#L435-L439

from
  TF_RETURN_IF_ERROR(GetNodeAttr(op.node()->attrs(), "epsilon", &epsilon));
  TF_RETURN_IF_ERROR(
      GetNodeAttr(op.node()->attrs(), "data_format", &data_format));
  TF_RETURN_IF_ERROR(

[2021-08-05 03:43] ArunaKote opened #51233 "tensorflow saved model to tf dialect mlir"
May I know command available in tensorflow to convert saved_model.pb to model_tf_dialect.mlir?

Thanks

[2021-08-05 03:57] abattery commented on #51178
@srjoglekar246 could you take a look?

[2021-08-05 04:00] catskillsresearch opened #51234 "Tensorflow tf.map_fn over ragged tensor fails with object of type 'RaggedTensor' has no len"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-08-05 04:13] yashkarbhari commented on #51082
As my work is a research project, I'm not sure if I can show the complete code to reproduce the issue. Also for the **NameError**
Layer is equal to tensorflow.keras.layers.Layer I had imported it earlier as Layer.

[2021-08-05 04:18] harujoh commented on #51201
It looks like there are several similar mistakes in this commit.
There are also some suspicious things in the code that existed before this commit.
bf3d89b1e8bc5e00271c2fbd57a8b3ff55d48462

[2021-08-05 04:19] jiayugedede commented on #51096
Thank you, your suggestion sloved my problem, thank you very much.

[2021-08-05 04:26] saikumarchalla commented on #50883
@pawlick2 Seems the issue is resolved in TF nightly version. Please feel free to re-open the issue if needed . Thanks!

[2021-08-05 04:26] #50883 closed

[2021-08-05 04:56] JiashuGuo commented on #51209
Using select TF option in
`converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8, tf.lite.OpsSet.SELECT_TF_OPS]`
solved the error during converting. But the converted model failed to be compiled by `edgutpu_compiler`, the output is
`Edge TPU Compiler version 15.0.340273435
ERROR: Didn't find op for builtin opcode 'FILL' version '3'

ERROR: Registration failed.

Invalid model:

[2021-08-05 04:59] abattery commented on #51209
Could you file a separate issue for the edge tpu issue at the coral project?

[2021-08-05 05:32] sushreebarsa commented on #51096
@jiayugedede Can you please let us know if we can close this issue as it has been resolved? Thanks!

[2021-08-05 05:53] lintian06 commented on #51031
Thank you @Extremesarova for reporting the issue, and @Engineero for the solution!

This is a mysterious issue! I think it might be some conflicts among (1) pre-installed pypi packages, and (2) dependencies required by Model Maker, (may also related to platforms OS + python version). Unfortunately, pip is not good enough to tell the information for us to find the root cause. :-(

We have an automa

[2021-08-05 06:19] llfzllfz opened #51236 "How can I use multi_gpu in tf.keras?"
How can I use multi_gpu in tf.keras?
WARNING:tensorflow:From train_conv.py:214: multi_gpu_model (from tensorflow.python.keras.utils.multi_gpu_utils) is deprecated and will be removed after 2020-04-01.

[2021-08-05 06:46] Srkshaikh5 opened #51237 "Training weak learners in using video or image dataset on TensorFlow"
Hi I have a problem statement where I have to train an action recognizer using videos.
but due to non availability of good dataset there is a slight misclassification.
Is there any setting or function where I can train the misclassified or weak learners by assigning them more weights.
Its sounds similar like Xgboost but I want something which can work on Deeplearning frame works and on Image and V

[2021-08-05 06:58] sushreebarsa commented on #51236
@llfzllfz Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-08-05 07:00] racinmat commented on #33978
So I can save the model without escaping, but I need to escape it for loading?
In the documentation I can not find any mention of regular expressions, so it's unclear why it does help.
So this should be mentioned in the docs if this is the proper way to escape model names, right?
I understand this is workaround, not fix of the issue, right?

[2021-08-05 07:05] multiverse-tf commented on #51030
At first sight, judging from the delegate file name, I don't think you are loading the correct one.  Here's an example of using this API: [src code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/interpreter_test.py#L416-L429) and [build rule to compile the delegate .so](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/testdata/BUILD#L89-L97)

[2021-08-05 07:16] jvishnuvardhan commented on #50751
@neiev What kind of model (TF/Keras) and what kind of layers (Dense/RNN) you are planning to use? Can you show us what is missing with the current implementation? Please provide a simple standalone code to demonstrate the feature.

As you mentioned that you are willing to contribute, you could raise a PR to update any code. Once you open a PR, you can connect this issue to the PR. Thanks!

[2021-08-05 07:20] ahyunsoo2 opened #51238 "In ResNet50, It is unequal to actual structure of library in the keras.applications.Resnet50"
As you know, in the CNN, only layers of Convolution, BatchNormalization and Dense have weights. And Usually, they are constructed by this way. Input - Conv - BN - ReLU - Conv - BN - ReLU ... - Dense. But, As you can see, below the structure remain unusual.

![image](https://user-images.githubusercontent.com/83423286/128308372-357e542a-7197-46cc-9fce-536c7331bdce.png)

[code]
You can find this resu

[2021-08-05 07:29] jvishnuvardhan commented on #51092
@sjtusmartboy Is this duplicate of https://github.com/tensorflow/tensorflow/issues/51074? If yes, can you please close https://github.com/tensorflow/tensorflow/issues/51074 and follow the progress in this issue.

As you mentioned that you are interested in contributing, you could raise a PR and connect it to this issue. Thanks!

[2021-08-05 07:48] sushreebarsa commented on #51237
@Srkshaikh5 Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).Also can you please elaborate about your Feature and please specify the Use Cases for this feature. Thanks!

[2021-08-05 07:54] sjtusmartboy commented on #51092
I would like to contribute, but currently I do not have any idea how to realize this function. And where to raise the PR

[2021-08-05 08:00] Saduf2019 commented on #51135
Moving this to closed status as its resolved.

[2021-08-05 08:00] #51135 closed

[2021-08-05 08:18] andrewstanfordjason opened #51239 "Make some of the private members of MicroInterpreter protected so derived classes can access them"
I would like some of the members of the MicroInterpreter class to be protected rather than private as I would like to write a derived class that has access to the allocations with graph_. In the past we(Xmos) had a derived class of the MicroInterpreter that implemented timing hooks (function calls that profiled the execution time of each operator) by patching the registrations, maybe there is a be

[2021-08-05 08:19] andrewstanfordjason commented on #51239
sorry, was meant for micro

[2021-08-05 08:19] #51239 closed

[2021-08-05 08:43] marko19a commented on #51030
I have downloaded the .so files from [TensorFlow Lite Hexagon delegate](https://www.tensorflow.org/lite/performance/hexagon_delegate) page. It's for Android not for ubuntu based linux I am using, my device has hexagon 698 (Snapdragon 865 should be supported). Mybe I need a native build, can someone help me build .so file as i can't find any guide for building it?

[2021-08-05 08:45] Extremesarova commented on #51031
I tried installing tflite-model-maker on a clean venv and the error was still there

[2021-08-05 08:57] LeonardoPhysh opened #51240 "the calculation results of matmul OP are inconsistent"
I was running the following code, the results were supposed to be the same but they did not.

[code]

Result for 1 test run.

[code]

[2021-08-05 09:15] bhack commented on #33978
Can you reproduce this with TF 2.5.0?

[2021-08-05 09:20] mittkongg commented on #51119
the strange thing is when we add some output tensor to check the partly result , i get an error
model load and init time 5645 ms
2021-08-05 17:13:47.629737+0800 tflite_simple_example[4941:3720507] Execution of the command buffer was aborted due to an error during execution. Caused GPU Address Fault Error (IOAF code 11)
2021-08-05 17:13:47.630095+0800 tflite_simple_example[4941:3720507] Execution o

[2021-08-05 09:27] BlueSkyyyyyy commented on #51043
@Saduf2019 ,@tensorflowbutler，
do you know why tensorflow has this bug and how to solve it

[2021-08-05 09:32] lheim commented on #40866
@sushreebarsa I'm not working on this project anymore, so I can't test if the problem still exists. Nonetheless, feel free to close the issue if you think it's fixed now.
Cheers!

[2021-08-05 09:37] sanatmpa1 commented on #43784
@shz0116,

I am able to run your code successfully with **`TF 2.5`** in Google colab with **`TPU runtime`** enabled. Please take a look at [the gist](https://colab.research.google.com/gist/sanatmpa1/b1f0709eb922e090dd9e6c6018043709/43784_san.ipynb) of the working code and let me know if it resolves your issue. Thanks!

[2021-08-05 10:20] mayou36 opened #51241 "Inconsistent eager/jit behavior for rank 0 shape in tf.reshape"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0
- Python version: 3.8

**Describe the current behavior**

The eager version of `tf.reshape` takes a

[2021-08-05 10:31] arghyaganguly commented on #51141
@sjtusmartboy ,from Tensorflow 2.0, eager execution is enabled by default which might be the reason the below approach works -

approach 1)defining the variable outside the session  :-

[code]
results in below error :-
[code]
to avoid this please turn off eager execution in tf2.x by the below approach :-
[code]
else
if you don't want to turn off eager execution in tf2.x, defining the variable insi

[2021-08-05 10:33] tranduchuy682 opened #51242 "TypeError: Input 'y' of 'Sub' Op has type int32 that does not match type float32 of argument 'x'."
**System information**
- Have I written custom code: [posted below]
- Done on Google Colab using TF 2.5

I have done with building model but these some problem when training.  The errors are not clear enough I have no idea about which causes these errors.

Traceback is:
[code]
Link to colab: https://colab.research.google.com/drive/1eRN8yxM4TyQ7JmO-hxjM76dIQz2_Hpga?usp=sharing
Link to dataset: http

[2021-08-05 10:36] sushreebarsa commented on #40866
Can someone from the community can clarify if this issue is resolved so that we can close it ? Thanks!

[2021-08-05 10:58] Saduf2019 commented on #50845
Moving this to closed status due to lack of activity.

[2021-08-05 10:58] #50845 closed

[2021-08-05 11:01] Saduf2019 commented on #50837
Moving this to closed status due to lack of activity.

[2021-08-05 11:01] #50837 closed

[2021-08-05 11:06] Saduf2019 commented on #50829
@Koushik667
Is this still an issue, Please refer to [this issue](https://stackoverflow.com/questions/62527882/dockerfile-build-distutils-errors-distutilsexecerror-command-gcc-failed-with) and let us know.

[2021-08-05 11:09] Saduf2019 commented on #50718
Moving this to closed status as issue is opened in keras.

[2021-08-05 11:09] #50718 closed

[2021-08-05 11:10] Saduf2019 commented on #50678
Moving this to closed status due to lack of activity.

[2021-08-05 11:10] #50678 closed

[2021-08-05 11:21] sushreebarsa commented on #51201
@harujoh In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-05 11:21] Saduf2019 commented on #50557
@berhanpolat
Please refer to [this link](https://stackoverflow.com/questions/34562557/can-i-use-tensorflow-in-a-google-app-engine-module) and let us know.

[2021-08-05 11:24] sushreebarsa commented on #51180
@airman00 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-05 11:24] yangtao121 opened #51243 "kears.Model memory leak and tf.funtion block the thread"
I tried to run Keras Model by multiprocessing.Process for RL, it has some problems. The code as belows:

[code]

This code will cause memory leak,but it can work in multiprocess. Then I add `tf.function` decorator, it can run in single process, and has no more memory leak,. However, I when I try to run in multiprocess, this function will block the thread.

[2021-08-05 11:27] Saduf2019 commented on #50467
Moving this to closed status due to lack of activity.

[2021-08-05 11:27] #50467 closed

[2021-08-05 11:28] sushreebarsa commented on #51243
@yangtao121 Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-08-05 11:28] Saduf2019 commented on #50466
Moving this to closed status due to lac of activity.

[2021-08-05 11:28] #50466 closed

[2021-08-05 11:30] yangtao121 commented on #51243
thanks I will

[2021-08-05 11:31] Saduf2019 commented on #49175
Moving this issue to closed status as PR is merged.

[2021-08-05 11:31] #49175 closed

[2021-08-05 11:38] yangtao121 opened #51244 "tf.function block thread"
I tried to run this code in multiprocess by `multiprocessing.Process`:

[code]

the tf.function would block the thread.

[2021-08-05 11:45] sjtusmartboy commented on #1768
I agree. This error No gradients provided for any variable is not informative. Would be ideal to show the node that caused the error.

[2021-08-05 11:54] caggl opened #51245 "Can tensorflow.js decode MP4 video?"
Can tensorflow.js decode MP4 video?

[2021-08-05 12:10] sushreebarsa commented on #51149
@Julianna3141  Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-08-05 12:19] sushreebarsa commented on #51240
@LeonardoPhysh  I tried to run your code on **`colab`** with **`TF v2.5`** and didn't get the error reported here.Please find the [gist](https://colab.research.google.com/gist/sushreebarsa/0bb85b609b5740755c20553eb45f58b2/untitled356.ipynb#scrollTo=j3gX_Z5kOpH2) for your reference .Thank you!

[2021-08-05 12:45] sushreebarsa commented on #51146
@idee24 Could you please refer to the **`Plugin description`** in this [documentation](https://www.tensorflow.org/certificate) of **`Review Candidate Handbook`** where it is recommended that Certification Plugin is available in Pycharm .Please take a look on that link to  try Google Developers certification [plugin](https://www.tensorflow.org/extras/cert/TF_Certificate_Candidate_Handbook.pdf) in P

[2021-08-05 13:09] knaveen01 opened #51246 "Windows fatal exception: access violation (Ran out of memory)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip install tensorflow-gpu (tried with pip install tensorflow as well in a seperate env)
- TensorFlow version (use command below): 2.5.0
- Python version: 3.8.x
-

[2021-08-05 13:09] sjtusmartboy commented on #51141
@arghyaganguly Thanks very much for your kind answer

[2021-08-05 13:09] #51141 closed

[2021-08-05 13:13] sushreebarsa commented on #51245
@caggl Could you please post this issue in [tfjs](https://github.com/tensorflow/tfjs/issues) repository ? You will get the right help there. Thank you!

[2021-08-05 13:21] idee24 commented on #51146
This helped. My issue has been resolved thanks.

[2021-08-05 13:21] #51146 closed

[2021-08-05 14:17] sushreebarsa commented on #51246
@knaveen01
Could you please refer to similar error issues:#42867, [link](https://github.com/tensorflow/tensorboard/issues/2399) and let us know if it helps? Thanks!

[2021-08-05 14:28] jainmilan commented on #50466
@Saduf2019: I don’t see any resolution there. The code should ideally output the same thing in both the graph mode and the eager mode. I have already shared a minimal working example that can replicate the issue.

[2021-08-05 14:44] Julianna3141 commented on #51149
Thank you for the suggestion. Unfortunately, when I try to create tf 2.5 nodes in Kubernetes with the following line (tf-version.cloud-tpus.google.com: "2.5") in my Kubernetes pod spec, I get this error message: `"Failed to provision Cloud TPU(s): failed to create Cloud TPU in zone "us-central1-c": googleapi: Error 400: Cloud TPU received an invalid argument. The field "TensorflowVersion" cannot b

[2021-08-05 14:58] MisterBerg commented on #51178
Hello, Sachin.

If it helps, you can load the model I provided into a debug version of Tensorflow Lite, and set a breakpoint at optimized_ops.h line 420 or so.  The PoC I am demonstrating branches from here. Two of the data arrays should be 16-byte aligned, and two should be 8-byte aligned, in the FullyConnected( ) function somewhere..  Again, while I can work around it, it would be preferable if

[2021-08-05 15:00] markalavin opened #51247 "VAE model causes "tensorflow:Gradients do not exist for variables" error"
I am constructing a Variational Auto-Encoder (VAE) model in Tensorflow 2.15.0, but when I go to fit it, I get the "tensorflow:Gradients do not exist for variables" for the variables in the decoder part of the VAE.

Here is the code for the encoder:
[code]
and for the decoder:
[code]
Here are the model summaries for the encoder and decoder:
[code]
Here is the probabilistic loss function:
[code]
Her

[2021-08-05 15:14] mohantym commented on #33978
Was able to replicate the issue with TF v2.5 ,please find the [gist ](https://colab.research.google.com/gist/mohantym/aed6490aedca803357a48b577946d1cc/33798.ipynb)here.

[2021-08-05 15:25] sushreebarsa commented on #51122
@mdtm1g14 I tried to run your code on **Colab** & **Spyder** with **`TF v2.5`** , and didn't face  any error .Please find the [gist](https://colab.research.google.com/gist/sushreebarsa/b3bc8a9bfce3e3c522c324f6f6e8dafa/untitled354.ipynb)  for your reference.Thank you!

[2021-08-05 15:50] mohantym commented on #34219
Could you please try on latest stable version of TF 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-08-05 15:53] meghbhalerao commented on #15604
My TensorFlow and TensorFlow-gpu are 1.12.0 and CUDA 11.0 and I am facing this issue -

[code]

Someone please help. I have been struggling for days! :'(

[2021-08-05 16:17] karimnosseir commented on #51030
If you want to run on non-android then you will need to build
* the hexagon delegate (libhexagon_delegate.so - or statically)
* libhexagon_interface.so (You can reach to me directly and i can compile it and share it with you, the code to build it yourself is not fully in OSS yet, we are working on adding the remaining parts).

[2021-08-05 16:19] #51075 closed

[2021-08-05 16:35] srjoglekar246 commented on #51178
@MisterBerg you are correct, AFAIK the constants in TFLite flatbuffers (and even the runtime TFLite tensors) are required to be aligned at 8 bytes. This is mainly because most of the underlying backends/kernels we use don't require any greater alignment.
@miaout17 and I had discussed this a while back....YC, is there a way to make the converter align constants to a different multiple of 8 bytes? W

[2021-08-05 16:41] mohantym commented on #35337
Hi @yourtheron .I think  I found a typo  here  in this line
  ` def __int__(self, filterNum, kSize, strSize, padMode, name='cbr', **kwargs):  `                                                                                Was able to replicate the issue with TF v2.5 and v2.3 `after replacing __int__ with __init__ `,please find the gist [here ](https://colab.research.google.com/gist/mohantym/6d922

[2021-08-05 16:43] impjdi commented on #51126
While we can't rule out the possibility of a bug in the shader, it's often FP16 not being good enough (precision-wise), to do the math computation.  See whether FP32 works fine; if it does, you know it's a precision issue.

In our team, we bisect the graph and inspect the output.  Unfortunately, it's not easily achieved with an automatic tool, but you need to visually inspect the graph and find th

[2021-08-05 16:47] #50819 closed

[2021-08-05 16:54] UsharaniPagadala commented on #50859
@suneeta-mall
Could you please move this to closed status as it is resolved.Thanks

[2021-08-05 17:03] RichK0 commented on #50433
Hi @bxshi. The model must implement the interface specified [here](https://www.tensorflow.org/hub/reusable_saved_models#interface_definition). See [this gist](https://colab.research.google.com/gist/RichK0/7d39eaf2e3dfba50128067f73f0851d0/reproduce-integerlookup-issue.ipynb#scrollTo=2QSLT69MZ-Zb) for an example fix. [Here](https://www.tensorflow.org/guide/saved_model) is some documentation to learn

[2021-08-05 18:06] sylajarlind opened #51276 "TFLite GPU Delegate with OpenGL wrong output"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Dragonboard 845c (db845c)
- TensorFlow installed from (source or binary): Yes
- TensorFlow version (use command b

[2021-08-05 18:20] piktiv-ilkin commented on #15604
@meghbhalerao I guess your problem's cause is tensorflow and cuda version mismatch. Check [compatible versions here](https://stackoverflow.com/a/50622526/4379029). Have you tried to installed different cuda or tensorflow versions?

[2021-08-05 19:05] #46274 closed

[2021-08-05 19:05] #50577 closed

[2021-08-05 19:05] #50659 closed

[2021-08-05 19:05] #50652 closed

[2021-08-05 19:05] #50860 closed

[2021-08-05 19:05] #45470 closed

[2021-08-05 19:05] #44610 closed

[2021-08-05 19:05] #45313 closed

[2021-08-05 19:05] #44628 closed

[2021-08-05 19:05] #47870 closed

[2021-08-05 19:05] #40302 closed

[2021-08-05 19:05] #50840 closed

[2021-08-05 19:05] #50850 closed

[2021-08-05 19:05] #50800 closed

[2021-08-05 19:05] #50406 closed

[2021-08-05 19:05] #50674 closed

[2021-08-05 19:05] #50702 closed

[2021-08-05 19:05] #50833 closed

[2021-08-05 19:05] #50812 closed

[2021-08-05 19:05] #34242 closed

[2021-08-05 19:05] #24496 closed

[2021-08-05 19:05] #50806 closed

[2021-08-05 19:13] sunw70 opened #51277 "ValueError: Input 0 of node model/x/ was passed float from model/x/resource:0 incompatible with expected resource"
### 1. System information

- OS Platform and Distribution: Linux Ubuntu 20.10
- TensorFlow installation: pip package
- Tensorflow version: 2.4.1
- Python version: 3.8

### 2. Code

I created a Keras custom layer which implements a custom causal Conv1D. To do it, I simply used the classes Conv and Conv1D (they are in tensorflow/python/keras/layers/convolutional.py) and modified Conv. I'll show you

[2021-08-05 20:22] HunderlineK commented on #1511
In my case, I had just forgotten  to set the `loss` attribute of the model compiler

[2021-08-05 20:56] Cyberface commented on #32912
I am creating a dataset from filenames and also see this "/Unknown" text when calling `model.fit`. Does anyone know why this happens?

[2021-08-05 21:09] #40709 closed

[2021-08-05 21:50] old-school-kid commented on #51242
Hi @tranduchuy682
In the custom loss function that you are using y_pred is of data type tf.int32 whereas 0.5 is is tf,float32. To subtract two eager tensor both should be of same data type and hence you have to cast y_pred to float32 as well in  the regularizing parameter.

[2021-08-05 22:02] #39654 closed

[2021-08-05 22:22] #48826 closed

[2021-08-05 22:22] #47755 closed

[2021-08-05 22:31] abattery commented on #51277
For the better story of variable support, please consider using Select TF ops and converter.experimental_enable_resource_variables = True by using the TensorFlow 2.7 candidate or TensorFlow 2.6 versions.

[2021-08-05 22:32] abattery commented on #51276
@impjdi could you take a look?

[2021-08-05 22:50] matpalm commented on #32912
@cyberface it wouldn't be the dataset size, it's just that a generator doesn't have a length. i.e. you would have seen this with a tiny dataset. if you are just dealing with a fixed set of filenames you could just use `from_tensor_slices`

[2021-08-05 23:10] MeghnaNatraj commented on #50750
Is it possible to provide an end-to-end [colab](https://colab.research.google.com/) link with your code and also attach your model? We need to be able to reproduce the issue thoroughly on our end to debug this further.

*Ensure that you provide read permissions for all the links you share*

[2021-08-05 23:25] impjdi commented on #51276
what happens when you set
[code]
?

[2021-08-05 23:27] sjtusmartboy commented on #33336
@familyguy12 any progress?

[2021-08-05 23:36] sjtusmartboy commented on #30766
@joglekara Please tell us the function name

[2021-08-06 00:12] #51277 closed

[2021-08-06 00:57] sjang92 commented on #43706
To summarize the request, please include a vectorized version of tf.io.parse_tensor

[2021-08-06 01:23] myarist opened #51335 "Error while using fit_generator on TimeseriesGenerator"
For the record, last May when using this code, it was fine when compiling, but this month, an error appears when running the program which has not changed at all.

The code I use
[code]

The error I get
[code]

Need help :)

[2021-08-06 01:24] jonpsy commented on #50448
@arolet Hi, I'm currently writing a [test case](https://github.com/tensorflow/tflite-support/pull/612#issuecomment-891764933) that checks the ability of the model to re-dim the graph as per the given input. The model you've provided could serve as the testing model.  Do you mind if I use your model?

[2021-08-06 02:10] arolet commented on #50448
@jonpsy sure go ahead, feel free to use any of the code too.

[2021-08-06 02:20] MrCrazyCrab opened #51340 "TF1.13.1 how to shiled tensorflow device mapping information?"
i don't want to print the device mapping information in my console when i am training my model, i tried some methods, which only can shiled the tensorflow warning information. How should i do to shiled device mapping and the first warning?
![image](https://user-images.githubusercontent.com/52489106/128446262-5779c7bc-450b-4eab-9dd4-efd770401d1b.png)
![image](https://user-images.githubusercontent.c

[2021-08-06 03:06] FdyCN commented on #51126
@impjdi  thank you so much !
**one last question about gpu layout:**

seems like gpu(opencl) uses (C/4)HWB(C4) layout converted from BHWC(CPU layout)，why choose this layout？ maybe BHW(C4) or BH(C/4)W(C4) will be better?  These are my reasons:

1. data from different batches are independent;
2. channel data usually are accumulated together in conv ops which costs most of inference time in most CNN.

[2021-08-06 03:37] sushreebarsa commented on #51233
@ArunaKote Could you please have a look on the [link ](https://www.tensorflow.org/guide/saved_model)and let us know if it helps? Thanks!

[2021-08-06 03:42] rxy1212 commented on #50978
I have same issue in code below:
`   def simcse_loss(y_true, y_pred):
        batch = tf.shape(y_pred)[0]
        idx = tf.range(0, batch, dtype=tf.int32)
        idx_1 = idx[None, :]
        idx_2 = (idx + 1 - idx % 2 * 2)[:, None]
        y_true = tf.equal(idx_1, idx_2)
        y_true = tf.cast(y_true, tf.float32)
        y_pred = tf.math.l2_normalize(y_pred, axis=1)
        similarities = tf.ma

[2021-08-06 03:43] tranduchuy682 commented on #51242
Thank you
I've fixed the data type as you said and having new problem as below:
[code]
I don't know which causes this error because both x and y have the same length.

[2021-08-06 03:44] kevint324 opened #51344 "Possible bug with session handle as feed dict input"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2021-08-06 03:55] rxy1212 commented on #50978
I guess that tensorflow doesn't allow user to create new tensor in some context. But I can't find any documents for this

[2021-08-06 03:56] sushreebarsa commented on #51340
@MrCrazyCrab We see that you are using old version of tensorflow  1.13 which is officially considered as end of life hence not actively supported , We recommend that you upgrade to latest stable version of TF (2.5) and let us know if the issue still persists in newer versions Thanks!

[2021-08-06 05:23] arun-kumark commented on #21698
Dear all,
I am testing the performance/throughput of fp32 and quantized models on my platform x86. My configuration is as follows:

tflite-runtime==2.5.0.post1
tensorflow==1.14.0

**Hardware**
[code]

**FP32 on CPU**

[code]

**INT8 on CPU**
[code]

Observations: The performance of FP32 model is almost double than INT8 models on CPU, but Google TensorFlow lite benchmarking mentions the opposite:
[

[2021-08-06 05:35] mohantym commented on #33182
was able to replicate and resolve the issue in TF 2.5 by adding these lines.
[code]
please find the gist [here ](https://colab.research.google.com/gist/mohantym/e45f039055d195f34be5b0a6b15aa42a/33182.ipynb#scrollTo=Q-l4usR8oPQw)

[2021-08-06 05:56] UsharaniPagadala commented on #51242
@tranduchuy682

Could you please move this to closed status, if it is resolved.Thanks

[2021-08-06 07:06] yeahQing commented on #42738
The same problem occurred in tensorflow r2.5.0 with ubuntu20.04

[2021-08-06 07:06] sushreebarsa commented on #51335
@myarist
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-08-06 07:08] #51242 closed

[2021-08-06 07:11] myarist commented on #51335
ah thank you @sushreebarsa for responding to my issue 😅🙏🏻 I will move it to keras repo

[2021-08-06 07:11] #51335 closed

[2021-08-06 07:52] miguelusque commented on #42660
I think this issue is still valid

[2021-08-06 07:52] sylajarlind commented on #51276
Same results

[2021-08-06 08:07] sylajarlind commented on #51276
[opengl_tflite_fail.txt](https://github.com/tensorflow/tensorflow/files/6944107/opengl_tflite_fail.txt)
**adb logcat when running model with gpu delegate on OpenGL**

[2021-08-06 08:19] sjtusmartboy commented on #50978
@rxy1212 I agree. tf is so difficult to use. It cannot let us focus on the model optimization, but wasting lots of time on these meaningless bugs.

[2021-08-06 08:23] sjtusmartboy opened #51346 "tf.data.Iterator: TypeError: object() takes no parameters"
tf 2.5
[tf.data.Iterator](https://tensorflow.google.cn/api_docs/python/tf/data/Iterator?hl=en)

[code]

[code]

[2021-08-06 08:30] sjtusmartboy commented on #51346
Also I'd like to ask whether there is any group that we can get access to the developer quickly. Because I've submit some issues for half a month, only to see the assignees changing times and times, but get no solutions, the efficiency of which is so low.

[2021-08-06 08:31] mohantym commented on #25568
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-06 08:49] fiora0 commented on #43030
TF 2.5 GPU
CUDA v11.4
Windows 10
Cuda compilation tools V11.4.48

I renamed cupti64_2021.2.0.dll into cupti64_112.dll
and do not have the error:
2021-08-06 10:30:20.552092: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cupti64_112.dll'; dlerror: cupti64_112.dll not found

Yet, I still have the following:
cupti_interface_->Subscribe( &subscriber_, (

[2021-08-06 09:05] sunw70 commented on #51277
Thanks @abattery for your reply. I upgraded to TensorFlow 2.6.0rc2, but now it appears this error:

    Traceback (most recent call last):
    File "model.py", line 406, in <module>
    model = build_model(x_train, y_train)
    File "model.py", line 373, in build_model
    r=Myconv1D(filters=1,kernel_size=3,padding='causal',dilation_rate=1,use_bias=False,name="MyConv")(inp)
    File "/home/es/venv

[2021-08-06 09:08] Linging opened #51347 "save_model and export categorical_column_with_vocabulary_file"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2021-08-06 09:16] sushreebarsa commented on #28663
@sleighsoft
It looks like you are using an older Version of Tensorflow 2.0. Many bugs have been fixed in the latest version. Can you please execute your code using Latest stable Version(2.5) and let us know if the issue still persists? Thanks!

[2021-08-06 09:19] old-school-kid commented on #50978
Hi @rxy1212
Tensorflow 2 by default executes in Eager mode and thus `tf.shape(y_pred)[0]` will throw and error. Had it been in graph mode which can turn on by disabling the tensorflow2 behavior there would have been no such error. There was a major update in Tensorflow2.5 which made it more friendly to use and in the background tf.autograph is executed for you. Thus you will face the error in Tf2.

[2021-08-06 09:20] Cyberface commented on #32912
@matpalm ah ok thank you for the clarification, very helpful!

[2021-08-06 09:20] abattery commented on #51277
Please export the keras model as a saved model and use the `from_saved_model` api instead.

[2021-08-06 09:32] sushreebarsa commented on #29874
@rlewkowicz  It looks like you are using an older Version of Tensorflow 2.0. Many bugs have been fixed in the latest version. Can you please execute your code using Latest stable Version(2.5) and let us know if the issue still persists? Thanks!

[2021-08-06 09:38] sushreebarsa commented on #32052
@Mageswaran1989 Could you try as per the above comment with latest stable version of TF 2.5 and let us know if the issue still pesists? Thanks!

[2021-08-06 09:43] sushreebarsa commented on #33230
@KristianHolsheimer  It looks like you are using an older Version of Tensorflow 2.0. Many bugs have been fixed in the latest version. Can you please execute your code using Latest stable Version(2.5) and let us know if the issue still persists? Thanks!

[2021-08-06 09:43] sjtusmartboy commented on #50978
@old-school-kid I agree with, the most import part is the math, but I find it not easy to make iteration of algorithms in a short time

[2021-08-06 09:47] sunw70 commented on #51277
Now I'm using SavedModel format in this way at the end of file, after `model = build_model(x_train, y_train)`:

    model.save('my_model')
    converter = tf.lite.TFLiteConverter.from_saved_model('my_model')
    converter.experimental_enable_resource_variables = True
    tflite_model = converter.convert()
    open(tflite_model_name + '.tflite', 'wb').write(tflite_model)

However the error remains:

[2021-08-06 09:52] sushreebarsa commented on #34371
@SaschaHeyer Could you please refer to the above comment and let us know if you still face this issue ?Thanks!

[2021-08-06 09:57] sushreebarsa commented on #34391
@kpe It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Can you please execute your code using Latest stable Version(2.5) and let us know if the issue still persists?Please refer to this [issue comment ](https://github.com/huan/tensorflow-handbook-tpu/issues/1#issuecomment-606189444)  and let us know if it helps? Thanks!

[2021-08-06 09:58] MaybeAndroid opened #51348 "[GPU DELEGATE] [2.5.0] Failed to apply delegate: TfLiteGpuDelegate Init: MUL: Expected a 3D tensor of shape HxWxC or a 4D tensor of shape 1xHxWxC but got 12x4"
System information

OS Platform and Distribution: Android all possible versions
TensorFlow version : 2.5.0
Describe the current behavior
Gpu delegate failed to initialize with model

java.lang.IllegalArgumentException: Internal error: Failed to apply delegate: TfLiteGpuDelegate Init: MUL: Expected a 3D tensor of shape HxWxC or a 4D tensor of shape 1xHxWxC but got 12x4 TfLiteGpuDelegate Prepare: de

[2021-08-06 10:00] thunguyenth commented on #43030
My settings:
   - Wins 10
   - CUDA v11.1
   - GPU GTX 3090

I have tried several methods but it still did not work. Then, I tried using the "cudatoolkit" and "cudnn" from conda.
You can try by opening the terminal of your virtual environment and type:
`conda install cudatoolkit`
`conda install cudnn`

I know that it is not the absolute solution, but hope it works for you

[2021-08-06 10:04] #26806 closed

[2021-08-06 10:12] LanderMoerkerke commented on #41448
Any progress on this issue?

[2021-08-06 10:15] OleksandrGrument commented on #45845
Now after yesterday merges in 2.3.0 by @mihaimaruseac this version have the same error

[2021-08-06 10:15] X-ray-L commented on #36885
i meet this  error too
tensorlfow = 2.2
protobuf=3.15.6

[2021-08-06 10:25] superplay1 opened #51349 "type dependent output"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-08-06 10:50] sushreebarsa commented on #51088
@Neutrino0532 Could you please have a look on this[ link](https://www.tensorflow.org/install/source#gpu),and let us know if it helps? Thanks!

[2021-08-06 11:18] sushreebarsa commented on #51348
@MaybeAndroid In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-06 11:20] Neutrino0532 commented on #51088
@sushreebarsa I also referenced this link before compile,  to decide the versions of my building tools. I think my building tools are in the correct version, as I have listed in the system information.
I'd like to discuss if it's possible to assign a lower compute compatibility so that compile will continue, despite the compute compatibility is not supported by my graphics card. And how will the n

[2021-08-06 11:21] sylajarlind commented on #51276
**Extra info:**
When delegating with XNNPACK:
[code]
results are good, inference time is lower (I get around 8fps compared to running on CPU without delegate with 3fps)

[2021-08-06 11:48] MaybeAndroid commented on #51348
`   val options = Interpreter.Options().apply{
        if(compatList.isDelegateSupportedOnThisDevice){
            // if the device has a supported GPU, add the GPU delegate
            val delegateOptions = compatList.bestOptionsForThisDevice
            this.addDelegate(GpuDelegate(delegateOptions))
        } else {
            // if the GPU is not supported, run on 4 threads
            this.se

[2021-08-06 11:50] fiora0 commented on #43030
@thunguyenth
thanks for your answer but only problems with CUPTI not loading some libraries for tensorboard.

In any case, I solved it: the path to C:\Program Files\NVIDIA Corporation\Nsight Systems 2021.2.4\target-windows-x64
was not set while there was a path to
C:\Program Files\NVIDIA Corporation\Nsight Compute 2021.2.0
So I added the path to
C:\Program Files\NVIDIA Corporation\Nsight Systems 2

[2021-08-06 11:50] abattery commented on #51348
@impjdi could you take a look?

[2021-08-06 11:51] ymzlygw opened #51350 "TensorArray Can't be used for tf.concat?"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-08-06 11:53] abattery commented on #51277
I would recommend using tf.saved_model.save API instead. https://www.tensorflow.org/api_docs/python/tf/saved_model/save

[2021-08-06 11:54] abattery commented on #51277
If the error happens at the exporting stage, please upload a new post regarding the failure of the keras exporting to the saved model.

[2021-08-06 12:37] airman00 commented on #51180
@sushreebarsa thank you for the quick reply!

Please pull this repo to reproduce the error. I have included sample tflite files.
https://github.com/airman00/tensorflow-object-detection-example

The error:
[code]

[2021-08-06 12:47] sanatmpa1 commented on #51234
@catskillsresearch,

I am able to reproduce the error in `TF 2.5` and `TF nightly`. Please find the [gist here](https://colab.research.google.com/gist/sanatmpa1/fca7b3cb87d6bc407453600b4c784472/51234.ipynb).

[2021-08-06 12:49] kumariko commented on #51244
@yangtao121 In order to expedite the trouble-shooting process, please provide the complete code snippet to reproduce the issue reported here. please do let us know which version of tf you are using.    Thanks!

[2021-08-06 13:00] sushreebarsa commented on #51350
@ymzlygw In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-06 13:14] sanatmpa1 commented on #51148
@jmendezv,

Please update the fields in template with the issue that you're facing, and also provide a simple standalone code to reproduce the issue. Thanks!

[2021-08-06 13:17] sanatmpa1 commented on #51179
@crawlingcub,

Please provide the reproducible standalone code to expedite the trouble shooting process. Thanks!

[2021-08-06 13:18] yangtao121 commented on #51244
My Tensorflow version is 2.5.0.

This code turns on multithreading(multiprocessing):

[code]

`self.rolling()`function as show below:

[code]

The `worker` is used for sampling data, the `policy` tell the `worker` how to do, `policy` give the action by:

[code]

`worker.runner()`:

[code]

I found when I use multiprocessing, the block will block at ` action, prob = self.policy.get_action(state)` i

[2021-08-06 13:19] yangtao121 commented on #51244
My Tensorflow version is 2.5.0.

This code turns on multithreading(multiprocessing):

[code]

`self.rolling()`function as show below:

[code]

The `worker` is used for sampling data, the `policy` tell the `worker` how to do, `policy` give the action by:

[code]

`worker.runner()`:

[code]

I found when I use multiprocessing, the thread will block at ` action, prob = self.policy.get_action(state)`

[2021-08-06 13:20] ymzlygw commented on #51350
There is no error messages but only wrong result. Code is simple as:
---------------------------
import tensorflow as tf
a = tf.ones([2,3])
b = [a] * 2

ta = tf.TensorArray(tf.float32, size=0, dynamic_size=True)
ta = ta.write(0, a)
ta = ta.write(1, a)
ta = ta.stack()

d1 = tf.concat(b, axis=1)
print("d1:", d1)

d2 = tf.concat(ta, axis=1)
print("d1:", d2)
--------------------------

[2021-08-06 13:21] sanatmpa1 commented on #51084
I am able to reproduce the error in `TF 2.5` and `TF nightly`. Please find the [gist here](https://colab.research.google.com/gist/sanatmpa1/5ecdd2cf08cce6cd9f542e1e6ce53c12/51084.ipynb). Thanks!

[2021-08-06 13:25] sanatmpa1 commented on #51247
@markalavin,

Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) with corresponding details and also please provide a simple reproducible standalone code to expedite the troubleshooting? Thanks!

[2021-08-06 13:32] sanatmpa1 commented on #51346
@sjtusmartboy,

Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) to expedite the troubleshooting process. Thanks!

[2021-08-06 13:41] kumariko commented on #51241
@mayou36 I am able to reproduce the error in [**`TF v2.5`**](https://colab.research.google.com/gist/kumariko/963e9b7da67ed97c33080f66a039a8e1/51241.ipynb) ,[**`TF nightly`**](https://colab.research.google.com/gist/kumariko/597f3aa9b8711421cc2d4cf715000395/51241.ipynb) and [**`TF v2.4`** ](https://colab.research.google.com/gist/kumariko/747438b98304e746222ff27bf89e39aa/51241.ipynb) Please find the

[2021-08-06 13:45] markalavin commented on #51247
@sanatmpa1, I am working on creating a Jupyter workspace that reproduces the problem.   I will post here when it's ready to try.

In the meantime, can you offer any advice about what could contribute to the "Gradients do not exist for variables"?  Thanks.

[2021-08-06 13:56] drasmuss commented on #33182
That doesn't fix the problem, it just hides the erroneous warning.

[2021-08-06 14:05] kumariko commented on #51077
@8549  In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here. please do let us know which version of tf you are using. Thanks!

[2021-08-06 14:07] kumariko commented on #51051
@jackyesf  In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here. Thanks!

[2021-08-06 14:13] n33lkanth commented on #51127
Hi @saikumarchalla ,
Thank you for your feedback. I raised this issue here as it is related to the TensorFlow official documentation. Do you mean that the doc I mentioned in previous post is not Tensorflow official doc?

[2021-08-06 14:20] markalavin commented on #51247
@sanatmpa1 , here is a small test case that exhibits the problem of missing gradients:
[code]

[2021-08-06 14:24] Saduf2019 commented on #51043
@BlueSkyyyyyy
Can you try setting the dtype of the tf.constant to tf. float 64 bit floating point tensor)
2)avoid using main, check if you can get better result by removing main.
If you really have to use main then try putting your code in py file in colab and try to execute using filename.py. [the loss of precision, due to the large number you have chosen causing the issue]

[2021-08-06 14:36] kumariko commented on #51349
@Saduf2019 I am able to reproduce the error in [**`TF v2.5`** ](https://colab.research.google.com/gist/kumariko/98e2b572f9ab95e93632c0fe7f709010/51349.ipynb ),[**`TF nightly`**](https://colab.research.google.com/gist/kumariko/b383fc69c00b004740a79b7025dc6f9f/51349.ipynb) and [**`TF v2.4`**](https://colab.research.google.com/gist/kumariko/f972bbd2364a95cf2a279b32d51bce19/untitled4.ipynb) Please fin

[2021-08-06 14:41] sunw70 opened #51351 "TypeError: Cannot convert a symbolic Keras input/output to a numpy array by using a custom layer"
**System information**
* OS Platform and Distribution: Linux Ubuntu 20.10
* TensorFlow installation: pip package
* Tensorflow version: 2.6.0rc1
* Python version: 3.8

I created a Keras custom layer which implements a custom causal Conv1D. To do it, I simply used the classes Conv and Conv1D (they are in tensorflow/python/keras/layers/convolutional.py) and modified Conv. I'll show you how I use this

[2021-08-06 14:49] koubadomik opened #51352 "Is it possible to compile tflite-runtime python wheel on m1 mac (arm64)?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS Big Sur version 11.4
- TensorFlow installed from (source or binary): source
- TensorFlow version: v2.6.0, v2.5.0
- Python version: 3.8.10
- Bazel version (if compiling from source): 4.1.0
- GCC/Compiler version (if compiling from source): Apple clang version 12.0.5 (clang-1205.0.22.11)
- CUDA/cuDNN version: -

[2021-08-06 15:21] sushreebarsa commented on #51351
@sunw70  Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-08-06 15:24] sushreebarsa commented on #51344
@Saduf2019  Was able to reproduce the issue in TF v2.4 , TF v2.5 , please find the [gist ](https://colab.research.google.com/gist/sushreebarsa/648145f54639cb34e614669fcafa4add/untitled357.ipynb)here.Thanks!

[2021-08-06 15:35] #51351 closed

[2021-08-06 15:59] mihaimaruseac commented on #45845
Please provide a minimal reproducer. If you can, please bisect which cherry-pick causes the error.

It is very likely that the code you are using has a security issue, that is the only reason we do cherry-picks in older branches.

[2021-08-06 16:05] #50889 closed

[2021-08-06 16:06] #50888 closed

[2021-08-06 16:08] mihaimaruseac commented on #50751
`model.predict(input)` does exactly this. It's just one line, there's no need to complicate TF API for this

[2021-08-06 16:08] #50751 closed

[2021-08-06 16:18] sushreebarsa commented on #51145
@rmothukuru Was able to reproduce on colab using TF [v2.3](https://colab.research.google.com/gist/sushreebarsa/93de3d9cbb52daaf1e6589a951f234ca/sparse_tensor_dense_matmul_benchmark.ipynb#scrollTo=IyCaVfHFK3QO),[v2.4](https://colab.research.google.com/gist/sushreebarsa/b823c7b058446445728dacf45ba4d9c0/sparse_tensor_dense_matmul_benchmark.ipynb#scrollTo=qCrlrsqG2I4M),&  [v2.5](https://colab.research

[2021-08-06 16:40] mohantym commented on #47368
Was able to resolve the issue with TF v2.5 ,please find the gist [here.](https://colab.research.google.com/gist/mohantym/4f8b14d77515e0f5a1a89217d954bddd/mirroredstrategywithrmsprop.ipynb#scrollTo=0neHYIlVAaBl)Thanks!

[2021-08-06 17:12] mdanatg commented on #50978
You should avoid using the Session API in TF2. I'm not 100% sure, but it likely is the cause for your error. See [this guide](https://www.tensorflow.org/guide/migrate#1_replace_v1sessionrun_calls).

[2021-08-06 18:08] sjtusmartboy commented on #51346
@sanatmpa1 try the code and you find it

[2021-08-06 18:26] OleksandrGrument commented on #45845
I'm sorry. It was false alarm, looks like the local 2.5.0 lib cached. All fine with 2.3.0

[2021-08-06 18:30] mihaimaruseac commented on #33978
So I think the issue here is that loading the model needs to identify all files in a subdirectory and to do that it uses `GetMatchingPaths`. But `[` is a special character for `GetMatchingPaths`.

[2021-08-06 18:49] bhack commented on #33978
Yes I think is the same as https://github.com/tensorflow/tensorflow/issues/35489

[2021-08-06 18:54] impjdi commented on #51348
looks like the MUL is malformed with bad dimensions.  If you have A MUL B, then the dimensions of A and B must match.

[2021-08-06 19:04] #50894 closed

[2021-08-06 19:11] omerasif57 commented on #30746
Tensorflow:
[code]
Error:

[code]

I do not want to downgrade as 1.x has gone EOL.
Last option would be to go [bazel](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#transform-reference) it.

[2021-08-06 19:40] crawlingcub commented on #51179
Hi,

Please find the code to reproduce the bug below. You will need to download the imagenet dataset and pre-sort it. Change the directory from `'./imagenet/val` to where you downloaded.

Download the model files from [here](https://drive.google.com/file/d/1AMnRXvEpmIIxVtM7xsHWloDlcSTuBLQ0/view?usp=sharing), untar, and run the script below with the path to the directory.

[code]

Running this scri

[2021-08-06 20:45] bmd3k commented on #50921
@sjtusmartboy, thanks for the report. @one-two-one-two, thanks for the helpful additional details.

In my case I have no problems with tensorflow==2.5.0, tensorboard==2.5.0 and tensorboard-plugin-profile==2.5.0.

However, if I downgrade to tensorboard-plugin-profile==2.4.0, then I can reproduce the error you are seeing.

It does not surprise me that tensorboard-plugin-profile==2.4.0 is incompatibl

[2021-08-06 21:35] esghif opened #51354 "Out-of-memory error in eager mode loop"
Following code gives an out-of-memory error when running in tensorflow-2.5. The code itself does not do anything useful it is just meant to highlight what I believe is a problem.

For the small problem (i.e. ```b, a, c = 1, 1000, 5 # small problem```) the program completes. For the large problem (i.e. ```b, a, c = 1, 10000, 5 # large problem```) the program runs out of memory.

My expectation woul

[2021-08-06 23:39] whatdhack commented on #50607
@penpornk , is there a list  of  python level ops that ends up using variant data types ?  For example tensorflow.keras.layers.LSTM  uses TensorList.  Not sure if the TensorList  comes from the parent class tf.keras.layers.RNN  or not.  If it is the former, then all RNNs are unfriendly to plugins.   One way I  can think of getting around this issue  is replacing  the op implementation with one tha

[2021-08-07 00:03] terryheo commented on #51352
For Bazel build, you need to provide `--macos_cpus=arm64`
So the following command might work.
[code]

For CMake build, you need to use it as following.
[code]
But the current `tensorflow/lite/tools/pip_package/build_pip_package_with_cmake.sh` doesn't have a way to provide a custom flag. You need to modify the script directly.

[2021-08-07 00:49] suneeta-mall commented on #50859
@UsharaniPagadala I disagree that its fixed in 2.5. I tried and I saw the same issue on 2.5 then had a look at your notebook and can see you missed running the actual step tat restarts the training ..
see here https://colab.research.google.com/gist/UsharaniPagadala/45e8e99b7870e1f81b115d88c7f72ed3/tf-bug-50859-v2optimizer.ipynb#scrollTo=YXqWUOIpg44F

[2021-08-07 01:47] jvishnuvardhan commented on #48356
@romanovzky As this is more related to keras-team/keras, I will close this issue here. Let's follow the progress there in keras-team/keras https://github.com/keras-team/keras/issues/14580. Thanks!

[2021-08-07 01:47] #48356 closed

[2021-08-07 02:41] ttang235 commented on #32052
Have you figured out why this happened? We have the same issue. We also used train_and_evaluate with ParameterServerStrategy. In RunConfig we set eval_distribute=None (we used to set eval_distribute to ParameterServerStrategy in tf 1.15 and it worked well, but it won't work in tf 2.5.0), not sure whether it's related.

[2021-08-07 07:15] skumarlabs commented on #22623
@maxlawwk @wt-huang  I am not sure if the numbers on my system fit the calculation and explaination here. I have RTX 2060 having 6 GB VRAM even reported by tensorflow but only 3961 MB is used while creating tensorflow device. Just ~64% of the total.

Attaching screenshot for reference:

![image](https://user-images.githubusercontent.com/8385414/128591233-0c3a3592-5e90-44fe-b9e1-8f775634b307.png)

[2021-08-07 09:47] MaybeAndroid commented on #51348
According to the advice in #45845 thread I checked 2.3.0 and 2.2.0 version of gpu delegate and they are working well with the model. I'm not familiar with internal structure of calculation, it looks like the 2.5.0 is corrupted.

[2021-08-07 09:48] MaybeAndroid commented on #51348
According to the advice in #45845 thread I checked 2.3.0 and 2.2.0 version of gpu delegate and they are working well with the model. I'm not familiar with internal structure of calculation, it looks like the 2.5.0 is corrupted.

[2021-08-07 11:26] Koushik667 commented on #50801
@abattery Please let me know if you need anything from my side.

[2021-08-07 11:29] Koushik667 commented on #50829
I switched to a linux machine and it worked there, Thank you.

[2021-08-07 11:30] #50829 closed

[2021-08-07 13:32] Hinnerk8 opened #51356 "ERROR: Could not find a version that satisfies the requirement tensorflow==1.15 (from versions: none)"
System information:

Windows 10
Python 3.6.13
Pip-Version: 21.2.3.
Would like to install tensorflow 1.15

Hey,
i would like to install tensorflow 1.15.
I am setting up a virtual environment for this and typing the following (The variable OUTPUT_FOLDER is defined above).

pip3 install virtualenv
python3 -m virtualenv $OUTPUT_FOLDER/venv
source $OUTPUT_FOLDER/venv/bin/activate
pip3 install --pre "te

[2021-08-07 13:47] yuxiazff opened #51357 "tf.get_logger().setLevel("ERROR") dose not work"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-08-07 15:18] Misoknisky opened #51358 "How to interpret the model analysis report of TensorFlow2"
2021-08-07 22:21:14.783664: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-08-07 22:21:14.783849: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one

[2021-08-07 16:26] sushreebarsa commented on #51356
@Hinnerk8 We see that you are using older version of tensorflow (1.15) which is officially considered as end of life that is not actively supported, We recommend that you upgrade to latest stable version of TF( 2.5 )  and let us know if the issue still persists in newer versions .Thanks you!

[2021-08-07 17:25] yongtang commented on #46913
Added a PR #51359 for the fix.

[2021-08-07 18:04] #50842 closed

[2021-08-07 21:09] oscarfdzpata commented on #36889
please how did you solve it, having the same issue

[2021-08-07 21:28] mihaimaruseac commented on #33978
Confirmed. Closing this as duplicate of #35489

It will take some time until this gets fixed, but hopefully we can get this fixed in the near future.

[2021-08-07 21:28] #33978 closed

[2021-08-08 01:23] Misoknisky commented on #51358
The tensorflow version is 2.4.0 with gpu

[2021-08-08 02:35] MaanasArora commented on #51350
Hi @ymzlygw,

You're using `tf.concat` over a `TensorArray`, and `tf.concat` seems only to support lists (see [documentation](https://www.tensorflow.org/api_docs/python/tf/concat)). Instead, you can use [`TensorArray.concat()`](https://www.tensorflow.org/api_docs/python/tf/TensorArray#concat).

Let me know if this solves the issue, thanks.

[2021-08-08 02:41] PINTO0309 commented on #37544
I'm still getting the same issue with v2.6.0-rc1.

[2021-08-08 08:04] sushreebarsa commented on #40167
@amitDaMan Could you please refer as per the above [comment](https://github.com/tensorflow/tensorflow/issues/40167#issuecomment-683131276) and let us know if this issue still persists ?Thanks!

[2021-08-08 08:07] sushreebarsa commented on #40704
@mlubinsky-arm Could you please let us know if the issue still persists and feel free to close the issue if it is resolved for you ? Thanks!

[2021-08-08 08:09] sushreebarsa commented on #41226
@TylerTheHumanCompiler Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-08-08 08:30] Hinnerk8 commented on #51356
Thank you for your answer!
I would like to run the temporal fusion transformer of the google-research team, which requires tensorflow 1.15.
https://github.com/google-research/google-research/tree/master/tft
I am not sure if this is going to work with tensorflow 2.5.
Is there any possibility to install tensorflow 1.15? On the webpage of tensorflow is still the install descripition:
https://www.tens

[2021-08-08 08:38] ArunaKote commented on #51233
Thank You .But this link does not show about getting tf dialect(mlir).I tried tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-mlir-translate --savedmodel-objectgraph-to-mlir --tf-savedmodel-exported-names=saved_model /path/to/savedmodel -o out.mlir using this I am getting tf dialect but it is encapsulated with tf.excutor .it also contains  %72 = "tf.PartitionedCall"(%71) {_collective_manager_ids

[2021-08-08 08:38] jiayugedede commented on #51096
Yes, you can close this issue, your suggestion is working to me.

[2021-08-08 08:38] jiayugedede commented on #51096
Thank you very much!

[2021-08-08 08:41] jiayugedede commented on #51096
Yes, you can close this issue, your suggestion is working to me. Thank you very much.

[2021-08-08 08:53] Misoknisky commented on #32809
###  Hellow, i use code  like this (from yunlong12)
`import tensorflow as tf
from tensorflow.python.keras.engine.base_layer import Layer
from tensorflow.keras.layers import Conv2D
from tensorflow.python.profiler.model_analyzer import profile
from tensorflow.python.profiler.option_builder import ProfileOptionBuilder
print('TensorFlow:', tf.__version__)

model = tf.keras.applications.ResNet50()
forw

[2021-08-08 09:01] sbushmanov commented on #50943
Anything from @mihaimaruseac ?

[2021-08-08 09:21] #51243 closed

[2021-08-08 13:22] sjtusmartboy opened #51375 "trainable_variables being empty in tf2.5"
tf2.5
[code]

In tf2.5, the above output is [ ], but in tf1.13, it has variables `[<tf.Variable 'eeeeeee:0' shape=(2, 5) dtype=float64_ref>]`. Why?

[2021-08-08 13:23] JJKK1313 commented on #373
Also having the same problem,
tf.shape() returns some wierd number for placeholder's shape.
[code]
gives me:
[code]

[2021-08-08 13:43] JJKK1313 opened #51376 "ValueError: Attempt to convert a value (None) with an unsupported type (<class 'NoneType'>) to a Tensor."
I'm Trying to write my own RandomHSV custom layer to create faster augmentations to images (and later on just remove it from the model).
the code is as follows:
[code]

When the whole model is built (or trying to build it self), I get the error:
[code]
or when I use the ```tf.random.Generator()``` class:
[code]
this is because I don't tell the model's Inputs layers the batch size before I run it.

[2021-08-08 13:58] koubadomik commented on #51352
Thanks a lot, this make the first part of the script run. On the other hand in this part:
[code]
I am getting:

[code]
numpy is installed on my system

[2021-08-08 14:11] shubhamgaygol commented on #29377
AttributeError: module 'tensorflow.keras.models' has no attribute 'Sequencial'

[2021-08-08 14:12] #51096 closed

[2021-08-08 14:20] sushreebarsa commented on #51375
@sjtusmartboy Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-08 15:32] rschumi0 opened #51377 "InputSpec argument ignored"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-rc4-71-g582c8d236cb 2.4.0
- Python version: 3.8.5

**Describe the current behavior**
The `ndim` argument of the [InputSpec](https://www.tensorflow.org/api_docs/python/tf/keras/layers/InputSpec?hl=ja) o

[2021-08-08 16:04] markalavin commented on #51247
Well, it turns out that the problem can be fixed by changing the following two lines in the preceding example code:
[code]
This seems rather strange to me, since it implies that the input image is being compared with the output image, whereas in
fact the loss function evaluates the probability of getting the output image from the output distribution.   Nevertheless, I'll take it, since it also pro

[2021-08-08 16:04] #51247 closed

[2021-08-08 16:17] ymzlygw commented on #51350
Thanks for your reply , yeah,  as  I said above: """ I find that I can use [TensorArray.concat() + tf.reshape(ta, shape= [X,X])] to achieve the correct the result( as tf.concat(list) do ), but it's a little bad because you should caculate the resize_shape before. And in factly I want that TensorArray can do it itself ,  Maybe developer can develop it to support this?"""

[2021-08-08 16:24] jacksonfengwa opened #51378 "transfer learning model based on universal sentence encoder cannot save to tf model for tensorflow serving"
The model is created using the following codes,

    model = tf.keras.models.Sequential()

    model.add(hub.KerasLayer("https://tfhub.dev/google/universal-sentence-encoder/4", input_shape=[], output_shape=[512], dtype=tf.string, trainable=False))

    model.add(tf.keras.layers.Dense(10, activation='relu'))
    model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

    model.compile(optimizer=

[2021-08-08 17:01] rschumi0 opened #51379 "InputSpec missing float64 support and wrong error message"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-rc4-71-g582c8d236cb 2.4.0
- Python version: 3.8.5

**Describe the current behavior**
The [InputSpec](https://www.tensorflow.org/api_docs/python/tf/keras/layers/InputSpec?hl=ja) seems to have an issue w

[2021-08-08 18:33] Kimidoge opened #51380 "Exception Error while converting Keras LSTM model to TFlite model"
I have trained an LSTM model that takes in sensor values from a smartphone using Keras and currently am trying to convert the model into TFLite format to deploy it on Android Studio. However, I am facing this issue. I am relatively new to all this, therefore any pointers, suggestions and even criticism to improve my code will be very useful. The error code is too long therefore I have to snip it a

[2021-08-08 20:04] #50870 closed

[2021-08-08 22:40] relativeflux opened #51385 "Mixed precision not working with stateful LSTM/GRU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 (Colab and own machine)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not tested
- TensorFlow installed from (source or binary): pip from a conda env
- T

[2021-08-08 22:42] abattery commented on #51380
Please try out with the recent TensorFlow version.

[2021-08-08 22:52] jacksonfengwa commented on #51378
To reproduce, please simply create the model using the codes and save it in 'tf' format. TIA

[2021-08-08 23:02] philyoun commented on #43471
Any update to this issue?
I was reviewing the source code of `keras.layers.AdditiveAttention()`, and found it was not implemented as the original paper as well.

[2021-08-08 23:04] jomoengineer commented on #35889
I attempted with Tensorflow 2.5.0 and I get the following error:
[code]

This is similar to an older issue I filed:
[https://github.com/tensorflow/tensorflow/issues/34219](url)

[2021-08-08 23:05] jomoengineer commented on #34219
I attempted with Tensorflow 2.5.0 and it still fails:
[code]

[2021-08-08 23:13] philyoun commented on #43471
Upon reading #39332, it seems like I should aware of the base implementation of this source code and call additional this and that(matrices W1, W2 and so on) by my own when I use this..

[2021-08-08 23:20] gruentee commented on #47311
For some strange reason re-formulating the import statements fixed it for me.
This is really confusing.

[2021-08-08 23:45] jomoengineer commented on #34219
I attempted with Tensorflow 2.4.2 and had a similar issue. Looking at the targets folder, there was no 'disco_f746ng' reference but there was a 'stm32f4' one so I tried that.
This seemed to compile and resulted in the following folder:

[code]
From here I was able to complete the rest of the process, but seen the following warning during the 'mbed compile' step:
[code]

This resulted in the follow

[2021-08-08 23:55] sjtusmartboy commented on #51375
@sushreebarsa try the code and you will find it

[2021-08-09 00:02] jomoengineer commented on #34219
Oh, actually the initial build resulted in the following folder:
[code]

[2021-08-09 02:22] terryheo commented on #51352
If you're using `tensorflow/lite/tools/pip_package/build_pip_package_with_cmake.sh` you'd better check if `${PYTHON_INCLUDE}` and `${PYBIND11_INCLUDE}` are defined properly.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/pip_package/build_pip_package_with_cmake.sh#L30
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/pip_package/build_pip_packa

[2021-08-09 02:24] zhousteven opened #51388 "can not open include file, 无法打开包括文件: “tensorflow/core/lib/core/error_codes.pb.h”: No such file or directory"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
- Mobile device (e.g

[2021-08-09 02:35] tilakrayal commented on #51072
@sjtusmartboy ,

Without the reproducible code, it would be difficult for us to debug the issue. In order to expedite the trouble-shooting process, could you please provide completed code.Thanks!

[2021-08-09 02:37] tilakrayal commented on #51078
@imohamadhoseins ,

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-08-09 02:42] zhousteven commented on #51388
[error.log](https://github.com/tensorflow/tensorflow/files/6951901/error.log)
attachment is whole error log for reference

[2021-08-09 03:26] flutterq2 commented on #46840
[[already solved] TypeError: __array__() takes 1 positional argument but 2 were given](https://exerror.com/typeerror-array-takes-1-positional-argument-but-2-were-given/)

[2021-08-09 03:33] execptionerror commented on #38012
[[Already Solved] AttributeError: module ‘keras.utils.generic_utils’ has no attribute ‘populate_dict_with_module_objects’
](https://exerror.com/attributeerror-module-keras-utils-generic_utils-has-no-attribute-populate_dict_with_module_objects/)

[2021-08-09 03:52] BlueSkyyyyyy commented on #51043
@Saduf2019
1）I remove main ,but have the same problem;
2)  if I use tf.float64, can get the right ans, but it is not a same question; float32 should support the precision.

as i use float32 in numpy or python,  can get the right ans:
code:
[code]
run get the ans:
[code]
so i think float32 is enough for this case .

[2021-08-09 04:21] relativeflux commented on #51385
On both platforms if I explicitly set the dtype of the rnn layer to tf.float16 I get:

[code]

[2021-08-09 06:03] sushreebarsa commented on #51385
@relativeflux
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-08-09 06:05] sushreebarsa commented on #51378
@jacksonfengwa
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-08-09 06:06] one-two-one-two commented on #50921
Yes, problem solved.
thanks a lot

[2021-08-09 06:33] aleks73337 commented on #50872
@tilakrayal, it's fully reproducible code just saved in txt format for uploading it to github. Ok, let me explain how to use it.
1. Download test_ipynb.txt
2. Change the format of file. test_ipynb.txt -> test.ipynb
3. Open it with jupyter notebook
Github doesn't allow to upload ipynb format files. So I just changed the format. But if you change the format back, it will work.

[2021-08-09 06:51] FdyCN commented on #50577
@ymodak sorry i'm late， i changed to r22b，it works.   thanks a lot!

[2021-08-09 06:58] tilakrayal commented on #51347
@Linging ,

We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue.Thanks!

[2021-08-09 07:24] yuyecreus opened #51389 "Android Studio CPU Profiler"
Hello!

I have a model built with tensorflow and exported to tensorflow lite and integrated to Android Studio.  I want to profile it and hence i follow the steps [] (https://www.tensorflow.org/lite/performance/measurement#android_studio_cpu_profiler) in the section of Android Studio CPU Profiler.  However, in the end, I see no thread like the one called "recognizeImage()" in the example and I am n

[2021-08-09 07:37] Kimidoge commented on #51380
Okay I'll give that a try and will let you know ASAP.
I've also ran the code using Google Colab and it seemed to worked in  converting the Keras file to TFlite. Is there any downside of using Colab to do the conversion?

[2021-08-09 07:57] JiashuGuo commented on #51209
Actually, I found the converted TFLite model couldn't run through the TFLite interpreter with the error:

`Traceback (most recent call last):
  File "converter.py", line 100, in <module>
    interpreter.invoke()
  File "/home/dev/.local/lib/python3.6/site-packages/tensorflow/lite/python/interpreter.py", line 858, in invoke
    self._interpreter.Invoke()
RuntimeError: Input tensor 1283 lacks data
`

[2021-08-09 08:01] myoung3 opened #51390 "version tag mismatch github: v2.5.0 python: 2.5.1"
if you build from source from github tag v2.5.0 it produces a module file that's 2.5.1

[2021-08-09 08:13] myoung3 commented on #51390
nevermind I may have accidentally pulled HEAD instead of v2.5.0

[2021-08-09 08:18] #51390 closed

[2021-08-09 08:18] myoung3 commented on #51390
nevermind I pulled branch r2.5 rather than tag v2.5.1

[2021-08-09 08:23] tibbe commented on #50820
Works well. Could perhaps a somewhat more elaborate example where the inputs/outputs of the stage is connected to a model. I'd imagine it'd look something like:

[code]

Feel free to close.

[2021-08-09 08:24] LeonardoPhysh commented on #51240
@sushreebarsa I was running the above code on CPU with TF V1.15(sorry for missing the version info), and I checked with TF v2.5 and it has no error also.

I also tested on GPU(also v1.15), It has no error on GPU。

[2021-08-09 08:26] mohantym commented on #13222
Was able to resolve  the issue with TF v2.5 , TF took 4.5 seconds and numpy 6.86 seconds now unlike previous scenario  .please find the[ gist](https://colab.research.google.com/gist/mohantym/d70dd4c4429597303e3ade64001f90a0/13222.ipynb#scrollTo=ElUkZhQKAKZI) here ..Thanks!

[2021-08-09 09:00] Muhammad-Talha-MT commented on #41041
@jbuisine
Run this command
`source /home/{user_name}/.bashrc`

You must have these two environment variables there "PATH" & "LD_LIBRARY_PATH" and also cuda variable

export PATH="/usr/local/cuda-11.4/bin:$PATH"
export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/cuda-11.4/lib6

If you don't have these variables there you must add them. Otherwise, you will face this issue.

[2021-08-09 09:01] koubadomik commented on #51352
Another step, thanks. However, I had to misconfigure something:
[code]
I am using miniforge3 on mac and I do not know if it is not the problem. I had to modify "-I..." parameters to include numpy, pybind and everything as you recommended (thx). But this error is very suspicious...
Any idea? I cannot find where this type is defined...

I am sorry for the questions related to my setup more than to T

[2021-08-09 09:08] mohantym commented on #14134
Hi ! @asimshankar ,You seem to be using using an old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-09 09:37] tilakrayal commented on #51358
@Misoknisky ,

In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.Thanks!

[2021-08-09 09:40] tilakrayal commented on #51377
@rschumi0 ,

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-08-09 10:12] Saduf2019 commented on #51241
@mayou36
Can you please confirm the jit compilation is enabled.

[2021-08-09 10:21] Saduf2019 commented on #51043
@BlueSkyyyyyy
This is not a bug or performance issue, please move this to closed status and for any further queries open this at the tf discussion forum.

[2021-08-09 10:22] Saduf2019 commented on #50820
@tibbe
Thank you for your update moving this to closed status as resolved.

[2021-08-09 10:22] #50820 closed

[2021-08-09 10:51] relativeflux commented on #51385
Reposted this to https://github.com/keras-team/keras/issues.

[2021-08-09 10:51] #51385 closed

[2021-08-09 11:24] mohantym commented on #16311
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-09 11:32] mohantym commented on #17965
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-09 11:46] mohantym commented on #16771
Was able to to resolve the issue with TF v2.5 ,please find the [gist ](https://colab.research.google.com/gist/mohantym/20603960837aff638a7817000c375f66/16771.ipynb)here ..Thanks!

[2021-08-09 11:47] sushreebarsa commented on #51240
@LeonardoPhysh Thank you for the update.Could you please let us know if the issue is resolved for you & please confirm if we can close the issue ? Thanks!

[2021-08-09 11:47] sylajarlind commented on #51276
@impjdi any idea why this is happening?

[2021-08-09 11:55] mohantym commented on #17910
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-09 12:01] kumariko commented on #51376
Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) to expedite the troubleshooting process. Thanks!

[2021-08-09 12:09] sushreebarsa commented on #51378
@jacksonfengwa Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-08-09 12:10] mohantym commented on #19528
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-09 12:18] PWZER commented on #32104
I have the same problem，Tensorflow version is 2.5.0. `ReadVariableOp` took a long time，and memory usage jitter.

[2021-08-09 12:19] mayou36 commented on #51241
By "jit" I mean "tf.function" decorated (jitted), not XLA compiled. So it works in eager, but not inside a tf.function.

It seems to happen with and without `jit_compiled` on, both.

[2021-08-09 12:25] sushreebarsa commented on #51388
@zhousteven
We see that you are using older version of tensorflow ( 1.2.0 ) which is officially considered as end of life and not actively supported.We recommend that you upgrade to TF v2.5 & please let us know if the issue still persists in newer versions .Thanks!

[2021-08-09 12:50] sushreebarsa commented on #51350
@Saduf2019  Was able to replicate the issue in TF v2.3,2.4 & 2.5 , please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/861bf61854b276b163b2f68b23cb5f78/untitled365.ipynb#scrollTo=HPDGc-XGqzHo) for reference.Thank you!

[2021-08-09 13:02] innat commented on #51049
@GdoongMathew
Thanks for your suggestion. I've already used keras preprocessing layers. An issue with that is, generally, it can be applied only on the 2D data set. But as we mentioned above, it needs to be done on the 3D data set. I've raised an [issue here](https://github.com/keras-team/keras/issues/15046) regarding the keras proc layers. But the built-in 2d image processing layer in keras can b

[2021-08-09 13:11] sanatmpa1 commented on #44379
@Charlestng,

Can you take a look on the above comment by @aaudiber to use `Dataset.from_generator`, and confirm if that helps? Thanks!

[2021-08-09 13:14] Saduf2019 commented on #51349
@superplay1
This is expected behavior, there is minor difference in the output.

[2021-08-09 13:58] Saduf2019 commented on #51029
@szihs
1) Does AllocateTensors() create memory for input & intermediate & output layers?
Yes
2)How can I provide my buffer memory pointer (virtual mem) directly so to avoid setting the memory content.
If there is no public api from lite, for work around its better to oepn his issue is tf discussion forum. as there is a larger community to respond there, this platform is for bugs and performance re

[2021-08-09 14:19] Saduf2019 commented on #50958
@Mohitkumar6122
This has been fixed, please verify and move this to closed status as this is resolved now.

[2021-08-09 14:25] sushreebarsa commented on #43073
@noamfreeman It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest  stable Version of TF 2.5 and let us know if the issue still persists? Thanks!

[2021-08-09 14:26] sushreebarsa commented on #43071
@ryanaleksander  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest  stable Version of TF 2.5 and let us know if the issue still persists? Thanks!

[2021-08-09 14:40] sushreebarsa commented on #43037
@jplu It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest  stable Version of TF 2.5 and let us know if the issue still persists? Thanks!

[2021-08-09 14:41] dakshvar22 opened #51393 "Slowdown of `tf.scan` operation in TF 2.5"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-08-09 14:46] Saduf2019 commented on #50629
@lonway
As we have active support for 2.x now, please create this issue on tf discuss forum as there is a larger community to support there.

[2021-08-09 14:57] tilakrayal commented on #51379
@rschumi0 ,

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-08-09 15:04] sushreebarsa commented on #43020
@LiamRandall It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest  stable Version of TF 2.5 and let us know if the issue still persists? Thanks!

[2021-08-09 15:06] sushreebarsa commented on #43238
@PMatthaei  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest  stable Version of TF 2.5 and let us know if the issue still persists? Thanks!

[2021-08-09 15:16] sushreebarsa commented on #43339
@boost-app It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest  stable Version of TF 2.5 and let us know if the issue still persists? Thanks!

[2021-08-09 15:17] sushreebarsa commented on #43416
@AssassinGQ  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest  stable Version of TF 2.5 and let us know if the issue still persists? Thanks!

[2021-08-09 15:22] sushreebarsa commented on #43473
@raryanpur Could you please let us know if the issue still persists ?Thanks!

[2021-08-09 15:23] tilakrayal commented on #51354
Have you considered limiting gpu memory growth?
Make sure you close all python sessions and exit python interpreter to free up memory and try running script as:

[code]

[2021-08-09 15:25] sushreebarsa commented on #43596
@le8888e It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest  stable Version of TF 2.5 and let us know if the issue still persists? Thanks!

[2021-08-09 15:31] sushreebarsa commented on #43615
@kalaluthien It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest  stable Version of TF 2.5 and let us know if the issue still persists? Thanks!

[2021-08-09 15:36] sushreebarsa commented on #44052
@shlomi-amitai It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest  stable Version of TF 2.5 and let us know if the issue still persists? Thanks!

[2021-08-09 15:38] sushreebarsa commented on #45394
@sunzhe09 It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest  stable Version of TF 2.5 and let us know if the issue still persists? Thanks!

[2021-08-09 15:40] sushreebarsa commented on #45428
@yonatansc97 It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest  stable Version of TF 2.5 and let us know if the issue still persists? Thanks!

[2021-08-09 15:46] sjtusmartboy opened #51394 "memory allocation exceeds 10 of free system memory"
tensorflow2.5
ubuntu 18.10
memory 16gb

I've added the swap memory up to 8 gb, but still showing the warning of that message. In the meaning time, I find the swap allocation is almost 0. What happens, the tensorflow cannot use the swap? Also I'd like to ask what happens if I continue training ignoring that warning message, the precision being lost, or other effects? Why the training could still go

[2021-08-09 15:48] tilakrayal commented on #51082
@yashkarbhari ,

Without the reproducible code, it would be difficult for us to debug the issue. If you cannot simplify the code,please consider posting this issue in Stackoverflow or [tensorflow discussion forum](https://discuss.tensorflow.org/) where there is a large community to help and support each other. Thanks!

[2021-08-09 15:50] tonkolviktor commented on #34415
hello all,

for me it seems to work with:
[code]
using CentOs and tensorflow 2.5.0 and python 3.6.

I think one crucial factor is finding a commonly agreed way of testing this. I was using: `htop -p <pid>` and I was validating that without the settings I've got >100% CPU usage and with the settings <=100%, which was my goal, albeit I agree that this test might not be the most sophisticated one :)

[2021-08-09 15:52] rmlarsen commented on #13222
The main reason that Eigen and hence TF lags MKL in SVD performance is the lack of multi-threading in Eigen core. The only multi-threading there is done through OpenMP parallelization of the matrix multiplication operation. TF does not want to add a dependence on OpenMP, so for now this op will remain single-threaded. There are plans to move the ThreadPool in Eigen/unsupported (the same threadpool

[2021-08-09 16:01] yonatansc97 commented on #45428
Actually, I have since then moved to pytorch. No such problems now, I'm afraid.

[2021-08-09 16:01] #45428 closed

[2021-08-09 16:19] jplu commented on #43037
@sushreebarsa  Still the case with TF 2.5. Error from the same place:
[code]
With the same error:
[code]

[2021-08-09 16:19] airman00 opened #51395 "[AutoML] [Tensorflow Lite] Export for TensorFlow Lite is broken for confidence score"
**System information**
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.5.0
- Python version: 3.9.5

**Describe the current behavior**
I trained a model on a dataset via AutoML Vision and exported models[ using the UI.](https://cloud.google.com/vision/automl/object-detection/docs/export-edge)  I've used AutoML in the past and the models have always

[2021-08-09 16:24] LiamRandall commented on #43020
Yes, I will try to complete this with the latest version and confirm that this works as expected.

[2021-08-09 17:23] impjdi commented on #51276
If `.is_precision_loss_allowed = 0` and you're still seeing that, something is really broken.  Given that a lot of models use `CONV_2D` and `DEPTHWISE_CONV_2D`, I doubt there's bugs there.  I suspect reshapes and concats are not versatile as on the CPU and you might be hitting a corner case.

[2021-08-09 17:28] jacksonfengwa commented on #51378
@sushreebarsa  If you look at the codes, all the issues happen in tensorflow, instead of keras. any particular reason you want this issue to move to keras?

[2021-08-09 17:48] Mohitkumar6122 commented on #50958
@Saduf2019, It's fixed now!
Thanks for the quick response.

[2021-08-09 17:49] #50958 closed

[2021-08-09 17:52] jvishnuvardhan commented on #51071
@dmey There is version TF2.3.3 listed there, the only difference between TF2.3.1 and 2.3.3 is security patches. Can you use that TF2.3.3 for citation? I think we may have no plans to go back and add older versions. Thanks!

[2021-08-09 18:02] 8549 commented on #51077
[code]
[Here is a MWE](https://colab.research.google.com/drive/1YToXyDzQmsoe1KSvpopgPCOc2dZZOy2b?usp=sharing). It happens with tf 2.5.0.

[2021-08-09 19:22] palonso commented on #50787
We solved this issue by making our own TensorFlow build with Bazel with the `monolithic` option.
We found that this way `libtensorflow` is only optionally dependent on `libtensorflow_framework`.
By patching the pkg-config file generated by TensorFlow to skip `libtensorflow_framework`  our Python bindings do not clash with TensorFlow anymore:

[code]

[2021-08-09 19:22] #50787 closed

[2021-08-09 20:12] MarkDaoust commented on #36328
The tutorial has moved to here: https://www.tensorflow.org/text/tutorials/transformer

I believe keras Models assume the user passes one "nest" (see tf.nest) of inputs as the first argument.

The solution here will either be:

1 - Use tf.Module instead
2 - rearrange the `__call__` arguments from:

[code]

to:

[code]

[2021-08-09 20:12] #51097 closed

[2021-08-09 21:11] dmey commented on #51071
@jvishnuvardhan thanks and not really. The requirements are to cite the exact same version used however I will work around this by updating the TF version used in my repo -- I see your point. Feel free to close this issue now.

[2021-08-09 21:32] pbk0 opened #51399 "setting learning rate with `tk.backend.set_value` fails with `tf.keras.optimizers.schedules`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): '2.5.0'
- Python version: '3.8.10'

**Describe the current behavior**

Check the code snippet with two cases

[2021-08-09 22:22] ImtiazSajwani commented on #51145
Try using the Intel Tensor Flow 2.5, pip install intel-tensorflow==2.5.0

[2021-08-09 23:26] srjoglekar246 commented on #39179
Closing this bug due to staleness. There was some discussion on [this issue](https://github.com/tensorflow/tensorflow/issues/40297#issuecomment-648988845) about converting the matterport model to TFLite, and looks like the user succeeded. @bmabir17 If this issue still persists (sorry about tghe extremely delayed response), then feel free to reopen.

[2021-08-09 23:26] #39179 closed

[2021-08-09 23:41] sjtusmartboy commented on #50921
Yes, problem solved.
thanks a lot

[2021-08-09 23:41] #50921 closed

[2021-08-09 23:44] bhack commented on #43037
@jplu Do you have the same error with `pip install tensorflow==2.6.0rc2` ?

[2021-08-09 23:57] jvishnuvardhan commented on #51071
@dmey Thanks!

[2021-08-09 23:57] #51071 closed

[2021-08-10 00:41] Phill-at-GE opened #51400 "Internal: failed call to cuDevicePrimaryCtxRetain: CUDA_ERROR_LAUNCH_FAILED"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-08-10 01:20] penpornk commented on #51145
@ImtiazSajwani Intel TensorFlow doesn't have any optimization for `SparseTensor` ops, so I think the performance will be similar.

[2021-08-10 01:42] sjtusmartboy commented on #50871
＠Saduf2019 Don't you think this is an important issue that should be fixed immediately. I've issued this for over three weeks, why there's no reply at all.

[2021-08-10 01:45] sjtusmartboy opened #51401 "AttributeError: type object 'IteratorBase' has no attribute 'from_structure'"
ｔｅｎｓｏｒｆｌｏｗ　２．５

I've issued this https://github.com/tensorflow/tensorflow/issues/50871. However, there's no reply at all. May it has been forgotten, so I have to raise this issue again.

[code]

[2021-08-10 01:51] zhousteven commented on #51388
thanks for your kindly response, according your advice, try TF v2.x

[2021-08-10 02:11] rrklearn2020 commented on #50774
The issue is not yet solved, waiting for support.

[2021-08-10 02:17] Misoknisky commented on #51358
###  Hellow, i use code  like this
`import tensorflow as tf
from tensorflow.python.keras.engine.base_layer import Layer
from tensorflow.keras.layers import Conv2D
from tensorflow.python.profiler.model_analyzer import profile
from tensorflow.python.profiler.option_builder import ProfileOptionBuilder
print('TensorFlow:', tf.__version__)

model = tf.keras.applications.ResNet50()
forward_pass = tf.fun

[2021-08-10 03:00] FdyCN commented on #51126
@impjdi please take a look.  thank you so much.

[2021-08-10 03:12] mittkongg commented on #51119
can some related staff update this issue progress?

[2021-08-10 04:36] jlabarbera11 opened #51402 "Gather not working as expected in TFLite"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-08-10 05:26] esghif commented on #51354
Thanks for your suggestion I tried it out. I don't see any change, it still runs out of memory.

[2021-08-10 05:37] kumariko commented on #50832
@shawnwang18 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-10 05:48] mohantym commented on #23231
Hi @rahul003 !We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-10 06:18] abattery commented on #51402
Does the keras model work with the above input given to the TensorFlow Lite as well?

[2021-08-10 06:32] mohantym commented on #20972
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-10 06:36] sanatmpa1 commented on #43472
@victorromeo,

We can see that the PR that you submitted has been merged. Can you kindly confirm if we can close this issue? Thanks!

[2021-08-10 06:37] mohantym commented on #20964
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-10 07:02] UsharaniPagadala commented on #50774
@rrklearn2020

It looks like the Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](https://github.com/keras-team/keras/issues) repository instead. As previously [announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) all future development of Keras is expected to happen in the keras-team

[2021-08-10 07:04] #20964 closed

[2021-08-10 07:06] theAnshulGupta opened #51403 "Problems setting up Tensorflow on M1 Mac"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOC Big Sur 11.4, Apple M1 2

[2021-08-10 07:24] wxlsummer commented on #36616
Is there any solution?

[2021-08-10 07:45] sylajarlind commented on #51276
I am building Tensorflow from latest master in bazel and my executable there, I really want to see if this has to do anything with the implemented OpenGL drivers from MESA-Freedreno as I don't have a device with proprietary Qualcomm driver implementation. I have tried one of this models and I didn't have any of these problems before.

[2021-08-10 07:58] sanatmpa1 commented on #51393
I am able to reproduce the issue in colab with CPU runtime, it took 2 minutes 12 seconds with `TF 2.3` and 2 minutes 56 seconds for `TF 2.5`

Please find the [gist here](https://colab.research.google.com/gist/sanatmpa1/54bf06a243d227c67188c77f1f867ca0/51393-cpu.ipynb). Thanks!

[2021-08-10 08:04] jplu commented on #43037
I now get a new error, the same than https://github.com/keras-team/keras/issues/15044 . The piece of code that raises this issue is located before the one that raises the previous error. Then I cannot say if the error is still here or not because now this piece of code is not anymore reached.

[2021-08-10 08:25] JiashuGuo opened #51404 "Error to run the tflite model: self._interpreter.Invoke() RuntimeError: Input tensor 1283 lacks data"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux 18.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.7.0-dev20210804

### 2. Code
The code I use to convert the model and run the interpreter:

[code]
Here is the [tflite model](https://drive.google.com/

[2021-08-10 08:36] imohamadhoseins commented on #51078
the problem is that in document it has written it is possible to pass tensor, but it actually doesnt.

[2021-08-10 08:50] josefondrej opened #51405 "Add track_times=False to Model.save_weights('.h5')"
**System information**
- TensorFlow version: 2.4.1
- Are you willing to contribute it: Yes

**Describe the feature and the current behavior/state.**
Currently, when calling `keras.models.Model.save_weights()` in hdf5 format, the weights are saved using `h5py.Group.create_dataset` with the argument `track_times` set to the default value `True`. The effect of this is following: even when the weights

[2021-08-10 09:12] jiqiujia opened #51407 "Question about tf.compat.v1.metrics.auc"
I try to migrate my code from tf1.* to tf2, while in [tf2 doc](https://www.tensorflow.org/api_docs/python/tf/compat/v1/metrics/auc) it says that `tf.compat.v1.metrics.auc` is deprecated because "**The value of AUC returned by this may race with the update**". This statement is vague to me. Does it mean that it can't be used in multithreading context? If not, in what situation can I use this functi

[2021-08-10 09:23] sushreebarsa commented on #51356
@Hinnerk8 Sorry for the late response! Could you please refer to the similar issue in [link1](https://stackoverflow.com/questions/42317075/tensorflow-r1-0-could-not-a-find-a-version-that-satisfies-the-requirement-tens), [link2](https://github.com/tensorflow/tensorflow/issues/39130) and let us know if it helps ?Thanks!

[2021-08-10 09:55] JJKK1313 commented on #51376
@kumariko I did, its that post. There is a specific template I should use?

[2021-08-10 10:07] szihs commented on #51029
@Saduf2019 may I know where is the channel/forum  link for the same?

[2021-08-10 10:10] sushreebarsa commented on #51378
@jacksonfengwa This issue is more related to save and load Keras model . For more information please have a look on the [link](https://www.tensorflow.org/tutorials/keras/save_and_load) , [link1](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dense) ,[ link2](https://keras.io/guides/training_with_built_in_methods/) and let us know if it helps ?Thanks!

[2021-08-10 10:22] sanatmpa1 commented on #51405
@josefondrej

This looks like a feature request that should go to `Keras` repo. Can you post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues),To know more see; [https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-

[2021-08-10 10:23] tilakrayal commented on #51400
@Phill-at-GE ,

Can you please try installing TensorFlow v2.4 with CUDA 11.0 and cuDNN 8 and check if you are facing the same error. For more information please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu).Thanks!

[2021-08-10 10:37] Kimidoge commented on #51380
I upgraded to Tensorflow 2.5, now I have a new error popping up as follows:

``
NotImplementedError: Cannot convert a symbolic Tensor (LSTM_1st_layer/strided_slice:0) to a numpy array. This error may indicate that you're trying to pass a Tensor to a NumPy call, which is not supported
``
numpy version: 1.20.3
pandas version: 1.3.1

Please help!

[2021-08-10 10:42] AGalassi commented on #43471
As far as I know, no updates.
Also, I am not sure why @jvishnuvardhan has labeled this as a feature and not a bug. Maybe because is more of a content matter than a technical matter.

[2021-08-10 10:43] tibbe commented on #50820
I spoke too soon. While the `FunctionalPreprocessingState.adapt()` method runs without errors it doesn't seem to work. If I individually adapt layers like so:

[code]

the model trains. If I instead use the helper class like so:

[code]

It doesn't train (the loss isn't decreasing). I suspect that the layers didn't get adapted properly and are doing random transformations to the input features dur

[2021-08-10 10:47] josefondrej commented on #51405
Moved to: [https://github.com/keras-team/keras/issues/15143](https://github.com/keras-team/keras/issues/15143)

[2021-08-10 10:48] rossGardiner commented on #46314
For me, the tf-nightly build does not fix this issue. I don't think this should be closed. Anyone else?

[2021-08-10 10:57] Kimidoge commented on #51380
Here is the full error, I forgot to include in the previous:

``
---------------------------------------------------------------------------
NotImplementedError                       Traceback (most recent call last)
<timed exec> in <module>

C:\Anaconda\envs\tensorflow25yt\lib\site-packages\tensorflow\python\training\tracking\base.py in _method_wrapper(self, *args, **kwargs)
    520     self._sel

[2021-08-10 11:04] van-68 opened #51408 "1.15.4"
We found vulnerabilities about tensorflow on the website （https://nvd.nist.gov/vuln/search/results?form_type=Basic&results_type=overview&query=tensorflow&search_type=all&isCpeNameSearch=false）. These vulnerabilities are basically fixed in versions greater than 2.0. But how are these vulnerabilities fixed in version 1.15.4? Thank you.

[2021-08-10 11:08] abattery commented on #46314
@rossGardiner please upload a new post with reproducible steps.

[2021-08-10 11:16] rlewkowicz commented on #29874
Unfortunately I'm deep into some other projects right now and wont have the time to get this environment off the ground. Ultimately, I'm not confident that anything short of a major architectural shift is going to help. When the OS eats a bunch of space on your GPU out of the gate, you know it's not good. It's hands are in the pie before you can get a slice.

Pick any implementation based on speed

[2021-08-10 11:38] sushreebarsa commented on #51404
@JiashuGuo Thank you for the post!
Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) In order to expedite the trouble-shooting process of  the issue reported here. Thanks!

[2021-08-10 12:01] sanatmpa1 commented on #51179
@crawlingcub,

Thanks for sharing the code, Can you also share the sample data as well to reproduce the issue from our end.

[2021-08-10 12:06] sanatmpa1 commented on #51346
I am able to reproduce the issue in colab, Please find the [gist here](https://colab.research.google.com/gist/sanatmpa1/9e778630d765279bed8c1a70b6ff289e/51346.ipynb).

[2021-08-10 12:12] sanatmpa1 commented on #51346
@sjtusmartboy,

If you want to iterate through `dataset`, Can you try using the python iterator protocol `iter()` and it works fine as added in the above gist.

You need to replace the second line,
`iterator = tf.data.Iterator(dataset)` with `iterator = iter(dataset)` and let us know if it helps. Thanks!

[2021-08-10 12:46] sushreebarsa commented on #51375
@sjtusmartboy I tried to run your code on colab with TF v2.5 and 1.15, and was able to replicate the issue as reported here .
`tf.compat.v1.trainable_variables()`  API was designed for TensorFlow v1. Please refer to this [link](https://www.tensorflow.org/api_docs/python/tf/compat/v1/trainable_variables?version=nightly) to migrate from this API to a native TensorFlow v2 equivalent and let us know i

[2021-08-10 12:53] tilakrayal commented on #51394
@sjtusmartboy ,

Please take a look at this link for similar error.[Link1](https://stackoverflow.com/questions/49440630/is-there-any-way-of-swapping-gpu-memory-in-tensorflow),[Link2](https://www.tutorialexample.com/fix-tensorflow-allocation-memory-allocation-exceeds-10-of-system-memory-error/).It helps.Thanks!

[2021-08-10 12:54] tilakrayal commented on #51394
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2021-08-10 13:16] theumang100 commented on #46314
try tf 2.3.0

[2021-08-10 13:29] harujoh commented on #51201
Here is a code snippet that reproduces the problem.

It works, but I usually use C#, and I haven't used C++ in 15 years, so please forgive any minor errors.

[code]

[2021-08-10 13:49] sanatmpa1 commented on #51405
@josefondrej,

Can you confirm if I can close the issue, as you've already submitted one in `Keras` repo. Thanks!

[2021-08-10 13:52] sushreebarsa commented on #51401
@sjtusmartboy Could you please refer to the[ link ](https://www.tensorflow.org/api_docs/python/tf/compat/v1/data/Iterator),[ link1](https://www.tensorflow.org/api_docs/python/tf/data/Iterator) and let us know if it helps?Thanks!

[2021-08-10 14:07] shifdz opened #51410 "Tensorflow 2.5: Segmentation Fault"
I am trying to run a large 3D U-net and my dataset size is 55GB. It doesn't finish more than 6 epochs and then I get a segmentation fault.

System information: TF 2.5 / CUDA 11.2 / cuDNN 8.1
GPU : 10GB
Server has 32GB of RAM.

The code for my data generator is as follows:

[code]

where:

[code]
data_generator function is as follows:

[code]

Can someone please tell me how to solve this issue? Wha

[2021-08-10 14:35] Phill-at-GE commented on #51400
Thanks for the response! So, it's a little confusing with the way the Conda Packages are set up, along with the pre-installed NVIDIA driver and CUDA toolkit.

Based on the link you sent, the compatibilities are:
[code]
Based on the Anaconda Packages, the following are available to my Linux system.
[code]

I can't install the needed `cuDNN==8.0` for TF 2.4 (or even the `cuDNN==8.1` for TF 2.5). Als

[2021-08-10 14:36] jlabarbera11 commented on #51402
The keras model works as intended

[code]

[code]

[2021-08-10 14:59] MarkDaoust commented on #51393
Hi,

There's a lot going on in that example code.

Are you able to minimize the code and isolate the problem this a little more?

That will make it easier for anyone investigating to track down what's going on.

[2021-08-10 15:06] OverLordGoldDragon opened #51412 "Outer dimensions of indices and update must match"
[code]
I cannot find any shape of `slc` that doesn't make the command fail, and the error message is inaccurate: the inner (non-assignment) dimensions do match:

[code]

Either a bug or a documentation issue. The intended behavior is to emulate `x[:, :1023] = x_slc`.

[2021-08-10 15:08] rrklearn2020 commented on #50774
@UsharaniPagadala
the issue was posted to Keras git (link shared - 12 days before), but till today, no solution.

It would be a great help if the Tensorflow team and Keras team can support together as one team to solve this issue of saving a TF probabilistic_model as a 'TensorFlow SavedModel'

[2021-08-10 15:08] dakshvar22 commented on #51393
Hi @MarkDaoust the code snippet has the minimal stuff needed to demonstrate the problem:

1. Dummy sample data
2. Custom model for a custom training loop
3. Cuatom loss function.
4. The loss function only has `tf.scan` op with a trainable param.

All of these are needed to demonstrate the problem.

Anything that you suggest to get rid of?

[2021-08-10 15:15] sushreebarsa commented on #45853
@gmatalongthewatchtower
Could you please try on latest stable version of TF 2.5  and let us know if this is still an issue.Thanks!

[2021-08-10 15:58] Raisa06 opened #51413 "Amazon SageMaker Debugger - 'RuleEvaluationStatus': 'Error',"

[2021-08-10 16:07] Raisa06 opened #51414 "Amazon SageMaker Debugger - 'RuleEvaluationStatus': 'Error'"
I'm facing the following error while running Overfit built-in rule in tensorflow

'RuleConfigurationName': 'Overfit',
 'RuleEvaluationStatus': 'Error',
 'StatusDetails': 'ClientError: No debugging data was saved by the training '
                  'job. Check that the debugger hook was configured correctly '
                  'before starting the training job. Exception: Training job '

[2021-08-10 16:35] tilakrayal commented on #51354
@Saduf2019 ,
I was able to reproduce the issue in tf 2.4,v2.5 and tf-nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/002f2769f9e5f67886c67f0e29268e92/untitled51354.ipynb).

[2021-08-10 16:45] kevinashaw commented on #41448
@sushreebarsa Can we get an update?  I note that you closed this issue stating that "it is fixed in latest version of TensorFlow".  However, others have noted no improvement in TF2.5.
We are doing training with imbalanced classes and have a strong need for this.
Can we get an update?  Thanks!

[2021-08-10 16:48] sanatmpa1 commented on #26406
@nfelt,

Can you take a look at the above comment by @foxik  and confirm if we are good to close this issue? Thanks!

[2021-08-10 16:54] iglaweb commented on #41839
All delegates (CPU, GPU, Hexagon, NNAPI) do not throw errors now with TensorflowLite 2.5. Thanks!

[2021-08-10 16:55] #41839 closed

[2021-08-10 17:10] atahmasb commented on #51052
@tilakrayal This issue is more related to tf object detection API and I think here is more related to that, isn't it?

[2021-08-10 17:18] liuming-td commented on #35506
how can we get libhexagon_interface.so? I can't find this shared library from the directory of tensorflow lite. Hope someone can help me !

[2021-08-10 17:34] sushreebarsa commented on #41448
@maxpv  @kevinashaw  Sorry for the late response! This issue is not fixed in TF v2.5 .I tried to run the code on tf-nightly 2.7.0-dev20210810 and was able to replicate the issue as reported .Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/592aba2b176d84464536ae8e3ba313b6/untitled373.ipynb#scrollTo=pd8xz8hOEszk) for reference . Could you please have a look at the [li

[2021-08-10 17:44] Saduf2019 commented on #51354
@esghif
Can you lower your [batch size](https://github.com/tensorflow/tensorflow/issues/16768#issuecomment-405587015), also try  kill -9 PID and run again and let us know.

[2021-08-10 17:58] crawlingcub commented on #51179
Hi, I am using the imagenet dataset. I don't think I can directly share the imagenet dataset. You can download it from https://image-net.org/download.php

[2021-08-10 18:29] crawlingcub commented on #51179
I also reproduced the same problem with cifar10. Please find the code below and the model [here](https://drive.google.com/file/d/19Vhn-jLTAwQY3i19SP93cMLU-9mOWBSK/view?usp=sharing):

Hope this unblocks you.

[code]

Output
[code]

[2021-08-10 18:56] JiashuGuo commented on #51404
I updated the issue.

[2021-08-10 19:39] esghif commented on #51354
Batch size is 1. OOM persists.

[2021-08-10 20:03] MarkDaoust commented on #36328
That commit 9b85e7e fixes it.

It was just a matter of packing the tensor-inputs into a list for the `model.call`.

[2021-08-10 20:03] #36328 closed

[2021-08-10 21:00] Craigacp commented on #48855
Has anyone had a chance to look at this?

[2021-08-10 21:03] zongweiz commented on #51393
@sanatmpa1 @jvishnuvardhan Thanks for the repro. Could you please attach the full TensorFlow logs of the TF 2.3 run and TF 2.5 run, and also take the TensorFlow profile of a few training steps (https://www.tensorflow.org/guide/profiler#collect_performance_data)? This will help us isolate where the problem is (e.g., slow data processing, startup time, slow step time).

[2021-08-10 21:21] impjdi commented on #51126
While I don't have any documentation to share, that's what the owner of OpenCL profiled and determined to be the fastest performing memory layout.  This usually goes with the parallelization of the workload and how GPU threads run.

[2021-08-10 21:30] impjdi commented on #51276
We have a decent amount of specialization logic (behave different if a certain GPU model, or have specialized code for 3x3 convolution, etc.), and the majority of the code path will be for Arm Mali & Qualcomm Adreno.  You might be hitting a corner case either hitting a specialization that isn't used anywhere, or MESA-Freedeno has a different behavior on undefined behavior; e.g. drivers behave diff

[2021-08-10 21:44] Kipsora opened #51417 "Incorrect Results of MatMul on TFLite with GPU Delegate"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-08-10 21:48] ymodak commented on #34706
TensorFlow RNN conversion to TensorFlow Lite is supported from TF 2.3 release.
See https://www.tensorflow.org/lite/convert/rnn#tensorflow_rnns_apis_supported
Thanks!

[2021-08-10 21:48] #34706 closed

[2021-08-10 22:22] choff5507 opened #51418 "Cannot properly install packages inside container"
So I can run the Tensorflow Docker image without issue. However, I have one issue, I know that I am not suppose to run it as root so I run it under my user. When I do this and then try to install packages I get the following message:

`WARNING: The directory '/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions

[2021-08-10 22:26] abattery commented on #51417
@impjdi could you take a look?

[2021-08-10 22:37] haozha111 commented on #34396
Does the issue still exist?

[2021-08-10 22:49] nfelt opened #51419 "tf.reduce_sum is hard to use in a numerical stable way"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

### Edited to add:

As 1st comment clarifies, the described behavior is probably "working as intended" due to accumulation of floating

[2021-08-10 22:50] ZhongxuanWang commented on #36465
I walked through the whole page, tried mostly every solution, and it still doesn't work.

[2021-08-11 00:03] Sdhir opened #51420 "Loading checkpoint by skipping the head layer"
Hi all!

I am using a model (SimCLR) to learn representations from images. While pre-training, the model was trained against a single dummy label. Now I want to fine-tune the model with 8-class data.
While loading the pre-trained model checkpoint to the yet to be fine-tuned model with 8-class head I am encountering a ValueError.

[code]

Is there a solution to exclude the last head layer weights b

[2021-08-11 00:08] HVoltBb commented on #51419
that's floating point arithmetic. adding 1 to 16777216 in float32 doesn't do anything, since 16777217 is not in float32. See [here](https://stackoverflow.com/questions/12596695/why-does-a-float-variable-stop-incrementing-at-16777216-in-c)

[2021-08-11 01:14] nfelt commented on #51419
@HVoltBb thanks for pointing that out, I guess you're right that this explains the behavior.  I still think it's quite surprising that it's so inconsistent - between CPU and GPU, and between rank-1 and rank-2 `tf.reduce_sum()` invocations - but looking at the [numpy docs](https://numpy.org/doc/stable/reference/generated/numpy.sum.html) I see it has a similar caveat that the choice of axis for the

[2021-08-11 01:56] hongye007 opened #51421 "Depth_to_space"
**System information**
- OS Platform and Distribution (e.g., mac):
- TensorFlow installed from (tensorflow 2.5):
- TFLite: 2.5.0

2021-08-10 20:31:39.968 15740-15740/org.tensorflow.lite.examples.superresolution E/tflite: Following operations are not supported by GPU delegate:
    DEPTH_TO_SPACE: Operation is not supported.
    DEQUANTIZE:
    13 operations will run on the GPU, and the remaining 23

[2021-08-11 01:57] hongye007 opened #51422 "TfLiteGpuDelegate Init: CONCATENATION: Node 2 is already a consumer of the value 0"
2021-08-10 20:31:39.968 15740-15740/org.tensorflow.lite.examples.superresolution E/tflite: Following operations are not supported by GPU delegate:
    DEPTH_TO_SPACE: Operation is not supported.
    DEQUANTIZE:
    13 operations will run on the GPU, and the remaining 23 operations will run on the CPU.
2021-08-10 20:31:39.968 15740-15740/org.tensorflow.lite.examples.superresolution E/tflite: TfLite

[2021-08-11 02:20] harujoh commented on #51201
I just noticed that you have the wrong version of the tag.

It is now 2.5, but graphs containing this FusedBatchNormV3 can be used in TF_AddGradients from 2.6rc0.

[2021-08-11 02:52] tilakrayal commented on #51403
@theAnshulGupta ,

Please refer to similar issues #44751,#47782 and for installation please take a look at this [link](https://github.com/apple/tensorflow_macos). It helps.Thanks!

[2021-08-11 03:09] sjtusmartboy commented on #51401
@sushreebarsa Thanks, but the link certainly would not help because I've read it several times. Please teach me how to revise the code because it's the tensorflow's kernel error.

[2021-08-11 03:15] sjtusmartboy commented on #51394
@tilakrayal First thank you for your link. I've raised 4 questions, please assigned this issue to the relative engineers and ask them if they can answer, thanks.

[2021-08-11 03:17] sjtusmartboy commented on #51375
@sushreebarsa thanks

[2021-08-11 03:17] #51375 closed

[2021-08-11 03:19] abattery commented on #51422
@impjdi could you take a look?

[2021-08-11 03:20] sjtusmartboy commented on #51346
@sanatmpa1 thanks, it seems tf.data.Iterator is of no use at all because you are using the python iter. If not, please teach me how to use tf.data.Iterator.

[2021-08-11 04:07] mohantym commented on #21922
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-11 04:07] sushreebarsa commented on #51420
@Sdhir In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-11 04:14] sushreebarsa commented on #51414
@Raisa06 Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-11 04:55] mohantym commented on #27544
Hi @girving .Was able to replicate the issue with TF v2.5 , please find the[ gist ](https://colab.research.google.com/gist/mohantym/80904339db2688ddfe85e7f889da7460/27544.ipynb)here .Thanks!

[2021-08-11 05:28] innat commented on #51049
For future reference, [Here](https://www.kaggle.com/ipythonx/tf-3d-2d-model-for-brain-tumor-classification/notebook#3D-Augmentation) is some minimal implementation regarding the issue.

[2021-08-11 05:28] #51049 closed

[2021-08-11 05:56] tilakrayal commented on #51400
@Phill-at-GE ,

As mentioned, please try to install the tf v2.4 with compatible CUDA and cuDNN.Also installation issues within the Anaconda environment are tracked in the Anaconda repo.Please submit the new issue in Anaconda repo.Thanks!

[2021-08-11 05:56] sushreebarsa commented on #51401
@sjtusmartboy Thank you for the update! I tried to run your code using `tf.compat.v1.disable_v2_behavior()` on colab with TF v2.5 and It is throwing warning message ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/2bf39b081ae5fa2e31c2ef68ace334c3/untitled374.ipynb) for your reference.Session is not supported in TF version 2.x . Please find the [link](https://www.ten

[2021-08-11 05:59] tilakrayal commented on #51052
@atahmasb ,

As mentioned tf object detection model issues will be tracked in Tensorflow Models repo. So please feel free to move this issue to closed status and create new issue in models repo from [here](https://github.com/tensorflow/models/issues/new/choose).Thanks!

[2021-08-11 06:18] mohantym commented on #50871
Hi! @sjtusmartboy !Was able to resolve the issue with TF v2.5 ,  I changed the code using migration document . find the[ gist](https://colab.research.google.com/gist/mohantym/a8b6faa09656636c48c3ff84f096beab/50871.ipynb#scrollTo=gzq4U3SpmlQT) here Thanks!

[2021-08-11 06:19] skj092 opened #51425 "import error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window 10
- TensorFlow version: 1.15
- Python version: 3.6.9
- Installed using virtualenv? pip? conda?: conda
- GPU model and memory: CPU

**Describe the problem**
Getting error while importing tensorflow

**Provide the exact sequence of commands / steps that you executed before running into the problem**
import tens

[2021-08-11 06:23] LeonardoPhysh commented on #51240
@sushreebarsa Is it a known issue in TF v1.15? if it is, I think the issue can be closed.

[2021-08-11 06:38] mohantym commented on #19517
Hi! @1vn ,
It seems that  you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue  with a sample code in case you face any errors, we will get you the right help .Thanks!

[2021-08-11 06:48] tilakrayal commented on #51413
@Raisa06 ,

Looks like this is duplicate of issue #51414.Can you please close this issue, since it is already being tracked there? Thanks!

[2021-08-11 06:53] #51240 closed

[2021-08-11 07:10] sushreebarsa commented on #51425
@skj092 We see that you are using older version of tensorflow 1.15 which is officially considered as end of life , We recommend that you upgrade to 2.5 and let us know if the issue still persists in newer versions.Thanks!

[2021-08-11 07:15] mohantym commented on #23615
Hi! @hzhangxyz !
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-11 07:21] gititgo opened #51426 "Can MLIR be disabled ?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-08-11 07:24] hongye007 commented on #51421
How can I use DEPTH_TO_SPACE with GPU support (tflite)?

[2021-08-11 07:38] sanatmpa1 commented on #51410
@shifdz,

Please take a look on the links [ref_1](https://stackoverflow.com/questions/54333809/how-to-remedy-segmentation-fault-core-dumped-error-when-trying-to-fit-a-kera), [ref_2](https://stackoverflow.com/questions/53302958/how-to-debug-tensorflow-segmentation-fault-in-model-fit). For your question on what causes segmentation fault, one of the answer in this [thread](https://stackoverflow.com/q

[2021-08-11 07:46] jiqiujia commented on #23873
So, currently, if I want to use batch normalization layers with session, I'd better use tf.layers interface and use control_dependencies to update batch normalization's moving varaibles. Am I right?

[2021-08-11 07:56] sushreebarsa commented on #47158
@mansnils We see that the PR  is merged ,Could you please let us know if we can close this issue ? Thanks!

[2021-08-11 08:00] sylajarlind commented on #51276
Do you have any suggestions on where should I file this issue or how to properly debug?

[2021-08-11 08:00] sushreebarsa commented on #34718
@ifsheldon It looks like you are using an older Version of Tensorflow 2.0. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 08:04] sushreebarsa commented on #35102
@bmc2-stripe It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 08:05] sushreebarsa commented on #35451
@veonua It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 08:09] sushreebarsa commented on #36520
@jiayiliu It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 08:13] hzhangxyz commented on #23615
I don't know whether the current version solve it or not. but I realize that this feature is much harder to implement than I thought years ago, especially when the number of tensor increasing. Maybe it should not be a feature of XLA. So I close this issue.

[2021-08-11 08:13] #23615 closed

[2021-08-11 08:41] gititgo commented on #51426
$ gcc --version
gcc (Debian 8.3.0-6.lnd.vec.20) 8.3.0
Copyright (C) 2018 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

$ ld --version
GNU ld (GNU Binutils for Debian) 2.31.1.20190122
Copyright (C) 2018 Free Software Foundation, Inc.

[2021-08-11 09:08] sushreebarsa commented on #38260
@LeeJH  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 09:10] sushreebarsa commented on #40372
@harrydrippin  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 09:11] sushreebarsa commented on #42853
@kamenbliznashki It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 09:15] tilakrayal commented on #50872
@Saduf2019 ,

I was able to reproduce the issue in TF version [2.4](https://colab.research.google.com/gist/tilakrayal/86c34b6b96233d4b81662cb3c7a3137f/2-4test_ipynb.ipynb), [2.5](https://colab.research.google.com/gist/tilakrayal/28e143fe63730b17f3f3791b72182de2/2-5test.ipynb) and whereas in [nightly](https://colab.research.google.com/gist/tilakrayal/a8466b35f51345a7c66939d84977d080/nightlytest_ipy

[2021-08-11 09:16] sushreebarsa commented on #42940
@taylorshin It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Please have a look at this[ link](https://www.tensorflow.org/api_docs/python/tf/compat/v1/lite/TFLiteConverter#from_keras_model_file) and let us know if it helps ?Thanks!

[2021-08-11 09:19] sushreebarsa commented on #43604
@asterisk37n  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 09:21] liumilan opened #51427 "tensorflow distribute trainning error"
I just follow mnist_replica.py to write distribution code,when there is bug when run programs.It always report that RuntimeError: Init operations did not make model ready. How to fix it ?
It seemed when it call prepare_or_wait_for_session and failed
Codes as such below:
[code]

[2021-08-11 09:39] veonua commented on #35451
@sushreebarsa

I am running an official (Google) example using Google Colab. The best integration possible, but it does not go smoothly.

please see tf.__version__ in the notebook attached to this issue

why do you ask for the code if you never look into it? it's just a colab notebook,

[2021-08-11 09:59] sseveran commented on #20972
Thanks @mohantym. We abandoned TF due to persistent issues that happened during the 2.0 transition. Feel free to close.

[2021-08-11 11:17] mohantym commented on #20972
Ok! Closing the issue .Feel free  to open a new issue in case you face new errors.

[2021-08-11 11:17] #20972 closed

[2021-08-11 11:26] kumariko commented on #51077
@Saduf2019 I am able to reproduce the error in [**`TF v2.5`**](https://colab.research.google.com/gist/kumariko/19f4ea20e7fc955cf51b782552559f47/untitled6.ipynb#scrollTo=ZSvy7S_y0qRw) and [**`TF v2.4`**](https://colab.research.google.com/gist/kumariko/97c1ee3ae75af54c8375a010b67d265b/51077.ipynb) Please find the gists for your reference . Thanks!

[2021-08-11 11:27] sushreebarsa commented on #45301
@Tieckby It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 11:30] sushreebarsa commented on #45233
@bmorcos It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 11:39] mohantym commented on #11911
Hi! @lemonsee .We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.5 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-11 11:46] sushreebarsa commented on #45185
@nixmeer
Could you please try on latest stable version of tf 2.5 and let us know if this is still an issue.Thanks!

[2021-08-11 11:47] mohantym commented on #12077
Hi! @HannH .We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.5  version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-11 11:48] sushreebarsa commented on #45021
@skribm9 It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 11:53] OverLordGoldDragon commented on #51412
@tilakrayal [TensorFlow 2.5.0](https://anaconda.org/anaconda/tensorflow) (no GPU), Windows 10, Python 3.9.6, [tf_scatter_nd_update](https://www.tensorflow.org/api_docs/python/tf/tensor_scatter_nd_update), no existing Issues.

[2021-08-11 11:58] #51405 closed

[2021-08-11 12:11] bmorcos commented on #45233
I tried again with the following:
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): pip install tensorflow
- Tensorflow version (commit SHA if source): a4dfb8d1a71 (v2.5.0)
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): mbed
- gcc-arm-none-eabi v10.2.1
- mbed-cli v1.10.5
- Python 3.7.9

I had to make two

[2021-08-11 12:24] sushreebarsa commented on #44908
@Burton2000  It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 12:29] sushreebarsa commented on #44798
@liyuenan2333
Could you please try on latest stable version of tf 2.5  and let us know if this is still an issue.Thanks!

[2021-08-11 12:31] sushreebarsa commented on #44797
@Antymon  It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 12:32] farotem opened #51428 "GPU performance issue when calling slicing for tensors of types tf.int16, tf.int32 (op StridedSlice)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- binary wheel via PyPI
- TensorFlow version (use

[2021-08-11 12:32] sushreebarsa commented on #44754
@KimiLiuQh It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 12:34] sushreebarsa commented on #44713
@skribm9 It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 12:35] UnickSoft opened #51429 "Problem with mean OpenGL since 2.5 version"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android 11 oct 5 2020
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Pixel 2 XL
- TensorFlow installed from (source or binary): Java modules. Also try to compile from sources and run using C++ API.
- TensorFlow version (use command below): 2.5
- GPU model and memory: A

[2021-08-11 12:39] sushreebarsa commented on #44526
@DwayneDuane Could you please refer to the above comment and let us know if this issue can be fixed by #47072 ? Thank you!

[2021-08-11 12:40] sjtusmartboy commented on #46706
@rmothukuru hi,is there any update on this issue, because it has been half an year

[2021-08-11 12:41] sushreebarsa commented on #44515
@Qrox It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 13:10] bermeitinger-b commented on #48874
This is not fixed in 2.5.1.

[2021-08-11 13:52] sushreebarsa commented on #44209
@zhezherun It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 13:55] Davidy22 commented on #48874
I could have sworn I saw a pull request for this. The fix was just one line too. I can reopen and open a pull request.

[2021-08-11 14:00] sushreebarsa commented on #44060
@natario1 It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 14:06] mkruglyak commented on #3851
Here's the updated link for [`tf.data.experimental.CsvDataset`](https://www.tensorflow.org/api_docs/python/tf/data/experimental/CsvDataset)

[2021-08-11 14:14] tilakrayal commented on #51412
@sanatmpa1  ,
I was able to reproduce the issue in tf v2.4,v2.5 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/0d7291d364d89edc48c9610f6ea1149b/41512.ipynb).

[2021-08-11 14:16] Saduf2019 commented on #43834
@jeisinge
Please confirm if the issue is resolved as the pr is merged.
Also, It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version.

[2021-08-11 14:17] Saduf2019 commented on #43687
@n2cholas
 It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 14:33] rposts commented on #44713
@sushreebarsa These problems still exist on TF 2.5.0:
[code]

[2021-08-11 14:34] tilakrayal commented on #51418
@choff5507 ,

Can you please take a look at this [issue](https://stackoverflow.com/questions/27870003/pip-install-please-check-the-permissions-and-owner-of-that-directory) and [comment](https://github.com/mkdocs/mkdocs/issues/1188#issuecomment-291138434) with similar error.It helps.Thanks!

[2021-08-11 14:34] lucapericlp opened #51430 "Conversion fails at model loading"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04.7
- TensorFlow installation (pip package or built from source): pip package
- TensorFlow library (version, if pip package or github SHA, if built from source): v2.6.0-rc2

### 2. Code

`converter = tf.lite.TFLiteConverter.from_saved_model(str(SAVED_MODEL_DIR))`

Where `SAVED_MODEL_DIR` is a pat

[2021-08-11 14:38] mansnils commented on #47158
@sushreebarsa What is left is to update it on TFLM as well. But TFLM now has its own repo so maybe we should close this and create a new issue for TFLM.

[2021-08-11 14:42] sushreebarsa commented on #47158
@mansnils Thank you for the update ! Please move this issue to closed status .Thanks!

[2021-08-11 14:52] sanatmpa1 commented on #51412
@OverLordGoldDragon,

You've created `slc` which is a list of range of values  `[0,1,2,...,1022]` with length 1023,
whereas the ideal values should have been a list of indices, with the shape `(128, 1023, 2)` as shown below.
` array([[[0,0],[ 0,1], ...[0, 1022]],
   ......,
       [[ 127,0],[ 127,    1],...,[ 127, 1022]]])`

The solution is to change the second line of your code from, `slc = list(

[2021-08-11 15:17] sushreebarsa commented on #37467
@minjac It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.5 and let us know if the issue still persists? Thanks!

[2021-08-11 15:24] sanatmpa1 commented on #51399
@pbk0,

This looks like a issue related to Keras. So can you please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues),To know more see;[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-08-11 15:44] jsimsa commented on #36520
The error indicates that the `shuffle` buffer size used by the implementation of `list_files` [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/data/ops/dataset_ops.py#L1241-L1246), which indicates that the pattern that you provided did not match any files. This should be caught by the [following check](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/pyt

[2021-08-11 15:44] #36520 closed

[2021-08-11 15:47] OverLordGoldDragon commented on #51412
@sanatmpa1 This works ... sort of: it makes a copy (set `result = x`) despite the indexing being contiguous. That's a deal-breaker for performance; can a copy be avoided?

[2021-08-11 16:24] D-Katt opened #51431 "AutoGraph warning when using auto-keras"
I was running auto-keras StructuredDataRegressor in Kaggle notebook, when this warning appeared:

WARNING: AutoGraph could not transform function <function Model.make_train_function.<locals>.train_function at ... and will run it as-is.
Please report this to the TensorFlow team.
Cause: closure mismatch, requested ('self', 'step_function'), but source function had ()

The search for regression model

[2021-08-11 16:30] srjoglekar246 commented on #51402
TFLite's Gather kernel does not support >1 dimensions in its inputs. So, assuming you want to run single-batch inference, this code works (Note the `reshape` to 1-dim tensor before `tf.gather`):

[code]

[2021-08-11 16:37] #51399 closed

[2021-08-11 16:40] atahmasb commented on #51052
@tilakrayal  I see, thanks. I'll move it to models repo.

[2021-08-11 16:40] #51052 closed

[2021-08-11 16:48] jeisinge commented on #43834
I just tested with rc0 and rc2.  It works.

Also, I created I https://colab.research.google.com/gist/jeisinge/10629c26b078ad9f51987cb7acd3ca9a/keras_preprocessing-horovod.ipynb to test for histograms on TensorBoard that had a similar issue.  Everything appears to work!

https://github.com/tensorflow/tensorflow/issues/41244 might be fixed as well?!

[2021-08-11 16:53] ymodak commented on #51395
Can you please post this issue on automl repo https://github.com/google/automl for support?
This repository focuses on TF Core and TF Lite related bugs. Thanks!

[2021-08-11 16:55] ymodak commented on #51201
@harujoh Was this piece of code executing successfully with TF 2.5 for you?

[2021-08-11 17:11] Saduf2019 commented on #41244
@oscaralvaro
Please confirm if the issue is resolved as the pr is merged.
Also, It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version.

[2021-08-11 17:12] Saduf2019 commented on #43834
@jeisinge
Please move this to closed status as resolved.

[2021-08-11 17:18] Kimidoge commented on #51380
I was wondering the same thing.
I can confirm that I'm using the exact code as the one I ran on Google Colab.

Here's a link to my repository for your reference (Error is at Line 57) :
https://github.com/Kimidoge/DriveProfiler-LSTM/blob/main/Driver%20Classifier%20using%20LSTM%20(Main)%20-%20Github.ipynb

Could it be an error I made when building the LSTM model? Many thanks for the help!

[2021-08-11 17:28] airman00 commented on #51395
Done, thanks!

https://github.com/google/automl/issues/1070

[2021-08-11 17:28] #51395 closed

[2021-08-11 17:31] bfontain commented on #43037
FYI, if you are using tf-nightly with TPUs you may need to make the TPU runtime version match with the currently installed TF version. To do this:

!pip install cloud_tpu_client
from cloud_tpu_client import Client
c = Client(tpu='')
c.configure_tpu_version(tf.__version__, restart_type='ifNeeded')

[2021-08-11 17:40] jlabarbera11 commented on #51402
@srjoglekar246 thanks, this works for me. In regards to not supporting >1 dimensions, is using `batch_dims=1` in the gather call also not supported in TFLite?

[2021-08-11 17:42] bhack commented on #43037
@bfontain We really need to find a better place to expose this tip.

[2021-08-11 17:43] srjoglekar246 commented on #51402
Yeah, any two-dimensional tensor is rejected by the TFLite op (unfortunately). But reshaping the input as suggested above should do the trick.

[2021-08-11 17:43] #51402 closed

[2021-08-11 17:44] HVoltBb commented on #51419
@nfelt I assume when the job is offloaded to GPU, the underlying algorithm is breaking up the sum into multiple chunks, implicitly achieving a higher precision for this operation, and thus avoiding this issue. I haven't looked at rank-1 vs rank-2 difference, but will do it later.

[2021-08-11 17:47] bfontain commented on #43037
Ideally a colab user should not need to do this. We could detect a tf version change after running a !pip or %pip or something similar and automatically make the runtime match if possible. An alternative would be to enhance %tensorflow_version (which does support TPU runtime version changing) to support more than just a handful of versions. In particular it doesn't support nightly.

[2021-08-11 18:01] yonatanbitton opened #51433 "How to add ARG_MAX operation in tensorflow lite android with GPU ?"
I am working with tensorflow 2.5.0. I take a 4d tensor and perform argmax in a lambda function:

[code]

then I convert, adding `TFLITE_BUILTINS` and `SELECT_TF_OPS`:

[code]

And then I run in the Android app, with GPU delegate

[code]

After running the model, I receive the following error:
[code]
I also tried `options.setUseNNAPI(true) `before creating the interpreter, but it doesn't help.
How

[2021-08-11 18:14] jplu commented on #43037
I was not using tf-nightly but tensorflow==2.6.0rc2. But thanks for the tip it is always good to know!

[2021-08-11 18:38] #43834 closed

[2021-08-11 18:51] jacksonfengwa commented on #51378
Thanks sushreebarsa. Just opened a ticket there. will see how it goes.

[2021-08-11 19:14] lukebor opened #51434 "Tensorflow decision forests after update to tf 2.6.0"
There is a problem with Tensorflow_decision_forests after updating to version 2.6.0

here is the gist https://colab.research.google.com/gist/lukebor/70f7abd84d547bf39c4a8b47394e7017/beginner_colab.ipynb

I have used tensorflow beginner tutorial and upgraded the tf. If there is other way to import tfdf please let me know

[2021-08-11 19:24] bfontain commented on #43037
IIRC, we don't have 2.6.0 runtime for TPUs available yet. If you need something feature added beyond 2.5.0 you should try the nightly.

[2021-08-11 19:25] bhack commented on #43037
2.6.0 was just released

[2021-08-11 19:29] bfontain commented on #43037
The TensorFlow release may be done, but it may be a few days before the TPU runtime release is available. You can check the runtime version your associated TPU is on via the Client() object above,

[code]

[2021-08-11 19:42] i-am-epic commented on #22926
can any one guide me to this issue

[2021-08-11 19:42] bfontain commented on #43037
I think as well, the default TPU runtime will match the default version of TensorFlow installed in colab, if you change this version (even to non-nightly) it is advised to configure the version as mentioned above. The caveat for non-nightly versions is that we generally only have TPU runtimes for non rc releases. In some cases (e.g. 2.5.1), we don't have a TPU runtime release, and it is most likel

[2021-08-11 19:48] bhack commented on #43037
I think with the current TF release policy patch releases are just for security fixes.

For bug triaging it is important to work with nightly as we often test on Colab nightly versions to check if It something the is fixed in master.

[2021-08-11 20:00] karimnosseir commented on #35506
@liuming-td You can get from [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/hexagon/hexagon_nn/BUILD#L34)

example:
bazel build --config=android_arm64  -c opt //tensorflow/lite/delegates/hexagon/hexagon_nn:libhexagon_interface.so

If you need it for arm linux
You can reach directly to me through email (same as my username here) and i will share it.

P.S.:
The

[2021-08-11 20:24] beasteers commented on #31050
I don't have any code ready to test this but looking at the source code, there is still no way to set the sprite path or size here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/callbacks.py#L2159-L2169

And there is nothing that references `embedding.sprite.image_path` here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/callbacks.py#L2

[2021-08-11 20:37] duynguyen0209 commented on #35506
G

[2021-08-11 22:12] nfelt commented on #51419
FWIW, one other thing that occurred to me is that `np.sum` supports a `dtype` parameter for the accumulator and result, while `tf.reduce_sum` does not, forcing a cast of the full input tensor to float64 to avoid this issue.  Unless there's some fancy lazy behavior happening under the hood or something to defer the cast, that would seem to require incurring a lot more memory overhead compared to nu

[2021-08-11 22:33] impjdi commented on #51417
Yeah, the GPU backends `MATMUL` (aka `FULLY_CONNECTED`) is not feature complete and may fail in various situations, including this one.  Unfortunately, everyone working on shaders are out, and it may take a long time to fix this.

In the short term, I would remove all the optional things, such as flattening and transposing.  If you look at your example, the tensor dimensions don't match up in a ma

[2021-08-11 22:54] HVoltBb commented on #51419
@nfelt  I think your explanation for the rank-1 vs rank-2 could be the case here.

[2021-08-11 22:57] impjdi commented on #51433
Yeah, I don't recall our team implementing an `ARG_MAX` op.  The closest we have is probably `MAX_POOL` with indices.  The shader code should be in the repository.

Adding custom op to the delegates requires a LOT of plumbing.
* First, you need to make tflite convert understand that custom op of yours (I have never worked in this domain and don't know how easy it is).
* Then you need to create the

[2021-08-11 23:05] impjdi commented on #51422
Please attach a tflite model.

[2021-08-11 23:11] nixmeer commented on #45185
I found a way to work around this issue. By now, my project is done and I am no longer working on it. But thanks for taking care!

[2021-08-11 23:12] impjdi commented on #51276
This is the right component, but all the owners are out for an extended period of time (some until next January), and you won't get a response in a reasonable time frame.

If you want to debug and isolate the issue yourself, the best is bisecting the graph and isolating the problem to a single operation with specific input/output dimension.

[2021-08-11 23:41] yoheimiyamoto opened #51437 "AUC in the Classification on imbalanced data tutorial"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/tuto

[2021-08-12 00:19] sjtusmartboy opened #51438 "SparseTensorToCSRSparseMatrix wastes so much time on cpu"
tensorflow 2.5

[code]

### trace
![Screenshot from 2021-08-12 08-09-44](https://user-images.githubusercontent.com/12267324/129119243-edb879ee-6300-480d-b7ed-406f0277e116.png)

I wonder why **sparse_tensor_to_csr_sparse_matrix** and **sparse_matrix_sparse_mat_mul** is calculated on both cpu and gpu because theoretically they should be calculated on gpu only for the sake of performance acceleration

[2021-08-12 01:02] Kipsora commented on #51417
Yeah I totally understand that on GPU delegate does not support every option. But it will also fail even without the `transpose_b` option, like the model like as follows:

[code]

I think the problem is not lacking of implementation of those options in `MatMul` kernel. The problem is that the `tf.reshape` operator seems disappeared when exporting the TFLite model. I guess the TFLite converter "ass

[2021-08-12 01:14] impjdi commented on #51417
Thanks for digging deeper into this.  If you use `tf.compat.v1.layers.flatten`, is the output correct?

[2021-08-12 01:19] Kipsora commented on #51417
Yes (assuming the abs diff threshold is `0.01`). The above model will have the testing log as follows:

[code]

[2021-08-12 01:22] Kipsora commented on #51417
I manually disabled the reshape operator in `model_builder.cc` but if I enabled it to run on GPU the results are still correct (see below).

[code]

[2021-08-12 02:07] sushreebarsa commented on #51378
@jacksonfengwa Thank you for the update .Could you please move this issue to closed status as you have opened a new ticket in Keras repo , you will get the right help there !Thank you!

[2021-08-12 02:11] sddi opened #51440 "tf.identity cannot support a tuple value"
I have recently use v1.13 of Tensorflow.
In my code:
[code]
it shows ：
[code]

or

[code]
how can i fix it ?

[2021-08-12 02:13] yourtheron commented on #36916
Here is my experience, and I hope that the following workaround could be of help.
As for a custom model, at least model.saving_weights(...) and load_weights work for .h5 format. Version tf 2.1. But they work in the following way:
1. Initialise the model and train it;
2. save_weights(...);
3. Quit Python environment (I use Spyder);
4. Re-launch the environment;
5. Re-initialise the model;
6. Loda_w

[2021-08-12 02:18] yourtheron commented on #35337
@mohantym Got it, thanks a lot!

[2021-08-12 02:18] #35337 closed

[2021-08-12 02:22] Qrox commented on #44515
Tested with tensorflow 2.5.0 and the output is the same as before, so this hasn't been fixed.

[2021-08-12 03:05] freedomtan commented on #51433
@yonatanbitton NNAPI does support ArgMax. However, default output data type of [tf.argmax](https://www.tensorflow.org/api_docs/python/tf/math/argmax) is `int64`, which is not supported by [NNAPI's argmax](https://developer.android.com/ndk/reference/group/neural-networks). If `int32` is enough for your use, please use `tf.argmax(tensor[i], output_type=tf.dtypes.int32)` instead.

[2021-08-12 03:11] erizen opened #51441 "dlopen/dlclose a so file which contain tensorflow static library cause memory leak"
In our scenario, there is only one process to serve the request, and the process will be closed only when an exception occurs. Each model inference algorithm is complied into a so file and loaded into this process.  Multiple model inference algorithms will be loaded in this process. Each so file contain a tensorflow static library.

In the service, the so file of different model inference algorith

[2021-08-12 03:21] abattery commented on #51402
https://github.com/tensorflow/tensorflow/commit/d76fbad66d84c5e051a0f90c4d73278856f2e22a fixes the converter issue.

Now, the above original model will require the Select TF op since TFLite gather op can not handle the 2D string inputs.

[2021-08-12 03:23] hongye007 commented on #51422
[demo_model.tflite.zip](https://github.com/tensorflow/tensorflow/files/6972604/demo_model.tflite.zip)
@impjdi

[2021-08-12 03:25] wangruo91 commented on #18652
My solution is, build from source, and set the same  compute capabilities as the target GPU devices when you exec ./configure. For me, I set 6.0 for p100 and 7.5 for t4,
# capabilities >= 3.5 [Default is: 6.1,6.1,6.1,6.1]: 6.0,7.5
Then use the .so(for c++ infer) or .whl(for py), and you will not stuck at "Adding visible gpu devices: 0".

[2021-08-12 04:19] tilakrayal commented on #51427
@liumilan ,

In order to reproduce the issue reported here, could you please provide the complete code and the dataset , tensorflow version you are using. Thanks!

[2021-08-12 04:21] tilakrayal commented on #51427
Also please take a look at this [comment](https://stackoverflow.com/questions/48017748/in-tensorflow-when-graph-is-modified-how-to-use-monitoredtrainingsession-to-r/48071975#48071975) and [link](https://stackoverflow.com/questions/43336553/how-to-use-tf-train-monitoredtrainingsession-to-restore-only-certain-variables) with the similar error.It helps.Thanks

[2021-08-12 04:49] ymodak commented on #50045
TF 2.6 has now released https://github.com/tensorflow/tensorflow/releases/tag/v2.6.0
Perhaps we can close this thread now.

[2021-08-12 05:25] sanatmpa1 commented on #51412
@OverLordGoldDragon

Glad that it worked! To answer your question, as per TensorFlow [documentation](https://www.tensorflow.org/api_docs/python/tf/tensor_scatter_nd_update) of `tensor_scatter_nd_update` , it clearly states that a new tensor will be created and we don't have inplace option implemented at this point of time.

As the solution that I proposed has worked for you, please confirm if we a

[2021-08-12 05:33] PINTO0309 commented on #40044
I know this won't be helpful to everyone, but this is my special work-around so far. If this is confusing, please ignore it.

I implemented GoupConvolusion with the standard Conv2D and Split, Concat, although I may have failed to transpose the weights. This model is chaotic.

https://github.com/PINTO0309/PINTO_model_zoo/issues/15
https://github.com/PINTO0309/openvino2tensorflow

- Midasnet - Float

[2021-08-12 06:01] Lemiron24 opened #51442 "Use TensorFlow Lite quantize RetinaFace get wrong result"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04
- TensorFlow installation (pip package or built from source):docker pull
- TensorFlow library (version, if pip package or github SHA, if built from source):tensorflow:2.4.1-gpu

### 2. Code
**this is my script which intend to convert float32 to int8 type:**

import tensorflow as tf
import numpy

[2021-08-12 06:05] Lemiron24 commented on #51442
this is the origin tensorflow network link:
https://github.com/bubbliiiing/retinaface-tf2

can someone give some helps, very appricated.

[2021-08-12 06:22] #51388 closed

[2021-08-12 06:47] #47158 closed

[2021-08-12 06:48] Saduf2019 commented on #51408
@van-68
can you please provide with more information and details when you say about vulnerabilities, as there is no active support for tf 1.x,  can you upgrade to 2.x and let us know.

[2021-08-12 06:58] yangshengdong opened #51443 "n-api supports automatic downgrade instead of hard-coded"
### background
I used @tensorflow/tfjs-node to build a coding service, but the deployment failed due to the inconsistency of the node version during build and runtime.

Uncontrollable node version during build and runtime

### for example：

build：node v12.19.1 corresponds to N-API 7
runtime ：node v12.22.3 corresponds to N-API 8

### result：
"The Node.js native addon module (tfjs_binding.node) can

[2021-08-12 07:20] liumilan commented on #51427
It seemed a bit differences. local_init_op , ready_for_local_init_op is got from SyncReplicasOptimizer .And it failed

[2021-08-12 07:22] liumilan commented on #51427
[code]
This is code i just follow,and tf version is 1.12.0

[2021-08-12 07:25] sushreebarsa commented on #51428
@farotem Could you please take a look at the [link](https://www.tensorflow.org/api_docs/python/tf/strided_slice) and let us know if it helps ? Thanks!

[2021-08-12 07:27] liumilan commented on #51427
tf version is 1.12.0

[2021-08-12 07:32] sushreebarsa commented on #51431
@D-Katt Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-08-12 07:48] D-Katt commented on #51431
Posted there.

[2021-08-12 08:00] n2cholas commented on #43687
@Saduf2019 the issue still persists with 2.5.0. With 2.6.0, the code works there is a different issue.  Consider the following snippet (directly from the colab):

[code]
This prints the following in 2.5.0 (which is correct):
[code]
But in 2.6.0, it prints:
[code]
The second line should be `GPU`. Why is this happening? is this a bug?

[2021-08-12 08:05] sushreebarsa commented on #51431
@D-Katt Thank you for the update! Could you please move this issue to closed status as you have posted it in Keras repo , you will get the right help there.Thanks!

[2021-08-12 08:07] #51431 closed

[2021-08-12 08:26] HannaLochOlszewska opened #51444 "Incorrect metrics for ragged tensor as output"
**System information**
- OS Platform: Windows 10
- TensorFlow installed from pip, version 2.5.0
- Python version: 3.8

**Describe the current behavior**
The metrics for the ragged tensors are calculating incorrectly.

**Standalone code to reproduce the issue**
The model:

[code]

Running:
[code]
Result (history.history) - 100% accuracy despite clear dismatches.

`
{'loss': [15.424947738647461, 15.

[2021-08-12 08:26] 888yyh commented on #28788
dear sir, met the same error, did you solve it?i ran with tf2.1,it still got this error.I changed the input from array to tensor, not working.Could you help me?hope for your reply.
Traceback (most recent call last):
  File "run.py", line 118, in <module>
    imgs_mask_test = model.predict(imagestest, verbose=1)
  File "/home/ma-user/anaconda3/envs/TensorFlow-2.1.0/lib/python3.7/site-packages/tenso

[2021-08-12 08:28] eedalong opened #51445 "DLPack Tensor is only supported in TF Eager Mode now right?"

[2021-08-12 08:30] 888yyh opened #51446 "AttributeError: 'Operation' object has no attribute '_c_op'"
tensorflow2.1
File "run.py", line 118, in <module>
    imgs_mask_test = model.predict(imagestest, verbose=1)
  File "/home/ma-user/anaconda3/envs/TensorFlow-2.1.0/lib/python3.7/site-packages/tensorflow_core/python/keras/engine/training.py", line 1013, in predict
    use_multiprocessing=use_multiprocessing)
  File "/home/ma-user/anaconda3/envs/TensorFlow-2.1.0/lib/python3.7/site-packages/tensorflow

[2021-08-12 08:34] 1148330040 opened #51447 "Error initializing parameters when inheriting from tf.keras.model！！！！"
env: tf2.2,  linux

**If there are two input parameters inherited from the tf.keras.model class and one of them is of bool type, it will directly report an error like this:**
![1628757059(1)](https://user-images.githubusercontent.com/34124260/129164925-5ca64255-cd04-45fe-978d-1cf8f4d42a27.png)

**However, the interesting thing is that if there are three input parameters and the third parameter has

[2021-08-12 08:39] sushreebarsa commented on #51444
@HannaLochOlszewska In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-12 08:40] sushreebarsa commented on #51447
@1148330040 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-12 08:43] HannaLochOlszewska commented on #51444
[code]

[2021-08-12 08:46] 1148330040 commented on #51447
this is my complete code:

class ModelBertCrf4Sub(tf.keras.Model):
    """该类用以获取subject
    使用bert&crf模型, 以序列标注的方法进行训练
    """
    def __init__(self, output_dim, use_crf):
        super(ModelBertCrf4Sub, self).__init__(output_dim, use_crf)
        self.use_crf = use_crf
        self.bert = TFBertModel.from_pretrained('hfl/chinese-bert-wwm-ext')
        self.dropout = tf.keras.layers.Dropout(0.3)

[2021-08-12 08:48] 1148330040 commented on #51447
this is my complete code, my tf is tf2.2, tf2.5 need wait a moment，thanks！
`class ModelBertCrf4Sub(tf.keras.Model):
    """该类用以获取subject
    使用bert&crf模型, 以序列标注的方法进行训练
    """
    def __init__(self, output_dim, use_crf):
        super(ModelBertCrf4Sub, self).__init__(output_dim, use_crf)
        # 如果使用embedding需要用到此参数, input_dim=len(vocabs)
        self.use_crf = use_crf
        self.bert = TFBert

[2021-08-12 08:52] sanatmpa1 commented on #51445
@eedalong,

Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) for us to expedite the trouble-shooting process? Thanks!

[2021-08-12 08:56] liuming-td commented on #35506
Thank you very much for your reply!
I want to ask that what's the difference between the "hexagon_nn_global_teardown" function in tf lite delegate and "hexagon_nn_teardown" function in Hexagonnn SDK. And the same question for "hexagon_nn_global_init".
And also, could you tell me something about how the "hexagon_nn_is_device_supported" function implemented？

[2021-08-12 09:03] LutzWeischerFujitsu commented on #50574
Just noticed that ./configure already sets numa + mkl.

[2021-08-12 09:15] DachuanZhao commented on #41244
It raises another error ```AttributeError: 'VocabWeightHandler' object has no attribute 'name'``` in tf26-rc2 . Here is the [colab](https://colab.research.google.com/drive/1BD9G1o7CNxAaKKyihCKx0wa1zW-tmn0r?usp=sharing#scrollTo=zvzHi4j0cAdH)

[2021-08-12 09:20] NeoZhangJianyu commented on #50574
@LutzWeischerFujitsu

I see you are using Fedora 33 which includes glibc version 2.3 as default.
But glibc 2.3 has removed sys/sysctl.h.

Could you try glibc 2.2?

Thank you!

[2021-08-12 09:32] gao8954 opened #51448 "saved_model bug"
tf version 2.3.2

when  train the model,some features is multi hot,use the split func like this:
[code]

but saved model,and load model
`model = tf.keras.models.load_model(saved_model_dir)`
the errors is
![image](https://user-images.githubusercontent.com/7404433/129173015-dc7a033a-c145-4801-a334-27e6fb88a775.png)

although I specified the name of to_sparse(name="features"),it also report the above

[2021-08-12 09:44] tilakrayal commented on #51434
@Saduf2019 ,
I was able to reproduce the issue in tf  [v2.6.0-rc0](https://colab.research.google.com/gist/tilakrayal/160c74fd7bfb76f0ee5137f13ec23dc2/2-6-4c0.ipynb), [v2.6 and nightly](https://colab.research.google.com/gist/tilakrayal/835723ae62587e58c37e0b993866d9d5/un51434.ipynb#scrollTo=1rD_ZNdUI6Ck) and whereas with TF [v2.5](https://colab.research.google.com/gist/tilakrayal/4374d8a6d1e3d677d1

[2021-08-12 09:45] 1148330040 commented on #51447
In tf2.5 and tf2.4 environments：
Since it is not necessary to declare the two input parameters (use_crf and input_dim) in super(ModelBertCrf4Sub, self).__init__(), so the above error does not occur：

![1628761526(1)](https://user-images.githubusercontent.com/34124260/129176044-bd660108-416a-45f3-a75f-bf6ec9c30ac1.png)

[2021-08-12 09:48] sushreebarsa commented on #51447
@1148330040 Thank you for the update ! Could you please let us know if this issue is resolved for you ? Thanks!

[2021-08-12 09:56] TillHa opened #51449 "dtype of RNN cell's state is changed to tf.float32 during reset_states"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: both win10 and CentOS Linux
-   **TensorFlow installed from (source or binary)**: pip
-   **TensorFlow version (use command below)**: 2.6.0
-   **Python version**: 3.8
-   **Bazel version (if compili