[2017-11-30 17:39] Carmezim commented on #14994
Please fill out the issue template with all information required or we won't be able to help you and your issue will be closed. Thank you.

[2017-11-30 17:52] ispirmustafa commented on #14942
@WenmuZhou thanks for helping us to investigate this issue.
To understand the issue better could you please give us following information:
print est_config.cluster_spec
print os.environ['TF_CONFIG']

[2017-11-30 17:57] gunan commented on #7529
Please install a later version, 0.11 may have some issues, may be incompatible with the latestruntimes, we have not ran any tests on that pip package for almost a year now.

[2017-11-30 17:59] lw394 commented on #10145
As far as I know the bottleneck was inter-GPU bandwidth with very large models.  In the example I had hid the GPUs from the parameter server, and I later gained some speed increase by revealing them.   However, instead try a separate parameter server on each GPU that only sees that GPU , where each worker still sees only one GPU.

[2017-11-30 18:00] tatatodd commented on #14861
@kartikeyasaxena1012 You need the 64bit version of Python 3.6, as described here:
https://www.tensorflow.org/install/install_windows#installing_with_native_pip

[2017-11-30 18:10] kidsung commented on #14719
Thank you (@drricksanchez321) But it still does not work well. It returns pill bottle or honeycomb when a camer see a mouse).
I don't know what it is wrong with that.

Please help me to sort it out (@pkurogerjs @atrah22 ) if you does not have those issues before it is closed

My full change of code is like below. (in the case of non_slim, I put 8 padding you mentioned. @drricksanchez321

 public c

[2017-11-30 18:13] ispirmustafa commented on #14942
Another useful information can be get by using ProfilerHook as follows:
[code]

You can check the output by using catapult as follows:
[code]

Could you please let us know the differences between 1.3 and 1.4 in profiler output?

[2017-11-30 18:33] gunan commented on #14014
@ewilderj @martinwicke

[2017-11-30 18:46] maxfiedler commented on #12859
I extended @gmichaeljaison 's example with a SummarySaverHook and voila, the error is back:
`import tensorflow as tf

dataset_train = tf.data.Dataset.range(10)
dataset_val = tf.data.Dataset.range(90, 100)

iter_train_handle = dataset_train.make_one_shot_iterator().string_handle()
iter_val_handle = dataset_val.make_one_shot_iterator().string_handle()

handle = tf.placeholder(tf.string, shape=[])
it

[2017-11-30 18:58] maxfiedler commented on #12859
while it works if you add a CheckpointSaverHook instead (?)

[2017-11-30 19:08] yunxing commented on #13063
Sorry just noticed this issue when doing a clean up of XLA issues.

Are you saying 1.3 is the preferred behavior while master branch is a regression? I'm actually not sure why that worked in 1.3 at all : There was an assert that prevents fused_batchnorm inference from being used and 7359fec fixed that (https://github.com/tensorflow/tensorflow/commit/7359fec792e4efec1670a12332bb524a5608b215#diff-0e

[2017-11-30 19:08] #13063 closed

[2017-11-30 19:12] ispirmustafa commented on #12859
@maxfiedler could you please let us know the exception stack trace? It will be useful to know which session.run command created this error.

BTW, `MonitoredTrainingSession` has an argument ` save_summaries_steps`. you can use that instead to handle summaries.

[2017-11-30 19:12] tatatodd commented on #14993
@zh794390558 Is it possible to share a minimum reproducible program, to help debug the problem?

@caisq might have some suggestions here.

[2017-11-30 19:13] tatatodd commented on #15001
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-30 19:13] #15001 closed

[2017-11-30 19:14] #14959 closed

[2017-11-30 19:19] caisq commented on #14993
@zh794390558 One way to reduce the size of the dump is to reduce your batch size.

Also, as @tatatodd suggested, a reproduction code would be helpful for me to diagnose the problem.

[2017-11-30 19:20] caisq commented on #14993
@zh794390558 another question for you: what operating system are you using with TF?

[2017-11-30 19:29] tatatodd commented on #15003
@simonhuber95 This sounds like a problem that's specific to your machine or installation, rather than a problem with TensorFlow.  I'd suggest investigating online for `msvcp140.dll` problems.

E.g. this StackOverflow issue suggests downloading `Visual C++ Redistributable for Visual Studio 2015`:
https://stackoverflow.com/questions/32998902/msvcp140-dll-missing

Closing this out, since there isn't

[2017-11-30 19:29] #15003 closed

[2017-11-30 19:35] tatatodd commented on #14995
@boeddeker Thanks for the great description of the issue!

@davidsoergel seems to have touched some of this code, and might have thoughts on appropriate fixes.

[2017-11-30 19:51] tatatodd commented on #14985
@balconychy Thanks for the clear bug description!

Looks like @weiranzhao wrote the code, and @josh11b might have reviewed it.  Can one of you take a look at this?

For convenience, here's the repro program that @balconychy created:
[code]

[2017-11-30 20:28] jazzisnice opened #15009 "Access Denied on MobileNet downloading"
Trying to run /tensorflow/examples/image_retraining/retrain.py, getting the following error:

[code]

I am trying to use MobileNet for retraining, but the following url:

'http://download.tensorflow.org/models/mobilenet_v1_1.0_160_quantized_frozen.tgz'

gives the following error:

[code]

The 1.0_220 version works, but 1.0_190 does not work also.

Could you advise on this issue please?

[2017-11-30 21:00] suryasumukh opened #15010 "feeding_functions._GeneratorFeedFn does not return correct num of batches"
feeding_functions._GeneratorFeedFn does not return correct #samples in mini batch. It actually returns mini batches with batch_size/key_size (key size is the length of dict yielded by the generator func).
[code]
https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/python/estimator/inputs/queues/feeding_functions.py
`list_dict_size` compared with `self._batch_size` in `_GeneratorFeedFn.__c

[2017-11-30 21:12] fatmas1982 commented on #6148
http://usyiyi.cn/documents/effective-tf/10.html

[2017-11-30 21:24] fatmas1982 commented on #6148
https://github.com/vahidk/EffectiveTensorflow#multi_gpu

[2017-11-30 22:13] tatatodd commented on #15009
It looks like the only quantized model we have available is this one:
http://download.tensorflow.org/models/mobilenet_v1_1.0_224_quantized_frozen.tgz

Non-quantized models are available for all other sizes (as described in `retrain.py`).  E.g. the non-quantized version of 1.0_160 is available:
http://download.tensorflow.org/models/mobilenet_v1_1.0_160_frozen.tgz

This corresponds to the following

[2017-11-30 22:21] yupbank commented on #15006
fixed by pass the train_init_op into local_init_op

[2017-11-30 22:26] jorgemf commented on #12667
I am experimenting something quite similar. With TensorFlow 1.4 and python 2.7. I run 2 workers (master + worker) one in each GPU and several parameter servers (I tried with 1 and 4). After a couple of hours, the master hangs and the worker keeps working. I run the master and the worker with the python debugger. It works for the worker but not for the master. It seems master is stopped in the C co

[2017-11-30 22:32] tatatodd commented on #14777
@offbye As I mentioned in the other issue you filed, I'm suspecting that there's a mismatch between the version of the code that is running the graph (the android demo?), vs. the code that built the GraphDef.

Can you provide details on exactly how you're running your models on Android?

[2017-11-30 22:33] #12895 closed

[2017-11-30 22:37] tatatodd commented on #14775
@darknoon Thanks for the detailed post.  Indeed the documentation could try to make this more clear - would you like to take a stab at that?

[2017-11-30 22:49] tatatodd commented on #14769
This is because `tf.logical_or` is only defined for the `bool` type, so there's no need to serialize extra type information into the GraphDef.

[2017-11-30 22:49] #14769 closed

[2017-11-30 23:01] cuevas1208 commented on #15004
I downloaded Release 1.4.0 and it worked just fine, thank you.

[2017-11-30 23:01] #15004 closed

[2017-11-30 23:06] tatatodd commented on #14759
@Phhere Thanks for filing the issue!

@zheng-xq might be interested in this, and might have some ideas too.

Sadly the LOG message is dropping the status, which would have told us *why* peer access isn't enabled.

The relevant code that's dropping the status is here:
https://github.com/tensorflow/tensorflow/blob/5439c1e2de01a8684b62aba224d44c392176ac32/tensorflow/core/common_runtime/gpu/gpu_device

[2017-11-30 23:08] cuevas1208 opened #15013 "GPU visual studio dependecies"
I build tensorflow 1.4.0 for windows with GPU usage. But when I run my program in visual studio 2015 I get these error:
[code]

My system:
Windows 10
Cuda 8.0
Cudnn 6
cmake cmake-3.9.4-win64-x64
Python 3.5.2
VS2015

[2017-11-30 23:09] alexwal opened #15014 "Extend Dataset API to support writing to files (not just reading)"
Just as we have a pipeline to read from files and convert them to output vectors/data via some model, It would be very useful to have a pipeline to take data and write it to files.

Otherwise, we have to use TFRecordWriters and a bit more code, but really much of this can be abstracted away, simplifying the data creation process, especially when writing to shards (as one might do using distributed

[2017-11-30 23:50] vickey20 commented on #14664
Thanks @angersson, reverting to NDK v14 worked for me!

[2017-11-30 23:53] max1456 opened #15016 "no such package 'tensorflow/examples/image_retraining': BUILD file not found on package path. for Virtual Environment on mac."
**Template ignored**

[2017-11-30 23:55] yifeif commented on #14818
Thanks for reporting the issue @droidicus. This should be fixed with #14354.

[2017-11-30 23:55] #14818 closed

[2017-11-30 23:56] max1456 commented on #15016
no such package 'tensorflow/examples/image_retraining': BUILD file not found on package path. I followed the tensorflow tutorial for retraining inception but when typed retrain this occured. I am running it on a virtual env on a macbook pro.  How do i get the build file on a virtual env.

bazel build tensorflow/examples/image_retraining:retrain
ERROR: no such package 'tensorflow/examples/image_ret

[2017-12-01 00:20] tatatodd commented on #14755
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-01 00:20] #14755 closed

[2017-12-01 00:26] tatatodd commented on #14749
I don't think there is an existing HS implementation in TensorFlow.  Contributions are welcome!

FYI here is the first result from a google search for [[hierarchical softmax tensorflow]](https://www.google.com/search?q=hierarchical+softmax+tensorflow)

https://stackoverflow.com/questions/44140486/scalable-efficient-hierarchical-softmax-in-tensorflow

[2017-12-01 00:28] tatatodd commented on #14729
@parsa-saadatpanah Thanks for the clear problem description!

@ebrevdo can you suggest someone to look into a fix?

Contributions are definitely welcome!

[2017-12-01 00:29] tatatodd commented on #14717
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-01 00:29] #14717 closed

[2017-12-01 00:32] tatatodd commented on #14715
Perhaps you're looking for:

https://research.googleblog.com/2017/06/mobilenets-open-source-models-for.html
https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.md
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android

For future reference, this type of question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tens

[2017-12-01 00:32] #14715 closed

[2017-12-01 00:34] tatatodd commented on #14713
Glad you worked out your issue.  But for future reference,

-----

Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/

[2017-12-01 00:44] facaiy commented on #14933
@szpssky I only write test case for `tf.layers.Conv1D`, however it should work well for keras as well. I think that replacing file might not be a good idea, because the file might be quite different between 1.4 and master branch.

Could you replace only the modification to original 1.4 python file, and test whether it works? Thanks.

[2017-12-01 00:46] tatatodd commented on #14711
@sandipmgiri Thanks for filing the issue!

It looks like the test is only expecting to see the CPU device, but it's getting confused by the extra XLA_EXEC and XLA_CPU devices.  I'm assuming you built with XLA support enabled?

In the short-term it's safe to just ignore these failures, since I believe it's a problem with the tests themselves, not with the system.

FYI @saeta who added these tests.

[2017-12-01 00:51] tatatodd commented on #14705
TensorFlow 1.4 supports CUDA 8, cuDNN 6.  Here are the configurations we support:
https://www.tensorflow.org/install/install_sources#tested_source_configurations

We anticipate releasing TensorFlow 1.5 with CUDA 9 and cuDNN 7:
https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md

Also note that this is a duplicate of #14244

[2017-12-01 00:51] #14705 closed

[2017-12-01 00:52] bhack commented on #12888
Sorry to be a little bit rude but is TF officially supporting ONNX or it will be just a community effort cause there is still not an official policy on this topic?

[2017-12-01 01:06] jhseu commented on #12888
We do not have anyone actively working on it. I'm personally happy to see the community effort around it.

[2017-12-01 01:17] #12340 closed

[2017-12-01 01:17] tensorflowbutler commented on #14566
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 01:17] tensorflowbutler commented on #14572
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce

[2017-12-01 01:18] tensorflowbutler commented on #14580
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 01:18] tensorflowbutler commented on #14584
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version

[2017-12-01 01:18] tensorflowbutler commented on #14608
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 01:18] tensorflowbutler commented on #14618
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 01:18] tensorflowbutler commented on #12340
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-01 01:24] sguada commented on #14583
To clarify, both tf.layers.conv2d and slim.conv2d should check that the rank is 4D and raise an error otherwise.
Using conv2d in a 5D tensor is out of the current API, but it can be implemente with reshapes.

[2017-12-01 01:26] bhack commented on #12888
But we will not see Google or TF logo in the footer of http://onnx.ai like AWS, FB and MS right?

[2017-12-01 01:40] taehyunkim1527 opened #15019 "Tensorflow: how to save/restore tf.data.Dataset?"
I made a model with `tf.data.Dataset()` as a data IO function

then i exported the graph and tried to restore it with meta_graph file But it failed and following error messages occurred.

I think that `tf.data.Dataset()` made a C++ object instead of python queue used before.

And the graph_def only has a C++ object handler reference, so the graph_def alone without real C++ object can't load comple

[2017-12-01 01:53] tatatodd commented on #15013
@cuevas1208  Does the advice in #13448 help?

[2017-12-01 01:58] tatatodd commented on #14703
Yes perhaps @fchollet can describe what the expected behavior is.

[2017-12-01 02:04] tatatodd commented on #14701
@tfboyd might have some suggestions about why Volta+CUDA8 performs so poorly.

[2017-12-01 02:07] tatatodd commented on #14699
@skye might have some ideas behind the interaction between `tf.cond` and the global step.

[2017-12-01 02:16] tatatodd commented on #14697
Yup, I think this is the same issue as #10661.  Closing this out, and pinging the other one.

[2017-12-01 02:16] #14697 closed

[2017-12-01 02:16] tatatodd commented on #10661
Any updates @ispirmustafa?

[2017-12-01 02:19] #14689 closed

[2017-12-01 02:21] tatatodd commented on #14683
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-01 02:21] #14683 closed

[2017-12-01 02:34] kweisamx commented on #14566
Hi @tensorflowbutler
I update the infomation
thx

[2017-12-01 02:47] tatatodd commented on #14675
@eamartin I think you've answered your own question with your further research into graph and op seeds.  The documentation you've pointed to also describes the use-cases for the different seeds.

The basic rule is that if you want to ensure certain variables in your graph are initialized to the same random value, you should set the op seed.

Changing the behavior of the implicit (unset) op-seed to

[2017-12-01 02:49] tatatodd commented on #14603
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-01 02:49] #14603 closed

[2017-12-01 02:56] candyzone commented on #14850
@aselle i also have the same question
i run dist. Estimator using `train_and_eval()` on Tensorlfow 1.4.0
90 ps 90 worker sometime ps node coredump, sometimes worker node coredumo
but, they core in the same callback, as below:
`#0  0x000000000000002e in ?? ()
#1  0x00007fb9cfc5bf19 in cc_destroy_call_elem () from /usr/lib/python2.7/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so
#2

[2017-12-01 02:59] tatatodd commented on #14511
Closing this out, since the `inception_preprocessing.py` example seems pretty good.

For future reference, note that this type of question is better asked (and kept) on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

The "New issue" template has more information o

[2017-12-01 02:59] #14511 closed

[2017-12-01 03:04] tatatodd commented on #13963
@jeherr did you get around to trying this on TensorFlow 1.4?

[2017-12-01 03:05] tatatodd commented on #13933
Closing this out, since I don't think there's anything more to add to this issue.

[2017-12-01 03:05] #13933 closed

[2017-12-01 03:14] facaiy commented on #14788
Hi, @abhigenie92 . As @alextp mentioned in #14878 , forwarding mutable references to variables is weird and discouraged, hence the behavior, returning a constant tensor, might be intent. Wish @alextp could clarify it, thanks.

By the way, I find the behavior is similar with `tf.identity`, see:

[code]

[2017-12-01 03:37] eamartin commented on #14675
I still feel that there's a feature/bug to discuss here. Namely, I think TensorFlow should strive to make reproducibility as easy as possible for the user, and that that's not the case here.

Can you think of any cases where the current default op seed is more intuitive than what I've suggested (default op seed is a function of graph seed and tensor name)?

I don't think I've ever seen a TF progra

[2017-12-01 04:07] yjmade commented on #14284
PR Merged, close now

[2017-12-01 04:07] #14284 closed

[2017-12-01 04:39] wellescastro commented on #781
Any news on scales_to_projective_transforms?

[2017-12-01 05:05] smsrikanthreddy commented on #14358
Hi @InsZVA,
Thanks for your reply.

Even I am also facing the same issue as @kemusa ,

- I switched to r1.3 and updated the BUID file with the two lines
- then built libtensorflow.so and  copied the built file to /usr/local/lib file in my docker container
-  then ran the bazel command to serve (the random forest code attached above) but again I got
   the same error "Op type not registered XXX".

[2017-12-01 05:13] szpssky commented on #14933
@facaiy You are right, there are some difference between 1.4 and master branch. As you said I just replaced the modified part, It seems that the operation can only be "SAME" and "VALID", here will be an error:
https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/python/framework/op_def_library.py#L688
`ValueError: Attr 'padding' of 'Conv2D' Op passed string 'CAUSAL' not in: "SAME", "VALID

[2017-12-01 05:19] dakshvar22 commented on #14584
@tensorflowbutler Updated the post.

[2017-12-01 05:26] facaiy commented on #14933
OK, thank you for test, @szpssky .  I'll test it later after I get off work :-)

[2017-12-01 06:04] eigen2017 commented on #3628
hope this bug be solved in a shorter time , cause this bug is in c++ core .
i only use c++ core and cross compile tensor to various devices ,
any way , here's my c++ "ugly" version for this bug ..

void MyTensorflow::SolveIssue_MovingAverage(GraphDef & graph_def)
{

    int i;
    int j;
    for (i = 0; i < graph_def.node_size(); i++)
    {
        if (graph_def.mutable_node(i)->op() == "RefSwitch

[2017-12-01 06:39] hhao89 opened #15026 "tensorflow 1.4 tf.keras gives different result compared with using keras directly"
I have tensorflow 1.4, when running the following code, the accuracy is different (78% vs. 34.90%) when I import Sequential, Dense, and model_from_json directly from keras (uncomment first 3 lines) compared with import from tensorflow.python.keras. Why is the big discrepancy?

(the data pima-indians-diabetes.csv is available at http://archive.ics.uci.edu/ml/machine-learning-databases/pima-indians-

[2017-12-01 07:03] #11086 closed

[2017-12-01 07:03] #11308 closed

[2017-12-01 07:04] #11906 closed

[2017-12-01 07:04] #12099 closed

[2017-12-01 07:04] #12222 closed

[2017-12-01 07:04] #12250 closed

[2017-12-01 07:04] #12374 closed

[2017-12-01 07:04] #12417 closed

[2017-12-01 07:04] #12445 closed

[2017-12-01 07:04] #12601 closed

[2017-12-01 07:04] #12630 closed

[2017-12-01 07:06] tensorflowbutler commented on #14684
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 07:06] tensorflowbutler commented on #15014
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 07:06] tensorflowbutler commented on #15010
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 07:06] tensorflowbutler commented on #14996
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 07:06] tensorflowbutler commented on #14990
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 07:06] tensorflowbutler commented on #14988
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 07:06] tensorflowbutler commented on #14886
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version

[2017-12-01 07:06] tensorflowbutler commented on #14858
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 07:06] tensorflowbutler commented on #14784
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 07:06] tensorflowbutler commented on #14752
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 07:06] tensorflowbutler commented on #14744
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 07:06] tensorflowbutler commented on #14726
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 07:07] tensorflowbutler commented on #14712
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory

[2017-12-01 07:07] tensorflowbutler commented on #14692
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 07:07] tensorflowbutler commented on #14666
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 07:07] tensorflowbutler commented on #14568
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
TensorFlow installed from
Bazel version
Exact command to reproduce

[2017-12-01 07:07] tensorflowbutler commented on #11086
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-01 07:07] tensorflowbutler commented on #12630
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-01 07:07] tensorflowbutler commented on #12601
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-01 07:07] tensorflowbutler commented on #12445
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-01 07:07] tensorflowbutler commented on #12417
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-01 07:07] tensorflowbutler commented on #12374
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-01 07:07] tensorflowbutler commented on #12250
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-01 07:07] tensorflowbutler commented on #12222
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-01 07:07] tensorflowbutler commented on #12099
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-01 07:07] tensorflowbutler commented on #11906
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-01 07:08] tensorflowbutler commented on #11308
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-01 07:23] hhxjzyr opened #15027 "Tutorial wrong code cifar10_multi_gpu_train.py"
when I run
`python cifar10_multi_gpu_train.py --num_gpus=2`
reported a error

[code]

So what is `[--use_fp16 USE_FP16]` ,it didn;a appear at anywhere in this code file

[2017-12-01 07:28] #14618 closed

[2017-12-01 07:40] facaiy commented on #14933
Yes, hacking `__call__()` method might make mess because `tf.kears` and `tf.layers` share a complicate multiple inheritance. Thanks for feedback, @szpssky . I'll look out other solution to fix the problem.

[2017-12-01 07:46] xushenkun opened #15028 "ctc_loss with best align path"
The tf.nn.ctc_loss function only returns negative log probabilities according to truth labels for the sequence's best align path.
But we also need this best align path in some situations.
Could you please supply this feature, thanks!
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform

[2017-12-01 07:52] WKChung1028 commented on #14988
N/A

[2017-12-01 07:55] vkumarcisco commented on #14273
Thank you @SteffenNa

[2017-12-01 07:57] chjshan commented on #14779
I meet the same error and solve it by installing setuptools
`pip install -U setuptools`

Hope this help you.

[2017-12-01 08:11] carlthome commented on #15028
Use `tf.nn.ctc_beam_search_decoder`?

[2017-12-01 08:13] carlthome commented on #14788
`tf.identity` has a clearer docstring.

[2017-12-01 08:14] jmaye commented on #14713
@tatatodd I don't agree to your post. The issue I've posted here is to be understood as a feature request, either on the documentation side or on the code side. Typically, I would love to see a parameter in the constructor of the Estimator that lets us use pre-trained models, with variable selector. It is a very common use case and I find it ugly the way it has to be done.
Another remark, I spent

[2017-12-01 08:17] scotthuang1989 opened #15029 "build tensorflow Image Recognition with c++"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:
- **Python version**:
- **Bazel version (if compiling from source)**: 0.6.1
- **GCC/Compiler version

[2017-12-01 08:18] Phhere commented on #14759
Hello,
i compiled tensorflow and now i get an interesting message:
`2017-12-01 09:17:42.115092: W tensorflow/core/common_runtime/gpu/gpu_device.cc:918] Unable to enable peer access between device ordinals 9 and 8, status: Internal: failed to enable peer access from 0x8270570 to 0x7ba7860: CUDA_ERROR_TOO_MANY_PEERS
`

[2017-12-01 08:21] adeagle commented on #14990
i have fix it ,thanks

[2017-12-01 08:21] #14990 closed

[2017-12-01 08:31] maxfiedler commented on #12859
Full Trace
[code]

[2017-12-01 08:36] maxfiedler commented on #12859
StopAtStepHook also works.
LoggingTensorHook doesn't
I guess it's about which Hook actually needs to evaluate certain ops in the graph for its functionality.
Then, when they try to evaluate part of the graph on the first session.run() call that produces the handle instances
`    handle_train, handle_val = sess.run([iter_train_handle, iter_val_handle]) `
where the handle obviously cannot be fed thr

[2017-12-01 08:45] maxfiedler commented on #12859
Yes this does the trick. Below the hack in the source code of SummarySaverHook that will make the example above work (starting in line 628 of basic_session_run_hooks.py of TF r1.4):
[code]
Of course this shouldn't be the official fix ;)
Alternatively one could check the fetches of a session run call and don't execute the before_run and after_run off a hook if the fetches contain a `Tensor("Iterato

[2017-12-01 08:50] anonym24 opened #15030 "Could not find a version that satisfies the requirement tensorflow-gpu (from versions: )"
Can't install tensorflow on Windows using Aconda method:

[code]

[2017-12-01 08:52] zh794390558 commented on #14993
@caisq my OS  is centos, and the code is too large which is attention-based seq-2-seq model.   The https://github.com/tensorflow/nmt  repo is same to my.

[2017-12-01 08:59] anonym24 commented on #15030
**Installing with native pip** also didn't work

https://www.python.org/ftp/python/3.6.3/python-3.6.3.exe
`pip3 install --upgrade tensorflow-gpu`

[2017-12-01 09:09] XiaoSX commented on #14610
I get the same error when bazel building........
i changed the python environment from python2 to python3, it shows this error. is there any help

[2017-12-01 09:13] themightyoarfish commented on #14886
Not compiling from source, so setting to N/A.

[2017-12-01 09:16] anonym24 commented on #15030
finally worked with **python 3.5.2** https://www.python.org/ftp/python/3.5.2/python-3.5.2-amd64.exe

and `pip3 install --upgrade tensorflow-gpu`

[2017-12-01 09:16] #15030 closed

[2017-12-01 09:34] rezwan16 opened #15032 "Error while implementing the feature requested in #10767"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
RHEL 6.8
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
'v1.3.0-rc1-5326-gcae852a', '1.4.0'
- **Python version**:
2.7.14
- **Bazel version (if compili

[2017-12-01 10:00] scotthuang1989 commented on #15029
I found the cause. I need configure LPATH to include path of  libcudnn.so. Although I put the lib at the standard location. I am not familiar with bazel, so get confused at start.

[2017-12-01 10:00] #15029 closed

[2017-12-01 10:01] anonym24 opened #15033 "cuDNN on windows will speed up image retraining?"
If  I'll do 4 steps from http://docs.nvidia.com/deeplearning/sdk/cudnn-install/index.html#installwindows

it will speed up tensorflow image retraining? (https://www.tensorflow.org/versions/r0.12/how_tos/image_retraining/)

![screenshot_7](https://user-images.githubusercontent.com/8851301/33477760-8eea082a-d68f-11e7-89d3-f8386ada70b2.png)

[2017-12-01 10:12] juandarango commented on #7072
Hello, I just solved the problem coping my code from the E: drive and running it in C:. There seem to be problems to find the path. I hope it helps.

[2017-12-01 10:24] khanrc opened #15034 "Optimize graph & graph transform tools do not support NCHW"
I tried optimizing graph using both [Graph transform tool](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md) and [Optimize graph for inference](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/optimize_for_inference.py). Both cases produced the same error because the fused batchnorm used not NCHW, but NHWC. I've got the er

[2017-12-01 10:31] danxiangjie commented on #13413
@wangyum，that's work ,thank you

[2017-12-01 10:31] hkxIron commented on #9777
@chengdianxuezi ,embedding_lookup_unique now can't by found in tensorflow ,do you still use it?

[2017-12-01 10:47] sewnet commented on #8785
I have a similar issue. I have installed tensorflow GPU version successfully.
But  when I try to import tensorflow in a python program, I get a similar error.
I then uninstalled the GPU version, keeping only the CPU version.

Then, import tensorflow, works fine for me.
But I need to work on the GPU version. Help me solve the problem. Please!!

[2017-12-01 10:51] albertz opened #15035 "NadamOptimizer does not work with sparse gradients"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**: 3.6.3

Code:
[code]

This fails with:
[code

[2017-12-01 11:06] albertz commented on #2502
I wrote such a function `supported_devices_for_op` [here](https://github.com/rwth-i6/returnn/blob/master/TFUtil.py) ([this commit](https://github.com/rwth-i6/returnn/commit/ed47af101e0f750232c81944be154ff980eb70d9)).
Basically it uses the TF C++ function `tensorflow::KernelsRegisteredForOp` which provides such information.

[2017-12-01 11:16] kawshik8 opened #15036 "error while importing"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-01 11:18] bchu commented on #15026
I have no idea, but note that tf.keras is a tensorflow-specific re-implementation of the Keras API. AFAIK the two implementations are very different.

[2017-12-01 11:29] facaiy commented on #14933
Hi, @szpssky. I reopened a PR with another solution. And both tests passed for keras and core. Perhaps you are interested on it.

[2017-12-01 11:35] kemusa commented on #14358
@smsrikanthreddy following up on @InsZVA's point, it seems that we need to find the build rules that add CountExtremelyRandomStats. If you look at the link below we can see the rules associate with tensorForest:
https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/contrib/tensor_forest/BUILD

I attempted to add the following lines to cc_binary[name="libtensorflow.so"].
        "//tensorfl

[2017-12-01 11:58] jorgemf commented on #12667
This is the back trace where it hangs for me:

[code]

[2017-12-01 12:09] jimdsouza commented on #3362
@xt479910344 There you go https://github.com/beniz/deepdetect/blob/master/src/tflib.cc#L235

[2017-12-01 12:10] gauss-clb opened #15038 "Why tensorflow don't support tf.float64 on some ops?"
Reproducing experiment of some paper using tensorflow may don't have good performance. I have tried my best to keep the structure and hyper-parameters unchanged. Does anyone encounter similar problem? Is it the code wrong?  I wonder that `caffe` can use `float64` but tensorflow only can use `float32`,  so there are more inaccuracy on `gradients`, why tf don't support `tf.float64`?

[2017-12-01 12:11] gauss-clb opened #15039 "Why tensorflow don't support tf.float64 on some ops?"
Reproducing experiment of some paper using tensorflow may don't have good performance. I have tried my best to keep the structure and hyper-parameters unchanged. Does anyone encounter similar problem? Is it the code wrong?  I wonder that `caffe` can use `float64` but tensorflow only can use `float32`,  so there are more inaccuracy on `gradients`, why tf don't support `tf.float64`?

[2017-12-01 12:12] #15039 closed

[2017-12-01 13:03] tensorflowbutler commented on #15019
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 13:48] ferreirafabio opened #15040 "raw video files to tfrecords (code integration)"
Since I had to address the issue of converting large (and many) raw RGB video files (e.g. .avi, .mp4 etc.) into tfrecords for threaded/QueueRunner training during a research project in the past, I was wondering if my resulting code [1] could be of any help to the TensorFlow community. If not, I would make a feature request and possibly participate or support the implementaton.

When I had to addre

[2017-12-01 13:58] Erichliu00 commented on #14726
just use `from copy import copy` and do `copy(model)` instead of deep copy.

[2017-12-01 13:58] #14726 closed

[2017-12-01 14:14] ChaitanyaCixLive commented on #14975
the error is still showing even after switching to 4e9fa6d
. what needs to be done .. m a nube.

[2017-12-01 14:15] ChaitanyaCixLive commented on #14975
ERROR: /home/chaitanya/GitLibs/tensorflow/tensorflow/compiler/xla/service/gpu/llvm_gpu_backend/BUILD:16:1: C++ compilation of rule '//tensorflow/compiler/xla/service/gpu/llvm_gpu_backend:llvm_gpu_backend' failed (Exit 1).
tensorflow/compiler/xla/service/gpu/llvm_gpu_backend/gpu_backend_lib.cc:37:41: fatal error: llvm/CodeGen/CommandFlags.def: No such file or directory
compilation terminated.

[2017-12-01 14:16] #15036 closed

[2017-12-01 14:17] qmick commented on #15027
You can close this issue because this file has been moved to tensorflow/models(https://github.com/tensorflow/models/tree/master/tutorials/image/cifar10) and a discuss about this problem can be found at tensorflow/models#2481.

[2017-12-01 14:21] cuevas1208 commented on #13448
@helen-medina what are the dependencies you use to run tensorflow-GPU models in visual studio?
it looks like I am missing something:
[code]

[2017-12-01 14:58] MeteorKepler opened #15041 "Gradient computation occupies too much memories in "cnn (using while_loop) + lstm" network"
### System information
- **Have I written custom code**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3
- **Python version**: 3.6
- **CUDA/cuDNN version**: 8.0/5.1
- **GPU model and memory**: GTX Titan X 12GB
- **Bazel version**: No use
- **Exact command to r

[2017-12-01 15:38] szpssky commented on #14933
@facaiy
It seems that this problem still exists:

`  File "/Users/szp/anaconda3/envs/dl/lib/python3.6/site-packages/tensorflow/python/keras/_impl/keras/engine/topology.py", line 252, in __call__
    output = super(Layer, self).__call__(inputs, **kwargs)
  File "/Users/szp/anaconda3/envs/dl/lib/python3.6/site-packages/tensorflow/python/layers/base.py", line 575, in __call__
    outputs = self.call(

[2017-12-01 15:38] l33tdawg commented on #14898
Confirmed that @danbarnes333 fix of changing line 343 of variant.h to
std::shared_ptr<ValueInterface> value_; works in getting TF 1.4 with cuDNN 6 and CUDA 8 installed and working using bazel 0.8 on OS X 10.12.6 however I also needed to comment out the line linkopts = [“-lgomp”] in tensorflow/third_party/gpus/cuda/BUILD.tpl

[2017-12-01 15:49] tfboyd commented on #14701
I do not think it is worth looking into CUDA 8 issues with V100.  CUDA 9 performs much better and is the intended version of CUDA for Volta.  Closing.  I know this might be frustrating but having someone look at this means not looking at something else and I would not suggest CUDA 8 with Volta.  There are a few fixes we are getting for Windows and then we can roll out 1.5 with CUDA 9 in the binary

[2017-12-01 15:49] #14701 closed

[2017-12-01 15:53] facaiy commented on #14933
Yes, at least for Linux CPU, both tests below passed on python 2.7 and python 3.6.

[code]

[2017-12-01 16:09] facaiy commented on #14933
Hi, @szpssky . I leave some comments on PR for you, and could you recheck your patch? It seems that `causal` leaks into its parent class, which is unexpected for me. Moreover, could you paste your environment information? Thanks.

[2017-12-01 16:22] musiclicn opened #15043 "a"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-01 16:48] drasmuss commented on #14957
I'm not sure if this is covered under your cases above, but I found another situation where 0B memory usage is reported, but this seems to have a different cause:
[code]
gives output
[code]
Again I'd expect `mul` to report 8MB memory usage, but it reports 0B.  But if we look at the node stats this time
[code]
we can see that the memory usage isn't reported in `memory` or `memory_stats`.

On a diff

[2017-12-01 16:59] h8907283 commented on #14731
@andrewharp I'm more than happy to follow your lead and spend time to contribute to the ssd-mobilenet support. Or you got this and you just need someone to help testing, I can do that too. BTW, is it going to be available soon? Do you have an ETA? Thanks so very much!

[2017-12-01 17:03] panyx0718 commented on #14957
For the first issue you reported, I believe it's covered, since I reproduced your case in a unittest.
For the second issue about placeholder, I'm not sure yet. As I documented above, TensorFlow doesn't trace all allocations yet, for example, in your case, since the tensor is from a np, I suspect the tensor is created from proto directly, in stead of going through OpContext.allocate_xxx.

[2017-12-01 17:14] devinsaini opened #15044 "rolling window batch operation for tf.data.Dataset"
_This is a feature request_

For Datasets that represent a sequence or time series, it can be useful to have a Dataset op that creates a rolling window batch over the given Dataset. For example, if I have a tf.data.Dataset whose elements represent a time series (line breaks separate elements):
[code]
The rolling window batch would create a dataset with the following elements (for window size 4 and

[2017-12-01 17:27] yaroslavvb commented on #14858
cc @purpledog

[2017-12-01 17:34] purpledog commented on #14858
Hi,

Consumer ops are not the same as t.op. Simply speaking, `t.op` is the op producing the tensor and consumer ops are the ops taking `t` as input.

So I think this is working as expected (correct me if I am wrong!).

[2017-12-01 17:40] #15043 closed

[2017-12-01 17:40] aselle commented on #15044
@mrry, care to comment on this feature request?

[2017-12-01 17:44] aselle commented on #15040
@mrry, could you comment on this feature request?

[2017-12-01 17:45] aselle commented on #15038
Most model developers try to use the minimum precision necessary. Many (most?) models can be done with float32, and it is generally much faster. Adding float64 support everywhere doubles the amount of code to maintain and to have in a binary. That being said, if there is a strong reason, we would be happy to support float64 in spaces as needed.

[2017-12-01 17:47] yaroslavvb commented on #14858
Indeed they are not the same, and I think it should be `t.op` instead of consumer ops.
Consider how it works now

[code]

[2017-12-01 17:47] aselle commented on #15034
Could you provide a reproducible test case of what exactly you tried to do? Generally speaking, I think a lot of the tooling after training requires NHWC, as that was the only format when those were written. If you could provide a reproducible test case, we could work to improve it. @petewarden, do you have any other comments?

[2017-12-01 17:51] yaroslavvb commented on #14858
Actually after thinking a bit, I can see your logic -- using `A.op` instead of `A` may forward walks to include chains of computation that don't include `A` which would also be counter-intuitive.

I was too used to thinking of TensorFlow not having a concept of tensor (since the graph only contains ops, and you can't compute any tensor individually without computing all of the other tensors on the

[2017-12-01 17:51] #14858 closed

[2017-12-01 17:53] yaroslavvb commented on #14858
The current counter-intuitive behavior is that there's no way to include the endpoints of your walks if you use a tensor

IE the following will not include `A0` in the forward walks returned

`print(ge.get_forward_walk_ops(A0, inclusive=True))`

[2017-12-01 17:55] purpledog commented on #14858
Yes, agreed. I think it's not possible to use the graph_editor without using both tensor and ops, which is indeed at odd with the rest of TensorFlow. I'd still call it a "feature" and not a bug but I do see where you are coming from.

[2017-12-01 18:11] suryasumukh commented on #15019
same issue as @taehyunkim1527

[2017-12-01 18:17] hhao89 commented on #15026
@bchu The re-implementation is expected to achieve the same functionality as keras, though the implementation is different. I actually tried on multiple datasets, the resulting accuracies of the two are very different  (78% vs. 34.90%; 98% vs. 50%).

[2017-12-01 18:18] alextp commented on #14788
Yes, print should have the same behavior as identity (and it does). I'll happily accept a PR to fix the docstring.

I can see how the docstring is confusing if you think a variable is a tensor (it's not). A variable is a thing which can be converted to a tensor containing its current value. It also can be assigned to, partitioned, etc, which tensors can't.

[2017-12-01 18:24] nasergh commented on #12052
@danqing
Thanks
1- MKL how much improve the speed ?
2- in version without MKL i need to install MKL ?!

[2017-12-01 18:34] yaroslavvb commented on #14858
@purpledog BTW, I hope you will graduate graph_editor out of contrib at some point, it's useful for running larger models in GPU budget. For instance, you can do imagenet resnet with 4x memory reduction at 1.2 compute cost by checkpointing intermediate values and using graph editor to rewire the graph.

Here's a recent neat example of using it -- do backprop on a chain of length n while using cons

[2017-12-01 18:40] suharshs commented on #15009
Thanks Todd. We currently only have size 224 image mobilenet quantized model available. We haven't yet prioritized getting trained quantized models for the other inputs sizes. I'll rename this issue as a feature request to help us prioritized training the other models, thanks!

[2017-12-01 18:47] IB888 opened #15045 "Updated Tensor flow, incompatible function parameters. (Float32>int)"
Hi,

### System information
Windows 10
TensorFlow installed using pip.
I am using CDU
Python 3.6.3 (using Spyder)
TensorFlow version: 1.4.0

Have I written custom code: No
OS Platform and Distribution:
TensorFlow installed from
Bazel version:NA
CUDA/cuDNN version:NA
GPU model and memory: using cpu.
Exact command to reproduce:
activate myenvrionment
spyder

This code was written on 0.x tensorFlow,

[2017-12-01 18:56] #12690 closed

[2017-12-01 18:57] tensorflowbutler commented on #15033
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 18:57] tensorflowbutler commented on #15035
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-01 18:57] tensorflowbutler commented on #12690
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-01 19:08] aselle commented on #14994
Did you try looking at the instructions here?  (the link the error had at the bottom!) https://www.tensorflow.org/install/install_sources#common_installation_problems

[2017-12-01 19:10] aselle commented on #14998
@martinwicke, do you have any api thoughts. My thought is that I'd prefer this to be a separate call as this would keep it more similar to numpy (which doesn't have begin_axis and end_axis teither). You could call it partial_reshape() or something.

[2017-12-01 19:11] ispirmustafa commented on #14776
It should not be related with Keras code. It should work since it is handled within Estimator.
@droidicus could you please print est_keras.config and est_keras.config.cluster_spec.as_dict?

[2017-12-01 19:14] aselle commented on #15002
@allenlavoie, could you please take a look at resolving this issue as you have commented on #12860.

[2017-12-01 19:14] ispirmustafa commented on #10661
It's a wrong documentation. I'll fix the documentation. History: Global step was part of the Scaffold when we were prototyping the first versions. We removed it while it was getting mature.

[2017-12-01 19:14] #10661 closed

[2017-12-01 19:20] caisq commented on #14993
I tried running tfdbg on the nmt model, so far I can't repro the issue on CPU yet. Will try again on a GPU machine soon.

[2017-12-01 19:21] #15027 closed

[2017-12-01 19:22] #9369 closed

[2017-12-01 19:25] ngc92 opened #15046 "stop gradients for weights in tf.losses"
In the case that the weights given to tf.losses.* depend in some way on the model parameters,
the derivative of that loss also calculated with respect to the weights.
(Stupid) minimal example:
[code]
results in
[code]

I would expect the weights to be considered constant for the calculation of a loss. In case you agree with me, I can make a PR that adds `stop_gradient` around the weights parameter

[2017-12-01 19:25] martinwicke commented on #14998
I agree. I'd prefer a separate function, `partial_reshape` seems like a good name. Added API review to figure this out before anyone writes any code.

[2017-12-01 19:26] danqing commented on #12052
for 1, see [this](https://software.intel.com/en-us/articles/tensorflow-optimizations-on-modern-intel-architecture) - note that computations done on GPU won't have the speed up obviously.

for 2, you don't. make sure you install the right version.

[2017-12-01 19:30] aselle commented on #15016
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

i.e. What version of tensorflow? What tutorial URL? Where are you running this command from?
However, my g

[2017-12-01 19:30] #15016 closed

[2017-12-01 19:35] aselle commented on #14988
It is written in C++ ... see e.g.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/image_ops.cc

[2017-12-01 19:35] #14988 closed

[2017-12-01 19:37] allenlavoie commented on #15002
We should import some GPU headers in our custom op test once this gets fixed, but I have no idea how the CUDA headers should be packaged and unfortunately I don't have time to dig in to it.

@flx42 @gunan know anyone who can work on our header packaging for CUDA custom ops? Not quite sure who broke it, but it would be good to have fixed.

[2017-12-01 19:40] ispirmustafa commented on #12859
@maxfiedler thanks for the code. I see the problem now. First `session.run` invokes summaries. I can think of a couple workaround. One of the is using MonitoredSession.run_step_fn(...) (@isaprykin ). This is a new utility. You can find it at head.
def step_fn(step_context):
  if handle_train is None:
    handle_train, handle_val = sess.run([iter_train_handle, iter_val_handle])
  return step_contex

[2017-12-01 19:41] gunan commented on #15002
Amit worked on similar issues before. Could you take a look?

[2017-12-01 19:49] cuevas1208 commented on #15013
I pretty much added all the .lib from tensorflow and cuda. It works now if anyone has a better way let me know.

Thank you

[2017-12-01 19:49] #15013 closed

[2017-12-01 20:00] YoelShoshan commented on #14887
[gzip](http://www.gzip.org/) which uses [deflate](http://www.gzip.org/algorithm.txt) sounds like a reasonable option.

Very standard nowadays, easy to generated/deflate using python/c++ (and probably other programming languages) by using zlib.

[2017-12-01 20:25] Hossein15051 commented on #14779
Thanks @chjshan. Installing setuptools worked for me too. However, when I wanted to install the pip package, I found name of .whl file in /tmp/tensorflow_pkg location and them I run the following command:
                      sudo -H pip install /tmp/tensorflow_pkg/tensorflow-1.4.0-cp27-cp27m-macosx_10_12_intel.whl

and I get the following error:

                  DEPRECATION: Uninstalling a dis

[2017-12-01 20:29] max1456 opened #15047 "no such package 'tensorflow/examples/image_retraining': BUILD file not found on package path"
### System information
- I have not written any of my own code. I downloaded Tensorflow through virtualenv as recommended by tensorflow
- My OS is High Sierra on a macbook pro
- : I am using python 2.7
- **Bazel version Build label: 0.7.0-homebrew:

### I'm following the tensorflow tutorial on how to retrain inception v3, which I have linked here; https://www.tensorflow.org/tutorials/image_retrain

[2017-12-01 20:52] suryasumukh commented on #15019
I have a similar issue -
I'm trying to load a trained model for inference. In the code snippet below, `features:0` is the name of one of the tensors returned by dataset iterator. Is it possible to directly feed the tensor without having to initialize the iterator ?

Code
[code]
Error
[code]

[2017-12-01 21:45] johnpjust commented on #4965
Love that this is getting implemented.  Really handy.  Just a small comment from my end....the event_dims argument is not really obvious to me.  Can a multivariate Gaussian example be included so I know how to work with correlated variables?  Something like....but not sure what the event_dims argument should be.

precision = tf.matrix_inverse(tf.constant([[1., 1.5], [1.5, 4.]]))
def log_joint(x):

[2017-12-01 21:53] cuevas1208 opened #15049 "No OpKernel was registered to support Op 'OneHot' with these attrs. Tensorflow1.4"
I have trained and saved a CNN model in python Tensorflow 1.3.
I can successfully load and run the graph previously saved from my python model in Tensorflow 1.4 using CPU and c++ with no problem; but when I tried to load the same graph using Tensorflow 1.4 using GPU c++ and I get the following error:

`-		status	{state_=unique_ptr {code=INVALID_ARGUMENT (3) msg="No OpKernel was registered to suppo

[2017-12-01 21:53] Moldy01 opened #15050 "upgraded tensorflow to use GPU - she's a no worky anymore"
Script was running fine (if a bit slow).  Decided it was  time to upgrade to the gpu version of tensorflow.  From what I can tell, for some reason it is looking for libcublas.so.8.0.  Since I just upgraded to the latest cuda libs, I'm running libcublas.so.9.0.176  (found in /usr/local/cuda-9.0/lib64/) and, yes, that is in my path (first item, by the way).

Using TensorFlow backend.
[code]
### Sour

[2017-12-01 22:06] albertz commented on #15035
- **Bazel version (if compiling from source)**: N/A
- **GCC/Compiler version (if compiling from source)**: N/A
- **CUDA/cuDNN version**: N/A
- **GPU model and memory**: N/A
- **Exact command to reproduce**: N/A

[2017-12-01 22:47] justinkwan1216 opened #15051 "DataLossError ; Input/output error"
[code]
how can this be fixed? the model can not be loaded

[2017-12-01 23:09] twksos commented on #12508
@AKhilGarg91

I got the too many values to unpack on 1.4, too.

a small dig into that I changed
`tf.estimator.export.build_parsing_serving_input_receiver_fn`
to
`tensorflow.contrib.learn.build_parsing_serving_input_fn`

In `tensorflow/contrib/learn/python/learn/utils/saved_model_export_utils.py` line 157-161
[code]
In `InputFnOps`, it says
[code]

Seems the new class causes the error.
[code]
shoul

[2017-12-01 23:42] nealwu commented on #14000
FYI, the `--data_format` flag we added is able to handle this appropriately on my end for both the MNIST model and the ResNet ImageNet model. I can resume training and/or evaluate on the same checkpoint even if I swap the `data_format` value. Let me know if you are having any issues @183amir; otherwise closing this.

[2017-12-01 23:42] #14000 closed

[2017-12-02 00:08] johnpjust commented on #4965
Also, not sure if this is relevant enough for here or should be a new request, but I tested the HMC sampler with multimodal distributions and it doesn't do very well as the modes get "far enough" apart, even trying to tune the hyperparameters a lot.  I tested the exact same multi-modal distribution below with Matlab's HMC sampler and I'm getting similar results, so i expect this is a limit of HMC,

[2017-12-02 00:10] stiebels commented on #14622
+1

[2017-12-02 00:19] facaiy commented on #14788
At first I think a variable is not a tensor until I see the official document:

[Tensors - Programmers' Guide](https://www.tensorflow.org/programmers_guide/tensors)

If I understand it correctly, there are only one kind of `Tensor` in C++ side: it can be mutable or immutable which depends on `dtype`. However, it is not that simple in Python side:
- `tf.Constant` return immutable `tf.Tensor`.
- `tf

[2017-12-02 00:38] alextp commented on #14788
tf.Variable s are not tensors, and neither are SparseTensors

On Fri, Dec 1, 2017 at 4:21 PM, Yan Facai (颜发才) <notifications@github.com>
wrote:

--
 - Alex

[2017-12-02 01:05] tensorflowbutler commented on #15041
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce

[2017-12-02 01:37] facaiy commented on #15046
Perhaps you'd better to use tf.constant for weight… instead of a variable.

[2017-12-02 02:06] xushenkun commented on #15028
ctc_beam_search_decoder and ctc_greedy_decoder can only make predications, but can't get the best alignment path according to the target.

[2017-12-02 02:34] WenmuZhou commented on #14942
the `est_config.cluster_spec` is None and there are a error when run
[code]

log is
[code]
and when I import profile_hook, there are a error
[code]

[2017-12-02 02:36] yongtang commented on #14887
I am wondering if it makes sense to just add an optional `compression` flag to `decode_raw`?

At the moment compression are supported in  some of the classes and there are some PRs pending,  like #14599, #12369, #14342. There is no dedicated `compressed format` process. Rather compression are treated as an optional layer on top of  `TFRecord`, `TextLineRecord`, etc.

Maybe we could just do the sam

[2017-12-02 03:24] mvrozanti commented on #14622
+1

[2017-12-02 04:04] jeherr commented on #13963
Sorry I meant to get back to this sooner. So I've been working on getting tensorflow 1.4 installed. I was using python 3.6 and it's seems that I ran into issue #14182. So until that gets worked out I decided I would try to use python 3.5. So I set up a new conda environment, installed everything I needed, and now I'm hitting a "terminate called after throwing an instance of 'std::bad_cast'" error,

[2017-12-02 04:15] WKChung1028 commented on #14988
Can i have the "Exact command to reproduce" too?

 Tensorflow is new to me. I am trying to understand what happen in the function tf.image.crop_and_resize(images, boxes, batch_inds,
                                         [pooled_height, pooled_width],
                                         method='bilinear',
                                         name='Crop')"  .

If use
return tf.image.crop

[2017-12-02 06:17] szpssky commented on #14933
@facaiy
I tested your PR on master branch, it looks work well. However, if input shape is (None,None,1) such as the first layer is LSTM, it will have an error:
`  File "/Users/szp/anaconda3/envs/tf-latest/lib/python3.6/site-packages/tensorflow/python/layers/convolutional.py", line 358, in shape_fn
    input_list[1] += left_pad
TypeError: unsupported operand type(s) for +=: 'NoneType' and 'int'`

B

[2017-12-02 06:18] rcmf123 commented on #14244
Can someone help me? I pretty new to this.
I already installed cuda9.0 and cudnn7.0 then found out that cuda 9 isn't supported by tensorflow 1.4 then I came across to this thread.
I've downloaded the whl and installed it using:
`pip3 install tensorflow-1.4.0-cp35-cp35m-linux_x86_64.whl`
it says that it was successful but when I try to import tensorflow I get the following error:
`ImportError: libc

[2017-12-02 06:18] AKhilGarg91 commented on #12508
@twksos Thanks. .  Yes that worked for me as well and I also tried that one only before.

[2017-12-02 06:24] johnpjust commented on #4965
This is a great feature.  Thanks for working on it!

I tried this out and compared to Matlab's HMC version.  The Matlab one is at the very least an order of magnitude faster, all else the same (see below on my machine).  I mean, I am using the TF build that isn't built to support the additional AVX instructions available for my CPU, but still....that seems like a huge diff.  Actually i run one mor

[2017-12-02 06:58] tensorflowbutler commented on #15045
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-02 06:59] tensorflowbutler commented on #15047
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-02 06:59] tensorflowbutler commented on #15049
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-02 06:59] tensorflowbutler commented on #15050
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-02 06:59] tensorflowbutler commented on #15051
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-02 07:23] danqing commented on #14244
I would assume that you installed the wheel I provided above.

If so, follow the debug guide in our readme (https://github.com/mind/wheels#cuda) and make sure cuda 9 is in your path. It looks like your cuda 9 isn't correctly installed.

If you need further assistance, open an issue in our repo and I can help you there. 10+ people are subscribed to this thread and let's not do multiple back-and-for

[2017-12-02 07:47] xushenkun commented on #15028
According to "https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/ctc/ctc_loss_calculator.cc", I think the best alignment and probs may be as below and this is not a waste of resources during calculating ctc loss.

best_align = argmax(log_alpha, axis=0)
blank_pos = where(best_align % 2 == 0)
target_pos = where(best_align % 2 != 0)
best_align[target_pos] = target[best_align[ta

[2017-12-02 07:57] facaiy commented on #14933
Good question! Yes, I forget unknown dimension. I'll fix the problem later. Thanks very much.

[2017-12-02 08:03] facaiy commented on #14933
By the way, if the two LSTM behaves differently, which might indicate a bug. I suggest to report the inconsistency: -)

[2017-12-02 08:04] tasx0823 commented on #4887
I am meeting the same problem. I have tried to decrease my loss in training, however,in testing I find the outout is all messed!   @jccaicedo  Have you found any way out?

[2017-12-02 09:09] jiang0503 opened #15054 "~"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-02 09:21] derekhh commented on #14942
I've seen a similar issue:

My code snippet to test on tf1.3:

[code]

For tf1.4, I simply changed `tf.contrib.data` to `tf.data`, `num_threads` into `num_parallel_calls` and `output_buffer_size` to `prefetch`. Then I've seen a very significant performance drop:

On TF 1.3 I get:

[code]

On TF 1.4 I get:

[code]

[2017-12-02 09:39] #6263 closed

[2017-12-02 09:39] #14739 closed

[2017-12-02 09:39] #14806 closed

[2017-12-02 09:39] #14891 closed

[2017-12-02 09:49] marrowsuck commented on #14975
The cause of the issue is https://github.com/tensorflow/tensorflow/commit/4e9fa6dcce4912a4797c48f4cb55d3564961bfca. To successfully compile tf you have to change CommandFlags.def back to CommanFlags.h  in tensorflow/compiler/xla/service/gpu/llvm_gpu_backend/gpu_backend_lib.cc.

I'll open another issue and address this.

[2017-12-02 10:05] goodmangu commented on #12052
@Tweakmind : I cannot pass this part:

Building TensorFlow

bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0
bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg
pip install /tmp/tensorflow_pkg/tensorflow-1.4.0-cp36-cp36m-linux_x86_64.whl

This first line seems to be incomplete (missing double quote

[2017-12-02 11:59] facaiy commented on #15026
seems critical if it's true. cc @fchollet

[2017-12-02 12:18] marrowsuck commented on #14975
Never mind -- the issue seems to be fixed in master.

[2017-12-02 12:43] ppwwyyxx opened #15056 "tf.losses.mean_squared_error is actually sum of squares"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.3.0-rc1-5211-gab0fcac 1.5.0-dev20171124
- **Python version**: 3.6
- **Bazel version (if compiling from s

[2017-12-02 14:59] bshao001 commented on #14198
I am facing the same problem. Why this is not considered a bug?

[2017-12-02 15:01] WenmuZhou opened #15057 "gpu is slower than cpu"
Have I written custom code：No
OS Platform and Distribution: win10
TensorFlow installed from: pip install tensorflow-gpu or pip install tensorflow
TensorFlow version: 1.4 and 1.3
Bazel version: None
CUDA/cuDNN version: cuda8.0 and cudnn 6.0
GPU model and memory: GTX1050 2GB
Exact command to reproduce: no

I have trained a cnn+lstm mode, and use the model to predict one image, however, I find the GP

[2017-12-02 15:06] WenmuZhou commented on #14942
I did another test (using a trained models to predict the image) and also proved that tensorflow1.4 was slower than 1.3 #15057

[2017-12-02 15:47] rcmf123 commented on #8076
How did you fix it?

[2017-12-02 17:34] is8ac opened #15058 "Go bindings: Two variables interfere unless op.VarHandleOpSharedName is used"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch linux
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**:  NA
- **GPU model and memory**:

### Describe the problem
When c

[2017-12-02 17:50] preetivyas opened #15059 "Running tensorflow-gpu in virtual env in remote Ubuntu system"
I was attempting to install tensorflow gpu version for my gpu system.
 - I don't have sudo access in the computer.
 - Cuda version 7.5 (V7.5.17) is installed
After following all the steps and finding a suitable version of tensorflow suitable to cuda 7.5 I have installed everything. But after installing when I am trying to import tensorflow, these errors are coming.
![image](https://user-images.git

[2017-12-02 17:52] #14890 closed

[2017-12-02 19:01] tusharag171 opened #15060 "AttentionWrapperZeroState: Input to reshape is a tensor with 32768 values, but the requested shape has 65536"
I am building an encoder-decoder model with attention and BeamSearchDecoder using tensor flow documentation. I am getting following error:

    ---------------------------------------------------------------------------
    InvalidArgumentError                      Traceback (most recent call last)
    <ipython-input-160-ac947b28f4dd> in <module>()
         29

[2017-12-02 19:21] bshao001 commented on #14198
Try using tf.keras.backend.set_learning_phase(True) or tf.keras.backend.set_learning_phase(False) seems to be working.

[2017-12-02 19:26] #15054 closed

[2017-12-02 20:45] rajatmonga commented on #14942
@mrry and @jsimsa may have better ideas about the differences in tf.data performance.

[2017-12-02 20:52] lutzroeder opened #15061 "saved_model.pb needs a different file extension"
'saved_model.pb' file extension type clashes with every other '.pb' file created. Apps that register the '.pb' file extension won't be able to tell apart Saved Models from other protobuf files...

[2017-12-02 21:04] agniszczotka commented on #13610
I have noticed that GPU-utilization is lower when I use Dataset API. Is it possible to reach 80-90[%] utilization with this API or does native python threads perform worse then queues?

[2017-12-02 21:05] mrry commented on #14942
It’s not clear what caused the change in performance but `num_threads=8192` (or `num_parallel_calls=8192`) is very unlikely to be optimal, because of the potential for contention from so many parallel work items. Try setting this to a much smaller value (e.g. the number of CPU cores in your test machine) to see if this speeds things up.

[2017-12-02 21:17] mrry commented on #13610
@agniszczotka It’s definitely possible to reach higher utilization, so it would be good to understand what the problem is here. One possibility is that the `Dataset` pipeline can prefetch and preprocess data more aggressively than the older API, which in some configurations can lead to oversubscription of the CPU, and thereby delay the dispatch of work to the GPU. Please open a new issue with a de

[2017-12-02 21:57] cSchubes opened #15062 "Bus Error when running a session"
### System information
- Running on an ODROID-XU4
- Have I written custom code: No
- OS Platform and Distribution: Linux Ubuntu Mate 16.04
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A
- TensorFlow installed from: source
- TensorFlow version: 1.4.0
- Python version: 3.5.2
- Bazel version: 0.8.0
- GCC Version: 5.4.0
- Exact command to reproduce:
python3.5
import tensorflow as tf
hello = tf.

[2017-12-03 00:39] hsm207 commented on #14732
@asimshankar Thank you for the explanation. It makes total sense to me.

[2017-12-03 00:44] hsm207 commented on #14012
@caisq I would like to help fix this bug. Would you mind mentoring me? I've never made an open source contribution before.

[2017-12-03 00:56] tensorflowbutler commented on #15056
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-03 00:56] tensorflowbutler commented on #15057
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-03 00:56] tensorflowbutler commented on #15058
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
Exact command to reproduce

[2017-12-03 00:56] tensorflowbutler commented on #15059
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-03 00:58] stefansedich opened #15066 "Failing to retrieve AWS credentials running in ECS with the s3 provider"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: master
- **Python version**: 3.6.0
- **Bazel version (if compiling from source)**: 0.5.4
-

[2017-12-03 01:13] asimshankar commented on #15058
This is by design. TensorFlow "resources" (`DT_RESOURCE` tensors) are identified by their shared name (and in fact, in distributed settings, the shared name is used to identify variables across different sessions as each worker is running a different session).

In Python, the `VarHandleOp` is typically not invoked directly, but instead variables are created via the [`ResourceVariable`](https://git

[2017-12-03 01:13] #15058 closed

[2017-12-03 01:20] ppwwyyxx commented on #12454
Relevant code here:
https://github.com/tensorflow/tensorflow/blob/c9db2486ead95f000395af14919f0ae8f508e429/tensorflow/python/ops/math_ops.py#L894-L907

`x.__mul__(0.5)` returns NotImplement, then `0.5.__rmul__(x)` is called. Both failed therefore Python throws an error with its predefined message.

[2017-12-03 01:23] ppwwyyxx commented on #13256
Fixed already in master.

[2017-12-03 01:23] #13256 closed

[2017-12-03 02:13] yongtang commented on #15066
Added a PR #15067 to update AWS C++ SDK to 1.3.15 for the fix.

[2017-12-03 03:07] facaiy commented on #14788
Thanks for your explanation, @alextp.

I create two dissimilar PRs for the issue:
1. #15068 changed `tf.Print`'s behavior, which returns Variable for Variable. If so, the behavior is not consistent with `tf.identity`.
2. #15069 is the opposite. It fixes the docstring and states `tf.Print` behaves like `tf.identity`.

Be free to approve either one, and close the other.

[2017-12-03 03:48] Sixigma commented on #14610
@XiaoSX
Do you try command provided by @offbye ？
And what machine do you use ?

[2017-12-03 04:42] CodesFarmer opened #15070 "Multil-model restore in tensorflow"
I have two model without scope name but they have same variable name, I want load them simultaneously, but it will crash and throw error, which is "Variable XXX already exists".
I notice the issue[https://github.com/tensorflow/tensorflow/issues/3270](url), but the problem is solved by re-training the model again and save them under different scope.
However, I do not want to re-train them again. So

[2017-12-03 06:13] ashokbugude opened #15071 "Tensorflow build fails with --config=sycl"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 17.04
TensorFlow installed from (source or binary): source
TensorFlow version (use command below): 1.3
Python version: 2.7
Bazel version (if compiling from source): 0.5.1
GCC/Compiler version (if compiling from source): 6.0.3

[2017-12-03 06:15] ChaitanyaCixLive commented on #14975
no its not .. but I did that & it compiled properly .. sorry for bothering

[2017-12-03 06:34] Medesol opened #15072 "Have to reinstall numpy"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-03 06:45] gauss-clb commented on #15038
I just want to reproducing experiment of some paper, but I can't get good performance. I think it maybe the error of gradient due to `tf.float32`, such as `convolution` ops.  I wonder that small numerical error will accumulate and get bigger error, like butterfly effect.

Like [DeepTextures](https://github.com/leongatys/DeepTextures), the author use `vgg19` of `caffe` to calculate gradient of loss

[2017-12-03 06:58] tensorflowbutler commented on #15060
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-03 06:58] tensorflowbutler commented on #15061
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-03 06:58] tensorflowbutler commented on #15062
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-03 08:12] voidguy opened #15073 "when execute "bash tensorflow/contrib/lite/build_ios_universal_lib.sh", it has the following error: tensorflow/tensorflow/contrib/lite/ios_makefile.inc:2: *** missing separator. Stop."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-03 08:14] #15073 closed

[2017-12-03 08:23] voidguy opened #15074 "When execute "bash tensorflow/contrib/lite/build_ios_universal_lib.sh", it gives the error: tensorflow/tensorflow/contrib/lite/ios_makefile.inc:2: *** missing separator. Stop."
### System information
- **Install problem**:
- **Darwin MacBook-Pro-2.local 16.7.0 Darwin Kernel Version 16.7.0, xnu-3789.71.6~1/RELEASE_X86_64 x86_64**:
- **TensorFlow installed from source**:
- **v1.0.0-rc2-15-g47bba63-dirty 1.0.0**:
- **Python 3.6.0 :: Anaconda custom (x86_64)**:
- **Bazel version (None)**:
- **Apple LLVM version 9.0.0 (clang-900.0.37)**:
- **CUDA/cuDNN version**:
- **GPU mode

[2017-12-03 08:45] maziyang08 commented on #15074
I took a look at the contents of ios_makefile.inc, it's completely a mess. Hope tflite will fix this issue soon.

[2017-12-03 09:00] MohammedPUD commented on #9481
@Jatik  Did find a solution for that? I just bumped into the same issue!

[2017-12-03 09:01] MohammedPUD commented on #9481
And here is the error message with the path in it. I also verified that the file lies there.

NotFoundError: D:\Anaconda3\lib\site-packages\tensorflow\contrib\rnn\python\ops\_gru_ops.dll not found

[2017-12-03 09:02] DexHunter commented on #2129
Hmm... another interesting thing I met is that I need to import numpy before tensorflow and tensorflow before pytorch

If not, I got `segmentation fault (core dumped)`

[2017-12-03 10:53] WenmuZhou commented on #15057
I have update the issue

[2017-12-03 10:59] ghost opened #15075 "CUDA_ERROR_LAUNCH_FAILED with TensorFlow example"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-03 11:12] ma-ver-ick commented on #11085
+1

[2017-12-03 11:52] zitengwm opened #15076 "the source code to compile about tensorflow1.1.0"
I am very distressed~~~
I need some help ~~~~

I refer to "TensorFlow Bindings for H2O.ai"
I execute " ./gradlew clean tensorflowCompile",but always has error,likes
ERROR: error loading package '': Encountered error while reading extension file 'closure/defs.bzl': no such package '@io_bazel_rules_closure//closure': Error downloading [http://bazel-mirror.storage.googleapis.com/github.com/bazelbuild

[2017-12-03 12:01] FloopCZ commented on #14157
@asimshankar Yes, that is exactly what is done in there. However, it should be noted that if https://github.com/FloopCZ/tensorflow_cc/issues/8 is resolved (add support for CPack), you will be able to easily build a tarball, installers and even deb/rpm packages independent of the build system (FYI @skye).

[2017-12-03 12:19] tengerye commented on #2462
Is it possible to add the `cross_entropy_with_logits()`? `tf.nn.softmax_cross_entropy_with_logits()` can work for the performance, but it makes codes difficult to read and implement. Thank you in advance. @mrry

[2017-12-03 12:21] eyaler commented on #14107
should i open a separate issue for what i'm seeing on CPU or should we change this bug the include it?

[2017-12-03 12:57] tensorflowbutler commented on #15070
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-03 13:13] YoelShoshan commented on #14887
well, functionally it sounds good.
Function name wise it might be a bit misleading due to the "raw" in the function name.

[2017-12-03 13:57] gauss-clb opened #15077 "The sequence of session.run and control_dependencies?"
See three examples:

[code]

The sequence of output of `tf.Print` is indeterminate, which means `sess.run` don't executes tensors from left to right.

[code]

The sequence  of `x` and `y` is indeterminate, which means `control_dependencies` don't executes tensors from left to right.

[code]

The sequence of `x`, `y` and `d` is indeterminate.

Is it intentional behavior or bug?  I find that if the

[2017-12-03 14:40] ppwwyyxx commented on #15077
1. Intentional behavior.
2. Duplicate of your own issue. #14498

[2017-12-03 14:45] gauss-clb commented on #15077
@ppwwyyxx I don't think it is duplicate of [#14498](https://github.com/tensorflow/tensorflow/issues/14498),
Could you give me an explaination of my last example?

[2017-12-03 15:00] gauss-clb commented on #15038
@aselle, it is `tf.control_dependencies` causes `L-BFGS-B` converge so fast. It is hard to find this problem, see my [new issue](https://github.com/tensorflow/tensorflow/issues/15077). I'm very puzzled, the behavior of `tf.control_dependencies`  is so weird.

[2017-12-03 15:33] bringtree opened #15079 "could softmax_cross_entropy_with_logits's label has many 1."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-03 16:09] is8ac commented on #15058
@asimshankar Thank you for clarifying. This is a good and useful behavior.

I first encountered this behavior when it was leading to a non-deterministic bug. It would be nice to make the result of pulling on two assign operation for the same resource deterministic. Or else return an error when two assign operations for the same resource are being pulled on in the same call to `session.Run()`. This

[2017-12-03 16:38] boeddeker commented on #14998
The Code is already finished (see initial comment) and since the current reshape is powerful enough, only a small wrapper is necessary to extend the API. (The function is inside my code base and I thought that maybe also some other people find it useful.)

I agree that `partial_reshape` would highlight, what the function will do, but it is an extension of `reshape` and not a modification of `resha

[2017-12-03 16:44] marrowsuck commented on #14975
The CommandFlags.def file referenced is created / downloaded via bazel. The softlink for the bazel cache where the file lives is bazel-$TENSORFLOWBUILDDIR/external/llvm/CodeGen/CommandFlags.def in the tensorflow build directory.

I'm a few minutes in the building process and CommandFlags.def shows up in the mentioned dir. Let's see if the whole program compiles.

Maybe you have to clean / rm your

[2017-12-03 16:47] boeddeker commented on #14448
@mrry I started from `tf.data.from_generator` and wrote a wrapper around `pyfunc` to allow nested structures. Should I make a PR?

Further, I have now also a `tf.data.from_indexable` (Only some few lines with range and map) that support parallel loading with python code. Should I make a PR, else I will keep the code in my own code base?

[2017-12-03 17:00] droidicus commented on #14776
Sure thing, here is the output:
[code]

Code to reproduce (same as the source in the origional issue above, but with print statements after the creation of the keras estimator), and full log output are avaliable here: https://gist.github.com/droidicus/146532eacf88ed57538bb41a8fc7da4b

[2017-12-03 17:45] stefansedich commented on #15066
Great thanks @yongtang I had originally intended the same fix but noticed that https://mirror.bazel.build/github.com/aws/aws-sdk-cpp/archive/1.3.15.tar.gz was not returning anything so was not sure how to make that bit happen.

[2017-12-03 18:22] marrowsuck commented on #14975
Compilation successful. In the above specified environment.

[2017-12-03 18:39] deep150 opened #15082 "getting attribute error"
I executed the code and got this error--
File "new1.py", line 131, in main
    classifier = tf.estimator.Estimator(model_fn=model_fn)
AttributeError: 'module' object has no attribute 'estimator'

pls help

[2017-12-03 18:57] #8669 closed

[2017-12-03 18:57] #12757 closed

[2017-12-03 18:57] tensorflowbutler commented on #15076
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-03 18:57] tensorflowbutler commented on #8669
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-03 18:57] tensorflowbutler commented on #12757
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-03 20:18] lutzroeder commented on #15061
Have I written custom code: N/A
OS Platform and Distribution: N/A
TensorFlow installed from: pip
TensorFlow version: 1.4
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce: N/A

[2017-12-03 20:33] ppwwyyxx commented on #15077
I'll just quote again #4663 (comment) that tf.Variable is semi-broken (sometimes wrong execution order of var.assign and var.read_value) and ResourceVariable is better.

[2017-12-03 20:39] preetivyas commented on #15059
Hello everyone the error is resolved.
I followed this https://gist.github.com/digvijayky/e2f91af603b83396d6b3f2d281bb97a7
Linked the cuda directory to path using these and it works now.
![image](https://user-images.githubusercontent.com/31855851/33529532-1b021a4e-d840-11e7-9d0c-d15de6a77b1a.png)
![image](https://user-images.githubusercontent.com/31855851/33529535-28574e6c-d840-11e7-824b-481baf9320

[2017-12-03 20:39] #15059 closed

[2017-12-03 21:28] derekhh commented on #14942
Thanks @mrry. That code was a `tf.data` benchmark script I was using when trying to tune the best parameter setting for input. Initially I was using something like 64 which is the number of cores, but I've increased the number of threads all the way from 64, 128, 256 to 8192 and the performance kept improving so that's why I was using 8192 in that script. I can change it back to smaller values and

[2017-12-03 22:58] robbiebarrat commented on #6687
Having this issue in 1.3.0...

[2017-12-03 23:14] richardxiong commented on #4858
@laventura hello, I'm running exactly the same problem as you, with `./deviceQuery` failing. Did you solve that problem? Thanks!

[2017-12-04 00:33] DenysLi commented on #1450
Same problem
`2017-12-04 03:27:19.316336: E C:\tf_jenkins\home\workspace\rel-win\M\windows-gpu\PY\36\tensorflow\stream_executor\cuda\cuda_driver.cc:1110] could not synchronize on CUDA context: CUDA_ERROR_ILLEGAL_ADDRESS :: No stack trace available
Traceback (most recent call last):
  File "C:\Python36\lib\site-packages\tensorflow\python\client\session.py", line 1323, in _do_call
    return fn(*arg

[2017-12-04 01:38] facaiy commented on #15079
I think in most cases only one class is expected for classification problem, however multiple labels are valid for label problem. Hence it's not bug for me.

[2017-12-04 01:47] wweichn opened #15084 "calculation gradients of tf.nn.embedding_lookup"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:1.3.0
- **Python version**: 2.7

### Source code / logs
import tensorflow a

[2017-12-04 01:50] richardxiong commented on #4858
@laventura Hello, have you solved your problem? I have run into exactly the same problem, with `./deviceQuery` failing indicates the CUDA-capable device, but I follow the instruction on [here](https://gist.github.com/jganzabal/8e59e3b0f59642dd0b5f2e4de03c7687). Thanks!

[2017-12-04 02:38] #15066 closed

[2017-12-04 03:04] khanrc commented on #15034
I tried:

[code]

and

[code]

In both cases, the error occurred in fused batchnorm. The frozen model worked well, but the optimized model and transformed model emitted error.

[2017-12-04 03:51] cSchubes commented on #15062
I have updated the post with those specifications

[2017-12-04 04:49] passerbyd commented on #12667
There's no such problem in "grpc + verbs" mode. #5394

[2017-12-04 05:48] xushenkun opened #15086 "ctc_loss value problem"
------------------------
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7 64bit
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.6.0
- **Bazel version (if compil

[2017-12-04 05:57] Gumilton opened #15087 "Understanding LSTM cell Kernel values"
Hi all,

I want to understand better those values in LSTM cell Kernel values extracted from:
<tf.Variable 'rnn/multi_rnn_cell/cell_0/lstm_cell/kernel:0' shape=(97, 280) dtype=float32_ref>
from tf.trainable_variables()

My model is very simple, input is a 27 element vector at each time step where the sequence length can be variable. The model is one layer LSTM model with 70 hidden states.
[code]

S

[2017-12-04 05:59] facaiy commented on #15084
Sorry, I cannot figure out what you want.

In your code,
[code]
Since `types_lookup_table`'s dimension is 234 * 10, the corresponding `graidents` is a 234 * 10 tensor, as same as `h`.
So `h[0]` is 1 * 10, while `types_lookup_table` is 234 * 10, it seems wrong to apply `h[0]` to `types_lookup_table` because of the unmatched dimensions.

Please correct me if I'm wrong.

[2017-12-04 06:00] Gumilton opened #15088 "Make a State-ful LSTM with data input from TF Dataset"
#14906
This is to reference a closed issue.
Thanks for @mrry suggestion on using Dataset.flat_map to slice the input signal sequence.
However, how could we know the beginning and ending of the original sequence after sliced?
And how could we reset the LSTM state so that we can make a state-ful LSTM?
Thanks!

[2017-12-04 06:15] Androbin commented on #10296
@mrry PR #14877 already covers the extraction. I'll write the tests, too. First, make sure to include existing subpackages of name `python`, `python/ops` and `python/kernels`. Second, make sure not to include non-existent packages. I'll try to assemble a PR later this day.

[2017-12-04 06:23] aluo-x commented on #11865
Seems like this issue is still happening when compiling with AVX. [See here](https://github.com/aluo-x/tensorflow_windows/issues/6)

[2017-12-04 07:09] apollo-time commented on #14607
I need inference on the 32bit windows with pretraind model,, because there are a lot of 32bit windows devices yet and our product need support all windows devices.
How can I run the pretraind tensorflow model on the 32bit windows?
Thanks.

[2017-12-04 07:09] tensorflowbutler commented on #15082
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-04 08:29] bringtree commented on #15079
@facaiy  but it should't be np.array([0.0, 1.0, 1.0, 0.0, 1.0, 0.0]) . When we need express multiple labels. the b is np.array([0.0, 0.3333333333333333, 0.3333333333333333, 0.0, 0.3333333333333333, 0.0])?

[2017-12-04 08:35] GedisJ commented on #9837
@theflofly, thanks for the work you've done so far with gradients and optimizers. GradientDescentOptimizer was very useful in my project as there is no optimizer implementation in current tensorflow c++ SDK. In the future we would like to have AdamOptimizer in our software as it has proven to be more robust in our case. What are your plans on implementing that one?

[2017-12-04 08:35] boshanyiqiao opened #15089 "Error when run label_image --graph=/tmp/quantized_graph.pb after quantized model"
tensorflow:1.4.0
I followed the command line from tensorflow/tensorflow/docs_src/performance/quantization.md
ran the following command is ok and  produce a new model quantized_graph.pb:
  bazel build tensorflow/tools/graph_transforms:transform_graph
  bazel-bin/tensorflow/tools/graph_transforms/transform_graph \
  --in_graph=tensorflow/examples/label_image/data/inception_v3_2016_08_28_frozen.pb \

[2017-12-04 08:46] theflofly commented on #9837
@GedisJ For now I am working on migrating the gradients from Python to C++ because one Operation without gradient in the graph means an untrainable network.
Because the node `​ApplyAdam` already exists I think that adding Adam is not that hard. I'll take a look and keep you updated.

[2017-12-04 08:58] arixlin commented on #15089
--inputs=input  you need know input param name on graph

[2017-12-04 09:00] arixlin commented on #15070
reuse=True

[2017-12-04 09:12] wolverineq opened #15090 "RNNDROP?"
Has anyone implemented RNNDROP (https://www.stat.berkeley.edu/~tsmoon/files/Conference/asru2015.pdf) in tensorflow?
According to the paper this method show good performances in speech recognition tasks.

[2017-12-04 09:41] facaiy commented on #15079
I mean that multiple ones can exits in `label`, not `logit`. However, I agree that `softmax` is designed for classification problem. As for multiple labels, people prefer to using `sigmoid`, https://stats.stackexchange.com/questions/207794/what-loss-function-for-multi-class-multi-label-classification-tasks-in-neural-n

Hence your proposal sounds reasonable for me: precheck label and throw a warnin

[2017-12-04 09:45] laghaout opened #15091 "GatherNd InvalidArgumentError: flat indices[8, :] = [8, -1] does not index into param"
### System information

- **OS Platform and Distribution**: Ubuntu 17.10 (Linux-4.13.0-17-generic-x86_64-with-debian-stretch-sid)
- **TensorFlow installed from**: binary
- **TensorFlow version**: v1.3.0-rc2-20-g0787eee 1.3.0 (same on 1.4.0)
- **Python version**: 3.6.3
- **GPU model and memory**: N/A (CPU only)
- **Numpy version:** 1.13.3
- **Bazel version**: N/A
- **CUDA/cuDNN version**: N/A
- **C

[2017-12-04 10:05] facaiy commented on #15079
Oh, I checked the API of [` tf.nn.softmax_cross_entropy_with_logits `](https://www.tensorflow.org/versions/master/api_docs/python/tf/nn/softmax_cross_entropy_with_logits).

In all,
+ ` tf.nn.softmax_cross_entropy_with_logits`： `label` must be valid probability distribution;
+ ` tf.nn.sparse_softmax_cross_entropy_with_logits`: `label` must be class id.

Hence, if necessary, we should check that lab

[2017-12-04 10:36] ngc92 commented on #15046
In my case the weights are not constant, but calculated in the model. The above example is only supposed to be a minimal example to demonstrate the problem.

[2017-12-04 10:49] CodesFarmer commented on #15070
@arixlin I have tried setting reuse=True, but another error occurs.
The two models have both same and different named variables, so if set reuse=True, there are some variables does not pre-defined, and it seems that the followed variables will override the afore-restored variables.
Now I just want to add prefix for all variables within a model.
For examples, there are exist 'conv1/weight' in A mod

[2017-12-04 10:49] #13357 closed

[2017-12-04 10:49] facaiy commented on #15046
How about using `weights = weights * tf.ones((1))`?

[2017-12-04 11:06] trdavidson commented on #3947
FYI: there is now a tf.sparse_slice, see https://www.tensorflow.org/api_docs/python/tf/sparse_slice

[2017-12-04 12:15] GedisJ commented on #9837
@theflofly this is true about gradients, I had to add some simple gradient operations myself, before they were introduced in 1.4 release.
regarding Adam the main thing I guess is adding slots implementation to base Optimizer from what I've seen in Python code, because in C++ this seems to be missing too.

[2017-12-04 12:15] wanghuok opened #15093 "tensorflow/contrib/lite/toco/tflite/export.cc:192] Unsupported operator: Sub"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 17.04
- **TensorFlow installed from (source or binary)**:pip
- **TensorFlow version (use command below)**:1.4.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**:
- **GCC/Comp

[2017-12-04 12:15] anonym24 commented on #9412
I downloaded latest android example and set `android:screenOrientation="landscape"`

debug is ok, but still something wrong with main window and it's position:

![1](https://user-images.githubusercontent.com/8851301/33552419-7cb0f784-d8fd-11e7-99d3-fd1d8e7a5cc5.png)

p.s. I fixed java project (windows/ubuntu) for tensorflow yolo2/tiny yolo detector:  https://stackoverflow.com/a/47632412/7767664

[2017-12-04 12:57] tensorflowbutler commented on #15087
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-04 12:57] tensorflowbutler commented on #15088
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-04 12:58] webwalker opened #15096 "java.lang.UnsatisfiedLinkError: No implementation found for void com.ppdai.tensorflow.tracking.ObjectTracker.initNative(int, int, boolean)"
recently i begin to learn and use tensorflow but some errors i don't know why,  help me please, error as follow:

Process: com.ppdai.tensorflow, PID: 4226
                                                 java.lang.UnsatisfiedLinkError: No implementation found for void com.ppdai.tensorflow.tracking.ObjectTracker.initNative(int, int, boolean) (tried Java_com_ppdai_tensorflow_tracking_ObjectTracker_i

[2017-12-04 13:26] sandipmgiri commented on #12325
The test is failing due to a minor array mismatch error (the value of only 1 out of 34 entries differing i.e. 0 vs expected 1) at line number 83 in file https://github.com/tensorflow/tensorflow/blob/v1.3.1/tensorflow/python/kernel_tests/summary_image_op_test.py#L83

I have checked the output of all the functions which are involved in this test, and found that -
Following line returning incorrect r

[2017-12-04 13:26] tengerye commented on #3047
No logging for me, either.

[2017-12-04 14:01] Damdinov commented on #12474
@Arnab0989 did you find some solution? Because I have exactly the same situation and I didn't find solution except that to install the old nvidia driver + cudnn6 + cuda8

[2017-12-04 14:08] OdingdongO commented on #14719
I have the same problem with   @kidsung
Is there a solution?

[2017-12-04 14:10] cuevas1208 commented on #15049
OS Platform and Distribution   = Windows 10 Pro 64-bit (build 15063)
TensorFlow installed from        = https://github.com/tensorflow/tensorflow/archive/v1.4.0.zip
TensorFlow version                  = 1.4.0
Bazel version                            = N/A I am using cmake cmake-3.9.4-win64-x64
CUDA/cuDNN version              = Cuda 8.0/Cudnn 6
GPU model and memory         = NVIDIA Quadro M4000, VRA

[2017-12-04 14:15] OdingdongO commented on #14719
After changing the float inceptionv3 model, can the model correctly identify common items?
Such as the mouse @atrah22 @pkurogerjs @drricksanchez321

[2017-12-04 14:24] ashokbugude commented on #15071
**Actual Requirement** : To cross-build Tensorflow using --config=sycl for arm 32 bit system

**Things Done**
1. Able to cross-build Tensorflow without --config=sycl for arm 32 bit system using below command

`bazel build --crosstool_top=//armv7l-compiler:toolchain --cpu=armeabi-v7a tensorflow:libtensorflow_cc.so --cxxopt="-std=c++11"`

**Result** : Built Fine without errors

2 cross-build Tensorf

[2017-12-04 14:57] boshanyiqiao commented on #15089
I  am  unfamiliar with tensorflow quantize so that followed the command line and used default params ,what should I add for default --inputs's param ?There are errors when I changed --input='input:1'(sorry, I don't know what should I input param name, do you know default input param name?) , Could you give me a exmple (it can using  the default params) which is working well ?
Thanks for your help!

[2017-12-04 15:14] OdingdongO commented on #14719
After modifying ImageClassifier.java , I can run float model from https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/models.md;
test the Inception model(Inception V3 Slim 2016)and  Mobilenet model(Mobilenet 1.0 224 Float)
the inceptionv3_slim_2016.tflite model inference time is 2260ms,
the  mobilenet_v1_1.0_224.tflite model inference time is 500ms and mobilenet_quan

[2017-12-04 15:21] Androbin commented on #10296
Quick clarification: Where should the tests go?
Maybe `tf_tests.cmake` > `tensorflow_BUILD_PYTHON_TESTS` ?

[2017-12-04 15:22] vladmos commented on #13691
It seems that grpc has already been updated, therefore I'm closing this pull request.

[2017-12-04 15:22] #13691 closed

[2017-12-04 15:23] Androbin commented on #10296
In `CMakeLists.txt` what is the difference between `tensorflow_BUILD_PYTHON_TESTS` and `tensorflow_BUILD_MORE_PYTHON_TESTS` ?

[2017-12-04 15:51] kyle-dorman commented on #12132
Any updates on this? I have experienced separable convolutions running slower than regular convolution at inference time as well.

[2017-12-04 16:15] mrry commented on #10296
Since the Bazel build is the ground truth, I'd guess the easiest approach would probably be to add a Bazel test that compares the list of submodules in the built PIP artifact to the list of submodules in `tensorflow/contrib/cmake/python_modules.txt`.

[2017-12-04 16:21] Androbin commented on #10296
@mrry My original intent was to test `python_modules.txt` etc. against the filetree.

[2017-12-04 16:30] mrry commented on #9481
The original problem in this issue was fixed in #11562. @MohammedPUD It sounds like you are facing a different problem. Please create a new issue and answer all of the questions in the template.

[2017-12-04 16:30] #9481 closed

[2017-12-04 16:34] mrry commented on #12667
To anyone facing hangs in the distributed mode, there was a bug in the version of gRPC used in TF 1.4 that would cause servers to stop serving after a (non-deterministic) period of time. This has been fixed at HEAD, and TensorFlow now uses a version of gRPC with the fix. I'd recommend trying to reproduce the problem with the `tf-nightly` build to rule out that old bug as the source of the problem.

[2017-12-04 16:40] Androbin commented on #10296
Maybe @gunan can tell where to place the tests?

[2017-12-04 17:05] shkarupa-alex opened #15102 "Documentation required for SetIsStateful() method in OP registration"
There are some examples with custom ops that use SetIsStateful() method during registration, e.g. https://www.tensorflow.org/extend/new_data_formats

But there is no documentation about that method.

[2017-12-04 17:07] allenlavoie commented on #13963
For what it's worth, the "Python versions don't match" warning from Cython is harmless. You can try it on 3.6 with TF 1.4.

[2017-12-04 17:08] ferreirafabio commented on #15040
hi, any news?

[2017-12-04 17:09] ispirmustafa commented on #14942
Thank you @WenmuZhou for adding a test with Predict. That test doesn't use Dataset or Estimator. @aselle who can help us here?

[2017-12-04 17:18] jvdillon commented on #4965
Hi @awav, @johnpjust. Thanks for the feedback!  The Bayesflow team has reached a milestone ([1]) which allows us to allocate substantially more resources to creating high quality tooling for MCMC and other approximate inference functions. Let me digest your fantastic feedback and Ill post back with a revised game-plan ASAP.

[1] - https://arxiv.org/abs/1711.10604

[2017-12-04 17:29] aselle commented on #15102
This is documented  in the underlying op_def.proto that REGISTER generates...
https://github.com/tensorflow/tensorflow/blob/0b131503a04f1ebbe0967bebb2559dd1367baded/tensorflow/core/framework/op_def.proto#L125-L133

[2017-12-04 18:01] mrry commented on #15040
I'm not sure what the feature request is. Can you please clarify?

It would be great to add better support for handling common video formats, and it's possible that integrating `tf.data` would make it easier (e.g. by providing a way to extract frames from a video directly, without transcoding to TFRecords).

[2017-12-04 18:04] mrry commented on #15044
This sounds like a reasonable thing to add as a custom transformation in `tf.contrib.data`. If each of the time series are small and can fit in memory, you can generate the windows using `Dataset.flat_map()` as I suggested [here](https://github.com/tensorflow/tensorflow/issues/14906#issuecomment-347396872). However, it might make sense to support a similar transformation of unbounded-length stream

[2017-12-04 18:08] yaroslavvb commented on #9125
@gokul-uf it still exists. This is the same issue as https://github.com/tensorflow/tensorflow/issues/9978 . Current work-around is to modify graph_editor source locally although PR would be welcome

[2017-12-04 18:12] tatatodd commented on #13963
Marking as "community support" for now, in accordance with issue triage.

[2017-12-04 18:29] amanrana20 commented on #10026
running python using sudo helped me.

[2017-12-04 18:33] Adriabs commented on #12736
@astewartau You are my hero! I've been trying to crack this mystery for way too long now and this fixed all my sorrows!

[2017-12-04 18:37] reedwm commented on #15093
/CC @aselle, can you comment?

[2017-12-04 18:40] reedwm commented on #15091
/CC @ebrevdo

[2017-12-04 18:51] gdeer81 commented on #14081
@theflofly I think the dibs has expired on this one if you were looking to take it.
I was thinking about taking it but it looks really hard =)
This is a high priority grad for Guildsman so if there isn't any activity on it by the end of the week I'll volunteer as tribute

[2017-12-04 18:56] reedwm commented on #15075
I don't have a Jetson TX2 developer kit to reproduce this on. @tfboyd do you know if anyone on the TensorFlow team has one?

@zheng-xq @yzhwang any guesses to what the issue might be?

[2017-12-04 19:01] reedwm commented on #15071
/CC @benoitsteiner can you take a look?

[2017-12-04 19:06] #10689 closed

[2017-12-04 19:07] tensorflowbutler commented on #15090
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-04 19:07] tensorflowbutler commented on #15091
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
Bazel version
CUDA/cuDNN version

[2017-12-04 19:07] tensorflowbutler commented on #10689
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-12-04 19:23] ferreirafabio commented on #15040
I was thinking about providing a pipeline that receives common video formats as input and produces tfrecords as output. Some parameters (e.g. frames per batch sample, color-depth etc.) could allow for adjusting the data usage/efficiency when calling a transcoding method.

Relating to your statement, I believe there certainly should be a way of directly feeding frames from raw video formats into th

[2017-12-04 19:26] reedwm commented on #15035
@alextp can you fix this?

Also, @albertz, feel free to submit a PR to address this.

[2017-12-04 19:26] ly54mm commented on #12491
I had same issue on mac with recent updated version, however, leonmak suggestion didn't work for me. (no issue with previous version.)

[2017-12-04 19:36] reedwm commented on #15057
@WenmuZhou Providing models and test images would help, since I'm not sure what RNN ops you are using. What would be even more convenient is providing a single file that builds and benchmarks the model.

@ebrevdo, any ideas what the issue could be?

[2017-12-04 19:43] VinceMarron opened #15103 "No GPU OpKernel for tf.exp() operation for Complex64"
I am running tensorflow 1.4.0 from nightly build ('v1.3.0-rc1-5297-g4b7d79b6ea'  on ubuntu 16.04). I've had success working in eager mode (great job with this guys!) however I think I found a small bug:

It seems that there is no OpKernel on device='GPU'  for the tf.exp() operation applied to complex numbers in eager mode.  This can be reproduced with the below code:

[code]
which results in
[code

[2017-12-04 19:51] alextp commented on #15035
I'm not the maintainer of this contrib optimizer so I think this is contributions welcome.

[2017-12-04 19:57] abidmalik1967 opened #15104 "Building tensorflow from the sourcefile"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-04 19:58] ebrevdo commented on #15057
Timing a single call to session.run is not realistic; and you're spending a lot of time on overhead, especially in the GPU case.  If you really want to know how long it takes to perform inference per session.run() call, you need to warm up the system and then time just the session.run() call:

What you should be doing is calling between 1-10 session.run() prediction tasks and throwing away their t

[2017-12-04 20:10] gunan commented on #12325
Looks like the images generated are actually random. So I would expect the summaries generated to be slightly different: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/summary_image_op_test.py#L60
However, the random functions are seeded in two places: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/summary_image_op_test.py#L

[2017-12-04 20:12] tfboyd commented on #15075
James does.  If we are really interested (and have time to work on it) in this we should order them.  We almost came home with 2 from our visit last week.

[2017-12-04 20:23] JingHuang81 commented on #7624
@Response777 What was your problem with fully_connected layer and how did you fix it? I was transferring a model from PyTroch to TensorFlow and observed a decrease in performance. I also used the tf.contrib.layers.fully_connected to replace the Pytorch nn.Linear, so I wonder if I ran into the same issue.

[2017-12-04 20:31] allenlavoie commented on #13963
What's the error? The QT/matplotlib one? The warning gets printed unconditionally, so it would be printed before any other failure even if that other failure isn't related.

[2017-12-04 20:49] keven425 commented on #14712
updated original post

[2017-12-04 20:54] mrry commented on #15088
You should be able to use the existing [`tf.nn.static_state_saving_rnn()`](https://www.tensorflow.org/api_docs/python/tf/nn/static_state_saving_rnn) function with a `tf.data` input pipeline and a [`tf.contrib.training.SequenceQueuingStateSaver`](https://www.tensorflow.org/api_docs/python/tf/contrib/training/SequenceQueueingStateSaver). Note that the latter relies on queues and queue-runners, so yo

[2017-12-04 21:06] mrry commented on #14448
We'd welcome a PR with any improvements to `tf.py_func()`. Ideally those could be in-place and backwards compatible, rather than adding a new API.

I'm less sure about `from_indexable()`, because I think it would amount to a one-line wrapper around `Dataset.map()` and `tf.py_func()` once the former changes go in. However, if it turns out to reduce the code complexity, perhaps we could find a place

[2017-12-04 21:08] karthik-hegde opened #15105 "Using tfdbg with Monitored Session"
### System information
- I am using a modified version of  [CIFAR10 tutorial](https://github.com/tensorflow/models/tree/master/tutorials/image/cifar10) TensorFlow.
- CentOS Linux release 7.3.1611
- TensrFlow from Source
- TensorFlow v1.3
-  Python 2.7

### Describe the problem
Hello,

I see that I can not use tfdbg with Monitored session. That is if I try to wrap `mon_sess = tf_debug.LocalCLIDebug

[2017-12-04 21:11] jsimsa commented on #14942
@WenmuZhou for your `tf.data` experiment:

1) Did you do the 64, 128, ..., 8192 scaling using TF 1.3 or TF 1.4? If TF 1.3, could you verify that you see a similar effect for TF 1.4?

2) Could you also add timing information to the `parser` method to see how much time is spent in this method in TF 1.3 and TF 1.4? I am not aware of any `tf.data` changes between TF 1.3 and TF 1.4 to the transformatio

[2017-12-04 21:19] tatatodd commented on #14675
Adding @ekelsen, who has thought alot about TF determinism.

@eamartin I defnitely agree that TF should strive for "easy reproducibility".

For reference, I think the current logic for determining the implicit `op_seed` is based on the `id` of the last graph node:
https://github.com/tensorflow/tensorflow/blob/a83154967bb2955acc234f4a64b63b505508b728/tensorflow/python/framework/random_seed.py#L64

[2017-12-04 21:29] alextp commented on #15077
The only guarantee tensorflow makes about order of execution is that all dependencies (either data or control) of an op are executed before that op gets executed.

The memory-aliasing behavior of tf.Variable is very hard to understand (which is why I recommend using tfe.Variable instead which has a well-defined memory model). So just switch your code to that and then the behavior of variables will

[2017-12-04 21:51] reedwm commented on #15105
This has been fixed in dc58dcbea9beb30e0013f41e08786471ca4a6cb6. Try upgrading to TensorFlow 1.4.

[2017-12-04 21:52] reedwm commented on #15103
/CC @asimshankar

[2017-12-04 21:54] nluehr commented on #14423
I have not been able to reproduce system hangs using the 387.12 driver on Ubuntu 16.04.

The slow initialization is indeed likely the driver JIT compiling PTX for your GPU's specific architecture.  On my system, this takes between 90 and 105 seconds and results in a cache size of ~116MB. During the jit, Ctrl-C waits for the jit to complete before exiting, but killing the jitting process from anoth

[2017-12-04 21:57] Moldy01 commented on #15050
Sorry,  Didn't see a template.  I'll work from your list

Have I written custom code ?  Of course, But the code from above (causing the issue) is copy/paste from Keras.  Just trying to get GPU version up and running.
OS Platform and Distibution - Linux Ubuntu 1604
TensorFlow installed from - several places, most recently from https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.4.0

[2017-12-04 22:06] reedwm commented on #15061
/CC @mrry can you comment? I'm not sure why the file extension is significant.

[2017-12-04 22:19] mrry commented on #15061
I'm also not sure why the file extension is significant. AIUI, `saved_model.pb` *is* a protobuf file, so an application that registers the `.pb` suffix in order to consume protobuf files ought to be able to consume a SavedModel.

@lutzroeder Can you describe what you're trying to do as a feature request, perhaps? Based on your post, I'm not convinced that the file format "needs" a different file e

[2017-12-04 22:19] arbynacosta commented on #12052
**@goodmangu** the correct code, I think, is:

`bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0"`

Double quotation marks are missing from the command.

[2017-12-04 22:45] lutzroeder commented on #15061
If an app registers `.pb` it will list and open any protobuf file that uses the generic protobuf format, `saved_model.pb` or not. Since protobuf has no way of detecting the specific protobuf format (except for trying to decode the file) this can lead to some nasty conflicts. For example, an app registering '.pb' to open onnx files (which are protobuf as well) will now show `saved_model.pb` is a va

[2017-12-04 22:56] ebrevdo commented on #15091
Looks like you have a tf_seq_len of 0 at the failing site?  negative indices are not supported by gather_nd; and i'm not sure you'd want them anyway.

[2017-12-04 22:57] ebrevdo commented on #15091
It works on GPU because we do not perform index validation checking on GPU -- it's too expensive.  Instead we fill the output with zero for the corresponding value.  The CPU version caught the bad index and returned the appropriate error.

[2017-12-04 22:57] mrry commented on #15061
In that case, it sounds like the bug would be in the app that registers `*.pb` but only handles ONNX files.

Anyway, I have no skin in this game, so I'll let @nfiedel and/or @sukritiramesh comment on whether they'd consider a different extension for SavedModel files. I suspect backwards compatibility will be the main concern, since `saved_model.pb` is just one of the files in a standard directory

[2017-12-04 23:24] yaroslavvb opened #15108 "error: namespace "Eigen::half_impl" has no member "__half_raw" when building latest TensorFlow/CUDA 9.0"
When trying to build latest TensorFlow for CUDA 9.0/CuDNN 7.0, from today's head

Complete instructions to reproduce are [here](https://github.com/yaroslavvb/tf_build), but basically I followed steps in in [Dockerfile.devel-gpu](https://github.com/tensorflow/tensorflow/blob/c5c642e051f1a7876d099bfcd9f8a2ecaf7227b8/tensorflow/tools/docker/Dockerfile.devel-gpu) to install dependencies, and then did

[2017-12-04 23:31] yaroslavvb commented on #12052
I'm getting past this part using script [here](https://github.com/yaroslavvb/tf_build), but getting blocked by some cuda compiler errors in https://github.com/tensorflow/tensorflow/issues/15108

[2017-12-04 23:37] gunan commented on #15108
https://github.com/tensorflow/tensorflow/pull/14770 should fix that issue.

[2017-12-05 00:17] reedwm commented on #15079
This issue is mentioned in a TODO [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_ops.py#L1765).

/CC @ebrevdo what do you think of this proposal? I don't think we can cause an error due to backwards compatibility, and we typically do not print warnings due to incorrect arguments. Also there would be a performance cost.

[2017-12-05 00:22] ispirmustafa commented on #14942
@WenmuZhou re:ProfilerHook, it is available as `tf.train.ProfilerHook` in TF1.4. But for 1.3 sorry to here it's not working. Could you please run it only on 1.4? It may give us some info.

[2017-12-05 00:24] reedwm commented on #15089
/CC @petewarden, can you take a look?

[2017-12-05 00:27] reedwm commented on #15077
Closing because this is intended behavior.

[2017-12-05 00:27] #15077 closed

[2017-12-05 00:33] reedwm commented on #14595
/CC @mrry, any comments?

[2017-12-05 00:34] yzhang092 commented on #15108
Thanks. Exactly same issue and #14770 commit did fix it.

[2017-12-05 00:36] reedwm commented on #14535
/CC @petewarden do you know what the issue is?

[2017-12-05 00:43] josh11b commented on #14998
The API review consensus was not excited by modifying reshape's signature since it is already a widely used function and matches numpy. "partial_reshape" seemed more acceptable.

[2017-12-05 00:50] zheng-xq commented on #14759
In Cuda, only 8 peer device can be enabled per device. Since there 10 GPUs, therefore the warnings.

Does anything actually fail with those warnings? You can still use all 10 GPU devices as normal.

I think in the long term, TensorFlow should do a better job looking at which GPUs should have peer access, when the system have more than 8 GPUs.

[2017-12-05 00:56] yzhang092 commented on #15108
#14770 seems not fix this issue. Still get error from cuda_kernel_helper

[2017-12-05 01:25] ebrevdo commented on #15079
The documentation clearly states that the input should be a probability distribution.  It seems fine to add the check for the CPU version, without worrying about backwards compatibility guarantees (though we'd want to run internal tests before accepting the change).  However, on the GPU this check is sufficiently expensive that we can't implement it without a lot of trickery and, probably, some sl

[2017-12-05 01:27] ebrevdo commented on #15079
(the check should raise `errors::InvalidArgument` if the input is not sufficiently close to a probability distribution.  probably you can't check exact, but you can check the sum is w/in e.g. 10* std::numeric_limits<T>::epsilon() of 1.

[2017-12-05 01:34] tensorflowbutler commented on #15096
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-05 01:40] Gumilton commented on #15087
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
TensorFlow installed from (source or binary): from pip
TensorFlow version (use command below): 1.3
Python version: 3.6
Bazel version (if compiling from source):
GCC/Compiler version (if compiling from source):
CUDA/cuDNN version: 8.0

[2017-12-05 01:44] mateoespinosa commented on #14676
Great! Let me know if I can help somehow. Thanks!

[2017-12-05 01:51] Gumilton commented on #15088
@mrry Thank you very much! I am looking into it and will come back and update once succeed.

[2017-12-05 01:54] asimshankar commented on #15103
Thanks for the report @VinceMarron . This behavior isn't an artifact of eager execution, just that we don't have GPU kernels (in eager or graph) for Complex types for the Exp operation (see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/cwise_op_exp.cc)

I don't believe we have any immediate plans for GPU kernels for exp for complex types, but contributions are welcom

[2017-12-05 01:57] reedwm commented on #14047
@martinwicke what do you think of this proposal?

[2017-12-05 02:01] #12589 closed

[2017-12-05 02:15] reedwm commented on #12911
@jheymann85, I can reproduce this issue on TensorFlow 1.3 but not TensorFlow 1.4, so I am going to assume it's fixed (although I'm curious what the issue was). Please reopen if you discover the issue still exists in some form.

[2017-12-05 02:15] #12911 closed

[2017-12-05 02:17] czhang96 commented on #675
'grad' or 'gradient' computes Jacobian-vector product (also called LOp in
theano),

Sanity checking, but LOp is vector-Jacobian product, not Jacobian-vector product, correct?

[2017-12-05 02:25] jasminezz commented on #14580
@tensorflowbutler  I have updated the question, the Exact commands were already described

[2017-12-05 02:26] boshanyiqiao commented on #15089
@petewarden I had been modified inception_v3_2016_08_28_frozen.pb  to quantized_graph.pb in tensorflow/examples/label_image/main.cc and label_image.py, then tried to follow command line from https://github.com/petewarden/tensorflow/tree/master/tensorflow/examples/label_image which commands are "bazel build tensorflow/examples/label_image/..." and "bazel-bin/tensorflow/examples/label_image/label_im

[2017-12-05 02:32] arixlin commented on #15089
@boshanyiqiao   tensorboard  --logdir=tensorflow/examples/label_image/data/inception_v3_2016_08_28_frozen.pb   view the graph

[2017-12-05 02:34] shi-xiaopeng commented on #9436
I solve the same problem by adding the PYTHON_BIN_PATH to " ~/.bash_profile ".

If you don't have a Environment Parameter named PYTHON_BIN_PATH, the  error msg will be ['PYTHON_BIN_PATH' environment variable is not set], if you already have one but not correct, the error msg would be [ PYTHON_BIN_PATH is not executable ].

Note that the PYTHON_BIN_PATH should specify to ".../bin/python" instead of

[2017-12-05 02:39] arixlin commented on #15070
@CodesFarmer  load all variables to memory，I think it’s feasible

[2017-12-05 02:51] reedwm commented on #13087
Fields are only printed if they are not zero, so if it doesn't appear, it's zero.

To see this, note the protobuf is printed at [this line](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/log_memory.cc#L36). `ProtoShortDebugString` is defined in a generated file, which you can see after compiling tensorflow with `less bazel-genfiles/tensorflow/core/framework/log_memo

[2017-12-05 02:51] #13087 closed

[2017-12-05 03:14] qiushi223 commented on #10827
same issue in 1.4.0

[2017-12-05 03:30] kaynon17 opened #15113 "compiling CPU version under windows X86"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-05 03:30] #15113 closed

[2017-12-05 03:45] kaynon17 opened #15114 "Compiling CPU version on windows X86"
System Information:
WIN 10
Visual studio 2015
Swigwin 3.0.12
Python 3.5.3
Cmake 3.10.0

Question description:

I am a new one about tensorflow, I used cmake command in cmd just like this:

cmake .. -A x64 -DCMAKE_BUILD_TYPE=Release -DSWIG_EXECUTABLE=D:/swigwin-3.0.12/swig.exe -DPYTHON_EXECUTABLE=D:/Programs/Python/Python35/python.exe -DPYTHON_LIBRARIES=D:/Programs/Python/Python35/libs/python35.lib

[2017-12-05 04:00] marcoleewow commented on #15086
I have encountered the same issue, the built-in tensorflow CTC API cannot pass this simple test from Alex Graves paper.

https://gist.github.com/marcoleewow/d7dc5078a36927b3f13dbf64ac9905ad

[2017-12-05 04:13] gauss-clb commented on #15077
@alextp Could you tell why `op = tf.Print(op, ['op'])` and `q = tf.Print(y, [y])` are defined on `cpu:0` ?

[2017-12-05 04:18] secsilm opened #15115 "Wrong result when computing accuracy using tf.metrics.accuracy"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 1709
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: Python 3.5.2 :: Anaconda custom (64-bit)

### Describe the problem

I found the result `tf.metrics.accuracy` returns is incorrect when I trained my model. To verify th

[2017-12-05 04:35] #15038 closed

[2017-12-05 04:36] facaiy commented on #15079
Hi, @ebrevdo . I checked the implementation of `SoftmaxCrossEntropyWithLogits`: kernel functions in `xent_op` seems totally shared by both CPU and GPU. So I'm afraid that only checking in CPU impl is impossible.

Is it good to check in python side, for example, using  `tf.reduce_sum`?  Take account of performance, perhaps we'd better make it optional.

[2017-12-05 05:18] facaiy commented on #14675
I agree with @tatatodd .
In the example above, we create two structures by condition in fact. I believe that reproducibility is only guaranteed for one deterministic structure, say, results always are same for `toggle=True` or `toggle=False`.

Even though we switch to use tensor name, we'll still meet the dilemma if only structure is changed:
[code]

[2017-12-05 05:27] boshanyiqiao commented on #15089
@arixlin
error info “No dashboards are active for the current data set.” by web page view
$ls tensorflow/examples/label_image/data    (defualt file)
grace_hopper.jpg          inception_v3_2016_08_28_frozen.pb
imagenet_slim_labels.txt  inception_v3_2016_08_28_frozen.pb.tar.gz

Is it and above problem because there is no input file? I use default command and file now, what should I do to fix it?

[2017-12-05 05:28] Leslie-Fang commented on #14025
@martinwicke Thanks a lot. I have downloaded the swig 3.0.8, but how could I force to use this swig version when I build the tensorflow?

[2017-12-05 05:59] marcoleewow commented on #15086
@xushenkun I have figured out the problem, the CTC loss performs softmax operation inside, so you should feed in the activations, not the probabilities after softmax.

[2017-12-05 06:22] sandipmgiri commented on #12325
Hi @gunan,
As you suggested , I tried removing the random seeds and running the test multiple times on ppc64le :
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/summary_image_op_test.py#L53
`# np.random.seed(7)`
[code]

Thanks!

[2017-12-05 06:24] WKChung1028 commented on #14988
have the C++ code explains how the tf.image.crop_and_resize work?
I am not sure the .Input() in given link can explain the function.

[2017-12-05 06:29] arixlin commented on #15089
You need step by step, build  inception_v3_2016_08_28_frozen.pb  before bazel build quantized_graph.pb. Here is model pb link (https://github.com/tensorflow/models/blob/master/research/slim/README.md)   forzen.pb include checkpoint, can't view on tensorboard.

[2017-12-05 06:32] gunan commented on #12325
This is really interesting :)
OK, so let's remove line 53 from summary image op test if that fixes the test on ppc64le. As far as I am concerned we already seed all random calls in testcasse class.

[2017-12-05 06:34] snnn commented on #15104
What's your bazel version? That's very important

[2017-12-05 06:48] zhangbo5891001 opened #15116 "Any other official way(not public in github issues) to report security bug of tensorflow?"
Hi,

I have found a security issue in Tensorflow. An attacker can easily execute arbitary code on victim machine through this issue. I think it has severe secure impact on tensorflow users. So it is not proper to disclosure this issue on github issues publicly before it is fixed.

Is there any other official way to report security issue? I will explain the details.
Thanks.

[2017-12-05 07:02] Response777 commented on #7624
Hi @JingHuang81 , I believe they are two distinct issues -- I was training new model from scratch at that time rather than just transfering the parameters. As far as I am concerned, your problem might be related to some differences in implementation or numerical unstablility. I think you might want to  compare intermediate results layer by layer(or you can try binary search to locate the causes).

[2017-12-05 07:09] MeteorKepler commented on #15041
Description updated, and anyone could help?

[2017-12-05 07:20] goodmangu commented on #12052
Thanks guys. Appreciated this. I got it working the same day by using the nightly build Linux binary instead. See: https://github.com/tensorflow/tensorflow
Now running 3 GTX 1080 Tis with Keras. Cool!

[2017-12-05 07:29] goodmangu commented on #12052
Spent last two days trying to build Tensorflow from source (r1.4) for my MacBook Pro with an eGPU. Driver working, with Cuda 8.0, cuDNN 6.0, Mac OSX Sierra 10.12. Very close to end, but blocked by some build errors after 20 minutes. Anybody has had luck so far? Any successfully built package that you can share? Thanks in advance.

[2017-12-05 08:23] rezwan16 opened #15118 "Building Tensorflow from source failed, compilation error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Red Hat Enterprise Linux Server release 6.9 (Santiago)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:
- **Python version**:  2.7.13
- **Bazel version (if

[2017-12-05 08:30] PhilJd commented on #15050
Hi,
the prebuilt binaries are using cuda 8.0 and cudnn 6.0 as far as I know. That means you either need to build tensorflow from source or you try to create a symlink pointing from  libcublas.so.9.0 to  libcublas.so.8.0. However, with the latter you might run into problems later on. Another possibility is to download cuda/cudnn into some local folder and set the LD_LIBRARY_PATH to first search in

[2017-12-05 08:36] voidguy commented on #15074
I have corrected the file  and done it right locally.

[2017-12-05 08:37] sandipmgiri commented on #14711
Hi @saeta , Please provide your comments on this.Thanks!

[2017-12-05 08:48] secsilm commented on #15115
But **the result in evaluation mode is correct while wrong in train mode**. I'm using `tf.estimator` and `tf.data.TFRecordDataset`. The following are relative codes.

[code]

My purpose is to log training accuracy when training. The following is a part of the console output. `Accuracy` is **always** 0.0.

[code]

[2017-12-05 08:52] sandipmgiri commented on #12325
Sure @gunan , I will create a PR to upstream the changes. Thanks a lot for the suggestions/comments!

[2017-12-05 08:52] sudongxiang opened #15119 "a small problem in the word2vec"
In  the  web  url  “https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/word2vec/word2vec_basic.py”；

In  the    code  line  123，“buffer[:] = data[:span]” ；
when  I  run  the   wiki data  using  1000  examples（1000 rows），
the  program    says  “sequence index must be integer not slice”，
so  I  changed     “buffer[:] = data[:span]”   to   “buffer.clear()” and  “buffer

[2017-12-05 09:03] snnn opened #15120 "[Feature Request] Please make Estimator.export_savedmodel support input types other than tf.Example"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.4.1
- **Python version**:
3.5.3
- **CUDA/cuDNN version**:
None
- **GPU model and memory**:

[2017-12-05 09:04] theflofly commented on #14081
@gdeer81 I have some work in progress for now so you can take it, I will eventually review your work if it can help.

[2017-12-05 09:05] boeddeker commented on #14448
Ok, I will make a PR for improving `tf.pyfunc`. I argee backward compatibility is important, but maybe rename some arguments would be better:

Current signature:
[code]
My prefared signature (similar to tf.data.Dataset.from_generator): (Note: output_types should not have a default argument.)
[code]
Suggestion for better backward compatibility:
[code]

Note: An advantage of a decorator would be, th

[2017-12-05 09:10] npanpaliya commented on #11603
Tried the change done in Eigen's PR in Power specific files Altivec/PacketMath.h. However, just swapping the arguments of max function didn't work on Power.
Then I wrote a small program to see the behavior of vec_max and _mm_max_ps on Power and x86 respectively, which are called in Eigen's max function. And from the output of the program, it seems Power's builtin function for max calculation has a

[2017-12-05 09:12] boeddeker commented on #14998
Ok, if there is an interest for `partial_reshape` (It sounds like nobody, except me, find such an extension useful.), I can make a PR.
But I need to know, where to place the code. Afaik it is common in tensorflow to initially place code under contrib.

[2017-12-05 09:16] shkarupa-alex commented on #15102
Ok, "mooving between devices"...

But why string ops does not have such constraint https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/string_ops.cc

It's still not clear.

[2017-12-05 09:42] marcoleewow commented on #15086
@xushenkun I have now used non-softmax tensor to feed into `ctc_loss` function, but I still cannot achieve 0 loss with your example. I think this is a tensorflow bug, please double check my code [here](https://gist.github.com/marcoleewow/037fc43733260300083aab0db2d7d9a8).

[2017-12-05 10:24] zhang13850588961 opened #15122 "tensorflow lite: error when convert frozen model to lite format"
Hi,
I build the freeze .pb with the guide at https://github.com/tensorflow/models/tree/master/research/slim
with the below step:

python train_image_classifier.py \
--train_dir /home/ubuntu/train/ \
--dataset_dir /home/ubuntu/vegetables/ \
--dataset_name=vegetables \
--dataset_split_name=train  \
--num_clones=2 \
--clone_on_cpu=True \
--checkpoint_path=/home/ubuntu/check_point/mobilenet_v1_1.0_224

[2017-12-05 10:37] #15120 closed

[2017-12-05 11:03] abidmalik1967 commented on #15104
It is 0.7.0. Thanks

[2017-12-05 11:05] snnn commented on #15120
Sorry, I found tf.estimator.export.PredictOutput satisfied my need. I was using the wrong output type.

[2017-12-05 11:56] #15119 closed

[2017-12-05 12:02] Koomook commented on #11610
Any update on this?
In my application, it causes a large computational loss because it can not inference by reducing the batch size.

[2017-12-05 12:03] DavidNorman opened #15124 "XLA Reshape_test failing for 3rd party platforms"
I have opened a discussion on the XLA dev mailing list, but I think that this counts as an issue since if it isn't fixed then potentially all XLA tests will migrate to being unusable for 3rd party devices.

https://groups.google.com/forum/#!topic/xla-dev/9cY21Hi0s_s

The issue is that the code in reshape_test.cc assumes that any devices which are not CPU/CPU_PARALLEL/GPU will use the bfloat16 form

[2017-12-05 12:05] abidmalik1967 commented on #15104
Which Tensorflow version should be best for MPI? I am using 1.0.

[2017-12-05 12:09] snnn commented on #15104
It's too new. You should either upgrade your TF or downgrade your bazel.  You can get the matching bazel version in tensorflow/tools/ci_build/install/install_bazel.sh.

Please close this issue, as this is not a bug of tensorflow.

[2017-12-05 12:12] satendrapratap commented on #14698
Any update on this?

[2017-12-05 12:19] amanbeniwal commented on #8388
Hello,
I am having following issues in sample code of mnist_softmax.py
mnist = input_data.read_data_sets("MNIST_data/", one_hot=True)

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/contrib/learn/python/learn/datasets/mnist.py", line 240, in read_data_sets
    source_url + TRAIN_IMAGES)
  File "/usr/local/lib/pytho

[2017-12-05 13:00] #15104 closed

[2017-12-05 13:00] abidmalik1967 commented on #15104
Thanks

[2017-12-05 13:01] tensorflowbutler commented on #15114
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-05 13:06] AiHrt commented on #6780
help! How to fix this daunting problem  :(

[2017-12-05 13:09] ngc92 commented on #15046
that wouldn't change anything. `weights + 0` is still differentiable w.r.t. `weights`. Also, just to clarify, my question is not how to stop `tf.losses.*` to derive at the weights, that would be a simple `tf.stop_gradient`, but whether it is conceptually correct that I would need to do so.

Having a weighted loss `L(x, w)` with values x ` and weights `w` both depending on a parameter vector `P`, w

[2017-12-05 13:36] AtulKumVerma opened #15126 "Is their any java spark api available for using Tensor"

[2017-12-05 14:08] SnShine opened #15128 "GPU memory increases in multiples of batch_size 64 with allow_growth=True"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: ('v1.4.0-14-gb5df90f', '1.4.1')
- **Python version**: 2.7.12
- **Bazel version (if compili

[2017-12-05 14:14] RerRayne commented on #14363
Same problem with WaveNet on V100:
[code]
Is there a more precise timeline info on the fix? We would gladly try a beta version of cuDNN, if any exists.
Thank you!

[2017-12-05 14:19] tonybaigang opened #15129 "build error: undefined reference to `clock_gettime'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux CentOS 6.9
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
master branch: the latest version
- **Python version**:
2.7
- **Bazel version (if compi

[2017-12-05 14:27] colmantse commented on #14107
it has been a 50 % increase in cpu for me and a 50% decrease in GPU.

[2017-12-05 14:27] cuevas1208 commented on #13888
I got a similar error when I build Tesorflow using GPU (using Cmake). I can successfully load and run the graph previously saved from my python model in Tensorflow 1.4 using CPU c++ with no problem; but when I tried to load the same graph using Tensorflow 1.4 using GPU c++ and I get the following error:
`- status {state_=unique_ptr {code=INVALID_ARGUMENT (3) msg="No OpKernel was registered to supp

[2017-12-05 14:55] eamartin commented on #14675
@facaiy I agree that changing the graph at all breaks the current conditions for reproducibility, but I'm suggesting that there should be a best-effort attempt to stay reproducible even with small graph changes.

Being able to directly reproduce a experiment is powerful, but I think it's even more powerful to hold all things constant and tweak just one aspect of an experiment.

@tatatodd I agree t

[2017-12-05 14:58] snjagadale opened #15131 "Tensorflow Unit Test: //tensorflow/python/eager:core_test fails"
Tensorflow test failing on power hardware.

W tensorflow/core/common_runtime/device_mgr.cc:97] Unknown device: GPU:5 all devices: /device:GPU:1, GPU:0, /device:GPU:0,

We are using 2 GPUs.

Any help appreciated

[2017-12-05 15:08] yongtang commented on #14887
@YoelShoshan I created a PR #15132 for further discussion. After looking through decode_raw, I think it might make sense to have `decode_compressed` take a string Tensor input and generate a string Tensor output. In this way, it might potentially be used in many other places (not limited to decode_raw).

To apply `decode_compressed` to another op (e.g., decode_raw):
[code]

Please take a look

[2017-12-05 15:25] nlopezgi commented on #9436
Since https://github.com/tensorflow/tensorflow/pull/14467 it is again required to have the env variable PYTHON_BIN_PATH explicitly set, run configure script to set it, or to set it via --action_env.

[2017-12-05 15:55] fedden opened #15134 "contrib STFT magnitudes different to librosa's"
------------------------

### System information
- **Have I written custom code**: Yes
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version**: 1.4
- **Python version**: 3.5.2
- **Bazel version**: N/A
- **GCC/Compiler version**: N/A
- **CUDA/cuDNN version**: 6.0
- **GPU model and memory**: nvidia quadro m2000m 4gb
-

[2017-12-05 15:55] kkelchte commented on #6698
For me putting: **config.gpu_options.allow_growth = True** in the tensorflow session fixed the problem.
Cuda 8, tf 1.4, cudnn 6

[2017-12-05 16:17] ebrevdo commented on #15079
The cpu kernel can run `if (std::is_same<Device, CPUDevice>::value) {
<perform check> }`.

On Mon, Dec 4, 2017 at 8:37 PM, Yan Facai (颜发才) <notifications@github.com>
wrote:

[2017-12-05 16:34] jmaye commented on #15115
Beware that tf.metrics.accuracy is computed over an entire session run, not per batch. I just kicked it out because I did not get the utility of it. Instead, I'm doing the same thing as you with reduce_mean to have batch accuracy.

[2017-12-05 17:03] IanMin1022 commented on #14244
it works fine on the terminal but if I import tensorflow on Pycharm, it doesn't work with ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory.
Can I get any advice?

[2017-12-05 17:07] drpngx commented on #15062
Is it 32-bit only? I'm afraid 32-bit won't work.

[2017-12-05 17:16] drpngx commented on #12386
We're trying to move to the `dataset` API which doesn't have these freezing issues. Typically it's either some racing condition or the eval queue not being started.

@nealwu @mrry @tfboyd do we have plans to convert our examples with the new API? I think that would remove a lot of confusion.

[2017-12-05 17:18] drpngx commented on #12772
Yes, I think it's a usage issue. Feel free to continue commenting on the issue, but I am closing this. Please re-open if you think it's a bug in tensorflow.

[2017-12-05 17:18] #12772 closed

[2017-12-05 17:20] #13148 closed

[2017-12-05 17:21] #13278 closed

[2017-12-05 17:22] ccordoba12 opened #15136 "Tensorflow is pulling enum34 in Python 3.5 and 3.6, which breaks code completion in Spyder"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 17.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.5, 3.6
- **Bazel version (if compiling from source)**:

[2017-12-05 17:22] drpngx commented on #13292
OK, closing for now, since there is an (imperfect) workaround.

[2017-12-05 17:22] #13292 closed

[2017-12-05 17:23] drpngx commented on #13338
@martinwicke WDYT?

[2017-12-05 17:24] drpngx commented on #13348
Sorry this fell through the cracks. @mrry WDYT?

[2017-12-05 17:26] drpngx commented on #13821
Closing since it's hard to repro.

[2017-12-05 17:26] #13821 closed

[2017-12-05 17:27] drpngx commented on #13740
Also, please try a new version perhaps.

[2017-12-05 17:27] yaroslavvb commented on #14107
@songgc btw, I've recently experimented with scripts from "High Performance Models" and have not observed CPU starvation on TF 1.4, even when running on V100 GPUs which put much more pressure on CPU

So the way to isolate the problem would be to see what the problematic script is doing that that @tfboyd's reference scripts are not doing (ie are they using probably-will-be-deprecated Queue's to rea

[2017-12-05 17:28] mrry commented on #13348
@Noahyt What is the output of these `print()` statements?

[code]

[2017-12-05 17:28] drpngx commented on #14048
Just to be sure, could you try the newest version?

[2017-12-05 17:32] mrry commented on #13530
Reassigning this to @rohan100jain, who has been working on a GPU prefetching optimization for `tf.data` that should fix the utilization problem.

[2017-12-05 17:34] drpngx commented on #14358
@ThomasColthurst WDYT?

[2017-12-05 17:35] #14512 closed

[2017-12-05 17:36] mrry commented on #12386
@drpngx I think the freezing issue is probably in the `tf.train.SyncReplicasOptimizer` rather than the queue-based input pipeline.

@josh11b and @isaprykin are working on a replacement that shouldn't have the same problems.

[2017-12-05 17:37] IanMin1022 commented on #14244
After I added this at Environmental variables, it worked.
Name: LD_LIBRARY_PATH
Value: /usr/local/cuda-9.0/lib64:${LD_LIBRARY_PATH}:/usr/local/lib
Thanks a lot @danqing by the way.

[2017-12-05 17:39] drpngx commented on #14528
@tfboyd @sguada Is that something we know about? Any way to debug?

[2017-12-05 17:41] drpngx commented on #14566
What do you mean by dynamic?

[2017-12-05 17:48] jinmel commented on #10367
If anyone is having this issue, I solved this issue by making sure that shell always points to system python binary.
Some python utility tools such like pyenv causes confusion to bazel (dont' know how) and causes this particular error.

[2017-12-05 17:50] drpngx commented on #14590
Sorry if it's in contrib, it's not a supported scenario. @zach-nervana feel free to reopen if you have something we can repro.

[2017-12-05 17:50] #14590 closed

[2017-12-05 17:52] martinwicke commented on #13338
Sorry, I don't understand what this does -- is this a version of Sequential?

[2017-12-05 17:57] tatatodd commented on #10827
Any thoughts on this @zheng-xq, or suggestions for who might know more?

[2017-12-05 17:58] drpngx commented on #14596
@mrry any idea?

[2017-12-05 18:02] drpngx commented on #14620
Can you try with bazel 0.8?

[2017-12-05 18:06] drpngx commented on #14622
@gunan FYI. Closing since @mamrehn appears to have posted a working resolution. We should fix this if possible.

[2017-12-05 18:06] #14622 closed

[2017-12-05 18:07] drpngx commented on #14624
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-05 18:07] #14624 closed

[2017-12-05 18:13] drpngx commented on #14662
Yes, we are moving to the dataset API. Would that work for you?

/CC @mrry

[2017-12-05 18:14] nevakanezzar commented on #15108
seconded, same issue.

[2017-12-05 18:15] martinwicke commented on #14025
Technically, it is supposed to be downloaded and used by bazel automatically. Can you attach the build log so we can see the actual error?

[2017-12-05 18:17] drpngx commented on #14672
Sorry, I think right you pretty much have to know what you're doing. Usually you should keep with the default unless you know what you are doing.

@MarkDaoust maybe there is something I am missing?

[2017-12-05 18:17] ThomasColthurst commented on #14358
@nataliaponomareva is the current maintainer of TensorForest.

My recommendation is to use TensorFlow 1.4, from which CountExtremelyRandomStats has been completely removed.

[2017-12-05 18:23] drpngx commented on #14698
I think we'd need a bit more info about the code you're using.

[2017-12-05 18:27] drpngx commented on #14736
Yes, it's not supported and OpenCL is not fully ready.

[2017-12-05 18:27] #14736 closed

[2017-12-05 18:29] zheng-xq commented on #10827
Adding @jlebar, the owner of stream_executor

[2017-12-05 18:31] VinceMarron commented on #15103
Gotcha. Thanks for looking into this @asimshankar . My error on assuming it was related to eager.

I looked into contributing a general resolution but I don't think I have the know-how in terms of Tensorflow structure and C. What I can provide is a framework for implementing it in terms of real (tf.float32) operations that are implemented on gpu - [cwise_op_cos](https://github.com/tensorflow/tenso

[2017-12-05 18:46] laurentlb opened #15137 "Tensorflow broken by new Bazel versions"
Simplest way to reproduce the issue, run:
`$ bazel build --config=opt --incompatible_load_argument_is_label --nobuild //tensorflow/tools/pip_package:build_pip_package`

Suggested fix to `tensorflow/third_party/sycl/sycl/BUILD.tpl`:
[code]

This should address the immediate need.
There are other issues to fix (although not as pressing). You can see them by building using `--all_incompatible_changes

[2017-12-05 18:47] jlebar commented on #10827
Hi, folks.

Loading the CUDA shared libraries is fraught, and complex.  Sometimes we go through this DSO loader, sometimes we can get the shared library through more normal means, sometimes we have to use static libraries.  Frankly I have trouble keeping it all straight.

I don't know offhand what changed back in June, but I don't think relying on these log messages from the DSO loader is the righ

[2017-12-05 18:51] MarkDaoust commented on #14672
A quick search seems to indicate that the other options,  GDR and VERBS are for these two contrib packages:

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/verbs
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/gdr

Maybe we should link to these on the install/sources page? @RainbowZephyr, it could be relatively straight forward, care to send a PR?

[2017-12-05 18:54] reedwm commented on #15115
As @jmaye said, `tf.metrics.accuracy` is not meant to compute the accuracy of a single batch. It returns both the accuracy and an update_op, and `update_op` is intended to be run every batch, which updates the accuracy. See #9498 for more discussion on this.

[2017-12-05 18:54] #15115 closed

[2017-12-05 18:56] reedwm commented on #15137
/CC @gunan, can you resolve this?

[2017-12-05 18:58] reedwm commented on #15129
/CC @gunan, do you know what could be causing this issue?

[2017-12-05 19:00] reedwm commented on #15131
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-12-05 19:10] drasmuss commented on #14957
One more case; I'm not sure if the profiler takes into account allocations that happen within a loop.  E.g., this code

[code]
shows memory usage that increases linearly with the number of loop `steps`

![mem_usage](https://user-images.githubusercontent.com/1952220/33625352-46a52048-d9c5-11e7-9f32-e046527f3398.png)

But if we look at the profiler output, the reported memory usage of the `while` lo

[2017-12-05 19:11] tensorflowbutler commented on #15116
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-05 19:11] tensorflowbutler commented on #15124
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-05 19:15] gunan commented on #15129
Looks like this is an issue caused by centos 6.9
A quick google search found these similar issues, and potential solution here:
https://stackoverflow.com/questions/17150075/undefined-reference-to-clock-gettime-although-lrt-is-given

Closing, as this issue is definitely caused by OS version of the user.

[2017-12-05 19:15] #15129 closed

[2017-12-05 19:16] gunan commented on #15137
Thanks for the report @laurentlb Could you file a bug internally for us to quickly triage this?

[2017-12-05 19:30] asimshankar commented on #8773
We do build C libraries for Windows, but only with CPU support. Building GPU-enabled binaries as part of the release is on my TODO list but I haven't gotten around to it yet.

- For CPU, you can download the `.dll` from: https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-windows-x86_64-1.4.0.zip

- We use bazel to build this, but the environment is a bit complicated. The scr

[2017-12-05 19:35] mrry commented on #15019
@taehyunkim1527 Can you share a complete reproducible example of the problem? I was unable to reproduce the problem with the code fragment in your example, although it was possible to reproduce it by adding arguments to `tf.train.export_meta_graph()`. I am in the process of fixing the latter problems, but it would be great to confirm that the fix works for your issue too.

@suryasumukh I think you

[2017-12-05 20:10] laconstratos commented on #10458
you just need to rename the created txt file and paste it in the assets directory, the created txt file is not the same name as the default txt file, because that will result to incorrect output, both files "created.txt and default.txt" should be on the same directory on build.

[2017-12-05 20:20] maxiaodong97 commented on #15108
looking into the history the breaking code introduced yesterday by
Wrappers for CUDA 9 warp-synchronous intrinsics.

[2017-12-05 20:32] nikko4913 commented on #15075
I have tried installing cuDNN 7 also. Jetpack 3.1 only comes with cuDNN 6, but apparently, [this](https://developer.nvidia.com/nvidia-tensorrt3rc-download) install of Tensor RT from NVIDIA can update the system to version 7 as well. I did that, but the error persists.

[2017-12-05 20:51] yaroslavvb commented on #15108
Cc @zheng-xq

[2017-12-05 21:00] tfboyd opened #15140 "CUDA 9.1 planning ticket"
**Update 05-FEB-2018**
The plan of record is to stick with CUDA 9.x until CUDA 10.  That plan has an issue in that CUDA 9 and 9.1 cause problems with XLA that should be resolved with CUDA 9.2.  The soft plan is we would move to 9.2 when it comes out if it resolves the issues with XLA.

**Update 23-JAN-2018**
CUDA 9.1 requires an upgrade to device driver 387 (CUDA 9 was 384).  Moving device drivers

[2017-12-05 21:51] tim-hub commented on #15082
same error.
macbook pro 2016(early), tf1.4

[2017-12-05 22:13] derekhh commented on #14942
@jsimsa - I think that's actually my experiment but I'm happy to add more data. :)

[2017-12-05 22:16] cSchubes commented on #15062
Yes, the processor onboard is a 32-bit ARM big.LITTLE architecture. It has a Cortex A7 and a Cortex A15 for a total of 8 cores.

[2017-12-05 22:45] tatatodd commented on #14713
@jmaye My apologies, it wasn't clear to me that you were requesting a documentation or code feature.  And note that closing an issue doesn't make it less beneficial to the community, it just helps us keep track of what issues still need to be resolved.

Perhaps @ispirmustafa can comment on your proposed changes to Estimator.

[2017-12-05 23:02] Moldy01 commented on #15050
Phil,

Thanks, that's pretty much what I was thinking, except I was hoping to hear that you were re-compiling the prebuilt binaries so that they would include "Anything less than ...".

I'm relatively new to Python, so I don't know whether that is even doable, unless they're actually gcc compiled libraries, in which case, it should be doable.  However, I was able to get it going by maneuvering my

[2017-12-05 23:06] andrehentz commented on #15122
I am not able to retrain and freeze using train_image_classifier.py.

Have you tried something like the following?

[code]

[code]

[2017-12-05 23:19] facaiy commented on #15046
Yup, the role of weight seems subtle when involved with variable. As said by you, we can pretend a variable as constant by tf.stop_gradients, so I'd prefer to the second one, which is more general.

[2017-12-05 23:27] angersson commented on #15137
I've prepared a change that will fix this internally.

[2017-12-05 23:32] ispirmustafa commented on #14713
@jmaye best way to do transfer learning for now is using [tf.train.init_from_checkpoint](https://www.tensorflow.org/api_docs/python/tf/train/init_from_checkpoint). Example:

[code]

[2017-12-05 23:33] ispirmustafa commented on #14713
FYI, we're working on better solutions.

[2017-12-05 23:34] alextp commented on #15077
Because the print op doesn't have a GPU implementation

On Dec 4, 2017 20:16, "gauss-clb" <notifications@github.com> wrote:

[2017-12-05 23:45] gyang274 opened #15142 "Tensorflow (current master) build failure due to cuda/cudnn?"
I would like to try out `tf.contrib.framework.sort()`, which available on current master only.

Tried to build master but failed due to cuda/cudnn library cannot found by bazel. However, I verified these library are exist at `/usr/local/cuda/lib64`.

[code]

System Environment:
Ubuntu 16.04, cuda8.0, cudnn6.0, gcc-5

Build Steps:
[code]

Check cuda/cudnn
[code]

Verbose Failure:
[code]

[2017-12-06 01:01] tensorflowbutler commented on #15126
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-06 01:04] xushenkun commented on #15086
@marcoleewow Thanks for your remind, I forgot the softmax issue. And I think although these two kinds of targets mean same dense tensor value, tf'ctc_loss use the sparse tensor directly, which are different.

[2017-12-06 01:20] gyang274 commented on #15142
Workaround with tf-nightly-gpu. Thanks.

[2017-12-06 01:20] #15142 closed

[2017-12-06 01:27] Leslie-Fang commented on #14025
@martinwicke Sure，of course. I have try the new release version 1.4.0
Configure:
Tensorflow 1.4.0
OS Ubuntu17.10GA
Bazel 0.6.1
swig version:
 _apt list installed swig
swig/artful 3.0.10-1.2 amd64_

The build log with the error message is:

_ERROR: /root/tensorflow-1.4.0/tensorflow/python/BUILD:2953:1: SWIGing tensorflow/python/tensorflow.i failed (Segmentation fault): swig failed: error executing

[2017-12-06 01:33] kweisamx commented on #14566
like the learning rate can decay by the step , because the clipping is fixed when begining,
maybe the clipping can adjust when training like learning

[2017-12-06 02:09] martinwicke commented on #14698
I just tried with 1.4.0, I cannot reproduce this. I'll close, please reopen if you have more information.

[2017-12-06 02:09] #14698 closed

[2017-12-06 02:16] #15086 closed

[2017-12-06 02:54] secsilm commented on #15115
@reedwm @jmaye Thank you for your reply. I read #9498 and understand that `update_op` is called every batch. But I still have one question: **When** the `accuracy` is computed?

[The doc](https://www.tensorflow.org/api_docs/python/tf/metrics/accuracy) says:

but doesn't say when the accuracy is computed, i.e. divides `total` by `count`.

In my codes above, the accuracy is computed when finishing e

[2017-12-06 02:55] tonybaigang commented on #15129
It's not the same issue as the one in stackoverflow.com.
Actually, you will find tensorflow already defined " -pthread -Wl,-no-as-needed" in the build script. I think this issue is caused by tensorflow did not add -lrt in the build script.

[2017-12-06 03:18] facaiy commented on #15079
Thanks, @ebrevdo .
Hi, @bringtree, contributions are welcome.

[2017-12-06 03:38] himsikha123 opened #15143 "tensorflow.python.framework.errors_impl.NotFoundError: /u/tensorflow-master/bazel-bin/tensorflow/python/tools/freeze_graph.runfiles/org_tensorflow/tensorflow/contrib/data/python/ops/../../_prefetching_ops.so: undefined symbol: _ZN6google8protobuf8internal26fixed_address_empty_stringB5cxx11E"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-06 03:44] facaiy commented on #14675
Yup, I agree that operator's name is more easily designed,  and sounds more robust than its id. Especially when combined with name scope, take a example:
[code]

However, I don't know how much users can benefit from the change, and whether the change is worthful.
Any, thanks for clarify, @eamartin .

[2017-12-06 04:04] WenmuZhou commented on #14942
@ispirmustafa  for tf 1.4 the ouput of
[code]
is
[code]
but, the output of tf 1.3 is None

[2017-12-06 04:12] #15143 closed

[2017-12-06 04:21] Codewyvern commented on #15140
Is cuda 9.1 an upcoming release? I can only download cuda_9.0.176 from the nvidia dev portal. Will this version be supported in the RC too?

[2017-12-06 04:44] himsikha123 opened #15144 "Error_Converting_TliteFormat"
.....................................................## System information##........................................................................
-Python -2.7.12
-OS -Ubuntu 16.04
-Tensorflow version-1.4.0
-Bazel version-0.8.0
     ......................................................##Description ###...............................................................
1. I went through the followin

[2017-12-06 04:46] Mahesh245 opened #15145 "TensorFLow build Error"
when iam trying to retrain as per sample given in tensorflow.org\tutorials.
given below command
bazel build tensorflow/examples/image_retraining:retrain
after that gaving below errors . any clue on this?
Error
tensorflow/third_party/py/numpy/BUILD:11:1: no such package '@local_config_python//': BUILD file not found on package path and referenced by '//third_party/py/numpy:headers'

Please go to St

[2017-12-06 05:16] shi-xiaopeng commented on #9436
yeah, you are right. I'v found that later. If run configure, both problem I
mentioned above should not happen.

2017-12-05 23:31 GMT+08:00 Nicolas Lopez <notifications@github.com>:

[2017-12-06 05:28] taehyunkim1527 commented on #15019
@mrry When i use that series of code of 'exporting and importing' in tensorflow/benchmarks's ImageNet tasks, I experienced this error message.
I tried to implement a simple code to make the same error message today, but it failed.
I think it is not a problem of tf.data.Dataset() and let me debug again.
Thank you for your kindness.

[2017-12-06 05:43] wanghuok commented on #15093
I use summarize_graph tool to my model. it output :
Found 3681310 (3.68M) const parameters, 0 (0) variable parameters, and 0 control_edges
Op types used: 99 Const, 47 Identity, 19 Conv2D, 18 BiasAdd, 13 Relu, 10 Conv2DBackpropInput, 10 MirrorPad, 10 Mul, 10 Shape, 10 StridedSlice, 4 MaxPool, 1 ConcatV2, 1 Placeholder, 1 Sigmoid, 1 Sub

[2017-12-06 05:47] WayneWang12 commented on #14620
I resolve this by adding one more parameter which was found on the document for new ops... However I've forgotten which one...Seems that there is a lag between code implementation and document.

[2017-12-06 05:50] gunan commented on #15129
You did add `-lrt` in your build command, so it may be an issue when bazel needs to propagate this flag properly.
@damienmg may want to take a look, but centos is not an OS we officially support, or we test/experiment on.

[2017-12-06 06:29] ebrevdo commented on #14107
There is a performance regression that affects nmt decoders in tf 1.4 that we have solved in the nightlies. If you have a performance regression, can you check if it persists with the tf nightlies?

[2017-12-06 06:40] arixlin commented on #15089
@boshanyiqiao
https://github.com/tensorflow/models/blob/master/research/slim/README.md
python export_inference_graph.py \
  --alsologtostderr \
  --model_name=inception_v3 \
  --output_file=/tmp/inception_v3_inf_graph.pb

bazel-bin/tensorflow/python/tools/freeze_graph \
  --input_graph=/tmp/inception_v3_inf_graph.pb \
  --input_checkpoint=/tmp/checkpoints/inception_v3.ckpt \
  --input_binary=true

[2017-12-06 06:55] bringtree commented on #15079
Could I add a arg to judge to open label's check?（Default:close the check） I think maybe some users don't want to check the sum. @ebrevdo

[2017-12-06 06:58] Scitator commented on #8658
Hi @martinwicke !
Is there any progress on this feature?
If not, is it possible to write "Save Best Model Hook" for TF.Estimator to solve this issue?

[2017-12-06 07:10] junja94 commented on #14620
@drpngx I tried with the latest version of Bazel and still the same error occurs.

[2017-12-06 07:51] colmantse commented on #14107
hi, after installing tf nightlies via pip command, the problem persists.

[2017-12-06 07:57] gunan commented on #15145
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

Also, make sure you follow this and install all TF dependencies
https://www.tensorflow.org/install/install

[2017-12-06 07:57] #15145 closed

[2017-12-06 08:17] PhilJd commented on #15050
Hi Moldy,
The tensorflow core is written in cpp so tf is gcc compiled. However, I'm don't quite get what you mean with re-compiling, as this is not possible from the given binar and you'd need the source code anyway.

However, you could still try the last option I mentioned, to download cuda and cudnn manually and store them locally.
That is:
1. create a folder /home/USERNAME/lib/
2. download the

[2017-12-06 08:20] d-li14 commented on #12052
@goodmangu Could you please specify which "the nightly build Linux binary" do you use?

[2017-12-06 08:20] snjagadale commented on #15131
totalMemory: 15.89GiB freeMemory: 15.60GiB
2017-12-05 14:28:56.364727: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1045] Device peer to peer matrix
2017-12-05 14:28:56.364760: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1051] DMA: 0 1
2017-12-05 14:28:56.364766: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1061] 0:   Y N
2017-12-05 14:28:56.364771: I tensorflow/core/common_runt

[2017-12-06 08:33] kaynon17 commented on #15114
I mistook the command. When I used the command: cmake .. -A Win32 -DCMAKE_BUILD_TYPE=Release -DSWIG_EXECUTABLE=D:/swigwin-3.0.12/swig.exe -DPYTHON_EXECUTABLE=D:/Programs/Python/Python35/python.exe -DPYTHON_LIBRARIES=D:/Programs/Python/Python35/libs/python35.lib -Dtensorflow_ENABLE_GPU=OFF, I got the right project.

[2017-12-06 08:33] #15114 closed

[2017-12-06 08:38] adwaye opened #15148 "Using function defun and while loops"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-06 09:05] resec commented on #14993
@caisq I met the same problem in a GPU machine, but when switched to CPU, the issue is gone.

[2017-12-06 09:07] Calin-Mihnea commented on #14758
Approaching the problem without reading the bazel docs was really not a good idea.
Worked like a charm after, and also managed to use a LINKER_SCRIPT to expose only needed functions, thus reducing the size of the library.

[2017-12-06 09:13] BogdanRuzh commented on #6035
It's a very important Op for my model. Hope it will be solved soon.

[2017-12-06 09:27] zhang13850588961 commented on #15122
@andrehentz tks for you help!
I try below:
python tensorflow/examples/image_retraining/retrain.py \
    --image_dir /home/ubuntu/vegetables_photos/ \
    --output_graph /home/ubuntu/vegetables_out/vegetables.pb \
    --output_label /home/ubuntu/vegetables_out/labels.txt \
    --how_many_training_steps=60 \
    --architecture mobilenet_1.0_224

bazel-bin/tensorflow/contrib/lite/toco/toco \
  --inpu

[2017-12-06 09:36] svetlov commented on #12851
@mrry  i also need `unzip`, cause of some transormations which expect dataset, containing only single component (i.e. tf.contrib.data.dense_to_sparse_batch).

[2017-12-06 09:43] zuokai opened #15149 "BatchNorm/gamma not found in checkpoint"
I trained a model with tensorflow1.4， and want to finetune in tensorflow 1.3，following is part of my code:
1）train code with tf1.4:
            with slim.arg_scope(inception_v3.inception_v3_arg_scope()):
          y, endpoints = inception_v3.inception_v3(x, CLASSES, True)
2）test code with master:
     with slim.arg_scope(inception_v3.inception_v3_arg_scope()):
        y, end_points = inception_v3.

[2017-12-06 10:33] WenmuZhou commented on #15057
@reedwm  I use `tf.contrib.rnn.BasicLSTMCell`

[2017-12-06 10:36] zotroneneis opened #15150 "`variational_recurrent` in contrib DropoutWrapper causes extreme perplexity jumps"
I have done extensive testing of the `variational_recurrent` option in the tf.contrib dropout wrapper and neither me nor my colleagues can explain the extreme perplexity jumps that are caused by it.

I am training an RNN language model on the Penn Treebank Dataset. The model code is very similar to the one provided in the [TensorFlow Tutorial](https://www.tensorflow.org/tutorials/recurrent), using

[2017-12-06 10:45] ihsanafredi commented on #859
Hi, I am facing something similar, I posted the problem on [stackoverflow](https://stackoverflow.com/questions/47657157/variables-of-tensorflow-generate-error-in-a-loop) as well. But no help. I am calling a function with CNN, so if i return from that function, it should delete all the variable and on return create new ones. But it does not. I tried to use answer by mrry that use tf.reset_default_g

[2017-12-06 10:56] vinceyuan commented on #15074
@voidguy Same problem here. How to fix it?

[2017-12-06 10:56] fangyizhang commented on #14301
I have the same problem, how do you fix it.  The out of memory error also occurs in pytorch when you allocate memory more than 8gb or so

[2017-12-06 11:02] vinceyuan commented on #15074
@voidguy ok, i saw the solution: https://github.com/tensorflow/tensorflow/pull/15117

[2017-12-06 11:02] WenmuZhou commented on #15057
@reedwm I use `tf.contrib.rnn.BasicLSTMCell` and there is the model and image
https://drive.google.com/open?id=1WbjbJxzJRyYtxvGoZhyeVe2FgwEoc5c1

[2017-12-06 11:21] EVA-wu opened #15151 "model.fit crash ( keras example mnist) TensorFlow1.4"
I run example : https://github.com/fchollet/keras/blob/master/examples/mnist_cnn.py
but it crashed when train, namely model.fit

The error is :
An error ocurred while starting the kernel
\tensorflow\core\platform\cpu_feature_guard.cc:137] Your CPU supports instructions that thisTensorFlow binary was not compiled to use: AVX AVX2
\tensorflow\core\common_runtime\gpu\gpu_device.cc:1030] Found device

[2017-12-06 11:38] sofeikov opened #15152 "Strange Dataset API behaviour"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
v1.4.0-rc1-11-g130a514 1.4.0
- **Python version**:
sys.version_info(major=3, minor=4

[2017-12-06 11:41] npanpaliya commented on #11603
I missed attaching my test program earlier.
[testmax.cpp.txt](https://github.com/tensorflow/tensorflow/files/1535017/testmax.cpp.txt)

[2017-12-06 11:48] svetlov commented on #13766
is there any progress here?

[2017-12-06 11:57] snjagadale opened #15153 "Tensorflow Unit Test //tensorflow/python/kernel_tests:depthtospace_op_test TIMEOUT"
System Information
Linux  ppc64le GNU/Linux
commit id 3fe5fa08dbed8134ad400f03be474aeb39bcc922
Python 2.7.5
Bazel Build label: 0.5.4- (@non-git)
gcc version 4.8.5 20150623 (Red Hat 4.8.5-16) (GCC)
cuda-9.0/
NVIDIA GPU driver

command to reproduce  - bazel test tensorflow/python/kernel_tests:depthtospace_op_test

*Failure log*

pci bus id: 0003:01:00.0, compute capability: 6.0)
2017-12-06 08:58:27.

[2017-12-06 12:23] laghaout commented on #15091
@ebrevdo Yes indeed. Zero-length sequences turned out to be the culprits. I wonder how that lead to negative indices, though. I'm also intrigued at how the lack of validation on the GPU made the execution of the fetches so deceivingly seamless.

[2017-12-06 12:29] DavidNorman commented on #15124
Hi,

No problem.

OS Platform and Distribution:
- all platforms and distrubutions

Tensorflow installed from:
- source

Tensorflow version:
- master branch of repo

Bazel version:
- unknown / not relevent

CUDA/cuDNN version:
- none

GPU model and memory:
- none

Exact command to reproduce:
- bazel test --test_env TF_CPP_MIN_VLOG_LEVEL=1  --verbose_failures --test_output=all --nocache_test_results

[2017-12-06 12:32] AtulKumVerma commented on #15126
version is  not matter, i can configure as corresponding,
and plz give some deeplearnig example too with spark and tensorflow.

[2017-12-06 13:08] satendrapratap commented on #14698
Please use the below files to recreate the issue. Use following command(copy rnn_tc.txt as rnn_tc.py first):

$python3 rnn_tc.py

We got following messages:

$ python3 rnn_tc.py > tc.log4
Traceback (most recent call last):
  File "rnn_tc.py", line 62, in <module>
    'dbpedia', size='big')
  File "/usr/local/lib/python3.4/dist-packages/tensorflow/contrib/learn/python/learn/datasets/__init__.py", l

[2017-12-06 13:09] satendrapratap commented on #14698
python3 tensorflow version:
1.3.0

[2017-12-06 13:29] tensorflowbutler commented on #15144
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2017-12-06 13:31] Petersingh01 opened #15155 "Input too short to compute filterbank"
Hi,
I am new to tensorflow and i am trying to train model with my own data but i am getting below error

2017-12-06 18:56:38.030081: E tensorflow/core/kernels/mfcc_mel_filterbank.cc:181] Input too short to compute filterbank
2017-12-06 18:56:38.030095: E tensorflow/core/kernels/mfcc_mel_filterbank.cc:181] Input too short to compute filterbank
2017-12-06 18:56:38.030105: E tensorflow/core/kernels/m

[2017-12-06 14:09] WenmuZhou commented on #15057
@ebrevdo I have predict 1,000 images and average the times

[log.zip](https://github.com/tensorflow/tensorflow/files/1535427/log.zip)

[2017-12-06 14:19] gauss-clb opened #15156 "Tensorflow set_random_seed"
I use `tf.set_random_seed` to set the seed of graph, and run programs many times, but the result is different.
Is it a bug or precision problem?

[code]

Sometimes it prints
[code]
Or

[code]

The fifth and sixth float number are a little different.

If it is the precision problem, the output of program will be different while running on different situation.

If I use` resnet_v1.resnet_v1_101`, th

[2017-12-06 14:41] MarkDaoust commented on #12736
Hi,

I've synced the [examples/label_image](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/label_image.py) script into the [tensorflow-for-poets-2 version](https://github.com/googlecodelabs/tensorflow-for-poets-2/blob/master/scripts/label_image.py) and deleted the duplicate that was in examples/image_retraining.

Currently the only difference is the default `i

[2017-12-06 14:44] sleighsoft opened #15157 "Feature: GANEstimator allow passing of namedtuples"
In the current `GANEstimator` implementation in `train.py` `gan_model(..)` both `real_data` as well as `generator_inputs` is converted to tensors with either `_convert_tensor_or_l_or_d` or `ops.convert_to_tensor`. This prevents the user from using own data structures like `namedtuples` to pass information between the `generator` and `discriminator`.

In the current implementation when passing a `n

[2017-12-06 14:50] maxfiedler opened #15158 "Feature: MonitoredSession should have run() method with 'hooks_to_trigger' argument: run(..., hooks_to_trigger=[hooks[1], hooks[3], ...])"
At the moment the session_run_hooks are passed to the constructor of MonitoredSession(..., hooks=[...])
and then they get executed for EVERY session.run() call within the MonitoredSession block.

This is inefficient and problematic.

E.g., if I define a LoggingTensorHook, I want the logging output to be evaluated and printed at most ONCE per global step and not after some auxiliary session.run() c

[2017-12-06 14:52] Anmol-Sharma commented on #12508
hey everyone, i'm trying to export the an CNN model which accepts 200x200 rgb images as inputs, however while exporting the model i'm getting the following error

`---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-35-bdf37a7e35ac> in <module>()
----> 1 model.export_savedmodel(export

[2017-12-06 15:04] qianyizhang commented on #12689
@TianwenWei
This is seems really strange, since as I'm looking into the slim implementations, it seems the regular weights and bias are created with slim.model_variable, and regularizer are slim.variable
Though I'm 100% sure, I think all variables are created with their closest with device scope, which is individual gpu (and reuseable variables are pinned memory between each gpus and have a sync c

[2017-12-06 15:09] mrry commented on #15019
Thanks for confirming that the problem doesn't arise with that exact code! I have a change in the pipeline that will make this path work in more cases (e.g. when using `clear_devices=True` or a scope prefix), so I'll reopen this issue until it lands.

[2017-12-06 15:14] andrehentz commented on #15122
Retraining  mobilenet_1.0_224_quantized is something we are still working on and we hope to update our docs and code soon.

Meanwhile, I have to suboptimal workarounds for you:
  1) Change the demo app to work with floating-point numbers (it requires changes [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/java/demo/app/src/main/java/com/example/android/tflitecam

[2017-12-06 15:18] maxfiedler commented on #15158
Simple solution could be: (in _HookedSession) marked with **
[code]

[2017-12-06 15:21] sofeikov commented on #15152
Me and my colleague have made a small investigation of this behaviour.
The reason of this happening is very surprising. All images in Kodak set are either 512x768 or 768x512 pixels. That said, it is just a pure luck that every time you precisely the same amount of pixels.

Every time an image is read with a correct shape, which can be seen if we put
`tf.Print(image_source, [tf.shape(image_source)]

[2017-12-06 15:37] chris-smith-zocdoc opened #15159 "Unable access S3 using the S3 filesystem"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  docker container based on centos7
- **TensorFlow installed from (source or binary)**: binary, from pip
- **TensorFlow version (use command below)**: ('v1.4.0-rc1-11-g130a514', '1.4.

[2017-12-06 15:41] maxfiedler commented on #12859
@ispirmustafa I outlined another simple solution in a new feature request:
https://github.com/tensorflow/tensorflow/issues/15158

[2017-12-06 15:51] Anmol-Sharma commented on #12508
I have also tried using `build_parsing_serving_input_receiver_fn` and `build_raw_serving_input_receiver_fn` but at the end i always get the same error.

[2017-12-06 15:54] abidmalik1967 opened #15160 "Installing Tensorflow from source"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-12-06 16:01] chhwang commented on #14573
Here is my Dockerfile. My Docker version is 17.09.0-ce.

If I comment out the commented "RUN"s, the build success.

[code]

This prints out a long error message starting with:

[code]

I also tried to build the current master (tensorflow/tensorflow@480563e173e0f2fd7e108ada339ea8bc2c37b493), but it fails with another error, maybe not related with this issue. The error message is:

[code]

[2017-12-06 16:27] drpngx commented on #14620
@WayneWang12  if you remember which op it is and how you fixed it, please let us know.
/CC @MarkDaoust

[2017-12-06 16:32] drpngx commented on #15156
did you try to pass the seed to `random_normal`?

[2017-12-06 16:34] drpngx commented on #14742
@dloyer do you have the stack trace? It should definitely propagate up.

[2017-12-06 16:38] drpngx commented on #14780
Right, currently the supported path on windows is cmake.

[2017-12-06 16:41] Moldy01 commented on #15050
Phil,

Thanks for the info.  Sometimes I wish I had the time to contribute.  As for the "re-compiling" to which you refer.  I've seen it done before, however, I'm afraid I don't remember the technique used.  It is possible for the end binary to accept "either" xxx.so.8, xxx.so.7, xxx.so.6, etc.   The reason for my preface, is that your next question would undoubtedly be to query me for the techniq

[2017-12-06 16:42] drpngx commented on #14887
@martinwicke WDYT?

[2017-12-06 16:45] drpngx commented on #14980
/CC @mrry

[2017-12-06 16:46] MarkDaoust commented on #14620
It seems like you're not the only one hitting this error.

A few people say  [these instructions](https://github.com/tensorflow/tensorflow/issues/12482#issuecomment-328829250) fix the problem.

[2017-12-06 16:48] drpngx commented on #15028
If you count the blanks, you should have the alignment.

[2017-12-06 16:49] drpngx commented on #15032
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-06 16:50] ebrevdo commented on #15057
Can you try with tensorflow nighty build and tell me if the performance is
improved?  There were some performance regressions in tf 1.4 that we fixed,
but not sure if any of them would slow you down.

On Wed, Dec 6, 2017 at 6:09 AM, zhoujun <notifications@github.com> wrote:

[2017-12-06 16:53] drpngx commented on #15038
@gauss-clb I am going to close this. Your initial ask about float64 support has been heard. For questions about numerical issues with neural networks, I suggest asking on stackoverflow.

[2017-12-06 16:56] drpngx commented on #15046
Right, I also disagree that we should stop the gradients. I understand where you're coming from, but I think this would be confusing non-transparent behavior for people. Also, once you stop the gradient within the loss it's not possible to go back to previous behavior.

[2017-12-06 16:56] #15046 closed

[2017-12-06 16:59] ebrevdo commented on #15091
The cause was here:

[code]

note your `tf_seq_len-1`, which is `-1` if `tf_seq_len` is zero.

[2017-12-06 17:02] ispirmustafa commented on #14942
@WenmuZhou please do print(est_config.cluster_spec.as_dict()) to get the content.

re: catapult, did you clone it? I mean following: `git clone https://github.com/catapult-project/catapult`

[2017-12-06 17:02] drpngx commented on #15104
@gunan any idea?
@abidmalik1967 what is the bazel version you are using?

[2017-12-06 17:05] ispirmustafa commented on #12859
We think allowing different hook sets to be used in each run complicates the usage. MonitoredSession.run_step_fn should be used instead.

[2017-12-06 17:05] ispirmustafa commented on #15158
We think allowing different hook sets to be used in each run complicates the usage. MonitoredSession.run_step_fn should be used instead.