[2020-08-03 04:42] zhedongzheng commented on #32943
Hi,

It seems Java for TF 2 is coming up

References:
https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-2.3.0.jar
https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow_jni-cpu-linux-x86_64-2.3.0.tar.gz
https://www.tensorflow.org/install/lang_java

[2020-08-03 04:52] Saduf2019 commented on #39463
@rongtianyue
Please confirm if we may move this to closed status as issue is resolved.

[2020-08-03 05:05] Saduf2019 commented on #41990
@abhipn
I ran the code shared and do not see any errors, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/817033c7fa7cabc1f0d5b539b8fc43b1/untitled312.ipynb).

With repect tot he error please refer to below links:
 #41892 [link](https://stackoverflow.com/questions/54274107/out-of-memory-running-tensorflow-with-gpu-support-in-pycharm)

[2020-08-03 05:06] Saduf2019 commented on #41993
@summa-code
Please provide with simple stand alone code or a colab gist with the error for us to analyse the issue.

[2020-08-03 05:14] Saduf2019 commented on #41879
@Askfk
I ran the code shared and do not face any errors, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/b521db122ab3946669c05f4c3fd8472d/untitled310.ipynb)

[2020-08-03 05:25] ravikyram commented on #41949
@srihari-humbarwadi

You can refer similar issue #34499 and see if it helps you.Thanks!

[2020-08-03 05:32] ravikyram commented on #41952
@tkrsh

Can you please share your colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-03 05:32] guptapriya commented on #41257
I am still not sure why 1 is better than 0. I think the core issue that they should be different on each worker. So if you have 2 workers, it should be 0 and 1. If you have 3 workers, it should be 0, 1, and 2. Is that what you're saying too?

Sure, those changes sound fine to me 👍

[2020-08-03 05:51] ravikyram commented on #41956
@smj007

This is duplicate of #41912. Can we track with that issue and close this one. It will help us to follow easily. Please let us know. Thanks!

[2020-08-03 05:53] smj007 commented on #41956
@ravikyram

Oh I did not see that! Thanks for pointing it out, I shall close this issue!

[2020-08-03 05:53] #41956 closed

[2020-08-03 06:02] amahendrakar commented on #41951
@Stealers,
Could you please provide the link to the paper you are comparing the results with?

Also, share the sample images you are using along with the TensorFlow version. Thanks!

[2020-08-03 06:17] martinwicke commented on #12345
@mdanatg I think type hints should be acceptable now? Or do we need to wait for the type classes?

[2020-08-03 06:25] boluoyu commented on #34977
because only one tensor output :
intermediate_layer_model = Model(inputs=[model.input], outputs = [model.get_layer('model_1').get_layer('center_block2_relu').get_output_at(0)])

[2020-08-03 06:27] Saduf2019 commented on #41899
@linkun-1998
Please refer to [this link](https://github.com/tensorflow/tensorflow/issues/38234#issuecomment-609482622) and let us know if it helps resolve your issue.[[link]](https://stackoverflow.com/questions/57658114/how-to-solve-propagation-of-dynamic-dimension-failed-error-in-tf-keras-with-tp)

[2020-08-03 06:38] Saduf2019 commented on #41855
@alexn11
Please update on CUDA installation, is this still an issue?

[2020-08-03 06:42] apatsekin commented on #27170
Is it possible to support Python variable length  list-of-lists as an input to the Keras model?
Let's say I can do this in TF:
[code]
from tensorflow import keras
from tensorflow.keras import backend as K
inp = keras.layers.Input(shape=(None,), ragged=True, dtype='int32')
layer_ = keras.layers.Lambda(lambda x: K.sum(K.one_hot(x, num_classes=15), axis=-2))(inp)
model = keras.Model(inp, layer_)
mode

[2020-08-03 06:47] ravikyram commented on #41971
I have tried in colab with TF version 2.2 and was able to reproduce the issue.However with TF nightly version i am seeing the different errror message.
(`TypeError: Keras symbolic inputs/outputs do not implement `__len__`. You may be trying to pass Keras symbolic inputs/outputs to a TF API that does not register dispatching, preventing Keras from automatically converting the API call to a lambda l

[2020-08-03 06:54] #40653 closed

[2020-08-03 07:00] NeoZhangJianyu commented on #40989
@pks
I checked with the designer. There is no simple way to merge back the solution from TF 2.x to TF 1.15.

[2020-08-03 07:02] NomadicCode commented on #37876
Same issue with tf2.3, tensorboard callback, `verbose=1`

[2020-08-03 07:04] abhipn commented on #41990
I don't think the code is the issue. I used tensorflow 2.2.0 and it's working fine. I'm only getting this issue on tensorflow-2.3.0

[2020-08-03 07:13] #39524 closed

[2020-08-03 07:16] jvishnuvardhan commented on #39918
@uidchet Is this still an issue? I ran the gist @amahendrakar  without any issue. May be this was resolved in recent `tf-nightly`. Please verify the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/7d0dd3e7a2b5f5a4bd5d89d03f75fc46/39918-tf-nightly.ipynb). Thanks!

[2020-08-03 07:37] smartin-pck commented on #41855
Yes First time i install CUDA 11 and i gate a same problem.
I downgrade my cuda because of the webpage was written the tf is working with cuda 10.1 or higher i try this but the problem as same as on CUDA 11.

[2020-08-03 07:48] fhausmann commented on #29968
@jlherren
Hmm, from my point ( I was always using the pip version) it was always running only the correct number of threads, but created a lot more (which were all suspended and this slows down performance due to many context switches).

So the Issue was never about incorrect number of running, but created threads. So I guess your issue is a different one, but may connected.

[2020-08-03 07:49] Saduf2019 commented on #41369
@Julius-ZCJ
Please update as per comment from @mihaimaruseac.

[2020-08-03 07:51] Saduf2019 commented on #41012
@aselva-eb
please let us know if this is still an issue else please move the issue to closed status.

[2020-08-03 07:55] amahendrakar commented on #41958
Was able to reproduce the issue with TF v2.2 and TF v2.3. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/bcbb82c4dc189486a4bd7594bfbe92f2/41958.ipynb). Thanks!

[2020-08-03 08:01] Bmoser-boop opened #41996 "Tensorflow Build Failure with Bazel"
**Apologies in advance for the text dump**

I am attempting to compile Tensorflow in OSX 10.13.4 using Bazel based on these instructions:
https://medium.com/xplore-ai/nvidia-egpu-macos-tensorflow-gpu-the-definitive-setup-guide-to-avoid-headaches-f40e831f26ea

I attempted the build using the following command:
`bazel build --config=cuda --config=opt --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" --action_en

[2020-08-03 08:07] thephet commented on #41855
I have cuda 11, cudnn 8 and tf 2.3, and I get the error.

[2020-08-03 08:09] manidevi opened #41997 "Need to build tensorflow version 2.1.0 from source on Windows"
**System information**
- OS Platform and Distribution : Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version: r2.1
- Python version: 3.6.8
- Bazel version (if compiling from source): 0.29.1
- GCC/Compiler version (if compiling from source):

**Describe the problem**
I want to build tensorflow 2.1.0 from source. Github Branch r2.1 builts tensorflow version 2.1.1 by

[2020-08-03 08:22] #41503 closed

[2020-08-03 08:25] zvika-adler opened #41998 "tf.nn.conv2d_transpose name is overridden"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-08-03 08:30] suresh-s commented on #41888
I have tried hard limit on the GPU. I have created swap file of size 6 GB. But again i got Out of memory exception on Jetson Nano.   I am using [Stanford Cars Dataset ](https://ai.stanford.edu/~jkrause/cars/car_dataset.html)

this is the source code https://github.com/suresh-s/Car-Recognition-Phd/blob/master/train.py

Please help me to solve this issue

[2020-08-03 08:31] NeoZhangJianyu commented on #37337
@astirn

1. Add the path of the library into /etc/ld.so.conf. Then run ldconfig to update the cache.

2. According to the log of yours, the path setting of iomp should be right.
Could you try following example to test the link to iomp?

Create hellow_omp.cpp
[code]

Compile it:
[code]

[2020-08-03 08:36] ravikyram commented on #41978
@umusa

Please, provide sample data to reproduce the issue in our environment.Thanks!

[2020-08-03 08:37] akshat1136 opened #41999 "tf.GradientTape() doesn't work on sliced outputs"
Here is a piece of code which I tried to run:
[code]
And this is the output:
[code]
As you can see that tf.GradientTape() is not working with sliced outputs. Is there any way around to this?

[2020-08-03 08:42] Saduf2019 commented on #41855
@thephet
Please confirm if you have visited the mentioned links and if you have tried after deactivating the GPU.

[2020-08-03 08:48] ravikyram commented on #41974
@rishabhs-s

Can you try by loading with the below command and see if you are able to load model or not.
`model= tf.keras.models.load_model('ferlatest.h5')`
Please, refer this [documentation](https://www.tensorflow.org/tutorials/keras/save_and_load).Thanks!

[2020-08-03 08:49] ctivanovich commented on #37525
I really don't want to use pip to install something as full of dependencies as tensorflow. It becomes inevitable that something will break, even in a separate environment.

[2020-08-03 09:23] #41512 closed

[2020-08-03 09:23] #41527 closed

[2020-08-03 09:24] ravikyram commented on #41989
I have tried in colab with TF version 2.3, nightly version(`2.4.0-dev20200802`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/fc67840a4f56df46d23b8c95cbbc6069/untitled78.ipynb).Thanks!

[2020-08-03 09:28] Sixaxis9 commented on #41932
Edit: added links to models

[2020-08-03 09:35] ravikyram commented on #41898
@ratovarius

Looks like code is incomplete. I am seeing name '`Input'` is not defined in the given code. Request you to provide  reproducible code in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-03 09:39] Saduf2019 commented on #41998
@zvika-adler
Please provide with simple indented stand alone code for us to replicate the issue faced (with all dependencies) or if posible share a colab gist with the error faced.

[2020-08-03 09:43] v3551G opened #42000 "Report error 'non-first' call when repeate experiment"
Question: The code can successfully run when using autograph for acceleration, whereas it reports 'optimizer non-first call'  error when I repeat the experiment multiple times(10 in the sample code), which confused me.
 The code logic is as follows：
--------------------------------------------
[code]
----------------------------------------------
Clearly, the definition-optimizer  is outside the f

[2020-08-03 09:50] planetmarshall commented on #41904
I'm new to Bazel but from what I can tell, the root cause is that, unfiltered, the Windows dll would contain more than 64K symbols, which is the maximum number of symbols that can be exported by a Windows Dll (because each symbol is indexed by a 16bit integer).

To cirvcumvent this, Bazel builds a 'dummy' dll called `tf_custom_op_library_additional_deps.dll` in order to generate a `.def` file cont

[2020-08-03 10:06] bhack commented on #42000
It seems to me in the https://github.com/tensorflow/tensorflow/issues/27120 "famliy"

[2020-08-03 10:10] bm777 commented on #24496
**This worked for me.**

[code]

[2020-08-03 10:11] mikael-epigram opened #42001 "tf.string.format is not returning Unicode characters"
As also described in [this Stackoverflow post](https://stackoverflow.com/questions/59795552/tf-string-format-is-not-returning-unicode-characters), when a string passes through `tf.strings.format` unicode characters are not represented correctly.

[code]

Error observed in tensorflow 2.2 and 2.3

[2020-08-03 10:14] amahendrakar commented on #41962
@vigneshenoy-SDET,
Could you please check if you are running 64-bit Python and take a look at the [system requirements](https://www.tensorflow.org/install/pip#system-requirements) to install TensorFlow.

Also, please run the command `pip list` and share the output with us. Thanks!

[2020-08-03 10:15] bhack commented on #41999
Is it ok with the [Stackoverflow reply](https://stackoverflow.com/questions/63225910/tf-gradienttape-doesnt-work-on-sliced-outputs)?
I think that you need to manipulate the tensor slicing in the `GradientTape()` context.

[2020-08-03 10:17] ravikyram commented on #41992
@lvjinqiao

Can you please go through the [link](https://www.deeplearning.ai/ai-notes/initialization/) , [link2](https://towardsdatascience.com/weight-initialization-in-neural-networks-a-journey-from-the-basics-to-kaiming-954fb9b47c79) and see if it helps you.

This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads quest

[2020-08-03 10:20] eladc4 opened #42002 "tf.nn.conv2d_transpose name is overwritten"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): TF 2.2
- Tens

[2020-08-03 10:27] v3551G commented on #42000
Thank you. Still different. my code works well both in eager mode and autograph mode when not repeat experiments, I will paste the error details later.

[2020-08-03 10:45] ravikyram commented on #42000
@v3551G

 Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose).

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-03 10:47] thephet commented on #41855
@Saduf2019 If I deactivate the GPU it works fine but obviously very slow.

The error I get is the following:

[code]

[2020-08-03 10:57] ravikyram commented on #41895
@manidevi

Please, check the below comments

1.You need to install the MSVC 2019 redistributable
2.There is a library that is in a different location/not installed on your system that cannot be loaded.

[2020-08-03 10:57] KaimingZhu commented on #36072
Thanks a lot! I will have a try later :)

[2020-08-03 10:57] akshat1136 commented on #41999
Yes, I got it. I posted the same question there as well 😅.

[2020-08-03 10:57] #41999 closed

[2020-08-03 11:05] bhack commented on #42001
The problem is that the formatted tensor string is escaped:
`b'\xf0\x9f\x98\x8a:"\\360\\237\\230\\212"'`

[2020-08-03 11:06] ravikyram commented on #41997
@manidevi

Please follow this guide to build tensorflow and when you checkout the branch enter the command
git checkout r2.1.0
https://www.tensorflow.org/install/source_windows

[2020-08-03 11:12] amahendrakar commented on #41973
Was able to reproduce the issue with TF v2.3. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1e765ba9a8323af3d0ecfbdcf81a7243/41973.ipynb). Thanks!

[2020-08-03 11:14] Saduf2019 commented on #41855
@thephet
This error has been resolved in [this comment](https://github.com/tensorflow/tensorflow/issues/40877#issuecomment-653120196), please refer to this and confirm.

[2020-08-03 11:18] johncaling40 opened #42003 "Please add Tensorflow 2.3 GPU and all subsequent versions to Conda package manager for Windows and Linux"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.2
- Are you willing to contribute it (Yes/No): No becaus

[2020-08-03 11:21] thephet commented on #41855
@Saduf2019 Thanks for your answer. Reading that comment I am not sure what I am supposed to do to this fix the error.

The code I am trying to run is this one:

https://machinelearningmastery.com/develop-encoder-decoder-model-sequence-sequence-prediction-keras/

Check at the end before the comments when he puts it all together.

[2020-08-03 11:23] bhack commented on #42001
Also the formatted tensor is in Octal Escape Sequence

[2020-08-03 11:26] Saduf2019 commented on #41926
@beew
Please refer to [this issue](https://github.com/tensorflow/tensorflow/issues/22082#issuecomment-451908492) with same error and update us. [[link](https://stackoverflow.com/questions/52437344/bazel-build-failed-after-updated-command-line-tool-in-mac)]

[2020-08-03 11:30] v3551G commented on #42000
[code]

[2020-08-03 11:35] manidevi commented on #41997
I get the following error for the above command
[code]

[2020-08-03 11:43] mdanatg commented on #12345
Yes, we can start adding type annotations, with a few caveats, see below. In addition, there is now [TensorLike](https://www.tensorflow.org/api_docs/python/tf/types/experimental/TensorLike) (also unparameterized for now) which captures some of the types that TensorFlow autoboxes. More will be added to the list.

The caveats:
 * some directories may need to be upgraded, but that's a straightforward

[2020-08-03 11:46] Parrass commented on #41945
I have a i7 8th gen. I dont think that it is the problem. In the course I did they recommended to use Spyder, from Anaconda. The installing process is the same?

[2020-08-03 11:49] brad-nix commented on #41932
I get the same error, "Only 1 subgraph is currently supported. Exiting with status 1" when trying to implement RNNs.
[Issue: 36688](https://github.com/tensorflow/tensorflow/issues/36688)

[2020-08-03 11:50] bhack commented on #42000
@v3551G I still think that you are in the perimeter of https://github.com/tensorflow/tensorflow/issues/27120.
Can you try you code with the same workaround as in https://github.com/tensorflow/tensorflow/issues/27120#issuecomment-540071844

[2020-08-03 11:51] rohitdavas commented on #20271
`conda install -c anaconda cudnn ` can fix the issue. [from here](https://anaconda.org/anaconda/cudnn)

[2020-08-03 11:55] v3551G commented on #42000
The demo for reproducing the error is pasted at my last comment， please swipe up the page.

[2020-08-03 11:57] v3551G commented on #42000
[code]

Waiting your reply.

[2020-08-03 11:59] bhack commented on #42000
I saw your code. Can you try your code with that workaround?
Personally I tried that workaround with your code and It Is working.

[2020-08-03 12:03] v3551G commented on #42000
do you mean commit the "@tf.function"?

[2020-08-03 12:12] murdockhou commented on #27679
[code]

@ismael-elatifi  And could you help me find out where is wrong in above code? The dataset that I want to make is create a input and two ouput, and I want make every output has a name so I can pass this dataset into keras model.fit func.

[2020-08-03 12:13] Askfk commented on #41879
Sorry I made some changes for testing which part leads to the stuck in the notebook so based on these changes it can run without problems but in the [original notebook](https://colab.research.google.com/drive/1sGkTwMUgOUSlfbYmyuEOaQK7inECuCp9?usp=sharing) the problems are still there.

[2020-08-03 12:20] idofr opened #42004 "KeyError on concrete_functions while loading a model"
**System information**
- Have I written custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v2.2.0-rc4-8-g2b96f3662b
- Python version: 3.7.7
- CUDA/cuDNN version: 10.0 / 7.6
- GPU model and memory: Nvidia Quadro P1000, 4GB

**Describe the current behavior**
When loading a Sav

[2020-08-03 12:21] roebel commented on #24496
Hello @bm777

following my investigation from a few month ago I summarize how I understand the problem

The problem is not the system memory, the problem is the GPU memory!

works because it does not use the GPU!

A few explanations:

TF has two modes of operation:

1. `allow memory growth = false`:  In this case TF preallocates some memory for the system libraries using a rough guess of
     how

[2020-08-03 12:48] amahendrakar commented on #41985
@mohitgithubprojects,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-08-03 12:51] KartikRayaprolu opened #42005 "Tensorflow 2.0.0 error"
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
~\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal import *
     59

~\AppData\Roaming\Python\Python37\site-packages\tensorflow\pyth

[2020-08-03 12:54] tiru1930 commented on #40157
@terryheo  Does this works with tflite_runtime, I am facing same issues with tflite_runtime

[code]

[2020-08-03 12:59] amahendrakar commented on #41988
@vybhav72954,
Could you please install the `tf-agents-nightly` package. With the nightly version, I was able to import the module without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/89a833806ae0ebf6aaf34f3d6f58e3b1/41988.ipynb). Thanks!

[2020-08-03 13:03] orangesomethingorange commented on #41825
Hey @jdduke ,

Yes, the results are generated on an Android device.
I used the prebuilt libraries (following the instructions [here](https://www.tensorflow.org/lite/guide/android#use_tflite_c_api)).
I did not build from source, but still - NDK version is `android-ndk-r18b (ver 18.1.5063045)`.

I only got all zeros on some models.
Following your reference to [Issue #40318](https://github.com/tensor

[2020-08-03 13:03] melon675 commented on #41931
Also have this problem with building hello_world for ESP32 board.
If I deleted "-std=c11" flag from CMakeList in tfmicro directory building goes well, but then I got exception:
"Guru Meditation Error: Core  0 panic'ed (StoreProhibited). Exception was unhandled."
Exeption happens when line "input->data.f[0] = x_val;" from main_funstions.cc is executed. Looks like I'm trying to save data out of flas

[2020-08-03 13:18] tabeareichmann opened #42006 "error: 'std.constant' op requires attribute's type ('tensor<500x2450xf32>') to match op's return type ('tensor<*xf32>')"
Hello,
We are currently using TFlite to quantize our trained models with FP16 and INT8. When running the experiments the unquantized baseline and FP16 quantization seem to work, but with INT8 the logfile created gives us the following error and output:
error: 'std.constant' op requires attribute's type ('tensor<500x2450xf32>') to match op's return type ('tensor<*xf32>')
00000000C1C040BD00000000000

[2020-08-03 13:22] #41554 closed

[2020-08-03 13:23] tiru1930 commented on #40157
@terryheo  Same issue even with  2.4.0-dev20200803 on linux
[code]

[2020-08-03 13:24] ravikyram commented on #42006
@tabeareichmann

Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose).
Provide the exact sequence of commands / steps that you executed before running into the problem.

Thanks!

[2020-08-03 13:49] bionicles commented on #41763
Not sure about where to put it, it would be epic to have a function in tensorflow which lists the xla flags, or just a simple page of the docs with a table of them, I don't mind where it is, but XLA has a lot of feature flags and it's good if we can find the list!

[2020-08-03 14:12] bhack commented on #42000
[code]

[2020-08-03 14:19] Shikaz commented on #41937
I tried to instead of do pip install the gpu tensorflow to build using bazel and still no luck.

[2020-08-03 14:20] bhack commented on #41997
@manidevi you need to run `git checkout v2.1.0`

[2020-08-03 14:23] bhack commented on #42004
Can you share a very minimal/dummy but runnable code to reproduce this?

[2020-08-03 14:30] ratovarius commented on #41898
@ravikyram
I updated the code, now it sould be reproducible

[2020-08-03 14:34] bhack commented on #42003
As suggested in others Conda tickets I think it is better to track this in conda github repositories.

[2020-08-03 14:39] Aakash7khadka commented on #28326
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
  try:
    for gpu in gpus:
      tf.config.experimental.set_memory_growth(gpu, True)
  except RuntimeError as e:
    print(e)
#Just paste these lines to solve the problem

[2020-08-03 14:49] bm777 commented on #24496
Hello @roebel

Me too, I was thinking about the issues of error of allocation of memory. This is clearly for me now.
Now it looks good GPU memory

In the past, I tested many options to pre-allocate memory 😢:

[code]

Personally I use GPU with 6GB of memory.
And thank you @roebel, for this new arrow `TF_FORCE_GPU_ALLOW_GROWTH=true` to force my GPU for allocation 😊.

[2020-08-03 14:50] bhack commented on #41989
@Smankusors Have you tried to check coordinates calcs in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/image_ops.h?

[2020-08-03 14:57] mohitgithubprojects commented on #41985
@amahendrakar , Thank you for responsing,

**[Actually i'm just using the example code provided by tflite of posenet in android.]**
[](https://github.com/tensorflow/examples/tree/master/lite/examples/posenet/android)

The example code displays the results using the back camera of the device but as i have mentioned i want the results using the front camera of the android device . So, i have updated

[2020-08-03 14:59] Smankusors commented on #41989
yea but unfortunately I can't quite understand it. It's the `MapCoordinate` structs that's responsible right? Maybe I will try tinkering/fiddling it to understand it futher.

[2020-08-03 15:01] dcleres commented on #36612
I update my Tensorflow version to `2.3.0`, However, the behavior still persists on my machine. I am trying to combine `tf.keras.optimizers.schedules.ExponentialDecay`with `tf.keras.callbacks.ReduceLROnPlateau` with no luck. Thank you for your help.

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform and Distribution (e.g., Linux Ubuntu 16

[2020-08-03 15:01] Saduf2019 commented on #41863
@Zapnuk
Please provide simple stand alone code to replicate the issue faced or is possible share a colab gist with the error reported.

[2020-08-03 15:08] Saduf2019 commented on #41957
@arshagarwal
Can you please provide the issue faced in a colab gist for us to analyse the issue reported.

[2020-08-03 15:08] johncaling40 commented on #42003
What do you mean by that. Sorry... I am new to this.

[2020-08-03 15:21] applied-machinelearning commented on #41993
As LSTM is used with CUDA, it is probably this: https://github.com/tensorflow/tensorflow/issues/41630 , you can try the workaround with the environment variable TF_CUDNN_RESET_RND_GEN_STATE=1

[2020-08-03 15:21] ravikyram commented on #41997
@manidevi

As suggested by @bhack you can try with `git checkout v2.1.0`.Please, check this [gist](https://colab.research.google.com/gist/ravikyram/4206629a3953fa6ede6daf219ca89b53/untitled80.ipynb) for your reference.Thanks!
`

[2020-08-03 15:22] bhack commented on #41989
Ok let me know if you find something in the meantine.
As It Is c++ code I will try to build a fresh version but It Is a very time consuming job (https://github.com/tensorflow/build/issues/5)

[2020-08-03 15:22] amahendrakar commented on #41991
@shoother813,
Could you please share the output of the `pip list` command with us?

Also, check this these similar issues [#22512](https://github.com/tensorflow/tensorflow/issues/22512), [#36167](https://github.com/tensorflow/tensorflow/issues/36167) and let us know if it works. Thanks!

[2020-08-03 15:25] shoother813 commented on #41991
Package                Version
---------------------- ---------
absl-py                0.9.0
appdirs                1.4.4
asgiref                3.2.10
astor                  0.8.1
astroid                2.4.2
astunparse             1.6.3
attrs                  19.3.0
bcrypt                 3.1.7
beautifulsoup4         4.8.2
bs4                    0.0.1
cached-property        1.5.1
cachetools

[2020-08-03 15:26] amahendrakar commented on #42005
@KartikRayaprolu,
You might be facing this issue because of the following reasons

- You you running 32-bit Python or 32-bit OS
- You have not installed the [Microsoft Visual C++ Redistributable](https://support.microsoft.com/help/2977003/the-latest-supported-visual-c-downloads) package
- Your CPU does not support AVX instructions.

Please take a look at the [system requirements](https://www.tenso

[2020-08-03 15:27] shoother813 commented on #41991
I've also tried downgrading to python 3.7 and installed tensorflow 2.0, but still received the exact same problem.  I'm currently back to python 3.8 and tensorflow 2.3

[2020-08-03 15:28] nikitamaia commented on #42000
Hi @v3551G, as @bhack explained the comment in #27120 to wrap the train_step is a workaround that will allow you to run multiple experiments. However, you might notice that it can have an impact on performance. The problem of not being able to repeat the experiment is actually a bug as I've noted in this comment [#36574 ](https://github.com/tensorflow/tensorflow/issues/36574#issuecomment-659040854

[2020-08-03 15:32] johncaling40 commented on #42003
Oh ok...thanks

On Mon, Aug 3, 2020 at 11:19 AM bhack <notifications@github.com> wrote:

[2020-08-03 15:38] Saduf2019 commented on #41945
@Parrass
Please refer to [this link](https://docs.anaconda.com/anaconda/install/) for anaconda, we do not handle anaconda installation related issues.

[2020-08-03 15:39] #39463 closed

[2020-08-03 15:40] Saduf2019 commented on #41879
@Askfk
I re-ran the above colab and do not face any errors.

[2020-08-03 15:41] AITutorials opened #42007 "There are some repeated calls in the data_augmentation.ipynb！"
The location of the problem：/docs/site/en/tutorials/images/data_augmentation.ipynb
You can find it according to the mark of the picture：
![9371596469059_ pic_hd](https://user-images.githubusercontent.com/61530230/89200299-627e7000-d5e2-11ea-910e-50ee98f30cb8.jpg)
---
`image,label = convert(image, label)`  AND `image = tf.image.convert_image_dtype(image, tf.float32)`  are the same.

[2020-08-03 15:42] bhack commented on #41988
I think `pip install tf-agents==0.5.0` is enought

[2020-08-03 15:42] nectario commented on #38670
I need to write a metric that outputs the average number of positive results. I am just amazed how convoluted and complicated it is to write a simple metric like this.

[2020-08-03 15:45] bhack commented on #42007
Can you prepare a small PR?

[2020-08-03 15:47] bhack commented on #42003
@johncaling40 Could you close this?

[2020-08-03 15:48] nectario commented on #38670
Subclassing Metric class is not clear at all. I think there must be a way to write custom metric code without resorting to low level tensorflow code.

[2020-08-03 15:50] amahendrakar commented on #41996
@Bmoser-boop,
Please refer to the [official guide](https://www.tensorflow.org/install/source#macos) while building the TensorFlow package.

Also, check the [tested build configurations](https://www.tensorflow.org/install/source#cpu_2) and make sure you have the correct dependencies installed. Thanks!

[2020-08-03 15:50] nectario commented on #38670
This is what I have so far to calculate the direction accuracy:

`from tensorflow.keras.metrics import Metric
from tensorflow.python.ops import init_ops
from tensorflow.python.ops import math_ops
from tensorflow.python.ops import array_ops

import tensorflow

class DirectionAccuracy(Metric):

    def __init__(self, name="direction_accuracy", dtype=None, **kwargs):
        super(Metric, self).__ini

[2020-08-03 15:52] amahendrakar commented on #41996
@Bmoser-boop,
Could you please provide the exact sequence of commands / steps that you executed before running into the problem? Also, specify the TensorFlow version you are trying to build. Thanks!

[2020-08-03 15:53] nectario commented on #38670
Even when I am observing the source code for other custom metrics it's impossible to understand what is going on.

[2020-08-03 15:53] Mrutyunjay01 opened #42008 "assertion error on tf.random.normal() and tf.keras.layers.conv2D()"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: NO
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 64 bit
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: NO
-   **TensorFlow installed from (source or binary)**: Source
-   **TensorF

[2020-08-03 15:54] bhack commented on #41989
@Smankusors As you have already some example code can you try to add a small PR to extend or add a test in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/image_ops_test.py to let to cover you error?
Thanks

[2020-08-03 15:56] AITutorials commented on #42007
OK

[2020-08-03 15:57] AITutorials commented on #42007
OK

发自我的iPhone

------------------ Original ------------------
From: bhack <notifications@github.com&gt;
Date: Mon,Aug 3,2020 11:45 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com&gt;
Cc: 阿基米德 <os@orangestar.vip&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [tensorflow/tensorflow] There are some repeated calls in the data_augmentation.ipynb！ (#42007)

Can you prepare a small

[2020-08-03 16:03] bhack commented on #42008
Can you test with tensorflow `2.2.0` or `2.3.0`?

[2020-08-03 16:04] Smankusors commented on #41989
huh... sure.... but currently I don't know what RGB values should be filled on that dash lines 😕

[2020-08-03 16:06] FerenczD opened #42009 "Tensorflow lite model always gives same output no matter the input"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Using Google Collab platform for model development
- TensorFlow installed from (source or binary): Installed from source
- Tensorflow version (commit SHA if source): v2.1.1
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): ESP32

My goal is to run a Keras model I have made in my ESP3

[2020-08-03 16:14] bhack commented on #41989
/cc @WindQAQ @tanzhenyu Are we using any reference impl to compare these image ops outputs (e.g. PIL etc..)?

[2020-08-03 16:26] jvishnuvardhan commented on #36612
@dcleres Can you please create a new issue with a simple standalone code to reproduce the issue? Thanks!

[2020-08-03 16:26] amahendrakar commented on #42008
@Mrutyunjay01,
The code snippet you have provided is different from the one in the screenshot. Could you please provide the complete code you are running.

Also, I was able to run the code without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/80686f6f457d043f9b4b870c762a60d9/42008.ipynb#scrollTo=cjXyBOvJHupy).

As suggested by @bhack, please upgr

[2020-08-03 16:33] johncaling40 commented on #42003
Sure

[2020-08-03 16:33] #42003 closed

[2020-08-03 16:42] bhack commented on #41989
@Smankusors Can I ask you how you have formed the transformation matrix in the example?

[2020-08-03 16:55] srjoglekar246 commented on #41117
The procedure for converting SSDs to TFLite is a little different: [link](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md), in the sense that it requries an extra step to produce a 'TFLite-friendly' TF graph first.

If you follow the above link, you will need the following arguments to `export_tflite_ssd_graph`:
[code]

If you we

[2020-08-03 17:03] Smankusors commented on #41989
it's random combination of
* rotation (2 degrees)
* zoom (x=(0.95, 1.05), y=(0.9, 1.1)); and
* translation (x=(0, 0), y=(-10, 10))

where each of them have 50% chance

[2020-08-03 17:05] ectg commented on #40261
@tomerk I just tried out your suggestion. The frame rate has gone up from 48 fps to 253 fps. Thanks!

As to building a tf.dataset at the start -- the network is intended for real time object detection on a video stream, so the dataset is not available beforehand.

[2020-08-03 17:06] jvishnuvardhan commented on #41288
@MislavSag I guess something went wrong in the installation. I tried your code on my Windows10 desktop and also colab, everything works as expected. Can you uninstall TF and related libraries, reinstall freshly and then test it. Thanks!

[2020-08-03 17:17] nikitamaia commented on #41189
Hi @MrManiaLive, sorry for the delay. I'm not an expert with Pycharm, you might want to submit a request on [official Pycharm forum](https://youtrack.jetbrains.com/issues/PY?_ga=2.9618933.1109719345.1596474586-855270654.1596474586)
If you are still unable to figure it out at that point, please update this thread and we can investigate if this is an issue on the TF side.

[2020-08-03 17:17] ymodak commented on #41874
As per new tf-nightly version 2.4.0-dev20200803 the error is not raised while loading weights.
See [gist](https://colab.research.google.com/gist/ymodak/a6e26acf6a1bfb3d2d042cac55a8b655/callback-exception.ipynb).

[2020-08-03 17:23] #41372 closed

[2020-08-03 17:23] #40392 closed

[2020-08-03 17:27] qlzh727 commented on #41810
Thanks for reporting the issue, I think there are a few issues within this report.

1. In the example provided, the output of the lstm layer is a dense tensor with shape (batch, unit). There isn't a ragged dim involved in the model after the lstm layer, which is why the loss function failed afterwards (failed to compare the dense and ragged tensor). This is expected and working as intended.

2. If

[2020-08-03 17:33] nikitamaia commented on #41891
Thanks for the clarification. I'm seeing different behavior based on where I run the code and whether I use MirroredStrategy or the Default strategy.
I am able to run `.repeat(256).batch(256)` on GCP with 2 GPUs with MirroredStrategy, but `.repeat(8*1024).batch(1024)` crashes. I see the reverse behavior with 1 GPU in Colab.

I also tried running on GPU with 1 GPU and both cases worked.
However, wi

[2020-08-03 17:38] gunan commented on #40830
@dubey could you take a look at this issue? Should we be exporting hwloc symbols?

[2020-08-03 17:57] Jordy-VL commented on #41810
No problem. Would it be possible to share a link with regards to the Keras roadmap or some time estimate on addressing this issue? Then I know when to come back to the topic.

[2020-08-03 18:20] mjang2000 opened #42010 "tf.keras.preprocessing.image_dataset_from_directory doesn't work on TPU"
**System information**
- TensorFlow version (use command below): 2.3.0
- Python version: 3.7.6
- TPU model and memory: TPU v3-8 (Kaggle default)

**Describe the current behavior**
`tf.keras.preprocessing.image_dataset_from_directory` doesn't work on TPU.

Error message:
`InvalidArgumentError: NodeDef expected inputs 'string' do not match 0 inputs specified; Op<name=TensorSliceDataset; signature=co

[2020-08-03 18:33] Zapnuk commented on #41863
Its the afaik with any network that uses a Bidirectional Layer.

I run a 100% copy of this code locally: https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/text/text_classification_rnn.ipynb

[2020-08-03 18:40] jvishnuvardhan commented on #41990
@abhipn Looks like the GPU was detected but it loads some libraries (like `libcudart.so.10.1`) are loaded from `CUDA10.1` and some other libraries (for example `libcublas.so.10`, `libcusolver.so.10` etc) are loaded from `CUDA10.0`. Please check your error trace.

Can you please uninstall CUDA drivers (10.1 and 10.0), unistall TF, restart, install CUDA10.1 and finally install TF. Please let me know

[2020-08-03 18:44] yongtang commented on #41954
@tkrsh The 0.15.0 release of tensorflow-io is available now: https://pypi.org/project/tensorflow-io/0.15.0/

I think the issue could be closed. Please feel free to re-open if the issue persists.

[2020-08-03 18:44] #41954 closed

[2020-08-03 18:50] abhipn commented on #41990
@jvishnuvardhan Sure. I can check it again. There's no official documentation in TensorFlow docs about Ubuntu-20.04 - cuda toolkit installation. Can you provide a source/docs where I could follow the instruction for installing it and setting up everything for tensorflow to work?

[2020-08-03 19:12] nikitamaia commented on #41746
Have you tried creating the `TensorArrays` within your function as the error message suggests?
`You may be attempting to capture a TensorArray inside a tf.function or tf.data map function. Instead, construct a new TensorArray inside the function.`

That seems to work, but I cannot test your code fully since `write_to_pool` hasn't been provided.

[2020-08-03 19:18] nikitamaia commented on #41523
Please note that Estimator API support for MirroredStrategy is limited at this point, [as noted here.
](https://www.tensorflow.org/guide/distributed_training#types_of_strategies)

A couple more things to try:
- what happens when you pass in just one estimator to `CombinedEstimator` ?
- And what happens when you train a single estimator (removing `CombinedEstimator` altogether)

[2020-08-03 19:20] jdduke commented on #41825
Thanks for the repro. And you used the prebuilt libs from the [TFLite 2.2 release](https://bintray.com/google/tensorflow/tensorflow-lite#files/org%2Ftensorflow%2Ftensorflow-lite%2F2.2.0)?

[2020-08-03 19:25] jvishnuvardhan commented on #41990
@abhipn [Here](https://tensorflow.google.cn/install/gpu) are the installation instruction on TF website. Thanks!

[2020-08-03 19:26] abhipn commented on #41990
@jvishnuvardhan Should I follow the 18.04 instructions?

[2020-08-03 19:42] summa-code commented on #41987
@Saduf2019 , the link is provided with the bug. Please look above link.

[2020-08-03 19:47] summa-code commented on #41993
NOPE, it did not work,

[2020-08-03 19:56] qlzh727 commented on #41810
We don't have a public doc for that so far, but probably in next two releases (tf release every 3 months).

[2020-08-03 20:08] crccw commented on #41980
Thanks for the reproduction. It's very helpful in debugging in the issue.

We're now suspecting there's bug in the implementation of batching all reduces. We're still triaging the issue. As a workaround, could you try
 tf.distribute.experimental.MultiWorkerMirroredStrategy(communication=tf.distribute.experimental.CollectiveCommunication.NCCL)

MultiWorkerMirroredStrategy can work with a single hos

[2020-08-03 20:10] summa-code commented on #41781
@amahendrakar This information is happening on TF 2.4, the original issue is gone. Should i file new one ?

[2020-08-03 20:16] alextp commented on #41617
We recommend the tf.where implementation.

[2020-08-03 20:16] #41617 closed

[2020-08-03 20:16] YurongYou commented on #41980
Thanks! Let me have a try!

[2020-08-03 20:21] crccw commented on #39569
Could you try:

[code]

instead of MirroredStrategy to see if the issue still occurs. We have a suspect in #41980, and it would be to verify whether this is the same issue. You can use MultiWorkerMirroredStrategy with one host without additional setup.

[2020-08-03 20:31] VictorAtPL commented on #34067
I had similar problem, but with training only on one GPU without any strategy. The training freezed after `tf.data` prefetched first batches.

Setting `TF_DISABLE_RZ_CHECK=1` helped, I also did `gpu-burn`, but no errors have shown.

[2020-08-03 20:41] jvishnuvardhan commented on #41838
@dipendra009 Can you please share a standalone code to reproduce the issue? I am sharing a gist that you can use and update later part of the code. [Here](https://colab.research.google.com/gist/jvishnuvardhan/f7f66a336334c3f7cd5b343278c3bc8a/untitled.ipynb) is the gist with your model. Thanks!

[2020-08-03 20:46] YurongYou commented on #41980
I tried both but it still seems not quite working with the model I am using...

[2020-08-03 20:56] Bmoser-boop commented on #41996
Sure, here are is the full list of commands:

[code]

Also, I don't think I can give an exact version of Tensorflow because this is a custom-made version of Tensorflow 18 that is designed to allow GPU access for users of Mac OSX 10.13
https://github.com/zylo117/tensorflow-gpu-macosx

More details about the steps I have executed can be found here: https://medium.com/xplore-ai/nvidia-egpu-macos-tens

[2020-08-03 20:57] YurongYou commented on #41980
`tf.distribute.experimental.MultiWorkerMirroredStrategy` seem still not working on the snippet.
I got:
[code]

[2020-08-03 20:59] Bmoser-boop commented on #41996
Additionally, I tried downgrading to Xcode 9.4 and was able to get further, now to 4583 processes completed

[2020-08-03 21:00] YurongYou commented on #41980
`tf.distribute.MirroredStrategy(cross_device_ops=tf.distribute.NcclAllReduce(num_packs=0))` seems not working either
[code]

[2020-08-03 21:11] Corallus-Caninus commented on #1241
I also need sparse@sparse matrix multiplication. Even with a_is_sparse and b_is_sparse set to true TF still load n^2 dense matrices into memory.
https://github.com/tensorflow/tensorflow/issues/3246#issuecomment-231807152

it seems possible theoretically but I am unsure, are there any updates pertaining to this? Thanks.

[2020-08-03 22:22] #40692 closed

[2020-08-03 22:28] nikitamaia commented on #41780
Hi @OlegPonomaryov, I have tried the code you shared in colab on the GPU runtime, and I'm not seeing an issue (to reproduce this, you can use the gist provided by @Saduf2019 but change the runtime type to GPU). I've also run this in GCP with a K80 and still do not see the error.
Strangely the error message in your notebook seems to be referencing TF1 `report_tensor_allocations_upon_oom`. But that

[2020-08-03 23:01] srjoglekar246 commented on #41960
CCing @multiverse-tf who recently worked on this.

[2020-08-03 23:12] jvishnuvardhan commented on #41971
@chchannn `model.inputs` and `model.layer.output` are symbolic Tensors that cannot be used in losses, metrics, etc. Please check [here](https://github.com/tensorflow/tensorflow/issues/39702#issuecomment-631750377) more details about the root-cause. Thanks!

For further support questions, please post them in stackoverflow as there is a big community to support this kind of support questions. Either

[2020-08-03 23:22] OverLordGoldDragon opened #42014 "ValueError: Input tensors to a Functional must come from `tf.keras.Input` (TF 2.3)"
Example below works in 2.2; `K.function` [now builds](https://github.com/tensorflow/tensorflow/blob/r2.3/tensorflow/python/keras/backend.py#L3911) a `Model` in Eager execution, so we're passing `Model(inputs=[learning_phase,...])`.

I do have a workaround in mind, but it's hackish, and lot more complex than `K.function`; is there an analog to below in 2.3?

<hr>

[code]
[code]

[2020-08-03 23:22] #41395 closed

[2020-08-03 23:23] Dasinator21 opened #42015 "How to start recording video when something has been detected!"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-08-03 23:49] rajeevdm commented on #41931
Yes, same error if I either delete "-std=c11" or "-Werror" (to not treat warnings as errors). From the TFlite documentation, it seems like C++11 standard is quite a fundamental requirement (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro - Requirements section). So we cannot remove "std=c++11" I think.

[2020-08-03 23:51] gowthamkpr commented on #41906
@edwardyehuang Non-determinism for a priori deterministic operations come from concurrent (multi-threaded) implementations.
Despite constant progress on that front, TensorFlow does not currently guarantee determinism for all of its operations. After a quick search on the internet, it seems that the situation is similar with the other major toolkits.
During training, unless you are debugging an iss

[2020-08-03 23:53] jvishnuvardhan commented on #39588
@romanovzky Can you please open a new issue with the gist (you already have one above). Thanks!

[2020-08-03 23:54] chchannn commented on #41971
I see. I did post on stackoverflow first but the [question](https://stackoverflow.com/questions/63201831/negative-sampling-for-classification-task-with-tensorflow-nce) is never answered.

[2020-08-03 23:57] beew commented on #41926
@Saduf2019

Not work, updated setuptools to the latest version, failed again, similar but different error

[code]

Should add that I have the same setup with bazel 2.0 and was able to build tf 2.2.0 without a hitch.

[2020-08-04 00:14] TKlie commented on #25980
Same issue here when trying to pass a one hot encoded sparse matrix into a Sequential model (LSTM layer). Any ideas/advice on how to proceed (without having to manually en- and decode labels at every step of the way)?

[2020-08-04 00:22] robisen1 commented on #37525
I am managing multiple very complex and specialized environments, for example, nightly builds of frameworks, and your right things break. I tend to use conda which seems to work better for me for this than pip but pip often allows you to access libraries etc conda cannot. In this case I used pip in conda and conda happily now manages that environment. I am not sure what would be a better approach.

[2020-08-04 00:35] multiverse-tf commented on #41960
Hi Junhyeok,

How do you cross-compile the TFLite main library and TFLite tests at the moment? Could you elaborate on the inconvenience?

[2020-08-04 00:56] multiverse-tf commented on #41769
Jakob, many thanks for pasting raw perf. specs of these two phones! As you said, the GPU on S6 has a higher float vec4 throughput (>6X over the P20 Lite). I also noted that the host<->device memory BW on S6 is ~2X higher as well. Therefore, I think it's expected that the TFLite GPU performs much better on S6 than that on P20 Lite. It might be safe to conclude that it's not a good option to use GPU

[2020-08-04 01:00] OverLordGoldDragon commented on #42014
[Resolved](https://stackoverflow.com/q/63238203/10133797).

[2020-08-04 01:00] #42014 closed

[2020-08-04 02:07] renjie-liu commented on #41807
Hi Karim, can you help take a look?

Thanks!

[2020-08-04 02:10] karimnosseir commented on #35320
@harshgrovr The link now should be [1] as hexagon delegate moved outside experimental directory

[1] https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/hexagon/java/BUILD#L29

[2020-08-04 02:12] yidiq7 commented on #41510
I tried something similar with nested GradientTape, had the same issue with TF v2.3.

[2020-08-04 02:41] BruceDai003 commented on #31349
I met the same problem. As @MKFMIKU suggested, to change `#include "third_party/gpus/cuda/include/cuda_fp16.h"` to `#include "cuda_fp16.h"` . However, this would ONLY solve the first issue, in this same file `/site-packages/tensorflow_core/include/tensorflow/core/util/gpu_kernel_helper.h`, it has included `#include "tensorflow/core/util/gpu_device_functions.h"`, and in this file, it would still in

[2020-08-04 02:53] summa-code opened #42016 "Timeseries example is not working with latest 2.4 code"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://github.com/tensorflow/d

[2020-08-04 02:56] boluoyu opened #42017 "ValueError: Graph disconnected: cannot obtain value for tensor Tensor…The following previous layers were accessed without issue:"
I want to obtain the output of intermediate sub-model layers with tf2.keras.Here is a model composed of two sub-modules:
[code]

output:
[code]
and then,I want to get output intermediate layer of model1 and model2:

[code]
Running in tf2.3 ,the error I am getting is:
[code]
But the following code works:

[code]
But not what I want.This is strange, model1 is part of model2, so why do we need to inp

[2020-08-04 03:09] saikumarchalla commented on #42002
I have tried in colab with TF version 2.3 and was able to reproduce the issue.Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/4ad8fa39d71a6e1e81857bcde4ac825b/-42002.ipynb).
Seems like this issue is resolved in nightly version. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/24c0a2049a897bda7e76f299de383147/-42002-nightly.ipynb).

[2020-08-04 03:16] ravikyram commented on #41901
@suresh-s

Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-08-04 03:20] drevicko commented on #26691
One possible workaround, so long as you don't need your logger to propogate, is to set `propogate` on your logger to `False`:

`my_logger.propogate = False`

[2020-08-04 03:21] ravikyram commented on #41723
@UdayKiranPadhy

Can you please refer the [link](https://www.tensorflow.org/community/contribute/code) to submit PR.Thanks!

[2020-08-04 03:36] tomerk commented on #41973
Hi @fabianvdW, in TF 2.3 and earlier Keras puts all model construction in the same global background graph workspace, which leads to a memory leak unless you explicitly call keras.backend.clear_session.

A few days ago though we enabled a refactoring of the Functional API implementation internals in the nightlies which gets rid of this background global graph, so you should no longer see this memo

[2020-08-04 03:36] #41973 closed

[2020-08-04 03:53] yusliang opened #42018 "Sparse input name missing in exported model"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: No
-   **TensorFlow installed from (source or binary)**: binary
-   **TensorFlow ver

[2020-08-04 03:55] salah-adi commented on #35194
Hey there, I'm having the same problem when trying to convert the model with quantization. The model is able to convert without quantization just fine. I am using tf-nightly, but still get the following error: ConverterError: <unknown>:0: error: loc("lstm/lstm_cell/bias"): is not immutable, try running tf-saved-model-optimize-global-tensors to prove tensors are immutable.

Has anyone encountered t

[2020-08-04 04:12] UdayKiranPadhy commented on #41723
Hey i dont know how to code , i only suggested a feature for tensorflow library , if i knew to code i would implement my self why will i tell to tenserflow , The link which u send me is telling me to contribute via code .

[2020-08-04 04:57] RayLucchesi commented on #41976
Here is some other information from the debug run of the jupyter notebook:
2020-08-04 04:45:30.731142: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
2020-08-04 04:45:30.731178: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcublas.so.10
2020-08-04 04:45:30.731193: I tenso

[2020-08-04 06:05] ravikyram commented on #41924
@lacvapps

Can you please close this issue since it is being tracked in #40614.Thanks!

[2020-08-04 06:11] ravikyram commented on #41740
@psy2013GitHub

Please feel free to close the issue if resolved.Thanks!

[2020-08-04 06:46] orangesomethingorange commented on #41825
Yes

[2020-08-04 06:51] eladc4 commented on #42002
i'm not sure how it's solved. if i understand correctly the output tensor name is "tf.nn.conv2d_transpose_4/conv2d_transpose:0", instead of "Conv2DBackpropInput:0".
Shouldn't it be "ct:0"?
in the format: "<name>:0"?
same as: c0 = tf.nn.conv2d(inputs, w0, 2, "SAME", name='conv0') ==> c0.name: "conv0:0"

[2020-08-04 06:58] orangesomethingorange commented on #41825
Also, I created the single-operator model again, but I set the input patch-size to 4x4 (instead of 512x512) and it works fine (input sizes of 512x512 / 1200x1600 - I get the expected results).

You've mentioned the `memcpy` operation in the tensor buffer - does TFLite limit memory allocation by any chance?

[2020-08-04 07:13] Zedd1558 commented on #41021
I was facing this issue when upgraded to tf 2.3. I tried reinstalling h5py etc. none of them worked. Then, I reverted to tf 2.2 and the issue was resolved. no idea how.

[2020-08-04 07:15] BruceDai003 commented on #15002
I don't understand. Why remove the -D GOOGLE_CUDA=1 flag? imho, removes this flag, the cuda kernel can't be run. I tried to remove this flag, and built a .so file, but my custom op is not registered on the GPU device.

[2020-08-04 07:21] Saduf2019 commented on #41950
@beew
Could you please try "tf.keras" instead of "keras" and let us know.

[2020-08-04 07:40] Saduf2019 commented on #42010
@mjang2000
I ran the code shared it is working as expected on tf 2.3, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/617a402fc005658237a2ce10695d167d/untitled312.ipynb) for the same.
I see there is a spelling mistake in the code shared, `"image_dataseet_from_directory" should be "set"`, please make the correction and let us know.

[2020-08-04 08:13] ashispapu opened #42021 "Issue Running T5 in colab TPU - Tensorflow"
Hi Team,

I was trying to do a pre training of T5 from scratch on colab. I could see if i install t5 using (pip install t5[gcp]), and tried to connect to execute tf.tpu.experimental.initialize_tpu_system(tpu), getting below error.

InvalidArgumentError: NodeDef expected inputs 'string' do not match 0 inputs specified; Op<name=_Send; signature=tensor:T -> ; attr=T:type; attr=tensor_name:string; att

[2020-08-04 08:22] #29040 closed

[2020-08-04 08:30] msg555 opened #42022 "Memory leak in keras.backend preventing graphs from being GC'ed"
In some situations (i.e. [when outside of an eager execution context](https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/python/keras/backend.py#L394)) a Tensor value will be inserted into [_GRAPH_LEARNING_PHASES](https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/python/keras/backend.py#L6389). This is a problem because the Tensor value itself references the graph which

[2020-08-04 08:47] jammm commented on #42022
This could be the cause for the leak in this issue as well https://github.com/tensorflow/tensorflow/issues/41718

I enabled eager execution via `tf.config.experimental_run_functions_eagerly(True)` and the memory usage seems quite stable around 1GB, compared to ~7GB+ that I was getting without eager mode.

[2020-08-04 09:14] Stealers commented on #41951
@amahendrakar I made a mistake. The paper is testing y channel not RGB.

[2020-08-04 09:19] gowthamkpr commented on #41468
@sun-peach Its very hard for us to let you know the root cause of this issue without reproducing it. This is similar to this issue [here](https://stackoverflow.com/questions/53080032/tensorflow-1-11-estimator-dataset-training-speed-low-and-irregular). Please go through the comment ad let me know if it helps. Thanks!

[2020-08-04 09:21] jakobknapp commented on #41769
Hi Chao, thanks for checking! Yes, that seems reasonable. Guess I have to stick with the CPU for now.

One last question before I close this issue: Which specs of the mobile GPU do I have to pay special attention to when considering to use a GPU delegate? Does TFLite extensively utilize vec4 computations in particular?

[2020-08-04 09:22] meric-sakarya commented on #41196
Any help?

[2020-08-04 09:32] KaimingZhu commented on #36072
This CUDA and CUDNN version with tensorflow 2.2 works for me, thanks for your kindness!

[2020-08-04 09:32] ZhouKai90 opened #42024 "RESIZE_NEAREST_NEIGHBOR Operation version not supported"
def save_tflite():
  converter = tf.lite.TFLiteConverter.from_saved_model(FLAGS.weights)
  converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]
  converter.optimizations = [tf.lite.Optimize.DEFAULT]
  converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS]
  converter.allow_custom_ops = True
  converter.representative_dataset = re

[2020-08-04 09:36] gasar8 commented on #28777
Hi @AakashKumarNain, I was struggling with the same problem and it was strange to me to define "same" layer multiple times, too. However after realising I should do this, I implemented a workaround (which is not really nice, but it works). What I did was:

[code]

[2020-08-04 09:37] gowthamkpr commented on #41888
@suresh-s First of all please use CUDA 10.0 with cuDNN 7.4 as shown in the [doc](https://www.tensorflow.org/install/source#gpu).
Also a few recommendations:
1. try to run the same script on a bigger machine with more memory and see if it fixes it.
2. try reducing the batch size and see if it fixes it.

I think its a memory issue from your end, try running your code on Colab gpu and let me know if

[2020-08-04 09:40] sudhanshuraheja commented on #41309
I had the same error and it was because I had upgraded the tensorflow library from 2.2.0 to 2.3.0 but the jupyter server had not been restarted and was picking up the version 2.2.0. Restarting the server fixed it for me.

[2020-08-04 09:47] hanzigs opened #42025 "Confusion Matrix produces different results in Keras model tf==2.3.0"
Using tf==2.3.0, keras 2.4.3
Built keras with from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
With Keras Sequential Model Prediction
To get Class Labels
we can do
[code]
or
[code]
With the first class labels if i create confusion matrix, i get
[code]
But with the second class labels with the confusion matrix, i get 0 for True Positive and False Positive
[code]
Final layer has
[c

[2020-08-04 09:48] AakashKumarNain commented on #41746
Sorry, my bad. Let me try to make it more clear this as much as I can.

There are three arrays in total. Two of these arrays, `pool1` and `pool2` will be populated once until each of them contains `10` samples. After that, the values in these arrays won't change. The third array, `new_items` will contain some elements from the current batch `items` and  some other elements from the arrays `pool1`

[2020-08-04 09:49] gowthamkpr commented on #41855
@alexn11 Can you please try with CUDA 10.1 and cuDNN 7.6 and let me know if you are still facing the same issue. Thanks!

[2020-08-04 09:52] Saduf2019 commented on #42021
@ashispapu

This error has already been answered in another issue. Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/40622#issuecomment-654488935) from a member of the TensorFlow team. Thanks!

In case you issue is not resolved can you please update update the issue template with the tf version on which this error was faced and simple stand alone code to replicat

[2020-08-04 10:00] will-cern opened #42026 "_create_keras_history_helper error ('NoneType' object has no attribute 'op') in 2.3.0 not in 2.2.0"
When using model subclassing, we have been exploiting reinitialization of the subclass as a way to define the inputs for our model at construction, allowing us to call e.g. the `summary` method of our model and have specific input shape be listed as opposed to the 'multiple' input shape present when not constructing with an input. However, moving to tf 2.3.0 from 2.2.0 this now produces an unexpec

[2020-08-04 10:02] bersbersbers opened #42027 "Stale(?) references to activation histograms"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard

## Description of issue (what needs changing):

### Clear description

URL above says

However,
- I do not see any activation histograms in my TensorBoard despite using `validation_data` - only biases and kernels.
- I do not see any activation-specific code in https://github.com/tensorflow/tensorf

[2020-08-04 10:08] sjadlakha commented on #40869
I think, you have typed "1.4" instead of "1.14" by mistake.

[2020-08-04 10:19] Saduf2019 commented on #42016
Closing this as duplicate of #41987

[2020-08-04 10:19] #42016 closed

[2020-08-04 10:20] pn12 commented on #41309
Thanks for sharing.

[2020-08-04 10:25] bersbersbers commented on #42027
For more information, the code that produces activation histograms seems to have been removed here:
https://github.com/tensorflow/tensorflow/commit/5b7063a3cfdc7710721924c5b4350c8265d5ff2d#diff-7db86ff688aaa0e9c0619dace9b487e7

[2020-08-04 10:35] #41951 closed

[2020-08-04 10:39] nihir27 commented on #31312
@yhliang2018 This conversion happens in TF 2.2 when NumPy arrays are passed to `model.fit()`. https://github.com/tensorflow/tensorflow/blob/v2.2.0/tensorflow/python/keras/engine/data_adapter.py#L265

[2020-08-04 10:54] amahendrakar commented on #42017
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/bd181347f5608abf6644aa2bb5a482f3/42017.ipynb). Thanks!

[2020-08-04 10:55] idofr commented on #42004
No very easily. The model is rather complicated. Dismantling it to the level where I can provide a minimal example would take hours.

[2020-08-04 10:59] johnny-mueller opened #42030 "Tensorflow 2.1 + Docker + CUDA 10.2 Issue with the recognition of the graphics card"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Developer laptop -> Win10, Doc

[2020-08-04 11:02] amahendrakar commented on #42022
@msg555,
Could you please provide a minimal working example to reproduce the issue reported here. Thanks!

[2020-08-04 11:02] oholimoli commented on #27496
I'm using tensorflow 2.3 and still get this error. I'm using py_function in my layers and would like to set `dynamic = True` as it is documented here: [https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer](url)

Example to reproduce the error:

[code]

outputs:
[code]

[2020-08-04 11:10] Saduf2019 commented on #41983
@Roshan1986
please provide complete stand alone indented code to replicate the issue or a colab link with the issue reported for us to analyse.
Can you please confirm if you have changed any parameters  or data when you say retrain

[2020-08-04 11:23] amahendrakar commented on #42026
Was able to reproduce the issue.
Code runs fine on [TF v2.2](https://colab.research.google.com/gist/amahendrakar/64a4bde1feb838966566f5a9ecd24e51/42026-2-2.ipynb), facing an error stating `AttributeError: 'NoneType' object has no attribute 'op'` on running with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/14a9c6e1f715abe2cf223a02da4af973/42026-2-3.ipynb#scrollTo=2pAxuhfXKSvw). Ple

[2020-08-04 11:28] Saduf2019 commented on #42030
@johnny-mueller
Can you try setting the environment variable CUDA_VISIBLE_DEVICES to either blank or emptystring "", or possibly -1.
Please refer to [this resolved issue](https://github.com/tensorflow/tensorflow/issues/4267#issuecomment-248656096) and let us know.
resolved issues related to the error reported
#4078 [link](https://github.com/tensorflow/tensorflow/issues/255#issuecomment-384846967)

[2020-08-04 11:30] Saduf2019 commented on #42025
@hanzigs
please provide complete stand alone code [indented] or colab gist with the error, also the tf version on which the issue was faced.
Please try tf.keras and let us know if it helps.

[2020-08-04 11:33] bhack commented on #42004
Are these custom objects?

[2020-08-04 11:35] will-cern commented on #42026
Thanks for confirming reproduction. As I say above, we are happy to be told if there is a better way to achieve the behaviour we are after, or at least be re-assured that 'reinitialization' is the correct/supported way to go?

[2020-08-04 11:36] hanzigs commented on #42025
Given tf version in Question, don't understand where you are mentioning to use tf.keras,

to predict classes, below works
[code]
My Question was what the warning message suggesting is not working
[code]
This is binary classification problem

[2020-08-04 11:38] idofr commented on #42004
Well.. yes. They are either implementations of keras.layers.Layer or, in the case of multiple layers with a shared semantic meaning, an implementation of keras's Model object, grouping layers together.
For example, imagine an encoder decoder framework for something like VAE. The encoder and decoder are `Model`s and the sampling layer is the custom layer in the middle. The entire thing is then wrap

[2020-08-04 11:42] johnny-mueller commented on #42030
@Saduf2019

Output of "ls -l /usr/local/cuda/lib/libcud*":
[code]

Output of "export LD_LIBRARY_PATH=/usr/local/cuda/lib64:/usr/local/cuda/lib":
[code]

[code]

[2020-08-04 11:44] umgefahren commented on #41931
There is currently no fix other then to reverse to the previous Tensorflow version 2.2.0. That worked for me, it seems like an error that the dev team has to fix and results from a minor change. It's probably not your fault.

[2020-08-04 11:46] gowthamkpr commented on #41783
@aleksandarPlu Glad you were able to run the code with proposed solution. As mentioned in the comment, it might help you speed up training but I didn't promise it would.

As mentioned [here](https://www.tensorflow.org/guide/mixed_precision#overview), NVIDIA GPUs can run operations in float16 faster than in float32. Therefore, these lower-precision dtypes should be used whenever possible on those d

[2020-08-04 11:48] gowthamkpr commented on #41779
@ved27 Please provide the reproducible code for us to reproduce the issue. Thanks!

[2020-08-04 11:49] bhack commented on #42004
Have you correctly loaded custom objects? e.g.:

[code]

[2020-08-04 12:07] idofr commented on #42004
No
Where is this documented?
What does it do?
For what types of objects do i need this?

[2020-08-04 12:08] JacobSMoller commented on #39307
@jhseu alright thanks :)

So no road map for having a go gettable Tensorflow isntallation :)?

[2020-08-04 12:11] gowthamkpr commented on #41587
@rolevin This issue is related to pyspark not related to Tensorflow or keras in anyway. Please go through a similar discussion [here](https://stackoverflow.com/questions/51952535/pyspark-error-py4jjavaerror-an-error-occurred-while-calling-o655-count-when).

Also, please post this issue in stack overflow or pyspark related communities where you should get some help. Thanks!

[2020-08-04 12:18] QiXuanWang commented on #37339
I'm seeing similar issue in 2.2.0 version. The difference is that if I don't touch anything, loaded model works.  But if I change input data by removing certain rows from df, then it reports this error.
Shouldn't saved model independent of input data?

[2020-08-04 12:19] gowthamkpr commented on #41764
@lalalapotter Did you try moving to lossless ethernet configuration (global pause / PFC) and were you still able to reprodce this issue? Thanks!

[2020-08-04 12:22] #41402 closed

[2020-08-04 12:30] abhipn commented on #41990
@jvishnuvardhan I've followed the instructions on TF website for ubuntu-18.04 but after doing everything when I try to use `nvcc` I get an error saying command not found. Can you let me know what am I missing here?

[code]

[2020-08-04 12:36] rolevin commented on #41587
I suspect this may have to do with code in Keras that assumes keras objects are created in the main thread, which is not the case when running in spark udfs. If this is the case (or something along these lines) the solution must come from keras/tensorflow and cannot come from spark.

[2020-08-04 12:36] mdanatg commented on #41915
It looks like the ops is missing an XLA kernel for the gradient. @cheshire could you triage?

[2020-08-04 12:37] zzoon91 commented on #41960
Thanks for reply!

I was doing cross-compilation by modifying the scripts given in `tensorflow/lite/tool/make`, which does not compile test codes in `tensorflow/lite/kernels`
If I can plug riscv toolchains in Bazel, it would definitely help. :)

I'm following the commit you suggested but I faced another error below.
How can I solve it?
[code]

[2020-08-04 12:41] duncanriach opened #42033 "Add deterministic tf.image.crop_and_resize backprop"
Note: I am willing and able to implement this feature but I don't know when I will get to it. My intention in creating this issue is to clearly reproduce and document the current nondeterministic functionality for the community and to allow for someone else to address it, if they have available bandwidth.

**System information**
- TensorFlow version: nondeterminism reproduced using version 2.3.0
-

[2020-08-04 13:00] bhack commented on #42004
It Is documented many places but I suggest  https://keras.io/guides/serialization_and_saving/

[2020-08-04 13:20] lalalapotter commented on #41764
@gowthamkpr Hi, I can still reproduce the issue, it seems the problem is not related to the ethernet configuration. Do you have any other suggestions? Or can you try the grpc+gdr protocol?

[2020-08-04 13:22] #41582 closed

[2020-08-04 13:26] abhipn commented on #41990
@jvishnuvardhan I've installed a fresh copy of ubuntu-20.04 and followed the instruction on TF website. I installed them successfully.

[code]
I have installed cuda as per the instruction in TF website. I have only installed Cuda 10.1.

[2020-08-04 13:27] ravikyram commented on #42018
I have tried in colab with TF version 2.3,nightly version and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/5b84fee554f77abd68df912ff8d2e9bb/untitled216.ipynb).Thanks!

[2020-08-04 13:59] idofr commented on #42004
The explanations and examples in this page only use the `with` scope if loading from config. Not when using the native `load` function.
Also, it refers the reader to [this](https://keras.io/guides/serialization_and_saving/save_and_serialize.ipynb#custom-objects) page which doesn't exist

[2020-08-04 14:00] amahendrakar commented on #34817
@mengjiexu,
Is this still an issue? Could you please check @daverim's comment and let us know if the issue is resolved. Thanks!

[2020-08-04 14:09] mostafa-mahmoud commented on #35982
@pavithrasv is there any updates regarding this issue?

[2020-08-04 14:10] dinhngoc267 commented on #29506
I got same problem today, what should i do with keras

[2020-08-04 14:10] amahendrakar commented on #34925
@chpohl,
Looks like the issue has been fixed. I was able to run the code on TF v2.3 without any error, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/9d0077ac5118cb0ece628dd16ceaa909/34925.ipynb). Thanks!

[2020-08-04 14:14] aselva-eb commented on #41012
We can close this ticket. I believe it is resolved. Thanks!

[2020-08-04 14:14] #41012 closed

[2020-08-04 14:21] #41924 closed

[2020-08-04 14:29] amahendrakar commented on #36715
@markemus,
Could you please check @wangpengmit's comment above and let us know if your query is resolved. Thanks!

[2020-08-04 14:33] #41974 closed

[2020-08-04 14:50] bhack commented on #42004
https://www.tensorflow.org/api_docs/python/tf/keras/utils/CustomObjectScope?hl=en#used-in-the-notebooks

[2020-08-04 14:52] nikitamaia commented on #41746
Ah, okay. Linking to a few related issues below since this has been previously reported. It is a known limitation, and unfortunately for now the only workaround is to either convert the TensorArray to a Tensor before passing it as an argument or returning it, or moving the code that creates and uses the TensorArray inside the @tf.function.

#38454 #34683 #34683

[2020-08-04 15:05] Saduf2019 commented on #34075
@soorajvinod123
Please check [this link](https://stackoverflow.com/questions/58753233/building-tensorflow-2-with-bazel-0-29-1-on-windows-10-fails) with same error. Can you please upgrade to later versions of tf and let us know if you still face any issues.
@ShaharATterrain
Is this still an issue?

[2020-08-04 15:09] ChanZou commented on #38845
Hi @AmKhG
In our case, the discrepancy for individual images remains 'arbitrary', that is, it is hard to conclude an upper or lower bound for the discrepancy. However, if looking at the aggregated stats (mAP) for the test set as a whole, the performance will not be having a siginificant drop. Intuitively this might have something to do with the ergodicity. Hope this help.

[2020-08-04 15:21] Saduf2019 commented on #41993
@summa-code
This seems to be a duplicate of #41987, please confirm.

[2020-08-04 15:29] amahendrakar commented on #41446
@alanpurple,
Can we close this issue since it is already being tracked there? Thanks!

[2020-08-04 15:36] gowthamkpr commented on #41572
@vietnamican Were you able to find the cause of the error?

[2020-08-04 15:38] yixingfu commented on #41874
No it still raises error when loading weight. And this error comes from the checkpoint failing to save, which should actually raise an error.

I think I know where the error come from. I will open a PR to fix it soon.

[2020-08-04 15:39] alextp commented on #27496
I think this means your dynamic=True layer must implement
compute_output_shape.

On Tue, Aug 4, 2020 at 4:02 AM oholimoli <notifications@github.com> wrote:

--
 - Alex

[2020-08-04 15:49] Mistobaan commented on #36391
I am seeing this too, thanks @xixiddd for the insights. That function is also used by the TensorRT examples to create optimized graphs.

[2020-08-04 15:56] amahendrakar commented on #41748
@RayLucchesi,
I understand your concern, we'll help you through the process and fix the issue.

Could you please provide the platform details of the machine you're trying to build TensorFlow on. Also, list out the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2020-08-04 16:10] Lothiraldan commented on #40515
Let me know if you need more information from my side.

[2020-08-04 16:10] albertz opened #42035 "hang in recursive call of google::protobuf::DescriptorPool::FindFileByName"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.3.0
-

[2020-08-04 16:12] nikitamaia commented on #41845
Hi @Ghost---Shadow, you'll notice that if you `print(type(y))` within your gradient tape, y is `<class 'float'>`.

`tape.gradient` only works with tensors or variables, [as specified in the docs.](https://www.tensorflow.org/api_docs/python/tf/GradientTape#gradient) Hence why everything works when `sign(x)` returns tf.constant instead of float.

The reason your code works with the @tf.function deco

[2020-08-04 16:23] gowthamkpr commented on #41533
@ProfHariSeldon Tensorflow 2.3.0 is now released. You can start using it

[2020-08-04 16:30] ashBabu commented on #37645
I am having the same issue ```AttributeError: module 'tensorflow.python.framework.op_def_registry' has no attribute 'register_op_list' ```. Attaching the file by running the above script ```tf_env_collect.sh```
[tf_env.txt](https://github.com/tensorflow/tensorflow/files/5022812/tf_env.txt). ``` Tensorflow version 1.14``` (as required by ```baselines``` [repository](https://github.com/openai/baseli

[2020-08-04 16:31] gowthamkpr commented on #41490
@hans-ekbrand Were you able to figure out the cause of this issue?

[2020-08-04 16:42] summa-code commented on #41993
Ah !!! Looks like it. My bad.. has been doing few things and did not track what i filed before. Yes same.

[2020-08-04 17:03] advaitjain commented on #41931
adding @petewarden for issues related to the espressif integration.

[2020-08-04 17:13] nikitamaia commented on #34041
Hi @MikeOfZen, sorry for the very late response here but if you're still facing an issue please update the thread with a reproducible colab notebook since I cannot access the bucket. Thanks!

[2020-08-04 17:15] amahendrakar commented on #41767
@shakey-cuimiao,
TensorFlow v1.14 is not actively supported. Please update TensorFlow to 2.x or v1.15 and check if you are facing the same issue.

Also, please take a look at [this similar](https://github.com/tensorflow/tensorflow/issues/20867#issuecomment-422246723) issue and let us know if it works. Thanks!

[2020-08-04 17:17] amahendrakar commented on #41781
@summa-code,
Yes please. Please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-08-04 17:23] #41374 closed

[2020-08-04 17:23] nikitamaia commented on #35697
Hi @nolanliou, are you still facing this problem? Can you provide any more info on when you face this issue or the code that occasionally causes the problem?

[2020-08-04 17:38] RayLucchesi commented on #41748
I Build from source using the information provided in https://www.tensorflow.org/install/source.
Committed the container into an image file (and saved it).

and then issued the following commands at a terminal:

sudo nvidia-smi -pm 1
docker run --gpus 1 --ipc="host" -it -w /tensorflow -v $PWD:/mnt -p 8888:8888 -e HOST_PERMS="$(id -u):$(id -g)" tensorflow/tensorflow:from-src2 bash
export LD_LIBRARY

[2020-08-04 17:38] RayLucchesi commented on #41748
lspci command results.

00:00.0 Host bridge: Intel Corporation Xeon E3-1200 v5/E3-1500 v5/6th Gen Core Processor Host Bridge/DRAM Registers (rev 07)
00:01.0 PCI bridge: Intel Corporation Xeon E3-1200 v5/E3-1500 v5/6th Gen Core Processor PCIe Controller (x16) (rev 07)
00:08.0 System peripheral: Intel Corporation Xeon E3-1200 v5/v6 / E3-1500 v5 / 6th/7th/8th Gen Core Processor Gaussian Mixture Model

[2020-08-04 17:40] RayLucchesi commented on #41748
here is output from lshw command:

ubuntu-ai
    description: Desktop Computer
    product: MS-7A62 (Default string)
    vendor: MSI
    version: 1.0
    serial: Default string
    width: 64 bits
    capabilities: smbios-3.0.0 dmi-3.0.0 smp vsyscall32
    configuration: boot=normal chassis=desktop family=Default string sku=Default string uuid=00000000-0000-0000-0000-4CCC6AF7447F
  *-core
       de

[2020-08-04 17:40] darrylmelander commented on #35634
Failing to restore the weights is not the behavior of least surprise, which by some definitions makes it a bug no matter what the documentation says.  At best, it is ill-advised.

I'm not fond of the idea of putting it into Model.fit either.  I think it does belong in EarlyStopping because that class already encapsulates the concepts of tracking something other than "normal" weights and metrics an

[2020-08-04 17:40] RayLucchesi commented on #41748
Let me know if there is any other system info you need.

[2020-08-04 17:45] RayLucchesi commented on #41748
Provided the requested info in the issue
Ray

[2020-08-04 17:47] ebrevdo commented on #40688
@amahendrakar this is still an issue on r2.3; i just tried to build tf branch r2.3 on my ubuntu system and ran into the same issue; the perl rewrite works, we should just fix the code to do a proper static cast.  @penpornk who's closest to this code?

[2020-08-04 17:51] nikitamaia commented on #35093
Hi @CNOCycle, I've run the code you provided in [this comment](https://github.com/tensorflow/tensorflow/issues/35093#issuecomment-566334859) with tf-nightly, and see a type error
`TypeError: Tensors are unhashable. (KerasTensor(type_spec=TensorSpec(shape=(), dtype=tf.float32, name=None), name='tf.math.reduce_sum_2/Sum:0', description="Symbolic value 0 from symbolic call 0 of layer 'tf.math.reduce_

[2020-08-04 17:54] murtuza07 commented on #40503
Hi,

I'm facing the same issue as well. What's a possible solution for this.

Thank you!

[2020-08-04 17:58] #41781 closed

[2020-08-04 17:58] amahendrakar commented on #41785
@prismspecs,
Is this still an issue? Always refer to the [official guide](https://www.tensorflow.org/install/docker#gpu_support) while installing TensorFlow.

Please feel free to close the issue if resolved. Thanks!

[2020-08-04 18:00] nikitamaia commented on #36042
Hi @14asaf, this was indeed a bug that I believe has now been fixed. If you are still facing problems, please update the thread with reproducible code as I'm not seeing any problems when running the code sample you've provided in TF 2.2 with 2 GPUs.

[2020-08-04 18:05] ymodak commented on #42024
I see RESIZE_NEAREST_NEIGHBOR Op is [supported](https://coral.ai/docs/edgetpu/models-intro/#supported-operations).
Also [google-coral/edgetpu](https://github.com/google-coral/edgetpu/issues) repo can be a good platform to raise this issue.
Please try posting it there.
I am tagging similar [thread ](https://github.com/google-coral/edgetpu/issues/187) for your reference. Thanks!

[2020-08-04 18:06] zhilothebest opened #42037 "Random addition of channel during training when input data is all 1 channel"
**System information**
Have I written custom code [posted below]:
Done on google colab using TF 2.x

Currently during training, somehow my training data gets a surprising second channel. I think this has something to do with datatype changing that happens during the fit function, but is not resolved when forcing dtype prior to entering training. This messes with the concatenation of my Dense-Net l

[2020-08-04 18:08] crccw commented on #41980
You're right. This affects all NCCL all-reduce implementations. Root cause is still not clear. So far I have the following observations:

- This is easy to reproduce when there're enough NCCL all-reduces, and a sufficiently large batch size.
- In most cases the last device that launches a all-reduce ends up with incorrect value. But it's not always the case, see https://github.com/tensorflow/tenso

[2020-08-04 18:08] frankchn commented on #41625
@gowthamkpr I am probably not the right person for this, since this is a Core TF logging issue rather than anything TPU specific.

[2020-08-04 18:11] WindQAQ commented on #41915
Thanks for the triage! I think it misses the XLA kernel for `EuclideanNorm` instead of its gradient as the gradient is defined with python ops [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/math_grad.py#L52-L64).

[2020-08-04 18:17] Saduf2019 commented on #41993
Moving to closed status as its a duplicate of  #41987

[2020-08-04 18:17] #41993 closed

[2020-08-04 18:25] karimnosseir commented on #41807
Passing explicit shape during conversion doesn't guarantee you can resize input during inference, and you shouldn't try resizing the input.

You will need to pass None in the input for the dimensions that are dynamic. If your TF model is constructed already with None in shape, then converting the saved model will result in TFLite model with same shape.
If you had problems during conversion, then p

[2020-08-04 18:28] ScruffySilky opened #42038 "ValueError: No gradients provided for any variable (Keras 2.4, Tensorflow 2.3.0)"
So I'm using [this model](https://github.com/ekohendratno/Screenshot-to-code-in-Keras/blob/master/floydhub/Bootstrap/bootstrap_generator.ipynb) to train on Google colab, it was written for Tensorflow 1.9 and Keras 2, but when I train I get the following error, has anyone seen this or how to solve it?

It was training fine before but this error started today.

Actual code:

[code]

Error I receive

[2020-08-04 18:29] bhack commented on #42030
@johnny-mueller Can you share the output of `docker run --gpus all nvidia/cuda:10.0-base nvidia-smi`?

[2020-08-04 18:39] ajyeager commented on #32987
Hi, is there any more information on what the issue was (conceptual bug vs numerical instability)?  We've been using implementation=2 on the LSTM and recurrent_dropout for a while without issue.  We found this code change when debugging a 400% increase in inference time for identically defined Kera's models and are considering ways to force implementation 2 (downgrade to TF2.0 before this fix or r

[2020-08-04 18:39] ymodak commented on #42015
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-08-04 18:39] #42015 closed

[2020-08-04 18:45] bhack commented on #42026
@will-cern I am not sure that it this is strictly "a regression" and I suppose that the error you catched with your class design could be more self-explicative that the current one.
For what you want to achieve I think that most similar solution it is at https://github.com/tensorflow/tensorflow/issues/25036#issuecomment-667534658 but please read the full thread.

[2020-08-04 18:48] amahendrakar commented on #41803
@Expert73,
Please take a look at the [tested build configuration](https://www.tensorflow.org/install/source_windows#gpu) for the compatible dependencies required while installing TensorFlow. And provide the exact sequence of commands / steps that you executed before running into the problem.

Also, please attach the logs as a text file so that it would be easier for us to debug. Thanks!

[2020-08-04 18:49] sanjoy commented on #41759
How are you measuring the amount of allocated memory?  And does Triton share the same memory allocator between different inference models?

[2020-08-04 18:55] chuanli11 opened #42039 "tf.constant causes CUDA_ERROR_TOO_MANY_PEERS error with more than 10 GPUs"
### System information

-   **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 20.04
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on a mobile device**: No
-   **TensorFlow installed from (source or binary)**: Binary
-   **TensorFlow

[2020-08-04 18:56] johnny-mueller commented on #42030
@bhack
[code]

[2020-08-04 18:57] markemus commented on #36715
@amahendrakar the Generator class does seem like it a good replacement that would solve this issue. I've been using it myself per @wangpengmit 's suggestion. However I don't think this is resolved until tf.random.normal() is deprecated or there is a clear way for people to understand its different behavior in the different tensorflow modes. I'm still encountering subtly broken code in the wild.

[2020-08-04 18:57] tomerk commented on #40638
The functional API refactoring has landed in the nightlies, so this should now be fixed in the nightlies.

[2020-08-04 18:57] #40638 closed

[2020-08-04 19:00] chuanli11 commented on #42039
This is originally discussed [here](https://github.com/NVIDIA/nccl/issues/356). But apparently not a NCCL problem.

[2020-08-04 19:00] jsimsa commented on #41648
@MarkDaoust could you please take a look? thank you

[2020-08-04 19:02] bhack commented on #42030
Can you try to re-run the same command after these https://github.com/NVIDIA/nvidia-docker#ubuntu-160418042004-debian-jessiestretchbuster?

[2020-08-04 19:03] jsimsa commented on #27728
@yourtheron is better suited to be posted on Stack Overflow. Github is meant to be used for reporting bugs or requesting functionality. I am also going to close this feature request as it has been addressed by [tf.data service](https://github.com/tensorflow/community/pull/195), which was released in TF 2.3.

[2020-08-04 19:03] #27728 closed

[2020-08-04 19:03] DeepakG19 commented on #41807
1. Ckpt is created from training using input 256x256
2. saved_model.pb is generated, passing input params as None,None for all 4 inputs
3. tflite_converter CLI is used to convert to tflite. Input shapes provided as None or -1 doesnt work.

Dynamic size input exists at inference time. The error occurs while using INTERPRETER.RELOCATE_TENSOR() after changing input tensor size.

[2020-08-04 19:06] DeepakG19 commented on #41807
Also, tflite created for passing any size ie 256x256 or 512x512 etc in tflite_converter works for input of that size but will fail when we try to relocate_tensor

[2020-08-04 19:06] johnny-mueller commented on #42030
@bhack that is quite complicated because im working on an Windows laptop and i have not the specific rights to execute these on the linux server

[2020-08-04 19:06] msg555 commented on #42022
Added an example

[2020-08-04 19:10] agarwalamit081 opened #42041 "comp:mkl"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Microsoft Windows 10 Pro
- Mob

[2020-08-04 19:12] karimnosseir commented on #41807
The failure during allocate_tensors is because a MUL op has operands that are not broadcastable. So either you're setting inputs that are invalid, or some other issue.

Can you run the TF model with same shape ?
Can you share the exact commands you used ?

Please try to share reproduce steps or better a code snippet with sample model that has issue.

Thanks

[2020-08-04 19:12] bhack commented on #42030
Let see if you have an old installation can you test `docker run --rm --runtime=nvidia -ti nvidia/cuda nvidia-smi`

[2020-08-04 19:23] #41430 closed

[2020-08-04 19:23] #41598 closed

[2020-08-04 19:25] developeralgo8888 commented on #41988
installing the `tf-agents-nightly `package does not solve the problem . if you  install it you get an error  on

`from tf_agents.agents.dqn import dqn_agent`

[2020-08-04 19:35] bhack commented on #41988
I don't get any error on `from tf_agents.agents.dqn import dqn_agent` with ` tf-agents-nightly`

[2020-08-04 19:37] nikitamaia commented on #41898
Hi @ratovarius, right now MirroredStrategy.reduce will do a concatenation of IndexedSlices on one device, and broadcast the result back to all GPUs. This is not efficient, hence the warning. This is a known limitation and the current suggestion is to use MultiWorkerMirroredStrategy, which has a slightly better implementation for handling IndexedSlices. Despite its name, MultiWorkerMirroredStrategy

[2020-08-04 19:44] JanSo19 commented on #27303
Is there any ETA on the arrival of the rfft op in tflite? It  would make the whole audio-detection pipeline in Android and IOS much, much easier :/

[2020-08-04 19:45] developeralgo8888 commented on #41988
How i resolved the issue :

uninstall version tf_agents 0.5.0  ===>   `pip uninstall tf-agents`

install the nightly version 0.6.0 at the moment ==> `pip install tf-agents-nightly`

[2020-08-04 19:45] vybhav72954 commented on #41988
Kindly give me a few days, as my laptop has blown up and I don't have access to another system cause of the pandemic. I'll update you by the weekend. Sorry for the inconvenience.

@bhack I had tried that, but wasn't aware about the Version issue, thnks

[2020-08-04 19:57] gowthamkpr commented on #41445
@Zlz-shoulder Sorry for the late response. Can you please use the latest version on tensorflow 1.x i.e., tensorflow 1.15 and see if the issue still persists? Thanks!

[2020-08-04 19:58] gowthamkpr commented on #41480
@Julius-ZCJ Any updates on this issue?

[2020-08-04 19:59] 14asaf commented on #36042
Thank you for the answer,

Now I use in TF2.2 and I I managed  with the problem of  MirroredStrategy.

I converted the data to float16 and now I have enough memory space in the Ram.

[2020-08-04 20:00] bhack commented on #41988
@vybhav72954  Yes cause TF version in colab i.e. to run @amahendrakar  gist was updated as default to 2.3.0 probably  just yesterday/today

[2020-08-04 20:02] gowthamkpr commented on #41442
@Dilshad737 Please use anaconda environment in your local machine and let me know if the error still persists. I am unable to reproduce this issue. Thanks!

[2020-08-04 20:04] johnny-mueller commented on #42030
[code]

[2020-08-04 20:10] ymodak commented on #41578
@jiahueytsao You need to pass project names individually . See example usage below;
https://github.com/tensorflow/tensorflow/blob/a4725be4a74c9acae623231e80d5a8002a54e94a/tensorflow/lite/micro/tools/make/Makefile#L10
Also see similar [thread](https://github.com/tensorflow/tensorflow/issues/41818)
Thanks!

[2020-08-04 20:10] bhack commented on #42030
@johnny-mueller So I think that you need to talk with the linux machine sysadmin to ask about enable the docker gpu setup.

[2020-08-04 20:18] johnny-mueller commented on #42030
@bhack thanks for the advice. I will call the admin tomorrow and will link this issue. Thanks for your help

[2020-08-04 20:19] nikitamaia commented on #36042
Closing this issue now since there was a fix. But feel free to reopen if you think it needs further discussion.

[2020-08-04 20:19] #36042 closed

[2020-08-04 20:23] #41329 closed

[2020-08-04 20:23] #40277 closed

[2020-08-04 20:23] Shiro-LK opened #42043 ""logs" Callback bugs with TF 2.3 on colab with TPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.3
- Python version:
- Baze

[2020-08-04 20:24] Mrutyunjay01 commented on #42008
@amahendrakar Yeah, When Conv2D didn't work, I tried running that simple one. But it showed exactly the same error.  However, using tf.compat.v1.disable_eager_execution() surprisingly suppressed the error. But, again I encountered
![error](https://user-images.githubusercontent.com/53314831/89341212-94fd9b00-d6be-11ea-8726-f2e1194e33fe.PNG)
 the same here, Here I am attaching the snippet.

[2020-08-04 20:26] Mrutyunjay01 commented on #42008
If you have noticed, the error is at 493 line of last block, having this line
assert self._context_devices is None.
Yeah, in google colab, it works fine. But what's the problem in my system? And how did it get suppress while using tf.disable_eager_execution(), but again gave error in the same environment?

[2020-08-04 20:36] bhack commented on #42008
What Is this? Are you changing the code example again?

Could you share a single very very minimal but runnable code and tell us  what kind of error you got?

Thanks

[2020-08-04 20:50] penpornk commented on #40688
@ebrevdo This is Python glue code so it probably belongs to TF Core folks. But the fixes are simple enough. I can do it.

[2020-08-04 20:52] jasonlilley opened #42045 "TF website tutorial "Save and load" fails on Google Colab for entire models"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab on cloud (run in Safari browser on Mac OSX 10.14.6)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): NA
-

[2020-08-04 20:54] neuralmagic commented on #41643
Thank you @ymodak.  We will follow up there.

[2020-08-04 20:54] #41643 closed

[2020-08-04 21:06] dwyatte opened #42046 "Keras custom model shape inference does not work with model.fit() for hub modules"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 9.11
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.3.0
- Pyt

[2020-08-04 21:31] pkanwar23 opened #42047 "TF with CUDA 11 and cuDNN 8"
Enable TF-nightly with CUDA 11 and cuDNN 8 for Ubuntu and Windows.

[2020-08-04 21:36] mazurick commented on #29524
I am experiencing this issue too. Can someone please respond?

[2020-08-04 21:36] mjang2000 commented on #42010
This is the error message I get while running on a Kaggle kernel. The code can be found [here](https://www.kaggle.com/amyjang/alzheimer-mri-model-tensorflow-2-3-data-loading). Please note that this notebook viewers shows the run on GPU so it does not show this error. When the accelerator is changed to TPU, the following error pops up.
![image](https://user-images.githubusercontent.com/43710235/893

[2020-08-04 21:46] mazurick commented on #37007
I am having this issue too. I am going insane. I've installed make but the default is set to 3.81 and upgrading it to 4.1

[2020-08-04 21:51] ymodak commented on #41874
You are right this works for `tf` format but not `h5`.
I forgot to reset the colab runtime while testing for different formats so didn't get any error.
Feel free to raise a PR and tag this issue thread. Thanks!

[2020-08-04 21:52] RayLucchesi commented on #41976
sorry i updated the wrong incident. Here's the "lshw" command output:
ubuntu-ai
    description: Desktop Computer
    product: MS-7A62 (Default string)
    vendor: MSI
    version: 1.0
    serial: Default string
    width: 64 bits
    capabilities: smbios-3.0.0 dmi-3.0.0 smp vsyscall32
    configuration: boot=normal chassis=desktop family=Default string sku=Default string uuid=00000000-0000-0000-0

[2020-08-04 21:53] RayLucchesi commented on #41976
here's the "lspci" command output:
lspci
00:00.0 Host bridge: Intel Corporation Xeon E3-1200 v5/E3-1500 v5/6th Gen Core Processor Host Bridge/DRAM Registers (rev 07)
00:01.0 PCI bridge: Intel Corporation Xeon E3-1200 v5/E3-1500 v5/6th Gen Core Processor PCIe Controller (x16) (rev 07)
00:08.0 System peripheral: Intel Corporation Xeon E3-1200 v5/v6 / E3-1500 v5 / 6th/7th/8th Gen Core Processor Gauss

[2020-08-04 22:06] nectario commented on #38670
I should not have to spend two days to get this to work and still not working. I am fuming to say the least. Something so simple yet so difficult to do in Tensorflow. This is an example of utmost failure in usability. Convoluted brains coming together and creating a convoluted framework.

[2020-08-04 22:07] #41933 closed

[2020-08-04 22:29] pavithrasv commented on #38670
Hello @nectario, sorry this has been difficult for you. For avg number of positive results you should just have to write a simple function and pass that to the compile API. Like the categorical accuracy function here:

https://github.com/tensorflow/tensorflow/blob/2b220dae89d64be05276018e171fcfefa95c1bc5/tensorflow/python/keras/metrics.py#L3250

You do not have to subclass metric. Subclassing is r

[2020-08-04 22:37] manivaradarajan commented on #41892
Please see https://github.com/tensorflow/docs/pull/1642 which updates GPU.md.

[2020-08-04 23:16] ppwwyyxx commented on #41980
Seems like a duplicate of https://github.com/tensorflow/tensorflow/issues/41539. Incorrect results of NCCL allreduce can be reproduced since TF 1.15.

[2020-08-04 23:21] jvishnuvardhan commented on #41986
@zsk843 Thanks for reporting the typo. We updated the doc. It is already reflecting in the TF website.

Please verify once and close the issue if this was resolved. Thanks!

[2020-08-04 23:24] mazurick opened #42049 "Binary won't build for hello world."
**System information**

-Catalina
-System default Python 3.8.5
-Spark edge 1
-Make version 4.3

**Describe the problem**

While trying to build for the hello world binary, I get the following error.

[code]

**Provide the exact sequence of commands / steps that you executed before running into the problem**

-My make version was lower than 3.2, so I changed my make version to 4.3.

-make -f tensor

[2020-08-04 23:26] ppwwyyxx commented on #18222
My concern in https://github.com/tensorflow/tensorflow/issues/18222#issuecomment-581480455 turns out true: the current SyncBN in TF indeed has bugs: https://github.com/tensorflow/tensorflow/issues/41980

[2020-08-04 23:40] mshavlovsky commented on #41392
@caisq Any update on the issue? The problem still persists after disabling checkpoint saving. Thank you.

[2020-08-04 23:42] abattery commented on #41449
@ow4g18 Sorry for the late reply. Could you share your code for from_saved_model path in the tf-nightly version? You need to specify the one concrete function in the conversion.

[2020-08-05 00:07] abattery commented on #41250
@abuchele Could you share why the converted model can not be used for inference? I think you can run inference based on the same TF version library.

[2020-08-05 00:27] craigcitro commented on #42043
@Shiro-LK see googlecolab/colabtools#1470 for switching the TF+TPU version in colab.

[2020-08-05 00:40] penpornk commented on #40688
It seems @chsigg has already fixed this in https://github.com/tensorflow/tensorflow/commit/75ea0b31477d6ba9e990e296bbbd8ca4e7eebadf recently (Jun 26, 2020) by adding an overload function. I tried compiling with the latest code from master and didn't get the error anymore.

(It's too late to patch this into releases 2.2.0 and 2.3.0 now, so this issue will be fixed in release 2.4.0.)

[2020-08-05 00:41] goldiegadde commented on #33531
Based on [this comment](https://github.com/tensorflow/tensorflow/issues/33531#issuecomment-620821740) multiworkermirroredstrategy can now handle partial batch size , and no error is raised with TF 2.3.0 release.
I am closing this issue for now, @vmarkovtsev feel free to re-open if this is still not working for you.

[2020-08-05 00:41] #33531 closed

[2020-08-05 00:56] summa-code commented on #41987
It is the sample code that is on Tensorflow.org. Do you need any other information ?

[2020-08-05 00:57] summa-code commented on #41987
Closed by mistake.

[2020-08-05 01:21] spawnaga commented on #41648
I found this issue only happens if you are using tf-nightly. Switching to tensorflow 2.3 resolved the issue

[2020-08-05 01:29] rajeevdm commented on #41931
I tried checking out r2.2 with this:
git clone https://github.com/tensorflow/tensorflow tensorflow -b r2.2

Got this error:
make -f tensorflow/lite/micro/tools/make/Makefile TARGET=esp generate_hello_world_esp_project
tensorflow/lite/micro/tools/make/download_and_extract.sh "https://github.com/google/gemmlowp/archive/719139ce755a0f31cbf1c37f7f98adcc7fc9f425.zip" "7e8191b24853d75de2af87622ad293ba"

[2020-08-05 01:32] ebrevdo commented on #40688
Thank you for the update!

On Tue, Aug 4, 2020 at 5:40 PM Penporn Koanantakool <
notifications@github.com> wrote:

[2020-08-05 01:52] Zlz-shoulder commented on #41445
You had tested it on tensorflow 1.1.15 and found no errors, so I think that I do not need to test it on tensorflow 1.1.15. However, I found errors using the exactly the same code on tensorflow 1.1.12. In some of the first comments, I have described in detail the errors I encountered about tensorflow 1.1.12. Could you help me answer my question？

[2020-08-05 02:13] rajeevdm commented on #41931
So, in summary:

Tensorflow r2.1 does not have a micro directory. So quite likely support for microcontrollers was added later.

With r2.2, I get the error during make:
make: *** No rule to make target 'tensorflow/lite/micro/examples/hello_world/esp/sdkconfig.defaults', needed by 'tensorflow/lite/micro/tools/make/gen/esp_xtensa-esp32/prj/hello_world/esp-idf/sdkconfig.defaults'. Stop.

With r2.3, w

[2020-08-05 02:30] uthantvicentin commented on #41931
r2.2 worked for me.
[https://github.com/tensorflow/tensorflow/releases/tag/v2.2.0](url)

[2020-08-05 02:31] rajeevdm commented on #41931
Ok, got it working with TF r2.2.

For the error:
make: *** No rule to make target 'tensorflow/lite/micro/examples/hello_world/esp/sdkconfig.defaults', needed by 'tensorflow/lite/micro/tools/make/gen/esp_xtensa-esp32/prj/hello_world/esp-idf/sdkconfig.defaults'. Stop.

I just did:
touch tensorflow/lite/micro/examples/hello_world/esp/sdkconfig.defaults

Then
make -f tensorflow/lite/micro/tools/make/M

[2020-08-05 02:37] edwardyehuang commented on #41980
Same issue here. I got a lower result with sync bn than normal bn or one GPU

[2020-08-05 02:48] mmartial commented on #40688
I will take this opportunity to update the `perl`-glue, since in 2.3.0 it looks like the max version is now set to 3.99 (and the lastest bazel release is 3.4.1), I added the following version checking function to my 2.3.0 build (still in testing)

<pre>
ARG LATEST_BAZEL=3.4.1
[...]
  && fgrep _TF_MAX_BAZEL configure.py | grep '=' | perl -ne '$lb="'${LATEST_BAZEL}'";$brv=$1 if (m%\=\s+.([\d\.]+).$+

[2020-08-05 02:49] ImMrMa opened #42051 "keras meet a problem with sync bn in multi worker"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):N/A
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
TensorFlow installed from (source or binary): Binary
TensorFlow version (use command below): 2.3.0
Python version: 3.7.

[2020-08-05 03:15] arshagarwal commented on #41957
@Saduf2019
Thanks for taking the time, here is the [google colab gist](https://colab.research.google.com/drive/1AuvfArBWjowMT-2Eydw6FBDpo1mspPn1?usp=sharing)

[2020-08-05 03:18] stutisehgal commented on #39007
Traceback (most recent call last):
  File "C:\Users\LEGION\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\pywrap_tensorflow.py", line 64, in <module>
    from tensorflow.python._pywrap_tensorflow_internal import *
ImportError: DLL load failed: The specified module could not be found.

Failed to load the native TensorFlow runtime.

I have installed Anaconda inside my D drive and ha

[2020-08-05 03:22] MichaelJamesL opened #42052 "Tensorflow-gpu status: Internal: no kernel image is available for execution on the device"
**I run my code on tensorflow 2.1.0 Anaconda with CUDA Toolkit 10.1 CUDNN 7.6.0 (Windows 10) and it returns a issue**
` F .\tensorflow/core/kernels/random_op_gpu.h:232] Non-OK-status: GpuLaunchKernel(FillPhiloxRandomKernelLaunch<Distribution>, num_blocks, block_size, 0, d.stream(), gen, data, size, dist) status: Internal: no kernel image is available for execution on the device`
**My GPU : GT940MX

[2020-08-05 03:49] RayLucchesi commented on #41976
If you need anything else let me know. I’m only passing one gpu into Tensorflow and thats the 1070Ti

[2020-08-05 04:15] Ghost---Shadow commented on #41845
@nikitamaia I am aware of that. However, I think it should either not throw an error in Eager mode or give a more verbose error message.

or it should coerce to Tensor automatically.

[2020-08-05 04:55] Saduf2019 commented on #41987
@summa-code
Can you please provide a colab gist with the error faced for us to analyse.

[2020-08-05 05:00] becker929 opened #42053 "All validation loss reported as 0.0000e+00 in keras / TF"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2020-08-05 05:09] manidevi commented on #41997
Got it. Thanks @ravikyram  and @bhack

[2020-08-05 05:09] #41997 closed

[2020-08-05 05:57] idofr commented on #42004
It's the same thing. They're not loading a model but restoring from a config
[code]

[2020-08-05 05:58] manidevi opened #42054 "How to check whether MKL is supported or not with the installed tensorflow"
**System information**
- OS Platform and Distribution : Windows 10
- TensorFlow installed from : binary
- TensorFlow version: 2.1.0
- Python version: 3.7.0
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
- GPU model and memory:

I installed tensorflow with mkl support following [this

[2020-08-05 06:05] ravikyram commented on #42035
@albertz

Provide the exact sequence of commands / steps that you executed before running into the problem.
You also try running the below code in virtual environment and check if it works.
[code]
Thanks!

[2020-08-05 06:16] #33867 closed

[2020-08-05 06:25] nbe000 opened #42055 "F .\tensorflow/core/kernels/random_op_gpu.h:232] Non-OK-status: GpuLaunchKernel(FillPhiloxRandomKernelLaunch<Distribution>, num_blocks, block_size, 0, d.stream(), gen, data, size, dist) status: Internal: a PTX JIT compilation failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10
- Mobile device (e.g. i

[2020-08-05 06:54] ravikyram commented on #42053
I have tried in colab with TF version 2.2,2.3 and was able to reproduce the issue.Please, find the gist [here.](https://colab.research.google.com/gist/ravikyram/0dc65503474d05f733976aff98c25a48/untitled217.ipynb).
However i am seeing the below error message with [TF nightly version](https://colab.research.google.com/gist/ravikyram/9f41ca81a451c2a069f219d200eb729a/untitled218.ipynb)(`2.4.0-dev20200

[2020-08-05 07:00] pn12 commented on #40309
@SlowMonk  - Did you get a way to extract value?

[2020-08-05 07:37] srihari-humbarwadi commented on #36136
I hit the same issue with 2.2, 2.3 and 2.4 nightly, however it was due to me trying to cache a large dataset into memory, so please do check if you are trying to cache a large dataset!

[2020-08-05 07:51] albertz commented on #42035
The exact steps to execute are just this single command:
[code]
You see that in the stacktrace as well.
I cannot run your code because it hangs already in the first command.

I think the problem becomes clear when looking at the C stacktrace I posted.

[2020-08-05 08:23] #41604 closed

[2020-08-05 08:23] #41583 closed

[2020-08-05 08:27] IaroslavElistratov commented on #41552
Same problem

[2020-08-05 09:03] yeyupiaoling opened #42056 "android use XNNPACK happen error"
- android 7
 - ssd_mobilenet_v2

[code]

[code]

error log:
[code]

[2020-08-05 09:13] shuo-ouyang commented on #21407
Same issue with you, and I am using MacOS Catalina 10.15.5, tensorflow 1.10, bazel 0.15.

[2020-08-05 09:25] VictorAtPL commented on #16052
No, it's unfortunately not.

[2020-08-05 09:34] RomanGirin commented on #41200
Any updates on this?

[2020-08-05 09:49] obtu commented on #41663
`BinaryTruePositives` subclasses `tf.keras.metrics.Metric`in the example, thus the StackOverflow answer is insufficient.

The problem is that `metrics` cannot be used as `callbacks`, and vice versa, in model `compile` and `fit`, respectively.

[2020-08-05 09:49] #41663 closed

[2020-08-05 10:06] jaeyoo commented on #23747
https://www.tensorflow.org/lite/models/segmentation/overview Is this helpful?

[2020-08-05 10:09] Lif3line opened #42057 "TensorFlow Lite causes segementation faults in C++ when creating threads if fully statically linked"
**System information**
- Linux Ubuntu 18.04
- TensorFlow Binary (via `pip`)
- Tested on 2.1.0, 2.2.0, 2.3.0 & all recent master branches of `tensorflow/tensorflow:devel` up to my last comment
  - I have a local CI script tracking this issue
- Tested on `x86_64` as well as ARM builds

**Problem**
- Segmentaion fault on `invoke()` when running any model that spawns threads
  - Only occurs if TensorF

[2020-08-05 10:13] Lif3line commented on #41778
Closing in favour of [42057](https://github.com/tensorflow/tensorflow/issues/42057#issue-673420638) which more accurately represents the problem.

It appears the issue lies with static linking and thread generation rather than with `conv2d` or model conversion.

[2020-08-05 10:13] #41778 closed

[2020-08-05 10:14] louisgriffin commented on #41021
I found a workaround:
Forcing the internal layers weights to be named uniquely with a name scope. Check this out:
[code]
Also, here is a [gist](https://colab.research.google.com/drive/1DPmCmde9JAuFc0TNuBMG99CbW3Og4hJr?usp=sharing)

[2020-08-05 10:16] CNOCycle commented on #35093
I guess that tensorflow has huge upgrades from `2.0` to `2.3` or above. I can't successfully run my code either in `tf-nightly`.

I will try to redesign a new custom loss for `tf-nightly`.

From my opinion, custom loss with `MirroredStrategy` is still a important feature.

Some of models with custom loss are complex and it should be trained with GPUs.

It has been worked in TF1 as least.

[2020-08-05 10:17] ow4g18 commented on #41449
@abattery No problem.  My code is below.
[code]
This gives error:
[code]

This seems to be the standard way of converting a model, but I can't find much about this error online.

Thanks!

[2020-08-05 10:35] idofr commented on #42004
Ok, so this wasn't the solution, but it set me in the right direction, so many thanks 👍
After doing the following changes to the code, this now seems to work

1. All `Model` implementations, except for the "main model wrapper thingy", were changes to `Layer` objects.
2. All custom implementations (both the `Layer`s and the `Model`) were given a `get_config` function.
I'm not sure which of these di

[2020-08-05 10:38] DGMaxime commented on #37606
Hi,
After a lot of search, I found another cudnn installation.

The command line ` where cudnn*` found cudnn in the following folder as expected.

**But the command line found also a folder in my anaconda env, which was being used by Tensorflow**.

The solution that worked for me :
Remove cudnn installed in Anaconda env with `conda uninstall cudnn` and check again where `where cudnn*`

If the cudn

[2020-08-05 10:44] bhack commented on #42004
/cc @fchollet about evaluate doc improvments margins

[2020-08-05 10:44] pratapmalani opened #42058 "Import Tensorflow giving error"
Hi,
I am trying to deploy a simple CNN on FLASK. on operating system Windows 10,
Python 3.8.3
tensor flow version is 2.3.0  (installed using pip install)
keras version 2.4.3 (installed using pip install)

I uninstalled and reinstalled Anaconda also.
Upgraded  Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019 from https://support.microsoft.com/en-us/help/2977003/the-latest-

[2020-08-05 10:46] ravikyram commented on #38796
@gdhy9064
I tried in colab with TF nightly version(`2.4.0-dev20200805`) and i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/b5b4078213e10dd15fc942ed7b52b91f/untitled221.ipynb).
Please, verify once and close the issue if resolved.Thanks!

[2020-08-05 10:53] bhack commented on #42004
@idofr To speed-up a little bit the process I suggest you to open a new documentation ticket mentioning this one at https://github.com/keras-team/keras-io

[2020-08-05 10:58] ravikyram commented on #38767
Was able to reproduce the issue with TF nightly version(`2.4.0-dev20200805`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/ca6d33d2cd83437d12c4ca4e7034988e/untitled222.ipynb).Thanks!

[2020-08-05 11:01] Saduf2019 commented on #42051
@ImMrMa
Please provide simple stand alone code for us to replicate the issue faced or if possible share a colab gist with the error reported.

[2020-08-05 11:08] Saduf2019 commented on #42010
@mjang2000
i ran the code shared by you on tpu in the issue template as well, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/ef719fa6e56583d65fd15c83dd2b4cd6/untitled319.ipynb). please let me know if i am doing something incorrect.

[2020-08-05 11:09] leandro-gracia-gil commented on #40501
Looks like the input structure issues I reported here actually come from a misunderstanding of how exported signatures should be used. In the example above, instead of `loaded_model.signatures['test'](inputs)` what should be used is `loaded_model.test(inputs)`, which works as expected and correctly produces an output `Pair`.  (Thanks to @edloper for clarifying this in the RFC review).

However, th

[2020-08-05 11:18] planetmarshall commented on #38183
@gunan I'm going to have a look at creating a project to build the C++ API only using CMake and Conan. I'm not sure how sustainable it will be in the long run but I'm not convinced of Bazel's utility in the C++ sphere, and I think there are enough pain points from a C++ developers perspective (particularly on Windows) to make it worth the effort.

I'll share with the community if I can get somethi

[2020-08-05 11:21] amahendrakar commented on #42038
@ScruffySilky,
On running the code, I am facing an error stating `FileNotFoundError: [Errno 2] No such file or directory: '/data/train/'`.

Could you please provide all the necessary files required to run the script. Thanks!

[2020-08-05 11:23] #41623 closed

[2020-08-05 11:49] ScruffySilky commented on #42038
Sure, here are the locations of the two files needed to run it:
1. '/data/train/' = https://github.com/ekohendratno/Screenshot-to-code-in-Keras/tree/master/local/Bootstrap/resources/eval_light
2. 'bootstrap.vocab' = https://github.com/ekohendratno/Screenshot-to-code-in-Keras/blob/master/local/Bootstrap/resources/bootstrap.vocab

[2020-08-05 11:50] Namburger commented on #42024
@ymodak thanks! This is a compiler issue, not tflite conversion

[2020-08-05 12:17] ayush0x00 commented on #42058
Since you are using python v3, try installing tensorflow using pip3.
See this [link](https://www.tensorflow.org/install/pip) for installing tensorflow.

[2020-08-05 12:26] talpay commented on #27519
@Mainak431 would you mind reopening the issue?

[2020-08-05 12:30] ratovarius commented on #41898
Thanks for your answer @nikitamaia
Is there a way to configure witch GPUs to use with MultiWorkerMirroredStrategy ? By default it uses all GPUs, right?
I want to make some performance measurements.

I tested your suggestion, using MultiWorkerMirroredStrategy removes the warning, but it is taking twice time for training using
`strategy = tf.distribute.experimental.MultiWorkerMirroredStrategy() # De

[2020-08-05 12:41] talpay commented on #27519
To recap, what seems to work for some is to avoid using the @tf.function decorator and do:
[code]
Unfortunately, this doesn't work for me. I've been debugging this issue with tf.keras.backend.eval which has the following checks:

[code]
At some point `eval_in_eager_or_function(x)` calls `Tensor.numpy()` which fails because the code is expecting `TensorEager.numpy()`. This looks to me like one of t

[2020-08-05 12:49] ProfHariSeldon commented on #41533
Thanks that might solve it.  I also found out I can use OpenCV to solve this problem:
https://answers.opencv.org/question/232940/help-updating-10-lines-of-deprecated-opencv-code-in-c/

Specifically by using cats.vs.dogs.cpp:
https://gist.github.com/berak/70bcf5e8240c4af4426f9eff3f42121c

[2020-08-05 12:49] #41533 closed

[2020-08-05 13:04] michav1510 commented on #11311
@Nicolas99-9 I have the same issue.

[2020-08-05 13:11] gdhy9064 commented on #38796
@ravikyram I have tried with TF nightly version (2.4.0-dev20200805), the problem still exists. Maybe the large gradient during training is the cause. Thanks for your kindly reply. I will close the issue now.

[2020-08-05 13:11] #38796 closed

[2020-08-05 13:11] michav1510 commented on #11311
@swethmandava As here referred : https://github.com/tensorflow/tensorflow/issues/30468
I change the
`tf.assign_add()`
with
` tf.compat.v1.assign_add()`

[2020-08-05 13:14] hahmad2008 commented on #22106
Hi @BryanRansil  I used step 6 and change the **TFLiteObjectDetectionAPIModel.java** .But I still got the following error:

**Any help is appreciated.**

[2020-08-05 13:16] edloper commented on #40501
@leandro-gracia-gil As I commented on the extension types RFC, the `signatures` in a `SavedModel` are intended to interoperate with non-python interfaces (c++, tensorflow serving, etc.), where Python's types (such as namedtuple) are not available.  Currently, this means that the concrete functions in the `signatures` dictionary are expected to take tensor arguments and return a tensor or a string-

[2020-08-05 13:23] #40967 closed

[2020-08-05 13:25] Roshan1986 commented on #41983
I have provided the code and data in the issue description. Anyways, I am also providing the colab link https://colab.research.google.com/drive/1jpNMISMJGLILaCkhrj1NiEsqKCYLFBd0.

You will have to run the code as described in my issue description to understand the bug.

[2020-08-05 13:30] jimmy6 opened #42060 "Fail to load model from ModelCheckpoint in java."
Fail to load model in java.

**Python**
checkpoint = ModelCheckpoint(weight_path, monitor='val_loss', verbose=1,
                             save_best_only=True, mode='min', save_weights_only = True)
**Java**
SavedModelBundle model = SavedModelBundle.load("C:\\workspace\\tools\\cross-360p-high2Tp1Cl100VpConc.1.09.hdf5", "serve" );

**System information**
libtensorflow-2.3.0.jar

**Other info / lo

[2020-08-05 13:31] amahendrakar commented on #42052
@MichaelJamesL,
Could you please provide the complete code and the exact sequence of commands / steps that you executed before running into the error. Thanks!

[2020-08-05 13:37] OlegPonomaryov commented on #41780
Hi @nikitamaia, sorry for late reply. Thank you for hints, I've tried just loading the Saved Model  and have encountered the same error. When loading just Keras H5 model, everything is still alright.

As for `report_tensor_allocations_upon_oom`, I haven't found a way to set `RunOptions` for `tf.keras` models. However, I've tried profiling memory usage with Tensorboard (using `tensorboard-plugin-pr

[2020-08-05 13:49] amahendrakar commented on #42055
@nbe000,
I was able to run the code without any issues on both TF v2.2 and v2.3. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/36cec401e6e11a7760133f7ce1de7f22/42055.ipynb).

Could you please try running the code in a virtual environment or with TF v2.3 and check if you are facing the same issue. Thanks!

[2020-08-05 13:56] MarkDaoust commented on #41648
Agreed, I can get the warning to pop up with the replication instructions and this nightly:

[code]

But not with the current nightly, or with the stable release, so whatever this problem was it seems to have been fixed.

[2020-08-05 13:56] #41648 closed

[2020-08-05 13:56] amahendrakar commented on #42058
@pratapmalani,
You might be facing this issue because of the following reasons

- You you running 32-bit Python or 32-bit OS
- You have not installed the [Microsoft Visual C++ Redistributable](https://support.microsoft.com/help/2977003/the-latest-supported-visual-c-downloads) package
- Your CPU does not support AVX instructions.

Please take a look at the [system requirements](https://www.tensorfl

[2020-08-05 14:05] bergfita opened #42061 "Fail to export function containing tf.lookup.StaticHashTable"
**System information**
- Ubuntu 18.04
- TensorFlow installed from (source or binary): binary (`pip install tensorflow)
- TensorFlow version (use command below): v2.3.0-rc2-23-gb36436b087 2.3.0
- Python version: 3.6.9

**Describe the current behavior**

Trying to save a SavedModel with `tf.saved_model.save`, `tf.Module` fails if it includes `tf.lookup.StaticHashTable`.

**Describe the expected beha

[2020-08-05 14:13] wookayin commented on #41061
I think this should remain open. Even the latest version has a conflicting dependency with latest versions of numpy, pandas, etc.

[2020-08-05 14:15] punims commented on #41964
@Saduf2019
Processor	Intel(R) Core(TM) i7-1065G7 CPU @ 1.30GHz, 1498 Mhz, 4 Core(s), 8 Logical Processor(s)
This is my processor, as far as I can tell
https://ark.intel.com/content/www/us/en/ark/products/196597/intel-core-i7-1065g7-processor-8m-cache-up-to-3-90-ghz.html
as far as I can tell I have a processor that does support Avx

[2020-08-05 14:17] 27shree23 commented on #42045
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/training/tracking/tracking.py:111: Model.state_updates (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
WARNING:tensorflow:From /usr/local/lib/python

[2020-08-05 14:17] ravikyram commented on #42060
@jimmy6

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).
Can you please share  complete code snippet to reproduce the issue in our environment.Thanks!

[2020-08-05 14:18] wookayin commented on #41061
Duplicate of: #40688

[2020-08-05 14:18] 27shree23 commented on #42045
How can I get rid of this?? How to update?

[2020-08-05 14:18] ImMrMa opened #42062 "multi worker in nccl mode with something wrong"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):N/A
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
TensorFlow installed from (source or binary): Binary
TensorFlow version (use command below): 2.3.0
Python version: 3.7.

[2020-08-05 14:28] Saduf2019 commented on #42041
@agarwalamit081
Please refer to below issues with same "ERROR: Config value opt is not defined in any .rc file" and let us know if it helps.
#23613 #38491

[2020-08-05 14:29] sauravk0302 commented on #13715
Failed to load the native TensorFlow runtime.

[2020-08-05 14:31] mazurick commented on #42049
@ymodak do you have any suggestions?

[2020-08-05 14:32] Saduf2019 commented on #41964
@punims
Please verify you have downloaded the latest [microsoft visual c++ redistributable from here.](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
Make sure you update environment path for cuda(please refer this https://www.tensorflow.org/install/gpu#windows_setup ).
 Make sure if there is a library that is in a different location/not installed on your

[2020-08-05 14:39] nikitamaia commented on #41898
You can use `tf.config.set_visible_devices` to specify which devices are visible to the runtime. I'm curious to know what the performance is when you try a smaller number of GPUs.

[2020-08-05 14:54] mcagricaliskan commented on #38518
I have same issue too. I have 2 laptop. One has rtx2060 mobile and other gtx860M.
I installed linux a while of time ago. before that it is worked smoothly but after i install windows 10 back its doesn't working anymore
I m facing with this error on gtx860m.
Cuda: 10.1 update2
Cudnn: 7.6.5
Windows10
( two laptop has same installation versions)
I tried all possiblities.
I tried python 3.7, python 3.

[2020-08-05 14:55] r-wheeler commented on #41898
This issue mirrors some issues I am facing, the algorithm scales up when using 4 gpus under mirrored strategy, but there is no speed increase in how long it takes to get to the end of an epoch (after scaling the batch size by the number of gpus). I do not believe the input pipeline is the bottleneck as it is pretty simple and has a sufficient prefetch buffer size and parallel map calls

WIth 8 gpu

[2020-08-05 15:01] mcagricaliskan commented on #41855
I have same issue too. I have 2 laptop. One has rtx2060 mobile and other gtx860M.
I installed linux a while of time ago. before that it is worked smoothly but after i install windows 10 back its doesn't working anymore
I m facing with this error on gtx860m. rtx one just working fine with these versions. but gtx one not working whatever i do
visual studio 2019 community with c++
Cuda: 10.1 update2

[2020-08-05 15:03] amitDaMan opened #42064 "Building Tensorflow Lite Locally : Unrecoverable error while evaluating node"
I am building on Linux Ubuntu 16.04, and following the Android quickstart guide:
https://www.tensorflow.org/lite/guide/android

I build the image with the given DockerFile:
https://raw.githubusercontent.com/tensorflow/tensorflow/master/tensorflow/tools/dockerfiles/tflite-android.Dockerfile
docker build . -t tflite-builder -f tflite-android.Dockerfile

I run it with the following command:

docker r

[2020-08-05 15:04] dtch1997 opened #42065 "tensorflow.lite.python.convert.ConverterError: <unknown>:0: error: loc("Func/StatefulPartitionedCall/input/_0"): requires all operands and results to have compatible element types"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Tensorflow version: 2.3.0
- TensorFlow installed from (source or binary): Binary (Anaconda)

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Also, please include a link to the saved model or GraphDef**

[model

[2020-08-05 15:04] dtch1997 commented on #42065
The fix from https://github.com/tensorflow/tensorflow/issues/41877 did not resolve this

[2020-08-05 15:06] Saduf2019 commented on #42046
@dwyatte
I ran the code shared and able to replicate the issue reported, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/7b3c6eec76acac4d3b49f1bef8f937fb/untitled320.ipynb
).

Please refer to [this issue](https://github.com/keras-team/keras/issues/10648) , [link](https://stackoverflow.com/questions/40366163/tensorflow-valueerror-shape-must-be-rank-1-but-is-rank-2) and

[2020-08-05 15:07] pratapmalani commented on #42058
@ayush0x00 Thanks for your response. using pip3 instead of pip is giving the same error.

@amahendrakar
Thanks for your response.

**From System Requirement:**

pip3 version is 20.1.1

Windows 10 Home Single Language
Version 1909
OS build 18363.959

I already installed installed MS Visual C++ (as mentioned in first message)

I have also installed NVIDIA CUDA 10.2

**Hardware Details:**

HP Laptop

[2020-08-05 15:20] dwyatte commented on #42046
@Saduf2019 Thanks for confirming replication. Neither of the linked issues seem related to this which seems to happen due to some assumptions that keras makes when compiling a static graph

[2020-08-05 15:23] nbe000 commented on #42055
After installing tensorflow 2.3.0, output of the program becomes:
[code]

[2020-08-05 15:26] ashispapu commented on #42021
@Saduf2019  I also got the same issues, when i tried to connect the a VM instance with a TPU node(v2-8).

[2020-08-05 15:27] hahmad2008 commented on #38558
Hi @jvishnuvardhan
I tried to convert the checkpoint (saved_model) using this [solution](https://colab.research.google.com/gist/jvishnuvardhan/23066f1a722fc566b437a5210d1b97b0/ssd_saved_model_tflite_conversion.ipynb#scrollTo=X5s5D5ufCcKb), it is successfully converted but I think it is incorrect since I checked the input for the model I got it as [1,1,1,3] instead of [1,300,300,3]

the saved model

[2020-08-05 15:28] Smankusors opened #42066 "[Docs] RAM usage when building from source"
## URL(s) with the issue:
https://www.tensorflow.org/install/source

## Description of issue (what needs changing):
Aproximately the RAM that used when compiling. IMO, "Building TensorFlow from source can use **a lot of** RAM", is not clear how "a lot of" is how many GB. I have VM with 6vCPU 10GB RAM and I frequently run out of memory. This run out of memory is not only slowing down the compiling,

[2020-08-05 15:30] jdduke commented on #22106
What is the shape of this tensor in your converted .tflite model? You might need to manually resize it (using `Interpreter.resizeInput()`). It looks like the buffer you're providing doesn't match the expected size for that tensor.

[2020-08-05 15:30] Akumaeye commented on #42045
I have the same issue please help

[2020-08-05 15:36] amahendrakar commented on #36715
Was able to reproduce the issue with TF v2.3 and the latest TF-nightly i.e. v2.4.0-dev20200805. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/dae30f344fcb72eff2140acab5270e7c/36715-2-3.ipynb). Thanks!

[2020-08-05 15:42] nikitamaia commented on #41845
Removing the bug label, since there is no bug here.
That being said, there is always a lot of room to improve Tensorflow error messages and make everything more intuitive (especially when switching between eager and graph mode!).
Please file a feature request if you are proposing a different error message or functionality.

[2020-08-05 15:44] RayLucchesi commented on #41976
The exact steps I took to generate the problem:

First I built from source for GPU following the instructions at the bottom of https://www.tensorflow.org/install/source

sudo nvidia-smi -pm 1
docker run --gpus 1 --ipc="host" -it -w /tensorflow -v $PWD:/mnt -p 8888:8888 -e HOST_PERMS="$(id -u):$(id -g)" tensorflow/tensorflow:from-src2 bash
export LD_LIBRARY_PATH=“/usr/local/cuda/extras/CUPTI/lib64:

[2020-08-05 15:44] sedghi commented on #41340
Can we get an update on this?

[2020-08-05 15:45] sedghi commented on #37839
Is there an update here?

[2020-08-05 15:47] MichaelJamesL commented on #42052
[code]

[2020-08-05 15:51] MichaelJamesL commented on #42052
I tried it again with Tensorflow-gpu 2.3 (Pip) on Anaconda Env. Same CUDA Toolkit and CUDNN version, and it return the same issue

[2020-08-05 16:00] nikitamaia commented on #35093
Agreed that it's an important feature, and as mentioned earlier custom losses do work with MirroredStrategy. I'd be happy to share an example with you if that's helpful. Also, if you look through the dist-strat component issues on Github you'll see some different examples of custom losses with MirroredStrategy.

[2020-08-05 16:04] ratovarius commented on #41898
I increased a little the size of the model in the original issue to get more representative timing.
Now I'm sizing the Batch_Size according to number og GPUs used.
[code]
Timing comparison:

1. `tf.distribute.MirroredStrategy`

- `strategy = tf.distribute.MirroredStrategy(['/gpu:0'])`

[code]
- `strategy = tf.distribute.MirroredStrategy(['/gpu:0', '/gpu:1']) # (2 GPUs)`
[code]
- `strategy = tf.dis

[2020-08-05 16:23] #41606 closed

[2020-08-05 16:32] MeghnaNatraj commented on #38285
@sayakpaul Could you create a separate issue and tag me on it? I am looking into it.
@stefano555 I am looking into #41840 right now.

@rayeh5  could you explain your question in detail? Currently we support int8 quantization by default.

[2020-08-05 16:36] pratapmalani commented on #42058
@amahendrakar
Thanks for your response.

From System Requirement:

pip3 version is 20.1.1

Windows 10 Home Single Language
Version 1909
OS build 18363.959

I already installed installed MS Visual C++ (as mentioned in first message)

I have also installed NVIDIA CUDA 10.2

Hardware Details:

HP Laptop 15-da1xxx
Processor: Intel(R) Core(TM) i5-8265U CPU @ 1.60Ghz 1.80GHz
System type: 64-bit operatin

[2020-08-05 16:37] Smankusors commented on #41989
alright I just get this compiled after encountering this issue (#42066).

it seems the fix is simple, only put -1 somewhere in the code. Although........ I don't fully understand it yet...

[2020-08-05 16:37] pratapmalani commented on #42058
@ayush0x00 Thanks for your response. using pip3 instead of pip is giving the same error.

[2020-08-05 16:48] sayakpaul commented on #38285
@MeghnaNatraj I don't think community members can assign someone to an issue (correct me if I am wrong). I referred to the following statement of yours and hence I decided to inform you about the issue here.

Please let me know if you'd still like me to open up a new issue.

[2020-08-05 16:53] shkarupa-alex commented on #39556
Same poor performance on 2080 Ti + TF compiled from source
[code]

[2020-08-05 17:05] yongtang commented on #42001
Added a PR #42067 for the fix.

[2020-08-05 17:06] njeffrie commented on #41271
Interesting... I'll take a look into this issue this week. I'm wondering if for some reason the flatbuffer in flash is being corrupted by something related to the BLE library. One offhand thought is that the BLE library may implicitly reserve certain addresses for BLE registers and DMA, and these could potentially conflict with the addresses used to access flash. In this case, updating the memory

[2020-08-05 17:10] pochtar opened #42068 "tf.keras.utils.plot_model doesn't work"
**System information**
Google colab.

**Steps to reproduce:**
1. Click "Run all" at Colab of https://www.tensorflow.org/tutorials/structured_data/feature_columns
2. Add a cell with the following code:
```tf.keras.utils.plot_model(model, show_shapes=True, show_layer_names=True)```

**Describe the current behavior**
1. It displays only 1 block `[sequential]`.
2. If you copy all cells + plot_model an

[2020-08-05 17:16] abbasabaei commented on #20096
I had the same problem but your solution was useful.
thanks

[2020-08-05 17:28] MeghnaNatraj commented on #38285
@sayakpaul Yes, community members cannot assign an issue to a specific person. You can create a new issue, post the details about your issue (as in this [comment](https://github.com/tensorflow/tensorflow/issues/38285#issuecomment-665444152) and post a link to the issue here. I will continue the discussion on that thread.

[2020-08-05 17:28] #41952 closed

[2020-08-05 17:43] summa-code commented on #41987
Wow... i really don't have colab, here is the link again, can you not use this ?
I do it locally. This code is a sample code from Tensorflow.org and it is not working with the latest build i do locally.

The sample code to debug this issue is at,
https://www.tensorflow.org/tutorials/structured_data/time_series

[2020-08-05 18:00] amahendrakar commented on #41918
@cryandme,
To help up reproduce the issue, please provide the complete code and the dataset too.

Also, TensorFlow 1.13 is not actively supported. please update TensorFlow to 2.x or v1.15 . Thanks!

[2020-08-05 18:09] lissyx commented on #41926
Facing the same issue on CI where we also use Ubuntu 16.04 + GCC 5.4.0

[2020-08-05 18:10] lissyx commented on #41926
@Saduf2019 Your two links are completely different issues.

[2020-08-05 18:11] lissyx commented on #41926
According to https://github.com/HowardHinnant/date/issues/477 it might be because of GCC itself.

[2020-08-05 18:13] amahendrakar commented on #41937
@Shikaz,
Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/40920#issuecomment-653279389) from a similar issue and let us know if it helps. Thanks!

[2020-08-05 18:16] AakashKumarNain commented on #41746
This seems to be a long standing issue. Is there any roadmap for this to track?

[2020-08-05 18:32] ymodak commented on #42049
Did you change your directory to tensorflow before running make command?
`cd tensorflow`
`make -f tensorflow/lite/micro/tools/make/Makefile TARGET=sparkfun_edge hello_world_bin`

[2020-08-05 18:34] bramandia commented on #40830
Hi Gunan, I checked with Ayush, he is not deeply involved in the NUMA effort as well as SIG networking.

[2020-08-05 18:39] gunan commented on #40830
Goldie, Could you help us find the SIG networking contact for this issue?

[2020-08-05 18:49] WHSnyder commented on #40555
@impjdi Thanks for the update!  My apologies for the lag in this response.  Just to be clear, the ```gl_delegate.cc/.h``` files will be removed, but most/all files in ```delegates/gpu/gl/``` will stay for use in the v2 delegate?  I ask because developed a new ```MEAN``` GLSL kernel that runs fast enough for real-time style transfer on Android phones, and I don't want dig into the official testing

[2020-08-05 19:05] ymodak commented on #42056
@yeyupiaoling Can you please attach the full stacktrace? Thanks!

[2020-08-05 19:10] ymodak commented on #42024
@Namburger Thanks for your help.
@ZhouKai90 I will close this issue since you have a more helpful dialogue on another thread. Thanks!

[2020-08-05 19:10] #42024 closed

[2020-08-05 19:11] amahendrakar commented on #41914
@mohamed199215,
On running the code with TF v1.15, I am facing an error while importing the `hyperas` module. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/6ad617fe5497dd242a4e05b134ad2619/41914.ipynb).

Could you please share the required dependency versions? Alternatively, you can also run the code on Colab and share the notebook with us. Thanks!

[2020-08-05 19:12] av8ramit commented on #18373
https://github.com/tensorflow/tensorflow#continuous-build-status

[2020-08-05 19:19] jdduke commented on #42057
@multiverse-tf can you take a look?

[2020-08-05 19:19] jvishnuvardhan commented on #41723
@UdayKiranPadhy There are many tutorials on how to plot weights. For example, Can you please follow this [resource](https://machinelearningmastery.com/how-to-visualize-filters-and-feature-maps-in-convolutional-neural-networks/).

Please feel free to close the issue if this resolved the issue for you. Thanks!

[2020-08-05 19:29] hyang0129 opened #42070 "Universal Multiple Optimizer Wrapper with Layer Assignment"
I am proposing a universal wrapper for a layer-wise set of distinct optimizers. This will allow each optimizer in a set of optimizers to apply the gradient to its layer-wise variables. This will enable discriminative layer training. It will also enable any training method that applies any combination of optimizers to any combination of layers at any combination of hyperparameters for those optimiz

[2020-08-05 19:30] mohamed199215 commented on #41914
please see the updated comment above since hyperas module is removed, it is not needed in this code.
please try again and let me know if errors found.

[2020-08-05 19:31] goldiegadde commented on #35680
@00krishna  Keras Preprocesing layers are released in TF 2.3.0 release. Check the [release notes](https://github.com/tensorflow/tensorflow/releases/tag/v2.3.0) for details.
In addition you can also checkout the FC to Preprocessing Layers [migration guide](https://github.com/tanzhenyu/community/blob/5507ba06c8f43830f4a77ea85bc8d345f5b60765/rfcs/20191212-keras-categorical-inputs.md)

"Feature column

[2020-08-05 19:34] amahendrakar commented on #41991
@shoother813,
Please create a virtual environment and then try installing TensorFlow in it, and check if it works. Thanks!

[2020-08-05 19:41] #41720 closed

[2020-08-05 19:46] impjdi commented on #40555
That is correct.  We probably can't remove OpenGL in favor of OpenCL, because OpenCL is not available on all Android devices.

[2020-08-05 20:08] dipendra009 commented on #41838
I have already uploaded the saved model file and the code I am using is tensorflow/lite/python/tflite_convert.py from TF 2.3.0 as mentioned in the issue. The model is successfully loaded by the converter but it gives the segmentation fault while trying to convert it to tf-lite format.

[2020-08-05 20:09] ymodak commented on #41985
@mohitgithubprojects Thanks for your issue.
The code needs to be tweaked for implementing front camera as you tried.
Perhaps you may try referring this [thread](https://stackoverflow.com/questions/37103571/android-front-camera-images-are-being-saved-upside-down) for custom code implementing the front camera.
Currently this is [not supported](https://github.com/tensorflow/examples/blob/4fd91657a324

[2020-08-05 20:13] 8bitmp3 commented on #41257
@guptapriya I really like this idea - it's simple and may help with future potential issues, such as https://github.com/tensorflow/tensorflow/issues/39922.

What do you think about adding this one sentence at the end (I've included two existing paragraphs for context):

[code]

Thank you!

[2020-08-05 20:21] ymodak commented on #41976
@RayLucchesi TF 2.4 version is a nightly version which is unstable. Perhaps you may want to try with latest stable TF 2.3 version for building with source?

[2020-08-05 20:28] aaudiber commented on #41843
Hi @vladbph, I get permission denied when I try to access the colab. Can you make it publicly accessible? Thanks.

[2020-08-05 20:33] 8bitmp3 commented on #41376
@lamberta Let me know if a small PR would make sense.

The diffs:

[code]

[code]

[code]

[code]

WDYT? Thanks @lamberta

[2020-08-05 21:00] beew commented on #41926
@lissyx

I have tried multiple versions of gcc but still not working.

I tried to compile with gcc-9.3.0 installed in custom location but bazel said
[code]
I then tried gcc-7.5 and it said libstdc++.so.6 is missing GLIBCXX_3.4.26 (which is supported for libstdc++.so.6 in gcc-9.3.0)

[2020-08-05 21:02] lissyx commented on #41926
Using backported gcc-6 from ubuntu toolchain team worked for me: https://launchpad.net/~ubuntu-toolchain-r/+archive/ubuntu/test?field.series_filter=xenial

Just install gcc-6, g++-6 and either setup alternatives for gcc/g++ or `CC=gcc-6 CXX=g++-6` should do the trick.

[2020-08-05 21:16] nikitamaia commented on #41812
Hi @Flamefire, thanks for pointing this out. Partial batches are now supported with MWMS. A documentation change has just been submitted and I will update this thread when it goes through.

[2020-08-05 21:18] 8bitmp3 commented on #29688
I've noticed the [guide](https://www.tensorflow.org/guide/data#parsing_tfexample_protocol_buffer_messages) has been revamped and `tf.FixedLenFeature` -> `tf.io.FixedLenFeature`:

<img width="500" alt="image" src="https://user-images.githubusercontent.com/19637339/89464927-26c1e280-d769-11ea-9573-47f7be07898e.png">

Closing the issue! @ymodak @dynamicwebpaige

[2020-08-05 21:18] #29688 closed

[2020-08-05 21:19] djzenma opened #42075 "Hello World example project's generated binary is empty for Bluepill"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOs Catalina version 10.15.3
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): 89851a6a7725d92735e9817ee6a1f551dd7492ab
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Bluepill

**Describe the problem**
When I build the Hello Worl

[2020-08-05 21:29] nico-unity commented on #33491
In tf.2.2.0 it's seems to be solved.

[2020-08-05 21:32] summa-code opened #42076 "Tensorflow BROKE... for CUDA 11.0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-08-05 21:34] amitDaMan commented on #42064
Additional Information: I was able to successfully build the C++ shared libraries with command:
bazel build -c opt --config=android_arm64 //tensorflow/lite:libtensorflowlite.so

[2020-08-05 21:37] njeffrie commented on #42009
Looking at your wrapper code I don't see anything that stands out immediately. Can you share the Collab notebook where you train the Keras model?

Also, how are you running the model? Before running on hardware I typically try to run on my host machine using:
make -f tensorflow/lite/micro/tools/make/Makefile TARGET=posix test_<binary name> -j18
where binary name is found in the Makefile.inc for yo

[2020-08-05 21:41] bhack commented on #42068
Probably you need to consider https://github.com/tensorflow/tensorflow/issues/27416#issuecomment-565255351.
I don't know if the tutorial could be updated.

[2020-08-05 21:44] tomerk commented on #37393
This issue should now be fixed in the nightlies, as we've enabled the Functional API refactoring I mentioned above.

[2020-08-05 21:44] #37393 closed

[2020-08-05 21:52] bhack commented on #42076
Are you using CUDA 11.00? Have you compiled the source from master?
See https://github.com/tensorflow/tensorflow/issues/42047

[2020-08-05 21:53] summa-code commented on #42047
NVIDIA pretty much pushed CUDA 10 out of the view. This team needs to have tf-nightly with CUDA 11. A lots of bugs are being introduced because of this not being to CUDA 11.

[2020-08-05 21:55] summa-code commented on #42076
Yes, i just did like 30 minutes ago.

[2020-08-05 22:03] ymodak commented on #40676
If still using `%` op in your code try setting custom_op flag true and convert again.
`python
converter.allow_custom_ops = True
`

[2020-08-05 22:14] abattery commented on #41449
@ow4g18 Thank you for sharing! Could you try conversion with explicitly setting signature_keys and tags arguments?

[2020-08-05 22:21] bhack commented on #42046
@dwyatte Have you seen https://github.com/tensorflow/hub/issues/648?

[2020-08-05 22:23] ymodak commented on #41196
Just to clarify, your cuda and cudnn version mismatch issue is solved and now you are not seeing maximum gpu utilization is that correct?
If that is the case can you try [manual device placement](https://www.tensorflow.org/guide/gpu#manual_device_placement)?
[code]

[2020-08-05 22:27] bhack commented on #42066
https://community.arm.com/developer/ip-products/processors/b/ml-ip-blog/posts/building-bazel-and-tensorflow-2-x-on-aarch64

/cc @gunan

[2020-08-05 22:30] gunan commented on #42066
@bhack, I think that is a common issue for all build frameworks, no?
If there is a compiler flag, you can always set the flag to limit compiler memory usage with `--copt`
How does cmake/make handle this?

[2020-08-05 22:36] RayLucchesi commented on #41976
@ymodak I was just following instructions on the website I indicated above. I'd like to try to rebuild from source from TF2.2 as TF 2.3 seems to have a similar problem.

 How would one build with a different level than what's current?   I guess use "git fetch" with either "git merge v2.2" or "git merge v2.3" instead of "git pull" as per the instructions in https://www.tensorflow.org/install/source

[2020-08-05 22:43] clgilbe opened #42079 "tensorflow.lite.python.convert.ConverterError: <unknown>:0: error: loc("Func/StatefulPartitionedCall/input/_0"): requires all operands and results to have compatible element types"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- TensorFlow installed from (source or binary): Anaconda
- TensorFlow version (or github SHA if from source):  tf_nightly_gpu-2.4.0.dev20200805-cp37-cp37m-win_amd64.whl

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[2020-08-05 22:44] bhack commented on #42066
@gunan Other than globally reducing jobs (or going ahead to explore --copt for finentuing compiler settings) I think that there could be some "clustering tricks" if you have some domain information. E.g. see Blender with Ninja https://developer.blender.org/D4780?id=

[2020-08-05 22:56] bhack commented on #42066
@gunan Do you know some internals of the Bazel (very crude) estimates heuristic on the single job?

https://docs.bazel.build/versions/master/user-manual.html#flag--jobs

[2020-08-05 23:02] Smankusors commented on #42066
Eh alternatively, I could futher reduce the RAM usage by using `--local_cpu_resources` instead of `--local_ram_resources`. I think this should be mentioned on the install documentation?

[2020-08-05 23:03] raydjr opened #42080 "File "/home/ray/anaconda3/envs/tf1/lib/python3.8/site-packages/tensorflow/python/feature_column/dense_features.py", line 30, in <module> class DenseFeatures(fc._BaseFeaturesLayer): # pylint: disable=protected-access AttributeError: module 'tensorflow.python.feature_column.feature_column_v2' has no attribute '_BaseFeaturesLayer'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (

[2020-08-05 23:03] tomerk commented on #39458
Hi @ironbar the experimental_relax_shapes lazily relaxes shapes as it sees them, so it may still take a few examples of different shapes to fully relax.

If you manually wrap your `model.call` with a `tf.function` and call your model directly instead of `predict`ing, you can directly specify the`input_signature` arg to match your data:
tensorflow.org/api_docs/python/tf/function

This will allow yo

[2020-08-05 23:04] #39458 closed

[2020-08-05 23:06] acxz opened #42081 "[ROCm] Cannot find rocm library hip_hcc"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- Mobile device (e.

[2020-08-05 23:07] Sixaxis9 commented on #41932
Update on the issue. I manage to solve the problem and to compile the C files within the uC project. I run the make with the TAGS=cmsis-nn and TARGET=sparkfun_edge (since my board has a Cortex M4-F, same as Sparkfun edge) and imported the folders "tensorflow" and "third_party" in the my project directory from the Kiel folder created by the makefile. After some dependancy fixing I successfully buil

[2020-08-05 23:07] #41932 closed

[2020-08-05 23:09] RayLucchesi commented on #41976
maybe use "git fetch" with "git merge v2.2.0-rc4"?

or can I just do "git pull refs/tag-/v2.2.0-rc4"?

[2020-08-05 23:16] bhack commented on #42066
@Smankusors I don't know if in your case there is a specific error on this API call cause you are inside the virtual machine. If you see this line of code the exception don't print any warning:
https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/actions/ResourceManager.java#L392

[2020-08-05 23:20] bhack commented on #42066
@Smankusors Can you test with `--experimental_local_memory_estimate`?

[2020-08-05 23:23] #41550 closed

[2020-08-05 23:47] lissyx commented on #41926
@beew You can also take a look at the header, there is support for disabling `constexpr` in some cases, I might use that and add a hack.

[2020-08-06 00:00] JanSo19 commented on #38312
Support for stateful LSTM would be greatly apreciated..

[2020-08-06 00:02] MeghnaNatraj opened #42082 "QAT conversion RuntimeError: Quantization not yet supported for op: 'DEQUANTIZE' issue with tf-nightly"
**UPDATE**

**You can now fully quantize QAT models trained in any TF 2.x version. However, this feature is only available from TF version `2.4.0-rc0` onwards (and will be available in the final TF 2.4 release as well).**

**You will not require any workaround, i.e, you don't have to use TF 1.x**

To verify that your TF version supports this, run the following code and check if runs successfully:

[2020-08-06 00:10] bhack commented on #42061
https://github.com/tensorflow/tensorflow/issues/39064

[2020-08-06 00:12] gunan commented on #42066
I do not know about the internal bazel heuristics, but bazel by default sets the value of jobs to value of CPU.
I have seen (similarly with cmake) that for smaller systems this is still too much, so you have to further limit, by doing --jobs=1 or 2

[2020-08-06 00:14] khanhlvg commented on #41110
@InternetMaster1 Did I answer your question in [this comment](https://github.com/tensorflow/tensorflow/issues/41110#issuecomment-660772317)?

[2020-08-06 00:52] yeyupiaoling commented on #42056
@ymodak hi，this is log：

![image](https://user-images.githubusercontent.com/26297768/89478269-1a1da880-d7c2-11ea-9604-09db1854d22e.png)

[2020-08-06 00:56] #41883 closed

[2020-08-06 01:25] MeghnaNatraj commented on #42082
@sayakpaul

I can reproduce the issue and will get back to you when I resolve this.
https://colab.research.google.com/gist/MeghnaNatraj/8458ad508f5355769a980400d4d9d194/qat-bad-accuracy.ipynb

Possible issue:
 If you remove the `TFLITE_BUILTINS_INT8` (don't enforce INT8) -- it works fine. The issue is that the model has 2 consecutive quantize at the beginning and 2 consecutive dequantize at the en

[2020-08-06 01:53] tbenst commented on #24496
I had this same issue. I can say with certainty that the problem only occurs on my 2070 RTX, and NOT on a Titan RTX, running exactly the same code.

https://github.com/DeepLabCut/DeepLabCut/issues/837

[2020-08-06 01:53] MeghnaNatraj commented on #38285
@sayakpaul  I have created a separate issue here: https://github.com/tensorflow/tensorflow/issues/42082

[2020-08-06 01:56] EKami commented on #24496
Just upgrade to Tensorflow 2.3 with CUDA 11 and cudnn 8.0. It magically solved all my problems and I don't even need the workaround with `config.gpu_options.allow_growth = True` now.

[2020-08-06 02:05] cryandme commented on #41918
@amahendrakar，
I don't think my question has anything to do with the tensorFlow version,because I solidified the model (without calling the NETS module in TF.Slim), CKPT and PB had the same detection result,but Now the detection accuracy of PB decreases greatly when the model is solidified (nets in the called Slim).and the code used twice is exactly the same (CKPT to PB)
Also,I have sent l the com

[2020-08-06 02:21] rayeh5 commented on #38285
As my understanding of the "TensorFlow Lite 8-bit quantization specification", Weights are symmetric, but the Activations are asymmetric. Is it possible to support both as symmetric quantization?

Thanks for your time.

ruey-an

[2020-08-06 02:25] sayakpaul commented on #42082
Thanks! First of all, the notebook that I had provided to you was meant for reproducing the issue I was facing. Before releasing it publicly, I sure would have modified it a bit.

A couple of things:

Not sure about this since when I install `pip install tf-nightly` at the beginning of a Colab session (before doing anything) I have the nightly version gets reflected always. Is there anything speci

[2020-08-06 02:28] feiwofeifeixiaowo commented on #40622
still got following error with tf 2.3.0  tpu on colab.
[code]
Please, find the [gist ](https://colab.research.google.com/gist/feiwofeifeixiaowo/a7ef19b4cb13517a18eec4c6786ac6e0/tpu-train-delf.ipynb#scrollTo=jmU5sTUR9Gxw)here.Thanks!

[2020-08-06 02:29] MeghnaNatraj commented on #41840
I looked into `test_tf_lite_cpu.ipynb` and it looks like what you're doing seems fine.

[code]

Could try this the following in `test_tf_lite_cpu.ipynb` and get back to me with the results?
1. Create all 3 tflite models and run inference on them in the notebook on ~5 images. Have the code and outputs in notebook so I can review it. This will help us understand at which optimization it fails.
2. Fo

[2020-08-06 02:37] rxsang commented on #40622
From the trace, it seems you enabled tf summary inside TPU computation. Can you try calling `tf.config.set_soft_device_placement(True)` at the beginning, so outside compilation can be enabled?

[2020-08-06 02:50] #41845 closed

[2020-08-06 02:59] multiverse-tf commented on #41960
I see. As we primarily use Bazel, the support for Makefile is indeed generally behind Bazel BUILD rules.

I share my `riscv64_makefile.inc` below.

It looks like it's because XNNPACK isn't configured to support this option as suggested by "external/XNNPACK/BUILD.bazel:3031:1: Configurable attribute "deps" doesn't match this configuration (would a default condition help?)."

One way to bypass XNNPA

[2020-08-06 03:04] multiverse-tf commented on #41769
This is a great question! And we are working to resolve this issue w.r.t. whether to recommend using GPU delegate. At the moment, I really don't have a good answer to this. But I think GPU delegate generally delivers better performance on most recent mid-range+ phones with Android 9+.

Does TFLite extensively utilize vec4 computations in particular?
I don't know. @impjdi, could you help w/ this qu

[2020-08-06 03:14] summa-code commented on #42066
I have 64 GB, i never run out of Memory, it hovers around 14 to 15 GB when building. If you have 10GB, that may be low, because bazel server alone takes about 10G and check your Swap as well.

[2020-08-06 03:20] multiverse-tf commented on #42057
Hi Adam,

Thx for giving detailed instructions to reproduce the issue! While I am going to take a look at this, I'm just wondering is this reproducible w/ the Bazel build toolchain? Considering you're using the tensorflow:devel docker to do the compilation, I think it's quite simple to use Bazel then.

For example, as for the minimal.cc program, you could simply put it under "tensorflow/lite" dire

[2020-08-06 03:25] jeshxxx opened #42083 "Wrong JPEG library version: library is 90, caller expects 80"
I got this error when i call tf.image.decode_jpeg in my program which linked a libjpeg of version 90.
Tensorflow : 1.14
Opencv : 3.1.0

[2020-08-06 03:37] MeghnaNatraj commented on #38285
@suharshs could you respond to this question?

[2020-08-06 03:59] jvishnuvardhan commented on #42053
@becker929 Thanks for creating this issue.
Root-cause of this issue is that the `validation_data` was provided as a list where as  `validation_data` needs to be a tuple. Please check the argument of `modell.fit`[here](https://www.tensorflow.org/api_docs/python/tf/keras/Model).

I updated `validation_data` argument within the `model.fit` from `validation_data=[val_x, val_y]` to `validation_data=(va

[2020-08-06 04:06] Smankusors commented on #42066
Hmm... I will try this later

Interesting, how many CPU cores do you have? I see mine around 2-3 GB used by Bazel server

[2020-08-06 04:13] beew commented on #41926
@lissyx
Hi,

Compiling with gcc-6.5 works, however, update alternatives is not enough,  I got the error
[code]
So I had to make a conf file in /etc/ld.so.conf.d with /path/to/gcc-6.5.0/lib64 followed by sudo ldconfig

Build was successful, but I am wondering if it will have other side effects by leaving this version of libstdc++.so.6 in the ld path? (tensorflow 2.3 won't run without it)

[2020-08-06 04:19] Smankusors commented on #42041
Btw I don't see you execute `configure` from step 3 of Linux, at docs you mentioned.

[2020-08-06 04:22] arshagarwal commented on #41957
Thanks for taking the time, here is the google colab gist.

[2020-08-06 04:22] summa-code opened #42084 "Tensorflow is BROKE ...."
Stuck here, tf-nightly is not compatible with CUDA 11.0 and the latest code is broke....

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): One line ?
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): Latest as

[2020-08-06 04:28] summa-code commented on #42084
If it is not bug what is ? it used to work two days ago....

[2020-08-06 04:43] vybhav72954 commented on #41988
Thank you, it works @amahendrakar
Though am asking too much, but is possible can you put some light on what was wrong here?

[2020-08-06 04:43] #41988 closed

[2020-08-06 04:44] beew commented on #41950
@Saduf2019

No change. But may be I get you wrong, replace keras by tf.keras where? Everywhere?

[2020-08-06 04:49] MeghnaNatraj commented on #42082
Great points! Yes, you can choose what you think works best --- eg: I learnt many new things from your tutorial (loading TFDS datasets with the [:85%]..method! who knew! :))

For the representative dataset -- Would `.take()` work? https://www.tensorflow.org/datasets/overview#as_numpy (ignore the `as_numpy()` part... just wanted to show an example usage)

[2020-08-06 04:57] cathy-kim opened #42085 "[TFLite] Error: TfLiteGpuDelegate Init: MUL: 1024x131 cannot be reduced to linear."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-08-06 05:00] sayakpaul commented on #42082
Yes, `take()` should work as well. Having a note in the documentation on handling large datasets while creating the representative dataset would help. The representative dataset generation can get non-trivial at times and here's [an example](https://github.com/sayakpaul/Adventures-in-TensorFlow-Lite/blob/master/Magenta_arbitrary_style_transfer_model_conversion.ipynb) (which I am sure you are alrea

[2020-08-06 05:02] tulasiram58827 commented on #33494
@jdduke I planned for deploying my model in cpp enviornment. I want to converty my ctc model to tflite and use it in tflite runtime. I can easily convert my model to tflite by specifying this while conversion(converter.allow_custom_ops = True) but in runtime i am facing difficulties that this op is not registered. Please check this log.
Here is the error :
Traceback (most recent call last):
File "

[2020-08-06 05:31] ravikyram commented on #42084
@summa-code
Please take a look at the [tested build configuration](https://www.tensorflow.org/install/source#gpu) and try building TensorFlow with CUDA 10.1, and check if it works. Thanks!

[2020-08-06 05:57] jashiag commented on #36925
Getting error
raceback (most recent call last):
  File "C:\Users\Amlan\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\Amlan\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_impor

[2020-08-06 05:58] gowthamkpr commented on #42035
@albertz As mentioned here, can you please try sing GCC Compiler 7.3.1 and let me know if the issue still persists. Thanks!

[2020-08-06 06:13] jvishnuvardhan commented on #42027
@bersbersbers Can you please share a simple standalone code to reproduce the issue? Thanks!

[2020-08-06 06:21] Saduf2019 commented on #41950
@beew
Yes beew everywhere in the code.

[2020-08-06 06:24] ravikyram commented on #42068
I have tried in colab with TF version 2.3, nightly version(`2.4.0-dev20200805`) and it displays only `1 block [sequential] `when we execute `tf.keras.utils.plot_model(model, show_shapes=True, show_layer_names=True)`.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/ad694d97ade05d0fb7590e23f5ad0a7e/untitled223.ipynb).Thanks!

[2020-08-06 06:30] drakkan commented on #34742
This is fixed compiling with `--config=noaws --config=nogcp --config=nohdfs`

[2020-08-06 06:30] #34742 closed

[2020-08-06 06:32] sambhusuryamohan opened #42086 "Person detection training doesn't converge. Evaluation showing accuracy of 52% after 1M steps"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): Docker installation
- Tensorflow version (commit SHA if source): 1.14.0
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): None

**Describe the problem**
I have done the training as exactly as in the document https://github.

[2020-08-06 06:36] ravikyram commented on #42076
@summa-code

Please try building TensorFlow with CUDA 10.1, and check if it works. Thanks!

[2020-08-06 06:54] amahendrakar commented on #42022
@msg555,
Thank you for the update.

I was able to reproduce the issue with TF v2.3, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/6c18a1fd9f1a94c7fe5e942118239bee/42022.ipynb). Thanks!

[2020-08-06 06:57] bersbersbers commented on #32117
With TF 2.3, I don't get "Empty training data." any longer - I now get "UnboundLocalError: local variable 'logs' referenced before assignment" (see #38064).

[2020-08-06 07:04] Saduf2019 commented on #33929
@bloc97
I have tried the code on tf 2.3 and do not get any nan values as output, can you please refer to this gist and confirm if it resolves the issue.
Please find the [gist here](https://colab.research.google.com/gist/Saduf2019/0cc40cbbc833655d43a7b5567d5f212e/untitled321.ipynb)

[2020-08-06 07:06] summa-code commented on #42076
@ravikyram Are you serious with your statement ? Come on, give me a break. Tell me officially that Tensorflow is NOT compatible with CUDA 11.0. And i stated that NVIDIA took 10.X out of the view and 11.0 is the latest.

[2020-08-06 07:10] bersbersbers commented on #37311
I have a similar idea for the Keras interface: instead of
[code]

it would be nice to be able to do
[code]

And I think all it takes in this examples is a simple `return(self)` here:
https://github.com/tensorflow/tensorflow/blob/b36436b087bd8e8701ef51718179037cccdfc26e/tensorflow/python/keras/engine/training.py#L462-L470
https://github.com/tensorflow/tensorflow/blob/b36436b087bd8e8701ef51718179037

[2020-08-06 07:13] sambhusuryamohan commented on #42086
Sorry my mistake there was a typo in checkpoint_path argument. Now I am getting 81%.
One additional change to training_a_model.md. Changed the argument --train_image_size to --eval_image_size.

[2020-08-06 07:13] #42086 closed

[2020-08-06 07:13] ravikyram commented on #42081
@acxz

Can you please refer similar issue #27352 and see if it helps you.Thanks!

[2020-08-06 07:16] bersbersbers commented on #42027
@jvishnuvardhan sure:

[code]

![image](https://user-images.githubusercontent.com/12128514/89502519-69b1a380-d7c5-11ea-90d4-c6cf6cd8419b.png)

Note bias and kernels - no activations

[2020-08-06 07:23] tbenst commented on #24496
unfortunately, I need to run code that only supports tensorflow 1.13

[2020-08-06 07:26] ravikyram commented on #36925
@jashiag

Can you please raise a new issue by filling [issue template.](https://github.com/tensorflow/tensorflow/issues/new/choose).Thanks!

[2020-08-06 07:29] Saduf2019 commented on #41957
@arshagarwal
I ran the code shared,please find the [gist here](https://colab.research.google.com/gist/Saduf2019/6435a924960d7155a6603fe778066a2b/untitled325.ipynb).
Please confirm if this replicates the issue.

[2020-08-06 07:50] bergfita commented on #42061
Thanks, it seems that the following works:

[code]

Is there an explanation why this works and my original code does not? I'd like to understand the underlying issue a bit more (if at all possible). Is this expected behavior? The docs seem to encourage decorating the class methods, e.g. https://www.tensorflow.org/guide/saved_model#saving_a_custom_model, thus I'm a bit surprised that this actually

[2020-08-06 07:54] Saduf2019 commented on #42037
@zhilothebest
I ran the code shared on colab for 2.2 as shared ans 2.3 and do not face any error, please find [gist here](https://colab.research.google.com/gist/Saduf2019/1d5726ea6a790c644ebeb9cd9feefd5a/untitled328.ipynb).

[2020-08-06 07:56] arshagarwal commented on #41957
Yes, this is exactly what I am trying to report.

[2020-08-06 07:59] zh794390558 commented on #19567
Does this solved?

[2020-08-06 08:02] ravikyram commented on #42045
I have tried in colab in TF nightly version and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/344dbdae13ebdbf0eaf032ff506084c8/untitled224.ipynb).Thanks!

[2020-08-06 08:04] Saduf2019 commented on #42037
With respect to the error shared, please refer to below links:
[link](https://stackoverflow.com/questions/52365277/valueerror-dimension-2-in-both-shapes-must-be-equal-but-are-3-and-32 )[link1](https://github.com/titu1994/Image-Super-Resolution/issues/27)

[2020-08-06 08:13] Saduf2019 commented on #41983
@Roshan1986
I do not have access to the gist shared.

[2020-08-06 08:17] Saduf2019 commented on #42021
@ashispapu
Please share the colab gist for us to replicate the issue faced.

[2020-08-06 08:38] SRJaffry opened #42087 "ImportError: DLL load failed: The specified module could not be found."
I am getting the following error when trying to import tensorflow. I have tried many solutions and non seem to work.

I have seen Issue #22794, but it does not seem to help.

Versions -- > python 3.7.4 -- > tensorflow 2.3.0

I tried to reinstall the tensorflow, downgrade,  and upgrade as well. Nothing seem to work, unfortunately.

[2020-08-06 08:51] stefano555 commented on #41840
Hi @MeghnaNatraj I am currently on holiday but I'll get back to you as soon as possible. Please keep the issue open in the meantime.

[2020-08-06 08:53] kaka-lin commented on #37794
@mcbe1985 How do you solved it?

I have the same issue

[2020-08-06 09:02] mcbe1985 commented on #37794
In most cases there's a mistake in your annotations (as was the case here). For the github issue and repo where I figured it out check https://github.com/zzh8829/yolov3-tf2/issues/214

Hope that helps.

[2020-08-06 09:12] ravikyram commented on #42087
@SRJaffry

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See[ hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here.](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
.Also, please fol

[2020-08-06 09:12] m4gr4th34 commented on #41108
Apparently this is because CUDA is being run on a VM, according to these discussions.  I wish I had found this before installing WSL2 and cuda the past few hours.  It seemed too good to be true, and I guess it is.  :)  At least at this point.  I guess it's dual boot Debian for me now.

https://www.phoronix.com/scan.php?page=news_item&px=WSL2-CUDA-Perf-Early-Look

[2020-08-06 09:17] kaka-lin opened #42088 "Problem with tf.train.FloatList Precision"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-08-06 09:19] kaka-lin commented on #37794
Hi @mcbe1985,

Sorry I am not describe clear my issue.
I already open a new issue #42088

[2020-08-06 09:42] zzoon91 commented on #41960
It worked! Thanks
Though I also had to remove some other delegates as well, like hexagon.

But I found that bazel can only generate shared libraries, which is quite hard to deploy in my machine.
Is there a workaround to statically build the tests?

If not, what should I include to build some executables with my delegate?
libtensorflow-lite.a of course, and then?

[2020-08-06 10:00] multiverse-tf commented on #41960
Great to hear this! Might consider contribute your RISC-V toolchain configuration back to TF :-)?

Have you tried adding "linkstatic=True" to your rule? By default, I think bazel generates shared libraries.

We have plans to support CMake in TFLite in the near future.

[2020-08-06 10:12] essandess opened #42090 "Build Failure of version 2.3.0 in macOS, MacPorts"
Version 2.3.0 fails to build on macOS.

First issue, `Action failed to execute: java.io.IOException: Cannot run program… error=24, Too many open files`:
[code]

This is with system settings:
[code]

Starting the build again, another issue is encountered, apparently arising from https://github.com/tensorflow/tensorflow/pull/40654.

Second issue, `error: no matching function for call to object of ty

[2020-08-06 10:17] micbia commented on #30388
Hi,

I had the same issue and I think I figured out a way around it. In my case, I am working on an HPC and I intalled keras on my /.local, whereas Tensorflow and CUDA are installed by the IT staff, anyway I encountered the same error above. I am using **Tensorflow==1.15.0** and **Keras==2.3.1**

I noticed that the message error:
- ValueError: To call `multi_gpu_model` with `gpus=2`, we expect the

[2020-08-06 10:27] Saduf2019 commented on #42088
I am able to replicate the issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/7b67b35ac33d672c9415f843453278a1/untitled329.ipynb)

[2020-08-06 10:31] SRJaffry commented on #42087
Thanks, I installed the latest distribution of Visual C++ from the link your shared and the problem seem to solve. Thank you.

[2020-08-06 10:31] #42087 closed

[2020-08-06 10:32] zzoon91 commented on #41960
Sure, I'll make a pull request after some minor cleanups

Could you be more specific about how to add linkstatic to a rule? To be honest, I'm not quite familiar with bazel, yet.
What I want to compile is `tensorflow/lite/kernels/fully_connected_test`

[2020-08-06 10:45] shepan6 opened #42091 "ValueError: slice index 0 of dimension 0 out of bounds. for 'strided_slice' (op: 'StridedSlice') with input shapes: [0], [1], [1], [1] and with computed input tensors: input[1] = <0>, input[2] = <1>, input[3] = <1>."
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Code provided by TensorFlow themselves. Tutorial link: https://www.tensorflow.org/tutorials/structured_data/feature_columns

-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Catalina v10.15.4
-   **TensorFlow installed from (source or binary)**:

[2020-08-06 10:51] amahendrakar commented on #42062
@ImMrMa,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2020-08-06 11:09] jpauwels commented on #12851
I stumbled on this discussion while searching for a built-in unzip operator, so I wanted to share my solution (actually two variants, can't decide which one is bettter). It works for shuffled datasets too, since it only iterates through the original dataset once.

You can use the Python unzip function as follows, which even works with batched datasets:
```feature_ds, label_ds = [tf.data.Dataset.fr

[2020-08-06 11:23] dakshvar22 commented on #4648
@marcsto I tried using your script and wanted the model to use a batch size of more than 1 and hence changed - `.batch(1)` to `.batch(batch_size)`.
For some reason the model does not receive new input on subsequent calls and the outputs from the model are completely destroyed on any call after the first call. If I send the same input in subsequent calls as the first call, then the output is fine.

[2020-08-06 11:28] ravikyram commented on #42091
@shepan6

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.

You can refer similar issue #34850, [link](https://stackoverflow.com/questions/55962508/valueerror-slice-index-0-of-dimension-0-out-of-bounds-while-using-google-colab) and see if it helps you .Thanks!

[2020-08-06 11:32] meteorcloudy commented on #41904
A related issue is https://github.com/tensorflow/tensorflow/issues/30246

I have an attempt fix here: https://github.com/meteorcloudy/tensorflow/commit/4b8e7bef11040c465453e973eb0c6ad43cfd3c96, could you please test if that helps?

[2020-08-06 11:35] shalushajan95 opened #42092 "getting input/output dtype as float32 after converting keras mnist model to integer quantized tflite model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):ubuntu 16.04
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source): 2.2

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]
import tensorflow as tf
import numpy as np

# Load

[2020-08-06 11:35] meteorcloudy commented on #41904
The basic idea of meteorcloudy@4b8e7be is to let Bazel parse all symbols from object files of a cc_library (unlike cc_binary, it will not include its transitive dependencies) and generate a DEF file that could be filtered (overcome the 64K symbol limit) and used for export symbols in tensorflow.dll.

[2020-08-06 11:37] amahendrakar commented on #42080
@raydjr,
Issues related to Tensorboard are tracked in the Tensorboard repo. Please submit a new issue from [this link](https://github.com/tensorflow/tensorboard/issues/new/choose) and fill in the template,so that we can track the issue there. Thanks!

[2020-08-06 11:44] Redbtkekana commented on #38518
I got this error when I upgraded from tf 2.2 to 2.3. I downgraded back to 2.2 and I am no longer getting the error.

[2020-08-06 11:51] bhack commented on #42088
@Saduf2019 I don't think it is a bug. @kaka-lin Check https://github.com/tensorflow/tensorflow/issues/12876#issuecomment-328295387

[2020-08-06 11:54] ScruffySilky commented on #42038
I'm 100% sure it has to do with my data_generator because running this example works fine it just I cant fit the data into memory https://github.com/ekohendratno/Screenshot-to-code-in-Keras/blob/master/floydhub/Bootstrap/bootstrap.ipynb

[2020-08-06 11:57] bhack commented on #42054
Can you try with:
`python -c 'from tensorflow.python import _pywrap_util_port; print(_pywrap_util_port.IsMklEnabled())'`

[2020-08-06 12:10] zzoon91 commented on #41960
I figured it out by adding `-static` in `default_link_flags_feature` in my `cc_config.bzl.tpl` :)

[2020-08-06 12:23] #41639 closed

[2020-08-06 12:34] amahendrakar commented on #42083
@jeshxxx,
TensorFlow v1.14 is not actively supported. Please upgrade to TensorFlow 2.x or v1.15.

In order to expedite the trouble-shooting process, please provide the complete code, the dataset you are using and the complete error log. Thanks!

[2020-08-06 12:38] amahendrakar commented on #42083
I was able to use `tf.image.decode_jpeg` without any issues with TF v1.15. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/e82b0db953601c538b6a25f82131b81d/42083.ipynb).

Also, take a look at [this thread](https://forum.qt.io/topic/52899/solved-wrong-jpeg-library-version-library-is-90-caller-expects-80) from a similar issue and let us know if it helps. Thanks!

[2020-08-06 12:41] #42080 closed

[2020-08-06 12:43] userwon opened #42093 "PIP Install incorrct hashes"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Linux Elementary OS 5.1 Hera
- Python version: 3.6
- Inst

[2020-08-06 12:54] amahendrakar commented on #42090
@essandess,
Could you please provide the exact sequence of commands / steps that you executed before running into the error?

Also, please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#macos) and check if you have the compatible dependencies installed, Thanks!

[2020-08-06 12:56] planetmarshall opened #42094 "Compilation and Linking errors in MSVC Debug builds"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10**
- TensorFlow installed from (source or binary): **Source**
- TensorFlow version: **2.3.0**
- Python version: **3.8.5**
- Bazel version (if compiling from source): **3.3.1**
- GCC/Compiler version (if compiling from source): **Visual Studio 2019**

Also reproduced in master (4be925e3)

**Describe the pr

[2020-08-06 12:59] adamp87 commented on #37103
Is it working for you guys? I just tried out the same test script with TF 2.3, installing with pip under WIN10 x64 and I get the same error:

`tensorflow.python.framework.errors_impl.InvalidArgumentError:  assertion failed: [predictions must be >= 0] [Condition x >= y did not hold element-wise:] [x (sequential/dense_1/BiasAdd:0) = ] [[-40.4073257][-30.1479664][-27.2313709]...] [y (Cast_4/x:0) = ]

[2020-08-06 13:01] korabelnikov commented on #42065
+1

[2020-08-06 13:02] amahendrakar commented on #42093
@userwon,
Try add `--no-cache-dir` flag to the command as shown below, and check if it works.
`pip install tensorflow --no-cache-dir`

Reference to similar StackOverflow issues [#1](https://stackoverflow.com/a/40184923), [#2](https://stackoverflow.com/a/40400414).

Thanks!

[2020-08-06 13:04] InternetMaster1 commented on #41110
Dear @khanhlvg ,

Many thanks for your reply.

The logic for blending was clear, but I wasn't aware how to implement the same in Java for Android

I will try our the code provided in your linked repo regarding blending

https://github.com/farmaker47/video_style_transfer/blob/28e38183a1186036b7ae76640d59b6ac5aac109a/styleTransferModule/src/main/java/com/george/lite/examples/video_style_transfer/lib

[2020-08-06 13:05] acxz commented on #42081
Although the issue there is similar, that issue is not helpful since it does not provide a solution to the problem just tries to go around it by saying use docker and post issue at the tensorflow-rocm repo (a corresponding issue wasn't posted either)

[2020-08-06 13:13] acxz commented on #42081
I opened up the following PR which resolves this for Arch Linux users. https://github.com/tensorflow/tensorflow/pull/42095

Let's have it go through the CI so that we can ensure it also works for other build configurations.

[2020-08-06 13:20] essandess commented on #42090
I have the enormous log file. What's the best way to transmit to you?

Also, this has all dependencies. The MacPorts build was working up until version 2.2.0.

[2020-08-06 13:27] userwon commented on #42093
That seems to of resolved the issue thank you, enjoy your day :)

[2020-08-06 13:27] #42093 closed

[2020-08-06 13:28] peter197321 opened #42096 "cross-compile Inference Diff tool"
Hello guys,

is it posible to cross-compile the [Inference Diff tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/evaluation/tasks/inference_diff) - I mean with bazel ...
If so, can you please indicate how?

Thank you

[2020-08-06 13:50] junhyk commented on #41960
I share [my repository](https://github.com/junhyk/tensorflow) which contains how I figured out to build TFLite using RISC-V toolchains with bazel.
My solution is a bit hacky way since I commented out lots of line related to XNNPACK . I don't think I can directly contribute to TF. Hopefully, someone would find a better way.

[2020-08-06 13:50] #41960 closed

[2020-08-06 13:57] Saduf2019 commented on #42088
@kaka-lin
Can you please update as per above comment.

[2020-08-06 14:22] gregburman opened #42098 "[Tensorflow Lite] MobileBert Inferencing Latency on mobile device significantly slower than expected"
I am trying to run the BERT Question and Answer demo outlined on [this page](https://www.tensorflow.org/lite/models/bert_qa/overview), which demonstrates inferencing MobileBert on a mobile device.

I have cloned the relevant Android repository code found [here](https://github.com/tensorflow/examples/tree/master/lite/examples/bert_qa/android), and deployed the project to my Pixel 3 device.

The dem

[2020-08-06 14:27] amahendrakar commented on #42058
@pratapmalani,
Could you please check if the Anaconda version is also 64 bit? Thanks!

[2020-08-06 14:28] amahendrakar commented on #42055
@nbe000,
Please check [this comment](https://github.com/tensorflow/tensorflow/issues/38518#issuecomment-619538236) from a similar issue and let us know if it helps. Thanks!

[2020-08-06 14:32] isaacgerg commented on #37393
@tomerk   Many thanks for fixing this issue.  This fixes quite a bit of other bugs I had in my tensorflow codes!

[2020-08-06 14:33] amahendrakar commented on #42052
@MichaelJamesL,
Could you please run the below code snippet and share the output with us.

[code]

Thanks!

[2020-08-06 14:35] nicksahler commented on #41108
Ah - that's disappointing - but I'm not sure that's the sole reason given that VM performance overall is not much slower than bare-metal linux.

That said, I updated to the latest version of WSL and saw a decreates from about 60 seconds per iteration to 30 which is confidence building, but still painfully slow given the usual 2 seconds per iteration on this gpu.

[2020-08-06 14:36] alansplaza opened #42099 "SequenceFeatures cant get embedding with shared_embedding_columns"
[code]
with the code, tf cant get embedding value with shared_embdding_columns, for the reason
[code]
Why _SharedEmbeddingColumn isn't a type of fc?

[2020-08-06 14:38] nikitamaia commented on #41812
Closing this issue now because [documentation](https://www.tensorflow.org/tutorials/distribute/input#partial_batches) has been updated to be consistent with the release notes. Thanks again for spotting this one!

[2020-08-06 14:38] #41812 closed

[2020-08-06 14:42] kintzinj commented on #33030
Hi, I am still facing the same issue. I have tested on TensorFlow 2.0, 2.2 and 2.3, with Windows (python 3.7) and Ubuntu (python 3.8) and there is a memory leak using model.predict().

I have built an API and my model is on the server side. Every time I call my prediction function using a simple request, the instance memory grows up.

Using tf.keras.backend.clear_session() didn't solve the issue.

[2020-08-06 14:43] MikhailStartsev commented on #41976
@RayLucchesi "git checkout v2.3.0", for example - see [https://www.tensorflow.org/install/source#download_the_tensorflow_source_code](https://www.tensorflow.org/install/source#download_the_tensorflow_source_code).

[2020-08-06 14:44] pratapmalani commented on #42058
@amahendrakar

I have used Anaconda3-2020.07-Windows-x86_64.exe to setup Anaconda.

Jupyter notebook is opening well.

import tensorflow in jupyter notebook is also throwing same error.

[2020-08-06 14:44] Mossi8 commented on #12570
Hi, have there been any updates on this topic? I would find it very useful to use this distributions.

Thanks!

[2020-08-06 15:10] dwyatte commented on #42046
@bhack Thanks for pointing out that issue -- I certainly think it's related.

[code]

I think there are two things going on:

1.) It looks like `tf.keras.layers.Input` as well as calling `tf.keras.Model.fit` on a model that relies on shape inference (i.e., no explicit input layers) insert an implicit batch dimension on the input, but calling a `tf.keras.Model model` like `model(x, y)` does not.
2.

[2020-08-06 15:29] MichaelJamesL commented on #42052
This is the result
[code]

[2020-08-06 15:40] will-cern opened #42101 "plot_model not connecting layers between models correctly"
Tested in tf 2.3.0

When building models from other models, the graph generated by `plot_model` does not create arrows between the correct outputs and inputs. See e.g.

[code]
outputs:
![image](https://user-images.githubusercontent.com/18280829/89551998-7bb23700-d803-11ea-961f-127eb8e71413.png)

As you can see, the first output of the first model isn't connected to the first output of the second m

[2020-08-06 15:45] MikhailStartsev commented on #41118
@gunan Okay, the linking problem is narrowing down. (1) If I build a no-CUDA-support dll, only the errors related to ensorflow::functor::SpaceToDepthOpFunctor and ensorflow::functor::DepthToSpaceOpFunctor remain, so that's something.
(2) I think I pinpointed where this comes from, but not sure, whether this is something that is on a logical level "wrong".  I am right now talking about just 4 files

[2020-08-06 16:01] amahendrakar commented on #42038
@ScruffySilky,
I was able to run the code without any issues on TF v2.3. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/39db0b14bce096a12d6f4c9961f687de/42038.ipynb). Thanks!

[2020-08-06 16:01] Shikaz commented on #41937
@amahendrakar - This is different error, i am getting CUDA_ERROR_UNKNOWN: unknown error , the one you shared is CUDA_ERROR_NO_DEVICE which was fixed by updating the driver.

Is installing on Centos differs than Ubuntu ? also is there a way to debug or get more insight on what CUDA_ERROR_UNKNOWN means

[2020-08-06 16:04] agarwalamit081 commented on #42041
I am using Windows with Visual Studio and BAZEL. I executed the commands on
windows cmd.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FD

[2020-08-06 16:06] ScruffySilky commented on #42038
Run below and you will get the error:

`model.fit_generator(generator, steps_per_epoch=steps, epochs=5, callbacks=callbacks_list, verbose=1)`

[2020-08-06 16:09] m4gr4th34 commented on #41108
It shouldn't be.  Passthrough of single GPU on VM seems to have been no-go till very recently, but seems like it's doable: https://www.youtube.com/watch?v=3BxAaaRDEEw
Caveat is to avoid conflict between host and VM using gpu at the same time; but given that WSL2 is such a tightly controlled env, and NVIDIA installs the driver on windows only, with only the CUDA toolkit installed in linux, I imagin

[2020-08-06 16:14] nicksahler commented on #41108
Yeah I all but gave up on GPU on WSL until they just cold announced it. I think cuda internal performance hinges more on NVidia now though; Regarding memory: what i ended up doing was using my intel graphics card plugged into my monitor to prevent windows from using any GPU memory, and then having Tensorflow and torch train on the main GPU as usual. The biggest offenders, though, are apps like Fir

[2020-08-06 16:20] #41649 closed

[2020-08-06 16:22] mjang2000 commented on #42010
The gist doesn't seem to run the method or load in images from a directory. I've attached the run on a TPU [here](https://www.kaggle.com/amyjang/bug-testing?scriptVersionId=40276706).

[2020-08-06 16:25] m4gr4th34 commented on #41108
I am reading how-to dual boot into Debian 10, I just want to get on with the coding and serving.  Hoping I wont miss windows too much.  I just need multi-gpu support easily setup for serving, without the 'freeze_support' headache and lack of native redis for streamers.  After many all-nighters, and with ridiculously puffy eyes, I just want things to work.  I'm looking forward to trying linux, it s

[2020-08-06 16:34] Saduf2019 commented on #42099
@alansplaza
Please paste the error message (using makrdown formatting around it) instead of screenshotting. Screenshots are not searchable so they don't help in looking for the issue and also don't help other people having the same error from finding about the issue.
Also please provide complete stand alone code such that we can replicate the issue reported, as i am facing different error, [gist f