[2022-04-18 05:41] 372046933 commented on #55505
@gadagashwini . Yes, here is what I executed:
[code]
The following error occurred
[code]

[2022-04-18 06:15] ahmadbajwa8282 commented on #55584
@mohantym thanks for the help. I have implemented Interpreter for reading model lets see the result how it works.

[2022-04-18 06:15] #55584 closed

[2022-04-18 06:16] mohantym commented on #50069
Hi @asimsultan ! Could you please share the BERT model you are trying to convert in TFLite model? I converted a BERT model to Lite for testing . Attaching [gist](https://colab.sandbox.google.com/gist/mohantym/971786f2350bdf11e1dd1b50d8eebf26/git_50069.ipynb) for reference . Thank you!

[2022-04-18 06:20] joonjeon opened #55648 "Gradients not computed upon `tf.concat()`"
Hi!

I am trying to re-write MAVNet (https://github.com/sudakshin/imitation_learning/blob/master/2.train_model/MavNet.py) into genuine Tensorflow (instead of TFLearn) and train it. Note that MAVNet consists of numerous `tf.keras.layers.Concatenate()`, which involves `tf.concat()`.
For some reason, gradient flow seems to break... and I just found out that the flow breaks whenever it passes `tf.conc

[2022-04-18 06:32] perestoronin commented on #55477
@[gadagashwini](https://github.com/gadagashwini)

[code]

[2022-04-18 07:14] tilakrayal commented on #55627
@sachinprasadhs ,
I was able to reproduce the issue in tf v2.7, v2.8 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/7e0af283303d49f7138ecc3fdea2b139/55627.ipynb).

[2022-04-18 07:23] #53080 closed

[2022-04-18 07:23] #55478 closed

[2022-04-18 07:50] gadagashwini commented on #55563
@ayaka14732,
Can you try to clear the bazel cache before building Tensorflow
`bazel clean --expunge`

[2022-04-18 07:57] tilakrayal commented on #55638
Hello @abuoeissa9 ,
I request you please follow the instructions mentioned in installation [document](https://www.tensorflow.org/install) for installing the latest tensorflow
version 2.8.Thanks!

[2022-04-18 08:03] ayaka14732 commented on #55563
As I replied before, I tried to clean the cache and it works for me.

[2022-04-18 08:17] rohanmuplara commented on #55615
@tilakrayal sorry for repining but I haven't been able to get it to work for any other image formats. I have also tried other formats here and they are still not working. I have added this https://colab.research.google.com/drive/13Y4ET8jAHZDq7qwUYgg8nuBkxqniUqGu#scrollTo=kTeKBHg-kcaG.

[2022-04-18 08:23] #55472 closed

[2022-04-18 09:05] Rares926 opened #55649 "Invalid number of inputs provided for running a SignatureDef, expected 4 vs provided 1"
### 1. System information

OS: Windows 10:
TensorFlow: 2.7:

### 2. Code

python version : 3.7.13  / 64 bit

#### Code used to create and convert transfer learning tflite model

[code]
Android Dependency:

implementation 'org.tensorflow:tensorflow-lite:2.7.0'

This is the android method that uses the extract signature.
[code]

Error got :

Invalid number of inputs provided for running a SignatureD

[2022-04-18 09:12] tilakrayal commented on #55622
Hello @umusa ,
You have provided multiple links for the code.Can you please confirm the reproducible code link or provide the complete here to reproduce the issue.Thanks!

[2022-04-18 09:23] #55422 closed

[2022-04-18 09:27] mohantym commented on #55644
Hi @gadagashwini ! Could you please look at this issue?

[2022-04-18 09:34] tilakrayal commented on #55643
Hello @xuanhuo ,
I have tried to execute the given code with another approach.Can you please find the [gist](https://colab.research.google.com/gist/tilakrayal/325755e4c75f32d2efde1c83714d7bbb/55643.ipynb) and let us know if it helps.Thanks!

[2022-04-18 09:40] Alavandar08 opened #55650 "FusedBatchNormV3 split/fuse to/from Cheaper primitive ops with TF-1.15/TF-2.8"
Hi,

I am doing Inference with Bert Large & Bert Base models with TF-1.15 and TF-2.8.

**Inference with Checkpoints:**
For TF-2.8, I observed set of primitive ops are Fused to single node FusedBatchNormV3 whereas in TF-1.15 fusion of primitive ops is not happening(The graph consists of Primitive ops).

**Inference with Frozen Graph:**
With frozen graph(.pb) the graph itself has FusedBatchNormV3 no

[2022-04-18 09:55] gadagashwini commented on #55549
@TheBlackPlague,
There are several factors that can contribute to low GPU utilization. Below are some scenarios commonly observed when looking at the [trace viewer](https://www.tensorflow.org/guide/profiler#trace_viewer) and potential solutions.
Take a look at [Tensorflow doc](https://www.tensorflow.org/guide/gpu_performance_analysis#2_debug_the_performance_of_one_gpu). Thanks!

[2022-04-18 09:59] TheBlackPlague commented on #55549
The issue is, it's not just low GPU usage, it's literally none.

[2022-04-18 10:10] gadagashwini commented on #48664
@npanpaliya,
Looks like issue is resolved, Take a look at similar thread [#45746](https://github.com/tensorflow/tensorflow/issues/45746#issuecomment-997969395). Thanks!

[2022-04-18 10:41] tilakrayal commented on #55620
@0smilingpig ,
We see that you are using tf version 1.14, where 1.x is not actively supported.Requesting you, please update to latest v2.x and let us know if you are facing same issue.Thanks!

[2022-04-18 11:02] #55571 closed

[2022-04-18 11:18] perestoronin commented on #55477
This issue resolved after apply all three patches:
1. https://github.com/ROCmSoftwarePlatform/rocRAND/pull/257
2. https://github.com/ROCmSoftwarePlatform/hipRAND/pull/11
3. tf-hip_hcc.patch
[code]

[2022-04-18 11:18] #55477 closed

[2022-04-18 11:19] tilakrayal commented on #55615
@rohanmuplara ,
On running the given code snippet, I am facing an error stating `FileNotFoundError: [Errno 2] No such file or directory`. Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/61f8e2745d17296e957284e7d4a73adf/55615.ipynb).

[2022-04-18 12:06] mohantym commented on #55649
Hi @chunduriv  ! Could you please look at this issue? It is replicating [2.6.3 ](https://colab.sandbox.google.com/gist/mohantym/7b2ec98ab84918f3e0af48d5f7bd3214/input_signature_issue.ipynb#scrollTo=2jPosPB8u-DG), [2.7](https://colab.sandbox.google.com/gist/mohantym/6778c34dc7a625f1016b28c523d5b60c/input_signature_issue.ipynb#scrollTo=lv_qQc5mhrrP) , [2.8](https://colab.sandbox.google.com/gist/moha

[2022-04-18 12:26] sushreebarsa commented on #55528
@zhucan Could you please confirm if it is a duplicate ticket of this issue #55524 ?
Thanks!

[2022-04-18 12:27] nsa-123 commented on #8385
I am also facing the same error.

python --version gave
`Python 3.7.0`

Tensorflow version is

(0.12.0)

I have already installed Microsoft Visual C++ Redistribution (x64) 9.0.30729.17/.6161 / .21022 /(x86) 30729.17/ (x86) 30729.6161

 Microsoft Visual C++ Redistribution2015-2019  (x64)  14.25.28508
 Microsoft Visual C++ Redistribution2015-2019  (x64)  14.31.31103

I have included path to all dlls

[2022-04-18 12:32] sushreebarsa commented on #55621
@OrazioLombardi Thank you for the update!
 From the error log it seems to be an issue with MSVC2019 , could you please  make sure that you are using the right GCC version as mentioned in the tested build configuration ?
Thanks!

[2022-04-18 12:34] rohanmuplara commented on #55615
You have to upload a sample image for that cell because it reads it locally. Wasn't sure how it was supposed to work otherwise.  https://user-images.githubusercontent.com/47044724/163808624-2f435116-f8cd-4cb2-9be0-116c16fe56fe.png

[2022-04-18 13:09] sylviemonet commented on #37726
I've realized that my problem is not depending on the tf.concat(). I was wrongly giving the shape of the gradient when I define customer gradient.

PS: In my opinion, because of the invisible of the process inside TF, we can not really trace what happened inside tensorflow and when something was wrong, the Error can not exactly represent the real issue.

[2022-04-18 13:12] rohanmuplara commented on #55615
@tilakrayal I have gotten rid of having to upload a sample image to make it easier. I also added a video https://www.loom.com/share/4b32b330a0e742cab2ea3a1a9af11b22 here. I am also happy to jump on google meet or whatever is required

[2022-04-18 13:23] #55479 closed

[2022-04-18 14:13] rohanmuplara opened #55651 "Not able to encode tensor in any type of image format that other libraries can understand"
I am trying to write a tensor to an image format As seen in colab in bottom, when I take the encoded bytes and write it a file using python, it doesn't work. Trying opening the image it gets corrupted. I have used gif, png, jpeg
When I use tf.io.write_file it works. I also tried taking a png and using tf.io_decode_png and than tf.io.encoding_png and the image string bytes differ from the original

[2022-04-18 14:17] mohantym commented on #42637
Yeah! I could replicate this issue in the [2.8 ](https://colab.sandbox.google.com/gist/mohantym/dc06b7051441919b4a677a61a485145b/tensorflow-ranking.ipynb#scrollTo=2Wr1rC6nqWKf)version . Thanks!

[2022-04-18 14:24] sushreebarsa commented on #55560
@gadagashwini I was able to reproduce this issue on colab using TF v2.7.0 , 2.8.0 and tf-nightly ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/428c2abe68f22930951688e3af851e39/55560.ipynb).Thanks!

[2022-04-18 15:10] nsa-123 commented on #48267
I am also facing the same error.

python --version gave
Python 3.7.0

Tensorflow version is

(0.12.0)

I have already installed Microsoft Visual C++ Redistribution (x64) 9.0.30729.17/.6161 / .21022 /(x86) 30729.17/ (x86) 30729.6161

Microsoft Visual C++ Redistribution2015-2019 (x64) 14.25.28508
Microsoft Visual C++ Redistribution2015-2019 (x64) 14.31.31103

I have included path to all dlls to envi

[2022-04-18 15:24] srcarroll opened #55652 "hlo-legalize-to-linalg is incorrect for mhlo::DotGeneralOp"
The usage of `i` in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc#L2945 and https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc#L2970 is incorrect.  You need another index, say `j` that only increments when `assigned_dims[i]` is false

[2022-04-18 15:38] bhack commented on #55639
On the TF side I add also https://github.com/keras-team/keras-cv/issues/258#issuecomment-1095117489 as it will be the next one.

[2022-04-18 16:23] #55285 closed

[2022-04-18 17:52] Mastiff37 commented on #55623
The actual code is on an offline machine, but I can try to gin up a toy example...

[2022-04-18 17:59] santhoshnumberone opened #55654 "Google Colab ValueError: faster_rcnn_inception_v2 is not supported for tf version 2. See `model_builder.py` for features extractors compatible with different versions of Tensorflow"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab (Default)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Google Colab (Default)
- TensorFlow version: 2.8.0
- Python version: 3.7.13
- Installed using virtualenv? pip? conda?: Google Colab (so pip)
- Bazel ve

[2022-04-18 18:09] no1nemo commented on #32052
I am having the same issue when running the trainer.py from the keypose repo from Google. [https://github.com/google-research/google-research/blob/master/keypose/trainer.py] I am running TF 2.8.0 and in conda

[2022-04-18 18:44] sachinprasadhs commented on #55576
Hi, Did you try it in the nightly version and did you find the same behavior.
Could you also let us know your Mac's processor. Thanks!

[2022-04-18 19:24] #55638 closed

[2022-04-18 19:30] rohanmuplara commented on #55651
@sushreebarsa anything I can do to make the issue more clear

[2022-04-18 19:43] sachinprasadhs commented on #55207
When the `jit_compile` is set to False XLA won't be used to perform operations.
I tried to reproduce the error using your code in colab by running the code as python script.
I was able to see some logs, but it did not have any trace of usage of XLA.
[Here](https://colab.sandbox.google.com/gist/sachinprasadhs/ad87e5a5065d3a46afc78ebde6f39d91/55207.ipynb) is the attached gist for reference. Thanks!

[2022-04-18 20:39] rthadur opened #55656 "test"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.6

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-04-18 20:39] #55656 closed

[2022-04-18 21:08] MihirUpasani commented on #45930
This seemed to work for me. Thank you @ithllc! You've saved my assignment! :)

[2022-04-18 22:31] pemoi1982jpm commented on #55520
Is there any update on this issue?
Thank you

[2022-04-19 00:21] froody commented on #55370
@sachinprasadhs is that "nightly" or "tpu_driver_nightly" in the tpu software version menu?

[2022-04-19 00:55] samuela commented on #55581
Thanks @chunduriv! What is the correct path for linux, python 3.10, CPU only?

[2022-04-19 01:30] sjhsbhqf commented on #25866
I just saw a discussion that may help you.

https://forum.faceswap.dev/viewtopic.php?t=1106

[2022-04-19 02:07] zjk000 opened #55658 "Got this BUG while attempting to save the model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): I don't know, I ran on a cloud server that I rent
- T

[2022-04-19 02:12] PatriceVignola opened #55659 "The callbacks in the training functions in kernels_experimental.cc unnecessarily transfer ownership of the tensors to the caller"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 16.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

5.1.0

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

[2022-04-19 02:20] tilakrayal commented on #55650
Hello @Alavandar08 ,
I request you, please specify the Use Cases/colab gist or share the link for the mentioned statement.It helps to debug the issue.Thanks!

[2022-04-19 02:25] sushreebarsa commented on #55651
@rohanmuplara
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2022-04-19 02:55] tilakrayal commented on #55615
@sachinprasadhs ,
I was able to reproduce the issue in tf [v2.7](https://colab.research.google.com/gist/tilakrayal/cf1fe8ad48178485690bb9f9553f04c6/55615_2_7.ipynb), [v2.8](https://colab.research.google.com/gist/tilakrayal/1e8292cafef6c3312b5756750d9a615f/55615-2-8.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/ce2f4f1b6d881c5504ef2866eeb2b6a1/55615_nightly.ipynb).Please fi

[2022-04-19 03:28] south-ocean commented on #54986
the output log as follows:
ERROR: /home/tensorflow-2.8.0/tensorflow/compiler/mlir/xla/BUILD:676:20: Linking tensorflow/compiler/mlir/xla/operator_writer_gen failed: (Exit 1): crosstool_wrapper_driver_is_not_gcc failed: error executing command
  (cd /root/.cache/bazel/_bazel_root/7e60a61be90f35a88e89e062446eed75/execroot/org_tensorflow && \
  exec env - \
    LD_LIBRARY_PATH=/opt/rh/devtoolset-7/ro

[2022-04-19 03:54] HoangTienDuc opened #55660 "Post-training quantization for efficientnet_lite give bad accuracy"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

tf 2.8

### Custom Code

No

### OS Platform and Distribution

ubntu 18.04

### Mobile device

None

### Python version

3.8.10

### Bazel version

None

### GCC/Compiler version

None

### CUDA/cuDNN version

None

### GPU model and memory

None

### Current Behaviour?

[code]
<

[2022-04-19 03:56] LQR471814 commented on #55500
well, I've solved the problem myself, so here's some things to watch out for when training your datasets in terms of memory usage.
1. `model.evaluate` for some reason, this uses a lot of memory. so if you're sure you can skip this step then try doing so.
1. the number of images used in the dataset (usually using more than 400 images will end up causing my script to crash)
1. `batch_size`, it's bet

[2022-04-19 03:56] #55500 closed

[2022-04-19 04:52] Alavandar08 commented on #55650
Hi @tilakrayal
As mentioned above one of the use case is set of primitive ops are Fused into single op FusedBatchNormV3 in Bert Large with TF-2.8
Here I am adding the before and after fusion of FusedBatchNormV3 with checkpoints snapshots for the reference

![FusedBatchNormV3-primitve_ops](https://user-images.githubusercontent.com/86424477/163922325-e0b6cfec-2331-4458-b850-0c3acba1d30b.png)

<img w

[2022-04-19 05:36] lu-wang-g commented on #46356
Sorry that I just noticed this issue. Seems like it's due to that Sceneform repackaged FlatBuffers, which conflicts with the official Flatbuffer Java time. I'll loop in the Sceneform team to take a look at this issue.

[2022-04-19 05:36] south-ocean opened #55662 "build tensorflow2.8 failed"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf2.8

### Custom Code

Yes

### OS Platform and Distribution

centos7.6

### Mobile device

_No response_

### Python version

3.7.12

### Bazel version

4.2.2

### GCC/Compiler version

7.3.1

### CUDA/cuDNN version

rocm5.0.2

### GPU model and memory

_No response_

### Cur

[2022-04-19 05:40] south-ocean commented on #54986
I also meet the question, do you have resolved it?

[2022-04-19 05:41] zhucan commented on #55528
Yes, because of I had compiled the tensorflow2.0 with verbs successfully. @sushreebarsa

[2022-04-19 05:44] sushreebarsa commented on #55528
@zhucan Could you please move this issue to closed status if it is resolved?
Thanks!

[2022-04-19 05:49] zhucan commented on #55528
But with the v2.8.0, I hadn't fixed @sushreebarsa

[2022-04-19 05:49] zhucan commented on #55528
[Tensorflow2.0.md](https://github.com/tensorflow/tensorflow/files/8510195/Tensorflow2.0.md)

[2022-04-19 05:51] zhucan commented on #55528
Chinese: https://github.com/zhucan/kubernetes-study/blob/master/Tensorflow2.0.pdf

[2022-04-19 06:40] tilakrayal commented on #55652
Hello @srcarroll ,
I request you,can you please feel free to submit a PR for the requested change is to be made.Thanks!

[2022-04-19 06:42] rohanmuplara commented on #55651
@sushreebarsa I actually think this more of a tensorflow core issue.  I can remove it from there if you prefer as this is a problem I am seeing in tensorflow core and people might encounter this even if they are not using tensorflow serving;

[2022-04-19 07:07] nsa-123 commented on #55642
I am trying to install tensorflow in Windows 7 ultimate
Python --verion return
Python 3.7.0

Tensorflow version is 0.12.0

I dont have Anaconda or conda environment installed on PC.

Project requirements prevent me going to colab/kaggle enviroments

I have path to all the requesite dll's in the PATH env variable

PATH=C:\Program Files (x86)\Common Files\Oracle\Java\javapath;F:\app\nakul\product\11

[2022-04-19 08:28] sushreebarsa commented on #55651
@rohanmuplara Thank you for the update!
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2022-04-19 09:23] #55486 closed

[2022-04-19 09:52] tilakrayal commented on #55654
Hello @santhoshnumberone ,

I request you,please download the models from the below link and let us know if the issue still persists.
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md
Also i request to look at this reference threat [1](https://github.com/tensorflow/models/issues/3250) and [2](https://github.com/tensorflow/models/issues/4056) with

[2022-04-19 09:54] tilakrayal commented on #55654
@santhoshnumberone ,
Thanks for opening this issue.This issue is more suitable for TensorFlow Models repo. I request you,please post it on Tensorflow Models repo from [here](https://github.com/tensorflow/models/issues/new/choose). Thanks!

[2022-04-19 10:15] ShikaBanana opened #55663 "tf.GradientTape.gradients()"

[2022-04-19 10:16] #55663 closed

[2022-04-19 10:23] #55454 closed

[2022-04-19 11:01] gadagashwini commented on #44932
@maxkaustav,
Given code works with Tf v 2.8.0. Please take a look at [gist](https://colab.research.google.com/drive/1ZTrFDPRwmwAulu3eQfWKTYD8pon0yy95?usp=sharing).
[code]

[2022-04-19 11:05] amitmate commented on #37706
@karimnosseir , do you need any more information on this?

[2022-04-19 11:15] tilakrayal commented on #55623
@Mastiff37 ,
 Please provide the update?Thanks!

[2022-04-19 11:23] #22000 closed

[2022-04-19 11:23] sushreebarsa commented on #4722
@xuancong84 Is this still an issue ?
Could you please have a look at this [link](https://www.tensorflow.org/api_docs/python/tf/einsum)  for tf.einsum and let us know if it helps?
Thanks!

[2022-04-19 11:38] OrazioLombardi commented on #55621
Hi @sushreebarsa. I have GCC installed by Cygwin.
Today I update GCC to the latest version and try to build tensorflow but nothing seems to change in the output.
By the way, in the tested build configuration for Windows, GCC is not metioned (GCC is mentioned only in Linux guide), are you sure that this could influence the building process?
How can I check that the right version of GCC is installed

[2022-04-19 12:04] chunduriv commented on #55591
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-04-19 12:10] iamdanniemirz commented on #47595
@fonghyalex
Hi Dear, I'm still stuck on this problem. can you share your solution with me so I run my quantized model on android? Thanks a Lot.

[2022-04-19 12:24] iamdanniemirz opened #55664 "java.lang.IllegalArgumentException: Error occurred when initializing ObjectDetector: Mobile SSD models are expected to have exactly 4 outputs, found 8"
I have quantized my custom trained TensorFlow model into tflite model using the following code but when I put my quantized tflite model into Tensorflow's Object detection android app with a label file, above mentioned error occurred in android studio. Please guide me to solve this problem. Thanks a Lot.

Custom Code used for quantization of TensorFlow model:

[code]

The Output which I got after a

[2022-04-19 12:24] sushreebarsa commented on #5443
@isabeaups Is this still an issue ?
Could you please have a look at this [thread](https://stackoverflow.com/questions/55549264/ultimate-flexibility-with-einsum-ellipses) and refer to this [link](https://www.tensorflow.org/api_docs/python/tf/einsum) ,please let us know if it helps?
Thanks!

[2022-04-19 12:33] sushreebarsa commented on #10597
@Scitator Estimators are not recommended for new code , could you please refer this [link](https://www.tensorflow.org/guide/estimator) and let us know if we can move this issue to closed status?
Thanks!

[2022-04-19 12:59] gadagashwini commented on #46719
@Litchilitchy,
Issue with the optimizers list.
`optimizer=['sgd', 'adam']`
When we use multiple optimizers, we can use Multi Optimizer Wrapper `tfa.optimizers.MultiOptimizer`.

**Working sample code**
[code]

**Output**
[code]

[2022-04-19 13:47] mohantym commented on #22213
Hi @Q82822 ! 1.x versions are not supported any more. You can use our [migration document](https://www.tensorflow.org/guide/migrate) for using  1.x codes in 2.8 version. Thanks!

[2022-04-19 13:51] pkshahid commented on #38578
This worked for me

[2022-04-19 13:57] Sara980710 commented on #55624
Hello @mohantym!
I have now tried to compile with adding
[code]
to my CMakeLists.txt and it still gives the error:
[code]

[2022-04-19 14:03] Dalkio commented on #54448
Thanks for the reply. I'm indeed trying to compile it from source, not import it from a release.

[2022-04-19 14:03] mohantym commented on #22226
Hi @dargilboa ! Have you checked this issue using [tf.keras.initializers.Orthogonal](https://www.tensorflow.org/api_docs/python/tf/keras/initializers/Orthogonal) yet ? I am getting same result for CPU and GPU through it. Attaching [gist](https://colab.sandbox.google.com/gist/mohantym/86d35b123facf588ac30288267eb3258/git_22226.ipynb#scrollTo=q3zITfhJFaUM) for reference.

[2022-04-19 14:55] santhoshnumberone commented on #55626
Thank you your response I have raised the same here [Google Colab ValueError: faster_rcnn_inception_v2 is not supported for tf version 2. See model_builder.py for features extractors compatible with different versions of Tensorflow](https://github.com/tensorflow/tensorflow/issues/55654)

[2022-04-19 14:55] #55626 closed

[2022-04-19 14:57] mohantym commented on #55624
Hi @gadagashwini ! Could you please look at this issue?

[2022-04-19 14:58] JakeFDev commented on #52845
If you are using an old 1.x version of Tensorflow, downgrading to max 1.5, Python 3.6, and running docker targeting x86 is a quick, crappy solution since AVX was introduced in 1.6.

We don't really use Tensorflow for anything critical (was kinda a devs pet project a few years back) so it works for us. Sounds like either qemu needs to support avx to move this foward OR Tensorflow starts publishing

[2022-04-19 15:01] #55654 closed

[2022-04-19 15:14] isabeaups commented on #5443
@sushreebarsa  Thanks. I don't know if this is still an issue, I have not used TF for years now since I moved to PyTorch

[2022-04-19 15:18] mohantym commented on #37768
Hi @ppwwyyxx ! Internal tests are failing for above changes. Could you let us know the epsilon value in Cuda 8.1 for 2.8 version? Thanks!

[2022-04-19 15:39] aaudiber commented on #55570
Reassigning since this appears to be a TF filesystem issue

[2022-04-19 15:53] mihaimaruseac commented on #55570
HDFS filesystem support is now provided by SIG IO, in tensorflow/io repository. Moving there

[2022-04-19 16:23] mohantym commented on #55664
Hi @iamdanniemirz ! Could you provide the code snippets to model files and confirm your Tensorflow version too?  It is creating an Tflite with 8 outputs where 4 output are expected. Attaching relevant [thread](https://stackoverflow.com/questions/66488745/tensorflow-lite-android-object-detection-mobile-ssd-models-are-expected-to-ha) for reference. Thanks!

[2022-04-19 16:58] whatdhack commented on #55207
Thanks for enabling the log in colab.  There following are the 4 reference to xla I  could see in the log,

[code]

[2022-04-19 16:59] iamdanniemirz commented on #55664
``"": {
  "prefix": "Model",
  "body": [
    "import tensorflow as tf",
    "",
    "converter = tf.lite.TFLiteConverter.from_saved_model(\"/saved_model\")",
    "converter.optimizations = [tf.lite.Optimize.DEFAULT]",
    "converter.target_spec.supported_types = [tf.float16]",
    "converter.target_spec.supported_ops = [",
    "  tf.lite.OpsSet.TFLITE_BUILTINS, # enable TensorFlow Lite ops.",

[2022-04-19 17:02] iamdanniemirz commented on #55664
`import tensorflow as tf

converter = tf.lite.TFLiteConverter.from_saved_model("/saved_model")
converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.target_spec.supported_types = [tf.float16]
converter.target_spec.supported_ops = [
  tf.lite.OpsSet.TFLITE_BUILTINS, # enable TensorFlow Lite ops.
  tf.lite.OpsSet.SELECT_TF_OPS # enable TensorFlow ops.
]
tflite_quant_model = converter.conver

[2022-04-19 17:14] sachinprasadhs commented on #54448
M1 related build issues are officially not supported by Tensorflow, since we currently don't have Tensorflow build for M1 officially from us. Please refer to [this](https://developer.apple.com/metal/tensorflow-plugin/) document for building Tensorflow.
If you have any additional queries, you can post your issues on https://developer.apple.com/forums/. Thanks!

[2022-04-19 17:18] iamdanniemirz commented on #55664
'import tensorflow as tf

converter = tf.lite.TFLiteConverter.from_saved_model("/saved_model")
converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.target_spec.supported_types = [tf.float16]
converter.target_spec.supported_ops = [
  tf.lite.OpsSet.TFLITE_BUILTINS, # enable TensorFlow Lite ops.
  tf.lite.OpsSet.SELECT_TF_OPS # enable TensorFlow ops.
]
tflite_quant_model = converter.conver

[2022-04-19 17:25] iamdanniemirz commented on #55664
I have used this code from the official repository for converting tflite without quantization....
https://github.com/tensorflow/models/blob/0b5cbdcfe07b06b1c539ee4e35102f53ad0373cb/research/object_detection/exporter_main_v2.py#L52

[2022-04-19 17:26] sachinprasadhs commented on #55370
It's a Tensorflow nightly version, if you are using pip then you can install using
`pip install tf-nightly`

[2022-04-19 17:36] sachinprasadhs commented on #53396
As mentioned by @apivovarov , It was. fixed in TF 2.8, you can find the source code below.
https://github.com/tensorflow/tensorflow/blob/v2.8.0/tensorflow/python/compiler/tensorrt/trt_convert.py#L261-L262
Here is the fix which resolved the issue. https://github.com/tensorflow/tensorflow/commit/b523f96d480fd6783aa16c1ce55419a6e4cd9cc6

[2022-04-19 17:39] andmis commented on #54448
The document you linked does not talk about building TensorFlow at all. Apple's M1 TensorFlow release is closed-source, as you surely must know.

Your build page https://www.tensorflow.org/install/source#macos does not say anything about not supporting M1. This is all it says about the macOS build requirements:

<img width="863" alt="image" src="https://user-images.githubusercontent.com/5308024/16

[2022-04-19 17:46] sachinprasadhs commented on #54448
Please refer the Note section in the document [here](https://www.tensorflow.org/install/pip#1.-install-the-python-development-environment-on-your-system) and let us know if this helps. Thanks!

[2022-04-19 17:57] sachinprasadhs commented on #55197
You can refer [this](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/using_your_own_dataset.md) document from the models repo for object detection where it mentions about the use of Jpeg or PNG as your inout data.

[2022-04-19 18:08] andmis commented on #54448
That document is about installing TensorFlow, not building it, TensorFlow, and as we have already discussed in this GitHub thread, the OP is asking about building TF, not installing it.

[2022-04-19 18:41] abwilf commented on #51659
Hi was there ever an update on this?  I've been trying to pip install tensorflow within this image, `docker://nvidia/cuda:11.4.0-cudnn8-runtime-ubuntu20.04`,  but I keep getting these errors: https://github.com/google/jax/issues/7239, https://github.com/google/jax/discussions/6843. It'd be really helpful if you could put out an image with tensorflow and jax already inside!

[2022-04-19 18:51] karimnosseir commented on #37706
Can you verify that the original TF graph you're converting has dynamic shape, if not you might want to look in how to modify the graph - no idea how easy/hard this is.

[2022-04-19 18:53] karimnosseir commented on #28105
Looks resolved. Feel free to file an issue if you are still having problem.

Thanks

[2022-04-19 18:53] #28105 closed

[2022-04-19 19:04] sachinprasadhs commented on #53396
Cherrypicks will be usually done when there is any security vulnerability, in this case you can use Tensorflow 2.8, since the fix is already available and Tensorflow 2.9 release is around the corner as well.

[2022-04-19 19:10] bli00 opened #55668 "Inconsistent documentation regarding supported input data type and ParameterServerStrategy"
### Issue Type

Documentation Bug

### Current Behaviour?

There is a direct conflict between the `ParameterServerStrategy` [tutorial doc][1], which states:

[code]

And these pages:

* [ParameterServerStrategy][2]:

[code]

* [Distributed Input][3]:

[code]

* [Model.fit][4]:

[code]

**The former recommends using `Dataset` while the latter explicitly states only `DatasetCreator` is supported.**

[2022-04-19 19:22] apivovarov opened #55669 "[TRT] TF 2.9.0-rc0 ssd_mobilenet_v2 TRT FP16 conversion failed. (-1,-1,-1,3), float32"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.0-rc0

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 18.04

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN/TensorRT version

11.2 / 8.1.1.33 / 7.2.3-1

### GPU

[2022-04-19 20:23] #55438 closed

[2022-04-19 20:54] jss367 commented on #36833
This could be caused by having `tf.debugging.experimental.enable_dump_debug_info(my_path)` in your code. If you do, try removing it.

[2022-04-19 21:08] srcarroll commented on #55652
Yes I can do that.  However, the issue is that I need to contribute from my work account which will require some amount of bureaucracy.  This is why I decided to post the fix here, since it's a very small change.  If this can wait, I'd be happy to submit a PR after we get things sorted out.

[2022-04-19 21:49] Soleimani64 commented on #55525
@Maratyszcza I did that, it doesn't improve the latency.

[2022-04-20 00:37] apivovarov commented on #55669
Workaround:
Because the issue is happening in a small segment we can skip converting it to TRT by increasing `minimum_segment_size` from 3 to 5.
[code]

[2022-04-20 00:50] umusa commented on #55622
@tilakrayal , please use  https://www.tensorflow.org/tutorials/distribute/keras, my code is based on this example.

[2022-04-20 01:14] msarett commented on #29558
Can you demonstrate that this is fixed? I am seeing the same issue on TF 2.4. It looks to me like the keras data handler is creating its own iterator over the data.

[2022-04-20 01:41] douzaikongcheng commented on #55647
@[mohantym](https://github.com/mohantym), Thank you, I will try.

[2022-04-20 02:07] apivovarov commented on #55669
The issue started to happen after [PR-53171](https://github.com/tensorflow/tensorflow/pull/53171).
The change:
[code]

The issue can be resolved by removing `common_subgraph_elimination` from the list of optimizers
@Nyrio

[2022-04-20 02:35] zhazl commented on #55471
@tilakrayal @gowthamkpr Ok, thanks for your solution. It's ok. Thanks again!

[2022-04-20 02:36] Litchilitchy commented on #46719
@gadagashwini thanks, I would try. The code is from official example so that it seems need some change if this works.

[2022-04-20 02:58] 0smilingpig commented on #55620
Well, I have tried it on 2.8.0 and 1.15.0 before but they didn't work, then I downgrade to 1.14.0 the problem was still there.&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年4月18日(星期一) 晚上6:41
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [tensorflow/tensorflow] No module named &#39;tensorflow.contrib.framework.ops&#39; (Issue #556

[2022-04-20 03:06] gadagashwini commented on #55549
@TheBlackPlague,
Tested it on my local machine, looks like its using GPU for training

[code]

<img width="1546" alt="Screen Shot 2022-04-20 at 8 36 00 AM" src="https://user-images.githubusercontent.com/99852755/164142257-1c135a44-2bda-490f-872e-a48bb481f8e5.png">

[2022-04-20 03:08] TheBlackPlague commented on #55549
Hello. Are you able to get any GPU usage in the profile?

[2022-04-20 03:15] Tanxj commented on #39103
I've got the same WARNING, the reason is the tf versions for training and saving are different.

[2022-04-20 03:28] Maratyszcza commented on #55525
Do you use the latest version of TensorFlow Lite?
Do you see "Created TensorFlow Lite XNNPACK delegate for CPU." message when you run the model?

[2022-04-20 04:17] mohantym commented on #55664
@iamdanniemirz ! Did you try the suggested setup in this [comment](https://stackoverflow.com/a/66595929/11530462)? (SSD with Fixed shape (320,320) , Using Colab , Luwang's [metadata writer](https://stackoverflow.com/a/64493506/11530462)) .Thanks!

[2022-04-20 04:41] apivovarov opened #55675 "[TRT] TF 2.8.0 EfficientDet D0 TRT conversion failed - Unable to save gradient functions"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.8.0

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 18.04

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN/TensorRT version

11.2 / 8.1.1.33 / 7.2.3-1

### GPU mode

[2022-04-20 05:11] tilakrayal commented on #55471
@zhazl ,
Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status

[2022-04-20 05:17] gadagashwini commented on #55560
@wwdok,
Hi, Are you looking for https://github.com/tensorflow/tensorflow/blob/aa64f94acc83889d5e165d14f2e5c1dbe71bef3b/tensorflow/python/ops/array_ops.py#L5066

[2022-04-20 05:58] hicotton02 opened #55676 "Would like to build for ppc64el, is this possible?"
### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

Redhat Enterprise Linux 8

### Mobile device

_No response_

### Python version

3.9

### Bazel version

bazel4.2.1

### GCC/Compiler version

8.5

### CUDA/cuDNN version

11.2/8.4

### GPU model and memory

Nvidia P100 x4 16GB

### Current Behaviour?

[code]

###

[2022-04-20 06:01] apivovarov commented on #55675
Adding `options=tf.saved_model.SaveOptions(experimental_custom_gradients=False)` to `saved_model.save()` method in [trt_convert.py](https://github.com/tensorflow/tensorflow/blob/v2.8.0/tensorflow/python/compiler/tensorrt/trt_convert.py#L1408) helped. But why it was not needed in 2.7.1 and 2.9.0-rc0?

[2022-04-20 06:19] apivovarov commented on #55675
The reason why `save()` works in `2.9.0-rc0` is because [trt_convert.py](https://github.com/tensorflow/tensorflow/blob/v2.9.0-rc0/tensorflow/python/compiler/tensorrt/trt_convert.py#L318) uses new list of graph optimizers in `2.9.0-rc0`. Adding `"pruning"` optimization to the list helps to solve the issue with `Unable to save gradient functions`
[code]

[2022-04-20 06:23] #55211 closed

[2022-04-20 07:01] njuhang commented on #55605
Thanks, I got to know how to convert by concrete function.
But what about the question2? I still have no idea how to quantize this op.

[2022-04-20 07:21] gadagashwini commented on #55621
@OrazioLombardi,
Hi, Issue with CUDA compatibility. Tensorflow 2.6 doesn’t support Cuda compatibility 3.

You need to add the compatibility factor.
`ComputeCapabilityFromString("3.0"), ComputeCapabilityFromString("3.5"), ComputeCapabilityFromString("5.2")};`
Do changes in this [file](https://github.com/tensorflow/tensorflow/blob/r2.6/tensorflow/core/common_runtime/gpu/gpu_device.cc#L1717). Thanks!

[2022-04-20 07:46] Petros626 commented on #55197
Yes I've read this one, but I'm using this script to generate my TFRecord files.
It uses jpg Images. (https://github.com/EdjeElectronics/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Objects-Windows-10/blob/master/generate_tfrecord.py). So I think I must change line 62, 66, 67 and 80 ?

[2022-04-20 07:47] OrazioLombardi commented on #55621
@gadagashwini
Hi, thank you for your answer.
I already edit the `gpu_device.cc` file adding the `ComputeCapabilityFromString("3.0")` statement as already mentioned in my issue description.
I think that the problem is related to MSVC that has problem to compile some of the files.

[2022-04-20 07:54] OleksandrGrument commented on #45845
@impjdi I found a workaround for this issue, I changed with tf.math.multiply(weights ,var) to tf.linalg.matmul(weights ,var,transpose_a=True ). Looks like from version 2.4.0 Gpu Delegate can't proceed this operation to multiply 2d arrays with tf.math.multiply. Also I found a some check in model builder that cheking all tensors for batch, it also was added in 2.4.0, I'm not sure what is purpose of

[2022-04-20 07:55] amitmate commented on #37706
it does not have dynamic shape. also it was a tf1 graph (from tf1 modelzoo). It seems like only option is to choose a new dynamic graph from tf2 modelzoo and retrain it..is this understanding  correct?

if so, the there is no information to identify which of the tf2 models (object detection) supports dynamic batch size..https://github.com/tensorflow/models/blob/master/research/object_detection/g3d

[2022-04-20 07:56] sushreebarsa commented on #46342
@Anmol-Sharma Is this still an issue ?
Estimators are not recommended for new code. Estimators  can behave unexpectedly, especially when combined with TF 2 code. Could you please refer to this [link](https://www.tensorflow.org/api_docs/python/tf/estimator/DNNClassifier) for more details  and let us know if it helps?
Thanks!

[2022-04-20 08:22] iamdanniemirz commented on #55664
@mohantym Yes, I have tried to quantize the model using TF 2.3 aswell. But the same thing happened again. Also tried to write metadata as well using Luwang's [metadata writer](https://stackoverflow.com/a/64493506/11530462) but this code does not work for 8 outputs.

[2022-04-20 08:23] #36452 closed

[2022-04-20 08:46] sushreebarsa commented on #22464
@mzhaoshuai Is this still an issue?
We see that you are using TF v1.x which is not actively supported and we recommend you to upgrade latest Tf versions(2.4 or later).Please refer to the [migration](https://www.tensorflow.org/guide/migrate) doc .
Estimators are not recommended for new code. Estimators  can behave unexpectedly, especially when combined with TF 2 code. Could you please refer to this

[2022-04-20 08:49] sushreebarsa commented on #22182
@llidev We see that you are using TF v1.x which is not actively supported and we recommend you to upgrade latest TF versions(2.4 or later).Please refer to the [migration](https://www.tensorflow.org/guide/migrate) doc .
Estimators are not recommended for new code. Estimators  can behave unexpectedly, especially when combined with TF 2 code. Could you please refer to this [link](https://www.tensorfl

[2022-04-20 09:10] sushreebarsa commented on #21737
@agniszczotka
Is this still an issue ?
We see that you are using TF v1.x which is not actively supported and we recommend you to upgrade latest TF versions(2.4 or later).Please refer to the [migration](https://www.tensorflow.org/guide/migrate) doc .
Estimators are not recommended for new code. Estimators  can behave unexpectedly, especially when combined with TF 2 code. Could you please refer to t

[2022-04-20 09:21] chen-cvresearch commented on #42887
how you solve the issue, I am now building tensorflow on riscv64 platform, same Error I meet.

[2022-04-20 09:22] sushreebarsa commented on #23238
@patelprateek Could you please refer to this [comment ](https://github.com/tensorflow/tensorflow/issues/23238#issuecomment-737618693) and try with the latest TF versions(2.4 or later ) as older TF versions(1.x) are not actively supported.Please let us know if it helps?Thanks!

[2022-04-20 09:32] PatriceVignola commented on #55226
2 new PRs:

https://github.com/tensorflow/tensorflow/pull/55677
https://github.com/tensorflow/tensorflow/pull/55678

[2022-04-20 09:46] mohantym commented on #55664
Hi @sachinprasadhs ! Could you look at this issue?

[2022-04-20 09:50] sushreebarsa commented on #16576
@carlthome
Tf.estimator.Estimator uses Tensorflow 1 style of coding and is not recommended for Tensorflow 2.x. There will not be any new addition to the estimators.
Could you please follow the detailed explanation [here](https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator) and move this issue to close status? Thanks!

[2022-04-20 10:03] mohantym commented on #55605
@njuhang ! tf.raw_ops.CropAndResize is already in supported [select ops](https://www.tensorflow.org/lite/guide/op_select_allowlist) list . Can you only go with this [select ops](https://www.tensorflow.org/lite/guide/ops_select#convert_a_model) syntax (remove custom_ops = true and integer quantization) after loading interpreter from concrete function and let us know the difference? You can also vis

[2022-04-20 10:13] gadagashwini commented on #55621
@OrazioLombardi,
[code]
Looks issue with MSVC2019.

Make sure you followed steps mentioned [here](https://www.tensorflow.org/install/source_windows) and install required packages. Thanks !

[2022-04-20 10:14] ahmadbajwa8282 opened #55679 "Android - Does not encode a valid TensorFlow Lite model."
Previously I was using TensorFlowInferenceInterface to read the model. but I was facing a lot of crashes. As per one of the moderator's recommendation, i replaced the method with the following:

**Code:**
[code]
But now i see a very strange error and it is unable to read tensorflowlite model. Still "abort" crashes are on spike.

**Error:**

Please help

Attached model:
[auto.pb.zip](https://github

[2022-04-20 10:32] #16576 closed

[2022-04-20 10:33] carlthome commented on #16576
@sushreebarsa sure thing! This has gone quite stale by now.

[2022-04-20 10:36] gadagashwini commented on #46719
@Litchilitchy, Official example code is not complete code snippet. If you make changes to optimizers, you can use the code given in the Tensorflow website.
Can we move this issue to closure, since its resolved .Thanks!

[2022-04-20 11:12] jakubvedral commented on #47554
i am having the same issue

[2022-04-20 11:19] gadagashwini commented on #33544
@VitaMusic,
You need to add the CUDA compatibility version in `gpu_device.cc` file.
[code]
Do changes in this [file](https://github.com/tensorflow/tensorflow/blob/r2.6/tensorflow/core/common_runtime/gpu/gpu_device.cc#L1717). Thanks!

[2022-04-20 11:44] mohantym commented on #55679
Hi @ahmadbajwa8282 ! You should use the below command to convert frozen graph files to tflite .
[code]
But I recommend creating the model in V2 api's and load TF 2.x Lite converter to load the model and convert it smoothly.
Attaching [TF 1.x Lite converter ](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/lite/TFLiteConverter), [2.x Lite converter ](https://www.tensorflow.org/api_docs

[2022-04-20 11:54] tilakrayal commented on #55650
@Alavandar08 ,
The provided grappler file link is re-directing to github home-page.Can you please provide the correct link or code to reproduce the issue.It helps to debug the issue.Thanks!

[2022-04-20 12:04] Nyrio commented on #55669
Hi @apivovarov,
Thanks for reporting this error. I will look into this.

[2022-04-20 12:23] #53837 closed

[2022-04-20 13:52] leandro-gracia-gil commented on #53113
I can confirm the problem is fixed in the latest tf-nightly build (2.10.0-dev20220420).
I'll be closing this then. Thanks!

[2022-04-20 13:52] #53113 closed

[2022-04-20 14:17] snowuyl opened #55680 "build tflite-2.7.1 android_arm64 shared library failed"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.7

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

Android

### Python version

 3.8.10

### Bazel version

5.1.0

### GCC/Compiler version

clang version 9.0.9

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respon

[2022-04-20 15:56] impjdi commented on #45845
Internally (at Google), we don't have those TF versions and we're always using the master branch.  As a non-TF person (believe it or not, I'm not in the TF organization), it's hard for me to keep track of what is in a specific release, or to know how significant of a change a release was.  Having said that, I'm not sure what changes were introduced in 2.4.0, maybe it be in TF, or TFLite, or TFLite

[2022-04-20 16:08] Kimtaehung123 opened #55681 "Improper expression in “tf.keras.layers.Embedding” ‘s function introduction"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-04-20 16:27] gowthamkpr commented on #55620
@0smilingpig Contrib module exists in tensorflow 1.15. Here is my [github gist](https://github.com/tensorflow/tensorflow/blob/r1.15/tensorflow/contrib/framework/python/ops/variables.py).

You are importing variables from the wrong path inside contrib module.
Instead of using from `tensorflow.contrib.framework.ops import variables as contrib_variables`,
use `from tensorflow.contrib.framework.python

[2022-04-20 17:23] #55483 closed

[2022-04-20 17:47] sachinprasadhs commented on #55197
Yes, basically you need to change the pipeline to adapt PNG input files instead of JPG files.

[2022-04-20 17:49] gante opened #55682 "XLA: softmax with numerically masked inputs does not match its non-XLA counterpart on CPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04.3 LTS

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.4

### GPU model and memory

T4 (16 GB

[2022-04-20 17:50] gante commented on #55682
cc @Rocketknight1

Related issue: https://github.com/huggingface/transformers/issues/16838

[2022-04-20 17:51] mihaimaruseac commented on #45845
For OSS releases, always try to use the latest version of TF/TFLite. We patch some fixes to old releases, but not many.

[2022-04-20 17:58] mihaimaruseac commented on #55620
TF 1.15 is out of date. We no longer support it.

[2022-04-20 17:58] mihaimaruseac commented on #55620
(sorry, closed by mistake)

[2022-04-20 18:41] #45770 closed

[2022-04-20 18:42] sachinprasadhs commented on #55474
When the `AutoShardPolicy` is set, you can choose multiple options to perform shard from [here](https://www.tensorflow.org/api_docs/python/tf/data/experimental/AutoShardPolicy).
When the `AutoShardPolicy` is set to `Auto`, it tries to apply `FILE` based shard, when it fails to do so it throws warning and proceeds to apply `DATA` shard.
Below is the code reference to show how each case is handled.

[2022-04-20 18:58] MThalberg opened #55688 "tf.quantization.fake_quant_with_min_max_vars crashes"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

n/a

### Python version

3.9

### Bazel version

n/a

### GCC/Compiler version

n/a

### CUDA/cuDNN version

n/a

### GPU model and memory

n/a

### Current Behaviour?

[code]

### Stan

[2022-04-20 19:55] M-Wolff commented on #50244
I opened [this issue](https://github.com/keras-team/keras/issues/16444) in keras-team/keras.
If the google-ml-butler bot doesn't decide otherwise I will comment with an update here as well, if the issue gets resolved at some point in the future.

I certainly find it a bit annoying, that the bot starts to threaten to close this issue if I don't find the time to reply within one week, especially sin

[2022-04-20 20:34] mihaimaruseac commented on #45449
This no longer reproduces on master:

[code]

Also tried

[code]

[2022-04-20 20:34] #45449 closed

[2022-04-20 20:37] Soleimani64 commented on #55525
@Maratyszcza , yes to both questions.
I can see improvement in the latency of both tf32 and int8 models when comparing XNN pack with regular tensorflow. but I don't see any difference in the latency of the int8 models if I use --define tflite_with_xnnpack_qs8=true and --define tflite_with_xnnpack_qu8=true compared to when I don't use them.

[2022-04-20 20:58] lu-wang-g commented on #55649
@karimnosseir Could you please take a look at this issue?

[2022-04-20 21:17] bhack commented on #53384
Take a look at https://github.com/keras-team/keras-cv/issues/333

[2022-04-20 22:13] andoorve opened #55692 "GPT-J saved_model conversion to fp16 TF-TRT errors with ``Message tensorflow.GraphDef exceeds maximum protobuf size of 2GB: 23499914257""
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04.3 LTS

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.4/8.1.0

### GPU model and memory

A100 40GB

#

[2022-04-20 22:25] OUStudent opened #55693 "Replacing Add Layer with Linear Combination of Learnable Weights"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

The Add() Layer can be expressed as a linear combination of inputs where each coefficient value is 1.

I was trying to make a custom layer that performs the same as Add, except uses trainable coefficients as we assume a coefficient of 1 is optimal. Unfortunately, I was unable to do so on my own, specifically the gradie

[2022-04-20 22:49] gateway commented on #48868
I know this is a bit older now but I also ran into this issue.  All my paths are fine, and in a conda env it works but using a python env seems to throw that error no matter what I tried, until I found this thread with the workaround.

Anyone ever figure this issue out?

[2022-04-21 01:26] south-ocean commented on #55662
I solve it by mysekf.

[2022-04-21 02:05] hontimzam opened #55695 "Non-deterministic behavior when Run on Different GPU in different Machines"
Hello everyone, I would like to ask a determinism Issue with **Tensorflow version 1.15**

I tried to run some ML-model without tf.data.Dataset. (As i know there is some random in tf.data.Dataset) I also tried to add:
os.environ['TF_CUDNN_DETERMINISTIC'] = '1'
random.seed(1)
np.random.seed(1)
tf.set_random_seed(1)

The results is that I can reproduce the results with 100% similarity in the **SAME**

[2022-04-21 02:57] gadagashwini commented on #55563
@ayaka14732,
Glad that its resolved. Can we close this issue. Thanks!

[2022-04-21 02:58] #55563 closed

[2022-04-21 03:37] qiantanjingtao commented on #46934
https://www.howtogeek.com/266621/how-to-make-windows-10-accept-file-paths-over-260-characters/

[2022-04-21 06:39] mohantym commented on #55680
Hi @chunduriv ! Could you please look at this issue? It is replicating in [2.6.3](https://colab.sandbox.google.com/gist/mohantym/7efb22a34d3c7fa62df488941dc93922/git_55680.ipynb#scrollTo=zrSNPkicxMXH) , [2.7 ](https://colab.sandbox.google.com/gist/mohantym/cfa03ededb7130ee628fc20091c21ab2/git_55680.ipynb#scrollTo=2-ABAXDTvlJ3) and[ 2.8](https://colab.sandbox.google.com/gist/mohantym/b5aa9c41f39c74

[2022-04-21 07:15] pritamdamania87 opened #55696 "tf.nn.embedding_lookup_sparse doesn't work with @tf.function(jit_compile=True)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.8.0

### Custom Code

No

### OS Platform and Distribution

Colab Notebook

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-04-21 07:43] gadagashwini commented on #44932
@maxkaustav,
Closing this issue, since its resolved .
Please feel free to reopen if issue still persists. Thanks!

[2022-04-21 07:43] #44932 closed

[2022-04-21 08:09] tilakrayal commented on #55620
@0smilingpig ,
As suggested 1.15 is not actively supported.Please upgrade to latest version.Also as per [comment](https://github.com/tensorflow/tensorflow/issues/55620#issuecomment-1104139067) I request you,please try to use `from tensorflow.contrib.framework.python.ops import variables as contrib_variables`.Thanks!

[2022-04-21 08:47] jelly0o0 opened #55698 "TFLite Tensor name converted by 2.7.0 is much longer than 1.14.0"
### System information

-   **OS Platform and Distribution**: Linux Ubuntu 18.04
-   **Mobile device**: No
-   **TensorFlow installed from (source or binary)**: binary, pip install tensorflow==2.7.0
-   **TensorFlow version**: 2.7.0
-   **Python version**: 3.8.13
-   **Bazel version (if compiling from source)**: None
-   **GCC/Compiler version (if compiling from source)**: None
-   **CUDA/cuDNN ve

[2022-04-21 09:09] elfringham opened #55699 "//tensorflow/tools/docs:tf_doctest fails on machines without GPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

git HEAD

### Custom Code

No

### OS Platform and Distribution

CentOS 7

### Mobile device

n/a

### Python version

3.7.13

### Bazel version

5.1.1

### GCC/Compiler version

10.2.1

### CUDA/cuDNN version

n/a

### GPU model and memory

n/a

### Current Behaviour?

[code]

### Stand

[2022-04-21 09:11] elfringham commented on #55699
@cfRod @nSircombe

[2022-04-21 09:12] elfringham commented on #55699
Introduced with commit https://github.com/tensorflow/tensorflow/commit/07e1274c3cd9c5cf52f6c6013c1205fc6e15473c

[2022-04-21 09:42] DerryFitz commented on #46073
Any update on adding selective quantization of layers to TfLiteConverter, I'd like to see this added too

[2022-04-21 10:16] mohantym commented on #55698
Hi @jelly0o0 ! I could not see any difference between the names of tensors from lite files procured from 1.x converter and 2.x converter . Could you post a gist to reproduce the issue? Attaching gist in [1.14 ](https://colab.sandbox.google.com/gist/mohantym/d03b95a958aa2f04fb27f011f79aaa98/tflite.ipynb#scrollTo=v5Zf6G4M-sZz)and [2.8](https://colab.sandbox.google.com/gist/mohantym/4a880ccc5b166fb88

[2022-04-21 10:34] #55485 closed

[2022-04-21 10:50] tilakrayal commented on #55693
@OUStudent ,
Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2022-04-21 11:02] mohantym commented on #44481
Hi @ReyCoPeruvit ! We are checking to see whether you still need help in this issue or not.  Have you checked the above [comment ](https://github.com/tensorflow/tensorflow/issues/44481#issuecomment-974325834)yet ? Thanks!

[2022-04-21 11:23] MadhuriPatil1694 commented on #55284
Yes while exporting the model I provided correct input shape

[2022-04-21 12:07] Pranay772629 commented on #53279
I have a custom model which has LSTM layers which produces the same error when creating an Interpreter in android studio. @grewe any updates on the error and its solution?

[2022-04-21 12:29] tilakrayal commented on #55695
Hello @hontimzam,
We see that you are using tf version 1.5.0, 1.x is not actively supported, I request you,please update to latest v2.x and let us know if you are facing same issue.
Also please refer this [doc link](https://github.com/tensorflow/docs/blob/master/site/en/install/source.md#gpu) for the compatible CUDA and cudNN configurations for v1.5.0.Thanks!

[2022-04-21 13:00] rsandler00 commented on #37793
Hi, can this issue please be reopened. The solution @ArtyomZemlyak posted only works for TF1 (if you look at his source, it was posted in Posted on 2017-12-13, years before TF2 was released). Can we have a solution for TF2?

[2022-04-21 13:38] brammerc opened #55701 "Python Linux 3.10 CPU-only wheel not found"
### Describe the problem
[Link](https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow_cpu-2.8.0-cp310-cp310-manylinux2010_x86_64.whl) to **Python Linux 3.10 CPU-only** is not found.

[2022-04-21 14:14] shivarajkarki commented on #50487
Thank you, it worked

[2022-04-21 14:21] chunduriv commented on #55701
@brammerc,

Thank you for reporting.

[2022-04-21 14:31] sushreebarsa commented on #55659
@PatriceVignola
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-04-21 14:40] sushreebarsa commented on #55681
@Kimtaehung123
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-04-21 14:50] sushreebarsa commented on #55658
@zjk000 Could you please refer to this [link](https://www.tensorflow.org/tutorials/keras/save_and_load) and try with the latest TF version .Please let us know the outcome?
Thanks!

[2022-04-21 16:03] chunky opened #55702 "TFLite doesn't build OOB on VS2019, requires /std:c++20"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

github master 185c176

### Custom Code

No

### OS Platform and Distribution

Windows 10 x64

### Mobile device

N/A

### Python version

N/A

### Bazel version

N/A

### GCC/Compiler version

VS2019 16.11.12

### CUDA/cuDNN version

N/A

### GPU model and memory

N/A (Intel UH

[2022-04-21 16:22] #55526 closed

[2022-04-21 16:26] fsx950223 commented on #55675
https://github.com/NVIDIA/TensorRT/tree/master/samples%2Fpython%2Fefficientdet
I suggest use above transfer script instead of trt.

[2022-04-21 16:32] sushreebarsa commented on #50189
@HongtaoYang
Is this still an issue ?
Could you please refer to the [comment](https://github.com/tensorflow/tensorflow/issues/50189#issuecomment-862413890) above and let us know if it helps?
Thanks!

[2022-04-21 16:37] sachinprasadhs commented on #55207
It is mentioned as failed to dump `encapsulate_xla_computations` for before, halfway and after in the warning log, it means it is not making use of XLA.
You can ignore these warnings.

[2022-04-21 16:38] tilakrayal commented on #55688
Hello @MThalberg ,
I request you please take a look at this issue #46910 where a similar issue has been raised and it is still open. Can you please follow that issue, since it is already being tracked there? Thanks!

[2022-04-21 16:44] kofimokome opened #55703 "TypeError: expected str, bytes or os.PathLike object, not GFile"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

MacOS 10.15.7

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respon

[2022-04-21 16:52] impjdi commented on #55495
Can you attach the model?

[2022-04-21 17:09] MThalberg commented on #55688
Thank for pointing to the other issue and indeed it is the same bug. I will close this issue.

[2022-04-21 17:09] #55688 closed

[2022-04-21 18:22] #55532 closed

[2022-04-21 18:34] cantonios commented on #55600
To make sure I'm on the same page: you want to add a new op that does the combined gather+matmul?  So this *will* modify the API (i.e. it will extend it by introducing a `tf.gather_and_matmul(...)` op).

Any new op will need to be implemented for all backends (CPU/GPU/XLA).  You will also need to demonstrate the savings are worth the extra code complexity/maintenance burden.

Feel free to submit a

[2022-04-21 19:18] sachinprasadhs commented on #55214
@JXRiver , I updated the link with Github Gist.

[2022-04-21 19:40] kruglov-dmitry commented on #55448
Sorry for delay with answer.

w/o XNNPACK:
[code]

w/ XNNPACK
[code]

same exact model in python:
[code]

Model were produced by loading weights of keras model, pop last layer and converting using the same snippet as in repo above.

Model without last layer - [google drive](https://drive.google.com/file/d/1Wk2MlEM_fPTre1AXaqPPplUY5bPYjM1L/view?usp=sharing) ~ 15 mb

[2022-04-21 21:26] DocGarbanzo commented on #53396
Thanks @sachinprasadhs!

[2022-04-21 21:26] #53396 closed

[2022-04-21 21:54] sachinprasadhs commented on #55650
In Tensorflow 1.x with the graph mode as default it optimizes the graph computations and the same reason you see mainly primitive ops.
With Tensorflow 2.x with eager execution as default, in order to optimize the overall computation and to reduce the memory footprints fused operations are mainly used.
Apart from the code link which you shared, you can refer this documentation for [FusedBatchNormV3

[2022-04-21 22:08] aaudiber commented on #55546
It looks like `tf.keras.preprocessing.timeseries_dataset_from_array` builds the sequences in such a way that their length can't be inferred automatically. If the second dimension is guaranteed to be equal to the sequence length, you can use [ensure_shape](https://www.tensorflow.org/api_docs/python/tf/ensure_shape) to communicate the knowledge to the shape inference system:

[code]

@fchollet would

[2022-04-21 22:22] #52645 closed

[2022-04-21 22:22] #46096 closed

[2022-04-22 02:50] joonjeon commented on #55648
So... this is an issue with Keras, right?

If I understood your response correctly,
for all Tensorflow-"native" functions (i.e. the Tensorflow functions that are not part of Keras) for constructing neural network layers, almost of them including `tf.concat()` can have their gradients computed when properly put within `tf.GradientTape()` context, is that right?

If so, then I suppose I can close th

[2022-04-22 02:52] chunduriv commented on #55581
@samuela,

We have submitted fix internally for `Linux Python 3.10 CPU only` wheel. Thanks!

[2022-04-22 03:22] hijkzzz opened #55707 "adam optimizer does not work in tensorflow-macos"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tensorflow-macos-2.8

### Custom Code

Yes

### OS Platform and Distribution

macos 12.3.1

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-04-22 03:39] Bayes-Song commented on #55600
Sorry I didn't correctly understand the meaning of the question "Will this change the current api? How?". Yes, this will modify the API by adding an extra op tf.gather_and_matmul.
Below I will introduce the improvement that this op can bring in combination with some technical details in the switch transformer. Switch Transformer is a kind of sparsely activated model.
In normal model
[code]
In spar

[2022-04-22 03:41] mohantym commented on #55698
Hi @sachinprasadhs ! Could you please look at this issue . It is replicating in 2.6.3, 2.7,2.8 and nightly . Attaching gist in [2.6.3](https://colab.sandbox.google.com/gist/mohantym/98f72e5020c3fe782b955b1e98044a6d/git_55698.ipynb#scrollTo=51fXm32GRRcW), [2.7 ](https://colab.sandbox.google.com/gist/mohantym/305e1852d26695e68c995237edd4ca7c/git_55698.ipynb#scrollTo=9HSfKDlvP_hv), [2.8](https://cola

[2022-04-22 03:59] softfactory0911 commented on #55268
I also have a similar problem.
Unable to create symblic link in /usr/bin path on macOS.

`
exec env - .....
`
Because of that part, the environment variable disappears.
And if the environment variable disappears, python cannot be used, only python3 can be used.

This is my guess, but because of this I can't run bundletool during build.

Is there a way to fix the build other than bypassing the OS?

[2022-04-22 04:01] sanghun8741 commented on #55268
I also have a similar problem.
Unable to create symblic link in /usr/bin path on macOS.

`
exec env - .....
`
Because of that part, the environment variable disappears.
And if the environment variable disappears, python cannot be used, only python3 can be used.

This is my guess, but because of this I can't run bundletool during build.

Is there a way to fix the build other than bypassing the OS?

[2022-04-22 04:06] lakshya-IIT4gp commented on #55495
Please find here, https://tfhub.dev/tensorflow/lite-model/efficientdet/lite4/detection/metadata/2. Although, the error is unrelated to any model as its in TfLiteGpuDelegateV2Create(), which still gives error even if no model is initialized.

[2022-04-22 04:20] sabri-manai opened #55708 "Submit and test model is not working while I'm taking the TensorFlow exam"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.X

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-04-22 04:58] hontimzam commented on #55695
Hello,

[2022-04-22 04:59] gadagashwini commented on #55624
@Sara980710,
Hi, Can you try the workaround mentioned on similar [thread](https://stackoverflow.com/a/64048452/14290244). Thanks!

[2022-04-22 05:01] hontimzam commented on #55695
Hello, I am sorry for the wrong click "closed" issue. For the tf version. I am sorry for the wrong information. we are using Tension flow version of **1.15.x** . In this case, do we able to solve the non-deterministic behavior on different GPU? We do not upgrade from 1.15.x to 1.2.x because of some compatible issue.

[2022-04-22 05:44] tilakrayal commented on #55652
@srcarroll ,
As suggested I request you,can you please feel free to submit a PR for the requested change is to be made.Thanks!

[2022-04-22 06:27] Petros626 commented on #55197
that's the way.

[2022-04-22 06:48] 980202006 opened #55709 "The tflite model has a custom layer and cannot achieve variable-length input"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

tf 2.5

### Custom Code

Yes

### OS Platform and Distribution

ubuntu 20.04

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-04-22 06:58] lk1983823 opened #55710 "Tensorflow 2.8.0 Limiting GPU memory growth fails."
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 16.04

### Mobile device

_No response_

### Python version

3.7.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.3.1 cuDNN 8.2.1

### GPU model and memory

[2022-04-22 07:08] gadagashwini commented on #55662
Hi @south-ocean,
Try to clear Bazel cache before building Tensorflow
`bazel clean --expunge`. Thanks!

[2022-04-22 07:14] iamdanniemirz commented on #55664
@sachinprasadhs @mohantym  Waiting for your kind response.

[2022-04-22 07:22] #55519 closed

[2022-04-22 07:42] DanijelDomazet commented on #37570
Any news on loading a model from memory instead of a file?

[2022-04-22 07:46] ramonpeter commented on #49946
Just as an update: The issue stills persists in tf v.2.8

[2022-04-22 07:52] MaartenSneepKNMI commented on #37570
The problem has been resolved, but not in a way that is useful to you, probably.

1. We asked to remove the requirement that no file access was performed, at least for the initialisation phase of our processor. This has been granted, and this obviates the need for this change for us.
2. Perhaps more importantly, we dropped TensorFlow for _using_ the neural network. We still use TF to generate the

[2022-04-22 08:18] sushreebarsa commented on #55708
@sabri-manai

For general support and questions regarding the Google Tensorflow Developer Certification, please contact tensorflow-certificate-support@google.com.
Thank you!

[2022-04-22 08:55] zanussbaum commented on #53296
Any update on this? Facing similar issues

[2022-04-22 09:23] gante commented on #55682
I forgot to add an important detail to this issue: if we add a constant to the input of the XLA-compiled softmax, [which should result in the exact same output](https://ogunlao.github.io/2020/04/26/you_dont_really_know_softmax.html), then CPU+XLA behaves correctly. (cc @ydshieh)

As an example, the following script runs well on CPU and GPU. The only difference is a `+1` in the softmax. Adding `+1`

[2022-04-22 10:30] TarunBilluri opened #55711 "can't use keras function, 'CategoryCrossing' in tensorflow version 2.8"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

Google Cloud Vertex AI TensorFlow:2.6 notebook

### Mobile device

_No response_

### Python version

3.7.12

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No r

[2022-04-22 10:42] tilakrayal commented on #55703
@kofimokome ,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.Thanks!

[2022-04-22 11:08] mohantym commented on #55709
Hi @980202006 ! Could you provide a stand alone to reproduce the issue? I could not replicate above issue though with the above code snippet. Attaching [gist](https://colab.sandbox.google.com/gist/mohantym/ce196d39aa65ed08103d38bb6a5400b1/git_55709.ipynb) for reference. Thanks!

[2022-04-22 11:30] HongtaoYang commented on #50189
Thanks, the comment helps, thanks @edloper ! I'll close this issue.

[2022-04-22 11:30] #50189 closed

[2022-04-22 11:55] mosicr opened #55713 "TPU Execution Failure"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

tf 2.6

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

20.04.1 Ubuntu SMP

### Python version

Python 3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and

[2022-04-22 12:24] JackTudor96 commented on #47400
Hi guys, we're using a 3rd party lib that uses TF Lite and we're running into this issue. Do we have an idea when this is likely to be picked up?

[2022-04-22 12:41] kofimokome commented on #55703
I have updated the description

[2022-04-22 13:26] HedgeHao commented on #55576
I built tensorflowlite shared library following this [tutorial] (https://www.tensorflow.org/lite/guide/build_cmake) with version 2.8.0. I use Mac Air 2014 , Big Sur 11.6, Intel Core i5.

[2022-04-22 14:27] e7fendy commented on #55268
I also have the similar issue.
Is it the problem of bazel 4? Someone mentioned it on https://stackoverflow.com/questions/71778867/bazel-build-fails-with-msg-env-python-no-such-file-or-directory-macos-monte

[2022-04-22 14:28] KangChou opened #55715 "./build_all_linux.sh"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf1.15

### Custom Code

No

### OS Platform and Distribution

ubuntu18.04

### Mobile device

ubuntu18.04

### Python version

python==3.6.13

### Bazel version

0.26.1

### GCC/Compiler version

7.5

### CUDA/cuDNN version

CPU

### GPU model and memory

CPU

### Current Behaviour?

[c

[2022-04-22 14:51] elfringham commented on #55699
Apparently resolved by https://github.com/tensorflow/tensorflow/commit/942f170b0e33d2a23ac8fca3c484bccb04615415

[2022-04-22 14:51] #55699 closed

[2022-04-22 16:45] Mastiff37 commented on #55623
I'm running a toy example now to see if I can reproduce.

[2022-04-22 17:03] sachinprasadhs commented on #55197
You can close the issue if your issue is addressed. Thanks!

[2022-04-22 17:53] Gandalf401 opened #55717 "Non-OK-status: tensorflow::Env::Default()->DeleteFile(ptx_path) status: Permission denied"
### System information
Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-74-generic x86_64)
TensorFlow 2.0.0 installed by anaconda
gcc (Ubuntu 8.4.0-3ubuntu2) 8.4.0
NVIDIA-SMI 460.80 Driver Version: 460.80 CUDA Version: 11.2 (10.1 installed in fact)

### Describe the problem
When I am running with my tensorflow program, it seems that when it meets some conditions, my program turns out to crash like below, and t

[2022-04-22 18:22] #55435 closed

[2022-04-22 18:41] impjdi commented on #55495
Wow, this model has ginormous intermediate tensors.  Take 1x320x320x144 as an example; that's ~60MB (= 1x320x320x144x sizeof(float)) and that's only ONE intermediate tensor in your deep neural net.  (I wonder who came up with this and claimed that this is a mobile model :P)  I wouldn't be surprised if things blow up, however, this doesn't explain that things work fine on Java and fail on C++, as t

[2022-04-22 18:59] bhack commented on #55435
https://github.com/keras-team/keras/issues/16405

[2022-04-22 19:22] #55503 closed

[2022-04-22 19:40] cantonios commented on #55600
Will something like this work:
[code]

We don't normally add merged ops like this to the API.  If it's an efficiency issue, we often instead rely on graph optimization passes that can fuse ops and eliminate intermediaries.  The issue with modifying the API is that it adds a lot of maintenance burden, and needs to be supported on all platforms/backends - so the change needs to be strongly justified

[2022-04-22 20:43] apivovarov commented on #55675
Converting saved_model to ONNX might work.
But it is much easier to patch TF 2.8.0 and Inserting `pruning` optimization before `"constfold", "layout", "constfold"` in [trt_convert.py](https://github.com/tensorflow/tensorflow/blob/v2.8.0/tensorflow/python/compiler/tensorrt/trt_convert.py#L1408)

The optimization list is updated in 2.9.0 anyway.

[2022-04-22 21:48] mself commented on #47400
This is close to working since Bazel 5 is now supported and 2.9 already includes `rules_apple` 0.33.  But I am still getting an error due to the bundled copy of `cpuinfo.BUILD`, which doesn't have `ios_sim_arm64` in it?

[2022-04-22 22:48] karimnosseir commented on #55664
Lu Can you please have a look

Thanks

[2022-04-22 23:03] srcarroll commented on #55652
I have been given the go ahead to do this from my personal account so I will submit a PR soon.

[2022-04-22 23:09] lu-wang-g commented on #55664
I think it's the same issue as https://github.com/tensorflow/tensorflow/issues/47595, where something went wrong during conversion. The model should only have 4 outputs instead of 8. Circle back to @karimnosseir to double check the conversion step.

[2022-04-22 23:21] HJasperson commented on #42004
To save any future readers my pain, point 1 in [the comment above](https://github.com/tensorflow/tensorflow/issues/42004#issuecomment-669118318) is trying to say that you should change any instances of `tf.keras.Model` to `tf.keras.layers.Layer`.

My issue was slightly different, but ultimately came down to incorrect/missing concrete functions and point 1 fixed the problem.

[2022-04-23 00:36] winginitau opened #55719 "Error cascade on model.save() version 2.9.0-rc0"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.0-rc0

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 21.09

### Mobile device

_No response_

### Python version

3.9.7

### Bazel version

5.1.1

### GCC/Compiler version

11.2.0

### CUDA/cuDNN version

_No response_

### GPU model and memory

Intel Core i7 98

[2022-04-23 00:50] south-ocean commented on #55662
I had try that, but it didi't success.  Lastly, i success through change the gcc. thanks

[2022-04-23 01:43] dmho418 commented on #55474
Thanks @sachinprasadhs, I think I misunderstood the documentation.

On the [distributed input tutorial](https://www.tensorflow.org/tutorials/distribute/input) it says:

Which seems to imply that a `list_files` creates a shardable dataset, but in reality `list_files` just creates a regular `TensorSliceDataset` that is unshardable by `FILE`:
https://github.com/tensorflow/tensorflow/blob/e6ba47963bf9

[2022-04-23 01:59] fsx950223 commented on #55675
https://github.com/NVIDIA/TensorRT/tree/master/samples%2Fpython%2Fefficientdet
I suggest use above transfer script instead of trt.
It's much faster than tf trt and it's recommended by efficientdet author.

[2022-04-23 04:22] #47347 closed

[2022-04-23 08:56] shubham-malaviya commented on #39856
I am working with Tf 4.0 and am able to solve this issue with the following:

Here is an example of cloning a model having a custom layer class `CustomLayer`

[code]
What you need to do is register this custom object with the Keras scope as follows:
[code]

[2022-04-23 09:44] #55719 closed

[2022-04-23 09:45] winginitau commented on #55719
Recompiled 2.9 RC1 (rather than RC0) and the issue is no longer present in RC1.

[2022-04-23 11:13] Liqq1 commented on #24828
Add the following code

[code]

[2022-04-23 12:28] chelsishyann016 opened #55720 "pip install tensorflow pip install tf-nightly-gpu"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Feature Request

### Source

source

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

[2022-04-23 16:52] chrisbutner commented on #44487
I think there's been a misunderstanding here.

A change to the test function has been given as a workaround, but is not a fix to the bug. I'm not aware of any TF documentation that says, on a new thread, you need to run the magic line, `with tf.device("/job:worker"):`

Please see allenlavoie's response above:

[2022-04-23 17:11] lesha198a opened #55721 "How to import Keras BatchNormalization to use with Cuda"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

2.8.0

### Custom Code

No

### OS Platform and Distribution

Pop OS 21.10 Linux 5.15.34

### Mobile device

_No response_

### Python version

3.9.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

Driver Version: 510.54 | CUDA Vers

[2022-04-23 22:14] code-review-doctor opened #55723 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/tensorflow/tensorflow/blob/dfe3b83eeb47752bf26a6523ab7f42c1caa58d4a/tensorflow/python/data/experimental/ops/lookup_ops.py#L168
https://github.com/tensorflow/tensorflow/blob/dfe3b83eeb47752bf26a6523ab7f42c1caa58d4a/tensorflow/python/tpu/tpu_sharding.p

[2022-04-24 00:59] #55648 closed

[2022-04-24 06:44] sushreebarsa commented on #55682
@gadagashwini  I was able to replicate the issue on colab using TF v2.8.0 and tf-nightly on both [cpu](https://colab.research.google.com/gist/sushreebarsa/36663da4896f54fade99b9cf27edf3a9/55682.ipynb) and [gpu](https://colab.research.google.com/gist/sushreebarsa/070165c2a5830fdeb9cfbecd39d72f7d/55682-gpu.ipynb) runtime.Please refer to the attached  gists.
Thanks!

[2022-04-24 07:04] sushreebarsa commented on #55707
@hijkzzz I tried to replicate the issue on colab and didn't face any error.Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/1e11faa24e91ff336e8555b4f897cb62/55707.ipynb) for reference.Thanks!

[2022-04-24 07:10] sushreebarsa commented on #55715
@KangChou We see that you are using the `older version(1.15)` of TF which is not actively supported.We recommend you to kindly upgrade to the `latest TF versions`(2.4 or later) and let us know if you still face any issue.
Could you please have a look at this [link](https://www.tensorflow.org/install/source) and refer the tested build configurations?
Please let us know if it helps?
Thanks!

[2022-04-24 07:18] sushreebarsa commented on #55720
@chelsishyann016
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here and share more details on this issue.
I tried to install the tf-nightly on colab and didn't face any issue , please find the [gist](https://colab.research.google.com/gist/sushreebarsa/c51440be30f81d28b6bf447ed750d4f3/55720.ipynb). Thanks!

[2022-04-24 07:29] zjk000 commented on #55658
Hi, I've been studying this problem for the past few days, and here are 2 conclusions so far:
1. For the original problem, that error occoured beacause: protobuf asked for utf-8 data or raw bytes and claimed what was sent to it wasn't one of these 2 types. But the fact is, if you look into the definition of function compat.as_bytes(data):
[code]

We can see that this function makes sure that what

[2022-04-24 08:50] JiaqingFu commented on #41737
@kdt3rd  nice find，it can solve my problem

[2022-04-24 10:34] DL-stack opened #55724 "AttributeError: module 'tensorflow.compat.v2.__internal__.distribute' has no attribute 'strategy_supports_no_merge_call'"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

v2.7.0-rc1-69-gc256c071bb2 2.7.0

### Custom Code

Yes

### OS Platform and Distribution

NAME="CentOS Linux" VERSION="7 (Core)"

### Mobile device

_No response_

### Python version

Python 3.7.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN

[2022-04-24 10:39] sushreebarsa commented on #55724
@DL-stack
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-04-24 13:24] EnricoMi opened #55725 "Cannot install 2.9.0rc1, only available for few OS and Python versions"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.9.0rc1

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-04-24 16:04] tilakrayal commented on #55623
@Mastiff37 ,
In order to expedite the trouble-shooting process, could you please provide a complete code and the dependencies you are using.Thanks!

[2022-04-24 16:06] tilakrayal commented on #55695
Hello @hontimzam,
As suggested,1.x is not actively supported, I request you,please update to latest v2.x and let us know if you are facing same issue.
Also please refer this [doc link](https://github.com/tensorflow/docs/blob/master/site/en/install/source.md#gpu) for the compatible CUDA and cudNN configurations for v1.15.0.Thanks!

[2022-04-24 21:07] Suzan009 commented on #53869
Any update? Why it's always required for end-user to update path config manually for installing TensorFlow with GPU support? Can't it be made automatic, like in a torch?

[2022-04-25 02:52] Bayes-Song commented on #55600
Thanks for your reply, I will try your proposed solution as soon as possible.

[2022-04-25 02:52] Bayes-Song commented on #55600
Thanks for your suggestion, I will try your proposed solution as soon as possible

[2022-04-25 03:34] 980202006 opened #55727 "Inconsistent keras model saving and loading"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.5

### Custom Code

Yes

### OS Platform and Distribution

ubuntu 20.04

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respons

[2022-04-25 03:39] 980202006 commented on #55727
https://colab.research.google.com/drive/1AdwLdKwxIBJI_qqAGJOGhHU4WDyjilyT?usp=sharing

[2022-04-25 03:52] sushreebarsa commented on #55721
@lesha198a Could you please try with the following code to import Keras BatchNormalization,
[code]
I was able to import Keras BatchNormalization successfully on colab using TF v2.8.0,
Please find the [gist](https://colab.research.google.com/gist/sushreebarsa/4d944a60653b692ed4d4bcc6446100ff/55721.ipynb) for reference.Thanks!

[2022-04-25 04:02] 980202006 commented on #55709
Thank you!
https://colab.research.google.com/drive/1LboEAoyuCD8di5PsdDrcPV0DwUu_YySQ?usp=sharing
The original input of the model has two None, but after converting to tflite, they both become 1. Is it possible to save variable-length input in tflite instead of resizeinput in java.
![image](https://user-images.githubusercontent.com/24452502/165018695-2d158b46-0f02-4a0a-9069-77e55116f395.png)
![imag

[2022-04-25 04:12] lampuiho commented on #43655
if you don't want to loop, use map_fn as follows:
[code]

[2022-04-25 05:31] mohantym commented on #18480
Hi @jart ! enum34 dependency seems to be removed from the 2.3 version onwards. Can we move this issue to closed status now? Thanks!

[2022-04-25 06:09] sushreebarsa commented on #55668
@bli00
In order to expedite the trouble-shooting process, could you provide more information on this issue ?
Thanks!

[2022-04-25 06:28] sushreebarsa commented on #55710
@lk1983823 Thank you for raising this issue!
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here.
I tried to reproduce this [issue](https://colab.research.google.com/gist/sushreebarsa/bd3e9c836c73063a58f90f8384d770f8/55710.ipynb) and faced different errors.
Thanks!

[2022-04-25 06:37] sushreebarsa commented on #31244
@sgambient Is this still an issue ?
We see that you are using TF v1.x which is not actively supported so please upgrade to the latest TF versions and let us know if the issue still persists?
Thanks!

[2022-04-25 06:45] #55471 closed

[2022-04-25 07:00] sushreebarsa commented on #22298
@jrabary Is this still an issue?
I tried to replicate the issue and faced AttributeError. TF version 1.x is no longer actively supported so we recommend you to kindly  upgrade  to latest TF versions,please refer to this [link](https://www.tensorflow.org/guide/migrate).
Thanks!

[2022-04-25 07:12] sushreebarsa commented on #55510
@JiaqingFu Is this still an issue ?
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2022-04-25 07:36] mohantym commented on #55709
Hi @sachinprasadhs ! Could you please look at this issue? Attaching Gist in [2.5 ](https://colab.sandbox.google.com/gist/mohantym/da0e2a403d66446fb9ed0d64596fee5b/untitled2.ipynb#scrollTo=FLnSmM052LU2) and [2.8](https://colab.sandbox.google.com/gist/mohantym/f5f0d84a86524eafd27db6497de37934/untitled2.ipynb#scrollTo=GA9VU2ku44Qk) for reference. Thanks!

[2022-04-25 07:52] iamdanniemirz commented on #55664
Thanks for the kind reply @lu-wang-g . I have mentioned @fonghyalex for the proper solution he/she did for conversion and also checked issue #47595 but was not able to understand the conversion processes. Please guide me through this. Thanks a lot.

[2022-04-25 07:53] liyuenan2333 opened #55728 "@local_config_cc//:toolchain' does not contain a toolchain for cpu 'arm64-v8a"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

v2.9.0-rc1

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

5.0.0

### GCC/Compiler version

9.4.0

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-04-25 07:58] chunduriv commented on #55711
@TarunBilluri,

Removed `keras.layers.experimental.preprocessing.CategoryCrossing` in `Tensorflow 2.8`. Users should migrate to the `HashedCrossing` layer or use `tf.sparse.cross`/`tf.ragged.cross` directly.

For more details please refer [TF 2.8 Release notes](https://github.com/tensorflow/tensorflow/blob/v2.8.0/RELEASE.md), [HashedCrossing](https://www.tensorflow.org/api_docs/python/tf/keras/lay

[2022-04-25 08:32] mohantym commented on #55185
Hi @ArrowIntoTheSky ! This issue has been fixed in 2.8 version now. Can we move this to closed status now?

[2022-04-25 08:47] mohantym commented on #55647
Hi @douzaikongcheng ! Is it resolved in the 2.8 version onwards?  Please share a colab gist if you are still looking for further assistance? Thanks!

[2022-04-25 08:54] mohantym commented on #24215
Hi @Arnold1 ! Could you try in python 3.7 onwards with Bazel 5.1.1 with below command . The original command was failing in colab environment. Attaching [gist ](https://colab.sandbox.google.com/gist/mohantym/5f2785f4c21c6b1e3fe9c5958a62418d/tensorflow-ranking.ipynb#scrollTo=Gr24fRLOQVRZ)for reference. will make a PR soon .Thanks!

`!bazel build //tensorflow/python/tools:saved_model_cli `

[2022-04-25 09:15] mohantym commented on #53525
Hi @pkarimib ! The notebook in the above [comment](https://github.com/tensorflow/tensorflow/issues/53525#issuecomment-1000885285) is not accessible any more. Could you please share a minimal stand alone code( as colab gist) including your model file , conversion and inference to help expedite the issue? Thanks!

[2022-04-25 09:22] #55564 closed

[2022-04-25 09:22] #55466 closed

[2022-04-25 09:33] tilakrayal commented on #55717
Hello @Gandalf401 ,
We see that you are using tf version 2.0, which is not actively supported,I request, please update to latest stable version2.8 from [here](https://www.tensorflow.org/install) and let us know if you are facing same issue.Thanks!

[2022-04-25 09:35] tilakrayal commented on #55723
@code-review-doctor ,
The respective PR has been assigned for reviewing and once it is merged this issue will move to closed status.Thanks!

[2022-04-25 09:36] mohantym commented on #53351
@MrinalTyagi ! Feel free to raise a PR for this issue. Thanks!

[2022-04-25 09:50] mohantym commented on #53205
Hi @giamic ! Work around for this problem is to reduce frame_step to 8. Attaching resolved [gist](https://colab.sandbox.google.com/gist/mohantym/e9c44b14c406d39607c538b26cefd8a2/github_53205.ipynb#scrollTo=0oCflt-dIKa4) for reference. Thanks!

[2022-04-25 10:09] tilakrayal commented on #55725
Hello @EnricoMi ,
I was able to install 2.9.0-rc1.Can you please find the gist here.Also tf v2.9.0-rc1 has been released and please refer this [link](https://github.com/tensorflow/tensorflow/releases) for the releases.Thanks!

[2022-04-25 10:22] #19771 closed

[2022-04-25 11:07] dakl commented on #52973
I pretty sure codemagic has M1s that one can provision for CI these days. Maybe others have it too.

[2022-04-25 11:22] #27500 closed

[2022-04-25 11:22] #20773 closed

[2022-04-25 11:22] #20761 closed

[2022-04-25 11:22] #55513 closed

[2022-04-25 11:32] jinfagang commented on #48068
Hi, does there a way in CMake? I am using the minal example to build my app, I don't want change any code in tensorflow_src, is there a way to do it to shinrk down the tensorflowlite.so size? BTW, I using staticlib for tflite.a, it was 780M huge!!

[2022-04-25 11:32] hijkzzz commented on #55707
Hi, you should run this python script on macOS 12 with AMD GPU~
Then pip install tensorflow-macos
and you can reproduce this bug.

[2022-04-25 11:37] jinfagang commented on #20905
Anyone kowns how to specific it in cmake? Reduce the libtensorflow-lite.a size?

[2022-04-25 12:07] mosicr commented on #55713
[occup5.zip](https://github.com/tensorflow/tensorflow/files/8554299/occup5.zip)
Hi,
I am not executing in Colab. I am running it on TPU VM. I put it all in one python file. If TPU related statements are omitted, it runs ok ( trains on CPU ). But if I add TPU related statements ( strategy.scope, @tf.function decorator , etc ), it blows up / doesn't start training.

This version fails with:
2252  Fi

[2022-04-25 12:16] EnricoMi commented on #55725
@tilakrayal you probably run macOS with Python 3.7 or 3.8 or Linux with Python 3.7. All other Python ad OS versions do not work.

[2022-04-25 12:43] tilakrayal commented on #55727
I was able to reproduce the issue in tf [v2.7](https://colab.research.google.com/gist/tilakrayal/beeb742d5ed5ae5a70440d2127efc3e3/55727-2-7.ipynb), [v2.8](https://colab.research.google.com/gist/tilakrayal/0d4a11ef7d5c843668d9cb79800d5362/55727-2-8.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/b96be439672b47e14c5d15b7a2c3e843/55727-nightly.ipynb).Please find the attached gi

[2022-04-25 14:00] fergushenderson commented on #55644
Regarding the error message that you got:
`stderr (/home/user1/.cache/bazel/_bazel_user1/83d974b1842d484c79357d882b1fd6b9/execroot/org_tensorflow/bazel-out/_tmp/actions/stderr-2) exceeds maximum size of --experimental_ui_max_stdouterr_bytes=1048576 bytes; skipping
`:
To get a more detailed error message, try examining the referenced stderr file, in this case `/home/user1/.cache/bazel/_bazel_user1/

[2022-04-25 14:15] BioWar commented on #55644
@fergushenderson  Here is part of the stderr-2 from aforementioned file:

[code]

All of the errors are like this _...error: undefined reference to..._

[2022-04-25 14:46] mohantym commented on #55644
@BioWar! Did you try building  "--experimental_ui_max_stdouterr_bytes=-1 " flag too? I did not face any issue in the 2.8 version though with above config as add on to existing cmakelist.txt . Attaching [gist](https://colab.sandbox.google.com/gist/mohantym/85ea77bc13c72a01b9928b490c840bbf/tensorflow-ranking.ipynb#scrollTo=vykCPwS4mCdY) and [CMakeList.txt](https://github.com/tensorflow/tensorflow/fi

[2022-04-25 15:26] BioWar commented on #55644
Here is output with default Bazel **BUILD** in the minimal directory:
![Default](https://user-images.githubusercontent.com/31529267/165121157-13b2b40c-af93-44bc-9a91-425c3c11ccdf.png)

[2022-04-25 16:00] arslanqadeer commented on #36392
Although I'm trying to fix the above issue by implementing learner API but could anyone please suggest how to use tf.Session with MirroredStrategy. Reference code is provided in the above comment. Thanks for your time.

[2022-04-25 16:05] #55623 closed

[2022-04-25 16:15] mihaimaruseac commented on #52973
Yes, but we need people to maintain the infra and they need to be paid, so this means it needs to be something in the roadmap that helps Google or a community contribution project.

[2022-04-25 16:44] DalilaKhettaf commented on #47554
I'm having the same issue with Tensorflow 2.8.0. I got the warning while saving the model and couldn't reload it.

[2022-04-25 17:28] onurberkay opened #55733 "Can not build from source"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.9

### Custom Code

No

### OS Platform and Distribution

windows 10

### Mobile device

_No response_

### Python version

3.7

### Bazel version

5.0.0

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

[2022-04-25 17:39] onurberkay commented on #55733
`ERROR: C:/users/onurb/downloads/tensorflow-2.9.0-rc1/tensorflow-2.9.0-rc1/tensorflow/tools/pip_package/BUILD:277:10: Target '//tensorflow/tools/common:traverse' contains an error and its package is in error and referenced by '//tensorflow/tools/pip_package:build_pip_package'
ERROR: C:/users/onurb/downloads/tensorflow-2.9.0-rc1/tensorflow-2.9.0-rc1/tensorflow/tools/pip_package/BUILD:277:10: Target

[2022-04-25 17:46] Nyrio opened #55736 "`function_from_graph_def` failure on a model with a loop after Grappler optimization"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9

### Current Behaviour?

On a model with a loop (see simple reproducer below), `wrap_function.function_from_graph_def` fails with a `ValueError` (see log output below). This happens when the model has been frozen and optimized with Grappler. In particular, this seems to happen only i

[2022-04-25 17:57] Nyrio commented on #55669
Hi @apivovarov,

I have made a simple reproducer without TF-TRT and opened the issue #55736

If you're interested in the details: the problem is that the model has a loop, and when reconstructing a function from the modified graph after Grappler optimization, TF fails to do a topological sort (undefined for cyclical graphs). This results in a non-deterministic non-topological order, and some nodes

[2022-04-25 18:59] cchan-lm opened #55738 "BatchNorm with mixed_bfloat16 returns empty output"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.7.0

### Custom Code

No

### OS Platform and Distribution

Linx Ubuntu 18.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2/8.1

### GPU model and memory

NVIDIA

[2022-04-25 19:33] sachinprasadhs commented on #55696
`embedding_lookup_sparse` is not registered with XLA, `XLA_TPU_JIT` and `XLA_GPU_JIT` as well.
As the error message suggests you can perform the unsupported OPs compilation in CPU by setting `tf.config.set_soft_device_placement(True)`.
In your case, since you are using only one operation inside tf.function, it makes sense if you use only eager mode, also `experimental_get_compiler_ir` is limited t

[2022-04-25 20:58] hmaarrfk opened #55740 "Flatbuffer 2.0.X support"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.7 but i think 2.8 as well

### Custom Code

Yes

### OS Platform and Distribution

Conda-forge Liux

### Mobile device

_No response_

### Python version

Any

### Bazel version

4

### GCC/Compiler version

10

### CUDA/cuDNN version

N/A

### GPU model and memory

N/A

###

[2022-04-25 21:00] hmaarrfk commented on #55740
Related to: https://github.com/google/flatbuffers/issues/7272

[2022-04-25 21:32] stewartmiles opened #55741 "TF Lite (CMake): neon2sse missing license file location"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.0

### Custom Code

No

### OS Platform and Distribution

Linux

### Mobile device

_No response_

### Python version

3.8

### Bazel version

N/A

### GCC/Compiler version

N/A

### CUDA/cuDNN version

N/A

### GPU model and memory

N/A

### Current Behaviour?

[code]

### Standalon

[2022-04-25 21:39] iwen-kang opened #55744 "tensorflow_datasets AttributeError: module 'distutils' has no attribute 'version'"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

tf 2.6

### Custom Code

No

### OS Platform and Distribution

Linux

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2/8.1

### GPU model and memory

_No response_

[2022-04-25 22:10] stewartmiles opened #55745 "TF Lite (CMake): Does not compile on Windows"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.0

### Custom Code

No

### OS Platform and Distribution

Windows (MSVC 2019)

### Mobile device

N/A

### Python version

N/A

### Bazel version

N/A

### GCC/Compiler version

N/A

### CUDA/cuDNN version

N/A

### GPU model and memory

N/A

### Current Behaviour?

[code]

### Stand

[2022-04-25 22:33] wenscarl opened #55747 "Kernel names as "a_unnamed" in TF2.8 if XLA debug option "--xla_dump_to" is on"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

TF2.8

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 20.04.4 LTS

### Mobile device

_No response_

### Python version

3.8

### Bazel version

5.0.0

### GCC/Compiler version

No

### CUDA/cuDNN version

_No response_

### GPU model and memory

V100

### Current Behavio

[2022-04-25 22:42] stewartmiles commented on #55745
After fixing that issue, there is another problem:

[code]

has TF _really_ moved to C++20? It doesn't seem great for compatibility.

[2022-04-25 22:46] stewartmiles commented on #55745
Looks like some C99 (which, AFAIK, didn't appear until C++20) has crept into TF Lite.
https://github.com/tensorflow/tensorflow/blob/0cdb708bf66dde960e4ff9d6e8bf304d7d2b6d7c/tensorflow/lite/delegates/external/external_delegate.cc#L157

[2022-04-25 23:45] iwen-kang commented on #55724
@sushreebarsa I did provide code snippet in my PR, not sure why it disappeared, here it is:
pip install tensorflow==2.6
pip install keras==2.6.0
pip install --upgrade tensorflow-hub
#conda install -c conda-forge tensorflow-hub

pip install tensorflow_datasets
pip install tensorflow-text==2.6 --no-dependencies
pip install --upgrade tensorflow-estimator==2.6.0
python -c "import tensorflow as tf; imp

[2022-04-26 01:06] YourPeer opened #55748 "About On Device Training case cannot support correlation ops"
Hello, I would like to ask a question aboout On Device Training case. When I perform migration learning, I get the following error, which seems to be that these operators are not supported. That is, does the On Device Training case currently not support the use of convolution? How should I go about solving this problem? Looking forward to your reply！

"TFLite interpreter needs to link Flex delegat

[2022-04-26 01:22] #54268 closed

[2022-04-26 03:04] sushreebarsa commented on #55724
@DL-stack I tried to replicate the issue on colab using TF v2.8.0 and didn't face any issue as reported here.Could you please have a look at this [gist ](https://colab.research.google.com/gist/sushreebarsa/3286d5010c86f1ba8c23f5cd96e58549/55724.ipynb)and  try with the latest TF version ?Please let us know if it helps?  Thank you!

[2022-04-26 03:11] mohantym commented on #55745
Ok @stewartmiles ! Thanks for reporting the issue. This Issue will be closed once PR #55746 is merged. Thanks!

[2022-04-26 03:17] mohantym commented on #55748
Hi @YourPeer ! Please include these code snippets before converting them to TFlite model. Attaching relevant [thread](https://www.tensorflow.org/lite/guide/ops_select) for reference .Thank you!

[code]

[2022-04-26 03:29] sushreebarsa commented on #55744
@iwen-kang I tried to replicate the issue on colab using TF v2.8.0 and didn't face any issue as reported here.Could you please have a look at this [gist ](https://colab.research.google.com/gist/sushreebarsa/c1145e6fd97f48db03fb1271357aad6c/55744.ipynb)and try with the latest TF version ?Please let us know if it helps? Thank you!

[2022-04-26 03:32] YourPeer commented on #55748
Thank you for your reply! I have actually added this snippet and I found that it was just a hint and not an error report. But I haven't deployed it to android yet, just called it on PC, and it worked!

[2022-04-26 03:34] jinfagang opened #55749 "Why does tflite using CoreML delegate not accelerate on small models?"
### Issue Type

Performance

### Source

source

### Tensorflow Version

tf2.8

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[c

[2022-04-26 03:46] lk1983823 commented on #55710
This code import a local file named "fun_mc" in "from fun_mc import using_jax as fun_mc". How can I make this work on colab?
The file can also be downloaded from "https://github.com/tensorflow/probability/tree/main/spinoffs/fun_mc/fun_mc".
And the code above can be found here: https://github.com/lk1983823/google-research/blob/master/nested_rhat/Nested_R_hat.ipynb

[2022-04-26 03:52] mohantym commented on #55748
Thanks @YourPeer for the confirmation . Please move this issue to closed status if it worked. Thank you!

[2022-04-26 04:01] #55748 closed

[2022-04-26 04:38] gadagashwini commented on #55549
@TheBlackPlague, Yes given code is using GPU. Thanks!

[2022-04-26 05:22] nicholaiTukanov opened #55750 "Custom MLIR Tensorflow Pass"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

2.8.0

### Custom Code

Yes

### OS Platform and Distribution

Linux Centos 7

### Mobile device

_No response_

### Python version

3.10.4

### Bazel version

4.2.1

### GCC/Compiler version

11.2.1

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respon

[2022-04-26 05:25] Ashment commented on #44868
Hello @ghanko

I have the same problem as in this thread, where I get this error:

[code]

I've tried your solution by adding the conv2d op to the micro op resolver, and it did not fix the issue. I've also tried increasing the arena size, as well as swapping to an all ops resolver, neither of which fixed the issue either. Maybe you have more insight into how to fix this? Thanks!

[2022-04-26 05:35] mohantym commented on #55749
Hi @jinfagang ! Could you please provide a minimal standalone code to replicate the issue too ? Thanks !

[2022-04-26 06:01] jinfagang commented on #55749
![image](https://user-images.githubusercontent.com/21303438/165231935-8dd6bba3-4065-4f1f-baed-102f5d29c5d9.png)

from website, NPU (CoreML) slower than GPU (Metal)

[2022-04-26 06:02] KangChou commented on #41966
[code]

[2022-04-26 06:15] apivovarov commented on #55669
Louis, thank you for looking into this!

Since the list of optimizers was changed in 2.9.0-rc0 from
[code]
to
[code]
And after that TF-TRT OD models tests started to fail I think it is better to use reduced list of optimizers in TF-TRT 2.9.0. e.g.
[code]
and add `"common_subgraph_elimination"` later when issue https://github.com/tensorflow/tensorflow/issues/55736 is resolved

[2022-04-26 06:26] apivovarov commented on #55675
There are many ways on how EfficientDet D0 can be executed on Nvidia HW.
This particular issue is not asking on how to get the max performance for EfficientDet D0.

TF-TRT is a generic solution. It can convert and save EfficientDet D0 in 2.7.1 and 2.9.0-rc0
This issue reports the problem with saving converted EfficientDet D0 in 2.8.0.
I also found a workaroud for the issue in 2.8.0 by using optimi

[2022-04-26 07:04] gadagashwini commented on #55624
@Sara980710, Glad that it resolved.
Can we move this issue to closure. Thanks!

[2022-04-26 07:05] #55728 closed

[2022-04-26 07:22] #53597 closed

[2022-04-26 07:43] kanghj opened #55753 "Different behavior between `tf.experimental.numpy.(v/h/d)split` and `np.(v/h/d)split`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-04-26 09:11] mohantym commented on #55749
Hi @sachinprasadhs ! Could you please look at this issue?

[2022-04-26 09:12] gadagashwini commented on #55707
Hi @hijkzzz Thanks for reporting this issue.
Can you try the workaround mentioned on similar [thread](https://developer.apple.com/forums/thread/693292?page=2). Thanks!

[2022-04-26 09:22] #38099 closed

[2022-04-26 09:37] GosuPaper opened #55755 "Undefined reference to function FreezeSavedModel with C++ API"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.6

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

3.7.2

### GCC/Compiler version

9.4.0

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

[2022-04-26 09:37] #54244 closed

[2022-04-26 09:39] tilakrayal commented on #55736
@sachinprasadhs ,
I was able to reproduce the issue in tf v2.7, v2.8 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/b4dd948df3412185a3cb46be70a3aff9/55736.ipynb).

[2022-04-26 09:50] StefRommes commented on #55550
@sushreebarsa the gist has an issue in the visualisations that I didn't have locally. It can be solved by wrapping the input for `plt.imshow` with `tf.squeeze`.

For example:
`plt.imshow(imDecodedRGBgray, cmap='gray', vmin=0, vmax=255)`
Would become:
`plt.imshow(tf.squeeze(imDecodedRGBgray), cmap='gray', vmin=0, vmax=255)`

For your convenience a [gist](https://colab.research.google.com/gist/StefR

[2022-04-26 09:54] iamdanniemirz commented on #55664
Thanks, everyone for guiding me through this issue. I just solved the error by using [export_tflite_graph_tf2.py](https://github.com/tensorflow/models/blob/master/research/object_detection/export_tflite_graph_tf2.py) to convert TensorFlow graph model (pb) to tflite based graph model (pb). For converting tflite graph to proper tflite model, I used the same above mentioned [code](https://github.com/

[2022-04-26 09:54] #55664 closed

[2022-04-26 10:07] KangChou commented on #55715
hell0.    I have solved the problem by manually downloading the 3rd party. @sushreebarsa

[2022-04-26 10:38] tilakrayal commented on #55703
Hello @kofimokome ,
I have able to execute the given code without any issue.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/02d1c6265a222ab05356fa996f3cc51d/55703.ipynb).I request can you please create a virtual environment and test your code again. It helps. Thanks!

[2022-04-26 10:41] SilverLuke commented on #53754
Sorry for this necroposting, any solutions yet?
I am using the r2.9 branch.

[2022-04-26 10:59] gadagashwini commented on #55725
@EnricoMi,
Since `Tf v2.9.0-rc1` is pre release, we can expect Other OS and Python support for stable version Tf v2.9. Thanks!

[2022-04-26 11:11] sushreebarsa commented on #55715
@KangChou Glad it is working for you .
Could you please move this issue to closed status if it resolved for you?
Thanks!

[2022-04-26 11:18] xianzhuo-sky opened #55756 "when path contain '[' and ']' character, tf.data.experimental.load return an empty dataset"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.6

### GPU model and memory

_No response_

[2022-04-26 11:37] awf commented on #55530
PR fixing this issue is #55730

[2022-04-26 11:41] EnricoMi commented on #55725
So I can test Tf v2.9.0rc1 on Linux only with Python 3.7? Please confirm this is intentional.

[2022-04-26 12:22] #40298 closed

[2022-04-26 13:00] hmaarrfk commented on #53317
Can you share a few words about how you were able to address the issue? We seem to be hitting the same bug with the recent upgrade to

20211102

Thanks!

[2022-04-26 13:22] #30087 closed

[2022-04-26 13:22] #47996 closed

[2022-04-26 13:24] hijkzzz commented on #55707
Hi, they are not the same problem.
This bug can be fixed by replacing the Adam Optimizer to SGD Optimizer.

[2022-04-26 13:48] edwardyehuang opened #55757 "TensorFlow does not use NVLink on Windows"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

470

### GPU model and memory

Titan RTX ×2 N

[2022-04-26 13:51] tilakrayal commented on #55747
@sachinprasadhs ,
I was facing different error while trying to execute the given code.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/238a0b0ad41c64e1592fc42511f932d2/55747.ipynb).

[2022-04-26 14:22] #44510 closed

[2022-04-26 14:25] mohantym commented on #55741
Hi @stewartmiles ! This issue will be closed once PR #55743 is merged . Thanks!

[2022-04-26 14:26] kofimokome commented on #55703
I finally saved the model without the .h5 extension and it works now. I don't know why models with .h5 do not work.

[2022-04-26 15:06] mizabrik commented on #51429
We faced an issue with tiled mean too; unfortunately, I can not provide a model either :(

[2022-04-26 15:45] impjdi commented on #51429
@mizabrik I'm not familiar with TF, i.e. I don't know how TF's tiled mean gets mapped to TFLite.  I don't recall having tiled mean implementation separately (in the GPU code).

[2022-04-26 15:56] #55723 closed

[2022-04-26 16:02] sushreebarsa commented on #55733
@onurberkay Could you please make sure that you have followed the mentioned steps [here](https://www.tensorflow.org/install/source_windows) and refer to the tested build configurations?
Thanks!

[2022-04-26 16:36] tilakrayal commented on #55750
@sachinprasadhs ,
I was able to reproduce the issue in tf v2.7, v2.8 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/b94c80e9825757fa05ddb77b0281deff/55750.ipynb).

[2022-04-26 17:08] srcarroll commented on #55652
I submitted a PR here already https://github.com/tensorflow/tensorflow/pull/55722

[2022-04-26 17:21] #55364 closed

[2022-04-26 17:27] karimnosseir commented on #55364
Documentation updated.

Thanks a lot

[2022-04-26 17:55] chunky commented on #55702
I manually set the tensorflow_lite target to be built using stdc++20
I then subsequently got errors about __PRETTY_FUNCTION__ not defined, so I edited types.h, and inside the tflite namespace, I added:
[code]
[Borrowed from here: https://stackoverflow.com/questions/48857887/pretty-function-in-visual-c ]

I haven't tested, but it did at least output Release/tensorflow-lite.lib without errors

[2022-04-26 18:51] wangpengmit commented on #55234
@kanghj Thanks for the finding! We'll fix the dtype sanity check for `MutexLock`.

[2022-04-26 19:30] sachinprasadhs commented on #51967
Based on the comments in the linked PR https://github.com/tensorflow/tensorflow/pull/51968  which was closed, it is not the suggested way to add broadcast in low level API.
You can go ahead and close this issue.
If you are still looking for broadcasting support you can create the new issue in `keras-team/keras` repo.
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-rep

[2022-04-26 21:24] sachinprasadhs commented on #54449
`_var_scope_store` is a thread local store for the current variable scope and scope counts, see [here](https://github.com/tensorflow/tensorflow/blob/3f878cff5b698b82eea85db2b60d65a2e320850e/tensorflow/python/ops/variable_scope.py#L1431).
In multithread environment by default the variable scope mechanism will be in thread local, when the reuse option is set to `True`, then you can create the variab

[2022-04-26 21:51] jpienaar commented on #55750
Good question and quite timely with the new function rewrite API being worked on. Could you clarify if you are interested in having this just in offline tool (a la tf-opt or tfg_graph_transforms)?

[2022-04-26 21:52] sachinprasadhs commented on #53149
The element returned from dataset contains tuple object and hence it throws the error.
Below is the output for the above code.
[code]

[2022-04-26 22:56] Sara980710 commented on #55624
Yes you can close this issue 😊

[2022-04-26 22:56] #55624 closed

[2022-04-26 23:27] chunky commented on #55702
EDIT: I stand corrected. After those two items, it's failing to link when I link to tensorflow-lite.lib , because it can't find a bunch of symbls with "ryu" in the name. And, I don't seem to be able to find a built lib anywhere that includes those symbols.

[2022-04-27 00:24] nicholaiTukanov commented on #55750
An offline tool would be great, since it makes it easier for me to test and play around with.

When thinking for my project, I thought it would be something like tf-opt. But, I wasn't aware of tfg_graph_transforms. Are you referring to the [Graph Transform Tool](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#writing-your-own-transforms)?

[2022-04-27 01:09] jpienaar commented on #55750
No, https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/tfg_graph_transforms (which uses TFG dialect which is more isomorphic with GraphDef than TF). But there isn't guide to either unfortunately, but depending on your use it's easier to point to different folks and ask. The passes themselves are standard MLIR ones and you seem like you know that part (the ops I can point you to

[2022-04-27 01:23] evanfwelch commented on #34335
Was there ever a resolution here? Curious why the issue was closed after the last poster confirmed it was still an issue in TF 2.7.

[2022-04-27 01:35] wangpengmit commented on #55296
Hi @LJKS, thanks for reporting! I think there are two issues here: (1) TF doesn't support differentiating through variable writes; (2) your workaround doesn't work for its own reason. About (2), because `copy_gradient`'s first return value isn't used, `var_up` in `grad` will also be zeros.

I can't think of a working workaround though. So the current situation is that differentiating through varia

[2022-04-27 01:46] gadagashwini commented on #55662
@south-ocean, Glad that its resolved.
Can you move this to closed status. Thanks!

[2022-04-27 02:51] Kimtaehung123 commented on #55681
it's not an issue, but a suggestion on function description

[2022-04-27 02:55] tilakrayal commented on #55755
Hello @GosuPaper ,
Can you please provide the complete error log which helps to debug/analyse the issue.Thanks!

[2022-04-27 03:35] lk1983823 commented on #55710
@sushreebarsa
This code import a local file named "fun_mc" in "from fun_mc import using_jax as fun_mc". How can I make this work on colab?
The file can also be downloaded from "https://github.com/tensorflow/probability/tree/main/spinoffs/fun_mc/fun_mc".
And the code above can be found here: https://github.com/lk1983823/google-research/blob/master/nested_rhat/Nested_R_hat.ipynb

[2022-04-27 03:55] tilakrayal commented on #55652
@srcarroll ,
The PR has been assigned for reviewing and once it is merged this issue will move to closed status.Thanks!

[2022-04-27 03:56] tilakrayal commented on #55703
@kofimokome ,
Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status.Thanks!

[2022-04-27 04:17] sushreebarsa commented on #55510
@JiaqingFu Could you please refer to this [comment](https://github.com/keras-team/keras/pull/16417#issuecomment-1101752331) as well ?
Thanks!

[2022-04-27 04:22] #44980 closed

[2022-04-27 04:43] lk1983823 commented on #55710
@sushreebarsa I have updated the code in the colab you offered. Can you find it?

[2022-04-27 05:13] sushreebarsa commented on #55515
Closing as stale. Please feel free to reopen if you'd like to work on this further.Thanks!

[2022-04-27 05:13] #55515 closed

[2022-04-27 05:22] #55585 closed

[2022-04-27 05:22] #55599 closed

[2022-04-27 06:10] amitmate commented on #37706
@karimnosseir  any suggestions on tf2 models for SSD that have dynamic batch size?

[2022-04-27 06:10] GosuPaper commented on #55755
Yes, but there is nothing else I think.

====================[ Build | TestIA | Debug ]==================================
/snap/clion/189/bin/cmake/linux/bin/cmake --build /home/gosu/CLionProjects/TestIA/cmake-build-debug --target TestIA
[1/1] Linking CXX executable TestIA
FAILED: TestIA
: && /usr/bin/c++ -g  CMakeFiles/TestIA.dir/main.cpp.o CMakeFiles/TestIA.dir/CatDogCNN.cpp.o -o TestIA  -Wl,-rp

[2022-04-27 06:21] gadagashwini commented on #53800
@DwayneDuane,
Does this [similar thread](https://github.com/tensorflow/tensorflow/issues/55624#issuecomment-1106491140) helps  to resolve this problem. Thanks!

[2022-04-27 06:24] unsignedrant opened #55763 "How to load TF1 `.ckpt` weights into keras model?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

binary

### Tensorflow Version

1.14

### Custom Code

Yes

### OS Platform and Distribution

macOS Monterey 12.3.1

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-04-27 07:02] sushreebarsa commented on #36827
@durandg12 Could you please check the updated [gist](https://colab.research.google.com/gist/sushreebarsa/0046baeebf48503e22ceb0d3f53132b3/untitled117.ipynb) in TF v2.8, Please let us know if it helps?Thanks!

[2022-04-27 07:50] jinfagang commented on #54559
Same questoin, 2022 years, tflite still can not fully do fp16 inference on armv8.2 above CPU? Even on CPU doesn't support fp16 natively, it should also using simulation to support fp16. Please add cpu fp16!

[2022-04-27 07:52] jinfagang commented on #54559
@jvishnuvardhan please take a look, thanks!

[2022-04-27 07:55] lucasjinreal opened #55764 "Can tflite CoreML delegate add ELU activation support? (with fp16 as well)_"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf2.8

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-04-27 08:19] onurberkay commented on #55733
@sushreebarsa  yes I have already followed this tutorial

[2022-04-27 08:24] tilakrayal commented on #55757
Hello @edwardyehuang ,
Can you please provide the complete error log which helps to debug/analyse the issue.Thanks!

[2022-04-27 08:28] #55711 closed

[2022-04-27 08:54] sushreebarsa commented on #55550
@StefRommes Thank you for the update!
Could you please move this issue to closed status if it is resolved?
Thanks!

[2022-04-27 08:58] StefRommes commented on #55550
@sushreebarsa this isn't solved, the bug/quirk in Tensorflow persists, I just patched a small error in your gist so you can easier replicate.

[2022-04-27 09:22] #52160 closed

[2022-04-27 10:19] mohantym commented on #24337
Hi @pinzhenx ! 1.x versions are not supported any more. Feel free to check out [TFLiteconverter](https://www.tensorflow.org/api_docs/python/tf/lite/TFLiteConverter) api from 2.8 version though. Thanks!

[2022-04-27 10:50] mohantym commented on #26697
I could replicate this issue in[ 2.8 version](https://colab.sandbox.google.com/gist/mohantym/bdac0a3da83c535c7bd89fb18c339ccf/github_26697.ipynb) too.

[2022-04-27 11:06] sushreebarsa commented on #55658
@zjk000 I tried to replicate this issue on colab using TF v2.8.0 and faced a different error .Could you please have a look at this [gist](https://colab.research.google.com/gist/sushreebarsa/b07910afd216c9fcb4c941149741fe84/gist55658.ipynb) and confirm the same? Please let me know if I am missing something to reproduce the issue.
Thanks!

[2022-04-27 11:22] #55527 closed

[2022-04-27 11:38] sushreebarsa commented on #55710
@chunduriv I was able to replicate the issue on colab ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/64325ff384fd6af70f6921ce802b23db/55710.ipynb) for reference.
Thanks!

[2022-04-27 11:57] bhack commented on #55639
Any feedback on what to do next?

[2022-04-27 12:18] putizi-super commented on #48071
I spent a lot on this issue,too.

[2022-04-27 12:22] #55602 closed

[2022-04-27 13:31] tilakrayal commented on #55713
@chunduriv ,
I was facing different error while executing the code.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/05fe48e38ed84cecbff822c1f4cf37fb/55713.ipynb).

[2022-04-27 13:35] shiva1393 opened #55765 "mixed precision support with tensorflow2.4"
Problem:  Unable to produce mixed-precision results with TensorFlow 2.4
1) Done mixed-precision set up with cudnn8, Cuda 11 and TensorFlow 2.4 version in A100 and V100 GPU.
    referred following sites for this (https://towardsdatascience.com/whats-new-in-tensorflow-2-4-fe7aee9ac977),(https://developer.nvidia.com/blog/cuda-11-features-revealed/) and many other sites.

2) Followed the following tut

[2022-04-27 13:45] mosicr commented on #55713
Hi,
Your dataset is empty. You need to copy at least one tfrecord to local location.

[2022-04-27 14:16] zjk000 commented on #55658
Hi, it was some path issue, I modified the code a little bit, now it should be able to replicate the error, https://drive.google.com/drive/folders/1uNZ4ccKKX2p2yIoL3uH01dQDq07VQMdf?usp=sharing. And can you try again with python 3.8? The default python version of Colab is python 3.7, which may cause some error with pickle.

[2022-04-27 14:37] mohantym commented on #23898
@sjtuldl !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. We recommend that you upgrade to 2.8.0 and let us know if the issue still persists in newer versions .Thanks!

[2022-04-27 14:39] mohantym commented on #23898
@sjtuldl !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. We recommend that you upgrade to 2.8.0 and let us know if the issue still persists in newer versions .Thank you!

[2022-04-27 14:54] mihaimaruseac commented on #55725
We had some issues hitting the size limit on the `tensorflow-cpu` project. We asked for a size limit bump at https://github.com/pypa/pypi-support/issues/1870

[2022-04-27 16:55] onurberkay commented on #55733
btw I have same problem with master branch

[2022-04-27 17:07] yishuangP commented on #55268
Can you try updating to bazel 5?

[2022-04-27 17:59] mariecwhite commented on #52155
I ran into a similar error when building `benchmark_model` with OpenCL on x86. This command worked for me:

[code]

[2022-04-27 18:04] sachinprasadhs commented on #55749
Hi, Have you followed the best practices mentioned [here](https://www.tensorflow.org/lite/performance/coreml_delegate#best_practices) to get the maximum performance in the CoreML delegate. Thanks!

[2022-04-27 18:49] Sara980710 opened #55778 "Quantization models"
I get exactly the same timing for inference using fp16 and fp32 using GPU, shouldn't fp16 give faster computation? And why are the type of the weights in fp32 even if the file-size is different?

int8 does also take longer time to invoke than fp32, is it because of the dequantize quantize implementation for int8 written in the documentation?

(All inherit from the same trained model)

[2022-04-27 19:35] wenscarl commented on #55610
@cheshire

Yes. `tf_xla_ops_to_cluster` serves a similar purpose but not quite the granularity we want.  I would like to propose a `tf_xla_ops_cluster_blacklist` under `TF_XLA_FLAG` which takes comma separated op names like where or unique. Does that sound good?

[2022-04-27 20:06] edloper commented on #50189
Fixed the documentation in 011e57d43fbbbce20163ca807f29b21d3f0f6084.

[2022-04-27 20:22] #53501 closed

[2022-04-27 21:37] iwen-kang commented on #55724
@sushreebarsa This appears to be conflict caused by new release of python setuptools lib. After making sure it is not in the path this problem is gone. Please feel free to close this issue. Thanks!

[2022-04-27 22:02] #53157 closed

[2022-04-27 22:23] PhillipMaire commented on #55432
any mobility on this issue? I saw the commit failed some tests, can anyone elaborate on why changing the mobile net weights file to what it was in 2.7 causes failures?

[2022-04-27 23:48] chrisrapson opened #55782 "Documentation unclear for parameter `central_fraction` in `tf.image.central_crop`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Feature Request

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GP

[2022-04-28 00:06] mself commented on #47400
Thanks, @ccarpita.  I verified that your commit works for my project.

[2022-04-28 02:24] sushreebarsa commented on #55724
@DL-stack Thank you for the update!
Glad it is resolved.
Closing this ticket as per your request ,please feel free to reopen if you still have any concern.Thanks!

[2022-04-28 02:24] #55724 closed

[2022-04-28 03:22] #54714 closed

[2022-04-28 03:24] tilakrayal commented on #55763
Hello @unsignedrant ,
We see that you are using tf version 1.14, 1.x is not actively supported, please update to latest stable v2.8 and let us know if you are facing same issue.Thanks!

[2022-04-28 03:40] unsignedrant commented on #55763
I'm converting 1.14 code to 2.8 so to do so, I need to run it in 1.14 and it doesn't really matter, the same issue will happen at any given version.

[2022-04-28 04:12] shiva1393 opened #55784 "fp32 and mixed precision models"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

tf 2.4

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

cuda 11.2/cuDNN 8.0

### GPU model and memor

[2022-04-28 04:34] sushreebarsa commented on #46907
@princyok tf.keras.preprocessing.text.Tokenizer will be deprecated in future version since it does not operate on Tensors, and is most unlikely to get any update.
We recommend you to use tf.keras.layers.TextVectorization which has similar functionality which operate on Tensors.
For details see [here](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/text/Tokenizer?version=nightly).

[2022-04-28 05:51] elize-anu commented on #40298
Did you able to resolve this issue? I'm facing the same issue, please help

[2022-04-28 05:55] lakshya-IIT4gp commented on #55495
No, I'm not instantiating even 1 interpreter. I only added single line `auto* delegate = TfLiteGpuDelegateV2Create(/*default options=*/nullptr);` in a default native application, and it gives resulted in error. Please note that I downloaded the libs , tflite-2.8 and tflite-gpu-2.8, from the maven repository(https://search.maven.org/). Could there be difference.

[2022-04-28 06:19] mohantym commented on #26697
Hi @haozha111 ! Tests are running fine in the [2.9 ](https://colab.sandbox.google.com/gist/mohantym/617044387d1866e18726d6633825ecfe/github_26697.ipynb#scrollTo=dEhfT9a8QIgn)version.   @herbakamil ! Can we move this issue to closed status now? Thanks!

[2022-04-28 06:21] mohantym commented on #26697
Hi @haozha111 ! Tests are running fine in the [2.9 ](https://colab.sandbox.google.com/gist/mohantym/617044387d1866e18726d6633825ecfe/github_26697.ipynb#scrollTo=dEhfT9a8QIgn)version.   @herbakamil ! Can we move this issue to closed status now? Thanks!

[2022-04-28 06:34] njuhang commented on #55605
Sorry for long time no reply. I'll take a try and respond to you soon.

[2022-04-28 07:11] tilakrayal commented on #55778
Hello @Sara980710 ,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced] or if possible share a colab gist with the issue reported.Thanks!

[2022-04-28 07:16] jinfagang opened #55785 "tflite quantization to fp16 only quantized input"
Hi, I have a model which is simply 3 layer fully connnected layers (the first layer will have resample on weights)

but I got a tflite graph that only quantized input:

![image](https://user-images.githubusercontent.com/21303438/165697855-63a99f9a-5de6-4446-a28a-b185bf3d29c7.png)

it only quantized the weights, but all other operations were dequantized and calculate in float32 way.

Why? I want th

[2022-04-28 07:49] mohantym commented on #55785
Hi @jinfagang ! Could you please attach a minimal stand alone code too?

[2022-04-28 07:57] chunduriv commented on #22304
@xu-song,

Sorry for late response. Can you please a take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/22304#issuecomment-555813956) ?

Whether soft placement is allowed. If allow_soft_placement is true,
 an op will be placed on CPU if
   1. there's no GPU implementation for the OP
 or
   2. no GPU devices are known or registered
 or
   3. need to co-locate with reftype

[2022-04-28 08:30] wang1wu commented on #46631
请问您解决问题了吗，我在这一步卡了好久了

[2022-04-28 08:40] wjc2b commented on #46631
看样子当初我是更换了版本来解决这个问题，具体版本在上面。后面使用的是pytorch，没有使用tensorflow了

[2022-04-28 09:05] hoba87 opened #55786 "Build C++ interface with CUDA on CentOS 8"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.3.4, 2.4.4, 2.5.3, 2.6.3, 2.7.1, 2.8.0

### Custom Code

No

### OS Platform and Distribution

CentOS 8.5

### Mobile device

_No response_

### Python version

3.7.9

### Bazel version

3.1.0, 3.7.2, 4.2.1 depending on tf version

### GCC/Compiler version

gcc 8.5.0

### CUD

[2022-04-28 10:25] cheshire commented on #55610
Thanks! We already have a struct for enabling/disabling such ops, in
compilability_check_util. Re-adding tf.where there and disabling it by
default for autoclustering could make sense.

On Wed, Apr 27, 2022 at 21:36 wenscarl ***@***.***> wrote:

[2022-04-28 10:27] sushreebarsa commented on #55738
@cchan-lm I was able to replicate this issue on colab , please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/bd11bccbff7fa63c1e105f8274961701/55738.ipynb#scrollTo=tDOrSM8M7Nn7).Could you please refer [this ](https://stackoverflow.com/questions/58612783/batch-normalization-yes-or-no)thread .
For any further queries
Please post this issue on [keras-team/keras repo.](https:

[2022-04-28 10:29] eugen-vusak opened #55787 "Loss name not using names from the output dictionary"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

v2.8.0-rc1-32-g3f878cff5b6 2.8.0

### Custom Code

No

### OS Platform and Distribution

Linux Arch 5.17.4-arch1-1

### Mobile device

_No response_

### Python version

3.9.12

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No res

[2022-04-28 10:29] da-tubi commented on #38598
Tested with tf 2.3.0, still memory leak.

[2022-04-28 10:38] sushreebarsa commented on #55753
@gowthamkpr I was able to replicate the issue on colab using TF v2.8.0 and tf-nightly ,please find the attached [gist](https://colab.research.google.com/gist/sushreebarsa/53b45538c26b46365fc0a774a18a769b/55753.ipynb)  for reference.Thanks!

[2022-04-28 10:40] sushreebarsa commented on #55756
@xianzhuo-sky
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-04-28 11:05] sushreebarsa commented on #53613
@Thf772  `tf.data.experimental.load` api is deprecated which will be removed in future versions.Please have a look at this  [link](https://www.tensorflow.org/api_docs/python/tf/data/experimental/load?version=nightly) for more details.Please let us know if it helps?
 Thanks!

[2022-04-28 11:31] mohantym commented on #28789
Hi @anidh ! 1.x versions are not supported any more. In the 2.x version , You can resolve the Select ops by putting below the code snippet before converting it to a lite model. Attaching documents on [Select Ops](https://www.tensorflow.org/lite/guide/ops_select) and [Custom Ops ](https://www.tensorflow.org/lite/guide/ops_custom)for reference. Thank you!

[code]

[2022-04-28 11:37] sushreebarsa commented on #55765
@shiva1393 I was able to run the tutorial of mixed precision successfully on colab using TF v2.8.0 , please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/937bc1ba926bda63b22690a50e4fa121/mixed_precision.ipynb) for reference.
I tried to replicate the issue with the provided code and faced an [error](https://colab.research.google.com/gist/sushreebarsa/326dbe26a8deffb7068c8

[2022-04-28 11:42] sushreebarsa commented on #55782
@chrisrapson
In order to expedite the trouble-shooting process, can you please provide more details on this issue ?Thanks!

[2022-04-28 11:56] GosuPaper commented on #41904
@Shadowman82 Hi,

Did you manage to use FreezeSavedModel. I had, like you, the problem with a lot of link error during bazel buidl after adding to the BUILD file of tensorflow through filegroup.
Can you tell me which TF version and bazel you are using to make it work ? And which file you are building.

I use bazel build --config=opt --config=cuda tensorflow:tensorflow_cc.dll  then
bazel build --co

[2022-04-28 12:13] gadagashwini commented on #55550
Hi @StefRommes for reporting this issue.
Looks like its intended behaviour.
Take a look at below test scenarios.

**Decoding them in 3 channels/dimensions**
[code]

[code]

**Comparing them, they are equal as expected**
`>>>print(tf.reduce_all(tf.equal(imDecodedRGB.shape, imDecodedRGBA.shape)))`
`tf.Tensor(True, shape=(), dtype=bool)`

**Decoding them in 1 channel, changing to grayscale [see link]

[2022-04-28 12:22] #55618 closed

[2022-04-28 12:23] tilakrayal commented on #55784
Hello @shiva1393 ,
 In order to expedite the trouble-shooting process, could you please provide a complete code you are using and also I request, please try to test the code in latest stable tensorflow v2.8 and let us know if you are facing same issue.Thanks!

[2022-04-28 12:45] KangChou commented on #55715
OK.

[2022-04-28 13:00] thias42 opened #55789 "tf.make_tensor_proto() does not respect byte order of numpy input array"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[code]

#

[2022-04-28 13:04] StefRommes commented on #55550
Hi @gadagashwini thank for taking the time to answer. The dimensions are indeed the same but the contents are not! They are also supposed to be the same.

[2022-04-28 13:15] zanussbaum commented on #55592
any update? this is a blocking issue

[2022-04-28 13:19] chunduriv commented on #55432
@PhillipMaire,

Sorry for late response. As we modified the architecture in TF 2.8, it is not possible to make it backward compatible. Hence the old weights is not going to work with new model.

As a workaround you can try to use TF2.7 else you need to train your model using TF2.8. Thanks!

[2022-04-28 13:21] OUStudent commented on #55693
Imagine we have a skip connection and a connection from the previous block. We can add these two together as follows:

skip = ....
prev = ....
next = Add()([skip, prev])

This add statement is mathematically equal to:
next = 1*skip + 1 * prev

As we can see, the coefficient for each input path is 1; however, perhaps we could train these coefficients to "learn" some type of attention mechanism :

n

[2022-04-28 13:37] jinfagang commented on #55785
@mohantym  Hi, I might can only add the tflite model. But Can u point out why it goes like this? the model arch is like this:

[link](https://github.com/sebastianstarke/AI4Animation/blob/master/AI4Animation/SIGGRAPH_2017/TensorFlow/PFNN/PFNNParameter.py)

the whole graph is actually very simple:

https://github.com/sebastianstarke/AI4Animation/blob/e2cd539816b1cb1fa0a57e9d21df21d48467b313/AI4Anima

[2022-04-28 13:47] bhack commented on #55639
I've just updated the fallback list from the current Keras-cv master:

[code]

[2022-04-28 14:14] sushreebarsa commented on #55715
Closing this issue as it is resolved. Please feel free to reopen the issue if you still have a concern. Thanks!

[2022-04-28 14:14] #55715 closed

[2022-04-28 15:25] EnricoMi commented on #55725
@mihaimaruseac thanks for the update, pip install works now as expected.

[2022-04-28 15:25] #55725 closed

[2022-04-28 16:14] #55616 closed

[2022-04-28 16:55] Anyanwu21 commented on #55784
Good

[2022-04-28 17:04] aaudiber commented on #53613
@Thf772 Thanks for the extra context. It is still possible to add optional parameters to non-experimental API, as long as the default behavior doesn't change. That being said, my feeling is that this feature doesn't have general enough applicability to be worth adding to the core API. The functionality can already be achieved with a short helper function:

[code]

In general we try to avoid adding

[2022-04-28 17:12] Thf772 commented on #53613
I understand, but the whole point of this issue was to avoid having to use the `cache` hack for this kind of situation. There may be other scenarii in which it is useful to immediately get an in-memory dataset from a saved file.

If you do not wish to expand the capabilities of the API, maybe it would be wise to document the fact that `load` only performs lazy loading, and to describe the `cache`

[2022-04-28 17:18] PhillipMaire commented on #55432
can you elaborate on how this is possible? mobilenet V3 (or any static base model) architecture should be the exact same no matter what version of TF/keras is being used right? I am very confused because by definition if a model has a different number of layers it can not be the same model (even if it behaves identically in every other way). Can you point to a reference as to why the following fun

[2022-04-28 17:28] aaudiber commented on #53613
I agree it's worth specifying in the documentation that the dataset is loaded in a streaming fashion. @shilpakrish2 can you please update the docs to include this? I think the docstring is also out of date with regards to `element_spec`, now that `element_spec` is no longer required in eager mode.

[2022-04-28 17:31] PhillipMaire commented on #55432
I am using colab for my project and they have TF 2.8 GPU installed and I can not get a working V2.7 GPU working on colab. Is it unreasonable to ask for a working TF 2.7 version mobilenet model function perhaps like `applications._MobileNetV3Large()` or something? or are there too many dependancies and changes so that wont work?

[2022-04-28 19:12] jamesmullenbach commented on #55592
This is on my plate and I haven't solved it yet, but I have found a workaround: you should be able to replace any python arithmetic operators in `result()` with the TF op equivalents. For example:
[code]
becomes
[code]

I've got an example [here](https://colab.sandbox.google.com/drive/1BNnA_5QKlBrfDhPg5DDeUFN5Vf0i3xUR#scrollTo=_BH90hBy4cgo). It ends up rather verbose but can hopefully unblock you

[2022-04-28 19:40] cchan-lm commented on #55738
Thank you, @sushreebarsa! I noticed in the gist that using FP32 was not tested. Did you see that actual results were returned with FP32? The thread you linked seems to discuss on its numerical inconsistencies, not empty output. Was there something I missed? I tried a batch size of 32 to find the same results as well.

[2022-04-28 19:44] zanussbaum commented on #55592
can you please give me access to the colab? thanks for taking a look!

[2022-04-28 20:09] jamesmullenbach commented on #55592
Whoops, here it is as a [gist](https://gist.github.com/jamesmullenbach/deaffd02449cc67403a570b808e2dd9d).

[2022-04-28 20:40] kaixih opened #55792 "TF doesn't fuse Conv2D since v2.7"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8, tf 2.9, tf 2.10

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.6/8.1

### GPU model and memory

_No response_

### Current Behaviour?

[code]

[2022-04-28 20:41] mohitrajpal1 commented on #55610
This is also causing an issue for me. Do you have a pointer in TF code where I can hack together an addition to not compile tf.where?

[2022-04-28 20:47] kaixih commented on #55792
Initial investigation shows that [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/grappler/optimizers/remapper.cc#L401): the returned `input_props` of the conv2d node is an empty vector and further [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/grappler/costs/graph_properties.cc#L2833): the member `input_properties_` is also an empty map.

vi

[2022-04-28 21:00] sachinprasadhs commented on #50124
`tf.keras.preprocessing.image_dataset_from_directory` will be deprecated from Tensorflow 2.9 version, prefer loading data with [tf.keras.utils.image_dataset_from_directory](https://www.tensorflow.org/api_docs/python/tf/keras/utils/image_dataset_from_directory), and then transforming the output [tf.data.Dataset](https://www.tensorflow.org/api_docs/python/tf/data/Dataset) with preprocessing layers.

[2022-04-28 21:10] sachinprasadhs commented on #50079
While trying to reproduce your issue using Tf-nightly(2.10) version, I'm getting different error which says `'list' object has no attribute 'dtype'` , could you please check.
 Attaching gist [here](https://colab.sandbox.google.com/gist/sachinprasadhs/4888e822005db7cc9466f2fee145c7cb/untitled.ipynb) for reference. Thanks!

[2022-04-28 21:11] StepanovIgorS opened #55794 "Can't install tensorflow on macOs"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

MacOS Monterey

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_N

[2022-04-28 21:30] bhack commented on #55639
@wangpengmit Thank you but I need to wait that we have a resource allocated to `tf.vectorized_map` to discuss a little bit in detail the next steps.

I want also try to minimize the risk that at some point I find out that it will no longer be actively supported or it superseded by something else as we don't have a public visibility on TF roadmaps.

Please notify me on this ticket when you have a n

[2022-04-28 21:32] wangpengmit commented on #55646
Hi @innat, in your use case, will `shape[0]` always equal to `maxval - minval`? If so, we recommend `tf.random.experimental.index_shuffle` or a forthcoming `tf.random.experimental.stateless_shuffle`. If not, the feature is trickier to implement.

[2022-04-28 21:35] sachinprasadhs commented on #48901
tf.keras.preprocessing.image_dataset_from_directory will be deprecated in Tensorflow 2.9 version, use tf.keras.utils.image_dataset_from_directory instead.
Coming to your actual issue, I can see the changes made to include another subdir here https://github.com/keras-team/keras/blob/master/keras/utils/dataset_utils.py#L88.
Thanks!

[2022-04-28 21:42] #55530 closed

[2022-04-28 21:48] zanussbaum commented on #55592
@jamesmullenbach any intuition/reason why TF ops are preferred here over python ops?

[2022-04-28 21:51] #55794 closed

[2022-04-28 21:58] sachinprasadhs commented on #46907
I'm able to Tokenize string data by using TextVectorization.
Below is the code reference.
[code]

[code]

[2022-04-28 22:11] sachinprasadhs commented on #46727
tf.keras.preprocessing.image_dataset_from_directory will be deprecated in future Tensorflow version, prefer loading data with [tf.keras.utils.image_dataset_from_directory](https://www.tensorflow.org/api_docs/python/tf/keras/utils/image_dataset_from_directory), and then transforming the output [tf.data.Dataset](https://www.tensorflow.org/api_docs/python/tf/data/Dataset) with preprocessing layers.
L

[2022-04-28 22:23] duncanriach commented on #41906
For anyone visiting this issue, please see the documentation for [tf.config.experimental.enable_op_determinism](https://www.tensorflow.org/api_docs/python/tf/config/experimental/enable_op_determinism) and also the detailed status of ops [here](https://github.com/NVIDIA/framework-determinism/blob/master/doc/tensorflow_status.md).

[2022-04-28 22:26] zanussbaum commented on #55592
@jamesmullenbach thanks for the explanation, makes sense!

[2022-04-28 22:46] duncanriach commented on #51466
Just adding some info here in case someone comes across this issue in the future.

When op-determinism is enabled in TensorFlow (currently using [tf.config.experimental.enable_op_determinism](https://www.tensorflow.org/api_docs/python/tf/config/experimental/enable_op_determinism)), if an op is used in a way that would introduce nondeterminism into the functionality of the program then an `Unimplem

[2022-04-28 22:56] mihaimaruseac commented on #55528
Duplicate of #55524?

[2022-04-28 22:59] mihaimaruseac commented on #55524
What is the commit you are trying to build?

Can you use proper markdown formatting on the errors so that they are easier to read?

Can you explain what you want to do? It seems this is a X vs Y type of problem

[2022-04-28 23:03] mihaimaruseac commented on #55505
Do you have a minimal example of your repo and how are you referring to TF's wheel?

You'll need a bazel `genrule` that would depend on the `build_pip_package` target and then builds the wheel. Use this as the base rule in your repo

[2022-04-28 23:51] jgentil opened #55795 "Autograph crashes when using pythonw.exe on Windows"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.8.0

### Custom Code

No

### OS Platform and Distribution

Windows

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

###

[2022-04-29 00:14] #55545 closed

[2022-04-29 00:44] karimnosseir commented on #35506
@xbwee1024 Yes libhexagon_interface.so is built from TF repo.
You can build this rule to compile it.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/hexagon/hexagon_nn/BUILD#L75

If you're facing issue with different versions. You can adjust to the version you have by updating this and building the libhexagon_interface
https://github.com/tensorflow/tensorflow/blob/ma

[2022-04-29 01:04] Jiaao-Bai commented on #55466
i'm seeing the same issue too, what can i do if i build op only using gcc 9.3? Delete /root/.cache/bazel is not ok

[2022-04-29 01:50] shiva1393 commented on #55784
@tilakrayal Thanks for your suggestion,  I have the following doubts please clarify to me
(1)what are the exact dependencies(e.g., Cuda, CuDNN) needed for t2.8?
(2)Without CuDNN Can I expect the same results?

[2022-04-29 01:59] shiva1393 commented on #55765
@sushreebarsa Thanks for your suggestion, you are getting out of a memory issue.  decreasing the num_units from 4096 to lesser, You can run it. I will try with the tf2.8 version, thank you

[2022-04-29 02:05] mohantym commented on #55785
@jinfagang ! Could you point towards the location of Input.txt  and Output.txt too?

[2022-04-29 02:22] jinfagang commented on #55785
@mohantym Hi, the input is jus a random [bs, 1024], and output is just a random of [s, 980].
For exportation, just give it a random input and we can the graph. For the input name, I think you can specific anyname in node

[2022-04-29 03:42] tilakrayal commented on #55787
@eugen-vusak ,
I was able to reproduce the issue in tf v2.7, v2.8 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/f640d835fe71f4dc507ecfca171d07ce/55787.ipynb).

[2022-04-29 03:43] tilakrayal commented on #55787
@eugen-vusak ,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Can you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-04-29 05:56] tilakrayal commented on #55755
@GosuPaper ,
We see you are using gcc compiler v9.4.0 which is not compatible for tensorflow v2.6. Please try to install with the compatible gcc compiler 7.3.1.Thanks!

[2022-04-29 07:31] tilakrayal commented on #55789
@chunduriv ,
I was able to reproduce the issue in tf v2.7, v2.8 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/cef07cf718456b6b07526ea38d73fb52/55789.ipynb).

[2022-04-29 07:33] CaptainDario commented on #50124
I tried this function and it seems to work, Thanks!

[2022-04-29 07:33] #50124 closed

[2022-04-29 07:43] lisherlock commented on #27688
It works in my code. Thanks a lot!

[2022-04-29 08:38] GosuPaper commented on #55755
@tilakrayal  I did try to use this version of gcc... Still exactly the same log error

[2022-04-29 09:19] HotzingTone opened #55796 "tf.range error with certain parameters"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.8

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-04-29 09:49] HoangTienDuc commented on #55660
Hi everyone, Is there any update?

[2022-04-29 09:51] elfringham opened #55797 "Change to rolling bazel release is broken on AARCH64"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

git HEAD

### Custom Code

No

### OS Platform and Distribution

CentOS 7

### Mobile device

n/a

### Python version

3.8.13

### Bazel version

last_downstream_green

### GCC/Compiler version

10.2.1

### CUDA/cuDNN version

n/a

### GPU model and memory

n/a

### Current Beh

[2022-04-29 09:52] elfringham commented on #55797
@cfRod @nSircombe @penpornk

[2022-04-29 10:19] xianzhuo-sky commented on #55756
@sushreebarsa I change to the latest nightly build version 'tf-nightly-2.10.0.dev20220427', and can't use  tf.data.Dataset.load .
`AttributeError: type object 'DatasetV2' has no attribute 'load'`

[2022-04-29 11:00] elfringham commented on #55797
`file /root/.cache/bazelisk/downloads/bazelbuild/bazel-df96163124d220a04abde24f8302e77349ae5194-linux-arm64/bin/bazel
/root/.cache/bazelisk/downloads/bazelbuild/bazel-df96163124d220a04abde24f8302e77349ae5194-linux-arm64/bin/bazel: ELF 64-bit LSB executable, x86-64, version 1 (GNU/Linux), dynamically linked (uses shared libs), for GNU/Linux 2.6.32, BuildID[sha1]=1af60e5fe9fa0c2ec7780f7093d998be9a9c

[2022-04-29 11:44] jerryIsHere commented on #55575
This happened in version 2.6.3 `tfds.load('cifar100',split=['train', 'test'],as_supervised=True)`

[2022-04-29 11:45] sunnyhoward opened #55798 "gradient tape out of memory when repeatedly calling the same layer."
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf 2.8

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-04-29 11:46] prabalakanti commented on #55575
Unfortunately I won't be able to give the entire working code snippet to reproduce this issue. We will try to run the same code with TF 2.8 and check if the issue occurs.

[2022-04-29 12:52] innat commented on #55646
@wangpengmit Thanks for your response. I've tried `tf.random.index_shuffle` and `tf.random.shuffle`.  Both gave

[2022-04-29 12:55] innat commented on #55646
Apart from this shuffling function, I think it makes sense to have such a `unique` bool param in `tf.random.uniform` in general. What do you think?

[2022-04-29 13:07] #46719 closed

[2022-04-29 13:14] #55635 closed

[2022-04-29 14:59] jerryIsHere commented on #55575
I tried `!pip install -U -q tensorflow==2.8.0` on kaggle, it worked
For version 2.6.3, I tried tricks that I found on stackoverflow, they don't work on kaggle.
 (`sys.stderr` and `from contextlib import redirect_stderr`)

[2022-04-29 15:04] hartmannma opened #55799 "TFlite model with dilated convolution yields different results than TF model"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

v2.4.0-49-g85c8b2a817f 2.4.1

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.0, cuDNN 6.5.0

### GPU m

[2022-04-29 15:35] EliaSchiavon commented on #31650
Ok, but why? Wouldn't be useful to print at least a warning saying that there is a mismatch between the specified input at the actual input?

[2022-04-29 15:37] mihaimaruseac commented on #55505
If you are building a target from an external repo you have to use `@` syntax.

I think this is more and more becoming an issue for Bazel, not TF. There's no breakage that can be root caused to TF itself.

[2022-04-29 16:50] elfringham commented on #55797
This should have been resolved by https://github.com/tensorflow/tensorflow/commit/a969f2bf9196b534f2acc47ca11e963c729bb80d

[2022-04-29 16:50] #55797 closed

[2022-04-29 17:17] markub3327 commented on #55546
@fchollet Is it a true solution? Can I rely this solution?

I need it know with academical precision.

Thanks.

[2022-04-29 17:19] isabellahuang commented on #45946
Running into the same issue as well.

[2022-04-29 18:34] coreyjadams commented on #55230
Another ping ... any news?

[2022-04-29 18:36] kpsboonga opened #55801 "Kp"

[2022-04-29 19:11] Valret opened #55803 "Error building custom tensorflow op on Ubuntu and Windows"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 20.04, Windows 10

### Mobile device

_No response_

### Python version

3.8, 3.9

### Bazel version

_No response_

### GCC/Compiler version

9.4.0

### CUDA/cuDNN version

11.2

### GPU model and memory

RTX 3080

#

[2022-04-29 19:50] kofimokome commented on #55703
The issue has not been resolved. But I found an alternative method to save the model

[2022-04-29 19:50] #55703 closed

[2022-04-29 20:11] Stas-Medvedev commented on #8858
One more update for anyone else who might be running into a similar issue: while disabling the CPU temporarily helped, in our case, updating the kernel fixed the issue, and we could re-enable the turbo. So, if you're getting system restarts while running Tensorflow with GPU(s) on a Linux machine, updating the kernel is worth giving a shot.

[2022-04-29 20:15] tomytsai1 commented on #55230
Hi @coreyjadams ,
We seemed to find the root cause, but are working on the solution.

The problem is from [linalg_grad._MatrixDeterminantGrad](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/linalg_grad.py#L376) where the matrix inverse function was invoked with `adjoint = True` flag, but when taking the second derivative the adjoint flag was not correctly considered, so

[2022-04-29 21:26] wangpengmit commented on #55646
I just realized that even if `shape[0] < maxval - minval`, the functionality you need can be achieved via `tf.random.experimental.index_shuffle`:
[code]
so no new features are needed. Another reason I'm against adding this feature to `tf.random.uniform` is that "unique uniform sampling" is mathematically closer to shuffling than "uniform sampling".

`tf.vectorized_map` and XLA supports are orthogo

[2022-04-30 00:49] duncanriach commented on #47174
Using docker image `tensorflow/tensorflow:2.10.0-dev20220427` I have confirmed that PR [55657](https://github.com/tensorflow/tensorflow/pull/55657) allows EfficientNetB0, B5, and B7 to operate deterministically on GPU (when op-determinism is enabled via [`tf.config.experimental.enable_op_determinism`](https://www.tensorflow.org/api_docs/python/tf/config/experimental/enable_op_determinism)).

This

[2022-04-30 02:14] #17356 closed

[2022-04-30 02:14] #21830 closed

[2022-04-30 02:14] #50154 closed

[2022-04-30 02:14] #47407 closed

[2022-04-30 02:44] 372046933 commented on #55505
Did we come to a conclusion that it's not possible to build TF wheel in an external repo currently?

[2022-04-30 02:48] gadagashwini commented on #55733
@onurberkay,
Can you try the workaround mentioned on similar thread [#34833](https://github.com/tensorflow/tensorflow/issues/34833#issuecomment-611476283).
Let us know if that helps. Thanks!

[2022-04-30 03:51] wenscarl commented on #55610
A PR is opened [here](https://github.com/tensorflow/tensorflow/pull/55808).

[2022-04-30 04:03] tilakrayal commented on #55763
@unsignedrant ,
The provided code is related to tf1 version.Can you please provide the latest version code to reproduce the issue.It helps to debug the issue.Thanks!

[2022-04-30 04:08] tilakrayal commented on #55784
@shiva1393 ,
Every TensorFlow release is compatible with certain CUDA and cuDNN version, I request to please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu) which delivers the information on compatible versions for tf v2.8.Thanks!

[2022-04-30 04:20] unsignedrant commented on #55763
I provided both codes for creating 1.x model, 2.x keras model and a demonstration of what I'm trying to achieve which again is loading weights produced by tf1 code into keras model. If you think something is preventing you from reproducing the issue, please be specific about what it is.

[2022-04-30 09:15] innat commented on #55646
Yes, it seems like it's a nice workaround.

[code]
[code]
[code]
[code]

[2022-04-30 09:16] innat commented on #55646
@wangpengmit I'm ok with this solution. Please close the issue if you don't wanna add anything. Thanks again.

[2022-04-30 09:27] innat opened #55809 "How to resize (downsample) 5D samples in tensorflow?"
Issue Type: Feature Request
Source: binary
Tensorflow Version: tf 2.8
Custom Code: Yes
OS Platform and Distribution: Windows 10
Python version: 3.9

---

## Note.

Reposting from [here](https://github.com/keras-team/keras/issues/16260). It's closed in keras and recommended to post it on the tensorflow side because this functionality is not precisely available in tensorflow. It may need to write lo

[2022-04-30 09:30] innat commented on #55809
/cc @bhack @qlzh727

[2022-04-30 10:13] faysalhossain2007 opened #55810 "Not able to install Tensorflow-gpu v2.8 in ubuntu 18.04"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

Ubuntu 18.04

### Mobile device

_No response_

### Python version

3.7.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-04-30 12:18] mcourteaux opened #55811 "Unroll factor for keras.layers.RNN or performance fix for TensorArray / while_loop."
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Tensorflow Version

2.7.0

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 20.04

### CUDA/cuDNN version

11.5

### GPU model and memory

RTX 2080Ti

</details>

### Feature description

`keras.layers.RNN` supports unrolling, which is great for performance, unless the unrolled time dimension is too l

[2022-04-30 12:39] Muhammad-Kaleem-Ullah opened #55812 "Value Assignment by specific indices error in Tensorflow (Assign values using mask)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.10.2

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-04-30 13:32] ll971 opened #55813 "Voting issues for the output layer"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf2.1.1

### Custom Code

Yes

### OS Platform and Distribution

Windows

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respons

[2022-04-30 15:03] njuaplusplus opened #55814 "Inconsistent results with or without tf.function"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.8.0

### Custom Code

No

### OS Platform and Distribution

Google Colab

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-04-30 15:34] michaeldietz opened #55815 "tf.data batching slows down on Windows"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.2 cuDNN 8.1.0

### GPU model and memory

Nvidia A40 48GB, 128GB System RAM

### Current Behav

[2022-04-30 19:01] Monalisa98927 opened #55816 "Error when making directory to a google cloud storage bucket path"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.8.0

### Custom Code

Yes

### OS Platform and Distribution

CentOS Linux release 7.4.1708

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

cuda/11.2.2  cudnn/8.1a11

### GPU m

[2022-05-01 00:19] mikeangstadt commented on #55789
I'll take a look at this one!

[2022-05-01 00:26] mihaimaruseac commented on #55505
No, it is possible to build it. See recommendation in https://github.com/tensorflow/tensorflow/issues/55505#issuecomment-1112731813

[2022-05-01 00:30] mihaimaruseac commented on #55810
2022-04-30 06:07:54.980435: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1850] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.

[2022-05-01 00:33] mihaimaruseac commented on #55733
At what commit are you building? There is no `medium` test size currently

https://github.com/tensorflow/tensorflow/blob/1cca89708c5b218e38cd68d341c98c2d06f3870b/tensorflow/python/tools/api/generator/BUILD#L40-L53

[2022-05-01 00:34] #55801 closed

[2022-05-01 05:14] #45941 closed

[2022-05-01 08:56] Valret commented on #55803
**Update**

Despite throwing errors my command generates the required .so file. But, when I try to load it with `tf.load_op_library` I get `tensorflow invalid ELF header` error.

[2022-05-01 09:27] 372046933 commented on #55505
Could you give an example? Found that `genrule` does not have `deps` attribute. I did not know how to  depend on `build_pip_package` and then build a wheel

[2022-05-01 12:51] #55813 closed

[2022-05-01 13:19] Valret commented on #55803
Attaching zipped custom op files that I'm using. This is a custom op taken from stylegan3 project and rewritten by me for Tensorflow support. You can try compiling it on your side.

[custom_ops.zip](https://github.com/tensorflow/tensorflow/files/8598977/custom_ops.zip)

[2022-05-01 14:04] amehrish commented on #55279
Is there any official documentation that shows how to use the C++ API through examples like it has been the case with Python API?

[2022-05-01 14:05] amehrish commented on #55279
I have managed to build the build link C++ API on Linux and can build a graph etc. One example that shows, how to use the C++ API from start to finish will go a long way. Thank you

[2022-05-01 14:06] amehrish commented on #55279
Some example that used to be there earlier for C++ have been removed

[2022-05-01 18:14] #55614 closed

[2022-05-01 20:03] bani-intelaipg opened #55817 "Windows Build error with --cofig=mkl => ImportError: DLL load failed while importing _pywrap_tensorflow_internal"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf2.9

### Custom Code

No

### OS Platform and Distribution

Windows Server 2019

### Mobile device

_No response_

### Python version

3.10

### Bazel version

5.2.0

### GCC/Compiler version

Windows VC++ 2019

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-05-01 20:03] bani-intelaipg commented on #55817
Tagging @mihaimaruseac

[2022-05-01 20:50] mihaimaruseac commented on #55817
Rostam, this looks like another cc_shared_library issue

[2022-05-01 20:53] mihaimaruseac commented on #55720
Spam issue

[2022-05-01 20:53] #55720 closed

[2022-05-01 20:57] mihaimaruseac commented on #55505
Yes, `genrule` does not have `deps` but has `tools` which is the list of deps needed to run the genrule.

Try something like

[code]

[2022-05-01 21:01] mihaimaruseac commented on #55817
We were using a non-LTS Bazel at that commit, to work around some other `cc_shared_library` issues. Can you try with 3637a0245a2b44f2de2aa84b6f8f40cac5600109 (the commit after the one you tested, which reverts back to LTS Bazel)? This way we'd know if the issue is Bazel or some `cc_shared_library` changelist.

[2022-05-01 21:54] chrisrapson commented on #55782
At the moment, the [documentation](https://www.tensorflow.org/api_docs/python/tf/image/central_crop) gives this example:

[code]

It is not clear from the description whether `central_fraction=0.25` would look like:

[code]

or

[code]

My initial assumption was the first one, but from the source code it looks like the second one.

[2022-05-02 01:07] 372046933 commented on #55505
Seems that `@org_tensorflow//tensorflow/tools/pip_package:build_pip_package` is not visible from external project.

[code]

[2022-05-02 03:38] baozzhao opened #55818 "Tensorflow registering GPU with a lot less memory than available"
I recently installed a new GPU in my workstation - the EVGA Nvidia RTX 3080 with 12Gb. After successfully installing the corresponding drivers on my Ubuntu 18.04, as well as installing the latest CUDA and cuDNN, I opened Python in a terminal to test Tensorflow.

However, despite my GPU having exactly 12288MiB according to nvidia-smi (and only 435 Mb in usage by running processes Xorg and Gnome-She

[2022-05-02 04:16] tilakrayal commented on #55798
Hello @sunnyhoward ,
In order to expedite the trouble-shooting process, could you please provide the complete code you are using.Thanks!

[2022-05-02 05:14] #55609 closed

[2022-05-02 06:35] bani-intelaipg commented on #55817
Same error is there with commit# b5fa6a4eecdcf69408708e98ba4de6debb880596

[2022-05-02 07:14] #50069 closed

[2022-05-02 07:34] mohantym commented on #53212
Hi @shiyalun ! Have you checked in 2.8/2.9 version yet? Attaching [gist ](https://colab.sandbox.google.com/gist/mohantym/80b83659395715223e426451dd372fb0/tensorflow-ranking.ipynb#scrollTo=Oiq8EhfCroeP)for reference. Thanks!

[2022-05-02 08:03] mohantym commented on #52103
Hi @YongyuG ! I was able to build above file with following config in lite/build as add-on. Attaching [gist](https://colab.sandbox.google.com/gist/mohantym/59e9e4da38295aff8c8f4c06a96e65fc/tensorflow-ranking.ipynb#scrollTo=ehy9T_FxySK6) for reference . Thanks!
[code]

[2022-05-02 08:10] tilakrayal commented on #55803
@Valret ,
`tf.sysconfig.get_link_flags()` returns `['-L/usr/local/lib/python3.7/dist-packages/tensorflow', '-l:libtensorflow_framework.so.2']`

Here,` library directory` is `-L` and library is `-l`. Now replace the `-L` and `-l` with `library_dirs` and `libraries` arguments to your Extension object in `setup.py`.

Can you please set your `LD_LIBRARY_PATH` environment variable to point to the direc

[2022-05-02 08:21] dgrnd4 opened #55819 "tflite model crashes before loading .tflite file in Google Colab, with no error or exception"
I create a Visual Transformer (VIT) for image classification.

After that i create the model using Tensorflow, i obtain a .pb folder with these files inside:
- 2 folders "assets" and "variables"
- 2 files "keras_metadata" and "saved_model"

I am now trying to convert this file into a ".tflite" file but when i try to do the conversion and load the file .tfite, google colab crash and restart the run

[2022-05-02 08:21] gadagashwini commented on #55707
@hijkzzz,
Could you share us about CUDA and cuDNN version that you are using. Thanks!

[2022-05-02 08:24] dgrnd4 commented on #55819
@jvishnuvardhan i saw that you solved a problem in another VIT that looks like mine. Do you have any recommendation?

[2022-05-02 09:05] tilakrayal commented on #55810
@faysalhossain2007 ,
Also please try to install Tensorflow-gpu v2.8 in ubuntu 18.04 from this [guide](Tensorflow-gpu v2.8 in ubuntu 18.04).Please refer this link for tested build [configurations](https://www.tensorflow.org/install/source#gpu).It helps.Thanks!

[2022-05-02 09:14] #55123 closed

[2022-05-02 09:19] misterBart commented on #47862
Same issue with me.
And also here: https://gitanswer.com/tensorflow-cmake-build-option-tflite-enable-ruy-off-does-not-work-cplusplus-871733814
Just wasted quite some time before I found this thread. Quite annoying that the documentation (https://www.tensorflow.org/lite/guide/build_cmake) mentions it as an option.

[2022-05-02 09:33] GosuPaper commented on #55755
Since it appears that freeze_save_model.h and .cc are not in the build library, I have managed a simple workaround for those two :
Include them directly in the project next to my main and obviously in the makefile. This way I am able to use the function FreezeSavedModel without any trouble and it is working great.

Still, I would really like to know how to save and load a model using the C++ API i

[2022-05-02 09:44] tilakrayal commented on #55811
Hello @mcourteaux ,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Can you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-05-02 09:51] mcourteaux commented on #55811
Aha, okay! Thank you for pointing that out! Made an issue here: https://github.com/keras-team/keras/issues/16485

[2022-05-02 09:51] #55811 closed

[2022-05-02 09:57] mcourteaux commented on #55811
Although I still think the TensorArray/tf.while_loop 4-byte copy is a performance bug.

[2022-05-02 09:58] hijkzzz commented on #55707
Hi @gadagashwini, I run this script on macOS / AMD GPU / Apple Metal API~
So I don't use any CUDA and cuDNN API~

[2022-05-02 10:00] hijkzzz commented on #55707
My ENV:
miniconda 3
macOS 12
MacBookPro16,1
GPU AMD 5300m

tensorflow 2.8:
pip install tensorflow-macos
pip install tensorflow-metal

[2022-05-02 10:06] hartmannma commented on #55799
Today, I tested on the latest released TF version:
I could not reproduce the issue in 2.8.0. The issue seems to be resolved here, or at least it does not occur with the configuration and the parameters of my test code. Also my original, much larger model, from which the test code above was extrated, works in TF 2.8.0. Nevertheless, I would highly appreciate a fix in 2.4.

[2022-05-02 10:34] lesha198a commented on #55721
sorry, my previous comment has not been sent (maybe because of a bad network connection)

I've tried your suggestion and it gives same result:

<details><summary>Click to expand!</summary>

[code]

</details>

Does Batch Normalization have Cuda realization? If not, maybe I can use some other ways to normalize? Should it work?
Should I try running it in docker?

[2022-05-02 10:42] tilakrayal commented on #55814
@njuaplusplus ,
 tf.function does not provide bitwise identity of results. Floating point math is non-associative and non-commutable -- thus optimization passes can affect the result.
Different devices may actually yield different results for the same operation if they choose to implement FP operations differently.Thanks!

[2022-05-02 10:50] mohantym commented on #55799
@hartmannma ! Thanks for confirmation . But I am getting same relative error in [2.8 ](https://colab.sandbox.google.com/gist/mohantym/cf94d178b1a9cc9bc004cf17d7deee6d/github_55799.ipynb), [2.9 ](https://colab.sandbox.google.com/gist/mohantym/44d451e92d5f3894f5648e75e567cb27/github_55799.ipynb#scrollTo=grJ_LevTOQYD)and [nightly](https://colab.sandbox.google.com/gist/mohantym/c8e6141226ec78ecd8b1cff

[2022-05-02 10:52] njuaplusplus commented on #55814
@tilakrayal
Thank you for your reply.

But does this indicate we should not use tf.function? Instead of calling this inconsistent results, I would rather say it's the *wrong* result. Do you mean this is not avoidable?

Even running the code in the *same runtime* of one colab notebook gives different results. Does it mean even when we are connected to the same runtime, we are using different device

[2022-05-02 11:08] mohantym commented on #55819
Hi @dgrnd4 ! Could you share the dataset used in above code too ? Frozen graph(Pb) to TFLite in 2.x version is possible only through v1 mode and below command. Please Check in 2.8/2.9.0rc1 too and let us know.Thanks!
[code]

[2022-05-02 11:14] #55643 closed

[2022-05-02 11:14] #48664 closed

[2022-05-02 11:19] tilakrayal commented on #55814
@sachinprasadhs ,
I was able to reproduce the issue in tf v2.7, v2.8 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/9d66143fceb5643b344a27a40f8f96aa/55814.ipynb).

[2022-05-02 11:19] gadagashwini commented on #55550
@StefRommes,
Content appears to be same
When i tried to see the images on Tensorboard

[code]
<img width="380" alt="Screen Shot 2022-05-02 at 4 46 13 PM" src="https://user-images.githubusercontent.com/99852755/166225548-bcb2893c-0716-423a-b33f-e0a9ed7f0f16.png">
<img width="380" alt="Screen Shot 2022-05-02 at 4 47 22 PM" src="https://user-images.githubusercontent.com/99852755/166225617-37bd386a-20

[2022-05-02 11:22] tilakrayal commented on #55763
@unsignedrant ,
I was facing different issue while reproducing the mentioned code.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/b82242174fbf9a1f2fc909fd4dd0592c/untitled324.ipynb) and provide the reproducible tf v2.x code.It helps to analyse the issue.Thanks!

[2022-05-02 11:25] Nyrio commented on #55736
Hi, the PR mentioned above solves the exception for the given code sample, but it isn't an exhaustive fix, only a temporary solution for some failing models.

[2022-05-02 11:29] gadagashwini commented on #55786
@hoba87,
Could you try `bazel clean --expunge` followed by `bazel sync`. Thanks!

[2022-05-02 11:46] gadagashwini commented on #55755
@GosuPaper,
You can load the saved model in C++ using [LoadSavedModel](https://github.com/tensorflow/tensorflow/blob/r2.8/tensorflow/cc/saved_model/loader.h). Thanks!

[2022-05-02 11:48] chunduriv commented on #55432
@PhillipMaire,

Currently on colab it defaults to `TF2.8` , to work with TF 2.7, please can you try as below

`!pip install tensorflow==2.7`

Please find the working [gist](https://colab.research.google.com/gist/chunduriv/6d6ebde57741d8467a86374d0270c87e/55432.ipynb) using `TF2.7 GPU` for reference. Thanks!

[2022-05-02 12:02] Nyrio commented on #55669
@apivovarov @bixia1 I have opened #55820, which prevents these failures for the model you mentioned. It's not a full fix of the underlying TF bugs, but it should allow this model to convert successfully.

[2022-05-02 12:08] sushreebarsa commented on #48223
@xueyedamo521
I tried to replicate the issue in colab using TF v2.8.0 and faced a different outcome .Could you please have a look at the gist [here](https://colab.research.google.com/gist/sushreebarsa/aeac8d0dd0ab093b01eecf78f20fba7c/untitled60.ipynb) and let us know if it helps?Thanks!

[2022-05-02 12:13] Wei-JL opened #55821 "line 606, in compute_output_shape raise NotImplementedError NotImplementedError"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

1.15

### Custom Code

Yes

### OS Platform and Distribution

win11

### Mobile device

no

### Python version

3.6

### Bazel version

no

### GCC/Compiler version

no

### CUDA/cuDNN version

11.3-8.2.1

### GPU model and memory

8G

### Current Behaviour?

[code]

### Standalone code

[2022-05-02 12:33] GosuPaper commented on #55755
@gadagashwini Indeed, but how do I save it ?

[2022-05-02 12:38] sushreebarsa commented on #51350
@ymzlygw I tried to replicate the issue on colab using TF v2.8.0 ,could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/c5c43df35ef74203e1328d9d7965a485/51350.ipynb) and the  outcome as follows.Please let us know if it helps?
[code]
Thanks!

[2022-05-02 12:49] chunduriv commented on #26842
@amilsted,

In TF2.8,  performing SVD on [float32 matrix](https://github.com/tensorflow/tensorflow/files/2979211/matrix.zip) using `tf.linalg.svd` is not resolving `nan` values. Please refer working code in below

[code]
Output:

[code]

Thanks!

[2022-05-02 13:18] innat commented on #55809
@sushreebarsa adding `keras` tag may not be proper. Please read this https://github.com/keras-team/keras/issues/16260#issuecomment-1070950476 and https://github.com/keras-team/keras/issues/16260#issuecomment-1071146844.

[2022-05-02 13:46] sushreebarsa commented on #43288
@tiamokiky Is this still an issue?
We see that you are using an older version of TF which is not actively supported ,we recommend you to kindly upgrade to latest version of TF and let us know if it is still an issue?
Could you please have a look at this [issue](https://github.com/google-coral/edgetpu/issues/222) and refer to this [link](https://www.tensorflow.org/lite/performance/post_training_qua

[2022-05-02 13:52] tilakrayal commented on #21357
@333caowei ,
We see that you are using tf version 1.4.0, 1.x is not actively supported, please update to 2.x and let us know if you are facing same issue.Thanks!

[2022-05-02 13:54] tilakrayal commented on #18065
@yurijvolkov ,
We see that you are using tf version 1.4.1, 1.x is not actively supported, please update to 2.x and let us know if you are facing same issue.Thanks!

[2022-05-02 13:56] tilakrayal commented on #21748
@tarokiritani ,
We see that you are using tf version 1.4.0, 1.x is not actively supported, please update to 2.x and let us know if you are facing same issue.Thanks!

[2022-05-02 14:03] jmontalt opened #55823 "`Square` and `Sqrt` ops do not support complex values on GPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

Colab

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memo

[2022-05-02 14:18] bhack commented on #55814
I don't understand the `ŧf.print` subcase with `tf.float32` but it seems that is going to have some implicit precision impact on the Tensor itself /cc @mdanatg

For the other behavior it seems that Softmax in graph mode has more precision than eager so with extreme values if could get `inf/-inf` or not in the two modes with `tf.float32`.

[code]

[code]

If you test you example in `double/tf.float

[2022-05-02 14:21] x10000year opened #55824 "tf.keras.optimizers.experimental.AdamW only support constant weight_decay"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and

[2022-05-02 14:22] Valret commented on #55803
@tilakrayal thank you for the answer,

Do you mean this `setup.py`: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py
Do I have to make those changes followed by `pip install .`? Please describe it in more detail.

If you mean my own `setup.py` - I do not have a local project with it - just .h .cpp and .cu files for the build. I am attaching them here [upfi

[2022-05-02 14:23] mdanatg commented on #55814
That looks like an inconsistency between tf.print and print: tf.print shows 9 decimals, while Python shows just 8. Can you try with tf.print in eager mode?

[2022-05-02 14:25] learning-to-play commented on #55817
Thanks for letting us know. We're working on the issue. Will update.

On Sun, May 1, 2022 at 11:35 PM Banikumar Maiti (Intel AIPG) <
***@***.***> wrote:

[2022-05-02 14:32] bhack commented on #55814
Yes sorry I supposed to have a `tf.print` also in eager.. there was some copy past change.
But can you see that with `tf.float64` we have the same results in eager and graph mode?

[2022-05-02 14:32] ophiry opened #55825 "unable to pickle keras.layers.StringLookup"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

colab

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Cur

[2022-05-02 14:35] mdanatg commented on #55814
Not sure I see - you use prints in the second example, and the only tf.print outputs something else?
I think the numbers are equal in both cases (try verifying it) - the two prints only round the displayed value.

[2022-05-02 14:40] unsignedrant commented on #55763
I don't know how many times I'll have to repeat the same information over and over. The colab notebook you sent runs tensorflow 2.8, and for the 623754th time: **TO RUN THE CODE YOU NEED TF 1.X**. Once you obtain the weights produced by **TF 1.X**, you can then load the weights in **TF2.x**.

[2022-05-02 14:40] bhack commented on #55814
In the coalb in `tf.float32` we have these results:
[code]

In `tf.float64` we have:
[code]

[2022-05-02 15:15] njuaplusplus commented on #55814
@bhack I see. Thank you very much. It's interesting that graph mode and eager mode have different precisions and the `tf.print` will affect the precision.  I previously thought the precision across all the computations will conform to the precision of the inputs.

[2022-05-02 15:27] mdanatg commented on #55814
I suspect the non-nan results for loss_object are thanks to arithmetic simplifications made by TF. Without those simplifications, you might hit numerical instability, especially in FP32. In eager, there are no such optimizations, and if you insert tf.print in graph mode, that would block such optimizations as well. Try disabling the optimizer to see if the inconsistency persists.

[2022-05-02 15:57] bhack commented on #55814
@mdanatg Yes, so it is still part of `Grappler` graph optimizzations. It is a little bit counterintuitive/under-exposed in docs but ok... We have all `nan` in `float32` now with:

[code]

[code]

Can we close this? As this is enabled by default do we want to add a notice box in https://www.tensorflow.org/guide/function or something else?

[2022-05-02 16:03] tilakrayal commented on #55821
Hello @Wei-JL ,
We see that you are using tf version 1.15, 1.x is not actively supported, please update to latest stable tensorflow v2.8 and let us know if you are facing same issue.Thanks!

[2022-05-02 16:13] mihaimaruseac commented on #55505
Will send a patch to make it visible

[2022-05-02 16:19] mihaimaruseac commented on #53828
Reopening as https://github.com/tensorflow/tensorflow/issues/53828#issuecomment-1101038091 is a comment on #55222 which could be edited to incorporate the comment and add proper ragged tensor description

[2022-05-02 16:25] tilakrayal commented on #28933
@amilsted ,
Can you please take a look at this [comment](https://github.com/google/TensorNetwork/issues/70#issuecomment-495032135) for the same issue which states `the XLA compiler will eliminate redundant transposes and fold the remaining ones into the multiplies`.Thanks!

[2022-05-02 17:05] mihaimaruseac commented on #55505
Can you try now, after syncing to the above commit?

[2022-05-02 17:25] bani-intelaipg opened #55827 "TF Windows CI test TIMEOUT error (intermittent) //py_test_dir/tensorflow/python/kernel_tests/nn_ops:xent_op_d9m_test_cpu TIMEOUT"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

No

### OS Platform and Distribution

Windows Server 2019 32-core

### Mobile device

_No response_

### Python version

3.10

### Bazel version

5.2.0

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and me

[2022-05-02 17:26] bani-intelaipg commented on #55827
Tagging @mihaimaruseac

[2022-05-02 17:28] mdanatg commented on #55814
I think it's safe to close, and we can think about where to best add a notice. Leaving the `tf.print` artifact aside (which is the kind of "careful not to confuse the compiler"caveat that we occasionally see in C++), I think in general this is another good reason to always develop for tf.function: add the tf.function early, debug and test with that, rather than starting in eager and adding tf.func

[2022-05-02 17:28] #55814 closed

[2022-05-02 17:34] sachinprasadhs commented on #55799
@hartmannma, Usually the fix in the older versions will be done if that is a security bug or if the bug is critical and impacting larger community. In this case since you have mentioned that it is working fine with Tensorflow 2.8. You can continue using this version.
Also, Tensorflow 2.9 will be released anytime soon. Thanks!

[2022-05-02 17:38] bhack commented on #55814
I agree but it is that generally in the Model this will happen automatically but in other cases you will need to do it manually. I don't know how this is really clear to many users/developers.

[2022-05-02 17:56] mihaimaruseac commented on #55827
Will disable the test for now, unsure why it also runs on CPU (it should only be GPU)

[2022-05-02 18:23] Nayana-ibm opened #55829 "AttributeError: module 'typing' has no attribute '_SpecialForm'"
### System information

-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
-   **Python version**: 3.6
-   **Bazel version (if compiling from source)**: 5.1.1
-   **GCC/Compiler version (if compiling from source)**: 7.5.0

### Describe the problem
Observed an issue when building TensorFlow master from source.
bazel --host_jvm_args="-Xms1024m" --host_jvm_args="-Xmx2048m"

[2022-05-02 18:24] Nayana-ibm commented on #55829
Tried with installing typing, typing-extensions but not resolved

[2022-05-02 18:37] #55646 closed

[2022-05-02 18:40] chunduriv commented on #26873
@bersbersbers,

Sorry for the late response. The Epoch number is updating properly from `TF2.3` onward. Please find the [gist](https://colab.research.google.com/gist/chunduriv/c1c2fc60ed4e4c8bf878315d6ff70c87/26873.ipynb) for reference. Thanks!

[2022-05-02 18:42] MoisesHer commented on #53746
Please,
Any progress or update?

[2022-05-02 18:44] pemoi1982jpm commented on #55520
Please,
Any progress or update on this issue?

[2022-05-02 20:13] sachinprasadhs commented on #55795
Thanks for the bug, I have created a PR for the same.

[2022-05-02 20:17] bhack commented on #55696
I think this a valid feature request.

[2022-05-02 20:50] sachinprasadhs commented on #55693
Replacing an existing functionality will not be a good option since it breaks lots of user code. Rather we can consider it as a new feature request.
Since, development of keras moved to separate repository https://github.com/keras-team/keras/issues

Please post this issue on keras-team/keras repo.
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-git

[2022-05-02 21:21] sachinprasadhs commented on #55785
`float16` weights will be upsampled to `float32` weights prior to first inference to have minimal impact on latency and accuracy and also it reduces the model size significantly.
To know more, refer [this](https://www.tensorflow.org/lite/performance/post_training_float16_quant#overview) document.Thanks!

[2022-05-02 21:49] leeflix opened #55835 "Exporting LSTM with TFlite Converter yields model which makes bad predictions in contrast to keras model"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.8

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-05-03 02:03] sushreebarsa commented on #55658
@gadagashwini I was able to replicate the issue on colab , please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/a8888226f457dd8d53d90ad56e1f4ef1/gist55658.ipynb) for reference.Thanks!

[2022-05-03 02:07] sushreebarsa commented on #55721
@lesha198a Could you please refer to the [tested build configurations](https://www.tensorflow.org/install/source#tested_build_configurations) and check the compatible versions?
Thanks!

[2022-05-03 02:24] sushreebarsa commented on #55738
@cchan-lm Yes , I was also able to replicate the issue as reported here.Please find the updated [gist](https://colab.research.google.com/gist/sushreebarsa/bd11bccbff7fa63c1e105f8274961701/55738.ipynb#scrollTo=DAqTDD5stWF4) .Could you please confirm the same ?
Thanks!

[2022-05-03 02:25] sushreebarsa commented on #55756
@xianzhuo-sky
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-05-03 02:28] sushreebarsa commented on #55765
@shiva1393 Could you please let us know if you have tried with the latest TF version 2.8.0 ?
Thanks!