[2017-10-12 17:05] Fulvioo commented on #13668
self.X :  Tensor("Placeholder_142:0", shape=(?, 3433), dtype=float32)
self.Y :  Tensor("Placeholder_143:0", shape=(?, 3433), dtype=float32)

[2017-10-12 17:06] reedwm commented on #13663
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-10-12 17:10] krak3nnn commented on #13664
I'm having the same issue with TF 1.3 and 1.4. This seems to be an issue with MKL linking during "./configure" since MKL is what is responsible for interpreting the NCHW data format.

I've noticed that in TF1.3 and 1.4, the configure no longer asks if I want to use MKL and if I do, if I wanted to download it automatically or use a path the MLKDNN.

The last version that worked for me was TF 1.2.1

[2017-10-12 17:12] reedwm commented on #13655
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-12 17:12] #13655 closed

[2017-10-12 17:42] reedwm commented on #13591
@ybsave what model and data are you using where you can only use a batch size of 1/4 compared to another platform? This issue only affects allocations that are multiple gigabytes, and most models have significantly smaller allocations than that.

[2017-10-12 17:48] ybsave commented on #13591
@reedwm This happened when I was testing the ImageNet training using Resnet101 model. I can only use a batch size no more than 48 images in my one 8G GPU.

[2017-10-12 17:55] Prakash19921206 commented on #11930
having same above error!
however  `--architecture mobilenet_1.0_128`    works
i'm using TensorFlow version 1.3, python 3.5, windows 7 64bit

 quantized is not supported in windows?
   `--architecture mobilenet_1.0_128_quantized`

[2017-10-12 18:02] zouhair0 commented on #12253
Hi
i have the same problem... so i wonder if tensorflow doesn' t work with linux 32 bit ????

[2017-10-12 18:04] gjmulder commented on #7321
I'm using the Tensorflow CPU version with Python 3.5.3 x64, Ubuntu 17 and 16GB of memory.

accuracy.eval(...) is throwing the following error when computing accuracy against the MNIST test set:

terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc

I shouldn't be running out of memory...

[2017-10-12 18:05] bodokaiser commented on #13575
What about [here][1]?

I followed `tf.parse_single_example` to [here] however `tensorflow.python.ops.gen_parsing_ops` seems to be a generated file. Any idea what generates this?

[1]: https://github.com/tensorflow/tensorflow/blob/e062447136faa0a3513e3b0690598fee5c16a5db/tensorflow/core/util/example_proto_fast_parsing.cc#L461-L462
[2]: https://github.com/tensorflow/tensorflow/blob/a2d9b3bf5f9e96bf4

[2017-10-12 18:09] gunan commented on #12253
No, tensorflow is not supported and does not work out of the box on 32-bit desktop operating systems.
You can probably make it work by building from sources, but you need to reach out to the community in stackoverflow for support with issues on that.

[2017-10-12 18:12] gjmulder commented on #7321
I'm using the Tensorflow CPU version with Python 3.5.3 x64, Ubuntu 17 and 16GB of memory.

accuracy.eval(...) is throwing the following error when computing accuracy against the MNIST test set:

terminate called after throwing an instance of 'std::bad_alloc'
what(): std::bad_alloc

I shouldn't be running out of memory with 16GB of RAM, right?

[2017-10-12 18:17] gjmulder commented on #9890
I'm using the Tensorflow 13.3.1 CPU version from source, with Python 3.5.3 x86_64, Ubuntu 17 and 16GB of memory. I'm running the example here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/mnist/mnist_deep.py

accuracy.eval(...) is throwing the following error when computing accuracy against the MNIST test set on line 167:

terminate called after throwing an i

[2017-10-12 18:24] AleksandrKrasnoperov commented on #13162
I used new release - https://github.com/bazelbuild/bazel/releases/tag/0.6.1
Now it works

[2017-10-12 18:24] #13162 closed

[2017-10-12 19:00] zouhair0 commented on #12253
Thanks gunan
i just tried to do it from sources.But unfortunately, Bazel doesn't work in 32-bits:
N: Skipping acquire of configured file 'jdk1.8/binary-i386/Packages' as repository 'http://storage.googleapis.com/bazel-apt stable InRelease' doesn't support architecture 'i386'
Thanks anyway

[2017-10-12 19:30] apbodnar commented on #13530
I too have been dealing with extremely low (<10%) GPU usage when using `pandas_input_fn` with a `DNNRegressor` and Titan Xp

[2017-10-12 19:34] awav commented on #13616
@alextp, @ebrevdo Hello, you snippet doesn't do what I need, I simplified it a bit below. Let me explain what it does.
There is function f and variable x. At each iteration step I increment x and **want** to re-evaluate f and take negative of it. **What's good:** if I take assign operation and pass it to the next iteration (even if I'm not using it), I can successfully increment external variable

[2017-10-12 19:39] reedwm commented on #13429
@ebrevdo, can you take a look at this issue?

[2017-10-12 19:51] reedwm commented on #13591
@ybsave What implementation of ResNet101 were you using? When I run ResNet101 using [tf_cnn_benchmarks.py](https://github.com/tensorflow/benchmarks/tree/master/scripts/tf_cnn_benchmarks), the maximum batch size I can run with on my 8GB GTX 1080 is 61. The command line I use is

[code]

Also, you mentioned other frameworks could be run with higher batch sizes. What are those frameworks?

When I run

[2017-10-12 19:57] fidlej commented on #13550
The issue is real.
The cookie popup is for Europe users. The popup says:
"We serve cookies on this site to analyse traffic, remember your preferences, and optimise your experience."

[2017-10-12 19:57] lukaszkaiser commented on #13429
Hi @reedwm

The re-opening of name-scope when re-entering a variable scope is entirely on puropse. In this example:

[code]

the current result, `a_1/mul:0`, is entirely expected. Imagine you're sharing a large subgraph, a large LSTM cell or a whole net. When you re-enter the scope of that graph, you'd rather add a `_1` to the root scope than add it to every single op, right? (Note that every op i

[2017-10-12 20:06] asimshankar commented on #13550
Thanks for adding the detail @fidlej
Out of curiosity, have you explicitly disabled cookies in your browser? (Wondering if this is happening by default or if conflicting with some user settings)

CC @wolffg : Who might have some insight.

[2017-10-12 20:16] ybsave commented on #13591
@reedwm I used the Resnet implementation at https://github.com/tensorflow/models/blob/master/official/resnet/resnet_model.py; I made a few modifications by using slim to simplify the model definitions.

Another person told me that he used Caffe on Resnet 101 for ImageNet with about batch size up to 100. But I am not aware what implementations he used. Sorry about that.

From your posted output, it

[2017-10-12 20:51] jkiske commented on #8665
Here is a minimal example of this issue:

[code]
Output:
[code]
It seems like `convert_variables_to_constants` is stripping out `init_all_tables`, `key_value_init`, `key_value_init/keys`, and `key_value_init/values` nodes.

Any help would be appreciated.

[2017-10-12 20:57] fidlej commented on #13550
I do not have cookies disabled.
The popup keep appearing even if using a clean incognito chrome window.

[2017-10-12 21:02] georgesterpu opened #13669 "monotonic attention is buggy"
### System information
- **Have I written custom code **: Yes
- **OS Platform and Distribution**: Manjaro Linux, kernel 4.13.5
- **TensorFlow installed from **: binary
- **TensorFlow version (use command below)**: 1.3, 1.4 nightly (11 oct)
- **Python version**:  3.6
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**: cuda8, cudnn 7 & 6
- **GPU model and memory**: gtx 1080

##

[2017-10-12 21:35] awav commented on #13616
@alextp,

The task is **update the variable and the depending on it function** which are defined outside of `while_loop`. In example above, the `f` is `func_v` tensor and `x` is `v` variable, both passed to `gen_body`.

[2017-10-12 21:52] km-sharad commented on #10478
Is this problem fixed yet? If yes, what version of tensorflow is invoke_stepper available in?

[2017-10-12 21:54] rmlarsen commented on #13433
Not sure. I'll take a look.

[2017-10-12 21:56] reedwm commented on #13473
Closing this issue because an @ebrevdo provided an explanation of the seed behavior.

[2017-10-12 21:56] #13473 closed

[2017-10-12 21:56] bowang commented on #12817
@vishalghor It's pretty much the same as other readers like TFRecordReader.
For sample code, you may take a look at the test case.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/reader_ops_test.py#L998

[2017-10-12 22:09] mingyr commented on #13648
@mrry I am sincerely appreciating the detailed explanation and intuitive code sample. Thanks again.

[2017-10-12 22:12] reedwm commented on #13651
@petewarden can you take a look?

[2017-10-12 22:25] jkiske commented on #8665
Adding `init_all_tables` to the list of names to export fixes this issue.

[code]
The call to `extract_sub_graph` inside `convert_variables_to_constants` prunes out this op and its descendants (keys, values) if you don't include `init_all_tables` in `output_node_names`. I don't like the idea of running an initializer op during inference and having a try/except seems hacky to me. Is there another w

[2017-10-12 22:40] dr4b commented on #13549
hey, so I looked into the const_op thing and basically it's not showing up because that module/file has no classes in it (you might notice the index pages are all based around listening classes/structs in each part of the API).  We'll have to think of a way to deal with this, I guess.

(Initializer is a separate bug that I was aware of a while ago but didn't realize was still there)

[2017-10-12 23:02] reedwm commented on #13669
/CC @ebrevdo

[2017-10-12 23:06] BotLivesMatter opened #13675 "Import Error on Windows 10: No module named '_pywrap_tensorflow_internal'"
**System information**
OS: Windows 10 64
Tensorflow version 1.3 GPU version
Python 3.5.4
CUDA 8.0 -> cudart64_80.dll
CUDNN 6.0 -> cudnn64_6.dll
GPU: GeForce GTX 1070

**Installation Process & Issue:**
I followed the guide provided on https://www.tensorflow.org/install/install_windows for the installation via Anaconda. The installation seems to be successful, but upon running the following command

[2017-10-12 23:07] reedwm commented on #13657
/CC @martinwicke

[2017-10-12 23:14] reedwm commented on #13675
Try following the advice given in https://github.com/tensorflow/tensorflow/issues/9469 and https://stackoverflow.com/questions/43577923/cannot-import-tensorflow-for-gpu-on-windows-10 and https://github.com/tensorflow/tensorflow/issues/11571.

[2017-10-12 23:29] martinwicke commented on #13575
You are right of course. gen_parsing_ops is generated from parsing_ops.cc. The core you pointed to is the ultimate source of the error.

[2017-10-13 00:04] Noahyt commented on #13161
@mrry is there a way to prevent the dataset from producing the final batch which has incomplete batch size (in your example, the (4,2))?

[2017-10-13 00:09] reedwm commented on #13603
@rmlarsen can you or someone look into why PyTorch is faster, and why the GPU op is slower than the CPU op?

[2017-10-13 00:14] reedwm commented on #13537
@ebrevdo @Mazecreator is this issue resolved? (I don't know anything about the RNN API).

[2017-10-13 00:19] mrry commented on #13161
Yes! In TF 1.4 (just RC'd yesterday) you can replace:

[code]

[code]

[2017-10-13 01:12] BotLivesMatter commented on #13675
Below are my results from reviewing/following the advice of the links:

https://stackoverflow.com/questions/43577923/cannot-import-tensorflow-for-gpu-on-windows-10
Recommended changing CUDNN filename from cudnn64_6.dll to cudnn64_5.dll. Same error occurs.

https://github.com/tensorflow/tensorflow/issues/9469 OP said the issue was caused by his visual studio and he disabled his intel graphics card.

[2017-10-13 01:57] Parkwdllcr commented on #6606
today I get the same issue,but not 干掉it!

[2017-10-13 02:56] ebrevdo commented on #13537
I'm rather surprised that tf.Variable(self.init_state) even works!  Sounds
like a bug.  That should have failed in python-land right away! +lukasz

You need to do something like:

counter = [0]
def create_variable(init):
  r = tf.get_variable(initializer=init, name="rnn_state_%d" % counter[0])
  counter[0] += 1
  return r
self.state = tf.contrib.framework.nest.map_structure(create_variable,
self.i

[2017-10-13 03:06] msatyan commented on #9469
Look like the TensorFlow has stated using cuDNN 6.x in the past couple of days (from 5.1).
(cuDNN=NVIDIA CUDA Deep Neural Network library )
https://www.tensorflow.org/install/install_windows#CommonInstallationProblems
The problem on my computer got solved after I upgrading cuDNN 6.x (TF will not work with cuDNN  7 yet)
https://developer.nvidia.com/cudnn

My configuration is
Windows 10 x64, with GP

[2017-10-13 03:09] ebrevdo commented on #13537
What you saw looks like a bug in tf.convert_to_tensor.  It treats complex
data structures, like LSTMStateTuple and nested LSTMStateTuples, as nested
tuples and converts them to initializers.  We'll look at fixing that bug
separately.

On Thu, Oct 12, 2017 at 7:57 PM, ebrevdo <notifications@github.com> wrote:

[2017-10-13 03:10] msatyan commented on #13675
Look like the TensorFlow has stated using cuDNN 6.x in the past couple of days (from 5.1).
(cuDNN=NVIDIA CUDA Deep Neural Network library )
https://www.tensorflow.org/install/install_windows#CommonInstallationProblems
The problem on my computer got solved after I upgrading cuDNN 6.x (TF will not work with cuDNN 7 yet)
https://developer.nvidia.com/cudnn

My configuration is
Windows 10 x64, with GPU

[2017-10-13 03:19] jinxin0924 commented on #2807
@petewarden
Any progress for GPU support?

[2017-10-13 03:20] facaiy commented on #13429
Hi, @lukaszkaiser. Could you take a look at my tiny example above, which indeed uses scope.original_name_scope in layer. Unfortunately, it couldn't solve the mismatch problem here.

[2017-10-13 03:30] jinxin0924 commented on #2807
@drpngx,
Any example to use quantized graph with GPU for inference?

[2017-10-13 03:36] drpngx commented on #2807
/CC @aselle

@nealwu do we have something in the models repo?

[2017-10-13 03:56] lukaszkaiser commented on #13429
Which one do you mean? Sorry, could you paste it again?

[2017-10-13 04:33] tatatodd commented on #13652
The error is trying to tell you that no kernel for int64 Assign is registered; only int32 and float are registered.

Digging into this a bit, I see that this is controlled by this block of macros for our Pi builds:
https://github.com/tensorflow/tensorflow/blob/3bafe0a86f67dd54197c6d60bdb5053f510de7d8/tensorflow/core/framework/register_types.h#L117

So you have two options:
1) Build tensorflow from

[2017-10-13 04:33] #13652 closed

[2017-10-13 04:41] tatatodd commented on #13664
@andydavis1 might have some clues about MKL related issues

[2017-10-13 04:43] tatatodd commented on #13668
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-13 04:43] #13668 closed

[2017-10-13 04:48] Leslie-Fang commented on #13664
Hi, krak3nnn, thanks for your help.
Today, I have got a compiled version of tensorflow1.3, which could run the benchmark with NHWC data format. So I think during the "./configure" step, could we add some options to solve this probem?

[2017-10-13 05:49] craffel commented on #13669
Hi, monotonic attention won't always work right out of the box when you swap softmax attention out for it.  Please see the practitioner's guide at the end of [the paper](https://arxiv.org/abs/1704.00784).  If the attention is always attending to the first encoder timestep for all decoder timesteps, you probably should try setting `score_bias_init` to a negative value.  You also will almost certain

[2017-10-13 05:51] ed-alertedh commented on #5719
After looking more closely at the error message, my guess would be that one or more of the ops in the gradient definition [here](https://github.com/tensorflow/tensorflow/blob/c1832374a6a311837f2738e08a9bff8480c8ede4/tensorflow/python/ops/nn_grad.py#L903) can't run on GPU due to the limitation on ints

[2017-10-13 06:26] vamshikhoslalabs commented on #13663
@reedwm Hi Reed, I'm on Android 5.1.1 (OS : Mac, Architecture : None). The TensorFlow version i'm using is the 1.4.0-rc0. I have complied it form source.

[2017-10-13 06:31] vamshikhoslalabs commented on #13653
Same here helps to compile, but TF Detect is crashing.

[2017-10-13 06:59] facaiy commented on #13429
To help clarify our problem, I write a simpler version for `tf.layers.Layer`.  Please notice that  `a_1` name scope has been created in 1st layer. That's why for 2nd layer, name scope must start from `a_2`, while variable scope is from `a_1` (inconsistent scopes).

### code
[code]

### logs
[code]

[2017-10-13 07:04] facaiy commented on #13429
@lukaszkaiser name scope jumps from a to a_2 for 2nd layer, though original_name_scope is used

[2017-10-13 07:53] asimshankar commented on #13653
@vclteam @vamshikhoslalabs : Could you elaborate a bit on the speech demo not working? For example, can you share some device logs that might shed some light on why the demo may be crashing?

@andrewharp FYI

[2017-10-13 08:06] bodokaiser commented on #13575
Any suggestion on how I could trace tensorflow core calls in C++ land so we can identify the problem?

I tried dtrace and tfdbg, however dtrace got me only syscalls and tfdbg only python / graph related things.

[2017-10-13 08:15] Saltu5 commented on #13675
I have somewhat the same issue
I also run win 10 64-bit
python 3.6.2
most recent tensorflow (so I assume 1.3?)
but in the cpu-only version

my Stacktrace:

`Python 3.6.2 (v3.6.2:5fd33b5, Jul  8 2017, 04:57:36) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\user_name\AppData\Local\Progr

[2017-10-13 08:15] amathuri opened #13680 "Feature request: Profiling with multiple workers in distributed settings and visualizing them individually"
Hi,
I am running Tensorflow in distributed settings only using CPUs with multiple workers and parameter servers. I would like to find a way to generate timeline information of individual workers/parameter servers and visualize them together to check on potential scaling issues.
Currently, I can generate timeline traces containing the profiles of all the parameter servers and a single worker.  But,

[2017-10-13 08:40] Saltzmann commented on #13675
I have somewhat the same issue
I also run win 10 64-bit
python 3.6.2
most recent tensorflow (so I assume 1.3?)
but in the cpu-only version

I installed tensorflow using pip, not anaconda though

#My Console Output#

Python 3.6.2 (v3.6.2:5fd33b5, Jul  8 2017, 04:57:36) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.
\>\>\> import tensorflo

[2017-10-13 08:46] YoungBim commented on #8168
@MicaelCarvalho I'mworking on the exact same issue and wonder if from your minimal code example you could gently write the "manual" strategy that you described ... Thanks in advance

[2017-10-13 08:57] wonsekim opened #13681 "type error in tensorflow document API r1.3 ( tf.truncatediv )"
Cause this issue is not about tensorflow itself, please, excuse my ignoring some conventions. Plus, as you know, the postage can cost more than the goods once I try to contribute to documentation via committing so as to correct a tiny error. Please, let me use this channel to comment.

"""problematic document
Truncation designates that negative numbers will round fractional quantities toward zero.

[2017-10-13 09:01] kanshuzhi commented on #10738
@satok16 May I know currently whether I can run generic graph with HVX and any example for that?
Thanks.

[2017-10-13 09:02] fword opened #13682 "can any one reproduce this problew with tf.gather?"
x = tf.constant([[0.22, 0.3,0.1,0.11],[0.4,0.5, 0.6,0.99],[0.8, 0.9,0.43,0.21]])
indices = tf.constant([[1,2],[0,1],[2,3]])
b=tf.gather_nd(x, indices）
sess = tf.InteractiveSession()
cc=sess.run([b], feed_dict={})
print cc

with tensorflow 1.0.1 it gets [array([ 0., 0., 0.], dtype=float32)]
is it a bug in 1.0.1, but with higher version,it gets right

[2017-10-13 09:22] mpeniak commented on #2680
Does not work for me either, here is dump:

10-13 10:19:44.727 20504-20504/? I/zygote: Late-enabling -Xcheck:jni
10-13 10:19:44.888 20504-20504/org.tensorflow.demo I/InstantRun: starting instant run server: is main process
10-13 10:19:44.929 20504-20504/org.tensorflow.demo D/tensorflow: CameraActivity: onCreate org.tensorflow.demo.DetectorActivity@d97a4c5
10-13 10:19:44.949 20504-20504/org.tensorf

[2017-10-13 09:28] formath opened #13683 "How to feed SparseTensor in C++ API?"
I trained model via python. After training done, I want to load the model and its checkpoint for prediction via C++. But I can't find any solutions about how to feed SparseTensor or Example in C++ API.

python train code:
[code]

In C++, all solutions I have found is to feed `vector<pair<string, Tensor>>` into `session.Run()`. However, in my model, I don't know which function in C++ I should use.

[2017-10-13 10:11] bodokaiser commented on #13575
Okay this is really weird.

If I replace `tf.parse_single_example` with `tf.parse_single_sequence_example` and reference to the resulting features with `features[0]['encoded']` instead of `features['encoded']` I do not get an error but the decoded bytes are just about 1/5 of the size it should be. On macOS it works as expected.

[2017-10-13 10:29] zubairbaqai commented on #13663
I am also getting same error

[2017-10-13 10:57] georgesterpu commented on #13669
Here are the obtained alignments after a few iterations: [imgur link](https://imgur.com/a/R0fMe)
score_bias_init was 0 this time, just launched a new experiment with a negative value (-1)

Snippet coming soon, have to flatten the code a bit

[2017-10-13 11:13] anilbeereddy135 commented on #13626
Symlinking .66 to .88 in the folder seems to be working, did not test extensively, but got tensorflow 1.3.0 working after symlink

[2017-10-13 11:25] balaji-in-git commented on #13187
Update: I think the slowness has nothing to do with the number of labels. I removed one-hot dense vector and made it one-hot sparse and it's as fast as otherwise viz., its just a fixedLenFeature with the batch of numbers.
What helped me is to write a batch of say 1000 rows into tfrecords and read it as a single_example (though I know its a sparse-batch example) and treat it accordingly. Writing a

[2017-10-13 11:43] #13355 closed

[2017-10-13 11:56] fesun opened #13685 "Linux compile v1.1.0 failed"
I added the flag --incompatible_disallow_set_constructor=false for all bazel command call, then:

Any solution for this?

[2017-10-13 11:58] mrTsjolder opened #13686 "Documentation truncated_normal does not match implementation"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Nope
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux CentOS 7.3
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**: Python 3.6.1
- **Bazel version (if

[2017-10-13 12:04] bhack commented on #7257
@gunan Why the TF team cannot official maintain some alternative builds like suggested in  the previous comment?

[2017-10-13 12:12] matthias-k opened #13687 "scatter_nd doesn't check indices for out-of-bounds on GPU when using float32"
I noticed that the `scatter_nd` command behaves inconsistently with respect to checking the given indices. In most cases the command raises an error when trying to set an index that is out of bound for the given shape. However, on the GPU when `updates` is of dtype `tf.float32` this check is not performed and invalid indices are just ignored. In the case of tf.int32 or always when on the CPU, and

[2017-10-13 12:29] MichalSkiPic commented on #4680
Hi, is this issue resolved?

I want to include tensorflow in my c++ app and including file `#include "tensorflow/core/public/session.h"` causes the error
`tensorflow/third_party/eigen3/unsupported/Eigen/CXX11/Tensor:1:42: fatal error: unsupported/Eigen/CXX11/Tensor: No such file or directory`

I've built tensorflow with `bazel build -c opt //tensorflow:libtensorflow_cc.so` and I added tensorflow r

[2017-10-13 12:39] nitaidean commented on #5719
Ah, so the problem was never fixed in the first place then? Has anyone else succeeded in getting top_k to run on GPU under any scenario?

[2017-10-13 12:44] georgesterpu commented on #11598
Hi Eugene ( @ebrevdo ), is there any update on inpute_finished=True in dynamic_decode with a BeamSearchDecoder ?

I still have this problem on tf1.4 and cannot tell how correct it is to have it on False, judging from the docstring. It says that the gradient back-propagation would be wrong for a padded batch, but we cannot use the BeamSearchDecoder in training anyway.

[2017-10-13 13:15] alextp commented on #13616
Right. If you want the function to be computed inside the while loop you need to call it inside the while loop. Something like

[code]

When you define func_v as a tensor outside the loop it has a fixed value which will stay fixed forever. If you want it to be recomputed you need to actually recompute it.

[2017-10-13 14:09] yaroslavvb commented on #7257
@bhack it's a business level decision (what's the best use of Google engineer time?). Providing custom hardware builds is possible by people outside of Google, but there are many Tensorflowy things that can only be done by Googlers.

PS: whole "bake AVX2 into binary" is not that great for open-source ecosystem -- TensorFlow would be better off with dynamic dispatch system like what's used by PyTor

[2017-10-13 14:11] GPrathap commented on #8879
I also had this issue, to verify this is related memory issue you can try disabling gup and try using only cpu.
      `os.environ['CUDA_VISIBLE_DEVICES'] = '-1'`

[2017-10-13 14:46] awav commented on #13616
@alextp, that's right. In fact, it was a feature request - to be able to recompute the tensor and introduce property which generates this operation. I'm sorry if it wasn't clear from previous messages  That would be super useful in `while_loop`-like flow statements.

The solution which you proposed doesn't work for me, as I do have control on input tensors `x` and `f`, and I do not know what's ins

[2017-10-13 14:52] alextp commented on #13616
With the current graph semantics it's essentially impossible.

On Fri, Oct 13, 2017 at 7:51 AM, Artem Artemev <notifications@github.com>
wrote:

--
 - Alex

[2017-10-13 14:54] bhack commented on #7257
I don't think that there is so much effort required other than hardware resources cause I think that AVX2 code paths are still tested in the matrix. When code is tested, and so builded, i think that it is quite automatic to publish it. But never mind, Intel is already [maintaining optimized builds](https://anaconda.org/intel/tensorflow) with a sort of delay over the official upstream releases.

[2017-10-13 14:57] houssamzenati commented on #13657
Hi, finally I managed to find the issue.
By doing

 sess.run((list_assign_op, variables_initializer_except_for_generator))

The variables of the generator are initialized at the same time as those who are not from the generator, but since the order is not defined as the computations can be parallelized, the values are not all assigned.

Therefore, I have to run those commands in the specific order

[2017-10-13 14:57] #13657 closed

[2017-10-13 15:12] yaroslavvb commented on #7257
I don't how that Intel build works -- does it automatically figure out which instruction sets your machine has and get the proper version? Or it just automatically pushes XeonV4 optimized build?

This wasn't an issue with MKL because MKL has dynamic dispatch, but TF has to have advanced instructions statically baked in there

[2017-10-13 15:13] MusaMahmood commented on #13653
"Caused by: java.lang.RuntimeException: Native TF methods not found; check that the correct native libraries are present in the APK."
Same error on all apps built with [this workaround](https://github.com/tensorflow/tensorflow/issues/13653#issuecomment-336038164)

[2017-10-13 15:21] anonym24 commented on #13653
@asimshankar
native libraries:
https://ci.tensorflow.org/view/Nightly/job/nightly-android/lastStableBuild/artifact/out/native/libtensorflow_inference.so/

[2017-10-13 15:22] craffel commented on #13669
What are the axes?  Is decoder step vertical or horizontal?  And where is the origin?

Cool.  You may need to try progressively more negative values, and also I do recommend you try setting `scale=True`.

[2017-10-13 15:29] georgesterpu commented on #13669
Hi Colin,
The vertical axis is for the speech input, and the horizontal one for the labels. The original shapes are ~[150, 45], but I resize the images to (512,512). The origin should be the top-left corner, but I am unsure. The code is quite similar to the one in the nmt tutorial:

[code]

[2017-10-13 15:30] mrry commented on #13675
@BotLivesMatter Can you please try running Dependency Walker on `C:\Users\Eric\AppData\Local\conda\conda\envs\tensorflow\lib\site-packages\tensorflow\python\_pywrap_tensorflow_internal.pyd` and let us know if it detects any missing DLLs?

@Saltzmann Since you are running the CPU version, the most likely problem is a missing `MSVCP140.DLL`. You can install it from https://www.microsoft.com/en-us/do

[2017-10-13 15:37] craffel commented on #13669
Ok, in that case monotonic attention should work - wanted to make sure you weren't reversing the input sequence, as people sometimes do in MT.  Let's get Bahdanau monotonic attention working for you since that's what I had worked with for speech.

[2017-10-13 15:38] awav commented on #13616
@alextp. oh, that's bad. Okay, I managed to pass f(x) as python function and at each iteration I construct new tensor `y = f(x)`, does it mean that the size of the graph will grow linearly with number of iterations? Can an unwise usage of `while_loop` lead to the graph "overflow", taking into account that graph size is limited?

[2017-10-13 15:39] bhack commented on #7257
The only available info are at https://software.intel.com/en-us/articles/tensorflow-optimizations-on-modern-intel-architecture

[2017-10-13 15:43] andydavis1 commented on #13664
@vivek-rane Can you comment on the data layout for MKL Max Pooling op here?

[2017-10-13 15:45] alextp commented on #13616
No, the size of the graph is constant even if you call f(x) in each
iteration, because tensorflow's while loop is symbolic and only creates the
body graph once.

On Fri, Oct 13, 2017 at 8:43 AM, Artem Artemev <notifications@github.com>
wrote:

--
 - Alex

[2017-10-13 15:52] vladmos opened #13691 "Compatibility with Bazel 0.8"
Starting from Bazel 0.8 support for `set` constructors will be removed completely. Currently one of the dependencies, grpc, is not compatible with this: tensorflow uses an old version of it. grpc has already been fixed, please update your dependencies to use grpc with the following commit included: https://github.com/grpc/grpc/pull/12571/commits/759c7029b18f8bbcf6a6399d512abed8b6e12436

grpc is lo

[2017-10-13 16:05] johnsrude opened #13692 "TensorFlow 1.3.0 GPU for Windows doesn't work for 2 NVIDIA P4s"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7 (factory production machine)
- **TensorFlow installed from (source or binary)**:
https://pypi.python.org/pypi/tensorflow-gpu
tensorflow_gpu-1.3.0-cp35-cp35m-win_amd64.whl

- **TensorFlow version (use c

[2017-10-13 16:16] ftokarev opened #13693 "tf.image.resize_bicubic is 2x slower than opencv.resize(interpolation=INTER_CUBIC)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 3.6.3
- **Bazel version (if compiling from source)**: --

[2017-10-13 16:17] lewleib opened #13694 "Module not found: tensorflow Running Docker Jupyter OSX"
After installing docker, I attempted to run tensorflow in Jupyter. My run command was
`LewIss-MacBook-Pro:MyTensorFlow` lewleib$  docker run -it -p 8888:8888 -p 6006:6006 -v ~/Users/lewleib/MyTensorFlow:/notebooks tensorflow/tensorflow`

In the Jupyter notebook I ran
[code]

This resulted in
`ModuleNotFoundError: No module named 'tensorflow'`

I have tried starting in different directories and add

[2017-10-13 16:34] danqing commented on #7257
At any rate, feel free to use [the wheels I posted above](https://github.com/mind/wheels) @bhack - we rely on these ourselves so we will keep maintaining them. :)

[2017-10-13 16:39] shamanDevel commented on #13603
This really intrigues me now. I'll also have a look at PyTorch to see what algorithm they use.

[2017-10-13 16:40] thjashin commented on #4663
I also came across this problem, when I try to swap the values of two Variables. It seems that only `+0` trick works, instead of `read_value()`.

This works:
[code]

This doesn't work:
[code]

Why? I'm really confused.

[2017-10-13 16:45] thjashin commented on #4663
@yaroslavvb Seems that `var.read_value()` is just implemented by `tf.identity`.
[code]

[2017-10-13 16:45] alquraishi commented on #2354
Just a ping to see if there's been any activity on this? Seems like very basic functionality.

[2017-10-13 16:57] thjashin commented on #11186
@ppwwyyxx  I have the same problem. I post some snippets in #4663 .

[2017-10-13 17:02] ebrevdo commented on #13600
@lukaszkaiser can you recommend someone to review?  it's not clear to me that layer norm should be disabled at inference time.

[2017-10-13 17:04] mrry commented on #2354
The `tf.data` API supports shuffling elements containing variable-sized tensors, using [`tf.data.Dataset.shuffle()`](https://www.tensorflow.org/versions/r1.4/api_docs/python/tf/data/Dataset#shuffle). We're recommending that people use this API for new code, because it tends to be more efficient (and often much simpler!) than code written using `tf.train.batch()` (and related methods).

[2017-10-13 17:05] #2354 closed

[2017-10-13 17:08] ebrevdo commented on #11598
You should be able to use `impute_finished=False` and then mask the outputs with `tf.sequence_mask` using the final sequence lengths returned by the decoder.  Does that solve your problem?

[2017-10-13 17:14] ebrevdo commented on #13536
Will look into submitting a fix.

[2017-10-13 17:14] reedwm commented on #13681
Nice catch! The documentation is generated from [math_ops.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/math_ops.cc#L626). You should submit a pull request to fix the issue. We appreciate minor fixes, so do not worry about wasting our time with documentation fixes.

[2017-10-13 17:16] reedwm commented on #13685
Try using the latest version of TensorFlow (1.3 or master) and Bazel.

[2017-10-13 17:18] asimshankar commented on #13653
@anonym24 : I didn't quite follow your comment. Could you elaborate on what you meant? Are you able to run the speech demo?

It seems @MusaMahmood got things working after placing `libtensorflow_inference.so` in the right folder.

So at this point, I'm a bit confused about whether anyone is having a problem with the speech demo ( @anonym24 @vclteam @vamshikhoslalabs )

If so, please feel free to f

[2017-10-13 17:22] mrry commented on #13692
The log message in your report is not an error message, but rather an [information message](https://github.com/tensorflow/tensorflow/blob/624bcfe409601910951789325f0b97f520c0b1ee/tensorflow/core/common_runtime/gpu/gpu_device.cc#L847). (I believe it's been removed in TF 1.4, because it was confusing people more than it enlightened them.)

You should be able to ignore the message and continue to use

[2017-10-13 17:28] anonym24 commented on #13653
guys, if you use _tensorflow example project_ (not yours)
you have to check the correct path for native libraries:

for newly created projects in Android Studio it is **project_name\app\src\main\jniLibs\armeabi-v7a**

for _tensorflow example project_ it is **project_name\libs\armeabi-v7a** (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android)

projects overrides defaul

[2017-10-13 17:33] reedwm commented on #13687
Note that the int32 version is running on the CPU, since there is no int32 GPU `scatter_nd` kernel. So it seems the exception is raised iff the op is on the CPU.

@ebrevdo do you know why this is issue is occurring?

[2017-10-13 17:34] ppwwyyxx commented on #11186
@thjashin And my same solution seems applicable.

[2017-10-13 17:36] reedwm commented on #13691
@gunan @yifeif can you update GRPC or include the patch?

[2017-10-13 17:47] gunan commented on #13691
Looks to me like @jhseu created this patch file.

Jonathan, if we upgrade grpc to head, do we still need the patch file?
What is your recommendation here?

[2017-10-13 17:54] yaroslavvb commented on #4663
@thjashin note that your example is not using read_value() on the RHS of your assign op, whereas my example is using it

[2017-10-13 17:56] mahmoud-abuzaina commented on #13664
This error was fixed in master branch, see #13562 . We are trying to get this fix into r1.4.

[2017-10-13 18:02] pawarrick opened #13696 "Problem with CuDNN RNNs on Windows"
OS: Windows10
Keras version: master (as of today: 2.08+)
Tensorflow backend version: master (as of today ~1.4rc0)

GPU: Geforce GTX 1080Ti (11GB)
Cuda version: v8.0
cuDNN version: cudnn-8.0-windows10-x64-v6.0

First opened as a Keras GitHub issue here (includes full code and error output):
https://github.com/fchollet/keras/issues/8135

Francois Chollet suggested that this may be a Windows TF probl

[2017-10-13 18:11] reedwm commented on #13591
Yes, the problem will almost certainly not occur if the biggest allocation is less than half the GPU. It can theoretically occur in any case where an allocation is about half the size of the chunk its assigned to, but such cases are rare.

Note all models I know of will not allocate more than half the memory it uses in a single allocation. So I don't think this problem occurs in practice, but feel

[2017-10-13 18:15] reedwm commented on #13663
/CC @petewarden @andrewharp can you take a look?

[2017-10-13 18:16] k-w-w commented on #12974
@jart @chihuahua Can you take a look at this? We are thinking about adding a hook to a garden model that uses a canned estimator.

[2017-10-13 18:21] rmlarsen commented on #13641
It looks like the implementation on autograd is better in several respects. That is probably a good starting point for working on this: https://github.com/HIPS/autograd/blob/master/autograd/numpy/linalg.py#L120

[2017-10-13 18:25] tatatodd commented on #13664
Thanks for the info @mahmoud-abuzaina!

In the meantime, the workarounds are to:
1. Build from sources including #13562, or
2. Use a nightly that includes this fix, or
3. Use r1.4rc1 when it is available, or the actual r1.4 release when it is available.

[2017-10-13 18:25] #13664 closed

[2017-10-13 18:49] ybsave commented on #12414
@fumihwh Is the `.repeat()` function only suitable for training? I suppose it's not suitable for testing, as I only want to evaluate once; will the `make_one_shot_iterator()` only run the data set once even if my dataset size is NOT divisible by my batch size? I encountered the same error during testing but not in training. I used estimator, and the input functions are

`def input_fn(mode):
  """I

[2017-10-13 18:58] elwinmartin commented on #11294
Hi!

I'd like to work on this if nobody is looking at this right now.

[2017-10-13 19:24] satok16 commented on #10738
That's partially yes, but not easy.  You should transform a graph by using graph_transforms like:

bazel run tensorflow/tools/graph_transforms:transform_graph -- \
--in_graph="${SRC_FILE_NAME}" \
--out_graph="${DST_FILE_NAME}" \
--inputs="${INPUTS}" --outputs="${OUTPUTS}" \
--transforms="\
fuse_remote_graph(\
input_types=\"${INPUT_TYPES}\",\
input_shapes=\"${INPUT_SHAPES}\",\
border_inputs=\"${BOR

[2017-10-13 19:24] #10738 closed

[2017-10-13 19:28] reedwm commented on #13463
@huangrandong can you post a complete, self-contained example I can copy to a text file and run? In the code above, `image_base_name` is not defined.

@saxenasaurabh @vrv, any idea what the problem could be?

[2017-10-13 19:44] BotLivesMatter commented on #13675
Running Dependency Walker outputs the following list of files with the message "Error opening file. The system cannot find the file specified(2)."

API-MS-WIN-CORE-APIQUERY-L1-1-0.DLL
API-MS-WIN-CORE-APPCOMPAT-L1-1-1.DLL
API-MS-WIN-CORE-APPINIT-L1-1-0.DLL
API-MS-WIN-CORE-ATOMS-L1-1-0.DLL
API-MS-WIN-CORE-COMM-L1-1-0.DLL
API-MS-WIN-CORE-CONSOLE-L1-1-0.DLL
API-MS-WIN-CORE-CONSOLE-L2-1-0.DLL
API-MS-WI

[2017-10-13 19:44] andrewharp commented on #13663
@vamshikhoslalabs @zubairbaqai: can you please post a complete logcat from starting the app up until you see the error message? Do any of the other samples work?

I just tried the [official 1.4.0-rc0 APK](https://ci.tensorflow.org/view/Release/job/release-matrix-android/lastBuild/TF_BUILD_CONTAINER_TYPE=ANDROID_FULL,TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=NO_PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=c

[2017-10-13 19:48] andrewharp commented on #13653
Rather than dealing with individual native .so files, it should be easier just to use the [AAR itself](https://ci.tensorflow.org/view/Nightly/job/nightly-android/lastSuccessfulBuild/artifact/out/tensorflow.aar), which includes native libs for 32 and 64 bit architectures. Then just import it according to [these instructions](https://stackoverflow.com/questions/29826717/how-to-import-a-aar-file-into

[2017-10-13 19:48] nealwu commented on #2807
Not that I know of. Maybe @suharshs would know.

[2017-10-13 20:11] reedwm commented on #13693
Using a feed dict can have a performance impact, so you should use a variable instead. Still, when I remove the feed dict, I get similar results: opencv takes 267.98ms and tensorflow takes 267.98ms.

@cwhipkey do you have time to look into this?

[2017-10-13 20:12] johnsrude commented on #13692
I'll let you know after this issue is reconciled:
https://stackoverflow.com/questions/46697662/repairing-tensorflow-checkpoint

[2017-10-13 20:12] reedwm commented on #13693
Whoops, I meant to say, opencv takes 267.98ms and tensorflow takes 403.34ms.

Also, the code without the feed dict is:
[code]

[2017-10-13 20:13] suharshs commented on #2807
Not yet. I am not aware of progress on GPU support.

[2017-10-13 20:15] devill commented on #12416
I just ran into the same issue with my keras docker image... did anyone find the solution yet?

[2017-10-13 20:25] rutadesai commented on #13477
@martinwicke can you give a sample code to do this? I can see that it is expecting a string input (I checked this using the saved_model_cli tool.) But, I don't know how to parse data/features into this required string input. In particular, I am using an input_fn for parsing my data, which makes it even more confusing . Note -- this is what the saved_model_cli tool shows:

`The given SavedModel Sig

[2017-10-13 20:29] mrry commented on #13692
Is it possible to run one of the example programs (e.g. from https://github.com/tensorflow/models/) in the meantime?

[2017-10-13 20:32] awav commented on #13616
@alextp, last question: If I create c++ operation, which will accept `x` variable and `f` tensor, will I be able to manipulate execution of `f` depending on changes in `x`. In other words, will I be able to execute `f` tensor each time when I change `x`. Thanks!

[2017-10-13 20:37] alextp commented on #13616
You need to explicitly include this C++ operation in the graph in all the
places where you'd want it to run. There's no way to trigger it running
only when x is modified.

On Fri, Oct 13, 2017 at 1:35 PM, Artem Artemev <notifications@github.com>
wrote:

--
 - Alex

[2017-10-13 20:37] mrry commented on #13675
The `API-MS-WIN-*.DLL` messages are false negatives. (This is apparently a [known issue](https://stackoverflow.com/q/36240215/3574081) in Dependency Walker, but unfortunately it's the best tool we have!) I believe the same is true for the `EXT-MS-WIN-*.DLL` ones as well.

Are you running Dependency Walker from a command prompt in the same Conda environment in which you installed TensorFlow?

[2017-10-13 20:52] Damian89 commented on #5343
@sedghi same here... ldconfig helped, but after a while (hours, days) theres no effect...

[2017-10-13 21:07] rutadesai commented on #12367
@sudododo -- I am trying to use export_savedmodel() to save a trained DNNLinearCombinedRegressor after training. I do not want to use Tensorflow serving as I have a simple local desktop application. When I use build_parsing_serving_input_receiver_fn(), I am able to export the model using:  servable_model_path = regressor.export_savedmodel(export_dir_base = servable_model_dir, serving_input_fn = ex

[2017-10-13 21:45] johnsrude commented on #13692
Okay, looks like both of them work for training.  Thanks for your help.

The Nettles: Celtic. Eclectic. Folkadelic.
www.TheNettles.com <http://www.thenettles.com/>

On Fri, Oct 13, 2017 at 1:32 PM, Derek Murray <notifications@github.com>
wrote:

[2017-10-13 22:07] lukaszkaiser commented on #13600
That's a hard question. I'd suggest maybe we ask Erich Elsen? Erich: do you know this?

[2017-10-13 22:10] BotLivesMatter commented on #13675
In my first comment I ran it when it was just in the C drive not via cmd prompt. Literally just via file explorer.

I have tried running it again but this time I placed the exe file into the tensorflow environment and ran it via cmd(Please let me know if I am running it wrong):
Tensorflow is located at(this displays when launching the python console): C:\Users\Eric\AppData\Local\conda\conda\envs\t

[2017-10-14 00:08] justinwiley opened #13702 "NET::ERR_CERT_COMMON_NAME_INVALID visiting https://download.tensorflow.org"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

No

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Chrome, mac os latest

- **TensorFlow installed from (source or binary)**:
N/A

- **TensorFlow version (use command below)**:
- **Python version**:
- **Bazel version (if compiling from source)**:
- **CUDA/c

[2017-10-14 00:18] #13696 closed

[2017-10-14 00:20] mrry commented on #13675
The following DLLs are typically part of a CUDA Toolkit installation:

* `CUBLAS64_80.DLL`
* `CUFFT64_80.DLL`
* `CURAND64_80.DLL`
* `CUSOLVER64_80.DLL`

Perhaps you need to reinstall CUDA 8.0 to get these DLLs? (I believe the other three are false negatives.)

[2017-10-14 00:27] #13692 closed

[2017-10-14 00:53] lukaszkaiser commented on #13429
Ah, this is a different problem, I see. Here is the summary: the first time you create a scope with default_name everything works fine, right? The second time, it creates a new variable_scope name `a_1` (it's done here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/variable_scope.py#L1827).

The problem after that is that `name_scope` cannot re-open the scope `a_1` any

[2017-10-14 01:41] thjashin commented on #4663
@yaroslavvb I tried but your code works because you use `ResourceVariable`. When I changed the snippet to
[code]
It does work.

When I changed your code to
[code]
The result is
[code]
Pretty strange. Just wonder why `control_dependencies` only work when the variable is `ResourceVariable`.

[2017-10-14 01:43] thjashin commented on #11186
@ppwwyyxx Yeah use `ResourceVariable` actually works but just wonder why this happens. It's pretty strange that `control_dependencies` doesn't work with plain `Variable`.

[2017-10-14 01:45] jart commented on #3308
@corwinliu @waleedka Chances are you guys needed `//tensorflow/core:direct_session` on the deps list. But if you're building C++ programs with Bazel, it actually gets a little bit more complicated than that. Here's an example PNG -> JPG converter program built by Bazel to explain: https://gist.github.com/jart/c8b84a17ffa9e8e5dfa30342b8feca7a It's statically linked and ends up being about 22MB with

[2017-10-14 01:54] alquraishi commented on #2354
Thanks @mrry. Does the new `Dataset` API support automatic bucketing by length? I was hoping to use `tf.contrib.training.bucket_by_sequence_length` and already have everything implemented using the old `tf.train`-based API.

[2017-10-14 02:12] ebrevdo commented on #2354
Yes; see the NMT tutorial code here
<https://github.com/tensorflow/nmt/blob/master/nmt/utils/iterator_utils.py#L197>
(this
buckets by sequence length + batches with padding).  I believe
tensor2tensor has similar code here
<https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/utils/data_reader.py#L117>
.

On Fri, Oct 13, 2017 at 6:54 PM, Mohammed AlQuraishi <
notifications@github.c

[2017-10-14 02:18] SkinnyDipping opened #13705 "While compiling external app -> fatal error: unsupported/Eigen/CXX11/Tensor: No such file or directory"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: It's a C++ code from [this tutorial](https://tebesu.github.io/posts/Training-a-TensorFlow-graph-in-C++-API)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (us

[2017-10-14 03:32] jinfagang opened #13706 "/tensorflow/core/lib/io/record_reader.h:83:19: error: use of undeclared identifier 'InputStreamInterface' std::unique_ptr<InputStreamInterface> input_stream_;"
When try to build iOS dependencies got this error. I simply run:
[code]
And here is my env:

* macOS 10.13
* XCode 9

Any help would be every appreciated!
More detail errors:

[code]

[2017-10-14 03:51] newton3 commented on #12994
I just went ahead and started using linux. Everything works just great. Thanks!

[2017-10-14 04:07] facaiy commented on #13429
Yes, exactly right!

[2017-10-14 04:12] BotLivesMatter commented on #13675
Good news! After reinstalling CUDA 8, I am no longer getting the error. It seems that I was missing some of the files. Thank you for your help.

I do notice that I am getting the following messages, should I be concerned about them? They do not seem critical:
2017-10-13 18:23:28.501415: W C:\tf_jenkins\home\workspace\rel-win\M\windows-gpu\PY\35\tensorflow\core\platform\cpu_feature_guard.cc:45] The

[2017-10-14 04:15] vclteam commented on #13031
problem still there.
even on google cloud

[2017-10-14 04:30] dimichojb opened #13707 "cd /"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-14 04:32] Leslie-Fang commented on #13664
Thanks a lot for your information @mahmoud-abuzaina @tatatodd , I would try the new version.

[2017-10-14 04:40] yaroslavvb commented on #4663
tf.Variable is semi broken, ResourceVariable is the replacement

On Oct 13, 2017 18:47, "Shi Jiaxin" <notifications@github.com> wrote:

[2017-10-14 05:03] iansimon commented on #10083
I'm seeing the same issue when using tf.map_fn with swap_memory=True.

[2017-10-14 05:51] ftokarev commented on #13693
Interestingly, I tried using tf.Variable, and the code performed about the same:

using tf.Variable:
 - opencv: 152.87ms
 - tf: 303.75ms

using tf.placeholder:
 - opencv: 151.65ms
 - tf: 296.09ms

[2017-10-14 05:53] anishathalye commented on #2540
Here's another way to work around this issue (implementing what Tim was doing in the original post):

[code]

[2017-10-14 06:26] sfailsthy commented on #12730
I also encounter this issue.I also use the Win 10,but I installed Tensorflow-GPU from pip,and the version of tensorflow is also 1.3.0 . As @yangyixiaof  sayed , this issue is eliminated when I try to set "the model" as medium".

[2017-10-14 06:49] huangrandong commented on #13463
@reedwm you can define the variable which the code don't defined. and the code is used to put a numpy array of image and  another label array into the tfrecord file. Then, reading the two array from the tfrecord file

[2017-10-14 07:24] mrTsjolder opened #13710 "Wrong syntax in bibtex (DOCS)"
### System information

Irrelevant

### Describe the problem

The [bibtex entry for citing the Tensorflow white paper](https://www.tensorflow.org/about/bib#in_bibtex_format) has incorrect syntax: `\'{\i}` should be `\'{i}` in the first author name.

### Source code / logs

See also: https://tex.stackexchange.com/questions/23817/biber-writes-incorrect-unicode-encoding-of-i

[2017-10-14 08:01] llealgt commented on #12951
Hey guys, i have a different but related issue, i compiled with --config=mkl, in my case it compiles fine and creates the wheel file, i install it fine, but when i create a python session and do import tensorflow as tf, i get  libmklml_intel.so: cannot open shared object file: No such file or directory , any ideas?

[2017-10-14 08:04] llealgt opened #13711 "--config=mkl leads to libmklml_intel.so: cannot open shared object file: No such file or directory"
I compiled passing --config=mkl to bazel, it compiles fine and i get the .whl file, i install it with pip correctly, but when i launch a python session and type : import tensorflow as tf i get:
ImportError: libmklml_intel.so: cannot open shared object file: No such file or directory

Any ideas?

[2017-10-14 08:50] Leslie-Fang commented on #13664
Hi, @mahmoud-abuzaina @tatatodd  I have try build the TF in the master branch:commit 7cdd26f606b39e3e487ec15dfa6eb5c6cf63ef84 with bazel 0.6.1
It failed with the error:
_ERROR: /root/tensorflow/tensorflow/python/BUILD:1373:1: Linking of rule '//tensorflow/python:gen_string_ops_py_wrappers_cc' failed (Exit 1): gcc failed: error executing command
bazel-out/host/bin/_solib_k8/_U_S_Stensorflow_Spython

[2017-10-14 10:32] dibenedetto commented on #6035
@tfboyd any chance to have it available also on CPU? I'd like to contribute if I could, but I never worked on tensorflow source code.
Should this issue be reopen or should we file a new one?

[2017-10-14 10:37] thjashin commented on #4663
Oh I see. Thanks for clarifying this. Would be better if there is a warning about this in the doc string of `Variable`.

[2017-10-14 14:01] kalengi commented on #11096
I followed the steps by @davidshen84 with a few differences:

1. **cmake command:**
[code]

2. **Command used to build:**
`"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\amd64\MSBuild.exe" /m:2 /p:CL_MPCount=1 /p:Configuration=Release /p:Platform=x64 /p:PreferredToolArchitecture=x64 ALL_BUILD.vcxproj`

`"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community

[2017-10-14 14:11] tianzhi0549 opened #13713 "Unable to change reuse from True to False when using a variable scope to create new one."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 14.04.
- **TensorFlow installed from (source or binary)**:
From source.
- **TensorFlow version (use command below)**:
('v1.3.0-rc1-633-gcf375f0', '1.2.1-rc1').
- **Python version**:
2.7.6.
- **Bazel ve

[2017-10-14 14:52] zhoujinhai opened #13715 "Failed to load the native TensorFlow runtime."
my python version is 3.5.2
cuda version is  8.0
and cudnn version is 6.14

but when I import tensorflow , I have get the follow error message, how I can solve it!

[code]

[2017-10-14 15:32] Carmezim commented on #13715
Could you try to run [this script](https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c) and see what it points you to?

[2017-10-14 16:09] jhumplik opened #13716 "Tensorflow hangs during run() call on some machines"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Debian 9.1
- **TensorFlow installed from (source or binary)**: Both
- **TensorFlow version (use command below)**:  v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**: 3.5.3
- **Bazel version (if compilin

[2017-10-14 16:17] wonsekim commented on #13681
I've just requested a pull. Thank you.

[2017-10-14 16:30] #13707 closed

[2017-10-14 16:39] ligaoheng opened #13717 "`tf.reverse_sequence` does not support bool sequence"
It seems that `tf.reverse_sequence` can not reverse bool sequence.

[2017-10-14 16:46] amit-sri24 opened #13718 "fatal error: third_party/eigen3/Eigen/Core: No such file or directory"
Hi,
I have followed below mentioned steps on my raspberry PI device to enable tensorflow support, but stuck with this issue when executed "**make -f tensorflow/contrib/makefile/Makefile HOST_OS=PI TARGET=PI OPTFLAGS="-Os" CXX=g++-4.8** " command -

Error description -

[code]

Steps executed on raspberry pi; steps a to k are successful, getting error at step l-
a) tensorflow/contrib/makefile/downl

[2017-10-14 19:09] evolu8 commented on #7653
Possible solution: I had this issue, nvidia-smi was working fine, and it turned out I was placing my device where none existed. I have two environments. One with many GPUs one with just one. Running the code one the single GPU machine but placing the device on position '1' (or any other than '0') gave rise to this error.

[2017-10-14 19:23] yongtang commented on #11975
Created a PR #13722 to fix the error in CMAKE + `Dtensorflow_BUILD_ALL_KERNELS=OFF`. With the PR, the cmake with `-Dtensorflow_BUILD_ALL_KERNELS=OFF` should work now (tested on Linux).

[2017-10-14 19:44] sguada commented on #5036
Fixed the links

[2017-10-14 19:45] mrry commented on #13706
What is the source of the `build_all_ios_ssd.sh` script? (I haven't been able to find that in the TensorFlow repository.)

[2017-10-14 19:48] mrry commented on #13675
Great! It's safe to ignore those warnings.

[2017-10-14 19:48] #13675 closed

[2017-10-14 20:42] tsoernes opened #13723 "Feature request: bitwise operations on boolean tensors"
Currently, bitwise operations such as OR, AND only take integers.
It would be nice to be able to feed boolean tensors, e.g. `tf.zeros(4, dtype=tf.bool)` or to be able to bitcast an axis of a boolean tensor to an int.

[2017-10-14 23:45] facaiy commented on #13723
Perhaps tf.cast could be useful.

[2017-10-14 23:56] molyswu opened #13725 "Build tensorflow 1.0.1 for bug on jetson TX2"
Hi,
Build tensorflow 1.0.1 for bug on jetson TX2
$ ./cloneTensorFlow.sh$
$./setTensorFlowEV.sh
$ ./buildTensorFlow.sh

ERROR: /home/nvidia/tensorflow/tensorflow/core/kernels/BUILD:685:1: output 'tensorflow/core/kernels/_objs/tile_ops_gpu/tensorflow/core/kernels/tile_ops_gpu.cu.pic.o' was not created.
ERROR: /home/nvidia/tensorflow/tensorflow/core/kernels/BUILD:685:1: not all outputs were created o

[2017-10-15 01:36] ZichuanLIU commented on #13441
@reedwm I have update the program, which is shown below:
[code]

[2017-10-15 01:41] tsoernes commented on #13723
Only much later do I realize that `logical_or` etc. does exactly what I'm asking for; hopefully these operations are as fast as the bitwise equivalent.

[2017-10-15 01:41] #13723 closed

[2017-10-15 02:17] bdaskalov commented on #13536
Sorry, I've been meaning to make a PR last week but never got to it.

[2017-10-15 02:19] ebrevdo commented on #13536
No problem. We're evaluating your change internally.

On Sat, Oct 14, 2017, 7:17 PM bdaskalov <notifications@github.com> wrote:

[2017-10-15 02:34] guivenca commented on #13641
This article studies the analytical computation of the Jacobian of the SVD decomposition, maybe it can be of use:
"Estimating the Jacobian of the Singular Value Decomposition : Theory and Applications " by Theodore Papadopoulo and Manolis L.A. Lourakis
https://hal.inria.fr/inria-00072686/document
Section 2.3.1 analyzes the degenerate case with repeated singular values. Their suggestion is to use a

[2017-10-15 03:20] mmuneebs commented on #12414
I get flooded the same way using today's tf-nightly-gpu wheel binary on Ubuntu 16.04, Python 2.7, cud 6.

[2017-10-15 03:20] zhoujinhai commented on #13715
@Carmezim thanks! I don't how to solve it.
After I run this script, I get this error:
[code]

then I have installed cuddn5.1 and run again, the error has change to here:
[code]

[2017-10-15 03:22] zhoujinhai commented on #13715
this is tensorflow version
![image](https://user-images.githubusercontent.com/20365125/31581310-16fae168-b19b-11e7-9869-2488882966d8.png)

[2017-10-15 03:24] designMoreWeb opened #13726 "Error while installing Tensorflow on Mac via terminal"
I am trying to install Tensorflow on my mac via the terminal using the tutorial and commands that are provided by the official website linked below.

https://www.tensorflow.org/versions/r0.12/get_started/os_setup#pip_installation

However when running the pip install tensorflow & the pip install tensorflow-gpu command i get the same error (picture is attached).

<img width="820" alt="screen shot 2

[2017-10-15 03:54] kamilwattoo commented on #11903
There is no need to pass any extra flags during build. I downloaded OpenMPI 3.0.0 source and compiled it with C++ support although C++ support is deprecated. Then pointed tensorflow to use new installation. After that it compiled fine.

[2017-10-15 04:23] ebrevdo commented on #13687
It's hard to efficiently check an error condition coming off the GPU, so
instead we just fill with a 0.  Many ops do this.  The int32 version of the
op runs on CPU for historical reasons.

On Fri, Oct 13, 2017, 10:34 AM Reed <notifications@github.com> wrote:

[2017-10-15 05:01] chrisplyn commented on #11096
@kalengi Did you successfully build the CPU-only version? Did you try building the GPU-version?

[2017-10-15 05:07] clover978 commented on #11295
@JackieLeeTHU11 I meet the same problem. Have you solved it? Thanks

[2017-10-15 05:11] gunan commented on #13726
You probably need `sudo`?
It is likely that you will run into more issues, as we saw some changes into numpy has broken some old versions of TF.

On MacOS, we recommend using a CPU version, or you can always use a GPU supported TF through cloud instances that have GPUs.

[2017-10-15 05:11] #13726 closed

[2017-10-15 05:12] gunan commented on #13711
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-10-15 05:12] #13711 closed

[2017-10-15 05:16] gunan commented on #13685
Bazel had quite a few backwards incompatible changes this year, so the error is definitely due to using an incompatible bazel version. You have two options:
- Use a new branch as @reedwm suggested
- Or use the appropriate bazel version, as listed at the bottom of this page:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/install/install_sources.md

[2017-10-15 05:16] #13685 closed

[2017-10-15 05:18] gunan commented on #13682
Thanks for the report. But as you reported, this issue seems to be resolved with newer TF versions.
As 1.0 is now older than 7 months, we will not patch the release to fix this bug in 1.0.

Thank you very much for your report, and please let us know if you see this error in1.4 release

[2017-10-15 05:18] #13682 closed

[2017-10-15 05:20] gunan commented on #13626
I have seen such issues reported when the driver is upgraded through apt. However, I could not reproduce this myself.
Did you use to have 375.66 driver installed on this machine before?

[2017-10-15 05:27] gunan commented on #13550
@dr4b @wolffg @jugglerix PTAL

[2017-10-15 05:33] gunan commented on #13379
Looks like this is a problem in user environment setup.
Closing.

[2017-10-15 05:33] #13379 closed

[2017-10-15 05:33] gunan commented on #13387
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-10-15 05:33] #13387 closed

[2017-10-15 05:37] gunan commented on #13347
We do not have official support for Redhat, or Anaconda. So I am marking this community support.

However, the following is possible.
It is possible anaconda python and tensorflow are looking for different versions of glibc.
Could you install pip and python through RPM and try again?

[2017-10-15 05:37] gunan commented on #13335
This is fixed at head now.

[2017-10-15 05:37] #13335 closed

[2017-10-15 05:39] gunan commented on #13319
Also, we have no MKL support on Windows yet.
All our build rules are only written for ubuntu at the moment.

[2017-10-15 05:39] #13319 closed

[2017-10-15 05:40] gunan commented on #13318
Amit, is it possible we uploaded a wrong binary for windows?

[2017-10-15 05:42] gunan commented on #13302
This looks like an issue strictly in your installation of python, virtualenv and pip.
As this is not a TensorFlow problem, there is nothing we can do on TF side.
I am closing this issue.

[2017-10-15 05:42] #13302 closed

[2017-10-15 05:43] gunan commented on #13290
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-10-15 05:43] #13290 closed

[2017-10-15 05:44] gunan commented on #13227
I believe this was fixed. I think the build still fails, but due to a different issue now.
Closing.

[2017-10-15 05:44] #13227 closed

[2017-10-15 05:46] gunan commented on #13220
Sorry for the delay in response.
Looks like this was resolved. Closing the issue.

Please feel free to crate a pull request to merge this fix into the repository.

[2017-10-15 05:51] gunan commented on #13127
Any updates @alex-petrenko ?

[2017-10-15 05:52] gunan commented on #13130
This was resolved, before the build broke with another issue.

[2017-10-15 05:52] #13130 closed

[2017-10-15 05:53] gunan commented on #13050
@tfboyd is this resolved?

[2017-10-15 05:59] gunan commented on #13006
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-10-15 05:59] #13006 closed

[2017-10-15 06:28] bbongcol opened #13729 "android:tensorflow_demo build error - external/fft2d/fft/fftsg.c:641:10: fatal error: 'math.h' file not found"
Hi

I succeeded build and install TensorFlow from sources with the link below.
https://www.tensorflow.org/install/install_sources

But, I could not build 'android: tensorflow_demo' under the guidance of the link below.
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android

### System information
- **Have I written custom code (as opposed to using a stock example script p

[2017-10-15 08:00] anilbeereddy135 commented on #13626
Actually, I'm not entirely sure of the driver version before the issue.

[2017-10-15 09:26] zbpjlc opened #13730 "freeze model graph failure"
I can generate the pbtxt,but freeze  model graph failure
I use tensorflow1.2

File "/Users/gouwei/tensorflow/bazel-bin/tensorflow/python/tools/freeze_graph", line 178, in <module>
    Main()
  File "/Users/gouwei/tensorflow/bazel-bin/tensorflow/python/tools/freeze_graph", line 117, in Main
    module_space = FindModuleSpace()
  File "/Users/gouwei/tensorflow/bazel-bin/tensorflow/python/tools/freez

[2017-10-15 09:28] zbpjlc commented on #13730
by the ways ,I use MAC 10.12.6

[2017-10-15 09:31] zbpjlc commented on #12726
hi,how can you deel with the problems, I meet it now

[2017-10-15 09:37] RubyGemer commented on #18
so is this thread for C# TensorFlow. I mean will you be able to train models in C# after that? Just like we do in Python?

[2017-10-15 10:09] jinfagang commented on #13706
@mrry Hi, thanks for watching. I am pretty sure I can access like this:
[code]
which the `build_all_ios_ssd.sh` lying.
But I can not find this script in master branch repo too, so weird.
I try to run build_ios.sh it seems this is right, but build_all_ios_ssd.sh always fails.

[2017-10-15 12:38] matthias-k commented on #13687
Where exactly do you fill with a 0? Since in the case of out-of-bounds there is nothing to fill...

I'm totally fine with not checking bounds on the GPU but I think it would be very helpful to state in the documentation that on CPU the bounds are checked but on GPU they are not.

[2017-10-15 13:24] Saltzmann commented on #13675
@mrry thanks downloading the file worked for me as well.

[2017-10-15 13:52] alex-petrenko commented on #13127
It turns out you actually can do it; just like @mrry said you can pass /MT option to each and every 3rd party library tensorflow depends on. On Windows, all of them are built with CMake, so usually, you just need to add the flag to the CMake options.

In my case, I wanted to build a version with static runtime to simplify the deployment, to eliminate the dependency on the Microsoft C++ Runtime Lib

[2017-10-15 14:36] kalengi commented on #11096
I built the CPU-only version successfully on Windows 7. Haven't tried building the GPU version yet.

[2017-10-15 14:38] ldocao commented on #7172
did you have a look at #6953 ?

[2017-10-15 14:42] tfboyd commented on #13050
with 1.4.  It is so hard to publish content to the website I usually give up unless it is urgent.  The easy solution is to wait for a release.  So when 1.4 becomes root the fix will show up.  So roughly 30+ days after I fixed the content.  @gunan

[2017-10-15 14:53] cwhipkey commented on #13693
The resize_bicubic kernel, for channels!=3 cases, has inner loops over channel and then width:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/resize_bicubic_op.cc
Probably we need to change this to do something different when there a large number of channels, perhaps taking the 3-channel logic and doing chunks of that size (or even 4-channel case).

There is a benchma

[2017-10-15 15:49] ebrevdo commented on #13687
Sorry, gather_nd does in a similar case.  Want to send a PR to update the
documentation for those two?

On Sun, Oct 15, 2017, 5:39 AM matthias-k <notifications@github.com> wrote:

[2017-10-15 16:17] yaroslavvb commented on #13050
There used to be an option to see "Master" version of the docs on the website, that was useful

[2017-10-15 16:18] user7654 commented on #9469
On Win7, W7, Windows 7 try to install   Microsoft Visual C++ 2015 Redistributable Update 3
    https://www.microsoft.com/en-us/download/details.aspx?id=53587
first. It helped for me.
see: https://github.com/tensorflow/tensorflow/issues/5949

[2017-10-15 16:20] user7654 commented on #11139
On Win7, W7, Windows 7 try to install   Microsoft Visual C++ 2015 Redistributable Update 3
    https://www.microsoft.com/en-us/download/details.aspx?id=53587
first. It helped for me.
see: https://github.com/tensorflow/tensorflow/issues/5949

[2017-10-15 16:21] chrisplyn commented on #11096
@aluo-x Building GPU version is not working for me as well. Did you have any solutions?

[2017-10-15 16:31] Carmezim commented on #13715
You probably installed TensorFlow 1.3 with GPU support which if you read the installation requirements use cuDNN v6.x. The script messages were pretty clear in "could not find cuDNN 6". Could you try it and follow up?

[2017-10-15 16:58] tfboyd commented on #13050
Master is still there if you go to versions.  The problem is master is not
updated by any type of job so it is really only updated when an rc
happens.  In a normal world I would have updated the content, waited MAYBE
1 week verified it and marked this issue closed.  This is not related to
Gunhan at all.

On Sun, Oct 15, 2017 at 9:18 AM, Yaroslav Bulatov <notifications@github.com>
wrote:

[2017-10-15 17:27] chrisplyn commented on #11096
7>Done Building Project "D:\tensorflow\tensorflow\contrib\cmake\build\tf_core_framework.vcxproj" (default targets) -- FAILED.
     6>Done Building Project "D:\tensorflow\tensorflow\contrib\cmake\build\tf_cc_framework.vcxproj" (default targets) -- FAILED.
    48>Done Building Project "D:\tensorflow\tensorflow\contrib\cmake\build\tf_cc_ops.vcxproj" (default targets) -- FAILED.
    47>Done Building P

[2017-10-15 17:28] #11975 closed

[2017-10-15 17:30] resamir commented on #7785
I am running into a similar problem. I am using VGG16 model in Keras, but when I attempt to call model.load_weights() inside the "with tf.device(tf.train.replica_device_setter(...))" block I get the same error because setting the weights runs Keras session. Any idea how you solved this?

[2017-10-15 17:44] gunan commented on #13127
Thank you very much for the explanation!
Now that we have possible workarounds and we confirmed that we can do this using the cmake build, I will mark this issue closed.

[2017-10-15 17:44] #13127 closed

[2017-10-15 18:27] aluo-x commented on #11096
@chrisplyn I did not attempt a build of 1.3.0 because #11865 never got a reply. I will try again once 1.4.0 gets released with cudnn 7 compatibility.
Existing successful builds can be found in my repo.

[2017-10-15 18:35] mrry commented on #13706
Just to confirm: if you run `build_all_ios.sh`, does it build correctly?

Also, if you clone the Git repository into a clean checkout, does it contain the file `build_all_ios_ssd.sh`? I suspect it may have been left behind by an old version, but I'm not sure what might have created it (since it doesn't appear in the project's version control history).

[2017-10-15 19:17] awav commented on #13616
Thanks all for your responses!

[2017-10-15 19:17] #13616 closed

[2017-10-15 19:21] yongtang commented on #13717
As #13719 is merged I think this issue could be closed.

You could also specify in then PR with things like `This PR fixes #13717.` Then when the PR is merged the associated issue will be closed automatically.

[2017-10-15 20:31] gokul-uf commented on #9125
Hi,
What's the current status of this bug as of r1.4?
Thanks!

[2017-10-15 20:49] yongtang opened #13733 "Build error with boringssl"
With the most recent master bazel build fails with `Ubuntu 16.04`, `gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4)`, and `bazel` `0.6.1`.

[code]

I think the issue is caused by the recent changes of the patch in boringssl with in PR #13638.

[2017-10-15 20:59] chrisplyn commented on #11096
@aluo-x I can't even build the CPU version with AVX enable, do you know what might cause that?

[2017-10-15 21:07] Sylvus commented on #8271
Same problem here, is there a workaround?

[2017-10-15 22:29] ed-alertedh commented on #13335
Thanks! If anyone else has run into this, the changes were merged in #13677 which happened just after 1.4.0rc0 was released

[2017-10-15 23:51] ltt00 commented on #1940
Me too!

[2017-10-15 23:55] chrisplyn commented on #11096
@kalengi I can't build CPU version, I encountered can't open pywrap_lib error ...

[2017-10-16 00:28] wolffg commented on #13550
We've turned the permission off for now; you should be OK.

[2017-10-16 01:08] selcouthlyBlue commented on #13651
Thank you for bringing attention to this :D

[2017-10-16 01:15] #13717 closed

[2017-10-16 01:21] betterenvi commented on #13717
@yongtang
Thanks!

[2017-10-16 01:32] zhoujinhai commented on #13715
thank you  first . It is my fault, The graphics card of my compute is Inter which can't support CUDA , that is bad.

[2017-10-16 01:42] zh794390558 commented on #5147
Thanks @standy66

[2017-10-16 01:44] zh794390558 commented on #2354
Tanks @mrry @ebrevdo

[2017-10-16 02:00] #13733 closed

[2017-10-16 03:03] jinfagang commented on #13706
I just cloned tensorflow last few days. it's build fail with above error. I am trying to run the object dection demo on iOS, is there any newest tutorial or link for this?

[2017-10-16 03:04] #13643 closed

[2017-10-16 03:04] #13449 closed

[2017-10-16 03:34] mrry commented on #13706
Unfortunately I've no idea which tutorial you are following. If you can share a link, that'd be helpful. I'd suggest starting from scratch and documenting the exact steps as you're taking, so that someone on the TF team can reproduce the problem.

[2017-10-16 03:40] mrry commented on #13706
After some searching, is this the tutorial that you're following?

https://github.com/JieHe96/iOS_Tensorflow_ObjectDetection_Example

It looks like this tutorial adds its own `Makefile` for building the tutorial:

https://github.com/JieHe96/iOS_Tensorflow_ObjectDetection_Example/blob/452dbcb5a4fdd20de0d2b4df4a25bdd8f34c2bda/config/makefile/Makefile_ios

That `Makefile_ios` isn't compatible with th

[2017-10-16 03:40] #13706 closed

[2017-10-16 03:53] ed-alertedh commented on #5719
It will still be useful in scenarios where you don't need the gradient. As a workaround I'd suggest enabling soft placement so the gradient ops can be placed on CPU.

I did get some CUDA kernel launch errors with the new implementation but that would be a totally separate issue. Still haven't had time to prepare a proper bug report (it could have been fixed in the meantime anyway)

[2017-10-16 04:12] romesh-mccullough opened #13738 "."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-16 05:17] nyoshimura commented on #9651
Hi, I faced same problem when I tried to run the command on Jetson TX2 by following [this instruction](https://syed-ahmed.gitbooks.io/nvidia-jetson-tx2-recipes/content/first-question.html).

But when I changed the parameter of command from 3072 to 1800 by following [another instruction](https://github.com/dat-ai/tensorflow-on-nvidia-jetson/blob/master/build_from_source.md), it worked well :)

The

[2017-10-16 05:42] molyswu commented on #13725
bazel build -c opt --jobs 1 --local_resources 2048,0.5,1.0 --verbose_failures --config=cuda //tensorflow/tools/pip_package:build_pip_package

[2017-10-16 05:53] anaisbetts opened #13740 "AV in nvcuda on Win10 amd64"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: example script startup
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Win10 amd64 10.0.16291.0
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: b'unknown' 1.3.0
- **Python version**:  3.6.3
- **Bazel ver

[2017-10-16 05:56] ebrevdo commented on #5719
It should work in the nightlies, if you have a full stack trace and minimal
graph/code to replicate that would be helpful.

On Sun, Oct 15, 2017, 8:54 PM Edward Bordin <notifications@github.com>
wrote:

[2017-10-16 06:55] carlthome commented on #12951
@llealgt maybe consider opening a separate issue for this?

[2017-10-16 07:00] MrThiago commented on #11037
any solutions ?

OSError: [Errno 62] Too many levels of symbolic links:

[2017-10-16 07:09] amareshteja opened #13741 "Decoding and resizing image is giving unknown tensor shape"
I'm trying to load two images, one is .png and another is .jpg, to tensorflow and resize them to 100x100 pixel size using `tf.image.pad_to_bounding_box`, so that they will be of same size and can be used for training. Here's my code:

[code]

But some how the resized image size is not proper. It's displaying height and width but not depth(I mean channels).

`Output: (100,100,?) #height, width are

[2017-10-16 07:10] jinfagang commented on #13706
Thank you Pal, you are almost like a magician knows what I am exactly thinking.

[2017-10-16 07:31] Air000 commented on #9259
@gunasekaran7 Hi, could you please tell me how to cross-compile tensorflow c++ module on i.mx6? Thank you so much!

[2017-10-16 07:42] ed-alertedh commented on #5719
OK, looks like you've made significant changes since I last tried it, but I'm still seeing the same behaviour on tf-nightly-gpu==1.4.0.dev20171013. Info below but let me know if I can gather any more - sorry for not reporting earlier!

Minimal working example for my machine:
[code]

Error log for input of size [1, 6140]
[error_log.txt](https://github.com/tensorflow/tensorflow/files/1386529/error_l

[2017-10-16 07:53] MrGeva commented on #8665
Thanks @jkiske your workaround works for me

[2017-10-16 08:02] Bocharick opened #13742 "libtensorflow_cc.so need to work on single (but not specific) core. (feature request)"
I use self builded libtensorflow_cc.so shared library in my c++ model "player" program. I builded *.so for cpu-only usage. But by default in runtime it uses all cores. But I want to use only one core.
If i run my program through taskset, for example, I can use specific mask:
$taskset -c 0 ./my_program param1 param2
And it will perfectly work, but only on 0-th core of my cpu. And if I run several p

[2017-10-16 08:14] D0048 commented on #1947
Experienced the same here. This seems to be only happening on the first time running tensorflow. The program responds to the sigterm about 10 minutes later and the following trials work just fine.

[2017-10-16 09:00] gunasekaran7 commented on #9259
@Air000 , I used this [link](https://github.com/samjabrahams/tensorflow-on-raspberry-pi/blob/master/GUIDE.md)

[2017-10-16 09:01] ruppeshnalwaya1993 commented on #9958
I fine-tuned a mobilenet model for binary classification. The problem is when I use Quantised model on Android, it produces exactly same prediction values for all images after retraining. The same mobilenet model when non-quantised produces reasonable values.
This problem is only on Android. On iOS it works nicely for both non-quantised and quantised model. What could be reason for this and soluti

[2017-10-16 09:10] zh794390558 commented on #12859
see https://stackoverflow.com/questions/45945881/tf-train-monitoredtrainingsession-and-reinitializable-iterator-from-dataset

[2017-10-16 09:39] gamersover commented on #12927
i have occured the same problem, do you have any ideas about it? or do you solved it? thanks

[2017-10-16 09:56] fidlej commented on #13550
Thanks. The popup is not appearing anymore.

[2017-10-16 10:03] JINwonLEE commented on #4762
@yuanbyu I'm also interested in this technical doc. How can I get the doc or somewhere to see that technical doc?

[2017-10-16 10:06] kalengi commented on #11096
@chrisplyn By the time you see the message `7>Done Building Project "D:\tensorflow\tensorflow\contrib\cmake\build\tf_core_framework.vcxproj" (default targets) -- FAILED.` the corresponding error will have been displayed long before. Try logging the build output messages to a file so that you can search later for the actual error that caused the build to fail. Using **Powershell** you can view the

[2017-10-16 10:18] shahnawaj5488 commented on #2307
@petewarden Any walkthrough for the tensorflow serving on custom retrained Inception v3.

[2017-10-16 10:57] IvanDeFalco opened #13744 "TensorFlow: lack of repeatability in tf.estimator.DNNClassifier"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-16 11:09] zh794390558 opened #13745 "tf.contrib.data.Dataset does not handle well with last elements with is fewer than batch size"
tf.contrib.data.Dataset  does not handle well with last  elements with is fewer than batch size.

Maybe batch_size = 10, but last batch has 9 elements.

[2017-10-16 11:38] formath opened #13746 "GraphDef ParseFromString error"
I load a `graph.pb` saved by `tf.train.write_graph(sess.graph.as_graph_def(), FLAGS.model_dir, 'graph.pb', as_text=False)` via blow code. But an error occur. Why?

[code]

[code]

[2017-10-16 11:42] sjperkins commented on #13308
I digged a little further and this seems to be caused by compiling the custom op g++ 5.4.0 on 16.04.  Note that the `-D_GLIBCXX_USE_CXX11_ABI=0` flag is correctly present to attempt to use the older ABI.

If I install g++ 4.8 and compile with that the segfault disappears and the op runs correctly.

[2017-10-16 11:54] sjperkins commented on #13308
Note that the op runs successfully when compiled with g++ 5.4.0 on 16.04 and the `Shard` call is removed.

[2017-10-16 13:08] azainab commented on #8404
I am trying to do something exactly similar. I was able to save the model to a graph.pb file and use it in android studio.

The nodes are as such:
[print(n.name) for n in tf.get_default_graph().as_graph_def().node]

_>>>[print(n.name) for n in tf.get_default_graph().as_graph_def().node]
keras_learning_phase
Sigmoid
[None, None]_

I am trying to read the input and output node but it doesnt recogniz

[2017-10-16 13:33] Carmezim commented on #13715
Oh, no worries. So you need to work with TF without GPU support as only with a compatible NVIDIA GPU you are able to use TF with GPU enabled support.
This issue can be closed now if you don't have any further questions.

[2017-10-16 13:39] zhoujinhai commented on #13715
OK thanks!

[2017-10-16 13:39] #13715 closed

[2017-10-16 13:54] diegoSta commented on #12052
Is there a possibility to have a whl that works with CUDA 9, cuDNN 7.0 and python 3.5?

[2017-10-16 14:01] ofirbb commented on #7958
@keveman @ajtulloch
Continuing your discussion from June 😸

* [prefetchStorageWithCommandBuffer:imageDescriptorList:](https://developer.apple.com/documentation/metalperformanceshaders/mpstemporaryimage/2097544-prefetchstoragewithcommandbuffer?language=objc) Seems to give a small win when calling the same pipeline more than once. While counter intuitive being linked to a single `commandBuffer` call

[2017-10-16 15:17] mrry commented on #13745
When this is that case `dataset.batch(10)` will give you zero or more batches of 10 elements, followed by a single batch of 9 elements. If you don't want the smaller batch, you can use `dataset.apply(tf.contrib.data.batch_and_drop_remainder(10))`.

What would you recommend instead?

[2017-10-16 15:18] #13738 closed

[2017-10-16 15:42] #13550 closed

[2017-10-16 15:57] kanshuzhi commented on #10738
@satok16 Thanks.
But may I know whether fuse_remote_graph in transform_graph is necessary?
As my understanding, we can use graph transform to make the following transformations.
FP32 model->quantized model->fused hexagon quantized model.
Can I feed FP32 model or quantized model directly into tensorflow with hexagon implement?

Thanks for your help.

[2017-10-16 16:10] tfboyd commented on #12052
After TF 1.4 is finalized the nightly builds will move to the CUDA 9 +
cuDNN 7 assuming there are no issues.  Builds I made and share for fun are
always python 2.7 because that is the default on my test systsems.

On Mon, Oct 16, 2017 at 6:59 AM, Diego Stalder <notifications@github.com>
wrote:

[2017-10-16 16:16] mahmoud-abuzaina commented on #13664
@Leslie-Fang this is a more recent issue and should be fixed when #13697 is merged.

[2017-10-16 16:30] Lakedaemon commented on #8404
In my experience, if you still have keras_learning_phase node in your model after you have trained it and frozen/optimized it in python for use in java/android, you have been doing something wrong when using the keras api.

You have to reload your model after training and before optimizing in a completely new python process (i;e. you launch your python file on another line of your console)

[2017-10-16 16:32] Lakedaemon commented on #8404
Also, there aren't many nodes in your model. This feel weirds (my model had like 60+ nodes before optimizing and maybee half after optimizing, but I still had like 20 or 30 nodes....)

[2017-10-16 16:40] mellvinbaker commented on #13530
I have not addressed usage itself yet because I assumed it was due to the balance of loading data. I couldn't dial in that balance with the GPU taking such long pauses. That said, my GPU usage was also extremely low, even when I seemed to be filling memory up (growth set to true, etc.) I never got above 12%. Still, I am much more worried about the batching speed issue. This bug, if it is indeed a

[2017-10-16 16:53] satok16 commented on #10738
No, the transform is required in order to let the tensorflow know which ops should be run on HVX because some HVX ops are not optimized and may be much slower than CPU.  So, user needs to optimize the graph manually by using fuse_remote_graph.

[2017-10-16 17:01] chibicode commented on #1449
To understand `name_scope` and why it's useful, I suggest reading the "Name scoping and nodes" section on this page:
https://www.tensorflow.org/get_started/graph_viz#name_scoping_and_nodes

To understand `variable_scope` and why it's useful, I suggest reading the "Sharing Variables" section on this page:
https://www.tensorflow.org/programmers_guide/variables#sharing_variables

[2017-10-16 17:03] jstypka opened #13751 "Parsing TFRecords bug in TensorFlow v1.2"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra 10.13
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: ('v1.2.0-rc2-21-g12f033d', '1.2.0')
- **Python version**: 2.7.10
- **Bazel versi

[2017-10-16 17:06] tatatodd commented on #4762
@skye I remember seeing some docs at some point, but can no longer find them.  Do you have any links?

[2017-10-16 17:08] reedwm commented on #13683
This seems similar to #12264. /CC @skye

[2017-10-16 17:17] johnsrude commented on #13692
@mrry @aselle  Please reopen this issue.

It turns out that this bug is still in place because while computation doesn't fail the number of images processed per second is exactly the same whether there are one or two P4s enabled in the machine which would seem to indicate that only card is being used.

[2017-10-16 17:25] mrry commented on #13530
@mellvinbaker Looking at your example code, I noticed that the `batch_size` is 200000 (i.e. the full size of the `DataFrame`). Is that what you'd typically use in your application?

Given that the `pandas_input_fn()` is based on a `FeedingQueueRunner`, it would have to feed 200000 elements to build such a batch. At ~20us per feed, I'm not surprised that it stalls for a noticeable amount of time.

[2017-10-16 17:26] mrry commented on #13692
Does the code you are running place ops on the different GPUs? (If it doesn't include explicit code for parallelizing across the GPUs, then I would expect it to use `/gpu:0` only.)

[2017-10-16 17:29] mrry commented on #13751
The `tf.contrib.data` API in TF 1.2 doesn't support dictionaries as `Dataset` nested structures. This feature was added in TF 1.3. To work around it, you will need to convert the dictionary to a `tuple` or `namedtuple`.

[2017-10-16 17:34] johnsrude commented on #13692
The answer to  your question is "no".

I've read https://www.tensorflow.org/tutorials/deep_cnn#training_a_model_using_multiple_gpu_cards

Should I post my questions about how to do multi-GPU training on StackOverflow?

[2017-10-16 17:40] skye commented on #4762
We have an internal design doc. There's nothing proprietary in it though, so lemme look into sharing it publicly.

[2017-10-16 17:41] johnsrude commented on #13692
I notice that this issue is still open:
https://github.com/google/seq2seq/issues/44

[2017-10-16 17:43] mellvinbaker commented on #13530
The dataframe is 400,000 rows, not 200,000 and those 200,000 rows make for about ~3gb of data. I am not sure how that is any different than a 3GB array of image values. I would not think that batching 3gb of numbers to a GPU would be outside the scope of pandas_input_fn, but maybe I misunderstand its purpose (or its use, both are very possible). When would you ever need to batch a dataset of say 5

[2017-10-16 17:45] jstypka commented on #13751
thanks @mrry! Are you referring to #10151 with your answer? It seems to me as it's not about what the parsing function returns but rather what we pack into `tf.parse_single_example()`.

[2017-10-16 18:06] mrry commented on #13751
Is that not-working in 1.2 or 1.4?

[2017-10-16 18:10] jstypka commented on #13751
Fails in v1.2, works in v1.4 @mrry

[2017-10-16 18:14] rmlarsen commented on #13641
@guivenca thanks for the reference! I was thinking that such a minimal norm solution might be the right approach, but didn't work out the math. I'll study this paper.

[2017-10-16 18:24] mrry commented on #13751
Perhaps it's the list return value that's the problem. (I fixed an issue related to that in d001b58de9d0d99ef34637b9a9bed5763875f655, which is only in the TF 1.4 release.) Can you try changing `parse_fn` to the following?

[code]

[2017-10-16 18:41] reedwm commented on #13639
The API would not change, except that calling `get_shape` would not prevent feeding the `tf.sparse_placeholder`. I do not think that making that change would affect backwards compatibility.

3 placeholders would work (that's what `tf.sparse_placeholder` internally does) but ideally calling get_shape on `tf.sparse_placeholder` would not cause it to be unfeedable.

[2017-10-16 18:47] reedwm commented on #13463
It's much easier to quickly reproduce these issues if I have a self-contained example without having to define variables. Perhaps the issue only occurs for certain values of `x1_offset`, for example. So can you please add a complete example?

[2017-10-16 18:55] drpngx commented on #13741
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-16 18:55] #13741 closed

[2017-10-16 18:56] drpngx commented on #13729
It looks like there's something wrong in your toolchain. Did you follow the instructions for Mac?

/CC: @mhyttsten

[2017-10-16 18:57] drpngx commented on #13725
Can you paste more logs to pastebin?

[2017-10-16 19:00] drpngx commented on #13713
@allenlavoie could you take a look?

[2017-10-16 19:00] drpngx commented on #13713
(This refers to an older version of the code, I think)

[2017-10-16 19:11] jhseu commented on #13691
My understanding is that we no longer need the patch if we upgrade gRPC. @vjpai was going to look at upgrading it, but if someone wants to work on it, feel free (but please chat with me since there are a few things to keep in mind).

[2017-10-16 19:17] peastman opened #13754 "graph_editor uses deprecated API"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: b'v1.3.0-21-gc701d19b2' 1.3.0
- **Python version**: 3.6.0
- **Bazel version (if compiling f

[2017-10-16 19:26] ebrevdo commented on #13536
The problem is deeper and the solution requires some additional changes.  I'll try to submit something in the next couple days.

[2017-10-16 19:49] georgesterpu commented on #7927
For a variable length input (but padded batches) of shape `[batches, timesteps, 132]`,
`inputs.get_shape()[1:]` or `[2:]` does not work in my case. Here is the error:

`ValueError: Dimensions must be equal, but are 128 and 132 for 'Encoder/Encoder/while/Encoder/multi_rnn_cell/cell_1/mul' (op: 'Mul') with input shapes: [?,128], [1,132].`

LSTMCell was instanced with 128 num_units

tf-nightly-gpu (1

[2017-10-16 19:51] yaroslavvb commented on #13754
Work-around

`setattr(tf.GraphKeys, "VARIABLES", "variables")`

The reason this warning happens is because graph_editor programmatically scans all values in GraphKeys and each time you access tf.GraphKeys.VARIABLES, it issues a warning.

[2017-10-16 20:09] drpngx commented on #13615
Thanks @soumith !

[2017-10-16 20:09] #13615 closed

[2017-10-16 20:12] drpngx commented on #13653
It looks like this is solved.

[2017-10-16 20:12] #13653 closed

[2017-10-16 20:13] drpngx commented on #13705
@skye on hermeticity.

[2017-10-16 20:16] skye commented on #13705
@allenlavoie does this ring any bells to you?

[2017-10-16 20:49] jstypka commented on #13751
also breaks @mrry, the same error. It seems to not matter whether I return a list, tuple or a dict. Can you reproduce it?

I can also try in TF v1.3 if that would be helpful

[2017-10-16 20:51] av8ramit commented on #12242
Fixed!

[2017-10-16 20:51] #12242 closed

[2017-10-16 21:03] mrry commented on #13751
The code doesn't work in `tf-nightly` for me. What code did you run that works in TF 1.4?

FWIW, the failure in `tf-nightly` is due to the current lack of `tf.SparseTensor` support. See this Stack Overflow answer for some workarounds:

https://stackoverflow.com/a/46732695/3574081

[2017-10-16 21:03] abedi19 commented on #13653
please let me know when this issue was fixed.

[2017-10-16 21:08] av8ramit commented on #13318
So the reason for this is that the 1.3 branch was cut prior to that feature being updated.

Master: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py#L620

1.3: https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/contrib/layers/python/layers/layers.py#L548

Closing as designed.

[2017-10-16 21:08] #13318 closed

[2017-10-16 21:14] UnicornH opened #13756 "Does this version support the CUDA 9.0?"
Does this version support the CUDA 9.0?

Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we

[2017-10-16 21:16] av8ramit commented on #11871
Closing as this will be fixed in 1.4 and we have listed a workaround for 1.3

[2017-10-16 21:16] #11871 closed

[2017-10-16 21:34] jstypka commented on #13751
![](https://preview.ibb.co/iAbRi6/Screen_Shot_2017_10_16_at_23_31_18.png)

@mrry

[2017-10-16 21:38] jstypka commented on #13751
Can you point me to some guide how to load TFRecords in TF1.2? I imagine it's quite a standard procedure and I don't want to do anything fancy. The ml-engine clusters run only v1.2, so I need to work with this version.

[2017-10-16 21:44] mrry commented on #13751
The 1.4 code is different: it uses a `tf.FixedLenFeature` named `"mau_d180"`, whereas the code you're trying in 1.2 uses a `tf.VarLenFeature` named `"f1"`.

The `FixedLenFeature` code should work in 1.2 if you convert the return type to a tuple. The `VarLenFeature` code won't work in either version until we add `tf.SparseTensor` support.

For common cases, the [`tf.contrib.data.read_batch_features

[2017-10-16 22:01] jstypka commented on #13751
![](https://preview.ibb.co/ixncqm/Screen_Shot_2017_10_16_at_23_57_14.png)

It doesn't seem to work in v1.2. You're right that the code is slightly different - I simplified it for the sake of the example (named the variable `f1` and used `tf.VarLenFeature`), but this shouldn't change the behaviour.

@mrry - I can check TF v1.3 tomorrow morning, I'm in the European timezone.

[2017-10-16 22:07] mrry commented on #13751
Can you share the whole 1.2 traceback?

I think you'll need to rewrite `parser()` as follows to work on TF 1.2:

[code]

If you have more than one feature, you'll need to extract the values from the dictionary in some consistent order, and create a tuple by hand.

While switching between `tf.FixedLenFeature` and `tf.VarLenFeature` might not seem like a significant difference, it changes the return

[2017-10-16 22:23] jstypka commented on #13751
Make sense! The code that you gave works - I will probably have tens of features, so it might get quite awkward to build all of that by hand.

Final question - what's the recommended and suggested way moving forward? Should I not use TFRecords and maybe move to CSV? Or should I use the `read_batch_features()` function that you suggested? My usecase is not special in any way and I also control the

[2017-10-16 22:35] mrry commented on #13751
I'd suggest trying `read_batch_features()`... it'll work in the older version of TF, and make it easier to deal with multiple (potentially sparse) features. It's also got a pretty simple implementation on top of standard `Dataset` transformations, so it's pretty hackable if you end up needing something different (just copy the code to your own project and customize it as necessary).

[2017-10-16 22:57] kevinj22 opened #13761 "tf.reduce_sum gives value error when given int64 as input."
Passing a tensor of dtype=int64 into tf.reduce sum I receive the following error:

Tensor("loss/diff:0", shape=(50,), dtype=int64)
ValueError: Invalid type tf.int64 for loss/Sum:0, expected: [tf.float32, tf.float64, tf.float16].

According to the documents from https://www.tensorflow.org/api_docs/python/tf/reduce_sum:

input_tensor: The tensor to reduce. Should have numeric type.

As int64 is a nu

[2017-10-16 23:19] kbsriram commented on #13653
The original issue was missing android artifacts from jcenter, leading to compile failures like
 `Failed to resolve: org.tensorflow:tensorflow-android:+`

This issue was fixed over Sunday/Monday (Oct 15th/16th 2017) and at this point all tensorflow-android aar versions should accessible from jcenter again.

[2017-10-16 23:20] Jiawen1991 opened #13762 "How are threads bound to physical cores in TensorFlow runtime and inter/intra threadpools?"
Hi all,

If one CPU has 8 cores and each core has two threads, does TF runtime use the OS threads scheduler to match the logical cores and threads to the physical cores and threads? Or does it has its own policy to match the threads and cores? Does TF only recognize cores and but not the whole device(CPU) like the system does? (The OS only knows the number/id of cores and sockets and doesn't know

[2017-10-16 23:21] Jiawen1991 opened #13763 "Modify the TensorFlow Scheduler and Runtime to Change the Operations Priority"
Hi,

I am trying to modify the TensorFlow scheduler and runtime to change the operation priorities. As my understanding, TensorFlow has inter-operation and intra-operation thread pool with a scheduler scheduling operations for different threads and there is also a FIFO queue of operations for operations waiting. The workflow between them is that operations are sent to the inter-op thread pool from

[2017-10-16 23:42] hyuen commented on #5777
Is there a solution to this problem for people that only have one gpu and it is being used as a display?

[2017-10-16 23:58] reedwm commented on #13681
Fixed with #13712

[2017-10-16 23:58] #13681 closed

[2017-10-17 00:04] facaiy commented on #13761
Could you list all the environment information required by issue template?

[2017-10-17 00:10] facaiy commented on #13744
Do you shuffle input data?

[2017-10-17 00:16] kevinj22 commented on #13761
Sure:

System information

Linux Ubuntu 16.04
TensorFlow installed via pip from (source or binary)**:
Tensorflow Version: v1.3.0-rc2-20-g0787eee
Python 2.7.12
CUDA Version 8.0.61
cuDNN V5 (I believe)
GeForce GTX 1070 and GeForce GTX 780 Ti

[2017-10-17 00:17] vishvananda opened #13764 "Failure in TestNewTensor when running go test"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source (branch 1.4)
- **TensorFlow version (use command below)**: 1.4.0-dev
- **Python version**: 3.5
- **Bazel version (if compiling from

[2017-10-17 00:40] vishvananda commented on #13764
It looks like this is due to the fact that TF_TensorData returns nil if no data is allocated. Assuming this is correct behavior and nil needs to be checked for on the go side then the following patch fixes the problem:
[code]

[2017-10-17 00:59] mike-aungsan opened #13765 "Import "google/protobuf/any.proto" was not found or had errors."
make -f tensorflow/contrib/makefile/Makefile HOST_OS=PI TARGET=PI OPTFLAGS="-Os" CXX=g++-4.8
PROTOC = "protoc"
CC_PREFIX = ""
protoc  tensorflow/contrib/boosted_trees/proto/learner.proto --cpp_out /home/a_name/tensorflow/tensorflow/contrib/makefile/gen/proto/
protoc  tensorflow/contrib/boosted_trees/proto/quantiles.proto --cpp_out /home/a_name/tensorflow/tensorflow/contrib/makefile/gen/proto/
prot

[2017-10-17 01:09] drpngx commented on #13761
OK, looking at the comment in the code, it looks like we have `int32` as a special case, but not `int64`. There appears to be some subtlety around the implementation.

Maybe @mrry can clarify.

[2017-10-17 01:11] mrry opened #13766 "Add sparse tensor support to `tf.data.Dataset`"
The `tf.data.Dataset` class does not currently recognize a `tf.SparseTensor` object as a component of a dataset element. This makes it difficult to use the full capabilities of `SparseTensor`-producing ops such as `tf.parse_single_example()` in `Dataset.map()` transformations, and then manipulating those elements using operations like `Dataset.batch()`. The existing `tf.train.batch()` and related

[2017-10-17 01:27] zh794390558 commented on #13745
I think which may have a param for dataset.batch()  which like allow_smaller_final_batch of tf.train.batch().

[2017-10-17 01:33] drpngx commented on #13761
Now it's coming back to me. IIRC, because meta-data information is stored on the host, running operations on GPU was slower because of the overhead. So we have traditionally stayed away from integer operations on GPU. Not sure if that changed.

In your case, you can still cast to int32 where the op is implemented.

[2017-10-17 01:33] #9724 closed

[2017-10-17 01:33] #11044 closed

[2017-10-17 01:33] #11512 closed

[2017-10-17 01:33] tensorflowbutler commented on #9724
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-17 01:33] tensorflowbutler commented on #11044
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-17 01:34] tensorflowbutler commented on #11512
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-17 01:36] drpngx commented on #13763
So overall I think your understanding is correct. The Executor basically runs the graph. You would have to plumb execution policies all the way.

Is there something specific you'd like to do? Can you describe the API at a high level?

[2017-10-17 01:38] kevinj22 commented on #13761
I tried making all tensors involved into int32's:

[code]

Although I still receive the same error.

ValueError: Invalid type tf.int32 for loss/Sum:0, expected: [tf.float32, tf.float64, tf.float16].

I don't believe I can cast in this instance as casting is an operation that doesn't create a gradient. I initially tried casting both tensors to tf.float32 and using tf.losses.mean_squared_error but I

[2017-10-17 01:38] asimshankar commented on #13764
Thanks for the report @vishvananda. I'm unable to reproduce the problem using the [1.3.0 release binary]("https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x86_64-1.3.0.tar.gz"), or [1.4.0-rc0 release binary](https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x86_64-1.3.0.tar.gz) (will try rebuilding from source using the exact flags you'r

[2017-10-17 01:44] abedi19 commented on #13653
so what do we do know. If we compile should it work know automatically.

[2017-10-17 01:48] drpngx commented on #13761
Oh, when does it crash? If it's integer, I am not sure how the gradient would work. Instead of `argmax`, you'll want to train against the likelihood loss.

[2017-10-17 01:50] drpngx commented on #13765
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-10-17 02:02] kevinj22 commented on #13761
I am attempting to implement the one hot cnn as described here : https://arxiv.org/pdf/1412.1058.pdf

In the paper Rie Johnson mentions they minimize square loss. I also read https://arxiv.org/abs/1702.05659 which states that loss functions other than the most popular log loss sometimes produce better results.

I had the CNN working with cross entropy:

[code]

but wish to try some other loss func

[2017-10-17 02:15] drpngx commented on #13761
Can you describe a bit more what `targets` are? It sounds strange. I think you're meaning to use
`[p(y|x)-I(x,y)]^2`.

[2017-10-17 02:21] kevinj22 commented on #13761
The ground truth labels, they are integer's denoting the location of the proper class index.

[2017-10-17 02:28] drpngx commented on #13761
Right. So, is there a special order in the labels that would make you want to prefer that loss? In that case, if you misclassify `1` for `10`, it's not the same as if you misclassify `1` for `2`.

[2017-10-17 02:35] kevinj22 commented on #13761
That is true, the further apart the classification indexes the larger the weight of that error would be. If the classification indexes were grouped closely together this might make a difference i.e cars, trucks, and vans could be 1,2,3 while something unrelated to these likes dogs and cats could be 9 and 10.

I recently saw https://arxiv.org/abs/1702.05659 which states that loss functions other th

[2017-10-17 02:49] XiaoZYang commented on #3378
@dataf3l  Try to figure out that your placeholder has the same name 'x'. First I try the method @yaroslavvb mentioned it didn't work, and I find out that the placeholder's default name is not 'x'.

[2017-10-17 02:53] waveroarer opened #13768 "Packages missing in current channels: - tensorflow"
I typed the following in the Anaconda Prompt
"
conda create --name=IntroToTensorFlow python=3 anaconda
source activate IntroToTensorFlow
conda install -c conda-forge tensorflow"

Then it shows

Packages missing in current channels:
      -  tensorflow
- http://conda.anaconda.org/conda-forge/win-32
- http://conda.anaconda.org/conda-forge/noarch
- http://repo.continuum.io/pkgs/main/win-32
- http://r

[2017-10-17 03:04] Ellie68 opened #13769 "How periodicaly evaluate the Performance of Models in TF-Slim?"
I am trying to use [DensNet][1] for regression problem with TF-Slim. My data contains 60000 jpeg images with 37 float labels for each image. I divided my data into three different tfrecords files of a train set (60%), a validation set (20%) and a test set (20%).

I need to evaluate validation set during training loop and make a plot like [image][2].
In TF-Slim documentation they just explain train

[2017-10-17 03:36] #13746 closed

[2017-10-17 04:18] Jiawen1991 commented on #13763
Thank you for your reply. Actually,

I did some research in the executor.cc and can print out the operations sequence and threads id in the runtime. I am still stuck in

1. how to grab an operation before it's put into the ready_queue to be executed?

2. How to schedule more intra/inter threads for a specific operation at the executor? Since the TensorFlow uses the Eigen threadpool which is not a

[2017-10-17 04:41] vishvananda commented on #13764
Fascinating, both the 1.3.0 and the 1.4.0-rc0 release binary return zero length from TF_TensorData but they return a pointer to an actual buffer instead of nil. I'm attempting my flags on the 1.3 branch to see if it is the flags that are causing it to return nil. Next, I'll try removing the extra flags one at a time to see if I can narrow it down. I suspect AllocateTensor ends up with a nil buffer

[2017-10-17 04:45] formath opened #13771 "[Error] unknown op in C++"
I load a simple graph `c=a*b` in C++ and do prediction for `c`. It gives right result but some errors `unknown op` occur. What's the problem?

OS: macOS 10.12.6
Tensorflow: master. build from source using `makefile/build_all_ios.sh`

prediction cpp code:
[code]

Full error message:
[code]

[2017-10-17 05:32] formath opened #13772 "No OpKernel was registered to support Op 'StridedSlice'"
I trained a model via python and load the freeze model for prediction using c++. When running prediction binary, some errors occur.

OS: macOS 10.12.6
Tensorflow: master. built from source via `makefile/build_all_ios.sh`

Deadly error:
[code]

Full error message:
[code]

[2017-10-17 05:33] #13353 closed

[2017-10-17 05:42] vishvananda commented on #13764
Ok, I think I've tracked down the issue to building with MKL. If I build without `--config=mkl` the tests pass fine. The issue is that building with MKL uses the bfc_allocator to allocate memory. That allocator explicitly returns nil when an allocation of zero bytes is performed (As a side note, this probably should not be an error or warning if we expect it to happen when we request a zero length

[2017-10-17 06:07] asimshankar commented on #13764
Thanks for the detailed trackdown @vishvananda, much appreciated.

Yes, what you said makes sense. For the Go side, would you like to contribute a pull request to make the fix? If not, let me know and I'm happy to make the change as well.

Thanks!

[2017-10-17 07:16] wengqi123 opened #13773 "ERROR:tensorflow:Exception in QueueRunner: truncated record at 935047"
[code]
so,why this errors ?

[2017-10-17 07:46] bsautermeister commented on #4814
@shoeffner : I'm not sure if this has changed in the last version of TF, but 'vars' is an empty list when I use your snippet above.

To be more precise, I always run into the exception of my code, which is based on your proposal:

[code]

[2017-10-17 08:18] wichtounet opened #13774 "Cannot install Tensorflow with specific GCC version"
I'm trying to install Tensorflow 1.3 without success

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Gentoo
- **TensorFlow installed from (source or binary)**: Trying from source
- **TensorFlow version (use command below)**: 1.3
- **Python version**: 3.4.5
- **Bazel version (if compiling from source)**: 0.5.2
- **CUDA/cuDNN version**: 8.0 / 5.1.5
- **GPU mode

[2017-10-17 08:26] IvanDeFalco commented on #13744
Dear facaiy,
thank you very much for your fast reply!
Actually, yesterday evening I noticed the same issue, so I set shuffle=False, and performed several tests.
Now all the runs yield the same result, so your idea is good and very helpful for my goal, thank you!
Actually, generally speaking, setting shuffle=False is just a way to get around the real problem, because the problem still exists: even

[2017-10-17 08:49] facaiy commented on #13744
Hi, @IvanDeFalco . If I understand you correctly, you want a global seed setter for random, like `numpy.random.seed(0)`, right?

Sounds reasonable, however, it goes beyond my scope and perhaps difficult to implement. Let's wait for reply from official tensorflowers.

[2017-10-17 08:51] IvanDeFalco commented on #13744
yes @facaiy it is exactly what I am looking for.
Let's hope somebody will start working on this.
Again, thanks :)

[2017-10-17 09:05] xFoolCode opened #13775 "Installed Tensorflow-gpu but i cant import it it gives me this error"
Traceback (most recent call last):
  File "C:\Users\Mohammad Reza\AppData\Local\conda\conda\envs\my_root\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    return importlib.import_module(mname)
  File "C:\Users\Mohammad Reza\AppData\Local\conda\conda\envs\my_root\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_im

[2017-10-17 09:08] Nayana-ibm opened #13777 "s390x support for google/nsync"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: building from source
- **TensorFlow version (use command below)**: master
- **Python version**:  Python 2.7.12
- **Bazel version (if compiling from source)**: 0.6.1
- **Exact command to reproduce**:  bazel build -c opt //tensorflow/tools/pip_package

[2017-10-17 09:47] guotong1988 opened #13778 "program could not run in docker but could run on local machine"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
CentOS7 in local machine
Ubuntu 16.04.2 LTS in docker image
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:
v1.3.0-rc0-33-g6f0d70e 1.3.0-rc1
- **Python version**:

[2017-10-17 10:18] Jennydariska commented on #9294
sorry, I would like to ask something. I got the same error when I was training my NeuronNetwork, when I wanted to have the prediction. this is the code ` # 6.  Definition del model
def model_fn1(features, labels, mode=None, params=None, config=None):
    # 6.1. Connect the first hidden layer to the # (features["x"]) with relu activation
    hidden = tf.layers.dense(features["x"], 10,

[2017-10-17 10:20] shchur commented on #13490
Thank you, that fixed the issue.

[2017-10-17 10:20] #13490 closed

[2017-10-17 10:21] lalwaniabhi commented on #11351
@petewarden Is the support for quantize_weights and quantize_nodes available for windows now? or whether will be available sometime in near future? :)

[2017-10-17 10:51] facaiy commented on #13744
Perhaps it is nearly impossible for multiple thread or distributed environment.

[2017-10-17 10:59] mjunyentb opened #13779 "MonitoredSession.close() doesn't stop a thread when using SyncReplicasOptimizer hook"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3
- **Python version**: 3.5.2

### Describe the problem
If using SyncReplicasOptimizer,

[2017-10-17 11:00] Jennydariska opened #13780 "I don't understand why I get these errors when i used dict () instead of { }. and how could I solve it?"
This is the code. is very similar to tensorflow tutorial but uses estimator instead of classifier .
# 6.  Definition del model
def model_fn1(features, labels, mode=None, params=None, config=None):
    # 6.1. Connect the first hidden layer to the # (features["x"]) with relu activation
    hidden = tf.layers.dense(features["x"], 10,
                             activation=tf.nn.relu)

    # 6.2. Con

[2017-10-17 11:40] babakEhteshami commented on #8787
Checking in to announce my interest as well!

[2017-10-17 12:15] hanochk opened #13782 "QuantConv2D"
Hi, I've followed the documentation and TF Github code and couldn't find the relation between QuantizedConv2D to GEMMlowp. Does QuantizedConv2D use, implicitly, in a way the QuantizedMatMul(quantized_matmul_op.cc), under the hood, where the latter calls GemmlowpMultiply explicitly? Otherwise how the QuantizedConv2D using the great benefit of google GEMM HW platform specific implementation?

[2017-10-17 12:26] lalwaniabhi commented on #10581
Hello,
@JcmeLs Can you please tell me the solution you found of the above problem?

[2017-10-17 12:29] glaslos commented on #13756
Starting with 1.5 TF  will be based on CUDA 9 and cuDNN 7.

[2017-10-17 12:37] Carmezim commented on #13775
Could you try to run [this script](https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c) and see what it points you to?

[2017-10-17 13:07] tiagocalumbi opened #13783 "How can I do multples input Api c?"
Hi guys,

I am trying to make build my project in c++. The model use CTC and I don't have idea with re-writte code for main.cc. So,  It has input four values: `Tensor("the_input:0", shape=(?, 128, 64, 1), dtype=float32) Tensor("the_labels:0", shape=(?, 16), dtype=float32) Tensor("input_length:0", shape=(?, 1), dtype=int64) Tensor("label_length:0", shape=(?, 1), dtype=int64)`

I am use [https://git

[2017-10-17 13:19] Lucky94 commented on #2680
Hi @pacey ,
`10-11 11:46:49.192 6064-6105/org.tensorflow.demo E/tensorflow: ObjectTracker: libtensorflow_demo.so not found, tracking unavailable`
The above line contains the error from your dump. Please try looking for it from here you will get to know. It seems like library linking error, try properly linking it (it's more like path or include errors).

Thanks.

[2017-10-17 13:49] SaintNazaire opened #13784 "Docker image file generated by parameterized_docker_build.sh fails (3)"
**Issue**

Fixed previous docker install issue [#13379](https://github.com/tensorflow/tensorflow/issues/13379)

Executing parameterized_docker_build.sh generates new docker file but image fails to turn into an docker image, throws error message.

**System information**

- I have used a stock example script provided in TensorFlow
- Windows 10 professional
- TensorFlow install as docker image tensor

[2017-10-17 13:51] rapatel0 commented on #4589
Hello @reedwm. Just wanted to know what the current status as of 1.3.1

[2017-10-17 14:22] andydavis1 commented on #13772
please include a reproducible test case. One way this error can occur is if the op kernel is not registered for the specific data type you are using: float, double, etc...

[2017-10-17 14:24] rutadesai opened #13785 "TypeError in freeze_graph tool while trying to freeze a graph in Tensorflow 1.3"
I train a tf.contrib.learn estimator (specifically, DNNLinearCombineRegressor) in Python and saved the model’s parameters and graph by specifying model_dir when defining the estimator. My estimator uses embedding and real valued feature columns, and a custom input_fn to parse the data. After training is done, I try to freeze the graph using the CLI as mentioned in this [post](https://stackoverflow

[2017-10-17 14:26] andydavis1 commented on #13766
@ebrevdo Can you comment on this sparsity question?

[2017-10-17 14:44] mrry commented on #13766
PS. Eugene: There's no obligation on you to answer or take this issue :). It's a placeholder while we do the necessary work to make `SparseTensor` work in `tf.data`. However, any thoughts you have would be welcome!

[2017-10-17 14:46] andydavis1 commented on #13762
TF does not pin threads to cores (though if you build with MKL, I believe that Intel's internal thread pool implementation does (and probably makes use of hyperthreads if it makes sense.

Thanks for your question, but please ask these types of questions on Stackoverflow...

[2017-10-17 14:46] #13762 closed

[2017-10-17 14:51] qianyizhang commented on #8246
since the thread is still open, I will paste my solution here
`
def np_repeat(tensor, repeats):
    """
    Args:

    input: A Tensor. 1-D or higher.
    repeats: A list. Number of repeat for each dimension, length must be the same as the number of dimensions in input

    Returns:

    A Tensor. Has the same type as input. Has the shape of tensor.shape * repeats
    """
    assert len(repeats) =

[2017-10-17 14:54] andydavis1 commented on #13702
I think we had some cert problems that are now fixed. @martinwicke Can you comment?

[2017-10-17 14:57] rjsdn102 opened #13786 "no module"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-17 14:57] rjsdn102 opened #13787 "no module named models.rnn.translate"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-17 14:57] andydavis1 commented on #13774
@jart Can you comment on how to override to a supported version of GCC here?
You might also try stackoverflow for some help...

[2017-10-17 15:32] andydavis1 commented on #13786
please fill out template and include reproducible test case.

[2017-10-17 15:32] #13786 closed

[2017-10-17 15:36] martinwicke commented on #13702
The tutorial should use the http link: http://download.tensorflow.org/data/speech_commands_v0.01.tar.gz

or better, this https link:
https://storage.cloud.google.com/download.tensorflow.org/data/speech_commands_v0.01.tar.gz

Because we're using GCS in a pretty bare-bones way, we don't have HTTPS for direct download.tensorflow.org links.

[2017-10-17 15:41] sursu commented on #12052
Any expected release date?

[2017-10-17 15:42] martinwicke commented on #13702
I sent a fix. Closing for now, should be fixed next time we publish the docs.

[2017-10-17 15:42] #13702 closed

[2017-10-17 16:21] andydavis1 commented on #13718
@petewarden Can you comment on this raspberry PI issue?

[2017-10-17 16:32] schloegl commented on #13716
I can confirm this bug report, when using pre-compiled tensorflow 1.3.0 on python 3.5.3.

The problem seems to occur only on these quad-socket machines, dual socket machines do not seem to be affected. debugging the problem with strace, one can see that the process runs into a deadlock and is waiting for a futex

`
futex(0x55fbd967e864, FUTEX_WAKE_OP_PRIVATE, 1, 1, 0x55fbd967e860,
FUTEX_OP_SET<<28

[2017-10-17 16:34] lefnire commented on #12052
All those chomping at the bit, just build #master from source. It's not too hard (just time consuming), you get the latest CUDA/cuDNN, _and_ additional optimizations over a pip/whl install (eg, see the CPU optimizations in [this tut](https://gist.github.com/Brainiarc7/6d6c3f23ea057775b72c52817759b25c)). Plus next time CUDA/cuDNN upgrade, you can build again w/o having to wait

[2017-10-17 16:40] drpngx commented on #13761
In the sentiment classification case, it's better to use something like `p(like|x)`, then map from `0-1` to `1-5`. The point is that you want the soft estimate, which is differentiable. It can be made arbitrarily sharp by scaling the logits.

I will close this since this is not strictly a bug. Feel free to start a discussion on stackoverflow.

[2017-10-17 16:40] #13761 closed

[2017-10-17 16:45] drpngx commented on #13775
/CC @mrry

[2017-10-17 16:47] reedwm commented on #4589
I don't think much has changed in 1.3.1. But on the master branch, the status is the following.

[tf_cnn_benchmarks](https://github.com/tensorflow/benchmarks/tree/master/scripts/tf_cnn_benchmarks) has support for fp16 by using the flag fp16. It currently does an unnecessary costly cast [here](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/convnet_builder.py#L445), w

[2017-10-17 16:47] ybsave commented on #12948
Totally agree the necessity of memory shared feature. In addition, to implement memory efficient DenseNet, we also need a feature re-computation function. There are already memory efficient implementations of DenseNet on other platforms; I think Tensorflow, labeled as one of the most flexible platform, falls behind somewhat on this feature. Hope both would be added soon. Thank you.

[2017-10-17 16:47] drpngx commented on #13773
It looks like there is some error in the tf record. The queues are a little harder to debug.

Would you consider `tf.contrib.data.DataSet`? This is a much easier API.

[2017-10-17 16:52] drpngx commented on #13787
There is no content in the description. Please resubmit.

[2017-10-17 16:52] #13787 closed

[2017-10-17 16:54] #13783 closed

[2017-10-17 16:55] drpngx commented on #13785
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-17 16:55] #13785 closed

[2017-10-17 16:55] mrry commented on #13745
If you're using `Dataset.padded_batch()`, you can compose it with a `Dataset.filter()` to exclude smaller batches. For example, if your dataset has three components in each element `(x, y, z)`:

[code]

[2017-10-17 16:55] vrv commented on #11195
Regardless of the current feature set, I think we're just going to move to the now opensourced https://github.com/abseil/abseil-py/tree/master/absl/flags at some point, so I'd rather avoid any further development of our homegrown version that would make it functionally different than that one.

[2017-10-17 16:56] vrv commented on #11195
(I'd encourage those to avoid using tf.app.flags if you are bothered by issues with it, and use the abseil library or just argparse).

[2017-10-17 16:59] fchollet commented on #8787
The `estimator = model.get_estimator()` feature is now available for `tf.keras` (in TF 1.4).

To train a Keras model from TFRecords, please see this example: https://github.com/fchollet/keras/blob/master/examples/mnist_tfrecord.py

[2017-10-17 16:59] #8787 closed

[2017-10-17 17:00] abhigoku10 commented on #7419
@davideb91  can u pls explain what are these parameters and how to set these values , since i have trained the model in darknet and converted using darkflow
  private static final int IMAGE_MEAN = 128;
  private static final float IMAGE_STD = 128;
  private static final String INPUT_NAME = "Mul:0";
  private static final String OUTPUT_NAME = "final_result:0";

[2017-10-17 17:25] HelloSeeing commented on #12860
@PatWie +1
I encounter this problem when build android tensorflow_demo, giving the following error message:
[code]

[2017-10-17 17:34] allenlavoie commented on #13713
Just setting that line to `reuse` unconditionally would mean that failing to set `reuse` in a `variable_scope` would also disable variable reuse rather than inheriting from the scope that was passed in. That doesn't seem workable.

So we'd need `reuse={True, False, None, AUTO_REUSE, REALLY_FALSE}`, which is getting to be a bit much for a Boolean. Does `AUTO_REUSE`, recently added, satisfy your use

[2017-10-17 17:38] slundell commented on #22
I have around ten different varieties of AMD GPUs in my mining rigs. (from 7970 to RX 480 running ubuntu 16.04 and amdgpu-pro). Let me know if I can contribute by testing anything.

[2017-10-17 18:17] rutadesai commented on #13785
I am not sure, if the freeze_graph works with input_fn, and estimators. So, it could be a bug. I have posted on StackOverflow before posting here. I also found other people facing similar problems on StackOverflow without any solution.

Thanks.

[2017-10-17 18:22] andydavis1 commented on #13680
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-17 18:22] #13680 closed

[2017-10-17 18:25] rutadesai opened #13788 "Feature request: Prevent predict_scores() in tf.contrib.learn.estimators from reloading graph variables from checkpoint file everytime"
Hi there,

I am using tf.contrib.learn.DNNLinearCombinedRegressor with wide and deep feature columns in Tesnorflow 1.3. I use an input_fn to parse pandas dataframes to this regressor for training. I have both real and categorical features, and so my deep feature columns are made of sparse columns with embedding as well as real valued columns. After training, I want to use the trained model for pre

[2017-10-17 18:27] #13756 closed

[2017-10-17 18:30] gunan commented on #13777
Hello @Nayana-ibm
It looks like we just need to add a config option here for s390x:
https://github.com/google/nsync/blob/master/BUILD#L29
And add the necessary copts options for the architecture.
I confirmed with @m3bm3b that nsync, unlike boringssl is meant to be compatible and should work on s390x.

One detail is, We only accept changes to nsync internally.
If you can create a patch to support s

[2017-10-17 18:37] andydavis1 commented on #13716
@rmlarsen, @benoitsteiner Can either of you comment on this issue? Thanks...

[2017-10-17 18:42] andydavis1 commented on #13742
You can control the number of threads in SessionConfig by setting inter and intra op parallelism.

In general questions like this should be asked on StackOverflow.

[2017-10-17 18:42] #13742 closed

[2017-10-17 19:06] MikalaiDrabovich commented on #22
How about https://github.com/ROCmSoftwarePlatform/hipCaffe
https://github.com/ROCmSoftwarePlatform/hipeigen

On Tue, Oct 17, 2017 at 10:54 AM, slundell <notifications@github.com> wrote:

[2017-10-17 19:07] gdeer81 opened #13789 "Feature Request: C++ gradient for LRN (Local Response Normalization)"
Implement the gradient for LRN in c++ so that it is available for TF_AddGradients

This is the python code that I think would need to be ported:
https://github.com/tensorflow/tensorflow/blob/48be6a56d5c49d019ca049f8c48b2df597594343/tensorflow/python/ops/nn_grad.py#L516

I'm using this issue to call dibs on this gradient port per @bpiel's suggestion
I was also advised to mention @suharshs

[2017-10-17 19:10] mike-aungsan commented on #13765
OS -> Ubuntu 14.04.5 LTS (GNU/Linux 4.4.0-59-generic x86_64)
uname -r -> 4.4.0-59-generic
Python 2.7.6
pip --version ->  pip 1.5.4 from /usr/lib/python2.7/dist-packages (python 2.7)

gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/4.8/lto-wrapper
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 4.8.4-2ubuntu1~14.

[2017-10-17 19:31] mike-aungsan commented on #13765
bazel version
/bin/bash: warning: setlocale: LC_ALL: cannot change locale (en_us.UTF-8)
WARNING: ignoring http_proxy in environment.
Build label: 0.6.1
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Oct 5 21:54:59 2017 (1507240499)
Build timestamp: 1507240499
Build timestamp as int: 1507240499

I try this command

[2017-10-17 19:39] tycho opened #13790 "compile failure with --config=mkl"
Building from git 27767d8e9c1325979cf32ff5b81c10df9006fd57 with `TF_NEED_MKL=1` and `TF_DOWNLOAD_MKL=1`. It seems d835d677ade78a41e0e097f67c87b6ab8588a90a introduced a compile failure:

[code]

There are multiple problems in there. This patch gets it closer to compiling (correcting return type of `MKLTranspose2D` base template, adding missing line-continuation escape):

[code]

But I'm not sure ho

[2017-10-17 20:05] drpngx commented on #13771
It looks like it's doing `3.0 * 2.0`, but other than that, it works fine?

[2017-10-17 20:13] drpngx commented on #13779
The `SEGV` should not happen. Can you repro this?

It's a calling pattern that I'm not used to. @ispirmustafa could you take a look?

[2017-10-17 20:17] drpngx commented on #13769
@sguada could you take a look?

[2017-10-17 20:20] ispirmustafa commented on #13779
Adding @isaprykin

[2017-10-17 20:41] zcz004 commented on #9672
@av8ramit This function can only be used by building tf from source? The error persists.

[2017-10-17 20:53] ekelsen commented on #13744
Just to double check - you're running this on the CPU? Or using OpenCL on the AMD GPUs?

[2017-10-17 21:00] georgesterpu commented on #13669
Turns out I had a typo in the monotonic bahdanau call, pasted the scalar `num_units` for the `memory` field too.
Indeed, the alignment images look quite different for several values of `score_bias_init` and `sigmoid_noise`, will have to search for the optimal values.
Would -1.0 and 0.5 (0.0 in test) respectively be a good starting point ? Cannot tell what would be an appropriate range right now.

[2017-10-17 21:05] craffel commented on #13669
Typically I try [-4, -3, -2, -1] for `score_bias_init`.  I have never needed to use anything other than `sigmoid_noise=1`.  Again, I recommend using `scale=True` and `BahdanauMonotonicAttention`.

[2017-10-17 21:10] zcz004 commented on #9672
Does pip package include this update?

[2017-10-17 21:17] #13669 closed

[2017-10-17 21:29] av8ramit commented on #9672
The nightly pip packages have this update.

[2017-10-17 21:35] #13506 closed

[2017-10-17 21:50] zcz004 commented on #9672
@av8ramit Thank you. It helps.

[2017-10-17 22:09] zcz004 commented on #9672
Can it be backpropagated? It seems it can't...

[2017-10-17 22:22] danmackinlay commented on #1825
@markvdw I think it would be useful if such code were in tensorflow; various projects, especially ones that do Gaussian process inference, really need to work with vectors of triangular matrices, e.g. [GPflow](https://github.com/GPflow/GPflow/blob/master/gpflow/tf_wraps.py) and [AutoGP](https://github.com/ebonilla/AutoGP/blob/master/autogp/util/tf_ops/tri_to_vec.cc)

[2017-10-17 22:33] jvdillon commented on #1825
Sorry for just jumping in here. But the `tf.contrib.distributions.fill_triangular` utility function might be useful.  It reshapes a length-`d*(d+1)/2` vector into a lower (or upper) triangular matrix (with zeros on the flip-side).

(Note: Im just now making this function public in tf.contrib.distributions. This should be live by tomorrow.)

[2017-10-17 22:48] isaprykin commented on #13779
This is most likely because you chose to say
`sync_hook = opt.make_session_run_hook(is_chief=True, num_tokens=0)`

instead of
`sync_hook = opt.make_session_run_hook(is_chief=True)`

with [the default value of num_tokens = -1](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/python/training/sync_replicas_optimizer.py#L432).

Is the exception still raised for you when you revert num_tok

[2017-10-17 22:53] dr4b commented on #13686
I'd be delighted if you fixed this in tensorflow/docs_src and sent a pull request :)

[2017-10-17 23:04] chans1239 opened #13793 "Tensorflow not detecting GPU even when CUDA is installed"
Hi there,
I am running the following on Ubuntu 16.04 LTS and I have GPU 1070 and tensorflow version 1.0.1 (installed and checked through conda -list

I am trying to run a simple piece of code in tf
with tf.device('/gpu:0'):
    a = tf.constant([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], shape=[2, 3], name='a')
    b = tf.constant([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], shape=[3, 2], name='b')
    c = tf.matmul(a, b)

[2017-10-17 23:06] wednesy opened #13794 "AttributeError: module 'tensorflow' has no attribute 'constant'"
with OSX 10.12.6, CPU only, Anaconda, Python 3.6.3, virtualenv, and tensorflow 0.12.1

[code]

After installing TF, tried the test code and got the AttributeError error :-(
Could you help me out with a super-easy non-techy language?

---------
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1

[2017-10-17 23:14] drpngx commented on #13789
Thanks @gdeer81! feel free to also link to other discussions for context if they are online.

[2017-10-17 23:15] drpngx commented on #13793
Please paste the logs, and please, please, fill out as much as you can from the template.

[2017-10-17 23:31] wednesy commented on #3369
After directly installing with pip3 install tensorflow, AttributeError: 'module' object has no attribute 'constant' has been solved. But a new problem popped up.

[code]

[2017-10-18 00:20] yaroslavvb commented on #13768
btw, conda-forge is community maintained, the maintainers may be able to answer https://github.com/conda-forge/tensorflow-feedstock/

[2017-10-18 00:25] post2web commented on #12414
I get the same warning with tensorflow 1.3

[2017-10-18 00:48] wengqi123 commented on #13773
hi,thanks for your help.
the enclosure is all the code,
I'm the beginner for the tensorflow,so I refer to other codes,and merge it ,
so where I did wrong in it?

祝好！

翁琦

生物信息工程师 生信综合部

深圳市海普洛斯生物科技有限公司
网址：www.haplox.cn
地址： 深圳市南山区高新北区松坪山路3号奥特迅电力大厦8楼
邮编：518055
手机：188 5041 5501      电话：400-999-8450

From: drpngx
Date: 2017-10-18 01:33
To: tensorflow/tensorflow
CC: wengqi123; Author
Subject: Re: [tens

[2017-10-18 01:04] andrew-anki commented on #10605
FYI I'm also having this problem, and re-running ./configure isn't fixing it. I will try the trick of manually writing the file in .git/refs/heads...

[2017-10-18 01:58] facaiy commented on #13788
Do you mean that you invoke the `predict_scores()` for multiple times? Yes, `predict_scores` always constructs graph every time. Hence, you can (1) collect all data and feed them all at once, or (2) use tf-serving.

[2017-10-18 02:46] IceCubePill commented on #7133
@gsh199449  could you tell me about how to deal with this problem detailedly？I have the same problem too

[2017-10-18 02:51] yaroslavvb opened #13796 "Feature Request: use S3 for checkpoint loading/saving"
EFS is not available in most AWS regions. For distributed TensorFlow in those regions one would have to rely on S3 to save/restore checkpoints

[2017-10-18 02:55] gsh199449 commented on #7133
@IceCubePill Add global step number after the model name, like "model_ckpt-10000". 10000 is the global step number. Use this file name in the load function.

[2017-10-18 02:56] danielmogilny commented on #7133
My issue happened between updates when Tensorflow changed its save system. I fixed it by downgrading to the old Tensorflow

[2017-10-18 03:08] formath commented on #13771
It gives right result. But I'm not sure whether it's normal for those messages
[code]

[2017-10-18 03:26] mrry commented on #13796
Perhaps the code in here is relevant?

https://github.com/tensorflow/tensorflow/tree/51e5b692a5f8f6942cb43291ba9faab39e4b6104/tensorflow/contrib/s3

[2017-10-18 03:36] yongtang commented on #13796
@yaroslavvb The S3 support was added in #11089. I think it is supported in nightly build by default. Please let me know if there are any issues.

[2017-10-18 03:53] anilbeereddy135 commented on #13626
The problem is not with TF versions, There was mismatch b/w libcuda and nvidia driver versions. Closing the issue

[2017-10-18 03:53] #13626 closed

[2017-10-18 04:07] yaroslavvb commented on #13796
@yongtang thanks, that code is definitely relevant. Checkpoint support would need Python wrappers and perhaps some extra features to hide the fact that S3 is not a real filesystem

[2017-10-18 04:17] yongtang commented on #13796
Thanks @yaroslavvb. I am also working in this area though haven't touched checkpoint yet. Please keep me posted and let me know if I could be of any help.

[2017-10-18 04:36] formath commented on #13772
@andydavis1
Because the code is too much, I just put the core part here.

During training, the inputs to `embedding_lookup_sparse` are `tf.int64`. It works fine. After training, the node info of `emb_179/embedding_lookup_sparse/strided_slice` is
[code]
python part. It works fine. Because too much code, just put the core part here.
[code]

c++ prediction demo: It load the graph and checkpoint succe

[2017-10-18 05:45] #13536 closed

[2017-10-18 05:48] Lucky94 commented on #2680
Hi @pacey ,
10-11 11:46:49.192 6064-6105/org.tensorflow.demo E/tensorflow: ObjectTracker: libtensorflow_demo.so not found, tracking unavailable
The above line contains the error from your dump. Please try looking for it from here you will get to know. It seems like library linking error, try properly linking it (it's more like path or include errors).

Thanks.

[2017-10-18 06:58] mjunyentb commented on #13779
Hi @isaprykin, thanks for your help.

Leaving the default value of num_tokens = -1 still raises the exception, you can try it running the code provided (can you reproduce the error?).

This code is a simplification, of course, I actually use several processes which I want to synchronize with an effective barrier, and as far as I understood this means num_tokens needs to be 0.

[2017-10-18 07:03] JackieLeeTHU11 commented on #10021
@w4nderlust This solution works well!

[2017-10-18 07:17] mrTsjolder commented on #13686
@dr4b That would require me to sign legal documents and I am not quite sure whether I am ready for that sort of commitment. That's one of the reasons why I did not directly issue a pull request.

[2017-10-18 08:13] phansel commented on #13793
@chans1239
What does nvidia-smi return? Did you install tensorflow-gpu? Do you have cuDNN installed, and is it the CUDA 8.0 version?

[2017-10-18 08:23] ownedu opened #13799 "Feature Request: need to support dynamically RDMA gid setting in tensorflow/tensorflow/contrib/verbs/rdma.cc"
In tensorflow/tensorflow/contrib/verbs/rdma.cc when calling  ibv_query_gid() the gid_index field is hard-coded as 0, which could not work well in real world.
To fix this, it is better to add a user-specified option.

[2017-10-18 08:28] ownedu commented on #13799
@yanivbl6 pls help involve persons here for more discussions, thanks.

[2017-10-18 08:37] ownedu commented on #13799
Seems to be fixed already in: https://github.com/tensorflow/tensorflow/pull/13564

[2017-10-18 08:37] #13799 closed

[2017-10-18 08:42] azainab commented on #4044
How do we know the output_node name for my trained model?

[2017-10-18 08:50] guotong1988 commented on #13778
The main reason may be the lines below , which is added by me.
[code]
Note that the stacktrace doesn't point to the lines above.

[2017-10-18 09:03] yzcjtr commented on #323
I've come across a similar bug during calculating the L2 norm along a certain dimension of a feature map. The gradients no longer explode after I added small values(1e-10) elementwise to that feature map. Hope this could help someone.

[2017-10-18 09:40] mhlopko commented on #13295
Sorry to be late to the party, is [--fission](http://docs.bazel.build/versions/master/user-manual.html#flag--fission) what you're thinking of?

[2017-10-18 09:45] snnn opened #13801 "Feature Request: Scripts for build tensorflow with FORTIFY"
FORTIFY is an important security feature that can help us discover hidden bugs.
This is success story from Android:
https://android-developers.googleblog.com/2017/04/fortify-in-android.html

Please do the same thing for tensorflow, provide a checked build(with FORTIFY turned on) publicly.

[2017-10-18 09:47] albertz opened #13802 "deadlock in fork() because of OpenBlas"
TensorFlow: 1.3.0 (v1.3.0-rc2-20-g0787eee)

I'm not exactly sure whether this is a TF specific problem, or OpenBlas specific, or at what place this should be fixed.

At some part in my code, I want to start a subprocess, via `Popen`, and it uses `fork()` internally. Before that, I already initialized the TF session and thus have initialized the thread pools.

The `fork()` will cause a deadlock bec

[2017-10-18 10:14] asimonov commented on #6035
Yes, would be great to have tf.nn.max_pool_with_argmax working on CPU.

This ops seems to be very useful for fast encoder-decoder architectures (I see it two segmentation networks -- ENet and SegNet)  which were designed for 'real time' image segmentation. So supposedly people look at performance with a view of running these networks on CPUs or mobile.

[2017-10-18 10:14] xialeiliu opened #13803 "Adding a variable of learning rate for each layer"
I am wondering that is it easy to add a variable in tf.get_variable function, which allows us to initialize the learning rate for each layer easily. Since I found out that it's not easy to do in tensorflow but easy to do in other toolboxes.

[2017-10-18 10:44] ferrine commented on #9797
Waiting for response as well, deep bijections work slow for me

[2017-10-18 11:00] botev opened #13804 "Figure out CUDA and cuDNN versions"
So I'm setting up an image for a group to be used in the cloud.
Given that there certain cloud related things which we don't have premissions to we want to be able to verify that Tensorflow is using indeed what we intended. However, there does not seem to be any comprehensive way of understanding at the moment what exactly is it using. The output after creating a session is:
[code]
Does this means

[2017-10-18 11:08] bodokaiser commented on #13575
@martinwicke @mrry are there any updates?

I found that you can use

[code]

however this is not very practical.

[2017-10-18 11:08] diegoSta commented on #12052
building from the sources, TF1.4 is working with cuda 9.0, cuDNN v7.0.3 and python3.5

[2017-10-18 12:13] wichtounet commented on #13774
I ended up changing the configuration of my computer in order to have GCC 4.9 as the default compiler to compile Tensorflow.

[2017-10-18 12:13] #13774 closed

[2017-10-18 13:19] jieliuu opened #13805 "Tensorflow serving API does not support python3.5"
Tensorflow serving API only supports python2.7.   It is not work for python3 .5

[2017-10-18 13:44] yaroslavvb commented on #13295
ah yes, Fission is what I was thinking, looks like bazel has --fission flag

[2017-10-18 13:48] monomon commented on #12414
I am experiencing this with tensorflow-gpu on Windows 10, Python 3.6.1, cudnn64_6, using tf.slim.

Still need to verify this, but it seems the message only comes up when training for the first time, without a checkpoint. The dataset size is divisible by the batch size.

[2017-10-18 14:18] mhlopko commented on #13295
Yup, link in my previous comment points to the documentation, sorry for not being clearer.

[2017-10-18 14:26] sudododo commented on #12367
@rutadesai Sorry for the late reply. build_parsing_serving_input_fn and build_raw_serving_input_receiver_fn are expecting different inputs. build_parsing_serving_input_fn expect feature_spec which you could consider as some sort of "data contract" so that TensorFlow serving can translate the request. So what you did is valid for build_parsing_serving_input_fn. However, it you serve the mode locall

[2017-10-18 14:47] xiechengsheng opened #13806 "What will happen if one of the worker becomes dead in distribute tensorflow?"
Hi, I deployed a **distribute tensorflow** cluster to train a Deep Neural Network system, but in the training process, one of the worker broke down for some unknown reason(maybe the bad network), while the other workers were still training data, their training progresses didn't stop and continued going on. And after I restarted the broken worker, the ps node could send data to the broken worker, t

[2017-10-18 14:54] andreas-eberle opened #13807 "tensorflow-android library 1.4.0-rc0 seems to contain tensorflow 1.3.0-rc2"
For my work I require the new String Tensor feature introduced for the Java API in tensorflow 1.4. I tested my network with my Java code on my Desktop which works fine (using org.tensorflow:tensorflow:1.4.0-rc0).

However, when I use the same code in an Android project (using org.tensorflow:tensorflow-android:1.4.0-rc0), I get the following error leading me to the guess that the wrong version was

[2017-10-18 15:04] rutadesai commented on #13788
@facaiy  Thanks for your reply. Yes, I call predict_scores() multiple times. I have an application where-in new samples (feature set) are generated one at a time, and I need to show their scores. So, I send each sample as it is generated to predict_scores() to get the predicted score, requiring multiple calls to predict_scores().  Tensorflow serving seems like an overkill for my simple local deskt

[2017-10-18 15:47] MtDersvan commented on #12968
Sorry, but is there any progress here?

[2017-10-18 16:05] basveeling opened #13810 "tf.nn.max_pool memory leak?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**: pip install tensorflow-gpu
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.6.1
- **Bazel version (if compiling from source)**:
- **C

[2017-10-18 16:07] yaroslavvb commented on #13802
I wonder if error will happen if you use MKL (ps, conda install mkl will install 2018 version which upgrades your numpy and causes numpy version mismatch, need mkl version 2017)

[2017-10-18 16:14] basveeling commented on #13810
@yzhwang could this be up your street? I recall you looked into a somewhat relevant avg pool bug as well?

[2017-10-18 16:27] albertz commented on #13802
Probably not, as the atfork handler registered by OpenBlas triggers this.
This could also be fixed on the CPython side, by avoiding `fork()` in their `subprocess_fork_exec` implementation, and using e.g. `vfork()`, `posix_spawn()` or `syscall(SYS_clone, SIGCHLD, 0)` instead ([via](https://stackoverflow.com/questions/46810597/forkexec-without-atfork-handlers)). I reported that for CPython [here](ht

[2017-10-18 16:32] schloegl commented on #13716
it seems that there was an issue with futex implementation in the linux kernel. First tests seem to indicate that the issue goes way when upgrading the linux kernel from 4.9 (from debian stretch) to 4.12 (from Debian stretch-backports).

[2017-10-18 16:33] yongtang commented on #11554
Added a PR #13813 for the GPU kernel of bincount. Didn't use CUB as the weight issue mentioned. Please take a look.

[2017-10-18 16:36] ggeor84 opened #13814 "Kernel/Bias created for only one LSTM when using BasicLSTMCell with MultiRNNCell"
I am using the example code ptb_word_lm.py that creates 2 layers of lstm's. The code clearly creates 2 (c,h) tuples, each tuple corresponding to one LSTM. Each c and h should depend on matrices i,j,f,o (input_gate, new_input, foget_gate, outpu_gate) that are found in BasicLSTMCell  in rnn_cell_impl.py. With tf.global_variables() you should be able to get these matrices. In fact, it returns a kerne

[2017-10-18 17:05] Mazecreator commented on #13537
I would like to still request either tf.assign() be updated to support Tuples to drastically reduce the complexity of updating the LSTM Tuple (as well as any future changes) or that the current merged tensor remain as supported.

For cases where the network is copied for parallel Reinforcement Learning threads where the global network is copied, the complexity is going to increase due to the uniqu

[2017-10-18 17:17] ebrevdo commented on #13537
The current merged tensor behavior is broken since even though you can
assign a merged tensor to a variable, but then you have to slice it back up
when you want to read the states back out again; and in the meantime you've
lost the structure and shape of the intermediate states.

Having tf.assign support tuples may make sense; we'll look into it.  In the
meantime, you should be able to get pretty

[2017-10-18 17:27] isaprykin commented on #13779
Hey sorry you still have an issue.  I made my respond sound confident exactly because the exception stopped for me.  And I did try running your code.  It didn't happen under `python`, but it did happen under `ipython`.  After I removed the `num_tokens=-1` bit, `ipython` stopped throwing the exception.

If you are confident, I'll try again later and try to make sure we have exactly same versions of

[2017-10-18 17:30] Mazecreator commented on #13537
Thanks, I understand the concern.

The introduction of the Tuple ultimately creates yet another class of Variable which requires special handling, it would be nice to get this new internal structure to work like the other variables.  Maybe the nest.map_structure() can be include within the Assign() if there is some test to detect the input/output are tuples()?

[2017-10-18 17:36] ggeor84 commented on #13814
I am now fairly certain that this is a problem, because when I use the "block" option in the script, multirnncell works correctly and generates 2 kernel matrices and 2 bias matrices. with BaiscLSTMCell, it only generates one kernel matrix and 1 bias matrix.

[2017-10-18 17:47] jvdillon commented on #9797
My apologies for the slow response, it looks like this issue was inadvertantly misrouted.

Caching was fixed on Sept 29 and should be working in 1.4.0-rc0.
https://github.com/tensorflow/tensorflow/commit/46cf6262476b1d058e43acacc2c15097cc7bbf5a

If youre still seeing a problem, please let me know.

[2017-10-18 17:53] chans1239 commented on #13793
nvidia-smi returned the following:
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 375.82                 Driver Version: 375.82                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Mem

[2017-10-18 17:53] #13793 closed

[2017-10-18 18:42] mas-dse-greina commented on #9868
Is the commit in the latest version of Keras? Or, do I need to build from source?

As far as example implementation I am trying something like this, but would appreciate some feedback:

`import tensorflow as tf

	from keras import backend as K

	sess = tf.Session(config=tf.ConfigProto(
       intra_op_parallelism_threads=16, inter_op_parallelism_threads=2))

	run_options = tf.RunOptions(trace_leve

[2017-10-18 18:44] ggaabe commented on #22
@lukeiwanski Will your fork support AMD GPUs on macOS as well?

[2017-10-18 18:48] goosenphil commented on #13790
I can confirm that I'm also experiencing this issue on git 75da6f6

[2017-10-18 19:05] andydavis1 commented on #13814
@ebrevdo Can you comment on this one? Otherwise, lets ask this question on stackoverflow.

[2017-10-18 19:13] andydavis1 commented on #13772
Yes, it looks like there is no kernel registered for this (perhaps there was issue int64 on GPU). But registering an int64 strided slice for CPU shouldn't be an issue. Marking as contributions welcome.

[2017-10-18 19:15] #13716 closed

[2017-10-18 19:16] andydavis1 commented on #13790
@rmlarsen Can you comment on this one? Thanks...

[2017-10-18 19:19] andydavis1 commented on #13780
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-18 19:19] #13780 closed

[2017-10-18 19:19] andydavis1 commented on #13694
@caisq Can you comment on this one?

[2017-10-18 19:20] andydavis1 commented on #13784
@caisq Can you take a look?

[2017-10-18 19:21] andydavis1 commented on #13804
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-18 19:21] #13804 closed

[2017-10-18 19:22] andydavis1 commented on #13730
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-18 19:22] #13730 closed

[2017-10-18 19:25] andydavis1 commented on #13768
Thanks @yaroslavvb. Please pose this question to the conda-forge community.

[2017-10-18 19:25] #13768 closed

[2017-10-18 19:26] drpngx commented on #13807
@av8ramit did we forget to change a string?

[2017-10-18 19:26] andydavis1 commented on #13794
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-18 19:26] #13794 closed

[2017-10-18 19:28] andydavis1 commented on #13754
Thanks again @yaroslavvb!

[2017-10-18 19:28] #13754 closed

[2017-10-18 19:29] andydavis1 commented on #13788
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-18 19:32] bpiel commented on #12686
@pbanavara This is coming up for me again. How's it going?

[2017-10-18 19:32] drpngx commented on #13805
/CC @sukritiramesh

Did you try with python3.5? What happens there?

[2017-10-18 19:35] drpngx commented on #13803
I think the easiest way is to use the optimizer API to get the gradients. It will be returned as a nested map where you have the variable names on one side, and the gradients on the other. They come pre-multiplied by the global learning rate, and you can re-multiply.

Did you try on stackoverflow? Maybe there's an even simpler way.

[2017-10-18 19:36] drpngx commented on #13801
You mean build with `-DFORTIFY=1`? I think we do that by default.

/CC @gunan

[2017-10-18 19:42] martinwicke commented on #13788
This is a known issue. We've decided to keep Estimator free of state -- please use contrib/predictor to get that behavior.

For most cases, you can pass a generator as input. As long as the generator yields new input, the model is kept in memory.

[2017-10-18 19:42] #13788 closed

[2017-10-18 20:03] av8ramit commented on #13807
@case540 did we upload the Java maven packages for rc0?

[2017-10-18 20:29] case540 commented on #13807
Yes, the Maven packages were uploaded for rc0 so that is not the issue at least.

[2017-10-18 20:30] mjunyentb commented on #13779
Yes, the problem persists. Note that in a normal python shell it might not show the exception (because the process is terminating) but it will show `INFO:tensorflow:Coordinator stopped with threads still running: Thread-1`  (since the root logger level has been set to INFO).

Adding, for instance, `time.sleep(5)` after closing the session will always show the exception using a normal python shell.

[2017-10-18 20:43] malmaud opened #13818 "Feature request: C API "TF_FinishWhile" should create a "WhileContextDef""
Thanks @skye et al for getting while loops into the C API!

I'd like to request that `TF_FinishWhile` generate a `WhileContextDef` protobuf object. That way, non-Python TensorFlow clients can create metagraphs involving while loops which the Python client can then import and take gradients of. Ideally, you could gradients of while loops directly in the C API, but I think just creating the while co

[2017-10-18 21:44] dnel38 opened #13820 "Custom Reader Op : Undeclared Inclusions"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Custom Code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
1.4.0
- **Python version**:
2.7
- **Bazel version (if compiling from source)

[2017-10-18 22:05] andydavis1 commented on #13806
I'd pose this question on stack overflow to make sure you are following best practices for open source distributed tensor flow w.r.t. to saving checkpoints.

[2017-10-18 22:05] andydavis1 commented on #13806
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-18 22:05] #13806 closed

[2017-10-18 22:13] alltom opened #13821 "Feature request: classifier deallocation"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12.6
- **TensorFlow installed from (source or binary)**: Binary? (pip)
- **TensorFlow version (use command below)**: ('v1.3.0-rc2-20-g0787eee', '1.3.0') (tensorflow)
- **Python version**: 2.7.8
- **

[2017-10-18 22:24] dr4b commented on #13686
Ok. I'll make the change (though I'm going to do it internally so it won't propagate out for a few days).

[2017-10-18 22:29] dr4b commented on #13710
Looking into this.  Are you sure that shouldn't be {\'{\i}} given the link you had?
Or would it make more sense to just make the fancy i in unicode and put it in that way?

[2017-10-18 22:31] vishvananda opened #13822 "Convolutional layers cannot be used multiple times"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source (branch 1.4)
- **TensorFlow version (use command below)**: 1.4.0-dev
- **Python version**: 3.5
- **Bazel version (if compiling from

[2017-10-18 22:32] dr4b commented on #13281
Would you be able to make these documentation changes and send us a pull request?

[2017-10-18 22:48] dr4b commented on #6483
BTW, the new seq2seq tutorial is living on a separate part of the Tensorflow github repo now:
https://github.com/tensorflow/nmt

We've also put the seq2seq.py back up in a legacy section.

So, I think I'm closing out this bug.

[2017-10-18 22:48] #6483 closed

[2017-10-18 22:50] dr4b commented on #8029
BTW, is this bug still relevant?  I think a lot of these issues got fixed over the months as we solidified the parameterized link process?

[2017-10-18 22:55] #12994 closed

[2017-10-18 23:03] yaroslavvb opened #13823 "feature request: more efficient tf.eye"
tf.eye(n) creates a constant of size n*4
A better implementation would use `Fill` instead of constant

This is similar to issue https://github.com/tensorflow/tensorflow/issues/13221#issuecomment-333893186 , where zeros is getting refactored to use Fill instead of constant

[2017-10-18 23:38] ppwwyyxx commented on #13802
Fork a TF session doesn't seem very safe ([reference](https://github.com/tensorflow/tensorflow/issues/5448#issuecomment-258934405)) but I'm not familiar with the details. If you're using GPU, than a fork sounds more dangerous.

[2017-10-18 23:55] drpngx commented on #13821
Thank you for the report! Appreciate the effort to create a repro case.

@roumposg any clue?

[2017-10-18 23:56] drpngx commented on #13823
Seems reasonable.

@reedwm @alextp @zffchen78 @cwhipkey Any takers?

[2017-10-18 23:57] drpngx commented on #13823
@tfboyd for performance.

[2017-10-19 00:06] suwangcompling opened #13824 "GPU Question: dtype supports"
According to https://github.com/tensorflow/tensorflow/issues/9506, gpu currently only supports floats. In NLP tasks however there's no way around looking up the embedding matrix with int-typed indices.

So I wonder if it on your shortlist to extend to int support? If not, how to get around the index-lookup issue? Thanks.

[2017-10-19 00:34] allenlavoie commented on #13820
user_ops_op_lib will only apply the :framework dep to sources it collects. If you define your own cc_library rule you'll need to add the required deps explicitly. You should be able to just add `deps = ["//tensorflow/core:framework"]`.

[2017-10-19 01:57] Sanghoon94 opened #13825 "GRU cell implementation different from Reference paper "Cho 14""
Hello,

I've been looking through GRUCell implementation on Tensorflow at "tensorflow/tensorflow/python/ops/rnn_cell_impl.py", and got a bit confused.

The output of GRUCell is implemented as
`new_h = u * state + (1 - u) * c`

However, from the reference paper "Cho 14" at https://arxiv.org/pdf/1412.3555.pdf
I think it should be like
`new_h = (1 -  u) * state + u * c`

I am not sure if this is a bu

[2017-10-19 02:00] yaroslavvb commented on #13802
you may have better luck doing fork before "import tensorflow", I've seen weird segfaults if you do it after

[2017-10-19 02:24] guotong1988 commented on #13778
Sorry, It is my fault.
Something wrong with my code.
I haven't copy the whole folder from local machine to docker image.
I only copy one edited python file.
Although I don't know the exact reason.
But it is not the problem with the local machine and docker.
It does **could run** on docker if I copy the whole folder from local machine to docker image.

[2017-10-19 02:24] #13778 closed

[2017-10-19 02:29] malmaud opened #13826 "while_loop gradient failure with ints"
This is puzzling:

[code]
results in `grad[0]==None`

But changing the constants to floats:

[code]

gives the correct gradient (ie, grad[0] is <tf.Tensor 'gradients/while/Enter_grad/Exit:0' shape=() dtype=float32>).

This is on `tensorflow.VERISON == 1.3.0`.

[2017-10-19 03:38] pbanavara commented on #12686
@bpiel Going slow. I was down with a minor cervical spine injury. So couldn't type much. Will keep you posted. Sorry I couldn't update earlier.

[2017-10-19 03:45] sjdrc commented on #13249
I had this same issue following this https://github.com/cjweeks/tensorflow-cmake with CUDA 8.0 and CUDNN 6.0. Applying https://github.com/tensorflow/tensorflow/pull/13255 fixed it.

[2017-10-19 03:47] Ouwen opened #13827 "Tensorflow 1.3: tf.constant with dtype=[float32, float64, float16] may have inconsistent behavior."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04 with docker running `gcr.io/tensorflow/tensorflow:latest`

- **TensorFlow installed from (source or binary)**: NA
- **TensorFlow version (use command below)**: ('v1.3.0-rc2-20-g0787eee', '1.3.0')

[2017-10-19 03:49] drpngx commented on #13823
Obviously, @yaroslavvb we accept contributions as well :-)

[2017-10-19 03:51] Moondra commented on #9672
Same problem here:

- Windows 7

- Tensorflow 1.3

- Python 3.6

[2017-10-19 03:54] drpngx commented on #13825
To be clear we are looking at Eq 5 in the paper and the code [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/rnn_cell_impl.py#L351).

@ebrevdo what do you think?

[2017-10-19 04:00] drpngx commented on #13827
/CC @MarkDaoust

That's unfortunate. Would you like to contribute a fix?

[2017-10-19 04:32] Ouwen commented on #13827
I'd love to take a stab at contributing. From a brief glance i'm wondering if the `convert_to_tensor` function may be culprit. Glad to take any pointers as well.

[2017-10-19 04:47] w4nderlust commented on #10021
@shaibagon: I already have something that works, but having something like that implemented inside tf would me more elegant I guess.

@JackieLeeTHU11: thanks for the suggestion. I think you are computing something different anyway. Multiplying the weights for the one hots you're asking your model to predict those weights and penalize it if doesn't. In my case I still want the model to predict ones

[2017-10-19 05:22] melgor commented on #12927
I have same problem using TF 1.3 (CPU version). What should we do to use this model for interference?

[2017-10-19 05:40] angadn commented on #9749
What is the fix for this - I've tried multiple approaches to installing libtensorflow including brew but no luck

[2017-10-19 05:44] roumposg commented on #13821
I don't see why DNNClassifier should free up resources when it goes out of scope. Python does not have variable scopes like c++. To me, this looks like it is working as intended. @xiejw what do you think?

Why do you need to create a new DNNClassifier in every iteration? Can't you just have one and keep training.

[2017-10-19 05:56] jieliuu commented on #13805
@drpngx Yes, I try to install it in pip with python3.5 and fails. The command, **pip install tensorflow_serving_api** , does not work, but python2.7 can run this command and find this package.    There is no tensorflow serving api package for python3.5.

[2017-10-19 06:38] albertz commented on #13802
Actually, in my case, I just want to start a subprocess (via `subprocess.Popen`, or any other way), so I just need that fork+exec works, or maybe that I can use an alternative, like vfork+exec or posix_spawn, which probably does not have this issue, as it would not execute the atfork handlers.

As I read and thought more about this now, I don't think that there is anything on the TF side which can

[2017-10-19 06:46] Air000 commented on #9259
@gunasekaran7 Thanks! I successfully ported tensorflow to i.MX6!
But I meet another issue, when I run the benchmark or label_image, it comes out with messages like "E tensorflow/core/framework/op_kernel.cc:1142]", but it also says "Running model succeeded!" at the end. I don't know what it means by "E tensorflow/core/framework/op_kernel.cc:1142".

[2017-10-19 07:18] kanshuzhi commented on #11257
@amirjamez @satok16
I try to build from source-code then run on Snapdragon820 Board. But it failed and reports the following error.
[code]
And dmesg information is as the following, looks like that ION cannot allocate memory.
[code]

And if I build with prebuilt library(-p), the issue is gone and I can run the hexagon_execute_graph successfully.

My Enviroment:
1. Openq 820 Board.
2. NDK13 and NDK

[2017-10-19 07:44] Ouwen commented on #13827
So here is what I've found after looking through the code. This error is propagated from tensorflow version `0.5.0` to `1.4.0-rc0`

`tf.float16` `None` values pass without any problems because they are not checked in [`_TF_TO_IS_OK`](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/python/framework/tensor_util.py#L273-L291). `None` values are thus not stopped by the [`_AssertCompatibl

[2017-10-19 07:50] saikishor commented on #10827
I am also facing the same issue, as we end up in a confusion whether it is using CUDA or not.

[2017-10-19 07:58] Picbdandan commented on #3747
I meet this question,too. then how to get the correct version of glibc?

[2017-10-19 08:04] argman commented on #13094
Any progress?

[2017-10-19 08:54] teramototoya commented on #2169
@ThomasWollmann  I made test code for solution this problem. Please check. Thanks!
[code]

[2017-10-19 09:02] IvanDeFalco commented on #13744
Dear  **@ekelsen** Currently the program is running on the CPU.

[2017-10-19 09:30] gunasekaran7 commented on #9259
@Air000, Were you able to see the class label output on the terminal?

[2017-10-19 09:46] adler-j commented on #11113
I guess this can be closed now?

[2017-10-19 10:04] ed-word commented on #6683
Has the issue been fixed in tensorflow 1.3?

[2017-10-19 10:12] evolu8 commented on #3678
UVM support throughout would be of enormous benefit. I would be very keen to see this implemented. Having ideal training throughput is often less important than coping with large input and large model sizes which simply fail to fit on a card.

[2017-10-19 10:41] xialeiliu commented on #13803
Thanks for your comments. I found some solutions on stackoverflow, here is the link:
https://stackoverflow.com/questions/34945554/how-to-set-layer-wise-learning-rate-in-tensorflow
I didn't try, but I guess it works in that way. However it does not work like what I would expect.

[2017-10-19 10:46] byronyi commented on #3678
Looks like another “we don’t need distributed transactions in Google so we choose to let users implement crappy/wrong versions of their own” for BigTable/MegaStore.

Now we have Spanner :)

[2017-10-19 11:20] vladmos commented on #13691
An update: Bazel 0.7 has been released, the next version (0.8) will be cut in the beginning of November (probably November 6th) and it will be incompatible with the version of GRPC currently used by Tensorflow. It would be nice to update it before November so that repositories that depend on Tensorflow (for example, TF_serving and TF_models) can be updated too.

[2017-10-19 11:26] snnn commented on #13801
You are right.
# hardening-check tools/proto_text/gen_proto_text_functions.runfiles/org_tensorflow/tensorflow/tools/proto_text/gen_proto_text_functions
tools/proto_text/gen_proto_text_functions.runfiles/org_tensorflow/tensorflow/tools/proto_text/gen_proto_text_functions:
 Position Independent Executable: no, normal executable!
 Stack protected: yes
 Fortify Source functions: yes (some protected fu

[2017-10-19 11:26] #13801 closed

[2017-10-19 11:39] mrTsjolder commented on #13710
It's definitely `\'{i}` and the unicode character would cause trouble in bibtex. Only biber is able to cope with unicode characters (for as far as I know).

[2017-10-19 11:45] jstypka commented on #13751
Seems to work well, the `read_batch_features()` is what I was looking for. It's nowhere in the docs, if you didn't tell me, I wouldn't find it. Maybe it would not be a bad idea to include it somewhere in the docs/tutorials, so that other people don't go my path.

Cheers!

[2017-10-19 11:45] #13751 closed

[2017-10-19 11:45] SaintNazaire commented on #13784
**Complementary test for docker image file introspection through docker hub**

Visited Tensorflow's [Jenkins automation server](http://ci.tensorflow.org/view/Nightly/job/nightly-python35-linux-cpu/lastSuccessfulBuild/artifact/pip_test/whl/ ), found out that there was another version named tensorflow-1.head-cp35-cp35m-linux_x86_64.whl instead of tensorflow-1.head-cp35-cp35m-manylinux1_x86_64.whl

E

[2017-10-19 11:46] khelkun commented on #37
I'm also interested in nodejs tensorflow API   to be able to use it in node-red flows would chain tensorflows graphs and may be other kinds of data analysis nodes. I still don't know much about tensorflow. It May not be thé right place to ask but I'd like to know why others developers look for a nodejs api/add-on for tensorflow ? What would be your use cases ?

[2017-10-19 12:28] SaintNazaire commented on #13784
Seems the script installs Python2 then install a Python3 version of Tensorflow which is obviously wrong.
Problem seems to be with TF_DOCKER_BUILD_PYTHON_VERSION=PYTHON3 which doesn't trigger properly the selection of a Python3 version of Tensorflow via a pip3 install.

[2017-10-19 12:38] facaiy commented on #13803
Hi, @xialeiliu , so this is a feature request, right?

[2017-10-19 12:40] svarjo commented on #13769
I have similar problem same here (https://stackoverflow.com/questions/46781847/how-periodicaly-evaluate-the-performance-of-models-in-tf-slim)

[2017-10-19 12:50] bpiel commented on #12686
@pbanavara Very sorry to hear about your injury. I hope you're doing better. Updates appreciated. thanks!

[2017-10-19 13:04] xialeiliu commented on #13803
Yes, you are right.

On 19 October 2017 at 14:41, Yan Facai (颜发才) <notifications@github.com>
wrote:

[2017-10-19 14:04] tjingrant commented on #13094
Will submit the initial PR early next week.
Sorry I started late because I have to clear some build errors on master.

[2017-10-19 15:07] traveller59 commented on #12730
After install tf_nightly_gpu-1.5.0.dev, this problem is solved.

[2017-10-19 15:32] fferroni commented on #6706
Any update on this?

[2017-10-19 15:55] Randl commented on #4589
@reedwm what about INT8? Any plans for its support?

[2017-10-19 16:03] albertz commented on #13802
In case anyone else stumbles here, what I do now, and remember that I just need fork+exec to work, not fork without exec. I have this simple C code and compile it as a lib `patch_atfork.so`:

[code]

Then I load it via `LD_PRELOAD=patch_atfork.so` before running my script. That will probably make the forked-environment useless for some cases but exec will work now.

[2017-10-19 16:26] MarkDaoust commented on #13827
Thanks Ouwen! This is the best kind of bug report.

I'm not an expert on this part of TensorFlow, but this all looks pretty reasonable. Please send a PR after you fix that missing `(self)`.

[2017-10-19 16:37] roumposg commented on #13821
We tried to reproduce your error, but we are missing the training.csv and test.csv files. Can you provide those files, or edit your code to not depend on them?

Also, it is not clear if the error message is due to memory exceeded or disk exceeded. Can you monitor memory and disk usage while your program is running? That will help us debug, thanks.

[2017-10-19 16:44] drpngx commented on #13805
How does it fail?

[2017-10-19 16:46] drpngx commented on #13801
Thanks for checking!

[2017-10-19 16:48] Ouwen commented on #13827
Appreciate it @MarkDaoust, here is the PR https://github.com/tensorflow/tensorflow/pull/13834

[2017-10-19 16:59] reedwm commented on #4589
@petewarden can you comment on int8 support?

Also, int8 support should probably be a separate issue.

[2017-10-19 17:27] gunan commented on #6706
At the moment, you can depend on TF the same way tensorflow/serving github project is depending.
We are working on making things better, but it is taking time.

[2017-10-19 17:33] gunan commented on #9672
We are working on TF 1.4. I think it will have this fix.
We will not create a patch release for 1.3, because this issue is in contrib.
(That is not saying for all issues in core we will create patch releases.)

[2017-10-19 17:33] #9672 closed

[2017-10-19 17:42] girving commented on #13220
@gunan I still get this at HEAD.

[2017-10-19 17:43] gdeer81 commented on #13789
I think I am looking in the wrong place for the implementation for this because the code I mentioned above is just collecting some attributes and then calling out to `gen_nn_ops._lrn_grad` : https://github.com/tensorflow/tensorflow/blob/48be6a56d5c49d019ca049f8c48b2df597594343/tensorflow/python/ops/nn_grad.py#L522

this is allegedly imported from gen_nn_ops: `from tensorflow.python.ops import gen_

[2017-10-19 17:43] girving commented on #13220
@betterchen @smarsching Do you know which fix is better?  @smarsching's is certainly simpler.

[2017-10-19 17:46] girving commented on #13220
Hmm, @betterchen's fix is modifying system files, actually, so that's out.  Not sure what the right file is for @smarsching's fix; need to look at nsync.

[2017-10-19 17:47] bpiel commented on #13789
@gdeer81 This is an example where the grad logic is already implemented as an op

[2017-10-19 17:50] girving commented on #13220
Here's some other project's PR to fix this: https://github.com/apache/arrow/pull/1144/files

[2017-10-19 17:50] suharshs commented on #13789
To add to @bpiel 's comment, see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/gradients/nn_grad.cc#L65

for an example of another op (Relu) which just calls its corresponding ReluGrad op as its gradients function. You can likely do something similar for LRN.

[2017-10-19 17:54] gdeer81 commented on #13789
Awesome, thanks for the quick feedback. So I'm just going to name this LRNHelper and try to follow the conventions in both of those examples

[2017-10-19 17:56] serendipity24 opened #13835 "Feature query: How to load the graph(model) only once and then give series of inputs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No. Running the Simple Audio recognition network tutorial
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
-**TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.3
- **Python version**: 3.6
- **Baze

[2017-10-19 17:58] gunan commented on #13691
Please internally reach out to @jhseu to discuss how we should upgrade.

[2017-10-19 18:01] fferroni commented on #6706
Thanks. Regarding this I have a few questions:

1. If you have a new_http_archive which can be Tensorflow git .zip, rather than using a local_archive how do you run ./configure ? Should I maybe write a gen_rule?

2. What is io_bazel_rules_closure within the top WORKSPACE file in serving?

I also tried pre-compiling separately tensorflow_cc and creating a include and lib folder, but I some issues i

[2017-10-19 18:13] girving commented on #13220
Hmm, nsync doesn't have an issues tab at (https://github.com/google/nsync), and doesn't build on it's own.  Seems like the right fix is to nsync given that tensorflow uses nsync's BUILD file, but I'm not sure how to easily test.

[2017-10-19 18:14] raraujosc commented on #6706
I haven't tried, but I think the easiest way to use tensorflow without ./configure right now would be:
1 - fork it
2 - run ./configure
3 - add the 3 generated files to your repo
4 - depend on the forked repo

[2017-10-19 18:51] zsfarkas commented on #12770
😢

[2017-10-19 19:01] gdeer81 commented on #13789
@suharshs since this is my first one, would it be too much to ask to get someone to write a test for me?  I'd feel more confident in my implementation if I could make a test someone else wrote pass

[2017-10-19 19:06] bpiel commented on #13789
@gdeer81 I'll do it.

[2017-10-19 19:15] alltom commented on #13821
I ran it again, but memory and disk usage remained stable (save for the tiny model files the DNNClassifiers were saving, and nowhere near full), so my guess it's file handle exhaustion.

I added a call to `gc.collect()` right before every time a new model is trained, and this time instead of failing with the "resource exhausted" error, it failed with `Segmentation fault: 11` at the same part (~125

[2017-10-19 19:16] thefill commented on #37
@khelkun answer is rather simple: providing mature JavaScript package that allows easy interaction with Tensorflow opens myriad new possibilities. JavaScript operates on every mobile platform, all major desktop Operating systems & in all the browsers so possibilities are endless.

Biggest benefits would come for sure from server-side applications that operate on node.js that could directly interac

[2017-10-19 19:35] rafaelleru commented on #13560
Hy, I was trying to solve this issue, but when I forked the project and download it my source code file is different of the file in the web, it doesn't have the empty newlines that @asimshankar comments. Can anyone tell me why this is happening?

[2017-10-19 19:58] FerrandMartin opened #13837 "issue when installing Tensorflow"
Hello, I have tried to install tensorflow gpu version with "pip3 install --upgrade tensorflow-gpu" but I have got this error message:
[code]

can someone help me ?

[2017-10-19 20:15] KeironO opened #13838 "optimize_for_inference - KeyError"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yUP.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Elementary OS 0.4 Loki
- **TensorFlow installed from (source or binary)**: ```pip install tensorflow```
- **TensorFlow version (use command below)**: ```('v1.3.0-rc2-20-g0787eee', '1.3.0')```
- **Python vers

[2017-10-19 20:20] dnel38 commented on #13820
@allenlavoie Okay, everything is working now. Thank you!
For anyone who stumbles upon this, I had to do one more step to get my custom op to successfully build with bazel. The dependencies I needed were disallowed in tensorflow.bzl. I removed these disallowed dependencies and  everything worked after that.

[2017-10-19 20:27] dr4b commented on #13710
Do you want to submit a pullrequest or should one of us fix it internally?  I'm not sure I can test it properly is why I hesitate to do it myself.

[2017-10-19 20:32] allenlavoie commented on #13820
Ah. Yes, I should reconsider whether that check is at all necessary (I think no at this point, after the RTLD_GLOBAL removal). What does bypass that check is using framework_headers_lib.

Are you interested in removing the :framework check in a pull request? You can mention me and I'll review. Not 100% certain it's safe, but it should be.

[2017-10-19 20:50] girving commented on #13220
@m3bm3b: You fiddled with nsync's build system last; do you know the right approach?

[2017-10-19 20:55] Carmezim commented on #13837
Could you try to run [this script](https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c) and see what it points you to?

[2017-10-19 20:57] Carmezim commented on #13805
It may be silly but is perhaps your `pip` linked to Python 2.7 meaning, have you tried `pip3`?

[2017-10-19 21:01] Carmezim commented on #13805
Apparently TensorFlow Serving only supports Python 2.
https://github.com/tensorflow/serving/issues/581

[2017-10-19 21:07] yongtang commented on #13693
Created a PR #13840 to try to address this issue. I could see there are quite some improvements by reorganizing the loops (so that the logic for `num_channels=40` and `num_channels=3` are similar). Please take a look

[2017-10-19 21:17] mrTsjolder commented on #13710
@dr4b There is little to test, I'm afraid. It's just a matter of using correct syntax. As I am still not quite ready to sign legal documents for the purpose of deleting a single character in a `.bib` entry, it would be nice if you could do that.

[2017-10-19 21:22] amirjamez commented on #11257
@kanshuzhi I guess my SDK was 3.0 (7.2.12). You might wanna try that version as well.

[2017-10-19 21:41] dr4b commented on #13710
Well, by test, I mean, I would like to see it properly rendered before I make this change, basically.  How can I do that?

[2017-10-19 22:35] traviscross commented on #11807
The issue here, which remains a problem on `master` as of commit 89f15928293f62b63404ffbdabbb6a3b07274ff8, is that when you:

[code]

...then we create broken bazel `select` blocks like this:

[code]

A build with this configuration reliably fails as documented above.  We can prove to ourselves this must be the issue by "correcting" the configuration and hard-coding the result we want for each `se

[2017-10-19 22:47] m3bm3b commented on #13220
From the original message, it seems as though
    #include <mutex>
does not work (without additional work) on Sierra.   Is that really true?

Alas, it does work on the High Sierra system with Xcode 9 that I currently have access to,
so it's hard for me to check whether a fix will work.

[2017-10-19 22:58] saliksyed commented on #64
Thanks @ateixeiramunoz  -- worked for me as well.

[2017-10-19 23:01] evanthebouncy commented on #3692
@sirgogo you saved my butt. thanks!

@mrry what's the distinction between tf.shape(X), X.shape, X.get_shape() ? I'm sure there's a good reason why they are different although I intuitively would understand them to be the same . . ?

[2017-10-19 23:04] m3bm3b commented on #13220
In that previous comment, I wrote
   #include  &lt;mutex&gt;
but github helpfully threw away the thing in the angle brackets.

[2017-10-19 23:07] astamatis commented on #13826
I think a float is better for interpolation. A type of integer can't have decimals. Was the first parameter of  the constant return method a float? It could have parsed the 1 only as a 1.0. Where you passed the 1.0, it would have allowed the while loop to actually have the option to go through 1.1, 1.2, 1.3, etc (even 1.111511...), where a integer of 1 would just return a fixed 1.0. Their API show

[2017-10-19 23:13] mrry commented on #3692
@evanthebouncy See this Stack Overflow answer: https://stackoverflow.com/a/37096395/3574081

[2017-10-20 00:03] nazib commented on #12416
In my case this command solved the problem
sudo apt-get install libcupti-dev

[2017-10-20 01:00] jieliuu commented on #13805
@drpngx The error information
  **Could not find a version that satisfies the requirement tensorflow-serving-api (from versions: )
No matching distribution found for tensorflow-serving-api**

[2017-10-20 01:02] jieliuu commented on #13805
@Carmezim  Thank you for your answer.

[2017-10-20 01:16] ammarsalman94 commented on #6081
The answer is actually pretty simple. If you want to further train the network, just increase `FLAGS.max_steps`. For example, if it was `100000` and you want to train up to `200000` then you only have to modify the flag.

You already removed the directory deletion part, so when you pass the `checkpoint_dir` as input to the monitored training session, it will automatically try to restore the latest

[2017-10-20 01:24] smurching opened #13844 "Saving large graphs to S3 fails with InternalError: : Unable to connect to endpoint"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes; modified Tensorflow [save/load example code](https://www.tensorflow.org/programmers_guide/saved_model) to save a few large tensors to S3
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:

[2017-10-20 01:48] kanshuzhi commented on #11257
Thanks.
I see. my sdk version is Hexagon v3.2 and Hexagon v3.0 SDK seems out of date cannot be fully downloaded.

[2017-10-20 02:38] Air000 commented on #9259
@gunasekaran7, Yes, output as following:
[code]

[2017-10-20 02:44] printdhruv commented on #13838
`KeyError: If any element in input_node_names is not found in the graph.` Tensorflow is unable to find set(['input_1'].

[2017-10-20 04:03] zhang405744522 commented on #12905
anaconda work bad even if run configure file.

[2017-10-20 04:34] gunasekaran7 commented on #9259
@Air000. then you are good to go.its working fine..

[2017-10-20 04:36] formath commented on #6110
I also meet the similar problem. Solutions about prediction using sparse tensor are really really rare.

[2017-10-20 04:37] ddmbr commented on #206
Hi,

I just saw @nova77 's code above,

[code]

Do we still need this workaround? Or is there already a solution (or an issue for me to track)? Thanks!

[2017-10-20 05:00] formath commented on #13772
@andydavis1 Because all `op` are implemented in c++ and python is just a wrapper. So, if python works right for `StridedSlice`, should it also ok in c++?

[2017-10-20 05:13] facaiy commented on #13772
@formath could you provide environment infomation? Say, tensorflow version etc.

[code]

I test the script above on tf 1.3, and it works well.

[2017-10-20 05:24] facaiy commented on #13772
It seems that `StridedSlice` has registered all types for cpu, see:

https://github.com/tensorflow/tensorflow/blob/513f7df42e4eadfcd241a3be695af6fd426b734e/tensorflow/core/kernels/strided_slice_op.cc#L388

[2017-10-20 06:06] formath commented on #13772
@facaiy commit 3537e663230ba2d694f6daebc2288f180c6db4ea
Yes. In python, it works right. Error occur in c++ prediction.

I use in this way:
* offline transform libfm data into tfrecord
* when training, read tfrecord and parse it into `SpsrseTensor` as the inputs of `embedding_lookup_sparse`.  The type of `SparseTensor` are int64. After training done, save the `graph.pb` and checkpoint.
* Because `g

[2017-10-20 06:18] BastiaanBergman opened #13847 "tf.train.batch and shuffle_batch undetermined for multi queue input with multiple threads"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Custom code, see below.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
OSX

- **TensorFlow installed from (source or binary)**:
pip install tensorflow == 1.2

- **TensorFlow version (use command below)**:
('v1.2.0-rc2-21-g12f033d', '1.2.0')

- **Python versi

[2017-10-20 06:19] kanshuzhi commented on #9428
@satok16 @kzos
Could you please show me how to enable nnlib in Qualcomm hexagon 3.1 SDK because Hexagon 3.0 SDK installation package is out-of dated and cannot download remote toolchains?

Best Regards

[2017-10-20 06:19] kriszhangyf opened #13848 "can not compile android demo for x86"
I tried to use the following commands to build android demo for x86
bazel build //tensorflow/examples/android:tensorflow_demo --crosstool_top=//external:android/crosstool --host_crosstool_top=@bazel_tools//tools/cpp:toolchain  --force_pic --cpu=x86_64 --config=android_x86

I always get the tensorflow_demo.apk for ARM device.
Is there anything wrong?

[2017-10-20 06:29] laMia482 commented on #12747
Add options as:
--cxxopt="-std=c++11" --cxxopt="-DTENSORFLOW_DISABLE_META" --verbose_failures

[2017-10-20 07:00] antifriz commented on #13822
Also to note that when using keras-2.0.8 the same code creates convolutional ops with following names:

1. conv2d_1/convolution
2. conv2d_1_1/convolution

Moreover, when nesting scopes, the differences became even more apparent. A slightly modified code that calls the other copy in some scope behaves much differently in keras vs. tf.keras (1.3.0).

[code]

keras names:

1. conv2d_1/convolution
2.

[2017-10-20 07:13] #13683 closed

[2017-10-20 07:27] facaiy opened #13849 "Feature request: only master is allowed to export for `tf.contrib.learn.Experiment`"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac 10.11.6
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.0-nightly, 1.3.0
- **Python version**:  2.7
- **Bazel version (if compiling from source

[2017-10-20 07:32] donigian commented on #13298
Please have a look at [this](https://github.com/tensorflow/tensorflow/pull/13850) PR for fix.

[2017-10-20 07:38] laMia482 commented on #22
Hi,
  I was building tensorflow APIs on Ubuntu16.04 x64 for my Android device with GPU(Mali-T720) enabled,

My OS info:
Ubuntu 16.04 x64
Computer GPU: NVIDIA 1080Ti
CUDA 8.0
CUDNN 5.1 ( though I do not use cuda or cudnn for building )
bazel 0.5.2
ComputeCpp CE 0.3.2

my build.sh is:
'
 bazel build -c opt --config=sycl //tensorflow/contrib/android:libtensorflow_cc.so --cxxopt="-
  std=c++11" --cxxo

[2017-10-20 07:52] Randl opened #13851 "Fail in configuration due to different CUDA libraries path"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 17.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 49f9c6f890c938955fa2d448ac5b556b9a6d9aa0
- **Python version**: Python 3.5.3
- **Bazel versi

[2017-10-20 07:52] mrTsjolder commented on #13710
If you just want to see the `\'{i}` rendered, make a file `test.tex` with the following code:

    \documentclass[border=1pt]{standalone}

    \begin{document}
	  Mart\'{i}n
    \end{document}

Then compile this, e.g. using pdflatex with the command `pdflatex test.tex`. This will generate a PDF, which contains the rendered result.

If you have no system with LaTeX installed, try out [this online L

[2017-10-20 07:56] facaiy commented on #13772
@formath I see, the exception is raised when predicting. If I understand correctly, `TF_CALL_ALL_TYPES` will register all numerical types, including `TF_CALL_int64`, so I believe it is correct here. Perhaps there exists some limitation for prediction, say, int64 may be not supported now, I don't know.