[2020-09-30 14:11] bhack commented on #43666
Tensorflow is currently on this hash https://github.com/tensorflow/tensorflow/blob/ed63e8a52c49702e06fc5c4f87dc240dd638f627/tensorflow/workspace.bzl#L234-L244

/cc @ezhulenev

[2020-09-30 14:13] bhack commented on #43670
Are you on 64bit or 32bit machine? Please fill you template as it is empty.

[2020-09-30 14:14] Saduf2019 commented on #43672
@Yuvraj15101999
As you are using python version 3.8, ensure the tf version is 2.2 or higher and python is 64 bits.
Please post the output of pip3 --version?
Please refer to #43048, #43244, #42977 and let us know.

[2020-09-30 14:21] Palkos83 commented on #43623
I just tried that as suggested.
Sadly this same story.

Log attached:
[log2.txt](https://github.com/tensorflow/tensorflow/files/5306162/log2.txt)

[2020-09-30 14:27] hrazafim commented on #43670
I'm on 64bit machine. What kind of template should I fill in ?  I'am a beginner on this platform and on IT in general. Thanks for your understanding.

[2020-09-30 14:28] s0urcer opened #43674 "Wrong maximum value passed in the positional encoding for the Transformer model"
## URL(s) with the issue:
https://www.tensorflow.org/tutorials/text/transformer

## Description of issue (what needs changing):
When creating positional encoding vectors set we specify maximum_position_encoding which should be equal to the maximum possible length of the sequence fed into the model. So it must be equal to MAX_LENGTH (which is 40). In your sample it's equal to the vocabulary length

[2020-09-30 14:31] bhack commented on #43623
Thanks for the tests. I've already mentioned @cheshire
What driver version are you using now?

[2020-09-30 14:34] bhack commented on #43670
This one https://github.com/tensorflow/tensorflow/issues/43670#issue-711899548. You haven't filled any info.

[2020-09-30 14:34] Yuvraj15101999 commented on #43672
the output of pip3 --version
pip 20.2.3

[2020-09-30 14:37] amahendrakar commented on #43665
@maifeeulasad,
Could you please run the below commands and share the output with us
[code]

Also, please upgrade TensorFlow to v2.3 and make sure you have all the compatible dependencies as per the [tested build configurations](https://www.tensorflow.org/install/source#gpu). Thanks!

[2020-09-30 14:38] Palkos83 commented on #43623
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.66       Driver Version: 450.66       CUDA Version: 11.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |

[2020-09-30 14:40] maifeeulasad commented on #43665
@amahendrakar , here is the outcome of those two command :
[code]

[2020-09-30 14:43] bhack commented on #43623
Can you try with (456.38) or (456.55)?

[2020-09-30 14:43] maifeeulasad commented on #43665
@amahendrakar But this returns some output about cuda version :
[code]

[2020-09-30 14:46] markodjordjic commented on #43627
@bhack fit method of the keras.model object is the main problem. If fit (and predict) methods are added there is a memory leak.

[2020-09-30 14:51] bhack commented on #43627
So you have another minimal example with fit/predict to reproduce this?

[2020-09-30 14:53] bhack commented on #43672
Can you run in python:
[code]

[2020-09-30 14:53] hrazafim commented on #43670
System information

    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04.1 TLS
    Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Laptop Lenovo G50-30
    TensorFlow installed from (source or binary): TensorFlow installed from source
    TensorFlow version: 2.3.1
    Python version: 3.8.2
    Installed using virtualenv? pip?

[2020-09-30 14:55] bhack commented on #43670
Can you run in python:
[code]

[2020-09-30 15:01] AakashKumarNain commented on #43649
Thanks @abattery for the info.

[2020-09-30 15:01] #43649 closed

[2020-09-30 15:01] hrazafim commented on #43670
(venv) (base) razafimandimby@razafimandimby-Lenovo-G50-30:~$ import sys

La commande « import » n'a pas été trouvée, mais peut être installée avec :

sudo apt install graphicsmagick-imagemagick-compat  # version 1.4+really1.3.35-1, or
sudo apt install imagemagick-6.q16                  # version 8:6.9.10.23+dfsg-2.1ubuntu11.1
sudo apt install imagemagick-6.q16hdri              # version 8:6.9.10.2

[2020-09-30 15:01] Yuvraj15101999 commented on #43672
Yes I'm currently running python 32 bit, I am trying to run 64 bit

[2020-09-30 15:01] hrazafim commented on #43670
this is the error message that i have

[2020-09-30 15:05] bhack commented on #43670
It Is python code

[2020-09-30 15:10] hrazafim commented on #43670
(venv) (base) razafimandimby@razafimandimby-Lenovo-G50-30:~$ sudo apt install imagemagick-6.q16hdri
(venv) (base) razafimandimby@razafimandimby-Lenovo-G50-30:~$ import sys
import-im6.q16hdri: attempt to perform an operation not allowed by the security policy `PS' @ error/constitute.c/IsCoderAuthorized/408.
This is the last command that i do and the error message

[2020-09-30 15:11] Palkos83 commented on #43623
I think 450 is the latest available for Ubuntu 20.04
![image](https://user-images.githubusercontent.com/20494744/94704225-9999a500-0337-11eb-8439-1a0e3d40bc27.png)

[2020-09-30 15:11] hrazafim commented on #43670
can you take my laptop with TeamViewer please ?

[2020-09-30 15:23] bhack commented on #43623
OK lets wait for a feeback on your error: `Detected cudnn out-of-bounds write in convolution buffer!`

[2020-09-30 15:35] bhack commented on #43670
It is not a bug it is just a support request.
I think that you can close this ticket and reformulate as a support question at https://stackoverflow.com/questions/tagged/tensorflow

[2020-09-30 15:55] Joseph-Rance commented on #43584
@Saduf2019 Not sure you meant to @ me in that last comment?

[2020-09-30 15:55] ZHHJemotion commented on #41558
@Pyrsos

Hi, I met one similar problem when I installed tf-2.3.0 on MacOS, it said tf lite cannot support "FlexRandomUniform". Luckly, when I installed tf-nightly-2.4.0.dev20200926, the bug was fixed. My colleagues did not meet this bug when he only used the same version tf-2.3.0 on Ubuntu. I have no idea why MacOS shows this bug, but Ubuntu doesn't.

[2020-09-30 16:05] tfboyd commented on #43469
@jayfurmanek   Jay was my contact in the past.

[2020-09-30 16:08] #43670 closed

[2020-09-30 16:16] jsimsa commented on #26966
I agree that it would be convenient but I also think that the expectation should be that `dataset.length` does not have to evaluate the entire input pipeline to return a value (nevermind the fact that it would need to solve the halting the problem to determine whether the input pipeline is finite). In other words, I don't think it makes sense to have a "length" attribute.

`cardinality` already pr

[2020-09-30 16:32] jayfurmanek commented on #43469
There is a TF2.2 version in WML CE that doesn't have this problem:
https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda-early-access/

There are no patches in that build for this problem. The community builds recently moved to the manylinux2014 compliant quay.io container, which has a devtoolset-8 compiler toolchain. The WMLCE one above uses Anaconda's 7.3 based toolchain.

I'v

[2020-09-30 16:35] paultanger commented on #40203
Hmm, not exactly sure where to do that (I'm thinking this: `dataset_ops.Dataset.file_paths = image_paths`), and if it needs to be shuffled along with the batches?  Also, I notice that the way class_names is defined is just an instance attribute that then gets lost after batch functions etc.. so maybe whatever we do with file_names can also be done with class_names to be carried through the pipelin

[2020-09-30 16:39] themightyoarfish commented on #43666
Maybe there should be a mention of the required Eigen version in some piece of the documentation (which is sparse anyway for C++).

[2020-09-30 16:42] tanzhenyu commented on #40203
Yeah exactly what I meant above -- you can define them as instance attribute, which will get lost but the hope would be you retrieve this information before any further processing. That's probably the only way to work with `Dataset` today

[2020-09-30 16:48] PoseAI opened #43676 "Converter fails when using a channel first model and batchnorm"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18:04
- TensorFlow installed from: binary (mini conda)
- TensorFlow version: 2.2

**Command used to run the converter or code if you’re using the Python API**
[code]

**The output from the converter invocation**

[code]

**Also, please include a link to the saved model or GraphDef**

[code]

**Failure details**
Expect the tflite c

[2020-09-30 17:00] Saduf2019 commented on #43584
@JosepLeder
Is this still an issue, can you follow bhack comment and let us know.

[2020-09-30 17:02] osotsia opened #43677 "My code is much slower in TF2 than TF1"
**System information**
- Colab

**Primary issue:** My code is much slower on TF2 compared to TF1

You can verify this by running each notebook and seeing the difference in elapsed times.

I suspect it's a **tf.data** issue, because when you increase the value of ntopics (in TF2), the code slows down even more. The TF1 code is unaffected by changing ntopics. This parameter changes the size of the s

[2020-09-30 17:02] amahendrakar commented on #43530
@Midhlaj2006,
As per Intel's [product specification](https://ark.intel.com/content/www/us/en/ark/products/92124/intel-atom-x5-e8000-processor-2m-cache-up-to-2-00-ghz.html), your CPU doesn't support AVX. For more information, please take a look at the [hardware requirements](https://www.tensorflow.org/install/pip#hardware-requirements) to install TensorFlow with pip.

Alternatively, you can [build

[2020-09-30 17:10] bhack commented on #43666
Can you close this and open an new Doc type issue?

[2020-09-30 17:12] G4V commented on #43646
Hi @ymodak, yes as per the instructions. Bit tricky to read, but it's wrapped up in this script -

https://github.com/ctuning/ck-tensorflow/blob/master/package/lib-tflite-cmake/scripts.linux/install.sh

[2020-09-30 17:31] jvishnuvardhan commented on #42119
@klaimans Please close the issue if this was resolved for you. Thanks!

[2020-09-30 17:46] quartermaine commented on #43585
@amahendrakar ,

I am trying to upload because its quite big file.

[2020-09-30 17:48] GabrielLaw commented on #29545
@Ryandry1st Similar issue, I'm trying to save a subclass model and convert it to TensorFlowJS layers model format. This only works if I'm able to get the model to be saved as h5. Any suggestions?

[2020-09-30 17:52] amahendrakar commented on #43527
@NguyenHongSon1103,
I was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/b31e51328902aea167d3287d67b62a40/43527.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/3b0f693fb11f924a27c019d3f4d86106/43527-tf-nightly.ipynb#scrollTo=gpcvSq0y8iV9). Please find the attached gist.

In order to expedite the trouble-shooting process, c

[2020-09-30 18:07] casassg opened #43679 "relaxing numpy requirement"
Numpy is fixed to `<1.19` in current main branch. Justification in [code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py#L64) is that it was waiting for https://github.com/numpy/numpy/pull/15355 to be merged. But it seems to be merged and deployed. Is there any reason to maintain the current fixed version of numpy?

[2020-09-30 18:11] mihaimaruseac commented on #43500
But then that's equivalent to the other community builds.

[2020-09-30 18:23] jaltmayerpizzorno commented on #43271
I just confirmed that the issue is still there with TF 2.3.1.

[2020-09-30 18:29] Ryandry1st commented on #29545
I believe you cannot save the model in its entirety as an h5 format because this ignores the information of the control flow/ops that are in the subclasses model. Instead, you need to save the weights in h5 format then make a new model the same way, train_on_batch as shown above, and then load the weights.

I have not had to deploy a subclasses model in TF JS so I could not say if this is usable o

[2020-09-30 18:45] mihaimaruseac commented on #43679
The main issue is that the numpy PR breaks TF compilation. So we introduced the numpy bound.

[2020-09-30 18:56] mihaimaruseac commented on #43629
Hi @iperov

In order to obtain the maximum performance, code is tied to the current version of CUDA. Hence, each branch can only build with exactly one version of CUDA. It will be extremely costly to upgrade an old branch to a new CUDA version and very risky, so we don't do that at all.

TF is not alone here. Every software moves forward and every user will have to upgrade at one time or another.

[2020-09-30 19:11] casassg commented on #43679
Is there any plans to fix it from either Tensorflow or Numpy side?

[2020-09-30 19:13] #34150 closed

[2020-09-30 19:13] #34659 closed

[2020-09-30 19:29] jvishnuvardhan commented on #43623
@Palkos83

`nvidia-smi` shows you have CUDA 11.0 but in the `log2.txt` code is looking for CUDA10 libraries such as  `libcudart.so.10.1`, `libcublas.so.10`. May be all the old drivers or path to old drivers were not deleted completely. Last time when I had similar issue with Anaconda, I had to manually remove all the TF files and paths, restart computer, install drivers freshly, install TF. Hope i

[2020-09-30 19:32] Palkos83 commented on #43623
Thanks for comments but sadly this is not going to be it.
The nvidia-smi command is running on the host OS ubuntu, the log files are from docker container.
That is why versions are slightly different. The output of the nvidia-smi command was to report the nvidia driver version used.

[2020-09-30 19:50] iperov commented on #43629
@mihaimaruseac
ok. Is there any way to use any version of tensorflow with RTX 3k on Windows ?

[2020-09-30 20:02] #36268 closed

[2020-09-30 20:16] Nithanaroy opened #43681 "tf.function expects to return a Tensor error, which is what I'm returning as well"
[code]
Reproduced at https://colab.research.google.com/drive/1Sp3PSl16LUJ0NbsniWtVaJitnm7TdaBX?usp=sharing

[2020-09-30 20:28] Nithanaroy commented on #43681
Sorry, my bad. Got confused with the error message.

[2020-09-30 20:28] #43681 closed

[2020-09-30 20:48] rmlarsen commented on #43666
TensorFlow tracks the head of the dev branch of Eigen quite closely, and
has not been tested with the stable 3.3.x branch for several years.

On Wed, Sep 30, 2020 at 10:17 AM bhack <notifications@github.com> wrote:

[2020-09-30 21:07] markodjordjic commented on #43627
@bhack I will make one tomorrow. I have also a work-around for this issue. I will also post it tomorrow. It has been a long day here. Thank you.

[2020-09-30 21:09] jvishnuvardhan commented on #43653
@Doekeb Looks like this is intended. I checked `numpy` as follows and numpy also throws similar error.

[code]

[2020-09-30 21:23] ymodak commented on #43643
You need to load the weights from the checkpoint and re-evaluate.
How are you saving the checkpoints?
If using [`tf.keras.callbacks.ModelCheckpoint`](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/ModelCheckpoint) api you can use `model.load_weights` method

[code]

[2020-09-30 21:25] Doekeb commented on #43653
@jvishnuvardhan Thanks for checking it out so quickly and for the numpy reference! I am willing to accept that this is intended behavior, however I do insist that it should be explained in tensorflow documentation (see my note above).

Indeed, the numpy docstring includes the following:
[code]
But no such explanation (nor illustrative example) is found in the current tensorflow documentation which

[2020-09-30 22:21] hanzigs commented on #43575
In Spyder, i get following error

![image](https://user-images.githubusercontent.com/30790120/94745881-ef656000-03be-11eb-8c33-897b4c986a07.png)

i'm using

![image](https://user-images.githubusercontent.com/30790120/94745889-f3917d80-03be-11eb-8cac-97f4c3eac234.png)

![image](https://user-images.githubusercontent.com/30790120/94745913-0015d600-03bf-11eb-8ce6-15824708f4ac.png)

As per here
https:/

[2020-09-30 22:22] jdduke commented on #43657
Can you provide a link to the model? It's possible this model has dynamically shaped outputs, which means the output shape depends on *input values*. In which case, the output tensor's shape can't be known until you run evaluation. We're working on making this easier to support with Java, where you can do something like:

[code]

Rather than providing input/output buffers in a single invocation.

[2020-09-30 22:27] advaitjain opened #43684 "Kernel changes break xtensa_hifimini"
@tensorflow/micro

Once #43682 is merged, the building with `TARGET=xtensa_hifimini` and TAGS=`xtensa_hifimini` will fail. This is mostly as a result of namespace changes.

[2020-09-30 22:31] advaitjain opened #43686 "kernel changes will break arc"
@tensorflow/micro

Once #43682 is merged, the building with TARGET=`arc` and `TAGS=arc_mli` will fail. This is mostly as a result of namespace changes.

Tagging @dzakhar  and @JaccovG.

[2020-09-30 22:34] advaitjain commented on #42932
#43682 is a first implementation of the changes that allow kernels to support registration of a subset of functionality from the application code via the MicroMutableOpResolver.

Let me know if this is something that you guys can leverage.

[2020-09-30 22:49] y-ich commented on #43128
I found the statement “UInt8 models trained with the legacy quantization-aware training path are also supported” in the document [“ TensorFlow Lite Hexagon delegate”](https://www.tensorflow.org/lite/performance/hexagon_delegate).
It is a part of the answer which I want to know.

Now my question is, how can I disable per-channel(per-axis) quantization for post-training quantization.

[2020-09-30 22:57] jvishnuvardhan commented on #43653
@Doekeb Thanks for the detailed information. Sure. we will update it soon. Thanks!

[2020-09-30 23:05] n2cholas opened #43687 "XLA Compilation does not work with Embeddings Layer"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-09-30 23:12] DEKHTIARJonathan opened #43688 "[TransformGraph & TF2 SavedModel] - Missing API"
### Issue

When using the latest TF2 release and latest available container (`2.3.1` at the time of writing), it appears that the following API is missing:

[code]

Which used to be available in TF1 (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms).

Though it doesn't make much of a sense since Tensorflow 2 ship with the C++ library associated:
[code]

### Mo

[2020-09-30 23:21] yousef-xailient commented on #43661
@amahendrakar

My bad. You can try now.

[2020-09-30 23:23] deven-amd commented on #43468
@baryluk for the time being the presence of the `/opt/rocm` symlink is a requirement that cannot be bypassed :(

We are aware of this problem, and are working towards removing this requirement in a future ROCm release.

[2020-09-30 23:32] summa-code commented on #43588
Why is this closed ?

[2020-09-30 23:39] summa-code opened #43689 "No library found under: /usr/local/cuda-11.1/targets/x86_64-linux/lib/libcudart.so.11.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 20.04
- Mobile device (e.g. iP

[2020-09-30 23:47] Hiroshiba opened #43690 "InvalidArgumentError with `Conv1D` which has the same `dilation_rate` as the batch size, using `tf.keras.Model.fit`, on TPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version (use command below): 2.3.0
- Python version: 3.6.9
- Accelerator: TPU

**Describe the current behavior**
When I optimized `Conv1D`, which has the same `dilation_rate` as the batch size, usi

[2020-09-30 23:49] jaentrouble commented on #43588
Because the chief complaint of this issue is failing to build on CUDA-11.1, and at least building tensorflow is successful.

[2020-09-30 23:50] lamarrr commented on #43425
@wangtz

[2020-10-01 00:13] reedwm commented on #43688
@av8ramit do you know why the `TransformGraph` class is not in the pip package anymore? The class is defined [here](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/tools/graph_transforms/__init__.py;l=26;drc=00983e6b0700f9a34e0df980669172b6ea85dad0).

[2020-10-01 00:17] av8ramit commented on #43688
Thanks for filing the issue @DEKHTIARJonathan. Taking a look and will get back to you.

[2020-10-01 00:31] av8ramit commented on #43688
So I believe that API was removed from the 2.0 pip package. It appears you can [build it from source](https://github.com/tensorflow/tensorflow/issues/30865#issuecomment-662528252) using bazel. @annarev do you perhaps have more context into alternatives?

[2020-10-01 00:48] DEKHTIARJonathan commented on #43688
@av8ramit  Building from source might be an issue. In principle, I have nothing against it. However in this case we would it in one of the core APIs of Tensorflow.

We would like to use it in the TF-TRT APIs (`tensorflow/python/compiler/tensorrt`), so we would need to have this available by default in Tensorflow2.

[2020-10-01 01:03] Lion-William commented on #41768
@DekraN Could you please tell me how exactly do you fix the code? I am encountering the same issues.

[2020-10-01 01:40] argunaykut commented on #41169
I had this same issue and read all the comments here. I recognized that a pip install software I made updated my tensorflow to 2.3 which is not even a stable build that conda supports. But my tensorflow-gpu version stayed at 1.14.
I realized this and forces both my tensorflow and tensorflow-gpu versions to 2.1. This solved my issue.

[2020-10-01 01:51] nectario commented on #41169
Thank you. Apparently this issue is still not gone for me. It is extremely frustrating. I cannot train till completion. TensorFlow is becoming unusable for me... Even using Python 3.8 with a fresh install I still get this...

[2020-10-01 01:52] argunaykut commented on #41169
Thank you too, I have been running for 20 minutes without a crash so far. Try Python 3.7 with tensorflow 2.1 and tensorflow-gpu 2.1 :)

[2020-10-01 01:53] nectario commented on #41169
I hate downgrades, but I will give it a shot!

[2020-10-01 01:55] nectario commented on #41169
Good luck!

[2020-10-01 02:13] #42721 closed

[2020-10-01 02:51] jvishnuvardhan commented on #23861
@ilia-nikiforov Is this still an issue for you? I ran your code in [colab](https://colab.research.google.com/gist/jvishnuvardhan/d55d141cb5eab8da277f08bf37c9ff30/untitled48.ipynb) with GPU and don't see any issue. I guess your GPU may had less memory when compared to colab GPU.

There were lot of performance improvement over the time and TF2.3 and `tf-nightly` has some performance upgrades. Thanks

[2020-10-01 02:52] JosepLeder commented on #43584
I add `@tf.function` to my functions as follows:
[code]
But it still doesn't work. If I remove `tf.compat.v1.disable_eager_execution()`, it works as the document said. However, I have to change lots of code using placeholder after using tf_upgrade_v2 if I remove `tf.compat.v1.disable_eager_execution()`. I am not sure if there is a way  I can use the writer without remove that code.

[2020-10-01 03:22] Midhlaj2006 commented on #43530
Thanks brother, it works!👏
But I has some connection issues by now days 📡
Can I use colab offline?

[2020-10-01 03:26] DeepakG19 commented on #43657
The model is custom made and might not be possible to share.
Further, as I know how the network will modify the output shape (equal to input image), i am allocating a buffer of that size before inference call.

PS - the same model works fine in Python.

[2020-10-01 04:03] relativeflux commented on #43656
**UPDATE**: Removing the second `from_generator` and just returning from the `map` transform works in the HTC environment. So, if I define `get_dataset` thus:

[code]

and then just

[code]

..._that_ works... Evidently `something` within the context of the HTC environment is interfering with the execution of the second `from_generator`.

[2020-10-01 04:44] Saduf2019 commented on #43672
@Yuvraj15101999
Please update if the issue is resolved, with the correct python.

[2020-10-01 04:45] Yuvraj15101999 commented on #43672
Done happy to close this issue with TensorFlow installed

[2020-10-01 04:45] #43672 closed

[2020-10-01 04:56] Saduf2019 commented on #43672
@Yuvraj15101999
Glad it worked for you, thanks for the update.

[2020-10-01 05:12] pmeckoni commented on #43689
I may be wrong, but won't you need to use `bazel build --config=cuda` for cuda support?

[2020-10-01 05:21] pmeckoni opened #43693 "Add Ubuntu 20.04 installation instructions"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://www.tensorflow.org/ins

[2020-10-01 05:25] raryanpur commented on #43473
Hi, is there any update on this?

Thanks!

[2020-10-01 06:03] ml-0 opened #43696 "Remove CMSIS Core include from all Makefiles"
Once PR #41860 is merged, the CMSIS include path is added in cmsis.inc. Specifying the include path in all Makefiles is no longer needed. This is a reminder to remove lines like
  INCLUDES +=  isystem$(MAKEFILE_DIR)/downloads/cmsis/CMSIS/Core/Include/

See discussion in the original post:

Originally posted by @advaitjain in https://github.com/tensorflow/tensorflow/pull/41860#discussion_r497863693

[2020-10-01 06:08] Midhlaj2006 commented on #43530
I failed building from source too
but it worked with colab

Are there any offline version for colab, the network is too slow over here

[2020-10-01 06:09] Suzan009 commented on #43580
Mainly I need to solve above scenario. I know we can do custom training in tf.keras. But how to define loss and metrics for multi-label multi class classification problem.

Please, consider the following cases:

[code]

Here, the model has 3 output. But each of the single output layer doesn't give single out put itself. See, first output has 2 different classes, second one has 8 different classes

[2020-10-01 06:14] AdityaHPatwardhan commented on #42259
@Aiden1729 can you share the `sdkconfig` file created in the `..prj//hello_world/esp-idf/` folder ?. also can you mention the esp-idf version that you are using ?
I was aware of one crash issue which has been fixed with [this PR](https://github.com/tensorflow/tensorflow/pull/42653). Please check once if your issue is already fixed.
Thank you

[2020-10-01 06:18] AdityaHPatwardhan commented on #42347
@gigwegbe Can you please share the `sdkconfig` file created in the project directory ( `micro_speech/esp-idf/`).

[2020-10-01 06:28] AdityaHPatwardhan commented on #41931
This issue has been fixed with [this PR](https://github.com/tensorflow/tensorflow/pull/42275), Please check. If the problem is solved, you may close the issue.
Thank you.

[2020-10-01 06:32] AdityaHPatwardhan commented on #41182
This issue should have been fixed with [this PR](https://github.com/tensorflow/tensorflow/pull/42653), Please check. If the issue is fixed, you may close it.
Thank you

[2020-10-01 06:34] klaimans commented on #42119
@jvishnuvardhan

I have to admit I am a bit confused. The recommendation is to use tf.range(tf.constant(10)) but this leads to an autograph failure. Are you saying we should use range? Wouldn't this lead to retracing? And why does it work for functions outside a keras model and only fails there?

[2020-10-01 06:53] NitishaS-812k opened #43697 "More details and examples for tf.image.generate_bounding_box_proposals"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/api_docs/python/tf/image/generate_bounding_box_proposals

## Description of the issue (what needs changing):
The documentation for this function isn't clear. The meanings of the function's arguments aren't given. There are no usage examples. Seeing the code linked in the documentati

[2020-10-01 06:59] bhack commented on #43584
You can try to take a look at https://www.tensorflow.org/tensorboard/migrate

[2020-10-01 07:01] quartermaine commented on #43585
@amahendrakar
this is the link to the [data](https://drive.google.com/file/d/1FVg2Ku5U3eS5MpiELYxMeEKM6AVwiCbw/view?usp=sharing)

[2020-10-01 07:03] ravikyram commented on #43687
@n2cholas

I have tried in TF-nightly version (2.4.0-dev20200930) and i am not seeing any issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/8dc30c27c6cc9afe663c07be997868e8/untitled406.ipynb#scrollTo=l0HX6JYYzAVW). Thanks!

[2020-10-01 07:16] AdityaHPatwardhan commented on #36189
Hi @mr-goldhands. I think the build issue is fixed with [this PR](./tensorflow/lite/micro/tools/make/gen/esp_xtensa-esp32/prj/hello_world), can you please check. If the problem is fixed you may close the issue, thank you.

[2020-10-01 07:32] ravikyram commented on #43690
I have tried in colab with TF version 2.3 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/09a9efcf14b3111df6a41add407b2a4d/untitled408.ipynb).However i am seeing different error message in TF nightly versions(`2.4.0-dev20200930`).Please find the gist [here.](https://colab.research.google.com/gist/ravikyram/9e5e9c9a9d8f5835890ec4b14f

[2020-10-01 07:35] vikramdattu commented on #42290
The issue has been fixed on master branch with following commit:

https://github.com/tensorflow/tensorflow/commit/dfafcc5758a33335a57d062481af3783ee16f0db

Can you please cherry-pick the commit and check?

[2020-10-01 07:41] vikramdattu commented on #40956
@filzek few questions:

1. Are you using ESP-EYE dev board or something else?
2. Can you please add the logs?

[2020-10-01 07:47] n2cholas commented on #43687
@ravikyram Thanks! I was able to get it running on colab, but I still get the error on my local machine even with tf-nightly. Here are the specifications:

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): pip (so binary)
- Tensor

[2020-10-01 07:48] vikramdattu commented on #37007
Hi @TobiasBoeschMiele this is because you have Windows style line ending.
Can you please run following command and try again:
`dos2unix tensorflow/lite/micro/tools/make/download_and_extract.sh`

[2020-10-01 08:32] Harrypotterrrr opened #43698 "TF2 TensorArray with multi-dimensional tensor wrote in it will be stacked into None shape tensor in Autograph mode"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Linux lz 5.4.0-48-generic #52~18.04.1-Ubuntu`
- TensorFlow installed from (source or binary):  `(in conda env) pip install tensorflow-gpu -i https://pypi.tuna.tsinghua.edu.cn/simple`
- TensorFlow version (use command below): `v2.3.0-rc2-23-gb36436b087 2.3.0`
- Python version: `3.8`
- CUDA/cuDNN version: `conda insta

[2020-10-01 08:55] dithyrambe opened #43699 "Multiple instances of custom metrics don't behave as expected with multiple output model when evaluating."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **YES**
- OS Platform and Distribution: **Ubuntu 20.04.1 LTS**
- TensorFlow installed from (source or binary): `pip install`
- TensorFlow version (use command below): `tensorflow==2.3.0`
- Python version: **Python 3.6.9 :: Anaconda, Inc.**

**Current behavior**
Custom metrics be

[2020-10-01 09:35] pdkz opened #43700 "The issue about unexpected inference result (output class and probability-value) through quantized tflite model in more than a certain number of classes"
**System information**
- Model training (VGG16) environment
    - OS Platform and Distribution
        - Windows 10
    - GPU
        - NVIDIA GTX1080
    - Cuda Toolkit 10.0.130
    - Python 3.7
    - Keras 2.2.4
    - TensorFlow 1.14.0

- Model training (MobileNetV2) environment
    - OS Platform and Distribution
        - Ubuntu 18.04.4 LTS (GNU/Linux 4.15.0-99-generic x86_64)
    - GPU

[2020-10-01 09:43] imrahul361 commented on #22926
May I know how to reproduce the issue?

[2020-10-01 09:48] mattn commented on #22926
Sorry, I don't know why the changes was reverted.

https://github.com/tensorflow/tensorflow/pull/26682#issuecomment-480350306

[2020-10-01 09:48] mrluin commented on #18652
The same issue. Did you have any effective solution?

[2020-10-01 09:51] imrahul361 commented on #22926
ok no problem I will try some other issues

[2020-10-01 10:02] louisnot commented on #27519
I'm new to tensorflow but following this tutorial (on Jupyter Notebook) https://www.tensorflow.org/tutorials/quickstart/beginner?hl=en will give you the error

[code]

[2020-10-01 10:08] PureHing opened #43701 "RTX3080 install RuntimeError: CUDA runtime implicit initialization on GPU:0 failed. Status: device kernel image is invalid"
**System information**
ubuntu18.04.5 LTS
GeForce RTX 3080
NVIDIA driver 455.23.04 + CUDA10.1 + Cudnn7.6.5
Anaconda3
envs: tensorflow-gpu==2.3.1
**Describe the problem**
[code]

 2020-10-01 17:18:08.728031: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1858] Adding visible gpu devices: 0, 1
2020-10-01 17:18:08.728126: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully

[2020-10-01 10:32] Thanossrs commented on #43601
I have the same problem.
I try to run my codes to GPU and I have this error.

could anyone help me?
thank you

[2020-10-01 10:59] bersbersbers opened #43702 "Memory leaks in repeated model training despite garbage collection and session clearing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, see below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows and Linux
- TensorFlow installed from (source or binary): `pip`
- TensorFlow version (use command below): `v2.3.0-54-gfcc4b966f1 2.3.1`
- Python version: `3.8.5`
- CUDA/cuDNN version: none
- GPU mo

[2020-10-01 11:12] Saduf2019 commented on #43701
@PureHing
Please refer this issue and let us know if it helps: #43588

[2020-10-01 11:26] bersbersbers commented on #43702
Note: when commenting out the `model.fit` line, memory consumption stays constant.

[2020-10-01 11:28] vikramdattu commented on #43450
@hpssjellis @petewarden I am planning to bring CI support soon.

Maybe in couple of weeks.

[2020-10-01 11:37] markodjordjic commented on #43627
@bhack here is an example with fit method.
for i in range(0, 10001):
  keras.backend.clear_session()
  a = keras.layers.Input(shape=(2,))
  b = keras.layers.Dense(32)(a)
  output = keras.layers.Dense(1)(b)
  model = keras.Model(inputs=a, outputs=output)
  model.compile(
    optimizer=keras.optimizers.Adam(learning_rate=1e-3),
    loss='mse',
    metrics=None,
  )
  model.fit(
    x=x,
    y=y,

[2020-10-01 11:46] bhack commented on #43627
This code has missing x,y can you share something runnable?

[2020-10-01 11:50] markodjordjic commented on #43627
@bhack how did that happen. Here is an update.
import numpy as np
from tensorflow import keras
from statistics import mean
import psutil

# Generate data.
samples = 10000
mean = [0, 0]
cov = [[1, 0], [0, 100]]  # diagonal covariance
x = np.random.multivariate_normal(mean, cov, samples)
y = np.random.normal(0, 1, (samples, 1))
for i in range(0, 10001):
  keras.backend.clear_session()
  a = keras.la

[2020-10-01 11:53] bhack commented on #43627
Can you edit a final version that we can just copy and run?
Please put it formatted in a code block as I've done with my examples.

[2020-10-01 11:55] markodjordjic commented on #43627
`import numpy as np
from tensorflow import keras
from statistics import mean
import psutil

samples = 10000
mean = [0, 0]
cov = [[1, 0], [0, 100]]  # diagonal covariance
x = np.random.multivariate_normal(mean, cov, samples)
y = np.random.normal(0, 1, (samples, 1))
for i in range(0, 10001):
  keras.backend.clear_session()
  a = keras.layers.Input(shape=(2,))
  b = keras.layers.Dense(32)(a)
  output

[2020-10-01 11:56] TobiasBoeschMiele commented on #37007
Thank @vikramdattu for your suggestion.

_I use tensorflow lite at master at https://github.com/tensorflow/tensorflow/commit/89bd08149c9d179bef02a5baf866a20b2fc71fc1_

MinGW has the dos2unix program so I used that. Here is what it puts out when failling again:
[code]

[2020-10-01 11:59] markodjordjic commented on #43627
@bhack there you go

[2020-10-01 12:04] markodjordjic commented on #43702
@bersbersbers it is the same issue as: https://github.com/tensorflow/tensorflow/issues/43627

[2020-10-01 12:05] markodjordjic commented on #43627
@bhack @yhliang2018 there appears to be more of this: https://github.com/tensorflow/tensorflow/issues/43702

[2020-10-01 12:16] bersbersbers commented on #43627
Hi, yes, #43702 seems very related, also because that code over there fails to reproduce the issue when there is no `model.fit`.

In addition, #43702 has a complete example with all imports and data that reproduces the issue on a CPU-only system and on Colab, as well as on Linux and Windows. Finally, that example reports process memory consumption rather than system memory consumption. In summary,

[2020-10-01 12:19] markodjordjic commented on #43702
@bersbersbers I do not see a fix for this any time soon. In meanwhile use this as a workaround:
https://www.tensorflow.org/guide/basic_training_loops

[2020-10-01 12:21] markodjordjic commented on #43702
@bersbersbers The link above will help. I have tested it.

[2020-10-01 12:22] bersbersbers commented on #43702
May I ask what makes you think that? You reported the other issue just 3 days ago, and as far as I can see, did not provide a working reproduction code.

This is ten pages of document, which section is the "workaround" (other than implementing the whole fitting routine myself)?

[2020-10-01 12:24] markodjordjic commented on #43702
@bersbersbers You are right I have updated the link.

[2020-10-01 12:26] markodjordjic commented on #43702
@bersbersbers to answer the second part of your question. You need to make your own fitting loop from scratch, and that is a way to do the training without applying the fit method.

[2020-10-01 12:36] dithyrambe commented on #43699
Hi again,

After further investigation, overriding the following method in `DumbMetric` fixes the issue:

[code]

This is due because metric objects are being copied [through this method](https://github.com/tensorflow/tensorflow/blob/7ea86e9de8a5b6426e7291e0e5477ddaee83ba88/tensorflow/python/keras/engine/compile_utils.py#L487-L489) when multiple outputs are [out there](https://github.com/tensorflo

[2020-10-01 12:44] twkx commented on #43495
still crashing with tf-nightly-2.4.0.dev20200930

[2020-10-01 13:04] ruichernob commented on #43476
@Saduf2019
I've been able to run your code without any errors. If you still faces the issue you can attempt comment
[code]

[2020-10-01 13:18] scd75 opened #43703 "For a dataset of nested elements `window` creates a dataset of nested datasets of flat elements, not a dataset of datasets of nested elements."
For a dataset of nested elements `window` creates a dataset of nested datasets of flat elements, not a dataset of datasets of nested elements.

In other words, the `x` in your `lambda` will be a dictionary mapping keys to datasets and if you wish to flatten it to a single dataset you will need to do:

[code]

_Originally posted by @jsimsa in https://github.com/tensorflow/tensorflow/issues/23581#is

[2020-10-01 13:40] parnham commented on #41132
Apologies for adding more activity to this issue @av8ramit but we wanted to find out if there was going to be a point release of the TensorFlow C library v2.3 that has been patched with the correct CUDA capabilities?
I only ask because v2.3 is the current stable version, it works with the standard CUDA version in Ubuntu 20.04, and when installing tensorflow through python for training with keras i

[2020-10-01 13:44] PureHing commented on #43701
@Saduf2019 it cannot help me.

[2020-10-01 13:52] scd75 commented on #43703
When running the above, I am able to get a Dataset of dictionnaries of tensors of shape (window_size,).
However, it seems that batching futher such object then triggers an 'out or range' error in model training, and even when going through the elements. Such error seem to occur only when number of windows are not amultiple of the final batch size..

[code]

[2020-10-01 14:01] Conchylicultor commented on #38477
@skye, could you try with `tfds-nightly` ? I believe this should be fixed.

[2020-10-01 14:05] bersbersbers commented on #43702
@markodjordjic: thanks, but I'm not quite willing to invest that effort.

By the way, each of your many individual messages triggers an individual email notification. Could you try to post your thoughts in a combined message? This is not an IRC chat here ;) You could also edit past message if you want to add anything.

[2020-10-01 14:06] amahendrakar commented on #43689
@summa-code,
Could you please provide the exact sequence of commands / steps that you executed before running into the problem?

Also, instead of CUDA 11.1 could you please try building TensorFlow using CUDA 11.0 and cuDNN 8, and check if it works. Thanks!

[2020-10-01 14:08] hpssjellis commented on #43450
That would be great @vikramdattu .  I am really good at finding mistakes so if you want anything tested touch base. I sent you a DM on twitter.

[2020-10-01 14:28] Saduf2019 commented on #43701
@PureHing
Could you please try this once and let us know : [link](https://github.com/tensorflow/tensorflow/issues/41990#issuecomment-686853339)

[2020-10-01 14:29] quartermaine commented on #43585
@amahendrakar ,

I am trying to upload because its quite big file.

[2020-10-01 14:30] vmgustavo commented on #27053
Trying to limit the number of cores being used by TF with ConfigProto doesn't work:

[code]

By changing the value of the arguments it does change the number of threads being executed but I couldn't get a single core execution.

[2020-10-01 14:44] amahendrakar commented on #43699
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/ed1d48fcc45a609c9bd0512ab39d31b3/43699.ipynb). Thanks!

[2020-10-01 14:47] bheijden commented on #43369
I am experiencing the same problem. A CustomCell i created, takes constants as an argument to cal(), which results in an error when trying to save (in the standard tf format). Conversely, it is possible to save the CustomCell if I remove the constants-argument. Similar to @juulie, I want to save the execution graph in addition the the weights.

Using eager execution and the debugger, it somehow lo

[2020-10-01 15:00] Harrypotterrrr commented on #29252
@kvijaysai  Hi, downgrading the v2 to fit the compatibility is not a good workaround to deal with such kind of things. You can try the following code
[code]
You could check [tf.data.Iterator](https://www.tensorflow.org/api_docs/python/tf/data/Iterator) for more info.

[2020-10-01 15:04] Harrypotterrrr commented on #29252
I have got a similar problem. I deploy my train dataset and val dataset on multi gpus.
for the training dataset, I use the following code to build the dataset, while for the validation dataset, that requires me to iterate for each time of specified steps. Thus, I choose `tf.dataset.Iterator` to deal with such things, as the above comment shows.
However, when I tried to deploy the `val_iter` to mul

[2020-10-01 15:05] Saduf2019 commented on #43698
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/62222f48460bdd79381394fd274bfb33/untitled418.ipynb)

[2020-10-01 15:13] relativeflux commented on #43656
Using a dataset iterator instead of a second `from_generator` works on the HTC:

[code]

In fact the above is what I was originally doing, passing the generator to `fit` (as `x`). I consolidated everything into a dataset because I also use `validation_data` arg to `fit`, and the doc says that 'validation_data does not support all the data types that are supported in x, eg, dict, generator or keras

[2020-10-01 15:13] #43114 closed

[2020-10-01 15:29] Saduf2019 commented on #43677
I am able to replicate this issue, please find the gist for [tf 1](https://colab.research.google.com/gist/Saduf2019/d131da06187a4522e327c06b0dea922c/untitled423.ipynb) and [tf2](https://colab.research.google.com/gist/Saduf2019/5252c588d4e8a0d7c65f322748b7fb4b/untitled418.ipynb)

[2020-10-01 15:43] amahendrakar commented on #43702
@bersbersbers,
I was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/76dcef813f52ae31dd0bf018dd9d610d/43702.ipynb). However, the issue seems to be fixed with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/97485bb1ae453d377e8bbea8a95c5c82/43702-tf-nightly.ipynb).

After the first few epochs, I see that the increase in memor

[2020-10-01 15:52] summa-code commented on #43689
That is the command that i listed above, it works with 11.0 but Nvidia recently released 11.1 and also does a symblink to 11.0, but Bazel script is looking for 11.1. So this is a bug in Bazel script.

[2020-10-01 15:57] karimnosseir commented on #43397
Not everything is more optimized on 865, so it comes down to the model. If it can be using any of the more optimized paths on the 865, otherwise can be the same.

[2020-10-01 15:57] #43397 closed

[2020-10-01 15:59] amorisot opened #43705 "Project Gutenberg: make printing on TPUs easy!"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.2
- Are you willing to contribute it (Yes/No): No

**Des

[2020-10-01 16:01] karimnosseir commented on #43637
@Hozzu Thanks, i will reach out directly shortly

Thanks

[2020-10-01 16:11] ashwin-phadke commented on #43697
I can take this issue, I will need to change the [file](https://github.com/tensorflow/tensorflow/blob/v2.3.1/tensorflow/python/ops/image_ops_impl.py#L5001-L5027) posted here with the docstrings I suppose.

I checked the docs repo but  I believe api docs are generated from docstrings so I will modify the changes accordingly in the source file mentioned here itself.

@ymodak Let me know if I am misi

[2020-10-01 16:12] Saduf2019 commented on #43637
@karimnosseir
Thank you for your update.
@Hozzu
Please move this issue to closed status once resolved.

[2020-10-01 16:43] mhorlacher opened #43706 "ParseTensor (tf.io.parse_tensor) is not vectorized - Vectorizing via tf.vectorized_map uses while_loop"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from: Binary
- TensorFlow version: v2.3.0-rc2-23-gb36436b087 **2.3.0**
- Python version: 3.8
- CUDA/cuDNN version: 10.1
- GPU model and memory: TITAN V, 12G VRAM

**Describe the current behavior**
See the co

[2020-10-01 16:44] jdduke commented on #43657
Can you attach the code you're using to allocate your inputs/outputs, and their respective (Java) buffers?

[2020-10-01 16:56] DrChrisLevy commented on #42393
@pengchongjin @fchollet , think this will get any attention? Thanks for your hard work.

[2020-10-01 16:57] jsimsa commented on #43703
This is working as intended so that you can for instance apply different batching logic on different elements of the nest.

[2020-10-01 17:28] av8ramit commented on #41132
Looping in the release manager. @geetachavan1 would we be able to patch the fix for libtensorflow and release new binaries with the correct CUDA capabilities. Happy to help get this done internally.

[2020-10-01 17:44] scd75 commented on #43703
You can try the code I wrote: it is not working, it returns "out or range" error for some window_size, batch numbers (such as those I entered).

[2020-10-01 17:50] #33407 closed

[2020-10-01 17:58] agemagician opened #43707 "TPU V3-1024 training crashes randomly"
**System information**
- Platform: Linux-5.4.0-1024-gcp-x86_64-with-debian-buster-sid
- Python version: 3.7.7
- Tennsorflow v1.15.2-30-g4386a66 1.15.3

**Describe the current behavior**
While training T5-11B model using mesh tensorflow and tensorflow on TPU V3-1024, the training crash randomly while training. After I remove the TPU node and create it again, then restart the training it resumes nor

[2020-10-01 18:00] jvishnuvardhan commented on #27519
@louisnot I cannot reproduce the error. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/0bcf017989e93c82a94855775b4ff23e/beginner.ipynb). Thanks!

If you are facing the error, can you please share a gist? Thanks!

[2020-10-01 18:05] saxenasaurabh commented on #43698
Could you try using a fixed size TensorArray `tf.TensorArray(dtype=tf.float32, size=self.nframe)`

[2020-10-01 18:07] annarev commented on #43688
Graph transforms were removed and meant to be replaced by Grappler according to this RFC:
https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md

@petewarden, @rmlarsen do you know if there is an alternative for this usecase (pre-process graph before inference with SavedModel)?

[2020-10-01 18:12] av8ramit commented on #43688
Sorry @DEKHTIARJonathan I am not the best person to answer this (I was looped in in the event this was a pybind export issue), but I'll leave it to Pete and Rasmus to hopefully shed some more light.

[2020-10-01 18:12] vyshnavigutta369 opened #43708 "Masking support for multiple values."
Is there a way to mask more than one value in input before sending to Keras layers in TensorFlow? I have to pad in-between too with 0 to make the data balanced in addition to post padding. But my Seq2Seq model is unable to distinguish the in-between paddings and the paddings at the end and during testing, the output from decoder stops as soon as the first in-between padding occurs.

Consider an in

[2020-10-01 18:30] allenlavoie commented on #42845
It looks like this is working with experimental_use_pfor=True on both batch_jacobians. It's possible that this is due to recent vectorized_map improvements. Is using that an option for you?

Fixing the control flow gradients may be a bit more complicated, but that we should do too; thank you for the report.

[2020-10-01 18:45] Ambistic commented on #43223
Actually it seems to work, thank you very much !

[2020-10-01 18:46] Ambistic commented on #43223
This is the code to add
[code]

[2020-10-01 18:57] bnsblue commented on #43236
The problem is that libcublas seems to be missing when installing cuda-10.1 via apt
Check this thread for more details: https://forums.developer.nvidia.com/t/cublas-for-10-1-is-missing/71015/18

[2020-10-01 19:09] Dhananjay201 opened #43709 "ValueError: This model has not yet been built. Build the model first by calling `build()` or calling `fit()` with some data, or specify an `input_shape` argument in the first layer(s) for automatic build"
model = tf.keras.Sequential([
layers.DenseFeatures(feature_columns),
layers.Dense(128,activation='relu'),
layers.Dropout(0.2),
layers.Dense(512,activation='relu'),
layers.Dropout(0.2),
layers.Dense(512, activation='relu'),
layers.Dense(31,activation='softmax')
])

This is my model.How do i solve this issue or add input shape to the first layer? Please help
When i try to save and load it with this

[2020-10-01 19:25] andrescodas commented on #42845
Hi @allenlavoie .  Thanks for taking a look.

This is a failing case I managed to reduce from a more complex code.  I shared it with the intention to get more understanding of why it happens, and to make developers aware of it in case they don't know.  I guess you might be tracking it somewhere else, otherwise you may close it.

The actual case I'm trying to optimize for running speed and memory a

[2020-10-01 19:26] Harrypotterrrr commented on #40036
@viet2411  same GPU  Titan Xp with TF 2.3
I use about 5min before the first epoch.

[2020-10-01 19:40] cevher commented on #43583
I have the same problem, anyone with suggestions?

[2020-10-01 19:50] Harrypotterrrr commented on #43698
@saxenasaurabh Oh yes! TensorArray with fixed size does work! Thanks for your suggestion. But it is still confusing the reason why TensorArray could not be stacked into the Tensor with explicit dimensions.

[2020-10-01 19:54] saxenasaurabh commented on #43698
Because the size of the TensorArray depends on the algorithm in the while loop and it is hard to statically infer the size of the TA after the loop.

[2020-10-01 19:54] #43698 closed

[2020-10-01 20:12] andrescodas opened #43710 "executing vectorized_map on batches triggers retracing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): dockerhub container 'latest' Digest: c57fb9628d80
- TensorFlow version:tf.version.GIT_VERSION=v2.3.0-54-gfcc4b966f1 tf.version.VERSION=2.3.1
- Python version: 3.6.9

**Describe the current behavior**
Repeatedly calli

[2020-10-01 20:38] ahtik commented on #43236
@bnsblue If using the local installer method that I detailed in my comment above [1] then `libcublas.so.10` is being installed into `/usr/lib/x86_64-linux-gnu/libcublas.so.10` and everything works fine without additional tweaks. This works both for Ubuntu 18.04 and 20.04. Indeed, the TensorFlow official GPU installation method does not work for me as well. Btw, for Ubuntu 20.04 one should still us

[2020-10-01 20:54] Hozzu commented on #43637
Thank you @karimnosseir @Saduf2019

[2020-10-01 20:54] #43637 closed

[2020-10-01 21:12] bersbersbers commented on #43702
@amahendrakar interesting, thank you for testing this. I went ahead with `pip uninstall tensorflow` , `pip install tf-nightly`.

I see that memory consumption stabilizes after ~10 iterations in your `tf-nightly` examples on Colab.

Running the code examples from the top post and from https://github.com/tensorflow/tensorflow/issues/43702#issuecomment-702069826 locally, however, I still get this:

T

[2020-10-01 21:45] markostam commented on #26411
Setting to `tf.device('/cpu:0')` worked for me as well on 1.15.

[2020-10-01 21:49] ckkuang commented on #42498
I suspect this is caused by instance preemption. MultiworkerMirroredStrategy requires all workers to be up to do gradient aggregation. Can you try using [BackupAndRestore](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/experimental/BackupAndRestore) callback, and wraps `model.fit` with a loop and try/catch [UnavailableError](https://www.tensorflow.org/api_docs/python/tf/errors/Unava

[2020-10-01 22:09] bersbersbers opened #43712 "Docs: provide CUDA/CuDNN/TensorRT version information for PyPI packages"
The title says it all, but I'll explain nonetheless.

I have CUDA 10.1 Update 2, CuDNN 7.6.5 for CUDA 10.1, TensorRT 6.0.1.5 installed and run `tensorflow==2.3.1` from PyPI.

Today I tried `tf-nightly`, which suddenly does not support my GPU. The error message implies that some CUDA 11 is missing, but now I am at a loss what to ask my server admin to install. Obviously, I have to install what the

[2020-10-01 22:11] bhack commented on #43710
/cc @allenlavoie

[2020-10-01 22:28] allenlavoie commented on #43710
Unfortunately tf.vectorized_map is actually tracing the function in its argument each time (it doesn't yet support eager op-by-op vectorization), so the warning is informative in this case. I'd put `@tf.function` on `def shaped_vectorized_map` and all of the tracing will be cached.

cc @agarwal-ashish

[2020-10-01 22:39] karimnosseir commented on #43547
Can you verify that the shared libraries are actually pushed to the device as expected ?
Can you capture the full logcat and share it ?

Thanks

[2020-10-01 22:40] karimnosseir commented on #42410
Meghna, can you please have a look

Thanks

[2020-10-01 23:03] pantelisziazo commented on #41855
Same problem! CUDA 11.0 and tensorflow 2.3.0
When running the code without GPU everything is fine, but slow. WIth GPU (google cloud tensorflow GPU) the programme crashes

[2020-10-01 23:23] quickgrid commented on #43583
I followed this guide below with tf1 `ssd_mobilenetv2_oidv4` model and got similar error on [Android sample](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android).
https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md

My mod

[2020-10-01 23:41] hanzigs commented on #43575
Thanks, Above error happened first time, in second run it was not there. Not sure why?

[2020-10-01 23:41] #43575 closed

[2020-10-02 02:29] caxelrud commented on #43193
I have to renamed these files in the bin folder to make it work:
cudart64_101.dll -> cudart64_110.dll
cusparse64_10.dll->cusparse64_11.dll
cudnn64_7.dll->cudnn64_8.dll
cublas64_10.dll->cublas64_11.dll

[2020-10-02 02:56] Janesefor commented on #28799
Recently I also meet this problem .Because it says tf.Variables can't be json serializable so i just let key variable V(for example) be V.numpy() as parameters' input and it can help.Maybe making it not be type of tf.Variable will matter.

[2020-10-02 02:57] vikalpjain91 commented on #43223
if that is not the case probably we have to restart the environment to make things working!

[2020-10-02 03:01] dobos commented on #42967
Also, `tf.linalg.eigh` uses way too much memory, this could be the reason why it's slow (when it fits into the GPU RAM, at least).

[code]

SVD works, eigh gives OOM.

[2020-10-02 03:09] Janesefor commented on #28799
add .numpy() after alpha ,like the flowing:
model.compile(optimizer=tf.keras.optimizers.Adam(lr=0.001),loss={"output1":tf.keras.metrics.binary_crossentropy,"output2":tf.keras.metrics.binary_crossentropy},loss_weights=[1.0,alpha.numpy()])

[2020-10-02 03:12] Janesefor commented on #28799
replacing alpha with alpha.numpy() will be ok in my computer.

[2020-10-02 03:31] rfan-debug commented on #43301
Hey, @ymodak thanks for assigning correct tags on this issue. Is there any update?

I think we just need to remove the deprecated `version` field since it is not used at all.

[2020-10-02 03:35] agarwal-ashish commented on #43710
Yes, tf.vectorized_map API does not try to do any caching on its own. The call retraces and performs vectorization as well. Its usage should be wrapped in tf.function, as suggested by @allenlavoie

[2020-10-02 03:35] #43710 closed

[2020-10-02 03:54] caxelrud commented on #43193
The reality is that each version of Tensorflow uses an specific Cuda and Cudnn. In my case, for TF 2.3 it is Cuda 11.0. Installing this one solves the problem.

[2020-10-02 04:06] HelioStrike commented on #43674
@s0urcer I think it's fixed now.

[2020-10-02 04:09] ritika-singh2000 commented on #43709
@Dhananjay201 , I am new to open source and DL .I think I can work on this .

[2020-10-02 04:16] frank-qcd-qk commented on #41132
For Nvidia 3090, Ubuntu 20.04, Cuda 10.1, Cudnn 7.6, Nvidia GPU driver 455 have the same isseu

[2020-10-02 04:36] jvishnuvardhan commented on #43676
@PoseAI When I used `tf-nightly`, I was not able to reproduce the issue. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/59797706487551888b539cc0519816a6/untitled51.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-10-02 04:39] frank-qcd-qk commented on #43701
Have same issue with 3090

[2020-10-02 04:40] frank-qcd-qk commented on #43701
are you suggesting we should go with cuda 11 and give it a try?

[2020-10-02 04:45] frank-qcd-qk opened #43718 "RTX 3090 Cuda 10.1 Kernal image error"
**System information**
RTX3090, AMD 3950x

Nvidia Driver 455.23

Fri Oct  2 00:41:55 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 455.23.05    Driver Version: 455.23.05    CUDA Version: 11.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Unco

[2020-10-02 04:47] frank-qcd-qk commented on #43701
Same issue for 3090: issue here: https://github.com/tensorflow/tensorflow/issues/43718

[2020-10-02 04:48] frank-qcd-qk commented on #43718
Ubuntu version 20.04

[2020-10-02 04:56] baryluk commented on #43468
Thank you, I would really appreciate ability to not depend on `/opt/rocm`  , for 3 reasons:

1) Ability to install multiple versions of rocm  (some versions sometimes do have regressions in some applications, etc, so it is useful to be able to keep multiple versions installed)

2) Ability to compile / install it as a normal user without root permissions, i.e. somewhere under `$HOME`.

3) Ability t

[2020-10-02 05:09] sayakpaul opened #43719 "Float16 quantized DistilBERT model performs poorly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.3
- Python version:
-

[2020-10-02 05:25] alanpurple opened #43720 "compatibility issue with cuda 11.1"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N/A
- OS Platf

[2020-10-02 05:55] jvishnuvardhan commented on #24188
@JamesZhangjp This is a stale issue. If anyone looking for `LSTM` example, you can check this [`TF resource`](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/experimental/examples/lstm) where you can find couple of examples.

I am providing one complete example with recent `tf-nightly`. Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan

[2020-10-02 05:55] #24188 closed

[2020-10-02 06:03] markodjordjic commented on #43627
@bersbersbers @bhack funny enough docker pull tensorflow/tensorflow:nightly-gpu-jupyter seems to help. I need to run a more comprehensive training process, to confirm, but on the example with fit method, the memory consumption stays fairly managable. Just to confirm this is AWS linux setup, on a ml.t3.medium instance and the training is done within the docker container mentioned above.

[2020-10-02 06:33] guilt commented on #43419
Let me add some activity here. Before 2.3.1, keras used to autodetect backends and play nicely. Now this explicit badly importing line in 2.4.x onwards adds this:

[code]

What is that supposed to even mean? That keras always requires this variable? This is terrible, and import guards must be added, this library is hardly useful anymore with this sort of tight coupling.

[2020-10-02 06:33] CFGrote commented on #39676
possibly related?
https://github.com/fchollet/deep-learning-with-python-notebooks/issues/151

[2020-10-02 07:02] chenghuige commented on #32875
Change __call__ to update_states will work

[2020-10-02 07:18] ravikyram commented on #43707
@agemagician

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-10-02 08:29] redrussianarmy opened #43721 "TFBertMainLayer cannot be loaded from .h5"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.4 LTS
- TensorFlow version (use command

[2020-10-02 09:12] pretidav commented on #33150
same probleme here when trying to import bert converted checkpoint to tf2.x

[2020-10-02 09:20] n2cholas opened #43723 "XLA Compilation Bug"
**System information**
Colab with TensorFlow 2.4.0-dev20201001

**Describe the current behavior**
When using `experimental_compile=True`, I get the following error:

[code]

**Describe the expected behavior**
The code should run without errors just like with `experimental_compile=False`

**Standalone code to reproduce the issue**
https://colab.research.google.com/drive/1TqFDfhxeM6JueuNYbiVBKj1gdUM

[2020-10-02 09:59] hrktngc opened #43724 "How it is done convolution calculation order in conv2d?"
I'm worried about cancellation of significant digits by convolution calculation order in conv2d.
I tried coding on my own on Python(using tf.math.add etc.), could not be reproduced Tensorflow API conv2d output.
Do you know detailed internal processing or original source code in API conv2d?

Development environment:
    Python 3.6
    TensorFlow 2.1.0
    JupyterNotebook

[2020-10-02 10:23] mansnils opened #43725 "There is no way to build Cortex-M55"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source): 1f9328f3a4662085b2cb948b9ed2b03d7259f78b
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**

**Please provide the exact sequence of commands/steps when you ran into t

[2020-10-02 10:35] Palkos83 commented on #43623
Hi guys,
Any progress on this?

[2020-10-02 11:10] peter197321 opened #43728 "multi-core support"
I have a question regarding the use of TensorFlow Microcontroller in the case of some multicore device (ARM CortexM cores). How to use TensorFlow Microcontroller within a multi-core device and switch between cores (heterogenous)?

[2020-10-02 11:31] bhack commented on #43702
I don't see too much unstable memory consumption:

[2020-10-02 11:34] RochMollero commented on #43535
precisely because you ran the working version only. the not working version is when you set

 return [e+varr, varr3],

(without the 0.0*)

[2020-10-02 11:39] xuxinyang opened #43729 "AutoGraph could not transform"
WARNING: AutoGraph could not transform <function Model.make_test_function.<locals>.test_function at 0x0000022F3CE53430> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause:
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_conv

[2020-10-02 11:44] bhack commented on #43702
Same example plotted with `mprun`

![test](https://user-images.githubusercontent.com/1710528/94919824-60873f00-04b5-11eb-881d-47ab1fcbd143.png)

[2020-10-02 11:55] suresh-s opened #43730 "NASNetLarge Keras Model - accuracy is very very low"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Issue happening on the Server while training
- TensorFlow installed from (source or binary): binary
- Tenso

[2020-10-02 12:12] Cyberface commented on #33131
I've found that using [TensorArray](https://www.tensorflow.org/api_docs/python/tf/TensorArray) is a good way around this.
There is a good example in the TF docs here about [accumulating_values_in_a_loop](https://www.tensorflow.org/guide/function#accumulating_values_in_a_loop)

basically something like this

[code]

[2020-10-02 12:33] louisnot commented on #27519
I did not face any problem using the gist.

[2020-10-02 13:02] georgwiese opened #43732 "Batch Renormalization via Keras Layer not working with TF 2+ and tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.15.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): `v2.3.0-

[2020-10-02 13:30] geeheim opened #43733 "CUDA 10.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Linux CentOS 7.8
- Mobile device (e.g. iPhone 8, Pixel 2,

[2020-10-02 13:50] Saduf2019 commented on #43729
@xuxinyang
Please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/37144#issuecomment-600350256) and let us know.
Similar issues: #38947 #41120 [link](https://stackoverflow.com/questions/62931610/warningtensorflowautograph-could-not-transform-function-format-example-at)
We see that you have not filled in the issue template, can you please try in the latest tf version(nightly

[2020-10-02 13:52] hamlatzis commented on #38036
You cannot always know beforhand the output shape of a tensor. What about the unique op? Both in TF and TFLite the shape of the first output tensor is calculated after everything is evaluated.

So in OpenCL how do you implement this? When you only know it's a 1D tensor?

[2020-10-02 13:58] Int37 opened #43734 "'@grpc//:gpr_base' failed (Exit 1)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): linux ubuntu 20.04
- TensorFlo

[2020-10-02 14:10] Dhananjay201 commented on #43709
@ritika-singh2000 Sure.Any help is appreciated.I think it is a bug with this whenever we use feature_columns to build a model.

[2020-10-02 14:21] DhruvAwasthi opened #43736 "Unable to train the model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Manjaro 5.4.64 kernel
- TensorFlow installed from (source or binary): Pycharm
- TensorFlow version: 2.3.1
- Python version: 3.8
- Installed using virtualenv? pip? conda?: virtualenv
- GPU model and memory: No GPU

**Describe the problem**
I have built a model architecture that takes in multimodal inputs i.e. vi

[2020-10-02 14:22] MikhailStartsev commented on #39439
Sorry for maybe a stupid question, but what workaround is the "final" one?
I have issues with device placement on Windows in C++ (basically cannot reliably place anything on a particular GPU, if several are capable enough to run Tensorflow), which I tried to solve with `options.config.mutable_gpu_options()->set_visible_device_list("0");` to work with GPU 0.

However, this leads to a crash: `F tens

[2020-10-02 14:50] dithyrambe commented on #43699
Having `tf.keras.metrics.Metric.get_config` as an `abc.abstractmethod` with an explicit mention in the docstring/documentation is the simplest "fix" I can think of.

[2020-10-02 14:59] sumitpai commented on #28090
I got the exact same issue today with tensorflow 2 when i was working on something similar and coincidentally you also encountered similar issue @pminervini . I am currently using the following workaround and it seems to run fast on GPU with adagrad:

[code]
I guess the addition of 0 should have no affect on the gradients.

[2020-10-02 15:15] dzakhar commented on #43686
Hi @advaitjain,
Thank you for warning us. We're looking at it. Hopefully we'll make changes soon

[2020-10-02 15:32] objectc commented on #38036
@srjoglekar246
Almost all the pre-trained models have such kind of placeholder for batch dim, and some may even have other dynamic dims like width and height. In fact, most of the immediate layer's output shape are dependent on the input size. Is there any way to set all the layers with a corresponding fixed value other than rebuild the model from scratch? It seems no API in TensorFlow can do it d

[2020-10-02 15:37] BenjaminChoou commented on #42993
This RFC will be open for comment until October 17, 2020.
| Status        |  Proposed                                            |
:-------------- |:---------------------------------------------------- |
| **RFC #**     | [295](https://github.com/tensorflow/community/pull/295) |
| **Author(s)** | Mingjie Zhou (benjamin_chou@outlook.com), |
| **Sponsor**   | François Chollet (francois.chollet@gmail

[2020-10-02 15:41] loretoparisi commented on #22480
I'm having the same issue when using ther converter

[code]

[2020-10-02 15:45] ebrevdo commented on #42993
Thank you Benjamin!

On Fri, Oct 2, 2020 at 8:37 AM BenjaminChou <notifications@github.com>
wrote:

[2020-10-02 16:11] thephet opened #43738 "Evaluation produces OSError: [Errno 24] Too many open files"
I have a dataset of around 40,000 images. I load them into memory using opencv and I put them in a long python list. Then I use a TimeseriesGenerator, like this:

``
generator = TimeseriesGenerator(allframes, allframes, length=75, sampling_rate=5, stride=2, batch_size=8)
``

Where allframes is just a python list where each entry is an image as loaded with opencv.

I then have a custom generator:
[

[2020-10-02 16:13] srjoglekar246 commented on #38036
@hamlatzis @objectc  You do not need to specify the shape of every intermediate tensor, since TFLite propagate shapes from the input dimensions. You only need to set the *input* shapes. Also note that you can resize the batch dims later, but you need something other than 'unknown' for on-device accelerators to fuse operations together and build their internal data structures. See [this](http://goo

[2020-10-02 16:13] chrstphrchvz commented on #42479
The `no matching function for call to object of type` error is because MacPorts upgraded to NumPy 1.19.x; I've opened a PR to address this in MacPorts which backports 75ea0b3147: macports/macports-ports#8203

[2020-10-02 16:27] pminervini commented on #28090
Thanks for the update! My workaround was slightly different - switching to
PyTorch

On Fri, 2 Oct 2020, 17:00 sumitpai, <notifications@github.com> wrote:

[2020-10-02 16:40] ccrusius commented on #42623
Our recommended way of retraining models is to use saved models. As far as I understand, we do not support going directly through protobufs as persistence mechanisms. I'll close this bug, feel free to open another one if the saved model approach does not work.

[2020-10-02 16:40] #42623 closed

[2020-10-02 16:42] jvishnuvardhan commented on #36694
Closing this issue as this was resolved in `tf-nightly`. Please let us know if you face the error again, we can reopen the issue. Thanks!

[2020-10-02 16:42] #36694 closed

[2020-10-02 16:43] hamlatzis commented on #38036
@srjoglekar246

regarding my comment (https://github.com/tensorflow/tensorflow/issues/38036#issuecomment-702746904) I was referring to OpenCL code that runs on the GPU.

For the CPU both tensorflow and tflite for the unique op (https://www.tensorflow.org/api_docs/python/tf/unique) the first tensor is 1D but shape is calculated dynamically when the unique values are found. Let's say now that you wa

[2020-10-02 16:47] #38349 closed

[2020-10-02 16:48] srjoglekar246 commented on #38036
Which is why our GPU backend doesn't support the case where shapes are generated at runtime :-)

[2020-10-02 16:51] chenghuige commented on #41899
@Saduf2019  Seems still will face this problem using tf 2.3 on colab. model.fit ok but model.predict model.evaluate all fail due to this failure.

[2020-10-02 16:53] mihaimaruseac commented on #43679
Yes, See #40728 for example.

[2020-10-02 16:59] signalprime commented on #17702
bump

[2020-10-02 16:59] #43298 closed

[2020-10-02 17:00] jvishnuvardhan commented on #23861
I am closing this issue as this was resolved in `tf-nightly`. Please feel free to reopen the issue If i am mistaken. Thanks!

[2020-10-02 17:00] #23861 closed

[2020-10-02 17:00] #43536 closed

[2020-10-02 17:01] #43330 closed

[2020-10-02 17:03] mihaimaruseac commented on #43301
I don't think we can remove it until we are sure there is no client that expects to see it in the proto. Otherwise, said client will get a bad parse, segfault or exhibit other unwanted behavior.

[2020-10-02 17:10] mihaimaruseac commented on #43693
What is missing from https://www.tensorflow.org/install/pip ?

[2020-10-02 17:11] jvishnuvardhan commented on #27519
I am closing this issue as this was resolved in `tf-nightly`. Please feel free to reopen if I the issue persists. Thanks!

[2020-10-02 17:11] #27519 closed

[2020-10-02 17:11] mihaimaruseac commented on #43629
If you want CUDA 11 you can use nightly. If you want to keep 1.x APIs then you can only use CUDA 10.0

[2020-10-02 17:13] pmeckoni commented on #43693
GPU support seems to be specific for Ubuntu 18.04 and Ubuntu 16.04 as seen on https://www.tensorflow.org/install/gpu#install_cuda_with_apt

[2020-10-02 17:13] saeta commented on #43690
Removing assignment as I'm no longer working on Python TensorFlow. Sorry!

[2020-10-02 17:19] mgreen-tc opened #43740 "Assertion error in Keras model with two string inputs and single output"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-10-02 17:39] PoseAI commented on #43676
hi, i confirm current tf-nightly resolves the issue.  hopefully conda upgrades soon as i try to avoid nightly builds.
thanks

[2020-10-02 17:39] #43676 closed

[2020-10-02 17:45] mtngld commented on #38701
Hi, any update on this issue?

Just tested exporting in both 2.3.1 and tf-nightly (2.4.0-dev20200930), running on device with the [pre-built benchmark app](https://storage.googleapis.com/tensorflow-nightly-public/prod/tensorflow/release/lite/tools/nightly/latest/android_aarch64_benchmark_model.apk) - still seeing the same issue.

Error message is a bit more clear

[code]

[2020-10-02 17:52] DEKHTIARJonathan commented on #43688
@annarev let me give you a crude of what I could be interested in doing if that could help:

[code]

[2020-10-02 17:55] andrescodas commented on #43710
Hi @allenlavoie @agarwal-ashish, thanks for the suggestion.  Simply wrapping `shaped_vectorized_map` with `tf.function` triggers other error:

[code]

you may check the details on [this notebook in collab](https://colab.research.google.com/drive/1H6kuQ8E66NbRi8V42V58OkLmSodzkt1i?usp=sharing).  I'm trying to fix it without success.  Any further advise would be appreciated.  Should I open a new issu

[2020-10-02 18:15] torabshaikh commented on #40547
@Saduf2019 I can reproduce the issue with the provided example and want to try to resolve it. I want to start contributing to the repo. Can you please guide me on that?

[2020-10-02 18:18] allenlavoie commented on #43710
Ah, I didn't realize there was tensor-dependent control flow in batched_execution. That might be an Autograph bug, or maybe just a case that isn't supported (yet? there was some question about the wisdom of re-writing Python lists as TensorLists, cc @mdanatg ). Filing sounds reasonable.

To get the vectorized graph cached you only need @tf.function around `lambda args: `lambda args: tf.vectorized_

[2020-10-02 18:36] mdanatg commented on #43710
The "Inaccessible tensor" error usually happens when you try to append to a Python list from within TF control flow. That's indeed not supported right now. I recommend using TensorArray or RaggedTensor instead of Python lists (for example the one used by `souts`).

[2020-10-02 18:41] ymodak commented on #40343
Your second usage with `np.roll` is correct. This is also added in the documentation of [timeseries_dataset_from_array](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/timeseries_dataset_from_array).
See example 2 in the doc. Thanks!

[2020-10-02 18:43] bhack commented on #43710
@mdanatg  Do you think that we can interecept this case with a better error message untill it will be supported?

[2020-10-02 18:43] neeraj-partha commented on #43547
verified with the below logs..
 LOGGER.i("Lib location: %s", this.getApplicationInfo().nativeLibraryDir);
Libs are present in the path

Also below step output in S20 Ultra is (Please see if this is hard coded)

Verify if your device indeed has a supported SoC. Run adb shell cat /proc/cpuinfo | grep Hardware and see if it returns something like "Hardware : Qualcomm Technologies, Inc MSMXXXX".

Hard

[2020-10-02 18:56] andrescodas commented on #43710
thank you all for your suggestions.  I did this:

and I could get 4x speed up in [this updated notebook](https://colab.research.google.com/drive/1H6kuQ8E66NbRi8V42V58OkLmSodzkt1i?usp=sharing#scrollTo=g107jX-qowJa).  I will try to scale up my solutions in this way and avoid the technicalities of TensorArray.

[2020-10-02 19:02] ymodak commented on #34539
The documentation for `tf.keras.layers.RNN` has been significantly improved now.
It answers most of the ask in the original issue such as arguments of the methods: call, build, get_initial_state and more.
See https://www.tensorflow.org/api_docs/python/tf/keras/layers/RNN

[2020-10-02 19:15] advaitjain opened #43743 "person_detection benchmarks do not build for STM32F4"
@tensorflow/micro

**System information**
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): #43509
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): STM32F4

After #43509 is merged, remove the exclusion for the person_detection and person_deteciton_experimental benchmarks and then:

[code]
will give the following error:
[code]

The easy f

[2020-10-02 19:16] advaitjain commented on #43743
@mansnils @freddan80  what do you think?

[2020-10-02 19:26] dobos commented on #42967
I just want to add that `tf.linalg.svd` without the `full_matrices=True` parameter also results in OOM if the input is large.

[2020-10-02 19:46] viotemp1 commented on #40343
ok, will use roll/shift when I need it.

[2020-10-02 20:17] mtngld commented on #38701
Also,

The even when using BHWC, the shader error is still there:

[code]

So anyway, both issues from https://github.com/tensorflow/tensorflow/issues/38701#issuecomment-620398307 are still there in tf-nightly

[2020-10-02 20:29] adithyaakrishna commented on #43674
If the issue is open, Can I work on this?🚀

[2020-10-02 20:31] adithyaakrishna commented on #23798
If the issue is open, Can I work on this?🚀

[2020-10-02 20:40] MarkDaoust commented on #23798
@adithyaakrishna nobody's currently working on this, If you want to contribute to these docs you're welcome to. They're generated from the docstrings in the [tensorflow/estimator repository](https://github.com/tensorflow/estimator/blob/master/tensorflow_estimator/python/estimator/export/export.py#L109).

[2020-10-02 20:45] mkuchnik opened #43744 "Variable and Slow InfeedEnqueueTuple on TPUv3-8"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): GCP VM with tf-version nightly
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use comma

[2020-10-02 20:58] jeisinge opened #43745 "Keras Backend ones_like with Lambda is not serializable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Databricks Runtime 7.3
- TensorFlow installed from (source or binary):  binary
- TensorFlow version (use command below): 2.3
- Python version: 3
- CUDA/cuDNN version: 10.1
- GPU model and memory: AWS p3.xlarge

**Des

[2020-10-02 21:02] mdanatg commented on #43710
@bhack Yep, there is a fix in the works to do that.

[2020-10-02 21:02] jsimsa commented on #43703
Sorry, the title of the issue mislead me and I didn't read the details. I can confirm I can reproduce the issue and will investigate.

[2020-10-02 21:13] #43272 closed

[2020-10-02 21:14] #38765 closed

[2020-10-02 21:14] #43203 closed

[2020-10-02 21:14] #43171 closed

[2020-10-02 21:14] #43116 closed

[2020-10-02 21:14] #43112 closed

[2020-10-02 21:14] #42864 closed

[2020-10-02 21:14] #43309 closed

[2020-10-02 21:14] #43295 closed

[2020-10-02 21:14] #43334 closed

[2020-10-02 21:14] #43331 closed

[2020-10-02 21:14] #43335 closed

[2020-10-02 21:14] #41843 closed

[2020-10-02 21:14] #40412 closed

[2020-10-02 21:59] jsimsa commented on #43703
There was indeed a bug and I have a pending fix out which when submitted will autoclose this issue.

[2020-10-02 22:32] DJJD17 opened #43747 "Cannot import tensorflow"
First time post on github.  trying to import tensorflow on local machine.  keep getting a runtime error.  please advise.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mo

[2020-10-02 23:27] #43703 closed

[2020-10-02 23:34] Nithanaroy commented on #38064
Looks like this happens when size of the training data is <= batch size

[2020-10-02 23:51] goldiegadde commented on #34508
@OverLordGoldDragon is this still an issue, this maybe coming very late, and you might have figured this out already  [get_gradients is only supported in v1 style graph mode](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer?version=nightly#get_gradients). for computing gradients in Eager mode, please check this [link](https://www.tensorflow.org/guide/eager#eager_training)

[2020-10-03 00:08] mihaimaruseac commented on #41132
Hi. We have uploaded the 2.3.1 libtensorflow binaries. Apologies for the delay, I missed them during the patch release

[2020-10-03 00:11] frank-qcd-qk commented on #43718
@mihaimaruseac I noticed that in another thread you mentioned there is a libtensorflow upload, will that potentially also fix this issue?

[2020-10-03 00:13] mihaimaruseac commented on #43718
Only if this issue stems from libtensorflow, not from the pip package

[2020-10-03 00:31] MeghnaNatraj commented on #41846
Marking the issue as closed as it has been fixed. Feel free to re-open it if the issue is still unresolved.

[2020-10-03 00:31] #41846 closed

[2020-10-03 01:31] jvishnuvardhan commented on #41305
I can reproduce the issue. [Here](https://colab.research.google.com/gist/jvishnuvardhan/09b4600f647eff8bea6d9963772af53f/untitled.ipynb) is the gist for our reference. Thanks!

@ppershing In future, please try to share full code so that it is easy to reproduce and find root-cause of the issue. Thanks!

[2020-10-03 01:42] jvishnuvardhan commented on #43653
@Doekeb we have updated it and it will take some time to reflect on TF website. Thanks for raising this issue.

I am closing this issue as this was resolved. Thanks!

[2020-10-03 01:42] #43653 closed

[2020-10-03 03:16] Rakeshpavan333 opened #43749 "Memory blowup converting from TFLite to C"
I am observig a blowup of around 6-7x in memory size when converting a model from tflite flatBuffer to C source.

For easier reproducibility, I am reporting with the TFLite models obtained from the MNIST tutorial [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/performance/post_training_integer_quant.ipynb)

I use the following method for converting from tflite mod

[2020-10-03 03:21] andrejmz opened #43750 "Import issue with tensor flow Windows 10 python 3.7"
Hi

I am trying to make this tutorial work : https://github.com/ildoonet/tf-pose-estimation/blob/master/.
I am having an error in file tf-pose-estimation-master\tf_pose\estimator.py",
The import """import tensorflow.contrib.tensorrt as trt""" was causing an error, after having read about this issue, using
from tensorflow.python.compiler.tensorrt import trt didnt fix it either, what must i do ?

Be

[2020-10-03 03:25] mgreen-tc commented on #43740
I figured out my issue: was not shaping the input correctly. Sorry for the false alarm!

[2020-10-03 03:25] #43740 closed

[2020-10-03 03:42] lpen027 opened #43751 "Win10+CUDA11.1+cudnn8.0.4+rtx3090"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- Mobile device (e.

[2020-10-03 03:44] drmatthewclark opened #43752 "Documentation example for tf.keras.utils.Sequence is incorrect; 'fencepost' error in example code"
on
https://www.tensorflow.org/api_docs/python/tf/keras/utils/Sequence

In the example generator there is code to return a batch:

    def __getitem__(self, idx):
        batch_x = self.x[idx * self.batch_size:(idx + 1) * self.batch_size]
        batch_y = self.y[idx * self.batch_size:(idx + 1) *self.batch_size]

however this returns (batch_size + 1 ) results.   for example if batch_size = 1,  requ

[2020-10-03 03:46] drmatthewclark commented on #43752
oops, was wrong about python behavior with indices.

[2020-10-03 03:46] #43752 closed

[2020-10-03 04:06] jvishnuvardhan commented on #43750
@andrejmz The link you provided is not working. I ran your code mentioned above wiithout any issue. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/45899b5ba07198f475b3ac04c85fe770/untitled.ipynb). Thanks!

[2020-10-03 04:16] jvishnuvardhan commented on #43729
@xuxinyang Can you please share a simple standalone code to reproduce the issue? Thanks!

[2020-10-03 04:27] jvishnuvardhan commented on #43721
@redrussianarmy Looks like you have a custom layer in your model. When you save a model (that has a custom layer) in `h5` format, then you need to use `custom_objects` when loading the model as described [here](https://www.tensorflow.org/tutorials/keras/save_and_load#saving_custom_objects).

For example
`new_model = keras.models.load_model('model.h5',custom_objects={'CustomMetric':CustomMetric()})

[2020-10-03 04:27] DavidInWuhanChina opened #43753 "Segmentation fault (core dumped)"
**System information**
- OS Platform and Distribution :CentOS Linux release 7.7.1908
-TensorFlow version:2.3.0

I try to convert [the tensorflow offical image caption model ](https://www.tensorflow.org/tutorials/text/image_captioning?hl=en)to TFLite model

And Now I have successfully convert the model using ```tf.lite.TFLiteConverter.from_concrete_functions```
as following:
[code]

And I Visualize

[2020-10-03 06:48] samhodge commented on #39439
I wish you well.

The solution is blocked by two issues.

The DLL cannot be dynamically linked because the symbols from lib protobuf will overlap with the symbols from Tensorflow

Statically linking leads to a object file symbol archive which is larger 2Gb

So while there is this

https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/gcallowverylargeobjects-element

[2020-10-03 06:57] samhodge commented on #39439
This might help

https://developercommunity.visualstudio.com/content/problem/332991/static-lib-4gb-file-size-limit-lnk1248-image-size.html

[2020-10-03 06:58] maifeeulasad commented on #43665
@amahendrakar and I have updated to tf2.3 and tf-gpu2.3 too

[2020-10-03 09:02] Gare-Ng commented on #35100
Ideas from stackoverflow.  I just directly copy the code from deeplearning.ai in colab. A part of it goes like this:
`train_generator = train_datagen.flow_from_directory(
        'horse-or-human/',  # This is the source directory for training images
        target_size=(300, 300),  # All images will be resized to 300x300
        batch_size=128,
        # Since we use binary_crossentropy loss, we n

[2020-10-03 09:12] sehoffmann opened #43755 "training.tracking.data_structures.List is not properly serialized / deserialized"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.1
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.3.0-54-gfcc4b966f1 2.3.1
- Python version: 3.6.9
- CUDA/cuDNN version: 10.1
- GPU model and memory: G

[2020-10-03 09:48] XtremeGood commented on #43634
I 'm not able to understand why it can't be done. The subdirs can have same images and they will have same name. In case of k-hot encoding, all that's to be done to create a n-dim vector for each entry.
Example if,
A, B, C and D are the subdirs and A and B have a common file abc.png then corresponding to "abc.png" a label of array([1, 1, 0, 0]) can be made. I 'm unable to see what problems can be

[2020-10-03 09:51] XtremeGood commented on #43634
Also, I w'd like to contribute if I can get a little bit of support because I haven't contributed so far yet.

[2020-10-03 09:59] OverLordGoldDragon commented on #34508
@goldiegadde [Resolved](https://stackoverflow.com/a/61952452/10133797).

[2020-10-03 09:59] #34508 closed

[2020-10-03 10:53] Rimehdaoudi opened #43756 "Hi, am trying to visualize the loss function using tensorboard"
Hi am trying to view loss function using tensorboard , am using google colab, i edit my code as following:
`import tensorflow as tf
import datetime
%load_ext tensorboard

sess = tf.Session()

file_writer = tf.summary.FileWriter('/path/to/logs', sess.graph)
logdir = os.path.join(
    "logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
tensorboard_callback = tf.keras.callbacks.TensorBoard(log

[2020-10-03 11:46] AlmCoding commented on #25970
I have the same problem with tensorflow 2.3.0 when using l1/l2 regularization.

[2020-10-03 11:56] andrejmz commented on #43750
Hi

Here is the link: https://github.com/ildoonet/tf-pose-estimation
I've just uninstalled tensorflow, than installed tensorflow-1.15.3 as you recommended.
I still have the error:

  File "run_webcam_picture.py", line 8, in <module>
    from tf_pose.estimator import TfPoseEstimator
  File "C:\Users\mz\Downloads\tf-pose-estimation-master\tf_pose\__init__.py", line 5, in <module>
    from tf_pose.ru

[2020-10-03 13:36] chrism0dwk commented on #43170
A quick update: I tried installing tf-nightly via the Docker container, and I get the same error.  So, either this is a problem with my NVIDIA driver version (455.23.05), or there is an underlying bug in TF.  Terminal log from the interactive container attached.

[tf_docker_abrt.txt](https://github.com/tensorflow/tensorflow/files/5321758/tf_docker_abrt.txt)

[2020-10-03 14:34] ammeitzler commented on #37865
was this figured out? I am stuck on same problem

[2020-10-03 15:43] ashwin-phadke commented on #43697
@lamberta  I followed the instructions given [here](https://www.tensorflow.org/community/contribute/docs_ref#test_on_your_local_machine) yet I am still facing the issue

[code]

I have also installed tf_nightly over the already installed tensorflow.

[2020-10-03 15:44] RonLek commented on #41279
@Harsh188 I've made some changes to math_ops as well. Any idea how you fixed this issue?

[2020-10-03 15:45] archie94 opened #43793 "Fatal Exception: java.lang.IllegalArgumentException: Internal error: Failed to apply delegate: OpenCL library not loaded - dlopen failed: library "libOpenCL-pixel.so" not found"
**System information**

Mobile Device - Android - across multiple Android version (6, 7, 8)

**Describe the current behavior**

Invoking `org.tensorflow.lite.Interpreter` causes crash on some cases

**Describe the expected behavior**

Should not crash

**Standalone code to reproduce the issue**

I am getting this on crash analysis tool. Since this is not reproducible on my devices I am not able to

[2020-10-03 16:07] AkshayRoyal opened #43757 "creating tf.data.Dataset object from generator gives error for incorrect file name"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Pl

[2020-10-03 16:17] ashwin-phadke commented on #41279
Any workarounds ? So far I have tried to change import to local file but that doesn't work too.

[2020-10-03 16:22] tanzhenyu commented on #43634
How would you like to propose it be done?

[2020-10-03 16:38] XtremeGood commented on #43634
@tanzhenyu  As said here.

[2020-10-03 16:46] tanzhenyu commented on #43634
That seems do-able, I was thinking something else.
I will mark this as contribution welcome

[2020-10-03 16:47] XtremeGood commented on #43634
Thank you.

[2020-10-03 17:11] ashwin-phadke commented on #43697
[code]

I am getting two different results .

[2020-10-03 17:21] ashwin-phadke commented on #43750
@andrejmz  I would suggest you to use https://github.com/gsethi2409/tf-pose-estimation this version with the latest tensorflow version.

[2020-10-03 17:46] imrahul361 commented on #43634
I would like to know how to approach this problem? and contribute to it. Please guide me

[2020-10-03 17:48] jiaoshigun408 commented on #33924
I got the same issue. once i meet Function call stack, using allow memory growth can solve. but this time it failed. in colab, memory is enough. Someone have 11G of 2080ti and I have 6G of 1660 memory may be too small. in the next tutorial named transformer model , this code filter method drop too long sentence. maybe pad too many zero is not good. after i add the filter code block in front of  sh

[2020-10-03 17:54] Aksh-kumar commented on #42979
Thanks I will definitely try to give my best in community support.

[2020-10-03 17:54] #42979 closed

[2020-10-03 18:19] charanhu opened #43760 "creating segmentation"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-10-03 18:33] Saduf2019 commented on #43756
@Rimehdaoudi
Please refer to [this comment](https://github.com/tensorflow/tensorboard/issues/1340#issuecomment-529612368) as per which this error does not exist in 2.x version, could you please upgrade your tf version as there is no support for 1.x and let us know if the issue exist.
you may also refer to issues with siilar error: [link](https://stackoverflow.com/questions/44417133/typeerror-value

[2020-10-03 20:08] iperov commented on #43751
for which 'compute capabilities' are you trying to build?

[2020-10-03 20:31] MAMOMIMOMU opened #43761 "Error : Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution : Ubuntu20.04
- TensorFlow installed from (source or binary): conda install tenso

[2020-10-03 20:32] iperov commented on #43751
I have similar error
[code]

[2020-10-03 21:08] parnham commented on #41132
Hi @mihaimaruseac

Using the link from https://www.tensorflow.org/install/lang_c#download and assuming that the new version was in the same location, I downloaded https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-gpu-linux-x86_64-2.3.1.tar.gz

Unfortunately that build seems to have the same issue:
[code]
In fact running a diff between the old and new libtensorflow.so.2.3.0 file

[2020-10-03 21:15] heizie commented on #27383
i've same problem. Just use the transpose from numpy instead

[2020-10-03 21:58] andrejmz commented on #43750
So

I have downloaded files from this link https://github.com/gsethi2409/tf-pose-estimation
Than cd into the appropriate directory than pip install -r requirements.txt
than python run_webcam_picture.py
and i have errors:

C:\Users\mz\Downloads\tf-pose-estimation-master (3)\tf-pose-estimation-master>python run_webcam.py
2020-10-03 23:58:13.307125: W tensorflow/stream_executor/platform/default/dso_l

[2020-10-03 22:22] tatianashp commented on #27383
@heizie - what version of TensorFlow do you see the issue on?

[2020-10-04 03:10] Harsh188 commented on #41279
Can you link your PR so I can take a look?

[2020-10-04 03:48] AkshayRoyal commented on #43761
Were using 2 environments simultaneously for prototyping? I mean this usually happens when you run tensorflow model that initializes cuDNN in one environment and then you try to run another model in some other environment before deactivating the previous environment. I have faced it and in my case this was the issue.
Let me know if it helps

[2020-10-04 03:58] Harsh188 commented on #43674
@adithyaakrishna Feel free to open up a PR

[2020-10-04 05:56] adithyaakrishna commented on #43674
Okay, Thanks! @Harsh188 :)

[2020-10-04 06:17] MAMOMIMOMU commented on #43761
Thank you @AkshayRoyal for answering.According to what the interpreter says, it might be the case.
Is it possible for one GPU being taken up by a process run on Windows and still so even after PC is shut down and apparently no software related to GPU(such ad CUDA or cudnn) is alive(not sure in backend), or even after Linux is installed in another SSD and conda environments are built where I try to

[2020-10-04 06:27] MAMOMIMOMU commented on #43761
I tried different kinds of environments on which tensorflow runs, but still got the same error. So I suspect the GPU is in an abnormal state. Another possibility is that conda environment doesn't go along with tensorflow since it is installed automatically with some version of cudatoolkit and cudnn, and I cannot change the version of them. For example, on Ubuntu 20.04, conda install tensorflow 2.2

[2020-10-04 06:59] RonLek commented on #41279
Sure @Harsh188 here it is #43758

[2020-10-04 07:58] iperov commented on #43751
also builder does not show exact error , just compilation failed

[2020-10-04 08:04] MAMOMIMOMU commented on #43761
Here is my output from nvidia-smi command.
I don't think these remaining process matter though.

mamo@mamo-MS-7B86:~$ nvidia-smi
Sun Oct  4 17:01:29 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 455.23.05    Driver Version: 455.23.05    CUDA Version: 11.1     |
|-------------------------------+----------------------+----------------------+
| GPU

[2020-10-04 08:05] AkshayRoyal commented on #43761
@MAMOMIMOMU It won't matter if you try different environments until you close the IDE or deactivate the environment that initialized cuDNN to run your model. Restarting should automatically do that for you and try running any convolutional neural net. You should be able to do it.
Also, were you able to run any CNN on the environment that has TensorFlow installed? If no, then it suggests that cuDNN

[2020-10-04 08:27] amahendrakar commented on #41118
@MikhailStartsev,
Any updates regarding this issue? Please feel free to close the issue if resolved. Thanks!

[2020-10-04 08:42] amahendrakar commented on #43517
@An-Shank,
On running the code I am facing an error stating `AttributeError: 'NoneType' object has no attribute 'astype'`.

Could you please share the dataset (i.e. the contents of `DIR_PATH`) you are using in the code, so that we can reproduce the issue on our end. Thanks!

[2020-10-04 08:51] amitport commented on #11776
@drpngx  still happens on windows and tensorflow 2.2 (tensorflow 2.3 and nightly have other issues on windows that prevents me from upgrading, and test this)

[2020-10-04 09:23] yair-ehrenwald commented on #43749
Try compiling the .cc file, I think you'll find the object file is pretty similar to the tfilte one.

[2020-10-04 09:37] michalCyberfish commented on #25970
I'm having the same issue with TensorFlow GPU 2.1.0 and **no regularization**. However, this happens only on the validation step.

[2020-10-04 10:04] michalCyberfish opened #43763 "Loss and metric calculated differently on validation"
I'm using `keras.applications.vgg19` with some custom loss function (cross-entropy based). I'm using the loss function both as a loss and as a metric. While training, I've been getting the same values for both loss and metric, but for validation, those values are different.

![image](https://user-images.githubusercontent.com/59140738/95012520-ecc66d00-0641-11eb-99e0-370ff41af92f.png)

You can see

[2020-10-04 10:16] RomanGirin opened #43764 "UnknownError: Failed to get convolution algorithm."
**System information**

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
TensorFlow installed from (source or binary): binary **(no errors during installation)**
TensorFlow version: 2.3.1
Python version: 3.7.5
CUDA/cuDNN version: 10.1
GPU model and memory: RTX 1660 Ti 6.00GB
[full

[2020-10-04 10:24] anshkumar opened #43765 "LookupError: gradient registry has no entry for: TensorScatterMax"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.4 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2

[2020-10-04 10:28] brand17 opened #43766 "Error when creating model with LSTM layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro 1909 OS build 18363.1016
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.3.0
- Python version: 3.6.0
- CUDA/cuDNN version: N/A
- GPU model and memory:

[2020-10-04 10:28] RomanGirin commented on #43764
That may be obvious from the description of the bug, but for more precise issue localization:  if Convolution layer is excluded from the model everything works too.
But **usage tf.keras.layers.Conv2D causes described above bug.**

[2020-10-04 10:32] #43664 closed

[2020-10-04 10:42] brand17 commented on #43766
I have found out that the error happens only when I run in Visual Studio. So I think that this issue relates to Microsoft.

[2020-10-04 10:42] #43766 closed

[2020-10-04 10:47] iperov opened #43767 "Build error: concat_lib_gpu.cc(123): error C2908: explicit specialization"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
- TensorFlow install

[2020-10-04 10:57] javedsha commented on #43236
@ravikyram why this is waiting for author response? The steps in the documentation doesn't work.

[2020-10-04 11:04] MAMOMIMOMU commented on #43761
@AkshayRoyal
Actually, I was able to run the same ipynb file on Windows, but one day suddenly the error came to occur. I didn't change my environment at all so I had no ideas about the unknown error.

You gave me a good insight that cudnn isn't working. So I tried nvidia/cuda:11.1-runtime-ubuntu20.04 since [this page](https://hub.docker.com/r/nvidia/cuda) implies that cudnn is not provided in the

[2020-10-04 11:17] yonatankarimish opened #43768 "Dataset.from_generator() returns a Dataset which freezes execution upon iteration"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Google Colab, running Ubuntu 18.04.5 LTS (Bionic Beaver)**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **None**
- TensorFlow installed from (source or binary):

[2020-10-04 11:25] heizie commented on #27383
tf 2.2

[2020-10-04 11:40] AkshayRoyal commented on #43761
@MAMOMIMOMU  tensorflow 2.2 requires cuda 10.1 but you are using 11.1
Install cuda 10.1 and also check this [link](https://www.tensorflow.org/install/source#linux)

[2020-10-04 12:00] Mova-2020 opened #43769 "tensorflow is not running on my miniconda"
I have installed tensorflow using pip install, but it does not run.

When trying to run it, I receive the following error message:

(base) PS C:\WINDOWS\system32> python
Python 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)] :: Ana
conda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\ProgramDat

[2020-10-04 13:02] amahendrakar commented on #43323
@haiqinzhong,
Could you please provide the Python script/notebook you are running along with the dataset you are using, so that we can reproduce the issue on our end? Thanks!

[2020-10-04 13:03] mdew192837 commented on #31546
@robieta , Just to confirm, is this fixed with `tf` version `2.1.0`? (aka how do I check?)

Thanks!

[2020-10-04 13:12] amahendrakar commented on #43495
Was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/09d4c59e95cf33664294291c9d9e3647/43495.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/4305e4aacd3fef25bef156da96c0617b/43495-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-10-04 13:21] Mova-2020 commented on #43769
Thank you, tensorflow-butler.

[2020-10-04 13:30] amahendrakar commented on #43530
@Midhlaj2006,
Colab is not available offline. You need to be connected to the internet to access Google Colab. For more information please take a look at the [FAQs](https://research.google.com/colaboratory/faq.html). Thanks!

[2020-10-04 14:01] amahendrakar commented on #43585
@quartermaine,
Thank you for the update. I am unable to view the files from the given link. Could you please provide the required permissions to access the files as well? Thanks!

[2020-10-04 14:05] ashwin-phadke commented on #43750
Did you try going through numerous such cases already on stackoverflow and issue tab here , I guess https://github.com/tensorflow/tensorflow/issues/23692 is something that can help you maybe this too https://forums.developer.nvidia.com/t/importerror-cannot-import-name-tensorrt-from-tensorflow-python-compiler/80633/2. You need to look into searching for your errors. As i am using Linux I cannot tra

[2020-10-04 14:16] Debottam commented on #43312
Hi @jvishnuvardhan ,
My apologies for the delayed reply. Thanks a lot for debugging it.

Thanks,
Debottam.

[2020-10-04 14:16] #43312 closed

[2020-10-04 14:34] momohatt opened #43770 "Wrong paragraph ordering in tutorial"
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/keras/classification

## Description of issue (what needs changing):

When you open the above tutorial, the description of the dataset (Fashion MNIST) is placed at the bottom of the page.
However, in [the original .ipynb file](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/keras/classification.ipynb), it is in the fi

[2020-10-04 14:46] fuomag9 commented on #25138
Does anyone have a black screen in games after receiving " Could not create cudnn handle: CUDNN_STATUS_ALLOC_FAILED" in tensorflow during training? I've found no solution to this other than rebooting, it fixes both the error (temporarily because it can happen again randomly) and the game issue (which would make it connected to the error itself)

[2020-10-04 15:01] #43769 closed

[2020-10-04 15:05] bavanhassel opened #43771 "Defined layers but received error: __init__() missing 1 required positional argument: 'layer'"
print(tf.__version__) 2.2.0
print(keras.__version__) 2.3.0-tf

Message:
 __init__() missing 1 required positional argument: 'layer'

I would like to better understand why I get this message with the following definition used in the example:

https://aihub.cloud.google.com/p/products%2F2290fc65-0041-4c87-a898-0289f59aa8ba

Model function definition:

def model_fn(features, labels, mode, params = pa

[2020-10-04 15:11] emados opened #43772 "third_party/gpus/find_cuda_config.py is unable to detect cudnn version and causing `./configure` to fail"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 LTS
- Mobile devi

[2020-10-04 15:56] nerai commented on #17076
Kindly requesting what is the status of this ticket?

[2020-10-04 16:07] juulie opened #43773 "Saving and loading Keras model with RNN layer that uses both multiple input and constants will result in ValueError when using model.predict()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):2.3.0
- Python

[2020-10-04 16:39] neeraj-partha commented on #43547
Which android version and phone model you're using in the latest run

- Android 10

In the initialize line for the delegate
(e.g.) hexagonDelegate = new HexagonDelegate(activity);
Can you print
activity.getApplicationInfo().nativeLibraryDir

- This is already verified. Shared lib files are present in the path LOGGER.i("Lib location: %s", this.getApplicationInfo().nativeLibraryDir);
Libs are presen

[2020-10-04 16:40] amahendrakar commented on #43624
@brendanxwhitaker,

On running the Colab notebook you have linked, I am facing an error stating `RuntimeError: tensorflow/lite/kernels/reshape.cc:58 stretch_dim != -1 (0 != -1)Node number 5 (RESHAPE) failed to prepare.
Node number 125 (WHILE) failed to prepare.`.

Please find the gist of it below

https://colab.research.google.com/gist/amahendrakar/3191da10980ff8d1493e6ff76eaa394f/43624-tf-nightly

[2020-10-04 16:46] NguyenHongSon1103 commented on #43527
@amahendrakar
I followed here https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html and used file "exporter_main_v2.py" from tensorflow repository

[2020-10-04 17:14] krn-sharma opened #43775 "Add metadata in tensorflow lite model"
How to add metadata in object detection model? In documentation only about image classifier model is given.

[2020-10-04 17:58] amorisot commented on #37132
For what it's worth, I am running into the exact same problem, except it has crashed twice in the span of 24 hours, roughly 12 hours into training both times.

[2020-10-04 18:29] scd75 commented on #43703
Hello, thanks for re-checking, however I installed tf-nightly today, and still have the issue when running the code above..

[2020-10-04 20:03] MAMOMIMOMU commented on #43761
@AkshayRoyal
Thank you for giving me a possible solution, but no, it didn't work.
I edited my Dockerfile as below;

[code]
Though my OS is ubuntu20.04, there is no docker image like nvidia/cuda:10.1-devel-ubuntu20.04 (only for cuda11.0 or above)so I used nvidia/cuda:10.1-devel-ubuntu18.04 instead.

Now my environment is as below;

[code]
Please note that nvidia-smi says I'm using CUDA 11.0, but I'

[2020-10-04 20:25] krn-sharma commented on #42153
@Paranormaly  I am also facing exact same issue. Have you resolved it?

[2020-10-04 21:51] fabiogeraci commented on #43599
any news, please?

[2020-10-04 22:36] quartermaine commented on #43585
@amahendrakar,

Can you try this [link](https://drive.google.com/file/d/1FVg2Ku5U3eS5MpiELYxMeEKM6AVwiCbw/view?usp=sharingl).

[2020-10-04 23:32] leofrio opened #43776 "OSError: [WinError 126] The specified module could not be found even when following documentation"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- windows 10 home single language
- TensorFlow installed from :cmd
- TensorFlow version:1

[2020-10-05 00:02] diyessi opened #43777 "Trivial example does not save/restore weights, prints warnings from TensorFlow/Keras implementation"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-10-05 00:11] mkuchnik commented on #43744
Same issue with [tpu repository](https://github.com/tensorflow/tpu/tree/master/models/official/resnet)

[2020-10-05 00:20] victorromeo commented on #43472
Bump, as I'm still authoring a TRANSPOSE operation for the micro interpreter.

[2020-10-05 00:22] victorromeo commented on #40497
Closing due to inactivity

[2020-10-05 00:22] #40497 closed

[2020-10-05 01:37] abattery commented on #43607
Could you try `interpreter.resize_tensor_input` before assigning the value?

[2020-10-05 01:51] haiqinzhong commented on #43323
Yeah, but how can i give you? Can you give me a email so that i can give it to you solely. @amahendrakar

[2020-10-05 02:17] jsudlow commented on #38518
Hey everyone. After struggling with this issue I finally got tensor flow to work with windows and python. I was getting the eager variable name reuse error. Really was annoying because if you downgrade you can't use functions to import image sets. The other alternative is to not use the GPU...which defeats the purpose if you want train models and use them to make meaningful predictions.

Step 1: U

[2020-10-05 02:28] xuxinyang commented on #43729
OS: window10 Pro
Development platform:Anaconda
Python: 3.8.3
Tensorflow: 2.2.0
Code:
----------------------------------------------------------------------------------------------------------------------
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np

# add dataset fashion——mnist
(train_images, train_labels), (test_images, test_labels) = tf.keras.datasets.fashion_mnist.

[2020-10-05 02:34] manasmacherla opened #43778 "Tensorflow does not work because of Cudnn library issue"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- Mobile device (e.g.

[2020-10-05 03:59] AndreyPlotkinOr commented on #41926
Is it something that will be integrated into TF build is some reasonable time period?

[2020-10-05 04:06] AndreyPlotkinOr commented on #41926
@npanpaliya "edit the files mentioned here mozilla@6fad14b#diff-18a66e25fbcbd72730332a799ddee2ec."
What files do you mean? Or do I have to apply this patch as well?

[2020-10-05 04:13] vantainguyen commented on #34385
I still got the same error; why is that?

[2020-10-05 04:53] Saduf2019 commented on #43729
@xuxinyang
i ran the code shared on tf 2.2 and tf nightly and do not face any errors please find the [gist here for nightly](https://colab.research.google.com/gist/Saduf2019/7409ab49eca8b5fe7cbac89e4153349b/untitled418.ipynb) and [tf 2.2](https://colab.research.google.com/gist/Saduf2019/d8c5bcf1a7b5fed844f6fce3fa9a628f/untitled424.ipynb).
Could you let us know if you have gone through the link sha

[2020-10-05 05:05] xuxinyang commented on #43729
OK! I ran the code on nightly, the issue not exist! Thank you! Maybe some other factors！

[2020-10-05 05:24] ravikyram commented on #43777
@diyessi

This issue has been resolved in TF nightly version. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/db47a93deb4f8ba866bfefe2bd2ccd35/untitled411.ipynb).Please, verify once and close the issue. Thanks!

[2020-10-05 05:31] Kishanrajput commented on #32032
@kristofgiber, could you please provide details of your solution. How you set up train_images? I'm using
tf.keras.preprocessing.image.ImageDataGenerator(rescale=1./255).flow_from_dataframe()
for CPU and single GPU training but when transferring to multi-GPU training with tf.distribute.MirroredStrategy(), I could not find any documentation on how to distribute dataset among GPUs with flow_from_data

[2020-10-05 05:33] Saduf2019 commented on #43775
@krn-sharma
Please refer to [this link](https://www.tensorflow.org/lite/convert/metadata).
you may also refer to [link](https://www.tensorflow.org/lite/inference_with_metadata/codegen).

[2020-10-05 05:35] Saduf2019 commented on #43729
@xuxinyang
Glad the issue is resolved for you, can you please move this to closed status, thanks for your update!

[2020-10-05 05:36] #43729 closed

[2020-10-05 05:36] amahendrakar commented on #43645
@innovativeC,
In this case, could you please share a dummy dataset with similar shape and size, so that we can reproduce the issue on our end. Thanks!

[2020-10-05 05:51] ravikyram commented on #43703
@scd75

I am not seeing any issue in nightly version.Please,find the gist [here](https://colab.research.google.com/gist/ravikyram/d92fd919aaeac0f7137b15b849d46dab/untitled412.ipynb).Thanks!

[2020-10-05 05:52] amahendrakar commented on #43661
Was able to reproduce the issue. Session crashes on running the code with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/9253e439795b5ccf487ada3ab385bb90/43661-tf-nightly.ipynb). Thanks!

[2020-10-05 06:02] ravikyram commented on #43773
I have tried in colab with TF version 2.3 [gist ](https://colab.research.google.com/gist/ravikyram/c9faf64717b07cdfcea9f94a58656de3/untitled414.ipynb), nightly version [gist](https://colab.research.google.com/gist/ravikyram/cb845f973d39417bf741a1549ee57f01/untitled415.ipynb) and was able to reproduce the issue.Thanks!

[2020-10-05 06:27] npanpaliya commented on #41926
Editing the files in absl as per the changes mentioned at mozilla/tensorflow@6fad14b#diff-18a66e25fbcbd72730332a799ddee2ec.
Then create a single patch of existing content of https://github.com/tensorflow/tensorflow/blob/v2.3.0/third_party/com_google_absl_fix_mac_and_nvcc_build.patch and changes in mozilla/tensorflow in that commit.

Regarding TF including these changes - I think it will probably n

[2020-10-05 06:35] ravikyram commented on #43764
@RomanGirin

I have tried in colab with TF version 2.3.0 and i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/564e7bc08f0128fa8c084b68b2437227/untitled416.ipynb).Please, help us with reproducible code. It helps us in localizing the issue faster. Thanks!

[2020-10-05 06:39] ravikyram commented on #43751
@lpen027

Please, see tested build configurations from [here](https://www.tensorflow.org/install/source_windows#gpu).Thanks!

[2020-10-05 06:46] innovativeC commented on #43645
@amahendrakar, Sure I am sharing the URL of the dataset I used, [https://www.kaggle.com/vetrirah/av-healthcare2?select=train.csv](url). The data_seg.x_tr and data_seg.y_tr here would be the X and Y sets.

[2020-10-05 06:53] #40343 closed

[2020-10-05 07:09] ravikyram commented on #43755
I have tried in colab with TF version 2.3 and was able to reproduce the issue.Please, find the gist [here.](https://colab.research.google.com/gist/ravikyram/edd95a5ea2b8e20653c85f4f7562e4cf/untitled418.ipynb). However i am seeing the below error message in TF nightly version(`AttributeError: module 'tensorflow' has no attribute 'python'`).Please, find the gist [here](https://colab.research.google.

[2020-10-05 07:10] devratapuri commented on #37323
I am new to this can anyone tell me from where to begin.

[2020-10-05 07:11] #43385 closed

[2020-10-05 07:11] #43378 closed

[2020-10-05 07:15] sauraj12 commented on #37323
This is my first issue... I am working on it...if anyone got some information related to this issue please let me know

[2020-10-05 07:29] amahendrakar commented on #43256
@neesetifa,
On running the given code, I am facing an error stating `AttributeError: 'NoneType' object has no attribute 'shape'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/4f2a37f3d94d9adbe47d5432a7e0db4a/43256.ipynb).

Please provide a simple standalone code snippet which we can run at out end and reproduce the issue. Thanks!

[2020-10-05 07:35] yashi21 opened #43781 "[MLIR] TFlite contains unused file"
**tensorflow/compiler/mlir/lite/transforms/load_quantization_recipe.cc** is called via
`tf-opt -allow-unregistered-dialect -tfl-load-recipe %s | FileCheck %s`

However, according to [this commit](https://github.com/tensorflow/tensorflow/commit/36167cb04c890f55f8abf1df1d79bf4bf6361d08), "-allow-unregistered-dialect" is disabled (the only way to call the file is deprecated).
Hence, in **tensorflow/c

[2020-10-05 07:45] Int37 opened #43782 "can't compile tensorflow from source"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): linux ubuntu 20.04
- TensorFlo

[2020-10-05 07:51] alanpurple commented on #43720
also emit error in ubuntu

[2020-10-05 07:53] scd75 commented on #43703
Hi, thanks I get it.. I'm working on a windows env, and for some reason the last tf-nightly version available for windows on Pypi is 20201002. Will re-check when available.

[2020-10-05 07:57] amahendrakar commented on #43706
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/5ebb056a8b89acfeaa0ed82ffa1593c2/43706-tf-nightly.ipynb). Thanks!

[2020-10-05 08:00] ravikyram commented on #43736
@DhruvAwasthi

Can you please share colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster.Thanks!

[2020-10-05 08:04] amitport opened #43783 "bitwise op with 1 msb throws in tf.function"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
tf 2.2, windows 10 (can't install tf 2.3 because various open issues)
cuda 10.1

You can collect some of this in

[2020-10-05 08:08] ravikyram commented on #43732
I have tried in colab with TF version 2.3, nightly version (`2.4.0-dev20201004`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/34b820e2c0bd51504ef91dfca447f3f4/untitled421.ipynb). Thanks!

[2020-10-05 08:11] #43336 closed

[2020-10-05 08:18] amahendrakar commented on #43709
@Dhananjay201,
On running the given code snippet I am facing an error stating `NameError: name 'feature_columns' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/57260361ee70c003574113eba986021e/43709.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and t

[2020-10-05 08:21] deHsien commented on #33627
I had migrated my models to mxnet for the single threaded constraint.

[2020-10-05 08:22] MikhailStartsev commented on #41118
@amahendrakar The merge request that was merged did not solve the issue (that is, it solved one linker issue but caused another similar one). I [mentioned](https://github.com/tensorflow/tensorflow/pull/42307#issuecomment-673954495) this in the merge thread before it was accepted, but it still got approved...

The initially proposed solution (i.e. up to commit 287d074, this being the main change di

[2020-10-05 08:28] ravikyram commented on #43782
@Int37

Can you please refer the tested build configurations from [here](https://www.tensorflow.org/install/source#gpu) and see if the problem still persists with tested build configurations.

Can you upgrade to TF 2.x more recent versions for better performance. Thanks!

[2020-10-05 08:29] Saduf2019 commented on #43783
@amitport
I ran the code shared on tf nightly and do not face any issues, please try on nightly and update.
Please find the gist for the [same here](https://colab.research.google.com/gist/Saduf2019/512b0732a1f3fd88eea53391ec3ca52a/untitled418.ipynb).

With respect to the error faced, please refer to [this link](https://stackoverflow.com/questions/38314118/overflowerror-python-int-too-large-to-conv

[2020-10-05 08:32] Harrypotterrrr commented on #21673
any update about this request?

[2020-10-05 08:33] scd75 commented on #42680
Hello, any update on this issue ? thanks!

[2020-10-05 08:34] amahendrakar commented on #43718
@frank-qcd-qk,
Looking at issue [#41990](https://github.com/tensorflow/tensorflow/issues/41990#issuecomment-686853339) with a similar error log, seems like the issue is fixed in the latest TF-nightly.

Could you please check if you are facing the same issue with TF-nightly, CUDA 11 and cuDNN 8? Thanks!

[2020-10-05 08:36] Saduf2019 commented on #43778
@manasmacherla
We do not support anaconda build/install issues officially.
Please refer to these issues and let us know if it helps, else please create issue in respective repo:
#25160 [link](https://stackoverflow.com/questions/53698035/failed-to-get-convolution-algorithm-this-is-probably-because-cudnn-failed-to-in), [link1](https://medium.com/@adwin596/solved-error-failed-to-get-convolution-algor

[2020-10-05 08:38] Saduf2019 commented on #43720
@alanpurple
Please share complete error log for us to analyse, also could you try with cuda 11.0 and not cuda 11.1 and let us know.Thank!

[2020-10-05 08:39] shz0116 opened #43784 "embedding_lookup cause ran out of memory"
I am running the following code to test embedding_lookup.
[code]
But got the following error:

[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
os: Linux
os kernel version: #1 SMP Debian 4.19.146-1 (2020-09-17)
os release version: 4.19.0-11-cloud-amd64
os platform: Linux-4.19.0-11-cloud-amd64-x86_64-with-debian-10.6
linux distribution: ('debian', '10.6', ''

[2020-10-05 08:40] amahendrakar commented on #43730
@suresh-s,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and the dataset you are using.

Also, please update TensorFlow to the latest version v2.3 and check if you are facing the same issue. Thanks!

[2020-10-05 08:40] Saduf2019 commented on #43472
As informed above we do not face any errors in the code shared, please confirm and if issue exist share a colab gist with the error or move the issue to closed status if resolved.Thanks!

[2020-10-05 08:43] amitport commented on #43783
@Saduf2019 the problem is on windows and tf@2.2 and the number is not bigger than `sys.maxsize`.

(I think it is important to note again tf@2.3 and nightly have many issues on windows, I, and many others can upgrade or verify this on those versions)

[2020-10-05 08:53] Saduf2019 commented on #43771
@bavanhassel
Please share complete stand alone indented code for us to replicate the issue faced or if possible share a colab gist with the error.
With respect tot he error faced please refer to these issues and let us know:
[link](https://stackoverflow.com/questions/56106546/typeerror-init-missing-1-required-positional-argument-units), [link1](https://github.com/prodo56/Time-series-analysis-using

[2020-10-05 08:55] markodjordjic commented on #43627
@bhack @yhliang2018 Hi. Thank you for your efforts. I would like to confirm that the issue still persists on AWS regardless of docker pull tensorflow/tensorflow:nightly-gpu-jupyter. The workaround is to implement custom training process and circumvent the usage of keras.model.fit method. Here is an example which can be customized to particular needs:

https://www.tensorflow.org/guide/keras/writing

[2020-10-05 08:56] amahendrakar commented on #43734
@Int37,
Is there any specific reason you are using TensorFlow 1.x? TensorFlow 1.x is not actively supported, could you please update TensorFlow to v2.3?

Also, please go through similar issues [#34291](https://github.com/tensorflow/tensorflow/issues/34291#issuecomment-624767789
) and [#33758](https://github.com/tensorflow/tensorflow/issues/33758#issuecomment-547143723) and let us know if it helps.

[2020-10-05 09:10] geogeorgiev commented on #32204
I used to have a similar problem when downloading a `.tflite` file from github (the coral TPU detection demo). The reason was that I was not logged in on the remote device (no session creds on my RPI4) and was downloading not the buffer file but a `html` file :). As a result, I used to get `ValueError: Model provided has model identifier '<!D', should be 'TFL3'`. Please make sure the `.tflite` is

[2020-10-05 09:14] bhack commented on #43627
Have you tried to compile with eager like in https://github.com/tensorflow/tensorflow/issues/43702#issuecomment-702681590

[2020-10-05 09:15] victorromeo commented on #43472
This is an issue of a missing C++ micro kernel operation, not a core kernel operation and as such is not appropriate for a python colab gist. As mentioned earlier, I’m working on this as a custom c++ operation.  Does Colab support C++11 with Bezal compilation?

A Keras TF2 model, when converted to TFLite **micro**, includes an operation which is not yet supported called TRANSPOSE. This already exi

[2020-10-05 09:18] bersbersbers commented on #43702
@bhack I have, since reporting this issue, found an unrelated bug in my (GPU-based, Linux) environment that may have resulted in (and has since resolved) the OOM crashes that I have experienced. So first of all, I do not have a pressing issue that needs resolving. Also, `tf-nightly` is clearly better than `2.3.1` in at least one case, so let's hope `2.4` includes the relevant fixes and performance

[2020-10-05 09:19] amahendrakar commented on #43745
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/4cb86c00223e42eab4fbbd7d7b4a3b70/43745.ipynb). Thanks!

[2020-10-05 09:25] bhack commented on #43702
Have you tried, like in my example, with `run_eagerly=True` in the compile phase?

[2020-10-05 09:29] Saduf2019 commented on #43761
@MAMOMIMOMU
I ran the code shared and face a different issue as some dependencies are missing, please share all dependencies so we could replicate the issue faced.
Please find gist here for the code run on [colab with tf 2.2 gpu](https://colab.research.google.com/gist/Saduf2019/3180190c57df4143e432dd3753f88489/untitled424.ipynb), or if possible share a colab gist with the issue reported.

[2020-10-05 09:31] Midhlaj2006 commented on #43530
Thanks for your responses

[2020-10-05 09:31] #43530 closed

[2020-10-05 09:43] Stentaur commented on #20674
also having this issue when installing tensorflow 2.3.1 on a machine with no internet connection; as far as I can tell, I have pip installed all the appropriate wheel files.

_pywrap_tensorflow_internal does exist (twice) in the correct place, but the file endings are .pyd and .lib

[2020-10-05 09:46] ravikyram commented on #43723
I have tried in colab with TF nightly version(`2.4.0-dev20201004`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/a8888d1e368e78b9660feb932a434133/untitled422.ipynb).Thanks!

[2020-10-05 09:55] AdityaNikhil opened #43785 "Tensorflow 2.3.0 stopped detecting GPU suddenly while it used to detect in past"
**System information**
- OS Platform and Distribution : Windows 10 Pro
- TensorFlow installed from : `pip install tensorflow`
- TensorFlow version: 2.3.0
- Python version: 3.6.8
- Installed using : `pip`
- CUDA/cuDNN version : `Cuda compilation tools, release 10.1, V10.1.243`
- GPU model and memory: Nvidia GTX 1050Ti, 4GB

_I used to train my models locally and it's been a while(~1month) since I'v

[2020-10-05 09:59] ravikyram commented on #43687
@n2cholas

Can you please share the error log.Thanks!

[2020-10-05 10:00] markodjordjic commented on #43702
@bhack Thank you for your reply. I have run a minimalistic example, and I can confirm that `run_eagerly=True` reduces the memory leak, however the problem still exists. After 30 cv folds the consumption of RAM has increased from 891 MB to 940 MB. Therefore, approximately 50 MB per single training cycle. In case of 300 models, this will lead to consumption of approximately 15 Gb over the complete t

[2020-10-05 10:03] markodjordjic commented on #43627
@bhack Thank you for your reply. I have run a minimalistic example, and I can confirm that `run_eagerly=True` reduces the memory leak, however the problem still exists. After 30 cv folds the consumption of RAM has increased from 891 MB to 940 MB. Therefore, approximately 50 MB per single training cycle. In case of 300 models, this will lead to consumption of approximately 15 Gb over the complete t

[2020-10-05 10:06] ntreepoint commented on #43517
Hi,
I am facing the same error when trying to perform full integer quantization with mixed 16 bits activations and 8 bits weights ( tf.lite.OpsSet.EXPERIMENTAL_TFLITE_BUILTINS_ACTIVATIONS_INT16_WEIGHTS_INT8). In fact I have the same issue if i use classic method (tf.lite.OpsSet.TFLITE_BUILTINS).
I did several tests. First it is working if i convert a MobileNet V1 network, so the error depends on t

[2020-10-05 10:17] bhack commented on #43785
Can you post something from the log?

[2020-10-05 10:28] AdityaNikhil commented on #43785
Hey @bhack ,
Please check the image.
Actually tensorflow doesn't raise any errors if it doesn't detect gpu right. So there's nothing much to post anything from the log.

[2020-10-05 10:33] Int37 commented on #43734
@amahendrakar I need tf.contrib elements to use the code: https://github.com/vlomme/Multi-Tacotron-Voice-Cloning, also most github projects still require version 1.14 or less. I could just download via pip, but my processor does not support avx instructions, without which tensorflow does not work even on gpu. i did what is written here  https://github.com/tensorflow/tensorflow/issues/33758#issueco

[2020-10-05 10:37] damian-adamski opened #43787 "Interpreter takes too much time to return results while similar iOS app makes it 10 times faster"
I use following code to create Interpreter, prepare image and execute task to get proper results:

    private var imageData: ByteBuffer
    private var outputBuffer = Array(1) { Array(256) { Array(256) { FloatArray(NUM_CLASSES) } } }
    private var gpuDelegate: GpuDelegate? = null
    private val interpreter: Interpreter
    private var intValues: IntArray

    init {
        interpreter = getIn

[2020-10-05 10:38] ml-0 commented on #43725
Cortex-M55 support could easily be added to the generic Cortex-M Makefile. However, to my understanding the M55 is only supported by GCC version 10. TFLM currently downloads GCC version 7.
I spent some effort in compiling for M55 using the GCC 10 preview without success. Best result I got with

    -mcpu=cortex-m55 \
    -mfpu=auto \
    -mfloat-abi=hard

where it compiles a couple of files and th

[2020-10-05 10:39] Saduf2019 commented on #43768
I ran the code shared, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/a65df5c1151a2d6185384c0200d4d266/untitled418.ipynb)

[2020-10-05 10:47] bersbersbers commented on #43702
This (now using `2.4.0-dev20201002`, twice the number of iterations as before, but still non-eager) seems to confirm that there is no unlimited leaking, even though memory usage increases over a long period of 15 minute before becoming stable:

![image](https://user-images.githubusercontent.com/12128514/95070531-88221580-0708-11eb-8438-cc7d5a4703e1.png)

<details>

[code]

</details>

I will try `

[2020-10-05 10:56] Guichaguri commented on #39392
I'm also getting this error with an [object_detection](https://github.com/tensorflow/models/tree/master/research/object_detection) model. Since it is a community-driven project, I don't know whether this is a TF bug or something in the model that TF doesn't support yet.

[2020-10-05 11:03] bhack commented on #43785
I meant the runtime logs like e.g:
`I  tensorflow/stream_executor/platform/default/dso_loader.cc:48]  Successfully opened dynamic library libcudart.so.10.1`

[2020-10-05 11:10] Saduf2019 commented on #43787
@wiggy
What version of tf are you using, i see that you have nit filled in the issue template.

[2020-10-05 11:12] AdityaNikhil commented on #43785
@bhack  I have updated the post, attached the logs, please check it out.

[2020-10-05 11:12] DhruvAwasthi commented on #43736
Hey @ravikyram, thank you for your prompt response

Here are the attached files.
When you unzip this, the files in /data directory are the supporting files required and mvae.py contains the main code to build the architecture.

[architecture.zip](https://github.com/tensorflow/tensorflow/files/5326971/architecture.zip)

[2020-10-05 11:13] bhack commented on #43702
I think that it is not the suggested behavior to compile the model multiple time in the loop:
https://github.com/tensorflow/tensorflow/blob/fcc4b966f1265f466e82617020af93670141b009/tensorflow/python/keras/engine/training.py#L516-L519

[2020-10-05 11:15] bhack commented on #43785
Is this complete? I don't see the cuda entries like the one that I mentioned in the previous post.

[2020-10-05 11:16] AdityaNikhil commented on #43785
@bhack  Exactly, am afraid why it's not mentioning the cuda entries.

[2020-10-05 11:16] bhack commented on #43627
Can you graph with `mprun` like in https://github.com/tensorflow/tensorflow/issues/43702#issuecomment-703510259

[2020-10-05 11:19] Int37 commented on #43782
@ ravikyram, thanks for your answer, i installed python 3.7 but the problem persists. I already have everything suitable for tested build configuration, except perhaps except for cuda and cudnn, but as I wrote above, the problem remains even if i try to compile without cuda. I also tried to do what is written here https://github.com/tensorflow/tensorflow/issues/33758#issuecomment-547143723, but th

[2020-10-05 11:20] loic-ehrhardt commented on #43542
Hi @Saduf2019. Do you have further insights into this or do you think this should be escalated? It looks like #43154  is closed.

[2020-10-05 11:21] bhack commented on #43785
Can you try to run it outside of Ipython?

[2020-10-05 11:21] Saduf2019 commented on #43749
@Rakeshpavan333
Can you please let us know the tf version on which the issue is faced as you have not filled the issue template.

[2020-10-05 11:22] AdityaNikhil commented on #43785
@bhack  The logs which I have pasted have been run from command prompt.

[2020-10-05 11:27] neilm-fourjs commented on #42309
Also ubuntu 20.04
[code]

[2020-10-05 11:30] Saduf2019 commented on #43765
@anshkumar
Please provide with simple stand alone code such that we can replicate the issue faced or if possible share a colab gist with the error reported.

[2020-10-05 11:31] Saduf2019 commented on #43749
@Rakeshpavan333
Please update the tf version on which the issue is faced as you have not filled the issue template.

[2020-10-05 11:33] fisakhan commented on #33627
@deHsien Thanks for your response. I'm also migrating my code to either mxnet or caffe. It is not possible to have a single threaded TensorFlow.

[2020-10-05 11:40] alexkorpas commented on #43785
I have the same issue, you can see my [script](https://pastebin.pl/view/0fe39e7d) and the [output](https://pastebin.pl/view/db1db62c). Personally, I run on arch and have the latest python-tensorflow-cuda package installed and all of its dependencies updated. I see that this issue also reported at the [Arch's bug](https://bugs.archlinux.org/task/68078)

[2020-10-05 11:42] Saduf2019 commented on #43724
@hrktngc
We see that you have not filled in the issue template, please share with simple indented stand alone code to replicate the issue faced or if possible share a colab gist with the issue reported.
Can you try on tf nightly and see if the issue exist.

[2020-10-05 11:43] flamxi commented on #35357
I am facing the same problem right now, I get the output all equal for all the classes no matter what input data I type in, I am using tensorflow 2.3 C++ API, @rishabhrishu I even changed the API as you suggested but still the same!
Anyone any help here!

[2020-10-05 11:48] ravikyram commented on #43782
@Int37

TF 1.x is not actively supported.In this case please post the issue in [stack overflow.](https://stackoverflow.com/questions/tagged/tensorflow) . Thanks!

[2020-10-05 11:49] bhack commented on #43785
@alexkorpas You log is clear and I see the cuda entires. You need to have `/opt/cuda/targets/x86_64-linux/lib/` in  your `LD_LIBRARY_PATH`

[2020-10-05 11:52] AdityaNikhil commented on #43785
@bhack @alexkorpas
One thing to see here is, tensorflow 2.3.0 supports CUDA V10.1 and CUDNN 7.4.  (According to https://www.tensorflow.org/install/source_windows#gpu)

So i downloaded CUDA V10.1 but coming to CUDNN, **I couldn't find 7.4 version for CUDA 10.1**(checkout the below img).

![Capture](https://user-images.githubusercontent.com/30192967/95076248-29bc5d80-072f-11eb-815c-88834eeda663.JPG)

[2020-10-05 11:53] bersbersbers commented on #43702
Well, it's a new model every time, isn't it? (It certainly is in my context.)

Anyway, running 1000 iterations with with `run_eagerly=True` confirms that there is no strict leakage, even if, again, it appears that way for the first 20 minutes. But memory is reclaimed, somewhat unpredictably, later:
![image](https://user-images.githubusercontent.com/12128514/95076363-02a36300-0712-11eb-9171-80b2a26

[2020-10-05 12:00] bhack commented on #43785
@AdityaNikhil Are you using tensorflow with `pip install tensorflow`?

[2020-10-05 12:02] wiggy90210 commented on #43787
I'm sorry, I forgot about that.
I tested this with 2 versions:
0.0.0-nightly - those results you can see on my first post
2.3.0 - there was even worse because i got timings between 750-850ms

[2020-10-05 12:03] AdityaNikhil commented on #43785
@bhack  Yes

[2020-10-05 12:04] bhack commented on #43702
Are you using gc after `clear_session`?:
[code]

[2020-10-05 12:05] alexkorpas commented on #43785
@bhack My problem is solved indeed. I am curious, however, why it is able to find the other library files, like `libcublas.so` but not the `libcudart.so`.

[2020-10-05 12:07] flamxi opened #43788 "TFLite C++ API outputs the same results all the time"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS P

[2020-10-05 12:08] bhack commented on #43785
@alexkorpas Cause the other one was already in the `LD_LIBRARY_PATH` (`/usr/local/cuda/lib64`)

[2020-10-05 12:10] amahendrakar commented on #43753
@DavidInWuhanChina,
On trying to convert the model to TF Lite, I am facing an error stating `TypeError: reset_states() got an unexpected keyword argument 'batch_size'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/8b910c4d8a0839068d1cbb07d0da049f/43753.ipynb#scrollTo=lbHLa1sxkGI0&line=3&uniqifier=1).

Could you please share the SavedModel file or the .pb fi

[2020-10-05 12:11] #43363 closed

[2020-10-05 12:25] AdityaNikhil commented on #43785
@bhack  @alexkorpas
Umm... Guys, any solutions for my issue?

[2020-10-05 12:29] amahendrakar commented on #43757
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/e111c8e4edca3eadedea8e791a45615a/43757.ipynb). Thanks!

[2020-10-05 12:34] amahendrakar commented on #43763
@michalCyberfish,
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2020-10-05 13:05] amahendrakar commented on #43776
@leofrio,
To resolve the `FutureWarning`, please run the below commands
[code]

Regarding the `OSError`, please take a look at the [system requirements](https://www.tensorflow.org/install/pip#system-requirements) and check if you have all the compatible software installed. Also, make sure that you have installed Python from [python.org](https://www.python.org/downloads/windows/) and not from the M

[2020-10-05 13:11] #43420 closed

[2020-10-05 13:14] bhack commented on #43785
@AdityaNikhil Can you share the full log starting from the command run?

[2020-10-05 13:27] kalosisz opened #43789 "Google Cloud Storage cannot be used in tf.keras.callbacks.experimental.BackupAndRestore as a back-up dir"
**System information**
- Run in official container: tensorflow/tensorflow:2.3.1
- Host OS:  Debian GNU/Linux 10 (Cloud shell)

**Describe the current behavior**
On successful training, the checkpoints produced by `tf.keras.callbacks.experimental.BackupAndRestore` should be removed. However, if one provided a Cloud Storage location, the cleanup fails. This is not the case for specifying a local bac

[2020-10-05 13:37] frank-qcd-qk commented on #43718
Is Cuda 10.1 just not going to be supported?

[2020-10-05 13:37] ScruffySilky opened #43790 "Google Collab error for TPU - UnavailableError: {{function_node __inference_train_function_99378}} failed to connect to all addresses"
No longer able to train model using google cloud TPU on my [gist](https://colab.research.google.com/gist/ScruffySilky/f681aca8130f40555b41f98323887c15/42038.ipynb?authuser=1&pli=1), it was training fine 2 months ago and now I get the following error:

[code]

Seems related to this issue: https://github.com/tensorflow/tensorflow/issues/43037

[2020-10-05 13:42] freddan80 commented on #43743
@advaitjain sounds like a good idea. I think the numbers were derived from the Bluepill target originally. The STM32M4 seem to support a wide range of memory configs: https://www.st.com/en/microcontrollers-microprocessors/stm32f4-series.html

[2020-10-05 13:43] kalosisz commented on #43789
I have also looked in the codebase and believe the culprit is that even though `file_io.delete_recursively_v2` is used, it is used for all the files found the the looked up directories, [code snippet](https://github.com/tensorflow/tensorflow/blob/ac4e209f8cd33aab482d5414b38043e03fc72ef5/tensorflow/python/keras/distribute/worker_training_state.py#L115-L120). `file_io.delete_recursively_v2`, however

[2020-10-05 13:45] fthielke commented on #38942
Although the issue was resolved, the bug mentioned here still persists: it is impossible to instantiate a Keras LSTM layer if the data_format was set to channels_first.

Are there plans to fix this regression?

[2020-10-05 13:52] freddan80 commented on #43743
I think the .ld should map the settings here:
https://github.com/renode/renode/blob/master/platforms/cpus/stm32f4.repl

[2020-10-05 14:08] amahendrakar commented on #43784
Was able to reproduce the issue with TF v2.3, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1731551c4ea1a508bc1be3f50da9bbb7/43784.ipynb). Thanks!

[2020-10-05 14:15] n3011 commented on #42506
Normalization was moved into the model code keeping in mind the Serving use-case.

So for desired behaviors
**If you import model from `tf.keras.applications` : DO NOT Normalize the inputs**

[2020-10-05 14:24] COTASPAR commented on #41900
@ml-0 Hi, I'm experiencing a similar issue. Could you clarify which header files you are referring to? thanks in advanced.

[2020-10-05 14:32] Rakeshpavan333 commented on #43749
@Saduf2019
Apologies, I didn't mention the TF version, as the tutorial I shared above ( [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/performance/post_training_integer_quant.ipynb) ) is using TF 2.3.0. So I am using the same. (the code in the first cell automatically asserts tf version >= 2.3 )

@yair-ehrenwald
The documentation for TFLite [here](https://www.ten

[2020-10-05 14:35] ahadji05 commented on #27383
I think numpy.transpose() just reorders the shape of the array as the user can see it from a high level perspective. It does not reorder the data in memory. I came to this end based on the strides of the transposed array before and after operation. The strides are just switched as do the shape dimensions but the data are never touched! I'm I correct? can someone confirm this?

[2020-10-05 15:17] bhack commented on #43757
@AkshayRoyal can you give a run with
[code]

[2020-10-05 15:21] Saduf2019 commented on #43790
@ScruffySilky
Please refer to these issues and let us know if the issue exist: [link](https://stackoverflow.com/questions/63523682/error-training-keras-model-on-google-colab-using-tpu-runtime) #39099 #43125 #42038

[2020-10-05 15:39] brianwa84 commented on #39149
@csuter fyi

[2020-10-05 15:40] MaxHeuillet commented on #37933
Hello,

I am having the same issue but I do not understand clearly the solutions proposed in the previous posts...
I am new to TF.

I get this error:

`TypeError: 'tensorflow.python.framework.ops.EagerTensor' object is not callable`

When I run this model in Tensorflow V2:

[code]

Can you help ? Thank you

[2020-10-05 15:40] bersbersbers commented on #43702
Tried that too, same thing:

[code]

![image](https://user-images.githubusercontent.com/12128514/95100836-ce3f9f00-0731-11eb-9c77-38e482fdf1b4.png)

[2020-10-05 15:42] alextp commented on #27383
TF transpose almost always reorders the array in memory

On Mon, Oct 5, 2020 at 7:35 AM Andreas <notifications@github.com> wrote:

--
 - Alex

[2020-10-05 15:53] diyessi commented on #43777
Weights are properly restored, and those two warnings are gone, although two new deprecation warnings about the keras implementation have appeared that I hope you will have fixed/muted for 2.4.

[2020-10-05 15:53] #43777 closed

[2020-10-05 15:54] bhack commented on #43702
I cannot reproduce this running your last code on a CPU machine with:
[code]
![memory](https://user-images.githubusercontent.com/1710528/95102461-b5d08400-0733-11eb-8117-e356e3caf4fe.png)

[2020-10-05 16:00] RomanGirin commented on #43764
@ravikyram  Yes, I register the issue on my laptop only too. Both, in virtual environment and 'globally' in the system (also running as Administator).
Is there any list what can be checked based on the script's output attached above?

It is likely environmental problem in my laptop, but I keep wonder why keras model.fit() works then?

Is this part of the script's output gives us some clue?
[code]

[2020-10-05 16:03] advaitjain commented on #41900
I think what @ml-0 is referring to is that any external code that includes TFLM headers should be built with `-DTF_LITE_STATIC_MEMORY`, or have a `#define TF_LITE_STATIC_MEMORY` before the headers are included.

Apologies for not being very clear with my previous reply - what I was emphasizing is that using TFLM without TF_LITE_STATIC_MEMORY defined isn't really supported anymore, even on x86.

[2020-10-05 16:03] bhack commented on #43764
@RomanGirin I don't think it is a Tensorflow bug. Double check you cudnn version and https://github.com/tensorflow/tensorflow/issues/39989

[2020-10-05 16:04] allenlavoie commented on #37053
Should be fixed now (fix in https://github.com/tensorflow/tensorflow/commit/a20b5857915cd573f595942eab6a928ae3837639 integration test in https://github.com/tensorflow/tensorflow/commit/d5b5e1148ab3ef1817fadb864694ec3139746400), thank you for the report.

[2020-10-05 16:04] #37053 closed

[2020-10-05 16:07] Saduf2019 commented on #43738
@thephet
Please share complete stand alone indented code and data-set for us to replicate the issue.

[2020-10-05 16:10] Saduf2019 commented on #43605
I am able to replicate the issue reported, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/77742b1c6572850ce87a6f8db0d1c604/untitled418.ipynb)

[2020-10-05 16:12] Saduf2019 commented on #43701
@PureHing
Could you Please update.

[2020-10-05 16:13] nikitamaia commented on #41042
Hi all, please see the last comment in #37053, which seems to be the same underlying issue and is now fixed. With nightly I was able to run the code originally posted by @hartikainen. Let me know if anyone is still seeing problems when running with tf-nightly.

[2020-10-05 16:16] freddan80 commented on #43743
@mansnils can look at this next week. I think the only change needed is:

[code]
And perhaps remove the outdated comments in the top of the file:

[code]

@advaitjain let us know if you prefer us to fix this.

[2020-10-05 16:25] mihaimaruseac commented on #41132
This is interesting. Even if our recent changes to the build script had no effects, I would have expected the binaries to differ based on the patch release changes.

[2020-10-05 16:32] #42650 closed

[2020-10-05 16:53] mihaimaruseac commented on #43718
TF 2.3 (2.2 and 2.1 too) builds against CUDA 10.1. TF 2.4 will build against CUDA 11.

[2020-10-05 16:54] emckenzi123 commented on #24410
Hi,
I just want to confirm.  Can the current implementation of the TF addons Euclidean Distance Transform be used in a loss function?  I noticed the discussion above on the issue of gradients when the distance transform is applied on binary images.  Was this resolved?

[2020-10-05 16:58] saikumarchalla commented on #33274
@QiJune Could you please check the above comments. If it is still an issue,please let us know. Thanks!

[2020-10-05 16:59] Squadrick commented on #24410
@emckenzi123 No. The current implementation of euclidean distance transform does not have a gradient defined.

[2020-10-05 17:00] frank-qcd-qk commented on #43718
Yes, I understand. so does that me whatever issue caused this problem with 30 series graphics card will not be addressed until TF2.4?

[2020-10-05 17:00] frank-qcd-qk commented on #43718
I will test later today with the latest CUDA 11, and TF 2.4, but it would be nice if we can still use CUDA 10.1 and TF 2.3.

[2020-10-05 17:01] frank-qcd-qk commented on #43718
Also is it CUDA 11 or 11.1?

[2020-10-05 17:01] saikumarchalla commented on #36897
@NEGU93  Is it still an issue for you?. Please go ahead and close the issue if it was resolved already.Thanks!

[2020-10-05 17:03] impjdi commented on #38701
Ah, the logging change dropped under the reviewer's radar, and I got the approval like a month ago, but then it got buried deep inside my list of changes, that I didn't notice the approval.  I saw that change last week, but saw that the approval was conditional and required some changes which I never got the time to do.  Let me do that quickly...

[2020-10-05 17:04] mihaimaruseac commented on #43718
Nightly already builds with CUDA 11. You can test with that, if possible, if you need CUDA 11.

@sanjoy / @pkanwar23 do we build CUDA 11.0 or CUDA 11.1?

[2020-10-05 17:05] mihaimaruseac commented on #36897
See https://github.com/tensorflow/community/pull/286

[2020-10-05 17:11] #40824 closed

[2020-10-05 17:13] saikumarchalla commented on #39864
@sumanthratna  Closing this issue since it was the intended behavior. Please feel free to re-open the issue if you have any concern.Thanks!

[2020-10-05 17:13] #39864 closed

[2020-10-05 17:14] drebain commented on #24410
@emckenzi123 If you do not need to run on large images, the code in my notebook from above ( https://colab.research.google.com/drive/1-Fykc6FVi3pUtFx7spP3OAdn267TKwbD ) might work as a loss function. You do need to allow arbitrary real values for pixels (not just binary) in order for the gradients of a distance transform to be meaningful though.

[2020-10-05 17:36] #43767 closed

[2020-10-05 17:40] nikitamaia commented on #42454
Hi @Lipod, providing an update after lots of discussions between the keras and TPU teams. While this originally seemed like a bug, TPU implementation for `ImageProjectiveTransform` (and `V2`) has been determined to be much less efficient than just using CPU. Recommendations here are to either move the preprocessing to your tf.data transformations if you want to use TPUs, or to just use CPU or GPU

[2020-10-05 17:46] zredlined commented on #41042
@nikitamaia thank you for the update! Confirmed that the fix in #37053 is working for calculating the Jacobian with parallel_for enabled.

[2020-10-05 17:52] krn-sharma commented on #20176
@Davari393   Hey, did you find out about the changes? I also need it
Thank you

[2020-10-05 17:54] jondeaton commented on #2462
Just wanted to add that a better implementation might be

[code]

which will give `0` instead of `nans` where both `y_` and `y` are zero.

[2020-10-05 18:03] nikitamaia commented on #42888
What problem are you referring to when you remove `.repeat` and `steps_per_epoch`?

[2020-10-05 18:06] bhack commented on #43784
@shz0116 Can you try with:
[code]

[2020-10-05 18:08] bersbersbers commented on #43702
Sorry to hear that. I'm happy to help by trying out more things, but as I said, my original issue has been solved, so I will not dig much deeper on my own. Just pointing out that I am not using docker, I am using vanilla Python on Windows 10 (and `pyenv` self-compiled Python on Linux).

[2020-10-05 18:32] mihaimaruseac commented on #41132
Apolgies. It seems our CI uploaded the wrong package under the new name after we refactored parts of the CI. I think it should be fixed now, can you give it a try please?

[code]

[2020-10-05 18:34] impjdi commented on #38701
commit 04a8d6e3f4eabae3b06cfdba942ec75da56e55d8 should improve logging.

[2020-10-05 18:44] quickgrid commented on #43583
Seems like the problem is maybe missing instructions for android example code. It did not mention about metadata,

https://github.com/tensorflow/examples/blob/e13e7cc1d2df1c006f14a931906f3f409e91c97d/lite/examples/object_detection/android/app/src/main/java/org/tensorflow/lite/examples/detection/tflite/TFLiteObjectDetectionAPIModel.java#L113

The sample code uses `metadata` implementation,

https:/

[2020-10-05 18:45] bhack commented on #43702
Ok as I cannot reproduce this if it is solved you can close this.

[2020-10-05 18:49] grantbrewster commented on #39173
A potential workaround I found on this stack overflow (https://stackoverflow.com/questions/60507120/how-to-correctly-use-the-tensorflow-meaniou-metric):

class MyMeanIOU(tf.keras.metrics.MeanIoU):

    def update_state(self, y_true, y_pred, sample_weight=None):
        return super().update_state(y_true, tf.argmax(y_pred, axis=-1), sample_weight)

In this case my y_true was a mask of shape batch,2

[2020-10-05 18:59] bhack commented on #43761
Just to note the we don't directly support Anaconda here.

[2020-10-05 19:14] karllessard commented on #38254
Hi, I'm suffering from that turbulence as well as I'm trying to release TensorFlow for Java, it's been compiling for 4 hours now and reading this thread made my want to cry. Is there any trick that can speed that up?

[2020-10-05 19:29] motrek commented on #41132
This now works for me. Thanks for sorting this out. Might want to update the links on the C API page to point to the new versions.

GPU: mobile GeForce GTX 1660 Ti

[2020-10-05 19:49] rxsang commented on #43744
Hi Micheal,

Thanks for reporting. When you mention "infeed eventually regresses to ~60ms per step, as above.", is the 60ms consistent and never reduces later? Have you tried if the issue is reproducible on fake data?

[2020-10-05 19:56] manasmacherla commented on #43778
These links did not provide any solution but downgrading to tf 1.14.0 worked. Thanks.

[2020-10-05 19:56] #43778 closed

[2020-10-05 20:26] bersbersbers commented on #43702
As you wish :)

[2020-10-05 20:26] #43702 closed

[2020-10-05 20:27] #43629 closed

[2020-10-05 20:27] sanjoy commented on #43720
@nluehr has a fix for this which should land soon.

[2020-10-05 20:28] kenfranko commented on #43705
tf.print will work on TPUs if the config option set_soft_device_placement is true (see https://www.tensorflow.org/api_docs/python/tf/config/set_soft_device_placement).  This option is by default false because it can lead to a decrease in performance and should be disabled once debugging with tf.print is complete.

[2020-10-05 20:28] #43705 closed

[2020-10-05 20:29] sanjoy commented on #43718
Yeah, unfortunately TF 2.3 does not support GPUs with compute capability 8.x.  tf-nightly and the upcoming TF 2.4 release should both work, PTAL.  Both tf-nightly and TF 2.4 will use CUDA 11.

[2020-10-05 20:37] shz0116 commented on #43784
Same errors.

[2020-10-05 20:45] bhack commented on #43784
Yes this was only about the Colab example

[2020-10-05 20:49] huberemanuel commented on #39392
I'm also having this issue

[2020-10-05 20:58] n2cholas commented on #43687
@ravikyram here's all the output from running it:

[code]

Here is the output of `pip freeze`:
[code]

[2020-10-05 21:02] iperov opened #43799 "cuda_configure.bzl: wrong cuda_config.cudnn_version cause wrong cudnn_headers list"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version: master
- Python version: 3.6.8
- Bazel version (if compiling from source): 3.1.5
- GCC/Compiler version (if compiling from source): MSVC 2019
- CUDA/cuDNN version: 11.1 8.0.4
- GPU model and memory: RTX 2080 TI

**Describe the pro

[2020-10-05 21:19] PranavPuranik commented on #43179
Even I am getting a key error for centernet

Traceback -
[code]

configs -
[code]

[2020-10-05 21:19] ymodak commented on #43760
The given doc link https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/MyMethod is not working.
Can you please update the issue with correct link?

[2020-10-05 21:25] mkuchnik commented on #43744
Hi @rxsang,
The issue persists and the 60ms delays are the normal behavior. I have been unable to get 45ms consistently---it's something that appears at the beginning of training epochs. It might have to do with infeed queueing and the possibility that the queue can get prefetched in during eval time or the start of training (e.g., initialization code), giving an appearance of no bottleneck while

[2020-10-05 21:25] soroosh-rz opened #43800 "Possibility to compile python code when @tf.function is used in TensorFlow 2.x"
**System information**
- TensorFlow version (you are using): **2.3.0**
- Are you willing to contribute it (Yes/No): **No**

**Describe the feature and the current behavior/state.**

With TensorFlow 2.x, eager mode is enabled by default, so it is essential to use @tf.function to speed up the performance.
tf.function decorator needs access to the python source code, therefore it makes it impossible

[2020-10-05 21:27] abattery commented on #43781
Thanks for reporting this! Will remove the unused dependency.

[2020-10-05 21:58] emckenzi123 commented on #24410
@drebain I tried your posted method (thank you for making that available) however I ran into an OOM error since my images are large.  I looked into the [paper](http://www.theoryofcomputing.org/articles/v008a019/v008a019.pdf) you linked to, and found a python version [here](https://github.com/hbristow/distance-transform).  It uses Cython, and I naively tried to just use this code in a training loop

[2020-10-05 22:20] drebain commented on #24410
@emckenzi123 I haven't used Cython and TF together before, but I think you could write a wrapper around the code you linked that manually defines the gradient using [tf.py_function](https://www.tensorflow.org/api_docs/python/tf/py_function) and [tf.custom_gradient](https://www.tensorflow.org/api_docs/python/tf/custom_gradient). If I'm reading correctly that the code gives you the index of the pixe

[2020-10-05 22:29] ymodak commented on #43303
@acidtonic Thank you for your feedback and apologies for the inconvenience.
`tf.contrib` module was a collection of modules contributed by external users as well as internal resources and it was a big challenge to maintain all of it along with TF 2 upgrades.

So we wanted to apply a divide and conquer approach where part of it is consumed in TF Core, another part where we have designated owners an

[2020-10-05 22:35] elmahdy27 opened #43802 "ValueError: You are trying to load a weight file containing 0 layers into a model with 19 layers."
hey this is my code i still have the same error
from __future__ import absolute_import
from __future__ import print_function
import os
import numpy as np
from keras.layers import Input
from keras.layers.core import Activation, Flatten, Reshape
from keras.layers.convolutional import Convolution2D, MaxPooling2D, UpSampling2D, Conv2D
from keras.layers.normalization import BatchNormalization
from kera

[2020-10-05 22:57] parnham commented on #41132
Thank you so much @av8ramit and @mihaimaruseac - v2.3.1 is now working for us also!

[2020-10-05 23:11] yashk2810 commented on #43770
This is now fixed.

[2020-10-05 23:11] #43770 closed

[2020-10-05 23:30] jvishnuvardhan commented on #43542
@loic-ehrhardt I am able to reproduce the error with `TF2.3`. However, there is no error when `tf-nightly` was used. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/c94aec48f9fbd5df7d781a5423206efe/untitled54.ipynb). Thanks!

[2020-10-05 23:37] aafaqin commented on #24828
I faced this problem on RTX2070 super while training efficientdet_d0. Reducing the batch size for training worked for me. (TF2.0 repo .config file had training size 64 I changed it to 4)
I earlier faced the same problem and limit growth rate worked.
'config = tf.ConfigProto()
config.gpu_options.allow_growth = True
sess = tf.Session(config=config)'
ps- I am using opensource NVIDIA drivers.

[2020-10-05 23:47] #43781 closed

[2020-10-06 00:16] alanpurple commented on #43720
@sanjoy
thank you

[2020-10-06 00:16] #43720 closed

[2020-10-06 00:30] saudet commented on #38254
I wonder if it's related to issue #10521. Maybe `sed s/inline//g tensorflow/core/util/mkl_util.h` could work around this?

[2020-10-06 00:35] av8ramit commented on #41132
No problem! Hats off to @geetachavan1 and @mihaimaruseac who did the heavy lifting!

[2020-10-06 00:35] #41132 closed

[2020-10-06 00:42] grantbrewster commented on #34068
Hello! Was this ever solved for saving/loading custom metrics in SavedModel format opposed to .h5?

[2020-10-06 00:56] bnsblue commented on #43236
@ahtik Thanks for the response! It would be awesome if you could share the full instructions :)

[2020-10-06 00:58] leofrio commented on #43776
i tried downloading using !pip commands but it said its not recognizable as a command in the cmd, also ive tried using a python download from python.org but everytime i type python on the cmd even if i have a python.org version installed it takes me to the windows store version

[2020-10-06 00:58] leofrio commented on #43776
!pip install numpy 1.16.4
'!pip' is not recognized as an internal or external command,
operable program or batch file.

[2020-10-06 01:18] leofrio commented on #43776
also,relating to system requirements i do fullfil them

[2020-10-06 01:19] jvishnuvardhan commented on #43755
I am able to reproduce the issue with `tf-nightly`. [here](https://colab.research.google.com/gist/jvishnuvardhan/adf87ee193ca261778bd1ce9050814ad/untitled419.ipynb) is a gist for our reference. Thanks!

[2020-10-06 01:54] momohatt commented on #43770
Thanks!

[2020-10-06 02:05] MinasTyuru commented on #43165
@anj-s Have you had a chance to take a look at this?

[2020-10-06 03:13] ellaJin commented on #37933
Sorry, I had changed my code in TF2.0, because I couldn't find a solution with the minimize function in TF2.0.

[2020-10-06 03:30] bavanhassel commented on #43771
import tensorflow as tf
from functools import partial
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical
import pickle

params = {
    'dim' : 300,            # dimension of embeddings
    'maximum_steps' : 1000, # number of training steps
    'lstm_size' : 150,      # dimension of LSTM
    'batch_size' : 25,

[2020-10-06 03:33] AdityaNikhil commented on #43785
@bhack Here's the full log,

[code]

[2020-10-06 03:43] celowsky commented on #38012
The solution above from @danial880 worked for me

[2020-10-06 03:45] AkshayRoyal commented on #43757
@bhack . Thanks for answering. Please fix the issue with the example too as it does not work the way it was expected and it should be removed from example as it is misleading

What worked?
[code]
AND

[code]

[2020-10-06 03:49] Harsh188 commented on #41279
@mihaimaruseac Could you help workout this issue? I took a peek at [`pip_package/BUILD`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/BUILD) but I'm not sure how I'm supposed to make the appropriate change.

[2020-10-06 04:44] Saduf2019 commented on #43771
@bavanhassel
Please share the code as a colab gist [google colab gist], indentation errors in this code will delay the replication of issue faced.

[2020-10-06 04:48] Saduf2019 commented on #43733
@geeheim
Please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/43720#issuecomment-703869823) and let us know if it helps.

[2020-10-06 04:56] mralexisw opened #43805 "Correct way to cast a RaggeredTensor to list of strings?"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-10-06 04:56] imrahul361 commented on #25802
is anyone working on this issue? @dynamicwebpaige

[2020-10-06 04:57] imrahul361 commented on #37323
is anyone working on this issue? @mihaimaruseac @ammirato

[2020-10-06 04:59] minty99 commented on #43107
I have similar issue. Any workaround for this? I used `tf.map_fn` for RaggedTensor during calculating loss, and error `gradient registry has no entry for: RaggedTensorFromVariant` occured in backprop using GradientTape.

[2020-10-06 05:11] #42276 closed

[2020-10-06 05:12] asterisk37n opened #43806 "Model containing EfficientNet cannot be restored"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.15.6 / Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below):

[2020-10-06 05:26] DavidInWuhanChina commented on #43753
The link of checkpoint is [here](https://drive.google.com/drive/folders/1FFSQPJ3Susgn47VIXGf3qOJBoyU4Db1a?usp=sharing).The link of `converted_model.tflite` is [here](https://drive.google.com/file/d/1vViD2qEyPVEzB6LQGQwDuczrK27LbJ6z/view?usp=sharing).After I switch the GPU to CPU, Now I can print the `raw_prediction = 293`.But it's different from the expected sequence List.Why?Can we figure out the

[2020-10-06 05:28] thaink commented on #41876
Hi all,
The duplicated error does not appear in the current nightly anymore so please use that.
However, there is an current error: undefined symbol _uprv_getICUData_conversion which is described in b/41948

[2020-10-06 05:44] splch commented on #42366
I'm also curious if there are any updates? Or a time-line

[2020-10-06 05:49] thaink commented on #41876
My current configs that this error does not happen:
PODS:
  - TensorFlowLiteC (0.0.1-nightly.20201005):
    - TensorFlowLiteC/Core (= 0.0.1-nightly.20201005)
  - TensorFlowLiteC/Core (0.0.1-nightly.20201005)
  - TensorFlowLiteSelectTfOps (0.0.1-nightly.20201005)
  - TensorFlowLiteSwift (0.0.1-nightly.20201005):
    - TensorFlowLiteSwift/Core (= 0.0.1-nightly.20201005)
  - TensorFlowLiteSwift/Core

[2020-10-06 06:06] redrussianarmy commented on #43721
Thank you. I will try.

[2020-10-06 06:06] #43721 closed

[2020-10-06 06:16] AkshayRoyal commented on #39595
`tf.image.convert_image_dtype` expects the image to be between 0,1 if the type is float which is your case.
I am attaching the excerpt from the [link](https://www.tensorflow.org/api_docs/python/tf/image/convert_image_dtype)
**Images that are represented using floating point values are expected to have values in the range [0,1). Image data stored in integer data types are expected to have values in

[2020-10-06 06:25] ravikyram commented on #43802
@elmahdy27

Please, fill [issue template.](https://github.com/tensorflow/tensorflow/issues/new/choose).Please, let us know which TF version you are using.

Request you to share colab link or simple standalone code with proper indentation and supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-10-06 06:32] elmahdy27 commented on #43802
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-gpu==1.8.0
tensorflow-tensorboard==1.5.0

[2020-10-06 06:49] ml-0 commented on #41900
Hi @COTASPAR, my application project comes with its own Makefile (not part of TFLM) and links against the libtensorflow_microlite .a. To instantiate the TFLM interpreter I have to include
[code]
As the last include (common.h) heavily uses TF_LITE_STATIC_MEMORY this macro has to be defined in the application project as well. If not, the application uses a different definition for TfLiteTensor as th

[2020-10-06 06:51] thaink commented on #41876
Please feel free to reopen this bug if you still got this error.

[2020-10-06 06:51] #41876 closed

[2020-10-06 06:55] xgate1 opened #43807 "is it possible tensorflow-gpu on RK3399 mali t-860?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): LUbuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: RK3399
- TensorFlow installed from (source or binary): pip3
- TensorFlow version: tensorflow 1.14(cpu)
- Python version: python3.5
- Installed using virtualenv? pip? conda?: pip3
- Bazel version (if compiling

[2020-10-06 07:06] ravikyram commented on #43736
@DhruvAwasthi

I am not seeing any files in data folder. Can you please recheck and share with me. Thanks!

[2020-10-06 07:10] ravikyram commented on #43802
@elmahdy27

TF 1.x is not actively supported. Can you please switch to TF 2.x latest versions for better performance.Please, try with TF 2.3 latest released version and let us know if the problem still persists. Thanks!

[2020-10-06 07:10] minsky-1 commented on #43588
How to change the value of cuda_config.cuda_version to 11.0
cudart": _check_cuda_lib_params(
            "cudart",
            cpu_value,
            cuda_config.config["cuda_library_dir"],
            cuda_config.cuda_version,    <-------------------- here
            static = False,
        ),
        "cudart_static": _check_cuda_lib_params(
            "cudart_static",
            cpu_value,

[2020-10-06 07:14] jaentrouble commented on #43588
I meant literally changing it to "11.0"

- Before :
cuda_config.config["cuda_library_dir"],
cuda_config.cuda_version,
static = False,

- After:
cuda_config.config["cuda_library_dir"],
"11.0",
static = False,

[2020-10-06 07:15] hartikainen commented on #41042
@nikitamaia Thanks a lot for the update! I tried running the above example on `tensorflow/tensorflow:nightly-gpu` docker image and got the following error:
[code]

[code]

Not sure if this could be due to some problem in my setup. Or maybe the changes have not yet been picked up by the nightly version in the docker image?

[2020-10-06 07:16] jaentrouble commented on #43701
3080 and 3090 does not work with CUDA 10.
You have to use CUDA 11.0 or higher.
Right now, the only way to do so is by installing tf-nightly or building yourself.

[2020-10-06 07:20] asterisk37n commented on #43806
This happens when I use EfficientnetB0, not happens when I use ResNet50
https://colab.research.google.com/drive/1ea4lXkZHs3QksRDAXKJzTFZa-lWvcPJL?usp=sharing

[2020-10-06 07:21] celowsky commented on #24828
I have a RTX 2070 and GTX 1060 running with a batch size of 16 that seems to work okay using proprietary Nvidia drivers

[2020-10-06 07:26] Nitya05 opened #43808 "Converting a LSTM model from Pytorch to Tensorflow using ONNX"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-10-06 07:29] sayakpaul commented on #39595
Makes sense, thank you. I am aware of the other options you suggested. I am gonna close this issue.

[2020-10-06 07:29] #39595 closed

[2020-10-06 07:31] minsky-1 commented on #43588
Thank you very much for the so swift help. I am not being able to build tensorflow with bazel. Somebody wrote that the soultion is to change the version to  11.0, since I use cuda11.1 and cudnn8... I changed the version as you kindly suggested, but I still can not build it. After changing I still get these errors:
ERROR: An error occurred during the fetch of repository 'local_config_cuda':ERROR: S

[2020-10-06 07:35] jaentrouble commented on #43588
What specific CUDA version/CUDNN version/ OS are you using?

[2020-10-06 07:40] asterisk37n commented on #43806
I found this third party repository is a workaround
https://github.com/qubvel/efficientnet

[2020-10-06 07:41] DhruvAwasthi commented on #43736
Hey, please unzip this into /data dir
[data.zip](https://github.com/tensorflow/tensorflow/files/5332091/data.zip)

Thank you!

[2020-10-06 07:49] minsky-1 commented on #43588
Thank you very much for your answer.
I am using  cuda-11.1 and libcudnn8-8.0.0.180-1, and I my system is linux_suse_x86-64.

[2020-10-06 07:56] mansnils commented on #43725
GCC support for Cortex-M55 is perhaps a bit experimental still but there is a PR for this issue: https://github.com/tensorflow/tensorflow/pull/43726

[2020-10-06 07:57] bhack commented on #43785
What is the output of:
`py -c 'import tensorflow as tf; print(tf.__version__)'`

And `pip list | grep tensorflow`

[2020-10-06 08:01] stalex91 commented on #43541
@freedomtan  I have tried TF-nightly with `converter.experimental_new_converter = False` Converted model has `description
TOCO Converted.` but `converter.change_concat_input_ranges = False` does not affect graph in any visible way. Does this flag still parsed in TF2?

[2020-10-06 08:02] jaentrouble commented on #43588
Ok. things to try:

1. Install cudnn 8.0.4 or 8.0.3
8.0.4 is the cudnn which supports cuda 11.1.
I had no problem building with cudnn 8.0.3, and am currently building with cudnn 8.0.4 without any errors right now.
(My cpu is not so good. It takes ages to complete building)
Honestly, I do not think this is the problem, but give it a try.

2. Check your cuda path.
When executing configure file befor

[2020-10-06 08:02] AdityaNikhil commented on #43785
@bhack showing some errors.....

[code]

[2020-10-06 08:03] mezig351 opened #43809 "Exploding loss when converting tf1 to tf2"
I want to convert this notebook written in tf1 to tf2, more specifically the softmax reccommender (Section VI. Softmax model)  model in there:
https://colab.research.google.com/github/google/eng-edu/blob/master/ml/recommendation-systems/recommendation-systems.ipynb

This is from the ML Course, previous steps describe the logic: https://developers.google.com/machine-learning/recommendation/labs/mov

[2020-10-06 08:06] Lipod commented on #42454
Hi @nikitamaia, thanks for the update. In that case, as an end user, it would help if you could:

1. Expose these augmentations in an API appropriate for use in the `tf.data` pipeline (such as `tf.image`). This would effectively make my workaround 'official', and would separate the ops from all of the scaffold that comes with a keras layer.

2. Update the documentation in the `tf.keras.preprocessi

[2020-10-06 08:14] KopfKrieg commented on #29704
Update to my previous comment: Building the Tensorflow 2.x package is not possible as described in the official docs, it will only result in an error. Installing the provided package is also not possible on a current Raspbian 10 OS because it's not compatible with Python 3.7.

Tl;dr: Still no official way of installing Tensorflow 2.x.

[2020-10-06 08:29] edwardyehuang opened #43810 "Support tf.keras.metrics.MeanIoU on TPU"
Please add support for tf.keras.metrics.MeanIoU on TPU

[2020-10-06 08:33] mansnils commented on #43725
@ml-0 How about we merge your PR with the new PR, basically replace cortex_m_gcc_generic_makefile.inc with cortex_m_generic_makefile.inc?
We have a need to build other Cortex-M, other than Cortex-M4 and Cortex-M55 and with both Armclang and GCC as well.

[2020-10-06 08:41] nicesj opened #43811 "Unable to build tflite for aarch64"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 20.04
- Mobile device (

[2020-10-06 09:19] Saduf2019 commented on #43805
@mralexisw
I ran the code on tf nightly and do not face any errors, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/c45ab30f3e1631c8e9b58f29abced508/untitled418.ipynb).

[2020-10-06 09:26] Saduf2019 commented on #43778
@manasmacherla
Thanks for the update, the issue #25160 is directed towards downgrading as done,glad that the issue is resolved.

[2020-10-06 09:42] ml-0 commented on #43725
I am open to add other Cortex-M targets based on the gcc toolchain. Adding other toolchains to the same Makefile (and renaming it accordingly) is ok, too, as long as it integrates well and doesn't make its use too complicated. My concerns are:
- armcc/armclang are proprietary and will not be downloadable by an entry in third_party_downloads.inc.
- armcc/armclang require a license to operate
- armc

[2020-10-06 09:52] brucechou1983 commented on #41024
@impjdi

This issue becomes critical in Android 11. We got a lot of ANR timeout warning messages when launching GPU delegate.

[2020-10-06 09:53] bhack commented on #43806
Can you unlock colab access?

[2020-10-06 09:58] ravikyram commented on #43736
@DhruvAwasthi

I tried in colab with TF version 2.3 and i am seeing different error message(`IndexError: too many indices for array`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/4abcd0b094671bee05d80ced53626234/untitled426.ipynb#scrollTo=vJJJxMzFSnGL).Thanks!

[2020-10-06 09:59] asterisk37n commented on #43806
@bhack I unlocked. Thank you for checking.

[2020-10-06 10:00] nicolas-harraudeau-sonarsource opened #43813 "Buggy string concatenation in "experimental_tpu_predict_loop" and "experimental_tpu_test_loop""
Hello,

While analyzing Tensorflow on SonarCloud I saw what looks like two errors in `tensorflow/python/keras/engine/training_distributed_v1.py` [here](https://github.com/tensorflow/tensorflow/blob/d6426459bca2971b611ca9773858e55f6cc1a9af/tensorflow/python/keras/engine/training_distributed_v1.py#L536-L537) and [here](https://github.com/tensorflow/tensorflow/blob/d6426459bca2971b611ca9773858e55f6cc

[2020-10-06 10:21] bhack commented on #43806
Check https://github.com/tensorflow/tensorflow/issues/43576

[2020-10-06 10:29] essandess commented on #42479
This is now fixed. See https://github.com/macports/macports-ports/pull/8648

[2020-10-06 10:29] #42479 closed

[2020-10-06 11:03] Saduf2019 commented on #43701
Please refer to [this link](https://github.com/tensorflow/tensorflow/issues/43629#issuecomment-702851560) and move the issue to closed status if resolved.

[2020-10-06 11:05] bavanhassel commented on #43771
https://colab.research.google.com/gist/bavanhassel/01f4fddf93ca028671cf7f280018e54c/named_entity_recognition.ipynb

[2020-10-06 11:08] bavanhassel commented on #43771
https://colab.research.google.com/gist/bavanhassel/9efd30c15d02f64a5454e45ae0dfc665/try_keras_ner_github.ipynb

[2020-10-06 11:11] #43371 closed

[2020-10-06 11:11] #43377 closed

[2020-10-06 11:13] ScruffySilky commented on #43790
Of the solutions provided, this one https://github.com/tensorflow/tensorflow/issues/39099 is the only one that removes the error: using !pip install tf-nightly==2.2.0-dev20200505, however it outputs a different error and I still cannot proceed, [Gist](https://colab.research.google.com/gist/ScruffySilky/f681aca8130f40555b41f98323887c15/42038.ipynb#scrollTo=BCcpB-9_Pni4):

[code]

[2020-10-06 11:13] Saduf2019 commented on #43771
@bavanhassel
Please share "ner_dataset.csv" for us to replicate the issue on our local.

[2020-10-06 11:26] bavanhassel commented on #43771
https://www.kaggle.com/abhinavwalia95/loading-named-entity-recognition-training-dataset

[2020-10-06 11:32] sayakpaul commented on #43719
Hi. Any updates on this?

[2020-10-06 11:47] tianran commented on #35043
I just thought about the same thing and found this class attribute from the source code: tf.Module._TF_MODULE_IGNORED_PROPERTIES
Maybe it can solve the problem?

[2020-10-06 11:52] Marouaneghoulami opened #43815 "Failed to load the native TensorFlow runtime"
Im on Windows10
Python 3.7.7
Tensorflow 2.2
Keras 2.4.3

when i run
`from tensorflow.keras.datasets import mnist`

i get

![image](https://user-images.githubusercontent.com/28235664/95198114-98062c00-07d2-11eb-887b-4a787dafaf19.png)
![image](https://user-images.githubusercontent.com/28235664/95198139-a3f1ee00-07d2-11eb-9ab7-578ab22b99dc.png)

[2020-10-06 11:52] Saduf2019 commented on #43771
@bavanhassel
Please provide the csv directly, i cannot access kaggle and download it.

[2020-10-06 12:00] ravikyram commented on #43815
@Marouaneghoulami

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
.Also, pl

[2020-10-06 12:09] Marouaneghoulami commented on #43815
@ravikyram

I will see and let you know.
Thanks.

[2020-10-06 12:11] #43422 closed

[2020-10-06 12:19] nicolas-harraudeau-sonarsource opened #43816 "TypeError in "Bidirectional.compute_output_shape""
Hello,

While analyzing Tensorflow on SonarCloud I saw what looks like an error in [`tensorflow/python/keras/layers/wrappers.py`](https://github.com/tensorflow/tensorflow/blob/d6426459bca2971b611ca9773858e55f6cc1a9af/tensorflow/python/keras/layers/wrappers.py#L522):

<img width="1899" alt="Screenshot 2020-10-06 at 14 11 27" src="https://user-images.githubusercontent.com/40498978/95199955-eb31ac00-

[2020-10-06 12:23] RomanGirin commented on #43764
@bhack thank you for the reply!
my cudnn version is cudnn-10.1-windows10-x64-v7.6.5.32
I also tried cudnn-10.1-windows10-x64-v8.0.3.33 with no luck

Checked environment vars:
in particular i have in PATH
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\bin
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\libnvvp

I also have var CUDA_PATH with value
C:\Program Files\NVIDIA GPU Comp

[2020-10-06 12:25] DhruvAwasthi commented on #43736
@ravikyram
[Here](https://drive.google.com/file/d/1Wnj1TmUaOSlzDJx8LvyLVizrcm7QM0Kl/view?usp=sharing) is the updated zip, you can use this...
Thank you for the patience!

[2020-10-06 12:28] Marouaneghoulami commented on #43815
@ravikyram

Hi,
i installed :
**Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019**

and downgraded Numpy

Now its all good, thanks

[2020-10-06 12:28] #43815 closed

[2020-10-06 12:28] nicolas-harraudeau-sonarsource opened #43817 "Duplicate condition in "is_square""
Hello,

While analyzing Tensorflow on SonarCloud I saw what looks like an error in [`tensorflow/python/ops/linalg/registrations_util.py`](https://github.com/tensorflow/tensorflow/blob/9648531c0bf5163de26e8688c017d58b3eb80405/tensorflow/python/ops/linalg/registrations_util.py#L59):

<img width="1863" alt="Screenshot 2020-10-06 at 14 23 29" src="https://user-images.githubusercontent.com/40498978/952

[2020-10-06 12:29] bavanhassel commented on #43771
This application does not support uploading csv files

[2020-10-06 12:31] victorromeo commented on #43472
@jdduke May I get some pointers if possible to confirm the approach for an appropriate Transpose operation? There are guides for TFLite custom operations, however not for missing micro operations or custom micro operations.

I'm planning on reusing the TransposeContext, from Transpose.cc but dropping the KernelType
[code]

I'm thinking of basing the micro implementation off of ComputePermutation i

[2020-10-06 12:32] bavanhassel commented on #43771
[ner_dataset.txt](https://github.com/tensorflow/tensorflow/files/5333738/ner_dataset.txt)
You can change the file extension back to csv

[2020-10-06 12:39] Palkos83 commented on #43623
Is there anything else I can try?
Any fixes I could test in the nightly builds?

[2020-10-06 12:39] elmahdy27 commented on #43802
same problem

[2020-10-06 12:52] nicolas-harraudeau-sonarsource opened #43818 "Exceptions not raised because the "raise" keyword is missing in a few places"
Hello,

While analyzing Tensorflow on SonarCloud I saw what looks like two errors in [`tensorflow/python/tpu/tpu_embedding.py`](https://github.com/tensorflow/tensorflow/blob/c6c6d90b29d4f9ccf501520ae691ccd58f0bbd85/tensorflow/python/tpu/tpu_embedding.py#L1639) and [`tensorflow/python/keras/losses.py`](https://github.com/tensorflow/tensorflow/blob/090f260aab3dab00bcdf0232962e753bb9fab696/tensorflow

[2020-10-06 12:53] asterisk37n commented on #43806
@bhack
Thank you. It is a related issue. It seems no solution for now. So, If this is not a bug, is this expected to happen? Thank you!

[2020-10-06 12:54] cscribano commented on #42664
### Describe the problem

I'm experiencing the very same issue, standard Conv2d trains >2x slower than Depthwise + Pointwise Conv (wich are the building blocks of SeparableConv2D), [HERE](https://gist.github.com/cscribano/d4c8480167cb53a25245ed6197b8ad7b) a minimal reproducible example (requires [profiler](https://blog.tensorflow.org/2020/04/introducing-new-tensorflow-profiler.html)).

### Source

[2020-10-06 13:06] bhack commented on #43817
Thanks but I think that it is hard to auto identify the "real" issue :wink: https://github.com/tensorflow/tensorflow/pull/43819

[2020-10-06 13:08] RomanGirin commented on #43764
Also, just in case, checked that I have installed CUDA 10.1 with the update 2

CUDA Toolkit 10.1 update2 Archive https://developer.nvidia.com/cuda-10.1-download-archive-update2?target_os=Windows&target_arch=x86_64&target_version=10&target_type=exelocal

The issue still remains
Any help is very appreciated!

[2020-10-06 13:11] #43430 closed

[2020-10-06 13:16] bhack commented on #43806
Yes probably you can close this and subscribe to that one or https://github.com/tensorflow/tensorflow/issues/40166

[2020-10-06 13:19] #43806 closed

[2020-10-06 13:42] bhack commented on #43623
@jvishnuvardhan Can you check if you can re-route this?

[2020-10-06 13:42] spartacoos opened #43821 "Serial printing breaks after updating Mbed OS"
@tensorflow/micro

**System information**
- Linux Ubuntu 20.04
- TensorFlow installed from source
- Target platform Arm Mbed OS for the NXP FRDM K66F board

**Describe the problem**
The version of Mbed OS used for this [example](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/examples/micro_speech#deploy-to-nxp-frdm-k66f) is old and unsupported. After running the update