[2017-03-07 08:23] oahzuw opened #8160 "Tensorflow more tutorial on java?"
Tensorflow more tutorial on java? I can run the introductory program, but that's far enough and i want to learn more，I do not understand python,Can provide more java tutorials? Sorry for my bad english!

[2017-03-07 08:27] megan-gu opened #8161 "ImportError: DLL load failed & ImportError: No module named '_pywrap_tensorflow_internal'"
Dear friends：

Traceback (most recent call last):
  File "D:\Python35\lib\site-packages\tensorflow\python\pywrap_tensorflow_intern
al.py", line 18, in swig_import_helper
    return importlib.import_module(mname)
  File "D:\Python35\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 986,

[2017-03-07 08:50] Juanlu001 commented on #7778
It would be very nice to silence these warnings from the Python side, it's not so easy to use grep from Windows.

[2017-03-07 08:58] manjunaths commented on #7130
I went ahead and signed the CLA. I had to get corporate approval to do the process. Should I go ahead and create a new PR ? Or the old PR that I posted above can be reopened and pulled from ?

[2017-03-07 09:08] danijar opened #8162 "Show location of using uninitialized variable in the stacktrace"
It's currently hard to debug initialization of multiple variables with initial values depending on each other:

[code]

The current error message has the form `FailedPreconditionError (see above for traceback): Attempting to use uninitialized value a` and the traceback points to `sess.run(tf.global_variables_initializer())`. However, the place for fixing this problem is the declaration of `b`:

[c

[2017-03-07 09:16] esd100 commented on #2940
@victorv @yaroslavvb I have the cuda.1.dylib link.

Would you recommend setting LD_LIBRARY_PATH in the bash profile? What do you set it to?

[2017-03-07 09:40] FeiWard opened #8164 "AttributeError: module 'tensorflow.python.training.training' has no attribute 'SummaryWriter'"
When I use tensorboard，return this error。
AttributeError: module 'tensorflow.python.training.training' has no attribute 'SummaryWriter'

[2017-03-07 09:41] SumithRZT commented on #8154
I tried passing the UnicodeString  `ori_image.tobytes().decode('utf-8')` in place of im_string, Still getting the same error

[2017-03-07 09:53] CanoeFZH opened #8165 "https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md 404"
rt, 404 error of link from readme, Download and Setup

[2017-03-07 11:00] akuz commented on #7956
@langmore I was looking more into prior distributions defined on the R+, such as Gamma, InverseGamma, etc. I think these would benefit from something like log_prob_with_softplus(). I've made a simple model of clustering using expectation maximisation. In it, the latent variables (cluster assignments) and the parameters of the clusters (cluster probs, means, stdevs) are estimated using a single opt

[2017-03-07 11:21] yaroslavvb commented on #2940
[code]

[2017-03-07 11:22] yaroslavvb commented on #7778
Try export TF_CPP_MIN_LOG_LEVEL=2

[2017-03-07 11:26] Juanlu001 commented on #7778
Thanks @yaroslavvb, I haven't tried it yet but an environment variable is definitely more useful.

[2017-03-07 11:33] botev commented on #2660
So, this is quite inconsistent with the suggestions of using NCHW for the gpu, due to cudnn. Can we just have MaxPooling actually work with NCHW on the CPU as well? At the moment we literally can not test our code on a CPU for dev because of this issue...

[2017-03-07 12:12] botev commented on #2382
I'm encountering the same error, when I'm trying to set a very large parameter with value from numpy. E.g.:
[code]

[2017-03-07 13:01] MicaelCarvalho commented on #8159
LeCun's website seems to be down at the moment, and the dataset is hosted over there. This probably explains the problem, although the error message doesn't say timeout.

Anyway, in future issues you should post a minimal code to reproduce the problem, not only the stack trace — it would help us find what is wrong and you would get an answer faster. ;)

[2017-03-07 13:02] AFAgarap commented on #4827
Oh, good. Glad to help. :)

[2017-03-07 13:10] MicaelCarvalho commented on #8162
Have you tried initializing local variables as well? Maybe you have a local dependency in your function `some_function`.

`sess.run([tf.global_variables_initializer(), tf.local_variables_initializer()])`

If you can provide a code that reproduces the problem, it can be easier to debug. I ran the lines you provided, but they work fine here. ;-)

[2017-03-07 13:12] MicaelCarvalho commented on #8164
SummaryWriter has changed in TensorFlow 1.0. You can use `tf.summary.FileWriter`

[2017-03-07 13:19] dowhat1995 opened #8167 "URLError: <urlopen error [Errno 110] Connection timed out>"
When I run program about Deep MINIST for Experts on Jupyter notebook,I met this question.How do I solve it?

[2017-03-07 13:41] MicaelCarvalho opened #8168 "tf.case evaluating all outputs when using batches (?)"
Hello,

I may be missing something here, but I couldn't find any useful information on the documentation, so I'm posting this behavior as a bug, hoping someone can clarify what's going on. Questions at the end of this issue

**Operating System:** Debian 4.8.15-2
**Installed version of CUDA and cuDNN:** CUDA 8, cuDNN 5
**python3 -c "import tensorflow; print(tensorflow.__version__)"**: 1.0.0

### Re

[2017-03-07 13:41] jonasrauber commented on #6768
The same should apply to panes that contain only empty plots.

[2017-03-07 14:18] Cynthia0629 opened #8170 "tensorflow 2st test:"CUDA_ERROR_OUT_OF_MEMORY", What's wrong here???"
when I run:

 ERROR came like that:
I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:910] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
I tensorflow/core/common_runtime/gpu/gpu_device.cc:885] Found device 0 with properties:
name: GeForce GTX 1080
major: 6 minor: 1 memoryClockRate (GHz) 1.7335
pciBusID 0000:

[2017-03-07 14:18] MicaelCarvalho commented on #8167
Yann LeCun's website is down, and the dataset is hosted over there. For now, you can only wait for it to come back up, or look for a mirror online.

[2017-03-07 14:23] MicaelCarvalho commented on #8170
Something is already consuming all your GPU memory. Run `nvidia-smi` to see what's going on, you have no memory left.

If you are trying to run 2 TensorFlow codes in parallel, you will want to change the Session command to this:
[code]

This way, TensorFlow won't allocate all of the memory for a single process.

[2017-03-07 14:33] lemonzi commented on #8055
Hey @rryan, long time! This should do it (the audio is quite horrible though): https://dl.dropboxusercontent.com/u/8226735/events.out.tfevents.1488843003.iAirLemon

[2017-03-07 14:37] MicaelCarvalho commented on #8154
cropped_list = sess.run(tf.image.crop_and_resize(image=**np.asarray(img_data_tensor, dtype=np.float32)**, boxes=[[5,5,100,100]], crop_size=[40, 36], box_ind=[20]))

[2017-03-07 14:43] MicaelCarvalho commented on #8133
I believe the answer you're looking for is at the docs of the said function:
https://www.tensorflow.org/api_docs/python/tf/contrib/layers/optimize_loss

[2017-03-07 14:48] SumithRZT commented on #8154
I am getting error

**ValueError: could not convert string to float**: **b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01\x01,\x01,\x00\x00\xff\xdb\x00C\x00\x02\x01\x01\x01\x01\x01\x02\x01\x01\x01\x02**

since im_string is datatype of str and numpy do not allow non numerical data types.

[2017-03-07 14:52] MicaelCarvalho commented on #8152
Please follow guidelines for posting issues, or at least enclose your _things_ in code/quote/etc formatting.

Your problem is probably related to variables in your graph that didn't exist when you saved your checkpoint, meaning they can't be loaded because they weren't there before.

[2017-03-07 15:11] #1062 closed

[2017-03-07 15:22] MicaelCarvalho commented on #8154
I didn't pay much attention to your construction of the `image` parameter, it seems you misinterpreted the docs: the `image` parameter is of shape `[batch, image_height, image_width, depth]` — that doesn't mean it should have the values of `image_height`, `image_width` and `depth` inside of it, the doc is only explaining its shape — meaning: it has the shape of an image, with the first index refer

[2017-03-07 15:26] MicaelCarvalho commented on #8142
Pull request: #8169

[2017-03-07 15:43] MicaelCarvalho commented on #8158
See #2924.

[2017-03-07 15:54] snnn commented on #8054
I'll submit a pull request tmr.

[2017-03-07 16:03] atabakd commented on #7859
It also worked for me but is there a way to not use nightly builds?

[2017-03-07 16:30] MicaelCarvalho commented on #8168
Update: This issue is related to #3287, which was closed without a proper solution (IMHO). The documentation doesn't explain why it runs all branches, and the questions 1 and 2 in this topic aren't addressed.

[2017-03-07 16:31] dylanbfox commented on #634
@xksteven did that method work for you? simply overwriting the `train_op` variable after restoring the checkpoint?

[2017-03-07 16:39] aidan-plenert-macdonald commented on #1419
Weird. Are you sure you are linking right? I definitely have those symbols in my shared libs

[code]

[2017-03-07 16:41] j-wilson commented on #8047
@caisq Any updates regarding this issue? I've tried using `offline_analyzer` per your suggestion; but, keep running into `ValueError: Duplicate node name` as in #7051. Unlike #7051, I'm running locally on CPU. The problem seems to stem from repeated calls to `sess.run()`, where `sess` is an instance of `DumpingDebugWrapperSession`; but, I'm not sure how to get around this issue when using `tf.get_

[2017-03-07 16:41] vade commented on #6729
Hi - just to mention I've had similar issues following the instructions for 1.0

I can confirm the following fixes all worked:

[x] Install_name_tool fix posted by @jason-riddle
[x] Stack Overflow posts linked by @normanheckscher worked
[x] @bradleygibson symlink fix (seems the easiest)

[2017-03-07 16:49] caisq commented on #8047
@j-wilson With regard to the duplicate node name error you are getting, are you using the same file:// debug URL (i.e., the same directory) for different session.run() calls? If that's the case, can you try using a unique different URL (i.e. ,directory) for each session.run() call?

[2017-03-07 16:58] bhack commented on #8100
I'm not in the Polyhedral field but I'm interested to follow this experiment. Do you know if there is any  different impact here between Polly and Apollo approach? See also the integration plan in [Polly Gsoc 2017](https://www.pollylabs.org/gsoc2017.html).

[2017-03-07 16:58] danijar opened #8172 "Get initialized value of variable without resetting"
As far as I know, there is currently no way to get the current value of a variable while ensuring that it has been initialized once. tf.Variable.initialized_value() has a dependency on the initializer that causes the variable to be reset to its initial value every time it is accessed. Using `return tf.cond(tf.is_variable_initialized(variable), lambda: variable.value(), lambda: variable.initialized

[2017-03-07 17:31] yaroslavvb commented on #8172
There's a number of use-cases of dependent variables that can't be handled with `initialized_value`, see https://github.com/tensorflow/tensorflow/issues/4920 for discussion.

I used [smart_initialize](https://gist.github.com/yaroslavvb/d592394c0cedd32513f8fbb87ca05938) that rewrote the graph to automatically initialize the variable on first read, but with VariableV2 change, things changed so that

[2017-03-07 17:34] lemonzi opened #8174 "tfdbg requires external ncurses on OSX"
- OSX 10.11.6
- TF from source at `8746f8ac9` (master HEAD from a few hours ago) without GPU
- XCode 8.2.1

When loading it, tfdbg crashes with a curses-related error. Was solved with `brew install homebrew/dupes/ncurses`. If this is really a dependency, it would be useful to mention it in the documentation or installation guide.

[2017-03-07 17:40] aidan-plenert-macdonald commented on #1419
A co-worker just got @crjensen21 's error. I will let you know if I manage a fix for it

[2017-03-07 17:42] SumithRZT commented on #8154
the code snippet you gave works like charm!! . But is giving error when more than one box is passed in the boxes list
` cropped_list = sess.run(
        tf.image.crop_and_resize(image=img_data, boxes=[[1, 1, 6, 6],[1, 1, 6, 6]], crop_size=[40, 36], box_ind=[0]))`
Error is
**ValueError: Dimensions must be equal, but are 2 and 1 for 'CropAndResize' (op: 'CropAndResize') with input shapes: [1,480,640

[2017-03-07 17:46] prb12 commented on #8172
Yes, this is a bit of a mess with dynamic control flow.  Here's a workaround due to @vrv.   Note the use of `var.read_value()` rather than `var.value()`

[code]

Please let me know if this works for you.

[2017-03-07 17:50] prb12 commented on #8167
Closing as duplicate of #8126

[2017-03-07 17:50] #8167 closed

[2017-03-07 17:53] prb12 commented on #8165
Should be fixed by https://github.com/tensorflow/tensorflow/pull/8169

[2017-03-07 17:53] #8165 closed

[2017-03-07 18:02] agupta74 commented on #8061
It looks like that I have an older version of Cuda 8 libraries. Please ignore my previous email.

[2017-03-07 18:02] caisq commented on #8174
@lemonzi thanks for reporting this issue. Yes, curses/ncurses is a dependency for tfdbg on OSX. I will document it better in the next release.

[2017-03-07 18:05] lemonzi commented on #8174
Great, thanks! Good to know I didn't mess anything up.

It also seems Terminal.app sends by default some weird character when pressing the delete key, and requires enabling the "Delete sends Control-H" option for the backspace to work. Not sure if this could be considered a bug -- maybe just having it on the FAQ will be enough.

[2017-03-07 18:21] MicaelCarvalho commented on #8154
You didn't update the parameter `box_ind`:

In your case, you have 2 boxes, so it should be of size 2 as well. For a single image, this will be a vector of zeroes with the same size as dimension 1 of `boxes` (i.e. [0,0]).

[2017-03-07 18:32] mrajchl commented on #4521
I can independently confirm this bug. Tried this with Tensorflow 1.0, [CUDA 8.0.44, 8.0.61], cuDNN 5.1, Ubuntu 16.04 LTS, [Tesla K80, GTX 1080]. This even crashes at w_size = 8 in some cases. Are there any updates?

[2017-03-07 18:38] caisq commented on #8174
@lemonzi Yep, we are aware that there are keybinding issues on Mac. There is an internal bug tracking that.

[2017-03-07 18:44] prb12 commented on #8159
Closed as duplicate of #8126

[2017-03-07 18:44] #8159 closed

[2017-03-07 18:52] prb12 commented on #8154
Note for future reference: This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-07 18:53] prb12 commented on #8154
Closing since there doesn't seem to be a bug here.

[2017-03-07 18:53] #8154 closed

[2017-03-07 18:54] yaroslavvb opened #8175 "Unclear documentation for tf.layers.dense flattening behavior"
Documentation states:

However, the following returns tensor with shape `shape=(2, 2, 2, 400)`, as if the input has not been flattened
`tf.layers.dense(tf.placeholder(tf.float32, (2,2,2,2)), 400)`

[2017-03-07 18:54] prb12 commented on #8152
As @MicaelCarvalho says, please can you try deleting your checkpoint.

[2017-03-07 18:59] chuckbasstan123 opened #8176 "runtime error of combing tensorflow CTC and SynthText"
Hi,

I met a runtime error during training when I tried to applied **tensorflow built-in CTC** loss function  (https://www.tensorflow.org/versions/r0.10/api_docs/python/nn/conectionist_temporal_classification__ctc_) to **SynthText dataset**. http://www.robots.ox.ac.uk/~vgg/data/scenetext/
It said " Not enough time for target transition sequence (required: 4, available: 0)".
Here is the some info f

[2017-03-07 19:03] prb12 commented on #8149
Could you please clarify what you mean by 'download source from github description “Installation”'?  Are you downloading using the links in the README.md on [this](https://github.com/tensorflow/tensorflow) page ?

If so, then please note that the link on that page to **stable** binary releases is currently down, so is it possible that you are using the links under "People who are a little more adv

[2017-03-07 19:04] mrry commented on #8161
Can you try upgrading to CUDA 8.0? We don't support CUDA 7.5 in TensorFlow 1.0.

[2017-03-07 19:05] brannondorsey opened #8177 "Some Tensorboard metadata unsearchable"
### Environment Info
Ubuntu 16.04
Tensorflow installed from pip, TF version 1.0.

### Potential Bug
I'm using Tensorboard's embedding projector to perform PCA/t-SNE on a dataset of features I've extracted from ~4K MIDI files. I've created a metadata TSV and pointed my Tensorflow application to it as instructed in [the documentation](https://www.tensorflow.org/get_started/embedding_viz). The metada

[2017-03-07 19:09] prb12 commented on #8151
@zheng-xq This probably shouldn't have a CHECK fail?  Is there no way it could raise an error via the OpKernel constructor?   (e.g. so interactive usage doesn't take out the runtime!)

[2017-03-07 19:12] prb12 commented on #8176
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-07 19:12] #8176 closed

[2017-03-07 19:16] prb12 commented on #8114
The symptoms seem related to the problems in #7980.  Could you please see if the solution in that thread works for you?

[2017-03-07 19:18] prb12 commented on #8061
@agupta74  Please let us know if building at head solves your problem.

[2017-03-07 19:23] prb12 commented on #8146
@jhseu Could you please comment on whether recent jemalloc/tcmalloc changes might affect this?

[2017-03-07 19:25] prb12 commented on #8105
Could you please explain this comment?

[2017-03-07 19:32] jhseu commented on #8146
It's unrelated to jemalloc. My guess is it's an issue with your usage of tcmalloc.

That error would happen if you call tcmalloc's malloc() and try to free with glibc malloc() and vice-versa. Disable tcmalloc?

[2017-03-07 19:38] icyJoseph commented on #7844
@yuquanle
Hi,
The problem is that .so extensions do not work on windows. So what you'd need to do is build Tensorflow on Windows as it is shown here:

https://github.com/tensorflow/tensorflow/tree/r0.12/tensorflow/contrib/cmake

I will execute that step list in the upcoming days and report back to you. In the mean time, enjoy TF :)!

[2017-03-07 19:43] zheng-xq commented on #8151
Yes, we can change that to a python error. cancan101, does that solve your problem?

The underlying issue is that we don't have fast CPU conv implementation of NCHW format. This is an area that is contribution-welcome.

[2017-03-07 19:44] lobachevzky commented on #8146
@jhsue, I'm not exactly sure how to disable tcmalloc. I assume it's getting called either from tensorflow or cv_bridge, so would the best way be to find the actual `tcmalloc` function call and change it to `malloc`?

[2017-03-07 19:51] jhseu commented on #8146
It's definitely not in TensorFlow. We don't use tcmalloc anywhere.

So it's either coming from your environment or being used by cv_bridge. You can track it down through `gdb python` and `run /path/to/your/script.py`.

[2017-03-07 20:18] annanay25 commented on #8100
@jpienaar Thanks for those amazing pointers!

Yes, I believe that passing the entire computation graph through XLA will give Polly entire program to optimize which is a favorable optimization scenario.

Will begin experimenting with the same.

[2017-03-07 20:21] cancan101 commented on #8151
Yes that would solve my problem.

[2017-03-07 20:31] yaroslavvb opened #8178 "Forcing recomputation of graph expressions"
We are using graph editor to rewrite the graph. It seems that there's some kind of caching going on, so that rewiring the graph after first `session.run` call has limited effect.

Using `OptimizerOptions.L0` when creating session does not prevent this caching.

It would be nice to have a way to force `TF_Run` run exactly the graph given to it by `TF_ExtendGraph`, rather than returning some interna

[2017-03-07 20:34] lobachevzky commented on #8146
This was the output:
[code]
I wasn't really able to make sense of it. I also searched through all of `/opt/ros/indigo/` for `tcmalloc` with no results.

[2017-03-07 20:45] yaroslavvb commented on #8168
Conditional execution needs all ops to be created inside the the op. You created `q2p = [tf.Print(q2[0]` ahead of time, so those ops are executed regardless of the condition.

There's some extra explanation by mrry here -- http://stackoverflow.com/questions/34401714/is-tensorflow-lazy

[2017-03-07 20:49] astorfi commented on #5987
Same here ... I am having trouble with that too!

[2017-03-07 20:51] benring commented on #6360
I rechecked and this is not a distributed issue -- my single node version I tried yesterday used a different model. I tried the config setting and the session never times out. Does this imply a circular dependency in the graph? I can execute the custom op on a toy example, but am having a hard time reproducing the error to demonstrate it. Our model is pretty complex -- it's an extension of GPFlow

[2017-03-07 20:54] jhseu commented on #8146
We don't depend on opencv in TensorFlow, so I'm not sure. Closing out, though, because this bug is unlikely to be an issue in TensorFlow.

[2017-03-07 20:54] #8146 closed

[2017-03-07 21:00] gunan commented on #8156
Sorry for the delays.
This is now complete.
We have builds running on github master, and also now running builds on all pull requests.

[2017-03-07 21:00] #8156 closed

[2017-03-07 21:01] lobachevzky commented on #8146
That may be, but the script does not throw the error without the `import tensorflow.contrib` line.

[2017-03-07 21:05] prb12 commented on #8078
When you previously ran the command
`bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package`, did it complete successfully?

[2017-03-07 21:07] jhseu commented on #8146
It's still unlikely to be in TensorFlow. My best guess without trying it out is that there's a shared module dependency somewhere, TF is using glibc malloc upon module import, and somewhere along the long someone is using tcmalloc and freeing.

Libraries shouldn't be switching out malloc implementations unless its usage is completely self-contained.

[2017-03-07 21:07] MicaelCarvalho commented on #8168
Thanks for the link, I didn't know that -- the documentation should explain this behavior, it's definitely very important.

Does this mean conditional execution is, by nature, incompatible with anything that involves queues, since we cannot simply redefine the queue each time? -- in this case, redefine the queue = calling slice_input_producer and batch function.

If so, I don't see a way to solve

[2017-03-07 21:11] prb12 commented on #8178
TF_ExtendGraph can only add ops to an existing graph (by design, hence the name).  If you modify existing ops in the graphdef which has been used in a session this will have no effect.

The only way I know to achieve this is to make a new session using the modified graph.

@mmry  Is this correct?

[2017-03-07 21:20] mrry commented on #8178
Yes, that's correct. `tf.contrib.graph_editor` doesn't work on graphs that have already been used in a `tf.Session`.

[2017-03-07 21:22] yaroslavvb commented on #8178
Good point.
Also, I've just checked the updated Graph Editor guide and it does indeed specify that it must be used without any active sessions, thanks for clarification.

[2017-03-07 21:22] #8178 closed

[2017-03-07 21:24] yaroslavvb commented on #8168
Yes, it seems doing lazy dequeue with tf.cond is problematic. There's `tf.train.maybe_batch` op that can take over some of the target use cases

[2017-03-07 21:25] lobachevzky commented on #8146
I (sort of) fixed it:
[code]
This does not throw an error. Why the order of imports matters is beyond me.

[2017-03-07 21:28] yaroslavvb commented on #6360
Can you get a backtrace to see where it's stuck? You can get stuck for reasons unrelated to tensorflow, for instance, I've had a model stuck because a GPU op was calling Nvidia drivers, which was trying to store some temporary files on NFS which was hanging (solution was to set `CUDA_CACHE_PATH` to local directory). You can get more logging with `export TF_CPP_MIN_VLOG_LEVEL=1`, although it's goin

[2017-03-07 21:29] jhseu commented on #8146
Yeah, import order affects symbol resolution order. My explanation before is most likely right, and it's a bug in cv_bridge.

[2017-03-07 21:29] prb12 commented on #8146
@lobachevzky Thanks for following up with the workaround.  It does indeed look like cv_bridge is doing something bad with tc_malloc.

[2017-03-07 21:30] prb12 commented on #8151
I think a warning on first use and a non-fatal error would seem more appropriate.

[2017-03-07 21:48] #7134 closed

[2017-03-07 21:57] amit-gupta commented on #7116
any updates on this?....I am facing the same issue

[2017-03-07 22:07] dr4b commented on #8175
Whoops, sorry, didn't mean to remove myself.  Investigating internally, was trying to add the person I think is responsible.

[2017-03-07 22:16] #8138 closed

[2017-03-07 22:43] aselle commented on #7552
@greenking, can you try @soloice's suggestion?

[2017-03-07 23:06] lukeisontheroad commented on #6738
@andrewharp can you give us an update about the walk through? Thanks for your awesome work 👍

[2017-03-07 23:21] dr4b commented on #8175
So, after investigation, what I was told was that it behaves like tensordot, and so the behavior and the current documentation are both correct -- and the engineer I talked to said that they thought we could use more precise language but that it wouldn't necessarily help as the current language is clear and unambiguous when in context.  (See tensordot: https://docs.scipy.org/doc/numpy/reference/ge

[2017-03-07 23:21] #8175 closed

[2017-03-07 23:28] prb12 commented on #5243
@kushia I don't see any reason why the cifar10 inferenfce code should require a batch of 128.
The error message you posted is from an assign op - and there aren't any such ops in inference code. Are you sure that this isn't happening during restoring your model from checkpoint?

Could you please post the full stack backtrace of the error - that way we can see what step was actually being run?

[2017-03-07 23:32] cancan101 commented on #6439
Is this fixed by: https://github.com/tensorflow/tensorflow/pull/7891 ?

[2017-03-07 23:35] prb12 commented on #6063
@FCInter The summary op used in this model is no longer present in TensorFlow  (hence the `deprecated` namespace)  I believe the change suggested by @linbojin will fix your problem until the model is updated.

@sherrysack Your problem is completely unrelated to the original issue.  If you believe there is a real bug in this code, please open a separate issue.

[2017-03-07 23:35] #6063 closed

[2017-03-07 23:35] carlthome commented on #6439
https://github.com/tensorflow/tensorflow/pull/7891 looks great.

[2017-03-07 23:36] prb12 commented on #6742
Closing as duplicate of https://github.com/tensorflow/tensorflow/issues/8126

[2017-03-07 23:36] #6742 closed

[2017-03-07 23:39] #7367 closed

[2017-03-07 23:46] agupta74 commented on #8061
I was able to build successfully from sources using master branch. The issue is fixed. We can close this issue now. Thanks !

[2017-03-07 23:48] mrry commented on #8061
Great—thanks for verifying!

[2017-03-07 23:48] #8061 closed

[2017-03-07 23:49] keven425 opened #8180 "Double requirement given: tensorflow==1.0.0 when installing from binary url on Mac"
### Environment info
Operating System: MacOS 10.12.1

Installed version of CUDA and cuDNN:
$ ls -l /usr/local/cuda/lib/libcud*
lrwxr-xr-x  1 root  wheel     33 Jan 31 21:18 /usr/local/cuda/lib/libcuda.1.dylib -> /usr/local/cuda/lib/libcuda.dylib
-rwxr-xr-x  1 root  wheel  13504 Sep 26 14:59 /usr/local/cuda/lib/libcuda.dylib
lrwxr-xr-x  1 root  wheel     45 Sep 26 15:00 /usr/local/cuda/lib/libcudad

[2017-03-08 00:21] prb12 commented on #7585
@kaufManu The error message in your original post comes from a ScatterNd op which is the gradient code for the gather_nd op in your example.

The shape validation code for scatter_nd was changed recently.  @ebrevdo - could you take a look at this please?

[2017-03-08 00:24] prb12 commented on #7524
Closing this issue since the real problem has a new issue #7935

[2017-03-08 00:24] #7524 closed

[2017-03-08 00:27] prb12 commented on #6742
@auserdude If you retrieve the `.gz` files from any other source (wayback machine?) and drop them in your data_dir then TF will just use them.  It does not validate a checksum AFAIK.

[2017-03-08 00:28] aidan-plenert-macdonald commented on #1419
@crjensen21 I found the symbol in this file `/usr/local/lib/python2.7/dist-packages/external/protobuf/python/google/protobuf/pyext/_message.so` Linking against it fixed the problem

[2017-03-08 00:34] prb12 commented on #8180
The `pip` command you typed asks for a `tensorflow` package **and** a second specific package via a download URL.

Please double check your command against the ones in the instructions here: https://www.tensorflow.org/install/install_mac

i.e. use either
`pip install --upgrade tensorflow`
or
`pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.0.0-py2-none-any.whl`

[2017-03-08 00:34] #8180 closed

[2017-03-08 00:51] alexvicegrab commented on #6437
A separable_conv3d would be great to implement architectures like Xception to video and medical imaging data. Any way of extending the separable_conv2d implementation already present in TF?

[2017-03-08 00:57] keven425 commented on #8180
My bad. Thanks for the quick answer!

[2017-03-08 01:05] alexvicegrab commented on #7278
I second that, separable 3D convs are vital to export Xception type architectures to video and medical imaging. What bits of code would need to change to implement a native 3D version?

@girving There is no nn_ops.depthwise_conv3d_native, so not sure how to address this, I may be missing something.

Thanks in advance!

[2017-03-08 01:09] sujoyp commented on #2033
Has anyone solved this problem ?

[2017-03-08 01:12] #7935 closed

[2017-03-08 01:12] #8142 closed

[2017-03-08 01:18] philipperemy commented on #2033
Guys make sure your code is bug free. In most of the cases, we suspect this error to come from your code, rather than TF itself. I had this error because I was given an empty array to TF.

[2017-03-08 01:19] philipperemy commented on #2033
[code]

[2017-03-08 01:37] cancan101 opened #8181 "remove_training_nodes (Python Lib) Removes Identity Node Even When is Output"
[`remove_training_nodes`](https://github.com/tensorflow/tensorflow/blob/64edd34ce69b4a8033af5d217cb8894105297d8a/tensorflow/python/framework/graph_util_impl.py#L246) removes `Identity` nodes even if that node is the specified graph output.

For example if the `Identity` node was used to name and make more easily locatable the output of the graph.

[2017-03-08 02:04] ericloveland commented on #492
I have been trying to find the largest models my box will run (neural_gpu) given that my box has 128gb ram and 3x 1080 gpu's, but tensorflow seems to run out of memory arbitrarily when it is only using about 71.5gb (minus a bit for the OS)... the dumps say that the total allocs = 64gb, so I wonder if it is self limiting to 64gb somewhere... when I built tensorflow and the box it only had 64gb... s

[2017-03-08 02:05] dr4b commented on #7795
Hey, it has propagated out now, although now we have a separate bug in the page (an unclosed bold).

[2017-03-08 02:16] IvyGongoogle commented on #8078
@prb12 yes, it did success. And running the command `bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package` also success.

[2017-03-08 03:04] andrewharp commented on #6385
The native libs necessary for the demo can now be built with make, completely removing the need for Bazel on Linux and OS X system. Set `buildWithMake` to true in build.gradle to try.

However, it seems some extra changes will still be required to get this to get the make builds to work on Windows, so reopening to track.

[2017-03-08 03:18] nOkuda opened #8182 "bucket_by_sequence_length does not dequeue all items given to it from another queue"
I've got some SequenceExamples gzipped in a file that I read with TFRecordReader.  I then enqueue those serialized SequenceExamples onto a RandomShuffleQueue.  Then, I dequeue the RandomShuffleQueue, get a number I need from the serialized SequenceExample, and pass both the number and the SequenceExample into bucket_by_sequence_length.

Since there are 100 items stored in the file, I expected to g

[2017-03-08 05:04] abhi18av commented on #8096
@prb12

Yes, you are right. I tried installing the the gpu version once the first install failed.

Moreover when I tried uninstalling the `tensorflow` it raised `not installed` error

[code]

Nor can I install tensorflow again.
[code]

[2017-03-08 05:05] SumithRZT commented on #8154
Thanks a lot for your help !!

[2017-03-08 05:39] abhi18av commented on #8096
So, I ran the command again.

[code]
And it install without issues.

But raises the same error while importing the tensorflow package in a session.

[2017-03-08 06:13] gunan commented on #8034
Release.md is updated. @aselle, is the tool updated?
Please feel free to close once the tool is ready.

[2017-03-08 06:14] gunan commented on #7836
Release.dm updated. Closing this issue.

[2017-03-08 06:14] #7836 closed

[2017-03-08 06:46] nikhilweee commented on #7547
@mrry : Thanks for your help! Adding a `./` did solve the problem. Although a trivial solution, it took me a long time to figure this out.
Also, don't you think models should be loaded even without that? Many of the existing tensorflow models available on github and elsewhere simply specify adding a `model.ckpt` without a `./` to load an existing checkpoint.

[2017-03-08 07:44] cesc-park commented on #3290
@michaelisard this still can produce negative variance.
Why not use the Var = E[square(X- mean)] equation instead of the Var = E[square(X)] - square(mean) equation?

[2017-03-08 07:44] Narukamiko opened #8185 "Error with name of 'op'?"
[code]

[2017-03-08 07:54] esd100 commented on #2940
@yaroslavvb

Thanks for the input commands.

Some changes with that.

[code]

[2017-03-08 07:58] esd100 commented on #2940
I added
[code]

and now ...

[code]

[2017-03-08 08:01] esd100 commented on #2940
First trial run ...

[code]

Do you know if this output means everything is running appropriately? I'm not sure why there are all the warning about the tensorflow compiling without the special instruction sets.  Any ideas?

[2017-03-08 08:08] yydxlv opened #8186 "module 'tensorflow.python.ops.nn' has no attribute 'rnn_cell'"
my OS is win10， and the version of tensorflow is 1.0. but  errors occured : No module named 'tensorflow.models',the code snippets as follow:
from tensorflow.models.rnn.translate import data_utils
from tensorflow.models.rnn.translate import seq2seq_model

I am new to tensorflow ,thank you!

[2017-03-08 08:15] andykernahan opened #8187 "Update protobuf.cmake to 3.2.0?"
Hello,

The [protobuf.cmake](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/external/protobuf.cmake) is building an old version of protobuf, one which specifically does not include the parsing limit bump from 64MB to 2GB (referenced in #582 and resolved by #7338). It is currently building a fork which contains a specific MSVC [fix](https://github.com/mrry/protobuf/co

[2017-03-08 08:23] haeusser opened #8188 "Feature request: Tensorboard: Set defaults (Split on underscores, tooltip sorting, ...)"
It would be awesome to be able to set preferred defaults for TensorBoard somewhere, in particular:

- Split on underscores
- Tooltip sorting method

Best,
Philip

[2017-03-08 08:28] martinwicke commented on #2940
Everything is fine. The warnings just warn you that things could be faster.

[2017-03-08 08:30] SumithRZT opened #8189 "tf.image.crop_and_resize not returning proper values of the cropped data"
I am using **tf.image.crop_and_resize**  to obtain cropped data of image but the function is returning all zeroes instead of pixel values.

My code is like this
[code]
the first print statement prints the proper cropped data of image but the second print gives the array in proper shape as given in **crop_size** but array full of zeros.

the first print statement's output
[code]

the second print s

[2017-03-08 08:48] esd100 commented on #2940
@martinwicke thanks!

[2017-03-08 08:48] nicolasdespres commented on #7951
I am glad to see this initiative. The input pipeline is definitely the
steepest part of the learning curve.

I'd like:
* A unified API to manage both in-memory (`feed_dict`) dataset and large one so that the same code scale and your model only have to talk to one API. Although, I have not use it yet, I liked what I read in the input pipeline documentation.
* More iterators! They are great. Asynchr

[2017-03-08 09:00] lsy643 opened #8190 "A bug with slim.create_global_step"
When I use **slim.create_global_step** in distributed training, the  **slim.create_global_step** can make the workers freeze just after session has been created.

This can be reproduced by just replacing the `global_step = tf.Variable(0, name="global_step", trainable=False)` with `global_step = slim.create_global_step()` in the **mnist_replica.py** in the [dist_test](https://github.com/tensorflow/

[2017-03-08 09:02] egavves commented on #6111
Hi,

I am testing the TF Slim package, fine-tuning the flowers dataset using the instructions in https://github.com/tensorflow/models/tree/master/slim

To allow for memory growth, I use the following code:

`    session_config.gpu_options.allow_growth = True
    session_config.gpu_options.allocator_type = 'BFC'
    session_config.gpu_options.per_process_gpu_memory_fraction = 0.4
    # gpu_options

[2017-03-08 09:13] Mulf commented on #7552
@Carmezim I have met the same problem, I download the the nightly win, but what should I do next? Put it in some file? or something else?

[2017-03-08 09:29] soloice commented on #7552
@Mulf run `pip install --upgrade <path-to-your-wheel-file>`.
In my case, it's `pip install --upgrade C:\tensorflow_gpu-1.0.0rc2-cp35-cp35m-win_amd64.whl`, because I put my wheel file into the root folder of the C drive.

[2017-03-08 09:50] jonygli commented on #8049
@tatatodd it doesn't need any step to reproduce, just after installing the specified version, then you will find that there is no such rnn_cell.py file!

[2017-03-08 10:06] doncat99 opened #8191 "ValueError: Attempt to reuse RNNCell with a different variable scope than its first use."
I am not sure if I am the first who met the following error:

ValueError: Attempt to reuse RNNCell <tensorflow.contrib.rnn.python.ops.core_rnn_cell_impl.BasicLSTMCell object at 0x10210d5c0> with a different variable scope than its first use.  First use of cell was with scope 'rnn/multi_rnn_cell/cell_0/basic_lstm_cell', this attempt is with scope 'rnn/multi_rnn_cell/cell_1/basic_lstm_cell'.  Please

[2017-03-08 10:09] j-wilson commented on #8047
@caisq The script runs if modified s.t. a new wrapper/directory is used for each call to `sess.run()`; however, none of the tensors show up inside the debugger CLI, i.e. `0 dumped tensor(s):`.

As a separate comment, is there a reason why separate wrappers/directories are needed for each call to `sess.run()`? The wrapper creates subdirectories `run_<run_id>`, suggesting that reuse of a single wrap

[2017-03-08 10:20] wanjianwei opened #8192 "No OpKernel was registered to support Op 'DecodeJpeg' with these attrs on ios"
hey,everyone!
At first,i can run the demo in /ios_examples/camera successfully.then I use retrain.py to retrain with my own dataset,and get a output_graph.pb flie and a output_labels.txt file.after that, I replace the files in  /ios_examples/camera/data with them,and run the demo again,but it failed ,error description  are as follow:
####error#########
:Could not create TensorFlow Graph: Invalid a

[2017-03-08 10:31] YOUNGING opened #8193 "malfunction of tf.device() on Windows"
tf.device('/gpu:0') fail to run the model on only gpu0, other gpus will be occupied as well. As a result, all the memory of all gpu cards on my server are filled. By setting 'config.gpu_options.visible_device_list = "0"', the model will run on gpu0 only.

BTW, only the memory of other gpus are filled, no actual computation is performed on them, all the computation is performed on gpu0.

Anyone who

[2017-03-08 10:36] efeiefei commented on #3208
@agniszczotka
Great ! That solved my problem !
But I still do not know why ~

[2017-03-08 10:53] MicaelCarvalho commented on #8168
I didn't know `tf.train.maybe_batch` neither, but I don't think it can solve the problem. A quick read on its doc shows:

It seems the `keep_input` parameter can only control `enqueue`, whereas I'm trying to control `dequeue` (i.e. do not `dequeue` from validation if we're training, and do not `dequeue` from train if we're validating).

In my understanding, part of the philosophy behind TensorFlow

[2017-03-08 11:20] Wojova commented on #8191
I am getting the same error when trying to run the translate example (even when doing the small self test) which can be found here: https://github.com/tensorflow/models/tree/master/tutorials/rnn/translate

[2017-03-08 11:23] lglhuada commented on #543
@OswinGuai If your computation is not as much as possible( such as add or plus operation), the GPU util is not obvious, try implement large models. ；）

[2017-03-08 12:00] mahatosourav91 opened #8194 "NaN loss during training in GMM"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
Github issue :- [7784 ](https://github.com/tensorflow/tensorflow/issues/7784)
Stackoverflow question :- [here](http://stackoverflow.com/questions/42551421/tensorflow-gmm-errortensorflowmodel-diverged-with-loss-nan) and [here](http://stackoverflow.com/questions/42505293/input-is-not-inverti

[2017-03-08 12:21] andreas-eberle opened #8196 "tf.py_func treating result different on Windows and Ubuntu in Tensorflow 1.0"
### Description

I'm using tf.py_func in my data fetching pipeline. The applied function basically calculates an int from an int. When I run the tensorflow code, it works on my Windows 10 development laptop, but fails on the Ubuntu server with an error that the python function would return an int64 instead of the expected int32. It is the same behavior for both, the CPU and the GPU backend.

I wou

[2017-03-08 12:34] snnn commented on #8160
What kind of tutorial you want to see? I'd like to contribute some.

[2017-03-08 13:07] bluezone2015 opened #8197 "import tensorflow Segmentation fault (core dumped)"
(gdb) bt
#0  0x00007f8ef604478b in init_one_static_tls (map=0x0) at allocatestack.c:1171
#1  __pthread_init_static_tls (map=0x0) at allocatestack.c:1196
#2  0x00007f8ef667e6eb in _dl_close_worker () from /lib64/ld-linux-x86-64.so.2
#3  0x00007f8ef667c613 in _dl_open () from /lib64/ld-linux-x86-64.so.2
#4  0x00007f8ef5e3af66 in dlopen_doit (a=0x7ffc4dda53f0) at dlopen.c:67
#5  0x00007f8ef6678266 in

[2017-03-08 13:12] sultan-arshi commented on #7152
i have the same issue but could not find solution
i added manually these two framwork

[2017-03-08 13:46] shahbazsyed commented on #8186
@yydxlv tensorflow.models has been moved to a separate [github repository](https://github.com/tensorflow/models)

You can clone this locally,and move the models folder into your tensorflow folder (found in python site packages ). After that you will have tensorflow.models in your import working correctly. Also if you still have problems with getting data_utils and seq2seq_model not importing from

[2017-03-08 14:02] oranshayer opened #8198 "OOM although very small network"
Operating System:
Ubuntu 16.04

Installed version of CUDA and cuDNN:
CUDA 8.0
CuDNN 5.1

TensorFlow v0.12.1

Hi,
I'm getting an OOM message on a very small network, and running on 2 GTX 1080.
It's a 2 layer network, first 2 layers of VGG, conv1_1, conv1_2.
The input image is 400x400 and I am trying to run a batch of size 16.

My training is taking a feature vector from 4 spatial positions and trai

[2017-03-08 14:10] belavenir commented on #492
I also face memory thing when I train a transfer learning based model. I solve it by freezing some layers by pre-trained weights and fine tuning layer from layer. It works in this way.  But when I train the entire model, too many trainable parameters will still cause the OOM in AWS.

[2017-03-08 14:36] prakar94 commented on #7754
Use python type conversion to solve this issue

tf.split(num_or_size_splits=int(X.get_shape()[1]), ...)

[2017-03-08 14:55] insectatorious opened #8199 "Tensorboard scalar summary graph distorts after resizing and toggling log scale on y-axis"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

None although a search for distorted image tensorboard doesn't help much...

### Environment info
Operating System: 16.04 LTS
Firefox: 51.0.1 (64-bit)
TF: 1.0 (installed via pip)

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]

[2017-03-08 14:58] caisq commented on #8047
@j-wilson There is already a wrapper along that line, see: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/debug/wrappers/dumping_wrapper.py#L31

Usage example:
[code]

The dumps from different runs will be inside folders such as /tmp/dumps1/run_<epoch_time_stamp>_<uuid>

See also doc at: https://www.tensorflow.org/programmers_guide/debugger#offline_debugging_of_remotely-run

[2017-03-08 15:08] doncat99 commented on #8186
if you are using Tensorflow 1.0, try import like this:

  import tensorflow as tf
  from tensorflow.contrib import rnn

  hidden_size = 100
  batch_size  = 100
  num_steps   = 100
  num_layers  = 100
  is_training = True
  keep_prob   = 0.4

  input_data = tf.placeholder(tf.float32, [batch_size, num_steps])
  lstm_cell = rnn.BasicLSTMCell(hidden_size, forget_bias=0.0, state_is_tuple=True)

[2017-03-08 15:20] girving opened #8202 "build_config.bzl file modified by configure"
`configure` modifies `build_config.bzl` to set the `WITH_JEMALLOC` flag.  This is inconvenient when using git, since it means I can't pull after doing configure without manually clearing the file.

Can the setup be modified so that `configure` makes a file not under git control?

[2017-03-08 15:22] snnn commented on #8054
Indeed, I haven't understand the code fully, and I do not know how to use it.  Why all variables are marked as input? Should it only work with frozen graph?

[2017-03-08 15:26] girving commented on #7278
@alexvicegrab I don't know of any plans, but we'd be happy to accept contributions.

[2017-03-08 15:27] girving commented on #7278
@alexvicegrab Also, as I noted above, it's possible to write a slower version of separable convolutions in pure Python.

[2017-03-08 15:45] mrry commented on #7547
Yes, I do think so :). @rohan100jain fixed this bug recently, so it should work as expected if you use a nightly build.

[2017-03-08 15:45] victorv commented on #2940
@esd100 you can suppress info and warning log messages in the shell with `export TF_CPP_MIN_LOG_LEVEL=2` or in python with `os.environ['TF_CPP_MIN_LOG_LEVEL']="2"`

[2017-03-08 15:57] linrio commented on #8190
This bug has been fixed?

[2017-03-08 16:15] lemonzi opened #8205 "`tf.losses.cosine_distance` still uses `dim`"
- Version: current HEAD on master

The loss `tf.losses.cosine_distance` only accepts `dim`, not `axis` as the convention suggests for TF 1.0. It internally passes `axis=(dim,)` to `reduce_sum` though, so there may be a reason to keep the name I'm not getting.

[2017-03-08 16:22] evgfreyman commented on #7778
It works, thank you

[2017-03-08 16:35] tongda commented on #8191
I met the same issue. If you are all using compiled version on master branch, I believe that we are the same issue caused by the [recent commit](https://github.com/tensorflow/tensorflow/commit/54d50ffec8df4f748694632dbe5ebde9971e2c9e). As the commit message says:

w:

From my case, which is running the [ptb tutorial](https://github.com/tensorflow/models/tree/master/tutorials/rnn/ptb), the solution

[2017-03-08 16:36] swarathesh commented on #5867
i'am getting the following error in android
`ERROR: Analysis of target '//tensorflow/contrib/util:convert_graphdef_memmapped_format' failed; build aborted.
`

[2017-03-08 16:41] MicaelCarvalho commented on #8168
Just to be more precise and maybe help people who are looking for a solution:

The proposal/request in this thread is for something similar to `tf.QueueBase.from_list`, but receiving `dequeue` operations and/or the output of `tf.train.batch` instead of Queue objects. If one has manual control over the Queues, it is possible to use this method to pick which queue we should dequeue from using a sing

[2017-03-08 16:54] inflation commented on #8168
Using multiple queues always bothers me.

A better option is discussed here #7951.

[2017-03-08 16:58] matt-42 commented on #3636
If parallelizing the training is difficult could we at least parallelize the computation of bottlenecks ? The should be no dependencies between the computation of two bottleneck, so their computation could scale to multiple GPU/CPU.

[2017-03-08 17:08] mrry commented on #8138
I don't think the set of names for which `tf.RegisterGradient()` has been called is sufficient for validating the override map keys... for example a common use is to register a temporary gradient for an op that doesn't in general have one.

[2017-03-08 17:14] yaroslavvb commented on #7951
+1 to something like feed_dict. That's the only way to learn by interacting with external world (training robot arms, Atari games, [Universe](github.com/openai/universe)).

It could be made more efficient by avoiding copies. Like PyTorch, whose Tensors share memory buffers with underlying numpy arrays

[2017-03-08 17:21] prb12 commented on #8205
@sherrym @josh11b This is a suggested API consistency change.

[2017-03-08 17:24] prb12 commented on #8198
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-08 17:24] #8198 closed

[2017-03-08 17:25] prb12 commented on #8197
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-08 17:25] Carmezim commented on #7552
@Mulf apparently soloice answered the question. If you have any other doubts during installation feel free to ask.

[2017-03-08 17:28] prb12 commented on #8196
@zffchen78 Could you please take a look and see if something is platform specific here?

[2017-03-08 17:31] prb12 commented on #8194
@agarwal-ashish You are listed as owner for this contrib package  - could you please take a look and see if this is expected behavior?

[2017-03-08 17:32] prb12 commented on #8193
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-08 17:32] #8193 closed

[2017-03-08 17:34] volvador commented on #7970
No charitable tensorflow soul to help with this?

[2017-03-08 17:35] prb12 commented on #8192
Closing as dupluicate of #2883  (@petewarden - I'm assuming that workaround is still necessary?)

[2017-03-08 17:35] #8192 closed

[2017-03-08 17:37] prb12 commented on #8191
@ebrevdo Could you please take a look at this?

[2017-03-08 17:37] prb12 commented on #8190
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-08 17:38] prb12 commented on #8189
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-08 17:40] prb12 commented on #8187
@mrry @benoitsteiner Could one of you please comment on this suggestion?

[2017-03-08 17:42] prb12 commented on #8186
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-08 17:42] #8186 closed

[2017-03-08 17:43] prb12 commented on #8185
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version and the code/steps necessary to reproduce your problem. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-08 17:44] prb12 commented on #8182
@joel-shor @ebrevdo  Could one of you please comment on whether this behavior is expected?

[2017-03-08 17:47] prb12 commented on #8181
@drpngx I believe you wrote this code?  Could you please comment.

[2017-03-08 17:48] mrry commented on #8187
It sounds like a good suggestion.

[2017-03-08 17:51] yaroslavvb commented on #8175
Ah thanks, tensordot connection makes it more clear.

It seems `tf.dense` behaves by contracting last index of input tensor with first index of weights tensor. The "flatten" word was confusing, not sure what it means here

Toy example I made for myself to translate tf.dense to equivalent np.tensordot

[code]

[2017-03-08 17:51] MicaelCarvalho commented on #7951
I don't know TF as well as others here, so please take my comments with some skepticism:

- With `tf.py_func` I was able to solve most of my input-related problems, like loading .mat files in a symbolic-ish manner. The one I'm currently struggling with is the integration of `tf.train.batch` with the ability of picking the source from which the input should come, for having train/val data in the sa

[2017-03-08 17:53] yaroslavvb commented on #492
@ericloveland there was some memory issues in older version, maybe trying the latest tf would help

[2017-03-08 17:54] prb12 commented on #8096
@abhi18av I suspect that your original problem was due to trying to `import tensorflow` while running python in a directory with a subdir named tensorflow?  Could you please try this in a different directory?

[code]
This is mentioned in the instructions on https://www.tensorflow.org/install/install_mac:

[2017-03-08 18:00] benoitsteiner commented on #8187
No objection to using the same protobuf version from cmake and bazel. I'd recommend we update the cmake files to extract the protobuf version from workspace.bzl instead of hardcoding a value in protobuf.cmake

[2017-03-08 18:05] aidan-plenert-macdonald opened #8207 "Operation Documentation has " within it"
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/array_ops.cc#L1154

This wasn't causing a problem because TF was stripping out the documentation before hitting Python and the Python Protobuf text_format.py https://github.com/google/protobuf/issues/2798. I wanted to expose the documentation in the Python (A patch I am NOT recommending!!) per http://stackoverflow.com/questio

[2017-03-08 18:10] rryan commented on #386
@mwoodson1 RFFT/IRFFT (1D/2D/3D with gradients for 1D/2D) is now committed internally, once the GitHub sync occurs it'll be available.

Everything is still implemented with cuFFT, so it's GPU-only unfortunately. We're still working on a solution for CPU FFTs.

[2017-03-08 18:19] SumithRZT commented on #8189
Hi ,
Below are the platform details
Operating System : Ubuntu 14.04
Processor : Intel® Core™ i7-2820QM CPU @ 2.30GHz × 8
tensorflow version : 0.12.0-rc0
python version : 3.4

[2017-03-08 18:22] prb12 commented on #7515
Pull request is pending review.

[2017-03-08 18:25] prb12 commented on #2467
Closing due to inactivity.

[2017-03-08 18:25] #2467 closed

[2017-03-08 18:27] chandrasg commented on #5987
Looking for inputs too!

[2017-03-08 18:34] yaroslavvb commented on #7970
cc @jmchen-g

[2017-03-08 18:47] drpngx commented on #8181
@petewarden who contributed the original code.

@cancan101 Could you send a simple, compact repro case?

Not sure, we have another case internally where replacing the [if clause](https://github.com/tensorflow/tensorflow/blob/64edd34ce69b4a8033af5d217cb8894105297d8a/tensorflow/python/framework/graph_util_impl.py#L310) fixed a problem.
[code]

[2017-03-08 18:47] brianhayward opened #8208 "Feature Request: armv7k support for WatchOS"
There is no build target for the armv7k architecture in the compile_ios_tensorflow.sh makefile. This means that tensorflow currently does not work on the Apple Watch. Having support for one of the most popular wearables would be a big boon to what developers could do with machine learning.

I asked a question about this a month ago on Stack Overflow but only got crickets, so I'm asking here as a f

[2017-03-08 19:10] gunan commented on #7552
For posterity, the links are corrected in master branch.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/install/install_windows.md

I am having problems updating the website. In our next website update, all should be fixed.

[2017-03-08 19:16] fayeshine opened #8209 "Initial support for cudnn v6?"
we can download cudnn v6 rc from here
http://blog.yannisassael.com/2017/02/cudnn-v6-0-rc/

[2017-03-08 19:36] cancan101 opened #8211 "[feature] Support Building for iOS Using Bazel"
Would be great to be able to build for ios using Bazel rather than make. This would allow more rapid development of ops that can only run on iOS (eg: [Metal Performance Shaders](https://github.com/tensorflow/tensorflow/issues/7958)).

Carry over from: https://github.com/tensorflow/tensorflow/issues/5360#issuecomment-283557890

It looks like there might be some progress here: https://github.com/ten

[2017-03-08 19:40] aidan-plenert-macdonald commented on #8207
I put this into a Dockerfile and it built,

[code]

`dequote.py` is the code above

[2017-03-08 19:46] jart commented on #8202
We received a pull request adding the -e file to gitignore in https://github.com/tensorflow/tensorflow/pull/7978, but I'd like to understand more why it's there in the first place, so I'll take a look now.

[2017-03-08 19:54] andykernahan commented on #8187
Hi @benoitsteiner, such a change may make it difficult if workspace.bzl were to be updated to a version of protobuf which introduced another platform quirk. Is it potentially more robust to manage them independently, given that cmake can target a boarder range of platforms?

[2017-03-08 20:31] jart commented on #8202
As for build_config.bzl being modified, I have an idea which I think might work. Let me see if I can code that up quickly.

[2017-03-08 20:33] ericloveland commented on #492
@yaroslavvb I'm running tf 1.0 from about a month ago... are you saying there have been relevant changes since 1.0 came out??  Thanks!

[2017-03-08 20:40] ErikGoldman commented on #7951
right now there are two very divergent paths to getting data into Tensorflow: feed_dict and queues. queues are wonderful until you don't have a way to manipulate your data natively -- for example, if you want to load a .wav file, chop it into parts, and convert it to a spectrogram. at that point, you have to write a C++ op (doable, but a context switch + it makes a very inflexible pipeline) or pop

[2017-03-08 21:14] dr4b commented on #8207
If you want to fix it and send a pull request that would be fantastic!

[2017-03-08 22:16] gunan commented on #7690
I have checked this again, but for me having `python-virtualenv` command is sufficient.
You simply need to feed the `-p` flag, and thats it.
I tested this on a clean docker image as follows:
[code]

Anyway, we are updating the documentation with more stuff.

[2017-03-08 22:23] aselle commented on #7662
This functionality seems useful to me. Marking as contributions welcome.

[2017-03-08 22:27] aselle commented on #4638
You need to manually broadcast it i.e.   `values.get_shape()` must match `pool[args].get_shape`. This is a limitation in the current implementation.

[2017-03-08 22:28] #6479 closed

[2017-03-08 22:28] aselle commented on #7483
@concretevitamin, ping

[2017-03-08 22:31] cancan101 commented on #7187
How much performance hit is there in that tf stores its  filter weights differently from what gets passed to Cudnn, requiring a dimension reordering on calls to fprop and bprop?

[2017-03-08 22:33] ageron commented on #8051
FYI, I submitted a Pull Request for the proposed `__tensor_priority__` implementation, please comment.

[2017-03-08 22:38] rfeinman opened #8220 "Session hang issue with python multiprocessing"
### Issue summary

I am having trouble allocating GPU devices for a multiprocessing pool. Please see the short code reproduction below. I would like to understand why I am getting the CUDA_ERROR_NOT_INITIALIZED error in case 4. For this case, the program hangs, and I have to stop my docker container to exit.

### Minimal reproducible example

core code:
[code]
Case 1 (this works fine):
[code]
[cod

[2017-03-08 23:07] cancan101 commented on #4863
Any updates on a permanent fix to this issue?

[2017-03-08 23:22] prb12 commented on #8189
You example has numerous syntax errors, but I think the underlying problem may be that you are passing incorrect values for the `boxes` arg, which should be _relative_ coordinates in the range [0,1]

Please see the following documentation
https://www.tensorflow.org/versions/r0.12/api_docs/python/image/cropping
https://www.tensorflow.org/api_docs/python/tf/image/crop_and_resize

Please let me know

[2017-03-08 23:22] prb12 commented on #8208
@petewarden  Could you please comment?

[2017-03-08 23:24] prb12 commented on #8209
@zheng-xq I'm assuming this will happen at some point? ;-)

[2017-03-08 23:26] prb12 commented on #8220
@suharshs This seems like it may be down to device creation in DirectSession.  Could you please comment?

[2017-03-08 23:30] #7175 closed

[2017-03-08 23:31] shoyer commented on #8051
Let me try to provide some context around `__array_priority__` as a NumPy developer. (There has actually been extensive discussion about [removing it entirely](https://github.com/numpy/numpy/issues/5844) going forward, but that's a whole different matter that you probably don't want to get into.)

It exists because NumPy has two different ways of interacting with objects of an unknown type. For ex

[2017-03-08 23:51] andrewharp commented on #6385
Ok, I've got something sort of working. It needs some more tweaking, and I would recommend sticking with the prebuilts as described by @bulatyauheni above, but if you're feeling adventurous here's how you can build the Android TF libraries on Windows 10.

First, install Bash for Windows as described here: https://msdn.microsoft.com/en-us/commandline/wsl/about

Once that's done, start bash and run

[2017-03-08 23:51] petewarden commented on #8208
We don't have WatchOS devices on the team to test with, or experience with them, so it's not been something I've been able to easily add. I'd love to see this support added though, and from what I've looked at it should mostly be a case of different sdk paths and some clang and linker flags.

[2017-03-08 23:56] tomwanzek commented on #8191
The issue replicates for me when using the Windows/GPU build 105 on the [Shakespeare RNN Repo](https://github.com/martin-gorner/tensorflow-rnn-shakespeare).

When running the code with the Win 1.0.0/GPU Release, there is no issue.

[2017-03-08 23:58] brianhayward commented on #8208
My team and I understand. We would like to help facilitate this and move this forward. What specific things can we do to help, including testing on device and working through the compiler/linker issues.

[2017-03-09 00:03] concretevitamin commented on #7483
I don't consider it a bug in `sparse_palceholder`... There's no automatic type casting in TensorFlow at the moment, which I think is the effect you're asking for.  (If you have a proposed design to solve this general problem, we'd love to hear about it in a focused issue!)

[2017-03-09 00:03] #7483 closed

[2017-03-09 00:11] zheng-xq commented on #8209
Yes, they will most definitely happen at some point. :)

[2017-03-09 00:12] yaroslavvb commented on #7187
It should be a "pretty big" hit, GPU things should should use NCHW because of CuDNN -- https://github.com/tensorflow/tensorflow/blob/b10f50ff15944badb7262a207f6628dfa52d6a9d/tensorflow/docs_src/performance/performance_guide.md

[2017-03-09 00:15] petewarden commented on #8208
I would take a look at the Makefile where we deal with iOS builds:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/Makefile#L288

You'll see there are already two platforms, 'real' devices and the simulator. I expect you'll need to add a third option for WatchOS, something like:

[code]
Then I'm not sure if you'll need a new architecture or not, but you'll have to

[2017-03-09 00:16] cancan101 commented on #7187
@yaroslavvb To be clear I am referring to how the filter weights are stored, not how the input or output data is represented. I believe that for weights cuDNN supports only one format and that TF must do a live conversion.

[2017-03-09 00:19] yaroslavvb commented on #492
@ericdnielsen in last 2 weeks there was a change that made all cwise ops run in place when the results was not needed. But it probably won't help. It's weird that you are getting dumps for running out of CPU memory. On my machine TensorFlow just uses as much CPU memory as is available, until the machine freezes.

The order of execution is random, so different runs may use different amounts of memo

[2017-03-09 00:23] yaroslavvb commented on #7187
@cancan101 I'm not aware of any transposes done on filter weights between TF and CuDNN. Because filters are learned, it's fine to have a layout mismatch between TF and CuDNN, the training will adapt to the wrong layout.

[2017-03-09 00:26] cancan101 commented on #7187
What about: https://github.com/tensorflow/tensorflow/blob/0be81439c91e297b078152dd0c266471b24bde7f/tensorflow/core/kernels/conv_ops.cc#L610-L612

[2017-03-09 00:30] yaroslavvb commented on #7187
Nice find .... cc @zheng-xq our GPU perf expert

[2017-03-09 00:39] cancan101 commented on #7187
@yaroslavvb Also even if you can just treat the dimensions weight matrix as opaque during training, inference may happen on another device, etc that isn't GPU based so the weights must be converted somewhere.

The [docs for TF](https://www.tensorflow.org/extend/tool_developers/#weight_formats) state:

that being said, pending answers to the perf question, I am thinking of opening a feature request

[2017-03-09 00:47] lsy643 commented on #8190
@prb12 The details includes:

1. OS: Ubuntu Server 16.04

2. Hardware: Dell R730 with Tesla K80

3. TensorFlow Version: 1.0

Besides, the in-graph multi-gpu usage seems to be correct. This is quite strange.

[2017-03-09 00:48] lsy643 commented on #8190
@linrio I just found this bug yesterday, so probably not fixed yet

[2017-03-09 01:03] ebrevdo commented on #8191
That repo looks like it's targeted at tf 1.0, not intermediate releases.

On Mar 8, 2017 3:56 PM, "Tom Wanzek" <notifications@github.com> wrote:

[2017-03-09 01:10] oahzuw commented on #8160
I would like to learn image recognition model training and application, the use of java to identify the characters on the picture or animals, my request can be too much! Thanks!

[2017-03-09 01:13] liangwang commented on #7483
If this is not considered as a bug, then how should we use the shape parameter? Clearly, it will fail by specifying plain numbers. At least, it helps by providing an example if the usage is not straightforward. Maybe, we can add the usage example to the document to avoid any further confusion.

[2017-03-09 01:29] yaroslavvb commented on #7483
@liangwang you can use `shape` parameter as follows:

`tf.sparse_placeholder(tf.float32, shape=np.array((16, 20424)).astype(np.int64))
`

A Python integer does not have a dtype, so it can be treated as int32 or int64.
I believe @suharshs has added the logic that defaults Python integers to int32.
It seems this is one of rare cases where it's better to treat Python integer as int64

[2017-03-09 01:42] yaroslavvb opened #8224 "Feature request: numeric type promotion"
TensorFlow does some numeric type promotion.
It should do more of it.

Examples:
[code]

This came up in:
https://github.com/tensorflow/tensorflow/issues/7483
https://github.com/tensorflow/tensorflow/issues/7220
https://github.com/tensorflow/tensorflow/issues/7170

cc @josh11b who wrote type promotion logic in OpDefLibrary.apply_op
cc @suharshs who changed the default to treat Python integer as in

[2017-03-09 01:50] cancan101 opened #8225 "[feature] Define Op Polymorphic on Fully Defined vs not Fully Defined Shape"
Repost from [SO](http://stackoverflow.com/questions/42655141/tensorflow-define-op-polymorphic-on-fully-defined-vs-not-fully-defined-shape/42683994#42683994):

When defining an Op in Tensorflow, make it possible to provide two Kernels for the op that are polymorphic on whether the shape for the inputs are fully defined.

For example, you can then optimize when shape is fully known / defined by cons

[2017-03-09 01:54] bharathbs93 opened #8226 "Unable to uninstall tensorflow"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-09 01:56] bluezone2015 commented on #8197
OS：CentOS Linux release 6.2 (Final)  x86_64 x86_64 x86_64 GNU/Linux
TensorFlow version：https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0-cp27-none-linux_x86_64.whl

[2017-03-09 01:57] bharathbs93 commented on #8226
*sudo pip uninstall does not work,  says Cannot uninstall requirement tensorflow, not installed.
* Installed CUDA version is 8.0, cudnn 5.1
* python -c "import tensorflow; print(tensorflow.__version__)" output is
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library

[2017-03-09 02:06] WangWenXuan940124 commented on #3834
that's really helpful, thanks to @shartoo

[2017-03-09 02:18] megan-gu commented on #8161
Dear Mr. mrry, you perfectly solved my problem, thank you very very much!

[2017-03-09 02:19] cancan101 opened #8227 "[feature] Smarter Handling of Image Data Format"
Right now the responsibility of choosing image data format (i.e. the representation of batches of image) is that of the data scientist (ie model writer). I suggest there should a solution in TF to move this to the optimizer (XLA perhaps?) or worst cast Op writer.

For some background:

Currently Tensorflow supports `NCHW` and `NHWC` (though other formats like [CHWN](https://github.com/soumith/conv

[2017-03-09 02:41] AnlanSun opened #8228 "Sorry I got question again。。。"
Can TF use ram as swap space for GPU memory？ Cause  I ran a model with batch size 100 on GPU which will be out of memory on caffe. But on TF it works and just show pool_allocator. As I saw in other issues that's just a log. If it can swap why does it crashes sometimes? Is there any limitation?

[2017-03-09 02:58] doncat99 commented on #8191
@tongda , I am using the Release Version of Tensorflow 1.0, working on MacOS in cpu mode. I will switch to the master branch to see if it work by adding the "reuse" parameter, thanks.

[2017-03-09 02:59] artzers opened #8229 "Bug in contrib/tensor_forest/python/tensor_forest_test.py"
My environment is Win7 x64, python 3.5, tensorflow r1.0 GPU version.
I download contrib/tensor_forest/python/tensor_forest_test.py and run 'python test.py' in console.  Then the following error information shows:

..E c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\co
re\framework\op_kernel.cc:943] OpKernel ('op: "BestSplits" device_type: "CPU"')
for unknown op: BestSplit

[2017-03-09 03:00] hughsando commented on #7778
Is it possible that these errors are coming from the fact that with MSVC, x64, SSE2 is implicit (all x64 chips have SSE2) but the `__SSE2__` et al defines are not explicitly set?
Perhaps the guards should be on EIGEN_VECTORIZE_SSE2 etc instead.

[2017-03-09 03:32] bharathbs93 commented on #8226
got around to solving it, you need to mention the gpu version of tensorflow which is tensorflow-gpu when uninstalling, silly mistake :)

[2017-03-09 03:32] #8226 closed

[2017-03-09 03:34] ebrevdo commented on #8191
doncat99: if you do, please ensure your code queries the tensorflow version
and raises a flag if the version is lower than the master branch version.
 you may need to check against:

from tensorflow.core import versions
versions.GIT_VERSION

On Wed, Mar 8, 2017 at 6:58 PM, doncat99 <notifications@github.com> wrote:

[2017-03-09 03:44] yazabaza commented on #3290
Any update on this? Caused a mild train wreck here. Perhaps a warning in the documentation might benefit others.

[2017-03-09 03:45] abhi18av commented on #8096
@prb12 not really. I know that it mentions "using from diff directory" but I was trying to invoke it from the default shell log in - `~/ `

[2017-03-09 03:47] mrry commented on #8161
You're welcome, and I'm glad to hear it!

[2017-03-09 03:47] #8161 closed

[2017-03-09 03:49] abhi18av commented on #8096
However it mentions that my `pip` is out of date.

[code]
But the pip versions for both python2 and python3 are up to date. Can't figure out the issue.

[code]

@prb12 I appreciate you time 👍

[2017-03-09 04:34] mrry commented on #8229
Support for the `tf.contrib.tensor_forest` submodule was not included in TensorFlow 1.0, but it has been fixed at HEAD. Can you try upgrading to a nightly build of TensorFlow and see if the problem persists?

[2017-03-09 04:45] jhli973 commented on #7599
Here have a similar issue:

Total memory: 4.00GiB
Free memory: 3.36GiB
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\core\common_runtime\gpu\gpu_device.cc:906] DMA: 0
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\core\common_runtime\gpu\gpu_device.cc:916] 0:   Y
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\c

[2017-03-09 04:49] mrry commented on #7599
@jhli973 This problem should be fixed at HEAD. Please try upgrading to a nightly build to see if that fixes the problem.

[2017-03-09 04:49] #7599 closed

[2017-03-09 04:50] artzers commented on #8229
@mrry  well, it is OK using nightly version.
It shows:
 DeprecationWarning: Please use assertEqual instead. self.assertEquals(2, hparams.num_classes)
Ran 9 tests in 7.760s

OK

However this nightly version also show these warning info:

2017-03-09 12:45:53.258939: W c:\tf_jenkins\home\workspace\nightly-win\device\gp
u\os\windows\tensorflow\core\platform\cpu_feature_guard.cc:45] The TensorFlow li
b

[2017-03-09 05:00] mrry commented on #8229
It sounds like the issue has been fixed in that case. You can safely ignore the warnings about SSE and AVX in the nightly build...

[2017-03-09 05:00] #8229 closed

[2017-03-09 05:11] SumithRZT commented on #8189
Hi ,
I went through the tensoflow docs but didn't get much. As you told it as a relative co ordinate in the range [0, 1], It would be helpful if you give a code snippet on that.
I didn't find any syntax errors in the code snippet I gave above. I have missed the imports.

[2017-03-09 05:18] ddavidraj commented on #6136
Yes I did the same in Windows. Worked fine

On Mar 9, 2017 10:40 AM, "Indrajeet Gour" <notifications@github.com> wrote:

[2017-03-09 05:19] Kamatio commented on #8164
Hello, I have got the related error while training the NN with Tensorflow, any help? Thanks!

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-6-10bb478fe634> in <module>()
      loss = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(yPredbyNN, Y))
---->optimizer = tf.train.

[2017-03-09 05:22] Carmezim commented on #6136
@igour Do you mean upgrading `setuptools`? If it is, this answer was to address a problem with Anaconda distribution in this case on Windows so at least on it that is supposed to work.

[2017-03-09 05:39] swarathesh commented on #7217
http://stackoverflow.com/questions/38428718/install-tensorflow-with-quantization-support

[2017-03-09 05:44] yaroslavvb commented on #3290
@yazabaza which version? There have been some updates to that functionality, can you reproduce with nightly?

[2017-03-09 06:01] dbl001 commented on #8123
related?

ERROR: /Users/davidlaxer/tensorflow/tensorflow/compiler/xla/service/BUILD:412:1: C++ compilation of rule '//tensorflow/compiler/xla/service:allocation_tracker' failed: cc_wrapper.sh failed: error executing command external/local_config_cc/cc_wrapper.sh -U_FORTIFY_SOURCE '-D_FORTIFY_SOURCE=1' -fstack-protector -Wall -Wthread-safety -Wself-assign -fcolor-diagnostics -fno-omit-frame-pointer

[2017-03-09 06:11] cesc-park commented on #3290
tf.nn.fused_batch_norm works great, because it use "Var = E[square(X- mean)]" to calculate variance. I think tf.nn.moments should use it too.

[2017-03-09 06:21] carltonwang opened #8231 "memory leak when training complex neural networks"
When training some complex (seq-to-seq) neural networks, the memory cost of my program will keep growing, and this only happens on GPU...(On CPU, everything is OK)
I used to report this problem in this issue: https://github.com/tensorflow/tensorflow/issues/6599
After that, I solved this problem by encapsulating my encoding method as an RNN cell, so this issue was closed, though no one knows the re

[2017-03-09 06:26] swarathesh commented on #7217
im facing the similar issue , is there any fix

[2017-03-09 06:48] virgincodes commented on #8160
would see what i can do

[2017-03-09 06:49] agarwal-ashish commented on #7784
This error looks related to GPU. We have not tested GMM support on GPU. Can you try to force this on cpu ?

[2017-03-09 07:35] chengsam opened #8233 "Android: java.lang.NullPointerException: Attempt to invoke virtual method 'org.tensorflow.Output org.tensorflow.Operation.output(int)' o"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
StackOverflow: [Why am I getting error: Initializing Tensorflow?](http://stackoverflow.com/questions/42386650/why-am-i-getting-error-initializing-tensorflow)

### Environment info
Operating System: Mac OS 10.11.6
Tensorflow version: v0.12.0

### If possible, provide a minimal reproducible

[2017-03-09 07:46] andykernahan commented on #8187
However, on reflection, the same difficulty would arise if bazel were consolidated on for all platforms.

In the short-term: would you accept a PR which simply updates the repository and tree?
In the long-term: I can either create another ticket to track to work, or leave this one open.

Cheers.

[2017-03-09 07:47] prajjwalin opened #8234 "When I try to run a python program after importing Tensorflow library I get this message"
W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE3 instructions, but these are available on your machine and could speed up CPU computations.
W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but these are available on your machine and could speed up CPU computations.
W tensorfl

[2017-03-09 07:51] lsy643 commented on #8190
@prb12
One thing I forgot to mention is that all my experiments run in nvidia-docker containers. For the distributed training experiment, I create two ps and two workers, so total four containers.

[2017-03-09 08:01] bluezone2015 commented on #8197
I've solved the problem by update glic to GLIBC_2.14, gcc to gcc-4.8.1, thanks

[2017-03-09 08:01] #8197 closed

[2017-03-09 08:34] estelll commented on #6968
I have met the same problem when I ran the tutorial python script in mnist : fully_connected_feed.py...
After executing 2 episodes it stopped and printed "*** Error in 'usr/bin/python3.4': double free or corruption(!prev) 0x000000000242efa0***"
Then I ran it again ( python fully_connected_feed.py), it still stopped after 2 episodes and print "Error in '/usr/bin/python3.4':invalid pointer : 0x00000

[2017-03-09 08:53] fanlu opened #8235 "RuntimeError: Graph is finalized and cannot be modified. when I use tf.train.Supervisor"
In [1]: import tensorflow as tf

In [2]: g = tf.Variable(0, name="g")

In [3]: def pre_load(sess):
   ...:     print("load")
   ...:     sess.run(g.assign(1))
   ...:

In [4]: sv = tf.train.Supervisor(logdir="/tmp/2/", init_fn=pre_load)

In [5]: with sv.managed_session() as sess:
   ...:     sess.run(tf.group(tf.global_variables_initializer(), tf.local_variables_initializer()))
   ...:     print(s

[2017-03-09 09:03] fcole90 commented on #7690
Good, it makes the docs more concise than my proposal.

On Wed, 8 Mar 2017, 23:17 gunan, <notifications@github.com> wrote:

[2017-03-09 09:04] evgfreyman commented on #7778
Could you say what should I exactly do according to your version? What "guards on" means?

[2017-03-09 09:09] ageron commented on #8051
Thanks Stephan, awesome insights.  I initially proposed the first solution you suggest. The only problem I see is that the user cannot easily get control in the case where `other` is a subtype of a supported type (the only option would be to somehow force `convert_to_tensor(other)` to raise a `TypeError`, not sure how.  The same is true for the second option you suggest.

Perhaps it's not such a b

[2017-03-09 09:28] sulaimanvesal opened #8236 "c:\tf_jenkins\home\workspace\release-win\device\gpu"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-09 10:52] DavidNorman opened #8238 "OS/X compile error with tensorflow/compiler/xla/service/allocation_tracker.cc"
There is a length/signed/unsigned mismatch in an inline vector initialization.

[code]

diff:

[code]

[2017-03-09 11:50] brisker opened #8239 "Why still using two gpus even if I have set gpu_device to the second gpu?"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

I want to use the second gpu, and I use the following code to do this:
        with tf.Session() as sess:
            with tf.device("/gpu:1"):

but why the nvidis-smi results still shows that tensorflow is using both of the two gpus?
For general support from the community, see [StackOverflow](https://s

[2017-03-09 11:56] 345ishaan commented on #8107
Hi,
I want to develop a sequence to sequence attention model using tensorflow. I am trying to install tensorflow from source. Hence following this tutorial https://www.tensorflow.org/tutorials/seq2seq which asks me to clone tensorflow from a git repo.

I am trying to build through bazel and then installing the wheel using the pip. But I get the same error as mentioned above. Please help me by poin

[2017-03-09 13:03] yazabaza commented on #3290
I am running version 0.12.0. Haven't yet tried 1.0 or nightly. I wanted to use tf.nn.fused_batch_norm but could not decipher its documentation. I might just create my own variance calculation with Tensorflow math ops.

[2017-03-09 13:07] MicaelCarvalho commented on #8164
@Kamatio I don't see how the problem is related. But are you correctly importing TensorFlow with `import tensorflow as tf`? Furthermore, check which version you're using; it's possible you have something very old installed.

[2017-03-09 13:24] AFAgarap commented on #8234
You're using the CPU version of TensorFlow, right? If you use the GPU version, you'll have a different output message. You'll have one like this:

[code]

You may ignore it, but if you want faster computation, use the GPU, and you'll have an output message like the one I posted above.

[2017-03-09 13:27] adityap86 commented on #3086
@JamesBelchamber Did you face the same problem after doing `touch google/__init__.py ` . I am not able to solve it. Trying to make pyrebase work on AWS Lambda. @aerointern16 . Any idea why this is not working in this case ?

[2017-03-09 13:29] kinDSa opened #8240 "ImportError: No module named tensorflow"
Hello,
I am using  [TensorFlow For Poets](https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/#0) guides for retraining  model. I followed first 3 step successfully. While I run following command at tensorflow root directory.

python tensorflow/examples/image_retraining/retrain.py \
--bottleneck_dir=/tf_files/bottlenecks \
--how_many_training_steps 500 \
--model_dir=/tf_files/ince

[2017-03-09 13:45] andreas-eberle commented on #7407
I have the same issue on Windows 10. I saw that when I use the batched inputs for the fit operation and setting `steps=None` it works and terminates the training after the epoch is finished. But when I use the same input queue for evaluate and also provide `steps=None` as parameter, it crashes with the OutOfRangeError.

[2017-03-09 13:51] vaklyuenkov commented on #8004
Instead:
[code]
I use:

[code]

in tf r1.0.

Training run without any errors. Can anyone say -is it correct loss function calculation?
Thank u!

[2017-03-09 14:35] annanay25 commented on #8240
Running from the home directory may cause this issue. It may cause python to search for the package within this directory. (Especially you have compiled from source)

Could you try cd-ing into the "tensorflow/examples/..." folder and try running it from there?

[2017-03-09 14:51] jtsheng commented on #7809
Is there a way to use core_rnn without upgrading to 1.0?

[2017-03-09 14:59] yazabaza commented on #3290
I tested in v1.0.1 and this issue appears to be resolved. Thanks!

[2017-03-09 15:06] jtoy commented on #6968
As of march 9, i get this error on all docker images up to 1.0.1, but the error is not in latest-devel

[2017-03-09 15:16] cancan101 opened #8241 "[feature] Logging Support from Custom Op"
Repost from [SO](http://stackoverflow.com/questions/42684403/logging-from-custom-tensorflow-op-issue-with-vlog)

Provide method and documentation for how to log from within a custom op. built in ops using `VLOG` to log, however that does not work for custom ops. I have defined my own op and in it I use `VLOG` however when I try to run the Op I get:
[code]
Ideally there would be some suggestion or

[2017-03-09 15:34] cdiwork commented on #6503
There is a current implementation already but it is not yet complete. I was busy with other projects but I will try to come back to this next week.

[2017-03-09 15:36] beeCwright commented on #7927
Any thoughts on this moving forward? As a workaround right now I have to statically unroll my lstm so I can manually apply my own randomly generated dropout mask to successive time steps.

[2017-03-09 16:12] HassanaOyibo commented on #5968
You don't need to overwrite the files in the CUDA\v8.0 directory. Just paste them from the respective ones in cudnn (i.e. move cudnn64_5.dll  inside the CUDA\v8.0\bin directory, etc.)

[2017-03-09 16:20] inflation commented on #8238
Can confirm.

[2017-03-09 16:20] lobachevzky commented on #8146
Ok. I did a little more digging and I found this line in my `.zshrc`:
[code]
So this line was causing the problem. I'm not really sure which of the three libraries that were involved would be responsible, but it might be good to include a more informative error message.

[2017-03-09 16:36] tristandeleu opened #8242 "Operations used for inference are dropped by optimize_for_inference"
Inspired by the [TensorFlow for Poets](https://petewarden.com/2016/09/27/tensorflow-for-mobile-poets/), I have been exporting models optimized for inference with the `freeze_graph` and `optimize_for_inference`. I have run into an issue where some of the nodes required for inference get dropped by `optimize_for_inference`. The most critical one being the output node being dropped, even though it wa

[2017-03-09 16:45] yaroslavvb commented on #8241
This is a symbol called `_tensorflow::internal::LogMessage::MinVLogLevel()`
Looking at [tf_exported_symbols.lds](https://github.com/tensorflow/tensorflow/blob/754048a0453a04a761e112ae5d99c149eb9910dd/tensorflow/tf_exported_symbols.lds), it's supposed to include everything matching `*tensorflow*`. However, looking at exported symbols, it doesn't seem to be present, any idea why it's filtered out? @

[2017-03-09 16:56] prb12 commented on #6727
@martinwicke Who would be the right person to look at ValidationMonitor now?  (@ilblackdragon wrote this)

@JaySWang why did you unassign him?

[2017-03-09 17:00] prb12 commented on #8240
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-09 17:01] #8240 closed

[2017-03-09 17:05] HossamAmer12 opened #8243 "[Time Consuming] TF C++ Session->Run - Images for Real-time Inference"
[Tensorflow (TF) on CPU]
I am using the skeleton code provided for C++ TF inference [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/main.cc] in order to run a frozen model I have created in Python. This model is an FC NN with two hidden layers.

In my current project's code, I run the inference for each single image (8x8 pixels). For each sample, each Session-

[2017-03-09 17:06] #8236 closed

[2017-03-09 17:09] prb12 commented on #8243
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-09 17:09] #8243 closed

[2017-03-09 17:10] prb12 commented on #8238
@DavidNorman Please feel free to submit a pull request!

[2017-03-09 17:12] prb12 commented on #8235
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-09 17:12] #8235 closed

[2017-03-09 17:16] prb12 commented on #8234
These warnings are harmless, and can safely be ignored.

They are there as a gentle reminder to people who are benchmarking TensorFlow that it is possible to generate faster CPU code if various processor specific build options are enabled.  (In generic binary builds are unable to turn on these options.)

Closing since this is not a bug/issue and really a general usage question. (which are best sen

[2017-03-09 17:16] #8234 closed

[2017-03-09 17:16] HossamAmer12 commented on #8243
I just posted my question on StackOverflow:
http://stackoverflow.com/questions/42701532/time-consuming-tensorflow-c-session-run-images-for-real-time-inference

If you have any suggestions, I'd appreciate it if you can write them over there. Thanks!

[2017-03-09 17:21] prb12 commented on #8231
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

In your previous issue report you did not describe how you measured or diagnosed the 'memory leak'.   What tool or statistic are you using?

Al

[2017-03-09 17:22] prb12 commented on #8228
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-09 17:22] #8228 closed

[2017-03-09 17:28] prb12 commented on #8227
I agree.

It is actually the case that internally XLA is free to permute the physical layout order of Tensor dimensions to improve speed.

The visible `data_layout` fields are an unfortunate artifact of the NVidia cuDNN library interface, and the way it is supported in TensorFlow.  Theoretically it ought to be possible to write a TensorFlow `GraphOptimizationPass` to analyze the user model (writte

[2017-03-09 17:29] mdymczyk opened #8244 "[Java API] Tensor.create() slow for large arrays"
The current Java API's `Tensor.create(Object)` is really slow - for a batch of 128 images of size 224x224x3 it's taking around 1.5seconds. To put this into perspective `runner.run()` with that data and an InceptionV3 graph took below 1second so data prep is x1.5 of the runtime here (for a batch of 32 images it's around 0.35-0.45sec).

Is this working as intended? When running the Python code (usin

[2017-03-09 17:34] prb12 commented on #8224
@suharshs @josh11b Could you comment on whether anybody is actively working on this?

[2017-03-09 17:36] prb12 commented on #8209
@zheng-xq I'll leave this as assigned to you so that it doesn't stay in the triage list.

[2017-03-09 17:38] kaufManu opened #8245 "Minor but confusing mistake in doc about shape of output tensor of gather_nd"
According to the docs of [`gather_nd(params, indices)`](https://www.tensorflow.org/api_docs/python/tf/gather_nd), the output tensor produced by the function has shape

[code]

where `[d_0, ..., d_{Q-2}` are the dimensions of `indices` without the last one, `P` is the rank of params and `K` is the length of the innermost dimension of `indices`. Firstly, I believe it should say `params.shape[K-1]` i

[2017-03-09 17:42] prb12 commented on #6454
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

Note: The API for `zeros_iniailizer` was updated in recent TensorFlow versions.  Much example code is written to previous TensorFlow API versio

[2017-03-09 17:44] aselle commented on #7809
@ebrevdo, I believe the answer is no, can you confirm?

[2017-03-09 17:56] aselle commented on #1325
It seems like this is working as intended, so I am automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-09 18:00] prb12 commented on #8078
@IvyGongoogle  your error message includes the string ~/ztgong/dl-tools/tensorflow/bazel-bin/tensorflow/tools/pip_package/build_pip_package.runfiles`

Is it possibly the case that you are running this binary from a directory other than the root of your tensorflow git client?

If so, then the _relative_ pathname of `tensorflow/python/pywrap_tensorflow.py` would not be found.  (The `build_pip_packag

[2017-03-09 18:09] shoyer opened #8246 "TensorFlow equivalent to numpy.repeat"
This is a popular question on StackOverflow:
http://stackoverflow.com/questions/35361467/tensorflow-numpy-repeat-alternative

But note that the answer so far only works for some use cases (the one presented in the question).

The best I could come up with for a general solution uses `tf.while_loop`, which is pretty verbose (and maybe slower than necessary). I'll add a link to the implementation I

[2017-03-09 18:20] sfincke commented on #550
Recently got TensorFlow 1.0 and pulled recent copies of code and data. Old problem with getting mostly _UNK have resolved. However, perplexity is stuck around 9.5:

global step 846400 learning rate 0.0001 step-time 0.55 perplexity 9.49

Decode output bears some resemblance to French, but it's quite off:

Le Conseil de l’Europe a adopté le rapport de M . _UNK .

Le gouvernement du Canada a publié u

[2017-03-09 18:20] persiyanov commented on #8227
@cancan101 @prb12 Hi! Is there someone working on this already? If not, I would like to take part in implementation of this feature (yeah, I know this is the serious issue, not that's my first one #7948). Could you push me in right direction?

As I understood, the point is this:
• We know that `NCHW` is better for training on GPU, but `NHWC` is better for inference on CPU
• But we don't want to fo

[2017-03-09 18:22] prb12 commented on #4255
Closing due to lack of response.  Please reopen if necessary.

[2017-03-09 18:22] #4255 closed

[2017-03-09 18:23] prb12 commented on #3631
Closing due to lack of response.  Please reopen if necessary.

[2017-03-09 18:23] #3631 closed

[2017-03-09 18:23] prb12 commented on #3726
Closing due to lack of response.  Please reopen if necessary.

[2017-03-09 18:23] #3726 closed

[2017-03-09 18:24] prb12 commented on #4774
Closing due to lack of response.  Please reopen if necessary.

[2017-03-09 18:24] #4774 closed

[2017-03-09 18:25] taion commented on #8227
In an ideal world, I think we'd like to not specify `data_format` for the model at all. I'd like to just tag my input batch with some data format, and have the model internally run transpose operations as needed to use the fastest data format for the given platform... but this is going to be a tradeoff between the cost of transposing and the benefit of using a more optimal data format, if certain

[2017-03-09 18:25] prb12 commented on #7454
Closing due to lack of activity.  Please reopen if necessary.

[2017-03-09 18:25] #7454 closed

[2017-03-09 18:25] joostbr opened #8247 ""ValueError: None values not supported." when using bidirectional_dynamic_rnn"
Using bidirectional_dynamic_rnn throws the "ValueError: None values not supported" when you are not specifying the sequence lengths. The error comes from the reverse step, the operator used to reverse the input sequences requires the sequence lengths to be specified. Maybe this should be a required parameter or alternatively generate the lengths array when the default 'None' is used.

(tensorflow

[2017-03-09 18:26] prb12 commented on #6790
Closing due to lack of activity.  Please reopen if necessary.

[2017-03-09 18:26] #6790 closed

[2017-03-09 18:27] prb12 commented on #7573
Closing due to lack of activity.  Please reopen if necessary.

[2017-03-09 18:27] #7573 closed

[2017-03-09 18:29] prb12 commented on #7786
Closing due to lack of activity.  Please reopen if necessary.

[2017-03-09 18:29] #7786 closed

[2017-03-09 18:29] prb12 commented on #7837
Closing due to lack of activity.  Please reopen if necessary.

[2017-03-09 18:29] #7837 closed

[2017-03-09 18:30] prb12 commented on #7857
Closing due to lack of activity.  Please reopen if necessary.

[2017-03-09 18:30] #7857 closed

[2017-03-09 18:31] prb12 commented on #7889
The answer suggested by @inflation looks correct to me.

Closing due to lack of activity.  Please reopen if necessary.

[2017-03-09 18:31] #7889 closed

[2017-03-09 18:31] prb12 commented on #7663
Closing due to lack of activity.  Please reopen if necessary.

[2017-03-09 18:31] #7663 closed

[2017-03-09 18:32] prb12 commented on #7657
Closing due to lack of activity.  Please reopen if necessary.

[2017-03-09 18:32] #7657 closed

[2017-03-09 18:32] tatatodd commented on #8136
Thanks for filing this feature-request issue @yaroslavvb, and the great analysis!

Assigning to @mrry since he knows about Session subtleties much better than I do.

[2017-03-09 18:32] prb12 commented on #7734
Closing due to lack of activity.  Please reopen if necessary.

[2017-03-09 18:32] #7734 closed

[2017-03-09 18:33] prb12 commented on #7830
Closing due to lack of activity.  Please reopen if necessary.

[2017-03-09 18:33] #7830 closed

[2017-03-09 18:33] prb12 commented on #7932
Closing due to lack of activity.  Please reopen if necessary.

[2017-03-09 18:33] #7932 closed

[2017-03-09 18:33] prb12 commented on #7934
Closing due to lack of activity.  Please reopen if necessary.

[2017-03-09 18:33] #7934 closed

[2017-03-09 18:34] #4775 closed

[2017-03-09 18:36] persiyanov commented on #8227
I also had a thought about that, but I think that's the lesser issue than bothering about creating model twice for training and inference. In most cases, data is in one of these two formats, or can be reshaped in proper format on the fly outside tensorflow.

[2017-03-09 18:44] prb12 commented on #7496
This tutorial was updated to the new TF1.0 API on Jan 20th https://github.com/tensorflow/models/commit/e5079c839058ff40dcbd15515a9cfb462fabbc2a

You will need to upgrade to a newer version of TensorFlow to use this code without modification.

Please re-open if this does not fix your problem.

[2017-03-09 18:44] #7496 closed

[2017-03-09 19:00] taion commented on #8227
Inference-time models need to be different from training-time models regardless, no? You want to build them with `training` or `is_training` set to `False` to drop unnecessary stuff for batch norm, dropout, &c.

I guess these can be handled in optimization passes, but at least that's not how we're handling it right now. We rebuild our graphs for inference with `training=False` before passing them

[2017-03-09 19:44] asimshankar commented on #8244
Thanks for the detailed description and the sample code, it is very much appreciated!

The `create(Object)` method call involves use of reflection to determine the shape and copy things over one array at a time, so it is pretty slow, especially as you add dimensions. The [`create(shape, FloatBuffer)`](https://goo.gl/aGbcSB) method would be an order-of-magnitude faster. For example:

[code]

This i

[2017-03-09 19:47] prb12 commented on #8247
@ebrevdo Can you comment on this pls?

[2017-03-09 19:50] prb12 commented on #8189
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-09 19:50] #8189 closed

[2017-03-09 19:54] prb12 commented on #8051
Since there's a pull request in progress, I'm goign to label it as 'contributions welcome' so that this issue doesn't keep needing re-triaging every time somebody comments!

[2017-03-09 20:13] fventer commented on #7287
I upgraded to 1.0.1 and I have the same problem:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'SKCompat'

'1.0.1'

[2017-03-09 20:35] jhseu commented on #7951
We should make feed_dict faster (likely by not copying the numpy.arrays like @yaroslavvb mentioned), but that's orthogonal to this change. No matter how much we optimize it, feed_dict will never be the fastest way to feed data into a training job.

[2017-03-09 20:38] raginisharma14 commented on #85
@beniz , Not able to open the link you provided. http://tensorflow.org/api_docs/cc/index.md

[2017-03-09 20:45] prb12 commented on #8096
This thread is getting very confused by lots of different unrelated symptoms.

Let's focus on your comment from 5 days ago, where you successfully installed tensorflow and then when you tried to `import tensorflow` but got an error.

When I scroll your console output to the right, I notice that the long line with the error message is talking about trying to load the CUDA8.0 runtime:

[code]

Are y

[2017-03-09 21:13] prb12 commented on #7967
#8151 is a duplicate and has more information.
Closing this one.

[2017-03-09 21:13] #7967 closed

[2017-03-09 21:17] tfboyd commented on #7679
Late on the weekly update.  Not much to add beyond we are currently on schedule for early April.

[2017-03-09 21:18] #7166 closed

[2017-03-09 21:22] prb12 commented on #7838
Please see this page which gives advice and tools for upgrading your model code to the new TF1.0 API: https://www.tensorflow.org/install/migration

Since the error above is unrelated to the original issue, I'm going to close this thread.  Please open a separate issue if the issue persists after migrating to 1.0.

[2017-03-09 21:22] #7838 closed

[2017-03-09 21:32] shoyer commented on #8051
Here I was trying to handle other types that can be converted into Tensors but don't know anything about TensorFlow, like built-in Python number and NumPy arrays.

Maybe explicitly listing types to convert is a better idea, e.g.,
[code]

[2017-03-09 21:33] yaroslavvb commented on #7951
`feed_dict` specifically may not be essential. To be more precise, we need support for pipelines where learning is done in an online fashion, and training data is generated by a system responding to actions of a TensorFlow network (learning Atari simulator, robotics simulator, robot interacting with real world, etc). This is necessary for most of the applications at OpenAI, here's one example -- h

[2017-03-09 21:35] ajl412860 opened #8250 "Issues with getting tensorflow to use SSE4.2 instructions, for faster CPU computations"
Using this on a Mac OS, using the anaconda support system. Basically trying to get tensorflow to use SSE4.2 and AVX .

##This is on tensorflow version 1.0.0

##All commands are done in this order.

#1st
Using this command,
`bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --copt=-msse4.2`

I am not using the gpu with cuda,
##so I didnt include the --config==cuda and

[2017-03-09 21:53] prb12 commented on #8250
There is a section in this [page](https://www.tensorflow.org/versions/master/get_started/os_setup
) which suggests that configuration flags need to be supplied at the `./configure` step.  (Search for "Optimizing CPU Performance")

$ bazel build --config opt //tensorflow/tools/pip_package:build_pip_package

Looking at the configure script, it seems to examine the environment variable `CC_OPT_FLAGS`

[2017-03-09 21:59] prb12 commented on #7844
@keveman @mmry I'm guessing that dynamically loaded user ops on Windows10 may be difficult?

[2017-03-09 22:01] gunan commented on #8250
The warnings about sse4.2 or AVX are completely benign, and can be ignored. It just means that TensorFlow can run faster on your machine if you build from sources. But everything will run OK on your machine, you can safely ignore these warnings.

From what I can see, You did not actually clone the code, but you tried to build our sources.
Especially the first bazel command you have above does not

[2017-03-09 22:01] #8250 closed

[2017-03-09 22:03] joel-shor commented on #8182
@nOkuda would it be possible for you to shorten your example to a minimal amount of code? That would make it easier for me to investigate this issue. If the problem is with `training.bucket_by_sequence_length` not batching short and long examples together, you should be able to create a relatively small example demonstrating this.

I'll still investigate either way, but it might take longer for me

[2017-03-09 22:03] jhseu commented on #7951
The fastest option would be to create a TensorFlow op that maintains state, takes actions as input, and generates the training data. Then add a placeholder to specify the action.

My guess is that you're looking for something that can be done completely in Python, though. There may be some mid-point between the two.

[2017-03-09 22:05] cantonios commented on #6266
Note that for me, the data loaded using @pieterjandesmedt 's answer resulted in incorrect data ranges.

It seems matplotlib loads in the data with intensities in the range [0,1] rather than [0, 255], so you would also need to adjust `pixel_depth` to be 1 instead of 255.  Rather than doing that, I used PIL directly to load in the images and convert them to numpy arrays:

[code]

[2017-03-09 22:12] samodadela opened #8251 "pip3 install --upgrade tensorflow-gpu: No matching distribution found for tensorflow-gpu"
Following the installation guide at https://www.tensorflow.org/install/install_windows
Installed:
- CUDA (cuda_8.0.61_win10.exe)
- cuDDN (cudnn-8.0-windows10-x64-v5.1.zip)
- Python 3.6 x64 (python-3.6.0-amd64.exe)

Then issued:
C:\>pip3 install --upgrade tensorflow-gpu
Collecting tensorflow-gpu
  Could not find a version that satisfies the requirement tensorflow-gpu (from versions: )
No matching d

[2017-03-09 22:25] agnusmaximus commented on #7954
Is there a way to keep the session alive but still cancel all the current steps asynchronously? I'm doing this in a distributed context, so keeping the session alive is necessary to continue training.

[2017-03-09 22:27] argcos commented on #8251
Tensorflow GPU only works with Python 3.5.x

[2017-03-09 22:30] arcosmin opened #8253 "Reoccurring issue with tensorflow-gpu install"
Hi all,

There is still this reoccurring issue with the tensorflow-gpu install with the latest version from pip.

When i try and test using the "Hello World" constant I get the below errors even though it works.

E c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\core\framework\op_kernel.cc:943] OpKernel ('op: "BestSplits" device_type: "CPU"') for unknown op: BestSplits
E

[2017-03-09 22:33] martinwicke commented on #7287
I made a PR fixing this. It should appear in 1.1, soon.

[2017-03-09 22:35] ageron commented on #8051
Apparently there's already a `_tensor_conversion_func_registry` containing various base types and their corresponding conversion functions to Tensors, located in `tensorflow.python.framework`.
New conversion functions can be registered using `register_tensor_conversion_function()`, which is part of the [public API](https://www.tensorflow.org/api_docs/python/tf/register_tensor_conversion_function).

[2017-03-09 22:36] martinwicke commented on #7287
And by "this" I mean the fact that SKCompat is hidden. It does not change the behavior of SKCompat that is part of this issue. I'll adjust the PR description.

[2017-03-09 22:37] samodadela commented on #8251
Indeed! Thanks - the documentation says so but I though anything newer is ok also.
My bad.

[2017-03-09 22:38] martinwicke commented on #7287
We can probably make predict_proba and predict work as expected on comforming classification models, and for simple regression models (which won't support predict_proba).

However, many (maybe most) actual models have several outputs. What should happen in this case?

[2017-03-09 22:41] samodadela commented on #8251
Continuing with the installation, I get this:

C:\>python
Python 3.5.3 (v3.5.3:1880cb95a742, Jan 16 2017, 16:02:32) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\dso_loader.cc:135] successfully opened CUDA library cublas64_80.dll locally
I c:\tf

[2017-03-09 22:41] #8251 closed

[2017-03-09 22:43] samodadela commented on #8251
Now I'm stuck with:
https://github.com/tensorflow/tensorflow/issues/8253

:)

[2017-03-09 22:44] samodadela commented on #8253
Have the same problem!

[2017-03-09 22:48] samodadela commented on #8253
It seems this is the same problem but for the cpu version: https://github.com/tensorflow/tensorflow/issues/7500

The fix is to install a nightly build or wait for next release. When is it planned (for gpu)?

[2017-03-09 22:51] samodadela commented on #8253
Is there a nightly that fixes the problem for gpu? Please specify instruction on how to update.

[2017-03-09 22:51] mhamilton723 commented on #8107
I have the same problem ad @345ishaan

[2017-03-09 22:55] Mazecreator commented on #7951
I am not sure it this concept has been brought up yet, but I will at least put the problem in my own terms.

In dealing with RL problems and the training replay buffer, I couldn't find an easy way to use the Queues to speed up this feeding of samples through the feed_dict.  Also, when randomly creating a sample set, it seemed like the samples were consumed when I wanted them left in the buffer.

W

[2017-03-09 23:03] jhseu commented on #8107
Note: if you're getting this error, then you're ignoring an error that occurred during the build step. Scroll up and find the underlying error :)

[2017-03-09 23:03] argcos commented on #8253
Tried the nightly build but that gets me into other issues which are supposed to be fixed.

[2017-03-09 23:10] prb12 commented on #8253
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

I'm guessing you are on some variant of Windows from the pathnames?

[2017-03-09 23:13] argcos commented on #8253
windows 10 64-bit. tensorflow-gpu 1.0.1

[2017-03-09 23:15] nOkuda commented on #8182
@joel-shor Sorry about not making a better bit of code.  I was originally thinking that the problem was arising from reading tensorflow records or chaining together multiple queues.  But the new minimal working example definitely supports the hypothesis you chose to point out.

Updated minimal working example:
[code]

[2017-03-09 23:17] prb12 commented on #8253
Closing as duplicate of #8229

[2017-03-09 23:39] RichDubielzig commented on #4359
Asked a new question on StackOverflow about the ConstTensor, which doesn't map to the DMAHelper::base() function:

http://stackoverflow.com/questions/42707600/tensorflow-how-to-get-pointer-to-data-contents-of-consttensor

[2017-03-09 23:40] #7287 closed

[2017-03-09 23:43] ebrevdo commented on #8247
This is a duplicate of #5588 and was fixed in
16a4bc203b90f0eff07df369d9d8fe6260c99aef.

On Thu, Mar 9, 2017 at 11:47 AM, Paul Barham <notifications@github.com>
wrote:

[2017-03-09 23:46] ebrevdo commented on #7809
That's right; you must update to TF 1.0 since that is what TFLearn seems to
be targeting.

On Thu, Mar 9, 2017 at 9:45 AM, Andrew Selle <notifications@github.com>
wrote:

[2017-03-09 23:46] ispirmustafa commented on #7970
Could you please try with MonitoredSession. worker code should be as follows:
[code]

[2017-03-10 00:14] alexattia commented on #1962
Same error with 1.0

[2017-03-10 00:16] ispirmustafa commented on #6584
I've tested with DNNClassifier/Regressor. It's working with the head. Could you please try with latest and provide me what is not working? The original issue was resolved with the later releases.

[2017-03-10 00:34] yazeedalrubyli commented on #2940
For me (MacBook Pro macOS Sierra + **CUDA-8.0**)
[code]

Then
[code]

It works... THX @yaroslavvb @esd100

[2017-03-10 00:39] jiazhentim commented on #4775
Thanks, it works now.

[2017-03-10 00:45] Franck-Dernoncourt opened #8255 "Ordering the runs in TensorBoard's embeddings tab"
Feature request: it would be nice if the  runs in TensorBoard's embeddings tab were ordered.

As of now it is unordered, e.g.:

![image](https://cloud.githubusercontent.com/assets/15331/23777190/d3eaabfc-0500-11e7-93f1-657a9d9bd35c.png)

Corresponding Stack Exchange question: [What determine the order of the runs in TensorBoard's embeddings tab?](http://stackoverflow.com/q/42684521/395857)

[2017-03-10 00:48] Franck-Dernoncourt commented on #7751
@aselle Do you need more information from me? (as far as I know the issue is still present, so I think it should be reopened)

[2017-03-10 00:57] Franck-Dernoncourt commented on #7087
@KeyYD on Microsoft Windows you also get a link when TensorBoard starts.

[2017-03-10 01:23] honkentuber commented on #8043
This is a bug. Workaround is to reshape weights to (batch, 1).

e.g.,
feature_cols["class_weights"] = tf.reshape(
      tf.ones_like(df[LABEL_COLUMN].values), shape=(-1, 1))

[2017-03-10 01:25] jiazhentim commented on #4775
And is there a way to compile Tensorflow with ICC on KNL? I can compile it with gcc.

[2017-03-10 01:28] notnot opened #8256 "Variable for Go?"
Is Variable being worked on in the Go bindings?

[2017-03-10 01:49] lsy643 commented on #8190
@sguada
I have run more tests and I think the problem occurs when the **dtype**  of **global_step** is **tf.int64** when **distributed training** is running in **nvidia-docker containers**.

[2017-03-10 01:50] prb12 commented on #8255
@dandelionmane Looks like an easy one?

[2017-03-10 01:51] lming commented on #7951
I may not understand the distributed settings that TF data input pipeline API is targeting to solve. Is it possible to have a simple API design as Pytorch does: only one class and two methods. I can pick up pytorch's dataset API in 5 minutes and it's good enough for all the popular academic datasets. http://pytorch.org/docs/data.html

It's great to see new efforts to solve the pain points in TF da

[2017-03-10 01:53] prb12 commented on #8256
@asimshankar Could you comment on this pls?

[2017-03-10 02:04] jhseu commented on #7951
@lming Yeah, the first two comments here cover that: by making a Dataset implementation that uses [py_func](https://www.tensorflow.org/api_docs/python/tf/py_func), it'd be equivalent to the PyTorch implementation.

[2017-03-10 02:05] xiaop1987 commented on #8185
I think this problem is coursed by duplicated name of Variables.

[2017-03-10 02:05] prb12 commented on #8247
@ebrevdo Thanks!  (sorry I didn't spot the duplicate).
Closing.

[2017-03-10 02:05] #8247 closed

[2017-03-10 02:06] taion commented on #7951
I second @lming's sentiment above.

Our biggest issue with the current data loading scheme is just that it's very complicated and involves a lot of new concepts.

We don't find it spectacularly difficult to write a multithreaded data loader ourselves in Python, and generally we don't find it overly difficult to ensure that our data loading and preprocessing runs sufficiently quickly that it doesn'

[2017-03-10 02:09] prb12 commented on #8185
@xiaop1987 Looks very likely, but hard to tell from the scant information in the original problem report.  It does seem unlikely to be a bug.

[2017-03-10 02:09] notnot commented on #8256
Well i don't see a Go equivalent of python's tf.Variable. I was trying to work out a TensorFlow tutorial in Go instead of python but the absence of Variable made it impossible. I did spot some 'low-level' operators that seem related to variables, and thought maybe the Variable functionality can be built on top of that?

[2017-03-10 02:18] taion commented on #7951
A couple of concrete use cases that come up for us:

- One of our models is a localization model. We use scikit-image `AffineTransform` objects to apply cropping and resizing operations for this model, because those objects let us easily translate our model output back to the original input coordinate space. It seems tricky to square this with a fully tensor-based API.
- We have data that comes fr

[2017-03-10 02:26] dandelionmane commented on #8255
@dsmilkov for the embedding projector

[2017-03-10 02:27] dandelionmane commented on #7087
@mrry for thoughts on windows issues?

[2017-03-10 02:36] wangg12 opened #8259 "[Request]Binary package with fast c++ implementation of protobuf support for Python 3.6?"
As said in [this doc page](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/install/install_linux.md), the binary package is supported for Python 3.5 and 2.7, is it also possible for Python 3.6?

[2017-03-10 02:48] prb12 commented on #7560
@aselle The link is still broken AFAICT.  Did this change get pushed?

[2017-03-10 02:48] prb12 commented on #7983
Closing due to lack of activity.

[2017-03-10 02:48] #7983 closed

[2017-03-10 02:52] prb12 commented on #7997
Closing due to lack of activity.

[2017-03-10 02:52] #7997 closed

[2017-03-10 02:53] prb12 commented on #7464
Closing due to lack of activity.

[2017-03-10 02:55] prb12 commented on #7725
Closing due to lack of activity.

[2017-03-10 02:55] #7725 closed

[2017-03-10 02:57] prb12 commented on #5882
Closing due to lack of activity.  If somebody can provide the information requested by @mrry then please feel free to reopen.

[2017-03-10 02:57] #5882 closed

[2017-03-10 02:59] prb12 commented on #5882
@mickeyil Your issue doesn't 'hang indefinitely'.  I'd prefer that issues with different symptoms weren't confused in the same thread.  If you are still having problems please open a separate issue.

[2017-03-10 03:12] nirajpatel commented on #7134
@EronWright @Enet4 as the documentation is a bit lacking...

I am trying to use `SavedModel` like so:

`SavedModelBundle.load("/path/to/directory");`

but am getting an `UnsatisfiedLinkError`. My directory contains the following files which were saved using the `saver.save` python API: https://puu.sh/uC4fq/ad18591acb.png.

Am I using `SavedModel` incorrectly? I will add some documentation after I

[2017-03-10 03:20] pobingwanghai opened #8261 "the error of using placeholder in summary.scalar"
class Model(object):

  def __init__(self,
               images=None,
               actions=None,
               states=None,
               sequence_length=None,
               reuse_scope=None):
    self.prefix = prefix = tf.placeholder(tf.string, [])
    summaries.append(
          tf.summary.scalar(prefix + '_recon_cost' + str(i), recon_cost))

get the error of *** TypeError: expected string

[2017-03-10 03:27] fraudies commented on #110
For whoever wants to compile TensorFlow 1.0 on RedHat 6 and with Python 2.7, I provide a detailed step-by-step guide here: https://www.linkedin.com/pulse/compiling-tensorflow-10-python-27-redhat-6-florian-raudies

[2017-03-10 03:31] joshsuihn commented on #7270
-mcmodel=large may not work. Try "-Os" option

[2017-03-10 03:35] erko commented on #8043
@honkentuber Thanks for help,
but not works this way too:
without reshape, error message: `ValueError: weights can not be broadcast to values. values.rank=2. weights.rank=1.`
with reshape: `ValueError: weights can not be broadcast to values. values.rank=1. weights.rank=2.`
- tried exactly your line of code, and some variations, results are same. Looks like problem is where weights.rank is adapting

[2017-03-10 03:39] prb12 commented on #8261
Please see https://www.tensorflow.org/api_docs/python/tf/summary/scalar
The first argument should be a **Python** string `name` (you are passing a placeholder for a string tensor).
The second arg should be a tensor... I can't tell from your code fragment what the type of `recon_cost` is.

[code]

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow

[2017-03-10 03:39] #8261 closed

[2017-03-10 03:46] CarbonComputed opened #8263 "Documentation incorrect for RNN tutorial?"
Is it possible the documentation is incorrect on https://www.tensorflow.org/tutorials/recurrent ?

[code]

It seems the correct output should be:
`    output, state = lstm(words[i, :], state)`

Since you want to process the words in the same sequence correct?

E.g.
[[The, quick, brown]
 [fox, jumped, over]]

words[:,0] == [The, fox]

Whereas what you want is [The, quick, brown]  == words[0,:]

Ple

[2017-03-10 03:48] wenwei202 commented on #5845
I also have this issue. Tensorflow r1.0 and Caffe both use cudnn 5.1 as the backend on the same server. Although the speed of a small ConvNet on cifar10 is similar, when I train AlexNet, the speed of TF is >2x slower. Weird!

[2017-03-10 03:53] prb12 commented on #8263
This looks wrong to my admittedly untrained eye (and doesn't match https://github.com/tensorflow/models/blob/master/tutorials/rnn/ptb/ptb_word_lm.py#L146)

@xmbrst Who is the author of this tutorial?

[2017-03-10 03:56] ghazi256 commented on #2883
worked for me as @petewarden instructions

[2017-03-10 04:22] mrry commented on #7087
Is the problem maybe that the logdir is `e:/` (which TensorBoard will interpret as a run called `'e'` and the path `\` on the same drive as the current working directory)? It looks like it's walking the entire filesystem, which is probably not what you wanted to happen.

Then I guess it's running into a filename that isn't UTF-8, perhaps because the filename handling code isn't Unicode aware?

As

[2017-03-10 04:28] mdymczyk commented on #8244
@asimshankar this is really great stuff, the timings improved exactly by an order of magnitude as you said, thanks! A batch of 128 takes around 0.2s and the batch of 32 takes around 0.04s. Still I think a bit slower than what Python does but definitely I can work with that, thanks!

[2017-03-10 04:28] #8244 closed

[2017-03-10 04:41] prb12 commented on #3628
@drpngx @gunan - I think the state machine got confused here.  @barbolo replied with his version but no tensorflower picked up the ball.

[2017-03-10 04:48] hughsando commented on #7778
The SSE warnings use code like this:
[code]
But the Eigen imeplementation (eigen/Eigen/Core) uses more complicated logic to work out whether to use SSS1/2:
[code]
Due mainly to the fact Visual Studio assumes SSE1/SSE2 when compiling for x64.
Also note that is depends on EIGEN_DONT_VECTORIZE - perhaps some user customization.

So one solution would be to #include eigen/Eigen/Core and use the "EIGEN

[2017-03-10 04:48] countzyx commented on #8107
This 1.0.0 build was such a pain! After hours of working on it, I got something that works on MacOS.

1.  First I had to deal with a Mac-specific issue where a protection scheme, SIP, prevents you from defining DYLD_ anything in env, so it could not find libcudart.8.0.dylib. This dude blogged a workaround - [https://srikanthpagadala.github.io/notes/2016/11/07/enable-gpu-support-for-tensorflow-on-m

[2017-03-10 05:03] sguada commented on #8190
Try slim.get_or_create_global_step() instead
Otherwise they are creating different global_step

On Mar 9, 2017 5:50 PM, "lsy643" <notifications@github.com> wrote:

[2017-03-10 05:37] pobingwanghai commented on #8261
Interesting, in 0.11 the summary_scalar function only can handle a tensor as input name, but now in 1.0,summary.scalar can only handle a python string? That means the use of placeholder as a prefix-name in summary in 0.11 can not be implemented in 1.0 version unless you open a session to get eval(), very interesting change, may I ask is there any alternative way to use placeholder for summary.scal

[2017-03-10 05:47] byzhang opened #8264 "Auto-Configuration Error: Cannot find cudnn.h at /usr/lib/x86_64-linux-gnu/include/cudnn.h"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
#4397, but it's for 16.04

### Environment info
Operating System: Ubuntu 14.04
Installed version of CUDA and cuDNN: 8.0, 5.1
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]
[code]

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`): e895d5c

[2017-03-10 06:07] wangg12 commented on #8259
It seems to work fine for now.

[2017-03-10 06:07] #8259 closed

[2017-03-10 06:11] gojira commented on #6729
I just hit this building pip for 1.0 on 10.12.3 - anaconda python 3.5

This worked for me
✔︎ Stack Overflow posts linked by @normanheckscher worked

I know I had to do that a while back but haven't had to do it for a while.

Then toward the end I hit #7227 and had to revert to bazel 0.4.3.  And then it all worked.

[2017-03-10 06:16] falaktheoptimist opened #8265 "Memory leak when writing to Logfile with Tensorboard summarywriter"
### Issue:
Memory occupied after call to Filewriter not being freed till python termination. This causes accumulation of data and subsequent filling up of RAM which is freed only when the entire script completes execution and python is terminated.

### Environment info
Operating System: Ubuntu 16.04
CUDA/cuDNN : Not installed
Link to the pip package you : https://github.com/tensorflow/tensorflow/r

[2017-03-10 06:24] lsy643 commented on #8190
@sguada
I have tried slim.get_or_create_global_step(). Still the same problem, the **global_step/sec** just becomes 0 and training freezes just after session created. Since the global_step is created just at the beginning of the graph, it is probably not because different global_step is created

[2017-03-10 06:50] jw447 opened #8266 ""The TensorFlow library wasn't compiled to use SSE3/SSE4.1/... instructions", "creating context when one is currently active", "Peer access not supported between device ordinals 0 and 1" when running "Hello TensorFlow""
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
I am running google TensorFlow on google compute engine instance. I started with Hello Tensorflow program and I am reading some warnings.

1. The TensorFlow library wasn't compiled to use SSE3/SSE4.1/SSE4.2/AVX/AVX2/FMA instructions, but these are available on your machine and could speed

[2017-03-10 06:52] ebrevdo commented on #7927
I have a partial solution.  Will try to get it in early next week.

On Mar 9, 2017 7:36 AM, "Brad" <notifications@github.com> wrote:

[2017-03-10 07:07] kuluofenghun opened #8267 "TypeError: Expected int32, got list containing Tensors of type '_Message' instead."
I am using tensorflow (1.0.0) in Ubuntu 14.04. When I train a cnn model ,I got a error as follow:

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are differen

[2017-03-10 07:51] #8093 closed

[2017-03-10 07:57] gunan commented on #7960
Closing this issue, as it sounds like it was resolved post 1.0.

[2017-03-10 07:57] #7960 closed

[2017-03-10 07:58] gunan commented on #7915
Website updated. Closing issue.

[2017-03-10 07:58] #7915 closed

[2017-03-10 08:00] gunan commented on #7873
website is updated with the correct urls. Closing issue.

[2017-03-10 08:00] #7873 closed

[2017-03-10 08:02] gunan commented on #7677
You can find the document right here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/get_started/get_started.md

[2017-03-10 08:08] gunan commented on #8141
I think with XLA, you still need to link in CUDA to be able to use GPU.

[2017-03-10 08:29] Geekking opened #8268 "Error when using the TensorFlow Runtime with HVX Acceleration"
OS: Ubuntu 14.04 64bits
Android Version: 6.0.1
NDK Version: android-ndk-r12b
I follow the description in [**tensorflow/tree/master/tensorflow/contrib/hvx**]((https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/hvx)),  after compiling the `so` files and the **hexagon_graph_execution**,  what's more, I also have pushed  additional network define file(`tensorflow_inception_v3_stri

[2017-03-10 08:35] Geekking commented on #8268
@tensorflower-gardener

[2017-03-10 09:00] Geekking commented on #8267
It's because of the tensorflow has updated the parameter order of concat,  you could try modifying to tf.concat(pooled_outputs, 3)

[2017-03-10 10:07] apiszcz opened #8269 "1.0.1 CPU vs GPU 1.0.0 Build for Windows"
The CPU build is complete for version 1.0.1 on Windows, however the GPU build is at 1.0.0.

http://ci.tensorflow.org/job/nightly-win/DEVICE=gpu,OS=windows/

[2017-03-10 10:31] gcoter opened #8271 "ImportError: No module named 'tensorflow.contrib.ffmpeg.ops'"
### Environment info
Operating System: Windows 10

Installed version of CUDA and cuDNN: CUDA 8.0, cuDNN 5.1

If installed from binary pip package, provide:

1. A link to the pip package you installed: `tensorflow_gpu-1.0.1-cp35-cp35m-win_amd64.whl`
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`: 1.0.1

### If possible, provide a minimal reproducible example (We u

[2017-03-10 11:31] Enet4 commented on #7134
@nirajpatel My hunch would be that the JVM is failing to link with the native library. What is the message carried by that exception?

But there is one more thing you need to fix, though. You should use the [saved_model](https://www.tensorflow.org/api_docs/python/tf/saved_model) API for the saved model functionality, not `tf.train.Saver`. Although the formats for checkpoints and saved models share

[2017-03-10 12:02] ThatsDevraj opened #8273 "Error:"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-10 13:15] Shoshin23 commented on #492
I face a similar memory issue while trying to train my tensorflow model. I use a Tesla K80 and the error I get is "Ran out of memory trying to allocate 102.65MiB." Any general way to avoid this?

[2017-03-10 13:40] ericloveland commented on #492
I think it was an architecture issue... I chose some different params (smaller nmaps, and more layers) and tensorflow happily ran even when it had to start using the swap file.  It appears that nmap size is limited by the memory size of the GPU, while the number of layers is limited by the amount of CPU memory... other things like (batch size, and sample size) being the same.  The seemingly sporad

[2017-03-10 13:44] nirajpatel commented on #7134
@Enet4 thank you for replying!

The exception I am seeing is:
[code]

I was originally seeing this because I didn't link to the native library but I am running with the JNI I believe:

(VM Options)[https://puu.sh/uCGut/c04c641b11.png]
(Project Structure)[https://puu.sh/uCGwE/ba35337d9c.png]

Ah! That would explain it. Is the `saved_model` API newer or preferred to `tf.train.Saver`?

[2017-03-10 13:46] abhi18av commented on #8096
@prb12 , I am happy to report that the installation finally got working though I have no idea how.
The only difference there was between running the basic `conda install` again was different - updated - versions of pip3.

[code]

Able to import the library now.

[code]

As far as the error regarding the lack of CUDA-8 installation, unfortunately I'm unable to update to macOS Sierra ( req. for CUDA

[2017-03-10 13:46] #8096 closed

[2017-03-10 13:47] abhi18av commented on #8096
Thank you @prb12 @aselle  for you time and patience. I appreciate it 👍

[2017-03-10 13:55] abhi18av commented on #8096
Relevant issues

https://github.com/tensorflow/tensorflow/issues/7778

https://github.com/tensorflow/tensorflow/issues/7778

[2017-03-10 13:55] Enet4 commented on #7134
The `saved_model` API is more recent, but to my understanding, it does not invalidate the other one. If you want to save the graph and all its variables for use in other programs and tools, for a variety of purposes (serving, fine-tuning, etc.), `saved_model` is more indicated. To keep checkpoints of the training process, using `tf.train.Saver` is more appropriate since it also allows you to speci

[2017-03-10 14:03] nirajpatel commented on #7134
Good point @Enet4! I am using the **PREVIEW1** JNI but I compiled from source in order to get the latest changes (including this one). Is there currently a way to build the JNI from source? The only option I see in the readme is https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java#quickstart step number 2.

This makes sense! I will start using `saved_model`.

[2017-03-10 14:05] nirajpatel commented on #7134
Nevermind, the JNI is in my build directory! I will use that. I really appeciate the help @Enet4. Thank you. I will send a PR to update the readme soon.

[2017-03-10 14:33] MicaelCarvalho commented on #8266
These are just warnings telling you TF can run faster on CPU if you recompile it by yourself, if you're doing mostly GPU stuff, you don't have to worry about these warnings.

At the end, you're trying to run `tf.run(...)`, and it doesn't exist, so the error seems correct. `job` isn't defined, because you didn't create a session, so it seems correct as well.

By the logs, it seems you are using the

[2017-03-10 14:34] ericloveland commented on #492
you could try shrinking your batch size down to 1 and then shrinking other params down until memory issues stop...  so far it seems that models are limited by  GPU memory for some params and by CPU memory for other params.

[2017-03-10 14:56] jhseu commented on #8107
I have a fix for #1 where we the path to CUDA to the rpath of the shared library on macOS. I'll ping on the change. No clue how moving the file is fixing it for #3. It's intentionally named with the underscore.

[2017-03-10 15:38] herozhang commented on #8253
Have the same problem!
windows 10 64-bit. tensorflow-gpu 1.0.1. python 64bit 3.5.2

[2017-03-10 15:43] tomwanzek commented on #8191
@ebrevdo So what would be the suggested changes to the Shakepeare RNN to allow it to work with the intermediate stable release?

Here is the key architectural section of the code, which now fails with build#105:
[code]
I do not seem to find any documentation regarding a `reuse` flag?

Thanks in advance.

[2017-03-10 15:44] ebrevdo commented on #8049
Andrew can you update the Python code rewriter?

[2017-03-10 16:02] awwper commented on #6533
how can I use tensorflow with python3.6 ?

[2017-03-10 16:03] sawsengh opened #8274 "LSTM Network"
Hi, I have the error below when i execute the line ""lstm_cell = tf.nn.rnn_cell.BasicLSTMCell(config.n_hidden, forget_bias=1.0)""
AttributeError: module 'tensorflow.python.ops.nn' has no attribute 'rnn_cell'
I was installed Tensorflow on windows using "Installing with Anaconda"
Any one have the same error and solve it Please!

[2017-03-10 16:03] prb12 commented on #8261
@danmane Perhaps you could comment on the summary API changes.  This does seem to be outside the use case for which they were designed (i.e. emitting lots of different summaries with runtime-generated names).

[2017-03-10 16:11] zakizhou commented on #8274
they were all moved to tf.contrib.rnn.core_rnn_cell, if you read any tutorial about rnn like language model on the official site,  you will found that

[2017-03-10 16:12] tobiasberr commented on #8253
I have the same problem. #8229 did not help either

[2017-03-10 16:14] mhamri commented on #6533
In windows thr Python 3.6 is not supported yet. Only in linux and mac

In windows you need earlier version of anaconda or Python 3.5

On Mar 11, 2017 00:04, "awwper" <notifications@github.com> wrote:

[2017-03-10 16:15] tobiasberr commented on #8253
I was able to run all my tensorflow programs with out any problems on the cpu version, but since I installed CUDA8.0 and CuDDN5.1 none of my programs run anymore without errors:

"C:\Program Files\Python35\python.exe" D:/tobylabtop/AI/tensorflowbook/chapters/06_recurrent_neural_networks_and_natural_language_processing/01_wikipedia/tobytest.py
I c:\tf_jenkins\home\workspace\release-win\device\gpu\o

[2017-03-10 16:16] xmbrst commented on #8263
Looks like Rafal Jozefowicz, originally.

[2017-03-10 16:16] awwper commented on #6533
using linux, how can I install tensor flow for python3.6 plz ?

[2017-03-10 16:17] prb12 commented on #8274
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-10 16:17] #8274 closed

[2017-03-10 16:18] prb12 commented on #8273
Empty issue report.  Closing.

[2017-03-10 16:18] #8273 closed

[2017-03-10 16:20] mhamri commented on #6533
I didn't try the Linux installation guide myself, but i think the web site
article can show you step by step

On Mar 11, 2017 00:18, "awwper" <notifications@github.com> wrote:

[2017-03-10 16:23] awwper commented on #6533
can you link me plz ?

[2017-03-10 16:24] wangg12 commented on #6533
Just use pip install tensorflow[-gpu]

[2017-03-10 16:25] mrry commented on #8271
The `tf.contrib.ffmpeg` ops aren't currently supported on Windows. As far as I remember, they rely on some POSIX-specific code for running a subprocess that would need to be ported to using `CreateProcess()`. I've assigned @fredbertsch, who's the owner of that code, to comment on the chances of this being supported on Windows in the future.

[2017-03-10 16:26] mhamri commented on #6533
https://www.tensorflow.org/install/install_linux

On Mar 11, 2017 00:25, "awwper" <notifications@github.com> wrote:

[2017-03-10 16:26] mrry commented on #8269
Perhaps I'm reading this wrong, but it looks like the last built artifact for that build is TensorFlow 1.0.1:
http://ci.tensorflow.org/job/nightly-win/DEVICE=gpu,OS=windows/lastSuccessfulBuild/artifact/cmake_build/tf_python/dist/tensorflow_gpu-1.0.1-cp35-cp35m-win_amd64.whl

[2017-03-10 16:29] awwper commented on #6533
ok,  so my case is that I need to use tensorflow for python3.6 cause I have been trying to switch the notebook from 3.6 to 3.5.2 because I managed to get tensorflow installed for python3.5.2, and the link provided tells you how to install the 3.5.2 version which I can not use because of the notebook

[2017-03-10 16:30] awwper commented on #6533
I need an installation guide for installing tensorflow for python3.6, does anyone have it ?

[2017-03-10 16:30] awilliamson commented on #6533
@awwper This isn't intended as your personal tech support. You may also wish to address your etiquette when contributing to issues. The instructions provided work perfectly fine, with a vast majority of us Machine Learning researchers and enthusiasts being able to follow it.  3.6 Support is officially available from repositories. You can use pip to install as @wangg12 has mentioned. Please stop sp

[2017-03-10 16:32] ariejdl opened #8275 "make sparse_tensor (SparseTensor) serializable in meta graph"
`tf.sparse_placeholder` Sparse tensors aren't serialized in meta graphs, one has to serialize tf.placeholder tensors for the indices and values individually.

At present `add_collection_def` (called by `create_meta_graph_def`, which is typically called by `export_scoped_meta_graph`, found in [/tensorflow/python/framework/meta_graph.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflo

[2017-03-10 16:33] prb12 commented on #8268
@satok16 - you seem to be the owner of this contrib component.

[2017-03-10 16:39] awwper commented on #6533
sorry to bother you but I have tried the solution @wangg12  has mentioned, and it gives out errors, sorry I though I could seek help here, turns out this is a developers forum, my apologies to everyone.

[2017-03-10 16:41] prb12 commented on #8275
@concretevitamin Could you please comment?

[2017-03-10 16:42] prb12 commented on #8267
Please see the TF1.0 migration documentation https://www.tensorflow.org/install/migration

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-10 16:42] #8267 closed

[2017-03-10 16:44] prb12 commented on #8266
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-10 16:44] #8266 closed

[2017-03-10 16:49] andrewharp commented on #8233
@chengsam This is the error typically seen when the output node is not found when the classifier tries to check the number of output classes.

Does this work if you remove the ":0"s from the end of the node names?

[2017-03-10 17:02] cancan101 opened #8277 "Different Code Path Taken in conv2d for Constant vs Variable Filter"
It appears that a different code path is taken in `conv2d` for Constant vs Variable filters.

On a box with GPU, this works:
[code]
however this fails with `Check failed: data_format == FORMAT_NHWC Generic conv implementation only supports NHWC tensor format for now.`:
[code]

Both of these work (the data_format is supported):
[code]
and
[code]
I don't see a reason for the Constant filter to take

[2017-03-10 17:07] amagrabi commented on #491
+1

[2017-03-10 17:07] SMH17 commented on #6999
Updated Conda enviroment and surprise... still no tensorflow for Python 3.6 on Windows not even the latest Tensorflow 1.0.1

[2017-03-10 17:10] AlexisTM commented on #6999
You can still install is on 3.5, with the last version of conda.

Le ven. 10 mars 2017 18:08, Silvio Marano <notifications@github.com> a
écrit :

[2017-03-10 17:10] nirajpatel opened #8278 "Using 3-dimensional Tensor in Java"
Hi! After feeding an input image through my session I receive a `FLOAT tensor with shape [299, 299, 3]`.

It seems like I cannot do anything with that output though because if I try to copy the tensor to a 3 dimensional array I get an exception:
`saliencyTensor.copyTo(new Float[IMAGE_SIZE][IMAGE_SIZE][3])` returns `Creation of multi-dimensional arrays not supported` exception

It doesn't seem like

[2017-03-10 17:15] SMH17 commented on #6999
Sure, but isn't a pleasant solution use the older 3.5

[2017-03-10 17:15] loretoparisi commented on #351
@vrv I have the same issue on MacOS X when running the java example

[code]

I have the native dylib library and the inceptionv5 model in the path:

[code]

[2017-03-10 17:16] raghakot commented on #7317
This has now been fixed.

[2017-03-10 17:16] #7317 closed

[2017-03-10 17:17] AlexisTM commented on #6999
Whatever, you can make your TensorFlow application and run it seamlessly on a Linux machine when you deploy it. No issue (:

[2017-03-10 17:22] #8269 closed

[2017-03-10 17:22] apiszcz commented on #8269
Update there now. THanks.

On Fri, Mar 10, 2017 at 11:28 AM, Derek Murray <notifications@github.com>
wrote:

[2017-03-10 17:24] Carmezim commented on #6999
@SMH17 As @gunan [mentioned](https://github.com/tensorflow/tensorflow/issues/6999#issuecomment-283158964) TensorFlow does not support Python 3.6 on Windows currently and it will be considered for 1.1r based on user adoption numbers. Your option as of now is to build from source.

[2017-03-10 17:25] #8278 closed

[2017-03-10 17:27] tomwanzek commented on #8253
@prb12 can this issue please be reopened? As pointed out, this seems to be a recent regression.
When I run Win GPU nightly build 105 in a conda environment, I do not experience the above warnings as opposed to the Win GPU 1.0.0 build.

Having just created a conda environment with Win GPU 1.0.1, it re-appears. Thx.

[2017-03-10 17:29] satok16 commented on #8268
This line indicates that TF can't call a binary for hexagon.  So, please answer following debugging questions.

- What kind of Android device do you have?  Basically, your Android device should have a special configuration to bypass qualcomm signature check.  This functionality can't be enabled by software but you should use some specific hardwares like a dragon board.

- What adb says?  Please at

[2017-03-10 17:32] nirajpatel opened #8280 "Reduction Functionality for Java API"
Hey! It seems like the reduction functionality available in Python (https://www.tensorflow.org/versions/r0.11/api_docs/python/math_ops/reduction) has not made it to the Java API. Are there plans to port it over yet? There are some useful functions such as `reduce_mean` which I need.

[2017-03-10 17:38] volvador commented on #7970
Thanks @ispirmustafa
I replaced my

    sess = sv.prepare_or_wait_for_session(server.target)

By the code you suggested. It resulted in the following error:

Traceback (most recent call last):
    File "tensorflow_sync_replicas.py", line 127, in <module>
      sync_replicas_hook = opt.make_session_run_hook(is_chief)
    File "..../tensorflow-1.0.0/lib/tensorflow/python/training/test.py", line 431,

[2017-03-10 17:58] Garvys commented on #6034
Is there any progress on this issue ? I have this problem on TF 1.0

[2017-03-10 18:01] person594 opened #8281 "Tensordot sometimes fails one of the operands has a single dimension"
This error occurs when one operand has a single dimension, and the other operand has a dimension of None.  To reproduce:

A = tf.placeholder(tf.float32, [None, 20])
B = tf.placeholder(tf.float32, [20])
C = tf.tensordot(A, B, [[1], [0]])

throws `TypeError: Tensors in list passed to 'values' of 'ConcatV2' Op have types [int32, float32] that don't all match.` when trying to calculate the shape of th

[2017-03-10 18:12] dbl001 opened #8283 "tensorflow/compiler/xla/service/allocation_tracker.cc:178:54: error: non-constant-expression cannot be narrowed from type 'std::vector<se::DeviceMemoryBase>::size_type' (aka 'unsigned long') to 'long long' in initializer list [-Wc++11-narrowing]"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
https://github.com/tensorflow/tensorflow/issues/8238

### Environment info
OS X 10.11.6
$ clang --version
Apple LLVM version 8.0.0 (clang-800.0.42.1)
Target: x86_64-apple-darwin15.6.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoo

[2017-03-10 18:32] mckinziebrandon commented on #7702
Anyone working on this? I've been using dynamic_rnn a lot lately and would be happy to write the requested documentation. I've been looking to start contributing here and this seems like a good issue to start with.

[2017-03-10 18:33] ajayaraman opened #8284 "TF_ImportGraphDef crashes for the following graph"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

None

### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

#### CUDA
-rw-r--r-- 1 root root 558720 Nov 30 13:53 libcudadevrt.a
lrwxrwxrwx 1 root root     16 Nov 30 13:53 libcudart.so ->

[2017-03-10 18:37] ispirmustafa commented on #7970
This should not happen. Could you please show all the code after your change?

[2017-03-10 18:54] asimshankar commented on #8256
You're absolutely right on both counts :) - The Go API doesn't provide the equivalent of `tf.Variable` but it does provide enough to build that functionality.

I took at stab at a quick implementation, see: https://github.com/asimshankar/go-tensorflow/tree/master/variable

There are a few caveats here, such as:
- This example is using an in-progress, not-yet-finalized implementation for variables

[2017-03-10 18:59] volvador commented on #7970
This is it.. the change is at the end. Thanks for your help. I am sure I am making a silly mistake

    import os
    import shutil
    import tempfile
    import numpy as np
    import pandas as pd
    import argparse

    from keras.models import Sequential
    from keras.layers.core import Dense
    from keras.regularizers import l2
    import tensorflow as tf
    import keras

    nb_samples =

[2017-03-10 19:05] yaroslavvb commented on #8231
@carltonwang you can use https://github.com/yaroslavvb/memory_util to get a timeline of all tensor allocations/deallocations, determine which tensors are getting allocated that are taking so much space, and then decide if this is intentional (requested by your program), or not

[2017-03-10 19:08] prb12 commented on #8253
@tomwanzek I don't understand your comment ... you're saying the problem is fixed in the nightly build 105 (from March 7th) ... but you want to re-open the issue because the older binary package has a problem?

[2017-03-10 19:08] CarbonComputed commented on #8263
Upon looking over this, I see whats being done here. They process in batches and store the running state for each batch. However, what led me to this confusion was the first example in the tutorial takes a batch of words as input, so it doesn't seem to make sense when compared to the Truncated Backprop example.  The initial example probably should be more clear on what a batch of words looks like

[2017-03-10 19:13] prb12 commented on #8281
OK - leaving open as a tracking bug.  I'll assign the 'awaiting response' tag to record the fact that we're expecting to see a PR

[2017-03-10 19:16] prb12 commented on #8280
@asimshankar Could you please comment?

[2017-03-10 19:17] person594 commented on #8281
By the way, I've submitted the pull request at #8282

[2017-03-10 19:17] ispirmustafa commented on #7970
Please check the documentation of MonitoredSession.
you need to remove following lines:
[code]

Also followings:
[code]
Also followings:
      if is_chief:
        sess.run(sync_init_op)
        sv.start_queue_runners(sess, [chief_queue_runner])

also can you delete train_dir after running enqueue_op.

[2017-03-10 19:30] prb12 commented on #8264
I am unable to reproduce this error with the information you provided.
When I sync to e895d5c, the configure script works fine for me.
At what point is it failing?  the error messages seem to be coming from bazel?

Could you please capture what responses you provided to the ./configure script and all the command lines you typed.

Also, could you please check that you installed all required depende

[2017-03-10 19:37] drpngx commented on #3628
@petewarden this seems to be a `freeze_graph` issue.

@barbolo if you have an end-to-end script to exhibit the behavior, I could take a look.

[2017-03-10 19:38] volvador commented on #7970
Thanks. It still does not work. Only the chief executes the train loop (even if in the code replicas_to_aggregate=nb_workers), and it ends with an exception> I put below the new code as well as the output of the chief worker

    import os
    import shutil
    import tempfile
    import numpy as np
    import pandas as pd
    import argparse

    from keras.models import Sequential
    from keras

[2017-03-10 19:42] prb12 commented on #8283
Closing as duplicate of #8238
@dbl001 Not sure why you opened a new issue given you reference the identical problem?

[2017-03-10 19:42] #8283 closed

[2017-03-10 19:43] byzhang commented on #8264
sure.
[code]

The cudnn.h was installed in
[code]
which links to
[code]
and again
[code]
I read cuda_configure.bzl, but didn't find an easy way to let it find the cudnn headers.

[2017-03-10 19:47] tomwanzek commented on #8253
@prb12 No, the latest Win GPU v1.0.1 release seems to be the issue. In the Jenkins build history the first wheel referring to v1.0.1 would be build 108, to be precise.

While I installed v1.0.1 from
`https://storage.googleapis.com/tensorflow/windows/gpu/tensorflow_gpu-1.0.1-cp35-cp35m-win_amd64.whl` as per tensorflow installation guide, I am assuming that it should correspond to build 108 given th

[2017-03-10 19:50] prb12 commented on #8253
@tomwanzek Thanks for the clarification and delving through the version numbers!

Maybe the 1.0.1 release was cherry-picked in a strange way.  @gunan Do you know why this fix may have reverted?

[2017-03-10 19:57] asimshankar commented on #8280
This question is probably better suited for [stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow) since the primitives for building such operations are available in the Java API, so there isn't a missing "feature" as such  :)

The Python reduction functions like [`tf.reduce_mean`](https://github.com/tensorflow/tensorflow/blob/169a096/tensorflow/python/ops/math_ops.py#L1329) are sim

[2017-03-10 19:57] #8280 closed

[2017-03-10 19:58] prb12 commented on #8264
How did you install cuDNN?  This normally results in a directory containing subdirs for `include` and `lib` so a single path serves to locate both the library and header files.

[2017-03-10 20:02] prb12 commented on #7491
Closing due to lack of activity.

[2017-03-10 20:02] #7491 closed

[2017-03-10 20:03] prb12 commented on #7959
Closing due to lack of activity.

[2017-03-10 20:03] #7959 closed

[2017-03-10 20:03] tomwanzek commented on #8253
No worries, I have not check the nightlies between 105 and 108 to pin it down further...

[2017-03-10 20:09] lwogulis commented on #7819
I'm building with:
[code]
and get no errors. However, when I try to run a small program using XLA, I get an InvalidArgumentError that it can't find the specified device. It runs fine with a regular CPU, and XLA should be enabled according to my build specifications. I've posted here: https://github.com/tensorflow/tensorflow/issues/8141

[2017-03-10 20:19] xavigonzalvo commented on #7784
If I'm not mistaken that seems to be a problem related to overflows.

You can change line containing the computation
of self._prior_probs[shard_id] by:

self._prior_probs[shard_id] = math_ops.reduce_logsumexp(
    self._probs[shard_id], axis=1, keep_dims=True)

which is numerically stable.

I am making some other changes to the code and that will be updated when
released.

Thanks

2017-03-09 1:51

[2017-03-10 20:20] notnot commented on #8256
Thanks! I didn't expect it could be implemented in so few lines of code. I'm not a TensorFlow expert (yet), just sniffing around basically :)
The tf.device class isn't available in Go either, and regarding this functionality, i didn't even see any C library functions to handle devices?

[2017-03-10 20:31] benring commented on #6360
We finally resolved this. We had a tf.cond() buried in the objective function which caused our while_loop to hang. We wound up doing some re-factoring using the tf.where(). Is there a better op which can implement a simple conditional which accepts a single bool scalar (vice a bool mask) and returns a tensor?

[2017-03-10 20:43] honkentuber commented on #8043
Sorry, I wasn't running against the right version. Also, add this line just after `label` is created in `input_fn`:
label = tf.reshape(label, shape=(-1, 1))

[2017-03-10 21:11] yaroslavvb commented on #6360
I think `tf.cond` is such conditional, it shouldn't be producing a hang, can you give a reproducible example so this could be fixed?

[2017-03-10 21:11] usptact commented on #56
I have  pip 9.0.1 installed and still see this error.

[2017-03-10 21:12] gunan commented on #8253
@mrry for windows @jhseu for the cherrypicks on the release 1.0.1

Any idea why this resurfaced in 1.0.1?

[2017-03-10 21:13] dandelionmane commented on #8188
How would you feel about saving into browser localStorage?

[2017-03-10 21:14] gunan commented on #8253
@tomwanzek the release radically different from nightly builds.
The release branch base is synced to January 15 of master. Then we cherrypicked many fixes into the release branch. So there are no nightlies that have 1-1 correspondence to any of our releases.

[2017-03-10 21:19] chamas14 commented on #5968
i have the same problem
E c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stre
am_executor\cuda\cuda_driver.cc:509] failed call to cuInit: CUDA_ERROR_NO_DEVICE

[2017-03-10 21:24] lwogulis commented on #8141
I was using python 2 when calling my function previously, but I was installing with python 3. Running with 3 now works.

[2017-03-10 21:24] #8141 closed

[2017-03-10 21:26] LittlePandaSea commented on #8037
Ok, thanks. I get it.

[2017-03-10 21:33] asimshankar commented on #8256
To colocate operations, you need to specify the colocation constraint when creating the operation. This is the `TF_ColocateWith` call in the C library, which should eventually make its way to the `Scope` type in Go.

[2017-03-10 21:34] chamas14 opened #8285 "[Windows] Tensorflow GPU fails to find CUDA"
I have downloaded cuDNN v5.1 and CUDA 8.0 and also moved the folders lib. include, and bin  to the Cuda directory where i installed it.

C:\Users\Owner\Desktop\tensorflow>python try.py
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stre
am_executor\dso_loader.cc:128] successfully opened CUDA library cublas64_80.dll
locally
I c:\tf_jenkins\home\workspace\release-win\dev

[2017-03-10 21:36] tomwanzek commented on #8253
@gunan Ah, did not realize you cherrypicked. I assumed, the semantic version releases were also cut from `master` whenever one was ready to ship. So while the nightly build might not be spot on, I thought them to be sufficiently close to the release build. Should have been digging deeper I suppose...:smile:

[2017-03-10 21:38] prb12 commented on #8285
Please see the following instructions: https://www.tensorflow.org/install/install_windows

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-10 21:38] #8285 closed

[2017-03-10 21:38] byzhang commented on #8264
It's a docker using nvidia/cuda:8.0-cudnn5-devel-ubuntu14.04

Thanks,
-B

On Fri, Mar 10, 2017 at 11:59 AM, Paul Barham <notifications@github.com>
wrote:

[2017-03-10 21:55] benring commented on #6360
Give me  bit to simplify an example. If/when -- shall I post it as a new issue?

[2017-03-10 21:55] cancan101 opened #8286 "Pass NHWC Tensors to cuDNN Directly"
Currently when running `conv2d` on cuDNN with image data in `NHWC` format, TF [converts the input tensor from NHWC to NCHW](https://github.com/tensorflow/tensorflow/blob/0be81439c91e297b078152dd0c266471b24bde7f/tensorflow/core/kernels/conv_ops.cc#L558-L575), runs the conv and then [converts the output tensor back from NHWC to NCHW](https://github.com/tensorflow/tensorflow/blob/0be81439c91e297b0781

[2017-03-10 21:56] yaroslavvb commented on #6360
yes, new issue

[2017-03-10 21:57] yaroslavvb commented on #6360
cc @yuanbyu to verify there are no known cases where executing `tf.cond` is supposed to cause a hang

[2017-03-10 22:07] yaroslavvb commented on #8286
Does CuDNN `NHWC` run faster than TF transpose + `NCHW`? Is anyone else using CuDNN `NHWC`? I see that PyTorch only supports `NCWH`

cc @zheng-xq

[2017-03-10 22:12] cancan101 commented on #8286
My prior would be that if TF transpose + NCHW + unTranspose were faster, then Nvidia would do that under the surface (which may in fact be what they do). Given that the default layout in TF is `NCHW`, seems reasonable to see if this path can be made faster.

[2017-03-10 22:14] mrry commented on #8253
@gunan It would be good to get this into 1.0.2 if there's going to be such a release (I think a few other bug fixes might have fallen into the cracks as well). Are we planning to have one?

[2017-03-10 22:14] zheng-xq commented on #8286
Our previous experiments on earlier Cudnn versions show that conversion + NCHW is faster. If there are evidence showing this has changed, we can look into this again.

[2017-03-10 22:16] yaroslavvb commented on #8202
PS, the workaround  to avoid overwriting ./configure results on each rebase/pull:

[code]

[2017-03-10 22:20] cancan101 commented on #8286
Looks like cuddn 4 was the first to support NHWC, so perhaps they improved in 5/5.1?

[2017-03-10 22:23] concretevitamin commented on #8275
Adding @ebrevdo who knows more about SparseTensor and @sherrym who is the owner of MetaGraph.

[2017-03-10 22:26] concretevitamin commented on #7483
@liangwang what @yaroslavvb said (since `numpy.ndarray` defaults to 64-bit).  Another way could be:

`tf.sparse_placeholder(tf.float32, shape=tf.constant([16, 20424], tf.int64))`

[2017-03-10 22:28] ispirmustafa commented on #7970
@jmchen-g could you please review the code?

[2017-03-10 22:38] yaroslavvb commented on #8286
Since people are converging on NHWC, there's no reason for NVidia to improve NCWH, so it could be even slower in the latest version. Will reopen if there's evidence this feature is desirable

[2017-03-10 22:38] #8286 closed

[2017-03-10 22:38] cancan101 opened #8287 "filter_format for Native Layouts of Convolution Filter Weights"
Repost from: https://github.com/tensorflow/tensorflow/issues/7187#issuecomment-285217279.

I suggest adding a `filter_format` to the conv2d op to indicate how the filter weights are stored (similar to `data_format` for the input / output format).

The [docs for TF](https://www.tensorflow.org/extend/tool_developers/#weight_formats) state:

This will allow various kernel implementers to store weight

[2017-03-10 22:52] recursionbane commented on #1727
Is it possible to provide a dedicated subroutine we can call at the end of our sessions that will free up GPU resources and release GPU control back to the OS?
On Windows 7, no GPU-required programs can run after TensorFlow until the PC is restarted.

[2017-03-10 23:10] varunkumar3618 opened #8288 "Dynamic RNN, Initialization, Control Dependencies"
I am trying to write a custom RNN Cell with regularized weights and am encountering a problem caused by the treatment of control flow dependencies.

I initialize variables in the RNNCell as follows:

with tf.variable_scope(scope):
  w = tf.get_variable(..., reg=tf.layers.l2_reg())

and use the cell in a dynamic_rnn call.

At the end of graph construction, I retrieve all the regularized losses (usi

[2017-03-10 23:28] asimshankar commented on #8284
@ajayaraman : Thanks for the very detailed report and the instructions to reproduce it. This is very helpful. There seems to be some issue triggered in the shape inference code, I'm looking into it.

[2017-03-10 23:36] yaroslavvb commented on #1727
@recursionbane it's supposed to release it all, although on Linux I've seen cases that GPU was rendered unusable until restart, and this was caused by NVidia driver problems

[2017-03-10 23:40] zheng-xq commented on #1727
Yes, certain NVIDIA drivers had problems with releasing the memory.

On Fri, Mar 10, 2017 at 3:38 PM, Yaroslav Bulatov <notifications@github.com>
wrote:

[2017-03-10 23:58] mathDR commented on #4965
Is there movement on this?  Was an implementation ever tested?  Would a straight port of HMC from Edward or Stan be sufficient to proceed (I would submit this if there was interest)

[2017-03-11 00:08] dustinvtran commented on #4965
A more condensed version (i.e., without all the subclassing) of Edward's [`hmc.py`](https://github.com/blei-lab/edward/blob/master/edward/inferences/hmc.py) would be valuable and likely the easiest.

An open question is 1. how to represent the model; and 2. how to manage the output of the inferred posterior.

1. Following [Bayesflow's implementation of variational inference](https://github.com/ten

[2017-03-11 00:32] ebrevdo commented on #8275
Seems reasonable (we can always add a 4th argument with default=None);
though I wonder if we can just pull a name from the name scope of the
indices tensor.  sherry, think it's reasonable to add ser/de for
SparseTensors?

On Fri, Mar 10, 2017 at 2:23 PM, Zongheng Yang <notifications@github.com>
wrote:

[2017-03-11 00:34] mathDR commented on #4965
@dustinvtran I agree with your second point.  As for the first, I have a more specific goal than generic usability, in that I am attempting to speed up a Sparse GP in GPflow that currently uses a vanilla python HMC.  That said, the answer to 1 would be to infer all variables in the feed_dict().  More generally though, I see your point.

[2017-03-11 00:35] ebrevdo commented on #7702
Keep in mind that a lot of the functions in tf.contrib.seq2seq have been
rewritten in object-oriented style (on github master).  So for example:

tf.contrib.seq2seq.dynamic_rnn_decoder

and

tf.contrib.seq2seq.attention_decoder_fn_train

no longer exist.  a new attention mechanism is being pushed by next week.
 a new decoder already exists but is object oriented.

On Fri, Mar 10, 2017 at 10:33 AM,

[2017-03-11 00:42] StanislawAntol commented on #6081
In your initial post, you're confusing the logging output with the actual value of global_step. In your follow-up code, you're not taking advantage of the MonitoredTrainingSession's restoring of variables. I think you can get away with this:

[code]

[2017-03-11 00:44] wilderfield commented on #7959
Just hit the same problem. When tutorials don't work, its hard to learn. I was trying to do my first ever convolutional neural network in tensorflow.

[2017-03-11 00:46] ezhuei commented on #8268
I met the same issue with
Failed to disable DSP DCVS: ffffffff

Failed to append const node 65538
.
.
.

I tried to install the testsig library as mentioned in
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/hvx
and it solved the issue.

[2017-03-11 00:56] satok16 commented on #8268
Yeah, that's correct.  Actually I've added a check whether testsig is installed or not in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/samples/build_and_run_inception_hexagon.sh#L54.  So, if using this but still seeing the same problem, that might be a hardware restriction.

[2017-03-11 01:33] taejoon89 opened #8291 "No allowing GPU memory growth option in contrib.learn. Estimator"
When creating estimator using contrib.learn, only GPU option that I can find is "gpu_memory_fraction" which can be found at "tf.contrib.learn.RunConfig"

`classifier = learn.Estimator(
    model_fn=cnn_model_fn,
    config=learn.RunConfig(gpu_memory_fraction=0.9)
    )`

Is there a way to allow GPU memory growth option when using contrib.learn ?

[2017-03-11 01:43] cumttang opened #8293 "Could not use tensorboard in Win10?"
When I attempt to use tensorboard to show the tensor scalar and image, however, it can not show the detail in the browser.
![qq 20170311094208](https://cloud.githubusercontent.com/assets/16380725/23819278/0c0a960c-063f-11e7-87f0-e49730661e0d.png)

But when I used it in Ubuntu, it works. What's wrong with Win10?

[2017-03-11 01:48] recursionbane commented on #1727
I am on v369.30 for my Quadro M1000M.
I will upgrade to v376.84 to check if the problem is resolved.

[2017-03-11 02:10] prb12 commented on #8293
Could you please provide details of how your are running TensorBoard and some output from the log files.

Also, please can you verify that you are not having the same problem as #7856

[2017-03-11 02:11] prb12 commented on #8291
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-11 02:11] #8291 closed

[2017-03-11 02:17] prb12 commented on #8287
@zheng-xq Not sure if you have looked into this?

I don't understand the comment about XLA and rewriting though - if the format of the data and filter are canonical, and consistently transformed under the hood to improve performance, it shouldn't make any difference whether the user program has tried to prematurely optimize the layout in a platform-specific manner ;-)

[2017-03-11 02:20] prb12 commented on #8264
Could you please take a look at the instructions [here](https://www.tensorflow.org/install/install_linux#gpu_support) for using an nvidia GPU docker container and see if there are any steps you missed?

(admittedly, that page seems to mention TF0.12 so it may be slightly out of date)

@gunan Do you have anything to add here?

[2017-03-11 02:26] mckinziebrandon commented on #7702
Yes, I noticed that, but figured it may be useful to update the current docs for users not on the master branch. In any case, let me know if any help is needed for seq2seq documentation. I've been following the object-oriented code in master closely and I'd be happy to help with either.

Along the same lines, are there any other issues that would be good "starter" contributions? Not sure where the

[2017-03-11 02:30] gunan commented on #8264
I think this happens when cudnn is installed using the deb package. @byzhang could you confirm how you installed cudnn?

[2017-03-11 02:47] prb12 commented on #7952
Automatically closing due to lack of recent activity. Please reopen when further information becomes available. Thanks!

[2017-03-11 02:47] #7952 closed

[2017-03-11 03:21] WolfNiu commented on #3263
Thank you @Menerve !! Your comment saved me!

[2017-03-11 03:48] yaroslavvb commented on #8291
@taejoon89 you can use monkey-patching trick from https://github.com/tensorflow/tensorflow/issues/7794

[2017-03-11 04:21] mf0hka commented on #4483
In Linux, I found the solution was that the config script looks in "/usr/local/cuda"
but the files were in /usr/local/cuda-8.0 (The version I just installed).

Perhaps something could be added to the config script that incorporates the idea that new cuda versions might have default installations at places like "/usr/local/cuda-*"

Heck, I would even take a side note in the script, "The default ten

[2017-03-11 04:50] taejoon89 commented on #8291
Thanks ~

[2017-03-11 04:58] nivwusquorum opened #8298 "Broken initialization when graph has data dependencies."
As per conversation at OpenAI (cc @alextp @yaroslavvb).

Here's an example of broken variable initialization and the super-slow fix:
https://gist.github.com/nivwusquorum/551b502e1cf36a09c9c05385ccea5eb5

Let me know if you need more details

[2017-03-11 05:13] yaroslavvb commented on #8298
This problem is described in https://github.com/tensorflow/tensorflow/issues/4920
The solution proposed is to do "while exception: try initialize", which is guaranteed to eventually succeed because at each iteration at least one more variable gets initialized. Because of Moore's law, the performance will eventually become acceptable, therefore please integrate this into TensorFlow, kthanksbye

[2017-03-11 05:13] #8298 closed

[2017-03-11 05:14] abisee opened #8299 "tf.contrib.seq2seq.prepare_attention doesn't allow decoder states and attention states to be different lengths"
I'm using the new `tf.contrib.seq2seq.prepare_attention` with `tf.contrib.seq2seq.attention_decoder_fn_train` and `tf.contrib.seq2seq.dynamic_rnn_decoder` to do dynamic decoding with attention.

If we are using e.g. `attention_option="bahdanau"`, then [this line](https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/contrib/seq2seq/python/ops/attention_decoder_fn.py#L408) implements the st

[2017-03-11 05:23] robmsylvester commented on #8107
make sure you aren't getting this error as a result of running python from the actual git directory where you downloaded tensorflow.

if you're following the step-by-step install from the documentation page, and get to the final step where you verify the install, you start python from the terminal and run 'import tensorflow', and you would get this error. go to any other directory and you're fine.

[2017-03-11 05:52] byzhang commented on #8264
I'm following
https://gitlab.com/nvidia/cuda/blob/ubuntu14.04/8.0/devel/cudnn5/Dockerfile
to install the cudnn within the docker:
[code]

Thanks,
-B

On Fri, Mar 10, 2017 at 6:31 PM, gunan <notifications@github.com> wrote:

[2017-03-11 06:28] luoken commented on #5214
when promped to input I actually just did where python 2.7 was installed and it worked...

[2017-03-11 06:59] ebrevdo commented on #8288
Is this in the __call__?  I believe there's a workaround for this. Sergio?

[2017-03-11 07:04] jlebar commented on #7819
I believe the relevant uplift has occurred.

[2017-03-11 07:04] #7819 closed

[2017-03-11 07:58] el3ment commented on #675
Adding a comment that this was also a bit of a gotcha for me, and simultaenously adding a vote to consider a change to the api. Calling `tf.gradients(matrix, vector, aggregation_method=None)` I would have expected it to return an tensor of the same shape as `matrix`, but it returns `sum(M)` along an axis.

[2017-03-11 09:09] weigq opened #8300 "print"
I want to print the `height` and `width` as `int` like `123` of the `new_shape`  which is a tensor
[code]

I`m new with tf, what should i do?
thanks

[2017-03-11 09:10] cumttang commented on #8293
YES. It's the same question as #7856. When transoform c:/ to f:/(where work directory in). It works perfectly.

THANKS A LOT.

[2017-03-11 09:11] #8293 closed

[2017-03-11 09:30] stein2013 commented on #8267
Thank u! I solved it. @Geekking

[2017-03-11 11:04] yselivonchyk commented on #2169
I am not sure if it is the right place.

According to docs [max_pool_with_argmax](https://www.tensorflow.org/api_docs/python/tf/nn/max_pool_with_argmax) computes indexes using next formula:
`[b, y, x, c] -> ((b * height + y) * width + x) * channels + c`

while infact batch index is ignored and next formula used:
`[b, y, x, c] -> (y * width + x) * channels + c`

So, smth is wrong there.

Code by @P

[2017-03-11 11:10] Vayel opened #8301 "Feedback on "A Guide to TF Layers: Building a Convolutional Neural Network" tutorial"
This [tutorial](https://www.tensorflow.org/tutorials/layers) seems to contain some errors:

# Convolutional Layer #1

Are the filters learnt? In that case, you could mention it. Else, how do you choose the types of the filters?

Is not the shape `[batch_size, 28, 28, 32]` instead?

# Pooling Layer #1

Isn't it `[batch_size, 14, 14, 32]`, as the pooling does not reduce the number of channels?

Mayb

[2017-03-11 11:54] wangfazong commented on #225
when I use:
for i in range(1000):
    batch_xs, batch_ys = mnist.train.next_batch(100)
    train_step.run({x: batch_xs, y: batch_ys})

I got
InvalidArgumentError: You must feed a value for placeholder tensor 'Placeholder' with dtype float

and it runs as blow:
for i in range(1000):
    feed = {x: mnist.train.images, y_: mnist.train.labels}
    train_step.run(feed)

[2017-03-11 12:15] annanay25 commented on #8100
For starters, I inserted ```LOG(INFO) << llvm_ir::DumpModuleToString(*llvm_module)``` in ```CpuCompiler::Compile()``` and obtained the LLVM IR. But this seems to be just a small fraction of the complete program.

I need some help regarding the same. IMO, the bigger picture here is to implement Polly as a module within the existing XLA backend.

Another thing that concerns me is the compilation ove

[2017-03-11 12:48] marulitua opened #8302 "Can't generate documentations"
I cannot run gen_docs.sh on my machine.

I already run the configuration script.

This is the last error message
http://sprunge.us/MVJS

I am using tensorflow 1.0 with CUDA capability
http://sprunge.us/dhQT

This is my list of CUDA libs
http://sprunge.us/Gdfh

I am on arch linux btw.

What sould i do ?

[2017-03-11 13:31] guoying1030 commented on #7682
@yaroslavvb ,,in tensorflow ,sgd with mommentum optimizer is tf.train.MonmentOptimizer?

[2017-03-11 13:34] botev commented on #492
@yaroslavvb It seems that the `memory_stats_op.MaxBytesInUse()` is wrong. I'm running a single tensorflow instance and that being the only thing running on that GPU. Under `nvidia-smi` there are 8459MB memory used on the tensorflow, the op returns 4254MB. This seems criminally like the tensorflow op is returning exactly half the memory actually being used. I'm using it like this:
[code]

[2017-03-11 13:40] emodark commented on #5983
I have the problem of the tensorboard cannot show the event data in windows10, 64-bit, tensorflow-gpu-.12.0rc1; it can be solved by making the "tensorborad.exe" and the event file in the same disk.

[2017-03-11 15:04] weigq opened #8305 "tf.image.resize_image_with_crop_or_pad"
hi,
I`m moving a project from r0.11 to r0.10, and I have some bug in 0.10 running this script:
[code]
the results is :
[code]
but when I test in r0,11, the results:
[code]
the input of the above two functions is the same.
I can not find where it gets wrong.
any one can help me?

[2017-03-11 15:04] yaroslavvb2 commented on #492
Tensorflow uses its own caching allocator, so nvidia-smi gives incorrect
result

On Mar 11, 2017 5:35 AM, "Alexander Botev" <notifications@github.com> wrote:

[2017-03-11 15:22] botev commented on #492
@yaroslavvb2 is that 100% sure. Because we observe on smaller Feed Forward models Tensorflow to be able to measure about a half memory usage than theano and torch, but on larger models it uses the same.

[2017-03-11 15:38] yc14600 opened #8306 "tf.contrib.distributions.Multinomial initialization problem"
Hi
I can't initialize a multinomial distribution with more than 1 dimension probabilities. The version of installed TF is 1.0.0. I tried the example code in tensorflow website (https://www.tensorflow.org/api_docs/python/tf/contrib/distributions/Multinomial), it gets the same problem and the error doesn't make any sense to require probabilities to be integers. I'm not sure if the guide in the websi

[2017-03-11 16:27] yaroslavvb commented on #492
@botev correct, even with `allow_growth`, the amount of available memory reported by nvidia-smi does not represent the amount of memory available

[2017-03-11 16:32] yaroslavvb commented on #675
It's a little less surprising when you know that there's no efficient algorithm to compute Jacobian, therefore all neural net frameworks use reverse mode AD which requires target to be a scalar

[2017-03-11 17:35] cancan101 commented on #8287
I was thinking right now if an optimization pass wanted to change the filter format, the current ops don't expose the parameter for rewriting.

[2017-03-11 18:59] k1i2m4 opened #8309 "Kernel Died Issue"
Can anybody know why kernel is always died? When I excute this cell, a part of Lenet CNN.

1. Code :
[code]
2. Error Message :
[code]
Then, the kernel is died....it is crazy. Please let me know the solution

3. Environment
Window 10 (No Ubantu)
Anaconda w/Jupyter Notebook
Tensorflow w/GPU (Cuda 8.0, cuDNN 5.1)

Thank you!!

[2017-03-11 19:01] chrisrytting commented on #6068
The same issue for me was solved by getting rid of the `/tmp`

[2017-03-11 19:07] prb12 commented on #8287
There's no reason an optimization pass needs to keep the same ops...  In my opinion, the cleanest design is for the program to be written using generic ops with well defined semantics, and then any 3rd party wanting to add support for their super-fast library or accelerator supplies two things:
1) A set of additional (internal) ops if necessary, with whatever flags/attrs extra inputs/outputs they

[2017-03-11 19:15] prb12 commented on #8309
This does look like TensorFlow is unable to find the cuDNN library.
Could you please double check that you followed the instructions on [this](https://www.tensorflow.org/install/install_windows) page for installation of cuDNN and adding the installation directory to  your `%PATH%` environment variable?

[2017-03-11 19:16] prb12 commented on #8309
Potentially a duplicate of #6698

[2017-03-11 19:16] mrry commented on #5983
@emodark: This is a known issue with TensorBoard, because it uses the `:` character in its flags in a way that's incompatible with Windows paths. See #7856 for more discussion and a potential workaround.

[2017-03-11 19:17] prb12 commented on #8305
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-11 19:17] #8305 closed

[2017-03-11 19:18] prb12 commented on #8300
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-11 19:18] #8300 closed

[2017-03-11 19:26] cancan101 commented on #8287
Your point about optimization passes makes sense. I guess a better case would be, does it make sense to allow users to _explicitly_ choose a different format for the filter weights, and if so, should that be done by adding a new parameter to the existing conv2d op? The idea would be in the vein of `data_format`. It actually might be more important to make this explicit since when the user dumps th

[2017-03-11 19:29] prb12 commented on #8306
This isn't a bug.  You appear to have missed a subtle but important character when copying the example...

In your version, the value passed to `n` is an int32 tensor:
[code]
The example has a decimal point after the `4` which makes the argument a float32 tensor:
[code]

I think that this would be clearer in documentation:
[code]

Please let me know if this does not solve your problem.

@xmbrst Th

[2017-03-11 19:29] #8306 closed

[2017-03-11 19:33] prb12 commented on #8299
@ebrevdo Do you know who is the owner of this code?

[2017-03-11 20:04] neale opened #8310 "XLA/AOT on Windows build?"
I know windows is low on the priority list (I don't blame you), but will there be support in the future for AOT compilation for Windows, or is it possible now in theory?

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
There aren't a lot of questions anywhere about this yet :/

### Environment info
Operating System:
Windows 10

### Inst

[2017-03-11 20:12] ebrevdo commented on #8299
Probably thang luong.  He and I are working on a new dynamic attention
RNNCell wrapper  where I do separate out these dimensions into separate
parameters!  Will try to push that code on monday.

On Sat, Mar 11, 2017 at 11:33 AM, Paul Barham <notifications@github.com>
wrote:

[2017-03-11 20:12] ebrevdo commented on #8299
(this code has been deleted in github master, in favor of the new object
oriented style)

On Sat, Mar 11, 2017 at 12:11 PM, Eugene Brevdo <ebrevdo@gmail.com> wrote:

[2017-03-11 20:18] prb12 commented on #8299
@ebrevdo Thanks for the information.  I'm going to close this as a "bug" since it looks like the existing code is going away and a replacement is imminent which doesn't have this problem.

[2017-03-11 20:18] #8299 closed

[2017-03-11 20:23] prb12 commented on #8310
@tatatodd Do you know what the status is of tf_compile on Windows?

@neale Thanks for following the issue reporting template ... I agree that the output (especially from bazel configuration) is sort of irrelevant and unrelated.

[2017-03-11 20:42] prb12 commented on #8302
@marulitua None of the links in your issue report work for me.

Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2017-03-11 21:59] eddiepierce opened #8311 "Different output using CudnnGRU vs GRUCell"
Operating System: Arch Linux

Installed version of CUDA and cuDNN:  libcudart.so.8.0.44, libcudnn.so.5.1.5

1. The commit hash (`git rev-parse HEAD`): 57e40363eb40a692f7c5dfea3f53031a52024321
2. The output of `bazel version`: 0.4.4

I set x = 1, previous_h = 0, all weights and biases = 0, output should be 0. Traditional tensorflow GRU returns 0, but CudnnGRU returns 0.20482421

NOTE: need to use G

[2017-03-11 22:26] tfboyd commented on #8060
Took me a week rather than one day.  Here is the PR.  I tested it locally and works with TF 1.0. Sorry tensorflow/models is a bit tough.  We are working on it.

https://github.com/tensorflow/models/pull/1150

Marking closed.

[2017-03-11 22:26] #8060 closed

[2017-03-11 22:30] fantauzzi opened #8312 "tf.Graph.get_operations() expects an undocumented parameter"
Based on the API [documentation](https://www.tensorflow.org/versions/master/api_docs/python/framework/core_graph_data_structures#Graph.get_operations), I can call tf.Graph.get_operations(), without arguments, to fetch the list of operations in the graph. When I do, I get:

[code]
Using tensorflow-gpu (1.0.1) under Ubuntu, installed with pip3.

[code]

[2017-03-11 22:34] fantauzzi commented on #8312
I tried to use it as a class method, while it is not. My mistake.

[2017-03-11 22:34] #8312 closed

[2017-03-11 22:41] OverratedGman commented on #7464
@andrewharp issue exists on multiple devices like the nexus 6p, it not limited to Samsung s6. Can we reopen this issue and find a fix?

[2017-03-11 22:55] cancan101 opened #8313 "out_depth not set in PoolParameters if depth_window == 1"
In `PoolParameters`, `out_depth` is not set if `depth_window == 1`.
See: https://github.com/tensorflow/tensorflow/blob/754048a0453a04a761e112ae5d99c149eb9910dd/tensorflow/core/kernels/pooling_ops_common.cc#L61-L66.

[2017-03-11 23:02] yaroslavvb commented on #8309
Sometimes you get unrelated GPU errors when you run of RAM, as in https://github.com/tensorflow/tensorflow/issues/7025

[2017-03-11 23:19] gunan commented on #8264
As a very quick solution, you may create symlinks to cudnn headers in `/usr/local/cuda/include` and to all cudnn libraries in `/usr/local/cuda/lib64`.
@flx42 Any idea about any changes in cudnn deb packages that may cause this?

[2017-03-11 23:47] flx42 commented on #8264
@prb12: that's not the case with deb packages as @gunan mentioned.

@gunan: I'm not sure what your question is. But the path `/usr/lib/x86_64-linux-gnu/include/cudnn.h` doesn't make sense. There is probably a problem when configuring TensorFlow.

[2017-03-12 00:09] gunan commented on #8264
I thought with deb packages, in the end we had symlinks for cudnn.h and library files that provide a structure as @prb12 described. It looks like that is not the case.
I think for the error message, what happened is user entered `/usr/lib/x86_64-linux-gnu/` as cudnn root directory. Our source code assumes what @prb12 described, so `/usr/lib/x86_64-linux-gnu/include/cudnn.h` is probably constructed

[2017-03-12 00:14] Carmezim opened #8314 "[Windows Build] "RECURSIVE_PKG:rootedPath" Path Casing Error"
Windows 10
Bazel 0.4.5
Visual C++ 2015
Msys2 v20160205
Python 3.5 (python.org distribution)

Configuring TensorFlow on Windows generates an error related to path case sensitivity:

[code]

Steps to reproduce:
- Clone TensorFlow repo
- `./configure`

[2017-03-12 00:19] flx42 commented on #8264
`/usr/include/cudnn.h` is indeed a symlink, but that's for allowing users to switch cuDNN versions on the same machine through Debian alternatives:
[code]
cuDNN v4 was different though, the actual header was at `/usr/include/cudnn_v4.h`

[2017-03-12 00:27] fxsuper opened #8315 "[feature]: support for trigonometric functions in XLA"
I'd like to request support for basic trigonometric functions in XLA, things like cos, sin, etc, as well as basic geometry options like cross products. These are already supported in TF and I imagine there's native support in eigen. Looking through tf2xla I didn't see them anywhere.

[2017-03-12 00:50] marulitua commented on #8302
I am on Arch Linux 64 bit
`uname -a`
[code]

I am using tensorflow 1.0 with CUDA capability
`python -c "import tensorflow; print(tensorflow.__version__)"`
[code]

`ls -l /opt/cuda/lib64`
[code]

`ls -lah /usr/lib/libcud*`
[code]

`bazel info`
[code]
Git commit hash
`git rev-parse HEAD`
[code]

I got the following error when i run gen_docs.sh

[code]

Btw, when i run the configuration script i choo

[2017-03-12 01:07] jeffheaton commented on #7287
For models with several outputs, you would probably want to follow the way other scikit-learn models handle this.  If you are going for scikit-learn compatibility.

http://scikit-learn.org/stable/modules/generated/sklearn.multioutput.MultiOutputRegressor.html

[2017-03-12 02:16] arsenal0502 opened #8316 "Where is the document of tf.keras?"
It is said that Google have released tf.keras in the lastest version,but I can't find the document.

[2017-03-12 02:47] echan00 commented on #7959
I'm getting this error as well. Not exactly clear how to solve the issue tho.

[2017-03-12 02:50] jd20 opened #8317 "Building from source on macOS: invalid command 'bdist_wheel'"
I found two other issues mention this error, though none of the proposed solutions fixed the problem for me.

Operating System: macOS Sierra 10.12.3

Installed version of CUDA and cuDNN: None

On a fresh install of Sierra, I've used brew to install bazel, python, python3 (which gives me 3.6.0), pyenv, and the virtualenv plugin for pyenv. I'm following the "Build from source" instructions for Mac,

[2017-03-12 03:15] paramr commented on #8266
Actually it is a good feature request.  SSE4 has been available since 2007 (https://en.wikipedia.org/wiki/SSE4) and https://en.wikipedia.org/wiki/Advanced_Vector_Extensions since 2011.  So seems reasonable to have these enabled by default.

[2017-03-12 03:39] yaroslavvb commented on #8266
@paramr  There were users who couldn't run official binary because of SSE inclusion -- https://github.com/tensorflow/tensorflow/issues/6809

So the idea is to have slow "lowest common denominator" official release, and then let users build/distribute versions for the gazillion other configurations out there. I post Xeon V3 specialized wheels here -- https://github.com/yaroslavvb/tensorflow-communi

[2017-03-12 03:53] prb12 commented on #8316
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-12 03:53] #8316 closed

[2017-03-12 04:00] prb12 commented on #8317
Can you confirm that the solutions in #7402  #348 didn't work for you?

Please can you confirm your python version?  (if you're using python3 you need to `pip3 install wheel`)

I assume you are following https://www.tensorflow.org/install/install_sources#prepare_environment_for_mac_os ?

[2017-03-12 04:04] prb12 commented on #8314
@mrry Have you encountered anything like this before?

[2017-03-12 04:05] prb12 commented on #8313
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-12 04:05] biolee opened #8318 "#FR CG pipeline in tf"
#in brief
build computer graphic render pipeline with tf

In GDC2017's talk ['FrameGraph: Extensible Rendering Architecture in Frostbite'](http://www.frostbite.com/2017/03/framegraph-extensible-rendering-architecture-in-frostbite), a few slide inspire me, why don't CG and CV use the same computation platform, share 'GPU cluster' 'memory management' and 'operation oplimization' code, iteract with e

[2017-03-12 04:10] prb12 commented on #8314
@Carmezim Could you also please provide the commit version of your repo.

[2017-03-12 04:12] mrry commented on #8314
Nope, sounds like Bazel's sandboxing is unhappy. As a short-term workaround, the CMake build in `tensorflow/contrib/cmake` should work fine.

@meteorcloudy: have you seen this error before?

[2017-03-12 04:14] prb12 commented on #8315
@learyg @eliben We currently only have Tanh - any reason not to have the rest?

[2017-03-12 04:25] prb12 commented on #8302
@langmore The error seems to be related to `tf.contrib.distributions`.  Have you any idea why this might be happening?

[2017-03-12 04:27] Carmezim commented on #8314
@prb12 Sure a91be11e5d228848e9648f1e63e6d509754befb9

[2017-03-12 04:40] prb12 commented on #8318
This seems very speculative and this is not supposed to be a discussion forum.
I suspect that your question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). There is also a larger community that reads questions there.

Please feel free to reopen once you have more specifics.

[2017-03-12 04:40] #8318 closed

[2017-03-12 04:48] langmore commented on #8302
This is probably related to [this change](https://github.com/tensorflow/tensorflow/commit/988a443383a56619aeaa73354146579addfb13ad)

[2017-03-12 05:03] prb12 commented on #8311
@zheng-xq This seems like something is wrong?

[2017-03-12 05:11] prb12 commented on #8302
@langmore Thanks.

[2017-03-12 05:42] yichen0921 commented on #7889
Hi, Im totally new to Tensorflow. I got this errors when running this code:

I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\dso_loader.cc:135] successfully opened CUDA library cublas64_80.dll locally
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\dso_loader.cc:135] successfully opened CUDA library cudnn64_5.d

[2017-03-12 06:03] phpmind commented on #8251
Thanks it worked for me.

[2017-03-12 07:27] danqing opened #8319 "Update macOS GPU installation instructions"
### Environment info

Operating System: macOS 10.12
Tensorflow: 1.0
CUDA/cuDNN: 8.0, 5.1

---

I was setting up Tensorflow with GPU, reading the instructions: https://www.tensorflow.org/install/install_mac. It seems that a few things can be made clearer. I'm not sure where the source for the website lives so I want to file an issue so it can possibly be updated and people searching for related iss

[2017-03-12 08:01] rosun82 opened #8320 "Please remove all code visibility restrictions"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-12 08:09] rigorosyang opened #8321 "it seems that sparse_to_dense can only work in CPU?"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-12 08:16] rigorosyang commented on #8321
currently I want to generate one Dense Tensor by Sparse Tensor, it is very usual that generating one dense tensor with big dim(such as 100k dim) by some word indexs. but it seems sparse_to_dense op only works for CPU. so the problem is that if I have 8 GPUs,  I have to run sparse_to_dense 8 times in the CPU serially and send them to 8 GPUs, the  Parallel running performance is very bad!

[2017-03-12 08:52] ahundt commented on #4742
I believe the source of confusion here may be due to varying definitions of atrous convolution depending on the paper being read. Basically, some papers defined atrous convolutions incorrectly when they really meant dilated convolutions. This is explained in [Multi-Scale Context Aggregation by Dilated Convolutions](https://arxiv.org/abs/1511.07122) with the authors' implementation in https://githu

[2017-03-12 08:56] ahundt commented on #3492
I believe this is implemented in `tensorflow/models/slim/.../resnet_utils.py` in the function [conv2d_same](https://github.com/tensorflow/models/blob/master/slim/nets/resnet_utils.py#L77). I explained in more detail at https://github.com/tensorflow/tensorflow/issues/4742#issuecomment-285931111.

[2017-03-12 09:27] atilaorh commented on #7615
I am having this issue on Ubuntu 14.04 & TF 0.12.1 (01/2017 version of Bitfusion Tensorflow AMI to be exact).

[2017-03-12 11:40] danlutan opened #8322 "Using a `tf.Tensor` as a Python `bool` is not allowed."
I want to do ： IF True: return a ; else : return b (in python) . But there is a error : Using a `tf.Tensor` as a Python `bool` is not allowed.  How can I do this