[2019-12-05 22:40] reedwm commented on #34782
The issue is that we are calling an op that does not support bfloat16 in the Loss. We should do all Losses in float32, but I haven't implemented that yet. I regret not doing this for 2.1, but this will definitely be fixed in 2.2.

Because of this issue, in 2.1, models should end in float32. For models which you cannot modify, like `tf.keras.applications.resnet50.ResNet50`, you can wrap the model w

[2019-12-05 22:43] wolterlw commented on #28830
Can anyone give a short summary of how tflite runs on GPU using mesa as used in Mediapipe project?

[2019-12-05 22:47] 00krishna commented on #34849
The solution to this is to make a simple update to the code.
[code]
Need to add the datatype directly to the call DenseFeatures. This probably should be a pull request to the tutorial.

[2019-12-05 22:53] gowthamkpr commented on #33960
I am gonna close this issue as it has been resolved. Please add additional comments and we can open this issue again. Thanks!

[2019-12-05 22:53] #33960 closed

[2019-12-05 23:56] jvishnuvardhan commented on #34771
@LuchoTangorra Eager execution is by default in TF2.0. This is more intuitive and useful to starters as well as experts to see what a variable holds at any time (more like pythonic). Once you checks everything running without a bug, then you can add @tf.function to run time intensive functions in graph mode. Some of the functions like model.fit runs in graph mode. There are several ways to speed u

[2019-12-05 23:56] #34771 closed

[2019-12-06 00:08] ymodak commented on #18266
This is fixed with TF version 1.15.0 Thanks!

[2019-12-06 00:11] lgeiger commented on #34332
#34779 doesn't fully close this issue since Distribution Strategy is not fully supported yet: https://github.com/tensorflow/tensorflow/pull/34779#discussion_r353481035

[2019-12-06 00:13] reedwm commented on #34332
You're right, reopening.

Once Distribution Strategy returns a variable from `DistributionVariable.assign`, this issue can be fixed.

[2019-12-06 00:16] lgeiger commented on #34332
:+1: Thanks for the help with debugging

[2019-12-06 00:21] byronyi commented on #34782
@reedwm that’s very helpful, thanks Reed!

I’ll leave this issue as a marker and close it once it’s fixed in master.

[2019-12-06 00:36] gargn commented on #34813
@mkz0930 The flag `experimental_new_converter` is not available in 2.0. Please use the `tf-nightly` (`pip install tf-nightly`).

[2019-12-06 00:37] ymodak commented on #33194
Apologies for the delay in response. Yes that approach will do.

[2019-12-06 00:37] #33194 closed

[2019-12-06 01:15] Fansgithub2019 opened #34886 "ValueError: Received a scalar value '512' as shape; require a statically known scalar with value '-1' to describe an unknown shape."
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from :pip
- TensorFlow version : 1.3
- Python version: 2.7

**Code to reproduce the issue**
    stfts = tf.signal.rfft(frames, fft_length=512)

Traceback (most recent call last):
  File "pre_process_1.py", line 264, in <module>    feature_2,wav_lens_1,wav_lens,waveforms_0,waveforms_1,waveforms_2,wavefo

[2019-12-06 01:15] guptapriya commented on #34346
@frankchn the user is not using fit_generator, they are using fit with input as a generator.
I am not sure about 1.15 but I believe in 2.0 we convert the generator input to dataset and then it should work. I am not sure about TPUs though. @tomerk would you be able to confirm the 2.0 status?

[2019-12-06 01:25] markhyro123 commented on #25807
Thank you...

[2019-12-06 01:28] #19855 closed

[2019-12-06 01:37] itemko commented on #9489
Observed the similar problem with `libcublas10=10.2.2.89-1` / `libcublas-dev=10.2.2.89-1`.
Downgrading to either `libcublas10=10.2.1.243-1` / `libcublas-dev=10.2.1.243-1` or `libcublas10=10.1.0.105-1` / `libcublas-dev=10.1.0.105-1` + `export TF_FORCE_GPU_ALLOW_GROWTH=true` ([Limiting GPU memory growth](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth)) has fixed the issue.
`~/.nv` w

[2019-12-06 02:21] sheirving commented on #30647
Same Issue! TF 1.14 Unresolved External Symbols.

[2019-12-06 03:10] sks4world commented on #18165
Thank you Mainak. The solution worked for me.
tf.compat.v1.disable_eager_execution()

[2019-12-06 03:18] alanpurple commented on #34429
@ahtik

now grpc support python 3.8 in windows 10!!  good news

https://pypi.org/project/grpcio/1.26.0rc1/#files

[2019-12-06 03:29] oanush commented on #34861
@yashthesia ,
Can you please fill the details for all the fields in Standard template ?Thanks!

[2019-12-06 03:56] oanush commented on #34848
Issue replicating for TF 2.0 and tf-nightly, please find the [gist](https://colab.sandbox.google.com/gist/oanush/d9e6b644abc2f9610e677bf2ac4cd6e6/34854.ipynb) of colab.Thanks!

[2019-12-06 03:58] rrtaylor commented on #22106
From inspecting class index predictions coming out of MobileNet V2, it looks like the values start off as whole numbers (i.e. floats that are actually integers), and then turn into true floats. This makes me think that the prediction arrays are being initialized (or overwritten) with garbage, and then being filled back in with non-background detections, with unused predictions (since you have to s

[2019-12-06 04:17] Jasonnor commented on #30738
Any update on it? This issue is not solved yet 😕

[2019-12-06 04:18] jaingaurav commented on #34565
It is likely there is some existing issue in your `augment_batch` code that is not surfacing clearly due to autograph. Could you try annotating `augment_batch` with `@tf.function(autograph=False)` and see if you get a clearer error message?

[2019-12-06 04:34] michael-lash commented on #27519
My function does not have a decorator but .numpy() still fails as described by previous posters. Has anyone found an solution to this?

[2019-12-06 04:42] mdanatg commented on #34433
Thanks, that saved me a few roundtrips.

I ran a build with 3.8, and it looks like the AST transformations need to be updated to work with Python 3.8, I suspect that's because of the grammar changes. I'll make the necessary fixes, hopefully it won't take more than a week or two to finish them.

[2019-12-06 04:50] agnz commented on #25513
No, sorry, I was not able to make it work and moved to PyTorch since.

[2019-12-06 05:01] oanush commented on #34834
@chahld ,
When defining a network in Keras, the first layer added needs to have input_shape added, please check the [link](https://stackoverflow.com/questions/52754453/tensorflow-keras-attributeerror-layer-features-has-no-inbound-nodes) for more information.
Also refer [this](https://www.kaggle.com/adityaecdrid/mnist-with-keras-for-beginners-99457) example.Thanks!

[2019-12-06 05:04] mavenlin commented on #6847
@dynamicwebpaige The reason for closing it is not valid because `tf.extract_image_patches` is not removed but just renamed to `tf.image.extract_patches`. I suggest edit the tile to "reverse op for `tf.image.extract_patches`" rather than closing it. This is not solved yet.

[2019-12-06 05:06] ravikyram commented on #34585
@michaelarfreed

I have tried on colab with TF version 1.15 and i do not see any issue.But with TF 2.0 i am able to reproduce the issue. However it looks like it is resolved with TF nightly version (`!pip install tf-nightly==2.1.0dev20191203`). Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/e751dbf44cf2051a5117caaf663ccb94/untitled447.ipynb).Thanks!

[2019-12-06 05:12] niranjan8129 commented on #34850
**lstm_cell =tf.keras.layers.LSTMCell(units=hidden_unit)**
lstm_cell = tf.nn.RNNCellDropoutWrapper(lstm_cell, output_keep_prob=self.dropout_keep_prob)
self._initial_state = lstm_cell.get_initial_state(128, tf.float32)

Got ERROR at line 3
ValueError: slice index 0 of dimension 0 out of bounds. for 'strided_slice' (op: 'StridedSlice') with input shapes: [0], [1], [1], [1] and with computed input te

[2019-12-06 05:28] ravikyram commented on #34862
@workingloong
Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2019-12-06 05:37] IshanManchanda commented on #33543
Grpcio has released their binaries for 3.8. Do we have an estimate for when TF will be releasing?

[2019-12-06 05:42] #34828 closed

[2019-12-06 05:45] gramce commented on #34819
Sorry. The problem has been fixed. The problem is using the Object Float[] to init Tensor<float>. I fix this just by using float[]. However, I still think this is really a problem.

[2019-12-06 06:12] taotaolin commented on #22338
ERROR LNK2019 .  Have you resolved this problem? I don't seem to have solved this problem in the latest edition

[2019-12-06 06:16] ibrahimLearning commented on #34636
@gadagashwini
Thanks for your reply. Actually, I used Matterport's implementation MaskRCNN.
https://github.com/matterport/Mask_RCNN
However, the model is past here. Please check the function,
[code]
"""
Mask R-CNN
The main Mask R-CNN model implementation.

Copyright (c) 2017 Matterport, Inc.
Licensed under the MIT License (see LICENSE for details)
Written by Waleed Abdulla
"""

import os
import ra

[2019-12-06 06:19] refraction-ray commented on #26842
This is also similar to https://github.com/tensorflow/tensorflow/issues/9234. Actually, the following code
[code]
is enough to trigger segfault. This can be reproduced in current default google colab setup (tf1.15) and my local intel optimized tf2.0 enviroment (it is worth noting that svd doesn't call mkl routine even for intel optimized tf, observed by set `export MKL_VERBOSE=1`). SVD op on GPU i

[2019-12-06 06:20] viswanath27 opened #34888 "Failed to get convolution algorithm. This is probably because cuDNN failed to initialize"
[error_log.txt](https://github.com/tensorflow/tensorflow/files/3930650/error_log.txt)
Getting "Failed to get Convolution aglorithm" error
tensorflow.python.framework.errors_impl.UnknownError:  Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above.

**System information**
- OS Platform and Distribut

[2019-12-06 06:34] ravikyram commented on #34863
Can you please elaborate about the issue & the context.Will it be possible to provide related code.It helps us in localizing the issue faster.Also, let us know which Tensorflow version you are using?Thanks!

[2019-12-06 06:43] wayne003 commented on #32983
I got same error

Docker container: 2.0.0-gpu-py3-jupyter
GPU: Nvidia GeForce GTX 1660 Ti
Driver: 418.87.00_linux
Host: Ubuntu 18.04 LTS

[2019-12-06 06:46] ravikyram commented on #34859
I have tried on colab with TF version 1.15 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/340328a62bf9432601cbe8ac5d08cc9e/broken-adamoptimizer-tpu-custom-loop.ipynb). Thanks!

[2019-12-06 06:49] #34886 closed

[2019-12-06 06:50] ravikyram commented on #34856
@guoshimin
Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2019-12-06 06:53] ravikyram commented on #34850
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Please, share simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. If you are unclear what to include see the issue template displayed in [the Github new issu

[2019-12-06 06:54] wayne003 commented on #34118
Same issue here with GTX 1660 Ti

[2019-12-06 06:58] niranjan8129 commented on #34850
Running against Tensorflow 2.0 and getting error below

lstm_cell =tf.keras.layers.LSTMCell(units=hidden_unit)
lstm_cell = tf.nn.RNNCellDropoutWrapper(lstm_cell, output_keep_prob=self.dropout_keep_prob)

**self._initial_state = lstm_cell.get_initial_state(self.batch_size, tf.float32)**

inputs = [tf.squeeze(input_, [1]) for input_ in tf.split(pooled_concat,num_or_size_splits=int(reduced),axis=1)]

[2019-12-06 07:01] wayne003 commented on #32557
Same here with
v2.0.0-rc2-26-g64c3d38

[2019-12-06 07:15] wangsiyu commented on #27545
I am facing the same issue. Any update?

[2019-12-06 07:16] shazhongcheng commented on #34118
add this code, and i solve the problem!
[code]

[2019-12-06 07:26] phreakyphoenix commented on #34872
It seems to me that the file libcuda.so.1 either does not exist on your system or your Tf installation fails to locate it.
Please **add /path/to/libcuda.so.1 in the LD_LIBRARY_PATH and reboot.**
To fing the path run the commands:
*sudo updatedb*
*sudo locate libcuda.so.1*
Then add the address of libcuda.so.1 to your $LD_LIBRARY_PATH env var and reboot.
(For example, for me the path is /usr/lib/)

[2019-12-06 07:38] byronyi commented on #34863
@Richie-yan You could run a basic test of your RoCE environment by `ibv_devinfo`. It appears to me that all of your IB/RDMA ports are down.

[2019-12-06 07:47] a4aditya opened #34889 "documentation"
Porting the original website from bootstrap3  to bootstrap4

Section to change:
- [ ] [_alumni.html](https://github.com/asetalias/asetalias.github.io/blob/master/templates/home-sections/_alumni.html)
- [ ] [_events-participate.html](https://github.com/asetalias/asetalias.github.io/blob/master/templates/home-sections/_events-participate.html)
- [ ] [_events.html](https://github.com/asetalias/asetal

[2019-12-06 07:48] #34889 closed

[2019-12-06 07:53] phreakyphoenix commented on #31006
@gadagashwini This issue seems to have been fixed and can be closed. Bazel 0.24.1 or greater is required and is correctly mentioned on the site.
Could I be added as a collaborator on this project? Then I'll be able to self assign tasks and do much more. Thanks.

[2019-12-06 08:03] Squadrick opened #34890 "tf.keras.models.Sequential does not support run_eagarly"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-12-06 08:15] dingevin commented on #34478
@gadagashwini  that is my asked question.
`(None, <tf.Variable 'dense/kernel:0' shape=(512, 128) dtype=float32_ref>)`
`(None, <tf.Variable 'dense/bias:0' shape=(128,) dtype=float32_ref>)`
`(<tf.Tensor 'gradients/output/output/MatMul_grad/tuple/control_dependency_1:0' shape=(128, 10) dtype=float32>, <tf.Variable 'output/output/kernel:0' shape=(128, 10) dtype=float32_ref>)`
`(<tf.Tensor 'gradients/o

[2019-12-06 08:31] cis-apoorv commented on #26812
Hello @galeone ,
As you are using TensorFlow 2.0 you must add
`tf.config.experimental_run_functions_eagerly(True)`
after import and then run the code.

[2019-12-06 08:45] PolarBean commented on #32333
I had a similar issue and prevented it by setting return_sequences to False for the LSTM layer which feeds into the Dense layer

[2019-12-06 08:46] ravikyram commented on #34850
@niranjan8129

Looks like code is incomplete.I am seeing below error.(`NameError: name 'hidden_unit' is not defined`). Can you please help me with the reproducible code in our environment or colab link. It helps us in localizing the issue faster. Thanks!

[2019-12-06 08:47] songmeixu commented on #26289
Are you sure about that? But I build from source on branch: r1.13 with the **cuda 10.1**, and obviously it does not work.
Errors:
- [x] library cannot find: libcublas.so.10.1 etc. Solved through syslink.
- [x] cannot find cublas_v2.h. Solved through syslink.
- [ ] `tensorflow/tensorflow/compiler/xla/service/gpu/BUILD:661:1: C++ compilatio
n of rule '//tensorflow/compiler/xla/service/gpu:gpu_compil

[2019-12-06 08:48] oanush commented on #34333
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-06 08:48] #34333 closed

[2019-12-06 08:54] oanush commented on #34426
@burnmg ,
Thank you for responding, can you provide the actual code being used to replicate the issue from our side with input dataset as `CIFAR-10 `?

[2019-12-06 08:59] niranjan8129 commented on #34850
@ravikyram ravikyram
{
    "batch_size": 128,
    "dropout_keep_prob": 0.5,
    "embedding_dim": 300,
    "evaluate_every": 200,
    "filter_sizes": "3,4,5",
    "hidden_unit": 300,
    "l2_reg_lambda": 0.0,
    "max_pool_size": 4,
    "non_static": false,
    "num_epochs": 1,
    "num_filters": 32
}

[2019-12-06 08:59] gadagashwini commented on #34849
Tried replicating the issue on colab but it worked as expected, no warnings.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/13f1ce009e37f019928c0dc947a695c5/untitled294.ipynb). Thanks!

[2019-12-06 09:04] niranjan8129 commented on #34850
FULL code  for Tensorflow 2.0 version

def __init__(self, embedding_mat, non_static, hidden_unit, sequence_length, max_pool_size,
		num_classes, embedding_size, filter_sizes, num_filters, l2_reg_lambda=0.0):

		self.input_x = tf.compat.v1.placeholder(tf.int32, [None, sequence_length], name='input_x')
		self.input_y = tf.compat.v1.placeholder(tf.float32, [None, num_classes], name='input_y')
		self.

[2019-12-06 09:07] gadagashwini commented on #34759
Thanks @zaccharieramzi. Please try and let us know how it progresses. Thanks!

[2019-12-06 09:09] jusonn commented on #30738
For me, It was issued with tensorflow==2.0.0b0.
Now, with tensorflow==2.0.0,  `tf.saved_model.save(model, dir)` works with model above.

[2019-12-06 09:09] ravikyram commented on #34567
@acarrill

Looks like original issue got resolved.Please, feel free to open new issue if you are facing other issues.Please provide all the information as per the new issue template and raise new issue. Thanks!

[2019-12-06 09:18] ZJamm1993 commented on #25193
Why it should be `out_pixel[c] = (input_pixel[c] - input_mean) / input_std;` in `ProcessInputWithFloatModel` function?

[2019-12-06 09:39] TomorrowIsAnOtherDay opened #34891 "Cannot execute the substraction op with the broadcast mechanism"
[code]
This code raises the issue of not supporting [500,6] - [500] in the `sub` OP.
I suppose that it should compute correctly, using the broadcast automatically?
Is it a bug?
version: tf2.0

[2019-12-06 09:41] oanush commented on #34890
@Squadrick,
Hello, Please try giving `run_eagerly=True` as a parameter to compile it should work fine, kindly refer the [link](https://www.tensorflow.org/guide/keras/overview#train_and_evaluate).
Also find the [gist](https://colab.sandbox.google.com/gist/oanush/e1262a3a58d8bf0e6bb4419b361e78d7/34890.ipynb) of colab. Let us know if it helped.Thanks!

[2019-12-06 09:41] gadagashwini commented on #34473
Closing the issue. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-06 09:41] #34473 closed

[2019-12-06 10:05] chsigg commented on #26289
TF r1.13 does not build with CUDA 10.1. Please use r1.15 or r2.x.

[2019-12-06 10:14] kiflowb777 opened #34893 "load_weights dont work in tf.keras: W tensorflow/core/util/tensor_slice_reader.cc:95] Could not open "mobilenet_model": Data loss: not an sstable (bad magic number): perhaps your file is in a different file format and you need to use a different restore operator?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.14, 1.15, 2.0, 2.1rc0
- Keras version: 2.2.4-tf and 2.2.4
- Python version: 3.6
- CUDA/cuDNN version: 10.0 and 10.1 / 7.6.5
- GPU model and memory: RTX 2060 6GB

When I use the **tf.keras** and try to load the w

[2019-12-06 10:28] ArtyomMashkin commented on #33511
I just put two images as float arrays in interpreter and get the result image as float array. I have not actions with camera. And sorry, what do you mean? As I wrote above if I just put GPU delegate in Interpreter, I do not see the better results. And  it is why the my main question - can I do speed of Tflite processing fastly somehow using GPU considering that simple adding delegate does not help

[2019-12-06 10:36] ravikyram commented on #34216
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-06 10:36] #34216 closed

[2019-12-06 10:38] ravikyram commented on #34275
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-06 10:39] #34275 closed

[2019-12-06 10:44] ravikyram commented on #34255
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-06 10:44] #34255 closed

[2019-12-06 10:45] ravikyram commented on #34301
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-06 10:45] #34301 closed

[2019-12-06 10:47] ravikyram commented on #34330
I am closing the issue as this issue is related to TFjs repo. Thanks!

[2019-12-06 10:47] #34330 closed

[2019-12-06 10:49] jnsgrnborg opened #34895 "SavedModel format for tf.estimator class in Tensorflow 2.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platfo

[2019-12-06 10:51] ravikyram commented on #34470
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-06 10:51] #34470 closed

[2019-12-06 11:47] jenselofsson opened #34896 "Tensorflow Lite Micro fails to build for Arm Mbed OS"
**System information**
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1c8c3f2015
- GCC/Compiler version (if compiling from source):

**Describe the problem**
Buidling Tensorflow Lite Micro for Arm Mbed OS results in the following compile error:
`[Fatal Error] scoped_profiling_label_wrapper.h@38,39: profiling/instrumentation

[2019-12-06 12:08] titaneric commented on #33465
Hi @shahriar49 ,

I have answered your question on [stackoverflow ](https://stackoverflow.com/questions/58525480/padded-batch-with-pre-or-post-padding-option/59212858#59212858), please check it.

[2019-12-06 12:13] jenselofsson commented on #34896
The issue is fixed if the TF_LITE_STATIC_MEMORY flag is defined when compiling, like this:
$ mbed compile -m DISCO_F746NG -t GCC_ARM **-D TF_LITE_STATIC_MEMORY**

[2019-12-06 12:16] thotaram opened #34897 "TFLITE C++"
Hi,

We are able to run TFLITE CPP application(label_image) on ARM processor which uses CPU.
Can we run same TFLITE CPP application on any GPU like NVIDIA, POWERVR.

Thanks,
Ram.

[2019-12-06 12:18] kiflowb777 commented on #34893
Related topics:
https://github.com/tensorflow/tensorflow/issues/22947

[2019-12-06 13:19] #34896 closed

[2019-12-06 13:28] fontm2 opened #34898 "tf.execute_volume_patches misses one dimension when used with placeholders and None"
Tested in with tf 1.12.0 and tf 2.0. Below code for use with tf 2.0.

p = tf.keras.backend.placeholder((1,None,None,None,1))
kernel = [1,3,3,3,1]
strides = [1,1,1,1,1]
tf.extract_volume_patches(p, kernes, strides, 'SAME')

p = tf.keras.backend.placeholder((1,120,130,140,1))
kernel = [1,3,3,3,1]
strides = [1,1,1,1,1]
tf.extract_volume_patches(p, kernes, strides, 'SAME')

Is there a reason behind th

[2019-12-06 13:50] IshanManchanda commented on #33374
Grpcio has released binaries for 3.8: grpc/grpc#20831. Do we have an estimate for when TF will be releasing?

[2019-12-06 13:53] AntonDovhulia commented on #32105
I have the same issue. Did you find any way how to bypass this?

[2019-12-06 13:58] wanfranck commented on #33605
I think yes. Anyway here is a general code below.
[code]

[2019-12-06 14:10] burakberber opened #34899 "Fit of Undefined in train TensorFlowJS - Transfer learning audio recognizer"
In the example of 'Transfer learning audio recognizer' there is an error on lines.
**Uncaught (in promise) TypeError: Cannot read property 'fit' of undefined**

there is an error highlighted like shown :

![Ekran Resmi 2019-12-06 17 09 11](https://user-images.githubusercontent.com/25597808/70328972-566fc200-184b-11ea-9add-c31964511b35.png)

[2019-12-06 14:25] hohl commented on #24496
@sanyo:

I'm using a RTX 2070 Super with TF2 via an headless Ubuntu server, and I'm getting this error message too. I don't think it is related to the GPU sharing it as screen.

That's what `nvidia-smi` says:

[code]

[2019-12-06 14:33] Flamefire commented on #33814
I tried but can't test it currently.

I just tried with the docker containers but neither tensorflow-devel-gpu-py3 nor tensorflow-devel-py3 seem to actually contain tensorflow. In `/usr/local/lib/python3.6/dist-packages/` I see some Keras_* stuff but nothing with tensorflow. `pip freeze` doesn't list it either.

Using pip to install the 2.1.0rc has upgraded the CUDA requirement to 10.1 under which

[2019-12-06 14:34] roccqqck opened #34900 "[TF2.0] can't model.save(save_format='h5') NotImplementedError"
I cant use ```model.save()``` like this link
https://www.tensorflow.org/tutorials/keras/save_and_load#save_the_entire_model
python=3.7.5
tensorflow-gpu=2.0.0
transformers=2.2.1

[code]
[code]

[code]
[code]
But I did have InputLayer

I have no choice to use ```tf.keras.models.save_model()```
[code]

But when I loaded it,  I have to add an inputlayer and I losed my model layers structures.
[code]
[

[2019-12-06 15:20] mikeyEcology commented on #30191
This worked for me on a mac OS 10.14. Running in the terminal.

[code]

[2019-12-06 15:22] everdark opened #34901 "keras saved model cannot be loaded (no custom layer)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip install tensorflow-gpu
- TensorFlow version (use command below): 2.0.0
- Python version: 3.6.2
- CUDA/cuDNN version: 10.0.130 / 7.6.1
- GPU model and memory: GTX 1060 MAX-Q 6GB

**Describe the current behavior**

A keras `Sequential` model trained and sav

[2019-12-06 15:32] psunn commented on #34622
Pull request [https://github.com/tensorflow/tensorflow/pull/34903](url) trying to resolve this issue.

[2019-12-06 15:36] hohl commented on #24496
Got rid of the error message by reinstalling Nvidia drivers, Cuda and cuDNN. I though I'd give it a try since both CUDA and the drivers were already outdated anyways. That solved it for me. Maybe that would be the solution for others too?

[2019-12-06 16:19] kpe opened #34904 "TF Dataset - group_by_window without iterating the dataset first (input_window_size)"
I have described this in StackOverflow, but may be I have to post my question also here:
https://stackoverflow.com/questions/59216451/tf-data-group-by-window-without-iterating-the-complete-dataset-first

`tf.data.experimental.group_by_window` seems to always iterate the complete Dataset before outputing something. Is this an implementation issue, or am I doing something wrong?

I'm trying to reduc

[2019-12-06 16:29] sseveran commented on #27545
@wangsiyu No. I still find it incomprehensible that TF 2.0 shipped without profiling working properly.

[2019-12-06 16:35] renjithamadeus commented on #24607
Is there any update on this? This feature would be very useful for supporting seq2seq models in TFLite.

[2019-12-06 16:41] niranjan8129 commented on #34850
@ravikyram   here you can clone code and test

!git clone https://github.com/niranjan8129/classification_tensorflow

!pip install tensorflow-gpu==2.0.0-beta1
from google.colab import drive
dirpath=drive.mount('/classification_tensorflow')

!chmod 777 classification_tensorflow
!python ./classification_tensorflow/train.py ./classification_tensorflow/data/train.csv.zip ./classification_tensorflow/tra

[2019-12-06 16:41] hohl commented on #24496
@sanjoy:

I'm running Tensorflow on a headless Ubuntu server, no GUIs, no displays connected. Nothing else then SSH running and I'm getting exactly that error message too on an RTX 2070 Super. There would be more then enough memory available.

[code]

[2019-12-06 16:46] gao8954 commented on #34186
@atlantiswqq  how does sloved it ,i got the same error ! thank you very much

[2019-12-06 16:46] gao8954 commented on #34186
@atlantiswqq

[2019-12-06 16:48] foxik opened #34905 "`experimental_relax_shapes` argument of `tf.function` does not work on instance methods"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian Stretch
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0,

[2019-12-06 16:50] michael-lash commented on #27519
I've found that my issue clears up after inserting tf.compat.v1.enable_eager_execution() at the top of my script (very similar to what previous posters have said, but this works for TF 2.0)...

[2019-12-06 17:04] t-jordan commented on #25513
Thanks for the quick reply on an old post.

[2019-12-06 17:06] nbro commented on #33729
@ravikyram , @ymodak Apparently, if I set the parameter `experimental_run_tf_function` to `False` when calling `model.compile`, that is, `model.compile(..., experimental_run_tf_function=False)`, I do not get this error anymore.  There's a related issue https://github.com/tensorflow/addons/issues/428.

**What is `experimental_run_tf_function` exactly supposed to do?**

However, while training the m

[2019-12-06 17:09] aaroey commented on #33168
@jaingaurav could you help to take a look? Thanks.

[2019-12-06 17:09] gao8954 opened #34906 "tensorflow gpu inference only one thread is busy"
PID USER      PR  NI    VIRT    RES    SHR S %CPU %MEM     TIME+ COMMAND
  **5708 root      20   0 21.518g 1.820g 794224 S 82.0  0.7   6:38.31 server**
  5722 root      20   0 21.518g 1.820g 794224 S  8.0  0.7   0:36.46 server
  5747 root      20   0 21.518g 1.820g 794224 S  8.0  0.7   0:36.61 server
  5712 root      20   0 21.518g 1.820g 794224 S  7.7  0.7   0:36.35 server
  5714 root      20   0

[2019-12-06 17:13] foxik opened #34907 "[TF 2.1rc0] The `{predict,train,test}_on_batch` trace functions with fixed batch size"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian Stretch
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.1.0r

[2019-12-06 17:15] awav opened #34908 "Saving custom tensor fails"
Hello everyone,

There is a bug with saving and loading of custom tensors (variables) in TF. It was discovered at https://github.com/GPflow/GPflow/issues/1127. I have created the MWE in colab [here](https://colab.research.google.com/drive/1REEmDStqGGvl9EmYRa6KB44YXT7EVZkt). There are two errors when `tf.save_model` applies to custom tensors:

* The loading for custom tensor (variable) restores bro

[2019-12-06 17:26] mihaimaruseac commented on #33374
That's great news. We can start working on it. The roadmap is to first release `tf-nightly` with support for Python 3.8 (that is, provide support on `master` branch) and only after that we will release a TF version for 3.8. That is, TF 2.1 will not support 3.8 (as we are already in the process of releasing it) but TF 2.2 most likely will.

[2019-12-06 17:39] 00krishna commented on #34848
Okay, I figured out the cause of this error. The `get_dataset_length()` function returns a tensor instead of a scalar. And when I pass that tensor to the `fit()` function as below
[code]
Then when I pass the tensor to the `fit()` function, this generates the error message. But the error message has nothing to do with the actual error. So that is a big problem since it took me a while to figure out

[2019-12-06 17:43] remydubois opened #34909 "Non-deterministic access to Random Number Generator in tf.data.Dataset.map with num_parallel_calls > 1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.0.0
- Python version: 3.6.7
- CUDA/cuDNN version: 10.0
- GPU model and memory: Tesla K80

**Descri

[2019-12-06 17:46] Anakeyn commented on #18689
I compiled a Tensorflow 2.0 version running with old CPUs not compatible with AVX instructions nor SSE. See here on my Github : https://github.com/Anakeyn/Tensorflow2.0ForOldComputers.
Rem : this is a Linux version !!! But i tested under Windows 10 WSL Ubuntu 18.04 LTS on a Lenovo PR-G700 with Intel Celeron CPU 1000M 1,80 Ghz (2013 CPU) and directly under Linux Ubuntu 18.04.3 LTS on an HP Pavillon

[2019-12-06 17:56] johnpjust commented on #34786
@oanush I'm not familiar with this gist your are referring to, but I have checked this on two different machines, using both Linux and Windows, and with TF2.0 and TF1.13, so i know the issue persists.  If you have a way to watch your GPU memory growth, then please use that and you will see what I'm talking about.  I use "nvidia-smi  -l 2".

[2019-12-06 17:58] Ivangelion commented on #33378
I am also having this issue but cannot find a way to solve it. Has anyone had this problem solved?

[2019-12-06 18:05] iganichev commented on #24684
Here is an option to request XLA compilation of tf.functions:
https://github.com/tensorflow/tensorflow/blob/e3b2203323c578cc9a3e1a5bca51d00c050cb18e/tensorflow/python/eager/def_function.py#L977

There is a bit more documentation here:
https://github.com/tensorflow/tensorflow/blob/e3b2203323c578cc9a3e1a5bca51d00c050cb18e/tensorflow/python/eager/def_function.py#L344

[2019-12-06 18:05] #24684 closed

[2019-12-06 18:11] Supachan opened #34912 "AssertionError: Could not compute output Tensor"
I am trying to use functional API to build an encoder-decoder model for grammatical error correction. Given incorrect sentences (x) and correct sentences (y):

[code]
The error shows `AssertionError: Could not compute output Tensor("cor_gru_l1_28/Identity:0", shape=(1000, None, 100), dtype=float32)`

How can I fix it? Please let me know. Thank you in advance

[2019-12-06 18:15] christosiraklis commented on #33378
Try installing older versions of keras and tensorflow or go with Google Colab.

[2019-12-06 18:21] sbushmanov commented on #34191
Finally successfully built tf 2.1.0 rc0 with CUDA 10.2, Bazel 0.29.1 and
https://github.com/tensorflow/tensorflow/issues/34429#issuecomment-557408498

[code]

[2019-12-06 18:24] mihaimaruseac commented on #34742
I won't be able to look into this until ~20th December. But will investigate

[2019-12-06 18:24] mihaimaruseac commented on #34742
Though, do you have a minimal reproducer?

[2019-12-06 18:26] leofang commented on #29039
Redirecting the discussion on supporting non-default streams in `__cuda_array_interface__` to numba/numba#4933.

[2019-12-06 18:38] johnpjust commented on #34786
@oanush  Note that I've found a way around this issue by only using the timedistributedlayer once.  For this i just create the CNN model separately and then do a sequential model with the first layer being a timedistributedlayer using the CNN as input.

[2019-12-06 19:00] Jingciii commented on #30191
I also fixed it by simply running
[code]
I think this avoids other unwanted upgrades by conda

[2019-12-06 19:08] gowthamkpr commented on #34871
@hermannsblum Thats an expected behavior of numpy. Please refer to the following [question](https://stackoverflow.com/questions/16037824/how-to-convert-numpy-object-array-into-str-unicode-array) for more details.

[2019-12-06 19:08] #34871 closed

[2019-12-06 19:22] martinwicke commented on #34859
Is there any reason not to use tf.keras.optimizers.Adam?

[2019-12-06 19:23] jsimsa commented on #34904
`group_by_window` does not iterate through the entire dataset before outputing something. It iterates through enough of the dataset for one of the windows to reach `window_size`. The following example illustrates that:

[code]

produces the following output:

[code]

[2019-12-06 19:24] Ivangelion commented on #33378
I managed to solved this problem: just following [this post](https://towardsdatascience.com/tensorflow-gpu-installation-made-easy-use-conda-instead-of-pip-52e5249374bc), i.e., creating a new environment with tensorflow-gpu 2.0 support, activating it, and installing all necessary packages (e.g. keras, scikit-learn, etc), will do the trick.

`conda create --name tf_gpu tensorflow-gpu `
`activate tf_

[2019-12-06 20:11] kpe commented on #34904
@jsimsa - thank you, for the clarification! In a sense the `window_size`  refers to the size of the output.
In my case above the `window_size` is bigger than any of the grouped features, therefore `group_by_window` would wait until the end of the iterator before outputting an incomplete window (i.e. in a sense all outputs are the last window which is of size less then `window_size`, and could be r

[2019-12-06 20:14] sharvil commented on #34859
The primary reason, for us, is that Keras' optimizers throw on missing gradients instead of returning None.

It's often the case that we have multiple losses in a model. Not all variables are connected to all losses in the graph. Computing the set of variables that are connected to each loss function a priori is somewhat onerous, so we let TF do it for us. We compute the gradients of each loss wit

[2019-12-06 20:30] saberkun commented on #34859
optimizer.iterations is the global_step for each optimizer.

The apply_gradients for v2 optimizer (TF2) should just print a warning for variables without gradients. See: https://github.com/tensorflow/models/blob/master/official/modeling/model_training_utils.py#L258
I indeed have some variables that are not connected to loss inside bert.

minimize() will throw an error if there is None.

[2019-12-06 20:39] limjingrong commented on #34808
@byronyi Thanks for the suggestion! I ran the benchmarks from the branch cnn_tf_v1.12_compatible with
`python3 benchmarks/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py \
  --ps_hosts=192.168.9.20:1236 \
  --worker_hosts=192.168.9.18:1234 \
  --job_name=worker \
  --task_index=0 \
  --server_protocol=grpc+verbs \
  --variable_update=parameter_server \
  --local_parameter_device=cpu \
  --model=res

[2019-12-06 20:50] sharvil commented on #34859
@saberkun thanks for the tip on optimizer.iterations.

The exception is thrown when computing gradients, not when applying them. You're right that `apply_gradients` is just fine, but `tf.keras.optimizers.Adam.get_gradients` will throw. That's not the case for gradients computed through `tf.train.*Optimizer.compute_gradients`.

[2019-12-06 21:10] 00krishna commented on #34849
Let me just confirm this first. I was getting this error just yesterday so let me make sure there is nothing different.

[2019-12-06 21:11] jvishnuvardhan commented on #34857
@JoelTsui Do you have any model that you want to convert? There is a [`new expeimental_new_converter`](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/examples/experimental_new_converter) that you could try.

Please let us know more details and a standalone code to reproduce the issue. Thanks!

[2019-12-06 21:13] mariusjohan commented on #34724
Sorry for taking so long, I've been really busy in school so I could not find any time. But here I am!

For some reason i could not run the gist, but i copy-pasted the code into my terminal and for some reason it worked there even with at 2d tensor.

Sorry for wasting your time :) But it doesnt work in own project for some reason. But i think i can solve it myself.

[2019-12-06 21:13] #34724 closed

[2019-12-06 21:15] mckinziebrandon commented on #28018
@medphysicsliv that makes things run without crashing, yes, but it results in none of my evaluation hooks seemingly doing anything in the multi-node setting. Is there any working way to get multi-worker evaluation hooks currently?

[2019-12-06 21:23] jvishnuvardhan commented on #34868
@YAIsaienkov Can you please share standalone code to reproduce the issue? Thanks!

[2019-12-06 21:31] ymodak commented on #34375
Is this still an issue?

[2019-12-06 21:32] jvishnuvardhan commented on #33868
@mjlbach Can you please provide the details @guptapriya is asking?
Please close the issue If the issue was already resolved. Thanks!

[2019-12-06 21:32] ringdk commented on #16291
+1 I’m seeing this on version 1.15.0, on Windows / CUDA 10, as well as a host of other issues. I don’t think tensorflow_cc.lib / .dll works at all ‘out of the box’. I’ve yet to see a working example building against the shared lib.

[2019-12-06 21:33] jjedele commented on #32912
Also seeing this issue. For me it's happening with a FixedSizeRecordDataset with an explicit reshape at the end:

[code]

.fit_generator() works.

[2019-12-06 21:33] alextp commented on #34846
@sanjoy As far as the C API is concerned we only need to add a way of creating a TFE_TensorHandle with a non-host-memory pointer, which is not hard.

Any drawbacks we should be wary of? Allocators / streams / etc?

[2019-12-06 21:35] jaingaurav commented on #33168
`tf.config.experimental.set_visible_devices([], 'GPU')` seems to work for me. What does the output of `tf.config.experimental.list_logical_devices()` return? If you are seeing a GPU there, then the visible devices configuration did not properly apply.

[2019-12-06 21:35] jsimsa commented on #34904
Assuming your ids are consecutive, you could do this with `scan` as follows:

[code]

which produces:

[code]

Note that you need to add a "sentinel" value to the end of your dataset to make sure the last batch is emitted.

[2019-12-06 21:40] ymodak commented on #34317
Apologies for the delay in response.
Perhaps ```tf.data.Dataset.interleave``` from ```tf.data``` API can be used in this case to perform data extraction in parallel.
See https://www.tensorflow.org/api_docs/python/tf/data/Dataset#interleave

[2019-12-06 21:44] #33848 closed

[2019-12-06 21:49] kpe commented on #34904
@jsimsa - wow, you are the one! I very much appreciate your help! This seems to be what I'm looking for! You saved my day, really! Thank you!

[2019-12-06 21:49] #34904 closed

[2019-12-06 21:49] jaingaurav commented on #33168
Actually hold on, I was using a different build. It seems like memory is still being used even if no visible devices are being set.

[2019-12-06 21:50] sanjoy commented on #34846
The memory can only be safely used after the GPU has caught up to the current tip of the compute stream.  The users can ensure this by enqueuing kernels that use the memory onto the compute stream or by adding an event to the compute stream and making kernels that want to use the memory dependent on that event.

[2019-12-06 21:54] saberkun commented on #34859
Yes, we have reported this difference. @tanzhenyu
It is very common that variables without gradients and users may not want to take extra effort to organize which loss should take which set of trainable variables.

tf.train.*Optimizer does not work because distribution strategy takes a different way to handle cross-replica sum internally. To correctly use TPU, you need CrossSharedOptimizer, but it

[2019-12-06 21:58] alextp commented on #34846
But we don't expose TF's compute streams anywhere in the API. So if I
understand it correctly we should require that users sync their compute
stream before handing us a pointer, but otherwise do nothing?

Can we tie the lifetime of the pointer given to us by the user with the
lifetime of the tensor? Or will this break things because the pointer is
(likely) managed by cudamalloc while ours is manag

[2019-12-06 22:07] impjdi commented on #34873
I don't get a segfault but this instead:

[code]

Is your network well-formed?  Tensor shapes are quite strict in the GPU runtime.  Even if TFLite runs it fine on CPU because elements are contiguous in memory, TFLite GPU can fail.

[2019-12-06 22:10] gowthamkpr commented on #34443
@ClementWalter Heres the reason. If the loss function is not defined, then the out put of this function `_prepare_skip_target_masks` will be skipped during total loss calculation and feed targets
    preparation as shown [here](https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/keras/engine/training.py#L1655).

And the model loss and weighted m

[2019-12-06 22:25] impjdi commented on #33511
Oh, did you forget to call `interpreter.modifyGraphWithDelegate`?

[2019-12-06 22:32] impjdi commented on #34814
can you share the model and the way you initialize & invoke the interpreter?

[2019-12-06 22:35] alextp commented on #34908
@k-w-w as far as I can tell those module-visible variables should be correctly handled by savedmodel. Do you know what is going on here?

[2019-12-06 22:41] ymodak commented on #34888
You may try limiting your gpu memory usage with ```set_memory_growth``` option.
See https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth
Put the following snippet on top of your code and execute again
[code]

[2019-12-06 22:54] jvishnuvardhan commented on #34677
@bard1988 Just a quick question to understand more details about your issue.
1. what is your objective? Do you want to make several model graphs or want to update same graph with different parameters?
2. What is your use case?

Looks like you are making many model graphs which is why it increases number of objects every iteration. Thanks!

[2019-12-06 22:54] av8ramit commented on #34707
I know we changed TensorFlow 2.0 official to be [manylinux2010](https://www.python.org/dev/peps/pep-0571/) compliant between beta and official which requires an updated pip. Could that potentially be the issue?

There is definitely a [Python3.7 binary](https://pypi.org/project/tensorflow/#files) for tensorflow==2.0.0.

[2019-12-06 23:00] angerson commented on #34726
Thanks to some insight from RE2 and Absl folks, I think I can explain more about these. The RE2 `abseil` branch is patched to use Abseil, or specifically:

Since Abseil is normally used at head (LTS releases for Abseil are only tagged twice per year, and Abseil is currently difficult to package partly because of that), the RE2 `abseil` branch has followed suit and is not frequently tagged.

For wh

[2019-12-06 23:05] chaaland commented on #34103
Closing since I ended up having to abandon this approach as it doesn't seem possible to use the FillPhiloxRandom function inside a contrib module without reimplementing the algorithm. Ended up using random uniform capabilities in array_ops to pass a random tensor directly into my op

[2019-12-06 23:05] #34103 closed

[2019-12-06 23:17] jvishnuvardhan commented on #33751
@sxsheng Can you please simple standalone code to reproduce the issue. The current code is too long to find root-cause within the time limitations. Thanks!

[2019-12-06 23:18] chaaland commented on #34171
Additionally, I also think these kernels have some slowness due to not accessing coalesced memory. The kernel launch indicates `batch_size` is being thought of as the x dimension (cartesian) when it is actually the row dimension of the matrix (CUDA uses image notation rather than matrix notation.

Looking at the (definition of the cid variable)[https://github.com/tensorflow/tensorflow/blob/722b96b

[2019-12-06 23:21] impjdi commented on #33605
I don't see anything wrong with the initialization.  Then, I would put a lot of print statements here and there:

[code]

does your stuff run on CPU?

[2019-12-06 23:24] jvishnuvardhan commented on #34068
@durandg12 As of now https://github.com/tensorflow/tensorflow/pull/33229 was approved but not merged. Once it is merged, you can use `tf-nightly` to test it. Thanks!

[2019-12-06 23:35] ymodak commented on #34872
@rezaprince What version of TF are you installing? Does your CPU support AVX instruction sets?

[2019-12-06 23:38] jaingaurav commented on #33168
We were able to confirm that a small amount of memory is being used by XLA. We're working on a fix now.

[2019-12-07 00:00] alexbooth commented on #33837
Any updates?

[2019-12-07 00:11] StanleyGan commented on #29064
I have a follow up question on this. What if we want to write a custom second derivative (instead of a custom gradient). The second gradient as the author mentioned, row-wise sum of the Hessian. I will have to address all partial derivatives and it's not clear at all in the documentation how this can be done.

[2019-12-07 00:12] gowthamkpr commented on #34854
Deprecation messages are needed to inform people who want to use an actual version of TensorFlow what is going to happen in the future, and give them time to adapt.
This belongs to level `WARN = 30`

[2019-12-07 00:21] njeffrie commented on #30314
We have landed int8 reference kernels for conv, depthwise_conv, fully_connected and several other ops.  Thanks for your feedback and please feel free to re-open if you are still running into any issues.

[2019-12-07 00:21] #30314 closed

[2019-12-07 00:50] sharvil commented on #34859
I suppose we could use `GradientTape` to compute gradients instead of the optimizer's methods. It's less convenient, and more work on our part to switch everything over but it will work in general. Thanks for the suggestion.

Going back to the original bug report, it's still the case that `AdamOptimizer` can't be used with custom TPU training loops whereas other `tf.train.*Optimizer` classes can.

[2019-12-07 00:56] perfinion commented on #34726
okay thats what i suspected was happening but thanks for confirming everything. :) I'd really like some more announcements directly from re2 / absl people tho instead of second-hand here. In the mean time I can bundle re2 when packaging TF on gentoo and then when things are packagable i''ll work with the maintainers of re2 on gentoo and change things over.

Another part of using absl is that re2 s

[2019-12-07 01:08] qiuminxu commented on #34844
I can reproduce the issue @eduardo4jesus mentioned using the gist.
Jose, do you know if this relates to the recent changes in profiling interface?

[2019-12-07 01:44] phamyphen commented on #24121
How do you get float tflite model by setting"--drop_fake_quant=true". I still see lots of FakeQuant models even I setting this option to toco command. Could you provide more detail on how do you convert it back to floating model from fixed point model?

[2019-12-07 02:11] Feri73 opened #34920 "Unrolled LSTM terrible performance when tf.function is used"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Windows 10
- TensorFlow installed from : binary
- TensorFlow version : 2.0
- Python version: 3.6.9
- CUDA/cuDNN version: no CUDA
- GPU model and memory: no GPU

Well I thought I knew what tf.function does, but these two pieces of code confused me:

This does not use tf.function:
[code]

While this does:
[code]

[2019-12-07 02:37] sanjoy commented on #34846
When the refcount for the `TensorBuffer` falls to zero then we know that all uses of the buffer have been enqueued to the compute stream.  So I think at that point the owner of the tensor data can wait till the GPU has caught up with the compute stream and then `cudaFree` the buffer.

[2019-12-07 05:19] Akoopie commented on #28846
@JerichoHy I created a new conda environment with `tensorflow==2.0.0-rc1` installed but still get the same error.

'OverflowError: Python int too large to convert to C long'
followed by traceback down to

'~\Miniconda3\lib\site-packages\tensorflow_core\python\ops\gen_sparse_ops.py in sparse_cross(indices, values, shapes, dense_inputs, hashed_output, num_buckets, hash_key, out_type, internal_type,

[2019-12-07 05:29] mlinxiang commented on #34814
when use c++ to run tflite model<both c++ and python are tensorflow 2.1>, system has't any information or error message output, tflite::StderrReporter is not used for tflite system to output error information. so are there any way to output system error information like model load failed info, invoke error info, and any thing else.

i used tensorflow/lite/tools/make scripts to compiled static libr

[2019-12-07 05:34] wolterlw commented on #22409
same error with float32
```ValueError: Cannot set tensor: Got tensor of type 5 but expected type 1 for input 0```
strangely when I set a non-converted numpy array it only starts to bark when I invoke the interpreter

[2019-12-07 06:12] jefflgaol commented on #24496
This one works! Thank you guys!
[code]

[2019-12-07 06:17] UGLYclown999 commented on #23683
its a kindof brute force approach but works for me everytime
try:
    import tensorflow_core
except:
    ImportError

import tensorflow as tf

[2019-12-07 06:47] linyongye commented on #34489
@mlinxiang Hi, I also want to build tensorflow lite static library, but fail, can you share your steps how to build tendorflow lite ".a" static library ?

[2019-12-07 06:50] nandinib1999 commented on #33442
Has anyone been able to find a workaround?

[2019-12-07 06:58] Squadrick commented on #34890
@oanush My issue is more to do with the incorrect documentation. I eventually figured out how to run the model, but the documentation is completely wrong.

[2019-12-07 07:01] nikochiko commented on #33856
The PR has been merged. This issue can be closed. @jvishnuvardhan @durandg12

[2019-12-07 07:40] HsinJhao opened #34921 "Cann't transform TF.EagerTensor to python datatype in map_fun"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2019-12-07 07:43] gunan commented on #34726
@sanjoy is it feasible for TF to depend on LTS version of absl?
It means updating it only twice a year.

[2019-12-07 07:53] JinluZhang1126 commented on #25807
I found this issue too,and you can just install `cudatoolkit` using conda, and version is same as the message system report, my error message is:dlerror: cudart64_100.dll not found
So I use: `conda install cudatollkit==10.0` to fix it.

[2019-12-07 08:08] sarthakforwet commented on #34760
Theano and Tensorflow both are used  in this particular repo and some functions I found in theano for whom any equivalent was unable to be found out in tensorflow.

Secondly , even if I use **Tensorflow-1.15** , same issue persists and if I change the code from original one to mentioned below i am getting new error i.e

**ValueError: Input size (depth of inputs) must be accessible via shape infere

[2019-12-07 09:19] mixxen commented on #34355
I was having this issue when running with TensorFlow v1.15, CUDA 10.0.130,  CUDNN 7.6.0.64 in eager mode. Adding ```allow_growth``` as @acseckin suggested fixed the problem.

[2019-12-07 10:32] dubesar commented on #34921
@HsinJhao  can you link a colab example or a gist?

[2019-12-07 10:33] j-o-d-o opened #34922 "Tensorflow Lite does not include GPU"
**System information**
- OS Platform and Distribution: Linux Mint 19
- TensorFlow installed from (source or binary): source
- TensorFlow version: current master (094da7eaa9d802ee676170f2df58ded528da52d9)
- Installed using: make (as shown here: https://www.tensorflow.org/lite/guide/build_arm64)
- GCC/Compiler version (if compiling from source): gcc 7.4.0
- CUDA/cuDNN version: V9.1.85
- GPU model an

[2019-12-07 10:53] refraction-ray commented on #7128
QR is still very slow using intel optimized tf2.0 from anaconda. QR calls don't use mkl routine (shown by set `export MKL_VERBOSE=1`), for float64 random uniform matrix with size 4096 * 4096, the time in mkl linked numpy and tf2.0 cpu is 2.35s vs 28.5s on 2*Xeon 5120 CPU. tf QR  (Eigen implementation) is more than 10 times slower than mkl.
Actually the PR enabling MKL for QR op is reverted in http

[2019-12-07 11:46] koodzi commented on #34642
Hi,
We have the same problem, and also with tflite GPU on Android.
1. Difference between "checkpoint model" and tflite inferences on a workstation
2. Complete difference between tflite CPU and GPU inferences on Android phone (Google Pixel2, Android 9)

We managed to run our model using OpenCL and we use inverse convolution.

TF version: nightly (OpenCL), 1.15 (OpenGL), 1.13 just CPU
TFLite compile

[2019-12-07 11:49] refraction-ray opened #34924 "Support EIGEN_USE_MKL_ALL macro for building tensorflow"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tf1.14, tf2.0
- Are you willing to contribute it (Yes/No):

[2019-12-07 11:58] chpohl opened #34925 "sparse_matrix_sparse_matmul gives wrong result when run on GPU"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-12-07 12:24] #27679 closed

[2019-12-07 12:24] tensorflowbutler commented on #27679
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-12-07 12:24] tensorflowbutler commented on #34479
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-07 12:38] TheArheus opened #34926 "tensorflow lite build issue on Windows"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows-10-10.0.18362-SP0
- TensorFlow installed from (source or binary):
- TensorFlow version: 2.0.0
- Python version: 3.6.8
- Bazel version (if compiling from source): 1.1.0
- GCC/Compiler version (if compiling from source): 8.1.0

**Describe the problem**

I was trying to build tensorflow lite from source with `ba

[2019-12-07 13:36] wzzhu opened #34927 "Bad example in Sparse_Categorical_CrossEntropy"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/keras/losses.py#L493

## Description of issue (what needs changing):

The example will cause errors:

cce = tf.keras.losses.SparseCategoricalCrossentropy()
loss = cce(
  [0, 1, 2],
  [[.9, .05, .05], [.5,

[2019-12-07 13:54] zxgm opened #34928 "Tensorflow 1.14.0 and python3.6.9 compatibility issues？"
when I write `import tensorflow as tf`,the tensorflow version is 1.14.0,and python version is 3.6.9,the result show exception:
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/p

[2019-12-07 14:19] HsinJhao commented on #34921
@dubesar Thank your reply! Sorry i don't have a colab example or a gist, but it didn't have much code so i add that to the issue comment.
I am noticed that we can't use .numpy method during eager execution,so I do try some tf built-in function to load .mat file,but it failed.
There is some example or thought I've tried(or not know how to implement):
1. Using .numpy() method-->Not Work during eager

[2019-12-07 14:31] RockOrSomething commented on #33442
Project is on pause for me - catching up in other areas until the new year.

On Sat, Dec 7, 2019 at 12:50 AM Nandini Bansal <notifications@github.com>
wrote:

[2019-12-07 14:34] nikochiko commented on #33856
The docs have been updated. Changes are already visible in rc 2.1 API docs: https://www.tensorflow.org/versions/r2.1/api_docs/python/tf/keras/Model#save
This issue can be closed. @jvishnuvardhan @durandg12

[2019-12-07 14:48] XueCangQiuYe opened #34929 "Distributed training not working properly when i got 1 ps 2 ro more workers"
tf 1.15  python 3.7.2
Hello,
When I am running simple distributed demo with 1 ps, 2 workers.
the worker 2 can stop properly, but the chef worker can't stop properly, here is error from chef worker 'RuntimeError: Run called even after should_stop requested.'

here is my code,

import tensorflow as tf
from absl import app as absl_app
from absl import flags
import numpy as np

tf.logging.set_verbosit

[2019-12-07 15:35] R0b4 commented on #34722
Apparently alexander was right. The problem was the name, so this begs the question why can't i name my script "code.py"?

[2019-12-07 15:52] #33856 closed

[2019-12-07 15:55] alexander-travov commented on #34722
@R0b4 Both csv.py and code.py are modules from python standard library. Placing modules with the same names in current working directory messes tensorflow importing.

[2019-12-07 17:37] hoangcuong2011 opened #34931 "TensorFlow broadcasting results in error of Incompatible shapes"
Greetings,

Another day, another potentially "deep" bug with TF I found! :-)

I have three tensors: A, B, C. Here A is of shape (None, 64, 64), B is of shape: (None, 64) and C is of shape (None, 64). What I wanted to do is to have an element-wise multiplication followed by an element-wise addition.

Thanks to TF broadcasting, the code I needed to write is simply:

A * B + C

With this, the output

[2019-12-07 17:49] sitting-duck commented on #30647
@sheirving  are you able to fix your problem using this guide?
I wrote down my solution here: https://github.com/sitting-duck/stuff/tree/master/ai/tensorflow/build_tensorflow_1.14_source_for_Windows

I try to clear my inbox every day. You can contact me at ashley.tharp@gmail.com if you need help using the guide.

[2019-12-07 20:07] erksch commented on #34291
Having the same error, did you manage to solve it?

[2019-12-07 20:39] shahad-bit commented on #34607
I am facing the same issue when running my flask app in a docker container.

[2019-12-07 21:14] cirick commented on #34888
I had this same issue. For me it was a mismatch in the cudnn toolkit version. If you scroll to the top above the traceback you might see something like `Loaded runtime CuDNN library: 7.5.1 but source was compiled with: 7.6.0`.

So you need to make sure your CuDNN install is >7.6 which must be what TF2.0 needs.
This gets you the PPA's and apt install commands to get 7.6: https://www.tensorflow.org/

[2019-12-07 22:13] MikeOfZen opened #34932 "Severe TPU/CPU behaviour discrepency"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):No
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:No
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.1.0-dev20191203
- Python

[2019-12-07 22:38] MayhemGang opened #34933 "Gast 0.2.2 working, 0.3.3 not working"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, but tested for both
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Conda
- TensorFlow version (use command

[2019-12-07 23:51] olimexsmart commented on #17411
I don't have the knowledge to say if the requirement of AVX makes sense or not. What I know is that the problem presents itself not only with older CPUs, but also with fairly recent ones, like mine Intel N5000. I get that doing deep learning on a N5000 is a bit of a stretch, but if the tensorflow is supported also by the RaspberryPi, I don't see the problem.

Anyway, I installed the last version o

[2019-12-08 00:15] MayhemGang commented on #34933
training still seems to hang even using gast 0.2.2. This was momentarily fixed.

[2019-12-08 00:16] byronyi commented on #34932
I’m told that this issue will be resolved in a recent release of TF TPU runtime, probably next week.

Get in touch with your GCP solution or technical support team to confirm.

[2019-12-08 00:23] MikeOfZen commented on #34932
Thank you for the update!
As for myself, I can get by with using the aforementioned solution of initiating connection before imports.
But its good to know that a formal fix is coming soon.
Best regards.

[2019-12-08 00:57] paulbors commented on #33108
Also see:
https://forums.gentoo.org/viewtopic-t-1104292.html

The version of Bazel that Tensorflow requires is not AMD64 stable as per:
https://packages.gentoo.org/packages/dev-util/bazel

Bug report around Bazel:
https://bugs.gentoo.org/buglist.cgi?quicksearch=bazel

[2019-12-08 01:00] SamuelMarks commented on #28148
Try using [`tf.compat.v1.data.get_output_shapes`](https://www.tensorflow.org/api_docs/python/tf/compat/v1/data/get_output_shapes)

[2019-12-08 02:02] clived2 commented on #17411
Thanks for your response, Luca. I have a really old Ubuntu 18.04 desktop
which works really well except in running the TF2 and as a matter of fact,
the latest PyTorch (1.3.0) I think.
Torch 1.1.0 works fine for me, and regarding TF2, I use Google Colab which
works fine. Am a retired data analyst and maintaining my hobbyist profile

Thans for your post

On Sat, Dec 7, 2019 at 6:52 PM Luca Olivieri

[2019-12-08 02:27] luvneries commented on #14381
Can we pass batched features from dataset iteration into GBT estimator for prediction instead input_fn?

[2019-12-08 03:21] byronyi commented on #34932
Sorry I did not take a closer look; your problem seems a different one. Btw I’m not related to Google so take my advice at your discretion.

[2019-12-08 04:28] alldefector commented on #23687
This still fails (`scatter_add`) in the latest v2.0. It's been more than half a year... Has anyone tried to fix it?

[2019-12-08 04:35] alldefector commented on #33148
I can reproduce that `mask_zeros=True` is causing the crash. Doesn't matter if eager is on or off, with or without callbacks.

LSTM on a masked sequence is extremely common in NLP models, so this is a major bug in terms of impact.

[2019-12-08 04:53] saberkun commented on #34932
To my knowledge, strategy = tf.distribute.experimental.TPUStrategy(resolver) will help you get into the correct device scope because TPU is always the remote client.
@rxsang as expert on this.
Probably need creating a TPUStrategy at the beginning.

[2019-12-08 04:53] akalakheti opened #34935 "Tutorial for Data Augmentation using tf.image"
Hi, my name is Rachin Kalakheti and i am a participant of Google Code-in 2019. I felt overwhelmed to know Tensorflow is also one of the organization for this year. So, there was a task to create a notebook tutorial on Data Augmentation using tf.image. I see that currently there is no tutorial regarding the same topic. So, I would like to contribute to the community by adding my tutorial to the  Te

[2019-12-08 04:55] JushBJJ commented on #34558
Update:
This issue is is present in Linux as well, though except it says "invaild instruction", even tested on python. The solution is compiling tensorflow, though I cant be 100% sure because i haven't finished compiling yet, its been 2 days with RAM Usage Issues but dont mind that. If successful with Linux when installed for my CPU I will attempt to try to compile a DLL and lib for Windows and se

[2019-12-08 05:44] whaozl commented on #29997
thank you, I had solved this problem. and cudnn had installed originally.

[2019-12-08 06:14] dubesar commented on #34921
@HsinJhao Actually I got why are you getting the error in loading the ```tf.io.read_file```  as you have not defined the session after reading the file:
Take this for example:
[code]

You can do this to remove the error. I am pretty much sure this will remove the error.

[2019-12-08 06:24] dubesar commented on #34935
@akalakheti  Does this task is included in GCI 2019. Note that you get points for tasks included in the portal. Confirm this before doing this.

[2019-12-08 06:50] johnpjust commented on #34778
@ravikyram  Thanks -- after more examination I found it's not an interaction with the tape.gradient, but isolated to VRAM (GPU) memory leaks in two separate functions in TF (timedistributedlayer & tf.signal.frame).  I'm closing this and focusing on a separate thread.  Thanks.

[2019-12-08 06:50] #34778 closed

[2019-12-08 06:55] johnpjust commented on #34786
@oanush  OK so I've been messing with this some more, and there is definitely a VRAM (GPU) memory leak associated with tf.signal.frame that interacts with the model.  Simply exchanging it with an itertools function eliminates the issue...

[code]

[2019-12-08 07:16] HsinJhao commented on #34921
@dubesar Thanks your reply!
I'm confused about using tf.image.decode_jpeg function to decode .mat file.The error message in my last reply is about using .eval() method of TF.EagerTensor to transform the datatype to string,not about tf.io.read_file.

Maybe what I said is not clear enough.

**My file is not images but time series and the length of time series is uncertain, but i am sure that one .ma

[2019-12-08 07:23] feature-engineer opened #34936 "Train time per sample grows with dataset tensor size, even though it is always cropped to the same size"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-12-08 07:33] akalakheti commented on #34935
Yes, this task is included in GCI 2019 and I have completed this task.

[2019-12-08 07:33] VSGD opened #34937 "ZeroDivisionError: integer division or modulo by zero"
I am using Ubuntu 17.10 and python 2.7
Trained the neural network and now trying to predict the unknown data using predict.py but getting an error as stated below:
Traceback (most recent call last):
File "predict.py", line 68, in <module>
    main(dataset_npz_filepath, result_csv_filepath)
  File "predict.py", line 36, in main
    for output, pfd_filepath in zip(output_generator, pfd_filepaths):

[2019-12-08 08:03] #34928 closed

[2019-12-08 09:04] lijinjiang001 opened #34938 "Error when adding tensorflow op with cmake using c ++ 17"
Error when adding tensorflow op with cmake using c ++ 17，how do I set tensorflow to support c ++ 17?

tensorflow.python.framework.errors_impl.NotFoundError: /home/user/Desktop/sum_each_op/lib/libsum_op.so: undefined symbol: _ZN10tensorflow14kernel_factory17OpKernelRegistrar12InitInternalEPKNS_9KernelDefESt17basic_string_viewIcSt11char_traitsIcEESt10unique_ptrINS0_15OpKernelFactoryESt14default_dele

[2019-12-08 09:36] Mike575 commented on #34787
How to change tensorflow.python.framework.ops.Tensor into numpy?

[2019-12-08 09:38] 1Warcraft opened #34939 "Title"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-12-08 09:39] jchia commented on #20273
@robieta Which 2.0 RNN classes have the automatic CuDNN selection?

[2019-12-08 10:06] CaptainTrojan opened #34940 "Autograph issues with TF documented examples"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)** No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux 5.4.2-arch1-1 x86_64
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 2.0.0
- **Python version**: 3.8.0
- **Bazel version (if compiling from so

[2019-12-08 10:28] ironbar commented on #31231
Try returning tuples instead of lists.

[code]

[2019-12-08 10:34] #24803 closed

[2019-12-08 10:43] viswanath27 commented on #34888
Hi Modak & Irick,

Thank you for providing quick help on the issue I am facing.

@ymodak , I tried to use the `set_memory_growth` but the issue is still persisting.

@cirick , I have checked the cuda versions with the help of `source switch-cuda.sh` and `source switch-cuda.sh 9.0` commands.

Error is not solved but changed though.

Results for `source switch-cuda.sh` is below
`$ source switch-cuda

[2019-12-08 11:00] viswanath27 commented on #34888
Hi Guys,

Also posting details of the Nvidia driver and CUDA version details
`vissu@vissu-Z390-M:~/graphics_card$ nvidia-smi`
`Sun Dec  8 16:15:58 2019       `
`+-----------------------------------------------------------------------------+`
`| NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    CUDA Version: 10.2     |`
`|-------------------------------+----------------------+-------------------

[2019-12-08 12:10] Athul8raj commented on #34787
You have to explicitly declare as EagerMode to run it eagerly
tf.config.experimental_run_functions_eagerly(True).

Please note that there will be significant performance hits when this is set to true. This is suggested only in cases like debugging etc.
Even after decorating the __call__ method of  MyDenseLayer with tf.function. there is only slight performance gain.
Please find the gist here https

[2019-12-08 12:13] JoelTsui commented on #34857
The problem is not about "convert", but about adding `TFLite_Detection_Postprocess` op when converting

[2019-12-08 12:21] #31245 closed

[2019-12-08 12:21] #31945 closed

[2019-12-08 12:22] tensorflowbutler commented on #31245
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-12-08 12:22] tensorflowbutler commented on #31945
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-12-08 12:32] #34865 closed

[2019-12-08 12:59] osheenn commented on #31115
Hey, i am really excited for this. When is it going to happen?

[2019-12-08 13:54] swghosh commented on #34859
I am working with TensorFlow r1.15 and am able to reproduce the same issue.
The custom TPU training loop works only with tf.train.GradientDescentOptimizer but not with any other optimizer.

Also, tf.keras.optimizers.Adam, RMSprop, Adagrad, etc. reports the same error!

[2019-12-08 14:17] maziyarpanahi commented on #34714
I appreciate your help @angerson! Please let me know if you need more info or any test you need me to do.

[2019-12-08 14:55] salamanderrake commented on #29042
That is sad and short sighted on the part of the developers, why support Bazel only, and not the widely used CMake?

[2019-12-08 14:56] hoangcuong2011 commented on #27010
@erikchwang: My notes here might help you understand masking better https://github.com/keras-team/keras/issues/3086#issuecomment-559690497

[2019-12-08 15:03] Mithrandir2k18 commented on #34291
Not yet. See also: https://www.reddit.com/r/archlinux/comments/e2e5s8/error_compiling_tensorflow_20/?utm_source=share&utm_medium=web2x

[2019-12-08 15:16] mayou36 commented on #23973
Hey, I would be very interested to have a working optimizer interface with eager execution. What's the status of this so far?

[2019-12-08 15:41] ahtik commented on #34429
@alanpurple

Yes! Windows 10, grpcio==1.26.0rc1, Python 3.8 and Cuda 10.1 compiles and runs perfectly fine now without any tweaks with tensorflow v2.1.0-rc0.

It is worth mentioning that although tensorflow works now fine with Python 3.8, there are closely related projects like Hugging Face Transformers with it's own upstream and downstream dependencies waiting for the wheels.

The scope of this i

[2019-12-08 15:55] chahld commented on #34834
I am not using the Sequential Model. I discovered the problem while subclassing a layer where I needed to call tf.stop_gradient. [Note: Subclassing a layer does not require the input_shape parameter. In my example I'm calling the model on a tf.keras.Input which provides the appropriate input shape. Just to prove this to myself I've ammended the code in my original post, it still fails.]

TL;DNR: T

[2019-12-08 16:01] kindernerd opened #34942 "Memory leak with tf.shuffle, doesn't release buffer memory"
**System information**
- OS Platform and Distribution Linux Ubuntu 16.04
- Python: 2.7.17 |Anaconda, Inc.| (default, Oct 21 2019, 19:04:46) [GCC 7.3.0]
- Tensorflow: 1.12.0
- Numpy: 1.16.5
- GPU: GeForce RTX 2080 Ti
- CUDA: 9.2

**Describe the current behavior**
CPU memory gradually increase after each epoch until the program restarts, i suspect that dataset.shuffle doesn't release the buffer memo

[2019-12-08 16:11] ValYouW commented on #23747
@SanthoshRajendiran Thank you! It worked perfectly for me.
Just in case anyone else is interested, I had code that worked with the model from the ios samples: `deeplabv3_257_mv_gpu.tflite` and I wanted to have a model to run on a higher resolution image.
I downloaded the model `deeplabv3_mnv2_dm05_pascal_trainval` from Deeplab model zoo, and converted it to tflite using:
[code]
Then the same code

[2019-12-08 17:02] yongtang commented on #34927
@wzzhu I am not able to observe the error with the latest tf-nightly. Can you show the version of the tf you are using?

[2019-12-08 17:09] erikchwang commented on #27010
So, can you explain the following question?
[code]
Since the default mask value of Masking is zero, Softmax should skip all values in the above case, and its behavior should be like sparse softmax. Therefore, I suppose the output should be all zeros, but that is not the case.

[2019-12-08 17:12] hoangcuong2011 commented on #27010
@erikchwang: If you look at my second, third and fourth bullets in my comment, you will understand this. Yes - the output is not supposed to be zero all the time.

"- Masking is not that complicated if we understand how the loss is computed with masking. For instance let us assume we have a sequence with length 256. From this sequence we have a masking with only 4 elements that are with masking of

[2019-12-08 17:22] erikchwang commented on #27010
I did not find this relevant to my question. Please just explain why the outputs of Softmax are not full zeros when all the inputs are masked?
[code]

[2019-12-08 17:25] UdiBhaskar opened #34944 "SymbolicException: Inputs to eager execution function cannot be Keras symbolic tensors, but found [<tf.Tensor 'keras_learning_phase:0' shape=() dtype=bool>]"
Hi,
 I am writing Encoder-Decoder architecture with Bahdanau Attention using tf.keras with TensorFlow 2.0. Below is my code This is working with TensorFlow 1.15 but getting the error in 2.0. you can check the code in colab notebook [here](https://colab.research.google.com/drive/12Vq1t9xOtrPmXV2Sj_GSoE9bxH7FgaKs).
[code]
**Error**:
TypeError                                 Traceback (most recent ca

[2019-12-08 17:32] hoangcuong2011 commented on #27010
@erikchwang: Even if you mask, the softmax layer still treats everything as usual. For instance if you put this: [3.,1.,2.,2.,0.,0.] into the softmax, regardless of whether you do masking or not, the output is always:
array([[ 0.50744212,  0.06867483,  0.18667753,  0.18667753,  0.02526405, 0.02526405]])

What masking does is that it notifies the loss computing that do not take into account the "ne

[2019-12-08 19:05] gdudziuk commented on #33030
Unfortunately, it is not fully fixed for me in `2.1.0-rc0`. The memory usage for the code posted by @ipsec has greatly improved but it works almost 10x slower with `2.1.0-rc0` than with `1.1.14`. @rchao, should I post more details here or open a new issue?

[2019-12-08 19:07] Dexter2389 commented on #34539
If no one is working on it, I can take this task-up.

[2019-12-08 19:27] sanjoy commented on #34726
I suspect that won't be easy.  The google3 build of TensorFlow uses absl at head, and so folks will have problems where TF builds fine internally but breaks in open source (when they use a feature available at HEAD but not in the LTS version, for instance).

[2019-12-08 19:33] martinwicke commented on #34726
TF could not use features not available on the latest LTS. That's not hard
test or enforce. The bigger problem will be backwards incompatible changes,
and although I expect those to be exceedingly rare, absl is explicitly not
ruling them out.

[2019-12-08 19:59] sanjoy commented on #34726
Just so I understand: what are the problems with bundling re2 and absl with the TF gentoo package in perpetuity?  Is it mainly a resource usage (disk space etc.) concern or are there other issues?

Can this can be done in a way that `blaze test` fails when someone uses an absl feature that's not available in the latest LTS?  If not, then this will introduce another point of divergence between `bla

[2019-12-08 20:14] martinwicke commented on #34726
It's fundamentally the same process as we have for all other third party
libraries so I'm not concerned about that. If the LTS release is available
in addition to head it might be possible to test this without using open
source testing, but I don't think it is.

[2019-12-08 20:15] johnpjust commented on #34786
update:  further testing -- in addition to the above repeatable memory leak.   I've found using the above model and batch loader, and then a toy training loop below, that I'm still seeing the memory leak but it's much more delayed.  As it stands the model will train using about 9gb of VRAM up to incount =~8000 or so, after which it will jump up to to the max value of available VRAM (for me that's

[2019-12-08 20:19] shizukanaskytree opened #34946 "Does TensorFlow 2.x still need the bazel build option of --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" ?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2019-12-08 20:40] mjwatkins2 opened #34947 "polyval gives TypeError when run inside tf.function with Tensor coeffs, but not when run eagerly"
This is my first issue, so let me know if it is reported in the wrong place. Thanks!

**System information**
- Have I written custom code: Example Python code to reproduce provided below
- OS Platform and Distribution: Windows 10 Pro 1903
- TensorFlow installed from binary with pip
- TensorFlow version: 'v2.0.0-rc2-26-g64c3d382ca'; '2.0.0'
- Python version: 3.7.4

**Describe the current behavior**

[2019-12-08 20:45] sanjoy commented on #34575
You can start in the GPU kernel registration code for the [`Pack`](https://github.com/tensorflow/tensorflow/blob/b41fbcbf851bce1fcf462ad8f251756d9a6e166e/tensorflow/core/kernels/pack_op.cc#L158) and [`Unpack`](https://github.com/tensorflow/tensorflow/blob/b41fbcbf851bce1fcf462ad8f251756d9a6e166e/tensorflow/core/kernels/unpack_op.cc#L145) ops.  As a first step, maybe try adding `DT_COMPLEX64` and `

[2019-12-08 21:15] sanjoy commented on #34560
Looks like the error is from `tensorflow/contrib/verbs/rdma.cc`.  Unfortunately I'm not familiar with that codebase (and it no longer is in TensorFlow), probably @byronyi (the maintaner) can help?

[2019-12-08 21:21] mjwatkins2 commented on #34947
For whatever it's worth, if you use polyval inside a custom Keras layer then eager execution of polyval doesn't work either due to an OperatorNotAllowedInGraphError. I can also provide a simple example of this, but I'm not sure whether it merits a new issue.

[2019-12-08 21:21] sanjoy commented on #34428
@DEKHTIARJonathan can you share how you're building and/or using TensorFlow?  Are you building a TF pip package and using that?

[2019-12-08 21:24] sanjoy commented on #34392
Do you see the same problem when you train with just a CPU?

[2019-12-08 21:29] sanjoy commented on #33865
Can you be more specific?  Why do you think TF is using Eigen for convolutions?  [LaunchConv2DOp<GPUDevice, T>::operator()](https://github.com/tensorflow/tensorflow/blob/d95e97aef9bc589d9b2a08bfc806e3c5f48fcc90/tensorflow/core/kernels/conv_ops.cc#L647) is the main entry point into cuBLAS / cuDNN.

[2019-12-08 21:58] sanjoy commented on #32105
@ppwwyyxx, would you be willing to send a fix for this?  Probably the easiest thing to do is allow the user to pick something other than `CUDNN_CONVOLUTION_BWD_FILTER_ALGO_FFT_TILING` (if there is a safe choice) when `TF_CUDNN_USE_AUTOTUNE` is `0`.

[2019-12-08 22:10] Anamitr commented on #27819
Reproduced on Ubuntu 18.04, no such an issue.

[2019-12-08 22:17] Artem-B commented on #34428
Do I understand it correctly that you are attempting to use TF headers that are included along with a *python* package? I'm not sure if that's supposed to work in principle. Tensorflow in general requires  rather particular build setup in order to work. I would not expect any C++ bits to work/compile outside of that build environment. I could be wrong, though.
@sanjoy -- does TF provide precompile

[2019-12-09 00:23] byronyi commented on #34428
There is a custom-op template repo which implements the CUDA kernel using TF Python package; take look at [this](https://github.com/tensorflow/custom-op/blob/master/tensorflow_time_two/cc/kernels/time_two_kernels.cu.cc#L21).

If you are using Bazel, my guess is that the headers are linked via [this line](https://github.com/tensorflow/custom-op/blob/master/tensorflow_time_two/BUILD#L34). Alternativ

[2019-12-09 01:14] wzzhu commented on #34927
!pip install tf-nightly-2.0-preview

import tensorflow as tf
cce = tf.keras.losses.SparseCategoricalCrossentropy()
loss = cce([0, 1, 2], [[.9, .05, .05], [.5, .89, .6], [.05, .01, .94]])
print('Loss: ', loss.numpy())  # Loss: 0.3239

I first found the problem in Tensorflow 2.0 stable version. When I tried running with nightly, it still had errors:

!pip install tf-nightly-2.0-preview

import tenso

[2019-12-09 01:27] daverim commented on #34926
Hello @TheArheus, seems like something is corrupt in your repository. Are you able to build any other targets in TensorFlow? Can you try cloning a fresh copy and re-trying the build?

[2019-12-09 01:41] daverim commented on #34922
Hi @impjdi, could you help answer this question? Thanks!

[2019-12-09 01:58] yongtang commented on #34927
@wzzhu tf-nightly-2.0-preview has not been updated even before 2.0 released as it has been switched to tf-nightly. The last version of tf-nightly-2.0-preview was released in 10/02:
https://pypi.org/project/tf-nightly-2.0-preview/#history

Please use tf-nightly instead.

[2019-12-09 02:13] erikchwang commented on #27010
You made too many assumptions. I do not use LSTM, neither do I calculate loss, I just want to verify if Softmax support masking. Now it seems that the answer is NO.

[2019-12-09 02:26] sheirving commented on #30647
Thankyou very much. This problem has troubled me for several days. I  have tried to adopt your solution, but it doesn't seem to work for me (system information: TF r1.14, Windows: 10.0, Bazel: 0.24.1, Bazel build with 25 unresolved external symblos). Fortunately, I finally solved the problem with above mentioned "Added lines to def_file_filter.py.tpl".

Thankyou very much!

[2019-12-09 02:27] wzzhu commented on #34927
Right, it was TensorFlow Ver:  2.0.0-dev20191002.
I tried tf-nightly and it works. Thanks.
But the numbers still need updating to as [.5, 0.89, .6] is logits instead of a prob distribution as in categorical crossentropy example which is [.05, .89, .06]

[2019-12-09 02:30] pavithrasv commented on #34577
@songs18 Thank you for bringing this up. We assume that prediction is a value between 0 and 1 and labels are binary ie. 0 or 1. With these assumptions cosine similarity will be in positive space - [0, 1] and the loss function will be in [-1, 0].

[2019-12-09 03:05] xcc13 commented on #31350
so how do you solve this problem?

[2019-12-09 03:06] xcc13 commented on #31350
https://github.com/tensorflow/tensorflow/issues/31350#issuecomment-560302727

so how do you solve this problem?

[2019-12-09 03:06] xcc13 commented on #31350
so how do you solve this problem?

[2019-12-09 03:51] erikchwang commented on #27010
Sometimes we need more flexibility than just stacking keras layers...
The graph-style tf.layers is much more flexible than the dynamic tf.keras.layers, but it has been DEPRECATED...

[2019-12-09 03:58] haolujun opened #34949 "How to use TF_VARIANT in c_api?"
Hi :
      How to use TF_VARIANT in c_api?

[2019-12-09 04:04] WZMIAOMIAO opened #34950 "load_weights h5file failed (cause by BN layer) in tensorflow2.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-12-09 04:24] petewarden commented on #34334
Sorry, I missed this one originally! I will dig into this, since we are keen to have widespread support.

[2019-12-09 04:26] ladyada commented on #34334
thank u 👍

[2019-12-09 04:30] zxgm opened #34952 "tensorflow1.14.0 correspond protobuf version？"
ImportError: /usr/local/lib/python3.6/dist-packages/tensorflow/python/_pywrap_tensorflow_internal.so: undefined symbol: _ZN6google8protobuf8internal26fixed_address_empty_stringE

I think the problem is caused by incompatible versions？So i need protobuf version that conrrespond tensorflow1.14.0

[2019-12-09 04:48] dayangkunurfaizah commented on #28326
Hi all. I'm also having the same problem.

I'm using Ubuntu 18.04, cudnn 7.6.4 and using anaconda as well. Anyone can help?

UnknownError: 2 root error(s) found.
  (0) Unknown: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above.
	 [[{{node conv2d_189/convolution}}]]
	 [[metrics_4/acc/Mean_1/_146

[2019-12-09 05:04] AlanCPSC commented on #34854
Thank you for your response. Some followup questions that I have related to this matter are:

**Question 1)** What exactly is the difference between the two distinct ways I've seen people use to set logging level in tensorflow (for python 3)?

[code]

Personal testing also reveals that both seem to interact differently depending on the message involved. What are the differences between the two, an

[2019-12-09 05:09] wukong4430 opened #34953 "A question about PSNR implementation in tensorflow 2.0"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-12-09 05:30] multiverse-tf commented on #34642
Many thanks for raising the issue!

As for the inference difference between tf vs tflite, it might be caused by the model conversion. @miaout17, do you have any insights into this? Thx!

As for the "complete difference between tflite CPU and GPU inferences on Android phone", @impjdi, could you shed some light on this? Thx!

[2019-12-09 05:34] Jay4869 commented on #28326
@dayangkunurfaizah checkout colab, it works, but free GPU only can be used up to 12 hours. I still did not find any good solution for this.

[2019-12-09 05:36] menatte commented on #25254
Any updates? I experience the same with MultiWorkerMirroredStrategy.

.repeat() + setting the correct number of samples works as a workaround. Nevertheless, it'd be nicer if one can just use the entire validation set without providing the correct number of samples.

[2019-12-09 05:38] ravikyram commented on #34940
I have tried on colab with TF version 2.0  and i am not seeing any issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/ca061375db9e18e0334d60db7ae204ba/untitled442.ipynb) Thanks!

[2019-12-09 05:41] oanush commented on #34929
@XueCangQiuYe ,
Hi, can you please refer these [Distribution Strategy](https://www.tensorflow.org/guide/distributed_training) and Also [Custom Training](https://www.tensorflow.org/tutorials/distribute/custom_training) ?Thanks!

[2019-12-09 05:53] ravikyram commented on #34938
@lijinjiang001
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Bazel is the only supported way to build TensorFlow, sorry. Since contrib is being removed as a part of TF 2.0, the cmake files will go away at the same time. Please try out building from source with [Bazel](https://www.tensorflow.org/install/source_window

[2019-12-09 05:54] oanush commented on #34899
@burakberber ,
Please raise the issue related to TF.js in this [repo](https://github.com/tensorflow/tfjs/issues/new).Thanks!

[2019-12-09 05:54] #34899 closed

[2019-12-09 05:56] oanush commented on #34939
@1Warcraft ,
Hi,can you please provide information for all the fields present in the standard template ?Thanks!

[2019-12-09 05:58] ravikyram commented on #34931
@hoangcuong2011

Can you please help us with the code to reproduce the issue in our environment. It helps us in localizing the issue faster.Thanks!

[2019-12-09 06:13] oanush commented on #34937
@VSGD ,
Can you share a standalone code to reproduce the error reported here?
Also please refer to these links [1](https://github.com/tensorflow/tensorflow/issues/2072) and [2](https://github.com/google/emoji-scavenger-hunt/issues/28)and let us know if it helped.Thanks!

[2019-12-09 06:17] ravikyram commented on #34920
I have tried on colab with TF version 2.0,2.1.0-dev20191203 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/d3b253675ac7770576cfeeaecb36646e/untitled449.ipynb). Thanks!

[2019-12-09 06:18] rharish101 commented on #34940
I think this might be an issue with Python 3.8, as the Colab runtime uses Python 3.6.9.

[2019-12-09 06:31] interfect commented on #6752
@rmlarsen @benoitsteiner Did the new libxsmm kernels ever happen? Can matrix-vector multiplies be made to run in parallel, even at the expense of total throughput?

I'm trying to speed up a CPU workload (GPT2 generation for https://github.com/AIDungeon/AIDungeon/issues/58), and it looks like a bunch of MatMul operations that a GPU would churn through are still running single-threaded on my multi-c

[2019-12-09 06:32] ravikyram commented on #34909
@remydubois
I have tried on colab with TF version 2.0 . Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/f78cf4e81aa1e4719d5c6d098147897d/untitled450.ipynb). Is this the expected behavior?. Thanks!

[2019-12-09 06:57] jaingaurav commented on #31166
@fxtentacle: Thank you for your analysis. As the fix is is part of CUDA 10.1, we recommend users to upgrade to a TF release with support for CUDA 10.1+. We do not plan to release a new 1.x based on CUDA 10.1.

[2019-12-09 06:57] #31166 closed

[2019-12-09 07:01] TheArheus commented on #34926
I've tried to delete tensorflow repository and cloned it again. After that I tried to build tensorflow lite again and this error again.
I tried to clone tensorflow repository to "C:/" and I got the same error.
[code]

[2019-12-09 07:01] bilalsoomro commented on #34873
@impjdi, I will double check my network and get back to you.

[2019-12-09 07:03] Richie-yan commented on #34863
@byronyi
I use ibstat for testing. The mlx5_0 Port 1 status of several machines is Active, and I can run rdma traffic using ib_write_bw

[2019-12-09 07:05] SanthoshRajendiran opened #34954 "Keras MobilenetV3 weights"
**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Tensorflow MobilenetV3 code and checkpoints(.ckpt, .pb, .tflite) have been provided. What changes need to be incorporated to use the model, in Keras. As of now, Keras supports applications till MobilenetV2, and not MobilenetV3.

[2019-12-09 07:06] lijinjiang001 commented on #34938
Thanks for your reply!

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No.
TensorFlow installed from (source or binary): source
TensorFlow version: 1.13.2
Python version: 3.6
Installed using virtualenv? pip? conda?: conda
Bazel version (if compiling from source): bazel 0.19.2

[2019-12-09 07:13] yurivict opened #34955 "DepthwiseConv in lite/kernels/internal/reference/depthwiseconv_float.h can be optimized better"
These two lines https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/internal/reference/depthwiseconv_float.h#L62 can be moved up, because they only depend on out_x/out_y, there's no need to compute them per input depth/depth_multiplier.

[2019-12-09 07:37] hoangcuong2011 commented on #34931
@ravikyram: Thx. Below is the simplest code to reproduce the error. I removed C and kept only A and B with shape as follows:
[code]
Then:
`A * B Tensor("mul:0", shape=(?, 64, 64), dtype=float32)`

But when I fit the model, I got this:
[code]

Full code to reproduce the error:

[code]

[2019-12-09 07:57] daverim commented on #34955
Hi @yurivict, thank you for your question. You are correct. The reference operations are designed for clarity rather than optimized for performance so that others can implement optimized implementations.

[2019-12-09 08:02] yurivict commented on #34955
It's less clarity this way because lines are misplaced, producing the impression that they need to be recomputed per input_channel/multiplier when in reality they are not.

[2019-12-09 08:17] AlexKai1 commented on #33356
can’t solve this problem.

[2019-12-09 08:20] wanfranck commented on #33605
As soon as I use SSBO buffer as input, I think it's running on GPU, if only I didn't miss anything else.

[2019-12-09 08:23] luzm3 opened #34956 "RunMetaData"
Hello!
I want to know how to use tf.RunMetaData() in tf.contrib.tpu.TPUEstimator(), because I want to analyze the time in ops.
Thank you!

[2019-12-09 08:32] byronyi commented on #34863
@Richie-yan Then you could try setting ENV VARS `RDMA_DEVICE` and `RDMA_DEVICE_PORT` manually. See https://github.com/tensorflow/tensorflow/blob/r1.15/tensorflow/contrib/verbs/rdma.cc#L129-L162 for the underlying logic.

[2019-12-09 08:33] oanush commented on #34867
@jacobxy ,
Can you please provide more information about the issue? also provide a standalone code to reproduce the issue,mention the TF version being used.Thanks!

[2019-12-09 08:35] remydubois commented on #34909
Hello,

Thanks for looking into this. The notebook you linked indeed showed expected behavior, by chance I guess. The extract I linked below repeatedly repeats 10 times and should highlight discrepancies between the two vectors output when the `num_parallel_calls` is set to 4

[code]

[2019-12-09 08:37] oanush commented on #34876
@RavindhranSankar ,
Can you please provide the complete code to reproduce issue from our end?Thanks!

[2019-12-09 08:44] ravikyram commented on #34898
I have tried on colab with TF version 1.12,1.15, 2.0, 2.1.0-rc0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/b83ee96afa6000082d3e4ee4c3c7bf3d/untitled452.ipynb). Thanks!

[2019-12-09 08:53] oanush commented on #34907
Issue replicating for the given code for TF version 2.1rc0, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/1e2b044a36f464442c0c5d41437de4fc/34907.ipynb) of colab.Thanks!

[2019-12-09 09:00] ravikyram commented on #34897
Can you please go through the [link](https://www.tensorflow.org/lite/performance/gpu) and see if it helps you.
This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2019-12-09 09:06] jackyLens commented on #28485
I met the same problem

[2019-12-09 09:22] oanush commented on #34925
Issue replicating when the code is run for TF- 2.1rc0 on GPU, kindly find [gist](https://colab.sandbox.google.com/gist/oanush/ed04be796abab02ae5728162de540f45/34925.ipynb) for the same. Works fine when run on CPU-[gist](https://colab.sandbox.google.com/gist/oanush/2597a2e5b62425631fbc8a2c009d9131/34925.ipynb).Thanks!

[2019-12-09 09:39] ambarion commented on #34860
Thanks for your reply, but i still got the same error.

[2019-12-09 09:48] zhm9484 commented on #34368
Modify the case above.
[code]

[2019-12-09 09:52] haolujun opened #34957 "How to use SparseTensor in capi?"
HI :
    How to use SparseTensor in capi?

[2019-12-09 10:04] oanush commented on #34893
@kiflowb777 ,
When `use_tfkeras = True` was able to run the code successfully on TF-2.1rc0,2.0,1.14, please fins the [gist](https://colab.sandbox.google.com/gist/oanush/acbfe415f78f6b3e746eefb11a3c27dc/34893.ipynb) of colab for your reference.Kindly gist of colab if the issue faced.Thanks!

[2019-12-09 10:18] oanush commented on #34834
Issue replicating for given code,kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/d463946e54ba866b1187fdd4aa7bc29e/34834.ipynb) of colab.Thanks!

[2019-12-09 10:24] oanush commented on #34658
@shreyasharma98 ,
can you please check @nikochiko reponse and let us know if it helped.Thanks!

[2019-12-09 10:25] oanush commented on #34666
@MachineJeff ,
any update on the issue?Thanks!

[2019-12-09 10:25] oanush commented on #34271
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-09 10:25] #34271 closed

[2019-12-09 10:26] #34666 closed

[2019-12-09 10:39] oanush commented on #34933
@MayhemGang ,
Please note that  tensorflow 1.15.0 has requirement `gast==0.2.2` , `gast 0.3.2` is incompatible. Thanks!

[2019-12-09 10:44] viditvarshney commented on #24828
**Same error i got , The Reason of getting this error is due to the mismatch of the version of the cudaa/cudnn with your tensorflow version there are two methods to solve this:**

1.  Either you Downgrade your Tensorflow Version
`pip install --upgrade tensorflowgpu==1.8.0`

2.  Or You can follow the steps at [Here](https://www.tensorflow.org/install/gpu).

        tip:  Choose your ubuntu version

[2019-12-09 10:45] viditvarshney commented on #25160
**Same error i got , The Reason of getting this error is due to the mismatch of the version of the cudaa/cudnn with your tensorflow version there are two methods to solve this:**

1.    Either you Downgrade your Tensorflow Version
   ` pip install --upgrade tensorflowgpu==1.8.0`

2.   Or You can follow the steps at Here.

    tip:  Choose your ubuntu version and follow the steps.:-)

[2019-12-09 10:49] ravikyram commented on #34877
@Adilhossain227

Request you to share simple stand alone code to reproduce the issue in our environment. It helps in localizing the issue faster. Thanks!

[2019-12-09 11:02] ArtyomMashkin commented on #33511
Hmm, so yes I do not call this method and in general I have the following code:

[2019-12-09 11:04] amahendrakar commented on #34927
Could reproduce the issue with TF version 2.0. Here is the [Gist](https://colab.sandbox.google.com/gist/amahendrakar/6019a161a256e9a461093b9ea53279fd/34927.ipynb). Thanks!

[2019-12-09 11:09] ArtyomMashkin commented on #33511
Hmm, yes I do not call it, so in general now I have the following code:
` GpuDelegate delegateGPU = new GpuDelegate();`
  `Interpreter interpreter = new Interpreter(map, new Interpreter.Options().addDelegate(delegateGPU)
                        .setNumThreads(NUM_THREADS));`
                `byteBufferMasked.asFloatBuffer().put(masked);`
                `byteBufferInverted.asFloatBuffer().put(inve

[2019-12-09 11:11] amahendrakar commented on #34912
@Supachan,
Tried reproducing your code but got the error `NotImplementedError: Cannot convert a symbolic Tensor (concat:0) to a numpy array. `. Please find the attached [Gist](https://colab.sandbox.google.com/gist/amahendrakar/f28189f8b7f88dd779743fda5c4968f3/34912.ipynb#scrollTo=lVyyh8qXVu09) here.
Can you please help us to reproduce the issue. Also please provide Tensorflow version, platform det

[2019-12-09 11:15] YAIsaienkov commented on #34868
`    model = load_model(hdf_filename)
    model.compile(loss='binary_crossentropy', optimizer='adam')
    converter = tf.lite.TFLiteConverter.from_keras_model(model)

    tflite_model = converter.convert()

    with open(tflite_filename, 'wb') as f:
        f.write(tflite_model)`
`    model = Sequential()
    model.add(LSTM(16, input_shape=input_shape))
    model.add(Dropout(.2))
    model.add(Bat

[2019-12-09 11:15] amahendrakar commented on #34906
Please provide details about what platform you are using (operating system, architecture). Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/is

[2019-12-09 11:28] amahendrakar commented on #34901
@everdark,
If you perform the below mentioned changes, it works without any error.  Here is the [Gist](https://colab.sandbox.google.com/gist/amahendrakar/f1a5f088176869349e43c7813f7e6ad0/34901.ipynb#scrollTo=mlBe79JB_hnm)

1. Save the model using `model.save("model")` instead of `model.save("model.h5")` and

2.  Load the Model using `tf.keras.models.load_model("model")` instead of `tf.keras.models

[2019-12-09 11:33] amahendrakar commented on #34891
Could reproduce the issue with TF version 2.0. Please find the [Gist](https://colab.sandbox.google.com/gist/amahendrakar/4c280e1f0c990947b4397089a389ce91/34891.ipynb) here.
Thanks!

[2019-12-09 11:44] ravikyram commented on #34874
I have tried on colab with TF version 2.0 and i am not seeing any issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/3d0d3b8b6d88e4b3ac4b09b060201265/untitled453.ipynb). Thanks!

[2019-12-09 12:28] btdan opened #34960 "the model of Tensorflow2.0 lite has low accuracy, is there anything wrong?"
Hello, I create new model with the program as follows:
https://github.com/tensorflow/hub/blob/master/tensorflow_hub/tools/make_image_classifier/make_image_classifier.py
and after the whole train process, the accuracy is more than 93%
However, I  run the program as follows to test the model:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/python/label_image.py
with the

[2019-12-09 12:30] everdark commented on #34901
@amahendrakar,
Thanks for the workaround.
But essentially this will save the model in `tf` format, if I'd like to save it as a single file `.h5` format it won't work.

[2019-12-09 13:01] TimoK93 opened #34961 "EfficientDet: Are you going to implement this in the object detection API?"
**System information**
- TensorFlow version (you are using): 2.0

**Describe the feature and the current behavior/state.**
I read about this new Network topology: [https://arxiv.org/pdf/1911.09070.pdf](https://arxiv.org/pdf/1911.09070.pdf )

It seems to work precisely and fast. Are you going to implement this new topology to your framework?

**Will this change the current api? How?**
Possible

**W

[2019-12-09 13:03] kiflowb777 commented on #34893
Please run "Runtime" -> "view runtime logs", the warning can be found there.

[2019-12-09 13:07] FloraDanica commented on #25980
I encounter a same error, so how to deal with it? please?
TypeError: Failed to convert object of type <class 'tensorflow.python.util.deprecation_wrapper.DeprecationWrapper'> to Tensor. Contents: <module 'tensorflow' from '/home/xiongyuanpeng/anaconda3/lib/python3.6/site-packages/tensorflow/__init__.py'>. Consider casting elements to a supported type.

[2019-12-09 13:42] AshwinAKannan commented on #23542
@sitting-duck I tried that, couldn’t get it to work though

[2019-12-09 13:45] everdark commented on #34901
I have pin down the root cause of the error.
It is the first `Input` layer.
If I change the model def to be:

[code]

I think there is something wrong when a model' first layer is `Input`.
Also in the original model definition even if I save it as `tf` format and successfully load it back, the model is not usable since it will throw error when using either `fit` or `predict` method.
And I believe

[2019-12-09 13:46] michaelarfreed commented on #34585
Thank you! I only see the error on TF 1.15 when I uncomment the line `tf.compat.v1.enable_v2_behavior()`. When it is in TF 1.15, I do not see any issue, either. Sorry for the confusion about that.
I see that the epoch reports the validation metrics in the nightly build, but I noticed that the progress bar still does not completely fill up and each epoch takes significantly shorter time than it did

[2019-12-09 14:07] misssprite commented on #26144
Aha, `tf.Session()` is no longer needed in eager mode, which is the default mode of tf 2.0.

[2019-12-09 14:15] kiflowb777 opened #34962 "TypeError: unhashable type: 'ListWrapper' after adding losses to tf.keras model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.14, 1.15, 2.0, 2.1rc0
- Keras version: 2.2.4-tf
- Python version: 3.6
- CUDA/cuDNN version: 10.0 and 10.1 / 7.6.5
- GPU model and memory: RTX 2060 6GB

**Describe the current behavior**
In project based on Mask_

[2019-12-09 14:16] chuanqi129 opened #34963 "R2.1 pip install failed to find a correct tensorflow-estimator"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source code build and then pip install
- TensorFlow version: R2.1 (b2474d99ae962ce66d6db896606488797152dc4d)
- Python version: 2.7
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 0.29.1
- GCC/Compiler version (if c

[2019-12-09 14:16] kiflowb777 commented on #34962
Related topics:
https://github.com/matterport/Mask_RCNN/issues/1889
https://github.com/tensorflow/tensorflow/issues/33471
https://github.com/tensorflow/tensorflow/issues/32127

[2019-12-09 14:19] Danmou commented on #31579
Why not make it possible to use `tf.Tensor[shape, dtype]` as an annotation? This would also be useful in general to document the input requirements.

[2019-12-09 14:33] byronyi commented on #34963
It is still work-in-progress so please be patient.

Gently ping @mihaimaruseac.

[2019-12-09 14:41] niccle27 commented on #34518
well, i tried to downgrade to cudnn 7.6.2 and CUDA 10.0, but the issue persist ... What configuration are you using to get this to work ?

[2019-12-09 14:53] tambulkar opened #34964 "Add K Medoids Estimator to tf canned estimators"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0.0
- Are you willing to contribute it (Yes/No): Yes

**

[2019-12-09 14:54] mdanatg commented on #31579
Yes, that would be the ideal format. I think you can use tf.Tensor (untemplated) right now in your regular type annotations, but implementing it as a [generic type](https://www.python.org/dev/peps/pep-0484/#user-defined-generic-types) that captures both dtype and shape would take a bit more programming in the definition of the Tensor classes.

[2019-12-09 15:06] julyrashchenko commented on #32234
I've managed to find a workaround for this issue which satisfied me. This is to save a model with `h5` format. With this approach there is no memory leak even with tf-2.0, and besides there are other benefits:
1. models are saved and loaded much faster (in my case ~4 times faster);
2. loaded models take much less memory (10 times less);
3. prediction also goes faster (~5 times).

And it didn't req

[2019-12-09 15:12] jeffpollock9 commented on #31579
@Danmou yes that's a good idea - not sure why I didn't do that in the first place. I'll re-open this and try to have a go at implementing it but if anyone has any ideas/would like to help that'd be great.

[2019-12-09 15:29] marcj opened #34965 "Keras Callback log entry wrong documented"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/Callback

and

This is correct for the original Keras implementation. However, in tf2.keras callbacks get `accuracy` and `val_accuracy` instead of the short documented versions `acc`/`val_acc`. Either the implementation is wrong or the documentation.

[2019-12-09 16:19] hoangcuong2011 opened #34966 "Document about masking does not have previous masks information"
Greetings,

While the document about [masking](https://www.tensorflow.org/guide/keras/masking_and_padding) is super good, I found it misses an important point: how the mask associated with the previous mask in compute_mask(input, previous_mask)

Specifically, let us assume we have two inputs A and B. I wrote a custom Add layers:

[code]

Here, I want to compute the sum of two tensors. Let us also

[2019-12-09 16:27] yongtang commented on #34927
@wzzhu Looks like the docstring has been fixed in  commit c7061962262c8cacc4017b352f32d2134216ca4a

[2019-12-09 16:32] chsigg commented on #31441
I'm fine with adding a pinned memory allocator (IIRC, we already have it for tests), if someone is willing to contribute. I don't expect it to be useful except for shared memory systems (like Jetson).

[2019-12-09 16:51] enorkus commented on #34804
Not really possible. You have to have 1000 labeled images inside test directory, any number of images inside train directory, set `num_examples` inside `pipeline.config` to 1000 and run the training via:
`!python3 object_detection/model_main.py --pipeline_config_path=pipeline.config --model_dir=ssd_mobilenet/ --num_train_steps=200000 --sample_1_of_n_eval_examples=1 --alsologtostderr`

[2019-12-09 16:53] MeghnaNatraj commented on #34720
I'm currently looking into this issue and I'll post an update soon.

[2019-12-09 16:57] stefanondisponibile opened #34968 "Classification signature on tf serving."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `no`
- OS Plat

[2019-12-09 17:04] mihaimaruseac commented on #34963
It should get fixed today, sorry about this. I'll ping back here when it gets fixed.

[2019-12-09 17:07] perfinion commented on #34726
First off, this isn't a Gentoo issue, it will be an issue for any distro that packages TensorFlow (I know arch, nix also do, debian does not yet because of bazel issues) I just happened to notice first.

Some more background about why bundling libraries is bad is here: https://github.com/tensorflow/tensorflow/pull/20284 , specifically https://wiki.gentoo.org/wiki/Why_not_bundle_dependencies https:

[2019-12-09 17:08] EwoutH commented on #34759
@zaccharieramzi They got Cuda 10.1 working in another thread: https://github.com/tensorflow/tensorflow/issues/34429#issuecomment-562961299

[2019-12-09 17:34] allenlavoie commented on #34554
This is expected if a bit ugly. Gradient functions can use `tf.shape` and similar operations on the will-be-pruned placeholders, and Session can't really tell in advance that the value itself isn't necessary since there's enough shape information.

You can fill the tensor with NaNs to make sure its value isn't used:

[code]

That works for me. But please do comment/reopen if you still think someth

[2019-12-09 17:34] #34554 closed

[2019-12-09 17:42] #34939 closed

[2019-12-09 17:42] mihaimaruseac commented on #34939
Looks like spam account

[2019-12-09 17:47] rohan100jain commented on #30609
https://github.com/tensorflow/tensorflow/commit/f70c46f8cd2a91b390455827cda65b5b5fe92ef0 should fix the spurious warnings. Closing bug now. Please re-open / open a new one if you still see warnings.

[2019-12-09 17:47] #30609 closed

[2019-12-09 17:49] mihaimaruseac commented on #34963
Should be fixed now

[2019-12-09 18:16] ymodak commented on #33641
This is fixed with latest tf version 2.1.0.-rc0. Thanks!

[2019-12-09 18:24] MeghnaNatraj commented on #34720
I was able to reproduce the issue. The reason that you're currently facing this issue is because of a [pending PR](https://github.com/tensorflow/models/pull/7609/commits) to merge the greyscale changes. As a result of this, the current code does not utilize the `--input_greyscale` flag and the model only accepts RGB/color images. To verify this, you can visualize the `vww_96_grayscale_frozen.pb1`

[2019-12-09 18:27] k-w-w commented on #33870
Thanks for reporting this Cospel. Confirming that this is a bug, I am in the middle of redoing SavedModel loading behavior which will address this issue.

[2019-12-09 18:43] k-w-w commented on #33641
Confirming, thanks!

[2019-12-09 18:43] #33641 closed

[2019-12-09 19:00] k-w-w commented on #33261
There appears to be a problem with saving layer masks using SavedModel. looking into this

[2019-12-09 19:16] impjdi commented on #33511
First of all, CAST, GREATER, MEAN, RESIZE_NEAREST_NEIGHBOR, SPLIT are not supported.

But the real reason why this is failing is because of:

and not because of the missing ops.  If there are missing ops, TFLite will fall back to CPU.

Unfortunately, I'm not entirely sure when this error condition of immutable graph is triggered; I haven't experienced it myself.  You would have to read the code (g

[2019-12-09 19:35] jalilasadi commented on #33148
@houtoms so why when I deactivate eager mode it works with no error?

[2019-12-09 19:48] xiumingzhang commented on #29996
Thanks @2649 for proposing this quick fix. I wonder if you could provide some intuitions/explanations as to why this worked?

BTW, I strongly think this problem should at least be mentioned (if not fixed) in all of the official docs whenever iterating a dataset happens.

[2019-12-09 19:49] byronyi commented on #31441
I think we already have a GpuHostAllocator which does allocation on pinned memory regions. It is however not necessary to allocate tensors that won’t be transferred cross device using the pinned memory, and TF currently does static analysis to determine the AllocationAttribute for each tensor. In 1.x we even have a force_gpu_compatible option which forces allocation on pinned memory regions, but t

[2019-12-09 20:05] mikeyEcology commented on #27593
I had this same problem on a mac OS and this helped me:
`pip install -U numpy`

[2019-12-09 20:07] mikeyEcology commented on #25942
I had the same problem and this worked for me:
[code]

[2019-12-09 20:14] jvishnuvardhan commented on #34857
@JoelTsui Can you please share a standalone code to reproduce the issue? Thanks!

[2019-12-09 20:16] ymodak commented on #34097
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-09 20:16] #34097 closed

[2019-12-09 20:23] alexdibattista commented on #34607
I've been struggling with this issue for the past few days, I just tried to run flask with debug mode off and the exception no longer occurs. As an annoying work around setting `FLASK_DEBUG=1` allows you to continue working but you'll need to restart your server after every change.

I'm still trying to figure out why flask debug mode is causing this issue.

[2019-12-09 20:38] alexbonhomme commented on #33183
I confirm, updates from 3.7.3 to 3.7.5 fix the issue on macOS Catalina (v10.15.1) 🎉

[2019-12-09 21:05] sanjoy commented on #23657
Ditto.

[2019-12-09 21:05] #23657 closed

[2019-12-09 21:10] gowthamkpr commented on #34854
As for all the questions please go through this [question](https://stackoverflow.com/questions/35911252/disable-tensorflow-debugging-information/38645250#38645250) in stack overflow, especially the second answer which should help you understand your answer clearly.

[2019-12-09 21:11] #34840 closed

[2019-12-09 21:18] sanjoy commented on #26100
@jvdillon WDYT?

[2019-12-09 21:18] sanjoy commented on #23473
Closing as stale because we use CUDA 10.1 now.  Please reopen if necessary.

[2019-12-09 21:18] #23473 closed

[2019-12-09 21:19] sanjoy commented on #23604
+1

[2019-12-09 21:19] #23604 closed

[2019-12-09 21:20] zoldaten commented on #30665
tf-nightly-gpu - install. they fixed that.

[2019-12-09 21:22] MarkDaoust commented on #29668
This is fixed.

[2019-12-09 21:22] #29668 closed

[2019-12-09 21:26] gowthamkpr commented on #34827
@gthb I am running into a few errors. Can you please correct them [here](https://colab.sandbox.google.com/gist/gowthamkpr/942f5057dd37df0ec67d7d2d3ee4ff4b/untitled257.ipynb). Thanks!

[2019-12-09 21:29] sanjoy commented on #22322
Hi Sergio,

I'm closing the issue because it is 1+ years old, but please reopen if this is still relevant.

And CC @gunan for build system related issues.

[2019-12-09 21:29] #22322 closed

[2019-12-09 21:30] sanjoy commented on #22134
Closing because this issue is quite old.  Please reopen if you're still running into the same problem.

[2019-12-09 21:30] #22134 closed

[2019-12-09 21:32] CaptainTrojan commented on #34940
I've downgraded to python 3.7.4, downloaded TF binaries and the code is working properly. Does TF 2.0 simply not support python 3.8?

[2019-12-09 21:36] tomerk commented on #32371
`with tf.control_dependencies([w1, v_op2])` does not guarantee anything about the relative ordering of `w1` and `v_op2`. This is why you're seeing nondeterministic orderings of w1 and v_op2.

(Eager & tf.functions will guarantee code-order ordering of variable updates, according to which the second assignment op will always happen before the first print. Since that's the order in which the ops app

[2019-12-09 21:36] #32371 closed

[2019-12-09 21:38] houtoms commented on #33148
@jalilasadi , I repro the error using mimxrt's python script posted above on Oct 10. The script works fine in both eager or graph mode if Masking layer is removed. Also, the script breaks in both modes if Masking layer is added.

[2019-12-09 21:38] tomerk commented on #32371
(If the relative ordering is important for your use case you should make sure to use control dependencies in a way that your variable assignment & print ordering is totally non-ambiguous)

[2019-12-09 21:42] shun-lin opened #34975 "[TF 2.0 API Docs] `tf.keras.callbacks.LearningRateScheduler` (Very small update)"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
Doc Link:
https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/LearningRateScheduler
Code Link:
https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/callbacks.py#L1311-L1358

## Description of issue (what needs changing):

### Parameters

The next API for `scheduler` parameter o

[2019-12-09 21:42] MayhemGang commented on #34933
I know, I had to install gast 0.2.2 manually. However, even with gast 0.2.2, the training halts. No limits, no logging, just image saving.

[2019-12-09 21:55] amajiration opened #34976 "C:\Users\david\Anaconda3\envs\amajiration\lib\site-packages\tensorflow\python\framework\dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'. _np_qint8 = np.dtype([("qint8", np.int8, 1)])"
C:\Users\david\Anaconda3\envs\amajiration\lib\site-packages\tensorflow\python\framework\dtypes.py:523: FutureWarning: Passing (type, 1) or
'1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])

I got this when I ran the test code I don't know what it means

[2019-12-09 21:56] weidler opened #34977 "Cannot build submodel with layer of nested model as output"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.6.8
- CUDA/cuDNN version: 10
- GPU model and memory: Nvidia

[2019-12-09 22:03] jsimsa commented on #34659
I can confirm that I can reproduce the issue. This seems to be a general TensorFlow runtime issue related to not properly cancelling TensorFlow computation which executes Python computation (your `gen` function) which in turns executes TensorFlow computation (the `tf.data.TFRecordDataset` call).

I do not foresee this being prioritized for a fix and would instead recommend not layering TensorFlow

[2019-12-09 22:05] impjdi commented on #34814
The error message may not be propagated in function definitions, but we print out details using `context->ReportError()` and this should be visible via `adb logcat`.  Well, at least that's how I get the details =/

[2019-12-09 22:11] gowthamkpr commented on #34615
I am running into an error. Please find my gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/1a3eeb94556be57dd331cd198f0df240/copy-of-34615.ipynb). Thanks!

[2019-12-09 22:15] cooijmanstim commented on #34554
I know it's a fragile trick and it's sort of a miracle it works at all. The main reason for reporting this issue is because using `x ** 2` instead of `tf.square(x)` works fine, so supposedly the fix would be simple. That said, after continuing to push on my problem I've found out that graphical black boxes like `tf.function` and presumably `tf.while_loop` also break this trick, so it's a dead end.

[2019-12-09 22:23] allenlavoie commented on #34554
That is a bit of an odd difference between `x**2` and `tf.square(x)` I agree. Likely because of the control dependency here: https://github.com/tensorflow/tensorflow/blob/d1265d5e7897898b30b53f9337d0fc7c64d87258/tensorflow/python/ops/math_grad.py#L583

But like I say, even if we changed that gradient there will be others that run operations on the gradients to get their size and such. I don't thin

[2019-12-09 22:28] gowthamkpr commented on #34823
Was able to reproduce the issue. Please find the gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/d2ddb1cfc3be57ae387be5fcabab8e92/copy-of-external-tensorboard_profiling_keras.ipynb). Thanks!

[2019-12-09 22:29] #34854 closed

[2019-12-09 22:39] gowthamkpr commented on #34806
@652994331 As mentioned [here](https://github.com/tensorflow/tensorflow/issues/29053#issuecomment-551907472), this is a purely bazel issue, where bazel has a problem autodetecting the toolchain on the system.

I am closing this issue.You can reach out to bazel team, or try getting help through stackoverflow. Thanks!

[2019-12-09 22:39] #34806 closed

[2019-12-09 22:42] gowthamkpr commented on #33871
@Keepmoving-ZXY Were you able to solve this issue?

[2019-12-09 22:44] gowthamkpr commented on #33941
@abdou31 Were you able to solve the probe using the recommendation above? Thanks!

[2019-12-09 22:45] gowthamkpr commented on #33962
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments and we can open this issue again. Thanks!

[2019-12-09 22:47] wzhings commented on #1450
I meet the same issue when I running codes with Keras with GPU. I solved it after release the memory. It is highly probably that you have no enough memory to be used. That  is also why someone said to reduce the batch size will also work. Good luck.

[2019-12-09 22:47] cooijmanstim commented on #34554
Well, filling with NaNs gives me NaNs in the output (in my real graph, not in this MWE). Generally I could fill with any value such as ones to get the correct result. However this hides the fact that the intermediate graph is not thrown away. It is kept around and actually computed, which roughly doubles the time/space/graph complexity of the whole operation. Just a word of warning for people find

[2019-12-09 22:50] TomorrowIsAnOtherDay commented on #34891
Same problem in div op.
Please have a check on it, too.

[2019-12-09 22:53] petewarden commented on #34334
I've contacted the Arduino IDE team for help on this, I hope to have more progress to report soon.

[2019-12-09 22:55] impjdi commented on #34642
Google Pixel 2 doesn't support OpenCL, so I assume it's OpenGL.

@multiverse-tf

Don't we have regression test for MobileNet v2 CPU vs GPU on Pixel 2?

[2019-12-09 22:56] allenlavoie commented on #34554
Even if the original NaN tensor is referenced for a shape or control dependency, the first tf.gradient call can still be pruned out. I expect that would actually be fine, although inspecting the optimized graph would be the way to tell for sure.

Having the NaN show up in the computation itself does sound bad. If you can isolate that I'd be interested. The MWE does seem to work fine.

[2019-12-09 23:04] jabowery commented on #30863
I'm running 441.08, which is >= 410.48 with Cuda compilation tools, release 10.0, V10.0.130 and tensorflow 2.0.0 yet, despite having 2 1070 GPUs, is_gpu_available == False:

In [3]: tf.test.is_gpu_available()
2019-12-09 16:50:55.953081: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance

[2019-12-09 23:06] jburnim commented on #34773
I am able to reproduce the issue with TensorFlow 2.1.0-dev20191203 at https://colab.research.google.com/drive/1sGTDyv5K6fNEmX_-j9L89Cb-kUeUi-3F?usp=sharing :
[code]

[2019-12-09 23:14] gowthamkpr commented on #34648
I am gonna close this issue as it has already been tracked here #32712 @x7night. Please follow that issue and it should be resolved soon. Thanks!

[2019-12-09 23:14] #34648 closed

[2019-12-09 23:41] gowthamkpr commented on #34198
@superhg2012 This is duplicate of this issue that you have created [here](https://github.com/NVIDIA/tensorrt-inference-server/issues/855).  I am afraid you have to do as mentioned in the comment [here](https://github.com/NVIDIA/tensorrt-inference-server/issues/855#issuecomment-553210106). Thats the only fix as of now.

Also please note that this is not a tensorflow issue.  Thanks!

[2019-12-09 23:45] ezhulenev commented on #23847
I was able to measure 10-15% performance regression with a batch size 4 on a single V100 GPU (larger batch OOMs). V100 has faster (30%-50%) convolutions (and conv gradients) in NCHW data format, and layout optimizer correctly swaps all convs from default NHWC to NCHW in this model, however it seems that all the extra transpose nodes are killing all the conv gains.

Looking at the executed graph an

[2019-12-09 23:52] ymodak commented on #34229
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-09 23:52] #34229 closed

[2019-12-09 23:53] sanjoy commented on #34004
Can you please attach the logs that TensorFlow generated?

[2019-12-09 23:56] gowthamkpr commented on #34314
Closing this issue as it has been inactive for more than 3 weeks. Please add additional  comments and we can open this issue again. Thanks!

[2019-12-09 23:56] #34314 closed

[2019-12-09 23:58] ymodak commented on #34707
Required pip version is 19.0 or later for TF 2.0.0
See https://www.tensorflow.org/install/pip?lang=python3#system-requirements

[2019-12-10 00:11] ymodak commented on #34927
Closing this issue since its resolved. Thanks!

[2019-12-10 00:11] #34927 closed

[2019-12-10 00:12] jhallard commented on #34976
did you just skip all of the wonderful templating to file this issue?

[2019-12-10 00:17] aselle commented on #34698
How are you adding it to your path?

[2019-12-10 00:22] gowthamkpr commented on #34078
Please find the github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/4b65b08bc4676a2d04927a1ec594f6df/copy-of-training_loops.ipynb). Thanks!

[2019-12-10 00:26] gowthamkpr commented on #34088
@canesqui I am gonna close this issue as this issue is being tracked here(#34451)

[2019-12-10 00:26] #34088 closed

[2019-12-10 00:29] gowthamkpr commented on #34029
@BolunHan Did @deaputri comment help you solve the problem?

[2019-12-10 00:31] amajiration commented on #34976
Wonderful templating? I don't follow

[2019-12-10 00:39] gowthamkpr commented on #34355
@acseckin Can I close this issue as it has been solved. Thanks!

[2019-12-10 00:39] Keepmoving-ZXY commented on #33871
No, I think there is no related to configuration of TensorFlow, I think the target `ring_reducer_test` is defined as private, not public, so I can't build the `ring_reducer_test` independently. I can see `test_main.cc` in `tensorflow/core/platform` but there is no instructions about how and when to run it. Could you tell me how to run tensorflow's c++ testcase?

[2019-12-10 00:41] mixxen commented on #34355
Also just a note, I saw the error again when running another piece of code. Upgrading CUDNN solved it:

```sudo apt-get install --no-install-recommends libcudnn7=7.6.2.24-1+cuda10.0```

[2019-12-10 00:53] mihaimaruseac commented on #34976
See https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE.md

Whenever a new issue is created, you get that text already included in the large text area and you are supposed to fill in all those details as well as post a descriptive title, not just a copy paste of the error.

[2019-12-10 00:53] jhallard commented on #34976
when you file an issue you have to select an issue type and then fill out a template for that issue. Here you just seemed to have dumped a stack trace

[2019-12-10 01:01] amajiration commented on #34976
oh, I'm sorry. I'm new to github and haven't fully understood it.

[2019-12-10 01:24] world4jason commented on #19762
same question here

[2019-12-10 01:30] jsimsa commented on #19762
See https://github.com/tensorflow/community/pull/5/files?short_path=df3302a#diff-df3302ad45d4c94d919eefaefa059780.

[2019-12-10 01:37] kgizdov opened #34980 "Missing symbols from C++ API"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): stock example
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ArchLinux x86_64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command

[2019-12-10 01:38] tonussi commented on #8630
Try transforming your variables. I.e. natural log.

[2019-12-10 01:48] xieydd commented on #34720
@MeghnaNatraj Thanks for your Detailed explanation， i will try after the pr merged;
Now my compromise solution is:
[code]

[2019-12-10 02:06] mlinxiang commented on #34814
sad to get nothing from adb logcat

[2019-12-10 02:38] CasiaFan commented on #34615
The official model weights should be downloaded and unzipped first. Here is
the link:
http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v2_coco_2018_03_29.tar.gz

gowthamkpr <notifications@github.com> 于2019年12月10日周二 上午6:12写道：

[2019-12-10 02:43] quangbk2010 opened #34981 "[Java-tensorflow-seed] Restoring saved model with dropout applied from java program"
**This is my first issue, and I read the guide to post. I am not sure whether it is a new feature request. Otherwise, please correct me.**

I have a pre-trained model with dropout applied and I want to restore it from java program.

With my application, in a inference session, I need to turn on dropout and repeat feeding input to the model multiple times and get an array of predictions. Another fe

[2019-12-10 03:14] akkaze opened #34982 "Can I train with keras float16 and convert it to tensorflow-lite float16 model"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2019-12-10 03:42] abdou31 commented on #33941
No .
Because my problem is related to regression not classification

[2019-12-10 03:42] hgffly opened #34983 "ValueError: tf.function-decorated function tried to create variables on non-first call"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or b

[2019-12-10 03:47] leiiiooo commented on #27753
hello @ymodak  any answers? how you solve this question

[2019-12-10 04:13] johnght commented on #33178
Again, confirm that TimeDistributed is the culprit. In my case, tf-nightly breaks my model. Solved the problem by writing a custom for-loop in subclassed model rather than using TimeDistributed. But this bug has to be fixed for those using non-subclassed model.

[2019-12-10 04:14] markhyro123 commented on #22300
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Robuca\Anaconda3\envs\finalthesis\lib\site-packages\tensorflow\__init__.py", line 24, in <module>
    from tensorflow.python import pywrap_tensorflow  # pylint: disable=unused-import
  File "C:\Users\Robuca\Anaconda3\envs\finalthesis\lib\site-packages\tensorflow\python\__init__.py", line 59, in <module>
    f

[2019-12-10 04:29] oanush commented on #34957
@haolujun ,
Can you please refer this [link](https://www.tensorflow.org/api_docs/cc#sparse_ops) and let us know if it helped? Thanks!

[2019-12-10 05:10] oanush commented on #34933
@MayhemGang ,
Can you provide a standalone code to reproduce the error reported here?Thanks!

[2019-12-10 05:17] oanush commented on #34962
@kiflowb777 ,
Can you share a standalone code to reproduce the error reported here?Thanks!

[2019-12-10 05:20] monilshah98 opened #34984 "DLL Load Failed in tensorflow-gpu"
Whenever i try to run my python script, i keep getting this error. My environment specifications are:

Python: 3.7.4
CUDA: 9.0
Tensorflow-gpu: 1.14.0

Error:

Traceback (most recent call last):
  File "O:\WinPython\WPy64-3741\python-3.7.4.amd64\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "O:\W

[2019-12-10 05:29] abattery commented on #30222
Hello @Oktai15, now the direct support for reciprocal is ready. FYI, https://github.com/tensorflow/tensorflow/commit/df41bbafb50e1ea99404257cf7fa6f60bd063b5f

[2019-12-10 05:56] ravikyram commented on #34952
@zxgm

Which protobuf version you are using?.Request you to check using `$ pip show protobuf` . Request you to uninstall by using `pip uninstall protobuf` and try installing  `pip install protobuf==3.8 ` and see how it progresses. Thanks!

[2019-12-10 06:02] ravikyram commented on #34950
Will it be possible to share minimal standalone code or Colab link to reproduce the issue in our environment.It will be helpful for localizing the issue faster.Thanks!

[2019-12-10 06:22] ravikyram commented on #34947
I have tried on colab with TF version 2.0,2.1.0-dev20191013,2.1.0-rc0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/4a1b6e066c3e50b9011e86cc0213475d/untitled455.ipynb). Thanks!

[2019-12-10 06:23] jaeyoo commented on #32206
Hi. I reproduced the same result in TF==1.15 and I found out that the pure TF model conversion succeeded if removing optimization options & adding Flex op options like this:

[code]

Could you check it on your side?

[2019-12-10 07:04] WZMIAOMIAO commented on #34950
@ravikyram  Hello,
**first, I train my resnet101 network, then save the weights using .h5 format.**
[code]

**second, I just simply load model weights( .h5 format).**
[code]
if you try to load model weights( .h5 format) that have bn layers, maybe meet this bug.

[2019-12-10 07:09] showintime opened #34986 "how to understand " Do not call this op with the output of `softmax`, as it will produce incorrect results. ""
So why?
[tf.nn.softmax_cross_entropy_with_logits_v2](https://github.com/tensorflow/tensorflow/blob/r1.15/tensorflow/python/ops/nn_ops.py#L3108-L3224)

[2019-12-10 07:10] gadagashwini commented on #34760
@sarthakforwet, Could you provide the code snippet with only Tensorflow, indeed it will hep us to analyze the issue faster.Thanks!

[2019-12-10 07:31] Cospel commented on #34454
I am not sure if this is working in 2.1rc, because right now there is another bug #33870 which should be solved before.

[2019-12-10 07:33] gadagashwini commented on #34485
Closing since its resolved. Please feel free to open if issue still persists. Thanks!

[2019-12-10 07:33] #34485 closed

[2019-12-10 07:48] gadagashwini commented on #34496
I could replicate the issue with Tenosrflow 2.0 and 2.1-rc0.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/8b0694efd70cde49845e2c8745e9610e/untitled296.ipynb). Thanks!

[2019-12-10 07:51] terryheo commented on #33959
Let me close this since it's working well now.

[2019-12-10 07:51] #33959 closed

[2019-12-10 07:51] gadagashwini commented on #34636
@ibrahimLearning, Thanks for the complete code. Will it be possible to share the minimal code snippet to reproduce the reported issue. Thanks!

[2019-12-10 07:57] gadagashwini commented on #34819
@gramce, Glad it fixed. Please provide the complete standalone code to reproduce the issue. Thanks!

[2019-12-10 08:05] yeyupiaoling opened #34987 "The quantized model has low accuracy on Android"
I use these code `https://github.com/tensorflow/models/tree/master/research/slim` train mobilenet V2 model. Then I freeze graph `mobilenet_v2.pb`. The last run this command to get  tensorflow lite model.
[code]

[code]
**But the accuracy of the results is very low.**

The accuracy of the non-quantized model did not decrease.

[2019-12-10 08:29] bilalsoomro commented on #34873
@impjdi Here's a simple example of a CNN that causes a segfault when it is converted to F16 for TFLite. Maybe this could help useful in debugging. I don't see anything wrong with the network itself.

[code]

Running this "my_f16_cnn.tflite" model on the device with the GPU Delegate will cause the app to crash.

[2019-12-10 08:36] gadagashwini commented on #34984
@monilshah98,
Does your CPU support AVX instruction sets?
Check, MSVC 2015 redistributable update 3. It is listed here under windows:
https://www.tensorflow.org/install/pip.
And also make sure you have installed cuDNN 7.4. Thanks!

[2019-12-10 08:38] tisma opened #34988 "whl is not a supported wheel on this platform"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint 19.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): checked out from git, tag r1.15
- TensorFlow version: 1.15
- Python version: python 3.6.8
- Installed using virtualenv? pip? conda?: No
- Bazel version (

[2019-12-10 08:41] gadagashwini commented on #34942
I could replicate the issue with Tf 1.15.
Please take a look at the [gist](https://colab.sandbox.google.com/gist/gadagashwini/9f8ff40136953326a476bfadc15f1e46/untitled297.ipynb). Thanks!

[2019-12-10 08:47] oanush commented on #34936
Tried running the code in colab, did not see any performance issue. kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/93f113270cda46e525b36721366afa79/34936.ipynb) of colab.Thanks!

[2019-12-10 08:49] chuanqi129 commented on #34963
fixed. Thanks @mihaimaruseac and @byronyi

[2019-12-10 08:50] #34963 closed

[2019-12-10 08:51] ravikyram commented on #34850
I have tried on colab with TF version 2.0 beta, 2.0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/304d34ec814dbbf13ed63b5a23416ab1/untitled458.ipynb). Thanks!

[2019-12-10 08:55] CaptainTrojan commented on #34940
Downgrading to python 3.7.4 and building from source with the same config as above works as well. The issue will most likely be with python 3.8.0.
Used ./configure:

Please specify the location of python. [Default is /usr/bin/python]:

Found possible Python library paths:
  /usr/lib/python3.7/site-packages

Please input the desired Python library path to use.  Default is [/usr/lib/python3.7/site-p

[2019-12-10 09:06] terryheo commented on #34525
@ghiles-bgp , was your intention making fully connected layer with 40 x 300 input with 1 batch?

The error happens at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/common/model_builder.cc#L1206 since input shape is 40 x 300 and batch size is 1 while width of weights is 300. @impjdi , could you confirm the current GPU delegate handles multi dimensional input?

[2019-12-10 09:08] zhangjh915 opened #34989 "Dataset from TFRecord has unknown shapes."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-12-10 09:18] koodzi commented on #34642
Below I am sharing output (audio spectrogram) of the app for the same input and parameters.
The model should denoise the audio and on CPU (upper sample) it is doing its job. And on GPU (lower sample) it is different worse (does not clear upper frequencies).

![denoised](https://user-images.githubusercontent.com/18346395/70513871-c07db500-1b32-11ea-8f07-14275c4f4cd6.png)

TFLite version 1.15 compil

[2019-12-10 09:26] ravikyram commented on #34909
I have tried on colab with TF version 2.0  and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/e5cf82bc5c057b7a9419d8a9b033dbb3/untitled459.ipynb). Thanks!

[2019-12-10 09:26] Athul8raj commented on #34983
You should call the train_step model by wrapping it with another function and call it 2 number of time like mentioned in the related issue thread.
https://github.com/tensorflow/tensorflow/issues/27120#issuecomment-540071844
This should solve your issue.

[2019-12-10 09:32] oanush commented on #34866
I was able to replicate issue with given code in local for TF-1.14. Thank you!

[2019-12-10 09:41] zxgm commented on #34952
Thanks a lot! I sovled the problem.

[2019-12-10 09:49] Krutang opened #34990 "Tensorboard: Can'r reach localhost:6006 after "fuser 6006/tcp -k""
Hi!

I just installed Tensorboard and everything worked fine. I noticed that the old loss-curves where kept in the plots and after reading online I took the suggestion to kill the process by:

fuser 6006/tcp -k

When I nor run Tensorboard and get:
Reusing TensorBoard on port 6006 (pid 48869), started 1:40:42 ago. (Use '!kill 48869' to kill it.)
Please visit http://localhost:6006 in a web browser.

[2019-12-10 09:51] gswebspace opened #34991 "_pywrap_tensorflow_internal.so: cannot open shared object file: No such file or directory"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): [Ubuntu 18.04.3 LTS](https://w

[2019-12-10 10:06] Krutang commented on #34990
Please delete this, I didn't follow the new issue template and it does seem to work if don't run it via ipython.

If the problem persists I'll resubmit according to the template.

Sorry!

[2019-12-10 10:07] gswebspace commented on #34991
Also sharing the Bazel logs as attachment.

[Bazel logs.zip](https://github.com/tensorflow/tensorflow/files/3944213/Bazel.logs.zip)

[2019-12-10 10:10] nauyan opened #34992 "How to convert ByteBuffer to Bitmap Image?"
I am working on creating an image super-resolution application that uses a TensorFlow Lite model. The model gives the output Image in the form of ByteBuffer and I convert the ByteBuffer to Bitmap. Next, I display this Bitmap but nothing shows up. The code I am using can be seen below:

[code]
Please advise me what I am doing wrong here.

[2019-12-10 10:17] Athul8raj commented on #34947
Just declare the code to be run eagerly explicitly by using the statement
"_tf.config.experimental_run_functions_eagerly(True)_" .That should solve the issue. But please note that there will be significant performance hits when you do this as you scale the model/data

[2019-12-10 11:02] techguyzz opened #34996 "Compilation issue on Example program of TF Lite"
**System information**
- OS Platform and Distribution : Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:Desktop
- TensorFlow installed from (source or binary): Source https://github.com/tensorflow/tensorflow.git
- TensorFlow version: Release 1.15.0
- Python version:
- GCC/Compiler version (if compiling from source): gcc (Ubuntu 7.4.

[2019-12-10 11:03] manish-kumar-garg opened #34997 "ValueError: You are trying to load a weight file containing 5 layers into a model with 0 layers"
I have defined a custom model and custom train using tf2.0
Not able to load weights of the model from checkpoint or .h5 file.

[2019-12-10 11:21] techguyzz opened #34998 "Classification of Forum for Microcontrollers Vs Android/other OS Apps"
Hi Experts,

I found the issues reported are mixed of platforms used like Desktop, Android, micontroller and other OS. Is there feature to classify it only based on micro-controller based APPS.

It will help better understand the types of problems and issues.

[2019-12-10 11:38] hardianlawi commented on #33357
Hi, I encountered a similar issue when using `DenseFeatures` as my initial layer.

[2019-12-10 11:49] BuiNgocHai commented on #34610
Here is my model
[code]

[2019-12-10 12:00] Athul8raj commented on #34944
Error is self-explainatory. If running under eager mode ,tensorflow op will check if the inputs are of type "_tensorflow.python.framework.ops.EagerTensor_" and keras ops are implemented as DAGs. So the inputs to the eagermode will be of "_tensorflow.python.framework.ops.Tensor_" and this throws the error

You can change the input type to EagerTensor by explicity telling tensorflow to run in eager

[2019-12-10 12:18] ArtyomMashkin commented on #33511
Okay, three questions:
1) If I will not change the graph for now, anyway I can make my code faster, if I will find and fix this error `ModifyGraphWithDelegate is disallowed when graph is immutable.` right?
2) Is it only my responsebillity right? I mean for each case, this error can appear for own reasons and only I am able to fing the cause
3) In general, should I use only `interpreter.modifyGraph

[2019-12-10 12:33] #33130 closed

[2019-12-10 12:33] tensorflowbutler commented on #21111
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-10 12:33] tensorflowbutler commented on #33130
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-12-10 12:33] tensorflowbutler commented on #34475
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-10 12:54] hgffly commented on #34983
@Athul8raj , thanks for replying. It did work. But I also wonder it's an official solution or just an workaround. It seems like that many people face the same issue but it's not documented in the tutorial. If it's a bug, will it be fixed so that I could write the codes in an easier way. I'm just a newbie to DL and making a difficult decision between TF2 and pytorch. Thanks

[2019-12-10 12:56] liujian19911023 commented on #26325
does release less than 2.0 has this feature？

[2019-12-10 13:09] tisma commented on #34988
It looks like the problem is with name of wheel package. I renamed original name
tensorflow-1.15.0-cp36-cp36m-linux_x86_64.whl
tensorflow-1.15.0-cp36-cp36m-linux_x86_64-**optimized**.whl

But it looks like the platform requirements are taken from the wheel name!
https://stackoverflow.com/a/52661110/2663593

[2019-12-10 13:09] #34988 closed

[2019-12-10 13:46] remydubois commented on #34909
Actually this issue is closely related to [#13932](https://github.com/tensorflow/tensorflow/issues/13932).

Mrry answered clearly: https://github.com/tensorflow/tensorflow/issues/13932#issuecomment-341263301
Basically this is not a bug but an unavoidable behavior, which can not be fixed.

Closing the issue thereof,

Thanks for your time

[2019-12-10 13:46] #34909 closed

[2019-12-10 13:49] isaacgerg commented on #32564
Any update? Does this work in tf 2.0?

[2019-12-10 14:13] UdiBhaskar commented on #34944
can we change any code to work without "tf.config.experimental_run_functions_eagerly(True)" ? @Athul8raj

[2019-12-10 14:41] UdiBhaskar commented on #34997
@manish-kumar-garg can you please post some sample code of yours about how are you loading your model.

[2019-12-10 15:45] Athul8raj commented on #34983
I think it should be solved in the future releases of TF 2.0.x. Right now I think it's a workaround ,that's why that issue is still open. Alextp who is mentioned in that thread is a core Tensorflow developer, so I guess the fix should be released soon :)

[2019-12-10 15:59] viswanath27 commented on #34888
Hi Group, any work around here, stuck with this issue for a while.

[2019-12-10 15:59] hgffly commented on #34983
I have tried the latest version TF2.1.0rc today, but it still raises errors. Maybe we need to wait longer... XD

[2019-12-10 16:09] Athul8raj commented on #34944
For the first part of your question, yes it is possible to run in Eagermode without that statement, but instead of the fit function from keras you have to calculate gradients with the help of a gradient tape which will take care of loss gradient and track all the trainable variables

For the second part, I am not sure why you are getting the error, because I am not facing that .
Can you specify th

[2019-12-10 16:40] UdiBhaskar commented on #34944
Below is my system information.
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Binary
- TensorFlow ve

[2019-12-10 16:48] fonnesbeck opened #35002 "Inconsistent loading of saved model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian Linux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7.3

**Describe the current behavior**

I have several models saved using `model.save` as hdf5 objects. However, when I try to load them from a script via:

[code]

I get an I/O erro

[2019-12-10 16:52] karmel commented on #34308
Thanks @kiunthmo for the request. I am wary of complicating the code for the hook, and we are unlikely to have cycles for this, but we could consider a PR if you send one.

[2019-12-10 16:54] karmel commented on #34078
Thanks, @yuqcraft for the report. This seems to be an issue with the code rather than an issue with the optimizer. Please post to [StackOverflow](http://stackoverflow.com), where there is a larger community to answer such questions.

[2019-12-10 16:54] #34078 closed

[2019-12-10 17:02] yurivict opened #35003 "The label_image example fails on VGG19 network"
I call it with the 224x224 image of orange:
[code]
and it outputs this:
[code]

It might be that input normalization is a problem, but ```label_image -h``` doesn't say anything about normalization.

[2019-12-10 17:29] SYeter commented on #34833
Hello again.
The reason is system language, now I changed my system language to English and it is compiling right now. I've seen that solution another Github issue I don't remember which one. Thank you for help.

[2019-12-10 17:29] #34833 closed

[2019-12-10 17:40] ringdk commented on #23542
@AshwinAKannan @sitting-duck From my investigations on 1.15, it looks like TF moved away from pulling symbols from a named def file (such as tf_exported_symbols_msvc.lds), and uses a procedure to automatically compile a dummy dll, poll that to extract all symbols, then filter that (see def_file_filter.py.tpl) to reduce the symbols below the 64k number of exportable symbols limit.

The TF_EXPORT tr

[2019-12-10 17:44] battall commented on #33853
i have the same problem, how did you fix it?

[2019-12-10 17:46] impjdi commented on #33511
1.  Well depends.  TFLite GPU inspects the graph, and the moment we see an unsupported op, we'll say "nope, can't do this anymore", and will delegate the remaining parts to CPU.  If the first op is the unsupported op, then the entire network will just run on the CPU without any GPU accelartion.

2. Yes.

3. Yes, you don't need SSBO.  That's for the advanced use-case when you have camera input (GPU

[2019-12-10 17:57] enorkus commented on #34804
Tried reproducing again after some time and cannot do it. Might have been a configuration problem after all.

[2019-12-10 17:57] #34804 closed

[2019-12-10 17:59] jvishnuvardhan commented on #34956
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-12-10 17:59] #34956 closed

[2019-12-10 18:11] UrosOgrizovic commented on #25403
@Edremelech Thank you!
After renaming cublas64_10.dll to cublas64_100.dll, my program runs as well.

[2019-12-10 18:25] rxsang commented on #34932
The reason is because in TPU case is a 2VM environment (client + Cloud TPU), there are lots of things happening in the initialization time. E.g. in experimental_connect_to_cluster we will enter into the tpu worker device scope, because we expect everything to happen on the tpu worker rather the coordinator/client, otherwise the performance may be bad. Thus we actually expect user always put the TP

[2019-12-10 18:35] MikeOfZen commented on #34932
@rxsang , Thank you for the information.
I don't doubt that the interaction between the TPU VM and the client VM is very complicated. but that was my meaning of 'implicit' scope.
In this scenario, I believe it would be better to force all commands to run within an explicit scope, with the pythonic `with` idiom, this greatly reduces the chance for strange errors that fall between the cracks of the

[2019-12-10 18:42] chahld opened #35004 "BinaryCrossentropy incorrect partial reduction of loss when reduction='none'"
**System information**
 custom code
- OS Platform and Distribution
ubuntu 18.04
- TensorFlow installed from (source or binary):
pip install tensorflow-gpu
- TensorFlow version (use command below):
v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version:
3.6.9

**Describe the current behavior**
BinaryCrossentropy does a reduction on the last dimension even if you pass in reduction='none'

**Describe the expe

[2019-12-10 18:50] rxsang commented on #34932
Your observation is correct. There are two scopes here: the strategy scope and the default device scope. For strategy scope, we expose it to the user and would like user to handle that. For default device scope, currently it is set in tf.config.experimental_connect_to_cluster(resolver), and you can always set tf.config.experimental_connect_to_cluster(resolver, make_master_device_default=False) to

[2019-12-10 18:58] jvishnuvardhan commented on #34868
@YAIsaienkov I created a colab with your code and ran it using new experimental converter as follows
`converter.experimental_new_converter = True`

Everything worked without an issue. I am attaching the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/469e50fe41de23a93c4ae62de67b6770/untitled695.ipynb) for your reference. Thanks!

Please close the issue if this resolved your issue. Than

[2019-12-10 19:02] wangpengmit commented on #26325
It's available since 1.14

[2019-12-10 19:15] ymodak commented on #34901
@everdark This is fixed with TF 2.1.0-rc0 . You can successfully save and load models in ```h5``` format.

[2019-12-10 19:15] #34901 closed

[2019-12-10 19:17] MikeOfZen commented on #34932
@rxsang
I think some of it comes down to miscommunication.
I'm a relatively new TF user, joined after 2.0, so I may be unaware of some of the intricacies of TF, especially in distributed settings. I followed the documentation guides, and though I might have missed it, I haven't seen such an expectation ("the expectation is users should always do TPUStrategy creation and initialization first."). I

[2019-12-10 19:33] gowthamkpr commented on #34355
I guess this should be updated in the documentation especially [here ](https://www.tensorflow.org/install/source#gpu)so  there is no confusion progressing furthur.

[2019-12-10 19:41] MayhemGang commented on #34933
Unable as my code mostly draws on datasets. Would an entire zip file help?

[2019-12-10 19:43] ymodak commented on #34888
You need cuda 10.0 for TF 2.0 and your cuDNN version should be ```>=7.4.1```
See https://www.tensorflow.org/install/gpu#software_requirements

[2019-12-10 19:46] gowthamkpr commented on #34440
@nikochiko Can you please attach a colab gist. Thanks!

[2019-12-10 19:48] jvishnuvardhan commented on #34900
@roccqqck I created your model and loaded again without any issue. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/d067175a157d12ac60e4f542909fe9ee/untitled696.ipynb). I have used `tf-nightly` and saved model in "tf" format. Thanks!

Please close the issue if this was resolved for you. Thanks!

[2019-12-10 20:12] mihaimaruseac commented on #34933
Unfortunately no. You need to provide a minified example, not a full code, to help developers narrow down the problem. It's similar to finding a spelling mistake in a page versus finding it in all the books in a city.

[2019-12-10 20:15] impjdi commented on #34814
@jdduke

Do you have guidance on how one can retrieve the TFLite `context->ReportError()`?

[2019-12-10 20:19] roccqqck commented on #34900
if i use tensorflow 2.0.0, it showed error.
but if i use tfnightly like u did, it worked fine.

however, h5 format still do not work.

should i close it?

[2019-12-10 20:58] s-afanasiev commented on #19584
hi! can i built tensorflow 2.0 without AVX for windows with docker-tensorflow-builder ?

[2019-12-10 21:23] AndreyPlotkinOr commented on #24974
I tried to build a debug version now and got the same problem.
Windows 10, TF 1.15

bazel build -c dbg --strip=never --compilation_mode=dbg --config=opt --config=cuda --copt=-nvcc_options=disable-warnings --define=no_tensorflow_py_deps=true -s --explain=explain.txt --verbose_explanations --subcommands=pretty_print //tensorflow:tensorflow_cc

error C4716: 'tensorflow::io::GetTempFilename': must ret

[2019-12-10 21:25] AndreyPlotkinOr commented on #24974
@Oceania2018 Please reopen the issue, it's not solved.
I need a TF in debug mode with full debug symbols, and it's the only way to compile it.

[2019-12-10 21:29] m4recek commented on #34707
Hi, I can confirm this is problem with Google Cloud Function. That article is just wrong and should not exists...

They are still running on PIP 18.0, thats why Tensorflow 2.0.0 (and any newer software) cannot be installed. Obviously, same will be true for TF 2.1.0 when it will be released.

Whats worse according to private support they have no plan to update and marked it as "feature request", so

[2019-12-10 21:29] #34707 closed

[2019-12-10 22:08] Artem-B commented on #34428
The custom op most likely requires building it in the same environment where TF itself was built -- the headers rely on all sorts of macros that may be set differently depending on TF build configuration.
Custom op build instructions here https://github.com/tensorflow/custom-op  use docker containers provided by TF for that purpose.

From the FAQ on that page:

[2019-12-10 22:09] jvishnuvardhan commented on #34834
@chahld I am not sure why you are trying to use `relu = tf.keras.activations.get('relu')`. I tried to define `relu` in `def` method and used it. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/de45a4c21e719d322b0538d9ab867a9b/34834.ipynb). Thanks!

Please close the issue if it was resolved for you. Thanks!

[2019-12-10 22:24] ymodak commented on #34940
We can expect python 3.8 support with TF 2.2
See https://github.com/tensorflow/tensorflow/issues/33374#issuecomment-562663993

[2019-12-10 22:27] byronyi commented on #34428
I guess that is so, until Op registration is implemented in C API.

[2019-12-10 22:32] aselle commented on #34444
Could you please try this on the nightly which you can install with pip install --upgrade tf-nightly (after uninstalling the regular version). It works for me on the nightly but not on the release version.

[2019-12-10 22:37] mdanatg commented on #34940
There is a compatibility issue with 3.8 in autograph itself that will be resolved in 2.2 as well: #34433

[2019-12-10 23:00] fonnesbeck commented on #35002
I notice that if I use the SavedModel format rather than HDF5, this issue does not come up, however the model takes a lot longer to load and run, so I'd prefer to get HDF5 working.

[2019-12-10 23:22] ymodak commented on #35002
@fonnesbeck  You may try using TF 2.1.0.rc0 version for H5 model saving and loading.

[2019-12-10 23:26] njeffrie commented on #33968
It looks like this has been fixed by changing signbit to std::signbit.  I verified building with the same command locally. Closing for now - please re-open if this remains an issue for you.

[2019-12-10 23:26] #33968 closed

[2019-12-10 23:30] jvishnuvardhan commented on #34900
@roccqqck we still support `h5` format. But, default model saving format is `tf` and this format works well with most of the new functionality. Thanks!

[2019-12-10 23:32] njeffrie commented on #34996
I've tried locally and am not seeing the same issue you see.  I'm wondering if one of the downloads may have failed for you.
Please try running
make -f tensorflow/lite/micro/tools/make/Makefile clean_downloads
make -f tensorflow/lite/micro/tools/make/Makefile clean
make -f tensorflow/lite/micro/tools/make/Makefile test_hello_world_test

[2019-12-10 23:33] nectario opened #35007 "Attention/AdditiveAttention Issue"
I have the following functions to return two models:

[code]

And the functions are called:
[code]
#####

I get the following issue:

[code]

[2019-12-10 23:36] terryheo commented on #34833
Thanks for the update, @SYeter Could you share what was your system language before?

[2019-12-10 23:42] njeffrie commented on #33464
I notice you're using OPTIMIZE_FOR_SIZE in your converter optimizations.  I am wondering if you are inadvertently creating a hybrid quantized model (which we do not support on Micro).

Can you try uploading your TFLite model to https://lutzroeder.github.io/netron/ to check if both the weight tensors and activation tensors are quantized?  If only the weights are quantized, you likely have a hybrid

[2019-12-10 23:44] impjdi commented on #34873
As you said, this didn't work as expected.  Some error around

So... I tried to get rid of the data_type 10 which is float16.  In your script, I changed it to:

Then I ran into:

Let's ignore the FULLY_CONNECTED version check for the moment.

`ERROR: TfLiteGpuDelegate Prepare: CONV_2D: Unsupported data type for float32 tensor` is coming from the fact that the `tensor.type = kTfLiteInt8`.  Unfortun

[2019-12-10 23:46] aselle commented on #34072
tf.app is a v1 feature. Use tf.compat.v1.app instead.

[2019-12-10 23:46] #34072 closed

[2019-12-10 23:49] longmalongma commented on #25403
hello，what is your computer system？windows or ubuntu？

------------------ Original ------------------
From: Uros Ogrizovic <notifications@github.com&gt;
Date: Wed,Dec 11,2019 2:11 AM
To: tensorflow/tensorflow <tensorflow@noreply.github.com&gt;
Cc: longma <1442342449@qq.com&gt;, Comment <comment@noreply.github.com&gt;
Subject: Re: [tensorflow/tensorflow] Eager Execution error: Blas GEMM launch fail

[2019-12-10 23:49] aselle commented on #32249
TensorFlow lite for fixed shape inference minimizes mallocs needed when running repeated inferences. In cases of fixed shapes after AllocateTensors() there should be no more mallocs. However, malloc is thread safe,  so you can just try and make sure it works well for your use case.

[2019-12-10 23:49] #32249 closed

[2019-12-10 23:50] robieta commented on #34907
That's not good.

Thanks for providing such a simple and clean repro of the issue. You are correct; passing `experimental_relax_shapes` when we make the function (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/training_v2_utils.py#L122) resolves the issue. Would you like to make the fix PR? (Otherwise I'm happy to do it.)

[2019-12-10 23:50] aselle commented on #31831
Glad your issue is resolved. Thanks @frreiss for the quick answer.

[2019-12-10 23:50] #31831 closed

[2019-12-10 23:55] aselle commented on #31103
There are many precompiled binaries for various platforms. See the full guide
https://www.tensorflow.org/lite/guide/

However, here's more links

If you just want to run it on raspberry pi or linux, then you can already do a pip install
https://www.tensorflow.org/lite/guide/python
which can be built by using  from the source tree with these instructions
https://github.com/tensorflow/tensorflow/blo

[2019-12-10 23:55] #31103 closed

[2019-12-11 00:09] mrry commented on #30356
Reassigning this to @gunan, as I'm not familiar with the current state of the Windows build.

[2019-12-11 00:12] jvishnuvardhan commented on #34610
@BuiNgocHai Can you please provide a standalone code. I cannot run the current code you shared. Thanks!

[2019-12-11 00:18] #28846 closed

[2019-12-11 00:20] ymodak commented on #28846
@Akoopie Please post a new issue describing your problem and provide all relevant information from the template. Thanks

[2019-12-11 00:40] alanpurple commented on #34429
still failed with tensorrt,  no problem without tensorrt

[2019-12-11 00:40] rchao commented on #33030
Thanks for reporting @gdudziuk. Would you mind opening a new issue describing what have been fixed and what have not?

[2019-12-11 00:44] impjdi commented on #34873
Found out about the quantized weights:

`converter.optimizations = [tf.lite.Optimize.DEFAULT]`

was replaced with:

`converter.optimizations = []`

Then I get:

I will find out what's failing.

[2019-12-11 00:45] jvishnuvardhan commented on #34677
@bard1988 Can you please respond to my earlier response? Thanks!

Please close the issue If this was already resolved. Thanks!

[2019-12-11 00:55] njeffrie commented on #31271
It looks like this is fixed in https://github.com/tensorflow/tensorflow/commit/7645ab725f5b8ce92031e761a6fe0bbcf596b2ce.

[2019-12-11 00:55] #31271 closed

[2019-12-11 01:02] njeffrie commented on #31035
I think we support all the ops you need for the model you posted.  The best way to evaluate this is to train your model, convert to a micro-compatible TFLite model using the [TFLite converter](https://www.tensorflow.org/lite/convert/python_api), then follow the instructions [here](https://www.tensorflow.org/lite/microcontrollers/build_convert) to run the model on a microcontroller platform like Sp

[2019-12-11 01:02] #31035 closed

[2019-12-11 01:09] ezhulenev commented on #23847
The problem is that NASNet model has mostly 1x1 convolutions, and in NHWC format they are computed as a matrix multiplication, in NCHW they go though cuDNN convolution, and it's ~30-50% slower. I'll try to come up with a better strategy for layout swapping,  though it might be problematic, because currently we can only have a single "target" data format for the graph.

[2019-12-11 01:17] glevenc opened #35008 "convert to tflite failed using tf.lite.TFLiteConverter.from_saved_model and validate failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-12-11 01:22] jvishnuvardhan commented on #34705
@frank1789 I think version mismatch is the root-cause. You have installed `TF1.15` through binary and those binaries are built using `cuda 10` where as you have installed `cuda9.0`. Two ways you can resolve this issue.
1. Easy and Best Approach: uninstall `cuda9.0` and install `cuda10.0`
2. Build `TF1.15` from source (not binary) so that, it uses `cuda9.0`

Thanks. Please close the issue if it is

[2019-12-11 01:22] #34812 closed

[2019-12-11 01:29] njeffrie commented on #30953
Apologies for the delay and thanks for your feedback.  I read the article and you made a lot of good points for us to improve on.  Recently we have been digging into performance optimization, and working with ARM to land CMSIS-NN optimized kernels for key ops (conv, depthwise_conv, fully_connected).

The version of TFLite Micro you were using had uint8 CMSIS-NN optimizations crafted specifically f

[2019-12-11 01:31] njeffrie commented on #27804
It looks like the original issue has been solved.  Please feel free to re-open in case this is not fully resolved.

[2019-12-11 01:31] #27804 closed

[2019-12-11 02:12] za13 commented on #33918
add `CUPTI` to the `$LD_LIBRARY_PATH` gave the same error of `could not find any cuda.h matching version 9.0 in any subdirectory`

[2019-12-11 02:25] workingloong opened #35010 "Memory leak with tf.py_function in eager mode using TF 2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.14.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0
- Python version: 3.6.3 64bit
- Bazel version (if compiling from source): N/A
- GCC/Compiler versio

[2019-12-11 02:39] #35003 closed

[2019-12-11 02:49] yuqcraft commented on #34078
Hey @gadagashwini,

When I run the github gist, I still got the same error..

---------------------------------------------------------------------------
InternalError                             Traceback (most recent call last)
/usr/local/lib/python3.6/dist-packages/tensorflow_core/python/client/session.py in _do_call(self, fn, *args)
   1364     try:
-> 1365       return fn(*args)
   1366     e

[2019-12-11 02:53] roccqqck commented on #34900
I just found out another issue
the loaded model has no output shape

[code]
[code]
[code]

it showed the same output shape

but the BERTmodel I defined above.

[code]

[code]
[code]

[2019-12-11 03:03] oanush commented on #34990
@Krutang ,
Closing the issue as per your comment, please reopen the issue if it still persists.Thank you!

[2019-12-11 03:03] #34990 closed

[2019-12-11 03:09] sanjoy commented on #34801
Can you please verify that you can run some simple GEMMs through cuBLAS on the Jetson nano using the C++ cuBLAS API?

Also: I personally don't have much experience working with the Jetson nano so it would be nice to pull in someone from NVIDIA here. CC @nluehr

[2019-12-11 03:09] mjwatkins2 opened #35011 "Derivative of pow(x, y) can give nan when x=0 for higher order derivatives"
**System information**
- Have I written custom code: Example provided below
- OS Platform and Distribution: Both Windows 10 and Google Colab
- TensorFlow installed from binary
- TensorFlow version: Both 2.0.0 and 2.1.0-rc0
- Python version: 3.7.4

**Describe the current behavior**
The output of pow(x, y) is not correct for higher order derivatives when x is 0 and when y is other than a single valu

[2019-12-11 03:10] mdanatg commented on #34715
This feature is actually available, just not enabled by default. Here's how to enable it:

[code]

I'll leave this issue open to enable asserts by default, it's something we've been wanting to do for a while.

[2019-12-11 03:19] oanush commented on #34976
@amajiration ,
Please provide us a brief description of the issue being faced with reproducible code and tensorflow version used so that we can help you resolving it, Thanks!

[2019-12-11 03:30] mjwatkins2 opened #35012 "Gradient of matmul in while_loop works when run eagerly but not as tf.function"
**System information**
- Have I written custom code: Example provided below
- OS Platform and Distribution: Both Windows 10 and Google Colab
- TensorFlow installed from binary
- TensorFlow version: Both 2.0.0 and 2.1.0-rc0
- Python version: 3.6 and 3.7.4

**Describe the current behavior**
If I multiply tensors together in a while_loop I can compute higher order gradients when running eagerly, but

[2019-12-11 03:41] rishabh-shrivastava opened #35013 "ValueError while passing a SparseTensor input to the Dense layer."
**System information**
- OS Platform and Distribution: MacOS Mojave
- TensorFlow installed from: conda install tensorflow
- TensorFlow version: 2.0.0
- Python version: 3.6

I have generated a smaller version of my issue:
[code]
Output
`Tensor("my_layer/Identity:0", shape=(None, 32), dtype=float32)`

But if I change `sparse=True`, I get a ValueError:
`The last dimension of the inputs to Dense shoul

[2019-12-11 03:42] MayhemGang commented on #34933
Sigh, I will integrate Mnist I guess

[2019-12-11 03:42] MayhemGang commented on #34933
Will be updated in like a few days, anyone else has hanging issues meanwhile?

[2019-12-11 04:37] techguyzz commented on #34996
Hi Nat,

Its working fine after Executing mentioned steps. I believe it should be download failure of Header file "tensorflow/lite/micro/tools/make/downloads/gemmlowp/fixedpoint/fixedpoint.h"

[2019-12-11 04:37] #34996 closed

[2019-12-11 04:48] aksstar commented on #14247
Upgrading TensorFlow solved the issue.

[2019-12-11 05:02] stchau4work commented on #24828
That's a good catch!!!
I follow the TF gpu guideline and missed to "remove" the libcudnn7 and now it all works for me:
Ubuntu 16
cuda10-0
python3.7.5
Teala P40
TF2.0

[2019-12-11 05:16] s-sajid-ali opened #35014 "Build error due to missing dependency declarations in double-conversion"
**System information**
- OS Platform and Distribution : CentOS-8.0
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0
- Python version: 3.7.4
- Installed using virtualenv? pip? conda?: from source using spack
- Bazel version (if compiling from source): 0.26.1
- GCC/Compiler version (if compiling from source): gcc-7.4.0
- CUDA/cuDNN version: CUDA@10.1.243/cuDNN@7.6.5.3

[2019-12-11 05:48] Athul8raj commented on #34944
Can you provide a collab gist?.

[2019-12-11 05:48] siju-samuel commented on #34604
@haozha111 any help is appreciated!
i implemented as custom operator and now im facing another issue.

output shape of extract_image_patch is 1, 64, 85, 1536
Next layer after extract_image_patch is reshape new_shape=[1,-1,4,4,96], where this error is coming.

[code]
Its quite a long time. please help!!

[2019-12-11 06:01] ravikyram commented on #34989
@zhangjh915

Looks like code is incomplete.Can you please help us with the simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2019-12-11 06:23] ravikyram commented on #34986
@showintime

Can you please go through [link](https://stackoverflow.com/questions/34240703/what-is-logits-softmax-and-softmax-cross-entropy-with-logits) and see if it helps you. Thanks!

[2019-12-11 06:30] ravikyram commented on #34977
I have tried on colab with TF version 2.0,2.1.0-rc0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/75f1faa518035cd06dbdcefbfeb435b1/untitled462.ipynb). Thanks!

[2019-12-11 06:33] terryheo commented on #34926
@TheArheus could you try it again with changing system language to English? I'm wondering if your issue is the same with #34833 or not.

[2019-12-11 06:34] gunan commented on #30356
Yifei is actively working on custom op support on windows.
She may have some updates.

[2019-12-11 06:35] zhangjh915 commented on #34989
@ravikyram Thanks for the reply. I have created a toy program to reproduce the same issue as follows.
[code]

[2019-12-11 06:38] terryheo commented on #26674
I've tested this and couldn't reproduce the issue. @herbakamil , it seems that the issue is fixed now. Please feel free to reopen it if you still have the issue.

[2019-12-11 06:38] #26674 closed

[2019-12-11 06:41] ysleep commented on #4960
Same problem with tensorflow 2.0.0, glibc 2.17 on centos 7.

[2019-12-11 06:45] jtdutta1 commented on #34866
I didn't check myself, but does this issue occur in TF2.0? I'm using TF1.14 only because model compilation makes a dummy call to the loss function which involves empty tensors and there are core tf elements, which in 2.0 are eagerly executed by default, so ends up throwing empty tensor errors.

[2019-12-11 06:57] UdiBhaskar commented on #34944
below are the two links, please check
[error code without tf.function](https://gist.github.com/UdiBhaskar/d7492b7be034db1480db717ceb6e767e).
[Error code with tf.function](https://gist.github.com/UdiBhaskar/613e671d8785538b1380a7f3909899ed)

[2019-12-11 07:04] #34997 closed

[2019-12-11 07:12] Crisescode opened #35017 "tensorflow 2.0 use ParameterServerStrategy error"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**

* **use tensorflow docker hub images:  tensorflow / tensorflow : 2.0.0-gpu**

**Describe the current behavior**

[2019-12-11 07:31] hygkim95 opened #35018 "IdentityN op"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): colab
- TensorFlow installed from (source or binary): colab
- TensorFlow version (or github SHA if from source): 1.15

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.
-> I am using "bert-for-tf2" to load albert_base.
[code]

Include any logs

[2019-12-11 07:39] renjie-liu commented on #34642
can you run on some real dataset and check if indeed we loose some accuracy?

@multiverse-tf don't we have regression test for accuracy?

Thanks,

[2019-12-11 07:44] multiverse-tf commented on #34642
We didn't find any accuracy regression w.r.t. this MobileNetV2 model against tflite head version.

@koodzi as you built the lib against tflite 1.15, could you try the head version and see whether the issue still exists? Also, might instrument your code w/ PrintInterpreterState (i.e. tensorflow/lite/optional_debug_tools.h) to help the debugging? Thx!

[2019-12-11 07:50] TheArheus commented on #34926
I changed my system language to english, and now I have this error:
[code]

[2019-12-11 07:53] foxik commented on #34907
I have created the PR -- however it is just a "raw" change. Maybe some tests are also required? But I do not know to do them.

Also, the PR is against the master, but maybe it should be backported for TF2.1? Otherwise the final TF2.1 will have suboptimal _on_batch methods.

[2019-12-11 08:02] YAIsaienkov commented on #34868
Thank's!
But I have one more question:
Before I convert model I could feed to the model shapes (n, 20, 8), but now only (1, 20, 8). Should it be like that?

[2019-12-11 08:15] terryheo commented on #34926
@TheArheus I guess there is another error before the error. Could you check it? Or can you dump full build log?

[2019-12-11 08:16] foxik commented on #34905
I have also created the trivial pull request which passes `experimental_relas_shapes` to the wrapped bound methods.

[2019-12-11 08:22] bilalsoomro commented on #34992
This is how I convert ByteBuffer to Bitmap. Just convert it to Java and it should work.

[code]

[2019-12-11 08:28] dayangkunurfaizah commented on #24828
Hi all. I am facing the same issue here:

tensorflow-gpu-2.0.0
Ubuntu 18.04
cudatoolkit 10.0
cudnn 7.6.4
cuda 10.0
Nvidia driver 430
RTX 2080

Does anyone know how to downgraded cudnn 7.6.4 to 7.4.1 version? or how do I just maintain the cudnn 7.6.4 version and use another way to solve it? Anyone? Thanks.

[2019-12-11 08:32] ravikyram commented on #34989
I have tried on colab with TF version 2.0,2.1.0-rc0 and was able to reproduce the issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/572ac2bf82b49dcc57cbad82a0ca0e35/untitled463.ipynb) Thanks!

[2019-12-11 08:34] oanush commented on #34722
@R0b4 ,
Is the solution provided by @alexander-travov  resolves the issue ?Please close the issue if it is works fine.Thanks!

[2019-12-11 08:35] oanush commented on #34672
@molo32 ,
Any update on the issue ?Thanks!

[2019-12-11 08:35] oanush commented on #34671
@molo32 ,
any update on the issue ?Thanks!

[2019-12-11 09:04] TheArheus commented on #34926
No, thats all. I tried to build with `build -c opt --verbose_failures //tensorflow/lite:libtensorflowlite.so`:
[code]

[2019-12-11 09:05] hgaiser commented on #34642
Should a new issue be created for the Android issue, or is this considered the same issue but in a different use case? I'm getting somewhat confused with some of these comments:

Are you referring to the difference in accuracy between tf and tflite **on a Pixel 2**? Or in general? If you run the provided script in the first post, does it show a difference?

[2019-12-11 09:23] ChristofPetig commented on #31271
I agree that it was solved by that commit.

[2019-12-11 09:25] 7oud opened #35022 "Errors of building XLA AOT example"
**System information**
- Have I written custom code: No
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0.0
- Python version: 3.6.7
- Bazel version (if compiling from source): 0.26.1
- GCC/Compiler version (if compiling from source): 5.4.0
- CUDA/cuDNN version: 10.0/7.5
- GPU model and memory:RTX2080Ti with 11GB

**D

[2019-12-11 09:31] multiverse-tf commented on #34642
Sorry for the confusion as I also missed sth. in previous posts.

I mean we didn't find accuracy regressions of this model on pixel 2 using either tflite cpu or gpu if using tflite lib compiled from the head.

I haven't run the provided script yet in the first post. But I guess the difference might be caused by the different numeric computations (i.e. caused by different op kernel implementation,

[2019-12-11 09:36] ravikyram commented on #34952
@zxgm

Closing the issue since its resolved. Thanks!

[2019-12-11 09:36] #34952 closed

[2019-12-11 09:37] viswanath27 commented on #34888
Hi Modak,
I have ensured that versions are matching as you mentioned above but still I have facing issue.

`2019-12-11 14:59:40.298600: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcuda.so.1`
`2019-12-11 14:59:40.456044: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:1006] successful NUMA node read from SysFS had negative value (-1)

[2019-12-11 09:38] hgaiser commented on #34642
Shouldn't the outputs be nearly identical? The [converter page](https://www.tensorflow.org/lite/convert/python_api#end-to-end_mobilenet_conversion_) suggests that at least the very last output will be identical with `decimal=5` precision. I would assume, in a network where many computations are performed, that all the preceding computations have to be the same. If there is a small difference in on

[2019-12-11 09:59] LeeJayHui commented on #24387
@tensorflowbutler Hi, could you please answer this question? Deformable convolution is effective and fast and maybe it could be a possible improvement in the future version of tensorflow.

[2019-12-11 10:11] UrosOgrizovic commented on #25403
@longmalongma Windows 10.

[2019-12-11 10:13] qqsun8819 opened #35023 "[MLIR] tf-opt can not run with -debug option"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:No
- TensorFlow installed from (source or binary):source
- TensorFlow version (use command below): 2.0.0

[2019-12-11 10:15] nauyan commented on #34992
@bilalsoomro  I have converted the  above code to Java the code becomes

[code]

After running this code I do get an output Image but the output isn't meaningful i.e output is a noisy image.

[2019-12-11 10:33] amahendrakar commented on #34968
@stefanondisponibile,

This issue seems to be related to Tensorflow serving, could you please raise an issue in [this repository](https://github.com/tensorflow/serving/issues/new). Thanks!

[2019-12-11 10:35] bhack commented on #24387
This Is half-duplicated with https://github.com/tensorflow/addons/issues/179

[2019-12-11 10:49] Athul8raj commented on #34944
If you are not providing "_tf.config.experimental_run_functions_eagerly(True)_". then you have to give the model to gradient tape as shown in here

https://www.tensorflow.org/tutorials/text/nmt_with_attention

[2019-12-11 10:57] nikochiko commented on #34440
I think this is a local error. This seems to work fine: https://colab.research.google.com/gist/nikochiko/2a6d87131461d9bc959f6c4e18138494/test-build-api-docs.ipynb

[2019-12-11 11:00] UdiBhaskar commented on #34944
I saw documentation for tf.config.experimental_run_functions_eagerly(True) and it was saying useful while debugging and read the functional API specs and in that it was saying that, if a model built by a functional API is compiled without any error, you can use that model to train and this won't give any error.
i understand if i am writing the code with tf.functions, i have to give eager tensor as

[2019-12-11 11:02] nauyan commented on #34992
I have posted the output on StackOverflow question have a look at it https://stackoverflow.com/questions/59284342/conversion-bytebuffer-to-image-give-noisy-output

[2019-12-11 11:13] weidler commented on #34977
Is there an ETA for a fix? This is quite essential to a project I am currently working on and I would like to know if I can expect this to be solved soon (and maybe be part of 2.1 stable) or if I need to find a workaround.

[2019-12-11 11:15] longmalongma commented on #25403
my computer system is ubuntu16.0

------------------ Original ------------------
From: Uros Ogrizovic <notifications@github.com&gt;
Date: Wed,Dec 11,2019 6:12 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com&gt;
Cc: longma <1442342449@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [tensorflow/tensorflow] Eager Execution error: Blas GEMM launch failed (#25403)

@longmal

[2019-12-11 11:18] bilalsoomro commented on #34992
@nauyan I am not entirely sure about your conversion. I gave it a shot. Try this....

[code]

[2019-12-11 11:32] Athul8raj commented on #34944
As per TF 2.0 docs,there are two ways to create models, one is through object oriented way and one is using the keras functional api. While there are examples where they have called layer subclass in a keras functional model, there are no instances of models subclasses being called in a keras functional api. This may be the reason you are encountering the issue.

One way to go, if you want to stic

[2019-12-11 11:41] skydoorkai commented on #35010
Found some issues in [`_internal_py_func`](https://github.com/tensorflow/tensorflow/blob/2a2c812ab2330c9aac33335f10679a346436acfb/tensorflow/python/ops/script_ops.py#L273) in script_ops.py

Every time the py_function is called in the eager mode, a new `EagerFunc` is [created](https://github.com/tensorflow/tensorflow/blob/2a2c812ab2330c9aac33335f10679a346436acfb/tensorflow/python/ops/script_ops.py#

[2019-12-11 11:51] gao8954 commented on #34906
![image](https://user-images.githubusercontent.com/7404433/70619013-18a9d980-1c4f-11ea-9ffe-3f5c9a048b4a.png)
![image](https://user-images.githubusercontent.com/7404433/70619031-22cbd800-1c4f-11ea-9fe3-b360db148978.png)
install a binary  from here, (alse try the version 1.15.0, same performance)
![image](https://user-images.githubusercontent.com/7404433/70619174-658db000-1c4f-11ea-99e7-9c8d6412be6

[2019-12-11 11:59] showintime commented on #34986
thanks a lot,and i learned it.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"ravikyram"<notifications@github.com&gt;;
发送时间:&nbsp;2019年12月11日(星期三) 下午2:23
收件人:&nbsp;"tensorflow/tensorflow"<tensorflow@noreply.github.com&gt;;
抄送:&nbsp;"记得刷通识理论选修"<974200701@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [tensorflow/tensorflow] how to understand " Do not call this o

[2019-12-11 12:04] ArtyomMashkin commented on #33511
Thanks! I will invastigate it

[2019-12-11 12:23] UdiBhaskar commented on #34944
@Athul8raj I checked with the above cases as well and getting the same error. I am not getting any error if i am using a 1.15 version or below.

case-1 : Total model subclassing API  - Got same error. you can check [here](https://gist.github.com/UdiBhaskar/8f96a48dbe3afe9b969b4d46e835a93b)
case-2 : Custom layers(not model subclassing) and functional API - Got same error. You can check [here](https

[2019-12-11 12:24] terryheo commented on #34982
TFLite converter supports FP16 quantization. https://www.tensorflow.org/lite/performance/post_training_quantization#float16_quantization_of_weights
In this case, you don't actually need to use float16 at training stage. You can train your model with float32 and covert it to tflite with fp16 quantization.

[2019-12-11 12:28] tensorflowbutler commented on #26902
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-11 12:29] tensorflowbutler commented on #34551
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-11 13:05] bard1988 commented on #34677
@jv

 hi, sorry for the late reply.

our usage is a server that serves different models, and we want to keep only several models in memory, not all of them. this means that we wish to clear the ones that are bit being used.

the script here shows that deleting the model isnt enough for clearing the memory, have to use the clear session.

[2019-12-11 13:20] tomonodes commented on #33487
For anyone coming here with a `conda install tensorflow=2.0` I saw a massive decrease in performance (several 100%) compared to the `tf-nightly` build.

I have a 2019 MBP with 16 cores (no compatible GPU). Training time for each epoch in my pipeline went from 4 hours to 20 minutes (!) when switching between the 2.0 and nightly build.

I exclusively use `from tensorflow import keras` and no mixing

[2019-12-11 13:24] nauyan commented on #34992
@bilalsoomro I still I getting the same output of the generated image.

[2019-12-11 13:25] stefanondisponibile commented on #34968
Thank you @amahendrakar, I'll open one there. I was reporting on this repo since I thought the problem was in the `tf.saved_model.save` function.

[2019-12-11 13:27] ChiragKushwaha opened #35025 "'found gpu 0'"
<h3>Is this a error ??</h3>
<pre>2019-12-11 18:49:26.117674: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library nvcuda.dll
2019-12-11 18:49:27.156050: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1618] Found device 0 with properties:
name: GeForce GTX 1050 Ti major: 6 minor: 1 memoryClockRate(GHz): 1.62
pciBusID: 0000:01:00.0
2019-12-11 18:49:

[2019-12-11 13:40] manish-kumar-garg opened #35026 "How to use a lstm layer with projection in tf2.0"
Is there any way to use projection in tf.keras.layers.lstm mention in [paper](https://static.googleusercontent.com/media/research.google.com/en//pubs/archive/43905.pdf)

[2019-12-11 14:17] olk opened #35027 "logging broken with Python-3.8: findCaller() takes from 1 to 2 positional arguments but 3 were given"
**System information**System information
- OS Platform and Distribution: Arch Linux, 5.4.2-arch1-1-ARCH
- TensorFlow installed from: binary
- TensorFlow version: 2.1.0rc0-1
- Keras version: 2.2.4-tf
- Python version: 3.8
- GPU model and memory: 2x GTX 1080 Ti 11GB"`

**Describe the current behavior**
execution of MNIST example fails with error:

**Code to reproduce the issue**
[code]

**Other info