[2022-08-23 09:13] innat commented on #56934
Any update on this?

[2022-08-23 09:24] shenh10 commented on #56454
Yes, the commit fixed this issue. cc @gowthamkpr

[2022-08-23 09:26] Hrayo712 commented on #57128
Thanks!

Reposted to: https://github.com/keras-team/keras/issues/16930

[2022-08-23 09:30] mohantym commented on #51502
It is still replicating in 2.9 and nightly. Attached [gist](https://colab.sandbox.google.com/gist/mohantym/6858ff76dd5f7e35d943683b4d8dd2f1/untitled79.ipynb#scrollTo=rt5eLIgAfLEU) for reference.

[2022-08-23 09:37] trungnhat-incoder opened #57387 "TensorFlow building issue"
Description of the bug:
I'm trying to build TensorFlow with TensorRT support on Windows 11.
Devices specs:
Windows 11 Pro
GPU: NVIDIA Quadro P1000
RAM: 16GB
CUDA SDK Version: 11.2
cuDNN version: 8.1 (for cuda 11.2)
Build tool: MSVC build tool 2019 (latest version from VS Installer)
TensorRT version: 8.2
I've gotten no issue when configure the build:
d:\Nghich\tensorflow>python ./configure.py
You h

[2022-08-23 09:38] #23447 closed

[2022-08-23 09:43] sseppola opened #57388 "TensorFlowLiteSelectTfOps fails to link in v2.9"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

iOS 15.6.1

### Mobile device

iPhone X

### Python version

3.7.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No resp

[2022-08-23 09:46] mohantym commented on #51521
Hi @lemairecarl !
Could you set the path for Cuda and cudnn file after installing TF 2.9 and Cuda 11.2 ,CudNN 8.1 in a fresh environment  and let us know.
[code]
[Reference](https://github.com/tensorflow/tensorflow/issues/41041#issuecomment-895059400)

[2022-08-23 09:51] sushreebarsa commented on #57353
@Apprisco
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-08-23 09:53] martin-ku-oup commented on #57386
It seems that `tflite-model-maker` requires `flatbuffers` v2.0 or above. The default `flatbuffers` on Colab is v1.12 so the error occurs when `EndVector()` is called. Adding the line `!pip install -U flatbuffers` in the cell for installing libraries should fix the issue.

[2022-08-23 09:57] sseppola commented on #57388
Created a PR for the -force_load flag https://github.com/tensorflow/tensorflow/pull/57389

[2022-08-23 10:25] perestoronin commented on #57371
GCC 11.3.0 as 9.3.1 build TF 2.9.1 with TF_ROCM=1 succesfull, but only with GCC 12.2.0 and with TF_ROCM=1 failed build.

PS. GCC 12.2.0 build TF succesfull TF_ROCM=0, failed only if TF_ROCM=1 and GCC 12.2.0

[2022-08-23 10:25] #57371 closed

[2022-08-23 10:38] #22815 closed

[2022-08-23 10:38] #57030 closed

[2022-08-23 10:38] sushreebarsa commented on #57357
@VictoriaGriffith I tried to replicate the issue on colab, could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/c5115d5cb970ea9ce138d2e49a34e981/57357.ipynb) and confirm the same?
Thank you!

[2022-08-23 10:48] sushreebarsa commented on #57359
@Co1lin
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here.
Thank you!

[2022-08-23 10:53] Co1lin commented on #57359
@sushreebarsa I understand. Currently I use a dynamic model generation technique, and the code is really complex. I will try to manually build the same model (so the code will simple) as the one leading to crash now and see whether it can reproduce the same issue.

[2022-08-23 10:54] sushreebarsa commented on #57359
@Co1lin Thank you for the response!
Please keep us informed if there will be any update. Thank you!

[2022-08-23 11:12] dixr opened #57390 "Error in Kronecker product (use of ndim vs. tf.rank)"
When using `tf.experimental.numpy.kron` in graph mode, one gets `AttributeError: 'Tensor' object has no attribute 'ndim'`.

The problem is the use of `a.ndim` instead of `tf.rank(a)` for a and b.

Example:
[code]

One can fix it by using `tf.rank`. See this colab:
https://colab.research.google.com/drive/1quS7xqOsCKgak7pobYoG24v05nuEPvWn?usp=sharing

Code reference:
https://github.com/tensorflow/te

[2022-08-23 11:38] #53424 closed

[2022-08-23 11:57] mohantym commented on #57366
Hi @BhaskarsarmaP !
Can you just go with the default python installation path which pops up while running ./configure and let us know.
Thank you!

[2022-08-23 12:56] robert-kalmar opened #57391 "Unable to crosscompile TFLite kernel tests with CMake"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.10.0 RC1

### Custom Code

No

### OS Platform and Distribution

Linux

### Mobile device

_No response_

### Python version

N/A

### Bazel version

N/A

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

N/A

### GPU model and memory

N/A

### Current Behav

[2022-08-23 12:57] matteopilz opened #57392 "Model improves worse with GradientTape than with fit()"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 22.04.1

### Mobile device

_No response_

### Python version

3.8 & 3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and me

[2022-08-23 13:02] singinwhale commented on #57363
https://stackoverflow.com/questions/73416907/model-save-tried-to-export-a-function-which-references-untracked-resource-eve/73459151#73459151

The error is due to using a static class member instead of a normal attribute:
[code]

[2022-08-23 13:07] vighneshhegde commented on #57118
@mohantym this seems to work, even for Bidirectional LSTMs. Thank you very much!

[2022-08-23 13:07] #57118 closed

[2022-08-23 14:01] mohantym commented on #57386
Thanks @martin-ku-oup for sharing your fix. It will be closed once PR [#57394](https://github.com/tensorflow/tensorflow/pull/57394)
Thank you!

[2022-08-23 14:04] mohantym commented on #57388
Hi @sseppola !
Thanks for the PR #57389 .

[2022-08-23 14:12] laoshaw opened #57395 "when will tensorflow support FP8?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

binary

### Tensorflow Version

tf2.9

### Custom Code

No

### OS Platform and Distribution

Linux ubuntu 20.04

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU mod

[2022-08-23 14:17] aa333 commented on #46359
@Maratyszcza If I understand correctly, those scripts only download pre-built wasm binaries of TFlite from Google cloud. Can you please point me to actual build configs from which those modules are built? It doesn't look like they are part of this repo.

[2022-08-23 14:23] Abdullah-208 opened #57396 "Problem in ML Kit task library."
I have trained a custom object detection model using this [Colab](https://colab.research.google.com/github/khanhlvg/tflite_raspberry_pi/blob/main/object_detection/Train_custom_model_tutorial.ipynb) and exported the model without any problem and tested the model in the same colab but when I use it in my android app it doesn't work.
I am using ml kit task library in android studio for object detecti

[2022-08-23 14:38] #23762 closed

[2022-08-23 14:59] PurvangL commented on #57372
Just an update, same example I have tried to run with tensorflow-gpu 2.9.0 and same issue I can see. Thanks

[2022-08-23 15:14] mohantym commented on #54235
@rikardn !
Could you confirm the results from your end.
Thank you!

[2022-08-23 15:31] Lennyz1988 commented on #57016
I am also having this problem. It's not possible to install tensorflow-io on Macbook M1. Running tensorflow-macos 2.9.2.

Option 1:

pip install tensorflow-io
ERROR: Could not find a version that satisfies the requirement tensorflow-io (from versions: none)
ERROR: No matching distribution found for tensorflow-io

Option 2:

cp object_detection/packages/tf2/setup.py .
pip install --use-feature=2020

[2022-08-23 15:52] dmitrybaltin commented on #33336
I also vote for the feature.
I was unpleasantly surprised when I realized that I couldn’t multiply sparse matrices with a rank > 3 (
By the way, thanks for the info about pytorch. Didn't plan to switch to it, but might have to

[2022-08-23 16:16] modem7 opened #57397 "Tensorflow lite docker build issue"
TLDR:
Trying to build tflite 2.4.1 from source.
Attempting to get output: tflite_runtime-2.4.1-cp37-cp37m-linux_x86_64.whl
Getting output: tflite_runtime-2.4.1-pp37-pypy37_pp73-linux_x86_64.whl

Attempting to use same method as `https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/lite/tools/pip_package/Makefile`

Apologies if it's something dumb, I'm a complete amateur at make/python!

[2022-08-23 16:21] imrankh46 commented on #22828
Hi, I'm trying to deploy model with tf serving in colab but they give me this error.

tensorflow_model_server: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.28' not found (required by tensorflow_model_server)

tensorflow_model_server: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.26' not found (required by tensorflow_model_server)

tensorflow_model_server: /lib/x86_64-linux-gn

[2022-08-23 16:37] cantonios commented on #51502
This error message is consistent for all ops across TF when you try to run something on a dtype that isn't supported.  I suggest we keep as is for reduce max.  There are separate efforts for improving error messages across the entire TF codebase.

[2022-08-23 16:37] #51502 closed

[2022-08-23 17:25] sachinprasadhs commented on #52193
@refraction-ray , If your issue is resolved with the above comment, could you please close the issue. For more details check https://www.tensorflow.org/guide/intro_to_graphs. Thanks!

[2022-08-23 17:32] sachinprasadhs commented on #52197
@stefan-falk , Have found a solution with the above mentioned workaround, if so could you please close the issue. Thanks!

[2022-08-23 17:37] #55745 closed

[2022-08-23 17:53] sachinprasadhs commented on #52589
Hi, the above linked reproducible code is broken, could you please update the colab links. Thanks!

[2022-08-23 18:49] maingoh commented on #29635
I don't understand why I would need to set both options:
1. Either we don't know how much vram the model will take, and then we want to set `allow_growth=True`, but the algorithm is too greedy (it does not need that much since I can give a lower fraction and it still works). It still takes 3GB whereas it can run with 693MiB (reported via nvidia-smi).
2. Either we can load the model once and get th

[2022-08-23 18:51] jibinvdas commented on #50488
These links don't help @UsharaniPagadala . I am also facing the same issue when training using lstm and cudnnlstm. While LSTM takes 50 mins to train one epoch cuDNNLSTM takes only 13 mins. Try running his code and reproduce the results. There is massive difference in time taken by lstm and cudnnlstm. Which means lstm is not utilizing the GPU as efficiently as cudnnlstm.
Please help

[2022-08-23 19:58] mseth10 commented on #56088
@nitins17 https://github.com/tensorflow/tensorflow/pull/57400 created this PR to update r2.9 triggers in accordance with master branch

[2022-08-23 20:06] VictoriaGriffith commented on #57357
Yes, you're right, the `allclose` assertion for outputs pass, but the `allclose` assertion for gradients fail, indicating a bug in gradient computation. Thanks for replicating the issue @sushreebarsa!

[2022-08-23 20:19] VictoriaGriffith opened #57401 "conv2d crashes when compute gradient"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-08-23 20:31] jhuus commented on #57359
I'm getting the same error, on 2.9.0 but I reproduced it in 2.8.0 and 2.9.1 too. I'll see if I can create a small enough example to post.

2022-08-23 16:26:25.102620: E tensorflow/stream_executor/cuda/cuda_blas.cc:197] failed to set new cublas math mode: CUBLAS_STATUS_INVALID_VALUE
2022-08-23 16:26:25.102641: W tensorflow/core/framework/op_kernel.cc:1745] OP_REQUIRES failed at matmul_op_impl.h:438

[2022-08-23 20:34] jhuus commented on #57359
Here's more of my trace:

      predictions = self.model.predict(self.specs)
    File "/home/jhuus/.local/lib/python3.10/site-packages/keras/utils/traceback_utils.py", line 64, in error_handler
      return fn(*args, **kwargs)
    File "/home/jhuus/.local/lib/python3.10/site-packages/keras/engine/training.py", line 2033, in predict
      tmp_batch_outputs = self.predict_function(iterator)
    File

[2022-08-23 22:35] YLuc commented on #57375
Yes, it solved the problem. How can it make it? The Cudnn and Cuda version mismatching is the reason? Is there any linking between the cuda and the wrong negtive size of the tensor?

[2022-08-23 22:47] YLuc commented on #57375
And the version is TF2.8.2.
Is TF2.8 the reason to solve it or the CUDA matching?

[2022-08-23 23:38] #56982 closed

[2022-08-24 00:38] #57031 closed

[2022-08-24 00:39] #57133 closed

[2022-08-24 01:02] ZhaoqiongZ opened #57411 "LSTM layer not support bf16"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9.1

### Custom Code

Yes

### OS Platform and Distribution

 Ubuntu 22.04.1 LTS

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_N

[2022-08-24 03:16] tilakrayal commented on #57375
@YLuc,
The issue is more related to **[googlecolab/colabtools](https://github.com/googlecolab/colabtools/issues)** repo. Could you please take a look at this [comment](https://github.com/googlecolab/colabtools/issues/2600#issuecomment-1061312120) from the Colab team.

Glad the suggestion worked to resolve the issue, please feel free to move this to closed status. Thank you!

[2022-08-24 03:18] JuPasquin commented on #47554
I'm having the same warning, and have not found a solution either.

I'm using:

Python version:  3.9.7
Tensorflow version:  2.9.1
Keras version:  2.9.0

The model I used was:

[code]

Trained model as follows:

[code]

Saved model using:

`save_model(model, 'LSTM_model_1')`

The warning I got was:

This model was retrieved from:

https://medium.com/@mrunal68/tennessee-eastman-process-simulation-da

[2022-08-24 03:18] tilakrayal commented on #57385
Hi @wukong1992,
TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.9.0 and check if you are facing the same issue. Thank you!

[2022-08-24 04:19] sky9743 opened #57420 "multiple definition error [MinimalLogger::LogFormatted]"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

v2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 18.04

### Mobile device

_No response_

### Python version

3.6.9

### Bazel version

_No response_

### GCC/Compiler version

7.5.0

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-08-24 04:28] mohantym commented on #57391
Thanks @robert-kalmar for the PR #57393 . This issue will be closed once PR is merged.

[2022-08-24 04:58] tilakrayal commented on #57387
@trungnhat-incoder,
 Could you  please try the below commands **`bazel clean --expunge`** followed by bazel sync.

`bazel build --verbose_failures --config=opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-msse4.2 --copt=-DINTEL_MKL_ML_ONLY --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" //tensorflow/tools/pip_package:build_pip_package`

Also please let us know the source from where you are trying to buil

[2022-08-24 05:08] probtask opened #57421 "Does tensorflow use custom SSL for azure blob storage access?"
### Issue Type

Others

### Source

source

### Tensorflow Version

2.4.4

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[code]

[2022-08-24 05:19] mohantym commented on #57396
Hi @Abdullah-208 !
If you are using static images like the dataset in Colab gist. The object detector command should be like below.

[code]

Please let us know after trying with above command.

Thank you!

[2022-08-24 05:22] Abdullah-208 commented on #57396
@mohantym !
I am using live stream mode.
and also can you tell me why is ```.enableClassification()``` is optional, because I want the objects to be classified.

[2022-08-24 06:09] creativesh opened #57422 "The checkpoint is not readable in android studio"
### Issue Type

Bug

### Source

source

### Tensorflow Version

1.15

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

android 12

### Python version

3.6

### Bazel version

---

### GCC/Compiler version

---

### CUDA/cuDNN version

---

### GPU model and memory

cpu

### Current Behaviour?

[code]

### Standalone code to reproduce the issue

[code]

###

[2022-08-24 06:15] FragrantRookie commented on #57226
Thank you for your reply.
I compiled tensorflow Lite into arm C++ library. My model runs with the arm library without quantification, and the speed is faster than the quantified micro version. I think this may have nothing to do with quantification. It should be related to arm's acceleration library neon. Can you tell me how to see the source code of the fullconnected layer written by neon?

[2022-08-24 06:16] mohantym commented on #32410
Hi @praveenjune17 @MarkDaoust @yashk2810
Created Fresh [CL](https://critique.corp.google.com/cl/469640409) by Patching above [CL](https://critique.corp.google.com/cl/370902959) .
Thank you!

[2022-08-24 06:36] mohantym commented on #57422
Hi @creativesh !

Above error "Unknown image file format. One of JPEG, PNG, GIF, BMP required " is suggesting to use images  either in  .jpeg, .png, .gif, .bmp format .  Please  check whether you are using other formats like .jpg etc . if so please change the formats accordingly.

Thank you!

[2022-08-24 06:48] creativesh commented on #57422
@mohantym

Hi, thanks for your answer, but I have tested the input image with code and this is really a jpeg image.
the problem is the decoding part of my network.

[2022-08-24 06:54] wukong1992 commented on #57385
I test with version 2.8 and the error still exists.

[2022-08-24 07:01] mohantym commented on #57226
@FragrantRookie !
Not Sure on Fully connected layer micro version by neon . Could you post on [tflite-micro ](https://github.com/tensorflow/tflite-micro)repo for further assistance.

Thank you!

[2022-08-24 07:11] FragrantRookie commented on #57226
OK! Thank you for your patience!

[2022-08-24 07:43] matteopilz commented on #57392
I have found the solution, it was a simple shape mismatch, which was somehow not picked up by any error check and worked both with my custom loss function and MSE. Using `x = Reshape(())(x)` as final layer did the trick.

[2022-08-24 07:43] #57392 closed

[2022-08-24 07:52] tilakrayal commented on #57220
@skerres,
I was facing a different issue while trying to execute the mentioned code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/828df412020de1e082bf01a0fa4188fd/untitled518.ipynb).

[2022-08-24 07:53] modem7 commented on #57397
Issue seems to be with the base image.

Closing as not a tf issue

[2022-08-24 07:53] #57397 closed

[2022-08-24 08:00] tilakrayal commented on #57411
@ZhaoqiongZ,
I tried to execute the below code at the head of the file and was able to execute without any issue. Kindly find the alternative approach and let us know if it is working in this case. Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/da9e9e67f17373ffa834077136580955/57411.ipynb).

**from tensorflow.python.framework.ops import disable_eager_execution

[2022-08-24 08:18] mohantym commented on #57226
@FragrantRookie !
Could you mention the issue from  tflite-micro repo and close the ticket here.
Thank you!

[2022-08-24 08:37] trungnhat-incoder commented on #57387
Thanks for helping! I cloned from the link https://github.com/tensorflow/tensorflow.git to get the source.
After using your command, I still stuck with that error:
![image](https://user-images.githubusercontent.com/67949446/186371564-beb88fce-6dc6-40e1-9d27-3c2d556b9d0c.png)

[2022-08-24 08:47] nicoloceneda commented on #9090
Dropbox works perfectly fine on Mac, OneDrive not working on Windows

[2022-08-24 08:55] wukong1992 commented on #57385
@tilakrayal

[2022-08-24 09:18] #57226 closed

[2022-08-24 09:33] mohantym commented on #57396
Hi @sachinprasadhs !
Could you comment on this issue.
Thank you!

[2022-08-24 09:56] gadagashwini commented on #57372
I could able to replicate the issue with `Tensorflow-gpu 2.9.1`.
[code]

[2022-08-24 10:19] Wyverald commented on #57207
gentle ping. TensorFlow remains broken in the downstream pipeline, and if we can't resolve that soon, we'd need to disable TensorFlow on Bazel CI.

[2022-08-24 10:33] shreer1998 opened #57423 "Unable to free memory allocated by OpKernelContext"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

binary

### Tensorflow Version

2.9

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and

[2022-08-24 10:38] #57081 closed

[2022-08-24 10:38] #57055 closed

[2022-08-24 10:51] rikardn commented on #54235
Your suggestion resolved the issue. We can now build tflite on Windows. This issue can be closed now.

[2022-08-24 12:00] #57169 closed

[2022-08-24 13:54] ZhaoqiongZ commented on #57411
@tilakrayal
Thanks very much for the quick response, it worked!
Could you please give me a quick explain about why it work and what is the root cause for the first error?

[2022-08-24 14:08] abhimanyuchadha96 commented on #56473
@kulinseth Thank you.
I understand a detailed timeline can't be revealed but do we have an estimated date?
I can update my project managers accordingly.

[2022-08-24 14:42] tgeffroyModuleus commented on #56946
In order to find a solution to deploy a trained model using 5D tensors on Android I have opened this question on stackoverflow:
https://stackoverflow.com/questions/73474682/how-to-deploy-a-tensorflow-model-on-android-without-tf-lite-and-without-using-a

[2022-08-24 14:58] aytek03 commented on #44137
Hi all,

I use use_multiprocessing=False then it works.

[2022-08-24 15:23] GusRock2 opened #57424 "Commits from CVE-2022-23569 - TFSA-2022-015"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

2.8.0

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-08-24 16:17] SamKnightGit commented on #31537
Is it possible to make this export similar to GRUCell or LSTMCell -- exposed through keras.layers? If this is appropriate  `ConvLSTMCell` should likely also be exposed.

Expected Import: `from tensorflow.keras.layers import ConvLSTM2DCell`

Actual Import: `from tensorflow.python.keras.layers.convolutional_recurrent import ConvLSTM2DCell`

[2022-08-24 16:43] alexmil2019 commented on #57250
Issue Type:bug

v2.9.0-18-gd8ce9f9c301 2.9.1

source: binary

Tensorflow Version: 2.9.1

Custom Code: No

OS Platform and Distribution
linux: ubuntu 18.04.6 LTS (Bionic Beaver)

cuda version:
cuda_11.0_bu.TC445_37.28845127_0

[2022-08-24 18:00] karimnosseir commented on #55740
This should been done already. Terry can you please confirm

[2022-08-24 18:31] sh-shahrokhi commented on #49555
Any news on this?

[2022-08-24 18:36] MarkDaoust commented on #32410
LGTM, thanks.

[2022-08-24 19:00] rivershah commented on #43905
@jsimsa Any further progress using pinned memory as default for `tf.data`. Thank you.

[2022-08-24 19:03] sachinprasadhs commented on #57364
This seems to be included in the commit here https://github.com/tensorflow/tensorflow/commit/4ec84aa99372ca7899fb12715edd2bfe3c947c88, could you please try to downgrade the bazel version to 5.0 or 4.2.1 and let us know if that works. Thanks!

[2022-08-24 19:05] terryheo commented on #55740
Right. Let me close this. @hmaarrfk please feel free to reopen it if there is still an issue.

[2022-08-24 19:05] #55740 closed

[2022-08-24 19:08] terryheo commented on #56504
Could you share how to run the inference on Windows? Did you just use Python API from TF PIP?

[2022-08-24 19:14] sachinprasadhs commented on #57156
For windows systems the equivalent to .so files will be .dll files which will get the linking information from .lib files.

[2022-08-24 19:38] #57076 closed

[2022-08-24 20:38] #57002 closed

[2022-08-24 20:52] skerres commented on #57220
@tilakrayal
I retested the code by doing a git clone into an empty repository and it executes just fine for me when running the jupyter notebook.

The error trace you provided looks to me like the code can not find the stored model. Did you copy the "prediction_head_model" folder correctly? Assuming you just copy-pasted the folder into content/sample_data, the path should be         `prediction_he

[2022-08-24 20:54] jamesmullenbach commented on #57228
Hi Christian,

It sounds to me like you want to train two models, starting from the same weights, on different datasets (that are subsets of the same dataset), and then compare their weights after training. Maybe a naive question, but is this something you can accomplish by simply training these models in two separate jobs? Is the weight comparison used to change how the models will be trained *du

[2022-08-24 21:28] learning-to-play commented on #57207
Thank you very much for your reminder.
I receive the following errors when I make the change `@bazel_tools//platforms:linux"` to `@platforms//:linux"`:
[code]
Any tips?

[2022-08-24 22:21] sachinprasadhs commented on #57208
Thanks for reporting the issue, I have created the fix internally, on successful merge it should close the issue.

[2022-08-24 22:57] sachinprasadhs commented on #57196
Since ARM64 architecture is different than ARM32 architecture the difference in size could be possible since under the hood there will be changes in the trace requests etc.
Have you checked with the ARM32, if yes, does it come under the size mentioned in the document.

[2022-08-25 00:03] TheMoMatthias commented on #35146
I am experiencing the same error in tensorflow version 2.9.1. I just now kept receiving the error message after removing the arguments: activation='relu' and dropout=0.2.  Does this affect the model somehow or can the error message be ignored?

[2022-08-25 00:04] TheMoMatthias commented on #47554
I am experiencing the same error in tensorflow version 2.9.1. I just now kept receiving the error message after removing the arguments: activation='relu' and dropout=0.2. Does this affect the model somehow or can the error message be ignored?

[2022-08-25 00:06] sushreebarsa commented on #57052
@elina-israyelyan I tried to replicate the issue using latest TF versions but colab is crashing [here](https://colab.research.google.com/gist/sushreebarsa/e2caffd985951f415afb29b2a8ae3c66/3d_unet_train.ipynb). Could you please find the attached gist and confirm the same?
Thank you!

[2022-08-25 00:11] sushreebarsa commented on #57250
@alexmil2019
I was able to replicate the issue [here](https://colab.research.google.com/gist/sushreebarsa/cb65bda76727d634bf6940943be58e20/57250.ipynb).
This issue seems to be Keras issue.  Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues) as Keras development is fully moving to [github.com/keras-team/keras](http://github.com/keras-team/keras). All issu

[2022-08-25 00:24] sushreebarsa commented on #57363
@singinwhale I tried to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/23a67337dc53404d88848614b87e50e0/57363.ipynb) and confirm the same.
Thank you!

[2022-08-25 01:20] sconde commented on #57105
There are no installed files/shared objects in the CMAKE_INSTALL_PREFIX path for the configuration.

[2022-08-25 01:56] eeDigitalSeal opened #57430 "Second-order gradient calculated in forward-mode for API `tf.linalg.det` is inaccurate relative to that in reverse-mode"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-08-25 02:40] k-w-w commented on #56852
It could be. Does the model behave as expected without the dist strat scope (are the losses and metrics as expected)?

[2022-08-25 04:38] #57086 closed

[2022-08-25 06:44] tilakrayal commented on #57423
@shreer1998,
Could you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thank you!

[2022-08-25 06:45] Kepnu4 commented on #57196
I've also encountered much bigger size than documented. It's around 2.2MB  without any delegates, ~4MB with metal delegate, ~5.2MB with metal + coreml delegates. The numbers are also for arm64. For sure arm32 would be smaller but common why do you measure it? All devices with iOS 11+ are arm64 and it's more than 99% of iOS users.

[2022-08-25 07:12] MathiasToftas opened #57438 "tf.keras.layers.Layer.weights is not ordered in graph mode"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

v2.9.0-18-gd8ce9f9c301 2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04.4

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU

[2022-08-25 08:03] redrocket8 commented on #44430
I am facing the same problem in T.F 2.8. Is there a fix yet?

[2022-08-25 08:20] Janus-Shiau commented on #54481
I use TF 2.7 for training and deploy to Proto Buffer. After that, I try to convert them with different TF version.
So far, some models still have wrong value on Hexagon, but fine on CPU.

### Convert with TF 2.2
I can reproduce this bug using TFLite converter in Tensorflow 2.4.0 2.5.0, 2.6.0, 2.7.0, 2.8.0, 2.9.1.
But using converter in Tensorflow 2.2.0 get correct result on both CPU and Hexagon.

[2022-08-25 08:25] Janus-Shiau commented on #56848
In our case, some building block, e.g. the residual-like conv. building block, may cause standalone ReLU operator in TFLite.
When this kind of operators occurs in graph, the results on CPU and Hexagon are usually different.

You can also check out #54481.

[2022-08-25 08:26] tekumara opened #57444 "No Mac M1 wheels for tensorflow"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.9

### Custom Code

No

### OS Platform and Distribution

macOS M1 (arm64)

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-08-25 08:32] tekumara commented on #57444
Duplicate of 57185

[2022-08-25 08:32] #57444 closed

[2022-08-25 08:38] #57036 closed

[2022-08-25 09:11] lgeiger commented on #57364
@sachinprasadhs Thanks for the fast reply.

Tensorflow 2.10 and newer is not compatible with Bazel 5.0. It requires [5.1.1 as mentioned here](https://github.com/tensorflow/tensorflow/blob/v2.10.0-rc2/.bazelrc). Trying to build with 5.0.0 gives the following unrelated error:
[code]
And bazel 4.2.1 fails with even more bazel version related errors.

I am not sure whether this is really related to 4e

[2022-08-25 10:04] Wyverald commented on #57207
You need to use `@platforms//os:linux` (note the "os"). Similarly for architectures (for example `@platforms//cpu:x86_64`)

[2022-08-25 10:15] FrozenWolf-Cyber commented on #53315
Any update regarding this issue?

[2022-08-25 11:05] mohantym commented on #57420
Hi @sky9743 !
Could you raise a PR with proof of bug and solution from your end .
Thank you!

[2022-08-25 11:11] mohantym commented on #57422
@creativesh !

Sometimes it throws error when the .jpeg image might not be a proper .jpeg image  (.jpg just saved with .jpeg extension). Did you try with other sample images too.

Could you share your Tflite model too.

Thank you!

[2022-08-25 11:16] creativesh commented on #57422
@mohantym

I have tried it with several jpeg samples and the error exist. also, I tested my images with a python script to make sure that they are really jpeg or not.
yes, this is my tflite model
/home/vists/PycharmProjects/khosravani3/tagging_tflite/converted_model.tflite

[2022-08-25 11:21] mohantym commented on #43697
Hi @NitishaS-812k @ashwin-phadke !
Could you make the necessary changes [here](https://github.com/tensorflow/tensorflow/blob/v2.9.1/tensorflow/python/ops/image_ops_impl.py#L5819-L5867) and create a PR from your end .
Thank you!

[2022-08-25 11:25] mohantym commented on #57422
@creativesh !
You can upload the model to google drive and share that drive link here.
Thank you!

[2022-08-25 11:39] #56747 closed

[2022-08-25 11:55] airmouse commented on #56927
what is `<your cuda file location>`? A directory like `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.0` or is it a file??

[2022-08-25 12:04] gzygmontson13 commented on #5533
TensorFlow provides a collection of workflows to develop and train models using Python or JavaScript, and to easily deploy in the cloud, on-prem, in the browser, or [on](https://www.hairstylenext.com/)-device no matter what language you use.
The Python "ModuleNotFoundError: No module named 'tensorflow'" occurs when we forget to install the tensorflow module before importing it or install it in an

[2022-08-25 12:50] drubinstein commented on #57196
@sachinprasadhs I haven't checked it and didn't think it was worth the effort since all iPhones since 2013 have been 64-bit/arm64. I tried to get an armv7 build running on my M1 laptop but couldn't figure out a way to do it nor do I have a iPhone5  available to me unfortunately.

[2022-08-25 13:05] misterBart commented on #33303
Several threads exist about this issue. The issue persists now for more than a year. The proposed solution of using signature defs comes again with its own problems. My two work-arounds:
(1) Use tf.compat.v1.lite.TFLiteConverter
(2) Sort output indices
For details see at https://github.com/tensorflow/tensorflow/issues/57043

[2022-08-25 13:07] misterBart commented on #56985
Several threads exist about this issue. My two work-arounds:
(1) Use tf.compat.v1.lite.TFLiteConverter
(2) Sort output indices
For details see at https://github.com/tensorflow/tensorflow/issues/57043

[2022-08-25 13:41] misterBart commented on #57097
I think you can close this issue now.

[2022-08-25 13:52] ivankrylatskoe commented on #56504
Hello, @terryheo.
To run my example on Windows:
1) Create your_file.py file from the following code: https://colab.research.google.com/drive/18AWls7w_oWdWk3bRlTdkG2U7pm_w8rn6

2) Download data files from here:
https://drive.google.com/file/d/1Ed07YKIZh69Rmso3EL9a7t4dCacJqEs2/view?usp=sharing
https://drive.google.com/file/d/1p2iAJVT8Wc46ho5Hh29O7n4bwLD38h3O/view?usp=sharing

3) If you are on a clea

[2022-08-25 14:26] namrata-ibm commented on #56892
@mohantym  did you get a chance to check on this? Thanks!

[2022-08-25 14:37] JVD9kh96 opened #57449 "Error while using keyword arguments in tensorflow methods"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.6.4

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-08-25 14:58] JVD9kh96 commented on #57449
I found out the problem is not only with tf.cast, the following commands also raised the similar error when I used them in my pipline:

tf.argmax(x, axis=1)
tf.random.uniform([], minval=-1.0, maxval=1.0, dtype=tf.float32)

[2022-08-25 15:16] VictoriaGriffith opened #57450 "`tf.keras.layers.Convolution2DTranspose` throws error when backprop"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-08-25 15:17] tilakrayal commented on #57438
@MathiasToftas,
**Layer.weights** represents the variables that parameterize the forward pass of a Layer/Model.

It contains variables that belong to any layer, model, or tf.Module attached to the layer (as well as individual Variable instances attached to it).

It does not contain variables from metrics, optimizers, callbacks, etc. because these variables do not parameterize the forward pass. It

[2022-08-25 15:18] sidml commented on #57181
@gadagashwini
I tried the above code and i still get `get only Segmentation fault (core dumped)`.
Thanks.

[2022-08-25 15:58] wwdok opened #57454 "error in `tf.train.import_meta_graph()`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

tf 2.3.0

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-08-25 16:45] preetham-salehundam commented on #44703
May be have it included in `tf.strings` like
[code]

[2022-08-25 16:50] sachinprasadhs commented on #57364
I see, thanks for clarifying. Will look into it in detail.

[2022-08-25 17:34] winston-zillow opened #57455 "Distributing dataset causes warning"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

MacOS 12.5

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

##

[2022-08-25 17:45] sachinprasadhs commented on #57208
I see that the document has to be autoupdated from the code file, for some reason it is not synced, since the Tensorflow 2.10 is around the corner, that should fix this issue. Let's wait for a while.

[2022-08-25 18:06] sachinprasadhs commented on #57196
Thanks for clarifying, since the documentation does not have a mention about `ARM64`, it would not be fair to take `ARM32` as a benchmark comparison, we would have to come up with the benchmark results for the `ARM64`.

[2022-08-25 18:10] jsimsa commented on #43905
@kushanam is working towards a solution

[2022-08-25 18:10] sachinprasadhs commented on #57395
@laoshaw , Could you please elaborate more about your feature request. Thanks!

[2022-08-25 19:02] sachinprasadhs commented on #57097
@ibiglari , If your issue is resolved, could you please close this request. Thanks!

[2022-08-25 19:32] samuela commented on #55563
This bug also impacts the bazel build of jaxlib on x86_64-darwin with clang (https://github.com/NixOS/nixpkgs/pull/183051#issuecomment-1226635146).

[2022-08-25 19:38] #56894 closed

[2022-08-25 19:45] aaudiber commented on #56934
The use of `filter` in `dataset_for_class` means that you will need to iterate through all of the data once per class. Each iteration through the data will drop around 99.9% of the data, so that it can filter out just the one class you are looking for.

Some ideas to make this more efficient:
- Use [Dataset.rejection_resample](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#rejection_re

[2022-08-25 20:01] sachinprasadhs commented on #57174
Since too many validations will impact the performance of operations, usually you don't notice the same behavior in CPU vs GPU.

[2022-08-25 20:27] Co1lin commented on #57359
I'm sorry that currently I am not able to provide a minimal example for reproduction. Now I use a dynamic graph generation technique, and the code is not publicly available, though it will be public later. I tried to build the same graph manually and statically to see whether it can reproduce the same issue, but unfortunately it cannot.

However, I find a workaround which works for me. Below are h

[2022-08-25 20:32] nyngwang commented on #57205
@gowthamkpr Could you provide some feedback...? If anything is not clear.

[2022-08-25 20:32] jszaday commented on #56423
Sorry to hear you're still having issues!

Can you share the "workaround" code that crashes where `optimizer.apply_gradients` is within the `_jit_step`? Moving it into the `@tf.function` yielded the following error for me:

_"RuntimeError: `merge_call` called while defining a new graph or a tf.function. This can often happen if the function `fn` passed to `strategy.run()` contains a nested `@tf.fu

[2022-08-25 20:47] Whrothus commented on #56928
@miaowang14 Do you have a emulator you prefer ?

[2022-08-25 21:14] gowthamkpr commented on #51585
@adgolden1 As mentioned [above](https://github.com/tensorflow/tensorflow/issues/51585#issuecomment-915462061) this is an expected behavior. Can you please go ahead and close this issue? Thanks!

[2022-08-25 21:17] sachinprasadhs commented on #57029
Usually, implementation on GPU and CPU will not be same, considering the performance impact, GPU implementation will be having limited validation checks, as opposed to many checks in CPU.

[2022-08-25 21:54] gowthamkpr commented on #51622
This occurs because .minimize() expects a function. While cost_value&cost(), is a tf.Tensor object, cost is a tf.function. You should directly pass your loss function into the minimize as `tf.keras.optimizers.Adam().minimize(cost, var_list=[W, b])`. You can get the full detailed explanation [here](https://stackoverflow.com/questions/68879963/valueerror-tape-is-required-when-a-tensor-loss-is-passed

[2022-08-25 22:11] #57097 closed

[2022-08-25 23:53] learning-to-play commented on #57207
Thank you very much! [Changes submitted](https://github.com/tensorflow/tensorflow/commit/189c62289b005ae1fd8a50a1e25f2bfc15f01836)!

[2022-08-26 00:41] cheyennee commented on #57174
@sachinprasadhs But I think it's important for gpu to check the validity of input. If the input is invalid, then the calculation has no meaning.

[2022-08-26 02:26] mohantym commented on #56927
@airmouse !
Yes, it is the  path to your Cuda directory .
`C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.7`

[2022-08-26 02:50] panhu commented on #57362
Hi, I have used:

import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

However, this problem still exists. Why use "Lambda layer" trained my model,need required positional argument to load the model? (TypeError: stftLayer(self,x) missing 1 required positional argument: 'x') stftLayer()   a function is used in "Lambda layer" .

Thanks!

[2022-08-26 02:56] mohantym commented on #57449
Hi @JVD9kh96 !
I could not find any issue in[ 2.8.2](https://colab.sandbox.google.com/gist/mohantym/2b956cb652437a077c51b8576224cd35/git_57449.ipynb#scrollTo=a2EajnfHEj53) . Could you let us know from your end ( I also suggest using the .jpeg/.png format , .jpg is not supported )

Thank you!

[2022-08-26 04:07] prince-chrismc opened #57461 "Linker error on Windows with shared build updating to 2.9.1"
👋 I am [Conan](https://github.com/conan-io) contributor and we've received a PR https://github.com/conan-io/conan-center-index/pull/11477 and there was new patch I'd like to contribute back.

The Windows shared build failed using the CMake build system. There's intentionally duplicate symbols with weak attribute, however I suspect this is not support on windows, so in the DLL both are added.

http

[2022-08-26 04:38] #56962 closed

[2022-08-26 04:38] #56967 closed

[2022-08-26 04:54] markmcd commented on #57208
The docs reflect what's in the *released* version of TensorFlow, which is v2.9.1.

If you are looking for the matching source code, clone the [v2.9.1 tag](https://github.com/tensorflow/tensorflow/tree/v2.9.1/tensorflow/lite).

[2022-08-26 05:14] mohantym commented on #57455
Hi @winston-zillow !

I could not find above warning in [2.8.2 and 2.9](https://colab.sandbox.google.com/gist/mohantym/b94d9fa05f7cfdded41d59095a12da81/git_57455.ipynb) (just a depreciation warning). Could you try in 2.8.2 and 2.9 and let us know.

Thank you!

[2022-08-26 05:16] mohantym commented on #57422
Hi @sachinprasadhs !
Could you look at this issue.
Thank you!

[2022-08-26 05:52] gadagashwini commented on #57387
Hi @trungnhat-incoder,
`ERROR: D:/nghich/tensorflow/tensorflow/BUILD:1035:21: //tensorflow:libtensorflow_framework.so.2.11.0: no such attribute 'shared_lib_name' in 'cc_shared_library' rule`

Tensorflow master branch has `cc_shared_library rule`. Please take a look at this reference [link](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorflow.bzl#L2971).
Could you build Tf mas

[2022-08-26 06:11] gadagashwini commented on #57181
Hi @sidml, Could you try with Tf v2.9. I tried with `Tf v2.9.2`. Thank you!

[2022-08-26 06:30] MathiasToftas commented on #57438
My class is a tf.Module, and when accessing the weights attribute all of the weights and biases are returned as expected. The issue is that the list of weights is not always in the same order. When loading my model as a "saved_model" and accessing the weights, the order is seemingly set randomly every time the model is loaded, but if the same model is converted to a tflite model the order is alway

[2022-08-26 06:59] #57423 closed

[2022-08-26 07:00] shreer1998 commented on #57423
Sorry it isn't required

[2022-08-26 07:08] trungnhat-incoder commented on #57387
OK, I'll give it a try? I think I know what's happening. Thanks to give me a hint!

[2022-08-26 08:15] AzinPoshtyar commented on #42257
Decreasing batch size is helpful as well.

[2022-08-26 08:17] jhossbach commented on #44264
To expand on this: Tensorflow itself tries to expand the `~` sign when datasets are downloaded and no `download_dir` is given. In the documentation for the `download_and_prepare` method this is even stated, see https://www.tensorflow.org/datasets/api_docs/python/tfds/core/DatasetBuilder#download_and_prepare. Either the `~` needs to be expanded or the default download dir should be relative to the

[2022-08-26 08:28] talyz commented on #57461
The cause was indeed that MSVC doesn't support `__attribute__((weak))` or similar hints. Never found out why it's only a problem when building a shared library, though.

[2022-08-26 08:45] JVD9kh96 commented on #57449
Thanks for the response.
Yeah I know the previous versions and also the newer versions of tensorflow does not have this bug. But, I'm attending a Kaggle competition which requires the Internet to be disabled in the notebook. So, I'm not sure whether I can downgrade (or upgrade) the tensorflow version while the Internet is disabled in the notebook. Because of that, I was looking for a solution for

[2022-08-26 08:54] mstebelev opened #57463 "Bad training loop performance with many variables when enabling XLA"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

2.6

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memo

[2022-08-26 09:14] tilakrayal commented on #57450
@VictoriaGriffith,
As per the [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2DTranspose?version=nightly#expandable-1) the stride and dilation_rate should be same, if strides=1,dilation_rate=(1,1) or if strides=2,dilation_rate=(2,2).
Could you please check and try to change the execute as mentioned and let us know if the issue still persists. Thank you!

[2022-08-26 09:23] Fatichti commented on #54391
Hi

Do you make an improvment to use png file with the tflite_model_maker library ?

[2022-08-26 09:43] trungnhat-incoder commented on #57387
Problem solved! I've downloaded the release version of TF source and successfully build it.

[2022-08-26 09:43] #57387 closed

[2022-08-26 10:22] tilakrayal commented on #57411
@ZhaoqiongZ,
Here we are trying to execute the code after disabling eager execution as mentioned below. There was no issue with the code.

**disable_eager_execution()**.  Thank you!

[2022-08-26 10:32] jmhuttun commented on #45756
I don't think that this should be necessarily considered as a bug. Remember that, as eigenvalue decomposition, singular value decompositions is not unique. If you inspect v's given by cpu and gpu version, you can see that those are same except some of columns are multiplied by -1. This can be expected as if u and v are singular vectors, then -u and -v are also.

[2022-08-26 10:36] tilakrayal commented on #57385
@wukong1992,
I was facing a different error while trying to execute the mentioned code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/b3fab0a0007caa49cdf96594c0b44dc0/untitled531.ipynb) and share the required dependencies or the colab gist with the error reported. Thank you!

[2022-08-26 10:52] mattbarrett98 opened #57465 "docs are incorrect for tf.raw_ops.Atan"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model

[2022-08-26 11:07] mattbarrett98 commented on #57465
The same problem exists in `tf.raw_ops.Asin`, but curiously not for `tf.raw_ops.Acos`

[2022-08-26 12:08] maifeeulasad opened #57466 "Tensorflow API for Carbon?"

[2022-08-26 12:38] #57040 closed

[2022-08-26 13:30] mayujie opened #57467 "incorrect convert PRELU from pb to tflite when input H, W shape set to None in pb"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Ubuntu 20.04.4 LTS`
- TensorFlow installation (pip package or built from source): `pip install tensorflow==2.9.1`
- TensorFlow library (version, if pip package or github SHA, if built from source): `tensorflow==2.9.1`

### 2. Code

PRELU definition:
[code]

### 3. Failure after conversion

1. There is no problem

[2022-08-26 13:51] sendjasni commented on #32809
Thanks for sharing @albertmundu.
How much accurate is this ? I'have been using a different code ([the solution provided here](https://stackoverflow.com/questions/49525776/how-to-calculate-a-mobilenet-flops-in-keras)) and the results are way different.

[2022-08-26 15:23] mohantym commented on #57461
Hi @prince-chrismc !
Feel free to raise a PR.
Thank you!

[2022-08-26 16:38] #56798 closed

[2022-08-26 17:38] #57129 closed

[2022-08-26 17:53] gowthamkpr commented on #38866
Keras scikit-learn is deprecated and we are no longer maintaining/bug fixing it. Please forward this issue to https://github.com/adriangb/scikeras.

[2022-08-26 18:07] njoppi2 commented on #42053
Try changing the loss in your model.fit from `loss="categorical_crossentropy"` to `loss="binary_crossentropy"`

I Had the SAME problem, but this worked for me. The thing is that I have a binary classification model, with only 1 output node, not a multi-classification model with multiple output node, so `loss="binary_crossentropy"` is the appropriate loss function in this case.

😊

[2022-08-26 19:07] winston-zillow commented on #57455
It looks like unique to MacOS? I tried it again with 2.9.1:

[code]

On ubuntu, it does not have the warnings:
[code]

The exact codes I ran:
[code]

[2022-08-26 19:09] gowthamkpr commented on #32532
@daviddiazvico It seems that the KerasRegressor and Kerasclassifier is deprecated and we are no longer maintaining/bug fixing it. Please forward this issue to https://github.com/adriangb/scikeras.

[2022-08-26 19:44] gowthamkpr commented on #38206
@shinlin77 Is this still relevant? Can you please close this issue if it is not relevant. Thanks!

[2022-08-26 20:11] #56723 closed

[2022-08-26 21:00] gowthamkpr commented on #41053
@w4nderlust @ooshyun You can take a look at the solutions provided [here](https://stackoverflow.com/questions/49503748/save-and-load-model-optimizer-state/49504376) for saving and loading optimizer state. Thanks!

[2022-08-26 21:10] VictoriaGriffith commented on #57450
Hi @tilakrayal , I don't think the document states that stride and dilation_rate should be same. Here is the related argument :

I think this means that only one of `stride` and `dilation_rate` can be != 1.

[2022-08-26 21:13] VictoriaGriffith commented on #57450
Plus, I checked pytorch  [torch.nn.ConvTranspose2d](https://pytorch.org/docs/stable/generated/torch.nn.ConvTranspose2d.html), and it supports strides = 1 and dilation_rate = 2:

[code]

[2022-08-26 21:17] VictoriaGriffith commented on #57450
Even if TensorFlow decides not to support this feature, proper error message should be thrown during the forward pass, currently `res = layer(x)` succeeds and output a `(1, 5, 6, 2)`-shape tensor, and then back prop fails.

[2022-08-26 21:21] gowthamkpr commented on #41141
@bayandin As mentioned [here](https://github.com/tensorflow/tensorflow/issues/39458#issuecomment-669588856), this is expected. If you still think this is an issue, please open an issue in [keras-team/keras](https://github.com/keras-team/keras/issues/new/choose) as the development of keras has been moved to a different repo. Thanks!!

[2022-08-26 21:40] AustinCStone opened #57470 "[tf.data.dataset] .take after .shuffle doesn't work as expected"
### Issue Type

Bug

### Source

source

### Tensorflow Version

2.8.0

### Custom Code

No

### OS Platform and Distribution

OSX 12.5.1 and Linux Ubuntu

### Python version

3.9.12

### Current Behaviour?

Performing .take(1).repeat() after .shuffle(N) returns N different elements.

Reproduction instructions:

[code]
This will print 10 different, random integers in the range 1 - 4.

Expected beh

[2022-08-26 21:45] dmvieira commented on #33840
The error persists here using python 3.7 and tensorflow 2.9.1

this workaround works great, but I think it's not the fix. I don't know if define the max filter_size and alert with an warning is an option, but is possible with this code and I can contribute with something like these if you agree:
`filter_size = max(1, min(img1.shape[1]//(2**(len(power_factors)-1)), img1.shape[2]//(2**(len(power_fac

[2022-08-26 22:41] gowthamkpr commented on #41325
@farotem This is not a bug in tensorflow, everytime the input size changes, graph retracing happens as to accommodate the input size as mentioned [here](https://www.tensorflow.org/guide/function#controlling_retracing) and that is the reason why performance is being reduced. To control the tracing behavior, you can use the following techniques as mentioned [here](https://www.tensorflow.org/guide/fu

[2022-08-26 22:52] christianhacker commented on #57228
@jamesmullenbach

You're right; I could just train the models on different jobs. It'd be nice to do so in a coordinated way, since I'm trying to run hundreds of models asynchronously, distributed over at least 10 gpu processes running on a single card. Autosharding the data would be nice too, so I thought `distribute` would be a good fit.

I was able to get something working with Ray; there's some

[2022-08-26 22:52] #57228 closed

[2022-08-26 23:09] gowthamkpr commented on #41929
We are sorry. But the solution to this error is very simple, ex. the reason is that you have trained the model on version '2.3.0' of Tensorflow & '2.4.3' of Keras (On Colab or local). and now you are accessing the saved model(.h5) via another version of Keras & TensorFlow. It will give you the error. The solution is that re-trained model with upgraded versions or downgrades your TF&Keras to the sa

[2022-08-26 23:13] gowthamkpr commented on #42018
@yusliang @alionkun @tanguycdls As mentioned [here](https://github.com/tensorflow/tensorflow/issues/47010#issuecomment-777845056), this cannot be fixed and please use the workarounds. Thanks!!

[2022-08-27 00:08] radarhere commented on #56723
Thanks very much @cantonios!

[2022-08-27 01:02] matthewn4444 commented on #48001
Since August API 31 is needed, so all new apps (and updates) submitted into the Play Store cannot use OpenCL anymore and have to use OpenGL instead?

[2022-08-27 01:38] Bahar-BM opened #57475 "NNAPI delegate issue with DepthwiseConv2D nodes"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

No

### OS Platform and Distribution

Android

### Mobile device

tested on Snapdragon 888, 865, 855

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU mode

[2022-08-27 05:22] cantonios commented on #56723
@radarhere no problem.  At Google we oddly have a patched version of Pillow that replaces `__array_interface__` back with `__array__`, so we weren't reproducing this issue internally.  Maybe this was why.

[2022-08-27 07:34] jaybhanushali99 opened #57476 "Tensorflow loading RGB image from directory as 5-D tensor"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response

[2022-08-27 09:17] minhdang241 commented on #46477
I also have the same problem

[2022-08-27 10:36] talyz commented on #57461
Submitted the patch in #57477.

[2022-08-27 11:46] mohantym commented on #57449
@JVD9kh96 !
Could not find an issue in [2.6.4](https://colab.sandbox.google.com/gist/mohantym/2b956cb652437a077c51b8576224cd35/git_57449.ipynb#scrollTo=idX0l1uUEEuP) too. I think it might be an issue with your environment. Please proceed with found work around found on your end .

Thank you!

[2022-08-27 11:48] mohantym commented on #57461
Thank you @talyz for the above PR. This issue will be closed once PR is merged.

[2022-08-27 11:50] mohantym commented on #57467
Hi @mayujie !
Dynamics shapes are not supported yet. Please proceed with a fixed input shape as you mentioned.
Thank you!

[2022-08-27 12:08] farotem commented on #41325
@gowthamkpr unfortunately from my benchmark calling conv2d with tf functions and tensor spec did not help to improve the performance when changing the batch size (you can see the example I shared) do you have a suggestion what to change to make sure retracing is not accuring when using conv2d?

[2022-08-27 13:19] huzq85 commented on #55525
hi, I just checked the

Actually I encountered the same issue. I can see "Created Tensorflow Lite XNNPACK delegate for CPU" but the thing is that when running on the floating model, there are multiple lines of "Created Tensorflow Lite XNNPACK ...", for the int8 model, there is only one such line printed.

[2022-08-27 13:21] huzq85 commented on #55525
Actually I encountered the same issue. I can see "Created Tensorflow Lite XNNPACK delegate for CPU" but the thing is that when running on the floating model, there are multiple lines of "Created Tensorflow Lite XNNPACK ...", for the int8 model, there is only one such line printed.

And, the quantized (int8) model obtains much more latency than the floating point model.

[2022-08-27 14:45] albertmundu commented on #32809
@sendjasni I followed the link you provided; I used one of the working code given by user https://stackoverflow.com/users/4619958/ch271828n

### Using StackOverflow code
[code]

And it prints the following

[code]
### Using wandb code https://github.com/tensorflow/tensorflow/issues/32809#issuecomment-1222824403
[code]

It prints
[code]

This value is obtained using `return (flops.total_float_ops /

[2022-08-27 15:07] nikzdevz commented on #35711
@aijiart  How have you installed aapt version 28 on ubuntu as i dont know command

[2022-08-27 16:24] chengmengli06 commented on #56885
any progress?

[2022-08-27 16:24] chengmengli06 commented on #56885
@gowthamkpr

[2022-08-27 18:03] ArtanBerisha1 opened #57479 "Can't build Video Classification android app"
I cloned tensorflow/examples repo,
I am opening video classification app: github.com/tensorflow/examples/tree/master/lite/examples/video_classification/android, but I got the following error:

[code]

I solved this by creating gradle-wrapper.properties file, because that file was missing. I am not sure if I only had this issue, or should I create a PR for this ?

[2022-08-27 18:36] crcunningham commented on #44609
Should this be closed given that the request was for a Swift package and there isn't a Swift package yet? It sounds like you're planning to add one which is great, I'm just wondering what issue is tracking that work?

[2022-08-27 19:13] aalbaiaa commented on #34962
at path :
/yourpathToPytho/anaconda3/lib/python3.8/site-packages/mask_rcnn-2.1-py3.8.egg/mrcnn/model.py

change file model.py

just comment out line 2163 & 2164
i.e.,
self.keras_model._losses = []
self.keras_model._per_input_losses = {}

[2022-08-27 22:46] prince-chrismc commented on #57461
Thanks! For keeping it moving forward!

[2022-08-28 01:30] VictoriaGriffith opened #57480 "Wrong gradient for `tf.atan` with complex input"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-08-28 02:13] eeDigitalSeal commented on #56886
@sushreebarsa Hi, as you replicated, the `ValueError` is thrown by forward-mode auto differentiation at line 17. But the input shape `[2]` is actually invalid so it should throw the same error in reverse-mode at line 13, that is
[code]
I think it was caused by some missing input validation in reverse-mode autograd.

[2022-08-28 02:36] VictoriaGriffith opened #57481 "`tf.keras.activations.swish` has wrong gradient"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-08-28 08:12] ashishbhong82 opened #57482 "Custom - minmax pooling - Keras - Tensorflow"
I created a custom pooling layer using tensorflow layer subclassing. Here is the code:

[code]
The motive of this layer is to downsample a timeseries something like:

original:
[![enter image description here][1]][1]
Later:
[![enter image description here][2]][2]

The layer accepts a filter size and a tensor(timeseries) then it splits the tensor in to chunks according to filter size and then it lo

[2022-08-28 09:28] margeonie commented on #47554
I am also experiencing the same error using tf version 2.9.1 - until this problem is solved, how can I hide the warning message?

[2022-08-28 09:31] Co1lin commented on #57359
I have a new discovery. In my environment, if I remove `import torch` when using TensorFlow, this issue will disappear.

[2022-08-28 09:53] ashishbhong82 commented on #57482
anyone there

[2022-08-28 10:27] arinconh opened #57483 "Tensorflow macOS 12.5.1"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

MacOS 12.5

### Mobile device

_No response_

### Python version

3.10.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No res

[2022-08-28 11:16] sushreebarsa commented on #57359
@Co1lin Thank you for the update!
Please move this issue to closed status if it is resolved for you?
Thank you!

[2022-08-28 11:44] Co1lin commented on #57359
@sushreebarsa Hi! I am wondering if it's better to output a more friendly error message for this assertion error? Only logging

[code]

is quite confusing. If it's ok, I would like to add some extra information [here](https://github.com/tensorflow/tensorflow/blob/ffb32784038a274f775a036b8f5a93468ab3ef08/tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc#L196)., like:

[code]

[2022-08-28 11:47] phoomp commented on #57483
Hi, @arinconh, it seems like your version of TensorFlow was compiled for ```x86_64```, but you are trying to install it on  Apple Silicon (```arm64```).

Hence, this error:
[code]

Can you try the following? (It's slightly different from the video.)

[code]

If that still fails, can you provide the terminal output for this command? `file $(which python)`

[2022-08-28 11:56] jhuus commented on #57359
In my case, I am trying to use torchaudio with tensorflow. If I use librosa
it works but if I use torchaudio I get the error. Since torchaudio uses GPU
it is much faster. If this can’t be fixed I’ll just rewrite the whole thing
to use torch I guess.

On Sun, Aug 28, 2022 at 7:17 AM sushreebarsa ***@***.***>
wrote:

[2022-08-28 11:58] Co1lin commented on #57359
@jhuus Could you try `tf.config.experimental.enable_tensor_float_32_execution(False)`? I think it only sacrifices a little performance but enables you to use torch and tensorflow at the same time.

[2022-08-28 12:37] ma7555 commented on #56904
I am facing the same issue with ` tf.image.crop_to_bounding_box`

[2022-08-28 12:53] jhuus commented on #57359
Actually, just importing tensorflow before I import torchaudio fixed the
problem! It makes me a little worried about other possible compatibility
issues between torchaudio and tensorflow though.

On Sun, Aug 28, 2022 at 7:58 AM Colin ***@***.***> wrote:

[2022-08-28 13:43] sushreebarsa commented on #57483
@arinconh Could you please refer to the [comment](https://github.com/tensorflow/tensorflow/issues/57483#issuecomment-1229440132) above and let us know if it helps?
Thank you!

[2022-08-28 15:02] #57411 closed

[2022-08-28 15:02] ZhaoqiongZ commented on #57411
Thanks

[2022-08-28 17:27] sushreebarsa commented on #57401
@VictoriaGriffith I tried to replicate the issue on colab and it crashes on gpu runtime. Could you please find the gists of [cpu](https://colab.research.google.com/gist/sushreebarsa/585c03e413417554c92e9c027e1407d7/57401.ipynb#scrollTo=JI7pV-XkTMeX) and [gpu](https://colab.research.google.com/gist/sushreebarsa/72f3daa0eb3785a6f4538f8bffcd2a52/57401.ipynb#scrollTo=0RitoivmOi6y) runtime here? Please

[2022-08-28 18:30] meliksahturker opened #57485 "tensorflow dataset map py_function returns <unknown> shaped tensors and results error with subclassed models with custom train_step"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

No

### OS Platform and Distribution

SMP Debian 4.19.249-2 GNU/Linux

### Mobile device

_No response_

### Python version

3.7.12

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.4

### GPU model and memory

[2022-08-28 18:50] VictoriaGriffith opened #57486 "`tf.linalg.sqrtm` crashes when computing gradient for empty input"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-08-28 20:12] VictoriaGriffith commented on #57486
I think the bug comes from this low-level api `tf.raw_ops.MatrixSquareRoot`, which also crashes on the same input:
[code]

[2022-08-28 20:23] VictoriaGriffith opened #57487 "`tf.math.bincount` crashes"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-08-28 20:35] VictoriaGriffith opened #57488 "`tf.raw_ops.UnicodeDecodeWithOffsets` crashes"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-08-28 20:50] VictoriaGriffith opened #57489 "`tf.sparse.to_dense` lack support for qint"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-08-28 21:23] gsirocco opened #57490 "Converting a TF model to TFLite and then to EdgeTPU"
I'm trying to convert a simple add model from TF to TFLite to EdgeTPU
However, it seems this conversion is caught in a catch 22 scenario.
If I specify int8 data type as below, it ends up wanting to use the FlexAddV2 TF op, which fails to convert to EdgeTPU.
If I specify as int32 data type instead, it is able to use regular ADD op, but the data type is incompatible with EdgeTPU and says the data ty

[2022-08-28 21:56] adamvvu commented on #16424
FYI - the `conda` packages (tested `v2.9.1`) still have the dependency issue with `bleach==1.5.0`. Installing from `pip` works fine.

[2022-08-28 23:52] drubinstein commented on #57196
So I tried to create a demo app in android (sorry no code), but I did see the following results when using Android Studio's APK Analyzer:

- TFLite 2.9 with Arm64 - 1.2MB Compressed, 3.2MB Uncompressed
- TFLite 2.9 with Armv7 (32-bit) - 1.1MB compressed, 2.2MB Uncompressed

The uncompressed value comes from checking the file size of the JNI .so file inside the aar file distributed by Tensorflow. U

[2022-08-29 00:29] tianboh opened #57491 "How to replace an existing op with a custom op without retraining?"
### My question

Hi there,

I have an old model whose training code is lost, but I still have the saved_model format file. I want to optimize this model by writing some custom ops and replace the original op because I know it is a BERT-like model.

My question is, once I have written the custom op, how can I ask the original model to replace its op with my custom op? I only have a driver code writ

[2022-08-29 00:49] nyngwang commented on #57205
:(

[2022-08-29 02:01] hosford42 opened #57492 "Tensor size-related conditional logic ignored in `tf.function`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

v2.9.0-18-gd8ce9f9c301

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 20.04.4 LTS

### Mobile device

n/a

### Python version

Python 3.8.10 (default, Jun 22 2022, 20:18:18)  [GCC 9.4.0] on linux

### Bazel version

n/a

### GCC/Compiler version

n/a

### CUDA/cuDNN vers

[2022-08-29 02:13] hosford42 commented on #57492
Here's an even simpler way to reproduce the issue, which doesn't involve `tensor_scatter_nd_update` at all:

[code]

Here's the traceback:

[code]

[2022-08-29 02:21] hosford42 commented on #57492
I even tried building a `tf.cond` manually, to no avail:

[code]

Traceback:
[code]

[2022-08-29 02:22] hosford42 commented on #57492
At this point, I see no other options for working around this besides modifying the tensor to be non-empty, and then cutting it back down to size again afterwards.

[2022-08-29 03:37] VictoriaGriffith commented on #57401
@sushreebarsa yes, thanks for replicating this issue!

[2022-08-29 03:44] VictoriaGriffith commented on #56796
Thanks @sachinprasadhs for pointing this out! If this is an expected behavior, I will close this issue.

[2022-08-29 04:10] Apprisco commented on #57353
Yes, it happened specifically with us utilizing max_value=1.0. We verified that the images do indeed have min/max values between 0 and 1, so there's no reason for this to happen.

I'm not sure how I'm supposed to report a working code snippet for this: nan losses are already very rare to come by, all I know is that SSIM specifically was causing nan losses.
https://github.com/jorge-pessoa/pytorch-m

[2022-08-29 04:46] mohantym commented on #33840
Ok @dmvieira !
Thanks for the update. Re-opening as requested. Could you raise a PR from your end .
Thank you!

[2022-08-29 05:20] yifeipet opened #57493 "tf.image.ssim_multiscale has a bug as a loss function. It produces nan. The bug didn't happen before. Please fix it"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Windows

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2/8.1

### GPU model and memory

RTX A6000

### Curr

[2022-08-29 05:44] #56890 closed

[2022-08-29 06:29] tilakrayal commented on #57465
@mattbarrett98,
Could you please feel free to submit a PR for the requested change to be made. Thank you!

[2022-08-29 06:31] tilakrayal commented on #57466
@maifeeulasad,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue. Thank you!

[2022-08-29 06:32] luweizheng commented on #54925
I am using jax and xla, I tried with `TF_CPP_MAX_VLOG_LEVEL=3 python jax.py` but I can not get logs less than 3. Is there some switch that I have to turn on?

[2022-08-29 06:42] tilakrayal commented on #57470
@sachinprasadhs,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/a9b7b30e083d13688d65086cd9df7076/2-8.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/18a86196fbc83e3d9f18ea7d72209818/tfdatabug.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/e9b6fd61357445369c776995a61b0106/2-11.ipynb). Kindly find the

[2022-08-29 07:56] EnricoMi opened #57494 "Header tensorflow/stream_executor/stream.h not included with tf-nightly pip package"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.11.0.dev20220828

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model

[2022-08-29 08:07] EnricoMi commented on #57494
Looks like this has been caused by #57083.

Is `tensorflow/stream_executor/stream.h` meant to be replaced by `tensorflow/compiler/xla/stream_executor/stream.h`?

[2022-08-29 08:08] EnricoMi commented on #57494
@joker-eph

[2022-08-29 08:16] shijy16 opened #57495 "Check-fail can be triggered in Conv3DBackpropInputV2"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9 and 2.11.0-dev20220828

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.5

### GPU mode

[2022-08-29 08:20] guillaumekln commented on #50575
It seems this was fixed in TensorFlow 2.8. The initial code snippet no longer shows a warning.

@tilakrayal Feel free to close this issue.

[2022-08-29 08:22] shijy16 opened #57496 "Infinite-loop in AdjustHue"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9 and 2.11.0-dev20220828

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.5

### GPU model and memory

_No response_

### Current Behavi

[2022-08-29 08:26] shijy16 opened #57497 "Check-fail in MaxPool3DGrad"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9 and 2.11.0-dev20220828

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.5

### GPU mode

[2022-08-29 08:29] shijy16 opened #57498 "Floating point exception in MaxPool3DGrad"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9 and 2.11.0-dev20220828

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU

[2022-08-29 08:36] shijy16 opened #57499 "Memory Corruption in AvgPool3D when OneDNN is enabled"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9 and 2.11.0-dev20220828

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.5

### GPU mode

[2022-08-29 08:39] shijy16 opened #57500 "Floating point exception can be triggered in AvgPool3D when run with CPU and OneDNN is enbaled"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9 and 2.11.0-dev20220828

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.5

### GPU mode

[2022-08-29 08:44] joker-eph commented on #57494
I'm not sure how #57083 could cause this: it didn't touch stream executor and TSL does not relate either.

b71fca418dd6b485ed54d4190cac51996c5590c3 moved stream executor code to XLA, but I'm surprised by your error since we left a forwarding header behind: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/stream_executor/stream.h

@rdzhabarov would know maybe?

[2022-08-29 08:49] shijy16 opened #57501 "Crash due to Use of Uninitialized Value When Initializing TensorShape in MaxPoolingWithArgmaxOp"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9 and 2.11.0-dev20220828

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.5

### GPU mode

[2022-08-29 08:52] shijy16 opened #57502 "Check-fail in MaxPoolGrad"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9 and 2.11.0-dev20220828

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 11.5

### GPU mode

[2022-08-29 09:16] mohantym commented on #57475
Hi @Bahar-BM !

Thanks for reporting those observations on NNAPI with DepthwiseConv2D.

@sachinprasadhs ! Could you look at this issue.

Thank you!

[2022-08-29 09:47] mohantym commented on #57490
Hi @gsirocco !
Could you use a representative dataset (yield tf.int8/np.int8 data type ) and use supported ops syntax like below and let us know.
[code]

Attached relevant  threads [1](https://www.tensorflow.org/lite/performance/post_training_integer_quant#convert_using_integer-only_quantization) and [2](https://coral.ai/docs/edgetpu/tflite-python/#update-existing-tf-lite-code-for-the-edge-tpu)  f

[2022-08-29 09:52] tilakrayal commented on #57482
@ashishbhong82,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-08-29 09:54] EnricoMi commented on #57494
Sorry, I pasted the wrong link. It was caused by 2be83013. It removes `list(find_files('*.h', 'tensorflow/stream_executor')) +` from `tensorflow/tools/pip_package/setup.py`:
https://github.com/tensorflow/tensorflow/commit/2be830137aca09da21d599e04ba7d7ad0059ed05#diff-f526feeafa1000c4773410bdc5417c4022cb2c7b686ae658b629beb541ae9112

[2022-08-29 09:55] tilakrayal commented on #50575
@guillaumekln,
Thank you for the update. As per the users [comment](https://github.com/tensorflow/tensorflow/issues/50575#issuecomment-1229939765) this issue was fixed in tensorflow **v2.8** and marking the issue as closed. Thank you!

[2022-08-29 09:55] #50575 closed

[2022-08-29 10:13] tilakrayal commented on #57486
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.9, v2.8 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/f5b5349871127659779c9fe7e9ec69e5/untitled534.ipynb).

[2022-08-29 10:15] mohantym commented on #57491
Hi @tianboh !
1.x versions are not supported anymore. But you can go [2.x documentation](https://www.tensorflow.org/guide/create_op) on adding and testing a custom op.
Thank you!

[2022-08-29 10:22] tianboh commented on #57491
Thank you, I will try it!

[2022-08-29 10:22] #57491 closed

[2022-08-29 10:38] tilakrayal commented on #57489
@VictoriaGriffith,
Could you please provide any reference link or the documentation link which mentioned that **tf.sparse.to_dense** supports the **qint**. Thank you!

[2022-08-29 11:03] mohantym commented on #57479
Hi @ArtanBerisha1 !
It is asking to upgrade to 7.2.2 while running in Android studio Chip munk. Once upgraded and gradle is synced , It is able to run (but results are not accurate).  Thanks for reporting it and Feel free to raise a PR from your end.

@sachinprasadhs !
Could you look at this issue.

Thank you!

[2022-08-29 11:04] tilakrayal commented on #57492
@gadagashwini,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/8847c335fa70d4773b0c445e71c6d145/untitled537.ipynb).

[2022-08-29 11:12] gadagashwini commented on #57166
Hi @burnpanck, When I executed given code, it worked as expected. Tested with `Python3.10` and` Tensorflow 2.9.1`

[code]

[2022-08-29 11:27] mohantym commented on #57497
Hi @gadagashwini !
Could you look at this issue. It is throwing a segmentation crash with GPU mode in [2.8](https://colab.sandbox.google.com/gist/mohantym/93332370cd076e7d85faf08ecc0f9725/git_57497.ipynb#scrollTo=jVz1qrqGT0U6), [2.9](https://colab.sandbox.google.com/gist/mohantym/519b151cf8f4e9e5718c7bacd4818236/git_57497.ipynb#scrollTo=jVz1qrqGT0U6), [2.10.rc2](https://colab.sandbox.google.com/gi

[2022-08-29 12:13] VictoriaGriffith commented on #57489
Hi @tilakrayal , the document does not make it clear whether this API or the `tf.sparse.*` APIs supports the qint (and could be improved by including this information).
However, I believe that this should be consistent across `SparseTensor`: if users are allowed to create such a sparse tensor with qint, we expect the **basic support like `sparse.to_dense/from_dense`**. For example, I tried a few A

[2022-08-29 12:46] #57482 closed

[2022-08-29 13:57] mohantym commented on #21526
@lp0617 !
The Above warning does not impact much TFLiteconversion. To use custom op, You need to register the op in TFlite kernel and use custom ops syntax during TFLiteconversion.
`converter.allow_custom_ops = True`

Attached relevant [thread](https://www.tensorflow.org/lite/guide/ops_custom) for reference.

Thank you!

[2022-08-29 14:01] sushreebarsa commented on #57356
@iammeizu Could you please confirm if this issue is replicating in TF v2.9.0 ?
Thank you!

[2022-08-29 14:20] aakash30jan commented on #33840
@dmvieira perhaps this is well suited

[code]
For example:
`
suggest_filter_size(field1, field2,power_factors = (0.0448, 0.2856, 0.3001, 0.2363, 0.1333), filter_size = 11)
`
A good fix would be on the user side, something like:

[code]

[2022-08-29 15:07] gsirocco commented on #57490
I have run the following, but it is still complaining that it needs FlexAddV2:

import tensorflow as tf
from tensorflow import keras
import numpy as np

def representative_dataset():
    for _ in range(100):
      data = np.random.rand(1, 32)
      yield [data.astype(np.int8)]

input = keras.Input(shape=(32,), name="dummy_input", dtype=tf.int8)
output = tf.add(input, 1)
model = keras.Model(inputs=

[2022-08-29 15:54] sushreebarsa commented on #57430
@eeDigitalSeal  I tried to reproduce the issue in TF2.9, tf-nightly(2.11.0-dev20220828),  and I faced different outputs. Could you please check this [gist](https://colab.research.google.com/gist/sushreebarsa/d1ce6beaa11866c3a4f0fb4d0563ac9b/untitled102.ipynb) and confirm the same?
Thank you!

[2022-08-29 16:18] sushreebarsa commented on #57454
@wwdok Could you please upgrade to latest TF version as older versions are not actively supported and let us know the outcome. I tried to replicate the issue and faced different outcome. Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/b194bdefca61d79ae53357049fe8365a/57454.ipynb) and confirm the same. Thank you!

[2022-08-29 16:26] github-actions[bot] opened #57503 "Issue created for Rollback of PR #56119: Add lamba var loop test"
Merged PR #56119 is rolled back in f36b1f5d447577df3b87af59b4dd1415ac35b3ba.
    Please follow up with the reviewer and close this issue once its resolved.

[2022-08-29 16:31] sushreebarsa commented on #57463
@mstebelev I was able to replicate the issue on colab using TF v2.9, could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/1111251eac438bf75d29e39480c5f440/untitled103.ipynb) and confirm the same. Thank you!

[2022-08-29 16:33] bhack commented on #57503
https://github.com/tensorflow/tensorflow/pull/57478

/cc @mdanatg

[2022-08-29 16:38] sushreebarsa commented on #57476
@jaybhanushali99 I tried to replicate the issue, could you find the gist [here](https://colab.research.google.com/gist/sushreebarsa/f5ca750d8ab2548c6570283143fb13d0/untitled104.ipynb) and confirm the same? Thank you!

[2022-08-29 16:58] sushreebarsa commented on #57390
@dixr
In order to expedite the trouble-shooting process here, could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) and provide more details.
Thank you!

[2022-08-29 17:20] sushreebarsa commented on #57480
@VictoriaGriffith I tried to reproduce the issue reported, could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/d3af13fa0eded8553a1c8da57af96f62/57480.ipynb#scrollTo=4yYQy-ozuvno) and confirm the same?
Thank you!

[2022-08-29 17:39] dixr commented on #57390
@sushreebarsa
What additional details do you need, specifically? I already did provide

- Standalone code to reproduce the issue
- A colab that interactively shows how to reproduce the issue.
- A reference to the exact lines in the source (master) that needs fixing

I do not think that any of the many GCC / TF / compiler version / platform / ... information in the template would help you? The prob

[2022-08-29 18:00] sushreebarsa commented on #57390
@dixr Thank you for the update!
Please feel free to raise a PR to fix the issue. Thank you!

[2022-08-29 18:25] dennyX7 commented on #57498
Facing the same issue.

[2022-08-29 18:32] dixr commented on #57390
@sushreebarsa I did, #57506

[2022-08-29 18:38] #56638 closed

[2022-08-29 21:01] cantonios commented on #57192
Thanks @RickSanchezStoic for reporting.

@HarisBalaji are you offering to fix this?  You can probably just remove integer types from the documentation.

[2022-08-29 21:03] SeeForTwo commented on #50507
After investigation, commits https://github.com/tensorflow/tensorflow/commit/55a1146af14d38bcad9afe3c3aa392e94c5e07cc and https://github.com/tensorflow/tensorflow/commit/9418c87eaa8a927fbdec2b09fbde1ca461e2579c (and related supporting commits) seem sufficient to addressed expected use cases. Some corner cases around pure eager execution may remain.

Please re-open this bug if the same symptom re-o

[2022-08-29 21:03] #50507 closed

[2022-08-29 21:15] SeeForTwo commented on #50507
PS. Please see  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/ragged/ragged_factory_ops_test.py for examples of working cases of ragged tensors with DistributedDataset.

[2022-08-29 21:25] sachinprasadhs commented on #57192
@cantonios, I have created the PR by removing int dtypes, could you please review it. Thanks!

[2022-08-29 22:56] cantonios commented on #53658
The failures occur when a random "0" is encountered.  You can easily see different results with something like
[code]

Note that they do not produce the same thing _intentionally_.  For a dense softmax, zeros are considered, and the output of the softmax function will not be zero at those locations (since `exp(0) == 1`).  For sparse matrices, any zeroes [_do not participate_](https://www.tensorflo

[2022-08-29 22:56] #53658 closed

[2022-08-29 23:15] bhack commented on #57493
As you don't have a minimal example/dummy network to reproduce it can you check if it could be the same as https://github.com/tensorflow/tensorflow/issues/50400?

[2022-08-29 23:43] hosford42 opened #57514 "tf.abs(tf.int32.min) returns a negative value"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

v2.9.0-18-gd8ce9f9c301

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04.4 LTS

### Mobile device

n/a

### Python version

Python 3.8.10 (default, Jun 22 2022, 20:18:18) [GCC 9.4.0] on linux

### Bazel version

n/a

### GCC/Compiler version

n/a

### CUDA/cuDNN versio

[2022-08-29 23:51] hosford42 commented on #57514
I realize it's impossible to represent the correct return value as an int32. Either tf.int32.min should be incremented by 1, or an INVALID_ARGUMENT exception should be raised.

I prefer the former, personally. The current value of tf.int32.min could perhaps be repurposed later as an integer equivalent to nan, which would be very helpful in making ints and floats behave more consistently w.r.t. to

[2022-08-30 01:12] wukong1992 commented on #57385
Just use [this](https://colab.research.google.com/gist/tilakrayal/b3fab0a0007caa49cdf96594c0b44dc0/untitled531.ipynb#scrollTo=cjxjYPgFPEUY) code, but you have configure gpu resource . The bug only exist in multi mig gpu configuration.

[2022-08-30 01:43] sushreebarsa commented on #57390
@dixr Thank you for the update!
This issue will be closed once the PR is merged.
Thank you!

[2022-08-30 01:47] joshua-xia commented on #52989
I willing to investigate this issue.

[2022-08-30 01:55] dmvieira commented on #33840
It's a good code example @aakash30jan ! And a great new feature, but my point was about how is the best Interface for the user. I don't know if build a new function to suggest filter_size is the best way, but perhaps just show a better error with the description explaining that the maximum filter_size should be the value returned by a code similar to `suggest_filter_size`, instead of a generic err

[2022-08-30 02:13] sushreebarsa commented on #57481
@VictoriaGriffith I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/f644fe28f2a9b87ca7a4029ea9fcf210/57481.ipynb) here.
This issue seems to be Keras issue.  Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues) as Keras development is fully moving to [github.com/keras-team/keras](http://gi

[2022-08-30 02:25] sushreebarsa commented on #57502
@shijy16 I tried to replicate the issue on colab, could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/8b364141eef923b353c0061b2cc8d2b4/57502.ipynb#scrollTo=UPASBHLgjuT-) and confirm the same?
Thank you!

[2022-08-30 02:31] yifeipet commented on #57493
I have already uninstalled Tensorflow 2.9.1 and reinstalled Tensorflow 2.4.0. The MS-SSIM loss in my customized gradient tape like the code sample you mentioned produces Nan in Tensorflow 2.9.1 and Tensorflow 2.8.2 on my RTX A6000 workstation, but not in Tensorflow 2.4.0 on my RTX A6000 workstation. But current Colab Tensorflow 2.8.2 doesn't have the error for the same codes. I don't know the reas

[2022-08-30 02:34] shijy16 commented on #57502
@sushreebarsa Yes, the same check-fail happens here.

[2022-08-30 02:38] zilaiyedaren commented on #57194
@mohantym `sudo ln -s /usr/bin/python3 /usr/bin/python`
throw an error: ln: /usr/bin/python3: Operation not permitted

[2022-08-30 02:41] VictoriaGriffith commented on #57480
Hi @sushreebarsa , thanks for reproducing the issue.

1. Indeed, the bug only appears in **`TF 2.9.1`** because TF 2.8 lack support for `Atan` on `DT_COMPLEX64`.
2. For your workaround, I can see you passed a list of complex numbers instead of tensor. However, that **does not avoid the bug**, because this bug only happens with **a special complex input whose real=0**.
Below is an buggy example tha

[2022-08-30 02:44] sushreebarsa commented on #57485
@meliksahturker I tried to replicate the issue on colab , please fin the gist [here](https://colab.research.google.com/gist/sushreebarsa/937a33199b20b4cfc011bfd447bc437b/57485.ipynb) and confirm the issue.
Thank you!

[2022-08-30 02:46] wamuir commented on #57356
If TF < 2.5, there was indeed a memory leak associated with deallocs of string tensors in, fixed by #49925.

[2022-08-30 02:49] VictoriaGriffith commented on #57481
Thanks @sushreebarsa for replicating the bug.
I have reported this issue in Keras repo https://github.com/keras-team/keras/issues/16962.
However, I would still like to keep it here, because according to https://github.com/tensorflow/tensorflow/issues/57357, this bug seems to come from the same gradient problem as `tf.nn.silu` and `tf.nn.sigmoid` (because Swish computes `x*sigmoid(x)`), and could b

[2022-08-30 02:57] sushreebarsa commented on #57487
@VictoriaGriffith I was able to replicate the issue on colab using TF [v2.9.0](https://colab.research.google.com/gist/sushreebarsa/74aba8980a28187df994a46a4767e42d/57487.ipynb) and faced `InvalidArgumentError`  in [tf-nightly](https://colab.research.google.com/gist/sushreebarsa/98cc75e343cee588a39c307817e2d87c/57487-nightly.ipynb#scrollTo=uAKcHp9WqBhO)(2.11.0.dev2022082907). Please find the attach

[2022-08-30 02:59] eeDigitalSeal commented on #57430
@sushreebarsa Seems that this bug only appears in TF2.9.1 and already fixed in nightly. Thanks for pointing this out and I'll close this issue soon.

[2022-08-30 02:59] #57430 closed

[2022-08-30 03:12] HarisBalaji commented on #57192
@cantonios l will fix this

[2022-08-30 03:51] eeDigitalSeal opened #57517 "Reverse-mode auto differentiation didn't reject invalid `axis` input as expected for API `tf.math.reduce_logsumexp`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-08-30 04:38] #20866 closed

[2022-08-30 04:40] YellowHCH opened #57520 "Convert FloorModOp to tosa"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

5.1

### GCC/Compiler version

9

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Be

[2022-08-30 04:51] tilakrayal commented on #57495
@shijy16,
I was able to execute the provided code without any issues/error. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/515ce7de2aa90daf72847cf5283464ee/untitled540.ipynb) and let me know if anything is missing here. Thank you!

[2022-08-30 04:52] mohantym commented on #57490
@gsirocco !
Thanks for the update.
I see a line on MLIR in stack trace.
`tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:263] disabling MLIR crash reproducer, set env var MLIR_CRASH_REPRODUCER_DIRECTORY to enable.`
Could you please  give one more try with below syntax . Passing to @sachinprasadhs  for faster resolution.
[code]

Thank you!

[2022-08-30 05:03] shijy16 commented on #57495
@tilakrayal
Sorry, I forgot to mention that GPU must be enabled to reproduce the bug.

Please make sure the code is executed with GPU backend enabled.

[2022-08-30 05:04] tilakrayal commented on #57498
@shijy16,
Could you please confirm where the issue persists when the code is executed in GPU mode only or CPU too? Thank you!

[2022-08-30 05:06] gsirocco commented on #57490
I added the line:  converter.experimental_new_quantizer = True // It will enable conversion and quantization of MLIR ops
However, it did not seem to help, here is the output. Thanks!

$ python t2tf.py
2022-08-30 05:03:33.488129: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object f

[2022-08-30 05:08] shijy16 commented on #57498
@tilakrayal
Thanks for response. This issue seems to be GPU mode only.

[2022-08-30 05:26] tilakrayal commented on #50843
@jackaraz,
Could you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/50843#issuecomment-892124157) from the developer and try to test the code in latest stable v2.9 and also let us know if the issue still persists. Thank you!

[2022-08-30 05:48] sushreebarsa commented on #57480
@VictoriaGriffith Thank you for the update!
@gadagashwini I was able to replicate the issue [here](https://colab.research.google.com/gist/sushreebarsa/d3af13fa0eded8553a1c8da57af96f62/57480.ipynb#scrollTo=HMtjbQWBRl4Y). Please find the attached gist for reference. Thank you!

[2022-08-30 05:52] gadagashwini commented on #53657
Was able to reproduce the issue with `tf-nightly-2.11.0-dev20220829` . Please find the gist [here](https://colab.research.google.com/drive/1MYXLhHnH2NoX9ktS4FtAc-jnznNtPRQj?usp=sharing). Thank you!

[2022-08-30 06:00] maifeeulasad commented on #57466
@tilakrayal, I understand it. But I couldn't fit it any of these:
 - Tensorflow Issue Template
 - TensorFlow Lite Converter Issue
 - TensorFlow Lite in Play Services issue
 - TensorFlow Lite Op Request
 - Report a security vulnerability

That's why I created an empty issue.

[2022-08-30 06:04] gadagashwini commented on #53771
Hi @duncanriach, Can we move this issue to closed state, if it was resolved. Thank you!

[2022-08-30 06:06] cantonios commented on #57029
The CPU kernel explicitly clamps `y` to be >= 0 [here](https://github.com/tensorflow/tensorflow/blob/1f54224e10290125632e1adb757156557c44394e/tensorflow/core/kernels/cwise_ops.h#L1243).

The GPU kernel is compiler-generated and uses LLVM MLIR if available, which makes its own decision about what to do.

Different implementations can choose to do different things, which is why it is implementation-

[2022-08-30 06:06] #57029 closed

[2022-08-30 06:10] tilakrayal commented on #51438
@sjtusmartboy,
I tried to execute the code on tensorflow v2.11.0-dev20220829. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/86cbafccb1403a2280fa6e0f2f8202fe/untitled545.ipynb) and let us know if the issue still persists. Thank you!

[2022-08-30 06:22] tilakrayal commented on #50642
@Azmisov,
I was able to execute the provided code without any issues on tf v2.11.0-dev20220829. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/b04f2b6fc5607f7cd78f1090cbc279fa/untitled546.ipynb) and confirm if the issue still persists. Thank you!

[2022-08-30 06:27] tilakrayal commented on #57501
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/608249722e57127ee76f4882bf7e7a69/untitled542.ipynb).

[2022-08-30 06:27] gadagashwini commented on #53816
Was able to reproduce the issue with `tf-nightly-2.11.0-dev20220829`. Please find the attached gist [here](https://colab.research.google.com/drive/1Sa0pnFYR2IlQzuUHOiT57yAJLfepy98b?usp=sharing). Thank you!

[2022-08-30 06:33] Manjiz opened #57521 "__lll_lock_wait_private cost lots of CPU time."
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

binary

### Tensorflow Version

tf 1.15

### Custom Code

No

### OS Platform and Distribution

Linux CentOS 7

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and

[2022-08-30 06:38] #57121 closed

[2022-08-30 06:43] mohantym commented on #55414
Hi @jsmeredith !
Could you share a reproducible code for this issue too.
Thank you!

[2022-08-30 06:44] mohantym commented on #55484
Hi @mehran66 !
Could you share a reproducible code too.
Thank you!

[2022-08-30 06:48] gadagashwini commented on #54115
Hi @ArrowIntoTheSky, Looks like the `tf.image.adjust_hue` working as expected , delta value ranges [-1,1]. Below code Tested with `Tf-nightly-2.11.0-dev20220829`
[code]
**Output**
[code]
`tf.image.adjust_hue`, delta ranges from [-1, 1],
[code]
**Output**
[code]

[2022-08-30 07:09] gadagashwini commented on #54276
Hi @benbarsdell, Can we move this issue to closed state, If it was  resolved. Thank you!

[2022-08-30 07:21] tilakrayal commented on #57438
@MathiasToftas,
This is expected since keras won't recursively visit all the attributes for a random class to find all the weights. If you would like keras to track the weights of your class, you could either make it a keras layer, or a tf.Module, which will give keras an indication that this object will contain weights. Thank you!

[2022-08-30 07:24] gadagashwini commented on #54279
Was able to reproduce the issue with `tf-nightly-2.11.0-dev20220829`. Please find the gist [here](https://colab.research.google.com/drive/1VfGf4vjfzXiNB2ysm13IPfzzoolyhg0r?usp=sharing). Thank you!

[2022-08-30 07:46] gadagashwini commented on #54414
Was able to reproduce the issue `tf-nightly-2.11.0-dev20220829`. Please find the gist [here](https://colab.research.google.com/drive/1gyQwlf1upuIl4SOEaRXmv0EoN3FfkpJ-?usp=sharing). Thank you!

[2022-08-30 07:53] gadagashwini commented on #54458
Hi @albertz, Did you get a chance to look at @rainwoodman [comment ](https://github.com/tensorflow/tensorflow/issues/54458#issuecomment-1085001940). Thank you!

[2022-08-30 07:58] albertz commented on #54458
@gadagashwini  I did.

But @rainwoodman just made a comment on the `output_all_intermediates` usage. However, as long as this issue here is not fixed, I don't see the alternative? Even the error message suggests that:

The other suggested workaround to rearrange the code is not possible in my case.

So, as you see, it is important for me that you fix this.

[2022-08-30 08:31] panhu opened #57522 "About get_config"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

[2022-08-30 08:47] MathiasToftas commented on #57438
I'm not sure if I'm being unclear so just to make it crystal. My model does inherit from tf.Module, and clearly this is the case as keras does keep track of the weights and gives a complete list of all weights when the layers attribute is accessed.

The issue is that that the order of the weights in the list is not consistent between 'environments'.
- If the Layers attribute is accessed from the m

[2022-08-30 08:50] mohantym commented on #57194
Ok @zilaiyedaren !
Thanks for the update.

Could you try creating the symbolic link in another file location instead of same python file location.
`sudo ln -s /usr/bin/python3.7 /usr/local/bin/python3. # please use exact python location through where is python command.
`

[Ref](https://stackoverflow.com/a/36734569/11530462)

Thank you!

[2022-08-30 08:57] meliksahturker commented on #57485
@sushreebarsa The error in colab is slightly different than the one I reported. I tried to replicate my error by installing 2.8.0, 2.8.2 and 2.9.0 with failure. However, both arise from <unknown> shape phenomenon, so I think we can confirm the issue.

[2022-08-30 09:06] BhaskarsarmaP opened #57523 "TFLite with XNNPack delegate is performing slower than TFLite when XNNPack delegate is set to false"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

2.8.0

### Custom Code

No

### OS Platform and Distribution

Debian 10.2

### Mobile device

_No response_

### Python version

3.7.3 for python3, python 2.7.16

### Bazel version

5.1.0

### GCC/Compiler version

8.3.0

### CUDA/cuDNN version

NA

### GPU model and memory

NA

[2022-08-30 09:13] mohantym commented on #52045
Hi @szutenberg !
1e-07 would be a safer epsilon value compatible to TF 2.x versions.  You can also use tf.keras.backend.epsilon for not using epsilon values explicitly. Attached [gist](https://colab.sandbox.google.com/gist/mohantym/532227499de57f8edb3d2a7a8cafd87e/untitled99.ipynb#scrollTo=CPdYvo3G49Qb) for
[Reference.]( https://stackoverflow.com/a/66332679/11530462)
Thank you!

[2022-08-30 09:20] szutenberg commented on #52045
Hi @mohantym ,
Sure. Epsilon 1e-07 works but my point is that grappler's constant folding doesn't work correctly.

[2022-08-30 09:29] mattbarrett98 commented on #57465
I'll do this now, where can I find the docstrings for the raw_ops?

[2022-08-30 09:38] #57152 closed

[2022-08-30 09:42] mstebelev commented on #57463
@sushreebarsa Yes, the same problem in 2.9.

[2022-08-30 10:02] mohantym commented on #52045
Ok @szutenberg !
Thanks for the update!

[2022-08-30 10:19] tilakrayal commented on #57466
@maifeeulasad,
Could you please try to select [Tensorflow Issue Template](https://github.com/tensorflow/tensorflow/issues/new/choose) and provide the required details. So that it will be easy for us to analyse the issue. Thank you!

[2022-08-30 10:23] vaibkum-bh opened #57524 "When I an tryng to run the model for trainig, I am getting TypeError: 'numpy.float64' object cannot be interpreted as an integer for efficientdet."
I am facing TypeError: 'numpy.float64' object cannot be interpreted as an integer this while training my model.
![Screenshot (22)](https://user-images.githubusercontent.com/109948997/187413527-052e9ec7-19c7-48e3-b684-4b841e76836a.png)

[2022-08-30 10:48] #57171 closed

[2022-08-30 10:48] #57061 closed

[2022-08-30 10:56] bhack commented on #50400
https://arxiv.org/abs/2006.13846

![immagine](https://user-images.githubusercontent.com/1710528/187418653-8f5d43bd-7b37-4b04-bbf2-bca810920c2e.png)

Many implementations introduce a clamp:
https://kornia.readthedocs.io/en/latest/_modules/kornia/losses/ssim.html

[2022-08-30 10:56] bhack commented on #57493
Please check https://github.com/tensorflow/tensorflow/issues/50400#issuecomment-1231502107.

[2022-08-30 11:12] tilakrayal commented on #57450
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/1d8dc35bd961e641cd8e46849f8fab5a/untitled550.ipynb).

[2022-08-30 11:25] sushreebarsa commented on #57493
@yifeipet Could you please refer the [comment](https://github.com/tensorflow/tensorflow/issues/57493#issuecomment-1231502421) above?
Thank you!

[2022-08-30 11:48] #57082 closed

[2022-08-30 11:48] #57057 closed

[2022-08-30 12:08] hoba87 commented on #55786
That gives only: ERROR: Config value 'nccl' is not defined in any .rc file

At the end my workaround was to use a ubuntu docker image with fitting libc version and using that then.

[2022-08-30 12:18] cheyennee opened #57525 "tf.clip_by_norm documentation wrong"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

TF2.8

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model

[2022-08-30 12:41] tilakrayal commented on #57514
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.9, v2.8 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/41eb63bced0d3656b602cbe4a3040893/untitled552.ipynb).

[2022-08-30 12:42] cheyennee opened #57526 "When input is a tensor, the 'axis' is not type checked in tf.concat"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

TF2.8

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-08-30 12:46] tilakrayal commented on #57438
@MathiasToftas,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-08-30 13:54] cheyennee opened #57527 "when dtype is tf.uint64, tf.image.convert_image_dtype throws exception"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

TF2.4

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-08-30 13:55] sky712345678 opened #57528 ""Segmentation fault" and "Floating point exception" popped up while training using Intel CPUs with oneDNN optimizations enabled"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 18.04

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No re

[2022-08-30 13:58] cheyennee commented on #57527
Ohh, it has been fixed in TF2.8.

[2022-08-30 13:58] #57527 closed

[2022-08-30 14:04] cheyennee opened #57529 "tf.image.convert_image_dtype dont check the validity of input"
### Issue Type

Bug

### Source

source

### Tensorflow Version

TF2.4

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[code]

#

[2022-08-30 14:11] mohantym commented on #57520
Hi @gadagashwini !
Could you look at this issue.
Thank you!

[2022-08-30 14:14] isimsizolan opened #57531 "Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

No

### OS Platform and Distribution

windows 10

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

8.1

### GPU model and memory

A5000

### Cu

[2022-08-30 14:15] Deepakpy opened #57532 "Nonquantized tflite model using tflite_model_maker"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installation (pip package or built from source):
- TensorFlow library (version, if pip package or github SHA, if built from source):

### 2. Code

model.export(export_dir='.', tflite_filename='model_fp16.tflite', quantization_config=config)
How to convert the trained model to tflite which is not quan

[2022-08-30 14:39] burnpanck commented on #57166
Hey @gadagashwini, thanks for looking into this. Please note that in my case, the code does execute as well. The traceback I posted under "relevant log output" is really a logged message (right after the warning that I mention), not from an exception that reaches my code.

Your code logs the same warning - although the reason it gives is different: `Original error: could not get source code`. It a

[2022-08-30 15:45] rorocui opened #57533 "I observe TfLiteXNNPackDelegateDelete is called when disable XNNPACK in Tensorflow Lite"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.4

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

ARMV7

### Python version

3.8

### Bazel version

cmake instead of bazel

### GCC/Compiler version

9.3.0

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response

[2022-08-30 15:47] rivershah commented on #47554
This issue still persists in `tf version: 2.11.0-dev20220830`

[2022-08-30 15:48] #57016 closed

[2022-08-30 15:49] VictoriaGriffith opened #57534 "`tf.pad` fails when executing in `tf.autodiff.ForwardAccumulator`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-08-30 15:57] rorocui commented on #57533
External delegate library has been used.

[2022-08-30 16:13] VictoriaGriffith opened #57535 "Forward gradient does not support `axis=[0]` for `tf.concat`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-08-30 16:19] doughywilson opened #57536 "Indentation bug in TensorFlow main expert tutorial"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

binary

### Tensorflow Version

2.8

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model a

[2022-08-30 16:43] yishuangP commented on #56255
Hi, the fix should be in the latest nightly version (0.0.1-nightly.20220830), could you give it a try? Thanks!

[2022-08-30 16:58] adamsch1 commented on #56255
Thanks YishuangP!  Can you share a command/build line for iOS?

[2022-08-30 17:26] sachinprasadhs commented on #57422
Hi, Is it possible for you to train your model in Tensorflow 2.x version and try again. You can follow this migration guide https://www.tensorflow.org/guide/migrate

[2022-08-30 17:56] VictoriaGriffith commented on #57487
I see, so it's fixed in nightly, thanks you!

[2022-08-30 17:56] #57487 closed

[2022-08-30 18:51] yifeipet commented on #57493
But why can Tensorflow 2.4 do not have this issue? You cannot just throw me a paper and say I cannot do anything. You should check why Tensorflow 2.4 doesn't have this issue. I am very unsatisfied with Tensorflow now. It wastes me a lot of time on the bug that hasn't been on previous Tensorflow versions.

[2022-08-30 18:55] rorocui commented on #57533
My commit is
commit 1923123d32ea41d92b70a27a3f6ecf0763b56f6c (HEAD, tag: v2.4.2)
Merge: f1c82005388 a0c809373f6
Author: Mihai Maruseac <mihaimaruseac@google.com>
Date:   Fri Jun 11 09:09:43 2021 -0700

    Merge pull request #50210 from tensorflow/geetachavan1-patch-1

    Disable io_test

Running cmake as below.
cmake -DCMAKE_TOOLCHAIN_FILE=../armv7.cmake -DBUILD_SHARED_LIBS=ON -DTFLITE_ENABLE_XN

[2022-08-30 18:55] rorocui commented on #57533
cat ../armv7.cmake
# the name of the target operating system
SET(CMAKE_SYSTEM_NAME Linux)
#set(CMAKE_SYSTEM_PROCESSOR armv7)
set(CMAKE_SYSTEM_PROCESSOR armv7l)

# which C and C++ compiler to use
if (USE_CCACHE)
SET(CMAKE_C_COMPILER   ccache arm-linux-gcc)
SET(CMAKE_CXX_COMPILER ccache arm-linux-g++)
else()
SET(CMAKE_C_COMPILER   aarch64-linux-gcc)
SET(CMAKE_CXX_COMPILER aarch64-linux-g++)
endif()

[2022-08-30 19:22] bhack commented on #57493
Who is claiming this? I have proposed one popular solution in that comment that it is adopted in many implementations when you are going to use this metrics in a differentiable way as loss.

You can see the blame date to check eventually the most recent changes in the implementation but I don't think you will find something interesting:
https://github.com/tensorflow/tensorflow/blame/master/tensorf

[2022-08-30 19:40] yifeipet commented on #57493
Sorry for that. But it took me 3 days to try multiple ways to install Tensorflow and uninstall it multiple times in order to find SSIM bug in Tensorflow, which is quite annoying. Please understand it. I might try to clip the SSIM value when I use a newer Tensorflow version. However, I still hope this issue solved in the future update.

[2022-08-30 19:48] #57145 closed

[2022-08-30 19:48] bhack commented on #57353
Check https://github.com/tensorflow/tensorflow/issues/50400#issuecomment-1231502107

[2022-08-30 19:53] bhack commented on #57493
@yifeipet Currently we are not offering a SSIM loss in TF directly but just an operator.
I suggest to request or contribute a SSIM/MS-SSIM loss in https://github.com/keras-team/keras-cv if they are interested.
It could include any extra guard in the loss implementation itself.

[2022-08-30 19:58] yishuangP commented on #56255
Hi, you just need to update your pod file to depend on the latest nightly build version.

[code]

Or your could hardcode the build version to 0.0.1-nightly.20220830
[code]
Then run `pod update` and `pod install`

[2022-08-30 20:14] yifeipet commented on #57493
Thank you! Now I just need to use Tensorflow 2.4 for my project as the deadline is very close. Then if I have time to try newer Tensorflow, I will try the clip value method by myself to see if it can solve the issue in a newer Tensorflow version. Thanks for your help.

[2022-08-30 20:33] Tylersuard opened #57540 "Please make different versions of Tensorflow compatible with each other."
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

All versions

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU

[2022-08-30 21:26] cantonios commented on #56539
Correct, our tensor indexing API currently doesn't support mixed slicing + boolean indexing.  If you want to mask a single axis, you need to use `boolean_mask`.

[2022-08-30 21:46] Apprisco commented on #57353
Yes, it seems that default Tensorflow implementation of SSIM as well as MS-SSIM both introduce large issues regarding nan gradients in this manner. Our implementation does include a minor clamping, but consistently reports lower SSIM values than Tensorflow.

[2022-08-30 21:51] cantonios commented on #56961
Nice find.  The conclusion seems to be that we require input indices to be unique.  Otherwise, not only is the output non-deterministic on GPU, but gradients are broken on any device.

To fix gradients, we would need to pre-process and dedup the indices ourselves.  If we need to do this for gradients, we may as well do this for the forward pass as well and make the GPU behavior deterministic.  How

[2022-08-30 22:45] microprediction commented on #29535
I also think the role of model.trainable could be clarified, and the overriding of trainability when the model is created. See this [gist](https://gist.github.com/microprediction/7aa395cec8a0ea2586936084a635cfba) showing that layer trainability is ignored. The behavior is a little counter-intuitive.

[2022-08-30 23:20] cantonios commented on #53816
@bersbersbers yes, it was reverted.

The issue is that the change to always use the `EuclideanNorm` op from within `tf.norm` breaks many workflows that rely on the existing `norm` function, since it introduces a new op that isn't supported on all devices.

The only workable solution is that if you *need* the higher accuracy, then use `tf.math.reduce_euclidean_norm` directly.
 Internally, it uses a

[2022-08-30 23:20] #53816 closed

[2022-08-31 02:12] njuhang commented on #56860
Hello? Is there any progress?

[2022-08-31 02:55] gsirocco commented on #57097
I was trying to follow your steps of building libtensorflow-lite.a for aarch64 but getting the following linking error when I try to build my application that used the edge tpu as well. I was wondering if I was missing a step. Thanks!

/usr/lib/gcc-cross/aarch64-linux-gnu/9/../../../../aarch64-linux-gnu/bin/ld: /home/gsosnow/doc/tflite_buildbr/libtensorflow-lite.a(spectrogram.cc.o): in function `t

[2022-08-31 04:19] DelightRun commented on #46044
Thanks a lots.
BTW, I also tried to compile 1.15.5 on M1, and faced a lot of errors and deps problems,  i.e. bazel, numpy, etc.
So. I'd like to know how do you compile 1.15 on M1 and solve the related problems, could u please share some HOWTO instructions?

[2022-08-31 04:50] yishuangP commented on #56255
Hi sorry we had an issue in our script that builds the xcframework. Submitting the fix, hopefully tonight's build will resolve the issue.

[2022-08-31 05:33] RyanSaxe opened #57549 "M1 tf.gather_nd: InvalidArgumentError: Multiple OpKernel registrations match NodeDef at the same priority"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.2

### Custom Code

Yes

### OS Platform and Distribution

MacOS Monterey 12.5

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-08-31 05:34] gzygmontson13 commented on #5525
I had this issue as well but the file causing the problem was called "signal.py" in my case. Rather than saying "make sure you don't have a file in the directory called numbers.py", you must say something like "check any recent .py file you've added and try changing its name". When I had the issue I read your answer several times but I didn't pay much attention to it because I didn't have any file

[2022-08-31 05:37] #57521 closed

[2022-08-31 06:48] #57175 closed

[2022-08-31 06:53] sayakpaul opened #57550 "Why is `tf.Conv2D` treated as a SELECT op?"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS (Intel)
- TensorFlow installation (pip package or built from source): `pip`
- TensorFlow library (version, if pip package or github SHA, if built from source): TensorFlow 2.9.1

### 2. Code

[code]

Install `transformers` by running `pip install git+https://github.com/sayakpaul/transformers@feat/tf-mobilevi

[2022-08-31 07:36] misterBart commented on #57097
This is a linker error. The linker cannot find `rdft`. Is this an error you got from building the Tensorflow Lite libraries or from linking the Tensorflow Lite libraries to your application? In case of the former, I don't know why this happens. In case of the latter, make sure you link your application to the library that contains `rdft`. The term `FFT` in `ProcessCoreFFT` seems to imply 'Fast Fou

[2022-08-31 07:40] cheyennee opened #57551 "tf.image.rot90 should add a note for the case k<0"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Feature Request

### Source

source

### Tensorflow Version

TF2.8

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

#

[2022-08-31 08:48] #57183 closed

[2022-08-31 09:48] #57191 closed

[2022-08-31 10:47] TimCargan commented on #56423
@jszaday I tested both the code I used to report the issue, and the code you linked to in your gist, both crashed. The standard `keras.Model` used in my sample code will try wrap all of the `train_step`, which contains the call to `optimizer.apply_gradients` in a `tf.function`:

The compile call with do something akin to `train_step = tf.function(train_step, jit_compile=True, reduce_retracing=True

[2022-08-31 11:03] zhaozheng09 opened #57552 "Why are tensors used after they are freed in a gpu sync operation?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

source

### Tensorflow Version

2.8

### Custom Code

Yes

### OS Platform and Distribution

Linux

### Mobile device

No

### Python version

3.8

### Current Behaviour?

Why are tensors used after they are freed in a gpu sync operation?
example in softmax_op_gpu.cu.cc
[code]

### Standalone code to reproduce the i

[2022-08-31 11:21] #29283 closed

[2022-08-31 11:38] thomasjv799 opened #57553 "Saving tensorflow logs to a log file in python"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

tf 2.2

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respon

[2022-08-31 12:56] andreaskoelsch opened #57554 "error: 'tf.Conv2D' op is neither a custom op nor a flex op"
### 1. System information

- Windows 10:
- TensorFlow 2.9.1 installed via pip

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

#### Option A: Reference colab notebooks
https://colab.research.google.com/gist/andreaskoelsch/c5f82bca1aa4289724dd827d4d6cf89e/tensorflow-lite-debugger-colab.ipynb

### 3. Failure after conversion
Conversion of a very simple

[2022-08-31 13:13] NoteDancing commented on #57195
Thank you!

[2022-08-31 13:13] #57195 closed

[2022-08-31 14:37] mohantym commented on #57536
Hi @doughywilson !
It was running fine in Colab with the existing tutorial, But I raised a [PR](https://github.com/tensorflow/docs/pull/2120) to fix the indentation issue.
Thank you!

[2022-08-31 14:49] gsirocco commented on #57097
Thanks, yes I was linking my application with libtensorflow-lite.a, I see that I am not referencing all the libraries in _deps/!!
Thanks for the pointer this makes sense now. I will give this a try, I really appreciate it!

[2022-08-31 14:49] mohantym commented on #57554
Hi @andreaskoelsch !
The above error suggests towards using select ops syntax . So, The solution is to use SELECT_TF_OPS before conversion.
[code]
Attached [gist](https://colab.sandbox.google.com/gist/mohantym/63a1df726721e8dc20343d3973ef645d/tensorflow-lite-debugger-colab.ipynb#scrollTo=5ajld_GM5C0x) for reference.

Thank you!

[2022-08-31 14:55] gsirocco commented on #57490
Hi I was just checking if there was any insight to how to convert a TF model that uses the tf.add() op with int8 data type, but does not use the FlexAddV2 TF op, so it can be converted to EdgeTPU? If I convert to EdgeTPU with FlexAddV2, it fails. Thanks!!!

[2022-08-31 15:06] mohantym commented on #57550
Hi @sayakpaul !
Could you check the solution in this [gist](https://colab.sandbox.google.com/gist/mohantym/1182222b6741c31848e8ca27d61657ef/git_57550.ipynb) and let us know.
Thank you!

[2022-08-31 15:09] Bahar-BM opened #57555 "NNAPI delegate issue on Snapdragon 888"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

No

### OS Platform and Distribution

Android

### Mobile device

Snapdragon 888 (tested with Android 12)

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU

[2022-08-31 15:14] ishark commented on #55639
Sorry for the late reply on this. Can you please help prioritize which ops would you like to have converters for first?

[2022-08-31 15:33] bhack commented on #55639
I think that we need to understand a little bit of things before thinking to converters priorities:

I suppose `no registered converter` need to be considered as fallback fail fast case for `vectorized_map`.

As you know the origin of these are from Keras-cv so I'am more worried about the `expected to be loop invariant`. Cause I suppose that, just around the corner of the missing converter, we wil

[2022-08-31 15:50] srcarroll opened #57558 "hlo-legalize-to-linalg crashes on convolution op"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

SHA 551852a9ea9bf4e99856ce75c63516ad6d372239

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No

[2022-08-31 16:34] mshawcroft commented on #57027
Hi, Sorry, I have no code I can share.

[2022-08-31 16:50] yishuangP commented on #44265
Hi this seems like a duplicate of https://github.com/tensorflow/tensorflow/issues/56255 and it should be fixed in the latest nightly build (version 0.0.1-nightly.20220831)

[2022-08-31 16:51] yishuangP commented on #57388
Hi this seems like a duplicate of https://github.com/tensorflow/tensorflow/issues/56255 and it should be fixed in the latest nightly build (version 0.0.1-nightly.20220831)

[2022-08-31 16:53] sseppola commented on #57388
Cheers, I'll try it shortly and report back

[2022-08-31 16:54] cantonios commented on #56710
We flush denormals in hardware within TensorFlow for performance purposes ([links](https://github.com/tensorflow/tensorflow/search?q=ScopedFlushDenormal)).  So that is comparing 0 to 0, which are equal.  This is working as intended.

[2022-08-31 16:54] #56710 closed

[2022-08-31 16:56] Wyverald commented on #57207
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2606#0182f214-c75f-48b4-aefb-b1cdfc945293

TF build remains broken, likely due to an outdated rules_go.

[2022-08-31 17:11] sayakpaul commented on #57550
For converting with the select OPs, there isn't any problem. Please read the issue description. My question is why do I need to include the select op spec for a tf.Conv2D.

[2022-08-31 17:23] sachinprasadhs commented on #57353
@Apprisco, Seems like it is the duplicate of the above linked issues. Could you please close this issue and track the progress in the above linked issue.

[2022-08-31 17:48] gowthamkpr commented on #41325
@farotem The issue here is that, if you call the layer with inputs of different sizes, each time you call a layer your Function retraces a new graph for every call, you'll find that your code executes more slowly than if you didn't use tf.function. I would recoomend you to use unknown dimensions for flexibility as mentioned [here](https://www.tensorflow.org/guide/function#use_unknown_dimensions_fo

[2022-08-31 17:48] #57144 closed

[2022-08-31 17:49] ishark commented on #55639
Thanks for the prompt reply @bhack and for providing the context!

Agreed, it makes sense to understand the whole context before diving into solution.

So the way I understand, there are 2 main issues:
1. Not all ops have vectorization support implemented in vectorized_map. The design of vectorized_map requires that we register each op converter explicitly. So, there are quite a few missing ops.
2

[2022-08-31 18:04] drubinstein opened #57561 "Where can I find the list of ops from TensorFlow's Python API supported by default in TensorFlowLite"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-08-31 18:11] bhack commented on #55639
Obviously 1 is always necessary as a pre-requisite but in this case I think we will end up in 2 by design.

Our variant parameters are mainly inherited by some design choices in the early days of the Keras-cv repo using a within the batch randomization of the TF op parameters.

To have more context please check in the original thread the few messages around https://github.com/keras-team/keras-cv/p

[2022-08-31 18:12] hguihot commented on #56615
Any update?

[2022-08-31 18:27] sachinprasadhs commented on #48926
@harendracmaps , Could you try again with the latest Tensorflow version 2.9.1 and let us know if that works for you. Thanks!

[2022-08-31 18:42] TarasMLAI commented on #45568
Hi,
same issues, I'm following the guide [https://www.tensorflow.org/guide/mixed_precision] using  standard tf.keras.Model.fit() method, the output layer has has dtype  float32 `outputs = layers.Activation("linear", dtype=tf.float32)(outputs)`. The model is even converging (based on accuracy), significant speed up, but loss value is **nan**. Any help is appreciated.

Tensorflow 2.8.0 and 2.9.1

Ep

[2022-08-31 18:48] #57158 closed

[2022-08-31 20:03] hguihot commented on #55764
If you're up for it, I'd suggest you add support for it yourself in the CoreML delegate since it's been a while. It should take about an hour.

1. Review the [TensorFlow contribution guidelines](https://github.com/tensorflow/tensorflow#contribution-guidelines).
2. Have a look at the [Apple documentation for the ELU activation](https://apple.github.io/coremltools/mlmodel/Format/NeuralNetwork.html#a

[2022-08-31 20:31] hguihot opened #57565 "TfLiteCoreMlDelegateOptions documentation is not up-to-date"
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/delegates/coreml

It currently shows the following structure, which is not up to date:
[code]

See current definition in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/coreml/coreml_delegate.h.

[2022-08-31 20:42] hguihot opened #57566 "Not enough flexibility to choose actual accelerator in CoreML delegate"
Only [two options exist](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/coreml/coreml_delegate.h) when creating a CoreML delegate:
[code]

These don't quite fit what's possible with CoreML, [as documented here](https://developer.apple.com/documentation/coreml/mlcomputeunits?changes=latest_major&language=objc). Ideally, we should have a way to specify whether we want

[2022-08-31 20:43] sachinprasadhs commented on #45326
Could you please try with any other pipeline and confirm of the same issue is occurring with `.map()` function.
Also, please refer [this](https://www.tensorflow.org/api_docs/python/tf/data/Dataset?version=nightly#map) document for `.map()` function for different type of input.

[2022-08-31 20:52] bhack commented on #45326
I suggest to use random shear from keras-cv

https://github.com/keras-team/keras-cv/blob/master/keras_cv/layers/preprocessing/random_shear_test.py

[2022-08-31 21:34] sachinprasadhs commented on #51766
Could you please try again with the below build configuration with the tensorflow 2.9.1 and let us know if you still face an issue.

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow-2.9.0 | 3.7-3.10 | GCC 9.3.1 | Bazel 5.0.0 | 8.1 | 11.2

[2022-08-31 21:37] sachinprasadhs commented on #52148
Hi, Could you please refer the comment here https://github.com/tensorflow/tensorflow/issues/55639#issuecomment-1233238644 which explains about the possible reasons for vectorized_map issues with different OPS.

[2022-08-31 22:04] dimitreOliveira opened #57573 "Tried to export a function which references 'untracked' resource Tensor"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.8.2

### Custom Code

Yes

### OS Platform and Distribution

Colab

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

###

[2022-08-31 22:42] sachinprasadhs commented on #52272
Could you please try again with the r2.6.5 release or you can try with the latest stable version 2.9.1 and let us know if you still face an error. Thanks!

[2022-08-31 22:48] nalzok commented on #52149
Hi there, this directory is not present on my TPU VM created through the following command, probably because I specified the runtime version to be `tpu-vm-base` instead of `tpu-vm-tf-2.9.1`.

[code]

There seems to be a workaround though: the wheels can be downloaded from https://cloud.google.com/tpu/docs/supported-tpu-versions#tpu_software_versions

[2022-08-31 23:40] wangpengmit commented on #53051
The problem should be fixed now.

[2022-08-31 23:43] wangpengmit commented on #4638
@cantonios

[2022-08-31 23:43] wangpengmit commented on #14924
@cantonios

[2022-09-01 00:18] froody opened #57574 "Cannot deserialize keras model using __add__"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

v2.9.1-0-gd8ce9f9c301 2.9.1

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9.13

### Bazel version

5.0.0

### GCC/Compiler version

GCC 9.2

### CUDA/cuDNN version

11.7/8.4.1.50

### GPU model and memory

A1

[2022-09-01 00:46] prouast opened #57575 "Make tf.image.resize gradient computation compatible with XLA compilation"
### Issue Type

Feature Request

### Source

binary

### Tensorflow Version

tf 2.11.0-dev20220831

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Cu

[2022-09-01 00:47] froody commented on #57574
Using `tf.keras.layers.Add` results in a different error:

[code]

[code]

[2022-09-01 01:09] TrentHouliston commented on #41021
This bug still exists in the latest TensorFlow (2.9.1)

[2022-09-01 01:45] learning-to-play commented on #57207
@Wyverald , Thank you very much for letting us know! Could [this line](https://github.com/tensorflow/tensorflow/blob/281d1642b93c16ab256d418278788181dc6a5d3d/tensorflow/tools/build_info/BUILD#L12) be causing the issue? If yes, do you have a tip for updating it?

[2022-09-01 02:56] yishuangP commented on #56255
Hi, I just verified that this build issue is resolved in build `0.0.1-nightly.20220831`. Unfortunately the fix won't be in 2.9.1, if you want to use 2.9.1, you can try building the framework using tensorflow/lite/ios/build_frameworks.sh. Besides, make sure you add this build flag `--define=tflite_with_xnnpack=false` when building the flex delegate framework.

[2022-09-01 02:56] #56255 closed

[2022-09-01 03:41] mohantym commented on #57550
@sayakpaul !
Conv2D is part of allowed [Select ops operators](https://www.tensorflow.org/lite/guide/op_select_allowlist#:~:text=raw_ops.ControlTrigger-,raw_ops.Conv2D,-raw_ops.Conv2DBackpropFilter) list. So, I used select ops syntax along using

  flag during conversion( as it was pre-trained model).
Thank you!

[2022-09-01 03:42] mohantym commented on #57533
Hi @rorocui !
Sorry for the late reply. Could you check in 2.8/2.9 and let us know.
Thank you!

[2022-09-01 03:51] mohantym commented on #57532
Hi @Deepakpy !
Sorry for the late reply.
I am not sure whether we can get a Non-quantised model if we pass quantization_config = None in
below line . By default ,  you will get a integer quantised model if you don't pass the quantization_config parameter. If you pass None, It might not work as expected ( You will be getting a Float32 model if you pass None).

`model.export(export_dir='.', tflite_f

[2022-09-01 04:33] cantonios commented on #56680
Ugh, this is the same as #55738.  It should now throw an error with the latest nightly.

@penpornk what's the tag or contact for intel MKL?  This is because of the no-op registrations.  Intel needs to add proper kernels if they're going to be registering ops.

[2022-09-01 04:35] gsirocco commented on #57097
I am pretty close to being able to build the application. I have been able to get rid of most of the linker errors but some persist for some reason. Thanks for any guidance!

`$ make -f Makefile_edgetpu_native
g++ -std=c++17 -o tfedgetpu tfedgetpu.cc \
-I/home/gsosnow \
-I/home/gsosnow/include \
-L/home/gsosnow \
-L/home/gsosnow/_deps \
-ltensorflow-lite -l:libedgetpu.so.1.0 -lpthread -lm -ldl -lf

[2022-09-01 04:47] cantonios commented on #56305
Hmm... seems to be because you are overwriting `a`.  Creating an intermediate `b` seems to work around the issue:
[code]

[2022-09-01 04:52] cantonios commented on #14924
Tried the example, seems to work correctly now, allowing the broadcast.

[2022-09-01 05:12] mohantym commented on #57561
Hi @drubinstein !
You can find the by default lite supported ops from[ here](https://www.tensorflow.org/lite/guide/ops_compatibility) . Select ops list can be found [here](https://www.tensorflow.org/lite/guide/ops_select). To use MLIR ops in lite model , Please use below flags during model to TFLite conversion.

Thank you!

[2022-09-01 05:20] mohantym commented on #57565
Hi @hguihot !
Thanks for reporting this bug. Made a [PR ](https://github.com/tensorflow/tensorflow/pull/57578)to fix this issue.
Thank you!

[2022-09-01 05:28] cantonios commented on #56830
Hmm.... I may be willing to call this correct?

We don't do symbolic math, so the expression for `reduce_std` for a single element becomes
[code]
which _we_ can readily see as uniformly 0, but if we take the derivative of the expression w.r.t. `x` as is, results in
[code]
You would run into the same case for any tensor of all equal values.  Either we treat the expression generically, resulting in

[2022-09-01 05:38] sayakpaul commented on #57550
I am still not sure why select op is needed for a tf.Conv2D. It's unnecessary if try to convert a model (say `tf.keras.applications.ResNet50`).

@khanlvg could you advise?

[2022-09-01 05:40] mohantym commented on #57553
Hi @wanderer799 !

You can save the command line outputs directly to a log file through below command beside above code snippet.
`python3 training.py > output.log
`
Feel free to explore other options from  [ tf.compat.v1.logging ](https://www.tensorflow.org/api_docs/python/tf/compat/v1/logging)  ( like saving logs in each n epochs etc) too.
[Reference.
](https://stackoverflow.com/a/60841276/115304

[2022-09-01 05:45] WarrantyVoid commented on #4242
It's 2022, do we still have to compile with --whole-archive? I have defined a small graph with just a hand full of operations. Linking tensorflow_cc with --whole-archive does cause an executable size of 6Gb. My device fails with "out of memory" attempting to execute it. What's the status of [tensorflow/core/framework/selective_registration.h](https://github.com/tensorflow/tensorflow/blob/f71cc6228

[2022-09-01 05:49] Ricky-KLA opened #57579 "tf.linalg.solve produces incorrect output when compiled using XLA"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04.4 LTS

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-09-01 05:57] dakl commented on #56088
So am I reading this right if I think this will make it possible to install tensorflow on Apple Silicon in docker?

[2022-09-01 05:59] IBSApple opened #57580 "Pose estimation line mismatch"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

 pod 'TensorFlowLiteSwift', '~> 0.0.1-nightly', :subspecs => ['CoreML', 'Metal']

### Custom Code

Yes

### OS Platform and Distribution

MacOS

### Mobile device

iPhone X

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

###

[2022-09-01 06:00] IBSApple commented on #57580
<img width="273" alt="Screenshot 2022-09-01 at 11 26 15 AM" src="https://user-images.githubusercontent.com/71369657/187842434-556a0c3b-46d8-433c-aff9-0d54f227186e.png">

[2022-09-01 06:00] IBSApple commented on #57580
How should I resolve this cross line issue?

[2022-09-01 06:07] mohantym commented on #57566
Hi @hguihot !
You can instantiate the CoreML delegate instance and use it in interpreter option . If it does not support Core ML delegate for any op , It should fall to available GPU delegate or run on CPU mode.

Please check the below code to run with reference to above statement on fallback policy.

[code]
If you want to run without Neural engine , You can follow below syntax.
[code]

Could you

[2022-09-01 06:55] wanderer799 commented on #57553
Thanks for this info.

The Problem is I am making a module/package from scratch so it will have its own logging. What I need is that there should be two log file one with tensorflow.log and package.log . So I have to set this up inside the main python file on how the logs of tensorflow should be collected and saved.

[2022-09-01 06:57] sky712345678 commented on #57052
@elina-israyelyan
Sorry that I didn't confirmed it with limited resources on colab.
I've modified the code. Please use [this notebook](https://drive.google.com/file/d/1k78lpGVthB7nthEkYgUs3JNJTuR79r5E/view?usp=sharing). The issue can be replicated with TF 2.9 running on CPUs.
You can see the error message in runtime logs.
![image](https://user-images.githubusercontent.com/37875281/187851354-783b20

[2022-09-01 06:59] mohantym commented on #57523
Hi @BhaskarsarmaP !
Sorry for the late response.
I was getting

Attached [gist](https://colab.sandbox.google.com/gist/mohantym/986a94a34beeb15e2e0f0df2ca453afb/tensorflow-ranking.ipynb#scrollTo=-lrM3hp6vXso) for reference.

Could you check in TF 2.9 and let us know.
Thank you!

[2022-09-01 07:01] mohantym commented on #57550
@sachinprasadhs !
Could you look at this query.
Thank you!

[2022-09-01 07:27] gadagashwini commented on #57520
HI @YellowHCH, As per the https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc#L2461-L2467

[code]
As per the doc https://tensorflow.google.cn/api_docs/python/tf/raw_ops/FloorMod?version=nightly
`floormod(x, y) = x - floor(x / y) * y`

Both are same. Thank you!

[2022-09-01 08:31] Joeyzhouqihui commented on #3299
Hi, sorry for bothering. I have a question that when using dynamic memory allocation with multiple streams, are those memory blocks shared across different streams? Or each stream has its own memory pool?

[2022-09-01 09:14] JZZ-NOTE opened #57581 "the edtion of TensorRT for TF-TRT"
<img width="936" alt="image" src="https://user-images.githubusercontent.com/75348594/187877984-f321d97a-92a1-4953-a0fa-703626c106a4.png">
On the website, I can know the edtion of cuda and cudnn, but how can I know the edtion of TensorRT?

[2022-09-01 09:31] Joeyzhouqihui opened #57582 "Memory allocation"
Hi sorry for bothering. I am just wondering when using multiple streams for model inference. Will the cached memory blocks been shared by different streams? Or they are not shared like in pytorch?

[2022-09-01 09:42] Iroski opened #57583 "Tensorflow customized embedding not work on GPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

v2.3.0-rc2-23-gb36436b087 2.3.0

### Custom Code

No

### OS Platform and Distribution

Ubuntu 17.04

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

10.1 / 7.6.5

### GPU model

[2022-09-01 09:42] mohantym commented on #57555
Hi @sachinprasadhs !
Could you look at this issue.
Thank you!

[2022-09-01 09:42] Iroski commented on #57583
I tried one batch with batch_size=64 on my laptop.The env is: cpu=i7-12700H, tensorflow=2.9.1, cuda=11.6, cudnn=8.4.1.

The code for training is:
[code]
I find that it take three minute to run a batch for one ecoch. CPU takes long time and GPU only be used(GPU-Util>50%) for several seconds. CPU-Util is about 20% and GPU is about 17% in most of time.

if I changed the code with ```tf.config.run_fun

[2022-09-01 10:08] mayujie commented on #57467
so generate the tflite with fixed input shape, later using `model.resize_tensor_input` and `model.allocate_tensors()` during deployment for different input shapes will be the current solution, right?
Will this solution take some overhead of latency?

[2022-09-01 10:31] youbenye commented on #57520
Hi @gadagashwini
I noticed that there is a TF FloorMod reference implement here：
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/internal/reference/floor_mod.h#L29

In my point of view，`floormod(x, y) = x - floor(x / y) * y` is  equivalent to the implementation of above, but not equivalent to ` (1/rhs * lhs) - floor(1/rhs * lhs)`, seems it missing a multiplier `rhs`
i

[2022-09-01 10:31] gzygmontson13 commented on #55297
You can do as suggested beforehand and search for available version [in](https://inloggengids.com/) tesorflow site but you can't access versions older than available there. So if you want an earlier version: go to https://github.com/tensorflow/tensorflow. search for the version you want under branches
How to Upgrade or Downgrade TensorFlow
Python 3.6-3.9 installed and configured (check the Python

[2022-09-01 10:41] mohantym commented on #57467
@mayujie !

You can also use Firebase[ ML kit binding](https://firebase.google.com/docs/ml-kit/android/use-custom-models) / [ML - model binding](https://towardsdatascience.com/machine-learning-with-android-11-whats-new-e8c829e9452) from TF Hub to resize input and output tensors .
Yes , It affects latency ( faster inference compared to dynamic shape).

Could you move this to closed status if you co

[2022-09-01 10:49] yaoliu0803 commented on #34962
I have this same problem. you solve it?

[2022-09-01 10:54] bhack commented on #52148
I don't think it is related. It is the impl of the converter:
https://github.com/tensorflow/tensorflow/blob/d8ce9f9c301d021a69953134185ab728c1c248d3/tensorflow/python/ops/parallel_for/pfor.py#L2695-L2746

/cc @ishark

[2022-09-01 11:10] rivershah commented on #52944
@sachinprasadhs any updates on this please? `tf.print` does not work with xla

```Detected unsupported operations when trying to compile graph __inference_run_step_2702[] on XLA_CPU_JIT: PrintV2 (No registered 'PrintV2' OpKernel for XLA_CPU_JIT devices compatible with node```

[2022-09-01 11:16] mohantym commented on #48675
@nfrumkin !
Please attached resolved [gist](https://colab.sandbox.google.com/gist/mohantym/8c3c14e672b7e0cfe915670458453f8e/git_48675.ipynb#scrollTo=pP23RFf8TJA4) for reference  and open a new issue if you are looking assistance on similar issue.
Thank you!

[2022-09-01 11:23] Wyverald commented on #57207
My suspicion is that you need to upgrade to the latest version of rules_go, due to this line in the error logs:

[code]

[2022-09-01 11:34] bhack commented on #55639
Just to clarify with another example the within the batch approach vs the nature of the TF native op:
The Keras-cv policy is "going to request" to `vectorized_map` a vectorization of a random/variable `contrast_factor` for every  image in the `images` params (the batch).
The nature of the TF native operator/API currently is that it handle only a constant `contrast_factor` for all the images:

http

[2022-09-01 11:50] sushreebarsa commented on #57421
@probtask Could you refer to this [thread](https://stackoverflow.com/questions/27987091/ssl-ca-cert-path-access-rights) and try with the latest TF version?
Please let us know if it helps? Thank you!

[2022-09-01 11:56] matifali commented on #45200
or simply `sudo apt install libcudnn8`

[2022-09-01 12:26] vladd11 opened #57584 "Can't build project with included TensorFlow Lite in Play Services (vision task)"
Gradle version: 7.3.3
Full code: https://github.com/vladd11/ar-shop/

**Standalone code to reproduce the issue**

I include TensorFlow Lite in Play Services dependency:

[code]

When syncing, Gradle gives me these warnings:
[code]

When I build project, I have this error:
[code]

[2022-09-01 12:42] lgeiger commented on #57364
Looks like the build failure is due to the outdated GCC 8.3 based Embedded Linux toolchain. Upgrading to GCC 11.3.1 fixed this. I opened #57585 which seems to fix this issue.

[2022-09-01 12:48] #57155 closed

[2022-09-01 13:25] drubinstein commented on #57561
Thanks @mohantym. While that first link has a lot of good information, it doesn't have quite what I'm looking for. The section [Supported operations and restrictions](https://www.tensorflow.org/lite/guide/ops_compatibility#supported_operations_and_restrictions) links you to the list of supported MLIR ops  I linked to in my original description saying that it provides the `full list of Operations a

[2022-09-01 14:20] brechtse opened #57587 "Unncessary semicolons in tutorials terminate statements, possible documentation improvement"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model

[2022-09-01 14:49] gsirocco commented on #57490
I have added the line (converter.target_spec.supported_types = [tf.int8]) for the post training quantization.
It looks like it's not using the FlexAddV2 anymore, but is failing for some other reason.
That 'tf.AddV2' op is neither a custom op nor a flex op??
Thanks!

`import tensorflow as tf
from tensorflow import keras
import numpy as np
import random

def representative_dataset():
    for _ in ra

[2022-09-01 15:28] sushreebarsa commented on #57052
@elina-israyelyan
This issue seems to be Keras issue.  Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues) as Keras development is fully moving to [github.com/keras-team/keras](http://github.com/keras-team/keras). All issues and PRs related to keras will be addressed in that repo.
To know more see this TF forum discussion ;
[https://discuss.tensorflow.org

[2022-09-01 15:49] misterBart commented on #57097
This issue was originally about building TfLite for Arm. Therefore we should not discuss here in-depth how to link TfLite to an application. For the latter I refer to [](https://stackoverflow.com/a/72100557/7268445), where I was once helped somebody to accomplish that.

[2022-09-01 16:18] mohantym commented on #57580
Hi @sachinprasadhs !
Could you look at this issue.
Thank you!

[2022-09-01 16:48] #57209 closed

[2022-09-01 16:55] kulkarnivishal commented on #57540
+++++++ (.. infinity) to this. SO frustrating!!

[2022-09-01 17:29] cantonios commented on #56655
@kvignesh1420 you can create a PR to register it if you like and if it is necessary for your application.  We generally only register ops as they are needed, since doing so increases the TensorFlow binary size pip for everyone, and we are subject to some binary size limits.

[2022-09-01 17:48] #22410 closed

[2022-09-01 17:48] #57162 closed

[2022-09-01 18:55] rorocui commented on #57533
That is fine, not urgent issue, and I could definitely try newer version, and will let you know.
I recall I tried newer version, and I hit build failure somehow.
Will provide you details later on.

[2022-09-01 19:09] Indira-kumar commented on #57587
Could you assign this issue to me?

[2022-09-01 19:56] aliericcantona opened #57597 "Load a model from a memory buffer using Tensorflow 2.x C api"
Hi,
I was wondering if there is a way to load 2.x model from memory buffer like GraphDef in v1

Thanks

[2022-09-01 20:43] brechtse commented on #57587
I think the issue was auto-assigned to @tilakrayal. If there is anything I can do to help facilitate and possibly get this resolved to help future learners, if indeed it deserves attention, kindly let me know.

Best!
@brechtse

[2022-09-01 21:52] mihaimaruseac commented on #33802
![7XNWZfbTauSmBXn](https://user-images.githubusercontent.com/323199/188019356-b2b36a33-99a9-4c55-9c9b-a0c6f6a13eed.png)

[2022-09-01 21:57] mihaimaruseac commented on #55297
You just need to clone the corresponding branch. For example, for TF 2.8, you need to clone `r2.8` and build from that branch.

[2022-09-01 23:12] purvang3 opened #57601 "Memory leak: tf1 trained saved_model in tf2 for prediction"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.6

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 18.04

### Mobile device

_No response_

### Python version

3.6.9

### Bazel version

_No response_

### GCC/Compiler version

tensorflow  docker image

### CUDA/cuDNN version

tensorflow docker image

### GPU model and

[2022-09-01 23:37] tomoleary commented on #43497
I am also interested in a sparse einsum!

[2022-09-02 00:17] hguihot commented on #57566
What you described is a bit different from what I meant.

For example, there is currently no way to use CoreML with only CPU or GPU (not neural engine). This is different from using the Metal delegate, i.e. one may want to use the CoreML delegate explicitly.

In iOS16, there will be no way (with the current interface) to use CoreML with only CPU or neural engine (not GPU).

Basically, I think the

[2022-09-02 00:45] mohantym commented on #57566
Ok @hguihot !
Thanks for the clarification . @sachinprasadhs ! Could you look at this feature request.

[2022-09-02 00:53] mohantym commented on #45998
Hi @claycontrast !
We are checking whether you are still looking for any assistance. Beside checking with above [suggestion](https://stackoverflow.com/a/62603736/11530462), Have you checked for any extra empty lines or extra labels in label.txt file.
Thank you!

[2022-09-02 01:00] learning-to-play commented on #57207
Thank you @Wyverald! I searched [TF code](https://github.com/tensorflow/tensorflow) for rules_go and io_bazel_rules_go but couldn't find anything. Nothing relevant in the [Docker toolchain](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/tf_sig_build_dockerfiles), too.

I submitted [this change](https://github.com/tensorflow/tensorflow/commit/18b021f9bca0c760635a91a20dcf9f8e6

[2022-09-02 02:03] chenliang110 opened #57604 "what is this http://b/18228951 , i can not find it"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

2.7

### Custom Code

No

### OS Platform and Distribution

no

### Mobile device

no

### Python version

3.7

### Bazel version

no

### GCC/Compiler version

no

### CUDA/cuDNN version

no

### GPU model and memory

111

### Current Behaviour?

[code]

### Standalone code to repro

[2022-09-02 03:05] mohantym commented on #57584
Hi @vladd11 !
Sorry for the late reply. It is missing some dependencies in build.gradle files .
Could you add the sonar snapshots in build.gradle file outside app folder.
[code]
and
`implementation 'com.google.android.gms:play-services-tflite-gpu:16.0.0-beta03'
`in build.gradle inside app folder.

Attached relevant [thread](https://stackoverflow.com/questions/50959328/could-not-resolve-org-tensorf

[2022-09-02 03:06] tilakrayal commented on #57531
@isimsizolan,
There are at least 3 possible scenarios:

[code]

Also pip install tensorflow will install a version thats compatible with GPU and CPU. So it gives you that warning message.
If you don't want to see warning messages and want to install the CPU only version, you could - pip install tensorflow-cpu that's a smaller wheel file for the CPU only version.

Also please take a look at this [i

[2022-09-02 03:31] gsirocco commented on #57097
Thanks for the pointer!! I got it working, much appreciated!!

[2022-09-02 03:40] tilakrayal commented on #57489
@gadagashwini,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/a2d2250bc9ad1c071939b80b5cf508a3/untitled551.ipynb).

[2022-09-02 03:52] mohantym commented on #57561
Hi @sachinprasadhs !
Could you look at this query.
Thank you!

[2022-09-02 04:25] gadagashwini commented on #57016
HI @Lennyz1988, Could you create new issue by providing all the required details. Thank you!

[2022-09-02 04:45] ilixiaocui opened #57605 "[Question] Does Distributed TensorFlow can be run in independent filesystem"
I used tensorflow version 1.14 to run distributed training and failed using the **local file system.**

I saw the exchange [post in 2018 on the Internet](https://groups.google.com/a/tensorflow.org/g/discuss/c/-NdsSrWmp8w), saying that the distributed training must use the shared file system at that time, but the local file system will be supported later
![image](https://user-images.githubuserconte

[2022-09-02 05:08] #55290 closed

[2022-09-02 05:10] gadagashwini commented on #56499
Hi @bhack, Associated PR got closed, could you confirm issue still persists or not. Thank you!

[2022-09-02 05:27] tilakrayal commented on #57534
@VictoriaGriffith,
Could you please try to cast the  arguments to **int32** before passing them to tf.pad. Could you please take a look at the [documentation](https://www.tensorflow.org/api_docs/python/tf/pad#args) of **tf.pad**
[code]
It seems that it supports dtype of **int32** args. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/c774c12def3aefacef9268ee48c07

[2022-09-02 05:41] mohantym commented on #57455
Hi @gadagashwini !
Could you look at this issue. It is specific to macos and not replicating in ubuntu.
Thank you!

[2022-09-02 06:02] chengmengli06 commented on #56885
@crccw any progress?

[2022-09-02 06:16] shijy16 commented on #57496
The issue is acctually caused by a optimization, which uses loops of add/sub to calculate `delta%6` to avoid float mul. The code can be found  [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/image/adjust_hue_op.cc#L233-L238).
I hope this can help you identify and fix this issue.

[2022-09-02 06:17] Aratiganesh123 opened #57606 "Running sample image classification binary application on iMX gives unexpected results"
Hello
I am trying to running the default label_image in the i.MX board and I am encountered with the below result. The below output continues endlessly. Can someone tell me why this is happening?

## Current Result -
[code]

## Expected Result -
[code]

[2022-09-02 06:29] tilakrayal commented on #57579
@Ricky-KLA,
I tried changing the **P, Q, R** values & tried to execute the mentioned code in the alternative approach and was able to execute without any issues with the expected output. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/9cd6a0873601fc6ce56e0a44896e3684/untitled556.ipynb).

[code]
I suspect the issue is not with **tf.linalg.solve** and please try t

[2022-09-02 06:43] mohantym commented on #55973
Hi @codeislife99 !
I am getting different error  (dataset error )in [2.9 ](https://colab.sandbox.google.com/gist/mohantym/a4e1d40c3880a54392bd58cb811a9f05/git_55973.ipynb#scrollTo=H6eCB3ORvIYT). Could you provide a colab gist from your end.
Thank you!

[2022-09-02 06:50] mohantym commented on #57606
Hi @Aratiganesh123 !
Can you check the instructions from this [document](https://www.nxp.com/docs/en/user-guide/IMX-MACHINE-LEARNING-UG.pdf) with 2.8 version.
Thank you!

[2022-09-02 07:00] gadagashwini commented on #57103
HI @afbpinheiro, You can set up miniconda folder path using below steps

Thank you!

[2022-09-02 07:17] ghylander commented on #54299
this is a great find!
thanks for the extensive research and findings, the tcmmalloc and LD_PREOAD trick was great

Let's hope this gets 'fixed' at some point

[2022-09-02 07:18] Kapil-23 opened #57607 "'tf.MaxPool3D' op is neither a custom op nor a flex op"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- TensorFlow installation (pip package or built from source): pip package (Installed Tensorflow 2.8.0)
- TensorFlow library (version, if pip package or github SHA, if built from source): NA

### 2. Code

Model Architecture :

[code]

While converting the above model to tflite using below code

[code]

Gener

[2022-09-02 07:19] tilakrayal commented on #57582
@Joeyzhouqihui,
Could you please fill the [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose) to analyse the issue.
Also please try to use [tf.config.experimental.get_memory_info](https://www.tensorflow.org/api_docs/python/tf/config/experimental/get_memory_info) to get memory information for the chosen device, as a dict.

[code]

Thank you!

[2022-09-02 07:32] tilakrayal commented on #57587
@brechtse,
Semicolon used here in the doc is to denote separation rather than termination. It is intended and not able to find any issue while executing the code. Thank you!

[2022-09-02 07:43] sky712345678 commented on #57052
@sushreebarsa
Ok! I've posted the issue on Keras repo. [Link](https://github.com/keras-team/keras/issues/16978)
Thank you.

[2022-09-02 07:59] Zantares commented on #57528
Note this issue is also happened without oneDNN opt.

[2022-09-02 08:01] gadagashwini commented on #54848
Was able to reproduce the issue with `tf-nightly-2.11.0-dev20220901` .Please find the gist [here](https://colab.research.google.com/drive/1nRndgGcBgS12FhJsU0xrNwrQQewoHAIp?usp=sharing)

[2022-09-02 08:07] gadagashwini commented on #54849
Was able to reproduce the issue with `tf-nightly-2.11.0-dev20220901` . Please find the gist [here](https://colab.research.google.com/drive/1GywmoM9kNn7NwIJfqDxHx4BzDN1-dI8T?usp=sharing). Thank you!

[2022-09-02 08:23] brechtse commented on #57587
@tilakrayal thank you for your response. I understand the intent and also have noticed warning from IntelliCode in VSCode when running this, because of PEP8 style. Given the purpose and audience, however, perhaps such slight occurrence is not worth a PR or change. I am thankful for your review and will close this issue. closes #57587

[2022-09-02 08:23] #57587 closed

[2022-09-02 08:34] gadagashwini commented on #53615
Was able to reproduce the issue with Tensorflow 2.9.2.

[code]

[2022-09-02 08:48] #57153 closed

[2022-09-02 08:48] mohantym commented on #57607
Hi @Kapil-23 !
Please proceed with below syntax to enable select ops conversion.
[code]

[2022-09-02 08:59] gzygmontson13 commented on #5540
we explored the role of managers in transforming formal learning processes. Our latest benchmark report, Unlocking Potential, shows that this group of employees is the key to unlocking more effective learning.
We know from our ongoing research with over 35,000 learners that 78% find support from their manager essential or very useful and 48% say that [it](https://www.2gna.com/) is their manager or

[2022-09-02 09:39] sushreebarsa commented on #57574
@froody Could you please confirm if this issue is resolved for you?
Thank you!

[2022-09-02 09:39] IBSApple commented on #57580
If I use only pod 'TensorFlowLiteSwift', '~> 0.0.1-nightly', :subspecs => ['CoreML']
then many error occure in code

[2022-09-02 09:52] tim54100 commented on #14753
@resorcap Hi, I am trying to compile tflite for snapdragon sa8295p with qnx710. How do you change the build scripts and lib?  I would appreciate if you could give me some advice.

[2022-09-02 10:32] sushreebarsa commented on #57581
@JZZ-NOTE If you want to use GPU support in Tensor-RT you can choose specific cuda and cudnn accordingly.
Could you please follow the instructions from [here](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#benefits). Thank you!

[2022-09-02 10:43] vladd11 commented on #57584
Thanks. Added `ossrh-snapshot` repository to `settings.gradle` and it now works!

Like:
[code]

We may state it [in documentation](https://www.tensorflow.org/lite/android/play_services#1_add_project_dependencies), because `org.tensorflow:tensorflow-lite-task-vision-play-services:0.4.2-beta03` may be stored in `google()` repository, while `org.tensorflow:tensorflow-lite-api:0.0.0-nightly-20220719.0

[2022-09-02 10:43] #57584 closed

[2022-09-02 10:48] #57154 closed

[2022-09-02 10:48] #57210 closed

[2022-09-02 10:48] #57058 closed

[2022-09-02 10:50] Ricky-KLA commented on #57579
@tilakrayal I tested with different values of P, Q and R and found that when P < Q, there is mismatch in outputs. But in hindsight, I see that this is expected since the number of equations is less than the number of variables. For the cases where P >= Q, both outputs match. So, this is not actually a bug and hence we can close this issue.

[2022-09-02 11:01] gadagashwini commented on #57455
HI @winston-zillow, I tested given code on MacOs with Tf 2.9.2.I didn’t observe any warning messages.

[code]

[2022-09-02 11:10] tilakrayal commented on #57579
@Ricky-KLA,
Glad the issue is resolved for you, please feel free to move this to closed status. Thank you!

[2022-09-02 11:21] #57579 closed

[2022-09-02 11:23] sushreebarsa commented on #50198
@CodingRays Could you please confirm if the issue still persists in latest TF version ?
Thank you!

[2022-09-02 11:32] sushreebarsa commented on #50170
@loic-ehrhardt Could you please confirm if this is still an issue ?
Thank you!

[2022-09-02 11:57] Indira-kumar commented on #43693
Is this issue still open? If yes could you please assign this issue to me @pmeckoni

[2022-09-02 12:04] CodingRays commented on #50198
Yes it does. Memory still has the same issue. Performance however seems to have gotten significantly worse. I have tested 2.10rc3, 2.9.0 and 2.8.0 (because that is the oldest one i could find on pip). My system is still the same except for an upgraded gpu and os (though that shouldnt matter for this test as its ran on the cpu).

2.10rc3:
[code]

2.9.0:
[code]

2.8.0:
[code]
So this is a ~2x reduct

[2022-09-02 12:33] ViktorKhLoopMe commented on #56698
@gowthamkpr any comments?

[2022-09-02 12:49] tilakrayal commented on #57604
@chenliang110,
I tried to access the provided [link](http://b/18228951) and facing an access issue. I suspect it is not related and accessible.
In order to expedite the trouble-shooting process, could you please provide a minimal code snippet and the TensorFlow version you are using. Thank you!

[2022-09-02 13:02] tilakrayal commented on #57385
@wukong1992,
We can see multiple code files in the repo. Could you please confirm the reproducible code file or the colab gist. Also the above gist consists of the code of tensorflow 1.x version.
Please provide the code which supports the 2.x version and take a look at this doc [link](https://www.tensorflow.org/guide/migrate) for the apis which migrated from TensorFlow 1.x to TensorFlow 2. Thank y

[2022-09-02 13:56] VictoriaGriffith commented on #56796
hi @sachinprasadhs , any update on this issue?

[2022-09-02 14:42] ttdd11 commented on #53844
@jszaday thanks for the reply, sorry it took a little while to test this.

In practice, though it seems like it's loading (no crash, no exceptions), when I load the optimizer state with the code provided, the model loss get far worse quickly, than if the optimizer is not loaded at all. I'm not sure what is causing this, however this solution unfortunately does not seem to accomplish the goal.

[2022-09-02 14:45] ttdd11 commented on #53844
@jszaday is there anything else I can do to test this? Our current challenging is that the state of the optimizer is important if we want to tune models, however without being able to load it, we end up re-training which is very time consuming and compute heavy. Any help would be greatly appreciated.

[2022-09-02 15:04] pmeckoni commented on #43693
I am no longer trying to use Tensorflow on Ubuntu 20.04. I wanted to use it 2 years back. The owner(s) of this repo may decide to close this comment if they want to.

[2022-09-02 16:12] apacha commented on #53529
@BorisPolonsky can you proof this, please, or tell me what I'm doing wrong? I've tried to install several versions of tensorflow from pip and **NONE** of them was built with TensorRT support. One of the wheels that I've tried is `tensorflow-2.9.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl`.

[2022-09-02 16:17] cantonios commented on #56680
Should be fixed with [dc3a847](https://github.com/tensorflow/tensorflow/commit/dc3a847a17078d86dcc2c13ada1cc9b9219fd662).

[2022-09-02 16:17] #56680 closed

[2022-09-02 16:20] jszaday commented on #53844
Previously, you mentioned you tested this method on GPUs. Does the provided code also work on GPUs? If not, what are the key differences between your working GPU code and the provided code?

[2022-09-02 16:43] ttdd11 commented on #53844
The testing I did was on GPUs for this particular test (where the loss diverged).

Perhaps I may have been incorrect in my description of "working" on GPUs. A better assessment is that it didn't throw an error. I didn't search too much past that because practically, we train these models on TPUs.

[2022-09-02 17:37] Kapil-23 commented on #57607
@mohantym  Thanks for your Reply !!!
Used your changes and now graph has no FlexMaxPool3D
Further, As I am trying to quantize the model using below command.

[code]

Facing Error :
[code]

[2022-09-02 18:13] jszaday commented on #53844
One last question—typically, when we want to save/load the optimizer's state, we'd also save/load the rest of the model's state (e.g., its trainable variables). This procedure is outlined [here](https://www.tensorflow.org/guide/keras/save_and_serialize). Is it possible to save/load the entire model in your use-case?

[2022-09-02 20:29] nitins17 commented on #56088
There is a separate effort currently in progress for making Apple Silicon wheels available for TensorFlow (https://github.com/tensorflow/tensorflow/issues/57185). This issue is for Arm based Linux wheels.

[2022-09-02 21:06] Feynman27 commented on #56852
Yes, removing the `distributed_strategy.scope` works as expected.

[2022-09-02 22:10] bhack commented on #56499
@gadagashwini What PR?

[2022-09-02 22:14] bhack commented on #56769
@cheshire Is there a margin to do something more here?

If not can we at least improve the error message in the code? As I think that the PR to `known_issues.md` is a little bit too marginal for the avg developer with the current error string in the code.

[2022-09-02 22:41] clarkzinzow commented on #53149
Bump on this, this is still broken as of 2.9.1.

[2022-09-02 23:23] joker-eph commented on #57494
I think I found the issue, let's check if it actually works this time!

[2022-09-03 01:13] froody commented on #57574
@sushreebarsa No the issue is not resolved, I still can't load a model trained with the original method (subclassing Layer/Model)

[2022-09-03 01:47] yanorei32 commented on #56125
one-line workaround for GNU sed systems.

[code]

Hopefully the CMakeLists.txt in the release has been corrected.

[2022-09-03 01:59] mohantym commented on #57607
@Kapil-23 !
For integer only quantization, Yield in representative dataset has to be int8 type .You also have to include select ops too to enable the select ops conversion.
[code]
Would it be possible to share a similar toy model from your end too.

Thank you!

[2022-09-03 03:26] sushreebarsa commented on #57517
@gadagashwini I was able to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/9f90e508901e7926995bc7bdcd1cb376/57517.ipynb) for reference. Thank you!

[2022-09-03 04:35] sushreebarsa commented on #57524
@vaibkum-bh
In order to expedite the trouble-shooting process here, could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thank you!

[2022-09-03 04:39] 1LISA2 commented on #1367
Whites first, blacks trash，Why do black people exist, black people still have a lot of AIDS, black, ugly, poor and violent

[2022-09-03 05:01] jaybhanushali99 commented on #57476
Yes can confirm that  I am facing this issue.

[2022-09-03 05:32] sina-ss commented on #43645
I have same issue too:
WARNING:tensorflow:Early stopping conditioned on metric `auc` which is not available. Available metrics are: loss,auc_1
WARNING:tensorflow:Early stopping conditioned on metric `auc` which is not available. Available metrics are: loss,auc_2
WARNING:tensorflow:Early stopping conditioned on metric `auc` which is not available. Available metrics are: loss,auc_3
and ...

[2022-09-03 09:08] EnricoMi commented on #57494
The `stream.h` is still not in `20220903` (`tf_nightly_gpu-2.11.0.dev20220903-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl`). Was it cut before your fix went into git?

[2022-09-03 09:11] EnricoMi commented on #57494
It looks like your change in `tensorflow/BUILD` (702e7a4f)
[code]
should read
[code]
See https://github.com/tensorflow/tensorflow/commit/2be830137aca09da21d599e04ba7d7ad0059ed05#diff-679555fdef7c81321743c804a27240b29642a6a04170df06427f14ddf3cdea4eL681

[2022-09-03 13:50] dakl commented on #56088
That's exactly what I'm after. This will enable tf in Linux-based containers on macOS, since docker for Mac starts a Linux VM under the hood.

[2022-09-03 15:46] williamdias opened #57610 "Gather Op on GPU"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS BigSur 11.6.7 and Android 10 / 11.
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): v2.10.0-rc2

**Provide the text output from tflite_convert**

[code]

Hi,

I have a model that needs to run on GPU but it seems that GATHER Op is not supported by GPU de

[2022-09-03 22:48] #50762 closed

[2022-09-03 22:50] mihaimaruseac commented on #57604
`b/numbers` is an internal link to Google resources. The contents are private to google.

[2022-09-03 23:48] #51877 closed

[2022-09-04 01:32] OysterQAQ commented on #36072
same problem

[2022-09-04 04:31] Indira-kumar commented on #43693
Thanks for the info
Have a nice day💛

[2022-09-04 05:40] chenliang110 commented on #57604
Hello，in tflite2.9 has following code:
size_t TfLiteIntArrayGetSizeInBytes(int size) {
  static TfLiteIntArray dummy;

  size_t computed_size = sizeof(dummy) + sizeof(dummy.data[0]) * size;
#if defined(_MSC_VER)
  // Context for why this is needed is in http://b/189926408#comment21
  computed_size -= sizeof(dummy.data[0]);
#endif
  return computed_size;
}
and

typedef struct TfLiteIntArray {
  int

[2022-09-04 08:49] EarthShaping commented on #56927
On Windows 10, with Anaconda and CUDA installed by "conda install -c conda-forge cudatoolkit=11.2"

1) In the root of your python project create the directory "nvvm" and "nvvm/libdevice"

2) From "C:\Users\<user_name>\anaconda3\pkgs\cudatoolkit-11.2.2-h933977f_10\DLLs" copy the files libdevice.10.bc and nvvm64_40_0.dll" to the subdirectory "libdevice" created following the point one.
It works

[2022-09-04 10:30] BorisPolonsky commented on #53529
I suggest that you should use docker and run officially built and released tensorflow (or the NVIDIA versions from NGC) images.  Manually installing ML framework with GPU support from scratch will be tedious.

[2022-09-04 14:34] sushreebarsa commented on #57529
@cheyennee  tried to replicate the issue [here](https://colab.research.google.com/gist/sushreebarsa/5bf565e50470196e5bc5b91295951ca1/57529.ipynb#scrollTo=EWbSrThn5YER), could you please confirm the gist?
Thank you!

[2022-09-04 14:36] sushreebarsa commented on #57540
@Tylersuard Could you please provide more details on this feature and share some use-cases of this ?
Thank you!

[2022-09-04 14:36] mu40 opened #57611 "XLA bug for ReLU after convolution"
### Issue Type

Bug

### Source

binary, official 2.9.1-gpu Docker image

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux CentOS Stream release 8

### Python version

3.8.10

### CUDA/cuDNN version

11.2

### Current Behaviour?

With XLA enabled, ReLU after a convolution causes a CUDNN_STATUS_INTERNAL_ERROR. The error disappears when ReLU is replaced wit

[2022-09-04 15:32] gsirocco commented on #57490
Hi, just checking if I can get any feedback on this issue. Is it something that I am doing wrong, or is it an issue that's a known limitation or new bug?

We have several TF models that take too long to execute as TF or TFLite models, so we need to try to execute them on HW such as TPU to see if they can meet performance goals. So being able to convert TF models to TFLite and then to Edge TPU is c

[2022-09-04 18:07] wickson2 commented on #55291
I'm working on a C project implementing some generic containers and am having this weird issue when compiling. Here is some sample code that also replicates the error.
foo.h
void fooprint(void);
foo.c
 #include "foo.h"
 #include <stdio>
 void fooprint(void){
    printf("bar");
    return;
 }
main.c
#include "foo.h"
int main(void){
    fooprint();
    return 0;
}
I compile by typing
gcc main.c -o m

[2022-09-04 18:36] sushreebarsa commented on #57535
@sachinprasadhs I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/209e242b4f7d8e8eb938b553f84b953f/57535.ipynb) here. Thank you!

[2022-09-04 19:30] BenBE commented on #55291
@wickson2 Please use markup to format your post to include code formatting. Also I fear you question is unrelated to the issue this thread discusses.

Short form: `foo.c` defines `fooprint`, declared in `foo.h` for export. `main.c` references this function via its declaration in the included `foo.h`, but does not contain a definition of that function. When compiling your code with `gcc main.c -o m

[2022-09-04 20:33] sseppola commented on #57388
Confirmed, `0.0.1-nightly.20220831` links properly when you use the correct -force_load flag as shown here https://github.com/tensorflow/tensorflow/pull/57389

[2022-09-04 20:46] Mushoz commented on #47554
Exact same issue for me, with a model using LSTM layers as well. Super frustrating that basic functionality like this does not work.

[2022-09-05 00:19] cheyennee commented on #57529
@sushreebarsa  I met same problem as well.

[2022-09-05 01:33] yan12125 commented on #51487
Is flatbuffers 2.x support complete? Another similar issue is closed https://github.com/tensorflow/tensorflow/issues/55740.

[2022-09-05 02:30] wangjia184 opened #57612 "OnDevice prediction produces same result for all inputs in a batch"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.2

### Custom Code

No

### OS Platform and Distribution

Mac M1, Windows x64

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

The

[2022-09-05 02:36] SakshiSingh25 commented on #57611
Hello, I'm interested in working on it. Kindly grant me permission for the same.

[2022-09-05 03:24] tilakrayal commented on #57498
@shijy16,
Looks like this is a duplicate of issue #57497. Could you please confirm and close this issue, since it is already being tracked there? Thank you!

[2022-09-05 04:39] wickson2 commented on #5543
The code below is my best effort to avoid constant-folding (at all costs). It doesn't work. I end up with constant 100011111 in the instruction stream.

llc -O0 code.ll -print-after-all reveals that the folding happens at Expand ISel Pseudo-instructions pass.
; ModuleID = '0'
target triple = "x86_64-unknown-linux-gnu"

define  i64 @"0"() {
BlockEntry0:
  %cell = alloca i64, align 8
  store volatil

[2022-09-05 05:06] shijy16 commented on #57498
@tilakrayal
Hi, issuse #57497 is a `check-fail`, but this one is a `Floating-Point-Exception`, the input are different too. So I donot think they are the same issue.

[2022-09-05 05:20] tilakrayal commented on #57495
@gadagashwini,
I was able to reproduce the issue on **tensorflow-gpu** v2.8, v2.9 and [nightly](https://colab.research.google.com/gist/tilakrayal/305eecc80662929e5f999688ce5447f6/untitled564.ipynb) whereas on [tensorflow-cpu](https://colab.research.google.com/gist/tilakrayal/6b893e9c512d4070ab955a433a2cd6f9/untitled564.ipynb) the code was executing without any issues. Kindly find the gist.

[2022-09-05 05:29] IBSApple commented on #57580
??

[2022-09-05 05:45] tilakrayal commented on #57611
@mu40,
Could you please try to run the below command before executing the code. I tried and was able to execute the code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/e77b153e09bad8d87774792a149c04ca/untitled567.ipynb).

**!apt install --allow-change-held-packages libcudnn8=8.1.0.77-1+cuda11.2**

Thank you!

[2022-09-05 06:41] mseth10 commented on #56088
grappler remapper tests failing after this commit https://github.com/tensorflow/tensorflow/commit/9d4e950687b25f78fe30a74a8b40ba16f12c9fd1 , is this a known issue and is the fix WIP? @nitins17

[2022-09-05 06:48] #57222 closed

[2022-09-05 07:40] danielmimimi commented on #45753
I m also having this problem

[2022-09-05 07:46] SakshiSingh25 commented on #57611
okay Thank you.

On Mon, Sep 5, 2022 at 11:15 AM tilakrayal ***@***.***> wrote:

[2022-09-05 08:48] LiewenHuke commented on #46477
I used "bazel coverage --combined_report=lcov  ..." in my testing root-dir. Same issue in lcov_files.tmp, every record point at an empty file.

[2022-09-05 09:15] mohantym commented on #57610
Hi @williamdias !
You can use NNAPI delegate to use gather op . You can create your own fallback policy on delegates with  interpreter so that if its find sany other unsupported op during inference with GPU delegate It should try with NNAPI delegate else fallback to CPU mode (in case it finds exception in any of the delegates)

Attached relevant threads [1](https://stackoverflow.com/a/68475828/115

[2022-09-05 09:26] elfringham commented on #56088
There was a new unit test a few days ago on master, //tensorflow/compiler/xla/runtime:custom_call_test that fails on Linaro CI. My testing also shows it failing on x86 so I am not sure why this is not picked up by the main CI testing. I could not find the run that made it pass, it went straight from not existing in the log to having a cached pass.
I have a PR to fix it that also needs an AARCH64 s

[2022-09-05 09:27] elfringham commented on #56088
BTW the above fail is actually a fail to build.

[2022-09-05 09:32] Kapil-23 commented on #57607
@mohantym I tried your solution !!!
Generated the Quantized model .tflite (UINT8).
But the tflite generated has layer **FlexMaxPool3d**
<img width="164" alt="Screenshot 2022-09-05 145603" src="https://user-images.githubusercontent.com/54632955/188416940-9dc088c9-3c7a-4a2c-a7e9-401571094b82.png">

Can you recommend any customize implementation of MaxPool3D layer (Using layers/op only supported by n

[2022-09-05 09:47] mohantym commented on #57553
@wanderer799 !

You can just use a logging function either from python/tf.compat.v1.logging in the package/module to call it by default when some functions are used in the main file save it into package.log . You can use the same logging function in main.py file to save it into tf.log . Attached a sample code below to explain above context.
[code]
Attached relevant [thread](https://machinelearning

[2022-09-05 09:58] sushreebarsa commented on #57597
@aliericcantona You may declare the function or model under @tf.function then get_concrete_function().graph.as_graph_def() to save and load as graphdef. For more information please refer [this](https://www.tensorflow.org/api_docs/python/tf/compat/v1/GraphDef#:~:text=If%20you%20would%20like%20to%20create%20a%20GraphDef%20in%20TF2%2C%20use%20tf.function%20and%20get_concrete_function) link. Thank you

[2022-09-05 10:40] tilakrayal commented on #57498
@gadagashwini,
I was able to reproduce the issue on **tensorflow-gpu** v2.8, v2.9 and [nightly](https://colab.research.google.com/gist/tilakrayal/e3bfcb2f7ad17b16752cef49ed3f565a/gpu.ipynb) where it was executed on **tensorflow-cpu** without any error. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/65f667ad76b250fc460eecf91c2cb7b9/untitled570.ipynb).

[2022-09-05 10:48] #57189 closed

[2022-09-05 10:49] sushreebarsa commented on #57605
@ilixiaocui
In order to expedite the trouble-shooting process here, could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).
Older version of TF (1.x) is not actively supported, could you please upgrade to latest TF version and let us know if the issue still persists in latest TF version?
Thank you!

[2022-09-05 10:52] sushreebarsa commented on #57601
@purvang3
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thank you!

[2022-09-05 11:11] sushreebarsa commented on #57583
@Iroski Could you please try with the latest TF version as older versions(2.3 or previous versions) are not actively supported and let us know if the issue still persists?
I tried to replicate the issue on colab and faced dependency issue. Please find the [gist](https://colab.research.google.com/gist/sushreebarsa/0dc00ffd10a709f2af83c387d615690f/untitled124.ipynb) here.
Thank you!

[2022-09-05 11:20] sushreebarsa commented on #57575
@sachinprasadhs I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/c178e2bf561a1a1b786fb3dce47480d9/untitled123.ipynb) here.
Thank you!

[2022-09-05 11:29] sushreebarsa commented on #57574
@froody
I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/8dc86c2d722124d3fc70fd9e439ddff6/untitled122.ipynb) here.
This issue seems to be Keras issue.  Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues) as Keras development is fully moving to [github.com/keras-team/keras](http://github

[2022-09-05 11:41] mu40 commented on #57611
Thanks. I am not sure if apt could actually install packages inside the container, but it looks like this particular one is already at the requested version.
[code]

The call generates the following output, and the error persists.
[code]

[2022-09-05 11:48] #57225 closed

[2022-09-05 11:48] #57355 closed

[2022-09-05 11:49] gadagashwini commented on #57528
Was able to replicate the issue with Tf v2.9.2 on Mac OS.

[2022-09-05 11:49] sushreebarsa commented on #57488
@sachinprasadhs I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/efd51855e1aebafe8196ada57d9459ca/57488.ipynb) here.
Thank you!

[2022-09-05 13:28] williamdias commented on #57610
Hi @mohantym

Thank you, but you didn't answer any of my questions 😞
If I want to contribute with tflite and implement gather on GPU, could you point me to some reference?

Cheers!

[2022-09-05 13:40] ebraraktas opened #57614 "TensorBoard callback does not log `batch_` metrics since v2.8.0"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

No

### OS Platform and Distribution

Ubuntu on Colab

### Mobile device

_No response_

### Python version

3.7.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No re

[2022-09-05 13:42] jondo opened #57615 "Feature: Balanced Accuracy"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

binary

### Tensorflow Version

tf 2.10.0-rc3

### Custom Code

No

### OS Platform and Distribution

Debian 11

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2

### GPU model and memory

_No r

[2022-09-05 13:57] #57612 closed

[2022-09-05 14:00] mohantym commented on #57610
Sorry @williamdias !
For the inconvenience.
@sachinprasadhs !
Could you look at this issue.
Thank you!

[2022-09-05 14:27] aliericcantona commented on #57597
I need through C-Api way not a python way. There is no description on that.

[2022-09-05 14:48] #57149 closed

[2022-09-05 15:37] mohantym commented on #57607
@Kapil-23 !
Thanks for the update!
@sachinprasadhs !
Could you look at this issue.
Thank you!

[2022-09-05 15:51] ttdd11 commented on #53844
@jszaday for sure, the model and the optimizer state are saved/loaded at the same time. Now the different I see in that example is that model.fit isn't being called, but creating gradients using tape.gradient and applying them using optimizer.apply_gradients. Is there a way for me to get the optimizer object from the model after its loaded?

[2022-09-05 17:02] mohantym commented on #27437
Hi @ghost!
Can you check this [notebook](https://colab.sandbox.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/Keras_LSTM_fusion_Codelab.ipynb) on operation fusion for converting RNN/LSTM/BILSTM model and let us know.
Thank you!

[2022-09-05 18:03] Kapil-23 commented on #57607
As requested : @mohantym and @sachinprasadhs
Sharing with you the path to folder : [Model](https://drive.google.com/drive/folders/1-IHrz6tKJWSDlJQMl0OLL880nulBfLxG?usp=sharing)
Contains Quantize model [Having layer FlexMaxPool3D] & Save model

[2022-09-05 18:38] purvang3 commented on #57601
[code]

@sushreebarsa The attached code snippet is the entire code that I run to analyze memory. Only thing user need to do to download the model from   http://download.tensorflow.org/models/object_detection/ssd_inception_v2_coco_2018_01_28.tar.gz and add the model path in code.

Thank you

[2022-09-05 19:57] PfeifferJosef-96 commented on #57208
Thank you all for your work!

I think this issue can be closed then.

[2022-09-05 19:57] #57208 closed

[2022-09-05 23:38] CarlosYeverino opened #57617 "[Build Issue] OSError: [Errno 8] Exec format error when doing cross compilation of TFLite C library for ARM64"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

latest master, commit 71edfa2a963c1ebb624786263ab87052b39095e7)

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 18.04

### Mobile device

Linux Ubuntu 18.04

### Python version

3.6.9

### Bazel version

_No response_

### GCC/Compiler version

Cross compil