[2017-03-17 07:27] annanay25 commented on #8100
@b33pr Yes, I understand, I am willing to tweak XLA's IrEmitter to make the visibility clear - to help Polly optimize the loop nests further.

[2017-03-17 07:56] AlZahraa-Ashraf opened #8489 "I cant download it !"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-17 07:58] 5onion opened #8490 "Tools for generating the website is not available in this public github repo"
Could the website generator tools for tensorflow.org be changed to  open source tools here. It will be good and appreciated!
Many people want to get the offline version of tensorflow documentation, not only the API documentation, I think they can use the  tools to generate the website from markdown files, and  to offline html files. It will be helpful.
And I think if the tool become a open source

[2017-03-17 08:55] axelsly opened #8491 "Convolution and CuDNN version TF v1.0"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

Did not find much.

### Environment info
Operating System:

Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-64-generic x86_64)

Installed version of CUDA and CuDNN:

[code]

If installed from binary pip package, provide:

[code]
Using TF v1.0.1

### If possible, provide a minimal reproducible example

[2017-03-17 08:55] m9ra opened #8492 "Gradient by a function issue"
I find out an inconsistency in tf.gradients function.

[code]

 I would expect the two prints have the same output because the expressions are equivalent.
However, output that I'm getting is following:

[code]

[2017-03-17 09:14] chkap opened #8493 "Implementation of LSTMCell inconsistent with the refered paper."
This is an extended issue of the existing issue #8469 .

In the comments, it said that the LSTMCell is implemented based on this [paper](https://research.google.com/pubs/archive/43905.pdf).
In this paper, the several gates are computed like `sum_i(args[i] * W[i])`. Here, the args are list of input and m_state. More details can be found in the mentioned paper.
However, in the code the gates are com

[2017-03-17 09:15] pkit commented on #4848
No `bazel clean` in history:

    $ history | grep ' bazel'
    ........
    241 bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
    242 bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg

But then:

    $ bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
	......
	ERROR: /home/kit/.cache/bazel/_bazel_

[2017-03-17 09:19] NaveenAri commented on #6087
Setting updates_collections=None in BatchNorm seems to resolve the issue since updates are done within a frame and no longer need to be aggregated.

[2017-03-17 09:20] chkap commented on #8493
@xiejw

[2017-03-17 09:26] chkap commented on #8469
Sorry, I just found that they are in fact the same.
Please close this issue.
Sorry for proposing a wrong issue.

[2017-03-17 09:29] caoshiwei commented on #8384
thx~

[2017-03-17 09:29] #8384 closed

[2017-03-17 09:52] kaufManu commented on #7585
@ebrevdo I am not using nightlies

[2017-03-17 10:03] untom opened #8494 "Segfault: "Check failed: num_elements_ <= kMaxElements""
I'm running the current nightly build as of today (2017-03-17). I'm working with very large, sparse matrices, and my program seems to have hit a variable overflow. It crashed with the following log entry:

    2017-03-17 10:48:34.554715: F tensorflow/core/framework/tensor_shape.cc:212] Check failed: num_elements_ <= kMaxElements (1141286132736 vs. 1099511627776)
    Aborted (core dumped)

I'm gues

[2017-03-17 10:10] #8493 closed

[2017-03-17 10:10] #8469 closed

[2017-03-17 10:40] Ocean47 opened #8495 ""grep: AVX: No such file or directory" -> importing tensorflow libraries in python, on mac"
When I try to import tensorflow in python, under python2.7 or 3 I get the following error output, it loads fine, but the errors are annoying.. (Also running in bash terminal if that matters...)

grep: AVX: No such file or directory
grep: 10.9.: No such file or directory

I thought it might be an issue with the specific version of grep on the mac os so I updated to the latest grep using brew, and n

[2017-03-17 10:43] Ocean47 commented on #8495
When I try to import tensorflow in python, under python2.7 or 3 I get the following error output, it loads fine, but the errors are annoying.. (Also running in bash terminal if that matters...)

grep: AVX: No such file or directory
grep: 10.9.: No such file or directory

I thought it might be an issue with the specific version of grep on the mac os so I updated to the latest grep using brew, and n

[2017-03-17 10:56] persiyanov opened #8496 "[Feature request] np.random.choice analogue"
TF has no analogue to `np.random.choice` function that chooses random element from tensor (optionally according to provided probabilities). It's especially useful in RL problems when you use epsilon-greedy exploration strategy.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
[These](http://stackoverflow.com/questions/41123879/numpy-ran

[2017-03-17 11:18] chandu8542 commented on #53
For those facing glib problem, switch keras config file to use Theano instead of Tensorflow. I did that and it solved my problem.

[2017-03-17 11:43] persiyanov commented on #8496
Ah, actually there is also no way to generate random samples for length of `batch_size` when it's not specified until runtime.

Btw, using `RandomStreams` in `theano` allows to do that.

[2017-03-17 11:43] pedrodiamel commented on #6613
sudo /var/lib/dpkg/info/ca-certificates-java.postinst configure

[2017-03-17 12:07] ANeeK181 commented on #8397
ok, still not working. Another dependency on some 64bit identifier is popping up now. The error is:

**c:\users\aneek\documents\tf_x86_build\tensorflow\tensorflow\core\common_runtime\bfc_allocator.h(356): error C3861: '_BitScanReverse64': identifier not found [C:\Users\ANeeK\Documents\TF_x86_Build\tensorflow\tensorflow\contrib\cmake\build_32\tf_core_cpu.vcxproj]**

I think it probably won't compil

[2017-03-17 12:35] kinDSa commented on #8396
I get one blog [Tensorflow for mobile](https://petewarden.com/2016/09/27/tensorflow-for-mobile-poets/).Using That create **optimized_graph.pb, rounded_graph.pb, mmapped_graph.pb**  files.

optimized_graph.pb and rounded_graph.pb file work in android application without any error.
While use mmapped_graph.pb I get error that  **Failed to initialize: java.io.IOException: Not a valid TensorFlow Graph

[2017-03-17 12:46] byronyi commented on #7376
I guess you shall close this issue if it doesn't exist in version 1.0?

[2017-03-17 12:55] rringham commented on #7540
This still appears to be an issue. Just installed TensorFlow 1.0 on Windows 10 (x64) following the instructions from here: https://www.tensorflow.org/install/install_windows. It sounds like whatever is in the nightly build referenced in this post has not yet made it to the official version of 1.0 that's available via:

pip3 install --upgrade tensorflow

Here's what I'm seeing just after installati

[2017-03-17 13:03] dineshbvadhia commented on #8253
Want to confirm this is (still) a problem with the CPU version - TF 1.0.1 - for Windows 10.

Upgraded to TF 1.0.1 (and keras 2.0.1)  on Windows 10. Using Anaconda but the TF/keras install is with native pip ie.

Errors are:

E c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorflow\core\framework\op_kernel.cc:943] OpKernel ('op: "BestSplits" device_type: "CPU"') for unknown op: B

[2017-03-17 13:31] kinDSa opened #8497 "Tensorflow Retrain Model performance"
I am using [Tensorflow for poet](https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/#0) guide for train own model. I have create retrained_graph.pb and retrained_labels.txt. While I use it in application then I get error that

`Caused by: java.lang.UnsupportedOperationException: Op BatchNormWithGlobalNormalization is not available in GraphDef version 21. It has been removed in ve

[2017-03-17 13:35] Nayana-ibm opened #8498 "Upgrade Protobuf"
We are building TensorFlow master using bazel on 64 bit platform.

We need a fix for 64 bit platform as mentioned in #1044 in `tensorflow/third_party/protobuf/3.0.0/src/google/protobuf/stubs/atomicops_internals_generic_gcc.h`.

This fix is available in protobuf with commit id [c59473d ](https://github.com/google/protobuf/commit/c59473d53eafadd126502657e5c5c33e952b67ed)or higher.
Will it be possibl

[2017-03-17 13:36] Nayana-ibm commented on #8498
Reference: [#4380](https://github.com/tensorflow/tensorflow/issues/4380)

[2017-03-17 13:43] danbarnes333 commented on #8403
We are having trouble finding the right place to insert linkshared in the BUILD files for this to be successful. Is there any chance you could point us to the right place to set "linkshared = 1" to load protobuf as a shared library?

Thanks for your help

[2017-03-17 13:44] hawkinsp commented on #8100
I will point out there are LLVM IR emitters for Dot and Conv, e.g.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/service/cpu/dot_op_emitter.h
and IrEmitter::HandleConvolution in ir_emitter.h:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/service/cpu/ir_emitter.cc
They are reference implementations and not tuned for performance, which is

[2017-03-17 13:48] bhack commented on #8100
@hawkinsp Can I ask you what is the roadmap of IrEmitters effort and if this will substitute eigen template code?

[2017-03-17 13:50] cloud-370 commented on #5949
@mrry , thank you.
your advise(installing Microsoft Visual C++ 2015 Redistributable Update 3 (x64 version) ) also work for native pip3 install tensorflow 1.0.1 on windows10.

[2017-03-17 13:53] bhack commented on #8100
We [started a disscussion](https://github.com/soumith/convnet-benchmarks/issues/93#issuecomment-198745652) also one year ago on how much progress could be achived targetting IR /cc @scott-gray

[2017-03-17 13:56] hawkinsp commented on #8100
I don't think anyone is actively working on the IR emitter versions of dot and conv. Contributions welcome! I think it would be a fun project!

If the dot and conv IR emitters were more competitive, it would open new optimization opportunities (e.g., fusions into the dot kernels). But it is not easy to match the performance of hand-tuned dot and conv kernels via LLVM. It seems more tractable to do

[2017-03-17 14:04] liufuyang commented on #2050
Another question, can the tensorboard auto refresh the page when new logs are generated? (Perhaps not according to the comments above...)
And is there a plan to implement something like this?

[2017-03-17 14:12] bhack commented on #8100
@hawkinsp It could be really useful if HLO will become a standard rappresentstion also for other frameworks. But then the compiler need to be a standalone project.

[2017-03-17 14:20] rringham opened #8500 "TensorFlow 1.0 on Windows: OpKernel ('op: "BestSplits" device_type: "CPU"') for unknown op: BestSplits"
Just installed TensorFlow 1.0 on Windows 10 (x64) on a Surface Pro 4 following the instructions from here: https://www.tensorflow.org/install/install_windows (e.g. pip3 install --upgrade tensorflow).

I'm unable to validate my installation, though - here's what I'm running into:

[code]

There seem to be several similar reports that indicate this is fixed, but as far as I can tell, this is still e

[2017-03-17 14:27] hawkinsp commented on #8100
@bhack The XLA compiler is open-source, and everyone is welcome to use it and improve it. We mean it! Even though it lives in the Tensorflow repository, XLA is quite modular and does not depend on more than a few low level C++ utility libraries from Tensorflow. You can build and use XLA without the rest of Tensorflow right now if you like. It's still early days, and we are open to ideas on how to

[2017-03-17 14:29] bhack commented on #8100
Thank you.. I was not aware of this group.

[2017-03-17 14:38] tsomeq commented on #8430
@concretevitamin
All right, I understand.
I'll write decoding logic with referring PIL .

Thank you for your reply.

[2017-03-17 14:51] ZexCeedd opened #8501 "seq2seq.py: encoder_inputs from embedding_attention_seq2seq to static_rnn wrong?"
The encoder_inputs to the embedding_attention_seq2seq function is stated as "A list of 1D int32 Tensors of shape **[batch_size]**."

Which is a shape of **[input_size, batch_size]**

This same input is then passed to **core_rnn.static_rnn** directly where **static_rnn** expects an input shape of **[batch_size, input_size]** instead.

[code]

This seems like an error or am I unclear?

Thanks

[2017-03-17 15:07] lethienhoa commented on #2050
Hi,
I've figured that we don't need to do any refresh page by hand at all. When we open the terminal by "tensorboard --logdir yoursummarydirectory", open up your browser and wait (~5 or 10 min depending on the size of your model) and it will automatically load all.
I don't know why there is a delay like that but you definitely don't need to do boring stuffs anymore, just wait !

[2017-03-17 15:13] debasish83 commented on #5
@asimshankar we are in the process of selecting deep learning framework (mxnet/tf) and our etl/api are based on spark/akka flow...Is there a plan to add distributed_runtime support to Java API to run model parallel training using ps nodes ? ps node is critical to us for many use-cases...javacpp presets may be easier to export for the first cut since the C API itself does not seem to have distribut

[2017-03-17 15:14] byronyi commented on #8407
I think what you referred to is much similar to what CUDA refers to as [Unified Memory](https://devblogs.nvidia.com/parallelforall/unified-memory-in-cuda-6/). However, I think TF team decided not to support it. See the discussion #3678 #4779.

[2017-03-17 15:26] gunan commented on #8253
Correct, it is still a problem with 1.0.1.
Please see the messages above for more information.

[2017-03-17 15:31] byronyi commented on #8498
Your original reference "#1044" should point to the one in [protobuf](https://github.com/google/protobuf/pull/1044). And I am confused of the "64 bit platform" you were referring to, until I notice it is probably `mips64`. It would be better if you could make that clear, as current master has no problem building on `x86-64`.

[2017-03-17 15:32] eweill opened #8502 "iOS - No OpKernel was registered to support Op 'ExtractImagePatches' with these attrs"
Hi everyone,

I am trying to load a graph inside iOS that was generated by another software into a .pb file.  It was tested on a Ubuntu machine, so I know the model works correctly.
When trying to use it with iOS, the project builds correctly and then I have the following error:

[code]

I know other issues have been posted related to this; however I was unable to locate a solution.

I am using Te

[2017-03-17 15:40] backyes opened #8503 "Can aggregate all gradients from local wokers on local GPUs before push to parameter server ？"
Can we use Graph mechnism to build the situation that all workers will aggregate all gradients from their replicated sub-graph， before pushing gradients to all pservers？

If OK， can show us some examples？

BTW：

* with r1.0.1 version, inception training with distributed nodes will crash for several old APIs，and some more unpredictable reason.

* some ps error comes if we use non-default DNS IP whe

[2017-03-17 15:43] byronyi commented on #6955
@yaroslavvb Thanks for the reference you pointed to! Really helpful to what I am looking for.

But to this issue per se, I guess parsing in a multi-node context is not exactly what the owner of this issue referred to.

So currently there is no way to construct a tensor by moving an existing pointer? How about construct a tensor with empty underlying storage and take that storage for your own use,

[2017-03-17 15:47] #8397 closed

[2017-03-17 15:49] ebrevdo commented on #7585
See if the bug has been fixed in the nightlies / on master.  We worked on
this code after TF 1.0 was released.

On Fri, Mar 17, 2017 at 2:53 AM, kaufManu <notifications@github.com> wrote:

[2017-03-17 15:55] byronyi commented on #8033
Might be a little be too hacky, but one way not to changing TF C/C++ API is to allocate an empty `Tensor` before you do any other computation, and use the buffer (a direct pointer could be obtained from `StringPiece`) of that `Tensor` as the underlaying storage for data structure to, say, OpenCV.

Lifetime issue could be tricky though.

[2017-03-17 16:05] mrry commented on #8098
Closing this due to lack of activity... hopefully my suggestion worked for you, but feel free to reopen if there still seems to be a bug in TensorFlow!

[2017-03-17 16:05] #8098 closed

[2017-03-17 16:16] Fenugreek commented on #3638
I ran into this issue today (on v1.0).

If no fix is on the horizon, I suggest either removing the `validate_indices` option or mentioning in the API docs that it works only on CPU for now, as that helps with debugging (otherwise people will think their problem lies elsewhere, trusting that the indices must be valid).

[2017-03-17 16:23] girving commented on #3638
@Fenugreek Interested in contributing a doc fix?

[2017-03-17 16:26] zuoxingdong opened #8504 "Cannot reuse variables by tf.layers.conv2d"
I am trying to make two conv layers share the same weights, however, it seems the API does not work.
[code]

gives

[code]

--------------------------------Update-------------------------------
According to a [post](https://stackoverflow.com/questions/42862300/tensorflow-reuse-variable-with-tf-layers-conv2d), the weights are already sharing, with different layer names, since the computation not sh

[2017-03-17 16:29] yaroslavvb commented on #6955
cc @michaelisard

@byronyi I'm not away of any way of doing that.

Having TensorFlow allocate the memory buffer and provide the pointer seems safer because TensorFlow could make sure memory is aligned.

This would be useful because one could initialize numpy array based on pre-allocated memory as described [here](http://blog.enthought.com/python/numpy/simplified-creation-of-numpy-arrays-from-pre-a

[2017-03-17 16:45] yaroslavvb commented on #8503
You can although it'll take some coding on the user end, someone on stackoverflow may be more likely to answer. The comment about crashing could be formed as another issue, if you could follow the template with reproducible example

[2017-03-17 16:45] #8503 closed

[2017-03-17 16:49] alexnanchen opened #8505 "tutorials/rnn/translate/translate.py Errors"
Hello,

I am trying to run the "translate.py" example from the sequence to sequence tutorial but it fails.

The tensorflow version is today nightly built (tensorflow-1.0.1-cp35-cp35m-linux_x86_64.whl). The model git containing the tutorial  is at the latest commit on the master branch.

I am using a linux OS.

The error message is:

ValueError: Shape must be rank 2 but is rank 1 for 'model_with_bu

[2017-03-17 17:30] drpngx commented on #8403
Hi Dan, it's in the protobuf library in third_party/protobuf. I'll try to
take a look later and give you the full path

On Fri, Mar 17, 2017 at 6:45 AM, Dan Barnes <notifications@github.com>
wrote:

[2017-03-17 17:37] Fenugreek commented on #3638
@girving Yes. A bit busy today but will get back by early next week.

[2017-03-17 17:52] christopher5106 commented on #5719
+1

[2017-03-17 17:58] gopi77 commented on #5496
yes, mentioned the detailed solution here
https://github.com/tensorflow/tensorflow/issues/7979#issuecomment-283559640

[2017-03-17 18:12] drpngx commented on #8403
It's in $(bazel info output_base)/external/protobuf/BUILD, the
"protobuf" rule. I'm not sure you can actually modify that. Another
way might be to create a cc_library rule, which depends on that, and
then making that a linkshare = 1 rule.

On Fri, Mar 17, 2017 at 10:30 AM, Patrick Nguyen <drpng@google.com> wrote:

[2017-03-17 18:48] gmacleod commented on #6727
I just found a workaround to what might be the same issue in Tensorflow 0.12.1. Maybe it will be helpful here.

ValidationMonitor did not support the x=...y=... input, and when using input_fn, I found it would loop forever the first time it tried to run the monitor during a fit() call. The log output looked like it was calculating the validation metrics over and over in an infinite loop.

After lo

[2017-03-17 18:50] mabbs90 opened #8506 "A Strange Behavior in TensorFlow about Conv2d Creation and Weight Optimization"
To simplify the tensorflow syntax, I created utility functions that would generate a conv2d layer more easily for me. However, when I use it in an architecture, the results are bizzare and different from the vanilla coding version. Even though both methods are returning the same tensor shape, tensorflow fails to optimize the weights in the second approach and I always get extremely low accuracies,

[2017-03-17 18:58] ppwwyyxx commented on #8491
You should upgrade your cudnn (from 5005 to 5110)

[2017-03-17 19:04] ppwwyyxx opened #8507 "LocalCLIDebugWrapperSession hides exception messages"
### Environment info
Operating System: osx

Installed version of CUDA and cuDNN: no

If installed from binary pip package, provide:

1. A link to the pip package you installed: nightly, python3, today
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`:1.0.1

[code]

My machine doesn't have GPU, and the above code throws:
[code]
But it should throw the device error, l

[2017-03-17 19:23] asimshankar commented on #5
@debasish83 : Including the distributed runtime by itself is trivial, but there are a bunch of higher level constructs in the Python API like the `Estimator` class that take care of a bunch of things (checkpointing, summary saving etc. that make visualization through TensorBoard trivial) that may make it more suitable to run the training jobs in Python.

All this can be built using the existing pr

[2017-03-17 19:24] ekerazha opened #8508 "Expose feature importances in TensorForestEstimator"
TensorForestEstimator can log/print feature importances but they are not accessible.

Could you expose a feature_importances property in TensorForestEstimator or expose the graph builder object instantiated by it so we can access the feature_importances() method?

[2017-03-17 19:29] liufuyang commented on #2050
@lethienhoa I think you issues is more like "loading slow". But for me I hope to monitoring the summary metrics on the fly while the calculation is running generating logs. Currently the page won't refresh itself but MInner's solution above seems very handy at the moment.

[2017-03-17 19:37] MaxGubin commented on #8478
I've been thinking about it a bit.
First "pre-heat" I meant to tell the runtime that during a run over the graph all pages must be in memory. I think that "synchronous" is ambiguous because an OS not necessary have to load everything during the call but before the first usage of the tensor.
A generic implementation can simply touch all pages, but for a specific OS a special flag can be specified t

[2017-03-17 19:47] dmvermes opened #8509 "Hello, guys."
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-17 19:49] dmvermes opened #8510 "Error running TF just after install"
Hello, guys.
I got an error just after install Python 3.5.3 and Tensorflow in a Windows 10 system and it fails in the very first test, the one suggested in Tensorflow install instructions.
The messages I got are here:

Python 3.5.3 (v3.5.3:1880cb95a742, Jan 16 2017, 16:02:32) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

E c:\tf_jenkin

[2017-03-17 19:50] #8509 closed

[2017-03-17 19:50] dmvermes commented on #8509
Stupid entry. Sorry for that.

[2017-03-17 19:56] RalphMao commented on #312
@dandelionmane Thanks for your codes. But I found sometimes it would go wrong due to not-found variables.(I met one with Adam/Wxxx). I made a small change to your codes and it works fine for me.

	def optimistic_restore(session, save_file):
		reader = tf.train.NewCheckpointReader(save_file)
		saved_shapes = reader.get_variable_to_shape_map()
		var_names = sorted([(var.name, var.name.split(':')[0])

[2017-03-17 20:16] Androbin commented on #8404
Okay, I have used the new Graph Transform Tool with arguments:

`--inputs='x' --outputs='y_conv'  --transforms='strip_unused_nodes(type=float, shape="1,257,49,1") remove_nodes(op=Identity, op=CheckNumerics) fold_constants(ignore_errors=true) fold_batch_norms fold_old_batch_norms'`

and all of the previous error messages are gone.
The serialization works just fine now, but when trying to run the mo

[2017-03-17 20:18] Androbin commented on #8442
After switching to the new Graph Transforms Tool like in #8404, the error message has gone (/changed...)

[2017-03-17 20:18] #8442 closed

[2017-03-17 20:31] concretevitamin commented on #8407
Thanks @byronyi for digging up #3678.  As such, @rueberger please refer to that issue.

[2017-03-17 20:31] #8407 closed

[2017-03-17 20:33] Carmezim commented on #8510
Duplicate of #8453

[2017-03-17 20:36] Carmezim commented on #8500
Duplicate of #7859.

[2017-03-17 20:39] Carmezim commented on #7859
@atabakd You can actually ignore it as this issue is already fixed at HEAD but wasn't cherry picked for the current release. It will be present in the `1.1r`. To get rid of it is only upgrading to a nightly build.

[2017-03-17 20:44] dmvermes commented on #8510
Working now. Thanks a million.

[2017-03-17 20:44] #8510 closed

[2017-03-17 20:49] Carmezim commented on #8510
Great to know! Thanks for posting the issue.

[2017-03-17 20:57] concretevitamin commented on #8480
I think it is strongly implied/expected that the users should launch `pip3`, the binary, however they want and it's not meant to be followed verbatim.

[2017-03-17 20:57] #8480 closed

[2017-03-17 21:04] concretevitamin commented on #8508
@gilberthendry could you take a look?

[2017-03-17 21:12] concretevitamin commented on #8500
Thanks @Carmezim.  Closing this for now, please re-open if using the nightly doesn't work for you.

[2017-03-17 21:12] #8500 closed

[2017-03-17 21:15] gilberthendry commented on #8508
feature importances are currently calculated with a TF graph, so can't really expose as a property or a function in the estimator, it only makes sense in the context of a tf.Session (which only exists during training or eval, which is controlled under the hood of estimators).  One option is to include it as an eval metric, would that be ok?

[2017-03-17 21:15] concretevitamin commented on #8502
By default, the iOS build target doesn't link in `core/kernels:extract_image_patches_op`.  Can you try to modify your `BUILD` file and explicitly link this in?

[2017-03-17 21:18] caisq commented on #8507
@ppwwyyxx thank you very much for reporting this issue. I'll take a look at it soon.

[2017-03-17 21:19] concretevitamin commented on #8505
I can't reproduce on my end.  Can you double-check the commit hash of the `translate.py` you're using?

[2017-03-17 21:26] ekerazha commented on #8508
Sounds good to me

[2017-03-17 21:26] concretevitamin commented on #8506
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-17 21:26] #8506 closed

[2017-03-17 21:27] concretevitamin commented on #8490
@martinwicke

[2017-03-17 21:27] #8489 closed

[2017-03-17 21:33] dale-cooper opened #8511 "Documentation for serving canned estimators"
Hey,

the documentation on how to serve canned estimators with tensorflow serving is somewhat confusing. The docstring for export_savedmodel says to provide a function returning an InputFnOps which isn't documented anywhere. In the source it says it moved to estimator/export.py and InputFnOps was renamed to ServingInputReceiver. ~~However, this does not exist at all.~~ [I might have been confused

[2017-03-17 21:35] concretevitamin commented on #8467
/cc @petewarden

[2017-03-17 21:47] mabbs90 commented on #8506
I don't see why it's not a bug! otherwise I would've posted in on stackoverflow. Anyways, thanks!

[2017-03-17 22:12] rringham commented on #8500
Are there instructions on how to install a nightly build? It's not clear how to get that set up.

[2017-03-17 22:22] rewonc commented on #8311
Try putting `linear_input` instead of `skip_input`?

[2017-03-17 22:23] brianhayward commented on #8208
I stubbed out the calls to fork() and execv() for the watch compilation and that worked for those errors. Now the problem is that WatchOS doesn't have the accelerate framework as part of its sdk.  I'm now getting a failure from files that are trying to include Accelerate.h. I'm guessing that any computations that require the functions from the accelerate framework would have to be re-written for W

[2017-03-17 22:32] ispirmustafa commented on #8361
No. This is not in our plan. Epoch doesn't work in distributed settings.
BTW, monitores are deprecated. Please use tf.train.SessionRunHook

[2017-03-17 22:32] #8361 closed

[2017-03-17 22:37] petewarden commented on #8208
Try removing the USE_GEMM_FOR_CONV define in the build, since that will switch to non-Accelerate versions of the code.

[2017-03-17 22:38] w4nderlust commented on #5099
Back on the original topic: in Tensorflow 1.0.0 the same code run on CPU warns the user of accessing an index out of bounds, while when run on the GPU keeps returning 0 filled vectors.

[2017-03-17 22:41] ispirmustafa commented on #6584
That link is not related with SKCompat. I'm closing this thread. If you see SKCompat related issues, please re-open it.
Thanks

[2017-03-17 22:41] #6584 closed

[2017-03-17 22:45] #8043 closed

[2017-03-17 22:53] zhaojunz commented on #2602
I hope the problem is fixed by this diff: https://github.com/tensorflow/tensorflow/commit/c0fc1b998ddbc838a479e295dfd9c0ad75d28f48 though I haven't really tried it out yet.

[2017-03-17 23:18] Carmezim commented on #8500
@rringham You download the wheel and install it with `pip` like the build on the website, but you will be doing that locally.

For instance, [select the most recent working build](http://ci.tensorflow.org/view/Nightly/job/nightly-win/) (blue) from the list on the left, choose the version you want, CPU or GPU, and download the wheel. On the terminal `cd` to the directory you downloaded the build to

[2017-03-17 23:21] UkiDLucas opened #8513 "ImportError: cannot import name 'moving_averages'"
I have a fresh install on AWS EC2 p2.xlarge.

The TensorFlow install method was pip:
[code]

Here is the error:
[code]
Thank you for your support!

[2017-03-17 23:23] stolsvik commented on #2462
It would be great if the "numerical unstability" with the naive implementation was explained somewhere - I am trying to learn this stuff, and I wonder what that implies.

[2017-03-17 23:47] DrM175u commented on #8510
Humm build 114-windows-GPU does not work for me... Any ideas ?
Wait for 115-windows-GPU ?

[2017-03-17 23:48] UkiDLucas commented on #8513
The issue can be closed.

Reinstalling with following helped (I passed this particular place).
`pip3 install --upgrade --ignore-installed tensorflow-gpu`

tensorflow-gpu            1.0.1                     <pip>

[2017-03-17 23:48] #8513 closed

[2017-03-18 00:13] Carmezim commented on #8510
This issue is fixed at `HEAD` so you could actually ignore it but you could try another wheel like 112. The fix for this wasn't cherry picked to the current release but it will make it to the 1.1r.

[2017-03-18 00:15] Carmezim commented on #8482
cc @gunan @meteorcloudy

[2017-03-18 00:51] concretevitamin commented on #8463
Please properly fill out the issue template in order for us to help diagnose.

[2017-03-18 00:57] rringham commented on #8500
Thank you @Carmezim!

[2017-03-18 01:11] concretevitamin commented on #8487
Hmm, the docstring of `assign_from_checkpoint_fn()` states
[code]
whereas the `Scaffold()` expects `init_fn` to be
[code]

Given this, both usages look invalid to me, and I'm not sure why the second one succeeded.

[2017-03-18 01:12] RichDubielzig commented on #4359
Posted another question on StackOverflow regarding my confusion with DeviceContext  and when it needs to be used.  I am revisiting the issue because it turns out we have a smaller limit than I thought on open queues with the system and I'm wondering if I should

1. redesign with the idea of mapping one DeviceContext per queue
2. keep with the current design of one DeviceContext per OpKernelContext

[2017-03-18 01:31] chakpongchung opened #8514 "caffe/tensorflow/mxnet: converter from python to c++"
https://github.com/rmekdma/python_misc/blob/master/caffe/caffe_ftr.py

I need to do some system integration in C++. Given the above caffe code,

how can I track the C++ code being used behind each caffe/tensorflow/mxnet function in python?

Can I generate the C++ code so that I can compile and run?

What is the python wrapper used by caffe/tensorflow/mxnet? ctype, boot:python or swig?

Similarly,

[2017-03-18 02:11] JakeRenn opened #8515 "Gradients Tutorial feature requests."
I need to modify the tensorflow source for specific ops. When add one more input to the `REGISTER_OP` from

    .Input("feature: T")
    .Input("labels: T")
to

    .Input("feature: T")
    .Input("labels: T")
    .Input("my_input: T")

the forward version of corresponding codes do work, but the backpropagation version of corresponding codes seem to need further modification. Since the organizatio

[2017-03-18 02:19] #8515 closed

[2017-03-18 02:29] jimthompson5802 opened #8516 "Missing pip install file for Python3 GPU version for MacOS platform"
Receive the following error when attempting to install GPU TF 1.0.1

`pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/mac/gpu/tensorflow_gpu-1.0.1-py3-none-any.whl`

`Collecting tensorflow-gpu==1.0.1 from https://storage.googleapis.com/tensorflow/mac/gpu/tensorflow_gpu-1.0.1-py3-none-any.whl
  HTTP error 404 while getting https://storage.googleapis.com/tensorflow

[2017-03-18 02:45] #8491 closed

[2017-03-18 03:03] AnlanSun commented on #7908
@prb12 Thanks for the response. I think I did not make that mistake. Because even it overwrite the existing file the loss should not start from that high. But is it a problem to overwrite a file?  Or while I am training a model loaded form like epoch66 , Is it fine to overwrite that expoch66 file?

[2017-03-18 03:06] shuuchen commented on #5514
I upgraded tensorflow but global_variables_initializer() still cannot work.

[2017-03-18 03:11] BanR commented on #6698
Have the same problem with ubuntu(14.04) and GRID K520 (aws g2.2)

[2017-03-18 03:11] AnlanSun commented on #7908
@prb12 I would like to send you all my code. Cause I really can not find the mistake about that. Is ti possible to get you email? Hope for help

[2017-03-18 04:39] rasbt commented on #2353
Was just having similar problems, and double-checked multiple times that everything was set up correctly. Turned out my example ops were too "cheap" and adding a `file_writer.flush()` after adding the summary to the write solved the issue.

[2017-03-18 05:36] jw447 opened #8517 "CUDA_ERROR_DEINITIALIZED running CIFAR10_multi_gpu on CUDA8.0 with cuDNN v5, built from pip"
## Environment info

### Hardware Platform:
Google Cloud Compute Engine
4 vCPUs, 15 GB memory
4 * NVIDIA Tesla K80

### Software Platform:
Operating System: Ubuntu 16.04
cuDNN v5
CUDA toolkit 8.0
CUDA Compute Capability 3.7

### Tensor-flow:
Installed from pip
https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.0.1-cp34-cp34m-linux_x86_64.whl
(Installing from source also doesn't w

[2017-03-18 05:36] marulitua commented on #8302
Yes, indeed. I am using python3. I am sorry but  i cannot try it on python2.
So, i think we can close this issue.
Thanks all.

[2017-03-18 05:36] #8302 closed

[2017-03-18 05:37] abdasgupta commented on #8466
Exactly same issue I am getting.

[2017-03-18 07:29] Ocean47 commented on #8495
Figured it out, something I installed had added this to my .bash_profile
export GREP_OPTIONS=’–color=auto’ export CLICOLOR=1;

in hindsight kinda obvious...

[2017-03-18 07:29] #8495 closed

[2017-03-18 07:58] alexnanchen commented on #8505
The model git is at HEAD: e8464d33d363c6f8e90a29c08e5af11ef01be7a1 (Update the DRAGNN (#1191)) of 17 of March 2017

The translate.py  is: c902a86785052291083682c4b833747e7ea52597 (Ability to train the translation model ...) of January 3rd 2017 from Viacheslav Kovalevskyi.

I also tried to do again a "git clone https://github.com/tensorflow/models.git"  and then run "python tutorials/rnn/translate/

[2017-03-18 08:40] axelsly opened #8518 "tf.contrib.seq2seq Documentation"
Where can I find documentation for `tf.contrib.seq2seq`?

I get a 404 error on [attention_decoder_fn.py].(https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/seq2seq/python/ops/attention_decoder_fn.py)

Namely, I want to hack the `attention_decoder_fn_inference` or `dynamic_rnn_decoder` function during inference in order to sample the outputs of each cell based on output probab

[2017-03-18 11:16] samwhitlock commented on #8478
I'm not sure I fully understand this (I haven't looked at the graph optimization part of the code), but I don't think this would work for my use case because I don't mmap tensors. I am not mmaping Tensors directly; instead, my graph works something like this

1. source: a list of filenames
2. read kernel: takes one filename, calls `NewReadOnlyMemoryRegionFromFile` (with the boolean flag hack I cur

[2017-03-18 12:42] Alexivia commented on #1592
@lorenlugosch Did you managed to finish your binary convolution? I'm interested in knowing how to implement low-precision operations for the forward pass in CNNs... @bhack Do you know if there is any support for this in TF? Besides the 8bit quantisation process, I want a "hard" quantisation, not the one that uses the max and min with float values

[2017-03-18 12:48] prakashyadav008 opened #8519 "error while building tensorflow from source"
_I am trying to install tensorflow from source and getting this error while building tensorflow from bazel using the command:_

`bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
`
_and the error is:_

`ERROR: /home/prakash/.cache/bazel/_bazel_prakash/8d51bbac70ad4d48b6548f0de307c16b/external/nccl_archive/BUILD.bazel:33:1: error while parsing .d file: /home/prakash/

[2017-03-18 12:54] eddiepierce commented on #8311
`linear_input` does correctly output 0. I think there's still a bug with `skip_input` though because in my example input_size == num_units, so it shouldn't require a linear projection before the GRU layer. When I try `auto_select`, it returns 0.20482421. Here's the [argument definition](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cudnn_rnn/python/ops/cudnn_rnn_ops.py#L3

[2017-03-18 13:25] ouceduxzk commented on #8463
version : 1.0.0
reproducible example :

 `    reader = tf.TFRecordReader()
    _, serialized_example = reader.read(filename_queue_video)

    # set the mapping from the fields to data types in the proto
    num_features = len(self.video_feature_names)
    assert num_features > 0, "self.feature_names is empty!"
    assert len(self.video_feature_names) == len(self.video_feature_sizes), \
    "length

[2017-03-18 13:38] Androbin commented on #8404
I had to manually turn Switch ops into Identity ops.
Effectively, `is_training` is now permanently `False`.
Seems to be related to issue #5919

[2017-03-18 13:38] #8404 closed

[2017-03-18 13:46] KoSv commented on #5036
please support!

[2017-03-18 13:47] Caspain commented on #5036
please support this feature request.thank you!

On Sat, Mar 18, 2017 at 8:47 AM, van <notifications@github.com> wrote:

[2017-03-18 14:19] zuoxingdong opened #8521 "Add tf.repeat equivalent to np.repeat"
In some applications, we need to repeat Tensors, so hopefully there could be a build-in function tf.repeat which is equivalent to np.repeat.

Example:
[code]

[2017-03-18 17:02] langmore commented on #8391
Yes, I'm the right person for this.

@concretevitamin  I have an internal fix for this.  I'll send to you once ready.

@thjashin  Thanks for reporting!

[2017-03-18 17:06] bkornpob commented on #56
I am trying to get Lapack by

and my pip still cannot find setup.py

PS... I already did pip install --upgrade pip.

[2017-03-18 17:09] jjough commented on #6503
@cdiwork would also be v. interested in this.

[2017-03-18 19:28] Jiaming-Liu opened #8523 "Usage of sparse_average_precision_at_k when dense labels are available"
Is there any example for usage of sparse_average_precision_at_k?

[2017-03-18 19:44] rewonc commented on #8311
`skip_input`, as far as I can tell, skips the `Wx` linear transformation of the input and performs roughly half the computation as the other approach. This is probably in case you want to do batch norm through depth and so need flexibility to modify the outputs of `Wx`.  It does NOT appear to apply an extra linear transform "outside" of the GRU.

As you're expecting to apply `Wx`, you should enabl

[2017-03-18 20:40] hamza-sadruddin commented on #3324
Thanks

[2017-03-18 21:45] manugarri commented on #1922
i love this issue.

[2017-03-18 22:26] Dav-Jay opened #8524 "Asking for TF's official implementation of the inception v3 model's distributed training"
From the recorded video of TF dev summit held about one month ago, I got to know the newest distributed TF 1.0 is able to achieve 57x speed up for the inception v3 model on a server of 8 nodes/ 8 gpus and the codes will be released. Since I am far away from getting such a good scaling performance using my own distributed implementation, I have been looking forward to seeing and studying from the t

[2017-03-18 23:10] ocampesato commented on #8037
A sort of "workaround" (albeit imperfect) that redirects the messages on Unix/Linux/OSX:
python myscript.py 2>/dev/null

[2017-03-18 23:46] Carmezim commented on #8037
@CGTheLegend you can use TF environment variable TF_CPP_MIN_LOG_LEVEL. It defaults to 0, showing all logs. To filter out INFO set to **1**, WARNINGS additionally **2** and to additionally filter out ERROR logs set to 3.
So you can do the following to silence those warnings:
[code]

[2017-03-19 03:45] eweill commented on #8502
@concretevitamin Which `BUILD` file should I modify?  The `BUILD` file in `tensorflow/tensorflow` or `tensorflow/tensorflow/core`?

After I modify the correct file, how shall I rebuild?  Will I need to run `build_all_ios.sh` script?

Thanks for your help.

[2017-03-19 04:23] poojan124 opened #8525 "Tensorflow first time run error."
I installed tensorflow throuh pip3 in windows. And it installed successfully.
Then i run a simple program to check if it is working or not. I got this error.
Python version 35.
CODE :
[code]

Output :

\framework\op_kernel.cc:943] OpKernel ('op: "BestSplits" device_type: "CPU"') fo
r unknown op: BestSplits
E c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorflow\core
\framework\

[2017-03-19 05:21] WiseDoge opened #8526 ""Feed" cannot run in Windows"
Environment:
Windows 10
CPU: i7 6700HQ
GPU: 960M
Driver: 368.71
CUDA: 8.0
CUDNN: 5
Python 3.5.2
TensorFlow-GPU 1.0.1
-------------------------------------------------------------
When I try to run this

[code]

My program will crash and show that Python has stopped working.

This is trace:
[code]
But, if change test.py as this
[code]
It will OK
[code]

[2017-03-19 05:48] yurivict opened #8527 "configure script shouldn't ask interactive questions when its output isn't a terminal"
It should use the default values.

[2017-03-19 06:32] eranamar opened #8528 "There is a learning_rate parameter in the Adadelta implementation although there isn't such one in the original paper"
Hi,
I see in the documentation that `tf.train.AdadeltaOptimizer` has a `learning_rate` parameter, but in the original paper that parameter was eliminated from the update rule [see equation 14 in the paper](http://arxiv.org/pdf/1212.5701v1.pdf) (or step 5 in the pseudo code of the algorithm).
Is that a bug in the implementation?
If you deliberately add a learning_rate parameter, I think that the AP

[2017-03-19 08:55] chenghuige commented on #654
Agree with junskang, I have used nikitakit doing in graph beam search and face this problem. I you use attention you also need to re-order attention. Also for someone trying to use beam search I suggest refering to https://github.com/google/seq2seq/tree/master/seq2seq which has a dynamic implementaion of ingraph beam search. For out graph beam search you can refer to  models/im2txt

[2017-03-19 10:03] albenoit opened #8529 "Fail to compile Tensorflow 1.0 with GPU on RHEL6 / SL6"
Dear all,
i managed to compile Tensorflow 0.12.1 with GPU option few months ago on our computational grid based on SL6 but moving to version 1.0 is still an issue with trying to activate the GPU support.
I tried to merge all the advise i could find here but still no success.
So here is a summary:

### What related GitHub issues or StackOverflow threads have you found by searching the web for your

[2017-03-19 11:28] prakashyadav008 opened #8530 "import error after installing tensorflow from source"
i have build tensorflow from source and got a lot of warning but it was done without errors.But now when I import tensorflow it is giving the error mentioned below:

`p_rakash@prakash008:~$ python3
Python 3.5.2 |Anaconda 4.3.1 (64-bit)| (default, Jul  2 2016, 17:53:06)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback

[2017-03-19 12:01] chrysm commented on #5141
my system keeps persistently looking for @rpath/libcudart.7.5.dylib even though i've uninstalled 7.5 completely and installed 8.0.  i've also done a complete wipe and reinstall of tensorflow.  none of the suggestions here have solved this.

[2017-03-19 12:05] fangpin commented on #3834
It's worked. But it seems to be behind the official homepage which has the version 1.0

[2017-03-19 12:28] ophiry opened #8531 "Add support for non-scalar string tensors in java"
Currently, string tensors are not supported in java:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/src/main/java/org/tensorflow/Tensor.java#L90

Implementing this  would be very helpful in scenarios of training a model in one language, and serving from a different one, as it allows moving some of the logic to the tensor flow model.

[2017-03-19 13:32] imamol555 commented on #8385
I am also facing the same problem(2nd one). I have installed  Visual C++ Redistributable but still facing this issue. Please help me out.

[2017-03-19 13:44] ppwwyyxx commented on #8524
duplicate of https://github.com/tensorflow/tensorflow/issues/7679

[2017-03-19 14:24] Dav-Jay commented on #8524
@ppwwyyxx sorry, I didn't notice that thread. This one can be closed.

[2017-03-19 14:24] #8524 closed

[2017-03-19 14:50] ysh329 opened #8532 "ImportError: cannot import name pywrap_tensorflow"
After installation of TensorFlow by official tutorial, I occured these import error messages below:
[code]

## Tried
I can't open this page(404 error): https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#import_error

[2017-03-19 15:11] dwillmer commented on #8516
Yea, same problem here.

The non-gpu versions (ie, tensorflow/mac/cpu/* ) work fine, but the gpu ones are missing.

Python version is 3.5.2, conda 4.0.5, pip 9.0.1

[2017-03-19 15:56] snnn commented on #8526
I think you need upgrade your nv driver and cuda.

[2017-03-19 15:56] jakelee8 opened #8535 "Feature request: add support for float16/float64 to tf.contrib.layers.batch_norm()"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-19 15:57] #8054 closed

[2017-03-19 15:59] kirk86 opened #8536 "pool allocator spending more than 18h to allocate and still not finished"
Hey guys, I've been having this issue which I don't really understand if it's related to memory issues or not. I've tested it on cpu and the code runs fine without any issues. On gpu I get the following messages:

[code]
It's been like this for 18h and still no output or training has started, is this a known issue. Why does it take so long for the memory allocator to finish?

[2017-03-19 16:58] concretevitamin commented on #8505
I see at least two potentially related fixes after Jan 3, 2017: https://github.com/tensorflow/models/commits/master/tutorials/rnn/translate/seq2seq_model.py.

Could you retry after definitely pulling in those changes?  Feel free to reopen if this doesn't work for you.

[2017-03-19 17:01] ankitp94 commented on #6195
Did you find any concrete solution to this problem?
I am also facing the same issue.

[2017-03-19 17:09] concretevitamin commented on #8463
I am not sure if anyone is working on this.  My personal preference is to keep interfaces simple.  You could easily add a utility function in your own model to return an ordered dict.

[2017-03-19 17:09] #8463 closed

[2017-03-19 17:13] concretevitamin commented on #8502
I'm adding one of our iOS experts @satok16 to further advise.  (Thanks Satoshi!)

[2017-03-19 17:19] concretevitamin commented on #8518
The file's been deleted in master branch.  In general, I'd suggest if you're working on master, just peek into the actual source files for the latest consistent set of docs.

[2017-03-19 17:19] #8518 closed

[2017-03-19 17:26] concretevitamin commented on #8521
I am not aware of anyone working on this.  We'd happily take a patch!

That said, for simple cases (I understand `np.repeat` supports more general cases) like the one you cited, you could do
[code]
which is both CPU- and GPU-compatible.

[2017-03-19 17:29] alexnanchen commented on #8505
Not sure to understand.

git log -n 1 tutorials/rnn/translate/seq2seq_model.py yield

commit 0d8916f4b84e8687eb46696883b50b84ac6aa420

It always has been to this commit which is from March 2017 and I am on the master branch.

Can you please tell me which commit of the "model git" you are working with?

Many thanks.

Alex.andre Nanchen

[2017-03-19 17:32] concretevitamin commented on #8536
Are you sure (1) your training hasn't started, and (2) is it not a memory problem in your model?

For (1), check if there's any event/checkpoint files being outputted.  For (2), check your input pipeline, etc.

A relevant SO question and answer that explains what the pool allocator messages mean:  http://stackoverflow.com/questions/35151207/how-to-interpret-poolallocator-messages-in-tensorflow

[2017-03-19 17:34] concretevitamin commented on #8535
/cc @zhangyaobit - could you comment on this?  Do we have plans to support this?

[2017-03-19 17:37] concretevitamin commented on #8505
Hmm, previously you stated

`The translate.py is: c902a86785052291083682c4b833747e7ea52597 (Ability to train the translation model ...) of January 3rd 2017 from Viacheslav Kovalevskyi.`

which is _before_ 0d8916, one of the fixes that I supposed would fix your problems.  Now that you've confirmed you're on 0d8916, could you retry the whole thing and see if the issue persisted?

If it did, let us k

[2017-03-19 17:45] alexnanchen commented on #8505
Ah, some confusion. It was the "translate.py" file that had this date not the "seq2seq_model.py".

I did a git log -n 1 tutorials/rnn/translate/translate.py that indicated that the file "translate.py" file did not change from January 2017.

In the debug.txt file attached in previous comment there is indeed the "legacy_seq2seq.py" file that was I think, modified in commit 0d8916f4b84e8687eb46696883

[2017-03-19 18:22] dazraf commented on #6926
Don't forget that you can deploy and reference native binaries. As an example see [Netty's native capability](http://netty.io/wiki/forked-tomcat-native.html).

[2017-03-19 18:41] albenoit commented on #8529
Well, problem solved, actually, we have to add the following instructions in third_party/gpus/crosstool/CROSSTOOL.tpl :

[code]

But i guess it would be nice to filter out all the options i reported but are not useful.

Also consider this link to check a nice installation tutorial that may complete this "solved" issue
[https://www.linkedin.com/pulse/compiling-tensorflow-10-python-27-redhat-6-flori

[2017-03-19 20:34] YiyuJia commented on #8355
yes. I tried.
pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0rc0-cp35-cp35m-linux_x86_64.whl

I also tried master branch version of tesnsorflow.

I tried upgrade script too. https://www.tensorflow.org/install/migration

[2017-03-19 20:42] ZZhaoTireless commented on #8521
I would like to take this.

[2017-03-19 20:55] jjough commented on #6503
@cdiwork actually happy to help if there's much more to do. I'm looking for a numerically stable gradient for the pseudoinverse, and this would completely solve my problem.

[2017-03-19 21:00] nafizh commented on #7031
I am getting the same error on Keras 2.0.1

[2017-03-19 23:11] bbarnes52 commented on #6026
I encountered this issue as well. The problem was that the metadata_path in projector_config.pbtxt did not point to metadata.tsv.

[2017-03-19 23:26] MaxGubin commented on #8478
OK, I understood, you just want to extent the file system interface for your own custom kernel. Because your solution works only on Linux, why you need the portable interface? Just implement everything in the kernel. It's more transparent and doesn't introduce not needed dependencies.

[2017-03-19 23:33] tomwanzek commented on #8361
@ispirmustafa I know, this is drifting slightly from the specific issue at hand here, however... If, as you pointed out, the monitors API is deprecated, is there any effort on the way to update the core tutorial to reflect best practices in using `tf.train.SessionRunHook`? I saw related discussions in #7669.

Also, I did not see readily see an indication in the Release Notes. Thx, in advance for a

[2017-03-19 23:40] shkr commented on #7476
I have submitted a quick PR with the renorm parameter

[2017-03-20 01:59] Geekking commented on #8268
Would you mind telling me how do you quantize the test model? As in my case, I try to train a model for mnist classification dataset, I have followed the quantization tool provided by Tensorflow, the result predicted by the quantized model runned in PC is correct, however, when runned in my Mobile phone with a Snapdragon 820 devices, it got different and wrong predict score. Thanks. @satok16

[2017-03-20 02:00] jakelee8 commented on #8535
I'm having trouble building Tensorflow with a patched `normalization.py` file. After uninstalling Tensorflow and installing the new build, I still get the error above. If I copy the file to the current directory and import `batch_norm` from that module, it runs without the error. Is there another step I'm missing? I'm following the [Installing TensorFlow from Sources](https://www.tensorflow.org/in

[2017-03-20 02:21] Geekking commented on #8268
The model I used is visulzed ![graph_1](https://cloud.githubusercontent.com/assets/5322311/24087189/d94fcd12-0d56-11e7-90a0-ca923dbd9717.png)

![conv_1](https://cloud.githubusercontent.com/assets/5322311/24087186/d1424384-0d56-11e7-846b-bf8836192cd0.png)

[2017-03-20 03:19] zhangyaobit commented on #8535
By default, you are using non-fused batch norm, but looks like type conversion from float32 to float16 is not supported for it yet. There is a faster version of batch norm, which could be turned on by setting fused=True. Although its code is templatized by [type](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/fused_batch_norm_op.cc#L47), we currently only have [a floa

[2017-03-20 03:21] kayhan-batmanghelich opened #8547 "Incorrect hessian of a quadratic function"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-20 03:34] td2014 commented on #8417
Created pull request with code changes to supersede this issue.

[2017-03-20 03:34] #8417 closed

[2017-03-20 03:56] Nayana-ibm commented on #8498
We were getting this issue for s390x platform.
However, I have cloned the code again and now, I could build TensorFlow without any error.
Closing this issue.

[2017-03-20 03:56] #8498 closed

[2017-03-20 04:22] narendravardi commented on #8535
@zhangyaobit, I am new to contributing to other projects. Can I work on this issue?

[2017-03-20 04:56] Prakashvanapalli commented on #8345
No it is not working .

[2017-03-20 05:40] rigorosyang commented on #8321
Thanks very much! I think the tf.one_hot can work for me.

[2017-03-20 05:55] #8321 closed

[2017-03-20 06:02] concretevitamin commented on #8532
Take a look at https://www.tensorflow.org/versions/master/get_started/os_setup#import_error.  Please re-open if that doesn't work for you.  Thanks!

[2017-03-20 06:02] #8532 closed

[2017-03-20 06:03] zhangyaobit commented on #8535
@narendravardi, yes, that would be great. Please start with: https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md

Are you interested in contributing for (1) or (2) or both?

[2017-03-20 06:05] concretevitamin commented on #8496
I'm not aware of anyone working on this.  We'd happily take a contribution!  (It likely should go into `contrib` as the first cut.)

[2017-03-20 06:05] jakelee8 commented on #8535
@narendravardi I have a patch ready for (1), running and updating unit tests now. I would be happy to help with you with (2) if you're interested!

[2017-03-20 06:12] concretevitamin commented on #8492
This is expected behavior.  On `x2 = x * 2`, TensorFlow inserted a `Mul` node into the current graph.  On the subsequent `... = (x * 2) ...`, TF inserted yet another new `Mul` node.  In other words, tensor `x4_issue` does not depend on `x2` in anyway.

[2017-03-20 06:12] #8492 closed

[2017-03-20 06:14] concretevitamin commented on #8345
Could you extract a minimum runnable code snippet to demonstrate the issue?  One quick thing to check is to see if there are any event files on-disk (those are used to render values in Tensorboard).

[2017-03-20 06:15] concretevitamin commented on #8531
/cc @asimshankar

[2017-03-20 06:23] asimshankar commented on #8531
I'm under the impression that someone is working on a contribution for this. I'll check in with them to see if they expect to send a PR anytime soon.

[2017-03-20 06:49] Shoaibkw commented on #62
Please let me know what if I have this error with cuda-8.0

I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:126] Couldn't open CUDA library libcudnn.so.5. LD_LIBRARY_PATH: /usr/local/cuda-8.0/lib64

[2017-03-20 07:07] ysh329 commented on #8532
@concretevitamin Dear, these messages shows after click:
[code]
:sob:

[2017-03-20 07:38] yanwii opened #8549 "How to use MMI in seq2seq model?"

[2017-03-20 07:39] alexnanchen commented on #8505
Hello,

Based on github rules I cannot reopen an issue when closed by a collaborator.

Alex.

[2017-03-20 08:05] samwhitlock commented on #8478
Makes sense. I was moving my code out of `core/user_ops` and into `contrib/`, and found this piece for synchronous mapping that I thought could be useful, but I agree it can make things messy in general.

Should I (or someone else) close this issue at this point?

[2017-03-20 08:18] WalkerWalker commented on #4904
@gouwsmeister

Is tf.nn.sampled_softmax_loss() an implementation of negative sampling?

I always think they are different. Sampled softmax loss is a fast way to compute softmax (because the denominator of the softmax is huge) and negative sampling is ... emm ... conceptually "randomly select just a small number of “negative” words (let’s say 5) to update the weights for", i don't really know how t

[2017-03-20 08:19] NaveenAri commented on #5719
This mixture of experts paper (https://arxiv.org/pdf/1701.06538.pdf) from google brain seems to heavily use topk, so maybe we can hope for an update soon?

[2017-03-20 08:29] BrianOn99 opened #8550 "Android "TF Stylize" demo crash with "input_max_range must be larger than input_min_range""
I have compiled and installed the demo app according to the instruction in the [README](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/README.md).  The "TF Detect" and "TF Classify" apps are working as expected.  However, starting the "TF Stylize" app, it always crashes in about 3 seconds.  The prebuilt apk crashes in the same way.  Here is the android logcat reco

[2017-03-20 08:55] PhilJd commented on #8462
Hi,
to me this looks like cudnn isn't installed on your machine or is located at a different path than ` /usr/local/cuda/lib64/`. If it's installed in the cuda directory, `ls -l /path/to/cuda/lib/libcud*` should usually also include some output like `/usr/local/cuda/lib64/libcudnn.so.5 -> libcudnn.so.5.1.5`.
So you either need to find the path where cudnn lives or you could try the solution below.

[2017-03-20 09:03] persiyanov commented on #8496
@concretevitamin I will prepare pull request. Is it okay to implement this using `tf.multinomial` or should I implement new op for this?

[2017-03-20 09:08] TianweiXing opened #8551 "tf.image.decode_image doesn't return tensor's shape"
I try to use "image.decode_image" to read image file as tensor, but this function returns a tensor without "shape".
As said in the doc:

But actually it cannot be passed to resizing op without shape.

Is there a way to use import image as a normal tensor?

Codes: I ran it in ipy notebook
[code]
Output:
<tf.Tensor 'decode_image/cond_jpeg/Merge:0' shape=<unknown> dtype=uint8>

TensorShape(None)

(25

[2017-03-20 09:12] meteorcloudy commented on #8482
[code]
This is obviously a bug in Bazel's python stub template, sorry I didn't test 0.4.5 for TensorFlow GPU build, I'll fix it at Bazel HEAD soon.

[2017-03-20 09:21] AnabelGRios commented on #8462
Hi!
No, Cudnn isn't installed in `/usr/local/cuda/lib64`, it is installed in `/opt/cuda/lib64`, which is the path I give to the tensorflow configure script when asking for Cudnn directory. Is it necessary for Cudnn to be installed in `/usr/local/cuda/lib64` i.e., the same directory as Cuda?

I'm going to try the local installation of Cuda and Cudnn.
Thank you for your answer!

[2017-03-20 09:24] backyes opened #8552 "SyncReplicasOptimizer' object has no attribute 'get_clean_up_op'"
[code]

Run /models/slim/train_image_classifier.py

[code]

I confirm that more than one demos will encounter this issue if using distributed training under tensorflow 1.0.1 image.

Hope some improvements for distributed training to demo how to use distributed training.

Thanks.

[2017-03-20 10:31] alexnanchen commented on #8505
The issue still persist.

The only way I got it working is installing tensorflow 0.12 and doing a git checkout of the model directory at the last commit of **translate.py**.

Alex.

[2017-03-20 10:37] suchetasu commented on #8471
@concretevitamin : My tensor size is very big as i mentioned in question. so what is the solution

[2017-03-20 10:41] Panaetius opened #8554 "Floating Point Exception/SIGFPE in tf.map_fn over an empty tensor"
Working on a custom implementation of Faster-RCNN, it runs fine for ~150 - 300 batches but then I get a Floating Point Error, apparently in ConcatGPUImpl.

Source is here: https://github.com/Panaetius/woipv (src/models/train_model.py and src/models/model.py, it's a bit of a mess still since it's a work in progress), reproducible as of commit 6eb1e3c5e818919b64a0a981abb98c2f3bc3dea1

### Environmen

[2017-03-20 10:57] vmalyi commented on #6727
Hi @gmacleod,

thanks for pointing out this ** eval_steps** parameter.

I can confirm that the issue can't be reproduced once eval_steps set to "1".

[2017-03-20 13:01] imamol555 commented on #8385
@WahabZia  plz help

[2017-03-20 13:10] MicaelCarvalho commented on #8471
You're going to have a hard time finding someone willing to help you if you don't fill the template, as I suggested 4 days ago... Big error messages often aren't informative enough to solve the problem.

[2017-03-20 13:11] sawlogs commented on #8526
I have similar issue, can't figure out still what's happening.

Code:
[code]

Environment:
Windows 10
GPU: NVIDIA GeForce GTX TITAN X
Driver: 362.19
CUDA: 8.0
CUDNN: 5
Python 3.5.2
TensorFlow-GPU 1.0.1

```cudaRuntimeGetVersion``` returns 8000;
```cudaDriverGetVersion``` returns 8000;

Output:
[code]

[2017-03-20 13:20] sawlogs commented on #8526
Looks like it loads all the libraries, recognizes all the GPUs, but then something strange happens.
How does tensorflow decide if the cuda driver version is insufficient?
There is another program, which works fine on GPU, so I suppose the problem is on the tensorflow side.

[2017-03-20 13:32] WiseDoge commented on #8526
But can get the ans "3.0"

[2017-03-20 13:47] sawlogs commented on #8526
Yes, but I thought it just fell back to CPU to produce this answer.
Is there a way to debug this?

[2017-03-20 13:48] jsimpson2 opened #8556 "Tenor flow distributed support for spectrum lsf"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-20 13:50] WiseDoge commented on #8526
Wait for the developer to answer this question

[2017-03-20 13:51] jsimpson2 commented on #8556
We are getting benchmark requests for tens or flow in a distributed environment. Spectrum lsf is our scheduler and tens or flow and all distributed powerai applications need to run in this environment.
Documentation on how to run with spectrum lsf should be included.

[2017-03-20 13:54] snnn commented on #8526
"Driver: 368.71"

Could you please upgrade your driver to a newer version?

[2017-03-20 13:59] inflation commented on #8551
Yes, this is bothering. My workaround is using `tf.image.resize_image_with_crop_or_pad` as it said, and maybe manually set shape.

[2017-03-20 14:07] WiseDoge commented on #8526
@snnn  YES, I will have a try

[2017-03-20 14:21] WiseDoge commented on #8526
NICE !! I upgrade Driver from 368.71 to 378.78, it run!

[2017-03-20 14:22] jeffheaton commented on #6584
I tried with the latest and no longer see this issue.

[2017-03-20 14:33] annanay25 opened #8557 "Error building TensorFlow with local LLVM repository. ( Using local_repository extension in bazel )"
Essentially, I want to run TensorFlow with a custom LLVM repository and not the llvm-mirror that bazel pulls from.

I made the following changes:

1. Changed the ```temp_workaround_http_archive``` rule in ```//tensorflow/workspace.bzl``` to:

          native.local_repository (
              name = "llvm",
              path = "/git/llvm/",
          )

Where ```/git/llvm``` is my local llvm repos

[2017-03-20 14:34] sawlogs commented on #8526
@snnn Could you please point to the exact minimum required version of the driver to install?
Btw, it is not very simple to upgrade drivers in my case. What other solutions do I have? Use older cuda runtime? Downgrade tensorflow? Is there a chance this error can be resolved without upgrading drivers?

Maybe you could show some code fragment which produces these error messages? So I could compile it

[2017-03-20 14:35] Cynthia0629 commented on #2685
I have this problem ,anyone can help?

File "/home/cynthia/Downloads/tensorflow-r0.7/tensorflow/models/image/cifar10/cifar10.py", line 47, in <module>
    from tensorflow.models.image.cifar10 import cifar10_input
ImportError: No module named 'tensorflow.models'

[2017-03-20 14:51] ankitp94 commented on #6195
@danielgordon10  Did you find any concrete solution to this problem? I am also facing the same issue.
Tensorflow - 1.0.0
CC: @zheng-xq @michaelisard

[2017-03-20 15:23] martinwicke commented on #6727
I will close this issue. The semantics might be awkward, but the workaround is simple and we have deprecated monitors in favor of Hooks.

[2017-03-20 15:23] #6727 closed

[2017-03-20 15:24] jadeydi commented on #8037
I install from tensorflow install guide, also got this warning.

`pip3 install --upgrade tensorflow`

[2017-03-20 15:34] concretevitamin commented on #8391
A fix by @langmore will be pushed upstream soon.  Closing this.

[2017-03-20 15:34] #8391 closed

[2017-03-20 15:34] snnn commented on #8526
Hi @sawlogs , the minimum cuda version is 8.0, which is released 5 months ago.  And the driver should be newer than this.  I don't have an exact answer for you. I suggest you post your question to stackoverflow or just ask your NV customer support.

[2017-03-20 15:35] concretevitamin commented on #8505
Re-opening this to see if @nealwu has some insights

[2017-03-20 15:35] MikeInnes opened #8558 "Mention Julia API bindings"
In several places, like [here](https://www.tensorflow.org/api_docs/), API bindings for other languages are mentioned. It would be nice to mention the [Julia bindings](https://github.com/malmaud/TensorFlow.jl), which are now fairly stable and are actively used by many people.

It appears much of the website content comes from this repo but I can't find that page to make a PR. Would greatly apprecia

[2017-03-20 15:37] concretevitamin commented on #8496
I think implementing in terms of existing ops is fine.

@aselle - do you have a suggestion on where to put such the numpy counterparts in contrib?  If not, I'm tempted to say it's okay to go into `random_ops.py`.

[2017-03-20 15:38] vrv commented on #8478
Let's close for now -- we can reopen later if it becomes relevant again -- thanks for your efforts on this issue!

[2017-03-20 15:38] #8478 closed

[2017-03-20 15:40] concretevitamin commented on #8496
(Also /cc @ebrevdo to see if `tf.contrib.distribution` has any files that could host this.)

[2017-03-20 16:04] paolov commented on #6064
@foxik I receive a syntax error running your code, what kind of syntax is that?
`    > import tensorflow.contrib.slim.nets <
    ^
SyntaxError: invalid syntax
`

[2017-03-20 16:18] Meinersbur commented on #8100
Greetings to the tensorflow community,

Annanay proposed to do this as a GSoC project. From the Polly (Labs) side we think this is a great idea. However, none of our mentors has experience with tensorflow. Is there someone from the tensorflow community who can and would like to co-mentor this project?

Michael

[2017-03-20 16:21] futurely commented on #7951
MXNet [IIterator](https://github.com/dmlc/mxnet/search?utf8=%E2%9C%93&q=IIterator&type=Code) is a more relevant example than Java's Stream API, Scala's collections (and hence Spark's RDDs), and .NET's Language Integrated Query.  The design enables flexible composition of various components of the input pipeline such as  [ImageRecordIter](https://github.com/dmlc/mxnet/blob/d8e64a67f1b5b8eff287a5305

[2017-03-20 16:22] thjashin commented on #8391
Thanks! @concretevitamin @langmore
Just a bit more, there seems to be no static shape inference in `tf.lbeta()`

[2017-03-20 16:27] langmore commented on #8391
What in particular doesn't work?  The old code had some static inference (see the tests).  After this recent fix, the same tests are still in place, and the code is much simpler, so I suspect there won't be any problems.

[2017-03-20 16:34] volvador commented on #7970
No good samaritan to help with this issue?

[2017-03-20 16:36] sawlogs commented on #8526
@snnn Ok, but I just don't understand how tensorflow fails on this. If it uses cuda api, so does my cuda app, which works. I simply find it strange.
Apparently, some calls to api work, and others fail.

And I can't even grep the source code for this error message, which is probably the most annoying thing. Where does this error message live? Nobody knows :)

Whatever. Thanks and sorry for interrup

[2017-03-20 16:36] cmertin commented on #8448
First of all Zongheng, I'd like to thank you for your help so far. But I'm still not able to get it working. The problem is still dealing with the same line, however it is a different error... I have posted the majority of my code as I believe it might have something to do with `tf.matmul()` being involved right before this process, yet I'm not 100% sure.

    def My_Function(self, A):
        dim

[2017-03-20 16:42] Alexivia opened #8559 "forward pass projection"
Hi,

Is there any way to define a layer that for forward-pass calculates its output by projecting the weight values into a different value range, but for the back-propagation uses the real weight values? i.e., as an example from the [mnist.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/mnist/mnist.py) file, if for the hidden layer 1 forward pass we could hav

[2017-03-20 16:58] mohan-chinnappan-n commented on #8266
@yaroslavvb

Can we add check for this at configure time:
[code]

bash to test this:

[code]

[2017-03-20 17:33] TianweiXing commented on #8551
@inflation Thanks, it works. But I also noticed that, this function returns a tensor without channel dimension...like this:
[code]
TensorShape([Dimension(250), Dimension(250), Dimension(None)])

[2017-03-20 17:33] brianhayward commented on #8208
I got past the Accelerate hurdles and setup a slice in compile_ios_protobuf.sh, but now I'm getting an error stating that the C compiler cannot create executables. It seems to be occurring during protobuff setup.

This is the output I get from the console and I have attached the config.log from the error as well. I changed it to a .txt because GitHub wouldn't let me upload a .log
[config.txt](http

[2017-03-20 17:39] SeguinBe opened #8560 "GPU PoolAllocator never satisfied with the eviction rate. Can we limit its allocated size?"
I have a tensorflow network where I call `sess.run()` with **tensors of widly changing sizes**. _(to be more precise it takes two tensors as input a [None, E, None, None] and a [None, None, M])_. Additionally, I use some `tf.where` calls which generate variable sized tensors to be transferred to the GPU.

Everything works fine and training goes nicely and quickly, but eventually it seems that the

[2017-03-20 17:40] Garvys opened #8561 "CTC_Greedy_Decoder outputs sum of logits and not logprobs"
## CTC_Greedy_Decoder outputs sum of logits and not logprobs

I have been writing my own CTC_Greedy_Decoder function in order to decode the output of a RNN trained with the CTC loss. To check my version, I decided to compare my outputs with TensorFlow's ones. We had the same first output (the decoded label) but we had big differences on second (the logprobs).

After some debugging, I figured out t

[2017-03-20 17:44] faddey-w commented on #8057
I started working on the patch for this issue. If no one mind, I'll submit a pull request soon.

[2017-03-20 17:48] petewarden commented on #8208
The relevant error lines in the config.log are these:

[code]

I'm not sure where these errors are coming from, but hopefully you can trace them back (I think it should be -arch=armv7k for example).

[2017-03-20 17:57] asimshankar commented on #8558
@wolffg : Any thoughts on this?

[2017-03-20 17:58] krautt commented on #6727
Awesome. Thanks for the follow up.  Eager to try it out.

[2017-03-20 18:29] inflation commented on #8551
Yes, that's what I mean manually set it.

[2017-03-20 18:37] Carmezim commented on #8314
I think this issue is fixed on bazel current rc. I received this error on rc3 if not mistaken and on current it does not occur so I am closing this issue.

[2017-03-20 18:37] #8314 closed

[2017-03-20 19:39] nealwu commented on #8505
I believe you have the same issue as this: https://github.com/tensorflow/models/issues/1221. It looks like the documentation on our site and the actual code are not in sync, which has caused some confusion [here](https://github.com/tensorflow/models/pull/982) and [here](https://github.com/tensorflow/models/issues/836). I'll check on what the correct argument order should be.

[2017-03-20 20:02] foxik commented on #6064
@paolov The correct line is of course
[code]
the `>` and `<` are just meant as visual notification, sorry if it unclear.

[2017-03-20 20:04] skye commented on #8501
@xiejw would you mind taking a look at this?

[2017-03-20 20:17] caisq commented on #8507
Update: the underlying cause of this bug is that `LocalCLIDebugWrapper` attempts to intercept `OpError`s that happen during the underlying `tf.Session.run()` calls. It works if the `OpError` happens in the middle of a graph execution, which will generate the debug dump directory. But in this case, the `OpError` (due to invalid device name) happens before the graph execution even happens, so there

[2017-03-20 20:18] skye commented on #8514
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-20 20:18] #8514 closed

[2017-03-20 20:22] gunan commented on #8516
@yifeif @av8ramit could you check our packages in storage.googleapis.com?

@jimthompson5802  @dwillmer you may download the packages from here in the meantime:
https://pypi.python.org/pypi/tensorflow-gpu/1.0.1

[2017-03-20 20:31] #3388 closed

[2017-03-20 20:31] #8396 closed

[2017-03-20 20:31] #8047 closed

[2017-03-20 20:38] yifeif commented on #8516
Checked and we didn't have the py3 gpu mac pip in google store. It is uploaded now. Closing this issue. Feel free to reopen if you are still seeing issues.

[2017-03-20 20:38] #8516 closed

[2017-03-20 20:49] gilberthendry commented on #8508
I've added support to get feature importances during inference/eval time.  It should make its way into the nightly build shortly, and an unknown amount of time into an official TF release.   You can just pass report_feature_importances to the estimator=True, and add an eval metric such as:
tf.contrib.learn.metric_spec.MetricSpec(
          lambda x: x,
          prediction_key=eval_metrics.FEATURE

[2017-03-20 20:53] drasmuss opened #8564 "`tf.test.compute_gradient` gives error when computation involves TensorArrays"
### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)

[code]

The gradient calculation (`sess.run(grads)`) works fine, it is just something to do with how the gradients are being calculated within `tf.test.compute_gradients`.  Here is the stack trace:
[code]

[2017-03-20 21:00] XinLiuNvidia commented on #8477
Thank you! I think there might be network port issue in my computer. I have tried reinstall, and it still does not work for me. However, I launch tensorboard on machine A, and use machine B to ssh to A, and I can see the results on tensorboard on B's browser.

[2017-03-20 21:00] #8477 closed

[2017-03-20 21:16] sullivak opened #8566 "avg_pool() is quietly returning garbage."
I'm seeing an issue with various networks where, depending on image input size, it either works, crashes with a CUDA_ERROR_ILLEGAL_ADDRESS error, or, most worryingly, runs without issue but visually has strange artifacts (see attached). Does not happen if running on CPU.

OS: Ubuntu 16.04. Running docker image based on tensorflow/tensorflow:1.0.1-gpu, with nvidia-docker 17.03.0-ce. GPUs: 2x Titan

[2017-03-20 21:51] derekhh opened #8567 "Is there a way to do partial_run with queues?"
I'm reading a bunch of image files using the FIFO queue provided by `string_input_producer`. Some of these files have bad format and cannot be decoded properly. Therefore I would want to print the names of these files when the related functions from `tf.image` throw `tf.errors.InvalidArgumentError` exceptions.

My graph definition looks like this:

    ...
    filename_queue = tf.train.string_inpu

[2017-03-20 21:54] skye commented on #8523
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-20 21:54] #8523 closed

[2017-03-20 22:05] skye commented on #8519
The compute capability of your graphics card is lower than TensorFlow supports. Please see https://github.com/tensorflow/tensorflow/issues/25#issuecomment-156234658 for a possible workaround.

[2017-03-20 22:05] #8519 closed

[2017-03-20 22:21] skye commented on #8494
Looks like we can just bump that limit up, I'll work on getting that checked in.

[2017-03-20 22:24] nealwu commented on #8505
I believe this should be fixed now via https://github.com/tensorflow/models/pull/1226. If you run into further issues let me know.

[2017-03-20 22:24] #8505 closed

[2017-03-20 22:49] skye commented on #8525
Are you running the latest version of TensorFlow?

Regardless, if you look at the bottom after the "unknown op" messages, it is printing the expected result: `b'Hello, TensorFlow!'` It looks like you're only missing ops for building decision trees, so you should still be able to run (most) TensorFlow models successfully.

[2017-03-20 22:56] skye commented on #8527
A workaround for now is to use `yes '' | ./configure`. This is equivalent to accepting all the default values.

[2017-03-20 22:59] skye commented on #8528
@Mistobaan could you look at this?

[2017-03-20 22:59] ed-alertedh commented on #2412
@guschmue Do you think the project would ever consider explicitly exposing just the public API for all platforms? Would it be fair to say this is currently implicit based on the doc generation process? Looks like GCC 4 supports something similar to __declspec(dllexport) - http://gcc.gnu.org/wiki/Visibility. Although, the caveats on that page regarding exceptions sound messy, so perhaps this has al

[2017-03-20 23:02] ElchinValiyev commented on #5036
+1

[2017-03-20 23:10] derekhh commented on #8567
Another idea I've tried is based on this [stackoverflow answer](stackoverflow.com/a/37584169) where the OP suggests using `tf.placeholder_with_default` and set its default input as the output from the FIFO queue.

As a result I've tried something like this:

    ...
    input_from_filename_queue = image_reader.read(filename_queue)
    input = tf.placeholder_with_default(input=input_from_filename_q

[2017-03-20 23:16] jakelee8 commented on #8535
There seems to be an issue for supporting `float16` concerning moment calculation. Non-fused BatchNorm uses `moments()` internally and `moments()` has this caveat. Except from source code follows.

[code]

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_impl.py#L631-L634

Running `layers_test.py` with support for `float16` and `float32` BatchNorm resulted in the follo

[2017-03-20 23:23] jakelee8 commented on #8535
Full test output log: [layers_test.txt](https://github.com/tensorflow/tensorflow/files/856660/layers_test.txt)

[2017-03-20 23:30] satok16 commented on #8268
Could you share 1. your graph file and 2. a command line which you used?

[2017-03-20 23:37] guschmue commented on #2412
Yes - for windows this would be perfect. But its a lot of classes/files to be touched and its hard for me as external contributor to decide what is long term public and what is private on the tensorflow api; I think a tensorflow team member would need to go over the entire api and make that call.
In the meantime I have fixed the tf.load_library()  #8217

[2017-03-20 23:37] jimthompson5802 commented on #8516
I am now able to install Python3 GPU version of TensorFlow 1.0.1.

Thank you.

[2017-03-20 23:38] ppwwyyxx commented on #6741
Similar problem was found in `tf.case` and `tf.train.piecewise_constant`.

[2017-03-20 23:42] skye commented on #8530
Are you running Python from the TensorFlow source directory? See https://www.tensorflow.org/versions/master/get_started/os_setup#import_error

[2017-03-20 23:42] ppwwyyxx commented on #8551
You can use `tf.Tensor.set_shape` if you need a fixed static shape info.

[2017-03-20 23:45] bowang opened #8569 "Incorrect results from tfprof"
I was profiling a few matrix multiplications with tfprof but couldn't make sense of the output. The per-op timing results are hard to believe to be true.

Code:
[code]

Output:
[code]

Graph:
![image](https://cloud.githubusercontent.com/assets/425637/24126577/0f5aafbe-0d8c-11e7-9b3e-92a5df5548cc.png)

**As shown in the profiling output, MatMul_[0-4] take 1,000 -10,000x longer than MatMul_[5-9]. Ho

[2017-03-20 23:55] satok16 commented on #8502
To build binaries for iOS, you need to use "build_all_ios.sh" which builds targets by make instead of bazel.  As this process doesn't use BUILD file, you should add kernel c++ files into "[tf_op_files.txt](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/tf_op_files.txt)".

[2017-03-21 00:46] tatatodd commented on #8485
@xuehanxiongsc Instead of writing your own bazel file, perhaps you can try using one of the existing tests.  E.g.:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/aot/tests/BUILD#L118

So try something like this:

$ bazel test tensorflow/compiler/aot/tests:tfcompile_test

Can you report back what results you get from this?  If there is a problem, I'm suspecting it's more l

[2017-03-21 00:48] yaroslavvb commented on #6741
I think they are likely to get fixed if they are filed as separate issues (so they get triaged properly). Good to reference this issue so people can refer back to the commit that fixes things

[2017-03-21 00:54] ppwwyyxx commented on #6741
👍  I was hesitated to open too many similar issues..
If that's fine I'll open one for each

[2017-03-21 01:33] jkiske commented on #1419
Any updates on modifying `disallowed_deps` to allow access to core?

[2017-03-21 01:37] victorv commented on #8456
@zhangpao17 you are probably building debug version rather than release.

[2017-03-21 01:57] Geekking commented on #8268
I build the quantization tools on tensorflow v0.11.0 https://github.com/tensorflow/tensorflow/tree/v0.11.0.
The graph pb file and the sh file to run the quantization process is included in
[quantize_graph.zip](https://github.com/tensorflow/tensorflow/files/856868/quantize_graph.zip).
Thanks.

[2017-03-21 02:30] ammarasmro opened #8570 "Generating sentences using the RNN model"
How do we generate sentences with the trained rnn model in:
[https://github.com/tensorflow/models/tree/master/tutorials/rnn/ptb](url)

I found some people doing it here and there but nothing that is well documented with a working code, at least not ones that are compatible with TF 1.0

I found this answer on stackoverflow but I keep getting errors with it
[http://stackoverflow.com/a/38729349/75681

[2017-03-21 02:38] USTC-Tim commented on #675
@el3ment @girving
I found this confusion as well.
`x = tf.constant([3], dtype=tf.float32)
y = tf.constant([9,8,7,6,5], dtype=tf.float32)
z = x_mean * y
sess.run(tf.gradients(z, x_mean))`
and I got array([35.])

[2017-03-21 02:43] ed-alertedh commented on #5719
I'm also interested in implementing this as it's currently bottlenecking me. If there is already an implementation internally at Google brain (seems likely) or if @eth-n has already started then there probably isn't much point though.

[2017-03-21 02:58] wangyum commented on #8190
[TensorFlow 1.0.1](https://github.com/tensorflow/tensorflow/releases/tag/v1.0.1) still has this issue.

[2017-03-21 03:03] guschmue commented on #2412
For the c# binding: I actually got https://github.com/migueldeicaza/tensorflowsharp to work with my changes. The 'tensorflow.dll' is in the python wheel, only that it is called _pywrap_tensorflow.pyd.
If you copy _pywrap_tensorflow.pyd to tensorflow.dll and than point the tensorflowsharp project to that dll it should work. I think the only other thing I had to do tell the project that tensorflow.d

[2017-03-21 03:09] zhangyaobit commented on #5988
This issue has been resolved with the two commits below:

https://github.com/tensorflow/tensorflow/commits?author=zhangyaobit&since=2017-03-17T07:00:00Z&until=2017-03-18T07:00:00Z

[2017-03-21 03:10] #5988 closed

[2017-03-21 03:18] gunan commented on #8558
All the mentioned APIs are merged into our core repository.
We also have haskell and rust bindings as external repositories, which are not mentioned in our website.
https://github.com/tensorflow/haskell
https://github.com/tensorflow/rust
The above are even owned by tensorflow github org, but not mentioned.
So I object these to be mentioned in the core API documentation. We should only list officia

[2017-03-21 03:20] godfanmiao commented on #4971
https://github.com/godfanmiao/MNIST_CNN_CENTERLOSS_TENSORFLOW

[2017-03-21 03:22] gunan commented on #8557
This is an issue for your local setup.
Not an issue with the checked in TensorFlow code.
Therefore, I will close this issue.

Please reach out to stackoverflow with debugging support of your own code.

[2017-03-21 03:22] #8557 closed

[2017-03-21 03:24] gunan commented on #8529
TensorFlow does not have official support for RedHat.
I will mark this issue as community support.
You may be able to get better help through stackoverflow.

[2017-03-21 03:27] eweill commented on #8502
@satok16
Thanks.  After adding the kernel for extract_image_patches to `tf_op_files.txt`, I was able to compile successfully; however I am still running into problems with the iOS demo.

I am trying to use the camera demo provided and modify it for object detection instead of object classification.  Is there a tutorial for this anywhere online that I could follow or that you could point me to?

Th

[2017-03-21 03:27] gunan commented on #8526
The error is emitted from CUDA.
You need to use the GPU drivers recommended by NVIDIA to use CUDA properly.
I am closing this issue, because it is not a TensorFlow bug.

[2017-03-21 03:27] #8526 closed

[2017-03-21 03:33] gunan commented on #8422
Sometimes pip may misbehave on windows.
Could you try this command out with an administrator terminal:
[code]

[2017-03-21 03:33] andrewjylee commented on #7058
Is this right? It seems like tf.nn.seq2seq is again deprecated as well? What's the new API?

[2017-03-21 03:42] drpngx commented on #7058
We weren't confident that `seq2seq` was ready -- its API is still changing. it's in `tf.contrib.seq2seq`.

[2017-03-21 03:53] asimshankar commented on #8558
Yup, I think that's what @MikeInnes was suggesting and sounds okay to me - to give a shoutout to various community supported bindings (FYI @jhseu )

[2017-03-21 03:55] yaroslavvb commented on #1419
@jkiske you can modify it locally, right? It seems from discussion above, `disallowed_deps` is just part of the issue, and there will be shared libs issues.

The thing about formally supporting this use-case, is that it signals that core is part of official API, which means that it can't change quickly, and any change must go through review to avoid breaking too many people. This slows down develo

[2017-03-21 04:02] zakizhou opened #8571 "shape of state in the output of dynamic_rnn is undetermined"
short code:
[code]
then `state.h` and `state.c` should be of shape `[72, 56]`, but actually the first dim(batch_size) is undetermined in program, is it a bug?

[2017-03-21 04:21] pclove1 commented on #8552
[This commit](https://github.com/tensorflow/tensorflow/commit/74514bffc4bbac7e6717e1079aca055b1c837229) might fix this issue.

Unfortunately, it's only available on master as of now.
Is there any chance that this commit can be picked into r1.0 branch for the next minor release?

[2017-03-21 04:27] wjiangcmu commented on #4251
Thanks to @yuanbyu. If you installed CuDNN v5.1 and confirmed with `ls -l /usr/local/cuda/lib64/libcud*`, but still see the same issue, it is probably what @yuanbyu described.

[2017-03-21 04:48] tomasreimers opened #8572 "Image Labeler Fails with Gifs?"
The image_label example assumes that decode_gif (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/main.cc#L105) will return a 3-d tensor ([height, width, channels]) in the same way that decode_jpeg or decode_png would. However decode_dif returns a 4-d shape ([frames, height, width, channels], https://www.tensorflow.org/api_docs/python/tf/image/decode_gif). This

[2017-03-21 05:13] lsy643 commented on #8190
@wangyum
I think this may be caused by that the distributed training part can not handle 8-bytes long variables. So just  create a global_step with dtype=tf.int32

[2017-03-21 05:43] wangyum commented on #8190
@lsy643  Do you mean change [here](https://github.com/tensorflow/tensorflow/blob/0ea7b2bcc2f553b06859b7cbf6962dfc340c868d/tensorflow/python/training/training_util.py#L116) to `dtype=dtypes.int32`?

[2017-03-21 05:51] backyes commented on #8552
@pclove1

Thanks for your mentions.

I have fixed it manually before, but to run distributed training more and more bugs will be found with r1.0.1. It seems that the distributed training demo have not been updated for long time.  Hope for some more improvements.

[2017-03-21 05:53] lsy643 commented on #8190
@wangyum
Yes, but instead of changing the source code of slim, I just create the global_step myself
[code]

[2017-03-21 06:31] kushNumberTheory commented on #3869
I am having the same issue. Steps i followed
1. bazel clean
2. ./configure on cpu
3. bazel build --config op gives t:
[code]
4. Now when i try to run
`bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg`
[code]

But then i tried sudo it gives
`sudo: bazel-bin/tensorflow/tools/pip_package/build_pip_package: command not found
`

bazel is installed in my system. i have checke

[2017-03-21 06:36] wangyum commented on #8190
@lsy643 DataLossError:
[code]

[2017-03-21 06:37] kushNumberTheory opened #8573 "bazel-bin command not found"
I am having issues while building pip package.I am building tensorflow with cpu configurations Steps i followed

bazel release= 0.4.5, ubuntu -version = 14.04 LTS
1. bazel clean
2. ./configure
3. bazel build --config op
[code]
4. Now when i try to run
`bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg`
[code]

But then i tried sudo it gives
`sudo: bazel-bin/tensorflow/to

[2017-03-21 06:45] poojan124 commented on #8525
@skye Yes I am running latest version of tensorflow on python 3.5.2 . You know any way to get rid of those unknown op errors. Thanks for replying..

[2017-03-21 06:49] azagovora commented on #4944
I agree with @Ettrai. In my case --config=cuda8.0 or --config=cuda8 is working, but the code runs on the CPU only.

[2017-03-21 06:49] lsy643 commented on #8190
@wangyum
According to you log, `Invalid size in bundle entry: key global_step; stored size 8; expected size 4`
I think there is a dtype mismatch for the global_step variable

[2017-03-21 06:50] kushNumberTheory commented on #7493
can you please tell me how you solved this error. I am having same issues

[2017-03-21 07:02] ammarasmro commented on #8573
Can you do those steps and let us know where it goes wrong? These are copied from the basic serving tutorial it's really easy to skip one and fall into trouble

`rm -fr ~/.bazel ~/.bazelrc`

Download a fresh binary from:
[https://github.com/bazelbuild/bazel/releases/download/0.4.5/bazel-0.4.5-installer-linux-x86_64.sh](url)

`cd ~/Downloads
chmod +x bazel-0.4.2-installer-linux-x86_64.sh
./bazel-0.

[2017-03-21 07:34] jmchen-g commented on #7970
What do you mean by only the chief is doing the training? Only the chief will update the variables through the chief queue runner but it should use the grads from all available workers...

For the issue that when training finished successfully, the other workers should at least exit via time out unless the time out is set to infinity?

[2017-03-21 07:35] sidjee commented on #8521
I am new to contributing to other projects. May i work on this issue?

[2017-03-21 07:47] BrianOn99 commented on #8550
It is found that if `DEBUG_MODEL` is set to `true` in StylizeActivity.java, which replace the camera captured bitmap with a predefined one, the app will not crash.

[2017-03-21 07:49] alexnanchen commented on #8505
There is another error related to post tensorflow/tensorflow#8191

ValueError: Attempt to reuse RNNCell <tensorflow.contrib.rnn.python.ops.core_rnn_cell_impl.GRUCell object at 0x7f6f517906a0> with a different variable scope than its first use.  First use of cell was with scope

Already tried to fix it without success.

Alex.

[2017-03-21 07:51] nealwu commented on #8505
I believe that is similar to the discussion here: https://github.com/tensorflow/models/pull/1131. If you are running the master version of TensorFlow, you may want to reinstall with TensorFlow 1.0 instead.

[2017-03-21 08:23] alexnanchen commented on #8505
Yes, that solved it!

As a summary:
- use "model" git commit of 20 March 2017 f6e23e5618ef18625966c6668f1f90dca25dbc56
- use "official" release of tensorflow 1.0.1, i.e. pip install tensorflow

Many thanks!

Alex.

[2017-03-21 08:23] florpi opened #8574 "Problems with saver and restore: Failed to find any matching files"
This is the code:

[code]
and these are the ckpt files that have been created:

checkpoint
prezi.ckpt-0.data-00000-of-00001
prezi.ckpt-0.index
prezi.ckpt-0.meta
prezi.ckpt-1.data-00000-of-00001
prezi.ckpt-1.index
prezi.ckpt-1.meta
prezi.ckpt-2.data-00000-of-00001
prezi.ckpt-2.index
prezi.ckpt-2.meta
prezi.ckpt-3.data-00000-of-00001
prezi.ckpt-3.index
prezi.ckpt-3.meta

But still I get this error:

[2017-03-21 08:27] sria91 opened #8575 "error when attempting to run image_retraining"
### Environment info
Operating System: Ubuntu Linux 16.04 LTS

Installed from source
1. Tensorflow version: 1.0.1
2. The output of `bazel version`:
[code]
### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)
Link to the tutorial: https://www.tensorflow.org/tutorials/image_retraining
[code]

### Logs or other output that would b

[2017-03-21 08:42] derekhh commented on #8575
I think the error `EOFError: Compressed file ended before the end-of-stream marker was reached` means the model file you've downloaded `http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz` is incomplete. Try to download the model file again.

[2017-03-21 08:50] sria91 commented on #8575
@derekhh Many thanks, that helped.

[2017-03-21 08:50] #8575 closed

[2017-03-21 08:55] LeonMac commented on #8399
hello, I just meet the same issue and looking forward the solution.
It looks like a server relevant issue that too many worldwide download/pull data request at the same time, crashed the mnist data server, which is on Yann LeCun's website (a personal website)?

[2017-03-21 09:19] upavan opened #8576 "Tensorflow Install issue on windows 10"
I tried to install TensorFlow on my PC with Windows 10 OS, and I've installed with Conda Command

C:> conda create -n tensorflow
Below is the error .. please let me know how can I install .. Thanks.

      File "C:\ProgramData\Anaconda3\lib\site-packages\conda\core\index.py", line 391, in fetch_repodata
        with open(cache_path, 'w') as fo:
    **PermissionError: [Errno 13] Permission denied:

[2017-03-21 09:44] kushNumberTheory commented on #8573
@ammarasmro  i got same error. PLease see the output of each and every step
1. ./configure

`kush@kush-Lenovo-B40-80:~/Desktop/serving/tensorflow$ ./configure
Please specify the location of python. [Default is /usr/bin/python]: /usr/bin/python2.7
Please specify optimization flags to use during compilation when bazel option "--config=opt" is specified [Default is -march=native]:
Do you wish to use

[2017-03-21 10:19] TimZaman commented on #7969
Because Tensorflow does this differently than other frameworks, it breaks weight compatibility with other frameworks. If the padding precedence was given to the left and top rows, it would align with other frameworks (and cudnn). Therefore I asked the question here, and ask the developers directly why this was chosen in this way.

[2017-03-21 11:12] volvador commented on #7970
I mean in the training loop, the print statement

     print '## epoch ', epoch.eval(sess)

got executed only by the chief.
If I repeat my experiment several times, it may get executed by the other workers from time to time.
I thought in SyncReplicasOptimizer the chief was supposed to wait until all the workers are live before beginning the optimization (indeed, `replicas_to_aggregate=num_workers`

[2017-03-21 11:30] Nayana-ibm opened #8579 "OutOfMemoryError: Java heap space on Tensorflow tests execution"
Executing Tensorflow test suite using command:

    bazel test //tensorflow/...

throws Out of memory issue:

    INFO: Found 1886 targets and 1155 test targets...
    INFO: Elapsed time: 291.775s, Critical Path: 0.91s
    java.lang.OutOfMemoryError: Java heap space
            at com.google.devtools.build.skyframe.SkyKey.create(SkyKey.java:57)
            at com.google.devtools.build.lib.skyframe

[2017-03-21 11:32] MikeInnes commented on #8558
Completely agree. The current wording on the page is:

This reads to me as if the listed bindings are the only ones so far. I think it'd be great to list community supported bindings here as well as calling for more (with a disclaimer that they are not official).

[2017-03-21 12:29] albenoit commented on #8529
In the end, installation was successful !

Only one issue remains and concerns the IoU metric `tf.contrib.metrics.streaming_mean_iou`:

- the metric was generating segmentation faults when using tensorflow version 0.12.1 using pip precompiled packages on another system (debian testing) and compiled version on this RHEL6
- this metric no more reported problems when tensorflow version has been upgra

[2017-03-21 12:41] dale-cooper commented on #7579
Hey, thanks for your answers. I didn"t realise there were any and totally forgot about the issue ;)

[2017-03-21 12:41] #7579 closed

[2017-03-21 12:46] Nayana-ibm commented on #3527
@gunan
We have procured the s390x vms with Ubuntu 16.04 distribution.
Also, installed the dependencies like bazel, python-setuptools etc.
Please let me know the procedure to add those vm's under TensorFlow CI .

[2017-03-21 13:03] dale-cooper commented on #8511
Hey,

I'd really appreciate an answer here, as the integration between tensorflow and tensorflow serving is not really working for me. I have installed the latest python distribution with pip which says it's version 1.0.1. This version does not contain estimator/export.py so I will not be confused again by what is there and what isn't.

I've created my model and exported it with export_savedmodel

[2017-03-21 13:06] jsong00505 commented on #6252
Another newbie here. How can I fix the import error?

[2017-03-21 13:07] jkjangles commented on #2554
I came across this thread while trying to solve my issue. Checking to see if this has a solution. On my OS Sierra 10.12.3 machine, I have Conda 1.4.3 (python 3.x) installed. Thanks.

[2017-03-21 13:23] wangxianliang opened #8581 "tf.read_file doesn't support non ASCII characters in filename"
Windows 2003 server R2, if input file names contain non ASCII characters (such as Chinese), exception will raise.

     [[Node: ReadFile_17 = ReadFile[_device="/job:localhost/replica:0/task:0/cpu:0"](unstack_5:2)]]

Caused by op 'ReadFile_17', defined at:
  File "train.py", line 660, in <module>
    tf.app.run()
  File "C:\Anaconda3\lib\site-packages\tensorflow\python\platform\app.py", line 44, in

[2017-03-21 13:45] shyamalschandra opened #8582 "Greater than fifteen minutes to run a C++ example code using Tensorflow libraries using bazel"
Why does it take greater than fifteen minutes to run a C++ example code using the Tensorflow libraries using bazel?

https://www.tensorflow.org/api_guides/cc/guide

[2017-03-21 13:51] dustinvtran opened #8583 "Bernoulli's probability mass function produces output beyond its support"
Bernoulli's (log) probability mass function is valid for values between 0 and 1, even though its support is only {0, 1}. This is a result of [its implementation](https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/contrib/distributions/python/ops/bernoulli.py#L150) relying on `tf.sigmoid_cross_entropy_with_logits(logits, targets)`, where `targets` does not have to be {0, 1}.

Is this int

[2017-03-21 14:00] oroojlooy opened #8584 "TF for Xeon Phi"
Hi,

Does tensorflow support xeon phi?

Thanks !
Afshin

[2017-03-21 14:07] zasdfgbnm commented on #7662
This is the branch I'm working on:
https://github.com/zasdfgbnm/tensorflow/tree/dynamic_sum

I'm still struggling on the organization of codes at tensorflow, I will explore myself, but it will take time.

Do I put the source files to the correct directory, i.e. `tensorflow/contrib/framework/kernels`?

[2017-03-21 14:23] dustinvtran opened #8585 "Consistent dtypes for discrete tensorflow.contrib.distributions?"
In master (https://github.com/tensorflow/tensorflow/commit/f4a0c2c0f1bbff6e9b4d5d4a0796e7645a974321), the following is true:
+ Bernoulli, Categorical, and OneHotCategorical accept dtype as an argument, defaulting to `tf.int32`.
+ Binomial and Geometric have dtype given by its `probs` parameter, which is returned by the `get_logits_and_probs` utility function. It errors unless `probs` is float, mea

[2017-03-21 14:46] antoajayraj commented on #8466
I am using Power8 box.. and dont see this issue.
python ./cifar10_multi_gpu_train.py --data_dir=/mldl/NVME/scratch/inception_output_data/ --train_dir=/tmp/ --num_gpus 4 --batch_size 512 --max_steps 200

I tried it with TensorFlow 1.0.1 and using libc6_2.23-0ubuntu5_ppc64el.deb
Kernel : 4.4.0-59-generic

[2017-03-21 14:58] nehardave opened #8586 "TensorFlow upgrade to 1.0.1"
I upgraded my server from 1.0.0 (ubuntu):

pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.0.1-cp27-none-linux_x86_64.whl
But I get the following discrepancy:

(tensorflow)$ pip list | grep tensorflow
tensorflow (1.0.0)
(tensorflow)$ python -c 'import tensorflow as tf; print(tf.__version__)'
1.0.1

[2017-03-21 15:20] skye commented on #8549
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-21 15:20] #8549 closed

[2017-03-21 15:20] yaroslavvb commented on #8582
Because of Wirths law

[2017-03-21 15:34] MicaelCarvalho commented on #8551
Keep in mind everything you're doing is symbolic. Therefore, you cannot know the shape of your supposed image before actually loading it — and this is why the Tensor is "shapeless". Even the last dimension isn't inferrable, because it could be a grayscale image (then third dimension = 1), a colored image (third dimension = 3), a gif (third dimension = 4), or even something else.

As @ppwwyyxx said

[2017-03-21 15:40] AnabelGRios commented on #8462
Hello,
I asked the system operator to copy the cudnn files to the cuda directory, `/usr/local/cuda`, and now the output of `ls -l /path/to/cuda/lib/libcud*` is the following:
[code]
However, the error in the bazel build command is still there.

[2017-03-21 15:40] jubjamie opened #8587 "Android Example Doesn't Build: Could not get unknown property 'assembleRelease'"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

http://stackoverflow.com/questions/39602587/could-not-get-unknown-property-assemblerelease-for-project/39720618
http://stackoverflow.com/questions/39590549/after-update-to-android-studio-2-2-gradle-plugin-2-2-0-could-not-get-unknown

### Environment info
Operating System:
Ubuntu 16.10
Ins

[2017-03-21 15:41] jubjamie commented on #8586
What env manager are you using?
Did you uninstall 1.0.0 before upgrading to 1.0.1? If it's causing concern I would try uninstalling and reinstalling. It shouldn't do any harm.

[2017-03-21 15:45] jubjamie commented on #8576
Is that the error from conda or from pip? Where is your conda environment set located? In your user folder or Program Files? Tried running cmd as an administrator?
A reinstall of conda might solve this.
This doesn't appear to be a tensorflow bug so I would move your question to Stack Overflow or to Conda forums.

[2017-03-21 15:47] sahildua2305 opened #8588 "Got an unexpected keyword argument 'fix_global_step_increment_bug'"
I get this error while trying to run the [wide_n_deep_tutorial.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/wide_n_deep_tutorial.py).

[code]

It appears to be coming from - [ea963dd048749df525d2a1f19c31d7abcdc3268e](https://github.com/tensorflow/tensorflow/commit/ea963dd048749df525d2a1f19c31d7abcdc3268e).

### What related GitHub issues or StackOverflow threa

[2017-03-21 15:50] jubjamie commented on #8525
@poojan124 iirc they should disappear in 1.0.1. Can you confirm your tensorflow version?

[2017-03-21 15:56] hugman opened #8589 "contrib.crf + XLA doesn't work"
The combination of tf.contrib.crf + XLA seems not working (sometimes hang forever).

Following code is for reproducing errors.
The code is from standard example - https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/crf
The only difference is XLA part.

When XLA is enabled, loss is not reducing.
In more large network(real NLP applications), it hangs forever after graph building.

[2017-03-21 16:05] andrewharp commented on #8550
Do the other demos work for you? If so, I'm guessing the preview frame size it's choosing is broken somehow (stylization uses a larger one than the other demos).

Can you paste a full log please?

[2017-03-21 16:08] andrewharp commented on #8587
What version of Gradle are you using? This should work with 2.3.0

[2017-03-21 16:10] xiejw commented on #8501
@ebrevdo could help here.

[2017-03-21 16:13] PhilJd commented on #8462
Hi,
some ideas to debug:
- Maybe your cudnn version is somehow incompatible with the cuda version, for example if cuda was installed via apt and cudnn was installed manually. Ubuntu 14.04 currently has cudnn version 5.0.{5,6} and 5.1.{3, 5, 10} in the repos (says `apt-cache madison libcudnn5`. You seem to have version 5.0.4. Probably try the local solution with one of the versions above.
- Try to

[2017-03-21 16:15] ispirmustafa commented on #8511
@davidsoergel could you please take a look?

[2017-03-21 16:20] yaroslavvb commented on #8547
Can you isolate a bit further where the mistake is happening? There's a lot of code, is this a misunderstanding of how TensorFlow works, or a specific operation producing result that contradicts its documentation?

Here's a slightly simple example of computing Hessian which produces values that make sense:
https://groups.google.com/a/tensorflow.org/d/msg/discuss/Xb_lwMIsNPc/sLk7aNcZCQAJ

[2017-03-21 16:27] jubjamie commented on #8587
@andrewharp Gradle Version 3.3 but Android Plug-In version 2.3.0 (which I assume is what you meant). This is a fresh version of AS on a fresh OS with zero tinkering so not sure why I can't get it to work.

For reference I was just following the tutorial. i.e. Open project, Run (on emulator in this case). I did make one change to force sensor orientation to 90 as it runs at 3 deg on my pixel C but

[2017-03-21 16:41] andrewharp commented on #8497
Closing as this seems to be a duplicate of #8396.

Regarding the model performance: this is expected because the SoftMax layer at the top of Inception will also output values summing to 1.0. To work around this you would need to use a different type of layer for classification or add a default class to your training data (training with a variety of random images may work, but that's a discussion f

[2017-03-21 16:41] #8497 closed

[2017-03-21 16:43] aidan-plenert-macdonald commented on #1419
@yaroslavvb Currently, we (as in my coworkers) do pretty well with the hacks we did above. That's not to say we wouldn't appreciate official support, but we can work around it pretty easily.

I would just note that this isn't *just* about Reader ops. The lack of headers and shared libs affects peoples ability to add custom hardware (ie. Allocators, Devices, DeviceContexts, etc.) and to add drop in

[2017-03-21 16:45] poxvoculi commented on #8483
Marking as duplicate of #8517

[2017-03-21 16:45] #8483 closed

[2017-03-21 16:46] kayhan-batmanghelich commented on #8547
OK. I was not sure that Hessian works correctly, so that code in the min code you need to compute the hessian of a quadratic function:
$ f(x) =  1/2* x^T A x + b^T x + c$
The hessian of this function is A. In the code, you see:
[code]

and the function is defined here:
[code]

So the result should be:
[code]

I don't think this is misunderstanding of how TF work (it is possible) because the code i

[2017-03-21 16:47] vladfi1 commented on #2153
I too am getting these warnings.

[2017-03-21 16:52] Alexivia commented on #8559
@bhack, could you help me with this?

[2017-03-21 16:53] martinwicke commented on #8490
Everything up to conversion to markdown is already open-source, you can easily generate html from that using hoedown or other md interpreters (tools/docs).

For the "last mile" we use an internal system, and we will not try to replace it with an open-source version.

[2017-03-21 16:53] #8490 closed

[2017-03-21 17:18] girving commented on #8439
I can make things work as expected if I add `@org_tensorflow` before every target in `tensorflow.bzl`.  @jart: I imagine that's not kosher, but if there's version that is I can prepare a PR.

[2017-03-21 17:28] truatpasteurdotfr commented on #6210
[code]
downloads the packages required for the "bazel build ... //tensorflow/tools/pip_package:build_pip_package" stage and put the downloaded files in
[code]
Correct?

Now how I am supposed to convert the URL such as "http://bazel-mirror.storage.googleapis.com/ftp.exim.org/pub/pcre/pcre-8.39.tar.gz" from ./tensorflow/workspace.bzl into "file:///tmp/bazel/da36536f347c0e23d2402d33213b5c40/external/

[2017-03-21 17:38] yaroslavvb commented on #1419
@aidan-plenert-macdonald it seems like "custom hardware for TF" is in a weird category of being  encouraged, yet requiring hacks/unofficial APIs. Bigger players like Qualcomm/Intel work in a partnernship with Google, so they have a direct channel to the development team. Not sure what the plans are for other 3rd party developers  cc @vrv @tatatodd

[2017-03-21 17:47] vrv commented on #1419
We are happy to review PRs that open up access to interfaces needed by device developers; it's hard for us to do it ourselves because we don't know all the headers your devices need access to, and our internal development environment is different enough from the external system that we don't run into these issues ourselves (or else we'd fix it).

So I think the best step in general is for anybody

[2017-03-21 17:57] cancan101 commented on #8181
Here is a short example demonstrating the issue:
[code]

which produces:
[code]
In this case the signature of `remove_training_nodes` might need to be changed to list the set of nodes that should not be removed.

Thoughts?

[2017-03-21 18:01] TianweiXing commented on #8551
Thanks, the set_shape works well here.

But one thing I'm curious about is that, if I split the graph, (add a sess.run, and get the result of image array, then construct tensor, send it to rest of the graph), does this increase overhead?
While actually when running it, it seems that the "set_shape" method will take more time to run than 'split graph" method...
I'm not clear how much overhead does

[2017-03-21 18:09] aidan-plenert-macdonald commented on #1419
@vrv, Other hardware guys (eg @DavidNorman ) might need something else, but all I need is,
[code]

With that patch, I can do everything I need. @yaroslavvb, we haven't needed to do too many hacks that weren't already present in GPU code. Once I figured out the general core of TF, porting was pretty straight forward.

[2017-03-21 18:14] skye commented on #8536
@kirk86 can you collect a stack trace from the TensorFlow process while it's hanging? You can use gdb like this:
[code]
If gdb gives you a weird message about ptrace, run the following in a terminal and try attaching again:
`$ echo 0 | sudo tee /proc/sys/kernel/yama/ptrace_scope`

Once you're attached in gdb, collect stack traces with all the threads:
`(gdb) thread apply all bt`

[2017-03-21 18:17] dalgu90 opened #8591 "TensorBoard fails grouping summaries by names"
Hi. Using Tensorboard, I found that it fails grouping scalar summaries by its name.

As I know, summaries are grouped by their name scopes, which are delimited by slash('/').
However, for some cases, the group to be bound together would be separated.

Here's a reproducible code that causes the same error, and the resulting tensorboard page.

[code]

![image](https://cloud.githubusercontent.com/ass

[2017-03-21 18:18] xuehanxiongsc commented on #8485
@tatatodd Here is the log:

exec ${PAGER:-/usr/bin/less} "$0" || exit 1
\-----------------------------------------------------------------------------
Running main() from test_main.cc
[==========] Running 8 tests from 1 test case.
[----------] Global test environment set-up.
[----------] 8 tests from TFCompileTest
[ RUN      ] TFCompileTest.Add
dyld: lazy symbol binding failed: Symbol not found: _

[2017-03-21 18:27] yaroslavvb commented on #8547
Note that you are using `tf.gradients`, so you are saying this is a bug in gradients, right? The code is complicated enough that I can't immediately tell if it's a bug in gradients or your code, can you narrow it down to simpler example?

[2017-03-21 18:35] kirk86 commented on #8536
@skye Sure I'll give it a try, can't give no promises though since I have no control over the environment. It runs inside in a docker container (as far as I know) which is being created and destroyed every time I execute the code. Think of it sth equivalent of google cloud. Let me see what I can collect and I'll get back to you guys. Thanks for the advice.

[2017-03-21 18:43] dustinvtran opened #8593 "dtype of methods in tensorflow.contrib.distributions does not depend on self.dtype"
In master (f4a0c2c) (and versions such as r1.0), the docstring in `log_prob()` claims to return a tensor which has the same dtype as the distributions' dtype. This is not true for the built-in distributions. For example:
[code]

This inconsistency also occurs for many methods beyond `log_prob()`.

[2017-03-21 18:50] ppwwyyxx opened #8594 "tf.case doesn't return a tensor with the given name"
With TF 1.0.1.
[code]
I expect to see "aa:0".

Similar to #6741

[2017-03-21 19:00] bowang commented on #8569
As a reference, I profile the same program with NVIDIA Visual Profiler. It shows that each matrix multiplication (MatMul_[0-9]) takes around 65-75us.

In comparison, tfprof doubles the amount of runtime of MatMul_[0-4] while counting that of MatMul_[5-9] almost as zero.

[2017-03-21 19:06] ivan-san41 commented on #383
I also had the KeyError: 'VariableV2' when restoring the graph from a checkpoint that was saved in another machine. It turned out that the tensorflow versions were different. Upgrading solved the problem

[2017-03-21 19:21] skye commented on #8428
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-21 19:21] #8428 closed

[2017-03-21 19:22] gunan commented on #3527
Great!
Could you email me? my github username @ companyname is the address
We can continue the conversation there.

[2017-03-21 19:35] Carmezim commented on #8482
This issue was fixed at Bazel's HEAD by [this commit](https://github.com/bazelbuild/bazel/commit/dce45d3151742338057f88f0a459ff442e05726f) so I am closing it.

For reference this is the issue on Bazel repo:
https://github.com/bazelbuild/bazel/issues/2708

[2017-03-21 19:40] #8482 closed

[2017-03-21 19:41] tatatodd commented on #8485
@xuehanxiongsc I'm assuming that's when run on your Mac?

Now that I think about it, AOT won't work at all.  At a minimum we'll need to add the appropriate LLVM target triple for mac; the default is `x86_64-pc-linux` which won't work:

https://github.com/tensorflow/tensorflow/blob/882e75db49f09afac6aee5cd38798a82f80f5419/tensorflow/compiler/aot/tfcompile.bzl#L277

I seem to recall a few other prob

[2017-03-21 20:09] xuehanxiongsc commented on #8485
@tatatodd You are right. It is related to macOS. I just compiled successfully on Linux without cuda support.

[2017-03-21 20:11] skye commented on #8433
This function exists in the 1.0 branch: https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/contrib/seq2seq/python/ops/attention_decoder_fn.py#L134

However, it was recently deleted from master: https://github.com/tensorflow/tensorflow/commit/d46937f3684d3be2285f7401c2f471f542d147c2

I suggest either using 1.0, or looking at the code currently in master: https://github.com/tensorflow/ten

[2017-03-21 20:11] #8433 closed

[2017-03-21 20:22] alexanderalang opened #8596 "tf.nn.conv3d ignoring first spacial dimension"
Im using tensorflow 1.0.0 (python 3.5) on OSX(10.11.6 El Capitan), but the same problem occurred with tf version 1.0.1. also got this error when I tried to run the module with the google ml-engine.

# **Relevant code**

[code]

[code]

[code]

[code]

[code]

the error happens when compiling the model. conv8 is supposed to have the shape [None,17,17,17,2].

# The Error:

[code]

As you can see, th

[2017-03-21 20:27] skye commented on #8443
I just tried that command on the latest master checkout and it worked for me. Can you verify that you're running the bazel command from the latest master branch, at the root of the repo, etc.?

[2017-03-21 20:36] skye commented on #8466
@pedropgusmao would it be possible to try version 1.0.1? That will help narrow down the problem.

Similarly, @abdasgupta which TensorFlow version are you running?

[2017-03-21 20:53] skye commented on #8471
Hi @suchetasu , as @concretevitamin mentioned, it looks like you're exceeding the max tensor size implemented by the BiasAdd op's gradient. Unfortunately there is no simple solution, you'll either need to change your model to avoid this limitation or we'll need to find someone to modify BiasAddGrad (probably a non-trivial change).

If you share more information as suggested in the template, especi

[2017-03-21 21:17] gunan commented on #8576
This is a windows issue on your setup.
You need an terminal with administrator rights to write to that folder.

Closing as this is not a TF issue.

[2017-03-21 21:17] #8576 closed

[2017-03-21 21:19] pathak22 opened #8602 "Multiple simultaneous distributed-TF runs on single machine"
I am running multiple distributed-TF sessions simultaneously on a single machine. I am setting up the configuration as described below. However, I am not getting the expected parallelism speedup.

I am running 4 different runs simultaneously, each of them with following config:
[code]

The command that I use to setup each server looks **exactly** like this for each worker and parameter server resp

[2017-03-21 21:19] gunan commented on #8573
The command you are writing does not really do anything.
Please follow the guide here to build pip package from sources:
https://www.tensorflow.org/install/install_sources

And please use stackoverflow with help on how to use bazel.

[2017-03-21 21:19] #8573 closed

[2017-03-21 21:21] gunan commented on #8582
You are probably seeing delays because you actually have to compile from sources when using bazel.

[2017-03-21 21:21] #8582 closed

[2017-03-21 21:29] martinwicke commented on #8320
We are using package visibility to indicate what parts of the API are public and can be relied on to not change. We do not want people relying on implementation details, so we would like to keep visibility rules in place.

If you think a specific rule should be public, please file a bug for that rule. Of course, as you noted, you also have the ability to modify the code to modify visibility yourse

[2017-03-21 21:29] #8320 closed

[2017-03-21 21:49] malmaud opened #8604 "Creating variables in a `while_loop`"
I understand why this fails given the way control inputs are inserted in non-Variable ops created in while loops, but maybe the limitations should be documented somewhere:

[code]

[code]

[2017-03-21 21:50] gunan commented on #8584
Not yet. But we would be happy to accept this contribution into tensorflow.

[2017-03-21 22:02] aselle commented on #8416
Caisq, could you please take a look.

[2017-03-21 22:03] Panaetius commented on #8554
Upon researching this issue some more (with the good old "Sprinkle Prints everywhere" method of debugging), it seems to happen when the input labels/regions are empty. The MSCOCO dataset apparently has images with no labels, so those would cause the issue. I'm reading the labels/regions with a tf.VarLengthFeature, so the dimensions aren't known ahead of time.

It's somewhere inside one of the two

[2017-03-21 22:04] aselle commented on #8440
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. In addition, include a simple reproducible test case. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-21 22:06] aselle commented on #8449
Asked and answered on stackoverflow
http://stackoverflow.com/questions/37504470/tensorflow-crashes-when-using-sess-run

[2017-03-21 22:06] #8449 closed

[2017-03-21 22:08] aselle commented on #8551
@TianweiXing, both approaches have different overheads and it is problem dependent. The best way to find out is to try it both ways and profile. Given that it is more of a usage question rather than a bug or feature request, I am closing this problem.

[2017-03-21 22:08] #8551 closed

[2017-03-21 22:09] aselle commented on #8552
@mrry, could you take a look if there is anything new we need to do to update the example?

[2017-03-21 22:09] satok16 commented on #8502
I'm not pretty sure that there is any tutrial for them other than https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android

Andrew, do you have any idea about this?

[2017-03-21 22:11] #8556 closed

[2017-03-21 22:12] aselle commented on #8556
LSF is not a workflow that we have knowledge or support of. However, the first google search result for "tensor lsf" links to this stackoverflow which has a link to blog entry that is helpful for setting it up.
http://stackoverflow.com/questions/41220475/tensorflow-lsf-distributed-tensorflow-on-lsf-cluster

[2017-03-21 22:17] Panaetius commented on #8554
Ok I managed to reproduce it in a simple test case: https://gist.github.com/Panaetius/8da26064491ab4ad1890bca3dfd86eff

The test case can probably be made smaller still (for instance, the whole save data -> load data with tf.VarLenFeature is probably not needed, you could just construct an empty SparseTensor, though I couldn't get this to work when I gave it a quick try).

Basically, calling tf.ma

[2017-03-21 22:51] andrewharp commented on #8502
@petewarden has a nice iOS walkthrough here: https://petewarden.com/2016/09/27/tensorflow-for-mobile-poets/amp/

[2017-03-21 22:55] agarwal-ashish commented on #8194
I believe this should be fixed by commit e6126230200e2ce9c96da5c9e4dc7f104c645d11 that fixes some numerical stability issue. Please reopen if you continue to see some issues.

[2017-03-21 22:55] #8194 closed

[2017-03-21 22:56] agarwal-ashish commented on #7784
commit e6126230200e2ce9c96da5c9e4dc7f104c645d11 should have fixed these issues. Please reopen if you continue to see these errors.

[2017-03-21 22:56] #7784 closed

[2017-03-21 23:06] derekhh commented on #5987
+1

[2017-03-21 23:34] kayhan-batmanghelich commented on #8547
@yaroslavvb I was wrong. It is computed correctly. Here is a simpler example showing that is computed correctly:

[code]

Please close this issue.

[2017-03-22 00:11] mrry commented on #8552
It looks like these were never fixed after `tf.train.SyncReplicasOptimizer` was replaced by `tf.train.SyncReplicasOptimizerV2` in 059ccad4d4bac851da9fa9694c23dd49a4089bc6.

I'm not sure what all the changes were between these two versions, but @jmchen-g should be.

[2017-03-22 00:17] jmchen-g commented on #8552
The new version of sync opt doesn't need any clean up op so you can safely remove them in the training code.

[2017-03-22 00:17] wookayin commented on #8591
It seems that tag names are sorted ignoring non-alphabet characters (such as `_` and `/`) and they are grouped according to the sort order :-)

[2017-03-22 00:20] FrankWork opened #8608 "gradient_override_map not working for tf.matmul"
### `gradient_override_map` not working for `tf.matmul`

I want to mask the gradient of `tf.matmul`, but I found that the `gradient_override_map` didn't work while it worked for `tf.square`.

### Gradient override for `tf.matmul`: failed

[code]

The output:
[code]

The expected output:
[code]

### Gradient override for `tf.square`: worked

[code]

The output:
[code]

### Environment info
Operatin

[2017-03-22 00:23] jmchen-g commented on #7970
The chief is supposed to wait until enough grads are collected so not necessarily from all workers.

Hmm... You guys are using the tf.train.replica_device_setter(..) which doesn't tell global from local variables (We only notice this recently!)... This is not right and we are trying to fix it. Please wait until that is fixed. Thanks.

[2017-03-22 00:31] vikas95 commented on #7412
It is still not available for windows. Can anyone suggest alternatives to deal with this error:
"module 'tensorflow.contrib.tfprof' has no attribute 'model_analyzer'"

[2017-03-22 00:32] AndreaFar commented on #8336
@mrry I need a working version for windows. where are located the nightly build with this fix?

[2017-03-22 00:40] Fenugreek commented on #3638
@girving I feel a little stupid but after 15+ minutes of looking I can't find where the docs for `tf.gather` live. They're not in `python/ops/array_ops.py`. Any tips?

[2017-03-22 00:43] panyx0718 commented on #7412
@jart Any updates?

[2017-03-22 00:49] skye commented on #8608
@mrry could you take a look?

[2017-03-22 00:59] mrry commented on #8608
At a guess, the `a_is_sparse=True` might imply that the op being created isn't a `"MatMul"`-type op. Maybe the override needs to be for `"SparseMatMul"` instead?

[2017-03-22 01:06] mrry commented on #8336
@AndreaFar Links to the nightly builds on all platforms can be found in the readme here: https://github.com/tensorflow/tensorflow/blob/master/README.md

[2017-03-22 01:09] FrankWork commented on #8608
@mrry   `tf.matmul(w, x, name="Matmul")` is still not working

[2017-03-22 01:16] josh11b commented on #3638
tensorflow/core/ops/array_ops.cc

[2017-03-22 02:44] Fenugreek commented on #3638
Cool, thanks for the pointer @josh11b . I am hoping to submit a pull request for the doc fix in a day or so, looking to be consistent with docs elsewhere Re: GPU vs CPU differences/limitations.

[2017-03-22 02:58] poojan124 commented on #8525
@jubjamie  i am using 1.0.1  version. I used `pip3 install --upgrade tensorflow` command to install on my windows. I will try nightly build if it take out those op errors.

[2017-03-22 03:02] DingkunLong opened #8609 "Problem with 3-D matmul"
I want to do a multiplication with two 3-D tensors, as defined:
a = tf.random_uniform(shape = [5,3,3])
b = tf.ones(shape = [5,3,1])
c = tf.matmul(a,b)
but I can't get the right answer as described in the tf.matmul function
https://www.tensorflow.org/api_docs/python/tf/matmul
a:
[[[ 0.05892992  0.12031484  0.7328496 ]
  [ 0.70889461  0.19382548  0.74017155]
  [ 0.90600419  0.91791809  0.19239831]]

[2017-03-22 03:07] jongchyisu opened #8610 "Tensorboard Embedding Sprite Image Aspect Ratio"
I tried to use tensorboard embedding visualization with sprite images.
It works well except two things:
1) Even though I set the image width and height as:
embedding.sprite.single_image_dim.extend([my_width, my_height])
and the projector_config.pbtxt file has:
sprite {
    image_path: "sprite.png"
    single_image_dim: my_width
    single_image_dim: my_height
}
Tensorboard **resizes the images to

[2017-03-22 03:16] FrankWork commented on #8608
Problem solved! Without `a_is_sparse=True`, the op name is "MatMul", not "Matmul"! With `a_is_sparse=True`, the op name is "SparseMatMul".

[2017-03-22 03:16] #8608 closed

[2017-03-22 03:23] BrianZhu01 opened #8611 "TensorBoard not working,"
I run it as https://www.tensorflow.org/get_started/summaries_and_tensorboard here described, but the browser can't display it ,what's wrong with it ?
![0x22a3](https://cloud.githubusercontent.com/assets/15243563/24180783/edbb7ff2-0ef1-11e7-852b-a579773aa8be.jpg)

[2017-03-22 03:25] BrianOn99 commented on #8550
@andrewharp thanks for looking into this issue.  Actually the other demo has some non-fatal problems (I thought they were unrelated).

## TF classify
- Sometimes a Toast "Failed" is shown, then there is no camera preview.
- In case problem 1 does not happen, the camera preview is widened.
## TF Detect
- Same issues as TF classify
- I have not yet success in using it to detect any people

I can rep

[2017-03-22 03:26] lcytzk commented on #8588
Same problem. I'm using python3, windows OS. version 1.0.1
After that, I checked the help doc, I found that fix_global_step_increment_bug is not a init arg for class DNNLinearCombinedClassifier

 __init__(self, model_dir=None, n_classes=2, weight_column_name=None, linear_feature_columns=None, linear_optimizer=None, _joint_linear_weights=False, dnn_feature_columns=None, dnn_optimizer=None, dnn_hidd

[2017-03-22 03:28] BrianZhu01 commented on #8611
and the version of Tensorflow is 0.11

[2017-03-22 03:28] BrianOn99 commented on #8550
I would like to emphasize that this issue does not always happen.  Sometimes stylization works for several frames and then crash due to this issue.

[2017-03-22 03:41] nehardave commented on #8586
I am using virtualenv
No didn’t. But it should upgrade smoothly without uninstall and then install.

- Best Regards,
Neha Dave

From: jubjamie <notifications@github.com>
Reply-To: tensorflow/tensorflow <reply@reply.github.com>
Date: Tuesday, 21 March 2017 at 9:13 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: "Dave, Neha" <Neha.Dave@fmr.com>, Author <author@noreply.github.com>
Su

[2017-03-22 04:11] andrewharp commented on #8550
It's probably giving back an unexpected buffer format:
`03-22 11:01:12.200 9698-9717/org.tensorflow.demo D/ImageReader_JNI: ImageReader_imageSetup: Overriding buffer format YUV_420_888 to 32315659.` 32315659 maps to NV12.

What is the `android.info.supportedHardwareLevel` on your device? Some devices don't fully support the camera2 api, unfortunately, and emulate it problematically internally.

If

[2017-03-22 04:54] BrianOn99 commented on #8550
It is "2", which correspond to INFO_SUPPORTED_HARDWARE_LEVEL_LEGACY.  So does it mean the issue cannot be solved?

[2017-03-22 04:56] BrianOn99 commented on #8550
If it cannot be solved I think it would be better to show a warning on the demo app for those phones.

[2017-03-22 04:59] WahabZia commented on #8385
Hello @imamol555  sorry for the late reply can you please share the logs .  So  that i  can the reason for the problem .  Sorry  again for the late reply i didn't check git account for a couple of days .

[2017-03-22 05:03] nharada1 opened #8612 "make_test_graphs.py fails to open file in binary mode, breaks in py3"
The file //tensorflow/compiler/aot/tests/make_test_graphs.py attempts to write binary data to files without opening the files in binary mode, which raises errors in Python 3. This can be fixed by opening the files in binary mode, i.e.

[code]

I'm not sure if making this change will break Python 2. I will try and submit a pull request later in the week.

[2017-03-22 05:10] BrianOn99 commented on #8550
If it is suitable I can contribute or just make a test.

[2017-03-22 05:26] mlhengin commented on #6503
Hello,
Any news on this features? Would be very helpful to me too.

[2017-03-22 05:31] #4848 closed

[2017-03-22 05:53] gunan commented on #8611
Please use the latest version of TF.
The tutorials on our website point to the latest version unless you specificly select older versions of TF.

[2017-03-22 05:53] #8611 closed

[2017-03-22 06:51] ophiry opened #8617 "Error when using lookup table from tf.contrib.keras"
I'm trying to build a simple model that includes string input and lookup in a lookup table, and embedding.

I get an error that appears to caused by using non keras layers in a keras model

the code:
[code]
the error:
[code]

using tensorflow on macos, built from source revision: 88998663605ca3b728d6eec298717c8a8558639f

[2017-03-22 07:01] #8313 closed

[2017-03-22 07:20] #8504 closed

[2017-03-22 07:52] zuoxingdong commented on #8504
@ebrevdo Thanks for your PR. I have a short question

[code]

With the new behavior, will `fc2` reuse the weights from `fc1` or from `ker` ?
Because previously the weight sharing should be
[code]

[2017-03-22 07:59] abrahamrhoffman commented on #4841
@jinhou you are the man! Exporting the environment variable worked for me!

`
export TF_NEED_CUDA="1"

bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --copt=-msse4.2 --copt=-msse4.1 --copt=-msse3 --config=cuda -k //tensorflow/tools/pip_package:build_pip_package

bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg
`

[2017-03-22 09:24] sahildua2305 commented on #8588
@lcytzk indeed, that's the problem.

I realised that it's a new feature that they added, however not yet released. So, we have to use an older version of the tutorial until the time new version with that change is released.

[2017-03-22 10:02] theyonibomber opened #8619 "compilation error on latest master"
Seems to have been caused by ede5ebe54f0689a53eeaf0fb1c9a25f136ab3a69
[code]

[2017-03-22 10:04] volvador commented on #7970
Thank you

[2017-03-22 10:07] LouisCAD opened #8620 "Add more Android Examples"
Hi,

The only Android example is currently for image recognition, but there's a lot more that can be done with Machine Learning on handsets.

Could more examples be added, using Tensorflow to recognize patterns from motion sensors such as accelerometer for example?

[See related question here on StackOverflow](http://stackoverflow.com/questions/42901282/train-android-app-to-recognize-sensor-patter

[2017-03-22 10:59] dadib commented on #7952
I am running into the same issue and have reduced it to a minimal failing example.
[code]

The problem seems to be in dynamic_rnn. When we unroll the network manually rather than use dynamic_rnn it works fine.
[code]

[code]
Dowloaded jar / CPU-only native libs as per [instructions](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java)
Loading the model in java:
[code]

Leads to th

[2017-03-22 11:05] erogol commented on #6599
I have the same issue here. It goes overflowing after couple of iterations on version 1.0.1

[2017-03-22 11:09] SeguinBe commented on #8560
Just a quick update on this, I "solved" my issue by recompiling tensorflow with changing the hardcoded parameters of the PoolAllocator. Just setting it to relatively high size and non-resizable allowed me not to run OutOfMemory.

See [here](https://github.com/SeguinBe/tensorflow/commit/2097a40d6ebfa3d4a690c5bb7592e8c433e6546e)

I suppose having it as a configuration parameter of the `GPUOptions` p

[2017-03-22 11:27] derekhh commented on #8454
@concretevitamin Thanks for your reply.

@nathansilberman: I've found a workaround by loading this model checkpoint, create a `tf.placeholder` and then use this as the `input_node` instead.

Please correct me if I am wrong. I guess there is no easy way to use the current queue-based input graph on Android. If we use that then the input node needs to be a `batch/queue` or a `shuffle_batch/random_sh

[2017-03-22 11:28] jkjangles opened #8622 "virtualenv install python issues."
While installing virtualenv for tensorflow, I get the following error.

The executable /Users/xxx/tensorflow/bin/python is not functioning ERROR: It thinks sys.prefix is
'/Users/xxx' (should be '/Users/xxx/tensorflow')

It seems it is common and related to having python3 or conda installed. But I could not find a known solution.

On my OS Sierra 10.12.3 machine, I have Conda 1.4.3 (python 3.6) ins

[2017-03-22 12:02] BhagyeshVikani commented on #8265
Digging a bit more into the first case @falaktheoptimist  shared above, we found that the memory hogging is happening at two stages - first when computing the `image_summary` (using session.run) and second by the `add_summary` function of Filewriter. Below are the profiler outputs showing half of the memory(~285 MB) occupied by `sess.run` and other half being occupied by `file_writer.add_summary`

[2017-03-22 12:15] upavan opened #8623 "TensorFlow install issue"
Hi Team .,

While installing TensorFlow on Windows10 I'm facing the below error.,

****tensorflow-1.0.1-cp35-cp35m-win_amd64.whl is not a supported wheel on this platform.****

Please let me know how to overcome this issue.

Thanks
Pavan

[2017-03-22 12:22] damienmg commented on #8619
Which version of Bazel are you using?

[2017-03-22 12:30] theyonibomber commented on #8619
Was using 0.4.4, upgrading to 0.4.5 seems to have solved it.
Thanks.

[2017-03-22 12:56] scanyameres commented on #3180
@Hvass-Labs Your own explanation about the insignificant cost performance is very nice and correct, yet of course it is interesting to wonder if it would make sense to reverse the layer order anyways. IMHO I would expect industry or embedded-level networks to be optimized in such a way when possible, as any "free" computation saving is beneficial.

However, I wanted to point out that some networks

[2017-03-22 13:08] Hvass-Labs commented on #3180
@scanyameres That is interesting. I didn't know that.

[2017-03-22 13:12] Nayana-ibm commented on #8579
Below command worked from me:

`bazel  --host_jvm_args="-Xms512m" --host_jvm_args="-Xmx1024m"  test //tensorflow/...`

[2017-03-22 13:22] gaohuazuo opened #8624 "Constant folding does not work across devices?"
I've been trying to understand tensorflow internals recently. I found in `tensorflow/core/common_runtime/direct_session.cc`, if I understand it correctly, that constant folding only take place at [#L1051](https://github.com/tensorflow/tensorflow/blob/ef56133461079f28b61b5a83a62685051408aadb/tensorflow/core/common_runtime/direct_session.cc#L1051) after graph partitioning, so constants won't propaga

[2017-03-22 13:27] asimshankar commented on #7952
@dadib: Thanks for providing a minimal example.

Digging a bit, I believe the same issues as in #8284 that should be fixed at head (and will be fixed in the next release - 1.1). Could you try with the nightly builds:

- Java source: https://ci.tensorflow.org/view/Nightly/job/nightly-libtensorflow/TYPE=mac-slave/lastSuccessfulBuild/artifact/lib_package/libtensorflow.jar
- JNI: https://ci.tensorflow

[2017-03-22 13:50] aleksab commented on #8454
@derekhh how did you get it working by simply creating a placeholder? The FIFOQueueV2 node is still there and shoudl cause a NoOp on android? I am struggling with the same issue

[2017-03-22 14:01] jdvala commented on #8623
Just try this
`pip3 install tensorflow`

this should do the trick

[2017-03-22 14:47] skye commented on #8604
I'll try to improve this if I have spare cycles, but for now I'm gonna mark this contributions welcome. I imagine it should additionally be possible to improve the error message in this case.

[2017-03-22 14:53] sbimochan commented on #8620
where is it?

[2017-03-22 15:05] skye commented on #8596
Hi @alexanderalang, can you compile the code you have above into a single script that reproduces the error? I tried pasting your snippets into a script but am getting undefined methods (e.g. variable_summaries, depth_softmax). It would also be extremely useful if you could try to simplify the code while still producing the error. Thanks.

[2017-03-22 15:17] critiqjo commented on #8604
I haven't seen any docs describing the word "frame" in this sense. It would help a lot to describe what frames are and how they get created.

[2017-03-22 15:20] dadib commented on #7952
@asimshankar works with those nightly builds. Thanks!

[2017-03-22 15:25] AndreaFar commented on #8336
@mrry with nightly build (22-mar-2017 2.25.00)
https://ci.tensorflow.org/view/Nightly/job/nightly-win/DEVICE=cpu,OS=windows/
kernel crashes with a different error

[code]

[2017-03-22 15:30] skye commented on #8594
I'll work on getting a patch in to fix this.

[2017-03-22 15:44] heermasterlp opened #8625 "ValueError: No gradients provided for any variable, check your graph for ops that do not support gradients,"
I found a error when I try to train my models using the GradientDescentOptimizer(). There are my train code.
[code]

If I do not use the `tf.floor()` function in my loss operation, the training is OK. Just like this:
[code]

[2017-03-22 15:47] mrry commented on #8336
@AndreaFar I don't think this problem is TensorFlow-specific, because the TensorFlow binaries do not include any HDF5 support. It's possible that one of the libraries TensorFlow depends on is not working. (Perhaps Pands? It seems to have had similar [problems in the past](https://github.com/pandas-dev/pandas/issues/3091)....) Therefore it might be possible to fix this by upgrading your other insta

[2017-03-22 15:50] roytseng-tw opened #8626 "The reuse flag of tf.variable_scope doesn't work with tf.contrib.layers ?"
For example, I defined a simple network
[code]
And then, I try to call the model function twice **without** setting reuse=True for second call
[code]
When using with tf.get_variable(), this will cause a error. However, it's not the case for tf.contrib.layers?
I tried to print out all the nodes in the graph with following codes
[code]
I got this result:
[code]
It seems that there is only one copy o

[2017-03-22 16:16] jbms commented on #4742
#8411 doesn't actually fix this issue --- it just adds some documentation, but does not actually improve the static tensor shape information, which is what this issue is about.

[2017-03-22 16:23] AndreaFar opened #8627 "HDF5 library version mismatched error with latest Tensorflow build for windowsx64"
Due to a bug still present in Tensorflow 1.0.1 release for windows (see https://github.com/tensorflow/tensorflow/issues/8336)
I have installed the latest nightly build tensorflow cpu win 22-mar-2017 2.25.00 as suggested

Unfortunately with this version, now kernel crashes for a different reason and I get this error:

[code]
The script crashes when` tf.contrib.layers.convolution2d` is invoked

I'm

[2017-03-22 16:24] martinwicke commented on #4742
Sorry about that.

[2017-03-22 16:24] AndreaFar commented on #8336
@mrry dependencies are updated to latest release available on pip, I get this error with Tensorflow nightly build, but not with tensorflow release(that crashes because of the bug reported here). Maybe the nightly build use a different version not released? I have opened a new issue here https://github.com/tensorflow/tensorflow/issues/8627

[2017-03-22 16:30] mrry commented on #8627
(I assume you're using Jupyter/IPython.) What commands have you executed in the notebook before this error is raised?

[2017-03-22 16:42] alexanderalang commented on #8596
here is an error producing script, I tried to simplify it a bit

[code]

[2017-03-22 16:45] ebrevdo commented on #8504
I accidentally introduced a bug.  It *should* reuse the weights from fc1,
but i accidentally made it reuse the weights from ker.  i'm sending an
update to reverse this behavior.

On Wed, Mar 22, 2017 at 12:52 AM, Xingdong Zuo <notifications@github.com>
wrote:

[2017-03-22 16:45] #4727 closed

[2017-03-22 16:48] skye commented on #8593
@ebrevdo @jvdillon @langmore is this just a problem in documentation?

[2017-03-22 16:48] andrewharp commented on #8550
The best thing to do would probably be to interact with the camera via the original android.hardware.Camera if the supportedHardwareLevel or Android API level is too low.

If you or someone else would like to contribute that it would be very much appreciated. This might also resolve #7464.

[2017-03-22 16:52] skye commented on #8591
@dandelionmane I'm assigning to you for now, please reassign if necessary.

[2017-03-22 16:54] #7406 closed

[2017-03-22 16:55] andrewharp commented on #8550
An easier workaround would be if INFO_SUPPORTED_HARDWARE_LEVEL_LEGACY is detected, just use the Y (luminance) plane. It can be mapped directly into RGB grayscale values. Detection quality might suffer a small amount (so a toast/log message would be warranted), but at least it wouldn't crash.

[2017-03-22 17:02] andrewharp commented on #7464
@davideb91 @bazinac @OverratedGman @vi7us
Would you mind logging your device's `android.info.supportedHardwareLevel`? I'm wondering if this is a common factor in all of this.

[2017-03-22 17:04] AndreaFar commented on #8627
@mrry The script crashes when `tf.contrib.layers.convolution2d` is invoked

[2017-03-22 17:09] syed-ahmed commented on #851
Hello all, I was able to install TensorFlow v1.0.1 on the new Jetson TX2. I had to follow similar process as mentioned above in this thread (protobuf, grpc, swapfile etc). For bazel, I downloaded [bazel-0.4.5-dist.zip](https://github.com/bazelbuild/bazel/releases/download/0.4.5/bazel-0.4.5-dist.zip) and applied @dtrebbien's change. Here is the pip wheel of my installation if it helps anyone. It's

[2017-03-22 17:12] mrry commented on #8627
Can you try running the script using [`python -m trace`](https://docs.python.org/3.5/library/trace.html) and report back with what the last lines were before the HDF5 error? That should help to track down what dependency is causing the problem.

[2017-03-22 17:31] jasonbunk commented on #8619
Having a similar issue, build fails for me on bazel version 0.4.5.

Build fails using "git checkout ede5ebe54f0689a53eeaf0fb1c9a25f136ab3a69"
http://pastebin.com/FHt0r5kS

Build succeeds using "git checkout 450386c513a4c68d6b77f9b475dc39b442775a86" which is the commit prior to the above failing one.
http://pastebin.com/3vGHik0G

CUDA Version 8.0.61
CUDNN version 5.1.10

bazel version info:

jbunk@

[2017-03-22 17:33] AndreaFar commented on #8627
@mrry this is the last line
`conv2d_layer1 = tf.contrib.layers.convolution2d(batch_immagine_float, num_outputs=32, kernel_size=(5, 5), stride=(2, 2), activation_fn=tf.nn.relu, weights_initializer=tf.random_normal_initializer(mean=0.0, stddev=1.0, seed=None, dtype=tf.float32), trainable=True)`

[2017-03-22 17:40] mrry commented on #8627
Did you get that line from running with `-m trace`? I would expect to see calls into various libraries (in particular, `import` statements for dependent libraries), and we'll need that information to determine the root cause.

[2017-03-22 17:40] jasonbunk opened #8628 "Build configuration error: TensorFlow is not configured to build with GPU support."
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-22 17:44] mrry commented on #2412
For the public *client* API, it should be relatively easy to make a DLL that exports just the symbols in [`c_api.h`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api.h) and I think we'd welcome contributions to the CMake or Bazel/Windows builds that make this possible.

The `_pywrap_tensorflow.pyd` library exports far more symbols in order to support the implicity-defined pu

[2017-03-22 17:48] skye commented on #8585
@ebrevdo @jvdillon @langmore

[2017-03-22 17:48] skye commented on #8583
@ebrevdo @jvdillon @langmore

[2017-03-22 17:50] damienmg commented on #8619
Can you give the output of `export` after the failing build?

On Wed, Mar 22, 2017, 1:33 PM Jason Bunk <notifications@github.com> wrote:

[2017-03-22 17:51] skye commented on #8579
Thank you for sharing the solution to your problem!

[2017-03-22 17:51] #8579 closed

[2017-03-22 17:55] ebrevdo commented on #8593
Perhaps it is a documentation problem.  the dtype of a distribution is the
dtype of the *samples it emits *(the dtype of dist.sample(...)).  log_prob
is always going to depend on the dtypes of the logits / probabilities /
whatever you passed to the initializer of the distribution.

On Wed, Mar 22, 2017 at 9:48 AM, Skye Wanderman-Milne <
notifications@github.com> wrote:

[2017-03-22 17:58] dmitry-xnor commented on #1763
IMO, the bug here is not actually that it doesn't scale the range. The bug is that range scaling depends on the input type. I will go out on a limb and say that _a lot_ of people get bit by this, and there are a lot of subpar models out there as a result. Some models are able to train around the lack of rescaling, some suffer an accuracy loss, especially if some kind of range-dependent mean center

[2017-03-22 17:58] skye commented on #8574
Which version of TensorFlow are you running?

[2017-03-22 18:01] Fenugreek commented on #3638
This is my proposed addition to the `tf.gather` doc in array_ops.cc:

---

`validate_indices`: DEPRECATED. If this operation is assigned to CPU, values in
`indices` are always validated to be within range. If assigned to GPU,
out-of-bound values in `indices` currently result in output values of `0`.

---
Given @hholst80 's comment on Aug 5, 2016 above, and confirming by looking at the CPU and GPU

[2017-03-22 18:04] dustinvtran commented on #8593
In Bernoulli, sample() casts the output to `self.dtype` before returning it. So it has the same dtype as the distribution's.
[code]
Not sure about the others. Are there cases where the dtype returned by sample() is different from the distribution's dtype?

[2017-03-22 18:11] guschmue commented on #2412
Totally agree. _pywrap_tensorflow.pyd includes a ton more than the public c api and exporting the c api only would be easy (+ maybe tensorflow::ops?). We added the TF_EXPORT define so we could just annotate the c api with TF_EXPORT.
BUT if your model requires a custom op that needs to be loaded (say a gru) I think you'd need to have my large .def file again. All a bit painful.
I'm actively trying

[2017-03-22 18:18] bdhingra commented on #7896
I am facing the exact same error. Relevant code below:

`def _mem_read(self, e):
        # e : B x R x C, self.memory : B x N x R x Dr
        N = tf.shape(self.memory)[1] # length of the sequence + 1
        eshuf = tf.transpose(e, perm=(2,0,1)) # C x B x R
        e1hot = tf.one_hot(eshuf, N, axis=2) # C x B x N x R

        # accumulate across C
        def _accum(acc, x):
            # x : B x

[2017-03-22 18:32] skye commented on #8588
This tutorial has been updated since the 1.0.1 release, and it looks like you're trying to run the updated version from master using 1.0.1. Either upgrade to nightly or try https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/examples/learn/wide_n_deep_tutorial.py.

I'm gonna close this issue for now, but please reopen if you continue to experience problems.

[2017-03-22 18:32] #8588 closed

[2017-03-22 18:33] derekhh commented on #8454
@aleksab Sorry for not being clear.

Basically I've created a new Python script that looks like this. This restores the TF-Slim Inception model from your previous checkpoint and reads from a placeholder. The model `inception_v1_final.pb` created can be used for Android.

I'm quite new to TensorFlow so I'm sure this won't be the best solution - creating a new Python script for this purpose already

[2017-03-22 18:38] martinwicke commented on #1763
In the presence of HDR images, scaling unconditionally to 0-1 for float inputs is not a good idea. What would you scale by? If a previous transformation incidentally left you with float data not in the range 0-1 (say, because you increased brightness by 10%), would you divide by 255? By the max?

I disagree that this is a bug. Dealing with types in image processing is always annoying, especially i

[2017-03-22 18:38] jasonbunk commented on #8619
The output of export is the same between the two commits except for ssh details I omitted.

[code]

[2017-03-22 18:38] AndreaFar commented on #8627
@mrry unfortunately enviroment crashes completely at this line and I'm unable to track the calls with more details, if I try to use `-m trace` console start an endless loop and I'm not even able to copy paste what appears

[2017-03-22 18:40] ebrevdo commented on #8593
I don't know of any distributions where sample().dtype != dist.dtype.

Most other methods should not be expected to match the dtype, because they
include computations on the probability and the domain of the
distribution.  All statistics, log_prob, etc, require computations that mix
the domain values (of type dist.dtype) of the probabilities (usually one of
tf.float{16,32,64}).

On Wed, Mar 22, 20

[2017-03-22 18:42] drpngx commented on #8609
Hi @DingkunLong  that's a great question for stackoverflow where we monitor all questions with the tag `tensorflow`. We reserve github issues for bugs in tensorflow. Thanks!

[2017-03-22 18:42] #8609 closed

[2017-03-22 18:42] ebrevdo commented on #8583
This is indeed a bug.  Solution is:

1. if the value can be checked statically, we should ensure its either 0 or
1.
2. if not, and validate_args is true, we need to add a dynamic assertion.

On Wed, Mar 22, 2017 at 10:48 AM, Skye Wanderman-Milne <
notifications@github.com> wrote:

[2017-03-22 18:43] drpngx commented on #8620
@petewarden for comments.

[2017-03-22 18:44] ebrevdo commented on #8585
How high priority is this bug for you, Dustin?

On Wed, Mar 22, 2017 at 10:48 AM, Skye Wanderman-Milne <
notifications@github.com> wrote:

[2017-03-22 18:44] drpngx commented on #8622
It sounds like virtualenv is not functioning, regardless of tensorflow?

[2017-03-22 18:46] drpngx commented on #8612
Thanks, that sounds like a good PR to send!

[2017-03-22 18:47] drpngx commented on #8612
Please mention this bug in the PR (`Fixes #8612` will make it auto-close this issue).

[2017-03-22 18:48] drpngx commented on #8617
@fchollet any idea?

[2017-03-22 18:49] ratzinho87 commented on #7108
I am having the same issue running the inceptionV3 network (the one offered by tensorflow/models).

[2017-03-22 18:50] damienmg commented on #8619
`cat .bazelrc` from the tensorflow workspace?

On Wed, Mar 22, 2017 at 2:41 PM Jason Bunk <notifications@github.com> wrote:

[2017-03-22 18:52] drpngx commented on #8625
That is correct. `tf.floor` doesn't have a gradient. It's not easily differentiable. See this stackoverflow [post](http://stackoverflow.com/questions/42206906/alternative-plan-of-tf-floor/42210345#42210345) for more details.

[2017-03-22 18:54] girving commented on #3638
Looks good.  Maybe change the GPU sentence to

[2017-03-22 18:55] tfboyd commented on #8602
Hi @pathak22 ,

What is your end goal?  If you are training a single model on a single machine there is usually no need to run distributed, which creates more to keep track of.  If I am reading your config correctly you are running 12 workers + 4 ps_servers simultaneously on one server.  If I made a random guess, you are getting contention for resources.  TF will handle scheduling for CPU:0 but mu

[2017-03-22 18:58] drpngx commented on #8624
Right, from your example it looks like it should have been folded all the way up to `c = 2` on `cpu` in the ideal case.

If you're confident, that might be a good PR to send. Also, I'm curious to know what happens with XLA enabled.

[2017-03-22 18:58] dmitry-xnor commented on #1763
But by the same argument, to make the behavior predictable and non-magical, you now have to guarantee transparency into types all the way along the chain. I don't see how that'd be feasible from API design standpoint, short of requiring dtype specifications for all ops so that they assert if they see the type they didn't expect. That seems onerous.

As things are today, _any_ op that converts imag

[2017-03-22 19:00] petewarden commented on #8620
I agree that it would be good to have more examples outside of images, and we do have some in-progress. We would welcome contributions too of course!

[2017-03-22 19:02] drpngx commented on #8628
Note: conversation currently continuing on #8619.

[2017-03-22 19:07] drpngx commented on #8561
Do you mind submitting a PR and CC @ebrevdo ?

[2017-03-22 19:10] drpngx commented on #8570
That's a great question for stackoverflow, where we monitor all questions with the tag `tensorflow`. We try to keep the github issues to bugs and feature requests only. Thanks.

[2017-03-22 19:10] #8570 closed

[2017-03-22 19:12] drpngx commented on #8572
I think you typically just decode a single channel by passing the channel argument to the `tf.image.decode_*` functions?

[2017-03-22 19:12] skye commented on #8403
Assigning to myself since I'm working on a stable, more user-friendly C++ API. Perhaps future TF libraries can dynamically link protobuf (or some other fancier solution) to avoid this problem moving forward.

[2017-03-22 19:15] drpngx commented on #8564
Looks like it might be that the test is too strict. Looping internally.

[2017-03-22 19:17] Ocean47 opened #8630 "NAN returning for cost and optimizer for tensorflow.train.GradientDescentOptimizer (updated code)"
Been working on this all day now and totally at a loss...  I keep getting Nan values for my cost function right away and i cannot tell why.  Any help much appreciated at this point....

I am running the following code with tensorflow GradientDescentOptmizer...

[code]

And get the following result...

if I uncomment out the alternate array values for X amd Y everything works fine...

I am using te

[2017-03-22 19:24] jasonbunk commented on #8619
It appears to be empty (zero bytes) in ede5ebe54f0689a53eeaf0fb1c9a25f136ab3a69 after ./configure, while there is no ".bazelrc" at all in 450386c513a4c68d6b77f9b475dc39b442775a86. If I simply delete the empty ".bazelrc" in ede5ebe54f0689a53eeaf0fb1c9a25f136ab3a69 before `bazel build --config=opt --config=cuda ...` it still fails.

[2017-03-22 19:31] fchollet commented on #8617
For the time being, any op that is not a Keras layer should be wrapped inside a Keras `Lambda` layer:

[code]

If the wrapping is broken at any point, then it prevents you from being able to build a Keras model with your inputs/outputs later on.

We will automate this wrapping in a later version.

[2017-03-22 19:32] ebrevdo commented on #8564
What version of tensorflow are you using?

On Wed, Mar 22, 2017 at 12:18 PM, drpngx <notifications@github.com> wrote:

[2017-03-22 19:50] ainurb commented on #8497
Hi @kinDSa! I'm doing the same tutorial on Tensorflow for poets, but getting some errors on retraining model. May be it's because of tensorflow version. Tutorial was written on 0.9.0 version. And I've tried get.io/tensorflow/tensorflow:latest-devel. May I ask which version did you use? :)

[2017-03-22 19:57] mrry commented on #8627
If you run `python -m trace myscript.py` from the Command Prompt, can you capture the last few lines of trace output? (Or does it *crash* the command prompt? In that case, something would have to be very broken....)

[2017-03-22 19:59] caisq commented on #8630
Have you tried [TensorFlow Debugger (tfdbg)](https://www.tensorflow.org/programmers_guide/debugger)?

[2017-03-22 20:07] poxvoculi commented on #8517
Is this exception arising spontaneously, or in response to a Ctl-C or similar interrupt?  I can only reproduce it by deliberately killing the program.

[2017-03-22 20:10] drasmuss commented on #8564
This is on `master` (commit af2ebdb827f0b07d8f7d2b76b061976a2a778cb0)

[2017-03-22 20:25] timestocome commented on #8574
Same problem here - using tf 1.0

[2017-03-22 20:51] bazinac commented on #7464
Hi @andrewharp, my android.info.supportedHardwareLevel on Galaxy S5 (which work ok) is 2 (this is INFO_SUPPORTED_HARDWARE_LEVEL_LEGACY probably), and on @vi7us's S6 it is 1 (which is INFO_SUPPORTED_HARDWARE_LEVEL_FULL). Then clearly there is difference. On Galaxy S5 it uses legacy camera HAL. It could be interesting, if someone like @OverratedGman who has Nexus 6p could check it too...

We will tr

[2017-03-22 21:10] dustinvtran commented on #8585
Not a high priority. Am curious if there's a convention. This helps determine what dtype to use for the random variables we have in Edward: PointMass (here, it is Deterministic), Empirical, and DirichletProcess. https://github.com/blei-lab/edward/tree/master/edward/models

This also relates to the support specs on discrete vs continuous.

[2017-03-22 21:22] jw447 commented on #8517
Than you poxvoculi, it occurs every time I run the program.

Actually, this issue does not occur on the TensorFlow built from source. But it does occur on pip version.

BTW, I think it only happens on multi-gpu system.

[2017-03-22 21:30] Ocean47 commented on #8630
Not yet, but I will try that now...

[2017-03-22 21:42] poxvoculi commented on #8517
In this case, the CUDA_ERROR_DEINITIALIZED error is probably a side effect of some other error that is causing a CUDA kernel to fail, and not a primary error.

When a CUDA kernel fails in a way that can't just return an error status to the next driver call, the driver shuts down.  However, TensorFlow still has some CUDA Event polling threads running (one for each GPU), and these can very quickly f

[2017-03-22 21:55] jw447 commented on #8517
Thank you. I am not sure why you cannot reproduce my problem. Here's my infrastructure information and software detail:

Hardware Platform:
4 vCPUs, 15 GB memory
4 * NVIDIA Tesla K80

Software Platform:
Operating System: Ubuntu 16.04
cuDNN v5
CUDA toolkit 8.0
CUDA Compute Capability 3.7

And I am using python3.4.

[2017-03-22 22:04] jasonbunk commented on #8619
In the latest commit 4e18625c55afdbe50e922a70a12df05320e387e0, if I revert the lines in "third_party/gpus/cuda_configure.bzl" to what they were in 450386c513a4c68d6b77f9b475dc39b442775a86, the compiliation succeeds.

[2017-03-22 22:05] Steve7878 opened #8633 "Please provide an example how to use a model trained from scratch for image classification"
The following documentation of TensorFlow-Slim contains how to train a model from scratch, but it's not explained how to use the resulting checkpoint files for image classification.
https://github.com/tensorflow/models/tree/master/slim#training-a-model-from-scratch

Although it's possible to load the pre-trained models (https://github.com/tensorflow/models/tree/master/slim#pre-trained-models) and

[2017-03-22 22:08] davidparks21 commented on #2130
To add to this discussion, to get a clean shutdown, this was the command I needed:

`sess.run(model.queue.close(cancel_pending_enqueues=True))`

[2017-03-22 22:10] skye commented on #8414
I'm gonna close this issue as it's not a bug or feature request. Thanks for posting to StackOverflow, that's the preferred forum for usage questions like this.

[2017-03-22 22:10] #8414 closed

[2017-03-22 22:16] damienmg commented on #8619
Ok the problem is the missing TF_* environment variable in the environment. We should check them in the .bazelrc files, let me prepare a PR for that.

[2017-03-22 22:22] drpngx commented on #8633
@wolffg @martinwicke @nealwu to consider?

[2017-03-22 22:42] martinwicke commented on #8633
The garden should contain that documentation, eventually.

[2017-03-22 22:49] yongtang commented on #2318
I added a PR #8638 to support `__array__`. Please take a look and let me know if there are any issues.

[2017-03-22 22:57] drpngx commented on #8581
Right. We need to call the right function on windows. It would be nice if you could submit a PR.

[2017-03-22 22:59] drpngx commented on #8571
CC @ebrevdo for comments

[2017-03-22 23:04] skye commented on #8448
@cmertin can you provide a (reasonably) minimal repro of this problem? It'd be helpful if you could modify the code snippet you provided so it runs as-is and produces the error you're seeing in your full model.

[2017-03-22 23:08] aselle commented on #8326
@dandelionmane, do you have any insights on this?

[2017-03-22 23:10] aselle commented on #8330
@mrry, could you please take a look?

[2017-03-22 23:11] spitis commented on #6903
If handling this issue in the framework is not practical, is there some way to throw a warning about this whenever a tensor is fed into a node that has an associated gradient computation, or at the very least include it as a warning in the reading data documentation (https://www.tensorflow.org/programmers_guide/reading_data)? This was unexpected behavior to me.

[2017-03-22 23:14] skye commented on #8581
This is a bug in TensorFlow. It looks like we're using the ANSI versions of Windows filesystem functions (e.g. in [windows_file_system.cc:444](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/windows/windows_file_system.cc#L444) we should use GetFileAttributesExW instead of GetFileAttributesExA, see [Microsoft's docs](https://msdn.microsoft.com/en-us/library/windows/de

[2017-03-22 23:16] skye commented on #8581
Oh, didn't see @drpngx's comment :) If @wangxianliang or someone else wants to spin up a patch that would be great.

[2017-03-22 23:22] aselle commented on #8340
Could you try adjusting the environment variables outside the program i.e. using export
[code]
It could be that os.environ() is not succesfully putenving the updates.

[2017-03-22 23:40] skye commented on #8486
@cwhipkey can you take a look at this?

[2017-03-22 23:43] #8547 closed

[2017-03-22 23:51] vi7us commented on #7464
@andrewharp, all,

I tried using both latest tf demo and our application using latest tf however it seems that thumbnail(s) are still distorted with application crashing occasionally. Attached are screenshot from latest demo and screen
![screenshot_20170323-003440](https://cloud.githubusercontent.com/assets/22727681/24225814/dc9382e4-0f62-11e7-8e1c-e71f85758e27.png)
shot of android studio when app

[2017-03-23 00:08] cwhipkey commented on #8486
One cause of this we've seen before is when the host compiler, that made ops_to_register.h, differs from the compiler used for the device.  The difference we saw was in handling of whitespace in kernel names.

In your case, you could try changing the ops_to_register.h to remove the space before CPUDevice where it occurs, e.g.:
`  BinaryOp< CPUDevice, functor::add<float>>`
becomes
`  BinaryOp<CPUDe

[2017-03-23 00:24] loretoparisi opened #8640 "Java: The TensorFlow library wasn't compiled to use AVX / SSE / FMA instructions, but these are available on your machine and could speed up CPU computations"
I'm building a small project using the current java binding of TensorFlow - [tensorflow-java ](https://github.com/loretoparisi/tensorflow-java)
When running the examples of inception network I get this warning about the platform cpu instruction set that could be used

[code]

Is it possibile to build the jar [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java) enabling SSE,

[2017-03-23 00:24] skye commented on #8596
Thanks, this script is very handy! It does appear to be a bug, but I'm not familiar enough with conv3d to diagnose. I've reached out to some people who I think should be able to help (I don't know their github handles).

[2017-03-23 00:24] ebrevdo commented on #8571
What is the shape of lookup?

[2017-03-23 00:32] derekhh opened #8641 "Cannot build Android demo - Bazel BUILD failed"
### Description

I've successfully built the [Android Camera Demo](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android) a couple days ago but I've failed to build the app today. The error message looks like this:

    ERROR: /Users/hao.hu/GitHub/tensorflow/tensorflow/tensorflow/core/kernels/BUILD:3870:1: C++ compilation of rule '//tensorflow/core/kernels:android_tensor

[2017-03-23 00:43] mjanusz commented on #8596
@alexanderalang: shape[shape==None] = 1 causes the first dimension of your kernels to be set to '1', which explains why you don't see a reduction in the 'z' dimension of the conv3d output.

[2017-03-23 00:51] drpngx commented on #8640
You need to build with `--config=opt` which will do `-march=native`.

@asimshankar

[2017-03-23 00:52] drpngx commented on #8641
Can you give us more information about version (TF, OS, compiler, etc) and what changed between the last successful run and this one?

CC @petewarden

[2017-03-23 01:02] derekhh commented on #8641
@drpngx Thanks for your reply. I'll try to do a `git bisect` to figure out the offending commit.

I'm building the Android demo from the latest master branch (as of right now) on Mac OS X.

Compiler info:

    ❯ gcc --version
    Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
    Apple LLVM version 8.0.0 (clang-800.0.42.1)

[2017-03-23 01:02] #8619 closed

[2017-03-23 01:02] poxvoculi commented on #8517
@zheng-xq Any ideas?  Is the set of software versions above compatible with the pip wheel?
[This doc page](https://www.tensorflow.org/versions/r0.10/get_started/os_setup) says that .whl is for CUDA 7.5 only.  Maybe that's what's causing the error, if building from source works.

[2017-03-23 01:04] gunan commented on #8622
This is definitely an issue with python in your virtualenv.
Since it is not a TF issue, I will close this.
Please reach use support channels for anaconda for help with python issues in anaconda.

[2017-03-23 01:04] #8622 closed

[2017-03-23 01:05] andrewharp commented on #8641
Which NDK is this? For best results try using 12b -- Bazel is known to have problems with more recent releases.

[2017-03-23 01:08] derekhh commented on #8641
@andrewharp It's r14b. I'll try r12b and see how it goes. :)

[2017-03-23 01:27] derekhh commented on #8641
OK. I just did a `bazel clean` and used `r12b` instead. Interestingly I'm receiving a different set of error messages:

[code]

I'll try r13b and see what I get. Maybe that was the NDK version I was using when I successfully built the Android demo.

[2017-03-23 01:52] andrewharp commented on #8641
What command line are you using to build, and what NDK API level do you have set in your WORKSPACE file?

[2017-03-23 01:57] isiosia opened #8642 "Graph with tf.cond can not be serialized correctly after calling remove_training_nodes."
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
#3667 may be the same problem? But that thread is closed without a clear answer.

### Environment info
Operating System:

- Tensorflow 1.0.0
- Python 2.7
- Ubuntu 14.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
CUDA 8.0
cuDNN 5.1

[2017-03-23 02:01] upavan commented on #8623
**'pip3' is not recognized as an internal or external command,
operable program or batch file.**
Note : My anaconda version is : Anaconda3-4.3.0.1-Windows-x86_64  (python 3.6.0)

Help me how can I resolve this ... Thanks

[2017-03-23 02:02] derekhh commented on #8641
@andrewharp

I'm using this command as [instructed](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android):

[code]

And this is the way I set SDK and NDK API levels:

[code]

[2017-03-23 02:04] lxsgdsgg commented on #8623
are u using pyhton 2.7?
if so , try
pip install tensorflow

[2017-03-23 02:19] andrewharp commented on #8641
Ah, your ndk api_level is too low: it needs to be at least 14.

I'd also leave the NDK at r12b (this is not tied directly to the api_level) for the time being until Bazel is confirmed to have no issues with anything more recent.

[2017-03-23 02:37] zakizhou commented on #8571
@ebrevdo does it matter? let's say embedding matrix is of shape [vocab_size=90000, embed_size=500], so lookup will be of shape [72, unkown, 500], output should be [72, unknown, 56], state.h should be [72, 56]

[2017-03-23 02:57] pathak22 commented on #8602
Thanks @tfboyd for your comment. Sorry for the confusion, but no I am not trying to run single model. I am trying to run _4 completely different programs on same machine_. These four programs have no relation to each other. Each program has 3 workers and 1 parameter server of its own, all 3 workers update their unique parameter server asynchronously using hogwild SGD. This is what I meant when I s

[2017-03-23 02:58] ebrevdo commented on #8571
can you confirm lookup is shape [72, unknown, 500]?

On Wed, Mar 22, 2017 at 7:37 PM, Jie Zhou <notifications@github.com> wrote:

[2017-03-23 03:05] netroby opened #8644 "unknown op: BestSplits (windows 10 + python 3.5.3)"
After install tensorflow on windows 10 with python 3.5.3, I try to run hello world. but got some message

[code]

[2017-03-23 03:11] zakizhou commented on #8571
[code]

[2017-03-23 03:24] lufengguang opened #8645 "errors meet after django call several times saver.restore"
File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/training/saver.py", line 242, in restore_op
    [spec.tensor.dtype])[0])
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/ops/gen_io_ops.py", line 668, in restore_v2
    dtypes=dtypes, name=name)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/framework/op_def_library.py", line 763, in apply_op
    op_d

[2017-03-23 04:16] derekhhsc commented on #8641
Ah, I was so stupid. This fixes the problem!

For those careless guys who might meet the same problem in the future, I observed the original error message when my `android_ndk_repository` is defined like this:

[code]

I didn't check anything and I thought that integer value in `r%db` should match the value of `api_level`. So while using `r12b` and `r13b` I've basically changed `api_level` to 12 a

[2017-03-23 04:18] derekhhsc commented on #8641
@andrewharp

One more thing to add, using `r12b` and `api_level=14`, the original error message now becomes warnings like this:

[code]

[2017-03-23 04:25] derekhh commented on #8641
Ah, I was so stupid. This fixes the problem!

For those careless guys who might meet the same problem in the future, I observed the original error message when my `android_ndk_repository` is defined like this:

[code]

I didn't check anything and I thought that integer value in `r%db` should match the value of `api_level`. So while using `r12b` and `r13b` I've basically changed `api_level` to 12 a

[2017-03-23 04:25] derekhh commented on #8641
@andrewharp

Thanks again for your help. BTW, using `r13b` and `api_level=14` gives me the same error messages as the first post.

One more thing to add, using `r12b` and `api_level=14`, the original error message now becomes warnings like this:

[code]

[2017-03-23 04:47] upavan commented on #8623
Collecting tensorflow
  **Could not find a version that satisfies the requirement tensorflow (from versions: )
No matching distribution found for tensorflow**

[2017-03-23 05:03] drpngx commented on #8641
Great to see this is solved!

Thanks @andrewharp for the help! Feel free to coordinate with @wolffg if we need to update the docs.

[2017-03-23 05:05] Ocean47 commented on #8630
Also changing to AtomOptimizer works fine as well... Guess the answer is it is what it is....

[2017-03-23 05:05] drpngx commented on #8645
I am not sure it's a bug in TensorFlow. I think you're trying to restore from a checkpoing from different models. Do you have a simpler repro? Without django? (It could be concurrent access to the web server?)

[2017-03-23 05:07] drpngx commented on #8644
/cc: @guschmue @mrry in case they know if these ops are in windows and why we would be getting these messages.

[2017-03-23 05:08] drpngx commented on #8642
@petewarden any clue maybe?

Just checking @isiosia that this is not related to `Identity` nodes?

[2017-03-23 05:13] Fenugreek commented on #3638
Ok, changed it as so and put in the associated pull request #8646 .

[2017-03-23 05:25] guschmue commented on #8644
I think this happens only in the 1.0 branch, master is fine. Maybe some commit missing into the 1.0 branch? I can take a look tomorrow unless @mrry knows.

[2017-03-23 05:26] drpngx commented on #8628
Fixed by https://github.com/tensorflow/tensorflow/commit/fba05c300bf6840e76787680ed7fd1239cdb9ad0
 Thanks @damienmg !

[2017-03-23 05:26] #8628 closed

[2017-03-23 05:27] lufengguang commented on #8645
I'm sure the models  are the same .Otherwise the front  several times would not work . I send the repro to your email. Thanks~

[2017-03-23 05:27] drpngx commented on #8644
@netroby Can you try 1.0.1?

[2017-03-23 05:32] asimshankar commented on #8640
@loretoparisi To enable these you'll have to build from source using the bazel flags @drpngx suggested.

Unfortunately, in the near term, the release binaries will be built without some of these (see https://github.com/tensorflow/tensorflow/issues/8266#issuecomment-285919845 for a discussion).

Note that these are just warnings, there should not be any correctness issues. So if you're prototyping

[2017-03-23 05:32] #8640 closed

[2017-03-23 05:33] guschmue commented on #8644
had the same thought and just tried ... message is still there in 1.0.1

[2017-03-23 05:37] drpngx commented on #8644
@gunan @yifeif I don't know which commit that would be, and if it would be worth a cherry pick.

[2017-03-23 05:58] arifle commented on #7126
The same problem in Windows 7.
Everything works well before the test command, "import tensorflow as tf".
D:\Python35\Scripts>pip show tensorflow
---
Metadata-Version: 2.0
Name: tensorflow
Version: 1.0.1
Summary: TensorFlow helps the tensors flow
Home-page: http://tensorflow.org/
Author: Google Inc.
Author-email: opensource@google.com
Installer: pip
License: Apache 2.0
Location: d:\python35\lib\sit

[2017-03-23 06:00] arifle commented on #7126
and this
D:\Python35\Scripts>pip list
appdirs (1.4.3)
numpy (1.12.1)
packaging (16.8)
pip (8.1.1)
protobuf (3.2.0)
pyparsing (2.2.0)
setuptools (34.3.2)
six (1.10.0)
tensorflow (1.0.1)
wheel (0.29.0)
You are using pip version 8.1.1, however version 9.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' comm
and.

[2017-03-23 06:03] zehzhang opened #8647 "Try to call tf.select but get AttributeError: 'module' object has no attribute 'select'"
Here is the traceback information:
Traceback (most recent call last):
  File "guidedBack.py", line 149, in <module>
    grads = K.gradients(model.layers[-2].output[0, 0], model.layers[-6].layers[-2].output)[0]
  File "/N/u/zehzhang/myTensorflow/lib/python2.7/site-packages/keras/backend/tensorflow_backend.py", line 2108, in gradients
    return tf.gradients(loss, variables, colocate_gradients_with_

[2017-03-23 06:07] gunan commented on #7126
This is an already resolved issue.
Please try the suggestions above. If they do not work, please file a new issue filling in the full issue template.

[2017-03-23 06:09] gunan commented on #8623
On windows, we only support python 3.5. We do not have support for python 2.7
This is clearly stated in our installation guide here:
https://www.tensorflow.org/install/install_windows

Closing this issue, as this is not an issue in TF itself.

[2017-03-23 06:09] #8623 closed

[2017-03-23 06:13] gunan commented on #8586
The upgrade process is completely managed by PIP package manager.
PIP is just a tool we use to deliver tensorflow.
Unfortunately, it at times has bugs. Looks like you ran into one of these.
It looks like TF actually upgraded, but pip was not able to record the metadata correctly.

If you are not using virtualenv, you may need to use "sudo" to when running pip. If you are in a virtualenv, make sure

[2017-03-23 06:13] #8586 closed

[2017-03-23 06:15] wangxianliang commented on #8581
Maybe the bug is not related to the ANSI version of GetFileAttributesExA.
I created a new project, and used the code snippet of GetFileSize. The function can get the file attributes correctly whenever the input file name contains non ASCII characters or not.

[2017-03-23 06:16] yjliang123 commented on #312
I have a same question. when I restore my LSTM model trained by tensorflow 0.11, the error message told me some variable can not found in checkpoint file, but when I use the  [inspect_checkpoint.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/inspect_checkpoint.py), that variable is existed and have data, I have been confused long time. How can I fixed it?
`NotFoun

[2017-03-23 06:18] gunan commented on #8644
I think this was resolved 1 day after 1.0 branch cut.
You can try nightlies, or you can wait for 1.1

[2017-03-23 06:18] Mahdizade commented on #6599
@benwu232 Thanks for your comment. My issue is already exists. I will test your solution but I see the leak on my validation code. till now I cant find the problem. in my validation code leak happened only in the first load of graph parameters, after validate one checkpoint and load another checkpoint, I don't see any leak in htop. I will investigate more on this problem. I don't thing the saver i

[2017-03-23 06:19] upavan commented on #8623
Hi.,
I'm using python 3.6 Version. Still facing the issue.. If you are interested in closing the issue, go ahead and close, but my issue is not resolved.   My environment details : OS - Windows 10 and Python 3.6 and how would you know my python version is 2.7 (no where I mentioned) ?

[2017-03-23 06:21] gunan commented on #8525
Nightly should help with most of those unknown op issues, if not all.
Also, soon 1.1 will be released, which will be similar to nightlies.

[2017-03-23 06:23] jsondoo commented on #8623
@upavan It seems like you're using python 3.6? You can create and activate a new environment with python version 3.5 by doing `conda create --name tensorflow python=3.5`

[2017-03-23 06:24] gunan commented on #8623
We currently only have support for python 3.5 on windows, as stated in our installation documentation.
I assumed you used python 2.7, as you did not respond negatively to @lxsgdsgg 's query.
Sorry for the misunderstanding.

If you are using anaconda, you can follow the suggestion by @jsondoo to create an environment that has python 3.5

[2017-03-23 06:27] arifle opened #8648 "No module named tensorflow occurs, Windows 7 no GPU involved"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
Same problem on Linux or MacOS.

### Environment info
Operating System: Windows 7

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
No

Tensorflow is well installed to a Windows 7 before posting this question.
D:\Python35\Scripts>pip sho

[2017-03-23 06:39] gunan commented on #8648
I do not really see an error message.
It looks like import command ran fine?

[2017-03-23 06:40] gunan commented on #8648
I mean, if you are seeing this:
[code]
That means TensorFlow is installed and imported OK.

[2017-03-23 06:43] arifle commented on #8648
@gunan Thanks for this reply.
It gives this error after import
C:\Users\Administrator>python
Python 2.7.12 (v2.7.12:d33e0cf91556, Jun 27 2016, 15:19:22) [MSC v.1500 32 bit (
Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named tensorflow

[2017-03-23 06:50] gunan commented on #8648
Could you try running ipython, and then importing tensorflow?
ipython is simply an improved python shell, so if it works there, it may be simply due to python paths not being setup correctly.

[2017-03-23 06:58] arifle commented on #8648
Thank you, @gunan .
It looks like a version problem? I have both 2.7 and 3.5 installed in different drive and the terminal launches 2.7 in default. Paths of python3.5 are also added to the env. I launched python under d:\python35 and perform import command which gives no output but another prompt simply as what I did in iphyton.

[2017-03-23 07:06] gunan commented on #8648
That completely explains the problem.
TensorFlow only support python version 3.5 on windows.
https://www.tensorflow.org/install/install_windows
No output when you run the import command means success in python.

The import error in python 2.7 is completely expected.

I will close this issue, as it looks like you have a successful python 3.5 installation with tensorflow, and python 2.7 is not worki

[2017-03-23 07:06] #8648 closed

[2017-03-23 07:08] gunan commented on #8648
On windows I am not sure how you would setup your path to always start python 3.5 when you run python command in your terminal. But you can probably look around online to see how people setup their development envronments.

[2017-03-23 07:09] kinDSa commented on #8497
@ainurb, I am using 1.0.1 version. Still I getting this error but after follow tensorflow for mobile blog then I successfully use model.

[2017-03-23 07:15] FightingZhen opened #8649 "Who can tell me the way to use tf.confusion_matrix()?"
I want to craete a confusion matrix to get the result of test data performance, I found that there is a function 'tf.confusion_matrix()', but I don't know how to use it, anybody can tell me ?

[2017-03-23 07:16] upavan commented on #8623
Hi Team.,

Thanks.. I guess TensorFlow got installed on my PC.. Thanks a lot..

And one more issue with Jupyter/ Spyder :  While working with Jupyter/ Spyder ., I'm facing the below error : **ModuleNotFoundError: No module named 'tensorflow'**  --- Do I need to install any other external software / Packages.. Please let me know how can I work with GUI tools like Jupyter/ Spyder .. meanwhile I'll t

[2017-03-23 07:38] gunan commented on #8623
Im glad the issue is resolved for you.
For the issue with Jupyter/Spyder, it sounds to me like a setup issue with Jupyter.

Github is a direct channel to tensorflow developers for reporting bugs in tensorflow itself.
It sounds like you are having some problems with Python/Jupyter/Spyder setup, which are standalone pieces of software themselves.
I recommend reaching out to stackoverflow for general

[2017-03-23 07:46] upavan commented on #8623
Thanks for the info.. can you give me the link for stackoverflow of github, I'm trying to post but I didn't find the link., please share me the link to post my issue... thanks

[2017-03-23 07:49] gunan commented on #8623
stackoverflow is stackoverflow.com
For product forums, you will need to google search the products you are using and browse through the results.

[2017-03-23 07:52] upavan commented on #8623
Thanks a lot... you are amazing ....

[2017-03-23 07:57] kimgada commented on #8251
Good.

[2017-03-23 08:10] flybirp opened #8651 "how to add conditions to tf.Print"
can I add a certain condition to the tf.Print op?
something like print after certain iterations or something similar
I have tf.Print to print out the losses during training, therefore there is too many lines I couldn't possibly read

[2017-03-23 08:39] naatje80 opened #8652 "AttributeError: 'NoneType' object has no attribute 'TF_NewStatus"
In the latest sources the issue: https://github.com/tensorflow/tensorflow/issues/3388 is fixed in the thensorflow/python/client/session.py, But I now receive the following error instead:
[code]
I compiled the model manually using the latest version sources and using Bazel 0.4.5. The same seems to be true as with the issue 3388: The error is not always popping up and the run seems to have ended nor

[2017-03-23 08:42] abrahamrhoffman commented on #5141
@bradleygibson you da man! Worked great for me as well! W00p W00p!

[2017-03-23 09:23] Nayana-ibm commented on #3527
@gunan
Will you please email me on nthorat@us.ibm.com.

[2017-03-23 09:35] shyzh commented on #8587
Same issue.

FAILURE: Build failed with an exception.

* Where:
Build file '/Users/tensorflow/tensorflow/examples/android/build.gradle' line: 144

* What went wrong:
A problem occurred configuring root project 'android'.

[2017-03-23 09:40] techscientist commented on #6184
I'm also having the same problem...Any updates on this?

[2017-03-23 09:46] tristandeleu commented on #8242
I temporarily patched this issue in this special case by replacing the `tf.identity` node by
[code]
But I think `optimize_for_inference` should not drop operations that are actually used for inference, especially the output node.

[2017-03-23 09:48] shuuchen opened #8654 "AttributeError: module 'tensorflow' has no attribute 'layers'"
Hi there,

The source code of tutorial
* https://www.tensorflow.org/tutorials/layers
* https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/layers/cnn_mnist.py

cannot run on my MacAir.

It just reported: AttributeError: module 'tensorflow' has no attribute 'layers'
Is that a version problem?

[2017-03-23 10:12] star277hk opened #8655 "Bazel does not support execution of Python interpreters via labels yet"
I following tutorial https://www.tensorflow.org/tutorials/image_retraining
when I try to use the retrainer I got this error
Bazel does not support execution of Python interpreters via labels yet error

What can I do ?
![screen shot 2017-03-23 at 6 10 04 pm](https://cloud.githubusercontent.com/assets/18695558/24242844/0fa487aa-0ff4-11e7-9cf6-3fe8cadde0ae.png)

My setting:
Python 2.7.13
Tensorflow R

[2017-03-23 10:18] saurabhvyas commented on #6068
Thank you @chrisrytting  @aselle

[2017-03-23 10:27] AndreaFar commented on #8627
@mrry As i have said is not possible, if I try to run the script with - m trace console goes crazy ant I'm forcet to CTRL+ALT+DEL. If I run the script without -m trace the whole python crashes but let me copy paste the error described above. Yes something is very broken

[2017-03-23 11:21] Alek-dr commented on #255
I had a problem: failed call to cuInit: CUDA_ERROR_NO_DEVICE. And root of problem was enviroment varible CUDA_VISIBLE_DEVICES = 1. One is ID, not count. Switch it to 0.

[2017-03-23 12:07] abdasgupta commented on #8466
Hi @skye  and  @antoajayraj ,

First let me describe my setup - I am running tensorflow training on inception v3 model to fine tune for Flowers data set(see https://github.com/tensorflow/models/tree/master/inception), through docker in a small kubernetes cluster made of power 8 machines. I have 4GPUs at my disposal.
My container and host OS are Ubuntu 16.04.
Host kernel is : 4.4.0-64-generic
GLibc

[2017-03-23 12:34] matthiasreisser opened #8656 "Inconsistent behaviour between CPU and GPU gradient step operation"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
None

### Environment info
Operating System: Linux Mint 17.2 Rafaela

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
ls -l /usr/local/cuda/lib64/libcud*
/usr/local/cuda/lib64/libcudadevrt.a
/usr/local/cuda/lib64/libcudart.so -> libcuda

[2017-03-23 12:36] jostosh opened #8657 "Numeric stability CPU vs GPU"
### Numerical stability CPU vs GPU
My lab partner and I found that in some cases, our scripts would run into numerical instability issues when using GPU, while they would run fine using a CPU. To minimally reproduce this issue, we've come up with the following script:
[code]
If we run this with CUDA_VISIBLE_DEVICES="", we see that the script reaches 219 steps before being either `nan` or `inf`. If

[2017-03-23 13:31] julj opened #8658 "Saving best models instead of most recent models with tf.train.Saver."
Most of the time I want to save the best models instead of the most recent models. Doing so using tf.train.Saver requires to choose when to save a model and to delete the worst model (which might not be the oldest) "manually".

A method to save the N best models (according to some user defined value) would be nice.

[2017-03-23 13:33] yuanchen1122 opened #8659 "My tensorboard can not show anything."
(The code didn't show any errors and my Brower is firefox)What's wrong with it ?

[2017-03-23 13:49] reuben opened #8660 "Error when creating a summary inside a tf.while_loop in a multi-GPU setup (like CIFAR-10)"
Why diagnosing a problem with batch normalized RNNs, I tried to add a summary of the population statistics in my batch normalized cell, but then when I try to run the merged summaries I get the following error:

tensorflow.python.framework.errors_impl.InvalidArgumentError: The node 'Merge/MergeSummary' has inputs from different frames. The input 'tower_2/rnn/while/multi_rnn_cell/cell_4/gru_cell/ga

[2017-03-23 13:50] reuben commented on #8660
This only happens when I have multiple towers. Masking GPUs with CUDA_VISIBLE_DEVICES so that only tower_0 is created makes the problem go away.

[2017-03-23 14:01] mrry commented on #8644
Yes, the `BestSplits` kernel has become [infamous](http://stackoverflow.com/q/42217532/3574081). Closing as resolved/a duplicate.

[2017-03-23 14:01] #8644 closed

[2017-03-23 14:03] jubjamie commented on #8649
I can help you with this. But this is not a feature or bug issue with Tensorflow. Please create a stackover flow question, post it here, then close the issue. I will come and answer it for you.

Thanks

[2017-03-23 14:05] mrry commented on #8627
Perhaps you could redirect the output with `-m trace` to a file?

[2017-03-23 14:06] jubjamie commented on #8647
Is Tensorflow imported correctly as tf in the file throwing the error?
Does the top of that file read:
[code]
Please check your import statement.

[2017-03-23 14:07] matthiasreisser commented on #8651
You could do something like:
[code]
But I think these questions should be asked on stackoverflow.
M

[2017-03-23 14:09] jubjamie commented on #8654
Can you please post the output of `python -c 'import tensorflow as tf; print(tf.__version__)' `

Layers was only recently introduced out of contrib. Please post output of above and we can go from there.