[2016-09-16 18:52] champnaman commented on #4403
I have tried it many times, but the same error again.

[2016-09-16 18:56] yaroslavvb opened #4416 "GPU Nightly links broken"
The links to .whl files on https://github.com/tensorflow/tensorflow are broken for Linux GPU and Mac GPU

https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-linux-gpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=gpu-linux/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow-0.10.0-cp27-none-linux_x86_64.whl

https://ci.tensorflow.org/view/Nightly/job/nightly

[2016-09-16 19:04] andrewharp commented on #4346
Ok, looks like we just need to add an extra include dir. I just tested by changing copts to:
    `copts = tf_copts() + ["-Iexternal/gemmlowp"],`
and can confirm it builds. Let's just hope it works for you at runtime :)

[2016-09-16 19:29] wilesdaliglass commented on #4358
You can go ahead.

[2016-09-16 20:23] yaroslavvb commented on #4413
what if you do
[code]

[2016-09-16 20:33] ethereon opened #4419 "tf.get_variable without an explicit initializer fails for integer types"
The following fails (shape and name are arbitrary):

[code]

Exception: `TypeError: Expected int32, got -1.7320508075688772 of type 'float' instead.`

In contrast, using `tf.float32` works just fine.

The problem appears to be https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/variable_scope.py#L658

If an initializer is not provided (and a default one is not set), a unifor

[2016-09-16 22:03] sirgogo commented on #1511
I know this is closed, but I thought I might mention for the sake of Googler's: most non-linear operations (such as tf.cast) do not provide gradients. However, there might be a method to specify the gradient of a custom operation (e.g. piecewise linear trig function) . See here: #1095 .

[2016-09-16 22:04] martinwicke commented on #586
What's the status of this? @yifeif may be able to help.

[2016-09-16 22:36] andydavis1 commented on #4385
4ms for such a small Matrix-Vector product sounds high. Can you include more information about your environment, a reproducible test case, and a timeline?

[2016-09-16 22:45] hholst80 commented on #4413
@yaroslavvb that works. do you have any idea why?

It certainly looks like its initializing a session but not setting the default session variable.

[code]

[2016-09-16 22:50] andydavis1 commented on #4352
@szsongyj Given @andrewharp comment, is this still an issue?

[2016-09-16 22:52] andydavis1 commented on #4367
We need a reproducible test case (and other information requested in the template) that demonstrate the issue. Short of that, you might try asking this question on StackOverflow using tag 'tensorflow' to see if others might have a quick answer for you.

[2016-09-16 22:52] #4367 closed

[2016-09-16 23:08] #3139 closed

[2016-09-16 23:14] yaroslavvb commented on #4413
You are not saving `tf.InteractiveSession()` into any variable, so it gets garbage collected. Jupyter has helper variable `_` which stores output of last expression, so in one of the cases this variable prevents your session from getting gc'ed

[2016-09-16 23:42] indhubharathi opened #4420 "Out of Memory error running Inception v3 distributed on 4 machines."
I'm trying to run Inception v3 (https://github.com/tensorflow/models/tree/master/inception) distributed on upto 32 machines.

I'm seeing out of memory error when I run it on **4 machines**.

Here is the error:
[code]

I'm using EC2 G2.8XL instances. These instances have:
1. Intel Xeon E5-2670 (Sandy Bridge) Processors
2. 60 GB memory and
3. Four GK104GL [GRID K520] GPU with 4 GB memory on each of

[2016-09-17 00:16] argman commented on #4361
Dont know why, I cannot do multi-gpu training when batch_norm moving_avg is applied, but when I update my tf to master version and update my cuda,cudnn, the problem go away.

[2016-09-17 00:34] caisq commented on #4416
This is because since the version string was updated from 0.10.0rc0 to 0.10.0, there hasn't been a passing build in the Linux GPU nightly configuration yet. See history: http://ci.tensorflow.org/view/Nightly/job/nightly-matrix-linux-gpu/

To work around this temporarily, use URLs in which 0.10.0 is replaced with 0.10.0rc0. It should resolve itself when they pass.
Sorry about the inconvenience.

[2016-09-17 01:17] squallssck commented on #4379
same here when configure both on my mac and my desktop , this is what it looks like when configure on my mac

(tensorflow_anaconda/) KCs-MacBook-Pro:tensorflow kc$ ./configure
~/tensor_versions/tensorflow ~/tensor_versions/tensorflow
Please specify the location of python. [Default is /Users/kc/anaconda2/envs/tensorflow_anaconda/bin/python]:
Do you wish to build TensorFlow with Google Cloud Platfor

[2016-09-17 01:49] KeithYin commented on #4379
@squallssck  would you like to isntall the latest version of tensorflow? if not. you can try this method:[http://wiki.jikexueyuan.com/project/tensorflow-zh/get_started/os_setup.html](url) you need just change the version 0.8.0 to 0.9.0 just like this  `sudo pip install --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.9.0-cp27-none-linux_x86_64.whl `. I hope it helps .

[2016-09-17 01:57] danijar commented on #586
That would be perfect. I don't have the time for it, unfortunately. Can you contact @mrry?

[2016-09-17 02:05] jmhodges commented on #3654
Btw, this seems to be because openswitch has put a Let's Encrypt CA certificate in place, but our JVM's don't trust the IdenTrust ("Digital Signature Trust Co.") signed issuer cert

[2016-09-17 02:30] jmhodges commented on #3654
Oh! I left out that we should update our JVMs to the latest JVM. I know for a fact that JDK 8u102 works correctly with Let's Encrypt certificates. I think there's earlier versions that do, as well.

[2016-09-17 02:36] szsongyj commented on #4319
`syj@syj-dl:~$mv tensorflow  tensorflow.bak0917

syj@syj-dl:~$ git clone https://github.com/tensorflow/tensorflow
正克隆到 'tensorflow'...
remote: Counting objects: 87905, done.
remote: Compressing objects: 100% (685/685), done.
remote: Total 87905 (delta 384), reused 0 (delta 0), pack-reused 87215
接收对象中: 100% (87905/87905), 57.97 MiB | 1.28 MiB/s, 完成.
处理 delta 中: 100% (65026/65026), 完成.
检查连接... 完成。

[2016-09-17 02:43] szsongyj commented on #4319
Thank you all @andrewharp,  @gustavla,  @aselle, @shkr , with your kind help  after over 10 days attempt  the configuration passed.  :)

[2016-09-17 02:44] szsongyj commented on #4319
Thank you @aselle , @jart

[2016-09-17 04:13] szsongyj commented on #4319
`syj@syj-dl:~/tensorflow$ bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

Target //tensorflow/tools/pip_package:build_pip_package up-to-date:
  bazel-bin/tensorflow/tools/pip_package/build_pip_package
INFO: Elapsed time: 789.711s, Critical Path: 749.46s

syj@syj-dl:~/tensorflow$ bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg
2016年 09

[2016-09-17 05:16] brando90 opened #4422 "Error while install tensorflow with pip install and python 3.5.2"
I was trying to in tensorflow from pip following the standard instructions and I get this error every time:

[code]

Googling didn't help me so I'm here. Some more info:

Operating System:

    Linux openmind7 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Installed version of CUDA and cuDNN:
    cuda 7.5
    cuDNN 5

I know its good to give reproducible e

[2016-09-17 05:43] israelg99 commented on #4396
My understanding of the problem is that you are trying to run tensorflow with GPU support while your `LD_LIBRARY_PATH` does not point to paths that contain `libcuda.so` nor cuDNN files.

Therefore, the issue is not directly with tensorflow, but with the CUDA and cuDNN installation.
To solve this, you need to install CUDA and cuDNN such that the variable `LD_LIBRARY_PATH` in the environment you're

[2016-09-17 05:50] israelg99 commented on #4362
Can you post how you configured tensorflow?

[2016-09-17 06:07] zengfancy commented on #4385
Thanks for you reply. I just want a answer for question "is 4ms expected". if not, I will try more investigation on it.

[2016-09-17 08:02] thjashin opened #4423 "set_shape cause gradient error in a condition case"
### Environment info

Operating System: Ubuntu 16.04

If installed from binary pip package, provide:
1. A link to the pip package you installed: [https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl](https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl)
2. The output from `python -c "import tensorflow; pr

[2016-09-17 08:33] daeyun opened #4424 "`tf.count_up_to` returns the old value"
Environment info: Ubuntu 16.04, IPython interactive session

Installed version of CUDA and cuDNN: 7.5.18, 5.1.3

Installed from the nightly pip package for python 3.4.

How to reproduce:

[code]

Expected output:
[code]

What I see instead:
[code]

For some reason, the tensor from `tf.count_up_to` evaluates to the old value instead of the updated value.

[2016-09-17 08:45] daeyun commented on #4424
I noticed that the documentation says (current behavior):

But it also says (similar to `tf.assign_add`)

[2016-09-17 09:33] petewarden commented on #3469
No update on this one I'm afraid. I've been focused on the makefile approach to building for the Pi, and I'm not familiar enough with Bazel to suggest the right way to handle this.

[2016-09-17 10:52] bhack commented on #1996
Why this rapid position change by google? Was self assigned to google just 17 days ago.

[2016-09-17 12:10] liviu- commented on #4413
@yaroslavvb I also think it may be something related to the GC, but perhaps Jupyter has a more complex variable persistence system?
If you run a cell with
[code]
and then delete the contents of the cell, and run
[code]
Then `1` is stored in `_` (as verified by running `print(_)`), but the session still works (as verified by `tf.constant(0).eval()`). Could it be that Jupyter stores a history of out

[2016-09-17 17:16] gopi77 commented on #4105
Got this problem ERROR: no such package '@local_config_cuda//crosstool':  again today.
After various attempts the below steps worked.

1.  sudo apt-get upgrade bazel
2. ./configure (i didn't repeat this step >> $ git clone https://github.com/tensorflow/tensorflow)
3. # To build with GPU support:
bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

4.
mkdir _python_bui

[2016-09-17 17:28] dusty-nv commented on #851
You should re-install using [JetPack 2.3](https://developer.nvidia.com/embedded/jetpack) because the latest release also updated to Ubuntu 16.04 aarch64 in addition to CUDA 8.   The underlying version is tied to the L4T BSP in JetPack.

[2016-09-17 17:54] cesc-park opened #4425 "tf.nn.softmax makes "GPU sync failed Error" for large size inputs."
### Environment info
Operating System:
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.3 LTS
Release:        14.04

### GPU info
GPU :  GTX TITAN X
Driver :  Driver Version: 367.44

Installed version of CUDA and cuDNN:

CUDA 7.5
CUDNN 5.1.3

If installed from binary pip package, provide:

https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-linux-gpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PI

[2016-09-17 18:19] steverichey commented on #4346
This does indeed fix the problem at build and runtime. This reduces the size of my frozen graph definition file to 25% of its previous value, but I'm not seeing the performance improvement I would expect at runtime. Running on a Nexus 6 with Nougat, running a session with the same input takes twice as long. Is this expected?

[2016-09-17 20:41] alquraishi opened #4427 "Clarify math or paper reference behind AttentionCellWrapper"
The documentation for `AttentionCellWrapper` in contrib states that it's based on this [paper](https://arxiv.org/abs/1601.06733). However, the attention mechanism in the paper appears to be distinct from that in `AttentionCellWrapper`. For example the TF implementation involves convolutions and requires a fixed attention window, neither of which are a feature of the referenced paper. I suggest tha

[2016-09-17 21:31] tcfuji commented on #4187
Getting the same error while installing version `0.10.0` from source. Not getting the error with version `0.10.0rc0` though.

[2016-09-17 23:26] hholst80 commented on #4413
If it was as simple as having the session variabel in the workspace, two evals in sequence would not work. The first one would overwrite _ and the session would be GC. I would say something is wrong with the internals of tf.InteractiveSession?

PS. The output is from  ipython.

[2016-09-18 00:22] PatrickChrist opened #4428 "Slim Tutorial and Script broken due to Commit 8d1b23d999a563c56236a3d250e18ef825e4e66e"
Hey TF Team,

Commit 8d1b23d999a563c56236a3d250e18ef825e4e66e broke the TF Slim Tutorial and TF Slim Script:
https://github.com/tensorflow/models/blob/master/slim/scripts/finetune_inception_v3_on_flowers.sh
Reverting this file to 4d241449aeb3707143c64e1be106cc6828a0d7b0 solves the issue https://github.com/tensorflow/tensorflow/commit/4d241449aeb3707143c64e1be106cc6828a0d7b0#diff-197163b98ebda1e22c

[2016-09-18 00:27] yaroslavvb commented on #4413
there's Jupyter history  that saves output of previous evals

On Sep 17, 2016 4:26 PM, "Henrik Holst" <notifications@github.com> wrote:

[2016-09-18 02:03] lan2720 opened #4429 "A very simple script using Optimizer.compute_gradients() prodeces Nan for all gradients"
Hi all,

[code]
Run it, I got the following result.

![selection_107](https://cloud.githubusercontent.com/assets/5330101/18612210/706d7be2-7d86-11e6-9796-ab98b73b74ae.png)

As you see all GRADIENTS are Nan. Is there anything wrong in my code or PC? I don't know why it cannot compute correct gradients.

[2016-09-18 02:38] dexter4455 opened #4430 "ERROR: failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command , CUDA 8.0, cudnn 5.1.5, Cuda compute 6.1"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-09-18 02:59] vladfi1 opened #4431 "Forward mode ad, directional derivatives"
Say I have `outputs = f(inputs)` and `g` of the same shape as `inputs`. I'd like to compute the directional derivative of `outputs` with respect to `inputs` in the direction `g` - in other words, the derivative of `f(inputs + alpha * g)` with respect to `alpha` at the point `alpha=0`.

This is a straightforward application of forward-mode automatic differentiation, which should be pretty easy to i

[2016-09-18 03:28] cherishlc opened #4432 "wrong tf.control_dependencies using tf.case and tf.cond"
add tf.control_dependencies in one branch of tf.case infulunce the other brach:
tf version: rc10

as we can see below, the tfvar is increasing no mather brach f1 or f2 is executed
change tf.case to tf.cond will get the same output.

`def testTF_case_with_control_dependencies():

    isTraining=tf.placeholder(tf.bool,shape=[])
    tfvar=tf.Variable(tf.constant(0),tf.int32);

    increase_tfvar_op=t

[2016-09-18 03:42] vladfi1 commented on #4429
I think the problem is that you are generating invalid labels - the network can only predict values [0, 8), but you generate labels in [0, 10).

[2016-09-18 03:51] dexter4455 commented on #4430
ok, it was easier than expected! i just had to copy 'python' from miniconda directory to /usr/bin/env and i've ignored the configure errors [related to android / ios]

[2016-09-18 03:51] dexter4455 commented on #4430
ok, it was easier than expected! i just had to copy 'python' from miniconda directory to /usr/bin/env and i've ignored the configure errors [related to android / ios]

[2016-09-18 03:51] #4430 closed

[2016-09-18 04:48] danieljl commented on #4319
Unless using Bazel 0.3.1 and applying [a temporary fix](https://github.com/okuchaiev/tensorflow-float16/commit/c1b6623154e14799419f91bd197b7900a78dbc2b), running `configure` still produces errors.

[code]

[2016-09-18 04:52] kamal94 commented on #4371
@andydavis1 This is still an issue. Even the bazel fix didn't do it for me. For some reason, it is till cloning an old version of Bazel evertyime it runs ``` bazel fetch //...``` in the .config file.

it **should** be pulling [this file](https://github.com/google/protobuf/blob/master/protobuf.bzl) but it is not! It is pulling a similar (older) file with flag set to HOST_CFG.

Is there a way to cha

[2016-09-18 05:30] lan2720 commented on #4429
@vladfi1 Thanks. You're right. I made a silly mistake.

[2016-09-18 05:30] #4429 closed

[2016-09-18 06:42] suiyuan2009 commented on #4312
meet same issue.

[2016-09-18 06:45] yossibiton opened #4434 "Why is quantized graph inference takes much more time than using the original graph?"
I followed this [tutorial](https://www.tensorflow.org/versions/r0.10/how_tos/quantization/index.html) in order to quantize my graph into 8 bit.I can't share the exact graph here but i can say it's a simple convolutional neural network.

When i run the [benchmark tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/benchmark) over the original and quantized networks it's clea

[2016-09-18 06:52] suiyuan2009 commented on #4105
meet the same issue.

[2016-09-18 08:44] bhack commented on #4434
/cc @wangyida @nyanp

[2016-09-18 09:27] thewintersun opened #4436 "How to restore the model when use distributed tensorflow ??"
I write a simple distributed tensorflow example, the code is here:
https://github.com/thewintersun/distributeTensorflowExample

I use 2 server as the ps server, 2 server as the worker server.
**The command is as follow:**
**At ps server:**

CUDA_VISIBLE_DEVICES='' python distribute.py --ps_hosts=192.168.100.42:2222,192.168.100.22:2223 --worker_hosts=192.168.100.30:2224,192.168.100.253:2225 --job_n

[2016-09-18 09:34] sunbo5439 opened #4437 "why there are no documents about tf.nn.seq2seq"
the file tensorflow/python/ops/seq2seq contains models like tf.nn.seq2seq.embedding_attention_seq2seq, but there are not any documentation about these models in the online documentation (https://www.tensorflow.org/versions/r0.10/api_docs/python/nn.html#neural-network)

or there is but i didn't find it?

[2016-09-18 13:42] TX2012LH commented on #1450
I just met the same problem whether I installed tensorflow from source or official binary(the installation procedure was of no problems).
GPU: gtx titan x(12G)
cuda: 7.5 + cudnnv5.1
`E tensorflow/stream_executor/cuda/cuda_driver.cc:1140] could not synchronize on CUDA context: CUDA_ERROR_ILLEGAL_ADDRESS :: No stack trace available`
`F tensorflow/core/common_runtime/gpu/gpu_util.cc:370] GPU sync fai

[2016-09-18 14:22] usmankha123 opened #4438 "tf.import_graph_def() requires a non-empty name"
After updating version of tenserflow  there is now an issue when loading with my old models.

./importer.py", line 241, in import_graph_def
    raise ValueError('tf.import_graph_def() requires a non-empty `name` '
ValueError: tf.import_graph_def() requires a non-empty `name` if `input_map` is used.

The same is case when i try colorize model colorize-20160110

how to fix this. The code is given be

[2016-09-18 15:42] zengfancy commented on #4385
Hi andydavis1,
Thanks for you reply. I can give more details, I can give the stack by gdb, It's like:

26 template <typename T>
 27 struct MatMulTypes {
 28   typedef Eigen::TensorMap<Eigen::Tensor<T, 2, Eigen::RowMajor>, Eigen::Aligned>
 29       out_type;
 30   typedef Eigen::TensorMap<Eigen::Tensor<const T, 2, Eigen::RowMajor>,
 31                            Eigen::Aligned> in_type;
 32 };
 33

[2016-09-18 16:09] kuramawzw opened #4439 "tensorflow add new op : could attr accept scalar tensor ?"
In  https://www.tensorflow.org/versions/r0.10/how_tos/adding_an_op/index.html
, I can't find detail doc about this,   could anyone  give   more detail info?

[2016-09-18 18:18] shkr opened #4440 "GradientChecker file not found"
link - https://github.com/tensorflow/tensorflow/tree/r0.10/tensorflow/python/kernel_tests/gradient_checker.py

refered in -
https://www.tensorflow.org/versions/r0.9/how_tos/adding_an_op/index.html#define-the-ops-interface

[2016-09-18 19:01] ericyue opened #4441 "tensorflow read multi-type csv error"
my csv file has 10 column, CONTINUOUS_COLUMNS are  float , and left are string.
my code :
`parse_fn = lambda example:tf.decode_csv(example, [tf.constant([], dtype=tf.float32) if i in CONTINUOUS_COLUMNS else tf.constant([], dtype=tf.string)  for i in COLUMNS ]  ,field_delim='\t' )`
`inputs = tf.contrib.learn.read_batch_examples([FLAGS.train], 256, tf.TextLineReader,num_epochs=1,queue_capacity=10000

[2016-09-18 19:22] usmankha123 commented on #4422
Use nightly build of tensorflow for python 3.5
Visit https://github.com/tensorflow/tensorflow   scroll down
Click on build history for python 3.5
replace storage..... link with this one
hope it helps

[2016-09-18 20:14] amirj opened #4442 "predict function loads only the first batch from the input_fn"
I have a regular `input_fn_valid` function.
When using `estimator.evaluate(input_fn=input_fn_valid)` everything is OK and the model is evaluated on the whole dataset. But calling `probs = estimator.predict(input_fn=input_fn_valid)` only returns the predicted values of the first batch (The size of `probs` is equal to `batch_size` parameter).
I'm using TensorFlow 0.10 and test it on Ubuntu (GPU) and

[2016-09-18 20:25] ivan-aksamentov opened #4443 "Breaking change of `sparse_softmax_cross_entropy_with_logits` in v0.10: bug or feature"
When dealing with sequences of different lengths and RNNs, it is very common to pad "out-of-range" part of the input sequence. More than that, labels should also be padded. It is convenient to pad labels with bogus value `-1` and not introducing any new valid label values.

Prior to version 0.10, `sparse_softmax_cross_entropy_with_logits` returned `0.0` for logits that correspond to `-1` labels. T

[2016-09-18 22:13] mrry opened #4444 "Code snippet in the TensorFlow for Poets codelab is confusing"
Based on [this](http://stackoverflow.com/q/39562938/3574081) Stack Overflow question.

In [section 5](https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/index.html?index=..%2F..%2Findex#4), the first `python` command has a leading `#`:

[code]

The second one doesn't:

[code]

If you copy and paste the first command, you'll get an unintuitive error like `"--bottleneck_dir=/tf_fil

[2016-09-18 22:28] mrry commented on #4438
The old version of `tf.import_graph_def()` was broken if you specified both `input_map` and `name=''`. It looks like the fix is quite easy for your case, though. Simply remove the explicit `name=''` (which is not recommended, since it can lead to unpredictable names for the imported nodes), and use `return_elements=["inferred_rgb:0"]` to get the `inferred_rgb` tensor as a return value from `tf.imp

[2016-09-18 22:28] #4438 closed

[2016-09-19 00:28] mrry commented on #4439
I answered this on [Stack Overflow](http://stackoverflow.com/a/39563531/3574081).

[2016-09-19 00:28] #4439 closed

[2016-09-19 01:51] jart commented on #4362
This error was caused by https://github.com/tensorflow/tensorflow/commit/7bcdcbbf60fc08346fd8016270a0563f4b51362b which broke old versions of Bazel. The simple fix is to just upgrade to the latest Bazel release.

[2016-09-19 01:51] #4362 closed

[2016-09-19 02:02] martinraison commented on #3907
I ran into the same issue when I tried to use `tf.train.slice_input_producer` with a sparse input. I'm not sure if there is a better way to handle my use case currently (I'm working on a bag-of-words model and each example is a list of word indices)

[2016-09-19 02:07] qingzew commented on #3517
so I have the same problem, but with different port, anyone has solve it?

[2016-09-19 02:33] shamitv commented on #3029
This change resolved the issue on Ubuntu 15.10 (current master branch) as well.

[2016-09-19 03:36] zffchen78 commented on #3710
Your custom_op(x) is effectively computing element-wise y = log(1+e^x) for x in the inputs. By definition, tf.gradients(y, x) computes, since grad_ys=None by default, dy_i/dx_i = e^x / (1 + e^x)  = sigmoid(x). Since your test is giving x = [0, 1, 2, 3, 4, 5]. So,
[[ 0.5         0.7310586 ]
 [ 0.88079709  0.95257413]
 [ 0.98201376  0.99330717]]
is correct.

When you specify custom_op_grad(x, grad)

[2016-09-19 03:38] brando90 commented on #1122
Sorry for the spam, but the documentation doesn't really explain how to use this BN with convolution (maybe should be provided somewhere?). In short how does it figure out that it should apply and learn the same parameters per feature (rather than per activation)?

(Is there at least a code snippet to do this?)

[2016-09-19 03:38] shisu250 commented on #4346
Hi @steverichey @andrewharp , I need your help,Thx. I follow these steps, but Still Error.

ERROR: /home/wx/Downloads/tensorflow/tensorflow/core/BUILD:722:12: in deps attribute of cc_library rule //tensorflow/core:android_tensorflow_lib: filegroup rule '@gemmlowp//:eight_bit_int_gemm_sources' is misplaced here (expected cc_inc_library, cc_library or objc_library).
ERROR: Analysis of target '//tens

[2016-09-19 04:49] arg0 commented on #4436
I am facing the same problem. I suppose that is /job:ps/.. and /job:worker/.. on the same machine would be translated to /job:lcoalhost/....... But It still be translated to /job:localhost even your ps is another machine, so the saver.restore can not find the right ps==localhost . I am trying on freeze_graph function. PS.still have no success

[2016-09-19 06:04] liusida commented on #1690
File "cifar10_train.py", line 96, in train
`    summary_writer = tf.train.SummaryWriter(FLAGS.train_dir, sess.graph)
`
this should be

`    summary_writer = tf.train.SummaryWriter(FLAGS.train_dir, sess.graph.as_graph_def())
`
It should solve the problem without upgrading Tensorflow.

[2016-09-19 06:09] amirj commented on #4442
setting `as_iterable=True`, solve the problem.

[2016-09-19 06:09] #4442 closed

[2016-09-19 07:42] sgrinich commented on #153
I am trying to set up TensorFlow and am receiving this same error both with a standard pip install and also using virtual env. Has any progress been made @vrv @mrob27 @ebrevdo ? Any tips much appreciated to get started with the appealing library.

[2016-09-19 10:12] fninsiima opened #4451 "TensorFlow demo app crashes with my own model"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
https://github.com/tensorflow/tensorflow/issues/1269

### Environment info
Operating System: Linux ubuntu

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`)
ce3572a08b9ecfa5c8dd94921c2011f37b58e608

### If possible, provide a minimal reproducible example (We usua

[2016-09-19 10:47] DjangoPeng opened #4453 "Remove state_ops.variable_op()?"
I'm reading the source code, and I find there is a comment saying that
`# TODO(mrry): Move this to where it is used, so we can get rid of this op wrapper?`
in the [state_ops.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/state_ops.py#L151)

So, I searched and found that only `variables.py` calls it twice times [here](https://github.com/tensorflow/tensorflow/blob/mas

[2016-09-19 11:11] hholst80 opened #4455 "Distributed TF managed session: inter_op_parallelism_threads and intra_op_parallelism_threads has no effect"
We are using:
[code]
but TensorFlow still launches a number of threads proportional to the number of cores on each process. I counted +50 threads used by each process on my 24 vcore machine.

What can we do to limit the number of threads in a managed session.

EDIT: @yaroslavvb identified the problem. See the end of the thread about Session vs Server options.

[2016-09-19 11:26] ibab commented on #4425
I've also encountered this problem using v0.10.0 in the following issue: https://github.com/ibab/tensorflow-wavenet/issues/13

Here is another example of crashing code:
[code]
The size of 256 seems to be significant, as it starts failing when the input dimensions go above that.

This might be a problem with the efficient reduction code in Eigen, as `cuda-memcheck` points to that part of the code,

[2016-09-19 11:46] obo commented on #4105
Hi. I'm getting "ERROR: no such package '@local_config_cuda//crosstool': BUILD file not found on package path." as well with:

- bazel: https://github.com/bazelbuild/bazel/releases/download/0.3.1/bazel-0.3.1-installer-linux-x86_64.sh
- tensorflow: commit a6c5f8e4e013e54fed8dfcf49fb6de365f018022 (patched according to https://github.com/tensorflow/tensorflow/issues/4312#issuecomment-246109583 to avo

[2016-09-19 11:46] owengbs opened #4456 "when will beam search be implemented"
The current version of tensorflow still use a greedy algorithm for seq2seq decoder. I wonder when will beam search be implemented in future versions since this has already been discussed in other issues.

[2016-09-19 12:26] shrnjad opened #4458 "bazel build tensorflow/python/tools:strip_unused throws linker error"
I am trying to solve the problem of running a retrained model on iOS described in issue [2883](https://github.com/tensorflow/tensorflow/issues/2883). However when I call this command I run into linker error:

The linker error says:

version_info.cc:(.text+0x0): multiple definition of `tf_git_version()'
bazel-out/local-fastbuild/bin/tensorflow/core/libframework_internal.lo(version_info.pic.o):versi

[2016-09-19 12:35] mrob27 commented on #153
I got stuck at a later stage of the process, and switched to non-TF
approach to deep learning.

On Monday, 19 September 2016, Stephen Grinich <notifications@github.com>
wrote:

--
  Robert Munafo  --  mrob.com
  Follow me at: gplus.to/mrob - fb.com/mrob27 - twitter.com/mrob_27 -
mrob27.wordpress.com - youtube.com/user/mrob143 - rilybot.blogspot.com

[2016-09-19 13:31] Nayana-ibm opened #4459 "(#4380) TensorFlow master build failing: error: invalid initialization of reference"
Created a new issue as I cannot re-open #4380 .

@poxvoculi @girving Do you have any idea on #4380 ?

[2016-09-19 13:38] tusharsoni08 opened #4461 "Tutorials documentation spelling mistake"
At url: https://www.tensorflow.org/versions/r0.10/tutorials/image_recognition/index.html

I've found that In following paragraph '299 pixel **high**' is written, which I think should be '299 pixel **hight**'

The whole paragraph is following in 'Usage with the C++ API' section:

"This gives us a vector of Tensor objects, which in this case we know will only be a single object long. You can think o

[2016-09-19 14:29] hholst80 opened #4463 "Installation links in README.md is wrong"
https://github.com/tensorflow/tensorflow#installation

The links to the nightly images are invalid and returns 404.

[2016-09-19 14:37] vincentvanhoucke commented on #1122
The slim batch_norm wrapper normalizes over the last dimension of your input tensor. So if it's a 2D input tensor coming from a fully connected layer, it normalizes over batch, and thus performs per-activation normalization. If it's a 4D tensor coming from a convolution, it will normalize over the three first dimensions (batch, width, depth), and thus perform per-feature normalization. @sguada may

[2016-09-19 14:40] jeanm commented on #4303
Thanks, that seems like a better solution.

[2016-09-19 14:40] #4303 closed

[2016-09-19 14:59] JianbangZ opened #4465 "Distributed training optimization"
After playing with the current distributed training implementation for a while, I think it views each GPU as a separate worker.However, It is common now to have 2~4 GPUs in one box. Isn't it better to adopt the single box multi-GPU methodology to compute average gradients in single box first and then sync up across multiple nodes? This way it ease the I/O traffic a lot, which is always the bottlen

[2016-09-19 14:59] andrewharp commented on #4451
@fninsiima Can you confirm that the app is indeed trying to load `stripped_inception.pb`? The relevant log lines regarding this don't seem to be in oldlogcat.txt.

[2016-09-19 15:05] fninsiima commented on #4451
I renamed the stripped file to tensorflow_inception_graph.pb

[2016-09-19 15:06] hholst80 commented on #4463
https://github.com/tensorflow/tensorflow/issues/4416

[2016-09-19 15:55] thegyro commented on #2924
@jinfengfeng  Hi I have installed tensorflow within Anaconda. After manually installing the higher version of glibc, I had the link problem `error while loading shared libraries: __vdso_time: invalid mode for dlopen():Invalid argument` as you had specified. I tried running your command but it isn't working, I get the error  `python: error while loading shared libraries: python: cannot open shared

[2016-09-19 16:06] aidan-plenert-macdonald commented on #4359
@keveman

I have been manually adding headers to my include path and I need,

[code]

Manually adding symlinks to for all those above headers tothe TensorFlow source, I still get this error,
[code]

[2016-09-19 16:11] shrnjad commented on #4458
I tried building with an earlier build and it worked. I chose commit 5b265ff. So I suppose in between those commits something was broken.

[2016-09-19 16:28] mrry commented on #4453
I think the problem with this particular function is that it's used at various places in the internal Google codebase, which makes it difficult to remove in the open-source version.

@drpngx is currently working on tightening our Python API, so I'll assign this issue to him.

[2016-09-19 16:29] petewarden commented on #4359
ProtoDebugString() is generated by tensorflow/tools/proto_text, which is a bit like protoc but for a minimal footprint class instead of a full protobuf one.

[2016-09-19 16:30] catherineHR opened #4466 "Android: Why is RandomShuffleQueue needed for testing?"
Hello,

I want to test a learnt model under Python on android, I'm on Tensorflow 0.9.
To do so, I freezed my graph to have a single pb file with the graph and weight. I used Queues to manage my learning batches.

When running my session on Android, I specify the input tensor by its name "input_node", which is the data layer as input in my network.
X = tf.reshape(X, [-1, W, H, 1], name="input_node"

[2016-09-19 16:30] xmbrst commented on #4356
@LouisCAD , how did you get to the playground?

[2016-09-19 16:33] aidan-plenert-macdonald commented on #4359
Thanks. Do you know how I can get it to be recognized when I am compiling it into an external module?

I am currently running
[code]

[2016-09-19 16:39] LouisCAD commented on #4356
@xmbrst By following the link advertised in [this I/O 16 talk](https://www.youtube.com/watch?v=3dXQxSI3XDY), which points to [playground.tensorflow.org](http://playground.tensorflow.org/)

[2016-09-19 17:20] ericyue opened #4467 "Why 'tf.python_io.TFRecordWriter' is so SLOW and STORAGE-CONSUMING in TensorFlow?"
I'm going to write to TFRecord file using this [code](https://github.com/tensorflow/tensorflow/blob/r0.10/tensorflow/examples/how_tos/reading_data/convert_to_records.py#L68) The problem is that this process is very slow, such that it's not feasible to write a large dataset even in days! It's just a writer that serialize to disk. Why it's so slow?! Another problem is that the size of the output fil

[2016-09-19 17:26] fwalch commented on #4467
Regarding compression, see https://github.com/tensorflow/tensorflow/blob/4addf4b5806cd731949c6582a83f5824599cd1ef/tensorflow/python/lib/io/tf_record.py#L26

[2016-09-19 17:54] cancan101 opened #4468 "Allow crop_to_bounding_box to work batchwise"
Right now `crop_to_bounding_box` only works with single images.

[2016-09-19 18:00] mattdns100689 opened #4469 "Mac GPU installation"
After I run a python3 script I get the following statements and do not know where the 3 errors are coming from. I am using cudnn v5.0 but obviously I have gone wrong somewhere along the installation pipeline. Any help would be fantastic.

[code]

[2016-09-19 18:02] andrewharp commented on #4266
Closing; please reopen with more details if the issue persists.

[2016-09-19 18:02] #4266 closed

[2016-09-19 18:04] andrewharp commented on #4346
@shisu250 "@gemmlowp//:eight_bit_int_gemm_sources" is a source filegroup, not a cc_library target, so it needs to go in the srcs list instead.

[2016-09-19 18:10] andrewharp commented on #4451
@fninsiima Try the strip_unused command again, but this time with `--input_node_names="Mul"`. I think the extra ":0" is confusing the script.

[2016-09-19 18:14] andrewharp commented on #1269
I just noticed that the `:0`s in my example strip_unused command above were unnecessary and may contribute to other issues noted here, have corrected it in place.

[2016-09-19 18:18] ericyue commented on #4467
@fwalch   thanks,  but the most important thing is the speed.  I have to split the file to 100000 slice and using multiprocessing to process each.
is there any optimize method for speed up ?

[2016-09-19 18:19] ericyue commented on #4467
is there a c++ demo for tfrecord? maybe faster?

[2016-09-19 18:20] ericyue commented on #4469
you are using macbook?

[2016-09-19 18:22] mattdns100689 commented on #4469
yes

[2016-09-19 18:35] andrewharp commented on #4346
@steverichey QuantizedConv2D is probably the culprit -- I believe the fast pathways may not be enabled yet due to padding or range issues. You can find similar reports in #2807.

[2016-09-19 18:45] gibiansky opened #4471 "Add `tf.write_file` op"
Tensorflow currently has a `tf.read_file` op, as documented [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/functions_and_classes/shard1/tf.read_file.md).

Can we have a `tf.write_file` as well?

It could be defined as something like:

[code]

There are some usecases where this would be helpful, such as generating images and audio and then writing them

[2016-09-19 18:51] link-er commented on #3114
I have this error with scan too, on nightly build (version is 0.10.0)

[2016-09-19 19:01] drpngx commented on #4453
Thanks for volunteering!
Yes, there is some internal usage. I don't think it's too bad but it will require manual work. Give me a few days to assess the damage.

[2016-09-19 19:01] fninsiima commented on #4451
Okay.

I did as you instructed and was successful. Thanks a lot.

[2016-09-19 19:01] #4451 closed

[2016-09-19 19:48] steverichey commented on #4346
@andrewharp I'll keep an eye on that issue then. Should I close this? Should I open a pull request with the required changes, or will the TensorFlow team address them in another way?

[2016-09-19 20:33] andrewharp commented on #4346
@steverichey We'll be moving the quantization code into core/ sometime soon, at which point these changes will no longer be necessary.

[2016-09-19 20:33] #4346 closed

[2016-09-19 20:45] LaurentMazare opened #4473 "Make the gradient computation available in the C api"
When writing TensorFlow bindings for other languages, a major difficulty is that the C api does not give a simple way to add gradient computations to a graph. In the case of the [tensorflow-ocaml](https://github.com/LaurentMazare/tensorflow-ocaml) bindings, we ended up re-implementing back-propagation and having to register gradients for many operators. Providing support for this in the C api woul

[2016-09-19 21:01] ShownX opened #4474 "Feature request: Patch extracting given location implementation needed."
Hello there,
## Feature

I consider a lot but finally decide put this request here.
I know there are some matrix operation and image operations like `image_patch_extract` and `image.extract_glimpse()`.
But what I want is extract the patches given several locations.

Input Tensor:

[code]

Output Tensor:

[code]
## Reference:

Georgis have done the similar thing and he made the a patch in v0.8.0 an

[2016-09-19 21:10] hholst80 commented on #4436
@arg0 I don't think that is the real problem. This is something I also see on my machine (the hostname is translated into "localhost" if it matches the IP of the machine) and check-pointing works fine there. Are you using the r0.10 release candidate?

@thewintersun can you replicate the problem with only one worker? Are you using a shared network filesystem such that all nodes can access the check

[2016-09-19 21:14] #4050 closed

[2016-09-19 21:44] jmchen-g commented on #4461
Thanks. I guess you mean height but feel free to send over a PR for this.

[2016-09-19 21:44] #4461 closed

[2016-09-19 21:46] aselle commented on #4428
@annarev, since this is your change, could you take a look

[2016-09-19 21:46] cancan101 commented on #4468
This can be done with tensor slicing.

[2016-09-19 21:46] #4468 closed

[2016-09-19 21:49] ye commented on #3856
@gunan sorry for the delay. No go for me as I don't find any Python 3.4 compatible Mac OS X 10.11.6 wheel packages. Renaming the Python 3.5 wheel package will install okay but it's not using the optimized C++ version but rather the Python version, see below.

[code]

[2016-09-19 21:59] vrv commented on #4465
I think the example implementations might be one GPU per worker, but nothing prevents you from defining a worker having 8 GPUs, replicating the model across each GPU in a worker, averaging gradients before sending it to parameter servers.  TF is low-level enough that these are all possible.  To make the system easy to understand, the examples are simpler than what is possible.

I suspect higher-le

[2016-09-19 21:59] #4465 closed

[2016-09-19 22:18] jmhodges opened #4476 "build errors on missing "//base""
When running ./configure on OS X with CUDA support enabled with bazel 0.3.1-homebrew, these errors occur:

    ERROR: /Users/jmhodges/src/github.com/tensorflow/tensorflow/tensorflow/core/BUILD:692:1: no such package 'base': BUILD file not found on package path and referenced by '//tensorflow/core:ios_tensorflow_test_lib'.
    ERROR: /Users/jmhodges/src/github.com/tensorflow/tensorflow/tensorflow/c

[2016-09-19 22:19] jmhodges commented on #4476
(Added bazel version to ticket: 0.3.1-homebrew)

[2016-09-19 22:21] jmhodges commented on #4476
This seems to have been introduced in ed87884e50e1a50f7dc7b36dc7a7ff225442bee0. Perhaps, it's a Google internal thing that just slipped in?

[2016-09-19 22:26] jmhodges commented on #4476
Same deal with `//tensorflow/core:android_tensorflow_lib_lite_no_rtti_lite_runtime`. It just doesn't exist.

[2016-09-19 22:27] jmhodges commented on #4476
Looks like this only happens when you try to build with CUDA.

[2016-09-19 22:27] andrewharp commented on #4476
@jmhodges Yes, those are some references that weren't meant to be interpreted by the external version of TF.

This is a duplicate of #4312, where you can find workarounds for the errors you're seeing -- essentially just revert/comment out the new functions.

[2016-09-19 22:28] jmhodges commented on #4476
Ah, it's been 10 days since that ticket. Is there no fix I could send up to handle this?

[2016-09-19 22:30] #3825 closed

[2016-09-19 22:31] jmhodges commented on #4476
(I'm trying to confirm #4145 now that configure has some nice new CUDA smarts, and it's a little bit harder to confirm with these changes not in master. I'm sure I'm not the only external contributor trying to help and having to rediscover this!)

[2016-09-19 22:33] jmhodges commented on #4312
Just got told my #4476 is a duplicate of this ticket, so coming here with: Is there anything I can do to get this fixed up? It seems to be hitting a number of external contributors and it's been 10 days since it was first reported. A time suck for all of us to be rediscovering it and working out the same patches!

[2016-09-19 22:34] jmhodges commented on #4312
Just got told my #4476 is a duplicate of this ticket, so coming here with: Is there anything I can do to get this fixed up? It seems to be hitting a number of external contributors and it's been 10 days since it was first reported. A time suck for all of us to be rediscovering it and working out the same patches!

[2016-09-19 22:35] steverichey commented on #4346
@andrewharp Thanks for all your help!

[2016-09-19 22:37] #4476 closed

[2016-09-19 22:44] vrv commented on #4312
If you remove the reference to //base and the references to the lite_no_rtti_lite_runtime and android_tensorflow_lib_lite_no_rtti_lite_runtime targets, does everything work?  If so I'll prepare a change to strip these out.

I don't know why our CI build isn't catching these obvious errors.

[2016-09-19 22:45] jmhodges commented on #4312
Yeah, if you delete all mentions of "//base", "//tensorflow/core:android_proto_lib_no_rtti_lite_runtime", and "//tensorflow/core:android_tensorflow_lib_lite_no_rtti_lite_runtime" it seems to buidl okay.

I only get these errors when I build with CUDA. Could that be the deal? (I'm also on OS X.)

[2016-09-19 22:46] andrewharp commented on #4312
@vrv I'm halfway done with a CL to fix the export right now

[2016-09-19 22:47] link-er opened #4478 "Frame of the Variable"
Hello

I am using tf.scan for implementing memory augmented network and when trying to run tf.initialize_all_variables() getting the error about frame of the variables:

[code]

As I understood this frame is some inner identification of the variables, so what should I do to get rid of this error? Scan works if I do not define any variables outside the step, but I need at least weights-biases and l

[2016-09-19 22:48] vrv commented on #4312
@andrewharp woohoo, thanks! send to me :)

@jmhodges thanks for confirming.  We also have CUDA builds, so perhaps we're only building what's necessary for tests / pip installation, rather than the entire repo (e.g., we don't try to build  tensorflow/..., though maybe we should.  At least we should validate the BUILD files, which I thought we used to do).  cc @gunan

[2016-09-19 22:49] jmhodges commented on #4312
Hunh, weird. It happens as soon as I run `./configure` on a fresh build!

[2016-09-19 23:03] gunan commented on #4312
we do not presubmit with cuda+mac. We only have nightlies.
Those builds are broken at the moment, but at first glance, it looks like a different issue (the nightly failures and the reports here)

[2016-09-19 23:26] aselle commented on #4463
@caisq. The GPU ones seem to still be broken and it has been 3 days since #4416 comment. Any thoughts?

[2016-09-19 23:33] tatatodd commented on #4268
I committed the fix and it's now visible in the public repo:
https://github.com/tensorflow/tensorflow/commit/2e7b5c3ee82673fe5affd8de32eed0b350a451bf

FYI the basic idea behind the fix is exactly what @gaohuazuo said; we now return python integers rather than tensors for known dimensions.

Thanks again for filing the bug @cancan101!

[2016-09-19 23:33] #4268 closed

[2016-09-19 23:37] #4358 closed

[2016-09-20 00:06] nikitakit commented on #654
I see that the `raw_rnn` API has been updated a few weeks ago to allow hidden state reordering, as required by beam search. This means that using it will likely yield the cleanest and most computationally efficient way to integrate beam search with tensorflow.

[2016-09-20 00:23] jmchen-g commented on #4434
Is it just the first run or consistently slow for many inferences?

[2016-09-20 00:27] jmchen-g commented on #4436
Usually the summary is written by the chief worker to some dir and when it restores, the ps need to be able to locate and have access to that dir also. Is it the case for you guys?

[2016-09-20 00:46] cjnewstar111 opened #4479 "the nightly binaries of TF is 404 error"
hello, in the Installation , when i try to install the nightly build "Linux GPU: Python 2" , it tells "404 error". how should i do ?

[2016-09-20 01:20] mecab opened #4480 "`UnimplementedError: File system scheme` in sess.restore() with the path including colons."
I found that we get

[code]

When we try to restore the model from the directory which has colons in its path.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

 - https://github.com/ibab/tensorflow-wavenet/pull/28
 - https://github.com/carpedm20/variational-text-tensorflow/commit/4dee0ce68814f212d2ece7a9b289c41cc4c35cd6

 - I have sear

[2016-09-20 01:30] #4479 closed

[2016-09-20 01:54] andrewliao11 opened #4481 "GradOutput in Torch"
Hi all,
I wonder that is there any function that return the gradOutput (gradient w.r.t. the output of the module) of a specific layer like Torch?
Ex:
assume f,g are simple linear functions
f(x)=x'
g(x')=y
I want to directly get the value dy/df(x), the gradient of output
instead of the gradient of variable in f

[2016-09-20 01:55] thewintersun commented on #4436
@hholst80
1. If use only one worker, the problem is the same , still can not reload the model at the chief worker if the chief worker and the ps not run at the same machine.
2. I am not using a shared network filesystem. But I think there is not need a shared network system.

[2016-09-20 02:03] Anymake commented on #4319
@szsongyj
git pull --recurse-submodules don't work   my system is CentOS 6.7

[2016-09-20 02:06] thewintersun commented on #4436
@jmchen-g
yes.

It seems that the ps can not find the checkpoint file.

I did another test: I run the ps and the worker at the same machine , and run in different dir.
then the problem is the same: " Failed to find any matching files for ./checkpoint/model.ckpt-58080"

I guess when the chief worker reload the model , the worker notify the ps to reload paramter value from the same checkpoint dir .

[2016-09-20 02:25] thewintersun commented on #4436
@jmchen-g
yes.

It seems that the ps can not find the checkpoint file.

I guess when the chief worker reload the model , the worker notify the ps to reload paramter value from the same checkpoint dir .

Is that means the chief worker and ps must in the same machine ???

[2016-09-20 02:27] thjashin commented on #4423
Hi,
Any reply for this problem?

[2016-09-20 03:57] yossibiton commented on #4434
Im using the benchmark tool, which run several inferences.
I also ran it several times and get the same results.

On Tue, Sep 20, 2016, 03:25 Jianmin Chen <notifications@github.com> wrote:

[2016-09-20 04:40] indhubharathi commented on #4420
Found solution here: http://stackoverflow.com/questions/39567835/tensorflow-out-of-memory-error-running-inception-v3-distributed-on-4-machines

[2016-09-20 04:40] #4420 closed

[2016-09-20 05:40] f8281113 opened #4483 "source install transorflow configure error"
i install Tensorflow on Ubuntu16.04 GTX1080  CUDA 8.0 CUDNN 5.0
when git Tensorflow configure occure this issue:

chenl@FS-S07:~/tensorflow$ ./configure
~/tensorflow ~/tensorflow
Please specify the location of python. [Default is /usr/bin/python]:
Do you wish to build TensorFlow with Google Cloud Platform support? [y/N] n
No Google Cloud Platform support will be enabled for TensorFlow
Found possib

[2016-09-20 05:51] f8281113 commented on #4483
# **## configure again the same issue**

chenl@FS-S07:~/tensorflow$ ./configure
~/tensorflow ~/tensorflow
Please specify the location of python. [Default is /usr/bin/python]:
Do you wish to build TensorFlow with Google Cloud Platform support? [y/N] N
No Google Cloud Platform support will be enabled for TensorFlow
Found possible Python library paths:
  /usr/local/lib/python2.7/dist-packages
  /usr/

[2016-09-20 05:59] link-er commented on #4478
@ebrevdo Hi! I saw that you solved same problem for while_loop in https://github.com/tensorflow/tensorflow/issues/3114, maybe here just the same fix is needed?

[2016-09-20 06:07] yossibiton commented on #4434
i will list few simple steps to reproduce the same behavior with inception graph :

1. run my script [classify_image.py](https://gist.github.com/yossibiton/ba571473470824e5fee47c555d01697b) - basically i took [this script](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/image/imagenet/classify_image.py) and added small changed to support quantized graph and timing.
It will d

[2016-09-20 07:13] jhseu commented on #4480
You can specify your path as "file://path/to/somewhere/with:colon/model.ckpt-0" instead of "path/to/somewhere/with:colon/model.ckpt-0".

[2016-09-20 07:50] zhichao-li commented on #4436
@thewintersun met the same problem too, wondering have you solved that?

[2016-09-20 08:42] mayukhg opened #4485 "Unable to retrieve flower_photos.tgz using curl command"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-09-20 09:00] hholst80 commented on #4485
Is it "photo" or "photos"?

[2016-09-20 09:00] hholst80 commented on #4485
[code]

[2016-09-20 09:03] hholst80 commented on #4483
Work-around: Try the r0.10 branch. `git checkout r0.10` and retry compile.

[2016-09-20 09:20] #4485 closed

[2016-09-20 09:47] fedorajzf opened #4486 "why GrpcSession not support RunMetadata in r0.10"

[2016-09-20 09:47] amirj opened #4487 "config parameter in tf.contrib.learn.Estimator is not working!"
I'm using TensorFlow 0.10 on Ubuntu (GPU). I have an estimator as follow:
[code]
I want to save checkpoints in every second.
The problem is that after running, checkpoints are saved every 300 iterations and `config` parameter does not work!

[2016-09-20 11:23] tusharsoni08 commented on #4461
I've applied for Google CLA, after approving I'll make PR for this. thanks.

[2016-09-20 12:19] andrewliao11 commented on #4481
just use the tf.gradients. solved

[2016-09-20 12:19] #4481 closed

[2016-09-20 13:06] darinc commented on #4483
thanks @hholst80  I had the same issue and switching to the the r0.10 branch worked for me.

[2016-09-20 14:29] TimZaman commented on #4009
This is great, guys; just check the magic I guess.

[2016-09-20 14:48] mrry commented on #4486
This support was added after r0.10 was branched; it will be in r0.11, or you can get it now from a nightly build.

[2016-09-20 14:48] #4486 closed

[2016-09-20 15:02] caisq commented on #4463
The build is blocked by a single failing test that's taken a little long to fix. I'll tag it for now to let the build pass.

[2016-09-20 15:31] thesby commented on #3665
Is there any pre-build win10 tensorflow?

[2016-09-20 15:34] bluemonk482 commented on #176
Is this fixed? I have just tested the code provided by the author and it gives an error:

`TypeError: Expected int for argument 'num_split' not <tf.Tensor 'Squeeze_1:0' shape=() dtype=int32>`

tf version: `0.10.0rc0`

[2016-09-20 17:08] hemalshahX opened #4492 "Missing C++ headers for Session API in PIP packages."
C++ headers for the session APIs, such as tensorflow/core/public/<session.h session_options.h tensor_c_api.h> are not included in the official PIP packages. Could we have them included in the list of headers to export in the framework_headers target in tensorflow/core/BUILD or is there a reason to exclude them?

### What related GitHub issues or StackOverflow threads have you found by searching th

[2016-09-20 17:23] #175 closed

[2016-09-20 17:28] KjerG opened #4493 "Tensorflow Bazel build error"
Hello,

I was pointed here from StackOverflow, hopefully I am in the right place.

I have been trying to setup tensorflow on my Raspberry Pi 3B using the guide [here](https://github.com/samjabrahams/tensorflow-on-raspberry-pi/blob/master/GUIDE.md). However I run into an error when executing the command:

`bazel build -c opt --copt="-mfpu=neon" --local_resources 1024,1.0,1.0 --verbose_failures tens

[2016-09-20 17:53] hayder78 commented on #17
@Loo Rong
Your speculation is right!
https://www.quora.com/Why-did-Google-decide-to-use-Bazel-with-TensorFlow/answer/Derek-Murray-3

On Sep 12, 2016 12:17 PM, "Eugene Ivanchenko" <notifications@github.com>
wrote:

[2016-09-20 18:11] caisq commented on #4493
Just to cover the basics. Did you run "./configure" before running "bazel build..."?

[2016-09-20 18:25] KjerG commented on #4493
Yes, I had to cancel the first time because I entered the wrong file path, I did run `./configure` using the default file paths and with "Google Cloud Platform" and GPU support disabled.

[2016-09-20 18:28] vrv commented on #4493
Try upgrading bazel to 0.3.1 ?

I wish I knew why https://github.com/tensorflow/tensorflow/blob/master/WORKSPACE#L23 is no longer working...

[2016-09-20 18:48] jmchen-g commented on #4441
Can you follow the example here and see if it works for you? http://stackoverflow.com/questions/37091899/how-to-actually-read-csv-data-in-tensorflow

[2016-09-20 18:52] titusnicolae commented on #4467
I'm also having trouble reading from TFRecord. I only get 25MB/s instead of the 250MB/s I could get out of the SSD.

[2016-09-20 18:56] jmchen-g commented on #4455
Do you have it set by some previous sessions in the same process?
  // Note that the first Session created in the process sets the
  // number of threads for all future sessions unless use_per_session_threads is
  // true or session_inter_op_thread_pool is configured.

[2016-09-20 19:03] yaroslavvb commented on #4455
There are two places to configure remote session with tf.ConfigProto
1. when you create a session with remote master: tf.Session("grpc://",
config=...)
2. when you launch remote master: tf.train.Server(config=...)

Docs says that tf.train.Server(config=...) specifies "specifies default
options for all sessions that run on this server."
Does this mean that tf.Session("grpc://", config=config) setti

[2016-09-20 19:05] KjerG commented on #4493
I used `git checkout 0.2.1` to get bazel, should I upgrade using `git checkout 0.3.1` or is there a different method you'd recommend.

Using `git checkout 0.3.1` gives me:
[code]

[2016-09-20 19:07] vrv commented on #4493
I would check out bazel.io or github.com/bazelbuild/bazelbuild for upgrading

[2016-09-20 19:11] lingz opened #4495 "Documentation on how reusable variables sync between CPU and GPU"
I haven't been able to find anything online that documents how the sync of reusable variables happens between CPU and GPU. Specifically, I'm interested in if a CPU pinned variable is used multiple times in a GPU computation without being updated, does it sync only once (i.e. use a dirty flag), or will it try sync again each time?

[2016-09-20 19:40] chittattoo opened #4496 "Chit"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-09-20 19:40] chittattoo commented on #4496
Good

[2016-09-20 19:43] lightcatcher commented on #2540
@girving It's not clear to me why the propagation of NaN is inevitable, and I think this issue should be re-opened and fixed.

If ``w = tf.select(c, t, e)``, then ``dw/dx = select(c, dt/dx, de/dx)``

Tensorflow 0.9 (and likely 0.10, but have not tested) do not compute this correctly. For instance,
``d/dx[ select(True, t, e) ] != dt/dx`` for some cases.

See the following example:
[code]

outputs (

[2016-09-20 19:47] bluemonk482 opened #4497 "bidirectional_dynamic_rnn: Negative indices are currently unsupported"
I am getting the 'negaive indexing' error since I switched from using `bidirectional_rnn` to `bidirectional_dynamic_rnn`:

[code]

[code]

How come I could negative-index the output from `bidirectional_rnn` but not `bidirectional_dynamic_rnn` this way? Thanks.

[2016-09-20 19:59] #4496 closed

[2016-09-20 20:00] yaroslavvb commented on #4478
It sounds like you are trying to use external tensors in scan (ie,
variables that are not passed as arguments)

On Mon, Sep 19, 2016 at 10:59 PM, Linara Adilova <notifications@github.com>
wrote:

[2016-09-20 20:07] link-er commented on #4478
Yes, I am, because I have weights variables that need to be initialized outside.
In my loop I just iterate over the input sequence, but I do not need to iterate weights and I cannot initialize them every step - what is the way to solve this?
If needed, I can provide code (at least critical parts of it)

[2016-09-20 20:34] JianbangZ opened #4498 "TF Distributed not using the full network bandwith"
Hi,
I have a one ps, 4 worker setup (2 workers are in the same machine as ps), I found no matter what batch size I choose, the network usage is always around 1.3 Gbit/s, which leads to very slow performance with small batch size. However, I do have 40 Gbit network, and when I run iperf -s/c between these two machines, I can usually get over 30 Gbit/s speed.

I am not sure if the issue is in TF imp

[2016-09-20 20:41] jmchen-g commented on #4458
@jart Could you take a look at this? Thanks.

[2016-09-20 21:18] ebrevdo commented on #4478
Please provide the critical part of the code.

On Sep 20, 2016 1:07 PM, "Linara Adilova" <notifications@github.com> wrote:

[2016-09-20 21:18] ebrevdo commented on #4478
p.s. is this something for which you can use tf.get_variable?

On Sep 20, 2016 2:15 PM, wrote:

Please provide the critical part of the code.

On Sep 20, 2016 1:07 PM, "Linara Adilova" <notifications@github.com> wrote:

Yes, I am, because I have weights variables that need to be initialized
outside.
In my loop I just iterate over the input sequence, but I do not need to
iterate weights and I canno

[2016-09-20 21:21] wingated commented on #135
@brando90 I had a similar issue on a Linux box - fixed it by running

[code]

[2016-09-20 21:35] xpe commented on #4371
@kamal94 Thanks for your feedback and updates. I'm hopeful that László Csomor's changes move it in the right direction. I'll be doing another installation soon, also, and will keep an eye on it.

[2016-09-20 21:38] rmlarsen commented on #4101
@alexmonroe87 currently most of the higher level linear algebra ops (cholesky, determinant, matrix_inverse,  matrix_solve etc.) are CPU only. There has been some interest in contributing GPU implementations based on the cuSolver library, but no recent progress. See https://github.com/tensorflow/tensorflow/issues/2217

[2016-09-20 21:52] yaroslavvb commented on #4498
Are you bottlenecked by CPU?

On Tue, Sep 20, 2016 at 1:34 PM, Jianbang Zhang <notifications@github.com>
wrote:

[2016-09-20 22:20] zjharper commented on #3260
Running Jupyter with a Python3 kernel resolved this for me. Noting that fileno() for [Python3](https://docs.python.org/3/library/io.html#io.IOBase.fileno) raises a different exception than [Python2](https://docs.python.org/2/library/io.html#io.IOBase.fileno), there may be something fishy in the stream.

[2016-09-21 00:45] omtcyfz commented on #2083
I believe this should be closed now. Addressed comment 2 in #4410, and as for the first one: I believe there are wheel packages for 3.5 now, too.

[2016-09-21 00:50] danmane commented on #3958
Acknowledged, we're looking into it.

[2016-09-21 01:16] caisq commented on #4463
The GPU whl links should be working now.

[2016-09-21 01:17] caisq commented on #4416
The Linux GPU whl links should be working now.

[2016-09-21 01:21] yaroslavvb commented on #4498
We are also seeing slowness an order of magnitude worse what's expected, and I tried to isolate the problem in a simple benchmark: https://gist.github.com/yaroslavvb/1124bb02a9fd4abce3d86caf2f950cb2

It launches 2 local tensorflow processes and tries to add 10MB vectors of in one process to variable stored in another one as fast as possible.

To run:
[code]

The rate of data tops out at 1.3 Gbps o

[2016-09-21 01:49] mrry commented on #4498
Hi Yaroslav, I think your program is bottlenecked by this line:

[code]

This ensures that the entire result is copied back from the worker to the master to the client, deserialized from a protobuf into Python and discarded. A simple change to the following makes the numbers more promising:

[code]

* Before (with `sess.run(add_op)`):

[code]

* After (with `sess.run(add_op.op)`):

[code]

Indeed,

[2016-09-21 01:55] chihuahua commented on #3958
For the `data/graph` endpoint, the event accumulator returns a very trivial graph:
[code]
Looking into why.

[2016-09-21 02:22] anguyen8 commented on #3270
Thanks to @lukaszkaiser and @suraj1990 , I've run into the same issue and the suggestion works for me.

[2016-09-21 02:35] DjangoPeng commented on #4339
@cancan101 @aselle
Could you check the `adjust_gamma()`? I'm not familiar to `image` type, so it may cause some type problem. :(

[code]

[2016-09-21 02:40] ofirnachum commented on #4497
bidirectional_rnn works and returns lists of tensors while bidirectional_dynamic_rnn works and returns tensors (each tensor packed along time-dimension).  Could this be the issue?

[2016-09-21 02:53] #2083 closed

[2016-09-21 02:55] yaroslavvb commented on #4498
@mrry Thanks for the quick response! Haven't realized that "tf.device" was ignored here.  I'm now getting 900 MB/s which is pretty good. So it looks like deserializing gRPC into Python is extremely slow (<1 Gbps regardless of number of cores) and should be avoided. @JianbangZ are you by chance fetching large tensors in your Python client?

[2016-09-21 03:26] guoying1030 opened #4499 "tf distributed mnist between graph sync example hang"
when i use distributed mnist between graph sync example hang

example code:
[distributed_between_sync.py.txt](https://github.com/tensorflow/tensorflow/files/484050/distributed_between_sync.py.txt)

who can tell me ,,why it hang???

use tensorflow 0.10 release version

1.start PS:
   nohup python distributed_between_sync.py --job_name="ps" --task_index=0 > ps_0.log &
  nohup python distributed_betw

[2016-09-21 03:27] guoying1030 commented on #4499
who can tell me ???why hang??

[2016-09-21 03:32] qingzew opened #4500 "Attempting to use uninitialized value lstm/LSTMCell/W_0 on Distributed TensorFlow"
On a cluster of Tensorflow, which has one ps server, and one worker:

[code]

[code]

it turns out that:

[code]

I try to place variables on cpu or gpu, both of them did not work.

[2016-09-21 03:34] moontails commented on #4066
Updating CallWithRetries to do exponential backoff #4501 .

Could you all please review?

[2016-09-21 03:55] mecab commented on #4480
I see. Thank you!

[2016-09-21 03:55] #4480 closed

[2016-09-21 04:07] DjangoPeng commented on #4453
@drpngx Sounds good~

[2016-09-21 04:12] jmchen-g commented on #4499
The links are all empty.

[2016-09-21 04:22] guoying1030 commented on #4499
the links can download ...not empty @jmchen-g

[2016-09-21 04:45] mrry commented on #4500
Can you share the code that you use to initialize the variables?

[2016-09-21 05:04] xpe commented on #2559
@FlorinAndrei excellent work! thank you!

[2016-09-21 05:23] xksteven commented on #634
Can this be reopened as a feature request to create an API call to reset the state of an optimizer?

There doesn't seem to be a nice way to do it as far as I know.

[2016-09-21 05:28] yaroslavvb commented on #634
You could "reset" state of optimizer by creating new optimizer over the
same parameter variable

On Tue, Sep 20, 2016 at 10:23 PM, Steven Basart <notifications@github.com>
wrote:

[2016-09-21 05:31] ohmystack commented on #217
@martinwicke @yifeif

Though I don't understand why TensorFlow team insists on 2 space indent, which is invalid in both PEP8 and Google Python Style Guide, hacking the `autopep8` for 2 space indent is a bad idea.

If the TF uses 2 space indent, which is a special case for most of the Python developers, please add a comment line at the beginning of all the files.

Like this,

[code]

Indentaion is

[2016-09-21 05:54] martinwicke commented on #217
Yes, 2 space indent is a bit of an accident, but here we are, and changing it is not a priority (and would invalidate 100% of our git blame, which is too valuable to lose).

I would also prefer an annotation for each file, but I don't believe that linter tools will respect vim comments, and vim will likely not respect pylint directives (which we'd be more likely to use).

[2016-09-21 05:57] qingzew commented on #4500
I push it to github, you can reference [this](https://github.com/qingzew/tfcluster/blob/master/examples/sentiment/trainer.py#L57)

[2016-09-21 05:59] prismzhai opened #4502 "segmentarion fault(core dumped)"
when i try to "import tensorflow", it often occurs that "segmentarion fault(core dumped)" and quits. It does not happen all the time. Maybe it can function well sometimes. I dont know why.

[2016-09-21 06:00] gaurav5670 commented on #4200
Hello,

I took latest code from github and still I am getting this error,

Preparing WMT data in /tmp
Creating 3 layers of 1024 units.
Traceback (most recent call last):
  File "translate.py", line 290, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 30, in run
    sys.exit(main(sys.argv))
  File "translate.py", line 287, in main

[2016-09-21 06:06] waichee commented on #582
@vrv @raingo  I'm on the latest tensorflow_serving master. We are still having issue with TS serving throwing this error when loading large models. we have tried the various approaches mentioned above and they dont seem to work.

- PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python still getting the same error
- the custom wheel package for protobuf specified here https://github.com/tensorflow/tensorfl

[2016-09-21 07:27] loretoparisi commented on #4200
@gaurav5670 I think it' the same error I get in my tests.

[2016-09-21 07:44] #4492 closed

[2016-09-21 07:44] blinkseb commented on #4368
Same issue here. Using an older version of bazel works for r0.1.0, but I need a more recent version (we have multiple versions of gcc in our systems, and the most recent one is not in `/usr/local/bin`), which unfortunately requires bazel 0.3.1.

Any solution?

[2016-09-21 08:22] gaurav5670 commented on #4200
@loretoparisi , yes it is the same error, I commented "dtype=dtype" at line 131 in translate.py file,
the error is gone, I am still running the tests. Will update again if I face any issues.

if you open seq2seq_model.py and check in construtor of Seq2SeqModel, it assign a default value to dtype at line number 59,
def __init__(self,
               source_vocab_size,
               target_vocab_siz

[2016-09-21 08:27] link-er commented on #4478
[code]
And after this calling initialize_all_variables() to run causes that error

What exactly this call will do?

[2016-09-21 08:51] ludovic-pl opened #4505 "Pack error for SparseTensor"
Hello,
I'm using the git version of tensorflow (a6c5f8e4e013e54fed8dfcf49fb6de365f018022) without CUDA
I'm on Ubuntu 16.04

Does SparseTensor are considered as Tensor, because when i try to pack some of them, there is an error of conversion.

[code]

NB: the filter_op() method product SparseTensor

[2016-09-21 09:08] andrewliao11 opened #4506 "Compute the "local gradients"?"
Hi all,
I wonder if the tensorflow can do the backprop given the gradient from the loss?
eg.
based on the chain rule, for y=f(x)
dloss/dx = dloss/dy * dy/dx
Can I do the backprop given the dloss/dy?

[2016-09-21 09:29] dot27 opened #4507 "Installing tensorflow on Anaconda"
I have a linux machine to which i installed Anaconda. I am following:

https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html

pip instaltion part.

To be more specific:

which python
gives

/home/user/anaconda2/bin/python

After which i entered:

export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0-cp27-none-linux_x86_64.whl
And after:

sudo pip

[2016-09-21 09:29] dot27 commented on #4507
I have a linux machine to which i installed Anaconda. I am following:

https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html

pip instaltion part.

To be more specific:

which python
gives

/home/user/anaconda2/bin/python
After which i entered:

export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0-cp27-none-linux_x86_64.whl
And after:

sudo pip i

[2016-09-21 10:58] bluemonk482 commented on #4497
Thanks I have just noticed that. I will close this issue now.

[2016-09-21 10:58] #4497 closed

[2016-09-21 11:08] fedorajzf opened #4509 "fail to run py_func in parameter server, which implements as a gradient function"
W tensorflow/core/framework/op_kernel.cc:968] Internal: Failed to run py callback pyfunc_2: see error log.

[2016-09-21 11:14] ReejuV opened #4510 "No module named 'contrib.ctc'"
I am trying to run an example provided by _keras_ documentation **'imdb.py**' and this error occurs
** import tensorflow.contrib.ctc as ctc
ImportError: No module named contrib.ctc **

Is this a bug or Am I missing any file?

[2016-09-21 11:21] asispatra commented on #4391
I am also having the same issue.

[2016-09-21 12:40] #4509 closed

[2016-09-21 13:58] deepfund opened #4512 "Indexing the last N-1 elements of a 1D tensor raises a "stop condition" error."
### Environment info
Operating System:
OSX 10.11.6

2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.

0.10.0rc0

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)
I'm trying to select the last N-1 element of a 1D tensor with N elements, for the array [0,1,2,3,4] I'm trying to extract [1,2,3,

[2016-09-21 14:03] shisu250 commented on #4346
@andrewharp Thanks for your help, It worked.

My BUILD (tensorflow/tensorflow/core/BUILD) File is:
[code]

Now,It worked.

[2016-09-21 14:09] titusnicolae commented on #4467
@ericyue I'm having some succes with FixedLengthRecordReader. It reads at 150-160MB/s from SSD

[2016-09-21 14:33] jvanlier commented on #135
Just had this issue with pip 8.1.2./Conda 4.2.7/Python 3.5.2 on a Mac (OS X 10.11.4) in a fresh conda env. The solution @wingated posted for Linux worked for me.

[2016-09-21 14:37] deepfund commented on #4512
Sorry for the noise, before posting this issue I had searched for hours, however just now I found the solution to my problem -and I'm not sure the issue I've raised is an actual bug or not-

[code]

[2016-09-21 14:37] #4512 closed

[2016-09-21 14:37] tsabbay opened #4513 "text summarization"
hello everone,
any one tried to use tensorflow for text summarization ? (javascript)
any do/not do ..etc ?

[2016-09-21 14:40] mrry commented on #17
Thanks for all of the interest in TensorFlow on Windows! We're making progress on two main fronts:

1. Adapting TensorFlow's Bazel `BUILD` files to work on Windows. You may have seen some recent pull requests from @meteorcloudy in that direction (like #4449), and our eventual plan is to have full support for building TensorFlow, using Bazel, on Windows.

2. Modifying the TensorFlow runtime to buil

[2016-09-21 15:13] Jongchan commented on #4330
Thank you for your comments, I'm sorry I am 1 week late with my response.
I understand your concerns regarding computational optimization. Productive uses of such kind of operation should be verified. However, the researchers/developers should be able to choose it freely. Since the computation/free params may blow up, a warning can be added to the documentation.

[2016-09-21 15:14] #4330 closed

[2016-09-21 15:20] xksteven commented on #634
That seems more like a "hack" in the sense that when I save my new model now I'll need to find a way to find and exclude the old optimizer variables and only save the old variables except the old optimizer and new optimizer one which also changes the code.

Unless I'm misunderstanding how you intend to code it up?

I was imagining I have my graph:

    def train():
      with tf.Session() as sess:

[2016-09-21 15:53] GodloveD commented on #4267
I encountered a similar problem when trying to use cuda in a [singularity](http://singularity.lbl.gov/) container.  It turns out that the cuda .run installer did not set up a few symbolic links in the appropriate directories.  Easy fix.
[code]

[2016-09-21 16:04] yaroslavvb commented on #634
You could load checkpoint in a regular way, and then run initialize on all the variables you want to reset `sess.run([v.initialize for v in variables_to_reset])`

[2016-09-21 16:11] vrv commented on #582
@waichee: if building from source and only running in C++, then the protobuf parsing limit should be 2GiB,not 64.  Unfortunately, protobuf doesn't support protos larger than 32-bit (and from my understanding, will not in the near future), so if you have a variable / constant larger than 2GiB, you probably have to manually shard it right now :(

[2016-09-21 16:23] wudenggang0 opened #4514 "a small bug in docstring of tensorflow.zeros:"
a small bug in docstring of tensorflow.zeros:
`print tf.zeros.__doc__ `
it give with example:
[code]
but it should be:
[code]
![small bug](https://cloud.githubusercontent.com/assets/3587832/18719636/bee6f7f4-805a-11e6-8dca-bbe7953b9825.png)

[2016-09-21 16:46] tatatodd commented on #4200
@loretoparisi @gaurav5670 Can you provide the git commit hash of your sources?  `git rev-parse HEAD`

[2016-09-21 16:53] vguizilini commented on #2033
I am having the same issue, however as far as I can tell it only shows up when I am using conv3d (conv2d works fine), after one epoch.

OS: Ubuntu 16.04
CUDA: 7.5
CUDNN: Tried 4.0, 5.0 and 5.1 (and the corresponding tensorflow binaries)

Any thoughts? I really would like to get this sorted out as quickly as possible.

Thanks.

[2016-09-21 18:01] TimZaman commented on #2514
For me, @osdf 's `make_template` funcionality was key. @markpwoodward here is a picture of tensorboard you asked for:
<img width="911" alt="tb_visualisation_templating" src="https://cloud.githubusercontent.com/assets/7721540/18722724/79784626-803e-11e6-8ee3-004f7ec2aff4.png">

[2016-09-21 18:20] chihuahua commented on #3958
The proto within that events file does contain a (giant) graph_def: https://gist.github.com/chihuahua/00a85d5ce964e8fde833c45e400ade07

The backend's just ... not parsing it and instead returning a trivial graph. Diving deeper.

[2016-09-21 18:39] chihuahua commented on #3958
Actually, events.out.tfevents.1471882692.JMugan.local seems to lack a graph. The graph_def is trivial (15 bytes):
https://gist.github.com/chihuahua/bab7d4ac3c3bd7cf52955540dd5b9eb4

Could you please provide info on how the file was generated? For starters, the graph is being passed to the summary writer, right?

If that's the case, I wonder why the summary writer is stubbing away the graph ...

[2016-09-21 18:40] rizar opened #4516 "Interface improvement suggestions for tf.tranpose and tf.slice"
I would like to suggest the following improvements for the interfaces of `tf.transpose` and `tf.slice`.
1. `tf.transpose` currently accepts a boolean mask that selects the dimensions to be reversed. AFAIK this is the only op in Tensorflow that uses a mask for this purpose, whereas other, e.g. `tf.reduce_***`, take an axis number or a list of axis numbers. I think `tf.tranpose` could also be change

[2016-09-21 18:42] tsvibt opened #4517 "Documentation: add warning to GPU setup instructions that Intel not supported"
This is obvious in retrospect and isn't TF specific, but it might save some people some time to say something like "Tensorflow only supports CUDA, which is proprietary to NVIDIA, and not all Macs have an NVIDIA GPU".

[2016-09-21 18:49] yaroslavvb commented on #4516
BTW, there's tf.strided_slice
<https://www.tensorflow.org/versions/r0.10/api_docs/python/array_ops.html#strided_slice>
which is closer to the API you want.
The issue with changing tf.slice is that a lot of models will get broken by
this change

PS, here's the function that is used by TensorFlow to turn Python slice
objects into slice specifications
https://github.com/tensorflow/tensorflow/blob/640

[2016-09-21 18:56] jhseu commented on #2218
HDFS support is in master and will be in the 0.11 release. There'll be a how to on the website that's live with 0.11, but I've copied and pasted it below. If you run into any bugs, file an issue and assign it to me.

I haven't tested Kerberos support. Patches are welcome if any code is needed for that:

[2016-09-21 18:56] #2218 closed

[2016-09-21 19:01] vladfi1 commented on #172
I have a decent log-sum-exp implemented:

    def log_sum_exp(xs):
      maxes = tf.reduce_max(xs, keep_dims=True)
      xs -= maxes
      return tf.squeeze(maxes, [-1]) + tf.log(tf.reduce_sum(tf.exp(xs), -1))

I think (?) this should avoid any major numerical issues...

[2016-09-21 19:06] alexggmatthews opened #4518 "GPU kernel for MatrixTriangularSolve"
A feature request. This should be possible without too much disruption because it relies on a CUBLAS call and therefore would not require changes to stream_executor, see section 3.4.6 of the linked document.

https://developer.nvidia.com/sites/default/files/akamai/cuda/files/Misc/mygpu.pdf

The requisite blas function is called _cublasStrsm_ and seems to be already in stream executor in this file

[2016-09-21 19:06] vladfi1 commented on #4506
I believe `tf.gradients(y, x, grad_ys=<dloss/dy>)` does what you want.

[2016-09-21 19:28] alrojo opened #4519 "raw_rnn"
For @ebrevdo on his new [raw_rnn implementation](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/rnn.py#L1018).

In your [example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/rnn.py#L1064)

When you define `next_input` as the following:
[code]

Why make it return an zero input? Will this not cause the last state to be computed incorrectly (

[2016-09-21 19:33] dwightcrow commented on #4507
The 'sudo' makes pip install tensorflow outside the env. Try:

pip install --upgrade $TF_BINARY_URL

Just tested this on Ubuntu 14.04 w/ conda env, was able to reproduce (with sudo) and resolve issue (without sudo).

You can also check the "Using Conda" instructions section vs just pip install of tensorflow.org. They list the below:

# Python 2
(tensorflow)$ pip install --ignore-installed --upgrad

[2016-09-21 19:39] andrewharp commented on #4312
ea0771512af531c2a3fa1f60d3e6dd2b47384e99 is commited, which should fix the remaining configure issues regarding `//base` and `android_tensorflow_lib_lite_no_rtti_lite_runtime`.

[2016-09-21 19:39] #4312 closed

[2016-09-21 19:40] slundqui opened #4521 "Floating Point Exception with Conv3d"
I am getting a floating point exception with the following example:

[code]

I'm currently using Cuda 8.0.27 and CUDNN 5.1.5, running on Ubuntu 16.04.1 LTS
TensorFlow built from source, commit a0d929df36ca7d6f72184371f6c3d6d877dded3e
Bazel version 0.3.1

The code does not error out if you change the kernel height (currently 16) to other numbers (I've tried 14, 15, 17, and 18).

Thanks in advanced.

[2016-09-21 19:45] andrewharp commented on #4146
Android-specific Java interface for inference added in 54bd703932480790643c641796386c225e4e1cf3. It may eventually be superseded by a full Java API implementation, but for now it should allow running a variety of graphs without any native code recompilation.

[2016-09-21 19:45] #4146 closed

[2016-09-21 19:50] #4105 closed

[2016-09-21 19:54] #4514 closed

[2016-09-21 20:00] aselle commented on #4267
Automatically closing due to lack of recent activity by submitter. If the suggestions do not solve the problem, please provide information when available, and we can reopen.

[2016-09-21 20:00] #4267 closed

[2016-09-21 20:02] aselle commented on #4463
@hholst80  please let us know if this resolves your problem so we can close the issue.

[2016-09-21 21:20] rizar commented on #4516
this change

Should it be deprecated then, if it's only purpose is backward compatibility?

[2016-09-21 22:21] alrojo commented on #4519
Or wait ... the zero state won't actually be used because `(next_output, cell_state) = cell(current_input, state)` happens before ...

[2016-09-21 22:21] #4519 closed

[2016-09-21 22:30] hurshprasad opened #4524 "bidirectional_rnn not taking sequence_length [batch_size]"
Trying to do variable sequence length with brinn and not able to use placeholder of batch_size as sequence length, instead wants num_steps size even though function description says [batch_size].

In the code below setting up the graph gives an dimension error. (I am using the latest tensorflow version 0.10.0.)

[code]

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/site-packa

[2016-09-21 22:48] jmugan commented on #3958
I do it like this. Is this what you are asking?
[code]

[2016-09-21 23:37] jmchen-g commented on #4502
Please post this with more detailed information on stackoverflow. Thanks.

[2016-09-21 23:37] #4502 closed

[2016-09-22 00:15] kuza55 opened #4525 "Python Exceptions lead to CUDA Memory Leak"
I've been using hyperopt in it's MondoTrials configuration to do a grid search of my hyperparameters and the process has been slow going since every time my python program crashes for whatever reason, my CUDA memory is not freed

Here is the output i see from nvidia-smi:

[code]

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

Lots of

[2016-09-22 00:39] kuza55 commented on #4525
FWIW, hyperopt does some terrible things where it serializes a function that you define for running a trial, stores that (dill) pickle in mongodb and then deserializes that pickle from a module and runs it there.

I feel like there's a high likelihood that setup is what is causing issues.

[2016-09-22 00:45] ebrevdo commented on #1234
This is only going to get more strict.  Passing labels that are out of range is a sign of a hidden bug; one that may have model builders searching for a long time before figuring out the true problem.  Starting in a few days, this op will raise exceptions when passed invalid labels on CPU.  On GPU it will continue to return NaNs because we can't easily pass error flags back from the GPU.

[2016-09-22 00:45] ebrevdo commented on #4443
See the related bug.

This is only going to get more strict. Passing labels that are out of range is a sign of a hidden bug; one that may have model builders searching for a long time before figuring out the true problem. Starting in a few days, this op will raise exceptions when passed invalid labels on CPU. On GPU it will continue to return NaNs because we can't easily pass error flags back from

[2016-09-22 00:45] #4443 closed

[2016-09-22 00:47] ebrevdo commented on #4336
This already exists; see the arguments `initial_state_fw` and `initial_state_bw` for both `bidirectional_rnn` and `bidirectional_dynamic_rnn`.

[2016-09-22 00:47] #4336 closed

[2016-09-22 00:50] ebrevdo commented on #4124
Have you tried using `tf.unpack(outputs, num=max_timestep, axis=0)` ?

i think the 0 in your unpack is to the wrong argument.  always pass the keywords for keyword arguments.

please let us know if this solves your problem.

[2016-09-22 00:51] ebrevdo commented on #3334
This is on the backburner for a bit; sorry.  No updates on when it'll be done.

[2016-09-22 00:53] ebrevdo commented on #2938
Assigning to @mrry  who wrote the shape inference code; Derek, is something possible here?

[2016-09-22 00:59] mrry commented on #2938
Is it possible that this just works now? As far as I can tell...

[code]

...with `maxLength` and `batchSize` as `tf.Tensor` objects, and `embDimSize` as a Python `int` should trigger auto-packing, and the packed new-shape argument should make it back out of `tensor_util.constant_value_as_shape()` (added in https://github.com/tensorflow/tensorflow/commit/706a5baa6e633ffbbcdf49f69e3ef88421001a76 on

[2016-09-22 01:19] benbarsdell opened #4526 "GPU-resident queue for prefetching over PCIe"
It would improve performance in some cases to be able to asynchronously prefetch data over the PCIe bus while GPU computation is taking place. A GPU-resident queue seems like the natural way to achieve this.

In the SO thread below, @yaroslavvb mentions using Variables pinned to the GPU to achieve the same effect, but I was unable to find a way to get this to work.

### Related threads:

https://s

[2016-09-22 01:22] ebrevdo commented on #4519
Yeah it's an unfortunate consequence of every calculation needing some
value to be provided. Nevertheless there's no slowdown from this extra cond.

On Sep 21, 2016 3:22 PM, "Alexander Rosenberg Johansen" <
notifications@github.com> wrote:

[2016-09-22 01:49] yaroslavvb commented on #4526
@zheng-xq can tf.assign copy data to GPU at the same time as the GPU runs computations?

BTW, transfers between TensorFlow and Python runtimes can be pretty slow, so if you are getting data from feed_dict/numpy as in the SO question, that's likely to be the bottleneck. Recently I found a [case](https://github.com/tensorflow/tensorflow/issues/4498) where data transfer rate was limited to 65 MB/seco

[2016-09-22 02:28] peymanr commented on #4319
I am getting the same error.  I checked bazel version and its 3.1:
`
Build label: 0.3.1
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Fri Jul 29 09:09:52 2016 (1469783392)
Build timestamp: 1469783392
Build timestamp as int: 1469783392
`
I am on commit 56a8e1.  CUDA 8.0 with CUDNN 5.0 with Nvidia GTX 1080 (driver ver

[2016-09-22 02:30] matpalm commented on #1450
also saw this last night; after 2hrs running at 80% GPU util

[code]

TITAN X (Pascal)
CUDA V8.0.26
CuDNN 5.1.5

[2016-09-22 02:48] mattisback commented on #67
I get the error

It's a bit frustrating that building tensorflow is reliant on an external source which is unreliable.  Perhaps a backup url should be implemented in case the original url is not accessable?

[2016-09-22 02:55] andrewliao11 commented on #4506
thx! solved

[2016-09-22 02:55] #4506 closed

[2016-09-22 02:57] vrv commented on #67
@damienmg, @lberki what do you think about being able to list multiple sources for an external source, instead of just one in bazel?

For example, one thing we could do is host a lot of the source code ourselves on say, Google storage.  Unfortunately, that doesn't work for our clients in China, which is why we don't do that today.  However, if we had multiple sources to choose from, bazel could it

[2016-09-22 02:57] eddy023 opened #4527 "Error occurs when a client accesses a server on different machine"
I just get started to use distributed version of tensorflow and start by simply run a server on comp1:2222:

"
import tensorflow as tf
worker1 = "192.168.217.227:2222"
worker_hosts = [worker1]
cluster_spec = tf.train.ClusterSpec({"worker" : worker_hosts})
server = tf.train.Server(cluster_spec, job_name="worker", task_index=0)
server.join()
"

and run a client ("192.168.217.205") :

"
import tensor

[2016-09-22 03:02] TaurusD opened #4528 "How could wide_n_deep tutorial apply for muti-class categoring task?"
### Environment info
Operating System: Linux

### What other attempted solutions have you tried?
delete the lines:

    df_train[LABEL_COLUMN] = (df_train["label"].apply(lambda x: '>50K' in x)).astype(int)
    df_test[LABEL_COLUMN] = (df_test["label"].apply(lambda x: '>50K' in x)).astype(int)

which caused 'tensorflow.contrib.learn.python.learn.monitors.NanLossDuringTrainingError: NaN loss during

[2016-09-22 03:16] zheng-xq commented on #4526
tf.assign itself doesn't do the copy. The send/recv pair after the graph partition does that. And it runs in parallel with the computation.

The data transfer between TF and Python through feed_dict is often hidden through input queues. A GPU-resident queue could save the additional overhead from CPU to GPU once the data is in TF.

However, we had discussed the possibility of a GPU-resident queue,

[2016-09-22 03:34] mattisback commented on #1334
I tried `git submodule update --init` but I still get the error:
`error: can't copy 'external/protobuf/python/google/protobuf/wrappers_pb2.py': doesn't exist or not a regular file`

[2016-09-22 03:43] damienmg commented on #67
Sounds like a reasonable feature request yes.

[2016-09-22 04:11] #4527 closed

[2016-09-22 04:28] jmchen-g commented on #4517
We expect people to know what cuda/openCL is (no need to be familiar) if they want to use GPU for computing. Other wise there will be a lot to explain in the docs.

[2016-09-22 04:28] #4517 closed

[2016-09-22 04:41] jart commented on #67
@vrv @damienmg Does [repository_ctx.download](https://www.bazel.io/versions/master/docs/skylark/lib/repository_ctx.html#download) throw an exception when a download fails? Because then we could write our own custom repository rule that has failover.

But to be honest, I would rather just mirror the files to a server that works everywhere in the world, including China. I think I figured out how to

[2016-09-22 04:43] jmchen-g commented on #4510
Please post this in stackoverflow. Thanks.

[2016-09-22 04:43] #4510 closed

[2016-09-22 04:49] jmchen-g commented on #4469
Please post this to stackoverflow. Thanks.

[2016-09-22 04:49] #4469 closed

[2016-09-22 04:55] jmchen-g commented on #4495
@zheng-xq Could you take a look? Thanks.

[2016-09-22 05:04] jmchen-g commented on #4525
We don't really directly support those third party tools so please post this on stackoverflow. Thanks.

[2016-09-22 05:04] #4525 closed

[2016-09-22 05:10] jmchen-g commented on #4526
Will close this for now. Feel free to reopen this with more updates. Thanks.

[2016-09-22 05:10] #4526 closed

[2016-09-22 05:17] jmchen-g commented on #4524
Please post this on stackoverflow instead. Thanks.

[2016-09-22 05:17] #4524 closed

[2016-09-22 05:28] gaurav5670 commented on #4200
@tatatodd my git commit hash is ca1aa4ad2d4e011e8479319e10d73281a50f7560

[2016-09-22 05:29] zheng-xq commented on #4495
In general, TensorFlow transfers a tensor between ops across different devices.

If a variable is pinned on CPU, reading it on GPU will cause it to transfer. If your graph reads it several times, it will be transferred several times. The way to avoid that is to read from a tf.identity that is pinned on GPU. In that case, the tensor flowing from the CPU variable to its GPU tf.identity will cause it

[2016-09-22 05:47] jmchen-g commented on #4521
what was the error message?

[2016-09-22 05:48] dwightcrow opened #4529 "can't bazel build benchmark_model with quantization deps due to -lpthread linking error"
Trying to build //tensorflow/tools/benchmark:benchmark_model per instructions at this stackoveflow post http://stackoverflow.com/questions/37953369/tensorflow-quantized-graph-for-android. Am getting error that cannot find -lpthread despite my belief that lib is unneeded and best efforts to remove it.

[code]

//tensorflow/tools/benchmark/BUILD cc_binary

[code]

//tensorflow/contrib/quantization/k

[2016-09-22 05:56] gaurav5670 commented on #4200
@tatatodd I have tested with git commit hash ca1aa4ad2d4e011e8479319e10d73281a50f7560 and still the problem is present. Getting the same error.

[2016-09-22 06:25] haibarasiao opened #4530 "distribute tensorflow chief node OOM"
sorry to trouble.
my model has 6 conv layer and a softmax layer. kernel size is 3*3, channel is 192, num class is 300.
I run a distribute model with 20 Tesla K40m.
when I run one ps job and 5 worker job, everything is fine. But when I run a ps job and 19 worker jobs in 20 PC, when the chief node Initialize for node 15, it gets the OOM error.
I don't know how to deal with it.
Anyone can help me?

[2016-09-22 06:30] soshiant1992 commented on #4336
no i dont mean two initial states for different directions i mean two initial states for each direction so in total 4 initial state
thnx

[2016-09-22 06:30] mrry commented on #4500
Thanks for sending over that code. There's nothing obvious in that file that would lead to variables being uninitialized, but I haven't read all of the files.

Could you try adding an explicit call to `sess.run(init_op)` in your session, to see if the initialization is being missed for some reason?

If that doesn't fix things, the next step would be to package up your code as a single file with no

[2016-09-22 06:32] ebrevdo commented on #4336
You can pass tuples for the initial states for, e.g., lstm cells.

On Sep 21, 2016 11:30 PM, "soshiant1992" <notifications@github.com> wrote:

[2016-09-22 06:59] qingzew commented on #4500
@mrry Thank you for your help. I have tried `sess.run(init_op)`, it doesn't work. Before that, I wrote it on singal machine, putting all variables  and ops on gpu, it was fine. Then I modify it on distributed version, it does not work any more.

In fact, I write a cluster base on mesos,  I run this example on it. I am not sure if the cluster has bugs, although a mnist example can run on it

so I w

[2016-09-22 07:11] DavidNorman commented on #4359
Hello.  I think I should introduce myself.  I am working for GraphCore, a UK startup making a graph processor / accelerator.  It seems that I am traveling the same path as Aidan.

I have a vaguely functioning device, although I was stuck on the 'having to edit the device_name_utils.cc and device.py' problem.   It would be a very useful thing to be able to build a dynamically linked device/kernels

[2016-09-22 07:28] waichee commented on #582
@vrv that's bizarre...we are building from source c++ on the following commit hash 59225e413e9680d67ae90196fa536f5271fcf615 from master

this is what we're doing now and we are unable to get it to take in larger than 64Mb model if we remove the sed command on a centos7 base image

[code]

are we missing something obvious?

[2016-09-22 08:38] DavidNorman commented on #4359
I saw the slashdot conversation about [DeviceContexts](http://stackoverflow.com/questions/39399890/tensorflow-device-contexts?noredirect=1&lq=1).

Can you clarify the difference between Devices and DeviceContexts.  Why would I not store device specific information in my Device class?  For instance, handles to device specific structures, mapped memory, etc?

[2016-09-22 08:44] osdf commented on #2514
Thanks @TimZaman for the image, I overread the request by @markpwoodward (apologies for that!).

[2016-09-22 08:56] kkjh0723 opened #4531 "Error while updating tensorflow installed from source"
### Environment info
Operating System: Ubuntu 14.04.4

Installed version of CUDA and cuDNN: CUDA 8.0, cuDNN 5
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

    -rw-r--r-- 1 root root   560184  7월 29 09:12 /usr/local/cuda-8.0/lib64/libcudadevrt.a
    lrwxrwxrwx 1 root root       16  7월 29 09:12 /usr/local/cuda-8.0/lib64/libcudart.so -> libcudart.so.8.0
    lrwxrwxrwx 1 root root

[2016-09-22 09:01] TimZaman commented on #2514
Note that anyone using it must be extremely careful. Running a 'summary operation' would already pull both graphs through and dequeue both. Just fixed that issue in my implementation.

[2016-09-22 09:09] kkjh0723 commented on #4483
I also had the same issue. But when I swtiched to the r0.10 branch, other warnings and errors come...

    WARNING: /home/jinhyung/.cache/bazel/_bazel_jinhyung/24f731f36d8cecf427d437d0326fcc3c/external/protobuf/WORKSPACE:1: Workspace name in /home/jinhyung/.cache/bazel/_bazel_jinhyung/24f731f36d8cecf427d437d0326fcc3c/external/protobuf/WORKSPACE (@__main__) does not match the name given in the repo

[2016-09-22 09:22] edgarriba commented on #288
@girving What's the status for sorting op?

[2016-09-22 09:29] LinJM commented on #2146
+ 1 for GPU CTC Loss @ @ # #

[2016-09-22 09:31] LinJM commented on #1736
+1

[2016-09-22 09:35] hholst80 commented on #4455
@jmchen-g this is the only session in my program.

[2016-09-22 09:56] TimZaman commented on #3168
usage of `num_epochs` means you apparently _have_ to use `initialize_local_variables()`

[2016-09-22 11:10] lxcid commented on #3723
I did have the same issue. I believe this is cause by DYLD_LIBRARY_PATH not working in OS X El Capitan due to SIP.

https://github.com/oracle/node-oracledb/issues/231

I'm looking to workaround though.

[2016-09-22 11:13] bhack commented on #1996
Unified Containerization support for Apache Mesos 1.0 is merged now https://github.com/douban/tfmesos/issues/12#issuecomment-248848889

[2016-09-22 11:27] #4507 closed

[2016-09-22 12:08] Nayana-ibm commented on #3527
@girving
We have created a PR  #4508 for TensorFlow with big endian changes.
Could you please have a look?
Any suggestions would be helpful to fix failing test cases mentioned above .

[2016-09-22 13:26] davidj-github commented on #4066
Schlumberger-Private
The Cloud storage documentation for exponential backoff recommends adding a random term to the sleep time. See https://cloud.google.com/storage/docs/exponential-backoff

From: Balachander Ramachandran [mailto:notifications@github.com]
Sent: Tuesday, September 20, 2016 10:36 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: David Judson <DJudson@slb.com>; Mention

[2016-09-22 13:46] mschulkind commented on #4203
I'm having almost the exact same problem, but for a slightly different reason.

I'm using `graph_actions.evaluate` to evaluate my mode (through `BaseEstimator`, through `ValidationMonitor`), and I'm using an `input_fn` backed by a reader. I only want to run through my test data once, so I set `num_epochs=1`. I have 260 vectors in my test set, and `batch_size=100`, so as you'd expect, I get back 10

[2016-09-22 14:18] mschulkind commented on #4203
This looks like the guilty commit:
https://github.com/tensorflow/tensorflow/commit/54cf1600b98127d5076def3c567cda1e087c1761

Basically, it seems like if you ever hit either of the 2 except clauses because your `eval_dict` throws the matching exceptions, you're going to then get an exception from `_write_summary_results`.

[2016-09-22 14:35] ojss commented on #3723
@lxcid I disabled SIP now atleast the library loads and segfaults :/
@yaroslavvb here is the trace from lldb
`'(lldb) r test.py
Process 2728 launched: '/Users/ojas/.pyenv/versions/ve2/bin/python' (x86_64)
Process 2728 stopped
* thread #1: tid = 0x47b7, 0x0000000100009000 dyld`_dyld_start, stop reason = exec
    frame #0: 0x0000000100009000 dyld`_dyld_start
dyld`_dyld_start:
->  0x100009000 <+0>: p

[2016-09-22 14:52] alquraishi commented on #4425
Can confirm this problem as well running Ubuntu 14.04 and GTX Titan X with CUDA 7.5 and cuDNN 4.0.7. Although, for me it fails with anything larger than 128 x 128, e.g. 129 x 129 makes it fail.

[2016-09-22 14:55] JianbangZ commented on #4498
@mrry My code is a mimic of the inception distributed example, the code to control training op is the same as this https://github.com/tensorflow/models/blob/master/inception/inception/inception_distributed_train.py

Has the team seen data transfer slowness with this implementation?

[2016-09-22 15:05] vasantivmahajan commented on #3919
I tried using the wide_n_deep_tutorial code on my personal data set. I am uploading my data file and the test file from AWS S3 and I have ensured that my data does not have an additional spaces at the end.
However, I am still getting the same error message.

![argument_of_type_ffloat_is_not_iterable](https://cloud.githubusercontent.com/assets/17990840/18753723/383e64a8-80b4-11e6-9a8e-c5957cf68c61.

[2016-09-22 15:24] mrry commented on #4498
@JianbangZ What's the duration of each step when running on a single process, and what's the size of the model that's being retrieved on each step? What batch size are you using? For Inception in the default configuration, I wouldn't expect it to saturate 40GbE, because the computation will be the bottleneck.

And just to confirm, are you running 0.10 or 0.10rc0 (because there were several perform

[2016-09-22 15:47] alexgkendall commented on #4425
I've encountered this too - in the mean time a work around is to temporarily cast the tensor to float64 like @ibab suggested

[2016-09-22 15:52] aidan-plenert-macdonald commented on #4359
@DavidNorman If you look back a [couple posts ago](https://github.com/tensorflow/tensorflow/issues/4359#issuecomment-247488042) I had the same problem. The trick is calling you device something like ["device:FPU"](https://github.com/tensorflow/tensorflow/issues/4359#issuecomment-247488613). In my pull request, [I do this](https://github.com/tensorflow/tensorflow/pull/4520/files#diff-7c3aa428ac49c5

[2016-09-22 15:54] jeandut opened #4534 "Enhancement: Locally Connected layers"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

http://stackoverflow.com/questions/34858459/tensorflow-not-sharing-variables
https://groups.google.com/a/tensorflow.org/forum/#!topic/discuss/S5_xohNLwgs

I need to implement a network with locally connected layers (convolution without weight sharing) with 2D inputs (images).

I was wonde

[2016-09-22 16:04] aidan-plenert-macdonald commented on #4359
@DavidNorman with regards to the Device Contexts, I forget were I heard it, but I think @vrv told me that GPUs have multiple contexts which handle different parts of computation like memory access, pushing kernels onto the device, etc.

Also, if you could put both your questions on StackOverflow, I will answer them there for better accessibility in the future. eg. [My question about compilation](h

[2016-09-22 16:07] TimZaman opened #4535 "Feature: Ability to restart, reopen or reset a queue."
Taking into account what @mrry said on http://stackoverflow.com/questions/39204335/can-a-tensorflow-queue-be-reopened-after-it-is-closed/39209186#39209186 ;

It's not possible to reset a queue unless you have multiple sessions. How about resetting it when you have a single session?

**Use case:**
In a single session, if one would want to run _exactly_ one epoch (where epoch_size%batch_size!=0) of

[2016-09-22 16:07] JianbangZ commented on #4498
@mrry Thank you for the quick response. I am not training on GoogleNet, I am just using the method it uses to do distributed on my own network.
My net only has 3 conv + 2 fc + 1 softmax readout layers to handle the input image size of 99*99. The total parameter count is about 9 M, which means the parameter size is 36 MB, so 40 GbE is way enough.

My training speed is around 600 images/sec on singl

[2016-09-22 16:36] Oryak commented on #4531
I was able to fix it locally for me by reverting
https://github.com/tensorflow/tensorflow/commit/7bcdcbbf60fc08346fd8016270a0563f4b51362b
and changing in the lines 567 and following:

`
            cfg = DATA_CFG,
...
            cfg = HOST_CFG,

`

[2016-09-22 16:45] loliverhennigh opened #4536 "Convolutional RNN/LSTM"
Hi all,

This is a feature request for Convolutional RNNs such as [Convolutional LSTMS](http://arxiv.org/pdf/1506.04214v2.pdf). Is there any plan to support them in tensorflow?

I have an implementation working in [here](https://github.com/loliverhennigh/Convolutional-LSTM-in-Tensorflow) and some basic results indicating how well they do. I went about implementing them by making a new class called

[2016-09-22 18:00] vrv commented on #4089
Now currently available as "__git_version__":

Example:
[code]

[2016-09-22 18:00] #4089 closed

[2016-09-22 18:16] mrry commented on #4535
@suharshs is working on many different improvements to the Session code, and I think making `Session::Reset()` sensible for a single session is on his list.

[2016-09-22 18:32] slundqui commented on #4521
I get the following error message:
Floating point exception (core dumped)

[2016-09-22 18:38] TimZaman commented on #4535
This is perfect! 0.11? Thanks for your valuable contributions on tf all over the interwebs, @mrry .

[2016-09-22 19:06] kracwarlock commented on #4196
I have tried using the same GPU from two TF processes simultaneously. Sometimes both run; sometimes one crashes with messages like these:
[code]
Why is that?

[2016-09-22 19:15] yaroslavvb commented on #288
@edgarriba you can sort array by using `nn.top_k` followed by `tf.gather`

[2016-09-22 19:19] andrewharp commented on #4529
To work around the pthread issue, use the `@gemmlowp//:eight_bit_int_gemm_sources` filegroup in your srcs rather than the cc_library target as a dep.

e.g.:
[code]

[2016-09-22 19:55] benbarsdell commented on #4526
A GPU queue would only need to double-buffer the input; this doesn't seem like a big deal with respect to memory use(?).

Is a GPU queue more complicated than a CPU queue besides the different allocator?

[2016-09-22 20:01] tkuebler commented on #4368
Having this problem with both 0.2.3 and 0.3.1.  Gonna try 0.2.2, but this is kinda bad, right?  Anyone have an explanation of why?

[2016-09-22 20:08] zheng-xq commented on #4526
Modern models are very aggressive in using the queue capacities. In order to hide the latency, they tend to use a very large queue capacity.

[2016-09-22 20:10] mkolod commented on #4526
I think the issues with H2D transfers are quite real. Here's an example from AlexNet where the TF queues are feeding the GPUs with data for every mini-batch. The lack of overlap is demonstrated here for 2 GPUs (see screenshots). Because AlexNet has a low compute-to-I/O ratio, the problem is more clearly visible than in say Inception v3 or ResNet, so even though AlexNet isn't interesting for academ

[2016-09-22 20:11] mkolod commented on #4526
![alexnet_1_gpu](https://cloud.githubusercontent.com/assets/476135/18764262/7090fbca-80c5-11e6-9ea2-86078a8d6926.png)

[2016-09-22 20:40] yaroslavvb commented on #4526
Here's what I meant when I said that GPU-resident queue could be doing using existing ops:
- Keep a buffer of examples on GPU in several variables
- Regular FIFO queue is enqueues example indices, while actual example data lies on GPU
- A global counter keeps track of number of examples that have been consumed
- A separate thread periodically checks the counter, and replaces stale variables with n

[2016-09-22 20:50] aselle commented on #1996
I accidentally added these tags here and not in the issue I intended to. Sorry.

[2016-09-22 20:52] aselle commented on #3168
@MatthieuBizien, could you confirm that your issue is resolved by using initialize_local_variables so we can close hte issue?

[2016-09-22 20:56] TimZaman commented on #3168
This issue is already closed though.

[2016-09-22 20:59] mkolod commented on #4526
@yaroslavvb Yes, basically a backpressure pattern (some common tech doing this type of stuff these days being Akka, RxJava, and Flink, and for that matter, even flow control in TCP for a more dated reference). I think though that it would be good for this to be baked into the framework rather than shifting flow control workarounds to the user. Data prefetch is pretty much a universal need, since t

[2016-09-22 21:23] andrewharp commented on #4319
Missing RTTI target issue fixed in ea0771512af531c2a3fa1f60d3e6dd2b47384e99

@peymanr If you're still experiencing the jpeg problem please file a new issue.

[2016-09-22 21:23] #4319 closed

[2016-09-22 21:38] raghav20 commented on #23
I am wondering how can I run Distributed Tensor Flow on Top of Spark

[2016-09-22 22:03] cancan101 commented on #4117
Any thoughts on this?

[2016-09-22 23:42] edgarriba commented on #288
@yaroslavvb are those two functions differentiable though?

[2016-09-23 00:43] ic commented on #4493
Related to #4531

[2016-09-23 00:56] ic commented on #4531
@Oryak Same observation for the commit that causes the problem. However, the change you propose depends on the Bazel version. That will work before 0.3.1, if I am not mistaken (it may even be the 0.3.x series). From 0.3.1, `cfg` should be a string. See #4371 for related and recent activity.

[2016-09-23 01:11] ic commented on #4493
I have just tried with both Bazel @0.3.1 and the present master. Both lead to the same errors reported by @KjerG, trying to build Tensorflow on the present master, too.

Interestingly, building 95ddc4e (just before the possibly breaking 7bcdcbbf) seems to work (I just need to build `//tensorflow/cc:cc_ops`, though).

[2016-09-23 01:56] sahiliitm opened #4539 "Clarification about embedding_attention_seq2seq"
This would qualify as a bug depending on what was the intention behind writing the code, the way it was written and whether I understand the workings of Tensorflow well enough.

The [`cell` input](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/seq2seq.py#L755) given to
` embedding_attention_seq2seq` function in [seq2seq.py](https://github.com/tensorflow/tensorflow/blob/

[2016-09-23 02:24] #4539 closed

[2016-09-23 02:51] lan2720 opened #4540 "error when using embedding_lookup with random initial embeddings"
Hi all. I'm working on variable-length sequence data. eg. a sequence `data = np.array([4,2,3,2,0,-1,-1])`(padded to length 7, the real sequence length is 5). They are word ids. So I can get word embeddings through `tf.nn.embedding_lookup`.

[code]

If I use `placeholder` to hold my pre-trained word vectors `embinit.save`, `id = -1` is ok to work.
I got result from the code above like that. As I ex

[2016-09-23 03:12] jmchen-g commented on #4530
Using 1 ps for 19 workers is very likely to make PS the system's bottleneck. Can you use say 5 ps instead?

[2016-09-23 03:17] jmchen-g commented on #4505
I think pack() only works with dense tensor at this point.

[2016-09-23 03:17] #4505 closed

[2016-09-23 03:20] jmchen-g commented on #4459
This is a question better suited for StackOverflow. Please ask it there and tag it with the `tensorflow` tag.

[2016-09-23 03:20] #4459 closed

[2016-09-23 03:22] jmchen-g commented on #4473
We are actually already working on this and will have it included in the release notes when it is public (no eta yet though). So I will close this for now.

[2016-09-23 03:22] #4473 closed

[2016-09-23 03:23] jmchen-g commented on #4513
This is a question better suited for StackOverflow. Please ask it there and tag it with the `tensorflow` tag.

[2016-09-23 03:23] #4513 closed

[2016-09-23 03:24] jmchen-g commented on #4531
@jart Could you take a look at this? Thanks.

[2016-09-23 03:27] haibarasiao commented on #4530
Ok,I will try 5 ps job and response soon

[2016-09-23 03:29] jmchen-g commented on #4534
@mrry Since you replied in SO. Do you know if anyone is working on this?

[2016-09-23 03:34] kkjh0723 commented on #4531
@Oryak I could install without error after I update the bazel version 0.3.1. Problem solved.

[2016-09-23 03:36] kkjh0723 commented on #4483
@f8281113 I solve this problem by updating bazel to the latest version. I could install master branch after the updating.

[2016-09-23 03:37] jmchen-g commented on #4540
@a-dai Could you take a look at this? Thanks.

[2016-09-23 03:38] moontails commented on #4066
@davidj-github @rinugun

Proposed changes to incorporate the above random sleep for milliseconds

[code]

[2016-09-23 03:41] zengfancy commented on #4385
sorry, this is is misleading. it's a Matrix-Matrix multiplication. 150*150  Mul 150*100. I think it's reasonable to cost 4ms.

[2016-09-23 03:41] #4385 closed

[2016-09-23 03:42] Karl-Krauth opened #4542 ""Convolution" across two matrices"
Are there any plans to implement "convolutions" wherein we have a moving patch over a second matrix that acts as a changing filter?

This would be useful for implementing kernels such as this one:
https://papers.nips.cc/paper/5348-convolutional-kernel-networks.pdf

I asked whether a restricted version of this could be achieved by using already existing tf ops on [stack overflow](http://stackoverfl

[2016-09-23 03:43] jmchen-g commented on #4440
Thanks for reporting. @martinwicke could you take a look at this? Thanks.

[2016-09-23 03:46] jmchen-g commented on #4437
@lukaszkaiser Could you take a look at this? Thanks.

[2016-09-23 03:47] jmchen-g commented on #4466
@petewarden Could you take a look at this? Thanks.

[2016-09-23 03:47] mschulkind opened #4543 "ValidationMonitor + readers lead to: Coordinator didn't stop cleanly: Attempted to use a closed Session."
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

http://andyljones.tumblr.com/post/133267887103/tensorflow-placeholder-queue-errors

Above not totally relevant, but couldn't find much.

### Environment info
Operating System:

Relatively recently updated Arch.
Linux terrapin 4.6.5-4-ck #1 SMP PREEMPT Mon Aug 8 20:47:19 EDT 2016 x86_64 GN

[2016-09-23 03:55] andrewharp commented on #4466
@catherineHR All nodes are verified when loading on Android, but you can use the [strip_unused](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/strip_unused.py) script to remove the unused and unsupported nodes from your graph.

[2016-09-23 03:56] lukaszkaiser commented on #4437
The seq2seq module does not use the dynamic unrolling functions. We need a new module that uses them, and it will probably have a new API and the current seq2seq will be deprecated. That's why we're not documenting it -- because we're not committing to this API and it might go away.

[2016-09-23 03:56] #4437 closed

[2016-09-23 04:31] haibarasiao commented on #4530
@jmchen-g sad ,it also out of memory:

Ran out of memory trying to allocate 33.84MiB.  See logs for memory state.
Resource exhausted: OOM when allocating tensor with shape[128,32,32,192]

[2016-09-23 04:33] tuandnvn opened #4544 "A problem when indexing tensor, I'm not sure if it is related to gather_nd issue"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

Might be related to https://github.com/tensorflow/tensorflow/issues/206

### Environment info
cuda-7.5
tensorflow 0.10.0rc0

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)

[code]

However, it complained that the

[2016-09-23 04:38] jmchen-g commented on #4337
@concretevitamin Could you take a look at this? Thanks.

[2016-09-23 04:40] concretevitamin commented on #4337
@ebrevdo is a more suitable person to look at this, I believe.

[2016-09-23 04:40] dwightcrow commented on #4529
Worked great, thanks so much @andrewharp!!!!

Really appreciate prompt reply, transcribed answer (along with git pull --recurse-submodules and removing all earlier "fixes") to StackOverflow so hopefully will prevent other n00bs hitting you with same question.

Thanks again!

[2016-09-23 04:40] #4529 closed

[2016-09-23 04:41] jmchen-g commented on #4361
@shlens Could you take a look at this? Thanks.

[2016-09-23 04:46] qinghua2016 opened #4545 "TypeError: Expected int for argument 'num' not <tf.Tensor 'Squeeze:0' shape=() dtype=int32>."
I run the following code, but it has one error at    "tf.unpack(inputs,self.bathsize)",the error is as follows:
TypeError: Expected int for argument 'num' not <tf.Tensor 'Squeeze:0' shape=() dtype=int32>.
[code]
As I know, tf.unpack have one parameter num, when the code run to "tf.unpack(inputs,self.bathsize)", num=None.  When the bachsize if fixed, it succeed to run. But  I want the model inputs

[2016-09-23 04:48] jmchen-g commented on #4402
This is a question better suited for StackOverflow. Please include more detailed information about your run there and tag it with the `tensorflow` tag.

[2016-09-23 04:48] #4402 closed

[2016-09-23 05:36] jeffxtang commented on #4098
Thanks @jackflips! It works like a charm! Sorry for my late response - I just came back from a 2-week trip and tested it.

[2016-09-23 05:36] #4098 closed

[2016-09-23 06:31] JYKim9628 opened #4547 "import tensorflow on apache2 cgi module"
I try to run tensorflow on web server python cgi
I succeed in running python in apache2 web server

but I stoped by environment variables :LD_LIBRARY_PATH set in Python Code

I run os.environ:function and result print check
This result is correct value
I don't know what can i do

I need you help

**my code is**
[code]

**and result**

[2016-09-23 06:51] haibarasiao commented on #4530
and I get the log here:
I tensorflow/core/common_runtime/bfc_allocator.cc:692] 1 Chunks of size 69745664 totalling 66.51MiB
I tensorflow/core/common_runtime/bfc_allocator.cc:692] 1 Chunks of size 76568576 totalling 73.02MiB
I tensorflow/core/common_runtime/bfc_allocator.cc:692] 1 Chunks of size 77224448 totalling 73.65MiB
I tensorflow/core/common_runtime/bfc_allocator.cc:692] 1 Chunks of size 7867

[2016-09-23 07:11] keven425 commented on #1768
I agree. This error `No gradients provided for any variable` is not informative. Would be ideal to show the node that caused the error.

[2016-09-23 07:18] AlvinChen13 commented on #3084
r0.9 works well, after I upgrade to r0.10, encounter the same issue, and my tensorflow built from source.

[2016-09-23 07:21] AlvinChen13 opened #4548 "r0.10: ImportError: No module named tensorflow"
My code runs well on r0.9, and after I upgrade to r0.10, and it runs failed. And my TF r0.10 is built from source also.

[2016-09-23 07:42] AlvinChen13 commented on #4548
More information: since r0.10 needs setuptool > 1.7, and the installed setuptool is 0.98, then I update it to 27.3. And then I switch back to TF r0.9, encounter the same error.

Anyone use r0.10, and what's the version of setuptool used?

[2016-09-23 08:51] lingz commented on #4495
Thanks @zheng-xq for your response, so just to clarify things:

For an RNN Cell, whose weights are pinned to CPU but ops executed on GPU, the cell will be called multiple times under `dynamic_rnn` with `tf.python.ops.control_flow_ops.while_loop`. In this case, it would try copy the weights on every iteration. The correct approach to this, is to modify the `RNNCell` class, and modify the weight var

[2016-09-23 08:56] DavidNorman commented on #4359
@aidan-plenert-macdonald thanks for the info  I do not have a separate .so file at the moment (or a .dylib as it would be on my Mac).   I have a few more hurdles to get past before I try to make that happen i think.  The requirement for an external library means I have to modify the workspace.bzl, so I'm not sure that there is too much point unless I can figure out how to avoid that.

Have posted

[2016-09-23 08:57] cdmajie opened #4549 "tensorboard can not work"
when i run tensorboard demo:
1. python mnist_with_summaries.py   OK
2. tensorboard --logdir=/tmp/mnist_logs/
print like this
WARNING:tensorflow:IOError [Errno 2] No such file or directory: '/usr/local/lib/python2.7/dist-packages/tensorflow/tensorboard/webcomponentsjs/webcomponents-lite.min.js' on path /usr/local/lib/python2.7/dist-packages/tensorflow/tensorboard/webcomponentsjs/webcomponents-lite.

[2016-09-23 08:59] f8281113 commented on #4483
@all Thank you replay .. I  slove this problem too.  I just update nvidia-cuda-toolkit and  nvidia-cuda-dev; **command:**  sudo apt-get install nvidia-cuda-toolkit nvidia-cuda-dev

[2016-09-23 08:59] CSGrandeur commented on #3389
I have the same questions with @wishforgood .
"I have no idea how to change the input of loss function"...

How?

[2016-09-23 09:03] f8281113 commented on #4483
Beaause when i install torach also happed an  error: (https://github.com/torch/distro/issues/130) ,just update: sudo apt-get install nvidia-cuda-toolkit nvidia-cuda-dev
this issue slove too ;But i don't know why..maybe is my nvidvi-card is GTX1080 ......

[2016-09-23 09:04] #4483 closed

[2016-09-23 09:12] #4547 closed

[2016-09-23 09:21] JimmyJUNUCAS commented on #1340
Aha, I have met the problem these days.The problem is caused by the failure of getting the root right. To solve the problem you can input the code 'sudo su -' to get the right of root. Good luck

[2016-09-23 09:21] yselivonchyk commented on #135
Had the same issue with conda virtual environment. Solved it using suggestion by https://github.com/ContinuumIO/anaconda-issues/issues/542
In short, next line before upgrading the tensorflow does the trick:
`pip install --upgrade --ignore-installed setuptools `

[2016-09-23 09:34] cdmajie commented on #4549
change firefox to chrome can slove this problem.

[2016-09-23 09:34] #4549 closed

[2016-09-23 09:52] zorancupic opened #4550 "Multilabel image classification with sparse labels?"
I want to perform a multilabel image classification task for n classes.
I've got sparse label vectors for each image and each dimension of each label vector is currently encoded in this way:
-   1.0 ->Label true / Image belongs to this class
- -1.0 ->Label false / Image does not contain to this class.
-  0.0 ->missing value/label

E.g.: V= {1.0,-1.0,1.0, 0.0}

For this example V the model should l

[2016-09-23 11:35] vigneshstack commented on #4548
How did you tried to revert it back to previous build ?

[2016-09-23 11:44] AlvinChen13 commented on #4548
I can't revert it back, it seems the python issue. Now, my yum can't work after I delete /usr/lib/python2.7/site-packages/. I am not sure whether such packages, like python, setuptools are OS related, and I use centos 7. I dowload the python 7.5.12 source code to rebuild it, and install. But it still can't work.

After I dowload setuptool27.3 and install it, even r0.9 can't work, and it can work w

[2016-09-23 11:54] vigneshstack commented on #4548
Here we have multiple issues !!

Because it's conflicting with YUM package manager and python modules, if possible could you provide cat convolutional.py

[2016-09-23 11:59] carlthome opened #4551 "Feature request: add TensorFlow Serving to conda-forge as well"
[TensorFlow made it into conda-forge](https://github.com/conda-forge/tensorflow-feedstock) which is awesome, but could TensorFlow Serving be provided as well for easier CI? Installing bazel just for building Serving during a CI run is a bit excessive.

[2016-09-23 12:01] AlvinChen13 commented on #4548
Firstly, my original r0.9 works well, then I want to upgrade to r0.10, since r0.10 need setuptool > 1.7, and I updated setuptools to 27.3 manually, then both r0.10 and r0.9 can't work. Then I do a lot of OPs to python, then yum can't work after I delete /usr/lib/python2.7/site-packages since I try to update it by re-install pip.
'convolutional.py' is the example of mnist in repo, and I haven't cha

[2016-09-23 12:16] alquraishi opened #4552 "Feature request: better handling of concurrent execution to prevent unnecessary out of memory failures"
I have a model in which one operation happens to be very memory intensive and cannot be executed at once. I thought that by splitting the operation manually and executing parts of it individually (all on the GPU), I would get around the OOM problem. Unfortunately, it appears that TF aggressively tries to schedule as many ops to run in parallel as possible, even if that results in an OOM failure. I

[2016-09-23 12:30] AlvinChen13 commented on #4548
@vigneshstack I copy the 'site-packages' from another machine, and now the yum can work. But my r0.9 still can't work for the example 'tensorflow-r0.9/tensorflow/models/image/mnist'.. I follow the steps:
bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

mkdir _python_build
cd _python_build
ln -s ../bazel-bin/tensorflow/tools/pip_package/build_pip_package.runfiles/o

[2016-09-23 12:31] AlvinChen13 commented on #4548
BTW, the following works well:

$ bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer

$ bazel-bin/tensorflow/cc/tutorials_example_trainer --use_gpu

[2016-09-23 13:07] TimZaman commented on #3103
Which other ops are non-deterministic that are not non-deterministic by nature?

[2016-09-23 14:25] geekvc opened #4553 "I got a problem when I ran the flower demo of slim"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-09-23 15:25] alquraishi commented on #4425
For some reason I'm getting an error when I try to cast it to float64, specifically this:

    Tensor conversion requested dtype float64 for Tensor with dtype float32

Are there any known issues with upcasting to float64?

[2016-09-23 15:29] Ethanator commented on #1402
Tensorflow 0.10.0 also suffers from the same issue. The answer from @raingo can solve the issue. (i.e., `pip uninstall protobuf`, then `pip install wheel --no-deps -U`)

[2016-09-23 15:38] shlens commented on #4361
@bsautermeister would you have a suggested edit on the docstring that would make the layer more clear?

@argman@, it sounds like your error is fixed, correct?

[2016-09-23 15:47] JulienBelanger opened #4554 "TensorFlow Binary Segmentation"
I've written the following [segmentor](https://docs.google.com/document/d/1Mnfrcu5AU47rRoPwweQv8kRGzTPJaXwJf7zd3pksXK4/edit?usp=sharing) and I can't get the accuracy to work. In fact I'm always getting accuracy of 0.0 whatever the size of my sample.

I think the problem is at the sigmoid layer at the end of U() function where a tensor of continuous elements between 0 and 1 (conv10) is further comp

[2016-09-23 15:49] mrry commented on #4534
@jmchen-g I've no idea.

[2016-09-23 16:07] buptjz commented on #4175
I got the same error when using wide and deep model
`    validation_metrics = {
        # "streaming_auc": tf.contrib.metrics.streaming_auc,
        "precision": tf.contrib.metrics.streaming_precision
    }

    # ValidationMonitors rely on saved checkpoints to perform evaluation operations
    validation_monitor = tf.contrib.learn.monitors.ValidationMonitor(
        input_fn=lambda: input_fn(test

[2016-09-23 17:05] tatatodd commented on #4200
@loretoparisi @gaurav5670

I believe this is the problem.  You've installed tensorflow from source in some location (say dir A), but you also have a default version of tensorflow installed under some other location (say dir B).  Then you run translate.py directly from the sources under A, but imports are being resolved from B.  Your sources under A are up-to-date, but the default installation unde

[2016-09-23 17:10] tatatodd commented on #4234
As above, I recommend that you pick a release branch.  Note that 0.10 has been released.
[code]

[2016-09-23 17:16] tatatodd commented on #4203
@ilblackdragon can you comment on this?  Thanks!

[2016-09-23 17:24] zheng-xq commented on #4495
get_variable already supports that. You can use "caching_device" to specify which device to cache this variable read for.

[2016-09-23 17:39] danmane commented on #3958
Maybe you don't have a graph defined on the session at that point? Did you already construct your tensorflow graph at the time you invoke that line of code?

I think we'll need you to post a reproduction if we are going to debug this further. Preliminarily, it looks like it's an issue with your instantiation of the summary writer, not with the graph visualizer.

[2016-09-23 17:44] linkoffate commented on #4267
I'm also having this problem, and its actually very strange.
Same as @forhonourlx, once I tried importing tensorflow, it said it can't open CUDA library libcuda.so and libcuda.so.1.

So I found the libraries within the machine as the following.
Under /usr/lib, /usr/lib64, the symbolic links are set up like this:
[code]
which is pretty much the way it is expected to be.

It will be natural to expor

[2016-09-23 17:52] raingo commented on #4425
This is reproduced on K80 and GTX Titan.

Another workaround is to implement softmax with primitives:

https://gist.github.com/raingo/a5808fe356b8da031837

[2016-09-23 17:54] jmhodges opened #4557 "using GraphDef in C API?"
I'm looking over the C API to turn a GraphDef into a TF_Graph for use with TF_NewSessionWithGraph, but I can't figure out how that's supposed to be done.

It kind of seems like you can't unless you use the deprecated TF_ExtendGraph API? But that's deprecated, so I'm not sure what to do.

[2016-09-23 18:03] vrv commented on #4557
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api.h#L754 :)

It's currently being worked on though :)

[2016-09-23 18:06] zheng-xq commented on #4526
We had some discussions about this. It seems a good idea to have a separate GPU queue in this case. We still need a larger CPU queue to hide latency between Python and TF. But this introduces a separate transfer stage from CPU to each GPU. We expect the GPU queue on each device to be much smaller: one or two in queue capacity.

The down-side is that this introduces more client side threads to driv

[2016-09-23 18:12] aselle commented on #4269
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-09-23 18:12] #4269 closed

[2016-09-23 18:12] aselle commented on #3912
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-09-23 18:12] #3912 closed

[2016-09-23 18:12] aselle commented on #4229
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-09-23 18:12] aselle commented on #3499
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-09-23 18:12] #3499 closed

[2016-09-23 18:12] aselle commented on #4249
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-09-23 18:12] #4249 closed

[2016-09-23 18:24] mrry commented on #4557
The `TF_ImportGraphDef()` implementation is part of pending PR #4555, so should be available very soon: https://github.com/tensorflow/tensorflow/pull/4555/commits/22221698a3ecd43024f84cd6c468ddd00955f920 (commit)

[2016-09-23 18:45] jrabary commented on #3385
@joel-shor  Here is what exactly I'm trying to do : I have about 2000 classes that are heavily unbalanced. There can be a factor of 30 between the least and the most populated classes. I need to create a batch with a given number of classes and a given number of data per class e.g 10 classes with 20 samples per class for a batch of 200 samples. In this case after each run, I begin by sampling 10 c

[2016-09-23 18:46] jmchen-g commented on #4432
I believe this is similar to the cond() and you can find the explanation here: https://www.tensorflow.org/versions/r0.10/api_docs/python/control_flow_ops.html#cond

Basically the increase op will always run in both cases.

[2016-09-23 18:48] jmugan commented on #3958
Ah, you may be right. I'll take a look.

[2016-09-23 18:49] 3rd3 commented on #3958
@danmane My problem was that the graph was not yet defined, sorry. Perhaps it would be worthwhile to note in the error message in TensorBoard that the graph passed to SummaryWriter needs to be fully defined. What I expected was that one could simply pass `sess.graph` before building the graph and it would be written with the next write_summaries. Or, perhaps, completely remove the writing operatio

[2016-09-23 18:51] jmchen-g commented on #4424
Thanks for reporting. @vrv Could you take a look at this? Thanks.

[2016-09-23 18:55] jmchen-g commented on #4553
Please include more details and this is a question better suited for StackOverflow. Please ask it there and tag it with the `tensorflow` tag.

[2016-09-23 18:55] #4553 closed

[2016-09-23 19:00] vrv commented on #4424
The documentation is wrong, I'll send a fix.

[2016-09-23 19:00] jmugan commented on #3958
Oh, wow, do I feel like a fool. That fixed it for me. Thanks! Yeah, I guess I didn't realize the order of operations was important there. Sorry for the trouble.

[2016-09-23 19:01] #3958 closed

[2016-09-23 21:39] lingz commented on #4495
Yes but if there are multiple GPU cards and you want to duplicate the same weights for the model on all of them, but allow each to have a local copy of the variable cached. So in this case the beat approach would be to use identity to force a local copy right? Or is there another approach.

[2016-09-23 22:02] jmhodges commented on #4557
Ah! I missed that! Thanks for the info.

[2016-09-23 22:06] #4557 closed

[2016-09-23 23:39] yosinski commented on #4425
Reproduced on new Titan X (Pascal) and GTX 1080. Casting suggested by @alexgkendall works:

    import numpy as np
    import tensorflow as tf

    x = np.ones((256, 256), dtype=np.float32)
    s = tf.Session()
    X = tf.placeholder(tf.float32)
    #y = tf.nn.softmax(X)                                                 # fails
    y = tf.cast(tf.nn.softmax(tf.cast(X, tf.float64)), tf.float32)

[2016-09-23 23:52] victor-shepardson commented on #4467
I'm having a similar problem; TFRecordWriter doesn't appear to be the issue, rather it's the protobuf library. BytesList() is slow, and SerializeToString() is mega-slow. Writing 1 MiB:

[code]

[code]
[code]
[code]

i'm using the docker image tensorflow/tensorflow:latest-gpu with nvidia-docker on ubuntu 16.04

[2016-09-23 23:54] vrv commented on #4467
Try installing a protobuf-python wheel that we have built that uses optimized C++ code internally: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#protobuf-library-related-issues

[2016-09-24 01:00] argman commented on #4361
@shlens , yes, I just update tf to the newest

[2016-09-24 01:17] victor-shepardson commented on #4467
@vrv thanks! I missed that.
the pip command succeeded, except for some SSL warnings, but now:
[code]
looks like I have a cuDNN problem too, but that was present already and I assume it is unrelated. If I pip uninstall protobuf, the cuda messages still print before protobuf throws an importerror.

[2016-09-24 01:31] vrv commented on #4467
@victor-shepardson: We're not sure why but the binary protobuf wheel we build doesn't work for everyone and results in segfaults for some, but it does work for others.

You might need to figure out how to build the optimized python protobuf package on your own.  Hopefully the github.com/google/protobuf folks can help.

[2016-09-24 01:32] vrv commented on #4467
I'm going to close this, since it looks like the problem is related to not using the optimized protobuf/python package, and isn't strictly related to TF.  Thanks for the helpful performance debugging @victor-shepardson !

[2016-09-24 01:32] #4467 closed

[2016-09-24 02:37] kamal94 commented on #4371
@xpe I was able to trace the error.
It was in the [bazel workplace installation file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl#L101) and it pulled an older archive of protobuf. This old version had HOST_CFG instead of "host".

To fix this, I replaced the lines
[code]

with

[code]

[2016-09-24 03:17] kamal94 commented on #4531
@kkjh0723 Problem not solved on linux. The [following correction](https://github.com/tensorflow/tensorflow/issues/4371#issuecomment-249340251) was needed. Bazel still pulls from an outdated protobuf archive

[2016-09-24 03:29] kamal94 commented on #1870
Same problem here.

[2016-09-24 04:20] kamal94 commented on #4105
A similar error now appears during the building process:

[code]

I think this might be related to	4316aeb

[2016-09-24 05:21] jart opened #4561 "protobuf needs to be updated"
@kamal94 noticed in https://github.com/tensorflow/tensorflow/issues/4371#issuecomment-249340251 that the version of protobuf we're referencing contains HOST_CFG in its protobuf.bzl file. We need to upgrade that.

[2016-09-24 05:24] jart commented on #4531
The first solution is to upgrade Bazel to 0.3.1. But we have another problem @kamal94 identified where we need to update our protobuf dependency. See #4561.

[2016-09-24 05:24] #4531 closed

[2016-09-24 05:37] ccravens commented on #4531
I also ran into this issue just now. I initially used homebrew on Mac to install bazel v0.2.3. After uninstall v0.2.3 and manually downloading and installing v0.3.1 it appears that the configuration finishes correctly.

[2016-09-24 13:24] DC-Swind opened #4566 "Allow user to control amount of GPU memory consumed"
Environment:
~tensorflow 0.10
~NVIDIA K80 GPU server.
~ubuntu 14.04

I do not change the code which is download from this repository.
When I run ptb_word_lm.py, it takes up all my GPU memory (from device gpu:0 to device gpu:15). Is it a bug? How could I fix it?

Thanks a lot in advance!
Swind

[2016-09-24 15:24] ppwwyyxx commented on #4350
My disk is not out-of-space but I'm also seeing the same error.

[2016-09-24 16:03] jrajagopal commented on #3848
@lucasdavid, I ran into the same issue as @kalle, where setting num_epochs gave me the "Attempting to use un-initialized value" error. And like @kalle, I was initializing all variables like I am supposed to.

To fix it, I tried running tf.initialize_local_variables, but with num_epochs set, I still get the same error. I even tried including the global variable initialization, if only to cover my b

[2016-09-24 17:07] shisu250 commented on #4346
Hi. @andrewharp   After dequantize. Android become very slow. You mean We haven't solve this problem In Android ?  But in I0S is very fast when I do after dequantize. the IOS issue is #3619 . what can i do in android.  don't use dequantize until  wait for performance problem be solve? Please give me a suggestion, thanks.

[2016-09-24 18:02] simon789 commented on #3919
vasantivmahajan - did you figure out the issue? I have exactly the same problem.

[2016-09-24 18:11] tomasreimers opened #4567 "tensorflow/contrib/makefile/download_dependencies.sh fails to parse workspace.bzl"
Hi,

In download_dependencies.sh we grep tensorflow/workspace.bzl in order to determine which Eigen to download. We do this using the command `grep -o 'http.*bitbucket.org/eigen/eigen/.*tar\.gz' tensorflow/workspace.bzl` which we then proceed to try and curl and untar (ln22).

Due to the new format of workspace.bzl, that grep returns `http://bitbucket.org/eigen/eigen/get/" + eigen_version + ".tar.

[2016-09-24 19:04] simon789 commented on #3919
since my previous comment, I have changed the classification/label data from a number (1/0) to string data (win/lose) and this has resolved this problem

[2016-09-24 19:29] anbai106 opened #4568 "Download dependencies to install tensorflow from source on Mac"
### Environment info
Operating System: OS X 10.11.6

Installed version of CUDA and cuDNN:
No

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`) :
6218ac2be3cc530da866ec32da4cb86c6ac5bb85

2. The output of `bazel version`
Build label: 0.3.1-homebrew
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build t

[2016-09-24 19:59] xpe commented on #4371
@kamal94 Good find.

My quick, general commentary: Looking at the file, it would appear that the convention is to pin specific versions for reproducibility. Keeping them up-to-date sounds like classic dependency management pain. I don't know bazel well, but I hope it would have tooling to automatically check for newer versions.

A recommendation, if possible: In this kind of situation, pointing to

[2016-09-24 20:51] thefonseca commented on #4187
@JimmyKon fix worked perfectly in my case (Master branch).

My specs:
- Clang: 7.3 build 703
- macOS: 10.11.6-x86_64
- CUDA V7.5.26
- CUDNN 5.1
- GPU: GT750M

[2016-09-24 21:37] tomasreimers commented on #4568
Seems to be the same as: https://github.com/tensorflow/tensorflow/issues/4567

[2016-09-24 21:52] anbai106 commented on #4568
Hi, thanks for your answer, actually, I just follow the tutorial for ios application:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile
and also, I install tensorflow with Docker container, So if I want to continue to the IOS application implement, what should I do, just follow the canonical way with bazel or with the source installation, or the docker version???
Tha

[2016-09-24 22:17] Bleyddyn commented on #4567
I see the same error on both Mac OS 10.11.16 and Raspbian. Clean git checkout of Tensorflow in both cases.

$ uname -a
Darwin XXXX.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/RELEASE_X86_64 x86_64

$ tensorflow/contrib/makefile/download_dependencies.sh
downloading http://bitbucket.org/eigen/eigen/get/" + eigen_version + ".tar.gz
tar: Unrecognized

[2016-09-24 22:35] jeffxtang commented on #3480
For those of you who may be interested, I just posted a blog documenting the whole process of using a retrained inception v3 model for my app above at http://jeffxtang.github.io

[2016-09-24 22:36] chandanmaruthi commented on #3919
Awesome, I will check it out

On Sat, Sep 24, 2016 at 12:06 PM, simon789 <notifications@github.com> wrote:

--
Regards
Chandan Maruthi

[2016-09-25 01:22] MotorCityCobra commented on #3473
I'm having the same problem but I don't quite understand where
if __name__ == '__main__':
Should go exactly.
I'm a little new to python
What happens to all the
none's
in the problem file?

[2016-09-25 01:22] girving commented on #3527
Cc @aselle for triage, since I'm OOO.

[2016-09-25 01:42] moontails commented on #4066
@davidj-github @rinugun @prb12 what do you guys think?

[2016-09-25 02:01] robertnishihara commented on #3473
Do you have Python modules that mutually import each other? I solved this problem by rearranging things to get rid of all occurrences of that.

[2016-09-25 03:21] rinugun commented on #4066
I'm curious, is random delay better than the fixed delay that was
implemented in https://github.com/tensorflow/tensorflow/pull/4501? The
random sub-second sleep seems to be adding a particular complexity to the
retry logic, I wonder if this is justified and what the expected wins are.

On Sat, Sep 24, 2016 at 6:43 PM, Balachander Ramachandran <
notifications@github.com> wrote:

[2016-09-25 03:36] moontails commented on #4066
From the Google Cloud storage documentation -

[2016-09-25 03:41] chenwangliangguo commented on #3900
I have the same question.
see http://stackoverflow.com/questions/39683085/translate-py-cant-found-in-rnn-translate-folder

[2016-09-25 03:53] rinugun commented on #4066
I could only find this text in Google Analytics docs (
https://developers.google.com/analytics/devguides/reporting/core/v4/errors),
is that also mentioned somewhere for the Google Cloud Storage docs?
Anyways, I agree that it might be potentially useful. I have a few comments
re the code snippet:
 - not sure <chrono> is supported in the TF code, but you could use
Env::Default()->SleepForMillisecond

[2016-09-25 04:10] moontails commented on #4066
It is documented here - https://cloud.google.com/storage/docs/exponential-backoff

[2016-09-25 04:40] bibhashthakur opened #4571 "Tensorflow website stating CUDNN v5 required, but my version working only on v5.1"
https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#requirements
states that cuDNN v5 is required. So I tried to compile the basic example. This error was shown.
_Loaded runtime CuDNN library: 5005 (compatibility version 5000) but source was compiled with 5103 (compatibility version 5100).  If using a binary install, upgrade your CuDNN library to match.  If building from sources, m

[2016-09-25 06:08] gunan commented on #4365
I was able to reproduce this problem locally with cuda8.0, cudnn5.1 on ubuntu 16.04
For me, it actually also complained about my header files not being there (permission denied)
Until we get to the bottom of this, I was able to create a workaround by making my /usr/local/cuda world read/writeable
$ sudo chmod 777 -R /usr/local/cuda
With this, compilation was OK with my cuda libraries.
I suspect th

[2016-09-25 06:35] sladomic commented on #851
Hi all. I'm trying to build TensorFlow for the Google Pixel C in order to use the GPU TX1. Do you build it on your machine (e.g. Mac) or on the device itself (e.g. Pixel C)? Does anyone have the already generated files for TX1 or can point me in the right direction? Thanks.

[2016-09-25 07:10] gunan commented on #1535
Unfortunately, I just ran into this same thing on my desktop.
ubuntu 14.04
bazel version 0.3.1
gtx1080, nvidia driver version 367
cuda8 + cudnn5
__git__version for tf: 'v0.10.0-1703-g0ed1dc2'

Then I set LD_LIBRARY_CONFIG

Then:
$ git clone ....tensorflow...
$ bazel build tensorflow/tools/pip_package:build_pip_package -c opt --config=cuda
$ mkdir pip_package
$ bazel-bin/build tensorflow/tools/pip_

[2016-09-25 07:48] Karl-Krauth commented on #4542
Actually, the final output of the operation should be much larger than the tensor generated by extract_image_patches. Can't really see a reason to implement the op closing the issue.

[2016-09-25 07:48] #4542 closed

[2016-09-25 12:15] hughperkins commented on #22
What is the status of OpenCL support in Tensorflow?  Are there any working implementations?  For each implementation, what are teh constraint(s) (if any)?  (hardware? opencl version? licensing?)

[2016-09-25 13:10] rodrigocava commented on #135
@yselivonchyk worked for me ! Thanks ! 👍

[2016-09-25 14:32] alquraishi commented on #3506
I also can't find TensorArray in the docs.

[2016-09-25 15:58] #4568 closed

[2016-09-25 16:35] devymex opened #4573 "ERROR: Building with --config=cuda but TensorFlow is not configured to build with GPU support."
My CUDA version is 8.0 and cuDNN is 5.1. I have run many cuda examples without any problem.

But I stuck in following problem for two days.

First I run the configure as below
`devymex@DL-LAB:~/Software/tensorflow$ ./configure
~/Software/tensorflow ~/Software/tensorflow
Please specify the location of python. [Default is /usr/bin/python]:
Do you wish to build TensorFlow with Google Cloud Platform s

[2016-09-25 16:44] MotorCityCobra commented on #3473
I'm deploying Tensorflow so there are lots of modules doing lots of things.
I'm new to all of this so when you say,
[I solved this problem by rearranging things to get rid of all occurrences of "that".]
Is "that" keeping modules from importing each other?
Where does "if name == 'main':" fit in to all this?
Maybe I should drill some basic Python programming, but when I do it feels like I'm not lear

[2016-09-25 17:45] hughperkins commented on #22
Hmmm, Google CLA https://cla.developers.google.com/about/google-individual?csw=1 makes contributing opensource work a bit tricky. For example if I wanted to use im2col, from torch, which comes from caffe, https://github.com/torch/cunn/blob/master/lib/THCUNN/im2col.h#L7 , that would have to be somehow submitted separately.  Similarly anything from stackoverflow, even just one line here or there, wo

[2016-09-25 17:54] naibaf7 commented on #22
@hughperkins
Yes can be an issue, but I think parts such as im2col/col2im and other convolution implementations could also be plugged in as external APIs if it's really an issue with the GCLA.

[2016-09-25 19:25] patrickbreen opened #4574 "translate.py in the seq2seq model is missing in sitepackages for python3.5 cpu only release"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-09-25 19:33] robertnishihara commented on #3473
Yeah, "that" means "keeping modules from importing each other". In the code example in the original post, I think that replacing `file1.py` with the code below addresses the issue. I'm not sure how to deal with this in general however.

[code]

[2016-09-25 21:16] alquraishi commented on #4552
Quick update. I discovered that using `map_fn` and setting `parallel_iterations` to a small number addresses my current needs. Nonetheless, I think it would be very helpful if there was a general mechanism by which TF prevented (unnecessary) failures due to running out of memory.

[2016-09-25 22:40] OscarDPan opened #4576 "python/ops/variable_scope.py, variable_scope() is not backward compatible"
https://github.com/tensorflow/tensorflow/commit/3d1ee95e612b1987e664ca46a7c584872d36dde9#diff-57dece591b2185b1c01f712d53baef96L1089

It used to accept "" as name_of_scope, newer version TF will produce an error.
[code]

By reading the newer code, I believe disallowing "" as scope name wasn't your team's intension.
A simple fix could make this function completely backward compatible.

[2016-09-25 23:14] yangsiwei880813 commented on #3917
@girving I encountered the same problem just like you guys. it came to me that the exceptions do not occur when the system is under heavy load. so either this Eigen package is assuming cuda initialization order without a guarantee or nvidia is changing their protocol.

[2016-09-26 02:05] haibarasiao commented on #4530
and I tried : config.gpu_options.allocator_type='BFC'
but also OOM occured.

Limit:                 11325259776
InUse:                 11303057152
MaxInUse:              11324129024
NumAllocs:                  684755
MaxAllocSize:           1065501696

so, how could I fixed this problem in distribute tensorflow?

[2016-09-26 02:05] yaroslavvb commented on #4552
@yuanbyu was working on related stuff. The issue is that independent ops schedule to execute concurrently even if that exceeds device memory budget

[2016-09-26 03:33] macchakaran opened #4577 "Unable to run example trainer using GPU"
Hi experts,

I am building tensorflow from source and using virtualenv. I followed all the steps in
https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#installing-from-sources
but when i try to run the example trainer, i get a Floating point exception core dump error.
Please let me know if you need further information and how I can get it for you.

Much appreciated!
- Macchakaran

[2016-09-26 03:56] yzgysjr opened #4578 "Default weights_initializer for tf.contrib.layers.convolution2d should be xavier_initializer_conv2d"
Hi,

I notice that in [tf.contrib.layers.convolution2d](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py#L354), [tf.contrib.layers.convolution2d_in_plane](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py#L469), [tf.contrib.layers.convolution2d_transpose](https://github.com/tensorflow/tensorf

[2016-09-26 05:34] jmchen-g commented on #4528
This is a question better suited for StackOverflow. Please ask it there and tag it with the `tensorflow` tag.

[2016-09-26 05:34] #4528 closed

[2016-09-26 05:35] jmchen-g commented on #4571
@zheng-xq Could you take a look at this? Thanks.

[2016-09-26 06:02] jmchen-g commented on #4552
@yuanbyu Could you take a look at this? Thanks.

[2016-09-26 06:02] jmchen-g commented on #4573
This is a question better suited for StackOverflow. Please ask it there and tag it with the `tensorflow` tag.

[2016-09-26 06:02] #4573 closed

[2016-09-26 06:27] jmchen-g commented on #4548
@jart Could you take a look at this? Thanks.

[2016-09-26 06:35] AlvinChen13 commented on #4548
The python issues are solved.

Hold on this issue, although I still can't run r0.10 due to my network connection while do configuring.

[2016-09-26 06:42] aykutcayir34 opened #4579 "A Convolutional Neural Network Model Could not be loaded"
I have saved the model using Keras' model.save('my_model.h5') it's working. However, when I try to load the model in a different project I get this error message: ValueError: Tensor("cond/pred_id:0", dtype=bool) must be from the same graph as Tensor("dropout_1/mul_1:0", shape=(?, 1, 256), dtype=float32).
Could this be a bug? Any idea?

[2016-09-26 07:59] jmchen-g commented on #4427
Thanks for the report. Notified the author.

[2016-09-26 08:04] jmchen-g commented on #4566
Do you have 16 GPUs in your machine? Once a GPU is used by TF, it will grab all its memory.

[2016-09-26 08:10] zhougr1993 opened #4581 "How can user control the communication in distributed tensorflow"
sorry to trouble.
When I try to train model with ps and worker. I found that TensorFlow passed the whole gradients of each op between ps and each worker.
If I explicitly calculate the gradient of inputs, which is defined as placeholder, TensorFlow passed these gradients. While the batch size of the inputs is too big, it makes the time of communication too long.
Is there any way to choose the param

[2016-09-26 10:22] moh3th1 opened #4582 "Tensorflow model as executable file"
I want to share my model as an executable file (without sharing my source code ) . I am using Tensorflow on Ubutun 16.04.1 LTS .I tried pyinstaller and cx_freeze but it give me alot of errors

**pyinstaller error**
![jvssz](https://cloud.githubusercontent.com/assets/15180702/18830940/609bb61c-83e3-11e6-939d-3d7b8a7cf7a0.png)

**cx_freeze error**
![ikzr5](https://cloud.githubusercontent.com/assets/

[2016-09-26 11:06] DC-Swind commented on #4566
Actually I have 8 K80 physical GPUs which can be used as 16 GPUs.  GPU:0 is used by TF, but it will grab all GPUs' memory.(from gpu:0 to gpu:15)

[2016-09-26 11:55] lzhuo commented on #3828
Hi,
Do you find the solution for this problem in the end? I had the same problem as you posted

[2016-09-26 12:01] bzamecnik commented on #3388
Also happens to me occassionally on TensorFlow 0.10.0, Python 3.5, Ubuntu 15.10.

[2016-09-26 12:30] sharkdtu opened #4583 "Bazel can't fetch numeric-1.2.6.min.js because numericjs.com has expired"
INFO: Downloading from http://www.numericjs.com/lib/numeric-1.2.6.min.js: 0B

---

When i opened it on my broswer, it prompted that numericjs.com has expired

[2016-09-26 12:38] achiber commented on #4362
I also encountered this problem, could you tell me how to solve it ?

[2016-09-26 12:53] fuhuamosi opened #4584 "A strange problem about gfile"
<img width="848" alt="2016-09-26 20 46 30" src="https://cloud.githubusercontent.com/assets/11813885/18834822/9ee71bea-842a-11e6-95d3-2af68449343d.png">

I use Tensorflow of gpu's version and Python3 on Linux.As you can see, I read a file by Gfile with mode "r",but it seems to return a byte object rather than a string.Can anyone explain this issue?

[2016-09-26 12:58] cherishlc commented on #4432
@jmchen-g thanks,  but the document is not consistent with the actual behavier.

set b to False, and and tf.Print to f1() will get no output at all, which means f1 is not invoked when the condition is False.

the changed f1():

`    def f1():
        print ('f1')
        with tf.control_dependencies([increase_tfvar_op]):
            return tf.Print(-tfvar, data=[tfvar]) ;`

[2016-09-26 13:15] JunpingDu commented on #2655
Hi @jhseu and @martinwicke , I am from YARN community. Just noticed some comments above to say extra complications on YARN over Mesos/Kubernetes. Can you shed more light on this? I can see how can I help here, especially from YARN side. Thx!

[2016-09-26 13:20] asispatra commented on #4391
Is anyone working on this? Please help me to resolve this. @jart

[2016-09-26 13:41] natlachaman commented on #4583
same problem here

[2016-09-26 14:01] thatsvishalhere commented on #1325
I'm facing the same issue. I was wondering if somebody has found a way around it. I can't really use the trainable variables hack that @rlrs suggested as I'm also using the default RNN code of tensorflow and don't really want to hack into the rnn definitions for reusing the variables. It would be great if somebody can suggest a way around this without having the need to hack into the rnn code defi

[2016-09-26 14:31] caisq commented on #4117
On my todo list. Thanks.

[2016-09-26 15:51] Maplicant commented on #17
Awesome work, @mrry!

Can you give any rough estimates on when that announcement will be? I can't wait!

[2016-09-26 16:35] lightcatcher commented on #2540
After reading some code and docs, I think I see the difficulty with ``select`` gradient.

The ``select`` gradient is here: https://github.com/tensorflow/tensorflow/blob/4addf4b5806cd731949c6582a83f5824599cd1ef/tensorflow/python/ops/math_grad.py#L688

Gradients are only taken on the output of an op with respect to the input (and then multiplied by the accumulated gradient from objective to output o

[2016-09-26 16:55] jart commented on #4391
Hi @asispatra. Out of curiosity, how did you build Bazel? I'm not seeing the version in the output above. Could you try installing 0.3.1?

[2016-09-26 17:02] andrewharp commented on #4346
@petewarden Do we know why exactly dequantize is fast on iOS but not on Android?

[2016-09-26 17:03] barantes commented on #419
Hi, thanks for the instructions on how to build the library for API < 20.

The steps outlined by @andrewharp don't seem to work with the latest TF code though.

I've modified the Android demo to remove dependencies on APIs lower than 21, modified AndroidManifest.xml, and configured the WORKSPACE file, all that to make the build target API 19.

However, the build fails with the following error:

ER

[2016-09-26 17:07] jart commented on #4583
Hey @dsmilkov where can we download this from GitHub? I found https://github.com/sloisel/numeric/blob/master/src/numeric.js but it doesn't appear to be the same code that we have checked in internally, even though the versions are the same.

Or better yet, is there another library we could use?

cc: @danmane

[2016-09-26 17:13] petewarden commented on #4346
No, I'm afraid I haven't been able to look into it. @cwhipkey did some vectorization using Eigen that might be related? It's a high priority to get this sorted out, since it comes up a lot!

[2016-09-26 17:17] jart commented on #4362
Try upgrading to Bazel 0.3.1.

[2016-09-26 17:18] Monnoroch commented on #4427
Hi @alquraishi, thanks for the report, indeed, [paper](https://arxiv.org/pdf/1409.0473v7.pdf) is a better fit to describe the model we've implemented.
We'll fix the docs as soon as possible.

[2016-09-26 17:19] grayscaler opened #4586 "tensorflow/examples/android"
hi all

This example seems like a new version and i got some errors when i want to build the APK on android studio.
Dose any have same issue?

thanks for your time

<img width="1280" alt="2016-09-27 1 16 48" src="https://cloud.githubusercontent.com/assets/12976847/18844583/6ab64f50-8450-11e6-8099-b7af5ca8ef20.png">

[2016-09-26 17:30] andrewharp commented on #419
@barantes If you add `#include <errno.h>` to the includes list for `tensorflow/contrib/android/jni/limiting_file_input_stream.h`, does the build error go away?

[2016-09-26 17:38] andrewharp commented on #419
The include tree for the newer NDK APIs must be including errno.h implicitly. Adding it explicitly fixes the build error on older APIs. Fix incoming.

[2016-09-26 17:50] alquraishi commented on #4427
@Monnoroch tbh I don't think that paper is a good description of the model either. I eventually went through the math and as far as I can tell it's not something that's from any paper I've come across before. At any rate, I ended up summarizing it (see below). If you think it would be useful to include the math directly feel free to use any part of this.

![image](https://cloud.githubusercontent.c

[2016-09-26 17:56] andrewharp commented on #4586
The Java interface with tensorflow was moved to `tensorflow/contrib/android/java`. If you add that as an additional srcs directory it should work for you.

[build.gradle](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/build.gradle) should probably be updated to include this automatically.

[2016-09-26 17:57] Monnoroch commented on #4427
@alquraishi, here's the original Magenta post, that describes the cell at hand: https://magenta.tensorflow.org/2016/07/15/lookback-rnn-attention-rnn with all the math an examples.

[2016-09-26 18:00] #4210 closed

[2016-09-26 18:00] dsmilkov commented on #4583
https://github.com/sloisel/numeric/blob/master/src/numeric.js is just a portion of the library (uncompiled), and the author doesn't store the compiled/bundled one on github.

We can link to:
https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js

Cloudfare CDN should be pretty stable. Let me know your thoughts

[2016-09-26 18:17] fxsuper commented on #4427
@Monnoroch to the best of my understanding of the code, the math described in the Magenta post does _not_ match the math implemented in `AttentionCellWrapper`, though it does match the math in the paper you cited. Note that the original version of the Magenta code used its own version of attention, which has since changed to use `AttentionCellWrapper`. The math I wrote above should match the code

[2016-09-26 18:18] barantes commented on #419
Hi Andrew. Thanks for the quick response. The library was successfully built after adding #include <errno.h> to limiting_file_input_stream.h.

[2016-09-26 18:18] alquraishi commented on #4427
@Monnoroch to the best of my understanding of the code, the math described in the Magenta post does _not_ match the math implemented in `AttentionCellWrapper`, though it does match the math in the paper you cited. Note that the original version of the Magenta code used its own version of attention, which has since changed to use `AttentionCellWrapper`. The math I wrote above should match the code

[2016-09-26 18:22] Monnoroch commented on #4427
@alquraishi, that is very strange, as we have extensively tested that the original code and  ```AttentionCellWrapper``` behave exactly the same way.
But thanks, I will look into it again.

[2016-09-26 18:55] sidshetye commented on #17
@mrry : Derek, solid update. Do you have a binary GPU release (BETA) before the rest of the makefile/compiler framework solidifies? At least folks could try out against the Python API ...

[2016-09-26 19:04] danmane commented on #3958
I think @3rd3 is right that this is really a counter-intuitive API, rather than a user error.
I'm working on re-writing the API for writing summaries and events in advance of the tensorflow 1.0 release, and I'll keep this issue in mind.

[2016-09-26 19:12] yash0307 commented on #1450
I'm getting similar error, this happens when I start back-propagation. Bottleneck generation step works fine.

'''
E tensorflow/stream_executor/cuda/cuda_driver.cc:1140] could not synchronize on CUDA context: CUDA_ERROR_ILLEGAL_ADDRESS :: No stack trace available
E tensorflow/stream_executor/cuda/cuda_event.cc:49] Error polling for event status: failed to query event: CUDA_ERROR_ILLEGAL_ADDRESS
F

[2016-09-26 19:13] yash0307 commented on #1450
[code]

[2016-09-26 19:19] gibiansky opened #4588 "dynamic_rnn broken on master?"
The following code works on TF 0.10 but fails on `master`:

[code]

The autogenerated documentation for `master` [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/functions_and_classes/shard8/tf.nn.dynamic_rnn.md) does not mention anything which could explain this.

The failure is the following exception:
[code]
raised on line `915` of `rnn.py`

I could n

[2016-09-26 19:25] yaroslavvb commented on #4432
This is how cond works, here's some explanation -- http://stackoverflow.com/questions/37063952/confused-by-the-behavior-of-tf-cond/37064128#37064128

Basically it's how TensorFlow runtime works:
- increase_tfvar_op is a dependency of f1
- f1 and f2 are dependencies of cond
- therefore increase_tfvar_op is a dependency of cond

Dependencies must be computed before tf.cond is ready to execute. It's

[2016-09-26 19:28] yaroslavvb commented on #4566
check out http://stackoverflow.com/questions/34199233/how-to-prevent-tensorflow-from-allocating-the-totality-of-a-gpu-memory and CUDA_VISIBLE_DEVICES

[2016-09-26 19:54] gibiansky commented on #4588
This bug was introduced in [this commit](https://github.com/tensorflow/tensorflow/commit/bdb6e00b08b5023825eb9acd0e4e4fd1cbc6d01e).

I think it can be patched by changing the lines:
[code]
to

[code]

[2016-09-26 19:56] zeryx commented on #3654
forked tensorflow as well as the models repo to solve this:

**Tensorflow** - https://github.com/zeryx/tensorflow
**Models** - https://github.com/zeryx/models

I'll be actively maintaining & keeping everything in parity  until this is resolved internally.

@hotomski I used your fix btw

[2016-09-26 20:08] hotomski commented on #3654
@zeryx Great! ;)

[2016-09-26 20:09] benbarsdell opened #4589 "Support for native half-float computation (float16/fp16)"
https://github.com/tensorflow/tensorflow/issues/1300 added support for fp16 storage, but there is currently no support for native fp16 computation, which is available on some hardware such as Pascal GPUs.

In particular, the conv2d and matmul ops could take a new parameter along the lines of "compute_dtype", which would be plumbed through to CUDNN (convolution descriptor) and CUBLAS (Hgemm) in the

[2016-09-26 20:34] gibiansky opened #4590 "Better shape inference for tf.slice and tf.strided_slice"
Currently, if any of the values in the `size` argument is not a constant, the output shape is completely unknown (but the correct rank):

[code]

The desired behaviour would instead treat the second and third dimensions correctly:

[code]

Looking briefly at the code, this would requite being a bit more clever in terms of how constant values are computed; right now if anything in a `Pack`-ed array

[2016-09-26 20:55] alquraishi commented on #4427
The original code and `AttentionCellWrapper` may well be identical. I was just saying that the prose description in the Magenta post is not identical to the code. The differences are not large, but there are some subtle discrepancies.

[2016-09-26 20:59] gibiansky commented on #4588
Also, usability note: `dynamic_rnn` should check in advance that the provided `initial_state` has a shape. If it does not then it crashes deep down inside `dynamic_rnn` and it's really hard to understand why. The error it gives ends up being something like `as_list() is undefined on unknown TensorShape`, which gives no indication as to _which_ TensorShape is unknown.

[2016-09-26 21:04] oakkas commented on #2033
Same thing here:
With Ubuntu 14.04
Cuda: 7.5
CUDNN: 5.0
Train on 16064 samples, validate on 1785 samples
Epoch 1/10
F tensorflow/stream_executor/cuda/cuda_dnn.cc:427] could not set cudnn filter descriptor: CUDNN_STATUS_BAD_PARAM
Aborted (core dumped

[2016-09-26 21:14] dsmilkov commented on #4583
Thanks Submitted an internal change where numericjs gets pulled from cloudflare cdn. The internal change should show up in github within a day.

Thanks @sharkdtu and @natlachaman  for the bringing this issue to our attention!

[2016-09-26 21:14] #4583 closed

[2016-09-26 23:21] aselle commented on #4584
gfile currently returns a byte stream. If you want to convert it into a unicode (native) python string you need to know its encoding. If it is utf-8 you can do `str(foo.read(), 'utf-8')`.

[2016-09-26 23:25] aselle commented on #4036
Sounds like the issue is resolved. Thanks for following up @lebinhe.

[2016-09-26 23:25] #4036 closed

[2016-09-26 23:32] aselle commented on #4135
I'm not seeing this with the latest nightly?
If I don't hear back I'll assume this was resolved.

[2016-09-26 23:59] yaroslavvb commented on #2540
BTW, it's not just the issue with select, code below also gives NaN.

x = tf.placeholder(tf.float32)
y = tf.exp(x)
z = tf.exp(-y)
grad = tf.gradients(z,[x])[0]
print sess.run(grad, feed_dict={x: 1e10})

The underlying cause is that  chain rule gives f' * g' as derivative of
f(g(x)) so with because 1e10 overflows we get infinity*0 in both cases.
One could argue that limiting arguments that justify

[2016-09-27 01:36] fuhuamosi commented on #4584
@aselle Thank you,I understand the issue now.

[2016-09-27 01:37] #4584 closed

[2016-09-27 02:05] #4424 closed

[2016-09-27 02:09] cdmajie opened #4592 "Invalid argument: Nan in summary histogram for: layer1/biases/summaries/HistogramSummary"
when i  change 'max_step' from 1000 to 10000 in mnist_with_summaries.py ,after 8550 iters occur these error:
W tensorflow/core/framework/op_kernel.cc:968] Invalid argument: Nan in summary histogram for: layer1/biases/summaries/HistogramSummary
	 [[Node: layer1/biases/summaries/HistogramSummary = HistogramSummary[T=DT_FLOAT, _device="/job:localhost/replica:0/task:0/cpu:0"](layer1/biases/summaries/H

[2016-09-27 02:40] cherishlc commented on #4432
@yaroslavvb thanks for you explanation~
I follow the stackoverflow solution and it works.

**Just move the dependency into f1()!!!**

For the convenience of other people, the correct version is :+1:
`def testTF_case_with_control_dependencies():

    isTraining=tf.placeholder(tf.bool,shape=[])
    tfvar=tf.Variable(tf.constant(0),tf.int32);

    #increase_tfvar_op=tf.assign_add(tfvar.ref(), 1); #th

[2016-09-27 02:40] #4432 closed

[2016-09-27 02:59] mathDR opened #4593 "tf.cumsum returns wrong value on reverse"
To reproduce the issue:
[code]
returns
[code]
which are NOT the reverse of each other.  Note, the value for w is correct.  The q value should be the reverse of w, but is not.  The cumsum values are also incorrect...

[2016-09-27 04:57] haleuh commented on #4578
xavier_initializer_conv2d = xavier_initializer

[2016-09-27 05:01] yzgysjr commented on #4578
Got it. Thanks!

[2016-09-27 05:01] #4578 closed

[2016-09-27 05:57] IvanUkhov opened #4595 "Rename TF_Attr_Type and TF_Attr_Metadata"
The names of the `TF_Attr_Type` enum and `TF_Attr_Metadata` struct seem to be unlike any other names in the C API. Contrast them with `TF_OperationDescription`, `TF_SessionOptions`, `TF_SessionWithGraph`, and `TF_DataType`, which are also composed of multiple words. Since 0.11 hasn’t been released yet, perhaps it’s not too late to unify the naming scheme.

Regards,
Ivan

[2016-09-27 06:58] jameshensman commented on #4593
I think there's a bug in the question. Perhaps you meant to do

[code]
which works fine for me.

[2016-09-27 07:21] sven1977 opened #4596 "Tensorboard generating javascript errors: Failed to load resource: net::ERR_CONNECTION_RESET"
I'm running tensorboard on the Windows 10 Bash on Ubuntu shell. After bringing up the tensorboard webserver (localhost:6006) with `tensorboard --logdir=/mnt/d/Dropbox/Andor/Summaries --debug` and connecting to it with my Chrome browser, I don't see anything on the screen. The JS console gives me a couple of the following ERRORS:

[code]
Except for http://localhost:6006/dist/tf-tensorboard.html, th

[2016-09-27 08:35] vjk2005 commented on #37
+1

[2016-09-27 08:39] garion9013 commented on #3028
This [work](https://github.com/garion9013/impl-pruning-TF) actually implements iterative pruning (part of Deep compression) on TF.
_embedding_lookup_sparse_ operation is used to do sparse matrix multiplication.
I've got some of speedups with this prototype, but it's somewhat mediocre.
I think it's because small size of the model and sparse matrix format that TF uses as a default (COO).

[2016-09-27 08:53] davidzchen commented on #4368
Can you try again with TensorFlow at HEAD? #4285 made the CUDA CROSSTOOL file a proper `cc_toolchain_suite`.

[2016-09-27 09:00] npanpaliya commented on #3722
Farmhash's pull request https://github.com/google/farmhash/pull/8 to detect the ppc64le has been merged to google/farmhash repo.
But looks like the latest tensorflow does not build farmhash as it used to do earlier. So, config.guess and config.sub are not used at all. However, I think it is worth updating farmhash commit hash in the tensorflow/workspace.bzl.

I have generated a pull request updati

[2016-09-27 09:53] TimZaman commented on #3464
I think #3744 closes this one.

[2016-09-27 10:02] phvu commented on #4296
FYI, I am working on a fix for this. Will also fix all the warnings related to `state_is_tuple` and `input_size`.

[2016-09-27 10:13] sven1977 commented on #4596
Ok, I found the solution. It's apparently the browser (Chrome), which has an expired certificate.

Tensorboard on Windows 10 (bash on ubuntu) works well for me now with the Firefox browser.

One more unrelated thing, though:
The resource: `web-animations-next-lite.min.js.map` in the `/usr/local/lib/python3.4/dist-packages/external/web_animations_js` directory seems to be missing in the Windows pyt

[2016-09-27 10:49] jrimestad commented on #3263
You could add the symlink step to you OSX step by step guide?

[2016-09-27 12:03] datnamer commented on #4582
Nuitka?

[2016-09-27 12:29] StefOe commented on #4296
Thank you! Sadly I was lacking the time to do it properly.

[2016-09-27 12:29] snbuchholz commented on #2141
Hi, I think I'm looking for the same thing. I do want to store the graph as well as the weights, but I don't want to supply a file/directory name, because I'd like to store the information in a database (Mongo). So I need a serialized representation that I can write and read myself.
https://www.tensorflow.org/versions/r0.9/how_tos/meta_graph/index.html seems to fit the bill but its usage is explai

[2016-09-27 12:45] danbri commented on #254
https://www.oreilly.com/learning/how-to-build-a-robot-that-sees-with-100-and-tensorflow?twitter=@bigdata also reports success with TF on Pi, seemed worth passing along here.

[2016-09-27 12:48] ztianjin commented on #4269
now I can compiling tensorflow from source and training net model

Minibatch loss: 1.595, learning rate: 0.006302
Minibatch error: 0.0%
Validation error: 0.7%
Step 8500 (epoch 9.89), 35.4 ms
Minibatch loss: 1.621, learning rate: 0.006302
Minibatch error: 3.1%
Validation error: 0.9%
Test error: 0.8%

[2016-09-27 12:52] DC-Swind commented on #4566
Thank you for your response, CUDA_VISIBLE_DEVICES works.
But I think it is still a question (or a bug in a way) about TF 0.10, I hope it will be solved in the following versions of TF. For example, I hope that TF can provide an interface to set CUDA_VISIBLE_DEVICES and recovers the original value of CUDA_VISIBLE_DEVICES after running. Or the code
with tf.device('/gpu:13'):
can control the usage of

[2016-09-27 12:56] andykitchen commented on #2169
+1

[2016-09-27 13:22] ztianjin commented on #3208
the same issue.

python train_cifar.py
I tensorflow/stream_executor/dso_loader.cc:111] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:111] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:111] successfully opened CUDA library libcufft.so locally
I tensorflow/stream_executor/dso_loader.cc:111] successfu

[2016-09-27 13:32] moh3th1 commented on #4582
NO , I use pyinstaller to compile the code and convert it to executable

[2016-09-27 15:56] shkr commented on #3495
Update : As described in PR #4433 @mrry has suggested a different approach by using the MetaGraphDef. I will submit a PR which follows the recommendation.

[2016-09-27 15:57] #3464 closed

[2016-09-27 15:58] code-guru commented on #37
+1

[2016-09-27 16:09] yaroslavvb commented on #4582
That sounds like a problem in Anaconda/pyfreeze -- the error in your stack
trace is in QT framework which is not part of tensorflow

On Tue, Sep 27, 2016 at 6:32 AM, moh3th1 <notifications@github.com> wrote:

[2016-09-27 16:09] aselle commented on #4256
You might want to take a look at this new blog post
https://blogs.msdn.microsoft.com/uk_faculty_connection/2016/09/26/tensorflow-on-docker-with-microsoft-azure/https://blogs.msdn.microsoft.com/uk_faculty_connection/2016/09/26/tensorflow-on-docker-with-microsoft-azure/

[2016-09-27 16:10] yaroslavvb commented on #4595
@josh11b

[2016-09-27 16:19] #4174 closed

[2016-09-27 16:27] lightcatcher commented on #2540
The exponent example is a little different because a intermediate computation (``y`` in your example) is infinity, so it's not too surprising that the gradient is also problematic. The ``epsilon * Inf`` is fundamental to the gradient computation here, while it's not obviously so in the ``select`` case.

I completely agree that limiting arguments for ``0 * Inf = NaN`` do not apply for select, becau

[2016-09-27 16:34] Karl-Krauth opened #4600 "fold/scan gradient high memory usage"
It seems that the gradients for higher order functions (foldl/foldr/scan) require a very large amount of memory.

The following code block will easily compute `res` (even with `swap_memory` disabled) but will fail when computing `grad`:

[code]

This was tested on a machine with a GTX1070 and 24GB RAM.

I'm guessing that what's happening is that tensorflow is only keeping track of data necessary f

[2016-09-27 16:51] mathDR commented on #4593
RIght, the issue is that calling cumsum with the reverse flag set to True on a tensor that is being reversed returns the wrong value.  So to your point:
[code]
is NOT the same as
[code]

[2016-09-27 16:54] mathDR commented on #4593
@jameshensman My question was too obtuse.  The issue is this:
[code]
is NOT the same as
[code]

[2016-09-27 17:01] aidan-plenert-macdonald commented on #4359
@vrv I was wondering if you have any further information about adding includes. We just need those to be done.

[2016-09-27 17:02] Arafatk commented on #50
I have been working on the Ruby API for Tensorflow and I have some interesting findings that I would like to share. The tensorflow.rb gem can be found on [somaticio/tensorflow.rb](https://github.com/somaticio/tensorflow.rb).
Aside from that, I have written three blog posts where I have given a very brief summary of the work

1. [Introductory blog post](https://medium.com/@Arafat./introducing-tenso

[2016-09-27 17:05] vrv commented on #4359
I really don't know :(  Going to assign this one to @keveman (I'll be OOO soon for a week).

[2016-09-27 17:33] civilmanxx opened #4601 "convert Inception v1 model .pb file into 8bit precision fail"
I use the guide below to download a v3 model and convert it to 8 bit precision without no issue.

https://www.tensorflow.org/versions/master/how_tos/quantization/index.html

curl http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz -o /tmp/inceptionv3.tgz
tar xzf /tmp/inceptionv3.tgz -C /tmp/
bazel build tensorflow/contrib/quantization/tools:quantize_graph
**bazel-bin/tens

[2016-09-27 17:38] asimshankar commented on #4595
Thanks for pointing this out @IvanUkhov - this was a silly oversight on my part.
I will have this fixed in HEAD shortly, however we're unlikely to merge that into the release branch for 0.11.

Once a release branch is cut, we try to avoid merging changes that don't fix a breaking bug in order to prevent release delays. Since this is a naming change of functions barely used yet, it probably isn't w

[2016-09-27 18:34] concretevitamin commented on #4471
Contributions welcome!  As a first cut I think the above will work (albeit might not be the most efficient), and we need to use TensorFlow's `file_io` instead of the raw `with open(...) as ...` -- this is to support many platform and file systems.

[2016-09-27 18:42] concretevitamin commented on #4321
Could you try to provide more information to narrow this down a bit?

1) I don't see `tf.train.Saver` being used in your snippet.
2) It'd be good to see the stack trace when the program got killed.
3) How large are your MetaGraph, GraphDef, and checkpoint?

[2016-09-27 18:50] concretevitamin commented on #4518
I forwarded this feature request to the team.  In the mean time, marking this as contributions welcome in case someone wants to take a stab.

[2016-09-27 18:57] snbuchholz opened #4603 "import_meta_graph: ValueError: At least two variables have the same name: Variable_1"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
None

### Environment info
Operating System: Ubuntu 16.04.1 LTS
Installed version of CUDA and cuDNN: none
pip package: https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0-cp27-none-linux_x86_64.whl
$ python -c "import tensorflow; print(tensorflow.__version__)"
0.10.0

###

[2016-09-27 19:11] zym1010 commented on #3380
@zhangcx93 @zhanif3  thanks. but isn't this a bug?

[2016-09-27 19:43] vasantivmahajan commented on #3919
Hey,

Thank you for your response, I really appreciate it. I was able to resolve
that issue. However, while running the program I am getting another error
"TypeError: Signature mismatch. Keys must be dtype <dtype: 'string'>, got
<dtype:'int64'>"

http://stackoverflow.com/questions/39730528/typeerror-signature-mismatch-keys-must-be-dtype-dtype-string-got-dtype

Did you receive this error during you

[2016-09-27 20:41] yaroslavvb opened #4604 "Using negative index slice on tf.scan accesses uninitialized memory"
Accessing last element of array produced by scan by using array[-1] gives random results. IE
[code]
This generates
[code]

The last number is different on reruns, `tf.__version__` is 0.10

[2016-09-27 20:59] benoitsteiner commented on #3917
@fheide @yangsiwei880813 Can you try with the latest version ? The problem you are facing could be due to a race condition in the device initialization code that that is now fixed.

[2016-09-27 21:52] concretevitamin commented on #4516
@aselle Is deprecating `tf.slice()` on your list?

[2016-09-27 21:56] concretevitamin commented on #4554
Since this issue is not a bug or feature request, please ask this type of question on stackoverflow with the tag #tensorflow. Thank you.

[2016-09-27 21:56] #4554 closed

[2016-09-27 21:57] concretevitamin commented on #4574
Can you let us know which exact file this refers to?

[2016-09-27 21:58] concretevitamin commented on #4551
@nfiedel - could you take a look?  Thanks!

[2016-09-27 21:59] concretevitamin commented on #4536
@ebrevdo could you take a look?  Thanks.

[2016-09-27 22:03] concretevitamin commented on #4567
It's fixed in master, commit 1d9ca7bbea8f41d38f5dc57fd3fe4ee15c4aab04.

[2016-09-27 22:03] #4567 closed

[2016-09-27 22:23] concretevitamin commented on #4423
Hmm, I don't believe this is supported -- essentially what you're doing is to "hint" at TensorFlow to do a backward shape inference (which does not exist yet), and try to force the runtime to settle on the inferred branch.

I might be wrong - so assigning to @yuanbyu to take a look.

[2016-09-27 22:30] concretevitamin commented on #4419
@lukaszkaiser - Hey Lukasz, are you the right person to look at this?

[2016-09-27 22:32] concretevitamin commented on #4544
I can't immediately tell which Op is missing a GPU kernel.

In the mean time, can you set `allow_soft_placement` to True?  See tensorflow/g3doc/how_tos/using_gpu/index.md as an example.

[2016-09-27 22:35] concretevitamin commented on #4603
You should call `tf.train.import_meta_graph()` with a cleared `Graph`.  Example:

[code]

Please feel free to reopen if this doesn't solve the issue.

[2016-09-27 22:35] #4603 closed

[2016-09-27 22:41] lukaszkaiser commented on #4419
A smarter default behaviour would be nice, it's not too clear what it should be. I think we'd welcome a contribution from outside here.

[2016-09-27 22:42] nfiedel commented on #4551
Thanks for the ping. Community contributions are welcome.

@kirilg can provide guidance or may be able to get to this eventually...

[2016-09-27 22:44] civilmanxx commented on #4601
i get the answer, the value for v1 model for this parameter is "output" but not "softmax".

[2016-09-27 22:44] concretevitamin commented on #4593
As far as I can tell, this is exactly the semantics of the two ops.
[code]
prints
[code]

[2016-09-27 22:44] #4593 closed

[2016-09-27 22:45] #4601 closed

[2016-09-27 22:45] civilmanxx commented on #4601
fix

[2016-09-27 22:46] concretevitamin commented on #4589
@benoitsteiner - Hello Benoit, since you've been looking at this, could you comment?

[2016-09-27 22:49] lukaszkaiser commented on #4576
Indeed, it looks like it was meant to be "... and not name_or_scope is None", right? Would you be willing to send a PR correcting this?

[2016-09-27 22:50] concretevitamin commented on #4600
I believe TensorFlow doesn't (yet) have optimized scheduling policies that intelligently trade-offs among latency and memory.  Adding @yuanbyu for further comments.

[2016-09-27 22:52] concretevitamin commented on #4487
@martinwicke Martin - can you take a look at this?  Thanks.

[2016-09-27 23:02] zym1010 commented on #1426
I have succeeded in compiling a GPU, Python 3.5 version of TensorFlow 0.10.0 on a CentOS 6 Docker, and it ran well on our university's CentOS 6 cluster. Check <https://github.com/leelabcnbc/DevOps/tree/master/Docker>. Basically, it's replacing some hardcoded lines in CROSSTOOL-related items, and adding `-lm` to everything. I think Google can make compiling TensorFlow on CentOS less frustrating, if

[2016-09-27 23:06] zym1010 commented on #2291
I think it's easiest to simply append `-lm` on everything, by hacking third_party/gpus/crosstool/CROSSTOOL. Check <https://github.com/leelabcnbc/DevOps/blob/master/Docker/tensorflow/0.10.0/centos6/py35/gpu/CROSSTOOL.tpl#L59>, and my answer on #1426. Interestingly, this problem only appear when compiling with GPU...

[2016-09-27 23:19] tuandnvn commented on #4544
When I switched to CPU, it did run, but slower than I want it to. I thought that you can run gradient on tf.gather using GPU, but it seems like it couldn't. Am I correct?

[2016-09-27 23:25] aidan-plenert-macdonald commented on #4359
Got it!! Simple one liner in a BUILD file.

[Bottom of the page](https://github.com/tensorflow/tensorflow/pull/4520/files?diff=unified)

[2016-09-27 23:56] aselle commented on #4604
I reproduced this on docker image tensorflow/tensorflow:0.10.0
but it works fine for me on  tensorflow/tensorflow:nightly

[2016-09-28 00:58] rryan commented on #3624
After adding a workaround to Eigen:
https://bitbucket.org/eigen/eigen/commits/27f6140fa81c9fe83167d87e7aeb23031b42f344

We were able to enable addition, subtraction, division, and multiplication kernels for complex types on GPU:
https://github.com/tensorflow/tensorflow/commit/93f15d4cde2f08057819f1194e5a4771f0d391ff

[2016-09-28 01:36] thjashin commented on #4423
@concretevitamin thanks for reply. I think i'm not wanting tensorflow to do some backward shape inference or things like that. What I'm confused about is that how setting static shape can have an influence on gradients computing. Because without that line, the code works pretty well. What I only hope is that line can help me know more about the static shape of ```a_```

[2016-09-28 01:45] hughperkins commented on #22
Started working on [cuda-ir-to-opencl](https://github.com/hughperkins/cuda-ir-to-opencl).  This lets you write CUDA-compiled IR out as classic OpenCL 1.2

Example.  Let's say you have:
[code]

Run llvm CUDA compilation, to generate CUDA IR.  This is pretty messy, but you can see how it looks at https://github.com/hughperkins/cuda-ir-to-opencl/blob/master/testcudakernel1.ll

Next, run `cuda-ir-to-o

[2016-09-28 01:46] yaroslavvb commented on #4423
You can see from the stack trace that tf.gradients uses static shape
information

tf.gradients(a_, a)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File
"/Users/yaroslav/anaconda2/envs/tensorflow_cpu/lib/python2.7/site-packages/tensorflow/python/ops/gradients.py",
line 498, in gradients
    in_grad.set_shape(t_in.get_shape())

On Tue, Sep 27, 2016 at 6:36 PM, Shi Jiaxi

[2016-09-28 01:51] damienmg commented on #4365
Sorry just realized I haven't answered that bug. It should definitely not require it.

Maybe @davidzchen has some clues about that. I have no idea what is going wrong there.

[2016-09-28 01:52] damienmg commented on #4365
Wait is that on OS X ? With Bazel HEAD?

[2016-09-28 01:53] damienmg commented on #4365
Disregard last message, it is not with OS X. Though know the Bazel version would be great.

[2016-09-28 01:56] damienmg commented on #4365
For completeness to repro:
- A full repro to get the environment (I still haven't installed cudnn on my machine, sorry for that). Maybe a docker container?
- What does `ls -l $(bazel info output_base)/external/local_config_cuda/cuda/lib64/libcudnn.so.5` returns after the failure?

[2016-09-28 01:56] isabel-schwende commented on #4434
Actually this has been reported several times before, see here: https://github.com/tensorflow/tensorflow/issues/2807  I've also found the same issue when I played around with 8-bit quantisation. So far it seems that the matrix multiplication as a core operation in the convolution is not optimised yet. It was mentioned in this thread that they are actively working on the problem https://github.com/

[2016-09-28 02:04] #4595 closed

[2016-09-28 02:17] grayscaler commented on #4586
It works, thanks for your helping.

[2016-09-28 02:24] hhexiy opened #4607 "dtype argument for foldl/foldr"
Why doesn't foldl/foldr have a dtype argument as in map_fn, so that the output dtype can be different from the input dtype?

Use case:
input is a list of indices (int32),  output is sum of embeddings of the indices (float32).

Thanks!

[2016-09-28 02:28] IncubatedChun commented on #3340
I am using v0.10 and did learn.DNNRegressor(..., model_dir='some path') and then
new_regressor = learn.DNNRegressor('path where the model is') and got the error
[code]
while doing new_regressor.predict(some data).
I checked the path and the model indeed is saved.

[2016-09-28 02:28] pfaucon commented on #3703
I've come across the problem as well, it looks like np.array's are not collections.Sequence's I tried implementing a hacky wrapper around list that also has a dtype argument but that didn't fix the problem either.  It looks to me (through code tracing) that for some reason a Tensor is being passed into is_sequence, and the tensor is not a sequence.  Therefore regardless of the input provided the m

[2016-09-28 03:18] sharkdtu opened #4609 "User ops example "Fact" can't work."
I build tensorflow from sources(master). When i try to use the user_ops example "Fact", I got the follow errors. I try to change to branch r0.10, the error does't exists. It may be a bug in master branch?

[code]

[2016-09-28 03:48] tanayz commented on #4256
Thanks @aselle seems like accessing it from AML is doable.However I already found that keras can run in AML,hence keeping this in back burner for now.

[2016-09-28 03:53] moontails commented on #4066
@davidj-github @rinugun @prb12 have updated the PR(#4501) to include the random millisecond delay. Please review!

[2016-09-28 04:43] JC3 opened #4611 "Documentation for Allocator"
Feature request: Documentation for Allocator on the web site (referenced by https://www.tensorflow.org/versions/r0.10/api_docs/cc/ClassTensor.html).

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

There is no documentation for Allocator or references to it except a few SO threads about interpreting PoolAllocator log messages. Informat

[2016-09-28 05:18] gaurav5670 commented on #4200
@tatatodd, PYTHONPATH is a export variable where python looks for all module files. If I export this to my tensorflow src folder path then I start getting error for all other python modules like numpy etc.
So, this can't work because it will change the default path where python looks for other modules.

[2016-09-28 05:31] tatatodd commented on #4200
@gaurav5670 First off, did you confirm that the following file to confirm the code-mismatch issue?
[code]

If this is indeed the problem, it seems to me that you can set PYTHONPATH as follows:
[code]

With (1) we're telling python to first resolve imports from your sources, falling back on whatever your original PYTHONPATH was set to.  With (2) we're telling python to first resolve from your sourc

[2016-09-28 05:50] gunan commented on #3856
I am trying, but I do not have access to a macosx machine with python34 installed.
Funny, I have no idea how to proceed.

[2016-09-28 06:17] yzsatgithub opened #4613 "Maybe there should be an argument 'unique' in the function `tf.where()`"
There IS the case where we wanna find the first position of the `True` element in a tensor.
suppose there is a tensor `a` like this:
[code]
and u run `tf.where(a)`, u will get:
[code]

But we sometimes want a result like this:
[code]
which show us the index of first `True` element instead of all `True` elements.

I suppose the function `tf.where()` might as well add an argument `unique` , indicati

[2016-09-28 06:31] yzsatgithub opened #4614 "It might be better to have one more return value in function `tf.unique()` showing the indexes in the original array"
The function `tf.unique(x, name=None)` finds the unique elements in a 1-D tensor. And it now returns two value: `y` and `idx`. `y` contains all of the unique elements of `x` sorted inthe same order that they occur in `x`. `idx` contains the index of each value of `x` in the unique output `y`.

[code]

BUT i think a third return value which contains the first index of each value of `y` in the origi

[2016-09-28 06:32] packtpartner commented on #4375
@andydavis1 could you help me?

[2016-09-28 07:25] npanpaliya commented on #3722
Closing the issue as the pull request #4597 has been merged. Thanks all.

[2016-09-28 07:25] #3722 closed

[2016-09-28 07:27] arnonhongklay commented on #31
Good!

[2016-09-28 07:36] baregawi opened #4616 "Commit broke keras."
I'm running `Ubuntu 14.04.5 LTS` with `tensorflow==0.10.0` and `keras==1.1.0`.
[code]

After installing tensorflow from source on an EC2 machine and attempting to import keras, I recieved an `AttributeError: module 'tensorflow.python' has no attribute 'control_flow_ops'` error. The same error mentioned in: https://github.com/fchollet/keras/issues/3857. I noticed that after this tensorflow commit:

[2016-09-28 07:43] snbuchholz commented on #4603
Thanks! This information was missing from https://www.tensorflow.org/versions/r0.9/how_tos/meta_graph/index.html

[2016-09-28 07:54] cherishlc opened #4617 "sparse lookup tables for tf.nn.embedding_lookup_sparse"
Hope that “**params**” of **tf.nn.embedding_lookup_sparse** support **SparseTensor**!!!

[tf.nn.embedding_lookup_sparse(params, sp_ids, sp_weights, partition_strategy='mod', name=None, combiner='mean')](https://www.tensorflow.org/versions/r0.10/api_docs/python/nn.html#embedding_lookup_sparse)

The efficiency of sparse lookup tables is low,  but it is very useful for large-scale linear regression s

[2016-09-28 08:05] gbachik commented on #4469
+1

[2016-09-28 08:08] gaurav5670 commented on #4200
@tatatodd  following is the list of files in my /usr/local/lib/python2.7/dist-packages/tensorflow/models/rnn/

/usr/local/lib/python2.7/dist-packages/tensorflow/models/rnn/
├── __init__.py
├── __init__.pyc
├── linear.py
├── linear.pyc
├── rnn_cell.py
├── rnn_cell.pyc
├── rnn.py
├── rnn.pyc
├── seq2seq.py
└── seq2seq.pyc

0 directories, 10 files

By default, on a new terminal environment on my ubun

[2016-09-28 09:13] esc commented on #217
I'd like to see this addressed too, my vim goes all red when I open TF code. Either adding a decent flake8 config (like in https://github.com/tensorflow/tensorflow/pull/4511#event-804342012) and vim header or fixing the 2 space thing would be fine with me.

For the time being, I'm just putting a `.flake8` file in my local tree, that solves everything being red and I still have some descent linting

[2016-09-28 09:15] haosdent commented on #4278
Hi, @tatatodd Are you still working on this? If you are not available, I would like to fix this.

[2016-09-28 09:18] sharkdtu commented on #4609
a redundant `BUILD` in core/user_ops, removed it and it works.

[2016-09-28 09:18] #4609 closed

[2016-09-28 09:43] fayeshine opened #4620 "new feature in cuda8.0 release"
[code]

Do we have anything to improve in these places
1.Simplify programming using Unified Memory including support for large datasets, concurrent data access and atomics
2.Optimize Unified Memory performance using new data migration APIs
3.Increase throughput at ultra-fast speeds using NVLINK, new high-speed interconnect
4.Speed-up Deep Learning applications using native support for FP16 and INT