[2018-07-12 19:08] tensorflowbutler commented on #19312
Nagging Assignee @aselle: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:08] tensorflowbutler commented on #19324
Nagging Assignee @tatianashp: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:08] tensorflowbutler commented on #19342
Nagging Assignee @petewarden: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:08] tensorflowbutler commented on #19389
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-07-12 19:08] tensorflowbutler commented on #19511
Nagging Assignee @rohan100jain: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:08] tensorflowbutler commented on #19517
Nagging Assignee @jart: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:08] tensorflowbutler commented on #19554
Nagging Assignee @shivaniag: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:08] tensorflowbutler commented on #19593
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-07-12 19:09] tensorflowbutler commented on #19620
Nagging Assignee @aselle: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:09] tensorflowbutler commented on #19671
Nagging Assignee @allenlavoie: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:09] tensorflowbutler commented on #19800
Nagging Assignee @jlebar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:09] tensorflowbutler commented on #19802
Nagging Assignee @aselle: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:09] tensorflowbutler commented on #19806
Nagging Assignees @miaout17, @petewarden: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:09] tensorflowbutler commented on #19854
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:09] tensorflowbutler commented on #19904
Nagging Assignees @mhyttsten, @drpngx: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:09] tensorflowbutler commented on #19911
Nagging Assignees @fchollet, @pavithrasv: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:09] tensorflowbutler commented on #19933
Nagging Assignee @tatatodd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:09] tensorflowbutler commented on #19935
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:09] tensorflowbutler commented on #19939
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-12 19:09] tensorflowbutler commented on #19943
Nagging Assignee @aselle: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:10] tensorflowbutler commented on #19952
Nagging Assignee @cy89: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:10] tensorflowbutler commented on #19954
Nagging Assignee @rachellim: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:10] tensorflowbutler commented on #19955
Nagging Assignee @rohan100jain: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:10] tensorflowbutler commented on #20012
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:10] tensorflowbutler commented on #20131
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:10] tensorflowbutler commented on #20275
Nagging Assignee @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:10] tensorflowbutler commented on #20301
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:10] tensorflowbutler commented on #20309
Nagging Assignees @zhangyaobit, @zheng-xq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:10] tensorflowbutler commented on #20320
Nagging Assignee @aselle: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:10] tensorflowbutler commented on #20339
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:10] tensorflowbutler commented on #20342
Nagging Assignee @reedwm: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:11] tensorflowbutler commented on #20346
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-12 19:11] achowdhery commented on #14670
The updated instructions are coming soon

[2018-07-12 19:14] gunan commented on #17850
The builds are ready, but we are still exploring ways to create public links for these.

[2018-07-12 19:14] raymond-yuan commented on #20338
@David-Mao there's an issue with how the output shapes are used right now and is being looked at. However, the workaround right now is to simply wrap your output shape with a TensorShape, e.g. doing this will work.

[code]

[2018-07-12 19:19] jjallaire commented on #20701
Brilliant!!!  So happy we figured this out.

Here is the fix I made in reticulate: https://github.com/rstudio/reticulate/commit/b1728da7765b042dde04e07886595f5630286048#diff-849f590f08cba3094f269e0a4d69398d

I only know of one other case in the wild where a Python object didn't have a module so clients are likely conditioned to expect it (whether or not it is formally required, I'm guessing it isn

[2018-07-12 19:32] karmel commented on #18802
@omalleyt12 -- is this something you can look into?

[2018-07-12 19:33] ppwwyyxx opened #20750 "RunOptions.FULL_TRACE produce wrong timestamps"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:v1.9.0-0-g25c197e023 1.9.0
- **Python version**: 3.6
- **Bazel version (if compiling from sour

[2018-07-12 19:39] skye commented on #20730
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-07-12 19:39] #20730 closed

[2018-07-12 19:44] omalleyt12 commented on #18802
@karmel yep I'll take a look

[2018-07-12 19:49] bhack commented on #17950
@tanzhenyu Have you already any suspect on what code path generated the problem?  Is it something specific to fine-tuning? https://github.com/keras-team/keras/pull/9965#issuecomment-382801648

[2018-07-12 20:07] wdirons commented on #20677
boringssl is building for me on Ubuntu 16.04 with gcc 5.4.0.

On RHEL with gcc 4.8.5 I recreated the problem. I'm going to be doing more investigation on it.

boringssl is only needed for google cloud platform, if you don't need tensorflow built with support for that function you can modify .tf_configure.bazelrc  and find the line starting with build:gcp and modify the value to false:

build:gcp -

[2018-07-12 20:12] omalleyt12 commented on #18802
@iustin94 is ```data_train``` a subclass of keras.Sequence? I'm guessing this has to do with multiprocessing

[2018-07-12 20:14] jlebar commented on #19800
Assigning to @qlzh727 because the PR just needs to be merged.

[2018-07-12 20:14] jlebar commented on #19800
Oh, I take it back, it has been merged.  This should be fixed, then.

[2018-07-12 20:14] #19800 closed

[2018-07-12 20:23] pavithrasv commented on #20372
Assigning to @anj-s as she has a fix ready.

[2018-07-12 20:49] karmel commented on #20577
Hi @dhingratul -- it's hard to help debug without further information, including the graph file you are trying to load. However, based on your question, it sounds like you are just looking for better access to debugging information? @samikama -- you have a todo in trt_convert regarding the returned status message; do you have any advice as to how to best debug here?

[2018-07-12 21:04] martin-gorner opened #20751 "bug in tf.Print summarized formatting"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: YES
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.8
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: N/A
- **GCC/Compile

[2018-07-12 21:07] dhingratul commented on #20577
Yes, its hard to debug without access to the layer that throws that error, as DNNs often have a lot of layers, that cannot be manually inspected.

[2018-07-12 21:09] gbolcer commented on #12328
Now I'm really confused.  bazel clean and then re-build w/o the monolithic tag.  The java appears to have compiled and loaded the model.  Now to run some data through it.

2018-07-12 14:07:16.220721: E tensorflow/core/framework/op_kernel.cc:1242] OpKernel ('op: "Fact" device_type: "CPU" label: "sergey"') for unknown op: Fact
2018-07-12 14:07:16.220817: E tensorflow/core/framework/op_kernel.cc:1242

[2018-07-12 21:30] zheng-xq commented on #20368
You can see existing ops in TensorFlow as an example. The best way is often through bazel.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/rnn/kernels/lstm_ops_gpu.cu.cc
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/rnn/BUILD

[2018-07-12 21:31] tvercaut commented on #15465
In case this is helpful for others, I used this as an excuse to learn about custom ops in tensorflow. It looks like getting a pure python version is only a couple of lines:
[code]

I am not 100% confident about the row major complication so additional eyeballs with better understanding of the internals of TF would be great. A short runnable example using this code can be found here:
https://gist.g

[2018-07-12 21:36] ebrevdo commented on #20131
@lmthang to comment.

[2018-07-12 21:43] gbolcer commented on #12328
Getting very close.  Looking at an input check error coming from somewhere.

Model loaded...
Fetching session... Input is: 683
About to run on 682 chars
2018-07-12 14:38:49.776439: F tensorflow/core/user_ops/syntaxnet/proto_io.h:277] Check failed: input.record_format_size() == 1 (0 vs. 1)TextWriter only supports files with one record format: name: "wsj-data-parsed"

[2018-07-12 21:48] asimshankar commented on #20215
@janstrelka : Assuming your issue is the same as what was talked about in #18530 then this means that the CPU you're running on does not support AVX instructions. Since TensorFlow 1.6, the release binaries require CPUs with AVX support. For older CPUs, you'll have to either build from source or use binaries built by others in the community (e.g. https://github.com/yaroslavvb/tensorflow-community-w

[2018-07-12 22:03] agarwal-ashish commented on #675
There is now an experimental new approach to doing Jacobians here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/parallel_for/gradients.py#L28

[2018-07-12 22:03] asimshankar commented on #20597
Thanks for reaching out @cvinson830

At first glance, it seems that these stats are more suitable for [`NodeExecStats`](https://github.com/tensorflow/tensorflow/blob/4297b9d492327072c0d64b7243925eba192fe028/tensorflow/core/framework/step_stats.proto#L53) rather than `NodeDef`, which is what [TensorBoard uses to render memory stats](https://github.com/tensorflow/tensorboard/blob/3f9c511ef1b6fb45a3f

[2018-07-12 22:34] aselle commented on #14626
The makefile can now do a basic (no op) build. Just do make CROSS=stm32f7

[2018-07-12 22:42] anitha-v commented on #16497
Closing this one, since original poster did not clarify and provide reproducible test cases.

@ianholing :  Please create a new bug with reproducible tests

[2018-07-12 22:42] #16497 closed

[2018-07-12 22:46] anitha-v commented on #16813
Closing it, please reopen if you still see this issue

[2018-07-12 22:46] #16813 closed

[2018-07-12 22:47] anitha-v commented on #16866
Is this still an issue, could you move to 3.0.1 ?

[2018-07-12 22:47] #16866 closed

[2018-07-12 22:49] gbolcer commented on #12328
And now I'm back where I started.

Model loaded...
Fetching session... Input is: 68
Sentence is: "Chicago State University Faculty Union Wants Trustees To Resign\n"
Running final parse.
inputBuilder: "Chicago State University Faculty Union Wants Trustees To Resign\n"

About to run on 68 chars
After Tensor
After runner
After fetch output
After outputBytes
Output:
-:0G`` Chicago State University F

[2018-07-12 22:50] gbolcer commented on #12328
University *NNP2NOUN:nn
Faculty! *NNP2NOUN:nn
Union#' *NNP2NOUN:nn
Wants)- *NNPS2NOUN:nsubj
Trustees/6*VBZ2VERB:ROOT
To89 *TO2PRT:prep!
Resign\n;B *NNP2NOUN:pobj
''DE *''2.:punct

[2018-07-12 22:51] aselle commented on #17349
The presence of the Assign and Variable ops means this is not an inference graph. You need to use the optimize_for_inference_script for it to work.

[2018-07-12 22:51] anitha-v commented on #17461
These ops should be supported now, please retry

[2018-07-12 22:51] #17461 closed

[2018-07-12 22:51] #19683 closed

[2018-07-12 22:54] anitha-v commented on #17468
Looks like DeepLab is converted successfully. For other issues please open separate bugs with additional information to help us debug this better.

[2018-07-12 22:54] #17468 closed

[2018-07-12 22:54] #17501 closed

[2018-07-12 22:56] anitha-v commented on #17540
Closing it , please reopen if the issue persists

[2018-07-12 22:57] anitha-v commented on #17944
Is this still an issue ?

[2018-07-12 22:57] rjpower commented on #20747
Thanks for the report Julien.

I was able to reproduce this.  It appears the issue is that your loss is a vector but we are expecting the returned loss to be a scalar value.  The TPUEstimator machinery wraps your model in a training loop which returns the loss as the final result.  The "dummy" initial loss is a scalar value which means your model function must also return a scalar value to be reta

[2018-07-12 22:59] anitha-v commented on #18191
Please provide more information for the question asked

[2018-07-12 23:08] xiaodiu2010 commented on #8487
I delete the `self` parameter. It works.

[2018-07-13 00:15] shivaniag commented on #20639
@skye so you have any comment on this. I was not able to reproduce this on Ubuntu, is it Windows specific?

[2018-07-13 00:20] shivaniag commented on #19295
@ispirmustafa adding you as well to this feature request if you have any take on this.

[2018-07-13 00:20] shivaniag commented on #20057
Closing this since its a duplicate.

[2018-07-13 00:20] #20057 closed

[2018-07-13 00:22] #19554 closed

[2018-07-13 00:22] martinwicke commented on #19774
This will be fixed once we automatically load op libraries from a directory instead of relying on (lazy) python imports to load them. I'm ok with adding a warning as you describe. Happy to approve a PR.

[2018-07-13 00:39] qinyao-he commented on #20157
@aaroey I think your result is just the same as mine before. Although there are some trt_op, all conv2d_transpose ops are remains unchanged. So TensorRT still not optimize conv2d_transpose at all.

[2018-07-13 00:53] Ceveloper commented on #15465
Implementing the gradient in python could work for me! But let's say I implement a graph in python with this gradient op and they I write the graph to a protobuf file. If I load the graph with the C++ APi, is the optimization going to work? Or there are some disadvantages because of the custom gradient? I hope this is not off-topic.

[2018-07-13 01:04] pavithrasv commented on #20630
+ FYI @raymond-yuan (who is also working on creating some examples for our documentation.)

[2018-07-13 01:22] hadaev8 commented on #19435
Upgraded from 1.8 to 1.9, get this error, uninstalled, deleted tensorflow folder by fand, installed, its work now.

[2018-07-13 01:29] sleepfin opened #20761 "Error occurs when I create subprocess after creating tf.train.Server with RDMA."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Redhat 7.2
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.8.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0.11.0
- **

[2018-07-13 01:30] tensorflowbutler commented on #20737
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-13 01:30] tensorflowbutler commented on #20738
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Exact command to reproduce

[2018-07-13 01:30] tensorflowbutler commented on #20741
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-13 01:40] xiaoyunwu commented on #16093
https://github.com/kashif/tf-keras-tutorial/blob/master/7-estimators-multi-gpus.ipynb

Is this the sign of what we are heading?

Xiaoyun

On Thu, Jul 12, 2018 at 4:19 PM, Xiaoyun Wu <xiaoyun.wu@gmail.com> wrote:

[2018-07-13 01:44] lvjiujin commented on #136
I met the same problem in GPU, but when i change it to the cpu, it works well. the gpu is too samll!

[2018-07-13 01:54] dpfau commented on #15465
Is this the correct backwards pass? I thought the frechet derivative was
the same as forward-mode AD, not backward-mode. Though I could be wrong.

On Fri, Jul 13, 2018 at 1:56 AM, Ceveloper <notifications@github.com> wrote:

[2018-07-13 02:07] traveller59 opened #20764 "Can't build custom ops in tensorflow-gpu 1.9.0 if include "cuda_kernel_helper.h" with C++14"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:v1.9.0-0-g25c197e023 1.9.0
- **Python version**: 3.6.5
- **Bazel version (if compiling fr

[2018-07-13 02:16] bhack commented on #17950
In the finetune case of  models with batch norm (quite frequent here) I think that we are inerithing all the mess and limits of this "upstream" long thread: https://github.com/keras-team/keras/pull/9965#issuecomment-398183440

@tanzhenyou @martinwicke  What do you think?

[2018-07-13 02:32] bhack commented on #17950
Also from the same thread https://medium.com/@joeyearsley/the-batch-normalisation-in-keras-is-not-broken-358b5e46af54

[2018-07-13 02:34] martinwicke commented on #17950
I do think that there were other issues introduced specifically by model_to_estimator, and hopefully those (at least the ones related to batch_norm) are resolved by @tanzhenyu's fix.

Additionally, we are certainly inheriting the issues mentioned there, and we should fix them. So if there are open issues on TF related to finetuning and batchnorm, we should close them with a fix once we have one.

[2018-07-13 02:39] zjfheart commented on #20677
Hi @wdirons
I git clone the latest version.
git clone https://github.com/tensorflow/tensorflow
[root@Jingfeng_redhat tensorflow]# vi RELEASE.md
# Release 1.9.0

## Major Features And Improvements
* Updated docs for `tf.keras`: New Keras-based [get started](http://tensorflow.org/versions/r1.9/get_started),
  and [programmers guide page](http://tensorflow.org/versions/r1.9/programmers_guide/keras).

[2018-07-13 02:39] samikama commented on #20577
@dhingratul, It is hard to read your report, but the error says unsupported tensor size. It should be handled better with PR #20755 and recent PRs. Could you please try with a more recent commit?

[2018-07-13 02:43] samikama commented on #20620
@jiarenyf, TRT 3 doesn't have support for matmul support. Could you please try with TRT4.0 after PR #20755  and #20350 merged?

[2018-07-13 02:45] samikama commented on #19211
This should be fixed with recent updates, #20350 specifically.

[2018-07-13 02:45] #19211 closed

[2018-07-13 02:56] samikama commented on #19619
@yegord Could you please try with TRT4.0? You should not need to set gpu allocation fraction when using TRT4.0 and workspace will directly be allocated from TF memory. It should improve the things for you

[2018-07-13 03:01] samikama commented on #20157
@qinyao-he  are you talking about transpose ops? Transposes are never included in TRT, they are to convert data layouts.

[2018-07-13 03:15] David-Lee-1990 opened #20765 "Failed: bazel build tensorflow/tools/graph_transforms:transform_graph"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:    Mac OS 10.13.6
- **TensorFlow installed from (source or binary)**:   Installed from source by git clone
- **TensorFlow version (use command below)**:     version 1.8
- **Python version**: version 3.6
- **Bazel

[2018-07-13 04:38] tsoi2 commented on #18268
@asimshankar @fengrussell  I am facing exactly the same problem. Have you figured out the cause? Thanks.

[2018-07-13 04:55] sedhha opened #20767 "How to access the tensorflow model directly from PC?"
The main issue I am facing is that I am not able to access to object_detection_models even though it has been saved offline. I have described my problem in the comment below:
The main error I am having is this:
**The filename, directory name, or volume label syntax is incorrect.**

[2018-07-13 05:01] sedhha commented on #20767
Here is the problem I am facing... I found object detection script in jupyter notebook and made necessary changes to read objects in real time and form object detection. But the problem I am facing is each time I run the script I have to download the model again and again. Here is the code:
`import numpy as np
import os
import six.moves.urllib as urllib
import sys
import tarfile
import tensorflow

[2018-07-13 05:30] vishalkumarchaudhary commented on #13552
Has anybody solved this problem???

[2018-07-13 05:37] sharvil10 commented on #12132
@stengoes In your code you've used convolution's associative property by combining the filters of separable convolution and 1x1 convolution assuming that both operation does not use non linearity. After that, you have used this effective filter to convolve with the original input image. This entire operation is taking less time as the first combining operation is applied on much smaller tensors(fi

[2018-07-13 05:48] jplu commented on #20747
Thanks a lot @rjpower for the fix, I will test it ASAP today and let you know :)

What was the gradient error you have seen with my loss function? If I follow your fix I should be able to reproduce it?

[2018-07-13 06:05] qinyao-he commented on #20157
@samikama There are no transpose ops. conv2d_transpose is deconv.

[2018-07-13 06:08] yongtang commented on #20751
Added a PR #20768 for the fix.

[2018-07-13 06:09] AdrianXIA opened #20769 "Configure Tensorflow on GPU using Java API"
Hello,

How to set following config "gpu_options.allow_growth = True" for Tensorflow, using Java API?
I tried using this code but it doesn't work:

[code]

I know the method setOption is an experimental method.
Is there another away to achieve it?

Thanks

[2018-07-13 06:14] Canxes commented on #20739
By the way, I wonder, why `create_eval_graph` uses fixed fake quantization([-6.0, 6.0] -> uint8)?

According to the original [paper](https://arxiv.org/pdf/1712.05877.pdf) the idea is to use min-max weights values and EMA during training. In my opinion it is expectable to do the same for the eval_graph. I mean, run `create_eval_graph`, evaluate network on the dataset to get the min-max values and t

[2018-07-13 06:22] attitude95 commented on #20738
Thanks for your response. I've got the issue solved. Thank you

[2018-07-13 06:22] #20738 closed

[2018-07-13 06:28] subha26 opened #20770 "CUDA 9.2 + cuDNN 7.1.4 Support for Windows"
I installed CUDA 9.2 and cuDNN 7xx on windows 10. when I import tensorflow in python, it says that tensorflow works only with CUDA 9.0, so when wil the support for CUDA 9.2 come.

[2018-07-13 06:39] bhack commented on #17950
When I confirmed this bug [two months ago](https://github.com/tensorflow/tensorflow/issues/17950#issuecomment-389088438) the model had the input tensor and finetuning so on our side we was involved with the `feeds_inputs` issue but also with the batch_norm/fine-tuning.
I don't think that we have a dedicated issue for `tf.keras` cause often it is not clear where people open the tickets (keras or tf

[2018-07-13 06:44] kanul commented on #20684
@tatianashp

How can I get a help to resolve above issues?

[2018-07-13 06:45] tatianashp commented on #20681
In my experience, the performance is similar when using MKL or MKL-DNN. Setting the environment variables for MKL might have a bigger effect. Please take a look at [CPU optimizations](https://www.tensorflow.org/performance/performance_guide#optimizing_for_cpu ) guide for more information.

[2018-07-13 06:47] Shenghsin commented on #19992
I have found the same problem， with tf.nn.depthwise_conv2d_native（）， the parameter 'dilations' do not take effect，dilations=[1, 2, 2, 1] will have the same result with dilations=[1, 1, 1, 1].  @PavelPr  had pointed the bug in tensorflow's  implementation.

[2018-07-13 06:49] markuspatzold commented on #19837
I have the same issue! Freezing and optimizing does not help

[2018-07-13 06:54] tensorflowbutler commented on #20748
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-13 06:56] tatianashp commented on #20684
@aselle, @andrehentz Can you help?

[2018-07-13 07:04] sandipmgiri commented on #20008
Test passed successfully on high end vm. Closing this issue.

[2018-07-13 07:04] #20008 closed

[2018-07-13 07:05] sandipmgiri commented on #20012
Test passed successfully on high end vm. Closing this issue.

[2018-07-13 07:05] #20012 closed

[2018-07-13 07:05] tatianashp commented on #20726
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-07-13 07:06] #20726 closed

[2018-07-13 07:13] tatianashp commented on #20142
@laurentk67 I apologize for slow reply. Do you still have a problem?

[2018-07-13 07:17] tatianashp commented on #19324
We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2018-07-13 07:30] jena43 opened #20771 "Where is the nightly-android ?"
--------------------

### Describe the problem
The link https://ci.tensorflow.org/view/Nightly/job/nightly-android/ (prebuilt android libraries) is broken but is still used in various files in documentation :
- https://www.tensorflow.org/mobile/android_build#android_inference_library
- https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/android/README.md

I use it for my app, b

[2018-07-13 07:30] tatianashp commented on #20582
Please post this question to [TensorFlow Hub issues](https://github.com/tensorflow/hub/issues).

[2018-07-13 07:30] #20582 closed

[2018-07-13 07:38] tatianashp commented on #9319
We don't have anybody working on integration of NNPACK in TensorFlow. If somebody in the community wants to take a stub at it, contributions are most welcome. Let us know if you need any guidance.

[2018-07-13 07:59] NaxAlpha opened #20773 "tf.Print related wired bug"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 (latest)
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: r1.9 (v1.9.0-0-g25c197e023)
- **Python version**: Python 3.6.5 |Anaconda, Inc.| [MS

[2018-07-13 08:24] guillaumekln commented on #20699
Thanks @The-Fonz for opening this issue.

I'm have similar observations with `train_and_evaluate`. It is mostly visible when using buffered Dataset operators like `shuffle` but it seems to level off after some steps:

![image](https://user-images.githubusercontent.com/4805513/42679991-0392b902-8684-11e8-9235-ec7c75720223.png)

(Each increase corresponds to a new training phase.)

After more invest

[2018-07-13 09:11] mohanr commented on #20639
[code]

This set doesn't have the correct result  (11, array([ 1,  1,  2,  3,  5,  8, 13, 21, 34, 55, 89]))

[2018-07-13 09:14] iamgroot42 commented on #5639
KeyErrors in loading a Tensorflow graph can be because of missing explicit import statements.  I ran into the same error for 'no op named GatherTree'. Apparently Tensorflow does some dynamic loading of imports, which is done only when they are required. In my opinion, this is more of a bug and at least the error messages should suggest an appropriate action. Anyway, I fixed my issue using the foll

[2018-07-13 09:16] iamgroot42 commented on #19000
@k-w-w  thanks for the pointer! The error I was facing was because of some missing import statements which are explicitly required in some cases (thanks to dynamic imports for Tensorflow).

[2018-07-13 09:25] craigtao opened #20775 "tf1.2 windows dll error"
严重性	代码	说明	项目	文件	行	禁止显示状态
错误	LNK2001	无法解析的外部符号 "public: void __cdecl google::protobuf::internal::LogFinisher::operator=(class google::protobuf::internal::LogMessage &)" (??4LogFinisher@internal@protobuf@google@@QEAAXAEAVLogMessage@123@@Z)	win_trainer	H:\2018\001_TFopencv\002_demo\TF1.2\DemoTF1.2\win_trainer\example_trainer.obj	1

[2018-07-13 09:49] janstrelka commented on #20547
Have the same issue with current Tensorflow 1.9.0 CPU - Win10 64bit, Python 3.6.
Older Tensorflow 1.5.1 CPU - works ok.

[2018-07-13 10:04] bhack commented on #19295
See also https://github.com/tensorflow/tensorflow/issues/17950#issuecomment-404707663

[2018-07-13 10:08] tommiezzz commented on #20592
@jiangcore
i comment out line 126,127,128 in external/com_github_googlecloudplatform_google_cloud_cpp/google/cloud/internal/optional.h and line 57 in external/com_github_googlecloudplatform_google_cloud_cpp/google/cloud/bigtable/internal/rowreaderiterator.h

[2018-07-13 10:16] tvercaut commented on #15465
My understanding is that the Fréchet derivative indeed corresponds to forward-mode AD but because we have `expm(A^T)=expm(A)^T` I believe the Fréchet derivative function can still be used provided the right transpositions / index ordering is used. This is where a more careful look would be helpful especially since the default vectorisation in the math formulas is based on column major assumptions.

[2018-07-13 10:24] haowuliao opened #20776 "bug about boosted_trees"
In tensorflow 1.9 , win10, python36,  I run the example "tensorflow-master\tensorflow\contrib\boosted_trees\examples\boston.py", report :

  File "<ipython-input-1-0c2875deaba9>", line 6, in <module>
    from tensorflow.contrib.boosted_trees.estimator_batch import custom_export_strategy

  File "D:\ProgramFiles\Anaconda3\lib\site-packages\tensorflow\contrib\boosted_trees\estimator_batch\custom_exp

[2018-07-13 11:18] jony0917 commented on #2818
Raising an exeception is not the best option, people will still be confused about why my code raises an exeception, tensorflow had better to make the definition of gradients clear.

https://github.com/tensorflow/tensorflow/issues/20613

[2018-07-13 11:41] RyenAng opened #20778 "ImportError: cannot import name 'abs'"
Windows 10 ,  CUDA 9 + CUDNN 7,  Python3.6(Anaconda5.2)
install the TensorFlow 1.9:
`pip install --upgrade tensorflow-gpu`
when I import the TensorFlow in ipyhon:
` from tensorflow.python.keras._impl.keras.backend import abs
ImportError: cannot import name 'abs'`
![image](https://user-images.githubusercontent.com/37954865/42689854-ab49a7c8-86d4-11e8-9a14-43e05d4e3f90.png)

[2018-07-13 11:51] prsahuGloob commented on #20778
I am getting the same error

[2018-07-13 12:01] mnaranjo commented on #17219
HI,
I have the same problem,  when i use pretained model (MobileNet_v1_0.50_160) , it results in error (KeyError: u'SSTableReaderV2' ).
@youngstu how did you solve the problem?

thank you!

[2018-07-13 12:51] iustin94 commented on #18802
I can't answer this question as I don't have access to that repository currently. You might be right, I recall we were attempting to use multiprocessing however we couldn't see it in the process monitor so we suspected we were doing something wrong.

[2018-07-13 12:55] jasonachonu opened #20779 "AttributeError: module 'pandas' has no attribute 'rolling_count'"
Hi,

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Hugh Sierra
- **TensorFlow installed from (source or binary)**: I did pip install tensor flow
- **TensorFlow version (use command below)**: v1.9.0-0-g25c197e023 1.9.0
- **Python version**:  3.6
- **

[2018-07-13 12:59] AgoloCuongHoang commented on #16990
Hi,

I just wanted to thanks @eisenjulian on his suggestion on load pre-trained embeddings using a custom initializer. You saved me a lot of time!
I didn't expect doing this is that hard with tf estimator.

[2018-07-13 13:19] cogmeta commented on #19026
Not worth the wait. closing it.

[2018-07-13 13:19] laurentk67 commented on #20142
Hi,
The general problem is how cuFFT or cuBlas should be used inside a custom op.
The code I reported is crashing.
Thanks
Laurent

Sent from my iPad

[2018-07-13 14:06] k-anastasia opened #20780 "TensorRT inference error: TensorFlow device was not registered"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
last commit from pull request #20350
- **Python version**:
2.7
- **Bazel version (if compi

[2018-07-13 14:30] chriskraus0 commented on #7547
@gcucurull that is not an issue of tensorflow/object-detection, but the standard behaviour of certain operating systems. Brackets, comma, spaces etc. should be escaped if provided to any program (at least in the context of linux or MacOS).

[2018-07-13 14:45] leccyril commented on #7547
I copied the model i used an point to older directory in python path.. Maybe you done same thing

[2018-07-13 14:53] tanzhenyu commented on #19295
What's the use case here? (given that user created the model from keras, no checkpoint exists)

[2018-07-13 14:59] carlthome opened #20781 "Feature request: preserve cycle order of open iterators in tf.data.Dataset.interleave"
I'm trying to train RNNs with truncated BPTT with `tf.data` (a great API by the way!) but got tripped up by [these lines](https://github.com/tensorflow/tensorflow/blob/744cf3d3e06fb63ffa40086766137daedc01a5ba/tensorflow/core/kernels/data/interleave_dataset_op.cc#L190-L195) as I've assumed an exhausted iterator would result in a new element being opened directly at the same position in the cycle (i

[2018-07-13 15:02] rjpower commented on #20747
I don't have it handy, but the gradient error didn't appear TPU related: it was a warning from the optimizer that there were no gradients to the weight variables.

Looking at it, my guess is that in my reproduction the `try: ... except: continue` block failed to execute and so the loss was a constant zero.  If you don't see the error in the CPU execution then it's probably fine.

[2018-07-13 15:02] bhack commented on #19295
@tanzhenyu One classical use case is to bootstrap a new experimental from another one created from keras and converted to estimator. That one generated checkpoints.

[2018-07-13 15:14] tsoi2 commented on #7970
@sj6077
I am also facing the problem @fanlu had.  Could you share how you fix that? Thanks.

[2018-07-13 15:16] tatianashp commented on #20592
This issue is better submitted to [Google Cloud Platform issues] since it is not a TensorFlow bug or feature request.

[2018-07-13 15:16] #20592 closed

[2018-07-13 15:23] tatianashp commented on #19026
cc @aselle, @martinwicke

[2018-07-13 15:29] caot commented on #10870
It's kind of challenging to get  glibc 2.23 compiled in CentOS 6.

[2018-07-13 15:32] ashwaniag commented on #14670
@achowdhery How soon?

[2018-07-13 16:08] iitzco commented on #20098
Hi,

Any news on this? I'm facing the exact same problem that @masonk

@masonk have you found a work around with reinitializables iterators?

[2018-07-13 16:10] tvercaut commented on #15465
I did some further experimentation and while I am still not 100% confident I get all the indexing right, this seems more consistent:
[code]

The updated "tests" are in the same gist: https://gist.github.com/tvercaut/bd9fe8c5d12ab529babd9bf5434d7cda

It'd be great to have some proper unit tests at some point.

[2018-07-13 16:10] jony0917 commented on #18354
i have created a pl https://github.com/tensorflow/tensorflow/pull/20782

[2018-07-13 16:21] ringw commented on #20283
Hello,

I had started writing [a new truncated normal kernel for arbitrary intervals](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/parameterized_truncated_normal_op.cc), but then had another 20% project that took priority. The eventual plan was to benchmark that kernel against the current tf.truncated_normal on the same fixed interval, and once it's ready, add a new

[2018-07-13 16:27] Maxima86 opened #20783 "Tensorflow issue with libcublas.so.9.0"
Hi,

I receive the following error while I want to import tensorflow. The python version is 3.5 and Cuda version is 9.2.

/usr/bin/python3.5 /home/usr/Desktop/Project1/test.py
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "/usr/loca

[2018-07-13 16:31] lamsalab commented on #20521
Have I written custom code: yes
OS Platform and Distribution: Linux Ubuntu 14.04
TensorFlow installed from: source
TensorFlow version: 1.9
Python version: 2.7
Bazel version: 0.12.0
GCC/Compiler version: 4.8.4
CUDA/cuDNN version: 9.1
GPU model and memory: Tesla K40, K80

I have been getting a similar error when I use MirroredStrategy() for training across multiple devices. Here is the stack trace f

[2018-07-13 16:36] asimshankar commented on #16093
That tutorial you referred to is nice - it does demonstrate the general idea that the exact same code (`tf.keras.Model` object) used with eager execution can be used to create an `Estimator` for distributed (multi-GPU or multi-node) training.

We are working on making that process much smoother, where say the `DistributionStrategy` to use can be provided directly to the `tf.keras.Model` object. Ti

[2018-07-13 16:40] ebrevdo commented on #20283
I don't think we plan to have a generic Truncated distribution object, at least unless we can add [automatic implicit reparameterization gradients](https://arxiv.org/abs/1805.08498) as part of the generic implementation.

[2018-07-13 16:41] ebrevdo commented on #20283
I'm assuming here you mean for any distribution with a scalar event shape (i.e., single variate distributions).

[2018-07-13 16:42] cy89 commented on #20283
Thanks, @ringw and @ebrevdo. I'll mark "contributions welcome". @ZigaSajovic thanks for being willing to work on this!

[2018-07-13 16:46] ebrevdo commented on #20283
If you'd like to work on this, I do suggest reading the paper I linked
above, especially section #4.

On Fri, Jul 13, 2018 at 9:43 AM, Cliff Young <notifications@github.com>
wrote:

[2018-07-13 16:48] Bocharick commented on #20126
I **have same problem** with my code. Just trying to use your MirroredStrategy functional, and it's not working for me, and I have only some **assertion error**;

**0) Have I written custom code:**
[Too much lines, so my code on pastebin](https://pastebin.com/Vqx89L92)

**1) OS Platform and Distribution:**
-Linux UbuntuPC 4.4.0-130-generic #156-Ubuntu SMP Thu Jun 14 08:53:28 UTC 2018 x86_64 x86_64

[2018-07-13 16:58] omalleyt12 commented on #18802
I tried to recreate the lack of error situation with the code below but this seems to be (correctly) throwing an error for me:

[code]

On the ```multiprocessing``` bit, I looked into it more and the code you had will use ```multithreading``` and not ```multiprocessing``` to grab the input data, which may explain why you weren't seeing anything in the process monitor. If you want Keras to use ```m

[2018-07-13 16:58] cy89 commented on #19864
@fchollet can you comment on array-of-arrays support?

[2018-07-13 16:58] jplu commented on #20747
Hummm... In my loss the constraint I have is that the batch size must be a multiple of 3 otherwise the loss fails. Maybe somewhere I forgot to take this into account, I will remove the ```try: ... except: continue``` and add a check if the loss equals 0, and see if I succeed to get this state.

Thanks a lot for everything as now I don't have anymore the issue with your fix :)

[2018-07-13 16:58] #20747 closed

[2018-07-13 17:00] omalleyt12 commented on #18802
Closing for now, this issue may have been fixed since this bug was reported

[2018-07-13 17:00] #18802 closed

[2018-07-13 17:03] Schnabbel opened #20784 "BUG: Estimator training with tf.contrib.distribute fails under 1.9.0 but works under 1.8.0"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.9.0 and and v1.8.0-0-g93bc2e2072 1.8.0
- **Python versio

[2018-07-13 17:08] karmel commented on #19992
@chsigg @yzhwang -- are there current plans to add dilation parameters to DepthwiseCov2dNative? If not, should the docs be updated?

[2018-07-13 18:01] annarailton commented on #20098
@iitzco what are you trying to do? I think @masonk and I between us have bashed our heads against this quite a bit so we might be able to help you out. (Admittedly the solution might have to be some roundabout thing with feedables and handles).

[2018-07-13 18:11] SHikumo opened #20787 "tensorflow-1.9.0-cp36-cp36m-win_amd64.whl is not a supported wheel on this platform."
From my Cmd:  I have downloaded it from here: https://pypi.org/project/tensorflow/#files

F:\Python\Scripts>pip3 install tensorflow-1.9.0-cp36-cp36m-win_amd64.whl
tensorflow-1.9.0-cp36-cp36m-win_amd64.whl is not a supported wheel on this platform.

F:\Python\Scripts>python --version
Python 3.6.5

I tried upgrade Pip, Wheel but they're all up-to-date.

[2018-07-13 18:32] ankitvgupta commented on #18394
Also to clarify, you mention that this implementation sets a variable to request a stop, and then other workers check that variable. I can see where the PR sets a variable called STOP.

Where is the logic for other variables to check that the STOP variable is set? Is that being separately merged?

[2018-07-13 18:44] goutham commented on #18394
@ankitvgupta It's part of the same PR. If you look at [early_stopping.py](https://github.com/tensorflow/tensorflow/blob/90e66f2aa1015496c8f8e9be573ef83f542a2ad0/tensorflow/contrib/estimator/python/estimator/early_stopping.py) implementation, there are two hooks `_StopOnPredicateHook` and `_CheckForStoppingHook`. The former is used in the chief and sets the variable when early stopping condition is

[2018-07-13 18:55] me6ran commented on #7983
thank you @mytrjp
I checked first GPU load by nvidia-smi command and found some apps are running on top of that. after closing them, and closing current terminal, and open terminal again it starts working.

[2018-07-13 18:56] tensorflowbutler commented on #20769
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-13 18:56] tensorflowbutler commented on #20771
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-13 18:56] tensorflowbutler commented on #20775
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-13 18:56] tensorflowbutler commented on #20776
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-13 18:56] tensorflowbutler commented on #20778
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-13 18:56] tensorflowbutler commented on #3332
Nagging Assignee @chsigg: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:56] tensorflowbutler commented on #10370
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-07-13 18:57] tensorflowbutler commented on #14584
Nagging Assignee @skye: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:57] tensorflowbutler commented on #16087
Nagging Assignee @xiejw: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:57] tensorflowbutler commented on #16138
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:57] tensorflowbutler commented on #16344
Nagging Assignee @fchollet: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:57] tensorflowbutler commented on #16864
Nagging Assignee @rmlarsen: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:57] tensorflowbutler commented on #17851
Nagging Assignees @guptapriya, @josh11b: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:57] tensorflowbutler commented on #17859
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-07-13 18:57] tensorflowbutler commented on #17995
Nagging Assignee @tatatodd: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:57] tensorflowbutler commented on #18044
Nagging Assignee @ispirmustafa: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:57] tensorflowbutler commented on #18080
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-07-13 18:57] tensorflowbutler commented on #18213
Nagging Assignee @shivaniag: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:57] tensorflowbutler commented on #18238
Nagging Assignee @bignamehyp: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:58] tensorflowbutler commented on #18828
Nagging Assignee @aselle: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:58] tensorflowbutler commented on #18858
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-13 18:58] tensorflowbutler commented on #18880
Nagging Assignee @saeta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:58] tensorflowbutler commented on #19222
Nagging Assignee @chsigg: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:58] tensorflowbutler commented on #19247
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-13 18:58] tensorflowbutler commented on #19444
Nagging Assignee @aselle: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:58] tensorflowbutler commented on #19457
Nagging Assignee @allenlavoie: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:58] tensorflowbutler commented on #19481
Nagging Assignee @tatatodd: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:58] tensorflowbutler commented on #19571
Nagging Assignee @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:58] tensorflowbutler commented on #19586
Nagging Assignee @aselle: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:58] tensorflowbutler commented on #19625
Nagging Assignees @petewarden, @aselle, @andrehentz: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:58] tensorflowbutler commented on #19690
Nagging Assignee @chsigg: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:59] tensorflowbutler commented on #19734
Nagging Assignee @robieta: It has been 39 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:59] tensorflowbutler commented on #19735
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:59] tensorflowbutler commented on #19834
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:59] tensorflowbutler commented on #19874
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-13 18:59] tensorflowbutler commented on #19880
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-13 18:59] tensorflowbutler commented on #19897
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-13 18:59] tensorflowbutler commented on #19975
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:59] tensorflowbutler commented on #19989
Nagging Assignee @jart: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 18:59] tensorflowbutler commented on #20302
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 19:00] tensorflowbutler commented on #20305
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 19:00] tensorflowbutler commented on #20332
Nagging Assignee @meteorcloudy: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 19:00] tensorflowbutler commented on #20333
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-13 19:00] tensorflowbutler commented on #20334
Nagging Assignee @drpngx: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 19:00] tensorflowbutler commented on #20345
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 19:00] tensorflowbutler commented on #20348
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 19:00] tensorflowbutler commented on #20356
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-13 19:00] ankitvgupta commented on #18394
Ah yes, that makes sense. I was testing this on a single GPU a local training configuration. If I'm only using the local case, should I manually add a second hook which is the `_CheckForStoppingHook`?

[2018-07-13 19:00] tensorflowbutler commented on #20358
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 19:00] tensorflowbutler commented on #20373
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 19:00] tensorflowbutler commented on #20379
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-13 19:01] tatianashp commented on #20775
@craigtao  Thank you for reporting the error. Please try using a more recent version of TensorFlow and see if it helps.

[2018-07-13 19:02] ankitvgupta commented on #18394
I think that the run_local case of train_and_evaluate has to be modified for that to work. Here: https://github.com/tensorflow/tensorflow/blob/r1.9/tensorflow/python/estimator/training.py#L634

[2018-07-13 19:02] asimshankar commented on #20769
Could you elaborate on what you mean by "it does not work". Can you provide a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve) to reproduce the problem?

Thanks

[2018-07-13 19:07] tatianashp commented on #20333
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-07-13 19:07] #20333 closed

[2018-07-13 19:20] martinwicke commented on #20778
@gunan @case540 @amitpatankar

I this is a widespread problem we should have seen it in the windows tests, no? Or do we not have Windows pip tests? Maybe we should for release. :/

[2018-07-13 19:21] fredtcaroli opened #20788 "Issue with `natural_exp_decay` documentation"
The example in the `tf.train.natural_exp_decay` documentation uses an nonexistent function called `exponential_time_decay`. Also, it is missing the `decay_steps` parameter in both the example and the showed equation

Equation:
https://github.com/tensorflow/tensorflow/blob/r1.9/tensorflow/python/training/learning_rate_decay.py#L316
Example
https://github.com/tensorflow/tensorflow/blob/r1.9/tensorfl

[2018-07-13 19:29] achowdhery commented on #14670
Please follow Blog post:
https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193

[2018-07-13 19:51] ppwwyyxx commented on #20783
1. Latest TensorFlow __supports__ CUDA 8-9.2. CuDNN 6-7, or perhaps earlier versions as well.
2. Each TensorFlow binary only works with the version of CUDA and CuDNN it is built with.
3. Official latest TensorFlow binaries (the one downloadable from pypi or conda) are built with CUDA 9.0, CuDNN 7
4. If you don't like to install a different version of Nvidia software, you can:
(1) Use non-official

[2018-07-13 19:52] n3011 opened #20789 "Tensorflow 1.8.0 and 1.9.0 behavioural difference for tf.layers.Layer API"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.8.0 and 1.9.0
- **Python version**: 3.5.5
- **Bazel version (if compiling from source)**:
-

[2018-07-13 19:53] achowdhery commented on #20515
Here is the blog post showing Tensorflow Lite detailed instructions
https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193

[2018-07-13 19:54] achowdhery commented on #20117
Here is the blog post for end-to-end object detection training and deployment with Tensorflow Lite:
https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193

[2018-07-13 20:10] gunan commented on #20778
We do have pip tests on windows, not sure how we missed this.

[2018-07-13 20:12] gunan commented on #20302
Closing because this is due to protobuf version incompatibility.
If you are using tensorflow 1.8 or older, please use protobuf version 3.4 or older.
If you are using TF 1.9 or newer, please use the latest version of protobuf.

[2018-07-13 20:12] #20302 closed

[2018-07-13 20:15] gunan commented on #20674
Could you share your CPU model?
This can be a duplicate of #19584

[2018-07-13 20:15] gunan commented on #20440
This is a duplicate of #19584
Please see the proposed solutions there.

[2018-07-13 20:15] #20440 closed

[2018-07-13 20:21] lutzroeder opened #20790 "pip3 install tensorflow fails on macOS"
[code]

[2018-07-13 20:22] AdrianXIA commented on #20769
1) Used this code [code](https://github.com/tensorflow/models/tree/master/samples/languages/java/object_detection),
2) Coco [Models ](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md) for Inference: faster_rcnn_nas
2) I ran in AWS using AWS EC2, type p2.xlarge, with Tesla K80,
3) I chose a Linux instance for Deep Learning,
4) Tensorflow GPU ve

[2018-07-13 20:37] case540 commented on #20778
Do we only have pip tests for Bazel builds (release we only look at CMake Windows builds)

[2018-07-13 20:40] wdirons commented on #20677
@zjfheart

I have submitted PR #20791 to fix this issue. One of the patches in PowerAI's fork of Tensorflow is still needed.

If you want to try before the PR is merged, you can cherry-pick the fix:

git clone https://github.com/tensorflow/tensorflow
cd tensorflow
git remote add wdirons https://github.com/wdirons/tensorflow
git fetch wdirons
git cherry-pick 8a5c6c4c305905a206065b0f5fa9a86c03876428

[2018-07-13 20:55] gunan commented on #20674
Hmm, it looks like CPU model has AVX, but still the failure we see is during dll loading.
Here are a few more questions:
1 - What happens if you use the standard python terminal, and run import tensorflow as tf? do you see the same error?
2 - If it is easy, what do you see when you try the same with tensorflow 1.5?

[2018-07-13 20:57] masonk commented on #20098
@iitzco : I haven't found a way to do it without feeding on every step. I'm still feeding on every step right now.

[2018-07-13 20:57] qinyao-he commented on #20780
I have also faced the same issue with PR #20350

[2018-07-13 21:03] gunan commented on #10870
All of our newer packages should be using glibc 2.19, as they are back to building on ubuntu 14.
Instead of rebuilding glibc, you may be able to rebuild tf on your machine.

[2018-07-13 21:04] gunan commented on #19874
This is now fixed.

[2018-07-13 21:04] #19874 closed

[2018-07-13 21:16] GKilianW commented on #20674
1.It looks like the same error as before.  Posted below.

2. The server doesn't have an internet connection.  I am installing tensorflow and all of its dependencies through wheel files found on PyPI.  When I went through finding all of the dependencies for 1.5, some were no longer available on PyPI.

Traceback (most recent call last):
  File "D:\MSSQL14.MSSQLSERVER\PYTHON_SERVICES\lib\site-package

[2018-07-13 21:17] GKilianW commented on #20674
1 - It looks like the same error as before. Posted below.

2 - The server doesn't have an internet connection. I am installing tensorflow and all of its dependencies through wheel files found on PyPI. When I went through finding all of the dependencies for 1.5, some were no longer available on PyPI.

[2018-07-13 21:18] GKilianW commented on #20674
Traceback (most recent call last):
  File "D:\MSSQL14.MSSQLSERVER\PYTHON_SERVICES\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 14, in swig_import_helper
    return importlib.import_module(mname)
  File "D:\MSSQL14.MSSQLSERVER\PYTHON_SERVICES\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<fr

[2018-07-13 21:23] asimshankar commented on #20769
Oh, I see.

`Session.runner().setOptions()` is supposed to be provided with a [`RunOptions`](http://static.javadoc.io/org.tensorflow/proto/1.9.0-rc2/org/tensorflow/framework/RunOptions.html) protocol buffer (see [javadoc](https://www.tensorflow.org/api_docs/java/reference/org/tensorflow/Session.Runner.html#setOptions(byte[]))), not a `ConfigProto` message.

The `ConfigProto` message needs to be pr

[2018-07-13 21:30] Rshah36 commented on #16692
I understand that the pandas_input_fn results in feature values of incorrect shape, but why doesn't the built in function account for this automatically? Is there a fix coming out for this function?

[2018-07-13 21:38] martinwicke commented on #20778
I guess that means patch release time. Only needed for Windows, I guess?

[2018-07-13 21:41] tcmxx commented on #19944
Just for anyone who is interested, I made a very simplified version to be added to array_grad.cc based on python implementation....sanity checks/optimizations are removed, not working for all cases....

[code]

[2018-07-13 21:59] case540 commented on #20778
This issue seems to suggest a fix...
https://github.com/tensorflow/probability/issues/46

1. uninstalling tensorflow
2. uninstalling protobuf
3. reinstalling tensorlfow (which should come along with the correct protobuf version.

Not sure if these issues have same root cause, but maybe something to try before a patch release

[2018-07-13 22:01] goutham commented on #18394
I don't think you should have any problems running in local mode. It is fine to not have `_CheckForStoppingHook` as it is to help with the distributed case. Can you elaborate on what you noticed? I couldn't reproduce any problems when running locally on my machine.

[2018-07-13 22:07] nfiedel commented on #20635
@weberxie preventing this in code is particularly challenging across many distributed/inconsistent filesystems. Making this more obvious in the instructions is a great idea – I'll see if we can do this either now or in coming doc refreshes. Thanks!

[2018-07-13 22:09] martinwicke commented on #20778
Nice find! @RyenAng can you check whether that solution works for you? We did upgrade our protobuf dependency, and while it's regrettable that the failure is so obscure, it's somewhat beyond our control.

[2018-07-13 22:17] michaelisard commented on #20635
I'll close this for now, thanks @nfiedel.

[2018-07-13 22:17] #20635 closed

[2018-07-13 22:18] michaelisard commented on #20585
@lukaszkaiser would you assign to someone who can look into this if you don't have time?

[2018-07-13 22:30] yegord commented on #19619
@samikama Thanks for the update! Which TensorFlow version should I test TRT 4 with? Master (98b9a4e45a559217bc89960b889c130af95c1d1a) crashes with
[code]
(This is the minimal example mentioned in https://github.com/tensorflow/tensorflow/issues/19619#issuecomment-393221941.)

[2018-07-13 22:33] aselle commented on #19026
I think this is now resolved. Could you try a nightly or build from source. In particular, make sure whatever verison you use has this
https://github.com/tensorflow/tensorflow/commit/85c518b8d306204cd7111f321a4b7b204fc554f4
Unfortunately, this is not in r1.9, so you'll need to use master or the nightly.

[2018-07-13 22:35] MarkDaoust commented on #18929
Your problem was mostly just a question of setting the python path correctly.

See working example here:

https://colab.research.google.com/github/tensorflow/models/blob/master/samples/core/tutorials/estimators/linear.ipynb#scrollTo=-MPr95UccYvL

[2018-07-13 22:35] #18929 closed

[2018-07-13 22:41] ankitvgupta commented on #18394
Interesting, when I run locally, it prints the “requesting stop” message, runs eval/export but then train_and_evaluate just continues training. I assumed this is because of the “while True” in the run_local method.

To be clear, I’m using TF 1.9, and copied that early stopping hook code directly (since it’s not releasing until 1.10).

[2018-07-13 22:42] shashishekhar commented on #20192
Looks like this is due to Android API level, which causes this error. With recent versions of NDK these errors happen if one is compiling with NDK API level below < 21.

I can fix the error if I change tensorflow/.tf_configure.bazelrc to

build --action_env ANDROID_NDK_API_LEVEL=21

It also seems that NDK API level parsing logic is incorrect in configure.py:
https://github.com/tensorflow/tensorflo

[2018-07-13 22:45] aselle commented on #18195
No, it means that the conversion supports fixed sizes. You can resize inputs after you have converted. Of course, depending on your model, this may or may not work (this is true in tensorflow as well). You can often resize to accept different batch sizes, so if you make your input size 1,244,244,3 for an image input you can resize at runtime to 10,244,244,3 to allow a batch size fo 10.

[2018-07-13 22:45] aselle commented on #18195
Please let me know if using an explicit size fixed your problem. If so, please close the plug!

[2018-07-13 22:47] aselle commented on #18789
Not every possible shape optimization is currently supported. There is a tradeoff of binary size vs spot optimizations for particular sizes. What use case are you targeting? @bjacob, do you have any further comment?

[2018-07-13 22:49] aselle commented on #20427
@assasins353, I'm closing as @marshalhayes' response is pretty comprehensive. In short this is working as we expect.

[2018-07-13 22:51] aselle commented on #18894
@princekumar15 , did @myth01' suggestion solve your problem?

[2018-07-13 22:53] aselle commented on #19282
@angersson , could you please take a look. Thanks!

[2018-07-13 22:54] GKilianW commented on #20674
For the record, I am fine trying 1.5, if someone can provide me with the .whl or .tar.gz files for the for everything.

[2018-07-13 22:56] aselle commented on #19296
@superbobry, I believe this is expected behavior. We'd definitely appreciate a documentation improvement PR. The general story is that gfile can't and doesn't try to match semantics as it is an abstraction layer, so file systems vary on different platforms.

[2018-07-13 22:56] aselle commented on #19296
@martinwicke, is there anybody who can provide better insight on gfile?

[2018-07-13 23:00] aselle commented on #19641
I believe this is resolved here:
https://github.com/tensorflow/tensorflow/commit/85c518b8d306204cd7111f321a4b7b204fc554f4
This is not yet available in the main release, but is available on nightly builds and from master builds.

[2018-07-13 23:00] #19641 closed

[2018-07-13 23:06] aselle commented on #18807
Can you verify that listdiff_op.cc is being compiled and included in the binary? It looks like the op is being included but not the kernels to execute the op.

[2018-07-13 23:43] tatianashp commented on #20266
If you are running on an older processor that has no support for AVX instructions it might be the same issue as discussed #19584.

[2018-07-13 23:49] ajbouh commented on #18880
Brennan, there are many ways to detect failure that should be adequate to
improve the situation. These criteria are orthogonal to the rest of the
design. Let us assume for now that upon "failure" a worker cleanly shuts
down its TCP connections and rejects any future connection attempts.

I assume that any waiting receive will raise an error of some kind. It
might be enough to modifying the receive

[2018-07-13 23:54] ayush2991 commented on #20714
The tensorflow tutorials page has been evolving drastically of late. If this is what you were looking for, please close this issue.
https://www.tensorflow.org/versions/r1.0/tutorials/seq2seq
New tutorials page:
https://www.tensorflow.org/tutorials/
Thanks!

[2018-07-14 00:01] aselle commented on #19372
Please provide a reproducible test case. Also, there was recently some memory arena bugs fixed, so please try the latest version of TensorFlow lite (build from source rather than using the AAR).

[2018-07-14 00:04] aselle commented on #19940
The libisl error seems like some of hte dependencies have not been downloaded. You can probably work around this by disabling tf lite support for those custom ops (comment out custom_ops in BUILD, but I don't know why this would only be happening in mkl.

[2018-07-14 00:05] aselle commented on #19677
@alextp, do you have any insight into complex derivativres?

[2018-07-14 00:06] aselle commented on #20506
@mrry, could you please take a look? (Are you the right person)?

[2018-07-14 00:08] aselle commented on #19610
Please include the error message (see stderr or stdout). Also, you might try the nightly or master of Tensorflow lite (not 1.9), because some bugs have recently been repaired in AllocateTensors()

[2018-07-14 00:10] aselle commented on #19603
What size tensors are you feeding and what is the size of the intermediate tensors?

[2018-07-14 00:11] aselle commented on #19603
@reedwm, do you have any further insights?

[2018-07-14 00:13] aselle commented on #18539
I apologize, but your link to the source code is now broken. Could you fix it, and I will take a look.

[2018-07-14 00:15] aselle commented on #19078
@achowdhery, could you offer some help?

[2018-07-14 00:15] ayush2991 commented on #20714
Actually the tutorials page (https://www.tensorflow.org/tutorials/) does have a link to the NMT page (https://github.com/tensorflow/nmt) under the "Sequences" tab. You will notice that the tutorials page has also changed quite a bit - tutorials are now clubbed under collapsed sections on the left.

[2018-07-14 00:19] aselle commented on #19717
This is part of contrib so is officially unsupported (and I have no knowledge of it). That being said perhaps @JasperSnoek, can suggest some advice.

[2018-07-14 00:19] jonmelvin commented on #20266
Thanks.
Well, I went into Anaconda3 navigator and deleted the entire environment, created the environment again, and installed tensorflow-gpu, keras-gpu, etc etc only in Anaconda navigator (no "pip install …") and now it all works.  Finally.  Sorry to raise this issue!

[2018-07-14 00:19] #20266 closed

[2018-07-14 00:20] aselle commented on #19733
@alextp, could you ptal? Thanks!

[2018-07-14 00:20] aselle commented on #19740
@jdduke, could you ptal? Thanks!

[2018-07-14 00:21] aselle commented on #19756
@achowdhery , could you ptal? Thanks!

[2018-07-14 00:22] aselle commented on #20551
Reassigning to a PR reviewer.

[2018-07-14 00:22] achowdhery commented on #19078
Hi, are you able to share a frozen graph of the r-fcn model?
We may be able to use something similar to this:
https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193

[2018-07-14 00:30] achowdhery commented on #19756
Please try with the latest version:
https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193

[2018-07-14 00:31] achowdhery commented on #19414
The AndroidManifest.xml is where we configure Portrait or Landscape mode.

[2018-07-14 01:19] tensorflowbutler commented on #20781
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-14 02:56] gunan commented on #20674
Let me see, we may be lucky and it may just have the same dependencies.

[2018-07-14 02:58] zboldyga commented on #11956
Thanks for the helpful links to user-level solutions! I'll start implementing this later in July, and given my free time it will likely take me till around September to complete.

[2018-07-14 02:59] zboldyga commented on #19162
I'll take a closer look next Wednesday and see what I can do!

[2018-07-14 03:01] chabir commented on #20779
uninstall and reinstall dask worked for me...

[2018-07-14 03:52] samikama commented on #19619
@yegord, it looks like an issue with grapplers layout optimizer
[code]
We are returning that error

[2018-07-14 04:11] MaeThird commented on #20117
I have noticed that you just updated  an `export_tflite_ssd_graph.py` and I'm trying on it.Thanks for your work.

[2018-07-14 04:11] #20117 closed

[2018-07-14 04:14] DeepakSridhar commented on #19414
@achowdhery I was looking for object detection using front camera. I switched to front camera but the detected bounding boxes are incorrect? I think they are inverted with respect to the camera orientation. Could you suggest me where to edit the code to correct this problem? Thanks! The stack overflow question is here https://stackoverflow.com/q/51268196/9394171

[2018-07-14 06:05] freedomtan commented on #15633
@achowdhery I saw a TensorFlow blog [article](https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193) by you. Is this the instructions you mentioned or more are coming?

[2018-07-14 06:14] prsahuGloob commented on #20778
@case540 This didn't work for me. I tried this on Windows 7

[2018-07-14 06:19] aaroey commented on #20157
@qinyao-he the op type of conv2d_transpose ops is Conv2DBackpropInput, which is currently not supported in the [op list](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/tensorrt/convert/convert_nodes.cc#L2547) of the TF-TRT integration.

[2018-07-14 06:19] aaroey commented on #20157
@jjsjann123 to check if we would support that op in the future.

[2018-07-14 06:22] HoodKhizer commented on #19041
I have run into the exact same problem, after training the network with the estimator api I would like to add placeholder input notes to graph in order to deploy it on edge and I just don't seem to be able to find a way to do this.

[2018-07-14 06:34] lqw187927 commented on #19619
do not send this email for me.

At 2018-07-14 12:30:52, "Sami Kama" <notifications@github.com> wrote:

@yegord, please wait for #20794 and try

#!/usr/bin/env pythonimport argparse
import subprocess
import tensorflow as tf
import numpy as np
import six

from tensorflow.core.protobuf import config_pb2 as cpb2
from tensorflow.core.protobuf import rewriter_config_pb2 as rwpb2

from tensorflow.contrib

[2018-07-14 06:35] martinwicke commented on #20778
We should try to repro this. We'll have to, for any fix anyway. And we
should find out which platforms are affected.

[2018-07-14 06:44] tensorflowbutler commented on #20787
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-14 06:44] tensorflowbutler commented on #20788
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-14 06:44] tensorflowbutler commented on #20790
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-14 07:21] #18143 closed

[2018-07-14 07:21] #20769 closed

[2018-07-14 07:22] jock4319 opened #20796 "TypeError: 'EagerTensor' object cannot be interpreted as an integer"
Running automatic_differentiation.ipynb on Colab, and there's a error.

[code]

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-21-2c4ab5c7a8b8> in <module>()
     10
     11 assert f(3.0, 2).numpy() == 9.0   # f(x, 2) is essentially x * x
---> 12 assert g(3.0, 2).numpy() == 6.0

[2018-07-14 07:22] gunan commented on #20778
I just reproduced the problem on my windows laptop. I am really surprised, because all the python files are there!
I can manually run that exact line (which fails with a very similar issue) and it is found, but it is not found during `import tensorflow`. Also, it looks to be specific to keras.
@annarev is it possible we have another API generation problem?
@case540 did we do anything special for k

[2018-07-14 07:45] simonster commented on #16344
Fixed by #18854

[2018-07-14 07:45] #16344 closed

[2018-07-14 07:46] annarev commented on #20778
Hm we had a change a couple months ago that removed _impl directory. I don't see _impl directory under
https://github.com/tensorflow/tensorflow/tree/r1.9/tensorflow/python/keras
So, it is strange that an import fails on upgrade.
Could it be that some old file is there after upgrade?

[2018-07-14 07:53] glandon commented on #20790
Python 3.7.0 (default, Jun 29 2018, 20:13:13)
[Clang 9.1.0 (clang-902.0.39.2)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'tensor'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'tensorf'

[2018-07-14 07:57] annarev commented on #20778
Could it be an issue similar to https://github.com/pypa/pip/issues/5020?
We have --ignore-installed in documentation: https://www.tensorflow.org/install/install_windows
According to the thread at that link, if this argument was passed some time in the past it could cause files from old versions to stay in site-packages.

[2018-07-14 07:59] glandon opened #20797 "import tensorflow failed with python3.7 on Mac"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
1. Mac 10.13.6 Sierra
2. Python3.7 (brew install python3)
3. install tensorflow1.9.0

- **TensorFlow installed from (source or binary)**:
binary

- **TensorFlow version (use command below)**:
 pip3 install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.9.0-py3-none-any.whl

- **Python ve

[2018-07-14 08:10] jena43 commented on #20771
Done.

[2018-07-14 08:13] baregawi commented on #14244
Anyone want to point me to the code that compiles models? Just ran into the slowness myself. It seems worse on CUDA 9.

[2018-07-14 08:13] gunan commented on #20778
You are exactly right!
On my personal machine, even when I did "pip uninstall tensorflow" it did not fix things.
I had to go into my site-packages directory, and delete all "tensorflow" directory manually and then reinstall.
Then it just worked.

So, Id say this is a pip bug. the workaround is to purge all TF files your python distribution has. then reinstall TF.

[2018-07-14 08:20] glandon commented on #20797
duplicated

[2018-07-14 08:20] #20797 closed

[2018-07-14 08:35] MohammadMoradi opened #20798 "Can not convet .pb to .tflite format using tflite_convert"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.9
- **Python version**: 3.5
- **Bazel version (if compiling from source)**:
- **GCC/Co

[2018-07-14 09:42] inakaaay commented on #20798
I have the same problem. please update if you have other option

[2018-07-14 10:04] Red-Eyed commented on #20778
I've dealt with this problem (in conda env on Ubuntu 18.04):

[code]

[2018-07-14 11:10] transcendentsky commented on #19621
Emmm, the code is not right i think,
[code]
maybe the following is right
[code]

[2018-07-14 11:16] inakaaay commented on #19150
hello. im having different error but the same implementation of the code. i used:
`bazel run -c opt tensorflow/contrib/lite/toco:toco -- --savedmodel_directory=C:\Users\LENOVO-PC\DIZIZIT\saved_model -- output_file=C:\Users\LENOVO-PC\DIZIZIT\saved_model\maonani.tflite` since im using windows 10 and run it on cmd at `C:\Users\LENOVO-PC\tensorflow>` directory. my error is
`ERROR: C:/users/lenovo-pc/_

[2018-07-14 11:58] superbobry commented on #19296
@aselle just to be clear, the issue here is not the platform-specific differences (both HDFS and local FS behave consistently). The behaviour of GFile is different from Python (on all platforms, I assume).

[2018-07-14 12:09] timediv commented on #18795
@ppwwyyxx It's not working because you used contrib but because you set
`updates_collections=None`

Which may be negatively impacting performance.
I recommend reopening this issue.

[2018-07-14 12:17] phizaz opened #20801 "Is eager execution scoped in each tf.Graph context?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 18.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.9.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:
- **GCC/Compiler

[2018-07-14 12:19] inakaaay commented on #18309
hello, how did you solve this?

[2018-07-14 12:28] phizaz commented on #20801
It is actually more problematic than I originally thought. The inability for graphs to inherit the `tf.executing_eagerly()` property from the default graph making a widespread breaking of code inside non-default graphs.

I will now go back to the 1.8.0.

[2018-07-14 12:46] 2sn commented on #17022
I sill get

Collecting tensorflow
  Could not find a version that satisfies the requirement tensorflow (from versions: )
No matching distribution found for tensorflow

[2018-07-14 12:53] iitzco commented on #20098
Thanks for your replies! I will go then with the feedable approach based on @annarailton snippet.

[2018-07-14 14:44] martinwicke commented on #20778
Grrrr pip.

Can we either add a short (python?) snippet to our install docs that people
can run to upgrade safely?

Alternatively, could we (going forward) put the python files into a
versioned directory, and have "tensorflow" be a link in site-packages?
Would that work on Windows? Would it work in pip?

[2018-07-14 15:16] cl886699 opened #20802 "tensorflow.exp : error lnk2001 : unresolved symbol "public: class Eigen::TensorMap<>....""
windows build tensorflow-1.8  almost success,the finnal tensorflow.dll failed
anybody has ideas

[2018-07-14 15:37] bhack commented on #17950
@tanzhenyu Have you ran again the original @dhgrs code snippet https://github.com/tensorflow/tensorflow/issues/17950#issue-308024416 at the head of this issue? Is it solved now?
So that we can isolate if it is just an API problem on how to (default) handle BatchNorm finetuning on layers freeze with Keras/High Level API.

[2018-07-14 15:48] dchichkov opened #20803 "Initialize variable from TF Hub/MobilNet checkpoint fails for "expanded_conv_15/expand/weights" with Container localhost does not exist."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Google Collab
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.9_rc2
- **Python version**:  N/A
- **Bazel version (if compiling from source)**: N/A
-

[2018-07-14 16:16] The-Fonz commented on #20699
Thanks @guillaumekln for pointing that out, with the latest tf-nightly I can confirm that this problem is gone! I can happily train and evaluate forever now.

@robieta the input_fn was indeed called repeatedly for every train and evaluate cycle. With the new behavior, the input_fn is only called once for all train cycles, and repeatedly for the evaluate cycles.

Closing as this seems to be solved

[2018-07-14 16:16] #20699 closed

[2018-07-14 17:00] dchichkov commented on #20803
Ah, I see. It needs sess.run(tf.global_variables_initializer()). The following code seem to work:

[code]

Still, seem like a bug to me, as the:
 * requirement to run tf.global_variables_initializer is not documented
 * error message is very poor
 * no minimalistic sample code is available

[2018-07-14 18:08] yongtang commented on #20431
@hadaev8 I am not able to reproduce with v1.9.0. Can you share the full code snippet that trigger the error?

[2018-07-14 18:10] inakaaay opened #20804 "Error converting saved_model.pb to .tflite"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.9
- **Python version**: 3.5.1-32 bit
- **Bazel version (if compiling from source)**: 0.15.0
- **G

[2018-07-14 18:33] jrs-synth commented on #19354
@vincentlabonte sadly not for me,  I still get subsequent errors
e.g ...\range_coder.cc(375): error C2471: cannot update program database ....\tf_core_kernels.pdb

What build options did you use? thanks!

[2018-07-14 18:38] #15096 closed

[2018-07-14 18:38] #19612 closed

[2018-07-14 18:38] tensorflowbutler commented on #20796
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-14 18:38] tensorflowbutler commented on #2732
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-07-14 18:38] tensorflowbutler commented on #11831
Nagging Assignee @wolffg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:39] tensorflowbutler commented on #13222
Nagging Assignee @rmlarsen: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:39] tensorflowbutler commented on #13243
Nagging Assignee @allenlavoie: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:39] tensorflowbutler commented on #13351
Nagging Assignee @djvisentin: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:39] tensorflowbutler commented on #14572
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-14 18:39] tensorflowbutler commented on #15096
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-07-14 18:39] tensorflowbutler commented on #16532
Nagging Assignee @fchollet: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:39] tensorflowbutler commented on #16665
Nagging Assignee @bignamehyp: It has been 65 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:39] tensorflowbutler commented on #17037
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-14 18:39] tensorflowbutler commented on #17212
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-14 18:39] tensorflowbutler commented on #17436
Nagging Assignee @aselle: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:39] tensorflowbutler commented on #17564
Nagging Assignee @rmlarsen: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:39] tensorflowbutler commented on #17945
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:39] tensorflowbutler commented on #17949
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:40] tensorflowbutler commented on #18065
Nagging Assignee @shivaniag: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:40] tensorflowbutler commented on #18222
Nagging Assignees @yuefengz, @guptapriya: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:40] tensorflowbutler commented on #18316
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-14 18:40] tensorflowbutler commented on #18437
Nagging Assignee @andrehentz: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:40] tensorflowbutler commented on #18491
Nagging Assignee @rmlarsen: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:40] tensorflowbutler commented on #18769
Nagging Assignee @rohan100jain: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:40] tensorflowbutler commented on #18863
Nagging Assignee @rmlarsen: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:40] tensorflowbutler commented on #18899
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-14 18:40] tensorflowbutler commented on #18905
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-14 18:40] achowdhery commented on #15633
Yes. This is the instructions for training and serving the object detection model on Android.

[2018-07-14 18:40] tensorflowbutler commented on #18906
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:40] tensorflowbutler commented on #18917
Nagging Assignee @bignamehyp: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:41] tensorflowbutler commented on #19003
Nagging Assignee @av8ramit: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:41] tensorflowbutler commented on #19038
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-14 18:41] tensorflowbutler commented on #19127
Nagging Assignee @asimshankar: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:41] tensorflowbutler commented on #19198
Nagging Assignees @benoitsteiner, @rmlarsen: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:41] tensorflowbutler commented on #19262
Nagging Assignee @tatatodd: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:41] tensorflowbutler commented on #19272
Nagging Assignee @shivaniag: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:41] tensorflowbutler commented on #19352
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-14 18:41] tensorflowbutler commented on #19376
Nagging Assignee @tatatodd: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:41] tensorflowbutler commented on #19433
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:41] tensorflowbutler commented on #19564
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:41] tensorflowbutler commented on #19612
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-07-14 18:41] tensorflowbutler commented on #19623
Nagging Assignee @cy89: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:42] tensorflowbutler commented on #19670
Nagging Assignee @cy89: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:42] tensorflowbutler commented on #19693
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-07-14 18:42] tensorflowbutler commented on #19821
Nagging Assignee @bignamehyp: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:42] tensorflowbutler commented on #19853
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:42] tensorflowbutler commented on #19884
Nagging Assignee @tatianashp: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:42] tensorflowbutler commented on #19903
Nagging Assignee @ispirmustafa: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:42] tensorflowbutler commented on #19909
Nagging Assignee @MarkDaoust: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:42] tensorflowbutler commented on #19922
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:42] tensorflowbutler commented on #19969
Nagging Assignee @cy89: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:42] tensorflowbutler commented on #19991
Nagging Assignee @tatatodd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:42] tensorflowbutler commented on #20007
Nagging Assignee @tatatodd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:43] tensorflowbutler commented on #20040
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-14 18:43] tensorflowbutler commented on #20041
Nagging Assignee @rohan100jain: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:43] tensorflowbutler commented on #20362
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-07-14 18:43] tensorflowbutler commented on #20386
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-14 18:43] tensorflowbutler commented on #20396
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:43] tensorflowbutler commented on #20401
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-14 18:43] tensorflowbutler commented on #20404
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-14 18:43] tensorflowbutler commented on #20411
Nagging Assignee @tatianashp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:43] tensorflowbutler commented on #20425
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-14 18:57] surry commented on #14572
I believe this is still an issue since there's still an extra copy and memory allocations when reading data with `S3RandomAccessFile::Read()`:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/s3/s3_file_system.cc#L191

Maybe @yongtang can confirm?

[2018-07-14 19:08] bjacob commented on #18789
The 1x1 kernel case of Conv is the case that is, literally, a matrix multiplication.  (Other cases can be reduced to matrix-multiplication with some work, but that 1x1 case does not even require any such reduction work, it is literaly a mat-mul).

TensorFlow Lite uses specialist libraries to provide the matrix multiplication implementation:
 - in floating-point inference, the Eigen library is used

[2018-07-14 19:09] ibrcic commented on #17386
.whl file fixed it for me.

@Curious-Nikhil just run it using pip install <path-to-file/filename>

[2018-07-14 19:31] AdrianXIA commented on #20769
Thank you!

[2018-07-14 19:32] nairouz opened #20805 "Eager execution and custom layer"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Google Colaboratory
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**: 1.9.0-rc2
- **Python version**:  version 3.6
- **Bazel version (

[2018-07-14 20:10] kenfehling commented on #9868
tensorflow.keras.Model doesn't allow run_metadata correct?

[2018-07-14 21:03] yupbank opened #20806 "tf.estimator.export_savedmodel is not exporting properly"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:
- **Python version**:
- **Bazel version (if compiling from source)**:
- **GCC/Compiler version (if compiling from

[2018-07-14 21:35] VanitarNordic commented on #20787
if you use Anaconda, you can use  `conda install -c hesi_m tensorflow ` to install tensorflow 1.9.0 for CPU

if you specifically use Keras also, you can use  `conda install -c hesi_m keras` which installs Keras 2.2.0 in accompany with everything including tensorflow 1.9.0

It is better to make a fresh anaconda package for your experiments

[2018-07-14 21:36] VanitarNordic commented on #20790
if you use Anaconda, you can use  `conda install -c hesi_m tensorflow ` to install tensorflow 1.9.0 for CPU

if you specifically use Keras also, you can use  `conda install -c hesi_m keras` which installs Keras 2.2.0 in accompany with everything including tensorflow 1.9.0

It is better to make a fresh anaconda package for your experiments

[2018-07-14 21:40] VanitarNordic commented on #20775
if you use Anaconda, you can use  `conda install -c hesi_m tensorflow ` to install tensorflow 1.9.0 for CPU

if you specifically use Keras also, you can use  `conda install -c hesi_m keras` which installs Keras 2.2.0 in accompany with everything including tensorflow 1.9.0

It is better to make a fresh anaconda environment for your experiments

[2018-07-14 23:56] bhack commented on #19903
/cc @tanzhenyu @martinwicke  for https://github.com/tensorflow/tensorflow/issues/17950#issuecomment-404707663

[2018-07-14 23:59] yongtang commented on #20776
Added a PR #20807 for the fix in boston.py.

[2018-07-15 00:58] tensorflowbutler commented on #20802
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-15 03:02] sadatnfs opened #20811 "MKL_DNN License File missing"
Hello,

It seems like since commit #20576 (specific PR : [here](https://github.com/tensorflow/tensorflow/commit/03ab64c3a68f3b990bf690ede06e3066ad4e35a0#diff-2f07a0589130c83666437024dd03d252)), building TF with MKL option forces the configure step to look for a LICENSE file inside the `third_party/mkl_dnn` folder, which actually doesn't exist.

Currently, I'm using this hack in my Docker for the b

[2018-07-15 04:53] alanpurple commented on #18906
this issue can be closed, it's working with cuda 9.2 and cudnn 7.1 already

[2018-07-15 06:35] gunan commented on #20778
Having links on windows, I am not so sure.

How about this, without using a symlink?
`tensorflow/__init__.py` includes only a line that says `from
tensorflow.v1.10.0 import *`

Then all our versions go to `tensorflow/v1.10.0` (or another version).
One downside is with similar pip issues, we will accumulate a ton of files
on users disks, potentially GBs of stale files.

On Sat, Jul 14, 2018 at 7:46

[2018-07-15 07:22] g-hrafiq opened #20812 "Upgrade canned estimators for TensorFlow 2.0 (support for tf.optimizers)."
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.8
- **Python version**:  3.5.4
- **Bazel version (if compiling f

[2018-07-15 08:51] ebubekirtabak opened #20813 "cannot find package "github.com/tensorflow/tensorflow/tensorflow/go""
Hi,
## System Information

#### os version: OS X 10.13.6

#### python version: Python 2.7.15

go get -d github.com/tensorflow/tensorflow/tree/master/tensorflow/go
[code]

[2018-07-15 08:58] TonyTangYu opened #20814 "No module named 'datasets'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary by pip
- **TensorFlow version (use command below)**:1.2.0
- **Python version**:3.6
- **Bazel version (if compiling from source)**:1.1

[2018-07-15 09:15] #20813 closed

[2018-07-15 09:16] ebubekirtabak opened #20815 "java.lang.RuntimeException: Unrecoverable error while evaluating node '@local_config_cc//:cc-compiler-darwin_x86_64'"
## System Information

**OS VERSION:** OS X 0.13.6
**Bazel Verion:** release 0.15.0-homebrew
**CPU:** Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
**GPU:**   Radeon Pro 555 Ram: 2048 MB
**tensorflow version:** 1.9.0
**CUDA/cuDNN version:** n/a
**Python version:** Python 2.7.15

#### Commands

```go get -d github.com/tensorflow/tensorflow/tensorflow/go ```

[code]

Starting local Bazel server and conn

[2018-07-15 10:29] phizaz opened #20816 "Feature request: tfe.Variblae should support Python's float casting"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.8.0 and 19.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:
-

[2018-07-15 10:45] joel-shor commented on #20431
I'm closing this out as not reproducible unless someone objects.

[2018-07-15 10:45] #20431 closed

[2018-07-15 11:27] iron9light opened #20817 "Java SavedModelBundle.load do not support long path in windows"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10 64bit.
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**: 1.8.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:
- **GCC/C

[2018-07-15 12:13] hadaev8 commented on #20431
https://pastebin.com/czeQ3UUv
Here is my code, checked on colab tensorflow 1.9.0 rc2 just now

[2018-07-15 12:18] DSRYhh commented on #10816
I think [this link](https://stackoverflow.com/a/43670684/5634636) might be helpful.

[2018-07-15 12:32] tensorflowbutler commented on #20811
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-15 12:45] LeoFH commented on #20778
Got the same issue
Win 10 + CUDA 9.2  + Anaconda 1.8.7
Upgrated from Tensorflow 1.8 to Tensorflow 1.9
Uninstalling/reinstalling doesn't work.

Even complete remove Tensorflow GPU witn only CPU version left doesn't help.
Seems it is not just GPU ver. but the core tensorflow/keras api problem.
What ver of keras should be installed with this release?

Now i'm thinking of complete remove an Anaconda t

[2018-07-15 13:04] janstrelka commented on #20215
@asimshankar : Understand. Thank you.

[2018-07-15 13:42] bhack commented on #19903
See also https://github.com/keras-team/keras/pull/9965#issuecomment-398183440 /cc @ppwwyyxx

Check also reviews/comments in https://openreview.net/forum?id=Hk6dkJQFx

[2018-07-15 13:52] Red-Eyed commented on #20778
I don't think that running something under udmin could be a solution. Did you try to remove tensorflow from filesystem manually (I mean w/o using pip just all folders in anaconda/env)?

[2018-07-15 14:51] LeoFH commented on #20778
Running under Admin is important cause Anaconde itself does't allow (at least in my case)
the change of the environement with simple user rights

Anaconda prompt under user also is not allowed to make changes in some folders.

Also sometimes people have several different environements (as me,  for example) so, searching every folder for manually deleting becomes a problem itself.

My way is totall

[2018-07-15 15:19] robieta commented on #20784
I would say this is expected behavior. One of the key features of estimator is that it performs graph and session management for you. So what you've done is you've created a tensor in the default graph (implicitly when you create self.dataset). However model_fn is called within estimator, using the estimator's graph. So you're trying to create a tensor in one graph that depends on another graph wh

[2018-07-15 15:19] #20784 closed

[2018-07-15 15:40] lamberta commented on #20714
Aayush is correct, we've updated the tutorials page and are cleaning up some old examples.
That NMT tutorial is linked under 'Sequences' (there's another [NMT w/ attention](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/eager/python/examples/nmt_with_attention/nmt_with_attention.ipynb) using eager listed under 'Research and experimentation').

I added a redirect for '/tuto

[2018-07-15 15:40] #20714 closed

[2018-07-15 16:42] sadatnfs commented on #20811
Added the info to my main post, thanks!

[2018-07-15 17:21] VincentOkala commented on #20252
I just change the TensorBoard import statement from:

to:

And everything goes without any error

[2018-07-15 17:21] jperl commented on #13895
@ispirmustafa I just upgraded our project to TF 1.9 and the InMemoryEvaluatorHook. It works fantastically :ok_hand: and has spec up the training eval loop significantly.

There is just one minor bug that I made a PR for https://github.com/tensorflow/tensorflow/pull/20818. I will work on adding a unit test later today.

[2018-07-15 18:34] tensorflowbutler commented on #20815
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-15 18:34] tensorflowbutler commented on #2625
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-07-15 18:34] tensorflowbutler commented on #3628
Nagging Assignees @petewarden, @suharshs: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-15 18:34] tensorflowbutler commented on #7162
Nagging Assignees @petewarden, @suharshs: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-15 18:34] tensorflowbutler commented on #8773
Nagging Assignee @asimshankar: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-15 18:34] tensorflowbutler commented on #16611
Nagging Assignee @ispirmustafa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-15 18:34] tensorflowbutler commented on #17747
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-15 18:34] tensorflowbutler commented on #17956
Nagging Assignee @petewarden: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-15 18:34] tensorflowbutler commented on #18839
Nagging Assignee @zheng-xq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-15 18:35] tensorflowbutler commented on #19046
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-15 18:35] tensorflowbutler commented on #19071
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-15 18:35] tensorflowbutler commented on #19155
Nagging Assignee @zheng-xq: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-15 18:35] tensorflowbutler commented on #19397
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-15 18:35] tensorflowbutler commented on #20026
Nagging Assignee @purpledog: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-15 18:35] tensorflowbutler commented on #20032
Nagging Assignee @cy89: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-15 18:35] tensorflowbutler commented on #20049
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-07-15 18:58] Walt3r1 commented on #5949
I have similar problem.  I have a previous version of python 2.7 so I downloaded 3.5.4 Next I installed tensorflow  using **pip3 install --upgrade tensorflow** The message:<br>
Installing collected packages: setuptools, numpy, six, markdown, wheel, protobuf, werkzeug, tensorboard, grpcio, gast, astor, absl-py, termcolor, tensorflow
Successfully installed absl-py-0.2.2 astor-0.7.1 gast-0.2.0 grpcio

[2018-07-15 18:59] ticlazau commented on #13048
Hello,

I have the same problem on TensorFlow 1.8 running word2vec_optimized.py on a system with Volta GPUs.

Rgds,
FM

[2018-07-15 19:11] amadupu commented on #2353
try to upgrade tensorflow and ensure tensboard and tensorflow are running same versions...i see these inconsitent problems if both are of different versions..

[2018-07-15 19:17] srvasude commented on #20587
Hi!
  As mentioned, note that the log_prob() > 0 for small alphas. Take for example a beta distribution. When the concentration parameters are small, the mass is very much concentrated around zero and 1, and unlikely in the middle. This causes the pdf function to be very large at small and large values, causing the log_pdf to be > 0.

Note that in the implementation above, the normalizing constant

[2018-07-15 19:20] robinekenheim commented on #17101
There is a
`cudart64_92.dll` file in C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.2\bin
But when trying to load TensorFlow the error is that TF is trying to make use of
'cudart64_90.dll'
Tried renaming the file but then I get other errors 😭

[2018-07-15 19:41] srvasude commented on #20208
Hi,
  This is documented incorrectly. The quantile function can exist but would require some implementation of something like this: http://reference.wolfram.com/language/ref/InverseGammaRegularized.html.

The issue here is that all these public methods exist on distributions (which call private methods), and hence docstrings always exist (even though the private methods might not be implemented).

[2018-07-15 19:49] ElderOrb opened #20819 "Tensorflow 1.9: android build of 'libtensorflow_cc.so' fails using android-ndk-r14b & android-ndk-r12b"
I'm trying to build tensorflow 1.9 for android but build always fails due to different reasons...

For android-ndk-r14b I've tried the following:

**bazel --output_user_root=/mnt/d/ai/.madman/bazel build -c opt //tensorflow:libtensorflow_cc.so --crosstool_top=//external:android/crosstool --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --cpu=armeabi-v7a --cxxopt="-std=c++11" --cxxopt="-DTENS

[2018-07-15 19:54] ElderOrb commented on #20819
Forgot to add, android:libtensorflow_inference.so builds *relatively* fine with both, android-ndk-r14b and android-ndk-r12b (after adding --jobs 1)

[2018-07-15 19:59] ElderOrb commented on #20819
Also just in case here are my WORKSPACE configs:

... for ndk14:

# Uncomment and update the paths in these entries to build the Android demo.
android_sdk_repository(
    name = "androidsdk",
    api_level = 23,
    build_tools_version = "27.0.3",
    # Replace with path to Android SDK on your system
    path = "/mnt/g/AndroidSdkLinux",
)

android_ndk_repository(
    name="androidndk",
#    path="

[2018-07-15 20:41] mrry commented on #20068
Reassigning this to @saeta since he has vastly more experience with GCS than I do (and he may have a better suggestion for how to achieve this using other GCP services).

[2018-07-15 20:48] mrry commented on #20669
Can you share the full log from running `MSBuild /p:Configuration=Release tf_python_build_pip_package.vcxproj`?

[2018-07-15 20:54] fifothekid commented on #20669
Here you go
[log1.txt](https://github.com/tensorflow/tensorflow/files/2196102/log1.txt)

[2018-07-15 20:55] owenyoung75 commented on #110
**I have some similar problem here, in step2 for TF specifically.
My cluster on campus uses module with Redhat which is glibc 2.12.
I successfully installed bazel 0.15.0. But when I tried to move forward to bazel build TF, I got the following log:**

/home2/my_name/.cache/bazel/_bazel_my_name/b9c3b9594c932d1e804df44467c1c0d2/external/boringssl/BUILD:115:1: C++ compilation of rule '@boringssl//:cry

[2018-07-15 21:09] mrry commented on #20669
From the log, it appears that something is failing during the build of `estimator_python_api.vcxproj`. Assigning to @case540, since he added that project in 501cf726cbee2ee13efef43884a6552ca211979d, and I'm not familiar with its mechanics. Mike: from this traceback, it looks like the API code generator is attempting to `from tensorflow.python import pywrap_tensorflow` *before* `pywrap_tensorflow.p

[2018-07-15 22:02] mrry commented on #20688
Reassigning this to @meteorcloudy, who knows what's going on in the Windows Bazel build.

[2018-07-15 22:11] nairouz commented on #20805
Even the simplistic custom layer from the Keras documentation gives the same error:

`class MyLayer(Layer):

    def __init__(self, output_dim, **kwargs):
        self.output_dim = output_dim
        super(MyLayer, self).__init__(**kwargs)

    def build(self, input_shape):
        # Create a trainable weight variable for this layer.
        self.kernel = self.add_weight(name='kernel',

[2018-07-15 22:14] nairouz commented on #20805
When I tried to check the output of my custom layer, I was surprised to find that this layer is generating two outputs. The first one is ambiguous and undesired.

### Code
`input1 = Input(shape=(10,), name="input")
layer = ClusteringLayer(output_dim = 5, name='clustering')
out = layer(input1)
print(out)`

### Output
`[<DeferredTensor 'None' shape=(?,) dtype=float32>, <DeferredTensor 'None' shape=(

[2018-07-15 22:47] ModarTensai commented on #216
I am using this until an official implementation comes around (inspired by @talhasaruhan):
[code]
This code would still work even if both A_batch and B_batch had multiple axes or none at all. The only caveat here is when B_Batch is not empty; the shape of the output tensor would be `(A_Batch, M, B_Batch, N)`, which requires calling `tf.transpose()` that [copies the full tensor](https://www.tensorf

[2018-07-15 23:01] yongtang commented on #20702
I remember tf.contrib is always subject to change. Though would like to be confirmed by API review before working on updating the API.

[2018-07-15 23:19] nairouz commented on #20805
There is another undesirable behavior in the case of the static graph for the newest version 1.9.
I was compelled to use the attribute "value" for the "input_shape" argument otherwise it would produce an error.

### Code: without using the "value" attribute

    class ClusteringLayer(Layer):
        def __init__(self, output_dim, input_dim=None, alpha=1.0, **kwargs):
            self.output_dim =

[2018-07-16 00:06] mrry commented on #20336
Here's the error:

[code]

It looks like there is a mismatch between the installed version of the `protobuf` package for your Python environment and the version used for generating code in the TensorFlow build. Try upgrading to protobuf 3.6.0 using `pip install -U protobuf==3.6.0` and then rebuilding.

[2018-07-16 00:08] mrry commented on #5680
You can use the `input_map` argument in `tf.import_graph_def()` to rebind the input tensor to a `tf.placeholder()` created in the target graph.

[2018-07-16 00:44] Ceveloper commented on #20368
Useful links! I compiled the op independently with bazel and it worked, I can use it in python. As far as I know I can't use it in c++. But how to add dependencies to other libraries in the bazel build file? I would like to use some Eigen functions in the op.

[2018-07-16 01:14] pavithrasv commented on #20452
@sleighsoft I could not reproduce the issue. With the code snippet that you have shared here is the output I got:
[code]
Are you still seeing the issue?

[2018-07-16 01:19] megagosha opened #20823 "Grappler warning and segfault"
### System information
- **Have I written custom code**: I used this TensorFlow [patch](https://gist.github.com/Willian-Zhang/a3bd10da2d8b343875f3862b2a62eb3b).
- **OS Platform and Distribution**: macOS 10.13.6 and 10.13.5 before
- **TensorFlow installed from**: Source
- **TensorFlow version**: ('v1.8.0-0-g93bc2e2072', '1.8.0')
- **Python**: 2.7
- **Bazel version**: 0.13.1
- **GCC/Compiler**: from

[2018-07-16 02:00] ngupta05 commented on #12813
Hi scucheri,
Did you find an answer to this question?

Best

[2018-07-16 02:27] longchr123 opened #20824 "TF Lite ---- Not a variable: Tensor("w1:0", shape=(1, 128, 128, 3), dtype=float32)"
**Environment:**
tensorflow 1.8,ubuntu16.0.4,cuda9.0,cudnn:7.0.5

**Test Demo:**

def save_to_pb(sess):
    constant_graph = graph_util.convert_variables_to_constants(sess, sess.graph_def, ['out'])
    with tf.gfile.FastGFile(MODEL_DIR + 'expert-graph.pb', mode='wb') as f:
        f.write(constant_graph.SerializeToString())

train_model():
    img = tf.placeholder(name="img", dtype=tf.float32, sha

[2018-07-16 02:33] WenguoLi commented on #20515
@achowdhery , Thanks!

[2018-07-16 02:37] longchr123 commented on #20824
Does anyone know about this problem?

[2018-07-16 02:45] jock4319 commented on #20796
Have I written custom code: NO
OS Platform and Distribution: Colab
TensorFlow installed from: Colab
TensorFlow version: Colab
Bazel version: Colab
CUDA/cuDNN version: Colab
GPU model and memory: Colab
Exact command to reproduce: just run the sample code

[2018-07-16 02:59] aaroey commented on #20157
@qinyao-he yes that's what I meant. But, you kept mentioning ConvTranspose2D, which nodes have that type? It seems I cannot find any in the graph.

[2018-07-16 03:03] craigtao commented on #20775
my project just need tf1.2 ， its enough,

[2018-07-16 03:05] johntiger1 commented on #15604
@Jackiexiao Yea, that's what I was going to say. I'm using a workstation, so for me all I needed to do was use CUDA 9.0 instead of 9.2

[2018-07-16 03:10] longchr123 opened #20825 "TFLite --- TypeError: names_to_saveables must be a dict mapping string names to Tensors/Variables. Not a variable: Tensor("MobilenetV1/Conv2d_0/BatchNorm/beta:0", shape=(32,), dtype=float32)"
we can get mobilenet tflite&pb(Mobilenet_1.0_224) from https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/models.md

when I use the command:
bazel-bin/tensorflow/python/tools/freeze_graph --input_graph=/path/to/mobilenet_v1_1.0_224_frozen.pb --input_checkpoint=/path/to/mobilenet_v1_1.0_224.ckpt --output_graph=/path/to/freezed_mobilenet.pb --output_node_names=Mobilen

[2018-07-16 03:16] Cancerce1l commented on #14048
@chintler I have the exact same problem as yours, have you solved it yet?

[2018-07-16 03:18] cgarciae commented on #16875
+1

[2018-07-16 03:29] Lexicographical opened #20826 "TOCO (TensorFlow 1.9.0) -- 'TocoConverter' has no attribute 'from_keras_model_file'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04 on Windows 10 VirtualBox
- **TensorFlow installed from (source or binary)**: binary (pip)
- **TensorFlow version (use command below)**: [Git] 'v1.9.0-0-g25c197e023'; [Version] '1.9.0'
- **Python v

[2018-07-16 04:07] gunan commented on #16875
I think it may be time to reevaluate. Our builds have to use ubuntu 14 anyway, and nvidia does not provide such dockerfiles. We will need to split our docker images and CI setup anyway.

[2018-07-16 04:21] weberxie commented on #20740
@azaks2 yes, but by default, you cannot choose a separate thread pool when load new model.

[2018-07-16 04:40] jasonachonu commented on #20779
Thank you Xavier Capdepon, I did as you recommended and it worked.

Regards.

On Fri, Jul 13, 2018 at 11:04 PM, Xavier Capdepon <notifications@github.com>
wrote:

[2018-07-16 05:09] fifothekid commented on #20669
[tensorflow.zip](https://github.com/tensorflow/tensorflow/files/2196581/tensorflow.zip)
here is the full log if anybody is interested

[2018-07-16 05:10] skeydan opened #20827 "Keras guide: input_shape needed when fitting example model using datasets (instead of numpy arrays)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux fedora 28
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.9
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: N/A
- **GC

[2018-07-16 05:21] sedhha commented on #20767
Okay, I got the solution... Instead of directly using
path='path_to_pb_file'
use
path=r'path_to_pb_file'
that pretty much solved the issue easily.

[2018-07-16 05:21] #20767 closed

[2018-07-16 05:51] zjfheart commented on #20677
Hi @wdirons
Thanks for response.

I cherry-picked the fix by:
git clone https://github.com/tensorflow/tensorflow
cd tensorflow
git remote add wdirons https://github.com/wdirons/tensorflow
git fetch wdirons
git cherry-pick --no-commit 8a5c6c4c305905a206065b0f5fa9a86c03876428
(without "--no-commit", there will be "cherry-pick error: Your local changes would be overwritten by cherry-pick." )

Then I

[2018-07-16 05:52] issac8huxley commented on #18342
Hi, @WenguoLi
Do you success training a quantized model? I followed your method, but suffer a same problem.

[2018-07-16 06:15] meteorcloudy commented on #20688
@kurita236 Looks like you didn't run `./configure`? Can you run `./configure` and retry the build?

[2018-07-16 06:49] AdrianXIA commented on #20769
Hello,
How can I test it?Can I use this version 1.9.0-rc2?
Thank youAdrian    On Saturday, July 14, 2018, 12:28:05 AM GMT+3, Asim Shankar <notifications@github.com> wrote:

Oh, I see.

Session.runner().setOptions() is supposed to be provided with a RunOptions protocol buffer (see javadoc), not a ConfigProto message.

The ConfigProto message needs to be provided when creating the Session object and

[2018-07-16 06:56] freedomtan commented on #20825
@longchr123 why are you trying to freeze a frozen_graph?
[code]
If what you want to do is to generate a new frozen graph from the mobilenet tflite&pb
 (Mobilenet_1.0_224) file, try
[code]
instead.

[2018-07-16 07:12] ShowTsai opened #20828 "Could not find com.androidx.test.espresso:espresso-core:2.2.2"
When I tried to build the project, I got this:
Error:A problem occurred configuring project ':app'.

     Required by:
         project :app

[2018-07-16 07:21] chanchanzhang commented on #15633
@freedomtan Thanks for sharing the script.
In your [latest script with postprocessing](https://github.com/freedomtan/tensorflow/blob/freedom/object_detection_tflite_object_dtection_python_w_postprocessing/tensorflow/contrib/lite/examples/python/object_detection.py) which model file are you using?
Did you specifiy argument of optimize_for_inference.py like
--input_names="Preprocessor/sub"
--output_

[2018-07-16 07:23] amadupu opened #20829 "feeding back curr state to next state causing dynamic_rnn to crash if batch size is varying"
Im feeding data to the graph with tf.train.batch (dynamic_pad=True,allow_smaller_final_batch=True).
also im feeding in the final state returned by tf.train.dynamic_rnn as the next state during the training process. (initial state configured to zeros)

it was working fine, however when end of epoch is reached, due to allow_smaller_final_batch=True above, it is trying to fetch smaller batch sizes. t

[2018-07-16 07:35] dimitryn opened #20830 "Performance Tensorflow Lite with NDK 17"
Hi , After moving to NDK 17 , our internal timers showing ~30-40% degradation in Tensorflow Lite  performace .

Any suggestion why clang will create such difference?

Thanks.

[2018-07-16 07:46] jaiken06 commented on #17022
I am getting the same ^

[2018-07-16 07:56] unrealwill commented on #19155
@tensorflowbutler Damn humans are so lazy, you need to nagg harder :) otherwise they will never give you rights. You can start by CC'ing their bosses, or take money from them. That usually do the trick.

[2018-07-16 07:56] #19155 closed

[2018-07-16 08:01] fanshiqing opened #20831 "[Feature request] Allow `tf.estimator.train_and_evaluate` to support chief and evaluator working with different `model_dir`"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Cent OS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4
- **Python version**: 2.7.5
- **Bazel version (if compiling from source)**: NA
- **GCC/Com

[2018-07-16 08:08] longchr123 commented on #20825
@freedomtan what you said is right, I have tested,but when I write a test code(#20824 ), convert pb to pbtxt, the problem also happend, when execute the command
`bazel-bin/tensorflow/python/tools/freeze_graph` --input_graph=/path/to/mobilenet_v1_1.0_224_eval.pbtxt --input_checkpoint=/path/to/mobilenet_v1_1.0_224.ckpt --output_graph=/path/to/freezed_mobilenet.pb --output_node_names=MobilenetV1/Pred

[2018-07-16 08:10] wangsiyu commented on #20831
The train_and_evaluate interface does not seems to be flexible. Sometimes the configuration of training and evaluation must be different. Currently we construct two different estimators to do these. Does this interface will be changed to support more complex situations ? @xiejw @ispirmustafa

[2018-07-16 08:10] inakaaay opened #20832 "'tflite_convert' is not recognized as an internal or external command"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: none
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: windows 10
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.9
- **Python version**:  3.5.1-32 bit
- **Bazel version (if compiling from source)**: 0.15.0

[2018-07-16 08:33] flankechen commented on #18195
explicit size do fix this problem, I am encountering some operators not supported problem like:
` Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If you have a custom implementation for them you can disable this error with --allow_custom_ops, or by setting allow_custom_ops=True when calling tf.contrib.lite.toco_convert(). Here is a list of operators fo

[2018-07-16 08:33] #18195 closed

[2018-07-16 09:18] zakizhou commented on #20666
I find that this problem exists even in undirectional cpu version rnn. Please fix it as soon as possible
[code]

[2018-07-16 09:19] dcmrlee opened #20833 "Coordinator stopped with threads still running"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:  Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (u

[2018-07-16 09:19] jaiken06 commented on #17022
I changed my python interpreter to Python 3.6 64 bit rather than 3.7 and it now works, no longer getting import errors or:

[code]

[2018-07-16 09:39] meyerjo commented on #13463
Having the same problem, with large dataset files.  It often happens after multiple successful training runs.

I can fix it by copying the same file (according to diff, hash, size) back from my backup server.

[2018-07-16 09:58] s5plus1 commented on #17227
@frap129

Same here.

I'm trying to freeze graph from saved model and get the same error after setting PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION.

Windows 10
Python 3.5.4
TensorFlow 1.5

[2018-07-16 09:59] Jetcodery commented on #14713
I have the same problem with you@Xyza1972 , when using "tf.train.init_from_checkpoint"  I found that the ckpt file has two types ,if the ckpt file is only one file like xxx.ckpt ,it can work well . But when the ckpt split to three files like "model.ckpt-xxx.data、model.ckpt-xxx.index、model.ckpt-xxx.meta", the problem would appear, for detail , it will restore the ckpt weights over and over again wh

[2018-07-16 10:01] muye5 opened #20834 "SyncReplicasOptimizer + MonitoredTrainingSession go through network many times with one session.run"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.9
- **Python version**: 2.7
- **Bazel version (if compiling from source)**:
- **GCC/Compiler ve

[2018-07-16 10:03] Robomate commented on #20356
I think this happens because I declare the model just once, even when I start the next training.

Anyway just FYI, and I will close it now.

[2018-07-16 10:03] #20356 closed

[2018-07-16 10:12] ujjwalrathod007 commented on #3369
@concretevitamin  sudo python helps!!

I had an error

Python 2.7.15 |Anaconda, Inc.| (default, May  1 2018, 23:32:55)
[GCC 7.2.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ujjval/anaconda2/lib/python2.7/site-packages/tensorflow/__init__.py", line 22, in <module>
    from

[2018-07-16 10:15] liuleigit opened #20835 "Get corrupted records file's name"
### System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Fedora Red Hat Enterprise Linux Server release 7.5 (Maipo)
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): 1.3.0
Python version: 2.7
Bazel version (if compiling from sou

[2018-07-16 10:27] afeyzadogan opened #20836 "tensorflow binary was not compile to use AVX2"
I have a problem. What should I do?

![adsiz](https://user-images.githubusercontent.com/41289364/42754121-ede8db66-88fb-11e8-8ece-d31cee69f63b.png

[2018-07-16 10:42] natalieharris commented on #11831
The TensorFlow checkpoints link leads to a 404- https://www.tensorflow.org/get_started/checkpoints#checkpointing_frequency

A redirect, rather than removing, would be nice. I still can't find any doc on how to use the RunConfig with an Estimator.

[2018-07-16 10:44] Shanoobmk commented on #20729
yes i have written custom code on Multiboxtracker.java class.
N/A
N/A
N/A
Sir i am using tenserflow Lite on android mobile phone , i am using tenserflow Lite demo app downloaded from  github (tensorflow/tensorflow/examples/android/). my issue is in this app.

[2018-07-16 10:54] dimitryn commented on #20192
thanks

[2018-07-16 10:54] #20192 closed

[2018-07-16 11:00] yaroslavvb commented on #17246
The change improves single threaded copy, but it's still much faster to fetch a+0 instead of a, because the former does multi-threaded

[2018-07-16 11:04] stbnps commented on #9489
In my case it was not a memory error, I fixed it by removing the cache folder `~/.nv/`

[2018-07-16 11:53] sxqqslf opened #20837 "Does the order of Java api runner.feed(#1).feed(#2).feed(#3)... matters?"
Hi, guys, I have a quesion about the Tensorflow Java api.
When I feed the data to the model, the feed order matters ?
For example, runner.feed(#1).feed(#2).feed(#3)... is equal to runner.feed(#2).feed(#1).feed(#3) ?
Besides, recently, I run some response generation work from github(https://github.com/tuxchow/ecm), which use the old seq2seq code (implement with buckets), and i use the python to tra

[2018-07-16 12:23] kmcnaught commented on #15465
@tvercaut I haven't thought through your math/indexing but I've empirically tested your gradient against @dpfau's suggestion, which uses existing differentiable tf ops but only works for symmetric matrices (so we can test your method for symmetric matrices).

The gradients seem to agree with your gist tests (modulo the note below). See my gist, based on yours:
https://gist.github.com/kmcnaught/e49

[2018-07-16 12:27] RuslanIsrafilov opened #20838 "[Feature request] Extending set of canned estimators"
The `tensorflow.contrib.learn` module was deprecated and some estimators were moved to `tensorflow.estimator`. There are the algorithms (SVM, k-means, Random Forest) which were not covered by the new estimators API.

I'm wondering is there a chance that remaining estimators from deprecated `contrib.learn` module will be moved to `tensorflow.estimator`? Any plans to extend the current set of estima

[2018-07-16 12:36] tensorflowbutler commented on #20823
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
OS Platform and Distribution
CUDA/cuDNN version

[2018-07-16 12:50] achraf-boussaada commented on #20176
@achowdhery i trained the same model with these checkpoints :

`ssd_mobilenet_v1_coco_2017_11_17`

`ssdlite_mobilenet_v2_coco_2018_05_09`

I downloaded both of them from [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md) `ssd_mobilenet_v1_coco `and `ssdlite_mobilenet_v2_coco`

but the `ssd_mobilenet_v1` is now updated, when you download

[2018-07-16 13:03] chengchingwen opened #20839 "[feature request] differentiate through eager_py_func"
According to the [`tf.contrib.eager.py_func`](https://www.tensorflow.org/api_docs/python/tf/contrib/eager/py_func) api doc,

so I open an issue here.

[2018-07-16 13:07] ilidar commented on #19909
@spivakoa Try this modified code from tensorflow examples:
[code]

[2018-07-16 13:48] wdirons commented on #20677
@zjfheart  - Glad to see you made it past the boringssl errors. This failure building the google cloud platform looks like it was resolved with this commit: https://github.com/tensorflow/tensorflow/commit/82d122cd1efc905070ed86ed55951b7437209523

Can you verify that file change is in your environment ?

[2018-07-16 13:51] #20514 closed

[2018-07-16 13:58] Sirplentifus commented on #20827
I have this exact same issue.
Everything skye has said, occurs in my system.

Strangely (for me at least) compiling and running model.fit again after this error works:
[code]

[2018-07-16 14:06] ShapingView opened #20841 "toco tensorflow lite conversion fails with ParseFromStringEitherTextOrBinary(input_file_contents, tf_graph.get())"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: v1.7.1-2-g9156fcc7a8 1.7.1
- **Python version**: v1.7.1-2-g9156fcc7a8 1.7.1
- **Bazel versi

[2018-07-16 14:07] carlthome commented on #20781
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.9.0-rc2-271-g8955c28 1.9.0-rc0
- **Python version**: N/A
- **Bazel version (if compiling from so

[2018-07-16 14:07] jperl commented on #20622
Here is a PR w/ test to fix this https://github.com/tensorflow/tensorflow/pull/20822

[2018-07-16 14:24] Makhaon commented on #17101
if you'll create the new issue, please give us a number, I have same issue, tensorflow doesn't works with cuda 9.2:

I'm have searching for this dll and found only cudart64_92.dll

[2018-07-16 14:47] Schnabbel opened #20842 "BUG: tf.keras.layers and tf.REUSE.AUTO fail to share parameters in 1.9.0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
v1.9.0-0-g25c197e023 1.9.0
- **Python version**:
3.6
- **Bazel version (if compiling from

[2018-07-16 15:22] andrehentz commented on #14670
I'll close this one for now. If you encounter any issues with the blog instructions, please file a separate bug.

[2018-07-16 15:22] #14670 closed

[2018-07-16 15:38] skye commented on #20639
Can you try adding a control dependency on `op` to `increment`? Something like:
[code]

[2018-07-16 15:41] xiejw commented on #20831
This is not part of the design goal of train_and_evaluate. My suggestion would writing your own loop to do that.

[2018-07-16 15:41] #20831 closed

[2018-07-16 15:42] jdduke commented on #19740
@bigbao9494: Can you share the exact model and Android version of your phone?

Increasing the number of threads doesn't necessarily improve performance for all models on all phones. In the demo's UI you should be able to adjust the number of threads and observe the performance change in real-time. For example, on a Pixel XL, increasing from 1 to 4 threads yields a steady increase in performance, b

[2018-07-16 15:50] drasmuss opened #20843 "Performance decrease in TensorFlow 1.9 for large graphs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.9.0/1.8.0
- **Python version**: 3.5
- **Bazel version (if compiling from source)**: n/a
-

[2018-07-16 15:58] sadlerjw commented on #18807
@aselle I'm not sure how to verify that - I'm not much of a compiler expert. Could you please provide instructions? Thanks!

[2018-07-16 15:58] nataliaponomareva commented on #16692
It is better to throw an error so the user can adjust their input fn accordingly, then to silently convert and potentially be wrong about this conversion...

[2018-07-16 15:59] shashishekhar commented on #20832
@inakaaay : Is tflite_convert in the path, this looks like it cannot find the binary. Can you check the format of the file as well.
file tflite_convert

[2018-07-16 16:02] tsoi2 opened #20844 "MonitoredTrainingSession is not handling the dummy_QueueRunner cleanly?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Fedora Red Hat Enterprise Linux Server release 7.5 (Maipo)
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 3.6.3
- *

[2018-07-16 16:04] shashishekhar commented on #20830
@dimitryn : Can you give more details about the model and how you are measuring. Can you report the numbers using our benchmark tool:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/lite/tools/benchmark

You may need to apply a patch: https://github.com/tensorflow/tensorflow/pull/20330 for it to run.

[2018-07-16 16:07] inakaaay commented on #20832
did you mean that it is on the folder of tensorflow? @shashishekhar

[2018-07-16 16:14] nimroha commented on #12065
lacking a `CategoricalInferenceHelper` I used the `GreedyEmbeddingHelper` with ` embedding  = tf.eye(VOCAB_SIZE, dtype=tf.float32, name='embedding')`

Hope this helps anyone who reaches this thread

[2018-07-16 16:24] shashishekhar commented on #20832
Can you use something like:
bazel run //tensorflow/contrib/lite/python:tflite_convert --  --output_file=/saved_model/maonani.tflite \ --saved_model_dir=/saved_model/saved_model

[2018-07-16 16:30] inakaaay commented on #20832
I did but it has a lot of errors too. check this out [https://github.com/tensorflow/tensorflow/issues/20804](url) @shashishekhar

[2018-07-16 16:38] #19954 closed

[2018-07-16 16:46] novog commented on #20201
Yes, this feature is still one that I think would be useful.

[2018-07-16 16:49] alextp commented on #19733
@ebrevdo , any idea what's going on here? I don't think this is intended behavior.

[2018-07-16 16:50] aselle commented on #20627
@suharshs, could you please handle this issue.

[2018-07-16 16:53] fzhu129 commented on #20353
Hi Aselle:

If you still need that file, do you any place to upload large size file?
Or anything you want me to update from my side.

Thanks and best regards
Frank

[2018-07-16 16:53] aselle commented on #18847
It seems you may not be initializing eigen properly? I don't know what modifications you made, and you haven't included test cases, so it is difficult to reproduce or offer suggestions. Please provide more details.

[2018-07-16 16:53] aselle commented on #18872
@gunan, this seems up your alley. Could you provide some discussion?

[2018-07-16 16:55] aselle commented on #20529
@fchollet, could you please take a look?

[2018-07-16 16:57] aselle commented on #20363
Since this is in contrib this is not officially supported. Perhaps @taharafiq, one of the original authors could provide some help.

[2018-07-16 16:59] poxvoculi commented on #20773
What happens if you switch ttyp from tf.int32 to tf.int64?  I.e. don't try to use int32 on GPU.

[2018-07-16 16:59] alextp commented on #20801
Eager execution is a way way of interacting with tensorflow which is not fully incompatible with graphs. By default, once eager execution is enabled, calling an op will execute it. However, if you create a graph and enter its context we assume that you mean to be adding ops to that graph instead, and we'll do that. This is only useful to an end-user if you're writing a tutorial or if you want to s

[2018-07-16 16:59] #20801 closed

[2018-07-16 17:02] gerardocervantes8 opened #20846 "Tensorflow inference on Android, can't find 'Iterator' op. No OpKernel was registered to support Op"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.8.0 (For training and for creating the .so and .jar files)
- **Python version**: Python

[2018-07-16 17:03] aselle commented on #17588
Since this is contrib, it is not officially supported. @ebrevdo, could you please suggest a fix? It may be that the attentionwrapper doesn't support partially specified shapes.

[2018-07-16 17:04] azaks2 commented on #20740
You can pass the right thread pool via RunOptions::inter_op_thread_pool. Would that work for you?

[2018-07-16 17:11] alextp commented on #20805
@anj-s, I think you wrote the deferred tensor implementation for this layer, right?

@nairouz , while we investigate, can you try writing your own training loop? (doing a for loop over the data, then passing a loss function to optimizer.minimize for some tensorflow optimizer). I believe that's supposed to work.

[2018-07-16 17:21] #20701 closed

[2018-07-16 17:23] skulhare commented on #20718
Hi, any help would be appreciated, thanks in advance.

[2018-07-16 17:52] allenlavoie commented on #19208
[Totally agree](https://github.com/tensorflow/tensorflow/issues/19208#issuecomment-388218570), we should do dependency forwarding so that removing a wrapper doesn't break the checkpoint. It's on my list.

Isn't that a bit of an unusual use-case, though? My expectation is that the model is created in an __init__ before training/not training is known, then `training` is passed through to DropoutWrap

[2018-07-16 18:00] dhingratul opened #20848 "TF slim support for model_pruning not working"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-07-16 18:08] nairouz commented on #20805
@anj-s  Thank you for the response.
 It is working!

[2018-07-16 18:12] ebubekirtabak commented on #20815
Hi, I added system information.
Thanks

[2018-07-16 18:20] alextp commented on #19677
Indeed this looks like a real bug

[2018-07-16 18:22] dhingratul commented on #20577
Is this with TRT 4GA ? And also, would I need to build from source or can I just copy the changed files and import them directly in python?

[2018-07-16 18:37] alextp commented on #19677
Do note though that your hand-computed partial derivative is wrong; you forgot to conjugate the second term because you use x1c in the computation of y2 and not x1. Once you fix it to be the correct one you get the same gradient as tf 1.7 and as tf 1.8 with a single call to session.run.

[2018-07-16 18:41] alextp commented on #19677
Also I ran on tf 1.9 and did not reproduce your problem (all numbers match). I'm closing this now as, even if there was a bug, it's already been fixed.

[2018-07-16 18:41] #19677 closed

[2018-07-16 18:43] samikama commented on #20577
Yes, Please try with TRT4.0 GA and master. You would need to rebuild with TRT4.0.

[2018-07-16 18:46] gbolcer commented on #12328
I hope you guys don't mind me posting my work-in-progress here.  I got to the point where there seems to be some output file type when I invoke the commands with my stored model.  I think I can tweak my stored context.pbtxt file with the right values related to this:

https://github.com/tensorflow/models/issues/257

Loading model....
2018-07-16 11:42:30.316949: E tensorflow/core/framework/op_kerne

[2018-07-16 18:58] dhingratul commented on #20577
I have multiple version of TRT which i use within different virtual envs, I build TRT 4 with .tar not .deb, will that work, or do i need to build it with .deb ?

[2018-07-16 19:04] qinyao-he commented on #20157
@aaroey I think in tensorflow Conv2DTranspose operation (like in
tf.layers.Conv2DTranspose) is implemented as Conv2DBackpropInput type, but in TensorRT documentation they mentioned as ConvTranspose2D. I think is should be a documentation error, since I think tensorflow doesn't have ConvTranspose2D type. But they should refer to the same thing.

[2018-07-16 19:16] devharsh commented on #12730
---------------------------------------------------------------------------
NotFoundError                             Traceback (most recent call last)
<ipython-input-5-0e97fbc26e6d> in <module>()
      5     serialized_graph = fid.read()
      6     od_graph_def.ParseFromString(serialized_graph)
----> 7     tf.import_graph_def(od_graph_def, name='')

C:\Users\310211146\AppData\Local\Continuum\Ana

[2018-07-16 19:17] husnejahan opened #20852 "AttributeError: module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-07-16 19:22] nairouz commented on #20805
@raymond-yuan What about the second undesirable behavior?

[2018-07-16 19:43] shashishekhar commented on #20656
I have approved the pull request #20711. Thank you @SneakyFish5 for your contribution.

[2018-07-16 19:46] samikama commented on #20577
I believe you are talking about TFTRT. Yes you can use TRT4 tarballs, just point configure.py to correct installation directory and update your LD_LIBRARY_PATH in your virtual env to use TRT4 libraries from the tarball.

[2018-07-16 19:46] yushuinanrong commented on #2033
@nicolefinnie
Nicole is absolutely right. A safe strategy is to make your batch size dividable by the number of GPUs.

[2018-07-16 20:18] asimshankar commented on #20769
@AdrianXIA : You'll have to build from source. This change isn't included in 1.9 or 1.10 (whose branch was cut just before the change was merged).

Instructions for building from source: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java#building-from-source

[2018-07-16 20:30] bignamehyp commented on #14291
@andrewharp can you comment on this?

[2018-07-16 20:31] sleighsoft commented on #19208
This issue also stemmed from the problem mentioned in one of my previous issues where overriding e.g. an LSTM cell caused checkpointing errors. The problem I see with the wrappers is that sometimes people implement somethings like a wrapper function to apply all kinds of wrappers to a cell and then get that cell from that function. (e.g. https://github.com/tensorflow/nmt/blob/365e7386e6659526f00fa

[2018-07-16 20:33] gunan commented on #18872
This is definitely in my roadmap, but I am moving rather slowly.
This will definitely happen, but I am not 100% sure when.
More recently, @andrehentz and @angersson looked into this, they may have some more comments.

[2018-07-16 20:33] jbuisson1 commented on #20485
I uploaded the models if it helps you see if anything is wrong on that end

[2018-07-16 20:36] gunan commented on #18872
Oh, sorry I got confused by the dependency keyword. I thought we were talking about bazel dependencies.
In terms of system dependencies, we are currently looking into this.
We currently build everything (on linux) on ubuntu 14, with all standard out of the box components, except for python.
As ubuntu is falling out of support soon, we are looking into how to maintain our test infra, and how to ins

[2018-07-16 21:10] asimshankar commented on #17930
My apologies, no updates yet. The last time I dug into it, I had observed some curious behavior but didn't get to the bottom of it. Haven't had the change to dig into it further for a while.

[2018-07-16 21:16] allenzhang010 commented on #20833
@mrry is that related to this?   After a thread has called `coord.request_stop()` the other threads have a
  fixed time to stop, this is called the 'stop grace period' and defaults to 2
  minutes.  If any of the threads is still alive after the grace period expires
  `coord.join()` raises a RuntimeError reporting the laggards.

[2018-07-16 21:29] ashwaniag commented on #15633
Is there any way to convert SqueezeNet models with 4 outputs to tflite?

[2018-07-16 21:36] samikama opened #20856 "GPUBFCAllocator breaks Allocator API"
Tensorflow Allocator API has a guarantee that AllocateRaw() will honor the requested alignment.
( https://github.com/tensorflow/tensorflow/blob/33af29b33f14cc74725ff081d50e6e59247ef546/tensorflow/core/framework/allocator.h#L82 )

However, GPUBFCAllocator disregards this parameter and thus breaks the guarantee given by the base class.

https://github.com/tensorflow/tensorflow/blob/33af29b33f14cc747

[2018-07-16 21:38] aaroey commented on #20856
@zheng-xq is this a bug or intentional?

[2018-07-16 21:41] case540 commented on #8773
I was under the impression that our Windows GPU release builds were broken (due to some protobuf issue).

[2018-07-16 21:59] allenlavoie commented on #19208
In the NMT example, it's still only an issue if the wrappers are changed, right? I guess ideally MultiRNNCell would have the dependencies forwarded from its first child (so you could add a second cell, causing it to wrap in a MultiRNNCell, and still load the first cell from an existing checkpoint).

[2018-07-16 22:00] karmel commented on #20815
Thanks @ebubekirtabak . Did you make sure to follow the instructions for [preparing the Mac OS X environment](https://www.tensorflow.org/install/install_sources#PrepareMac)? Can you include the commands you used to install those dependencies?

[2018-07-16 22:04] jsimsa commented on #20255
Hi @Hoeze, if you wish to operate over fixed-length batches of elements, I would suggest using `group_by_window` (see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/data/python/kernel_tests/bucketing_test.py#L201 for an example) over `group_by_reducer`, but I otherwise agree with @mrry's advice.

I will keep this issue open and close it when I added the coalesced `reduce()

[2018-07-16 22:04] felsabbagh3 opened #20857 "Issue with tf.gradients() taking too long"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04 LTS
- **TensorFlow version (use command below)**: 1.8.0
- **Python version**: 2.7.12
- **CUDA/cuDNN version**: 7.5.17
- **GPU model and memory**: GeForce GTX 1080 Ti
- **Bazel version**: N/A
- **

[2018-07-16 22:06] tensorflowbutler commented on #20829
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-16 22:06] tensorflowbutler commented on #20833
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-16 22:06] tensorflowbutler commented on #20835
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-16 22:06] tensorflowbutler commented on #20836
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-16 22:06] tensorflowbutler commented on #20837
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-16 22:06] tensorflowbutler commented on #9171
Nagging Assignee @asimshankar: It has been 91 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:06] tensorflowbutler commented on #10179
Nagging Assignee @angersson: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:06] tensorflowbutler commented on #11888
Nagging Assignee @ysuematsu: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:07] tensorflowbutler commented on #12871
Nagging Assignee @drpngx: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:07] tensorflowbutler commented on #13610
Nagging Assignee @rohan100jain: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:07] tensorflowbutler commented on #16466
Nagging Assignee @chihuahua: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:07] tensorflowbutler commented on #16889
Nagging Assignee @ebrevdo: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:07] tensorflowbutler commented on #17273
Nagging Assignee @skye: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:07] tensorflowbutler commented on #17514
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:07] tensorflowbutler commented on #17571
Nagging Assignee @fchollet: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:07] tensorflowbutler commented on #17746
Nagging Assignee @shivaniag: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:07] tensorflowbutler commented on #18058
Nagging Assignee @cy89: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:07] tensorflowbutler commented on #18112
Nagging Assignee @rmlarsen: It has been 107 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:07] tensorflowbutler commented on #18453
Nagging Assignee @rohan100jain: It has been 91 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:07] tensorflowbutler commented on #18480
Nagging Assignee @caisq: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:07] tensorflowbutler commented on #18525
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-07-16 22:07] tensorflowbutler commented on #18612
Nagging Assignee @shivaniag: It has been 77 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:08] tensorflowbutler commented on #18729
Nagging Assignee @petewarden: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:08] tensorflowbutler commented on #18734
Nagging Assignee @suharshs: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:08] tensorflowbutler commented on #18850
Nagging Assignee @gunan: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:08] tensorflowbutler commented on #18930
Nagging Assignee @cy89: It has been 62 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:08] tensorflowbutler commented on #18934
Nagging Assignee @shivaniag: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:08] tensorflowbutler commented on #19108
Nagging Assignees @karmel, @fchollet: It has been 67 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:08] tensorflowbutler commented on #19163
Nagging Assignee @cy89: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:08] tensorflowbutler commented on #19193
Nagging Assignee @cy89: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:08] tensorflowbutler commented on #19283
Nagging Assignee @ekelsen: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:08] tensorflowbutler commented on #19380
Nagging Assignee @robieta: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:08] tensorflowbutler commented on #19530
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-07-16 22:08] husnejahan opened #20858 "AttributeError: module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-07-16 22:08] tensorflowbutler commented on #19731
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:08] tensorflowbutler commented on #19887
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:09] tensorflowbutler commented on #19988
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-16 22:09] tensorflowbutler commented on #20067
Nagging Assignee @shivaniag: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:09] tensorflowbutler commented on #20091
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:09] tensorflowbutler commented on #20113
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-16 22:09] tensorflowbutler commented on #20326
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:09] tensorflowbutler commented on #20382
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:09] tensorflowbutler commented on #20387
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-07-16 22:09] tensorflowbutler commented on #20450
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-16 22:09] tensorflowbutler commented on #20459
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-16 22:09] tensorflowbutler commented on #20461
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-07-16 22:10] karmel commented on #20825
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please fill out the issue template (https://github.com/tensorflow/tensorflow/issues/new), and please re-paste using the error from trying to freeze a not-frozen graph rather than an already frozen one. Thanks--

[2018-07-16 22:17] skye commented on #17273
@wei-v-wang any update on this?

[2018-07-16 22:38] wei-v-wang commented on #17273
@skye we are still working on this. Looks like https://github.com/tensorflow/tensorflow/pull/18411 is having some conflicts that we need to address first.

[2018-07-16 22:51] zheng-xq commented on #20856
I don't think it is intentional. But you should check if it breaks anything.

[2018-07-16 22:51] dhingratul commented on #20577
I built tensorflow from source, and re-ran the above script, there are no errors, but the conversions doesn't happen. When i print out the nodes from trt_graph above, i don't see anything.

[2018-07-16 22:55] yifeif commented on #20113
@rohanjhanepal are you still seeing this issue? Which version of the binary did you use?

[2018-07-16 23:15] weishengchong commented on #20832
@inakaaay , how about try Linux solutions at https://stackoverflow.com/questions/51349873/tflite-convert-is-not-recognized-as-an-internal-or-external-command-in-window/51354656#51354656

[2018-07-16 23:38] drpngx commented on #12871
Could you clarify which one you're using? Unary, binary (left or right) or ternary? Thanks.

[2018-07-16 23:54] #20067 closed

[2018-07-16 23:54] Hoeze commented on #20255
Thank you very much for your help.

I'm splitting my dataset into batches to reduce the memory load.
Having a method which allows applying reduction operations on datasets and retrieving the result would be simply awesome.

[2018-07-17 00:04] achowdhery commented on #19975
Hi,
We have just published a set of instructions that should allow you to run Mobilenet SSD at least on Pixel 2 at 15fps.
Please try the following and let us know if it works:
https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193

[2018-07-17 00:04] #19975 closed

[2018-07-17 00:10] jperl commented on #20478
Ok I agree parsing spec should be handled separately. I put together a PR here https://github.com/tensorflow/tensorflow/pull/20860.

I will add unit tests but first want to make sure that is aligned with how you are thinking about it?

Also should I move `_sequence_length_from_dense_tensor` into `tensorflow/python/feature_column/feature_column` since that is where [`_sequence_length_from_sparse_te

[2018-07-17 00:12] tenoyart commented on #15633
@achowdhery Great to see the TF Lite model on ssd mobilenet v1. Does TF Lite fully support ssdlite mobilenet v2?

[2018-07-17 00:17] achowdhery commented on #15633
@tenoyart Yes. Any Mobilenet SSD will work through this pipeline. We have not released the corresponding tflite files in open source. If you encounter issues, please file a bug.

[2018-07-17 00:38] samikama commented on #20856
@zheng-xq, it breaks tftrt integration. We rely on allocator to return aligned addresses

[2018-07-17 00:40] samikama commented on #20577
@dhingratul, 2 dimensional tensor is not supported in TRT so it should not have been included in the segment in the first place. Would it be possible to share the model or a reproducer?

[2018-07-17 01:03] zheng-xq commented on #20856
We should definitely fix the code to respect the alignment. But we first need to make sure we are not exposed to other problems by fixing this, in real models. Lambda will look into this in parallel and it might take a while. Meanwhile, I'll leave it up to him to propose what we should do to enable tftrt.

[2018-07-17 01:05] tensorflowbutler commented on #20838
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-17 01:06] tensorflowbutler commented on #20839
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-17 01:11] freedomtan commented on #15633
@chanchanzhang as @achowdhery said, please use `object_detection/export_tflite_ssd_graph.py` rather than `optimized_for_inference.py`. And the tflite model file I used is from the one used by Android example. You can get it [here](https://storage.googleapis.com/download.tensorflow.org/models/tflite/coco_ssd_mobilenet_v1_0.75_quant_2018_06_29.zip).

@achowdhery I think there are not FakeQuant nodes

[2018-07-17 01:32] aimhabo commented on #20802
have you install Eigen3 and put it into your PATH?

[2018-07-17 01:40] aimhabo commented on #20743
You are not using bazel. how did you "./configure" and make it?

[2018-07-17 01:43] freedomtan commented on #20485
It's my fault (I wrote the original label_image for tf lite). The number of outputs and number of results are fixed numbers now (see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/examples/label_image/label_image.cc#L216-L237). Quick solution: changing output_size and num_results should fix the problem.

I'll send a PR to add command options and check the output tenso

[2018-07-17 02:21] rhdong commented on #16174
Hi ，@b1ueshad0w ， Has NVIDIA solved this issue？Thanks.

[2018-07-17 02:26] steathy opened #20865 "tensorflow 1.9 still asks for cuda 9.0 though i have 9.2"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: windows 10
- **TensorFlow installed from (source or binary)**: pip3
- **TensorFlow version (use command below)**: 1.9
- **Python version**: 3.6.6
- **Bazel version (if compiling from source)**:
- **GCC/Compile

[2018-07-17 02:46] iteal opened #20866 "Why tf.losses.softmax_cross_entropy doesn't have "dim" (axis) argument?"
Hi!
The function "tf.losses.softmax_cross_entropy" calls "nn.softmax_cross_entropy_with_logits_v2" which has a dim argument with a default value of -1.
Can we add the same "dim" or "axis" parameter to the calling function " tf.losses.softmax_cross_entropy", so that we can choose which axis to apply the softmax  ?
Thanks!

[2018-07-17 03:35] pavithrasv commented on #20666
Thank you for reporting this. The issue has been fixed and the fix will be available in the next nightly release.

[2018-07-17 03:45] zakizhou commented on #20666
@pavithrasv thank you for your fix!

[2018-07-17 03:45] #20666 closed

[2018-07-17 04:12] FarhanTejani commented on #20865
The PyPI (pip) versions of TensorFlow are still [built against CUDA 9.0](https://github.com/tensorflow/tensorflow/pull/19474#issuecomment-394934043). You will have to build from source if you want to build against CUDA 9.2. See [here](https://github.com/tensorflow/tensorflow/issues/18906) for lots of discussion on how to do this.

[2018-07-17 04:40] dimitryn commented on #20830
it looks like a more general problem-related NDK  17  (issue: https://github.com/android-ndk/ndk/issues/495 )
"Bad" performance in all submodules and  3rdparty libraries compiled with NDK 17.
I just wanted to know if someone else got this behaviour.

[2018-07-17 04:40] gunan commented on #8773
Protobuf issue is fixed. As far as I can remember, we cherrypicked that fix into 1.9. But I am not 100% on that.
1.10 definitely has that fix.

[2018-07-17 04:51] zhyj3038 commented on #15751
I follow the "image retrain" retrain my own data. if I down load official .pb and convert to .lite , I can run on android device successfully.  but i I train my own data using mobile v2, error occurs "Uninitialised Classifier or invalid context"

[2018-07-17 05:14] facaiy commented on #20789
I think you should call `add_variable` in `build` method, rather than `call` method.

[2018-07-17 05:23] raninbowlalala opened #20867 "quantization deeplabv3(mobielentv2) error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:1.9.0
- **Python version**: 2.7.3
- **Bazel version (if compiling from source)**:0.12.0

[2018-07-17 05:25] joneepenk opened #20868 "Will cycle-gan have a Estimator implementation like tf.contrib.gan.estimator.GANEstimator?"
or can GanEstimator be used on cycle-gan for training/predicting?

Thanks.

[2018-07-17 06:01] GeorgeKaspar opened #20869 "tf.contrib.lookup.HasTable"
== cat /etc/issue ===============================================
Linux george-OMEN-by-HP-Laptop 4.10.0-38-generic #42~16.04.1-Ubuntu SMP Tue Oct 10 16:32:20 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VERSION="18.3 (Sylvia)"
VERSION_ID="18.3"
VERSION_CODENAME=sylvia

== are we in docker =============================================
No

== compiler =====================================================

[2018-07-17 06:10] akanyaani commented on #20732
Hi Anderson,

I am waiting for your reply, I tried to resolve this problem but I am not able to solve please help.

[2018-07-17 06:15] NaxAlpha commented on #20773
Still similar response with performance is worse this time:
[code]

[2018-07-17 06:16] llhe commented on #11300
@PKUEcho For deep learning framework with mobile phone GPU support, you can have a look at [MACE](https://github.com/xiaomi/mace) and [some benchmark results](https://github.com/XiaoMi/mace/issues/1).

[2018-07-17 06:17] myth01 commented on #20353
@fzhu129 Please try "--output_array=save/restore_all/NoOp" instead of "--output_arrays=save/restore_all/NoOp"

[2018-07-17 06:18] llhe commented on #663
For Android GPU support, you can checkout [MACE](https://github.com/xiaomi/mace), which use OpenCL for mobile GPUs like Adreno, Mali and PowerVR etc. There are some [benchmark results](https://github.com/XiaoMi/mace/issues/1).

[2018-07-17 06:26] nxphi47 opened #20870 "[Question/Feature request] How to stack variable length tensors in a TensorArray?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOs Sierra
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:v1.8.0-0-g93bc2e2072 1.8.0
- **Python version**: 3.6
- **Bazel version (if compiling from sour

[2018-07-17 06:36] longchr123 opened #20871 "TFLite -- Converting the trained pb file into tflite failed predictions on android"
**Question description：**
####  training a pb file, and then convert to tflite file, i use python testing pb file is correct ,but after into tflite file on android testing is wrong, I think this problem should be related to BN(tf.nn.batch_normalization),because when i remove BN get results of android and python are all the same, but with BN is different, the BN is tflite support,and the input data

[2018-07-17 06:38] llhe commented on #22
For deep learning inference on mobile devices with GPU/OpenCL support, you can checkout [MACE](https://github.com/xiaomi/mace), which is optimized for Adreno, Mali and PowerVR GPUs. Here are some [benchmark results](https://github.com/XiaoMi/mace/issues/1).

[2018-07-17 06:40] sukkyoung opened #20872 "Cannot allocate memory for the interpreter"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: example source code and custom model
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 16.04
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:github master branch
- **Python version**: 3.6.3
- **Bazel

[2018-07-17 06:45] llhe commented on #18199
@nanamare
To run neural nets on mobile phones with GPU support, you can checkout [MACE](https://github.com/xiaomi/mace), which supports Adreno, Mali and PowerVR GPUs. Here are some [benchmark results](https://github.com/XiaoMi/mace/issues/1).

[2018-07-17 06:58] tensorflowbutler commented on #20857
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
TensorFlow installed from
Bazel version
Exact command to reproduce

[2018-07-17 06:58] llhe commented on #17526
@madhavajay
For running neural nets on Qualcomm chips, you can have look at [MACE](https://github.com/xiaomi/mace), which is highly optimized for mobile phone performance. Here are some [benchmark results](https://github.com/XiaoMi/mace/issues/1).

[2018-07-17 07:04] llhe commented on #19554
@namyikim @Onotoko To run neural nets on mobile phones with GPU support, you can checkout [MACE](https://github.com/xiaomi/mace), which is optimized for Adreno and also supports Mali and PowerVR. Here are some [benchmark results](https://github.com/XiaoMi/mace/issues/1). MACE has similar or better performance comparing to SNPE.

[2018-07-17 07:07] mohanr commented on #20639
Yes. That produces the correct result. Is this is a thread-safety rule ?

[2018-07-17 07:08] hologerry commented on #20334
encountered same issue on older tensorflow version: 1.4

[2018-07-17 07:12] llhe commented on #12848
@bryant1410  For deep learning framework with mobile phone GPU support, you can have a look at [MACE](https://github.com/xiaomi/mace) and [some benchmark results](https://github.com/XiaoMi/mace/issues/1).

[2018-07-17 07:33] lilbedwin opened #20873 "Will tensorflow support 'PMI' like process management protocol for large scale cluster mode?"
### System information

not related.

### Describe the problem

I'm  trying to use distributed tensorflow in a very large scale mode, say, more that 5000 nodes.

As the distributed tf using guide described in: https://www.tensorflow.org/deploy/distributed, I have to launch the python script by giving it a very long parameter list,  which is used to specify the endpoint of each node in the cluster

[2018-07-17 08:00] longchr123 commented on #20825
@karmel  I should change mobilenet_v1_1.0_224_frozen.pb to mobilenet.pb  from
[code]

like this:
[code]

Code to generate mobilenet.pb files:
[code]

Is the action of graph_util.convert_variables_to_constants and command(bazel...freeze_graph ) the same?

[2018-07-17 09:00] tazr commented on #19893
I am having the same issue.

I don't believe this is covered by #16480, because in the present case the build explicitly exclude support of GRPC:

    -Dtensorflow_ENABLE_GRPC_SUPPORT=OFF

[2018-07-17 09:10] jdvylder opened #20874 "Error when using batch_norm with MirroredStrategy"
### System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
TensorFlow installed from (source or binary): using nvidia containter: https://docs.nvidia.com/deeplearning/dgx/tensorflow-release-notes/rel_18.06.html#rel_18.06
TensorFlow version (use command below):

[2018-07-17 09:15] jdvylder commented on #20509
Hi @guptapriya
Thanks for the reply. I've tried the nightly build and the training does seem to get past the point where it originally threw the exception. Since I've run into a new [bug](https://github.com/tensorflow/tensorflow/issues/20874), I can't test if the metrics work, but will close this issue since the initial exception seems to be solved.

Thanks

Jonas

[2018-07-17 09:15] #20509 closed

[2018-07-17 09:18] freedomtan commented on #20825
@longchr123 not exactly the same, but one of the important steps in [freeze_graph](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/freeze_graph.py) is `graph_util.convert_variables_to_constants`

[2018-07-17 09:19] bobbyAtSperry commented on #19295
@tanzhenyu Similar use case to above is to train an estimator from a keras model, then later reload it to do predictions, i.e. `.predict`.

I believe this is meant to be possible but does not seem to work correctly if you don't do the `.predict` immediately after training. I think that loading through warm start might make this possible. For more info on this use case see my issue #20057 (closed a

[2018-07-17 09:34] LoSealL commented on #20669
@fifothekid @mrry
I noticed that you built tensorflow with **MKL**, there is a known issue that comes with the previously installed tensorflow package in the system.

In detail, if your system has an installed tensorflow package, the cmake script will firstly import system module, rather than your compiled one. This will cause version mismatch and some import error occurs.

There is also another i

[2018-07-17 09:34] bhack commented on #19295
There is also a related problem on this API on how to handle models with BN. See https://github.com/tensorflow/tensorflow/issues/19903

[2018-07-17 09:38] LoSealL commented on #20336
There's also another issue when importing compiled protobuf, see my response to #20669

[2018-07-17 09:40] LoSealL commented on #19895
For windows and cmake buiding, there is an issue when generating python api, in the scipt `create_python_api.py`. See my response to #20669 .

[2018-07-17 10:17] wqw123 commented on #16768
i got the same problem,then used smaller size of lstm hidden dim, i solved it.

[2018-07-17 10:53] #20485 closed

[2018-07-17 10:53] jbuisson1 commented on #20485
It works with this quick fix! Thank you!!!

[2018-07-17 11:06] phizaz commented on #20801
@alextp Is there a way then to re-enable the eager mode inside a graph. Or, is there a way to "separate" many eager environments? Say, if I want to have many `global_step` ?

[2018-07-17 11:23] harshil014 commented on #2175
Is it possible to disable cpu usage in tensorflow or limiting the number of cores?

[2018-07-17 11:37] bennyooo opened #20878 "Issue with converting Keras .h5 files to .tflite files"
There seems to be an issue with the above mentioned conversion.
According to this documentation (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/toco/g3doc/cmdline_examples.md#keras) it should be possible to convert a Keras model into a .tflite file. However, when I try to convert the file, the following output is given:

I made sure that the .h5 contains both the mode

[2018-07-17 12:01] martinwicke commented on #19296
@superbobry This is (at this point) intended behavior, as it would be infeasible to change it. I agree with you though that this should be clarified in the documentation. Would you like to send a PR for this? Thanks!

[2018-07-17 12:21] Mukundan314 opened #20879 "NCCL not detected on Arch Linux"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux
- **TensorFlow installed from (source or binary)**: source (r1.9)
- **TensorFlow version (use command below)**: 1.9
- **Python version**: 3.7.0
- **Bazel version (if compiling from source)**: 0.15.0

[2018-07-17 12:30] vishwas31 commented on #20738
@attitude95 please share how your issue got solved.

[2018-07-17 12:40] vishwas31 opened #20880 "AttributeError: 'DataFrame' object has no attribute 'dtype'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-07-17 12:42] muye5 commented on #20834
Another problem：
I am not sure whether someone has tried SyncReplicasOptimizer +  MonitoredTrainingSession + Placeholder of Model Input. After session created, during initializing variables in the hook function, it reports needing to feed value to the placeholder. I am confused what triggered off the network computing.

[2018-07-17 12:47] tensorflowbutler commented on #20866
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-17 12:47] tensorflowbutler commented on #20868
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-17 12:47] tensorflowbutler commented on #20869
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-07-17 12:58] jiarenyf opened #20881 "How to use LSTM layer in tfLite ?"
How to use the following code ?

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/kernels/lstm.cc

[2018-07-17 13:11] cl886699 commented on #20802
i see ，maybe it is the problem of internet, when i build it agian ,no longer show that problem.

[2018-07-17 13:13] hari-dori commented on #19988
which function to pass -run_meta_path

[2018-07-17 13:14] ialhashim commented on #19290
After updating to latest drivers and nightly TF and latest Keras the problem seem to be gone.

[2018-07-17 13:14] #19290 closed

[2018-07-17 13:21] zywangnpu2013 commented on #12745
I've the same issue now.Did you solve it?

[2018-07-17 13:44] biswajitcsecu commented on #16768
It would be run If you set lowering batch size as well Input size

[2018-07-17 14:04] DutAlex commented on #20769
Hello,

I actually built from source the version with the Loader in SavedModelBundle.
However it seems that using SavedModelBundle.withConfigProto(config) doesn't impact anything compared to the "default" configuration.
Code is below :

`        ConfigProto configProto = ConfigProto.newBuilder()
                .setAllowSoftPlacement(true) // allow less GPUs than configured
                .setGpu

[2018-07-17 14:07] husnejahan commented on #19436
AttributeError: module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'
Then going to uninstall but also getting error like-
rm: cannot remove 'tensorflow/.git/objects/pack': Directory not empty

[2018-07-17 14:18] carlthome commented on #20509
This is still an issue. Can this be reopened?

[code]

[2018-07-17 14:24] sleighsoft commented on #19208
Yes, If you would run inference where training is false it would probably fail to restore because they did not add the DropoutWrapper in that case. I myself would also not want to add the overhead of another wrapper I don‘t even use in the inference training just to make sure checkpointing works. Only objects (BasicLSTMCell) that add something that is worth restoring e.g. Variables should be consi

[2018-07-17 14:48] shashishekhar commented on #19625
The raw pointer member variables are not owned by the Interpreter, but good point about the the profiler_ pointer, I am going to send a patch.

[2018-07-17 14:57] skye commented on #20639
No, it's about TF's execution model. You could theoretically see this result with a single thread.

Here's the issue: TF will execute an operation once its inputs are ready, which may not correspond to the order operations are defined in your program. If the inputs to multiple ops are ready, there are no guarantees about which one will run first.

In the case of while_loop, you can imagine the loo

[2018-07-17 14:57] #20639 closed

[2018-07-17 14:57] isaacgerg opened #20882 "Tf reports DLL load failed but passes existance check if wrong subversion of cudnn used."
Windows 7, python 3.5

Using pip3 install --upgrade tensorflow-gpu yields "ImportError: DLL load failed: The specified module could not be found." when incorrect subversion of cudnn64_7.dll is used.

NVIDIA provides several versions of cudnn for windows which are all called cudnn64_7.dll.  Thus, the existence checks tf does for the file cudnn64_7.dll pass but when loading the DLL python yields the

[2018-07-17 15:03] yongtang commented on #20880
I saw a similar issue #20738 though there were not enough details. Maybe it is about version compatibility?