[2017-03-01 22:44] ssgutierrez42 commented on #19
@chengsam @MattSich how were you able to rewrite the camera in Swift while keeping the runCNNOnFrame method in Obj-C++ ? Looking for some pointers; trying to do the same thing.

[2017-03-01 23:19] icyJoseph commented on #7844
I tried to fix this issue, by updating my Tensorflow and then running:

`gcc -std=c++11 -shared word2vec_ops.cc word2vec_kernels.cc -o word2vec_ops.so -fPIC -I C:/Python35/lib/site-packages/tensorflow/include -O2 -D_GLIBCXX_USE_CXX11_ABI=0
`

which outputs:

[code]
Naturally I traveled to tensorflow/core/framework and there was no op.h

I will continue to explore a solution. Or am I missing someth

[2017-03-01 23:25] pseudotensor opened #7988 "Scope issue with Adam after upgrade from 0.12 to 1.0.0."
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

None directly related, but indirectly this one is related: https://github.com/tensorflow/tensorflow/issues/7462 (but seems to be code error).

THE ISSUE:

My code works with r0.12:
git@github.com:pseudotensor/temporal_autoencoder.git (branch timeconv, commit 3cfc56566931ad592eef7a9b7ddbb3

[2017-03-01 23:25] aselle commented on #7491
Thanks for the reproducible test case that @fchollet requested.

[2017-03-01 23:25] #4779 closed

[2017-03-01 23:33] gdfishhannah commented on #6742
I also have the 10060 problem and it always happened. This seems like not the host problem. Do you know what caused this?

[2017-03-01 23:38] shariharan99 commented on #6503
@rmlarsen what is the update on this ?

[2017-03-01 23:51] purlvin opened #7989 ""Download and Setup" link broken"
In README file, the link of "Download and Setup" is pointing to _https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md_
However, it looks like that is broken now, please help fix, thanks~

"
Installation
See Download and Setup for instructions on how to install our release binaries or how to build from source.
"

[2017-03-01 23:51] asross commented on #6742
Reopening because others seem to have this problem.

[2017-03-01 23:52] pseudotensor commented on #7988
I had compiled from sources as per the commit I mentioned.  I just tried using the latest nightly build: https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-linux-gpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=gpu-linux/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow_gpu-1.0.0-cp27-none-linux_x86_64.whl

and this fails in the same way.

[2017-03-01 23:52] asross commented on #6742
I would suggest that if you encounter this problem, check http://downforeveryoneorjustme.com/http://yann.lecun.com/exdb/mnist/ just to make sure.

[2017-03-01 23:57] fchollet commented on #7491
Hi zero2hero2020,

I cannot reproduce your issue. But here's what you can do:

1) I recommend that you use the following more modern model definition style:

[code]

2) I recommend that you install and use the Keras 2 API, available via the `keras-2` branch of the Keras repo: https://github.com/fchollet/keras/tree/keras-2

[2017-03-01 23:59] gdfishhannah commented on #6742
I cannot reach this website

[2017-03-02 00:12] zero2hero2020 commented on #7491
Hi, fchollet, thanks for your advice! I will try it.

[2017-03-02 00:15] yaroslavvb commented on #7880
@danijar your gist is non-deterministic because different valid execution orders produce different reuslts. Consider following block

[code]

Since `dummy=tf.cond` is created outside of the `control_dependencies` block, `cond` can run either before or after `assign_add`. You can make it deterministic by moving it inside the block

[code]

[2017-03-02 00:16] yaroslavvb commented on #7880
possibly relevant -- https://github.com/tensorflow/tensorflow/issues/7951

[2017-03-02 00:45] kalkaneus commented on #6285
@tatatodd @endernewton thank you for your suggestions. But as for now, I am doing something else, so later when I have extra time, I'll try to do that in my machine. I'll let you know the result afterwards

And I want to have dbg option as I want thoroughly debug it. Without the dbg flag, everything works well so far.

[2017-03-02 01:00] calpa commented on #7989
I found that they moved the old folder to the new place.
The folder of g3doc is moved to docs_src, but I cannot find the os_setup.md in the folder...
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/docs_src/get_started

[2017-03-02 01:13] lemonzi opened #7991 "{Base,LocalCLI}DebugWrapperSession and SessionInterface don't have 'as_default'."
I tried to use tfdbg to hunt those Infs, and it complained `LocalCLIDebugWrapperSession`  was lacking `as_default`, which I use to set the default session for each thread. Neither its parent class `BaseDebugWrapperSession` or the interface `SessionInterface` it implements seem to have it. I thought it was supposed to be a drop-in replacement, is this part of the design?

[2017-03-02 02:08] NaveenAri commented on #6087
@yuanbyu @ffmpbgrnn I'm having a similar problem and am getting `tensorflow.python.framework.errors_impl.InvalidArgumentError: The node 'update_barrier' has inputs from different frames. The input 'while/BatchNorm/AssignMovingAvg_1' is in frame 'while/while/'. The input 'fc1/BatchNorm/AssignMovingAvg_1' is in frame '`'. Is there a way to use batch-norm inside `tf.while_loop`?

[2017-03-02 02:13] hustlrr commented on #7685
that happens to me, too. have you solved the problem?

[2017-03-02 02:27] tomwanzek commented on #6184
Is there an update on whether this will be addressed, so the wide & deep model can be run on Windows?

The issue still replicates on Windows 10 (64bit), Anaconda 4.3.8 virtual environment with Python 3.5.3 and TensorFlow 1.0.0.

Running with the `deep` instead of the `wide_n_deep` flag, does not actually run the model of interest based on `tf.contrib.learn.DNNLinearCombinedClassifier`.

Thx in adv

[2017-03-02 02:34] qinglintian commented on #7685
@hustlrr I can't solve it. Hope the maintainers fix this issue soon.

[2017-03-02 02:38] dr4b commented on #7685
it's an issue with how we now have python docs in api_docs/python/tf/whatever but they all refer to "../../images/" -- the proper directory is tensorflow.org/images rather than tensorflow.org/api_docs/images.  Not sure whether to fix in docstring or site generation scripts but we'll get it done one way or the other.

[2017-03-02 02:54] chengsam commented on #19
@ssgutierrez42 You have to use a bridging header to call Obj-C++ code from Swift.

[2017-03-02 02:59] jinfagang opened #7993 "tf.contrib.slim Out of Date API"
I am using tf.contrib.slim API to build nets, it's simple and convenient, however, I think it's some kind of confusion me, I occurs a lot of out-of-date api which I think should be update or fix (except I got wrong idea to using it).
Basiclly, I got images and labels from tfrecord file, run this:

[code]
all imports from `tf.contirb.slim`.
And I got these error.
[code]
I read and load images label

[2017-03-02 03:29] jason-riddle commented on #6729
In my case, I am not allowed to disable SIP by the admin. From Apple's page on [Dynamic Libraries](https://developer.apple.com/library/content/documentation/DeveloperTools/Conceptual/DynamicLibraries/100-Articles/UsingDynamicLibraries.html), they note that the following.

I didn't want to clutter /usr/local/lib or /usr/lib, so I moved my files to ~/lib.

[code]

and set

[code]

and it seems to wo

[2017-03-02 04:21] prakhar21 opened #7994 "Loading and re-training the model"
Hi, I am confused, if it is possible to load the last checkpoint for the model and now use another data to train the same model, so widen it's knowledge ?

Usecase: chatbot
data1: cornell-movie data
data2: stack exchange dataset

Firstlt, I had trained a seq2seq model on the cornell data, with some hyperparameters and other important variables, now i want my same model to train on other datasets a

[2017-03-02 04:36] purlvin commented on #7989
@calpa thanks for the tips~
I think I have found the page.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/install/index.md

[2017-03-02 05:08] cancan101 commented on #5360
Is it still the case that Make is the only way to build for iOS, or can bazel now be used? If no bazel, what is this: https://github.com/tensorflow/tensorflow/commit/78c9dec5a62e74389608c709027fb8eabdf2bef0 ?

[2017-03-02 05:12] flyi opened #7995 "ImportError: DLL load failed: The specified module could not be found."
Traceback (most recent call last):
  File "d:\Python\Python35\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in swig_import_helper
    return importlib.import_module(mname)
  File "d:\Python\Python35\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 986, in _gcd_im

[2017-03-02 05:14] danlutan opened #7996 "Cant implement Miking Human"
I want to implement a neural architecture from  A Neural Architecture Mimicking Humans
End-to-End for Natural Language Inference . In keras , I can get accuracy  86% . But the same  architecture in tensorflow , just get 76% . Here is the main code ：
`class miki(BaseModel):

    def build(self):
        params = self.params
        batch_size = params.batch_size
        max_length = params.max_leng

[2017-03-02 05:17] gunan commented on #7980
We test our upgrade script from 0.12 to 1.0
0.9 to 1.0 is a substantial upgrade, I don't think we did test for that.
@aselle any ideas?

[2017-03-02 05:17] gunan commented on #7989
#7990 fixes this issue.

[2017-03-02 05:22] gunan commented on #7979
I do not think our configure script or our bazelrc template has the `--action_env` flag set. It looks like you have these options in your `/etc/bazel.bazelrc` file. Could you share its contents?

[2017-03-02 05:22] krishpop commented on #3848
[code]

[2017-03-02 05:23] XiaoJun134 opened #7997 "I can successfully open cupti64_80.dll library. But It seems the program run all the time and will never stop."
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-02 05:30] gunan commented on #7983
Tensorflow tries to preallocate memory on the GPUs. I think the default is 70%  of the GPU memory.

The easiest solution would be to have the two different processes sequentially.
Or you can use the `CUDA_VISIBLE_DEVICES` environment variables to give exclusive access to each process. In your programs, you would then start your session to use `gpu:0`

[2017-03-02 05:36] gunan commented on #7960
If you do not need gpu, you can simply use the `1.0.0.2-devel` docker image. Same version as the one @cancan101 suggested, but no gpu.

[2017-03-02 05:38] gunan commented on #7961
`/usr/local/lib/python3.4/dist-packages/google/protobuf/init.py` means it is trying to write to the central python package directory. please mage sure you activate the virtualenv before running the `pip install` command.

[2017-03-02 05:41] modestyao opened #7998 "Strange messages shown up when define a tensorflow variable"
When I try to define a variable, the following messages show.
However, these messages will only show when I define the first variable.

Python 3.5.2 |Anaconda 4.1.1 (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

E c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorflow\core\fr

[2017-03-02 05:42] gunan commented on #7933
We are moving our example and model codes out of the pip package. Pip package will install the core TF library on your machine, and then you can download the example and tutorial codes from relevant webpages or our repository.

[2017-03-02 05:43] gunan commented on #7915
@jugglerix can we send out a fix and republish the website?

[2017-03-02 05:49] gunan commented on #7997
cupti64_80 library is just an information message. As far as I can tell, it has no relation whatsoever to the issue you are reporting.  Also I do not really see clear instructions for us to reproduce the issue you are facing. You seem to have just copy pasted your error message there.

It looks to me like your training code may not be converging. I recommend adding print statements to see what you

[2017-03-02 05:51] AnlanSun commented on #7908
Thanks for response! I am using the latest version of TF(just installed  4 days ago). On Ubuntu 14.04. Using vgg16 and a InceptionV1 with just 4 conv layers. Both of them show this problem.
The part of Saving and reloading is shown bellow
`    init_op = tf.initialize_all_variables()

    saver = tf.train.Saver()
    with tf.Session() as sess:
        #sess.run(init_op)
        #new_saver = tf.trai

[2017-03-02 05:52] gunan commented on #7966
GPU compilation on windows does take a long time, due to Visual Studio not properly parallelizing the compilation when using an external compiler (nvcc).
Looks like you already have a solution to the reported issue. We would be happy to review and accept your solution to the repository. Would you like to create a Pull Request?

[2017-03-02 05:56] gunan commented on #7716
What @poxvoculi and @Carmezim stated is correct.
We build and distribute binaries that can run on all/most available hardware.
However, if you have a newer CPU, you can build TF from sources.

Closing the issue as Working as Intended.

[2017-03-02 05:56] #7716 closed

[2017-03-02 05:57] AnlanSun commented on #7908
I just use `scp -r ` to download it on another conputer. Is that wrong? And what shocked me today is I trained , reloaded InceptionV1 with 4 conv layers on the same computer and got the same phenomenon

[2017-03-02 06:01] gunan commented on #7690
If you only have python3 installed on your system, `python` and `pip` will use `python3` and `pip3` respectively. To add to all of these, you can even install more versions of python, and access them using `python3.4` or `python3.5` or `python3.6`.
All of these possibilities are omitted from the docs for simplicity.
In most users cases, there is only one version of python installed, so the instruc

[2017-03-02 06:16] gopi77 commented on #7979
build --action_env=PATH
build --action_env=LD_LIBRARY_PATH
build --action_env=TMPDIR
build --test_env=PATH
build --test_env=LD_LIBRARY_PATH

[2017-03-02 06:26] Bihaqo opened #7999 "Broken link"
The "See Download and Setup" link in the readme is broken.

[2017-03-02 06:37] gunan commented on #7979
My theory seems to be correct.
Did you manually edit this file?

If you set these manually, I am pretty certain you want to set them up this way:
[code]

Please note the added `$` signs.
If the above also does not work, if you remove the file `/etc/bazel.bazelrc`, the build should work.
The issue is related to your setup, so I will close this issue.

[2017-03-02 06:37] #7979 closed

[2017-03-02 06:43] gopi77 commented on #7979
Hi

I didn't edit anything manually till now.

After your suggestion i edited like below but still error.
build --action_env=$PATH
build --action_env=$LD_LIBRARY_PATH
build --action_env=$TMPDIR
build --test_env=$PATH
build --test_env=$LD_LIBRARY_PATH

gopi@gp:~/tensorflow$ ./configure
Please specify the location of python. [Default is /usr/bin/python]:
Please specify optimization flags to use duri

[2017-03-02 06:46] gopi77 commented on #7979
you mentioned "My theory seems to be correct." & closed the bug, sad.

[2017-03-02 06:50] gunan commented on #7979
The issue is caused by the contents of your file `/etc/bazel.bazelrc`.
That file is clearly not a part of the tensorflow repository.
And as I also suggested above, if you remove that file, your build should work.
The creation of that file however, if you did not create yourself, is a bazel issue, not a TensorFlow one as we do not install bazelrc files to your system.

[2017-03-02 07:07] naeplus commented on #37
Looking forward to it. 👍

[2017-03-02 07:11] johny130 opened #8000 "Android Camera Detection with Yolo model not working"
I trained and generated my yolo model accodring to the repository https://github.com/thtrieu/darkflow. While testing on few images locally, the model detects objects.

Once I build and test it on the phone (adding .pb to assets and setting flag to YOLO), TFDetect runs but I obtain no detections at all.

What could be the cause of that and how could I actually start debugging?

(trying to run the d

[2017-03-02 07:18] fcole90 commented on #7690
I'm sorry but using python 2.7 or 3.n is a different issue than just choosing a point version, and accordingly the guide makes a distinction in most cases except the ones I mentioned.

If a user follows each step, including the [first](https://www.tensorflow.org/install/install_linux#InstallingVirtualenv), he/she will end up installing python (2.7). For the user to skip that line he/she should be

[2017-03-02 07:27] samfux84 commented on #7572
I have disabled jemalloc. Even though I have adapted the paths in CROSSBUILD.tpl, the compilation still fails with:

[code]

[2017-03-02 07:45] ttjs8423219 opened #8002 "load model package in a linux tensorflow project"
![model](https://cloud.githubusercontent.com/assets/17719977/23498012/a391d9e4-ff60-11e6-895b-5aeb167d612d.png)
Hello,master:
      How do I load models package in a linux tensorflow project that has already been installed?thanks！

[2017-03-02 08:00] jaspree commented on #1244
c:\users\jass\appdata\local\programs\python\python35\lib\site-packages\google\
protobuf\internal\decoder.py
  c:\users\jass\appdata\local\programs\python\python35\lib\site-packages\google\
protobuf\internal\descriptor_database_test.py
  c:\users\jass\appdata\local\programs\python\python35\lib\site-packages\google\
protobuf\internal\descriptor_pool_test.py
  c:\users\jass\appdata\local\programs\pyt

[2017-03-02 08:01] jaspree commented on #1244
plz help me in this problem ..

[2017-03-02 08:11] gunan commented on #7690
I have not considered the invalidity of our virtualenv command for py3. You have a good point there. Id rather have a shorter installation guide, but we should have a working install path for all versions of python installed.

[2017-03-02 08:29] WeitaoVan commented on #394
I had the same issue.
**Simply reboot the computer fixed the problem for me :)**
Suggestion: do not suspend your computer (which caused the problem in my case)

[2017-03-02 08:42] DavidNorman commented on #7920
Hi.  Do you guys think that the fix is in the public repo already?   I notice that the last commit for that file is 'fix opensource build breakage....'.

however, that fix wasn't the one that is breaking the OS/X build.  The files need proper namespaces on the std:: things, and a namespace on the int64

[code]

[2017-03-02 08:51] fuhuamosi opened #8003 "A small problem about tf.case function and Tensor's shape"
I write the following code on jupyter notebook:
a = tf.placeholder(shape=(5, ),  dtype=tf.float32)
b = tf.placeholder(shape=(5, ),  dtype=tf.float32)
x = tf.constant(0)
y = tf.constant(0)
f1 = lambda: a
f2 = lambda: b
res_tensor = tf.case([ (tf.not_equal(x, y), f1) ], default=f2)

But I found that the res_tensor's shape is unknown rather than (5, ).

[2017-03-02 09:07] gopi77 commented on #7979
The command sudo apt-get upgrade bazel had issues, so did below steps.

1. cleaned-up all the bazel related files in my machine as per https://github.com/bazelbuild/bazel/issues/838
2. did fresh installation of bazel v4.4 with "Install with Installer" option as per https://bazel.build/versions/master/docs/install.html.

Now the ./configure runs fine, thanks

[2017-03-02 09:18] variac commented on #3009
TCMalloc also seems to suffer from page faults, but it deals with them better for some reason. You can prominently see page fault activity in the kernel using `perf top -p <PID> -g`. Jemalloc gets completely horked on this when training on large datasets like ImageNet, though. 50+% drop in performance, and never recovers on its own. This is _really bad_ user experience. I would wager most TF users

[2017-03-02 09:19] jinfagang opened #8004 "tf.contrib.slim API not support tensorflow newest API"
I like using slim write cnn net structures, but there is something emergency to catch up tensorflow newest API,
this simple code got deprecate warning follow!
[code]

[code]
I think this is essue about slim.losses, however I tried using `tf.losses.softmax_cross_entropy`instead, got this error:
[code]

[2017-03-02 09:42] lxtGH commented on #7944
I found the answer ：
**Define the Saver in Your computing Graph （before the Session.run）**
like this `	saver = tf.train.Saver()
	init = tf.initialize_all_variables()
	with tf.Session() as session:
		with tf.device("/cpu:1"):`

[2017-03-02 09:43] lxtGH commented on #7944
I found the answer ：
**Define the Saver in Your computing Graph （before the Session.run）**
like this
[code]

[2017-03-02 09:46] dorienh opened #8005 "tf.contrib.rnn module object is not callable."
I am trying to run a tutorial (http://r2rt.com/recurrent-neural-networks-in-tensorflow-ii.html) and have some issue with modules that have moved.

I researched a bit and found that some classes have moved and fixed:
tf.nn.rnn_cell.BasicRNNCell(state_size)
to
tf.contrib.rnn.BasicRNNCell(state_size)

This works now.

However, I have this function I can't seem to fix:

rnn_outputs, final_state = tf.n

[2017-03-02 09:47] aliosmanulusoy commented on #7026
@drpngx Ah, there was a problem with my installation! It works just fine for me as well. Sorry about the confusion. I've tested your code as well as my entire network, which uses multiple scatter_nd's. I got a speed-up of ~5x for the latter. Thanks a lot for the patch!

[2017-03-02 09:52] jumemae opened #8006 "tensorflow-gpu fail for windows 7 T_T"
My computer installed tensorflow-gpu for windows 7 (FX 2800M)

but GPU not understanding my counter...T_T

always tensorflow cpu understandig...

CUDA  v8.0 and v6.5 Cudnn v5.1 and v 2.1

Fail log is
F c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\cuda\cuda_driver.cc:94] Check failed: s.ok() could not find cuDevice

plz.. help me!!

[2017-03-02 10:02] tomrunia commented on #7378
I am also experiencing this issue on a daily basis, very annoying! It seems to be stochastic, which makes it very hard to pinpoint the cause. But I am also running OpenCV 3.2 and TF v1.0, so I guess there is the problem.

[2017-03-02 10:12] ppwwyyxx commented on #7964
duplicate of #5558

[2017-03-02 10:25] Leishuyu-bupt commented on #7988
you can try to define tf.train.AdamOptimizer(0.01).minimize(cost) out of  tf.variable_scope() like this:
[code]

[2017-03-02 10:30] pobingwanghai commented on #8004
I meet the same situation too, the newest api document doesn't have slim

[2017-03-02 11:06] ppwwyyxx commented on #7951
For a lot of my use cases, my input data is either 1. not on the file system, or 2. require complex preprocessing unavailable in TensorFlow. For both cases the existing input pipeline cannot help, so I use an input thread with enqueue/feed_dict + a training thread with dequeue a lot.

Let's **assume** that in most cases, you don't need to use the model itself to produce data (though sometimes it's

[2017-03-02 11:30] pavelbulanov commented on #7966
@gunan I created PR #8008, but I'm not totally sure about the fix.
It allows me to successfully compile under my environment, but it seems it won't be generic.

The thing is that two functions from `intrinsics_port.h` (`_mm256_extract_epi32` and `_mm256_insert_epi32`) are declared in `immintrin.h` for VS2017 build tools, but I didn't found them in the same header file for VS2015 (VS14). There is n

[2017-03-02 11:38] jinfagang commented on #8004
@pobingwanghai I trend to abandom slim and use plane tensorflow to write layers, it's more powerful and let's you controll everything.

[2017-03-02 11:49] michaelpjohnson commented on #5455
@vasantivmahajan Was a solution provided via DM? Did you ever solve this on your own?

[2017-03-02 12:06] mkamranmalik commented on #7854
While I was trying "https://www.tensorflow.org/get_started/mnist/beginners" and trying to run below commands and facing time out exception. (I am using window 7 and tensorflow v.1
from tensorflow.examples.tutorials.mnist import input_data
mnist = input_data.read_data_sets("MNIST_data/", one_hot=True)

[2017-03-02 12:15] akaraspt opened #8009 "Connection timed out when loading MNIST"
Hi,

I got **Connection timed out** error when I was trying to load MNIST data using tensorflow script.
[code]

Error:
[code]

### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
[code]

The output from `python -c "import tensorflow; print(tensorflow.__version__)"`:
[code]

[2017-03-02 12:16] akaraspt commented on #8009
Oh it seems the server is down.

[2017-03-02 12:25] #8009 closed

[2017-03-02 12:36] JasonZhao001 commented on #565
it will be helpful:
https://www.tensorflow.org/api_docs/python/tf/contrib/distributions/Categorical

[2017-03-02 12:43] gsoul commented on #6996
Hey, @ebrevdo

Do you have any time estimate on when this new tutorial might be published?

[2017-03-02 12:56] JaySWang commented on #6727
suffered from the same issue

[2017-03-02 12:56] xarxziux commented on #7998
I'm getting the same problem with pretty much the exact same error message.  This issue was covered here in issue #7500 with the advice being to upgrade to the nightly build.  I've done that but it hasn't made any difference.

[2017-03-02 13:08] simonmilz commented on #37
+1

[2017-03-02 13:09] danijar opened #8010 "tf.identity() not copying varying inputs"
When using `tf.identity()` it seems like a proper implementation to pass through the input tensor without copying. However, when the input is the value of a variable it might change later, leading to surprising behavior:

[code]

I would think this code should be equivalent to the following workaround that uses a second variable to remember the previous value:

[code]

Can we make `tf.identity()`

[2017-03-02 13:13] xarxziux commented on #7998
Upgrading to the most recent [nightly build](https://ci.tensorflow.org/view/Nightly/job/nightly-win/DEVICE=cpu,OS=windows/) just fixed it for me.  Now I'm just getting the SSE warnings...

[2017-03-02 13:30] danijar commented on #7880
Thank you. However, then the condition changes. I'd either need to compare the size to 1 instead which makes the code confusing, or add a second `tf.control_dependencies()` around everything to ensure that `dummy` was gets executed before. In any way, it would be quite helpful to have an existing `.peek()` on queues.

[2017-03-02 13:33] microtony commented on #8006
According to this [page](https://developer.nvidia.com/cuda-legacy-gpus), Quadro FX 2800M only has CUDA Compute Capability 1.1 and therefore is not supported. 3.0 is the minimum requirement.

[2017-03-02 13:52] metropt commented on #4894
The same problem here!

[2017-03-02 13:59] pannous opened #8011 "TypeError: Fetch argument None has invalid type <class 'NoneType'>"
Feature request for a better error description OR for better summary handling:

The following code works fine if some summaries where defined before:
[code]
However if there were no summaries we get:
TypeError: Fetch argument None has invalid type <class 'NoneType'>

Which is really saying:  "One of the session.run ops where empty, which is forbidden."
Alternatively let merge_all return a NoOp if

[2017-03-02 14:11] bfbd888 opened #8012 "Not support i686?"
Install from source.

 git rev-parse HEAD
`8cac382a5425d64f3083cb5adec525baa163e18e`

 bazel version
[code]

./configure
Please specify the location of python. [Default is /env/tensorflow/bin/python]:
Please specify optimization flags to use during compilation when bazel option "--config=opt" is specified [Default is -march=native]:
Do you wish to use jemalloc as the malloc implementation? [Y/n]
j

[2017-03-02 14:12] hawkinsp commented on #7920
That change should have fixed it. Does it still actually fail to build?

Note the fix was to `#include "tensorflow/compiler/xla/types.h"`, which defines `xla::int64` and `xla::string`. No namespace qualification should be needed now that header is included.

[2017-03-02 14:13] MicaelCarvalho commented on #8003
I came here to report the exact same behavior, and saw your issue on the first page.

The same goes for vectors:

`import tensorflow as tf

value_1 = [tf.placeholder(tf.float32, shape=(2, 3, 4)), tf.placeholder(tf.float32, shape=(5, 6, 7)), tf.placeholder(tf.float32, shape=(8, 9, 10))]
value_2 = [tf.placeholder(tf.float32, shape=(2, 3, 4)), tf.placeholder(tf.float32, shape=(5, 6, 7)), tf.placehold

[2017-03-02 14:21] bfbd888 commented on #8012
bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package
ERROR: /prj/tmp/tensorflow/tensorflow/tools/pip_package/BUILD:77:1: no such package '@eigen_archive//': Error downloading [http://bazel-mirror.storage.googleapis.com/bitbucket.org/eigen/eigen/get/290bfb42684a.tar.gz, https://bitbucket.org/eigen/eigen/get/290bfb42684a.tar.gz] to /root/.cache/bazel/_bazel_root/3dd36c466b8b5ba9

[2017-03-02 14:46] MikeTam1021 commented on #7980
Gunan,

I tried all the upgrades in between 0.10.0, 0.11.0, and 0.12.0 and they all have the same problem. 0.9.0 still works when I pip install it though.

[2017-03-02 14:54] fesun commented on #7353
@mrry After increasing request object counts, there is performance decay along with running time, at first each step only takes 0.3 second, after 4~5 hours, each step takes 1 second. There must be some severe bug or design issues.

[2017-03-02 15:08] Mec-iS opened #8014 "404 in contrib.layers documentation"
In the official doc for version 1.0, [this link](https://www.tensorflow.org/api_docs/python/tf/contrib/layers/linear) to **tf.contrib.layers.linear** in [here](https://www.tensorflow.org/api_guides/python/contrib.layers) leads to a 404.

[2017-03-02 15:35] chenleo opened #8016 "C++ demo failed with lib in the makefile project"
I can not build and run the demo on the C++ API page:

https://www.tensorflow.org/api_guides/cc/guide

When link to the lib built in the /contrib/makefile project, does that mean that the cc/ops are totally not supported or I missed some steps or information?

Current errors are as the following:

[code]

[2017-03-02 15:38] israelg99 commented on #7914
My logs are identical to #5688 and I don't think it is running out of memory, I tried running it on many configurations, it fails even on a small network with batch size 1.

The same error occurs both when I run it on TF or Keras with TF backend.

 It should be easily reproducible by running a simple graph with `tf.nn.atrous.conv2d` with a rate higher than ~280.

[2017-03-02 15:58] jdvala opened #8017 "AttributeError: module 'tensorflow' has no attribute 'streaming_accuracy'"
[code]
while calculating Accuracy in my model I encountered this error!
Don't have any clue why?

[2017-03-02 16:23] yaroslavvb commented on #7378
@tom the solution above with ENV var doesn't work?

[2017-03-02 16:31] dovanchan commented on #2033
E tensorflow/stream_executor/cuda/cuda_dnn.cc:385] could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR
E tensorflow/stream_executor/cuda/cuda_dnn.cc:352] could not destroy cudnn handle: CUDNN_STATUS_BAD_PARAM
F tensorflow/core/kernels/conv_ops.cc:532] Check failed: stream->parent()->GetConvolveAlgorithms(&algorithms)

MAC Tensorflow1.0 GTX650m  cudnn5.0 cuda8.0 .
How to slove this problem?>

[2017-03-02 16:42] drpngx commented on #7026
Yay!

On Mar 2, 2017 1:48 AM, "Ali Osman Ulusoy" <notifications@github.com> wrote:

[2017-03-02 16:56] jmoraleda commented on #7933
@gunan. Thank you. That makes perfect sense. I imagine the download instructions and tutorials have not been updated yet to reflect this change. I will close this issue.

[2017-03-02 16:56] #7933 closed

[2017-03-02 17:23] Carmezim opened #8019 "[Windows - Bazel] ERROR: No toolchain found for cpu 'x64_windows'"
It is more probable to be something related to Bazel but I am posting here as well just in case.

Windows 10 x64
Msys2 v20160205
Bazel 0.4.3 (tested with 0.4.4 as well)
Visual C++ 2015

I get this error when building with Bazel after successfully configuring TensorFlow
[code]

#### Steps to reproduce:
- Compile Bazel or use a pre-built binary (both yielded same result)
- Clone TensorFlow repositor

[2017-03-02 17:30] Carmezim commented on #7995
Great that you solved. If you're not facing any other issues this can be closed now.

[2017-03-02 17:51] ClarkZinzow commented on #7999
Already an existing issue #7989 with a pull request that fixes the issue: #7990.  Just waiting for a CLA to be signed.

[2017-03-02 18:21] cancan101 opened #8020 "Make quantize_graph importable"
Currently `quantize_graph` is a runnable script but does not seem to be importable.
This import fails:
[code]

[2017-03-02 18:25] pseudotensor commented on #7988
Hi, that actually worked, thanks!  Do you have a clear idea why the scope is messed-up when the graph and optimizer are in the same scope?  That cnn_1_cnn is a very deep scope and the optimizer shouldn't have been anywhere near such a scope.  Thanks!

[2017-03-02 18:33] blueevangelion commented on #7959
Anyone knows  what is going on?

[2017-03-02 18:39] garibarba opened #8021 "pywrap_tensorflow.list_devices() allocates all available memory (on all GPU devices)"
### Environment info
Operating System:
Ubuntu 14.04.5 LTS
Python 3.4.3

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
libcudadevrt.a  libcudart.so.8.0     libcudart_static.a  libcudnn.so.5      libcudnn_static.a
libcudart.so    libcudart.so.8.0.61  libcudnn.so         libcudnn.so.5.1.5

If installed from binary pip package, provide:

1. A lin

[2017-03-02 18:42] Mazecreator opened #8022 "ADD to CONTRIB: single_image_random_do_stereograms for data analysis"
I have written a TensorFlow OP "single_image_random_dot_stereograms" which takes a 2 D array with Z values and outputs a Stereogram image for use in "encode_png/jpg".

it is based upon this paper:
http://www.learningace.com/doc/4331582/b6ab058d1e206d68ab60e4e1ead2fe6e/sirds-paper

I am sure this can be used to output data to TensorBoard as well but haven't tried that yet.

I would like to offer to

[2017-03-02 18:43] garibarba commented on #2471
#8021
Check if you are running `pywrap_tensorflow.list_devices()` before setting the limitation for your process.

[2017-03-02 18:53] agniszczotka opened #8023 "logger dublication"
When basicConfig() from logging (python 2.7.11) is used, tensorflow duplicates output of logger (load logger twice).

Example code and output:
[code]

output:
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/qn/z_b3zdss1g730kn_mlrwcwnc0000gn/T/tmpEdygBY
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/qn/z_b3zdss1g730kn_mlrwcwnc0000gn/T/tmpEdygBY

[2017-03-02 19:06] gunan commented on #7980
Ah, wait now I see.
The issue is you are missing the `mock` library. Sorry for the confusion.

Could you try running `sudo pip install mock` and see if that resolves the issue for you?

[2017-03-02 19:06] lobachevzky opened #8024 "Building with XLA throws 'error: non-constant-expression cannot be narrowed from type 'std::vector<se::DeviceMemoryBase>::size_type' (aka 'unsigned long') to 'long long' in initializer list'"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
https://github.com/tensorflow/tensorflow/issues/5143
https://github.com/bazelbuild/bazel/issues/596
https://github.com/tensorflow/tensorflow/issues/4103
http://stackoverflow.com/questions/39157631/tensorflow-build-error-with-bazel
http://stackoverflow.com/questions/37313212/tensorflow-baze

[2017-03-02 19:13] ClarkZinzow commented on #8014
That `tf.contrib.layers.linear` link should probably just be removed.  There are no op links for the other activation function aliases (partial objects), `tf.contrib.layers.relu` or `tf.contrib.layers.relu6`, on the Python API Guides page.  I can remove the `@{tf.contrib.layers.linear}` line from the [`docs_src` file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/api_gui

[2017-03-02 19:22] dr4b commented on #7757
I put in a redirect for this and corrected the API docstrings internally, but it has to propagate out to the site.  Still, you should get redirected now (you may have to reload your browser if the 404 is cached)

[2017-03-02 19:22] #7757 closed

[2017-03-02 19:35] cancan101 opened #8025 "quantize_graph round and quantize modes are broken"
Looking at code in master. /CC @petewarden

A `KeyError` is always produced.

[Consider the `round` mode](already_visited):
[code]
which [will fails for all calls](https://github.com/tensorflow/tensorflow/blob/fa4ba830f437fdb9dc1085b4d68a3bab41a16e20/tensorflow/tools/quantization/quantize_graph.py#L402-L404):
[code]
with a key error since the `already_visited` dict will be empty.

[2017-03-02 19:46] kilho commented on #7579
when using conda (window), to update to 1.0.0

1. remove tensorflow
pip uninstall tensorflow
or
conda uninstall tensorflow

2. install tensorflow
install with
conda install -c conda-forge tensorflow=1.0.0

[2017-03-02 20:18] avantol commented on #7905
@tatatodd: THANKS!!! Using make (instead of Bazel) to build tensorflow:

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#raspberry-pi

worked....  and label_image builds correctly now.

I also had to update protobuf to 3.2.0, others should take note.

My conclusion is that Bazel on Raspberry Pi is a *huge waste of time*, it just doesn't work, likely a problem with

[2017-03-02 20:18] #7905 closed

[2017-03-02 20:30] avantol opened #8026 "(Withdrawn)"
Withdrawn

[2017-03-02 20:39] jundengdeng opened #8027 "Unable to load "_lstm_ops.so" when using rnn.LSTMBlockCell on Windows 10"
### Environment info
Operating System:
Windows 10, 64 bit

Installed version of CUDA and cuDNN:
CUDA 8.0
cuDNN 5.1

Intalled TF by the following:
pip3 install --upgrade tensorflow-gpu

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)
[code]

### Logs or other output that would be helpful
(If logs are large, please upload as

[2017-03-02 20:59] ClarkZinzow opened #8029 "Multiple broken g3doc links"
There are, by my count, at least 20 broken g3doc links scattered among documentation, code, and build scripts caused by [this commit](https://github.com/tensorflow/tensorflow/commit/1c707ac780313f48a6733dc3beedf4b8a2b3df77) migrating g3docs to the docs_src + source code documentation generating system.  So far, in relation to this, the following issues have been opened: #8014, #7999, #7989, and th

[2017-03-02 21:12] dartdog opened #8030 "TensorBoard not finding files to display, suggested solution?"
It seems that the default location for the log files, for most tutorials is in the system root tmp directory.. eg /tmp. This directory cannot normally be found by starting the tensorboard program according to instructions, nor do the debug instructions on the readme page for Tensorboard help at all.. Since they: Grep/ starting in debug Mode etc.. also depend on seeing directories within the user s

[2017-03-02 21:21] Andrechang opened #8031 "Can't Build XLA compiler for Tensorflow"
I am trying to compiler tensorflow using bazel following the steps in https://www.tensorflow.org/install/install_sources#ConfigureInstallation.

My system is Ubuntu 16.04
gcc -v 5.4
I want to use XLA compiler so set it in the ./configuration file.
I am using CPU only for now.
I tried with pip and pip3

I get the following Error:

[code]

[2017-03-02 21:23] clrogers2 commented on #7809
I had the same issue, but with a clean install of python 3.5, Tensorflow 0.12 and TFlearn 0.3 in a conda environment. After checking to confirm that this module was missing in my site-packages folder, I checked the Github repository for Tensorflow and discovered that 0.12 did not have the core_rnn module (possibly due to a rollback), but 1.0 did. The fix for me was to update to Tensorflow 1.0.

I'

[2017-03-02 21:24] kmhofmann commented on #7951
@mrry One "data set" can be composed of anything between ~500-30,000 dynamically generated samples. At the moment, we don't perform specific operations at the end of each data set, i.e. everything gets put into the same (large) random shuffle queue, to mix samples between data sets. But I could also imagine cases where separation of sets might be helpful.

[2017-03-02 21:43] ageron commented on #1062
About 60 lines of tests, 4 lines of documentation, and 3 lines of "actual" code.  ;-)

[2017-03-02 22:02] tatatodd commented on #7941
It's certainly possible to target TensorFlow's XLA HLO IR from other projects, though our team doesn't have the bandwidth to support efforts like this in depth right now.

I'm closing this issue for now since it isn't a bug or feature request that we'll be addressing in the near term. However, if you **are** planning a major initiative to target XLA from another project, please do let us know soon

[2017-03-02 22:02] #7941 closed

[2017-03-02 22:07] tatatodd commented on #7961
@sijanonly I believe that should resolve your problem, so I'm closing this out.

If you have other problems feel free to file new issues.  Thanks!

[2017-03-02 22:07] #7961 closed

[2017-03-02 22:08] tatatodd commented on #7962
@concretevitamin might have some advice here.

[2017-03-02 22:14] tatatodd commented on #7964
Thanks for the note @ppwwyyxx .

I'm closing this out.  @CharlesShang please follow up on #5558

[2017-03-02 22:14] #7964 closed

[2017-03-02 22:20] tatatodd commented on #7967
@TimZaman Perhaps you can try this on TensorFlow 1.0 to see if this is fixed?

[2017-03-02 22:23] tatatodd commented on #7968
@mcr-ksh Thanks for the info.  But your minimal example is too minimal.  :)

Can you provide a **self-contained** minimal example that demonstrates the problem, along with the full log / error trace?  Thanks!

[2017-03-02 22:31] tatatodd commented on #7969
@TimZaman Thanks for the comment.  I assume you've seen the following documentation, since you understand how SAME padding works:
https://www.tensorflow.org/api_guides/python/nn#Convolution

But this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions ther

[2017-03-02 22:31] #7969 closed

[2017-03-02 22:32] tatatodd commented on #7970
@ispirmustafa might have some ideas.

[2017-03-02 22:37] pdrews opened #8033 "Direct access to Tensor Buffers in C++ interface"
I would like to request direct access to the tensorflow buffers through the C++ interface.  I have commented previously about this on [StackOverflow](http://stackoverflow.com/questions/39379747/import-opencv-mat-into-c-tensorflow-without-copying), and have gotten it to work by exposing the `TensorCApi` class.  This required some fiddling around with the source code.

My specific use case is using

[2017-03-02 22:39] gunan commented on #7854
@aselle I have not seen any other reports of this.
@cw1204772 Could you try to get a stack trace for us to inspect?

@mkamranmalik You are seeing a different error, on a different Operating system. Your report here will just confuse us when trying to help our with the actual issue reported at the top.
You need to file a new issue by filling in all the information we are requesting for us to be abl

[2017-03-02 22:39] mcr-ksh commented on #7968
sure.

`# python3.5 train.py --model gru
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcudnn.so.5 locally
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcufft.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:13

[2017-03-02 22:54] tatatodd commented on #7974
@happygds

If you believe this is a bug please boil this down to a small reproducible example, and include the version of TensorFlow you're using.

If you're looking for debugging help, this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there.

Closi

[2017-03-02 22:54] #7974 closed

[2017-03-02 22:55] tatatodd commented on #7976
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-02 22:55] #7976 closed

[2017-03-02 23:11] rgabbard opened #8034 "SparseTensor constructor change not noted as a breaking change in 1.0"
The `shape` keyword argument of the `SparseTensor` constructor changes its name to `dense_shape` between Tensorflow 0.12 ([relevant API document](https://www.tensorflow.org/versions/r0.12/api_docs/python/sparse_ops/sparse_tensor_representation#SparseTensor)) and Tensorflow 1.0 ([relevant API document](https://www.tensorflow.org/versions/r0.11/api_docs/python/sparse_ops/sparse_tensor_representation

[2017-03-02 23:11] cancan101 opened #8035 "obsfucate_names spelled wrong"
I assume this isn't a pun...

https://github.com/tensorflow/tensorflow/search?utf8=%E2%9C%93&q=obsfucate_names

[2017-03-02 23:12] tatatodd commented on #7986
Would you like to submit a PR to fix this?  We have limited manpower for tf.contrib, but definitely welcome contributions!  :)

[2017-03-02 23:17] tatatodd commented on #7988
Thanks for the suggestion @Leishuyu-bupt , and thanks for filing the issue @pseudotensor .  I'm glad the fix works!

To follow-up on variable scopes, please use [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow), since there is a larger community that reads questions there. Thanks!

[2017-03-02 23:17] #7988 closed

[2017-03-02 23:18] gunan commented on #7966
CC @mrry @guschmue any ideas?

AFAIK immintrin.h is a header file for intel SIMD intrinsics.
Maybe the compilation issues are related to VS2017 as we are not seeing them in our builds that use vs2015?
The files you edited should be specific to windows. We should be able to test if your changes are OK on older versions of VS (2015 update 3 is the only one we actually test on).

[2017-03-02 23:18] tatatodd commented on #7989
Closing this out.  Thanks for filing the bug @purlvin , and for the tips @calpa !

[2017-03-02 23:18] #7989 closed

[2017-03-02 23:20] yelongclass opened #8036 "Could LSTM model be used to predict from multivariate variables"
I am doing a project on water content predictions. The input variables on time series include temperature, rainfall and so on. I do not know whether LSTM can predict from multiple variables or not. And I do not know how to do it? Could anybody please help me and provide such a related example? Thank you very much.

[2017-03-02 23:22] tatatodd commented on #7991
@lemonzi Thanks for filing the issue, and using tfdbg!

What version of TensorFlow are you using, and on which OS / architecture?

Assigning this to @caisq to follow up.

[2017-03-02 23:27] esd100 commented on #2940
@victorv Thanks. Sorry for the delay.

[code]

[2017-03-02 23:28] tatatodd commented on #7993
@sguada @nathansilberman might have some ideas here.

[2017-03-02 23:29] tatatodd commented on #7994
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-02 23:29] #7994 closed

[2017-03-02 23:30] guschmue commented on #7966
intrinsics_port.h is there because vs2015 does not implement all of them.
but vs2017 does have them. So maybe something like
#if _MSC_VER < 1910
in intrinsics_port.h will make both vs2015 and vs2017 work.

[2017-03-02 23:30] lemonzi commented on #7991
It's great to have so much tooling! :)

I'm on OSX 10.10, TensorFlow 1.0.0 without GPU from PyPi. I checked the relevant code on `master` when I submitted the issue and it appeared to be the same.

[2017-03-02 23:31] tatatodd commented on #7995
@flyi Thanks for posting your problems and the fix!

I'm closing this out.  If you have any other problems, feel free to open a new issue.  Thanks!

[2017-03-02 23:31] #7995 closed

[2017-03-02 23:31] tatatodd commented on #7996
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-02 23:31] #7996 closed

[2017-03-02 23:33] gunan commented on #7940
I spoke to a few people, and it looks like this is what we tried to mean there:

If you already have a version of protobuf installed, you should run the uninstall command. After that when you run `pip install tensorflow`, this command will install the correct version of protobuf, as it will install all TensorFlow dependencies.

We will update the website to reflect the above.

[2017-03-02 23:33] ajl412860 opened #8037 "How to compile tensorflow using SSE4.1, SSE4.2, and AVX."
Just got tensorflow running. Now running into this error.

Currently using Mac Yosemite, downloaded tensorflow using pip3 through anaconda, using python 3.5.

`W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but these are available on your machine and could speed up CPU computations.`

`W tensorflow/core/platform/cpu_feature_gu

[2017-03-02 23:34] tatatodd commented on #7998
@xarxziux Thanks for the redirect!  And note that the SSE warnings are innocuous.

I'm closing this out, since this is a duplicate of #7500 .

[2017-03-02 23:34] #7998 closed

[2017-03-02 23:35] tatatodd commented on #7999
Thanks for filing the bug @Bihaqo , and thanks for the redirect @ClarkZinzow !

Closing this out.

[2017-03-02 23:35] #7999 closed

[2017-03-02 23:35] tatatodd commented on #8000
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-02 23:35] #8000 closed

[2017-03-02 23:35] tatatodd commented on #8002
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-02 23:35] #8002 closed

[2017-03-02 23:48] tatatodd commented on #8003
Thanks for reporting the issue @fuhuamosi !

@MicaelCarvalho is exactly right.  In general, it's impossible for `tf.case` to know the output shape in all scenarios.

It's true that in the original example, it looks "easy" to infer the output shape.  But the trade-off is the additional code complexity to implement this behavior, that only works for a handful of scenarios.  In typical real usage of

[2017-03-02 23:48] #8003 closed

[2017-03-02 23:50] tatatodd commented on #8004
Closing this out, please follow up on #7993

[2017-03-02 23:50] #8004 closed

[2017-03-02 23:54] yaroslavvb commented on #2940
Have you tried setting `LD_LIBRARY_PATH`?
There's also this [issue](https://github.com/tensorflow/tensorflow/pull/664#issuecomment-170134955) which tracked down similar "strlen + 18" to getenv `LD_LIBRARY_PATH` returning null

I actually see similar `strlen + 18` with probability 50% on latest MacOS when I create session in GPU TensorFlow with `CUDA_VISIBLE_DEVICES` set to empty.

Most likely thin

[2017-03-03 00:04] tatatodd commented on #8005
@dorienh Yes, the rnn logic moved from `tf.contrib.rnn` to `tf.nn` for TensorFlow 1.0

I suggest you contact the authors of the tutorial, for them to make the appropriate updates.

I know renaming and code-moving is painful, but note that now that we're on TensorFlow 1.0, we have API compatibility guarantees:
https://www.tensorflow.org/programmers_guide/version_semantics

If you're looking for tut

[2017-03-03 00:04] #8005 closed

[2017-03-03 00:06] tatatodd commented on #8006
Thanks for filing the issue @jumemae , and thanks for the reply @microtony !

For future reference, this type of question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-03 00:06] #8006 closed

[2017-03-03 00:12] tatatodd commented on #8010
@danijar Thanks for filing this issue!

I believe it's a duplicate of #4663 , so I'm closing this out.  If you feel I've made a mistake, respond to this issue and I'll re-open it.

[2017-03-03 00:12] #8010 closed

[2017-03-03 00:15] tatatodd commented on #8011
@pannous Thanks for the concise and clear issue!

@dandelionmane the suggestion sounds reasonable, can you comment?

[2017-03-03 00:17] tatatodd commented on #8012
@bfbd888 I think this like indicates a network issue:

[code]

Make sure you're connected to the internet?

[2017-03-03 00:19] tatatodd commented on #8014
Thanks for filing the issue @Mec-iS , and thanks for the analysis @ClarkZinzow !

I'm closing this out, since #8029 covers this as well.

[2017-03-03 00:19] #8014 closed

[2017-03-03 00:21] tatatodd commented on #8016
@chenleo What version of TensorFlow are you using?  Sounds like a version mismatch.

[2017-03-03 00:23] tatatodd commented on #8017
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there.

Also, I suggest on your StackOverflow question that you include the version of TensorFlow you're using.

Thanks!

[2017-03-03 00:23] #8017 closed

[2017-03-03 00:26] tatatodd commented on #8019
@Carmezim It looks like the right folks are involved on your Bazel issue.

I'm closing this out for now; if you feel I've made a mistake, respond to this issue and I'll re-open.  Thanks!

[2017-03-03 00:26] #8019 closed

[2017-03-03 00:26] caisq commented on #7991
This should have already been fixed in master branch HEAD. Please see:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/debug/wrappers/framework.py#L378

The fix should become usable to external users on the next successful nightly build and/or the next release (r1.1).

[2017-03-03 00:26] #7991 closed

[2017-03-03 00:30] mrry commented on #8033
/cc @keveman, who was also interested in doing this today (and came up with a slightly different solution...).

[2017-03-03 00:51] guschmue commented on #7966
btw, #8008 will pass CI for windows because CI does not build for /arch:avx2.
If you'd turn on avx2 it would fail on vs2015.
But avx2 fails anyway since https://github.com/tensorflow/tensorflow/commit/ed6357cbd4f6e47ab87b219a0e0840739c92c970 which I was planning to fix (I only noticed because we build for avx2).

[2017-03-03 00:51] Carmezim commented on #8037
You need to build TensorFlow from source.

SO question about this: http://stackoverflow.com/questions/41293077/how-to-compile-tensorflow-with-sse4-2-and-avx-instructions
TensorFlow guide to build from source: https://www.tensorflow.org/install/install_sources

[2017-03-03 01:21] MichaelLiang12 commented on #1990
@martinwicke Thank you, your advice worked for me.

[2017-03-03 01:22] bfbd888 commented on #8012
If it's network error, I think it is because I'm in china.
thanks very much.

[2017-03-03 01:31] ttjs8423219 commented on #8002
all right!thanks!

[2017-03-03 02:01] Leishuyu-bupt commented on #7988
@pseudotensor Hi, I don't know the reason why the scope is messed-up clearly when the graph and optimizer are in the same scope. I guess that some variables like "cnn_1_cnn/weights/Adam/" can not create in the scope, so i initialize the tf.train.Adam out of the scope.

[2017-03-03 02:28] danbergeland commented on #6586
It's tied to the tf.one_hot() issue.

[2017-03-03 02:28] #6586 closed

[2017-03-03 02:33] anemochore commented on #135
@yselivonchyk Thanks! Now the error was solved. TensorFlow 1.0.0(CPU) on Anaconda 4.2(Python 3.5.2) with Win8.1 64bit.

[2017-03-03 02:39] chenleo commented on #8016
I used the master rep version. despite from that, I did not found the correspond /cc folder locates in bazel-out/local-fastbuild/genfiles/tensorflow/cc, in the makefile project, (I think is somewhere like gen/host_obj/tensorflow/), which leads me to think that the ops namespace is not supported.

[2017-03-03 02:52] tatatodd commented on #8012
OK, feel free to open a new issue if you have a new problem.  Thanks!

[2017-03-03 02:52] #8012 closed

[2017-03-03 02:58] tatatodd commented on #8029
Thanks for filing the detailed issue @ClarkZinzow !

@xmbrst @dr4b Can you guys take a look?

[2017-03-03 02:59] tatatodd commented on #8034
@concretevitamin can you comment on this?

[2017-03-03 03:00] tatatodd commented on #8035
FYI @petewarden

[2017-03-03 03:00] tatatodd commented on #8036
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-03 03:00] #8036 closed

[2017-03-03 03:05] Pro-YY commented on #37
Looking forward to it. :+1:

[2017-03-03 03:09] tatatodd commented on #7938
@cancan101 we'd welcome community contributions in this regard!

[2017-03-03 03:14] tatatodd commented on #7936
@yehenrytian Why do you say that the example is not working properly?

[2017-03-03 03:15] tatatodd commented on #6285
In that case I'll close this issue out.  @kalkaneus feel free to file a new issue if you encounter new problems.  Thanks!

[2017-03-03 03:15] #6285 closed

[2017-03-03 03:36] ckcz123 opened #8040 "Is it able to set `allow_growth=True` to environment variables?"
Hi all, we a device with 3 gpus, and there are several people who are learning deep-learning.
However, while using tensorflow, all gpus will be used, which causes others not able to calculate.

We know setting `config.gpu_options.allow_growth = True` in python code can avoid this, but there are always some people who forget to do this.

So I wonder if we can set `config.gpu_options.allow_growth =

[2017-03-03 03:41] yehenrytian commented on #7936
@tatatodd Basically, I saw the same graph as from Step 2 with the .json file generated from Step 3 (when opened in chrome). And I don't see the console output of:

`computation cluster_0[_XlaCompiledKernel=true,_XlaNumConstantArgs=1].v82 [CPU:
pipeline start, before inline]: /tmp/hlo_graph_0.dot`

And I don't see any .dot file generated in the /tmp folder.

I build TF r1.0 branch with XLA enabled.

[2017-03-03 04:28] badjano commented on #5343
I also am getting the ImportError but I have located libcudart.so.8.0 inside /usr/local/cuda-8.0/lib64 and I have the symlink cuda pointing to cuda-8.0.

I have received a warning when installing cuda 8 that I needed to have at least nvidia driver 361, which I ignored because I have 367.57

[2017-03-03 04:29] cancan101 commented on #7938
The docs for [quantization](https://github.com/tensorflow/tensorflow/blob/dc6353d12fd41ec869283679dd7766ebff75c520/tensorflow/docs_src/performance/quantization.md) should also probably be updated to point to the new graph transform tool.

[2017-03-03 04:31] cancan101 commented on #5757
For me it is important to be able to run the 8 bit model on my CPU before deploying to iOS as I want to check the score on my test test to determine how much degradation in quality is caused by the quantization before shipping off the model.

[2017-03-03 04:41] CharlesShang commented on #7964
Thank you

[2017-03-03 04:46] gunan commented on #5343
Import Error can have a lot of different underlying issues. We will need to see the full error message.
Could you file a new issue, by filling out the full template?

[2017-03-03 04:46] zakizhou opened #8041 "broken link for flower photos in the official tutorial about transfer learning"
In official tutorial "How to Retrain Inception's Final Layer for New Categories", link for downloading flower photos is broken:
`curl -O http://download.tensorflow.org/example_../images/flower_photos.tgz`

[2017-03-03 04:50] sleighsoft opened #8042 "Estimator Tensor not from same graph for predict()"
I run Tensorflow 1.0.
I use Mac OSX Sierra.
I use the `Estimator` and `Layers` api.

This is the first part of my `model_fn` which I pass to `.Estimator(model_fn=...)`.
[code]
I only use `input_fn` to pass data to the individual steps (images, labels).
I train with `estimator.fit(...)` and evaluate with `estimator.evaluate(...)`. Both work fine and create summaries and checkpoints in my model dire

[2017-03-03 05:10] jhli973 commented on #1402
seems no solution yet. I am installing gpu version on windows 10. The installation seems ok at least no error or warning. I have

pip install --ignore-installed --upgrade C:\Users\dbsnail\Downloads\tensorflow_gpu-1.0.0rc2-cp35-cp35m-win_amd64.whl

Traceback (most recent call last):
  File "C:\Anaconda2\envs\py35\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in swig_import_hel

[2017-03-03 05:11] #8026 closed

[2017-03-03 05:11] avantol commented on #8026
Issue filed in error

[2017-03-03 05:24] erko opened #8043 "DNNLinearCombinedClassifier weight_column_name doesn't work in v1.0"
After migrating to tensorflow v1.0 of my sources, weight_column_name in estimators (tested in tf.contrib.learn.DNNLinearCombinedClassifier) seems to not working now.
Scripts now outputs this error:
`ERROR:tensorflow:Could not create metric ops for MetricSpec(metric_fn=_predictions_streaming_mean, prediction_key=logistic, label_key=None, weight_key=class_weights)`

### Environment info
Operating Sy

[2017-03-03 05:25] cancan101 opened #8044 "Broken link in Adding a New Op to zero_out_op_1.py"
The link in [Adding a New Op](https://github.com/tensorflow/tensorflow/blob/b10f50ff15944badb7262a207f6628dfa52d6a9d/tensorflow/docs_src/extend/adding_an_op.md#L244) to `zero_out_op_1.py` is broken. It points to: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/g3doc/how_tos/adding_an_op/zero_out_op_1.py.

[2017-03-03 06:36] agupta74 opened #8047 "Error in tensorflow debugger (tfdbg) while executing session run call in child thread"
I ran tensorflow debugger using the command "python -m <PythonModule> --debug" but got the following error (i,e Signal only works in main thread):

![screenshot3png](https://cloud.githubusercontent.com/assets/21690396/23540767/24df69c6-ff98-11e6-96bf-5ee98a439f77.PNG)

The error is thrown when a session run call is executed in a child thread (spawned from main thread). Is tensorflow debugger only

[2017-03-03 07:39] jheffez commented on #7637
I'm getting the errors using the latest nightly TF build (3/3/2017) with the Iris dataset. I see this issue as closed. So how was it fixed?
using python 3.5.1 on Windows, no gpu.
code is the same as the example in https://www.tensorflow.org/get_started/tflearn

Errors:

C:\Users\Jake\py\my_env\lib\site-packages\tensorflow\python\util\deprecation.py:248: FutureWarning: comparison to `None` will res

[2017-03-03 07:45] jonygli opened #8049 "AttributeError: module 'tensorflow.python.ops.nn' has no attribute 'rnn_cell'"
on `win7 x64`

python version is `3.5`
tensorflow's version is `1.0.0`, and it is installed by `pip install tensorflow-gpu`

and, it seems I can replace `tf.nn.rnn_cell with tf.contrib.rnn`,...

[2017-03-03 07:54] gunan commented on #8037
Just like @Carmezim these are simply warning messages.
For each of your programs, you will only see them once.
And just like the warnings say, you should only compile TF with these flags if you need to make TF faster.

You can follow our guide to install TensorFlow from sources to compile TF with support for SIMD instruction sets.

[2017-03-03 07:54] #8037 closed

[2017-03-03 07:59] gunan commented on #7997
Looks like you also filed the issue #7890
Are these different issues or the same issues?

[2017-03-03 08:00] gunan commented on #7890
I will close this issue in favor of other one. This issue has very little information, and your screenshot only shows some benign information messages.

[2017-03-03 08:00] #7890 closed

[2017-03-03 08:07] gunan commented on #7725
Did you set all the environment variables listed here:
https://bazel.build/versions/master/docs/windows.html#requirements

Namely, you will need to set the following environment variables for bazel to work correctly on your system.
[code]

[2017-03-03 08:38] Sergiodiaz53 commented on #7980
I'm in macOS 10.12.3 and I have the same error. When I try to install mock it says it is already installed.

[2017-03-03 08:56] gunan commented on #7980
Sergio could you copy paste your full error message?
The last error can look similar, but the real error may be hidden in the
big stack trace preceeding the last import error.

On Mar 3, 2017 12:38 AM, "Sergio Díaz" <notifications@github.com> wrote:

[2017-03-03 09:25] ageron commented on #1062
A sneak preview:
[code]

[2017-03-03 09:36] ageron commented on #1062
Note that although NumPy arrays support the @ operator, they play nice with unknown types: when the _rhs_ is not a NumPy array and it has an `__rmatmul__()` method, they return `NotImplemented` so that python calls that method instead.  This is why `np_a @ tf.b` works like a charm, thanks to NumPy.  I think I will open a feature request to make tensors behave the same way, returning `NotImplemente

[2017-03-03 09:40] pcfsanty commented on #5243
@kushia
used tile api with (images, [128,1,1,1] )
Now tensor dimension matches with training. But accuracy top_5_pred is not correct.
very bad accuracy % with training max_steps = 500000

[2017-03-03 09:45] sidh104 commented on #7853
removing the 'axis' and 'values' word from where??? @tranvanhoa533

facing the same error in another project
https://github.com/buriburisuri/speech-to-text-wavenet/issues/48

[2017-03-03 09:56] kinDSa commented on #7766
@andrewharp  while I unzip apk  produce by gradle I get output which attach in these file: [output.txt](https://github.com/tensorflow/tensorflow/files/816410/output.txt)

[2017-03-03 10:15] ageron opened #8051 "Make tf.Tensor's magic functions (e.g., `__add__()`) play nice with unknown types"
`tf.Tensor`'s magic functions should return `NotImplemented` rather than raising an exception when they are given an object of an unsupported type (i.e., an object that TensorFlow cannot `convert_to_tensor()`). This would give that object a chance to perform the operation with its reverse magic function (e.g., `__radd__()`). See the code example below. Note that this is what NumPy arrays do.

###

[2017-03-03 10:21] kvrd18 commented on #492
@yaroslavvb Does the current tensorflow version release the gradOutputs and the activations from the memory as soon as the gradInputs are computed? The peak memory will be achieved when the first gradInput is computed, if I'm correct.

[2017-03-03 10:46] kavishdahekar commented on #7569
@wangg12

This change should be updated on the tutorials page here : https://www.tensorflow.org/versions/master/tutorials/layers/

[2017-03-03 11:00] yunjey commented on #7951
Please support reading hdf5 file directly.

[2017-03-03 12:03] shashank879 commented on #4744
I am also experiencing a similar issue. I get almost same total training time while training my network on a single GPU (TitanX 12GB) and 4 GPUs(1080 8GB each), and selecting a proper batch_size via trial and error, single GPU outperforms the 4 GPUs. I anyone is willing to look into it I can provide the necessary details.

[2017-03-03 12:08] cw1204772 commented on #7854
Back trace result using gdb
[code]

Terminal message during execution: (only use 10 epoch for inferencing mode)
[code]

[2017-03-03 12:11] wangg12 commented on #7569
@kavishdahekar  Your link is 404 not found. At least in China :(

[2017-03-03 12:28] pavelbulanov commented on #7966
@guschmue I changed precompiler check to `#if _MSC_VER < 1910` and it expectedly works for VS2017 build tools.

Meanwhile, is it OK that inclusion of `immintrin.h` is implicit? It's only mentioned in `intrinsics_port.h`, but not included directly anywhere.
It seems inclusion of immintrin is passed by usage of external `highwayhash`. But these operations (`_mm256_extract_epi32 `and `_mm256_insert_e

[2017-03-03 12:48] untom commented on #7951
Personally, I'm a very big fan of the `feed_dict` method of feeding data into the graph. It is by far the most flexible, makes debugging way easier and makes for much simpler code. Thus my biggest wish would be to make that method more performant. Right now, this method starves my GPU all the time, which is a shame because most other DL frameworks (even those based on computational graphs) manage

[2017-03-03 13:02] DavidNemeskey opened #8053 "per_process_gpu_memory_fraction causes memory error"
I wrote an LSTM model in tensorflow and use a `Saver` to create a checkpoint after each epoch. So far so good. However, when I add the option `per_process_gpu_memory_fraction=0.9` to the session, it runs out of memory when I save the model right after the first epoch. I have a GeForce Titan X with 12GB of memory; tf uses a bit more than half of it (see below).

Interestingly, if I do not save the

[2017-03-03 13:21] MikeTam1021 commented on #7980
No gunan, I have mock. I have used mock before in my own projects. That is not the issue. This appears to be a tensorflow issue and it seems to have appeared when tensorflow went from one version to two versions - one for the CPU and one for the GPU.

[2017-03-03 14:43] badjano commented on #5343
No problem... Yesterday I tried to install the graphics driver that came with cuda, but my gtx 970 stopped working with ubuntu, today I'm trying to figure out why, but If I come across that error again, I'll file a new issue, thanks

[2017-03-03 15:22] girving commented on #1062
@ageron The problem with that is that "unsupported object" type means anything not convertible to a numpy array or `Tensor`.  It's hard to tell what those things are without trying to the conversion, and in Python the conversion can be a lossy operator (I hate this bit of Python).

[2017-03-03 15:22] victorv commented on #2940
@esd100 is could be LD_LIBRARY_PATH as @yaroslavvb has noted or you could be missing a cuda.1.dylib link in your /usr/local/cuda/lib directory.

lrwxr-xr-x   1 root  staff        33 Feb 16 12:33 libcuda.1.dylib -> /usr/local/cuda/lib/libcuda.dylib

ln -s libcuda.dylib /usr/local/cuda/lib/libcuda.1.dylib

[2017-03-03 15:37] snnn opened #8054 "summarize_graph doesn't recognize VariableV2"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-03 15:48] lemonzi opened #8055 "TensorBoard: Can't load >5 Audio summaries, Broken pipe error"
*Possibly related:* https://github.com/tensorflow/tensorflow/issues/4207
*Setup:* OSX 10.10, TF nightly build of 2017-03-02 without GPU, Python 2.7.13. Affects both Chrome 56.0 and Safari 10.0. I think the official 1.0.0 release also had this issue.

My model logs relatively long audio summaries (~3 minutes long at 16 kHz), and created around 60 of them overnight. The issue also appears with fewer

[2017-03-03 15:53] paulstey commented on #5354
Hi @laventura, I'm not sure if you found a solution yet, but switching from Python 2.7 to Python 3.5 worked for me when I was getting that error.

[2017-03-03 15:54] agniszczotka commented on #3208
I met the same exception: ValueError: None values not supported.
It is impossible to use train model in the way:
`  nn = tf.contrib.learn.Estimator(model_fn=model_fn,model_dir='/path')
    predictions = nn.predict(x=prediction_set.data, as_iterable=True)
`

the hack to solve it is to run an evaluation before a prediction.
`  nn = tf.contrib.learn.Estimator(model_fn=model_fn,model_dir='/path')

[2017-03-03 16:00] mahernadar opened #8056 "error installing tenserflow"
Hello Gents,

I am trying to install the TenserFlow  but when i reach and type this command:

"bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package"

after following all instruction in the following link:
"https://alliseesolutions.wordpress.com/2016/07/05/how-to-install-gpu-tensorflow-0-9-from-sources-ubuntu-14-04/"

i get the following error (I managed to reduced erro

[2017-03-03 16:11] faddey-w opened #8057 "AdamOptimizer's slots "beta1_power" and "beta2_power" are not available via "get_slot()" and "get_slot_names()""
**Preamble.**
I want to explicitly pass list of variables to `tf.variables_initializer()`. I do something like this:
[code]

When I used the `AdamOptimizer`, I got such exception:
[code]

**The problem.**
After digging into the TensorFlow sources, I found that AdamOptimizer overrides its `_create_slots()` in that way:
[code]
It creates two `Variables` and does not store them into `self._slots`, th

[2017-03-03 16:26] faddey-w commented on #8057
`AdamOptimizer` is the one built-in optimizer with such problem. So the simplest fast-and-dirty workaround is to do so:
[code]

[2017-03-03 16:30] kavishdahekar commented on #7569
@wangg12 oh.. but it works from India. Could be something with the DNS's.
Here's another url to the same page : https://www.tensorflow.org/tutorials/layers
Under "Evaluate the Model", the sample code uses
`learn.metric_spec.MetricSpec`
instead of
`learn.MetricSpec`

[2017-03-03 16:44] yehenrytian commented on #7936
I am not sure if it is a testcase issue or not. But I can get another example here: [https://gist.github.com/yaroslavvb/53052184e50cdfec35f0a127dd6df843](https://gist.github.com/yaroslavvb/53052184e50cdfec35f0a127dd6df843) to work with and without XLA and get the same timing as long as the .dot files.

[2017-03-03 17:16] yaroslavvb commented on #492
The memory is released as soon as soon as the tensor is not needed by downstream consumers. So it depends how your gradInput/gradOutputs are wired (ie, you can rewire them to be more memory efficient, like [here](https://github.com/yaroslavvb/notebooks/blob/master/simple_rewiring.ipynb)) .

Even though TensorFlow releases memory right after it's needed, but there's nothing forcing TensorFlow to al

[2017-03-03 17:29] caisq commented on #8047
@agupta74 tfdbg's CLI class attempts to register signal handlers even when not running on the main threads, which is the reason for this error. We will send a bug fix to the master branch.

As a workaround until the bug is fixed, you can pretend that the child process is a "remote process" and use the approach outlined here:
https://www.tensorflow.org/programmers_guide/debugger#offline_debugging_o

[2017-03-03 17:32] caisq commented on #8047
Thank you for reporting this bug, @agupta74!

[2017-03-03 17:42] concretevitamin commented on #7962
@sukritiramesh: can you take a look since you own SavedModel?

[2017-03-03 17:44] yaroslavvb commented on #8051
Seems like a reasonable.

Can we ensure this doesn't increase probability of bugs such as one fixed by https://github.com/tensorflow/tensorflow/commit/a8c3de3bddf01b4b80c986b3bb81d2a1658be3c8 ?

In that case, "numpy_array+tensorflow_variable" delegated addition to numpy, which used the fact that "variable" supports `__getitem__` to generate a expressions of the form

[code]

This added a bunch of

[2017-03-03 17:47] concretevitamin commented on #8034
Adding @ebrevdo @aselle @martinwicke.

[2017-03-03 17:53] yaroslavvb commented on #8040
A PR to add this might take some work, but maybe there's a work-around using sitecustomize. IE, you can use sitecustomize to force Python to always run some code, and this code could be used to load tensorflow, and then monkey session init to use custom config.

IE something like this:
oldinit = tf.Session.__init__
def myinit(session_object, target='', graph=None, config=None):
    print("Intercep

[2017-03-03 18:02] sleighsoft commented on #8042
I did some more testing now. When I move the code out of the `class` then I can call `predict` without any problem. But when calling the estimator from outside the class like so:
[code]
Then I get the above mentioned error.

[2017-03-03 18:05] yaroslavvb commented on #8021
That's a known (mis)feature -- TensorFlow will all memory on all devices unless you set `CUDA_VISIBLE_DEVICES`

[2017-03-03 18:10] sleighsoft commented on #8042
I found this issue https://github.com/tensorflow/tensorflow/issues/4026 which solved my problem ... Maybe it is just me being stupid, but it would be great if you mention that somewhere in the documentation.

[2017-03-03 18:10] #8042 closed

[2017-03-03 18:45] wolffg commented on #8029
Hi!  We are still updating the documentation about how to contribute documentation, but for now:

1. To fix docs in docs_src, a set of PRs of reasonable sizes that contains a few related files would be good---one PR per error is probably overkill, but one huge PR might be hard to review.

2. The support code files for Adding an Op should be re-added, but we will add it to the tensorflow/examples d

[2017-03-03 18:47] mrry commented on #7353
@fesun Thanks for looking into this further. Have you been able to reproduce this with some simple code that runs on a single machine? If so, we can try to reproduce it locally and take a look.

Otherwise, it would be great if you could try to attach some profiling tools such as `pprof` to see if (i) there is some slower path being taken later in the execution, which would show up in a sample-base

[2017-03-03 18:50] garibarba commented on #8021
Doesn't happen if this runs first:
[code]

[2017-03-03 18:57] persiyanov commented on #5588
Is there someone who works on this issue? I could prepare pull request.

[2017-03-03 19:25] SeanTyco opened #8059 "Unable to run tensorflow on Android through android studio"
The build is successful but the app crashes immediately when it's brought up on any device.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
https://github.com/tensorflow/tensorflow/issues/7256
https://github.com/tensorflow/tensorflow/issues/3444 (assembleDebug error - resolved)

### Environment info
Operating System:
Running Android St

[2017-03-03 19:28] ebrevdo commented on #5588
This looks like a subtle bug introduced in a refactoring.  Instead of
array_ops.reverse_sequence, the bidirectional code should call _reverse_seq
in that module.  I'll fix it.

On Fri, Mar 3, 2017 at 10:57 AM, Dmitry Persiyanov <notifications@github.com

[2017-03-03 19:29] ebrevdo commented on #8034
We should change the docs in the updates md AND update the auto TF
rewriting tool to make this fix for the user.

On Fri, Mar 3, 2017 at 9:47 AM, Zongheng Yang <notifications@github.com>
wrote:

[2017-03-03 19:40] guschmue commented on #7966
Might be better to use intrin.h, by don't think its critical.
The calls in sparse_matmul.h are not used in the default windows build: EIGEN_VECTORIZE_AVX is not set. I think if you'd compile with /arch:avx2 or so those become hot. But I know /arch:avx2 has some issue since a week ... will look at it soon.

[2017-03-03 19:43] andrewharp commented on #8059
Relevant line from Exception (it's sort of hidden in the middle):

The most likely cause is that you're only packaging armeabi-v7a libs for an x86 emulated device. Bazel builds multiple ABIs, but the gradle.build only specifies armeabi-v7a, so you should change that to x86 or x86_64.

[2017-03-03 19:43] tatatodd commented on #7952
@tianwang95 an example model that causes the crash would be great, thanks!

@asimshankar Before we have that, do you have any other ideas?

[2017-03-03 19:50] bkovalev opened #8060 "Hi, I am using TF 1.0.0 on ubuntu 16.04 64bit os , I also meets this error, can you help to resolve it, thank you."
[code]

[2017-03-03 19:51] SeanTyco commented on #8059
I did change the cpuType in the build.gradle to x86. I also tried to install the demo on a Pixel C using the armeabi-v7a cpuType.

[2017-03-03 20:08] andrewharp commented on #8059
Hmm, what do you see when you run `unzip -v tensorflow_demo.apk`? (change the filename to whatever the actual output location from gradle is)

[2017-03-03 20:12] agupta74 opened #8061 "Multi-GPU Inference using FIFO Queues issue in TF v1.0.0"
Here is an example multi-gpu inference code which produces incorrect Output in TF v1.0.0 but produces correct output in v0.11.0 (single GPU produces correct output in both versions). Please refer to the attached code for more details.

[InferenceTest.txt](https://github.com/tensorflow/tensorflow/files/817729/InferenceTest.txt)
[Inference.txt](https://github.com/tensorflow/tensorflow/files/817730/I

[2017-03-03 20:50] javiribera commented on #6011
Is anyone aware of work towards making TF's pooling layer accept a tensor with size defined at runtime?

[2017-03-03 21:01] cancan101 opened #8063 "convert_graphdef_memmapped_format does not work on graph quantized with mode="weights""
Using the `quantize_graph` tool and choosing `mode='weights'` produces a graph that when run through `convert_graphdef_memmapped_format` reports:
[code]
Graphs quantized with other modes work (for example `weights_rounded`):
[code]

[2017-03-03 21:03] cancan101 commented on #8063
NM. Looks like tensors did not match the `--min_conversion_tensor_size` threshold.

[2017-03-03 21:03] #8063 closed

[2017-03-03 21:05] christopherhesse opened #8064 "Missing images in docs"
The page https://www.tensorflow.org/api_docs/python/tf/gather has a broken link to an image: https://www.tensorflow.org/api_docs/images/Gather.png

https://www.tensorflow.org/api_docs/python/tf/scatter_add also has a broken link https://www.tensorflow.org/api_docs/images/ScatterAdd.png

In addition, the images seem to be missing from the tensorflow repo.  Could those be put in there? It is hard to

[2017-03-03 21:07] aselle commented on #5360
@petewarden, I believe this still applies. Right?

[2017-03-03 21:10] aselle commented on #8034
@gunan, could you update the release notes, and I'll update the tool

[2017-03-03 21:39] SeanTyco commented on #8059
unzip -v android-debug.apk
Archive:  android-debug.apk
 Length   Method    Size  Cmpr    Date    Time   CRC-32   Name
--------  ------  ------- ---- ---------- ----- --------  ----
    3444  Defl:N     1033  70% 00-00-1980 00:00 9cf79666  AndroidManifest.xml
     773  Defl:N      602  22% 00-00-1980 00:00 fdcf1a2f  META-INF/CERT.RSA
    4775  Defl:N     2220  54% 00-00-1980 00:00 0676efa1  META-IN

[2017-03-03 21:48] pdrews commented on #8033
The C++ interface seems much more concise for this application, but it may be better to use the C interface.  The c interface header doesn't depend on any other headers, so building outside of the tensorflow source tree becomes much easier (a requirement for my project).  However, I cannot find any examples of loading and running a graph using the C api.

If there are concise resources for the C a

[2017-03-03 21:50] mrry commented on #8061
I think this is an instance of a previous issue: #7038. This was fixed at `HEAD` but not in the 1.0 release. Can you try a nightly build and see if that fixes your problem? Thanks!

/cc @alextp to confirm.

[2017-03-03 21:54] andrewharp commented on #8059
You're missing libtensorflow_inference.so for some reason. Check the bazel logs and bazel-bin dir to see if you can figure out what happened to it?

[2017-03-03 22:03] ageron commented on #8051
@yaroslavvb That's a great question. I propose the following alternative solution, to avoid any risk.

When a tensor's LHS magic function is called, then before doing anything we check the following conditions (for example for the addition magic functions):
* `type(RHS)` has `__radd__`
* `RHS.__tensor_priority__` is defined and greater than `LHS.__tensor_priority__` (which defaults to 0).

If both

[2017-03-03 22:04] alextp commented on #8061
Yes, this looks like that issue.

[2017-03-03 22:09] SeanTyco commented on #8059
I found it in the bazel-bin at /tensorflow/contrib/android/libtensorflow_inference.so.

[2017-03-03 22:14] jhli973 commented on #1402
I got the solution, install cuDNN v5.1 for CUDA 8.0
You need to register as a NVIDIA accelerated computing developer program, then from here (https://developer.nvidia.com/rdp/cudnn-download) download and unzip it.
Copy all three subfolders and past it under CUDA folder, in my case is
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA

Then , you should be able to load tensorflow without any error

[2017-03-03 22:23] MikeTam1021 commented on #8056
How about you follow this tutorial instead?

https://www.tensorflow.org/install/install_linux

from the command line, just:

pip install tensorflow

[2017-03-03 22:45] gunan commented on #7980
The first stack trace you have in the report is tied to mock.
The 2nd one however, is not.

Tensorflow also had one CPU and one GPU version in 0.9.0, too.
We just renamed the GPU package after 0.9 to help distinguish the pip packages for users.
And the two version thing has been working for thousands of people for months.

I am suspecting pip tool itself may be struggling to update everything corr

[2017-03-03 22:51] gunan commented on #8056
If you are a beginner on linux, we recommend starting with the command @MikeTam1021 suggested. Since GPU version requires a lot of non-trivial installation of CUDA, cuDNN, and manipulation of environment variables, you should definitely start with the CPU version.

If you are using ubuntu 14.04, you may need to run the pip install command with the URL as follows.
[code]

[2017-03-03 22:51] tatatodd commented on #7956
@langmore Can you comment on this?  Thanks!

[2017-03-03 22:54] tatatodd commented on #7958
Thanks for filing this issue @cancan101 !  I think the commentary described on #4846 and #3001 describes the current situation well.  I'm marking this as "contributions welcome".

[2017-03-03 22:58] xiaoliangbai commented on #7980
pip install --upgrade --ignore_installed tensorflow

"--ignore_installed" solved the issue in my case. Otherwise some of the packages are using system installed ones instead of in virtual environment.

Thanks!

[2017-03-03 23:00] tatatodd commented on #7959
@blueevangelion

Where are you getting `cnn_mnist.py`?

The version of this file at master hasn't changed in 2 months, and doesn't correspond to either of your stack traces:
https://github.com/tensorflow/tensorflow/blame/master/tensorflow/examples/tutorials/layers/cnn_mnist.py

[2017-03-03 23:01] cancan101 commented on #7958
@tatatodd Might be interested in looking at this. Any suggestions for how to tackle this? Is there a concept of GPU device when running on iOS? The BNNS is simpler to think about as it uses the accelerate framework which runs on CPU.

[2017-03-03 23:05] MikeTam1021 commented on #7980
pip install --upgrade --ignore_installed tensorflow

should be:

pip install --upgrade --ignore-installed tensorflow

and it did not solve my issue... same error as before. But I am not using a virtual environment.

[2017-03-03 23:06] gunan commented on #7887
Closing this issue to unify all python 3.6 discussion on #6999

[2017-03-03 23:06] #7887 closed

[2017-03-03 23:14] tatatodd commented on #7968
@mcr-ksh

Here's the API documentation:
https://www.tensorflow.org/api_docs/python/tf/contrib/rnn/GRUCell
https://www.tensorflow.org/api_docs/python/tf/contrib/rnn/BasicRNNCell
https://www.tensorflow.org/api_docs/python/tf/contrib/rnn/BasicLSTMCell

Note that only `BasicLSTMCell` has a `state_is_tuple` argument, the others don't.  And also note that the state_is_tuple=False behavior will soon be d

[2017-03-03 23:14] #7968 closed

[2017-03-03 23:15] ClarkZinzow commented on #8029
Thanks @tatatodd for the labeling and assigning, and thanks @wolffg for the info.  For docs_src fixes, I'll limit the domain of each pull request to sibling files (should provide the right level of granularity for the pull requests; let me know if you think this is too coarse-grained) and I'll let the Adding an Op code files be.  It appears that the latter is starting to get attention: #8044.

I'm

[2017-03-03 23:19] tatatodd commented on #8016
Perhaps @josh11b might know.

[2017-03-03 23:24] tatatodd commented on #8020
I'm not sure whether we intend for the quantize_graph logic to be used directly.

@petewarden would know.

[2017-03-03 23:27] tatatodd commented on #8021
@garibarba I'm glad you discovered `tf.GPUOptions`, and thanks for filing an issue!

Here's documentation on why TensorFlow allocates all GPU memory up-front, by default, and other GPU-related information:
https://www.tensorflow.org/tutorials/using_gpu#allowing_gpu_memory_growth

So basically this is working-as-intended.  Closing this out.

[2017-03-03 23:27] #8021 closed

[2017-03-03 23:28] ClarkZinzow commented on #8044
Hi @cancan101, I briefly mentioned this broken link in #8029 as an example of the many broken g3doc links.  It looks like all of the broken links on the Adding a New Op page have been fixed by #8066, which has just been merged.

[2017-03-03 23:28] gunan commented on #7980
@xiaoliangbai I'm glad the issue is resolved for you.

@MikeTam1021 This is interesting. What is your Anaconda installation located?
Is it possible we need to add "sudo" to all pip commands we have?

[2017-03-03 23:31] tatatodd commented on #8022
Very cool stuff @Mazecreator , thanks for sharing!

@martinwicke Can you give some advice on whether this should go into contrib, or what other options there might be?  Thanks!

[2017-03-03 23:32] gunan commented on #8044
I will then close this issue, since it looks like it is resolved.
Please comment if it is not, then I can reopen it right away.

[2017-03-03 23:35] aselle commented on #7653
Thanks @zheng-xq. Closing the issue since this won't be something that can work.

[2017-03-03 23:35] #7653 closed

[2017-03-03 23:36] martinwicke commented on #8022
contrib is the right place I'd say.

[2017-03-03 23:37] aselle commented on #7789
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:37] #7789 closed

[2017-03-03 23:38] aselle commented on #7550
@tawantinsuyu, unfortunately no, we won't downgrade the default version, because that would break users who already updated. To use an older version, an easy way is to use docker. You can also find the previous .whl from our web site and install that, but we don't recommend that. Good luck. Thanks!

[2017-03-03 23:38] aselle commented on #7550
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:38] #7550 closed

[2017-03-03 23:38] aselle commented on #7643
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:38] #7643 closed

[2017-03-03 23:38] ClarkZinzow commented on #8044
My mistake, the broken links on Adding a New Op are not fixed by the pull request.  The code files are where they should be, but the links weren't changed in [adding_an_op.md](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/extend/adding_an_op.md).

[2017-03-03 23:38] aselle commented on #7751
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:38] #7751 closed

[2017-03-03 23:38] aselle commented on #7728
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:38] #7728 closed

[2017-03-03 23:38] aselle commented on #7696
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:38] #7696 closed

[2017-03-03 23:39] aselle commented on #7582
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:39] #7582 closed

[2017-03-03 23:39] aselle commented on #7660
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:39] #7660 closed

[2017-03-03 23:39] aselle commented on #5289
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:39] #5289 closed

[2017-03-03 23:39] aselle commented on #7656
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:39] #7656 closed

[2017-03-03 23:39] aselle commented on #7661
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:39] #7661 closed

[2017-03-03 23:39] aselle commented on #7622
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:39] #7622 closed

[2017-03-03 23:39] gunan commented on #8044
reopened :)

[2017-03-03 23:39] aselle commented on #7647
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:39] #7647 closed

[2017-03-03 23:41] aselle commented on #7644
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:41] #7644 closed

[2017-03-03 23:41] aselle commented on #7625
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:41] #7625 closed

[2017-03-03 23:42] aselle commented on #7540
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:42] #7540 closed

[2017-03-03 23:42] aselle commented on #7530
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:42] #7530 closed

[2017-03-03 23:42] aselle commented on #7473
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:42] #7473 closed

[2017-03-03 23:42] aselle commented on #7440
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:42] #7440 closed

[2017-03-03 23:42] aselle commented on #7457
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:42] aselle commented on #7414
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:42] #7414 closed

[2017-03-03 23:43] aselle commented on #7397
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:43] aselle commented on #7181
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:43] #7181 closed

[2017-03-03 23:43] aselle commented on #7320
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:43] #7320 closed

[2017-03-03 23:43] aselle commented on #7373
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:43] #7373 closed

[2017-03-03 23:43] aselle commented on #7292
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:43] #7292 closed

[2017-03-03 23:44] aselle commented on #7199
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:44] #7199 closed

[2017-03-03 23:44] aselle commented on #7130
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:44] #7130 closed

[2017-03-03 23:44] aselle commented on #6698
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:47] ClarkZinzow commented on #8044
It looks like all that is required is a quick find-replace on the [adding_an_op.md](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/extend/adding_an_op.md) file:  g3doc/how_tos &#x27F6; examples

[2017-03-03 23:48] tatatodd commented on #8023
I believe this is working-as-intended.

Here's the python documentation for `logging.basicConfig`
https://docs.python.org/2/library/logging.html#logging.basicConfig

By calling `logging.basicConfig`, you're adding a StreamHandler to the root logger in python.  Note that `tf.logging` adds its own StreamHandler to its logger.  So now each log line will be sent to two streams, causing the duplication

[2017-03-03 23:48] #8023 closed

[2017-03-03 23:59] Mazecreator commented on #8022
Sounds good, how about adding it to the "/contrib/image/" section?  I can add it into this directory, there is a few ops there already.

If this is okay, I will work on getting a pull request together over the next few days so you have something to look at.

[2017-03-04 00:02] martinwicke commented on #8022
That is the perfect location. Please send a PR.

[2017-03-04 00:04] jhli973 commented on #1013
I have the same error, my solution:

Iinstall cuDNN v5.1 for CUDA 8.0
You need to register a NVIDIA accelerated computing developer program, then from here (https://developer.nvidia.com/rdp/cudnn-download) download and unzip it.
Copy all three subfolders and past it under CUDA folder, in my case is
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA

Then , you should be able to load tensorflow wit

[2017-03-04 00:06] tatatodd commented on #8031
FYI this breakage was introduced by PR #7752

Looks like the referenced #8039 will fix this.  Closing this out.  Thanks for filing the issue @Andrechang !

[2017-03-04 00:06] #8031 closed

[2017-03-04 00:07] Franck-Dernoncourt commented on #7751
Sorry, I can't commit to proposing a fix in the near future.

[2017-03-04 00:12] andrewharp commented on #8059
Ok -- is that from the command-line bazel build or from the gradle build inside Android Studio (if the former then make sure you `bazel clean` first)?

Does it make its way into the libs/ dir in the project when you build, and does the Android Studio/gradle log give any indication why it's not being packaged?

[2017-03-04 00:20] andreasgal commented on #6729
This fixed the problem for me on mac: install_name_tool -add_rpath /usr/local/cuda/lib /usr/local/lib/python2.7/site-packages/tensorflow/python/_pywrap_tensorflow.so

[2017-03-04 00:42] tatatodd commented on #8024
FYI I believe this is the result of a problematic PR #7752 .  Note that PR #8039 fixes some of the issues with that, but I don't think it'll fix your particular problem.

Maybe in the short-term, sync to a commit hash before the commit for #7752 .  E.g. try bb11fdaac7295651195c3190b6aac72b18fa14e5

[2017-03-04 00:54] yaroslavvb commented on #8021
PS, this is a sign of missing functionality in TensorFlow - there's no stand-alone way to configure some process-global settings, such as GPU Allocator and Eigen threadpool. Instead they get configured based on ConfigProto passed to the first tf.Session() call. This is a bit confusing -- first tf.Session() call and second tf.Session can get different values, and it seems right now the second set o

[2017-03-04 00:56] andrewharp commented on #7766
@kinDSa Somehow your armeabi-v7a file is 0 bytes:
`      0  Stored        0   0% 1980-00-00 00:00 00000000  lib/armeabi-v7a/libtensorflow_inference.so`

If you look in your libs/ directory, is the file there also 0 bytes? If so, try downloading again and make sure it gets overwritten properly.

[2017-03-04 01:00] ClarkZinzow commented on #8064
It looks like those images were deleted from [this folder](https://github.com/tensorflow/tensorflow/tree/9c3043ff3bf31a6a81810b4ce9e87ef936f1f529/tensorflow/g3doc/api_docs/images) in [this commit](https://github.com/tensorflow/tensorflow/commit/854f49bd43588c062b046384f239f64a3d819702).  It looks like those images should be restored to a new tensorflow/docs_src/api_guides/images folder, and the li

[2017-03-04 01:07] tatatodd commented on #8025
Thanks for filing this issue @cancan101 !  I think you're completely right.

I tried to track down where this bug was introduced.  Assigning this to @andrewharp since it looks like he touched this part of the code.  Andrew, feel free to re-assign as appropriate.  Thanks!

[2017-03-04 01:09] langmore commented on #7956
Good point akuz.  Rather than adding a new method, I think it would be better to allow the Dirichlet to be initialized either with `concentration` (as it currently is) OR `log_concentration`.  See e.g. the `Categorical` distribution for an example.

I'm choosing `log_concentration` rather than `logits`, since to me, `logits` are something that is intended to be fed through a softmax, and therefore

[2017-03-04 01:11] tatatodd commented on #8027
This is a duplicate of  #7500 - there was a bug that's since been fixed.  The nightly builds have the fix.

[2017-03-04 01:11] #8027 closed

[2017-03-04 01:13] tatatodd commented on #8030
@jart might have some suggestions here

[2017-03-04 01:14] tatatodd commented on #8033
@josh11b Can you share your thoughts here?

[2017-03-04 01:26] tatatodd commented on #8040
Thanks for the suggestion @yaroslavvb !

@ckcz123 There isn't such a mechanism to set session config defaults based on an environment variable.  Although it would be convenient in the scenario you're describing, such a mechanism would also make it harder to reason about what a particular snippet of code is expected to do.  In general we'd like to keep the configuration codepath reasonably straight

[2017-03-04 01:26] #8040 closed

[2017-03-04 01:29] FightingZhen opened #8071 "Downloads and Setups in Tutorial appears to be 404 error"
Just as the headline, I can not open this page, who can fix this porblem ?

[2017-03-04 01:34] tatatodd commented on #8041
Thanks for filing the issue @zakizhou !  I've fixed this internally, and the site will be updated at some point.

FYI the correct link is this:
`curl -O http://download.tensorflow.org/example_images/flower_photos.tgz`

[2017-03-04 01:34] #8041 closed

[2017-03-04 01:41] HossamAmer12 commented on #8033
@pdrews I tried your approach, but I get the following error: "undefined reference to `TF_NewTensor'" -- Any pointers?

[2017-03-04 01:44] tatatodd commented on #8043
Thanks for filing the issue @erko

@martinwicke might know about this, or might know who can investigate why `tf.contrib.learn.DNNLinearCombinedClassifier(weight_column_name)` isn't working correctly.

[2017-03-04 02:26] tatatodd commented on #8049
@jonygli Please fill out the following information, which was part of the "New issue" template.  Note that the RNN operations were moved from `tf.contrib.rnn` to `tf.nn.rnn_cell` in TensorFlow 1.0, so I suspect you're not actually running TensorFlow 1.0.

### Environment info
Operating System:

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

I

[2017-03-04 02:26] SeanTyco commented on #8059
I'm assuming you mean the jniLibs directory? If so then, no, I only see the libtensorflow_demo.so not the libtensorflow_inference.so library.

I did do a bagel clean before running in android studio and the libtensorflow_inference.so is built at the location /tensorflow/contrib/android/libtensorflow_inference.so. I don't see any indication as to why it's not being packaged in the log files. Is the

[2017-03-04 02:28] tatatodd commented on #8051
Seems reasonable to me too, but I'm not a python expert.  @aselle might have some thoughts on this

[2017-03-04 02:33] tatatodd commented on #8053
@vrv might have some thoughts here.  It certainly sounds like there's a bug lurking somewhere.

[2017-03-04 02:36] tatatodd commented on #8054
Thanks for filing the bug @snnn , and the suggested fix.  Would you like to submit a PR to fix this?

I think @petewarden should know whether this is the correct fix; it looks good to me.

[2017-03-04 02:51] tatatodd commented on #8055
I think @dandelionmane and @jart might have some ideas here.

[2017-03-04 02:53] ssgutierrez42 commented on #19
Would it be useful to include a swift project in the repo that's setup to call runCNNOnFrame via Obj-C++? If so I can probably contribute later on.

@chengsam yup. My problem was with linking libraries but I got it.

[2017-03-04 02:54] tatatodd commented on #8056
@mahernadar let us how it goes!  And I agree with the advice - using a binary install via pip will be much simpler.

If you're curious, the particular compilation error you're encountering is being fixed by #8039

[2017-03-04 02:59] tatatodd commented on #8064
Thanks for filing the issue @christopherhesse

Assigning to @dr4b

[2017-03-04 03:03] tatatodd commented on #7811
I'm sorry @molyswu , I don't understand if there's a question in here; you've just dumped various logs of commands.

I'm closing this out.  If you have a bug or feature request, please file a new issue, and try to describe what the issue is.

[2017-03-04 03:03] #7811 closed

[2017-03-04 03:09] tatatodd commented on #7958
@petewarden knows the space pretty well, and might have some suggestions.

[2017-03-04 03:12] tatatodd commented on #8021
That's a good point @yaroslavvb.  Can you file a new issue for that?  Thanks!

[2017-03-04 03:26] drasmuss commented on #7397
The bug still exists, meaning that the `tf.dynamic_stitch` gradients are incorrect.  Is there any other information I can provide that would be helpful?

[2017-03-04 03:53] hscspring commented on #1287
i've got the similar issue in python2
when i ran ` writer = tf.train.SummaryWriter(INCEPTION_LOG_DIR, graph_def)`
each time i got a "events.out.tfevents.1456423256."

[2017-03-04 04:22] genk1 opened #8073 "Invalid value with "sigmoid_cross_entropy_with_logits""
Hello, I started learning tensorflow and trying to solve a lot of sample program and lessons,
Then I faced the problem with "sigmoid_cross_entropy_with_logits" methods,
I attached the error & code which I used.
Please help me to figure out this,,, Thank you very much in advance.
--------
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

#placeholders of input & output
x =

[2017-03-04 04:24] terrytangyuan commented on #7959
Use learn.MetricSpec instead. The examples need to be updated.

[2017-03-04 04:28] terrytangyuan commented on #7637
Use learn.MetricSpec instead

[2017-03-04 04:31] andrewharp commented on #8059
@SeanTyco I was able to reproduce this locally -- the problem is that gradle is only looking for .so files under tensorflow/examples/android and not tensorflow/contrib/android as well (where libtensorflow_inference.so resides).

If you change add another "from" directive to "copyNativeLibs" so that it looks like the following:
[code]
it should work.

I also had to switch my local gradle plugin def

[2017-03-04 04:31] MikeTam1021 commented on #7980
My anaconda installation is in my home directory.. I use pip without sudo all the time, so I would imagine we do not need to use sudo. I think I am going to try to start developing in a container. I would really like to get this working though as it would speed my development time.

[2017-03-04 04:56] shushi2000 commented on #6584
Same issue here when replicating the "cnn_mnist.py" tutorial example :

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/layers/cnn_mnist.py

[2017-03-04 05:31] protoget commented on #8073
This error message is saying you'd call ```sigmoid_cross_entropy_with_logits``` like this:
[code]

[2017-03-04 05:31] #8073 closed

[2017-03-04 05:36] gunan commented on #7980
Sorry for all the inconvenience @MikeTam1021
We are seeing similar issues on Anaconda, I will try to find a macos machine and reproduce your setup.

Have you been using the GPU version, or the CPU version with 0.9?

[2017-03-04 06:18] FernandezR opened #8076 "New Build causes Illegal instruction on Import in Python 2.7 and 3.4"
I built tensorflow with gpu support for python 2.7 and 3.4 using CUDA 8.0 and CUDNN 5.1, running oo Linux.

On import of tensorflow installed with the wheels I built I get an 'Illegal Instruction' error and python quits.

Can someone confirm if this is an error on my part or if is an issue with the current build?

[2017-03-04 06:23] kinDSa commented on #7766
@andrewharp Thank you, Now I successfully run TensorFlow Android Camera Demo after replacing libtensorflow_inference.so

[2017-03-04 06:36] andrewharp commented on #7766
Great!

[2017-03-04 06:43] #7766 closed

[2017-03-04 07:23] jheffez commented on #7637
I'm new to this and using the tensorflow site as a learning resource. If recent code changes break the learn example than for the sake of clear/concise learning it would require updating the tensorflow site with the corrected code. Specifically: https://www.tensorflow.org/get_started/tflearn

[2017-03-04 08:54] akuz commented on #7956
Hi Ian, I guess this could also accept log_concentration in parameter (although I don't have a use case for that). This still doesn't solve the problem I was talking about. The Dirichlet distribution is defined *over* the categorical distributions. These are the concrete distributions that can be passed as x to log_prob(x). They have to be valid distributions, I.e. sum up to one, and all numbers m

[2017-03-04 09:38] CSJDeveloper commented on #7287
There are many questions just same as yours. URL_link: https://github.com/tensorflow/tensorflow/issues?utf8=%E2%9C%93&q=tensorflow%20SKCompat.
**Note**:
Maybe you installed tensorflow like this:
    $ pip install tensorflow
After finished, tensorflow-1.0.0 would have been installed, instead the lastest version of tensorflow is tensorflow-1.0.0rc2!!!
So, you really should install tensorflow this wa

[2017-03-04 09:41] ageron commented on #1062
@girving I opened #8051 to discuss this issue. I proposed a solution inspired from NumPy's `__array_priority__` scheme.

[2017-03-04 09:57] adyomin commented on #8071
Just came here to report the same.

[2017-03-04 10:13] IvyGongoogle opened #8078 "error: can't copy 'tensorflow/python/pywrap_tensorflow.py': doesn't exist or not a regular file"
Hello, now my cuda is 7.5 , so I install tf from the source, but when I run the command 'bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg', it shows error:
`Sun Mar 5 02:09:40 CST 2017 : === Using tmpdir: /tmp/tmp.4Bm642hjyI
~/ztgong/dl-tools/tensorflow/bazel-bin/tensorflow/tools/pip_package/build_pip_package.runfiles ~/ztgong/dl-tools/tensorflow
~/ztgong/dl-tools/tenso

[2017-03-04 10:55] IvyGongoogle commented on #1594
@KendallWeihe @asimonov i got the same error. Do you have solved the problem?
@tamhd  @mrry do you have any else solution?

[2017-03-04 11:37] AndreasMadsen commented on #5609
I finally got `bucket_by_sequence_length` it to work, here is what I think was had:

* It is not clear that `bucket_by_sequence_length` needs `input_length` and `tensors` to be elements from a queue.
* It is not clear that `input_length` just controls the bucketing, the padding works separately.
* Creating a queue that contains tensors of different sequence lengths is not trivial.

Here is the exa

[2017-03-04 11:48] sunsided commented on #3845
The same happens when building TensorFlow 1.0 on Tegra (Nvidia Jetson TX1) and cuda 8.0.34. Patching away the `#error` as @npanpaliya described (I had to do this trick once with Caffe) did not help for me; in fact, some of the cuda sources do _seem_ to get compiled. I tried both the 1.0 tag as well as master for a while now and nothing seems to work.

Here's the system info:

[code]

I started the

[2017-03-04 11:57] MikeTam1021 commented on #7980
I believe it is the CPU version

[2017-03-04 12:13] guyeng0 commented on #2169
@Pepslee @mshunshin I'm also encountering the same error in reshape when the batch_size is None. Did you manage to solve it?

[2017-03-04 12:22] akaitsuki-ii commented on #7817
@yaroslavvb Sorry for check it so late.
I did preload the queue full enough (using single thread `sess.run(enqueue_ops)`) this time before start running my model and consume the queue, there is no more enqueue operation after dequeue is start.
But it seems to be very slow for dequeue in this situation.

The following is the graph and node metadata showed in TensorBoard. You can see that compute ti

[2017-03-04 12:35] asimonov commented on #1594
I did, but had to turn off SIP and downgrade to bazel 0.4.3

_____________________________
Kind Regards,
Alexey Simonov

[2017-03-04 13:37] mahernadar commented on #8056
Dear Gunan,

Thanks allot for your response. That's a great suggestion, but i need to
learn fast because i will need to work on a real project with real pictures
and try to implement a classification according to project requirements.

You think CPU is good enough for that? Note that i have an Alienware laptop
with Nvidia 770M.

Again, thanks allot for your input :)

Sincerely,

Maher A. Nadar

On

[2017-03-04 13:38] calpa commented on #8071
#7990 seems to fix this issue

[2017-03-04 14:06] IvyGongoogle commented on #1594
@asimonov can you tell me how turn off SIP? I can not understand your mean. Thank you very much

[2017-03-04 14:07] FightingZhen commented on #8071
Thank you very much ~ Thank you all ~

[2017-03-04 14:21] ViralBShah commented on #2168
There is now a reasonably sophisticated TensorFlow Julia package by @malmaud

https://github.com/malmaud/TensorFlow.jl

Can this be featured on the TensorFlow website?

[2017-03-04 15:42] ctmakro commented on #7257
after upgrading to 1.0 I found the OSX prebuilt version lacked SSE, FMA and AVX support. after searching around for a while there's no alternative except to build it myself. Well then, i'll build it myself.

[2017-03-04 16:57] langmore commented on #7956
You're right, I was mistaken.  The problem with zeros or ones in `x` needs some sort of `log_prob_with_logits` function.  I suppose there is another problem if `concentration` has any zeros in it, but that would require a new version of the Gamma function.

So the solution suggested by @tatatodd is to add a `log_prob_with_logits` function for distributions defined on the interior of the simplex, `

[2017-03-04 17:42] gunan commented on #7257
@yaroslavvb created this repository to link to community supported wheel files.
https://github.com/yaroslavvb/tensorflow-community-wheels

We encourage our community creating and maintaining specialized builds, but we will be creating wheel files that are installable in most platforms. Therefore, I will close this issue.

[2017-03-04 17:42] #7257 closed

[2017-03-04 17:57] gunan commented on #8056
I recommend using the CPU-pip version for a few reasons:
1-Installation of CPU pip version is effortless. You can start using tensorflow in 5-10 minutes.
2-If you have a single GPU, that will be used for both display and computation. This is not recommended. When running large training graphs you will almost certainly run into issues due to GPU also being used for display, and this will set you ba

[2017-03-04 18:01] asimonov commented on #1594
Google 'how to turn off SIP in El Capitain'

_____________________________
Kind Regards,
Alexey Simonov

[2017-03-04 18:54] thanh-ng opened #8082 "Slicing a tensor by an index tensor in Tensorflow"
Hi the tensorflow team in Github,

I am not sure if it is appropriate to ask questions in Issue. If questions should not be here, please let me know so that I can close it (I already asked this question on [Stackoverflow](http://stackoverflow.com/questions/42597520/slicing-a-tensor-by-an-index-tensor-in-tensorflow) but I think It would be better to ask this right here in Tensorflow?)

I have two f

[2017-03-04 19:06] akuz commented on #7956
I agree about Dirichlet and Beta. Not sure about Gamma, maybe log is not the best transform in that case.

[2017-03-04 21:08] ebrevdo commented on #7956
I'd prefer a new Dirichlet distribution defined over the logits space,
rather than adding a new method to all distributions.  wdyt?

On Sat, Mar 4, 2017 at 11:06 AM, AK <notifications@github.com> wrote:

[2017-03-04 21:18] ebrevdo commented on #5609
A simpler solution (not requiring TensorArray) is probably to create a
queue that you feed sequences into one at a time in a separate python
thread - the "reader"; and then in the main thread you read from that queue
and pass that to bucket_by_sequence_length.  I'll try to include that in
the new tutorial.

On Sat, Mar 4, 2017 at 3:38 AM, Andreas Madsen <notifications@github.com>
wrote:

[2017-03-04 21:53] AndreasMadsen commented on #5609
@ebrevdo Thanks. I got something like that working for just one sequence, but I couldn't see how when using a pair of sequences. This is why I used the strategy from `slice_input_producer` (slice a `Tensor` using a `range_input_producer`.

Another thing I'm confused about is how to get a shuffling behavior similar to `shuffle_batch*`.

[2017-03-04 22:07] xingyul opened #8084 "Difference of allocate_persistent() and allocate_temp()"
This is a question on the usage of the two functions which are used in Compute() method for defining new Op.

My understanding is that allocate_temp() are used **only and once in constructing Op** and cannot be used during traning or testing steps later on; whereas allocate_persistent() can be used in **both Op construction and traning or testing steps later on**. Am I correct?

When I was definin

[2017-03-04 22:22] ChadTaljaardt opened #8085 "Running Multiple instances."
Operating System: Ubuntu 16.10
Installed version of CUDA and cuDNN: 8.0 and cuDNN 5.2
Tensorflow Version : 1.0.0-rc2

I have a website that will take an image of a number plate, the website passes the numberplate to tensor for to be detected, sensor flow then returns the detected text back to the website to be inserted into the database.

I found this issue when using a dropzone to detect many num

[2017-03-04 22:37] tfboyd commented on #8085
Taking a shot in the dark.

I do not think you want start TensorFlow each time.  You might get away with it by setting [Allow GPU Memory To Grow](https://www.tensorflow.org/tutorials/using_gpu#allowing_gpu_memory_growth).  I think a likely better solution would be to leave TensorFlow running, e.g. the python script, and have it pick up the images to process from a directory queue or whatever.  Eve

[2017-03-04 22:59] conqer commented on #5538
Still getting this issue when compiled with 'dbg' option. Any workaround?

[2017-03-04 23:07] tfboyd commented on #8060
I did a quick test and I get the same error.  The models repo is being rebuilt, but I will try to take a look at the possible root cause.   I suspect an issue when it was upgraed to TF 1.0 but that is just an off-the-cuff wild guess.

[2017-03-04 23:13] jakubLangr opened #8087 "SystemError: <built-in function TF_Run> returned a result with an error set using tf.contrib.layers"
(Using `tf 1.0.0`)
I tried to follow the following example (https://www.tensorflow.org/get_started/tflearn) from the TF website and I get the following error:

[code]

To replicate:
(For better accuracy use Docker image `jupyter/datascience-notebook` and install tf)
[code]

I think this might be a problem with tensorflow badly interacting with the underlying file system? Not sure.

[2017-03-04 23:22] akuz commented on #7956
Actually, sounds good, abrevdo. I haven't worked with probabilistic inference much in TensorFlow yet, but I see there is a bunch of distributions already following your suggestion.

[2017-03-05 00:41] YutingZhang opened #8089 "Feature requests: erfcinv"
I find there is no erfcinv op in TensorFlow. Since erfcinv is provided by CUDA, it should be straightforward to add such an op.
The gradient is also very simple:
-0.5*exp(erfcinv(x)**2)*sqrt(pi)

Is it possible to add it in the near future?

Thanks!

[2017-03-05 00:44] tfboyd commented on #8060
My fast response is because if you are like me you are playing on the weekend and want this to work.  I will try to do a PR tomorrow but I am virtually sure the issues starts here

`inception/image_processing.py", line 397, in parse_example_proto bbox = tf.concat(0, [ymin, xmin, ymax, xmax])`

Concat changed in TF 1.0, the 0 goes at the end.  But there is more tf.image_summary also changed.  I sug

[2017-03-05 00:58] #5588 closed

[2017-03-05 01:00] adityaramesh opened #8090 "fused_batch_norm doesn't work with epsilon < 1e-5"
[This line in nn_impl.py](https://github.com/tensorflow/tensorflow/blob/067cba5e4b873829f6cdfa61256079d2cfc45d02/tensorflow/python/ops/nn_impl.py#L806) has the following comment: "Add 1e-12 to epsilon when epsilon <= 1e-5 to prevent CUDNN exception." However, I still get the cuDNN exception when using values of epsilon less than 1e-5.

### What related GitHub issues or StackOverflow threads have y

[2017-03-05 02:15] ahmadtausif commented on #7031
hi all the issue is due to Keras version. I tried above all without any success. Uninstall Keras and install via pip. It worked for me.

I was facing this error with Keras 1.0.2 & resolved with Keras 1.2.0

Hope this will help. Thank you

[2017-03-05 04:31] hajrakomal commented on #7973
still not solved....

[2017-03-05 04:37] tfboyd commented on #7936
@yaroslavvb 's example works because he turns on JIT scope for the specific ops, which is needed if you are not using a GPU and want XLA for CPU to work via JIT.

`with jit_scope(compile_ops=True):`

I left a note in the document to warn people.

And at the start of the tutorial.

Do not interpret this as hostile.  Let me know if you think there is a way to make it more clear.  Thank you for tryin

[2017-03-05 04:37] #7936 closed

[2017-03-05 04:40] #8071 closed

[2017-03-05 04:46] tfboyd commented on #8064
The images will likely never get uploaded to GitHub.  The best solution, which does not have a timeline, would be to replace the image links in the GitHub mark down to point to tensorflow.org.  It might be more work than you want to do, but you could try to script it yourself.  Putting the images in GitHub bloats the repo, or so I am told.   Image links should never break over a line due to intern

[2017-03-05 05:03] #7986 closed

[2017-03-05 05:20] tfboyd commented on #7993
Apologies if this does not helpful but I have an idea.  I am pretty new but I used Slim recently and while there are a number of warnings, I think your issues is here:

`predictions = vgg.vgg_16(images, is_training=True)`

should be something like

`logits, end_points = vgg.vgg_16(images, is_training=True)`

or

`predictions, end_points = vgg.vgg_16(images, is_training=True)`

If you prefer predic

[2017-03-05 05:20] #7993 closed

[2017-03-05 05:43] ebrevdo commented on #5609
Can you say more about how you want to combine pairs of sequences in a
batching mechanism?

To get shuffling behavior similar to shuffle_batch you can use a
RandomShuffleQueue object.  Keep in mind, because you're dealing with
variable-length tensors (before minibatching) and we don't have a Padding
version of this queue, you should use the .dequeue() method to pull out one
(shuffled) entry at a t

[2017-03-05 06:00] botev commented on #4267
The issue is definitely not resolved. I'm encountering it now as well on CentOS with the latest r1.0 release of tensorflow. For reference, this can not be a CUDA issue because both Theano and Pytorch worked out of the box.
One suspicion I have (which I'm not sure) is that Tensorflow is picking the default GCC (4.4) rather than the local one (4.9) which could be causeing the problem, but I can not

[2017-03-05 06:07] Cynthia0629 opened #8092 "unexpected pipe read status"
Hello,everyone!
I am new about tensorflow,and I am just trying to build tensorflow from source according to the steps described step by step, but I get the following error, Is there anyone who can help on it? That would be very kind of you!
Thank you very much!

cynthia@cynthia-pc:~/tensorflow$ ./configure

..........continue........
then the result came with the following......
I guess that maybe

[2017-03-05 06:13] botev opened #8093 "CentOS - failed call to cuInit: CUresult(-1)"
So, again me - I'm on centOS on a cluster. Have used [this](http://stackoverflow.com/questions/33655731/error-while-importing-tensorflow-in-python2-7-in-ubuntu-12-04-glibc-2-17-not-f) hack for bypassing and using a different GLIBC. Now, however, there seems to be some weird issue with Tensorflow not wanting to run my GPU by failing something on the CUDA side.
Some general info:
[code]
The actual e

[2017-03-05 06:31] pobingwanghai opened #8095 "when using convert_to_tensor the variable must have same value format"
such as:
a=[np.array]
will get error
a=np.array([list])
will work fine.
hope to metion in api document.

[2017-03-05 06:49] langmore commented on #7956
@ebrevdo , If we simply use the formula above then we do not have the log of a probability density over `R^k`, so we can't call it `log_prob(x)`.  To see that the above formula is not a `log_prob`, note that it doesn't go to negative infinity as `|x| \to \inf`, so the corresponding `prob(x) := exp(log_prob(x))` will not go to zero.  You can see also that the above formula is constant if all the `x

[2017-03-05 06:56] langmore commented on #7956
....in the above example, `dirichlet` is the distribution for a random variable `Z = Dirichlet([1, 2, 3])`, and `dist_over_logits` is the distribution of the random variable `X = InverseSoftmaxCentered(Z)`, i.e. `Z = SoftmaxCentered(X)`.  In other words, `Z` is the correct distribution for your logits.

[2017-03-05 07:28] abhi18av opened #8096 "Error while install tensorflow via recommended method on Getting Started guide"
I'm having trouble install the Tensorflow engine via  `conda` and `pip3`. I'm pasting the information regarding the python toolchain and the system I'm trying to install on.

[code]
### Environment info
Operating System:

[code]
### Other attempts

I've also tried installing via the pip3 package
[code]

[2017-03-05 08:00] abhi18av commented on #8096
Tried the alternative suggested by the site

The first part is completed without issues
[code]

But when I actually try to import tensorflow, the session raises the following error

[code]

[2017-03-05 08:17] jakubLangr opened #8098 "ValueError: setting an array element with a sequence. (tf 1.0.0's invalid use of np)"
Using `tf 1.0.0` I get the following error.
[code]

This is a minimal example that should replicate this. I came across this problem also using several higher level abstractions to tf but not until I got to barebones `tf` I believed that this is a bug and not just an error on my part.

[code]

[2017-03-05 08:57] tranvanhoa533 commented on #7853
I saw this instruction : https://www.tensorflow.org/api_docs/python/tf/concat

[2017-03-05 09:25] AndreasMadsen commented on #5609
batching mechanism?

A pair of sequences like in `train.batch([source, target])`, which is useful in a machine translation model.

RandomShuffleQueue object. ...

Thanks for the tip, I will give that a go.

[2017-03-05 09:38] tranvanhoa533 commented on #7838
I have tried on version 1.0. But i faced another error:

Traceback (most recent call last):
  File "train_image_classifier.py", line 585, in <module>
    tf.app.run()
  File "/home/cloud/.local/lib/python3.5/site-packages/tensorflow/python/platform/app.py", line 44, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "train_image_classifier.py", line 448, in main
    image = image

[2017-03-05 10:06] akuz commented on #7956
@langmore you're right that the above formula doesn't define a proper density on the k-D space of logits, due to the reasons you mentioned, so it would not make sense to call it log_prob(x)... The transformed distribution trick you suggested looks great, but I just looked through the documentation, and it seems SoftmaxCentered only supports low dimensionality inputs. What I have is a 4D tensor, th

[2017-03-05 10:29] akuz commented on #7956
In fact, if we ignore the normalisation constant for now, the above formula can be implemented using the convolution (where concentrations would be used as weights for the last dimension) for the first part, and reduce_logsumexp() for the second part (you would also need to compute and multiply it by the negative of the sum of concentrations). But this implementation has two drawbacks 1) you need

[2017-03-05 10:43] annanay25 opened #8100 "XLA Design :: Incorporate Polyhedral Compilation (through LLVM Polly)."
Polyhedral Compilation is a method of modeling iterations of loop nests into points on a multidimensional space (Determined by the loop nest depth). A detailed description can be found on the website as given [here](http://polyhedral.info/).

Is it possible to pass the deeply nested kernels (for-loops) modeled in TensorFlow via XLA-JIT (or independently) through [Polly](http://polly.llvm.org/) tha

[2017-03-05 10:46] khyox commented on #7633
Thanks for the hints! I also needed to apply the solution [in this SO question about libcudart.8.0.dylib not loaded](http://stackoverflow.com/questions/39865212/dyld-library-not-loaded-rpath-libcudart-8-0-dylib-while-building-tensorflow) to get to build pip package on Mac OS X El Capitan (CUDA 8.0 & cuDNN 5.1).

[2017-03-05 11:04] 879622409 commented on #4451
@andrewharp I try the strip_unused command and get 997 ops. But app crashes on importGraphDef.
Here are my logs:
java.lang.RuntimeException: Error initializing TensorFlow!
                                                                       at org.tensorflow.demo.ClassifierActivity.onPreviewSizeChosen(ClassifierActivity.java:141)

[2017-03-05 11:17] langmore commented on #7956
@akuz , I agree that your original suggestion does provide an alternative method to compute the log_prob on the space of probabilities by intercepting an intermediate step of computation of an input.

So.... we can't call this `log_prob` since it isn't one.  akuz's original suggestion of `log_prob_with_logits(x)` would work (although I think the `alpha` in the formula should be `alpha - 1`).  @ebr

[2017-03-05 11:36] jozef-mokry opened #8101 "tf.nn.moments produces NaNs with axes=[-1]"
Hi,

tf.nn.moments does not work with negative axes. Is this intentional? Will this be possible in future versions? Thanks.

[code]

[2017-03-05 13:37] aliosmanulusoy commented on #2358
@AdityaGudimella you wrote "Duplicate indices are handled correctly: if multiple indices reference the same location, their contributions add." for your function. I've tested this and it seems correct. However, I don't understand why :) Can you please explain? tf.scatter_nd doesn't seems to produce any guarantees if multiple indices reference the same location.

[2017-03-05 13:48] dirceusemighini commented on #8049
Got the same error when testing tensorbox

`bazel version
Extracting Bazel installation...
Build label: 0.4.4
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Wed Feb 1 18:54:21 2017 (1485975261)
Build timestamp: 1485975261
Build timestamp as int: 1485975261`

` python -c "import tensorflow; print(tensorflow.__version_

[2017-03-05 13:52] jinfagang commented on #7993
Et voila! Thanks man! You saved the world!

[2017-03-05 14:26] aliosmanulusoy opened #8102 "Scatter_nd doc not clear about concurrent updates"
The doc on the scatter_nd does not specify the consequence of multiple updates that reference the same location.

I've tested this using the following code:

[code]
The resulting tensor is:
[code]
So it seems the updates are added. Is this the intended usage? If so, it would be great to clarify this in the docs.

Thanks!

[2017-03-05 15:02] asimonov commented on #7633
Yes, that softlink needs to be created too

_____________________________
Kind Regards,
Alexey Simonov

[2017-03-05 16:10] AnlanSun opened #8103 "bmp format"
If I use opencv to read a bmp image into a mat. Can I feed it to a tensor? Or I have to comvert it to jpg or png?

[2017-03-05 16:48] cw1204772 commented on #7854
What really boggles me is when I try to back traced today, it come up with a slightly different back traced message. (Core dumped at the exit of the program)
[code]

[2017-03-05 17:29] clockzhong commented on #4827
I've a similar problem for CUDA 8.0(latest version) also. The following is my error output when I doing a simple test on my newly installed environment:
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loade

[2017-03-05 18:05] akuz commented on #7956
@langmore , I think that option 3 from your list of suggestions would be most convenient to use in practice. Sorry about the mistake missing -1 in the formula. The computation of the "L" part in the formula should be possible to do easily too (I've done it with lngamma function in C++ previously). I think I would not be the only one to need this, hopefully.

[2017-03-05 18:51] chaiwa-berian commented on #7677
@skimmy12 Please fix this typo in the tutorial, and also the "warnings" are so confusing to newbies like me!  I couldn't even figure out the relationship between the warning and the actual fix! :) Someone to fix that as well? Thanks

[2017-03-05 19:07] computerex commented on #6235
Similar issues on Windows 10:

(tf) C:\projects\ml\keras\examples>python imdb_cnn.py
Using TensorFlow backend.
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\dso_loader.cc:126] Couldn't open CUDA library cublas64_80.dll
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\cuda\cuda_blas.cc:2294] Unable to load cuBL

[2017-03-05 19:23] awilliamson commented on #6742
Confirmed. I'm also having MNIST issues. Is there any alternative URL we can use for this which will still be compatible with existing MNIST tutorials. I'm relying on these as baselines for experiments, I'd rather keep the data and TF format the same.

[2017-03-05 20:27] FernandezR commented on #8076
The problem was that the wheels were compiled on a machine with newer kernel than the machine it was being installed on.

[2017-03-05 20:27] #8076 closed

[2017-03-05 21:34] elfadly opened #8105 "ValueError: '-_Loss/Const' is not a valid node name"
I am trying to build a network using tflearn library and tensorflow v.1, and I got this error

**error**
Scipy not supported!
[+] Building CNN
E c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorflow\core\framework\op_kernel.cc:943] OpKernel ('op: "BestSplits" device_type: "CPU"') for unknown op: BestSplits
E c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorf

[2017-03-05 22:13] mrry commented on #7973
Actually, perhaps I'm overthinking this. The error message suggests that an empty filename is being passed to the `Saver.restore()` method. Perhaps there's a typo in `"${INCEPTION_CHECKPOINT}"`? Or a bug in the script that's taking the filename from a different flag? (I don't know what code you're running, so it's hard to guess at what the bug could be.)

[2017-03-05 23:15] yaroslavvb opened #8107 "import tf fails in "imp.find_module('_pywrap_tensorflow_internal',""
I get error below trying to import TensorFlow built at commit 7e9f2dc ([head](https://github.com/yaroslavvb/tensorflow/tree/dev) as of Sat 4).

I haven't made any changes to my [build procedure](https://github.com/yaroslavvb/tensorflow-community-wheels) in last month, and installing similarly built wheel from Mar 1 works.

Looking at relevant differences between Mar 1 and Mar 4 I see that @jhseu '

[2017-03-06 01:49] jaideepsiddula opened #8108 "unable to install tensor flow using pip."
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-06 02:05] Carmezim commented on #8108
@jaideepsiddula Sorry you're having issues. In order to help you solve the problem we need more information. For instance, operating system, what commands did you use and the log. Thanks.

[2017-03-06 02:39] AFAgarap commented on #4827
@clockzhong Did you try reinstalling CUDA? What's the version of your TensorFlow? Did you upgrade to the latest version?

[2017-03-06 02:42] yaroslavvb opened #8109 "libxsmm build errors with Python 3"
It seems like some dependencies are not Python 3 compatible.

Building with `--define tensorflow_xsmm=1 --define tensorflow_xsmm_backward=1` gives following

cc @benoitsteiner

[code]

[2017-03-06 03:02] coolsunchen opened #8110 "How to Implement a Secure, Multi-Tenant tensorflow?"
I am using tensorflor as miner/ML platform, and now customers are required to support multi-tenant capabilities;
Between the tenants to achieve resource isolation (CPU, MEM, disk, etc.), security isolation.
How do i achieve it?
Has the new version already planned for these features?

[2017-03-06 03:11] yaroslavvb commented on #8107
Same problem using today's head.

Looking at the failure, it happens in `pywrap_tensorflow_internal.py` trying to load `__pywrap_tensorflow_internal` module. I did a search and there's nothing called `_pywrap_tensorflow_internal` that was included in wheel installation

[code]
This is the wheel that got built (Ubuntu 14.04, Python 3)
https://storage.cloud.google.com/tensorflow-community-wheels/mar

[2017-03-06 03:19] yaroslavvb commented on #8110
TensorFlow is basically a math library, multi-tenant capabilities should be enabled by whichever system you are using to run it (Docker/Kubernetes is a good combination IMHO)

[2017-03-06 03:19] #8110 closed

[2017-03-06 03:23] clockzhong commented on #4827
@AFAgarap I'm very sorry, it seems my mistake. I mixed the CUDA library with CUDNN library. I need install both of them. Thanks for your reply, I'll correct this mistake soon

[2017-03-06 05:21] jaakkopasanen opened #8112 "tf_upgrade doesn't update RNN cells"
Migration script `tf_upgrade.py` does not update RNN cell locations from `tf.nn.rnn_cell` to `tf.contrib.rnn` leading to error: `AttributeError: module 'tensorflow.python.ops.nn' has no attribute 'rnn_cell'`

Upgrading
[code]
becomes
[code]
when it should be
[code]

[2017-03-06 07:04] TesTBesTnexT opened #8113 "I can not run my code Tensorflow"
I working on `Ubuntu 14.04` ,i wrote a code for Recognition of letters whith `Tensorflow V 0.11` ,
i'm creat a code source for uses the model `LeNet5`
my code source :

`

    `

if i run this code , he print the error :

what is the problem and how resolved this ?

[2017-03-06 07:19] shanxiongfei opened #8114 "image_retrainning can not run"
my tensorflow  version is 1.0.0
I follow the image_retraining.md
1.    curl -O http://download.tensorflow.org/example_images/flower_photos.tgz
tar xzf flower_photos.tgz
2.   bazel build --config opt tensorflow/examples/image_retraining:retrain

but when I run
 bazel-bin/tensorflow/examples/image_retraining/retrain
there is a errorLast login: Mon Mar  6 14:46:11 on ttys000
wangjingsideMacBook-Pro:~

[2017-03-06 07:28] shanxiongfei commented on #3408
I have the same problem, who can help me?wangjingsideMacBook-Pro:tensorflow ginthva$ bazel-bin/tensorflow/examples/image_retraining/retrain
Traceback (most recent call last):
  File "/Users/ginthva/tensorflow/bazel-bin/tensorflow/examples/image_retraining/retrain.runfiles/org_tensorflow/tensorflow/examples/image_retraining/retrain.py", line 79, in <module>
    import tensorflow as tf
  File "/User

[2017-03-06 08:25] benring commented on #6360
I have a different use case and/or question -- which may need another thread. I am trying to implement a custom op to run a L-BFGS solver. On the C++, I have a co-routine using threads: one runs the solver detached, the other manages the TF control. It operates inside a TF while_loop with the `compute` call serving as a defacto generator function to fetch data when needed. I can run this on a sing

[2017-03-06 08:26] yw346090249 opened #8116 "Errno 110 occured when running all python files in /examples/tutorials/mnist/ directory."
davidtest@CaffeVM:~/tensorflow/tensorflow/tensorflow/examples/tutorials/mnist$ python fully_connected_feed.py
Traceback (most recent call last):
  File "fully_connected_feed.py", line 277, in <module>
    tf.app.run(main=main, argv=[sys.argv[0]] + unparsed)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 44, in run
    _sys.exit(main(_sys.argv[:1] + flags_pa

[2017-03-06 08:28] jayney opened #8117 "could not find cuDevicePrimaryCtxSetFlags"
when i execute sess = tf.Session() or sess = tf.InteractiveSession(), it shows problems below:
W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE3 instructions, but these are available on your machine and could speed up CPU computations.
W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instru

[2017-03-06 09:36] priteshgudge opened #8118 "Setup instructions link broken"
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md

The above link is broken. Loading leads to a 404 error.

[2017-03-06 09:41] adyomin commented on #8118
This is being addressed by #8111.

[2017-03-06 09:42] DavidNorman commented on #7920
i see.  that is strange.  i will update our repo again and see what happens....

cheers

[2017-03-06 09:52] DavidNorman commented on #7920
its all ok now.  indeed - we did not have the fix in our central repo.

[2017-03-06 09:52] #7920 closed

[2017-03-06 09:53] thanh-ng commented on #8082
Since I think it is more appropriate to discuss this kind of question in Stackoverflow. I close it. If you want to check out the question section in Stackoverflow, follow the link above.

[2017-03-06 09:53] #8082 closed

[2017-03-06 10:21] laverix commented on #37
👍

[2017-03-06 11:00] ehfo0 commented on #42
iget this error:
tensorflow_gpu-1.0.0-cp35-cp35m-win_x86_64.whl is not a supported wheel on this platform.
I have a  geforce gtx 970 and windows 10 home edition and anaconde python 3.6 is already installed!
what is the problem?

[2017-03-06 11:00] SihamTabik opened #8119 "."
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-06 11:24] jaakkopasanen opened #8120 "Inconsistency in Variable Creation Methods"
Currently it is not possible to scope all variables cleanly when using RNN cells and Optimizers. RNN cells create variables with tf.get_variable and optimizers create variables with tf.Variable. These two methods don't get along, creating messy variable names when variable scopes are handled differently by the two methods.

Script for testing different variable creation and scoping combinations.
[

[2017-03-06 11:53] brb1901 commented on #5432
Just as a heads-up: this or a similar issue still caused problems for me, when using ./configure before building TensorFlow (1.0) from source. On a Ubuntu 16.04 machine with reliable internet connection, CUDA 8.0, CuDNN 5.1, and apparently after @jart's bazel fix that includes multiple mirrors.

It seems to me to be some bazel timeout issue, where the timeout happens perhaps too quickly for some f

[2017-03-06 11:59] dgiunchi opened #8121 "tensorflow.contrib.distributions.python.ops.distribution_util' has no attribute 'get_logits_and_probs'"
windows 10
upgraded with pip install to tensorflow 1.0

I got this error after trying to use Binomial.py

 self._logits, self._probs = distribution_util.get_logits_and_probs(
AttributeError: module 'tensorflow.contrib.distributions.python.ops.distribution_util' has no attribute 'get_logits_and_probs'

[2017-03-06 12:04] #8121 closed

[2017-03-06 12:18] HuMingqi opened #8122 "A bug report about Tensorboard"
# Bug Description:
In win10 platfrom, you use command __tensorboard --logdir=path/to/logdir__ when navigate to __another driver__ which don't include the logdir. __Tensorboard will think the logdir in that driver__.
# Example:
In VS Prompt:

1.  **F**:\Program Files (x86)\Microsoft Visual Studio 14.0>tensorboard --logdir=**G:\machine_learning\models\Alexnet_tf\log_** --debug

__cmd output__:
INFO:

[2017-03-06 12:26] muzi-8 commented on #1264
@kepricon I faced the same error，so what can I do ?
"[libprotobuf FATAL google/protobuf/src/google/protobuf/stubs/common.cc:67] This program requires version 3.2.0 of the Protocol Buffer runtime library, but the installed version is 3.0.0.  Please update your library.  If you compiled the program yourself, make sure that your headers are from the same version of Protocol Buffers as your link-time

[2017-03-06 12:42] luizgh commented on #6011
@javiribera -  FYI, I implemented a version of SPP in Theano+lasagne that does not use the standard pooling operation, but instead manually slices the input region. Take a look in the function "pool_2d_nxn_regions" here:
https://github.com/Lasagne/Lasagne/pull/799/commits/c01e3d922a5712ca4c54617a15a794c23746ac8c#diff-d0bc475ce6f46dfdf62cea86f4a2b911

I think that this can be implemented in tensorf

[2017-03-06 12:48] qwertmax commented on #5971
@poxvoculi link is not working anymore

[2017-03-06 13:00] qwertmax commented on #5938
how can I fix this issue ? does anyone have idea?

[2017-03-06 13:04] kakawait commented on #8116
Source website http://yann.lecun.com is down that why you get the issue.

You can download dataset via _archive machine_ https://web.archive.org/web/20160828233817/http://yann.lecun.com/exdb/mnist/index.html and put it on corresponding log folder

[2017-03-06 13:05] kakawait commented on #6742
Still down seems few days... Other related issue #8116

[2017-03-06 13:10] RuiZhang1993 commented on #209
It seems that the page is not available again...

[2017-03-06 13:17] DavidNorman opened #8123 "Build failure, XLA, OS/X"
Maybe OS/X only.   I have Apple clang 8.0.0 (clang-800.0.42.1)

[code]

[2017-03-06 13:28] DavidNorman opened #8124 "Build failure, XLA, OS/X"
I've written OS/X, but I'm pretty sure this is going to fail on all platforms:

[code]

[2017-03-06 13:33] DavidNorman commented on #8123
I see that this has been mentioned before:

https://github.com/tensorflow/tensorflow/issues/8024

[2017-03-06 13:33] #8123 closed

[2017-03-06 13:35] DavidNorman commented on #8124
I see that this is in the process of being fixed.

https://github.com/tensorflow/tensorflow/pull/8039

[2017-03-06 13:35] #8124 closed

[2017-03-06 13:36] PaoloTCS commented on #7552
This is what works for me, (Win Insider Preview 15048.rs2_release.170228-1522)
1. Create an env
2. conda config --add channels conda-forge
3. new window ...
4. Activate (whatever env)
5. conda install tensorflow.

Woof a few times, and Voilà!

[2017-03-06 13:45] gilberthendry commented on #5938
Is it still around in TF 1.0?  The first problem was a checkpoint version mismatch, which should be gone in 1.0.

[2017-03-06 13:56] qwertmax commented on #5938
@gilberthendry  nope, the issue still present in 1.0

[2017-03-06 14:14] jegli opened #8126 "yann.lecun.com/exdb/mnist/ down"
The website of Yann LeCun is down at the moment.
Therefore the MNIST-Script for downloading the files doesn't work either. (-> learn/python/learn/datasets/mnist.py won't work)
Are there any mirrors?

[2017-03-06 14:14] mpowell90 commented on #37
+1

[2017-03-06 14:16] auserdude commented on #6742
Same project here, solved by downloading file from a different source. I think we should put in place a mirror somewhere.

[2017-03-06 14:26] jdvala opened #8127 "AttributeError: module 'tensorflow' has no attribute 'streaming_accuracy'"
[code]
for the above code, I have received the same error in past few days.
Is the syntax same as its in the API documentation?

[2017-03-06 14:28] suiyuan2009 commented on #5928
before [dynamic_stitch](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/embedding_ops.py#L183), each partition's results should first be normalized, then multiply weights, then aggregate. code in `embedding_ops.py` needs great changes.

[2017-03-06 14:28] Tim15 commented on #37
+1. I have some experience in Node, and will take a  look at this.

[2017-03-06 14:37] lobachevzky commented on #8024
Checking out the earlier commit worked, but their were some significant differences with the most recent version of Tensorflow, so I decided to live without XLA.

[2017-03-06 14:37] #8024 closed

[2017-03-06 14:56] sunsided commented on #42
@ehfo0 It requires Python 3.5

[2017-03-06 15:21] alextp commented on #6360
@benring, I need more information to understand what is going on. Can your
custom op be trying to access state on another machine or something?

On Mon, Mar 6, 2017 at 12:26 AM, benring <notifications@github.com> wrote:

--
 - Alex

[2017-03-06 15:34] MyAusweis opened #8129 "No event files found within logdir in tensorboard"
Dear Sir/mam

I confuse how to display using tensorboard. here is my program
graph = "d://"
import tensorflow as tf

# Build our graph nodes, starting from the inputs
a = tf.constant(5, name="input_a")
b = tf.constant(3, name="input_b")
c = tf.multiply(a,b, name="mul_c")
d = tf.add(a,b, name="add_d")
e = tf.add(c,d, name="add_e")

# Open up a TensorFlow Session
sess = tf.Session()

# Execute our o

[2017-03-06 15:50] mrry opened #8130 "TensorFlow 1.0 error messages point to broken link"
When `import tensorflow` fails in TF 1.0, we print an error message containing the following text:

[code]

Unfortunately, https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#import_error is a broken link. I realize this is probably because we've moved all the docs around, but is there some way we could leave a breadcrumb there for our unfortunate users?

[2017-03-06 15:50] rgabbard-bbn opened #8131 "Better document when to use tf.sparse_tensor_dense_matmul vs embedding lookup"
`tf.sparse_tensor_dense_matmul` has a regular (non-sparse) tensor gradient ([source](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/sparse_grad.py#L153)):

[code]

where `sparse_ops.sparse_tensor_dense_matmul` returns a regular tensor.

The [documentation](https://www.tensorflow.org/api_docs/python/tf/sparse_tensor_dense_matmul) does not note this and it may be confusin

[2017-03-06 16:03] aryopg opened #8132 "One shot learning example"
It might be a good thing to give an example of one shot learning :)

[2017-03-06 16:07] yaroslavvb commented on #6360
@benring the "lock up the graph" behavior would be a TensorFlow bug unless you introduced a circular dependency in the graph (like in https://github.com/tensorflow/tensorflow/issues/6961), or your graph is waiting for input.

If you can rule out the latter with session timeout, it might be worth filing a bug with reproducible example

[code]

[2017-03-06 16:11] mrry commented on #8122
Thanks for reporting this! We're already tracking this problem as part of issue #7856, so please follow the discussion there.

[2017-03-06 16:11] #8122 closed

[2017-03-06 16:11] #8119 closed

[2017-03-06 16:15] mrry commented on #8130
(Just saw that PR #8075 should fix this.)

[2017-03-06 16:15] Coderx7 commented on #42
@ehfo0 : when you want to download the wheel package, paye attention to the `cp3x` section.
tensorflow_gpu-1.0.0-**cp35**-cp35m-win_x86_64.whl
cp35 means it needs python 3.5!

[2017-03-06 16:22] girving commented on #7397
Let's leave this open.  Anyone interested should refer to the comments in https://github.com/tensorflow/tensorflow/pull/7487.  The next step would have been to add a new C++ kernel to speed up the bookkeeping required by accurate gradients.

[2017-03-06 16:48] mrry commented on #42
@sunsided and @Coderx7: Thanks for helping out @ehfo0!

This thread is getting a bit long, so I'm going to lock it for new conversation. If you have new questions about Windows support, please try Stack Overflow first, or open a new issue here if there appears to be a bug or you have a new feature request.

[2017-03-06 17:03] LoicMasure opened #8133 "About using tf.contrib.layers.optimize_loss with optimizer="Momentum" as arg"
I'm trying to implement a train op using tf.contrib.layers.optimize_loss. I would like to use the optimizer train.MomentumOptimizer . One way to do it is to pass the arg "Momentum" to the parameter optimizer like this:

[code]
It turns out I get an error:
[code]
I think the reason is that when the function optimize_loss wants to instanciate a new optimizer by looking into ```OPTIMIZER_CLS_NAMES```

[2017-03-06 17:04] CmasterG opened #8134 "Download of test data not working"
The get started part has a section MNIST for ML Beginners. In this tutorial you should download the test data via:

from tensorflow.examples.tutorials.mnist import input_data
mnist = input_data.read_data_sets("MNIST_data/", one_hot=True)

Unfortunately that's not working because of an connection error.

[2017-03-06 17:10] prb12 commented on #8134
The MNIST example downloads its dataset from `http://yann.lecun.com/exdb/mnist`.
If this site is temporarily down or unreachable then the download will fail.

Please can you try accessing the URL directly in a web browser?  (it is currently unreachable for me)
Once the page is accessible in a browser, then please try the tutorial again.

[2017-03-06 17:13] CmasterG commented on #8134
Hi!
Thanks for the fast reply. No, it is not reachable in the browser. Is there an alternative way to get the relevant data?

[2017-03-06 17:18] prb12 commented on #8132
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-06 17:18] #8132 closed

[2017-03-06 17:25] prb12 commented on #8129
Closing as a duplicate of #7856.
Please reopen if the workaround in that issue doesn't fix the problem.

[2017-03-06 17:25] #8129 closed

[2017-03-06 17:26] prb12 commented on #8127
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-06 17:26] prb12 commented on #8134
Duplicate of #8126

[2017-03-06 17:26] #8134 closed

[2017-03-06 17:29] prb12 commented on #8117
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-06 17:29] prb12 commented on #8118
Closing as duplicate of #8111

[2017-03-06 17:29] #8118 closed

[2017-03-06 17:30] prb12 commented on #8116
Closing as duplicate of #8126

[2017-03-06 17:33] prb12 commented on #8126
Apparently (according to @kakawait) you can download dataset via archive machine, e.g. https://web.archive.org/web/20160828233817/http://yann.lecun.com/exdb/mnist/index.html

You will need to download and copy the files to your training data directory manually.

[2017-03-06 17:33] #8126 closed

[2017-03-06 17:37] prb12 commented on #8114
Please provide details about what platform you are using  (operating system, architecure). Also please include details of how you installed TensorFlow. We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2017-03-06 17:40] prb12 commented on #8113
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

We don't have time to debug everybody's TensorFlow program, but from a superficial glance at your error it looks like you are trying to restore a checkpoint from a different version o

[2017-03-06 17:40] #8113 closed

[2017-03-06 17:44] costa974 commented on #7621
Python sux

[2017-03-06 17:47] gunan commented on #7552
Im glad to here coda works, but we do not maintain conda repositories.
It is maintained by the community, so it is not one of the official installation methods.

[2017-03-06 17:47] prb12 commented on #8105
Please provide details about what platform you are using  (operating system, architecture). Also include details of how you installed TensorFlow and the command lines necessary to reproduce your problem. We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2017-03-06 17:48] prb12 commented on #8103
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-06 17:48] #8103 closed

[2017-03-06 18:00] ebrevdo commented on #8120
Does seem like the optimizers should be using tf.get_variable.  Lukasz,
wdyt - can we do this in a backwards compatible way?

On Mon, Mar 6, 2017 at 9:28 AM, Paul Barham <notifications@github.com>
wrote:

[2017-03-06 18:00] prb12 commented on #8101
I don't see anything in the documentation which suggests that tf.nn.moments should accept axes <0.  To be clear, you would like axis -N to refer to dimension rank-N?

[2017-03-06 18:05] prb12 commented on #8100
We have open-sourced the XLA compiler precisely so that it is possible for external contributors and researchers to experiment with this sort of idea.

@eliben @learyg May be able to comment further.

[2017-03-06 18:11] prb12 commented on #8098
@mrry Could you please take a quick look at this?

[2017-03-06 18:13] mrry commented on #8098
This usually occurs when you try to feed a NumPy array that's built from an irregular list of lists, and cannot be converted to a regular dense tensor.

It's not clear whether `batch_xs` or `batch_ys` is the problem. Can you print out their `.dtype` and `.shape` properties and verify that they match what you expected?

[2017-03-06 18:26] prb12 commented on #8096
Could you please clarify exactly which instructions you are following?

I infer from the error messages above that you are running on Mac.  Are you following the instructions here: https://www.tensorflow.org/install/install_mac ?

Your output suggests that you are alternating between a CPU-only installation and a GPU enabled installation which is unable to find the Nvidia CUDA8 libraries.  Could y

[2017-03-06 18:28] poxvoculi commented on #5971
https://www.tensorflow.org/extend/estimators

[2017-03-06 18:32] prb12 commented on #8095
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-06 18:36] yaroslavvb opened #8136 "Unified mechanism for setting process-level settings"
Some settings in TensorFlow apply to all sessions in the process. Examples: size of Eigen thread-pool, allocator growth strategy, logging verbosity

There are currently two places where such process properties are set:
1. Environment variables
2. tf.ConfigProto passed to the first tf.Session() or tf.Server() call

the 1. lacks discoverability. For instance required SM count to make GPU visible to

[2017-03-06 18:41] prb12 commented on #8093
@zheng-xq  Any ideas what might be going wrong here?  StreamExecutor claims to load libcuda, but then cuInit fails... Maybe the dynamic loader state being a mess?  (There seems to be a lot of dubious library hackery going on, so it may be pretty much impossible for us to reproduce.  )

[2017-03-06 18:41] #8095 closed

[2017-03-06 18:45] eliben commented on #8100
@annanay25 XLA is exactly the kind of compiler that could greatly benefit form polyhedral optimizations. I would say certainly try it! You could fork the project and try applying Polly in your fork and see the results you get. @jpienaar for more insights

[2017-03-06 18:46] prb12 commented on #8092
Superficially, this looks like a 32/64 bit problem with bazel or java JDK installation.  Could you please double check that you followed the instructions here https://bazel.build/versions/master/docs/install.html

[2017-03-06 18:53] gunan commented on #7854
@jhseu Any ideas on this one?

[2017-03-06 18:55] jhseu commented on #7854
Same issue as https://github.com/tensorflow/tensorflow/issues/6968. Known issue with Ubuntu 14.04.

You can either upgrade Ubuntu or install numpy from source with OpenBLAS disabled.

[2017-03-06 18:58] prb12 commented on #8087
@martinwicke Has this tutorial broken with 1.0?  (There seem to be some deprecation warnings in tf.learn estimators code with dates from last year.)

[2017-03-06 19:03] pdrews commented on #8033
@HossamAmer12 This should be in the c_api.h header in tensorflow.  That code snippet is not complete, so won't compile on its own. I had to add several headers from the c++ interface as well.  I added a line at the bottom of the code snippet that is required to use this new C tensor from the C++ interface.

[2017-03-06 19:06] taion opened #8137 "Support consistent data_format between tf.layers and everything else"
The functions in `tf.layers` take a `data_format` parameter. However, this parameter has different semantics from the identically named `data_format` parameter everywhere else in TensorFlow. It's expected to be `channels_first` or `channels_last`, versus `NHWC`, `NCHW`, or `NDHWC` everywhere else. As such, it's inconvenient from a DX perspective to intersperse `tf.layers` code with other TensorFlo

[2017-03-06 19:06] prb12 commented on #8085
The errors are clearly coming from running out of GPU memory by trying to run multiple TF computations simultaneously.  As @tfboyd says, it looks like you are creating a separate TF process and runtime for each, and they are all trying to grab some GPU memory until you run out.  Being separate processes, the TF instances have no way of coordinating with each other (other than maybe blocking than w

[2017-03-06 19:08] HossamAmer12 commented on #8033
@pdrews Is there any chance that you can provide the steps anywhere (here, tutorial or anything)?

Would be highly appreciated!

[2017-03-06 19:10] skye commented on #8033
@pdrews I would recommend using the C API for now. As you mentioned, it's more verbose but might make your project build simpler, and most importantly it already exposes the functionality you need :) Unfortunately we lack documentation on it so here's some info to get you started:

_Building:_ https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64-1.0.0.tar.gz is a

[2017-03-06 19:10] prb12 commented on #8044
@josh11b @dr4b  Any ideas what's still broken?

[2017-03-06 19:12] prb12 commented on #8078
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-06 19:16] lukaszkaiser commented on #8120
Oh yes, optimizers should use get_variable. I think slot_creator already does (as you can see above, the big Adam and Adam_1 variables are already scoped correctly). But we missed the scalars (beta1_power beta2_power). It might apply only to Adam, but I don't see how we can be fully backwards-compatible here, since the goals is to change the name of the Variable. Eugene, do you see a way out? Can

[2017-03-06 19:19] dr4b commented on #8044
we re-added these files to the repo here: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/adding_an_op

but the links have to be fixed, I think.

[2017-03-06 19:22] jozef-mokry commented on #8101
Yes, I was hoping -1 would refer to the last axis (and rank-N in general). I agree the documentation does not mention this. However for functions like reduce_sum, it is not mentioned explicitly either (except for the "Equivalent to np.sum" note) but they do support negative axes.

It is quite tricky to remember which functions support negative axes and which don't and if you get it wrong you get N

[2017-03-06 19:22] skye commented on #8033
@HossamAmer12 I suggest using the instructions I provided above to use the C API. If you'd like to try modifying the C++ API, please refer to [Installing TensorFlow from Source](https://www.tensorflow.org/install/install_sources). Once you get that working, you can use `bazel build -c opt //tensorflow:libtensorflow.so`, which will build the libtensorflow.so in bazel-bin/tensorflow (relative to you

[2017-03-06 19:24] prb12 commented on #8056
Closing this issue since it appears to be due to following a tutorial which advocates building from live head of the git repo (despite the URL saying `how-to-install-gpu-tensorflow-0-9-from-sources-ubuntu-14-04`)

This command will pick up the current state of the github repository, rather than a specific known working version:
`git clone https://github.com/tensorflow/tensorflow`

Though we make e

[2017-03-06 19:24] #8056 closed

[2017-03-06 19:26] prb12 commented on #8084
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-06 19:26] #8084 closed

[2017-03-06 19:28] prb12 commented on #8101
@jozef-mokry Yes, it does seem reasonable that the axes argument should be validated in this case. Are you running on GPU or CPU?

[2017-03-06 19:29] HossamAmer12 commented on #8033
@skye Thank you for your reply!

I have already built TF from source and it is all set up, yet I do have the same issue where I use the TF's C++ API in a project that requires manually feeding data (char*) into tensors; to avoid this, I tried @pdrews's approach and I got the compile error that I've mentioned.

Because I still use the C++ API, it seems to me that I should still keep copying the dat

[2017-03-06 19:30] ClarkZinzow commented on #8044
Links are fixed in #8104.

[2017-03-06 19:31] jozef-mokry commented on #8101
I ran this on a GPU.

[2017-03-06 19:34] PiotrDabkowski commented on #312
@mrry I really don't understand why would not you add an option to restore as much as possible without raising errors if some variable is not present in the checkpoint. It would really make life much easier for a large number of users.

For example, it would be possible to save everything using `Saver(tf.global_variables()) `, add some new variables and restore only global variables that were pres

[2017-03-06 19:40] prb12 commented on #8057
@alextp I think you've looked at this code recently.  Do you have any suggestions?

[2017-03-06 19:40] skye commented on #8033
Yes, if you have it working acceptably with copying, I'd say you should continue using that. Premature optimization is the root of all evil ;)

That said, I realize you probably need to build with `bazel build -c opt //tensorflow/tools/lib_package:libtensorflow` and look at bazel-bin/tensorflow/tools/lib_package/libtensorflow.tar.gz (which includes the header and .so you need). Linking that should

[2017-03-06 19:43] annanay25 commented on #8100
@eliben @prb12 Thanks for the replies!

I was trying to put together a compilation workflow to incorporate Polly in XLA. The glitch being that we need the Graph composed by XLA (the entire computation graph of the program and not a subgraph) and pass this to Polly - in a way that it can extract the SCoPs properly. The reason for this is because Polly can then be used to schedule the entire program

[2017-03-06 19:44] nathanhere commented on #7552
@soloice suggestion worked for me:

Although on first run I encountered an error:
`FileNotFoundError: [WinError 2] The system cannot find the file specified: 'C:\\ProgramData\\Anaconda3\\envs\\tensorflow\\lib\\site-packages\\setuptools-27.2.0-py3.5.egg'`

But just deactivating and reactivating the conda env, then reissuing the command seemed to resolve the issue.

[2017-03-06 19:47] HossamAmer12 commented on #8033
@skye I understand :)  I'm working on a project where optimising execution time is a big deal and copying data is expensive, so I'd appreciate it if you can come up with the C++ feature as soon as you can. I'm actually thinking of excluding this copy time for my calculated total time.

As for your C API suggestion, would it work normally with C++ code? (I guess yes)

[2017-03-06 19:49] botev commented on #8093
This can be closed, @prb12 thanks for the fast response, it turned out there was some issue with my GLIBC installation, which however I did not manage to nail down and understand. We had a new one reinstalled a new and now it works!.

[2017-03-06 19:55] yaroslavvb commented on #7914
@israelg99 it might be useful to give a self-contained example someone could just copy-paste to reproduce your problem

[2017-03-06 20:08] dannyeuu commented on #22
Hello, that I planning that tensorflow will support the new AMD Radeon Instinct? (http://instinct.radeon.com/en-us/)

[2017-03-06 20:10] Cogitans opened #8138 "gradient_override_map should raise an error if passed invalid gradient names."
Currently, gradient_override_map does not complain if passed in nonsensical information (apart from the simple check to make sure the map is a map from strings to strings).

For instance, the following lines of code run without issue:

` with graph.gradient_override_map({"nonsense": "more_nonsense"}):
      input = tf.sign(input)`

A more subtle point (that happened with me), when attempting to ov

[2017-03-06 20:11] yaroslavvb commented on #8137
Drive-by comment -- `tf.layers.conv2d` doesn't support NCHW on CPU because of BiasOp. Seems weird that op is still being used, a+b should be sufficient

[2017-03-06 20:14] prb12 commented on #7973
This is most likely a tensorflow/models problem - seems to be running this code: https://github.com/tensorflow/models/tree/master/im2txt

@cshallue Could you please take a look at this?

[2017-03-06 20:16] taion commented on #8137
@yaroslavvb I haven't checked, but per https://github.com/tensorflow/tensorflow/issues/7551, it might be slower to use the broadcasted add instead of `bias_add`.

[2017-03-06 20:20] taion commented on #7551
It appears this doesn't happen with `tf.nn.bias_add`:

[code]

[code]

[2017-03-06 20:20] MikeTam1021 commented on #7980
Got it!!!

So, I tried the virtual environment conda install. It worked (but was buggy, as noted). Then I thought "maybe this will work on my native system". It did. Now I can access tensorflow 1.0.0 from my system. Many thanks!

conda install -c conda-forge tensorflow

[2017-03-06 20:20] #7980 closed

[2017-03-06 20:20] taion commented on #8137
Yup, `tf.nn.bias_add` seems to be faster than doing a broadcasted addition: https://github.com/tensorflow/tensorflow/issues/7551#issuecomment-284519625

[2017-03-06 20:24] prb12 commented on #8138
@mrry It looks from the code that this would be difficult to do since `tf.gradient_override_map` is a Python construct and (presumably) doesn't have an easy way to validate the args against all registered op names?

FWIW, the documentation [here](https://www.tensorflow.org/versions/master/api_docs/python/framework/core_graph_data_structures), does show a clear example where the name of the op whos

[2017-03-06 20:25] pdrews commented on #8033
@skye That looks great!  An example of the C interface is exactly what I have been missing.  I will look into transitioning to that over the next week.  I am already able to compile libtensorflow.so from source (we do have a GPU on our robot, so we need GPU acceleration).  I assume the graphdef char array can just be read in from a .pb file created from the freeze_graph.py script?

[2017-03-06 20:43] skye commented on #8033
@HossamAmer12 Yup, you can use the C API in a C++ application (I usually end up writing little C++ wrappers to make it easier to use, like scoped wrapper classes).

@pdrews I'm not super familiar with freeze_graph.py but it looks like that should work (the input to TF_ImportGraphDef is a serialized GraphDef proto, which it looks like freeze_graph.py emits).

Also, here's the link to the GPU-enable

[2017-03-06 20:49] lw394 opened #8139 "Misunderstood noise with moments of reused variables"
I'm getting small variations in the result of running the same op repeatedly on what should be the same data for every sess.run().

The included script demonstrates the issue.  Similar to batch norm, the function normalizer() maintains moving averages of the mean and var of the input tensor, but only updates those values when 'update=True'.  Whether True of False, the function returns the input te

[2017-03-06 20:49] prb12 commented on #7908
@AnlanSun Your code seems to write checkpoints based on epoch number.  You load epoch 66, then start training from epoch=0 and overwrite checkpoints every 1000 steps.  Are you sure you didn't overwrite your own checkpoint file at some point?

[2017-03-06 20:51] prb12 commented on #7908
@AnlanSun Your code appears to generate checkpoint filenames numbered by `epoch`.  You load the checkpoint from epoch66 and then start counting from zero, saving a new checkpoint every 1000 training steps.  Are you sure you didn't accidentally overwrite your checkpoint file at some point?

PS. Copying the file, e.g. using `scp` ought to be just fine.

[2017-03-06 20:58] yaroslavvb commented on #8021
Filed https://github.com/tensorflow/tensorflow/issues/8136

[2017-03-06 21:00] prb12 commented on #8139
@lw394 Could you please let me know whether you are running on GPU or CPU?
`tf.nn.moments` is basically doing reduce_sum over the tensor, and on GPU it's quite possible that large reductions have non-deterministic floating point rounding errors.

@rmlarsen @zheng-xq  Do either of you know whether moments is expected/promised to be 100% deterministic?

[2017-03-06 21:08] jhseu commented on #8107
I'm having trouble reproducing this issue. Your .whl is indeed missing _pywrap_tensorflow_internal.so, but it exists when I create it in a fresh Docker container:
[code]

Have you tried on a freshly cloned tensorflow? If you're reusing an existing tree, it's possible it's picking up older artifacts.

[2017-03-06 21:12] jhseu commented on #8107
Do you get this file after the build?
[code]

[2017-03-06 21:14] lw394 commented on #8139
thank you for the quick response.  I'm using a GPU machine, however, before I got around to submitting this I had included a `with tf.device('/cpu:0'):` statement to wrap the normalizer() function, and that didn't change anything.  However, I just realized I didn't wrap the other moments ops following normalizer calls, and when I just tried that, I'm getting exact results between successive steps

[2017-03-06 21:17] drpngx commented on #8102
The CPU/GPU implementation initializes to zero and uses [add](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/scatter_nd_op.cc#L189) rather than assign.

It seems like a somewhat stronger promise than assign, where the output would be
[code]
non-deterministically, or in an order that we define.

@rmlarsen for opinion

[2017-03-06 21:23] zheng-xq commented on #8139
In general, many GPU reduction ops in TensorFlow uses atomic operations, which are non-deterministic. Normally, this is considered fine. It is only an indication of errors if there are large difference within a single step.

[2017-03-06 21:23] sajjo79 commented on #6393
I got the same error. The directory where i wanted to write a file is located in same directory where my code is present however i wrote path as "/log_dir". I changed this to "log_dir/" and it worked. I think when I write "/log_dir", linux tried to look at root where no such directory was found and there was no permission by system to write.

[2017-03-06 21:36] jhseu commented on #8107
Note: it gets copied for packaging here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/build_pip_package.sh#L118

So a symlink should exist at `bazel-bin/tensorflow/tools/pip_package/build_pip_package.runfiles/org_tensorflow/tensorflow/python/_pywrap_tensorflow_internal.so` after build.

I verified that deleting that file still allows us to build the .whl packag

[2017-03-06 21:51] cancan101 commented on #7718
2. Yes, it corresponds to the run filter box ceasing to work.
![image](https://cloud.githubusercontent.com/assets/51059/23631666/2773bb4a-028d-11e7-83b2-23a758d618dc.png)

[2017-03-06 21:52] jpienaar commented on #8100
Definitely would be good to try XLA with Polly. Forking and modifying the CPU/GPU compiler backend might be the easiest. The [CG]PuCompiler's Compile function takes as input the HloModule with all the HloComputations. From there you'd have access to all the graphs translated from TF to XLA and can perform the optimizations you wish. You could look at entire graphs or just operations within the gra

[2017-03-06 21:52] lw394 commented on #8139
thank you.

[2017-03-06 21:56] jeffheaton commented on #6742
Also cannot access.

[2017-03-06 21:57] lwogulis commented on #2292
I'm having a similar problem (posted a question on Stackoverflow here: http://stackoverflow.com/questions/42541323/error-running-tensorflow-with-xla), and am wondering the same thing as @episodeyang

[2017-03-06 22:06] prb12 commented on #8139
Closing this as "expected" behavior.

[2017-03-06 22:06] #8139 closed

[2017-03-06 22:13] SeanTyco commented on #8059
In case anyone else is looking, I initially got the following, even when doing a 'bazel clean' before building:
[code]
You have to open permissions on the .so file in the `.../tensorflow/tensorflow/examples/android/libs/x86/`  directory.

[2017-03-06 22:13] #8059 closed

[2017-03-06 22:16] andrewharp commented on #8059
Yes, it turns out that bazel creates the files as read-only by default. To prevent this from happening on subsequent builds you can add a "fileMode 0644" to the copyNativeLibs task in build.gradle (I'm in the process of submitting a fix for this currently).

[2017-03-06 22:21] #8044 closed

[2017-03-06 22:28] alextp commented on #8057
The private method is sad because it can return wrong results if the optimizer is reused across many graphs (and, indeed, the optimizer itself is kinda wrong for that use-case).

I think we can make the slot API better by allowing variable-free slots (keyed by a graph, or, if None, the current default graph) and having Adam use those. Something called `graph_slot`, or `free_slot`?

[2017-03-06 22:43] lwogulis opened #8141 "Error Compiling with XLA"
I'm attempting to build Tensorflow from source with XLA, and am not able to run my test code. My test code:
[code]
The error I get:
[code]

Building with:
[code]

I am working on the master branch
[code]

I've posted on stackoverflow: http://stackoverflow.com/questions/42541323/error-running-tensorflow-with-xla

[2017-03-06 22:58] ChristopherWMartin opened #8142 "'Download and Setup' link in README.md is dead"
The link points to: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md

[2017-03-06 22:59] cheyang opened #8143 "Is unpack of TensorFlow deprecated?"
I noticed that when I run the following code in v1.0.0 which was working well in v0.11.0 and v0.12.0, it's failed and told me that

[code]
error:

[code]

And I also can't find that in [tf api docs](https://www.tensorflow.org/api_guides/python/array_ops). I  am wondering what API to replace it? I didn't see any deprecated hint in [v0.12 api docs](https://www.tensorflow.org/versions/r0.12/api_docs/

[2017-03-06 23:05] prb12 commented on #8141
It looks like you haven't configure/linked in XLA JIT support for your binary.  The XLA_CPU  JIT device isn't registered, so the placer can't assign the matmul op there.

I assume you're following the instructions here: https://www.tensorflow.org/versions/master/experimental/xla/jit ?

Did you enable XLA as part of the `./configure` process?
(see https://github.com/tensorflow/tensorflow/blob/maste

[2017-03-06 23:06] asimshankar commented on #8143
Yes, you want to use `tf.unstack` instead.

This was mentioned in the [release notes](https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md), though perhaps could have been advertised more.

[2017-03-06 23:06] #8143 closed

[2017-03-06 23:07] cheyang commented on #8143
Thanks.

[2017-03-06 23:15] jinghuangzhu opened #8145 "tensorflow r1.0 does not report training speed in the log any more"
I used tensorflow r0.10 before with contrib.learn.
When I set
tf.logging.set_verbosity(tf.logging.INFO)

after imports, I would get the following info from the training log:

INFO:tensorflow:Results after 10 steps (0.185 sec/batch): loss = 0.0644001, auc = 0.73555, accuracy/threshold_0.500000_mean = 0.988108

But with tensorflow r1.0, no such info in the training log any more.
Why is it removed? I

[2017-03-06 23:15] agarwal-ashish commented on #7935
I agree that adding a shape function to NearestNeighbors sounds like a good next step to fix this issue. @mahatosourav91 have you tried that / are planning on trying that ?

[2017-03-06 23:16] crjensen21 commented on #1419
Thanks @aidan-plenert-macdonald. I tried that and I still end up with this:

On the bright side, they've moved the reader_base to the framework folder rather than the kernels folder so I can now build it using bazel without having to patch the bazel build.  Unfortunately, building that way I now get this error:

So I still have to remove the disallowed_deps and depend on the reader_base target to

[2017-03-06 23:20] elfadly commented on #8105
OS: windows 10 64 bit
installed tensorflow using pip
I think the code I am trying to run is incomplete.

[2017-03-06 23:24] petewarden commented on #8054
This does look like a good fix, thanks @tatatodd !

[2017-03-06 23:25] petewarden commented on #7958
CC-ing @keveman who's interested in this area.

[2017-03-06 23:30] prb12 commented on #8142
@josh11b I think you just moved the docs that this link used to point to?

[2017-03-06 23:42] prb12 commented on #8145
That log message appears to still be in the source code here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/graph_actions.py#L786

However, it is predicated on the `log_every_steps` parameter.  Perhaps this is being configured differently by default.

In any event, this code appears to be deprecated now, so I wouldn't suggest depending on the existence

[2017-03-06 23:42] #8145 closed

[2017-03-06 23:43] lobachevzky opened #8146 "Using tensorflow.contrib with cv_bridge causes tcmalloc error"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-03-06 23:53] josh11b commented on #8142
New link is https://www.tensorflow.org/install/

[2017-03-07 00:00] aidan-plenert-macdonald commented on #8141
I am working with @lwogulis. We are building from source with the command above (broken below for better visibility),

[code]

See above for the rest of the compile/install commands.

[2017-03-07 00:03] josh11b commented on #8142
I found some references to os_setup.md and will update them.

[2017-03-07 00:27] agupta74 commented on #8061
I am trying to build tensorflow with the latest master branchbut getting the following error. Any ideas on how this could be fixed?

ERROR: /home/agupta2/TensorFlow_Sources/tensorflow/tensorflow/stream_executor/BUILD:39:1: C++ compilation of rule '//tensorflow/stream_executor:cuda_platform' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command
  (cd /root/.cache/bazel/_bazel_

[2017-03-07 00:34] aidan-plenert-macdonald commented on #5763
We are doing macros to implement them quickly. A bunch of them really aren't that hard and can be macro'ed out. You can also often use existing implementations, but not that you need a patched version of TF to expose more headers. https://github.com/tensorflow/tensorflow/issues/1419

[2017-03-07 00:45] alwint3r commented on #209
@RuiZhang1993 It's still not available now. But [this link](https://web.archive.org/web/20160117040036/http://yann.lecun.com/exdb/mnist/) is still available, and you can download the data from there. Thanks a lot @jeremija!

[2017-03-07 01:09] botev commented on #492
@yaroslavvb When executing on the GPU is there any way to interrogate the current memory pool allocated by tensorflow when using `gpu_options.allow_growth = True`. You must keep somewhere the full pool of the device memory manager, but how can we access the number (here I'm referring without logging it to some ifle).

[2017-03-07 01:11] shanxiongfei commented on #8114
It's so happy to receive your response, thank you very     @prb12
My system is macOS Sierra 10.12.
3,2.9 GHz Intel Core i5,
8 GB 2133 MHz LPDDR3
Intel Iris Graphics 550 1536 MB
I install tensorflow according  to install_sources.md

[2017-03-07 01:16] yaroslavvb commented on #492
@botev you can use https://github.com/yaroslavvb/memory_util to see which tensors get allocated/deallocated, and you can use https://github.com/yaroslavvb/memory_probe_ops to query memory usage at point during session.run call (GPU only)

[2017-03-07 01:28] blackhu opened #8149 "import tensorflow as tf ,display "Segmentation fault" And exit python env"
os: CentOS Linux release 7.0.1406 (Core)
os kernel:.10.0-123.9.3.el7.x86_64
python version:Python 2.7.5
gcc version:GCC 4.8.5 20150623
         i download tensorflow-1.0.0-cp27-none-linux_x86_64.whl and install it.when i open python,input "import tensorflow as tf",display "Segmentation fault" and exit python;

[2017-03-07 01:28] cancan101 opened #8150 "Two different user_ops directories"
There are currently two different directories labeled `user_ops`, each with example(s):
* https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/user_ops
* https://github.com/tensorflow/tensorflow/tree/master/tensorflow/user_ops

Is this intentional or vestigial?

Might reduce confusion to merge these.

[2017-03-07 01:36] blackhu commented on #8149
i download setup file md5sum hash is :842f6e69897c4dbb583f855fb685c2e7
.download source from github description “Installation”

[2017-03-07 01:39] yaroslavvb commented on #8107
OK, looking closer at logs, it looks like compilation failed because of a syntax error. So the wheel was getting built with an incomplete file set, probably left over from previous build.

The error is that one of the files has
`size_typ i = 0;`  which should be `size_type i = 0;`
😮

Isn't this kind of thing supposed to get caught by continuous tests?

Someone else is trying to fix it in: https://

[2017-03-07 01:41] IvyGongoogle commented on #8078
@prb12 Thank you very much for your reply. I use ubuntu14.04, x86_64. and I use tf r1.0 by  `git clone https://github.com/tensorflow/tensorflow `and `git checkout r1.0`.

[2017-03-07 01:41] yaroslavvb commented on #8107
I'll close this issue since there's already a PR in flight to fix it

[2017-03-07 01:41] #8107 closed

[2017-03-07 01:48] dandelionmane commented on #7718
Can you please provide a reproduction of the issue? Does this happen any time you use the run filter box?

[2017-03-07 01:50] dandelionmane commented on #8055
@rryan Can you take a look?

[2017-03-07 01:57] rryan commented on #8055
hey @lemonzi! could you share an example events file that produces the problem?

[2017-03-07 02:01] mahatosourav91 commented on #7935
@agarwal-ashish Sorry I have a very little understanding of tensorflow framework right now, so I couldn't find the correct place where the change is to be made. Currently I am working by modifying the gen_clustering_ops.py which I know is a bad idea.

[2017-03-07 02:04] matheusgadelha commented on #6369
Why this issue was closed? I have the exact same problem.

[2017-03-07 02:04] rryan commented on #4207
This is certainly an issue -- for those hitting it here are some workarounds until we get some better codecs in TensorFlow:

- Use ```tf.summary.audio```'s ```max_outputs``` argument to limit the number of WAVs you're writing to your events file per summary run.
- If using ```tf.Supervisor```, increase your ```save_summaries_secs``` to write summaries less frequently.

[2017-03-07 02:12] mahatosourav91 commented on #7935
@agarwal-ashish It would be very helpful if you can look into this issue [7748 ](https://github.com/tensorflow/tensorflow/issues/7784#issuecomment-283346222) also.

[2017-03-07 02:14] cancan101 opened #8151 "Calling Generic conv with data_format='NCHW' Leads to Segfault"
Running on 1.0.0.2 Docker image, this code:
[code]
yields:
[code]
While it does print a helpful error message, it then proceeds to core dump.

I also see this issue on macOS

[2017-03-07 02:15] xcyan commented on #6369
You can resolve this issue by updating your tf to 0.12+

[2017-03-07 02:20] agarwal-ashish commented on #7823
We are hoping to open source these in Q2. Initial support will be on CPU and distributed.

[2017-03-07 02:20] #7823 closed

[2017-03-07 02:24] MyAusweis commented on #8129
Dear prb12

I already changed the windows command prompt to d: and write like this

d:>tensorboard --logdir = D:\
but the data still not shown, even in drive D there are several events data.

Thx

[2017-03-07 02:58] longnv-viosoft commented on #37
+1

[2017-03-07 03:00] botev commented on #492
@yaroslavvb I'm assuming that if I run the probe op in a session together with computation of a model this would return me the peek memory usage, is that correct?

[2017-03-07 03:04] Narukamiko opened #8152 "Error when calling tf.train.Save()"
[code]

How can I solve it?

[2017-03-07 03:06] rryan commented on #4207
IMHO a lossless codec like FLAC would greatly improve the situation without degrading the quality of the synthesized audio.

[2017-03-07 03:12] yaroslavvb commented on #492
it would give you memory usage at the time when the op was executed. If you want peak memory usage, you can use MaxBytesInUse added in https://github.com/tensorflow/tensorflow/commit/ccf9a752

[2017-03-07 03:37] styleNie commented on #8049
on win7 x64
python version is 3.5
tensorflow's version is 1.0.0, and it is installed by pip install tensorflow

# highway layer that borrowed from https://github.com/carpedm20/lstm-char-cnn-tensorflow
def highway(input_, size, layer_size=1, bias=-2, f=tf.nn.relu):
    """Highway Network (cf. http://arxiv.org/abs/1505.00387).

    t = sigmoid(Wy + b)
    z = t * g(Wy + b) + (1 - t) * y
    where g

[2017-03-07 04:30] prb12 commented on #8129
Could you please reread the comment from mrry@ in the issue I referenced which explains that file name parsing interprets the leading drive letter component as a ‘tag’ and hence you will need to prefix your pathname with an extra ‘tag:’ to workaround this on Windows.

On March 6, 2017 at 6:25:59 PM, MyAusweis (notifications@github.com) wrote:

Dear prb12

I already changed the windows command prom

[2017-03-07 04:30] mrry commented on #8138
Unfortunately it's now part of the 1.0 API so we can't easily change it. It might be possible to validate the names of ops against the `OpDef` registry, which should catch some errors. Over time, however, I think we'll want to standardize on TF functions (which I guess are not yet part of the stable `tf.*` API) as the way to specify overridden gradients for subgraphs and individual ops.

[2017-03-07 04:31] HuMingqi commented on #8122
@mrry Thanks for your reminder, I should have checked whether it was reported.

[2017-03-07 04:47] jhseu commented on #8107
Yeah, I think the issue is that we disable XLA in our OSS tests since it's experimental.

Not sure people would want to add a separate run just for XLA.

[2017-03-07 05:12] SumithRZT opened #8154 "Error while tf.image.crop_and_resize"
I am trying to crop and resize an image with a list of co-ordinates using tf.image.crop_and_resize()
but am getting the following error:
### TypeError: Expected binary or unicode string, got 960,
Below is the code which I am using

[code]

and I am getting the above said error. The complete stack trace is given below.

[code]

I am passing a string returned by tf.image.encode_jpeg still it is not

[2017-03-07 05:19] mrry commented on #7935
I have a fix in the works that will enable `tf.contrib.factorization` on Windows.

[2017-03-07 06:19] mahatosourav91 commented on #7935
@mrry What about linux?

[2017-03-07 06:22] yaroslavvb opened #8156 "Add CI build for XLA"
There's no continuous testing for XLA build, so that head can contain errors.
Right now it's broken with syntax error, and this error has been there since Mar 2 or earlier -- https://github.com/tensorflow/tensorflow/pull/8039

XLA got a lot of publicity at the TF summit, and there've been 90 issues filed on it, 5 of them connected to this breakage. Keeping head free of build errors for XLA build c

[2017-03-07 06:24] mrry commented on #7935
The same change should fix Linux as well.

[2017-03-07 06:25] IvyGongoogle commented on #2924
@jinfengfeng I can not understand the second point `2. link problem after install higher version of glibc` in your above solution. How to solve this error:
`while loading shared libraries: __vdso_time: invalid mode for dlopen():Invalid argument`
?

[2017-03-07 06:33] cancan101 commented on #3001
@paiv Wondering if you saw any issues like this: http://stackoverflow.com/questions/42641668/using-basic-neural-network-subroutines-bnn-accelerate

[2017-03-07 06:49] yuquanle commented on #7844
@poxvoculi
@icyJoseph
the environment is tensorflow 1.0，but in windows10 is fail，the file word2vec_ops.so i use ubuntu generate and copy to windows10 .
In the windows10 ，the error is：

 File "C:\Users\yuquanle\Anaconda3\lib\site-packages\tensorflow\python\framework\load_library.py", line 63, in load_op_library
    raise errors_impl._make_specific_exception(None, None, error_msg, error_code)
tensor

[2017-03-07 06:57] Cogitans commented on #8138
Agreed that in general the names should match the python functions. I haven't delved into the code as much as I should have, but wouldn't it be possible just to keep a list around in python of everything that got "tf.RegisterGradient(...)"-d and check `gradient_override_map` against it?

[2017-03-07 07:02] IvyGongoogle opened #8158 "error while loading shared libraries: __vdso_time: invalid mode for dlopen():Invalid argument"
sorry to trouble you. I use Centos6.4 and CUDA7.0 and I have no ‘sudo’ authority. I install tensorflow from the source. After I installed glib2.17 and set LD_LIBRARY_PATH, I encountered the same error many people got:
`error while loading shared libraries: __vdso_time: invalid mode for dlopen():Invalid argument`

I try to search many solutions and there is still not a good or detailed solution. Ca

[2017-03-07 07:15] shanxiongfei commented on #8114
My system is macOS Sierra 10.12.
Python 2.7.13
GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42.1)
bazel release 0.4.4-homebrew

[2017-03-07 07:18] aartikas opened #8159 "MNIST dataset usage issue"
Hi,
I am working with tensorflow to build a network using mnist data set but it is showing connection refused error.

 File "neuralnw1.py", line 4, in <module>
    mnist = input_data.read_data_sets('MNIST_data', one_hot=True)  # one-hot -> '2' = (0,0,1,0,0,0,0,0,0)
  File "/usr/local/lib/python3.4/dist-packages/tensorflow/contrib/learn/python/learn/datasets/mnist.py", line 189, in read_data_sets

[2017-03-07 07:18] shanxiongfei commented on #8114
My system is macOS Sierra 10.12.
Python 2.7.13
GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42.1)
bazel release 0.4.4-homebrew

wangjingsideMacBook-Pro:tensorflow ginthva$ pip install mock
Requirement already satisfied: mock in /usr/local/lib/python2.7/site-packages
Requirement already satisfied: pbr>=0.11 in /usr/local/lib/python2.7/site-packages (from mock)
Requirement already satisfied: f

[2017-03-07 07:18] samfux84 commented on #7572
Finally I could manage to compile Tensorflow 1.0. The problem was solved after applying the suggestion in https://github.com/tensorflow/tensorflow/issues/3261#issuecomment-234147379

After setting the linker flag in the /tools/cpp/CROSSTOOL in bazel and the /thirdparty/sycl/crosstool/CROSSTOOL.tpl  in the tensorflow directory, the error was no longer showing up.

[2017-03-07 07:48] akaitsuki-ii commented on #7817
@yaroslavvb
My implementation rely on 3rd library tensorlayer and it takes me sometime to rewrite it using tensorflow only.
You can check and download the example .py file with [this](https://www.dropbox.com/sh/ijc7lccquf1g4l7/AABX9pf5LIqkvPxplbhFRVafa?dl=0) Dropbox link.
Please check different performance of *dequeue* operation between `sess.run(train_op)` and `sess.run(light_op)`.