[2018-09-05 09:19] akshay951228 opened #22085 "How to convert to .pb when there are multiple sess.run in graph"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-05 09:27] ajonkisz opened #22086 "Lack of support for half precision type in linear algebra operators"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS 7
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command b

[2018-09-05 09:45] KingBo0259 commented on #20900
I have the Same issue 。。。。 I have user master branch

[2018-09-05 09:59] simtony commented on #17908
Still got this problem with tf1.10

[2018-09-05 10:05] Kundan999 commented on #19476
yeah it is still an issue
i am using python 3.6.5
windows 7
the issue is still same if i try to install tensorflow 1.66 or above

[2018-09-05 10:12] tats-u opened #22087 "Provide wheels for multiple versions of CUDA officially"
Ubuntu 18.04, the latest LTS version, only supports CUDA 9.2, but there is no wheel available for that combination of CUDA and Linux.  This prevents servers where Ubuntu 16.04 are installed from upgrading to 18.04.

On the other hand, PyTorch and CuPy officially provides wheels multiple versions of CUDA.  TF may be the only deep learning framework that is available in PyPI and confines the version

[2018-09-05 10:23] jrabary opened #22088 "distribute.MirroredStrategy fails with Resource exhausted: OOM when allocating tensor with shape"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:  source r1.10
- **TensorFlow version (use command below)**:

[2018-09-05 10:26] ajaysh2193 opened #22089 "ResourceExhaustedError"
Hi, I have trained CNN model on overall 3021 images (train data) which belongs to 9 classes (labeled data). I have 453 test images to verify my model predictions. My training model built fine with no issues (~95% accuracy) but while I am predicting it on test data, after running on some 40-45 images(also printing their predictions), it does not able to load and process further data/images to make

[2018-09-05 10:33] catruck opened #22090 "import tensorflow as tf"
import tensorflow as tf
Traceback (most recent call last):

  File "<ipython-input-1-64156d691fe5>", line 1, in <module>
    import tensorflow as tf

  File "C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 22, in <module>
    from tensorflow.python import pywrap_tensorflow  # pylint: disable=unused-import

  File "C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\pytho

[2018-09-05 10:59] PatWie commented on #22068
That `CV_32FC1` is supposed to be a [`CV_32FC3`](https://github.com/PatWie/tensorflow-cmake/blob/master/examples/resize/opencv_version.cc#L30) since your tensor should have 3 channels, right?
I am pretty sure SO would be the better place to ask this question.

[2018-09-05 11:02] Hoeze commented on #22059
I debugged this problem:
Since this variable slice is a Tensor, it gets wrapped by the class `_TensorProcessor` in `tensorflow/python/training/optimizer.py`.
Since `update_op()` is not implemented in this special case, the gradient cannot be applied.

There would be multiple solutions to this problem:
- Make variable slices return another special variable type
- Implement `update_op()` in `_Tensor

[2018-09-05 12:28] AashishGit opened #22091 "Failed to load the native TensorFlow runtime."
Traceback (most recent call last):
  File "test_pixel_link.py", line 5, in <module>
    import tensorflow as tf
  File "/home/aashish/anaconda3/envs/pixel_link/lib/python2.7/site-packages/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "/home/aashish/anaconda3/envs/pixel_link/lib/python2.7/site-packages/tensorflow/python/__init__.py", line 51, in <module>

[2018-09-05 12:29] AashishGit commented on #22091
I have installed CUDA on a non-GPU machine

[2018-09-05 12:29] facaiy commented on #17056
Is it related to #12659 ?

[2018-09-05 13:12] SumNeuron opened #22092 "TF Record, Example, and SeqeunceExample inconsistency(?) / Documentation request"
I have posted 2 stack overflow questions regarding TF Records and (Sequence)Examples.
I even had a bounty on one.
Despite only receiving up-votes. Neither received any support.
Both had an associated Colab document to assist.

The questions where

1. [Store images as byte strings or per channel?]https://stackoverflow.com/questions/52035692/tensorflow-v1-10-store-images-as-byte-strings-or-per-chann

[2018-09-05 13:33] AzizCode92 commented on #21929
@asimshankar any updates about this issue?

[2018-09-05 13:43] Tgmstriker opened #22093 "AttributeError: 'SsdAnchorGenerator' object has no attribute 'height_stride'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I am using the stock scripts with a custom training dataset
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
n/A
- **TensorFlow installed from (source

[2018-09-05 13:46] olel-may commented on #21767
I got the same error when training using `MirroredStrategy` with `AdamOptimizer` and `AdagradOptimizer`

[2018-09-05 13:52] shashank2710 commented on #22068
Have I written custom code: yes
OS Platform and Distribution: Ubuntu 18.04
TensorFlow installed from: Source
TensorFlow version: 1.10 (CPU version)
Bazel version:0.16
CUDA/cuDNN version: 9.0 (installed but not used)
GPU model and memory: Nvidia 1070 (present but not used)
Exact command to reproduce: N/A
Mobile device No

[2018-09-05 14:26] mrry commented on #17810
Yes, that's right.

[2018-09-05 14:32] dmus opened #22094 "Possible bug with map_fn in Graph mode during training, works fine with Eager execution"
Tensorflow 1.10 on Ubuntu 16.04

A simplified code example, see also stackoverflow: https://stackoverflow.com/questions/52187269/tensorflow-map-fn-does-not-work-in-graph-mode-during-training-in-eager-mode-it

This loss function works:
[code]

However, when inserting an extra map_fn to work with batch sizes > 1 it doesnot work:
[code]

The error is:

Note that this works fine in Eager mode and also

[2018-09-05 14:37] monsta-hd commented on #16455
@formigone it might not be the case, but you can try lowering the momentum in `batch_normalization(..., momentum=0.99, ...)`, to e.g. `0.9`. The default can often be too "smooth", and as a result the validation metrics can be worse since the training forgets past values more slowly

[2018-09-05 14:41] gerbenvv opened #22095 "3D convolutions on GPU with large input produces incorrect results on some GPUs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, see reproduction script below.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.5 LTS
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: B

[2018-09-05 14:52] qlzh727 commented on #19084
It seems to be a bit strange use case for having initial state as variable. Can u describe what's the intention behind that? eg u want to use those variable in a later step/layer?

[2018-09-05 14:55] maharjun commented on #22054
I have tried with tensorflow version 1.10.0 as well, the same error occurs.

[2018-09-05 15:21] hequn commented on #21921
Hi, guys @YijinLiu @jimenisimo I solved my problem by adding the std and mean to the input data though I did not give the  "--mean_values=128     --std_values=128" when using bazel compile.
When inferring the image, 'input_data = np.expand_dims((input_data - args.input_mean) / args.input_std, axis=0)' should be given , and the input_mean is 128/ std is 128.

[2018-09-05 15:37] jdduke commented on #22022
Generalized support for Merge and Switch are a ways off, as they're control flow mechanisms, but I've added SquaredDifference to our todo list. It would really help if you could share the model, or how you generated the model, so we can see if there's a way to remove the Merge/Switch ops.

[2018-09-05 16:02] owengray-brainco commented on #21518
I finally got it working. I just needed to make sure that the version of python I passed to the first question in ./configure could successfully import keras when run from command line. I may have also needed to set PYTHONPATH.
I also found that the option --copt=-march=native did not work, and I needed to manually specify e.g. --copt=-mavx2
I also got the keras version mismatch error, but the com

[2018-09-05 16:14] zmjjmz commented on #21983
Ah I didn't find that when I was looking around for related issues. I'll try that workaround for now I guess, even if ti's pretty ugly.

[2018-09-05 16:15] cy89 commented on #21150
@amaresh943 you said "this problem has been resolved". Did it go away with a new version, or did you find some other solution to resolve it? It'd be nice to record in case others hit the same thing.

Thanks!

[2018-09-05 16:28] ZacVawterKodiak commented on #22057
How I pinned the issue to ^ revision, I ran my repro from above with different revisions from tf repo (using a script), and got the following results for the revisions around the pin point.  Note that the other 'inconsistent: true' cases are revisions that didn't change any code so no rebuild happened (false positive for bug).

rev: 8441db8afeee0efbeac9b457016d8558fbcde2b6 inconsistent: True
rev:

[2018-09-05 16:52] bhack commented on #21983
Seems that some use of that "workaround" now create problem with DistributionStrategy. I still hope as you and others in the old ticket that we could have a straight/pretty solution but I've not seen any proposal.

[2018-09-05 16:57] zmjjmz commented on #21983
Oof, ok I'll see if I can reproduce that as well.

[2018-09-05 17:00] AzizCode92 commented on #12512
I have the same issue with tf.contrib.rnn.LayerNormBasicLSTMCell and the loss is NAN and the model's performance is worse.

[2018-09-05 17:06] jdduke commented on #22023
I'm not familiar with the sqlite dependency, but we might consider excluding TensorFlow Lite from the default s390x platform builds.

[2018-09-05 17:14] ricardobnjunior commented on #22019
Same problem

[2018-09-05 17:18] karmel commented on #17571
This may be a case where using a model_fn that wraps your Keras model is the best strategy-- see option 2 [here](https://github.com/tensorflow/tensorflow/issues/19295#issuecomment-415892696). That would allow you to add summaries without trying to hack them into the graph, as the current expectation is that summaries are separate from the graph, controlled by callbacks.

CC @omalleyt12 -- this is

[2018-09-05 17:48] zmjjmz commented on #21983
I'd refer to the code sample provided in the gist I linked. Previously I was going the pure `model_fn` route, however the issue with the way I was doing it before was that by manually creating the loss function I was losing anything that might contribute to that loss function, e.g. an L2 penalty.

It's not clear to me that using the `multi_class_head` solves this, as it seems to create the loss fu

[2018-09-05 17:55] omalleyt12 commented on #22062
@ybsave without knowing too much about your problem, my recommendation would be:

1) If it never changes, hard code it
2) If it's known when the batch starts, pass it in as an Input
3) If it's calculated during a batch run, calculate it using a Lambda layer or custom Layer

Hope that helps! Going to close this out as this is intended behavior

[2018-09-05 17:55] #22062 closed

[2018-09-05 18:05] lenlen commented on #21983
The main advantage of the model_to_estimator is that we can skip the implementation of the model_fn. Writing the pure model_fn is not convenient for who uses the keras model and model_to_estimator to get the estimator. If adding just a summary or warm start an estimator will require an explicit model_fn manually defined the scope of model_to_estimator will be too narrow.

[2018-09-05 18:08] npow opened #22096 "CTCLoss does not support half precision (float16/fp16)"
I was trying to use `CTCLoss` with float16, and encountered a type exception in `python.framework.op_def_library._apply_op_helper `. In the [op definition](https://github.com/tensorflow/tensorflow/blob/294442996b2aeff00b1bfdc7e7169f7cb35bbf3d/tensorflow/core/ops/ops.pbtxt#L3568), it only lists `DT_FLOAT`.  Is there a particular reason that this op wasn't updated to support half precision in #1300?

[2018-09-05 18:09] AzizCode92 commented on #21929
here is the full code
[code]

[2018-09-05 18:12] feihugis commented on #17810
If there is no anyone else working on it, I would like to submit a PR for this new op.

[2018-09-05 18:13] lenlen commented on #19295
In the warm start case the option 1 allows us to avoid the model_fn implementation, but in option 2, as for summary, we need to implement it. For the option 2 read my comment https://github.com/tensorflow/tensorflow/issues/21983#issuecomment-418826230.

[2018-09-05 18:15] prb12 commented on #17910
Well, it's very hard to see what the problem might be from the "modified code" link you sent because the timeline capturing code is commented out in a way that obfuscates the original control-flow:
[code]

But... the fact that you create the `tf.RunMetadata` protobuf outside the loop and potentially reuse it many times means that you quite probably have merged a bunch of `StepStats` into the same

[2018-09-05 18:24] staqiuddin opened #22097 "Failed to load the native TensorFlow runtime (TF 1.10.0, Windows Platform Only)"
### System information
- **Have I written custom code**: No
- **OS Platform and Distribution**: Windows 10 and Windows Server 2016
- **TensorFlow installed from**: Anaconda Distribution
- **TensorFlow version**: 1.10.0
- **Python version**: 3.6.6
- **CUDA/cuDNN version**: N/A
- **GPU model and memory**: N/A
- **Exact command to reproduce**: python -c "import tensorflow as tf; print(tf.GIT_VERSION,

[2018-09-05 18:26] karmel commented on #22058
@yuefengz , can you take a look?

[2018-09-05 18:33] gunan commented on #22097
Anaconda distribution is not maintained/owned by us.
Please reach out to the owners of the anaconda package for support.

[2018-09-05 18:33] #22097 closed

[2018-09-05 18:34] gunan commented on #22090
Duplicate of https://github.com/tensorflow/tensorflow/issues/19584

[2018-09-05 18:34] #22090 closed

[2018-09-05 18:36] gunan commented on #22082
I agree with @yongtang
The stacktrace points to an issue outside tensorflow.
Could you try the recommendation on pypa/setuptools#1282

[2018-09-05 18:38] gunan commented on #22034
Did you try using out docker containers?
https://www.tensorflow.org/install/install_linux#InstallingDocker

Unfortunately, outside docker we cannot provide full ubuntu system images with tensorflow, due to licensing restrictions.

[2018-09-05 18:38] #22034 closed

[2018-09-05 18:43] knathanieltucker commented on #17571
That certainly works. 👍

[2018-09-05 18:47] tanzhenyu commented on #19295
@lenlen Will option 1 work for you?

[2018-09-05 18:48] #14232 closed

[2018-09-05 18:48] tensorflowbutler commented on #22081
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-09-05 18:48] tensorflowbutler commented on #22087
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-05 18:48] tensorflowbutler commented on #22089
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-05 18:48] tensorflowbutler commented on #22090
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-05 18:48] tensorflowbutler commented on #13641
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-05 18:48] tensorflowbutler commented on #14232
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-05 18:49] tensorflowbutler commented on #17353
Nagging Assignees @jch1, @pkulzc: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:49] tensorflowbutler commented on #18191
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-05 18:49] tensorflowbutler commented on #18238
Nagging Assignee @bignamehyp: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:49] tensorflowbutler commented on #19108
Nagging Assignees @karmel, @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:49] tensorflowbutler commented on #19198
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:49] tensorflowbutler commented on #19384
Nagging Assignee @achowdhery: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:49] tensorflowbutler commented on #19933
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:49] tensorflowbutler commented on #20585
Nagging Assignee @ebrevdo: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:49] tensorflowbutler commented on #20597
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:49] tensorflowbutler commented on #20739
Nagging Assignee @raghuraman-k: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:49] tensorflowbutler commented on #20750
Nagging Assignee @zheng-xq: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:49] tensorflowbutler commented on #20938
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:50] tensorflowbutler commented on #20956
Nagging Assignee @mdanatg: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:50] tensorflowbutler commented on #21056
Nagging Assignee @bignamehyp: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:50] tensorflowbutler commented on #21334
Nagging Assignee @tatatodd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:50] tensorflowbutler commented on #21351
Nagging Assignees @lamberta, @MarkDaoust: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:50] tensorflowbutler commented on #21377
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-05 18:50] tensorflowbutler commented on #21405
Nagging Assignee @anj-s: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:50] tensorflowbutler commented on #21410
Nagging Assignee @zheng-xq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:50] tensorflowbutler commented on #21414
Nagging Assignee @wolffg: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:50] tensorflowbutler commented on #21416
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:50] tensorflowbutler commented on #21417
Nagging Assignee @tatianashp: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:51] tensorflowbutler commented on #21720
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:51] tensorflowbutler commented on #21736
Nagging Assignee @drpngx: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:51] tensorflowbutler commented on #21744
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:51] tensorflowbutler commented on #21747
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:51] tensorflowbutler commented on #21748
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:51] tensorflowbutler commented on #21749
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-05 18:51] tensorflowbutler commented on #21754
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-05 18:51] tensorflowbutler commented on #21763
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-05 18:53] tatianashp commented on #22088
@josh11b Can you help here?

[2018-09-05 19:00] ybsave commented on #21460
Hello @allenlavoie, sorry to bother you again. Would you please help have a look at https://github.com/tensorflow/tensorflow/issues/22062? Could this be another similar bug in Keras save/load? Or it was just my mis-use? Thank you.

[2018-09-05 19:06] tatianashp commented on #21754
@TanLingxiao Please take a look at https://www.tensorflow.org/install/install_sources. It has complete instructions on how to build TensorFlow with GPU support.

[2018-09-05 19:06] #21754 closed

[2018-09-05 19:14] chaowu2009 commented on #21544
I think maybe it is out of memory error. After I increased the instance memory, the error went away. Thanks.

[2018-09-05 19:14] #21544 closed

[2018-09-05 19:15] btaba opened #22098 "Memory issue when inter_op_parallelism_threads > 1 on Ubuntu 16.04"
### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, see below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
[code]
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use

[2018-09-05 19:34] lenlen commented on #19295
It should work, but we could be penalized by the lack of functionalities of `WarmStartSettings` as for example vars_to_warm_start to execute partial warm start. In the option 1 you need to replicate some these functionalities on your own.

[2018-09-05 19:35] mpekalski commented on #21518
In my case it was the problem that there are two different versions of packages with `-` and `_` after keras so `keras_applications` and `keras-applications`. I was looking at one and TF was requiring the other one. The same goes for `keras_preprocessing`

[2018-09-05 19:56] yifeif commented on #20690
I believe this should be fixed by #21202 (thanks to @bstriner) if you build from source. But looks like there [won't be](https://github.com/tensorflow/tensorflow/issues/20517#issuecomment-418442189) a python 3.7 pypi package for 1.11, cc @gunan.

[2018-09-05 19:56] #20690 closed

[2018-09-05 20:08] martinwicke commented on #21930
Yes. Let's remove tf.logging from the public API (in 2.0). Users should switch to Python's logging module (or any logging facility of their choice).

I will close this issue.

[2018-09-05 20:08] #21930 closed

[2018-09-05 20:10] gunan commented on #20938
What is pasted is just a warning. It did not cause your build to fail.
Could you use pastebin to share the full log?

[2018-09-05 20:14] TGithubbr opened #22099 "Issue with Tensorflow softmax on gpus"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
none
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use comma

[2018-09-05 20:26] alextp commented on #21901
I think unsorted_segment_sum requires a lot more temporary storage than
reduce_sum for this case.

On Wed, Sep 5, 2018 at 1:18 AM Yan Facai (颜发才) <notifications@github.com>
wrote:

--
 - Alex

[2018-09-05 20:43] allenlavoie commented on #22062
@ybsave I think the idea of 3 is that you could subclass `Layer` and pass the NumPy array to its constructor. You may then have to define `get_config` and `from_config`, but that's one path to getting everything serialized. The NumPy array would live with the `Layer` subclass.

We are hoping to serialize/deserialize `Model`s as TensorFlow graphs soon, which should work around function bytecode iss

[2018-09-05 20:49] DeepakSridhar commented on #9554
Don't use a list.

def _float32_feature(value):
  return tf.train.Feature(float_list = tf.train.FloatList(value=value))

[2018-09-05 21:28] gunan commented on #21977
Potential duplicate of https://github.com/tensorflow/tensorflow/issues/19584
What is your CPU make/model?

[2018-09-05 21:31] gunan commented on #21886
@tatianashp Could you reroute this issue to Intel?

[2018-09-05 21:57] fzhu129 commented on #21962
Hi @jdduke, Thank you very much

[2018-09-05 22:37] aaroey commented on #21248
I finally found the root-cause, the reason is that it set the ITensor name multiple times which changes the input binding name. I'll commit a fix later.

[2018-09-05 22:53] ybsave commented on #22062
@allenlavoie Thank you for your explanation. I tried to use a custom layer to perform the tf.gather; however, the load_model still crashed. My codes are

	class IndexLayer(Layer):
	  def __init__(self, valid_idx, **kwargs):
		self.valid_idx = valid_idx
		super(IndexLayer, self).__init__(trainable=False, **kwargs)

	  def build(self, input_shape):
		super(IndexLayer, self).build(input_shape)

	  de

[2018-09-05 23:07] inspirepassion commented on #9530
This helps which is from Stackoverflow @Sachin G. (https://stackoverflow.com/questions/27063361/how-to-run-pycharm-in-ubuntu-run-in-terminal-or-run)

[2018-09-05 23:14] facaiy commented on #21901
If I understand it correctly, tf.reduce_sum(grad, axis=0) results in [4, 3], rather than [2, 3]. Note that the second dimension is also broadcasted in the case.

[2018-09-05 23:18] yongtang commented on #22099
I don't have Windows access though I tried on Linux the Softmax is available on GPU:
[code]

I think that might be a Windows specific issue?

[2018-09-05 23:40] vishalsubbiah opened #22102 "raw_rnns not working with xla jit compile"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Centos 7.4.1708
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use comma

[2018-09-05 23:42] alextp commented on #21901
Ah, I didn't think you could broadcast over dimensions of size != 1.

On Wed, Sep 5, 2018 at 4:17 PM Yan Facai (颜发才) <notifications@github.com>
wrote:

--
 - Alex

[2018-09-05 23:44] huawei-tomas commented on #13243
Yeah I'm still seeing this bug. Symlinking and adding location of libcuda.so (and symlinked libcuda.so.1) to LD_LIBRARY_PATH isn't helping.

[2018-09-05 23:56] willSapgreen commented on #8785
Please reopen this issue because @maxamante 's approach doesn't resolve the issue,
and I have the same error as @Umar-Ayub does on TensorFlow GPU version 1.10.0
Thank you.

[2018-09-06 00:08] bhumireddyc commented on #8785
Does the below mean tensorflow is uninstalled?

Solving environment: done

==> WARNING: A newer version of conda exists. <==
  current version: 4.5.4
  latest version: 4.5.11

Please update conda by running

    $ conda update -n base conda

## Package Plan ##

  environment location: C:\Users\Chand\Anaconda3\envs\tensorflow

  removed specs:
    - pip
    - python=3.6

The following packages will

[2018-09-06 00:32] wangshuaizs commented on #22081
@tensorflowbutler
Hi,
 I have updated exact command to reproduce, and I use the benchmark source code from tensorflow/benchmarks.

Thanks

[2018-09-06 00:41] tatianashp commented on #21886
Adding @agramesh1.
Ramesh - can you help here?

[2018-09-06 00:44] georgesterpu opened #22103 "TensorFlow profiler timeline range"
Hello,

I'm following the tf.profiler.Profiler guide to profile my code.
When generating the timelines, all of them except the first one are scaled in hundreds of years, rather than seconds.

There is something happening at year 0, then something going on after 583 years.
No, my DNN code is not that slow.
![screenshot_2018-09-05_23-19-38](https://user-images.githubusercontent.com/6018251/45128332-

[2018-09-06 01:00] iron9light commented on #19084
https://r2rt.com/non-zero-initial-states-for-recurrent-neural-networks.html

[2018-09-06 01:05] facaiy commented on #21901
Actually, it's OK if broadcasted shape can be divide exactly by input shape:

https://github.com/tensorflow/tensorflow/blob/7ec8114697a78271277c1b81707f53057d047901/tensorflow/core/kernels/broadcast_to_op.h#L37-L49

Test script:

[code]

[2018-09-06 01:10] chenghuige opened #22104 "tf.keras.layers.CuDNNGRU in eager mode can cause OOM"
tensorflow 1.10.1
Code like below, with inputs dim 1 can be dynamic length.

    class Model(keras.Model):
      def __init__(self):
        super(Model, self).__init__()
        self.embedding = keras.layers.Embedding(vocab_size, FLAGS.emb_dim)
        self.encode = keras.layers.CuDNNGRU(units=FLAGS.rnn_hidden_size,
                                          return_sequences=True,

[2018-09-06 01:11] tensorflowbutler commented on #22092
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-06 01:11] tensorflowbutler commented on #22094
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-06 01:17] tats-u commented on #22087
OS: Ubuntu 16.04/18.04
TF installed from: wheel (via pip)
CUDA: 9.0/9.2
cuDNN: 7.2

[2018-09-06 01:56] ppwwyyxx commented on #22103
Looks like a duplicate of #20750.

[2018-09-06 02:39] gulingfengze commented on #22039
@bignamehyp Is there a way to solve this problem?

[2018-09-06 02:46] drpngx commented on #22094
@skye wdyt?

[2018-09-06 03:30] maxamante commented on #8785
@Umar-Ayub @willSapgreen Are you trying to uninstall? Do the files exist even though a FileNotFoundError is raised?

[2018-09-06 03:31] amaresh943 commented on #21150
@cy89 To know in detail,  Please visit the link given below.
https://github.com/opencv/opencv/issues/12066

thanks!

[2018-09-06 03:43] OneMoreSecond opened #22105 "[Bug] Sometimes CUDA check failed"
### System information
- **Code**: a keras example (use tf.keras instead) https://github.com/keras-team/keras/blob/master/examples/lstm_seq2seq.py
- **OS Platform and Distribution**: Windows server 2016
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 'v1.10.0-rc1-19-g656e7a2b34' 1.10.0
- **Python version**: 3.6.6
- **CUDA/cuDNN version**: CU

[2018-09-06 03:47] Karthik777 commented on #9724
@ambr89 : I fixed by using transformations on graph with TransformGraph.
from tensorflow.tools.graph_transforms import TransformGraph
        transforms = ['add_default_attributes',
                      'remove_nodes(op=Identity, op=CheckNumerics)',
                      'fold_batch_norms', 'fold_old_batch_norms',
                      'strip_unused_nodes', 'sort_by_execution_order']
        tran

[2018-09-06 04:33] Profetul commented on #8858
CPU: i7-2700k
GPU: brand new Asus STRIX 1080TI
PSU: OCZ Fatal1ty 750W

Can't run one epoch of code posted by @nanoant and would cause a reboot.

I've monitored power using nvidia-smi and doesn't go over 64W.

I've ordered a new 1200W PSU but my feeling is that it's a combination of GPU instructions and memory access that's causing the reset.

[2018-09-06 05:33] asimshankar commented on #21929
@petrux @ebrevdo : Any advice here?

[2018-09-06 05:42] asimshankar commented on #22086
I don't believe there is any fundamental reason to not support it, would just have to make sure that the kernel implementations work for float16.

Marking as "Contributions Welcome", as we'd welcome PRs updating the op definitions and adding unittests.

CC @rmlarsen

[2018-09-06 05:56] asimshankar commented on #21911
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). **Please provide all the information it asks**. Thank you.

Though, from a cursory look at the error message provided, it seems you're using Windows. And there se

[2018-09-06 05:56] #21911 closed

[2018-09-06 06:01] #21867 closed

[2018-09-06 06:02] asimshankar commented on #21867
(Closing due to lack of information. Please feel free to reopen/re-file a new issue with more information. Specifically, I didn't quite follow what attribute is being referred to, on what API)

[2018-09-06 06:42] tensorflowbutler commented on #22095
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-06 06:42] tensorflowbutler commented on #22096
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-06 06:55] Q82822 commented on #21872
very appreciate you help. i can build mode now

[2018-09-06 06:58] JunhyukHyun commented on #22019
commant
# from tensorflow.python.training import checkpoint_management
add
import tensorflow as tf

change line 119
not checkpoint_management.checkpoint_exists(input_checkpoint)):
to
not tf.train.checkpoint_exists(input_checkpoint)):

[2018-09-06 06:58] ajaysh2193 commented on #22089
Hi, Please find the details below.

Have I written custom code: Yes
OS Platform and Distribution: Windows 10 Version 1803
TensorFlow installed from: pip
TensorFlow version: 1.10.0
Bazel version: not using
CUDA/cuDNN version: CUDA v9.0
GPU model and memory: Nvidia GTX 1080 (8GB memory)
Exact command to reproduce: python model.py
Mobile device : not using

Regards,
Ajay Sharma

[2018-09-06 07:15] BryanRansil opened #22106 "Toco/TFLite_Convert for TFLite Problem"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: Pixel 1
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version

[2018-09-06 07:26] AzizCode92 commented on #21929
@petrux , thank you for your answer. I have also done the layer normalization using the tf.contrib.rnn.LayerNormBasicLSTMCell in a speech-recogntition task and the model was slow, converges so early and the accuracy decreases by the end.

[2018-09-06 07:26] pribadihcr commented on #21170
+1

[2018-09-06 07:30] AzizCode92 commented on #21929
Here is [the encoder implementation ](https://github.com/vrenkens/nabu/blob/master/nabu/neuralnetworks/models/ed_encoders/listener.py)
in [this line ](https://github.com/vrenkens/nabu/blob/19404f2453f43721d20ee234aeefb77801614208/nabu/neuralnetworks/models/ed_encoders/listener.py#L50) I have used a pblstm layer where the `tf.contrib.rnn.LayerNormBasicLSTMCell` was used with `layer_norm = True`.

[2018-09-06 07:30] simtony commented on #17908
Any news here? @chsigg

[2018-09-06 07:54] petrux commented on #21929
I think that being slower is somehow intended, since you have more parameters to optimize and more calculation to perform. The fact that it converges faster is intended as well. At that point, you could lower you learning rate to avoid the loss in accuracy (always, just on top of my head).

[2018-09-06 07:57] AzizCode92 commented on #21929
Thank you for pointing that out. Actually, I'm using a validation to tune the learning rate. If the next two validation losses are worse than the actual loss, the training rate will be divided by two.
So, even taking this in account the accuracy is still way worse than the one I have without layer_normlaization.

[2018-09-06 08:04] AzizCode92 commented on #21929
Another point I'm thinking of is to not use the `tf.contrib.rnn.LayerNormBasicLSTMCell` in my layers but instead use `tf.contrib.layers.layer_norm` in the layers of my encoder/decoder. Would that make a sense?

[2018-09-06 08:17] mhorikos commented on #22007
I saw same issue for the horovod installation.
Workaround was to clone abseil-cpp from git. And making soft link of absl directory to your include path.

[2018-09-06 08:39] gerbenvv commented on #22095
Done. Please look at this as it has quite an impact on using 3D convolutions.

[2018-09-06 09:01] Q82822 opened #22108 "tf.nightly-gpu will create "nan" in next batch train value"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: source
- **Tenso

[2018-09-06 09:09] MaximilianStaab opened #22109 "TocoConverter: permute layer after dim-reducing reshape / squeeze: error on conversion"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: -
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use c

[2018-09-06 09:15] kate-kate commented on #19384
@achowdhery I've tried to follow your advice about ml kit but build didn't complete successfully because of ```ERROR: /private/var/tmp/_bazel_kate/8be913d8cdea6dd8174f0dac0a48c277/external/flatbuffers/BUILD.bazel:24:1: C++ compilation of rule '@flatbuffers//:flatbuffers' failed (Exit 1)```

[2018-09-06 09:37] Joshsnailz commented on #19833
HIe , so yeah , After upgrading my tensorflow I now get an error whenever I try to use "prepare_attention" on my seq2seq , any leads ??

[2018-09-06 09:46] ironside007 commented on #19833
Well hi there,

You have to downgrade your tensorflow version, that's the only way i found
out after struggling for months. So, i suggest you do the same.

Thnx

On Thu, Sep 6, 2018, 3:12 PM Joshua Chihozhwa <notifications@github.com>
wrote:

[2018-09-06 10:28] gerbenvv commented on #22095
This is not just a problem with large batch sizes, but rather, large inputs. The script:

[code]

Produces different results for the GTX 1080 Ti and CPU.

[2018-09-06 10:56] georgesterpu commented on #22103
Indeed, apologies. I will close this one.

[2018-09-06 10:56] #22103 closed

[2018-09-06 11:18] Joshsnailz commented on #19833
Thanks , I'll do that..

On Thu, Sep 6, 2018, 11:49 Avneesh Singh <notifications@github.com> wrote:

[2018-09-06 11:58] #21995 closed

[2018-09-06 12:00] pinakinathc commented on #14659
is anyone working on this issue or has it been fixed in a different issue or PR?
if it is still open i would like to review it and try to create a PR.

[2018-09-06 12:41] tensorflowbutler commented on #22104
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-06 12:52] manu291 opened #22110 "[Bug] tf.nn.depthwise_conv2d fails with AttributeError"
### System information
- **Have I written custom code**: yes
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow installed from**: binary
- **TensorFlow version**: v1.10.1-0-g4dcfddc5d1
- **Python version**: 2.7.12
- **CUDA/cuDNN version**: 9.0/7.1.4
- **GPU model and memory**: GTX 1070

### Describe the problem
`tf.nn.depthwise_conv2d` fails when the shape of the input is not kn

[2018-09-06 13:26] dmus commented on #21788
@robieta what do you think?

[2018-09-06 13:35] Akhtar303nu opened #22111 "File "/usr/local/lib/python3.5/dist-packages/tensorflow/contrib/tensorrt/python/trt_convert.py", line 153, in create_inference_graph int(msg[0]))"
'tensorrt_dir', ['L2Loss'])
  File "demo.py", line 88, in get_trt_graph
    precision_mode=precision_mode)
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/contrib/tensorrt/python/trt_convert.py", line 153, in create_inference_graph
    int(msg[0]))
tensorflow.python.framework.errors_impl.NotFoundError: No attr named 'index_type' in NodeDef:
	 [[Node: BatchMultiClassNonMaxSuppression/ones

[2018-09-06 13:56] TGithubbr commented on #22099
This is the strange thing: there is also another issue, where someone used complicated building instructions to build the windows version with softmax gpu support: https://github.com/tensorflow/tensorflow/issues/15254
This one led to nothing.
I'm working on replicating his instructions, but still I think this should be correctly implementet into the official version

[2018-09-06 14:29] ebrevdo commented on #21929
See also:

https://github.com/tensorflow/tensorflow/pull/15861

On Thu, Sep 6, 2018, 1:05 AM Aziz <notifications@github.com> wrote:

[2018-09-06 14:32] shashank2710 commented on #22068
@PatWie.. Thank you for your response. That was helpful.

Your link that you posted is not valid. Could you kindly update that?

@PatWie @skye
Attached herewith is an updated code that I am currently working on:
[code]

## Issues Faced:
-Output tensor fails to clear and provide accurate weights for consecutive loops.
-Same graph provides higher accuracy in Python (with Keras as TF as backend) when

[2018-09-06 14:40] AzizCode92 commented on #21929
Yes, I have considered his pull request and I got the same performance as the one we have.

[2018-09-06 14:45] vyepishov opened #22113 "Build of tensorflow r1.11 fails on ubuntu 18.04 (r1.10 was OK)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 18.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command belo

[2018-09-06 15:08] bhack commented on #21398
Do you mean synchronized? https://github.com/tensorflow/tensorflow/issues/18222

[2018-09-06 15:32] ebrevdo commented on #14659
No one is working on it afaik

On Thu, Sep 6, 2018, 5:01 AM Pinaki Nath Chowdhury <notifications@github.com>
wrote:

[2018-09-06 15:44] ebrevdo commented on #21929
Looks like we're getting into the black magic of nn tweaking. It's not
clear that there's a bug in the layer itself but rather likely that
tweaking hyperparams or using layer norm elsewhere is the right approach.
If you set the learning rrate to 0 or very small, do you still get
instabilities?  If not, then it's unlikely to be caused by the layer.

On Thu, Sep 6, 2018, 7:41 AM Aziz <notifications@

[2018-09-06 15:52] ZhouYuChen opened #22115 "Feature Request: fp16 support for tf.contrib.image.transform on gpu"
### System information
- **Have I written custom code**: yes
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **Mobile device**: n/a
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: ('v1.10.0-0-g656e7a2b34', '1.10.0')
- **Python version**: Python 2.7.12
- **Bazel version (if compiling from source)**: n/a
- **GCC/Compiler version (if c

[2018-09-06 15:57] cdluminate opened #22116 "[1.10.1] op_level_cost_estimator.cc:404] Check failed: 0 < gflops (0 vs. 0)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: debian experimental
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: no
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use

[2018-09-06 16:06] jdduke commented on #22106
I'm not sure how extensible the object detection harness is to using custom models. At the very least you'd need to modify the output tensor shape as dictated by [outputLocations](https://github.com/tensorflow/tensorflow/blob/b390be62ad0514f4fd3347b9db3446c84e08a38e/tensorflow/contrib/lite/examples/android/app/src/main/java/org/tensorflow/demo/TFLiteObjectDetectionAPIModel.java#L62) in `TFLiteObje

[2018-09-06 16:13] jdduke commented on #21924
Thanks for the report @reuben . There was a similar issue reported internally that turned out to be related to some conflicting flatbuffer symbols (see also [this patch](https://github.com/tensorflow/tensorflow/commit/22e855159462b502dc3af138d254214bd02cf68b#diff-12251921ed1d6cc4b14367cfba47de82)). It's not clear if the issues are related, will take a look.

[2018-09-06 16:14] AnnieYim commented on #21758
I have not investigated this issue further, thanks!

[2018-09-06 16:14] #21758 closed

[2018-09-06 16:15] jdduke commented on #21924
Also, just to confirm, do you also hit this issue if you use `--compilation_mode=opt` instead of `--compilation_mode=dbg`?

[2018-09-06 16:18] allenlavoie commented on #22062
Neat. I think you just need to set the [`custom_objects` argument to load_model](https://www.tensorflow.org/api_docs/python/tf/keras/models/load_model).

[2018-09-06 16:20] tdanyluk opened #22117 "Bad output for sqrt?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04

- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: no
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (us

[2018-09-06 16:27] allenlavoie commented on #22062
And `from_config` [should have the `@staticmethod` decorator](https://github.com/tensorflow/tensorflow/blob/4dcfddc5d12018a5a0fdca652b9221ed95e9eb23/tensorflow/python/keras/engine/base_layer.py#L1538). In this case you can just take it out and use the base class method.

[2018-09-06 16:29] jdduke commented on #21921
+Suharsh for additional guidance.

[2018-09-06 16:32] jdduke commented on #22023
+gunan per the issues with sqlite.

[2018-09-06 16:32] chengzhan opened #22118 "tf.flags bug for verison 1.10.0"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-06 16:33] AzizCode92 commented on #21929
I have set the learning rate to `0.000001` and the results were the same with the `tf.contrib.rnn.LayerNormBasicLSTMCell`.
The model terminates with an accuracy of `0.078125`.
The idea of using the layer norm elsewhere seems to be working pretty good in the case of the speech-recognition task ( the model is much faster and the accuracy are good, still training!!!)

[2018-09-06 16:40] KuribohG commented on #21587
Hello!
I have the same problem. Did you solve it? Currently I have not found this problem in 1.8.0, but it happens in 1.10.0.

[2018-09-06 16:50] ybsave commented on #22062
@allenlavoie Thank you for your quick response. I tested several combinations, and still cannot find anyone to work.

If I remove the definition of "from_config" function and define the custom layer as

	class IndexLayer(Layer):
	  def __init__(self, valid_idx, **kwargs):
		self.valid_idx = valid_idx
		super(IndexLayer, self).__init__(**kwargs)

	  def build(self, input_shape):
		super(IndexLayer,

[2018-09-06 16:53] petrux commented on #21929
Probably because speech recognition is an actual _recurrent_ problem. Maybe you might want to train a FF network on MNIST data and try to layer normalize?---like in the original paper.

[2018-09-06 17:00] AzizCode92 commented on #21929
I will try it and let you updated.
thank you

[2018-09-06 17:02] BryanRansil commented on #22106
@jdduke Using a custom model is the next step - currently I'm just testing with the default models on the zoo.  Also good suggestion to look for alternate approaches, I just need to have the location of the object in the frame (so using just a classifier doesn't fit).

[2018-09-06 17:06] gunan commented on #22023
Looks like sqlite does not build on s390x?
maybe we also need to exclude sqlite ops in s390x?
Do we now that the failing code works/supports big endian?

[2018-09-06 17:11] achowdhery commented on #22106
@BryanRansil The default models in the Detection Model Zoo will work. The tflite_convert in the latest nightly build corrected a bug that was on our end.

[2018-09-06 17:11] achowdhery commented on #22106
Please use the steps we detailed in this [blog post](https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193)

[2018-09-06 17:40] npow commented on #22096
@tensorflowbutler

Have I written custom code: No
OS Platform and Distribution: Ubuntu 16.04
TensorFlow installed from: pip
TensorFlow version: 1.7
Bazel version: 0.10.1
CUDA/cuDNN version: 9.1
GPU model and memory: Tesla V100
Exact command to reproduce: N/A
Mobile device: N/A

[2018-09-06 17:46] joeyearsley opened #22119 "XLA commonly aborts with nvidia error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command

[2018-09-06 17:49] joeyearsley commented on #22119
@jlebar I got around to trying XLA again after #16045, works nicely when I get past this error, however stumped as this errors pops up frequently. Around 80% likely when running a script compared to the 20% which actually get past this error and continue.

[2018-09-06 17:57] jlebar commented on #22119
It's possible that there's an error earlier in execution, and this is just fallout.  Once there's some error on a stream, any operation on the stream will fail.

Could you look through the logs carefully for warnings?  And/or run with CUDA_LAUNCH_BLOCKING=1, which may make it easier to find "up-stream" errors.

[2018-09-06 18:02] Nithanaroy opened #22121 "Unable to profile tf.keras Model. Am I missing something or is it a known issue?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: RHEL 7
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA
- **TensorFlow installed from (source or binary)**: No
- **TensorFlow version (use command below)**

[2018-09-06 18:28] #20913 closed

[2018-09-06 18:37] gargn commented on #21294
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-06 18:37] #21294 closed

[2018-09-06 18:52] #21036 closed

[2018-09-06 18:52] tofulawrence commented on #21300
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-06 18:52] #21300 closed

[2018-09-06 18:52] tensorflowbutler commented on #22105
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-06 18:52] tensorflowbutler commented on #8517
Nagging Assignee @zheng-xq: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:52] tensorflowbutler commented on #10220
Nagging Assignee @tfboyd: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:53] tensorflowbutler commented on #12753
Nagging Assignee @saeta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:53] tensorflowbutler commented on #12871
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-06 18:53] tensorflowbutler commented on #14357
Nagging Assignee @ebrevdo: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:53] tensorflowbutler commented on #14675
Nagging Assignee @asimshankar: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:53] tensorflowbutler commented on #15530
Nagging Assignee @shivaniag: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:53] tensorflowbutler commented on #16184
Nagging Assignee @gunan: It has been 61 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:53] tensorflowbutler commented on #16834
Nagging Assignee @rmlarsen: It has been 104 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:53] tensorflowbutler commented on #17155
Nagging Assignees @zheng-xq, @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:53] tensorflowbutler commented on #17925
Nagging Assignees @jvdillon, @ebrevdo: It has been 163 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:53] tensorflowbutler commented on #17956
Nagging Assignee @petewarden: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:53] tensorflowbutler commented on #18149
Nagging Assignee @skye: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:53] tensorflowbutler commented on #18512
Nagging Assignee @rmlarsen: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:53] tensorflowbutler commented on #18660
Nagging Assignee @fchollet: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:53] tensorflowbutler commented on #18768
Nagging Assignee @tatianashp: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:54] tensorflowbutler commented on #18975
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-06 18:54] tensorflowbutler commented on #19003
Nagging Assignee @angersson: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:54] tensorflowbutler commented on #19017
Nagging Assignee @yaroslavvb: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:54] tensorflowbutler commented on #19200
Nagging Assignee @zheng-xq: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:54] tensorflowbutler commented on #19303
Nagging Assignee @fchollet: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:54] tensorflowbutler commented on #19354
Nagging Assignees @gunan, @shivaniag: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:54] tensorflowbutler commented on #19440
Nagging Assignee @rohan100jain: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:54] tensorflowbutler commented on #19491
Nagging Assignees @tatianashp, @ezhulenev: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:54] tensorflowbutler commented on #19528
Nagging Assignee @ysuematsu: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:54] tensorflowbutler commented on #19611
Nagging Assignee @jart: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:54] tensorflowbutler commented on #19745
Nagging Assignee @tatatodd: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:54] tensorflowbutler commented on #19811
Nagging Assignee @tatatodd: It has been 91 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:54] tensorflowbutler commented on #19812
Nagging Assignee @srvasude: It has been 77 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:55] tensorflowbutler commented on #19824
Nagging Assignee @jart: It has been 90 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:55] tensorflowbutler commented on #19825
Nagging Assignee @tatatodd: It has been 90 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:55] tensorflowbutler commented on #19855
Nagging Assignee @jch1: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:55] tensorflowbutler commented on #19957
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-06 18:55] tensorflowbutler commented on #19992
Nagging Assignee @chsigg: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:55] tensorflowbutler commented on #20121
Nagging Assignees @cy89, @angersson: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:55] tensorflowbutler commented on #20194
Nagging Assignee @jart: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:55] tensorflowbutler commented on #20299
Nagging Assignee @protoget: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:55] tensorflowbutler commented on #20375
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-06 18:55] tensorflowbutler commented on #20434
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-06 18:55] tensorflowbutler commented on #20464
Nagging Assignee @jart: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:55] tensorflowbutler commented on #20498
Nagging Assignee @robieta: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:55] tensorflowbutler commented on #20510
Nagging Assignee @skye: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:56] tensorflowbutler commented on #20532
Nagging Assignee @allenlavoie: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:56] tensorflowbutler commented on #20565
Nagging Assignee @skye: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:56] tensorflowbutler commented on #20607
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-06 18:56] tensorflowbutler commented on #20651
Nagging Assignee @guptapriya: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:56] tensorflowbutler commented on #20702
Nagging Assignee @suyoggupta: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:56] tensorflowbutler commented on #21036
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-06 18:56] tensorflowbutler commented on #21062
Nagging Assignee @jart: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:56] tensorflowbutler commented on #21067
Nagging Assignee @tatatodd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:56] tensorflowbutler commented on #21070
Nagging Assignee @robieta: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:56] tensorflowbutler commented on #21110
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-06 18:56] tensorflowbutler commented on #21135
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-06 18:57] tensorflowbutler commented on #21156
Nagging Assignee @drpngx: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:57] tensorflowbutler commented on #21160
Nagging Assignee @karmel: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:57] tensorflowbutler commented on #21167
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-06 18:57] tensorflowbutler commented on #21174
Nagging Assignee @fchollet: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:57] tensorflowbutler commented on #21309
Nagging Assignee @petewarden: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:57] tensorflowbutler commented on #21320
Nagging Assignees @karmel, @pkulzc: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:57] tensorflowbutler commented on #21335
Nagging Assignees @karmel, @robieta: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:57] tensorflowbutler commented on #21337
Nagging Assignee @asimshankar: It has been 33 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:57] tensorflowbutler commented on #21357
Nagging Assignee @shivaniag: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:57] tensorflowbutler commented on #21383
Nagging Assignee @tatianashp: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:58] tensorflowbutler commented on #21735
Nagging Assignee @tatianashp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 18:58] tensorflowbutler commented on #21785
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-06 18:58] tensorflowbutler commented on #21794
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-06 18:58] tensorflowbutler commented on #21807
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-06 19:16] BryanRansil commented on #22106
@achowdhery Good to know they should work - tried the toco command in the blog post on `ssd_mobilenet_v2_coco_2018_03_29/frozen_inference_graph.pb` and got the error
[code]
I then tried substituting the output array with `concat,concat_1` and got the error
[code]
This matches the error in https://github.com/tensorflow/tensorflow/issues/19014#issuecomment-405696749, but that thread is on custom gra

[2018-09-06 19:27] yongtang commented on #22115
Added #22122 for float16 support on GPU.

[2018-09-06 19:52] ppwwyyxx commented on #22103
The repro in #20750 only works on 2 GPUs somehow. Are you only using 1 GPU? If you can give a small repro with 1 GPU maybe that'll be easier to debug.

[2018-09-06 19:52] achowdhery commented on #22106
@BryanRansil
Can you please the latest checkpoints: http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_quantized_300x300_coco14_sync_2018_07_18.tar.gz
http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_0.75_depth_quantized_300x300_coco14_sync_2018_07_18.tar.gz
?
We added native op for postprocessing that is available in r1.10. So, for your own model, you d

[2018-09-06 19:54] raphael-sch opened #22123 "Incorrect results on GPU for reduce_* methods on large tensors"
-----------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA
- **TensorFlow installed from (source or binary)**: binary
- **Tens

[2018-09-06 20:01] georgesterpu commented on #22103
There are two physical GPUs in my machine, but the launch script sets the `CUDA_VISIBLE_DEVICES` environment variable to use only one of them. Will post the code to reproduce the issue later this week.

[2018-09-06 20:03] ybsave commented on #21135
The issue has not been solved. I think that if Tensorflow side changes the saving scheme as @asimshankar mentioned, the problem would be solved.

[2018-09-06 20:06] jmchen-g commented on #21614
Hi @k-w-w and @tanzhenyu Any update on this please? Thanks.

[2018-09-06 20:40] jdduke commented on #21924
Reassigning as this looks like it could be an issue with LSTM conversion.

[2018-09-06 21:31] reedwm commented on #21401
Tensor cores are used on V100s for various ops, such as matrix multiplications and convolutions, if the op inputs are float16. So this question is equivalent to checking if float16 is used in the model.

As @cy89 mentioned, one way is to measure the performance. Another way is to check the graph in TensorBoard to see the dtype ops are done in. A third option is to print `layer.input` and `layer.ou

[2018-09-06 21:31] #21401 closed

[2018-09-06 21:31] BryanRansil commented on #22106
So I'm able to convert and run them. Unfortunately I get other runtime errors when I do so (at the end of this comment). When I attempt to use the script on ssd_mobilenet_v2_coco, I'm getting the error `"object_detection.protos.SsdFeatureExtractor" has no field named "batch_norm_trainable"`, and I see in the logs that was deprecated and then removed. How is ssd_mobilenet_v2 supposed to be supporte

[2018-09-06 21:39] AnishShah commented on #21526
Hi, If anyone's not working on this, then I would like to work on it.

[2018-09-06 21:43] jdduke commented on #21817
Thanks @zgxnet, you're right that's a bug, and your fix looks good. I'll prepare a change now (with a test) unless you prefer to submit a PR.

[2018-09-06 21:56] jdduke commented on #21864
Can you sure which Android NDK and compiler you're using?

[2018-09-06 21:56] ezhulenev commented on #19491
I'm working on it right now, have 10x-125x improvements for the Conv3D and Conv3DBackward, should land in master soon.

[2018-09-06 21:58] jdduke commented on #21870
The fix should be in the next TensorFlow binary release.

[2018-09-06 21:58] #21870 closed

[2018-09-06 22:01] BryanRansil commented on #22106
So the latest checkpoints are able to be loaded. Unfortunately they create the following error:
[code]
I assume this is from using the incorrect labels file, when I use the pets label file in the blog post the index that triggers this error is smaller than in the error above.

However, I also updated tensorflow/models to master and ran export_tflite_ssd_graph.py on ssd_mobilenet_v2. This produced

[2018-09-06 22:13] achowdhery commented on #22106
@BryanRansil The app TFLiteObjectDetectionAPIModel.java references a COCO dataset pre-trained Mobilenet V1 SSD by default. Did the app build with pre-trained model?
In the blog post, we provided instructions to finetune weights for Pets dataset and provided the corresponding TF Lite files.
On your last question, we can double check if V2 SSD is working.

[2018-09-06 22:14] skye commented on #19374
Unfortunately we cannot help you with your CUDA environment here, as we use github for Tensorflow bugs and feature requests. I suggest posting on StackOverflow if this is still an issue.

[2018-09-06 22:14] #19374 closed

[2018-09-06 22:18] skye commented on #21272
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-06 22:18] #21272 closed

[2018-09-06 22:27] lostmsu commented on #8271
@mrry irrespectively of support for the module itself, it breaks inspection module, as `ismodule` fails to inspect `tensorflow.contrib.ffmpeg` as a member of `tensorflow.contrib`

[2018-09-06 22:27] skye commented on #22068
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-09-06 22:27] #22068 closed

[2018-09-06 22:29] skye commented on #22007
cc @gunan

[2018-09-06 22:32] skye commented on #22047
I believe the preferred way to build TF on windows is to use bazel now. @gunan can comment further.

[2018-09-06 22:35] skye commented on #22055
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-09-06 22:35] #22055 closed

[2018-09-06 22:40] yongtang commented on #22113
@vyepishov I think the issue is the same as #21999. A PR #22003 has been created and ready to be merged into the master soon.

[2018-09-06 22:56] willSapgreen commented on #22007
Hello @mhorikos
does

 mean this one
https://github.com/abseil/abseil-cpp

Thank you.

[2018-09-06 23:08] gunan commented on #22007
This is being investigated internally.
WE are currently trying to roll back the change to fix custom ops, and then we will try moving forward with a fix.

[2018-09-06 23:16] gunan commented on #22047
Yes. New install guide is here:
https://github.com/tensorflow/docs/blob/master/site/en/install/install_sources_windows.md
Looks like it did not make it to the website yet. @MarkDaoust can we push this page to the 1.10 docs, or do we need to wait until 1.11?

[2018-09-06 23:18] BryanRansil commented on #22106
@achowdhery Thanks for checking V2 SSD! What's a reasonable timeline to expect for that checking to be done?

The app builds with the default model that's pointed to in the app, without crashing as I described in the last comment. Otherwise I'll work with the instructions on finetuning the latest models and post when that's successful.

[2018-09-06 23:44] MarkDaoust commented on #22047
Fixed:

https://www.tensorflow.org/install/install_sources_windows

[2018-09-06 23:44] #22047 closed

[2018-09-07 00:16] yongtang commented on #20527
Added a PR #22127 for 3D/4D/5D support of bias_add with NCHW data format.

[2018-09-07 00:16] case540 commented on #20919
Adding @angersson, he might have just fixed this issue (or at least a very similar one)

[2018-09-07 00:18] joshsuihn opened #22128 "[Feature Request] retrieving exact node names from multiple outputs (`tf.nn.top_k`)"
### System information
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow version (use command below)**: '1.9.0-rc1'  I also believe it happens r1.10
- **Python version**: 2.7
- **CUDA/cuDNN version**: 7.1
- **Bazel version**: 0.16.1
- **GPU model and memory** : TitanV 12 G
- **Exact command to reproduce**: I added python sample code
- **Mobile device**:  n/a

### Describe the p

[2018-09-07 00:21] sumitbinnani opened #22129 "[Feature Request] Exporting TF-Hub for the Best Model"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: N/A
- **TensorFlow version (use command below)**

[2018-09-07 00:30] mhorikos commented on #22007
@willSapgreen

[2018-09-07 00:31] mhorikos commented on #22007
Hello  @willSapgreen
Yes, it is.

[2018-09-07 00:47] Keno opened #22130 "HLO serialization insufficiently validated on deserialization (e.g. for xrt)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 17.10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use

[2018-09-07 01:58] willSapgreen commented on #22007
Hello @mhorikos , Thanks!!!

[2018-09-07 02:13] baobao7766 opened #22133 "_beam_search_ops.so and PyFunc don't work with TF Serving (Was: In-Graph GatherTree)"
Hi, i want to implement `tensorflow/contrib/seq2seq/python/ops/beam_search_ops.py >> gather_tree()`, because of `_beam_search_ops.so` and `PyFunc` are not worked in tf-serving, so is there any implementation of GatherTree by while_loop?

[2018-09-07 02:21] rishi-rranjan opened #22134 "tensorflow.python.framework.errors_impl.NotFoundError: No registered '_CopyFromGpuToHost' OpKernel for CPU devices compatible with node swap_out_gradients"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-07 02:28] baobao7766 commented on #22133
I am using `python2.7 + tensorflow-1.2.1 + tf-serving-1.10`. Develop with `macOS + tensorflow-cpu-1.2.1`.
And the project is a seq2seq use beamSearch decoder.

[2018-09-07 02:33] jerryli1119 opened #22135 "CopyFromGpuToHost and other operations can't be parallelized"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: no
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command b

[2018-09-07 02:51] fernandorovai commented on #15741
How can I refresh KMP settings dynamically since TF loads them on startup and we cannot reload the library?

[2018-09-07 03:07] jackonan opened #22137 "ps0 will be OOM using MonitoredTrainingSession when workers too many"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below

[2018-09-07 03:11] dlml commented on #22022
i have perfectly solved my problems by using orignal tensorflow, i found use keras will generate the ops that is not supported by tflite

[2018-09-07 03:11] dlml commented on #22022
@jdduke

[2018-09-07 03:18] raninbowlalala opened #22138 "Array mul lacking min/max data"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:N/A
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:1.10.1

[2018-09-07 03:29] s7ev3n commented on #19570
@yjl9122 Have you solved this? I am also facing this issue when using LovaszSoftmax. Thx.

[2018-09-07 03:48] yongtang commented on #22110
Added a PR #22139 for the fix.

[2018-09-07 04:09] #22135 closed

[2018-09-07 05:01] terasakisatoshi commented on #22019
same problem

[2018-09-07 05:17] jinfagang commented on #20727
Same issue here

[2018-09-07 05:58] asimshankar commented on #21135
@ybsave : My question was intended for you - could you avoid writing the checkpoint to the same file repeatedly?

Or, can you provide a [minival, verifiable, complete example](https://stackoverflow.com/help/mcve) to reproduce the problem?

[2018-09-07 06:06] alokranjan007 commented on #21839
Hey @cy89, Is there any update on the issue? I am still facing the same issue for detection.

[2018-09-07 06:12] alokranjan007 commented on #21602
Hey @jdduke,  I would appreciate your pain, if you could share some insights about the input image size for training and annotations. I have followed the tutorial about data processing available in the object detection API, but could not find about the image size for SSD_mobilenet_v2.

[2018-09-07 06:12] Youki commented on #20552
@facaiy
Sorry for the very late reply. The workaround you suggested is very useful.

[2018-09-07 06:12] #20552 closed

[2018-09-07 06:31] Saicat commented on #8390
Do not always ask us to ask on StackOverflow.

[2018-09-07 06:35] mymusise commented on #18304
Met this problem again when I run the example of **Neural Machine Translation with Attention** in [colab](https://github.com/tensorflow/tensorflow/blob/r1.10/tensorflow/contrib/eager/python/examples/notebooks/eager_basics.ipynb).  What should I do to make this notebook work.

[2018-09-07 06:41] tensorflowbutler commented on #22123
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
OS Platform and Distribution
TensorFlow installed from
Bazel version
Mobile device

[2018-09-07 06:48] robieta commented on #22115
This seems very reasonable. @reedwm I'm guessing you might care about this?

[2018-09-07 06:52] asimshankar commented on #18304
For now, you can restart the colab runtime ("Runtime -> Restart Runtime...").
In future releases, I think the error will go away (thanks to e2c6ec9e86dd86e0dd56e0f11302a5bf5d9ed440)

[2018-09-07 06:58] mymusise commented on #18304
@asimshankar  Thanks guy,  but restarting the runtime does not work for me, even I change the notebook environment to python2 without GPU.

[2018-09-07 07:06] emicol commented on #15142
I've solved it with:
[code]
After edit the file :
`/usr/local/cuda/lib64`

Save the changes :
`sudo ldconfig`

CF : https://stackoverflow.com/questions/13428910/how-to-set-the-environmental-variable-ld-library-path-in-linux.

[2018-09-07 07:36] manu291 commented on #22110
As requested, system information with all fields filled out.

### System information
- **Have I written custom code**: yes
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **Mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version**: v1.10.1-0-g4dcfddc5d1
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**: N/A
- **GCC/C

[2018-09-07 07:45] vyepishov commented on #22113
Hi @yongtang,

Thanks for the good news!
Looking forward to the merge.

Best Regards,
Vadym

[2018-09-07 07:46] chenghuige opened #22140 "Eager mode model.save will not save layer vars if the layer is in list of list"
tf 1.10.1
like below model.save will not save CuDNNGRU vars if you use MyLayer in a tf.keras.Model.

    class MyLayer(keras.Model):
       def __init__(self):
        super(MyLayer, self).__init__()
          self.encodes =  [(keras.layers.CuDNNGRU(units=100,
                                        return_sequences=True,
                                        return_state=False,

[2018-09-07 07:57] belesemu commented on #6698
definitely cuda related memory problem, kill all other cuda related process and train/test ur model, that should solve the problem

[2018-09-07 08:39] prasilla487 commented on #18044
i m also having same problem while training a model. Can anyone please help me to solve this error

[2018-09-07 08:42] alsrgv commented on #22007
@gunan, thanks!

[2018-09-07 08:51] facaiy commented on #22048
According to its [API](https://www.tensorflow.org/api_docs/python/tf/clip_by_norm)

The gradient seems `t / t`, right ? I think the result is undefined when t == 0.

[2018-09-07 09:11] joeyearsley commented on #21125
N/A
Titan 12Gb
N/A
None

[2018-09-07 09:12] octavian-ganea commented on #22048
No, this rescaling is only valid "If the L2-norm is greater than clip_norm" (see API), otherwise t should remain unchanged, so gradient should be all ones.
"if the L2-norm of t is already less than or equal to clip_norm, then t is not modified."

[2018-09-07 09:38] pekaalto commented on #10107
Same problem. tensorflow-1.9.0 works but 1.10 doesn't.

[2018-09-07 09:42] fcacarminati commented on #19491
Hello,
   this is fantastic news and we cannot wait to test it. If you want, you can give us the code and we will try it out and let you know. Thanks again for your help. Best,

[2018-09-07 10:08] hsm207 opened #22141 "Predictions from keras h5 file is different than its tflite version"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-07 10:29] facaiy commented on #22048
I think you're right.

[2018-09-07 10:31] jmydurant commented on #13308
This problem still occurs when I use TF 1.10.0 on Ubuntu 18.04 g++ 6.4.0.
Please fix it. Thanks!!!

[2018-09-07 10:42] octavian-ganea commented on #22048
This is very similar with https://github.com/tensorflow/tensorflow/issues/20091 and it's essentially caused by the fact that the implementation of clip_by_norm requires computing the gradient w.r.t. tf.norm(t) even when |t| < clip_norm. I am not sure how this can be solved since TF uses static graphs. Would have been trivial in a framework that uses dynamic graphs ...

[2018-09-07 10:42] manipopopo opened #22142 "name_scope has an effect on names of Variable create by tf.keras.layers.*"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use com

[2018-09-07 10:42] joeyearsley commented on #22119
Running it with that command still results in the same error.

It runs consistently when I include these flags `TF_XLA_FLAGS="--parallel_check_failfast=false"`

[2018-09-07 12:27] joeyearsley commented on #22119
I changed from using the session approach to the scoped approach to try and narrow down potential places the error could occur.

It seems to be when I have `opt.compute_gradients(loss, params)` compiled into XLA code that I see a weird 3x speed-up but the loss doesn't decrease, and occasionally get the `CUDNN_STATUS_SUCCESS`.

If I just have the jit_scope around my model then it runs fine.

[2018-09-07 12:36] ogencoglu commented on #6720
This deserves more attention than it has now.

[2018-09-07 12:39] tensorflowbutler commented on #22128
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
TensorFlow installed from
Bazel version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-07 12:39] tensorflowbutler commented on #22129
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-07 12:58] octavian-ganea commented on #22048
Yes, and similar:
[code]
Gives
`
[array([nan, nan, nan], dtype=float32)]
`

[2018-09-07 13:11] AzizCode92 commented on #21929
This is a simple neural network with 5 layers on the MNIST dataset.
At each layer I applied layer normalization using `tf.contrib.layers.layer_norm`

[code]
and the results were like this

[code]

[2018-09-07 13:44] petrux commented on #21929
Indeed. Please note that you were tackling the same problem with two radical different solutions. thanks for sharing the result of this latest experiment.

[2018-09-07 13:59] gashmish commented on #21266
Hello! I see there are still some ops (SPACE_TO_BATCH_ND, SPACE_TO_BATCH_ND) which support only 4D tensors:

tensorflow/contrib/lite/kernels/space_to_batch_nd.cc:96 NumDimensions(op_context.input) != kInputDimensionNum (3 != 4)

3D support for this ops is hightly required! Are you planning to implement it in near future? Should i create feature request?

[2018-09-07 14:22] skang29 opened #22143 "ValueError: Op type not registered 'NcclAllReduce' in binary running on 35712d892b7a."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-07 14:41] alessiabertugli commented on #19380
Has anyone solved this problem? I have the same error with a custom model converted from keras to tflite (.hdf5 to .tflite format). I tested my model in different ways and it seems to work, but when I try to load it in Android It doesn't. Thank you!

[2018-09-07 14:44] SeguinBe commented on #7065
So I'm coming back to some old issues and tried again this one:
## Setup
[code]
Ubuntu 18.04 + Titan X Maxwell
TF 1.9, Cuda 9.0, cuDNN 7.1.2 (have to update the drivers to go to 1.10, 9.2, and 7.2)

## Commands
#### Tensorflow
[code]
#### pyTorch
[code]

## Results

| Framework    | TF-NHWC | TF-NCHW | pyTorch |
|--------------|---------|---------|---------|
| pool5 output | 72.5    | 60.1    | 59

[2018-09-07 14:49] Talmaj opened #22145 "Depthwise convolution inside Dataset API throws data_format error"
### System information
-  Linux Ubuntu 16.04
- TensorFlow installed using: pip
- TensorFlow version: 1.10
- Python version: 3.6
- CUDA/cuDNN version: 9.0/7.2
- GPU model and memory: GeForce GTX 1080 ti

I tried to reproduce the error in a simpler fashion but couldn't manage it. Basically I use dataset API to load some patches from tfrecords and apply a synthethic blur on it (loaded from another tf

[2018-09-07 15:03] jdduke commented on #21602
I don't believe the image_resizer gets backed into the model, so you need to make sure that 1) you're training on the same size that you feed into --input_shapes, and that the dimensions you give to --input_shapes match that specified in [TF_OD_API_INPUT_SIZE](https://github.com/tensorflow/tensorflow/blob/b390be62ad0514f4fd3347b9db3446c84e08a38e/tensorflow/contrib/lite/examples/android/app/src/mai

[2018-09-07 15:17] gashmish opened #22146 "TOCO fails to handle Dilated Convolution properly"
### System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow):N/A
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 16.04
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:N/A
TensorFlow installed from (source or binary):source
TensorFlow version (use command below):1.10.0
Python v

[2018-09-07 16:03] xiejw commented on #21603
For the sake of backward compatibility. we should and cannot overwrite user provided the session_config. The approach we took now is safe as it flipped the default value only when session-config is not present.

Thinking forward for TF 2.0, this is a good default for between-graph training. Distribution strategy should overwrite it as Distritubiton strategy knows more information than the default

[2018-09-07 16:05] gargn commented on #21266
Just for a clarification, do you need BatchToSpace non-4D *and* SpaceToBatch non-4D, or just BatchToSpace non-4D?

BatchToSpace non-4D hasn't been prioritized yet, contributions are welcome, but we are also tracking these operations requests here: https://github.com/tensorflow/tensorflow/issues/21526 to help with prioritizing. For that reason, moving forward we are closing individual issues for op

[2018-09-07 16:13] #21762 closed

[2018-09-07 16:14] Efaq commented on #21894
Had the same problem, and `pip install tf-nightly` to update the version solved it indeed. Looking forward to have it in a stable dot version.

[2018-09-07 16:33] HunarAA opened #22148 "Expected dimension in the range [-1, 1), but got 1 [[Node: accuracy_5/ArgMax_1 = ArgMax[T=DT_FLOAT, Tidx=DT_INT32, output_type=DT_INT64, _device="/job:localhost/replica:0/task:0/device:CPU:0"](_arg_y_label_0_1, accuracy_5/ArgMax/dimension)]]"
I am working on luna16 dataset, I use tensorflow CNN code to classify images (cancer/not-cancer [0 or 1]), the code has no problem and runs without any error, but in session when I want to add summary `_, c, summary = sess.run([accuracy, cost, merged_summary], feed_dict={x_img: X, y_label: Y})` I get this error: InvalidArgumentError (see above for traceback): `Expected dimension in the range [-1,

[2018-09-07 16:34] omalleyt12 commented on #21894
I'm not sure on the timing but yes I'd expect it to be included in the next dot release

[2018-09-07 16:34] #21894 closed

[2018-09-07 16:42] raphael-sch commented on #22123
updated

[2018-09-07 16:57] allenlavoie commented on #22140
A list works and a list of lists works but a list containing a tuple does not, correct? Tracking tuples would be nice but isn't being actively worked on. Happy to advise/review PRs.

[2018-09-07 16:58] jlebar commented on #22119
The parallel_check_op is deleted at HEAD because it was unused.  If it were affecting things, then you should see in your logs `failfast on first parallel-check failure`.  If you don't see that, I don't think this flag can possibly be changing anything.

Can you confirm that you have looked carefully through the logs when running with CUDA_LAUNCH_BLOCKING and do not notice anything else suspicious

[2018-09-07 17:01] sumitbinnani commented on #22129
Updated!

[2018-09-07 17:34] joeyearsley commented on #22119
Just to double check, I can gather the logs by setting `tf.logging.set_verbosity('DEBUG')`? - I missed changing this previously..

I'll try making the exact copy of my script with the mnist_xla script but making use of all things like nccl for multi-gpu.

[2018-09-07 17:40] akhilkatpally commented on #21605
Sorry i think i accidentally clicked something and it has created this issue.

[2018-09-07 17:40] #21605 closed

[2018-09-07 17:46] #21999 closed

[2018-09-07 17:46] #22113 closed

[2018-09-07 17:47] jlebar commented on #22119
That would be sufficient.

OK, thanks!

[2018-09-07 18:15] gunan commented on #21874
We do not have docker images/containers for windows.
That's why they are not there.

That may be an interesting community contribution though.

[2018-09-07 18:29] ispirmustafa commented on #18044
Hi @prasilla487 and @aforslow ,
could one of you provide us a small self sufficient script which reproduces this issue?
thanks

[2018-09-07 18:51] tensorflowbutler commented on #3636
Nagging Assignee @tfboyd: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:51] tensorflowbutler commented on #11831
Nagging Assignee @wolffg: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:51] tensorflowbutler commented on #11888
Nagging Assignee @ysuematsu: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:51] tensorflowbutler commented on #14699
Nagging Assignee @skye: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:51] tensorflowbutler commented on #15492
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-07 18:51] tensorflowbutler commented on #15835
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-07 18:51] tensorflowbutler commented on #15845
Nagging Assignees @aselle, @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:51] tensorflowbutler commented on #16624
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-07 18:51] tensorflowbutler commented on #17349
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-07 18:52] tensorflowbutler commented on #17823
Nagging Assignee @andrehentz: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:52] tensorflowbutler commented on #18199
Nagging Assignee @shashishekhar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:52] tensorflowbutler commented on #18405
Nagging Assignee @MarkDaoust: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:52] tensorflowbutler commented on #18539
Nagging Assignees @aselle, @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:52] tensorflowbutler commented on #19390
Nagging Assignees @drpngx, @tfboyd: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:52] tensorflowbutler commented on #19527
Nagging Assignee @asimshankar: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:52] tensorflowbutler commented on #19670
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-07 18:52] tensorflowbutler commented on #19854
Nagging Assignee @petewarden: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:52] tensorflowbutler commented on #20113
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-07 18:53] tensorflowbutler commented on #20241
Nagging Assignee @shivaniag: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:53] tensorflowbutler commented on #20263
Nagging Assignee @tatatodd: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:53] tensorflowbutler commented on #20407
Nagging Assignee @rmlarsen: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:53] tensorflowbutler commented on #20439
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-07 18:53] tensorflowbutler commented on #20547
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-07 18:53] tensorflowbutler commented on #20579
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-07 18:53] tensorflowbutler commented on #20589
Nagging Assignee @asimshankar: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:53] tensorflowbutler commented on #20621
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-07 18:53] tensorflowbutler commented on #20691
Nagging Assignee @raghuraman-k: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:53] tensorflowbutler commented on #20844
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-07 18:53] tensorflowbutler commented on #20866
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-07 18:53] tensorflowbutler commented on #20904
Nagging Assignee @aselle: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:54] tensorflowbutler commented on #20961
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:54] tensorflowbutler commented on #20999
Nagging Assignee @tanzhenyu: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:54] tensorflowbutler commented on #21008
Nagging Assignees @suharshs, @raghuraman-k: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:54] tensorflowbutler commented on #21009
Nagging Assignees @suharshs, @raghuraman-k: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:54] tensorflowbutler commented on #21051
Nagging Assignee @tatianashp: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:54] tensorflowbutler commented on #21081
Nagging Assignee @samikama: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:54] tensorflowbutler commented on #21093
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-07 18:54] tensorflowbutler commented on #21305
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:54] tensorflowbutler commented on #21391
Nagging Assignees @asimshankar, @karmel: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:54] tensorflowbutler commented on #21473
Nagging Assignees @miaout17, @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:55] tensorflowbutler commented on #21475
Nagging Assignee @tatatodd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:55] tensorflowbutler commented on #21687
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:55] tensorflowbutler commented on #21769
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:55] tensorflowbutler commented on #21779
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:55] tensorflowbutler commented on #21814
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-07 18:55] tensorflowbutler commented on #21818
Nagging Assignee @miaout17: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:55] tensorflowbutler commented on #21820
Nagging Assignees @mrry, @MarkDaoust: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 18:56] tensorflowbutler commented on #21830
Nagging Assignee @nataliaponomareva: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-07 19:09] karmel commented on #17571
Great. Closing for now-- please reopen a new issue if you encounter any difficulties.

[2018-09-07 19:09] #17571 closed

[2018-09-07 19:34] yongtang commented on #22145
I tried with the latest tf-nightly and the code seems to be fine. Can you try newer version to see if the issue has been fixed?

[2018-09-07 19:50] David-Levinthal commented on #15492
not with recent drops of TF..build works without additional flags with
recent Bazel updates
feel free to close this

On Fri, Sep 7, 2018 at 11:58 AM Alfred Sorten Wolf <notifications@github.com>
wrote:

[2018-09-07 20:01] #19670 closed

[2018-09-07 20:04] omalleyt12 commented on #22108
@Q82822 could you please give a minimal code example that reproduces the issue?

[2018-09-07 20:36] SumNeuron commented on #22092
@tensorflowbutler O.P. updated

[2018-09-07 20:48] #21929 closed

[2018-09-07 21:01] facaiy commented on #22142
@fchollet could you please comment?

[2018-09-07 21:17] jdduke commented on #22146
Thanks for the report, would it be possible to share the model (or truncated model) which yields this error? Thanks.

[2018-09-07 21:30] jdduke commented on #22138
Over to Suharsh to advise.

[2018-09-07 22:10] feihugis commented on #15396
@skye and @martinwicke If nobody else is working on this issue, I would like to work on it.

[2018-09-07 22:54] clankill3r opened #22153 "Tensorflow does not work with python 3.7 when using Virtualenv"
I am not sure where it goes wrong, but after reading tons of posts online I figured the combination tensor flow, Virtualenv en python 3.7 is not valid on Mac OSX.
I use python3.6 now and it is fine.
Sorry I can not provide more info, I'm broken by the struggle and want to sleep and forget about it.

[2018-09-07 22:57] nfelt commented on #12883
An update - after some discussion, our plans for the `tf.summary.image()` op are actually to keep it narrowly focused on the minimum necessary for summary export (i.e. PNG conversion), and thus not add further normalization controls.

In fact, for TF 2.0, we are planning on reducing the normalization provided by the op to just do [`tf.image.convert_image_dtype(tensor, tf.uint8, saturate=True)`](ht

[2018-09-07 22:57] #12883 closed

[2018-09-07 23:09] reedwm commented on #22066
/CC @josh11b, can you take a look?

[2018-09-07 23:11] claynerobison commented on #20240
I'm taking a look at this and have reproduced the error. WIP.

[2018-09-07 23:19] dhingratul commented on #21807
Switched to Timeline.

[2018-09-07 23:19] #21807 closed

[2018-09-08 00:27] yongtang commented on #22054
Added PR #22157 for int64 support on gpu.

[2018-09-08 01:01] #20199 closed

[2018-09-08 01:05] tensorflowbutler commented on #22148
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-08 01:34] EvansDaniel opened #22158 "Unexpected behavior of per_process_gpu_memory_fraction"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: See below
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary (used pip)
- **TensorFlow version (

[2018-09-08 01:35] ebrevdo commented on #22096
CTC loss calculation can be numerically unstable.  So it's better to keep it at least 32 bits.  Since it's only implemented on CPU, there's essentially no benefit to having a float16 version.

[2018-09-08 01:35] #22096 closed

[2018-09-08 01:39] ebrevdo commented on #21929
The tensor2tensor team has had success with layer norm in sequential models
but they use it in a very different way.  It probably depends on the
problem domain to see where it will work.

On Fri, Sep 7, 2018, 1:50 PM Aziz <notifications@github.com> wrote:

[2018-09-08 01:48] jhultman commented on #8246
@sachinruk have you found a good solution for that use case? I would love to hear about it. In the meantime, if your scenario permits tf.py_func you can try my simple solution below.

[code]

[2018-09-08 02:05] k-w-w commented on #21614
Adding @fchollet, as the error also appears when cloning the model using models.clone_model.

[2018-09-08 05:16] josh11b commented on #22066
I believe the issue is just the difference between reference and resource variables. Resource variables are the new thing and generally have better semantics, and we switch to using resource variables anytime you use a DistributionStrategy. @alextp , is there an easy way to trigger switching to resource variables without using a DistributionStrategy so we can validate this theory? The metrics func

[2018-09-08 05:27] dave-msk commented on #22066
@josh11b The error comes from the type checking from `EstimatorSpec`:
[code]

[2018-09-08 05:33] josh11b commented on #22066
@alextp Looks like this is coming from https://github.com/tensorflow/tensorflow/blob/e970a022ef6a3602dd5c9ea15afa96a2291880b1/tensorflow/python/estimator/model_fn.py#L469 .  Perhaps it should be changed to use `is_tensor_like()` so _UnreadVariable passes?

[2018-09-08 05:39] HunarAA commented on #22148
sorry, but where are these fields?

[2018-09-08 05:52] Dapid commented on #21769
I am OK either way, but I think both APIs should be synchronised.

[2018-09-08 06:27] trias702 commented on #19198
That would work well for me.

I'm currently building with CMake using a hack which upstreams the patch,
also did a similar thing for Bazel.

But yeah, if you can amend TF master to do it automatically for
Bazel/Cmake, that would be great.

On Sat, 8 Sep 2018, 00:24 Gunhan Gulsoy, <notifications@github.com> wrote:

[2018-09-08 06:46] tensorflowbutler commented on #22153
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-08 07:38] Nithanaroy opened #22161 "ValueError on using tf.contrib.avro with tf.keras"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: RHEL 7
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA
- **TensorFlow installed from (source or binary)**: Yes
- **TensorFlow version (use command below)*

[2018-09-08 08:13] stefsietz opened #22162 "tf.map_fn causes error when importing the same graph twice and connecting them"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary (pip in conda environment)
- **Tenso

[2018-09-08 09:01] frotms commented on #21248
When I run mobilenet_v2, same error in tensorflow 1.10.1and tensorrt 2.0.1, cuda 9.0, cudnn 7. But without error in Inception-V4.

**Code**
`
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

from threading import Lock
import os
import sys
import cv2
import numpy as np
import tensorflow as tf
import tensorflow.contrib.tensorrt as trt

def

[2018-09-08 11:50] jimenisimo commented on #21921
@hequn I have no idea how to implement your solution in my code, could you help me, have you tried my code?

[2018-09-08 12:41] Q82822 commented on #22108
the minimal code at  here , it is just part of my project code. the inpout is word_index.
the batch size = 64 and use tf-nightly-gpu.
in first batch size was worked, but in next batch train will be "nan".
[code]

[2018-09-08 14:47] NightCrawler96 commented on #18316
Sorry for long time without an activity. I had some health issues and had to focus on that first.
***
I think this issue has been **solved**.
My laptop finally broke and I had to reinstall everything. With my current setup everything runned for about 9 hours using GPU, so I think it is unlikely to return again.
When I was writing this comment I figured out, that I had forgotten to install cuDNN. I

[2018-09-08 16:15] yanghoonkim commented on #17679
I didn't try it with the new version. I may re-open the issue after I trying with the new one.

[2018-09-08 16:15] #17679 closed

[2018-09-08 17:10] joeyearsley commented on #22119
No errors or warnings when logging and `CUDA_LAUNCH_BLOCKING=1`.

Working on a mnist_xla script now

[2018-09-08 18:15] #20740 closed

[2018-09-08 18:32] #20300 closed

[2018-09-08 18:33] tensorflowbutler commented on #4044
Nagging Assignee @petewarden: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:33] tensorflowbutler commented on #4639
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-08 18:33] tensorflowbutler commented on #5477
Nagging Assignee @thjashin: It has been 182 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:33] tensorflowbutler commented on #7129
Nagging Assignee @ebrevdo: It has been 212 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:33] tensorflowbutler commented on #7480
Nagging Assignee @gunan: It has been 127 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:33] tensorflowbutler commented on #7669
Nagging Assignee @xiejw: It has been 136 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:33] tensorflowbutler commented on #7702
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-08 18:33] tensorflowbutler commented on #8112
Nagging Assignee @aselle: It has been 182 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:33] tensorflowbutler commented on #8416
Nagging Assignee @caisq: It has been 448 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:33] tensorflowbutler commented on #8564
Nagging Assignee @ebrevdo: It has been 245 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #8804
Nagging Assignee @ebrevdo: It has been 241 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #9049
Nagging Assignee @andrewharp: It has been 194 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #9234
Nagging Assignee @rmlarsen: It has been 212 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #9550
Nagging Assignee @ebrevdo: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #9779
Nagging Assignee @ebrevdo: It has been 245 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #9946
Nagging Assignee @andrewharp: It has been 450 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #10083
Nagging Assignee @ebrevdo: It has been 259 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #10110
Nagging Assignee @andrewharp: It has been 466 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #10408
Nagging Assignee @fchollet: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #10672
Nagging Assignee @shivaniag: It has been 434 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #10675
Nagging Assignee @josh11b: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #11055
Nagging Assignee @fchollet: It has been 438 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #11138
Nagging Assignee @xiejw: It has been 185 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:34] tensorflowbutler commented on #11144
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-08 18:35] tensorflowbutler commented on #11148
Nagging Assignee @caisq: It has been 275 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:35] tensorflowbutler commented on #11361
Nagging Assignee @tatianashp: It has been 226 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:35] tensorflowbutler commented on #11396
Nagging Assignee @ekelsen: It has been 422 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:35] tensorflowbutler commented on #11399
Nagging Assignee @yongtang: It has been 152 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:35] tensorflowbutler commented on #11514
Nagging Assignee @zhangyaobit: It has been 248 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:35] tensorflowbutler commented on #11521
Nagging Assignee @asimshankar: It has been 165 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:35] tensorflowbutler commented on #11604
Nagging Assignee @kayzhu: It has been 246 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:35] tensorflowbutler commented on #11695
Nagging Assignee @bignamehyp: It has been 127 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:35] tensorflowbutler commented on #11765
Nagging Assignee @skye: It has been 168 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:35] tensorflowbutler commented on #11802
Nagging Assignee @tfboyd: It has been 137 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:35] tensorflowbutler commented on #11806
Nagging Assignee @saeta: It has been 406 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:35] tensorflowbutler commented on #11807
Nagging Assignee @shivaniag: It has been 164 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:35] tensorflowbutler commented on #12121
Nagging Assignee @zheng-xq: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:35] tensorflowbutler commented on #12386
Nagging Assignee @josh11b: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:36] tensorflowbutler commented on #12465
Nagging Assignee @caisq: It has been 362 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:36] tensorflowbutler commented on #12569
Nagging Assignee @ebrevdo: It has been 342 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:36] tensorflowbutler commented on #12587
Nagging Assignee @rohan100jain: It has been 378 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:36] tensorflowbutler commented on #12653
Nagging Assignee @asimshankar: It has been 375 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:36] tensorflowbutler commented on #12792
Nagging Assignee @petewarden: It has been 164 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:36] tensorflowbutler commented on #12917
Nagging Assignee @rmlarsen: It has been 364 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:36] tensorflowbutler commented on #13104
Nagging Assignee @wolffg: It has been 212 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:36] tensorflowbutler commented on #13150
Nagging Assignee @saeta: It has been 351 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:36] tensorflowbutler commented on #13169
Nagging Assignee @caisq: It has been 347 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:36] tensorflowbutler commented on #13568
Nagging Assignee @tatianashp: It has been 316 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:36] tensorflowbutler commented on #13868
Nagging Assignee @petewarden: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:36] tensorflowbutler commented on #13967
Nagging Assignee @tatatodd: It has been 143 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:36] tensorflowbutler commented on #13980
Nagging Assignee @rohan100jain: It has been 261 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:37] tensorflowbutler commented on #14007
Nagging Assignee @akshayka: It has been 120 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:37] tensorflowbutler commented on #14012
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-08 18:37] tensorflowbutler commented on #14080
Nagging Assignee @iganichev: It has been 142 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:37] tensorflowbutler commented on #14129
Nagging Assignee @asimshankar: It has been 150 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:37] tensorflowbutler commented on #14130
Nagging Assignee @akshaym: It has been 150 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:37] tensorflowbutler commented on #14132
Nagging Assignee @asimshankar: It has been 311 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:37] tensorflowbutler commented on #14924
Nagging Assignee @aselle: It has been 275 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:37] tensorflowbutler commented on #14934
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:37] tensorflowbutler commented on #14943
Nagging Assignee @caisq: It has been 283 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:37] tensorflowbutler commented on #14950
Nagging Assignee @tatianashp: It has been 282 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:37] tensorflowbutler commented on #14993
Nagging Assignee @caisq: It has been 274 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:38] tensorflowbutler commented on #15352
Nagging Assignee @rohan100jain: It has been 190 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:38] tensorflowbutler commented on #15364
Nagging Assignee @wolffg: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:38] tensorflowbutler commented on #15412
Nagging Assignee @wujingyue: It has been 217 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:38] tensorflowbutler commented on #15572
Nagging Assignee @rmlarsen: It has been 259 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:38] tensorflowbutler commented on #15618
Nagging Assignees @case540, @gunan: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:38] tensorflowbutler commented on #15635
Nagging Assignee @andrewharp: It has been 253 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:38] tensorflowbutler commented on #15720
Nagging Assignee @zheng-xq: It has been 248 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:38] tensorflowbutler commented on #15880
Nagging Assignee @zheng-xq: It has been 127 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:38] tensorflowbutler commented on #15913
Nagging Assignee @rmlarsen: It has been 150 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:38] tensorflowbutler commented on #15978
Nagging Assignee @wolffg: It has been 127 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:38] tensorflowbutler commented on #16042
Nagging Assignee @protoget: It has been 184 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:39] tensorflowbutler commented on #16115
Nagging Assignee @shivaniag: It has been 135 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:39] tensorflowbutler commented on #16226
Nagging Assignee @caisq: It has been 228 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:39] tensorflowbutler commented on #16333
Nagging Assignee @skye: It has been 157 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:39] tensorflowbutler commented on #16396
Nagging Assignee @raghuraman-k: It has been 183 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:39] tensorflowbutler commented on #16526
Nagging Assignees @case540, @gunan: It has been 199 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:39] tensorflowbutler commented on #16545
Nagging Assignee @tatianashp: It has been 119 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:39] tensorflowbutler commented on #16771
Nagging Assignee @rohan100jain: It has been 213 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:39] tensorflowbutler commented on #16776
Nagging Assignee @caisq: It has been 214 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:39] tensorflowbutler commented on #16821
Nagging Assignee @zhangyaobit: It has been 149 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:39] tensorflowbutler commented on #16850
Nagging Assignee @caisq: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:39] tensorflowbutler commented on #16889
Nagging Assignee @ebrevdo: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:39] tensorflowbutler commented on #16925
Nagging Assignee @bignamehyp: It has been 136 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:39] tensorflowbutler commented on #16935
Nagging Assignee @caisq: It has been 142 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:40] tensorflowbutler commented on #17076
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-08 18:40] tensorflowbutler commented on #17233
Nagging Assignee @tatianashp: It has been 151 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:40] tensorflowbutler commented on #17274
Nagging Assignee @tatianashp: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:40] tensorflowbutler commented on #17319
Nagging Assignee @tatatodd: It has been 192 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:40] tensorflowbutler commented on #17347
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-08 18:40] tensorflowbutler commented on #17424
Nagging Assignee @petewarden: It has been 134 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:40] tensorflowbutler commented on #17451
Nagging Assignee @tatatodd: It has been 186 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:40] tensorflowbutler commented on #17548
Nagging Assignee @tatatodd: It has been 184 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:40] tensorflowbutler commented on #17628
Nagging Assignees @miaout17, @shivaniag: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:40] tensorflowbutler commented on #17747
Nagging Assignee @zheng-xq: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:40] tensorflowbutler commented on #17762
Nagging Assignee @jart: It has been 119 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #17783
Nagging Assignee @ebrevdo: It has been 139 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #17833
Nagging Assignee @bignamehyp: It has been 170 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #17844
Nagging Assignee @skye: It has been 168 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #17860
Nagging Assignee @bignamehyp: It has been 136 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #17868
Nagging Assignee @tatatodd: It has been 171 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #17909
Nagging Assignee @shivaniag: It has been 170 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #17967
Nagging Assignee @tatatodd: It has been 168 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #17968
Nagging Assignee @protoget: It has been 165 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #17980
Nagging Assignee @zhangyaobit: It has been 165 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #17985
Nagging Assignee @fchollet: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #18063
Nagging Assignee @bignamehyp: It has been 136 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #18083
Nagging Assignee @fchollet: It has been 136 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #18107
Nagging Assignee @tatatodd: It has been 158 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:41] tensorflowbutler commented on #18123
Nagging Assignee @zhangyaobit: It has been 135 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:42] tensorflowbutler commented on #18211
Nagging Assignee @jart: It has been 107 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:42] tensorflowbutler commented on #18219
Nagging Assignee @tatatodd: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:42] tensorflowbutler commented on #18229
Nagging Assignee @petewarden: It has been 127 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:42] tensorflowbutler commented on #18232
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-08 18:42] tensorflowbutler commented on #18245
Nagging Assignee @tatatodd: It has been 156 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:42] tensorflowbutler commented on #18250
Nagging Assignee @shivaniag: It has been 155 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:42] tensorflowbutler commented on #18254
Nagging Assignee @tatatodd: It has been 155 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:42] tensorflowbutler commented on #18338
Nagging Assignee @shivaniag: It has been 151 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:42] tensorflowbutler commented on #18341
Nagging Assignee @tatatodd: It has been 152 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:42] tensorflowbutler commented on #18345
Nagging Assignee @ebrevdo: It has been 150 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:42] tensorflowbutler commented on #18353
Nagging Assignee @mrry: It has been 149 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:42] tensorflowbutler commented on #18415
Nagging Assignee @skye: It has been 142 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:42] tensorflowbutler commented on #18417
Nagging Assignee @tatatodd: It has been 149 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:42] tensorflowbutler commented on #18449
Nagging Assignee @jart: It has been 123 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:43] tensorflowbutler commented on #18453
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-08 18:43] tensorflowbutler commented on #18454
Nagging Assignee @shivaniag: It has been 120 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:43] tensorflowbutler commented on #18519
Nagging Assignee @zhangyaobit: It has been 140 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:43] tensorflowbutler commented on #18600
Nagging Assignee @tatatodd: It has been 127 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:43] tensorflowbutler commented on #18661
Nagging Assignee @saeta: It has been 141 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:43] tensorflowbutler commented on #18748
Nagging Assignee @aselle: It has been 135 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:43] tensorflowbutler commented on #18755
Nagging Assignee @tatianashp: It has been 139 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:43] tensorflowbutler commented on #18774
Nagging Assignee @tatatodd: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:43] tensorflowbutler commented on #18786
Nagging Assignee @jart: It has been 138 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:43] tensorflowbutler commented on #18787
Nagging Assignee @tatatodd: It has been 138 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:43] tensorflowbutler commented on #18827
Nagging Assignee @mrry: It has been 136 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:44] tensorflowbutler commented on #18849
Nagging Assignee @prb12: It has been 135 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:44] tensorflowbutler commented on #18947
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-08 18:44] tensorflowbutler commented on #18962
Nagging Assignee @shivaniag: It has been 124 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:44] tensorflowbutler commented on #18964
Nagging Assignee @angersson: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:44] tensorflowbutler commented on #19049
Nagging Assignee @rmlarsen: It has been 127 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:44] tensorflowbutler commented on #19056
Nagging Assignee @shivaniag: It has been 128 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:44] tensorflowbutler commented on #19120
Nagging Assignee @shivaniag: It has been 123 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:44] tensorflowbutler commented on #19129
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-08 18:44] tensorflowbutler commented on #19274
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-08 18:44] tensorflowbutler commented on #19441
Nagging Assignee @shivaniag: It has been 109 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:44] tensorflowbutler commented on #19455
Nagging Assignee @robieta: It has been 90 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:44] tensorflowbutler commented on #20052
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:45] tensorflowbutler commented on #20300
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-08 18:45] tensorflowbutler commented on #20396
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-08 18:45] tensorflowbutler commented on #20403
Nagging Assignees @suharshs, @liyunlu0618: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:45] tensorflowbutler commented on #20553
Nagging Assignee @skye: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:45] tensorflowbutler commented on #20608
Nagging Assignee @allenlavoie: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:45] tensorflowbutler commented on #20619
Nagging Assignee @tanzhenyu: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:45] tensorflowbutler commented on #20674
Nagging Assignees @mrry, @gunan: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:45] tensorflowbutler commented on #20764
Nagging Assignee @zheng-xq: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:45] tensorflowbutler commented on #20880
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-08 18:45] tensorflowbutler commented on #20997
Nagging Assignee @karmel: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:46] tensorflowbutler commented on #21032
Nagging Assignee @rmlarsen: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:46] tensorflowbutler commented on #21053
Nagging Assignee @drpngx: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:46] tensorflowbutler commented on #21126
Nagging Assignee @robieta: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:46] tensorflowbutler commented on #21348
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:46] tensorflowbutler commented on #21402
Nagging Assignee @bignamehyp: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:46] tensorflowbutler commented on #21429
Nagging Assignee @gargn: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:46] tensorflowbutler commented on #21439
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-08 18:46] tensorflowbutler commented on #21482
Nagging Assignee @rohan100jain: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:46] tensorflowbutler commented on #21503
Nagging Assignee @rohan100jain: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:46] tensorflowbutler commented on #21504
Nagging Assignee @shivaniag: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:46] tensorflowbutler commented on #21505
Nagging Assignee @petewarden: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:46] tensorflowbutler commented on #21513
Nagging Assignee @fchollet: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:46] tensorflowbutler commented on #21680
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-08 18:47] tensorflowbutler commented on #21778
Nagging Assignees @fchollet, @pavithrasv, @tanzhenyu: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:47] tensorflowbutler commented on #21782
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:47] tensorflowbutler commented on #21796
Nagging Assignee @drpngx: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:47] tensorflowbutler commented on #21809
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-08 18:47] tensorflowbutler commented on #21836
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:47] tensorflowbutler commented on #21837
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-08 18:47] tensorflowbutler commented on #21838
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-08 18:55] fifothekid commented on #19129
This is not an issue anymore because CMake is replaces with Bazel

[2018-09-08 19:04] cedricve commented on #21926
have the same issue @Anto95

[2018-09-08 19:16] ruanjiandong commented on #19198
@gunan , I've submitted eigen pull request. For status, see https://bitbucket.org/eigen/eigen/pull-requests/481

[2018-09-08 19:18] yongtang commented on #16834
I think this issue might be similar to #20527

[2018-09-08 21:30] georgesterpu commented on #22103
Hi @ppwwyyxx, the code is here: https://github.com/georgesterpu/Sigmedia-AVSR
You only have to set the `profiling` flag to True when instantiating the AVSR class.

[2018-09-08 21:30] georgesterpu commented on #21920
@weiwancheng Here it is: https://github.com/georgesterpu/Sigmedia-AVSR

[2018-09-08 22:36] apischan commented on #22148
@HunarAA when you created this issue there was the policy (in the field where you described your issue) where devs asks to specify that information. To ensure you can click "New issue" again and read it.
Also as I see your issue can be not issue at all. In the same policy as I mentioned above the most first sentence is about your case. Such questions you should ask on [stackoverflow](https://stack

[2018-09-08 22:55] myth01 commented on #21864
Hi @jdduke  Thanks for your response. What is the recommended NDK version? Bazel is picking up clang.

[2018-09-08 23:09] Miffyli commented on #8858
Ubuntu 16.04 (KDE Neon), Tensorflow 1.9.0, CUDA 9 + CuDNN 7.0
CPU: Xeon W-2125
GPU: Asus GTX 1080 Turbo
PSU: Fujitsu proprietary 800W

Having similar trouble when training VAE for longer than ~30mins, after which computer reboots without any errors in logs. Temperatures were at ok range (max 80C for GPU). Running Hashcat on GPU + stressing CPU with primesieve did not crash the computer over night.

[2018-09-08 23:59] yaroslavvb commented on #9234
Just tried it out on with latest MKL-compiled TensorFlow on Amazon instance, and crash was not there -- https://github.com/yaroslavvb/stuff/blob/master/linalg-benchmark/launch_tensorflow_svd_crash.py

However I suspect that takes a different code path (MKL)

[2018-09-09 00:48] Vegoo89 commented on #17101
Found a solution, in my case it was related to Windows 10 and Pycharm.
Somehow Pycharm doesn't have access to Program Files in Windows 10 if you don't run it as admin and this is default location of CUDA folder and all dlls .
I closed all my projects and opened Pycharm as admin and suddenly everything works.

[2018-09-09 01:09] FypTeamFast2019TumorDetection commented on #6249
I answered this problem which is also related to architecture Understand this in following link
https://stackoverflow.com/questions/46465925/input-to-reshape-is-a-tensor-with-37632-values-but-the-requested-shape-has-1505/52240509#52240509
Let me know if you face any issue

[2018-09-09 01:13] FypTeamFast2019TumorDetection commented on #16197
We answered this problem which is also related to architecture Understand this in following link
https://stackoverflow.com/questions/46465925/input-to-reshape-is-a-tensor-with-37632-values-but-the-requested-shape-has-1505/52240509#52240509
Let us know if you face any issue

[2018-09-09 01:39] ankitshah009 commented on #20569
I am facing the same errors with CUDA-9.1 and cannot install a newer package or an older package since I dont have admin privileges, how can one fix the tensorflow installation issues?

[2018-09-09 01:49] elliotwaite commented on #21837
@tensorflowbutler, yes, this is still an issue.

[2018-09-09 02:59] grldsndrs commented on #9090
This is apparently a problem with OneDrive as well.

[2018-09-09 04:08] weiwancheng commented on #21920
@georgesterpu OK,Thanks

[2018-09-09 04:56] sarkararpan710 commented on #22086
I am new to open source. Can someone guide me to help me solve this issue. I have good amount of c++ knowledge and practice.
Thank You.

[2018-09-09 06:40] acsy0802 opened #22165 "TENSORFLOW ISSUES"
I've been trying to install TensorFlow for the past few hours and keep getting this error:
# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

    Traceback (most recent call last):
      File "/anaconda2/lib/python2.7/site-packages/conda/exceptions.py", line 812, in __call__
        return func(*args, **kwargs)
      File "/anaconda2/lib/python2.7/site-packages/conda/cli/main.py", line

[2018-09-09 07:10] Changkou opened #22166 "After convert a mobilenet_v1 from pb model to lite, the model accuracy reduction for 12%"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-09 07:39] sj6077 commented on #20074
Thank you. I'll try with the new code.

[2018-09-09 07:39] #20074 closed

[2018-09-09 08:15] kate-kate opened #22167 "tensorflow/contrib/lite/examples/android/BUILD/android-profile is not a directory"
Hi there. I have installed the latest version of tensorflow and trained SSD quantized model following [this article](https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193) very precisely. After the training was successfully done, I've decided to run the android tflite example project to check how my model (frozen graph) will

[2018-09-09 09:10] kaizukakazuto opened #22168 "tensorflow.python.framework.errors_impl.NotFoundError: C:\Anaconda3\lib\site-packages\tensorflow\contrib\data\python\ops\..\..\_dataset_ops.so not found"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-09 09:11] kaizukakazuto commented on #22168
Traceback (most recent call last):
  File "C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-2-676782b4ecf9>", line 1, in <module>
    runfile('C:/Users/Administrator/.PyCharm2018.2/config/scratches/Mnist 数据集.py', wdir='C:/Users/Administrator/.PyCharm2018.2/config/scratches')
  File

[2018-09-09 09:11] theoamaya commented on #22167
Nice

[2018-09-09 09:12] theoamaya commented on #22167
Thanks

[2018-09-09 09:12] kaizukakazuto commented on #22168
I just want to use"import input_data"but.....

[2018-09-09 09:39] kaizukakazuto commented on #22168
What should I do？can you help me?

[2018-09-09 10:08] jedld opened #22169 "Possible bug when getting the gradient of unstack"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-09 11:43] t-ubukata commented on #18304
I have the same issue with the notebook below.
Restart runtime, Reset all runtimes neither do not solve, but I could run it once before.

https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/contrib/eager/python/examples/pix2pix/pix2pix_eager.ipynb

[2018-09-09 11:52] cdluminate commented on #22116
The cause of this problem is that `device.frequency()` returned `0`.
[code]

[2018-09-09 12:41] chenghuige commented on #22140
@allenlavoie I think it would be nice to track and record any train able layer variables, not matter what data structure they are in.
I'm also interested in the mechanism of save vars.
1. Seems if use another layer like B in Layer A(B is a member of A), then we do not save any vars of B.
2. Then in order to save vars of B I have to make A a Model instead of a Layer, but for Model seems
    we can

[2018-09-09 12:46] mattscar opened #22171 "Elements of a CsvDataset should be tensors instead of tuples"
------------------------

### System information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 18.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **No**
- TensorFlow installed from (source or binary): **source**
-

[2018-09-09 13:00] #22064 closed

[2018-09-09 13:31] calicratis19 commented on #20141
I'm getting same type of error for xception model.
` Array Cast, which is an input to the ResizeBilinear operator producing the output array ResizeBilinear, is lacking min/max data, which is necessary for quantization. If accuracy matters, either target a non-quantized output format, or run quantized training with your model from a floating point checkpoint to change the input graph to contain min

[2018-09-09 15:42] Tahirhan commented on #21362
try invoking the command in your "tensorflow" directory. I was getting the same error when i was in different directory.

[2018-09-09 15:59] octavian-ganea commented on #22048
I am not sure this solves the issue. The code still fails for very small vectors, e.g.:
`a = tf.ones([3], dtype=tf.float32) * 1e-20`

[2018-09-09 16:04] georgesterpu opened #22172 "seq2seq.BeamSearchDecoder incompatible with float16"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Manjaro Linux, testing
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (us

[2018-09-09 16:04] muaz-git commented on #19341
@Harry-Up could you find solution to this problem?

[2018-09-09 16:28] ebrevdo commented on #18345
This bug is probably outdated.  I'll close for now -- I'm not able to replicate locally with a recent version of TF.  Reopen if it's still an issue.

[2018-09-09 16:28] #18345 closed

[2018-09-09 16:32] ebrevdo commented on #10083
The error is no longer reproducible with a recent version of TF (e.g. a nightly from the past month) - so I'm assuming the bug has been fixed.

[2018-09-09 16:32] #10083 closed

[2018-09-09 16:37] ebrevdo commented on #7702
Contributions welcome to the existing OO-based API.   cc += @qlzh727

[2018-09-09 16:38] ebrevdo commented on #11144
cc += @qlzh727 for context.

[2018-09-09 16:44] ebrevdo commented on #12569
Fixed by aae34fa7e35d9c3931cae49bfc20384dd20dffec.

[2018-09-09 16:44] #12569 closed

[2018-09-09 16:46] ebrevdo commented on #8564
This will be resolved when we move from TensorArray to TensorList under the covers, cc @alextp.

[2018-09-09 16:46] ebrevdo commented on #8564
@alextp do you want to take this over and close it when everything's TensorList, or should we put a special label on it?

[2018-09-09 17:06] Chaoste commented on #17945
Same problem with latest version:
- Windows 10, Intel Core i5-6200U
- tensorflow 1.10.0-mkl_py36hb361250_0 (using Miniconda3)
- keras 2.2.2-0

[2018-09-09 17:29] yongtang commented on #22169
@jedld I think you may need to pass a float32 type to a:
[code]

[2018-09-09 17:37] SumNeuron commented on #22092
@poxvoculi here is a [concept](https://colab.research.google.com/drive/1HrSYF1I7rBGaNQ7388Ss3epWPLTloEC6)

[2018-09-09 18:36] tensorflowbutler commented on #22165
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-09 18:36] tensorflowbutler commented on #20332
Nagging Assignee @meteorcloudy: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-09 18:36] tensorflowbutler commented on #20380
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-09 18:36] tensorflowbutler commented on #20881
Nagging Assignee @aselle: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-09 18:36] tensorflowbutler commented on #20998
Nagging Assignee @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-09 18:36] tensorflowbutler commented on #21263
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-09 18:37] tensorflowbutler commented on #21326
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-09 18:40] dbl001 opened #22174 "tensorflow/core/framework/tensor.cc:861] Check failed: buf_ null buf_ with non-zero shape size 1"
I'm running a model Lda2vec_tensorflow on a Mac with Tensorflow 1.8 in an anaconda 3.6 virtual environment.  The model runs properly without trying to attach the tensor board debugger.
When I attach the debugger I get an abort signal.

**Have I written custom code**
No
**OS Platform and Distribution**
OS X 10.11.6

**TensorFlow installed from**
[code]
**TensorFlow version**
1.8.0

**Bazel version*

[2018-09-09 18:46] tanzhenyu commented on #19967
@bhack @pawarrick I suspect if it has something to do with the input fn you are using in Estimator? (I'm not very familiar with tf.Dataset but I imagine it could need to allocate extra large amount of memory for the map function you're using (as well as the shuffling).

[2018-09-09 18:48] tanzhenyu commented on #20999
Last update: Review is completed and still working on implementation. It appears to be more challenging  in distributed version.

[2018-09-09 18:49] tanzhenyu commented on #20619
Review is completed and still working on implementation. It appears to be more challenging in distributed versions.

[2018-09-09 18:59] robieta commented on #22165
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-09-09 18:59] #22165 closed

[2018-09-09 19:03] bhack commented on #19967
@tanzhenyu Are the map executing gpu Ops? I have only pure python /numpy. My context was more on the [Shared vision model](https://github.com/tensorflow/tensorflow/issues/16468#issuecomment-385662734). With shared vision you need to heavily reduce the batch size against the same not shared model.

[2018-09-09 19:57] superbobry commented on #21603
@xiejw do you assume that if the session_config has been provided, and devide_filters are empty, then the user explicitly did not set them?

[2018-09-09 19:59] jedld commented on #22169
Thanks, I didn't realize it might have issues with int32 data type. II'll close this for now

[2018-09-09 19:59] #22169 closed

[2018-09-09 21:11] georgesterpu opened #22176 "seq2seq.dynamic_decode with float16 inputs on CPU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Manjaro Linux, testing
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: nice
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow versio

[2018-09-09 21:30] georgesterpu commented on #22176
A similar issue in keras: https://github.com/keras-team/keras/issues/10531

[2018-09-09 22:36] xilenteyex commented on #17910
Hi @prb12 ,
Thanks for replying.

I am trying to understand logging in tensorflow in depth. I think cifar is slightly a bigger model to start with. Now, I am using a MNIST example. Script that I ran can be found [(here)](https://gist.github.com/xilenteyex/f652be2306573020eec9152a87915324). Following is the list of issues:

- I made sure that run_metadata is called separately for every sess.run cal

[2018-09-09 23:02] joeyearsley commented on #22119
https://github.com/joeyearsley/mnist-xla/tree/master

[2018-09-09 23:15] jamesqo commented on #1325
I'm having this problem too...

[2018-09-09 23:26] omalleyt12 commented on #21799
The fix should now be available in the nightly build, please ```pip install tf-nightly``` (or ```pip install tf-nightly-gpu``` for GPU support) and let me know if that works for you

[2018-09-10 00:13] mrry commented on #17810
Sure, that'd be welcome!

[2018-09-10 01:34] wangshuaizs commented on #22077
Anyone can help me ?

[2018-09-10 01:36] wangshuaizs commented on #22081
@tensorflowbutler

Do you have any ideas about this? Is it caused by a bug ?

[2018-09-10 01:51] nairouz opened #22177 "Wavelet transform"
Is there any plan in making tensorflow support wavelet transform?

[2018-09-10 02:00] hequn commented on #21921
@jimenisimo These codes mentioned above are not my codes, they are in the research module 'object_detection', you may go into that and check the source codes.
Sorry, I haven't tried you code, but it seems the acc from 75% to 45% is not similar with the situation in my test.

[2018-09-10 02:04] byronyi commented on #22081
Have you tried to install `nv_peer_mem` driver to enable GDR?

By the way, what is the output for command `ulimit -l`? If you have inherit limit for page-locked memory, the RDMA memory allocator might not be able to register enough memory region. It is thus recommended to modify the limits in `/etc/security/limits.conf`.

[2018-09-10 02:07] byronyi commented on #22077
@eladweiss Mind to take a look?

[2018-09-10 02:08] byronyi commented on #20761
@eladweiss Mind to take a look?

[2018-09-10 02:20] fclof opened #22178 "feature request: A transform that maps the input to the output in tf.contrib.image"
**feature request:
A transform that map the input to the output in tf.contrib.image**

In current tf.contrib.image.transform, it says "The transforms are *inverted* compared to the transform mapping input points to output points".
This is counter-intuitive to me. Why would you define a function that applies a transform converting the output to the input? Isn't input -> transform matrix -> output m

[2018-09-10 03:08] scotthuang1989 commented on #21587
I have some hot fix to solve this, just add regularization loss to total loss. but not sure if this is right (right way of doing it in tensorflow, It should be right in math).

[2018-09-10 03:10] JinMengKang commented on #20302
Hello, I encountered TypeError error when I was running the program.

File "/home/kjm/Desktop/inpainting/GatedConvolution/inpaint_ops.py", line 512, in contextual_attention
offset = tf.argmax(yi, axis=3, output_type=tf.int32)
TypeError: argmax() got an unexpected keyword argument 'output_type'

I used python3.6+tensorflow1.2.

Thank you very much for your help.

[2018-09-10 03:14] JinMengKang opened #22179 "TypeError: argmax() got an unexpected keyword argument 'output_type' in tensorflow1.2"
Hello, I encountered TypeError error when I was running the program.

File "/home/kjm/Desktop/inpainting/GatedConvolution/inpaint_ops.py", line 512, in contextual_attention
offset = tf.argmax(yi, axis=3, output_type=tf.int32)
TypeError: argmax() got an unexpected keyword argument 'output_type'

I used python3.6+tensorflow1.2.And what should I do to correct this error?

Thank you very much for your

[2018-09-10 04:05] Allan-Gong opened #22180 "Tensorflow java built failure on amazon linux - C++ compilation of rule '@protobuf_archive//:protobuf_lite' failed (Exit 1)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-10 04:45] xjohnxjohn commented on #18891
@angersson  Could you please tell me what and where to solved this issue?

[2018-09-10 05:40] ruanjiandong commented on #19198
@gunan eigen fix is merged into main development branch. The download link is https://bitbucket.org/eigen/eigen/get/52517c8764ad.tar.gz

[2018-09-10 06:34] tensorflowbutler commented on #22174
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-10 07:37] shqking commented on #17274
I encountered the same issue, trying to utilize benchmark_model to evaluate the FLOPS for my custom RNN model.

[2018-09-10 07:52] apolo74 commented on #18652
@gunan I've been trying cuda 9.0 and cuda 9.1 with Tensorflow 1.8 and 1.9 but the results are the same... the first time I run `sess = tf.Session()` it stops around 3 minutes at `...Adding visible gpu devices: 0` and after that I can work normally. If I'm working within a Python shell and I close that session and WITHOUT exiting Python shell I open a new session `sess1 = tf.Session()` there is no

[2018-09-10 08:15] wogong commented on #18177
I just encountered the same problem and no solution was found, any updates?

[2018-09-10 08:17] #21303 closed

[2018-09-10 08:26] llidev opened #22182 ""master" in cluster spec for distributed training"
Hi,

Given in the sample code [mnist_replica.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/python/mnist_replica.py), `tf.train.ClusterSpec()` needs to be used to define the cluster for distributed training.  The function `tf.train.ClusterSpec()` can only take `"ps"` and `"worker"` hosts, but `"master"` is not allowed. As far as I know, `"master"` is usually de

[2018-09-10 08:28] PennySHE opened #22183 "" error: no member named 'stoi' in namespace 'std' " when bazel build //tensorflow/contrib/lite/tools/accuracy/ilsvrc:imagenet_accuracy_eval"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04.4
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
snapdragon SDM845
- **TensorFlow installed from (source or binary)**:
Install from binar

[2018-09-10 09:03] allenzhang010 commented on #20833
@ashahba Thanks, I think this ticket can be closed.

[2018-09-10 09:15] lissyx commented on #17274
We're moving away from `bidirectional_dynamic_rnn` :/

[2018-09-10 09:17] again4you commented on #20428
My RP is already merged so I think that  this issue would be fixed. Could someone in charge close this issue?

[2018-09-10 09:23] midnitekoder opened #22184 "Keras equivalent of "class_weight" in fit method in Tensorflow Estimator"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-10 09:33] byronyi commented on #1835
For those of you who is in mainland China and has frequently met connection problems accessing [](tensorflow.com), you could try [](tensorflow.google.cn).

[2018-09-10 09:41] llxxrr opened #22185 "录视频后无法播放，显示大小为0kb"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-10 09:54] Efaq commented on #21894
@omalleyt12  Thanks for the answer!

[2018-09-10 09:55] Efaq commented on #20827
@pavithrasv I have just tested the issue, and I am being able to reproduce the error. That is, the code mentioned above, with two calls to fit, works well, but commenting the first fit gives error in the second. That is: "TypeError: Input 'b' of 'MatMul' Op has type float32 that does not match type float64 of argument 'a'."

I am in Windows 10 enterprise, not using GPUs, tensorflow version = 1.11.

[2018-09-10 10:07] jaros3 opened #22186 "Incorrect .runfies folder name — building from source on Windows"
### System information

- Building from source: v1.10.1 tag (no custom code)
- Windows 7
- Bazel 0.16.1, same error with Bazel 0.15.0
- Python 3.6
- MSVC 2015 compiler
- Building with GPU
- CUDA 9.0
- cuDNN 7.2.1
- Specified CUDA compute capability 3.0 during configure.py
- nVidia GeForce GTX 660 Ti, 2 GB

### Describe the problem
I'm building from source following these instructions: https://www.

[2018-09-10 10:32] kor01 opened #22187 "keras.layers.Conv3DTranspose error when reused"
Version 1.10

file: tensorflow/python/keras/layers/ convolution.py

line: 1000

problem:

input_spec is modified every time the module is called;
input_spec uses dynamic shape causes error in shape checker when the layer is reused

[2018-09-10 10:33] kor01 commented on #22187
solution: delete line 1000, input_spec should only be modified in constructor or build function

[2018-09-10 10:41] suneelkumargavara commented on #22051
Removing the declared c++ variables on header file has done the trick.

[2018-09-10 10:41] #22051 closed

[2018-09-10 11:56] xiaofansong commented on #15805
@fzhu129
--output_node_names should be output
--output_node_names=output

--output_arrays in toco should equals to --output_node_names in freeze.py

[2018-09-10 12:28] suneelkumargavara opened #22189 "Speech recognition ios example not found"
Hi TFTeam,
I want to make an application in iOS which will convert the speech to text. But unfortunately there are no examples for iOS are included in the github where there exist example for android. How could i implement the same feature in iOS platform

[2018-09-10 12:35] tensorflowbutler commented on #22177
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-10 12:35] tensorflowbutler commented on #22179
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-10 13:32] davlhd commented on #16851
@zhengnianqing did you open a new issue? I am facing the same problem

[2018-09-10 13:34] JinMengKang commented on #22179
I am very sorry that I did not express the basic configuration of the computer clearly.
I downloaded others repository from github, but I made a mistake on my computer. And this statement just called argmax() function.

-----------------This is the error statement -----------------------
offset = tf.argmax(yi, axis=3, output_type=tf.int32)
TypeError: argmax() got an unexpected keyword argument 'ou

[2018-09-10 13:59] TGithubbr commented on #22099
So are you working on this?

[2018-09-10 14:02] zhengnianqing commented on #16851
No,but I am still facing  the same problem. I think It is brecause when converting the model to tflite,the model recordes some parameters that can not be changed, That's just my guess.You can open a new issue.

[2018-09-10 14:06] Efaq opened #22190 "metrics=['accuracy'] seems to be calculated differently if one uses tf.data inputs instead of numpy arrays for keras model"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-10 14:16] skye commented on #22148
@apischan is right on both counts. Closing this since it's not a bug or feature request.

[2018-09-10 14:16] #22148 closed

[2018-09-10 14:16] rachellim commented on #22171
Can you clarify what batching behavior you expect here?

[2018-09-10 14:17] skye commented on #20553
Hey @alanpurple , did you manage to fix this issue?

[2018-09-10 14:17] rachellim commented on #22171
@mattscar

[2018-09-10 14:17] unrealwill commented on #21348
Any update ?

[2018-09-10 14:25] Elites2017 opened #22191 "toco: error: one of the arguments --graph_def_file --saved_model_dir --keras_model_file is required"
I'm trying to convert my tensorflow model to .tflite following the devguide on the official tensorflowlite site. I got the following error: toco: error: one of the arguments --graph_def_file --saved_model_dir --keras_model_file is required
Thanks in advance for your help.

Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub

[2018-09-10 14:26] carrondt commented on #22121
@Nithanaroy just a comment, because I am wondering about the same thing, is that if you include the trace_steps and dump_steps parameters with ProfileContext initialization then you can get some output. I also saw no output without them.

also, there is a report of no output for the later versions of keras: https://github.com/keras-team/keras/issues/10880#issuecomment-419377716

[2018-09-10 14:30] Lionellye97 commented on #15401
I am having the same issue as @DmitrySolntsev as well.

[2018-09-10 14:31] joeyearsley commented on #22143
Try:

` sudo apt install libnccl2=2.2.13-1+cuda9.0  libnccl-dev=2.2.13-1+cuda9.0 `

Tensorflow is built with CUDA 9.0 and you have the NCCL for CUDA 9.2 installed

[2018-09-10 14:40] ajgarn opened #22192 "Unknown shape on placeholder caused by tf.graph_util.convert_variables_to_constants"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Mac OS X 10.13.6
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
N/A
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use

[2018-09-10 14:50] payal211 opened #22193 "AttributeError: module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-10 15:08] brdw commented on #22098
This is a pretty big performance issue.

[2018-09-10 15:12] jdduke commented on #22022
Thanks for the feedback @dlml. We're always looking to improve native Keras support, but I'll go ahead and close this for now.

[2018-09-10 15:12] #22022 closed

[2018-09-10 15:13] jdduke commented on #21986
Hi @dlml, were you able to use the workaround you mentioned in #22022 ?

[2018-09-10 15:16] yongtang commented on #22099
@TGithubbr I don't have access to Windows so I may not be able to provide much help for Windows-related issues. Would be happy to take a further look if the issue could be reproduced on Linux.

[2018-09-10 15:31] ebrevdo commented on #22133
This is gonna be super slow.  I'm going to rename this bug to "_beam_search_ops.so and PyFunc don't work with TF Serving".

[2018-09-10 15:31] ebrevdo commented on #22133
Can you provide a simple repro for trying to load this in TF Serving so we can check the failure?

[2018-09-10 15:36] ebrevdo commented on #22133
@martinwicke @qlzh727 we may be able to resolve this by moving the c++ kernels in tf.contrib.seq2seq to core.

[2018-09-10 15:41] jdduke commented on #21864
Any of r14, r15 or r16 should work. Are you by chance using NDK r17? See also issue https://github.com/tensorflow/tensorflow/issues/20830 for a related report about performance degradation with NDK r17.

[2018-09-10 15:42] jdduke commented on #20830
@dimitryn are you still observing the ~30% performance degradation with NDK 17?

[2018-09-10 15:46] #21330 closed

[2018-09-10 15:47] DaPenggg commented on #21330
bytes problem. I got it.

[2018-09-10 15:58] guillaumekln commented on #22133
TensorFlow Serving already links against `tensorflow/contrib:contrib_kernels`:

https://github.com/tensorflow/serving/blob/r1.10/tensorflow_serving/model_servers/BUILD#L260L263

However, the `beam_search_ops` kernels were added to this rule in TensorFlow 1.3.

[2018-09-10 16:01] yongtang commented on #19198
I tried to apply the changes:
https://github.com/tensorflow/tensorflow/compare/master...yongtang:19198-eigen

Though it looks like there are build failures. Will take a look and see if the build failure could be fixed.

[2018-09-10 16:06] rohith-k-sturfee commented on #19949
Now I used new nightly build. This error remains same:
```2018-09-10 09:00:50.268177: F tensorflow/contrib/lite/toco/tooling_util.cc:981] Check failed: name.substr(colon_pos + 1).find_first_not_of("0123456789") == string::npos (1 vs. 18446744073709551615)Array name must only have digits after colon```

[2018-09-10 16:10] reedwm commented on #20428
Closing, as @again4you fixed this in #21966.

[2018-09-10 16:10] #20428 closed

[2018-09-10 16:15] allenlavoie commented on #22140
Right, Layer doesn't have a __setattr__ override. Originally they were going to, but just defining it is a performance issue for functional layers (which create Layer objects in a loop and share variables by some other means).

You can add variables to a Model by assigning them to an attribute just like with sub-Layers. `add_weight` should work too; what's the issue?

[2018-09-10 16:20] aselle commented on #15401
I believe this is fixed in master or 0.11 RC. Please give that a try.
-A

On Mon, Sep 10, 2018 at 7:30 AM Lionellye97 <notifications@github.com>
wrote:

[2018-09-10 16:47] av8ramit commented on #21524
1-2 weeks.

[2018-09-10 16:47] gunan commented on #19198
Thanks for upstreaming the change into eigen.
I learned that our upgrade of eigen is blocked right now due to internally and externally a few eigen pieces being out of sync.
@rmlarsen is right now working to get this resolved. We will then upgrade our eigen dependency once all issues are resolved. However, the current issue is a rarther involved one and it may take up to a couple of weeks.

[2018-09-10 16:54] baobao7766 commented on #22133
Thank you for your reply, so if i re-train the model with higher version, this will be solved ? @guillaumekln
The code is what i do and my solution in project. @ebrevdo (I'm sorry for my terrible code ^_^)
`
beam_decoder = BeamSearchDecoder(
    cell=dec_cell,
    embedding=emb_dec,
    start_tokens=tf.ones_like(qes_seq_len) * go_id,
    end_token=eos_id,
    initial_state=init_state,
    beam_wid

[2018-09-10 16:57] Tgmstriker commented on #22093
Bumping

[2018-09-10 16:58] gunan commented on #18652
We noticed that the builds started failing with https://github.com/tensorflow/tensorflow/issues/19198,
Therefore, it turns out this issue is blocked right now until we can fix that problem.

[2018-09-10 17:04] guillaumekln commented on #22133
I had success using `BeamSearchDecoder` in Serving with TensorFlow 1.4 and above.

[2018-09-10 17:05] habibrk commented on #21741
Have I written custom code?
I have not. Have yet to buy the GPU.

OS Platform and Distribution?
Linux(Ubuntu 16.04)

TensorFlow installed from?
NA

TensorFlow version
NA

Bazel version
NA

CUDA/cuDNN version?
This is actually the question. Will Tensorflow support CUDA 10, and how soon will it happen.

GPU model and memory
GEFORCE RTX 2080 Ti

Exact command to reproduce
NA

Mobile device
NA

[2018-09-10 17:09] baobao7766 commented on #22133
Nice, thank you very much! And it's time to update my tensorflow.

[2018-09-10 17:21] gashmish commented on #22146
Here is simplified model created in Keras 2.2.2:

[keras-dilated-conv.tar.gz](https://github.com/tensorflow/tensorflow/files/2367670/keras-dilated-conv.tar.gz)

![1](https://user-images.githubusercontent.com/673872/45313167-bd160b00-b536-11e8-99a8-4b40255245cb.png)

images for converted graph are also in archive

[2018-09-10 17:27] #21901 closed

[2018-09-10 17:28] cy89 commented on #21873
@SumNeuron can you please comment on @facaiy 's suggestion?

[2018-09-10 17:36] sadimanna opened #22197 "KeyError u'ImageProjectiveTransform' when loading Tensorflow model"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA
- **TensorFlow installed from (source or binary)**: using pip
- **TensorFlow version (use command below)**:1.10.0

[2018-09-10 18:11] dbl001 commented on #22174
Thanks for pointing out the issue(s) with the template.  I have updated the issue.

[2018-09-10 18:40] fzhu129 commented on #15805
[freeze_tryout.zip](https://github.com/tensorflow/tensorflow/files/2367966/freeze_tryout.zip)

[2018-09-10 18:49] tensorflowbutler commented on #22182
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-10 18:49] tensorflowbutler commented on #22186
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-10 18:49] tensorflowbutler commented on #20475
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-10 18:49] tensorflowbutler commented on #21467
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-10 18:55] cy89 commented on #21896
@martinwicke @ispirmustafa could you comment, please?

[2018-09-10 18:57] yifeif commented on #18063
Thanks for bring this up @etale-cohomology. TensorFlow uses __doc__ in a lot of places, which won't work with setting PYTHONOPTIMIZE to 2. This is WAI. I will close this issue.

[2018-09-10 18:57] #18063 closed

[2018-09-10 18:57] cy89 commented on #21839
@achowdhery, gentle ping?

[2018-09-10 19:01] cy89 commented on #21255
@josh11b this seems like it might be an op registration issue; can you comment on the GPU/Cuda registration process, please?

[2018-09-10 19:01] cy89 commented on #21150
Thanks!

[2018-09-10 19:01] #21150 closed

[2018-09-10 19:02] Anastasiya888 commented on #14580
I have the same issue, please can you suggest any solution?

[2018-09-10 19:03] cfsanche commented on #21834
Sorry for the delay.

I applied the changes you mentioned and then got a similar error for allocation.cc/h so I made similar changes there as well. However, when I build after these changes I get another error (below is a snip it of the make output):

g++ -mfpu=neon -pthread -fPIC --std=c++11 -O3 -DNDEBUG -I. -I/home/pi/Documents/Test/ststicLibs/include/tensorflow-master/../../../ -I/home/pi/Docum

[2018-09-10 19:06] jaros3 commented on #22186
Updated

[2018-09-10 19:17] dimitryn commented on #20830
No , it same as 16

[2018-09-10 19:27] #21167 closed

[2018-09-10 19:27] asimshankar commented on #22185
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). Please provide all the information it asks. Thank you.

[2018-09-10 19:27] #22185 closed

[2018-09-10 19:28] av8ramit commented on #21518
Closing this for now. Please comment if this is still an issue for you in virtualenv.

[2018-09-10 19:28] #21518 closed

[2018-09-10 19:28] saeed68gm commented on #14580
@yselivonchyk I think I know how to resolve this issue. Can you try this command instead:
python freeze_graph.py \
--input_checkpoint=/path/min-validation_error \
--output_graph=/tmp/frozen_graph.pb \
--output_node_names=super/cool/result

[2018-09-10 19:28] saeed68gm commented on #14580
@Anastasiya888 Can you post your command as well? sometimes this error happens when the checkpoint is not loaded correctly.

[2018-09-10 19:31] yifeif commented on #20553
I don't currently have a machine to try repro this. @alanpurple do you still see this with the latest TF version?

[2018-09-10 19:42] aselle commented on #22141
This should be resolved in master (try the nightly). @gargn can comment further.

[2018-09-10 19:44] aselle commented on #17540
Thanks for the report @jibanreloaded, we will look into this problem as well.

[2018-09-10 19:44] av8ramit commented on #21524
Nightly LibtensorFlow Ubuntu
[JNI CPU](https://storage.googleapis.com/tensorflow-nightly/github/tensorflow/lib_package/libtensorflow_jni-cpu-linux-x86_64.tar.gz)
[JNI GPU](https://storage.googleapis.com/tensorflow-nightly/github/tensorflow/lib_package/libtensorflow_jni-gpu-linux-x86_64.tar.gz)
[Proto](https://storage.googleapis.com/tensorflow-nightly/github/tensorflow/lib_package/libtensorflow_pro

[2018-09-10 19:44] #21164 closed

[2018-09-10 19:45] aselle commented on #21574
Did using the nightly or 1.10 solve your problem @Mykheievskyi?

[2018-09-10 19:47] gargn commented on #22141
There was a bug in `TocoConvert.from_keras_model_file` in TensorFlow 1.10. It will be fixed in TensorFlow 1.11 (when that is released). For now, as @aselle mentioned, it was fixed in August 9th's nightly build.

[2018-09-10 19:48] dlfelps commented on #21799
Nice work! I tested with success on tf-nightly, but it failed on tf-nightly-gpu with the old error. Are you sure your fix got pushed to the tf-nightly-gpu branch?

[2018-09-10 20:07] yongtang commented on #22180
I tried with Amazon Linux and was able to build the commit 7d3884bb87dc02c4548f55749f3d6db1b8364ddc,

The AMI I use is ami-0ff8a91507f77f867. The bazel was installed from Federa COPR (epel 7): https://docs.bazel.build/versions/master/install-redhat.html

Maybe you could try again with a fresh EC2 instance and see if the issue still exist?

[2018-09-10 20:13] lliimsft commented on #22182
Host OS: Ubuntu16.04LST
Docker image: 1.10.0-gpu

[2018-09-10 20:59] #22110 closed

[2018-09-10 21:35] yuefengz commented on #21603
@superbobry I think the answer is yes to your question.

For now, if you use distribution strategy, it will override the device filters according to the strategy you use.

[2018-09-10 21:56] jazztf opened #22200 "Image retraining tutorial (label_image.py issue)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:pip
- **TensorFlow version (use command b