[2016-08-29 14:01] saitejagroove opened #4093 "While running test cases of SVHN data using Tensor Flow I get Resource exhausted : OOM when allocating tensor with shapedim { size: 73257 } dim { size: 32 } dim { size: 32 } dim { size: 32 }"
groove@groove-VirtualBox:~/Udacity-Nanodegree-Project5-Capstone$ python Capstone-project.py
(32, 32, 3, 26032)
(26032, 1)
(32, 32, 3, 73257)
(73257, 1)
(26032, 32, 32, 3)
(73257, 32, 32, 3)
I tensorflow/core/common_runtime/local_device.cc:25] Local device intra op parallelism threads: 4
I tensorflow/core/common_runtime/local_session.cc:45] Local session inter op parallelism threads: 4
started at :

[2016-08-29 14:28] matthiasreisser opened #4094 "Queue operation in conditional execution context fails with "operation has been marked as not fetchable""
Hey TensorFlow Community,
a while ago I wrote some code for doing gradient descent in a distributed environment. I adapted code from `tensorflow/tensorflow/python/training/sync_replicas_optimizer.py` and wrote my own `apply_gradients` method. Crucially, I included a conditional op, that either performed (distributed, synchronised) gradient descent or returned the `apply_gradients` op from the orig

[2016-08-29 14:47] shawnjhenry commented on #2373
This can actually cause a fairly substantial fluctuation in performance in some networks.  Suppose that instead of a convnet, we feed the embeddings to a deep averaging network.  Then the varying number of nonzero pad vectors (according to which training batch the example is assigned in SGD) will very much affect the value of the average embedding.  I've seen this cause a variation of up to 3% acc

[2016-08-29 14:58] mrry commented on #4094
Any op created in a branch of a TensorFlow conditional or the body of a TensorFlow loop is marked as "non-fetchable", to prevent various programming errors. For example, there was once a bug where if you fetched the result of an op that was created in the *non-taken* branch of a conditional, it was possible to cause a crash (or perhaps a deadlock - I'm not 100% sure). Similarly, if you fetched the

[2016-08-29 15:23] ibab commented on #3624
I'm not a maintainer, but I think a PR would definitely be a good idea 👍
Maybe you can split it into two PRs, one that requires the extra `scalar_prod_op` specialization, and one that doesn't?
In the long term, it would probably be best to get the specialization into Eigen itself, or to find another fix (like switching to `thrust::complex`).

[2016-08-29 15:45] prb12 commented on #4033
@mrry  I've now seen two issues where strange things happen when we are running more than one TF task on the same machine.  I can't think of any way this might affect execution other than timing?

[2016-08-29 15:53] lukaszkaiser commented on #3748
Great thanks for the explanation! It looks like a bug, probably not in scoping per se but, as you said, in assigning NamedOutputs.name based on variable_scope and not name_scope. Since you tracked it down, could you say where in TF code this appears? Would you like to contribute a fix? I assigned to Sergio who might know more, and in particular if there were any reasons to do it like this in layer

[2016-08-29 15:59] sguada commented on #3748
I think it was fixed by #3635

[2016-08-29 16:03] mrry commented on #4033
@prb12 There could be some contention between two users of the same GPU, but I can't see how that would affect the `WhereOp`, which runs on CPU, with input data that comes from the CPU. (I suppose it might take a trip via the GPU to do some of the reductions, depending on what host-memory kernels are registered, but I can't see how that would cause racy behavior unless something in the GPU->CPU tr

[2016-08-29 16:05] matthiasreisser commented on #4094
Let me see if I understand correctly. In the True branch, I create a queue and define a QueueRunner object (which is stored and referenced later). This QueueRunner is then started by the tf.train.Supervisor() before starting the main training loop. Does this started QueueRunner then violate the assumption that the cond() branch is only a function?

On another note, If I manipulate the condition to

[2016-08-29 16:08] prb12 commented on #4036
@lebinhe
Please note: officially, we only support the following OS configurations:

These messages are coming from the GRPC layer as it is trying to connect to other processes.  With a large number of workers, I can imagine a number of things happening:
1) Workers take a while to start and so connection requests are made before the other end is ready.  I would hope that gRPC has a retry loop here,

[2016-08-29 16:12] #3489 closed

[2016-08-29 16:12] poxvoculi commented on #4074
This contrib package is not strongly supported, so a community provided solution would be very welcome.  @langmore do you know any more?

[2016-08-29 16:12] mrry commented on #4094
That's correct. Instead of creating the QueueRunner inside a branch of the cond, you should create it based on the result returned by the `tf.cond()` function. The fetchability of tensors is determined statically, before any optimizations take place, so the error will be raised even if the same branch is always taken.

[2016-08-29 16:22] mrry commented on #4036
@prb12 Yes, gRPC will retry connection (after printing the "connection refused" error message).

[2016-08-29 16:23] prb12 commented on #4033
@mrry - Thanks.  I agree this is very unlikely.

@abhijayghildyal  After taking a look at the training program, I'm now wondering if this is something to do with the use of `tf.train.replica_device_setter` ?

In particular, you are using parameter servers, but when you call this method you do not make any mention of `ps_tasks`.  If you read the [documentation](https://www.tensorflow.org/versions/r

[2016-08-29 16:29] MahdiNazemi commented on #4078
I have libcuda.so.7, but not libcuda.so.1

Should I reinstall cuda drivers?

[2016-08-29 16:47] cancan101 commented on #781
It would be cool to have full set of affine transforms available: http://scikit-image.org/docs/dev/api/skimage.transform.html#skimage.transform.AffineTransform.

[2016-08-29 16:54] felipexw commented on #17
+1

[2016-08-29 17:09] manjunaths commented on #4078
You could just ln -s libcuda.so.7.* libcuda.so.1 and see if it works.

[2016-08-29 17:21] zhaopku opened #4095 "How to use pre-trained word embeddings in seq2seq?"
I am building a seq2seq model using functions in seq2seq.py, where they have a function like this:

[code]
however, it seems that this function does not take pre-trained embeddings as input, are there any ways that I can take pre-trained word embeddings as input in this function?

[2016-08-29 17:36] flor385 commented on #3748
@sguada: it seems fixed to me too, by looking at the source code of the fix and the tests.

[2016-08-29 18:09] achaiah commented on #5
Has anyone looked at making tensorflow work with Kotlin?  It seems a more natural fit and it's still 100% java at the end of the day.  I find the Kotlin language to be a very nice middle ground between python and pure Java.

[2016-08-29 18:21] lakshmanok commented on #5
Update: I was able to successfully get things going with javacpp (thanks to @saudet ) and have Java programs read/execute TensorFlow models.

https://medium.com/google-cloud/how-to-invoke-a-trained-tensorflow-model-from-java-programs-27ed5f4f502d#.tx8nyds5v

[2016-08-29 18:35] langmore commented on #4074
Since the Categorical probabilities must sum to 1, a change in any one logit effects the probability of all output classes.  Does that explain what you're seeing?

[2016-08-29 19:16] nitishgupta commented on #2838
@ebrevdo : In my opinion there should be something more general. For cases in which one trains a RNN with the whole sequence being fed at once but during inference requires fetching and feeding the states on a per time-step basis, the solution right now is not very neat. Is there some hope of fetching and feeding list of state tuples for MultiRNNCell in some way.

[2016-08-29 19:48] elibixby opened #4097 "tf.nn.log_poisson_loss missing from tf.nn"
On Ubuntu 14.04: pip freeze is

[code]

Trying to import tf.nn.log_poisson_loss fails

[code]

Looking at the source, it looks fine to me, not sure why it's missing.

[2016-08-29 19:56] danijar commented on #2838
I'm current solving this by holding the state in a non-trainable variable that I initialize from the default state. The variable name is prefixed by `state/` and I have helper functions to return a dictionary from name to tensor containing all variables matching this prefix. Similarly, I have a helper function to assign variable values from this dictionary. This is a general way to handle context,

[2016-08-29 21:35] trevorwelch commented on #3985
Having a similar issue, although on OS X (CUDA 7.5 and cuDNN4, although have 5 if necessary):

Error log:
[code]

Running ./configure results in:

[code]

Thanks for any assistance

[2016-08-29 21:44] Mistobaan commented on #3730
@martinwicke I took a look at this and updated to work for float32 and float64. But seems that the `round` operation for Eigen::half is not supported on Eigen. I think is a simple declaration of the round function, but how to proceed? Wait for Eigen? commit only the float32 and float64 version?

[2016-08-29 21:51] jeffxtang opened #4098 "breakpoints not working in tf_ios_makefile_example"
### Environment info
Operating System: OS X El Capitan
Xcode v7.3.1

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)
I'm able to build and the run the tf_ios_makefile_example according to https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/ios_examples but while debugging the app, the breakpoints I set

[2016-08-29 23:17] vyraun opened #4099 "Build Error Keeps Coming"
vyraun@vyraun:~/tensorflow$ bazel build //tensorflow/examples/android:tensorflow_demo
WARNING: Bazel Android NDK crosstools are based on Android NDK revision 11. The revision of the Android NDK given in android_ndk_repository rule 'androidndk' is '12.1.2977051'.
WARNING: /home/vyraun/tensorflow/tensorflow/core/BUILD:646:12: in srcs attribute of cc_library rule //tensorflow/core:android_tensorflow_

[2016-08-29 23:27] cwhipkey commented on #3545
Thanks for testing out the changes!  Closing this now.

[2016-08-29 23:27] #3545 closed

[2016-08-29 23:42] ebrevdo commented on #3882
It wouldn't be too hard to add support for a permutation of only the first two dimensions.  Are you interested in adding this?  If not, I'll try to work on it later this week.

[2016-08-29 23:43] ebrevdo commented on #3867
yuan should be able to help with this.

[2016-08-29 23:46] ebrevdo commented on #3860
Sorry about the change, which broke backwards compatibility.  To create the new tuple type, use `tf.nn.rnn_cell.LSTMStateTuple(c, h)` instead of just `(c, h)`.

[2016-08-29 23:46] ebrevdo commented on #3825
Will take a look later this week.

[2016-08-29 23:52] ebrevdo commented on #2838
@danijar: I recommend against using a non-trainable variable because this is not thread-safe (you can't run multiple inference threads against the same graph).  However, it's not too hard to create some placeholder tensors and wrap them in the necessary tuple type.  Similarly when calling a session run, one can pull out the "next state" tuple and store it, feeding it as an input to the next sessio

[2016-08-30 00:53] alexbeloi commented on #4022
Perhaps I am mistaken or am misunderstanding the documentation/implementation, but it I now believe that even the 'correct script' in my initial post is wrong (output not matching documentation).

[code]
Output:
[code]
I believe this output should be expected if and only if the `enqueue_many` flag is set to `True`, as per the documentation, this means that the `tensors` in `tensors_list` are inter

[2016-08-30 01:11] gibiansky commented on #1888
Any progress on an updated patch? :)

[2016-08-30 01:34] LinJM opened #4100 "About tf.slim ，Any plan to release pretrained checkpoint?"
About tf.contrib. slim ，Any plan to release pretrained checkpoint?

[2016-08-30 02:51] alexmonroe87 commented on #4079
Try this:

[code]

[2016-08-30 02:59] sdemyanov commented on #781
This is my implementation. Images and Targets should be in NCHW layout, shift_mat, scale_mat and mirror_mat are (N, 2) arrays with the transformation parameters for each image, angle_mat is (N, 1) array, defval is the value to fill when the source pixel is outside the original image.

`
#define THREADS_PER_DIM_1                  16
#define THREADS_PER_DIM_2                  16
#define IMAGES_PER_T

[2016-08-30 03:01] alexmonroe87 commented on #3589
@damienmg Now even your fix no longer works, something was done to the CROSSTOOL it seems.

[code]

[2016-08-30 05:05] ebrevdo commented on #4022
I'll answer regarding the behavior of your "correct script":

When you call `tf.train.batch` with `enqueue_many=False`, here is the sequence of what is being added to the `PaddingFIFOQueue` underneath:

[code]
note in each case you are inserting a *single batch element* which is a vector.  just that the vectors have varying lengths.  this is because you used `enqueue_many=False`, so each input Ten

[2016-08-30 05:28] ricoms commented on #647
I had the same problem as sunformoon and mrry's comment solved it.

I followed the online tutorial for TensorFlow ( https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#test-the-tensorflow-installation ) on installing tensorflow on a virtualenv when I got the problem

[2016-08-30 05:43] jeffreydwalter commented on #500
```sudo easy_install numpy``` fixed the problem for me. Thanks!

[2016-08-30 05:57] martinwicke commented on #3730
I think we should commit the float 32 and 64 version and we'll try to get the declaration into Eigen as soon as we can and then update tensorflow.

[2016-08-30 06:53] alexbeloi commented on #4022
Thanks for the explanation @ebrevdo, I see that the output is as you have explained. My confusion came from how `y` was constructed, after looking more carefully it's clear that it has shape `(?,)` and its first dimension indexes the scalars, so the behavior is as expected.

[2016-08-30 07:01] abhijayghildyal commented on #4033
Thank you for looking into this issue. There are some observations, which might be useful to you.

* This problem only occurred when ps was run on the same machine as the worker, and was never seen when it was running on a different machine.

* There was one more condition when this error was not seen i.e. if  `CUDA_VISIBLE_DEVICES=''` is added while running the code, (eg: `CUDA_VISIBLE_DEVICES=''

[2016-08-30 07:01] #4033 closed

[2016-08-30 07:15] jihunchoi commented on #2823
Hello, is there advance on this issue?
I'm not rushing you; I'm using seq2seq with pleasure with bucketing and padding technique. :)

[2016-08-30 08:09] damienmg commented on #3589
@alexmonroe87 it should be fixed by @davidzchen cuda toolchain auto configuration. What does `echo | nvcc -E -xc++ - -v` returns?

[2016-08-30 08:10] bfluo commented on #4085
I somehow managed to use a faster network on my server and the error of cloning github repositories just disappeared. I think this error is caused by the slow network.

And I also find that shadowsocks+proxychains works fine with bazel when I operate on the server directly rather than login with SSH. I'm not sure if this is the real reason but the downloading part just finished smoothly after thes

[2016-08-30 08:10] #4085 closed

[2016-08-30 08:17] avostryakov commented on #3825
Thank you!

[2016-08-30 08:45] suiyuan2009 commented on #3028
I've read the paper, mobile app will benefit from it. We need a normal training first, then apply this algorithm to continue training.

[2016-08-30 08:49] #3814 closed

[2016-08-30 08:59] Bonnevie opened #4101 "Numerical issues with automatic matrix derivatives"
While it is my impression that automatic differentiation generally enjoys numerical stability, this does not seem to extend directly to complicated expressions involving matrix calculus.
In particular, for objectives involving matrix inverses the error can grow disproportionately large, leading to e.g. scipy optimization routines failing to converge.
In my case I see TF with absolute element-wise

[2016-08-30 09:09] matthiasreisser commented on #4094
Thanks for the help! Putting the QueueRunner logic outside the tf.cond() context, based on the result of the tf.cond() fixed the issue.

[2016-08-30 09:09] #4094 closed

[2016-08-30 09:13] suiyuan2009 commented on #3028
this [article](https://www.tensorflow.org/versions/master/how_tos/quantization/index.html#how-to-quantize-neural-networks-with-tensorflow) mentioned this paper, it seems tensorflow has already done something.

[2016-08-30 09:21] deepali-c commented on #4081
To execute the sample run `python cifar10_train.py` or `python cifar10_eval.py` instead.

[2016-08-30 09:22] matthiasreisser commented on #1824
Is this issue still worked on? With a recent build of TF ( `57ff9d9be2f1faaba9598a3d99ef6c3af02342a4`), I still get an "empty" step_stats object in a distributed environment. When written to JSON it looks like this:
{
    "traceEvents": [
        {
            "ph": "M",
            "args": {
                "name": "Allocators"
            },
            "pid": 0,
            "name": "process_nam

[2016-08-30 10:56] davidzchen commented on #3589
@alexmonroe87 How are you running your configure script? You may be hitting #3985.

[2016-08-30 12:40] timosadchiy commented on #4059
Today tried to pull the project again and go through all the steps from the beginning. It worked. Thanks for fixing!

[2016-08-30 12:40] #4059 closed

[2016-08-30 13:48] craymichael commented on #4025
Alright, just figured out a working way for me to get categorical (non-numeric) and continuous inputs solely through Dense tensors. I made use of the layers I wanted for the model with the combination of `tf.contrib.layers.input_from_feature_columns`. I made use of `tf.contrib.layers.sparse_column_with_hash_bucket` with `tf.contrib.layers.embedding_column` to handle my categorical inputs. I restor

[2016-08-30 15:32] loretoparisi opened #4102 "ImportError: cannot import name pywrap_tensorflow"
I have upgraded `protobuf` as explained: `Successfully installed protobuf-3.0.0 setuptools-26.1.1`

Then

[code]

[2016-08-30 15:59] liamb315 commented on #4074
Thanks for the respone! @langmore, I don't think that could explain this particular problem.  So I agree that the Categorical probabilities must all sum to 1.0, however, in this instance, I am only selecting one of those values to be used for backpropagation, so only that particular column should update.  The normalization of the distribution that the value was drawn should not affect this at all.

[2016-08-30 15:59] alexmonroe87 commented on #3589
@damienmg  "nvcc fatal   : Unknown option 'xc++'"

@davidzchen Specifying 7.5 fixed the problem. Thank you.

[2016-08-30 16:45] craymichael commented on #4025
Is there currently a way to calculate mean decrease gini for each feature? I see that I'm able to retrieve the average impurity but I believe it's for the forest as a whole.

[2016-08-30 16:47] sguada commented on #4100
Inception v3 and many other networks are available using the new TF-Slim at
[TF-Slim Image Models](https://github.com/tensorflow/models/tree/master/slim)

[2016-08-30 16:58] mkolod opened #4103 "Build failure while following TensorFlow from source following TF documentation"
### Problem

TensorFlow build  of the pip package with CUDA support using the following command, taken from the [TensorFlow documentation](https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#installing-from-sources), fails:

```bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package```

### Error message

[code]

### Environment

- OS: Ubuntu 16.04 (64-bit

[2016-08-30 17:16] #3748 closed

[2016-08-30 17:36] sguada commented on #4100
Check the blog post
https://research.googleblog.com/2016/08/tf-slim-high-level-library-to-define.html

[2016-08-30 19:26] 015988 opened #4104 "Feature request: Tensor decomposition"
( Related to issue https://github.com/tensorflow/tensorflow/issues/2207 )

Tensors can be used for a whole lot more than implementing a NN. One of the useful operations in multidimensional arrays is its decomposition into smaller components. Tucker / CP native implementations would allow the use of tensorflow in other ML contexts...

refs:
https://en.wikipedia.org/wiki/Tensor_rank_decomposition
ht

[2016-08-30 19:35] trevorwelch opened #4105 "ERROR: no such package '@local_config_cuda//crosstool': BUILD file not found on package path."
### Environment info
Operating System:
OS  10.10.5

Installed version of CUDA and cuDNN:
[code]

2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.
(can't get that far, but i'm using 0.10)
[code]
If installed from source, provide

1. The commit hash (`git rev-parse HEAD`)
[code]
2. The output of `bazel version`
[code]

### If possible, provide a minimal reproducible

[2016-08-30 19:40] trevorwelch commented on #4102
Did you try:

From:  https://github.com/tensorflow/tensorflow/issues/2746

I had this problem at one point, can't remember how I solved it but often times the Linux related troubleshooting with TF can help on OS X.

[2016-08-30 19:42] grenager opened #4106 "Feature request: ability to sample from seq2seq decoder given input"
Given some particular encoder input, it would be great to be able to sample sequences from the embedding_tied_rnn_seq2seq decoder. To my understanding, at present, this is possible with the tied_rnn_seqw2seq decoder, by passing in a custom loop_function, but it isn't possible in the embedding version. It appears that only argmax is supported with the feed_previous parameter. This would be useful i

[2016-08-30 19:59] danmane commented on #3495
@dsmilkov @jameswex Can either of you give some guidance on how shkr could approach working on this?

[2016-08-30 20:00] vrv commented on #4105
I got this recently too, I was somehow successful by just re-running ./configure and then immediately running bazel build, but I'm not sure what's going on.

[2016-08-30 20:13] pkmital commented on #6
As part of our free course on [Creative Applications of Deep Learning](https://www.kadenze.com/courses/creative-applications-of-deep-learning-with-tensorflow/info), I've included code for loading pre-trained networks for inception v3,v5, vgg16, vgg face, i2v, and i2v tag: https://github.com/pkmital/CADL/tree/master/session-4/libs

[2016-08-30 20:16] jameswex commented on #3495
Is this for viewing variables in TensorBoard in the Events tab, or in the Graph tab? I'd like to understand a specific example of what this ask is for. Thanks.

[2016-08-30 20:32] girving commented on #4076
We'll need more information.  What are you doing?

[2016-08-30 20:39] aguilarandres opened #4107 "While training first TensorFlow neural net model"
I build tensorflow for Mac OSX from sources following the Download and Setup guide from tensorflow.org.

[code]

Created the pip package and installed it with NO GPU support.

[code]

When attempting to Train first neural net model from the root of the source tree:

[code]

[2016-08-30 20:39] paarandika commented on #1421
I faced the same issue on Ubuntu with both TF 0.9 and 0.10. Firefox did not show anything on Tensorboard. With Chromium, it worked like a charm.

[2016-08-30 20:39] aselle commented on #3816
Yes. This is what I expected. I would say in general it is reasonable for float images to exceed 1. High dynamic range (HDR) images often will have this being the case. HDR images are not commonly used in ML. HDR images have to be tone-mapped (constrained) to LDR displays through some process. Contrast, brightness are simple forms of tone mapping, but there are many more complicated algorithms tha

[2016-08-30 21:28] cgarciae commented on #3495
@jameswex The request would be for the Graph tab.
When trying to implement regularization using `tf.contrib.layers.fully_connected`, it accepts some parameters handle regularization for weights and biases, but the Tensors needed for regularization end up in the `REGULARIZATION_LOSSES` collection, but its hard to know unless you ask. It would be nice if you could see the collection(s) that a Tensor

[2016-08-30 21:38] trevorwelch commented on #4105
I just tried de-installing TF completely and then re-running with the same ./configure settings:

[code]
Then running a simplified build command:

[code]

After a _very_ verbose and lengthy compile attempt, I received this error message (it caused OS X Terminal app to hang permanently as well, so I couldn't copy-paste, had to take a screenshot):

https://www.dropbox.com/s/riu5f4n5aj1opmk/Screensho

[2016-08-30 21:44] fbolanos commented on #2037
Can also reproduce, Ubuntu 16.04, nVidia driver 367.35, GTX 1080, CUDA 8.0, cuDNN 5.1, compiled tensorflow from source.

Output comes out as expected from CPU, but when GPU is enabled, nans are made on some of the output lines. Also, lines that have nans change each time you run the test program. Also sometimes when you run the test program it crashes by saying  Floating point exception.

cuda-gdb

[2016-08-30 21:47] poxvoculi commented on #4072
We are very interested in improving TF performance on the kinds of models users care about.

For the models in this paper it seems unlikely that python overhead for initiating each minibatch is a major factor.  It's more likely that the performance differences are primarily due to the efficiency of the kernels in use for the expensive operations (matmul, for FCN), and the degree to which operator

[2016-08-30 21:57] Mistobaan commented on #4105
Yes if you are developing TF it happens quite often. I think it might be something related with the caching system of bazel. After few hours it resets and I have to re run the configure again.

[2016-08-30 21:57] poxvoculi commented on #4079
In the future we plan to generate faster, more memory efficient code by automatically fusing operations in some subgraphs, rather than adding lots more specialized Ops.

[2016-08-30 21:57] #4079 closed

[2016-08-30 22:12] poxvoculi commented on #4084
Thanks for the report.

[2016-08-30 22:21] mbektimirov commented on #1947
I'm experiencing the same problem as well. Ubuntu 14.04 on AWS g2.2xlarge, no reaction to `kill -9` and `Ctrl-C`. Mnist log (nothing special):
[code]

[2016-08-30 22:31] mrry commented on #4107
This keyword argument has been available since https://github.com/tensorflow/tensorflow/commit/60dfe8852cfd9565e622e423098bdad746dc3aee, which includes TensorFlow versions 0.8 and later.

Can you try the following at a Python shell and report the results?

* `import tensorflow as tf; print tf.__version__`
* `help(tf.Variable)`

[2016-08-30 22:49] thiell opened #4110 "r0.10: function 'repository_rule' does not exist"
Hi,

I previously installed tensorflow 0.8 and 0.9 on a GPU cluster with several local patches to circumvent non-standard paths for crosstool files and swig. Our users are now requesting an upgrade to 0.10 but I have the following error... Installing tensorflow on a cluster is so painful....

ERROR: ~/tensorflow_0.10/tensorflow/third_party/gpus/cuda_configure.bzl:415:18: function 'repository_rule'

[2016-08-30 22:55] davidzchen commented on #4105
+cc @damienmg

This seems to be a bug in Bazel.

Next time this happens, can you take a look at directory `bazel-tensorflow/external/local_config_cuda/crosstool` and let me know which files are there?

[2016-08-30 23:04] trevorwelch commented on #4105
@davidzchen thanks for your reply.

This error or some version of it is consistent:

[code]

[2016-08-30 23:32] poxvoculi commented on #4093
You're trying to allocate a 4D tensor of 2400485376 elements.  Assuming these are float32, that's about 9GB which is quite large.  It looks like it's for a GPU Op.  How big is the memory on your GPU, and what other tensors are live at the same time?  Did you really manage to train 1750 steps with this tensor allocating at every step?

[2016-08-30 23:43] davidzchen commented on #3589
Seems that we just need to run the command without `-xc++`:

[code]

Though, I'm not quite sure what is causing the "Don't know what to do with" error yet.

@alexmonroe87 No problem. I'll go ahead and close this. The fix for #3985 is out for review but depends on a change that will be going into the next Bazel release.

[2016-08-30 23:43] #3589 closed

[2016-08-30 23:45] davidzchen commented on #3985
@trevorwelch Looks like you opened #4105 for the issue that you are seeing, which seems to be a separate issue from this one.

[2016-08-30 23:46] #4100 closed

[2016-08-31 00:02] ebrevdo commented on #4095
What you want to do is load pretrained embedding variables and use the tf.nn.rnn_cell.EmbeddingWrapper (or some variant of this that accesses the exact correct variable) around your cell instance, instead of calling embedding_rnn_seq2seq.  the code you're referring will be deprecated in some near future because it's not very flexible (the example you are asking about is one which should be more ea

[2016-08-31 00:02] #4095 closed

[2016-08-31 00:02] ebrevdo commented on #4095
(Lukasz, if you'd like to say more, feel free to reopen & assign self)

[2016-08-31 00:06] ebrevdo commented on #3359
This was fixed with https://github.com/tensorflow/tensorflow/commit/c46abae176717ef6c6649ba0ca1099c35b90194e.  Please reopen if you are still experiencing this bug with the nightlies/master branch.

[2016-08-31 00:06] #3359 closed

[2016-08-31 00:07] ebrevdo commented on #3278
Closed per @KendallWeihe as this does sound like more of a design discussion, rather than a bug.

[2016-08-31 00:07] #3278 closed

[2016-08-31 00:08] davidzchen commented on #4105
I just saw your screenshot, and that appears to be a different problem than the `no such package '@local_config_cuda//crosstool': BUILD file not found on package path.` error, which seems to be a caching issue.

Do you mean that the `crosstool_wrapper_driver_is_not_gcc` error occurs consistently? Is it causing your Terminal.app to hang every time? If it reproduces consistently, you re-run the comm

[2016-08-31 00:10] ebrevdo commented on #2838
@danijar since session.run only supports feed_dict of the format {key: value} where key is either a Tensor or a string (the tensor's name), i'm unable to create this kind of placeholder.  However you can always use:

[code]

[2016-08-31 00:10] #2838 closed

[2016-08-31 00:25] ztt1024 opened #4111 "CUDNN_STATUS_BAD_PARAM tensorflow/stream_executor/cuda/cuda_dnn.cc:423"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-08-31 00:33] nikitakit commented on #3233
Any updates on this issue?

[2016-08-31 00:36] rmlarsen commented on #3874
@AidanGG your PR was merged. Thanks for the contribution!

[2016-08-31 00:36] #3874 closed

[2016-08-31 00:40] #4111 closed

[2016-08-31 00:53] aguilarandres commented on #4107
[code]

[2016-08-31 01:29] shkr opened #4112 "op LogUniformCandidateSampler should raise ValueError when range_max < num_sampled"
This Op registration should have a modified Attr

instead of

[code]

this

[code]

I ran into this issue when training a word2vec with noise contrastive estimate algorithm where the size of vocabulary was smaller than the size of negative samples used to train the logistic classifier.

Currently core/kernels/range_sampler.cc throws this error

[code]

The error does not describe the variable whic

[2016-08-31 01:56] Mistobaan commented on #3730
@martinwicke see #4113

[2016-08-31 02:12] trevorwelch commented on #4105
I meant that my TF builds seem to fail related to crosstool consistently, probably my naivete on the specifics for me to think that `crosstool_wrapper_driver_is_not_gcc` and `CROSSTOOL` could be the same problem!

[2016-08-31 02:20] davidzchen commented on #4105
No problem. The naming could be a bit confusing. The `@local_config_cuda//crosstool` error may be an issue with Bazel's caching; I have ran into it a couple of times myself, and it usually goes away after I re-run `./configure`.

Were you able to reproduce the `crosstool_wrapper_driver_is_not_gcc` error again? Looking at your screenshot, it looks like the `headerpad_max_install_names` flag is not

[2016-08-31 02:42] tobegit3hub opened #4114 "Train DNN model efficiently with sparse features and missing data"
We have used TensorFlow for recommend systems to replace the logistic regression model. The train data is quite sparse and we have to do it efficiently. Now we have the problem to train the model without sparse tensor's multiplication.

We have read `word2vec` and the example of `wide_n_deep` models. Their inputs are sparse but not suitable for general recommend systems. Our inputs are sparse and

[2016-08-31 02:50] tobegit3hub commented on #4114
@ebrevdo @mrry can you guys help?

I thinks it's an general scenario but we have no idea to implement it with TensorFlow. We have implemented the logistic regression model with the same dataset in Spark. It iterates each example without batching and doesn't have this issue. We can also fill up the `unknown` data with zeros or default values but this is some kind of inefficient because actually we

[2016-08-31 03:01] cancan101 opened #4116 "Cleanup Bazel Cache in Dockerfile"
Right now I see the following in the Docker image:
[code]
which leads to a very large Docker image.

[2016-08-31 03:02] lijiajia commented on #2283
I have the same problem, my code is as following. Please help me.

tower_outputs = []
    tower_loss = []
    tower_grad_norms = []
    tower_clipped_grads = []

    for i in xrange(1, 2):
      with tf.device('/gpu:%d' % i):
        # Training outputs and losses.
        if forward_only:
          outputs, losses = tf.nn.seq2seq.model_with_buckets(
              encoder_inputs_split[i], decoder_i

[2016-08-31 03:20] cancan101 opened #4117 "Use shallow git clone in Dockerfiles"
`git clone --depth 1 --shallow-submodules ...`

[2016-08-31 03:35] vrv commented on #1888
Yeah, I just submitted it, should be pushed by tomorrow some time.

[2016-08-31 03:53] vrv commented on #4117
Will that work if we're operating at a specific commit that's not HEAD for our git repos?

[2016-08-31 04:10] cancan101 commented on #4117
The Dockerfile clones specifies a specific branch at clone time.

[2016-08-31 04:17] ebrevdo commented on #4114
You can create a rank-3 SparseTensor that contains all batches.  Its indices matrix would look like, e.g. (from your example):

[code]
and its values would be a vector with the concatenated values of the 3 batch entries.

`safe_embedding_lookup_sparse` can handle this kind of SparseTensor (actually i think the others can too?)

Does this answer your question?  I'm not 100% sure.

[2016-08-31 04:18] ebrevdo commented on #4114
(there's also the `sparse_tensor_dense_matmul` op which allows one to multiply rank-2 SparseTensors with dense matrices; but i feel that `safe_embedding_lookup_sparse` is sufficient for what you want to do)

[2016-08-31 04:35] vrv commented on #4117
Okay, can you give it a try with and without the shallow-submodules option and show us the time difference?

[2016-08-31 04:52] cancan101 commented on #4117
Sorry, I should add this has two benefits:
1. faster build
2. more importantly: smaller Docker image. Right now it's > 3 GB.

[2016-08-31 04:53] vrv commented on #4110
I think you'll need to upgrade your version of bazel to 0.3.0 -- they added a bug fix for cuda configuration that requires a new feature.

[2016-08-31 04:53] vrv commented on #4107
You'll need to upgrade your version of tensorflow to 0.8+, or check out the source code at the 0.7.1 tree, not master.

[2016-08-31 04:53] #4107 closed

[2016-08-31 04:56] vrv commented on #4117
1. How much faster?
2. How is this related to #4116  ?

[2016-08-31 04:58] tobegit3hub commented on #4114
Thanks @ebrevdo for the quick response. We have considered to use the rank-3 SparseTensor instead of a batch of rank-2 SparseTensors. It's the different way to represent the train data and of course we can use it.

But the `safe_embedding_lookup_sparse` is not only the lookup method but also combining the weights sum/average of each row. I have read the [api docs](https://www.tensorflow.org/versio

[2016-08-31 04:58] woodshop opened #4118 "Undefined Symbols When Compiling User Op for GPU"
## Summary
I can compile, but not load, a user-defined TF shared library using CUDA. The library is based off of the TF [`zero_out`](https://www.tensorflow.org/versions/master/how_tos/adding_an_op/index.html#adding-a-new-op) example. I've modified the example to support CPU and GPU devices. Upon loading the shared library I get the following error: `tensorflow.python.framework.errors.NotFoundError

[2016-08-31 05:05] vrv commented on #4118
I believe you have to forward declare the template specialization of the functor in the .cc file (not the .cu.cc file).

Example: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/adjust_contrast_op.cc#L178

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/adjust_contrast_op_gpu.cu.cc#L28

So basically forward declare the functor you have in t

[2016-08-31 05:05] #4118 closed

[2016-08-31 05:28] physicso commented on #3925
This issue still exists when using GTX 1080 with CUDA 8 and cuDNN 5.1, I have tried all the TF docker versions, which did not help.
PS: I am using Ubuntu 15.04 LTS, python 2.7.

[2016-08-31 05:37] kuramawzw opened #4119 "Implementing gradient for user op in C++?"
I'd ideally like the operation to be wholly self-contained (gradient and operation defined in same file). The official tutorial only highlights a python implementation. Does anyone know if it's possible to implement the gradient in C++, and how to go about it?

[2016-08-31 06:11] #4030 closed

[2016-08-31 06:42] Hvass-Labs commented on #3816
Thanks again for the comments.

I think it would be wise to add a note about this in the docs for the image functions; that their output might exceed the input range, and that an easy solution is to limit the output after a sequence of image operations. I imagine that most people don't have deep insights about these image algorithms and might be surprised about overflows if it's not in the docs.

[2016-08-31 06:42] #3816 closed

[2016-08-31 06:43] danijar commented on #2838
@ebrevdo Thanks for the example. It would be nice to be able to interchange the cell without changing the placeholder/feed logic. That way, people can write operations that take a cell as parameter, and supports any inplementation, including use defined ones. Do you know how if that's possible?

[2016-08-31 06:45] thiell commented on #4110
Thank you @vrv for your quick reply. So for 0.8, the latest bazel was too new, now it's too old... The configure script should check the right one I guess...

The TF build scripts need patching anyway when using non-standard paths. One example, in `third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl`:
[code]
:(
I just dream of autotools here.

[2016-08-31 06:45] #4110 closed

[2016-08-31 06:53] shiquanwang commented on #3925
Found out it is due to `cuDNN`.

When you download `cuDNN`, there are texts showing:

If you are using cuDNN with a Pascal (GTX 1080, GTX 1070), version 5 or later is required.

I tried compiling tensorflow from source with CUDA8.0+cuDNN5.1. Everything works fine.

@physicso please try TF docker with `cuDNN-5x`.

[2016-08-31 06:59] woodshop commented on #4118
Thanks for your help and quick response. Unfortunately the forward declaration doesn't appear to fix the problem. I've tried putting it in the .cc file and the .h file without success. I don't have complete confidence that this isn't an issue with my configuration. However if you think this problem is better suited for SO, I'll be happy to investigate there.

[2016-08-31 07:01] physicso commented on #3925
Thank you very much @shiquanwang ! It turns out this issue is caused by Tensorflow itself. I tried the newest TF docker image version nightly-devel-gpu, it works!

[2016-08-31 07:09] mbektimirov commented on #1947
Solved this problem by installing new driver from Nvidia site. [Just download the latest driver for your card.](http://www.nvidia.com/Download/index.aspx?lang=en-us) The solution is from here: https://groups.google.com/d/msg/torch7/kLusyLEj4oc/MLRvcCy_FAAJ
[code]

[2016-08-31 08:29] loretoparisi commented on #4102
@trevorwelch thanks I thinks that this problem is related to System Integrity Protection in El Capitan (rootless) that I have disabled (from disk utility at reboot)

I have tried then again with `sudo -H`:

[code]

[2016-08-31 08:37] saifrahmed commented on #1711
I had the same problem when I mistakenly installed the OSX version on Linux.  When doing a pip install especially, ensure the $TF_BINARY_URL references the correct OS, Python Version, CPU/GPU architecture

https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#using-pip

[2016-08-31 08:53] llhe commented on #3491
Just checked code, the plugin mechanism is already implemented but not documented: ./tensorflow/python/framework/test_file_system.cc

[2016-08-31 09:08] llhe opened #4120 "Document "How to adding new customized file system""
Adding customized file system is supported but not well documented:
TF_INC=$(python -c 'import tensorflow as tf; print(tf.sysconfig.get_include())')
g++ -std=c++11 -shared test_file_system.cc -o test_file_system.so -fPIC -I $TF_INC

Adding a section in how_tos will help.

[2016-08-31 09:48] kodrzywolek opened #4121 "Lack of 'name' argument in the tf.contrib.learn.Classifier.evaluate method"
Tensorflow version 0.10.0rc0 (Installed today by pip from https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl)

I'm working with examples from [here](https://www.tensorflow.org/versions/r0.10/tutorials/tflearn/index.html) and [here](https://www.tensorflow.org/versions/r0.10/tutorials/monitors/index.html):
[code]

and everything is fine for now, but i

[2016-08-31 11:00] loretoparisi opened #4122 "rnn/translate: IOError: [Errno 2] No such file or directory: '/mnt/tf1/translate/giga-fren.release2.fr.gz'"
### Environment info

Operating System:

[code]

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
`NONE`
If installed from binary pip package, provide:
1. A link to the pip package you installed:
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.
   `$ python -c "import tensorflow; print(tensorflow.__version__)"

[2016-08-31 11:04] Dapid commented on #4105
I am getting the same missing crosstool on Linux. The strange thing is that there isn't even a bazel-tensorflow directory:
[code]

bazel is 0.3.1, and I have ran ./configure four times now.

[2016-08-31 11:13] windreamer commented on #1996
Ok, we can run a distributed `TensorFlow` training using `TFMesos` with or without GPU now (thanks to `nvidia-docker` project). And we also provide a script `tfrun` to submit a `Between-graph Replicated Training` script to Mesos cluster (the distributed `inception` model is using this mode).

I think although `TFMesos` is still experimental, but we believe this a good start to better integrate `Te

[2016-08-31 11:19] bhack commented on #1996
As we have already discussed we need to take a decision on the new http://mesos.apache.org/documentation/latest/container-image/

[2016-08-31 11:23] windreamer commented on #1996
@bhack yes, Apache Mesos 1.0 introduces a lot of new features, and I need more time to decide which is the best way.

[2016-08-31 11:25] windreamer commented on #1996
and unfortunately https://issues.apache.org/jira/browse/MESOS-5186 is still unresolved...

[2016-08-31 11:40] klueska commented on #1996
For what it's worth, the only reliable / supported path for GPUs in Mesos
going forward will be via the unified containerizer. i.e. what is discussed
in the link sent by bhack before: http://mesos.apache.org/
documentation/latest/container-image/

Development for the docker containerizer is currently under development,
but using it will not be the recommended mode of operation.

Regarding MESOS-51

[2016-08-31 11:52] windreamer commented on #1996
@klueska proto3 support is vital, or we will end up with a version confliction between `mesos.interface` and `Tensowflow`. Frankly speaking, I can not understand this `one-line-modification` is blocking months... for the `existing user` of mesos, they can keep on using proto2 as usual

I would like to try the mesos containerization way to launch the image, but it is still a bit mess for me to figu

[2016-08-31 12:07] #4076 closed

[2016-08-31 12:18] chrisk1 commented on #706
Thank you for this @psycharo - I had the same issue when building (using newer version, so different line numbers):

`bazel-out/host/bin/external/org_tensorflow/tensorflow/swig: line 25: swig: command not found`

Thought it might be helpful to point out that the same solution (for r0.10) is to insert
`use_default_shell_env=True,`

at
https://github.com/tensorflow/tensorflow/blob/r0.10/tensorflow/t

[2016-08-31 12:21] Coderx7 commented on #17
Any updates on windows? whats needed to get it run natively having GPU available as well?

[2016-08-31 13:02] bhack commented on #1996
Also is there a DC/OS plan?

[2016-08-31 13:16] bitmega commented on #1511
I got this same error when using `tf.nn.bidirectional_dynamic_rnn`. If I use `tf.nn.bidirectional_rnn`, this problem goes away. Here is the difference between working code and non-working code.

Working code:

     outputs, fw_states, _ = tf.nn.bidirectional_rnn(self.lstm_fw_cell,
                             self.lstm_bw_cell,
                             self.sent_cnn_outputs,

[2016-08-31 13:22] xuanchien opened #4124 ""ValueError: No gradients provided for any variable" when using bidirectional_dynamic_rnn"
I got the following error when using `tf.nn.bidirectional_dynamic_rnn`.

[code]
If I keep everything and use `tf.nn.bidirectional_rnn` instead, this problem goes away. Here is the working code and non-working code. Loss is calculated based on outputs and that part is the same for both cases.

Working code:

[code]

Non-working code:

[code]

I suspect the issue here could because of `tf.unpack` fu

[2016-08-31 13:47] JulyUp opened #4125 "do tensorflow support lmdb or hdf5 data?"
Now I have lmdb and hdf5 data for image classification. And I want to use tensorflow to train some convnets. So do tensorflow support lmdb or hdf5 data?

[2016-08-31 13:50] wangg12 commented on #4125
@JulyUp tensorflow/examples/skflow/hdf5_classification.py

[2016-08-31 13:52] cancan101 commented on #4117
1. On my local machine 3.8s vs 12.1
2. Related; it is one more step to cutting bloat in the image. That one I hope cuts 2+ GB. This one is a more modest 50MB.

[2016-08-31 13:56] gilberthendry commented on #4025
You could calculate gini for each feature that is being considered as a split candidate for a node that is currently growing (which is how we end up picking the feature to use at a node).  The candidate_split_sums variable in each tree keeps class counts for each feature under consideration. But we don't track them on the whole-tree level, mostly because it would be expensive to keep class counts

[2016-08-31 14:09] #2953 closed

[2016-08-31 14:16] klueska commented on #1996
@windreamer I think the reason that the JIRA was probably never resolved is that it's not clear that the fix being proposed is the right one. It may happen to work for your particular use case, but many of mesos's probufs aren't written in a way that is compatible with proto3 clients.  For example, many of mesos's protobufs still contain `required` fields. We don't want people to blindly do a `pip

[2016-08-31 14:18] xuanchien commented on #4124
As I thought, this issue is because of the function `tf.unpack`. I had to hack my code a little bit like this instead of using `tf.unpack`

`outputs = tf.split(0, max_timestep, outputs)`

and when iterating through `outputs`, I just have to remember to reshape it to remove the first dimension (which is 1)
[code]

I do not know why `tf.unpack` does not work while this works, and I think there shoul

[2016-08-31 14:21] trevorwelch commented on #4105
I do see that `eaderpad_max_install_names` reference in the screenshot above, however, after searching through all the files and folders in my TF directory I don't see that text anywhere, only `headerpad_max_install_names`. I don't know why the `h` would be getting clipped off.

[2016-08-31 14:26] shyamalschandra commented on #3798
Reasons why I don't like Bazel?
1. I haven't gotten tensorflow to compile and run from source.

[2016-08-31 14:34] malmaud opened #4126 "Device logging from C API not appearing"
Hello,
I'm using the C API and creating a session with the `log_device_placement` config parameter set to `true`, but am not actually seeing any logging output on STDOUT. Is there something special I need to be doing to capture and display the TensorFlow log from C?

[2016-08-31 14:55] nishanthgs opened #4127 "Tensorflow build from source fails with C++ compilation of rule '//tensorflow/core:framework_internal' failed: crosstool_wrapper_driver_is_not_gcc failed:"
I am trying to build tensorflow from source (without external git access), can someone please let me know how to get this going, I have built most of the dependencies in a local system directory but end up with the following:

ERROR: /usr/local/tensorflow/tensorflow/core/BUILD:927:1: C++ compilation of rule '//tensorflow/core:framework_internal' failed: crosstool_wrapper_driver_is_not_gcc failed:

[2016-08-31 14:59] loretoparisi commented on #4122
Same happens for `giga-fren.release2.en.gz`, so I have partially solved it by `symlink`

[code]

[2016-08-31 15:22] Hvass-Labs opened #4128 "Docs for Inception Model"
TensorFlow 0.10.0rc0 CPU on Linux.

This is about the Inception model and example that is included with TensorFlow:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/image/imagenet/classify_image.py

I am using this version of the Inception model:

http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz

I'm not sure whether to ask these questions here o

[2016-08-31 15:27] rieram commented on #4029
Yea, I got this error awhile back and I had to modify MakeNdarray in /tensorflow/python/framework/tensor_util.py to support float16 in the if/elseif block. I added a case for float16 and it seems to work.

 elif tensor_dtype == dtypes.float16:
    if len(tensor.half_val) == 1:
      return np.repeat(np.array(tensor.half_val[0], dtype=dtype),
                       num_elements).reshape(shape)

[2016-08-31 16:01] rieram commented on #4053
I had similar problem with Dequantization Kernel not being register when trying to execute inception V3 in 8bit mode. I fixed it in the bazel script under the target and included the quantization operators as dependencies. The kernel registrations should happen as file globals (I believe) so it looks like there is a disconnect with the "Sub" operator and the dependencies in bazel for that particul

[2016-08-31 16:14] girving commented on #2283
@lijiajia Can you (1) include your error message and (2) isolate which IndexedSlices is responsible as I requested of @smartcat2010?

[2016-08-31 16:39] gibiansky commented on #1888
Awesome, thanks @vrv! I'll test this out today but it looks very promising.

[2016-08-31 16:44] MahdiNazemi commented on #4078
I tried this solution. Now I get the following messages:

`E tensorflow/stream_executor/cuda/cuda_driver.cc:491] failed call to cuInit: CUresult(-1)
...
I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:185] libcuda reported version is: Not found: was unable to find libcuda.so DSO loaded into this program
I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:356] driver version file contents:

[2016-08-31 16:46] martinwicke commented on #3856
I meant, rename `protobuf-3.0.0b2.post2-cp35-none-any.whl` to `protobuf-3.0.0b2.post2-cp3-none-any.whl` to see if that works.

[2016-08-31 17:05] rmlarsen commented on #4101
Are your gradients computed in single or double precision? 10e-4 doesn't sound surprising of your gradient computation is in single precision. Could you perhaps boil this down to a reproducible example program and include your analytical gradient computation for comparison? If you peel off one step at a time in your objective, can you identify a step that is particularly inaccurate, or is it a gra

[2016-08-31 17:11] rmlarsen commented on #4101
@Bonnevie I assume that your logdet_chol is something like this:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distributions/python/ops/operator_pd_cholesky.py#L101

[2016-08-31 17:18] cr145 commented on #2037
I have the same problem as @fbolanos. I have not been able to resolve the issue, but I thought I'd mention that someone uploaded their pip wheel in another thread (https://github.com/tensorflow/tensorflow/issues/4030). I downloaded and installed it and it seem to be working fine on my system (Ubuntu 16.04, GTX 1080, CUDA 8.0 RC + Patch, cuDNN 5.1).

[2016-08-31 17:20] sonalgupta opened #4130 "Training a neural net in C++"
1. There are examples in the repo for loading a pre-trained model in C++. Can someone add an example to train a simple 1 hidden layer fully connected neural net (or even logistic regression using SGD) in C++?
2. I realize there is no publicly available support for auto differentiation in C++. Are there any plans to do so?

[2016-08-31 17:22] mrry commented on #4071
Looks like an easy fix. It's in review now and should appear in the next push.

[2016-08-31 17:26] pronobis opened #4131 "reduce_max and maximum give different results for negative infinity"
Using `tf.maximum` with negative inf inputs as follows:

    tf.maximum(-math.inf, -math.inf).eval()

gives the expected result `-inf`

However, `tf.reduce_max`, on the same inputs:

    tf.reduce_max([-math.inf, -math.inf]).eval()

gives: `-3.40282e+38` which is the min float32.

For positive infinity inputs, both functions result in `inf`.

### What related GitHub issues or StackOverflow threads

[2016-08-31 17:40] tillahoffmann opened #4132 "Unexpected performance changes as a function of batch size"
I am observing unexpected performance from tensorflow as I change the batch size that I feed to the session.

![image](https://cloud.githubusercontent.com/assets/966348/18139518/cfa80cc0-6fa9-11e6-9b7f-20bbfb30ddc9.png)

I have created a [small jupyter](https://gist.github.com/tillahoffmann/63cbe9fce331df75a6b57420c48b7c36) notebook to demonstrate the issue. Errors bars correspond to the standard

[2016-08-31 17:44] YuefengZhou commented on #1996
I played a little bit with running Tensorflow on Mesos, without the GPU support.

Regarding to the protobuf 2 dependency issue, I removed the protobuf 2 dependency from Mesos by not setting the protobuf 2 path in PYTHONPATH when starting the executor. It will pick the protobuf 3 dependency if installed.

To make it production-ready, we may have to handle a few failure cases: master failure, agent

[2016-08-31 17:54] jstaker7 commented on #1502
Using the timeline module I see that I have very slow batch normalization. One example of "moments/sufficient_statistics/mean_ss" took 413.262ms and "gradients/batchnorm/add_1_grad/Sum_1" took
413.357ms. I feel like this is a lot slower than I've seen before. As a sanity check, are these along the same order of magnitude you all are seeing in your benchmarks? This is with a Titan X.

[2016-08-31 17:57] rieram commented on #3723
Have you tried importing _pywrap_tensorflow.so in python directly? That will give you a good demarcation point between what could be the problem. It often gives you a better description of the problem.

[2016-08-31 18:02] vincentvanhoucke commented on #1502
Is this at the head of the tree? We recently changed:
          mean, variance = nn.moments(inputs, axis, shift=moving_mean)
to:
          shift = math_ops.add(moving_mean, 0)
          mean, variance = nn.moments(inputs, axis, shift=shift)
to fix a race condition, and this slowed things a tiny bit in our benchmarks.
Since you're seeing a slow Sum, I wonder if it's related. What happens if you rol

[2016-08-31 18:13] alexatknit commented on #781
While it would be useful to have mirrored images in the null areas for classification tasks, it is counterproductive for pose estimation tasks. It would be nice to have multiple options.

[2016-08-31 18:27] tijmentieleman commented on #4071
Sweet :)

[2016-08-31 18:31] mrry commented on #4084
In general the C API is unforgiving when it comes to usage, but this should be an easy and cheap piece of validation code to add.

[2016-08-31 19:04] fritzr opened #4133 "Compile error: invalid use of incomplete type 'class perftools::gputools::StreamExecutor' in stream_executor/kernel.h"
#### Issue

Building tensorflow from source using gcc 7.0.0 results in the below compile error.

The error is clearly enough because the structure of class StreamExecutor is not known from kernel.h.

[code]
#### System details
- OS: CentOS 6.8 x86_64-redhat-linux using
- Compiler:  gcc 7.0.0 (I do this because my system gcc is 4.4.7 which is too old to build bazel properly with -std=c++11)
- CUDA/

[2016-08-31 19:14] jstaker7 commented on #1502
This is using the v0.10 release and not compiled from scratch at the head. Here is a script I built for a quick benchmark around just computing the moments (very non-rigorous, but hopefully helpful):

    import tensorflow as tf
    import datetime

    a = tf.ones([64, 256, 256, 32])
    mean, variance = tf.nn.moments(a, [0, 1, 2])

    with tf.Session() as sess:
        start = datetime.datetime

[2016-08-31 19:23] bhack commented on #1996
@YuefengZhou Marathon? In the DC/OS flavour?

[2016-08-31 19:54] poxvoculi commented on #4119
Yes, see e.g. CholeskyGrad, which was discussed in #367

[2016-08-31 19:54] #4119 closed

[2016-08-31 20:02] poxvoculi commented on #4120
Could you clarify the context of the problem and its solution?

[2016-08-31 20:08] vrv commented on #4120
It is still being worked on, when it is ready we will document it.

[2016-08-31 20:12] JulesGM commented on #1736
there is an implementation here of batch normalized lstm: https://github.com/OlavHN/bnlstm/blob/master/lstm.py
explained in the article http://olavnymoen.com/2016/07/07/rnn-batch-normalization
inspired from the paper https://arxiv.org/abs/1603.09025

[2016-08-31 20:23] jstaker7 commented on #1502
Just as a followup, in my timeline the Sum op seems really expensive throughout my graph (mostly related to BN and gradients) and is blocking for most of the other computation. Is this expected behavior?

<img width="768" alt="timeline" src="https://cloud.githubusercontent.com/assets/1364252/18144914/eccdc898-6f7d-11e6-912c-9a3b687001bb.png">

[2016-08-31 20:28] vincentvanhoucke commented on #1502
That looks over the top to me. Punting so someone who can actually help.

[2016-08-31 20:35] ye commented on #3856
@martinwicke Oh ok. In that case, it worked, as I demo'd [15 days ago](#issuecomment-240239696).

[2016-08-31 20:41] shkarupa-alex commented on #3826
Got same issue

[2016-08-31 20:44] yifeif commented on #3826
Thanks @dtrebbien and @shkarupa-alex for the inputs. We are working on updating our docs.

[2016-08-31 21:01] YuefengZhou commented on #1996
@bhack I have a experimental Mesos/Marathon cluster setup in my machine. I haven't looked into DC/OS yet. But I guess if it can work on Marathon smoothly with fault tolerance, it is not difficult to switch to DC/OS setup.

[2016-08-31 21:23] poxvoculi commented on #4128
(1) I don't know.
(2) See classify_image.py, the images are automatically resized to 299 x 299, the size expected.
(3) Yes, the model will need to be upgraded at some point or it will fail.
(4&5) Portability & future-proofness
(6) This is done to make the example simple.  If you really want to do inference on a lot of images, it is better to create a single session and use it repeatedly.

[2016-08-31 21:23] klueska commented on #1996
GPU support will be included in Marathon 1.3 (being released in the next
couple of week). It will only be supported for the unified containerizer
though. There are still some hurdles to getting it supported all the way
through DC/OS, but we plan to have those issues resolved by the DC/OS 1.9
release (mid October).

On Wed, Aug 31, 2016 at 11:03 PM Yuefeng Zhou <notifications@github.com>
wrote:

[2016-08-31 21:27] poxvoculi commented on #4126
Could you give a simple example I might be able to reproduce?

[2016-08-31 21:31] kevin-keraudren opened #4135 "Seg fault when computing gradient of 3D convolution filter with (1,1,1) kernel"
Minimal example to reproduce the bug:

[code]

this leads to a seg fault, tested on a Mac with CPU, both with tensorflow 0.9.0 (binary release) and when compiled from source (last commit https://github.com/tensorflow/tensorflow/commit/ad4f02a69162abe5d242b7d94f62138849aec9ab ).

For certain values of `(x_shape[–1], f_shape[-1])`, for instance (2,4) or (8,32), the seg fault occurs, but for other va

[2016-08-31 21:38] mrry commented on #1502
If I recall correctly, the 0.10 *release candidate* binary had a performance regression in some of the reduction kernels (on certain GPUs). I believe this is fixed now at HEAD, and will be in the actual *release* which is due any day now.

Can you try with the nightly build and confirm whether this is still a problem?

[2016-08-31 21:39] rryan commented on #3239
Hm, I think I misread this bug initially -- it's intended behavior that for `tf.complex(x, y)`, x and y must have the same shape. Instead of `w * 0.0` you could do `tf.zeros_like(w)` to get a zero tensor of the same shape/dtype as w.

[2016-08-31 21:57] diggerdu commented on #190
same problem here.

[2016-08-31 22:25] monajalal commented on #20
@fivejjs  how did you do so? can you please write the detailed command?

[2016-08-31 22:34] poxvoculi commented on #4132
I tried your simple example and got a plot that doesn't show the trend reversal to the same degree, only a very slight one.

![screenshot from 2016-08-31 15 19 22](https://cloud.githubusercontent.com/assets/15676913/18148411/58d8f0f2-6f8e-11e6-98ed-a996ae3f4e2d.png)

I ran on a Google server which likely explains the difference from your results.

It's not surprising that there would be some kind

[2016-08-31 22:35] mrry commented on #4084
Running tests now... it should appear after the next push.

[2016-08-31 22:50] tillahoffmann commented on #4132
I agree that the trend should not continue forever but as sharp an increase in computation time as observed in my experiments seems to hint at a problem. I observe problems even when the amount of memory per batch is only a few megabytes--smaller than a typical image taken on a cell phone.

I am using a 48 core server with 128GB of memory running centOS.

[2016-08-31 22:53] zheng-xq commented on #2037
@fbolanos, @cr145, I put on a GTX 1080 on my local machine, but couldn't reproduce the problem.

My exact steps:
* git clone http://github.com/tensorflow/tensorflow --recursive
  ** f974e8d0c2420c6f7e2a2791febb4781a266823f for my experiment.
* cd tensorflow
* printf "\n\n\ny\n\n8.0\n/usr/local/cuda-8.0\n5.0.5\n/usr/local/cudnn-5.0\n\n" | ./configure
* bazel build -c opt --config=cuda tensorflow/cc

[2016-08-31 22:58] poxvoculi commented on #4135
Thanks for the report.  Internal bug opened.

[2016-08-31 23:14] #4071 closed

[2016-08-31 23:20] danmane commented on #4062
Fix will be merged into r0.10 by https://github.com/tensorflow/tensorflow/pull/4137.

[2016-08-31 23:34] rmlarsen commented on #4104
@015988 Thanks for the suggestion. I agree that TensorFlow would be well suited for the class of algorithms you mention, but this is probably out of scope for core TensorFlow at this point, and should probably live in an independent repository.

[2016-08-31 23:34] #4104 closed

[2016-08-31 23:51] rmlarsen commented on #4131
@pronobis Thanks for the bug report. I have fixed the bug internally at Google and in the open source Eigen repository (https://bitbucket.org/eigen/eigen/commits/741b932c41cebff49c4419b7e0ef9910ef1b2907). We will have to wait until a few unrelated issues are resolved in Eigen before pushing the fix to open source TensorFlow. Stay tuned! :-)

[2016-09-01 00:00] cloudygoose opened #4138 "seq2seq model is not efficient when using sampled softmax"
Hi,
my commit number is
70de76e696c21da617fd2e6435cf7fedab220db8

I want to try sampled softmax to speed up my lm training. I'm changing slightly on the ptb training example code. I'm working on a CPU machine.
First, on ptb(vocab 10k), I'm using the "small" config, I see some speed up gain:
normal softmax 896wps

sample_softmax h256L1ba20 sample512 1975wps

Then, I move to a larger set, and using

[2016-09-01 00:12] mrry commented on #4138
I suspect the issue is that the weight matrix is transposed, and this is causing the automatically-generated gradients code to take a slow path. In particular, `tf.nn.sampled_softmax_loss()` will generate sparse gradients for the weights, but the [gradient function for `tf.transpose()`](https://github.com/tensorflow/tensorflow/blob/9725395b8d68df30cfc81d0076db2365e49753fb/tensorflow/python/ops/arr

[2016-09-01 00:17] Mistobaan opened #4139 "Add the mention bot to tensorflow's github"
Integrate Mention-bot with the tensorflow github pull request system

https://github.com/facebook/mention-bot

[2016-09-01 00:50] lijiajia commented on #2283
The error message is as following. The problematic IndexedSlices comes from "gradients = tf.gradients(losses[b], params)".

The gradients is consists of:
<class 'tensorflow.python.framework.ops.Tensor'>
<class 'tensorflow.python.framework.ops.IndexedSlices'>
<class 'tensorflow.python.framework.ops.IndexedSlices'>
<class 'tensorflow.python.framework.ops.Tensor'>
<class 'tensorflow.python.framework.

[2016-09-01 00:53] petewarden commented on #4075
Sorry you're hitting problems! Could you give me some more details on the Linux version you're using?

The issue looks like it's a mismatch between the protobuf version TensorFlow's being compiled with, and the one you have installed on the system.

[2016-09-01 00:56] petewarden commented on #4098
If you look at the "Other Linker Flags" section of your Xcode settings, you should see several settings. If you remove
`
-Xlinker
-S
-Xlinker
-x
-Xlinker
-dead_strip
`
you should see more symbols when you run your app, and so find it easier to set breakpoints.

[2016-09-01 00:57] petewarden commented on #4073
That looks like we might need to add 'zlib' to the list of libraries to link against. On Linux, you can just add -lz to the linker command line, but I'm not sure how to do that with Xcode.

[2016-09-01 01:00] petewarden commented on #4001
The reason for the x86/x64 architectures is so we can run simulator targets. It looks like this is fixed, so I'm closing, but do re-open if you have more information!

[2016-09-01 01:00] #4001 closed

[2016-09-01 01:11] llhe commented on #4120
Thanks for the information @vrv

[2016-09-01 01:17] jstaker7 commented on #1502
Wow. Night and day difference. Using the nightly build I gained about a 3X speedup and all the long summations in the timeline have disappeared. Thank you!

[2016-09-01 01:55] jeffxtang commented on #4098
After I removed `-Xlinker -S -Xlinker -x -Xlinker -dead_strip` I got linker errors: `Undefined symbols for architecture x86_64: "_deflate", reference from: tensorflow::io::ZliboutputBuffer::Deflate(int) in libtensorflow-core.a`... Are those -Xlinker settings optional for building the app?

[2016-09-01 02:37] bfluo commented on #3907
This feature is also needed when accumulating gradients.

I want to accumulate the gradients of word embeddings over several iterations and update them together afterwards. Without sparse variable support, I can only initialize a huge zero tensor with the same size as the word embedding matrix first, accumulate the gradients with it and tf.assign_add this huge tensor to the word embedding matrix,

[2016-09-01 02:59] mrry commented on #1502
That's a relief! Thanks for confirming our suspicions :).

[2016-09-01 02:59] #1502 closed

[2016-09-01 03:09] yifeif commented on #3826
Installation instructions have been updated. Issue closed.

[2016-09-01 03:09] #3826 closed

[2016-09-01 03:14] davidzchen commented on #4105
@Dapid That is interesting. How did you run the `./configure` script? Can you paste the output

@damienmg Is there currently a way to inspect the contents of `/external` after running `bazel fetch` but before the Bazel output directories get symlinked?

@trevorwelch FWIW, most of the noise in the output are compiler warnings. The `dyld: Library not loaded: @rpath/libcudart.7.5.dylib` error is inte

[2016-09-01 03:28] tobegit3hub commented on #4114
[Wide and deep model](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/wide_n_deep_tutorial.py) is the best example to handle sparse data and use `safe_embedding_lookup_sparse`. Notice that the input data doesn't have missing feature, which means each example has exactly same number of feature values.

The model handles continues columns and categorical(sparse) column

[2016-09-01 04:19] windreamer commented on #1996
@klueska for `Unified Containerization Support` I open an issue https://github.com/douban/tfmesos/issues/12 , we can further discuss the detail there.

And for proto3, if my understanding is right, protobuf is both a compiler and runtime library. For compiler, proto3 compiler is not backward-compatible with proto2. But as long as library is generated, proto3 runtime is backward-compatible with pro

[2016-09-01 04:47] martinwicke commented on #4139
By analyzing the text of this issue I've identified @aselle as someone who will want to know about this.

I'm all for it. Adding it now.

[2016-09-01 04:51] martinwicke commented on #4139
Let's see how this works. We have a PR triage, but I bet it'll be relaxing as hell to have a reviewer recommendation. We can also play with the config. I wish it had an option to not @mention people, but just say their names instead (as a recommendation for a human).

If this catches on, we may make a PR.

[2016-09-01 04:51] #4139 closed

[2016-09-01 04:56] martinwicke commented on #4121
I think this is fixed at head: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/estimators/classifier.py#L76

Sorry it hasn't made it into the last release.

[2016-09-01 04:56] #4121 closed

[2016-09-01 05:00] zhudanhao commented on #2037
i met the same problem when i set up it in a titianx. but after a few days，the example run well automatically. however，the machine is about 5x slower when running lstm. I don't know whether these are related.

发自我的 iPhone

[2016-09-01 05:01] martinwicke commented on #4127
The best thing to do if you want to build without access to the internet would be to download the files mentioned in the WORKSPACE and tensorflow.bzl (all things grabbed by `new_http_archive` etc.), unpack them, and replace `new_http_archive` (and similar) with `new_local_repository` rules.

You shouldn't have to build these dependencies, bazel will do that for you. See the [bazel docs](https://ww

[2016-09-01 05:01] #4127 closed

[2016-09-01 05:07] martinwicke commented on #4103
I am stumped. Omitting -c opt is certainly unpleasant. We're upgrading our test servers to 16.04, so we should either hit this soon, or it's very mysterious indeed.

[2016-09-01 05:08] martinwicke commented on #4099
Pete, help with Android build?

[2016-09-01 05:16] concretevitamin commented on #3853
Using `tf.IndexedSlices` in optimizers is already a pattern to handle sparse gradients -- for example, see the gradient of `tf.gather()`.  I suspect the issue with `tf.unique()` not sorting can be resolved by either (1) using some other combination of existing ops, or (2) writing your own op/kernel to handle the desired.

Closing this for now.  If you have further questions (not bugs), I suspect S

[2016-09-01 05:16] #3853 closed

[2016-09-01 05:20] concretevitamin commented on #3967
+1 to what @vrv has said.  For now, you could use the [`TensorSliceReader::GetTensor()`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/tensor_slice_reader.h#L102) function to obtain a tensor from a checkpoint.

[2016-09-01 05:20] #3967 closed

[2016-09-01 05:23] concretevitamin commented on #3907
@bfluo Did you try `tf.scatter_{assign,add,sub}()`?

As for the original question: this is a feature that requires design and we don't have an immediate timeline.  Adding @alextp in case he has more information to comment.

[2016-09-01 05:28] cloudygoose commented on #4138
Hi Mrry,

Thanks very much for your kind reply!
as you suggested, I changed the part of code to:
[code]
And yes, the speed now becomes
sample
1024 1500wps
128 1731wps

It seems more normal now.

Also, maybe the developers want to change the code in source/tensorflow/tensorflow/models/rnn/translate/seq2seq_model.py, because there a transpose of matrix is also feed into a smapled softmax

Thanks!
Go

[2016-09-01 05:50] martinwicke commented on #4097
That makes no sense. In nn_test it is used exactly this way (via import of tensorflow).

[2016-09-01 05:50] martinwicke commented on #4097
(I'm not saying you're wrong, I'm just confused)

[2016-09-01 05:53] martinwicke commented on #4091
@josh11b what do you think? Is this part of the C API completeness?

[2016-09-01 05:53] martinwicke commented on #4089
Andrew is working on this.

[2016-09-01 05:54] #4031 closed

[2016-09-01 06:00] martinwicke commented on #3550
Yes, looks like it cannot run gcc -- does @pkonovalov-softheme's solution work for you?

[2016-09-01 06:02] martinwicke commented on #2806
I believe this is indeed a bazel problem. I wouldn't know what we can do inside TensorFlow to address this. I would file an issue for bazel.

[2016-09-01 06:02] #2806 closed

[2016-09-01 06:04] martinwicke commented on #2865
I will close this issue. We're re-working a number of things in the test setup which hopefully as a side effect addresses this.

[2016-09-01 06:04] #2865 closed

[2016-09-01 06:07] martinwicke commented on #2844
That is very sad. The dev setup is in effect a hack, I guess we've been caught. It is probably enough to add a warning about the test issue to the dev environment setup instructions?

[2016-09-01 06:09] martinwicke commented on #3260
That's weird, is the jupyter notebook running on something that doesn't allow for file i/o?

[2016-09-01 06:30] suiyuan2009 commented on #372
I'd like to implement some c++ example.

[2016-09-01 06:55] bfluo commented on #3907
@concretevitamin I'm not sure what you mean about tf.scatter_{assign,add,sub}().

I accumulate the gradients using the method mentioned in issue #3994. To be more specific, in order to update variable `var`, I first create a zero initialized variable `accum_var` to hold the accumulated gradients, and I add the gradients to `accum_var` in every iteration. Finally I add `accum_var` to `var` after se

[2016-09-01 07:28] llhe opened #4146 "Provide generic android JNI interface"
In the Android example, the developer need to write some customized C++ code for the JNI call, this extra effort is not needed especially in the prototyping step.

Could we provide a generic JNI interface (just like generic inference serving, with input/output as a map of tensors, using serialized protobuf bytes or customized serialization), then the developer will not need to write and BUILD C++

[2016-09-01 07:40] AlperenAydin commented on #4075
I am currently on a ubuntu 16.04.

[2016-09-01 07:44] Dapid commented on #4105
@davidzchen

[code]

[code]

On branch r0.10.

[2016-09-01 07:48] vyraun commented on #4099
Hi, thanks for the reply. I had to change the workspace SDK to my own
version 24.0.2 and then it worked.

On Sep 1, 2016 10:40 AM, "Martin Wicke" <notifications@github.com> wrote:

[2016-09-01 07:50] #4099 closed

[2016-09-01 08:27] bfluo commented on #3907
I tried evaluating `IndexedSlices.indices` and `IndexedSlices.values` every iteration and accumulating them outside of the graph. This makes my program 2x faster. Although not elegant, this seems like a feasible workaround for now.

[2016-09-01 08:29] akors commented on #4003
I think this is related to #4090 .

Would it be possible to not only dump the CUDA, cuDNN version and Compute capabilities into the log, but also make them available as python variables in the TensorFlow module?

[2016-09-01 08:53] gaohuazuo opened #4147 "`math_grad._ProdGrad` fails to handle cases where reduction_indices is scalar"
[code]
Gives
[code]

In line 128, `op.inputs[1]` could be a scalar, which will cause a shape mismatch when passed to `array_ops.listdiff` in line 130.

TF version: master branch a week ago

[2016-09-01 09:59] skydoorkai opened #4148 "Build ERROR: undeclared inclusion(s) in rule '//tensorflow/core/kernels:batchtospace_op_gpu':"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-09-01 10:07] jpangburn opened #4149 "Wide and Deep Learning tutorial example fails on Python 3.4"
When using the "deep" functionality in the Wide and Deep Learning tutorial on Python 3.4, I get the following error:

    ValueError: Duplicate feature column key found for column: education_embedding. This usually means that the column is almost identical to another column, and one must be discarded.

Looks like a bug in tensorflow/contrib/layers/python/layers/feature_column.py in the _EmbeddingC

[2016-09-01 10:54] zhangcx93 opened #4151 "Memory leak when continuously run assign op"
### Environment info
Operating System:
Ubuntu 16.04
Installed version of CUDA and cuDNN:
8.0 RC, 5.1 (on GTX 1080)
If installed from source, provide
HEAD: a8512e24deeeebe57eb1be14726634e7e6c23545
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Jan 01 00:00:00 1970 (0)
Build timestamp: Thu Jan 01 00:00:00 1970 (0)

[2016-09-01 11:12] Hvass-Labs commented on #4128
Thanks for the quick answer.

(1) Just to clarify the question a bit. After having loaded the graph in my own code, if I print the softmax-tensor then the shape is (1, 1008):

    print(graph.get_tensor_by_name('softmax:0'))

But in the file `imagenet_2012_challenge_label_map_proto.pbtxt` the class-numbers range from 1 to 1000 (both inclusive). So there's apparently only 1000 possible classes in t

[2016-09-01 12:14] vzvzx commented on #2807
i get the same result, any one had solved?

[2016-09-01 12:15] asispatra opened #4152 "Not able to get NV profile for tensorflow(inception)"
### Environment info
Operating System: Ubuntu 14.04
Machine: x86
Installed version of CUDA and cuDNN:
CUDA 7.5, cuDNN 5.1.3
Installed from source:
1. The commit hash (`git rev-parse HEAD`)
9454b9015567ae0641250004fd2fafccede54a93
2. The output of `bazel version`
(tensorflow)asis@ws:~$ bazel version
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelS

[2016-09-01 12:19] vzvzx opened #4153 "Why I get the slow result after Quantization tools on CPU?"
here is my benchmark info (The model is inception-2015-12-05):
I tensorflow/core/util/stat_summarizer.cc:262] 50 runs, avg 2880 ms, 1960 nodes defined 1664 nodes observed
============ Top by duration =================
  [start]  [first]    [avg]	     [%] 	  [cdf%] 	      [Op]	[Name]
  348.471  199.520  162.116	  5.629%	  5.629%	QuantizedConv2D	conv_4/Conv2D_eightbit_quantized_conv
  153.190  115.8

[2016-09-01 12:20] vzvzx commented on #4153
the source info:
I tensorflow/core/util/stat_summarizer.cc:262] 50 runs, avg 182.9 ms, 1004 nodes defined 902 nodes observed
============ Top by duration =================
  [start]  [first]    [avg]	     [%] 	  [cdf%] 	      [Op]	[Name]
   94.061   21.435    7.980	  4.363%	  4.363%	    Conv2D	conv_4/Conv2D
   38.605   26.650    5.479	  2.995%	  7.358%	    Conv2D	conv_2/Conv2D
  151.106    8.526

[2016-09-01 12:40] saitejagroove commented on #4093
Hi, I have alloted 11GB ram and I am using CPU-only tensorflow. I made it work by reducing dimension by a scale of 6 but the accuracy is around .83 which is not so good

[2016-09-01 13:37] deepali-c commented on #4151
Could you please try something like:
[code]

Please also refer to this [SO](http://stackoverflow.com/questions/37966924/why-does-tf-assign-slow-the-execution-time) thread.

[2016-09-01 13:42] jameswex commented on #3495
I'm sorry I'm still not quite following the issue and proposed solution. Can you provide a screenshot of the confusion caused by how the variables are displayed in the graph in your use case?

[2016-09-01 13:52] zhangcx93 commented on #4151
the data assign to the variable is different in every iteration, so I cannot define the op before the loop.

[2016-09-01 13:58] zhangcx93 commented on #4151
For example in neural art, I want to init the generate image with content image, in each iteration, I read new content image, and assign it to the variable.

[2016-09-01 14:05] mrry commented on #4151
This memory leak is caused by adding new nodes (a `tf.assign()` node and an implicitly created `tf.constant()` node) on each iteration of the training loop. This [documentation](http://stackoverflow.com/documentation/tensorflow/3883/how-to-debug-a-memory-leak-in-tensorflow/13426/use-graph-finalize-to-catch-nodes-being-added-to-the-graph#t=201609011401186013951) has a guide to tracking down leaks l

[2016-09-01 14:05] #4151 closed

[2016-09-01 14:14] #3621 closed

[2016-09-01 14:20] malmaud commented on #3967
Thanks guys.

[2016-09-01 15:19] mrry commented on #4147
I think this is a duplicate of #3815, which is being fixed by #3858.

[2016-09-01 15:31] vrv commented on #1786
Cudnn RNN ops were added here: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/cudnn_rnn

Closing this bug since that's probably the major thing desired from cudnn v5.

And I'm sure v6 is around the corner...

[2016-09-01 15:31] #1786 closed

[2016-09-01 15:39] poxvoculi commented on #4093
OK.  So it may be possible to reduce your max memory consumption a bit without down-scaling.  Unfortunately I don't know of any specific documentation on this.  We have some future improvements planned which will hopefully make it less necessary and/or easier to do.

The fact that your program doesn't run out of memory in the first couple of steps, but runs for some thousands first, suggests that

[2016-09-01 15:47] #4147 closed

[2016-09-01 16:02] shaya118 commented on #4036
@mrry I also met the same problem, could give me some advice?

[2016-09-01 16:14] girving commented on #372
@suiyuan2009 Unfortunately the C++ API hasn't stabilized yet, so I think we should still hold off on this one.

[2016-09-01 16:16] girving commented on #2283
Copying my comment above for convenience:

@lijiajia We need more information than that it comes from somewhere inside `tf.gradients`, which contains something like half of TensorFlow. The best way would to be either find the specific line that constructs the `IndexedSlices` without specifying a `dense_shape`, or to produce a minimized test case. Here are some ways to go about the former:

1. Add

[2016-09-01 16:29] benbarsdell commented on #4152
This happens because the inception script being run is actually a wrapper that launches the real script in a subprocess.

A workaround is to use the real script directly:

`nvprof -o nvprof_bs64_2gpu_3 python bazel-bin/inception/imagenet_train.runfiles/__main__/inception/inception_train.py`

[2016-09-01 16:31] fayeshine opened #4154 "wrapper for NVIDIA's gpu inference engine?"
does this help improving the throughput of the infence for tensorflow?
can we make wrapper for it?

https://developer.nvidia.com/gpu-inference-engine

[2016-09-01 16:56] poxvoculi commented on #4128
(1) It turns out that the 1008 size softmax output is an artifact of dimension back-compatibility with a older, Google-internal system.  Newer versions of the inception model have 1001 output classes, where one is an "other" class used in training.  You shouldn't need to pay any attention to the extra 8 outputs.

(2) Oops.  The public version of  [classify_image.py](https://github.com/tensorflow/t

[2016-09-01 16:59] poxvoculi commented on #4128
See https://research.googleblog.com/2016/08/improving-inception-and-image.html for the latest imagenet model.

[2016-09-01 17:01] hholst80 opened #4155 "Tensorboard: Feature and/or documentation request: Viz hyper parameter set"
(I am not sure if this is a documentation issue or a feature request.)

Running multiple studies using different hyper parameters can be difficult when more than a handful of hyper parameters are investigated over a shorter timespan. The way we done it is to show the active hyper parameter set  in an ascii string (the log directory name).

We already have 10 or so hyper parameters and showing them

[2016-09-01 17:02] trevorwelch commented on #4105
@davidzchen
It does exist:

[code]

[2016-09-01 17:48] lissyx commented on #4105
I can confirm this also building on a Debian (sid, uptodate of today) system.

[2016-09-01 18:07] elibixby commented on #4097
No I know what you mean! I replicated this bug like 6 times because I was sure I was crazy.

[2016-09-01 18:16] zheng-xq commented on #4133
Adding @henline, the proud owner of stream-executor.

[2016-09-01 18:22] aselle commented on #4139
Pretty cool.

[2016-09-01 18:45] vrv commented on #4097
I just installed the nightly pip in a fresh virtualenv, and:

$ python
Python 2.7.6 (default, Jun 22 2015, 17:58:13)
[GCC 4.8.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

I tensorflow/stream_executor/dso_loader.cc:110] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:110] successfully opened CUDA library libcud

[2016-09-01 18:45] #4097 closed

[2016-09-01 19:06] kbrems commented on #1824
I am running the tracing as described above on a single application on a single node. Is there any documentation anywhere on what the various row names mean? Specifically, I am seeing the bulk of time spent in rows with no label in the left column but grouped under rows like:

/job:localhost/replica:0/task:0/gpu:0 Compute (pid 3)

and very little time in
/gpu:0/stream:all Compute
/gpu:0/memcpy Com

[2016-09-01 19:36] asispatra commented on #4152
Hi @benbarsdell
If I try as you specified, I am getting the following error:
[code]

[2016-09-01 19:41] ilblackdragon commented on #4086
@ispirmustafa can you take a look?

[2016-09-01 19:42] ilblackdragon commented on #4086
@kinddevil You should use `DNNRegressor` instead of `TensorFlowDNNRegressor`.
Restoring is done via providing the same `model_dir` to the constructor.

[2016-09-01 19:44] benbarsdell commented on #4152
Sorry, I forgot about another step to the WAR that needs to be done first:

$ touch inception/__init__.py
$ touch inception/slim/__init__.py

[2016-09-01 19:49] bsautermeister commented on #3957
@girving Indeed, it does! Thank you very much!

And (obviously) it's much faster than wrapping the Optimizer with _tf.device('/cpu:0')_.

[2016-09-01 19:55] #4086 closed

[2016-09-01 19:59] ilblackdragon commented on #3658
@goncalopp We don't have anything planned at this point. One way around is to use custom `Estimator` class and return various tensors that you want to inspect in the `predictions` dictionary.

Would this work for you?

PS. you should switch to use `DNNRegressor` as `TensorFlowDNNRegressor` is deprecated.

[2016-09-01 20:00] girving commented on #3957
We shouldn't close it  until I actually submit the fix.

[2016-09-01 20:35] poxvoculi commented on #4132
I'm now quite puzzled.  The chart I posted above was from running in a python notebook, not jupyter, but something similar, with unknown tensorflow version and configuration state.  I was able to reproduce your results by switching to a different tensorflow version that I thought was built from a recent code tree sync.   The execution times I was seeing were 10x too slow for large tensors (batches

[2016-09-01 20:44] fchollet commented on #3114
I get the same error at head when using a dynamic rnn:

`InvalidArgumentError: All inputs to node gradients/while_2/strided_slice_2_grad/StridedSliceGrad/StackPush must be from the same frame.`

So gradient computation does not work if you use slicing inside a while_loop?

[2016-09-01 20:46] poxvoculi commented on #4153
This appears to be a duplicate of #2807 Please continue the discussion there.

It would be more helpful if you
 - describe the system you are running on
 - describe how the quantization was done
 - maybe give the times you see without quantization, for comparison, i.e. which Ops slow down, and by how much.

[2016-09-01 20:46] #4153 closed

[2016-09-01 20:51] poxvoculi commented on #4155
This seems more like a stackoverflow question.  It doesn't seem like a feature that TensorFlow would plausibly provide.

[2016-09-01 21:30] zheng-xq commented on #4154
We are in the process of evaluating GIE among other options.

[2016-09-01 22:08] Mistobaan opened #4158 "Add support for NVIDIA nccl library"
The nccl library supports fast GPU-GPU communications and tensorflow could leverage its use.

https://github.com/NVIDIA/nccl

I think I read somewhere that Google is implementing this internally, but would be good to know what is the plan.

[2016-09-01 22:29] tillahoffmann commented on #4132
Great to hear back from you. It's interesting that you could reproduce the problem with some versions of tensorflow. I think we pip installed ours and are using 0.10.0rc0. I will run some experiments tomorrow and will get back to you.

[2016-09-01 23:01] gunan commented on #3974
Closing this issue since after the fix is applied, the performance regression is gone.
Please reopen if I am wrong.

[2016-09-01 23:01] #3974 closed

[2016-09-01 23:07] elibixby commented on #4097
I installed `0.10.0rc0` is this not a stable release? Shouldn't this issue be tested against the release that I claimed it occurred in?

FYI I just found another one. Fresh installation:

[code]

[2016-09-01 23:28] martinwicke commented on #4097
That one should probably be module private. No need to use that.
@ilblackdragon what do you think?

On Thu, Sep 1, 2016 at 4:09 PM, Eli Bixby <notifications@github.com> wrote:

[2016-09-01 23:43] vrv commented on #4097
Hm.  It looks like when we cherry-pick new commits into r0.10, we're not rebuilding the .whl's that go to storage.googleapis.  So yeah, this is basically fixed, but we haven't pushed out new wheels yet.  We'll work on this process in the future.

I believe r0.10 will be out of RC very soon, so this will be fixed when we push out the official release.

[2016-09-01 23:44] jmhodges commented on #4105
I've found I can induce this by Ctrl-C'ing in the middle of a fresh `bazel build`.

[2016-09-01 23:47] elibixby commented on #4097
@martinwicke best practice to avoid magic strings. Much better to say `OPTIMIZER_SUMMARIES`, which says gives me all available summaries, especially if the list of available summaries expands in the future. Or `OPTIMIZER_SUMMARIES[0], OPTIMIZER_SUMMARIES[:2]` e.g.

[2016-09-02 00:01] elibixby opened #4162 "contrib.layers: TypeError: optimize_loss() got an unexpected keyword argument 'summaries'"
Trying to provide a custom list of summaries to `tf.contrib.layers.optimize_loss` fails

[code]

Tested on a fresh 0.10.0rc0 install, as well as in the `tensorflow/tensorflow:nightly` docker image.

Little mystified by how this is occuring since the it's correct in source. I suspect it has something to do with everything being brought into the layers namespace.

[2016-09-02 00:29] prb12 commented on #1824
This is not really meant to be a discussion forum, ... . but...

All of the 'rows' under this heading are ops being **dispatched** on the same Tensorflow gpu device. Because multiple ops can be fired off in parallel on the host, their execution may overlap in time.  A simple bin-packing algorithm is used to assign them to multiple rows so that they don't overlap in the UI.  (Note- this doesn't cor

[2016-09-02 00:37] prb12 commented on #1824
@matthiasreisser No - I haven't seen any progress on this since the code I posted in my private fork.  I'll see if I can convince somebody on the team to pick up the ball.   There's not really much left to do - it's mainly a matter of tidying up the code quality and writing some tests.

[2016-09-02 00:47] martinwicke commented on #4097
@vrv The RC wheels should not magically upate -- that would destroy the
notion of an RC. We could automatically make a new RCx release every time
we push (similar to nightlies), maybe.

@elibixby I would welcome a PR.

On Thu, Sep 1, 2016 at 4:49 PM, Eli Bixby <notifications@github.com> wrote:

[2016-09-02 00:50] vrv commented on #4097
@martinwicke yeah, but we should be bumping up the rc number on every set of cherry-picks :).  I'm sure we'll get there

[2016-09-02 00:59] martinwicke commented on #4097
We can do that, but only as a nightly process -- it involves a bit of extra
setup, but could actually be not too bad. Basically a release job which
points to a branch (or set of branches) and updates automatically on push.

On Thu, Sep 1, 2016 at 5:52 PM, Vijay Vasudevan <notifications@github.com>
wrote:

[2016-09-02 01:16] AlvinChen13 opened #4164 "Performance issue for Distributed TF"
Hi All,

We just enable distributed TF to train our model,  but we get very slow performance comparing to train on single machine. We just setup two machines one ps, one worker, and each machine is Xeon CPU with nvidia K40 GPU:
GPU 0: Quadro K420 (UUID: GPU-954fc4b7-6198-f5f9-1efb-69e73d001d5c)
GPU 1: Tesla K40c (UUID: GPU-ac243789-45bd-448f-87d9-db21c1c88c87)
GPU 2: Tesla K40c (UUID: GPU-d7b7783e

[2016-09-02 03:09] yuanbyu commented on #3867
It is expected that lowering `parallel_iteration` would reduce memory consumption. A higher `parallel_iterations` increases the parallelism but may need to keep more intermediate tensors alive at any given time.

I have no idea about the`per_process_gpu_memory_fraction` part of the question.

[2016-09-02 03:13] moontails commented on #4066
I would like to work on this

[2016-09-02 03:39] jiqiujia opened #4165 "WARNING: /home/dl/.cache/bazel/_bazel_dl/5c17eaa27118632cc679170e55a5e91b/external/boringssl_git/WORKSPACE:1"
WARNING: /home/dl/.cache/bazel/_bazel_dl/5c17eaa27118632cc679170e55a5e91b/external/boringssl_git/WORKSPACE:1: Workspace name in /home/dl/.cache/bazel/_bazel_dl/5c17eaa27118632cc679170e55a5e91b/external/boringssl_git/WORKSPACE (@boringssl) does not match the name given in the repository's definition (@boringssl_git); this will cause a build error in future versions.

### Environment info
Operating

[2016-09-02 03:41] shartoo opened #4166 "tensorboard error, segement fault core dump"
Hi, i got an error when using tensorboard.

envirnoment is:

+ python: 2.7
+ os: docker on centos 7, 64bit
+ tensorflow : 0.9.8

i ran the tensorboard on mnist example,and get log file as `/tmp/mnist_logs/` .When i ran tensorboard directily as below ,error as `segement fault, core dump`

[code]
if the command changed to
[code]
error same. Can anybody help me?

[2016-09-02 04:07] lsh5207 opened #4167 "how to batch learning when using input builder function, in skflow"
I have got some problem in modifying wide_n_deep_tutorial.py
The problem is the same as
http://nticformation.com/solutions_problems.php?tuto=145994&subCategory=python+tensorflow+skflow&Category=python

Sorry for my poor english. And many thanks in advance.

[2016-09-02 04:33] jrbtaylor opened #4168 "Cannot find cudnn, but cudnn (5005) works with my Theano install"
I just installed tensorflow from source with no errors but upon running the example from the "get started" page...

`$ cd tensorflow/models/image/mnist`
`$ python convolutional.py`

I receive the error that cudnn cannot be found. Here is the full output:

`I tensorflow/stream_executor/dso_loader.cc:111] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.c

[2016-09-02 05:05] fbolanos commented on #2037
Ok! So it appears that after rebooting the machine the output is correct. However, the floating point exception I showed above occurs randomly when running the test program several times. However, no more Nans! :)

[2016-09-02 05:06] vrv commented on #2037
I think we need to get rid of the multi-threading of this example -- it's actually not safe to do in its current implementation.

[2016-09-02 05:06] jpangburn commented on #4149
The bug has been resolved in the master branch, I was using the 0.10rc0 branch.  All that's required now for wide_n_deep_tutorial.py to work on Python 3 is the urllib -> urllib.request change mentioned above.  With that change on the master branch, you get the same accuracy on Python 3 as Python 2 for "wide_n_deep" model type.

I'd close this, except not sure if there's a way to make the urllib pr

[2016-09-02 05:20] ebrevdo commented on #3114
Are you using a nightly build? If not, try it

[2016-09-02 05:42] jrbtaylor commented on #4168
Reinstalled and specified the cudnn version when prompted. Seems to work now.

[2016-09-02 05:42] #4168 closed

[2016-09-02 06:47] xuanchien commented on #2940
Thanks @alexcolburn, copying libcuda.dylib to libcuda.1.dylib indeed fixed this issue on my Mac 10.10

[2016-09-02 07:03] shiyemin opened #4169 "My project worked well before r0.8, but got NAN after updating to r0.10"
I can not figure out what has been changed in r0.10.

After updating to r0.10, I modify some of the import to fit r0.10. But when after run "sess.run([train_op, loss])" for one iteration, the loss is NAN. However, all these code work well before r0.8.

And the trained model also produced different result (random precision).

Any suggestions?

The code for building all ops is:

        print("Prepa

[2016-09-02 07:28] matthiasreisser commented on #1824
@prb12 That would be great - It seems to be quite important to know how distributing an algorithm influences the computation time in a particular implementation. I am looking forward to this!

[2016-09-02 07:47] chhwang commented on #4047
I see the same performance problem on my benchmark. I use one ps server and one worker with synchronized parameter update (SyncReplicasOptimizer). I expect no synchronization overhead because there is only one worker, but the worker throughput(examples/sec) is 0.57x in average than the case not using sync optimizer. Also the throughput fluctuates very much, just like what @perhapszzy posted.

[2016-09-02 08:24] haibarasiao opened #4171 "distribute tensorflow read data problem"
Hi,
when I want to build a distribute model with cifar-10  (https://tensorflow.googlesource.com/tensorflow/+/master/tensorflow/models/image/cifar10/),
it hanged at sess.run , I think it is the input queue problem. It can not read image and label from file.
But when run with no distribute, everything is OK.
Any suggestions?

in train():
images, labels = model.distorted_inputs()

in model.py:
def di

[2016-09-02 08:25] haibarasiao commented on #4171
I run one ps job and one work job at localhost.

[2016-09-02 08:51] ic opened #4172 "Missing files and flag for building linkable archives with `make` on Linux (Ubuntu)"
Trying to build under Linux, I have faced two issues, one for PIC missing, and one for a missing file in the source build list.

I guess the origin of the problem is the `Makefile` depends on Bazel's build, and changes may be missing.

How does this looks for you? Here is a temporary [patch](https://github.com/tensorflow/tensorflow/compare/master...ic:master).

### What related GitHub issues or St

[2016-09-02 09:44] JulyUp opened #4173 "error shows when doing the command 'python -m tensorflow.models.image.mnist.convolutional' #3674"
After I install tensorflow using pip, I do the simplest command to train minst. But it shows error:

I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.so locally I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcudnn.so locally I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcufft.so loc

[2016-09-02 09:45] JulyUp commented on #4173
What should I do to solve this problem？

[2016-09-02 09:48] hholst80 commented on #4173
try and unpack `data/train-images-idx3-ubyte.gz` manually - does it work?

[2016-09-02 09:51] hholst80 commented on #4173
Otherwise you could try and delete `train-images-idx3-ubyte.gz` and the script should try and download it again from the source. Hopefully without any errors. It could be a problem with gzip library on your machine but that is less likely.

[2016-09-02 10:03] JulyUp commented on #4173
@hholst80  I delete train-images-idx3-ubyte.gz and download it again from the source. And it works. Thank you very much !

[2016-09-02 10:49] talpay commented on #2986
Try `sudo ldconfig /usr/local/cuda/lib64`

[2016-09-02 11:24] tillahoffmann commented on #4132
I have now rerun the benchmark with the convolutional network in a range of settings and could reproduce the problem in all of them. In particular, I used a python 3.5.2 environment installed with conda and tried the following tensorflow installations

* `pip install https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0rc0-cp35-cp35m-linux_x86_64.whl`
* `pip install https://storage

[2016-09-02 11:51] akors commented on #2806
I created Issue https://github.com/bazelbuild/bazel/issues/1713 in bazel for this.

[2016-09-02 14:46] dhwajraj commented on #4166
this may occur when there are too many logs/checpoints/meta in that directory then tensorboard could go out of memory and throw this error. try keeping only 1 run in logdir.

[2016-09-02 14:52] leifulstrup commented on #3688
inside jupiter....

%%sh
tensorboard --logdir=log_simple_graph # shell command

[2016-09-02 14:58] admcrae opened #4174 "tf.nn.bias_add does not support multiple derivatives (using with contrib.learn)"
Apparently, `tf.nn.bias_add` does not support differentiating twice: I created a neural network with `tf.contrib.layers`, and attempting to compute a Hessian matrix (actually Hessian-vector product, based on https://en.wikipedia.org/wiki/Hessian_automatic_differentiation) yields a `LookupError` saying that `BiasAddGrad` has no gradient.

From what I understand, `bias_add` is basically `add` with s

[2016-09-02 15:28] mrry commented on #4149
Hmm, I'm not familiar with that particular tutorial, but if the `urllib` import is the only issue, would it work to replace:

[code]

...with:

[code]

...at the [top of `wide_n_deep_tutorial.py`](https://github.com/tensorflow/tensorflow/blob/461caa86137aee3d2e40843ea308c216f10c4655/tensorflow/examples/learn/wide_n_deep_tutorial.py#L21)? We do a similar thing in more battle-hardened tutorials like

[2016-09-02 15:56] asispatra commented on #4152
This also did not help.

[2016-09-02 16:07] bhack commented on #1996
/cc @vicki-c if interested in this topic.

[2016-09-02 16:15] craymichael opened #4175 "Contrib metric `metric_ops.streaming_auc` type error within function"
### Environment info

Version 0.10.0rc0
Ubuntu

I'm using a `RandomForest` Estimator and am feeding it `tf.contrib.metrics.streaming_auc` and it fails.
### What other attempted solutions have you tried?

Modifying source to convert both inputs to float using `tf.to_float`. It worked, but still an issue.
### Logs or other output that would be helpful

[code]

[2016-09-02 16:27] RobRomijnders opened #4176 "Why reuse default to True for loop_function() in seq2seq.rnn_decoder ?"
My question concerns the rnn_decoder() in seq2seq.

I am batchnormalizing activation maps in the loop_function(). To this end, I call the tf.contrib.layers.batch_norm() function. Like many other optionalities, it calls variables using tf.get_variable().

Ideally, you'd set reuse=None during the first call of loop_function(). That way, tf.get_variable() functions can construct variables. During sec

[2016-09-02 16:29] bcaine commented on #3628
@sguada Any update with this? Without this fixed I don't think exporting a frozen graph (for use in C++) is possible when using Batch Norm.

[2016-09-02 16:48] xuanchien commented on #3070
Even though I have your commit on my tensorflow source (r0.10 branch), I still get the same error. Do you know why?
[code]

[2016-09-02 17:03] xuanchien commented on #2291
@edi-bice
Where is `google/protobuf/BUILD`? I am having this issue but I can not find this file to edit like you mentioned. I'm totally stuck now.

[2016-09-02 17:11] shrutisharmavsco commented on #3480
@jeffxtang running the quantized model made the memory warnings disappear on the iPhone 5C

[2016-09-02 17:16] shiyemin commented on #4169
I am sure of the reason. However, after a lot of failures, I change CUDNN from 4.0.4 to 5.1 and the problem is gone. Everything is fine now.
There might be some bugs to use CUDNN 4.0.4?

BTW, r0.10 has a big chance to get "BUILD file not found on package path" when run configure, which is annoying.

[2016-09-02 17:17] danijar opened #4178 "What do readers do after their input is exhausted?"
I would like to train for multiple epochs on a dataset, using TensorFlow readers and queues. How do reader signal the end of the dataset? I couldn't find any [documentation][1] on this.

[1]: https://www.tensorflow.org/versions/r0.10/api_docs/python/io_ops.html#readers

[2016-09-02 17:19] danijar commented on #2514
Hi, I am using the same solution that was mentioned here, having a boolean placeholder `is_training`, and combining the training and evaluation queues using `batch = tf.cond(is_training, lambda: training_batch, lambda: testing_batch)`. Why would this not work? It seems to work for me, but I didn't check if it always dequeues both batches.

[2016-09-02 17:21] poxvoculi commented on #4164
You haven't said anything specific about the structure of your model, or exactly what about this situation surprises you.

Many or most models will run faster on a single GPU than they will when split across multiple GPUs, if it's possible to fit on a single GPU.

Here's why: The latency per step is lower bounded by the most expensive path through a DAG where each node is a kernel execution, whose

[2016-09-02 17:25] poxvoculi commented on #4167
This sort of question is better asked on stackoverflow, using the #tensorflow tag.

[2016-09-02 17:25] #4167 closed

[2016-09-02 17:32] #4169 closed

[2016-09-02 17:34] aselle commented on #3909
What version of Linux are you on?  e.g. run
$cat /etc/issue

[2016-09-02 17:36] poxvoculi commented on #4158
We're aware of this.  The TensorFlow programming model is somewhat different from what this library addresses.  We want programmers to specify their computations at a higher level, and plan to automatically support parallel distribution including efficient data transfers as needed.

[2016-09-02 17:36] #4158 closed

[2016-09-02 17:37] #4173 closed

[2016-09-02 17:39] aselle commented on #3843
There is a unit test for the c api in   tensorflow/c/c_api_test.cc
make sure you can run that e.g.

$ bazel run tensorflow/c/c_api_test

Then you can try copying the contents of that into your file one by one until you achieve what you are trying to do.

In the reproduce instructions you could also just specify the git sha hash that you checked out from i.e.

git clone <tensorflow url>
git checkou

[2016-09-02 17:39] aselle commented on #3776
Automatically closing due to lack of recent activity. Please reopen if further information becomes available.

[2016-09-02 17:39] #3776 closed

[2016-09-02 17:39] aselle commented on #3839
Automatically closing due to lack of recent activity. Please reopen if further information becomes available.

[2016-09-02 17:39] #3839 closed

[2016-09-02 17:40] aselle commented on #3948
Automatically closing due to lack of recent activity. Please reopen if further information becomes available.

[2016-09-02 17:40] #3948 closed

[2016-09-02 17:40] alquraishi commented on #3844
I'd like to throw in my two cents for _not_ removing the distribution dashboard. I think for examining changes over time, it remains superior to the histogram dashboard. If it were possible to restrict the temporal window in the histogram dashboard, i.e. a way to slide back and forth through the exposed temporal range, that would help a great deal, but as it is, the distribution dashboard provides

[2016-09-02 17:53] poxvoculi commented on #4132
I'm going to look at this a bit more, but first, in case you're willing to do some more experiments, let me give my thoughts.  I'm suspicious of the interaction between python and the backend graph execution environment.  I'm much more familiar with that backend environment and how it actually executes large tensor Ops, and there's nothing I know of there that seems like a plausible cause for the

[2016-09-02 18:25] mrry commented on #2514
@danijar Assuming `training_batch` and `testing_batch` are the results of calls to `tf.train.batch()` that occur before the `tf.cond()`, it will always dequeue both batches. See [here](http://stackoverflow.com/a/37064128) for an explanation (and substitute "dequeue operation" for "assignment").

[2016-09-02 18:26] malmaud opened #4181 "Document events file format"
Hello,
In the documentation for Tensorboard, I can't find a description for the format of the events file beyond that it contains Event protobufs. Is it recordio? Are there any tools for writing event files for 3rd-party Tensorflow clients that aren't using the Python API?

[2016-09-02 18:55] theclifbar commented on #2307
Also trying to do the same... I think it's safe to say that there are many others who haven't chimed in but would love for this to be added, or documented steps so that we can implement it ourselves.  Are we at least on the right path to use export_meta_graph and Saver.save() to convert the retrained .pb and label files into the metagraph def and checkpoint files needed for TF serving?

[2016-09-02 19:20] gibiansky commented on #1888
Just tested this out today.

It's closer than the previous one... but still not quite there -- reopen the issue again? The bug here is insidious and somewhat unexpected:

:(

It comes from the following line: [gpu/process_state.cc:188](https://github.com/tensorflow/tensorflow/blob/d42facc3cc9611f0c9722c81551a7404a0bd3f6b/tensorflow/core/common_runtime/gpu/process_state.cc#L188)

If you take a look

[2016-09-02 19:43] mboujonnier commented on #3442
Hi, I have the samemalloc(): memory corruption issue (build 94493ec) on RPI raspbian
gdb says:
56 ../nptl/sysdeps/unix/sysv/linux/raise.c: No such file or directory

[2016-09-02 19:50] vrv commented on #1888
Ha, fun times.  I think it is fixable without too much work:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/gpu/process_state.cc#L99

gpu_allocators_ is a sparse array indexed by visible gpu id.  So instead of using '0', we need to find any non-null entry in gpu_allocators_ and use the index of that executor.  I believe we are guaranteed that the gpu_allocator

[2016-09-02 19:51] gibiansky commented on #1888
SGTM, I'll give it a shot.

[2016-09-02 19:58] zheng-xq commented on #2037
@fbolanos, Vijay was correct. The example uses DirectSession that didn't share the underlying GPUDevice. They are not good for parallel execution. Other types of sessions do not have this problem. There are other effort trying to unite the session implementations that will address this problem at the same time.

Please try "--num_concurrent_sessions=1" and "--num_concurrent_steps=1" for your exper

[2016-09-02 20:04] kbrems commented on #1824
@prb12 Thanks for the information - that is helpful. Sorry about the forum, but this thread was the only place I could find any sort of documentation on the profile traces!

[2016-09-02 20:13] jpangburn commented on #4149
OK @mrry I created a PR https://github.com/tensorflow/tensorflow/pull/4183 for this.  I see that this issue is also reported as #3956

[2016-09-02 21:05] gibiansky commented on #1888
PR opened, I've confirmed that with that change `nvidia-smi` gives the desired output. I don't know whether there is any code style that I should be observing but am not, so just let me know what needs to be done to get this merged (whether by merging my almost-trivial PR or something else).

[2016-09-02 22:23] #4149 closed

[2016-09-02 22:23] mrry commented on #3956
Fixed by #4183.

[2016-09-02 22:23] #3956 closed

[2016-09-02 22:28] prb12 commented on #1824
@kbrems  No problem.  Please bear in mind that much of this functionality is still being developed/refactored and will probably need to change a little before we are happy with it.

@mrry has just submitted some support for distributed trace collection  to our internal tree and it should hopefully go into the next nightly sync.

[2016-09-02 22:42] goncalopp commented on #3658
Thanks for looking into this!
I've been looking into this, and writing a custom Estimator would involve essentially copy-pasting
`_infer_model()`, `_get_predict_ops()` and `_logits()`, which would be very brittle, considering how fast this code is changing. Would you be interested in a pull request that modifies `BaseEstimator` to optionally return these?

[2016-09-02 22:43] gunan commented on #3989
for cuda7.5 images, I have corrected all the paths as suggested by @flx42
Closing the issue now.

[2016-09-02 22:43] #3989 closed

[2016-09-02 22:50] jeffxtang commented on #3480
@shrutisharmavsco cool. I'm able to run the quantized model on my iPhone 6 too without memory warnings or other problems.

[2016-09-03 01:33] rmlarsen commented on #4131
@pronobis Update: The issues in Eigen have been resolved and the fix for this issue will be pushed out on Monday.

[2016-09-03 02:35] FlorinAndrei commented on #4105
Ubuntu-16.04, CUDA 8, java 1.8.0_101, bazel 0.3.1

Building from master today

Started ./configure in a virtual instance in VirtualBox, did a CTRL-C because it was taking too long. Went home, fired up the instance again, deleted tensorflow repo, cloned it again.

Did ./configure again with same options as before, it worked well except one warning at the beginning:

[code]

Ignored it, and did the

[2016-09-03 02:36] ganggangsouth commented on #3948
sorry,I  had solved that problem.Using the method with re-download and re-setuo.Thank you!

[2016-09-03 03:08] afshin67 commented on #492
Hi,
How did you solve the problem?
I have a similar problem on nvidid K80 with 11.25 GB of RAM.

[2016-09-03 03:52] davidzchen opened #4187 "Library not loaded: @rpath/libcudart.7.5.dylib"
+@trevorwelch

From the discussion in #4105 and #4145, this is the tracking bug for the following error:

[code]

[2016-09-03 03:56] davidzchen commented on #4105
There are two issues being discussed in this thread. @trevorwelch, let's move the `Library not loaded: @rpath/libcudart.7.5.dylib` discussion over to #4187.

For the `'@local_config_cuda//crosstool': BUILD file not found` issue:

* If the Bazel output directories (i.e. `bazel-tensorflow`, etc.) exist, what is the output of `ls -l bazel-tensorflow/external/local_config_cuda/crosstool`?
* If not, wh

[2016-09-03 04:02] daeyun commented on #2471
#3057 Worked for me. TL;DR: pass the config object when you initialize `tf.Server`.

[2016-09-03 07:18] andrewt3000 commented on #4122
In tensorflow/models/rnn/translate/data_utils.py  line 76

-  train_path = os.path.join(directory, "giga-fren.release2")
+  train_path = os.path.join(directory, "giga-fren.release2.fixed")

[2016-09-03 07:20] andrewt3000 commented on #4122
Ideal solution is that someone hosts the file that won't change it.  Not sure what else is different besides file name.

[2016-09-03 07:37] andykitchen commented on #2146
I would also find a GPU implementation of CTC loss very helpful!

[2016-09-03 08:04] xuanchien commented on #2291
For those who have a similar issue. I had to modify the content of the file `bazel-tensorflow/external/protobuf/BUILD`, re-ran bazel build command  and it helped to resolve this issue in my case.

Before:
[code]

New:
[code]

[2016-09-03 13:21] xuanchien commented on #2413
@yuye2133
Your command is to build and run the example of tensorflow. To install TensorFlow to your python, you have to run the command to build the pip package (wheel) and then install it. Following are copied from TensorFlow website:

[code]

To test if new installed tensorflow works as you expected, you can try running the following python script, if there is no error then it should be okay.

[

[2016-09-03 13:25] xuanchien commented on #2413
@srp1970 CROSSTOOL.tpl is the same as CROSSTOOL (I have just compiled tensorflow successfully today). There are already some `cxx_builtin_include_directory` in that file, you only need to update it with new paths.

[2016-09-03 15:14] trinity77 commented on #1123
Issue Cleanup

[2016-09-03 17:18] asimonov commented on #4105
i experience the same issue. tf 0.10. mac os el capitain. bazel 0.3.0

[2016-09-03 18:02] cancan101 commented on #3722
I am seeing this as well on what should be amd64:
[code]

[2016-09-03 19:57] davidzchen commented on #4105
@asimonov - Can you print the contents of the `local_config_cuda/crosstool` directory as I mentioned in my comment above?

[2016-09-03 22:31] FlorinAndrei opened #4190 "ERROR: undeclared inclusion(s) in rule '//tensorflow/core/kernels:multinomial_op_gpu'"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

none

### Environment info
Operating System:

Ubuntu 16.04 64bit with all updates applied

Installed version of CUDA and cuDNN:

I've downloaded these from Nvidia and installed them per "official" instructions:

- cuda_8.0.27_linux.run
- cuda_8.0.27.1_linux.run
- cudnn-8.0-linux-x64-v5.1.

[2016-09-04 03:31] unbuilt commented on #4190
I got the same issue here.
ERROR: /home/unbuilt/Works/tensorflow/tensorflow/core/kernels/BUILD:1550:1: undeclared inclusion(s) in rule '//tensorflow/core/kernels:depth_space_ops_gpu':
this rule is missing dependency declarations for the following files included by 'tensorflow/core/kernels/depthtospace_op_gpu.cu.cc':
  '/usr/local/cuda-8.0/include/cuda_runtime.h'
  '/usr/local/cuda-8.0/include/host

[2016-09-04 04:35] davidzchen commented on #4190
When you run `./configure`, did you explicitly specify your CUDA version? If not, then you are most likely hitting #3985.

[2016-09-04 05:25] FlorinAndrei commented on #4190
I did not specify the CUDA version explicitly. I try again with explicit settings and will let you know how it goes.

[2016-09-04 05:37] andrewt3000 commented on #4122
I don't know if this error is related to the new files, but when I try to run it, with the new files hosted at statmt.org. The program fails when trying to train.

  reading data line 13900000
  reading data line 14000000
  reading data line 14100000
  reading data line 14200000
  reading data line 14300000
  reading data line 14400000
ubuntu@ip-10-147-46-5:~/tensorflow/tensorflow/models/rnn/trans

[2016-09-04 07:43] DjangoPeng commented on #3767
@girving Do I need create a new PR? Or, how to take it over?

[2016-09-04 11:41] asimonov commented on #4105
David,

I cannot find local_config_cuda/crosstool directory anywhere in tensorflow directory.

Kind Regards,
Alexey

[2016-09-04 12:01] hholst80 commented on #3349
Can we ge this backported to r0.10 branch? It does not compile in Ubuntu 16.04 LTS.

[2016-09-04 13:54] andykitchen opened #4193 "CTC loss is numerically unstable for long sequence lengths"
Hi All, great work TF team, thanks for implementing CTC loss ops recently!

I've noticed that CTC loss becomes quite numerically unstable for long sequences, in the attached code that reproduces the plot from the CTC paper, sequences longer than 10,000 or so degrade the quality of the gradients quite severely.

I'm not sure what the best fix is, trying to improve the numerical stability of CTC los

[2016-09-04 14:14] TaoMiner commented on #1564
I am confused with the same problem too. have you found a solution?
I guess the only way is to adopt the second method to add a new op in the tutorial, that is, with the tensorflow source install via bazel, but the recompile process is too slow.

[2016-09-04 16:46] gszep opened #4194 "Syntax Errors in Python 3.5 : Installed using pip3"
I followed the instructions on [installing TensorFlow using pip](https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#optional-install-cuda-gpus-on-linux) and installed both the ```Ubuntu/Linux 64-bit, GPU enabled, Python 3.5``` and ```Ubuntu/Linux 64-bit, GPU enabled, Python 2.7``` versions using pip3 and pip2 respectively. The package imports correctly in Python 2.7 but the follow

[2016-09-04 16:53] gszep commented on #4194
After editing line 158 in ```/home/gszep/.local/lib/python3.5/site-packages/dateutil/parser.py```, replacing ``` `value` ``` with ``` 'value' ``` which is probably the ascii character causing the problem, I get a new import error:
[code]

[2016-09-04 17:07] gszep commented on #4194
Editing lines 303 and 326 in that file finally fixed the problem. The change has to do with the update syntax ```ValueError, "string" ``` to  ```ValueError("string") ```

[2016-09-04 17:18] #4194 closed

[2016-09-04 17:38] girving commented on #3767
Whoops, sorry: @rmlarsen just fixed this, and it should be pushed out soon.  Should have commented earlier.

[2016-09-04 18:36] shkr commented on #3495
My understanding is that @cgarciae is requesting to add a collections field in the node for each variable either present in the red outlined box or the top right box for the selected variable. Currently the collections that a tensor belongs cannot be seen on tensorboard. Please point out if I am missing any section where it is present.

![screen shot 2016-09-04 at 11 25 45 am](https://cloud.github

[2016-09-04 19:27] cgarciae commented on #3495
Exactly what @shkr said!

[2016-09-04 22:08] Mistobaan commented on #4158
So let me reframe the question. What is the plan to leverage the GPU to GPU communication capabilities of hardware like PCI switch or the DGX1 ? [nccl seems to use NVLINK and QPI primitives](https://github.com/NVIDIA/nccl/blob/75bad643bde5e252346176fe26df08c65ecbb6b6/src/libwrap.cu) and doing a github search for those same primitive names, seems the stream_executor does not support that.

[2016-09-04 22:23] JohnRobson opened #4196 "Error when running two simultaneous sessions"
Can I run two simultaneous sessions?

I start with: "with tf.Graph().as_default(), tf.Session() as sess:"

When I run my script alone, the result is OK, but when I run 2 instances the result is completely wrong or throw some errors like:

Error max() arg is an empty sequence
I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:924] successful NUMA node read from SysFS had negative value (-1), bu

[2016-09-04 23:19] keveman commented on #4130
@sonalgupta [This](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/tutorials/example_trainer.cc) is an example that constructs a graph is C++ and runs many iterations of it to solve a numerical optimization problem. That example is missing automatic differentiation which is the missing component for training a neural net model, but @andydavis1 is making rapid progress towards th

[2016-09-04 23:25] josh11b commented on #476
Andy will know more about the status of automatic differentiation.

[2016-09-05 00:01] rasmi commented on #190
Same here, except with a different error:
[code]

[2016-09-05 00:50] pronobis commented on #4131
Great! Thanks!

[2016-09-05 01:47] shartoo commented on #4166
I checked the logdir ,there is only one file `events.out.tfevents.1472783342.docker01` , and the file size is 1.1MB .

[2016-09-05 02:02] vladfi1 opened #4197 "Incorrect documentation for dynamic_rnn"
The help for `tf.nn.dynamic_rnn` states that the optional `initial_state` kwarg, if `cell.state_size` is an integer, must be a `Tensor` of appropriate type and shape `[batch_size x cell.state_size]`. This is incorrect; the shape must be actually be `[batch_size, cell.state_size]`.

[2016-09-05 02:17] haibarasiao commented on #3727
@DjangoPeng Did you fixed the sess.run hang problem? I also get this problem

[2016-09-05 02:50] shartoo commented on #4166
It seems a version bug, after updated to 0.10.0rc0  the tensorboard ran successful.Thank you anyway!

[2016-09-05 02:50] #4166 closed

[2016-09-05 03:52] tCubed opened #4199 "Unable to create a pip whl."
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

https://github.com/tensorflow/tensorflow/issues/2040

### Environment info
Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

-rw-r--r-- 1 root root  189170 Dec 23  2015 /usr/local/cuda/lib/libcudadevrt.a
lrwxrwxrwx 1 root root      16 D

[2016-09-05 03:58] kmmbvnr commented on #2642
@vrv after the registration, there is no cudnn4 for cuda7.5 on the nvidia cuddn downloads page.
![cudnn download nvidia developer](https://cloud.githubusercontent.com/assets/282529/18237095/3890434e-734f-11e6-993d-4b4e12c3f430.png)

[2016-09-05 04:49] rasmi commented on #4105
@davidzchen I'm getting a broken symlink to
[code]

[2016-09-05 05:16] davidzchen commented on #4105
@asimonov @rasmi - Does the contents of the `local_config_cuda/cuda

[2016-09-05 05:33] rasmi commented on #4105
@davidzchen -- assuming you mean @jmhodges gist, yes. Just a bunch of cuda library files. Sure enough, running `./configure` and building again produces the crosstool directory with `BUILD`, `CROSSTOOL`, and a `clang/bin/crosstool_wrapper_driver_is_not_gcc` files. I was getting errors with `crosstool_wrapper_driver_is_not_gcc` [earlier](https://github.com/tensorflow/tensorflow/issues/190#issuecomm

[2016-09-05 08:19] haibarasiao commented on #4171
seems found the problem, it's the queue problem. Now everything is OK.

[2016-09-05 08:19] #4171 closed

[2016-09-05 08:29] loretoparisi opened #4200 "TypeError: __init__() got an unexpected keyword argument 'dtype'"
The module is `models/rnn/translate`
I'm running

[code]

I did the training:

[code]

and then run

[code]

[code]

My data dir looks like

[code]

The `symlink` in the `data_dir` are due to https://github.com/tensorflow/tensorflow/issues/4122

[2016-09-05 08:30] haibarasiao opened #4201 "After I used SyncReplicasOptimizer, tf hang at sess.run"
After I used SyncReplicasOptimizer and chief queue runner in distribute tensorflow, it hangs at sess.run.
But after I added below:
        queue_runners = tf.get_collection(tf.GraphKeys.QUEUE_RUNNERS)
        sv.start_queue_runners(sess, queue_runners)
this queue runs OK.
Anyone can tell me why?
I added this code before:
      if is_chief:
          sv.start_queue_runners(sess, chief_queue_runner)

[2016-09-05 08:42] normads opened #4202 "undefined reference to `tensorflow::CanUseDeepConv2D(...)' building with Makefile method"
Building tensorflow with makefile method gets stuck at
[code]

[2016-09-05 08:45] normads commented on #3139
I managed to work around this by building gcc with --with-mode=arm
It appears to be a bug with [gcc](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=71776) but it's not confirmed yet :/
I did however run into a [different issue](https://github.com/tensorflow/tensorflow/issues/4202) right after :(

[2016-09-05 09:00] #4202 closed

[2016-09-05 09:00] normads commented on #4202
Duplicate of #4172

[2016-09-05 09:23] david-liu opened #4203 "BUG in graph_actions.py"
Hello I am using `tf.contrib.learn.Estimator` to train my model, and size of validation sample is small,(validation sample size=32, eval_batch_size=16)

I have created an EvaluationMonitor to evaluate the validation sample

[code]

and the `eval_metrics` is is a list of `tf.contrib.metrics.streaming_sparse_recall_at_k`, `input_fn_eval` is a function to read TFRecord from file

but in the evaluatio

[2016-09-05 11:05] Hvass-Labs commented on #4128
Thanks again for the quick answer!

## (1)

I suppose that when the Inception model outputs a class-number of zero it really means "other" and class-numbers between 1001-1007 are for back-compatibility. But I think the code breaks if the top-5 includes one of these special classes, because there is no mapping from these special class-numbers to ImageNet uid's in the file `imagenet_2012_challenge_l

[2016-09-05 11:11] JimmyKon commented on #4187
@davidzchen

your error exactly like mine, i have fix this problem.
My compute:
2012 early iMac
CPU:i5
Display Card: GT640M

Xcode 7.3
CUDA 7.5.27
CUDNN 4

here my solution:

I found the genrule-setup.sh file will execute before error.

	...execroot/tensorflow/external/bazel_tools/tools/genrule/genrule-setup.sh

ok, print file timestamp first.

	stat genrule-setup.sh

output like this:

	16777217

[2016-09-05 11:20] JimmyKon commented on #4105
@jmhodges
@rasmi
@davidzchen

here my solution :)

https://github.com/JimmyKon/tensorflow_build_issue_fix

[2016-09-05 11:29] Dapid commented on #4105
On the error of  ` '@local_config_cuda//crosstool': BUILD file not found`:

[code]

Note that this only happens when I set a non default GCC, but since it is incompatible with CUDA I can only build for CPU.

[2016-09-05 12:35] alex-justes opened #4204 "[SOLVED] Using opencv with tensorflow causes segfault."
Using opencv with tensorflow causes segfault.

[code]

### Related GitHub issues or StackOverflow:
http://stackoverflow.com/questions/37535765/segmentation-fault-core-dumped-error-for-cifar10-example-tensorflow
https://github.com/tensorflow/tensorflow/issues/1924

### Environment info
1 Operating System:
Arch linux
[code]
2 CUDA
cuda 7.5.18
cudnn 5.1.3

[code]

3 The commit hash
2ab7e6326296987ea0

[2016-09-05 12:49] vivounicorn commented on #3891
the problem is solved. TF 0.9/0.10 need CUDA 8.0, pip install can not support it, so we should compile it form source code and choose CUDA version 8.0.

[2016-09-05 13:31] Conchylicultor opened #4205 "Misleading argument name on seq2seq module"
Not really major issues, but can make lose some time.

For the functions [sequence_loss_by_example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/seq2seq.py#L980) and [sequence_loss](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/seq2seq.py#L1026), the name of the parameter `softmax_loss_function` seems to imply that only softmax based loss

[2016-09-05 13:33] titusnicolae opened #4206 "transient error: Enqueue operation was cancelled"
[Related issue](http://stackoverflow.com/questions/38678371/tensorflow-enqueue-operation-was-cancelled) seems to still hapen in 0.10rc0
Operating System: Ubuntu 15.04
Installed version of CUDA and cuDNN: CUDA 7.5, cuDNN 4
output of `ls -l /path/to/cuda/lib/libcud*`:

[code]

Installed tensorflow 0.10 with GPU, for python 2.7 in virtualenv with pip
https://storage.googleapis.com/tensorflow/linux/gp

[2016-09-05 13:36] carlthome opened #4207 "Feature request: Ogg (or equivalent) compression for AudioSummary with TensorBoard"
When logging an AudioSummary every couple of epochs, the logs grow quickly (as in several gigabytes), and checking TensorBoard remotely (as in not on the same LAN) also becomes very slow. Would it be possible to have builtin support for Ogg compression or an equivalent lossy format? There are multiple use cases where this would be beneficial.

[2016-09-05 13:47] carlthome commented on #4207
Or in TensorBoard at least, maybe just download an audio file upon hitting play (or just the most recent AudioSummary per default), instead of loading everything?

[2016-09-05 13:52] dansileshi opened #4208 "Batch Normalization slow?"
I am using tf.contrib.layers.batch_norm
This is very slow. Any better implementation?

[2016-09-05 13:59] lan2720 opened #4209 "tf.concat returns a list not Tensor, is it a bug?"
My code is below
[code]

Run it and gets a list. `outputs` here is the return value of tf.concat(). It should be an array but now it's a list. Could anyone tell me why? Thanks!

[2016-09-05 14:14] lonce opened #4210 "deepdream tutorial rename_nodes error"
Hi -
    The tensorflow/examples/deepdream README.md says that Python 2.7 is required. However, loading the deepdream.ipynb notebook fires up the 3.5 kernel (due to info I believe is stored in the notebook itself.

But the error I am encountering on the line:
tmp_def = rename_nodes(graph_def, lambda s:"/".join(s.split('_',1)))

may or may not be due to a python version issue. The line generates th

[2016-09-05 15:20] LeavesBreathe commented on #492
Would be amazing if there was some sort of way we could calculate how much memory each tensor is using, including backprop calculations.

[2016-09-05 16:03] zsdonghao opened #4212 "How to implement Multiplexer"
How to takes a single input and select one of many output lines, which is connected to the input, by using placeholder?

For example if we have a TF variable as follow, how could we forward it to the 1st output ?

[code]

[2016-09-05 18:55] shkr commented on #2626
Appending `/usr/local/cuda/extras/CUPTI/lib64` to LD_LIBRARY_PATH environment variable solved the problem.

[2016-09-05 21:09] chemelnucfin commented on #3767
@girving, so should I close this PR?

On Sun, Sep 4, 2016 at 10:40 AM, Geoffrey Irving <notifications@github.com>
wrote:

[2016-09-05 22:37] Huxwell opened #4213 "FCNs cannot be used for segmentation of variable size images after training."
Yann LeCun pointed,  ConvNets don't need to have a fixed-size input.
One can train Fully-convolutional network using small images, and than use the model (without scaling or cropping) and feed it with large images for segmentation.
It works right away with Keras+Theano.
If one trains the same model with TensorFlow as Keras'es backend, during application of pretrained model on image larger than the

[2016-09-05 22:56] FlorinAndrei opened #4214 "C++ compilation of rule '//tensorflow/core/kernels:gather_nd_op' failed"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

none

### Environment info
Operating System:

Ubuntu 16.04 64bit

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

[code]

I've downloaded these from Nvidia and installed them per "official" instructions:

- cuda_8.0.27_linux.run
- cud

[2016-09-05 22:58] FlorinAndrei commented on #4190
I've explicitly specified CUDA version 8.0 and now compilation fails in a different way:

https://github.com/tensorflow/tensorflow/issues/4214

[2016-09-05 23:00] rasmi commented on #1171
@sammoes did you figure this out?

[2016-09-06 00:49] rizar opened #4216 "Can not load workspace.bzl"
I have a project that I want to build with Bazel, which includes Python code and C++ files. I am trying to use the same approach as in [Syntaxnet](https://github.com/tensorflow/models/tree/master/syntaxnet) from the model zoo. I add `tensorflow` as a submodule to my repository and put the following snippet to my `WORKSPACE` file:

[code]

which results in an error

[code]

The source of the error

[2016-09-06 00:49] LinJM opened #4217 "the tensorflow binary package in tensorflow r0.10 is build with cudnn5.1 not cudnn4.0"
I use pip to install tf r0.10.
# Ubuntu/Linux 64-bit, GPU enabled, Python 2.7
# Requires CUDA toolkit 7.5 and CuDNN v4. For other versions, see "Install from sources" below.
$ export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.10.0-cp27-none-linux_x86_64.whl

# Python 2
$ sudo pip install --upgrade $TF_BINARY_URL

When I run the program, the program raise error f

[2016-09-06 00:52] rizar commented on #4216
In addition, I highly suspect that https://github.com/tensorflow/serving is incompatible with the latest Tensorflow for the same reason, see [this line](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/workspace.bzl#L4)

[2016-09-06 01:11] eagleflo commented on #2278
I experienced a very similar issue with prebuilt TensorFlow 0.10 binary and CUDA installed according to instructions.

It turns out TensorFlow wants to import `libcuda.1.dylib`, not the `libcuda.dylib` that NVIDIA's CUDA installer installed. Manually creating a new symbolic link from `libcuda.dylib` to `libcuda.1.dylib` in /usr/local/cuda/lib fixed the issue for me.

[2016-09-06 01:15] zhaopku opened #4218 "seq2seq: Cannot parse tensor from proto: dtype: DT_FLOAT"
My platform is ubuntu 14.04 with tensorflow version of 0.10, CPU version.

I am using functions in `seq2seq.py` to build a model. The code works fine when I use the `embedding_rnn_seq2seq` function, but when I use `embedding_attention_seq2seq`, it has error like this:

`AttributeError: 'LSTMStateTuple' object has no attribute 'get_shape'`

To fix this, I turned the `state_is_tuple` to `false`, but

[2016-09-06 01:25] liuy1991 opened #4219 "upgrade tensorflow from cpu to gpu"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-09-06 01:47] whuqin commented on #3919
is there any progress?

[2016-09-06 01:55] samjabrahams commented on #4009
@girving would using Python's [imghdr](https://docs.python.org/3.4/library/imghdr.html) library and calling the appropriate `decode_<type>` function suffice?

[2016-09-06 02:05] vrv commented on #4217
Yup, our website needs to be pushed but the sources have been updated.

[2016-09-06 02:05] #4217 closed

[2016-09-06 03:07] chandanmaruthi commented on #3919
Environment info

Operating System:
**>>> 14.04.4 LTS (GNU/Linux 3.13.0-91-generic x86_64)**

Installed version of CUDA and cuDNN: (please attach the output of ls -l /path/to/cuda/lib/libcud*):
Cuda is not installed
**>>> ls: cannot access /path/to/cuda/lib/libcud*: No such file or directory**

If installed from binary pip package, provide:

A link to the pip package you installed:
The output from

[2016-09-06 03:08] chandanmaruthi commented on #3919
Amazon ec2 compute optimized servers do not use nvidia gpus, I havent had much luck getting cuda working on ec2 large g4 instance.

[2016-09-06 03:20] girving commented on #4009
Except for using a separate library, yes.  Just check magic numbers instead: it would be a few lines of pure Python if we only had a `tf.startswith` op for strings, so adding `tf.startswith` is one way.

[2016-09-06 03:57] samjabrahams commented on #4009
Cool. I whipped up a first pass with tests in #4222, but will need to hard code the `imghdr.what()` function. It's already [implemented in pure Python](https://hg.python.org/cpython/file/2.7/Lib/imghdr.py), so the core logic is already available.

[2016-09-06 04:29] jmhodges commented on #10
I've just published a PR to bump the go branch to the latest master and do some minor fixups in #4223

[2016-09-06 04:31] jmhodges commented on #10
I'm not sure what's left to do in the go branch to get it merged to master. I might be able to help!

[2016-09-06 06:08] npanpaliya commented on #3722
Farmhash already has a pending pull request https://github.com/google/farmhash/pull/7 to address this problem. Not sure about the reason for it not yet merged.

[2016-09-06 06:09] tornadomeet commented on #4105
i solved this by careful setting the cuda/cudnn/gcc version when using ./configure

[2016-09-06 06:14] asimonov commented on #4105
This is what I have:

AlexPro:tensorflow alex$ bazel info output_base
/private/var/tmp/_bazel_alex/9a8b7d02e7f6ce832d52efe09806ba70

AlexPro:tensorflow alex$ ls -la /private/var/tmp/_bazel_alex/9a8b7d02e7f6ce832d52efe09806ba70/external/local_config_cuda
total 8
drwxr-xr-x    4 alex  wheel   136  6 Sep 07:10 .
drwxr-xr-x  168 alex  wheel  5712  6 Sep 07:10 ..
-rw-r--r--    1 alex  wheel   116  6 Se

[2016-09-06 06:16] Dapid commented on #4105
@tornadomeet can you show exactly what you used in configure?

[2016-09-06 06:27] davidzchen commented on #4214
This appears to be caused by an internal compiler error:

[code]

[2016-09-06 06:28] davidzchen commented on #4190
@FlorinAndrei Thanks. In that case, I'll de-dup this with #3985.

@4214 appears to be unrelated.

[2016-09-06 06:28] #4190 closed

[2016-09-06 06:46] samjabrahams commented on #4009
@girving what do you think of a `tf.substring_match` op instead of `tf.startswith`? Should be more flexible in the long-term, and allows me to keep using the lazy way of detecting JPEGs that imghdr already uses :)

On further inspection, it looks it may be difficult to pull this off without doing the entire implementation in C++, as you can't read the bytes of the image before the graph is execute

[2016-09-06 06:50] davidzchen commented on #4105
Odd. It appears that even though you are running the `./configure` script to build with GPU support, `cuda_configure` seems to think that GPU support is disabled.

The way that `cuda_configure` determines whether GPU support is enabled is whether `TF_NEED_CUDA` is set to `"1"`, which is what the `./configure` script sets if you answered `y` to whether to build with GPU support.

If you are consist

[2016-09-06 06:53] nsuke commented on #4105
I've solved the same problem by putting `bazel  build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package` into the last line of `configure`.
Looks like bazel configuration does not complete on `bazel fetch //...` in some cases.
`source configure` might work too.

[2016-09-06 07:07] alexggmatthews commented on #2217
@girving @rmlarsen do the developers at Google have any plans in this specific direction or for GPU linear algebra solvers in general? Having spoken to @c0g  it looks like he will be unable to spend more time on this thread.

[2016-09-06 07:41] heineiuo commented on #37
+1

[2016-09-06 08:07] tornadomeet commented on #4105
@Dapid i do not saved the configure info, can we get this anywhere(except the info output to the screen during configure)?

[2016-09-06 08:08] alex-justes commented on #4204
gdb says about segfault in pthread_mutex_lock () from /usr/lib/libpthread.so.0
I've tried to downgrade glibc from 2.24-2 to 2.23-5 (since it all began after system upgrade), but it doesn't help.

[code]

[2016-09-06 09:21] chasep255 opened #4224 "Print command not being called through gradient operation."
I have the following code.  When I call the image_graident function I expect it to print the image_reg variable.  It does not print anything when imageGraident() is called.

[code]

However the following does work fine and it prints the value.

[code]

This seems like a bug to me but maybe I am missing something.

[2016-09-06 10:05] gopi77 commented on #4105
Anyone solved the issue? please help
OS: Ubuntu 16.04, Cuda toolkit 8.0, cudnn-8.0-linux-x64-v5.1, GPU nvidia 1070

other settings:
CUDA_HOME=/usr/local/cuda-8.0
LD_LIBRARY_PATH=/usr/local/cuda-8.0/lib64
PATH=/usr/local/cuda-8.0/bin:/home/gopi/bin:/home/gopi/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin

My command window shown below

[2016-09-06 10:29] lan2720 commented on #4209
Solved it. Here is the explanation from `tf.Session().run()` doc.

  Either a single value if `fetches` is a single graph element, or
  a list of values if `fetches` is a list, or a dictionary with the
  same keys as `fetches` if that is a dictionary (described above).

[2016-09-06 10:29] #4209 closed

[2016-09-06 10:56] JimmyKon commented on #4105
@gopi77

I met this error once after upgrade my gcc on my mac.
you can reinstall bazel and execute "bazel clean" before compile.

[2016-09-06 11:14] tillahoffmann commented on #4132
We were able to resolve the problem by updating our linux kernel.

Old: 3.10.0-327.13.1.el7.x86_64 
New: 3.10.0-327.28.3.el7.x86_64

[2016-09-06 11:54] kakashidan commented on #2531
@TianweiXing I met the same problem with you when use facenet. Have you solved the problem yet?
I used the method you metioned but it did not work.
Could you tell me how to solve the problem?

[2016-09-06 12:30] alex-justes commented on #4204
Downgrading opencl-nvidia from 370.23 to 367.35  have solved the problem.

[2016-09-06 13:21] jameswex commented on #3495
That explanation helps. Sounds like you would want to add the collections a variable belongs to as an entry in the attr map in the NodeDef for a variable node so that that information is saved for every node in the graph definition proto. Then the graph visualizer can use that information to add a collections list to the tf_node_info info card for any selected variable.

[2016-09-06 13:39] #4219 closed

[2016-09-06 14:01] JulyUp commented on #4125
@wangg12  Thank you very much. It is useful.

[2016-09-06 14:29] pannous commented on #3068
bug confirmed on a box with  cuDNN4.0 CUDA7.5 GTX970

won't-fix/please-get-new-cuda?

[2016-09-06 14:42] jackflips commented on #4098
@jeffxtang You can get rid of those errors by linking with libz. Add libz.1.2.5.tbd in Link Binary with Libraries.

[2016-09-06 15:03] kuza55 opened #4226 "sparse_placeholder doesn't accept shapes with None parts"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

None
1. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.
   0.10.0rc0
### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)

[code]
### What other attempted solutions have you tried?

For

[2016-09-06 15:16] mrry commented on #4138
Thanks for the suggestion - assuming there are no knock-on effects to the full softmax case, we should fix the sample code to avoid the performance pitfall on sampled softmax. I'll assign this to the original author, @lukaszkaiser, in case there's a reason to avoid doing this, but this is probably an area where we'd appreciate contributions.

[2016-09-06 15:28] xu1985129 commented on #4103
Well, first time post on github. @mkolod @martinwicke the problem may be solved by 'sed -i "s/nvccopts = ''/nvccopts = '-D_FORCE_INLINES '/g" './third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl'', which replaces the empty nvccopts with a starting flag '-D_FORCE_INLINES ' from tensorflow root.
However, my environment differences are
CUDA 7.5
GCC 4.9.4
Python 3.5.2 :: Ana

[2016-09-06 15:31] kuza55 opened #4227 "SparseTensor doesn't have get_shape() function"
I've been trying to add SparseTensor support to Keras (https://github.com/fchollet/keras/pull/3695) and one of the issues I've run into is that because of the lack of get_shape() I need to add SparseTensor-specific code.

Luckily so far I've only needed the rank of SparseTensors, so sparse.shape.get_shape()[0] has worked for me, but if I pass in a shape in the sparse_placeholder constructor (https

[2016-09-06 15:32] tomMoral opened #4228 "AttributeError: No svd operator in 0.10.0rc0"
Issue #2207 and [documentation](https://www.tensorflow.org/versions/r0.10/api_docs/python/math_ops.html#svd) both indicate that tensorflow has a svd operator.
However, I can't find it in fresh install of tensorflow0.10 with pip for python3.5 (both cpu and gpu )

### Environment info
Operating System: Linux (arch, kernel 4.7.2)
Pip installed (in two different virtualenv):
* https://storage.googleap

[2016-09-06 15:50] berlogb opened #4229 "Tensors have values set to 0 if code is run on GPU."
Hello team,
I have a strange issue, which very well might be my own fault, but appreciate if somebody could comment on it.
TF 0.10 with CUDA 8
Running code like this on GPU (GeForce GTX Titan X) :

`import tensorflow as tf
import numpy as np
with tf.device("/gpu:0"):
    a = tf.placeholder(tf.float32, shape=[2,2])
    b = tf.placeholder(tf.float32, shape=[2,2])
    r = tf.squared_difference(a, b)

[2016-09-06 16:01] suiyuan2009 commented on #2068
I'll work on this.

[2016-09-06 16:16] gilberthendry commented on #4175
The RandomForest Estimator currently only supports passing one of ['sigmoid_entropy', 'softmax_entropy', 'accuracy', 'r2', 'predictions'] in the accuracy_metric argument of the constructor to use for evaluation. If passing streaming_auc in the metrics argument of evaluate() worked with casted inputs, that's great, but I would be wary that it's giving you the right results.  We pass class probabili

[2016-09-06 16:24] girving commented on #3767
Yep, please close the PR.  Don't close this bug, though; that should wait until @rmlarsen's change is pushed out.

[2016-09-06 16:27] girving commented on #4009
@samjabrahams I'm not sure I follow.  By "way more `tf.cond` operations than reasonable", do you mean 2?  The main advantage of doing it in C++ is nicer error reporting; I don't see any other advantages.

[2016-09-06 17:18] samjabrahams commented on #4009
@girving - not sure why, but last night I thought it would be three. Sorry for that! It may make more sense to just use a `tf.case()` op for the sake extensibility (easier to add GIF/bitmap support).

One final question: what is the best way to throw an error for the default case (bytes not recognized as any available image type)? The easiest thing I can think of right now is simply raising an err

[2016-09-06 17:29] girving commented on #4009
You can use `tf.Assert` to raise errors.  As for `tf.substring_match`: what would it do, and how would it be better than `tf.startswith`?

[2016-09-06 17:48] samjabrahams commented on #4009
Awesome, thanks. `tf.substring_match` would check to see if a selected subsection of a string (or array of strings), `s1`, matches another passed in string, `s2`. It would return true if the substring matches, false otherwise. You can think of `tf.startswith` as a special case of `tf.substring_match`, where the selected subsection is at the beginning of `s1`.

Proposed api:

[code]

[2016-09-06 17:49] cancan101 opened #4231 "variable_scope raise exception if reuse=False and no name_or_scope"
Right now `variable_scope` [raises an exception](https://github.com/tensorflow/tensorflow/blob/5c07198777fd641ffb5f55fa6604050ccf55e8c8/tensorflow/python/ops/variable_scope.py#L1373) if `reuse=True` and there is no `name_or_scope`, but there is no similar error when `reuse=False` (explicitly set and not using default of `None`).

Obviously no error should be raised when `reuse=None` but I think as

[2016-09-06 17:52] girving commented on #4009
@samjabrahams It'd be better to write `tf.substr` and then use `tf.equal`.

[2016-09-06 17:56] zheng-xq commented on #4158
It is unlikely TensorFlow can use NCCL in its current form, as it doesn't fit into TensorFlow's programming and memory model. However, we could implement something similar to leverage the lower-level functionalities. Although I don't have a timeline at this point.

[2016-09-06 17:57] cancan101 commented on #4116
Ping? This seems to cut down the size of the image >1GB.

[2016-09-06 18:00] samjabrahams commented on #4009
@girving Sounds good. Opening up an issue to track `tf.substr`.

[2016-09-06 18:06] samjabrahams opened #4232 "Create tf.substr Op"
Would be useful for a number of purposes, such as extracting data, substring matches (#4009), etc. Proposed API (matches [C++ style substrings](http://www.cplusplus.com/reference/string/string/substr/)):

[code]

[2016-09-06 18:17] davidzchen commented on #4105
@gopi77 - Is there a reason why you are running `./configure` as sudo? Can you try running it without sudo?

@Dapid @nsuke - Can one of you apply the patch I linked in [my comment above](https://github.com/tensorflow/tensorflow/issues/4105#issuecomment-244868298), reproduce the failure, and paste the output that you get as described so that we can get some more state on why the error is happening?

[2016-09-06 18:19] #1888 closed

[2016-09-06 18:19] #3957 closed

[2016-09-06 18:19] #4084 closed

[2016-09-06 18:35] craymichael commented on #4175
Oops let me clarify something; I modified the source of the Estimator so that when get_eval_ops is called it passes the Predictions and Label (using argmax for both, label post one-hot) instead of the probabilities so other metrics could be used. Just remembered I did that earlier and forgot before I posted this. The AUC I've been receiving has been accurate after modification.

Shouldn't the AUC

[2016-09-06 18:37] gopi77 commented on #4105
Hi JimmyKon
I reinstalled bazel, even got fresh clone of tensorflow in different area. But the errors remain
gopi@gp:~/tensorflow$ bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer
.
ERROR: no such package '@local_config_cuda//crosstool': BUILD file not found on package path.
ERROR: no such package '@local_config_cuda//crosstool': BUILD file not found on package path.

Any

[2016-09-06 18:41] gopi77 commented on #4105
the error of ./configure without sudo shown below >>>

gopi@gp:~/tensorflow$ ./configure
Please specify the location of python. [Default is /usr/bin/python]:
Do you wish to build TensorFlow with Google Cloud Platform support? [y/N] N
No Google Cloud Platform support will be enabled for TensorFlow
./configure: line 66: tensorflow/tools/swig/swig_path: Permission denied
Found possible Python library

[2016-09-06 18:41] danijar commented on #2514
Thanks. So I basically need to pass functions into `tf.cond` that do a `tf.identity` and perform the desired calls within the `tf.control_dependencies` of the identity, correct? What about something like this instead:

[code]

[2016-09-06 18:50] tatatodd commented on #338
Indeed 90bad51f97cc32dc9bc8e2ffb3e81b65cec37dfb added support for zlib compressed TFRecords.  Closing this issue out.

[2016-09-06 18:50] #338 closed

[2016-09-06 18:56] okuchaiev commented on #4029
Got this same problem and solution proposed by @rieram seems to work correctly

[2016-09-06 18:59] gilberthendry commented on #4175
Ah ok.  AUC itself shouldn't fail with the same type of inputs, is that what you're seeing?  Can you replicate without RandomForest estimator?

[2016-09-06 19:17] shrutisharmavsco commented on #3480
@jeffxtang  are you noticing a speed decrease running the quantized model vs the non-quantized one?

[2016-09-06 19:43] poxvoculi commented on #4132
I've spent some more time on this, and I have not been able to reproduce your original results since last week.  I've seen highly variable behavior in the execution times (on the order of ~2x, not 10x) and it looks like that's mainly due to threadpool contention (at least in my environment).

Recap: Your model basically tests doing one wide pairwise Op versus a sequential series of narrow pairwise

[2016-09-06 19:43] #4132 closed

[2016-09-06 20:11] nsuke commented on #4105
@davidzchen in my case, it turned out that it works fine as long as I don't modify files under `third_party/gpus` between configure and build.
(It was due to #4233 if that matters)

Here's failure log with your patch:
[code]

[2016-09-06 20:13] craymichael commented on #4175
Yeah it shouldn't and yes it fails for me when using any Estimator when I specify `{'auc': streaming_auc}` as a desired metric. LinearEstimator traceback:

[code]

[2016-09-06 20:16] #4205 closed

[2016-09-06 20:19] trevyn commented on #3338
This gcc internal compiler error appears to be an out-of-memory event; I experienced this using Ubuntu 14.04.5 in a VMware Fusion VM on Mac OS X with the default 1024MB of memory assigned. Increasing VM memory to 8192MB yielded a successful build.

[2016-09-06 20:48] alextp commented on #3907
@pfllo why do you want to accumulate sparse gradients and then add them to a dense variable? Why not having one call of the optimizer per iteration?

@MohammadSamragh you can use a dense variable to store the weights and have efficient code if your gradients are sparse (and stored as indexedslices). What op is producing these gradients as SparseTensors which require a mask?

[2016-09-06 21:05] zheng-xq commented on #4090
@akors, this information is only known to stream-executor, not TensorFlow. It would take quite a bit of plumbing to set that information to TensorFlow. For your use case, would be sufficient to save the log file itself?

[2016-09-06 21:09] andrewharp commented on #4146
We have to plans to provide a basic Java interface as you suggest for inference, which should handle most situations without the need for custom C++ modification.

[2016-09-06 21:11] craymichael commented on #4025
Finally getting around to try and implement this. When I look at the `candidate_split_features` values, I see that I have values from 0 to 86 in a vector the shape of [max_fertile_nodes, num_splits_to_consider]. I'm confused as to what the 87 values correspond to; I input and specify 41 features to the forest so I am confused as to what these numbers represent.

[2016-09-06 21:14] craigcitro commented on #4116
So we actually did this on purpose; totally worth discussing whether or not it's still a good idea. 😉 @vrv @danmane @martinwicke as some folks who may have opinions.

**Why?** The files here make it so that a freshly run container can run a `bazel build` without first having to rebuild the universe. This is explicitly trading bandwidth for computation time, which we thought was worthwhile. If some

[2016-09-06 21:14] danmane commented on #3844
We're discussing adding a third "rotation" to the histogram dashboard, which would be pretty similar to the distribution dashboard. We won't take out the distribution dashboard unless we can solve the same use case in the histogram dashboard.

[2016-09-06 21:52] vladfi1 opened #4234 "Error installing from source."
I'm installing tensorflow from source (git hash 891f8f73cc1967a5c2da89057884bc3dc1f9091a, bazel version 0.3.1).

    ./configure
    bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
    bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg

The first two steps work, but the last one gives an error:

    error: can't copy 'tensorflow/models/em

[2016-09-06 22:03] cancan101 commented on #4116
I am using the Docker image as the environment on a cluster. That means the first time I run a job on a new node, it has to pull the docker image.

[2016-09-06 22:05] davidzchen commented on #4105
@gopi77 Seems that you have some permissions issue in the directory where you have cloned the tensorflow repo. Can you fix your permission issues and try again?

@nsuke Thanks, the debug messages and your explanation are very helpful. Yes, if you modify files under `third_party/gpus`, then Bazel will re-fetch. Since the environment variables read by `cuda_configure` (such as `TF_NEED_CUDA`, etc.)

[2016-09-06 22:10] craigcitro commented on #4116
What are you doing once the machines start up in the cluster? Do they just need the TF library to be available, or are you building something from source?

If they just need TF to be available, you can switch from `gcr.io/tensorflow/tensorflow:devel` to just `gcr.io/tensorflow/tensorflow`, which is a much smaller image (even beyond dropping the bazel cache).

[2016-09-06 22:20] cancan101 commented on #4116
I am using the GPU image. Is there a Dockerfile that I can build myself?

[2016-09-06 22:24] craigcitro commented on #4116
`gcr.io/tensorflow/tensorflow:gpu` should be the image you're looking for. All the existing dockerfiles are in [tensorflow/tools/docker](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/docker).

[2016-09-06 22:36] cancan101 commented on #4116
I would like to build myself since I am would like to build with compute capabilities 3.0 and 3.7.

[2016-09-06 22:42] tatatodd commented on #3860
@jarmstrong2 I hope @ebrevdo 's tip helped you fix your code, and sorry again about the backwards-incompatibility.  I'm closing this out, but feel free to re-open if problems still remain.

[2016-09-06 22:42] #3860 closed

[2016-09-06 22:46] craigcitro commented on #4116
SGTM -- I think @caisq is the person to ask here, since he wrote [this build script](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/parameterized_docker_build.sh). In particular, I think there's a correct set of params to pass there to get precisely what you want: maybe just `GPU` and `NO` for the first two?

[2016-09-06 22:50] zsdonghao opened #4235 "How to implement dynamic network with TensorFlow ?"
Hi, I am trying to implement a dynamic network, which is able to change the network structure according to the input data. Here is an example  https://arxiv.org/abs/1511.02799

I wonder it that possible to use TensorFlow to implement dynamic network?
I think we may need to use placeholder to control the network?

Thank you very much.

[2016-09-06 22:54] cancan101 commented on #4116
I'm not sure what you are suggesting here? I am currently building the Docker image gpu-devel. It looks like the other image expects to install a prebuilt wheel. I like the ability to build from scratch and not rely on e[xternal files](https://github.com/tensorflow/tensorflow/blob/891f8f73cc1967a5c2da89057884bc3dc1f9091a/tensorflow/tools/docker/Dockerfile.gpu#L45).

I was trying to suggest a way o

[2016-09-06 22:55] tatatodd commented on #3913
@dimon777 , I hope the advice above helped you resolve your build issue.  Closing this out as there hasn't been any activity for a while.  Please ping this issue if the problem persists.

[2016-09-06 22:55] #3913 closed

[2016-09-06 23:04] tatatodd commented on #4027
Closing this out due to inactivity.  Please comment with the requested information, so that we can attempt to reproduce, and I will reopen.

[2016-09-06 23:04] #4027 closed

[2016-09-06 23:09] craigcitro commented on #4116
Ah, I think I probably left out a bit of detail.

As you mentioned, what you want is to build the equivalent of the `tensorflow:gpu` build, but with custom flags (different compute capability support), and without depending on the existing `.whl` file on `storage.googleapis.com`.

The way the `:gpu` image is built is by
1. building the `tensorflow:devel-gpu` container,
2. producing a new `.whl` fi

[2016-09-06 23:12] tatatodd commented on #4053
@u4lr451 Have you been able to reproduce on a newer version of TensorFlow?  The latest released version is 0.10.0

[2016-09-06 23:16] cancan101 commented on #4116
The linked ci script might be overkill (?) for this. I would imagine this can be boiled down
1. docker build gpu-devel
2. docker run with volume to copy out the wheel
3. docker build of the gpu image with the wheel in the build context

My initial hope was that with sufficient cleaning of the bazel cache, I could get by with just doing step 1 and having an imagine that was "small enough".

[2016-09-06 23:21] asimonov commented on #4105
I have just pulled the latest version of tensorflow, re-ran ./config and build now works. Not sure if you have applied any fixes...

[2016-09-06 23:27] tatatodd commented on #4126
@malmaud, in addition to a simple example to help us reproduce the issue, you might try adding --alsologtostderr on the command-line of your binary.

[2016-09-06 23:36] jambino commented on #3715
I get the same error. I'm using the code found here:
https://github.com/tensorflow/tensorflow/blob/r0.10/tensorflow/examples/how_tos/reading_data/convert_to_records.py

[2016-09-06 23:41] gilberthendry commented on #4025
The values chosen for candidate_split_features are sampled from a uniform distribution with a max value of num_features as inferred from the second dimension of the input data (assuming we're talking about dense data).  Can you verify the shape of input data, and make sure all the sparse inputs are None.

candidate_split_sums (and other sums like node_sums) store the sum of all the other entries i

[2016-09-06 23:46] craigcitro commented on #4116
Yeah, that makes sense. I'm not sure what the shortest path is, since squash support seems to be [stuck in committee](https://github.com/docker/docker/pull/22641).

It's actually not so bad to do this by flattening an existing container -- it mostly amounts to dropping some files and doing `docker export <big-container> | docker import - <flat-container>` (it's how we built containers for TF at on

[2016-09-07 00:01] tatatodd commented on #4128
@sherrym do you have some feedback on the suggestions from @Hvass-Labs, or suggestions on who might be appropriate?  I'm triaging issues this week, and this is beyond my area of expertise.  Thanks!

[2016-09-07 00:03] shkr commented on #3495
Thanks @jameswex those directions are helpful

[2016-09-07 00:08] tatatodd commented on #4155
Yes, this is a question better suited for StackOverflow.  Please ask it there and tag it with the `tensorflow` tag.  Thanks!

[2016-09-07 00:08] #4155 closed

[2016-09-07 00:10] pfllo commented on #3907
@alextp I am actually doing multi-instance learning, where the gold label is inferred from a bag of instances rather than one instance.

Since different bags usually contain different number of instances, I can't feed a batch of bags directly to the graph in one iteration (I don't want to pad the bags so that each of them will have the same size. This will be very inefficient). Instead, to train w

[2016-09-07 00:31] tatatodd commented on #4176
@ebrevdo can you comment on this?  Thanks!

[2016-09-07 00:40] tatatodd commented on #4178
There's some useful documentation under the "How-Tos" section of the tensorflow.org site.  The one on "Reading Data" is most relevant to your question; in particular look here:
https://www.tensorflow.org/versions/r0.10/how_tos/reading_data/index.html#aside-how-clean-shut-down-when-limiting-epochs-works

FYI we use github issues primarily for bugs and installation issues.  In the future please ask

[2016-09-07 00:40] #4178 closed

[2016-09-07 01:01] tatatodd commented on #4181
The code that manages writing out the events file is tf.train.SummaryWriter (Python), which is defined here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/summary_io.py

It uses the tensorflow::EventsWriter (C++) class to actually write each file:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/events_writer.cc

The underlying file format

[2016-09-07 01:09] tatatodd commented on #4187
Thanks for filing this bug, David!  I'm triaging issues and it seems you might be the most appropriate owner; if not just un-assign yourself and I'll re-triage it.

[2016-09-07 01:12] tatatodd commented on #4193
@ebrevdo can you comment on this?  Thanks!

[2016-09-07 01:18] davidzchen commented on #4105
@asimonov There have not been any fixes that went in for `cuda_configure` since 4c49dbebef05442c7e72d6129a30574fcd13f0e1, which went in 10 days ago and should be related to this issue.

All: If you are experiencing the `'@local_config_cuda//crosstool': BUILD file not found` issue, the most likely cause of the problem is that `cuda_configure` is being re-run during `bazel build` and is re-configuri

[2016-09-07 01:21] davidzchen commented on #4148
@skydoorkai - Are you explicitly specifying the CUDA version when running `./configure`? If not, then most likely, you are hitting #3985.

[2016-09-07 01:32] jambino commented on #3715
I did some digging and it looks like for me, this might be related to the version of the code available from conda-forge. I checked the file:
~/tensorflow/lib/python3.5/site-packages/tensorflow/contrib/learn/python/learn/datasets/mnist.py

Which is where that function comes from and indeed it does not have a reshape argument like the later version do. I'll try reinstalling with pip.

[2016-09-07 01:34] FlorinAndrei commented on #2559
Building TF from source with CUDA 8 currently fails in numerous ways, not all of which have workarounds.

https://github.com/tensorflow/tensorflow/issues/4105

https://github.com/tensorflow/tensorflow/issues/4190

https://github.com/tensorflow/tensorflow/issues/4214

If anyone has a recipe for how to successfully complete the compilation from source, it'd be fantastic. The environment I'm thinking

[2016-09-07 02:00] tatatodd commented on #4196
If I'm understanding you correctly, you are running two instances of the same python program, each in its own process.  I believe that should work.

One simple suggestion is to try with the latest release version 0.10.0.

Otherwise, can you try to boil your problem down to a minimal program that exhibits the failure?  That will either narrow in on the problem, or allow me to reproduce.  Thanks!

[2016-09-07 02:01] moonlightlane commented on #2559
I followed section 6 of this [post](http://www.computervisionbytecnalia.com/en/2016/06/deep-learning-development-setup-for-ubuntu-16-04-xenial/) and succeeded in the second try (I forgot what went wrong in the first try. It might be that something was not right during setup during ./configure phase. If certain combination of configure parameters fails, try cuDNN 5 instead of cuDNN 5.1). You will r

[2016-09-07 02:03] vrv commented on #4196
Actually you probably don't want to be using the same GPU simultaneously from two TensorFlow processes.  It's somewhat safe to pause one while the other uses the GPU, but if they are both actively using the GPU, bad things are likely to happen, I believe.

[2016-09-07 02:03] #4196 closed

[2016-09-07 02:20] tatatodd commented on #4197
Thanks for the report!  I'll update this issue once the fixed documentation has been merged in.

[2016-09-07 02:40] 0bserver07 commented on #4122
I don't think this is tensorflow problem.

the files inside training-giga-fren.tar have been renamed:
After extracting you get this error:
`IOError: [Errno 2] No such file or directory: ...`

ls into the folder of the data downloaded, in the default example it's `/tmp/` and what you will see is this:
[code]

Next, try doing this:

`mv /tmp/giga-fren.release2.fixed.fr.gz /tmp/giga-fren.release2.fr.

[2016-09-07 03:07] tatatodd commented on #4199
I tried to reproduce and ended up with a different error with 9b69ec3960cf9225df557fdc1ab673bd36bde4fb checked out, but don't see errors on the latest 0.10 release.

In general I would recommend using an official release, rather than an arbitrary commit.  FYI the 9b69ec3 commit was on June 6.

Here are instructions on downloading a binary distribution:
https://www.tensorflow.org/versions/r0.10/get

[2016-09-07 03:07] #4199 closed

[2016-09-07 03:56] tatatodd commented on #4200
Somehow you've ended up with inconsistent versions of (at least) these two files:
[code]

Note the following commit on Aug 10, which added the dtype argument to the seq2seq_model.Seq2SeqModel constructor:
https://github.com/tensorflow/tensorflow/commit/0e91b8b4db9c40bc8c45bcc69dd18e03d9f898a3

Based on the stack trace and error, it seems that your version of `translate.py` is after the Aug 10 comm

[2016-09-07 04:03] tatatodd commented on #4201
We primarily use github issues to track bugs and installation issues.  This is a question better suited for StackOverflow.  Please ask it there and tag it with the `tensorflow` tag.  Thanks!

Some links that you may find helpful:
https://www.tensorflow.org/versions/r0.10/how_tos/distributed/index.html
http://stackoverflow.com/questions/38732502/tensorflow-master-and-worker-service/38749421#3874942

[2016-09-07 04:03] #4201 closed

[2016-09-07 04:13] tatatodd commented on #4203
Thanks for filing this bug @david-liu!

Please add the below information to your bug, to help us investigate.  FYI this text is included in the default template for new issues when you click on the green "New issue" button at the top of this page.

Also - have you tried running on the latest 0.10 release?

[code]

[2016-09-07 04:18] tatatodd commented on #4204
Thanks for the self-debugging and documentation of the fix you found!  Please re-open if you run into further issues.

[2016-09-07 04:18] #4204 closed

[2016-09-07 04:25] tatatodd commented on #4206
Thanks for the repro instructions @titusnicolae!  Contributions are welcome!

[2016-09-07 04:36] tatatodd commented on #4208
We primarily use github issues for bugs and installation issues.  This is a question better suited for StackOverflow.  Please ask it there and tag it with the `tensorflow` tag.  Thanks!

FYI you might be interested in https://github.com/tensorflow/models/issues/325, which says that 0.10.0rc0 has some known performance regressions which should be fixed by the actual release.

[2016-09-07 04:36] #4208 closed

[2016-09-07 05:01] tatatodd commented on #4210
I'm not sure about the Python 2.7 / 3.5 issue, or whether that's related either.

Please provide the following additional info.  FYI this also appears in the default template when you click on the green "New issue" button at the top of the webpage for this issue.
[code]

Also - what do you mean by "everything else" in "...python 2.7 for the Mac, and 3.5 for everything else."

[2016-09-07 05:02] tatatodd commented on #4212
We primarily use github issues to track bugs and installation issues.  This is a question better suited for StackOverflow.  Please ask it there and tag it with the `tensorflow` tag.  Thanks!

[2016-09-07 05:02] #4212 closed

[2016-09-07 05:13] tatatodd commented on #4213
Thanks for the note @Huxwell!

@sherrym might have an opinion on this, or know the right person to redirect this to.

[2016-09-07 05:21] tatatodd commented on #4214
Thanks for reporting this bug @FlorinAndrei!  I'm closing this out as a duplicate of #2559 that you've already mentioned; support for cuda 8.0 is the main issue.

[2016-09-07 05:21] #4214 closed

[2016-09-07 05:32] tatatodd commented on #4216
@martinwicke might be able to shed some light on whether this is a bug or not.

[2016-09-07 05:38] tatatodd commented on #4218
@zhaopku Please add the following information - at least the OS / version info.  FYI this is the default template when you click the green "New issue" button on the webpage for this issue.  Thanks!

[code]

[2016-09-07 05:46] zplizzi commented on #4050
Okay, I've submitted a PR adding a note in the docs about this.

@prb12 My `$TF_INC` is `/home/zack/venv/2/local/lib/python2.7/site-packages/tensorflow/include`, since I've installed TensorFlow into a virtual environment. The result of `tf.sysconfig.get_lib()` is `/home/zack/venv/2/local/lib/python2.7/site-packages/tensorflow/core`, as expected from @keveman's comments.

[2016-09-07 05:53] alfa07 commented on #3917
Same intermittent error for me (though I don't see nans):

**Environment**
Ubuntu 16.04
2xTitan X (Pascal)
CUDA 7.5
cudnn 5.1

**gdb**

[code]

[2016-09-07 06:03] RahmadaniBayuAji opened #4240 "3e"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-09-07 06:13] tatatodd commented on #4224
<wild_guess>
I'm guessing that this is because tf.Print is an identity op, which happens to have a side-effect of printing out the data in the second argument.  Identity ops don't have any impact on the gradient computation, and are either dropped when tf.gradients adds ops to the graph, or in some later optimization pass.
</wild_guess>

But @girving would know for sure.

[2016-09-07 06:26] tobegit3hub commented on #446
Thanks @joshburkart for your contribution. Would you mind to close this issue? @zfrenchee @martinwicke

[2016-09-07 06:36] tatatodd commented on #4226
@concretevitamin might know more about this.

[2016-09-07 06:37] tatatodd commented on #4227
Related to #4226, and again @concretevitamin might know more.

[2016-09-07 06:53] wujun commented on #2626
I fixed my problem according to shkr's suggestion

[2016-09-07 06:56] normads opened #4242 "Why is --whole-archive neccesary when building with the session api?"
### Environment info
Operating System:
Linux version 4.8.0-rc1-ga0cba21

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)
Building a project using the C++ session API fails without the --whole-archive option but this slows down the linking process immensely and the output binaries are huge (by embedded systems standards). W

[2016-09-07 06:56] asimonov commented on #4105
interesting…

I just did a pull, re-ran configure then checked that crosstool is there:

AlexPro:tensorflow alex$ ls -l $(bazel info output_base)/external/local_config_cuda
total 8
-rw-r--r--   1 alex  wheel  116  7 Sep 00:05 WORKSPACE
drwxr-xr-x   5 alex  wheel  170  7 Sep 00:05 crosstool
drwxr-xr-x  11 alex  wheel  374  7 Sep 00:05 cuda

then started the build

bazel build -c opt --config=cuda /

[2016-09-07 06:59] asimonov commented on #4105
ah, just found the build error:

ERROR: /Users/alex/dev/tensorflow/tensorflow/stream_executor/BUILD:5:1: C++ compilation of rule '//tensorflow/stream_executor:stream_executor' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command external/local_config_cuda/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc '-D_FORTIFY_SOURCE=1' -fstack-protector -fcolor-diagnostics -Wall

[2016-09-07 07:13] tatatodd commented on #4228
Thanks for the note @tomMoral!

Note that the in "0.10.0rc0" the "rc" stands for "release candidate", which is a preliminary version cut before the actual 0.10 release, to shake out issues.  Support for tf.svd was added after 0.10.0rc0 was cut, which is why it doesn't show up in your installs.

Try one of the following instead for either cpu or gpu installs:
https://storage.googleapis.com/tensorfl

[2016-09-07 07:13] #4228 closed

[2016-09-07 07:32] tatatodd commented on #4229
A couple of shots in the dark:

1. Try installing version 0.10 rather than 0.10.0rc0.  We haven't officially released 0.10 yet, but there have definitely been fixes applied since the rc "release candidate".  See the following for details on installation of 0.10; the instructions are different from "master" since 0.10 isn't officially released yet.
https://www.tensorflow.org/versions/r0.10/get_star

[2016-09-07 07:33] akors commented on #4090
@zheng-xq Well, is there a way for me to get it from stream-executor?
I guess the log file would work, although it's not an ideal solution.

[2016-09-07 07:45] LinJM opened #4243 "CTC ERROR: Saw a non-null label (index >= num_classes - 1) following a null label, batch: 0 num_classes: 12 labels: 2,10,5,1"
I use TF rc 0.10 to run a project (https://github.com/synckey/tensorflow_lstm_ctc_ocr), but the program raise a error:
Invalid argument: Saw a non-null label (index >= num_classes - 1) following a null label, batch: 0 num_classes: 12 labels: 2,10,5,1

what does it mean?

[2016-09-07 07:47] tatatodd commented on #4231
This is a bit complicated, and I'm not sure I fully understand it, but I believe the explanation of this is here, in the paragraph that starts with "Note that you cannot set the reuse flag to False."
https://www.tensorflow.org/versions/r0.10/how_tos/variable_scope/index.html#basics-of-tf-variable-scope

Let me know if that answers your question; if not just ping this issue.

[2016-09-07 07:49] hholst80 opened #4244 "Feature request: Docker image build (parameterized_docker_build.sh) lacks option for AVX2 optimization"
As far as I can understand there is no way to tell the script `parameterized_docker_build.sh`  to build an AVX2 optimized docker image.

I see a note about Python 2 and 3 but nothing about AVX2:
[code]

[2016-09-07 07:49] tatatodd commented on #4235
We primarily use github issues to track bugs and installation issues.  This is a question better suited for StackOverflow.  Please ask it there and tag it with the `tensorflow` tag.  Thanks!

[2016-09-07 07:49] #4235 closed

[2016-09-07 07:52] hholst80 opened #4245 "Docker build parameterized_docker_build.sh breaks on cURL ssl issue"
I checked out 2ab7e6326296987ea0ce975afb3434a16d1aa21a, set some options,
[code]
and then executed the Docker build script:
[code]
I from there got an error:
[code]

[2016-09-07 07:58] tatatodd commented on #4234
I recommend that you pick a release branch, rather than something so close to HEAD, which may exhibit arbitrary failures.  We try to keep HEAD working at all times, but inevitably issues creep in.

To clone at the latest official release (0.10.0rc0) run the following.  Note that 0.10 hasn't been officially released yet; the "rc" means that this is a release candidate:
[code]

Feel free to re-open

[2016-09-07 07:58] #4234 closed

[2016-09-07 08:04] tomrunia opened #4246 "tf.train.Coordinator not closing threads"
I am using a number of threads to feed training examples to a `tf.RandomShuffleQueue`, however gracefully closing the threads seems not to be working nicely. This is related to https://github.com/tensorflow/tensorflow/issues/2130 and [this question on StackOverflow](http://stackoverflow.com/questions/36210162/tensorflow-stopping-threads-via-coordinator-seems-not-to-work) however I am wondering whe

[2016-09-07 08:19] ohmystack opened #4247 "Which TensorFlow-Slim is the "real" one?"
I have found 3 TensorFlow-Slim in repo `tensorflow/tensorflow` and `tensorflow/model`

* (tensorflow/tensorflow) [`tensorflow.contrib.slim`](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/slim)
* (tensorflow/model) [`model.slim`](https://github.com/tensorflow/models/blob/master/slim)
* (tensorflow/model) [`model.inception.inception.slim`](https://github.com/tensorflow/mode

[2016-09-07 08:24] ohmystack commented on #4247
cc @nathansilberman @lukaszkaiser @sguada

[2016-09-07 08:36] Dapid commented on #4105
@davidzchen I updated the repo (branch r0.10), applied the patch, and here are the results:

[code]

[2016-09-07 08:38] nightinwhite opened #4248 "Dose CTC need SOFTMAX?"
It seems CTC dose not need SOFTMAX in many example,so how it works?,and if ctc_loss itself has a SOFTMAX,dose it share SOFTMAX with ctc_greedy_decoder,I mean if there is no SOFTMAX how can I use it to predict ?
Thanks for any help

[2016-09-07 09:02] kakashidan commented on #3628
I also have the same problem. @petewarden

[2016-09-07 09:27] smitec commented on #4135
Also running into this on 0.10.0rc0 (and nightly) on ubuntu 14.04 and python 3.5

[2016-09-07 09:32] gopi77 commented on #4105
Hi

I tried cloning the latest code and followed the steps as pe https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#installing-from-sources

Now the ./configure & bazel build are success, but some other failure, pasted below.

gopi@gp:~/tensorflow$ bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer
....
....
....
Target //tensorflow/cc:tutorials_example_tra

[2016-09-07 09:38] berlogb commented on #4229
Hi
Thank you, discovered yesterday an interesting thing. It actually started working magically after some time and it seems that at the time when it wasn't working correctly, the colleague of mine was running something on the same GPU which occupied almost all memory. When that task was stopped , my example worked as expected.
So, it seems to be related to memory usage of GPU. Though, it's a bit s

[2016-09-07 09:49] FBrinkkemper commented on #4105
Not entirely sure if it is the same issue, but I'm also receiving a BUILD file not found on package path error.

`~$ bazel test //home/Documents/magenta-master/magenta
ERROR: no such package 'home/Documents/magenta-master/magenta': BUILD file not found on package path.`

Iḿ using Bazel 0.3.1 on Ubuntu 16.04

[2016-09-07 09:57] martinwicke commented on #4172
Send a PR with the fixes? @petewarden can you review that PR?

[2016-09-07 10:00] martinwicke commented on #4091
Looks like that commit didn't make it into 0.10. Don't worry, 0.11 is going to contain it.

[2016-09-07 10:00] #4091 closed

[2016-09-07 10:02] martinwicke commented on #4165
It's just a warning, and it's an easy fix. Just rename the boringssl repo in the tensorflow workspace, and the dependent rules accordingly. We jus haven't gotten around to it. PRs welcome.

An update to bazel may break the TensorFlow build, at which point we will be bery motivated to fix this quickly.

[2016-09-07 10:08] martinwicke commented on #3569
@aehlig let me know when a fix is available in bazel and when that would hit a release so we can recommend a new minimum version.

[2016-09-07 10:16] tenscraft opened #4249 "Inception-v3 checkpoint - Tensor name not found"
Trying to run the Inceptionv3 Tensorflow model with the architecture and the checkpoint provided by Google [here](https://research.googleblog.com/2016/08/improving-inception-and-image.html).

The issue is that tensorflow crashes on `saver.restore(sess, "./inception_v3.ckpt")` with the following error:

`tensorflow.python.framework.errors.NotFoundError: Tensor name "InceptionV3/Mixed_5b/Branch_1/Co

[2016-09-07 10:26] marcoadurno commented on #3460
@martinwicke, is the gist close to what you had in mind?
[Estimator and moving average of trained variables](https://gist.github.com/marcoadurno/1359e49e50a9237b68181a29d104af8c)

A few points worth mentioning:

- There  is no need to explicitly add the shadow variables to the VARIABLES collection. [This is automatically done.](https://gist.github.com/marcoadurno/1359e49e50a9237b68181a29d104af8c#f

[2016-09-07 10:44] ReaddyEddy opened #4250 "Warning produced by Logging and Monitoring Basics with tf.contrib.learn example"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
Similar issue here:
1. http://stackoverflow.com/questions/39249704/tensorflow-valueerror-duplicate-feature-column-key-found-for-column
2. have tried example at
https://www.tensorflow.org/versions/master/tutorials/monitors/index.html
still exhibits same issue
3. I will look at github deltas

[2016-09-07 12:33] #4240 closed

[2016-09-07 13:49] #446 closed

[2016-09-07 14:05] craymichael commented on #4025
Oh thanks for clarifying `candidate_split_sums`, I should've figured that one out. As to `candidate_split_features`, I made the assumption that the parameter I set would be used as the max features; counting the degrees of freedom (embeddings) for each categorical feature gave me 87 inputs, which is correct.

Follow up question, how do I decipher which feature is which? I input the features in the

[2016-09-07 14:16] puchiko939393 commented on #254
HI, would you like to make version10 of tensorflow on Pi? Because i want to try object recognition.Thanks.

[2016-09-07 14:21] danbri commented on #3469
@petewarden any thoughts?

[2016-09-07 14:31] jakubsimanek opened #4251 "pip installation 0.10.0 requires cuDNN v5, not cuDNN v4"
[Download and Setup, Pip installation instructions for 0.10.0](https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#pip-installation) say that `Ubuntu/Linux 64-bit, GPU enabled, Python 2.7` version `Requires CUDA toolkit 7.5 and CuDNN v4.`,

That setup results in:

`E tensorflow/stream_executor/cuda/cuda_dnn.cc:347] Loaded runtime CuDNN library: 4007 (compatibility version 4000) but

[2016-09-07 14:42] shrnjad opened #4252 "make -f tensorflow/contrib/makefile/Makefile for iOS is failing"
Probably related to [issue 2896](https://github.com/tensorflow/tensorflow/issues/2896)

I am trying to build tensorflow on a mac for iOS. The first two commands work well:
`tensorflow/contrib/makefile/download_dependencies.sh`
and
`compile_ios_protobuf.sh`

However, when I call
`make -f tensorflow/contrib/makefile/Makefile \
 TARGET=IOS \
 IOS_ARCH=ARM64`

I receive a linker error:

  "tensorflow:

[2016-09-07 15:15] terrytangyuan commented on #4250
You can change the logging level if you want to avoid them.

[2016-09-07 15:19] samjabrahams commented on #254
Hi @puchiko939393, I'm planning on building wheels for TensorFlow 0.10 as soon as it's officially released. There is only a release candidate at this time (0.10RC0), so I'm holding off until then. Feel free to use the [guide to build it yourself](https://github.com/samjabrahams/tensorflow-on-raspberry-pi/blob/master/GUIDE.md) if you simply can't wait!

[2016-09-07 15:25] cshallue commented on #4148
I had this issue and fixed it by explicitly specifying the CUDA version (8.0) when running ./configure.

[2016-09-07 15:40] martinwicke commented on #4148
I'm closing this as a duplicate of #3985.

[2016-09-07 15:40] #4148 closed

[2016-09-07 15:43] martinwicke commented on #4216
These dependent files need to be upgraded to work with TensorFlow at head. @calberti @kirilg you should update the files. I don't think this should be fixed in tensorflow/tensorflow but we'll see.

@damienmg what is the proper way to use TensorFlow as a dependency in a workspace now?

[2016-09-07 15:49] martinwicke commented on #3460
That looks right to me. Nicely done.

On Wed, Sep 7, 2016 at 3:28 AM, marcoadurno <notifications@github.com>
wrote:

[2016-09-07 16:09] damienmg commented on #4216
This is the correct way (although the two parameters of tf_worskpace are going away) Unfortuntately, https://github.com/tensorflow/tensorflow/pull/4055 got rolled-back because of an internal breakage. I've rolled it forward as cl/131951691 but it does seems to have hit the github repository yet.

[2016-09-07 16:14] JohnnyY8 opened #4253 "How can I use dropout on input layer?"
Hi everyone:
I try to combine softmax classifier and dropout algorithm, because there are only input layer and classfier. According tutorial, I want to use dropout on input layer like following:
![image](https://cloud.githubusercontent.com/assets/12611573/18319468/6cd13298-7558-11e6-997d-0f87349b0015.png)
But I got the following error:
Traceback (most recent call last):
  File "softmax.py", line 2

[2016-09-07 16:14] alextp commented on #3907
@pfllo ah I see. Doing what you're doing then seems to be ideal. Do you think the API should be simpler?

[2016-09-07 16:34] martinwicke commented on #4216
I do see your changes to workspace.bzl and the empty //BUILD file though. I
think it is in then.

On Wed, Sep 7, 2016 at 9:11 AM, Damien Martin-Guillerez <
notifications@github.com> wrote:

[2016-09-07 16:36] tatatodd commented on #4229
I see, I think #4196 is also related, wrt concurrent usage of the same GPU.

@zheng-xq can you comment on the failures modes we're likely to see when the same GPU is used concurrently?  And also whether we can prevent these problems, or at least provide better errors?  Empirically in this case we seem to silently get bad results, while in #4196 we seem to either get bad results or strange errors.

[2016-09-07 16:43] damienmg commented on #4216
Oh good let me try then.

On Wed, Sep 7, 2016 at 6:36 PM Martin Wicke <notifications@github.com>
wrote:

[2016-09-07 16:43] tatatodd commented on #4224
@rmlarsen probably knows whether my explanation had any truth behind it.  Sorry for the redirects; I'm just getting ramped up on everything, and want to make sure the answer is correct.  Thanks!

[2016-09-07 16:49] damienmg commented on #4216
Ok I still have a bug on my side.  I will investigate tomorrow and update https://github.com/tensorflow/serving/pull/166 as it goes.

[2016-09-07 16:49] nishanthgs commented on #4127
Still trying on this one.
There are few dependencies mentioned in tensorflow.bzl and WORKSPACE that are already installed for other applications that is the reason for using those custom paths.

[2016-09-07 16:53] tatatodd commented on #4174
FYI a related issue is https://github.com/tensorflow/tensorflow/issues/2598

@rmlarsen can you comment on whether multiple derivatives of `bias_add` would be feasible?  Thanks!

[2016-09-07 17:20] gilberthendry commented on #4025
_ParseDense does a sorted(data.keys()) when concatenating dense inputs, so you'll get a consistent ordering according to python sort.

There are two maps - node_to_accumulator_map and accumulator_to_node_map that let you translate between node id and accumulator id (a node assigned to an accumulator is growing).  The accumulator id is then used to index into e.g. candidate_split_features, candidat

[2016-09-07 17:54] clo-dan opened #4255 "iOS memory warnings"
I tried posting this to SO first and it's been there a week with no activity: https://stackoverflow.com/questions/39255211/tensorflow-ios-memory-warnings

We are building an iOS app to perform image classification using the TensorFlow library.

Using our machine learning model (91MB, 400 classes) and the TensorFlow 'simple' example, we get memory warnings on any iOS device with 1GB of RAM. 2GB mod

[2016-09-07 17:56] zheng-xq commented on #4229
TensorFlow should definitely report error in this case. It will try to grab all the memory it can get from the system, and if that fails, that should be fatal.

Are you using a recent Cuda driver? We've had several incidents with older Cuda drivers. One remote possibility is that the Cuda driver gives the same memory to multiple running processes, and they all thought they own the memory.

[2016-09-07 18:05] tanayz opened #4256 "Tensorflow in Azure ML"
I've so far seen people using tensorflow in Azure using in this [link](http://www.mikelanzetta.com/tensorflow-on-azure-using-docker.html).
Also using the advantage of ubuntu in windows tensorflow can be run on
windows pc as well.Here is the [link](http://www.hanselman.com/blog/PlayingWithTensorFlowOnWindows.aspx).
However during a conversation with Windows Azure engineer Hai Ning it came out
that

[2016-09-07 18:37] aselle commented on #4256
Others probably have more insight on this, but there is a windows version forthcoming (see #17).

[2016-09-07 19:46] craymichael commented on #4025
Thanks so much for the help! I don't see the `accumulator_to_node_map` variable you mentioned when I look at all the model's variables. It's not in my way right now but just thought you should know.

[2016-09-07 19:52] berlogb commented on #4229
Might be, I'm running 361.77 nvidia driver which seems to be a bit old.

[code]

[2016-09-07 20:43] danijar commented on #2444
Hi, what's the status of this?

[2016-09-07 21:29] mrry commented on #4256
Just a small observation: [Azure ML](https://azure.microsoft.com/en-us/services/machine-learning/) is a fully managed service. Even when TensorFlow runs on Windows, you'd have to ask the people who manage that service to add TensorFlow to the set of modules that Azure ML exports.

If you want a managed cloud service that does offer TensorFlow support, the [Google Cloud ML](https://cloud.google.com

[2016-09-07 21:56] vladfi1 commented on #2423
Any chance we could get a categorical distribution? This would make things like sampling from RNN language models much simpler.

[2016-09-07 22:13] mrry commented on #4242
TensorFlow uses a static registration mechanism (in particular behind the `REGISTER_OP()` and `REGISTER_KERNEL_BUILDER()` macros) in the implementation of the kernel library, and the default build rules create a single binary that contains all kernels. Without `--whole-archive`, these static registrations would be stripped, and the kernels would not be registered. See [this Stack Overflow answer](

[2016-09-07 22:29] keonkim opened #4257 "Move all model implementations to tensorflow/models ?"
If I am correct, tensorflow.models is being deprecated.
But some model implementations are still kept inside this directory because of tensorflow tutorials.
I think it would be more straight forward and relevant to keep all the model implementations in tensorflow/models repository.

(This is a same issue discussed in [tensorflow/models issue 361](https://github.com/tensorflow/models/issues/361).)

[2016-09-07 22:50] aaalgo commented on #4252
I see the same issue when using makefile to produce Linux binary.  Indeed similar to issue 2896.

[2016-09-07 23:07] concretevitamin commented on #4227
We very much welcome a PR for this.  Should just be an alias of `def shape(..)`, I think.

[2016-09-07 23:23] mkolod opened #4259 "Command line processor fails silently on mistyped args"
### Problem:

The command line processor doesn't raise exceptions when the existing flags that are in common use throughout TensorFlow (at the very least by convention) are mistyped. For example, let's take

    --num_gpus

which is frequently encountered, e.g. in Inception v3, CIFAR-10, etc. If I type a single dash instead of two, the CLI arg processor just picks up whatever the default value is

[2016-09-07 23:25] #3994 closed

[2016-09-07 23:33] vrv commented on #4259
My personal suggestion is to not use tf.flags and to just use argparse / your own solution.  As far as I know, it was provided for convenience, but it's more of a maintenance burden for us than it's worth, and we might remove it.  We don't want to be in the flags library business ;)

[2016-09-07 23:33] #4259 closed

[2016-09-07 23:53] kuza55 commented on #4227
I don't think this is just an alias of def shape(..) since get_shape() returns the value through shape inference without running the graph; this is pretty close to the code that should be fixed for #4226 so hopefully this can be resolved in the same pass.

[2016-09-07 23:54] danmane commented on #4181
It's close to recordio, but it is actually "tfrecord" It has a few differences from recordio so a standard recordio reader won't work.

If you want to write events without using the python api, you should use the tensorflow::EventsWriter class, like tatatodd suggested.

Please feel free to submit a pull request improving the documentation :)

[2016-09-08 00:18] tatatodd commented on #4242
Thanks for the detailed response @mrry, and hope that helps @normads!

I'm closing this out, but if you have further issues just reopen this bug.  Note that we use github issues primarily for bugs and installation issues; please ask general questions on StackOverflow and tag with the `tensorflow` tag.  Thanks!

[2016-09-08 00:18] #4242 closed

[2016-09-08 00:24] mrry commented on #4246
It sounds like your code is almost identical to a `tf.train.QueueRunner` - which takes care of this exception handling - with the exception that it *feeds* values to the `sess.run()` call that runs `enqueue_op`. Perhaps the experimental [`FeedingQueueRunner`](https://github.com/tensorflow/tensorflow/blob/7e7dff529fd35edea443580d58e95f5de39b5356/tensorflow/contrib/learn/python/learn/dataframe/queue

[2016-09-08 00:24] tatatodd commented on #4243
@LinJM I see that you've already filed a similar issue under the synckey repo, which is great!

In general it's hard for us on tensorflow to provide support for third-party programs.  I do hope you get your issue figured out!