[2018-03-31 23:40] srvasude commented on #18003
Hi,
  Great question! We have some work progressing on this (and I hope we can give an update in the near future on this).

Might I ask you to close this issue, and file it again in https://github.com/tensorflow/probability? We've been focusing / moving our code and efforts in to this repo (as you might notice the HMC code has moved there), and it would be good to keep the issue tracking there (an

[2018-03-31 23:48] jart commented on #18096
@vrv wrote `inter_op_parallelism_threads`. This is a feature request that additional `tf.ConfigProto` fields be added that let us do this in a deterministic way on NVidia hardware.

It's possible #16889 can be rolled into this issue. @ekelsen did work relating to determinism in #12871. @drpngx closed a "we trade determinism for speed" doc contribution in #10636, saying we're working on the problem

[2018-03-31 23:56] alichtl commented on #18003
Awesome- thanks Srinivas! I opened the issue over at https://github.com/tensorflow/probability/issues/8, and will close this one out.

[2018-03-31 23:56] #18003 closed

[2018-03-31 23:57] cczhong11 commented on #17945
I also met this bug when I did a simple CNN network with keras and tensorflow 1.6. The code could run successfully with tensorflow 1.5.

[2018-04-01 01:05] moimart commented on #11085
+1

[2018-04-01 03:39] Goddywu opened #18156 "Broken links of assignment 1:https://commondatastorage.googleapis.com/books1000/"
The download link for "notMNIST_large.tar.gz" and "notMNIST_small.tar.gz" is broken. Can u provide other download link and edit [the file of assignment 1](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/udacity/1_notmnist.ipynb).

-----------------

Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHu

[2018-04-01 03:46] #18156 closed

[2018-04-01 05:21] arassadin commented on #17914
Hi @samikama ,

Following the Installation Guide, I install TensorRT from the repo and purged the previous binaries (also updated linker paths). Unfortunately, result is the same.

[2018-04-01 05:31] martinwicke commented on #17634
You indicated you installed TF from source. Please let us know which compiler you used, and the configuration (your bazel.rc).

Ideally, could you try to not install from source just to ensure that whatever problem this is is caused by the build?

[2018-04-01 05:32] etemiz commented on #15604
This worked for me:

Download CUDA Toolkit 9.0 from NVidia previous releases section.
Then:

sudo dpkg -i cuda-repo-ubuntu1604-9-0-local_9.0.176-1_amd64.deb
sudo apt-key add /var/cuda-repo-9-0-local/7fa2af80.pub
sudo apt-get update
sudo apt-get install cuda-9.0

Notice 9.0 at the last line above.

export LD_LIBRARY_PATH=/usr/local/cuda-9.0/lib64

[2018-04-01 05:33] martinwicke commented on #16152
Thanks!

[2018-04-01 06:12] facaiy commented on #18144
@nthakor Hi, if #17480 is merged, would you like to specify the output shape by youself?

[2018-04-01 06:25] tensorflowbutler commented on #18151
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-01 06:25] tensorflowbutler commented on #18152
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-01 06:57] fat-tire commented on #18152
No custom code.  This was building TF from source on Ubuntu.  origin/master branch.  bazel release 0.11.1.  No CUDA/cuDNN.  No GPU at all.

Exact commands to reproduce the error is a simple build as described in the "building from source" instructions.

Cheers

[2018-04-01 07:53] AmritbaniKaur commented on #1790
My PyCharm is not getting tensorboard, when i use: tensorboard --logdir="logs\" . It gives:
error: 'tensorboard' is not recognized as an internal or external command, operable program or batch file.
^-- the env set in Pycharm setting has tensorboard packages located at: envs\tensorflow\Lib\site-packages\tensorflow\contrib\tensorboard
and
envs\tensorflow\Lib\site-packages\tensorboard

but, as state

[2018-04-01 07:55] soloice commented on #17510
Because the "input" is computed from previous step and cannot be fetched beforehand. The author may want to emphasize that this cell has no additional inputs.

Looking forward to your implementation.

[2018-04-01 08:14] boeddeker commented on #14995
@drpngx This problem is still there. I only got no answer how to fix this problem. So as @tensorflowbutler alwais mention: `awaiting tensorflower`

One solution would be, that the following code is executable in python 3:
[code]
but an argument against it is, that `compat.as_bytes` has nothing to do with paths.

Another solution would be to use the code that I wrote initially (i.e. swap `as_bytes`

[2018-04-01 08:15] imzhengk commented on #17022
now，it's ok.

[2018-04-01 08:53] nthakor commented on #18144
@facaiy Sure. That will resolve my issue.

[2018-04-01 09:21] dhinar1991 opened #18157 "Failed to convert object of type <class 'werkzeug.datastructures.File.Storage> to tensor."
This is my client python file that uses flask framework to create REST api.  I am running this inside a docker machine. So this take an input .txt file and read the contents of it.

[code]

When i try too run it produces error,
![capture](https://user-images.githubusercontent.com/26268279/38171661-117fa570-35bc-11e8-9f12-dd6242552794.JPG)

Is this a bug?

[2018-04-01 09:51] matiji66 commented on #8164
yes， `writer = tf.summary.FileWriter(log_dir, sess.graph) ` solve my problem.

[2018-04-01 10:09] xijuUu commented on #18136
There is the same problem in my Manjaro too. I can find libcublas.so.9.1. I guess I should install cuda9.0 instead of 9.1? But it seems yaourt command cannot install older version......

[2018-04-01 10:28] calicratis19 commented on #17468
I'm facing the same issue with mobilenet.

The command to generate tlite file

[code]
The log of the error.
[code]

[2018-04-01 10:34] jw2100 opened #18158 "Centos: C++, No OpKernel was registered to support Op 'RandomUniform' with these attrs."
OS Platform : Cestos7
python:2.7
gcc:4.8
TensorFlow installed from source
tf version : ('v1.4.0-19-ga52c8d9', '1.4.1')
Bazel version:N/A
CUDA Version 8.0.61
CUDNN_MAJOR : 6
GPU model and memory: 22912MiB*4

Invalid argument: No OpKernel was registered to support Op 'RandomUniform' with these attrs.  Registered devices: [CPU], Registered kernels:
  <no registered kernels>
[[Node: loss/transitions/I

[2018-04-01 10:39] raintung commented on #17698
Update the code in the github try to fix it. Please check it.
https://github.com/raintung/TensorflowPatch/blob/master/v1.6/java/src/main/native/session_jni.cc

[2018-04-01 11:14] #18085 closed

[2018-04-01 11:24] dhinar1991 commented on #11974
I have a completely different error that says

Failed to convert object of type <class 'werkzeug.datastructures.File.Storage> to tensor.

below is the client file with flask framework for tensorflow serving running inside a docker.
[code]

[2018-04-01 12:01] everttrollip commented on #11037
If you are still struggling, and experiencing this issue:

`ERROR: virtualenv is not compatible with this system or executable`

Have you tried installing virtualenv with conda and trying again?

`conda install virtualenv`

[2018-04-01 12:02] everttrollip commented on #2554
If you are still struggling, and experiencing this issue:

`ERROR: virtualenv is not compatible with this system or executable`

Have you tried installing virtualenv with conda and trying again?

`conda install virtualenv`

[2018-04-01 12:29] tensorflowbutler commented on #16997
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:29] tensorflowbutler commented on #16572
Nagging Assignee @itsmeolivia: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:30] tensorflowbutler commented on #16793
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:30] tensorflowbutler commented on #16795
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:30] tensorflowbutler commented on #16803
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:30] tensorflowbutler commented on #16813
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:30] tensorflowbutler commented on #16851
Nagging Assignee @gargn: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:30] tensorflowbutler commented on #16932
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:30] tensorflowbutler commented on #16937
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:30] tensorflowbutler commented on #16943
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:30] tensorflowbutler commented on #16964
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:30] tensorflowbutler commented on #16972
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:30] tensorflowbutler commented on #16542
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:30] tensorflowbutler commented on #17006
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:30] tensorflowbutler commented on #17024
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:31] tensorflowbutler commented on #17056
Nagging Assignee @benoitsteiner: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:31] tensorflowbutler commented on #17135
Nagging Assignee @MarkDaoust: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:31] tensorflowbutler commented on #17221
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:31] tensorflowbutler commented on #17275
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:31] tensorflowbutler commented on #17317
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:31] tensorflowbutler commented on #17327
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:31] tensorflowbutler commented on #17493
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:31] tensorflowbutler commented on #17650
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:31] tensorflowbutler commented on #17784
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:31] tensorflowbutler commented on #17787
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:31] tensorflowbutler commented on #17793
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:31] tensorflowbutler commented on #14171
Nagging Assignee @yzhwang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:31] tensorflowbutler commented on #4809
Nagging Assignees @suharshs, @prb12: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:32] tensorflowbutler commented on #7876
Nagging Assignee @sherrym: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:32] tensorflowbutler commented on #10439
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:32] tensorflowbutler commented on #10685
Nagging Assignees @gunan, @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:32] tensorflowbutler commented on #10749
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:32] tensorflowbutler commented on #10837
Nagging Assignee @mrry: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:32] tensorflowbutler commented on #11651
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:32] tensorflowbutler commented on #12301
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:32] tensorflowbutler commented on #12851
Nagging Assignee @mrry: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:32] tensorflowbutler commented on #13433
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:32] tensorflowbutler commented on #13549
Nagging Assignee @dr4b: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:32] tensorflowbutler commented on #13565
Nagging Assignee @wolffg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:32] tensorflowbutler commented on #14107
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:32] tensorflowbutler commented on #4638
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:33] tensorflowbutler commented on #14663
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:33] tensorflowbutler commented on #15140
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:33] tensorflowbutler commented on #16138
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:33] tensorflowbutler commented on #16150
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:33] tensorflowbutler commented on #16390
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-01 12:33] tensorflowbutler commented on #16466
Nagging Assignee @chihuahua: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:33] tensorflowbutler commented on #16497
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:33] tensorflowbutler commented on #16502
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 12:33] tensorflowbutler commented on #16532
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-01 15:15] lgeiger commented on #16593
@joel-shor Thanks for the fast response and the updated link.

Sorry, I should've been more clear in my comment above. I was talking about the distinction between training and inference of the different models **during** adversarial training.
Meaning the generator should work in inference mode during the discriminator updates and vice versa. This is also how [this DCGAN implementation](https://tow

[2018-04-01 15:38] arassadin commented on #17914
Whether I understand right that I can obtain pre-built wheel with TensorRT support?

[2018-04-01 16:05] apuayush commented on #1244
Any concrete solution we have for this problem. I am struggling with it for quite some time now

[2018-04-01 17:32] B3N50N commented on #17941
well the only different part of success and fail vertion are the size of the wieght
and i'm sure i did it correct but i can still post my code here
https://gist.github.com/B3N50N/aafd02d4c70cc7d24ce45c5fe472555f

[2018-04-01 17:52] malithakabir commented on #6341
the __init__.py file is missing in site-packages/google directory. creating an empty __init__.py file there should work. thanks. @fangbq

[2018-04-01 18:01] rryan commented on #17825
Thanks @BinhBob and sorry for the trouble. This was a bug in Eigen and should be fixed in https://github.com/tensorflow/tensorflow/commit/67ff23036e093343a7ea02e17f36f2b02eaae740, which is included in TensorFlow 1.6.

[2018-04-01 18:07] drpngx commented on #14995
Do you have a PR in mind you want to send?

[2018-04-01 18:11] boeddeker commented on #14995
I can open a PR, when someone says which solution.

[2018-04-01 18:20] drpngx commented on #14995
Deferring to @sukritiramesh

[2018-04-01 18:28] rryan commented on #17825
Running your example on TensorFlow 1.6:
[code]

[2018-04-01 18:40] tensorflowbutler commented on #18157
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-01 18:40] tensorflowbutler commented on #18158
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow version
CUDA/cuDNN version
Exact command to reproduce

[2018-04-01 18:59] calledbymountains commented on #18136
There are only two following possibilities

1.  You have used `pip install` or ` conda install` of TensorFlow compiled for Cuda version 9.0 ; while you do not have that on your system.

2. You have Cuda version 9.0 version but it is not added to the system path.

For the first possibility you have to install TensorFlow compiled for the Cuda version on your system.

For the second possibility you h

[2018-04-01 19:48] mycaule commented on #17411
Same here.

[2018-04-01 20:31] anton-matosov commented on #10685
This issue was fixed by #17396

[2018-04-01 21:20] zerok01 opened #18163 "cannot import name bayesflow Error"
Hi,
I get the error I mentioned in the title. I did a search on Google and I usually found a solution to update dask. I updated Dask to version 0.17.2 but I still get the same error. I can not import BayesFlow. The Tensorflow version is 0.12.1. Thanks for the answers ...

Code :
from tensorflow.examples.tutorials.mnist import input_data
mnist = input_data.read_data_sets("/tmp/data/")

OS : Ubuntu

[2018-04-01 23:08] alphaCTzo7G commented on #17419
@fchollet  May I take a look at this, or have you already solved this? This would be my first issue..

[2018-04-02 00:49] kirk86 opened #18165 "eager execution not working with placeholders"
------------
### System information
- **Have I written custom code: Yes**:
- **OS Platform and Distribution (Linux Ubuntu 16.04)**:
- **TensorFlow installed from (binary)**:
- **TensorFlow version (1.7)**:
- **Python version (3.6)**:
- **CUDA/cuDNN version (9.0/7.0.)**:
- **GPU model and memory (1080 Ti)**:

### Describe the problem
I get the following error when I use eager execution on a simple

[2018-04-02 02:25] Geek-Peng opened #18166 "Tensorboard has takew"

[2018-04-02 02:38] Geek-Peng commented on #18166
error messages are as follows：
Traceback (most recent call last):
  File "e:\anaconda\lib\runpy.py", line 184, in _run_module_as_main
    "__main__", mod_spec)
  File "e:\anaconda\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "E:\Anaconda\Scripts\tensorboard.exe\__main__.py", line 5, in <module>
  File "e:\anaconda\lib\site-packages\tensorboard\main.py", line 30, in <modu

[2018-04-02 02:39] Geek-Peng opened #18167 "tensorboard take an TypeError after change tensorflow-cpu to tensorflow-gpu installed by pip"
error messages are as follows：
Traceback (most recent call last):
File "e:\anaconda\lib\runpy.py", line 184, in _run_module_as_main
"main", mod_spec)
File "e:\anaconda\lib\runpy.py", line 85, in run_code
exec(code, run_globals)
File "E:\Anaconda\Scripts\tensorboard.exe_main.py", line 5, in
File "e:\anaconda\lib\site-packages\tensorboard\main.py", line 30, in
from tensorboard import default
File "e

[2018-04-02 02:40] #18166 closed

[2018-04-02 02:49] asimshankar commented on #18165
Placeholders don't quite make sense with eager execution since placeholders are meant to be "fed" in a call to `Session.run`, as part of the `feed_dict` argument. Since eager execution means immediate (and not deferred execution), there is no notion of a session or a placeholder.

Consider the following program with graph execution:

[code]

With eager execution enabled, you can use `my_model` (an

[2018-04-02 02:49] #18165 closed

[2018-04-02 03:04] asimshankar commented on #18146
This typically happens when one sets `log_device_placement` in the `tf.ConfigProto` provided when creating the `tf.Session` (see [documentation for `tf.Session`](https://www.tensorflow.org/api_docs/python/tf/Session#class_session)). This is intended behavior as enabling that logging is telling TensorFlow to spit out information on which device each operation in the graph is executing on.

Closing

[2018-04-02 03:04] #18146 closed

[2018-04-02 03:06] asimshankar commented on #18127
It seems that PR was closed by the author and was not merged.
Reassigning to folks who'd have a better understanding of the current state.

[2018-04-02 04:20] mrry commented on #13202
The warning was re-added in a80fb2b1cad1bb9c868222b8c25f162d69a509e6 so I'm marking this as closed.

[2018-04-02 04:20] #13202 closed

[2018-04-02 05:04] fengrussell commented on #11753
@smodlich Recently i used MonitoredTrainingSession and SyncReplicasOptimizer for distributed training, i was having the same problem as  yours.
Now i found the solution:
[code]
modified to
[code]

[2018-04-02 06:11] stardiviner commented on #17411
Me too. Arch Linux and Intel CPU.

[2018-04-02 06:26] tensorflowbutler commented on #18163
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-02 06:28] pbashivan opened #18169 "Why tensorflow.org is not reachable from Iran?"
When I try to access [tensorflow.org](tensorflow.org) from my computer in Iran I get the error "403: Your client does not have permission to get URL / from this server. That’s all we know."

I didn't know any other (reachable) location to post it. Would appreciate it if someone would respond/act on this.

[2018-04-02 06:35] bikongyouran commented on #14744
sorry for the delayed response. i have switched to another model, and the problem is gone. i will close this issue.

[2018-04-02 06:36] #14744 closed

[2018-04-02 06:48] balavenkatesh3322 commented on #18080
How it will read two model file at the same time in tensorflow session.please send me some example code

[2018-04-02 07:55] VincentLin78 opened #18170 "How about supporting delegation of OEM operations in TFL ?"
Currently, the interpreter delegates only built-in ops to NN API. I'm writing here to see if any plan to support to delegate OEM operations(ANEURALNETWORKS_OEM_OPERATION) defined in
https://android.googlesource.com/platform/frameworks/ml/+/master/nn/runtime/include/NeuralNetworksOEM.h

My understanding is it's just a minor change on TOCO and interpreter, right ?

[2018-04-02 08:10] carusyte commented on #14357
I got this error too, ` Retval[0] does not have value`
I used batch norm after a dynamic_rnn made up of GRUCell, before a dense layer. As I happened to notice, using batch norm WITHOUT incorporating the dynamic_rnn seem to eliminate the issue.
I've no idea if batch norm and dynamic rnn working together could yield better results.

[2018-04-02 08:12] airaria commented on #16943
I have the same issue.

[2018-04-02 08:58] cpdiku commented on #8879
I had the same problem:
F tensorflow/core/kernels/conv_ops.cc:605] Check failed: stream->parent()->GetConvolveAlgorithms(&algorithms)

The solution for me was downgrading from cudnn 7.1.2 to 7.005.

[2018-04-02 09:09] zerok01 commented on #18163
Oh sorry, I updated my post. Thanks...

[2018-04-02 09:10] jinay1991 commented on #18080
[code]

Above code might not work as it is, as I have not got chance to test these. But idea was that we can create two session type object for each models and call their run methods, obviously if you are using CUDA Hardware you will be blocked by calling run() if both called same time due to locking mechanism of TF. But you can run this by setting Queue or calling run() one after another.

I have

[2018-04-02 09:26] agangzz opened #18172 "Do tensorflow have plan to support deep complex netowrk?"
Do tensorflow have plan to support deep complex netowrk?
such as "Deep Complex Networks" in https://arxiv.org/abs/1705.09792

[2018-04-02 09:32] balavenkatesh3322 commented on #18080
Below is my code.please look into that and give some clarification about two model loading

[code]

Thanks for helping

[2018-04-02 10:06] skyson opened #18173 "how to debug lite jni so in android"
after building the so of lite, some how i need to debug in the android mobile; how can i debug the native c++ code using android studio?  appriciated

[2018-04-02 10:15] ATSEGYPT commented on #7853
Correct @sumunthra , solved after upgrading TF: '1.7.0', while Keras was: '2.1.5'
Thanks 4 your efforts.

[2018-04-02 10:17] weichencoder opened #18174 "'unsupported/Eigen/CXX11/Tensor' file not found on iOS/Xcode"
when I ran this project( https://github.com/yjmade/ios_camera_object_detection )on ios. I met this warning.

Stack Overflow didn't give any help, case #4680 is for Raspberry Pi. It didn't help me.

Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a si

[2018-04-02 10:28] jinay1991 commented on #18080
[code]

[2018-04-02 10:48] shkarupa-alex commented on #15985
Proposed implementations raises error with tensor of rank 0

[2018-04-02 11:24] Lidaguo commented on #8904
Hello, @petrosmol ! Thanks for your particular reply. But now, I have another problem. In my case, I'd like to use the implemented tf.contrib.kernel_methods.RandomFourierFeatureMapper to transform the features from network, and then use the transformed features to construct my loss function.  All the things go well at the beginning of my training procedure. However,  with the increasing of the tra

[2018-04-02 11:25] Lidaguo commented on #8904
Hello, @petrosmol ! Thanks for your particular reply. But now, I have another problem. In my case, I'd like to use the implemented tf.contrib.kernel_methods.RandomFourierFeatureMapper to transform the features from network, and then use the transformed features to construct my loss function.  All the things go well at the beginning of my training procedure. However,  with the increasing of the tra

[2018-04-02 11:41] dhgrs commented on #17950
Thanks for response. I tried resnet50 but got an error and could not run. I also tried Xception but got similar error.
source code: https://gist.github.com/dhgrs/4552eb5f44c7d9956089b440265f9ab9

Here is a part of log.(`model_to_estimator_debug.py` is the script's name)
[code]

[2018-04-02 11:42] SHANKARMB opened #18175 "import data_provider from google3.third_party.tensorflow_models.gan.pix2pix import networks .............. error importing these modules..."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-02 12:27] tensorflowbutler commented on #18167
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-02 12:27] tensorflowbutler commented on #15626
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-02 12:27] tensorflowbutler commented on #17810
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:27] tensorflowbutler commented on #17662
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:27] tensorflowbutler commented on #17377
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:28] tensorflowbutler commented on #16592
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-02 12:28] tensorflowbutler commented on #16097
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:28] tensorflowbutler commented on #16091
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-02 12:28] tensorflowbutler commented on #15992
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:28] tensorflowbutler commented on #15942
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-02 12:28] tensorflowbutler commented on #15932
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-02 12:28] tensorflowbutler commented on #15841
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:28] tensorflowbutler commented on #15833
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:28] tensorflowbutler commented on #15643
Nagging Assignee @yzhwang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-02 12:28] tensorflowbutler commented on #675
Nagging Assignee @agarwal-ashish: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-02 12:28] tensorflowbutler commented on #15580
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:29] tensorflowbutler commented on #15554
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-02 12:29] tensorflowbutler commented on #15541
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:29] tensorflowbutler commented on #15492
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:29] tensorflowbutler commented on #15214
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-02 12:29] tensorflowbutler commented on #15206
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:29] tensorflowbutler commented on #15150
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-02 12:29] tensorflowbutler commented on #15010
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:29] tensorflowbutler commented on #14857
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:29] tensorflowbutler commented on #14193
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-02 12:29] tensorflowbutler commented on #13610
Nagging Assignee @mrry: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-02 12:29] tensorflowbutler commented on #13329
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-02 12:36] AyHelloWorld opened #18176 "_pywrap_tensorflow_internal.so gdb load very slow!"
I build a _pywrap_tensorflow_internal.so have 2.7G big.  so that gdb load very slow ，mybe takes one hour. please help me !

I try many way , such as strip symbols from .so and so on.

I want to ask is there way to use -g in the single tensorflow module by bazel  build ?

[2018-04-02 13:05] redouanelg commented on #13097
Hi @Zhongbaby, did you find a solution?

[2018-04-02 13:06] Geek-Peng commented on #18167
OS Platform and Distribution ：   windows 10
TensorFlow installed from： pip
TensorFlow version： tensorflow-gpu 1.7
CUDA/cuDNN version： cuda 9.0   cudnn9.0

[2018-04-02 13:30] CUGfred opened #18177 "pip install tensorflow in anaconda,can't use it in pycharm"
i use anaconda environment with "pip install tensorflow-gpu==1.0" to install tensorflow.i can use it in console,while i wanted to create a project,i chose the interpreter "home/anaconda2/envs/tensorflow/bin/python",and it occur a error"encodings.CodecRegistryError: incompatible codecs in module "encodings.utf_8" (/home/red/anaconda2/envs/tensorflow/lib/python2.7/encodings/utf_8.pyc)"
-------------

[2018-04-02 13:34] caisq commented on #17662
Closing issue due to no activity. Please feel free to comment or reopen if you have more questions.

[2018-04-02 13:34] #17662 closed

[2018-04-02 14:21] GarryLau commented on #3654
It’s because you do not have the certification! Your company do not give certifications to the relactive websites in tensorflow/workspace.bzl. So ask the IT to certificate it!

[2018-04-02 15:06] cpandar commented on #15585
Hi @yzhwang & @KillPinguin - we've been noticing the same issues, and were wondering if you had any new thoughts or advice on this? Thanks in advance.

[2018-04-02 15:06] drpngx commented on #15010
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-02 15:06] #15010 closed

[2018-04-02 15:07] drpngx commented on #15206
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-02 15:07] #15206 closed

[2018-04-02 15:07] drpngx commented on #15580
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-02 15:07] #15580 closed

[2018-04-02 15:18] mrry commented on #10837
I have a prototype implementation that's currently under review.

[2018-04-02 15:40] albenoit commented on #8529
Maybe an additionnal hint reported by #14573

--action_env=LD_LIBRARY_PATH=/path/to/cuda/lib64/stubs:${LD_LIBRARY_PATH}

[2018-04-02 15:54] yongtang commented on #16228
Added a PR #18178 for the fix.

[2018-04-02 15:59] alexandrenriq commented on #14273
It works for pip with:
`pip install --upgrade pip`

Or maybe you can execute if you use conda:
`conda install tensorflow`

[2018-04-02 16:06] prb12 commented on #4809
This issue is now obsolete.

[2018-04-02 16:06] #4809 closed

[2018-04-02 16:10] ashokbugude commented on #14267
I have the same issue with tensorflow 1.7 . Has anyone found solution ?

[2018-04-02 16:15] cgarciae opened #18179 "tf.layers.Input missing on 1.7"
Recently updated to 1.7 and a script is now crashing because tf.layers.Input is missing. I just check the docs and it appears until 1.6 but it wasn't deprecated.

[2018-04-02 16:21] okuchaiev commented on #18123
@benbarsdell I thought you had a fix for this few months ago?

[2018-04-02 16:24] henrysky commented on #17419
@alphaCTzo7G This issue can still be reproduced with the latest TF1.7, so the issue is not solved. The workaround is I simply convert the numpy array to python list.

[2018-04-02 16:50] gzmkl commented on #17494
Need to access "data" to reproduce the issue with "train.py".

[2018-04-02 16:59] ispirmustafa commented on #17824
Hi @lhlmgr
I think this should be handled as part of evaluation but not prediction. Do you have any suggestion if about how can we do it as evaluation?
thanks

[2018-04-02 17:03] reedwm commented on #15783
Pinging @rmlarsen. @rmlarsen, maybe mark as contributions welcome if you do not know what the issue is.

Also /CC @mrry @gunan, this issue might only occur on Windows.

[2018-04-02 17:10] asimshankar opened #18180 "Eager: tf.size() does not respect `out_type`"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux, Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**:  2.7.12
- **Bazel version (if compiling from source)**:

[2018-04-02 17:11] angersson commented on #18111
Thanks @annarev!

[2018-04-02 17:12] #18111 closed

[2018-04-02 17:15] angersson commented on #18129
It looks like this issue has been resolved, so I'm closing the issue.

If you have any more problems, please ask a question on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow), which is more suited to problems that are not bugs or feature requests. Thanks!

[2018-04-02 17:15] #18129 closed

[2018-04-02 17:30] reedwm commented on #18079
I'm no expert on `tf.data`, but according to the [from_generator](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#from_generator) documentation, you can specify the shapes with the `output_shapes` parameter. The generator is never iterated over until a session is run, so during Graph construction time, TensorFlow has no idea what the shapes will be unless `output_shapes` is specified.

[2018-04-02 17:30] #18079 closed

[2018-04-02 17:32] asimshankar commented on #18163
0.12.1 is a very old TensorFlow release, prior to the 1.x series where we provide API stability guarantees.

This doesn't directly address your question, but is it possible for you to use a more recent (or at least a 1.x version) of TensorFlow?

Thanks!

[2018-04-02 17:41] asimshankar commented on #18108
Looking at your gist in https://gist.github.com/kmhofmann/e368a2ebba05f807fa1a90b3bf9a1e03 it seems you're using `git checkout v1.7.0`. There is no such branch in the repository, so that command likely did not switch you to the appropriate branch.

Release branches in this repository are named `r<version>`, so you'd want to do `git checkout r1.7` instead.

Closing this since this seems to be an er

[2018-04-02 17:41] #18108 closed

[2018-04-02 17:44] angersson commented on #18147
I couldn't replicate this on an Ubuntu docker container.

I also couldn't replicate this on an Arch linux docker container, with the same versions as yours:

[code]

It looks like this might be local, or a GPU-specific issue. Can you replicate this in Docker (ideally nvidia-docker) for us?

[2018-04-02 17:54] tensorflowbutler commented on #18169
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-02 17:54] tensorflowbutler commented on #18170
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-02 17:55] tensorflowbutler commented on #18172
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-02 17:55] tensorflowbutler commented on #18173
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-02 18:03] reedwm commented on #16097
Closing due to a lack of response.

[2018-04-02 18:03] #16097 closed

[2018-04-02 18:04] reedwm commented on #15833
Closing due to a lack of a response.

[2018-04-02 18:04] #15833 closed

[2018-04-02 18:19] drpngx commented on #18169
/CC @martinwicke @MarkDaoust

[2018-04-02 18:27] yoavz commented on #12871
+1 to @lucb - the optional enabling of deterministic cudNN algo's would be very useful. Even if a performance trade-off exists for determinism, users should have the ability to enable it.

[2018-04-02 18:34] smitshilu opened #18182 "Tensorflow llite more support"
Hello,
I am using tflite for my development and I used label_image example for inference. Can you please provide more documentation either on tflite and how to use it or provide support for reading PNG and JPEG files for the inference?

Is there any python example available for tflite inference pipeline?

Additionally, tensorflow lite is slow on RaspberryPi. Slower than normal tensorflow graph. I

[2018-04-02 18:38] martinwicke commented on #18169
tensorflow.org is hosted on GCP. You appear to be seeing this issue: https://stackoverflow.com/questions/35150576/any-suggestion-about-accessing-google-cloud-hosted-website-from-iran

We won't be able to do much about that, since we rely on GCP for hosting.

[2018-04-02 18:38] #18169 closed

[2018-04-02 18:42] mas-dse-greina commented on #17494
Please see the new test benchmark script which shows the issue:
https://github.com/NervanaSystems/topologies/tree/master/memory_benchmarking

I created a test bench with random data that will show the same issue. Note
that I am using the Intel-built TensorFlow MKL wheel and only using CPU to
train. The issue seems to be in the concatenation of step.

Just run the command `python benchmark_model.py

[2018-04-02 19:00] leobenkel commented on #17101
I am having similar issues.

Versions:
* ```>pip --version
pip 9.0.3 from c:\users\leopc\appdata\local\programs\python\python35\lib\site-packages (python 3.5)```
* `CUDA 9.1`
* `tensorflow-gpu (1.7.0)`

Content of folders:
* `C:\Program Files\NVIDIA GPU Computing Toolkit\cudnn\bin`
    * `cudnn64_7.dll`
* `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.1\bin`
    * `cudart64_91.dll`
    * a

[2018-04-02 19:07] 21011996 commented on #17101
@leobenkel Use CUDA 9.0, found out that the hard way, but now it works.

[2018-04-02 19:09] leobenkel commented on #17101
@21011996 , how do I get CUDA 9.0 ? I tried and I could not find it anywhere on the nvidia website.

[2018-04-02 19:13] 21011996 commented on #17101
@leobenkel here you go [https://developer.nvidia.com/cuda-90-download-archive](CUDA 9.0)

[2018-04-02 19:20] viik36 opened #18184 "Variable Scope with Eager Execution"
with eager execution variable scope doesn't seem to work.

![eager](https://user-images.githubusercontent.com/8831095/38211706-fd2f4e5e-36d8-11e8-92a1-56fd6bf04291.png)

[2018-04-02 19:24] alphaCTzo7G commented on #17419
Ok.. thanks for reporting @henrysky. If its ok with @fchollet, I will take a look at it and create a PR

[2018-04-02 19:27] 4d55397500 opened #18185 "Building Graphs documentation"
System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux ubuntu 16.04
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): 1.4.1 gpu
Python version: 3.5.4
Bazel version (if compiling from source):
GCC/Compiler version (if compiling from

[2018-04-02 19:28] #18184 closed

[2018-04-02 19:33] leobenkel commented on #17101
@21011996 , is there any trick to uninstall cuda 9.1 and reinstall cuda 9.0 ? I went in the uninstaller control pannel window on windows 10 to uninstall all cuda 9.1 components. but now the cuda 9.0 installation keep failing even after reboot.

[2018-04-02 19:37] kevindjf66 commented on #17101
I have the same problem.. Is there any solution now?

[2018-04-02 19:38] 21011996 commented on #17101
I suggest Google :) Installed 9.1 by mistake, but successfully installed
9.0 after, GL m8

On Mon, 2 Apr 2018, 22:36 Leo, <notifications@github.com> wrote:

[2018-04-02 19:45] JoeBanks13 commented on #18147
Started a docker container, ran all the same commands as you and got this as a result
[code]

Even inside the docker container I'm receiving the 132 status code.

This was not nvidia docker as I don't have a NVIDIA graphics card (just intel integrated graphics), Not sure if that matters or not though.

[2018-04-02 19:47] leobenkel commented on #17101
@kevindjf66 , to pass the installation, I disabled the visual studio support. I dont know what downstream error that will create but it succeed so far.

[2018-04-02 19:50] 4d55397500 commented on #18185
Maybe something like this for `tf.reset_default_graph`?:
[code]

[2018-04-02 19:59] kr-ish commented on #18042
maybe try tf.layers.flatten instead of tf.contrib.layers.flatten?

also see this: https://stackoverflow.com/questions/36521691/importing-pandas-gives-error-attributeerror-module-pandas-has-no-attribute-c

[2018-04-02 19:59] asimshankar commented on #17734
Long story short: In an ideal world, TensorFlow wouldn't be providing a flags library - that is squarely not in its area of expertise :). However, due to historical reasons around the time we created an opensource version of what was being developed within Google, the `tf.flags` library had to be created (this was before `absl-py` existed).

Long story short, it doesn't seem like investing in `tf.

[2018-04-02 19:59] #17734 closed

[2018-04-02 20:04] johndeppe commented on #17850
Those nightly builds are here:

http://ci.tensorflow.org/view/Nightly/job/nightly-pi/
http://ci.tensorflow.org/view/Nightly/job/nightly-pi-python3/
http://ci.tensorflow.org/view/Nightly/job/nightly-pi-zero/
http://ci.tensorflow.org/view/Nightly/job/nightly-pi-zero-python3/

Hopefully the pi builds will work on my DE1-SoC's Cyclone V. :)

[2018-04-02 20:06] kr-ish commented on #18107
This is not an issue with TensorFlow - your question is better suited for Stack Overflow. That said, perhaps you could look into using [TensorRT with TF 1.7](https://developers.googleblog.com/2018/03/tensorrt-integration-with-tensorflow.html) to speed up your Mask RCNN inference. This would just one of many optimizations you could try.

[2018-04-02 20:14] tfboyd commented on #17566
Fixed in nightly builds.  We are now checking according to Cliff's update in nightly builds now and I am going to guess in TF 1.8 (100% not 1.7) because 1.8 has not been branched yet.:

[2018-04-02 20:14] #17566 closed

[2018-04-02 20:14] gzmkl commented on #17494
Thank you Tony. I can reproduce the issue now.

[2018-04-02 20:15] asimshankar commented on #17930
@chrisrsipes : To make sure I understand correctly, the `htop` screenshots you had attached earlier do not show the problem you're observing, right? (Because, in those I see the same  879MB of RSS and ~12GB of VIRT across all three screenshots).

If so, I'm still confused about the problem you're observing. For example:
- How are you measuring "RAM usage"? As in, what number are you looking at?
-

[2018-04-02 20:18] mas-dse-greina commented on #17494
Thank you!

-Tony

On Mon, Apr 2, 2018 at 1:17 PM, Guozhong Zhuang <notifications@github.com>
wrote:

[2018-04-02 20:38] zhiz21 commented on #18133
@yaroslavvb Thanks! I agree with you, but why this happened only when I compiled with AVX512 support? Do you have any idea about how to solve it?

[2018-04-02 20:45] yaroslavvb commented on #18133
I've seen segfaults happening when applying avx instruction to memory that has not been 64-byte aligned. The first step would be to obtain core file and look at backtrace.

[2018-04-02 20:52] dr4b commented on #13549
I no longer work on Tensorflow and won't be able to address this any time soon (as I said, the issue is that there's nothing inside the file that Doxygen is going to pick up.)  Reassigning if Wolff cares to deal with it.

[2018-04-02 20:56] #631 closed

[2018-04-02 20:59] angersson commented on #18147
Interesting. This looks to me like either an issue with your computer, or perhaps a problem with integrated graphics (or something else that could be common to other users).

Can you also check if this still happens with different versions of TF, like a build from master HEAD and older versions of the Python package, like 1.6?

[2018-04-02 21:08] tigerhawkvok opened #18186 "Estimators can't restore from their saved configuration"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A: no verbatim example from TensorFlow on restoring from and `export_savedmodel()`.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Window 10x64; Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command belo

[2018-04-02 21:10] JoeBanks13 commented on #18147
Tested with 1.6 yesterday with same issue. I can run a build from master HEAD now.

[2018-04-02 21:15] jjahanip opened #18187 "Adam optimizer with decaying learning rate"
I tried to implement the Adam optimizer with different beta1 and beta2 to observe the decaying learning rate changes using:
[code]

To track the changes in learning rate, I printed the ```_lr_t``` variable of the object in the session:
[code]

But for all iterations, I get the same value (the initialized 0.001 value).

I couldn't find how the parameters are updated in this class.

----------------

[2018-04-02 22:17] robieta opened #18188 "contrib.distribute is not Python3 compatible"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-02 22:28] asimshankar commented on #17390
@agibsonccc : Certainly, please do follow up. Those optimizations sound great, and we'd love to leverage expertise here. The details of how to do so would be worth working out, and having some off thread conversations before settling on something and updating this issue sounds great to me.

[2018-04-02 22:51] agibsonccc commented on #17390
Perfect. Just wanted to start a dialog. Someone reached out already.  Will keep folks posted on concrete outcomes, thanks for the interest!

[2018-04-02 22:54] asimshankar commented on #18053
For API change: Looks good, go ahead :)

[2018-04-02 23:04] samikama commented on #17914
@arassadin , Yes that is correct.  Starting with TensorFlow 1.7, TensorRT support is enabled by default with tensorflow-gpu package. So you can just to pip install tensorflow-gpu and will be able to use it, provided you have the Ubuntu 14.04 version of TensorRT 3.0.4 binaries installed in your machine. If you want to build locally, then you can use your platform native TensorRT installation.
But f

[2018-04-02 23:14] tlf30 commented on #16660
I too was wondering what the status on this is.

[2018-04-02 23:18] bhack commented on #7278
@nio1814 Do you plan to open a PR with your code?

[2018-04-02 23:22] #17804 closed

[2018-04-02 23:22] #17758 closed

[2018-04-02 23:27] poxvoculi commented on #17999
Are you following all the instructions at:
https://www.tensorflow.org/mobile/android_build

the error message suggests that either you have not installed the Android SDK or you haven't updated the WORKSPACE file with its location.

[2018-04-02 23:28] asimshankar commented on #16660
Unfortunately, nope, we didn't get this in time for 1.7.
However @case540 has been looking into the build issues,  so hopefully we'll be able to make progress in the next release or two.

[2018-04-03 00:19] poxvoculi commented on #17771
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-04-03 00:19] #17771 closed

[2018-04-03 00:40] SPY-Ming opened #18190 "How to implement fine-tune training in blstm?"
I just want a cnn network,blstm network,word embedding and implement them separately
Save their params and use into a new network.
I have tried tf.saver\restore and tf.collection,it dosen't work.
How and I do that?
thank u very much

[2018-04-03 01:00] drpngx commented on #14219
/CC @MarkDaoust

[2018-04-03 01:02] drpngx commented on #14832
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-03 01:02] #14832 closed

[2018-04-03 01:03] drpngx commented on #6097
Closing as per @Anjum48 comment. All, feel free to contribute a PR as per @martinwicke comment.

[2018-04-03 01:03] #6097 closed

[2018-04-03 01:04] drpngx commented on #15684
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-03 01:04] #15684 closed

[2018-04-03 01:06] drpngx commented on #15435
Closing since it appears to be resolved.

[2018-04-03 01:06] #15435 closed

[2018-04-03 01:06] drpngx commented on #15242
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-03 01:06] #15242 closed

[2018-04-03 01:07] fchollet commented on #14219
Hello,

The `Network` class has been removed (that's why it wasn't part of the public API).

We recommend you use the `Model` class: `tf.keras.Model`, which has the same functionality.

You can use the `Model` class with both layers from `tf.layers` and `tf.keras.layers`. `tf.layers` is a subset of `tf.keras.layers`. We recommend you use `tf.keras.layers`.

[2018-04-03 01:07] #14219 closed

[2018-04-03 01:07] drpngx commented on #15919
We're moving to keras in favor of layers. Does this still happen with Keras?

[2018-04-03 01:16] drpngx commented on #16285
To be clear, I think you're referring to this:
* [google seq2seq](https://github.com/google/seq2seq)
* [nmt](https://github.com/tensorflow/nmt)
* tensorflow [seq2seq](https://www.tensorflow.org/api_docs/python/tf/contrib/seq2seq)

They are all reference implementations similar to what was described [here](https://research.google.com/pubs/pub45610.html). You may use them to do your own research. Ho

[2018-04-03 01:18] smit-hinsu commented on #16239
Sorry for the delay in the follow-up.

I ran various experiments with some of the models in tf_cnn_benchmarks to observe model throughput using different batch sizes with cuMemAlloc and cuMemAllocManaged. It seems that cuMemAllocManaged does not really help increase the peak throughput observed across different batch sizes for a model. So, it should be possible to increase throughput for vgg16 mod

[2018-04-03 01:22] tensorflowbutler commented on #18176
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-03 01:22] tensorflowbutler commented on #18179
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-03 01:22] tensorflowbutler commented on #18182
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-03 01:24] angersson commented on #14107
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-03 01:24] #14107 closed

[2018-04-03 01:25] angersson commented on #14752
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-03 01:25] #14752 closed

[2018-04-03 01:25] angersson commented on #15228
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-03 01:25] #15228 closed

[2018-04-03 01:26] angersson commented on #15428
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-03 01:26] #15428 closed

[2018-04-03 01:26] angersson commented on #16083
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-03 01:26] #16083 closed

[2018-04-03 01:29] angersson commented on #16820
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-04-03 01:29] #16820 closed

[2018-04-03 01:31] reedwm commented on #15522
Closing because the issue template has not been filled out.

[2018-04-03 01:31] #15522 closed

[2018-04-03 01:33] reedwm commented on #18182
/CC @andrehentz

[2018-04-03 01:35] imhuay commented on #18079
Thank you, I am not aware the para `output_shapes`. If so, I think it is better to remove the default value of this para. Actually, it took me a lot of time to find the reason, especially it work well when using `tf.placeholder` in my examples.

[2018-04-03 01:46] reedwm commented on #11171
/CC @prb12 any updates on this? @yaroslavvb package is very interesting. Should something similar be in TensorFlow itself?

[2018-04-03 01:53] reedwm commented on #18157
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-04-03 01:53] #18157 closed

[2018-04-03 01:54] yaroslavvb commented on #11171
@reedwm I think Grappler is eventually supposed to take over these things (@allenlavoie )

[2018-04-03 01:54] reedwm commented on #15841
Closing since the issue template is not filled out. Please reopen and fill out the template if you are still encountering the issue.

[2018-04-03 01:54] #15841 closed

[2018-04-03 01:54] reedwm commented on #16777
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-04-03 01:54] #16777 closed

[2018-04-03 01:54] reedwm commented on #15051
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-04-03 01:54] #15051 closed

[2018-04-03 02:00] reedwm commented on #18081
/CC @mrry, can you take a look?

[2018-04-03 02:04] reedwm commented on #17675
I don't know Chinese so I'm not sure what the issue is. But @ad26kt implied it should be asked on StackOverflow, so I'm closing the issue.

[2018-04-03 02:04] #17675 closed

[2018-04-03 02:08] duboyal commented on #17369
(tensorflow) AlexandrasMBP3:tensorFlow Alexandra$ pip3 install grpcio==1.9.1 tensorflow
Collecting grpcio==1.9.1
  Using cached grpcio-1.9.1-cp36-cp36m-macosx_10_7_intel.whl
Collecting tensorflow
  Could not find a version that satisfies the requirement tensorflow (from versions: )
No matching distribution found for tensorflow
(tensorflow) AlexandrasMBP3:tensorFlow Alexandra$

STILL GETTING THIS E

[2018-04-03 02:08] reedwm commented on #16363
Please fill out the template, as @tensorflowbutler suggested. Also can you provide a short code sample to reproduce? Thank you.

[2018-04-03 02:09] reedwm commented on #17164
@hko-gh can you provide a C++ code sample to reproduce the problem?

[2018-04-03 02:13] reedwm commented on #15336
Closing because the issue template was never filled out. Please reopen and fill out the template if this is still a problem.

[2018-04-03 02:13] #15336 closed

[2018-04-03 02:15] reedwm commented on #13580
I'm assuming this is fixed since @bnoreus stated he would send a PR. If someone still has this issue, please reopen.

[2018-04-03 02:15] #13580 closed

[2018-04-03 02:22] reedwm commented on #17398
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-04-03 02:22] #17398 closed

[2018-04-03 02:26] ziruizhuang commented on #17801
Same problem here and I believe this is a bug.
Either state CUDA>=9.0 requirement in docs or fix this issue.

[2018-04-03 03:18] nanamare opened #18191 "How to add unsupported operation in TF-Lite?(ResizeNearestNeighbor)"
Converting Hourglass model, I encountered an unsupported error.
This [document] is very simple. so I have to need more information(example code)(https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/g3doc/custom_operators.md)

[Custom operation](https://github.com/tensorflow/tensorflow/pull/17074) Is there only this way? It is a difficulty for me.

**Error**
[code]

### Syst

[2018-04-03 03:22] zhangbo0325 commented on #15633
@andrewharp,  I tried to enable NNAPI for tflite_demo and run the apk, however I found the apk crashed
when call AddOpsAndParams,  the operation tflite::BuiltinOperator_SQUEEZE is not supported and
nn_op_type is set to -1, which will be passed to ANeuralNetworksModel_addOperation. I think that's the
root cause.  Would you please tell if it will be supported in future version ? Is there any other w

[2018-04-03 04:18] karllessard commented on #17390
Just FYI everyone, pull request #18192 has been created to generate the Java operators and it is a big step forward to have full-fledged support for TF graph building in Java. The PR is quite big and it might take some time before we get it merged but we'll do our best, thanks!

[2018-04-03 04:19] nanamare commented on #15633
@andrewharp
I want to use NNAPI, but I do not know how to use it.
According to document, Neural Networks API is available in Android 8.1 >
If it is 8.1 or higher, is it basically applied? or Do I need additional NDK work? [Document Link](https://github.com/googlesamples/android-ndk/tree/master/nn_sample)
Have a nice day XD

[2018-04-03 04:24] zhangbo0325 commented on #15633
@andrewharp, I tried to enable NNAPI for tflite_demo and run the apk, however I found the apk crashed
when call AddOpsAndParams, the operation tflite::BuiltinOperator_SQUEEZE is not supported and
nn_op_type is set to -1, which will cause FATAL called, and exit(-1) . I think that's the
root cause. Would you please tell if it will be supported in future version ? Is there any other way to work
aroun

[2018-04-03 04:25] asimshankar commented on #18092
@jthestness @poxvoculi : Any suggestions here?

It seems to be complaining about not finding `ompi_datatype_t* tensorflow::contrib::mpi_collectives::MPIType<int>()`, which should be defined in `ring.cc`.

Just to be clear: You did build from sources using the instructions in [`contrib/mpi/README.md`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/mpi/README.md), right?

[2018-04-03 04:39] asimshankar commented on #18040
I apologize, but I don't quite understand the issue here. Could you provide the full stack trace?

Also, a side observation, the first line in `construct_dataset` seems unnecessary, since the very next line ignores it and creates a new `Dataset` using `from_tensor_slices`?

[2018-04-03 04:39] jdwinkler commented on #15800
Same error on my end-has this been fixed in an update?

[2018-04-03 05:18] rupvm commented on #15751
I have the same issue also.

mobilenet_quant_v1_224.tflite missing copying this file in the assets folder.

issue solved. !!

thanks @ahdidou-mohamed @HandsomeL

[2018-04-03 05:21] asimshankar commented on #17694
In the code snippet provided, `tf.map_fn` is being called on `input_tensor`, which wasn't defined in the snippet. But given that it's being fed into the `sess.run()`, I'm guessing it corresponds to a placeholder tensor, which, I think, means the original code was more like this:

[code]

Writing the test the same way works as well:

[code]

The behavior you see in the test should be consistent wit

[2018-04-03 05:39] ghostplant commented on #16239
Hi @smit-hinsu , the source code of VGG16 is a keras-based implementation and executed with Tensorflow backend, and all each the time I posted stand for the real time spent to finish 1 epoch training, this is related to the scale of input data so absolute value is meaningless here.

**Huge model training** I just want a friendly way to get over BFC-overflow problem when using tensorflow, because t

[2018-04-03 05:45] asimshankar commented on #17464
From the error message `NotFoundError (see above for traceback): checkpoint/model.ckpt-1_temp_5d8d532077d241a38f2d79ac2ffeb9a7; No such file or directory` it seems that the workers are having trouble writing to the `checkpoint` directory.

It is possible that the parent directory where checkpoints are to be written is either not accessible or is being removed while the training is in process?

[2018-04-03 05:46] asimshankar commented on #17407
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available (in particular, all the information asked for in the issue template and in the comment above by @tensorflowbutler), and we will reopen the issue. Thanks!

[2018-04-03 05:46] #17407 closed

[2018-04-03 05:47] #17256 closed

[2018-04-03 05:54] asimshankar commented on #17089
By "develop", do you mean develop on the TensorFlow codebase itself, or use TensorFlow as a library for your own project?

If the former, then at this time, the only instructions for building TensorFlow from source on Windows are at https://www.tensorflow.org/install/install_sources. We do not have instructions for Visual Studio 2017 and do not have the bandwidth to support that. Instead, we look

[2018-04-03 05:54] #17089 closed

[2018-04-03 05:54] asimshankar commented on #16975
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-04-03 05:54] #16975 closed

[2018-04-03 06:00] asimshankar commented on #16567
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-03 06:00] #16567 closed

[2018-04-03 06:08] asimshankar commented on #16063
@sbrunk : Thanks for the advice, hopefully that helped @JGuillaumin .

Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-03 06:08] #16063 closed

[2018-04-03 06:09] asimshankar commented on #15873
Nope, there are no plans of adding that support AFAIK.
(CCing @sguada in case I'm mistaken)

In general, we'd encourage the use of `tf.keras` where possible.

[2018-04-03 06:09] #15873 closed

[2018-04-03 06:10] asimshankar commented on #15576
Nope, there aren't any active efforts towards this AFAIK.

Closing this out since the feature request itself is a bit broad and there is nobody actively working on this.

[2018-04-03 06:10] #15576 closed

[2018-04-03 06:14] asimshankar commented on #15413
Do you have more details on the exception message? That log line comes from [here](https://github.com/tensorflow/tensorflow/blob/r1.5/tensorflow/contrib/android/java/org/tensorflow/contrib/android/TensorFlowInferenceInterface.java#L223). Having details about the exception message thrown there would help locate the problem.

[2018-04-03 06:17] asimshankar commented on #15172
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

@JCBrouwer : Thanks for the update, hopefully that helps others. Note that the guide linked to isn't owned by TensorFlow team and in general for GPU support on macOS (which I'm guessing is being used here, but can't be sure since the template wasn't filled

[2018-04-03 06:17] #15172 closed

[2018-04-03 06:20] asimshankar commented on #14692
`tf.keras.Model.fit` does not support distributed yet, if that is what you're asking.
However, you can convert a Keras model to an `Estimator` using [`tf.keras.estimator.model_to_estimator`](https://www.tensorflow.org/programmers_guide/estimators#creating_estimators_from_keras_models) and use that for distributed training.

See also: https://www.tensorflow.org/api_docs/python/tf/estimator/train_an

[2018-04-03 06:20] #14692 closed

[2018-04-03 06:24] Avtarsingh127 commented on #16855
any update on this? I am getting same error.

  File "load_grph.py", line 20, in load_graph
    tf.import_graph_def(graph_def, name="prefix")
  File "/home/neva/anaconda3/lib/python3.6/site-packages/tensorflow/python/framework/importer.py", line 285, in import_graph_def
    raise ValueError('No op named %s in defined operations.' % node.op)

[2018-04-03 06:25] #12101 closed

[2018-04-03 06:26] asimshankar commented on #464
Closing as per previous comment: https://github.com/tensorflow/tensorflow/issues/464#issuecomment-363949559

[2018-04-03 06:26] #464 closed

[2018-04-03 07:09] FlashTek opened #18193 "tf.keras.estimator.model_to_estimator fails with pre-trained models"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7 x64
- **TensorFlow installed from (source or binary)**: binary (pip)
- **TensorFlow version (use command below)**: 1.7.0 (cpu)
- **Python version**: 3.6
- **Bazel version (if compiling from source)*

[2018-04-03 07:25] WangChengLongWilliam commented on #15211
Hi ,are you solve this problem. i getting a similar error .
but i runing on GPU,using this code https://github.com/sampepose/flownet2-tf
waiting for you write back Thanks

[2018-04-03 07:43] Hunterwolf88 opened #18194 "warnings building Tensorflow 1.7 from source"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no, just tensorflow 1.7.0
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
installed from source
- **TensorFlow version (use command below)**:
1.7.0
- **Python version**:
3.6.5 (Anaconda)
-

[2018-04-03 07:52] flankechen opened #18195 "Saving frozen model to tflite error"
------------------------
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, I write own model define, loss and training codes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: binary, pip install
- **TensorFlow version (use command below)**:

[2018-04-03 07:56] #18175 closed

[2018-04-03 08:15] balavenkatesh3322 commented on #18080
How can we maintain If it will go to multiple model files because of python code will be increased
Is there any other feasible solution?(for loop)

[2018-04-03 08:19] #18167 closed

[2018-04-03 08:31] quangvu0702 commented on #17702
I got the same problem after run this code: (tensoflow 1.6.0, gpu NVIDIA 1080)

import tensorflow as tf

flags = tf.app.flags
FLAGS = tf.app.flags.FLAGS
flags.DEFINE_float('learning_rate_1', 0.02, 'Initial learning rate.')
flags.DEFINE_string('name', 'test', 'The name of our flag')
# FLAGS.learning_rate = 0.03
# FLAGS.name = 'Testing'

print(FLAGS.learning_rate_1)
print(FLAGS.name)

flags = tf.app

[2018-04-03 09:02] nanamare commented on #15633
@andrehentz
bazel run -c opt tensorflow/python/tools/optimize_for_inference -- \
--input=$DETECT_PB  --output=$STRIPPED_PB --frozen_graph=True \
--input_names=Preprocessor/sub --output_names=concat,concat_1 \
--alsologtostderr

Why is not input_names image_tensor?
I tried this way and I encountered an error.

[2018-04-03 09:18] BinhBob commented on #17825
Sorry, I forgot to post my results for TF 1.6 but as you can see the imaginary part of the first entry is still non-zero in TF 1.6. In general the error using power of two inputs are smaller than non power of two's. If thats an issue in the cuFFT implementation one should mention it in the tf.fft() function description?

[2018-04-03 09:21] VictoriaYyz commented on #18086
@yaroslavvb I have another two questions. How does ps know when to fetch gradients from Rendezvous？How do recv nodes in ps work? I think the answers of these two questions may explain why the RecvTensor in ps starts so late.

[2018-04-03 09:40] worm004 opened #18198 "Different scatter_nd behaviours with int and float"
I am using tensorflow 1.4.1.
scatter_nd seems not check the index validation with float, because following codes generate no error.

[code]
If the 1.0 is changed to 1, the codes generate errors:

[code]
Is this designed for some purpose or a bug?

[2018-04-03 09:43] zhilevan commented on #14273
on Mac OS High Seirra the following worked for me

`pip install --ignore-installed --upgrade "https://github.com/lakshayg/tensorflow-build/raw/master/tensorflow-1.5.0-cp36-cp36m-macosx_10_13_x86_64.whl"`

[2018-04-03 09:46] lhlmgr commented on #13463
I also ran into this error and my tfrecord files are also >5Gb (~55Gb).

[2018-04-03 10:16] nanamare opened #18199 "[Question]TFLite gpu acceleration."
Current, my model's inference speed (mate 10) 300ms
We have applied all the structural transformations that can be done in the model, algorithm
So, I am looking for a way to improve the performance of the Android platform.
Example of Render Script, OpenCL...
But, don't know if these ways really improve inference performance dramatically.
I wonder if these methods are applied to Tensorflow Mobile(i

[2018-04-03 10:22] Hunterwolf88 commented on #17994
thank you guys for the support,

I tried many configurations of my environment, the one posted here is the one suggested in the requirements-gpu-python36-cuda9.txt, but I alsto tried tensorflow 1.7 (from source), 1.6 (installed from pip), and conda too, with no different results.

I also tried:
different versions of tensorflow-gpu, installed from pip, from conda, and from source code
different ver

[2018-04-03 10:24] bhack commented on #7278
I think this will be quite strategic. Check CVPR 2018 accepted https://github.com/kenshohara/3D-ResNets-PyTorch/

[2018-04-03 10:34] bhack commented on #7278
Google @s9xie and @murphyk have also a related work [Rethinking Spatiotemporal Feature Learning For Video Understanding](https://arxiv.org/abs/1712.04851)

[2018-04-03 10:36] giladsharir commented on #11974
I still have this bug, using tensorflow 1.7

[2018-04-03 10:57] GarryLau commented on #17684
@Neargye Do you solve the problem??
I have the same problem when I trying converting the mobilenet_v1 model to .tflite.
The mobilenet_v1 is in https://github.com/tensorflow/models/tree/master/research/slim/nets.
Many thanks.

[2018-04-03 11:51] nutti opened #18201 "Cleanup the file structures in tensorflow/core/kernels"
This is a feature request about the file structure in ```tensorflow/core/kernels``` .

### The problem

There is a CPU/GPU mingled source codes in the OpKernel directory.
This file structure seems that it is complicated to search the CPU/GPU independent code.
How about to cleanup the file structures?
I think the file structures (```tensorflow/compiler/xla/service```) on XLA is great approach becau

[2018-04-03 11:51] darrengarvey commented on #17810
I'm running TF commit 90df8ab4ab127fac239597ce0708577a335613bf (master as of yesterday). On Ubuntu 17.10. Built with bazel 0.11.1, gcc 6.4, nvcc 9.1 and cuda 9.1. Relevant bazel build options are `-c opt --config=cuda` (ie. -march=native).

However the behaviour I'm talking about is just part of the [`Dataset.list_files()` kernel](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cor

[2018-04-03 11:58] bennuttall opened #18202 "Submit Raspberry Pi releases to piwheels.org"
I maintain the [piwheels](https://www.piwheels.org/) project where we build Arm platform Python wheels on Raspberry Pi, and provide them to Raspbian users (pre-configured in pip.conf) for speedy installs. As well as automating building most packages, we're able to manually import wheels built elsewhere.

It's great that you're now providing Raspberry Pi builds on Jenkins, but the current (undocume

[2018-04-03 12:05] bhack commented on #15343
@sata @mrry Seems that `shuffle_and_repeat` with cache doesn't work instead `dataset.shuffle(buffer_size, reshuffle_each_iteration=True).repeat(count)` works.
Docs tells that is the [same call](https://www.tensorflow.org/versions/master/api_docs/python/tf/contrib/data/shuffle_and_repeat). Is there any different internal details that invalid the iterator of `shuffle_and_repeat` combined with cache?

[2018-04-03 12:18] Peterwu1994 commented on #16345
[code]
I think logits need to be flatten too

[2018-04-03 12:29] Shehz opened #18203 "As per documentation Tensorflow 1.5 with Cuda -8"
Hi,

As per documentation in the below link:

[https://www.tensorflow.org/versions/r1.5/install/install_linux#InstallingVirtualenv](url)

Requirement for tensorflow 1.5 is Cuda 8. I installed tensorflow using the following tf binary url https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.5.0rc1-cp27-none-linux_x86_64.whl

However, still it is asking for cuda 9. Is there any .whl,

[2018-04-03 13:30] rsathishr commented on #12063
Hey, I got the same error, what's that solution?

[2018-04-03 13:46] HectorAnadon commented on #12071
Any update on this?

[2018-04-03 13:47] bhack commented on #18193
/cc @yifeif

[2018-04-03 13:48] bhack commented on #18016
Is this related to https://github.com/tensorflow/tensorflow/issues/16087?

[2018-04-03 14:36] albertz commented on #11810
This is related to (or the same as) #5972.

[2018-04-03 14:38] derad opened #18204 "Unable to compile from source using Bazel"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS 7
- **TensorFlow installed from (source or binary)**: Attempting source. (Binary installation works)
- **TensorFlow version (use command below)**: 1.7 (tried 1.5+)
- **Python version**: 3.6
- **Bazel ve

[2018-04-03 14:47] macayaven opened #18205 "Distribution Strategy not working with tf-nightly-gpu for Python3.5"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No, I am using the script https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distribute/python/examples/simple_estimator_example.py provided as an example for DistributionStrategy API
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux

[2018-04-03 14:55] uidp1499 commented on #16862
@asimshankar I have been facing the same issue as well, not being able to build tensorflow from the source because of the nasm mirror stated as being down by bazel. Where as as @ZacBlanco mentioned accessing it directly or even through `wget ` isn't an issue.

This is the ERROR log that I get :
[code]

Please advise if there is a solution to this issue.

[2018-04-03 15:06] VincentLin78 commented on #18199
There's standard channel for hw acceleration called NNAPI in Android 8.1.
https://developer.android.com/ndk/guides/neuralnetworks/index.html

TFL is gonna built on top of it and dispatch model to it.
Depends on how SOC vendor implemented NN HAL, the dispatched model may or may not have performance gain.

Before doing that, make sure if your model can be converted to tflite format by TOCO.
https://

[2018-04-03 15:12] chriszeng87 opened #18206 "Do you have plan to optimize memory for Tensorflow Lite?"
Do you have plan to optimize memory for Tensorflow Lite? For a image or video related task, the memory occupation is too large.

[2018-04-03 15:14] Ow3e opened #18207 "Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX AVX2"
#When i try run code python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/ssd_mobilenet_v1_pets.config

It tells me:
WARNING:tensorflow:From C:\Users\kuba7\AppData\Local\Programs\Python\Python35\lib\site-packages\object_detection-0.1-py3.5.egg\object_detection\trainer.py:228: create_global_step (from tensorflow.contrib.framework.python.ops.variables) is deprecated an

[2018-04-03 15:16] ZacBlanco commented on #16862
@uidp1499 You can apply a quick to this by going in to the tensorflow's [`workspace.bzl` file ](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl) and adding another mirror to the nasm package.

You can try the URL

`https://www.nasm.us/pub/nasm/releasebuilds/2.12.02/nasm-2.12.02.tar.bz2`

[2018-04-03 15:46] asimshankar commented on #16862
@uidp1499 : From the error message: `java.lang.RuntimeException: Could not generate DH keypair, sun.security.validator.ValidatorException: End user tried to act as a CA` it sounds like the JVM (which is required by `bazel`) somehow has a different set of certificates it trusts than say what is being used by `wget`.

I'm not sure what's happening but could you try something like mentioned in https:

[2018-04-03 15:54] tkoeppe commented on #16855
There may be a dependency we deleted accidentally. Could you try adding `:stats_ops_py` to `tensorflow/contrib/tensor_forest:model_ops_py`?

[2018-04-03 15:59] mrry commented on #18081
The code runs to completion without error when I use a recent `tf-nightly` build. Can you check whether it is still a problem with the latest version?

[2018-04-03 16:04] saeed68gm commented on #15948
@aselle can we write the argmax op for toco and rebuild it? Would it be similar to adding a custom op in tensorflow?

[2018-04-03 16:04] mrry commented on #15343
@bhack Please open a new issue with complete details of the program you're running and the expected and observed behavior.

[2018-04-03 16:13] jwnsu commented on #18193
Got similar error with RestNet50 and Xception pre-trained models. This seems to be a very severe issue as it makes whole keras model_to_estimator idea worth little value unless it works with a pre-trained model.

[2018-04-03 16:24] allenlavoie commented on #11171
There's also the [recompute_grad decorator](https://www.tensorflow.org/api_docs/python/tf/contrib/layers/recompute_grad) now. And Grappler does some swapping to host memory by default. But yes, it'd be nice if Grappler's memory optimizer did checkpointing automatically keeping device memory constraints in mind. (But unfortunately I have no immediate plans to work on it.)

[2018-04-03 16:29] girving commented on #18053
Will add once I can build TensorFlow again: looks like it's broken after an Xcode upgrade. :/

    ERROR: /private/var/tmp/_bazel_irving/d4bad52af7e8ccc6c91f211db4181990/external/flatbuffers/BUILD:52:1: undeclared
    this rule is missing dependency declarations for the following files included by 'external/flatbuffers/src/util.cp
      '/Library/Developer/CommandLineTools/usr/lib/clang/9.1.0/incl

[2018-04-03 16:59] tkoeppe commented on #16855
No, never mind, that dependency is already present there.

[2018-04-03 17:05] angersson commented on #18094
@fchollet Can you take a look at this?

[2018-04-03 17:06] drpngx commented on #16285
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-04-03 17:06] #16285 closed

[2018-04-03 17:07] angersson commented on #18042
Thanks @kr-ish!

This looks like a problem resolved by the links, so I'm closing the issue.

[2018-04-03 17:07] #18042 closed

[2018-04-03 17:09] angersson commented on #17902
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-04-03 17:09] #17902 closed

[2018-04-03 17:09] moguzozcan commented on #17702
Is there any progress on this issue, I am having the same problem?

[2018-04-03 17:09] angersson commented on #17699
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-04-03 17:09] #17699 closed

[2018-04-03 17:09] angersson commented on #17469
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-04-03 17:09] #17469 closed

[2018-04-03 17:10] angersson commented on #17410
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-04-03 17:10] #17410 closed

[2018-04-03 17:11] angersson commented on #17352
This issue seems to have been resolved, and has not had any extra discussion, so I'm closing it to keep the issue tracker focused.

[2018-04-03 17:11] #17352 closed

[2018-04-03 17:14] angersson commented on #17257
@allenlavoie Do you have any thoughts on this?

[2018-04-03 17:17] drpngx commented on #16285
PS: there is also [tensor2tensor](https://github.com/tensorflow/tensor2tensor) which implements the transform architecture as well as seq2seq.

[2018-04-03 17:25] angersson commented on #16589
@koAlech did @petewarden's suggestion fix your problem?

[2018-04-03 17:31] angersson commented on #16982
@cy89 Can you keep an eye on the resolution of this issue?

[2018-04-03 17:32] angersson commented on #17101
This looks like it has been solved, so I'm closing the issue to keep the tracker focused. Thanks!

[2018-04-03 17:32] #17101 closed

[2018-04-03 17:32] asimshankar commented on #15880
@zheng-xq may be in a better position to comment on the pros-and-cons of allowing `ProcessState` destruction or a backdoor to releasing memory.

[2018-04-03 17:33] PiyushDatta commented on #17702
@quangvu0702 @moguzozcan are you both running tensorflow 1.6.0? And which code snippet gives you the error?

[2018-04-03 17:38] allenlavoie commented on #17257
Interesting. It's not exactly a drop-in replacement for `tf.train.Saver`, but we've been developing an object-based save/restore API in part for compatibility with eager execution, [tfe.Checkpoint](https://www.tensorflow.org/api_docs/python/tf/contrib/eager/Checkpoint).

It more or less accidentally has the lazy error checking you're interested in. When executing eagerly the `restore` request may

[2018-04-03 17:45] zheng-xq commented on #15880
@asimshankar The reason the memory belongs to ProcessState even after session is closed is because Variables lives longer than session. But with "reset", all variables and other resources are also released.

So for DirectSession, we can release all memory if the "reset" is called. If that is already done that way, we can certainly add that functionality.

What do you think?

[2018-04-03 17:47] angersson commented on #16260
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-03 17:47] #16260 closed

[2018-04-03 17:48] jianyinglang commented on #18092
@asimshankar I did build the code using the instructions in `contrib/mpi/README.md`. And then run the unit test `mpirun -np 1 python mpi_allreduce_test.py` under directory `tensorflow/tensorflow/contrib/mpi_collectives`. I did not set `server = tf.train.Server(cluster, job_name="local", task_index=0, protocol='grpc+mpi')`.

[2018-04-03 17:50] drpngx commented on #17922
Nice to see you figured it out!

[2018-04-03 17:50] #17922 closed

[2018-04-03 17:57] yaroslavvb commented on #18207
this is better question for stackoverflow

[2018-04-03 17:57] #18207 closed

[2018-04-03 17:59] chrisrsipes commented on #17930
@asimshankar That's partially correct.  With the screenshots I posted, the overall RAM consumption (measured by the MEM visualization that appears in the bottom left of the top section) does indeed illuminate the issue, however the processes that are in view are was not the sample application that was causing the memory leak.

To clarify this, I've gathered new screenshots, with the process runnin

[2018-04-03 18:02] angersson commented on #17192
@ebrevdo Can you comment on this?

[2018-04-03 18:12] kjancke opened #18211 "freeze_graph.py generates error messages when run on sample model (census / wide_deep)"
1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the w

[2018-04-03 18:13] drpngx commented on #17519
@sukritiramesh any comment here?

[2018-04-03 18:14] drpngx commented on #17427
@selcouthlyBlue did you send a PR against master?

[2018-04-03 18:17] drpngx commented on #17275
What is the current behavior when you do this?

[2018-04-03 18:17] drpngx commented on #17275
@aselle WDYT?

[2018-04-03 18:18] #16719 closed

[2018-04-03 18:19] drpngx commented on #16856
@jhseu any comment?

[2018-04-03 18:30] yongtang commented on #18205
I think the issue is in:
https://github.com/tensorflow/tensorflow/blob/28dec7f4669e8ed5af4a3abebf9888d3fdffe5fd/tensorflow/contrib/distribute/python/values.py#L75-L76

where `self._index.keys()` returns a non-list in python 3. Added a PR #18212 for the fix.

[2018-04-03 18:31] yongtang commented on #18188
I think this issue is the same as #18205. The PR #18212 will fix the issue I think.

[2018-04-03 18:34] reedwm commented on #11171
I'll assign to you @allenlavoie and mark as "awaiting tensorflow", which now means you currently aren't working on it.

[2018-04-03 18:44] allenlavoie commented on #11171
I think it's fine as "contributions welcome". I'll grab the bug if I start working on it. Happy to discuss if anyone wants to take it first.

[2018-04-03 18:58] cbockman commented on #17994
Looks like you're just out of memory.

First step I'd try would be to turn off all other processes (/usr/lib/xorg/Xorg, compiz, in particular), as they are taking a non-trivial amount of your GPU memory.

[2018-04-03 19:14] ppwwyyxx opened #18213 "Request a new padding mode"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: n/a
- **TensorFlow installed from (source or binary)**: n/a
- **TensorFlow version (use command below)**: n/a
- **Python version**: n/a
- **Bazel version (if compiling from source)**: n/a
- **GCC/Compiler vers

[2018-04-03 19:39] pvaneck commented on #18118
Take a look at the note at the top here: https://www.tensorflow.org/programmers_guide/debugger

You are probably missing the curses or pyreadline package on your system which tfdbg relies on for the user interface.

For Windows, I say go ahead and try out the curses wheel for your system on the site mentioned in those docs, as I think it's a nicer looking UI than readline. If I recall correctly, w

[2018-04-03 19:48] wei-v-wang commented on #16982
@jakubkarczewski Could you please list the contents of the "/data/i1k-extracted/train" (10 lines of the output is fine). I am having difficulty make your code run with my imagenet dataset, so I wonder maybe you are using raw images?

[2018-04-03 20:12] sibyjackgrove opened #18214 "Documentation missing for tensorrt in Python API"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **TensorFlow installed from (source or binary)**: N/A
- **TensorFlow version (use command below)**: 1.7
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: N/A
- **GCC/Compiler vers

[2018-04-03 20:29] cy89 commented on #16982
@angersson happy to keep an eye out; I think we're mostly relying on Wei for help here.

[2018-04-03 20:50] martinwicke commented on #17803
[code]

How does your input_fn return 'sample_weight'?

[2018-04-03 20:55] bakercp commented on #14605
Specifically

[code]

[2018-04-03 20:58] imatensor opened #18216 "tf.space_to_depth alters input type if its quantized. But why?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-03 21:01] gzmkl commented on #17494
Found the root cause and had the fix.

A new PR will be created once internal code review and validations are done.

[2018-04-03 21:33] drpngx commented on #17127
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-03 21:33] #17127 closed

[2018-04-03 21:35] drpngx commented on #17204
@mrry WDYT?

[2018-04-03 21:35] mahyaar opened #18217 "TensorRT create exception when engine is created from sub-process"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-03 21:36] sleighsoft opened #18218 "Feature Request: Named global_step"
I have been developing GAN models for some time now and I find it useful to track the individual stages (pretraining of generator/discriminator, adversarial training) in different global_steps so I can save and restore my actual progress without doing a lot of calculations based on configured training steps and so on.

Therefore, I have basically rebuild the functionality that [tf.train.get_or_cre

[2018-04-03 21:40] sleighsoft commented on #17257
Looks interesting. So how exactly would I transfer my code over to this new approach (I do not use any high-level APIs). I currently don't see the locality of variables to be a disadvantage. I am going to use multiple savers in my GAN anyways to swap out different trained generator and discriminator stages.

[2018-04-03 21:43] sleighsoft commented on #16363
This has been a while. I'll try to add everything necessary.
The nmt code is a code sample. Not short though ;)

[2018-04-03 21:48] sid-devic commented on #18187
[This](https://stackoverflow.com/questions/37842913/tensorflow-confusion-regarding-the-adam-optimizer?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa) looks like it may address the issue you are having.

[2018-04-03 21:50] mas-dse-greina commented on #17494
Thanks!

On Tue, Apr 3, 2018, 2:04 PM Guozhong Zhuang <notifications@github.com>
wrote:

[2018-04-03 21:56] #18188 closed

[2018-04-03 21:57] Novak3 opened #18219 "Feature Request: OutputProjectionWrapper compatible with tf.nn.bidirectional_dynamic_rnn"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:  Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Tensorflow 1.4 Docker under CentOS 7.3
- **TensorFlow installed from (source or binary)**:  Tensorflow 1.4 Docker
- **TensorFlow version (use command below)**:  1.4
- **Python version**: 3.6
- **Bazel versi

[2018-04-03 22:07] ojadaw commented on #8037
Well you need to resolve this if you are building tensorflow in an acceleration environment such as using k-fold in the KerasClassifier.
To resolve this you will need to build tensorflow from source just as everyone recommends.
To build tensorflow from source you will need to have the following tool
1. Install git on you machine if you haven't down so already - on ubuntu machine just type "sudo ap

[2018-04-03 22:08] allenlavoie commented on #17257
Inheriting from `tf.keras.Model` is a nice way to manage `Layer`s ([example](https://github.com/tensorflow/tensorflow/blob/5d33c1e49178aedbb459da7ce58eca710102c06b/tensorflow/contrib/eager/python/examples/gan/mnist.py#L95)) and you get Checkpointability for free. But if you want something lower level, you can inherit from `tfe.Checkpointable` directly. In either case the `__setattr__` override tak

[2018-04-03 22:10] yaroslavvb commented on #17204
Most likely it's an extra memcpy that is triggered when feed_dict inputs are not 64-byte aligned. There's are other bugs which describe this issue better, so closing this

[2018-04-03 22:10] #17204 closed

[2018-04-03 22:15] robieta commented on #18188
Lovely. Thank you.

[2018-04-03 22:25] ritaxiaotian opened #18221 "Running tensorflow on GPU encountered ERROR: libcublas.so.9.0: cannot open shared object file: No such file or directory"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: I'm using the tensorflow object detection API
- **OS Platform and Distribution : Linux Ubuntu 16.04
- **TensorFlow installed from : pip install
- **TensorFlow version (use command below)**: 1.6
- **Python version**: python3
- **CUDA/cuDNN version**: Cuda 9.0
- **GPU model an

[2018-04-03 22:32] ppwwyyxx opened #18222 "Synchronized BatchNorm statistics across GPUs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: n/a
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: n/a
- **TensorFlow installed from (source or binary)**: n/a
- **TensorFlow version (use command below)**: n/a
- **Python version**:  n/a
- **Bazel version (if compiling from source)**: n/a
- **GCC/Compiler ve

[2018-04-03 22:35] bignamehyp commented on #17834
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-04-03 22:35] #17834 closed

[2018-04-03 22:52] ccolby commented on #16227
@silentttone Did you try 1.6 as @sandeepkumar8713 suggested? What you reported is a tf.contrib.factorization.KMeansClustering bug in versions 1.5 and earlier. Please try 1.6 or later.

See https://github.com/tensorflow/tensorflow/issues/17002

[2018-04-03 23:02] silentttone commented on #16227
Sorry, yes, the issue is fixed in 1.6. Thanks!

[2018-04-03 23:02] #16227 closed

[2018-04-03 23:09] hartb commented on #6850
@PouriaCh If you can use the .deb packages for the cuDNN install (available for cuDNN 5.1 at https://developer.nvidia.com/rdp/cudnn-archive) then I think the install process should create the links for you. You shouldn't have to do it by hand (and you'd probably want to remove any manually-created links before doing the .deb install).

With recent versions of TF, we've been using the cuDNN tarball

[2018-04-03 23:15] MarkDaoust commented on #10241
Fixed.

[2018-04-03 23:15] #10241 closed

[2018-04-03 23:53] yongtang commented on #10622
Added a PR #18223 to expose `RecordInput` symbol and docs in `tf.contrib.framework.RecordInput`.

[2018-04-04 00:01] angersson commented on #18036
Done. Great!

[2018-04-04 00:01] #18036 closed

[2018-04-04 00:36] tensorflowbutler commented on #18211
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version

[2018-04-04 00:36] tensorflowbutler commented on #18206
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-04 00:36] tensorflowbutler commented on #18203
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-04 00:36] tensorflowbutler commented on #18202
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-04 00:37] tensorflowbutler commented on #18201
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-04 00:37] tensorflowbutler commented on #18198
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-04 00:37] tensorflowbutler commented on #18191
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code

[2018-04-04 00:37] tensorflowbutler commented on #18190
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-04 00:37] tensorflowbutler commented on #17822
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 00:37] tensorflowbutler commented on #17693
Nagging Assignee @ispirmustafa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 00:37] tensorflowbutler commented on #17424
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 00:37] tensorflowbutler commented on #9471
Nagging Assignee @yzhwang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 00:37] tensorflowbutler commented on #16926
Nagging Assignee @jsimsa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 00:37] tensorflowbutler commented on #16538
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 00:38] tensorflowbutler commented on #15732
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-04 00:38] tensorflowbutler commented on #15412
Nagging Assignee @wujingyue: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 00:38] tensorflowbutler commented on #15290
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 00:38] tensorflowbutler commented on #14018
Nagging Assignee @MarkDaoust: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 00:38] tensorflowbutler commented on #12948
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 00:38] tensorflowbutler commented on #10488
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 00:38] tensorflowbutler commented on #9836
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 00:41] asimshankar commented on #18190
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-04-04 00:41] #18190 closed

[2018-04-04 01:12] rohan100jain commented on #17861
Try doing a reshape on the rel_output?

[2018-04-04 01:18] JonnoFTW commented on #18221
Have you done this:

[code]
Or set it to the location where lubcublas.so actually is?

[2018-04-04 01:30] rohan100jain commented on #17908
I can reproduce the bug. Assigning.

[2018-04-04 01:37] rohan100jain commented on #18174
Can you be a little more explicit about what exactly you did and what was the failure?

[2018-04-04 01:37] #17219 closed

[2018-04-04 01:42] nanamare commented on #18199
@VincentLin78
I try to convert pb to tflite, but encountered unsupported operation error ([here is my posting](https://github.com/tensorflow/tensorflow/issues/18191)).  I converted 5 pb  to tflite, but there was no dramatic effect. (mobilenet, inception, ssd mobilenet etc)
also
[https://developer.android.com/ndk/guides/neuralnetworks/index.html]
I'm wondering if you need to write code that referen

[2018-04-04 01:44] leandro-gracia-gil commented on #13016
Any updates on this? Let me know if there's anything I should try and test.

[2018-04-04 01:46] nanamare commented on #18191
@angersson
When will be offering ResizeNearestNeighbor operation in TFL?

[2018-04-04 01:51] rohan100jain commented on #17559
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-04-04 01:51] #17559 closed

[2018-04-04 01:53] rohan100jain commented on #17744
Can you please elaborate on what you did to exactly get this error? What code you ran etc.?

[2018-04-04 01:59] #17303 closed

[2018-04-04 02:02] #17458 closed

[2018-04-04 02:02] tatianashp commented on #17458
@sfvaroglu Please reopen if you have further concerns.

[2018-04-04 02:04] rohan100jain commented on #17445
I think in the thread its mentioned that you might have to change some lines in common_runtime/gpu/gpu_device.cc for this to work. By default minimum is 3.5

[2018-04-04 02:07] #16663 closed

[2018-04-04 02:08] laket commented on #17856
@ebrevdo thank you for reply.

Do you mean that the graph is shrinked at sess.run, so the temporary big graph is not important?

When I use second order differential of fused_batch_norm in a big graph like Resnet, memory is exhausted at tf.gradients.
So my program can't reach sess.run.

If we can optimize graph at graph construction time, I think we should do it.

[2018-04-04 02:09] tatianashp commented on #16823
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-04 02:09] #16823 closed

[2018-04-04 02:09] chriszeng87 commented on #18206
Have I written custom code  N/A
OS Platform and Distribution   Android
TensorFlow installed from latest code
TensorFlow version  1.7
Bazel version 5.4
CUDA/cuDNN version N/A
GPU model and memory N/A
Exact command to reproduce N/A

[2018-04-04 02:12] selcouthlyBlue commented on #15985
Which proposed implementation?

[2018-04-04 02:14] selcouthlyBlue commented on #17427
I did send a PR against master. https://github.com/tensorflow/tensorflow/pull/17478 But it's not related to this request.

[2018-04-04 02:17] tatianashp commented on #16999
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-04 02:17] #16999 closed

[2018-04-04 02:24] mackiem commented on #17445
It can be compiled from source with CUDA capability 3.0. It is working for me this way.

[2018-04-04 02:24] #17445 closed

[2018-04-04 02:27] ebrevdo commented on #17839
PRs improving the documentation are welcome!

[2018-04-04 02:29] zhangbo0325 commented on #15633
@nanamare
You should use frozen_inference_graph_stripped.pb instead of frozen_inference_graph.pb.
try "bazel-bin/tensorflow/tools/graph_transforms/summarize_graph --in_graph=frozen_inference_graph_stripped.pb"
and you can see the following output:
Found 1 possible inputs: (name=Preprocessor/sub, type=float(1), shape=None)
No variables spotted.
Found 2 possible outputs: (name=concat, op=ConcatV2) (

[2018-04-04 02:32] wenruij opened #18225 "Distributed TensorFlow: All works use the same GPU device on host with 4 GPUs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution **: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip2.7 install
- **TensorFlow version (use command below)**:
tf.VERSION = 1.4.0
tf.GIT_VERSION = v1.4.0-rc1-11-g130a514
tf.COMPILER_VERSION = v1.4.0-rc1-11-g130a514
- **P

[2018-04-04 02:33] drpngx commented on #17427
Ok how about sending one for this request?

On Tue, Apr 3, 2018, 7:17 PM Jerome <notifications@github.com> wrote:

[2018-04-04 02:34] zhangbo0325 commented on #15633
@nanamare
The latest tensorflow lite code include a java interface to enable NNAPI.

class Interpreter has function called: setUseNNAPI(true);
You can directly call such interface.

[2018-04-04 02:35] ebrevdo commented on #17856
The graph is rewritten at session.run, yes. That doesn't help you though.
Thousands of ops seems a bit excessive.  Can you identify which forward op
exactly causes the gradient graph to blow up?

On Tue, Apr 3, 2018, 7:09 PM laket <notifications@github.com> wrote:

[2018-04-04 02:38] selcouthlyBlue commented on #17427
This feature apparently exists in master already. I just want it to be supported in tensorflow 1.4 as well. Here's the pull request I made against r1.4 https://github.com/tensorflow/tensorflow/pull/17462

[2018-04-04 02:45] drpngx commented on #17427
Thanks for checking! Ok, we can close this then

On Tue, Apr 3, 2018, 7:41 PM Jerome <notifications@github.com> wrote:

[2018-04-04 02:45] yaroslavvb commented on #18117
I recall there being up to 60 seconds hand on the first sess.run in some situations (PTX compilation). There may also be things like cuda autotuning that happen in earlier iterations but not in later

[2018-04-04 02:48] yk5 commented on #14292
I'm away this week, but will continue to investigate on it later.
At this moment, other platforms should be okay (confirmed on linux with
nightly), but I suspect cmake as the culprit for windows problem.

On Tue, Apr 3, 2018, 6:58 PM Rohan Jain <notifications@github.com> wrote:

[2018-04-04 02:49] selcouthlyBlue commented on #17427
So will the said feature be added to tensorflow 1.4? I did notice that my pull request for that branch was closed for the following reason:

[2018-04-04 02:52] yaroslavvb commented on #18225
Can you localize it further to a bug of TensorFlow?

[2018-04-04 03:01] drpngx commented on #17427
You need to send PRs directly against master. The release branches are for
our use only. They contain the release bits. The release branches are cut
from the master branch periodically, do if you get something into master,
it will become part of the next release

On Tue, Apr 3, 2018, 7:52 PM Jerome <notifications@github.com> wrote:

[2018-04-04 03:04] panfengli opened #18226 "After applying dataset.batch(batchsize), could the batchsize show in items' dimension?"
### System information
- **Have I written custom code (https://github.com/umich-vl/px2graph/blob/master/util/loader.py)**:
- **OS Platform and Distribution (CentOS Linux release 7.4.1708 (Core))**:
- **TensorFlow installed from (binary)**:
- **TensorFlow version (1.4)**:
- **Python version (3.6)**:
- **Bazel version (N/A)**:
- **CUDA/cuDNN version (Cuda 8, Cudnn v6)**:
- **GPU model and memory (Ti

[2018-04-04 03:07] selcouthlyBlue commented on #17427
So every feature that gets added into master are periodically added into the release branches including the older ones?

[2018-04-04 03:09] ed-alertedh opened #18227 "(feature request) batch results from tf.estimator.Estimator.predict"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: tensorflow-gpu 1.6.0
- **Python version**: 3.6.3 64-bit
- **Bazel version (if compiling from

[2018-04-04 03:14] weichencoder commented on #18174
I follow the procedures of building the iOS demo in "examples" in Tensorflow. And it worked well. but when I ran this project( https://github.com/yjmade/ios_camera_object_detection )on ios. I met this warning, 'unsupported/Eigen/CXX11/Tensor'. I checked the unsupported/Eigen/CXX11/Tensor , and it is right in the folder.

[2018-04-04 03:25] mrry commented on #18081
Can you try replacing `"localhost:..."` with `"127.0.0.1:..."`?

[2018-04-04 03:48] drpngx commented on #17427
No, we only cherry pick important bug fixes to the older releases

On Tue, Apr 3, 2018, 8:10 PM Jerome <notifications@github.com> wrote:

[2018-04-04 03:48] androidbeepboop commented on #17905
Hi poxvoculi,

Thanks for your response. It is still a problem, and I will examine what's going on with the CPU during the GPU pause. I'll post a screenshot next chance I get.

[2018-04-04 03:49] drpngx commented on #17427
Also when we cherry pick these but sizes, we pick them from master.

On Tue, Apr 3, 2018, 8:47 PM Patrick Nguyen <drpng@google.com> wrote:

[2018-04-04 05:08] Zealoe opened #18228 "why the convolution network output changes when i have already fixed the parameters of the convolution and only feed the net with same input?"
Sorry to bother, but i have trouble with the convolution in tensorflow.

I am working with the network as below, input shape is [1,256,256,33], go through some convs, and after them i add a fully connected layer( not show in this picture). i fix the parameters of the convs, and try to train the fc layer.

However, i found something weird... the network won't converge at all, so i only feed the net

[2018-04-04 05:15] dinhvankiet124 commented on #18221
Still error

[code]

[2018-04-04 05:29] moguzozcan commented on #17702
I was getting the error first at 1.5.0 then I upgraded to the latest version 1.7.0. When I call cifar10.maybe_download_and_extract() method it gives the error. I am using anaconda.

`UnrecognizedFlagError                     Traceback (most recent call last)
<ipython-input-13-02a754d7036a> in <module>()
----> 1 cifar10.maybe_download_and_extract()

D:\Google Drive\Akademik\Ozyegin\CS566\Project 2\

[2018-04-04 05:30] ShivVM opened #18229 "Bug - in Freeze Graph tool when trying to convert Graph.pb for Mobile Deployment"
System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): release 1.6
Python version: 3.5
Bazel version (if compiling from source): -
GCC/Compiler version (if compiling from source

[2018-04-04 05:33] macayaven commented on #18205
Thanks!

[2018-04-04 05:33] #18205 closed

[2018-04-04 06:00] fmbao commented on #1450
I met same problem ,and I final solve it by decreasing the size of batch.It's so strange that I can run this program with bigger batch size before

[2018-04-04 06:08] sguada commented on #17203
Not sure why did you assign it to me.

[2018-04-04 06:14] uidp1499 commented on #16862
@ZacBlanco @asimshankar Thanks for your solutions.
I tried the build after adding the URL suggested by @ZacBlanco but was still facing the same error. Following @asimshankar 's solution worked like a charm and I was able to build tensorflow r1.7! The issue was with the Certificates and got resolved after using [this solution](https://github.com/bazelbuild/bazel/issues/4332#issuecomment-364557713)

[2018-04-04 06:33] wuchangming opened #18230 "TypeError: unsupported format string passed to Tensor.__format__"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X  version: 10.12.1
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:v1.7.0-3-g024aecf414 1.7.0
- **Python version**: 3.6.4
- **Bazel version (if co

[2018-04-04 06:49] GarryLau commented on #17684
@Neargye I get the same problem when I try converting the mobilenet_v1 to a .tflite mode. The mobilenet_v1 which I used is in https://github.com/tensorflow/models/tree/master/research/slim/nets.
I have tried you solution above,but it does not solve my problem. Is there any ops don't supported by tflite? @poxvoculi
Many thanks.

[2018-04-04 06:51] wuchangming commented on #18230
OK, I miss some code.
[code]

[2018-04-04 06:51] #18230 closed

[2018-04-04 07:04] jakubkarczewski commented on #16982
@wei-v-wang yes, I am using raw images. Directory `i1k-extracted/train/` contains directories named `0/, 1/, 2/, ..., 999/`. Each directory represents data for one particular class of images. In each one of them there are images in `.JPEG` format. Example name of 1st image from `0/` directory: `n02119789_10007.JPEG ` where `n02119789` stands for some kind of class id and `10007` is (I guess) image

[2018-04-04 07:07] asimshankar commented on #16862
Great to hear, thanks.

Closing this issue out as it seems to be a JVM configuration issue and not a TensorFlow one, and the solution suggested above seems to work. Feel free to reopen if I'm mistaken. Thanks.

[2018-04-04 07:07] #16862 closed

[2018-04-04 07:15] byronyi opened #18232 "[RFC] Native GPU-Direct RDMA implementation of collective ops"
In a [recent CL](a0e0685ca974e484de9200caf8c414dcb55277bb), the remote memory access based collective ops (`CollectiveRemoteAccess`) and a local implementation (`CollectiveRemoteAccessLocal`) has been added (looks like @poxvoculi's glorious work).

I am wondering if there would be enough space for a verbs implementation of the remote access collective ops, or its design has been carried out and TF

[2018-04-04 08:05] selcouthlyBlue commented on #15985
I guess error handling can be applied such that scalars can't be accepted into `dense_to_sparse`.

[2018-04-04 08:18] YijinLiu commented on #14670
I understand it'll take some time. Given that people are waiting for this, do you have a timeline or plan when SSD mobilenet will be supported?

[2018-04-04 08:44] selcouthlyBlue commented on #17427
In that case, I'm closing this issue now.

[2018-04-04 08:44] #17427 closed

[2018-04-04 08:54] nanamare commented on #15633
@zhangbo0325
I already try to call setUserNNAPI(true);, But there was no effect.
It was almost similar inference not using NNAPI.

[2018-04-04 09:01] worm004 commented on #18198
I am glad to update the question with your suggestion : )

OS Platform and Distribution:
I am using ubuntu 16.04 with the kernel 4.13.0-37-generic

TensorFlow installed from:
tensorflow is installed from pip with the script.
`pip3 install tensorflow-gpu==1.4.1`

TensorFlow version
I double checked it with the following script.
` python3 -c 'import tensorflow; print (tensorflow.__version__)'`

Exac

[2018-04-04 09:05] KnightOfTheMoonlight commented on #3361
+1. For reference, in https://www.tensorflow.org/api_guides/python/reading_data, the file format supported are only csv, binary and tfrecord. But hdf5 is a pretty common format. For big datasets, it is not possible to load a whole dataset with format .hdf5 once like this example. https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/hdf5_classification.py. Instead, we use

[2018-04-04 09:18] KnightOfTheMoonlight commented on #3379
@tomrunia  You suggestion just works for small datasets, which out-of-core support is not needed. For big dataset, it is not possible to load the entire dataset once, right? If there's is any mistake from my opinion, please let me know.

@tetmin Hi, I have the same issue. And from my search, change hdf5 file to tfrecord or binary file will be the only feasible way. Did you find another way?

[2018-04-04 09:40] JoeBanks13 commented on #18147
Sorry, got side tracked. Just finished the build from source and that seems to me working fine. Not sure why the other packages aren't.

[2018-04-04 10:24] polaroidkidd opened #18234 "android build bazel fails when using constraint-layout"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, I have included a [Constraint-Layout](https://github.engineering.zhaw.ch/Einardan/tensorflow-ba/blob/master/tensorflow/examples/android/res/layout/fragment_camera2_video.xml).
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 17.10
- **TensorFlow installed from (source or

[2018-04-04 10:25] zhangbo0325 commented on #15633
@nanamare, are your running ssd-mobilenet? For such network, there is a SQUEEZE operation which is not supported by android NNAPI.  I asked the question above.  For mobilenet-v1, it is OK.

[2018-04-04 10:55] imsheridan commented on #17839
Created a PR #18235 to fix this issue.

[2018-04-04 11:08] byronyi commented on #18225
The `GPU:0` actually refers to `CUDA_VISIBLE_DEVICES=${index}` for different index. I don't think there is a bug; you will not be able to start more than one process on the same GPU given your current configuration.

[2018-04-04 11:41] cvanweelden commented on #18016
I'd say related but not the same. If this gets implemented, then adding it to `tf.estimator.train_and_evaluate` would probably be trivial and more efficient than having `train_and_evaluate` calling the `evaluate` method multiple times in a loop like I do in the example above.

However, since `train_and_evaluate` evaluates only once I think that the efficiency loss for that making multiple calls to

[2018-04-04 11:58] Haijunlv commented on #15633
@andrewharp  Hi, andrewharp. i just followed your quick steps for converting an SSD MobileNet model to tflite format, and then i tried to  build the demo to use it. But something accurred in apk.
    for the tflite from mobilenet_ssd_tflite_v1.zip, everything is ok! i can use mobile to detecter things.
    And then i tried to use pet data to train the model from the checkpoint in mobilenet_ssd_tfl

[2018-04-04 12:02] matthijsvk commented on #812
I'm looking for a better solution to this as well

[2018-04-04 12:11] deepankar27 opened #18236 "cannot be overwritten again on class - tensorflow"
Tensorflow: 1.6.0
OS: Red Hat Enterprise Linux 7

I created weights & json model using keras but when I try to load it from my code I am getting the error from tensorflow.

ValueError(operator getitem cannot be overwritten again on class <class 'tensorflow.python.framework.ops.Tensor'>.)

Initially I was loading the model from other lib & then referring it, to test I clubbed all in one place, stil

[2018-04-04 12:39] bennuttall commented on #18202
N/A

[2018-04-04 12:49] stefanievonk commented on #18111
When will 1.7.1 be released? Is there a temporary solution to mute this output?

[2018-04-04 13:03] xisnu commented on #1095
I was wondering what exactly this **grad** is doing. I was trying to design a custom mean squared error. My loss computation is
[code]
for this function I have defined a gradient function as
[code]
I called it in main tensorflow body as
`loss=py_func(mse_loss,[logits,y],tf.float64,grad=_MeanSquareGrad)`
Now, the code is correctly finding the Loss and optimizer is also minimizing it. But I am not s

[2018-04-04 13:28] ritaxiaotian commented on #18221
Hi all, thanks for your answers. I've searched for solutions before I posted the issue. So I've tried installing Cuda 9.0, I actually have file "libcublas.so.9.0" and I tried "export LD_LIBRARY_PATH=/usr/local/cuda/lib64"

In the end, I solved the problem by reinstalling Cuda 9.0, installing both tf 1.4,1.5 and 1.6 on the computer and
in the terminal, type:
$ sudo gedit /etc/profile

Then, add the

[2018-04-04 13:35] poxvoculi commented on #18232
I expected you would be interested in this.  It's going to take some more time, probably a few weeks, in order to get all of the pieces checked in (it's a large amount of new code, altogether).  At that point I'd be happy to discuss with you how to extend the GDR runtime to support collective ops.  The design goal is very much to allow for high-performance extensions since it's impossible to offer

[2018-04-04 13:36] #18221 closed

[2018-04-04 13:42] OlofNiko opened #18237 "ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory"
I had installed CUDA toolkit version 9.1.85, cuDNN v7.1.2  for CUDA 9.1 and tensorflow 1.6 from [this link](https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.6.0-cp36-cp36m-linux_x86_64.whl
)

When i try import tensorflow i get the following error.

(tensorflow) akshith@Akshith:~$ python
Python 3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 18:10:19)
[GCC 7.2.0] on linux
Type "he

[2018-04-04 13:52] nicolefinnie commented on #2033
@philipperemy  was right, we didn't hit this issue when we just had one GPU, but when we trained our model with multiple GPUs, the error kicked in. You need to calculate your batch size for each GPU carefully. For example, if each batch size is 64 and you have 4 GPUs with 47 training samples, it will be split to 16, 16, 15, 0, the last batch will get zero sample. It's not obvious when there are ma

[2018-04-04 14:05] George-Gate commented on #16864
I also have this problem, it seems that there are only CPU kernels for solfmax...
Code:
![image](https://user-images.githubusercontent.com/8580553/38312187-a7c93f52-3853-11e8-92a7-d6a0a2dac2c2.png)
Result:
![image](https://user-images.githubusercontent.com/8580553/38312131-886bc3d2-3853-11e8-917c-cac4c3fd4a58.png)

I am using tensorflow-1.7.0-rc1 (GPU version from pip) on Windows 10, with GTX 1080

[2018-04-04 14:25] rohan100jain commented on #17381
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-04 14:25] #17381 closed

[2018-04-04 14:32] rohan100jain commented on #17973
I think this might have something to do with the C_API vs. non C_API stuff. Shape inference tends to be better with the new C API.

Try setting environment variable TF_C_API_GRAPH_CONSTRUCTION_SHAPES and TF_C_API_GRAPH_CONSTRUCTION to 1 and then see.

[2018-04-04 14:34] rohan100jain commented on #17991
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-04 14:34] #17991 closed

[2018-04-04 14:42] George-Gate commented on #16864
A tradeoff is to define your own softmax:
[code]

[2018-04-04 14:42] burglarhobbit commented on #17991
@rohan100jain Thanks for the response, I have an another query related to tensorflow if you're quick enough to sort it out for me...I can ask in this thread instead of waiting for 10 days to get a response.

Also, I don't get much reply on StackOverflow for days so if you're here just to curate and filter on the questions, it's not really helping either of us.

[2018-04-04 14:59] rohan100jain commented on #17876
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-04 14:59] #17876 closed

[2018-04-04 14:59] anujgupta82 commented on #17369
@simothejudge @duboyal : try

       pip install grpcio==1.9.1 https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.6.0-py2-none-any.whl

This worked for me

[2018-04-04 15:02] androidbeepboop commented on #17905
Here's a word doc with images of the afterburner output during a period when the GPU stalling is visible:
[afterburner logs.docx](https://github.com/tensorflow/tensorflow/files/1876339/afterburner.logs.docx)

It seems you're correct about the CPU idea; CPUs 1 and 2 (and some of the others) tend to exhibit high activity during the "GPU stalls".

I'll upload a .py file and some test data with a vers

[2018-04-04 15:23] datwelk opened #18238 "Feature Request: keepdims option for tf.boolean_mask()"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **TensorFlow installed from (source or binary)**: N/A
- **TensorFlow version (use command below)**: ('v1.6.0-0-gd2e24b6039', '1.6.0')
- **Python version**: Python 2.7.14
- **Bazel version (if compiling

[2018-04-04 15:29] wei-v-wang commented on #16982
Ah I see. Thank you for the info. Looks like maybe each year the imagenet are named differently -- e.g. my raw images had n02119789 being the directory names and yours are numbers like 0,1,10,...
I will work on preparing identical dataset to yours. Thanks for the info!

[2018-04-04 15:40] burglarhobbit commented on #18238
There's a little flaw in your logic, if the tensor and mask is like this:
[code]
then expected output according to you should be `[[1, 3], [6], [7, 8, 9]]` but this will give ShapeError since TensorFlow doesn't allow flexible shapes like Python lists do. So what I suggest is along with `keepdims` argument, there should be a 'pad_val` argument where you mention the value of the padding that is goin

[2018-04-04 15:47] polaroidkidd commented on #18234
I have managed to build the app using `gradle build` after specifying `def nativeBuildSystem = 'cmake'`

Unfortunately the bazel build command still fails.

[2018-04-04 15:47] #18234 closed

[2018-04-04 15:56] yongtang commented on #11228
It looks like this issue has been fixed in PR #11630. I will close this one. Thanks for the contribution!

[2018-04-04 15:56] #11228 closed

[2018-04-04 15:59] ispirmustafa commented on #17693
Hi @bhack
We don't have any plan re: OHEM. Could you please elaborate more about your proposal?
Thank you

[2018-04-04 16:01] cyqluowang commented on #17464
ok

[2018-04-04 16:04] elsonrodriguez commented on #17203
As a follow up to this, it looks like tf.Estimator automatically processes TF_CONFIG. So maybe the better idea is to just switch all examples to tf.Estimator?

[2018-04-04 16:19] allenlavoie commented on #17257
That sounds right. I'll close this for now, but feel free to comment or open something else if object-based checkpointing is missing something you need (or if you decide it's awful and want the original name-based request open again :).

[2018-04-04 16:19] #17257 closed

[2018-04-04 16:27] vibhuti19 opened #18239 "tensorflow object detection training on own data"
I want to use the tensorflow object detection api for my own objects, so I am using the ssd_mobilenet_v1_coco and I have made the necessary changes in the config files and all and now after I run my train.py file through the following command:

python3 train.py --logtostderr --train_dir=data/ --pipeline_config_path=data/ssd_mobilenet_v1_pets.config

I get this error:

2018-04-04 21:42:05.832786: I

[2018-04-04 17:12] androidbeepboop commented on #17905
The word doc I uploaded displays both CPU and GPU activity (though in separate images); is that what you're looking for? Note that the vertical line on the images is placed at the same time in each, so it should be easy to compare. Let me know if that's not what you're looking for.

[2018-04-04 17:13] bhack commented on #17693
Yes there are different approaches but just to make an example:
http://www.erogol.com/online-hard-example-mining-pytorch/

With high level api i.e. estimators, if we want to automate this process, we need a way to let estimators to interact with the dataset api and its iterators to handle hard cases mining.

There was also an old request on Keras: https://github.com/keras-team/keras/issues/6569

S

[2018-04-04 17:32] angersson commented on #18147
@gunan Any thoughts on why the pip package would be broken here?

AFAIK, the PyPi packages have some platform-specific build settings, which may mean that you'll have to build from source. Did you try an Ubuntu-targeting container, too?

[2018-04-04 17:38] gunan commented on #18147
we never tested our build on arch linux. It is possible that the combination of core libraries on arch linux is different, and there is a low level conflict.

[2018-04-04 18:17] jthestness commented on #18092
We've tested TF mpi_collectives using OpenMPI 2.0.x, but we haven't thoroughly tested with OpenMPI 3.0.x. OpenMPI 2.0.x defines `MPI_Datatype` as `ompi_datatype_t` in `include/mpi.h`, so the symbol exists and is detected correctly. I see the same declarations in 3.0.x, so it should work the same if OpenMPI is built the same way. I would recommend checking the symbol table in your MPI libraries to

[2018-04-04 18:26] fo40225 opened #18241 "Tensorflow assume the pointer size is 64bit cause problem on 32bit platform"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 1709 x64
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 3.6.4
- **Bazel version (if compiling from source)**: cm

[2018-04-04 18:54] dthkao opened #18242 "Make tf.train.Scaffold._default_local_init_op() a public static method?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-04 18:55] samikama opened #18243 "TensorFlow verbose logging is too verbose even at level 1"
Hello,

This is more of a feature request than an issue. Currently there is no convention on verbose logging of TensorFlow with VLOG() levels. This is making it pretty useless for development purposes. For example at  TF_CPP_MIN_VLOG_LEVEL=1, tensorflow/core/framework/log_memory.cc is printing all allocations and de-allocations which are spamming the log with hundreds of messages if not thousands

[2018-04-04 19:12] bjmuld commented on #18147
Im having this issue on Ubuntu  16.04.3....  how might I track down the offending lib?

On April 4, 2018 1:41:35 PM EDT, Gunhan Gulsoy <notifications@github.com> wrote:

[2018-04-04 19:16] jianyinglang commented on #18092
@jthestness We checked the mpi.h header file and did see that it defines `MPI_Datatype` as `ompi_datatype_t` in OpenMPI3.0.0.
Which gcc compiler version do you use for the test? Thanks!

[2018-04-04 19:24] JackKZ commented on #3340
Does anyone know how to restore a trained DNNclassifier and use it on a new data set please? I tried this

`x={"x": np.array(test_set.data)}

with tf.Session() as sess:
    saver = tf.train.import_meta_graph(base_dir+"Neural Net Final Dictionary/tmp checkpoints/"+'model.ckpt-5000.meta')
    saver.restore(sess,tf.train.latest_checkpoint(base_dir+"Neural Net Final Dictionary/tmp checkpoints/"))

[2018-04-04 19:28] jameschartouni commented on #18237
I have the same issue with tensorflow 1.7

[2018-04-04 19:29] jwfromm commented on #18237
The prebuilt tensorflow binaries only support CUDA 9.0. If you want to use 9.1, you'll have to build tensorflow from source. I'd recommend just using CUDA 9.0 though, since it's easier and you won't notice any functional differences :).

[2018-04-04 19:33] fillorkill commented on #17411
Same here on Ubuntu 17. 10.1 VM, KVM hypervisor on Slackware, Intel KabyLake CPU

[2018-04-04 19:33] hpucha commented on #10982
I retried the tutorial again locally (with TitanX, CUDA 8 and the latest Tensorflow version) and it worked.

I'm going to close this because I couldn't reproduce this issue in the latest version. But please don't hesitate to reopen this if it's still not working for you.

Thank you!

[2018-04-04 19:33] #10982 closed

[2018-04-04 20:05] sguada commented on #14357
@ebrevdo it is part of tf.contrib.layers.batch_norm you need to use update_collection=None for that
https://github.com/tensorflow/tensorflow/blob/7a0def60d45c1841a4e79a0ddf6aa9d50bf551ac/tensorflow/contrib/layers/python/layers/layers.py#L437

[2018-04-04 20:45] nerminsamet opened #18245 "spatial sparse conv layer"
### System information
**- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):**
Yes
**- OS Platform and Distribution (e.g., Linux Ubuntu 16.04)*:**
Ubuntu 14.04
**- TensorFlow installed from (source or binary)*:**
binary
**- TensorFlow version (use command below)*:**
1.4.1
**- Python version:**
2.7
**- Bazel version (if compiling from source):**  N/A
**

[2018-04-04 20:58] srcolinas opened #18246 "RecurssionError in params parameter to Estimator"
### System information
- **OS Platform and Distribution **: Linux Ubuntu 16.04
- **TensorFlow installed from binary or source**: installed using pip
- **TensorFlow version (use command below)**: 1.6
- **Python version**: 3.6

### Describe the problem
I have an object called settings in which I store some parameters for the training operation. I do not think is appropriate to store all that info in

[2018-04-04 21:00] #18246 closed

[2018-04-04 21:24] yaroslavvb commented on #18243
Internally to Google there's a `vmodule` feature that lets you do per-level customization

IE, `--vmodule=gpu_util=2,executor=2` will allow vlog=2 messages originating from gpu_util.cc and executor.cc

I think it would be nice to bring this feature in open-source version

[2018-04-04 21:30] fillorkill commented on #17411
I think I figured it out. I have a G4600 CPU which lacks AVX support and this was added in 1.6.

[2018-04-04 21:48] AndrewVGr commented on #15604
etemiz,
I've got the same setup and it works for me too.

Thank you for your post :)

[2018-04-04 22:20] zmjjmz opened #18247 "Feature request: ability to pass training_hooks and others through keras.estimator.model_to_estimator"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: I'm trying to
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: n/a
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: n/a
- **Python version**: n/a
- **Bazel version (if compiling from source)**: n/a
- **GCC/Co

[2018-04-04 22:28] burglarhobbit opened #18248 "ValueError: Initializer for variable cudnn_gru/opaque_kernel/ is from inside a control-flow construct, such as a loop or conditional. When creating a variable inside a loop or conditional, use a lambda as the initializer."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow installed from**: Binary
- **TensorFlow version**: 1.5.0
- **Python version**: 3.5.2
- **Bazel version**: Not compiled from source
- **GCC/Compiler version**: Not compiled from source
- **CUDA/cuDNN version*

[2018-04-04 22:30] jthestness commented on #18092
@jianyinglang: We're using GCC 4.8.4. I would be very surprised if the GCC version is causing the problem. Did you check whether the symbol is defined in your MPI libraries (e.g., `objdump -t <lib> | grep ompi_datatype_t`)?

[2018-04-04 22:53] jianyinglang commented on #18092
@jthestness Yes, I did see it in the lib folder.
[code]

[2018-04-04 22:56] tatianashp commented on #17203
@sguada - I assigned you by mistake and unassigned almost immediately.
@caisq - Would any of @elsonrodriguez proposals be a welcome contribution?

[2018-04-04 23:02] tensorflowbutler commented on #9105
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-04 23:02] tensorflowbutler commented on #18239
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-04 23:03] tensorflowbutler commented on #18236
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-04 23:03] tensorflowbutler commented on #18229
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
GPU model and memory

[2018-04-04 23:03] tensorflowbutler commented on #18226
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce

[2018-04-04 23:03] tensorflowbutler commented on #18218
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-04 23:03] tensorflowbutler commented on #16694
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-04 23:03] tensorflowbutler commented on #17011
Nagging Assignee @ringw: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 23:03] tensorflowbutler commented on #17717
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 23:03] tensorflowbutler commented on #17756
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-04 23:03] tensorflowbutler commented on #17823
Nagging Assignee @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 23:03] tensorflowbutler commented on #17851
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-04 23:03] tensorflowbutler commented on #16590
Nagging Assignee @allenlavoie: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 23:03] tensorflowbutler commented on #16263
Nagging Assignee @wolffg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 23:03] tensorflowbutler commented on #16050
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 23:04] tensorflowbutler commented on #3332
Nagging Assignee @chsigg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-04 23:08] allenlavoie commented on #16590
I think this is resolved, but feel free to follow up if something isn't clear.

[2018-04-04 23:08] #16590 closed

[2018-04-04 23:38] martinwicke commented on #3340
Assuming you have the following code (or something like it):

...
estimator = DNNClassifier(model_dir=/path/to/files, ...)
tf.train_and_evaluate(estimator, ...)

you can use it on a new dataset using

estimator = DNNClassifier(model_dir=/path/to/files, ...)
result = estimator.predict(input_fn=new_dataset_input_fn)

as long as you point it to the same directory, and you use the same
constructor arg

[2018-04-05 00:12] drpngx commented on #17756
We need more information about your system to debug this. Can you provide platform, how you built, etc?

[2018-04-05 00:27] w4-sjcho opened #18250 "WebP support"
### Describe the problem
It would be nice if tensorflow supports webp image files.
https://developers.google.com/speed/webp/
Our image dataset gets 2-3 times smaller when using webp compared to png.

[2018-04-05 00:28] laket commented on #17856
As described in my second [post](https://github.com/tensorflow/tensorflow/issues/17856#issuecomment-375599868) ,
process in FusedBatchNormGradGrad cause the gradient graph to blow up.

When I use stop_gradient in the function, the graph is much shrinked.

[2018-04-05 00:37] tatianashp commented on #17916
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-05 00:38] #17798 closed

[2018-04-05 00:39] tatianashp commented on #17426
Automatically closing due to lack of recent activity.

[2018-04-05 00:39] #17426 closed

[2018-04-05 00:40] caisq commented on #17203
Yes, @tatinashp @elsonrodriguez contributions are welcome. I may have time to work on that this month, too. If I start working, I'll send a note here. Otherwise, assume I haven't started working on it yet.

[2018-04-05 00:45] tatianashp commented on #17359
@sukritiramesh Can you help?

[2018-04-05 00:48] poxvoculi commented on #17905
I do have something else in mind, I wonder what the CPU is doing between periods when the GPU is active.  Just knowing that it's consuming power is much less interesting that knowing what task it's doing and whether running the next step (or sequence of steps?) on the GPU requires waiting for that task.

You said:
"I'm using an evolutionary algorithm to optimize the hyperparameters of a CNN. Howev

[2018-04-05 00:50] tatianashp commented on #17203
@elsonrodriguez  If you would like to submit PR for the functionality that you mentioned it would be great. Please post here if you do.  Let us know if you need further clarification. Thanks!

[2018-04-05 00:55] poxvoculi commented on #18193
@fchollet does this look like a bug or a documentation error?

[2018-04-05 01:11] poxvoculi commented on #17423
@suharshs This issue got lost for a while.  @tensor-flower claims the problem was introduced by a commit you were involved with.

[2018-04-05 01:19] samikama commented on #18243
@yaroslavvb Yes that would be great and greatly simplifies issue pinpointing.

[2018-04-05 01:30] darrengarvey commented on #16179
@iliTheFallen, it sounds like the machine might be running out of RAM. Do you know if that is happening?

Using profiling [turns on `FULL_TRACE`](https://github.com/tensorflow/tensorflow/blob/r1.7/tensorflow/python/training/basic_session_run_hooks.py#L878), which will take some extra memory. You could try turning the trace level down (by [editing the code](https://github.com/tensorflow/tensorflow/

[2018-04-05 01:31] suharshs commented on #17423
Sorry we missed this. I think i see the issue and will submit a fix soon. Thanks!

[2018-04-05 02:00] yaroslavvb commented on #18243
cc @martinwicke in case he knows a good person to tackle this

[2018-04-05 02:03] yaroslavvb commented on #18243
to recap: without vmodule, running beyond v=1 is not practical, last time I ran with vlog=2 my emacs shell buffer gets stuck before getting to interesting stuff, probably GBs of text

[2018-04-05 02:58] stardiviner commented on #17411
Yes, I lock of AVX support too.

[2018-04-05 03:11] contractorwolf commented on #11621
I figured I should leave a sample that worked for me, after I read what @xiejw wrote (thanks for the advice).  This solved it for me with the Iris dataset:

# test using single records (2 real world values)
# one Iris-setosa, one Iris-versicolor
records_to_predict = pd.DataFrame([
    [5.1, 3.5, 1.4, 0.2], # first records features
    [5.7, 2.8, 4.1, 1.3]],# second record features
    columns=colu

[2018-04-05 03:46] yongtang commented on #14583
Added a PR #18251 so that the shape could be checked for conv2d/conv3d.

[2018-04-05 04:39] ShivVM commented on #18229
Hi,
I have updated GPU model and memory as N/A as I am using laptop to run this. not using the GPUs..

[2018-04-05 04:39] Shehz commented on #18203
Have I written custom code - NA
OS Platform and Distribution - Ubuntu 16.04
TensorFlow installed from - Followed the instructions from https://www.tensorflow.org/versions/r1.5/install/install_linux#InstallingVirtualenv
TensorFlow version - 1.5
Bazel version - NA
CUDA/cuDNN version - Cuda-8
GPU model and memory - Nvidia Geforce GTX 1070
Exact command to reproduce
Followed the tensorflow installatio

[2018-04-05 06:42] mgyong opened #18252 "Empty tensorflow r1.7 api after virtualenv install of tensorflow r1.7"
Ubuntu 16.10 using below commands for tensorflow r1.7
########
virtualenv --system-site-packages -p python3 tensorflow
pip3 install tensorflow
########
pip3 install --upgrade tensorflow
Collecting tensorflow
  Using cached tensorflow-1.7.0-cp36-cp36m-manylinux1_x86_64.whl
Collecting tensorboard<1.8.0,>=1.7.0 (from tensorflow)
  Using cached tensorboard-1.7.0-py3-none-any.whl
Requirement not upgrad

[2018-04-05 07:27] mgyong opened #18253 "undefined symbol: _ZN6google8protobuf8internal26fixed_address_empty_stringB5cxx11E error for building r1.7 from source Ubuntu 16.10"
bazel-out/host/bin/tensorflow/cc/ops/remote_fused_graph_ops_gen_cc: symbol lookup error: bazel-out/host/bin/tensorflow/cc/ops/remote_fused_graph_ops_gen_cc: undefined symbol: _ZN6google8protobuf8internal26fixed_address_empty_stringB5cxx11E

mgyong@mgyong-Precision-5510:/tmp/tensorflow$ bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package
..........
WARNING: /home/mgyong/.cache

[2018-04-05 07:47] jayrodge commented on #2175
Worked for me
`os.environ['CUDA_VISIBLE_DEVICES'] = '-1' `

[2018-04-05 07:55] hsm207 commented on #14732
@akshayka thank you for sharing the solution.

[2018-04-05 07:58] ed-alertedh commented on #2175
I made a few changes to a utility by @yaroslavvb to handle this nicely as well as making it easy to grab a specific number of GPUs. The previous comment reminded me so thought I may as well share it here https://gist.github.com/ed-alertedh/58d3eb96cf1ba70542b657471dd377ca

[2018-04-05 08:02] KingRial commented on #8251
@Anchal-Mittal you saved my life! :D
It was so obvious  that I didn't see it

[2018-04-05 08:11] fillorkill commented on #17411
To fix this on v1.6 and above, you need to compile tensorflow from source.

[2018-04-05 08:25] wenruij commented on #18225
@yaroslavvb @byronyi
The training was going well. But i checked `nvidia-smi`(watch nvidia-smi), the Volatile GPU-Util was all taken by GPU:0(95% for GPU:0, while 0% for others).

I can set the batch_size to 512 when running a single GPU training. BUT an OOM exception was thrown when i running this 4 GPU training with batch_size of each set to 512. Seems to prove that all workers were using GPU:0 d

[2018-04-05 09:47] VinInn opened #18254 "can tensorflow/compiler/aot/libruntime.so be renamed?"
### Describe the problem
linking -lruntime is a bit too generic (and prone to conflicts) for a large project

for instance -lxla_compiled_cpu_function
for
/tensorflow/compiler/tf2xla/libxla_compiled_cpu_function.so
is already more acceptable

In general would be useful for any library required to be linked in user applications to have a more descriptive name that associate it to tensorflow

[2018-04-05 09:52] Herlderlord commented on #18237
Will TF support CUDA 9.1 "natively" ? It could be great to just have to do pip install and get TF compatible with CUDA 9.1.

[2018-04-05 09:53] saudet commented on #17390
@asimshankar Great! Looking forward to the discussions.

FWIW, TensorRT has a nice C++ API and JavaCPP maps it pretty well too:
https://github.com/bytedeco/javacpp-presets/tree/master/tensorrt
I'm not saying TensorFlow needs a C++ API though. I suppose tools for other platforms should catch up before it makes sense...

[2018-04-05 10:05] jakubkarczewski commented on #16982
I might have used a preprocessed ImageNet dataset because I got it from a friend of mine. I bet he used mapping for subdirectories such as: https://gist.github.com/aaronpolhamus/964a4411c0906315deb9f4a3723aac57

[2018-04-05 10:41] rsathishr opened #18255 "InvalidArgumentError (see above for traceback): You must feed a value for placeholder tensor 'x_1' with dtype float and shape [?,300,300,3] [[Node: x_1 = Placeholder[dtype=DT_FLOAT, shape=[?,300,300,3], _device="/job:localhost/replica:0/task:0/device:CPU:0"]()]]"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-05 11:01] trangtv57 opened #18256 "use lib static tensorflow-core.a error when build"
undefined reference to 'google::protobuf::internal::fixed_address_empty_string' ....
i think my program can't find lib protobuf to used. Even I have already lib protbuf.a and protobuf.so. Before i use lib tensorflow-core.a I have used lib dynamic: tensorflow_cc.so and lib tensorflow_framework.so i build with bazel, and lib protbuf.so include. I don't know ho to fix this error. Can anyone help me?

[2018-04-05 11:39] arogozhnikov opened #18257 "tf.while example is not working in eager mode"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes, see below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.7, release
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: NA
- **GCC/Compile

[2018-04-05 11:46] loser2509 opened #18258 "Feature Request: Porting tensorflow to onion omega 2+"
I have been working with onion omega 2+ an iot computer with following specifications :
Operating system-OpenWrt
System-on-chip used MediaTek MT7688
CPU-580 MHz 32-bit computing Single-core MIPS 24KEc
Memory-128 MB for Omega2 Plus
Storage-32 MB and a MicroSDHC slot
Graphics-No graphic
Power-0.6 Watts

I would like to run inception V3 model but I am unable to install tensorflow on omega 2+. Is it p

[2018-04-05 11:59] haoxi911 commented on #17423
Adding `--random_brightness=30` didn't work for me, I have to revert code to the parent of [7a2ba8e](https://github.com/tensorflow/tensorflow/commit/7a2ba8edbaa6491ff33ae1412d9ba45e80c2cc3c) then it works.

[2018-04-05 12:16] carlthome commented on #9359
This is an _extremely_ tricky wart.

For TensorFlow 2.0 maybe tensors could stop being hashable and instead users would have to explicitly call e.g. `tf.constant(9).hashable()`? That would free up `==` and `!=` for the expected use as overloaded operators for graph construction.

That's unfortunately the best I could come up with.

[2018-04-05 12:25] msis commented on #17422
For people with similar issue issue in the future, I recommend installing the version that `tensorflow` was compiled with:
[code]
And then freezing this version in apt so it will not automatically upgrade them:
[code]

[2018-04-05 12:32] tensorflowbutler commented on #18250
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-05 12:32] tensorflowbutler commented on #17743
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-05 12:32] tensorflowbutler commented on #17778
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-05 12:32] tensorflowbutler commented on #17833
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-05 12:32] tensorflowbutler commented on #17868
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-05 12:58] Pyrestone opened #18260 "[BUG] [1.8] prefetch_to_device() doesn't work with eager Iterators"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: YES, Minimal (non-) working example can be seen below.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: pip install tf-nightly-gpu (05.04.2018)
- **TensorFlow version (use command below)**: 1.8.0.de

[2018-04-05 13:04] byronyi commented on #18260
Is this related to the migration of eager mode switch in 1.7? I believe they are available outside contrib now.

[2018-04-05 13:35] nagash91 commented on #4614
This feature is still needed and not implemented in tensorflow

[2018-04-05 13:43] MrBigmonster opened #18261 "How to set the truncation time series length parameter for RNN training in this example: tensorflow/tensorflow/contrib/timeseries/examples/lstm.py"
In the function of tf.contrib.timeseries.ARRegressor, we can set the input_window_size and output_window_size for building a time series forecasting model.
But in this example, we can only set the parameter of num_units of cell and num_features of input data for _LSTMModel，but we can not set the parameter of the truncation time series length in this model of TFTS.

[2018-04-05 13:53] karllessard commented on #17390
@himR, either with the upcoming Ops API wrappers or with current `OperationBuilder` & friends, the only thing that is supported in Java for building a graph is by using exclusively TF core operations. Anything else needs to be ported to the clients of each languages at some point (e.g. the C++ client has already started to port some of the Python functionalities).

I guess supporting those feature

[2018-04-05 13:58] Pyrestone commented on #18260
@byronyi which specific migration do you mean?
tfe.Iterator?

Because I used the migrated switch...

[2018-04-05 14:11] alanpurple commented on #18118
@pvaneck

thx, solved after install pyreadline( using conda ) and unofficial curses 2.2

[2018-04-05 14:11] #18118 closed

[2018-04-05 14:13] mrry commented on #15343
@bhack Please open a new issue with complete details of the program you're running and the expected and observed behavior.

[2018-04-05 14:13] nannanliuliuliu opened #18262 "image Segmentation:why is the tensor value of the dimension resolved when reading tfrecord files is twice as much as is required to rescontruct the dimension？"
ERROR:tensorflow:Exception in QueueRunner: Input to reshape is a tensor with 26136 values, but the requested shape has 13068
	 [[Node: Reshape = Reshape[T=DT_UINT8, Tshape=DT_INT32, _device="/job:localhost/replica:0/task:0/device:CPU:0"](DecodeRaw, Reshape/shape)]]
ERROR:tensorflow:Exception in QueueRunner: Input to reshape is a tensor with 8712 values, but the requested shape has 4356
	 [[Node: R

[2018-04-05 14:28] bhack commented on #15343
@mrry We will isolate the code and open an new issue but generally documenting a little bit more about the command sequence could in `dataset_performance.md` could help.

[2018-04-05 14:35] hccheng commented on #14117
I've got the same error using CMake 3.10.3; the problem is in tf_cc_ops.cmake ([https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/tf_cc_ops.cmake](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/tf_cc_ops.cmake))

[code]
Here, the variable ${CMAKE_BUILD_TYPE} is undefined; therefore the path to pywrap_tensorflow_lib becomes "${CMAKE_CURRENT

[2018-04-05 14:50] mrry commented on #18116
What result do you get if you type `where msvcp140.dll` in the same command prompt as you used for the Python interpreter?

[2018-04-05 14:53] mrry commented on #18014
The problem is not in creating the `Dataset`, but rather that the "one-shot" iterator is exhausted after the first iteration. You can either switch to using an "initializable" iterator that is initialized each time round the loop, or (easier in this case) use `tf.contrib.data.get_single_element()` to get the element from the dataset in the loop body without creating an iterator:

[code]

[2018-04-05 14:53] #18014 closed

[2018-04-05 14:59] davidfant commented on #15633
Amazing! Trying to get this working on iOS. How do I parse the Tensor output?
[code]

[2018-04-05 15:03] shubhamtanwar23 commented on #18116
C:\Windows\System32\msvcp140.dll
C:\Windows\SysWOW64\msvcp140.dll

[2018-04-05 15:12] auroua commented on #17426
This problem still exists. Can you solve it? @tatianashp

[2018-04-05 15:15] jrbrearley opened #18264 "tensorflow new feature request: tf.regex_match"
The new tf.regex_replace feature in tensorflow 1.7.0 works fine for modifying data and returning tf.string. However to filter a dataset, a separate method is needed in order to return tf.bool for use in tf.dataset.filter

I would like to be able to filter blank lines, or lines with only whitespace from a dataset, like:
dataset = dataset.filter(lambda line: tf.regex_match(line, "^\s*$"))

Currently

[2018-04-05 15:16] GCChen97 commented on #12978
Hi @zyavrik ,have you solved this problem?This problem also confused me a lot.

[2018-04-05 15:51] verinov commented on #15874
I also got this error with the same traceback on the following code:
[code]
Interestingly, with `parallel_iterations=2` there is no error.

[2018-04-05 15:52] NamTuanNguyen opened #18265 "tf.Print does not print anything in Spyder IPython console"
### System information
- Both Windows and Debian
- Anaconda3
- Python3.6

### Describe the problem
I tried this simple code, but nothing was printed! I use Anaconda3, python 3.6. Anyone can give a hint? Thanks.

### Source code / logs
import tensorflow as tf
sess = tf.InteractiveSession()
a = tf.constant([1.0, 3.0])
a = tf.Print(a, [a], message="This is a: ")
b = tf.add(a, a).eval()

###I posted t

[2018-04-05 16:01] lenlen opened #18266 "Cache lockfile already exists"
Using the train_and_evaluate method from estimator API and cache policy on filesystem, I get an error because the evaluation starts before that all cache is written on the filesystem. So when the train runs the second time, after the evaluation, I get the error because it finds the lock file.
If the cache is written before the first evaluation I don't get the error.

Here a snippet runnable on col

[2018-04-05 16:01] ispirmustafa commented on #18227
You can set `yield_single_examples=False` to get batch. If doc is not clear please send a PR for doc.
`Estimator.predict(..., yield_single_examples=False)`

[2018-04-05 16:01] #18227 closed

[2018-04-05 16:02] bhack commented on #15343
@mrry We start with https://github.com/tensorflow/tensorflow/issues/18266

[2018-04-05 16:09] mrry commented on #18266
@saeta Could this be an instance of the same bug as the `ds.cache().take(N).repeat()` one that you're looking at?

[2018-04-05 16:14] mrry commented on #18116
Can you try running the following command at the same command prompt?

[code]

[2018-04-05 16:25] bpedazur commented on #16866
Hi, I'm having the same problem. Are there any updates regarding this issue?

[2018-04-05 16:40] deepak-2017 opened #18268 "Distributed Tensorflow :: Worker is getting terminated after running few training steps"
Hi,

I am having 2 nodes cluster and running parameter server and first worker on one machine, and second worker on another machine.
Environment and version details are below,
Have I written custom code - Yes
OS Platform and Distribution - CentOS 7.2.1511
TensorFlow installed from - Binary
TensorFlow version - 1.3.0
Bazel version - N/A
CUDA/cuDNN version - N/A
GPU model and memory - N/A
Exact comm

[2018-04-05 16:41] jthestness commented on #18092
Ok, you're going to need to step through the chain of defining symbols across the libraries to see where there is a missing link. Check that the Tensorflow library you built points to the correct MPI library with `ldd <path_to_tf_build>/python/_pywrap_tensorflow_internal.so`. If that's correct, then check the mpi_collectives library: `ldd <path_to_tf_build>/contrib/mpi_collectives/python/ops/_mpi_

[2018-04-05 17:00] rmlarsen commented on #13603
NVIDIA has worked on (and are continuing to do so) improving the performance of their symmetric eigensolvers and SVD in CUDA 9, especially 9.1, which also adds batched interfaces. We will switch to using the faster versions and/or the batched interfaces as those versions of CUDA become supported by TensorFlow.

[2018-04-05 17:18] reedwm commented on #18241
I'm assuming the issue is that TensorFlow does not compile on a 32-bit platform. Correct me if I'm wrong.

/CC @gunan, do we support 32-bit platforms?

[2018-04-05 17:28] reedwm commented on #18216
Not sure who is best to handle quantization issues. /CC @aselle, can you take a look?

[2018-04-05 17:30] av8ramit commented on #18013
Can you give these [CPU](https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.5.1-cp36-cp36m-linux_x86_64.whl) or [GPU](https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-1.5.1-cp36-cp36m-linux_x86_64.whl) binaries a try?

[2018-04-05 17:35] reedwm commented on #16363
It's very hard to debug this without a short code sample. I'll ping the authors of the nmt code in the nmt issue though.

/CC @ysuematsu, any ideas what the issue could be?

[2018-04-05 17:49] Luanming opened #18270 "why the kfac in tensorflow is not working suddenly?"
Hi,

I wrote a simple code using tf.contrib.kfac for regression. It worked fine in the last two weeks. However, when I tried to run the code again the day before yesterday, there was an error:

**AttributeError: module 'tensorflow.contrib' has no attribute 'kfac'**

![image](https://user-images.githubusercontent.com/38111150/38382416-c53529aa-38be-11e8-9220-d6f9102f61e8.png)

I just don't know why

[2018-04-05 17:49] sjentzsch commented on #16424
... so does TF 1.7 ...

[2018-04-05 17:56] yaroslavvb commented on #18225
@wenruij It's not clear what you are describing is a bug in TensorFlow, and this list is mainly for bugs. (stackoverflow is for general support). The problem could be due to use using both `CUDA_VISIBLE_DEVICES` and `with tf.device("gpu:1")`. There's no "gpu:1" device on 3 of your workers because of how you use `CUDA_VISIBLE_DEVICES`

[2018-04-05 18:00] panfengli commented on #18226
Update:

Currently, to get a fully-defined static shape on the batched tensors, you need to tell TensorFlow explicitly to "drop" any "remainder" if the batch size does not divide the total number of elements evenly. To do this, replace the following line:
[code]
...with an application of `tf.contrib.data.batch_and_drop_remainder()`:
[code]

I was wondering whether the similar function could be add

[2018-04-05 18:06] gunan commented on #18241
No, we do not support 32 bit desktop operating systems.

[2018-04-05 18:06] #18241 closed

[2018-04-05 18:35] nxphi47 opened #18271 "[Feature Request] Python - like behavior of tf.string_split. Consider whole multi-byte delimiter."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS, Ubuntu
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.7
- **Python version**: 3.6,3.5
- **Bazel version (if compiling from source)**:
- **GCC/Compi

[2018-04-05 18:43] tensorflowbutler commented on #18252
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-05 18:43] tensorflowbutler commented on #18253
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-05 18:43] tensorflowbutler commented on #18254
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-05 18:43] tensorflowbutler commented on #18256
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-05 18:51] bkungfoo commented on #17694
Thanks, I think I got it. Basically, passing a list directly into sess.run() in a test_session() is treated as sequences of elements rather than a tensor of elements.

[2018-04-05 18:59] trangtv57 commented on #18256
the  Issue about TensorFlow installed from source lib static for my program have problem.

[2018-04-05 19:14] mark-orr opened #18272 "hi, oops"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-05 19:15] #17694 closed

[2018-04-05 19:41] kr-ish commented on #18272
oh hi mark

[2018-04-05 19:43] poxvoculi commented on #14133
Assigning to @asimshankar.  It's not clear to me that there's any desired action. Should this just be closed?

[2018-04-05 19:46] mark-orr commented on #18272
Sorry. That was an accident.
Mark

On Apr 5, 2018 3:45 PM, "Krish Ravindranath" <notifications@github.com>
wrote:

[2018-04-05 19:53] kr-ish commented on #18272
that's ok! I was just making [a silly joke](https://www.youtube.com/watch?v=C-IvV8thrO4). Consider closing this issue!

[2018-04-05 19:56] poxvoculi commented on #16266
Closing because this is an inactive issue of unclear nature.  If you believe there is a bug in TensorFlow, please reopen with a clear description of the suspected bug.

[2018-04-05 19:56] #16266 closed

[2018-04-05 19:57] #18272 closed

[2018-04-05 19:59] norderk commented on #17386
@fo40225 !
Thank you so much! I have been trying to figure out this for a couple of days now. Your solution solved all of my problems!

[2018-04-05 20:01] mark-orr commented on #18272
Ok, I will.
M

On Thu, Apr 5, 2018 at 3:56 PM, Krish Ravindranath <notifications@github.com

--
-------------------------------------------------------
Mark Orr
Research Associate Professor
Network Dynamics and Simulation Science Laboratory
Biocomplexity Institute of Virginia Tech
900 North Glebe Rd.
Arlington, VA 22203
p: 571-858-3116
f: 571-858-3015
morr9@vt.edu <morr9@vbi.vt.edu>

[2018-04-05 20:02] poxvoculi commented on #16821
@shlens: looks like this question was invited from this documentation: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/tfprof

[2018-04-05 20:14] #18180 closed

[2018-04-05 20:26] tgy opened #18275 "SIGILL, Illegal instruction, when importing tensorflow"
I'm getting a `terminated by signal SIGILL (Illegal instruction)` when importing tensorflow.

`less /proc/cpuinfo` yields

[code]

Is my CPU too old to use tensorflow?

[2018-04-05 20:37] maclauss opened #18276 "tf.train.latest_checkpoint always return the same checkpoint for GCS paths (pywrap_tensorflow cache bug?)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra 10.13.3 (confirmed on Ubuntu 16.04.4 LTS as well)
- **TensorFlow installed from (source or binary)**: binary (confirmed from 1.6 source as well)
- **TensorFlow version (use command below)**:

[2018-04-05 21:00] yaroslavvb commented on #18275
I don't see "avx" under "flags", so yes, that's probably that's the reason. You need tensorflow 1.5 binary, or build one yourself

[2018-04-05 21:01] yaroslavvb commented on #18270
cc @duckworthd

[2018-04-05 21:10] rohan100jain commented on #18237
@chsigg might be able to answer that question.

[2018-04-05 21:15] rohan100jain commented on #17810
This would be a great feature to have! You're right - currently we wait till the MatchingFilesOp succeeds and we get all the files. One potential idea would be to create an iterator over the output of GetMatchingFiles and stream that into the downstream ops. @mrry for more ideas.

[2018-04-05 22:08] bhack opened #18279 "h5py Dockerfile"
h5py is a quite hard dependency but it is not in all the flavors of TF Dockerfile.
I.e. https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/_impl/keras/applications/vgg16.py#L50-L51

See https://github.com/keras-team/keras/pull/9830
/cc @fchollet

[2018-04-05 22:08] bhack commented on #18279
/cc @lenlen

[2018-04-05 22:10] NamTuanNguyen commented on #18265
Nevermind, it's not Tensorflow problem, it's Spyder problem. I tried with PyCharm, and it works like a charm :)

[2018-04-05 22:10] #18265 closed

[2018-04-05 22:23] cancan101 opened #18280 "[feature] js_func (for javascript) equivalent of py_func"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
n/a
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
iOS, Android
- **TensorFlow installed from (source or binary)**:
n/a
- **TensorFlow version (use command below)**:
n/a
- **Python version**:
n/a
- **Bazel version (if compiling from source)**:
n/a
- **GCC/Com

[2018-04-05 22:51] allenlavoie commented on #18261
Please ask questions on StackOverflow instead of opening bugs. For timeseries stuff feel free to send the SO link to allenl@google.com.

But the LSTM example model does not operate on a fixed window; the same model can take any window size, like `dynamic_rnn`. You can set the truncated backprop length by setting a different window size in the input function. For `ARRegressor` the model and input f

[2018-04-05 22:51] #18261 closed

[2018-04-05 22:55] asimshankar commented on #18255
I apologize, but I'm having trouble understanding the problem here. Closing this out. If there is a bug or feature request, please feel free to file a new issue but do fill in all the details asked for in the [New Issue Template](https://github.com/tensorflow/tensorflow/issues/new). It seems all of the information asked for in there was left blank.

In particular, more information about the proble

[2018-04-05 22:55] #18255 closed

[2018-04-05 23:24] lgeiger commented on #16593
@joel-shor Thanks for reopening.

Would a change similar to the above be a welcome PR?
If yes, is there a way to do this without introducing a global variable that is referenced via it's name?

[2018-04-05 23:26] GrimBShrout commented on #16165
I had the same issue with multiple sources. Being a minimalist, Instead of using negativo's repositories (**nothing against them, I think they are great and convenient!**) Here is what I did on Fedora 27 after installing all the normal development packages included in epel-release and so forth:

1. Compiled Video card drivers from source using NVIDIA-Linux-x86_64-390.48.run file provided by NVidia

[2018-04-05 23:31] mrry commented on #18260
This is currently broken and I have a fix in review, but here's a temporary workaround that should work:

[code]

[2018-04-05 23:45] zuoanqh commented on #11295
hmm, if its about batch size in **testing** it looks indeed a problem with tensorflow. why is this closed?

[2018-04-05 23:58] lamberta commented on #17362
Hi Marcel, can you clarify, please?

The code snippet on that page looks like:
[code]

There's also the [Save and Restore guide](https://www.tensorflow.org/programmers_guide/saved_model#save_variables).

[2018-04-05 23:59] zhangyaobit commented on #16821
@panyx0718 Could you comment on it?

[2018-04-06 00:11] mrry commented on #18226
[Answered on StackOverflow.](https://stackoverflow.com/q/49641098/3574081)

[2018-04-06 00:11] #18226 closed

[2018-04-06 00:14] ed-alertedh commented on #18227
Oh, great! I was using v1.6 and looking at the docs in my IDE, I guess that's what I get for not upgrading! The latest docs seem clear enough to me.

[2018-04-06 00:14] #17946 closed

[2018-04-06 00:25] inscite commented on #6968
I am experiencing this issue while restoring partial weights/biases thru the method: tensorflow.contrib.framework.python.ops.assign_from_checkpoint. Currently working on CUDA 8/9, tf r1.4 w/ native source build, and horovod 0.11.2. I am also planning to upgrade tf to very recent version or successor (r1.5), and then I'll leave some progress about error.

Below is an example of process backtrace. (

[2018-04-06 00:35] azadef commented on #11295
It's not a problem in tensorflow, just lacking of well documentation. Batch normalization variables are not updated in the graph automatically during optimization if you don't explicitly add them to dependency as I wrote in my earlier comment. That's why this only happens in inception and resnet. The other networks don't have batch norm as far as I know.

[2018-04-06 00:43] tensorflowbutler commented on #18262
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-06 00:43] tensorflowbutler commented on #18264
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-06 00:43] tensorflowbutler commented on #18268
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-06 00:54] #18101 closed

[2018-04-06 01:56] shiquanwang opened #18283 "Document for `tf.TextLine.Dataset.shuffle` is confusing."
In the [doc](https://www.tensorflow.org/api_docs/python/tf/data/TextLineDataset#shuffle) for V1.7.

The signature is:
[code]

and in below description:
`reshuffle_each_iteration: (Optional.) A boolean, which if true indicates that the dataset should be pseudorandomly reshuffled each time it is iterated over. (Defaults to True.)`

I can't tell what is default value for `reshuffle_each_iteration` an

[2018-04-06 02:14] w4-sjcho commented on #18250
It's about a feature request, so I think they are irrelevant for my case.
Have I written custom code: No
OS Platform and Distribution: macOS, Ubuntu 16.04
TensorFlow installed from: pip
TensorFlow version: 1.4, 1.7
Bazel version: N/A
CUDA/cuDNN version: 8/6
GPU model and memory: Nvidia 1080ti, 11GB
Exact command to reproduce: N/A

[2018-04-06 02:33] duckworthd commented on #18270
Thank you, @yaroslavvb!

Hi @Luanming. I had some difficulty getting `kfac` knit into `tf.contrib` near the beginning, though hopefully all is well in the latest version of TensorFlow. Could you print out which version of TensorFlow you're using, so I could inspect the source code?

[code]

[2018-04-06 02:44] Luanming commented on #18270
Oh, that's where things went wrong. My version was 1.2.1. After updating, it is working now.
@duckworthd  Thank you  so much for your answer!
@yaroslavvb Thank you, too

[2018-04-06 02:48] mrry commented on #18283
From the docstring as quoted:

[2018-04-06 02:48] #18283 closed

[2018-04-06 02:51] #16052 closed

[2018-04-06 02:59] duckworthd commented on #18270
That was easy :)

![image](https://user-images.githubusercontent.com/626236/38401640-c84cff9e-390b-11e8-9ee3-527463062598.png)

[2018-04-06 02:59] #18270 closed

[2018-04-06 03:06] shiquanwang commented on #18283
The docstring is `True` but the signature shows `None`.

[2018-04-06 03:34] nannanliuliuliu opened #18285 "why is the tensor value of the dimension resolved when reading tfrecord files is twice as much as is required to rescontruct the dimension？"
-----------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04)
- **TensorFlow installed from (source or binary)**: pip install tensorflow
- **TensorFlow version (use command below)**: tensorflow1.4
- **Python version**: Python 3.6.

[2018-04-06 04:04] qiaofeiw commented on #53
conda install tensorflow work for me too!!!

[2018-04-06 04:52] isalirezag commented on #17447
I did provided the information in the first comment.
I gave up on trying it...

[2018-04-06 04:52] #17447 closed

[2018-04-06 05:57] jonasrauber commented on #18013
Checked the CPU version and it works.
The link to the GPU binary is broken.

[2018-04-06 06:16] batzner opened #18287 "Eager execution breaks fit_generator in tf.keras"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12.6
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version**: 1.7.0
- **Python version**: 3.6.3
- **Numpy version**: 1.14.2
- **Bazel version (if compiling from source)**:

[2018-04-06 06:23] breadbread1984 opened #18288 "ctc_loss complains that Labels length is zero"
OS Platform and Distribution ubuntu 16.04
TensorFlow installed from pip
TensorFlow version 1.7
Bazel version N/A
CUDA/cuDNN version 9.0 7.0
GPU model and memory N/A
Exact command to reproduce N/A

I want to use ctc_loss to do gesture recognition. But I keep getting error message that Labels length is zero at batch 0. I can't figure out the problem. So come here for help.
The data I feed into ctc_l

[2018-04-06 06:33] tensorflowbutler commented on #18280
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-06 06:35] wei-v-wang commented on #16982
@jakubkarczewski Please know that I was able to get the preprocessed ImageNet dataset identical to yours and was able to reproduce the error (e.g. use --config=mkl, by default MKL-DNN) as well as --config=mkl --copt="-DINTEL_MKL_ML" (MKL_ML).
2018-04-05 23:28:14.468026: F ./tensorflow/core/util/mkl_util.h:710] Non-OK-status: Status(error::Code::UNIMPLEMENTED, "Unimplemented conversion function") s

[2018-04-06 06:49] wei-v-wang commented on #16982
As you originally reported:
tensorflow/core/kernels/mkl_lrn_op.cc:595] Check failed: dnnConversionCreate_F32( &convert_input, static_cast<dnnLayout_t>(inimage_shape.GetCurLayout()), lt_internal_input) == E_SUCCESS (-1 vs. 0)

The bug lies in LRN op as commenting out the two LRN layers in your script avoids the error. We will fix the LRN MKL ops. Please stay tuned. Thank you!

[2018-04-06 07:00] FlashTek commented on #18193
I checked the problem again using the nightly build on Windows and Linux, too, and both of them produce the same error. Furthermore, I've started to think, that this problem may also be the reason, why `tf.keras.utils.multi_gpu_model` produces a model which cannot be trained with the estimators eventhough no pre-trained weights are used - at least the error message looks very similar.

[2018-04-06 07:28] jart commented on #18264
I'm open to doing this but it might entail making re2 more portable, or whipping something up in Ragel. I'm not sure if we have time for that now. A workaround exists. It's also possible to build custom ops with re2 which is already in the Bazel codebase. I'm leaning towards closing and possibly revisiting later. Pinging @vrv for a second glance.

[2018-04-06 08:40] hsmnzaydn opened #18289 "I can't transfer .pb file to .tflite file"
Hi,
I trained a model with keras framework. And i saved model as .pb file. This model takes input as "String Array" and gives out as "String Array" .I want use this model on Android device. Therefore, i use TOCO but i can't give true  --input_shaped and --inference_type parameters.  I use this toco command

bazel-bin/tensorflow/contrib/lite/toco/toco --input_file=modelimtest.pb --input_format=TENS

[2018-04-06 09:07] Nayana-ibm commented on #17587
@rohan100jain Now build is successful on s390x.
Configured with export TF_NEED_KAFKA=0

[2018-04-06 09:07] Nayana-ibm commented on #17587
Closing the issue
Thanks,

[2018-04-06 09:07] #17587 closed

[2018-04-06 09:37] tastyminerals opened #18290 "Tensorflow reimplementation performs significantly worse than original POC"
### Intro
I have asked this question several times on stackoverflow using different wording and level of details yet didn't get a single answer. Given the nature of the problem it is understandable, you cannot debug the network without training data and code. Still, maybe there is something obvious that I am missing here. We are trying to rewrite successful Torch POC binary classifier using Tensor

[2018-04-06 09:48] maclauss commented on #18276
Looks like tensorflow 1.7 doesn't have this behavior, is 1.6 still maintained?

[2018-04-06 10:02] hunaidkhan2000 opened #18291 "data_generator"
import data_generators
ModuleNotFoundError: No module named 'data_generators'

[2018-04-06 10:03] voegtlel opened #18292 "Memory leak with py_func"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes (see below)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 3.6.4 64bit
- **Bazel version (if compiling from sou

[2018-04-06 10:14] rosefun commented on #14244
YES，just download the correct version of cuda(as tf1.7.0_gpu need cuda9.0 and cudnn7).
Don't forget to log out your computer after add the variables of cuda.

[2018-04-06 10:42] rushatrai commented on #15656
@michaelklachko have you tried installing with 9.1 yet? If so, could you please post the results?

[2018-04-06 10:47] hitvoice commented on #15656
Building from source with 9.1 works fine for me.

[2018-04-06 11:46] strelec commented on #18237
Could you not simply depend on the major version of the library, that is, libcublas.so.9 instead of libcublas.so.9.0? The api should stay compatible, as far as I know.

[2018-04-06 11:57] drewanye commented on #4361
I solve the problem of reusing batch_normalization by specifying reuse=False when first creating bn:
[code]
You have to specify reuse=False at your first time to create parameters in batch normalization. Or, you will get the error info:
Variable cnn/block1/conv1/beta does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=None in VarScope?

[2018-04-06 12:11] gelmisb commented on #16861
I get the error below and cannot figure out a way of fixing this issue. Followed the guidlines tep by step on the official website.

Python 3.6.5
W10
Geforce 1050

ModuleNotFoundError: No module named '_pywrap_tensorflow_internal'

[2018-04-06 12:26] alexdominguez09 commented on #15604
I had teh same situation. I had cuda 9.1, and tensorflow would not find libraries for cuda 9.0.

I have installed cuda 9.0 with command: sudo apt-get install cuda-libraries-9-0

That solved my problem.

[2018-04-06 12:31] tensorflowbutler commented on #8773
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-06 12:32] tensorflowbutler commented on #16898
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.