[2020-10-29 10:32] cschreib-ibex commented on #44328
FYI, I just got around to test an alternative library to Tensorflow, PyTorch, and it does not suffer from this problem. I can load/unload their DLL as in the simple example above. This suggests to me that Tensorflow is doing something special, possibly incorrect.

[2020-10-29 10:45] ArtanBerisha1 commented on #41943
In tf v2.2.0, I am getting the error:
Internal error: Cannot create interpreter: Didn't find op for builtin opcode 'SUB' version '3'

in v2.3.0, I am getting the error:
Internal error: Cannot create interpreter: Didn't find op for builtin opcode 'CONV_2D' version '5'

Also I tried your solution @mgalgs , added implementation 'org.tensorflow:tensorflow-lite:0.0.0-nightly' , and got the error:
Inter

[2020-10-29 10:52] ravikyram commented on #44429
@pradyum619

Please, fill issue template. Are you refering to this [tutorial](https://codelabs.developers.google.com/codelabs/digit-classifier-tflite#5) ?
Thanks!

[2020-10-29 11:17] cgpeter96 commented on #38152
Recently, I also meet with this problem. I load my pb model in java and build with maven. But when I execute my jar file, it would  throw core dump error about jvm.

How does you figure out this problem?

[2020-10-29 11:19] ravikyram commented on #37656
I have tried in TF nightly version(`2.5.0-dev20201029`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/bf520e40b8fedb7e93840d2fc1e5501f/untitled96.ipynb?authuser=1).Thanks!

[2020-10-29 11:29] ravikyram commented on #35732
I have tried in TF nightly version (`2.5.0-dev20201029`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/5e03737641cca4a4ff20e39abf25b4a7/untitled97.ipynb?authuser=1).Thanks!

[2020-10-29 11:32] vasilevskykv commented on #44260
NVIDIA GeForce GTX 1050
Driver Version 441.87
CUDA Version 10.1
cuddn version: 7.6.4

[2020-10-29 11:38] vasilevskykv commented on #44260
Here is the piece of my code:
**def multivariate_data(dataset, target, start_index, end_index, history_size,
                      target_size, step, single_step=False):
  data = []
  labels = []
  start_index = start_index + history_size
  if end_index is None:
    end_index = len(dataset) - target_size
  #print(history_size)
  for i in range(start_index, end_index):
    indices = range(i-history

[2020-10-29 11:40] ravikyram commented on #39411
I have tried in colab with TF nightly version (`2.5.0-dev20201029`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/385c58c24fde2f917497cb19543da06e/untitled99.ipynb?authuser=1).Thanks!

[2020-10-29 11:46] zhezherun opened #44430 "Cannot save a subclassed keras model that relies on AutoGraph"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.3.1
- Python versi

[2020-10-29 12:07] formath commented on #38152
@cgpeter96 For me the reason is that `libtensorflow_framework.so` is not matched between training and prediction.

[2020-10-29 12:14] fanto88 commented on #44393
Thanks for the comment. Now the model converted is 71mb, so it should be fine. But when i try to use it instead of the model used in the Android Example for object detection an exception occurs:

[code]

[2020-10-29 12:43] amahendrakar commented on #44414
@stevenwong951028,
On running the code, I am facing an error stating `FileNotFoundError: [Errno 2] No such file or directory: 'D:/img_db/stanford-dogs-dataset/images/Images/'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/8e0360e4664bb42465019d639a85e82d/44414.ipynb#scrollTo=SDALvhOKhj1m).

In order to expedite the trouble-shooting process, could you please

[2020-10-29 12:46] amahendrakar commented on #44418
@Harleytu,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and the dataset you are using.

Also, TensorFlow 1.x is not actively supported, could you please update TensorFlow to v2.3 and check if you are facing the same issue. Thanks!

[2020-10-29 12:49] #44033 closed

[2020-10-29 12:50] ElhamSol commented on #44389
@ravikyram Thanks for reply. But, I wasn't able to install tensorflow 2.0.0+ with Cuda 10.1 and that's why I switched to 11.1.
(I'd like to use 2.3.0, so please don't ask me to go back to 2.0.0 as a solution)
I even tried going back to Cunda 10.1, but nvidia doesn't allow it anymore.
`sudo apt-get -y install cuda-10.1` doesn't work anymore and it forces me to install 11.1.

#42047 doesn't help the

[2020-10-29 12:51] ravikyram commented on #44400
@sbarbosa0714

TensorFlow pip packages are compatible with Python 3.5–3.8.

From the below link we can see that the whl files are available upto Python v3.8.
https://pypi.org/project/tf-nightly/2.4.0.dev20201023/#files

Python3.9 is not yet supported. Thanks!

[2020-10-29 12:56] ravikyram commented on #44393
@fanto88

Since the original issue was resolved. Can you please close this issue and create a new one by filling issue template.Thanks!

[2020-10-29 12:57] fanto88 commented on #44393
Yeah, i will do it for sure. Thanks!

[2020-10-29 12:57] #44393 closed

[2020-10-29 12:58] amahendrakar commented on #44421
@kja815,
Please go through this [training checkpoints guide](https://www.tensorflow.org/guide/checkpoint#saving_from_tfkeras_training_apis) for more information regarding saving checkpoints and let us know if it helps. Thanks!

[2020-10-29 13:02] fanto88 opened #44431 "This model does not contain associated files, and is not a Zip file"
So, i'm trying to use SSD ResNet101 V1 FPN 640x640 (RetinaNet101) found [here ](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md)model for my android application.
After converting the model using this script:

[code]

I tried to use it inside the android application, but doesn't work.
While the application works just fine using the model from th

[2020-10-29 13:08] nectario commented on #41169
I see. It is interesting that your failures occur close to the 3000 epochs. In my case, it almost always happens below 1200.

[2020-10-29 13:11] rposts commented on #11816
This problem no longer appears in TF 2.3.1.

[2020-10-29 13:41] junhyk commented on #44197
I figured out to convert the model by adding `tf.lite.OpsSet.SELECT_TF_OPS` to support_ops.
but now I cannot set an appropriate input to the converted model

Below code should reproduce my error
[code]

output
[code]

[2020-10-29 13:48] ANSHUMAN87 commented on #43010
This issue still exist in TF 2.3.1.
@jdduke , @abattery , please help check it. Thanks!

[2020-10-29 13:49] #44045 closed

[2020-10-29 14:02] Shanky87 commented on #25322
I have tried installing both ways.
Now I have installed tensorflow-gpu by conda. It is installed in a new environment which I created for tensorflow.
And I did this - pip install keras_preprocessing --upgrade
As well as this - pip3 install pandas.
Still it shows the same error
Please help.

[2020-10-29 14:10] Thunder003 commented on #44200
Thanks, @ymodak for your answer. I'm trying to build from source but getting an issue:-

Could not find any cudnn.h matching version '8' in any subdirectory:
        ''
        'include'
        'include/cuda'
        'include/*-linux-gnu'
        'extras/CUPTI/include'
        'include/cuda/CUPTI'
of:
        '/lib'
        '/lib/x86_64-linux-gnu'
        '/usr'
        '/usr/include/'
        '/

[2020-10-29 14:28] rposts commented on #14934
@tjakob and @angerson - I would like to investigate the possibility of adding s390x arch images (be) in the mix.  Just wondering if the TF CI infrastructure now supports multi-arch Docker images?  I could not spot `ppc64_le` Docker images on tensorflow/Dockerhub repo.  Are there plans of publishing multi-arch images on tensorflow repo on Dockerhub? Thanks.

[2020-10-29 14:34] talumbau commented on #43719
Just a note to say that I converted the f32 DistilBERT model with https://github.com/tensorflow/tensorflow/commit/612a5fb91ed6a6c229c5f4932307747699cabe90 applied and re-ran the inputs. No `nan`s were in the output and the agreement was good, so I think it's appropriate to close. Thanks for finding and reporting!

[2020-10-29 14:42] Aribido-Oluwaseun opened #44435 "[ssd mobileNet v2 model] ValueError: Failed to parse the model: pybind11::init(): factory function returned nullptr."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Catalina
- TensorFlow installed from (source or binary): Source
- TensorFlow version (or github SHA if from source): 2.3.1

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

Traceback (most recent call last):
  F

[2020-10-29 14:45] stevenwong951028 commented on #44414
updated [colab code](https://colab.research.google.com/drive/1cqqdmrsQrlA7DDehnoEOXxqIt9WiwIMr?usp=sharing) for reproducing the error

might take a while for downloading the dataset and extracting the images

[2020-10-29 14:56] amahendrakar commented on #44318
@PershingSquare,

Looks like the error was caused due to the size of the Dense layer. You can avoid this by limiting the GPU memory as mentioned in [this guide](per_process_gpu_memory_fraction). Thanks!

[2020-10-29 15:10] MMKrell commented on #42629
Do you need any other information from my side?

[2020-10-29 16:05] trinitylundgren opened #44437 "Cannot build TFLite flex:delegate package for armhf"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile de

[2020-10-29 16:07] beechatnetworkadmin commented on #18652
Hi everyone, I found a solution that worked for me.
Add the following to your code:
[code]

I found the solution on this other issue solves this issue as well:
https://github.com/keras-team/keras/issues/10634#issuecomment-608265288

[2020-10-29 16:16] amahendrakar commented on #44085
@arita89,
Happy to help :)

Marking the issue as closed since it is resolved. Please feel free to re-open if necessary. Thanks!

[2020-10-29 16:16] #44085 closed

[2020-10-29 16:25] jvishnuvardhan commented on #44197
@junhyk I am seeing different error. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/d7e5b9286f9a947ad8975b308b535c7e/untitled.ipynb). Can you please update in the gist and share? Thanks!

[2020-10-29 16:26] ZuyongWu opened #44438 "Tensorflow: TFLiteConverter (Saved Model -> TFLite) in SSD_mobilenet_v2_2"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):  pip install
- TensorFlow version (or github SHA if from source): 2.3.1

I have installed tensorflow 2.3.1, my ssd_mobile_net_v2_2 was downloaded from https://tfhub.dev/tensorflow/ssd_mobilenet_v2/2. I want to convert this model to tf_lite version. My code is:
![image](https://

[2020-10-29 16:28] Akhilesh64 commented on #44381
2020-10-28 12:08:06.625507: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'cusolver64_10.dll'; dlerror: cusolver64_10.dll not found.

I think you need to downgrade your CUDA toolkit version. I faced the same issue, I found a temporary workaround by renaming the

to

[2020-10-29 16:49] #43875 closed

[2020-10-29 16:56] nerai commented on #37556
Fwiw I've put this up as [a question on SO](https://stackoverflow.com/q/64197155/39590)

[2020-10-29 16:57] ravikyram commented on #44435
@Aribido-Oluwaseun

I have tried in colab with TF nightly version(`2.5.0-dev20201029`) and i am not seeing any issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/35fb92d229e046cb28f82f207a547706/untitled101.ipynb?authuser=1). Please, verify once and close the issue. Thanks!

[2020-10-29 17:05] Aribido-Oluwaseun commented on #44435
@ ravikyram, thanks for your reply, using that method gives no issue. Have you tried the full integer quantization?

Please try the following rather:

saved_model_dir = '~/Dev/models/research/ssdmobilenet_dir/saved_model'
dir = '~/Desktop/Dev/dataset/test2017/'
tflite_dir = '~/Desktop/Dev/models/research/ssdmobilenet_dir/quantized_model/'

train_images = tf.keras.preprocessing.image_dataset_from_d

[2020-10-29 17:26] peter197321 opened #44440 "tfl_quantizer"
I want to use this [tfl_quantizer](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/compiler/mlir/lite/quantization/lite) application. How to build and use it?

[2020-10-29 17:30] jsimsa commented on #44176
@shauidu I cannot reproduce this using [public colab](https://colab.research.google.com/drive/1Ci07KJHbHW5HRQ5l28AScnlbLYvG2oHR?authuser=1)

![Uploading Screen Shot 2020-10-29 at 10.30.43 AM.png…]()

[2020-10-29 17:34] amahendrakar commented on #44428
@Z-yq,
In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Thanks!

[2020-10-29 17:44] fchollet commented on #44253
It appears that you are overriding the `__call__` method on `Layer`, but you should actually be overriding `call`. Try to see if it fixes your issue (there may be multiple issues with your code).

[2020-10-29 17:44] srjoglekar246 commented on #43793
@archie94 Can you provide a snippet of your inference code in Java? It might help us dig into whats happening.

Also adding @impjdi who might know more about the specific errors.

[2020-10-29 17:49] #43734 closed

[2020-10-29 17:51] archie94 commented on #43793
Hi @srjoglekar246

It is pretty much same as this sample https://github.com/tensorflow/examples/blob/master/lite/examples/posenet/android/posenet/src/main/java/org/tensorflow/lite/examples/posenet/lib/Posenet.kt

[2020-10-29 18:08] impjdi commented on #43793
@srjoglekar246 If it wasn't able to load the delegate with that error message, it should safely fallback to OpenGL, but I've never seen that "No EGL error, but eglChooseConfig failed." in my last 3 years working on this project.  But then when that fails, we should safely fallback to CPU mode.

@archie94 Rather than "Mobile Device - Android - across multiple Android version (6, 7, 8)", can you spe

[2020-10-29 18:11] srjoglekar246 commented on #43793
Hmm I agree. "Restored previous execution plan after delegate application failure." indicates we did recover to CPU on the native side,  but we might be treating that as an error in the JNI layer.

[2020-10-29 18:20] impjdi commented on #44336
Acknowledged.  I have forwarded the message to the person who modified that code but is on vacation.  Ping me again in a week or so if you don't hear back.

[2020-10-29 18:23] archie94 commented on #43793
Thank you for your response!

Sure here are some devices on which we are facing this issue.

Samsung
- Galaxy J3(2016)
- Galaxy J3(2016)
- Galaxy Tab E 9.6

LGE
- LG Phoenix 4
- LG K8(2018)
- LG K8(2018)

Cherry_Mobile
- Flare_S7_Prime

The one area where we differ from the above sample is we select `GpuDelegate` if the device supports OpenGL ES 2.0 API.

[2020-10-29 18:24] jvishnuvardhan commented on #44387
@sainttail This is duplicate of

As I mentioned earlier, this is not an issue with `load_weights` but the user code. I checked weights, labels, and features. There is no change in weight and labels after loading the model but there is a change in features. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/36fbef60353b521b76b01afdf242a199/44387.ipynb). Thanks!

I am

[2020-10-29 18:24] #44387 closed

[2020-10-29 18:30] impjdi commented on #43793
Oh, our GPU delegate only support OpenGL ES 3.1 and above, as we employ compute shaders which are not available in 3.0 or below.

[2020-10-29 18:38] archie94 commented on #43793
Oh! I thought they 3.x was backwards compatible!

That may have been the case? Allow me some time to make the change and get back to you on this.

[2020-10-29 18:44] nikitamaia commented on #44348
Hi @creidieki, I was able to reproduce this on GCP with 4 GPUs if I dropped the `valnum` to 33. 32 and 34 worked okay. To try and isolate what could be causing the problem, have you tried this using `tf.data` instead of numpy?

[2020-10-29 18:48] Saduf2019 commented on #44258
@MustafaAlahmid
Please move this to closed status as issue is resolved.

[2020-10-29 19:00] jvishnuvardhan commented on #44253
@kumar10725 I think this was resolved. when I updated your code based on @fchollet suggestion, I don't see any error. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/2222de56f93623682119d69c27a6b1b3/44253-tf-nightly.ipynb).

Please verify once and close the issue. Thanks!

[2020-10-29 19:17] Rariusz commented on #44435
@Aribido-Oluwaseun
My problem was the same: https://github.com/tensorflow/tensorflow/issues/44091

[2020-10-29 19:25] Aribido-Oluwaseun commented on #44435
@Rariusz, thanks is it resolved for you?

[2020-10-29 20:08] Movisoto commented on #44378
@amahendrakar looking forward to hearing from you! As I researched it should be connected with an unfixed batch size of the model, but I have set all the input shapes

[2020-10-29 20:49] #43996 closed

[2020-10-29 21:04] skribm9 opened #44447 "Compiler Test cases with tf-mlir-translate pass/crash with specific build flag on s390x architecture"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.3.1
-

[2020-10-29 21:14] ofiryaish commented on #44409
Any update with this question?

[2020-10-29 21:22] RitikaPandey77 commented on #28033
hey I got the same error, can you tell me where I am going wrong ?

[2020-10-29 21:24] Pulkit12dhingra commented on #28033
hey I am getting similar error
can you tell me where I am going wrong

[2020-10-29 21:25] mmitsui opened #44448 "Possible memory leak in tf.keras.layers.experimental.preprocessing.TextVectorization"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2

[2020-10-29 22:04] idavidrein opened #44449 "Printing on TPUs"
**System information**
- TensorFlow version (you are using): 2.3
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
I would like to be able to print on TPUs. Currently printing on TPUs in functions decorated with tf.function does not work (tf.print doesn't work).

**Will this change the current api? How?**
I don't think the external api would

[2020-10-29 22:09] jvishnuvardhan commented on #44407
@snsun Casting is right approach here.

Currently int64 is not supported. Generally most of the use-cases are implemented on device and want to shrink the model size. For those use-cases, int64 is an overhead in terms of size/memory and speed.

If more users are looking for int64 support, then our team will prioritize it and will implement it. Thanks!

I am closing this issue as this was resolved.

[2020-10-29 22:09] #44407 closed

[2020-10-29 22:24] kja815 commented on #44421
@amahendrakar
guide is not helpful for me.
I just want to know how to control the number of files 'variables.data' like variables.data-00000-of-000001.
I want to control the number of files 'variables.data' to fixed number.
but when I use model.save(), tf make different number of files 'variables.data' for the same model with different machine.

[2020-10-29 22:32] allenlavoie commented on #42845
Looks like the version without pfor is fixed after https://github.com/tensorflow/tensorflow/commit/07b75ffa453b1ec9189371244d21b6684503340b

Thank you for the report.

[2020-10-29 22:32] #42845 closed

[2020-10-29 22:41] thaink commented on #44090
I am working on a script to do so.
At the moment you can try removing unused op in tensorflow/lite/kernels/register.cc
and rebuild the tensorflow/lite/experimental/ios:TensorFlowLiteC_framework

[2020-10-29 23:02] talumbau commented on #43719
Yes correct. The output looked like this (ignore the debug printing):

[code]

[2020-10-29 23:06] Subash9852050900 commented on #23698
InvalidArgumentError:  indices[12,21] = 20 is not in [0, 20)
	 [[node embedding_2_9/embedding_lookup (defined at C:\Users\philp\anaconda3\envs\tf\lib\site-packages\keras\backend\tensorflow_backend.py:3009) ]] [Op:__inference_keras_scratch_graph_16422]

Function call stack:
keras_scratch_graph

I am increasing vocabulary size to 21 lets see what will be the output

[2020-10-30 00:20] adstep commented on #44281
@nikitamaia any more ideas for what I can try? Is there any additional information I can provide?

[2020-10-30 00:34] Subash9852050900 commented on #23698
Universe of discourse
alphabet = 'ARNDCQEGHILKMFPSTWYV-'

Vocabulary Size = 21

👎 Wrong Approach:
model = Sequential()
embeddings = Embedding(20, 31, input_length=win_size)

👍 Right Approach:
model = Sequential()
embeddings = Embedding(21, 31, input_length=win_size)

Because I have 21 letters in universe of discourse or my vocabulary size is 21.

Thank You.

[2020-10-30 00:39] AinTziLLo commented on #37942
same here: "InternalError" on Windows and Ubuntu 18.04 on LSTM layers

[2020-10-30 01:04] ymodak commented on #44429
Also can you please help with the stacktrace? Thanks!

[2020-10-30 01:09] MeghnaNatraj commented on #37441
@stephen-systemfriend  What version of TF are you running?

For TF 2.3.0, I get no errors for the following code snippets:

[code]

Also, the `tf.gather_nd` function argument expects type "tf.Tensor" and not "tf.keras.layers.Layer". Thus, it is best to use the following code which will work across all TF versions:

[code]

[2020-10-30 01:25] alisaaalehi commented on #44192
Same error for me:
Tensorflow version: `2.5.0-dev20201027`
Python version: `3.6.12` |Anaconda, Inc.| (default, Sep  8 2020, 23:10:56)
[GCC 7.3.0]

[2020-10-30 02:01] stephen-systemfriend commented on #37441
TensorFlow 2.2.0
The code in question was a custom implementation of attention, but if I took the inputs as (value, query) then I would hit this error for some set of inputs. In the same structure it already was successfully called 5 times for other inputs, and changing the order to query, value fixed it

[2020-10-30 02:02] ppham27 commented on #30418
If anybody still needs this, we released [recompute_grad](https://github.com/google-research/google-research/blob/master/etcmodel/layers/recompute_grad.py#L169) as part of our EMNLP paper [ETC: Encoding Long and Structured Inputs in Transformers
](https://arxiv.org/abs/2004.08483)

We ran our experiments on TPUs in the paper, but I've tested on GPUs with and without XLA. It has the nice bonus that

[2020-10-30 02:04] Z-yq commented on #44428
@amahendrakar，
Thank you for your help.

The specific code is in my project. https://github.com/Z-yq/TensorflowASR
Here, I pick the important part.
Okay, I implemented the Transducer structure for speech recognition using the Python version of Tensorflow (2.2.0).
When doing inference, I used tf.while_loop to speed up decoding.
lstm init code:
[code]
And lstm's call function:
[code]
Previously, in

[2020-10-30 02:09] Jangbyeongwook commented on #43583
@KevinCS17
When I tested it on the new github, it worked as follows.
`    //add line
    AssetManager am = context.getAssets();
    InputStream is = am.open(labelFilename);

    MappedByteBuffer modelFile = loadModelFile(context.getAssets(), modelFilename);
    MetadataExtractor metadata = new MetadataExtractor(modelFile);
    try (BufferedReader br =
        new BufferedReader(
            new In

[2020-10-30 02:37] jackd commented on #27170
The latest versions of 2.4 (nightly) appear to resolve my remaining concerns. In particular, factory constructors and attribute access can now be used to create models without explicit `Lambda` wrappers.

[code]

Thanks to those that made this possible. I'm happy to close this if the above still works once 2.4 is stable.

[2020-10-30 03:06] #43256 closed

[2020-10-30 03:42] philp123 opened #44453 "BrokenPipeError: [Errno 32] Broken pipe"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-10-30 03:49] thaink commented on #41948
Hi all,
Commit https://github.com/tensorflow/tensorflow/commit/4b6c15218b690c5c75b28c423991096e4f0ea51b contains the fix for this error.
You can try to build the master branch or waiting for it to be included in the nightly build tomorrow.

[2020-10-30 03:49] thaink commented on #41876
Hi all,
Commit https://github.com/tensorflow/tensorflow/commit/4b6c15218b690c5c75b28c423991096e4f0ea51b contains the fix for this error.
You can try to build the master branch or waiting for it to be included in the nightly build tomorrow.

[2020-10-30 03:54] sanjoy commented on #44260
Can you please attach the full logs?

[2020-10-30 04:00] sanjoy commented on #41938
I believe `_mm256_extract_epi64` is not available on 32bit (see another instance of the same issue: https://github.com/pytorch/pytorch/issues/40988).

Probably Eigen should have some `#ifdef` logic to not use this symbol when building for 32bit.  @rmlarsen WDYT?

[2020-10-30 04:08] suryagowda commented on #26270
Hey there,
I am new to open source environment,and i would like to contribute.Can anybody explain me 'How to get started?'

[2020-10-30 04:30] sanjoy commented on #43623
@Palkos83 These logs usually mean that we've detected a cuDNN bug.  Can you try TF nightly with CUDA 11 and cuDNN 8.0.4?

[2020-10-30 04:35] sanjoy commented on #40036
Wow, good catch!  Would you be willing to send a PR?  It seems it'd be sufficient to cache the first failure (to find `ptxas`) and short circuit the subsequent invocations?

CC @cheshire

[2020-10-30 04:50] Saduf2019 commented on #44430
@zhezherun
I ran the code and face a different issue please refer to this [gist here](https://colab.research.google.com/gist/Saduf2019/35fd91ed2c40939b88f451cbd3a6f51d/untitled455.ipynb).

[2020-10-30 04:55] Saduf2019 commented on #44427
@DavidInWuhanChina
I ran the code and face a different issue please find [gist here](https://colab.research.google.com/gist/Saduf2019/9c44ff1d247f7f12b00eb3f27dc14aea/untitled453.ipynb),please share a colab gist with error reported.

[2020-10-30 04:58] sainttail commented on #44387
@jvishnuvardhan Thanks, for helping me. I've never once thought that the same code produce different feature values.

[2020-10-30 05:04] Saduf2019 commented on #44453
@philp123
As youhave mentioned you are using tf version 1.12 and 1.x is not supported, please upgrade to 2.x and let us know if you face any issues.

[2020-10-30 05:07] philp123 commented on #44453
The resource for tf is on HPC, I have no right to update to 2.x.

[2020-10-30 05:13] Saduf2019 commented on #44420
@haiou90
Could you please clarify the information required, refer to [this link](https://stackoverflow.com/questions/55535518/modulenotfounderror-no-module-named-tensorflow-docs-when-creating-tensorflow) for the doc, and this for [build api doc](https://www.tensorflow.org/community/contribute/docs#build_api_docs).

[2020-10-30 05:27] terryheo commented on #44447
@abattery could you take a look?

[2020-10-30 05:29] DavidInWuhanChina commented on #44427
I have edit my code, Now it can run in the gist and reproduces the error.

[2020-10-30 05:36] ymodak commented on #44012
@ruthvik92 The build/install documentation for TF 2.4 will be posted on the website as soon as TF 2.4 stable version is launched officially.
We generally do not provide build installation docs for TF nightly versions since its unstable.
Thank you.

[2020-10-30 05:36] #44012 closed

[2020-10-30 05:36] terryheo commented on #38491
@daravi, the option is for TF build.
If you want to use clang for TFLite build, please use "--repo_env=CC=clang" option.
It'll use /usr/bin/clang for your build. (You can check it with "-s" option of Bazel)

[2020-10-30 05:45] terryheo commented on #42064
You can find updated doc here.
https://www.tensorflow.org/lite/guide/build_android
There is a step to download Docker file.

[2020-10-30 05:46] GF-Huang commented on #38518
Same issue, any suggestions?

[2020-10-30 06:00] terryheo commented on #44228
It works well for me but I used stock ARM toolchain.

According to the link error,

buildroot-linux-gnueabihf/7.5.0/../../../../arm-buildroot-linux-gnueabihf/bin/ld: error: /home/mike/working/tensorflow/tensorflow/lite/tools/make/gen/bbb_armv7l/bin/minimal uses VFP register arguments, /home/mike/working/tensorflow/tensorflow/lite/tools/make/gen/bbb_armv7l/lib/libtensorflow-lite.a(interpreter.o) do

[2020-10-30 06:34] abattery commented on #44447
I am not familiar with xla compiler. @smit-hinsu could you take a look?

[2020-10-30 07:35] jsudlow commented on #38518
You guys need to use the tf-nightly build package....not the official TF one...and before you install it you need to remove all TF stuff from your python site packages directory. If you don't delete TF out of site packages, tf-nightly install won't work like you think.

[2020-10-30 07:40] GF-Huang commented on #38518
Thanks, I will try it.

[2020-10-30 08:12] KevinCS17 commented on #35283
How to make the foreground service?..
After make the notification and sservice
What class need to be called to the foregroundservice.java class?

[2020-10-30 08:28] zhezherun commented on #44430
@Saduf2019 That gist shows exactly the same exception as I mentioned, i.e.:

[code]

[2020-10-30 09:03] vasilevskykv commented on #44260
2020-10-30 12:00:11.707090: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2
2020-10-30 12:00:11.769924: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library nvcuda.dll
2020-10-30 12:00:11.891164: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1618] Found

[2020-10-30 09:06] vasilevskykv commented on #44260
70% Physical Memory
30% CPU

[2020-10-30 09:15] vasilevskykv commented on #44260
And here is the end:
Traceback (most recent call last):
  File "D:\CryptoTrading\Prediction\BinanceNeuroPrediction\Pred4Year.py", line 81, in <module>
    print(sess.run(x_train_multi))
  File "I:\Python\Python37\lib\site-packages\tensorflow_core\python\client\session.py", line 956, in run
    run_metadata_ptr)
  File "I:\Python\Python37\lib\site-packages\tensorflow_core\python\client\session.py",

[2020-10-30 09:16] rakeshmothukuru1 opened #44454 "Error while running TF Lite Model Maker Text Classification Tutorial"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/lite/tutorials/model_maker_text_classification#end-to-end_workflow

## Description of issue (what needs changing):
The below code is resulting in error

[code]

Error Trace is shown below:

[code]

### Clear description:

This tutorial is useful to customize the `TF Lite Text Classi

[2020-10-30 09:29] amahendrakar commented on #44438
@ZuyongWu,
I was able to reproduce the error with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/e9142a6f50f070cae36d30274459984b/44438.ipynb).

However, looking [this comment](https://github.com/tensorflow/tensorflow/issues/42114#issuecomment-671593386) from a similar issue, I was able to convert the model with [TF-nightly](https://colab.research.google.com/gist/amahendrakar/aa52e2

[2020-10-30 09:34] leandron commented on #38589
It looks like it is fixed on `keras ==2.4.3`.
(just in case you are here from search results)

[2020-10-30 09:42] GF-Huang commented on #36465
Any progress?

[2020-10-30 09:47] Saduf2019 commented on #44453
@philp123
Please provide with simple stand alone code or if possible share a colab gist with error reported.

[2020-10-30 09:50] ZuyongWu commented on #44438
Hi, I have tried it in latest tf-nightly 2.5.0, however, the input_shape prints [1 1 1 3]
![image](https://user-images.githubusercontent.com/43801775/97690800-6eda7200-1ad8-11eb-97c9-0751a642aa9a.png)

[2020-10-30 09:56] vasilevskykv commented on #44260
I have already updated my Driver Version. Now it is 457.09

[2020-10-30 10:07] mansnils opened #44455 "Renode tests of CMSIS-NN kernels tests are not working for all"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source): 5b5960f4fda6a6ae9cbf5233873b9ea6910b3e4e
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**
CMSIS-NN kernel tests conv and softmax are not working.

**Please provide

[2020-10-30 10:46] Saduf2019 commented on #44427
@jvishnuvardhan
I am able to replicate the issue faced, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/4d41161376601f6d770c0c46f25b5673/untitled455.ipynb).

[2020-10-30 10:50] Saduf2019 commented on #44417
@jnd77
Please provide with minimal reproducible code or a colab gist with the error reported.

[2020-10-30 10:59] Saduf2019 commented on #44386
@klausk55
Can you please try on nightly and see if you are facing the error.

[2020-10-30 11:09] amahendrakar commented on #44454
Was able to reproduce the issue with TF v2.3, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1ad549b981d453f0fb0f7a75b065390e/44454.ipynb). Thanks!

[2020-10-30 11:25] ichisadashioko commented on #42064
@terryheo Was you able to reproduce a successful build with the instructions? Was the Docker file updated recently (during 2 days ago)?

I just tried to build TensorFlow Lite again with that Docker file but it is still failing as reported in this issue.

[2020-10-30 11:40] ziofil commented on #26270
I'm not sure if this is what you're looking for, but the first thing is to clone the repository (`git clone [url of repo]`). Then you make a new branch in which you will develop a new feature or fix a bug. Finally, when the work is done you open a pull request here on GitHub to have the new code reviewed and eventually merged.

[2020-10-30 11:41] Harleytu commented on #44418
@amahendrakar,
Thank you for your comment, but I'm sorry that I can't open my source code.

And my layers in the CNN is built by tflearn. I still want to keep it in Tensorflow 1.x if possible.

[2020-10-30 11:49] #44050 closed

[2020-10-30 12:30] Palkos83 commented on #43623
@sanjoy
The last log I provided was with latestTFnightly cudnn **8.0.2** (I can try with **8.0.4** if you think that will help) and Cuda 11.0

[2020-10-30 12:37] andreys42 commented on #40302
can you please describe steps to do for implementing s3 filesystem on winows platform or it still require loading shared library at runtime?

[2020-10-30 13:05] bhack commented on #43623
@Palkos83 Yes try with 8.0.4

[2020-10-30 13:20] aaron276h commented on #44240
Thanks for the explanation @ymodak

[2020-10-30 13:20] #44240 closed

[2020-10-30 13:51] amahendrakar commented on #44339
@Runist,
While trying to download the `faster_rcnn.h5` weights file I am facing a 404 error, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/58ab1c9e00ca68a24845e93524531661/44339.ipynb).

Also, try setting a hard limit on the total GPU memory as mentioned in [this guide](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and let us know if it he

[2020-10-30 13:56] drjubbs opened #44459 "Freeze / crash occurring when batch size is reduced"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10 Home 1909**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use comman

[2020-10-30 13:56] cytms commented on #38100
same here. also could not be addressed by reducing the batch size.
[code]

it would be super appreciated if you guys can give me some clues.

[2020-10-30 14:03] pranathibl opened #44460 "[RNN] TfLite conversion issue in LSTM models"
I have not found any pretrained lstm models to work with .
Did tfLite provided any pretrained lstm models ?
I tried to create tflite model but facing issues while conversion .
Could you provide exact script to create tfLite model ?
Does tfLite has any script for creating tfLite LSTM models with latest version ?
This is my script to create tfLite model. But it has few issues

[code]

[2020-10-30 14:07] spate141 commented on #40457
@geetachavan1 You can download the files from here: https://drive.google.com/drive/folders/1LzqVyq8KZibB7jFho5jhlXardStwINmS?usp=sharing

[2020-10-30 14:10] GustavoMSevero opened #44461 "cannot fin symbol method setUseNNAPI(boolean)"
Hi!
I'm trying to run a model i have created on tensorflow lite for android and i got this  error
![Captura de Tela 2020-10-30 às 10 59 16](https://user-images.githubusercontent.com/2678092/97714896-7ed65f80-1aa0-11eb-91ce-3ade0e9d5c4b.png)

How can i solve this?

[2020-10-30 14:36] klausk55 commented on #44386
No more facing the error on nightly!

[2020-10-30 14:36] #44386 closed

[2020-10-30 14:42] GF-Huang commented on #38518
Now `tf-nightly` is `2.5.0.dev20201030`, it seems not supports GPU?

![image](https://user-images.githubusercontent.com/4510984/97718708-3733f000-1b01-11eb-9728-601f0a3c1bdc.png)

[2020-10-30 14:48] Rariusz commented on #44435
@Aribido-Oluwaseun
Yes, @amahendrakar help me to solve the problem however now I have still a problem with TFLite model. The model is reduced to 456 bytes !!!.  And so far I don't know why this is happening and how to solve it. I try different ways but the network is still so reduced.

[2020-10-30 14:53] Aribido-Oluwaseun commented on #44435
@Rariusz  Okay thanks, I will await on a comprehensive solution on this bug.

[2020-10-30 15:01] ml-0 commented on #43725
@mansnils can you comment why TFLM does not compile for M55 with GCC 10.1.1 toolchain? Is it a problem located in TFLM or on the GCC side?

[2020-10-30 15:09] Palkos83 commented on #43623
@sanjoy
Please see attached log after updating to CuDNN 8.0.4.
Firstly - the system failed again, this same errors are showing up as with 8.0.2.
What is more if you look a the epoch timings it is now getting progressively slower (each epoch is slower than the previous one) and the GPU usage is getting lower and lower (Starting from 23% falling all the way to 1% before crash).

**Logs attached:
[lo

[2020-10-30 15:13] palatos opened #44462 "GradCAM and nested models"
- TensorFlow version: 2.3.0
- Python version: 3.7.6

I'm trying to reproduce the Keras GradCAM example (https://keras.io/examples/vision/grad_cam/) using a custom model.
My custom model is relatively simple and inspired by the TF/Keras fine tuning tutorial (https://www.tensorflow.org/guide/keras/transfer_learning).

The problem is, adding a model such as vgg16 with the functional API, as a layer t

[2020-10-30 15:34] avieira-arm commented on #43725
Hi,

This is an issue with the GNU assembler that has been fixed with https://sourceware.org/pipermail/binutils/2020-April/110799.html

This fix should be picked up by the December major release of the GNU Arm Embedded toolchain, which will be made available at: https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm

Hope that helps.

[2020-10-30 15:38] felix-johnny commented on #43725
@ml-0 Till then, you can use [Arm Compiler](https://developer.arm.com/tools-and-software/embedded/arm-compiler/downloads/version-6) 6.14 and upwards.

[2020-10-30 15:46] #44258 closed

[2020-10-30 16:00] nikitamaia commented on #44281
When you did the single GPU training, were you still using `MirroredStrategy`? The strategy should work even with a single GPU, so it's worth running that experiment with a strategy.

Can you also try running the original code but with the default distribution strategy? Basically you would replace `tf.distribute.MirroredStrategy()` with  `tf.distribute.get_strategy()`.

It might also be worth test

[2020-10-30 16:06] zetez commented on #34062
@jnd77 @Saduf2019
The issue has not been resolved.
The reason it appears to be resolved in tf-nightly is because it is running on the CPU only.
I installed tf-nightly-gpu(2.5.0-dev20201029) on a local machine and the issue still persists.

[2020-10-30 16:06] Saduf2019 commented on #38152
@formath
Is this still an issue

[2020-10-30 16:14] Saduf2019 commented on #34062
Please refer to the gist, the run time used is GPU. Please create a new issue if you face any using a new template.

[2020-10-30 16:45] ianier opened #44463 "Add WinRT (UWP) as a supported platform"
Feature request: Add WinRT as a supported target platform for the native library. This would allow using TF on Microsoft Store apps and would benefit projects like https://github.com/SciSharp/TensorFlow.NET.

I've performed a fair amount of analysis work in the scope of the vcpkg project (see https://github.com/microsoft/vcpkg/issues/14252 and https://github.com/microsoft/vcpkg/pull/13028), so thi

[2020-10-30 16:55] Rariusz commented on #44435
@Aribido-Oluwaseun You can install tensorflow 2.2. I know that install TensorFlow for object detection is very hard.
I use conda distribution of python with virtual env.

[2020-10-30 18:04] ymodak commented on #44361
@emadboctorx Can you please try installing TF 2.3.1 in a virtual env and test?
I couldn't reproduce the behavior with TF 2.3.1, Python 3.7 and pyCharm 2019.2.3

[2020-10-30 18:10] ymodak commented on #44237
You are required to use TF Lite runtime that supports `Select TF Ops`.
You can try updating build.gradle dependencies with
`
dependencies {
    implementation 'org.tensorflow:tensorflow-lite:0.0.0-nightly'
    // This dependency adds the necessary TF op support.
    implementation 'org.tensorflow:tensorflow-lite-select-tf-ops:0.0.0-nightly'
}
`
See https://www.tensorflow.org/lite/guide/ops_select#

[2020-10-30 18:15] emadboctorx commented on #44361
@ymodak I topped getting the error after updating PyCharm, so I'm closing the issue

[2020-10-30 18:15] #44361 closed

[2020-10-30 18:19] ajtorresd commented on #44272
Hi Abhilash,

I installed Nvidia CUDA 10 as per your suggestion and my code is still
failing just importing... may you have any other suggestions?

my cpu details are:

Coreinfo v3.5 - Dump information on system CPU and memory topology
Copyright (C) 2008-2020 Mark Russinovich
Sysinternals - www.sysinternals.com

Intel(R) Celeron(R) N4000 CPU @ 1.10GHz
Intel64 Family 6 Model 122 Stepping 1, Genuine

[2020-10-30 18:20] palatos opened #44465 ""training" argument change after model is defined"
**System information**
- TensorFlow version (you are using): 2.3.0

Say I define two models.

model1

[code]
model2
[code]

Where the only difference is that in model2 the preprocessing augmentation layer has "training" set to False. There have been many instances where I simply want to change this parameter to False/True, after the model was defined, and I can find no way to do this besides creat

[2020-10-30 18:26] rposts commented on #44243
I think I have found a way of achieving this - closing.

[2020-10-30 18:26] #44243 closed

[2020-10-30 18:46] ymodak commented on #44440
This issue is more suitable on [LLVM Discourse](https://llvm.discourse.group/c/mlir/31).
On a side note you may also try [tf.quantization.quantize](https://www.tensorflow.org/api_docs/python/tf/quantization/quantize)
Thanks!

[2020-10-30 18:51] srjoglekar246 commented on #44431
Does the model work as expected on your desktop? I would test that first, before trying on Android. You can use the last sections of [this colab](https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tflite.ipynb) for inspiration.

Did you modify the example app [code](https://github.com/tensorflow/examples/blob/master/lite/examples/o

[2020-10-30 18:56] jdduke commented on #44332
Hi @svobora, can you talk a bit more about your use-case and need for desktop GPU acceleration?

While TFLite supports many different platforms, including desktop platforms, our primary focus continues to be mobile/edge devices. Technically the GPU delegate can run using OpenCL, but we test and optimize primarily for mobile devices. If you can say more about what kind of workloads, models or use-c

[2020-10-30 19:01] jsimsa commented on #44008
The tf.data `skip(n)` transformation does not avoid the computation needed to process the `n` elements, it just discards them. This is because in general, tf.data sources and transformations do not provide an efficient skip implementation (e.g. a compressed file without an index needs to be fully decompressed and iterated to determine how many elements it contains or the `filter` transformation ne

[2020-10-30 19:06] peter197321 commented on #44440
it's within TensorFlow repo - why other (llvm) to build and use?

[2020-10-30 19:09] jsimsa commented on #44008
Sorry, didn't mean to close the issue. Feel free to close it, if my answer provides satisfactory explanation for why `skip` works the way it does.

[2020-10-30 19:09] peter197321 commented on #44440
using [tf.quantization.quantize](https://www.tensorflow.org/api_docs/python/tf/quantization/quantize) how do I setup `disable_per_channel` bool option?

[2020-10-30 19:10] datend3nker commented on #30203
I posted a solution to this Problem on [StackOverflow](https://stackoverflow.com/a/64540388/11643158).

`tf.data.experimental.group_by_window` Has to load the whole dataset into memory in order to do some sort of in memory sorting.
Therefore the wired behaviour with not writing any file and just eating memory.
 A solution to this Problem is, using a Generator, iterating over the dataset. I assume

[2020-10-30 19:11] #43887 closed

[2020-10-30 19:21] cheshire commented on #40036
@dev0x13 Thanks a lot for finding this!

The change you've mentioned was introduced to fix another bug (https://github.com/tensorflow/tensorflow/issues/33375), so it's not that easy to rollback (users have complained that `ptxas` is not found in their `PATH`).

As far as I understand, the gist of the problem is that we cache the success, but not the failure of the lookup. Would you be willing to w

[2020-10-30 19:25] jvishnuvardhan commented on #44253
@kumar10725 Closing this issue as this was resolved. Please feel free to reopen if I am mistaken. Thanks!

[2020-10-30 19:25] #44253 closed

[2020-10-30 19:32] danzafar opened #44467 "h5py==3.0.0 causes issues with keras model loads in tensorflow 2.1.0"
h5py released version 3.0.0 today and it causes this code to fail:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/saving/hdf5_format.py#L182
with error:

[code]

It looks like in version 2.1.0 the `h5py` version is not pinned (it is pinned in master), which is causing the issue.

[2020-10-30 19:36] aaronmondal commented on #44192
Could it be related to commit 9b5e180a69e29a6266224a6c74868295ff5631a4?

It changes `tensorflow/python/eager/pywrap_tfe_src.cc` and the commit was roughly 10 days ago.

[2020-10-30 19:40] orenNelson commented on #17553
mrry, thanks as well! Now I see 'c.	[PATH_TO_ANNOTATIONS_FOLDER]/train.record' what this means!  And now it seems so obvious. I'm glad it was a much easier fix than it looked.

[2020-10-30 19:46] bhack commented on #44467
I think it will be hard to expect a backport on 2.1.0.

[2020-10-30 19:48] bhack commented on #44465
@palatos Do want to have a different behavior than `K.learning_phase()`?

[2020-10-30 19:52] seankerman commented on #44274
Thank you. This is helpful. Unfortunately the code that I am working with is not easily converted to tensorflow ops. What I would like is some sort of generator that works in parallel in python and takes advantage of multiple cores. Basically I want to be able to do something like:

preds = []
for b in generator:
    preds.append(model(b))

where the generator uses multiprocessing in python the us

[2020-10-30 19:59] palatos commented on #44465
@bhack I think if I use set_learning_phase(1) for instance, model2 would still have 'training = False' (I just ran a test and it seems to indicate this). Is there any way to change model2's 'training' parameter to 'True' after the model was defined?

[2020-10-30 20:04] bhack commented on #44465
I meant that if you don't set the argument the `call` will be in sync with the learning phase
https://github.com/tensorflow/tensorflow/blob/a87725285625c151055aaf7e8bab10d0c50f410a/tensorflow/python/keras/layers/preprocessing/image_preprocessing.py#L228-L229

[2020-10-30 20:05] aaudiber commented on #44274
There isn't a way to use multiple processes to call a Python generator function faster. If performance is important, I suggest investing the effort into representing the preprocessing with TensorFlow ops, so that the preprocessing can be optimized and parallelized.

[2020-10-30 20:14] aaudiber commented on #44278
Hi @jackd, thank you for the thorough testing and reproduction details! I dug into the issue and found a couple behaviors that combined to cause this issue:

1. Datasets passed through `flat_map` functions are not optimized before iterating over them.
2. [This commit](https://github.com/tensorflow/tensorflow/commit/2e0c0b153a11b98f3e4e3c13adc31958268246b3) changed SnapshotDataset so that when the

[2020-10-30 20:18] #41869 closed

[2020-10-30 20:18] #40502 closed

[2020-10-30 20:19] #39021 closed

[2020-10-30 20:22] palatos commented on #44465
My problem is I'm using a model pretrained by someone else, and I believe they had set this parameter when generating the model. Once I load their model can I override whatever they set for training by using this learning_phase idea?

[2020-10-30 20:38] kafan1986 opened #44468 "Can not enable XNNPack android as there is no setUseXNNPACK option."
System information

OS Platform and Distribution: Android v9.0
Mobile device: armv7 and v8

TensorFlow version: 2.3.0 or nightly

Installed using virtualenv?
    def tfl_version = "0.0.0-nightly";
    implementation ("org.tensorflow:tensorflow-lite:${tfl_version}") { changing = true }
    implementation ("org.tensorflow:tensorflow-lite-gpu:${tfl_version}") { changing = true }

Describe the problem

[2020-10-30 21:03] djpetti opened #44470 "per_image_standardization Breaks Keras Model Loading"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu: 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v2.3

[2020-10-30 21:15] MeghnaNatraj commented on #37441
@stephen-systemfriend  Thank you for the details. As it's not a blocker and you have a workaround, I hope that should do for now. If you face a major blocker, feel free to re-open this issue with further information.

[2020-10-30 21:17] bhack commented on #44465
In your case I don't think you will override with  learning_phase.

[2020-10-30 21:17] jvishnuvardhan commented on #44427
@DavidInWuhanChina A quick question? Were you able to train the model? Looks like there is incompatibility in input and input signature of Decoder and/or `BahdanauAttention`. Thanks!

[2020-10-30 21:22] cheshire commented on #40036
Subprocess invocation is hard/resource consuming to do in general.

Note that this should also be fixed for good with CUDA 11.1 which bundles ptxas as a library which can be linked in instead, cf. https://docs.nvidia.com/cuda/ptx-compiler-api/index.html

[2020-10-30 21:24] aaudiber commented on #43905
@rubenverhack Sorry for the slow response. This looks like a typo, instead of `dataset.apply(gpu_transform)` it should be `dataset = dataset.apply(gpu_transform)`. Dataset transformations are functional, creating new datasets instead of modifying their source dataset.

[2020-10-30 21:45] dev0x13 commented on #40036
@sanjoy @cheshire

Thank you, guys. I am going to submit a PR fixing this within a week or so.
That's a good point about CUDA 11.1, hopefully this feature will be employed in the future TF versions.

[2020-10-30 22:27] palatos commented on #44465
Yeah I did a mock test here and it seems like indeed I can't. If someone set training = 'False' and saved the model it seems like that's it and it cannot be changed anymore.
What I mean is, would it be hard to implement it so that this can be as easily changed as say, layer.trainable? Would that break something major?

[2020-10-30 22:30] mihaimaruseac commented on #44192
Bisection points to 32f35aabce2b9c65d5244a8edf5904f367f28296 but that does not seem relevant, perhaps only surfacing an issue that exists from before.

[2020-10-30 22:34] ghannum commented on #23050
Is there any update on this? I attempted the fix from @netanel-s on TF2.3.1 but it hasn't fixed the issue for me. It's clear that virtual_batch_size should have no effect on tensor shapes for either training or inference..

[2020-10-30 22:46] jvishnuvardhan commented on #44065
@gharshini From [Keras website](https://keras.io/api/layers/convolution_layers/convolution1d/),

I had updated the input_shape as shown below and everything works as expected.
`model.add(Convolution1D(filters=32, kernel_size=1,strides = 3, input_shape=(1,1886)))`

Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/3ce64184332aa2fbe503ba5f5c1e2f75/untitled.ipynb). Th

[2020-10-30 22:46] #44065 closed

[2020-10-30 22:51] adstep commented on #44281
@nikitamaia

Originally I didn't test using ```MirroredStrategy```. I re-reran the test using ```MirroredStrategy``` but limiting the visible GPUs. I tried a test limiting each GPU individually. Both tests worked fine.

I replaced ```tf.distribute.MirroredStrategy()``` with ```tf.distribute.get_strategy()``` and re-ran the test with no limitations on visible GPUs, and didn't see the error. However

[2020-10-30 22:55] ssuwal opened #44472 "ByteBuffer is not a valid flatbuffer model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): *Ubuntu 18.04.5 LTS [Google Colab]*
- TensorFlow installed from (source or binary): *nightly*
- TensorFlow version (or github SHA if from source): *2.5.0-dev20201029*

**Command used to run the converter or code if you’re using the Python API**
I am trying to covert custom efficientdet d2 object detection model that

[2020-10-30 23:15] danzafar commented on #44467
the new h5py version just came out today: https://pypi.org/project/h5py/#history

Pinning it to the previous version (or at least throwing a warning) is a very lightweight change with no risk.

[2020-10-30 23:18] #43498 closed

[2020-10-30 23:25] bhack commented on #44465
Do you mean something similar to https://github.com/tensorflow/tensorflow/issues/39036?

[2020-10-30 23:28] bhack commented on #44467
Yes but as you know generally we had very few patch releases (e.g. 2.1.x) so It Is quite hard to have wheels with these fixes on old versions.

[2020-10-30 23:52] Fresh-Broccoli commented on #44062
I tried to update, but I got this error:

ERROR: Could not find a version that satisfies the requirement tflite-support==0.1.0rc3.dev3 (from versions: 0.1.0a0.dev3, 0.1.0a0.dev4, 0.1.0a0.dev5, 0.1.0a0, 0.1.0a1, 0.1.0rc3.dev2)
ERROR: No matching distribution found for tflite-support==0.1.0rc3.dev3

[2020-10-31 00:17] palatos commented on #44465
Indeed, that user seems to have the same need as me. The solution he proposes would fix my problem too.

[2020-10-31 00:18] #40895 closed

[2020-10-31 00:32] bhack commented on #44465
I think you can close this ticket and upvote that one.

[2020-10-31 00:48] palatos commented on #44465
Ok, will do.

[2020-10-31 00:48] #44465 closed

[2020-10-31 00:54] bhack commented on #39036
@gdj0nes Are you still interested? Can you try to open that PR?

[2020-10-31 00:59] Runist commented on #44339
Because the code could not work normal, I didn't get right model, I just reserved a spot.And I have try to set GPU memory to 7GB, it is same as RTX 1080, it also lead to RAM usage growth.
So I also change RTX 1080 to test, I want to know it is GPU problem or my code problem.Even RTX 1080 it also will lead to RAM usage growth.But RTX 1080 doesn't fill up memory quickly because of its small memory a

[2020-10-31 01:15] dciborow commented on #44390
@saberkun , done!

[2020-10-31 01:49] #40339 closed

[2020-10-31 01:49] #34893 closed

[2020-10-31 01:59] sayakpaul commented on #44306
Any updates on this?

[2020-10-31 02:01] Ankur3107 commented on #43498
Hi @ymodak

Yes I have tried .tf format and it worked. I have shared because it was not working with .h5 because I feel this is a bug.

Now is this working with h5 or this is not a bug?

[2020-10-31 02:11] ksachdeva commented on #43995
Hi,

Is there any action on this?

IMHO, this is a very dangerous bug as the practice of using Loss layers, activity regularization, and model wrapping is quite common.

Regards
Kapil

[2020-10-31 03:10] GF-Huang commented on #36465
Once run this, you can not `fit` again, it stucks.

[2020-10-31 03:31] GF-Huang opened #44473 "How can I clear GPU memory in tensorflow 2.2?"

[2020-10-31 05:02] phymatld commented on #39842
I encounter this problem now.
at the beginning, there are some dll missing .and then I download the dll and then ,encounter this problem

[2020-10-31 05:30] jnd77 commented on #44417
@Saduf2019 Thanks for looking at it.
As I mention in the ticket, it's impossible for me to reproduce the error with some minimal code. It's happening randomly even with a stable code base and the same machine.
I'm more hoping on someone being able to suggest what situation could create such error (since the message is not that helpful).
I guess in some cases, CUDA/Cudnn is in some particular state

[2020-10-31 05:42] gpsherry opened #44476 "tensorflow.contrib.image import transform as H_transform"
where is tensorflow.contrib.image import transform in tensorflow2.0?

[2020-10-31 05:45] GF-Huang commented on #19731
Not work tf-2.2

[2020-10-31 05:46] datduonguva commented on #33491
not really solve your problem, but Flask should not be used to deploy tensorflow :) better user tensorflow-serving.

[2020-10-31 07:11] jayaBalaR commented on #42542
Hi @nikitamaia , thank you very much for patiently reading my query and replying. basically I am trying to implement a custom loss function which is a complex loss sum of 3 individual losses, using the https://www.tensorflow.org/api_docs/python/tf/keras/losses/Loss example code.  After implementing loss using the class example detailed in this blog when I do a model.fit and not using auto differen

[2020-10-31 09:37] lightlefter opened #44478 "I can't use tensorflow very well by using RTX 3090,When will you updata your new version to support the new RTX3090?"
I can't use tensorflow very well by using RTX 3090,When will you updata your version to support the new RTX3090?
![666](https://user-images.githubusercontent.com/73739019/97775960-a5f26700-1b5c-11eb-8cdd-f54eae8ee9d4.png)

[2020-10-31 11:40] ReyCoPeruvit opened #44481 "TFlite Custom trained model Issue (IndexError: invalid index to scalar variable)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 and Raspbian
- TensorFlow installed from (source or binary): TF
- TensorFlow version (or github SHA if from source): 2.3.1

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter i

[2020-10-31 12:19] rohan100jain commented on #41493
https://github.com/tensorflow/tensorflow/commit/868256f05a2abd55b43746c7b3c8b6fb9053668e should have fixed the issue. Parallel Stack has no eager implementation and we now raise an error.

[2020-10-31 12:19] #41493 closed

[2020-10-31 12:20] rohan100jain commented on #41493
Please open a separate issue for moving average and we'll address it.

[2020-10-31 13:28] fanto88 commented on #44431
Yes, i changed this line

`private static final int TF_OD_API_INPUT_SIZE = 300;`

to this:

`private static final int TF_OD_API_INPUT_SIZE = 640;`

After googling a bit i found out this question:
[Stackoverflow question](https://stackoverflow.com/questions/64315799/object-detection-on-android-with-tensorflow-lite)

Could this be the problem? If that so, how can i attach metadata to it using the sc

[2020-10-31 14:26] ymodak commented on #43498
To save custom objects to HDF5 you need to define `get_config` method.
See https://www.tensorflow.org/tutorials/keras/save_and_load#saving_custom_objects

[2020-10-31 14:35] Beastbehi commented on #44291
having the same issue on windows 10

[2020-10-31 15:56] jpodivin opened #44482 "tf.logging documentation leads to 404"
## URL(s) with the issue:
As far as I can tell all articles describing tf.logging namespace. Such as:
[https://www.tensorflow.org/api_docs/python/tf/logging/TaskLevelStatusMessage](https://www.tensorflow.org/api_docs/python/tf/logging/TaskLevelStatusMessage)
or
[https://www.tensorflow.org/api_docs/python/tf/logging](https://www.tensorflow.org/api_docs/python/tf/logging)

## Description of issue (w

[2020-10-31 16:00] kechan commented on #43195
I also hit the same issue. My model has 2 outputs and each has its own sample_weights. I am using the sample_weights as masks (i.e. they are 0 or 1). The setup ran fine on GPU.

Does it look like there's a workaround?

[2020-10-31 16:28] Harsh188 commented on #44307
Thanks a lot for your help @BorhenJlidi!

[2020-10-31 16:28] #44307 closed

[2020-10-31 17:32] Herminello opened #44483 "Error after installing tensorflow"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-10-31 17:33] danzafar commented on #44467
@bhack I'm not going to add any more messages after this, but I think you can see based on these other issues the Keras API is essentially broken because h5py new release. I'm not sure why the version was not pinned as it is in master, but I strongly advise that you pin to h5py==2.10.0 this for all TF >= 2.1.

[2020-10-31 17:51] bhack commented on #44467
/cc @mihaimaruseac @angerson there are many Dockerfile and other file not constrained.

[2020-10-31 18:13] jchwenger commented on #43236
@ahtik thanks for your setup above, I would also be grateful if you shared your TensorRT instructions!

[2020-10-31 19:05] ofiryaish commented on #44409
Any update with this question?

[2020-10-31 19:16] park-junha opened #44485 "Support Python 3.9"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.3.1
- Are you willing to contribute it (Yes/No): No (wil

[2020-10-31 20:43] namcho commented on #44387
@jvishnuvardhan Hello, I've some trouble with LSTM layer model saving and loading. After loading the whole model from other python file weights of the LSTM layer is being different from the saving session.

I've asked for it in one of the **keras-team/keras** issue topics. But could not find any workaround yet. I've just seen the https://github.com/keras-team/keras/issues/14240#issue-718065369 top

[2020-10-31 21:46] chrisbutner opened #44487 "TPUStrategy.run fails on non-primary thread with "No OpKernel was registered", "TPUReplicatedInput""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, included here
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): (a) Google Collab, (b) Debian 10 (Buster), Google Cloud VM TF2.3.1 image
- TensorFlow installed from (source or binary): (a) Google Collab, (b) Google Cloud VM TF2.3.1 image
- TensorFlow version (use c

[2020-10-31 22:32] Whrothus commented on #44192
I downgraded tf-nightly works now for me

[2020-10-31 22:35] mbrav commented on #27935
Anaconda on Windows is such a pain in the ass. If I install Anaconda with all the libraries, then I expect to have all the tools integrated in my `venv`, including TensorFlow, but then that takes 10 minutes to install because I'm on my secondary HDD with Windows 10 installed, and not my primary NVM.e SSD drive where I have my Linux distro installed, because ultimately, **and here is my main rant a

[2020-10-31 22:55] starkdg commented on #44358
Just tried compiling from source from the master branch - version 2.5.0 , but same problem.
Anyone have any ideas ?

[2020-10-31 23:04] jvishnuvardhan commented on #44387
@namcho Can you please create a new issue with a simple standalone code to reproduce the issue? It will help the community and helps us to track the issue better. Thanks!

[2020-11-01 01:32] wwww666 opened #44490 "tf-nightly2.4 run error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu18.04
- TensorFlow version (use command below):tf-nightly2.4
- Python version:3.7.4
- CUDA/cuDNN version:CUDA11.1
- GPU model and memory:RTX3090

**Describe the current behavior**
In my current environment, I use tf

[2020-11-01 01:35] jackd opened #44491 "deterministic `Dataset.map`s aren't"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: default colab

**Describe the current behavior**
`tf.data.Dataset.map` has a `determinstic` argument which is documented as allowing performance to be traded for determinism. Behaviour is not deterministic when `num_parallel_calls != 1` if `ma

[2020-11-01 04:22] minsky-1 commented on #16614
I have the same problem
train_path = tf.keras.utils.get_file(
AttributeError: module 'tensorflow' has no attribute 'keras'

It took me years to install tensorflow with bazel, and the keras is there installed. In tensorflow... the file is there:
/usr/lib64/python3.6/site-packages/tensorflow/keras/preprocessing/image/__init__.py
which it says it doesn't exist..

I installed aside Keras, aside... Now

[2020-11-01 05:46] bhavikapanara opened #44493 "Error while setting serial port parameters: 9,600 N 8 1: when run the "tensorflow/tensorflow/lite/micro/examples/person_detection/" example on Arduino Nano 33 BLE sense"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: tensorflow/tensorflow/lite/micro/examples/person_detection/
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**:
-   **TensorFlow install

[2020-11-01 06:10] jvishnuvardhan commented on #44482
@jpodivin tf.logging doesn't exist in TF2.x. Please check [this issue](https://github.com/tensorflow/tensorflow/issues/26662#issuecomment-505913656) for more info.

I think we need to update that page.

If someone wants to use it then import it from `tf.compat.v1.logging`. Thanks!

We will check this and update webpage accordingly. Thanks!

[2020-11-01 06:28] Siyamdiuswe commented on #24828
This happens as your GPU memory runs out of memory.

[2020-11-01 06:34] yan12125 commented on #44467
FWIW, I got a similar error message with h5py 3.0, and removing `.decode('utf-8')` from `tensorflow/python/keras/saving/hdf5_format.py` allows me to load Keras models as before.

[2020-11-01 09:38] GF-Huang opened #44494 "TensorBoard say Launching TensorBoard..., but nothing show"
![9DAroMg0xc](https://user-images.githubusercontent.com/4510984/97798399-a116db80-1c60-11eb-8f2f-05a6bb148e39.gif)

![image](https://user-images.githubusercontent.com/4510984/97798449-269a8b80-1c61-11eb-95d1-b4f872a6d570.png)

[2020-11-01 09:38] Khezkid commented on #42645
Having the same issue currently, it was working yesterday with no issues and today it started giving errors even though I changed nothing. Why's this happening?

[2020-11-01 09:48] rhr407 opened #44495 "Screen freezes when jupyter starts loading keras and tensorflow"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-11-01 09:55] #44495 closed

[2020-11-01 10:09] Jayanth1812 commented on #7547
I tried Traning in Google colab
python train.py --train_dir=training/ --pipeline_config_path=ssd_mobilenet_v2_quantized_300x300_coco.config
but  I am getting following error

WARNING:tensorflow:From train.py:56: The name tf.logging.set_verbosity is deprecated. Please use tf.compat.v1.logging.set_verbosity instead.

WARNING:tensorflow:From train.py:56: The name tf.logging.INFO is deprecated. Please

[2020-11-01 10:28] cookingbear commented on #40504
the tf.repeat function can also cause errors when I use tf-nightly==2.5.0-dev20201029

tensorflow.lite.python.convert.ConverterError: ...../lib/python3.6/site-packages/tensorflow/python/saved_model/load.py:890:0: error: 'tf.Reshape' op requires 'shape' to have at most one dynamic dimension, but got multiple dynamic dimensions at indices 1 and 2

........

Exception ignored in: <bound method Bucket

[2020-11-01 10:37] cookingbear opened #44497 "the tf.repeat function can not be converted to tflite?"
I tested the newest tf-nightly==2.5.0-dev20201029,
the tf.repeat function would cause the errors below:

tensorflow.lite.python.convert.ConverterError: ...../lib/python3.6/site-packages/tensorflow/python/saved_model/load.py:890:0: error: 'tf.Reshape' op requires 'shape' to have at most one dynamic dimension, but got multiple dynamic dimensions at indices 1 and 2

........

Exception ignored in: <b

[2020-11-01 10:53] jpodivin commented on #44482
@jvishnuvardhan I was looking into how logging works in Tensorflow. And if you search official docs it comes up among first results:
![image](https://user-images.githubusercontent.com/66251151/97800813-96e0e700-1c38-11eb-86e2-9fa00458186e.png)

I thought it might have been coincidence so I tried to find more about the module, only to run into more 404s and that's pretty much when I decided to post

[2020-11-01 11:04] abattery commented on #44497
The above TensorTTS colab works fine with tf-nightly version, 2.5.0-dev20201029.

Could you create a minimal example for reproducing your problem via Colab?

[2020-11-01 11:22] ataftaf commented on #44461
Hi,
I encountered the same problem while trying to run my model.

[2020-11-01 11:30] ntdat017 commented on #41904
Hi @andrea-garritano, I have same problem and do like meteorcloudy@4b8e7be, but it's raise some of error:
"""
ERROR: C:/users/me/documents/tensorflow/tensorflow/BUILD:642:11: in cmd attribute of genrule rule //tensorflow:tensorflow_filtered_def_file: label '//tensorflow:cc_ops_def_file' in $(locations) expression expands to no files
ERROR: Analysis of target '//tensorflow:tensorflow_cc.dll' failed

[2020-11-01 12:05] project2501a opened #44500 "FAILED: Build did NOT complete successfully"
Hello ,

- OS : pc windows 10
- CPU : i7-5820K
- RAM: 16G
- TensorFlow installed from (source or binary): source git master
- TensorFlow version: git Master
- Python version: 3.8.6
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): [bazel release 3.7.0]
- GCC/Compiler version (if compiling from source): Visual Studio Build Tools 2019 and Visual Studio Commun

[2020-11-01 12:27] aflyhorse commented on #41535
Encountered when saving in 2.2.0. Module is a class inherited from Sequential.

[2020-11-01 13:26] tjdurant opened #44501 "Image artifact with tf.keras data augmentation"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-11-01 14:16] q-55555 commented on #38518
@jsudlow, Thank you, indeed, the bug does not seem to appear with tf-nightly. But in my case, I don't have the choise to use tensorflow 2.3.1 because autokeras is only compatible with this version... With tf-nightly, I have another problem (certainly because it is not compatible)

[2020-11-01 14:20] q-55555 commented on #41855
It seems to be a Windows related bug. I tested it on a Linux GPU colab with the same CUDA and cuDNN version and it's working fine...

[2020-11-01 14:31] andrea-garritano commented on #41904
I'm sorry, but I never met this error.

[2020-11-01 14:36] swertz opened #44502 "Jacobian fails on gradient of tf.function with if-elif-else or nested tf.cond"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (use command below): v2.3.0-54-gfcc4b966f1 2.3.1
- Python version: 3.8.5
- CUDA/cuDNN version: executing on CPU
- G

[2020-11-01 14:42] alexn11 commented on #41855
No I have the issue with Arch Linux.

[2020-11-01 14:53] SmileTM commented on #44478
I have the same problem.

[2020-11-01 15:05] jackyesf commented on #44371
@ravikyram the dataset is too big to upload.

[2020-11-01 15:49] #39958 closed

[2020-11-01 16:10] jackyesf commented on #44371
I have traced bn_conv1 (the first Bacthnormalization layer)  on first few step .the output of this layer make me crazy.
I set the breakpoint in def _fused_batch_norm(self, inputs, training):
![output of bnconv1](https://user-images.githubusercontent.com/52857358/97807907-79466880-1c9e-11eb-9616-f878bfb298e0.png)

If we use the mini-batch mean and variance to calculate the output is close to the re

[2020-11-01 16:17] jackyesf commented on #44371
The batch_size=75

[2020-11-01 16:47] jackyesf commented on #44371
def identity_block(X,f,filters,stage,block):
    conv_name_base = "res"+str(stage)+block+"_branch"
    bn_name_base = "bn"+str(stage)+block+"_branch"
    F1,F2,F3 = filters
    X_shortcut = X

    X = Conv2D(filters=F1,kernel_size=(1,1),strides=(1,1),padding="valid",name=conv_name_base+"2a",
               kernel_initializer=VarianceScaling(seed=0),kernel_regularizer=regularizers.l2(weight_decay))

[2020-11-01 16:49] amahendrakar commented on #44199
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/8b65a688dc87ce9ca07ffb0ce50b84c7/44199.ipynb). Thanks!

[2020-11-01 17:22] kaublezw opened #44503 "IOS: TensorFlow Lite Error: Didn't find op for builtin opcode 'RESIZE_BILINEAR' version '3'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No - It's the

[2020-11-01 17:28] eLvErDe commented on #34401
Hello,

I can confirm the same behavior while attempting to build 1.14 with CUDA coming from either Ubuntu 18.04 or Debian 9 with backports.

Any help would be greatly appreciated,

Regards, Adam.

[2020-11-01 18:30] hudson-dev commented on #37525
I am still having the same issue despite completing all of the following instructions.

[2020-11-01 19:33] Saduf2019 commented on #44483
@Herminello
Please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/38164#issuecomment-656767462) and let us know if this issue helps.
Please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/44040#issuecomment-714817292) if you are using GeForce GTX.
and #38578 , please refer to [this guide](https://github.com/tensorflow/tensorflow/issues/26182#issueco

[2020-11-01 19:44] Saduf2019 commented on #44503
@kaublezw
Please share complete stand alone code for us to replicate the issue faced.

[2020-11-01 19:49] ashahab opened #44505 "tensorflow.keras.callback.TensorflowCallback turns off recording for tf.summary, and stops other callbacks from recording summaries"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary (colab)
- TensorFlow version (use command below): 2.3
- P

[2020-11-01 19:58] melrobin commented on #44279
TF will build by not to include CUDA support  I can then use the bazel command for CUDA support and still have access to the GPU.

[2020-11-01 21:03] datend3nker opened #44506 "Training with TPU Out of range ... end of sequence at beginning of secund epoch"
**System information**
- Have I written custom code : Yes
- Version of Tensorflow: 2.3
- OS Platform and Distribution : Kaggle TPU
- TPU model  :v3-8
- dataset: [Raven_center_single](https://www.kaggle.com/datendnker/raven-center-single)

**Describe the current behavior**
My model is training and evaluating the first epoch as expected. At the beginning of second epoch Error raises: OutOfRangeError

[2020-11-02 00:49] Jesssullivan commented on #41948
Thanks @thaink!   Working for me.
On today's pods, `11/01/2020`.

[2020-11-02 01:00] thaink commented on #41948
Glad to hear that. Thanks for the confirmation.

[2020-11-02 01:00] #41948 closed

[2020-11-02 01:18] thaink commented on #42064
@amitDaMan As I understand, you can build it successfully locally but fail with docker?

[2020-11-02 01:38] thaink commented on #42064
I was able to reproduce this issue. However, the error is gone after running ./configure with configuration for Android builds under /tensorflow_src
The ./configure add some flags needed for bazel so please run it even you are using docker.

Besides, if you would like to reduce the binary size, I would recommend to take a look at https://www.tensorflow.org/lite/guide/reduce_binary_size

[2020-11-02 02:09] bittergourd1224 opened #44508 "Building TensorFlow Lite library with tensorflow ops failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (

[2020-11-02 02:10] DavidInWuhanChina commented on #44427
I have trained the model referring to the tutorials.Everything is ok.But as you can see, I set the input the same as the input signature.

[2020-11-02 03:02] shrikantkeni commented on #44058
https://www.tensorflow.org/install/lang_c

I have also downloaded the library from above link and  tried compiling sample C code

[root@localhost ~]# gcc hello_tf.c -I /usr/local/include/tensorflow/c/ -L /usr/local/lib/ -ltensorflow -o hello_tf
/usr/local/lib//libtensorflow.so: undefined reference to `std::length_error::length_error(char const*)@GLIBCXX_3.4.21'
/usr/local/lib//libtensorflow.so: un

[2020-11-02 03:03] shrikantkeni commented on #44058
Please let me know if any specific linux version which I have to use to make this work.

[2020-11-02 03:04] DachuanZhao opened #44509 "```tf.keras.callbacks.EarlyStopping``` doesn't set correct mode when ```monitor="val_auc",mode="auto"```"
**Describe the current behavior**
[https://colab.research.google.com/drive/1y-gYAIMHYokd9K-OUDXuD3PGTh4qE1xN?usp=sharing](https://colab.research.google.com/drive/1y-gYAIMHYokd9K-OUDXuD3PGTh4qE1xN?usp=sharing)
[code]
is equivalent to
[code]
**Describe the expected behavior**
It should be equivalent to
[code]

[2020-11-02 04:15] JohnTaylor2000 opened #44510 "tf.device scope not working correctly"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Y es
- OS Plat

[2020-11-02 04:22] #44427 closed

[2020-11-02 04:27] michaelnguyen11 commented on #44424
Solved by myself by adding : **tf.enable_resource_variables()**, tf.enable_control_flow_v2() in export model script, and use this script to convert saved model to tflite

`converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS]
converter.allow_custom_ops = True
**converter.experimenta

[2020-11-02 04:27] #44424 closed

[2020-11-02 04:51] yunchaogong opened #44511 "TFLite memory not released"
**Describe the current behavior**

I am running a TFLite model on a edge device, and what we have observed is that when we invoke the first time, the RAM usage went up 30-40MB which is correct and that is the right amount of RAM needed to do inference. However, the memory does not get released after that. The second and many more times I run invoke, the overall RAM usage stays the same and there i

[2020-11-02 04:56] yunchaogong commented on #44511
Do I need to call `ReleaseNonPersistentMemory` or something like that?

[2020-11-02 04:57] DavidInWuhanChina opened #44512 "TypeError: call() missing 2 required positional arguments: 'features' and 'hidden'"
**System information**
- OS Platform and Distribution :CentOS Linux release 7.7.1908
-TensorFlow version:2.3.0

I try to convert [the tensorflow offical image caption model ](https://www.tensorflow.org/tutorials/text/image_captioning?hl=en)to TFLite model.Here is the[ gist](https://colab.research.google.com/gist/DavidInWuhanChina/f83e3e11009211f3469436bbc069b18a/43753.ipynb).

I try to convert the

[2020-11-02 04:59] lightlefter commented on #44490
I think the tf-nightly2.4 can't support RTX 3090 very well. we need to wait new version. I have the same question about that.

[2020-11-02 05:21] jucysoft commented on #41948
When I use this nightly build version, my demo app crashed like below.

Thread 2: EXC_BAD_ACCESS (code=1, address=0x0)

Thread 2 Queue : org.tensorflow.examples.lite.style_transfer (serial)
#0	0x00000001f0bce618 in _platform_memmove ()
#1	0x00000001026b406c in ___lldb_unnamed_symbol7040$$TFL Style Transfer ()
#2	0x00000001026a82e4 in ___lldb_unnamed_symbol6806$$TFL Style Transfer ()
#3	0x000000010

[2020-11-02 05:26] zacky131 commented on #43583
@Jangbyeongwook Thank you so much!!!! you are really savior of my life. This solve all my problems after a week unable to sleep very well :)

[2020-11-02 05:35] thaink commented on #41948
@jucysoft Can you create a new bug for this.
The error is not related to this issue. It seems to be related to MeTalDelegate instead.

[2020-11-02 05:46] jucysoft opened #44513 "crashed at TfLiteInterpreterCreate"
- iPhone11 pro
- Podfile
pod 'TensorFlowLiteSelectTfOps', '~> 0.0.1-nightly'
pod 'TensorFlowLiteSwift', '~> 0.0.1-nightly', :subspecs => ['Metal']

- crashed at TfLiteInterpreterCreate.
My custom model is used at StyleTranfer demo project.

guard let cInterpreter = TfLiteInterpreterCreate(model.cModel, cInterpreterOptions) else {
--> Thread 8: EXC_BAD_ACCESS (code=1, address=0x0)

Thread 8 Queue :

[2020-11-02 05:47] NeoZhangJianyu commented on #42703
@Lotte1990  We reproduce the same issue locally.
We are checking it now.

[2020-11-02 06:06] leonJCY commented on #27142
Does this have the same effect as the original activation?

[2020-11-02 06:21] ravikyram commented on #44506
@datend3nker

I tried in colab and could not able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/b303727cf14babd875c76cff71f0dd95/untitled480.ipynb).Please, help with the reproducible code. Thanks!

[2020-11-02 06:34] #43643 closed

[2020-11-02 06:48] ravikyram commented on #44502
I have tried on colab with TF version 2.3.1, nightly version(`2.5.0-dev20201029`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/cf8df22c346976e418fde3edd82057b2/untitled481.ipynb). Thanks!

[2020-11-02 06:49] YummyLee23 commented on #44426
hi

[2020-11-02 06:56] Saduf2019 commented on #44490
@wwww666
Please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/43947#issuecomment-715295153) and let us know, also[lease refer to this issue with respect to the configuration mentioned :#43718 #43588 #44251

[2020-11-02 06:58] Saduf2019 commented on #44511
@yunchaogong
Please share simple stand alone code to replicate the issue reported along with the tf version.

[2020-11-02 07:03] yunchaogong commented on #44511
It is not really an issue. I suspect I might need to explicitly call something to release the memory? Or is it suppose to be like when I execute AllocateTensors() or Invoke(), it just allocates RAM and does not free it and reuse next time?

[2020-11-02 07:12] ravikyram commented on #44487
I have tried in colab with TF version 2.3 and nightly version(`2.5.0-dev20201029`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/b49a6c3ee54fd24f47f8ea0a3d44dc36/untitled482.ipynb). Thanks!

[2020-11-02 07:12] yunchaogong commented on #44511
In particular, if I have a stream of infinity number of images coming in, should I have
[code]
These two always allocated as global var, or should I allocate a new Interpreter each time when I see a new image?

[2020-11-02 07:16] dipampatel18 commented on #44493
Hey @bhavikapanara, I'm getting compilation error just while trying out the person_detection example code. Any idea what would be causing that? I installed all the libraries and boards.

[2020-11-02 07:28] ravikyram commented on #44476
@gpsherry

tf.contrib.image.transform and tf.contrib.image.compose_transform are now part of the [tensorflow_addons.image](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/image/README.md) module.
Please, refer #33335, [SO link](https://stackoverflow.com/questions/58288465/the-equivalent-of-tf-contrib-image-transform-in-tensorflow-2-0) and see if it helps you. Thanks!

[2020-11-02 07:34] #44121 closed

[2020-11-02 07:34] #44087 closed

[2020-11-02 07:50] SimonLBSoerensen commented on #44349
With that version of TF, the GPU was not discovered, so it trained on the CPU.

It is training on the RTX 3090 now. But this is by using CUDA 11.1, cuDNN 8.0.4.30 and TensorRT-7.2.1.6 with TF 2.5.0 by compiling TF as shown here https://towardsdatascience.com/how-to-compile-tensorflow-2-3-with-cuda-11-1-8cbecffcb8d3 and https://medium.com/@amsokol.com/how-to-build-and-install-tensorflow-2-0-1aab4ea

[2020-11-02 07:50] #44349 closed

[2020-11-02 07:58] ravikyram commented on #44470
I have tried in colab with TF version 2.3.1 and nightly version(`2.5.0-dev20201029`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/4ba76c218a0ab0465aeecb5c47dbf3df/untitled483.ipynb#scrollTo=7LAXmC9S501o). Thanks!

[2020-11-02 08:09] amahendrakar commented on #44460
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/f89a67cbef070e7ee00280229af561ce/44460.ipynb#scrollTo=Q3Sv5ONa4z8y). Thanks!

[2020-11-02 08:23] Qrox opened #44515 "attr return values handled differently than dict by tf.distribute.Strategy.run"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.3.1
- Pyth

[2020-11-02 08:27] kaunghtetsan275 commented on #39157
I'm running into the exact same problem right now .. have you already solved this issue? @SirTapir @Anasel23

[2020-11-02 08:32] browndane commented on #44381
This quick fix (symlink) works on Linux:

https://github.com/tensorflow/tensorflow/issues/43947#issuecomment-715295153

Perhaps you could try something similar on Windows

[2020-11-02 08:41] Saduf2019 commented on #44478
@lightlefter
please refer tot he issues in [this comment](https://github.com/tensorflow/tensorflow/issues/44490#issuecomment-720277302) regarding "RTX 3090" and let us know.

[2020-11-02 08:42] ravikyram commented on #44510
@JohnTaylor2000

Will it be possible to share complete code snippet .Please, share the output of `tf.config.list_physical_devices()`.Thanks!

[2020-11-02 08:42] Saduf2019 commented on #44500
@project2501a
Could you please try with CUDA 11 and cuDNN 8 and let us know if you still face issues.

[2020-11-02 08:45] amahendrakar commented on #44468
@kafan1986,
Could you please provide the code / exact sequence of commands that you executed before running into the problem?

Also, please take a look at similar issue [#42056](https://github.com/tensorflow/tensorflow/issues/42056) and let us know if it helps. Thanks!

[2020-11-02 08:46] Akhilesh64 commented on #44381
Well I had thought this at first but it slipped my mind later on. Will give this a try surely. Thanks for pointing out.

[2020-11-02 08:49] SirTapir commented on #39157
@kaunghtetsan275 Yep, I've changed my converter to [hunglc007](https://github.com/hunglc007/tensorflow-yolov4-tflite)'s and used the android example in their repo as a reference to implement yolov3 to work in mobile app.

[2020-11-02 08:52] freddan80 commented on #44170
tagging @mansnils @felix-johnny

[2020-11-02 09:09] Akhilesh64 commented on #44159
@gdrolet Could you please provide the cusolver64_10.dll file. I have the same issue and will have to download the whole cuda toolkit but I have been facing some bandwidth issues lately. It would be a huge help.

[2020-11-02 09:22] alexcombessie commented on #38597
Solved with
[code]
It's required to import as well for the fix to work

[2020-11-02 09:28] heilwood commented on #33030
Found a workaround, del together with gc.collect() working fine for me.:

`           images_list = np.vstack(images_to_load)
            pred_result = self.model.predict(images_list, batch_size=10)

            del(pred_result)
            gc.collect()`

[2020-11-02 09:45] kafan1986 commented on #44468
@amahendrakar I am not sure what else can I share. The example code is pretty standard one. I am attaching a image inside android studio and it shows no member function with setUseXNNPACK name.
![Screen Shot 2020-11-02 at 3 14 18 PM](https://user-images.githubusercontent.com/7953422/97853550-3fb54200-1d1e-11eb-91e1-92f5f5ad820a.png)

[2020-11-02 09:51] heilwood commented on #37653
Found a workaround, del together with gc.collect() working fine for me.:

       `images_list = np.vstack(images_to_load)
        pred_result = self.model.predict(images_list, batch_size=10)

        del(pred_result)
        gc.collect()`

[2020-11-02 09:54] mabhags opened #44516 "keras preprocessing data_utils.py not working for non-'inferred' labels"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-11-02 10:04] kafan1986 commented on #44468
Android studio cached old version somehow. It is OK now. Closing issue.

[2020-11-02 10:04] #44468 closed

[2020-11-02 10:40] NiksanJP commented on #44083
Hello?

[2020-11-02 11:19] sakh251 opened #44517 "Custome loop distributed learning examples [proposed Label] comp:dist-start"
Hello,
I saw you provide the latest strategies to write customer loop for distributed learning in [this video](https://www.youtube.com/watch?v=jKV53r9-H14).
However I am trying to find examples code in GitHub, but it seems these new style codes are not available.

Would you please let me know if you have published those codes or not? or any similar ones?

Thank you

[2020-11-02 11:21] lightlefter commented on #44478
I had deal with this problem,you need use tf2 command to restrain video memory

[2020-11-02 11:23] Saduf2019 commented on #44478
@lightlefter
Please move the issue to closed status if resolved.

[2020-11-02 11:24] lightlefter commented on #44478
OK

[2020-11-02 11:24] #44478 closed

[2020-11-02 11:25] lintian06 commented on #44472
Hi Santosh,

You used SELECT_TF_OPS in the conversion, so in the app, it is necessary to add the dependency to gradle as well. Please check the instructions [here](https://www.tensorflow.org/lite/guide/ops_select).

[code]

BTW, only for [EfficientNet-**Lite** version](https://tfhub.dev/tensorflow/lite-model/efficientnet/lite0/fp32/2), they do not require SELECT_TF_OPS.

[2020-11-02 11:31] Palkos83 commented on #43623
@sanjoy, @timshen91

Guys, any feedback on the questions above? Any ideas what to try next?

[2020-11-02 11:31] lintian06 commented on #44454
@ziyeqinghan

[2020-11-02 11:32] ravikyram commented on #44517
@sakh251

Please, refer this [tutorial](https://www.tensorflow.org/guide/distributed_training), [custom training](https://www.tensorflow.org/tutorials/distribute/custom_training) and see if it helps you.Thanks!

[2020-11-02 11:34] #44020 closed

[2020-11-02 11:34] #43961 closed

[2020-11-02 11:34] #44122 closed

[2020-11-02 11:34] #44138 closed

[2020-11-02 11:34] #44111 closed

[2020-11-02 11:34] benkli01 commented on #44008
Hi @jsimsa ,
thank you for your explanation. I was suspecting something like this.
So the general process for skipping is 1) consuming/loading samples and 2) discarding them immediately?

Could this be implemented more efficiently for specific types of datasets to speed things up? E.g. the COCO dataset, as used in my example script, is just saved as a bunch of jpg files on the disk (with one file

[2020-11-02 11:40] lintian06 commented on #44422
Hi, please provide more information.

Most likely, you changed the model but didn't keep the consistent input and output.

[2020-11-02 11:41] Saduf2019 commented on #44459
@drjubbs
I ran the code shared and do not see the issue reported on tf 2.3 or nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/fc06f34a494a4c162fc3a9527cb53f63/untitled457.ipynb),[ nightly](https://colab.research.google.com/gist/Saduf2019/0f09432a9a5f2a5c4826a86d388253bd/untitled458.ipynb)

[2020-11-02 11:43] lintian06 commented on #44431
Hmm, it seems that the model doesn't contain related metadata as the original model.

@lu-wang-g maybe have more thoughts.

[2020-11-02 11:51] lintian06 commented on #44368
Hi Rajesh,

Please provide more information about the environment. Can you reformat the question in the issue template suggested by @Saduf2019 ?

I ran the code before, it seemed OK.

[2020-11-02 12:00] sayakpaul commented on #44306
I tried to follow the exact same workflow with Hugging Face's MobileBERT and the accuracy is still the same - https://colab.research.google.com/gist/sayakpaul/9fb955c973b8fbfcc94a557d27445044/albert_keras.ipynb.

Pretty weird! :o

[2020-11-02 12:01] Aicha-Maa commented on #37019
I'm having the same issue with tensorflow version 2.3.1 is there any solution?
Thank you in advance

[2020-11-02 12:04] amahendrakar commented on #44473
@GF-Huang,
By default, TensorFlow maps nearly all of the GPU memory of all GPUs (subject to CUDA_VISIBLE_DEVICES) visible to the process. For more information, please take a look at this [guide](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth).

To clear GPU memory, you'll have to restart the Python interpreter. Please check similar issue [#17048](https://github.com/tensorflow/tens

[2020-11-02 12:07] yoshihikoueno opened #44518 "Some variables are not restored only when MirroredStragy is used."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): official docker image <tensorflow/tensorflow:2.3.1-gpu>
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): I've tried every version (>=2.3.0) and I could reproduce this b

[2020-11-02 12:24] tsorewilly commented on #24828
I solved the problem last week. This happens as the GPU memory runs out of memory.
Append the snippet below to your code; it works fine for me since then, at least.

import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))
config = tf.compat.v1.ConfigProto(allow_soft_placement=True)

config.gpu_options.per_process_gpu_memory_fraction = 0.3
tf.

[2020-11-02 12:38] fuckfrancisco opened #44519 "need some help building on windows"
**System information**
- OS Platform and Distribution:Windows 7 x64
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.15.4
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 0.26
- GCC/Compiler version (if compiling from source): MSVC2017
- CUDA/cuDNN version: 10.0/7.4
- GPU model and memory: K40m 12G

im tr

[2020-11-02 12:42] cookingbear commented on #44497
I just found that the problem is not caused by tf.repeat and the code can be converted. thanks

[2020-11-02 12:42] #44497 closed

[2020-11-02 12:43] fuckfrancisco commented on #44519
I also tried to use def_parser.exe from the newest bazel it didn't work :x

[2020-11-02 12:46] fuckfrancisco commented on #44519
see also: https://stackoverflow.com/questions/57082617/building-tensorflow-with-ltcg

[2020-11-02 12:49] Saduf2019 commented on #44494
@GF-Huang
please open this issue in the tensorboard repo, and move this to closed status.

[2020-11-02 12:53] rubenverhack commented on #43905
@aaudiber Thank you for taking the time to review this. It's true that that was a mistake in this example. I can confirm that option 4 (prefetch_to_device) is as fast as option 3 (copy to device + prefetch).

![Selection_237](https://user-images.githubusercontent.com/28840027/97869983-987edd80-1d12-11eb-9cde-7a69478ec5f9.png)

However, I do still see a noticeable time that the GPU is performing no

[2020-11-02 13:10] cookingbear opened #44520 "tf.lite.Interpreter can not be used on the newest nightly version"
I use the version tf-nightly==2.5.0-dev20201029 and tested the tflite model

when I use the code below to test the performance of the fastspeech tflite model, the first input can be converted to audio correctly. However, the second would be converted to audio full of noise. Only when I reload the interpreter, the model can be used for the next input.

the next audio full of noise:
[code]

correct:

[2020-11-02 13:12] #44473 closed

[2020-11-02 13:16] ziyeqinghan commented on #44454
We have fixed it. Please try again.

[2020-11-02 13:16] #44454 closed

[2020-11-02 13:28] kaublezw commented on #44503
Here's the source code:  https://github.com/kaublezw/tflite_ios_example/tree/main/ObjectDetection
It is the tensorflow lite object detection ios example program. All I did was change the labels to be my own and added my own model, yolo4-tiny-416.tflite.  It fails on line 110 in ModelDataHandler.swift when it tries to load the Interpreter.

[2020-11-02 13:31] amahendrakar commented on #44491
@jackd,
On setting the `experimental_deterministic` to `True` as per the [tf.data.Options](https://www.tensorflow.org/api_docs/python/tf/data/Options) documentation, I was able to run the code without any issues.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/91238870723615bd21222d4b07cd7552/44491-with-options.ipynb#scrollTo=JJetXPbVagy1). Thanks!

[2020-11-02 13:34] #44108 closed

[2020-11-02 13:54] gowthamkpr commented on #42370
Are you using keras here? Can you please explain what api are you using here. Thanks!

[2020-11-02 14:16] UcefMountacer commented on #41570
I have the problem with CPU and GPU. My model is a converted mask rcnn in tensorflow2 but my session crashes when I invoke the interpreter. The input is coherent with input details so no problem there.

The following message is from GPU:

[code]

The kernet seems to restart for unkown reason.

Also, the input detail contain 3 tensors beside the image :

[code]

However the original model needs onl

[2020-11-02 14:24] iliailmer commented on #41808
Hi, when I follow the build instructions, I get ` libtensorflow_framework.2.5.0.dylib` and `libtensorflow_framework.2.dylib` but no `libtensorflow_framework.2.so` in my `${GOPATH}/src/github.com/tensorflow/tensorflow/bazel-bin/tensorflow/` directory and i'm not sure why, has anyone had this problem?

[2020-11-02 14:30] tinmodeHuang commented on #20698
hey! guys.
I have been in trouble, the error below was thrown when the model with double inputs predicted.
[code]
the 'state' is a list of two nd-arrays there
[code]
I would really appreciate it if anyone is willing to give some tips

[2020-11-02 15:01] UcefMountacer commented on #41570
**Update**

In fact for a model with multiple inputs, you have to specify each one of them at a time like this:

[code]

But when I invoke I session crashes again.

run on CPU :

[code]

Your help is much appreciated :D

[2020-11-02 15:12] umbra-scientia commented on #33755
This is a serious problem and makes tf.keras unsuitable for prototyping modern language models. We're used the same workaround as rzilleruelo, but it damages the optimization trajectory and stability.

Consider an embedding vector with large norm: We want to make larger gradient updates to it, to balance the representation learning, but when normalizing as a layer instead of a constraint we actual

[2020-11-02 15:22] UcefMountacer commented on #25231
Hey @bmabir17

I have the same issue, I converted from a modified version of matterport mask rcnn (tf v2) and the session crashes when I invoke the interpreter. Also, isn't there other inputs beside the image ?

@Oktai15 Can you explain further. Our model gets an input of 3 tensors :

[code]

image.shape = (1,1024,1024,3)

[2020-11-02 15:30] amahendrakar commented on #44505
@ashahab,
On running the given code snippet, I am facing an error stating `NameError: name 'model' is not defined`.

Also, I do not have access to the Colab notebook you have provided. Could you please provide the required permissions to view the files. Thanks!

[2020-11-02 15:44] amahendrakar commented on #44509
Was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/afcaddf04d01641d4cbacb65b36ea51e/44509.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/2a13236cc5f15233590e311ae622ef0f/44509-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-11-02 15:49] TheWiesmin commented on #44245
same problem

[2020-11-02 16:00] Arman-IMRSV commented on #44326
Any update?

[2020-11-02 16:07] adriang133 commented on #37187
+1

Very confusing that updates to the logs dict inside a `keras.Callback` do not make it to the terminal.

[2020-11-02 16:18] amahendrakar commented on #44512
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/ae5ce7da04942b487419b8bf565977a1/44512.ipynb#scrollTo=1nVb-qLe0GBL&line=3&uniqifier=1). Thanks!

[2020-11-02 16:18] sunzhe09 commented on #36102
@jvishnuvardhan I met the same problem ,my tf is 1.15

[2020-11-02 16:32] sunzhe09 commented on #27948
@SystemErrorWang  have resolve this case?

[2020-11-02 16:34] #44119 closed

[2020-11-02 16:36] amahendrakar commented on #44516
@mabhags,
In order to expedite the trouble-shooting process, could you please provide the TensorFlow version, the complete code and the exact sequence of commands that you executed before running into the problem. Thanks!

[2020-11-02 16:39] Saduf2019 commented on #44245
@TheWiesmin
please conform if you have referred to the above comment.

[2020-11-02 16:39] amahendrakar commented on #44519
@fuckfrancisco,
TensorFlow 1.x is not actively support. Could you please try building TensorFlow v2.3 and check if you are facing the same issue. Thanks!

[2020-11-02 16:54] gideonite commented on #44021
When I set `training=True` the issue goes away. When `training=False`about 90% of the values are the same between graph mode and eager mode.
[code]
I wouldn't be surprised if this is the expected behavior.

[2020-11-02 17:12] JonathanDZiegler commented on #27437
Very much interested in this feature as well.

[2020-11-02 17:17] ianier commented on #44463
@amahendrakar : You may refer to https://github.com/microsoft/vcpkg/issues/14252#issuecomment-720606994 for a list of patches that result in a valid DLL.

[2020-11-02 17:22] lu-wang-g commented on #44431
You'll need to pack as least the label file in the model. You can do this as follows:
[code]

The metadata library can be installed through:
[code]

See more about how to add metadata [here](https://www.tensorflow.org/lite/convert/metadata#examples).

[Here](https://stackoverflow.com/questions/64097085/issue-in-creating-tflite-model-populated-with-metadata-for-object-detection/64493506#64493506) i

[2020-11-02 17:30] jsimsa commented on #44008
If you were to use tf.data directly (as opposed to through TFDS), you could use the `skip` transformation to filter filenames to read from, which will provide you with an efficient implementation.

Since you are using TFDS, you cannot easily do that because TFDS abstracts away the details it uses for loading the dataset. Having said that, I believe that you should be able to use the [Split](https:

[2020-11-02 17:35] jvishnuvardhan commented on #36102
@sunzhe09 Can you please create a new issue as it is  better to track and the original issue was with `TF2.1`. Please share a standalone code when you create a new issue. Thanks!

[2020-11-02 17:38] datend3nker commented on #44506
Simplified the code [here](https://colab.research.google.com/gist/datend3nker/e0448ed4bf48edd52e35ed35177f94bb/untitled480.ipynb). Colab returns more information about the error. Apparently I made a mistake with the steps per epoch. So case closed

[2020-11-02 17:38] #44506 closed

[2020-11-02 17:40] gowthamkpr commented on #44191
@motrek Pls give us a minimal example to reproduce this issue. Also did you try reproducing this issue on colab using gpu.. if not please try it and share the gist. Thanks!

[2020-11-02 17:46] mfoglio commented on #40143
Same problem with 2.3.1

[2020-11-02 17:50] jvishnuvardhan commented on #44482
@jpodivin Agree with you. I am seeing the same search results. I am not sure why those pages are picked up in the search.

@MarkDaoust Any idea why search results are picking "404" error pages? Thanks!

[2020-11-02 17:54] amahendrakar commented on #44501
Was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/32d1f447194b885ef65cbeb2ece787af/44501.ipynb#scrollTo=boucrfpl-SrX) and as mentioned issue seems to be resolved in the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/2c65092d39820454d5f73e58dd6d63dc/44501-tf-nightly.ipynb#scrollTo=boucrfpl-SrX).

Please find the attached gist

[2020-11-02 17:55] motrek commented on #44191
I'm not sure what's going wrong here but you're the second person to ask me for a minimal repro.

Are you guys not seeing that I attached a python script to the first post, called "test.py.txt"?

Just rename the file (remove the .txt extension) and run it. That's the minimal repro. The problem should be immediately obvious.

[2020-11-02 17:58] mihaimaruseac commented on #44467
We cannot pin the versions without doing a patch release. We only do patch releases for security issues.

This issue has a quick workaround: `pip install tensorflow h5py<3.0.0`.

We are in the process of releasing TF 2.4 which should not be affected by this issue.

[2020-11-02 18:03] Aastik-Mandil commented on #42407
Failed to load the native TensorFlow runtime.
I am facing this issue

[2020-11-02 18:09] amahendrakar commented on #44272
@ajtorresd,
As per Intel's [product specification](https://ark.intel.com/content/www/us/en/ark/products/128988/intel-celeron-processor-n4000-4m-cache-up-to-2-60-ghz.html), your CPU doesn't support AVX. For more information, please take a look at the [hardware requirements](https://www.tensorflow.org/install/pip#hardware-requirements) to install TensorFlow with pip.

As an alternative in this case,

[2020-11-02 18:10] mihaimaruseac commented on #42094
This should be done by #42676, I think

[2020-11-02 18:11] mihaimaruseac commented on #44200
Note that code might also need to change to support newer versions of CUDA.

[2020-11-02 18:12] MarkDaoust commented on #44482
I'l often surprised how long 404s stick around in there. That's just google search.
I've submitted a request to clear out those URLs, IDK how long that will take to activate.

[2020-11-02 18:12] #44482 closed

[2020-11-02 18:17] ashahab commented on #44505
@amahendrakar  thanks for looking, I've fixed the access issue in the colab notebook. Please try to run it. It is a toy example created to demonstrate the issue.

[2020-11-02 18:20] aaudiber commented on #42327
In tf.data (and in Python in general) iterators can only be iterated through once. `tf.data.Dataset` is an **Iterable**, not an **Iterator**. See https://stackoverflow.com/a/9884259/401884 for more information about the difference.

[This colab](https://colab.research.google.com/drive/1A19aX1JlvYoRMoShcfs9RyhHDtRnVexB) demonstrates the difference and shows how to create a numpy Iterable that has t

[2020-11-02 18:34] #44026 closed

[2020-11-02 18:37] MrCull opened #44525 "The README file in this repo has a bad link - [404:NotFound]"
The README file in this repo has a bad link - [404:NotFound]

Status code [404:NotFound] - Link: https://chat.stackoverflow.com/rooms/216694/tensorflow

This was found by an new experimental hobby project that I have just created: https://github.com/MrCull/GitHub-Repo-ReadMe-Dead-Link-Finder
If this has been in any way helpful then please consider giving the above Repo a Star.

[2020-11-02 18:47] fanto88 commented on #44431
Thanks for the reply.

So, i have modified the script like this:

[code]

Now the application seems to run, but the model can't identify any objects.
Is that caused by something wrong with the script or with other piece of code?

I changed those lines together with the model:

[code]

The complete code is like this (Basically is the example for now, im trying to understand how that works)

[code]

[2020-11-02 18:55] DwayneDuane opened #44526 "Unable to parse stateful RNN in C API of Tensorflow 2.3.1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 2.3.1
-

[2020-11-02 18:58] mihaimaruseac commented on #40302
Compiling the plugin in https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/c/experimental/filesystem/plugins/s3/;drc=75a455a9416630e4a33d23b4dc27bbbdb9c75f41 gives you a shared object that you then load at runtime.

This should work on all operating systems.

[2020-11-02 19:00] lu-wang-g commented on #44431
Thanks for the feedback!

Are you compiling using lib_interpreter or lib_task_api? And by saying " but the model can't identify any objects", do you mean that there's no bounding boxes rending in the camera preview, or do you mean that the box labels are all wrong?

[2020-11-02 19:01] fuckfrancisco commented on #44519
my python program don't work with 2 :x

[2020-11-02 19:02] mihaimaruseac commented on #44328
TensorFlow also takes into account the security aspect of the framework. Hence, it has a much safer design, that prevents scenarios which seem to work but later would be exploitable/cause hard to debug bugs.

If you don't care about these aspects and other frameworks allow you to use an unsafe design, by all means.

[2020-11-02 19:05] mihaimaruseac commented on #44416
We have not released anything for python3.9.

Release process is as follows:

1. Ensure all of our dependencies support python3.9 (not yet there)
2. Ensure our code works with all these dependencies on all supported versions of python (at the moment, at least `gast` needs additional support work).
3. Release nightly version supporting the new python version
4. Release a full release.

As we are al

[2020-11-02 19:15] mihaimaruseac commented on #44525
Let's create a PR to remove the link.

[2020-11-02 19:22] mihaimaruseac commented on #44416
Actually, duplicating to #44485 since that one has a better title.

[2020-11-02 19:22] #44416 closed

[2020-11-02 19:22] srjoglekar246 commented on #44431
@fanto88  Are you using [these instrcutions](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md) to generate the TFLite-friendly model, from the download? Note that there is an intermediate step of generating a different SavedModel so that inference on mobile is possible.

[2020-11-02 19:22] mihaimaruseac commented on #44485
We have not released anything for python3.9.

Release process is as follows:

1. Ensure all of our dependencies support python3.9 (not yet there)
2. Ensure our code works with all these dependencies on all supported versions of python (at the moment, at least `gast` needs additional support work).
3. Release nightly version supporting the new python version
4. Release a full release.

As we are al

[2020-11-02 19:25] sammilei commented on #39594
I have also on TensorFlow 2.2 with Linux 18.04 and trying transfer learning with a config file. I got the same warning and the process just stopped but not terminating.
[code]

[2020-11-02 19:25] fuckfrancisco commented on #44519
is it possible to build with cmake ?

[2020-11-02 19:26] rschumi0 opened #44528 "LocallyConnected1D layer description"
The documentation of the [LocallyConnected1D layer](https://www.tensorflow.org/api_docs/python/tf/keras/layers/LocallyConnected1D) mentions the following for the strides argument: "Specifying any stride value != 1 is incompatible with specifying any dilation_rate value != 1."

I assume this sentence was just copied from the Conv1D layer and should be removed since there is no dilation_rate argumen

[2020-11-02 19:29] mihaimaruseac commented on #44390
This is likely related to how we're doing the combined pip package. Can you try with 2.3, nightly and (soon) 2.4rc0?

[2020-11-02 19:36] fuckfrancisco commented on #44519
is it possible to build 2 with --config=v1 ?

[2020-11-02 19:36] mihaimaruseac commented on #44428
`Could not decode variant with type_name: "tensorflow::TensorList".  Perhaps you forgot to register a decoder via REGISTER_UNARY_VARIANT_DECODE_FUNCTION?`

This looks like something is missing/not supported

[2020-11-02 19:37] fanto88 commented on #44431
With  " but the model can't identify any objects" i mean that using this model there is no bounding boxes rending in the camera preview, while using the model from the example the objects are shown on the preview. But even logging all the objects detect produce an empty string, like here:

`final List<Detector.Recognition> results = detector.recognizeImage(croppedBitmap);
                Log.d("OG

[2020-11-02 20:17] jvishnuvardhan commented on #44460
@pranathibl Can you please check [this example](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/keras_lstm.ipynb) and update your code to use with `tf-nightly`. Another very similar example is [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/Keras_LSTM_fusion_Codelab.ipynb). Than

[2020-11-02 20:27] jvishnuvardhan commented on #44513
@jucysoft Can you please create a simple standalone code to reproduce the issue? Thanks!

[2020-11-02 20:28] ymodak commented on #44509
https://github.com/tensorflow/tensorflow/blob/fcc4b966f1265f466e82617020af93670141b009/tensorflow/python/keras/callbacks.py#L1640-L1643

Looks like for `acc` the `mode='max'` and for monitoring other quantities it is set to 'min'.
I think you have to manually set the `mode='max'` here for your case.

[2020-11-02 20:35] tonyreina commented on #37448
I wanted to circle back on this one. We're starting to get use cases where this is important on medical imaging. Would it be possible to make things at least uint32 to get some extra headroom?

[2020-11-02 20:39] jvishnuvardhan commented on #44520
@cookingbear Can you please share a simple standalone code to reproduce the issue? Thanks!

[2020-11-02 20:47] Movisoto opened #44529 "Tflite model inference bug"
**System information**
- Linux Ubuntu 18.04
- TensorFlow installed from source
- TensorFlow version 2.3.0

**Describe the current behavior**
I use the following code to test the model after tflite conversion
[code]

While I print input_details I get the following:
`[{'name': 'input_1', 'index': 0, 'shape': array([ 64, 224, 224,   3], dtype=int32), 'shape_signature': array([ 64, 224, 224,   3], dty

[2020-11-02 21:00] srjoglekar246 commented on #44431
@fanto88 Is the model you now receive after conversion to TFLite >1KB? (The Github issue you linked to seems to be fixed)

Also, to get an 8-bit quantized model, you would need to specify `tf.lite.OpsSet.TFLITE_BUILTINS_INT8` as well to `converter.target_spec.supported_op` (I would suggest converting the floating-point model first, without `converter.optimizations`).

Also, the models thus generat

[2020-11-02 21:02] srjoglekar246 commented on #44481
TF2 Detection models cannot be converted to TFLite directly. There is an intermediate step to generate a TFLite-friendly model, see [these instructions](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md). To see a Python example of inference with such a model, see [this Colab](https://github.com/tensorflow/models/blob/master/research/object_d

[2020-11-02 21:12] fanto88 commented on #44431
@srjoglekar246  Yes, now the model using the steps above is more than >1kb.
Actually now it detects something, but it's really wrong. Basically the only object it detects is a mirror, even if i point the camera towards a screen, keyboard or whatever. Keep saying only mirror.

Sorry, i don't really understand how to do like you said.

Instead of
`converter.target_spec.supported_ops = [tf.lite.OpsSe

[2020-11-02 21:19] kvndhrty commented on #44251
Ok, I tried with TF2.3 and the master dev branch with CUDA 11/cuDNN 8.0.4 and I get the same error. Am I doing something else wrong here?

[2020-11-02 21:22] srjoglekar246 commented on #44431
Sorry about the confusion :-).

I am suggesting floating-point conversion first, with just this (without anything provided for `converter.optimizations`):
[code]

For float, `TF_OD_API_IS_QUANTIZED` should be False.

Once we can verify that floating-point stuff works, we can so quantization with:
[code]

I see that you are indeed attaching the metadata to the model as expected, so that *should* wo

[2020-11-02 21:30] ymodak commented on #44461
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-11-02 21:30] #44461 closed

[2020-11-02 21:35] advaitjain commented on #42569
We now have many of the internal CI results visible to the external contributors as well. See https://github.com/tensorflow/tensorflow/pull/44451 as one example.

Closing the current issue though there is still plenty of room for additional improvements to the documentation.

[2020-11-02 21:35] #42569 closed

[2020-11-02 21:41] fanto88 commented on #44431
So, i think i did like you asked.

[code]

When i watch an orange though the camera this is the object the camera detects:

`2020-11-02 22:38:05.590 9344-9610/com.example.sd_detect D/OGGETTI RICONOSCIUTI:: [[0] mirror (7,1%) RectF(-30.282135, 182.18513, 659.00214, 591.1142), [1] mirror (6,4%) RectF(32.083797, -26.561756, 634.7681, 574.84485), [2] orange (4,3%) RectF(292.83243, 296.0695, 515.19543,

[2020-11-02 21:47] srjoglekar246 commented on #44431
I think so. @lu-wang-g Can you check if something is wrong with the metadata attached to the model? Is it being given the correct cropped/preprocessed image in this case?

[2020-11-02 21:52] nfisdnf986 commented on #44237
This option isn't applicable for the  [TensorFlow Lite Interpreter pip package](https://www.tensorflow.org/lite/guide/python#install_just_the_tensorflow_lite_interpreter) version, right? Which version of TF Lite Runtime supports `Select TF Ops` ?

[2020-11-02 22:31] ymodak commented on #44501
The fix is available in newly released TF 2.4.0-rc0 as well. Hence we can expect it in TF 2.4 final version as well.
Thanks!

[2020-11-02 22:33] MeghnaNatraj commented on #34416
@vinorth05 It looks like you can now use TF 2.x (preferably  > TF 2.3 so that you can have a fully int8 quantized model - including uint8 model input and output). Here is the colab that you can use as a reference: [https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/retrain_classification_ptq_tf2.ipynb]

Does this work for you?

[2020-11-02 22:37] Oktai15 commented on #25231
I suppose your model uses 4D-tensor (or more) in the middle of architecture and it’s the problem for TFLite, i.e it is not only for input, but also for every inner tensors

[2020-11-02 22:47] srjoglekar246 commented on #44503
@kaublezw Can you provide some more details on what error you see? Also, how did you obtain the yolo model? The example app supports models with a specific input/output signature, and possibly requires edits based on the input size & quantization of the model.

[2020-11-02 22:53] ymodak commented on #44417
You may want to try this [hack](https://github.com/tensorflow/tensorflow/issues/42728#issuecomment-682479892) suggested by the user.

[2020-11-02 23:00] jackd commented on #44491
@amahendrakar So I opened my original colab, added `with_options` and it still failed. I then opened your colab, and it also failed. I re-opened my colab with the `with_options` changes and it passed. I've refreshed my colab and re-run the results a few times now, and sometimes it passes, sometimes it fails. I've also removed the `with_options` component and observe the same behaviour - sometimes

[2020-11-02 23:09] saeta commented on #44487
Unassigning self, as I'm no longer working on TF, thanks!

[2020-11-02 23:13] ymodak commented on #44389
TF 2.4.0-rc0  pre built pip package released today and it supports cuda 11.
https://github.com/tensorflow/tensorflow/releases/tag/v2.4.0-rc0
Do you still prefer to build from source?

[2020-11-02 23:17] mgalgs commented on #41943
@ArtanBerisha1 this is the change I made: https://github.com/mgalgs/flutter_tflite/commit/82d62fdab9ee1826e875b11bc8c137e8d421a30e

That got me past the initial error but now I'm hitting another error preventing me from using my custom model on mobile (works fine on desktop). The stack trace is:

[code]

I've moved on to another component with hopes that this stuff will resolve itself in `tf-night

[2020-11-02 23:34] #44041 closed

[2020-11-02 23:57] AzinPoshtyar commented on #38100
I'm trying to run tf object detection model. Getting the same issue; Stuck after Successfully opened dynamic library libcuda.so.1

[2020-11-03 00:01] sanjoy commented on #44426
These kernels are very different.  The XLA kernel generates HLO that represents the TF operation while the non-XLA kernel implements the behavior for TF concat.

[2020-11-03 00:01] #44426 closed

[2020-11-03 00:05] MeghnaNatraj commented on #39594
@sammilei As this issue is related to a warning that we print in the console, it should ideally not cause issues when training a model. Please file a [New issue](https://github.com/tensorflow/tensorflow/issues/new/choose) with more details.

[2020-11-03 00:05] sanjoy commented on #42355
Can you please check TF nightly?  If this works on TF nightly (which includes SASS for 5.0) then it should work on TF 2.4 as well.

I agree that the (lack of) error reporting is surprising, can you please attach the full logs from your run?

[2020-11-03 00:16] rxsang commented on #44487
If you change your test function to:

[code]

does that work? I think it is related to a new thread is losing the existing device stack information.

[2020-11-03 00:19] JohnTaylor2000 commented on #44510
# NORE : uses input data file mnist.npz

import tensorflow as tf
from tensorflow import keras

import time
import socket

import os

tf.debugging.set_log_device_placement(True)

print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))
gpus = tf.config.list_physical_devices('GPU')
print(' gpus = ', gpus)

def get_compiled_model():
    # Make a simple 2-layer densely-connected neur

[2020-11-03 00:20] lgeiger commented on #41827
@jaingaurav I just checked with the new release candidate and CUDA 11, but unfortunately this issue still exists and the increased idle time is clearly visible in the profiles.

Below are the numbers for `2.4.0rc0` including the [profiles for the runs](https://github.com/tensorflow/tensorflow/files/5478702/logs.zip):

version | FP32 | FP32 Mirrored | FP16 | FP16 Mirrored
--- | --- | --- | --- | --

[2020-11-03 00:21] JohnTaylor2000 commented on #44510
Output of tf.config.list_physical_devices() as requested:-

Num GPUs Available:  4
 gpus =  [PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU'), PhysicalDevice(name='/physical_device:GPU:1', device_type='GPU'), PhysicalDevice(name='/physical_device:GPU:2', device_type='GPU'), PhysicalDevice(name='/physical_device:GPU:3', device_type='GPU')]

[2020-11-03 00:24] jaingaurav commented on #41827
cc: @rohan100jain, @zongweiz looks like the fix in 673b993 didn't quite work as well as we'd hoped.

[2020-11-03 00:24] chrisbutner commented on #44487
That does work, thanks a lot. Are there any performance implications adding the "/job:worker" context there? Do you know why that's only required for TPUStrategy.run as opposed to strategy-less calls, either naked or 'with tf.device("/TPU:0")'? Would this be a bug to fix or would API guidance be given?

Workaround code for reference:
[code]

[2020-11-03 00:30] rxsang commented on #44487
It shouldn't have performance regressions.  The reason is TPUs are a 2VM setup, you run the python code on the coordinator, but the actual execution is on the TPU worker. To avoid all users need to manually set the device placement, we enter the TPU worker device scope automatically in `tf.config.experimental_connect_to_cluster(resolver)` API, and it can be configured by the `make_master_device_de

[2020-11-03 00:35] chrisbutner commented on #44487
Got it. So it sounds like this would run on the CPU on a secondary thread, and on the TPU on the primary thread?

[code]

And this would run successfully on a secondary thread on the first TPU device because you've given it context back?

[code]

[2020-11-03 00:36] lgeiger commented on #41827
Thanks for looking into it. I also updated the table with measurements using the new [Keras mixed precision API](https://github.com/tensorflow/community/pull/293) which makes the slowdown easier to spot.

[2020-11-03 00:40] allenlavoie commented on #44487
The device stack is thread local so multiple threads can manage their device stacks independently. I don't think anyone has considered the inheritance behavior on launching a new thread; it does seem like inheriting the device stack from the parent context would be nice, but I don't know how feasible that would be. Sounds like a reasonable request at least.

[2020-11-03 00:40] #44040 closed

[2020-11-03 00:46] rxsang commented on #44487
Yes

[2020-11-03 00:47] longmalongma commented on #43718
Thanks, do your configuration compile successfully? Can your configuration run codes needs to be compiled on 3090? looking forward to your reply.

[2020-11-03 00:50] ccffccffcc commented on #34211
Facing the same error with tensorflow 2.3.1 and python 3.8. The model includes an LSTM layer. And I want to load the model and retrain it. I have been using the same script. I use tf.save_model.save and tf.save_model.load.

[2020-11-03 01:15] soluwalana commented on #43718
Yes this configuration compiles computation graphs and executes them on the 3090

[2020-11-03 01:22] tinmodeHuang opened #44531 "'list' object consisting of multiple inputs has no attribute 'ndim'"
hey! guys.
I have been in trouble, the error below was thrown when the model with double inputs predicted.
[code]
the 'state' is a list of two nd-arrays there
[code]
I would really appreciate it if anyone is willing to give some  #tips

_Originally posted by @tinmodeHuang in https://github.com/tensorflow/tensorflow/issues/20698#issuecomment-720506308_

[2020-11-03 01:23] sunzhe09 commented on #36102
@jvishnuvardhan ok

[2020-11-03 01:28] sunzhe09 opened #44532 "CONV_2d convert to DEPTHWISE_CONV when input depth=1"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):16.04
- TensorFlow installed from (source or binary):pip
- TensorFlow version (or github SHA if from source):1.15.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]
tflite_convert  --output_file=centerfacembv2fix.tflit

[2020-11-03 01:31] psycho2012 commented on #44200
Oh, I have the same problem.

I have one RTX 3090 with CUDA version of 11.1 on Windows 10. Conda was used to install the cudatoolkit which provides CUDA 10.1 and cudnn 7.6, and I have tensorflow 1.14 installed. Tensorflow recognized my RTX 3090 well, but it spent a long time to begin or finish (I had to go to sleep ...) the training process.

My question is if I build the tensorflow1.14 (yes, I ne

[2020-11-03 01:54] Silb78dg opened #44533 "Colab feature_columns.ipynb cannot save and reload Keras model"
[Gist issue](https://colab.research.google.com/gist/Silb78dg/ec40d3472e6b67ad399c24320d671973/feature_columns.ipynb#scrollTo=RHNfDYLRv8o_) from [Colab feature_columns.ipynb](https://www.tensorflow.org/tutorials/structured_data/feature_columns)

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.

[2020-11-03 02:09] longmalongma commented on #43718
do you mean compile you can compile c++ codes into .so files, and run it by python?

[2020-11-03 02:48] cookingbear commented on #44520
[code]

[2020-11-03 02:51] cookingbear commented on #44520
@jvishnuvardhan  I can reproduce the error using the code above, can you please look into this?

[2020-11-03 02:53] Z-yq commented on #44428
Currently I can only find operations about **LIST** in RNN's **initial_state** ,and I'm a little confused：

In the case of no input and output states, the state of LSTM is also obtained by assignment in the built-in function.

But when this state is entered and returned as a parameter, it will fail.Even if I use **tf.stack** to make states as a tensor, that's the same.

So I think there may be a p

[2020-11-03 02:57] lu-wang-g commented on #44431
The pre/post processing should work fine as long as the inputSize is correct. And in this case, the label file are reading correctly, so metadata should have been attached correctly. Seems like it's the quality of the model that causes the issue. I would try using another model and see if it works.

[2020-11-03 03:13] DjangoPeng commented on #42425
It's not the time to close issue.

There are many users faced the same problem crossing various versions.

[2020-11-03 03:45] terryheo commented on #44100
There is a team who is working on this. It'll take some time.

BTW, can't you just use tf.lite package in TF PIP?
https://www.tensorflow.org/api_docs/python/tf/lite

What's the reason you need tflite_runtime package?

[2020-11-03 03:55] lu-wang-g commented on #44431
Just found that I couldn't got a working model using the script that fanto88 attached previously. The model only have input and output tensors, but no internal ops. See the graph below:

![image](https://user-images.githubusercontent.com/47436172/97948390-499e6b80-1d45-11eb-977d-a424a6cfc254.png)

[2020-11-03 03:59] car1hsiung commented on #44079
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from binary
- TensorFlow version: tf-nightly (2.5.0.dev20201029)
- TensorFlow Model Optimization version: 0.5.0.dev20201103 (installed from github)

**Command used to run the converter or code**

It can convert model to INT8 TFLite successfully with latest tf-nightly,

but fail to convert quantized model wit

[2020-11-03 04:08] isaacgerg opened #44535 "tfp.stats.histogram does not print out that it has no gradients"
tfp.stats.histogram does not print out that it has no gradients.  I would expect there would be a message indicating gradients aren't flowing like when you use tf.round().

Verified no gradients via

[code]

[2020-11-03 04:19] whillas commented on #3304
I'm getting this behaviour loading TF models with Triton Inference Server during the model warmup. I'm getting dumps like this:
[code]
All the GPU memory is consumed and the warmup takes hours as we have 75 models on a 12GB 2080 :(

[2020-11-03 04:45] Thunder003 commented on #44200
@mihaimaruseac, yes, it **might** need to be changed. To get assured I'm trying to build from source, but got stuck in another problem( As mentioned in the quote). Can you take a look at that? Or if you think it's off-topic then I can raise another issue for this.

@psycho2012 have you got any good images with TF 1.14 on RTX 3090? I'm just getting black images with RTX 3090 installed with CUDA 11.

[2020-11-03 04:59] ravikyram commented on #44532
@sunzhe09

Please, share colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-11-03 04:59] jvishnuvardhan commented on #42425
@DjangoPeng I removed `stalled` label, so it will not close. Thanks!

[2020-11-03 05:06] Saduf2019 commented on #44529
@Movisoto
I ran the code shared and do not see any errors or output on tf-nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/0de7372b3b45b17b2f1363698b98f1da/untitled458.ipynb).

[2020-11-03 05:07] Saduf2019 commented on #44533
@Silb78dg
Please share the tf version used

[2020-11-03 05:08] bhavikapanara opened #44536 "Can't reproduce the same result: tensorflow/tensorflow/lite/micro/examples/person_detection_experimental/ model."
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18
- TensorFlow installed from (source or binary): binary
- Tensorflow version (commit SHA if source): 1.14
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Arduino Nano 33

**Describe the problem**
I am trying to reproduce the same result for a [person detection](https

[2020-11-03 05:16] Silb78dg commented on #44533
It's in the description
[code]
tf `2.3.0`. That the version in Colab.
I can also reproduce locally with tf version `2.3.1`.

Thank you.

[2020-11-03 05:34] #44163 closed

[2020-11-03 05:37] bhavikapanara commented on #37347
Hi Everyone,

I have followed all step successfully as defined in this readme file to reproduce the same result for person detection.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/examples/person_detection_experimental/training_a_model.md

But I can't reproduce the expected result. It gives the same score continuously whether a person on a frame or not.
Here is the out

[2020-11-03 05:40] ravikyram commented on #44510
@JohnTaylor2000

Please, let us know which TF version you are using?
Thanks!

[2020-11-03 05:51] JohnTaylor2000 commented on #44510
PowerAi Tensorflow version 2.1.0

[2020-11-03 05:54] ravikyram commented on #44251
@kvndhrty

Please, share the error log with the above mentioned configuration you are seeing. Can you try to reinstall from scratch in a fresh environment and see if the issue still persists. Thanks!

[2020-11-03 06:31] #44531 closed

[2020-11-03 06:34] #43946 closed

[2020-11-03 06:34] #43805 closed

[2020-11-03 06:49] batara666 commented on #41808
yeah folks, we need this library  **go gettable**

[2020-11-03 06:57] tekumara commented on #44312
Thanks @ravikyram I used the docs template rather than the issue template.
I'm using tensorflow 2.3.1 - I'm presume it's compatible with the [install docs](https://www.tensorflow.org/install/gpu#install_cuda_with_apt).

[2020-11-03 07:13] junhyk commented on #44197
Please check below gist
I reduced the rank of model_input from 3 -> 2
https://colab.research.google.com/gist/jvishnuvardhan/d7e5b9286f9a947ad8975b308b535c7e/untitled.ipynb

[2020-11-03 07:21] fanto88 commented on #44431
I see, that would explain why it's not working as expected.
Is there a way were i can find if the problem is the

Step 1: Export TFLite inference graph
This step generates an intermediate SavedModel that can be used with the TFLite Converter via commandline or Python API.

To use the script:

[code]

Or if the problem is when trying to convert to the tflite version of the model?

[2020-11-03 07:31] amahendrakar commented on #34459
@dtsmith2001,
Any updates regarding this? Please feel free to close the issue if resolved. Thanks!

[2020-11-03 07:43] amahendrakar commented on #34538
@dbonner,
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-11-03 07:47] Gorospe commented on #37347
Hello,

I just can tell that I was able to train the Mobilenet V1 0.25 and quantized it to int8 as MeghnaNatraj commented. The performancewas really bad, as I checked It with 100 images (half of them with person), and it had 50% acc with 0% precision, but (if I remember correctly) the outputs weren't always the same.

Have you check whether the output variables are the indicated type (depending on

[2020-11-03 07:56] hangrymoon01 commented on #38432
I was facing the same issue:
[code]

In my case the edge device didn't support nearest neighbor upsampling so I changed to bilinear upsampling and it worked fine. Made the change here:
https://github.com/tensorflow/models/blob/master/research/object_detection/models/feature_map_generators.py#L716
changed tf.image.resize_nearest_neighbor to tf.image.resize_bilinear and it worked just fine.

[2020-11-03 08:00] vasilevskykv commented on #44260
As I see the problem is absence of method **append** in Tensorflow with the following logic:
**v = tf.Variable([],tf.int32)
for i in range(3):
 tf.append(v, i)**

And after thet we should get something like that:
An array in **v** must be [0,1,2] instead []

[2020-11-03 08:01] sunzhe09 commented on #44532
@ravikyram I cannot paste  my code in colab ，I have problem about prepare dataset in colab；I can upload the first two layers 。which is a subgraph to，reproduce the problem；I think it‘s tflite_convert's problem,because my pb is a right layer
[Uploading testmodel.zip…]()

[2020-11-03 08:02] thaink commented on #42064
Closing this issue here. Feel free to reopen it if you still face this error after running ./configure.

[2020-11-03 08:02] #42064 closed

[2020-11-03 08:23] bhupendrathore opened #44538 "OperatorNotAllowedInGraphError: using a `tf.Tensor` as a Python `bool` is not allowed in Graph execution. Use Eager execution or decorate this function with @tf.function.(Using Tensorflow data pipeline map function with tfrecords)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-11-03 08:29] Darsh-Dev commented on #40884
I'm seeing similar issue on aarch64 platform.
`tensorflow 2.3.0 requires scipy==1.4.1, but you'll have scipy 1.5.3 which is incompatible`

[2020-11-03 08:30] bool64-llc opened #44539 "tensorflow/go@v2.3.1: but does not contain package go/core/protobuf/for_core_protos_go_proto"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04

**Provide the exact sequence of commands / steps that you executed before running into the problem**

[code]

[2020-11-03 08:33] batara666 commented on #22359
what the hell is going on

[2020-11-03 08:50] cschreib-ibex commented on #44328
Thank you for your reply. Could you elaborate (or point me to a link/code) on that additional safety, and how this relates to not being able to unload the DLL? It might help us solve the problem on our end.

Ironically, it was precisely Tensorflow's inability to unload that has caused us a hard-to-debug bug. To this date we also have no correct solution for it either, because our own design relies

[2020-11-03 09:00] a86612 commented on #40108
Now I also account  the same problem.Follow the author's method to download python3.7 from python.org,but don't solve the problem.

[2020-11-03 09:00] Lescurel commented on #37726
The problem is still here using TensorFlow `2.3.0` :

### Reproducible Example

[code]
Outputs `None`

[2020-11-03 09:01] a86612 commented on #40108
I try to download tensorflow2.2.0 version

[2020-11-03 09:10] Jayanth1812 commented on #21927
ERROR:
(tensorflow) C:\tensorflow\models\research\object_detection>python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config
Traceback (most recent call last):
  File "train.py", line 54, in <module>
    from object_detection.builders import model_builder
  File "C:\tensorflow\models\research\object_detection\builders\model_builder.py"

[2020-11-03 09:13] junhyk opened #44541 "unable to trace dense layer in GNN"
**Describe the current behavior**
Hi,
I'm trying to implement GNN using tensorflow and export it to TFlite.
My implementation is largely inspired from pytorch_geometric.

After training my model I found tensorflow is not tracing my model's execution appropriately
The message was below.
[code]

My model consists of 2 graph convolutional layers and each layer computes dense layer and then some kind

[2020-11-03 09:41] cookingbear opened #44543 "ERROR: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference. ERROR: Node number 484 (FlexFusedBatchNormV3) failed to prepare."
I use the version tf-nightly==2.5.0-dev20201029 and tested the tflite model

I converted the model into tflite and the python code below can run successfully.
[code]

However, when I use C++ code to test the tflite model, the erros below showed:

ERROR: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference.
ERROR: Node number 484

[2020-11-03 09:51] vandenheuvel commented on #42370
I'm also using keras, but for this question, only tensorflow seems relevant. I'm just computing scalars all the time, such as losses, and logging those. I want to access all these historical loss values in a performant way, e.g. to determine whether the loss has stabilized (enough) or not.

[2020-11-03 10:11] setu4993 opened #44544 "Cannot export Keras sub-classed model with 2 args as a SavedModel"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 2.3.1 (also t

[2020-11-03 10:41] oXwvdrbbj8S4wo9k8lSN opened #44545 "Keras: custom data validation callback on training data always returns validation data results"
Just for information: I already asked for help regarding this problem on [stackoverflow](https://stackoverflow.com/questions/64645579/keras-custom-data-validation-callback-on-training-data-always-returns-validatio). Since I did not get an answer yet, I assume that this is a non-trivial problem and therefore open an issue here.

**System information**
`python -c "import tensorflow as tf; print(tf.v

[2020-11-03 10:57] bhavikapanara commented on #37347
Thanks @Gorospe for your quick reply.

I have tried to implement both `person_detection `and `person_detection_experimental` model. But didn't get success to run on Arduino.

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/examples/person_detection
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/examples/person_detection_experimental

As the Ti

[2020-11-03 11:08] RarDay opened #44546 "Install tensorflow in python 3"
Hello!
I have easy question, how i can install tensorflow?

Required Info |  
-- | --
Operating System | Ubuntu 18.04
Language | Python 3.6
Platform | NVIDIA Jetson Nano
CPU | Quad-core ARM A57
GPU | 128-core Maxwell

### Issue Description
I performed a million actions in the console and now I'm at this stage:
pip3 install tensorflow => no error
import tensorflow =>
[code]

[2020-11-03 11:10] amahendrakar commented on #44535
@isaacgerg,
On running the code with TF v2.3 and TF-nightly, `grad is None` returns `True`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/2dcf867b0e18a620d001b6c3b0f5c179/44535.ipynb#scrollTo=gzgSd3M5szzo).

Could you please confirm if this is the issue you're facing? Thanks!

[2020-11-03 11:29] rpkak opened #44547 "No Keras callback for sumary database writer"
**System information**
- TensorFlow version (you are using): 2.3.1
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Currently there is no `tf.keras.callbacks.Callback` writing tensorboard summary data into a sql database, but only which writes it into a log folder.

**Will this change the current api? How?**

Either the option  to specify a

[2020-11-03 11:33] mabhags commented on #44516
I attached the output from script above - detailing my site config.

Here:

[test_pp.txt](https://github.com/tensorflow/tensorflow/files/5480819/test_pp.txt)
is a test file to see problem
here:
![Screenshot from 2020-11-03 22-08-08](https://user-images.githubusercontent.com/73822769/97978581-db7ba680-1e21-11eb-8433-b0a50f5b8d6b.png)
is a picture of the test data directory structure and contents -

[2020-11-03 11:46] mabhags commented on #44516
oh - yes I know the REALs and FAKEs would not match between the two calls because of sorted subdir order - it doesn't matter for this test case.

[2020-11-03 11:46] SangbumChoi opened #44548 "RuntimeError: tensorflow/lite/kernels/conv.cc:238 input->dims->data[3] != filter->dims->data[3] (32 != 1)Node number 1 (CONV_2D) failed to prepare."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):
Ubuntu 16.04
TensorFlow version 2.3.1

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the conver

[2020-11-03 11:47] mabhags commented on #44516
oops - now I know what Close with comment does...

[2020-11-03 11:48] SangbumChoi commented on #44548
It happens when I try to convert Pytorch model -> Keras model -> TFlite model

[2020-11-03 12:09] sairmreddy opened #44550 "fatal error: tensorflow/core/framework/types.pb.h: No such file or directory"
when i compiling file with CMakeLists.txt file it giving error.
[CMakeLists.txt](https://github.com/tensorflow/tensorflow/files/5481075/CMakeLists.txt)
compiling file : tensorflow/tensorflow/examples/speech_commands/label_wav.cc
tensor flow version is r2.2
my machine is Ubuntu 18.04.5 LTS

error:
[ 50%] Building CXX object CMakeFiles/speech_recog.dir/label_wav.cc.o
In file included from /home/sboj

[2020-11-03 12:17] tiancaitzp opened #44551 "Does TensorFlow Micro support self define output type for each layer?"
@tensorflow/micro

**Describe the problem**
In our project, we want to deploy a CNN model in QualComm sensorhub. We quantize the model firstly, the input of the model is int8 data. But in order to improve inference accuracy, we want to use uint8 data to receive the first convolution layer output and input float data to FullyConnected layer. Therefore, the data type change process is as follow: int

[2020-11-03 12:48] bhavikapanara commented on #44322
Hello @IlkayW
Are you able to get TFLite model?

Thanks,
Bhavika

[2020-11-03 12:50] rakshitks commented on #34762
I changed the version of python to 3.7 from 3.6 it worked

[2020-11-03 13:08] bhavikapanara commented on #40956
@filzek
which TF version you have used for person detection model training?

[2020-11-03 13:27] ZakharovDenis opened #44552 "Bilinear upsampling layer shift"
**System information**
- OS Platform and Distribution: Windows 10 x64
- TensorFlow installed from: pypy
- TensorFlow version: 2.3.0
- Python version: 3.8.5

**Describe the current behavior**
Inference with Opencv Dnn has Mask shift that apperas while tensorflow model inference, if model has Resize Bilinear Layer. There's no shift if ResizeBilinear layer replaced with ResizeNearest layer. Also tens

[2020-11-03 13:29] Saduf2019 commented on #44462
I am able to replicate the issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/00393cd5c9f62227595cc0c6569c2ac1/untitled458.ipynb)

[2020-11-03 13:34] #44151 closed

[2020-11-03 13:34] benkli01 commented on #44008
Thanks @jsimsa . Using the split API when loading the dataset speeds things up significantly compared to skipping samples afterwards. Unfortunately from what I've gathered this doesn't really work for TFRecords though as they do not encode the number of samples per file, so that the iteration over all samples is unavoidable. Please correct me, if I'm wrong.
I'm closing this ticket now. Thanks agai

[2020-11-03 13:34] #44008 closed

[2020-11-03 13:37] raymanfx opened #44553 "tf.keras.model fit() CUDA crash when using generator inputs"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Fedora 33
-   **TensorFlow installed from (source or binary)**: pip3.7 (binary)
-   **TensorFlow version (use command below)**: v2.3.0-54-gfcc4b966f1 2.3.1
-   **Python version**: 3.7
-   **CUDA/cuDN

[2020-11-03 13:38] tjdurant commented on #44501
Thank you @ymodak. And just to clarify, TF 2.4.0 isn't released yet, correct? So should I use tf-nightly in the interm?

[2020-11-03 13:42] Saduf2019 commented on #44546
@RarDay
Please [verify](https://github.com/tensorflow/tensorflow/issues/1711#issuecomment-207794680) if you have installed the correct version,please let us know the tf version used.
Just to verify did you follow the instructions in [tensorflow website](https://www.tensorflow.org/install/source?hl=en) . Please, see tested build configurations from [here](https://www.tensorflow.org/install/source?h

[2020-11-03 13:42] raymanfx commented on #44553
Update: this is happening because of the `use_multiprocessing=True` parameter. Once that is removed, training starts. Should this still be considered a bug?

[2020-11-03 13:43] Arman-IMRSV commented on #44232
I solved it. In the call functions, put a condition: if it is on inference mode, do not call Dropout at all. (The training option that is passed as an argument to the Dropout class was not enough for me.)

[2020-11-03 13:43] #44232 closed

[2020-11-03 13:52] isaacgerg commented on #44535
@amahendrakar   Yes that is what i also see.  When you do the same thing with tf.round, it prints a warning saying that none of the gradients are flowing down to earlier layers. I would think histogram should do the same thing.

[2020-11-03 13:54] solarflarefx commented on #35860
This solution works great for Windows 10 systems.  But what about Windows Server 2019?  It seems that now Microsoft requires you to get NVIDIA Control Panel from the Microsoft Store, but that is not available on Windows Server 2019.  Is there an alternative way to allow these permissions on Windows Server 2019?

[2020-11-03 13:57] abattery commented on #44005
@jvishnuvardhan Sorry. I am not familiar with this part.

[2020-11-03 14:02] abattery commented on #43239
Could you try again with tf-nightly? Recently, we have resolved some bugs related to the calibrator component.

[2020-11-03 14:08] GPhilo commented on #43239
@abattery I ran the colab I linked above and indeed it ran through without raising the error anymore. I'll close this issue as it seems to be resolved, thanks!

[2020-11-03 14:08] #43239 closed

[2020-11-03 14:09] Ajay-Reva commented on #39495
Do we have solution to this issue? I am facing this issue as well.

[2020-11-03 14:14] abattery commented on #42157
Current tflite has limited dynamic shape support.

You can either set a fixed shape during conversion or resize the input shape.

[2020-11-03 14:28] ololosha228 commented on #43847
@kep-w all participants here are already decided that tensorflow 1.13 is works well, **but latest version is v2.3.1!!!** Also, 2.* versions are mentioned in official guide, so this is not a solution actually.

[2020-11-03 14:29] amahendrakar commented on #44544
Was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/de86338f39048ea941709c338e77ffca/44544.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/e367af691ecab7cae831345a60d2ea7c/44544-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-11-03 14:30] LucasStromberg opened #44554 "" ImportError: cannot import name 'anchor_generator_pb2' from 'object_detection.protos' " when trying to convert a custom model for use in the Object Detection Android example app"
Hi, I'm want to use the Android example app for Object Detection with a model with greater resolution than the standard 300x300. I have downloaded the **ssd_resnet_50_fpn_coco** model from [https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md](url), and I'm following the guide in the section _Custom model used_ on [https://github.com/tensorflow/exam

[2020-11-03 14:57] LucasStromberg commented on #44554
Okay, I was able to solve this problem by downloading **proto.exe** from [https://github.com/protocolbuffers/protobuf/releases/tag/v3.13.0](url), placing it in /models/research/ and in there run:

`protoc object_detection/protos/*.proto --python_out=.
cp object_detection/packages/tf2/setup.py .`

I then can go to the next step in the guide and run:

`tflite_convert --input_shape=1,640,640,3 --inpu

[2020-11-03 15:00] xaver-k opened #44555 "tf.convert_to_tensor is slow when converting list of numpy arrays"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04 (via docker on Ubuntu 20.04)
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: -
-   **TensorFlow installed from (source o

[2020-11-03 15:05] swertz opened #44556 "Second derivative of reduce_prod returns NaN"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (use command below): v2.3.0-54-gfcc4b966f1 2.3.1
- Python version: 3.8.5
- CUDA/cuDNN version: executing on CPU
- G

[2020-11-03 15:10] project2501a commented on #44500
@Saduf2019
Hello,
i have build with :
                          bazel-3.7.0-windows-x86_64
                          msys2-x86_64-20200903 (and update with : pacman -Syu
                                                                    pacman -Su)
                          python 3.8.6
                          cuda_11.1.1_win10_network
                          cudnn-11.1-windows-x64-v8.0.4.30

[2020-11-03 15:29] fiemmi commented on #43972
Dear @amahendrakar, all,

after browsing the forum I found that the last error was faced by other people previously, e.g., in #40654.
I followed the advices given there, i.e., I downgraded numpy, and I managed to complete the build successfully.

Thanks a lot for your help, I guess this thread can be closed.

[2020-11-03 15:29] #43972 closed

[2020-11-03 15:34] #44154 closed

[2020-11-03 15:35] LucasStromberg commented on #44554
I found a workaround by following this:
[https://github.com/tensorflow/models/issues/9341](url)

Now I no longer get any crash when using the app. However, I don't get any inference results at all. No bounding boxes.
Example log:
`2020-11-03 16:33:24.408 23251-25655/org.tensorflow.lite.examples.detection I/tensorflow: DetectorActivity: Preparing image 423 for detection in bg thread.
2020-11-03 16:

[2020-11-03 15:51] Aksh-kumar opened #44557 "ValueError: No gradients provided for any variable: ['Variable:0', 'Variable_1:0']"
I am facing the same issue gradient issue, I google it but not found any working solution. can anyone suggest me how to
deal with this problem..
[code]
All data value lies between [-1, 1]

**System information**
- OS Platform - window 10
- tensorFlow version (use command below):- 2.1.0
- Python version: 3.7.3
- GPU model and memory: - No GPU support
-

[2020-11-03 16:06] battuzz commented on #41938
Hi,
We managed to get it compiled with 32bit by disabling AVX, as described in this [issue](https://github.com/pytorch/pytorch/issues/17901)

Hope it helps..

[2020-11-03 16:26] rajeshgupta88 commented on #44368
Hi All,
Sorry about the delayed response. It is working fine now. Seems like it was a bad day.

Thanks for your support. I am closing this issue.

[2020-11-03 16:26] #44368 closed

[2020-11-03 16:30] ebrevdo commented on #41938
+1 this sounds like an issue in Eigen not detecting 32bit systems.

[2020-11-03 16:41] smit-hinsu commented on #44447
@River707 , do you know if this build config supported and what might be causing the failure?

[2020-11-03 16:44] lu-wang-g commented on #44431
@srjoglekar246 do you have any idea of what's wrong with the conversion process?

[2020-11-03 16:50] srjoglekar246 commented on #44431
@fanto88 Which version of TF are you using? You might need to use the latest nightly version of TF (especially the conversion), since the support for TF2 detection models was added pretty recently.

[2020-11-03 16:55] fanto88 commented on #44431
This should be the version i'm using.

![image](https://user-images.githubusercontent.com/10716240/98016025-c260fe80-1dfd-11eb-9eeb-faf003d5417e.png)

[2020-11-03 16:59] srjoglekar246 commented on #44431
Hmm, this is strange. Taking a look...

[2020-11-03 17:04] Saduf2019 commented on #44550
@sairmreddy
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2020-11-03 17:14] Saduf2019 commented on #44543
@cookingbear
Please refer ot this issie with same error and let us know: #40157 , [link](https://github.com/tensorflow/tensorflow/issues/40677#issuecomment-653680600).

Else please share a simple standalone to reproduce the error? Thanks!

[2020-11-03 17:16] vinits5 commented on #35590
Thank you so much. You have probably saved my several working hours.

[2020-11-03 17:25] IlkayW commented on #44322
@bhavikapanara not yet unfortunately.

[2020-11-03 17:27] fanto88 commented on #44431
It's for sure that the problem is the model and not the input i give to the model itself?

I can upload the entire project if that could be useful for debug purpose, because i really can't find the problem. I'm reading a lot of guides and watching a lot of videos, but the result are always the same.

[2020-11-03 17:32] srjoglekar246 commented on #44431
Could you upload your TFLite file? It might be useful in debugging what you see.

[2020-11-03 17:33] ElhamSol commented on #44389
I managed to install CUDA 10.1, but now get the following error building TF 2.3.1
ERROR: /root/tensorflow/tensorflow/python/tools/BUILD:314:1 C++ compilation of rule '//tensorflow/core/profiler/internal/gpu:cupti_wrapper' failed (Exit 1)

[2020-11-03 17:34] #43559 closed

[2020-11-03 17:34] #43943 closed

[2020-11-03 17:36] S3Stellar commented on #44431
Having here pretty much the same error you posted "This model does not contain associated files, and is not a Zip file."
When I used a model that was converted from YoloV4 (using this guy guide - https://github.com/theAIGuysCode/tensorflow-yolov4-tflite), then I've put the model and the coco labels instead the existing ones in the tensorflow android app demo
and got this error, is it because there

[2020-11-03 17:37] ElhamSol commented on #44389
I tried to use the pre built pip package version 2.3.1 and it ends up being CPU only.
I am not switching back to 11.0.

[2020-11-03 17:43] srjoglekar246 commented on #44431
I think @lu-wang-g was using a previous TF version, my bad. @fanto88 From your visualization, it looks like the TFLite model is correct (if you upload it, I can confirm). Something is probably wrong with the metadata or the input to the model.
Sorry about the confusion!

[2020-11-03 17:46] fanto88 commented on #44431
@S3Stellar i've solved the "is not a zip file" problem adding the label to the metadata like this:

[code]

@srjoglekar246

This is the [https://drive.google.com/drive/folders/1qFCjIE3OJkUuLTHrdiSrNVST2ROVVZ0A?usp=sharing](link) with some files;
-model folder is the model i have download from internet
-SDDetect is the entire project i'm actually using and where i have the problem
-labels.txt are t

[2020-11-03 17:52] kaublezw commented on #44503
I don't have any more details other than the error message that's in the title that was shown in xcode...  IOS: TensorFlow Lite Error: Didn't find op for builtin opcode 'RESIZE_BILINEAR' version '3'   The yolo v4 tiny model was trained via darknet installed on a Linux machine.  It was tested thoroughly.  I converted the yolo weights to tflite using this code: https://github.com/hunglc007/tensorflo

[2020-11-03 17:57] srjoglekar246 commented on #44503
@yyoon Could you take a look at this? Looks like the YOLO model requires ResizeBilinear v3 which was added in a more recent TFLite version. Is there some issue with the pod installed?

[2020-11-03 18:01] gowthamkpr commented on #43373
@shangh1 Please take a look at the above comment.Thanks!

[2020-11-03 18:02] #43205 closed

[2020-11-03 18:09] edwardyehuang opened #44559 "Cannot install latest nightly version via pip install tf-nightly"
Try `pip install tf-nightly` will install 2.5.0.dev20201029

Try `pip install tf-nightly==2.5.0.dev20201102` will output
[code]

[2020-11-03 18:16] srjoglekar246 commented on #44431
FWIW, @fanto88 's model seems fine to me (atleast in terms of the ops & tensors in the graph).

[2020-11-03 18:19] nikitamaia commented on #44502
In nightly, seems even before `hess` the code is failing. The error message is `LookupError: No gradient defined for operation 'gradients/cond_grad/gradients/cond/cond/StatefulPartitionedCall_grad/SymbolicGradient' (op type: SymbolicGradient)` Seems to be [from tf.gradient](https://www.tensorflow.org/api_docs/python/tf/gradients), which raises a lookup error 'if one of the operations between x and

[2020-11-03 18:24] fthielke commented on #29841
The commit linked above does _not_ fix the problem:

While dilation_rate is now passed to the parent constructor, it is not actually used - neither for output shape calculation in the call to `conv_utils.deconv_output_length` nor for the actual computation in the call to `nn.conv3d_transpose`.

The test case introduced in the commit is also wrong in that regard - the output shape with a dilation r

[2020-11-03 18:31] jsimsa commented on #44008
To enable efficient skipping of data for TFRecords (or any other format that does not support efficient indexing), you can be provide coarse-grained indexing functionality yourself by sharding your data across multiple files (and either using a fix number of elements per file or storing the number of files in filename).

[2020-11-03 19:02] kvndhrty commented on #44251
Ok, I cleaned and re-installed everything (other than the virtualenv, happy to do that as well) and got the same error:

[code]

Is cuDNN 8.0.4 the issue? Is there something else that has a missing path? The error doesn't give me much of a hint

[2020-11-03 19:09] houseofai opened #44560 "Custom LearningRateSchedule not called within a Mirrored Strategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
**From the tutorial [Custom training with tf.distribute.Strategy](https://www.tensorflow.org/tutorials/distribute/custom_training) with a Custom LearningRateSchedule**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Colab**
- TensorFlow version (use command below):

[2020-11-03 19:18] samprithahm commented on #36666
Same problem with me as well (as described by  @stefan-falk )

ValueError: Unrolling requires a fixed number of timesteps.

[2020-11-03 19:20] allenlavoie commented on #44502
The latest nightly is a bit out of date (it's from last Thursday). I verified that the non-pfor issues have been fixed, likely by https://github.com/tensorflow/tensorflow/commit/07b75ffa453b1ec9189371244d21b6684503340b.

I'll look into adding vectorization for optionals.

[2020-11-03 19:21] hatooku commented on #33412
+1, we are also facing @MLnick's issue. This makes TF 2.x unusable for us as well in TF Serving due to the high memory usage.

[2020-11-03 19:23] lu-wang-g commented on #44431
Thanks for the making it clear @srjoglekar246 and @fanto88

I looked into the model and found that the root cause is the mean / std value. Normally the input image of float models need to be normalized to [-1, 1], but this model seems doesn't need to. Therefore in TFLiteObjectDetectionAPIModel, you need to change the following values:
[code]

Also, you'll need to remove the first entry in the labe

[2020-11-03 19:25] ymodak commented on #44501
That's correct, 2.4.0 is yet to be released. For now you can use 2.4.0-rc0 or latest nightly version (2.5.XXXX)

[2020-11-03 19:25] lu-wang-g commented on #44431
FYI, labelmap.txt and labels.txt in your case are not used in the ref app. The app reads labels from the label file packed in the model.

[2020-11-03 19:27] #44501 closed

[2020-11-03 19:31] Rariusz opened #44561 "Convert TensorFlow to TensorFlow Lite - very small model after conversion"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): 2.3.0

Following my previous issues https://github.com/tensorflow/tensorflow/issues/44091 https://github.com/tensorflow/tensorflow/issues/44435 of converting the Tensorflow model to Tensorflow Lite

[2020-11-03 19:39] drasmuss opened #44563 "Error using TensorBoard callback in graph mode in TF 2.4"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.0rc0

[2020-11-03 20:03] mihaimaruseac commented on #44328
Imagine code taking a pointer to objects from the DLL and what happens when the DLL gets unloaded

[2020-11-03 20:19] fanto88 commented on #44431
Oh, thanks a lot @srjoglekar246 and @lu-wang-g , really. It finally works.

Can i ask 2 more question then before closing the question?

1) how i can calculate the correct value for
[code]
so that if i will change again the model, now that i know how to do so, i can calculate those values.

2) Now it works like expected, everything is fine. I tried with keyboard, mouse and other things and seems c

[2020-11-03 20:40] ckkuang commented on #44515
Thanks for filing the issue. I think it is a fair ask and `attrs` indeed should be treated as a nested structure across TF stack.

[2020-11-03 20:55] srjoglekar246 commented on #44431
@fanto88 I would suggest using one of the SSD MobileNet model listed on the [zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md). MobileNet is much more mobile-friendly than ResNet, at the cost of accuracy. You will need to figure out the best tradeoff for your model :-)

[2020-11-03 20:59] TylerADavis commented on #44100
Hi Terry,

It's great to hear that the team is working on this. I worked around my issue by compiling copies of both the tflite_runtime and full TensorFlow from source, but a prebuilt `.whl` is definitely more convenient.

As for your question, there were two main reasons I was looking for a `tflite_runtime` package.

1. I was looking to do inference on a Raspberry Pi 4B running 64-bit Ubuntu, and

[2020-11-03 20:59] kaublezw commented on #44503
would it work if I tried training a yolo tiny v3 model and use that instead?

[2020-11-03 21:07] abhishekbalu commented on #42425
@jvishnuvardhan I have been working on this issue for the past 2 months. I am working on Object detection models and trying to prune and compress it. This has been a major issue that I am facing in my work. I am happy to work on this problem with a little guidance. If you can help me out with understand a few concepts I will be able to pull this of.

[2020-11-03 21:19] abhishekbalu commented on #44341
I have tried to contact stack overflow forum but no luck. More over with recent works i have come across people facing the same issue. I have noticed there are many conversation in the forum which tells this is not possible and they link you have shared uses pytorch has the base model. But my question was not how to do it in tensorflow rather why tensorflow does not have this prune feature with fo

[2020-11-03 21:22] abhishekbalu commented on #43835
sorry for the delay. [dataset](https://drive.google.com/file/d/1gBSp2mhX4p6jlAoxBR55pGX0zeb4dg0q/view?usp=sharing) and [gist](https://colab.research.google.com/drive/1RIwxIM0lroyhUmGe_HWeqFq0dq7ZS_cn?usp=sharing)  these are sharable link

[2020-11-03 21:38] shaowei-su opened #44564 "TF 2.3 S3 client having permission issues with `tf.data.TFRecordDataset()`"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2020-11-03 22:09] njeffrie commented on #44322
Here's are tflite versions for the quantized int8 and uint8 models we use in the test. In order to get a floating point model, you can try this experimental [tf2 keras training pipeline](https://github.com/mlperf/tiny/tree/master/v0.1/reference_submissions/person_detection) (accuracy is lower than the slim based [tf1 pipeline](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/mi

[2020-11-03 22:15] amirhmk opened #44565 "from_tensor_slices not compatible with sparse data"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab / TF 2.3.0

**Describe the current behavior**
It's stated in the documentation that `Dataset` is able to handle `SpareTensors` on top of `Ragged` tensors and the other standard data types.

Issue is `from_tensor_slices` is not able to handle a list of `SparseTensors`, but `from_tensors` which accepts a s

[2020-11-03 22:16] ymodak commented on #44091
@Rariusz What happens if you don't perform any optimizations on the model and convert without quantization?

[2020-11-03 22:23] ymodak commented on #43968
Apologies for the delay in response. This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there. The response chances highly increase if you can come up with minimal code repro.
Thanks!

[2020-11-03 22:31] ymodak commented on #43622
Closing this issue for now Feel free to revisit if necessary. Thank you.

[2020-11-03 22:31] #43622 closed

[2020-11-03 22:35] anisoulk commented on #44291
I'm having the same issue here... is the only solution to downgrade to Cuda 10.2 ? I have an RTX 3080, I don't think that's compatible with Cuda 10.2...

[2020-11-03 22:42] ymodak commented on #43301
Closing this issue for now. Feel free to revisit if necessary. Thanks!

[2020-11-03 22:42] #43301 closed

[2020-11-03 22:44] ymodak commented on #43599
Apologies for the delay in response. Were you able to install TF 2.3 in virtual env successfully?

[2020-11-03 22:44] advaitjain opened #44566 "Enforce single optimized kernel implementation"
Currently we can provide potentially multiple optimized kernel implementations via the `TAGS` parameter to the TFLM Makefile.

While this was originally supported, we don't have any use-case for it and are moving towards enforcing a single optimized kernel implementation. This will also reduce some complexity in the makefile and allow for improved debugging.

Corresponding internal issue: http://b

[2020-11-03 22:47] anisoulk opened #44567 "tf-nightly-gpu looking for cusolver64_10.dll on a Cuda 11.1 / cuDNN 8.0.4 RTX3080 Build"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : Windows 10
- TensorFlow installed from (source or binary

[2020-11-03 22:55] mullanptr commented on #25980
I also have this problem, on a basic NLP problem.
My data is actually presented in numpy ndarrays.
So I do not even know why it assumes it is of dtype tf.sparse.

Also, I have not many Zeros in the np.ndarrays... Really strange, and no idea how to debug...

[2020-11-03 23:00] lu-wang-g commented on #44431
@fanto88 For the question, "how i can calculate the correct value for?", unfortunately, there is no easy way to know about it at this point. The only reliable way is to look into the training script and see how the model author preprocessed the image. For Google pretrained tflite model on TFHub, we've populated the correct mean/std value into the metadata, and Task library can automatically pick t

[2020-11-03 23:02] fanto88 commented on #44431
I see.

Thanks everyone for the help, i really appreciated it. I'm gonna experiment a bit trying to make the model recognize some custom object.

Thanks again,

Davide.

[2020-11-03 23:08] cookingbear commented on #44543
the code can be seen in https://github.com/tensorflow/tensorflow/issues/44520
and I do not think the problem is same as that from the link you shared.
can you please look into this?

[2020-11-03 23:23] charlielito opened #44568 "Inconsistency in loss on SAME data for train and validation modes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux (Colab)
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.3.0
- Python version: 3.6.9
- CUDA/cuDNN version: Colab
- GPU model and memory: Colab has k80 I think

[2020-11-03 23:27] ymodak commented on #43302
Thanks for your feedback. For users interested in using TF with gpu, tpu can try using [Google Colab](https://colab.sandbox.google.com/notebooks/intro.ipynb#recent=true). The google colab also hosts latest TensorFlow version thus saves the user from the hassle of setting up the environment, All you need is a good internet connection.

[2020-11-03 23:29] lukas-a-olson commented on #36465
This did the trick for me: [https://stackoverflow.com/questions/15197286/how-can-i-flush-gpu-memory-using-cuda-physical-reset-is-unavailable/46597252#46597252](https://stackoverflow.com/questions/15197286/how-can-i-flush-gpu-memory-using-cuda-physical-reset-is-unavailable/46597252#46597252)

[2020-11-04 00:21] #44559 closed

[2020-11-04 00:32] lagatorc commented on #33721
I am receiving a similar error.

CancelledError:  [_Derived_]RecvAsync is cancelled.
	 [[{{node Adam/Adam/update/AssignSubVariableOp/_33}}]]
	 [[gradient_tape/sequential_1/embedding_1/embedding_lookup/Reshape/_30]] [Op:__inference_train_function_11493]

I am using tf 2.3.1 and Cuda Toolkit 11.1

[2020-11-04 00:33] randyzhao commented on #39729
@lamberta Is there any update on this issue. I agree with @whatdhack . We do need good doc about these formats. Some basic concepts are not clear now, e.g. what's diff of saved model vs graph def, when to use which format.

[2020-11-04 01:16] KodeWorker opened #44569 "Build v2.1.0 from source on Windows [ERROR: Linking of rule '//tensorflow/lite/python/optimize:_tensorflow_lite_wrap_calibration_wrapper.so' failed]"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 enterprise 1909 18363.1139
- TensorFlow installed from (source or binary): source
- TensorFlow version: v2.1.0
- Python version: 3.6.12
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.29.1
- GCC/Compiler version (if compiling from source): VS 2019 Community
-

[2020-11-04 01:24] oracle3001 opened #44570 "TF2.4 Build - An error occurred during the fetch of repository 'io_bazel_rules_go':"
**System information**
- OS Platform and Distribution : Windows 10
- TensorFlow installed from (source or binary): Source
- TensorFlow version: 2.4
- Python version: 3.7
- Bazel version (if compiling from source): 3.7.0
- GCC/Compiler version (if compiling from source): MSVC 2019
- CUDA/cuDNN version: Cuda 11.0 / cuDNN 8.0.4
- GPU model and memory: 2070 Max-Q

When building from source, I receive

[2020-11-04 01:41] yyoon commented on #44503
@kaublezw Based on the `Podfile.lock` file in your repository, seems like you are using TFLite version 2.1.0, which is not the most recent version. Can you try running `pod update` from your project directory and build the project again? This will update your TFLite dependency to 2.3.0.

@srjoglekar246 Do you know which exact stable version is this op available? If this was not available in 2.1.0,

[2020-11-04 02:15] Harleytu commented on #44418
Maybe `tflite.interpreter.set_tensor` can only set an input tensor.

[2020-11-04 02:16] #44418 closed

[2020-11-04 02:38] breadbread1984 opened #44571 "TFRecordWriter create in parent process can't work properly in child process"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-11-04 02:39] xyangk opened #44572 "Can't get custom output name from tfserving"
I want the outputs from tfserving is:  `{"outputs":{"scores":[0.936071157,0.0527787767]}}`
but I got : `{ "outputs": [ 0.936071038, 0.0527787916 ] }`

Environment:
python 3.6
tensorflow 2.3.0

save model code:
[code]
By the way, model.model is tf.keras.Model :
![image](https://user-images.githubusercontent.com/9495054/97988975-d108df00-1e18-11eb-8915-d3d1fc35a8ed.png)

SignatureDefs:
![image](http

[2020-11-04 03:28] OmriShiv opened #44573 "Dataset.from_tensor_slices regression?"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-11-04 03:38] psycho2012 commented on #44200
@Thunder003 I didn't get any good results.

[2020-11-04 03:57] Thunder003 commented on #44200
@psycho2012 can you tell me the version of CUDA, CUDNN you used with TF 1.14 in RTX 3090?

[2020-11-04 04:15] Thunder003 opened #44574 "Could not find any cudnn.h matching version '8' in any subdirectory"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (

[2020-11-04 04:25] sairmreddy commented on #44550
steps:
-> sudo apt install python3-dev python3-pip
-> pip install -U --user pip numpy wheel
-> pip install -U --user keras_preprocessing --no-deps
-> git clone https://github.com/tensorflow/tensorflow.git
-> cd tensorflow
-> git checkout r2.2
-> ./configure

You have bazel 2.0.0 installed.
Please specify the location of python. [Default is /usr/bin/python]: /usr/bin/python3

Found possible Python

[2020-11-04 04:51] abattery commented on #43271
The fix has merged into master. Could you try again with the tomorrow's nightly version?

[2020-11-04 04:55] usename6 opened #44575 "tflite Converting unsupported operation: MatrixInverse"

[2020-11-04 04:56] abattery commented on #31577
FYI, we have fixed regarding broadcast to operation support up to 8 dim. Please try your conversion script with the tomorrow's nightly version.

[2020-11-04 05:32] AnthonyDawson commented on #14000
Hi.... how was this resolved?

I have just developed and trained a model on PC with GPU then brought over the work to lap-top with no GPU and found that the same code and model that works fine on the GPU machine will not work on the lap-top.

tensorflow==2.3.1
tensorflow-cpu==2.3.1
tensorflow-cpu-estimator==1.15.1
tensorflow-estimator==2.3.0

[code]

[2020-11-04 06:07] iteal commented on #40800
Did anyone succeed in compiling Tensorflow 2.2 with CUDA 10.0? The HPC cluster of my research institute has not yet updated the GPU drivers needed to support CUDA 10.1, and we are trying to use some software that needs TensorFlow 2.2!

[2020-11-04 06:32] HuaMuLanChina opened #44576 "is For Loop supported? or proper way of Iterating over a 1d tensor?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):pip install
- TensorFlow version (or github SHA if from source):2.3.1

[code]
error:
[code]

[2020-11-04 07:12] purpleyun commented on #42441
tf2.1.0: predict --> predict_on_batch

[2020-11-04 07:34] #44193 closed

[2020-11-04 08:05] Saduf2019 commented on #44576
I am able to replicate this issue please find the [gist here](https://colab.research.google.com/gist/Saduf2019/ee8ce88a1e0a9b2f2b902f6f0e3b5d78/untitled459.ipynb).

[2020-11-04 08:08] Saduf2019 commented on #44573
@ymodak
I am able to replicate the issue reported on tf 2.3 and nightly,please find the [gist here](https://colab.research.google.com/gist/Saduf2019/7f891dd203cffa4b613465fc055ec349/untitled458.ipynb#scrollTo=EV_xdzblRs5F).

[2020-11-04 08:16] Saduf2019 commented on #44543
@cookingbear
The code shared in #$4520 does not have the error reported, i ran the code and see aonly a warning, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/88d4f6ce278ff55dc0bb404a4eb7f331/untitled458.ipynb).
Can you please share a colab gist of the error reported,

[2020-11-04 08:18] svobora commented on #44332
Hi, thanks for the reply.

The use case is to be able to select which GPU device will be used on systems with more than 1 GPU. This should not interfere with the primary goal of TF Lite. From public API perspective, this could mean a new member variable in TfLiteGpuDelegateOptionsV2, like int32 gpu_id, with default gpu_id = 0 (this is how it works now).

Specifically, I am not discussing builds fo

[2020-11-04 08:23] yunchaogong commented on #44511
Updates?

[2020-11-04 08:27] Saduf2019 commented on #44538
@bhupendrathore
code shared is not indeneted, please provide a colab gist with the error reported.also can you verify if the error exist in nightly.

[2020-11-04 08:37] adriang133 commented on #44291
@Saduf2019 @apurvakalia can we reopen this ?

The resolution of copying over the `cusolver` from Cuda 10.x to a 11.x installation doesn't seem acceptable, and it looks like more people are running into this.

[2020-11-04 09:05] cschreib-ibex commented on #44328
That would be a programming error, or a breach of contract. Much like using a ``TF_Session*`` after it has been deleted by ``TF_DeleteSession()``. In both cases the user is in control of when these pointers are used, and when they are no longer valid (when deleted explicitly, or when unloading the DLL), so any misuse is solely the user's fault.

This safety risk didn't prevent you from exposing th

[2020-11-04 09:07] psycho2012 commented on #44192
Same error for me at the moment
Windows 10, Python 3.7
[code]

[2020-11-04 09:14] Luis-gd commented on #41990
I have the same error with a 3070 and with same tf

[2020-11-04 09:14] Light-Reflection commented on #37153
well..I had met the sam equestion, and i fixed it by changed the  input shape to match tf.nn.batch_normalization(input,mean,var,......)

[2020-11-04 09:25] kaunghtetsan275 commented on #39157
@SirTapir thank you so much for this.. i've been having headache for the past few days because of this issue.. i've re-tried using the repo you've mentioned and the conversion and inference now work beautifully

[2020-11-04 09:45] SirTapir commented on #39157
@kaunghtetsan275 Happy to help

[2020-11-04 10:19] yaooolei opened #44577 "custom ops coredump when tf update from 2.2.0 to 2.3.0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2020-11-04 10:30] amahendrakar commented on #44557
@Aksh-kumar,
On running the code, I am facing an error stating `NameError: name 'X' is not defined`.

In order to expedite the trouble-shooting process, could you please provide all the supporting files required to reproduce the issue reported here. Thanks!

[2020-11-04 10:35] cookingbear commented on #44543
I just found that if I delete the line below, the similar errors metioned above would show during the tflite model converting process. the other codes remained the same.

[code]

errors:

error: 'tf.FusedBatchNormV3' op is neither a custom op nor a flex op

<unknown>:0: error: failed while converting: 'main': Ops that can be supported by the flex runtime (enabled via setting the -emit-select-tf-op

[2020-11-04 10:37] cookingbear commented on #44543
I mean that if you delete that line mentioned above in the colab, the errors would show. If this problem can be solved, maybe the original problem can be solved too.

[2020-11-04 10:51] lienz commented on #44161
I observe the same with EfficientNetBX from `tf.keras.applications`. Still, I do not get an error when finetuning the model. Is the gradient computation failing silently?

[2020-11-04 11:04] SangbumChoi commented on #44548
I'm not sure it might help but converting into onnx and tensorflow succeed

[2020-11-04 11:19] botasb opened #44578 "tf.data.dataset.batch returns different shape depending on drop_remainder parameter"
Hi,
I notice that when drop_reminder is not set in tf.data.dataset.batch , the dataset returned as None shape, but if drop_reminder is set, the batch_size is set as the shape of the returned dataset:

**With drop_remainder=False:**

`train_ds = train_ds.batch(32)

print(train_ds)

_<BatchDataset shapes: ({age: (None,), sex: (None,), cp: (None,), trestbps: (None,), chol: (None,), fbs: (None,), rest

[2020-11-04 11:20] Abdullah-sta commented on #35911
I have some problem when I am trying to run the code.
model.fit([enc_inp, dec_inp],decoder_final_output,epochs=4)
TypeError: 'NoneType' object is not callable

can anyone help me to this problem?

[2020-11-04 11:23] sahal-mulki commented on #43915
I tried that but it still doesn't work. I installed tensorflow using pip after I deleted everything. It's possible that I didn't delete everything, but I am very sure I did.

[2020-11-04 11:39] errord commented on #44519
Bazel version is 0.26?

[2020-11-04 11:41] amahendrakar commented on #44561
@Rariusz,
I was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/a060a9cf582e283a38ba647000f2ee02/44561.ipynb).

However, the issue seems to be fixed with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/5e8c0f4835547183cb6629a2facde125/44561-tf-nightly.ipynb#scrollTo=cohE9r5hfI1C). On converting the model, the size of the `.

[2020-11-04 12:03] amahendrakar commented on #44565
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/c36fffc4912e041dd75b2d011bdb6c84/44565.ipynb). Thanks!

[2020-11-04 12:13] amahendrakar commented on #44568
@charlielito,
I do not have access to the Colab Notebook you have linked. Could you please provide the required permissions to view the files. Thanks!

[2020-11-04 12:30] peter197321 opened #44579 "Floating-point models"
Can tensorflow Lite for Microcontrollers run fp models or just quantized ones? if so, are there examples to run fp models?

[2020-11-04 13:19] kaublezw commented on #44503
That did it.  Thanks!

[2020-11-04 13:23] Aksh-kumar commented on #44557
I am sharing pickled data. Extract Data_Sub.zip, inside Data_Sub folder 'data_subset.pkl'  file is there. please load the data by
[code]
[Data_Sub.zip](https://github.com/tensorflow/tensorflow/files/5488015/Data_Sub.zip)

[2020-11-04 13:34] #44186 closed

[2020-11-04 13:40] vikramdattu commented on #44174
Change you line:
`static tflite::MicroMutableOpResolver micro_mutable_op_resolver;`

to

`static tflite::MicroMutableOpResolver<10> micro_mutable_op_resolver;`  and it should work fine.

10 is the number of OPS you need to register. Maybe it's different in your case.

[2020-11-04 13:45] vikramdattu commented on #44346
Hello again...

Did you solve your problem?
Update TensorFlow repo to newest and try the build.
It might be that simply picking up the fix doesn't work on some particular commit.

Also, can you please share new logs that you see?

[2020-11-04 13:49] amahendrakar commented on #44574
@Thunder003,
TensorFlow 1.x is not actively supported. Every TensorFlow release is compatible with a certain CUDA/cuDNN version. Please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu) for more information.

Also, please check similar issue [#42895](https://github.com/tensorflow/tensorflow/issues/42895#issuecomment-685874736) for reference. Thanks!

[2020-11-04 13:54] bhupendrathore commented on #44538
Hi @Saduf2019,

Tried to reproduce the same error but could not install tf-nightly same version (2.4.0-dev20201019),

gist can be found at this URL : https://gist.github.com/bhupendrathore/c7c737e53a3917a87c27b443d3620ee5

colab also can be found at this URL : https://colab.research.google.com/drive/1-c4OYKe42pMqouVJAFcznhIfv8GKOVSH?usp=sharing

[2020-11-04 14:03] amahendrakar commented on #44571
@breadbread1984,
On running the code I am facing an error stating `IndexError: list index out of range`, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/ed665bb8511ba816819998fbdc05c864/44571.ipynb).

Could you please provide the commands/arguments along with all the supporting files required to run the code?

[2020-11-04 14:06] Saduf2019 commented on #44570
@oracle3001
Please share the steps you ran before you encountered the error.
and please to follow [this guide](https://www.tensorflow.org/install/source_windows)

def minute_job():
t = time.localtime()
current_time = time.strftime("%H:%M:%S", t)
print("From minute job:", current_time)
minute_job()

[2020-11-04 14:11] amahendrakar commented on #44571
Alternatively, you can run the code on [Google Colab](https://colab.research.google.com/) and share the notebook with us.

Also, please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/13463#issuecomment-460947809) from a similar issue and let us know if it helps. Thanks!

[2020-11-04 14:11] junhyk opened #44582 "flex delegate cross-compilation failed for riscv because of boringssl"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: commit 218caef97666384211ea9171dc6029ec3ec7bdd6
- Python version: 3.8
- Installed using virtualenv? pip? conda?:
- Bazel versi

[2020-11-04 14:12] ZYG151541155 opened #44583 "Could not load dynamic library 'libcudart.so.11.0'"
Anybody can help me to solve this problem:
![image](https://user-images.githubusercontent.com/37329790/98122003-fcf49500-1eea-11eb-8809-c068104943a5.png)

Infos:

1. tf_nightly_gpu-2.4.0.dev20201023
2.     cuda version:  11.1
3.     cudnn version :  8.0.4

these question cause:  can't not use GPU to train my model, Thank's all of you!

[2020-11-04 14:12] Saduf2019 commented on #44538
@bhupendrathore
I ran the code shared there are too many errors, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/a42035b1419048093449eac1fc8381c9/untitled458.ipynb)

[2020-11-04 14:13] stephengmatthews opened #44585 "next() not raising StopIteration in tf.python.keras.preprocessing.image.DirectoryIterator"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: no
- OS Platform and Distribution: Linux Ubuntu 18.04.1
- Mobile device: n/a
- Ten

[2020-11-04 14:15] Ajay-Reva commented on #39495
I get the exception "Detector could not be initialized" when I try to use a .tflite file that I created from MobileNet SSD V2 from the Tensorflow Object Detection API (https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md)

[2020-11-04 14:23] oracle3001 commented on #44570
I was following the guide.

Pulled 2.4 branch from github.

Ran `python ./configure.py`, used all the defaults i.e.

[code]

Ran the following command to build
`bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package`

Also tried,
`bazel build --config=opt --define=no_tensorflow_py_deps=true //tensorflow/tools/pip_package:build_pip_package`

Received error shown above. FYI, 2.3 b

[2020-11-04 14:31] mkuchnik commented on #44578
`dropped remainder` forces the batch size to be constant. If it is not enabled, then the last minibatch will possibly be smaller than the batch size, thus the batch size is not a constant, and thus the shape cannot be determined statically (what you are seeing).

Imagine a dataset with 33 elements. If you batch with batch_size 32, then the minibatch sizes are 32 and 1. Drop remainder simply discar