[2020-09-25 10:46] amahendrakar commented on #43555
Was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/1a6760a344736f1c30dfb1265f6db4d7/43555.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/3328ac18feba642ee515c71e38f469f4/43555-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-09-25 10:47] bhack commented on #43535
@Saduf2019 The user is asking something different.

 /cc @jaingaurav @wangpengmit can you give a feedback here?

[2020-09-25 10:49] bhack commented on #43478
It is referencing an internal ticket. I've already mentioned @k-w-w

[2020-09-25 11:13] amahendrakar commented on #43559
@mikolajkania,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2020-09-25 11:21] spirinvladimir opened #43562 "issue numpy at Bazel build"
In continue #29845:

@mihaimaruseac New contributors have a problem with build with Bazel. What is a solution you refer once you locked not resolved issue?!
Is any valid build instruction?

[2020-09-25 11:24] amahendrakar commented on #40143
@haseeb33,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template along with a minimal reproducible code, so that we can track the issue there. Thanks!

[2020-09-25 11:35] ArsenicBismuth commented on #42467
Any general instruction to get the old PTX kernels back?

[2020-09-25 11:53] amahendrakar commented on #41174
@amaiya,
Looks like the issue is resolved with the latest TF-nightly. I was able to run the code without any issues, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/f777e386d587d44b74b71f7690365547/41174-tf-nightly.ipynb). Thanks!

[2020-09-25 11:55] spirinvladimir commented on #43562
I did investigation. There are a lot off open/close issues at numpy repo about error message we are getting during build with Bazel. Such closed issues was closed without code change. So problem exist. Best solution describe build process with Bazel at CI/CD here.

[2020-09-25 12:14] bhack commented on #43561
I don't see your model definition but please double check our compatibility checklist:
https://www.tensorflow.org/guide/versions#compatibility_of_savedmodels_graphs_and_checkpoints

[2020-09-25 12:17] lissyx opened #43564 "Missing 1.15.4 release on Docker Hub"
I'm sorry if this is not the proper place to file that kind of issue, but I could not find a better place to report that issue. If such a place exist, please advise me of the details, I'll happily forward my request.

So, 1.15.4 has been released yesterday, containing a fix for CuDNN usage. While working on upgrading our codebase to refer that new version, I stumbled upon the fact that the TensorF

[2020-09-25 12:17] bhack commented on #43560
Can you try to print the inputs in python and java?

[2020-09-25 12:21] bhack commented on #43564
/cc @mihaimaruseac

[2020-09-25 12:41] freedomtan commented on #43541
@yizhaoyanbo no idea, I guess qti-default a virtual driver which dispatches models to qti-gpu, qti-dsp, or qti-hat.

[2020-09-25 12:50] stalex91 commented on #43104
Do all ops in the model are in list of supported for quantization?

[2020-09-25 13:06] AndrewNoah commented on #34983
Thank you. It's works well!

[2020-09-25 13:09] jeisinge commented on #41244
This is also be triggered by `keras.layers.experimental.preprocessing.IntegerLookup` which has a `weight` attribute without a name.  After fixing that, we run into the issue here.

See https://colab.research.google.com/drive/11mr0nI9-IH7TTALg9ECHumSTSGB_cxbJ?usp=sharing .

This has been tested on Colab TF 2.3, TF Nightly, and Databricks Runtime 7.3 / TF 2.3.

[2020-09-25 13:13] pandrey-fr commented on #37044
Hi,
While we lack context (and responses), I do not think that this is actually solved. If I understand well, the question is to know whether there is a mechanism to selectively set some of the weights within a layer trainable, while the other weights would not change. In other words, the question is to know whether there is a straightforward way to have a more granular approach of the `layer.trai

[2020-09-25 13:15] amahendrakar commented on #43562
@spirinvladimir,
In order to expedite the trouble-shooting process, could you please provide the below details

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
-

[2020-09-25 13:21] Ananas120 commented on #42412
@amahendrakar  i corrected my github and today i had the same issue with a simple CNN model ended by a LSTM layer (in tf 2.3.1) so i suppose the LSTM layer has an issue in version > 2.1...

[2020-09-25 13:27] #43539 closed

[2020-09-25 13:31] mansnils opened #43565 "Detection postprocess operator missing"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source): 9aff666a8db689168e2d3aaef17b8a252791ada7
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**
Detection postprocess operator is missing from TFLu. It is needed for e.g.

[2020-09-25 13:41] meSajied opened #43567 "Test code for tensorflow source code"
Sometimes, it is hard to debug the code without testing, or it is needed to write test for code.
In this case, if we create tests manually, then it will be needed to delete the test code directory or create a new branch without tests to send pull request.
Is it possible to take into account?

[2020-09-25 13:42] edumotya commented on #38220
Any updates on this @abattery?

[2020-09-25 13:51] HollowMan6 commented on #43561
Thanks for your suggestion. It's a Keras Model, and I don't believe the compatibility checklist includes my issue. The model definition is [here](https://github.com/vogon101/skincancer/blob/master/src/sandbox/ml_lib/combined_model_v2.py), and here's [the code for training](https://github.com/vogon101/skincancer/blob/master/src/sandbox/v6_combined_model_v2.py).

[2020-09-25 13:54] Vicky2603 commented on #26266
Thanks @hongyonggan , after upgrading conda it works fine.

[2020-09-25 14:19] yizhaoyanbo commented on #43541
@freedomtan
I have tried all quantization methods, including dynamic range, Integer with float fallback, Integer only and Float16 quantization. All the layers of my model is supported by NNAPI. But the performance are very strange (only the run() API time), as following:
[code]
nnapi means use nnapi delegate.  gpu means using gpu delegate.
1. Why **Integer** model using nnapi is slower than **dyna

[2020-09-25 14:20] sehoffmann opened #43568 "TensorBoard callback doesn't update step properly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution: 18.04.1-Ubuntu
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.3.0-rc2-23-gb36436b087 2.3.0
- Python version: 3.6.9
- CUDA/cuDNN version: libcudart.so.10.1
- GPU model and memory: GeForce RTX

[2020-09-25 14:24] bhack commented on #43561
I think you can try to update your code:
https://www.tensorflow.org/guide/upgrade

Also in the model definition you was using `from keras import` but keras in Tensorflow is now `from tensorflow.keras import`

[2020-09-25 14:44] sehoffmann commented on #43568
I wrote a quick hotfix which works for me:

[code]

[2020-09-25 14:50] RolfSchlup commented on #42972
I just updated the entire tensorflow library and rebuild it from source
Running
bazel run tensorflow/lite/tools:visualize /path/to/my-model.tflite /tmp/my-model.tflite.html
I still get
[code]

[2020-09-25 14:52] HollowMan6 commented on #43561
Thank you for your quick reply. I know the code needs to upgrade since it was the code for TF1, but what I'm asking is that can I just reuse in TF2 the model [model_6_combined_2_DA.h5](https://github.com/vogon101/skincancer/blob/master/models/model_6_combined_2_DA.h5) trained in TF1? When I was trying to load the model in TF2.3.1 with the following code:
[code]
An error was thrown:

[code]

Other

[2020-09-25 14:56] bhack commented on #43555
@amahendrakar I think is a dup of https://github.com/tensorflow/tensorflow/issues/38561

[2020-09-25 14:59] freedomtan commented on #43541
for performance measurement of TFLite models:
1. Try [`benchmark_model`](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark). If you didn't read the TFLite [performance measurement guide](https://www.tensorflow.org/lite/performance/measurement) yet, read it.
2. ops supported by NNAPI != supported by all NNAPI drivers. Remember `ModelBuilder::findBestDeviceForEachO

[2020-09-25 15:02] bhack commented on #43555
@janpfeifer #38561 is solved in nightly but in you specific example it is an expected behavoiur.
See: https://github.com/tensorflow/tensorflow/issues/42441#issuecomment-675654182

[2020-09-25 15:08] pc2005 commented on #34983
Issue still exists in latest 2.3.1.

Turning on function eagerly execution is not a solution.

[2020-09-25 15:16] spirinvladimir commented on #43562
@amahendrakar I do not have an issue. There is a problem at numpy and tensorflow by luck of using numpy.
Please use all details from not resolved issue #29845. I create this one cause not resolution was provided to locked issue  #29845.

[2020-09-25 15:18] spirinvladimir commented on #43562
I as part of open-source community glad to know exactly resolution:

[2020-09-25 15:21] bhack commented on #43561
You can try to use Keras instead of `tf.keras` for model loading:
`from keras.models import load_model` but with a TF version that is compatible with Keras 2.3.1

[2020-09-25 15:26] le8888e commented on #43270
@Saduf2019 ,
This issue can be closed, thank you.

[2020-09-25 15:29] bhack commented on #43568
/cc @omalleyt12 Do you see any side effect for a PR like this?

[2020-09-25 15:46] le8888e opened #43569 "RuntimeError: Attempting to use a delegate that only supports static-sized tensors with a graph that has dynamic-sized tensors.Failed to apply the default TensorFlow Lite delegate indexed at 0."
Hi,

I tried to use build XNNPack with respect of accelerating tflite inference on CPU. I built tensorflow2.4 from source code with flag "--define tflite_with_xnnpack=true".When I run inference with my .tflite model with BiLSTM layer, ther is an error:
RuntimeError: Attempting to use a delegate that only supports static-sized tensors with a graph that has dynamic-sized tensors.Failed to apply the

[2020-09-25 15:47] av8ramit commented on #42979
Unfortunately, there is no simpler way that I know of at this time until we start `libtensorflow_cc` distributed builds.

[2020-09-25 15:55] HollowMan6 commented on #43561
Well, I have tried to use `keras` instead of `tf.keras` with TF 2.3.1 and Keras 2.3.1, first I encountered an error that can be solved in this way: https://github.com/tensorflow/tensorflow/issues/38589#issuecomment-665930503 . Then another error occurs:

[code]

The gist is here: https://colab.research.google.com/drive/1OovMHVrMBsIwcwn2PUcgbEXHUfPLMdyM?usp=sharing

Any suggestions?

[2020-09-25 16:09] jdduke commented on #43551
Can you attach the logcat that includes the crash? https://developer.android.com/studio/debug/am-logcat#running. Tentatively to @lintian06 to try to repro.

[2020-09-25 16:16] HollowMan6 commented on #43561
I am able to fix this issue when replace [the code](https://github.com/tensorflow/tensorflow/blob/5d5534edf7d0b73cb23f7069135d674e1d27250b/tensorflow/python/keras/engine/functional.py#L1078-L1085) into following:
[code]

Can you suggest if there's some side effects, if no, I will make a pull request?

[2020-09-25 16:19] fabiogeraci commented on #41830
Hello, i am trying to run tensorflow, with the following setup:
macbook mid 2009
Ubuntu 20.04
Pycharm latest version
python 3.7.9, installed with pycharm

now if i use tensorflow 2.3.1 i get an error 132
if i run tensorflow 1.5 ModuleNotFoundError: No module named 'tensorflow.python.platform' but it is install on the virtual environment.

is there a fix or a work around?

[2020-09-25 16:19] mihaimaruseac commented on #43493
Fixed in 74027b89402720e598d5512dddf3ea7737df7ffe

[2020-09-25 16:19] #43493 closed

[2020-09-25 16:28] bhack commented on #43561
As it is not a bug I suggest you to close this and post you example in https://stackoverflow.com/questions/tagged/tensorflow

[2020-09-25 16:30] #43561 closed

[2020-09-25 16:31] mihaimaruseac commented on #43562
Hi, @spirinvladimir

First, issue you link to has been resolved: https://github.com/tensorflow/tensorflow/issues/29845#issuecomment-612574610

Next comment on the issue is an unrelated problem (building a protobuf file vs building TF): https://github.com/tensorflow/tensorflow/issues/29845#issuecomment-613265619 That's why in my comment, which you quoted, I say the issue has been resolved; https://

[2020-09-25 16:37] sanjoy commented on #42467
Yup, tf-nightly should work on cards with CC 5.0 (and so would TF 2.4).

[2020-09-25 16:38] mihaimaruseac commented on #43500
i don't understand the ask in the issue? What should we do?

[2020-09-25 16:42] mihaimaruseac commented on #39712
@GuoYL36 can you try reproducer with `tf-nightly`?

[2020-09-25 16:50] mihaimaruseac commented on #43330
The API surface of TF is huge and documentation is still lacking. Since OSS users using the APIs know better what are relevant usage patterns and can point to the most important APIs, we rely on community to provide documentation.

We have internal documentation fix-its to also documenting popular APIs and bring all documentation to a similar standard. But it's a matter of numbers: a few people at

[2020-09-25 16:53] mihaimaruseac commented on #43567
`git add` (with the `-p` flag too) allows you to control which files/patches to add to a commit. You can push only a few commits to a branch for pull requests.

In general, we recommend each PR to also contain tests. There are multiple benefits to having tests in the same PR: we can see that the test fails without the fix and passes with it, we can see usage pattern, we can prevent future regressi

[2020-09-25 16:57] mihaimaruseac commented on #43519
There's an uncountable number of possible use scenarios. There's a finite number of developers. We cannot simply document everything.

In general, if you use the Python API and the pip package works for you, you install that. Otherwise, you build from source.

If you need C++ or other language bindings, you build from source again and then use the provided libraries (shared objects)

[2020-09-25 17:07] nikitamaia commented on #42845
Removing autograph label as the error message persists even when `autograph=False`

[2020-09-25 17:10] Jesssullivan commented on #41948
+1, reproducible from [lite examples too](https://github.com/tensorflow/examples/tree/master/lite/examples)

[2020-09-25 17:15] Saduf2019 commented on #43270
Moving the issue to closed status with confirmation

[2020-09-25 17:15] #43270 closed

[2020-09-25 17:31] Harsh188 commented on #43455
@zjzh Sorry for my delayed response.

Don't worry too much about the details of a commit message. I just checked `bincount`, it still raises an error if you input an array which contains negative elements.

The message does not try to indicate that arrays with negative values will be supported. I think this issue can be closed.

[2020-09-25 17:38] Harsh188 commented on #43294
Hey! I'd like to contribute to this. I'm gonna get started on creating a README.md for [`tools/evaluation/tasks/`](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/evaluation/tasks). I'm a little busy at the moment but I'll make sure to have an active PR open by this weekend.

[2020-09-25 17:42] sehoffmann commented on #43568
If you are modifying the code you might want to consider updating the documentation as well. It's currently undocumented that the `TensorBoard` callback sets the default writer. I stumbled upon this issue initially after I tried to hijack the writer from the TensorBoard callback, realizing that the class already does what I wanted.

[2020-09-25 18:07] Aksh-kumar commented on #42979
thanks for responding back to me, can you please tell me when we will expect c++ API .. any rough estimation?

[2020-09-25 18:11] neel04 commented on #43276
Tried by feeding numpy arrays directly in the model, but am getting this error:-
[code]
Anyone know how to fix this?

[2020-09-25 18:14] jvishnuvardhan commented on #43560
@Luminosite I have couple of questions.
1) Is there any model conversion involved here?
2) I checked the above results. 2nd and third columns are exactly same. Only change is in first column of results and the change is in 6th or 7 decimal. Do you want 6th decimal accuracy for your use-case? Is there any rounding error involved?
3) is there any difference in the predictions? Thanks!

I guess the d

[2020-09-25 18:21] lamberta commented on #43455
Thanks. If the docs are accurate then we can close this.

[2020-09-25 18:21] #43455 closed

[2020-09-25 18:22] xintin commented on #43551
[Logcat_Failed_To_Run_Inferenec_On_GPU.txt](https://github.com/tensorflow/tensorflow/files/5284623/Logcat_Failed_To_Run_Inferenec_On_GPU.txt)

Kindly let me know if you want me to manually log any information.

Thanks.

[2020-09-25 18:31] jdduke commented on #43551
[code]

Just be clear, in your hardware details you state:
[code]

What do you mean by x86 here? Are you running your app in the emulator or on the (ARM) Pixel 3a?

[2020-09-25 18:32] rgov commented on #42906
This is from a Beaglebone Blue. I think it is the same CPU as the Beaglebone Black. Note that `vfpv4` is not supported by the processor.

[code]

[2020-09-25 18:34] xintin commented on #43551
I am using Emulator.
x86 is the ABI (System Image), API Level 29.

[2020-09-25 18:39] jdduke commented on #43551
Generally speaking, the GPU delegate does not work on emulators, and requires GLES 3.1+. We can try to make the error message a bit more specific on this.

[2020-09-25 18:43] xintin commented on #43551
Oh, I see. Thanks, that'd be helpful.

Can you redirect me to any end-to-end official tutorial for TFLite with OpenGL ES?

[2020-09-25 18:58] jvishnuvardhan commented on #43247
Code is throwing an error even with `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/f12236e7a74e6d0aa336790c771a5929/untitled419.ipynb) is a gist for our reference. Thanks!

[2020-09-25 19:25] mihaimaruseac commented on #43564
It seems we were missing this from the release process. 1.15.3 docker images have just been updated (we were testing if things work) and 1.15.4 and the other tags for the recent patch releases are currently building.

[2020-09-25 19:43] lu-wang-g commented on #43071
I'll need to dig into the issue and see what happened exactly. Your model's input and output look very similar as our [style transfer models](https://www.tensorflow.org/lite/models/style_transfer/overview#performance_benchmarks). Could you please verify if the issue exist with our style transfer models? And then I can use that model to reproduce the issue.

[2020-09-25 19:50] mikolajkania commented on #43559
@amahendrakar I updated *how to reproduce* part - you can run it easily now as script/

[2020-09-25 20:09] jvishnuvardhan commented on #43469
@ajyeager Looks like this is related to your `Power9` machines. I tried [colab](https://colab.research.google.com/gist/jvishnuvardhan/78015a8265a1fcafd4796e9f1ead5df6/untitled.ipynb), windows, and Mac and I could not reproduce the issue.

This is clearly not a bug or performance related issue related to TF. Thanks!

[2020-09-25 20:50] #40310 closed

[2020-09-25 20:50] #42545 closed

[2020-09-25 20:50] #43138 closed

[2020-09-25 20:50] #43092 closed

[2020-09-25 20:50] #42956 closed

[2020-09-25 20:50] #42882 closed

[2020-09-25 20:50] #43061 closed

[2020-09-25 20:50] #42430 closed

[2020-09-25 20:50] #42862 closed

[2020-09-25 20:50] #42921 closed

[2020-09-25 20:50] #38745 closed

[2020-09-25 20:54] jvishnuvardhan commented on #38346
Closing this issue as it was resolved in recent `tf-nightly`. Please feel free to reopen if I am mistaken. Thanks!

[2020-09-25 20:54] #38346 closed

[2020-09-25 20:56] MeghnaNatraj commented on #42082
@dtlam26  As you are not using QAT and instead using post-training quantization, you need to provide a  `representative_dataset` in order to quantize the model.

Modify the steps in your code as:

[code]

Refer to [post-training quantization](https://www.tensorflow.org/lite/performance/post_training_quantization) for more information.

[2020-09-25 21:02] nikitamaia commented on #43555
@bhack @janpfeifer After a closer look this warning is confusing and should probably be removed. Until then, if you want to manage the tf.function yourself you can use `predict_step()` as suggested in #42441, which will not result in the warning.

[2020-09-25 21:06] bhack commented on #43469
@ajyeager I've tried your example with Docker/Qemu but It Is not working well with the official IBM image https://hub.docker.com/r/ibmcom/tensorflow-ppc64le

[2020-09-25 21:16] paultanger commented on #40203
Hi, I am interested in this and wondering if there is a way I could contribute to this?  It seems like a simple solution could be add an optional parameter to the image_dataset_from_directory function for those users that want the image paths, such as:

[code]

Then at the end of the function, just:

[code]
This shouldn't break anything else.  Alternatively, I like the dataset attribute approach a

[2020-09-25 21:28] advaitjain commented on #41900
This is a case of our making changes that are not backwards compatible coupled with the fact that Tensorflow Lite Micro doesn't currently conform to the release cadence of the broader Tensorflow project.

My recommendation here is to use TFLM from source. Since we no longer support using TFLM without TF_LITE_STATIC_MEMORY (and have thus made it the default in our Makefile).

I'm going to close the

[2020-09-25 21:28] #41900 closed

[2020-09-25 21:29] jperezpbos commented on #43500
@mihaimaruseac thanks for getting back to me.   The ask is to have an official Tensorflow build for s390x architecture. Today is only a community build.
If there's a process to upgrade a build from "community build" to "official build" I'm requesting to go through that process.

[2020-09-25 21:44] hpssjellis commented on #43450
I am able to compile for esp32 the library as long as I delete both person_detection examples. They are causing an error in the build with a camera include file that is missing. This is what is working for me so far:

From the main tensorflow folder

[code]

It builds and generates the zip files for each example and the main library. Unfortunately it does not seem to include relevant esp files. So

[2020-09-25 22:48] hanzigs opened #43575 "tensorflow.keras.wrappers.scikit_learn KerasClassifier using 1% of GPU"
Hi,
Having tf 2.3.0 and keras 2.4.3
GridSearchCV not using full GPU
[code]
i have set
[code]
![image](https://user-images.githubusercontent.com/30790120/94322155-0712a200-ffd5-11ea-83bf-c057628c71cf.png)

Is this correct?

[2020-09-25 23:23] mesquita opened #43576 "Problem loading model trained with EfficientNetB0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (sourc

[2020-09-26 00:27] #42679 closed

[2020-09-26 00:55] mesquita commented on #43576
I switched from activation="swish" (default) to activation="relu" and the problem was gone. Now I don't know why this happens while using swish.

[2020-09-26 01:01] jvishnuvardhan commented on #43496
@tanguycdls Agree with you that save_format=`tf` is slower than `h5` format. However, there are some key differences between these two formats. You can check [save_and_load_model]() for more details.

One of the key difference is listed in the above resource as

As far as my personal experience, `tf` format has better functionality over `h5` format. Thanks!

[2020-09-26 01:27] ianlokh opened #43578 "Compiled TF2.3 with MKL on OSX does not progress beyond first epoch"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX 10.15.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.3.0
- P

[2020-09-26 01:32] ianlokh commented on #43578
I decide to log under bugs because I was able to build from source TF 2.3.0 successfully, install and run the "Hello World" example. I experienced this issue only with the attached code.

[2020-09-26 03:47] zjzh commented on #43455
@Harsh188, Thanks for your explanation. It makes understand that developers could make it support more data types but does not mean that it support negative elements.

However, I am a little confused about whether there is the  inconsistency between commits and documentation. Specifically, you know, the documentation of ["tf.Variable.__mod__"](https://www.tensorflow.org/versions/r2.2/api_docs/pyth

[2020-09-26 05:16] Strange1-7 opened #43579 "ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed."
Getting this Error, please help me to resolve this issue.
(tensor) C:\Users\Bkmaurya>python
Python 3.6.12 |Anaconda, Inc.| (default, Sep  9 2020, 00:29:25) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\Bkmaurya\anaconda3\envs\tensor\lib\site-packages\tensorflow\python\pywrap_tensorflo

[2020-09-26 05:39] Suzan009 opened #43580 "Training loop from scratch for multi-out model - how to calculate loss and update it."
I have a ML models which have 3 output. Each of them have passed into a Soft-Max player. I'm trying to train the model from scratch with training loop in tf.keras. My generator output are something like this:

[code]

As you notice, each of the 3 output has different numbers of labels. First output layer has 2 labels output, second one has 8 and last one has 10. The problem is not about the data g

[2020-09-26 05:41] tsc2017 opened #43581 "tf-nightly fails to initialize TPUs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below)

[2020-09-26 05:45] Suzan009 commented on #43580
The `logits = model(x, training=True)` has 3 output. So to calculate the loss function separately (I think) we need to unpack it. `loss_one, loss_two, loss_thr = model(x)`. And next, maybe like this:

[code]
I'm feeling I'm definitively missing something.

[2020-09-26 06:46] ThatGuyDV opened #43582 "getting an error as 'tuple' object has no attribute 'apply_gradients'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): kaggle environment
- TensorFlow version (use command below): 2.3.0
- Python version: 3.6+

I'm a beginner in the field of deep learning and getting hands on working with bert implementation for the classification pro

[2020-09-26 07:58] meSajied commented on #43567
@mihaimaruseac
Thank you, actually I know that. But I found some library has code for testing. Tht  is why I asked.

[2020-09-26 08:04] hxhexi opened #43583 "Tensorflow lite(ssd_mobilenet_v2_fpnlite_640*640) Android APP detect nothing"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-09-26 08:08] neel04 commented on #35603
@yunxing I am having the same issue with the latest TF `2.3` version. Can you suggest any fixes for it? I tried using nightly version but they result in even more bizarre errors

[2020-09-26 08:11] windowsair commented on #20271
Yes, you need to inform the system to change these *.so files

[2020-09-26 08:25] Suzan009 commented on #43580
@ravikyram is it possible in custom training in tf.keras?

[2020-09-26 08:29] liupeng678 commented on #24847
We have the same name.

[2020-09-26 08:31] GauravRajwada commented on #35264
no it doesnt rezolve

[2020-09-26 08:32] GauravRajwada commented on #43546
No it doent solve problem.
It gives this error:
[code]

[2020-09-26 09:09] tsc2017 commented on #43581
A temporary fix I found is to change the software version of the TPU back to `2.4.0.dev20200924` before initializaiton:
[code]

[2020-09-26 09:20] bheijden commented on #30712
What is the status on this issue? And the label TF 1.14 has been replaced with TF 2.0, does that mean the issue will not be resolved for TF1.14?

Is it generally the case that, if model.trainable_weights() returns a list with duplicates, the gradient is calculated twice w.r.t. the duplicates?

Or are there checks under-the-hood that Keras performs, in order to remove them? Namely, in my autoencode

[2020-09-26 09:29] viliket commented on #37942
I share my experience with the same problem:

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Enterprise, Build 2004
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
TensorFlow installed from (source or binary): Pypi
TensorFlow version (use command below): v2.3.0-rc2-23-gb36436b087 2.3.0
Python version: 3.7.6
Bazel version (if com

[2020-09-26 09:35] viliket commented on #41444
I have the same problem and only the (batch_size + memory growth) workaround or downgrading to unsupported 431.86 driver version seem to help. See my full comment on another related issue https://github.com/tensorflow/tensorflow/issues/37942#issuecomment-699468891

[2020-09-26 10:04] JosepLeder opened #43584 "tf.summary.create_file_writer does not write any event file and tensorboard show nothing"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution : Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- Ten

[2020-09-26 10:17] GuoYL36 commented on #39712
No, I did not try. Now I can run code normally without doing anything, and I just want to say it is amazing.<^_^>

[2020-09-26 10:55] AkashB23 commented on #7770
**tf.reset_default_graph()**    this alone will solve the problem

[2020-09-26 11:24] rishikant2000 commented on #33279
(venv) C:\Users\Rishi.MSS2015\Desktop\FlaskApp>flask run
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
Usage: flask run [OPTIONS]

Error: While importing "app", an ImportError was raised:

Traceback (most recent call last):
  File "c:\users\rishi.mss2015\desktop\flaskapp\ven

[2020-09-26 12:20] quartermaine opened #43585 "Slow training with tfRecords and tf.functions"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): conda
- TensorFlow version (use command below): 2.2
- Python version: 3.7
- Bazel version (if compiling from source): unknown
- GCC/Compiler version (if co

[2020-09-26 12:31] bhack commented on #43584
Can you minimize the code/imports?
It will make easy for us to copy, paste and run your code example to reproduce your issue.

[2020-09-26 14:13] bhack commented on #43582
https://stackoverflow.com/questions/64074872/tensorflow-2-attributeerror-tuple-object-has-no-attribute-apply-gradients

[2020-09-26 14:22] bhack commented on #43582
The notebook link It is not working.

[2020-09-26 15:23] meSajied commented on #43567
@mihaimaruseac
Thank you...

[2020-09-26 15:36] JosepLeder commented on #43584
I updated my code to remove all the unnecessary codes and imports as above. It still records nothing. The folder "/tmp/none_0" is not created. And there are no event files. If you would like to run my code and help me find the problem, that would be really helpful. Thanks.

[2020-09-26 15:45] #43567 closed

[2020-09-26 15:52] Kaede93 commented on #30717
@pooyadavoodi

Hi, I have same problem with TF-TRT. Is that means that using TF-TRT based on TensorRT 4 or 5 will get model with twice of size, and slower speed of inference? Is that using higher version of TensorRT is the only option for this situation?

I tried TF-TRT base on TF1.12+TRT4 and TF1.15+TRT5, they got same results (larger .pb model and slower speed).

I also tried TensorRT4 only (usi

[2020-09-26 16:32] jvishnuvardhan commented on #43436
@1duo Agree with you. We have updated the code and I cannot reproduce with `tf-nightly`. Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/45bfd6d184703023f6b54013317954e3/43436-tf-nightly.ipynb).

Thanks for creating this issue. I am closing this issue as this was resolved. Please feel free to reopen if the issue persists again. Thanks!

[2020-09-26 16:32] #43436 closed

[2020-09-26 17:43] sephiroce opened #43588 "Failed to build on Cuda-11.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- Mobile device (e.g. iP

[2020-09-26 17:45] jvishnuvardhan commented on #33407
@shashankg7 I think this is a stale issue. Please note that there are no upgrades to TF1.x unless there is any security related issue. So, please use TF2.x. I have used `TF2.3` and I was able to run the code without any issue. Also, note that I did  update your code in order to run it in TF2.3. Thanks!

Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/3f8

[2020-09-26 17:50] ToBigboss opened #43589 "some questions for coreml_executor.mm"
I have a few questions for tensorflow/lite/experimental/delegates/coreml/coreml_executor.mm:
1.  line 143: id<MLFeatureProvider> outputFeature = [_model predictionFromFeatures:inputFeature options:options error:&error];
How does Coreml recognize custom constructs TensorData?

2.line 80: if ([featureName cStringUsingEncoding:NSUTF8StringEncoding] == input.name) {}
featureName  is output name of net

[2020-09-26 17:56] #43492 closed

[2020-09-26 18:18] jvishnuvardhan commented on #27519
@Mainak431 The original code was working as expected. [Here](https://colab.research.google.com/gist/jvishnuvardhan/9085fdddb86208357ba785c426c1633d/untitled45.ipynb) is the gist.

@tu1258 You don't need to disable eager execution. Just import it as `tf.compat.v1.placeholder` instead of `tf.placeholder`. If it still doesn't work, then please share a standalone code to reproduce the issue.

Please l

[2020-09-26 18:18] ymodak commented on #43515
The above example resides in AdaFruit library therefore future edits should be made in that repo.

[2020-09-26 18:20] #43515 closed

[2020-09-26 18:49] ymodak commented on #40648
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-09-26 18:49] #40648 closed

[2020-09-26 18:59] jvishnuvardhan commented on #26390
@azhar2ds Please create a new issue with the details of your system (fill the template). Thanks!

[2020-09-26 19:00] ymodak commented on #41765
The error is a timeout issue during downloading the packages. Please check your network connection.

[2020-09-26 19:03] kuan0808 opened #43591 "RaggedTensor raises error with Keras model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2020-09-26 19:18] jvishnuvardhan commented on #42119
@klaimans Sorry for the late response. Can you please add @tf.function as shown below.

[code]

With the above modification, everything worked as expected. Please take a look at the gist [here](https://colab.research.google.com/gist/jvishnuvardhan/ee83104a1f5d8263f10f96570df3a99d/untitled283.ipynb). Thanks!

Also, I guess you need to replace `t` with `self.t` as I updated above. Thanks!

Please ve

[2020-09-26 19:19] dtlam26 commented on #42082
Yes, I know this for post quantize, but my model is QAT, and it can't inference to int8 on tf2.x. For tf1 it is ok

[2020-09-26 19:22] Mattrix00 commented on #42082
@dtlam26

Please can you tell me how you are able to perform QAT in tf1 ??

[2020-09-26 19:27] dtlam26 commented on #42082
You can check out this medium and try to create a training graph and eval graph to QAT 1.x
https://medium.com/analytics-vidhya/mobile-inference-b943dc99e29b
This GitHub is also a good example https://github.com/lusinlu/tensorflow_lite_guide

[2020-09-26 19:45] dtlam26 commented on #42082
I have attached the source for example. However, create eval graph will forget the last layer of your model from the graph. You have to add to the graph a dummy part. Example, tf.maximum(output,1e-27) for regression problems

[2020-09-26 20:01] ymodak commented on #39969
This is fixed with latest tf-nightly.
See [gist](https://colab.research.google.com/gist/ymodak/d123012b1d690f653a078458f4174238/untitled9.ipynb)
Output:
[code]

[2020-09-26 21:30] edwardyehuang opened #43593 "Possible GPU memory leak at tf.vectorized_map"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):ubuntu 18.04
- TensorFlow installed from (source or binary):pip
- TensorFlow version (use command below): 2.4.0-dev20200821
- Python version:3.7
- GPU model and memory:v100 / titan rtx

When using tf.vectorized_map, GP

[2020-09-26 21:48] poedator commented on #41328
Please, re-open the issue. I suggest it to be handled differently:
[code]
The code above (like the TS code) triggers error `RuntimeError: Data adapters should be mutually exclusive for handling inputs`, however this is a good kind of problem to have. There are 2 adapters that claim ability to  handle such iterator: `CompositeTensorDataAdapter` and `GeneratorDataAdapter`.
If there is more than sing

[2020-09-26 22:38] jvishnuvardhan commented on #38754
@sumanthratna Looks like this was resolved. I checked in `TF2.3` and `tf-nightly`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/5ed9cf685953a339a32f0b465f5ec0f8/untitled.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-09-26 23:42] sumanthratna commented on #38754
Hi @jvishnuvardhan! It looks my reproducibility didn't indicate the difference between JIT and eager.

[code]

results in:
[code]
note how no errors occur with eager, but ValueError occurs with JIT. IMO the behavior should be the same for both eager and JIT.

[2020-09-27 03:09] ThatGuyDV commented on #43582
Hi , I have updated the link. It should be working now.

[2020-09-27 05:08] woreom commented on #42916
@Saduf2019 Okay it seems I have forgotten to save the notebook, is this [link](https://colab.research.google.com/drive/1W7ZV-DZ5xP0TthFapP9uX8lYrWJmXyaq?usp=sharing) okay?

[2020-09-27 06:25] jaentrouble commented on #43588
My graphics card: 3080
Cuda 11.1, ubuntu 20.04, cudnn 8.0.3 (the very recent one), python 3.8

I installed cuda 11.1 using the .deb file (to create all the symlinks automatically)
I think the problem is that CUDA11.1 installs symlink libcudart 11.0 but it does not create symlink for libcudart11.1.
However, tensorflow tries to find libcudart 11.1, because cuda version is 11.1
I tried to make a syml

[2020-09-27 06:45] amahendrakar commented on #41830
@fabiogeraci,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-09-27 06:55] sunzhe09 opened #43595 "post quant keras model with UpSample2D ，after post-quantized get a false output shape"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):pip
- TensorFlow version (or github SHA if from source):2.3.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invocation**

[code]

**Al

[2020-09-27 07:10] le8888e opened #43596 "RuntimeError: Fill only currently supports int32, int64, float32, bool, string for input 1, got 9.Node number 412 (FILL) failed to invoke."
Hi,
I tried to run tflite model with INT8 post training. There is  no error converting .pb to .tflite. But error occurs when run inference on INT8 tflite model. BTW, there is no error when run inference on FP32 tflite model.

**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from : bianry
- TensorFlow version : tf-nightly 2.4.0-dev20200917

**Provide

[2020-09-27 07:15] aligoglos opened #43597 "How add two pre defined keras models in keras tensorflow"
I've wanted to define network that has two input and use EfficientNetB1 to extract features and fine-tune on new layers so I've tried below code:

    def createNet(self,shape):
        FE1 = K.applications.EfficientNetB1(include_top=False, input_shape=shape)
        FE2 = K.applications.EfficientNetB1(include_top=False, input_shape=shape)
        inp1 = FE1.input
        out1 = FE1.layers[-1].out

[2020-09-27 07:36] reachpranjal commented on #43579
Trying uninstalling and re-installing TensorFlow 1.15. Make sure that you use conda install instead of pip.

[2020-09-27 08:09] fabiogeraci opened #43599 "tensorflow returns error 132 on macbook pro 2009"
Hello, i am trying to run tensorflow, with the following setup:
macbook mid 2009
Ubuntu 20.04
Pycharm latest version
python 3.7.9, installed with pycharm

now if i use tensorflow 2.3.1 i get an error 132
as suggested in others posts i down grade to tensorflow 1.5 but i get a different error; ModuleNotFoundError: No module named 'tensorflow.python.platform' but it is install on the virtual environm

[2020-09-27 08:20] lovehuanhuan opened #43600 "Some times ,interpreter_->Invoke() doesn't return"
**System information**
RK3399
Linux localhost 4.4.126 #1070 SMP PREEMPT Fri Sep 18 16:41:27 HKT 2020 aarch64

In mediapipe project, this function interpreter_->Invoke()  was called but don't return,so the program got stucked.

[2020-09-27 08:42] vishsangale commented on #43593
Looking at the code and documentation, looks like `vectorized_map` stacking the output for each iteration, which is causing increase in GPU memory after each iteration. The [documentation](https://www.tensorflow.org/api_docs/python/tf/vectorized_map) also says that  the function is `optimized to run much faster, possibly with a much larger memory footprint` as compared to `map_fn`, also the functi

[2020-09-27 08:54] alinasahoo opened #43601 "Dynamic Library loading failed 'cudart64_101.dll' & AttributeError: module 'tensorflow' has no attribute 'Session'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, 64 config
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip3 install upgrade --tensorflow
- TensorFlow version: 2.3.1
- Python version: 3.8.3
- Installed using virtualenv? pip? conda?: Created a virtual envir

[2020-09-27 08:55] YahboomTechnology opened #43602 "i can't find tutorials. Examples."

[2020-09-27 09:22] edwardyehuang commented on #43593
I think a much larger memory footprint is acceptable. However, increasing in GPU memory after each iteration should be a bug? What do you think?

[2020-09-27 10:46] karolbadowski opened #43603 "Batch normalisation with shared vision model sometimes causes NaN."
Hello.

**Intorduction:**

I am writing a neural network that analyses video. For analyzing different frames I use shared vision model (the same set of layers and weights is applied over various images) and then I concatenate these columns into one model.

Why do I use Shared Vision Model?
As 3D convolutions and TimeDistributed models are not supported in conversion to TFLite that goes in pair wit

[2020-09-27 10:57] sephiroce commented on #43588
Thanks!
It worked 👍  (I'm not sure the RTX 3090 is fully utilized or not though.)

[2020-09-27 10:57] #43588 closed

[2020-09-27 11:30] gilad83 commented on #37323
Hi is this issue still open? I want to work on it.

[2020-09-27 11:33] karolbadowski commented on #43603
I see that there are people who have experienced the same issue for past 2 years.
https://github.com/keras-team/keras/issues/11927

Therefore I am not the only one - they have posted samples related maybe not to video analysis, but to Triplet and Siamese networks, which are the most common use cases of Shared Vision Model.

I strongly suspect there is something wrong with moving mean not being agg

[2020-09-27 11:40] ravikyram commented on #43601
@alinasahoo

Can you please refer this [SO link](https://stackoverflow.com/questions/55142951/tensorflow-2-0-attributeerror-module-tensorflow-has-no-attribute-session/59179238#59179238) and see if it helps you. Thanks!

[2020-09-27 12:14] mdanatg commented on #37323
Looks like there's a PR in progress.

[2020-09-27 12:26] asterisk37n opened #43604 "tfio.audio.AudioIOTensor doesn't prepare data in time in loop."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Catalina 10.15.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No mobile device used.
- TensorFlow installed from (source or binary): pip
- TensorFlow version (

[2020-09-27 12:35] ChopsKingsland commented on #40869
I had this error, so I downgraded to Tensorflow 1.14, but then I get this error... `ImportError: Keras requires TensorFlow 2.2 or higher. Install TensorFlow via 'pip install tensorflow'`

[2020-09-27 13:28] alinasahoo commented on #43601
This works fine for me:

Absolutely fine. However another approach can work too.

This too works absolutely fine. Thank you @ravikyram .

[2020-09-27 13:52] fuhailin opened #43605 "TF2.3 load subclassing model within tf.feature_column layer get ValueError: Could not find matching function to call loaded from the SavedModel"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-09-27 13:56] Harsh188 commented on #43294
@bhack should I create the `README.me` under `tools/evaulation` or `tools/evaluation/tasks/`?

[2020-09-27 13:57] ravikyram commented on #43601
@alinasahoo

Please, close this thread if your issue was resolved. Thanks!

[2020-09-27 14:03] #43601 closed

[2020-09-27 14:11] bhack commented on #43294
I think It Is ok

[2020-09-27 14:17] Harsh188 commented on #43294
Sorry, what do you mean?

[2020-09-27 14:41] kreegah opened #43606 "Beginner tutorial fails with internal error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

My pc runs windows 10 pro
Installed anaconda 3 individual edition, Python 3.8
Installed tensorflow 2.3.1 using pip install tensorflow

[2020-09-27 15:10] Saduf2019 commented on #43602
@YahboomTechnology
Please specify what information are you looking for.
Please refer to below tensorflow tutorial links and let us know if it helps:
[link](https://www.tensorflow.org/tutorials/quickstart/beginner), [link1](https://www.tutorialspoint.com/tensorflow/index.htm), [link2](https://www.datacamp.com/community/tutorials/tensorflow-tutorial), [link3](https://www.guru99.com/tensorflow-tutori

[2020-09-27 15:21] Saduf2019 commented on #43599
@fabiogeraci
Please refer to these issues and let us know if it helps: #42438 [link](https://stackoverflow.com/questions/33977273/no-module-named-tensorflow-python-platform), [link1](https://github.com/tensorflow/tensorflow/issues/374), [this comment](https://github.com/tensorflow/tensorflow/issues/40556#issuecomment-647536055).
You can try: conda install tensorflow

Can you please share the error

[2020-09-27 15:29] Saduf2019 commented on #43595
@sunzhe09
Please share stand alone code to replicate issue faced along with error logs, or if possible share a colab gist with the issue reported.

[2020-09-27 16:03] amahendrakar commented on #43606
@kreegah,
I was able to run the code without any issues on TF v2.3, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/9a9529f36a2977b1b72444a89ec5526e/43606.ipynb).

Also, please check [this comment](https://github.com/tensorflow/tensorflow/issues/38518#issuecomment-619538236) from a similar issue and let us know if it helps. Thanks!

[2020-09-27 16:06] meet-minimalist commented on #40648
But it is not as per the expected behavior. I am not asking for possible work around. I am expecting tf.name_scope to add a prefix for all the children variables' name. That's what it was doing in TF1.X. How come this behavior is changed?

[2020-09-27 16:13] #23436 closed

[2020-09-27 16:13] #26572 closed

[2020-09-27 16:36] GuoYL36 commented on #39712
This bug is solved now, which caused by GPU which is in non-ok status. I found no gpu is used to run code, but gpu-memory is used. So I kill the hidden-process, then everything is ok.

[2020-09-27 17:21] fabiogeraci commented on #43599
i have attached the log file.

when you say conda install tensorflow, do you mean on a terminal or inside pycharm?

[idea.log](https://github.com/tensorflow/tensorflow/files/5288734/idea.log)

[2020-09-27 18:00] alirezazd opened #43607 "Example of inferencing a Tensorflow lite model with parsing_serving_input_receiver_fn using C++ API"
I have followed the Tensorflow2 documentation to convert my trained  tf.estimator model to tflite model; in order to convert my model, first I had to save my model in saved_model format with a input_receiver_fn and then convert it with SELECT_OPS flag:

[code]
I wanted to run my tflite model on an ARM device without python support so I built the C++ interpreter shared libs with Bazel as it is expl

[2020-09-27 18:12] spirinvladimir commented on #43562
Hi, @mihaimaruseac

I do understand logic and relation of links to text you write.
I think I got a point. 💡 😄
@google I tried to help tensorflow. 👍

[2020-09-27 18:31] DIPTIMISHRA commented on #10632
I got the same type of error

`---------------------------------------------------------------------------
InvalidArgumentError                      Traceback (most recent call last)
<ipython-input-12-541ffd20c283> in <module>
      1 with tf.device('/gpu:0'):
----> 2     run()

<ipython-input-10-284f3480d9dd> in run()
     32     model_comcnn.layers[4].trainable = False
     33 #     model_comcnn

[2020-09-27 18:53] jaimeff opened #43608 "Debugger V2 not working. Invalid argument: DebugNumericSummaryV2Op requires tensor_id to be less than or equal to (2^53). Given tensor_id:26"
### System information

-  I have used the test example from [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/debug/examples/v2/debug_mnist_v2.py)
-   OS: Windows 10
-   Tensorflow 2.3.1 (installed with pip):
-   Python 3.6
-   CUDA 10.1
-   nVidia GeForce GTX 1050

I cannot make the example work with Debugger V2.

By executing the example from the link above I get the

[2020-09-27 18:58] tanguycdls commented on #43496
Hi ! Thanks a lot for the details @jvishnuvardhan !

I agree with you the usage of the tf saved model is way better than the h5 features especially with custom layers for Keras: we actually changed our code base for that specific feature (no code requirements while reloading the model) !

However we're trying to optimize our timings and the cost of reloading the model in Savedmodel seems really hi

[2020-09-27 20:38] llealgt commented on #43552
I tried to isolate it,i found that this happens when eager mode is disabled with tf.compat.v1.disable_eager_execution() , i disable it because i need to export a .pb file for deployment and export fails if eager is enabled, so it seems using pre-trained model(for transfer learning) with batch norm is mutually exclusive with exporting .pb file for deploy: i can do transfer learning but not deploy i

[2020-09-27 21:15] kreegah commented on #43606
Hi Abhilash Mahendrakar,
what python version did you run your notebook on?
I suspect my problem might have to do with my current python installation.
A wild guess.

On Sun, Sep 27, 2020 at 1:03 PM Abhilash Mahendrakar <
notifications@github.com> wrote:

[2020-09-27 21:30] bhack commented on #43603
Can you try to debug your case with https://www.tensorflow.org/tensorboard/debugger_v2?hl=en#using_debugger_v2_gui_to_find_the_root_cause_of_nans ?

[2020-09-27 21:32] gcervantes8 commented on #40504
I tried converting a FastSpeech2 model to TensorFlow lite and I seem to be getting the same error, but changing the version tf-nightly does not seem to fix the issue for me.

Using tensorflow nightly version 2.4.0-dev20200925

Using tensorflow nightly version 2.4.0-dev20200716

Using tensorflow version 2.3.0

I can't find much information on the issue, and I'm not really sure why I've been getting

[2020-09-27 21:37] omatai commented on #43519
If I could encourage you to take that last sentence and incorporate it into the "Build from source" documentation under Tensorflow Install instructions, that would be a very useful start. Why? Because essentially the documentation currently says:
* Don't build from source (you idiot) - use the pre-compiled binaries
* If you (are stupid enough to) build from source, you'll just build an installer f

[2020-09-27 22:55] omatai commented on #35405
I think it would help to start with the documentation, and make a quick note of the status of (1) building from source on Windows and (2) the intended way to use the C++ API (and other APIs?) (i.e. does it require building from source? Static libraries? Dynamic libraries? Direct integration of source?). I have been struggling for days to understand the status of building on Windows because the doc

[2020-09-27 23:02] karimnosseir commented on #41838
Sorry for the late update. I can reproduce and working on a fix for the issue.
Thanks for reporting the issue and sorry for the delay

[2020-09-27 23:12] kreegah commented on #43606
amahendrakar I can run your notebook on colab without problems but if I try to do it on my local pc the error appears. Being a newb I'm left clueless.

[2020-09-27 23:42] omatai commented on #24885
Has anything replaced this? When I try the bazel command above on r2.3 source, I get "ERROR: config value opt is not defined in any .rc file". I also do not see any evidence of prebuilt libraries :-( Has there been a 2.0+ release with prebuilt libraries for Windows? Anything released in the 1.x series?

[2020-09-28 00:22] gowthamnatarajan opened #43609 "The format of the table is wrong."
## URL(s) with the issue:

https://www.tensorflow.org/agents/api_docs/python/tf_agents/agents/PPOAgent#

## Description of issue (what needs changing):
Table format is wrong. HTML code like table, tr, td etc is visible.

### Clear description
Table format is wrong. HTML code like table, tr, td etc is visible in the 2nd half of the page This makes it hard to read.

### Parameters defined

Are all p

[2020-09-28 00:30] gowthamnatarajan commented on #43609
Looks like someone fixed this 1 month ago.
https://github.com/tensorflow/agents/commit/bf10ec26f1552d7ebb7672cf7cc3fa85a05c933e
But, in the website, the bug is still visible.

[2020-09-28 00:43] abattery commented on #43607
The original model uses an example proto as input internally, which is used by the TF estimator API. So, the converted TFLite model needs one input, example proto as a byte array. Could you create an example proto, in a form of byte array, with three features in your inference code?

[2020-09-28 01:04] hangrymoon01 commented on #42082
@dtlam26 Thanks for the resources. @Mattrix00 I also found this notebook that is working for me
https://colab.research.google.com/drive/15itdlIyLmXISK6SDAzAFGUgjatfVr0Yq

[2020-09-28 01:25] lovehuanhuan commented on #39640
The same problem happens  on my Rk3399 dev-board

[2020-09-28 01:37] teijeong commented on #43589
Hi @ToBigboss, thanks for asking!

1. The `inputFeature` has type of `MultiArrayFeatureProvider`, inherited from [`MLFeatureProvider`](https://developer.apple.com/documentation/coreml/mlfeatureprovider) class. It's initializer handles `TensorData` struct, and the interface `FeatureValueForName` is actually called from Core ML side. That being said, `MultiArrayFeatureProvider` parses `TensorData` s

[2020-09-28 01:40] omatai commented on #24885
Further to above, in building r2.3 out of the box on Windows, it seems like one (at least) needs to change --config=opt to -c opt:
    bazel build -c opt //tensorflow:tensorflow.dll

[2020-09-28 01:43] ToBigboss commented on #43589
get it，Thanks very much

[2020-09-28 01:43] #43589 closed

[2020-09-28 01:48] teijeong commented on #43207
Ah I see, thanks!

Hi @ehazrati, could you close this issue if it's resolved?

[2020-09-28 01:56] sunzhe09 commented on #43595
![image](https://user-images.githubusercontent.com/30410113/94382749-72dd4200-0170-11eb-9a6f-140c8302f291.png)
@Saduf2019  I don't get an error,when I check my quantized tflite model,I found the UpSample2D resized make a false output;Here is my model code:
![image](https://user-images.githubusercontent.com/30410113/94382848-d0718e80-0170-11eb-9d6b-1367d0bc727d.png)

[2020-09-28 02:14] luis-vera opened #43612 "from tensorflow.contrib.seq2seq import Helper"
HI.

I am developing a system but in Tensorflow 2 don't exist this:

from tensorflow.contrib.seq2seq import Helper

How can migrate to a similar solution in Tensorflow 2? Thank's a lot

[2020-09-28 02:26] AeroScripts commented on #43588
sm_86 doesnt seem to be implemented in nvcc yet, at least not in the copy i have (same cuda/cudnn configuration) so there's probably still room for performance improvement

[2020-09-28 02:50] omatai commented on #23613
Option 2 is very confusing due to [this](https://stackoverflow.com/questions/46319386/whats-the-difference-between-c-opt-and-config-opt-when-building-tensorflow-f) - it seems they do COMPLETELY different things...

I got this issue on Windows when I looked at the .tf_configure.bazelrc file after generating it (python ./configure.py) and somehow accidentally deleted it straight after :-( Easy fix:

[2020-09-28 03:13] #42855 closed

[2020-09-28 03:19] jaentrouble commented on #43588
I ran a simple test training, and Conv2D operation was about 2~3 times faster than 2070super. The tensorboard profiling showed that 3080 did not use tensorcores, and the speed was actually a bit faster with fp32 than mixed precision. Considering some issues saying that using tensorcores does not speed up much, I think the performance is within the range of expectation.
Oh, and by the way, profilin

[2020-09-28 03:34] shdeldari commented on #37079
I have similar problem. When I add the variables then I get following error in apply_gradiants:
Do you have any idea? I have two models to train but the dimension of inputs are different.

ValueError: in user code:

    <ipython-input-170-a184f0a52f78>:37 ts_train_step  *
        optimizer.apply_gradients(zip(gradients, history_model.trainable_variables+future_model.trainable_variables))
    /usr/

[2020-09-28 03:46] yuanbopeng commented on #43187
This has been solved by https://github.com/tensorflow/tensorflow/pull/43188

[2020-09-28 03:46] #43187 closed

[2020-09-28 04:57] Eric-Le-Ge commented on #42498
Yes, the original example is not needed to reproduce this issue, but the training steps requires transformed data and running the original example up to the Transform component would produce this data.

[2020-09-28 06:03] akmal1994 opened #43614 "Failed to load the native TensorFlow runtime."
System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): window 10
![Capture1](https://user-images.githubusercontent.com/63404689/94395515-8642da00-017d-11eb-984a-0a23d1c0b19c.JPG)
![Capture2](https://user-images.githubusercontent.com/63404689/94395523-880c9d80-017d-11eb-82e2-9dfbad52761c.JPG)

- TensorFlow installed from (source or binary): jupyter notebook
- TensorFlow ver

[2020-09-28 06:11] amahendrakar commented on #35603
@neel04,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-09-28 06:13] #43143 closed

[2020-09-28 06:17] lintian06 commented on #43551
Hi Gaurav,

I just want to confirm with you if you are using [tensorflow/examples](https://github.com/tensorflow/examples)'s demo. That one contains a class [ClassifierFloatEfficientNet.java](https://github.com/tensorflow/examples/blob/master/lite/examples/image_classification/android/lib_support/src/main/java/org/tensorflow/lite/examples/classification/tflite/ClassifierFloatEfficientNet.java) to

[2020-09-28 06:22] klaimans commented on #42119
@jvishnuvardhan, thank you very much for your reply. Indeed I had a small typo in the example code but this was not responsible for the error I saw.

The reason seems to be the specific decoration of the train_step method with @tf.function. This is in contrast to the documentation under https://www.tensorflow.org/guide/keras/customizing_what_happens_in_fit and https://www.tensorflow.org/api_docs/p

[2020-09-28 06:23] karolbadowski commented on #43603
![obraz](https://user-images.githubusercontent.com/4332432/94397173-8fbf4880-0163-11eb-8bb5-8c24ef77b004.png)
I will try to find it - luckily, I had TensorBoard turned on during one of such occurrences.

[2020-09-28 06:37] kalaluthien opened #43615 "Metal delegate Crash with C++ interface"
Hello, I am trying to compare performance of TFLite delegates on iOS devices.
This issue is related to [comments](https://github.com/tensorflow/tensorflow/commit/60c4c3e2105afe28fb7a11cb8d440e0caabbf735#commitcomment-42709367) on 60c4c3e.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Not really
- Mobile device (e.g. iPhone

[2020-09-28 06:43] alirezazd commented on #43607
@abattery  Thank you for the comment, I have no previous knowledge about example photos if is there any documentation references, or can you provide a simple example for just one feature?

[2020-09-28 06:45] #43534 closed

[2020-09-28 07:02] Saduf2019 commented on #42916
@woreom
Please provide access to the link shared.

[2020-09-28 07:07] Saduf2019 commented on #43605
@fuhailin
Please provide with all dependencies to run the code shared or if possible share a colab gist with issue reported.
I ran the code shared and face [this error](https://colab.research.google.com/gist/Saduf2019/05a756219252f40dc5e4b24b39d3ec32/untitled418.ipynb)

[2020-09-28 07:13] #43090 closed

[2020-09-28 07:13] #43022 closed

[2020-09-28 07:28] ravikyram commented on #43604
@asterisk37n

Can you please share the dataset you are using in the code.Thanks!

[2020-09-28 07:50] fuhailin commented on #43605
Updated, please check this colab : https://colab.research.google.com/gist/fuhailin/32e3b834cff5856c53d719fe877414cb/untitled418.ipynb

[2020-09-28 07:50] ravikyram commented on #43593
@edwardyehuang

I tried in colab with nightly version(2.4.0-dev20200927) and i am not seeing any OOM error.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/e670809edde31664fabb04f4e9be6092/untitled396.ipynb).Please, verify once.Thanks!

[2020-09-28 07:52] Saduf2019 commented on #43599
@fabiogeraci
We have support for 2.x, please try on 2.x and let us know if you face any issues.

[2020-09-28 07:56] amahendrakar commented on #43609
@gowthamnatarajan,
Could you please submit a new issue in the tensorflow/agents repo from [this link](https://github.com/tensorflow/agents/issues/new) and fill in the template, so that we can track the issue there. Thanks!

[2020-09-28 07:56] ravikyram commented on #43597
@aligoglos

Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Please, help us with the reproducible code to localize the issue faster.Thanks!

[2020-09-28 07:58] Mattrix00 commented on #42082
@hangrymoon01, @dtlam26 thank you so much for your help !

[2020-09-28 08:07] fabiogeraci commented on #43599
I have tried all the version from and i get the same result, also tried to run anaconda and tensorflow crashes that too.

i added cpus info

vendor_id	: GenuineIntel
cpu family	: 6
model		: 23
model name	: Intel(R) Core(TM)2 Duo CPU     P7550  @ 2.26GHz
stepping	: 10
microcode	: 0xa0b
cpu MHz		: 2255.338
cache size	: 3072 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 2
apicid		: 0
initi

[2020-09-28 08:09] #43207 closed

[2020-09-28 08:17] Darshcg opened #43616 "Compiling Person Detection Model for zephyr_riscv"
Hi,
I was able to compile both the example applications(Hello World and Magic wand) for zephyr_riscv.

How to compile the other TFLite Models(Person detection and Image Recognition) for zephyr_riscv? What are the changes that need to be made in order to compile it for zephyr_riscv?

Note: **make -f tensorflow/lite/micro/tools/make/Makefile TARGET=zephyr_vexriscv person_detection_bin** I used this

[2020-09-28 08:25] karolbadowski commented on #43603
Hello @bhack .

Maybe it will be the easiest to reproduce the issue with simple code samples of siamese network provided in thread keras-team/keras#11927 , as according to thread participants problem still occurs in newest TensorFlow and their code sample reveals NaN quickly.

I will try my best to activate debugger to help finding the source with my older version of tensorflow (as issue seems so

[2020-09-28 08:28] amahendrakar commented on #43478
Was able to reproduce the issue.

Code works with TF v2.0, throws an error stating
`ValueError: Unable to restore custom object of type _tf_keras_metric currently. Please make sure that the layer implements get_config and from_config when saving. In addition, please use the custom_objects arg when calling load_model().` with TF v2.3. Please find the gist of it [here](https://colab.research.google.

[2020-09-28 08:32] aliqing0122 commented on #33627
@fisakhan I have the same problem, have you found a solution?

[2020-09-28 08:41] jdonier commented on #40795
Indeed it works, thank you!

[2020-09-28 08:41] #40795 closed

[2020-09-28 08:54] florianmarcher commented on #43602
I have the same example. I found this commit
https://github.com/tensorflow/tensorflow/commit/42e122e6a0acaa7bee32ce88e2423ed99b3a0d84
where the examples were moved into a seperate repo 3 days ago. I havent found the new repo

for now, you can see the file contents in the commit diff

[2020-09-28 09:12] yizhaoyanbo commented on #43541
@freedomtan
Thanks for your help. I have read the [ performance measurement guide ](https://www.tensorflow.org/lite/performance/measurement) and do the model's benchmark. But the int8 model's performance on dsp is still slower than float32(float16) precision model on gpu.

----

- Firstly, I run the fp32 model using gpu delegate, both fp32 and fp16 precision are tested. Command is as following:

1

[2020-09-28 09:13] #43154 closed

[2020-09-28 09:23] amahendrakar commented on #43575
@hanzigs,
Could you please run the below code and share the output with us
[code]

By default, TensorFlow maps nearly all of the GPU memory of all GPUs (subject to CUDA_VISIBLE_DEVICES) visible to the process. Please take a look at [this](https://www.tensorflow.org/guide/profiler#gpu_kernel_stats) memory profile tool and let us know if you are facing the same issue. Thanks!

[2020-09-28 09:29] asterisk37n commented on #43604
@ravikyram Sure. This is just 1GB data but I reproduced with it.
https://drive.google.com/file/d/1WRywjR8pJaPkur3pPpd81mxMf1vRnZMv/view?usp=sharing

[2020-09-28 09:31] amahendrakar commented on #43579
@Strange1-7,
Installation issues within the Anaconda environment are tracked in the Anaconda repo.

Could you please submit a new issue using [this link](https://github.com/ContinuumIO/anaconda-issues/issues) and fill in the template, so that the issue can be tracked there. Thanks!

[2020-09-28 09:42] amahendrakar commented on #43582
@ThatGuyDV,
On running the code, I am facing an error stating `FileNotFoundError: [Errno 2] No such file or directory: '../input/eda-and-baseline/processed_train.csv'`

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2020-09-28 09:51] freedomtan commented on #43541
It seems your model cannot be fully delegated to NNAPI (there are more than one partition). My 2 cents:
1. use benchmark_model command line, you should be able to something like
[code]
2. try per-op performance, see https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark#profiling-model-operators

Usually, when you cannot fully delegate your model and there is large am

[2020-09-28 09:53] CuteCrazy commented on #42914
@passion765 Hello, I also have the same problem on `"undefined reference to tensorflow::Status::Status(tensorflow::error::Code, absl::lts_2020_02_25::string_view)"` , is there a solution? thanks

[2020-09-28 10:13] ravikyram commented on #43614
@akmal1994

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here.](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
.Also, please fo

[2020-09-28 10:31] amahendrakar commented on #43585
@quartermaine,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and the dataset you are using.

Also, could you please update TensorFlow to v2.3 and check if you are facing the same issue. Thanks!

[2020-09-28 10:33] fisakhan commented on #33627
@aliqing0122 Not yet. I'm still struggling to find its solution. I also tried suggestions provided at the following link but all in vain. Can you please share the solution if you find?
#42510
#33627
usnistgov/frvt#12
tensorflow/models#3176
#13853
https://stackoverflow.com/questions/47548145/understanding-tensorflow-inter-intra-parallelism-threads
https://stackoverflow.com/questions/60206113/how-to

[2020-09-28 11:09] stefan-falk commented on #33163
Why is this not working for me (2.3.0)?
[code]

Getting

[code]

[2020-09-28 11:12] bhack commented on #43603
I don't think that `https://github.com/keras-team/keras/` ticket system is currently actively maintained at least until Keras will be standalone again (See https://github.com/keras-team/keras/releases/tag/2.4.0)

We need a very, very minimal but completely runnable standalone example (copy, paste and run) or Colab to reproduce your use case.

[2020-09-28 11:13] lissyx commented on #43564
@mihaimaruseac Thanks for the quick handling, it looks like it is working as expected, this looks fixed to me :)

[2020-09-28 11:14] bhack commented on #43612
Check https://github.com/tensorflow/addons/blob/master/tensorflow_addons/seq2seq/README.md

[2020-09-28 11:15] bhack commented on #43564
@lissyx Thanks, please close the ticket if it is ok for you.

[2020-09-28 11:25] #43564 closed

[2020-09-28 11:29] bhack commented on #43294
Currently the documentation link is `https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/evaluation/tasks` so it would be nice to have a general `Readme.md` there

[2020-09-28 11:36] amahendrakar commented on #43591
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/c3822d0a920d389d8a5ca6312bc1e424/43591.ipynb#scrollTo=DDbwlfhWR0vu). Thanks!

[2020-09-28 11:45] amahendrakar commented on #43596
@le8888e,
In order to expedite the trouble-shooting process, could you please provide the complete code to build the model, the SavedModel file itself and `model_int8.tflite` file as well. Thanks!

[2020-09-28 11:48] amahendrakar commented on #43600
@lovehuanhuan,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-09-28 11:51] teijeong commented on #43339
With the manually converted mlmodel from tflite model, I could reproduce the same issue on iOS PoseFinder demo app. (see details on the coremltools issue.) Will keep investigating is this is actually a bug in iOS 14 or the delegate.

[2020-09-28 12:19] le8888e commented on #38036
Hi @Lizhi-Liao ,

I met the same problem with me. In my case there's a BiLSTM layer in my model and I implement it by Keras.
Have you fix it？

Thank you.

[2020-09-28 12:19] bhack commented on #43584
@JesepLeder I think that there is a note in the documentation for running in the graph:

As you see in the graph function execution case is still inside `tf.function` perimeter. So please be aware about `tf.compat.v1.disable_eager_execution()`:

[code]

[2020-09-28 12:48] stefan-falk commented on #30695
A very simple approach could be this:

[code]

Where `find_checkpoints()` could be a default implementation like this:

[code]

Depending on how you name your checkpoints.

[2020-09-28 13:08] abattery commented on #43607
Here is the possible code in Python to generate an example protobuf byte.

[code]

[2020-09-28 13:10] yizhaoyanbo commented on #43541
@freedomtan
Yeah, I have tried the android_arm_benchmark_model on device. It seems that my model is executed by 5 delegate kernels. I think that something goes wrong with the **ResizeBilinear** Op.  The graphs around the  ResizeBiliear op is as following.
Maybe there is some wrong when the converter quantize the model?

![image](https://user-images.githubusercontent.com/26928415/94436111-a058d880-

[2020-09-28 13:17] ruichernob commented on #43476
@Saduf2019 As far as I understand you just need to '!pip install transformers'. Ther rest of the code works well.
I've changed shared notebook a little bit in order to let you observe the reported [issue](https://colab.research.google.com/gist/Saduf2019/1a333e92acaf40bc14fccf6c966750fb/untitled419.ipynb#scrollTo=BlFb98ps1y_8)

Just in case you're unable to fetch the changes:

Added transformers:
[

[2020-09-28 13:18] kmassa23 opened #43619 "Error converting Tensorflow saved model to TFLite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Catalina 10.15.6
- TensorFlow installed from (source or binary): pip install tensorflow (command line)
- TensorFlow version (or github SHA if from source): 2.3.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

[2020-09-28 13:19] manmay-nakhashi commented on #40504
@gcervantes8 can you try any build between nightly 2.4.0-dev20200630 - 2.4.0-dev20200729 ?

[2020-09-28 13:21] alirezazd commented on #43607
@abattery Thanks, are the methods for generating  Example protobuf bytes available in C++ API, or should I implement my own?

[2020-09-28 13:25] ravikyram commented on #43619
@kmassa23

Can you please try adding the following code and and let us know if the issue still persists.
[code]
Please, try with nightly version as well. Thanks!

[2020-09-28 13:28] abattery commented on #43607
The example proto is a part of Tensorflow core project. If you can link to Tensorflow core project, you may use the following methods for example protobuf object creation. Or it is possible to create an example proto based on protobuf library.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/example/feature_util.h

[2020-09-28 13:39] alirezazd commented on #43607
@abattery I will try to feed an example proto to my model using C++ and I will post the results. thank you.

[2020-09-28 13:43] ravikyram commented on #43576
I was able to reproduce the issue in colab. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/e060bc6ed459d44c31121d0a1684e962/untitled398.ipynb).Thanks!

[2020-09-28 13:46] le8888e commented on #38036
Hi @srjoglekar246 @jdduke @karimnosseir ,

I came with the same problem：
'RuntimeError: Attempting to use a delegate that only supports static-sized tensors with a graph that has dynamic-sized tensors. Failed to apply the default TensorFlow Lite delegate indexed at 0.'
 I'm trying to run a tflite model on x86 CPU with XNNPack complied from TF2.4 source code. Here is my model:
https://drive.google.

[2020-09-28 13:52] rajeev921 commented on #42888
I see the behaviour of the code follows on nightly-build.

For 1 machine it is working as expected.
for multiple machine with using .repeat() and steps_per_epochs() it is working as expected.
After removing .repeat() and steps_per_epochs()  on multi machine, It is showing problem.
[Adjust_GPUs.txt](https://github.com/tensorflow/tensorflow/files/5292717/Adjust_GPUs.txt)

[2020-09-28 13:56] rickstaa opened #43620 "Tensorflow session.run command 20% slower in tf2.3 compared to tf1.15"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow):** Yea but an extremely simple one.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04):** Ubuntu 18.04
- **TensorFlow installed from (source or binary):**  Binary
- **TensorFlow version (use command below):** tf1.15.0 and tf2.3.0
- **Python version:** python v3.6.12 an

[2020-09-28 13:57] rickstaa commented on #43620
I'm sorry. I accidentally clicked the post button. Give me a moment to fill in the bug report.

[2020-09-28 14:02] freedomtan commented on #43541
Yes, mostly QUANTIZE op is the culprit.
- Why there are INT8 -> INT8 QUANTIZE? Well, as you can see, this kind of requantization is to change the scale of tensor(s). Why changing a tensor's scale? For this case, because the CONCATENATION op needs to normalize all of its input tensors to the same range / scale.
- Why are there QUANTIZED ops not delegated to NNAPI? 'cause NNAPI just doesn't support

[2020-09-28 14:03] MarkDaoust commented on #33163
Remember that there's no "right" setting here, it just depends on what you name the metrics you pass to `model.compile`.

@Burton2000: Yeah, that page could be clearer. I'll send a quick update.

@stefan-falk: That's worrying, `loss` is the one metric that's populated automatically, so it would be hard to get the name wrong. Can you provide a minimal end-to-end reproduction? There's not enough con

[2020-09-28 14:05] GeorgeS2019 commented on #35405
@gunan @av8ramit   @omatai

I would argue that the support we get from tensorflowlib 2.x has improved a great deal.

The [sharing](https://github.com/tensorflow/tensorflow/issues/35405#issuecomment-641619156) of the [nightly built link](https://storage.googleapis.com/libtensorflow-nightly) has made a GREAT impact to the Tensorflow.NET and tensorflowSharp communities.

Tensorflow.NET and Csharp wra

[2020-09-28 14:09] anth2o opened #43621 "Tensorflow 2.3 doesn't log batch metrics and learning rate in Tensorboard"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-09-28 14:17] markodjordjic commented on #31312
@nihir27 Hi. Are there any updates on this issue? Essentially no training process can be completed while this is not resolved.

[2020-09-28 14:36] Nika-St opened #43622 "divide_no_nan logic"
The [divide_no_nan()](https://www.tensorflow.org/api_docs/python/tf/math/divide_no_nan) function by definition "Computes a safe divide which returns 0 if the y is zero".

My question is, wouldn't it make more sense to return the maximum value of dtype of the passed tensors? When dividing by very small positive numbers we get very large positive numbers, after all.
It is, of course, possible to app

[2020-09-28 14:49] woreom commented on #42916
@Saduf2019
Okay does [this](https://colab.research.google.com/drive/1W7ZV-DZ5xP0TthFapP9uX8lYrWJmXyaq?usp=sharing) work?

[2020-09-28 14:57] #43619 closed

[2020-09-28 14:57] ThatGuyDV commented on #43582
My apologies, earlier I added that from one of private kaggle notebook. I have updated the dataset and tested from other account to generate same error. I request you to please take a look once again. Thank you.

[2020-09-28 15:03] stefan-falk commented on #33163
@MarkDaoust I think I just used it wrong. I wanted to save checkpoints during an epoch and became a victim of Keras wizardry a bit. I have a custom model which now returns `{m.name: m.result() for m in self.metrics}` in `train_step()` and `dict(loss=val_loss)` in `test_step()` and I let it safe the model after an epoch.

[2020-09-28 15:06] freeedom67 commented on #38037
FYI i found a good working solution for running tensorflow(lite as well) on the ARM6 based raspberry pi (like the zero or the Pi1):

-get a pre compilied python wheel from https://github.com/lhelontra/tensorflow-on-arm/releases or compile it on your own.
- Install it on the device using pip3

in python
import tensorflow as  tf

interpreter = tf.lite.Interpreter(model_path)

After a long time looki

[2020-09-28 15:07] partha117 commented on #43409
Yes, It has been solved thanks

[2020-09-28 15:07] #43409 closed

[2020-09-28 15:12] freeedom67 commented on #41112
FYI

I was able to find a working solution for running tensorflow(lite as well) on the ARM6 based raspberry pi (like the zero or the Pi1):

- get a pre compilied python wheel from https://github.com/lhelontra/tensorflow-on-arm/releases or compile it on your own.
- Install it on the device using pip3.

in python:

[code]

After a long time looking for a good solution I found this working pretty wel

[2020-09-28 15:17] Saduf2019 commented on #43605
@fuhailin
I cannot download the csv, please share the dataset for us to replicate the issue.

[2020-09-28 15:23] gcervantes8 commented on #40504
I tried version tf-nightly 2.4.0-dev20200713, I got the same error.

[2020-09-28 15:26] yizhaoyanbo commented on #43541
@freedomtan
Thanks for your reply.
Can I take some measures to avoid the int8->int8 quantize?  The resizeBilinear op is a so common op...
The scales of tensors after resizeBilinear are also int8 type. Can I think that  the int8->int8 quantize op is useless, or can I remove it from the graph?

[2020-09-28 15:38] srjoglekar246 commented on #38036
We only recently added support for SELECT_TF_OPS to work with XNNPack. So this should only work with the latest nightly, and may not work with the last stable TF release.

[2020-09-28 15:40] acidtonic commented on #43303
Here's some more...

Converting a yolov3 model to TFLITE to run on a phone.

Tried 4 different projects.

1st: All code worked until needing slim from tf.contrib. Didn't want to rewrite their code.
2nd: needed onnx and tensorflow_addons but it doesn't work with tensorflow 1.x. Older pip package for tensorflow_addons with 1.x support is now removed so it cannot be done.
3rd: Go all the way through,

[2020-09-28 15:47] le8888e commented on #38036
@srjoglekar246 So if I install the latest nightly via pip, will XNNPack be complied by default?
Thank you

[2020-09-28 15:51] srjoglekar246 commented on #38036
XNNPack will work with SELECT_TF_OPS without any error at runtime.

[2020-09-28 15:53] mkuchnik commented on #43581
I am also facing this issue. The temporary fix worked.

[2020-09-28 15:54] Palkos83 opened #43623 "Tensorflow 2.3 CUDNN - Detected cudnn out-of-bounds write in convolution buffer! + GPU Sync Failed"
### System information

-   I was trying to train standard CNN network
-   OS Platform: Windows 10
-   TF installed via Anaconda - standard release
-   TF2.3.1 latest release
-   Python 3.6.12
-   Cuda  10.1.168 (via cudatoolkit) Cnn 7.6.5
-   NVidia GTX 1080.

### Describe the problem
Simple CNN networks fails to train. At the beginning of each epoch the following message is displayed:

This mess

[2020-09-28 15:56] le8888e commented on #38036
@srjoglekar246 As I know, XNNPack can only be complied by building  tensorflow from source code. So how to enable XNNPack in the lastest tf-nightly? Thank you.

[2020-09-28 15:57] amahendrakar commented on #42412
@Ananas120,
Thank you for the update. I was able to run the code without any issues on TF v2.3, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/c77e0956a871f2c57e9d6fba5bb7ba12/42412.ipynb).

Please try running the code in a virtual environment and check if you are still facing the same issue. Thanks!

[2020-09-28 15:58] Saduf2019 commented on #43608
@jaimeff
Please share stand alone code or if possible share a colab gist with error reported.

[2020-09-28 15:59] Saduf2019 commented on #43581
@tsc2017
Please update as per above comment.

[2020-09-28 15:59] amahendrakar commented on #43193
@CalendulaED,
Any updates regarding? Is this still an issue? Thanks!

[2020-09-28 16:04] #41784 closed

[2020-09-28 16:06] brendanxwhitaker opened #43624 "Converted model gives shape error during inference in C++ API."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.4.0-dev20200630

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the

[2020-09-28 16:07] gunan commented on #41254
This happens when you do not have numpy installed for the python distribution you are using to build TF.
Please make sure to read the full guide here before building from sources:
https://www.tensorflow.org/install/source

[2020-09-28 16:07] #41254 closed

[2020-09-28 16:09] Ananas120 commented on #42412
Ok thank’s but in your gist i see you ran on 1 step and for me the error occurs only at step 300-400... so the code runs well for me too but not for a real training ^^’

[2020-09-28 16:10] Saduf2019 commented on #43623
@Palkos83
Can you please refer to [this](https://github.com/zhihou7/VCL/issues/1) and let me know if it helps.

[2020-09-28 16:11] CalendulaED commented on #43193
I believe I still have the problem of missing 110
![image](https://user-images.githubusercontent.com/68514251/94458263-b68d7700-0183-11eb-944b-cbf2346bbe84.png)

[2020-09-28 16:13] CalendulaED commented on #43193
And I do have 110 in the folder I believe
![image](https://user-images.githubusercontent.com/68514251/94458463-fa807c00-0183-11eb-82d9-04d134f7785e.png)

[2020-09-28 16:13] #43084 closed

[2020-09-28 16:14] amahendrakar commented on #43291
In this case, could you please close this issue and submit a new one from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-09-28 16:14] bhack commented on #43193
@CalendulaED can you try with a fresh venv https://www.tensorflow.org/install/pip#2.-create-a-virtual-environment-recommended?

[2020-09-28 16:17] EmGarr commented on #43621
It seems the behavior has been introduced by this commit: https://github.com/tensorflow/tensorflow/commit/69565ec4003902794bc94e10ba5fe9469a0b3ae4

The `self._log_metrics(logs, prefix='batch_', step=train_batches)` has been removed. For epoch log t `def _log_epoch_metrics(self, epoch, logs)` has been introduced. It seems that there should have an automatic update with

[code]
However, I really don

[2020-09-28 16:17] ml-0 commented on #41900
What do you mean by "use TFLM from source"? I did not modify any source code or Makefile except for adding a make target for Cortex-M4F. I observe the problem when TF_LITE_STATIC_MEMORY is specified (which is the default). I observe it with r2.3 and with HEAD of master (Sept. 2020).

[2020-09-28 16:19] amahendrakar commented on #43323
@haiqinzhong,
Sorry for the delayed response.

ConvLSTM2D does exist for TensorFlow 1.x. Please take a look at the [documentation](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/keras/layers/ConvLSTM2D) for more information regarding this. Thanks!

[2020-09-28 16:26] Palkos83 commented on #43623
There is only one GPU in the system and the model is so simple that it should not need more than one.

Many thanks
Jakub
________________________________
From: Saduf2019 <notifications@github.com>
Sent: 28 September 2020 17:10
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: Palkos83 <palkos@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [tensorflow/tensorflow] Tensor

[2020-09-28 16:33] CalendulaED commented on #43193
I try the venv, but It give me an error about environment error
![image](https://user-images.githubusercontent.com/68514251/94460475-ca86a800-0186-11eb-8cda-af80ee68a6f5.png)

[2020-09-28 16:35] GeorgeS2019 commented on #35405
@gunan @av8ramit I would like to feedback that the level of effort the Tensorflow.NET team invested into the tensorflow C API unit tests is probably more comprehensive than that of the tensorflow Java wrapper project.

In other words, the Tensorflow.NET initiative is getting serious and on par, more and more in my view, catching up to e.g. Tensorflow Java wrapper project.

[2020-09-28 16:41] CalendulaED commented on #43193
![image](https://user-images.githubusercontent.com/68514251/94461223-d9ba2580-0187-11eb-8cbe-4a3096697e88.png)
![image](https://user-images.githubusercontent.com/68514251/94461243-dfb00680-0187-11eb-9349-abf8f146fd41.png)
![image](https://user-images.githubusercontent.com/68514251/94461251-e3438d80-0187-11eb-877a-44baebfd8224.png)
After I add --user to it, I belive it still not working

[2020-09-28 16:42] amahendrakar commented on #43621
Was able to reproduce the issue with TF v2.3 and TF-nightly, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/5151b55dfb1341da1329f858c3c49a8d/43621-tf-nightly.ipynb). Thanks!

[2020-09-28 16:53] akmal1994 commented on #43614
Thanks for the support. The issue is resolved.

On Mon, Sep 28, 2020 at 3:43 PM ravikyram <notifications@github.com> wrote:

[2020-09-28 16:55] amahendrakar commented on #39333
@alanpurple,
Is this still an issue? Could you please check @skaldek's comment above and check if you are still facing the same error? Thanks!

[2020-09-28 16:58] amahendrakar commented on #42412
@Ananas120,
Could you please point out the required changes to be made to run the code for 400 steps? Thanks!

[2020-09-28 17:06] amaiya commented on #41174
@amahendrakar Very nice - thanks a lot.

[2020-09-28 17:08] fkromer opened #43625 "Feature request: STM32CubeIDE integration"
The [STM32CubeIDE](https://www.st.com/en/development-tools/stm32cubeide.html) is probably the most widely used development environment for STM32 micro-controllers. It is free to use and available for Linux, macOS and Windows. It seems like there is no support for it in *TensorFlow Lite for Microcontrollers* yet. Would be great to have support for it.

[2020-09-28 17:08] ymodak commented on #43612
Also make sure you are familiar with [python-op-compatibility-matrix](https://github.com/tensorflow/addons#). Thanks!

[2020-09-28 17:12] fkromer opened #43626 "Feature request: MCUXpresso IDE integration"
The [NXP MCUXpresso IDE](https://www.nxp.com/design/software/development-software/mcuxpresso-software-and-tools-/mcuxpresso-integrated-development-environment-ide:MCUXpresso-IDE) is probably the most widely used development environment for NXP micro-controllers. It is free to use and available for Linux, macOS and Windows. It seems like there is no support for it in TensorFlow Lite for Microcontro

[2020-09-28 17:13] manmay-nakhashi commented on #40504
@gcervantes8 are you using enable_tflite_convertible flag?

[2020-09-28 17:16] gcervantes8 commented on #40504
Yes! When I reload the model using FastSpeech2Config, I give the parameter:
enable_tflite_convertible=True

[2020-09-28 17:17] Ananas120 commented on #42412
Yes you should just run the « train_step(...) » function for n times (like à simple for _ in range(500): loss = train_step(...) »

[2020-09-28 17:20] mihaimaruseac commented on #43562
Can we close the issue now? Or are there still things left unsolved?

[2020-09-28 17:22] bhack commented on #43193
The idea was:

so to install and try to use TF inside the venv.

[2020-09-28 17:22] mihaimaruseac commented on #39712
So it seems it has been solved. I think we can close the issue and reopen if there is a resurgence

[2020-09-28 17:22] #39712 closed

[2020-09-28 17:23] ravikyram commented on #43614
@akmal1994

Please, close this thread if your issue was resolved. Thanks!

[2020-09-28 17:23] mihaimaruseac commented on #43500
Unfortunately we don't have enough CI infrastructure and developers to maintain this build internally.

[2020-09-28 17:24] spirinvladimir commented on #43562
Up to you.

On Mon, 28 Sep 2020, 8:21 PM Mihai Maruseac <notifications@github.com>
wrote:

[2020-09-28 17:25] #43562 closed

[2020-09-28 17:34] CalendulaED commented on #43193
![image](https://user-images.githubusercontent.com/68514251/94466288-38cf6880-018f-11eb-8c6e-0cf6643ee9cb.png)
I think this is inside the venv, but I still show the same errors

[2020-09-28 17:34] nikitamaia commented on #43276
Hi @neel04 it's difficult to diagnose this issue just from the stack trace you provided above. Please provide a simple example dataset + code that reproduces the error and we can better help to troubleshoot.

[2020-09-28 17:37] #43614 closed

[2020-09-28 17:38] nikitamaia commented on #42824
Closing issue since a solution was found and there is no bug here.

[2020-09-28 17:38] #42824 closed

[2020-09-28 17:41] mihaimaruseac commented on #43622
The answer you suggest to return is only valid if you divide a positive number to a positive number going towards 0 (or a negative number divided to a negative number that is close to 0).

However, there is also the case where the operands have different signs. In this case, you have to return the minimum value of the type of the result (akin to -infinity).

Finally, there is the case where both n

[2020-09-28 17:43] yhliang2018 commented on #31312
@lidless-vision @nihir27 @markodjordjic What TF version do you use? Could you try tf-nightly? If this issue still exists in tf-nightly, would you provide a small colab example for repro? So we can investigate the problem.

[2020-09-28 17:46] Harrypotterrrr commented on #26966
I am still waiting for this feature of tf 2.x

[2020-09-28 17:56] av8ramit commented on #42979
We are trying our best to deliver them in Q4, but we also welcome community support.

[2020-09-28 17:58] bhack commented on #43193
Now yes.
Can you try to see if you can access to `cudart64_110.dll`
[code]

[2020-09-28 18:02] ckmaresca commented on #33544
All this because the binaries are not compiled to support 3.0?  Since the code supports 3.0 is there any reason NOT to compile the binaries with 3.0 support?   Seems insane to make anyone go through all this before they can be productive....

In my case, I have an old iMac I'd like to repurpose and it's only after all the pain, time & energy spent installing Linux, TF, GPU drivers  and all the ass

[2020-09-28 18:03] CalendulaED commented on #43193
I think import is not supported here
![image](https://user-images.githubusercontent.com/68514251/94469065-7209d780-0193-11eb-835d-c1df00635210.png)

[2020-09-28 18:06] markodjordjic commented on #31312
@yhliang2018 any TF upwards 2.0.0. The gist to what you are referring to is nowhere near a hp tuning process which can produce memory leak.

[2020-09-28 18:09] jsimsa commented on #26966
In general, to compute the size of the dataset, one would need to run:

[code]

Which is simple enough for users to run themselves (note that this can hang if the input dataset is infinite).

[2020-09-28 18:13] #42738 closed

[2020-09-28 18:13] #41306 closed

[2020-09-28 18:14] bhack commented on #43193
It is python code

[2020-09-28 18:15] yhliang2018 commented on #31312
Yeah, TF2.0.0 does have this issue, and it should be fixed in the following versions (unless there is regression in some later version). So you may try the latest stable version(2.3.0) or tf-nightly which should have no such memory leak.

[2020-09-28 18:15] bhack commented on #43193
Also <fill_with_your_path> it means "you need to manually change it with your real cudart64 path"

[2020-09-28 18:18] surry commented on #43344
I was able to follow a suggestion on an AWS C++ SDK issue and get this working locally, however, for our use case, there's an issue in the AWS SDK where the credentials are only read from ~/.aws/config, instead of from ~/.aws/credentials, so it still doesn't quite work as we would like even after adding a custom CredentialsProviderChain to TensorFlow. Details here:

https://github.com/aws/aws-sdk-

[2020-09-28 18:21] markodjordjic opened #43627 "TF2 Memory Leak when fitting multiple models in Docker"
When fitting multiple models within same tuning process, the consumption of RAM grows until all of the memory is consumed, which ultimately leads to failure of the complete training process.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source

[2020-09-28 18:22] markodjordjic commented on #31312
@yhliang2018 every version upwards from 2.0.0 has exactly the same issue and there is a lot of people talking about it around GH however no progress is being made.

[2020-09-28 18:23] markodjordjic commented on #31312
@yhliang2018 I have opened new issue: https://github.com/tensorflow/tensorflow/issues/43627

[2020-09-28 18:23] CalendulaED commented on #43193
It says false
![image](https://user-images.githubusercontent.com/68514251/94470837-36244180-0196-11eb-8538-86f02538823d.png)

[2020-09-28 18:24] markodjordjic commented on #31312
@yhliang2018 However I think it just creates clutter like many other issues that have the same underlying problem, and have stayed unresolved, or someone has made a statement that version X.X is working, while it is not.

[2020-09-28 18:25] markodjordjic commented on #31312
@yhliang2018 thanks for responding, but what is really needed is that someone pushes for this.

[2020-09-28 18:28] bhack commented on #43582
The Kaggle notebook still doesn't run.
But your problem is that in the third_party Transformer library when you call [`create_optimizer`](https://huggingface.co/transformers/main_classes/optimizer_schedules.html#transformers.create_optimizer)
`return optimizer, lr_schedule` and instead `apply_gradients` is an optimizer method.

Please ask for Transformers library support at https://discuss.hugging

[2020-09-28 18:33] markodjordjic commented on #31312
@yhliang2018 TF2.3.0 is not working, just to confirm.
algo-1-eprqd_1  | Fitting fold: 0
algo-1-eprqd_1  | memory used: 2072.0
algo-1-eprqd_1  | Fitting fold: 0
algo-1-eprqd_1  | memory uses: 2097.0
algo-1-eprqd_1  | Fitting fold: 0
algo-1-eprqd_1  | memory uses: 2104.0
algo-1-eprqd_1  | Fitting fold: 0
algo-1-eprqd_1  | memory uses: 2114.0
algo-1-eprqd_1  | Fitting fold: 0 for estimator: FFD AEN,

[2020-09-28 18:34] bhack commented on #43193
Ok so with false it seems that you have read permission problem with that folder. Are you sure that you have not installed python from the Windows store? Like in https://installpython3.com/windows/

[2020-09-28 18:36] CalendulaED commented on #43193
I believe I download it from **https://www.python.org/downloads/**
should I download this again?

[2020-09-28 18:37] dennisjay opened #43628 "tf.feature_column.embedding_column: wrong dtype in lookup variable"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**:

Yes

-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Ubuntu 18.10

-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**:

No

-   **TensorFlow installed from (source or binary)**:

pip install -U

[2020-09-28 18:39] jvishnuvardhan commented on #37079
@shdeldari Can you please create a new issue with a simple standalone code to reproduce your issue? Thanks!

[2020-09-28 18:44] av8ramit commented on #35405
I think the [SIG Build](https://groups.google.com/a/tensorflow.org/forum/#!forum/build) would be a better forum to discuss these gaps, reach out for community feedback, and see how we can proceed going forward.

[2020-09-28 18:49] bhack commented on #43193
Can you try from command line to run `type <fill_with_your_path>cudart64_110.dll`?

[2020-09-28 18:49] imrahul361 commented on #38349
Is it issue solvable for a beginner ? if yes can I work on it?

[2020-09-28 18:50] MinasTyuru commented on #43165
@yhliang2018 Have you been able to take a look at this?

[2020-09-28 18:52] CalendulaED commented on #43193
I am sorry, it said True, it misses a symbol in the line
![image](https://user-images.githubusercontent.com/68514251/94473414-2ad31500-019a-11eb-848c-96c5877de246.png)

[2020-09-28 18:55] bhack commented on #43193
Ok can you run `python -c 'import tensorflow as tf; print(tf.__version__)'`

[2020-09-28 18:58] ajyeager commented on #43469
I'm going to look into getting IBM involved, as I just tested and it happens in their official image too.

[2020-09-28 18:59] CalendulaED commented on #43193
I can't directly type it, so I run it in python, I think it said 2.4.0
![image](https://user-images.githubusercontent.com/68514251/94474134-3541de80-019b-11eb-8440-130a06446b94.png)

[2020-09-28 19:01] bhack commented on #43193
Ok.. the last thing.
Inside the venv can you execute:
[code]

[2020-09-28 19:02] jperezpbos commented on #43500
@mihaimaruseac if you guys are open to get help, I can talk to my IBM colleagues. We can certainly help with infrastructure and we have engineers already contributing upstream.

[2020-09-28 19:02] bhack commented on #43627
Can you try with TF 2.3.1?

[2020-09-28 19:05] jaimeff commented on #43608
@Saduf2019
I have used the exact same example as in this repo [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/debug/examples/v2/debug_mnist_v2.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/debug/examples/v2/debug_mnist_v2.py)

you can run it by executing:

`python debug_mnist_v2.py  --dump_dir /tmp/tfdbg2_logdir --dump_tensor_debug_mode FULL_HEA

[2020-09-28 19:05] markodjordjic commented on #43627
@bhack that TF image is not available on Docker Hub.

[2020-09-28 19:07] bhack commented on #43627
2.3.0 is ok too..

[2020-09-28 19:08] yhliang2018 commented on #31312
According to this comment, we thought this issue was fixed. It might not be true in the following stable versions, sorry about it.

I will look into the issue #43627 and keep you updated on the progress.

[2020-09-28 19:09] markodjordjic commented on #43627
@bhack yes pls take a look at: https://github.com/tensorflow/tensorflow/issues/31312

[2020-09-28 19:11] yhliang2018 commented on #43627
#31312 is closed already. Let's use this issue thread to discuss the memory leak problem.

@markodjordjic Could you verify [this comment](https://github.com/tensorflow/tensorflow/issues/43627#issuecomment-700225043) first?

[2020-09-28 19:12] markodjordjic commented on #43627
@bhack yes TF2.3.0 does not help

[2020-09-28 19:13] markodjordjic commented on #31312
@yhliang2018 Thank you.

[2020-09-28 19:13] #41417 closed

[2020-09-28 19:13] #42426 closed

[2020-09-28 19:18] iperov opened #43629 "Fail to build TF 1.15 on Cuda 11.1"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.15
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 0.25.3
- GCC/Compiler version (if compiling from source): MSVC 2017
- CUDA/cuDNN version: 11.1 / 7.6.0
- GPU model

[2020-09-28 19:20] imrahul361 commented on #22926
is this issue open? Can i work on it? @mattn

[2020-09-28 19:24] bhack commented on #43627
It seems to me that it isn't  growing in colab with 2.3.0

[2020-09-28 19:25] xintin commented on #43551
Hi Tian,

Yes, I was using the same demo. Now, as per your suggestion, I have updated the `ClassifierFloatEfficientNet.java` located at `..\android\examples\lite\examples\image_classification\android\lib_support\src\main\java\org\tensorflow\lite\examples\classification\tflite` from [here](https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/android/lib_support/src/

[2020-09-28 19:27] markodjordjic commented on #43627
@bhack can we please acknowledge that there is a problem. Numerous issues have been opened and there is no progress.

[2020-09-28 19:40] jvishnuvardhan commented on #42119
@klaimans Forgot to delete part of the gist. Please check [this gist](https://colab.research.google.com/gist/jvishnuvardhan/5d73b1a5af3dd9674ee0f91f9521125c/untitled283.ipynb) which shows same result with or without tf.function. Please let me know what you think? Thanks!

[2020-09-28 20:13] #41537 closed

[2020-09-28 20:15] gowthamkpr commented on #43576
This might be related to this issue #40166 Please take a look at it and let me know if it helps. Thanks!

[2020-09-28 20:15] quartermaine commented on #43585
@amahendrakar
I have attach the code that I use to train the CNN
[scripts.zip](https://github.com/tensorflow/tensorflow/files/5294832/scripts.zip)

[2020-09-28 20:18] gowthamkpr commented on #43370
@shanshanpt Can we close this issue as it has been resolved. Thanks!

[2020-09-28 20:19] maciejwolczyk opened #43631 "tf.cond throws AssertionError when computing its gradient twice"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Tested on Arch Linux and the default Google Colab env
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
Binary
- Tenso

[2020-09-28 20:23] CalendulaED commented on #43193
Yes.
![image](https://user-images.githubusercontent.com/68514251/94482238-f7e34e00-01a6-11eb-88c9-1e69d3c76dae.png)

[2020-09-28 20:25] ksachdeva commented on #41851
Facing the same issue when moved from 2.2 to 2.3

[2020-09-28 20:34] #43370 closed

[2020-09-28 20:39] bhack commented on #43627
On TF 1.3.0 on Colab
[code]

[code]

[2020-09-28 20:41] seledkapod commented on #43588
Please tell me what versions of CUDA and cuDNN did you use? And also a listing of a test training, if not difficult.

[2020-09-28 20:42] bhack commented on #43193
The path seems ok to find cudart. Yes you try to be sure to install and use python 64bit from https://www.python.org/downloads/

[2020-09-28 20:43] markodjordjic commented on #43627
@bhack yes. On lower versions of TF it works. I had to refactor the code to lower versions.

[2020-09-28 20:57] bhack commented on #43631
Can you try with:
[code]

[2020-09-28 21:01] bhack commented on #43629
You need master for Cuda 11

[2020-09-28 21:02] bhack commented on #43627
It was just a typo.. is 2.3.0

[2020-09-28 21:07] CalendulaED commented on #43193
![image](https://user-images.githubusercontent.com/68514251/94486076-e309b900-01ac-11eb-94ef-8283962be9fc.png)
I reinstall the python, but I don't think it makes a difference.
![image](https://user-images.githubusercontent.com/68514251/94486201-0d5b7680-01ad-11eb-9bec-5a2540b62dda.png)

[2020-09-28 21:10] bhack commented on #43623
Can you check if Cuda/Cudnn/Driver versions are ok for your card https://docs.nvidia.com/deeplearning/cudnn/support-matrix/index.html#cudnn-versions-764-765 ?

[2020-09-28 21:11] maciejwolczyk commented on #43631
Sure, I've changed the [colab example](https://colab.research.google.com/drive/1XximLOFyx828syl5QteZ8oOvXE7CqUGT?usp=sharing). If you pass a Python boolean then it works well, but if you pass TensorFlow boolean it fails with the same message.

[2020-09-28 21:13] #41647 closed

[2020-09-28 21:15] iperov commented on #43629
@bhack that is tf 1.15-master

[2020-09-28 21:15] bhack commented on #43193
Can you execute:
[code]

[2020-09-28 21:16] CalendulaED commented on #43193
Yes,
![image](https://user-images.githubusercontent.com/68514251/94487092-65df4380-01ae-11eb-87bb-cf989496b25e.png)

[2020-09-28 21:17] bhack commented on #43629
I meant the master branch.

[2020-09-28 21:22] bhack commented on #43193
Please re-run outside the venv

[2020-09-28 21:24] iperov commented on #43629
My big app is created using TF 1

I cannot upgrade it to TF 2 API, because it requires a lot of modifications and testings from scratch, which is time and money consuming task.

Seems like Tensorflow(TM) cannot provide backward compatibility for new CUDA versions.
So even 2 years old app will not support new cards.
It is serious impact to business and companies which are using TF.
Where is the gua

[2020-09-28 21:25] CalendulaED commented on #43193
![image](https://user-images.githubusercontent.com/68514251/94487722-6f1ce000-01af-11eb-9ede-716ef0417bcd.png)
yeh, it saids Microsoft windows apps?
But I never download it from there, and I just download it from the official web site, why this happens...

[2020-09-28 21:32] yhliang2018 commented on #43165
Add @anj-s to look into the problem, as she knows more about SyncBatchNormalization layer.

[2020-09-28 21:33] jvishnuvardhan commented on #43496
@tanguycdls `tf.saved_model.load` and `tf.keras.model.load_model` sound similar but has one critical difference.

The object returned by tf.saved_model.load is not a Keras object (i.e. doesn't have .fit, .predict, .summary, etc. methods) whereas the object returned by `tf.keras.model.load_model` is a Keras object.

[code]

You can take `loaded_model_keras` and keep training it by running .fit. I d

[2020-09-28 21:36] Teut2711 opened #43634 "k hot encoding for tf.keras.preprocessing.image.DirectoryIterator"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

tf.keras.preprocessing.image.DirectoryIterator

**System information**
- TensorFlow version (you are using):latest
- Ar

[2020-09-28 21:37] bhack commented on #43629
@iperov You can express your opinion and also your frustration but please respect the perimeter of our code of conduct https://github.com/tensorflow/tensorflow/blob/master/CODE_OF_CONDUCT.md /cc @theadactyl

I think you can probably explore to use TF 1.15 in a Docker container.

[2020-09-28 21:42] CalendulaED commented on #43193
I delete it from the Microsoft windows app and reinstall the one on the official website, but whenever I type python, it will automatically open the Microsoft store,,

[2020-09-28 21:44] tanguycdls commented on #43496
Hi Thank you for the precision ! I think my issue might be related to https://github.com/tensorflow/tensorflow/issues/43263

[2020-09-28 21:44] #43496 closed

[2020-09-28 21:45] Palkos83 commented on #43623
I am currently running one of the latest NVidia Drivers (456.38).
According to the link provided for cudnn 7.6.5 I am supposed to be running 418.39 version.
I cannot find one officially available on NVidia website anymore but digging through I can access the 418.81.
Sadly when I try to install this driver it is incompatible with the later versions of Windows.

Any suggestions?

On another note, ar

[2020-09-28 21:47] bhack commented on #43623
This would make the setup much simpler.

Do you mean cuda 11?

[2020-09-28 21:48] Palkos83 commented on #43623
Yes, CUDA 11.

[2020-09-28 21:51] bhack commented on #43193
I understand but we cannot support you at this level cause it is not a Tensorflow bug.
You can try to find support for python installation at: https://www.python.org/about/help/

Or you can use Tensorflow with our Docker images https://www.tensorflow.org/install/docker

[2020-09-28 21:52] bhack commented on #43623
You can use `pip install tf-nightly` packages for CUDA 11 or you need to wait for 2.4 release.

[2020-09-28 21:53] CalendulaED commented on #43193
I think I have the correct path now
![image](https://user-images.githubusercontent.com/68514251/94489999-8fe73480-01b3-11eb-8bfd-18d399dab17a.png)

[2020-09-28 21:55] mgalgs commented on #42305
@dsp1589

Any idea what changed to get it working?

[2020-09-28 21:55] CalendulaED commented on #43193
I think it give another different error when I tried to import tensorflow
![image](https://user-images.githubusercontent.com/68514251/94490135-d9378400-01b3-11eb-9de6-b11fda3bac06.png)

[2020-09-28 21:57] pranathivemuri commented on #42305
@dsp1589

yes, could you please post the steps on how you got it to work for you, thank you!

[2020-09-28 21:57] bhack commented on #43193
Prepare again venv with this version and install tensorflow with pip inside the venv

[2020-09-28 21:58] mgalgs commented on #41943
@jdduke I've updated my `flutter_tflite` to use `org.tensorflow:tensorflow-lite:2.3.0` ([commit](https://github.com/mgalgs/flutter_tflite/commit/e7356bd07129bb35dde8a2f094b20ecaf5248502)) but I'm still getting this same error.

[2020-09-28 21:59] mesquita commented on #43576
Yes, I think it is related to that.
So there's no solution right now for this problem?

Thank you!

[2020-09-28 22:00] CalendulaED commented on #43193
Inside the venv it also shows the same error
![image](https://user-images.githubusercontent.com/68514251/94490537-70044080-01b4-11eb-837c-ea479f9bfbe6.png)

[2020-09-28 22:01] mgalgs commented on #41943
Here's the native-side stack trace under Android:

[code]

[2020-09-28 22:13] omatai commented on #35405
Here's my real experience: I started with Tensorflow 2+ years ago on version 1.5. I could not understand it, but it worked. But since I could not understand it, I could not modify it. So I was forced to mothball it. I returned to Tensorflow about 6 months ago. This time with Keras, I could understand it, but I could not make it work. Most of the inability to make it work rested with the documentat

[2020-09-28 22:17] ymodak commented on #42060
You are required to have your model in SavedModel format.
See https://www.tensorflow.org/guide/saved_model#the_savedmodel_format_on_disk
Currently you are saving your model in `h5` whereas `SavedModelBundel.load()` is searching for an export directory containing SavedModel.pb
See https://www.tensorflow.org/api_docs/java/org/tensorflow/SavedModelBundle#public-static-savedmodelbundle-load-string-exp

[2020-09-28 22:22] bhack commented on #43193
You need  `pip install --upgrade tensorflow` inside the venv

[2020-09-28 22:26] CalendulaED commented on #43193
after install it, it shows missing 101
![image](https://user-images.githubusercontent.com/68514251/94492342-1867d400-01b8-11eb-886c-3daf09578ea0.png)

[2020-09-28 22:28] bhack commented on #43193
if you are still with CUDA 11 you need nightly `pip install tf-nightly`

[2020-09-28 22:33] CalendulaED commented on #43193
O, I think I can import tensorflow, but why do I need to run it in venv? So I can't run it without venv?

[2020-09-28 22:39] emckenzi123 commented on #10961
I know this is an old thread but I just wanted to say I was also having issues similar to this post, but using Tensorflow 2.  I was trying to use GPU 1 while training on another GPU (tweaking hyperparameters...).  I was a dum-dum and saw in the tutorials that you could specify GPU placement with "`with tf.device('/gpu:0'):`".

Don't assume that GPU 1+ follows this same pattern!!

In my case, putti

[2020-09-28 22:40] ymodak commented on #42968
This Stack Overflow [thread](https://stackoverflow.com/questions/56930821/why-does-embedding-vector-multiplied-by-a-constant-in-transformer-model) tries to address the very same question.
Perhaps you can engage with the community there to know more. Thanks!

[2020-09-28 22:43] kreegah commented on #43606
Hi,
all is well. I guess. I followed a hint from stackoverflow and inserted  a
command so tensorflow ignores my GPU, like this (please refer to the sample
code you linked):

# remaining code follows here

It worked perfectly, just as in the tutorial. So I guess we'll have to work
without GPUs.

Thanks!

On Sun, Sep 27, 2020 at 1:03 PM Abhilash Mahendrakar <
notifications@github.com> wrote:

[2020-09-28 22:43] Palkos83 commented on #43623
Well firstly I tried to force windows to install 418 driver again.
I extracted the installer and used Device Manager to force old Nvidia driver.
Sadly when that completed the TF2.3 could no longer find a CUDA device and reverted back to CPU training.

So the next thing to try was to use the tf-nightly as suggested.
Drivers checked (456 and 451)
Cuda 11
CUDNN versions checked 8.3 and 8.2

All combi

[2020-09-28 22:46] freedomtan commented on #43541
It's not because of resize_bilinear ops. It's mostly because of concatenation. There was `--change_concat_input_ranges` flag for older tflite_convert https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/tflite_convert.py#L454-L464

[2020-09-28 22:46] CalendulaED commented on #43193
When I tried to import tensorflow outside the venv, it will missing module, and I tried to upgrade pip, it shows the error
![image](https://user-images.githubusercontent.com/68514251/94493564-f0c63b00-01ba-11eb-8099-57549e853145.png)

[2020-09-28 22:52] bhack commented on #43193
This are windows permission issues of your shell. Please ask support to stackoverflow or other python support channels
https://stackoverflow.com/questions/51115744/access-is-denied-when-trying-to-pip-install-a-package-on-windows/55100713

[2020-09-28 22:57] ymodak commented on #41619
@sunilkumar-op Apologies for the delay in response. Is this still an issue?

[2020-09-28 23:00] CalendulaED commented on #43193
Thank you, I think I can run it without the venv, but what is the difference?

[2020-09-28 23:04] bhack commented on #43193
Nothing specific is to maintain a clean separate environment.

[2020-09-28 23:05] CalendulaED commented on #43193
Ok, thank you so much!!!! really help me a lots

[2020-09-28 23:05] #43193 closed

[2020-09-28 23:09] bhack commented on #43623
Please note also the we don't officially support conda.
Follow our official installation guide at https://www.tensorflow.org/install/pip

Anaconda has only third_party support https://docs.anaconda.com/anaconda/user-guide/tasks/tensorflow/

[2020-09-28 23:25] tomerk commented on #42022
Sorry for the delayed response here! The backend graph (& backend learning phases) have been historically prone to memory leaks, and we have put a lot of focus into getting rid of the global backend graph entirely in 2.4 to fix these leaks.

That said, the specific code snippet in this github issue enters a v1 `tf.Graph.as_default()` explicitly which is a legacy v1 graph compatibility mode. It wil

[2020-09-28 23:39] jvishnuvardhan commented on #43591
@kuan0808 I guess the root-cause is the mismatch in input arguments (x and y) to `model.fit`. Please [check](https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit) what is supported by `model.fit`.

The error clearly says

Can you please use supported types and let us know how it progresses. Thanks!

[2020-09-28 23:48] jdduke commented on #41943
If you're converting with the TF nightly, you'll need to use the nightly TFLite runtime for this particular op. That is, `org.tensorflow:tensorflow-lite:0.0.0-nightly`.

[2020-09-28 23:49] jvishnuvardhan commented on #43595
@sunzhe09 Can you please share a simple standalone code to reproduce the issue? Did you check whether the model (before conversion) upsampling as you are expecting? Thanks!

[2020-09-28 23:53] jvishnuvardhan commented on #43552
@llealgt Can you please share a simple standalone code to reproduce the error? Thanks!

[2020-09-28 23:59] jaentrouble commented on #43588
OK, here's all I have tried since installing 3080
`Ubuntu 20.04`
`cuDNN v8.0.3`

1. `CUDA 11.0 Update1 `

As you mentioned, building from the source with compute compatibility 8.6 failed.
I think it's because CUDA 11.0 does not support 30 series geforce graphics card.
They added 30 series in CUDA 11.1
However, installing with `pip tf-nightly` works.
The problem with pypi installation is that it do

[2020-09-29 00:02] 18jeffreyma commented on #43319
PR to fix this issue has been merged, thanks again!

[2020-09-29 00:03] #43319 closed

[2020-09-29 00:09] mgalgs commented on #41943
@jdduke changing to `org.tensorflow:tensorflow-lite:0.0.0-nightly` worked, thanks!

[2020-09-29 00:36] jvishnuvardhan commented on #43351
@17patelumang Can you please share a simple standalone code to reproduce any performance related issue? Can you please share as many details as possible about use-case and what you had tried and what is your goal of those optimizations. Thanks!

[2020-09-29 00:44] nutsiepully commented on #42253
There is a bug in your code.

Please use `preds = q_aware_model2(x, training=True)` instead of `preds = q_aware_model2(x)`. Because you are not building the training graph, the gradient tape does not do anything.

For QAT related issues, please file them in the Model Optimization Toolkit [repo](https://github.com/tensorflow/model-optimization). We keep a closer tab for MOT related issues there.

[2020-09-29 00:44] #42253 closed

[2020-09-29 00:44] alanpurple commented on #39333
@amahendrakar
no error currently, @skaldek 's comment is right, there should not be multiple versions of cuda

[2020-09-29 01:09] jvishnuvardhan commented on #43580
@Suzan009 Yes, is it possible in custom training in `tf.keras`. Are you facing any error? Can you please share a standalone code to reproduce the error. Thanks!

[2020-09-29 01:23] teijeong commented on #43615
Hi @kalaluthien,

From the stack trace, I guess it might be a similar problem to 60c4c3e. I'll take a look.

Meanwhile, I found building the framework with `-c dbg` option is helpful in inspecting code sometimes. Can you try that? (note that the library size would be about 1GB)

[2020-09-29 01:28] abattery commented on #43596
I managed to exclude TFLite fill op from quantizable op set. Could you try the conversion with the tomorrow's TF nightly version?

[2020-09-29 01:29] martinwicke commented on #43015
When including the code from leveldb, we did relicensed the original code, which was created by Google, under Apache2 for TensorFlow.

Hence, the license headers are correct.

I understand that it is confusing to automated systems to find similar code under a different license.

[2020-09-29 01:29] #43015 closed

[2020-09-29 01:32] le8888e commented on #43596
Hi @abattery ,

Thank you. But I tried both my model and ResNet50 with INT8 on x86 CPU, they both run much slower than FP32. Given the discuss in https://github.com/tensorflow/tensorflow/issues/40183, I think there is no speed up with INT8 on x86 CPUs.

[2020-09-29 01:48] bhack commented on #43631
@maciejwolczyk Yes I think that your problem is related to autograph with identity function. If you transform `a` e.g. `(1. + a)` and
if you insert a debugging print like:
[code]
before the return on the  `_create_grad_func`:
https://github.com/tensorflow/tensorflow/blob/55956aced7956ef25876096ffdf6434aab5e05e5/tensorflow/python/ops/cond_v2.py#L380-L382

You will see:
[code]
So you have 1 grad and

[2020-09-29 02:05] sunzhe09 commented on #43595
![image](https://user-images.githubusercontent.com/30410113/94504138-ae444300-023a-11eb-815e-6ff926881cc1.png)
@jvishnuvardhan I have check my training model summary,the Upsample2D is right shape;here is my  produce tflite code：

        f=open("./vallabels.txt", 'r')
        filenames=f.readlines()

        def representative_dataset_gen():
            for line in filenames:
                # Get

[2020-09-29 02:24] Hozzu opened #43637 "libhexagon_interface.so for non Android - eLinux platform"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Automotive Grade Linux
- Mobil

[2020-09-29 02:25] Harsh188 commented on #38349
This issue should be closed, #41775 got merged and fixed the issue with the documentation.

[2020-09-29 02:26] Luminosite commented on #43560
[code]
and I used same data directly in python to run the model like:
[code]
finally I got result with more precision bits:
[code]

[2020-09-29 02:40] bilisun opened #43638 "Keras batch norm performance issue with parameter server strategy"
**System information**

Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 16.04
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:
TensorFlow installed from (source or
binary): source
TensorFlow version (use command below): 1.14
Python version

[2020-09-29 02:47] luis-vera commented on #39240
I have the same problem. I modified scripts because I am using TF2 so I updated from tf.placeholder to tf.Variable and then I found this error.

[2020-09-29 02:56] rthadur opened #43639 "this is a test issue"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-09-29 02:58] fuhailin commented on #43605
@Saduf2019
I have created a [gist file](https://gist.githubusercontent.com/fuhailin/673b326fb4e7f653a35461326c700d2e/raw/341b36e21fb327af318842b4dad4a844cc5bfb60/adult_data.csv) to load, please check that [colab]( https://colab.research.google.com/gist/fuhailin/32e3b834cff5856c53d719fe877414cb/untitled418.ipynb) again.

[2020-09-29 02:59] #43639 closed

[2020-09-29 02:59] Luminosite commented on #43560
Thanks for the reply.
Here're my answers:
1, no, I only used a NN like the codes above.
2, we want to provide model prediction service by spark, so we need to make sure the results are as precise as python results.  And I didn't involve any rounding process, so I guess it should not be the rounding problem
3, results are almost same, all differeces are at 10^-7 level, so I think it's caused by dif

[2020-09-29 02:59] rthadur opened #43640 "bug in tf"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-09-29 03:00] #43640 closed

[2020-09-29 03:01] LanceNorskog opened #43641 "scatter_nd documentation is wrong"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-09-29 03:02] LanceNorskog commented on #43641
Oh hell, I misread the doc. Never mind.

[2020-09-29 03:02] #43641 closed

[2020-09-29 03:14] rthadur opened #43642 "doc issue"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-09-29 03:14] #43642 closed

[2020-09-29 03:14] yizhaoyanbo commented on #43541
I have tried to use  **--change_concat_input_ranges flag** in tf_converter. But the quantized model still have the int8->int8 quantization.
[code]

[2020-09-29 04:12] ThatGuyDV commented on #43582
Yep the problem was with third party transformer. When I used keras' optimizer, then my training is working properly. Thanks a lot for the advice. I guess Hugging Faces' create_optimizer does not support apply gradient method for now. I will add this issue to their forum. Thanks a lot once again.

[2020-09-29 04:26] kalaluthien commented on #43615
Hi @teijeong,

Thanks to your reply. I'll try `-c dbg` option and give you a feedback ASAP.
1) The broken model is quantized MNasNet. I'm sorry for not attaching specific model architecture and parameters.
2) I have tested it on `2.3.0`: b36436b and `2.3.1`: fcc4b96 and got same results.

[2020-09-29 04:31] amahendrakar commented on #41174
@amaiya,
Thank you for the update. Marking this issue as closed, as it is resolved.

[2020-09-29 04:31] #41174 closed

[2020-09-29 05:06] teijeong commented on #43615
Hmm, `2.3.1` doesn't seem to have  60c4c3e, nor fc49cbb2adf0b69f843f7bf904978648bffbe268. Did you cherry-picked those changes as you said in the commit's comment?

The problem is a tensor pointing to an invalid location after `context->tensors` is updated This happens when the underlying container gets full and reallocated. If `TfLiteTensor*` is being referenced after calling `context->AddTensors`

[2020-09-29 05:09] ravikyram commented on #43628
@dennisjay

Looks like you are using a custom module named "tritonhttpclient" in your code. In order to reproduce the issue, could you please provide the complete reproducible code including all the dependencies? Thanks!

[2020-09-29 05:13] #43219 closed

[2020-09-29 05:29] anugrahasinha commented on #27519
I think following option in Tensorflow2.x can help
[tf.config.run_functions_eagerly](config.run_functions_eagerly)

The place you are calling tf.function, you can try to execute it eagerly and then disable eager execution for tf.function.

[2020-09-29 05:47] jvishnuvardhan commented on #43312
@Debottam I quickly checked and looks like there was a shape mismatch between `y_pred` and `y_true` depending on whether `y_pred` is from model.fit or custom training. I added a `reshape` command as shown below and the error are similar from both the approaches.

`Y_pred = tf.reshape(Y_pred,(1,batch_size))`

Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardha

[2020-09-29 05:47] iperov commented on #43629
why there docker, if source code is just cannot handle cuda 11.1?

RTX 3080 does not work with CUDA < 11.1

[2020-09-29 06:03] dennisjay commented on #43628
@ravikyram the full code for installation and running is provided in the gist. The third party module for nvidia triton server can be downloaded here: https://github.com/triton-inference-server/server/releases/tag/v2.2.0 .

Thanks for looking at this.

[2020-09-29 06:15] sancheztavo commented on #41021
I also had this same issue when creating a model from an existing one the following way
[code]

And adding a name to the new Conv2D layer also solved it

[2020-09-29 06:17] markodjordjic commented on #43627
@bhack I have utilized the docker pull tensorflow/tensorflow:2.3.1-gpu-jupyter and I can confirm that the issue is _not_ resolved. Can you please take into account that the training is happening inside docker container on AWS and that I could be that keras.backend.clear_session() cannot release the RAM occupied by tf.keras,model in this setting.

[2020-09-29 06:25] aLLLiyyy opened #43643 "how to save a model with weights and paramters"
when i create a model and compiled it and call the model.fit() and then i saved the model called model.save(path)
then i tried to load my saved module and i get the model correctly but  it cannot load the ckpt files so the evaluate result showed accuracy is around 10%,  i mean, how can i load module without training it again?

[2020-09-29 06:26] Saduf2019 commented on #43629
@iperov
Please refer to these [configurations](
https://www.tensorflow.org/install/source#tested_build_configurations).

Please note as per process we do not have support for tf 1.x you have to upgrade to 2.x.

[2020-09-29 06:34] yizhaoyanbo commented on #43541
@freedomtan
I tried to add a conv+relu layer before concat to make the two inputs of concat are in the same range. But it seems not work.

![image](https://user-images.githubusercontent.com/26928415/94521570-dd6dab00-0260-11eb-9310-76defea81ff6.png)

[2020-09-29 06:37] jammm commented on #42022
@tomerk  Thanks a lot for your reply! I'm currently using tf.function in many places. How do I make sure that it's running in eager mode in code outside of tf.function?

[2020-09-29 06:40] Saduf2019 commented on #43637
@Hozzu
Please refer to these issues and let us know if it helps: #35506 #39736 #38302

[2020-09-29 06:44] iperov commented on #43629
@Saduf2019

The main issue is not about support 1.x.
Issue is 1.x does not support new cards starts from RTX 3000 series.

Is this problem with CUDA ( NVIDIA breaks backward compatibility ? ) or the source code of TF 1.x has bugs ?

This is serious reason not work with TF and/or CUDA anymore.

Please discuss this topic with your devteam.

[2020-09-29 06:48] Hozzu commented on #43637
I understand that the source code cannot be shared because of license.
Then, I want to get the binary of libhexagon_interface.so for aarch64 Linux without Android dependencies.
It seems that karimnosseir sent this binary to some people.
How can I get it?

[2020-09-29 06:51] kalaluthien commented on #43615
I tested (a) `2.3.0` + cherry-picked (60c4c3e, fc49cbb), (b) `2.3.0`, (c) `2.3.1`.

[2020-09-29 06:54] Saduf2019 commented on #43637
@karimnosseir  could you please share the requested binary.

[2020-09-29 06:55] haiqinzhong commented on #43323
Thank you, I'll try again. And I'll tell you what happen soon

[2020-09-29 06:56] Hozzu commented on #43637
pkshin@redwood.snu.ac.kr

Thank you!

[2020-09-29 07:01] klaimans commented on #42119
@jvishnuvardhan

It still fails for me without the explicit tf.function decorator when running tensorflow inside a docker container using the tensorflow/tensorflow:latest-gpu-jupyter image (tf version 2.3.0). I also tried using the nightly version on my mac and that fails as well with the same error (version '2.4.0-dev20200926').

Now for the interesting part, directly on the Ubuntu Server it seem

[2020-09-29 07:04] felix-johnny commented on #42883
With changes coming in, I realize linking the line number for the function start wasn't a smart idea!
It is PopulateConvolutionQuantizationParams()

// Per-axis & per-tensor
TfLiteStatus PopulateConvolutionQuantizationParams(
    TfLiteContext* context, const TfLiteTensor* input,
    const TfLiteTensor* filter, const TfLiteTensor* bias, TfLiteTensor* output,
    const TfLiteFusedActivation& activa

[2020-09-29 07:11] freedomtan commented on #43541
It's a bit complicated. For current tllite_converter, there are (non-MLIR converter or MLIR-based converter) + (non-MLIR quantizer or MLIR-based quantizer). In order to check what caused your problem and how to fix it, you have to know which one you're using first. Unfortunately, I don't know if there is good documentation except the source code.

[2020-09-29 07:13] #43179 closed

[2020-09-29 07:13] #43212 closed

[2020-09-29 07:13] #43227 closed

[2020-09-29 07:13] #43228 closed

[2020-09-29 07:21] kalaluthien commented on #43615
Thanks for your advise. `-c dbg` is amazing...
[code]

I'll cherry-pick them and give you the feedback soon.

[2020-09-29 07:27] Sangpil-Han commented on #3986
I think it's not working in Tensorflow 1.15.2

[2020-09-29 07:28] maciejwolczyk commented on #43631
That seems correct, thanks! Still, it is a rather unexpected behaviour. Is there a possible fix? If not, then I think an error message explaining what happened would be nice.

[2020-09-29 07:40] ravikyram commented on #43628
@dennisjay

I tried in colab and seeing the error message as `ConnectionRefusedError: [Errno 111] Connection refused`.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/c8b0d56d7b13f632b5aa67f8c0e56186/untitled402.ipynb). Thanks!

[2020-09-29 07:45] PMatthaei commented on #43238
Any updates on this issue?

[2020-09-29 07:45] kalaluthien commented on #43615
Same bug at `delegates/utils.cc`

[code]

[2020-09-29 07:47] ravikyram commented on #43643
@aLLLiyyy

Please, go through this [tutorial ](https://www.tensorflow.org/tutorials/keras/save_and_load?hl=en)and see if it helps you.Thanks!

[2020-09-29 08:02] yycoolsam commented on #34900
https://colab.research.google.com/gist/jvishnuvardhan/d067175a157d12ac60e4f542909fe9ee/untitled696.ipynb?pli=1#scrollTo=yMjg4KokVEY5

i run the code,it error

ValueError: The two structures don't have the same nested structure.

First structure: type=TensorSpec str=TensorSpec(shape=(None, 512), dtype=tf.int64, name='inputs')

Second structure: type=dict str={'input_ids': TensorSpec(shape=(None, 5)

[2020-09-29 08:22] PetrProkopNXP commented on #43015
Hi @martinwicke,
Sorry for my insisting. I can imagine code licensed once under BSD may be relicensed by its copyright owner.
Similarly, BSD licensed component might be _used_ in Apache licensed project by anyone.
But I have no idea what legal title could empower a user to relicense someone else’s BSD code, not giving attribution to original author, in environment of open-source.

You are right, t

[2020-09-29 08:27] amahendrakar commented on #39333
@alanpurple,
Thank you for the update. Marking this issue as close, as it is resolved. Please feel free to re-open the issue if necessary.

[2020-09-29 08:27] #39333 closed

[2020-09-29 08:45] kalaluthien commented on #43615
Another try:
![스크린샷 2020-09-29 17 39 58](https://user-images.githubusercontent.com/6360552/94534619-8f19d580-027b-11eb-9fc4-467df872d427.png)

[2020-09-29 08:46] SherryJYC commented on #39132
Same problem and I solved it by uninstall tensorflow 2.3, and install tensorflow-gpu 2.0.0.
Before that, I tried to add path of cuda 11, and also use latest tf-nightly-gpu but they didn't work.

[2020-09-29 08:50] ikyasam18 opened #43644 "TRTEngineOp is not used"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platfor

[2020-09-29 09:00] amahendrakar commented on #43481
@Pranshu195,
Thank you for the update. Marking this issue as closed, as it is fixed. Please feel free to re-open if necessary.

[2020-09-29 09:00] #43481 closed

[2020-09-29 09:16] MilanovicB commented on #24135
Just go to your tesnorlflow source dir, and edit with command nano the ..~third_party/icu/**workspace.bzl** file.

Once opened find the line with "sha256" and between " signs put "86b85fbf1b251d7a658de86ce5a0c8f34151027cc60b01e1b76f167379acf181"

Ctrl + O and then Ctrl + X or just CTRL+X and Y press Enter.

Problem solved, before that I had problem with numpy, so if that occurs, just do apt-get in

[2020-09-29 09:35] janpfeifer commented on #43555
Thanks, yes, this seems a dup.

And thanks for the fix suggestion. I think i'll live with with the warning eyesore ... I dislike having these hacks (with potential unintended consequences) that need to be undone later.

[2020-09-29 09:50] yizhaoyanbo commented on #43541
@freedomtan
I have modify the model to avoid using concat. Now the model can be executed by only one nnapi delegate kernel, and running on dsp. But the performance using nnapi-8bit (90ms) is just a little better than gpu-fp16（120ms). I want to get about 2x speed up on dsp, but it doesn't.

- nnapi-delegate, qti-dsp
[code]

- gpu delegate, use fp16 precision

[code]

[2020-09-29 09:53] kuan0808 commented on #43591
Do you mean the dimension mismatch?
I have check the dimension, and they should be matched. And both x, y are ragged tensors, which is supposed to supported by model.fit I think🤔

[2020-09-29 09:56] bhack commented on #43631
/cc @saxenasaurabh

[2020-09-29 09:58] bhack commented on #43631
/cc @sun51

[2020-09-29 10:10] Saduf2019 commented on #43644
@ikyasam18
As you have mentioned you are using tf version 1.13 which is very old version and there is no support for tf 1.x versions can you please upgrade to 2.x versions and let us know if this is still an issue.Thanks!

[2020-09-29 10:10] innovativeC opened #43645 "Keras EarlyStopping callback on val_auc running mysteriously"
**System information**
- OS : Windows 10
- Python version : 3.6.5
- Tensorflow : 2.3.0
### Simple DL GridsearchCV modelling using Keras

[code]

### Output
`471/471 - 1s - loss: 0.7568 - acc: 0.6019 - auc: 0.6357 - val_loss: 0.4909 - val_acc: 0.7600 -
val_auc: 0.8676
125/125 - 0s - loss: 0.5264 - acc: 0.7751 - auc: 0.8459
WARNING:tensorflow:Early stopping conditioned on metric `val_auc` which is n

[2020-09-29 10:23] G4V opened #43646 "CMake issues when building TFLite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS
- TensorFlow installed from (source or binary): source
- TensorFlow version: 8a643858ce174b8b (master)
- Bazel version (if compiling from source): CMake 3.18.2
- GCC/Compiler version (if compiling from source): GCC 7.5.0 / LLVM 6.0

**Describe the problem**

I'm seeing various issues whilst trying

[2020-09-29 10:38] amahendrakar commented on #43624
@brendanxwhitaker,
On running the Colab notebook you have provided with the latest TF-nightly, I am facing an error stating `tensorflow/lite/kernels/reshape.cc:58 stretch_dim != -1 (0 != -1)Node number 5 (RESHAPE) failed to prepare.
Node number 125 (WHILE) failed to prepare.` Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3191da10980ff8d1493e6ff76eaa394f/4362

[2020-09-29 10:39] jaeyoo commented on #43624
I saw that the transpose op says different dimensions. Could you check your input tensors have the right dimensions?

To check it, please use python interpreter first. It is easy to test the dimension.

Here is the example colab notebook to resolve the issue.

https://github.com/TensorSpeech/TensorFlowTTS/blob/master/notebooks/TensorFlowTTS_Tacotron2_with_TFLite.ipynb

Please see "Inference from T

[2020-09-29 10:42] GeorgeS2019 commented on #35405
@av8ramit   => thanks for the right next step to proceed. 👍

[2020-09-29 10:44] dennisjay commented on #43628
The notebook requires the nvidia triton docker container to be running. With this command from cell 17:

docker run --rm -p8030:8000 -p8031:8001 -p8032:8002 -v`pwd`/test_repo:/models nvcr.io/nvidia/tritonserver:20.08-py3 tritonserver --model-repository=/models

Please be shure to execute it from within the notebook path.
Sorry for the little bit complicated reproduction.

[2020-09-29 10:48] Saduf2019 commented on #43629
@iperov
As tf  1.x is not actively maintained anymore, there is no work on 1.x, hence please upgrade to 2.x ans there is support for it only now and any issues and up-gradation is performed on 2.x only.

[2020-09-29 10:51] Superhzf commented on #31412
I'm using TF 2.3.1, I still get the same warning.

[2020-09-29 10:52] iperov commented on #43629
@Saduf2019
I don't need actively maintain 1.x
Just fix support RTX 3000 for 1.15

[2020-09-29 11:12] Palkos83 commented on #43623
Hi
So as suggested I tried to run it directly in Python using the clean install and excluding conda for environments management.
NVidia Driver : 456.43
Cuda 11.1
CUDNN 8.2
TF Nightly:2.4.0-dev20200928

And sadly still this same issue...

2020-09-29 12:09:29.665890: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library cudart64_110.dll
#################

[2020-09-29 11:16] cookiehunter opened #43648 "LookupError when computing nested gradient with UpSampling2D"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (use command below): 2.3.1
- Python version: 3.7.4
- CUDA/cuDNN version: 10.1
- GPU model and memory: NVIDIA GeForce GTX 10

[2020-09-29 11:26] ravikyram commented on #43604
@asterisk37n

I have tried in colab with TF 2.3 and i am seeing the  error message(`TypeError: 'module' object is not callable`). Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/67d0a29ccb8d51a02e6bfe60d0df0228/untitled403.ipynb). Please, help me with reproducible code, to localize the issue faster.Thanks!

[2020-09-29 11:27] bhack commented on #43623
What is the output of
[code]

[2020-09-29 11:28] Palkos83 commented on #43623
Python 3.8.6 (tags/v3.8.6:db45529, Sep 23 2020, 15:52:53) [MSC v.1927 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

**True**

[2020-09-29 11:35] amahendrakar commented on #43631
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/39a267c0a2ce7a7285228b3e431f1302/43631-tf-nightly.ipynb). Thanks!

[2020-09-29 11:42] bhack commented on #43623
Can you check free GPU RAM with `nvidia-smi`?

[2020-09-29 11:54] amahendrakar commented on #43638
@bilisun,
TensorFlow 1.x is not actively supported. Could you please update TensorFlow to v2.3 and check if you are facing the same issue.

Also, in order to expedite the trouble-shooting process, could you please provide a minimal working example to reproduce the issue reported here. Thanks!

[2020-09-29 11:55] sherhut commented on #43556
`tf_to_gpu_binary` does not support unranked code generation, it requires a ranked input. For the unranked case, you can generate a version for a 1d vector and use that with some host-side glue code to transform the unranked tensor into a 1d vector and the inverse for the result.

If you want to have that glue code also be generated, you need to use `tf_to_kernel`, which will produce a library fil

[2020-09-29 11:55] #43556 closed

[2020-09-29 12:03] lmoesch commented on #26502
still not solved for TF 2.1 (Pylance 2020.9.6)

[2020-09-29 12:04] bilisun commented on #43638
Trying v2.3 might take some time, will check back in with you.

In the meantime, where can I find the rationale for https://github.com/tensorflow/tensorflow/commit/88ad9949ef4ea6e07105a326a1d21c108cb2883a#diff-c2a77473d7da4416da00fd1c7050f26dR367? Thank you!

[2020-09-29 12:14] AakashKumarNain opened #43649 "Unable to convert simple LSTM keras model to tflite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (or github SHA if from source):

**Command used to run the converter or code if you’re using the Python API**
Colab link: https://colab.research.google.com/drive/14HxDxImtW769ldxblyowXulKc7_Poi1G?usp=sharing

# Copy and paste here the e

[2020-09-29 12:16] Nika-St commented on #43622
Fair! So maybe it makes sense to cover these cases - maybe not within this function actually (otherwise, its name would be misleading), but as a separate one - say, `safe_divide()`?

[2020-09-29 12:24] amahendrakar commented on #43645
@innovativeC,
On running the given code, I am facing an error stating `NameError: name 'data_seg' is not defined`.

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2020-09-29 12:31] dennisjay commented on #43628
@ravikyram were you able to reproduce the error?

[2020-09-29 12:32] Palkos83 commented on #43623
Tue Sep 29 13:32:24 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 456.43       Driver Version: 456.43       CUDA Version: 11.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage

[2020-09-29 12:32] shlomi-amitai commented on #43529
Hi @abattery ,
Thank you so much, I tried, and don't see any error regarding the tf.TensorScatterUpdate op,
though I get now a new error related to tf.concat op.
Maybe something is broken there?
saved_model attached.
[saved_model.zip](https://github.com/tensorflow/tensorflow/files/5298930/saved_model.zip)
(problem in concat_415)

[2020-09-29 12:38] amahendrakar commented on #43649
@AakashKumarNain,
I was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/ad349af3e5bf8ce6034a6f72b05bb20a/43649.ipynb). However, the issue seems to be fixed with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/a65cbd9a4e81d06dc0189540d510a6d6/43649-tf-nightly.ipynb). I was able to run the code without any errors. Please find

[2020-09-29 12:42] shlomi-amitai commented on #43529
<unknown>:0: error: loc("Concat_415"): operand type 'tensor<1x32x112x20xf32>' is not compatible with preceding operands; expected dimension at index 3: 160
<unknown>:0: note: loc("Concat_415"): see current operation: %1202 = "tf.ConcatV2"(%525, %652, %1201, %1197, %1189, %1185, %24) {device = ""} : (tensor<1x64x112x160xf32>, tensor<1x128x112x160xf32>, tensor<1x32x112x20xf32>, tensor<1x32x112x10xf3

[2020-09-29 13:09] brendanxwhitaker commented on #43624
Hi @amahendrakar , what Colab notebook are you referring to? I will work on paring down the example. @jaeyoo , there is inference code in the python script attached above. It runs fine, the issue is in the translation to C++. I think you might be right, my suspicion is that my API usage in wrong in some way, the C++ API documentation is rather sparse. The you linked is what I've adapted the C++ in

[2020-09-29 13:12] brendanxwhitaker commented on #43624
In particular, my guess is that the following snippet:
[code]
is not equivalent to the python version, which works correctly:
[code]

Does the way I've filled the input tensor and resized the inputs make sense?

[2020-09-29 13:18] donthomasitos commented on #36901
In my setup, the error is linked to `tf.random.set_seed`. If I use the stateless versions of the random functions, the error only occurs once and works for subsequent batches. If I call `set_seed `every time, the error occurs at every call of the `tf.function`.

[2020-09-29 13:22] asterisk37n commented on #43604
@ravikyram
Sorry the data loading line should be
```data = dataloader.get_data('path/to/audio/*/*.mp3', 64)```
, not
```data = dataloader('path/to/audio/*/*.mp3', 64)```
. I fixed and updated the code I shared in this issue (Scroll up to see).
I reproduced in colab:
https://colab.research.google.com/drive/1AGxb0cYWEHxpj-cWL_X6YT3lfW57H92Q?usp=sharing

[2020-09-29 13:31] bhack commented on #43623
/cc @cheshire

[2020-09-29 13:32] dhyeythumar opened #43650 "Custom loss function is not working"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 20H2
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.3.0
- Python version: 3.8.3

**Standalone code to reproduce the issue**
https://colab.research.google.com/drive/1wa93OGIfXVY66GHO6wI1O9PnZyxXB-KJ

**Describe the behavior**
I am implementing the PPO algorithm using Keras bu

[2020-09-29 13:33] amahendrakar commented on #43606
@kreegah,
Sorry for the delayed response.

The Python version of the notebook is Python v3.6.9.

Marking the issue as closed since it is resolved. Please feel free to re-open the issue if necessary. Thanks!

[2020-09-29 13:33] #43606 closed

[2020-09-29 13:38] Saduf2019 commented on #43629
as explained above there is no support for 1.x now, no fixes/changes will be made to 1.x.

[2020-09-29 13:43] bhack commented on #43629
Please follow our migration guide https://www.tensorflow.org/guide/migrate

[2020-09-29 13:48] MarkDaoust commented on #43465
No. Absolutely not.

[2020-09-29 13:48] #43465 closed

[2020-09-29 13:48] ml-0 commented on #41900
I just found the reason for the observation on my side: the application project includes header files from TFLM to instantiate the interpreter. I missed to define TF_LITE_STATIC_MEMORY when including such header files.

Is not a bug in TFLM.

[2020-09-29 13:55] bhack commented on #43627
Can you run my example unmodified on your  setuo and paste the output here?

[2020-09-29 14:03] AakashKumarNain commented on #43649
Thanks @amahendrakar . Is it possible to convert a model trained in `2.3` with `nightly` version?

[2020-09-29 14:16] amahendrakar commented on #43585
@quartermaine,
Could you please upload it to your Google Drive and share the link of the folder with us. Thanks!

[2020-09-29 14:16] markodjordjic commented on #43627
@bhack here you go. TF docker image tensorflow/tensorflow:2.3.1-gpu-jupyter.

algo-1-7b5eo_1  | 2020-09-29 14:14:14.820908: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): Host, Default Version
algo-1-7b5eo_1  | memory -> step     0 Max 806536 Min 806536 Mean 806536
algo-1-7b5eo_1  | memory -> step  1000 Max 813376 Min 806332 Mean 811834
algo-1-7b5eo_1  | memory -> s

[2020-09-29 14:17] markodjordjic commented on #43627
@bhack it revealed the problem.

[2020-09-29 14:29] Saduf2019 commented on #43648
@cookiehunter
From the code shared you are using random data and generator is unable to get a point of reference, you can declare a watch before you write  tf.GradientTape() as inner Tape.(your indentation is incorrect as well)
I cannot see the @tf.function wrapper, this does not seem like a bug from tf end.
please refer to these links: [link](https://www.programcreek.com/python/example/112480/ten

[2020-09-29 14:49] cookiehunter commented on #43648
@Saduf2019
Essentially what i am trying to do is measure the influence of inputB on the output of the model inside the loss calculation and use that influence as part of the loss.
My random inputs (inputA and inputB) are just placeholders for my real data in this example.
I am computing the gradient of the model output wrt inputB (innerTape). That gradient takes part in the final loss calculation

[2020-09-29 14:58] bhack commented on #43627
I've try in the same docker image that you have used but on a machine without cuda devices and it doesn't seems to me growing monotonically. At 10k steps is less then 3k steps:
[code]

Can you verify if your problem is on GPU only? Run the same with this before the loop
[code]

[2020-09-29 14:59] Saduf2019 commented on #43648
@cookiehunter
Please provide with complete code  or colab gist with complete code as mentioned in above comment.

[2020-09-29 15:10] BlueLobster413 opened #43651 "Error "Cannot iterate over a tensor with unknown first dimension" when using TF Keras Attention Layer."
Hello,
I'm trying to implement a Text Summarizing model Seq2Seq model with Attention layer, while building the layer, I'm getting the above error exactly at Attention Layer which is imported from TF Keras Layer.

Code Section:
`# Decoder
decoder_input = Input(shape=(None,))
decoder_embed = Embedding(y_vocab_size, embedding_dim, trainable=True)(decoder_input)

decoder_lstm1 = LSTM(300, return_state

[2020-09-29 15:22] saxenasaurabh commented on #43631
Control flow does not support persistent tape yet. When taking gradient of a control flow op, we update the forward op with extra outputs which the tape is unaware of and hence there is a mismatch between the number of incoming grads and the number of outputs of the forward op. One workaround for now is to wrap the `tf.cond` inside a tf.function:

[code]

[2020-09-29 15:28] amahendrakar commented on #43582
@ThatGuyDV,
Thank you for the update. Marking this issue as closed, please feel free to re-open the issue if necessary.

[2020-09-29 15:28] #43582 closed

[2020-09-29 15:43] cookiehunter commented on #43648
@Saduf2019
My full source code is outside the scope of colab as it is quite large.
I have boiled down the code even further. I got rid of keras completely, just plain tensorflow code.
I boiled down the code to essentially 1 number only (well 4 if you count the nearest neighbor resize).
In this simple example, i can now calculate the derivative by hand, but still tensorflow is unable to.
[New code

[2020-09-29 15:46] wmcnally commented on #32809
This always returns flops as x2 the number of model parameters, which is incorrect. Has anyone else experienced this issue?

[2020-09-29 15:51] bhack commented on #43631
@saxenasaurabh Thanks.. Do you think that  we can improve the error message?
Cause without internals debugging It Is hard to understand what's happen.

[2020-09-29 16:06] amahendrakar commented on #43559
@mikolajkania,
Thank you for the update. I was able to run the code without any issues with TF v2.3. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/8ba8ae4260d781f55361850b76100b32/43559.ipynb#scrollTo=CsRQcxJcgi2B).

Could you please update TensorFlow to v2.3 and check if you are still facing the same error. Thanks!

[2020-09-29 16:09] amahendrakar commented on #42412
@Ananas120,
I did not face any errors even on running the `train_step` function for 500 times. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/c30551922fa8edda8bd2d001532da5d4/42412.ipynb#scrollTo=IfpfhWMBW09b). Thanks!

[2020-09-29 16:15] tanzhenyu commented on #39177
This is fixed by @WindQAQ

[2020-09-29 16:15] Allen7276 commented on #40645
so how to use proxy for gradle please? For the result of China Government, we normal Chinese cant use Google at random!

[2020-09-29 16:17] Allen7276 commented on #40645
I try to deal with this question more than 4h, but I couldn't find a suitable way to solve it!

[2020-09-29 16:22] saxenasaurabh commented on #43631
We should throw a better error message for sure. I will also try to think of a fix.

[2020-09-29 16:42] bobharris commented on #42906
I am trying to track this down as well.

I'd like to get the associated wheels.
https://www.tensorflow.org/lite/guide/python
build for Beagle Bone Black.

Illegal Instruction upon invoking models which invoke fine on an RPI.

I've solved this before with the C intepreter. However I'd like to use Python this time.

[2020-09-29 16:46] dansitu commented on #32809
None of the described methods have worked for me in anything TF 2.x; I spent an hour writing my own calculator and then moved on. I'd recommend doing the same.

[2020-09-29 16:51] advaitjain commented on #43359
This was a regression that slipped through our CI system.

b3bacdc0f4f784769e7d8d196cbe3c654cf40b7a fixed this issue and ff9f5aab8b03ed3e36b4512b4c3fbd3e3bb29cd0 makes sure that a similar regression will be caught before it is merged.

I'm closing the current issue but please reopen this or make a new issue if things do not work for you from tip of tree.

[2020-09-29 16:51] #43359 closed

[2020-09-29 16:55] ravikyram commented on #43604
I have tried in colab with TF version 2.3, nightly version(`2.4.0-dev20200929`) and was able to reproduce the issue.PLease, find the gist [here.](https://colab.research.google.com/gist/ravikyram/a6214cf24cad63043638daa58d38325c/untitled403.ipynb)Thanks!

[2020-09-29 16:55] tanzhenyu commented on #40203
Yep, this should be fairly simple, contributions welcome!

[2020-09-29 16:57] Saduf2019 commented on #38336
@matthewn4444
please update if this is still an issue.

[2020-09-29 16:58] Saduf2019 commented on #38168
@klicperajo,
Can you please try on the latest tf- version and let us know if this is still an issue.

[2020-09-29 17:02] yaronnaim commented on #36024
No clear what was the solution.

[2020-09-29 17:05] Saduf2019 commented on #36181
I am able to replicate this issue on tf-nightly (2.4.0-dev20200929), please find the [gist here](https://colab.research.google.com/gist/Saduf2019/2a7de31fddf7d8b5d942bfd7aefd9513/untitled418.ipynb).

[2020-09-29 17:07] Saduf2019 commented on #36893
@orf
Is this still an issue.

[2020-09-29 17:09] Saduf2019 commented on #38626
@WenguoLi
Is this still an issue, could you please try on the latest tf version and update.

[2020-09-29 17:18] #42748 closed

[2020-09-29 17:27] wmcnally commented on #32809
For those still struggling with this, check out [keras-flops](https://pypi.org/project/keras-flops/). I verified the number of flops against the EfficientNets and ResNets. `get_flops(model, batch_size=1)` consistently returns double the number of flops reported in the literature, so it's likely that the literature assumes [fused multiply-adds](https://en.wikipedia.org/wiki/Multiply%E2%80%93accumul

[2020-09-29 17:28] paultanger commented on #40203
I can submit a pull request, wasn't sure exactly how to document it, would that be better to discuss in the pull request?  Otherwise, what about adding this to the docstring:

`img_paths: Whether to return the filepaths of the images read from the dir.
`

[code]

[2020-09-29 17:32] martinwicke commented on #43015
LevelDB is composed either entirely of a) contributions Google received under CLA, or b) Google-employee authored code. a) gives us a "sublicense right", which means we can apply any license we choose to the code.

[2020-09-29 17:35] tanzhenyu commented on #43628
I see you're already using TF 2.4. Please try to use [Keras Preprocessing Layer](https://github.com/tensorflow/community/blob/master/rfcs/20191212-keras-categorical-inputs.md) which gives you much more flexible control for dtypes.

[2020-09-29 17:41] markodjordjic commented on #43627
@bhack the AWS instance on which I ran the script was CPU only.

[2020-09-29 17:44] tanzhenyu commented on #40203
I think you can turn on by default, without any API change? This doesn't seem like a backward-incompatible change to me.

[2020-09-29 17:50] paultanger commented on #40203
If people have scripts setup only expecting a dataset to be returned it could break things, no?  It would put the dataset and image paths into a tuple.

[2020-09-29 17:57] tanzhenyu commented on #40203
You just need to add a `dataset.file_names = ...`, right?

[2020-09-29 18:01] ewilderj commented on #43015
@PetrProkopNXP if you need any attorney communication about this please drop me an email at ewj at google.com

[2020-09-29 18:04] rgov commented on #42906
Use the `bbb` target where available. The lines I linked to in the top post are where you need to hack the code to use `bbb` where it says `rpi`. Good luck.

[2020-09-29 18:18] advaitjain commented on #42883
Adding a permalink to the function:
https://github.com/tensorflow/tensorflow/blob/195369c5a0c63fb51f1deea1e05bd78e23e90cc2/tensorflow/lite/kernels/kernel_util.cc#L201-L217

[2020-09-29 18:40] jvishnuvardhan commented on #42119
@klaimans I am not sure about the docker build but I ran the same code that I shared above on my Mac and it runs and output same results from the two models. My TF version is `'2.4.0-dev20200819'` Thanks!

[2020-09-29 18:44] ymodak commented on #41950
@beew Can you please share a gist showing the discrepancy in accuracy across various versions?
I have tested with Keras 2.3.1 and got accuracy of 83%, whereas with TF 2.3 and Keras - 2.4.3 it is 86% . Thus, I see better accuracy with later version.
Also which error did you encounter?
May be I am missing something here. Thanks!

[2020-09-29 18:53] jinay1991 commented on #36024
This ha

As I have noticed, this has been fixed and included in Release [v2.3.0](https://github.com/tensorflow/tensorflow/releases/tag/v2.3.0) -> Checkout Release Notes (tflite section)

[2020-09-29 19:08] jvishnuvardhan commented on #43560
@Luminosite I am not sure about higher precision API in java. May be experts at [`tensorflow.js`](https://github.com/tensorflow/tfjs/issues) repository might be able to help you. Thanks!

[2020-09-29 19:11] Doekeb opened #43653 "tensorflow.keras.backend.dot does not work as expected when second argument is 3-dimensional or higher"
# System information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
    - Yes (but reproducing this bug requires very minimal code)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
    - Manjaro Linux (rolling release)
- TensorFlow installed from (source or binary):
    - binary
- TensorFlow version (use command below):
    - git version

[2020-09-29 19:13] Doekeb commented on #43653
There are of course plenty of workarounds: You can simply reshape your data, or you can use `tensorflow.dot(x, y, axes=(-1, 0))`.

[2020-09-29 19:27] crawles commented on #40063
This was fixed in

https://github.com/tensorflow/estimator/commit/2a3cf0794da5016bdb92239783e53859ca66c018

[2020-09-29 19:27] ymodak commented on #43597
You may want to rename all the layers of either FE1 or FE2 in your example.
For instance;
[code]

[2020-09-29 19:27] #40063 closed

[2020-09-29 19:30] johntmyers commented on #41042
Hello- is this still being tracked? I think I hit this same issue in `2.4.0-dev20200929`. I'm running on a CPU on Mac OS X.

[2020-09-29 19:36] paultanger commented on #40203
Currently it just creates a Dataset not TFRecordDataset so it doesn't have a file_names attribute, but could change that.. maybe more involved.  Would it make sense to do that inside this paths_and_labels_to_dataset?

[code]

[2020-09-29 19:44] Int37 opened #43654 "can't compile tensorflow from source"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlo

[2020-09-29 19:53] cookiehunter commented on #43648
I just found a workaround. Instead of using tensorflows UpSampling operation I defined my own version using tf.repeat along both dimensions. It can obviously only perform nearest neighbor upsampling as opposed to the actual UpSampling2D that has the option to use bilinear sampling. But it works just fine and does not have the gradient bug:

[code]

[2020-09-29 19:57] tanzhenyu commented on #40203
Yes the assumption here is that once you get the Dataset object, you can retrieve `file_names` from it otherwise the information will get lost after map or batch functions, or any conversion to TFRecordDataset in your case.

[2020-09-29 19:59] tomerk commented on #42022
If you're using tf2 and haven't explicitly used the `tf.compat.v1.disable_eager_execution()` command it should be eager. If you're not sure and you want to check it programmatically, you can use `tf.executing_eagerly()`: https://www.tensorflow.org/api_docs/python/tf/executing_eagerly

It will return True when running eagerly, and False when tracing a tf.function into a graph.

[2020-09-29 20:00] tomerk commented on #42022
I'm not sure if your issue #41718 is related to this though, that one will necessitate a closer look

[2020-09-29 20:02] yiliu9090 opened #43655 "A new feature in tf.roll"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
Tensorflow 2.1.0
- Are you willing to contribute it (Yes/N

[2020-09-29 20:05] bhack commented on #43654
`bazel build --config=cuda //tensorflow/tools/pip_package:build_pip_package`

` [--config=option]` it is just a placeholder/template. It means: add  manually other config options if you need.

[2020-09-29 20:08] tomerk commented on #41718
Quick triage notes:
* This doesn't use keras (even though the repro includes a keras backend clear_session call)
* The repro example appears to use: tf.function, gradienttape, autograph, tensorarrays, iteration. The memory usage appears to be a problem when using multiple threads.

@jammm , some quick questions for you:
1. are you observing that the memory usage is proportional to the number of th

[2020-09-29 20:08] ymodak commented on #43646
Did you get a chance to refer [Build TensorFlow Lite with CMake](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/cmake#build-tensorflow-lite-with-cmake) guide?

[2020-09-29 20:17] nikitamaia commented on #41042
Yep, still being tracked. There is currently discussion on the best solution but no complete fix yet.

[2020-09-29 20:20] gowthamkpr commented on #33837
@alexbooth @RomanGirin I tried to reproduce this issue using latest version of tf-nightly and ran into this issue. You can find the gist [here](https://colab.research.google.com/gist/gowthamkpr/278d021807df0870d9d2d6911a90fefc/untitled317.ipynb). Can you please try reproducing it and let us know if the issue  still persists. Thanks!

[2020-09-29 20:24] #21391 closed

[2020-09-29 20:55] maciejwolczyk commented on #43631
Great, thanks, I will use it for now!

I agree that a better error message would be very useful.

[2020-09-29 21:08] relativeflux opened #43656 "TF hangs on HTC Cluster"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-09-29 21:23] leimao commented on #18879
@ZhuXinyan @sc1991327 @sunglowzhang @VVingerfly
It is likely that the building of the shared library did not include the header file correctly.
If this [particular line](https://github.com/tensorflow/custom-op/blob/master/Makefile#L5) is incorrect, the custom op interface will not find the method or attribute correctly.

[2020-09-29 21:28] Int37 commented on #43654
Yes indeed. I thought that the [--config = option] parameter was needed to explicitly tell bazel that options should be read from the config file, I was wrong. Silly mistake. I am very grateful to you,my thanks

[2020-09-29 21:28] #43654 closed

[2020-09-29 21:41] innovativeC commented on #43645
@amahendrakar , data_seg.x_tr and data_seg.y_tr are actually the X and Y_true datasets used here. You can insert any classification dataset here, the result I am getting is constant across any classifcation dataset I have used whenever I've utilized auc as stopping metric.

PS - Can't share the complete code, since its proprietary. That being said, only preprocessing of the dataset was done prior

[2020-09-29 22:03] skye commented on #38477
Hi @Conchylicultor, I'm still seeing this issue with TFDS `3.2.1`. `3.1.0` works for me.

[2020-09-29 22:04] abattery commented on #43649
@AakashKumarNain Yes, you can bring old TF models to the recent TF version. However, for inference, you need to match your TF version with the same TF version, which is used for conversion.

[2020-09-29 22:10] DeepakG19 opened #43657 "null pointer dereference Error in TF2.3.0 with runforMultipleInputOutput"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform

[2020-09-29 22:13] DeepakG19 commented on #43291
As suggested by @amahendrakar, this issue is closed and the new submitted issue can be followed up from [here](https://github.com/tensorflow/tensorflow/issues/43657).

[2020-09-29 22:13] #43291 closed

[2020-09-29 22:18] relativeflux commented on #43656
I have fixed some typo errors in the posted code.

[2020-09-29 22:21] ymodak commented on #43644
Perhaps you should try to fix warning logs `WARNING:tensorflow:TensorRT mismatch. Compiled against version 5.0.2, but loaded 5.1.5. Things may not work`
See https://github.com/tensorflow/models/issues/7025#issuecomment-507056242

[2020-09-29 23:00] relativeflux commented on #43656
Update: Even enumerating the dataset on the HTC hangs:

[code]

the above produces nothing on that system, but works everywhere else.

[2020-09-29 23:19] omalleyt12 commented on #43621
Ah I understand now, the `TensorBoard` callback is designed for use with `Model.fit`. It still logs batch-level metrics when used in `Model.fit`. For a custom training loop, you should use lower-level `tf.summary` APIs to log batch-level summaries. The change from 2.2 to 2.3 made the batch-level summaries part of the `Model.train_function` rather than something that the `TensorBoard` callback crea

[2020-09-29 23:19] #43621 closed

[2020-09-29 23:23] shangh1 commented on #43373
@Saduf2019 Thanks. I simplify the code, and put it here. https://github.com/shangh1/model_tf2/tree/master

[2020-09-29 23:25] hanzigs commented on #43575
![image](https://user-images.githubusercontent.com/30790120/94626641-db5a2980-02fe-11eb-992b-66e1f107f054.png)

Does this mean there is no GPU or GPU is not configured?

[2020-09-29 23:57] zredlined commented on #41042
Blocked here too. Happy to help contribute towards a fix. Thanks @nikitamaia

[2020-09-30 00:03] matthewn4444 commented on #38336
I will take a look and answer soon

[2020-09-30 00:13] #38988 closed

[2020-09-30 00:13] #42917 closed

[2020-09-30 00:44] tk-okumura commented on #42723
resolved.

in case not use tf.lite.OpsSet.SELECT_TF_OPS,
input buffer shape [16000,1] has been processed.

in case use tf.lite.OpsSet.SELECT_TF_OPS,
input buffer shape [16000,1] has been processed  ,batch size was16000.
I changed input shape  to [1,16000]  from [16000,1].

thank you.

[2020-09-30 00:47] yousef-xailient opened #43660 "Error converting from TensorFlow frozen graph to TFLite using TF1.15"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 20.04**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (or github SHA if from source): **1.15.0**

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.
[code]

**Link to Colab Notebo

[2020-09-30 01:10] jvishnuvardhan commented on #36694
@aGiant Looks like this was resolved in recent `tf-nightly`. The losses from two approaches are same. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/7e5689d9d23203acd54f266b8e88a35d/untitled765.ipynb) and let us know whether it is resolved for you or not.

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-09-30 01:32] svenstaro commented on #39467
The current state of this is that tensorflow sadly still doesn't work on gcc 10 which is especially annoying since even CUDA 11.1 now supports gcc 10. As a downstream packager, I'm not really sure what the proper way to address this problem would be but I'd appreciate it if a tensorflow team member could fix it.

[2020-09-30 01:52] haiqinzhong commented on #43323
Hi, @amahendrakar ,I have tried it by use tf.keras.layers.ConvLSTM2D, but it told a new error about
AttributeError: '_TfDeviceCaptureOp' object has no attribute 'type'
the Traceback as follow:
![1](https://user-images.githubusercontent.com/56585970/94634333-596bff80-0302-11eb-8403-53d77f8ebc25.png)
![2](https://user-images.githubusercontent.com/56585970/94634339-5e30b380-0302-11eb-8e9e-34b3c69cb8b

[2020-09-30 01:56] yousef-xailient opened #43661 "Core dumped when invoking TFLite model converted using latest nightly TFLite converter (2.4.0dev2020929)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 20.04**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (or github SHA if from source): **2.4.0.dev20200929**

**Command used to run the converter or code if you’re using the Python API**
[code]

**Link to Google Colab Notebook**

[code]

**Also, please include a link to

[2020-09-30 02:08] jaentrouble commented on #43223
Have you tried setting set_memory_growth to True?

[2020-09-30 03:35] qipengwang opened #43663 "TFLite android image classification demo failed on samsung note10 whose soc is snapdragon 855"
- system platform: macos 10.15

- example: [tflite image classification official demo](https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/android)

- IDE: android studio 4.0.1

- hardware: samsung note10 equiped with snapdragon 855

errors: when I tried to use the dsp delegate on the phone, I modified the code like this:
[code]
in the [classifier.java](https://gi

[2020-09-30 03:37] acxz commented on #42975
Closing this issue as #42689 has been merged.

[2020-09-30 03:37] #42975 closed

[2020-09-30 03:46] Saduf2019 commented on #43644
@ikyasam18
Please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/31039#issuecomment-555755934) of similar issue and let us know if it helps.
Similar error issues:
[link](https://github.com/tensorflow/models/issues/5061), [link1](https://github.com/tensorflow/models/issues/7025#issuecomment-509295178),[link1](https://forums.developer.nvidia.com/t/warningtensorrt-mismatch/76

[2020-09-30 03:57] Saduf2019 commented on #43569
@le8888e
Please provide with simple stand alone code to replicate issue faced along with error logs or if possible share a colab gist with issue reported.

[2020-09-30 03:57] Harrypotterrrr commented on #26966
I use a counter var to store the number of input when I build the data loader. but still, I think it will be more convenient for the user to get dataset.length such kind of attribute.

[2020-09-30 04:21] yizhaoyanbo commented on #43541
@freedomtan
I fount another difference:

I tested the **mobilenet_v1_1.0_224_quant.tflite** and **efficientnet-lite0-int8.tflite**  on SnapDragon 855+.

This is the logout of mobilenet_v1_1.0_224_quant.tflite
[code]

This is the logout of efficientnet-lite0-int8.tflite
[code]

What does the w/1 delegate kernels mean? Initially, I think that it is only executed by 1 delegate kernel.

[2020-09-30 05:04] tanzhenyu commented on #43634
This class is not meant to support k hot encoding, given it requires the directory to be split by class

[2020-09-30 05:10] mattn commented on #22926
Yes please.

[2020-09-30 05:37] klaimans commented on #42119
@jvishnuvardhan

I finally found the difference between our tests. In your last gist (where it runs without the decorator) you changed the original example so that the **for loop** iterates over the python object **range(10)** rather than the original **tf.range(tf.constant(10))** which is what leads to the issue and the original error I reported above. Changing back to the original example leads

[2020-09-30 05:42] Saduf2019 commented on #43660
@yousef-xailient
I ran the code shared but got a different error as "minimal_093010.pb" is missing, you can share a colab gist with the error reported, please note we would be supporting 2.x issues only, there is no support for 1.x
With respect to the error shared it shows that the model you are trying to convert does not implicitly support dynamic shaped inputs, you could fix the input tensor siz

[2020-09-30 05:47] yousef-xailient commented on #43660
@Saduf2019

I've included the link to the pb graph here https://drive.google.com/file/d/1dkc3-tYwviEyFJg2Y0IZEyRdTbKj5piF/view?usp=sharing

I tried with the latest version of TF (tf-nightly 2.4.0) and the issues I faced are here https://github.com/tensorflow/tensorflow/issues/43661

[2020-09-30 05:50] iperov opened #43664 "Unable to build tf-master"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
- TensorFlow installed from (source or binary): source
- TensorFlow version: master
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 3.5.0
- GCC/Compiler version (if compiling from source): MSVC 2017
- CUDA/cuDNN version: 11.1 / 7.6.0
- GPU mod

[2020-09-30 05:54] Saduf2019 commented on #43660
@yousef-xailient
As we have the issue tracked at #43661, please move this to closed status, please refer to the points and link shared and update.

[2020-09-30 06:01] Saduf2019 commented on #43648
@cookiehunter
Please move this issue to closed status if resolved.

[2020-09-30 06:06] Saduf2019 commented on #43651
@BlueLobster413
please refer to [this link](https://stackoverflow.com/questions/56351377/tensorflow-2-0-input-being-creating-with-first-shape-element-as-none) and let us know if it helps. [also [link](https://www.xspdf.com/resolution/50082506.html) ]

[2020-09-30 06:07] #43660 closed

[2020-09-30 06:08] cookiehunter commented on #43648
@Saduf2019
The issue is not resolved. I just found a workaround and wanted to share it in case it is useful for someone else until the bug is fixed. I would really like to use the proper UpSampling2D layer instead, as it is also a lot faster than the workaround.

[2020-09-30 06:08] yousef-xailient commented on #43660
@Saduf2019 could you run the Colab shared in that issue and report back? The points above do not apply to the other issue as the graph converted successfully.

[2020-09-30 06:11] ravikyram commented on #43650
@Dhyeythumar

I have tried in colab with TF version 2.3 and i am seeing different error message( `AttributeError: 'Tensor' object has no attribute 'numpy`').Please, find the gist [here.](https://colab.research.google.com/gist/ravikyram/096aceb3b1dce841a22508c3691af553/untitled404.ipynb). Thanks!

[2020-09-30 07:04] Dhyeythumar commented on #43650
Yes, I have also mentioned this in the above issue. So when I try to get the value from a tensor in ppo_loss() function I am getting `AttributeError: 'Tensor' object has no attribute 'numpy'` error. Basically, I am doing this to check why I am getting 0 in that ppo_loss function.

[2020-09-30 07:13] #43255 closed

[2020-09-30 07:20] DjangoPeng commented on #42425
I'm afraid not. @dfvr1994

[2020-09-30 07:31] maifeeulasad opened #43665 "IteratorGetNext: unsupported op: No registered 'IteratorGetNext' OpKernel for XLA_GPU_JIT devices compatible with node {{node IteratorGetNext}} . Registered: device='XLA_GPU'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
[code]
- OS Pl

[2020-09-30 07:51] freedomtan commented on #43541
@yizhaoyanbo for the running int8 on DSP performance problem, it's both easy and hard. I don't know why you expect an INT8 model on DSP to be 2x faster than fp16 on GPU, as you might know inference latency is not always I/O or computation bound. To know if the latency is reasonable, you should try to identify the performance bottleneck(s) of the model and do performance profiling on your target de

[2020-09-30 08:13] #43169 closed

[2020-09-30 08:13] #43194 closed

[2020-09-30 08:13] #43208 closed

[2020-09-30 08:18] freedomtan commented on #43541
for the mobilenet and efficientnet lite question, the Mobilenet model was from quantization-aware training and it uses UINT8. The efficientnet lite is produced by post-training quantized so it uses INT8. The input and output are changed UINT8 so that UINT8->INT8 and INT8->UINT8 quant ops are added in the beginning and end of the model. Why UINT8 input and output? You may ask. For compatibility wit

[2020-09-30 08:19] Dolphinzzx commented on #43602
i also can't find new repo.

[2020-09-30 08:37] themightyoarfish opened #43666 "Compiling client code with -mavx2 leads to Eigen errors"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **macOS 10.14**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **n/a**
- TensorFlow installed from (source or binary): **binary** (compiled in CI, transferred to c

[2020-09-30 08:42] aligoglos commented on #43597
Thanks it work.

[2020-09-30 08:42] #43597 closed

[2020-09-30 08:42] Saduf2019 commented on #43664
@iperov
Please share the steps followed before you encounter this issue, please follow [this guide ](https://www.tensorflow.org/install/source_windows) and let us know.

[2020-09-30 08:45] scd75 opened #43667 "tf.keras.layers.experimental.preprocessing.CategoryEncoding: is it possible to apply it to a nD tensor?"
**System information**
- TensorFlow version (you are using): 2.4.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**: currently, tf.keras.layers.experimental.preprocessing.CategoryEncoding layers can only be called with a 2D tensor of shape (samples, "timesteps"). It would be very useful to allow calling with a nD tensor, for example when wo

[2020-09-30 08:51] RomanGirin commented on #33837
@gowthamkpr I used simplified example to model the issue. And it seems it's design issue. I described fix for my simple example in this comment https://github.com/tensorflow/tensorflow/issues/41200#issuecomment-695779647
Please, take a look it may apply to this issue also

[2020-09-30 09:01] Ananas120 commented on #42412
Ok thank you but then i don’t know why the error occurs for me... maybe because i run on Windows or i used an older version of jupyterlab... i updated it and will see if it happens

[2020-09-30 09:13] #43190 closed

[2020-09-30 09:13] #43147 closed

[2020-09-30 09:13] #43133 closed

[2020-09-30 09:13] #42708 closed

[2020-09-30 09:20] maifeeulasad commented on #43665
Info related `xs` and `ys` are :
[code]

[2020-09-30 09:22] themightyoarfish commented on #43666
I have confirmed that upgrading the system eigen to current master (30960d485ec7e45b095d3ad206b2dbcc8bc835ba) resolves this problem.

[2020-09-30 09:25] Palkos83 commented on #43623
Hi
Any hints of what might be wrong here? Any new ideas to try?

Many thanks

[2020-09-30 09:26] SauravRai commented on #34977
@qlzh727 Thanks for the above response. My doubt is what if I have several layers in a submodel and want to make models for several layers in the submodel. I have raised a question here

https://stackoverflow.com/questions/64118557/how-to-create-a-keras-model-using-the-intermediate-layers-of-its-submodel

Thanks you.

[2020-09-30 09:31] bhack commented on #43623
In the meantime can you try to see It you have the same issue inside our Docker image https://www.tensorflow.org/install/docker

[2020-09-30 09:39] markodjordjic commented on #43627
@bhack any ideas how to circumvent this in CPU only setting? Btw, thanks for your efforts.

[2020-09-30 09:48] lintian06 commented on #43551
Do you still use Emulator or a real phone?

FYI, just as Jared did, I tried on Pixel 3 with Android 10 again, which works.

[2020-09-30 10:03] PetrProkopNXP commented on #43015
Hi Edd,
Thank you for your offer of explanation.

A notice at beginning: our release is already done. We removed files in question, as developers have said that LevelDB component is not necessary for them.

But I’m still curious how the legal things work in this case (and I’d like to be ready when developers say the LevelDB component become necessary): it seems to me that @martinwicke thinks Googl

[2020-09-30 10:07] Saduf2019 commented on #43660
@yousef-xailient
Please share the colab with access to view it.

[2020-09-30 10:13] Saduf2019 commented on #43648
@jvishnuvardhan
I ran the latest code shared, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/534b4f47371db75af4de4fd53f2b5ee8/untitled418.ipynb)

[2020-09-30 10:13] #43129 closed

[2020-09-30 10:26] xintin commented on #43551
Thanks, Tian. It worked on a real phone.

[2020-09-30 10:26] #43551 closed

[2020-09-30 10:27] Saduf2019 commented on #42916
@woreom
I ran the gist shared and face this issues, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/fd46df3582beff1ac41f173a131686cb/untitled421.ipynb)

[2020-09-30 10:31] Palkos83 commented on #43623
Well, in order to run the GPU in docker I need NVidia containers for Docker.
These sadly do no support Windows :(

[2020-09-30 10:34] Saduf2019 commented on #43584
@Joseph-Rance
Please update as per above comment, if possible could you try on tf-nightly and let us know if the issue exist, please share a colab gist with the issue reported.

[2020-09-30 10:34] woreom commented on #42916
@Saduf2019 Okay, How do I fix it?

[2020-09-30 10:45] Saduf2019 commented on #43476
@ruichernob
I ran the code shared and face a different issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/d4b211faf3dc3e81c1caddba3952f413/untitled418.ipynb). Can you please share a colab gist with the error reported.

[2020-09-30 10:46] bhack commented on #43623
Yes I know but I meant in the meantime, "between the lines", on WSL https://github.com/NVIDIA/nvidia-docker/issues/665#issuecomment-691242564

[2020-09-30 10:53] bhack commented on #43627
I cannot reproduce this.
I've runned the script with mprof for 50k steps in the Docker container:
`mprof run --include-children --multiprocess tf_memory_test.py`

![memory](https://user-images.githubusercontent.com/1710528/94676566-d5267600-031b-11eb-8de4-1eebde3c403c.png)

[2020-09-30 11:34] fisakhan commented on #42510
@Zantares @roywei Do you agree with the reason given at the following link? It explains that TensorFlow cannot be a single threaded. https://stackoverflow.com/questions/48696900/why-tensorflow-creates-so-many-cpu-threads

[2020-09-30 11:36] fisakhan commented on #33627
@aliqing0122  @wei-v-wang @Srini511  Do you agree with the reason given at the following link? It explains that TensorFlow cannot be a single threaded.
https://stackoverflow.com/questions/48696900/why-tensorflow-creates-so-many-cpu-threads

[2020-09-30 11:59] amahendrakar commented on #43653
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/81fe29b0ab56a1678f0dff40f2c6b61c/43653-tf-nightly.ipynb). Thanks!

[2020-09-30 12:13] #43253 closed

[2020-09-30 12:22] hrazafim opened #43670 "(venv) (base) razafimandimby@razafimandimby-Lenovo-G50-30:~$ python3 -c 'import tensorflow as tf; print(tf._version_)' Instruction non permise (core dumped)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-09-30 12:24] hrazafim commented on #43670
can you help me please ?

[2020-09-30 12:44] marcocaccin commented on #28154
Is there any update on this?

[2020-09-30 12:44] fisakhan opened #43671 "Single threaded TensorFlow"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.3
- Are you willing to contribute it (Yes/No): Yes

**De

[2020-09-30 12:53] fshofmann commented on #39797
I havent tested it yet (will do soon) but what further confuses me regarding this issue is the bit about the` validation_batch_size` parameter found in the same documentation that tells us that `validation_data` does not support `Sequence`.
https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit

Integer or None. Number of samples per validation batch. If unspecified, will default to batch_s

[2020-09-30 13:07] zhezherun commented on #25113
I am facing the same issue when trying to compile a custom op on Mac and on Windows (it works fine on Linux though), using Tensorflow 2.3. When running on Mac, I get the same error, i.e.:

```Trying to access resource using the wrong type. Expected N10tensorflow3VarE got N10tensorflow3VarE [Op:CustomOp]```

On Windows, the error is similar:

```Trying to access resource using the wrong type. Expec

[2020-09-30 13:12] zhezherun commented on #25113
Reproducer: a simple custom op to set a value of a variable.
[code]

[2020-09-30 13:15] zhezherun commented on #25113
Reproducer: build scripts and Python test.
Linux:
[code]
Mac:
[code]
Windows:
[code]
Python test:
[code]

[2020-09-30 13:27] amahendrakar commented on #43656
As mentioned in the template by @relativeflux, I was able to run the code without any issues on Google Colab. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/df99e89a30ecd5a769d467761f3b82fb/43656.ipynb). Thanks!

[2020-09-30 13:39] amahendrakar commented on #43661
@yousef-xailient,
I do not have access to the Colab notebook and the saved model file. Could you please grant the required permissions to view the files. Thanks!

[2020-09-30 13:45] Palkos83 commented on #43623
So to give it a try I used brand new Ubuntu 20.04 installation.
Docker + Nvidia containers + 2.3.1 image (tensorflow-gpu latest)

Sadly the result is exactly this same as on Windows. I still try to run basic vanilla CNN network to train.

Logs attached for reference:
[log.txt](https://github.com/tensorflow/tensorflow/files/5305933/log.txt)

[2020-09-30 13:46] Saduf2019 commented on #43602
@florianmarcher  @Dolphinzzx @YahboomTechnology
Can you please be specific which tutorials are you talking about

[2020-09-30 13:51] MaxHeuillet commented on #38012
I am having the same problem.

It worked fine, then I downloaded CUDA, CuDNN and tensorflow gpu and now i get this error.
I do not have tf-nightly installed.

[2020-09-30 13:57] alirezazd commented on #43607
@abattery I read about proto buffers and example protos in Tensorflow, I decided to first verify my model in python and then write the C++ interpreter, I created my own example protobuf:
[code]
the output is : b'\nB\n\x14\n\x08feature0\x12\x08\x12\x06\n\x04\x00\x00\x00\x00\n\x14\n\x08feature1\x12\x08\x12\x06\n\x04\x00\x00\x00\x00\n\x14\n\x08feature2\x12\x08\x12\x06\n\x04\x00\x00\x00\x00'
I tried t

[2020-09-30 14:00] bhack commented on #43623
Now I see again in this log:
`` tensorflow/stream_executor/gpu/asm_compiler.cc:55] Couldn't invoke ptxas.exe --version``

Can you try with `tensorflow/tensorflow:nightly-gpu`?

[2020-09-30 14:02] versusnja commented on #42162
I follow this guide and it helped to build from source: https://towardsdatascience.com/how-to-compile-tensorflow-2-3-with-cuda-11-1-8cbecffcb8d3

Edit `third_party/gpus/cudas_configure.bzl`
Replace with "11.0" string

[code]

[2020-09-30 14:02] chrisacc commented on #43608
Same problem here. Searched all over for a solution and can't find one. Any help would be appreciated.

[2020-09-30 14:03] Yuvraj15101999 opened #43672 "Issue in installing the package using pip"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10 64 bit
- TensorFlow