[2017-10-27 09:29] EdeMeijer commented on #12371
Nice, I knew there had to be a much better way. `log(sigmoid(x))` is just `-softplus(-x)`, and I can see in `softplus_op.h` that it deals with the same underflow / overflow issue I tried to solve here, but of course much more efficiently. Thanks!

[2017-10-27 09:41] satendrapratap commented on #13971
[text_classification.txt](https://github.com/tensorflow/tensorflow/files/1421562/text_classification.txt)

We are using TF 1.3.0 and  [text_classification.py]([url](url))  uses tf.estimator but we still face that issue.
You can reproduce the issue by running the attached code (convert .txt to .py).

To train without testing use (no error):
SP_TRAIN1=1
SP_TRAIN=1
SP_TEST=0

To test without training

[2017-10-27 09:52] webschik commented on #11250
Hello @petewarden!
May you suggest how to fix the next issue:

1) I've retrained my own model according to the [Tensorflow guideline](https://www.tensorflow.org/tutorials/image_retraining):

[code]

where _flower_photos_ is an unarchived flowers set from http://download.tensorflow.org/example_images/flower_photos.tgz

This script produces 2 files _/tmp/output_graph.pb_ and _/tmp/output_labels.txt_

[2017-10-27 09:58] MakeWater commented on #4071
still unsolved ?

[2017-10-27 10:00] githubharald commented on #12356
I used this tutorial:
https://www.tensorflow.org/extend/adding_an_op

[2017-10-27 10:38] zh794390558 opened #14028 "tf.train.MonitoredTrainingSession does not have request_stop() method"
[code]
I can not use mon_ses.request_stop().

[2017-10-27 11:30] Timmmm commented on #13705
@ashokbugude: Yes, read my comment that is just above yours.

[2017-10-27 11:43] ashokbugude commented on #13705
@Timmmm Ok Thanks

[2017-10-27 12:10] AtomicSpider commented on #7742
@codeloverr Hi, could you please share the source code of your android app? I'm trying to do the same thing but I'm getting a lot of errors during build. Thanks

[2017-10-27 12:12] #14023 closed

[2017-10-27 12:54] codeloverr commented on #7742
@AtomicSpider  sure, I'll make the repo and share with you.

[2017-10-27 14:10] lucasgreene commented on #8957
Hey I know this is closed but I came to the same conclusions as above and found explicitly creating a variable_scope with reuse=False/True around a tower fixed the issue. Would be great if this was in the official documentation or in the cifar example as its currently misleading.

[2017-10-27 14:22] Pepslee commented on #2169
new implementation, but i check only forward computation, and i`m not sure, that  ```tf.one_hot ```    backward gradient  is implemented

[code]

[2017-10-27 14:47] freud14 opened #14034 "Segmentation fault when using Intel MKL with np.linalg.svd"
### System information

I am running this on the [Graham supercomputer](https://docs.computecanada.ca/wiki/Graham) of Compute Canada. I tested the bug on computation nodes but it also appears on login nodes without GPUs.

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux - C

[2017-10-27 15:04] zhiyzuo commented on #13220
I tried to add

[code]

to the top of `/Library/Developer/CommandLineTools/usr/include/c++/v1/__threading_support` but still got

[code]

Any advice? -Also a CPU only config.

[2017-10-27 15:05] AVCarreiro commented on #4648
Hi Marc, with the deprecation of sklearn compatibility in recent versions, how do you see the changes? I tried wrapping the estimator with SKCompat to keep using x as argument but then I have problems down the line. It seems to me that keeping input_fn open as a generator would make perfect sense, especially for big data (not relying only on parsing TFrecords and such)

[2017-10-27 15:19] ebrevdo commented on #13999
@mrry great idea!  a long term fix is to use Variants here, but I'll make the change you suggested.

[2017-10-27 15:48] alquraishi commented on #14001
Hi, the symbolic link command was:

`ln -s ../ops/_cudnn_rnn_ops.so _cudnn_rnn_ops.so`

executed in `/usr/local/tensorflow-1.4.0-rc0/lib/python2.7/site-packages/tensorflow/contrib/cudnn_rnn/python/layers`

Also, modifying the `cudnn_rnn.py` file so that lines 32-33 read:

`_cudnn_rnn_ops_so = loader.load_op_library(
    resource_loader.get_path_to_datafile("../ops/_cudnn_rnn_ops.so"))`

fixes the

[2017-10-27 15:59] printdhruv commented on #14001
In `_cudnn_rnn_ops_so = loader.load_op_library( resource_loader.get_path_to_datafile("../ops/_cudnn_rnn_ops.so"))` is the `../ops/_cudnn_rnn_ops.so` sufficient ?

[2017-10-27 16:04] johnsrude commented on #13962
Compiled successfully after almost 5 hours.  Haven't tested the running of the wheel yet.  Need to resolve "build always" problem.

[2017-10-27 16:09] johnsrude commented on #13061
I think that this support would also need to be extended to Windows.  As referenced at https://github.com/tensorflow/tensorflow/issues/13962 Windows builds of TensorFlow are only supported on CMake, which is what Google uses to build the Windows Python packages.

[2017-10-27 16:39] jvdillon commented on #11309
If youre ok with all elements being independent, then yes I believe `Independent` is what you want.  If you'd like to induce correlation, then you can, eg, used `TransformedDistribution` with the `Affine` bijector.

[2017-10-27 16:39] #11309 closed

[2017-10-27 16:42] jvdillon commented on #4965
Hi folks. We've started to implement HMC and Metropolis Hastings in tensorflow.contrib.bayesflow.{hmc,metropolis_hastings}.  Please give this a whirl and tell us what works and what doesnt. Thanks!

[2017-10-27 16:44] jvdillon commented on #8585
Thanks for raising this issue--this bug should now be resolved.

[2017-10-27 16:44] #8585 closed

[2017-10-27 16:48] nunodsousa opened #14037 "Complex matrix_inverse inconsistency error"
If I run the following code: https://github.com/nunodsousa/tensorflow_matrix_inversion/blob/master/tf_matrix_inversion.ipynb I obtain the inverse of a complex matrix. However, If I reduce 1E4 times the values of the matrix, the results should be the same, apart of the 1E4 factor. However it returns similar errors to the one found in #13558.
Please go to Stack Overflow for help and support:

https:

[2017-10-27 16:54] azadef commented on #11295
Do you update moving_mean and moving_variance variables in batch normalization during optimization?
I had the same problem with resnet and I added this in training, then it worked fine:
`update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS)`
` with tf.control_dependencies(update_ops):`
    `train_op = opt.minimize(loss)`

[2017-10-27 17:10] michaelisard commented on #13969
@ebrevdo would you let us know if you have any comments before @jpuigcerver starts working on a patch?

[2017-10-27 17:15] skye commented on #13980
@alisidd can you look into this?

[2017-10-27 17:16] skye commented on #13984
@gunan can you comment or redirect? Thanks!

[2017-10-27 17:17] skye commented on #13986
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-27 17:17] #13986 closed

[2017-10-27 17:17] johnsrude commented on #13061
@gunan  if you are removing CMake support, when are you going to add bazel builds for TF for Windows?
 https://github.com/tensorflow/tensorflow/issues/13962 states that CMake is what you use to build the Windows Python wheels.  That build takes fives hours and is not incremental.

[2017-10-27 17:26] skye commented on #13992
This seems like a reasonable PR to me, I say go for it.

[2017-10-27 17:27] michaelisard commented on #14013
I am not very familiar with pynq but [the only mention of pynq and TF together I could find](https://groups.google.com/forum/#!topic/pynq_project/kG8ZtRg4k_A) suggests that pynq is 32-bit. If that's the case I don't think it will work because TensorFlow is 64-bit only.

[2017-10-27 17:31] skye commented on #13996
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-27 17:31] #13996 closed

[2017-10-27 17:32] skye commented on #14000
@martinwicke can you comment or redirect? Thanks!

[2017-10-27 17:35] michaelisard commented on #14017
I'm afraid we don't have the resources to support all platforms, and we don't have support for s390x. Tagging community support.

[2017-10-27 17:36] skye commented on #14002
@yifeif can you take a look or redirect? Thanks.

[2017-10-27 17:37] michaelisard commented on #14021
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-27 17:37] #14021 closed

[2017-10-27 17:37] skye commented on #14008
@fchollet

[2017-10-27 17:45] namrata-ibm commented on #14017
@mrry, any thoughts on the issue?
Where can I refer the implementation for math_ops.sin/cos functions?

[2017-10-27 17:45] vishvananda commented on #13822
Ok this was fixed in master by https://github.com/tensorflow/tensorflow/pull/13976. r1.4 still needs to be updated though

[2017-10-27 17:45] martinwicke commented on #14000
@nealwu This is an unfortunate side effect of automatically choosing the data format [here](https://github.com/tensorflow/models/blob/edcd29f2dbb4b3eaed387fe17cb5270f867aec42/official/mnist/mnist.py#L107). Maybe we should give people the option to override the data format via flag so they can train on GPU and predict on CPU.

[2017-10-27 17:46] skye commented on #14014
@gunan @mrry can you you comment or redirect?

[2017-10-27 17:46] skye commented on #14018
@wolffg FYI

[2017-10-27 17:47] michaelisard commented on #14027
@fchollet this seems like at best a documentation bug. The doc says "bias_initializer: An initializer for the bias vector. If None, then no bias will be applied." However it looks as if setting the initializer to None pipes all the way down to the lowest level get_variable which uses random_uniform as the default initializer for floats.

[2017-10-27 17:47] skye commented on #14026
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-27 17:47] #14026 closed

[2017-10-27 17:48] skye commented on #14028
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-10-27 17:48] #14028 closed

[2017-10-27 17:49] martinwicke commented on #13822
@case540 is on it.

[2017-10-27 17:52] michaelisard commented on #14037
@rmlarsen did you get a chance to look at #13558? Closing this for now as a duplicate of that issue but please reopen if it turns out not to be.

[2017-10-27 17:52] #14037 closed

[2017-10-27 17:52] skye commented on #14034
@rmlarsen can you look into this or redirect? Thanks!

[2017-10-27 17:56] johnsrude commented on #13962
[code]

What could cause this error?

Is it compiling on Windows 10 rather than Windows 7?  What version of Windows is your CI build server?

Could it be a difference in the CMake flags?

Yours (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/windows/gpu/cmake/run_build.bat):
`%CMAKE_EXE% %CMAKE_DIR% -A x64 -DSWIG_EXECUTABLE=%SWIG_EXE% -DPYTHON_EXECUTABLE=%PY_EXE% -D

[2017-10-27 18:00] alquraishi commented on #14001
Yes that's all that is necessary to make it work.

[2017-10-27 18:03] nealwu commented on #14000
Ahh, this is a very good point.

@martinwicke We actually just added a data_format flag two days ago: https://github.com/tensorflow/models/pull/2583. I'm not quite sure if that's enough to solve this problem. Let me look into it and try to determine the right solution.

[2017-10-27 18:08] rohan-varma commented on #13887
@martinwicke https://github.com/tensorflow/tensorflow/pull/14015 is merged, so I'm closing this for now. Thanks for your help!

[2017-10-27 18:08] #13887 closed

[2017-10-27 18:14] Nayana-ibm commented on #13777
@m3bm3b Yes. Changes are now available in Tensorflow master.  I could build Tensorflow master successfully. Thank you for your help and fast response.

[2017-10-27 18:25] Nayana-ibm opened #14039 "Boringssl support for s390x"
Creating this issue with reference : https://github.com/tensorflow/tensorflow/pull/11170

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: master
- **Bazel version (if compiling from source)**: 0.6.1
- **CUDA/cuDNN version**: Not used
- **

[2017-10-27 18:30] Nayana-ibm commented on #14039
Hello @gunan Continuing discussion about disabling the oauth support /GCP on big endian from issue https://github.com/tensorflow/tensorflow/pull/11170#issuecomment-320071548

I could see that the PR changes made for s390x are now reverted in Tensorflow master.
So as suggested, disabling GCP support on a big-endian systems,  I followed following steps:
~/tensorflow# ./configure

~/tensorflow# bazel

[2017-10-27 18:34] ebrevdo commented on #13969
I'd like to understand how you plan to use centered features in the model
itself.  Do you plan to also provide outputs containing the beginning and
end of each sequence?

Do you plan to provide masking of loss terms associated with where the
padding is?  If so, how, and what function do you plan to use to do this?
What about ensuring that any state is initialized at zero properly for each
entry?

[2017-10-27 18:35] nunodsousa commented on #14037
Yes, I so the #13558, however I don't know if it is exactly the same problem. I'm making a more detail set of tests and I repost the result. However, for small matrices (like 10x10) the inversion works fine. Also I already confirm that it is not a memory problem.

[2017-10-27 18:39] nirmalthacker commented on #13610
@mrry, Thanks! I've responded on Stackoverflow as well. In short, I'm trying to determine an approach with Datasets and Iterators that can provide the kind of throughput I'm seeing with the queue-based approach.

[2017-10-27 18:57] andrewharp commented on #13653
@imaoldboy We put compiled native libs for x86 into the AAR, but it's not tested as thoroughly so it wouldn't be too surprising if you ran into issues using an emulator.

The versioning issues we were having earlier should be resolved now, so you might try clearing your gradle caches to force it to download the latest AAR.

[2017-10-27 19:01] gunan commented on #13984
I think to avoid such issues, we need to make our skylark files refer to anything in tensorflow as `@org_tensorflow//tensorflow/...`. Initially we were not able to, because bazel 0.4.x had some bugs preventing us to use this way to refer to our own libraries.
@tadeegan Would you like to create a pull request for the bzl file you are having a problem with?
Please mention me in your pull request, an

[2017-10-27 19:35] jpuigcerver commented on #13969
Hi @ebrevdo,

To give some perspective, I've been using this trick for handwritten text recognition for a while (you can also think of speech recognition, as an application potentially affected by this). The main reason for this is that, as it happens with TF, the Torch's wrapper to cudnn LSTM does not support examples of multiple lengths. So, after padding one must assume that all examples have t

[2017-10-27 19:38] tspthomas commented on #2169
Hello @Pepslee, thanks for sharing the code.

I was doing some benchmarks with previous code and it was working fine, but now I'm facing out of memory issues in `tf.one_hot` function. It is trying to allocate a tensor of shape `[153600,614400]`. The `pooled_shape` is `[None, 60, 40, 64]`, so `60x40x64 = 153600` and `60x40x64x2x2 = 614400` (`2x2` comes from the `ksize`). Correct me if I'm wrong, bu

[2017-10-27 19:45] ebrevdo commented on #13969
I see.  Certainly LSTMs have traditionally had no problem dealing with
padding even when masking is not available.

I like the idea of a padding_alignment argument, though the output_offset
can't be an attribute (in the sense that attributes are like
hyperparameters set at graph construction time); it has to be a tensor.  So
consider instead adding a AlignedPaddedBatchDataset in tf.contrib.data
wh

[2017-10-27 19:52] hanfeisun opened #14041 "tf.metrics doesn't include cross_entropy."
In tensorflow estimator, I want to use _cross entropy_ as the evaluation metrics (`eval_metric_ops` parameter of `EstimatorSpec`)

However, `tf.metrics` doesn't have this function. Also, tensorflow estimator doesn't allow me to use `tf.nn.sigmoid_cross_entropy_with_logits` as the `eval_metric_ops`.

[2017-10-27 19:53] vnavkal commented on #13641
Would a "minimum norm" Jacobian actually be the one we need?  It seems to me that we need the Jacobian of the specific SVD function that's used.  I suspect this is an obstacle not only to removing the "almost square" restriction but also to extending support to complex tensors, since in the complex case there are always infinitely many choices of U and V.

Even in the real case, I could imagine th

[2017-10-27 20:09] skye commented on #13926
@tfboyd do you know if we expect CUDA 7.5 to work with 1.4?

[2017-10-27 20:20] hanfeisun opened #14042 "tf.estimator.EstimatorSpec doesn't have evaluation_hooks parameter"
I planned to visualize the evaluation result in tensorboard. Therefore I need to create the evaluation_hook using `tf.train.SummarySaverHook` in model_fn, and pass it into the [EstimatorSpec](https://www.tensorflow.org/api_docs/python/tf/estimator/EstimatorSpec).

However, [EstimatorSpec](https://www.tensorflow.org/api_docs/python/tf/estimator/EstimatorSpec) doesn't accept `evaluation_hooks` for n

[2017-10-27 20:24] hanfeisun commented on #14042
Though [Estimator.evaluate](https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator#evaluate) has `hooks` parameter. It is outside of the model_fn context and can't get the `summary_op` conveniently. It will be great if EstimatorSpec could have `evaluation_hooks` parameter.

[2017-10-27 20:28] tfboyd commented on #13926
Older versions of Cuda are handled as a if it works that is nice but not supported.  Not to pass this around but I think Amit might have a table he was going to publish to show compatibility.  @av8ramit And agreed, we should post something if we have not and if we could make it clear in the release notes that would be useful.

[2017-10-27 20:33] av8ramit commented on #13926
https://www.tensorflow.org/versions/r1.4/install/install_sources#tested_source_configurations
This will be in master docs soon as well.

[2017-10-27 20:33] martinwicke commented on #14025
Could you try forcing swig to version 3.0.8? We know it works with that, and because it's a segfault, I suspect swig.

[2017-10-27 20:34] av8ramit commented on #13926
@case540 can we make the release notes for 1.4 more clear with regards to cuda compatibility?

[2017-10-27 20:39] tjingrant commented on #12888
An experimental Tensorflow backend for onnx by Arpith Jacob, Tian Jin, Gheorghe-Teodor Bercea from IBM Research has been released here https://github.com/tjingrant/onnx-tf. Comments and contributions are very welcome.

[2017-10-27 20:39] martinwicke commented on #13971
Thank you for the repro code!

@ispirmustafa can you take a look?

[2017-10-27 20:44] printdhruv commented on #14001
@alquraishi Thanks for sending out a reply. I am not sure will `../ops/_cudnn_rnn_ops.so` be enough for
all OS-compatibility, as `load_op_library and get_path_to_datafile` are responsible for handling OS specific operations?

[2017-10-27 20:52] petewarden commented on #13651
I don't have an answer on the second optimization question unfortunately, but if you do want to support more than the standard float and int32 types on mobile, you can recompile TensorFlow with __ANDROID_TYPES_FULL__ defined. This will result in a larger binary though. We're working on improving the documentation around this, and there's some information in this free ebook too: http://www.oreilly.

[2017-10-27 20:57] gunan commented on #12935
Looks like we may need to change this, we used to not have such issues.
We will look into enhancing our builds to actually build with different python versions.

[2017-10-27 21:00] skye commented on #13888
Hm, I'm not able to repro either. I suspect the problem has something to do with the Windows binary... @gunan do you have a way to try to repro this? @Sharath-girish you could try building from source: https://github.com/tensorflow/tensorflow/tree/r0.12/tensorflow/contrib/cmake

[2017-10-27 21:02] case540 commented on #13926
Not super familiar with CUDA compatibility. Any suggestions for text to add to the release notes about this issue?

[2017-10-27 21:05] WorksWellWithOthers commented on #8584
@cryptox31 Did you find a way to run your models a bit faster?
I'm trying to find out if my implementation for Knight's corner is incorrect or if I'm juicing it for all it's got. I should really just benchmark it against a GPU. If the Knight is slower I have my answer.

[2017-10-27 21:06] gunan commented on #14039
Looks like S3 support also depends on curl, which depends on boringssl.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/s3/BUILD#L47
Could you also try turning off s3 support?

On Fri, Oct 27, 2017 at 11:34 AM, Nayana Thorat <notifications@github.com>
wrote:

[2017-10-27 21:12] pfc commented on #1029
Had similar problems and following the last comment seems to have fixed it.
Basically I just added .set_shape([None, None, None]) to my image before the resize.  Does feel like a workaround to a bug.

[2017-10-27 21:19] OscarDPan commented on #13439
Hi @reedwm,

My apologies for the late response. I haven't been able to access to my aws instance lately but I will provide the samples ASAP.

[2017-10-27 21:44] ozabluda opened #14047 "Feature Request (API Design review) tf.get_shape(), tf.get_size(), tf.Tensor.size, tf.Tensor.get_size(), etc"
Below, everything with `get` in the name refers to dynamic (symbolic), everything without to static (integer).

1. Introduce `tf.get_shape(x)`. Then `tf.get_shape(x) <=> tf.shape(x)` will be analogous to existing `tf.Tensor.get_shape() <=> tf.Tensor.shape`
2. Introduce `tf.set_shape(x)`, matching `tf.get_shape(x)`
3. Introduce `tf.get_size(x)`. Then  `tf.get_size(x) <=> tf.size(x)`  will be analog

[2017-10-27 21:48] reedwm commented on #13441
/CC @ebrevdo, do you know what the problem is?

[2017-10-27 21:53] ebrevdo commented on #13441
Can you print the list of update_ops that you get?  It's possible some of them are actually *inside* the while_loop and that's creating the problem.  If I remember correctly, the batch norm code in contrib handles this by default by not creating any additional update ops.  @sguada

[2017-10-27 21:54] ebrevdo commented on #13441
(more specifically, we should never be able to call session.run on a tensor/op that's inside a frame...  which is a bit of a bug.  fyi @mrry another case!)

[2017-10-27 21:58] ebrevdo commented on #13441
can you please print the update ops, and also try running w/ optimisations disabled?  e.g. via

[code]

[2017-10-27 22:05] gunan commented on #13888
It looks like resampler op kernels are excluded from the windows cmake build:
https://github.com/tensorflow/tensorflow/commit/a80c8b583fa3d619b358a91aefd05069227b8967
https://github.com/tensorflow/tensorflow/blame/r1.4/tensorflow/contrib/cmake/tf_core_kernels.cmake#L160

Also, resampler ops cuda kernels are not included in GPU kernels that need to be built:
https://github.com/tensorflow/tensorflow

[2017-10-27 22:08] skye commented on #14042
@martinwicke FYI

[2017-10-27 22:13] gunan commented on #13930
@yifeif Could you add GCC/Compiler into our new issue template?

[2017-10-27 22:22] rmlarsen commented on #13641
@vnavkal I agree with your analysis. It would be super helpful if you would contribute a port of the autograd code. I would eventually get to it but am working on a few other projects right now.

[2017-10-27 22:24] rmlarsen commented on #13641
@davharris Thanks! I'm really hoping that we'll many more uses of sophisticated statistical model in TensorFlow with these types of algorithm available.

[2017-10-27 22:49] #13777 closed

[2017-10-27 22:56] gunan commented on #13914
Looks like this specific issue was resolved?
Closing, please reopen if this specific issue still persists.

[2017-10-27 22:56] #13914 closed

[2017-10-27 23:15] martinwicke commented on #14042
@ispirmustafa, WDYT

[2017-10-27 23:19] meccaLeccaHi opened #14048 "CUDNN_STATUS_INTERNAL_ERROR"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.2
- **TensorFlow installed from (source or binary)**: binary (via pip)
- **TensorFlow version (use command below)**: ('v1.3.0-rc2-20-g0787eee', '1.3.0')
- **Python version**: 2.7
- **Bazel v

[2017-10-27 23:46] Carmezim commented on #13962
@johnsrude `not a supported wheel` is related to the Python distribution you're trying to install it this binary for. Is your Python is 3.5?

[2017-10-28 00:03] johnsrude commented on #13962
@Carmezim  Yes, that's definitely a possibility.  I'll test it.

[2017-10-28 00:16] roblee357 commented on #6589
I am facing same issue, any update ?

[2017-10-28 00:19] rasbt opened #14049 "Feature request: Exporting TensorBoard graphs to vector graphics formats"
As recently discussed on the TensorFlow mailing list (https://groups.google.com/a/tensorflow.org/d/msg/discuss/GUW0KOmN7MM/2lRMD4JVAQAJ), it would be nice if TensorBoard would include an export function that supports exporting the graph in a vector graphics format (e.g., SVG or EPS, or both) in addition to the current PNG export function.

For instance, I recently bumped into a case where I wanted

[2017-10-28 00:24] rasbt opened #14050 "Feature request: Exporting TensorBoard graphs to graphviz DOT files"
As recently discussed on the TensorFlow mailing list (https://groups.google.com/a/tensorflow.org/d/msg/discuss/GUW0KOmN7MM/2lRMD4JVAQAJ), it would be nice if TensorBoard would have an option to export a graph as graphviz DOT file. This would allow users and developers to create e.g., Python packages based on pygraphviz that can further modify the graph structure, such as simplifying or summarizing

[2017-10-28 01:09] cshenton opened #14051 "ci_build CPU tests failing locally"
### System information

Running docker on macOS Sierra 10.12.3, summary from `ci_build.sh` output below
[code]

### Describe your problem

When attempting to run tests locally, on a branch of my fork with the CI scripts:
[code]

I am getting C++ compilation failures at varying times during the build process, for example at this point:
[code]
And previously at this point
[code]

In both cases, the

[2017-10-28 01:23] cshenton commented on #14051
Similar issue running this again, except this time, got up to:
[code]

[2017-10-28 02:36] ebrevdo commented on #12522
Have you tried in tf nightly?

[2017-10-28 03:21] traveller59 opened #14053 "Bug when using estimator with tf.data.Dataset.from_tensor_slices"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Windows 10
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.5.0-dev20171026
- **Python version**: 3.6.3

### Describe the problem
When I use tf.data and fr

[2017-10-28 04:05] footh opened #14054 "[Keras] TimeDistributed wrapper error: 'NoneType' object has no attribute 'as_list'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: built from master pulled on 10/26
- **Python version**: 3.6
- **CUDA/cuDNN version**: N/A

[2017-10-28 05:38] ebrevdo commented on #1604
We'd have to see more of your code, or better yet a design proposal for how
you want to implement the algorithm in tf.  Your options for avoiding
multiple session run calls include generating q and h in tf directly, out
using py_func.

On Thu, Oct 26, 2017, 8:21 PM mushroom1116 <notifications@github.com> wrote:

[2017-10-28 05:58] olalonde commented on #7648
I had same issue and `pip install tensorflow-gpu` fixed it for me as well.

[2017-10-28 06:42] shadiakiki1986 commented on #11245
Answered on StackOverflow [here](https://stackoverflow.com/a/45025025/4126114)

[2017-10-28 07:18] Enigma-li commented on #12817
@bowang Sure, already commented

[2017-10-28 07:50] tadeegan commented on #13984
I think the @org_tensorflow prefix I used is WORKSPACE specific. I could give the tensorflow project any name I want.

Seems like absolute targets //tensorflow resolve relative to the external repository as you would expect within BUILD files. However, when I load a .bzl file, its essentially inlines that into my own BUILD file within my repository so its referring to //tensorflow from within my r

[2017-10-28 08:20] anthnyprschka commented on #7089
@micklexqg You should be able to launch tensorboard with --logdir being the directory that contains both of your events files

[2017-10-28 08:22] ashokbugude commented on #11626
@saman-aghazadeh Could you please share the sources from where you could create a graph in c++

I am trying to create a graph in c++ from python code available at https://github.com/wolfib/image-classification-CIFAR10-tf/blob/master/softmax.py but unable to do so as I coudn't find few of the python tensorflow function in C++ , for Eg tf.nn.sparse_softmax_cross_entropy_with_logits(logits=logits,

[2017-10-28 09:11] Afrogeek254 commented on #5478
Hi i have the same issue when trying to run tensorflow in my windows 10
when I run pip show cmd this is what is displayed
C:\>pip show tensorflow
Name: tensorflow
Version: 1.3.0
Summary: TensorFlow helps the tensors flow
Home-page: http://tensorflow.org/
Author: Google Inc.
Author-email: opensource@google.com
License: Apache 2.0
Location: c:\program files\python36\lib\site-packages
Requires: six,

[2017-10-28 11:29] littleDing commented on #13996
I think it is a feature request.

There is a simple demo on the official website about reading data, but never a best-practice under different scenes, or any official benchmarks. I could run according the demos with small datasets but once it became some million or billions it would be an nightmare.

It took me very long time to figure out how to feed csv data into training process efficiently. Bu

[2017-10-28 12:05] IdoHakimi commented on #7904
@KaraRyougi can you please provide your solution since I'm stuck on the same problem :(

[2017-10-28 12:17] pbanavara commented on #12686
Cool, ok, I've got the build and test complete. Test fails so am looking into that. If I can't figure it out by tomorrow will ask you guys again. Thank you for all the help.

[2017-10-28 12:50] #11836 closed

[2017-10-28 12:50] tensorflowbutler commented on #11836
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-28 14:27] vinayakumarr opened #14057 "CNN gives core dumpped but for the same data LSTM is running successfully"
![screenshot from 2017-10-28 19-55-09](https://user-images.githubusercontent.com/18217467/32135309-517eaf52-bc1a-11e7-8f0a-cab3b3a03619.png)
![screenshot from 2017-10-28 19-54-17](https://user-images.githubusercontent.com/18217467/32135312-553fcfc2-bc1a-11e7-9e4f-4d4dedf992b9.png)

cuda 7.5 and cudann 5.0
tensorflow 0.10.0 and keras 1.2.0

LSTM program runs successfully. For CNN program, it is sho

[2017-10-28 16:06] meccaLeccaHi commented on #14048
Sure! See below. No other processes are running when I've tried this. I've also tried restarting to ensure that the GPU memory was totally cleared, but the same issue occurs.

 `+-----------------------------------------------------------------------------+
| NVIDIA-SMI 384.90                 Driver Version: 384.90                    |
|-------------------------------+----------------------+------

[2017-10-28 16:35] DonghunP commented on #8828
Hello. Can you guys help me ?

I have an error when I do 'import tensorflow as tf'

python3.5/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so: undefined symbol: cudnnConvolutionBiasActivationForward

How can I fix it?. Thanks...

[2017-10-28 17:58] gunan commented on #13984
You can, but because of this line:
https://github.com/tensorflow/tensorflow/blob/master/WORKSPACE#L1
`org_tensorflow` in tensorflow repo should always resolve to tensorflow repo.

[2017-10-28 18:19] tadeegan commented on #13984
Okay. I will make a pull request.  Is there anyway we can back port it to one of the stable released versions (1.3)?

[2017-10-28 18:23] Cpruce commented on #11885
@Zumbalamambo
1. Clone tensorflow
2. bazel build tensorflow from source
3. bazel build transform_graph
4. profit

[2017-10-28 18:39] gunan commented on #13984
1.4 is possible if we make the change these days, but previous versions we probably will not update.
@case540 This will be a small change that wont affect binaries, once the PR is merged, we can cherrypick this into the release without an extra release candidate, if the merge happens before the final 1.4 release.

[2017-10-28 19:29] yaroslavvb opened #14060 "Feature request: add tensor.<xyz> methods that redirect to tf.<xyz>(tensor,...)"
Any TensorFlow API function func that takes `tensor` as a first argument could be implemented as `tensor.func(...)`. This is implemented in PyTorch/numpy and can make formulas more concise. Transpose is a frequent special case that deserves a shortcut like `T`.

cc @shoyer for numpy API wisdom

Compare:

Numpy:
[code]

PyTorch:
[code]

TensorFlow:
[code]

[2017-10-28 20:01] shoyer commented on #14060
This certainly convenient, but I'm not sure it was actually a good design choice for NumPy or would be for TensorFlow.

`numpy.ndarray` has 71 non-private attributes*:
T, all, any, argmax, argmin, argpartition, argsort, astype, base, byteswap, choose, clip, compress, conj, conjugate, copy, ctypes, cumprod, cumsum, data, diagonal, dot, dtype, dump, dumps, fill, flags, flat, flatten, getfield, imag,

[2017-10-28 20:19] surajsnair92 commented on #6331
For me too! Thanks.

[2017-10-28 20:19] yaroslavvb commented on #14060
Fair enough, my main readability issue was with `tf.transpose` being too long, but one could also `def t(x): return tf.transpose(x)`

[2017-10-28 20:19] #14060 closed

[2017-10-28 22:33] sebas1022 commented on #6331
@otech47 Thanks

[2017-10-28 23:36] m3bm3b commented on #13220
zhiyzuo asked:

Try the most recent version of nsync.
(I can tell that you're not using the version that has the attempted fix
because of the line number reported in the error message.)

[2017-10-28 23:45] Cpruce opened #14062 "Possible Memory Leak with Pet-variant Detection model on Android"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Sierra+Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: Python 3.6.1 :: Anaconda custom (64-bit)
- **Bazel

[2017-10-29 00:11] moakra commented on #13597
Hi,
I am having the same error using Tensorflow 1.3 and have the error:
AttributeError: module 'tensorflow.contrib.tfprof' has no attribute 'ProfileContext'

when I use:
with tf.contrib.tfprof.ProfileContext('/tmp/train_dir', trace_steps=[], dump_steps=[]) as pctx:

When I try to import the profiler_context using:
from tensorflow.python.profiler import profile_context

I get: ImportError: cannot i

[2017-10-29 01:39] Hanrui-Wang commented on #12468
I have exactly the same issue. Could @andrewharp @benoitsteiner please have a look? Thank you very much!

[2017-10-29 02:17] facaiy commented on #14054
Run the code `td()` on tf 1.5-nightly, it seems good?

[code]

[2017-10-29 02:37] facaiy commented on #14041
Let's make it clear, do you expect this?
![image](https://user-images.githubusercontent.com/1112263/32140251-b75b71be-bc94-11e7-9909-0a4ac3df906a.png)
where `p` is label, and `q` is prediction for binary classification.

[2017-10-29 02:46] gunan commented on #14051
On MacOS, we use clang. Your build seems to be using GCC.
We have not tested these builds and it is possible these are broken.
However, these log lines give me the impression that you are running into a compiler bug:

[code]

These lines are emitted by GCC, so I recommend reaching out to GCC developers.

[2017-10-29 02:49] facaiy commented on #14027
I agree with @michaelisard that document should be revised: `If None, the default initializer passed in the variable scope will be used`.

https://github.com/tensorflow/tensorflow/blob/562045bb93743b09f2652924fdf300fc28fca3db/tensorflow/python/layers/convolutional.py#L144-L153

[2017-10-29 02:51] gunan commented on #14013
We have never tried this ourselves. You can try to adapt our raspberry pi or mobile build for your device. Those are the builds that has the most chance to work on a 32-bit system (but even they could fail).
But I suspect there will be compilation failures. You will need to work through them yourself, as we do not have this device ourselves and we wont be able to reproduce and fix these issues.

O

[2017-10-29 02:55] gunan commented on #14002
Just to make sure, could you share how you ran `configure` script?
I believe this is a duplicate of #10665

[2017-10-29 02:56] diego898 commented on #14050
Hey @rasbt I've recently been using something simple like this:

https://blog.jakuba.net/2017/05/30/tensorflow-visualization.html

It makes mention of the following:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/quantization/graph_to_dot.py

What do you think?

[2017-10-29 02:58] gunan commented on #13926
I do not think we should point this out in our release notes, as they mostly include which cuda/cudnn versions we support. but maybe we can make this clear in our install from sources page in our website?

[2017-10-29 03:00] facaiy commented on #14041
There is a slightly difference: `cross_entropy` expects `(labels, logits)`, while `tf.metrics` expects `(labels, predictions)`.

[2017-10-29 03:11] sanersbug commented on #12468
anyone solved the problem ? please show us ! thank you very much!

[2017-10-29 03:16] facaiy commented on #13971
I agree with @martinwicke that tf.estimator.* does not have this restriction (at least one step train before predict).

If I understand you correctly, a simple code below might work as you expected:
[code]

note: Do not comment training code anywhere, because they might be used to reconstruct the graph.

[2017-10-29 03:31] facaiy commented on #13861
@vs-zhehangd Hi, how's it going? Do you need help, or let me take it back?

[2017-10-29 03:59] rasbt commented on #14050
That's an awesome post, Diego, thanks for sharing! It's really handy, and I didn't know that it was so easy to export graphs via graphviz's "Digraph" already! Of course, for the feature request, it would be even more convenient to have an "export" function in TensorBoard that does exactly this -- saving the graph as dot file for further manipulation.

Best,
Sebastian

[2017-10-29 04:20] hmunozb opened #14065 "[feature] "Periodic" mode for tf.pad"
### System information
N/A

### Describe the problem
If I have a matrix
[code]

It would be nice if I could use something like tf.pad( ... 'PERIODIC') to pad around the dimensions to get a matrix like
[code]

While there seems to be a work around by manually slicing and joining, this would seem nifty to have in tf.pad already to make expressions that assume periodic boundary conditions a bit easie

[2017-10-29 07:45] TamizhPS commented on #11327
**Bus error (core dumped)**

Has anyone solved the above issue

[2017-10-29 08:21] alsrgv commented on #6968
I got this same issue trying to run real data benchmark with Horovod on TF 1.4.0rc1, with Open MPI OpenIB transport (which installs memory hooks). TCP transport is unaffected.

[code]

I was able to make it work by adding `-x LD_PRELOAD=/usr/local/lib/libtcmalloc.so.4.4.5`.

Seems other folks are still hitting this issue in other use cases, too.  Any ideas or plans for the fix?

[2017-10-29 08:44] wjdgkals23 opened #14068 "why don't work this code???"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-29 09:15] #14068 closed

[2017-10-29 09:45] bernt73 commented on #13973
Hi,
I also encountered the same error. Below is my setup in Google VM instance:

GPU : Nvidia Tesla K80
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 16.04
TensorFlow installed from (source or binary): sudo pip  install —upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.3.0-cp27-none-linux_x86_64.whl
TensorFlow version (use command below):Tensorflo

[2017-10-29 12:21] alquraishi commented on #14001
Yes you're right it would have to be platform-specific, presumably `os.path` should work.

[2017-10-29 12:27] ragulh26 opened #14069 "bug - when try train object detection in gcloud [ImportError: No module named 'tensorflow.python.eager']"
### System information
- **I tried to train the model using tensorflow objdet api**:
- **OS Platform and Distribution Linux Ubuntu 16.04 (gcloud VM)**:
- **TensorFlow installed from python pip**:
- **TensorFlow version 1.3.0**:
- **Python version 2.7**:
- **Bazel version (if compiling from source)**:
- **CUDA 8.0 /cuDNN 6.0**:
- **The typical installation steps followed**:

### Describe the proble

[2017-10-29 12:49] cshenton commented on #14051
This error is from running the CI script, which builds a ubuntu based docker container, so I think gcc is correct in that case?

I'm following the instructions on the [contributing info page](https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md), to run unit tests for PRs I'm making. Really I just want to run cpu unit tests, and I ran into this issue on the way.

[2017-10-29 13:09] taki0112 opened #14070 "Feature request : add weight normalization"
can you implement [weight norm](https://arxiv.org/pdf/1602.07868.pdf) ?

I want to use it as follows.
[code]
Is it possible?

[2017-10-29 13:24] zh794390558 opened #14071 "tf.train.MonitoredTrainingSession does not have request_stop() method"
When i use tf.train.MonitoredTrainingSession class like below, I cannot use sess.request_stop() to stop the sess, because MonitoredTrainingSession does not have this method.

tensorflow version is 1.3

[code]

[2017-10-29 13:33] zh794390558 opened #14072 "Feature request: support convert python object to tensor automatical, and can back to object in py_func or other mechod."
I want to use python object as tensor in Tensorflow and can convert it back to object when useing tf.py_func method,  to  support using other python package.

[2017-10-29 13:46] caisq commented on #14069
@ragulh26 Can you update your tensorflow to the latest nightly version?
[code]
or
[code]

[2017-10-29 13:51] zhiyzuo commented on #13220
Thanks for the advice @m3bm3b ! Is that the one in https://github.com/google/nsync? I am not sure if I am doing it right:
I first ran `mkmakefile.sh` and it said `x86_64.macos.clang` already existed so I ran `make` in that folder. No errors pop up. Then I tried installing tensorflow v.1.4.0rc1 again but got the same error. I must be missing something!

[2017-10-29 14:07] ashokbugude commented on #2412
Sorry for asking here instead of creating new issue

I am trying to build tensorflow graph in C++ in eclipse on Linux 64 bit with the help of https://github.com/saman-aghazadeh/cnn-cplusplus-TF/blob/master/cnn.cc

I am getting the below error at run time while debugging

**Code producing error**

**Error generated at runtime while debugging**

**Steps Followed**

I have linked libtensorflow_cc.so

[2017-10-29 14:41] m3bm3b commented on #13220
Try the head version of tensorflow.

On 29 October 2017 at 06:55, Zhiya Zuo <notifications@github.com> wrote:

[2017-10-29 14:49] hbfreedow commented on #14069
I had the same problem

[2017-10-29 15:14] DaoD opened #14074 "A problem about AttentionWrapper"
Hi,
It is different to use Bahdanau Attention and Luong Attention in seq2seq model. When I use Bahdanau Attention I found a problem.
The hint said that when use Bahdanau Attention, need to set the output_attention=False when create AttentionWrapper. But if I set this parameter = False, I cant get the attention information in every timestamp and can not calculate the logits from both attention and

[2017-10-29 16:38] TomorrowIsAnOtherDay opened #14075 "Momentum SGD is very slow with large embedding layer"
Hi, I have an (256 col* 500000row) embedding layer in my model and I found that Momentum SGD is 10x slower than adam optimizer. When I printed the global variables using API :tf.global_variables(), I found a large Momentum  variable created by optimizer, does that means Momentum SGD have not  supported sparse update yet?

[2017-10-29 16:55] eggie5 commented on #10130
@EdeMeijer your solution worked for my VGG16 graph: https://gist.github.com/eggie5/7d9c31c08462ec42ed8d927f2c0c3e55

[code]

Before I was getting that same error as you.

[2017-10-29 17:36] strubell commented on #8431
@tfboyd any progress on "native" cudnn dilated conv support? As referenced in [this comment](https://github.com/tensorflow/tensorflow/issues/8828#issuecomment-325129198) on issue #8828

[2017-10-29 18:46] footh commented on #14054
I built tensorflow from master so I assumed I had the latest. Where do you get the nightly builds from?

[2017-10-29 19:41] caisq commented on #14069
cc @derekjchow @martinwicke @gunan  for possible insight.

Looks like gcloud is using an old version of tensorflow, but is instructing users to run the model from a new version of the source code?

[2017-10-29 19:49] martinwicke commented on #14069
The error is in slim/model_deploy, so that must be new code. Is eager properly exposed in nightly?

[2017-10-29 19:55] footh commented on #14054
I verified that I'm getting the same issue in a python 3.5 environment. Must be some other issue with my setup? 😕

[code]

[2017-10-29 20:35] georgesterpu commented on #13669
Hi Colin,
I generated some alignments using `LuongMonotonicAttention` with `mode='hard'`
https://i.imgur.com/O7PJkmp.png
The output does not look like a binary image, is this the expected behaviour ?
Same code as above to obtain the alignment images, without any resizing

[2017-10-29 21:02] caisq commented on #14069
@martinwicke Yes, eager is in nightly. How is tf installed on gcloud? I'm not familiar with that part.

[2017-10-29 21:48] yaroslavvb commented on #13221
btw, using tf.ones to make 1GB tensor takes forever (probably huge constant like with tf.zeros). Using `Fill` implementation works better, but crashes above 2GB, I guess fill has some size limit

[2017-10-29 22:31] martinwicke commented on #14069
If 1.3 is installed there it will simply not work.

[2017-10-29 22:58] goldingn commented on #4965
Oh, that's brilliant!

The ability to pass in a mass matrix for the parameters (a fixed estimate of the posterior variance-covariance matrix) would be really helpful for tuning the samplers.

[2017-10-30 01:10] #11730 closed

[2017-10-30 01:10] tensorflowbutler commented on #11730
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-10-30 02:02] shichengcn opened #14079 "How to get difference or square between two tensor？"
I define two subnets that output the tensor of the same dimension use functional model. I want get difference between them. for example：tensor1 [1,2,3,4,5], tensor2 [1,1,1,1,1], output=tensor1 -tensor2 =
Can you tell me how to get difference between two tensor，or square of one tensor？
Thank you very much.

[2017-10-30 02:03] asimshankar commented on #14069
It seems that this breakage was introduced in https://github.com/tensorflow/models/commit/cbb624791068590026f50f01d370d9328fe8ebf2 which made the `slim` code depend on the master branch of TensorFlow instead of the release version

@sguada : Is `models/research/slim` meant to depend on building TensorFlow from the HEAD of master branch? Or should the change mentioned above be rolled back to keep i

[2017-10-30 02:11] asimshankar commented on #14001
Seems like the PR is in flight, so marking this as contributions welcome.

[2017-10-30 02:15] asimshankar commented on #14049
I believe this is the same request as in the Tensorboard repository: https://github.com/tensorflow/tensorboard/issues/32 - so closing this as a duplicate.

[2017-10-30 02:15] #14049 closed

[2017-10-30 02:15] asimshankar commented on #14079
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-30 02:15] #14079 closed

[2017-10-30 02:20] asimshankar commented on #14071
I'm sorry, I don't quite follow the issue here. Yes, `request_stop` is not a method on the `Session` or `MonitoredSession` classes. Perhaps you could add more detail on what you're trying to do.

[2017-10-30 02:20] rasbt commented on #14049
Sure, makes sense! I just realized that I should have searched & submitted this to the tensorboard repo anyways (for some reason, I thought tensorboard was included in the tensorflow main repo)

[2017-10-30 02:22] ylfzr opened #14080 "@function.Defun lose input tensor shapes"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NA
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12.5 (16F73)
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.3.0
- **Python version**: 2.7.13
- **Bazel version (if compiling from source)**:NA

[2017-10-30 02:26] DavidYKay opened #14081 "Feature Request: C++ gradient for Cast"
Implement the gradient for Cast in C++ so that it is available for TF_AddGradients.

This is the Python code that I believe would need to be ported:

https://github.com/tensorflow/tensorflow/blob/27767d8e9c1325979cf32ff5b81c10df9006fd57/tensorflow/python/ops/math_grad.py#L1109-L1120

Will be asking @bpiel for guidance if I get stuck!

[2017-10-30 02:29] asimshankar commented on #14081
FYI @suharshs @skye @andydavis1

Contributions are welcome! See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/gradients/README.md for some more information on adding gradients.

[2017-10-30 02:32] asimshankar commented on #14080
FYI `@Defun` is not a publicly supported API, which is why it does not appear in the API docs at https://www.tensorflow.org/api_docs/python/

That said,  @iganichev  has been looking into this.

[2017-10-30 02:40] zhiyzuo commented on #13220
I later tried again with `v1.4.0rc1` and it worked. One extra thing I did was installing `grpc` due to some error when building from source: https://github.com/grpc/homebrew-grpc

Thank you so much!

Sum up:

1. Add the following to `/Library/Developer/CommandLineTools/usr/include/c++/v1/__threading_support`

[code]

2. Get the most recent `nsync`: https://github.com/google/nsync

3. Installing `g

[2017-10-30 02:54] m3bm3b commented on #13220
Are you saying that step 1 is essential, even if you do everything else.
I ask because, of course, the intent of the new version of nsync was that you should not need to do step 1.

[2017-10-30 03:07] zhiyzuo commented on #13220
I forgot about that and just tried it again without modifying `__threading_support`: it gave me such error with a warning: (Am I not installing `nsync` right: is `make` enough for installation?)

---

/private/var/tmp/_bazel_zhiyzuo/c6ab565d8235ea2aeef2da37c98dc58b/external/nsync/BUILD:397:1: C++ compilation of rule '@nsync//:nsync_cpp' failed (Exit 1).
In file included from external/nsync/interna

[2017-10-30 04:07] yzhwang commented on #11327
@TamizhPS Are you sure this is a relevant issue? If so please provide more info as the original reporter did, so that I can take a closer look. Thank you!

[2017-10-30 04:45] gunan commented on #14051
Ah,  I see.
But still, this looks like a GCC bug looking at your error message.

When I search the error message at google, I see some relevant issues, please make sure to check existing issues to see if these apply to you. It looks like this can be a memory problem. Also in stackoverflow I can see some recommended solutions.
https://github.com/tensorflow/serving/issues/13
https://stackoverflow.co

[2017-10-30 04:55] ragulh26 commented on #14069
After i installed tf-nightly-gpu version the [ImportError: No module named eager] is gone and new error [object_detection.protos.TFRecord InputReader" has no field named "data".] is popped up.

I don't know whether or not its related to this problem; Should i posted here or start a new thread?

[2017-10-30 05:04] gunan commented on #14014
We are currently evaluating the fate of the cmake build. It may either become a "first class citizen" or completely go away. I should be able to comment more in about a week.

[2017-10-30 05:24] calhamdower opened #14083 "AssetFileDef is not updated when using Saved model builder."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
Pulled from current master, but code is same at 1.4
- **Python version**:
2.7
- **Baz

[2017-10-30 05:24] letuantang commented on #5036
+1

[2017-10-30 05:50] ragulh26 commented on #14069
After installing the tf-nightly version the problem got resolved. Thanks for the help.

[2017-10-30 05:56] satendrapratap commented on #13971
Thats exactly the point that if we are trying to predict on a trained model then why do we need the training code at all?

Below line of code should take care of everything related to reconstructing the graph etc in case of predicting so that we should not any training code during prediction:
classifier = tf.estimator.Estimator(model_fn=model_fn, model_dir=MODEL_DIR)

[2017-10-30 06:01] asimshankar commented on #14083
@davidsoergel @sukritiramesh  - mind taking a look?

[2017-10-30 06:14] wochinge opened #14084 "Tensorflow hooks do not properly write events to HDFS"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Alpine Linux 3.6.2 (running with Docker)
- **TensorFlow installed from (source or binary)**: Binary (conda-forge)
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 3.6.3
- **Bazel vers

[2017-10-30 06:30] cshenton commented on #14051
Thanks for that! I didn't find those when I first googled the problem.

I've allocated more memory to docker, and am compiling again now. Assuming that goes fine I'll close the issue.

Would it be appropriate if I PRd in a short note on `CONTRIBUTING.md`? My reasoning is that if there are issues building the CI docker image using default settings on docker for mac, that other people may also run i

[2017-10-30 06:53] gunan commented on #14051
I think the main problem is, our CI runs on the beefiest machines we can
find(average 50+ GB memory, 10+ CPUs), and our ci build scripts are
optimized for speed on them.
We will need to create separate scripts for contributors to perform local
testing on real world computers.

On Sun, Oct 29, 2017 at 11:31 PM, Charles Shenton <notifications@github.com>
wrote:

[2017-10-30 07:08] vs-zhehangd commented on #13861
@facaiy  I found that I couldn't find a good time to deal with this problem. Probably it is better to return this to you. Sorry for the inconvenience.

[2017-10-30 07:42] bopeton commented on #10033
Hey @mrry I ran your script and got the following output:

C:\Users\___\Desktop>python tensorcheck.py
ERROR: Failed to import the TensorFlow module.

- Python version is 3.6.

- TensorFlow is installed at: C:\Program Files\Python36\lib\site-packages\tensorflow

- All required DLLs appear to be present. Please open an issue on the
  TensorFlow GitHub page: https://github.com/tensorflow/tensorflow/i

[2017-10-30 08:11] mjunyentb commented on #13779
The last thing my script does is closing the session, so I actually don't prevent it.

Is it? note that the problem is that sess.close() doesn't return because the thread could not be stopped (it does return thanks to the timeout).

[2017-10-30 08:21] Ellie68 opened #14085 "How can I run a Tensorflow file on GPUs? Error: Cannot assign a device for operation 'eval_step'"
Do you have any idea how can I run ["eval_image_classifier.py"][1] on GPUs? Should I change any functions or do any modifications? Or whether there exist any other specific functions for evaluation on GPUs?

I can already run ["train_image_classifier.py"][2] on GPUs because of having the associated flag for switching between CPU and GPU:

    tf.app.flags.DEFINE_boolean('clone_on_cpu', False,

[2017-10-30 08:30] Ellie68 commented on #9506
Same problem. Is there any way to fix this error?

[2017-10-30 08:53] w19787 commented on #13868
i met same issue...

[2017-10-30 09:00] mushroom1116 commented on #1604
@ebrevdo  I want to design a CNN Net with two layers and there are some problems in back propagation. When I got M_out1(M_out1 = (Q1*W)+B) as the input for the second layer, I have to iterate H_out1 of the first layer to determine the H_out2 and Q2 of the second layer.

Now I access the active site's coordinate one bye one(for i in range(a_out1), a_out1 must be an int and need sess.run()) stored i

[2017-10-30 09:35] mtngld commented on #14042
During training mode of an Estimator the summaries are added automatically (no need to use hooks). Why isn't it the same behavior for evaluation mode?

Related StackOverflow question: https://stackoverflow.com/questions/43782767/how-can-i-use-tensorboard-with-tf-estimator-estimator

[2017-10-30 09:41] tohnperfect commented on #12736
I got the same issue as @aureosun got.
Any suggestions would be appreciated.

Thanks

[2017-10-30 09:57] warisha commented on #6883
thanks :+1:  it works!

[2017-10-30 10:10] zhedongzheng opened #14087 "tf.contrib.boosted_trees cannot be used in 1.4.0rc1"
TF Version: 1.4.0rc1
Py Version: 2.7
OS: Mac OS

[code]

A minimal example to train on mnist dataset throws error:
[code]

[2017-10-30 10:11] chanil1218 commented on #11736
https://github.com/bazelbuild/bazel/issues/3788#issuecomment-337872701 this approach might solve the problem.
I append `sudo` to `$ bazel build ...`  instead of disabling pyenv at `.bashrc`.
I guess it seems system python is used internally then solve the problem.

[2017-10-30 10:14] Pepslee commented on #2169
Hi, yes, one_hot function is build one_hot_vector for each index. So, I`m trying to build matrix, which will have ones at the required indices, and then multiply it by the interpolated(nearest neighbor) input data.
[code]
i didn`t find some better function, to get ones_like index matrix.
There are tf.sparse_to_dense  function in tensorflow, but it implemented only for CPU.

Maybe someone will try

[2017-10-30 10:48] kaspermarstal commented on #14014
I sincerely hope it will not go away or it will be difficult to integrate TensorFlow with all the big C++ libraries out there.

[2017-10-30 11:12] brookhong commented on #6331
I fixed this by

    vim /usr/local/bin/pip

with

    #!/usr/local/bin/python2.7

at first line, as I already have `/usr/local/bin` ahead of `/usr/bin`.

[2017-10-30 11:20] #11891 closed

[2017-10-30 11:27] Lavz opened #14089 "Unable to download the training images from curl http://download.tensorflow.org/example_images/flower_photos.tgz"
![image](https://user-images.githubusercontent.com/16485968/32168606-5394209a-bd93-11e7-91a2-003a3f08e743.png)

[2017-10-30 11:41] denzp commented on #5777
A solution that works for me is a systemd service that kills all CUDA consuming processes and restarts `nvidia-docker` (since I use tensorflow inside docker conteiner).

[code]

And the service itself:
[code]

[2017-10-30 12:33] facaiy commented on #13861
OK. Don't worry :-)

[2017-10-30 12:57] craffel commented on #13669
That does not look correct for `mode='hard'`.  I'm traveling this week so will not have a chance to look at it.  Please double check that you're actually passing `mode='hard'` and then maybe post a short code snippet with how you are calling `LuongMonotonicAttention` (a minimal example showing this behavior would be most helpful).  In the meantime @ebrevdo maybe you can help debug?

[2017-10-30 13:00] Rulen9987 opened #14092 "There is a Error about: Too many include files"
when i try to built example/label_image/main.cc . Visual studio will throw an error :c1014 too many include files . Click the message , this error point to a file of Tensor.  can anybody tell me how to fix this problem.thank you.
This is my first time to write English litter , and i am not good at english , wish you can understood what i said . lol

[2017-10-30 13:19] teramototoya commented on #2169
I tried implementation a new ones_like index matrix using tf.greater. But this works only with pool_size = strides. Because if pool_size> strides, tf.image.resize_nearest_neighbor can not reconstruct well.

[code]

[2017-10-30 13:20] MounirHader opened #14093 "Error: E tensorflow/core/common_runtime/direct_session.cc:138] Internal: failed initializing StreamExecutor for CUDA device ordinal 0: Internal: failed call to cuDevicePrimaryCtxRetain: CUDA_ERROR_INVALID_DEVICE"
Hi, I am working on a remote machine with many GPU cards that has CUDA v8.0.61 and Cudnn 5.1.10 installed. Upgrading these is not possible because of permission rights. In my own environment I installed TensorFlow version 1.2.1, but I get the following error when launching a `Session()`:

[code]

The output when calling `nvidia-smi` is

[code]

Any ideas on the error `E tensorflow/core/common_runt

[2017-10-30 13:51] MounirHader commented on #14093
Also, it is not a memory error on the GPUs. When explicitly setting CUDA_VISIBLE_DEVICES to a non occupied GPU I get the same error. One time I seemed to get lucky as the following command worked:

[code]

But it keeps failing all other times (on GPUs that aren't occupied)

[2017-10-30 14:08] MounirHader commented on #14093
It now seems I can only use the GPUs that have a P8 status (not the ones with P0)

[2017-10-30 14:13] Pepslee commented on #2169
Hi, @teramototoya
but tf.scatter_nd have not implemented on GPU

[2017-10-30 14:21] teramototoya commented on #2169
@Pepslee Thanks for your comment. Oh sorry. I did not know that. So I will delete the my comment.

[2017-10-30 14:32] vdutor opened #14095 "matrix_triangular_solve has broken docstring"
### System information
not applicable (regards documentation)

### Describe the problem
The docstring of matrix_triangular_solve is not clear, see https://www.tensorflow.org/api_docs/python/tf/matrix_triangular_solve. There are formatting issues, but moreover, it is not immediately clear what the effect of `adjoint=True` is. It would be helpful to describe the effect using linear algebra notation.

[2017-10-30 14:42] 183amir commented on #14000
Thank you for looking into this issue.
I think (this is my guess) this happens during saving and restoring the model.
Something like below would also trigger this issue:
[code]
in a new python process:
[code]

[2017-10-30 14:53] #13317 closed

[2017-10-30 15:01] #14093 closed

[2017-10-30 15:02] nikhilpriyatam commented on #13292
I got the same issue. By any chance, did you find out a solution to this error?

[2017-10-30 15:09] ruppeshnalwaya1993 opened #14096 "Unable to use NeonDepthwiseConv2dNativeOp"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-10-30 15:10] #14096 closed

[2017-10-30 15:30] ebrevdo commented on #13669
Hi George,
Are you able to provide a minimal code example that we can use to replicate
the issue?

On Mon, Oct 30, 2017 at 5:57 AM, Colin Raffel <notifications@github.com>
wrote:

[2017-10-30 15:31] tfboyd commented on #8431
Assigning to myself to try and find out if these is any near-term planned work to add support for cuDNN dilated conv.

[2017-10-30 15:49] mrry commented on #14017
The implementations of these ops are thin wrappers around Eigen:

https://github.com/tensorflow/tensorflow/blob/0623993f08c5357302bf64a50a52120da323ed25/tensorflow/core/kernels/cwise_ops.h#L576-L592

[2017-10-30 15:51] jeherr commented on #13963
I'll try to test this with the current Tensorflow 1.4 branch once I get some time. Should be able to soon.

[2017-10-30 15:58] ispirmustafa commented on #14042
It makes sense for consistency with training.
On the other hand I haven't see a valid eval hook request. @hanfeisun how are you planning to use SummaryHook in evaluation? There are more then one eval-run in evaluation of one global-step.

[2017-10-30 16:03] alexggmatthews commented on #4965
Excellent news. Did I remember that @dustinvtran is in Mountain View at the moment? Is he also involved?

[2017-10-30 16:07] mrry commented on #4071
@MakeWater Please open a new issue with a reproduction if you're still running into this issue. Thanks!

[2017-10-30 16:09] jvdillon commented on #4965
@goldingn, Let me look into supporting this feature.
@alexggmatthews, @dustinvtran is working with Bayesflow team.  Everyone has been involved in getting HMC implemented but currently Matt Hoffman (and to a much lesser extent, myself) did the work of implementing HMC. Over the coming months we'll all continue to improve and extend its functionality.

[2017-10-30 16:15] asimshankar commented on #14089
Please provide details on what exactly you're doing. It seems like you're using `curl` but not specifying the file to download into, so it's dumping the contents to your screen.

[code]

seems to work fine.

[2017-10-30 16:21] asimshankar commented on #14095
What language would you suggest?
Contributions are welcome :) - you'd want to change the string here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/linalg_ops.cc#L430

FYI @rmlarsen in case he has some comments.

[2017-10-30 16:30] turkeyB opened #14097 "how can i get a specific version of tf"
## platform
raspbian 8.0

## problem
I need this specific release of tensorflow... and does anyone have the repository of that version?
it needs to be a source file.. because of some specific situation and some difficulties that hard to solve, I have to compile it from source and get a consequence similar to `git clone --recurse-submodules https://github.com/tensorflow/tensorflow.git` but in the v

[2017-10-30 16:42] georgesterpu commented on #13669
Thanks for the confirmation, there is probably something wrong with my code. I am also traveling tomorrow, but will check everything on Wednesday and come back with a snippet if the problem persists.

From: ebrevdo
Sent: Monday 30 October 2017 15:33
To: tensorflow/tensorflow
Cc: George Sterpu; State change
Subject: Re: [tensorflow/tensorflow] monotonic attention is buggy (#13669)

Hi George,
Are y

[2017-10-30 16:53] mrry commented on #10033
@bopeton Can you try upgrading to the TF 1.4.0 release candidate and see if that fixes the problem (or gives a more useful error message)?

[2017-10-30 16:56] yongtang commented on #1419
I tried to add a customer ops for Kafka (PR #14098) that utilize `ReaderBase` and encountered a similar issue. Had to comment out clean_deps of tensorflow/core:framework and tensorflow/core:lib for now. Hope there are other nice and clean ways to utilize `ReaderBase`.

[2017-10-30 17:08] av8ramit commented on #8828
@DonghunP what version of TensorFlow are you using? Maybe you are hitting https://github.com/tensorflow/tensorflow/issues/12326

[2017-10-30 17:19] dustinvtran commented on #4965
Also as a heads-up: the API is highly subject to change. We're still exploring a few options but at least want to share good core implementations with the public. :-)

[2017-10-30 17:29] chensteven commented on #14069
any status to this? I also have the same problem but installing tf-nightly did not fix the error.

[2017-10-30 17:39] reedwm commented on #13597
`ProfileContext` was added after TensorFlow 1.3, so you cannot use it in 1.3. To use it, wait for TensorFlow 1.4 to be released, or use a [nightly TensorFlow binary](https://github.com/tensorflow/tensorflow#installation).

[2017-10-30 17:47] pramodkaushik opened #14101 "Computing gradients within tf.while_loop"
I am posting this here because [a similar question on stackoverflow](https://stackoverflow.com/questions/42313788/how-to-do-opt-compute-gradients-multiple-times-in-single-sess-run) is still unanswered, so I suspect it might be a bug.

Adding gradient ops within a tf.while_loop for computing gradients of loop variables w.r.t external variables results in an error.

Program reproducing the error:
[c

[2017-10-30 18:02] m3bm3b commented on #13220
You're doing a bazel build; there should be no need to invoke make on nsync.
If you invoke bazel in the tensorflow tree, bazel will fetch and build the version of the nsync package
associated with the version of the tensorflow package that you've downloaded.

The problem is that you're using a version of tensorflow that's using an older version of nsync.
As I said earlier, this is clear from the l

[2017-10-30 18:16] johnsrude commented on #13962
@Carmezim Yes, the problem here was Python 3.5 vs 3.6. Thanks!

Still need to resolve "build always" problem.

[2017-10-30 18:26] gunan commented on #14069
@chensteven please see the latest comment by @ragulh26

[2017-10-30 18:26] #14069 closed

[2017-10-30 18:44] helange23 opened #14104 "tf.scatter_add causes error in loop"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, it's below.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOSX
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**:  3.5
- **Bazel version (if compi

[2017-10-30 18:49] j-wilson opened #14105 "tf.reshape() fails for shapes containing non-32 bit precision TF integer types"
**Environment**: TensorFlow v1.3.0-rc2-20-g0787eee 1.3.0 running on Mac OS X (v10.12.6)

**Issue**:
Function `tensorflow.reshape()` works when provided a list-based shape containing `tf.int32`; but, fails for, e.g., `tf.int16` and `tf.int64` with error message `TypeError: List of Tensors when single Tensor expected`.

**Example**:
[code]

[2017-10-30 18:52] rlegithub commented on #14002
Thanks for reply @skye and @gunan . I found the root cause, it turn out there was a problem in the CUDNN header that I modified the path, which is not added to bazel header list properly.

Closing the issue now.

Thanks

[2017-10-30 18:52] #14002 closed

[2017-10-30 18:54] bopeton commented on #10033
@mrry

Thank you for responding!

I solved the problem and it was much dumber than I thought. My SSD had run out of space while CUDA 8.0 was installing so there were problems with that. I re-installed CUDA and everything is fine now.

[2017-10-30 19:19] techbot123 commented on #647
Always activate the tensorflow environment (activate tensorflow) in the Anaconda prompt window before using tensorflow.

[2017-10-30 19:26] iganichev commented on #14080
As @asimshankar mentioned, `@Defun` is experimental and has a number of features missing including shape propagation. This feature is on our radar but it is currently not high enough priority for us to know a rough timeline for its completion.

[2017-10-30 19:32] Andres-Hernandez commented on #1736
I have made the pull request
#14106

It follows the quoted paper, even in the initializer for the scaling variable, except that the statistics are taken "globally" rather than for each time step as recommended. The reason is that it uses tensorflow.python.layers.normalization.BatchNormalization to perform the actual normalization, and it would require that the variable creation/reuse be controlled

[2017-10-30 19:57] RockfordWei commented on #19
Thanks, @VolodymyrPavliukevych , Now Perfect-TensorFlow has the same test script from you for how to use **TensorBoard** - thank you for reminding me to double check that Perfect-TensorFlow's powerful features - it had been there since 1.1.5, the very first release, actually, my fault, I didn't realize the end user would like such a demo.

[2017-10-30 20:09] ushnish commented on #374
Actually I had this issue because I was trying to import tensorflow from a python session inside the tensorflow repo folder, going to some other folder and starting python and importing tensorflow worked for me.

[2017-10-30 20:11] johnsrude opened #14107 "TensorFlow 1.4.0 takes more resources and is slower on GPU and CPU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: https://github.com/tkuanlun350/Tensorflow-SegNet
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7 x64
- **TensorFlow installed from (source or binary)**:  https://pypi.python.org/pypi/tensorflow-gpu/1.4.0rc1
- **TensorFlow version (use command below)*

[2017-10-30 20:38] asimshankar commented on #14097
You can switch to the release branch of the appropriate version. The release branches are named `r<version_number>`, see all branches at https://github.com/tensorflow/tensorflow/branches/all

For example:

[code]

will take you to the version 1.2 branch.

[2017-10-30 20:38] #14097 closed

[2017-10-30 20:54] ryanpeach commented on #5522
Mine is stuck as well, any fix?

I'm on Ubuntu Subsystem for Windows if that effects anything.

[2017-10-30 21:00] dnel38 opened #14108 "Custom OP Reader AttributeError: 'module' object has no attribute 'read'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Custom Code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
1.4.0
- **Python version**:
2.7
- **Bazel version (if compiling from source)

[2017-10-30 21:11] klueska commented on #1996
I know this thread is closed, but I wanted to point out the new release of distributed TensorFlow on DC/OS that we announced today. https://mesosphere.com/blog/tensorflow-gpu-support-deep-learning/

[2017-10-30 21:12] yifeif commented on #13973
Ah the 1.3 binaries are built for cudnn 6. Could you guys try upgrade your cudnn to 6.0?

[2017-10-30 21:17] Jiawen1991 opened #14109 "The implementation in source code of Backpropagation in TensorFlow (Conv2DBackpropFilter and Conv2DBackpropInput)"
Hi,

Since two operations Conv2DBackpropFilter and Conv2DBackpropInput count most of the time for lots of applications(AlexNet/VGG/GAN/Inception, etc.), I am analyzing the complexity of these two operations (back-propagation) in TensorFlow and I found out that there are three implementation versions (custom, fast and slot) for Conv2DBackpropFilter (https://github.com/tensorflow/tensorflow/blob/mas

[2017-10-30 21:45] feranick opened #14110 "GPU underutilized using DNNClassifier"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Using stock code: https://www.tensorflow.org/get_started/estimator
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary from pip
- **TensorFlow version (use command below)**: 1.3.1, 1.4rc1, mas

[2017-10-30 22:12] facaiy commented on #14105
The behavior is expected, see API: [tf.reshape](https://www.tensorflow.org/versions/master/api_docs/python/tf/reshape)

[2017-10-30 22:20] meccaLeccaHi commented on #14048
#### I don't know if anyone will read this. But, I've since upgraded my GPU, reinstalled CUDA-8.0 (from with apt-get install), and modified my .bashrc file to include:
export LIBRARY_PATH=$LIBRARY_PATH:/usr/local/cuda/lib64
as per [this post](https://groups.google.com/forum/#!topic/theano-users/qD_HHtO3b-k). The relevant portion of the latest .bashrc file is shown here:
'export CUDA_ROOT=/usr/loca

[2017-10-30 22:24] j-wilson commented on #14105
Not sure I fully understand. The API seems to suggest that it should work for both `int32` and `int64`. In the example provided above, the first iteration (using `int32`) succeeds but the remaining do not.

[2017-10-30 22:41] nikonikolov commented on #13865
In that case, seems like `Dataset.from_tensors(0).repeat(len(X_test_data))` can often do the job.

As far as the feature request goes, maybe something like this will be more clear
[code]
The idea is that just some empty Dataset is created, which can be compatible with `y_train` provided that the same `output_types` and `output_shapes` are supplied (or alternatively an example tensor for `output_ty

[2017-10-30 22:48] cshenton commented on #14051
I think so long as the amount of RAM allocated per CPU core isn't too low the scripts should work fine on most dev machines (albeit slowly).

The issue in my case is that the container was using just under 4 logical cores, but only had 2GB ram allocated, hence the memory issues. Now that I've allocated 4GB to docker, the container is only using ~2.2GB RAM.

It would make it easier to contribute to

[2017-10-30 22:48] #14051 closed

[2017-10-30 22:56] asimshankar commented on #14048
@meccaLeccaHi : Sorry that you're running into this. The error messages suggest trouble using CUDA/CUDNN, or in this last case, errors in loading the `libcusolver.so` library.

So the errors have changed after your reinstall? What is the location of `libcusolver.so.8.0` on your filesystem?

[2017-10-30 23:05] gbc8181 opened #14111 "CUDNN_STATUS_INTERNAL_ERROR"
Hi,

I did not do anything but find all my programs about tensorflow could not work. That is very strange that my two computers has the same error at the same time.

The error is showed here:

2017-10-30 17:55:23.525428: E tensorflow/stream_executor/cuda/cuda_dnn.cc:371] could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR
2017-10-30 17:55:23.525452: E tensorflow/stream_executor/cuda/cuda_dn

[2017-10-30 23:08] turkeyB commented on #14097
thx !

[2017-10-30 23:09] allenlavoie commented on #14075
I'm assuming you mean that AdamOptimizer is slower than MomentumOptimizer; Adam applies momentum to the whole variable, Momentum only applies it to slices affected. Does [tf.contrib.opt.LazyAdamOptimizer](https://www.tensorflow.org/api_docs/python/tf/contrib/opt/LazyAdamOptimizer) work for you?

[2017-10-30 23:10] yifeif commented on #13930
Sure, we can add it to the template file, and to the checker. cc @aselle FYI. Will send a PR first.

[2017-10-30 23:11] tamias65 opened #14112 "[iOS] No OpKernel was registered to support Op 'Prod' with these attrs"
I'm trying to load the faster_rcnn_resnet101_coco model from the [Tensorflow Object Detection model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md) onto the iOS camera example.  Currently, I'm running in to the issue with
[code]

The environment is as follows:

- python 3.6
- xcode 9.0.1
- mac os 10.12
- tensorflow built from source usi

[2017-10-30 23:15] meccaLeccaHi commented on #14048
Thanks for your help!
I was able to move past the original error by adding the following line, in particular, to my .bashrc file:
`export LIBRARY_PATH=$LIBRARY_PATH:/usr/local/cuda/lib64`
But, I am still unable to import the tensorflow module.

libcusolver.so.8.0 is located at:
/usr/local/cuda-8.0/targets/x86_64-linux/lib/libcusolver.so.8.0

[2017-10-30 23:16] smurching commented on #13844
@asimshankar I was able to reproduce this error locally with tensorflow 1.4rc1, I'll update the issue description!

[2017-10-30 23:16] TomorrowIsAnOtherDay commented on #14075
@allenlavoie sorry, I mean AdamOptimizer is faster than MomentumOptimizer.In my case,
AdamOptimizer can run 11.58 batch per second, while MomentumOptimizer can only run 5 batch per second.I run TF 1.3.1 in K40 GPU.

[2017-10-30 23:22] allenlavoie commented on #14075
Can you post code to reproduce? It sounds like this is not a sparsity issue, since MomentumOptimizer handles sparse updates more quickly than Adam (in theory). Maybe a device placement issue?

[2017-10-30 23:27] asimshankar commented on #14048
Hmm....so not in your `LD_LIBRARY_PATH`. Just to verify that `libcusolver.so.8.0` is accessible to the linker, can you also list out the output of `ldconfig -p | grep libcusolver`?

[2017-10-30 23:31] TomorrowIsAnOtherDay commented on #14075
The code is complex and have a lot preprocessing code(using Dataset API and TF data), I can write a  test code for it.Could you give some advice to test whether it is a placement  issue? I just changed the code from AdamOptimizer to MomentumOptimizer.The way how the optimizer placed should be same.
![image](https://user-images.githubusercontent.com/25046619/32200558-3c588e72-bda0-11e7-91e3-893c52f

[2017-10-30 23:33] TomorrowIsAnOtherDay commented on #14075
And tf.contrib.opt.LazyAdamOptimizer can speed up training speed, It really help.

[2017-10-30 23:37] allenlavoie commented on #14075
I'd start with (log_device_placement)[https://www.tensorflow.org/tutorials/using_gpu#logging_device_placement]; maybe sparse Momentum updates don't have a GPU kernel (or don't have one for the dtype you're using)?

[2017-10-30 23:41] TomorrowIsAnOtherDay commented on #14075
![image](https://user-images.githubusercontent.com/25046619/32200877-eb4c38f6-bda1-11e7-9ea7-251a75f4c6a5.png)
It seems Momentum updates don't have a GPU kernel?

[2017-10-30 23:42] #13999 closed

[2017-10-30 23:57] allenlavoie commented on #14075
Oh, right, Adam's sparse updates are in terms of other ops rather than being fused. Looks like none of the other optimizers have GPU kernels implemented for the sparse updates (they do have GPU kernels for dense updates).

One approach would be to re-implement [MomentumOptimizer's sparse updates](https://github.com/tensorflow/tensorflow/blob/1f582aa3b24d59400492cc74876f0e075e7c106c/tensorflow/pyth

[2017-10-31 00:06] TomorrowIsAnOtherDay commented on #14075
Thanks @allenlavoie ~

[2017-10-31 00:10] facaiy commented on #14105
Yes, you're right. The `shape` must be either int32 or int64, unfortunately, mixing them is not permitted. To be honest, it is not convenient. Perhaps you can open a feature request:-)

[2017-10-31 00:19] facaiy commented on #14105
By the way, cast `shape` to valid type might be useful for you.

[code]

[2017-10-31 00:23] j-wilson commented on #14105
Thanks for helping to clarify this issue. Using what you've mentioned, the following work for both `int32` and `int64`: `tf.reshape(x, tf.cast([16, 2], dtype))`. This usage pattern suffices for my purposes; however, I would like to point out the following nuance (which still seems like a bug).

Of the following, the former works but the latter does not:
[code]
Presumably, support was added somewhe

[2017-10-31 02:06] sogangori commented on #9775
keep_prob = tf.cond(dropOut,lambda:tf.constant(0.9), lambda:tf.constant(1.0))
cells = rnn.DropoutWrapper(cells, output_keep_prob=keep_prob)

[2017-10-31 02:09] bxshi commented on #13600
@lukaszkaiser My bad. Actually there is no need to disable `layer_norm` during inference. Closing the issue.

[2017-10-31 02:09] #13600 closed

[2017-10-31 02:50] WangNuoWa commented on #386
Hi  everyone,

I would like to do some work on the basis of this article, but the original author uses theano.tensor.fft module to implement batch 1-D FFT, batch 2-D FFT, batch 1-D IFFT, batch 2-D IFFT. Now i want to replace the theano.tensor.fft module directly into tensorflow in tf.fft and tf.fft2d, ok?

<https://github.com/ChihebTrabelsi/deep_complex_networks/blob/master/complexnn/fft.py>

We l

[2017-10-31 03:03] dnel38 commented on #14108
@allenlavoie I imported user_ops, but I get the `AttributeError: 'module' object has no attribute 'redis_reader'` from line `rr = _gen_user_ops.redis_reader(name=name)`, which is what I feared. The gen_user_ops  does not show my custom op reader in it, but only the default _fact op provided as an example.

[2017-10-31 03:08] zh794390558 commented on #14071
I want to early stop the iteration over epoch, which maybe very time consume. So I have to use sess.request_stop() to stop the while loop like other Session, otherwise i have use `break` to stop the while loop.

[2017-10-31 03:12] quaeler commented on #13844
@smurching If you could reproduce it locally, could you remove the "If I run the same code but checkpoint to my local filesystem the save op runs without error." from your initial description?

Is the stack trace the same for the local error as well?

Lastly, are you running this on a relatively memory constrained device?

[2017-10-31 03:15] facaiy commented on #14105
It's not perfect, I agree with you, @j-wilson .
However, note that `tf.cast([16, 2], dtype)` is a tensor, while `[tf.cast(16, 'int64'), tf.cast(2, 'int64')]` is a list of tensors. In fact, `tf.shape` expects a tensor for `shape`.

[2017-10-31 03:16] ppwwyyxx commented on #12051
Uber has a complicated way to test TF ABI:
https://github.com/uber/horovod/blob/10835d25eccf4b198a23a0795edddf0896f6563d/setup.py#L72-L100

[2017-10-31 03:29] facaiy opened #14116 "py_func cannot handle Chinese string correctly"
tensorflow: 1.3.0

I write a simple code to split and concatenate utf8 string. However, I found that only English string works well on python 2.7.

### script:
[code]

### logs

#### python: 2.7

success for English, failed for Chinese.

[code]

#### python 3.5.2

both failed.

[code]

[2017-10-31 03:49] cloudhan opened #14117 "Error in CMake generated build script"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 1709
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.0-rc1
- **Python version**: 3.5
- **Bazel version (if compiling from source)**: - (I

[2017-10-31 03:50] rktamplayo commented on #13292
I found that decreasing the number of parameters per run (e.g. by decreasing the batch size) solves the error.

[2017-10-31 04:15] smurching commented on #13844
My mistake, by "locally" I meant to say on a single machine -- I'm still trying to checkpoint to S3, with the stacktrace appearing as shown above. I'm running on a p2.xlarge AWS EC2 instance, which AFAIK has 61 GB RAM.

[2017-10-31 04:32] sandipmgiri commented on #13992
Thanks @skye , I have created a PR - https://github.com/tensorflow/tensorflow/pull/14086, please have a look.

I will close this issue once PR merged.

[2017-10-31 04:39] jart commented on #14116
Your example will work if the `u` prefixes are removed from strings. An important thing to note is that `tf.py_func` needs to turn Python strings into tensors before calling the func. We have a byte string tensor but no unicode tensor.

Things could still probably be improved on our end. It's likely we're forgetting to call compat.as_bytes() somewhere in our py_func implementation, which is causin

[2017-10-31 04:46] jart commented on #14112
When modifying examples, you might need to tailor the build to make sure all the kernel libraries (which use a registration pattern) are being included. With that said, this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is a larger community that reads questions there. You can also likely search f

[2017-10-31 04:46] #14112 closed

[2017-10-31 04:55] jart commented on #14110
Performance is a top priority for the TensorFlow team. The best way to help us improve it, is to make sure other potential causes have been ruled out. I recommend reaching out to the [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) for help troubleshooting. If a solid case can be made that there's a performance issue in TensorFlow, please report back to this issue, and I'll re

[2017-10-31 04:55] #14110 closed

[2017-10-31 04:57] xsr-ai commented on #12052
hello，i try to build tensorflow gpu by win10 env，then i also met like this issue， can anyone help me，thanks first.
my environment：
win10 + gtx 1080ti + cuda 9.0 + cuDNN 7 + visual studio profession 2015 + cmake 3.6.3

when i switch to tensorflow r1.4，and build by cmake at win10 environment，issue accur that：

`CUSTOMBUILD : Internal error : assertion failed at: "C:/dvs/p4/build/sw/rel/gpu_drv/r384/

[2017-10-31 05:01] jart commented on #14108
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

However I must note that I am a fan of Redis. I would be interested in learning more about what sort of things you're interested in building with TensorFlow, because I'm currently doing work a

[2017-10-31 05:01] #14108 closed

[2017-10-31 05:01] mudong0419 opened #14118 "How to print shape of tensors in tf.contrib.learn.Estimator"
tf.contrib.learn.Estimator and tf.contrib.learn.Experiment  are very convenience to build a model. But how to debug the user defined model? For example, in the [Abalone Age Predictor example,](https://www.tensorflow.org/extend/estimators) how to print shape of 'first_hidden_layer', 'second_hidden_layer' and 'predictions' in user defined 'model_fn' function?

 It is easy to print  shape of tensors

[2017-10-31 05:09] meccaLeccaHi commented on #14048
Happy to.
`$ ldconfig -p | grep libcusolver
	libcusolver.so.7.5 (libc6,x86-64) => /usr/lib/x86_64-linux-gnu/libcusolver.so.7.5
	libcusolver.so (libc6,x86-64) => /usr/lib/x86_64-linux-gnu/libcusolver.so
`

[2017-10-31 05:13] jart commented on #14104
Thank you so much for taking the time to file an issue as @ebrevdo requested. I shall now punt this tf.while_loop API issue to him.

[2017-10-31 05:18] meccaLeccaHi commented on #14048
OK, if I add '/usr/local/cuda-8.0/targets/x86_64-linux/lib' to my LD_LIBRARY_PATH, importing tensorflow is successful (so, many thanks to Sir for that). But, I am still experiencing my original error which is shown below:

`$ python classify_image.py

Successfully downloaded inception-2015-12-05.tgz 88931400 bytes.
2017-10-30 22:14:54.542348: W tensorflow/core/platform/cpu_feature_guard.cc:45] The

[2017-10-31 05:18] asimshankar commented on #14048
Based on that, it would appear that `libcusolver.so.8.0` is not available to the linker when TensorFlow is loading (i.e., `/usr/local/cuda-8.0/targets/x86_64-linux/lib` is not in the search path for dynamic libraries).

Not quite sure how you ended up in this state, but it seems that you'd want to correct that by updating your `ld.conf`, or perhaps including `/usr/local/cuda-8.0/targets/x86_64-lin

[2017-10-31 05:22] asimshankar commented on #14111
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

In general though, that error is indicative of an issue with initializing CUDNN structures, which could be

[2017-10-31 05:22] #14111 closed

[2017-10-31 05:26] asimshankar commented on #14071
I'm not quite following what you're referring to. Neither `Session` nor `MonitoredSession` have a `request_stop()` method, so I'm not sure what you mean by "like other Session".

[2017-10-31 05:28] mrry commented on #13962
I'm glad to hear it's building now! I'm going to close this issue, but feel free to open another one to track work on making the CMake build more incremental. (To set expectations, it's unlikely that anyone from the TF team will spend time on this, but we would welcome contributions that make things better for CMake users.)

[2017-10-31 05:28] #13962 closed

[2017-10-31 05:49] asimshankar commented on #14087
@tkoeppe : Mind taking a look?

[2017-10-31 05:49] rryan commented on #386
@WangNuoWa -- yes, tf.fft/tf.ifft and tf.fft2d/tf.ifft2d should be drop-in replacements for those (though I have never used theano.tensor.fft), perhaps with slightly different normalization strategies though (I see an "ortho" norm in there).

[2017-10-31 06:17] ebrevdo commented on #14104
This is a case of tf.Variable being handled differently from a ref tensor by while_loop.  Thanks for reporting it.

[2017-10-31 06:25] facaiy commented on #14116
Thanks for your quick reply, @jart . The `u` prefixes is intended to show that `py_func` cannot handle unicode string correctly.

I indeed find that byte string always works well:
[code]
However, the workground really burdens users. It could be better if `py_func` can handle unicode string as well. Thank you.

[2017-10-31 06:40] jart commented on #14116
I agree @facaiy. While there is a workaround, this issue has still been triaged as a bug. Once we find the specific lines that need to be updated, it should be a relatively straightforward fix. I believe this kind of polishing is worth doing, because I can see how this could lead to mild frustration. I believe everyone should have positive experiences with TensorFlow and I'm grateful that you took

[2017-10-31 06:59] jart commented on #14092
I'd be interested in learning more about this. Please fill out the issue template. Also how exactly is Visual Studio happening? Are you importing all the code into the IDE? Running CMake? Running Makefile? Running Bazel? What version of Visual Studio? I must admit I haven't used it since 6.0 but when I did it was awesome.

[2017-10-31 07:03] jart commented on #14118
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-31 07:03] #14118 closed

[2017-10-31 07:04] jart commented on #14074
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-31 07:04] #14074 closed

[2017-10-31 07:07] jart commented on #14062
It sounds like you replaced the example with a different model. So your best chance of getting support is on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is a large community that reads questions there.

[2017-10-31 07:07] #14062 closed

[2017-10-31 07:11] jart commented on #14054
@fchollet If you have a moment our friend is reporting an API regression in `tf.keras.layers.TimeDistributed` from 1.3 -> 1.4.

[2017-10-31 07:15] jart commented on #14070
@martinwicke do you have thoughts on this [weight normalization](https://arxiv.org/pdf/1602.07868.pdf) paper?

[2017-10-31 07:18] jart commented on #14050
This is an excellent suggestion and it's something we're already in the process of thinking about. Please follow https://github.com/tensorflow/tensorboard/issues/570. I'm going to close this one out as a duplicate.

[2017-10-31 07:18] #14050 closed

[2017-10-31 07:32] martinwicke commented on #14070
It is definitely possible, and contributions implementing it are welcome.

[2017-10-31 07:45] jart commented on #14072
Have you considered [pickling](https://docs.python.org/2/library/pickle.html)? It should be possible to do this today. I am of course curious to learn more about how tf.py_func has been beneficial to your use case. I will also note that it is a feature that ought to be used judiciously. I'm going to close this one out, but if my suggestion doesn't offer solutions, let me know and I'll re-open.

[2017-10-31 07:45] #14072 closed

[2017-10-31 07:57] tankienleong commented on #13011
Problem solved after I modified the input argument.
`bazel-bin/tensorflow/tools/benchmark/benchmark_model --graph=inception5h/tensorflow_inception_graph.pb --input_layer="input" --input_layer_shape="1,224,224,3" --input_layer_type="float" --output_layer="output" --show_run_order=false --show_time=false --show_memory=false --show_summary=false --show_flops=true `

[2017-10-31 07:57] #13011 closed

[2017-10-31 08:07] Faur commented on #7253
It is also possible to use `tf.stack` to convert a list into a tensor

[2017-10-31 08:19] Rulen9987 commented on #14092
thanks for your reply ,

1.  i used visual studio 2015 to run the exampale
2.  i only add main.cc file into a new project as a soruce file
3.   in the Option dialog , fill the head file Directory into the "VC++ Directories"
     E:\TensorFlow\tensorflow-master
     E:\TensorFlow\tensorflow-master\tensorflow
     E:\TensorFlow\tensorflow-master\third_party\eigen3
     E:\TensorFlow\tensorflow-maste

[2017-10-31 08:33] facaiy commented on #14070
@taki0112 Not sure whether I understand weight normalization correctly?

It is indeed `Dense` layer which always normalizes its kernel when called (and add a new parameter `g`), right?

<img width="298" alt="image" src="https://user-images.githubusercontent.com/1112263/32213990-61f1d676-be58-11e7-8469-dab62722a46e.png">

[2017-10-31 09:07] taki0112 commented on #14070
@facaiy
Yes, i think may be right !

[2017-10-31 09:24] erolrecep commented on #8041
curl -O http://download.tensorflow.org/example_images/flower_photos.tgz This link is working today. Thanks.

[2017-10-31 09:32] alexggmatthews commented on #4965
Thanks for the info.  Amongst the options, are you considering an interface similar to a vanilla TF optimizer? We have cases in GPflow where we would want to swap out a TF optimizer, add a prior to the hyperparameter in question and then swap in a TF sampler, so this has always seemed like a natural option to us.

[2017-10-31 09:37] ashokbugude commented on #11236
@fferroni Hi , I am trying to execute the below line of code

But I get below error

Can I PLEASE know if you have faced ny such issue and how could it be reolved
Thanks

[2017-10-31 10:00] super13 commented on #13999
@ebrevdo  @mrry is there any way to fix this without update tf code? I use aliyun's pai running the code, and it's tf version is 1.2 that i can't change it.

[2017-10-31 10:37] tkoeppe commented on #14087
@asimshankar: Do you mean because of my BUILD cleanups? All the tests passed, but maybe. @zhedongzheng, would you mind testing with the relevant changes from 966016b7f2382658e7c84baae0596d35f0a49bae and 6ef542822b8760de4beeb4ad2602fb863888d47f reverted?

[2017-10-31 10:46] fnoop commented on #9697
So, what is the current state of play?  How do we compile with eigen?

[2017-10-31 10:54] pisymbol commented on #9697
I can confirm on the Raspberry Pi 3B, you need to use the Eigen development branch tarball (http://bitbucket.org/eigen/eigen/get/default.tar.gz) and change the workspace.bzl file accordingly to get TF to build successfully.

As of today, this is what worked for me:

[code]

Obviously, you need to check the sha256 of your tarball ('sha256sum default.tar.gz' etc.) and verify the tarball strip_prefix

[2017-10-31 11:03] fnoop commented on #9697
@pisymbol Thanks that's very helpful as I'm trying to build it on the rpi3.  Which version of tf are you  using?  I'm using the r1.2 branch.
Yes I've just finished building bazel which took probably, oh about 18 hours or so.  And I forgot to update my manifests so installed 0.50, which I'm guessing probably means I have to stick to tf 1.2 (which takes another 24 hours to build..).  Painful stuff..

[2017-10-31 11:12] pisymbol commented on #9697
I just built trunk successfully (a variant of 1.3). I'm on Stretch (Debian 9). See here:

[code]

Don't worry, I built an older version of bazel and then realized that TF can't use it. Joy. So I had to download and built bazel again! Another upteen hours gone.

Anyway, if you use the Eigen development branch tarball, TF builds all the way through with no issue:

[2017-10-31 11:34] xtknight commented on #10827
same issue

[2017-10-31 11:35] sarim-zafar opened #14122 "Access denied to download faster_rcnn_nas_17_10_2017.tar.gz trained on COCO from the network zoo found in object detection"
Following is link on which it says the network is available to download
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md
But when i click the link to download http://download.tensorflow.org/models/object_detection/faster_rcnn_nas_17_10_2017.tar.gz
it says access denied

[2017-10-31 11:43] fnoop commented on #9697
Oh, OK thanks (sobs gently to himself)

[2017-10-31 12:53] Goorman commented on #13530
Checking in to say that i encountered the same kibd of problem. 2kk objects with 300 features, feeded to wideanddeep estimator through TFRecordDataset, cpu is overloaded at 800%(8 cores) while titan gpu isat 10% utilisation. Tried on various batch sizes from 64 to 20k.

Is there sonethong i am doing wrong or is there any updates about this issue?

[2017-10-31 13:12] zhedongzheng commented on #14087
@tkoeppe hi, i want to help, but i don't really know how to go back to previous commits in the codebase.

[2017-10-31 13:38] divyanshj16 commented on #14070
@martinwicke
I want to take this! Can somebody help to start? This will be my first contribution!

[2017-10-31 14:30] nanamare opened #14125 "[feature request] Does android tensorflow make the without considering front-camera and landscape mode ?"
Fist bump.
I want to make a tensorflow application available in landscape also, facing-mode

But, during the development-
There was a problem that  coordinates were displayed wrong when the front camera and landscape mode was used to detect the object, after inference
Do you have  any reference code or other resources ?

Have a nice day  :)

[2017-10-31 14:38] tkoeppe commented on #14087
@zhedongzheng: Oh, I just meant to edit the changes back in manually. No need for fancy git gymnastics.

[2017-10-31 14:40] ebrevdo commented on #13999
You may be able to patch my pr into your tf installation

On Tue, Oct 31, 2017, 3:03 AM 方桂锴 <notifications@github.com> wrote:

[2017-10-31 15:12] xsr-ai opened #14126 "fail to build tensorflow-gpu by CUDA 9.0 cuDNN 7 at win10 envs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: window 10 64bit
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: tensorflow-1.4.0 or tensorflow-1.3.0
- **Python version**: python 3.5.4
- **Bazel version

[2017-10-31 15:19] zhedongzheng commented on #14087
@tkoeppe The code does not work in TF 1.3 either, so i don't think it is a BUILD problem, it is an implementation problem i suppose.

[2017-10-31 15:23] zhedongzheng commented on #14087
@ispirmustafa any insight about this? or do you know who should be called?

[2017-10-31 15:24] tkoeppe commented on #14087
@asimshankar: I'm not otherwise terribly familiar with TF, sorry! Back to you?

@zhedongzheng: Thanks for investigating!

[2017-10-31 15:50] rhaps0dy commented on #216
I am surprised that so few people have this problem. I suppose it doesn't crop up often if you only do neural networks.

As a temporary workaround, I'm using this:
[code]

which is probably not very efficient but it works. Are you implementing it in the proper `matmul` operation, @PeterMitrano ?

[2017-10-31 15:51] Carmezim opened #14127 "[Mac] Build @HEAD fails with XLA errors"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac High Sierra 10.13
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: HEAD at c44f67a7ed5870fe8a1c0d6257ce597ca2ef7564
- **Python version**: 2.7
- **Baz

[2017-10-31 15:51] vellamike commented on #12052
Has anyone released a whl for TensorFlow with CUDA 9 and cuDNN 7.0?

[2017-10-31 15:53] Carmezim commented on #14126
CUDA v9 and cuDNN v7 are not supported by TensorFlow on Windows yet. Support will be provided officially from TensorFlow 1.5v forward.

[2017-10-31 16:06] talhasaruhan commented on #216
I found tensordot() useful when broadcasting is needed.

`
# a : tensor of shape [2, 3, 3]
a = tf.constant([[[1, 2, 3], [2, 3, 4], [1, 4, 5]], [[5, 6, 7], [6, 3, 4], [9, 0, 1]]])
# b : tensor of shape [3, 4]
b = tf.constant([[2, 3, 4, 5], [8, 9, 1, 5], [0, 9, 0, 2]])
# c : tensor of shape [2, 3, 4] where c[i, ...] = dot(a[i, ...], b)
c = tf.tensordot(a, b, axes=1)
`

[2017-10-31 16:12] tkoeppe commented on #14087
One of my colleagues suggested that second-order gradients are not supported well across all of TF, which is what the error message is trying to say. Does that help? Has this code ever worked in the past?

[2017-10-31 16:18] rhaps0dy commented on #216
`tensordot` only does batch matrix multiplication when one of the two is a rank-2 tensor, though.

[2017-10-31 16:21] xsr-ai commented on #14126
@Carmezim OK，i willing to try and feekback，but 1.3rc / 1.4rc haven‘t anyother solution？and when time  tensorflow 1.5rc will be release？

[2017-10-31 16:22] martinwicke commented on #12927
It's too far out to really reason about.

We will for now eagerly load all the dlls we find (which are appropriate for the machine architecture we're on, e.g., we may skip the one containing GPU kernels on a machine without GPU, or the one built with AVX512 on a machine without that SIMD instruction set. @gunan FYI.

[2017-10-31 16:26] warpdriv commented on #14126
@Carmezim, to confirm, should we install CUDA v8 and cuDNN v6? Thank you for your help.

[2017-10-31 16:34] Carmezim commented on #14126
That's correct. If any other doubts come up regarding requirements you can
find all information in the docs :)

On Tue, Oct 31, 2017, 4:31 PM warpdriv <notifications@github.com> wrote:

[2017-10-31 16:45] case540 commented on #13984
Acknowledged. If this merges before the 1.4 release I'll cherrypick it.

[2017-10-31 16:57] asimshankar opened #14129 "Eager: Distributed Execution"
(This applies only when [eager execution](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/eager/README.md) has been enabled via `tfe.enable_eager_execution()`)

If the model does not involve dynamic control flow in Python (i.e., changing the computation based on input), then the same model code can be used to construct a TensorFlow graph, which can then be trained with [dis

[2017-10-31 16:57] asimshankar opened #14130 "Eager: CPU Performance/Operation Overheads"
(This applies only when [eager execution](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/eager/README.md) has been enabled via `tfe.enable_eager_execution()`)

Eager execution re-uses most of the same Python code used for constructing TensorFlow graphs. Many of these paths have not been optimized for part of the critical path of computation. As a result, the CPU overheads

[2017-10-31 16:57] asimshankar opened #14131 "Eager: Using graphs in the same Python process"
Once eager execution is enabled via `tfe.enable_eager_execution()`, it cannot be disabled in the same process. This means that eager and graph execution cannot be mixed in the same Python session.

This issue has been filed to track development of features to make the transition between eager and graph execution smoother -- allowing users to pick and choose portions of the computation that will be

[2017-10-31 16:57] asimshankar opened #14132 "Eager: Variable item-assignment"
(This applies only when [eager execution](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/eager/README.md) has been enabled via `tfe.enable_eager_execution()`)

Currently, the following does not work:

[code]

That last line, assigning a value to an element of the tensor will fail with: `object does not support item assignment`.

While it would be possible to make item assi

[2017-10-31 16:57] asimshankar opened #14133 "Eager: Automatic Device Placement"
When a GPU is available, TensorFlow automatically copies tensors between CPU and GPU memory (see [Using GPUs](https://www.tensorflow.org/tutorials/using_gpu)).

When eager execution is enabled, automatic copying between devices is disabled by default. When executing imperatively, copying data between CPU and GPU is more likely to become a performance bottleneck. Avoiding automatic copying makes it

[2017-10-31 17:05] asimshankar opened #14134 "Eager: Random seeds"
(This applies only when [eager execution](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/eager/README.md) has been enabled via `tfe.enable_eager_execution()`)

Setting the [graph-level random](https://www.tensorflow.org/api_docs/python/tf/set_random_seed) seed exactly once, before any operations are executed, works as intended; however, subsequent invocations to `tf.set_ra

[2017-10-31 17:22] isaprykin commented on #13631
We added MonitoredSession.run_step_fn.  We hope it satisfies the use case.

[2017-10-31 17:22] #13631 closed

[2017-10-31 17:22] isaprykin commented on #12343
We added MonitoredSession.run_step_fn.  We hope it satisfies the use case.

[2017-10-31 17:22] #12343 closed

[2017-10-31 17:22] isaprykin commented on #11971
We added MonitoredSession.run_step_fn.  We hope it satisfies the use case.

[2017-10-31 17:22] #11971 closed

[2017-10-31 17:31] Vysha opened #14138 "feature request for TensorFlow Speech Recognizer .apk"
the Android .apk file is a great way to test TensorFlow  Speech Recognizer.
It would be even more useful with the addition of these two features:
1. once any word is detected, specify the scores for all 10 words in the list.
2. specify silence detection

Thank you in advance to anyone who is able to add these features!

[2017-10-31 17:40] jvdillon commented on #4965
Eventually we'd like to go that route. For now we're trying to encode this
functionality through python callables.  Once we have a sufficiently rich
collection of reasonable callables (feel free to add yours!) then a more
Optimizer like design seems prudent.

On Tue, Oct 31, 2017 at 2:33 AM, Alexander G. de G. Matthews <
notifications@github.com> wrote:

[2017-10-31 17:45] merryHunter commented on #2807
Is there any news whether GPUs support eight-bit operations? Or any other optimization suggestions from tensorflow side?

[2017-10-31 17:54] sshrdp commented on #14087
The issue has been fixed in 34a4b21f8f9dea64d3e99a97f639396f2d5556d3 by switching to a custom loss function that had support for second order gradient within the GBDTClassifier estimator.  You can wait for the release of that change or see boosted_trees/examples/mnist.py [before the above commit](https://github.com/tensorflow/tensorflow/blob/c41dbc3c1832bc6c3662d4d942d095baa1fb49c9/tensorflow/cont

[2017-10-31 18:23] rola93 commented on #1882
I had the same issue. How about adding some noise to precalculated bottlenecks?

I'm not sure if this would work, but adding a random vector to each precalculated bottleneck before training with them is cheap enougth. Since those bottlenecks are in the end a feature vector over which there is a linear classifier, it makes sense for me... doesn't it?

[2017-10-31 18:28] #14087 closed

[2017-10-31 19:04] tfboyd commented on #12052
@vellamike  I know your question is general, but the TF team will have CUDA 9 in the binaries with 1.5 that should land in Q4.  For now, you have to build from source.

[2017-10-31 19:09] EmanSaad11 opened #14142 "Tensorflow seq-to-seq Arabic chatbot"
i'm working on an AI-chatbot for Arabic Language. I follow this tutorial in tensrflow seq-to-seq model. So far everything is doing great where i trained the model on my Arabic data using GPU and test the pre-trained model.But the some of them answers were correct while other are unrelated at all.

So, my questions are:

1. the model uses GRU in creating the model, should i change it to LSTM?

2. i

[2017-10-31 19:16] abhih1 commented on #10087
@abhis01 Did you get this solved? I'm having the same problem!

[2017-10-31 19:50] dartdog commented on #12974
That did not work,  using :

    `dnnclassifier = tf.estimator.DNNClassifier(
    feature_columns=dnn_features,
    hidden_units=[1024, 500, 100],
    n_classes=2,
    model_dir='./tmp/ccsprop',
    optimizer=tf.train.ProximalAdagradOptimizer(
      learning_rate=0.001,
      l1_regularization_strength=0.01,
      config=tf.estimator.RunConfig().replace(save_summary_steps=10)
    ))`
I just got:

[2017-10-31 19:53] dartdog commented on #12974
Note now trying with corrected syntax..:

    dnnclassifier = tf.estimator.DNNClassifier(
    feature_columns=dnn_features,
    hidden_units=[1024, 500, 100],
    n_classes=2,
    model_dir='./tmp/ccsprop',
    optimizer=tf.train.ProximalAdagradOptimizer(
      learning_rate=0.001,
      l1_regularization_strength=0.01),
      config=tf.estimator.RunConfig().replace(save_summary_steps=10)
    )

[2017-10-31 20:04] dartdog commented on #12974
That now generates some seemingly useful Tensorboard output! Thank you so much. Anyway to modify the output Using Tensorboard commands or am I stuck with the standard output the canned model defines?

[2017-10-31 20:11] martinwicke commented on #12974
For the canned ones, you are stuck with what they provide. If you write a custom one (by writing a model_fn to give to Estimator) you can do whatever you want.

[2017-10-31 20:30] dartdog commented on #12974
FWIW some Doc addition would probably be nice :-)

[2017-10-31 20:36] martinwicke commented on #12974
What's the place in which you would have benefited most from additional documentation?

If you send a PR, that would be great too.

[2017-10-31 20:36] jstastny commented on #14048
We ran into similar error (`CUDNN_STATUS_INTERNAL_ERROR`), but it was not happening when we ran `python` as root. It always failed when run as other, non-root user.
The root cause in the end was in the `nvidia-persistenced` daemon, which by default runs on Ubuntu under `nvidia-persistenced` user (which is member of same named group).
Adding the non-root user to `nvidia-persistenced` group (`usermo

[2017-10-31 20:39] jstastny commented on #6698
@hesamaraghi Running with `sudo` also helped us. We were able to run as non-root by adding our non-root user to `nvidia-persistenced` group. See my original comment: https://github.com/tensorflow/tensorflow/issues/14048#issuecomment-340898847

[2017-10-31 20:41] Neergaard commented on #12974
@dartdog Sorry about that, I missed the fact that you called an optimizer directly. Great to hear that you got it to work.

I think you are stuck with what the canned models are defining in terms of metrics, but perhaps you can use the SessionRunHooks to log your own metrics that way?

[2017-10-31 20:46] damienstanton commented on #12676
According to the [doc for Android examples](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android), Windows build is not supported via Bazel:

[2017-10-31 20:48] meccaLeccaHi commented on #14048
Thanks jstastny, but I did exactly as you say and the error still persists.

[2017-10-31 20:51] jstastny commented on #14048
@meccaLeccaHi -- did you log out and back again (or issued other way of reloading the groups of your user)? You can validate what are you in by `groups` command.
Just to validate -- it works for you when run under `root`, right?

[2017-10-31 21:23] chi0tzp commented on #6698
I had the same problem in Ubuntu 16.04 and cuda-8.0 (with GTX1080Ti). I'd just like to inform any of you with the same problem that the solution given by @SimonWalsh1000 worked for me perfectly (i.e., the CUBLAS initialisation problem was solved by `sudo rm -rf ~/.nv/`). So, many thanks @SimonWalsh1000, it did cost me some hours...

[2017-10-31 21:28] drpngx commented on #12968
@MtDersvan : `num_true` is an [attr](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/candidate_sampling_ops.cc#L100), you can't pass a tensor to it. So the right way is to have it passed as an input. Does that make sense?

[2017-10-31 21:29] meccaLeccaHi commented on #14048
I have tried logging out and then back in again, but still experience the same error.
Running the command as sudo does not work, as the tensorflow module is not found (see below). Perhaps because I installed using conda as non-root user (e.g. 'conda install tensorflow-gpu').
'nvidia-persistenced' is among the groups shown when I run the 'groups' command.
`$ sudo python classify_image.py
[sudo] pas

[2017-10-31 21:46] MtDersvan commented on #12968
@drpngx
I fully understand that right now you can't pass a tensor.

What do you mean as an input?
If you mean just a const number than sampling losses have a very narrow application.
If I understand correctly, in TF I can either pass a tensor or a numeric value (which is a const in itself in the context of a static graph).

Documentation:
`num_true: Number of true labels per context.`
and
`num_tru

[2017-10-31 21:57] MtDersvan commented on #12968
Oh, I see you updated the docs recently.
[code]
Won't such padding interfere the results? Because of this:
[code]
Do proportions/distribution matter?

It looks like you are already working on it, still if you need help implementing this feature, I would be willing to contribute.

[2017-10-31 22:06] bhack commented on #2169
@tombstone Is there any plan by the G-RMI team?

[2017-10-31 22:09] Carmezim commented on #14142
Hi @EmanSaad11, cool you're using TF to build your chatbot for arabic. These questions are better suited for StackOverflow.com though, as Github issues are reserved for bugs and feature requests. Just look/post under the TensorFlow tag. There's great community support there.

[2017-10-31 22:46] abhis01 commented on #10087
yes

On Tue, Oct 31, 2017 at 2:19 PM, Abhirami Harilal <notifications@github.com>
wrote:

[2017-10-31 23:43] alquraishi commented on #6633
Are there any updates on this? And how does it relate to this [issue](https://groups.google.com/a/tensorflow.org/forum/#!searchin/discuss/alquraishi/discuss/Q4egUFzG_3I/IZ5NMQIxAQAJ)?

[2017-10-31 23:48] zheng-xq commented on #6633
Assigning James who works on cudnn-rnn extensively.

[2017-11-01 00:06] knn1989 commented on #12414
Same problem. I got a bunch of error logs at the end of each epoch. Very annoying.

"2017-10-31 18:59:22.473230: W tensorflow/core/framework/op_kernel.cc:1192] Out of range: End of sequence [[Node: IteratorGetNext = IteratorGetNext[output_shapes=[[?,120,120,3], [?,120,120,1]], output_types=[DT_FLOAT, DT_UINT8], _device="/job:localhost/replica:0/task:0/cpu:0"](Iterator)]]"

[2017-11-01 00:14] mrry opened #14143 "Passing `clear_devices=True` to `SavedModelBuilder.add_meta_graph_and_variables()` loses function definitions"
The `SavedModelBuilder` inadvertently strips all function definitions from the `MetaGraphDef` when `clear_devices=True`. See this gist for a repro (thanks @eggie5 for finding it!):

https://gist.github.com/eggie5/f0838a1289ca851aa5a72593575b7f06

The bug appears to stem from `export_meta_graph()`, which builds a `GraphDef` by selective field copying when certain options (such as `clear_devices=Tru

[2017-11-01 00:16] asimshankar commented on #14142
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-01 00:16] #14142 closed

[2017-11-01 00:17] asimshankar commented on #14138
@Vysha : We (the TensorFlow maintainers) will probably not have cycles to implement this in the near future, but we'd welcome pull requests to do so.

Thanks!

[2017-11-01 00:17] #14138 closed

[2017-11-01 00:20] asimshankar commented on #14122
Could you be looking at an older version of `detection_model_zoo.md`?
It seems the link was updated in https://github.com/tensorflow/models/commit/819de0e330b7026e21044b2bc3e96d8c1eed8820#diff-40f0678d6846e6efc7bd00fc93c826b8 to http://download.tensorflow.org/models/object_detection/faster_rcnn_nas_coco_24_10_2017.tar.gz

[2017-11-01 00:20] #14122 closed

[2017-11-01 00:28] drpngx commented on #12968
Yes, the normalizer has to know about the padding. Also, changing `num_true` to an input tensor will change the order in the parameters, so it's an interface change.

Probably the best is to create a new copy of the operator in `contrib`. I think that would be a fine contribution!

(To use a tensor parameter, simply change the `.attr` to `.input` and then change the kernel to get the input from th

[2017-11-01 01:05] iganichev opened #14144 "Eager: Device Placement of Constant Eager Tensors"
When eager execution is enabled on 64bit machine, the following code snippet causes an error:
[code]
[code]
There are a couple of ways to fix this:
[code]
or
[code]

The error is thrown for the following reason. Kernel of operation `split` expects the `num_or_size_splits` argument to be in host memory (CPU RAM). For a tensor to be placed in host memory, it needs to be either created in the CPU con

[2017-11-01 01:13] Rulen9987 commented on #14092
Last night, i download the Negin3 soruce code form internet . replace  local Tensorflow\eigen3 file , then Error was dispeared , but still has a problem that i can not found .ph.h files . How can i get those ?

[2017-11-01 01:28] Kangbababa commented on #13220
too much build hole!  I build TF1.3 succeed with bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package.  then I makefile with tensorflow/contrib/makefile/build_all_ios.sh is succeed.finally,run bazel build command secondly. build failed！
ERROR: /Users/leon/GitHub/tensorflow/tensorflow/contrib/BUILD:137:12: Label '//tensorflow/contrib:makefile/downloads/nsync/bazel/pkg_path_name

[2017-11-01 03:11] hanfeisun opened #14145 "generator_input_fn for tensorflow estimator?"
I find there is `numpy_input_fn` and `pandas_input_fn` to construct the input_fn for tensorflow estimator.

However, sometimes I need a more flexible constructor that can create the `input_fn` from a custom generator/iterator. It seems that Tensorflow doesn't have this feature currently.

There is a [generator_input_fn](https://github.com/tensorflow/tensorflow/pull/7045/files#diff-58e32b22d643f3a6

[2017-11-01 03:14] hanfeisun commented on #14041
@facaiy I see. But I was still a bit curious why there is no `cross_entropy` for `tf.metrics`..

[2017-11-01 03:52] jart commented on #14092
I wish I could help but this question is probably better for [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). There's a larger community there that provides support. This issue tracker is more for bugs and feature requests and very few members of the team has VS experience.

[2017-11-01 03:52] #14092 closed

[2017-11-01 04:13] asimshankar commented on #14047
Thanks very much for the suggestion.

Currently, I believe all the `tf.*` methods (like `tf.shape`, `tf.size` etc.) return symbolic tensors (unless [eager execution](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/eager/README.md) is enabled), while the methods on the `tf.Tensor` object return values (well `TensorShape` objects for `tf.Tensor.shape`).

IMHO, having some `tf

[2017-11-01 04:16] asimshankar commented on #14053
@jsimsa : Mind taking a look? Thanks.

[2017-11-01 04:18] asimshankar commented on #14057
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

In particular, detailed instructions on reproducing the problem will be helpful.

[2017-11-01 04:18] #14057 closed

[2017-11-01 04:52] hanabi1224 opened #14146 "[feature request] Adding c++ serving session api to c api"
Or is it recommended to just use TF_NewSession C API for session serving?  Is TF_Session.Run thread safe?  Thanks in advance!

[2017-11-01 05:39] abrbrazj commented on #12157
We have the same error.
ValueError: graph_def is invalid at node u'rnn_model_20/bidirectional_rnn/fw/fw/while/fw/basic_lstm_cell/basic_lstm_cell/concat/axis':
More inputs specified ('rnn_model_20/bidirectional_rnn/fw/fw/while/Switch:1') than the op expects..
Have you fixed it up?

[2017-11-01 06:06] Rulen9987 commented on #14092
OK,thanks for your suggestion .

[2017-11-01 06:22] mmuneebs opened #14147 "tf.cast zeroes out input tensor when GPU does not have any free memory"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: tf-nightly-gpu binary from 10/31/2017
- **TensorFlow version (use command below)**: ('v1.3.0-rc1-4007-gc44f67a', '1.5.0-dev20171031')
- **Python version**: 2.7.12
-

[2017-11-01 06:31] zh794390558 commented on #14072
@jart Now I use cPickle to do this, I want to embed FST in to tensorflow for beam search decoding.

[2017-11-01 06:39] zh794390558 commented on #14071
@asimshankar Sorry, I mean coord has a request_stop() method , and coord is in MonitoredSession, so i think this method may exists. Now I think tf.train.StopAtStepHook  this maybe what I want.

[2017-11-01 06:39] #14071 closed

[2017-11-01 07:34] k-lam commented on #6341
I install tensorflow with virtualenv.
pip uninstall protobuf
pip uninstall google
pip install google
pip install protobuf
That is ok,but I don't know why

[2017-11-01 07:34] asimshankar commented on #14127
Presumably XLA was enabled in `./configure`?
This might have been broken in https://github.com/tensorflow/tensorflow/commit/720efa37a4e93d5833e6e928993790f2523f0d85presumably because it seems that `math.h` included with Xcode defines overloads for `float` and `double`.

@sanjoy : Mind taking a look?

[2017-11-01 09:03] bodokaiser commented on #13575
@saxenasaurabh Can you give an honest estimate on when (or if) this issue will get resolved? It may make sense for me to pursue the path of somehow pressing a linux workstation.

[2017-11-01 09:10] wangshuaizs opened #14148 "Nameerror: could not find operator mpisize in dynamic library mpi_collectives.so"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:ubuntu 16.04 with 4.4 kernel
- **TensorFlow installed from (source or binary)**: source code
- **TensorFlow version (use command below)**: latest(git clone from github in 2017/10/30)
- **Python version**: 2.7
- **

[2017-11-01 09:37] DjangoPeng commented on #8385
@Carmezim
I have built tensorflow v1.4-rc1 from source. It looks like all is well until I run the TensorFlow python scripts. I checked the directory `site-packages/tensorflow/python/` and found that there is no `_pywrap_tensorflow.so` file.

OS: CentOS 7.3
Anaconda Version: 4.3.30

[2017-11-01 09:44] fnoop commented on #9697
@pisymbol Does the r1.3 branch contain the rpi #defines?

[2017-11-01 09:51] markroxor commented on #5343
If you are using cuda-9.0 try `sudo apt install nvidia-cuda-dev` .
This is the only thing worked for me,

[2017-11-01 10:16] matsui-k20xx opened #14150 "Unable to use tf.multinomial in Android. No OpKernel was registered to support Op 'Multinomial'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Sierra 10.12.6, Android APK 23
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.3
- **Python version**: 2.7
- **Bazel version (if compiling from sou

[2017-11-01 10:18] tillahoffmann commented on #13101
@jsimsa, thank you for the fix. It seems to have made it into master because I can run the cod using the nightly build. Unfortunately, the performance is slightly worse than the original code that used `batch` instead of `map_and_batch`. I have updated the notebook.

[2017-11-01 10:18] NEWPLAN commented on #14148
Yep, it seem that, the dynamic lib didn't contain a MPISize. so i think it is caused by the dynamic lib.
but how to fix it ?

[2017-11-01 10:20] viirya commented on #13932
I'm not familiar with tensorflow codes, but I tried to trace this. Looks like if we can't assign the exact thread in thread pool to run for each input element, we can't make sure the parallel map functions with random ops are deterministic. However, assigning thread sounds counterintuitive to the nature of thread pool.

[2017-11-01 10:29] Shicoder opened #14151 "The new version of the code about Wide and Deep model has not yet defined 'centered_bias'"
Hi,
I'm reading the new version tensorflow code about Wide and deep model. the model is in tf.estimator.DNNLinearCombinedClassifier. In the tf.contrib.learn.DNNLinearCombinedClassifier,we can find that the variable 'centered_bias' is defined in head.py,It;s the bias of model's output.However, in the new version code. eg. the implemention based on 'tf.feature_column' and 'tf.estimator', this varial

[2017-11-01 10:47] fnoop commented on #9697
I can't see any reference to bazel versions in the tensorflow source compile docs. Bazel is up to 0.7.0 now.

[2017-11-01 12:01] vdutor commented on #216
I am also quite bothered by this. The same problem arises in the `tf.matrix_triangular_solve` as well. Currently, I am using `tf.einsum` as a workaround.

[2017-11-01 12:23] Carmezim commented on #8385
@DjangoPeng I've never really dealt with TF on
CentOS but if you could provide the logs if I cannot, others may help. What scripts do you refer?

[2017-11-01 12:38] abhigoku10 commented on #1471
@islamoc  hi since you i have build android on ubuntu 14.04 it would be a great help if u you just give a brief steps on building it with its   the dependent versions . I have struggling from 1 week and no were near close to build the demo app

[2017-11-01 12:39] oferyo commented on #13999
Tried the fix in my app and it seems to solve the problem.

[2017-11-01 12:44] alquraishi opened #14154 "Clarify documentation of stacked cuDNN RNNs"
Currently the documentation for cuDNN RNNs is unclear as to whether the RNNs (LSTMs or GRUs), when they are bidirectional and configured with multiple layers, integrate the outputs from both directions at a given layer n before sending it to the next layer n+1, or whether each direction works independently of the other. I.e. forward layers send information just to the forward layers above, and sim

[2017-11-01 13:47] bigbigda commented on #12860
I also encounter the same problem.
`/usr/local/lib/python3.5/dist-packages/tensorflow/include/tensorflow/stream_executor/dso_loader.h:32:30: fatal error: cuda/cuda_config.h: No such file or directory`

[2017-11-01 13:58] brianwa84 commented on #12115
https://github.com/tensorflow/tensorflow/commit/f226eb3717a0df815579178f4393d4e68cbe08fc
and
https://github.com/tensorflow/tensorflow/commit/4198e27be8115585ad6b5b141383fb7dc7856c24
add support for C64 as a type.

Future work will add at least an XLA bridge for FFT, but that can be tracked in #12314.

[2017-11-01 14:04] martinwicke commented on #9697
There **should** be a warning about old versions of Bazel. Did that not trigger for you? Is it simply out of date or is it broken?

[2017-11-01 14:07] Wendy0601 commented on #10087
Yes, I consider the solution of the issue has been explained in the link

Best regards,

Wenting Li

Department of Electrical, Computer & Systems Engineering
Rensselaer Polytechnic Institute, Troy, NY 12180

2017-10-31 18:48 GMT-04:00 abhis01 <notifications@github.com>:

[2017-11-01 14:17] fnoop commented on #9697
@martinwicke the build is automated so I wouldn't have seen it:
https://github.com/fnoop/maverick/blob/stable/manifests/maverick-modules/maverick_intelligence/manifests/tensorflow.pp

If there's a minimum version shouldn't it fail rather than warn?  And minimum dependencies should be somewhere in the source build docs?

[2017-11-01 14:22] bakera10 commented on #4680
Same issue. Installed Eigen, added to include path and now i get the missing .ph.h files errors. Disappointing that "The Basics" tutorial program won't even build.

[2017-11-01 14:22] pisymbol commented on #9697
My build did fail with a message I needed 0.5.4 or higher. Again this was on master. I haven't looked if the RPi3 build changes made it to r1.3 (I would suspect not, i.e. I wouldn't backport them to the maintenance branch and I think someone said RPi support would come in 1.4 but don't hold me to it).

[2017-11-01 14:25] Carmezim commented on #14127
Yes, XLA was enabled.

[2017-11-01 14:39] fnoop commented on #9697
@pisymbol Thanks for confirming.  Sorry I tried to build r1.2 with bazel 0.5.0 which should be OK, although recent r1.2 doesn't build on the raspberry any longer - it used to.  I'm trying to build bazel 0.7.0 now with r1.3, but maybe I'll just head to the current master.  Will report back with story of success or dismal failure :)

[2017-11-01 14:56] w19787 commented on #13868
this issue is caused by the count_nonzero method in svdf mode. there is int64 cast in this method which won't be supported by _slim_android build. the other two models don't use count_nonzero, so they don't have this problem.

after fix the cast int64 issue, you also need to add not_equal op in bazel build. hope it helps.

[2017-11-01 15:05] ppwwyyxx commented on #12051
Fixed by https://github.com/tensorflow/tensorflow/pull/13496

[2017-11-01 15:05] #12051 closed

[2017-11-01 15:19] amundle-cs commented on #12522
@ebrevdo : Yes, I tried with tf-nightly (1.5.0.dev20171101). Still the same error. I'll post a reduced but self contained snippet just to be sure.

[2017-11-01 15:22] abieler opened #14155 "time to restore saved model increases over time"
### System information
- Manjaro Linux
- TensorFlow installed with pip:
- TensorFlow version: v1.3.0-rc2-20-g0787eee 1.3.0:
- Python version: 3.6.2
- CUDA/cuDNN version: 8.0.61-3 / 7.0.3-1
- GPU model and memory: GeForce GTX 1080 (8 GB)

### Describe the problem
Executing the code below in a loop slows down linearly with
number of iteration as can be seen in the figures below.
(The use case being

[2017-11-01 15:40] jart commented on #14154
@alquraishi This is good doc feedback; thank you for bringing it to our attention. I'm assuming you mean the [cudnn_rnn.py](https://github.com/tensorflow/tensorflow/blob/a6a6188/tensorflow/contrib/cudnn_rnn/python/layers/cudnn_rnn.py) file that @protoget has been working on?

I'm happy to assign him this issue, but is there any chance you'd consider sending us a pull request updating the doc? Simp

[2017-11-01 15:48] jart commented on #14155
I really love it when people take the time to make these plots to demonstrate performance issues. Thank you. The dropbox link seems broken. Is there any chance you could just copy and paste the whole script into a comment here?

[2017-11-01 15:50] jart commented on #14150
Please check out [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) and Google for similar issues. It's a common issue with Android development to make sure the right kernels get included in a build. Please note they use the registration pattern.

[2017-11-01 15:50] #14150 closed

[2017-11-01 15:54] cxwx opened #14157 "build with tensorflow_cc with cmake."
I found https://github.com/FloopCZ/tensorflow_cc/
as a good solution.
should somebody add it to official repository

[2017-11-01 16:00] abieler commented on #14155
It is not a single script unfortunately. The link above works for me if I copy/paste it into my browsers address bar. When clicking on it it seems dead, as you said. Can you try the copy/paste approach with the link?

[2017-11-01 16:08] jart commented on #14148
MPI is a very new contrib package that we're not able to officially support yet. Please reach out to @jthestness. See also https://github.com/tensorflow/tensorflow/pull/12299.

[2017-11-01 16:08] #14148 closed

[2017-11-01 16:09] alquraishi commented on #14154
@jart I actually don't know the answer to the question though :-)  I'm not sure if cuDNN (yes in cudnn_rnn) is fusing the outputs from both directions before sending to the next layer or not. I was looking for it in the docs and couldn't find it. I think it depends on what cuDNN itself is doing.

[2017-11-01 16:16] jart commented on #14155
OK that works. But this is so much code. Is there any way you could make this more digestible? Also is there any chance the growth is due to writing a whole bunch of files being written and latest_checkpoint needs to crawl the whole directory?

[2017-11-01 16:19] jart commented on #14146
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-01 16:19] #14146 closed

[2017-11-01 16:20] DavidNorman commented on #14127
not exactly related, but you might be interested in this: https://github.com/tensorflow/tensorflow/pull/14137

[2017-11-01 16:25] jart commented on #14154
@protoget could the docs in cudnn_rnn.py be improved in the way our friend is asking?

[2017-11-01 16:26] abieler commented on #14155
Ok, condensed it down to one script. There is only one checkpoint. So no dir crawling.

[code]

[2017-11-01 16:35] ebrevdo commented on #12522
@amundle-cs thanks!

[2017-11-01 16:38] donghwicha commented on #13779
@mjunyentb   I'm also testing training with SyncReplicasOptimizer on MonitoredSession
but it hangs and never starts.

[2017-11-01 16:44] 2017develper commented on #225
i have this error
TypeError                                 Traceback (most recent call last)
<ipython-input-52-ddc18530c4f6> in <module>()
     13             # Calculate batch loss
     14             loss = sess.run(cost, feed_dict={x: batch_xs, y: batch_ys, keep_prob: 1.})
---> 15             print ("Iter " + str(step*batch_size) + ", Minibatch Loss= "                   + "{:.6f}".format(loss)

[2017-11-01 16:52] kjanjua26 commented on #12522
I came across this problem sometime ago, I did solve it. The thing is you have to reshape the output of CNN's last layer into time steps so that you can feed it into the LSTM. The CNN output's a 1D tensor at the end, re-shape it to 3D tensor with `nb_timesteps` so that your LSTM takes your features distributed over timesteps as input.

[2017-11-01 16:54] vishvananda commented on #13822
I can confirm that this is fixed in 1.4 as of https://github.com/tensorflow/tensorflow/pull/14044

[2017-11-01 16:54] #13822 closed

[2017-11-01 17:01] #11996 closed

[2017-11-01 17:06] satendrapratap commented on #13971
@ispirmustafa  could you please take a look at it?

[2017-11-01 17:23] jart commented on #14155
I see the problem. You need to call `tf.reset_default_graph()` before importing the meta graph again. This behavior is non-obvious and surprising, I agree. It's one of those things where we wish we could go back in time and change.

I'm closing this issue out because I think the problem is resolved. However I would like to discuss a little more about what we could have done better. Maybe we could

[2017-11-01 17:23] #14155 closed

[2017-11-01 17:27] eli99999 opened #14158 "Android - No OpKernel was registered to support Op 'Cos' with these attrs. Registered devices: [CPU], Registered kernels: <no registered kernels> [[Node: stft/hann_window/Cos = Cos[T=DT_FLOAT, _device="/device:CPU:0"](stft/hann_window/truediv)]]"
I've exported a model to Android that uses :
stfts = tf.contrib.signal.stft(transwav, frame_length=2048, frame_step=512,
                             fft_length=2048,window_fn=functools.partial(tf.contrib.signal.hann_window, periodic=False), pad_end=True)
the model works properly in pyhton
but when i load it in Android using the downloaded compiled tensorflow - compile 'org.tensorflow:tensorflow-a

[2017-11-01 17:31] jart commented on #14158
This is a very common issue with Android development. You need to make sure all the kernels you need are in your build. Please check [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) and search Google for similar issues.

[2017-11-01 17:31] #14158 closed

[2017-11-01 17:32] jart commented on #14158
Please note that C++ kernels use a registration pattern.

[2017-11-01 17:34] yongtang commented on #13601
I think this issue is resolved with PR #14059 merged. Maybe the issues could be closed?

[2017-11-01 17:45] abieler commented on #14155
Thanks! I stumbled upon this when writing unit tests, where each test rebuilds the (a) graph from disk.

[2017-11-01 17:55] jart commented on #14105
Thank you for helping our friend @facaiy. The Python API makes a *best effort* to do type coercion, to make TensorFlow easier. It's highly nontrivial code and I'm not sure if collections with these sorts of mixed types was considered. While I'm sure it's something we'd like to support, I'm not sure if there would be performance ramifications to recursive type coercion. Therefore it might not be a

[2017-11-01 17:55] #14105 closed

[2017-11-01 18:02] jart commented on #14155
That's great that you're testing the boundaries of TensorFlow for us. If you discover anything else in the future, please bring it to our attention. We're always looking for opportunities to make TensorFlow better.

[2017-11-01 18:15] asimshankar commented on #13601
Yup, thanks.

[2017-11-01 18:15] #13601 closed

[2017-11-01 18:16] abieler commented on #14155
I do have another problem with unittests and tensorflow. Every unit test by itself runs successfully, but when using pytest to run them all I get errors. It is quite a lot of code though, when I condensed it down to a somewhat manageable amount I ll open a separate issue. Thanks for the very quick response!

[2017-11-01 18:23] ybsave opened #14162 "[Feature Request] tf.resume_gradient"
tf.stop_gradient provides a convenient way for various uses. However, sometimes, it may be useful to resume the gradient passing after some conditions are met.

For example, in Faster-RCNN algorithm, the RPN layers' gradients are stopped because they may cause unstable results in early rounds. However, this indicates that these layers' weights would be kept the initial random values forever. If we

[2017-11-01 18:34] asimshankar commented on #14157
That sounds wonderful and I hope the community finds it useful.

From what I understand, [`bazel` is used](https://github.com/FloopCZ/tensorflow_cc/blob/master/tensorflow_cc/cmake/build_tensorflow.sh#L41) to build `libtensorflow_cc.so`, and what's there packages that up with a set of header files.

Eventually, we would like to distribute the shared library and header files in a tarball that can be

[2017-11-01 18:34] #14157 closed

[2017-11-01 18:42] asimshankar commented on #14151
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-01 18:42] #14151 closed

[2017-11-01 18:45] rylz commented on #13711
I had the same problem and after many attempts to install the base intel-mkl distribution and finding that it did not include a library called libmklml_intel.so, I found the following Intel repo that builds this library: https://github.com/01org/mkl-dnn

I followed their installation instructions and tensorflow started working. Note that it installs to /usr/local/lib by default, so you may need to

[2017-11-01 18:46] asimshankar commented on #14117
Unfortunately, we (TensorFlow maintainers) do not have enough expertise or bandwidth to support builds on Windows right now (as per https://www.tensorflow.org/install/install_sources - "We don't officially support building TensorFlow on Windows; however, you may try to build TensorFlow on Windows if you don't mind using the highly experimental Bazel on Windows or TensorFlow CMake build.").

So, I'

[2017-11-01 18:53] asimshankar commented on #14109
I

[2017-11-01 19:03] cuevas1208 commented on #12000
@rasitsimsek  I am having the same issue, how did you fixed this error?

[2017-11-01 19:04] jart commented on #14155
That might be a better question for [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). I usually run tests using Bazel. For example `bazel test //tensorflow/python/...`

[2017-11-01 19:08] yongtang commented on #12000
A PR #13553 is pending review.

[2017-11-01 19:12] amundle-cs commented on #12522
@kjanjua26 : The output of the CNN (at least per my architecture is a 3D tensor), gist below
@ebrevdo : Here's the gist: https://gist.github.com/amundle-cs/9dcf32bf8ee53d8e868fbf332f54312d

[2017-11-01 19:13] gbc8181 opened #14163 "The tensorflow doesn't work suddenly"
Hi,

I am so confused that the tensorflow cannot use today.  It is perfectly run yesterday and the days before.  I am sure that the coding are right (It can run on other computers and before on my computer). I tried reinstall the graphics driver, cuda and cudnn but did not work. Here is the problem when I run the program:

2017-11-01 14:07:43.309592: W tensorflow/core/platform/cpu_feature_guard.cc

[2017-11-01 19:27] #13975 closed

[2017-11-01 19:43] asimshankar commented on #14109
I don't think I quite follow your question. As you pointed out, there are a few different implementations of those kernels, and the `REGISTER_KERNEL_BUILDER` calls in the files you listed will tell you which conditions a particular kernel implementation is applicable for.

The `Compute()` methods of these classes lists out exactly the code run when these operations are invoked.

Could you be more

[2017-11-01 19:59] KrishnaveniTK commented on #12935
Hi @gunan ..is the fix available for 3.6 binary in linux?

[2017-11-01 20:06] ozabluda commented on #14047
This is a good argument against introducing those methods into `tf.*`, but arguments for it are

1.  `tf.*` methods have different signatures than eponymous `tf.Tensor.*` methods (like `dtype` parameters)
2. `tf.*` static methods could accept numpy arrays, python lists, etc

what about items 5 and 6?

[2017-11-01 20:52] kjanjua26 commented on #12522
@amundle-cs try to print the shape of the last layer, also, if it is 3D tensor, it is still not distributed over time. Re-shape the output of CNN like `(nb_samples, timesteps, nb_features)` and then you feed it to LSTM.
Use tf.squeeze on the output of CNN.
`lastCNN = tf.squeeze(lastCNN,[1])`
Then you can feed this to LSTM in addition to the `sequenceLength` which is set according to the highest se

[2017-11-01 21:54] botev opened #14164 "tfe.Network created inside variable_scopes"
This is a feature request.
Currently `tfe.Network` cannot be created under variable scopes. This is particularly useful to still have when composing very complicated models.

[2017-11-01 21:57] lucifer6666 commented on #7623
I just Installed tensorflow for anaconda.
And I'm getting this Error..
The Previous Solutions Was Not Useful....

Traceback (most recent call last):
  File "C:\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    return importlib.import_module(mname)
  File "C:\Anaconda3\envs\tensorflow\lib\importlib\__init__.py", line 126

[2017-11-01 22:03] olalonde commented on #31
The Slack team looks a bit dead (compared to Keras or even the coursera deep learning slack team). It would be nice to have an official one or have the TF team endorse that one through README/website.

[2017-11-01 22:07] protoget commented on #14154
@alquraishi
For TF Cudnn layers, think TF as a wrapper on top of Nvidia Cudnn library. There is a very limited set of config TF can do. So you probably can refer to Nvidia's CuDNN manual if the doc is missing something.

To answer ur question:

At the end of each layer, it concates output from both directions (forward goes first), which becomes the input for next layer, for both directions.

Thank

[2017-11-01 22:09] Carmezim commented on #7623
@lucifer6666 Could you try to run [this script](https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c) and see what it points you to?

[2017-11-01 22:13] gbc8181 commented on #6698
@SimonWalsh1000 It really works. Thanks so much!

[2017-11-01 22:23] fnoop commented on #5729
It's been taking me about 2 days for each tensorflow raspberry build, thank you very much for this work :)

[2017-11-01 22:33] mrry commented on #13932
Unfortunately, this is "expected behavior" due to the way `tf.random_uniform()` (used inside `tf.image.random_hue()`) and the other RNG ops are implemented. The parallel invocations of map will race to access the mutable RNG state inside the op, and different invocations will see a non-deterministically chosen element of the same sequence. Currently, the only way to ensure deterministic results fr

[2017-11-01 22:34] Joshuaalbert commented on #10332
Can this be reopened? I have a use case. In my case, I am trying to use cholesky decomposition to solve a system, however sometimes it is not pos semi definite in which case it throws an error. I would like in this case to use SVD.
I need to do this check on each sub batch, i.e. using tf.unstack and doing the solve on each sub matrix.
It would be nice to be able to do
[code]

[2017-11-01 22:42] paragon00 opened #14165 "Equivalent of caffe iter_size in TF"
Can we get the equivalent of caffe's iter_size parameter in TF? This accumulates gradient calcs over several GPU cycles before doing the weight update. It effectively allows a larger batch size. TensorFlow doesn't natively have this but some ppl seem to have implemented sth like it themselves, e.g

https://stackoverflow.com/questions/42156957/how-to-update-model-parameters-with-accumulated-gradien

[2017-11-01 22:49] alquraishi commented on #14154
@protoget thank you for the clarification. That is what I was wondering about. I couldn't really find the answer in the cuDNN docs and I figured since it's exposed via TF that TF docs should document the behavior, even if it's not necessarily modifiable.

I haven't submitted any PR requests for TF yet so I would have to sign the CLA, etc, which may take some time. I'm happy to do it but feel free

[2017-11-01 22:51] jart commented on #10332
@Joshuaalbert Would it be possible to solve this problem with `tf.cond`?

[2017-11-01 23:06] skye commented on #4762
Just a heads up that we're working on this! Stay tuned. cc @wolffg

[2017-11-01 23:31] acrosson commented on #6271
@jorisguerin did you figure it out?

[2017-11-01 23:50] JeremyCCHsu commented on #12414
Same problem with TF 1.4
(built from source, CUDA 9.0 cuDNN 7.0, Ubuntu 16.04, Python 3.5)

[2017-11-01 23:50] protoget commented on #6633
@albertz
I think it's actually more of a question to Nvidia than to TF.
1. I'm not sure why we chose 3 dimension, for the TensorNdDescriptor -- but from Cudnn 7.0 it actually suggests at least 4 dims:

limited to 2 Giga-elements of type datatype . Tensors are restricted to having at least
4 dimensions, and at most CUDNN_DIM_MAX dimensions (defined in cudnn.h). When
working with lower dimensional d

[2017-11-02 01:41] jhseu commented on #6968
We still don't think there's a bug in TensorFlow here. Any Python module that messes with memory allocation can cause this, so perhaps trying importing those last?

[2017-11-02 02:04] Joshuaalbert commented on #10332
This is possible if there are a few conds and if the number of conds is static. But what I need to do is unstack along batch and perform the solve for each batch with a possible exception for each.

[2017-11-02 02:49] vincentfung13 opened #14169 "Tensorflow predicts odd results with insufficient GPU memory"
Hi all,

I am currently having a problem that, when my code tries to initialize two or more predict instances in a GPU with insufficient memory, instead of throwing an OOM exception, the instances are initialized normally. However, when I try to predict an image with these instances, they produce weird results like [1.0, 0.0, 0.0, …].

Is this a bug when two or more sessions try to race for limite

[2017-11-02 03:23] orpillar opened #14170 "List of functions could be improved with "const std::string&" or "std::string&" instead "std::string""
After a quick scan in the latest tensorflow "master" branch, here is the list of functions which could improve passing parameter by "std::string":

After a quick scan in the latest tensorflow "master" branch, here is the list of functions which could improve passing parameter by "std::string":

1. c/c_api_function.cc:  static string Normalize(string name);
   Suggestion: string& name;
2. c/c_api_f

[2017-11-02 03:29] ppwwyyxx commented on #14162
`tf.where(condition, x, tf.stop_gradient(x)`

[2017-11-02 03:51] jart commented on #10332
Yes but even if an exception catching API was provided, it would most likely be designed in a way where you would need to say which specific error type and/or message regex you would want to catch, rather than catch-all. If you know what the error could be in advance, then it would most likely be possible to perform an expression on the input to see if it would result in an error, and if so, branc

[2017-11-02 04:02] w4nderlust opened #14171 "Memory leak in conv2d()"
### System information

Python: 3.5.2
TensorFlow version 1.3.0 via pip, 1.3.1 via source, 1.4.0-rc1 from source (confirmed the problem on all three of them)
Bazel: 0.7.0
Ubuntu 16.04
GPU: GeForce GTX 1080 with 8GB
Nvidia drivers: 384.90
CUDA: 8.0
CuDNN: 6.0
Optimizer: Adam with default parameters

### Problem Description

I will post here some evidence that makes me think that there's a major leak

[2017-11-02 04:03] jart commented on #14170
@orpillar I'm a big fan of cleanup work. A lot of the stuff on this list checks out, like `for (string name : events) {` tracing.cc. I support refactoring those unidiomatic usages of the C++ language. However this list needs more curation. I looked at (1) which points to [NodeNameMapping::Normalize](https://github.com/tensorflow/tensorflow/blob/4f39566/tensorflow/c/c_api_function.cc#L75) and this

[2017-11-02 04:13] jart commented on #14164
@asimshankar Our friend is… eagerly awaiting your response to his feedback on tfe.Network + variable scopes.

[2017-11-02 04:15] jart commented on #14162
@ybsave Does @ppwwyyxx's suggestion satisfy your needs? (Thank you by the way @ppwwyyxx)

[2017-11-02 04:15] amitoengg commented on #6620
any updates on this or a workaround ?

[2017-11-02 04:22] TheButlah commented on #216
I would also like tf.matmul to broadcast properly. It becomes a problem when trying to add a fully connected or softmax layer in an RNN:
`outputs = tf.stack(outputs, axis=1, name='Outputs')  # Shape is [batch, sequence, embedding]
    with tf.name_scope('Softmax'):
        w = tf.get_variable(
            name='Weight',
            initializer=tf.truncated_normal([rnn_cell.output_size, embedding_s

[2017-11-02 04:45] asimshankar commented on #14164
FYI @alextp @allenlavoie @josh11b @agarwal-ashish

Could you elaborate a bit on what you're trying and why :)? An example would help.
(I'm guessing you're filing this feature request because of [this exception](https://github.com/tensorflow/tensorflow/blob/d7cffe9/tensorflow/contrib/eager/python/network.py#L301))

We'd really like to understand your use case better before thinking about removing t

[2017-11-02 04:45] sjperkins commented on #13308
Looks like https://github.com/tensorflow/tensorflow/pull/13496 fixes this. I'll close once I've tested on a nightly containing https://github.com/tensorflow/tensorflow/pull/14159.

[2017-11-02 04:54] jart commented on #14171
If you found a leak in conv2d, that would be a very high impact find, because it's such a commonly used feature. While it's less likely there would be a major issue, such a report is always worthy of consideration.

Is it possible that your shape, filter, stride, sizeof(dtype), etc. are all sort of multiplying together into that huge amount of memory? I've personally always found it to be interest

[2017-11-02 05:26] jart commented on #14126
Thank you for helping our friend @Carmezim. I think it's great this is going to be solved with the 1.5 release. Since this issue probably isn't actionable in the meantime, I'm going to close it out. Provided new information, I'll reopen.

[2017-11-02 05:26] #14126 closed

[2017-11-02 05:26] nanamare commented on #14125
finally i solved landscape and facing mode.
If you need help, just contact me :)
![kakaotalk_20171102_142109456](https://user-images.githubusercontent.com/17498974/32311043-cb058284-bfd9-11e7-9f6c-b884460a6e5e.jpg)

[2017-11-02 05:27] nanamare commented on #9412
I solved this problem.

[2017-11-02 05:28] nanamare commented on #9416
I solved this problem.

[2017-11-02 05:31] jart commented on #14048
Does it work if you do the conda thing as root?

[2017-11-02 05:34] bobeo commented on #9412
@nanamare can you tell us how you solved the issue?

[2017-11-02 05:37] jart commented on #14084
@jhseu Would you be able to help out with the HDFS issue?

[2017-11-02 05:38] andrewharp commented on #9412
@nanamare We'd love to have this as a contribution, if you'd be up for submitting a pull request!

[2017-11-02 05:58] fstrub95 opened #14173 "using batchnorm in conv2d discard the bias"
Hi!
I observed that whenever I applied batch normalization to conv2d, the bias variable are not created!
version : Tensorflow 1.3

[code]
output:

<tf.Variable 'conv1/weights:0' shape=(3, 3, 1024, 128) dtype=float32_ref>
<tf.Variable 'conv1/batch_normalization/beta:0' shape=(128,) dtype=float32_ref>
<tf.Variable 'conv1/batch_normalization/gamma:0' shape=(128,) dtype=float32_ref>
<tf.Variable 'conv

[2017-11-02 06:02] fstrub95 commented on #14173
Nevermind... it is a feature...
Normalization function to use instead of `biases`. If
      `normalizer_fn` is provided then `biases_initializer` and
      `biases_regularizer` are ignored and `biases` are not created nor added.
      default set to None for no normalizer function

[2017-11-02 06:02] #14173 closed

[2017-11-02 06:05] shoyer commented on #216
I think proper broadcasting support for `tf.matmul()` would pretty clearly be a welcome addition to TensorFlow. There is certainly plenty of interest in it, and it is backwards compatible with how `tf.matmul()` currently works.

I suspect full support for the semantics of `@` as described in https://github.com/tensorflow/tensorflow/issues/1062#issuecomment-225882004 would also be welcome, but supp

[2017-11-02 06:24] w4nderlust commented on #14171
Hey jart, thanks for you answer. (I use you fabulous lib, it’s amazing!)

I spent 4 days debugging this issue in my code and I ruled out all other possibilities. I looked at the datapoints in the last batches one by one and also reshuffled all the datasets to be sure it was not a data related issue. Unfortunately no, it doesn’t seem to me that it is an issue related with loosing track of the sizes

[2017-11-02 06:25] gunan commented on #14163
Could you try the recommendation here?
https://github.com/tensorflow/tensorflow/issues/6698#issuecomment-327154461

Please make sure to check for duplicate issues and their resolutions before filing new issues.

[2017-11-02 06:50] lightingghost opened #14174 "macOS build failed"
macOS 10.13
CUDA9.0 CUDNN7.0
bazel 0.7.0

[code]

[2017-11-02 06:50] asimshankar commented on #14125
Glad to hear you were able to figure things out.  If there is a pull request you'd like to contribute to improve the demo app, please feel encouraged to do so.

Thanks!

[2017-11-02 06:50] #14125 closed

[2017-11-02 07:19] jart commented on #14171
If you liked Fabulous, check out [hiptext](https://github.com/jart/hiptext) which is what came next. It can [render Gangnam Style](https://www.youtube.com/watch?v=sYMczHySmYU) with quasi 512-color unicode half blocks in Terminal.app. @keroserene and I used it to make [rickrollrc](https://github.com/keroserene/rickrollrc). @tombh [plugged hiptext into X11](https://github.com/tombh/texttop) so you c

[2017-11-02 08:52] taki0112 commented on #14070
@divyanshj16
oh.. really thank you
It would be great if we could see it as soon as possible.
Thank you for your implementation.

[2017-11-02 09:16] salihkaragoz opened #14177 "Getting wrong value with placeholder"
### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No, I have used code which is on the [link](https://www.tensorflow.org/get_started/get_started).
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04 LTS
- **TensorFlow installed from (source or binary)**:
Installing with native pip (tensorflow-

[2017-11-02 09:22] himanshu1411 opened #14178 "what is this error stands for.?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-02 09:41] donghwicha commented on #6263
Can anyone update document below with a phrase which clearly indicates that Supervisor is deprecated? Please make Tensorflow community united with clear vision to its API usage.

https://www.tensorflow.org/api_docs/python/tf/train/Supervisor

[2017-11-02 09:53] lucifer6666 commented on #7623
ERROR: Failed to import the TensorFlow module.

- Python version is 3.6.

- TensorFlow is installed at: C:\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow

- Could not load 'cudart64_80.dll'. The GPU version of TensorFlow
  requires that this DLL be installed in a directory that is named in
  your %PATH% environment variable. Download and install CUDA 8.0 from
  this URL: https://developer.

[2017-11-02 10:12] Cv9527 opened #14179 "tensorflow model convert to other dl tools?"
are there some tools that can convert tensorflow model to caffe、mxnet or other dl tools?

[2017-11-02 10:35] fnoop commented on #9697
Aha!  There are now binary wheels for raspberry quad and single core variants which work well:
https://petewarden.com/2017/08/20/cross-compiling-tensorflow-for-the-raspberry-pi/

Sorry for the noise on this issue.

[2017-11-02 10:45] bbaJay749 opened #14180 "error during install."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-02 11:06] pbanavara commented on #12686
Hey guys sorry I couldn't get the test to pass. Help needed. I just copied the test from the Softmax test and made changes. This is what I have

[code]
Here are my questions:
I get a compilation error if I just use
`auto y = SoftmaxCrossEntropyWithLogits(scope_, x, l)`
So I made an educated guess to use the backprop - is this wrong ?
Is there any such thing as enabling debug flag for tests. In the

[2017-11-02 11:08] Joshuaalbert commented on #10332
Yes in my case (and in all cases that I can imagine using this API) I know what the exception would be.
Indeed, one could sequentially do multiple sess.run calls with a try/catch around the sess.run pointing to different implementations, but this would, firstly, unparallelize the procedure completely, and also obfuscate the program structure. Ideally, it would maintain the python principles of rea

[2017-11-02 11:11] JulianStier opened #14181 "Tensorflow or python having memory cleanup issues when using multiple models in iterative loop"
### System information
- **Have I written custom code**: yes
- **OS Platform and Distribution**: Linux Ubuntu 17.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version**: v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**: Python 3.6.1 :: Anaconda 4.4.0 (64-bit)
- **CUDA/cuDNN version**: none
- **GPU model and memory**: none

== cat /etc/issue =========================

[2017-11-02 11:21] rmmal commented on #1924
@Thomas-Kim , we cloned the latest version of tensorflow and still there is a  problem of reading images using opencv , everytime i initiate a TENSOR object  the opencv doesn't work.

so any suggestions please

[2017-11-02 11:46] botev commented on #14164
So, I wanted to use a `tfe.Network` which defines, for instance, the Normalizing Flow of an Autoencoder. I have another network for the inference network. Now at this point, you can technically just have another net on top where these are part of, which I don't. Nevertheless, since I use the VAE inside an RL algorithm, that last bit is scoped, as so far in most code people and me included have use

[2017-11-02 12:00] Timmmm commented on #14127
Same error [here](https://github.com/Project-OSRM/osrm-backend/issues/1000). The fundamental problem is that `double sin(double)` and `float sin(float)` (and so on) are both available in the global namespace so the cast is ambiguous.

As far as I understand it, when you `#include <math.h>` you should only get the `double` version and not the `float` version. When you `#include <cmath>` you should

[2017-11-02 12:02] enfeizhan commented on #6766
Massive thanks. Empty tensor is the cause of my problem too. @metachi

[2017-11-02 12:05] KrishnaveniTK opened #14182 "Creating a specific 3.6 binary for Linux"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**:
- **Python version**: Python3.6
- **Bazel version (if compiling from source)**:
- **G

[2017-11-02 12:30] Carmezim commented on #7623
@lucifer6666 CUDA 9 is not supported neither cuDNN 7.

[2017-11-02 13:07] c3l2 opened #14184 "memory leak with tf.image.encode_jpeg"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-11-02 13:10] lucifer6666 commented on #7623
I Installed CUDA 8.0 and CuDNN 6.0 and now it is working....
      Thanks For The Help......

[2017-11-02 13:11] alquraishi commented on #6633
@protoget it appears that Keras does support this however, according to this [post](https://groups.google.com/a/tensorflow.org/forum/#!searchin/discuss/alquraishi/discuss/Q4egUFzG_3I/IZ5NMQIxAQAJ)?

Irrespective of the padding issue, if the input tensor changes in size (say due to bucketing so that from batch to batch the size of the input tensor is different), would the ops and layers defined in

[2017-11-02 13:13] smitshilu commented on #12052
I am trying to build 1.4 with CUDA 9 and cuDNN 7 in mac 10.13 high sierra. I am keep getting this error

[code]

Any solution for this?

[2017-11-02 13:20] c3l2 opened #14185 "memory leak with tf.image.encode_jpeg"
I encountered an issue with tf.image.encode_jpeg. I got a lot of images to preprocess. The code that caused the problem is like this:

for imagefile in image_list:
  im = cv2.imread(imagefile)
  image_data = tf.image.encode_jpeg(im, format='rgb')

The memory usage kept increasing as image.encode_jpeg was called. Eventually the 256G mem server ran out of memory.

[2017-11-02 13:32] cdeepakroy commented on #10073
We are facing the same issue.

We are building an open-source toolkit called HistomicsTK for analyzing histopathology images. We are currently trying to integrate some keras/tensorflow code into our toolkit. We would like our toolkit to work on all machines (with or without a GPU) and take advantage of the GPU if it is available or default to the CPU.

We also have some command-line programs/pipel

[2017-11-02 13:33] albertz commented on #6633
You can use [`tf.reverse_sequence`](https://www.tensorflow.org/api_docs/python/tf/reverse_sequence) to reverse it for the backward direction. Then you can reverse it afterwards again. You have to do it separately for the forward and backward direction, and also separately for each layer. I implemented that in our framework [Returnn](https://github.com/rwth-i6/returnn). Of course, that degrades the

[2017-11-02 13:36] smitshilu commented on #14174
Same issue here.

[2017-11-02 13:41] fxsuper commented on #221
+1 for GPU implementation

[2017-11-02 13:46] eaigner opened #14186 "TF 1.4 build_all_android.sh fails with nsync.a"
Running

    NDK_ROOT="$HOME/Library/Android/sdk/ndk-bundle" bash $MAKEFILE_DIR/build_all_android.sh

results in this error

[code]

NDK version 15c, Android Studio 3.0, macOS High Sierra 10.13.1

[2017-11-02 13:55] orpillar commented on #14170
@jart You are right. The first function **NodeNameMapping::Normalize** needs to have "**&**" added, there is no need to add "const". I updated the issue description, will list with more details soon.

[2017-11-02 14:16] vellamike commented on #12052
@smitshilu possibly related https://github.com/tensorflow/tensorflow/issues/2143

[2017-11-02 14:34] skye commented on #12686
What's the failure message?

SoftmaxCrossEntropyWithLogits has two outputs, loss and backprops: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/nn_ops.cc#L2002

RunTest() calls ComputeGradientError(), so I suspect you somehow need to incorporate both outputs in the gradient test. I'm not sure though. Maybe @suharshs knows more.

[2017-11-02 14:48] mrry commented on #14184
Closing as duplicate of #14185.

[2017-11-02 14:48] #14184 closed

[2017-11-02 14:50] UlrichBernert68 opened #14188 "Retval[0] does not have value in a multithreaded context with FIFOQueue and tf.scan(...)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: I provide a working script showing the buggy behaviour
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 2.7.1

[2017-11-02 14:57] sjperkins commented on #13308
Looks like this got fixed at some point. https://github.com/tensorflow/tensorflow/pull/13496 is a nice addition for Makefiles.

[2017-11-02 14:58] mrry commented on #14185
In regular TensorFlow, calling `tf.image.encode_jpeg()` (or any TensorFlow op function) in a loop will append it to a graph. Furthermore, each value of `im` will be embedded in the graph as a constant. There are a few options here:

* Try the recently announced [eager execution](https://research.googleblog.com/2017/10/eager-execution-imperative-define-by.html) mode, which makes code like this work

[2017-11-02 14:58] #14185 closed

[2017-11-02 15:17] sascha-monville commented on #13805
Forced to use anaconda3 while working on a cluster with no sudo permission, i figured out that `pip install tensorflow-serving-api` only works for python 2.7.12 or higher python 2.7.9 fails.
@jieliuu you might check your version + good luck

[2017-11-02 15:19] amundle-cs commented on #12522
@kjanjua26 Thanks for you suggestion. I believe, that the 3D tensor (output of CNN) is being reshaped into [`samples x time x features`](https://gist.github.com/amundle-cs/9dcf32bf8ee53d8e868fbf332f54312d#file-cnn_bilstm-py-L80) Please let me know if you think otherwise.
Instead of using `tf.squeeze(...)`,[ I am applying `tf.reduce_max(...)` to the output of CNN.](https://gist.github.com/amundle-c

[2017-11-02 15:23] meccaLeccaHi commented on #14048
Strangely, I get the same missing module error even after running the following commands:
`sudo -s`
`conda install tensorflow-gpu`

[2017-11-02 15:34] ybsave commented on #14162
@ppwwyyxx Thank you. I think this is OK for my use.

[2017-11-02 15:41] sleighsoft opened #14189 "Cannot deepcopy index_table_from_file object"
Tensorflow 1.4.0
Windows 10

Code:
[code]

Error
[code]

Is it intended that this object cannot be deepcopied?

[2017-11-02 15:46] csnemes2 commented on #8102
@teramototoya what I did as a hack: with https://www.tensorflow.org/api_docs/python/tf/unique_with_counts i counted the multiplication in the indices and i divided the tensor which was holding the values (aka tensor named 'updates' in the first comment)  with this counter
so when add() comes it will undo what the division made

you can check this simple script: https://github.com/csnemes2/conv-net

[2017-11-02 15:48] roumposg commented on #13821
I was not able to reproduce the problem. It seems like it is mac-specific, and I am not an expert in that, so I am unassigning myself.

For the record, I attach the modified file I used, which counts the number of models created (rename from train.txt to train.py to use the file).
[train.txt](https://github.com/tensorflow/tensorflow/files/1438398/train.txt)

[2017-11-02 15:54] chahld commented on #14042
I've created a kludgey solution, by modifying the SummarySaverHook code and getting the summary op via tf.get_collections(tf.GraphKeys.SUMMARY_OP).  In my use case I want only one summary saved (to show example images and neuron response images. But you can probably modify this to do whatever you want.

You pass this into the estimator.evaluate like this:
`
    hooks = [EvalSummarySaverHook(output

[2017-11-02 16:14] chaoswith commented on #14174
Same issue here too

[2017-11-02 16:25] allenlavoie commented on #14164
So it sounds like you'd be fine with variable scopes having no effect on Network variable naming, as long as they don't crash? (not a proposal, just a clarifying question)

The error is there because we'd like variables in a Network to have a name which matches the names of the Networks/Layers it belongs to, and it wasn't clear that adding special naming for when the Network is in a variable scope

[2017-11-02 16:51] wochinge commented on #14084
I kind of fixed the error. My guess is that Hadoop only shows the initial file size as long as content is only appended to the event file and shows the "real" file size only when the training is stopped (ended or aborted). My problem further might have been related to the fact, that I have got Tensorflow running in a Docker container which was stopped immediately after Tensorflow was finished. I a

[2017-11-02 16:51] #14084 closed

[2017-11-02 17:01] eli99999 commented on #14158
I have recompiled libtensorflow_inference.so with print_selective_registration_header
and i see in the ops_to_register.h file the Cos OP -

...
constexpr inline bool ShouldRegisterOp(const char op[]) {
  return false
     || isequal(op, "Add")
     || isequal(op, "BatchToSpaceND")
     || isequal(op, "CTCBeamSearchDecoder")
     || isequal(op, "Cast")
     || isequal(op, "Complex")
     || isequal

[2017-11-02 17:02] helinwang commented on #3295
@millisecond Maybe try feed data into a TF buffered queue, and the training OPs will read the data from that queue. It still cost more CPU cycles for RPC (protobuf is really slow), but hopefully it will not have visible impact to the training time.

[2017-11-02 17:08] jart commented on #14084
Thank you for sharing that information for people who google this issue in the future. Sleep sounds like it would do the trick. If you end up discovering a way to do it without sleep in the future, please let us know. We're always interested in hearing about these things.

[2017-11-02 17:17] botev commented on #14164
I think yes as long as they don't crash I if variable scopes have no affect at least at what I have in mind atm that would work.

I can't say I'm a 100% sure which is the best solution, but I do think what you are saying - prefixing the name of the network by the parent scope - pretty much like the others to be a sound solution. This probably is fine even for anonymous networks to have it and is n

[2017-11-02 17:29] aijanai commented on #6022
Sorry if I reopen this, but I was desperately looking for an explanation of negative axis concatenation. rf.reshape does explain the special case for -1, but not tf.concat.
May someone be so kind to explain what does that mean?
Thanks

[2017-11-02 17:37] anonym24 commented on #9412
@nanamare great, if the problem was related to `List<Recognition> recognizeImage(final Bitmap bitmap)` method (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/TensorFlowYoloDetector.java#L134)

then maybe you understand code pretty well and could also help with Yolo detector in Java for Windows/Ubuntu

I already made a project in IntelliJ ID

[2017-11-02 17:38] girving commented on #6022
`axis=-1` means the last axis, in the same way that `list[-1]` in Python means the last entry.  See also any numpy function, such as https://docs.scipy.org/doc/numpy-1.10.0/reference/generated/numpy.sum.html.

[2017-11-02 18:29] aijanai commented on #6022
Great, that confirmed the idea I got by experimenting. Thanks

[2017-11-02 18:30] jeffcbecker commented on #11823
I also encountered a similar error when attempting to use SyncReplicasOptimizer for MNIST, and was wondering if any progress has been made on this issue. Thanks.

[2017-11-02 19:43] Jiawen1991 commented on #14109
Asim, thank you for your reply. I asked in StackOverflow but no one responses me yet and I am in a hurry in this issue.

To be simple, the issue is that the normal Back-Propagation should include convolution, differentiate,  derivate and other operations to calculate a gradient. However, in TensorFlow, it only uses tensor contraction (for Conv2DBackpropFilter) and matrix transposition(for Conv2DBa

[2017-11-02 19:53] jbboisseau commented on #14182
same issue on MacOS 10.12.6

[2017-11-02 20:21] gunan commented on #10073
In the longer term we have some projects that may merge the two packages, but the short term answer is no.

[2017-11-02 20:41] orpillar commented on #14170
Updated the list

[2017-11-02 21:15] #13066 closed

[2017-11-02 21:23] jart commented on #14170
@orpillar Passing a non-const reference would change the API and isn't allowed by the [Google C++ Style Guide](http://google.github.io/styleguide/cppguide.html#Reference_Arguments).

[2017-11-02 21:30] rfarouni commented on #14182
same problem on Linux Ubuntu 16.04

[2017-11-02 21:50] rasitsimsek commented on #12000
Hi cuevas1208, I had added

`  bool operator<( const IndicesRowIterator& other ) const {
     QCHECK_LT( iter_, other.iter_ );
     return ( row_idx_ < other.row_idx_ );
  }`

at **tensorflow\contrib\boosted_trees\lib\utils\sparse_column_iterable.cc** . This code fragment had solved the problem.

[2017-11-02 21:54] zhedongzheng opened #14190 "tf.contrib.boosted_trees still cannot be used in official 1.4.0"
Hi, i have raised an [issue](https://github.com/tensorflow/tensorflow/issues/14087#event-1319398254) before, however after i upgrade to official 1.4.0, the problem is still the same.

I am sorry about raising this again, but GBDT in TF seems so appealing to users.

TF version: 1.4.0
Py version: 2.7.10
OS: Mac OS

The testing script i am using is:
[code]
The full error i am getting is:
[code]

[2017-11-02 21:55] zhedongzheng commented on #14190
hi, @sshrdp, can you have a look? or the next release you are talking about is actually 1.5?

[2017-11-02 21:59] girving opened #14191 "tf.nn.l2_normalize takes dim instead of axis"
At master, `tf.nn.l2_normalize` still takes the axis parameter as `dim`.  Everything else has been standardized on `axis`, so it'd be nice if this one was `axis` too.  Since `dim` can't be changed for backwards compatibility reasons, presumably the right approach is adding an extra `axis` argument and requiring that at most one of them is set.

@aselle: Is that right?

[2017-11-02 22:07] asimshankar commented on #14182
@gunan : Do we have any updates on the resources we have to support Python 3.6 releases?

[2017-11-02 22:12] gunan commented on #14182
@av8ramit looks like there were divergences which prevent us from using the same pip packages on python 3.5 and 3.6
Can we modify our builds to also build 3.6 version from scratch?

[2017-11-02 22:43] LoseTheQuit opened #14193 "TypeError: Cannot interpret feed_dict key as Tensor: The name 'save/Const:0' refers to a Tensor which does not exist. The operation, 'save/Const', does not exist in the graph."
From this file: https://github.com/llSourcell/pong_neural_network_live/blob/master/RL.py

I've updated the lines

   #first convolutional layer. bias vector
   #creates an empty tensor with all elements set to zero with a shape
    W_conv1 = tf.Variable(tf.zeros([8, 8, 4, 32]) , name='W_conv1')
    b_conv1 = tf.Variable(tf.zeros([32]), name='b_conv1')

    W_conv2 = tf.Variable(tf.zeros([4, 4, 32,

[2017-11-02 22:45] grisaitis commented on #13869
@sullivak yup
- https://github.com/tensorflow/tensorflow/issues/12052#issuecomment-335357372
- https://github.com/tensorflow/tensorflow/issues/12052#issuecomment-337555746

Does anyone know about a publicly available (docker hub) image for this? I found [this](https://github.com/chi-hung/Dockerbuilds-Keras) by @chu-hung, which looks promising. I also asked at https://github.com/tensorflow/tensorfl

[2017-11-02 23:08] protoget commented on #6633
@alquraishi

Keras has support of padding with a performance hit. I don't know if it's better/worst than if implemented using CuDNN's native support (which is also expensive).

inputs to cudnn_rnn classes have 3 dims: [time_steps, batch_size, input_dim]. The 3rd dim is a constant which doesn't change across batches. It's a requirement for all LSTM impl, regardless of what devices they are.

[2017-11-02 23:11] asimshankar commented on #14001
Addressed in https://github.com/tensorflow/tensorflow/commit/a6a61884396ef1d51b01f8e13df21becb23fd0c8

[2017-11-02 23:11] #14001 closed

[2017-11-02 23:28] alquraishi commented on #6633
@protoget thanks for the clarification about the 3 dims. My question was with regards to time_steps. Is it ok if that changes from batch to batch? I have it running and it's not throwing up an error, but I want to make sure the resulting semantics are correct (modulo padding issue--I understand that the padded time steps are treated as actual entries.)

[2017-11-02 23:35] andrewharp commented on #9412
I've made a fix for this internally, should show up in the next push. You'll still have to manually change the orientation of the Activity in AndroidManifest, but everything else should just work afterwards.

[2017-11-02 23:35] johnsrude opened #14194 "Make CMake on TensorFlow Incrementally Compile on Windows"
I'm working with the tensorflow r1.4 branch on Windows 7 with Visual Studio 2015.   When I configure

[code]
and run

[code]
the build always compiles all the projects, even the projects already compiled.

Looking at the first few lines of msbuild.txt I see

[code]
The issue isn't the multicore builds, I'm just using multicore builds to speed up the overall build, which takes 5 hours on one core.

[2017-11-02 23:39] protoget commented on #6633
It's ok if the sequence_length varies from batch to batch.

[2017-11-03 00:01] ybsave commented on #14162
Hello, I just made some simple tests and find that the tf.where may not satisfy my need. I want the gradient of a loss to stop back propagation in early rounds, but continue the BP in later rounds.

As loss is usually defined before a session is really created, if I use codes like
    loss = tf.where(math_ops.greater_equal(global_step, STEP_THRESHOLD), loss, tf.stop_gradient(loss))

I found that t

[2017-11-03 00:08] asimshankar commented on #14178
Closing as perhaps this issue was accidentally filed? (There is no information included - so I'm not sure what "error" is being talked about :)

[2017-11-03 00:08] #14178 closed

[2017-11-03 00:32] jorisguerin commented on #6271
@acrosson Yes I did, first there was an error in my function, one should change the following line:
[code]
to
[code]

Also, this behavior tends to happen for some reason. I found out two possible ways of avoiding it:

- Reduce your learning rate
- Add dropouts after your Spacial softArgMax layer

Hope this helps.

[2017-11-03 00:32] asimshankar commented on #14191
That would be correct. Contributions welcome :)

[2017-11-03 00:37] yongtang commented on #14191
@girving PR #12716 changes dim to axis for `tf.nn.softmax` and `tf.nn.log_softmax`  (with backward-compatibility). The PR is pending review. I can update the PR to include changes of `tf.nn.l2_normalize` from `dim` to `axis` as well.

[2017-11-03 00:39] mrry commented on #14194
This would definitely be a useful feature for anyone relying on the CMake build in regular development. However, since we only currently rely on CMake for CI builds on Windows, these are always from scratch, and we hope to shift that build to Bazel for Windows ASAP, it is unlikely that anyone on the TensorFlow team will spend time investigating the cause of the gratuitous rebuilds. Therefore I'm g

[2017-11-03 00:46] johnsrude commented on #14194
When will the Windows Bazel build be ready for prime-time?

The Nettles: Celtic. Eclectic. Folkadelic.
www.TheNettles.com <http://www.thenettles.com/>

On Thu, Nov 2, 2017 at 5:44 PM, Derek Murray <notifications@github.com>
wrote:

[2017-11-03 00:56] zhangyaobit commented on #13146
Closing now. Feel free to re-open if needed.

[2017-11-03 01:07] orpillar commented on #14170
Thanks for providing the Google C++ Style Guide. The guide does mention the rule. Please feel free to close the issue if not applicable.

[2017-11-03 01:12] sshrdp commented on #14190
Yes, the fix is in 1.5. The MNIST example that came with 1.4 does multi-class classification in that version which should be compatible with your installation.
https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/contrib/boosted_trees/examples/mnist.py

[2017-11-03 01:13] aattaran commented on #13970
I ran the script, its says:

ERROR: Failed to import the TensorFlow module.

- Python version is 3.6.

- TensorFlow is installed at: C:\Users\User\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow

- All required DLLs appear to be present. Please open an issue on the
  TensorFlow GitHub page: https://github.com/tensorflow/tensorflow/issues
An exception has occurred, use %tb to see the full tr

[2017-11-03 01:15] #14190 closed

[2017-11-03 01:17] yongtang commented on #14191
@girving PR #12716 has been updated to change `dim` to `axis` for `tf.nn.l2_normalize` as well. Please take a look.

[2017-11-03 01:44] luoping1004 commented on #9701
steven-hh-ding's suggestion works for me too. Thanks!

[2017-11-03 01:45] jart commented on #14170
Well the issue is applicable, it's simply a question of curation. We appreciate that you took the time to suggest an improvement strategy. If you decide later that you want to take on this cleanup work, please send us a pull request, which I'd be happy to review.

[2017-11-03 01:45] #14170 closed

[2017-11-03 01:55] AndyLin0128 commented on #7725
@Carmezim Thanks for u answer.

[2017-11-03 01:59] terryKing1992 commented on #13854
I got the same problem, the program hang up at session config init, log like this:
`Training model...
当前运行模式为同步模式
2017-11-03 09:49:13.819230: I tensorflow/core/distributed_runtime/master_session.cc:998] Start master session 28f97991c51e14aa with config: `

anyone can solve this problem？ (ps: async mode can work well)

[2017-11-03 02:05] ahundt commented on #6271
FYI spatial softmax has been available directly in tensorflow since 1.3, see:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py#L2606

[2017-11-03 02:07] ppwwyyxx commented on #14162
This is exactly what you wrote. Gradient doesn't pass only when step <= STEP_THRESHOLD.

[2017-11-03 02:14] andrebeu opened #14196 "Dataset memory bottleneck not showing in debug mode"
im fitting word2vec models using distributed gpus which require me to assemble multiple towers and so copy my model several times over. to load data i am using the get_next method of a contrib.dataset iterator initialized with one_shot. before starting up i run into the 2gb protobuf memory bottleneck. so in debug mode i compared 3 models: one where dataset is given full data, another where dataset

[2017-11-03 02:21] c3l2 commented on #14185
@mrry Thanks a lot! I will try your suggestions.

[2017-11-03 02:26] kishorenayar opened #14198 "Tensorflow 1.4 Keras issue with respect to model_fn"
I have a model function which accepts Features, targets and mode but when I add tf.keras layers I'm currently getting Exception **`pred` must be a Tensor, a Variable, or a Python bool.**

But, When I run the same code with out using tf.keras but directly from keras(i.e. **from keras.layers**), It's working.

**Code :**

[code]

**Exception:**

  File "D:/PyCharm-Workspace/Keras-Exp/finance-complai

[2017-11-03 02:50] YannDubs commented on #14182
Same issue on Linux CentOS 7

[2017-11-03 03:14] dearLilian commented on #2016
Hi, It didn't work by doing uninstall and reinstall six..Because, my six is already the newest version.

[2017-11-03 03:25] knn1989 commented on #14182
Same issue after upgrade from 1.3 to 1.4 on Mac High Sierra 10.13.1.
Tensorflow still works but give the above warning which is "RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6"

[2017-11-03 04:06] protoget commented on #6620
AdamOptimizer should work for the new Cudnn **layer API** in cudnn_rnn.py

We have a CL to switch tf.contrib.cudnn_rnn.CudnnLSTM to point to classes in cudnn_rnn.py instead of cudnn_rnn_ops.py, it's running a series of tests, should be submitted soon.

The following should work.
[code]

[2017-11-03 04:12] protoget commented on #6633
We'll probably support variable sequence length the same way Keras does. I don't seem to have the bandwidth in recent 2-3 weeks however. Will follow up after that.

[2017-11-03 04:47] Merlin2013 commented on #10817
@sebesbal try to create a .lib file from .dll,
references: https://adrianhenke.wordpress.com/2008/12/05/create-lib-file-from-dll/
you will need to use lib  /MACHINE:X86 or X64 params for different platform.
eg. lib /MACHINE:X86  /def:C:\mypath\mylib.def /OUT:C:\mypath\mylib.lib

[2017-11-03 04:49] w4nderlust commented on #14171
Here's a python3 script to reproduce the issue (it's a bit long but I tried to be as faithful to my original setting even if I'm not using a single line of code from my employer):

[code]

You can play with `skip_last`. Setting it to `False` instructs the batcher to create the last batch with size less than `batch_size` if `dataset_size % batch_size > 0`. In this case you can see the leak happenin

[2017-11-03 05:20] MichaelSnowden commented on #14182
FWIW, python3.5 still works

[2017-11-03 05:33] satendrapratap commented on #13971
is there any update on this yet ?

[2017-11-03 06:04] bobeo commented on #14158
@eli99999 Please let me know if [this](https://github.com/tensorflow/tensorflow/issues/3549#issuecomment-339125196) help.

[2017-11-03 06:13] mayank-kgp commented on #2016
Hi @dearLilian , If it is not working for you then you can use Anaconda. One of my friends was not able to resolve this error so he installed Anaconda.

[2017-11-03 06:25] asimshankar commented on #14193
It's hard to help without the details asked for in the new issue template (which includes information about the version of TensorFlow being used) and detailed instructions to reproduce the problem (ideally ones which do not involve having to install additional libraries, scan through some other code  and manually merge snippets).

I tried the following in TensorFlow 1.4.0 and 1.3.0 but was unable

[2017-11-03 06:48] asimshankar commented on #14181
First of all, thanks for filling in the the issue template with all the details and providing clear instructions to reproduce the problem. This is very helpful!

I modified your snippet a bit to reduce iteration time and dump out memory stats inline (so avoid generating a new random numpy array on each iteration and I see issues even without creating a session):

[code]

The snippet above does sho

[2017-11-03 06:54] protoget commented on #13254
```RNNParamsSaveable``` is deprecated. Please look out for the new cudnn_rnn **layer APIs** which takes care of cudnn opaque variable saving.

[2017-11-03 06:54] #13254 closed

[2017-11-03 06:58] dearLilian commented on #2016
Ok, thanks for you answer.

[2017-11-03 06:59] asimshankar commented on #14189
Yes, that is intentional (`Tensor`, `Operation`, and many other types) are not intended to be deepcopied.

In this particular case, it's because of the use of the `threading` module, which many of these classes use. For example, you'll probably get the same error with something like this:

[code]

[2017-11-03 06:59] #14189 closed

[2017-11-03 07:06] asimshankar commented on #14177
Hmm....I'm unable to reproduce the error using TensorFlow 1.3.0 (I see the correct outputs of `7.5` and `[3, 7]`. The outputs you see make sense if the line was `adder_node = a` instead of `adder_node = a + b`!

I don't have the same driver/GPU as you, though I doubt those would be to blame. But just to be extra sure, do you see the same errors when using just the CPU, say with:

[code]

The log o

[2017-11-03 07:07] BowieHsu commented on #10817
@sebesbal I compiled GPU version tensorflow lib and dll on windows7 with CUDA8.0 and cudnn5.1, may it help you https://github.com/BowieHsu/Tensorflow-windows-dll

[2017-11-03 07:12] esjaca commented on #6550
I work in windows, python, tensorflow
clone models from https://github.com/tensorflow/models
and I found classify_image.py in  \ models-master \ tutorials \ image \ imagenet directory

[2017-11-03 07:18] asimshankar commented on #14145
@ispirmustafa would probably know.

[2017-11-03 07:43] teramototoya commented on #8102
@csnemes2 I also tried the same implementation as your hack, but I could not do it well.
It worked well with your implementation! Thank you!

[2017-11-03 07:50] hasanirtiza opened #14202 "Fails to optimize MultivariateNormalFullCovariance. It breaks on Cholesky decomposition . I have cherry picked the mentioned commit to update gradient issue in MultivariateNormalFullCovariance. Still it fails in optimization"
I am trying to optimize a distribution with Mu=Nx4 and covariance matrix = Nx4x4 using MultivariateNormalFullCovariance. The optimization runs for few iterations, loss seems to be reducing (gradients are not exploding !). The code breaks with following

InvalidArgumentError (see above for traceback): Got info = 4 for batch index 0, expected info = 0. Debug_info =potrf

[[Node: MultivariateNormalFu

[2017-11-03 07:53] salihkaragoz commented on #14177
@asimshankar Thank you for your interest. When i run over CPU with at above code, i got the true result. `7.5` and `[3, 7]`.

[2017-11-03 07:54] asimshankar commented on #13461
@DarcyCode : The snippet you provided above doesn't seem to be self-contained, so I'm not sure if there are other things at play here.

Could you provide a small, self-contained snippet that reproduces the problem?

[2017-11-03 07:55] gtmshrm commented on #14180
You can refer this issue: https://github.com/conda/conda/issues/4534

[2017-11-03 07:58] arcadien commented on #11865
With version r1.3, Under Windows 10, msvc 2015, i noticed a warning about macro TF_BATCHTOSPACE_BLOCK_DIMS_CASE called with the wrong number of parameters in tensorflow\core\kernels\batchtospace_op.cc, l.197. Can it be related?

[2017-11-03 07:58] asimshankar commented on #14177
Hmm...that's weird.

Do you see the same problem with TensorFlow 1.4.0? Is it possible for you to try this on a different machine (specifically, one with a different driver/CUDA version/GPU or something)? Or, does upgrading CUDA/the NVIDIA driver make any difference?

[2017-11-03 07:58] KirtoXX opened #14203 "Convert keras model to estimator model"
ValueError: ('Expected `model` argument to be a `Model` instance, got ', <keras.engine.training.Model object at 0x00000230F36F0E10>)

[2017-11-03 08:00] KirtoXX commented on #14203
Also,I wonder how can I set some parms like epoch,batch_size,ckpt saving step...etc,Thanks a lot

[2017-11-03 08:03] aluo-x commented on #11865
This was never resolved on my end, since the error was not always deterministic, and failed at different layers. I will try and build 1.4 from source w/ cuDNN 7 on windows 10 this week, and report back.

[2017-11-03 08:04] asimshankar commented on #14109
I'm still not sure I understand the question, but to be clear, if you want to see all the operations conducted during the backpropagation pass then you should inspect the graph. The gradient computation is added to the graph by `tf.gradients`. You can use TensorBoard's [graph visualization](https://www.tensorflow.org/get_started/graph_viz) to see all the computation done in the forward and backwar