[2020-08-16 08:29] SundarML commented on #10058
python 3.8 does not support tensorflow 2.2 but 3.6.

[2020-08-16 08:48] yanivbarlev opened #42407 "Failed to load the native TensorFlow runtime."
Hi,

After pip installing tensorflow I get the following message when importing it.

import tensorflow
Traceback (most recent call last):

  File "C:\Users\yaniv_cfrphva\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *

  File "C:\Users\yaniv_cfrphva\Anaconda3\lib\site-packages\tensorflow\python

[2020-08-16 10:22] Shanmax1996 opened #42408 "TensorflowJs Incompatible shapes Error"
I build Unet architecture with TensorFlow Js.
But I faced a problem with Incompatible shapes error.
My input was [512, 512, 3] 3d tensor and label is [512, 512] 2d tensor.

my model was

    const input_layer = tf.input({ shape: [512, 512, 3], name: 'image_input'});

    const conv1 = tf.layers.conv2d({ filters: filter, kernelSize: [3, 3], activation: "relu", padding: "same", kernelInitializer: "h

[2020-08-16 10:31] ziofil opened #42409 "Cannot initialize variables on GPU with keras?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.1 LTS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.3.0
- Python version: 3.8.2
- CUDA/cuDNN version: 10.2/7.4.2
- GPU model and memory: Tesla V100-PC

[2020-08-16 10:31] usimarit opened #42410 "ConverterError: input resource[0] expected type resource != float, the type of while_model_embed_gather_resource_0[0]"
**System information**
- OS Platform and Distribution: Linux archlinux 5.8.1-arch1-1 x86_64 GNU/Linux (using Anaconda3)
- TensorFlow installed from (source or binary): pip
- TensorFlow version (or github SHA if from source): >=2.2.0

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[log.txt](https://github.com/tenso

[2020-08-16 10:33] TheAshwanik commented on #36141
This solved my issues as well.

[2020-08-16 10:59] FirefoxMetzger commented on #42407
Are you using Windows? In this case, have you installed the [ Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)? If not, this is a quite likely cause.

[2020-08-16 11:02] ziofil commented on #42409
I've also tried to explicitly call the code in my custom initializers (which I pass to `build(..., initializer=...)`) inside a `tf.device('CPU:0')` context, and to use `tf.config.set_soft_device_placement(True)`, but that leads me to the same error.

[2020-08-16 12:09] swghosh commented on #32052
I'm facing a similar issue with TFv2.3 as well although, I'm using `keras.Model.fit` for training on a TPU. I'd assume that the same is happening due to use of `ds.map(map_fn, AUTOTUNE)` with AUTOTUNE?

PS: my map_fn makes use of a lot of Python dicts and lists which are serialized together with the help of two for loops executed with `tf.autograph`.

https://github.com/tanzhenyu/image_augmentatio

[2020-08-16 12:56] newbie-gk commented on #37898
Would love to see the benchmark results :)

[2020-08-16 13:01] ParmpalSinghGill commented on #15805
pip install tf-nightly
solve my issue.

[2020-08-16 13:05] Ananas120 opened #42412 "InternalError : failed to call ThenRNNBackward... on version 2.3 but not 2.1"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-08-16 13:48] Saduf2019 commented on #42315
@Mr-Nineteen
Please try using 2.1 as this version is not supported, and let us know if you face any error with tf 2.x

[2020-08-16 13:57] dathudeptrai commented on #42410
@usimarit expand last dimention in ur input so [1, None] -> [1, None, 1] then use `tf.gather_nd` rather than `tf.gather`. I just tested, it works fine but not convinced :))). @jaeyoo can you take a look :)).

[2020-08-16 14:07] nbe000 commented on #42055
@amahendrakar
I still have this issue after uninstalling and reinstalling CUDA 10.0.

[2020-08-16 14:13] Saduf2019 commented on #42367
@Kosta404
Looks like the Jupyter notebook is using a different Python interpreter from the one where TensorFlow is installed.
Please make sure you are installing TensorFlow and running Jupyter from the same Python installation and check if it works.

Also please check if your [AVX is supported](https://www.tensorflow.org/install/pip#hardware-requirements) (cpu supports AVX instruction sets.), if n

[2020-08-16 14:16] Saduf2019 commented on #42276
@amitDaMan
Can you please fill/update the issue template with tf version, steps before error was faced, simple stand alone code if applicable and system information for us to analyse.

[2020-08-16 14:24] Saduf2019 commented on #42407
@yanivbarlev
Please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156), to ensure your system suits the requirements.

also, refer similar issues and let us know:

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204 #39007
Thanks!

[2020-08-16 14:26] IssamLaradji commented on #15604
Good solution @dodler ! but I think you are missing the commands xD .

[code]

[2020-08-16 14:29] Saduf2019 commented on #42391
@Fanbenchao
Can you please update the issue template.

[2020-08-16 14:37] Saduf2019 commented on #42394
@manojkumarmahato
You could be facing this issue because of the following reasons

You you running 32-bit Python or 32-bit OS
Your CPU does not support AVX instructions, please provide the make and model of your CPU in this case.
Please take a look at the [system requirements](https://www.tensorflow.org/install/pip#system-requirements) and check if you have the correct dependencies installed.

Als

[2020-08-16 14:44] swghosh commented on #32265
I'm still facing the same issue while on **TFv2.3** (and using a TPU). The model would train well but at the end of each epoch, the memory consumption (of the VM running the training) increases significantly for which we cannot train the model for longer durations.

PS: apart from `model.fit(...., validation_data=val_ds)`, I'm also using an extra validation set that calls `model.evaluate` with the

[2020-08-16 14:55] hoenickf commented on #27861
Please reopen. It would be great to at least define the current epoch and step count. Otherwise the `tf.keras.callbacks.ModelCheckpoint(f'{self.checkpoint_dir}/{{epoch}}')`
overwrites the existing checkpoints.

[2020-08-16 16:09] manojkumarmahato commented on #42394
Hi,

Python interpreter information from command line (64-bit Python):
Python 3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

Other information:
OS Version	Windows 10, 10.0.18363 Build 18363
System Type	x64-based PC
Processor	Intel(R) Core(TM) i7-8565U CPU @ 1.80GHz, 1992 Mhz, 4 Co

[2020-08-16 16:20] IssamLaradji commented on #15604
Good solution @dodler ! but I think you are missing the commands to make this great advice easy to follow through xD.

[code]

Happy coding!

[2020-08-16 16:27] #41979 closed

[2020-08-16 16:27] #41967 closed

[2020-08-16 16:27] #41972 closed

[2020-08-16 16:43] bela127 commented on #42280
Hello,

you could just use the **call** method instead of the **predict** or **predict_batch** method.
This would make your code even shorter, because you can write:
`output = model(input)` instead of `output = model.predict(input)`

maybe it will solve your issue?

[2020-08-16 17:04] SmileTM commented on #37501
@amahendrakar
how to remove these WARNING from output Info ???

[2020-08-16 17:09] amahendrakar commented on #42412
@Ananas120,
Without a reproducible code it is hard for us to pinpoint the issue. Could you please remove the dependencies and provide a simplest possible repro, so that it will be easier for us to debug the error. Thanks!

[2020-08-16 18:05] haha1227 commented on #40261
@tomerk This is the exact solution. Thanks. I guess this is a bug you should change

[2020-08-16 19:36] Al-Badri179 commented on #15364
I tried all the aforementioed methods. nevertheless of these methods were overcome this bug. I still have had the same issue:
InvalidArgumentError: Default MaxPoolingOp only supports NHWC on device type CPU
	 [[{{node max_pooling2d_2/MaxPool}}]]

When I trying to execute this code in jupyter notebooke:
# Training
hist = model.fit(X_train, y_train, batch_size=16, epochs=num_epoch, verbose=1, valida

[2020-08-16 19:37] zowen opened #42417 "tf.keras.layers.Conv1D fails for RaggedTensor input"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS, probably not relevant
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (use c

[2020-08-16 19:56] DuaneNielsen commented on #26182
Thanks, I was looking for a solution that would allow me to run various version of tensorflow and pytorch on the same machine.  This worked out great!

[2020-08-16 20:02] Ananas120 commented on #42412
Yes i will post my model architecture and training loop in 3 or 4 days... do you need also the dataset processing or just shapes / dtype to make fake inputs are ok (the processing is a custom mel spectrogram fn and tf.data.Dataset mapping) ?

[2020-08-16 20:53] yapifu commented on #42297
@amahendrakar
Thanks for your feedback. Can you tell me how to check it and how to make the Jupyter notebook use same python interpreter as the one where TensorFlow is installed?

I am pretty new to the config of the Jupyter notebook.
thanks

[2020-08-16 20:56] kdt3rd commented on #41737
fyi: retested with cudnn 8.0.2.39 and official tensorflow 2.3.0 and this is still not working, it still throws an error about not being able to fuse BiasAdd and Add.

[2020-08-16 22:51] MeghnaNatraj commented on #42390
Thanks for catching this bug! :) @liufengdb is looking into this and will post an update when it's fixed!

[2020-08-16 23:05] gedji commented on #22994
@somewacko @seovchinnikov Hello guys. Please how do you remove_attribute? Do you do that on the generated graph (model.pb) in python? Or you do that on Android? I have checked and I have not found how to do that.
Please can you detail more how to remove attribute? I am using tensorflow 2.3.0
Thanks

[2020-08-16 23:11] sanjoy commented on #41196
Can you try using the [TensorBoard profiler](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras) to see if something sticks out?

[2020-08-16 23:40] spate141 commented on #40280
Seems like this is the workaround for at least TF2.2.0: https://github.com/google-research/bleurt/issues/4#issuecomment-635118502

[2020-08-17 00:43] intelligentgoldfish opened #42418 "Tensorflow 2.3 modules not found"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Windows 10
- TensorFlow installed from conda
- TensorFlow version: 2.3
- Python version

[2020-08-17 01:24] quasar66 commented on #42340
Hi...
The build process kickstarted properly with the change in Python installation directory .. However, fails to handle the cudnn with the error as shown below.
ERROR: C:/users/gautam/tensorflow/tensorflow/stream_executor/cuda/BUILD:319:11: undeclared inclusion(s) in rule '//tensorflow/stream_executor/cuda:cudnn_stub':
this rule is missing dependency declarations for the following files included

[2020-08-17 01:51] #34817 closed

[2020-08-17 02:04] spate141 opened #42419 "parallel_for: No converter defined for UniqueWithCounts, SegmentSum, Range, Where, Tile in tf.vectorized_map()"
- **TensorFlow version tested:** _(all installed using binary)_
    - TensorFlow 2.3.0
    - TensorFlow 2.2.0
    - TensorFlow 1.15.0

- **Issue:** I'm trying to decrease the latency of `my_func()` (code below) by replacing `tf.map_fn()` with `tf.vectorized_map()`. But it seems like not all ops are ported in as of now. Any idea when above mentioned ops will be available for vectorized_map? Feel fr

[2020-08-17 02:08] lzyang2000 commented on #41474
Hello, just wanting to see if there are any updates?

Thank you!

[2020-08-17 02:20] LukeBolly commented on #33075
@mihaimaruseac the [tutorials](https://www.tensorflow.org/guide/keras/functional) suggest using `from tensorflow import keras`

Surely something which can silently do different behavior needs warning signs all over it
[code]
Imports keras\api\_v2

vs

[code]
Imports keras\api\_v1

[2020-08-17 02:32] roca77 opened #42420 "Error in Validation split percentage - Image Classification tutorial"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://github.com/tensorflow/d

[2020-08-17 02:32] mjkim720 opened #42421 "Segmentation fault in tf.image.combined_non_max_suppression"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v

[2020-08-17 02:43] nashWX commented on #42284
Thank you! I'm now just ignoring the error message.

[2020-08-17 02:50] #42249 closed

[2020-08-17 03:12] zhao1157 opened #42422 "fp16/bf16 is much slower than fp32"
I tested `fp16` and `bf16` training performance on `Intel(R) Xeon(R) Gold 6242 CPU @ 2.80GHz` CPU, which I guess does not support `fp16` or `bf16` computation, however, the training went through without throwing me any errors, but the performance was much worse than `fp32`. I was wondering how TensorFlow handles such case, i.e. running `fp16` or `bf16` on a `Intel(R) Xeon(R) Gold 6242 CPU @ 2.80GH

[2020-08-17 03:13] armando-fandango commented on #41990
I have a Quadro M1200 which has compute capability 1200 and I am still getting this same error.

[2020-08-17 03:22] sanjoy commented on #41990
Quadro M1200 also has compute capability 5.0.

[2020-08-17 03:23] Srikeshram commented on #42418
Try Installing CuDnn,Which is essential to run Tensorflow to run in  the local machine

[2020-08-17 03:25] armando-fandango commented on #41990
Sorry I missed this : [Default is: 3.5,7.0]. Yes in that case we would have to recompile.

[2020-08-17 03:31] andreydung commented on #42277
@dev0x13 Sorry for tagging along, but could you please share how did you build TFLite library with xnnpack enabled? Is it as following?

[code]

I tried this, but still no available symbols are found yet.

[2020-08-17 04:02] sanjoy commented on #41990
That is the default for `./configure.py` but the pip package we ship supports 3.5, 3.7, 5.2, 6.0, 6.1, 7.0 and higher than 7.0.  I will update https://www.tensorflow.org/install/gpu to be clearer about this.

[2020-08-17 04:03] spate141 commented on #15644
Lordy! Can we please have the `tf.unique` with axis!? It's been **964 days** since this issue was created.

[2020-08-17 04:14] boluoyu commented on #42017
any updates ?

[2020-08-17 04:44] Saduf2019 commented on #42421
@mjkim720
I ran your code on 1.15 and do not see "Segmentation fault (core dumped)", as there is support for tf 1.15 and 2.x, please upgrade to later versions and let us know if you are still facing any issue.
please find the gist for [tf 1.15](https://colab.research.google.com/gist/Saduf2019/6c1152184e8961c317eef2c45fdcf74f/untitled372.ipynb).

[2020-08-17 04:45] Saduf2019 commented on #42420
@roca77
Could you please give in more details or an example of the issue faced.

[2020-08-17 04:58] Saduf2019 commented on #42418
@intelligentgoldfish
Please refer to these links with same error and let us know:
[link](https://stackoverflow.com/questions/59822162/error-installing-tensorflow-with-pip-install) [link1](https://superuser.com/questions/1372793/the-script-is-installed-in-directory-which-is-not-path)

[2020-08-17 05:03] Saduf2019 commented on #42398
@jeball
I am facing a different error when i run your code, please find [gist here](https://colab.research.google.com/gist/Saduf2019/6842c50df0023878987da3ba10816559/untitled373.ipynb).
Can you please share a colab gist with the error faced for us to analyse.

[2020-08-17 05:05] Saduf2019 commented on #42396
@Al-Badri179
Can you please fill in the issue template, we would need the tf version, simple stand alone code or a colab gist with the error faced for us to help.

[2020-08-17 05:10] Saduf2019 commented on #42387
@nrchaudhry
Can you please update the issue template, tf version and the steps performed before the error was encountered, and the error logs for us to analyse.

[2020-08-17 05:11] Zhao-Kuangshi opened #42423 "`tf.data.experimental.sample_from_datasets` imports all the dataset into GPU memory"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes
-   **OS Platform and Distribution**: Ubuntu 18.04.5 LTS
-   **TensorFlow installed from (source or binary)**: binary
-   **TensorFlow version (use command below)**: 2.3.0
-   **Python version**: 3.7.3
-   **CUDA/cuDNN version**: CUDA 10.1 & cuDNN 7.6.5
-   **GPU

[2020-08-17 05:12] Saduf2019 commented on #42381
@vermouth1992
Please refer to [the gist](https://colab.research.google.com/gist/Saduf2019/2e14f6792a3cfd38b212ce114d7daaf2/untitled373.ipynb) and confirm if it replicated the issue reported.Thanks!

[2020-08-17 05:17] Saduf2019 commented on #42374
@17patelumang
I ran the code shared but face a different issue, please find [gist here](https://colab.research.google.com/gist/Saduf2019/6f99f4c8818d62281cde0083a04e722b/untitled372.ipynb), can you please share a colab gist with the error reported if possible.

[2020-08-17 05:20] Saduf2019 commented on #42372
@sparachi1011
What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the latest [microsoft visual c++ redistributable from here.](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
.Also, please

[2020-08-17 05:23] fsx950223 opened #42424 "```tf.stack``` returns different shapes when run in eager and graph mode"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-08-17 05:27] vermouth1992 commented on #42381
Yes. The issue is replicated.

[2020-08-17 05:27] #41886 closed

[2020-08-17 05:34] Saduf2019 commented on #42358
@optiluca
I ran the code sharedand face a different error, please have a look at the [gist here](https://colab.research.google.com/gist/Saduf2019/cc7035e9a28774c7c32e4d2387ac345f/untitled374.ipynb).

[2020-08-17 05:35] Saduf2019 commented on #42328
@Yasin40
Please paste the error message (using makrdown formatting around it) instead of screenshotting. Screenshots are not searchable so they don't help in looking for the issue and also don't help other people having the same error from finding about the issue.

[2020-08-17 05:38] vermouth1992 commented on #42381
Yes. The issue is replicated.

[2020-08-17 06:35] 17patelumang commented on #42374
@Saduf2019  its the same issue , here its giving tensor of shape (1,10000) , it should of shape (2,10000) with aboove logic , kindly advice . thanks

[2020-08-17 06:43] optiluca commented on #42358
Hi. The error is presumably related to a quirk of colab where __file__ is not defined. The aim of that line is to simply establish what the working directory is so we can write some (empty) test files needed to reproduce the issue.

In any case, as I mentioned in my original post, the issue only occurs on windows with cuda enabled, so we won't be able to see it on colab.

[2020-08-17 07:00] vasilevskykv commented on #41274
I tried to use your idea, but I had a problem:
`Traceback (most recent call last):
  File "D:\CryptoTrading\Prediction\BinanceNeuroPrediction\TFPredict.py", line 1, in <module>
    import tensorflow as tf
  File "I:\Python\Python36\lib\site-packages\tensorflow\__init__.py", line 41, in <module>
    from tensorflow.python.tools import module_util as _module_util
  File "I:\Python\Python36\lib\site-

[2020-08-17 07:18] dfvr1994 opened #42425 "Convert savedmodel to h5 Keras format - AttributeError: 'AutoTrackable' object has no attribute 'summary'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version (use command below): 2.3.0
- Python version: 3.6.1

**Describe the current behavior**
I used Google AI-Platform to train a model for object detection. The result is a model in the savedmodel format. I wan't to convert it to h5 Keras format so I can import into Matlab.

**Standalone cod

[2020-08-17 07:21] vasilevskykv commented on #41274
I installed tensorflow-gpu and then I got the following:
`2020-08-17 10:10:24.670105: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_100.dll
Traceback (most recent call last):
  File "D:\CryptoTrading\Prediction\BinanceNeuroPrediction\TFPredict.py", line 2, in <module>
    import tensorflow_io as tfio
  File "I:\Python\Python36\lib\site

[2020-08-17 07:27] #41899 closed

[2020-08-17 07:27] #39918 closed

[2020-08-17 07:29] tejal567 commented on #28799
I think enough has been said about this issue

[2020-08-17 07:29] #28799 closed

[2020-08-17 07:33] amahendrakar commented on #42368
@zjzh,
If `fallback_to_while_loop` is set to `True`, on failing to vectorize an operation, the unsupported op is wrapped in a tf.while_loop to execute the map iterations.

For more information, please take a look at the [documentation](https://www.tensorflow.org/api_docs/python/tf/vectorized_map#args_1) for the arguments of `tf.vectorized_map`. Thanks!

[2020-08-17 07:50] dtch1997 opened #42426 "Full integer Quantization of SSD-Mobilenet V2 doesn't work"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary):  binary
- Tensorflow version (commit SHA if source): '2.4.0-dev20200805'
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Arm Mbed OS

**Describe the problem**

I need to convert a SSD-Mobilenet V2 model for an 8-bit micro

[2020-08-17 07:54] dev0x13 commented on #42277
@andreydung Yes, I am building the library this way. Here are the steps for clarity sake:

1. Get sources from https://github.com/tensorflow/tensorflow/releases/tag/v2.3.0.
2. Run `./configure` with all parameters being default, except Android NDK setup (I am using NDK 21 btw).
3. Run `bazel build -c opt --define tflite_with_xnnpack=true --config=android_arm64 //tensorflow/lite:libtensorflowlite.s

[2020-08-17 07:55] andreydung commented on #42277
@dev0x13 Thanks for your response, it's much appreciated.

[2020-08-17 08:05] OverLordGoldDragon commented on #33075
@LukeBolly Fair suggestion; this can be done by overriding `__getattr__`:

[code]

[2020-08-17 08:24] pks commented on #40989
@NeoZhangJianyu Alright, thanks for checking!

[2020-08-17 08:25] Saduf2019 commented on #42410
@usimarit
Please update as per above comment.

[2020-08-17 08:27] #41369 closed

[2020-08-17 08:28] usimarit commented on #42410
@Saduf2019 I've tested the solution provided by @dathudeptrai and it works. Thank you a lot :smile:

[2020-08-17 08:30] dathudeptrai commented on #42410
@Saduf2019 even it woks it's still not convinced, we should fix the `tf.gather` problem :)).

[2020-08-17 08:33] #41370 closed

[2020-08-17 08:54] astridtijskens commented on #27780
Thanks. Any idea when this fix will make it into the next release?

[2020-08-17 08:58] amahendrakar commented on #42375
@samprithahm,
In order to expedite the trouble-shooting process, could you please provide the TensorFlow version, the complete code to reproduce the issue and the TensorFlow version you are using. Thanks!

[2020-08-17 09:06] amahendrakar commented on #42375
Also, please take a look at issue [#23698](https://github.com/tensorflow/tensorflow/issues/23698#issuecomment-439063103) and [this comment](https://stackoverflow.com/a/51224078) from a similar StackOverflow issue and let us know if it helps. Thanks!

[2020-08-17 09:22] alexn11 commented on #41855
@gowthamkpr
 Right now I'm running with the following versions
[code]
Waiting for the update that would guarantee that my code runs.

[2020-08-17 09:24] zldrobit opened #42427 "Failed to build v2.3.0 from source in debug mode"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: v2.3.0
- Python version: Python 3.6.9
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source): 3.1.0
-

[2020-08-17 09:35] Saduf2019 commented on #42424
@fsx950223
I ran your code on colab tf 2.3 and did not face the issue mentioned, please have a look at the [gist here](https://colab.research.google.com/gist/Saduf2019/80b8950b2b559c2a64057a6bd8f3c3a2/untitled375.ipynb).

[2020-08-17 09:40] amahendrakar commented on #42379
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/de7370c64572ba7004c11239e1b0ef5b/42379.ipynb). Thanks!

[2020-08-17 09:45] Saduf2019 commented on #42319
@DavidInWuhanChina
I ran into another error while i try to execute the code shared, please find [gist here](https://colab.research.google.com/gist/Saduf2019/e487ff83d175e357aa5c4859fbd4a8a2/untitled367.ipynb), please share all dependencies for us to replicate error faced.

[2020-08-17 09:45] akuegel commented on #42207
At least regarding convolution_4d_expander, I doubt that it has an impact on resnet average step time.
As far as I know, resnet doesn't have 4 spatial dimensions in its convolutions, so this pass will not trigger. Given that you seem to have measured some timing difference, this is most likely noise (or you are also measuring compile time, not only runtime). If you measured compile time, there is

[2020-08-17 09:47] fsx950223 commented on #42424
You should run it in eager mode and graph mode

[2020-08-17 09:49] fsx950223 commented on #42424
You could test it via follow example:
[code]

[2020-08-17 10:03] amahendrakar commented on #42382
@Otakarlp,
I was able to reproduce the issue with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/99bafff4461fc35606440ccbc78387df/42382.ipynb#scrollTo=FbW9MLa3zysb).

However, the issue seems to be resolved with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/fff90ece097490efab0938f121a86e4f/42382-tf-nightly.ipynb). I was able to convert the model without

[2020-08-17 10:07] amahendrakar commented on #42386
@aingo03304,
In order to expedite the trouble-shooting process, could you please provide the TensorFlow version, the complete code to reproduce the issue and the dataset you are using. Thanks!

[2020-08-17 10:17] amahendrakar commented on #42392
@tgaddair,
Could you please provide the complete code and the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2020-08-17 10:17] hadikoub opened #42428 "tensorflow.python.framework.errors_impl.InternalError: CUDA runtime implicit initialization on GPU:0 failed. Status: device kernel image is invalid"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Linux Ubuntu 18.04:
- TensorFlow installed from binary:
- TensorFlow version : 2.3
- Py

[2020-08-17 10:20] sparachi1011 commented on #42372
hi @Saduf2019 ,
What is make/model of your cpu: Dell Inspiron 15 5000 series,
I suspect your cpu model does not support AVX instructions sets:: it support, its a ADM Ryzen 5 series(latest version from ADM family)
Make sure to download the latest microsoft visual c++:: yes i have installed MS Visual 2019.

I can able to install tensorflow 1.15 and keras 2.0 but unable to use the upgraded versions.

[2020-08-17 10:27] #41998 closed

[2020-08-17 10:27] #41962 closed

[2020-08-17 10:27] #41992 closed

[2020-08-17 10:32] JackHunt commented on #41500
What was the workaround? I am currently encountering the same/related issue.

[2020-08-17 10:36] rmothukuru commented on #42401
@fengyang0317,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-08-17 10:41] DavidInWuhanChina commented on #42319
The coco2017 dateset is so big(13GB) that I can't put it in the colab.Please tell me How to do next?

[2020-08-17 10:54] amahendrakar commented on #42395
@Al-Badri179,
In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Thanks!

[2020-08-17 11:07] roca77 commented on #42420
@Saduf2019 @jvishnuvardhan The error is in the documentation itself; In both tutorials (on github and on tensorflow's website), there is an error on the percentage when the program splits the data into training dataset and validation dataset. I believe the correct percentage is 0.8 for training and 0.2 for validation.

[2020-08-17 11:15] Nannigalaxy commented on #3986
As I was using tensorflow 2.0, my issue got solved by disabling v2 behavior.

[code]

[2020-08-17 11:27] OverLordGoldDragon opened #42429 "Why is Graph 4x slower than Eager on large model? (TF 2.3.0)"
[Follow-up](https://github.com/tensorflow/tensorflow/issues/39665). Plots are from running TF on Colab GPU.

What's the deal? Isn't Graph supposed to be speed-optimized?

<img src="https://user-images.githubusercontent.com/16495490/90391241-d8cca900-e09d-11ea-9233-ee9b8906105e.png" width="650">

<hr>

<details>
  <summary><b>Test code</b></summary>

[code]

</details>

[2020-08-17 11:28] OverLordGoldDragon commented on #39665
Regarding my plots, turns out my GPU's been overheating lately, thus the rising stem plots.

However, the problem isn't fully solved; [followup](https://github.com/tensorflow/tensorflow/issues/42429).

[2020-08-17 11:30] amahendrakar commented on #42408
@Shanmax1996,
Issues related to TensorFlow.js are handled in the tensorflow/tfjs repo. Could you please submit a new issue from [this link](https://github.com/tensorflow/tfjs/issues/new) and fill in the template, so that we can track the issue there. Thanks!

[2020-08-17 11:37] amahendrakar commented on #42403
@hsomaiya,
On running the given code, I am facing an error stating `NameError: name 'encoder' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/a5683a93d2a000d25032add1df0758d4/42403.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue and the dataset you are using. Alterna

[2020-08-17 11:37] Lif3line commented on #42057
@multiverse-tf did you get a chance to look into this?

[2020-08-17 11:48] amahendrakar commented on #42419
Was able to reproduce the issue with TF v2.3 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/39615d5b036455789f8ac0fed969aa09/42419-tf-nightly.ipynb). Thanks!

[2020-08-17 11:49] meric-sakarya commented on #41196
# TensorFlow Profiler: Profile model performance

<table class="tfo-notebook-buttons" align="left">
  <td>
    <a target="_blank" href="https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras"><img src="https://www.tensorflow.org/images/tf_logo_32px.png" />View on TensorFlow.org</a>
  </td>
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/tensorflow/tensorboa

[2020-08-17 12:13] norbertmarko opened #42430 "Pre-trained weights channel ordering clarification."
Hello!

My question is about the pre-trained mobilenet-v1 model weights provided in tensorflow.keras.applications. When I use it in the TF default HWC format, everything seems to be fine, but when I set the keras backend to `'channels_first'` the weights doesn't seem to change. **Does this setting change the weight ordering, or does it only change the way the layers are interpreted?**

I already a

[2020-08-17 12:19] leondgarse commented on #42082
Do you have any plan solving this? I just encounterd this issue... Here is my minimal reproduing code
- Train
[code]
- Convert
[code]
Throws error
[code]
- Another test without `tf.lite.OpsSet.TFLITE_BUILTINS_INT8`
[code]
Throws error
[code]

[2020-08-17 12:34] Kosta404 commented on #42367
@knslee07
https://www.youtube.com/watch?v=tPq6NIboLSc
this one helped
but i did all this stuff on a newly-reinstalled system

[2020-08-17 12:34] #42367 closed

[2020-08-17 12:37] amahendrakar commented on #42422
@zhao1157,
Could you please provide the code you have used or the commands you have run to test the performance and also the TensorFlow version you are using? Thanks!

[2020-08-17 12:41] amahendrakar commented on #42425
@dfvr1994,
I am not able to access the file as I do not have the required permissions.

Also, could you please provide the code you are running to convert the model. Thanks!

[2020-08-17 12:49] amahendrakar commented on #42425
@dfvr1994,
Please take a look at [this](https://stackoverflow.com/a/58757328) similar StackOverflow issue and let us know if it helps. Thanks!

[2020-08-17 12:55] jeball commented on #42398
Just remove the first lines. Here is the code.

import tensorflow
import numpy as np
import tensorflow_addons as tfa
import matplotlib.pyplot as plt

with tensorflow.device('/CPU:0'):

    M = 500
    img = np.zeros((M, M))
    top = 50
    bottom = 270
    left = 300
    right = 450
    img[np.ix_(np.arange(top, bottom + 1), np.arange(left, right + 1))] = 1
    img = tensorflow.convert_to_tensor(

[2020-08-17 12:55] jeball commented on #42398
I didn't mean to close this. Hit wrong button.

[2020-08-17 12:57] sasikiran commented on #42255
@mihaimaruseac Upgrading `scipy` to 1.5.2, `pip` throws:
`ERROR: tensorflow 2.3.0 has requirement scipy==1.4.1, but you'll have scipy 1.5.2 which is incompatible.`

Either way with `scipy 1.4.1` or `1.5.2`, the error doesn't seem to go away for me.
I'm on a mac with `pip install tensorflow==2.3.0 `.

[2020-08-17 13:02] hsomaiya commented on #42403
@amahendrakar
Thank you for your response.
Please check this Colab notebook which will help you to reproduce the issue https://colab.research.google.com/drive/1e7mpSs-YJgWVv9NXxokkrtCswaK6oC3z?usp=sharing

[2020-08-17 13:21] npanpaliya commented on #42313
Thanks @jvishnuvardhan . But we have been building conda package for TF 2.2 too with cuda 10.2 and even TF 2.3 works with cuda 10.2 if I revert the commit I mentioned in my above comment. The build error I'm seeing is due to linker options' ordering changes done in that commit.

[2020-08-17 13:27] #42265 closed

[2020-08-17 13:30] eladc4 opened #42432 "TFLiteConverter fails when converting a quantized model trained with distributed strategy"
most of the code is taken from tensorflow tutorials
running on Linux 18.04
TF version: v2.3.0-rc2-23-gb36436b087 2.3.0 (installed with pip)
python 3.7
CUDA 10.1

after training a quantized model, i'm trying to to convert to TFLite but it fails. same code with quant_enable=False works fine

**Standalone code to reproduce the issue**
import numpy as np
import tensorflow as tf
from tensorflow.keras i

[2020-08-17 14:30] jaltmayerpizzorno commented on #11085
Yea, when I tried it many moons ago I saw some discrepancies as well, as well as some exploding/vanishing
gradients training with Keras+PlaidML that I didn't have just using the CPU.  I just kept using the CPU instead,
and eventually got an Ubuntu PC with a GPU to use over the network.

[2020-08-17 14:33] manmay-nakhashi commented on #31053
any update on this ?

[2020-08-17 14:37] yongtang commented on #41274
@vasilevskykv Can you open an issue in [tensorflow/io](https://github.com/tensorflow/io)? Please also includes additional information such as how python was installed and how tensorflow and tensorflow-io were installed (e.g., through pip or custom build).

[2020-08-17 15:24] Jordy-VL commented on #42263
Thank you for the explanation.
Essentially, I believe my error is caused by having my` self.confidences` and `self.correctness` as np.arrays or lists to which I concatenate new entries. Since it is not a TF.variable or constant, it loses the trace.
**So my follow-up question is, how can I keep a variable-size list to which I append more entries?**
The metric does not work when only saving float/in

[2020-08-17 15:29] mihaimaruseac commented on #42255
Can you install in a new virtualenv and then post the output of `pip list`?

[2020-08-17 15:31] gowthamkpr commented on #42283
@ntakouris This issue has been fixed in the latest version of nightly. Please find my gist [here](https://colab.research.google.com/gist/gowthamkpr/9a1e119b2f06cc59ee62190ce80482aa/untitled308.ipynb)

[2020-08-17 15:40] dfvr1994 commented on #42425
@amahendrakar I have updated permissions on the file so it can be accessed by anyone with the link.

I'm following this steps:
https://stackoverflow.com/questions/59375679/tensorflow-pb-format-to-keras-h5

The second link you provided shows how to use the .pb model outside docker, I assume you pointed it because of what I mentioned about using the model on Matlab, which at the moment doesn't suppo

[2020-08-17 15:42] curtis161514 commented on #41990
I started having this same issue today.  Getting the same error using Keras with Nvidia RTX 2080 Super

[2020-08-17 15:44] mihaimaruseac commented on #42395
Template not filled in. Wrong template used (issue is a bug, template is documentation issues). Title contains the entire issue. This is actually not a TF coding issue but a question regarding usage of TF, probably better asked on StackOverflow.

[2020-08-17 15:44] #42395 closed

[2020-08-17 15:49] MarkDaoust commented on #42123
@anirudh161 you've been working on docs for these, any ideas?

[2020-08-17 15:56] amahendrakar commented on #42428
@hadikoub,
Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/41990#issuecomment-670224813) from a similar issue and let us know if it helps. Thanks!

[2020-08-17 16:00] Rifat004 commented on #25807
How did you solve the issue

[2020-08-17 16:01] tgaddair commented on #42392
Hey @amahendrakar, looks like the issue was due to a conflict between TensorFlow's use of Eigen and the version we were using for our code.  After updating Eigen, the issue was solved.

[2020-08-17 16:01] #42392 closed

[2020-08-17 16:18] saikumarchalla commented on #42383
Was able to reproduce the issue in TF 2.3 and nightly version. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/5c8d7694ffe4a3db2110f513d4805fb9/tensorflow-datasets.ipynb#scrollTo=XWqxdmS1NLKA).Thanks!

[2020-08-17 16:23] saikumarchalla commented on #42376
Was able to reproduce the issue in TF 2.3 and Nightly version. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/c4e0e0cb96d88078d9a1ae22b40c38bf/issue.ipynb). Thanks!

[2020-08-17 16:27] jvishnuvardhan commented on #42420
@roca77 Thanks for raising the issue.
The percentage `0.2` is correct. The split is percentage of data reserved for validation which is `0.2`. You can check the documentation [here](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/image_dataset_from_directory)

The documentation says that

Please verify once and close the issue. Thanks!

[2020-08-17 16:27] #42005 closed

[2020-08-17 16:30] jvishnuvardhan commented on #42313
@npanpaliya Unfortunately we don't support or maintain Conda packages. I believe you need to post this issue is Anaconda repository. Thanks!

[2020-08-17 16:49] jvishnuvardhan commented on #42331
@DNXie Sorry. I didn't notice the difference between those two issues. Now I understood the difference. Thanks!

[2020-08-17 16:52] Saduf2019 commented on #42363
@joaogui1
I ran the code shared and face a different issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/37a5c98528b19792fa606d7077630d3a/untitled373.ipynb).

[2020-08-17 16:53] jvishnuvardhan commented on #36991
@Al-Badri179 Can you please open a new issue with a simple standalone code to reproduce the issue? Thanks!

[2020-08-17 16:53] impjdi commented on #37898
1. You might be able to run TFLite GPU on a desktop with OpenCL installed.  One of our core engineers managed to do things on his desktop with an Nvidia graphics card, but it's not tuned for it.  Our workgroup sizes are optimized for mobile GPUs primarily.  Also, we can't currently offer support for TFLite GPU on the desktop; you're on your own.

2. TFLite GPU does some of those techniques you men

[2020-08-17 16:53] #37898 closed

[2020-08-17 17:00] Saduf2019 commented on #39449
@Cheburum
Can you please try the code on tf-nightly [2.4.0-dev20200817], i do not face any errors please find the [gist here](https://colab.research.google.com/gist/Saduf2019/4f3a3225c9205272ae9efd1f33b96a7a/untitled367.ipynb)

[2020-08-17 17:07] Otakarlp commented on #42382
@amahendrakar

I was able to make the tflite model and run inference with the TF-nightly version " 2.4.0-dev20200813 " ( latest version on windows i suppose ) as you suggested it, and that worked perfectly.

Thanks for your help, have a great day !

[2020-08-17 17:07] #42382 closed

[2020-08-17 17:11] Saduf2019 commented on #35012
Issue is replicating with TF 2.4.0-dev20200817 .Please, find the [gist here](https://colab.research.google.com/gist/Saduf2019/5f514ad7ab269ca09368f4ea343bab8a/untitled367.ipynb).Thanks!

[2020-08-17 17:18] jvishnuvardhan commented on #42198
@Aleksey1555 `keras.models.load_model` cannot be used to load *.pb file. I think this is more related to `onnx` repo. Can you please post your issue in [`onnx` repo here](https://github.com/onnx/onnx-tensorflow/issues).  Thanks!

[2020-08-17 17:23] wchargin opened #42435 "Keras `Layer.call` args signature inconsistent with actual code"
## URL(s) with the issue:

<https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer#call>

## Description of issue (what needs changing):

### Clear description

The `call` method is listed as `call(inputs, **kwargs)`, and documents
that `inputs` is an “Input tensor, or list/tuple of input tensors.” But
actual code usage shows that `call` may accept multiple positional
arguments depending

[2020-08-17 17:23] reedwm commented on #27780
This change will be in TensorFlow 2.4, but I'm unsure when it will be released

[2020-08-17 17:24] nikitamaia commented on #42263
For a variable-size list have you tried using a [tf.TensorArray](https://www.tensorflow.org/api_docs/python/tf/TensorArray)? The [Accumulating values in a loop](https://www.tensorflow.org/guide/function#loops) example in the tf.function guide might be helpful.

[2020-08-17 17:25] andreselizondo-adestech commented on #27303
Working based on @padoremu 's gist, I replaced `_fixed_frame()` with `tf.signal.frame`.
This allows for variable sized inputs and maintains compatibility with TFLite.

Edit is as simple as:
![image](https://user-images.githubusercontent.com/53020268/90424907-85019600-e084-11ea-8a76-563ebe7e3744.png)

[2020-08-17 17:27] naolenikhil commented on #42346
@jvishnuvardhan - Thanks for creating the gist.
1. Were you able to identify the root cause of this issue?
2. Does a previous version of tensorflow or tflite solve this issue?
3. Are you expecting any other information from me?

[2020-08-17 17:27] #41288 closed

[2020-08-17 17:27] Saduf2019 commented on #42427
@zldrobit
Please share all commands executed before you ran into this error.

[2020-08-17 17:30] qlzh727 commented on #42293
This is expected, since TF is trying to allocate the memory for a huge tensor with shape (2, 6400000000000000000 + 1 + 4314310000000000000, 1), and it will certainly OOM.

I am closing this issue since I don't think it is working as intended. Feel free to reopen if you feel otherwise.

[2020-08-17 17:30] #42293 closed

[2020-08-17 17:37] ymodak commented on #41912
Closing this issue since its fixed with [7fafd21](https://github.com/tensorflow/tensorflow/commit/7fafd216eb116a092a85d35d1e56d486c36d8727#diff-90a2d1c5b6dd65802ebf77e266d4d2e5). Thanks for the fix!

[2020-08-17 17:37] #41912 closed

[2020-08-17 17:44] nickums opened #42436 "cudart64_101.dll and nvcuda.dll not found"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-08-17 17:50] nickums commented on #42436
Unlike the problem where the use had a GPU, I do not have one (as far as I know),
I am using latest Tensorflow on windows10 with Python3.7     Here is my Traceback:
Using TensorFlow backend.
2020-08-17 18:29:14.951355: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'cudart64_101.dll'; dlerror: cudart64_101.dll not found
2020-08-17 18:29:14.962198: I

[2020-08-17 17:52] taunoe opened #42437 "sparkfun-tensorflow-codelab"
Page: https://codelabs.developers.google.com/codelabs/sparkfun-tensorflow/#3
Broken commands:

is: make -f tensorflow/lite/experimental/micro/tools/make/Makefile TARGET=sparkfun_edge micro_speech_bin
should be: make -f tensorflow/lite/micro/tools/make/Makefile TARGET=sparkfun_edge micro_speech_bin

is: test -f tensorflow/lite/experimental/micro/tools/make/gen/sparkfun_edge_cortex-m4/bin/micro_spee

[2020-08-17 18:02] skgreb opened #42438 "No module named 'tensorflow.python.platform'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2020-08-17 18:14] ymodak commented on #42383
@SamuelMarks I think you can pass 'accuracy' as well as 'Accuracy metric. Following toy example exhibits successful behavior.
[code]
However the same logic fails in the example you are trying. Will investigate more. Thanks!

[2020-08-17 18:36] ymodak commented on #42096
@peter197321 Is this still an issue? Were you able to build successfully with https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/evaluation/tasks/inference_diff#running-the-binary-on-android?

[2020-08-17 18:44] ckluk-github commented on #42123
This tool reports memory consumption on the device (i.e. GPU or TPU); not on the host (CPU).

For the GPU issue (no breakdown to TF Ops), this is a bug that we found and fixed after TF 2.3 release. You will need to get the latest TF (https://pypi.org/project/tf-nightly/). You don't need a newer profiler plugin (i.e. the TF 2.3 release is okay).

[2020-08-17 18:48] yongtang commented on #42424
The issue is really due to `tf.convert_to_tensor` which does not handling shape correctly:
[code]

It looks like `tf.convert_to_tensor()` in eager mode (or more specifically `InitEagerTensor`), dropped the dimension of `3`.

[2020-08-17 18:55] jvishnuvardhan commented on #42379
@PyFormulae I think you forgot to add another set of parenthesis. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/87264b76972fdb097a633dae2791f508/42379.ipynb). Thanks!

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-08-17 18:56] joaogui1 commented on #42363
@Saduf2019
The line `test_dataset = test_dataset.padded_batch(BATCH_SIZE)` is missing after doing the same for the train_dataset on the sixth cell

[2020-08-17 18:57] Remit commented on #42123
Thanks a lot for clarifying this!

[2020-08-17 18:57] #42123 closed

[2020-08-17 18:57] peter197321 commented on #42096
I wanna build for aarch64 Linux device and not android.

[2020-08-17 19:03] lorenz0890 commented on #42231
Hi,

thank for your reply and confirming my assumptions, this does indeed help me.

I am working on a research project using TF about analyzing quantization errors in CNN topologies and i need to know exactly what happens, but the converter optimizations are still an unknown factor.  Can you tell me what exactly happens when the optimization flag below is used or can you point me to a relevant pap

[2020-08-17 19:04] Al-Badri179 commented on #42395
@amahendrakar

tensorflow-estimator     2.3.0
Keras                              2.4.3

This is the code for the CNN modal:
[CNN modal.txt](https://github.com/tensorflow/tensorflow/files/5086292/CNN.modal.txt)

for the dataset it is free available on the internet (dogs, cats, horses, humans)

[2020-08-17 19:08] edloper commented on #41531
`tf.ragged.stack`'s first argument is a list of tensors, not a single tensor.  And the length of that list is always known in advance (i.e., at graph-construction time).  So you don't need any conditional **inside** the graph here.

In general, `RaggedTensor` operations return a `tf.Tensor` if it can statically determine that the result has no ragged dimensions.  This has some advantages in terms

[2020-08-17 19:08] #41531 closed

[2020-08-17 19:13] Al-Badri179 commented on #36991
@jvishnuvardhan ok, sorry for inconvenience

[2020-08-17 19:20] PyFormulae commented on #42379
That computes the cube root of a float, not a tensor.

[2020-08-17 19:22] bsaravi commented on #42142
Hi Abhilash,
   Do you have any update?
Thanks,
Babak

[2020-08-17 19:30] Al-Badri179 opened #42439 "Modil.fit() issue"
Can you provide me the full code?

I have this error:
"ValueError: Calling Model.fit in graph mode is not supported when the Model instance was constructed with eager mode enabled. Please construct your Model instance in graph mode or call Model.fit with eager mode enabled."
When I tried to execute this code:

hist = model.fit(X_train, y_train, batch_size=16, epochs=num_epoch, verbose=1, validatio

[2020-08-17 19:38] ayushch3 commented on #42239
@gowthamkpr @amahendrakar if you use the tag --all with show_model_cli you would be able to reciprocate the issue with the following error:
saved_model_cli show --dir dir_name --all

tensorflow.python.framework.errors_impl.InvalidArgumentError: 'func' argument to TF_GraphCopyFunction cannot be null
WARNING:tensorflow:Unresolved object in checkpoint: (root).word_casing._initializer
WARNING:tensorfl

[2020-08-17 20:05] ymodak commented on #41950
I think this is correct since we have `steps_per_epoch` as 469;
`
steps_per_epoch (469) = #total no of samples (60000) / batch_size (128)
`
I earlier version only the number of samples are shown (60000).

[2020-08-17 20:15] qlzh727 commented on #42127
Thanks for filing the issue. Let me clarify some of the question you have:

1. For the https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/python/keras/layers/wrappers.py#L192-L245, it is propagating the mask correctly since it pass the mask to K.rnn function, which will processing the masking under the hood.

2. In your first example, the mask is created as a required parameter, which

[2020-08-17 20:30] Yasin40 commented on #42328
@Saduf2019 .
Thanks for attention. I pasted error before screenshot. bu if you complete than:
`INFO: Found 1 target...
INFO: Deleting stale sandbox base /media/odroid/ExternalHard/CacheFolder/sandbox
SUBCOMMAND: # @curl//:curl [action 'Compiling external/curl/lib/llist.c']
(cd '/media/odroid/ExternalHard/CacheFolder/execroot/org_tensorflow' && \
  exec env - \
    PATH=/home/odroid/.local/bin:/usr

[2020-08-17 20:35] #42379 closed

[2020-08-17 20:51] qlzh727 commented on #41863
Thanks for reporting the issue. We have similar reports for this, and the root cause in the cudnn kernel itself. Please see other issue that has been resolved to find out the solutions (mostly update the cudnn to a newer version).

https://github.com/tensorflow/tensorflow/issues/39989
https://github.com/tensorflow/tensorflow/issues/36508
https://github.com/tensorflow/tensorflow/issues/41444

https

[2020-08-17 20:52] qlzh727 commented on #41863
I am going to close this issue to avoid any duplicated tracking. Feel free to reopen if you feel you issue is different from others.

Thanks.

[2020-08-17 20:52] #41863 closed

[2020-08-17 21:04] #40622 closed

[2020-08-17 21:07] ymodak commented on #39465
Yes please attach new error logs.
I created a toy model that uses validation_steps = 0 and happens to execute successfully.
Please take a look at the [gist](https://colab.research.google.com/gist/ymodak/817034ec377485f4383e822ae9dd50c7/39465.ipynb)

[2020-08-17 21:16] jvishnuvardhan commented on #42374
@17patelumang I have updated the `output_shape` in `tf.sparse_to_dense`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/305a8451544eb0bd50ac13be8c1205cd/untitled372.ipynb). Thanks!

[2020-08-17 21:22] goldiegadde commented on #38983
@tanguycdls With the latest tf-nightly this issue has been fixed. Am closing this issue, but please reopen if thats not the case for you.

[2020-08-17 21:22] #38983 closed

[2020-08-17 21:27] swghosh commented on #32265
Here you could find two notebooks that would help prove the veracity of the claim.
1. [TPU Experiment 1](https://colab.research.google.com/gist/swghosh/23f46273d82857c9cf8eb30423fcde4d/tpu-experiment-1.ipynb): Notebook demonstrating use of `model.fit` (on a TPU) with `validation_data` argument specified.
2. [TPU Experiment 2](https://colab.research.google.com/gist/swghosh/23f850cb447581d9f169a6914

[2020-08-17 21:47] #42420 closed

[2020-08-17 21:48] roca77 commented on #42420
Closing; Thanks for checking

[2020-08-17 21:48] 17patelumang commented on #42374
@jvishnuvardhan  thank you for reply , however when we run the code below (its same code as in git) with `tf.enable_eager_execution()` it gives below error . We should be able to run it with both eager execution on and off both . Also wiithout eager execution enables there is no way to validate if logic is what we need ,

[code]

[code]

[2020-08-17 21:57] PODEE opened #42440 "Problem running tensorflow in Pycharm - ImportError: DLL load failed: The specified module could not be found."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (Windows 10, 4GB Ram, 64-bit OS, x64 basedprocessor, Micro

[2020-08-17 22:01] PODEE commented on #42394
I'm facing the exact same issue

[2020-08-17 22:01] PaulPauls opened #42441 "Erroneously triggering tf.function retracing warnings when rapidly creating new TF models."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04, Google Colab
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): occurs in v2.3.0 and tf-nightly v2.4.0a20200817; NOT in v2.2.0
- Python version: 3.7.7

**Related Issues**
- https://github.com/tensorflow/tensorflow/issues/34025
- https://github.com/tens

[2020-08-17 22:48] yuanzhedong commented on #31058
Nvidia has some pre-compiled versions of tf available on Jetson platform, works fine for me: https://docs.nvidia.com/deeplearning/frameworks/install-tf-jetson-platform/index.html

[2020-08-17 23:07] pavithrasv commented on #31309
@oholimoli  You will have to provide the weights when calling the loss function in the custom training loop. here -> https://www.tensorflow.org/guide/keras/custom_layers_and_models#putting_it_all_together_an_end-to-end_example

[2020-08-17 23:24] jvishnuvardhan commented on #42374
@17patelumang This issues is not a Bug or performance issue. GitHub is mainly for bug/performance related. This issue is more suited to Stackoverflow.

There is no issue with `tf.enable_eager_execution()`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/7ed437d4a376ab15aef9af02f1ad9bff/untitled6.ipynb)

The tensor `t1d` is 1-dimensional and hence `unique_ids` is

[2020-08-17 23:46] gattia commented on #41632
@bjarthur can you please reopen the issue?

@Saduf2019 the problem is not at the links you've presented. Yes, it originally seems like it could be associated with early stopping, but is not, it is a model checkpoint problem.

Attached below is a MWE of the problem. I have tested this on TF 2.0.0. locally and 2.3.0 on colab.

Essentially, if you try to set `save_freq` in `ModelCheckpoint` to be any

[2020-08-17 23:46] jjh42 opened #42443 "Keras Model accepts unnamed"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):

Colab.

- TensorFlow installed from (source or binary):
colab

- TensorFlow version (use command below):

tf 2.3.0

- Python version:
colab default

**Describe the current behavior**

Keras model (in eager mode at least

[2020-08-18 00:08] 17patelumang commented on #42374
@jvishnuvardhan sorry i am not on the same page , why its not bug ? , why disabling `tf.enable_eager_execution()` doesnot throw error and gives `Tensor("Reshape_1:0", shape=(2, 10000), dtype=float32)` as output but enabling `tf.enable_eager_execution()` throws error ? (Please kindly explain)

[2020-08-18 00:35] cocoyen1995 commented on #25807
Hi @Rifat004 ,

There are many solutions provided above, I don't know which one are you asking for (?)
(Since you didn't describe your case, there's no clue at all...)
In my case, the running env is in Anaconda, and it seems like it couldn't find **cupti64_100.dll** under my env's running path,
so I copied that file from CUDA's directory I install from [nvidia's website](https://developer.nvidia.c

[2020-08-18 00:44] zldrobit commented on #42427
# 1 .Clone `TensorFlow` repo
[code]

and checkout `v2.3.0` release tag

[code]

# 2. Run configure.py

[code]

with default configuration

[code]

# 3. Bulid debug version
[code]

PS: For convinience, I use tensorflow docker as building environment.

[2020-08-18 00:55] yangshengdong opened #42444 "Can I specify the version of NAPI ?"
Can I specify the version of nAPI? In my environment, Node 10.15.x only supports NAPi-v4, but tensorFlow is actually NAPi-V6 (/node_modules/_@tensorflow_tfjs-node@2.1.0@@tensorflow/tfjs-node/lib/ NAPi-v6) after My deployment.

- tensorflowVersion：2.1.0

![image](https://user-images.githubusercontent.com/12997948/90458256-7e305d00-e130-11ea-8dee-98dccb97bd3f.png)

[2020-08-18 01:02] bpops commented on #41022
Thank you so much for this. In my particular case, your hook fixed my issue!

[2020-08-18 01:04] karimnosseir commented on #42319
From the error message looks like your have he tf.function expecting first input as int64 while the input is int32. Can you try changing the tf.function to expect int32 instead.

Thanks

[2020-08-18 01:21] zhao1157 commented on #42422
Tf version tested: 1.14.0 and 2.2.0

Code used: [https://github.com/tensorflow/benchmarks/tree/master/scripts/tf_cnn_benchmarks](url)

Command for testing `fp32`: `python tf_cnn_benchmarks.py --input_preprocessor=default --optimizer=sgd --batch_size=50 --data_name=imagenet --model=resnet50 --variable_update=replicated --device=cpu --data_format=NHWC`

Command for testing `fp16`: `python tf_cnn_ben

[2020-08-18 01:34] nikitamaia commented on #42364
Confirming that I was able to repro this in Colab and with a GCP deep learning vm instance. Although it was hanging, the files actually did get written to the bucket. Did you see the same?

[2020-08-18 02:06] NFeruch commented on #28148
@SamuelMarks What do you mean by 'use' that link. Could you elaborate

[2020-08-18 02:06] DavidInWuhanChina commented on #42319
I just change the tf.function to int32 as below:
`@tf.function(input_signature=[tf.TensorSpec(shape=[1, 1], dtype=tf.int32),
                                  tf.TensorSpec(shape=[1, 64, 256], dtype=tf.float32),
                                  tf.TensorSpec(shape=[1, 512], dtype=tf.float32)])`
but another error came:
    ValueError: Python inputs incompatible with input_signature:
      inputs:

[2020-08-18 02:47] hzq-zjm opened #42445 "Setting multithreading for tensorflowlite does not work！"
Hi guys,
I set up tensorflowlite for four threads,but compared with single thread, the time consumption has not decreased. by the way, i quantizate my models.
Hope to get your help,ths!

[2020-08-18 02:48] mjkim720 commented on #42421
Actually, I used the nightly version as of 20200811, not 1.15. I can reproduce the issue with the latest version in Colab.  The session crashed due to the fault in c++ [here](https://colab.research.google.com/drive/1s7vRS_K-OcUL1_rF8T1fHiv_p924ezmB?usp=sharing).

[2020-08-18 02:54] lambdaphy opened #42446 "Should the custom loss function in Keras return a single loss value for the batch or an arrary of losses for every sample in the training batch?"
I asked a question on [StackOverflow](https://stackoverflow.com/questions/63390725/should-the-custom-loss-function-in-keras-return-a-single-loss-value-for-the-batc) regarding as the return value of a custom loss funtion. But I didn't get a clear answer.

In this [guide](https://www.tensorflow.org/guide/keras/train_and_evaluate#custom_losses) on tensorflow website, I found an example of custom loss

[2020-08-18 03:27] #41901 closed

[2020-08-18 04:12] ravikyram commented on #42284
@nashWX

Please, close this thread if your issue was resolved. Thanks!

[2020-08-18 04:57] Saduf2019 commented on #42436
@nickums
Please find which directory these dlls are in, and then update your PATH to include that directory.
also make sure you update appropriate cuda environment paths.
See [https://www.tensorflow.org/install/gpu#software_requirements](https://www.tensorflow.org/install/gpu#software_requirements)

#36111 #41909 #42354 [link](https://stackoverflow.com/questions/59823283/could-not-load-dynamic-lib

[2020-08-18 05:20] zendevil opened #42447 "ValueError: `tape` is required when a `Tensor` loss is passed."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (macOS Catalina):
- TensorFlow installed from pip:
- TensorFlow version 2.3.0:
- Python version 2.8:

**Describe the current behavior**

Getting the following error:
[code]
whereas `loss` is a number.

**Describe the expected behavior**
Since `loss

[2020-08-18 05:34] malsulaimi commented on #42125
@gowthamkpr @amahendrakar did you get a chance to look at this ?

The update I provided works fine on Ragged placeholders with rank 1 , but does not work on ragged placeholders of rank 2

below is the code for rank 2 ragged tensors  and the error thrown :
[code]

Error trace :
[code]

[2020-08-18 05:48] Saduf2019 commented on #42439
@Al-Badri179
I ran the code shared and face different error, please find [gist here](https://colab.research.google.com/gist/Saduf2019/0d0e205eb27b030afa6d213bf348e740/untitled377.ipynb)
Please fill the issue template for us to help.

[2020-08-18 05:56] minhhoangbui commented on #39782
@zhangjh915 This is what I need too, I htop there is an API which helps us to retrieve this param

[2020-08-18 06:25] dingjiaweiww opened #42449 "No module named 'tensorflow.python.platform'"
Please make sure that this is a build/installation issue. As per our GitHub Policy, we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template

System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
TensorFlow installed from (source or binary):binary
TensorFlow version: Version 2.3
Python version:

[2020-08-18 06:26] aingo03304 commented on #42386
@amahendrakar Thank you for the kind and quick response!
You can reproduce with this code sample which is very simple.
[code]
It raises `TypeError: Cannot convert value None to a TensorFlow DType.`on tensorflow `2.3.0`.
It is foolish code, but the error is raised in `tensorflow/python/framework/dtypes.py` and the message doesn't tell you that the loss function is wrong.

Because the error message

[2020-08-18 06:27] #41740 closed

[2020-08-18 06:28] #42449 closed

[2020-08-18 06:33] renjie-liu commented on #42153
Current tflite has limited dynamic shape support.

You can either set a fixed shape or calling resizeInputShape

[2020-08-18 07:09] vasilevskykv commented on #41274
I wrote this question to
https://github.com/tensorflow/io/issues/1091

[2020-08-18 07:20] ravikyram commented on #42429
@OverLordGoldDragon

I have tried in colab  with TF-GPU 2.3.0.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/b44ded3ff86c82ae9e6b308b4f1cfe0e/untitled258.ipynb).IYou are also seeing the same behavior?.Thanks!

[2020-08-18 07:43] ravikyram commented on #42438
@skgreb

Please, follow the steps as mentioned [here.](https://www.tensorflow.org/install/source_windows).
Have you installed pip package?
Install the PIP package. You can either download the pre-built package, or build from source by following the instructions here: http://tensorflow.org/get_started/os_setup.md#create-pip

Does import tensorflow work in a Python shell?

If not, try reinstalling w

[2020-08-18 08:08] Zapnuk commented on #41863
Ty for the response. This matches exactly my issue. It seems like the only solution is to wait until tensorflow supports cudnn 8.0 or downgrade the nvidia driver to <431.86

[2020-08-18 08:14] shkarupa-alex opened #42450 "What Grappler optimizers turned on by default?"
## URL(s) with the issue:
https://www.tensorflow.org/guide/graph_optimization

## Description of issue (what needs changing):
It should be cleared which optimizers Grappler applies by default.
For now it's not clear if i should turn on a lot of features by myself

### Parameters defined

Are all parameters defined and formatted correctly? - No.

[2020-08-18 08:18] amahendrakar commented on #41767
@balazsbanto,
Thank you for the update. Marking this issue as close since it is resolved.

[2020-08-18 08:18] #41767 closed

[2020-08-18 08:23] Skyy93 commented on #32875
This issue is still persistent in the TF 2.3 version

[2020-08-18 08:27] #42006 closed

[2020-08-18 08:43] maifeeulasad opened #42451 "ModuleNotFoundError: No module named 'tensorflow_examples'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Just trying

[2020-08-18 08:48] fisakhan commented on #13853
How can I restrict the tensorflow c api to use only and only one core of the cpu?

[2020-08-18 08:58] fisakhan commented on #13853
How can I restrict the tensorflow c api to use only and only one core of the cpu?

[2020-08-18 09:07] ravikyram commented on #42441
@PaulPauls

I have tried in colab with TF 2.3.0 and nightly version(`2.4.0-dev20200817`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/e1a45329766517a33e5783fd40d3a750/untitled259.ipynb).Thanks!

[2020-08-18 09:07] yetanotheryeti commented on #42127
Hey, qlzh727!

### 1.

I see. So the behavior then differs from the non-rnn version:
- rnn-version: mask gets propagated implicitly by the inner rnn function.
- non-rnn-version: mask gets propagated to the wrapped layer.

Therefore the input for the wrapped layer also varies depending on the version. See code excursion at the end of this post.

This makes sense, but is still interesting to know an

[2020-08-18 09:14] ravikyram commented on #42445
@hzq-zjm

Can you please fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).
Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-18 09:24] zldrobit commented on #42427
@Saduf2019 I also created a colab notebook for command illustration https://colab.research.google.com/drive/1dMx3v4-IrGmBHEmDlKcB2J_daJLpfDp8?usp=sharing, but the compilation is very time consuming.

[2020-08-18 09:27] #41468 closed

[2020-08-18 09:33] ravikyram commented on #42298
@chocolate-skyr

Glad to know your issue was resolved.Please, close this thread as your issue was resolved. Thanks!

[2020-08-18 09:38] alexvmt commented on #34697
@JohannesAck, I think I might have a similar issue. I train a Keras model on GPU, save it using the TensorFlow SavedModel format using the Keras API, reload it in a new session und try to make predictions in parallel on multiple CPUs using the `multiprocessing` library and the `starmap` function. If I load the model before parallelizing predictions I get a pickling error (`TypeError: can't pickle

[2020-08-18 10:01] ragulpr opened #42453 "SeparableConv1D fails with padding="causal""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): linux/amd64 tensorflow/tensorflow:2.3.0-gpu-jupyter
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):  v1.12.1-39480-g36dabea898 2.4.0-dev20200817
- Python version: 3.6

[2020-08-18 10:07] #42428 closed

[2020-08-18 10:23] Saduf2019 commented on #42443
@jjh42
I ran the code shared but face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/eb5f441b670e9c8714d9adfeed572f46/untitled377.ipynb), please share a colab gist with the error and let us know.

[2020-08-18 10:42] amahendrakar commented on #42142
@bsaravi,
On running the `bugTrain.py` from the zip file, I am facing an error stating `FileNotFoundError: [Errno 2] No such file or directory: './configs/pointpillars/car/xyres_16.proto'`.

Please provide all the dependencies to run the code. Alternatively, you can run your code on [Google Colab](https://colab.research.google.com/notebook#create=true&language=python3) and share the notebook with

[2020-08-18 10:47] amahendrakar commented on #42189
@malsulaimi,
Could you please check @kentslaney's comment and let us know if it helps. Thanks!

[2020-08-18 10:49] amahendrakar commented on #42206
@DNXie,
Thank you for the update. Marking this issue as closed since it is resolved. Please feel free to re-open the issue if necessary.

[2020-08-18 10:49] #42206 closed

[2020-08-18 10:51] Saduf2019 commented on #42394
@manojkumarmahato
Please update if you have verified with the duplicate issues.

[2020-08-18 10:53] ravikyram commented on #34689
I have tried in colab with TF version 2.3, nightly version(`2.4.0-dev20200818`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/79b8500741d40b00e1274eddebe7a537/untitled260.ipynb).Thanks!

[2020-08-18 10:54] Lipod opened #42454 "Keras 'Random' preprocessing layers do not work on cloud TPU"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Simple demo av

[2020-08-18 11:00] Saduf2019 commented on #42410
I am able to replicate this issue, please find [gist here](https://colab.research.google.com/gist/Saduf2019/29ff1ec42f9401833986c08086c586ff/untitled377.ipynb)

[2020-08-18 11:03] mr-goldhands commented on #41931
I have ried to build Hello World with TF sources SHA 387414f.
Now compilation is successful but the application always cyclically rebooting.
Logs attached.
[Cyclically_rebooting__Hello_World__for_ESP32.txt](https://github.com/tensorflow/tensorflow/files/5089943/Cyclically_rebooting__Hello_World__for_ESP32.txt)

[2020-08-18 11:05] amahendrakar commented on #42229
@Echambouleyron,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-08-18 11:11] hzq-zjm commented on #42445
The relevant codes are as follows：

 　private static Interpreter tflite_segm;
    private static Interpreter tflite_ocr ;
    /** Options for configuring the Interpreter. */
    private static Interpreter.Options tfliteOptions_seg = new Interpreter.Options();;
    private static Interpreter.Options tfliteOptions_ocr = new Interpreter.Options();

    /** The loaded TensorFlow Lite model. */
    pri

[2020-08-18 11:11] Saduf2019 commented on #42250
@wptkddms P
Please refer to [this link](https://blog.tensorflow.org/2020/04/quantization-aware-training-with-tensorflow-model-optimization-toolkit.html)

[2020-08-18 11:12] ravikyram commented on #42453
I have tried in colab with Tensorflow version 2.3, nightly version (`2.4.0-dev20200818`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/a00dcae3a05c920edc9f22ea7ba63ebb/untitled262.ipynb). Thanks!

[2020-08-18 11:14] Saduf2019 commented on #42188
@yadonskov
I ran the code shared please find the [gist here](https://colab.research.google.com/gist/Saduf2019/28f84982b95bb046d9b510c667af2e9b/untitled367.ipynb), can you please point out the extra layer you are referring to the model summary and code both lead to 14 layers as expected.

[2020-08-18 11:17] kentslaney commented on #42189
I'd be surprised if that fixed it on its own, I had to write a custom op to register the zeros unary op for a tensor type variant
[code]
[code]
I'm now getting
[code]
I'll have to build from source with debugging mode later this week to get the stack trace and hopefully figure out what went wrong. I suspect it has to do with the wrapper variant that `RaggedTensorToVariant` puts around the output b

[2020-08-18 11:18] hzq-zjm commented on #42445
Only the CPU is used to run the model.

[2020-08-18 11:23] Saduf2019 commented on #42363
@joaogui1
I ran the code shared, please refer to the [gist](https://colab.research.google.com/gist/Saduf2019/c072980edf074309a9cda6acd63232f0/untitled373.ipynb) if it confirms your issue.

[2020-08-18 11:25] Saduf2019 commented on #42398
@jeball
I ran the code and face an error please refer to [gist here](https://colab.research.google.com/gist/Saduf2019/aac88f6c369b8d569071c5929e44cf48/untitled367.ipynb).

[2020-08-18 11:29] kentslaney commented on #42201
I think [this commit](https://github.com/tensorflow/tensorflow/commit/2d1e9501e391c4588be68dabef039112b6643f2a) fixes the bug ([colab](https://colab.research.google.com/drive/19BMMQsnMc8sMZGEuXL7lGu0YyNWjUniz?usp=sharing#scrollTo=O6GzPt2gZiPF)), should I close the issue @mdanatg?

[2020-08-18 11:31] amahendrakar commented on #42432
@eladc4,
On running the code with TF v2.3, I am facing an error stating `TypeError: tuple indices must be integers or slices, not MirroredVariable`.

However, the issue seems to be resolved with the latest TF-nightly, as I was able to convert the model without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/6e113688e93a5f8aaea0ca52d12c2fea/42432-tf

[2020-08-18 11:34] rohitthanki9 opened #42455 "I have facing below mention error in new version of python 3.8. Can any suggest how to solve it?"
File "C:\Anaconda\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 64, in <module>
    from tensorflow.python._pywrap_tensorflow_internal import *

ImportError: DLL load failed while importing _pywrap_tensorflow_internal: The specified module could not be found.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):

  File "C:\Anaco

[2020-08-18 11:39] muriloasouza opened #42456 "Error Importing Tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution:  (Windows 10 64 bits)
- Mobile device: None
- TensorFlow

[2020-08-18 11:50] fisakhan commented on #24101
Please downgrade your bazel installation to version x.x.x or lower to build TensorFlow! Even if you follow the version compatibility at https://www.tensorflow.org/install/source#cpu-only_2

Please downgrade your bazel installation to version 0.0.0 and still it doesn't work.

[2020-08-18 11:50] mdanatg commented on #42201
Yep looks like the issue is resolved and can be closed. Thanks!

[2020-08-18 11:51] joaogui1 commented on #42363
@Saduf2019 it confirms my issue (SimpleRNN takes 15 times longer than GRU)

[2020-08-18 11:57] amahendrakar commented on #42239
@ayushch3,
Even on adding the `--all` flag, I did not face the  `tensorflow.python.framework.errors_impl.InvalidArgumentError: 'func' argument to TF_GraphCopyFunction cannot be null` error. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/b9f6bbef876cec0c1e677f9a3d6465c0/42239.ipynb). Thanks!

[2020-08-18 11:58] jjh42 commented on #42443
Yes that assertion error is as what I noted in the code on the last line

# Or raise an Assertion if the dictionary has too few entries.
model({'c': tf.convert_to_tensor([1])})

If you remove that last line it won't raise an assertion error and the key issue is this line:
# However, model will silently accept any dictionary with two tensors
# (of appropriate shape) without warning.
model({'c': tf.

[2020-08-18 12:07] lakwin-chandula opened #42457 "AttributeError: module 'tensorflow.python.keras' has no attribute 'abs'"
<em>I am working on a multi-class image classification problem by using a siamese model.</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.1.0
- Python version: 3.6.10
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source):
- GCC/

[2020-08-18 12:08] danielplatt opened #42458 "CosineSimilarity documentation range incorrect"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/losses/CosineSimilarity

## Description of issue (what needs changing):

### Clear description

"Note that it is a negative quantity between -1 and 0" should be changed to "Note that it is a negative quantity between -1 and 1"

### Correct links

### Parameters defined

### Returns defined

### Raises listed and defined

[2020-08-18 12:16] ntakouris commented on #42283
Thank you.

[2020-08-18 12:16] #42283 closed

[2020-08-18 12:23] amahendrakar commented on #42271
@nicosacco,
In this case, could you please provide a dummy model and data to mimic the error you are facing.

Also, please take a look at [this](https://github.com/huan/tensorflow-handbook-tpu/issues/1#issuecomment-606189444) similar issue and let us know if it helps. Thanks!

[2020-08-18 12:27] #41783 closed

[2020-08-18 12:30] jeball commented on #42398
Thanks

I think the problem is tensorflow 2.1 GPU was installed with anaconda and tensorflow addons with pip and they seem to be incompatible. The error you get is different from the error I am receiving. I think to resolve I need to install tensorflow with pip.

Can you verify – after more research this seems to be the main problem.

John Ball, Ph.D.
Associate Professor and Robert Guyton Endowed

[2020-08-18 12:33] amahendrakar commented on #42437
@taunoe,
Could you please submit a new issue from [this link](https://github.com/googlecodelabs/tools/issues). So that we can track the issue there. Thanks!

[2020-08-18 12:41] amahendrakar commented on #42440
@PODEE,
You might be facing this issue because of the following reasons

- You are running 32-bit Python
- Your CPU does not support AVX instructions. Please share the make and model of your CPU, so that we can verify this.

Please take a look at the [system requirements](https://www.tensorflow.org/install/pip#system-requirements) and check if you have the correct dependencies installed.

Also, ch

[2020-08-18 12:44] amahendrakar commented on #42444
@yangshengdong,
Issues related to TensorFlow.js are handled in the tensorflow/tfjs repo. Could you please submit a new issue from [this link](https://github.com/tensorflow/tfjs/issues/new) and fill in the template, so that we can track the issue there. Thanks!

[2020-08-18 12:46] sayakpaul commented on #41536
@nikitamaia any updates on this?

[2020-08-18 12:46] ravikyram commented on #42456
@muriloasouza

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
.Also, please

[2020-08-18 12:48] #40432 closed

[2020-08-18 12:51] nickums commented on #42436
Thanks for responding.  Looking at tensorflow hardware requirements, .it seems I need an NVIDIA GPU.
Not possible with my humble laptop so I'll start again with the 'lite' android-oriented version.

[2020-08-18 12:58] chhota89 commented on #23747
@SanthoshRajendiran the increasing the resolution to 513x513 work for me. Any idea how to make it work for 1025x1025?
when I have change the command 513 to 1025 it's giving below error
`ValueError: The shape of tensor 'sub_7' cannot be changed from (1, 513, 513, 3) to [1, 1025, 1025, 3].`

[2020-08-18 13:01] muriloasouza commented on #42456
@ravikyram

1 - It's an Intel Core i7-5500U;
2 - Not really sure what microsoft visual c++ i should download there, x64? x86? ARM64?
3 - Do i really need to install those versions of Python (3.6 or 3.7)? I've seen it should work in Python 3.8;
4 - Both my CPU and Python are on 64 bits (as you can see in the `python -VV` result i posted earlier).

[2020-08-18 13:15] Al-Badri179 commented on #42439
@Saduf2019
you got this problem because when you copy and paste my code you missed some indents which causes this error.

Now, you can check the code in your gist https://colab.research.google.com/gist/Saduf2019/0d0e205eb27b030afa6d213bf348e740/untitled377.ipynb#scrollTo=EUmhI-JaDSHX&line=276&uniqifier=1

Just all you need to upload the dataset it is found here:
https://github.com/anujshah1003/own

[2020-08-18 13:16] jeball commented on #42398
My error was with TF 2.1.0, not 2.3.0

John Ball, Ph.D.
Associate Professor and Robert Guyton Endowed Chair for Teaching Excellence | Electrical and Computer Engineering

[cid:image001.png@01D67537.E129C370]
Associate Editor | IEEE Signal Processing Letters
Associate Editor | Journal of Applied Remote Sensing
Editorial Board Member | MDPI Electronics
Faculty Advisory Council | Transactions on Stem

[2020-08-18 13:16] MrGeva commented on #39521
I am suffering from the same issue. Can you please enable the debug build? it helps a lot to be able to debug when trying to learn the internal implementation.

[2020-08-18 13:16] regzon commented on #34253
Can this behavior be documented? This is not obvious for many people.

[2020-08-18 13:18] ThatDockerUser opened #42459 "Accuracy is lost after save/load"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): See below.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, 1909
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below):

[2020-08-18 13:28] Hemanth987 commented on #27568
no

[2020-08-18 13:34] taunoe commented on #42437
Ok , I will do that.

[2020-08-18 13:37] bsaravi commented on #42142
I guess you are running outside the code folder. Paths are relative to the
root of the code. you need to cd to the code root.
if you unzip in tfbug forest do a cd tfbug
thanks,
Babak

On Tue, Aug 18, 2020 at 6:42 AM Abhilash Mahendrakar <
notifications@github.com> wrote:

[2020-08-18 13:45] rytisss commented on #32222
Hi all! I'm writing regarding the CoordConv layers in native Tensorflow API. I saw this ISSUE as a possible related to my question :) Is CoordConv considered a feature in a future release? I am using a nice implementation from the following repo: [https://github.com/mvoelk/keras_layers ](url) . However, it would nice to see CoordConv as a native Layer in Tensorflow :)

[2020-08-18 13:50] bsaravi commented on #42142
I modified the code on Colab.  you can see the exception:
https://colab.research.google.com/gist/amahendrakar/3aef973b381de4aee79055579585f319/42142.ipynb
Thanks,
Babak

[2020-08-18 13:55] Saduf2019 commented on #42436
@nickums
Please move this issue to resolved status if this is not an issue anymore.

[2020-08-18 14:07] Saduf2019 commented on #42457
@lakwin-chandula
Please refer to [this link](https://stackoverflow.com/questions/57406870/importerror-cannot-import-name-abs-from-tensorflow-python-keras-impl-keras-b) with same error and let us know.

Few more links with similar suggestions:
[link](https://www.edureka.co/community/67412/tensorflow-importerror-cannot-import-name-abs-error) [link1](https://github.com/tensorflow/tensorflow/issues/19

[2020-08-18 14:09] taunoe commented on #42437
I opened new issue there: https://github.com/googlecodelabs/tools/issues/450

[2020-08-18 14:09] #42437 closed

[2020-08-18 14:21] amahendrakar commented on #42447
@zendevil,
On running the given code snippet, I am facing an error stating `NameError: name 'color_channels' is not defined`.

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-08-18 14:27] #42007 closed

[2020-08-18 14:40] OverLordGoldDragon commented on #42429
@ravikyram No, I'm not - and this time, the results are worse than in any prior test:

<img src="https://user-images.githubusercontent.com/16495490/90526186-22da8b00-e181-11ea-9817-572d0ac33aae.png" width="650">

The only culprit to my mind is Colab's GPU, which is known to change between sessions. Can you run again, and check GPU? This run's:

[code]

<details>
    <summary><b>GPU info code</b></

[2020-08-18 14:45] amahendrakar commented on #42451
@maifeeulasad,
I was able to run the given code snippet without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/139f8b05a55206beecc0d499eed54611/42451.ipynb).

Could you please update TensorFlow to v2.3 and check if you are facing the same issue? Thanks!

[2020-08-18 14:53] Fetzii opened #42463 "Error executing quickstart noteboook"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: No
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Win 10
-   **TensorFlow installed from (source or binary)**: conda gpu version
-   **TensorFlow version (use command below)**: 2.1.0
-   **Python version**: 3.7.7
-   **CUDA/cuDNN version**: cudatoolk

[2020-08-18 15:14] jvishnuvardhan commented on #42372
@sparachi1011 Few questions.
1) did you notice the issue when you installed in `virtualenv`?
2) were you able to install and import TF1.15 without any issue?

Can you please uninstall TF all versions, uninstall python all versions, restart comp/laptop, install python 3.7, install TF2.3 and then check whether you can import without any issue. Thanks!

[2020-08-18 15:19] amahendrakar commented on #42455
@rohitthanki9,
Please provide the complete code and the exact sequence of commands / steps that you executed before running into the error.

Also, as mentioned in the error log, please install/update TensorFlow to the latest version using the below command check if you are still facing the same issue.

[code]

Thanks!

[2020-08-18 15:41] PODEE commented on #42440
![SystemModel](https://user-images.githubusercontent.com/17114177/90534326-9d86b480-e147-11ea-9b44-d52de1aec442.PNG)
System Model attached.
I installed 64-bit Python and I've gone through most of the duplicate issues but still not working

[2020-08-18 15:42] amahendrakar commented on #41988
@vybhav72954,
Seems like the issue was caused due to TensorFlow and TF-Agents version incompatibility. For more information, please take a look at this [link](https://github.com/tensorflow/agents#releases). Thanks!

[2020-08-18 15:43] manojkumarmahato commented on #42394
Hi,

I referred to some of the issues.
In my laptop, Microsoft Visual C++ Redistributable (x64)  version installed is 14.11.25325.
I saw there, you have mentioned "For TF-GPU - See point 1",  to install CUDA, does it require here? Which version of CUDA do I need to install for TF 2.3.

Thanks

[2020-08-18 16:06] alexander-soare commented on #14749
Hi team, I'm a bit new to submitting PRs to mainstream repos. This is tagged as contributions welcome. If I go ahead and build this out and submit a PR will it be looked at? Thanks!

[2020-08-18 16:06] Unterbelichtet commented on #40869
You first need to uninstall tensorflow by typing `pip uninstall tensorflow`, then you can install the older version with `pip3 install tensorflow==1.4`.

[2020-08-18 16:10] Dynmi commented on #42458
There is no negative quantity in (0,1).

[2020-08-18 16:26] amahendrakar commented on #42297
@yapifu,
Run the below code snippet from the terminal where you installed TensorFlow and the same code within a Jupyter Notebook.

[code]
The output will print the path of the Python interpreter being used. Make sure both the environments are using the same interpreter.

If you are still facing the same issue.

[2020-08-18 16:27] #41572 closed

[2020-08-18 16:30] RolfSchlup opened #42465 "Using a model with LeakyRelu in Tensorflow lite micro not supported?"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**
I created a CNN model for analyzing a sensor grid that uses LeakyReLU.  Now I've been tasked to make the trained mo

[2020-08-18 16:30] fisakhan commented on #33627
@wei-v-wang Can you please explain your answer with a simple example? "to test single thread please use "numactl" or "taskset" to confine the application (TF) to one core. And then set inter/intra op/OMP_NUM_THREADS to 1"

[2020-08-18 16:31] amahendrakar commented on #42305
@ayush9096,
Without a sample code it would be difficult for us to debug the issue. In this case, could you please provide a dummy model and code to mimic the error so that we can look into this. Thanks!

[2020-08-18 16:33] #42201 closed

[2020-08-18 16:40] zendevil commented on #42447
@amahendrakar I have updated the original code. The only change you need to make is have a valid image path.

[2020-08-18 16:44] ccrusius commented on #42242
Yes, the behaviors are as intended. The documentation for `tf.constant` mentions it always creates host tensors, and that `tf.identity` will create tensors in the specified devices.

I agree the behavior can be confusing, and we need better documentation here. In particular, `convert_to_tensor` makes no mention of this behavior.

[2020-08-18 16:52] gowthamkpr commented on #42280
@tanguycdls As mentione in the above comment, did you try using the call method?

[2020-08-18 16:54] gowthamkpr commented on #42257
@HelloFloor As you are running your model for a longer time, the number of parameters of your model is increasing, thats the reason why you are running out of memory.

[2020-08-18 16:56] ebrevdo commented on #42281
Depending on the version of TF i use, I get different errors.

Internally; I get the error
```ValueError: Attr top_paths has value 1000000000000 out of range for an int32```

using python3.6; which I think is the real expected error.

In OSS ipython3 I get the error:

```MemoryError: std::bad_alloc```

at the line

[code]

(eager execution)

[2020-08-18 16:58] ebrevdo commented on #42281
@alextp who should take this over?  looks like an error in attr size validation?  or perhaps we're allowing an int64 through when it should be an int32; and then differences in tcmalloc vs. some other malloc externally?

[2020-08-18 16:58] ebrevdo commented on #42281
The internal error is correctly identified here, I think:

[code]

[2020-08-18 16:59] alextp commented on #42281
@rohan100jain can you help triage this? The error seems to be in the TF C API layer.

[2020-08-18 17:01] Dynmi commented on #42443
[code]
Refered from https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/python/keras/engine/functional.py#L5329

It seems that in tf2.3.0 it only cares about the order of the dict input tensors, but doesn't check the the keys' name.

[2020-08-18 17:03] aligoglos opened #42467 "no kernel image is available for execution on the device"
I've installed TensorFlow 2.3.0 on windows 10 but cant run any python scrips contain TensorFlow codes!
GPU card : NVIDIA 960m
OS : Windows 10
Cuda : 10.1
cudnn : 7.6.5.32
python: 3.7.7

this is log output when I run script :
[code]
I've had this problem since I tried install TensorFlow version +2 , If I install TensorFlow 15.3.1 I wont have this problem !!!
but since TensorFlow 1+ wont have suppor

[2020-08-18 17:04] yair-ehrenwald opened #42468 "Compiler crash with clang 7.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (

[2020-08-18 17:10] gowthamkpr commented on #41996
@Bmoser-boop Can you please try using latest version of tensorflow like tensorvlow 1.14.0 or 1.15.0 instead of old version of tensorfow. Thanks!

[2020-08-18 17:12] gowthamkpr commented on #41983
@Roshan1986 I have requested the access for your notebook. Please grant it. Thanks!

[2020-08-18 17:27] #41490 closed

[2020-08-18 17:27] #34041 closed

[2020-08-18 17:33] albisbub commented on #38589
can someone fix this in the main branch pweeeeeze

[2020-08-18 17:36] amahendrakar commented on #37501
@SmileTM,
To disable the warning logs, try changing the log level using the below code.
[code]
If you need further help, please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-08-18 17:39] amahendrakar commented on #42412
@Ananas120,
The original data and pre-processing steps would not be necessary. Fake inputs which can reproduce the error would be fine. Thanks!

[2020-08-18 17:44] Ananas120 commented on #42412
Ok nice ! i will share my code tomorrow morning on my github (i’ll post the link here) (the architecture and the training step) (the training loop is just a for loop on the dataset and call to callbacks so not important)

[2020-08-18 18:03] luke-iqt commented on #39489
Are there any good work arounds for this? I am trying to do transfer learning on MobileNet and then run it on TF Micro.
Following the TF Tutorial, it uses a GlobalAveragePooling2D layer before the classifier which uses the reduce() function in it. Is there an alternate architecture that would work?

[code]

[2020-08-18 18:16] jvishnuvardhan commented on #42055
@nbe000 Looks like there is CUDA driver compatibility issue. I see some drivers are related to 10.1 (`cudart64_101.dll`) and most are related to CUDA10.0 (`cublas64_10.dll`, `cufft64_10.dll`). TF2.2, 2.3 pip binaries are built with CUDA10.1. I noticed that you had installed CUDA10.0. Please check the tested build configuration.

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- |

[2020-08-18 18:22] mathpluscode commented on #30161
I tried this code in colab with tf2.3.0 and the padded mean and nopad mean are exactly the same. However, if we change it to batch norm, the results are different.

Moreover, for layer norm we could not pass a mask explicitly when calling it. This inconsistent behaviour is really confusing.

[2020-08-18 18:23] aavishkarmishra commented on #42424
I would like to work on this issue. How can I remove this error?

[2020-08-18 18:23] mcagricaliskan commented on #41855
@sanjoy or someone can read my or @iuriandreazza 's message. I m still waiting for answers? I tried all posible combinations with cuda, tf and python. AND everytime i reinstalled windows from zero.

[2020-08-18 18:24] quasar66 commented on #42340
Hi..

Further attempt to compile completely without CUDA support, and taking ONLY the default options also failed. This time the error is not very clear, but the only error line seems to be (not sure why we need b_float compatibility)

ERROR: C:/users/gautam/tensorflow/tensorflow/python/BUILD:501:11: C++ compilation of rule '//tensorflow/python:bfloat16_lib' failed (Exit 2): cl.exe failed: error e

[2020-08-18 18:27] jasonlilley commented on #42045
@k-w-w Thank you for replying. I was also able to confirm that the model compilation suggestion worked in my notebooks on my laptop. I suggest that someone change the tutorial page with the fix.

[2020-08-18 18:27] #41785 closed

[2020-08-18 18:29] aavishkarmishra commented on #42393
Hello @ymodak, I would like to work on this issue. I am new to this but this **can help me learn alot**.
Can you tell where I have to add this in your code base?

[2020-08-18 18:39] qlzh727 commented on #42363
Hi @joaogui1, thanks for reporting the issue.

I think the performance of GRU is because of fused cudnn kernel used, which is way faster than standard kernel. Unfortunately, we don't have a fused cudnn kernel for simpleRNN (cudnn kernel is provide by Nvidia), which is way simpleRNN is slower than GRU. It doesn't necessary mean the simpleRNN doesn't run on GPU.

I think there isn't any action item

[2020-08-18 18:40] #42363 closed

[2020-08-18 18:53] agramesh1 commented on #42164
I am assuming you are providing your own implementation of cblas_gemm. We made some changes between 2.2 and 2.3 and no longer call clbas_gemm, instead we use dnnl_sgemm.  If you want to TF+MKL to use cblas_gemm you have to change the code.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/mkl/mkl_matmul_op.cc#L174  and recompile. Note, we will removing the cblas calls so

[2020-08-18 18:54] nikitamaia commented on #42441
Hi @PaulPauls, to clarify, for your use case you _are_ expecting retracing to happen on each pass through the loop? This is because you're using a different model each time, correct? If so, it seems different to me compared the issues you've linked to, where they were trying to prevent extra retraces from happening on each pass through the loop. So I'm not sure the warnings are too unexpected sinc

[2020-08-18 19:02] hoangcuong2011 commented on #30161
@mathpluscode: Hi,

"However, if we change it to batch norm, the results are different." -> Batch norm in TF implementation does not take masking into account I think.
"Moreover, for layer norm we could not pass a mask explicitly when calling it" -> We can do that actually - just created a custom layer and pass a mask you want thorough that layer. I did it before.

[2020-08-18 19:10] wei-v-wang commented on #33627
Yes @fisakhan please see below for an example:
export OMP_NUM_THREADS=1; numactl --physcpubind=2 --membind=0  python app.py --inter_op_parallelism_threads=1 --intra_op_parallelism_threads=1
The above runs the app on physical CPU 2 (i.e. just the 3rd core).

[2020-08-18 19:10] RolfSchlup commented on #42465
Changing the model to
model = models.Sequential([
    layers.experimental.preprocessing.Rescaling(1./100, input_shape=(height, width, 1)),
    layers.Conv2D(32, kernel_size=(3, 3),activation='relu'),
    layers.Conv2D(64, (3, 3), activation='relu',padding='same'),
    layers.MaxPooling2D(pool_size=(2, 2),padding='same'),
    layers.Conv2D(128, (3, 3), activation='relu',padding='same'),
    layers.

[2020-08-18 19:28] liufengdb commented on #42390
I will create a fix internally and will push it to open source.

[2020-08-18 19:33] gunan commented on #42427
@jpienaar @joker-eph looks like this is a problem during mlir build? could you reassign this issue?

[2020-08-18 19:51] slahiruk opened #42471 "TFLite Shared Library build error on Raspberry Pi 4 (native build with Bazel). Trying to build with XNNPACK enabled"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Raspbian Buster
- Mobile

[2020-08-18 20:16] 17patelumang commented on #42374
@jvishnuvardhan  Please kindly advice . Thanks .

[2020-08-18 20:19] kentslaney commented on #42189
Actually, it turns out it was a separate problem, after compiling and loading the above I got it to run in static graph

[2020-08-18 20:27] #41480 closed

[2020-08-18 20:27] #41442 closed

[2020-08-18 20:27] #41578 closed

[2020-08-18 20:36] Ashiix opened #42474 "tensorflow.python.framework.errors_impl.NotFoundError: No algorithm worked!"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux -  Linux 5.8.1
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.3.0
- Python version: 3.8
- CUDA/cuDNN version: 11.0.2 / 8.0.2.39
- GPU model and memory: R

[2020-08-18 20:38] javirk commented on #22803
Hi, I'm not sure if I should be filing a different issue or it's ok to re-open this one. I am facing the same issue with nan values after converting pix2pix' generator to tflite. As @wangrui261 said, I replaced all `tf.keras.layers.BatchNormalization()` to `tf.keras.layers.BatchNormalization(fused=False, trainable=False)`, but the output is still nan. I tried removing all batch normalization layer

[2020-08-18 20:38] TAIYISONG opened #42475 "Tensorflow 2.3.0 is much slower than PyTorch 1.4.0 in backward propagation. (20 times slower)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
   Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
   Win10
- CUDA/cuDNN version:
   CUDA 10.1/cuDNN 7
- TensorFlow version (use command below):
   2.3.0
- Python version:
   3.7.4
- GPU model and memory:
   Geforce GTX 1660Ti (6GB)

**Describe the current behavio

[2020-08-18 20:45] mathpluscode commented on #30161
Hi @hoangcuong2011, thanks for your reply!

Are you saying that we can write a custom layer to wrap the `tf.keras.layers.LayerNormalization` and use `tf.keras.layers.Masking` to use the given mask? Ideally, I'd like to call like `layer_norm(inputs=x, mask=mask)` to use layer norm.

I'm not sure if I understand your meaning accurately. If it's possible, do you mind to share a piece of the code ;) S

[2020-08-18 20:48] COTASPAR opened #42476 "Incorrect output for unit test example in tensorflow/tensorflow/lite/micro/examples/hello_world/hello_world_test.cc"
@tensorflow/micro

**System information**
Laptop Model: Inspiron-7370
OS: Ubuntu 18.04.5 LTS x86_64
Host: Inspiron 7370
Kernel: 5.4.0-42-generic
Uptime: 4 hours, 48 mins
Packages: 2256
Shell: bash 4.4.20
Resolution: 1920x1080, 1920x1080
DE: GNOME 3.28.4
WM: GNOME Shell
WM Theme: Adwaita
Theme: Ambiance [GTK2/3]
Icons: Ubuntu-mono-dark [GTK2/3]
Terminal: gnome-terminal
CPU: Intel i7-8550U (8) @ 4.0

[2020-08-18 20:52] hoangcuong2011 commented on #30161
"Are you saying that we can write a custom layer to wrap the tf.keras.layers.LayerNormalization and use tf.keras.layers.Masking to use the given mask?" -> Yes this is what I meant. I previously wrote a custom layer that has tf.keras.layers.LayerNormalization inside. If you read about custom layer you might notice that we can pass whatever mask we want inside the custom layer.

About the code: Sorr

[2020-08-18 21:32] RolfSchlup commented on #42465
So I can assume that LeakyReLU and the keras experimental preprocessing operations are not supported by tf lite micro?

[2020-08-18 21:33] PaulPauls commented on #42441
Hi @nikitamaia, thank you for your response. I am no expert in function retracing, though my understanding is that due to the functional way TF allows for model creation does TF also retrace the whole model graph the first time it is called to ensure that it is correctly generated. I therefore _do_ expect retracing to happen once for each model when it is predicting for the first time - that is co

[2020-08-18 21:43] mercierkevin35 commented on #36111
I tried with a 3.7.* version of python instead of 3.8.* and it works for me

[2020-08-18 22:11] #42193 closed

[2020-08-18 22:16] MeghnaNatraj commented on #22803
Re-opening unresolved issue.

[2020-08-18 22:24] jvishnuvardhan commented on #42446
@lambdaphy custom loss function in keras returns a single value as in the above example we are using `tf.math.reduce_mean`. Simple example of reduce_mean is as follows.

[code]
`reduce_mean` of the above array `a` is 1 as shown in the output.

For Keras models, we need to define those custom_loss functions to provide a scalar loss for each batch. For custom_training, you can define loss functions

[2020-08-18 22:32] frreiss commented on #40171
Not sure why tensorflow-butler thinks this issue hasn't had recent activity. There is an open pull request for part of the problem described here.

[2020-08-18 22:57] WindQAQ commented on #42475
Hi @TAIYISONG , I make some changes and see the speed is the same. Please ignore the first step because tensorflow allocates optimizer's variable slots in this step.

1. You use adam for tf and sgd for pytorch: adam is much more time-consuming than sgd.
2. remove `tf.function` decorator: I'm not sure why removing this is faster.

https://colab.research.google.com/drive/1a__vqNBplMV8SvQpjfTlACFJsjw

[2020-08-18 23:20] quantitative-technologies commented on #39421
No, but that is because I am exclusively using Tensorflow 2 now.

On Mon, Aug 17, 2020 at 1:02 PM Saduf2019 <notifications@github.com> wrote:

[2020-08-18 23:22] MeghnaNatraj commented on #39489
You can get rid of the mean op dependency by replacing `GlobalAveragePooling2D()` with two operators as follows:

**BEFORE**
[code]

**AFTER**
[code]

Let us know if this works for you!

[2020-08-18 23:27] #39569 closed

[2020-08-19 00:09] nikitamaia commented on #42447
Hi @zendevil, the loss argument for `Optimizer.minimize` should be a callable, [as noted here in the docs](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer#minimize).

The error message you're seeing [is here in the source code:](https://github.com/tensorflow/tensorflow/blob/43cfb92ac5e2348718155905245194723f674697/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L499)

[2020-08-19 00:47] joker-eph commented on #42427
@gunan seem like static constexpr member variable that are missing a definition outside of the class, which is needed pre-C++17.
The compiler elides the uses in optimized build so this only shows up in debug builds.

[2020-08-19 00:49] rmanak commented on #38589
same issue here

[2020-08-19 01:20] lambdaphy commented on #42446
I know that when training a model we need a scalar loss for each batch. But according to the source code, the custom loss function is not responsible for getting this scalar loss. Could you check the source codes of the `Model.compile()`, `Model.fit()` , `Loss.__call()__` , `Loss.call()` and  `LossFunctionWrapper.call()` methods to look the calculating process of loss value of a training batch?

I

[2020-08-19 01:31] oracle3001 opened #42478 "Extremely Large Slow Down in Performance Between 21th July & 22nd July Nightly Release"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): Tf-Nightly-GPU
- TensorFlow version (use command below): 2.4.0.dev
- Python version: 3.7
- CUDA/cuDNN version: 10.1 / 7.6
- GPU model and memory: nVidia 2070 Max-Q

It appears some change was made between the nightly release of the 21st and the 22nd July 2020 that has caused a dramatic

[2020-08-19 01:32] lambdaphy commented on #42446
Based on the above analysis, we can see that when we define our custom loss **CLASS**, we should implement the `call()` method, and this `call()` method SHOULD return an array, not a scalar. But in the [guide](https://www.tensorflow.org/guide/keras/train_and_evaluate#custom_losses) on tensorflow, we can also see an example of custom loss class, just below the example of custom loss function:

[2020-08-19 02:12] essandess opened #42479 "Build Failure of version 2.3.0 in macOS, MacPorts #42090"
**Describe the current behavior**

Version 2.3.0 fails to build on macOS.

**Describe the expected behavior**

First issue, `Action failed to execute: java.io.IOException: Cannot run program… error=24, Too many open files`:
[code]

This is with system settings:
[code]

Starting the build again, another issue is encountered, apparently arising from https://github.com/tensorflow/tensorflow/pull/4065

[2020-08-19 02:13] essandess commented on #42090
Please see https://github.com/tensorflow/tensorflow/issues/42479

[2020-08-19 02:45] anhkhoa45 opened #42480 "SetNumThreads makes inference slower!"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Android 9
- Mobile device: Vsmart JOY 3
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.4.0
- Python version:
- Bazel version (if compiling from source): 3.1.0
- GCC/Compiler version (if compiling

[2020-08-19 02:46] psobot opened #42481 "TensorFlow Lite converter emits incorrect mask for StridedSlice when using ellipsis"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux, Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): tf-nightly-cpu-2.4.0.dev20200818

**Command used to run the converter or code if you’re using the Python API**
[code]

**Failure details**
The provided graph works in regular TensorFlow, and

[2020-08-19 02:48] BrikerMan opened #42482 "Missing masOS Big Sur build, Could not find a version that satisfies the requirement tensorflow"
**System information**
- OS Platform and Distribution: masOS Big Sur
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.3.0
- Python version: 3.7/3.8
- Installed using virtualenv? pip? conda?: virtualenv + pip

**Describe the problem**
Could not find a version that satisfies the requirement tensorflow (from versions: none)

**Provide the exact sequence of commands / ste

[2020-08-19 02:59] MeghnaNatraj commented on #42082
To resolve the second scenario, can you add one line in your code as follows and let us know if it works?:

[code]

[2020-08-19 03:03] MeghnaNatraj commented on #42082
You can resolve the second error by using removing all the lines `q_converter.inference_output_type = tf.uint8`. We're currently working on fixing this -- will post an update when it's done.

[2020-08-19 03:15] luke-iqt commented on #39489
@MeghnaNatraj Thanks for responding! That fix worked perfectly. I was able to export a TFLite model and run it on an OpenMV H7 Plus.

[2020-08-19 03:31] TAIYISONG commented on #42475
Hi @WindQAQ , thanks for helping me out! (What is the 'first step' you are referring to?)

Your suggestion works. **But** I test out some scenarios on my own machine (1660Ti) following your idea:

  1. **TF-SGD-without@tf.function** takes 0.009s.
  2. **Torch-SGD** takes 0.009s.
  3. **TF-SGD-with@tf.function** takes 0.09s
   (same as in @WindQAQ notebook and findings)
  4. **TF-Adam-without@tf.fu

[2020-08-19 03:36] hjc1009jin opened #42483 "ValueError: Tried to convert 'shape' to a tensor and failed. Error: None values not supported."
in tensorflow-gpu1.13.0，
def _phase_shift(I, r):

    bsize, w, h, c = I.get_shape().as_list()

    bsize = tf.shape(I)[0]

    X = tf.reshape(I, (bsize, w, h, r, r))

But there is such a problem
  File "D:\DeepLearningCode\hjc\model.py", line 236, in _phase_shift
    X = tf.reshape(I, (bsize, w, h, r, r))
  File "D:\Anaconda3\envs\tensorflow-gpu\lib\site-packages\tensorflow\python\ops\gen_array_o

[2020-08-19 03:39] freedomtan commented on #42480
If your device have less than 4 cores with same capability or some of the cores are busy, this is likely to happen.

[2020-08-19 03:42] KangGrandesty opened #42484 "non-zero `bias` of `Conv2D` in tflite file"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.15.0

All information is in [Colab](https://colab.research.google.com/drive/1yWwmAXHyBjNIivJKwmMMJT5V-37TEgph?usp=sharing)

Question:

Why the `Conv2D` op has non-zero `bias` input while they were setup

[2020-08-19 04:09] thaink commented on #42445
@hzq-zjm What model are you running?
Currently, only Conv2D and DepthwiseConv has multithreaded kernels.
So you will only get benefit of they are significant in your model.

[2020-08-19 04:09] yapifu commented on #42297
@amahendrakar
I run your code in Jupyter notebook, it gave me this : "'d:\\Anaconda3'"
however, I don't know whether it's the right version of python it uses.
I also check the link you gave.

I didn't see any Conda tab. Here is what my jupyter notebook look like.
![image](https://user-images.githubusercontent.com/67816810/90591117-d787a300-e1a7-11ea-8043-cb1fb75fbb81.png)

How can I change so that

[2020-08-19 04:13] anhkhoa45 commented on #42480
@freedomtan

Thanks for your reply! My device has 8 cores.

[2020-08-19 04:26] yapifu commented on #42297
It  looks like I have 2 pythons
One is under anacodna folder, one is in another folder
![image](https://user-images.githubusercontent.com/67816810/90591986-10287c00-e1aa-11ea-980b-a5f8b71da06c.png)

![image](https://user-images.githubusercontent.com/67816810/90592006-25050f80-e1aa-11ea-918d-0544f7fe7ffe.png)

any idea? the 2nd one, is the one I installed before anaconda, the first one is the one c

[2020-08-19 04:38] pavithrasv commented on #42446
@lambdaphy Thank you for the issue. Custom loss function is required to return one loss value per sample. The example will need to be updated to reflect this.

[2020-08-19 04:38] pavithrasv commented on #42446
If you are interested in making the change, please feel free to send me a PR.

[2020-08-19 05:09] SlowMonk opened #42485 "how to get a tensorflow tf by index?"
[code]

Then if I want to get the position 1148,1149<br/>

[code]

Then I got the following error <br/>

`    TypeError: Only integers, slices (`:`), ellipsis (`...`), tf.newaxis (`None`) and scalar tf.int32/tf.int64 tensors are valid indices, got <tf.Tensor: shape=(2,), dtype=int32, numpy=array([1148, 1149], dtype=int32)>
`
If I want to get the tensor's number by index how should I approach it?

[2020-08-19 05:12] SlowMonk commented on #42485
and if I want to set the different number

`            object_for_each_prior[prior_for_each_object] = tf.constant(list(range(n_objects)),dtype=tf.int64)
`
How should I do it?

[2020-08-19 05:30] ravikyram commented on #42459
I have tried in colab with TF version 2.3, nightly version(`2.4.0-dev20200818`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/0f47d46269897a03a6c56d227b306a52/untitled263.ipynb). Thanks!

[2020-08-19 05:44] ravikyram commented on #42467
@aligoglos

Please, provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2020-08-19 05:48] advaitjain commented on #42468
Copying some communication over email into this github issue:

Hi Yair,

We don't have an easy way to reproduce your error, so could you try one of these two fixes at your end and send in a PR if either of them work:

 * Add an appropriate check for your compiler version / platform in tensorflow/lite/c/common.h similar to [this commit](https://github.com/tensorflow/tensorflow/commit/481aec85d669da

[2020-08-19 05:55] aligoglos commented on #42467
this is code I executed :

[code]
I didn't do any other commands, just `py main.py`.

[2020-08-19 06:07] ravikyram commented on #42474
@Ashiix

I have tried in colab with TF version 2.3. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/3ca66219954eafae5dcb46e33f9959a1/untitled264.ipynb).You are also seeing the same behavior?

Thanks!

[2020-08-19 06:14] ravikyram commented on #42478
@oracle3001

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-19 06:22] ymodak commented on #42458
This is fixed now with commit [7e7641d](https://github.com/tensorflow/tensorflow/commit/7e7641d95c6c9b7e46b129c10ec7a965fb2f848d) . Thanks!

[2020-08-19 06:22] ravikyram commented on #42484
@KangGrandesty

Please, grant me access for the colab link.Thanks!

[2020-08-19 06:23] lakwin-chandula opened #42486 "AttributeError: module 'tensorflow' has no attribute 'python'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary):
- TensorFlow version: 2.3.0
- Python version: 3.6.10
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):
- GCC/Com

[2020-08-19 06:29] lambdaphy commented on #42446
Thank you for your reply. I'm very happy to contribute, but I am not familiar with using github to open pull request. In addition I'm not a native English speaker, so maybe I'm not competent to edit the documentation.

If you can edit the documentation, just help change it. Thanks.

[2020-08-19 06:30] lakwin-chandula commented on #42457
This attribute error seems to be triggered by `from tensorflow.python import keras as K`. I have changed it to `import tensorflow.python.keras.backend as K`. But then, it shows an `AttributeError: module 'tensorflow' has no attribute 'python'`.

[AttributeError: module 'tensorflow' has no attribute 'python' #42486](https://github.com/tensorflow/tensorflow/issues/42486)

[2020-08-19 06:36] Saduf2019 commented on #42457
@lakwin-chandula
As the new error faced is been tracked in #42486 we will have to move this issue to closed status please confirm, also as initial error abs is resolved as well.

[2020-08-19 06:43] Saduf2019 commented on #42485
@SlowMonk
Please fill the issue template for us to assist you with the issue.

[2020-08-19 06:45] #42457 closed

[2020-08-19 06:46] aligoglos commented on #42467
I have different `cuda ` in my system it could make problem for `TF`?

[2020-08-19 06:59] KangGrandesty commented on #42484
@ravikyram ,you can try again. [Colab](https://colab.research.google.com/drive/1yWwmAXHyBjNIivJKwmMMJT5V-37TEgph?usp=sharing)

[2020-08-19 07:02] i-tolmachev opened #42487 "Application crash when using SetNumThreads from tflite::impl::Interpreter"
**The issue**

We handle worker threads with different TFLite sessions in our mobile application and we set mInterpreter->SetNumThreads(0).
In this case, the call of mInterpreter->Invoke() causes an application crash (see the log below) regularly on a 32-bit application version (armeabi-v7a), but works as expected on a 64-bit version.

**System information**
- OS Android 8, 9, 10:
- Mobile device

[2020-08-19 07:06] Saduf2019 commented on #42482
@BrikerMan
Please check if you have the latest version of pip installed. As per the [documentation](https://www.tensorflow.org/install) TensorFlow 2 packages require a pip version >19.0.
You can upgrade pip using the below command:

python3 -m pip install --upgrade pip first

Also, please check the Python version installed on your machine. As per the [PyPI website](https://pypi.org/project/tensorf

[2020-08-19 07:10] Saduf2019 commented on #42439
@Al-Badri179
There are way too many indentation errors in the code please provide with a colab gist with the error for us to analyse.

[2020-08-19 07:19] Ananas120 commented on #42412
@amahendrakar  here is the link of the repo : https://github.com/Ananas120/Tacotron-2-tf2.0

I don’t test the training code (i just copy-paste the original one and removed the calls to ‘self.xxx’ by removing the self and passing the variable as argument) so i hope it works (i also added fake inputs to show the dtype and approximate shape)

The model is a C/C of the original i used (and had error)

[2020-08-19 07:20] Saduf2019 commented on #42454
I am able to replicate this issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/7bad14f22c5624458d66b3e6caf0bba8/untitled367.ipynb)
Thanks!

[2020-08-19 07:32] eladc4 commented on #42432
that's the error i get, so i guess i'll be solved in TF 2.4
thanks!

[2020-08-19 07:32] #42432 closed

[2020-08-19 07:35] 00001101-xt commented on #38100
Reducing the `batch_size` to 1 **didn't** work out for me.

[code]

[2020-08-19 07:41] kwijik commented on #40824
@gowthamkpr No problem. You can use the code from  https://github.com/kwijik/ict . If for some reason you cannot, follow these steps:
1 Install Visual studio 2019
2 Download images from my repository
3 Install ML.Net and Model Builder
4 Try to generate image classification model (here is an example https://dotnet.microsoft.com/apps/machinelearning-ai/ml-dotnet/model-builder)
After I describe my ac

[2020-08-19 07:49] lakwin-chandula commented on #42486
`import tensorflow.keras.backend as K` worked for me.

https://stackoverflow.com/questions/63481401/attributeerror-module-tensorflow-has-no-attribute-python-in-keras-tensorflo?noredirect=1#comment112254441_63481401

[2020-08-19 07:49] #42486 closed

[2020-08-19 07:55] freedomtan commented on #42480
It's unlikely you have a phone having 8 cores with same capabilities. Most SoCs available for Android nowadays are 4+4, 1+3+4, and 2+2+4.

[2020-08-19 08:01] dathudeptrai commented on #42475
@WindQAQ @WindQAQ maybe this issue related with (https://github.com/tensorflow/tensorflow/issues/38287).

[2020-08-19 08:13] anhkhoa45 commented on #42480
I don't think it's the problem since the other tflite model runs well with 4 threads.

(When testing this model I disabled the first one)

Is there any other factor that could affect the performance of tf multithread?

[2020-08-19 08:15] dathudeptrai commented on #38287
hi, please update and try to fix this issue. There is some people report this bugs recently. See (https://github.com/tensorflow/tensorflow/issues/42475). This bug cause slow training on language, signal model, please fix that. @mdanatg @omalleyt12 @fchollet

[2020-08-19 08:33] rohitthanki9 commented on #42455
Hi,

I have already install upgrade version of tensorflow 2.3.0. I am simply design basic CNN model.

[2020-08-19 08:39] leondgarse commented on #42082
Thanks for your update. Ya, removing `q_converter.inference_output_type = tf.uint8` will make it successful, but will leave `output` as `float32`.
[code]

[2020-08-19 08:42] Haskely opened #42488 "Questions about ctc_decode in tensorflow&keras"
https://github.com/tensorflow/tensorflow/blob/b36436b087bd8e8701ef51718179037cccdfc26e/tensorflow/python/ops/ctc_ops.py#L288-L335

About this function: tf.nn.ctc_greedy_decoder
[https://www.tensorflow.org/api_docs/python/tf/nn/ctc_greedy_decoder]

I want to know how this function specifies the Class Index to be used for the BLANK LABEL
Beacuse:
  # gen_ctc_ops.ctc_loss_v2 differs from gen_ctc_ops.

[2020-08-19 08:47] BrikerMan commented on #42482
Python: 3.7.8
Pip: 20.2.2

[code]

[2020-08-19 08:50] nvrsmeele commented on #42306
@jvishnuvardhan I was wondering if you had the time to look at this issue. Is the simplified reproduction code good enough? I am still facing this issue. If you need anything from my side, please let me know

[2020-08-19 08:54] Saduf2019 commented on #42394
@manojkumarmahato
Please try with CUDA 10.1 and let us know.
Please refer to [link](https://www.tensorflow.org/install/source#gpu).

[2020-08-19 08:57] zldrobit commented on #42085
Hello @cathy-kim , have you solved the problem?

[2020-08-19 09:24] emzei opened #42490 "Minimum requirement for Tensorflow Lite"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2020-08-19 09:27] Haskely commented on #42488
https://github.com/tensorflow/tensorflow/blob/a195c757e3e968f6dcbb5b1ad76c95c61dc7fb67/tensorflow/core/kernels/ctc_decoder_ops.cc#L223-L224

I have found its implementation in the c language source code, and found that it does takes num_classes - 1 as the blank label by default, so this is a bug.

[2020-08-19 09:30] Saduf2019 commented on #42488
@Haskely
Please fill in the issue template for us to help you.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 09:37] fisakhan commented on #22619
with tf.Session(config=tf.ConfigProto(
It doen't help me. I want to restrict tensorflow to only 1 out of 8 available cores but can't do that.
device_count={ "CPU": 1 },
inter_op_parallelism_threads=1,
intra_op_parallelism_threads=1,
and still count 8 threads. I want only 1 thread.

[2020-08-19 10:01] svobora opened #42491 "TFLite - enable XNNPACK with dynamic shapes of tensors"
**System information**
- TensorFlow version (you are using): 2.3.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
In 2.3.0, dynamic shapes  were fixed in TFLite ("TFLite now properly supports dynamic shapes during conversion and inference."). We can now process tensors with varying batch size, everything works, great.

However, running on

[2020-08-19 10:04] rohitthanki9 commented on #42455
Hi Abhilash,
I have simple call keras and tensorflow in below code and get mentioned errors.

import os
import sys
import random
import warnings #
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm
from itertools import chain
from skimage.io import imread, imshow, imread_collection, concatenate_images
from skimage.transform import resize
from skimage.morph

[2020-08-19 10:11] ketograph commented on #34641
Maybe not related to this problem, but to help others coming to this issue by searching this error message:
I had the same warnings with a custom model using a dataset from a generator without specifying the output shape. After adding the `output_shape` argument, the error was gone:

`tf.data.Dataset.from_generator(generator, output_types=(tf.float32, tf.float32), output_shapes=(tf.TensorShape([30

[2020-08-19 10:12] KangGrandesty commented on #42484
My ssd lite model has bias like above, too.

And then the ssd model throws:

[code]

Node number 35 is first `conv` of the 3rd squeeze-and-excite module in mobilenet v3 small. All of bias'value in this `conv` are -2147483648

[2020-08-19 10:20] gan3sh500 commented on #42390
What is the recommended way to debug such errors? If many possible operations are there which can fail. Is there a way to see which Op it was trying convert when failure happens?

[2020-08-19 10:26] amahendrakar commented on #42483
@hjc1009jin,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and the dataset you are using.

Also, TensorFlow v1.13 is not actively supported. Please update TensorFlow to v1.15 or v2.3 and check if you are facing the same issue. Thanks!

[2020-08-19 10:27] korabelnikov commented on #32857
@liyunlu0618  any updates?

[2020-08-19 10:29] manmay-nakhashi commented on #40504
@thaink any update on this ?

[2020-08-19 10:40] engrmz commented on #31315
I solved the error by replacing `tf.io.gfile.FastGFile` to `tf.io.gfile.GFile`.

[2020-08-19 11:49] renatobellotti commented on #22619
Does [this](https://www.tensorflow.org/api_docs/python/tf/config/set_logical_device_configuration) help?

[2020-08-19 11:49] hjc1009jin commented on #42483
batch_size = 32
patch_size = 48
sess = tf.Session(config=config)
input_low = tf.placeholder(tf.float32, [None, None, None, 3], name='input_low')
input_high = tf.placeholder(tf.float32, [None, None, None, 3], name='input_high')
out_image = network(input_low)

def network(input):
    ......
    conv_transition_01 = slim.conv2d(concat01,32,[3,3], rate=1, activation_fn=lrelu)#b,h,w,32
    conv_transit

[2020-08-19 11:54] Meesaan commented on #37876
Well, I do not know why this happens. However, the error disappeared when I reduced the batch size from 64 to 32 and increased image size from 150 to 256. Still have all my callbacks intact.

[2020-08-19 11:58] sgiraudot opened #42492 "Missing headers when using the C++ library"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint 19
- TensorFlow installed from (source or binary): source
- TensorFlow version: r2.3
- Python version: 3.6
- Bazel version (if compiling from source): 3.1.0
- GCC/Compiler version (if compiling from source): clang 6.0.0

**Describe the problem**

I'm having a hard time using the C++ library of TensorFlow.

[2020-08-19 12:00] #42456 closed

[2020-08-19 12:01] zhaoxin111 commented on #29751
Have you solve the problem? I have the same problem with you.

[2020-08-19 12:14] hjc1009jin opened #42493 "TypeError: unsupported operand type(s) for *: 'NoneType' and 'NoneType'"
batch_size = 32
patch_size = 48
sess = tf.Session(config=config)
input_low = tf.placeholder(tf.float32, [None, None, None, 3], name='input_low')
input_high = tf.placeholder(tf.float32, [None, None, None, 3], name='input_high')
out_image = network(input_low)
def network(input):
......
conv_transition_01 = slim.conv2d(concat01,32,[3,3], rate=1, activation_fn=lrelu)#b,h,w,32
conv_transition_01 = NonL

[2020-08-19 12:20] psinker commented on #42467
Just wanted to mention that we get the same "_no kernel image is available for execution on the device_" error with TensorFlow 2.3.0 on our NVidia 940MX cards (which are also compute capability 5.0, similar to author's 960M) in both precompiled python and c_api libraries. However, the same code is running fine on NVidia 1080Ti (compute capability 6.1) and 2080Ti (compute capability 7.5) cards.

We

[2020-08-19 12:20] s00r16 opened #42495 "error while importing tensorflow"
ImportError                               Traceback (most recent call last)
~\anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     63   try:
---> 64     from tensorflow.python._pywrap_tensorflow_internal import *
     65   # This try catch logic is because there is no bazel equivalent for py_extension.

ImportError: DLL load failed while importing _pywrap_tensorflow_

[2020-08-19 12:23] ravikyram commented on #42495
@s00r16

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
.Also, please follo

[2020-08-19 12:45] sunzhe09 commented on #17353
me too

[2020-08-19 12:46] Jordy-VL commented on #42263
I tried it with Tf.TensorArrray.
[code]
I got the following error:
`ValueError: Size must be declared for TensorArrays when eager execution is enabled.`

[2020-08-19 13:03] s00r16 commented on #42495
@ravikyram
on anaconda is it necessary to make a different environment for tensorflow?
make/model of my cpu is Intel(R) Core(TM) i5-8265U CPU @ 1.60GHz  1.80GHz

[2020-08-19 13:33] TAIYISONG commented on #42475
@dathudeptrai
Yes it seems similar, and this issue is more on optimizer side #42475. Both are about unacceptable slow training speed.

[2020-08-19 13:37] rmothukuru commented on #42423
@Zhao-Kuangshi,
When trying to reproduce the error, I encountered the error,

`FileNotFoundError: [Errno 2] No such file or directory: 'result/experiment_2_0816/x.npy'` . Can you please share the files, `x.npy` and `y.npy`. Thanks!

[2020-08-19 13:50] rmothukuru commented on #42417
@zowen,
Please refer this [Tensorflow Documentation for Ragged Tensor](https://www.tensorflow.org/guide/ragged_tensor#keras) which demonstrates on how to build a Model using `Ragged Tensor` and let us know if it helps. Thanks!

[2020-08-19 14:02] Zhao-Kuangshi commented on #42423
Thanks for your prompt reply. Github Issues cannot seem to upload files. And my `x.npy` is really a huge file (which is 7.5G). So I recommand you to use code below:

[code]

to replace `np.load()` lines in my original code.

Before doing that, you should ensure you've got enough computer memory because the matrix with the shape `(63, 1330, 3001, 8)` is really large. You can also use a smaller matr

[2020-08-19 14:07] manmay-nakhashi commented on #40504
two files from different tf-lite bersions
[fastspeech_2.3.txt](https://github.com/tensorflow/tensorflow/files/5096964/fastspeech_2.3.txt)
[fastspeech_2.4.0_19_8_nightly.txt](https://github.com/tensorflow/tensorflow/files/5096975/fastspeech_2.4.0_19_8_nightly.txt)

[2020-08-19 14:09] Harsh188 commented on #25802
#42496

[2020-08-19 14:11] amahendrakar commented on #42493
@hjc1009jin,
In order to expedite the trouble-shooting process, could you please provide the TensorFlow version, the complete code to reproduce the issue and the dataset you are using. Thanks!

[2020-08-19 14:12] rmothukuru commented on #42380
@leszekmp,
Can you please share the below details:

1. Browsers of all the 3 computers, in which you've tried opening Embedding Projector
2. Operating Systems of all the 3 Computers
3. Screenshots of both working and non-working Embedding Projectors.
4. Steps you have followed to visualize the embeddings.

Thanks!

[2020-08-19 14:12] Harsh188 commented on #25802
Looks like the changes made to `tf.math.acos` and `tf.math.add` were not merged with the previous PRs. I have opened a new PR to address this. Since this is my first PR I'm limiting the number of changes I make to only the `.pbtxt` files. Once I get this sorted out I will begin to modify `.Docs` in `math_ops.cc` to reflect the changes.

[2020-08-19 14:23] engrmz commented on #29252
Hello,
This solves my error.

[code]

[code]

[2020-08-19 14:27] #41945 closed

[2020-08-19 14:35] amahendrakar commented on #42325
@spate141,
Thank you for the update. Marking this issue as close since it is being tacked in the serving repo. Thanks!

[2020-08-19 14:35] #42325 closed

[2020-08-19 14:42] Saduf2019 commented on #42311
@micahreich
Please provide with latest indented code for me to replicate the issue, or if possible share a colab gist with the error.

[2020-08-19 14:43] Saduf2019 commented on #42398
@jeball
Please try latest version of tf and let us know if the issue exist.

[2020-08-19 14:46] jeball commented on #42398
Last I knew TF 2.1.0 was the latest version supported on Windows 10. I will try TF 2.3.
I still have a question – if I install via Conda will it work or does it require a pip install?

Thanks

John Ball, Ph.D.
Associate Professor and Robert Guyton Endowed Chair for Teaching Excellence | Electrical and Computer Engineering

[cid:image001.png@01D6760D.8BD3BC10]
Associate Editor | IEEE Signal Process

[2020-08-19 14:53] Saduf2019 commented on #42463
@Fetzii
Please try limiting GPU memory growth as shown in this [guide here](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and let us know if you are facing the same issue.

Can you please try setting allow_growth option at the top of your code:

[code]

You may refer to similar error issues below:
#41886 #36025  #41196 [link](https://stackoverflow.com/questions/53698035/failed-t

[2020-08-19 15:00] Al-Badri179 commented on #42439
I don't know how to do that in colab, how you can assist me to do this?

[2020-08-19 15:18] tanguycdls commented on #42280
hi thanks @bela127 @gowthamkpr yes it works but for performance reason i want to graph it. I could wrap it into a tf function but my input is a dict of ragged tensor and those are currently not supported well while in a dict.
In the mean time i found another trick: if you use a generator and predict instead the check does not happen as well.

I just find that check odd at such high level of the ap

[2020-08-19 15:22] Saduf2019 commented on #35783
@bersbersbers
I ran the code on tf-nightly [2.4.0-dev20200819] and do not face any issues, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/e0171158ebee39eb2d30adb7054af8bc/untitled380.ipynb).

[2020-08-19 15:27] #41964 closed

[2020-08-19 15:28] Lipod commented on #42454
In the meantime, as a workaround I created a standalone 'layer' and incorporated it into my input pipeline instead of in the model, e.g.:
[code]
This is probably abuse of a keras layer, but it seems to work on a TPU.

[2020-08-19 15:30] amahendrakar commented on #42403
Was able to reproduce the issue with the latest TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/177a582408224d4dd8cf48cc075560cc/42403-tf-nightly.ipynb). Thanks!

[2020-08-19 15:32] bersbersbers commented on #35783
@Saduf2019 your code does not raise an error. That is the issue, you are reproducing it just fine. Please see https://github.com/tensorflow/tensorflow/issues/35783#issuecomment-573662235 for context.

[2020-08-19 15:36] Saduf2019 commented on #35783
This issue is still persist on 2.4.0-dev20200819

[2020-08-19 15:51] gunan commented on #42340
@meteorcloudy could you take a look?

[2020-08-19 15:54] pkanwar23 commented on #42047
Hi all: We made the changes for Ubuntu last night. Changes for Windows should land soon.

[2020-08-19 16:02] mihaimaruseac commented on #42303
Can you send a PR please?

[2020-08-19 16:25] jvishnuvardhan commented on #42459
@ThatDockerUser This is a known [issue](https://github.com/tensorflow/tensorflow/issues/42045). Team is working on correcting it.

Please check the response from @k-w-w

With the above change (workaround), the results are same before saving and after loading the model back. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/6ec731f53fcabf9444c1cd430e4d5dfb/untitled2

[2020-08-19 16:38] filipbartek commented on #26033
[tf.keras.backend.set_floatx](https://www.tensorflow.org/api_docs/python/tf/keras/backend/set_floatx) seems to be doing this.

[2020-08-19 16:38] jvishnuvardhan commented on #41958
@HKatoo This is a known issue that team is working on. Please check the the comment by @k-w-w

With the above modification, `acc1` and `acc2` are the same. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/c50083ed3bdeea12ef14ef83724e6cbb/41958.ipynb).

Let's monitor the progress [here](https://github.com/tensorflow/tensorflow/issues/42045#issuecomment-674232499) i

[2020-08-19 16:43] #42468 closed

[2020-08-19 16:46] tomerk commented on #42429
So a number of comments looking at this colab:

1. compat.v1.disable_eager_execution is not supposed to put you in a performance-optimized graph. It puts you in a legacy graph compatibility mode that is meant to keep behavior the same as the equivalent APIs in TF 1.x. Performance in compat.v1 graphs takes a backseat to general eager performance.

The appropriate way to use performance-optimized-gr

[2020-08-19 16:54] ablanch5 commented on #42320
Maybe I'm not reading it properly but it doesn't seem like that issue was actually resolved it was just propogated to a different issue. I agree the same problem is being discussed. Anyway hoping tagged tensors can be supported for labels in the future without the need for custom code on user end.

[2020-08-19 17:21] nikitamaia commented on #42263
You can set the `size` argument to your TensorArray. With `dynamic_size=True` then the array can grow past its original size. You can see that noted under the [Args section of the TensorArray docs](https://www.tensorflow.org/api_docs/python/tf/TensorArray) for `dynamic_size`

[2020-08-19 17:34] #42458 closed

[2020-08-19 17:36] Saduf2019 commented on #42482
@BrikerMan

Can you please verify is you are using 32 bit python version.

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the latest [microsoft visual c++ redistributable from here.](https://support.microsoft.com/en-us/help/29

[2020-08-19 18:08] matthewbauer commented on #24752
This was fixed in b39b1ed24b4814db27d2f748dc85c10730ae851d btw

[2020-08-19 18:14] OverLordGoldDragon commented on #42429
@tomerk Thanks for the insight, had no clue `tf.compat.v1` wasn't the supposed way to Graph. I'd definitely recommend an explicit Eager vs. Graph guide.

However, I commented the line, and switched to `.fit`, and `@tf.function def return model.train_step`; they run 13% and 7%, respectively, slower than `.train_on_batch` with `tf.compat.v1.disable_eager_execution()`, still on numpy data. The idea i

[2020-08-19 18:16] OverLordGoldDragon commented on #42429
I'll test again later on K80 and see if it makes a difference; if Graph is 8 sec again with all three modes while Eager is 4 sec, there's still some explaining to do. And to clarify, this is the Graph function I use:

[code]

[2020-08-19 18:18] sqiprasanna commented on #20271
Hey @BramVanroy can you tell me how you linked libcudnn.so.8 to libcudnn.so.7

[2020-08-19 18:24] BramVanroy commented on #20271
It's called symlinking or soft linking: https://askubuntu.com/questions/56339/how-to-create-a-soft-or-symbolic-link

[2020-08-19 18:30] Eric-Le-Ge opened #42498 "ConnectionResetByPeer using MultiWorkerMirroredStrategy with Native Keras BERT Model"
**Describe the current behavior**

I am trying to use the following script to run multi-worker distributed training on a Google Kubernetes Engine (GKE) cluster. The script completes and uploads the trained model when there is only one worker. However, it fails with a connection reset by peer error after some arbitrary number of steps when I use multiple nodes.

**Standalone code to reproduce the i

[2020-08-19 18:33] #42447 closed

[2020-08-19 18:49] ymodak commented on #42484
@KangGrandesty Can you try expand the `bias` values in the Netron app and inspect?
You should be seeing a bunch of zero values.
I made a toy example to work with TF 2.X way since all new updates are available for TF 2.
Please see the [gist](https://colab.research.google.com/gist/ymodak/178876aac1e5d019244b436479cf3b99/post_training_integer_quant.ipynb)

In the netron viewer on expanding the biases

[2020-08-19 18:58] ymodak commented on #40888
You can try enabling XNNPACK using Java Api for android.
See https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/delegates/xnnpack#enable-xnnpack-via-java-api-on-android-recommended-on-android

[2020-08-19 19:02] 17patelumang commented on #42374
@mdanatg  can you please advice ?

[2020-08-19 19:09] ymodak commented on #42147
@andreydung Is this still an issue? https://github.com/tensorflow/tensorflow/issues/42277#issuecomment-674723602

[2020-08-19 19:16] 17patelumang opened #42499 "multi-dimensional array frequency count TF API"
**System information**

     OS Platform and Distribution : macOS Catalina 10.15.3

    TensorFlow installed from : binary

    TensorFlow version : 1.15.0

    Python version: 3.7.3

**Describe the current behavior**

We have a tensor

input = `tf.Tensor([[1296,266,504,190,44,60,13,2,337,6742,2667,14,1,119,580,338,785,739,855,200,37,1,3,4,5,6],
 [1296,266,504,190,44,60,13,2,337,6742,2667,14,1,119

[2020-08-19 19:21] drebain opened #42500 "tf.dynamic_partition causes crash when using multiple GPUs via tf.distribute.MirroredStrategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 18.04.2**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use comm

[2020-08-19 19:34] karimnosseir commented on #42481
@renjie-liu Can you please have a look

[2020-08-19 19:54] ymodak commented on #42358
Does this happen on Linux system enabled with cuda support?
The cuda compute capability for Quadro M2000M | 5.0 which is not in the [list of supported architectures](https://www.tensorflow.org/install/gpu#hardware_requirements).

[2020-08-19 20:10] ymodak commented on #42247
The datatype of `alpha` is changed to float under the hood.
See https://github.com/tensorflow/tensorflow/blob/b36436b087bd8e8701ef51718179037cccdfc26e/tensorflow/python/ops/random_ops.py#L556
The seg fault is caused to a complex shape `[100, 100, 100, 100, 100]`.

[2020-08-19 20:21] nikitamaia commented on #41040
Hi @mtsokol, I think the problem here is the use of the tf.keras placeholder. You'll notice that if you run the code with the newest tf-nightly, even the basic version of GradientTape (ie without concat) also results in an error! The message is:
`ValueError: Passed in object of type <class 'tensorflow.python.keras.engine.keras_tensor.KerasTensor'>, not tf.Tensor
for g.watch(x)`

As you can see [fr

[2020-08-19 20:27] #41991 closed

[2020-08-19 20:27] #41985 closed

[2020-08-19 20:28] qlzh727 commented on #40986
Sorry for the long wait. I am not sure if this is a LSTM problem, or a graph conversion problem. Assigning to @gargn from tf-lite team.

[2020-08-19 20:34] skgreb commented on #42438
@ravikyram
I tried all the setup and it finally worked by using python3.7 and also with python3.6 and with the command pip install tensorflow
Thank you for your help

[2020-08-19 20:34] nikitamaia commented on #39545
Closing this thread since this is a known performance issue, and a workaround was found in #41898. If the workaround of using `MultiWorkerMirroredStrategy` explained in #41898 does not help your performance, please open a new issue.

[2020-08-19 20:34] #39545 closed

[2020-08-19 21:06] awav commented on #26033
Not exactly, it works for Keras only and doesn't have any effect on the rest of TensorFlow.

[2020-08-19 21:16] advaitjain commented on #42476
Confirming that this issue is reproducible.

The root cause is the ```-e``` flag to bash at [this line](https://github.com/tensorflow/tensorflow/blob/59c06b9016700dbf1ab0cefc062d247345cdd0f0/tensorflow/lite/micro/testing/test_linux_binary.sh#L1).

Modifying hello_world_test.cc to cause an error and then running the following command:
[code]

results in no output log on the terminal (while the erro

[2020-08-19 21:24] karimnosseir commented on #42366
This model can be converted using TF_SELECT option, since it has some unsupported operations by TF Lite.
See https://www.tensorflow.org/lite/guide/ops_select
Also, added @abattery who converted this model before and can guide you if needed.

[2020-08-19 21:33] sanjoy commented on #42467
Yes.  See [here](https://www.tensorflow.org/install/gpu).

[2020-08-19 21:46] pooyadavoodi opened #42502 "Missing momentum in documentation of ResourceApplyCenteredRMSProp"
The issue is for this page: https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/resource-apply-centered-r-m-s-prop

`momentum` is missing from the list of arguments.

Current doc has this:

[code]

This should be instead like this (momentum added after rho):

[code]

### Clear description
This could be due to a bug in the scripts that auto-generate the api-def.

This is the op registration

[2020-08-19 21:47] evancasey commented on #34942
@jsimsa we would like to reproduce the issue using `vmodule=dataset=2` but can not figure out how to provide that flag in tensorflow 2.0. Please advise.

[2020-08-19 21:54] jsimsa commented on #34942
Based on [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/default/logging.h), I believe that executing your program with the environment variable `TF_CPP_VMODULE` set to `dataset=2` should have the desired effect.

[2020-08-19 22:07] #42476 closed

[2020-08-19 22:27] #40676 closed

[2020-08-19 22:56] zrion commented on #39132
I'm having this message with cuda 11 installed. As I know cuda 11 should be backward compatible with everything using cuda 10. Does it have any negative effects? It also shows "Ignore above cudart dlerror if you do not have a GPU set up on your machine."

[2020-08-19 23:41] impjdi commented on #42252
@wanglei-source

Can you add details of the mobile device that you're using?  We need more info such as manufacturer & model, e.g. Samsung Galaxy S12, and your GPU specs, e.g. Adreno 650.

[2020-08-20 00:18] sanjoy commented on #41938
@ebrevdo Any idea what's going on?  `__xla_cpu_runtime_EigenMatMulF64` is defined in `compiler/xla/service/cpu/runtime_matmul.cc`, maybe `saved_model_cli` is not picking it up for some reason?

[2020-08-20 00:30] terryheo commented on #42471
Current build system assumes that Bazel is running under x86_64. So you'd better build it on x86_64 machine with "--config=elinux_armhf"

[2020-08-20 00:36] terryheo commented on #42490
You can start with TFLite C library.
https://www.tensorflow.org/lite/guide/build_rpi#c_library
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/c

If you need more tiny inference platform, you can consider TFLite micro.
https://www.tensorflow.org/lite/microcontrollers

[2020-08-20 00:41] Vignesh-Sampat commented on #38762
Facing Same issue while trying to use Bert encoder by warping tf.py_function in data pipeline. I am using TensorFlow 2.2 TPU v3-8. Has this issue been solved?

[2020-08-20 00:50] #42329 closed

[2020-08-20 01:03] sanjoy commented on #41940
This isn't too surprising for triangular solve since XLA has fairly naive implementation.

For GEMM this is quite surprising.  Maybe the AOT compiled GEMM is using only one thread?  Can you try passing `--enable_multithreading` to `saved_model_cli aot_compile_cpu`?

CC @ebrevdo

[2020-08-20 01:26] ebrevdo commented on #41940
For `aot_compile_cpu` if I remember correctly we explicitly disable this because we avoid adding additional external dependencies on things like `libnsync`.  If you look at the docstring for `enable_multithreading` you'll see it's not supported.

[2020-08-20 01:48] cathy-kim commented on #42085
@zldrobit Actually, No.
I just replace 'MUL'(in TFLite, that operation is the same as 'FullyConnected') to another operation.

[2020-08-20 02:05] BrikerMan commented on #42482
It is a 64bit python. checkout this. And I am using MacBook Pro (13-inch, 2017, Two Thunderbolt 3 ports). I am able to run tf 2.2.0 before I installed the `Big Sur Beta`

[code]

[2020-08-20 02:08] zowen commented on #42417
Sure, I read through that before trying anything with Ragged Tensors. Since convolutions are not conceptually bound to fixed dimensions I would hope that it could be applied to a ragged tensor, leading me to raise this bug/feature request.

[2020-08-20 02:33] KangGrandesty commented on #42484
I run my example in tf2, but the bias is still non-zero.

[mnist tf2 Colab](https://colab.research.google.com/drive/19avZS7BdPdwAEAEqyVmYoxB_uICijULw?usp=sharing)

![20200820101651](https://user-images.githubusercontent.com/19343603/90709235-4fe88400-e2ce-11ea-850f-a57780f91ed6.png)

If I remove  the `bn` layer:

[mnist no bn tf2 Colab](https://colab.research.google.com/drive/1aoOacX7BeSS3SomFpIii

[2020-08-20 02:48] kalaluthien opened #42504 "Duplicated target in TFLite Makefile ?"
**Describe the current behavior**
It seems that there is a duplicated target in `lite/tools/make/Makeflie`

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/make/Makefile#L318-L320

[code]

**Describe the expected behavior**

[code]

[2020-08-20 03:01] OnlyBelter commented on #39009
If I use custom constraint as `kernel_constraint` when I create a model:

    model = keras.Sequential([keras.layers.Dense(y.shape[1], activation='softplus',
                                                 kernel_constraint=SumConstraint(axis=0),
                                                 # kernel_constraint=keras.constraints.MinMaxNorm(),
                                                 bi

[2020-08-20 03:11] OnlyBelter opened #42505 "Custom Constraint not working"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-08-20 03:35] HKatoo commented on #41958
@jvishnuvardhan Thank you!

[2020-08-20 03:35] #41958 closed

[2020-08-20 03:55] laplace674 commented on #33264
I met this problem today. As I see, EagerTensor will automatically change to suitable type when been used and can be easy to transfer to numpy array with . numpy(). But Tensor will change all result to Tensor type when been called, and I haven't found a way to transfer Tensor type to any other type yet, I'm using TF2.2 and I cannot .eval the Tensor type

[2020-08-20 03:58] #42484 closed

[2020-08-20 04:19] mrdbourke opened #42506 "tf.keras.applications.EfficientNetB- not running as expected"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version (use command below): v2.3.0-0-gb36436b087 2.3.0

**Describe the current behavior**

[tf.keras.applications.EfficientNetB-](https://www.tensorflow.org/api_docs/python/tf/keras/applications/EfficientNetB0) not behaving like other tf.keras.applications modules.

In seems any of the EfficientNe

[2020-08-20 04:20] dan0978520303 commented on #42256
hi @zldrobit
i have a same issue~~
and then test #33393 tensorflow 1.15.0 but have a trouble .
tensorflow-addons hope tensorflow1.15.0 to tensorflow 2.x

under is command line log
'''
ImportError: This version of TensorFlow Addons requires TensorFlow version >= 2; Detected an installation of version 1.15.0. Please upgrade TensorFlow to proceed.
'''

ps . i install tensorflow-addons 0.5.0

[2020-08-20 04:42] ravikyram commented on #42321
@zohimchandani

Can you please provide simple standalone code to reproduce  the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-20 04:52] #42467 closed

[2020-08-20 05:12] anidh opened #42507 "Timing discrepancy between tflite benchmark tool and android"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Oneplus 5, Oppo F11 Pro
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (

[2020-08-20 05:16] Saduf2019 commented on #42256
@zldrobit
I ran the code on 2.3, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/9133c142c3231beb79c2ed6a86ae5330/untitled379.ipynb ), whereas in nightly i face an issue, [gist for nightly](https://colab.research.google.com/gist/Saduf2019/4d5120b5e5fc76c7329592bbeb4c89e7/untitled379.ipynb).

@dan0978520303
Can you please try with later versions of tf and let us know if

[2020-08-20 05:56] ravikyram commented on #42500
@drebain

I have tried in colab with Tensorflow -GPU version 2.3.0 and i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/1179cb07cd83075aacbfa1dc7835e8f9/untitled267.ipynb).Thanks!

[2020-08-20 06:03] drebain commented on #42500
The output includes `INFO:tensorflow:Using MirroredStrategy with devices ('/job:localhost/replica:0/task:0/device:GPU:0',)` which I think indicates that it is only running with a single GPU available. The crash only happens when there are at least two devices present. I don't know if this is possible to test with colab.

[2020-08-20 06:05] ravikyram commented on #42438
@skgreb

Please, close this thread if your issue was resolved.Thanks!

[2020-08-20 06:27] #41888 closed

[2020-08-20 06:32] Srikeshram commented on #42506
Tweaking the Learning Rate or Changing the optimizer might help you...I think this is caused due to the mismatch dataset with the optimizer....

[2020-08-20 06:34] ravikyram commented on #42505
@OnlyBelter

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-20 06:45] dan0978520303 commented on #42256
tf2.3 can work in my converter (pb -> tflite) but the graph appear AddV2 (have same trouble with author)

i still find version (tf, onnx-tf, ... ) such that AddV2 becoming Add

appreciation any advice !!!

[2020-08-20 07:13] zldrobit commented on #42256
@Saduf2019 , I notice that you changed
`converter.allow_custom_ops = False` to `converter.allow_custom_ops = True`.
It won't work if you use `converter.allow_custom_ops = False`.

@dan0978520303, I find that TF v2.1.1 works in converting tf.AddV2 to tfl add.

I conjuecture that something is wrong with v2.3.0 MLIR TFLite converter.

[2020-08-20 07:26] dan0978520303 commented on #42256
hi! thank you replication~
But i run the tf2.1.1 still appear familiar situation (attr.value_case() == AttrValue::kType (1 vs. 6)) ps : tf2.3 , it can work
Can i see your environment (pb to tflite file )?
thx very much~~~
I stuck over 5 days =(

[2020-08-20 07:38] Saduf2019 commented on #42286
@dansitu
I ran your code as mentioned above on tf-nightly and did not face any error, please find [gist here](https://colab.research.google.com/gist/Saduf2019/2a93aacc1403d6561356aca9fe072f1f/untitled377.ipynb)

[2020-08-20 08:07] rani-pinchuk commented on #41739
None of the explanations above address the most important issue here: when downloading one of the *compiled* packages from https://www.tensorflow.org/install/lang_c, it comes with a THIRD_PARTY_TF_C_LICENSES file that contains, among other things, the following:
"Following applies to:
  everything under ./bench/btl

                    GNU GENERAL PUBLIC LICENSE
                       Version 3, 2

[2020-08-20 08:07] meteorcloudy commented on #42340
Hi @quasar66 , can you rebuild  with `--verbose_failures` and provide the error message here? Thanks!

[2020-08-20 08:19] iishipatel commented on #40959
As suggested by @mihaimaruseac, I would like to work on making the diagnose_me.py script.

[2020-08-20 08:30] OnlyBelter commented on #42505
It seems like both v2.2 and v2.3 can work well on [colab](https://colab.research.google.com/gist/OnlyBelter/31fc0f61dd94117d170111bb50236197), but both versions cannot work on windows 10.

So I think this may a problem depends on operation system.

[2020-08-20 08:35] zldrobit commented on #42256
@dan0978520303  Of course.
It's just the [first thread](https://github.com/tensorflow/tensorflow/issues/42256#issue-677499982) I wrote in this issue .
It seems you are using the *OLD* TOCO converter, while the key is to turn the experimental converter switch *ON*:
[code]

[2020-08-20 08:49] murdockhou commented on #42253
one week passed, still no answer.

[2020-08-20 08:52] Lif3line commented on #42057
@Saduf2019 it might be relevant to add tags for versions 2.1 & 2.3 as I can confirm this issue is present in those releases. I don't believe I can add those myself.

[2020-08-20 09:04] dan0978520303 commented on #42256
thx~~~
I add this '''converter.experimental_new_converter = True ''' to avoid  AttrValue::kType (1 vs. 6) problem =)
But i encounter this error
'tfl.padv2' op failed to verify that operand 0's rank equals operand 1's size

Could you encounter this error ?
thx one more again !!!

[2020-08-20 09:12] prprprus commented on #34186
https://github.com/galeone/tfgo#train-with-tfestimator-serve-in-go, tfgo might help you.

[2020-08-20 09:21] haowang-ms89 commented on #42010
I am using TPU on Google Colab Pro. Just want to add that tf.keras.preprocessing.image_dataset_from_directory produce another kind of error message when using TPU:
NotImplementedError: unable to open file: _gcs_config_ops.so, from paths: ['/usr/local/lib/python3.6/dist-packages/tensorflow_gcs_config/_gcs_config_ops.so']
caused by: ['/usr/local/lib/python3.6/dist-packages/tensorflow_gcs_config/_gcs

[2020-08-20 09:26] Fetzii commented on #42463
Solved issue using #36025

[2020-08-20 09:26] #42463 closed

[2020-08-20 09:28] hzq-zjm commented on #42445
Thks for your reply. There are two models in my project, one of which is trained based on deeplab-v3 +, and the other is OCR model  based on densenet-18.  All models are quantized by post quantization, which makes multithreading not work?

[2020-08-20 09:30] amahendrakar commented on #42499
@17patelumang,
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2020-08-20 09:45] #42438 closed

[2020-08-20 09:46] leaving-voider commented on #24380
非常谢谢，解决了我的问题！

[2020-08-20 09:48] OnlyBelter commented on #42505
I find this error showed when I try to load model instead of create model:

[code]

Even if I set `compile` to False or pass `custom_objects` like this [issue](https://github.com/keras-team/keras/issues/5916) said or this question https://stackoverflow.com/a/57985788/2803344.

[2020-08-20 09:57] marcoadurno commented on #41938
Hi @sanjoy , @ebrevdo,

The strange bit is that when compiling graphs with `saved_model_cli` that for example only have `dgemm`, everything works as expected: `saved_model_cli` picks up `__xla_cpu_runtime_EigenSingleThreadedMatMulF64`, linking with mini-runtime that comes with pip succeeds.

However, when the graph contains `cholesky` and/or `triangular_solve` ops, it's picking `__xla_cpu_runtime_

[2020-08-20 09:59] ysyyork commented on #37505
i noticed the validation_data is actually causing the memory leak. not sure if it's because of my implementation cus I'm using dataset as a wrapper of my multiprocessing data loader. I'm using `tf.data.Dataset.from_generator(generator_fun, ...)` What happens to me is that if you dig into the source code, you will actually see that the validation data and the train x in the fit function are treated

[2020-08-20 10:13] ScruffySilky commented on #42038
So you guys upgrade your back-end and I as a paying customer must just forget my project because it doesn't work on your new platform. Is there any resolution to this...

[2020-08-20 10:14] amahendrakar commented on #42507
@anidh,
In the issue template you have mentioned the TensorFlow version as v1.15 and later you have stated that you have built the model using TF v2.0. Could you please specify the exact TensorFlow version you are using?

Also, please update TensorFlow to the latest version v2.3 and check if you are facing the same issue. Thanks!

[2020-08-20 10:24] anidh commented on #42507
Hi There, I'm sorry for that, The model was trained using tf - 1.13.1 and the pb to tflite conversion was done using tf 1.15. The conversion command which was used was ``` tflite_convert --output_file=espcnus_2x_harmonic_360p_rtr.tflite --graph_def_file=espcnus_2x_harmonic_360p_rtr.pb --input_arrays=x --output_arrays=y --input_shape=1,360,640,1 --inference_input_type=QUANTIZED_UINT8 --mean_values=

[2020-08-20 10:29] jliebers commented on #24828
This problem also in general can happen if there is not enough VRAM available for the `model.fit()`. This cryptic exception happens instead of the common OOM error when using convolutional layers. (Using TF 2.2) Allowing growth does not help in this case, if no VRAM is available.

[2020-08-20 10:42] bigboy32 commented on #24496
Is there a fix for this issue with tensorflow 2???

I have a:
RTX 2080

I am getting this message:

[code]

[2020-08-20 10:45] ZJaume commented on #38503
I found the same error on my Keras code when I switched to a generator `keras.util.Sequence`. Disabling eager execution solves the problem but the network trains too slow with the generator. Data is pre-loaded on ram and every `__getitem__` step only grabs a slice from the numpy dataset, so I assume the generator is not the bottleneck.

[2020-08-20 10:46] ravikyram commented on #42495
@s00r16

The default environment has tensorflow preinstalled.No need to make different environment for Tensorflow.

Did you install the [latest microsoft visual c++ redistributable](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).

[2020-08-20 10:57] korosig commented on #39873
Have you solved this issue? I have the same problem.

[2020-08-20 11:04] oattao commented on #38589
I had the same issue. I tried upgrade Keras to the newest version and the error gone.

[2020-08-20 11:11] yenigma commented on #42474
Downgrading to version 2.2 solves the problem.
Command:
$ downgrade python-tensorflow-cuda

[2020-08-20 11:12] KangolHsu commented on #38316
same problem
build tf2.3.0 in windows10

[2020-08-20 11:15] Extremesarova commented on #42366
@abattery Hi! Could you help me?
This approach doesn't work either
`converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
converter.target_spec.supported_ops = [tf.lite.OpsSet.SELECT_TF_OPS]
tflite_model = converter.convert()`

[2020-08-20 11:15] fisakhan opened #42510 "Cannot confine TensorFlow C API to use not more than 1 threads in total"
<em>TensorFlow C API is generating at least one thread on each of the available CPUs. The available instructions/guidlines do not take effect to confine TensorFlow C API to only one CPU. I have 8 CPUs and want TensorFlow C API to use only 1, thus generating one and only one thread. How can I confine TensorFlow to use only one CPU (and only one thread) out of available CPUs?</em>
Processor (lscpu c

[2020-08-20 11:27] Nublo opened #42511 "Native crash when using GpuDelegate() on Android 11"
We found out that issue is reproducing on Android 11, and works fine for Android 10 and less.
However this is our current crash rate distribution, maybe it can vary when we will get more data.

**System information**
- OS Platform and Distribution: Android 11: 100%
- Mobile device: Google Pixel 4 XL (34.35%), Google Pixel 3 (17.54%), Google Pixel 3 XL (14.84%), Google Pixel 3a (11.0%), Other devic

[2020-08-20 11:39] andreydung commented on #42147
@ymodak Yes I’m still meeting this issue.

[2020-08-20 11:57] pietermarsman commented on #33490
I had a similar error as above using tensorflow 2.2:

[code]

and

[code]

I fixed it by using:

[code]

Compared to the fix by @hzk7287 in https://github.com/tensorflow/tensorflow/issues/33490#issuecomment-544847214, this also disables the new experimental converter.

[2020-08-20 11:58] pietermarsman commented on #33416
I had a similar error as above using tensorflow 2.2:

[code]

and

[code]

I fixed it by using:

[code]

Compared to the fix by @hzk7287 in https://github.com/tensorflow/tensorflow/issues/33490#issuecomment-544847214, this also disables the new experimental converter.

[2020-08-20 12:07] Saduf2019 commented on #42463
@Fetzii
Thank you for your update, glad to hear the issue is resolved.

[2020-08-20 12:12] battuzz commented on #41940
I can confirm that `--enable_multithreading` raises this exception:

`NotImplementedError: Multithreading is not currently supported because it requires additional dependencies in the AOT runtime.`

However I think multithreading is not the problem for triangular solve in this case because, as I stated above, a very simple single-threaded implementation in C is ~8 times faster than the tf compiled

[2020-08-20 12:16] galeone commented on #28214
@Saduf2019 no more an issue :+1:

[2020-08-20 12:16] #28214 closed

[2020-08-20 12:23] Saduf2019 commented on #42256
I ran the same code shared by you in the issue template where "converter.allow_custom_ops = True " is true and did not face any issues, as shared above with you.

[2020-08-20 12:27] Saduf2019 commented on #28214
@galeone
Thank you for your update, glad to hear its not an issue anymore.

[2020-08-20 12:43] kentslaney commented on #36232
Should we put a note about the segmentation fault in the ragged tensor api documentation/guide somewhere? I ran into the problem @leandro-gracia-gil was having, and it was kind of a hard issue to track down/google. The reason I'm not sure it's worth the effort is because it's not clear how much time the warning will be relevant after the docs update gets merged.

Would it be possible to add tags o

[2020-08-20 12:45] yuqiu1233 commented on #39539
hello,anidh
I met the same problem with you, have you solved it?

[2020-08-20 12:45] yuqiu1233 commented on #39539
hello,anidh
I met the same problem with you, have you solved it?

[2020-08-20 12:48] HelloFloor opened #42512 "tensorflow.keras Conv2D layers complain if the input is a sparse Input layer."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
TensorFlow

[2020-08-20 12:49] quasar66 commented on #42340
Hi @meteorcloudy

I am currently attempting to build with Bazel 3.1.0, AVX2, c++17, the master branch (not r2.3), CUDA 11.0, cuDNN 8 , build for tensorflow.dll (which is what I actually need) - and its been running for last 16 hours (my PC is little old) but has not yet shown any errors. 14107 of 14375 .. 100% CPU for last 16 hours :-) and for some time it indeed had used up all 32 GB of RAM.

If

[2020-08-20 12:50] anidh commented on #39539
Hi @yuqiu1233

I didn't get the time to follow up with this issue as I shifted my focus to running models on GPU, but I think you need to run the ./configure script inside the tensorflow repository as provide the location of SDk as well as NDK and bunch of other things. This is how I was able to run things for the GPU. Hope it helps as this is all I know for now.

[2020-08-20 13:06] bchetioui opened #42513 "Discrepancy between available operation semantics documentation and documentation of `tf2xla.python.xla.conv`"
## URL(s) with the issue:

https://www.tensorflow.org/xla/operation_semantics#conv_convolution

https://github.com/tensorflow/tensorflow/blob/5f2e159a58d1ef3414b2c34339266449574d8f94/tensorflow/compiler/tf2xla/python/xla.py#L239:L269

## Description of issue (what needs changing):

### Clear description

 [tf2xla.python.xla.conv](https://github.com/tensorflow/tensorflow/blob/5f2e159a58d1ef3414b2c3

[2020-08-20 13:17] manidevi opened #42514 "How to get the MKL version linked with Tensorflow"
**System information**
- OS Platform and Distribution : Windows 10
- TensorFlow installed from: Both binary and source
- TensorFlow version: 2.1.0
- Python version: 3.7.0
- Installed using virtualenv? pip? conda?: pip and conda
- Bazel version (if compiling from source): 0.29.1

**Describe the problem**
I am able to check whether mkl is installed or not, but how to get the mkl version installed wi

[2020-08-20 13:45] edloper commented on #36232
@leandro-gracia-gil Thanks for pointing out these issues!  I'll look into things further, but it looks to me like the root cause for both the problems you describe may be the same: `tf.TensorArray` is returning tensors with the wrong rank when it can't infer a complete shape for the result.  E.g.:

[code]

(Note that `ta.stack()` doesn't really have a good way to decide what the size of the second

[2020-08-20 13:51] zaccharieramzi commented on #36916
I had a similar problem with a subclassed `Model`.

The problem was that, as noted in the error, I was creating a list of layers and then replacing a layer in this list using list-assignment. Apparently it's not possible to do this if you want the list to be saved.

[2020-08-20 14:12] oliharvey commented on #38194
I am *desperate* for 10.2 support! - my company has bought me a graphics card and I can't get it to play with Cuda desite all the above suggestions. I have tried the nightly build of Tensorflow (which is 2.4) - but seems it still looks for 10.1.

Has anybody produced a build that supports 10.2 ?

[2020-08-20 14:15] arbiter1elegantiae commented on #41174
I report `stop_training` flag has no effect within `on_train_batch_end` in v2.3.0 too.

As a workaround, if you can extrapolate/deduce what will the batch number be when you need to interrupt your training, then you can achieve the same result by setting the `steps_per_epoch` par in `.fit` accordingly.

[2020-08-20 14:30] fisakhan commented on #33627
@deHsien Did you solve the problem? I'm facing the same problem.

[2020-08-20 14:31] Hessen525 opened #42515 "LSTM don't work with RuntimeError: Attempting to capture an EagerTensor without building a function, but GRU work"
*System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- Mac OS 10.14.4 ):
- tensorflow-2.1.0
-Keras 2.3.1
- Python 3.6 :,

**Describe the current behavior**
LSTM occur error:"raise RuntimeError("Attempting to capture an EagerTensor without "
RuntimeError: Attempting to capture an EagerTensor without building a function."
However, If

[2020-08-20 14:44] edloper commented on #36232
@leandro-gracia-gil I just wrote a fix for the segfault, and it should hopefully show up in nightly later this week.

Unfortunately, because the underlying kernel that's building the RaggedTensor doesn't have access to the expected shape info, we'll have the same kind of issue that you saw with dense tensors.  I.e., if you do something like:

[code]

Then the result will be a `RaggedTensor` with s

[2020-08-20 14:47] leandro-gracia-gil commented on #36232
Sounds great. Thanks!

[2020-08-20 14:49] Flamefire commented on #42303
Added https://github.com/tensorflow/tensorflow/pull/42516, please verify carefully as I still don't know why it was done like it was in the first place.

[2020-08-20 14:56] taunoe opened #42517 "Lite: Hello world, Sparkfun Edge"
@tensorflow/micro

**System information**
- Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): git clone https://github.com/tensorflow/tensorflow.git
- Tensorflow version (commit SHA if source): commit 6787ce30efdfefbf69681ca9795959fb7244240b
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Sparkfun Edge

**Describe the problem**
Hello world example: https://github.com/t

[2020-08-20 14:57] fisakhan commented on #33627
@deHsien Did you solve the problem? I'm facing the same problem.

[2020-08-20 15:02] basilevancooten opened #42518 "Python crashes when running inference (interpreter.invoke()) on BERT (official.nlp.bert) converted saved model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `YES`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Windows 10`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: `NO`
- TensorFlow installed from (source or binary): `binary`
- TensorFlow version (use command below): `

[2020-08-20 15:21] fengyang0317 commented on #42401
The code reproduces the error.
[code]

After heavy debugging, I find that the error is caused by
[code]

[2020-08-20 15:23] #40986 closed

[2020-08-20 15:26] orangesomethingorange opened #42519 "'undefined reference' error to "cxx11" / "std" (Tensorflow-Lite C++ build for Android's NDK)"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- Mobile device: Samsung Galaxy S10
- TensorFlow installed from: binary
- TensorFlow version: 2.2 / 2.3

**Describe the problem**

Trying to build Tensorflow-Lite for Android Studio's NDK (C++ API) using Cross-compile for ARM64 with Make.

After creating `libtensorflow-lite.a` using the [Docker container](https://hub.docker.

[2020-08-20 15:59] jvishnuvardhan commented on #42253
@murdockhou Sorry for the late response. we are looking into it. Thanks!

[2020-08-20 16:08] Saduf2019 commented on #42439
@Al-Badri179
Please use [this link](https://colab.sandbox.google.com/notebooks/intro.ipynb#recent=true),please use this to update the code and error.

[2020-08-20 16:16] lminer opened #42520 "ReduceLROnPlateau not logging LR to tensorboard anymore"
I use the `ReduceLROnPlateau` callback and LR used to be logged to tensorboard. However since 2.3.0 it isn't showing up anymore. I tried to find a change that may explain the issue, but can't find anything. Was this some deliberate change?

[2020-08-20 16:18] hallabjorg5 commented on #42234
Apart from backwards compatibility reasons, it has been a very nice feature to easily feed parameters from config files.

[2020-08-20 16:35] jvishnuvardhan commented on #42010
@haowang-ms89 Can you please provide a standalone code to reproduce the issue? Thanks!

[2020-08-20 16:41] libinruan commented on #33024
@shtse8 Thanks for the tip. I am using TF 2.0.0 and can confirm that disabling the eager execution does resolve the sluggishness and dispel the annoying message "Filling up shuffle buffer ..." The performance for the same task is on par with the performance on google Colab where TF is of version 2.3.0.

[2020-08-20 16:45] ctargon opened #42521 "tf.argmin across longer axis significantly slower than tf.reduce_min"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-08-20 16:49] JingrenChen opened #42522 "GatherV2 checks batch_dims falsely in graph mode"
**Describe the current behavior**
In graph mode, `GatherV2` checks `batch_dims` with the rank of `param`

**Describe the expected behavior**
By definition and the kernel implementation, should check
`batch_dims` with the rank of `indices`

**Standalone code to reproduce the issue**
[code]

**Other info / logs**
[code]

This issue might come from https://github.com/tensorflow/tensorflow/blob/e7d27d

[2020-08-20 16:57] Saduf2019 commented on #42398
@jeball

     You can go ahead with either of them, and let us know.

[2020-08-20 16:58] karimnosseir commented on #39539
@yuqiu1233 Why do you want to build it ? Did you try to use the prebuilt packages - by putting them in your gradle files ?
Can you explain what issues you had ?

Thanks

[2020-08-20 17:09] sanjoy commented on #41940
Hi @battuzz,

I believe this issue reported two issues:

 * TriangularSolve is much slower than expected.  This has nothing to with multi-threading, XLA CPU just does not have an optimized triangular solve implementation today.
 * Matrix multiply is much slower than expected.  In this case I believe the Python version is using multiple threads while XLA isn't.  XLA does support multi-threaded matr

[2020-08-20 17:10] ankandrew commented on #30861
@Ekta246 With [netron](https://lutzroeder.github.io/netron/) download & drag the `.tflite` to the web/desktop app , hope the answer is not too late :)

[2020-08-20 17:12] jarednielsen commented on #39434
TF 2.3 still has the same speed and memory slowdowns as 2.2. Any update @sanjoy @reedwm?

[2020-08-20 17:15] haowang-ms89 commented on #42010
@jvishnuvardhan Sorry, I just figured out that this is caused by tensorflow 2.4.0-dev. When I switch to 2.3.0, the function works. So I think it is a tensorflow dev version issue. The code:
`data_dir_train = pathlib.Path('./train')`
`train_ds = tf.keras.preprocessing.image_dataset_from_directory(
  data_dir_train,
  seed=123,
  image_size=(img_height, img_width),
  batch_size=batch_size,
  label_m

[2020-08-20 17:25] battuzz commented on #41940
@sanjoy I agree with you about the matrix multiplication. I tried with a smaller matrix (256x256) and the performance is similar to the Python version.

However, for the triangular solve, I don't believe that the cause of such slowdown is a missing optimized implementation, since it is really easy to make one that goes much faster.

Is there the possibility that something else is going on?

[2020-08-20 17:27] #41853 closed

[2020-08-20 17:36] iswarup commented on #40227
Surprise Surprise!
[tf-nightly-gpu](https://pypi.org/project/tf-nightly-gpu/) released an hour ago!
![Screenshot from 2020-08-20 23-01-57](https://user-images.githubusercontent.com/10144957/90805568-6b3ca900-e339-11ea-8ed4-94d4a34dfc67.png)

[2020-08-20 17:39] jvishnuvardhan commented on #41114
@amaiya I think this is related to a know issue. We can track the progress [here](https://github.com/tensorflow/tensorflow/issues/42045).

Simple workaround is to change `'accuracy'` to `'binary_accuracy'`. When I modified your code, everything working well in TF2.3 similar to TF2.1. [Here](https://colab.research.google.com/gist/jvishnuvardhan/0a8f1a05f8d5dd55a8539cad07a99500/untitled256.ipynb) is

[2020-08-20 17:39] kkadakia commented on #41876
I have the same issue.

` - TensorFlowLiteC (2.3.0):
    - TensorFlowLiteC/Core (= 2.3.0)
  - TensorFlowLiteC/Core (2.3.0)
  - TensorFlowLiteSelectTfOps (0.0.1-nightly.20200819)
  - TensorFlowLiteSwift (2.3.0):
    - TensorFlowLiteSwift/Core (= 2.3.0)
  - TensorFlowLiteSwift/Core (2.3.0):
    - TensorFlowLiteC (= 2.3.0)
  - TensorFlowLiteSelectTfOps (~> 0.0.1-nightly)
  - TensorFlowLiteSwift (= 2.

[2020-08-20 17:43] rohan100jain commented on #42223
The problem here is that self.curr_iter is captured once and doesn't change with tf.function. Moving the tf.function to def train() or passing in `it` explicitly to the tf.function would fix it.

[2020-08-20 17:43] #42223 closed

[2020-08-20 18:26] jdduke commented on #42147
`bazel` doesn't actually produce self-contained static libs. Can you talk more about how you're using TFLite in your project? Are you using a static or shared library for the core TFLite library? Are you using prebuilts or are you building from source?

[2020-08-20 18:27] #42062 closed

[2020-08-20 18:27] #35319 closed

[2020-08-20 18:40] zendevil opened #42523 "Error building custom op"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): True
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): tensorflow/tensorflow docker image on macOS Catalina
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.3.0
- Python version: 3.6.0
- GCC/Compiler version (if compiling f

[2020-08-20 18:40] jvishnuvardhan commented on #42423
@Zhao-Kuangshi I tried running initial part of your code without tf.data, it is still crashing without the data pipeline.

Please verify it. [Here](https://colab.research.google.com/gist/jvishnuvardhan/7d1732bcb3284a6c4a1fa97e01130c31/untitled10.ipynb) is the gist for your reference. Thanks!

[2020-08-20 18:49] zendevil opened #42524 "Error building custom op with g++"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below):
- Python version:
- Bazel version

[2020-08-20 19:24] iamhassaan commented on #42146
Thank you so much Nikita, I tried your snippet of code. I am really happy that it managed to clear the verbose logs. Please let me know if you are sure whether numpy arrays get sharded or not?  I replicated your code with Numpy dataset. I got rid of messages. But I cannot see any speedup in training? It is almost the same. I used a global batch size of 32000. I utilized two workers. In my first ex

[2020-08-20 19:27] #41338 closed

[2020-08-20 19:32] janapativishnu commented on #42505
@OnlyBelter I ran your code in Windows10, and I see the following output. It didn't throw any error as you mentioned. Thanks!
[code]

[2020-08-20 19:34] jvishnuvardhan commented on #42505
@OnlyBelter As mentioned above, I cannot reproduce the error in my Windows10 desktop. Thanks!

Please verify and close the issue if this was already resolved for you. Thanks!

[2020-08-20 19:36] gowthamkpr commented on #42479
Please take a look at this [article](https://medium.com/@thomaschou_9652/customized-tensorflow-for-macos-1fe31110d92c) and let me know if it helps. Thanks!

[2020-08-20 19:38] CoreyCole commented on #29829
Sorry to piggyback on an old issue. I'm using tf==1.15 and I'm hitting a segmentation fault attempting int8 quantization using `converter.representative_dataset`. I set a breakpoint at the beginning of my representative_dataset_gen function and it never hits it.

I get a segmentation fault here when running the conversion:
[code]
The full stack trace is here:
[code]
Let me know if this is unrelate

[2020-08-20 19:42] gowthamkpr commented on #42405
@spratik Pleast try using tensorflow 2.3.0 in a new environment and let me know if the issue still persists. Thanks!

[2020-08-20 20:03] leszekmp commented on #42380
Thanks for responding! Checked my original posting, and the info I gave got scrambled. I've tried it on three computers:

A. My main computer (the one it's working on):
CUDA/cuDNN version: 10.1
GPU model and memory: GTX1080 8 GB
System memory: 64 GB RAM
Intel 6-core processor

B. My laptop ( the first one it's not working on):
Lenovo Y470P, 16 GB RAM, 4-core Intel processor
CUDA/cuDNN version 10.1

[2020-08-20 20:23] #41934 closed

[2020-08-20 20:27] #36718 closed

[2020-08-20 21:04] dyu41 opened #42528 "Model.save(...) throws exception"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-08-20 21:10] sanjoy commented on #41938
@d0k any ideas why this ^ would happen?

[2020-08-20 21:30] sanjoy commented on #41940
Currently XLA CPU lowers TriangularSolve to a fairly [loop](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/service/triangular_solve_expander.cc) of HLO instructions.  It is slightly surprising but entirely possible that a naively written C++ implementation will be faster.  Would you be willing to contribute a C++ implementation to XLA?

@hawkinsp does JAX have an opti

[2020-08-20 21:49] alessandroScarcia commented on #38518
I am stuck with the same problem from days, no other processes are running on my GPU. Did someone find a solution?

[2020-08-20 21:57] essandess commented on #42479
That doesn't help. This is an existing MacPorts build. It already uses Bazel and source code. It was working until version 2.2.0. The most recent version breaks the build. I've linked to a likely related issue based on the error message.

[2020-08-20 22:07] d0k commented on #41938
The only thing I can think of is that something overwrites the `xla_cpu_multi_thread_eigen` flag. I don't know what could do that yet.

[2020-08-20 22:15] MeghnaNatraj commented on #42390
Ideally you shouldn't face this issue. If you do, the error should contain the name of the operator that failed (we're looking why it currently doesn't print the name) so the user can either change the operator (as the TFLite doesn't support quantization for it yet) or file a bug so we can look into it (such as the current github issue).