[2020-01-16 05:03] jguhlin opened #35925 "Dataset with Keras Functional Model: tuple index out of range uin steps_per_epoch"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu, Newest
- TensorFlow installed from (source or binary): **Pip (Binary)**
- TensorFlow version (use command below): **2.1**
- Python version: Python **3.7.6**
- CUDA/cuDNN version: **10.2**
- GPU model an

[2020-01-16 05:54] tanzhenyu commented on #33340
You can just compile(..., run_eagerly=False) if that's what you need

[2020-01-16 05:55] oanush commented on #35863
@Jon573 ,
Looks like the given code is incomplete,can you please share complete code?Thanks!

[2020-01-16 05:55] DineshRajanT commented on #35875
I use TF 2.0 for this and I have tried different versions of TensorFlow.Still, the issue is not resolved.
I have tried restarting the session also but nothing fixed.

[2020-01-16 06:12] OverLordGoldDragon commented on #33340
@tanzhenyu Side-ish question: what does `run_eagerly` do in TF2, which runs in eager by default? From inspecting a fair chunk of the source code, it seems to change only a few execution paths for certain less-usual dataset types. Likewise, any difference with `=False` vs. disabling eager?

[2020-01-16 06:23] craterkamath opened #35926 "Install Tensorflow 1.15 on CUDA 10.2 and cudnn 7.6"
**System information**
- OS Platform and Distribution: **Linux Ubuntu 16.04**
- TensorFlow installed from (source or binary): **Binary**
- TensorFlow version: **1.15**
- Python version: **3.6**
- Installed using virtualenv? pip? conda?: **Conda**
- CUDA/cuDNN version: CUDA 10.2 and cuDNN 7.6
- GPU model and memory: Tesla K80

**Describe the problem**

I have an exisiting code base that uses Tensor

[2020-01-16 06:50] oanush commented on #35921
Issue replicating for TF 2.1 and [tf-nightly.](https://colab.sandbox.google.com/gist/oanush/13d6928dcc1232b3a91217e3e28a679a/35921.ipynb)Thanks!

[2020-01-16 07:00] xuchengggg opened #35927 "error when set converter.experimental_new_converter = True"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (or github SHA if from source): tf-nightly == 2.1.0-dev20200101

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

[2020-01-16 07:03] gadagashwini commented on #35879
@andrewstanfordjason,
You can pass a Dataset instance as the validation_data argument in fit.
For more read [here](https://www.tensorflow.org/guide/keras/train_and_evaluate#using_a_validation_dataset). Thanks!

[2020-01-16 07:21] qlzh727 commented on #35724
Thanks for the details.

1. We are generally open for change of the layer behavior if there is a mis-interpretation for the concept in the paper.

2. For those 2 paper referred, I can see first paper is quite clear that not scaling up when dropout is applied (sample code at last page). On the other hand, the second paper is explicitly scaling up the value when dropout (formula 18). It's unclear to

[2020-01-16 07:24] loretoparisi commented on #33744
@jvishnuvardhan please let me check, thank you.

[2020-01-16 07:24] ginsanity15 commented on #35896
Thanks for your reply! I installed TF with "VirtualEnv" just now and this time Python has imported TF successfully. Nevertheless, the following message has been printed and I hope this is not a problem.

2020-01-16 07:45:52.562035: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library nvcuda.dll
2020-01-16 07:45:52.605482: I tensorflow/core/common_runt

[2020-01-16 07:33] amarshukla commented on #34607
Does not work. I tried this and still getting same error.

[2020-01-16 07:39] NeuralSec commented on #35618
A potential solution: upgrading your Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019:
[https://support.microsoft.com/en-au/help/2977003/the-latest-supported-visual-c-downloads](https://support.microsoft.com/en-au/help/2977003/the-latest-supported-visual-c-downloads).

[2020-01-16 08:07] razzOn2calculus commented on #24548
@rootkitchao , could you tell me How do i can use already compiled tensorflow that dont used AVX instruction.
My cpu seems to not supporting AVX instruction, even it throws dll error while using 1.13.2 or lower version.
Thanks for the response

[2020-01-16 08:20] Hofmann-Max commented on #35865
I managed to work around the problem by upgrading Python from 3.6 to 3.7
I am not sure at all why this error occurs or why upgrading fixes the problem

Now with Python 3.7 it works fine

[2020-01-16 08:20] #35865 closed

[2020-01-16 08:32] AbduElrahmanRezk commented on #29878
Does any one know how to write in c not in python using tensorflow c api
I need the installation steps on ubuntu LTS 18.04 i cloned the TF official repository already but i stuck in this case : some  tensorflow c .h files using # include from other .h files which not in the repo
how can i get this files so i can start use all functionalities of tensorflow on C or c++ ?

[2020-01-16 08:34] guysoft commented on #20677
Hey all, I am getting similar errors for aarch64 tensorflow 1.14.0 . Any tips?

[2020-01-16 08:37] zhuzhi-fairy opened #35928 "Low performance when using persistent mode GradientTape with LSTM layers"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Tens

[2020-01-16 08:42] Rogersjk opened #35929 "`ValueError: Unable to decode config: None` when load_model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution : Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.0.0
- Python version: Python 3.7

**Describe the current behavior**
I save the model using ModelCheckpoint in model.fit(), and after the

[2020-01-16 08:45] andrewstanfordjason commented on #35879
This is indeed my error for not fully reading the docs. It would be nice if the validation data took a generator as the x input does. I guess I can work around it by using evaluate between epochs. Thank you

[2020-01-16 08:46] gadagashwini commented on #35164
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-16 08:46] #35164 closed

[2020-01-16 08:50] gadagashwini commented on #35382
Closing this issue now, Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-16 08:50] #35382 closed

[2020-01-16 08:52] gadagashwini commented on #35397
@jude2014, Is this still an issue. Thanks!

[2020-01-16 08:54] gadagashwini commented on #35499
@manuel-lincbiotech, any update!

[2020-01-16 08:56] gadagashwini commented on #35508
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-16 08:56] #35508 closed

[2020-01-16 09:09] stekiri commented on #35146
You would need to restart the runtime in between running the save and load script as it's not possible to change virtual devices once they have been initialized.

[2020-01-16 09:24] KANGRuipeng commented on #35384
Is there any one following this issue?

[2020-01-16 09:24] AbduElrahmanRezk commented on #11899
@asimshankar please can specify where bazel-genfiles/ is ? in ubuntu

[2020-01-16 09:29] amahendrakar commented on #35896
@ginsanity15,
I see that you are successfully able to import Tensorflow. Please feel free to close the issue if it is resolved. Thanks!

[2020-01-16 09:33] aloksingh3110 commented on #34759
did you get any solution for your problem??

[2020-01-16 09:39] renjie-liu commented on #35818
great, looks like you got an answer already! :)

[2020-01-16 09:48] amahendrakar commented on #35883
@phemmer,
Could you please try using float32 instead of mixed_float16. It works for me, please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/aa47f7d48407e665500f9c24c16fb1a8/35883.ipynb).
For more information refer to [this](https://github.com/tensorflow/tensorflow/issues/34782#issuecomment-562350888) issue.

[2020-01-16 09:52] bine-86-04 commented on #27830
@wmylxmj I have the same problem, and I am not smart enough to solve it. Can you please share what you did to make it work?

[2020-01-16 09:57] oanush commented on #35900
@dhpollack ,
Can you please provide complete code? When tried executing given code I got error log `NameError: name 'output_shapes_train' is not defined`,find [gist of colab](https://colab.sandbox.google.com/gist/oanush/a35082df991ff743ad242ff1a6393ead/35900.ipynb) for reference.Thanks!

[2020-01-16 09:58] Jon573 commented on #35863
Hi, thanks for your reply. All I have left out is:
`import tensorflow as tf` and `import os`, and `train_dir` is a folder on my local computer that contains TFRecords. I know the dataset is fine as I can use it with the Object Detection API and it works. I am using `train_dataset` as the training, validation and testing datasets as a debugging stage to rule out the model over fitting to the traini

[2020-01-16 09:58] bj1123 opened #35930 "load_weights does not work when weights are saved in h5 format"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-01-16 10:10] daihuidai opened #35931 "No implementation found for long org.tensorflow.lite.NativeInterpreterWrapper.createErrorReporter(int)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ,macos
- TensorFlow installed from (source or binary): source

I have successfully compiled AAR through bazel and tensorflow source code:
**1.14-tensorflow-lite-with-select-tf-ops.aar** and **1.15-tensorflow-lite-with-select-tf-ops.aar**

**What i want to do:**
Since my tflite model lacks the **RandomUniform** operat

[2020-01-16 10:16] zaccharieramzi commented on #34759
Well like I said in [the comment just above](https://github.com/tensorflow/tensorflow/issues/34759#issuecomment-570176629), I rolled back to cuda 10.1. [This person](https://github.com/tensorflow/tensorflow/issues/34759#issuecomment-564993689) had ran into problems when building from source with cuda 10.2, so I advise you to roll back to 10.1.

[2020-01-16 10:19] oanush commented on #35903
@laue1234 ,
Also make sure to see the hardware requirement from these links [linux](https://www.tensorflow.org/install/source#setup_for_linux_and_macos) and [windows](https://www.tensorflow.org/install/source_windows#setup_for_windows).Let us know if it helped.Thanks!

[2020-01-16 10:31] ginsanity15 commented on #35896
Following the request of @amahendrakar , I will close this issue now. Thank you all for your attention and help!

[2020-01-16 10:31] #35896 closed

[2020-01-16 10:39] dhpollack commented on #35900
@oanush sorry about that.  I forgot about the line `output_shapes_train = tf.compat.v1.data.get_output_shapes(ds_train)`, but edited the above code with it.

I was playing with the code on colab and you can see the notebook [here](https://colab.research.google.com/drive/12cUqrvcoBDCCB7EYg5M8AiiA4VmrplVy)

[2020-01-16 10:47] dhpollack commented on #35900
I ran the code on your gist with the additional line and got the error that I've described above.  On my notebook I was using tf 2.1.0-rc1 rather than 2.2 in your gist and get the same result.

[2020-01-16 10:53] mrinalsardar opened #35932 "Could not find matching function to call loaded from the SavedModel"
My code works in `GPU` based tensorflow environment without any fuss but fails in `CPU` based environments. Some other people also are facing the same issue. `Training` works without any issues but it's the `predict` method that's failing.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- TensorFlow installed from (sourc

[2020-01-16 10:55] oanush commented on #35781
Issue replicating for [tf-nightly](https://colab.sandbox.google.com/gist/oanush/6c3deeb470d47befe145856a6c714ae8/35781.ipynb#scrollTo=sNXTUz6w-Pb5) , Thanks!

[2020-01-16 11:01] oanush commented on #35657
@Neel125 ,
Please provide complete information like what exactly the issue is,code used before facing error log, stack trace of error. Thanks!

[2020-01-16 11:02] batulrangwala commented on #35695
I have tried to convert a base model ssd_mobilenet_v2_quantized_300x300_coco_2019_01_03. I have converted this model to a frozen graph as follows successfully

`python object_detection/export_tflite_ssd_graph.py --pipeline_config_path /home/ridlr/TensorFlow/base_model/ssd_mobilenet_v2_quantized_300x300_coco_2019_01_03/pipeline.config --trained_checkpoint_prefix /home/ridlr/TensorFlow/base_model/ss

[2020-01-16 11:04] batulrangwala commented on #35695
The input and output arrays value is given by

[code]

[2020-01-16 11:20] gadagashwini commented on #35910
@loreProgetto,
Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) to analyse the issue . Thanks!

[2020-01-16 11:25] stephenjfox commented on #32918
You should be able to follow the instruction in [the new `tf.summary` documentation](https://www.tensorflow.org/tensorboard/get_started#using_tensorboard_with_other_methods).

Notedly, the following lines seem to allow you to record whatever metrics you want

[code]

If the `'loss'` and `'test_loss'` strings were `'cats'` and `'dogs'`, the API call would still work (it just wouldn't be as helpful

[2020-01-16 11:28] gadagashwini commented on #35917
@feranick,
Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2020-01-16 11:29] indexraja opened #35933 "'tensorflow.python.framework.ops.EagerTensor' object has no attribute 'ravel'"
I am using tensorflow 2.1

    `def`` generate_sequence(epoch_num, initial_index, seq_length):
    with open(os.path.join(data_directory, charIndex_json)) as f:
        char_to_index = json.load(f)
    index_to_char = {i:ch for ch, i in char_to_index.items()}
    unique_chars = len(index_to_char)

    model = make_model(unique_chars)
    model.load_weights(model_weights_directory + "Weights_{}.h5"

[2020-01-16 11:39] gadagashwini commented on #35875
@DineshRajanT, Can you share the colab gist to analyze the issue. Thanks

[2020-01-16 11:43] Robbie-Palmer opened #35934 "Keras Model Errors on Loading - 'list' object has no attribute 'items'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
**No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10**
- TensorFlow installed from (source or binary): **pip**
- TensorFlow version (use command below): **2.1.0**
- Python version: **3.5.2**
- CUDA/cuDNN version: **CUDA 10.1 cuDNN 7.6**
- GPU model and

[2020-01-16 11:46] vishwas1234567 opened #35935 "conda install tensorflow or any command to install the Tensroflow is not working."
(base) C:\Users\vishwasnarayan>conda install -c anaconda tensorflow
Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: C:\Users\vishwasnarayan\AppData\Local\Continuum\anaconda3

  added / updated specs:
    - tensorflow

The following packages will be downloaded:

    package                    |            build
    ---

[2020-01-16 11:47] gadagashwini commented on #35922
@alanpurple, can you include ./configure output. Thanks!

[2020-01-16 11:50] JMMarchant opened #35936 "GPU Support Instructions for CUDA 10 (Ubuntu 16.04) refer to non-existent package"
The current GPU Support instructions for CUDA 10 on Ubuntu 16.04 refers to a package version that does not exist in the [NVIDIA ML repo](https://developer.download.nvidia.cn/compute/machine-learning/repos/ubuntu1604/x86_64/): `libnvinfer5=6.0.1-1+cuda10.1`

#### Ubuntu 16.04 (CUDA 10)

<pre class="prettyprint lang-bsh">
...
# Install TensorRT. Requires that libcudnn7 is installed above.
<code clas

[2020-01-16 11:59] gadagashwini commented on #35926
@craterkamath, Looks like multiple cuDNN versions installed on instance.
Please follow the instructions mentioned [here](https://www.tensorflow.org/install/gpu).
Download the cuDNN 7.6.5 from nvidia website https://developer.nvidia.com/rdp/cudnn-archive
and add it to your LD_LIBRARY_PATH.
Thanks!

[2020-01-16 12:02] gadagashwini commented on #35703
@WisarutBholsithi,
Provide the exact sequence of commands / steps that you executed before running into the problem.

[2020-01-16 12:15] #35929 closed

[2020-01-16 12:17] Rogersjk commented on #35929
The error is because I overwrite __call__(...) function in my customed layer class.
The correct way is to firstly define __call__(...) function and then return super()__call__(...)

[2020-01-16 12:21] cossio commented on #35920
@gadagashwini So you think this is a Tensorflow bug and not something wrong in my code? If you have suggestions for a workaround please let me know.

[2020-01-16 12:24] st-- opened #35938 "tf.cast on native python float to dtype=tf.float64 leads to loss of precision"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary (pip install)
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de 2.1.0, v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.7

**Describe the current behavior**

`tf.cast()` on a pyt

[2020-01-16 12:37] iamsurya commented on #27830
@bine-86-04 This usually happens if you are trying to run tensorflow-gpu with an nvidia GPU. It is possible that you don't have CUDA installed on your computer. It is also possible that the tensorflow binary you downloaded was compiled with a different version of CUDA than you have installed.

[2020-01-16 12:39] tensorflowbutler commented on #27880
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-16 12:39] tensorflowbutler commented on #35523
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-16 12:42] tejaslodaya commented on #24774
I have come across the same issue as yours @Asorie.

In my case, I have features which can be variable length vectors. Because tensorflow (and matrix in general) doesn't support variable-length vectors, I am storing them as string. My map_fn converts string type 1D tensor to double 1D tensor computes a single scalar for each row (intersection) and the output of map_fn returns a 1D vector.

This is

[2020-01-16 12:42] aabadie opened #35939 "Problems when compiling with Clang"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 19.10
- TensorFlow installed from (source or binary): source (for inference), python (for training)
- Tensorflow version (commit SHA if source): 1768c8f2fa155d4c6406e8ff7addf374c83de7ad for inference, release 2.0 or 2.1 for training.
- Target platform (e.g. Arm Mbed OS, Arduino Na

[2020-01-16 12:42] tejaslodaya commented on #24774
@alextp I feel vectorized_map should solve this issue, but it comes with many limitations.

Will revert back if it suits my use-case

[2020-01-16 12:49] freedomtan commented on #35922
The is the same as https://github.com/tensorflow/tensorflow/issues/35115.

[2020-01-16 12:49] SalahAdDin commented on #26289
@dishkakrauch What's about CUDA 10,2?

[2020-01-16 12:58] Jukyy commented on #35901
I have an update regarding this issue.

I have tried installing `tf-nightly` version `2.1.0.dev20200102` on existing machine but the problem was still there.
When I tried to run the same script on a different machine (Windows 10 machine version 1903 with clean `Anaconda3 Python 3.7` installation) both `tf-nightly` and `tensorflow 2.1` were working correctly (exactly as I described in expected beha

[2020-01-16 13:12] ManishAradwad opened #35940 "Incorrect mention of dataset...."
## URL(s) with the issue:

https://github.com/tensorflow/examples/blob/master/courses/udacity_intro_to_tensorflow_lite/tflite_c05_exercise_rock_paper_scissors.ipynb
---------------------------------------------------------------
![Screenshot from 2020-01-16 18-37-30](https://user-images.githubusercontent.com/29497701/72527695-5d004900-388f-11ea-84f8-57ed0c12c915.png)
------------------------------

[2020-01-16 13:16] amahendrakar commented on #35911
@bfs15,
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/a1e87e390d7255c123bf0b28a52f70d3/35911.ipynb). Thanks!

[2020-01-16 13:28] niccle27 commented on #35909
@oanush
Thanks a lot for trying to help me,

Since it's part of a school project, i wasn't able to have access to the raspberry before now, so basically one more precision : python version i'm using is Python 3.7.3

After further try to limit the code required to reproduce the issue, :

[code]
is enough to reproduce the issue, here is the complete Error :

Traceback (most recent call last):
  File

[2020-01-16 13:37] amahendrakar commented on #35925
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/2316d244e316227b4448556c96334c3f/35925.ipynb). Thanks!

[2020-01-16 13:57] st-- commented on #35938
The simple workaround would be to add
[code]
to the beginning of the definition of `tf.cast()`.

This is related to tensorflow#26033 - not having to support our own "default dtype" implementation would remove the need for a lot of the calls to tf.cast.

[2020-01-16 14:10] MariaHeuss opened #35942 "Loading model with tf.keras.models.load_model not working on multi GPU"
**System information**
- Custom code
- TensorFlow version 2.1.0
- Python version: 3.7
- GPU model: 4 V100 GPUs on Kubernetes Engine

**Describe the current behavior**
On multi GPU loading the model from a h5 file is not working.

**Describe the expected behavior**
Saving and reloading the model from a h5 file using model.save and  keras.models.load_model should work on both single and multi GPU.

[2020-01-16 14:25] juskuz commented on #19765
I get the same error. Any solutions?
I'm using Win 10 with conda.

[2020-01-16 14:26] mdanatg commented on #34433
Progress update - upgrade to astunparse is done, awaiting new release of gast which fixes a bug with FunctionDef nodes in 3.8 (see https://github.com/serge-sans-paille/gast/pull/43).

[2020-01-16 14:28] mxmlnkn opened #35944 "tf.data.Dataset.from_generator converts input argument types implicitly instead of just forwarding"
**System information**
- custom code
- Ubuntu 18.04.1 LTS
- Thinkpad X240
- TensorFlow installed via pip3
- TensorFlow v2.0.0-rc2-26-g64c3d38 2.0.0
- Python 3.6.8
- no CUDA/cuDNN

**Describe the current behavior**

The code below generates the output `(1, 0)` for the first print when using the generator directly and the exception below when wrapping the generator using `tf.data.Dataset.from_genera

[2020-01-16 14:32] aashudwivedi commented on #31758
No it's not I implemented my own SVM using tf instead.

[2020-01-16 14:43] juskuz commented on #19765
ok, I downgraded tensorflow to 1.3 and import works

[2020-01-16 14:47] krips89 commented on #13711
There is no prepare_mkl.sh  in the scripts directory

[2020-01-16 14:54] rcr1994 commented on #35906
Yes, sure. The code is below:

[code]

**The output for both the variables are:**

**allvar_1:**
[code]

**allvar_2:**
[code]

If you have a look, you will see, the variables with the same variables_scope are named differently, because we are using a global numbering. I think that does'nt makes sense. looking forward for your opinion.

[2020-01-16 15:14] feranick commented on #35917
Step to reproduce:
`git clone https://github.com/tensorflow/tensorflow.git`
`cd tensorflow`
`git checkout v2.1.0`
`./configure`
(followed all the steps. Everything in default, besides activating CUDA support with TensorRT)
`bazel build --config=opt --config=cuda --config=v2 --verbose_failures --verbose_explanations //tensorflow/tools/pip_package:build_pip_package`

[2020-01-16 15:32] veonua commented on #30203
@jsimsa
does it load whole dataset into memory? Because I tried to run this script on the 10GB dataset with 20 shards... and it does not create any files just eating my memory

[2020-01-16 15:58] mihaimaruseac commented on #26289
You can always compile from source to get compatibility with other CUDA versions.

We only provide a subset of the infinite amount of combinations that you can build with (python version, operating system version, cuda version, compiler version, libraries/dependencies versions, etc.) For all other cases all that we can do is provide instructions on how to build from source and let community do the

[2020-01-16 16:21] Arjuna197 commented on #35623
Try adding --noincompatible_do_not_split_linking_cmdline to your bazel build command.

[2020-01-16 16:24] Arjuna197 opened #35948 "Support for saved_model (tf2.*) in tf_compile"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.*
- Are you willing to contribute it (Yes/No): No

**Des

[2020-01-16 16:32] nbro opened #35949 "AttributeError: 'Tensor' object has no attribute '_datatype_enum'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS X Catalina (10.15.2)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d382ca 2.0.0
- Python version: 3.7.5
- GPU model and memory: Intel Iris

[2020-01-16 17:02] jsimsa commented on #30203
Yes, the `group_by_window` with "infinite" group size will have that effect.

The challenge with the existing API is that `tf.data.experimental.TFRecordWriter.write()` takes a dataset and in order to create a dataset for a shard, you need to iterate through the entire original dataset. An alternative to materializing all shards in memory would be to iterate through the original dataset multiple ti

[2020-01-16 17:12] Kal213 opened #35950 "Error in cuda_dnn.cc(1921) with cudnnRNNBackwardData. Failed to call ThenRNNBackward"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): [No](https://w

[2020-01-16 17:14] arjun-majumdar opened #35951 "how to change model.trainable_weights manually"
I am using TensorFlow 2.0 with Python 3.7.5 to manually change the weights of a neural network model. The code I have to change weights in a layer-wise manner is as follows:

[code]

What can I do to modify/change the weights in a layer-wise manner in the above example?

Thanks

[2020-01-16 17:20] #31758 closed

[2020-01-16 17:20] mihaimaruseac commented on #31758
Closing as it is no longer an issue

[2020-01-16 17:20] baiztencale opened #35952 "Device placement function for placing network variables on specific device"
Hey guys,

I'm having trouble with using a placement function inside `tf.device(...)`. Basically I want that all network variables are placed on a specific device (e.g. cpu). All other tensors and operations should be placed at the current scope. Because a placement function inside `tf.decive(...)` needs always to return a device I implemented the function `pin_network_variables`, which separates

[2020-01-16 17:26] mihaimaruseac commented on #35926
TF 1.15 was compiled against CUDA 10.0

For other versions of CUDA you have to compile from source.

[2020-01-16 17:31] jingweimo commented on #35618
@ReinforcedMan Are you using vs2015 or a higher version?

[2020-01-16 17:40] rushabh-v commented on #35667
@jvishnuvardhan Can I open a PR as my first contribution?

[2020-01-16 17:49] jingweimo commented on #35618
It also solved my problem!!

[2020-01-16 18:02] jvishnuvardhan commented on #33744
@loretoparisi When you check, can you also check with latest versions in TF1.x and TF2.x? Thanks!

[2020-01-16 18:14] phemmer commented on #35883
Yes, it works, but I'm not quite sure what the intent of that test is. Tensorflow has worked with float32 for ever.
I'm also not seeing any relation to the linked issue. That issue is about compiling the model, which isn't being done in this issue (compiling will happen eventually, but error occurs before we get to that point), and the documentation already covers the need for the final layer in a

[2020-01-16 18:24] claynerobison commented on #35867
I also had this problem when building r2.1 and v2.1.0 in the https://github.com/tensorflow/tensorflow/blob/r2.1/tensorflow/tools/ci_build/Dockerfile.rbe.ubuntu16.04-manylinux2010 environment using both /dt8 and /dt7:

`ERROR: /root/.cache/bazel/_bazel_root/68a62076e91007a7908bc42a32e4cff9/external/flatbuffers/BUILD.bazel:99:1: Linking of rule '@flatbuffers//:flatc' failed (Exit 1)
bazel-out/host/b

[2020-01-16 18:31] abcdabcd987 commented on #35623
Just realized that `bazel` doesn't invoke the correctly versioned one. If I use `/usr/bin/bazel-0.29.1-linux-x86_64`, it works. I ran into this issue because I'm compiling different versions of TensorFlow and have multiple installation of bazel. I also ran into some linking issues when compiling `v1.15.0` and using `/usr/bin/bazel-0.26.1-linux-x86_64` fixed that.

Thanks for the help though @Arjun

[2020-01-16 18:31] #35623 closed

[2020-01-16 18:36] jvishnuvardhan commented on #35921
Full error trace is as follows

[code]

[2020-01-16 18:38] #34890 closed

[2020-01-16 18:58] sarthfrey-db commented on #35878
Changed `train_datasets = make_datasets_unbatched().batch(GLOBAL_BATCH_SIZE)` to `train_datasets = make_datasets_unbatched().batch(GLOBAL_BATCH_SIZE).repeat()` with no success on TF 2.1

[2020-01-16 19:13] dkashkin commented on #27303
Thanks again @rryan! I just tested the tflite-compatible graph generated by Magenta. It works on Android, and seems to be roughly 5 times faster than my Kotlin based SFFT. The tflite model is quite large though (4.6MB for 224x224 spectrogram).

[2020-01-16 19:21] gargn commented on #35927
Your model contains control flow and therefore is not supported in our old converter.

Regarding the new converter (i.e. when `experimental_new_converter = True`), it is not obvious where your error is coming from. Can you provide a reproducible example with functions like `resnet_graph` defined. Alternatively, can you provide the model file so we can reproduce your conversion on our end.

Reassig

[2020-01-16 19:57] vladdders opened #35953 "failed to convert attention-ocr frozen graph to tflite"
**System information**
- OS Platform and Distribution Linux Ubuntu 18.04
- TensorFlow installed from binary
- TensorFlow version 1.15.0

**I am using the following chunk of code to convert attention-ocr frozen graph to tflite**

[code]

**The output from the converter invocation**

[code]

**Here you can find a link to the frozen graph**

[code]

**Failure details**
I am attempting to convert this

[2020-01-16 20:25] jguhlin commented on #35925
I don't think this feature is supposed to work in 2.0 but can't confirm. But here is the error from there:

[code]

[2020-01-16 20:57] haozha111 commented on #28485
It seems that you are falling back to the old converter and not using the new one. It may due to that the tensorflow package you installed is a bit outdated. Could you share your model file with me so I can take a look? Thanks. (Or either, you can upgrade your tensorflow environment to the latest stable release, and then try it out)

[2020-01-16 21:12] feranick commented on #35917
Update: Compilation is successful is TensorRT support is disabled (during the `./configure' step).

However, tensorflow lite seems to have issues. When I run my code:

   `converter = tf.lite.TFLiteConverter.from_keras_model(model)
    converter.optimizations = [tf.lite.Optimize.OPTIMIZE_FOR_LATENCY]
    converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]
    converter.infe

[2020-01-16 21:16] gargn commented on #35923
You will need to implement `Erf` as a custom operator because it is not supported in TensorFlow Lite. There is some instruction [here](https://www.tensorflow.org/lite/guide/ops_custom).

[2020-01-16 21:28] gargn commented on #35901
Taking a closer look into the op, `FusedBatchNormV3` has been supported since June 2019. Given that this issue is only occurring in one installation of TensorFlow, it appears this is an installation related issue. Can you try reinstalling TensorFlow on the machine giving the error or provide additional information about your installation that might help with debugging?

[2020-01-16 21:35] saqibshakeel035 commented on #35208
Any update as I am still stuck at this point????

[2020-01-16 21:35] femarcos commented on #22978
U solved that ?

[2020-01-16 21:46] lminer opened #35955 "Allow tf.image.extract_image_patches to work with complex numbers"
It would be nice if `tf.image.extract_image_patches` were extended to work with complex numbers as well.

I work extensively with audio data and after applying an STFT, I get a tensor of complex numbers. As I perform my training on patches from this tensor, it would be great if these patches could be extracted using `tf.image.extract_image_patches`.

I think this is something that would be valuabl

[2020-01-16 21:48] ghop02 commented on #32180
I'm also running into this.

@ravikyram or @jdduke have you seen this? Don't have an easy way of getting around it right now

[2020-01-16 22:06] gargn commented on #34296
`float64` isn't supported in the TFLite interpreter. The supported types are available [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/c/common.c#L183).

Because it's not trivial to change the error message that is shown [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/interpreter_wrapper/interpreter_wrapper.cc#L363) without adding supp

[2020-01-16 22:06] #34296 closed

[2020-01-16 22:09] gargn commented on #33626
@dmitriykovalev might be able to provide additional help

[2020-01-16 22:29] #35067 closed

[2020-01-16 22:32] gowthamkpr commented on #35056
@EtagiBI Did the above comment solve your issue. Can I close this issue?

[2020-01-16 22:34] gowthamkpr commented on #34615
Closing this issue as it has been inactive for more than 4 weeks. Please add additional comments to open this issue. Thanks!

[2020-01-16 22:34] #34615 closed

[2020-01-16 22:52] ghop02 commented on #32180
okay, so it seems that at some point, it sorts the output tensors by name. So, you're able to control the outputs by prepending the outputs with a letter:
[code]
### tflite_order1.tflite
![image](https://user-images.githubusercontent.com/1422280/72569644-e2342f80-3888-11ea-8592-5995091297a8.png)

### tflite_order2.tflite
![image](https://user-images.githubusercontent.com/1422280/72569663-efe9b500-

[2020-01-16 22:58] ymodak commented on #35589
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-16 22:58] #35589 closed

[2020-01-16 23:01] MichaelKarpe commented on #35785
Please find another issue raising the `DatasetV2` `AssertionError` when using `tf.compat.v1.disable_eager_execution()`: https://github.com/tensorflow/tensorflow/issues/32104#issuecomment-540326691

I tried to switch to a `DatasetV2` from my `ImageDataGenerator` but then I get this [error](https://github.com/tensorflow/tensorflow/issues/34346#issuecomment-569772139).

It seems that there are two is

[2020-01-16 23:06] #35442 closed

[2020-01-16 23:06] jvishnuvardhan commented on #35911
@bfs15 You could use `Keras.callbacks`to view on internal states and statistics of the model during training. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/ddf725e66122230653747793994e3eaf/35911.ipynb) is a gist on using `callbacks` for checking a status `on_batch_end`. Thanks!

[2020-01-16 23:16] ymodak commented on #35208
You don't need to install protobuf separately. Can you try and create a new virtual environment and install TF again without installing protobuf? Thanks!
See https://www.tensorflow.org/install/pip?lang=python3#2.-create-a-virtual-environment-recommended

[2020-01-16 23:32] Peter-Devine commented on #35888
Sorry, you need to install the `transformers` package from Huggingface (https://github.com/huggingface/transformers)

I.e. in the first cell, run the following code:
[code]

Also, why is your second cell the following?
[code]
You do not need this cell to run the code that I sent.

Thanks

[2020-01-16 23:39] jvishnuvardhan commented on #35841
@TianHongZXY I could reproduce the issue with `TF1.15`. However, there is no issue when I used `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/f548a567f7d383782be57f3c8bfce16d/untitled765.ipynb). Thanks!

[2020-01-16 23:40] loretoparisi commented on #33744
So for sure we were talking about of version TF 1.x.

[2020-01-17 00:00] acocac commented on #22763
It's still confusing for me how should I declare decay in AdamWOptimizer? I'm using TF 1.14 because is the most recent runtime in Google AI which is the platform to train my models.

In the repo below a schedule is created according to the number of iterations and batchsize, https://github.com/PhilJd/AdamW_benchmark/blob/4e9bc846f3b913f727f7585389b59fe46aed0056/model/resnet.py

I would appreciate

[2020-01-17 00:05] jvishnuvardhan commented on #35564
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-17 00:05] #35564 closed

[2020-01-17 00:20] crccw commented on #35442
Thanks for triage the issue. We're actively working on PS strategy and there're still some design discussion happening. Before that, you can use CentralStorageStrategy if you only have one worker.

[2020-01-17 00:24] claudiacorreia60 opened #35958 "Details about Tensorflow's I/O"
I'm currently trying to develop an I/O optimization for DL frameworks and for this purpose I would like to understand exactly how Tensorflow behaves when the dataset doesn't fit in memory. More precisely, I want to know how much data is fetched at a time from storage and how frequently it is fetched. I also need to get in more detail about how the prefetching and shuffling features work. I have al

[2020-01-17 00:28] bfs15 commented on #35911
Well yes, while Sequence.on_epoch_end doesn't work, Callback.on_epoch_end does.
But as [the docs state Sequence.on_epoch_end should be called automatically just like Callback.on_epoch_end. ](https://www.tensorflow.org/api_docs/python/tf/keras/utils/Sequence?version=stable#on_epoch_end)

The problem is that the Sequence I'm making needs to shuffle its dataset every epoch (it's actually triplet hard

[2020-01-17 00:39] 2696120622 commented on #28485
@haozha111
Sure. What is your e-mail address? And which release should I upgrade to?
Thanks a lot.

[2020-01-17 01:03] saqibshakeel035 commented on #35208
It worked fine. Just to mention one thing that if someone is using [Edge Electronics github repository](https://github.com/EdjeElectronics/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Objects-Windows-10#1-install-anaconda-cuda-and-cudnn) and facing the same issue as mine, I recommend you to install all other packages in step  [2d](https://github.com/EdjeElectronics/TensorFlow-Object-Det

[2020-01-17 01:03] #35208 closed

[2020-01-17 01:49] kevinjoseph1995 commented on #20120
@oscarriddle  Any update on the issue you were facing?

[2020-01-17 02:48] yongtang commented on #35938
Added PR #35961 for the fix.

[2020-01-17 02:50] yongtang commented on #35955
`tf.image.extract_image_patches` is quite useful and I used it before to create a sliding window effect. It makes sense to add full support for all common types.

Added a PR #35962 for complex number support.

[2020-01-17 02:56] TianHongZXY commented on #35841
@jvishnuvardhan Yes, it works! Thank you very much!

[2020-01-17 02:56] #35841 closed

[2020-01-17 03:14] oanush commented on #35932
@mrinalsardar ,
Can you please provide the code used by you to replicate the above reported error?Thanks!

[2020-01-17 03:23] oanush commented on #35930
@bj1123 ,
When tried running the given code in both [2.1](https://colab.sandbox.google.com/drive/1rqcqkeDpD0TG3brFJtyq1x8WEfET0vcU#scrollTo=RbZaVocMg-u_) and [tf-nightly](https://colab.sandbox.google.com/drive/19sCVnZyjsRYzxeCs5M5IjMGli_nP-PnK#scrollTo=0FawR_S5fFm8), I didn't face any error.Thanks!

[2020-01-17 03:45] feranick commented on #35917
The issue, as hinted from the log, may be related to the fact that TF2.1.0 requires bazel > 0.27 (compared to TF2.0.0 which required version <=0.26.1). Starting from bazel 0.27 and later, the Python toolchain now enforces that targets analyzed as PY2 and PY3 run under a Python 2 and Python 3 interpreter, respectively. Since the issue at play here seems to be related with a TF2 wrapper for TensorRT

[2020-01-17 03:58] ravikyram commented on #35523
@darthbhyrava
Any update on this issue please. Thanks!

[2020-01-17 04:03] lminer commented on #35955
Wow. That was fast!

[2020-01-17 04:04] realSaddy commented on #35523
Not OP, but I am not longer receiving this issue

On Thu, Jan 16, 2020 at 9:58 PM ravikyram <notifications@github.com> wrote:

[2020-01-17 04:27] mjlbach opened #35968 "Could not load dynamic library 'libnvinfer_plugin.so.6'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2020-01-17 04:35] SaranyaPandiaraj opened #35969 "ImportError: cannot import name '_tf_stack' from 'tensorflow_core.python'"
When i am trying to execute the below commands in jupyter notebook
from keras.models import Sequential
from keras.utils import to_categorical
from keras.layers import Dense
from keras.datasets import mnist

am getting the below error.

Using TensorFlow backend.
ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error

[2020-01-17 04:55] tgaddair commented on #35138
Hey @tanzhenyu and @robieta, any thoughts on this?  Currently we're unable to support TensorFlow 2.1 effectively without this.  But hopefully there's a workaround.

[2020-01-17 05:22] phemmer opened #35970 "Allow relative min_delta for EarlyStopping"
**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): maybe

**Describe the feature and the current behavior/state.**
Currently the [EarlyStopping callback](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/EarlyStopping) `min_delta` is an absolute value. Meaning that the metric being monitored must improve by that fixed amount.

[2020-01-17 05:27] yashmanuda commented on #33009
Hi,

I am trying to call `model.predict()` on CPU (model trained on GPU) multiple times and I observe RAM memory leak. `clear_session` with model reload doesn't solve the issue. `model.predict_on_batch()` fails to solve the issue as well. Is there a workaround for this issue? I am using TF 1.13 and Python 3.6. Have been struggling to solve this problem since so long. Kinda need help.

[2020-01-17 05:39] abhay1722 commented on #35179
Issue being tracked in the PR https://github.com/tensorflow/tensorflow/pull/35196.

[2020-01-17 05:39] #35179 closed

[2020-01-17 06:00] bj1123 commented on #35930
It does'nt raise error. The problem is that the saved weights are not restored.

[2020-01-17 06:01] gadagashwini commented on #33910
@dongxiao92, Tensorflow 1.14 supports CUDA 10.0 and cuDNN 7.4.
Please take a look at [tested build configuration](https://www.tensorflow.org/install/source#gpu).

[2020-01-17 06:05] xuchengggg commented on #35927
Hi, the wights are too big, so I just post the minimal code which can produce same problem. [
[model.zip](https://github.com/tensorflow/tensorflow/files/4075261/model.zip)
](url)

In the old tensorflow version like tf1.12, tf1.14, NonMaxSuppressionV3 is not supported when convert  the model to tflite, but in tf-nightly, there is no error about NonMaxSuppression, is it supported now?

For the lates

[2020-01-17 06:38] MProx commented on #33009
Does the issue persist of you use the minimal code example I supplied in
the original issue post?

On Fri, Jan 17, 2020, 05:27 Yash Ubale <notifications@github.com> wrote:

[2020-01-17 06:43] FirminSun commented on #34579
model.predict_on_batch fix for me.

[2020-01-17 06:43] oanush commented on #35969
@SaranyaPandiaraj ,
When tried running the same code in both Jupyter notebook and Colab, was able to run successfully.Kindly find the screenshot for reference.
![35969](https://user-images.githubusercontent.com/52397990/72589995-c2514a00-3922-11ea-96fe-faeacf440e0b.png)
Can you try again and let us know?Thanks!

[2020-01-17 07:09] NLP-ZY commented on #35585
sorry to respond slowly, I am busy recently. remove relu means use activation=None. I have try many times, I think gradienttape maybe have some bugs, the result of gradienttape is worse than model.fit

[2020-01-17 07:10] phemmer commented on #35970
Here's an actual real world example:
![image](https://user-images.githubusercontent.com/1826947/72591154-7627ea80-38cd-11ea-98cf-3bd1dcc6f4b9.png)
This is the tensorboard output for several different models being tested. The ones worth investigating further are the ones that are linear on the graph (linear even though the graph is logarithmically scaled), as they show that with further training, t

[2020-01-17 07:12] NLP-ZY commented on #35585
[code]
@amjass12 this is my test code, under the same network, the result of model.fit is better than gradienttape

[2020-01-17 07:14] qlzh727 commented on #35892
Since we still have to support py2 within Google for now, we can't migrate to py3 only code yet.

[2020-01-17 07:14] #35892 closed

[2020-01-17 07:21] NLP-ZY commented on #35585
@gowthamkpr can you help us to figure out ? Is there some implicit operation in model.fit ? why there is much diff in model.fit vs gradienttape

[2020-01-17 07:31] yourtheron commented on #35528
@gowthamkpr A further question, when I tried to use adaptive learning rate like this
[code]
together with mixed precision, tf raised an error
[code]
So I am wondering if that is because mixed precision does not support adaptive learning rate? Thanks.

[2020-01-17 07:52] dawgster commented on #35614
@mihaimaruseac Any idea in what direction I could go to solve the issue?

[2020-01-17 07:59] DineshRajanT commented on #35875
Timestamp | Level | Message
-- | -- | --
Jan 17, 2020, 1:25:05 PM | WARNING | WARNING:root:kernel fa12775d-feb3-4b3f-8cce-813369a6303d restarted
Jan 17, 2020, 1:25:05 PM | INFO | KernelRestarter: restarting kernel (1/5), keep random ports
Jan 17, 2020, 1:24:59 PM | WARNING | tcmalloc: large alloc 6645350400 bytes == 0x4e6616000 @ 0x7fa458f66b6b 0x7fa458f86379 0x7fa424bdec27 0x7fa4249d1a7f 0x7fa424

[2020-01-17 08:18] shaoeChen commented on #35358
i find, if use `tf.GradientTape()` to get gradient and train model, it's work fine.

the same TFRecord, just different training mode.

define loss function and optimizer:
[code]
set training step function.
[code]

set batch size
[code]

training model
[code]

it work fine.

and i find something interesting.
above, i set batch one time, and batch size is 64, so the shape is 64x28x28x1
[code]

if i

[2020-01-17 08:18] ravikyram commented on #35849
@SongLingzhi
Please, share the code. Thanks!

[2020-01-17 08:27] ravikyram commented on #35935
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2020-01-17 08:27] NagabhushanSN95 opened #35975 "ResNet model in keras and tf.keras give different output for the same image"
For a given image, I'm extracting ResNet features i.e. after all conv layers and global max pooling, which gives a 2048 length vector per image.

Earlier, I was using `keras==2.3.1` with backend `tensorflow==1.13.1`. Now, I've shifted to `tensorflow==2.0.0` since keras has been merged with tensorflow. I replaced my code with `tf.keras` instead of `keras`.

But now the features extracted are not th

[2020-01-17 08:39] yashmanuda commented on #33009
Yes, the original code as shown below causes memory leak.

[code]

Below is the memory consumption over time (it increases initially which is expected, but after certain point when it's supposed to be constant, it rather increases although by a very small amount ~0.25 MB, I ran it for only 30 minutes)
[code]

[2020-01-17 08:39] ravikyram commented on #35933
@indexraja

I have tried on colab with TF version 2.1.0-rc2 . I am seeing the below error.
`NameError: name 'make_model' is not defined`
Request you to provide colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-01-17 08:46] DavidS3141 commented on #35802
Yes those versions seem to work. I still hope, that TF2.0 gets patched, because TF2.1 seems to require already CUDA10.1 :(

[2020-01-17 08:52] oanush commented on #35944
Issue replicating for given code in 2.0 and [tf-nightly](https://colab.sandbox.google.com/gist/oanush/1e681b438b022288058eca121014b041/35944.ipynb).TThanks!

[2020-01-17 09:00] razzOn2calculus commented on #35598
After 10 days, Problem solved after downgrading to
tensorflow version <= 1.6.0

Since as
https://en.wikipedia.org/wiki/Advanced_Vector_Extensions#cite_note-36
Avx instruction as added after tensorflow version 1.6.0 .

I downloaded older package-lists of anaconda
and installed . Thanks guys.

[2020-01-17 09:04] alanpurple opened #35977 "windows build failed with master branch"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- Mobile device

[2020-01-17 09:05] DavidS3141 commented on #28007
Is this being fixed or adressed by someone. For me in TF2.0 not even the `tf.device` hint did work. Following code (tf2.0, cuda10.0, GTX 1080) did not work for me and failed with the same error message as reported above (Invalid argument: During Variant Host->Device Copy: non-DMA- ....):
[code]

[2020-01-17 09:07] alanpurple commented on #35977
some said this should be related to numpy environment, but branch r2.1 had no problem building tensorflow, and suddenly this came out with migration to master ( which accompanies bazel 1.2.1 )

BTW, last time I had numpy 1.18.1(in conda environment)

[2020-01-17 09:07] oanush commented on #35949
Issue replicating for 2.0 and [tf-nightly](https://colab.sandbox.google.com/gist/oanush/f48bb5fa2028ece28e5fcee88551e852/35949.ipynb).Thanks!

[2020-01-17 09:07] gawain-git-code commented on #35860
@airMeng @kevin-hartman @eduardofv Are you guys satisfy with the answer from @oanush ?

I personally would not because that was just telling me I can only use profile_batch settings safely in google colab instead of on my own machine setup.

This was not answering the root cause of the problem of why cupti_tracer is signalling the errors. But thank you @oanush for spending the time to help out.

[2020-01-17 09:08] HongmingHUANG commented on #35706
Hi ymodak, I tried the solution in #14391 that add a new checkpoint folder in the session parameter like this:
`
with tf.train.MonitoredTrainingSession(checkpoint_dir = '/tmp/new_checkpoint') as sess:
    sess.run(target_node)
`
However, I still meet the same bug.
It seems that just change the checkpoint is not enough. Do we also need to write the init function by ourselves?

[2020-01-17 09:11] sid027 commented on #27519
@renatomello the problem still persists when trying to implement a custom metric. Did you find a workaround?

[2020-01-17 09:29] oanush commented on #35950
@Kal213 ,
I was able to run the code in tf-nightly successfully, please find [gist](https://colab.sandbox.google.com/gist/oanush/2c3e0b9043e7f0ca278843749da2d996/35950.ipynb) for your reference.Thanks!

[2020-01-17 09:41] cap0 commented on #34698
I'm facing the same issue. Using TensorFlow 2.1 and virtual environments, adding the virtual env to PATH env solves the issue but this is not very handy and seems to broke then environment isolation. The toco_from_protos should be taken from the bin of the environment without the need to specify in the PATH

[2020-01-17 09:48] ravikyram commented on #35655
@yinxungong

Any update on this issue please. Thanks!

[2020-01-17 10:17] haimat opened #35979 "What's the difference between Keras applications and TF Model Garden?"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/applications
https://github.com/tensorflow/models/tree/master/official

## Description of issue (what needs changing):

There are the pre-trained models for Keras found in `tf.keras.applications`. And there are those models found on GitHub in the Model Garden (under `/models`, as linked above). Now, from reading the doc

[2020-01-17 10:24] Jukyy commented on #35901
I was able to find a core problem.
Last year I have built `Tensorflow 1.13` python package from source. During installation python had prompted me to use `--user` flag for installation.  By using `--user` flag TensorFlow was installed in `AppData/Roaming/Python` location. Because of that python interpreter was referencing some TensorFlow python scripts from `AppData/Roaming/Python` location despit

[2020-01-17 10:27] OverLordGoldDragon commented on #35724
@qlzh727 Thanks for the feedback; glad to hear TF is open to change with sufficient reason.

 2. Second paper max formula number is 9, pg. 5; which is "formula 18"?

 3. Right, so then it _changes_ between batches even with stateful, which may be undesirable per paper 2

I have more to say, but will relay it after clarification; awaiting your response.

[2020-01-17 10:38] ravikyram commented on #35403
@happpyosu
Can you please try with `!pip install tensorflow-gpu==2.1-rc2`and see if the error still persists. I am not seeing any issue with TF 2.1.Thanks!

[2020-01-17 10:42] depthwise commented on #29509
I'm seeing the same issue in TF 2.0.0 and TF2.1.0. This makes e.g. Deeplab V3 effectively not runnable on GPU as it relies extensively on atrous convolutions.

[2020-01-17 11:07] Intellicode opened #35980 "Tensorflow predict call crashes when loading a model with gevent enabled"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.14.6, also tried it on the Docker container nvidia/cuda:10.1-cudnn7-runtime
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de410 2.1.0
-

[2020-01-17 11:55] vipulraut opened #35981 "Error while generating TensorflowLite file"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2020-01-17 12:19] mostafa-mahmoud opened #35982 "model.fit requests and leaks extra data from validation_data generator than the specified validation_steps"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
I tried this in two environments:

The first enviornment is:
[code]
The second environment is:
[code]

**Describ

[2020-01-17 12:22] patrikohlsson opened #35983 "AOT tests fail on Windows (MSVC 2019)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10 Pro x64
- TensorFlow installed from (source or binary):
Source
- TensorFlow version:
master (7be9f53)
- Python version:
Python 3.7.4 (Miniconda3)
- Bazel version (if compiling from source):
Build label: 1.2

[2020-01-17 12:30] ravikyram commented on #35951
@arjun-majumdar

Can you please go through the [link ](https://stackoverflow.com/questions/51354186/how-to-update-weights-manually-with-keras) and see if it helps you. Thanks!

[2020-01-17 12:35] freedom9393 commented on #6249
In my case, `an image size` and my `model's input shape` were different. Please check your image size again and again. Cuz, I've spent pretty long time on fixing this problem

[2020-01-17 12:36] amahendrakar commented on #35903
@laue1234,
Installing the latest version of Microsoft Visual C++ from [this](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads) link worked for some users. Please check issue [#35749](https://github.com/tensorflow/tensorflow/issues/35749#issuecomment-573313402) for reference. Thanks!

[2020-01-17 12:37] juskuz commented on #22794
@ERDataDoc using your link

is helpful but sometimes it can upgrade the driver to CUDA 10.2 which is not supported yet
(that happened in my case)

[2020-01-17 12:41] heator commented on #25403
@Edremelech Thank you!
After renaming cublas64_10.dll to cublas64_100.dll, my program runs as well.

[2020-01-17 12:41] tensorflowbutler commented on #32465
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-17 12:41] tensorflowbutler commented on #34722
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-17 12:49] gadagashwini commented on #35977
@alanpurple, Tensorflow 2.1 supports numpy =1.17.5.
Please take a look at similar issue [#35036](https://github.com/tensorflow/tensorflow/issues/35036)

[2020-01-17 12:56] st170911 opened #35986 "tflite_convert deletes (almost) all nodes and edges, .pb to .tflite, 585929kb to 1kb"
Hello,
I'm having problems with conversion from frozen graph (.pb) to tflite, using tflite_convert.
It does safe a .tflite file, but it's only got a size of 1kb.
Apparently it gets rid of almost every node and all edges.
Can anybody give me advice on how to do it without losing all the information or what I'm doing wrong?
Best regards

**System information**
Windows 10
Tensorflow Version 1.14.0 ob

[2020-01-17 13:01] ravikyram commented on #35958
@claudiacorreia60

Can you please go through this [link](https://www.tensorflow.org/guide/data_performance) and see if it helps you.Thanks!

[2020-01-17 13:13] tanmay1994 commented on #33442
Hello @oanush , Could you please help me with the issue in my train.py model ? I have tried a hell lot of stuffs and still blooming around for a solution.
Please help me if you can. I'll be obliged. (AttributeError: module 'tensorflow' has no attribute 'contrib').
Here is my code:
[train.zip](https://github.com/tensorflow/tensorflow/files/4076931/train.zip)

[2020-01-17 13:18] ravikyram commented on #35412
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-17 13:18] #35412 closed

[2020-01-17 13:19] amahendrakar commented on #35853
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/10267a0fa932103ec7ef5efea893812d/35853_copy.ipynb). Thanks!

[2020-01-17 13:23] ravikyram commented on #35602
@fdb
Can we close this issue here and track the issue in TFX repo. Please, confirm. Thanks!

[2020-01-17 13:24] amahendrakar commented on #35840
Was able to reproduce the issue with TF 2.0. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/d4b1ca4e863f070c923a4ce9d36ee58a/35840_copy.ipynb). Thanks!

[2020-01-17 13:33] lllAlexanderlll opened #35987 "interpreter.invoke() of tflite model causes Aborted (core dumped) despite successful tflite conversion under tensorflow version 1.14.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-01-17 13:41] Shivani29sheth opened #35988 ""ImportError: DLL load failed: The specified module could not be found." while trying to import tensorflow in tensorflow_cpu environment."
Traceback (most recent call last):   File "C:\Users\Shivani\Anaconda3\envs\tensorflow_cpu\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>     from tensorflow.python.pywrap_tensorflow_internal import *   File "C:\Users\Shivani\Anaconda3\envs\tensorflow_cpu\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>     _pywrap_t

[2020-01-17 13:53] SalahAdDin commented on #26289
Just downgraded to `Cuda 10,1`, thanks.

[2020-01-17 13:56] mofeiyu commented on #23898
I solve it like that:

`model = Autoencoder()
saver = tf.train.Saver(max_to_keep=5)
self.sess = tf.Session()
ckpt = tf.train.latest_checkpoint(self.checkpoints)
saver.restore(self.sess, ckpt)`

[2020-01-17 14:14] forReason commented on #31654
Hello Guys,

Issue seems to be fixed with TF 2.1 for me as well as Graphics card swap to RTX 2080.
Still many thanks for your assistance.

[2020-01-17 14:14] #31654 closed

[2020-01-17 14:20] amahendrakar commented on #35833
Was able to reproduce the issue with TF 1.15. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/c44ac3fa99c62342ec0546eaa5ee65fc/35833_1-15.ipynb). Thanks!

[2020-01-17 14:40] gunjanddave commented on #29124
@hadizand You are correct it just shifts the issue one step ahead.

[2020-01-17 14:44] gunjanddave commented on #33416
@hzk7287 Can you please help that How you have resolved it ?

[2020-01-17 14:55] vsimkus commented on #35858
Thanks. With `tf-nightly` the memory usage indeed does not blow up, although it is quite irregular and does not seem to stabilise.
![memory_leak2](https://user-images.githubusercontent.com/5730052/72621388-7530a080-3941-11ea-9b75-dceb446d862d.png)
It would be good to understand the behaviour.

[2020-01-17 14:57] claudiacorreia60 commented on #35958
@ravikyram

That link has useful information about the prefetching process, and [this one](https://www.tensorflow.org/guide/data#randomly_shuffling_input_data) helped me understand the shuffling process. However, I need to know details such as:
- The elements that are prefetched are stored in memory or in storage?
- The buffer used for shuffling fetches elements from memory or from storage? Are th

[2020-01-17 15:35] brian1985 commented on #35988
Having the same issue with what appears to be the same trace. My setup is Pycharm 2019.2 although I have had other versions working previously using Pycharm. Interpreters I have tried are conda and pip through pycharm

[2020-01-17 15:43] Kal213 commented on #35950
Thanks for the reply @oanush.  I've tried updating to tf-nightly in my environment, but it still doesn't seem to work.  I've done some more reading and I believe it is an issue that only occurs when using a GPU.

I still can't seem to get it working on my local environment.  I've updated added
`drop_remainder=True`
to my batch functions, and it's now yielding me a different error:

[code]

As a no

[2020-01-17 15:59] sjtuytc commented on #6548
I solved it by removing other PATH in .bashrc, then restart the shell.

[2020-01-17 16:08] feranick commented on #35917
I updated the bug report to highlight that the issues is present for any recent version of CUDA (10.1, 10.2).

[2020-01-17 16:09] jkyl commented on #18222
@MokkeMeguru this looks great! I would be curious to see which of the [unit tests](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/normalization_test.py) it passes.

[2020-01-17 16:29] samijaba commented on #33182
Have the same issue here too

[2020-01-17 16:49] hartikainen commented on #34697
@ravikyram, should keras functional models be picklable too or not? I'd assume if Sequential models are then functional models should too be? Or does functional models have some properties that make them harder to pickle?

[code]

[2020-01-17 17:01] shizukanaskytree opened #35989 "tf.function stable doc typo issue"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://www.tensorflow.org/api

[2020-01-17 17:01] hohl opened #35990 "Text Classification RNN tutorial doesn't run under TF2.1"
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/text/text_classification_rnn

## Description of issue (what needs changing):

The sample for LSTM-based text classification doesn't run under Tensorflow 2.1 anymore.

The line:

[code]

Does fail with the error:

[code]

[2020-01-17 17:04] guillaumekln commented on #28007
I think the issue is incorrectly assigned as it is not directly related to `tf.summary`. @tensorflow/dev-support Can this be reassigned to someone working on functional ops such as `tf.map_fn`?

[2020-01-17 17:09] mihaimaruseac commented on #35614
Can you try running under Valgrind? Or identifying the line of the crash?

I didn't get a chance to look into this, the earliest I can get to it would be mid February

[2020-01-17 17:21] #34921 closed

[2020-01-17 17:25] tripzero opened #35992 "Keras TextVectorization AttributeError during save_weights"
**System information**
- Colab code: https://colab.research.google.com/drive/1Lf1s9O6Z5ss33GEtb4UXEgjq4wiHw7iy
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 19.04/19.10, Google Colab
- TensorFlow installed from (source or binary): pypi binary
- TensorFlow version (use command below): 2.1.0
- Python version: 3.7

**Describe the current behavior**

AttributeError when calling sav

[2020-01-17 17:28] jvishnuvardhan commented on #34906
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-17 17:28] #34906 closed

[2020-01-17 17:30] jvishnuvardhan commented on #34705
@frank1789 Did you had time to check this issue? Thanks!

[2020-01-17 17:33] haozha111 commented on #28485
Rather than making this thread longer, can you please open a new Github issue, and attach your current error messages, your original TF model and the reproduce steps there? That will help us better triage the issue. Thanks.

[2020-01-17 17:34] haozha111 commented on #29509
Are you using the old converter or the new MLIR-based converter?

[2020-01-17 17:37] amjass12 commented on #35585
Hi @NLP-ZY ,

No worries! Yea this interesting behaviour indeed!  I assume specifying activation =None means that it uses no activation function and is therefore linear model?

I would really like to understand this behaviour and get to the bottom of this as I need gradient tape for a shared dense layer!

[2020-01-17 17:38] dirktheeng opened #35993 "variable_ops.h missing from pip install"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.14.0
- Python version:3.6
- Installed using virtualenv? pip? conda?: Pip
- Bazel version (if compiling from source):
- GCC/Compiler ve

[2020-01-17 17:43] rrkarim commented on #35099
@ravikyram the previous code was merged again: [commit](https://github.com/tensorflow/tensorflow/commit/21882b67cbe63aaf1ee9c3d4e6f90d16cb08967d). Can you please give some info on it?

[2020-01-17 18:00] dirktheeng opened #35994 "Expand registered kernels for variable ops on GPU"
**System information**
- TensorFlow version (you are using):1.14/1.15
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**

The current variable op on GPU is restricted to float, double, and int64.  Through the TF_CALL_GPU_NUMBER_TYPES and
TF_CALL_int64 macros.

The notes say to restrict the dtype to those supported by the assignment op.  The a

[2020-01-17 18:02] nbro opened #35995 "The summary method could be changed for improved understandability and readability"
**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Maybe

**Describe the feature and the current behavior/state.**

Consider the following program

[code]

which produces the following output

[code]

The first layer has 24 parameters because there are 8 means, 8 standard deviations and 8 biases, for a total of `8+8+8=24`. Similarly, the s

[2020-01-17 18:17] houtoms commented on #35921
@jvishnuvardhan Thx for the update. After reading the doc here https://www.tensorflow.org/guide/concrete_function,
[code]
I think my first question in the description is answered. But the issue of missing spatial info after deconv is still on.

[2020-01-17 18:38] freedom9393 commented on #2048
In my case, `an image size` and my `model's input shape` were different. Please check your image size again and again. Cuz, I've spent pretty long time on fixing this problem

[2020-01-17 18:40] saberkun commented on #35603
Could you provide the code your modified?
The gradient clipping will cause all reduce and probably more memory cost.
If you reduce your batch size, could you make it work?

[2020-01-17 18:55] PrieureDeSion commented on #35843
I created a keras Sequence wrapper that calls my custom iterator and that works fine. Slightly inconvenient and certainly inefficient, but gets the job done.

[2020-01-17 18:55] #35843 closed

[2020-01-17 18:56] ymodak commented on #35901
Closing this issue now. Thanks!

[2020-01-17 18:59] jarednielsen commented on #31173
Is this feature on the roadmap? It's critical for our use case.

[2020-01-17 19:11] ymodak commented on #35988
@Shivani29sheth @brian1985  What is your cpu make/model? TF 1.6 and above requires support for AVX instructions sets.

[2020-01-17 19:16] eduardofv commented on #35860
I am still receiving the error but have moved to another environment. It may have to do with driver updates on Ubuntu. Will try to check again and get back to you.

[2020-01-17 19:17] mc51 commented on #35700
I can confirm this on my Google Colab instance. For pip install tensorflow==2.1 as well es the current tf-nightly. It's very unfortunate because you can't use TPU. For me the only solution so far has been to use tensorflow 1.15  The error I get: `Running on TPU  ['10.8.85.34:8470']
INFO:tensorflow:Initializing the TPU system: grpc://10.8.85.34:8470

INFO:tensorflow:Initializing the TPU system: grp

[2020-01-17 19:24] ymodak commented on #35949
You may use `print` instead of `tf.print` in `LambdaCallback` like,
[code]

[2020-01-17 19:24] QuintonDenman commented on #27281
I have just encountered the same bug whilst training a custom GAN built with the tensorflow framework. It also occured after a few hundred epochs and the loss function+optimiser I used are the same as christiangogosilas. Rtx 2070super, python 3.7.4, tensorflow installed using anaconda.

[2020-01-17 19:32] nbro commented on #35949
@ymodak In the example I provided above, I am trying to print the `losses` property, but, actually, I wanted to print the output of a layer, so I had tried something like

[code]
which produces the error mentioned in the issue above.

[2020-01-17 19:38] parag2489 commented on #28018
Any update on this? It would be great to be able to use evaluation hooks in a distributed setting.

[2020-01-17 20:50] nectario opened #36000 "Keras Hub Layer Does Not Work with Functional API. Throws Exception."
TensorFlow Version: 2.1
Python Version: 3.76
OS: Windows 10
Issue:
Keras Hub Layer Does Not Work with Functional API. Throws Exception. Unable to load IMDB dataset. See below code and exception:

[code]
**Exception:**
[code]

<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performanc

[2020-01-17 20:51] rfechtner commented on #22512
Same problem for tensorflow==2.1 @ Win 10.

- NVIDIA® GPU drivers: 441.66
- CUDA® Toolkit: 10.1 (as requested by https://www.tensorflow.org/install/gpu)
- cuDNN SDK: 7.6.5

Any "import tensorflow" results in:

Downgrading to CUDA® Toolkit v10.0 did not solve the problem.

[2020-01-17 21:11] jvishnuvardhan commented on #35857
@Liu-Da did you define any `custom_loss function`? As there is no loss/custom_loss function with name `"weighted_categorical_accuracy"` in your code, it was throwing that `warning`. Please define a custom_loss function with that name then there will be no issue.

There are several ways to write a custom loss function. Here is one way of writing it.
[code]

I am closing this issue as it was resolve

[2020-01-17 21:11] #35857 closed

[2020-01-17 21:13] artemmavrin opened #36001 "Allow Optimizers to perform global gradient clipping"
**System information**
- TensorFlow version: 2.1
- Are you willing to contribute it: Yes

**Describe the feature and the current behavior/state.**

Currently, passing `clipnorm` to a `tf.keras.optimizers.Optimizer` makes it clip the gradient for each weight tensor locally, or *independently of other weight gradients*:

https://github.com/tensorflow/tensorflow/blob/d8bcf5e4a24f9904e9a97b41da393e531

[2020-01-17 21:18] brian1985 opened #36003 "ImportError: DLL Load failed on tensorflow 2.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (Windows10 64 bit):

- TensorFlow installed from (source o

[2020-01-17 21:24] jvishnuvardhan commented on #35840
@HansiZeng There were couple of important performance improvements after releasing `TF2.0`. So please use latest stable version for better performance. Another reason for the small difference in performance is due to overhead of the @tf.function.

Best and more detailed answer for a similar question was provided [here](https://github.com/tensorflow/tensorflow/issues/35720#issuecomment-574188882) b

[2020-01-17 21:24] #35840 closed

[2020-01-17 21:24] ymodak commented on #35934
Please minimal reproducible code snippet. Thanks!

[2020-01-17 21:35] mdanatg commented on #35810
This looks like #35765. Could you try removing the backslash continuation on this line:

[code]

Breaking the line using parentheses should work:

[code]

[2020-01-17 21:38] mdanatg commented on #33962
Thank you, and sorry for the delay. It looks like the warning is caused by the same bug as #35765. Removing the backslash continuations worked in my tests. Until that's fixed, any of these workarounds should silence the warning:
 * removing the backslash continuations
 * decorating the function with @tf.autograph.experimental.do_not_convert, since it doesn't contain data-dependent control flow

No

[2020-01-17 21:40] mdanatg commented on #35765
For a workaround until this is fixed, note that you can use parentheses to break expressions on multiple lines:

[code]

[2020-01-17 21:43] mjlbach commented on #33962
Thank you!

[2020-01-17 21:45] Joshuaalbert opened #36004 "`python': double free or corruption"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
**Scientific Linux 7.7 (Nitrogen)
Linux 3.10.0-1062.9.1.el7.x86_64**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below):
**v1.15.0-rc3-22-g590d6ee 1.15.0**
Same pr

[2020-01-17 22:38] uchua opened #36005 "Compiling tf.keras.Model with hub.KerasLayer fails in distributed scope"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Debian 9.11 (Google Cloud tf2-latest-gpu image)
- TensorFlow installed from: Preinstalled on Google Cloud image
- TensorFlow version: v2.1.0-rc2-17-ge5bf8de
- Python version: 3.5.3
- CUDA/cuDNN version: N/A
- GPU model and memory: None (Using Google Cloud TPU v3-8)

**Describe the current behavior**
When compi

[2020-01-17 22:40] phemmer opened #36006 "keras model training - total loss discrepancy with multiple outputs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Fedora 31
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): v2.

[2020-01-17 22:41] parag2489 commented on #28018
[This line](https://github.com/tensorflow/estimator/blob/168aa7e06125a564d32e3a7a85a4f9e241c6f51b/tensorflow_estimator/python/estimator/estimator.py#L1619) returns a `PerReplica` object and assigns it to `evaluation_hooks`. If we replace the line with:

[code]
then the evaluation hooks can be run. However, they need to already work well with multiple GPUs otherwise the results will be wrong. I am

[2020-01-17 23:05] vilmara opened #36008 "XLA drops performance across the nodes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): TF benchmarks
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): Running with Horovod 0.18.2 via docker
- Ten

[2020-01-17 23:12] renatomello commented on #27519
No, I did not. I'm trying to see if there's a TF/Keras backend function that does something similar that I can work with. Otherwise, I'll just have to create one myself.

[2020-01-17 23:37] ymodak commented on #36003
Did you install Microsoft Visual C++ Redistributable for Visual Studio 2019?
See https://visualstudio.microsoft.com/vs/older-downloads/

[2020-01-17 23:44] #25597 closed

[2020-01-18 00:26] SaranyaPandiaraj commented on #35969
Well i re-installed the keras and the kernel and its working now. Thank you ! :)

[2020-01-18 00:26] #35969 closed

[2020-01-18 00:28] #35872 closed

[2020-01-18 00:28] ymodak commented on #35637
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-18 00:28] #35637 closed

[2020-01-18 00:34] pipidog commented on #34454
save your model in keras .h5 format instead of tensorflow checkpoint format seems to work.

[2020-01-18 00:47] reedwm commented on #35883
You're not misunderstanding anything, as any layer which does not work with `mixed_float16` is a serious bug. Thanks for the report and short example to reproduce! I will address.

[2020-01-18 00:52] sanjoy commented on #27281
Did you notice anything suspicious in the logs?  If you link to them from here I'm happy to take a look as well.

[2020-01-18 00:55] Jbiloki opened #36010 "Custom layer go_backwards does not work"
I am implementing a custom recurrent class that inherits tf.layers.Layer, when using the Bidirectional wrapper I get the error:

[code]
This is the code for the layer itself:

[code]

I have attempted to add the go_backwards to the config that is retrieved when get_config() is called but this results in another error:

[code]

Version info is:
tf_version: '2.1.0-dev20191125'
git_version: 'v1.12.1-

[2020-01-18 00:56] pipidog commented on #34454
Tested again, this issue can be solved by using .h5 format to save the model. It looks like checkpoint format isn't integrated with Keras well and some information is missing in the checkpoint format.

[2020-01-18 01:07] ymodak commented on #35439
To avoid metric accumulation you may try `reset_states()` method.
[code]

[2020-01-18 01:10] mihaimaruseac commented on #35536
These are the ones I identified:

* `curl`:
  * [CVE-2019-5482](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5482)
  * [CVE-2019-5481](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5481)
* `sqlite3`:
  * [CVE-2019-19646](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-19646)
  * [CVE-2019-19645](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-19645)
  * [CVE-20

[2020-01-18 01:32] taf2 commented on #32743
same issue on a raspberry pi

[code]

[2020-01-18 01:32] reedwm commented on #35537
First note, you only need to do softmax in float32 at the end of the model. Unless the softmax is immediately followed by the loss, it is typically safe to do in float16. This means the softmax in `SFM1` and `SFM2` is fine to do in float16 unless you plan on having those layers be the last layers of the model. Therefore you do not have to pass `dtype='float32'` to softmax.

Now to answer the quest

[2020-01-18 01:43] taf2 commented on #32743
rebooting my pi - fixed the issue for me

[2020-01-18 02:04] nbro commented on #35949
@ymodak The documentation of `tf.print` says

So are outputs of layers considered either dense tensors or dense tensors? They should not be considered primitive Python objects, data structures that contain tensors or printable Python objects.

Anyway, my main goal is to be able to print out the activations for each layer of a model at the end of the mini-batch (thus while training the model). See

[2020-01-18 02:06] frankchn commented on #35700
Hello! This seems to be a Colab-specific issue (Colab might not have fully rolled out the TensorFlow TPU 2.1 backend yet). Can you follow the instructions at https://github.com/googlecolab/colabtools#contacting-us and file an issue/send feedback to the Colab team?

[2020-01-18 02:06] #35700 closed

[2020-01-18 02:20] reedwm commented on #35528
Sorry for the late response. I answered your questions below. Let me know if you have any more questions.

This warning is poorly worded, and you can safely ignore it. If you want to know the technical details, what is happening is as follows. You set the policy to `mixed_float16` and use a `LossScaleOptimizer`. The `LossScaleOptimizer` automatically creates a `DynamicLossScale` object since you p

[2020-01-18 02:33] mrinalsardar commented on #35932
Here it goes:

[code]

NB: The tokenizer came from here -
https://raw.githubusercontent.com/tensorflow/models/master/official/nlp/bert/tokenization.py

[2020-01-18 02:36] karimnosseir commented on #35927
Can you please share the TF graph def or at least instructions on running the scripts you shared

Thanks

[2020-01-18 02:39] karimnosseir commented on #31239
Hi,
Is this still an issue ?
If yes, can you share the TF pb file

Thanks

[2020-01-18 02:44] xuchengggg commented on #35927
Just need tf-nightly, python 3.7, and run model.py, it would print the same error as I mentioned.

[2020-01-18 02:45] bj1123 commented on #35810
@mdanatg removing backslash continuation solves the problem. Thanks

[2020-01-18 02:54] mdanatg commented on #35810
Thank you for checking. We'll track fixing this issue in #35765.

[2020-01-18 02:54] #35810 closed

[2020-01-18 02:59] depthwise commented on #29509
Seems to happen regardless of which converter is chosen. I can ask my client to provide an untrained SavedModel as a repro, if that helps.

[2020-01-18 03:11] depthwise commented on #29509
I'm pretty sure it would repro with segmentation specific variant of MobileNet V3, i.e. this one: https://github.com/1e100/mobilenet_v3/blob/master/mobilenet_v3_keras.py, using "large_segmentation" config: https://github.com/1e100/mobilenet_v3/blob/master/mobilenet_v3_configs.py#L69.

[2020-01-18 03:23] phemmer commented on #36006
After finally figuring out how to get TF2 to stay in eager mode, allowing me to attach a debugger, I finally found where this unknown loss is coming from.
I have a kernel regularizer (L1L2) on one of the layers in the model, and as per [the documentation](https://www.tensorflow.org/api_docs/python/tf/keras/regularizers/Regularizer):

And if we look at the value:
[code]

So I think that answers the

[2020-01-18 05:20] amitport commented on #33374
Why was this closed? It is not resolved AFAIK (yes it can be built locally, but that's not the issue)

[2020-01-18 05:42] alanpurple commented on #35977
@gadagashwini

setup.py says

'numpy >= 1.16.0, < 2.0'

[2020-01-18 05:56] Iluvalar commented on #33374
ERROR: Could not find a version that satisfies the requirement tf-nightly (from versions: none)
ERROR: No matching distribution found for tf-nightly
Doesn't work here either.

[2020-01-18 06:03] gunan commented on #33374
it was autoclosed by a commit. we are still aware that 3.8 binaries are not available.

[2020-01-18 06:05] unixrh commented on #6548
I solved this problem by update my $path. In my case, I installed Anaconda3 on my Mac OSX. The problem is because anaconda add its `bin` path to the beginning of $PATH, therefore you use its python. So you may try to update your $PATH to use maybe `/usr/local/bin/python`

[2020-01-18 06:36] MaxChu719 commented on #15041
I had the same problem but i dont know why it will make the memory explode at compute_gradients or minimize. Can you explain why it will happen?
Also, can i use tf.slice instead of the indexing operator?

[2020-01-18 07:05] darthbhyrava commented on #35523
Thanks for the response, apologies for the delay in replying.

I cannot provide supporting files or the entire code, they're proprietary in nature. However I can provide details for the parameters in the embedding layer, and the nature of the data set with simple examples:

[code]
Please let me know if additional info is needed.

Also, my workaround was to eventually downgrade tensorflow (to r1.15

[2020-01-18 07:12] Yablon opened #36014 "[tf1] tf.keras.layers.CudnnGRU cannot be converted and loaded when in subclass of tf.keras.Model"
**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Following codes run well in training. But when I inference on CPU, I cannot load model because of [tensorflow/hdf5_format.py at r1.14 · tensorflow/tensorflow · GitHub](https://github.com/tensorflow/tensorflow/blob/r1.14/tensorf

[2020-01-18 08:13] frank1789 commented on #34705
I solicited the cluster manager, but I am still not getting a response and the error persists

[2020-01-18 08:16] DonaldTsang commented on #28530
Here are three examples
- https://github.com/Cloud-CV/Fabrik
- https://github.com/TommyX12/tensorbuilder
- https://github.com/sharmalab/tensorflow-gui
@developeralgo8888 please take a look and see if you can contribute to these projects

[2020-01-18 09:35] devbk007 opened #36015 "Some of the operators in the model are not supported by the standard TensorFlow Lite runtime."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):1.15.0

**Provide the text output from tflite_convert**
Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be ab

[2020-01-18 09:58] 3nomis commented on #2134
If I extract multiple glimpses from an IMG how can I make sure they are non overlapping? thanks

[2020-01-18 11:59] singhstack commented on #34722
My file is not named 'csv.py' or 'code.py' but I am still receiving this error.

Infact, simply using 'import tensorflow' in the shell, gives me this error.

Can anyone help me resolve this?

[2020-01-18 13:22] jamesturner246 commented on #34429
Any chance the fix can be backported to r2.1 branch in the meantime? Thanks.

[2020-01-18 13:52] aboerzel opened #36016 "Error optimizing my TFLite model for GPU usage"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro for Workstations (Build: 18363.592)
- TensorFlow installed from (source or binary): pip install tf-nightly
- TensorFlow version (or github SHA if from source): 2.2.0-dev20200115

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invoca

[2020-01-18 14:27] gunjanddave commented on #29472
Perfect it worked. Thanks.

[2020-01-18 15:08] dishkakrauch commented on #31312
I still got this error when I'm running .fit method in jupyter notebook, it's same even for notebooks in kaggle kernels. Have anybody solve this issue?

[2020-01-18 17:54] abcdabcd987 commented on #33758
Hi @mihaimaruseac, just curious if there is any update on this? I think as of today's `master` branch, I still run into this issue. Thanks!

[2020-01-18 17:59] AlexandreMarcotte commented on #35968
I run into the same issue with slightly different system informations

[2020-01-18 18:20] Ali-Junaid opened #36020 "can't import tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 8.1
- Mobile device (e

[2020-01-18 18:29] mathemaphysics commented on #34215
I'm getting this too under similar conditions. Massive flow of errors.

[2020-01-18 18:40] abcdabcd987 commented on #35623
Actually, I found manually specifying bazel version only fix linking issues for `v1.15.0`, not for 2.x, as in 2.x there is a `.bazelversion` that forces bazel to invoke the specific version. And I found that for 2.x, I can build it on Manjaro (Arch Linux) but not Ubuntu 18.04. `--noincompatible_do_not_split_linking_cmdline` can indeed fix the linking errors on Ubuntu 18.04. Thanks @Arjuna197 !

[2020-01-18 19:06] dcavaller commented on #24412
Wath is work with tensorfloat in Jupiter Lab?

[2020-01-18 19:07] dcavaller commented on #24412
I´m work in conda

[2020-01-18 19:24] trayanmomkov commented on #34350
The same problem when trying to convert saved **DNNClassifier estimator** model.
(Sorry for the formatting)

TensorFlow version:  2.0.0

def construct_feature_columns():
    return set([tf.feature_column.numeric_column('pixels', shape=NUMBER_OF_PIXELS)])
...

my_optimizer = partial(tf.optimizers.Adam, learning_rate=learning_rate, clipnorm=5.0)
classifier = tf.estimator.DNNClassifier(
    feature_c

[2020-01-18 19:37] singhsuryansh12 commented on #26197
I would love to work on this. Can I please get a chance?

[2020-01-18 19:51] dhumal436 commented on #32885
how to solve this error

[2020-01-18 20:15] hartikainen opened #36021 "Loading a tf.Module with tf.saved_model.load missing attributes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macos Catalina
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): `v2.1.0-

[2020-01-18 20:41] jinay1991 opened #36024 "Tensorflow Lite New Converter does not allow to use inference_input_type and inference_output_type with V2 APIs"
**System information**
- OS Platform and Distribution (Linux, MacOS):
- TensorFlow installed from (official python wheel):
- TensorFlow version (v2.1.0):

[code]

Above code segment is expected to produce uint8 inference_input_type and inference_output_type, yet there is no uint8 conversion of the input layers and it ended up in identifying as floating_model when used in example [label_image.cc](h

[2020-01-18 21:12] abcdabcd987 opened #36025 "Unknown: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-01-18 21:34] cswiger commented on #34743
Could this be related to https://github.com/tensorflow/tensorflow/issues/35584 ?
That - using bazel 0.26.1 solved my build issue

[2020-01-18 21:36] danperazzo commented on #24885
@guikarist , could you send please a sample program from you build of tensorflow? I have used it to build tensorflow, have used the correct files and linkers in microsoft visual studio 2017. However, It does not seem to work since the "tensorflow/core/framework/graph.pb.h" file is missing on most tutorial that I find. For testing, I have been using this tutorial: https://medium.com/@mohamedtamer92

[2020-01-18 21:38] cswiger commented on #35584
This bazel 0.26.1 solution worked for me also - Ubuntu16, python 3.5.2, TF2.1 cuda gpu, gcc 5.4.0, cuda 10.1, cudnn7, GeForce GTX 1060 6GB

[2020-01-18 22:00] ebrevdo commented on #15041
Both tf.slice and the indexing operator take a big matrix and take out a
chunk which is smaller.  Since the output of the backprop of this operation
must have the same shape as the original big matrix, it means it takes the
gradient of the slice and pads it with zeros so it's the same shape as the
input into the slice/indexing operator.  Do this once for each row of the
original matrix and you've

[2020-01-18 22:22] ymodak commented on #36020
TF 1.8 GPU prebuit binary supports cuda 9.0
See https://www.tensorflow.org/install/source#gpu
You also need to update cuda, cudnn, cupti paths.
See https://www.tensorflow.org/install/gpu#windows_setup

[2020-01-18 23:10] ajmssc commented on #26813
this is reproducible outside of IDEs using pylint
[code]

[2020-01-18 23:14] birkanatici commented on #24520
I have same problem for using **_from_tensor_slices_** in the tf.keras model.fit method. I use `dataset.as_numpy_iterator() `as a workaround.

Use like:

[code]

Instead of:

[code]

[2020-01-18 23:22] l0ophole commented on #33758
I was able to build tf 1.14.0 with python 3.8 by modifying the PKGBUILD in the tensorflow114 AUR package and adding a couple patches:

tensorflow114/PKGBUILD
https://pastebin.com/kQue1cps

tensorflow114/tensorflow-1.14-python3.8.diff
https://pastebin.com/MLrrGXKD

tensorflow114/src/Add-grpc-fix-for-gettid.patch
https://pastebin.com/XDvwPzdL

[2020-01-18 23:59] liushengzhong1023 commented on #24816
I got the same issue, then I tried to replace the `tf.concat` with `tf.stack` function and the issue disappeared. I am doing so because I am concatenating into a new dimension. Hope this can help.

[2020-01-19 00:43] astier commented on #26813
Please reopen. This is a real issue.

[2020-01-19 00:59] Celt1967 commented on #35564
Sorry for not getting back.  Yes installing Tensorflow 2.0.0 solved the issue.  Thanks.  Although installing Tensorflow 2 on a Raspberry Pi was another challenge.

[2020-01-19 01:46] hzk7287 commented on #33416
take a look at https://github.com/tensorflow/tensorflow/issues/33490
I use tensorflow2.0

[2020-01-19 02:41] 18970901926 opened #36029 "inference result is unstable"
when i do inference use the same input at several times,  the inference result will be error at some times, this is terrible.  I don't know why, and anyone can help me? Thank you.

[2020-01-19 02:42] spurani commented on #35227
@gadagashwini Is it possible to build Tensorflow using python 2.7? Because I removed my previous tensorflow installation which was built on python 3.5. I have tried building tensorflow several times using python 2.7 but it fails everytime is there a command from where I can trace logs and show you what's the exact issue. It would a learning lesson for me is you could me solve this issue. My system

[2020-01-19 03:18] Liu-Da commented on #35857
@jvishnuvardhan
It seems that I did not describe my problem well. Let me explain in more detail. When I define a model with multiple outputs, we can define a built-in metric or a custom metric for each output to describe the performance of the model. But my question is how can I define a weighted metric on multiple output nodes.

for example. If my model has three output `out1` `out2` `out3`, thei

[2020-01-19 03:36] TianHongZXY commented on #35692
@gargn I solve the problem in issue #35841

[2020-01-19 03:36] Liu-Da commented on #35857
@jvishnuvardhan
I uploaded an image to further describe my problem.
![361579404857_ pic_hd](https://user-images.githubusercontent.com/24472521/72674290-eee69c80-3aaf-11ea-9501-03b4da7933f1.jpg)

[2020-01-19 03:40] Liu-Da commented on #35857
@jvishnuvardhan
I found a similar issue in the keras project, but there is no feasible solution. https://github.com/keras-team/keras/issues/10287

[2020-01-19 06:18] JiayuanSternLi commented on #31184
"Such an issue differs from models you trained". It's true.
It is caused by the batch norm layers. Those models with BN layers requires the argument traning=True, but others don't

[2020-01-19 06:28] tigert1998 commented on #35689
I have the same issue here. Could tf maintainers team nicely provides a way to export tflite headers?

[2020-01-19 06:47] PooyaLaryan commented on #22480
you should save your model in the .pb file
at first load you model if you saved it before.
and then run YOUR_MODEL.save('NAME.pb') .
now you have a folder that contain saved model.pb and necessary other file.
create converter instance with
convertor = tensorflow.lite.TFLiteConverter.from_saved_model('P1.pb')
at end convert your model and save it

tfmodel = converter.convert()
open("model.tflite","

[2020-01-19 07:29] jamesturner246 commented on #35584
Also works for me. Any chance of backporting this fix to the r2.1 branch?

[2020-01-19 08:58] yanqingshang opened #36033 "tensorflow1.12 hangs at MapAndBatchDatasetOp::Dataset::Iterator::RunnerThread"
- OS Platform and Distribution: aarch64
- TensorFlow installed from (source or binary):source
- TensorFlow version: 1.12
- Python version: 3.6.1
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):

preprocessing script is MapAndBatchDataset+PrefetchDataset, When we run training for a long time, we find that the training will be hung. We found that when ha

[2020-01-19 09:19] SongLingzhi commented on #35849
@ravikyram
[code]

[2020-01-19 09:53] dishkakrauch commented on #31312
How do you use garbage collector at each epoch? Can you share code or something?

[2020-01-19 09:56] dishkakrauch commented on #31312
That's not okay when pip stable tensorflow version is not actually stable.
Hope somebody from Google team note anything about it.

[2020-01-19 10:02] feidieufo opened #36034 "Possible mem leak in tf.random.categorical"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2020-01-19 10:20] gabehope commented on #31312
I just ran it in a Keras callback. Still not really sure why this was necessary, haven't had a chance to dig into what was happening, but it solved my issue.

Minimal example (based on tutorial: [https://www.tensorflow.org/guide/keras/custom_callback](https://www.tensorflow.org/guide/keras/custom_callback)):

`
import tensorflow as tf
import gc

class MyCustomCallback(tf.keras.callbacks.Callback):

[2020-01-19 10:24] dishkakrauch commented on #31312
Okay, thank you. I thought I was talking about another way for garbage collector. I use callbacks in my models. Gonna try to cure my tensorflow issue as you did.

[2020-01-19 11:03] CLIsVeryOK commented on #31286
use tf.Graph().as_default() to separate differnt Scope, it works.

with tf.Graph().as_default() as g:
            sess = tf.Session(config=config_gpu)
            meta_graph_def = tf.saved_model.loader.load(sess, ["serve"], model_path)
            signature = meta_graph_def.signature_def

[2020-01-19 11:19] zldrobit commented on #34860
@ambarion @sanrahul, by quantizing YOLO v3 for TF Lite, I also encounter ValueError: Input array not provided for operation 'reshape'.
I made a script to fix the reshape problems, plz refer to **Quantization** section in [onnx_tflite_yolov3](https://github.com/zldrobit/onnx_tflite_yolov3)

[2020-01-19 11:24] wannibar commented on #21751
mark. tf.feature_column.input_layer value is not in param order.

[2020-01-19 11:49] zldrobit commented on #31224
Hi all, I tried to debug the tensorflow source code to find the reason.
It seems that while quantizing the model, toco(tflite_convert)  misses putting the **new_shape** attribute in the ReshapeOptions of flatbuffers.
The only difference in ReshapeOptions between the unquantized and the quantized model is whether to have the **new_shape** attribute.
More interesting, the unquantized model barely ha

[2020-01-19 12:24] #34099 closed

[2020-01-19 12:24] tensorflowbutler commented on #33255
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-19 12:24] tensorflowbutler commented on #34099
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2020-01-19 12:24] tensorflowbutler commented on #35260
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-01-19 12:43] Catadanna commented on #35968
Had the same issue on Linux, Ubuntu 18.04.3, when running in the console :

`python -c; import keras;print(keras.__version__)`

The problem occurs when trying to import keras or tensorflow. I wonder if this is not related to the fact that Python2 has no more maintenance starting from 1st Jan 2020 ... I installed and use Python 3 but perhaps I must make some more updates ... to check.

[2020-01-19 12:44] ThisIsIsaac opened #36036 "Allow CuDNN 7.2 to convert float -> fp16 for tensor core ops"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): Tensorflow using cuDNN 7.2 and above
- Are you willing to

[2020-01-19 13:20] dishkakrauch commented on #31312
Didn't help anyway)

[2020-01-19 14:01] Lasers67 commented on #36025
please check if enough memory on that particular GPU is available, sometimes this error occurs due to insufficient memory

[2020-01-19 15:08] yongtang commented on #35430
Added PR #36037 for the fix.

[2020-01-19 15:08] zynabsmaan opened #36038 "Showing index instead of labels in word embedding projector"
For large embedding words, I can't show the word itself but the index instead appear. And so, I can't estimate the performance of the word embedding. So, I think words should appear instead of index so, how I can benefit from it?

**System information**
- http://projector.tensorflow.org/

You can add an option so, I can choose either index or words.

Sorry for my bad English.

[2020-01-19 15:24] soCzech commented on #31458
I can confirm the same bug in TF version 2.1. It behaves rather strangely - the first two functions work but the last does not.
[code]

[2020-01-19 15:25] kiddojazz commented on #35749
Best solution is just downgrading your tensorflow using
pip install tensorflow==2.0

[2020-01-19 15:32] janosh commented on #26406
Any progress on this?

I'm in that exact situation and agree that `SummaryWriter.as_default(step=None)` seems like a good solution here.

[2020-01-19 16:01] CREVIOS opened #36039 "ADD NEW DOCUMENTATION ON HOW TO INTERACT WITH ASTRONOMY WITH ANIMATION ?"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## Description of issue (what needs changing):
We need a

[2020-01-19 16:57] 14asaf opened #36042 "NotImplementedError in conv2 when i use in tf.distribute.experimental.CentralStorageStrategy() for multi gpus in tf2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- TensorFlow installed from conda install tensorflow.
- TensorFlow version : 2.0.0
- Python version: Python 3.7.6
- GCC/Compiler version (if compiling from source): gcc version 7.4.0
- CUDA/cuDNN version: CUDA Version 10

[2020-01-19 17:14] #36006 closed

[2020-01-19 18:09] wajeehulhassanvii commented on #34888
It worked but not sure if it would limit the performance. Tried everything else though. Thank

[2020-01-19 18:15] wajeehulhassanvii commented on #34888
Something finally worked after two days of trying. Thank :)

[2020-01-19 18:19] trayanmomkov commented on #35031
@daverim could you please explain what exactly "This converter can only convert a single ConcreteFunction." means?
Why it happens and how to avoid it?
Sorry if questions are silly but I'm new to Tensorflow.

[2020-01-19 18:21] arjun-majumdar commented on #35951
Problem Solved. Thanks!

[2020-01-19 18:21] #35951 closed

[2020-01-19 19:44] ArashAmani commented on #30191
So Nice! this worked for me too :)

[2020-01-19 20:24] DebojitBiswas commented on #34135
Hi Team,
I am also getting the same error while I am trying to access the python script from a php block through a browser. The program is running fine while run from a terminal. For an example "python runProg.py" works fine from the terminal. Also, I can run the php block separately which is calling the python block. Like "php start.php" works fine. But While I am running it from the browser like

[2020-01-19 20:50] QuintonDenman commented on #27281
Thank you for the offer sanjoy. Do you know if tensorflow save error logs like this somewhere? I found it hard to search for an answer online as anything with tensorflow and logs brings up code guidelines as you can imagine.

[2020-01-19 22:02] noamgot commented on #33755
Same here...

[2020-01-19 22:04] abcdabcd987 commented on #36025
@Lasers67 Thanks for the notice. I saw some people run into this issue because of OOM, but I'm not in this situation. `nvidia-smi` reports zero memory usage. The model, ResNet50, takes very few memory, especially when the batch size is one. And the same script runs on the same machine on other TensorFlow builds/versions.

[2020-01-19 22:40] gunan commented on #35516
Again, all tests under tensorflow repository is only run for all configurations once every night. What I say above is still valid for all tests under tensorflow. So from my point of view, it is equally infeasible.

I guess this is in part  our general development model. We live and develop at head. there are no "stable" tags except for release branches/tags.

[2020-01-19 22:40] #35516 closed

[2020-01-19 22:56] fcarsten opened #36044 "Simple keras model, Model.fit() does not learn unless experimental_run_tf_function=False at compile"
**System information**
- Windos 10, 64 Bit
- TensorFlow installed from pip
- TensorFlow version: v2.1.0-rc2-17-ge5bf8de410 2.1.0
- Python version: 3.7

**Describe the current behavior**

Simple Model (see below), compiles without error. It is used in a reinforcement scenario, i.e. iterations of `predict()` and `fit()` calls to iteratively train the model.
Currently the model does not seem to impro

[2020-01-20 01:16] ecpost commented on #8251
Thanks @RishiRanjan21.  I also had to change it to 1.14 to avoid [this](https://github.com/openai/gpt-2/issues/178#issuecomment-569099076) issue.  Specifically, like this:

pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.14.0-py3-none-any.whl

[2020-01-20 01:44] terryheo commented on #35850
You'd better provide your own error reporter to check if there is any error from your TFLite Interpreter.
https://www.tensorflow.org/lite/api_docs/cc/class/tflite/error-reporter

[2020-01-20 01:45] jianlongf commented on #35847
Sorry for lately responding,  Actually, NNAPI use 8 bit quantization , but I mean the implementation of operator is  32bit int32, and I checked the implementation of tflite that was int16 implementation.

[2020-01-20 02:08] FSyed2 opened #36045 "Using TensorFlow backend. ERROR:root:Internal Python error in the inspect module."
**TensorFlow isn't working - Please help**

Traceback (most recent call last):
  File "c:\users\f174s322\pycharmprojects\nn_trial run\trial_1_jan_19_2020\venv\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "c:\users\f174s322\pycharmprojects\nn_trial run\trial_1_jan_19_2020\venv\lib\site-pack

[2020-01-20 02:33] depthwise commented on #29509
This is where it bails in my case (in `identify_dilated_conv.cc`):
[code]

[2020-01-20 03:21] depthwise commented on #29509
Upon export, a _dilated_ MobileNet V3 block turns into this:
![dilated_bug](https://user-images.githubusercontent.com/46361887/72696297-7eac3b00-3af0-11ea-8cf6-d45bfc7e40be.png)
In its original form, the block is defined as follows: https://github.com/1e100/mobilenet_v3/blob/master/mobilenet_v3_keras.py#L155

[2020-01-20 03:22] breadbread1984 opened #36048 "tf.keras.losses.MeanSquaredError doesnt support scalar inputs"
I am using tensorflow version 2.2.0-dev20200119. tf.keras.losses.MeanSquaredError can't handle input scalar values properly. The following code can reproduce the problem.

[code]

[2020-01-20 03:25] depthwise commented on #29509
It expects that there will be bias add either before or after BatchToSpaceNd, but it looks like the bias is folded into DepthwiseConv2D. What that Mul is doing there, I don't know.

[2020-01-20 04:06] depthwise commented on #29509
Minimal repro:
[code]
You get the following on the other end:
![minimal_repro_bug](https://user-images.githubusercontent.com/46361887/72698007-1b71d700-3af7-11ea-9176-bf05f210c17d.png)
Which is not runnable on the GPU.

[2020-01-20 04:33] gadagashwini commented on #35981
@vipulraut, Please provide the minimal code snippet to replicate the reported issue. Thanks!

[2020-01-20 04:57] oanush commented on #35495
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-20 04:57] #35495 closed

[2020-01-20 05:34] yourtheron commented on #35528
@reedwm, thank you so much for your detailed explanation! Everything is clear to me now!

[2020-01-20 05:34] #35528 closed

[2020-01-20 05:54] oanush commented on #36021
Issue replicating for TF-2.1 and [tf-nightly](https://colab.sandbox.google.com/gist/oanush/c264d49024c257acbbbc2595ade8b468/36021.ipynb) .Thank you

[2020-01-20 05:55] vipulraut commented on #35981
Hi
@gadagashwini - Thank you for your response.
I have generated TFLite files using steps given on https://medium.com/@yannicksergeobam/plant-disease-classification-with-tensorflow-2-0-268fe7f72c2a.

When I am trying to use this TFLite file it is crashing at . [Github link](https://github.com/obeshor/Plant-Diseases-Detector/blob/master/GreenDoctor/app/src/main/java/isomora/com/greendoctor/Classifi

[2020-01-20 06:14] zhangxiaoli73 commented on #34615
@CasiaFan Have you fixed this issue? I met the same issue, but have no idea about solution.

[2020-01-20 06:16] Korsar13 opened #36054 "Failed build on windows wtih MKL"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro
- TensorFlow in

[2020-01-20 06:17] oanush commented on #36000
@nectario ,
As per the description, issue belongs to [TF-hub](https://github.com/tensorflow/hub/issues/new). Can you raise issue in that repo?Thanks!

[2020-01-20 06:24] ravikyram commented on #36020
@Ali-Junaid
Please, see tested build configuration for TF 1.8 GPU for [windows](https://www.tensorflow.org/install/source_windows#gpu). Thanks!

[2020-01-20 06:54] BrEr commented on #35630
Any updates on this? I still did not figure this issue out.

[2020-01-20 06:59] yuejie89 commented on #136
ResourceExhaustedError (see above for traceback): OOM when allocating tensor with shape[128,3,8,128,8,128] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc
         [[node GPU0/D_loss/G/G_synthesis/cond/cond_1/Upscale2D_2/Tile (defined at D:\jiateng\project\stylegan\stylegan\training\networks_stylegan.py:66) ]]
Hint: If you want to see a list of allocated tenso

[2020-01-20 07:41] forresti opened #36055 "TFLite Android Model Benchmark Tool -- results not showing up in adb logcat"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- Mobile device: Pixel 3
- TensorFlow installed from: source
- TensorFlow version: From master branch, commit hash 69ac54d92de18ca18f9a110d6dd464aeb1116342. Compiled tensorflow with `./configure` and then `bazel build --config=v1 //tensorflow/tools/pip_package:build_pip_package`.
- Python version: 3.6
- Installed using: conda
- Ba

[2020-01-20 07:59] oanush commented on #35990
@hohl ,
You can try using
`train_dataset = train_dataset.padded_batch(BATCH_SIZE, tf.compat.v1.data.get_output_shapes(train_dataset))`
in place of `train_dataset = train_dataset.padded_batch(BATCH_SIZE, train_dataset.output_shapes)
`
`test_dataset = test_dataset.padded_batch(BATCH_SIZE, tf.compat.v1.data.get_output_shapes(test_dataset))`
and in place of `test_dataset = test_dataset.padded_batch(BA

[2020-01-20 09:09] oanush commented on #35975
@NagabhushanSN95 ,
You can refer this [SO link ](https://stackoverflow.com/questions/59783361/resnet-model-in-keras-and-tf-keras-give-different-output-for-the-same-image)for the solution. Please feel free to close the issue if its resolved.Thanks!

[2020-01-20 09:32] jiapei100 opened #36057 "Execution platform: @bazel_tools//platforms:host_platform: bash failed: error executing command"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04.3
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.x
- Python version: 3.8.1
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 0.26.1 with
- GCC/Compiler version (if compiling from source): gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
- CUDA/cu

[2020-01-20 09:34] oanush commented on #35514
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-20 09:34] #35514 closed

[2020-01-20 09:35] oanush commented on #35601
@Hukongtao ,
Any update on the issue ?Thanks!

[2020-01-20 09:36] oanush commented on #35646
@MarkJThomas ,
Any update on the issue ?Thanks!

[2020-01-20 09:38] oanush commented on #35660
@oxqfsyef ,
Any update on the issue?Thanks!

[2020-01-20 09:39] oanush commented on #35681
@evancasey ,
Any update on the issue?Thanks!

[2020-01-20 09:39] oanush commented on #35742
@stoneyang ,
Any update on the issue ?Thanks!

[2020-01-20 09:40] oanush commented on #35778
@brightest-dazes ,
Any update on the issue ?Thanks!

[2020-01-20 09:42] oanush commented on #35900
Issue replicating,thanks!

[2020-01-20 10:09] NagabhushanSN95 commented on #35975
Thanks. Would it be possible to add a parameter to load original ResNet weights?

[2020-01-20 10:12] gadagashwini commented on #36010
@Jbiloki, can you provide the complete code to replicate the issue. Thanks

[2020-01-20 10:16] gadagashwini commented on #36015
@devbk007, can you provide the complete code to analyze the issue. Thanks

[2020-01-20 10:21] gadagashwini commented on #36029
@18970901926
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?
Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in the Github new issue [tem

[2020-01-20 10:37] optiluca commented on #34644
Any news on this?  Thanks!

[2020-01-20 10:44] weihnachten033 commented on #35835
The PR for the issue is this one :  #33441

[2020-01-20 10:44] nauyan opened #36059 "Cannot convert between a TensorFlowLite buffer with 1392640 bytes and a Java Buffer with 4177920 bytes."
I am using Tensorflow.Lite.Support function for Inference of a model that takes two input and gives output in the form of Image. The first input is an RGB image whereas the second image is a single-channel image.When I run the application for inference I get the error that is:

**Cannot convert between a TensorFlowLite buffer with 1392640 bytes and a Java Buffer with 4177920 bytes.**

I have attac

[2020-01-20 11:02] 18970901926 commented on #36029
hi,
&nbsp;&nbsp; I have sovlved the problem by updating tf version for a higher. I stil have a question, the tf c version doesn't work when it contains LSTM block, until replacing LSTM with others. It reply that op doesn't register. It really unconvinent. And i don't know how to register. The tf.contrib module don't work. Can you help me. The LSTM cell is better than others.
&nbsp; &nbsp; &nbsp; T

[2020-01-20 11:06] RoelantStegmann commented on #13796
For me this still gives errors however.

`OSError: Unable to create file (unable to open file: name = 's3://bucket/key/20200120_102319968195_some_name/weights.01-0.4383.hdf5', errno = 2, error message = 'No such file or directory', flags = 13, o_flags = 242)`

[2020-01-20 11:07] Robbie-Palmer commented on #35934
**Minimal reproducible code snippets**

Using TensorFlow v1.4.0, Keras v2.1.1, CUDA v8.0.1 and cuDNN v6.0

[code]

Using TensorFlow v2.1.0, CUDA v10.1.105 and cuDNN v7.6

[code]

[2020-01-20 11:58] flifuehu commented on #34642
That looks to me a matter of tolerance, try decreasing `decimal` to 4 or 3

[2020-01-20 12:04] dcavaller commented on #24412
Thanks and regards for alll

[2020-01-20 12:20] elnazsn1988 commented on #7375
is tensorboard down again? working fine last tonight - today I get the white page, no tabs.

[2020-01-20 12:33] byronyi commented on #13796
Use tf format instead of hdf5.

[2020-01-20 12:41] AntonioDeVita opened #36061 "Segmentation fault error when running Makefile"
@tensorflow/micro

- Host OS Platform and Distribution: Windows 10
- TensorFlow installed using "git clone https://github.com/tensorflow/tensorflow.git"
- Tensorflow version: 2.1.0
- Target platform: Laptop

Hello, I'm following the tutorial provided on the book "TinyML - Machine Learning with TensorFlow Lite on Arduino and Ultra-Low-Power Microcontrollers". The aim is to run the "hello world" tes

[2020-01-20 12:52] xav12358 opened #36062 "Request example for object detection on Tensorflow >= 2.0 in CPP"
Hello,
I want to use Tensorflow frozen models in c++. I did find examples on CPP in Tensorflow < 2.0:
https://github.com/CasiaFan/tensorflow_cpp_object_detection_web_server

Where could I get an simple SSD object detection on CPP in Tensorflow >= 2.0 ?

**System information** : Ubuntu 18.04
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

[2020-01-20 13:01] gadagashwini commented on #36034
Issue is replicating on colab with Tf 2.0.
Please find the gist [here](https://colab.sandbox.google.com/drive/17HhoZooFxxS4iukJAsJDZ6s1DiKGz7IX?authuser=1#scrollTo=kuiNQi0c9EbB). Thanks!

[2020-01-20 13:03] quantitative-technologies commented on #22641
$ bazel build --verbose_failures tensorflow/tools/pip_package:build_pip_package

Traceback (most recent call last):
  File "/home/james/.cache/bazel/_bazel_james/eb428e77df4edf260b1a35afd0cdd799/execroot/org_tensorflow/bazel-out/host/bin/tensorflow/python/keras/api/create_tensorflow.python_api_keras_python_api_gen_compat_v2.runfiles/org_tensorflow/tensorflow/python/tools/api/generator/create_pytho

[2020-01-20 13:05] sanrahul opened #36063 "Request for tflite using Android NDK documentaion"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue: https://groups.google.com/a/ten

[2020-01-20 13:14] ravikyram commented on #35982
I have tried on colab with TF version 2.1 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/1543a7d44b0816f57b5c2fdf7fd1fd8a/untitled573.ipynb). Thanks!

[2020-01-20 13:19] Lillypucien opened #36064 "Custom C++ operator compilation error with Tensorflow 2.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2020-01-20 13:27] gadagashwini commented on #35977
@alanpurple,
Just to verify, did you install multiple versions of numpy.

[2020-01-20 13:29] dbacea opened #36065 "tf.keras MobileNetV2 with weights=None fails to train"
**System information**
- Google Colab notebook
- TensorFlow version: 2.1.0-rc1
- Python version: 3.7
- CUDA/cuDNN version: 10.0.130
- GPU model and memory: Tesla T4 12 GB

**Describe the current behavior**
Based on the tutorial: https://www.tensorflow.org/tutorials/images/transfer_learning#format_the_data

Start running the cells inside the notebook of the tutorial.

 _#Create the base model from

[2020-01-20 13:42] gadagashwini commented on #35499
@manuel-lincbiotech,
Issue is resolved. Are you happy to close this issue. Thanks!

[2020-01-20 13:43] alanpurple commented on #35977
@gadagashwini

of course not.

I've checked several times

[2020-01-20 13:47] gadagashwini commented on #35443
@WakerKQ, Did you get a chance to look at gist. Thanks!

[2020-01-20 13:49] amahendrakar commented on #36057
@jiapei100,
Looks like you are using Python 3.8, Tensorflow is only supported till Python 3.7 as of now.
Please refer to [this](https://github.com/tensorflow/tensorflow/issues/33374#issuecomment-571074915) comment for further information. Thanks!

[2020-01-20 13:54] EtagiBI commented on #35056
@gowthamkpr thank you. Unfortunately, it doesn't work, because there's no subfolder named "keras" in "tensorflow-core" folder.
[code]

Here's my "tensorflow-core" folder:
![image](https://user-images.githubusercontent.com/20855725/72731422-8550b600-3bb5-11ea-9fc1-46f2f6b6943c.png)
As you can see, there's a "python" subfolder that contains following files and directories including "keras":
![image]

[2020-01-20 13:54] #35765 closed

[2020-01-20 14:11] shbnm21 commented on #30064
@abdou31 have u able to deploy the model into Android?
If yes can u tell me how did u test  tflite model?

[2020-01-20 14:13] mdanatg commented on #33962
Backslash continuations should now be properly supported; the fix is in tf-nightly and will be available in TF 2.2.

[2020-01-20 14:13] #33962 closed

[2020-01-20 14:38] byronyi opened #36067 "saved_model_cli breaks nightly packages"
Our in-house nightly builds were broken since 2020-01-16 when auditwheel tries to repair my nightly packages. The reason under the hood seems to be an incorrect link from the recent change of adding XLA support to `saved_model_cli` in 9959c04433623e0b7ebf6248e0f75bc7a24bd7cb.

Install the latest nightly, and navigate to the directory of `tensorflow_core/compiler/aot`:

[code]

Obviously it links t

[2020-01-20 14:40] zenetio commented on #27808
I am using Anaconda3, Python 3.6 and was facing the same issue. I fixed it doing
pip install numpy==1.17.5

[2020-01-20 14:45] byronyi commented on #36067
The reason seems to be that `tf_python_pybind_extension` should only be used for packages in `//tensorflow/python/...`. See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorflow.bzl#L2573-L2577.

[2020-01-20 14:46] amahendrakar commented on #36048
Was able to reproduce the issue with TF 2.1.0 and 2.2.0-dev20200119. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/02862816fff21cc0cb9737852b051ac6/36048.ipynb). Thanks!

[2020-01-20 14:48] nectario commented on #36000
Ok, will raise it there.

[2020-01-20 14:54] ravikyram commented on #36044
@fcarsten

Looks like code is incomplete. Request you to share colab link or simple stand alone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-01-20 14:57] ashcrok commented on #35988
I am experiencing the same issue, running TF 1.2, tho previously (a few days ago) this was working fine. Any updates?

[2020-01-20 14:58] ravikyram commented on #36045
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2020-01-20 15:20] gnthibault commented on #35968
This also arise when tensorflow-gpu is not installed, which is surprising

[2020-01-20 15:27] Catadanna commented on #35968
Found [this link](https://mc.ai/tensorflow-gpu-installation-on-ubuntu-18-04) with explication of how to install tensorflow-gpu on Linux. Is is really necessary?

[2020-01-20 15:29] AntonioDeVita commented on #36061
I obtained more info and it seems to be related to C++ issue. I attach the picture. How can I fix that?

![Immagine](https://user-images.githubusercontent.com/59959289/72738466-ecfd0600-3ba1-11ea-8d93-90412d382935.png)

[2020-01-20 15:58] ianfhunter opened #36069 "setting allow_nudging_weights_to_use_fast_gemm_kernel in the python API does not work"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux, 18.04 Ubuntu
- TensorFlow installed from (source or binary): pip3
- TensorFlow version (or github SHA if from source): 1.x

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]
In particular
```Consider passing --allow_nudgin

[2020-01-20 15:59] vistart commented on #36064
Would you like to show your custom operator source code and its compilation process? It would be better if there was test code.

[2020-01-20 16:00] atharva1503 commented on #35979
https://keras.io/#multi-backend-keras-and-tfkeras
Go through this link,will help

[2020-01-20 16:03] haimat commented on #35979
@atharva1503 Sorry but I don't see how this helps. I understand what Keras applications are (= pre-trained models based on known architectures). But that page doesn't explain how they differ from those models found on GitHub Model Garden.

Or in other words: Which of those repos (Keras apps vs. GitHub MG) should I use in which case?

[2020-01-20 16:17] sharonwoo commented on #35968
Almost exactly the same issue with fresh install of Ubuntu 18.04 LTS.

I followed [this guide](https://www.pyimagesearch.com/2019/12/09/how-to-install-tensorflow-2-0-on-ubuntu/) almost to the letter but ran into issues with nvidia-drm, which I used tty3 to work around as suggested by one of the comments.

[2020-01-20 16:28] junpenglao commented on #35099
@dynamicwebpaige could you give us some help here? We got a few things blocked by this.

[2020-01-20 17:06] Lillypucien commented on #36064
Thank you for your interest in my issue, but the problem seems to be explicitely due to the compilation of this tensorblockv2.h header and not to my custom operator themselves.
All of my custom operators used to compile fine with Tensorflow 2.0 and with Tensorflow 2.1 none of them (including a simple identity test operator) compile, with the same error in the tensorblockv2 header.

[2020-01-20 17:17] stefanondisponibile opened #36071 "Can't set None on TextVectorization layer's split parameter."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `no`
- OS Plat

[2020-01-20 17:28] liuxingbaoyu opened #36072 "hangs on model.fit"
Although I can't extract the code to reproduce the problem, I think that documenting it here will help improve this project and anyone who encounters the same problem.

System: Windows 10
Version: tf-nightly-gpu 2020.1.19

I use `tf.data.Dataset` to provide samples
When I use `GPU + eager + batch_size > 16`, it will hang on `model.fit` and continue to occupy a core CPU
When I use cpu or turn off e

[2020-01-20 17:32] marius-sm opened #36073 "Subclassed tf.keras.Model always in training mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v

[2020-01-20 18:01] ebrevdo commented on #36067
I have a solution; gonna get it through internal reviews and then will ping you when it's available.

[2020-01-20 18:02] vladimircape commented on #24828
Works for me
TF2
NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    CUDA Version: 10.0
GeForce RTX 2080ti

[code]

[2020-01-20 18:07] FSyed2 commented on #36045
I'm using Windows 10 64bit and I installed Tensorflow and all other libraries through 'pip'.
Tensorflow v2.1.0

Command:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
X_scale = min_max_scaler.fit_transform(X)

[2020-01-20 18:09] uchua commented on #36005
I get almost the same error message when trying to use an ALBERT model with a GPU through a one device strategy:
[code]

[2020-01-20 18:31] oxqfsyef commented on #35660
Sorry, it was a generated model and I didn't note it. I removed Adamax so I don't have more examples.

[2020-01-20 18:33] chanshah commented on #28007
Thanks for notifying. We will re-assign this shortly.

Cheers,
Chandni Shah |  Partner Technology Manager |  chanshah@google.com |  (408)
585 8200

On Fri, Jan 17, 2020 at 9:04 AM Guillaume Klein <notifications@github.com>
wrote:

[2020-01-20 18:39] oxqfsyef opened #36074 "sklearn requires KerasRegressor/KerasClassifier to have _estimator_type set"
Various sklearn functions validate _estimator_type. This in the respective constructors fixes that:

KerasRegressor:
`self._estimator_type = 'regressor'`

KerasClassifier:
`self._estimator_type = 'classifier'`

[2020-01-20 18:41] boxerab opened #36075 "Question about GLES delegate 3.1 spec support"
Hello,
Not sure if this is right issue category, but I am interested in learning details about the GLES delegate.
In particular, I would like to know what part of the 3.1 spec is needed for the delegate, as I am looking into creating a new delegate for a system with incomplete support for 3.1. It does support SSBO and compute shaders.
Thanks!

[2020-01-20 18:48] #36067 closed

[2020-01-20 18:54] shuklakirti opened #36076 "I want to migrade my code from tensorflow=1.10 to tensorflow 2.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-01-20 18:54] #36076 closed

[2020-01-20 18:57] shuklakirti opened #36077 "Migration issue make_one_shot_iterator"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-01-20 19:13] Laksh47 commented on #35968
Try `ls /usr/local/cuda-10.0/lib64` or `ls /usr/local/cuda/lib64` and see if the libraries are found

and try exporting the path `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda/lib64`

Now try `tf.test.is_gpu_available()`

The above worked for me and my tensorflow-gpu version is 2.0

[2020-01-20 19:15] mjlbach commented on #35968
Just to reiterate, this is a problem with tensorflow 2.1, not nightly or 2.0.

@gnthibault tensorflow and tensorflow-gpu now point to the same package as of 2.1

[2020-01-20 19:23] k8rapps commented on #35759
I can confirm I'm seeing this exact behavior trying to build an mBed project.  I've tried on both Windows and a clean Ubuntu 19.10 VM

[2020-01-20 19:24] zzxjl1 commented on #22106
So, may i ask which step solves the problem?

[2020-01-20 19:41] sjoshi30 commented on #25549
Hi @gustavz, Were you able to solve this issue ?
I am also getting this error. I can convert with 224 but the accuracy is greatly affected.

[2020-01-20 19:53] mcwebdev opened #36078 "[Speech Commands] export function playRawAudio() no bit depth is set."
**System information**
-  stock example script provided in TensorFlow `tfjs/SpeechCommands`
- Windows 10
- Mobile device N/A
- TensorFlow installed from (source):
- TensorFlow version (use command below): Latest
- Python version: N/A
- Bazel version (if compiling from source): N/A
- GCC/Compiler version (if compiling from source): N/A
- CUDA/cuDNN version: N/A
- GPU model and memory: sli gtx

**De

[2020-01-20 20:02] Jbiloki commented on #36010
Sure, here's a small example

[code]

[2020-01-20 20:08] ebrevdo commented on #36067
@byronyi let me know if this doesn't work for you.

[2020-01-20 20:14] rcr1994 commented on #35906
still awaiting the response...

[2020-01-20 21:03] dishkakrauch commented on #33030
I'm using tensorflow-gpu 2.1.0 and problem is still not solved.
Have anybody faced same issue?

[2020-01-20 21:18] ymodak commented on #36025
Can you please try setting `allow_growth`  option at the top of your code:
[code]
Also what is your nvidia driver version?

[2020-01-20 22:04] lgeiger commented on #35942
@ravikyram @ymodak The failure can also be observed in this [colab notebook](https://colab.research.google.com/drive/1nXw4V5LwtxrVNB8XlJ5TaOxbAOXRS1O3).

[2020-01-20 22:35] joe-antognini commented on #35648
Recent updates to the Tensorflow website seem to have resolved this issue on the link posted, but the issue continues to exist for the v1.15 docs: https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/keras/layers/BatchNormalization.

[2020-01-20 23:24] abcdabcd987 commented on #36025
Hi @ymodak, I tried `allow_growth`. It's the same.  The driver version is `440.44`.

[2020-01-21 01:00] MeghnaNatraj commented on #33797
CONCATENATION and MUL have been implemented. Could you confirm if you're still blocked on this issue and require the HARD_SWISH op. It's a high priority, but currently we cannot provide an estimated completion date. If you could use another activation function until this is implemented, it could solve the issue temporarily.

[2020-01-21 01:14] pingsutw opened #36081 "Which distributed strategy should I use when running training without GPU?"
There are many distributed strategy in Tensorflow,

- MirroredStrategy
- TPUStrategy
- MultiWorkerMirroredStrategy
- CentralStorageStrategy
- ParameterServerStrategy
- OneDeviceStrategy

Some of them run on one machine and broadcast model to different GPUs, and some of them use different GPUs on different machines.

My question if I don't have GPU in my server, which strategy should I use, so I ca

[2020-01-21 01:15] fcarsten commented on #36044
Colab link as requested: [https://colab.research.google.com/drive/1rS0RLOL7zMh3hDC4bAwAPGjI6qCXdNEy](https://colab.research.google.com/drive/1rS0RLOL7zMh3hDC4bAwAPGjI6qCXdNEy)

[2020-01-21 01:35] Leslie-Fang commented on #35517
omp_get_thread_num should be one of the functions in openmp.
Did you install openmp before the build process?

[2020-01-21 01:43] Leslie-Fang commented on #34924
@refraction-ray Could give the full build commands which you use?

[2020-01-21 02:10] Shlokydo commented on #33072
By which release is the support to be extended? Any plans?

[2020-01-21 02:14] refraction-ray commented on #34924
@Leslie-Fang , I believe the building workflow is similar to [official doc](https://www.tensorflow.org/install/source#cpu-only_2) using devel docker. The only tweak I have done is changing the flag in tensorflow.bzl directly into `DEIGEN_USE_MKL_ALL`.
This fails building for sure, since no path (header or library) is specified for mkl library which eigen is required now. Since I have no time to le

[2020-01-21 03:11] HaFred commented on #22106
#6  changes to compile or get past runtime errors and other behaviour

[2020-01-21 03:17] oanush commented on #35772
@arnabnag2000 ,
Can you check the [issue](https://github.com/tensorflow/tensorflow/issues/28095) and let us know if its helped? Thanks!

[2020-01-21 03:26] Leslie-Fang commented on #34924
@refraction-ray if that's the case in https://github.com/tensorflow/tensorflow/pull/12219 , although I don't know why but MKLDNN support and eigen with mkl support seems cann't be enabled simultaneously.
Which Eigen ops is the bottleneck of your application?
I have done some Eigen op optimization previously.

[2020-01-21 03:29] yomcoding opened #36083 "TensorBoard showing nothing after upgrade"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 1809
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de410
- Python version: 3.7.3
- CUDA/cuDNN version: cuda_10.1.243_426.00_win10 / cudnn

[2020-01-21 03:30] jparr721 commented on #35968
Hi, just reporting that I too am seeing this same issue. Here's my system specs:

[code]

[code]

[2020-01-21 03:34] Aaron9477 opened #36084 ""TypeError: Not JSON Serializable: Tensor" when save model!"
Hi,
I just meet a problem when add a Variable to model as a changable weight for loss. But I have error when I save model. I don't find any way work for this problem.

This is my code. if I don't use changable weights, it works good.
`model.alpha = tf.Variable(args.alpha, trainable=False, name='alpha', dtype=tf.float32)
model.compile(optimizer=opt, loss=['mae', TVdist], loss_weights=[1.0 / (1 + mo

[2020-01-21 03:54] breadbread1984 commented on #35029
I am using 2.2.0-dev20200119 on gpu. I still meet the problem when I run the following code.

[code]

[2020-01-21 04:05] refraction-ray commented on #34924
@Leslie-Fang , as I have mentioned, QR, SVD decompositions are slow with eigen implementation compared to MKL multithreaded version.

[2020-01-21 04:05] saberkun commented on #36005
Could you refer to this piece of code example? https://github.com/tensorflow/models/blob/master/official/nlp/bert_models.py#L370
You need to make hub.KerasLayer trainable

[2020-01-21 04:28] oanush commented on #33442
@tanmay1994 ,
From the error log I see that you are using code which is 1.x compatible and not 2.x. You must be using 2.x tensorflow version to run the code, `contrib` is depreciated in tf-2.x version. Please refer this[ add-on link ](https://github.com/tensorflow/addons)and modify the code for 2.x.

[2020-01-21 04:28] byronyi commented on #36008
Ping @dubey; though the issue is about horovod, does NCCL in TF core suffer from the same issue?

[2020-01-21 04:32] Leslie-Fang commented on #34924
@refraction-ray Do you know how to measure the performance of QR, SVD ops with MKL multithreaded version?

[2020-01-21 04:35] Leslie-Fang commented on #34924
I see some comments in the https://github.com/tensorflow/tensorflow/issues/7128 about how to measure the performance.
I will try to enable the native Eigen multithread version.

[2020-01-21 04:41] gunan commented on #24976
While I do not want to close this issue, as @allenlavoie wrote in https://github.com/tensorflow/tensorflow/issues/24976#issuecomment-471760777 , I am not sure what we can do.
TF is working on the slow path to hide all protobuf symbols from its API surface. Even then static initializers will be executed twice. I am not sure what will happen, as I am not sure how protobuf uses them.

So, unfortunate

[2020-01-21 04:41] #24976 closed

[2020-01-21 05:01] refraction-ray commented on #34924
@Leslie-Fang , great! Be sure to use mkl linked numpy for the benchmark

[2020-01-21 05:05] sanrahul commented on #36063
Found this tf_world's tflite with cpp demo::
https://github.com/infil00p/tf_world
Will follow it and update.

[2020-01-21 05:05] gadagashwini commented on #30064
@shbnm21,
Please take a look at [android guide doc](https://www.tensorflow.org/lite/guide/android).

[2020-01-21 05:19] Leslie-Fang opened #36087 "master branch build failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos 7.6
- Mobile device (e.

[2020-01-21 05:34] sid333rajput commented on #7737
AttributeError: module 'tensorflow' has no attribute 'merge_summary'

facing this error
cant find a soln still

[2020-01-21 05:49] Leslie-Fang commented on #36087
Build failed at this line:https://github.com/tensorflow/tensorflow/blob/4ab86d026ff419a5d35ee41493e29611f29a555d/tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite.cc#L119
which needs a EagerContext point but return a object.
Seems the API changes by this commit:
77aaa1ef2d85aa2766afb7c5ba069c4df0af5cb6

[2020-01-21 06:41] csuter commented on #36034
Thanks for reporting this. I created [this notebook](https://colab.research.google.com/drive/1gsT11Gf7hQVSDplsSEswTJrMggX_GHt4) which demonstrates the issue using `tf.random.categorical` directly, without any invocation of TensorFlow Probability library code. This suggests the issue is at the TF level, not TFP. Kicking back to Yasir to reassign appropriately on the TF side. Please let me know if I

[2020-01-21 06:43] csuter commented on #36034
Here's the code from that notebook, which is not viewable outside Google:

I ran this with `tf-nightly` package.

[code]

[2020-01-21 06:46] breadbread1984 opened #36088 "tensorflow nightly still has a problem reported at #35029"
I am using 2.2.0-dev20200119 with CUDA 10.1 on 1080Ti. I still meet the problem #35029  when I run the following code.

[code]

[2020-01-21 06:56] batulrangwala opened #36089 "Frozen Graph generation warning lead to error in running the model"
**System information**
- OS Platform and Distribution:Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version: tensorflow-gpu       1.15.0
- Python version: 3.6.10
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 0.26.1
- G

[2020-01-21 07:01] nauyan commented on #36059
The detailed error log is:

[code]

[2020-01-21 07:03] kyamagu commented on #19049
I am observing the same issue in `tensorflow==1.15.0`. I insert `tf.stop_gradient` to prevent from this leak to happen

[2020-01-21 07:03] byronyi commented on #35029
@breadbread1984 Have you tried limited your GPU memory usage, as @ymodak suggested?

[code]

[2020-01-21 07:04] GeorgeS2019 commented on #35405
Tracking challenges in compiling for windows
[Case1](https://github.com/tensorflow/tensorflow/issues/35977#issue-551290058)

[2020-01-21 07:08] rajeev-mirelz commented on #35509
@yyoon Any update on this one. Thanks a lot for your help.

[2020-01-21 07:45] feidieufo commented on #36034
Thank you for your reply.I ran this code in my environment(tensorflow-gpu-2.0.0 by using conda install tensorflow-gpu),If I set seed,the the memory keeps increasing,if I do not set seed,the memory will keep remains the same.But when I ran this code in colab,whether I set random seed or not，the memory will keep increasing.I don't know why.

[2020-01-21 07:58] sharonwoo commented on #35968
@mjlbach yes, reporting for tf 2.1.

Downgraded back to 2.0 to get a working version of tf. Thought I would share in case anyone comes here looking for this issue after finally getting to ```pip install tensorflow-gpu``` after a few frazzled hours ironing out CUDA driver installation like I did. Sorry for the confusing wording, I have edited it.

[2020-01-21 08:22] Seven-Color opened #36090 "tf.GradientTape.gradients()"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-01-21 08:22] #36090 closed

[2020-01-21 08:43] rxsang commented on #24412
Yes, TPUs work with TF2.1 now. The guide can be found here https://www.tensorflow.org/guide/tpu

[2020-01-21 08:44] #24412 closed

[2020-01-21 08:49] rxsang commented on #34932
Thanks Mike for filing the issue. We should improve our documentation https://www.tensorflow.org/guide/tpu and improve the error message, so users can be less confused by those issues. Close this as the root cause is found.

[2020-01-21 08:49] #34932 closed

[2020-01-21 08:58] rxsang commented on #35785
Can you change "tf.config.experimental_connect_to_host(resolver.master())" to "tf.config.experimental_connect_to_cluster(resolver)"?

Please refer to https://www.tensorflow.org/guide/tpu for the official TPU guide.

[2020-01-21 09:01] striveth commented on #35855
I resolved it by updating binutils version to 2.31

[2020-01-21 09:01] #35855 closed

[2020-01-21 09:01] rxsang commented on #25433
Here is the code example for TF2 Transformer + DistributionStrategy (including TPU) using Customized Training loop https://github.com/tensorflow/models/blob/master/official/transformer/v2/transformer_main.py

[2020-01-21 09:04] shbnm21 commented on #30064
@gadagashwini I will look into that.
I have used a pretrained model (GAN model) for face attribute manipulation .converted into .pb file.The size of .pb file is 166mb.The model is based on tensorflow 1.15 .I have googled about deployment of the model on Android.some blogs says to use .pb file into Android and some says to use tflite .
Now I am confused can u provide any documentation on how to con

[2020-01-21 09:09] ravikanth076 opened #36092 "creating virtual environment and installing tensorflow package"
can any one tell me how to  create virtual environment  and also install the tensor flow in python 3.7.2

[2020-01-21 09:14] padoremu opened #36093 "Saving tf.keras.Sequential model fails with RNN containing more than one GRUCell"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Linux Ubuntu 18.04
- Mobile device if the issue happens on mobile device: -
- TensorFlow installed from: binary (tf-nightly-2.0-preview)
- TensorFlow version: GIT_VERSION = v1.12.1-7529-g3e0ad8a004, VERSION = 2.0.0-dev20190731
- Python version

[2020-01-21 09:16] yenfang1 commented on #25938
I have a similar problem with training and saving the model with TripletLoss which is a subclass of tf.keras.losses.Loss.
When I load model as follows:
[code]
I got error message:
[code]
I had implemented in get_config() in TripletLoss, but still get this error
Does anyone can help me ?

[2020-01-21 09:18] yenfang1 commented on #25938
I have a similar problem.
I trained and saved the model with TripletLoss which is a subclass of tf.keras.losses.Loss.
When I load model as follows:
[code]
I got error message:
[code]
I had implemented in get_config() in TripletLoss, but still get this error
Does anyone can help me ?

[2020-01-21 09:23] padoremu commented on #36093
I tried the workaround `model.save("rnn.h5", include_optimizer=False)` according to #27688, but this didn't help. I also tried to manually set different names for the cells with `GRUCell(10, name="cell" + str(i))`, which didn't help either.

[2020-01-21 09:40] Robmosh91 commented on #35853
Is there any news for this issue or anybody who can help with a workaround for now?

[2020-01-21 09:42] Hasnat65 commented on #8654
For me it is 2.0.0 but still that problem

[2020-01-21 09:45] Flamefire opened #36094 "SlurmClusterResolver should use env variables ob job step and return correct num_accelerators"
The [SlurmClusterResolver](https://github.com/tensorflow/tensorflow/blob/96d0f42d1b236d21157d32805d4aa87e136083b3/tensorflow/python/distribute/cluster_resolver/slurm_cluster_resolver.py) has a few issues:

- `num_accelerators` returns the GPUs per **node**  although they should be per ** task** according to usage
- It uses scontrol which may not return the correct values (see next point)
- Slurm j

[2020-01-21 09:56] NeelKanwal commented on #21719
I have installed tensorflow==1.5.0 and protobuf==3.6.0 and 3.4.0 alternatively but there is still an issues.

/home/nkanwal/bert/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:496: FutureWarning: Passing (type, 1) or '1type'
as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16",

[2020-01-21 10:11] padoremu commented on #33416
As a summary, here is a minimal example for tensorflow 2.0 with an RNN that produced the same error, including one line from the solution mentioned by @hzk7287 in #33490:

adding `converter.allow_custom_ops = True` was enough to solve the problem in my case.

[code]

[2020-01-21 10:13] padoremu commented on #21526
@2696120622 checkout: https://github.com/tensorflow/tensorflow/issues/33416#issuecomment-576610548

[2020-01-21 10:15] Mazzjs commented on #26182
`pip3 install tensorflow-gpu==2.0.0b1`
`2.0.0b1` this version works for me.

[2020-01-21 10:36] ravikyram commented on #36065
@dbacea

I have tried on colab with TF version 2.1 and was able to reproduce the issue. However i am not seeing  MobileNet V1 in tf.keras.applications. I tried with MobileNet in keras.applications and i am seeing same accuracy and validation loss as MobileNet V2.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/71d30be58171e937d8ec496dc246664c/untitled576.ipynb). Thanks!

[2020-01-21 10:48] dbacea commented on #36065
@ravikyram

I used also the MobileNet (which is the architecture of MobileNet V1) from keras-applications, same as you did in the gist you provided. In the gist you provided, for the MobileNet code you forgot to go through several steps. After the cell that contains:

`global_average_layer = tf.keras.layers.GlobalAveragePooling2D()
feature_batch_average = global_average_layer(feature_batch)
print(

[2020-01-21 10:53] ravikyram commented on #36071
I have tried on colab with TF version 2.1.0-rc2, 2.2.0-dev20200121  and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c006c43d35583da0a38f75fce1062854/untitled577.ipynb). Thanks!

[2020-01-21 10:58] ravikyram commented on #36072
@liuxingbaoyu

Request you to provide colab link or simple standalone code to reproduce the issue in our environment.It helps in localizing the issue faster. Thanks!

[2020-01-21 10:59] gadagashwini commented on #36010
Was able to reproduce the issue with 2.1 and 2.2.0.dev20200121.
Please find the [gist](https://colab.research.google.com/drive/1wTYFLro4tbCfAQNNP6J6bxBJdMTNj5mI?usp=sharing). Thanks!

[2020-01-21 11:05] SalahAdDin commented on #34759
I have the same problem, but using `CUDA 10.1`.

[2020-01-21 11:06] vcarpani commented on #35150
Any news on this?

[2020-01-21 11:12] gadagashwini commented on #35524
Issue is replicating on colab.
Please take a look at [gist](https://colab.research.google.com/drive/1TLk3pOxde4KERIBOEHE96hlfgNZOZA67?usp=sharing). Thanks!

[2020-01-21 11:14] ravikyram commented on #36073
I have tried on colab with TF version 1.14, 1.15 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/26a02592151fb81a7fdf9b8625377a97/untitled578.ipynb). Thanks!

[2020-01-21 11:21] gadagashwini commented on #36029
@18970901926,
Please provide the complete standalone code replicate the reported issue and also provide tensorflow version. Thanks!

[2020-01-21 11:29] gadagashwini commented on #36074
@oxqfsyef,
can you elaborate the issue with the code snippet and error log.
Also provide the tensorflow version. Thanks!

[2020-01-21 11:40] gadagashwini commented on #36075
@boxerab, Please take look at the [document](https://www.tensorflow.org/lite/performance/gpu#android_with_android_studio) for openGl support. Thanks!

[2020-01-21 11:44] gadagashwini commented on #36077
@shuklakirti, Please follow the instructions mentioned in this [document](https://www.tensorflow.org/guide/migrate) to migrate from Tf1 to Tf2. Thanks

[2020-01-21 11:56] shauryad15 commented on #35389
any update on the same? can i have a proper doc or reference on how to use gpu delecate?

[2020-01-21 11:57] smzahir commented on #9680
try ' conda install tensorflow ' in cmd

[2020-01-21 12:08] jjedele opened #36096 "Performance problems with tf.nn.embedding_lookup in eager mode"
**System information**
- Have I written custom code: Yes - I condensed it to a self-contained example and attach it to the issue.
- OS Platform and Distribution: Ubuntu 18.04.3 LTS
- TensorFlow installed from: binary (pip)
- TensorFlow version: 2.0.0
- Python version: 3.6.8
- CUDA/cuDNN version: CPU only
- GPU model and memory: CPU only

**Describe the current behavior**
tf.nn.embedding_lookup wit

[2020-01-21 12:26] RamishaRaniK commented on #9680
@smzahir

Are you trying to install in command prompt or anaconda cmd prompt?
what is the error message?

[2020-01-21 12:35] ravikyram commented on #36045
@FSyed2
What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements). Can you try Installing the latest version of Microsoft Visual C++ from this [link ](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads). Please check issu

[2020-01-21 12:38] SumNeuron commented on #24140
@walidk it has been a while but for clarity (and anyone else who sees this in the future) I wish to clarify your statement regarding the need to transpose the sparse tensor:

According to the document string for `update_col_factors`

By default `transpose_input` is false and as used in google's cloud computing [example](https://cloud.google.com/solutions/machine-learning/recommendation-system-tens

[2020-01-21 12:40] josdewitte commented on #36064
Comparable issue here; also in TensorBlock.h; Win10 x64; TF2.1; seems to have something to do with Eigen library? Should we include our own version somehow? Following anyway

\org_tensorflow\external\eigen_archive\unsupported\eigen\cxx11\src/Tensor/TensorBlock.h(1028): error C2061: syntax error: identifier 'Kind'
\org_tensorflow\external\eigen_archive\unsupported\eigen\cxx11\src/Tensor/TensorBlock

[2020-01-21 12:47] lampts commented on #35990
It happens to the transformer tutorial as well. https://www.tensorflow.org/tutorials/text/transformer

train_dataset = train_dataset.shuffle(BUFFER_SIZE).padded_batch(BATCH_SIZE)
--> need to add tf.compat.v1.data.get_output_shapes(test_dataset)) for padded_shape.

[2020-01-21 12:50] boxerab commented on #36075
@gadagashwini thanks. I am looking for specifics on what part of the 3.1 spec is needed. The document you linked to doesn't cover this, unfortunately.

[2020-01-21 12:52] oxqfsyef commented on #36074
Tensorflow version is 1.14.0
`
from tensorflow.keras.wrappers.scikit_learn import KerasRegressor
from sklearn.ensemble import VotingRegressor
a = VotingRegressor([('x', KerasRegressor(lambda: None))])
a.fit([[1,2]], [3])
`

  File "<stdin>", line 1, in <module>
  File "~/.conda/envs/tensorflow-gpu_1.14.0/lib/python3.7/site-packages/sklearn/ensemble/_voting.py", line 406, in fit
    return super().

[2020-01-21 12:54] laue1234 commented on #35903
Downgrading to tensorflow 2.0 worked for me. Thanks

[2020-01-21 12:58] Leslie-Fang commented on #34924
@refraction-ray Have checked the implementation of QR and SVD in tensorflow.
https://github.com/tensorflow/tensorflow/blob/a74e202f4a93c19863061d18979436b0470d862d/tensorflow/core/kernels/qr_op_impl.h#L101-L120
Both of them are invoking eigen in-place decomposition.
https://eigen.tuxfamily.org/dox/classEigen_1_1HouseholderQR.html
I suspect there is no parallel optimization we can do in the tensorf

[2020-01-21 12:58] Matoran commented on #24686
When you use google colab, you can see the output in the runtime logs (runtime menu).
When you use jupyter lab (if it's your server) you need to check your terminal (from which you have launched jupyter lab).

[2020-01-21 12:59] homocomputeris opened #36097 "tridiagonal_matmul: Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-01-21 13:05] ravikyram commented on #36078
@mcwebdev

Hi, This is a TF.js issue . Kindly raise a new issue in TF.js repo using this [link](https://github.com/tensorflow/tfjs/issues/new).Thanks!

[2020-01-21 13:19] ravikyram commented on #36083
@yomcoding

Request you to provide the simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-01-21 13:25] ravikyram commented on #36084
@Aaron9477

Looks like code is incomplete. Please, help us with the minimal standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-01-21 13:39] ravikyram commented on #36092
@ravikanth076

Can you please go through the [link](https://www.tensorflow.org/install/pip) and see if it helps you.Thanks!

[2020-01-21 13:42] SalahAdDin commented on #35968
I get the same problem, but because other reason:
[code]

It is because `GLIBC`.

[2020-01-21 13:49] DataStunner commented on #9549
If your GPU utility show 0% and still tensorflow failed to create the session, there are some forcefully closed tensorflow session. These will not usally visible with nvidia-smi. But  ***sudo fuser -v /dev/nvidia*** can capture these processes. Killing those processes can help without restarting the server.

[2020-01-21 13:53] breadbread1984 commented on #35029
yes I tried. the problem remains!

[2020-01-21 13:54] fbobital commented on #36064
I have the same error in my macOS Catalina v10.15.2

[2020-01-21 14:09] Marwen-Bhj opened #36099 "Update the documentation link to the TFLITE conversion commands"
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/toco

Tflite converter is missing the usage documentation exmaple links :
[link 1](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/convert/cmdline_reference.md)
[link 2](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/convert/cmdline_examples.md)

the flags are needed to run s

[2020-01-21 14:23] coert commented on #35672
@gadagashwini sorry for the late reply!

This is the minimal code example:
[code]

TF log output:

Error message:
[code]

[2020-01-21 14:36] shuklakirti commented on #36077
@gadagashwini Thank you for replying.
The document says
"**It is still possible to run 1.X code, unmodified (except for contrib), in TensorFlow 2.0 import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

If your code works in TensorFlow 2.0 using tf.compat.v1.disable_v2_behavior(), there are still global behavioral changes you may need to address. The major changes are:

Eager execution, v1.en

[2020-01-21 14:52] gitathrun commented on #34441
@yyoon Hi, Yoon, thanks for your indication, great explaination! And you might want to change the cmdline a little for there is a typo, which causes the build process encounter bazel's "no such target" errors, remove the __C__ between TensorFlowLite and SelectTfOps_framework.

[code]

[2020-01-21 14:54] NoureddineBouhali commented on #398
I encountered this problem for inference.
When using tf with jetson nano for inference on different sized models (VGG 16/19/resnet50), an OOM accures with the bfc_alllocator warnning repeats until memory is freed.
When using the config option "allow growth". the OOM disappears but inference is done on any image with the bfc allocator warnings appear at first and continues till the model is loaded.

[2020-01-21 15:04] josdewitte commented on #36064
No. Building on Win10 x64 using Bazel and TF2.1, no XLA, CUDA, and the likes, CPU only. No custom operators. Both master and r2.1 versions do not build. Tried VS2017 and VS2019.

[2020-01-21 15:08] VitaliKaiser commented on #27653
@PistaSaki

If this is still open issue (and if somebody else like myself is looking this up):
from_generator creates regular tf.Tensors.
But you could explicitly cast them to tf.RaggedTensor:

[code]

[2020-01-21 15:15] psunn opened #36102 "CONV_2d convert to DEPTHWISE_CONV when input depth=1"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N
- OS Platfor

[2020-01-21 15:16] edloper commented on #27653
You can use [tf.data.experimental.dense_to_ragged_batch](https://www.tensorflow.org/api_docs/python/tf/data/experimental/dense_to_ragged_batch) to batch variable-sized tensors into a ragged tensor.

[2020-01-21 15:22] psunn commented on #36102
Hi, tensorflowers, is this a bug or expected? Any suggestions?

[2020-01-21 15:29] mrgloom commented on #2706
What is "tensorflow.python.framework.errors_impl.InvalidArgumentError: Inputs to operation gradients/AddN of type AddN must have the same size and shape.  Input 0: [2,3,320,320] != input 1: [2,1,320,320]" error is about? I can't find much information about it.

[2020-01-21 15:45] RobertBiehl commented on #31901
Have the same problem, specifically with `AddV2`, which is nowhere to be found in the TFLiteConverter code.

[2020-01-21 16:19] gitathrun commented on #34441
@tpeet Hi, tpeet, is there any documentation on how to use the big binary library with swift or obj-c? I import it to the project, but do not know where and how to start use it? Many thanks.

[2020-01-21 16:42] uchua commented on #36005
In my code above I use these two lines to make the layer trainable:
[code]

However, I have also tried it this way:
[code]

Both methods result in the same error.

[2020-01-21 16:52] NIravMeghani opened #36105 "how to install openpose library for python in windows 10 ?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-01-21 16:57] NIravMeghani commented on #36105
![Screenshot (175)](https://user-images.githubusercontent.com/56798346/72825545-3da55980-3c9d-11ea-935a-2335a795d24d.png)

[2020-01-21 17:01] Man7hano commented on #24828
It also works on tensorflow 2.1!

Thanks to @oscarlinux I found the solution on [tensorflow.org](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth)

[code]

I believe in my heart, that if all of us work together, we can restore Tensorflow to its former glory. Perhaps even beyond. But it all must start with us."

[2020-01-21 17:14] mmussett commented on #35133
Same issue with me....

go get github.com/tensorflow/tensorflow/tensorflow/go
package github.com/tensorflow/tensorflow/tensorflow/go/genop/internal/proto/github.com/tensorflow/tensorflow/tensorflow/go/core: cannot find package "github.com/tensorflow/tensorflow/tensorflow/go/genop/internal/proto/github.com/tensorflow/tensorflow/tensorflow/go/core" in any of:
	/usr/local/Cellar/go/1.13.6/libexec/src

[2020-01-21 17:19] gargn commented on #34350
There is documentation on concrete functions [here](https://www.tensorflow.org/guide/concrete_function). You will need to use `TFLiteConverter.from_concrete_function` directly. There is an example of how to do that [here](https://github.com/tensorflow/tensorflow/issues/35736#issuecomment-573814435).

[2020-01-21 17:24] gargn commented on #35901
Closing because it is resolved as an installation issue.

[2020-01-21 17:31] dswah commented on #35813
@jvishnuvardhan any news on this issue? any idea where we can start to look?
i'd be happy to help if i can.

[2020-01-21 17:45] CMobley7 commented on #35968
I get the same problem as well. Had to downgrade to `2.0`.

[2020-01-21 17:47] MarkDaoust commented on #36039
https://github.com/phoebe-project ?

This request is a little too specific. We can't have a doc showing how to make TensorFlow work with every piece of software out there, we have docs for how to use standard data types like CSV files, NumPy arrays or Pandas Dataframes. Those probably have everything you need.

[2020-01-21 17:47] #36039 closed

[2020-01-21 17:47] tlimbacher commented on #33755
Same here.

[2020-01-21 17:48] #35778 closed

[2020-01-21 17:57] gabrieldemarmiesse commented on #24827
I believe that this issue is fixed.

[2020-01-21 17:57] #24827 closed

[2020-01-21 18:00] Catadanna commented on #35968
I reinstalled Tensorflow 2.0 and Keras and now it works -- but not on Jupyter Notebook, where I get the same error when importing Tensorflow. Therefore I do not use Jupyter but other editors.

[2020-01-21 18:24] liuxingbaoyu commented on #36072
Thank you for your attention!
I successfully extracted the example (this example also has problems with batch = 16), and I found more clues!
It didn't cause problems with fashion_mnist 10 classes, but when I expanded to 2000 classes it went wrong.
In the case I described above, only `keras.optimizers.Adam (amsgrad = True)` will have this problem.

Today I discovered another related issue.
`gpu + n

[2020-01-21 18:37] John-Nagle opened #36107 "Tensorflow install breaks curl on Ubuntu"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 LTS
- Mobile devi

[2020-01-21 18:49] jvishnuvardhan commented on #35813
@dswah When I add a return statement (`return tf.keras.layers.Input(10)`) to the `make_model` function, output from both the codes is same. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/82ca4e02d6378ab4b1b40597329a81dd/untitled771.ipynb). Thanks!

[2020-01-21 19:00] #35734 closed

[2020-01-21 19:00] jvishnuvardhan commented on #36063
@sanrahul Are you raising a PR to update the docs? When you raise a PR, just mention it here so that we will close after it gets merged. Thanks!

[2020-01-21 19:05] rezakarbasi commented on #34722
i can't believe that filename is the problem :laughing:

[2020-01-21 19:05] kohjingyu commented on #33178
I was able to work around this issue by reshaping my tensor to combine the first two dimensions, applying the convolution / dense layer, and reshaping back to the expected output shape.

[2020-01-21 19:10] danperazzo commented on #21744
And I have found [this stack overflow question](https://stackoverflow.com/questions/50475320/executing-frozen-tensorflow-graph-that-uses-tensorflow-contrib-resampler-using-c) that states that you cannot do this on Windows since there is no separate .dll

[2020-01-21 19:13] sanjoy commented on #36025
Unfortunately I don't have easy access to an RTX 2070 so I cannot reproduce this error.

You said

What other builds did you try?  And does this work on tf-nightly?

[2020-01-21 19:20] sanjoy commented on #27281
Just what it prints out to stderr.

For extra points you could also set the environment variable `TF_CPP_MIN_VLOG_LEVEL` to `1` (used [here](https://github.com/tensorflow/tensorflow/blob/8191585626f438c185ce608e177a8c33fb9d3bee/tensorflow/core/platform/default/logging.cc#L178)) which will turn on verbose logging.  However, I'm not  sure if the logging output will remain small enough to be uploaded

[2020-01-21 19:23] impjdi commented on #35389
Your code snippet is correct in terms of how to initialize things.  What I'm not clear is why you're getting

as we support those.  Can you attach the model?

[2020-01-21 19:32] karlsonthisisbud commented on #33247
tf.keras.experimental.export_saved_model still works

[2020-01-21 19:36] shuklakirti commented on #36077
Hi
**Update on the issue: AttributeError: 'DatasetV1Adapter' object has no attribute shape**
When I changed the code to
        if train_obj.if_validate:
            tr_history = model.fit(tr_dataset, epochs=self.epochs, callbacks=callbacks, steps_per_epoch=self.steps_per_epoch, validation_data=val_dataset, validation_steps=self.validation_steps)

Traceback (most recent call last):

  File , line

[2020-01-21 19:36] haozha111 commented on #29509
Thanks @depthwise for the repro example.

I'm working on adding support of dilated conv into the MLIR-based converter. I will update this thread when I'm finished.

[2020-01-21 19:54] frogtd129 commented on #35872
if you have a gpu, and it is giving that error, what should you do

[2020-01-21 20:35] fferroni opened #36109 "TFTRT not converting dilated convolutions"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-01-21 21:05] tomerk commented on #24686
@Matoran is `tf.print` not currently printing in the cell output in both colab notebooks and jupyter notebooks? It should be, and if it's not we've had a regression and should fix it.

(Note that `tf.Print` in tf1 is not the same as `tf.print`)

[2020-01-21 21:10] jvishnuvardhan commented on #35523
@darthbhyrava As mentioned in the other [post](https://github.com/keras-team/keras/issues/12379#issuecomment-471339468), did you import modules from `tensorflow.keras.**any_sub_module`? If the issue was cleared by using tensorflow.keras.* then please close the issue.

If the issue is with keras module (if you are using `keras.**any_module`) , then please post it in the [`keras repository here](htt

[2020-01-21 21:12] Matoran commented on #24686
@tomerk I'm talking about `tf.Print` in tf1. `tf.print` works just fine. I had a bunch of pages talking about `tf.Print` and I answered here thinking it was another page. I will edit my text to avoid any confusion.

[2020-01-21 21:26] prpeixoto commented on #32678
I'm having the same issue, I've tried uninstalling and installing again both python and TensorFlow and it didn't work

[2020-01-21 21:31] frogtd opened #36111 "cudart64_101.dll not found, but I have CUDA installed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 (10.0.18362 Build 1

[2020-01-21 21:39] yifeif commented on #35993
@gunan, do you think headers for classes like VariableOp under core/kernels/ should be included?

[2020-01-21 21:41] omalleyt12 commented on #28924
`control_dependencies` should not be used in TF2.x.

The way to do this is:

[code]

[2020-01-21 21:41] #28924 closed

[2020-01-21 21:51] gunan commented on #35993
I definitely do not want any headers under `core/kernels` in the pip package.
If there are libraries there we would like to use for custom kernels, they should be turned into libraries and moves outside core/kernels.

[2020-01-21 22:03] dishkakrauch opened #36114 "Memory leak when use model.fit method with datagenerator"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
it's increasin

[2020-01-21 22:06] artemmavrin commented on #33261
Appears to be fixed by 9f2aa61811b29e700b8325bb57b1f4b0093c1d4d

[2020-01-21 22:06] #33261 closed

[2020-01-21 22:14] jvishnuvardhan commented on #36044
@fcarsten Not sure what is the root-cause of the issue. I changed order of final two lines of your code from Sequence #1: `run_test(True) then run_test(False)` to Sequence #2: `run_test(False) then run_test(True). The results are very different than what you noticed with the Sequence #1. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/04c083b0839571ce2c80f4194925

[2020-01-21 22:27] jvishnuvardhan commented on #35986
@st170911 Can you please create a simple standalone code to reproduce the issue? Please share the model *.pb. Thanks!

[2020-01-21 22:29] qlzh727 commented on #36073
The code actually runs correctly, and I think you have a misunderstanding of dropout.

If you change your model body to do:
[code]
The model will correctly output 3 for predict, and 2 for train.

Your original expectation for dropout is not correct since dropout will scale up the unmasked value to maintain the numerical mean value. See https://stats.stackexchange.com/questions/205932/dropout-scali

[2020-01-21 22:29] #36073 closed

[2020-01-21 22:31] fcarsten commented on #36044
@jvishnuvardhan Looking at your gist, it looks like you are using a different version of TF than me.

Yours is `2.2.0-dev20200121` whereas mine was `v2.1.0-rc2-17-ge5bf8de410 2.1.0`.

Looking at the latest source code it seems that the work-around flag I use to make it work is no longer supported in `2.2.0-dev20200121`, so it is always failing now.

v2.1.0-rc2-17-ge5bf8de410 2.1.0:
training.py#com

[2020-01-21 22:32] trayanmomkov commented on #34350
@gargn thank you for your answer!
I've read concrete_function documentation and tried the code from your comment:
[code]
It returns:
[code]
If I try with `concrete_func.inputs[0].set_shape([1024])` for example it says:
[code]
As far as I understand you save only one concrete_function with the following code:
[code]
But how to get a concrete_function, to save, from a DNNClasiffier estimator?
[code]

[2020-01-21 22:41] dubey commented on #36008
Can you describe the cluster interconnect?  I can imagine things slowing down if you have NVLink within hosts, but something much slower like TCP over ethernet across hosts.

[2020-01-21 22:42] gargn commented on #34350
For the first code snippet, try removing the `concrete_func.inputs[0].set_shape([])` line. That was only necessary because the user in the previous example wanted to set the shape of their input. For your conversion, let's assume it is correct. If that still leads to an error, then can you add `converter.experimental_new_converter = True` since that converter supports more use cases.

For the last

[2020-01-21 22:46] ymodak commented on #35853
The custom loss function should be an instance of `tf.keras.losses.Loss`
See https://www.tensorflow.org/api_docs/python/tf/keras/Model#methods_2

[2020-01-21 22:53] jdduke commented on #36055
@multiverse-tf can you take a look?

[2020-01-21 22:55] ymodak commented on #33870
This is fixed with latest tf nightly version '2.2.0-dev20200121'. Thanks!

[2020-01-21 22:55] #33870 closed

[2020-01-21 23:01] vilmara commented on #36008
hi @dubey, I am using Mellanox InfiniBand ConnectX-5 network adapters with 100Gbit/s over IPoIB

[2020-01-21 23:13] wangpengmit commented on #36034
I don't know why `tf.random.set_seed` makes a difference here, but `tf.random.categorical` has known memory usage issues, because it uses the [Gambel-distribution trick](https://lips.cs.princeton.edu/the-gumbel-max-trick-for-discrete-distributions/) which uses a lot of memory. You can try this code that manually implement the sampler:

[code]

[2020-01-21 23:14] dswah commented on #35813
@jvishnuvardhan No, that does not work.
![image](https://user-images.githubusercontent.com/11619412/72851446-f2df0e00-3cab-11ea-9d35-8274b6a7fe8b.png)
Sometimes the error does not show up, so you may hay gotten lucky.
I just **restarted** the notebook and got the error using your sample.

[2020-01-21 23:16] RhythmParadox commented on #7375
I am also having this issue

[2020-01-21 23:33] qlzh727 commented on #35724
Sorry, I think I made the typo between paper 1 and 2 in my previous message. I was referring to paper "Recurrent Dropout without Memory Loss", on page 4,  formula 18, with content
[code]
Note here p is the probably for dropout, dividing p means scale up for the value.

[2020-01-21 23:40] alisaaalehi commented on #29911
This method only works for `tf-nightly-gpu` (Tensorflow version: 2.2.0) and **not** for TF 2.0

[2020-01-21 23:50] jok-ts commented on #35653
At least for me, the external/pybind11 copy is version 2.3.0 but the generated copy in ...local_config_python/python_include is version 2.4.3.

[2020-01-21 23:50] Tetragramm commented on #33178
The fix has been merged.
https://github.com/tensorflow/tensorflow/pull/33441#event-2967461126

[2020-01-21 23:55] byronyi commented on #36008
@dubey the log @vilmara pasted is from single node 8xGPU, so networking is not an issue here, but it’s horovod so there are some IPCs around.

We have similar observation that global XLA scope slows down the inter-process (both single node and multi-node) all reduces. Wrapping different parts of the model into different JIT scope seems to increase the overlap between communication and computation.

[2020-01-22 00:02] jvishnuvardhan commented on #29784
I am closing this issue as it was resolved by replacing `tf.saved_model.load(path)` with `tf.keras.models.load_model(path)`. Thanks!

[2020-01-22 00:02] #29784 closed

[2020-01-22 00:09] dubey commented on #36008
Hang on, from @vilmara's comments it seems like 4x GPUs is one node, and 8x GPUs is "across nodes".  But @byronyi is claiming that 8x GPU is on a single node.

Can we please clarify the exact topology with 4 and 8 GPU runs?

[2020-01-22 00:13] rmanak commented on #25403
this error continues to exist for me on TF2.1 when trying to use tf hub modules... I can confirm that GPU is not running out of memory or there is no other notebook using the GPU

[2020-01-22 00:14] byronyi commented on #36008
I’m sorry, looking it again it is indeed 4x GPU per node.

[2020-01-22 00:17] mihaimaruseac commented on #35653
Can you please test if the same happens on `master`?

I think you found the root cause for a bug I am looking at since before Christmas. Which then might explain why you cannot build.

[2020-01-22 00:41] user06039 opened #36115 "Sampled Softmax for Tensorflow Keras"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): Yes

**

[2020-01-22 00:47] Bidski opened #36116 "Multiple outputs from a keras model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-01-22 00:59] Artaches commented on #35283
Yes using the ``--define=tflite_with_ruy=false`` made the performance the same with screen off. We're using a LSTM based model that uses the `tf.nn.rnn_cell.LSTMCell` and `tf.nn.dynamic_rnn` classes.

[2020-01-22 01:02] reedwm commented on #35441
When I try to run the code in the original post, I get the error:

[code]

I am unfamiliar with UNet so I'm not sure what's wrong. Also, it would help if you post a single self-contained example to reproduce the issue. In your original post, you split the code over several code blocks, and you don't have the import statements like `import tensorflow as tf`.

Can you post a self-contained example t

[2020-01-22 01:17] jok-ts commented on #35653
I can't in the near future, I'm currently compiling v2.1.0 patched to expect pybind11 v2.4.3 to see if it completes when the versions match.

What I think is happening here is that tensorflow/workspace.bzl specifies pybind11 v2.3.0 but some other part of the machinery just resolves a pybind11 dependency as latest. This would have stopped working reliably on Sep 20, 2019 when v2.4.0 became the late

[2020-01-22 01:18] alanpurple commented on #35653
@mihaimaruseac

build succeeded without tensorrt in master

[2020-01-22 01:21] mihaimaruseac commented on #35653
So `tensorrt` brings a bad `pybind` into the workspace.

I'm out of office for now, but will investigate this more tomorrow up to early next week.

Thank you @alanpurple and @jok-ts for investigating into this.

[2020-01-22 01:24] Leslie-Fang commented on #36087
It seems a fix is coming soon

[2020-01-22 01:24] #36087 closed

[2020-01-22 01:27] jsimsa commented on #35900
The structure of `padding_values` needs to match the structure of your dataset elements (so that you can specify different padding values for different structure components).

The [documentation](https://www.tensorflow.org/api_docs/python/tf/data/Dataset?version=stable#padded_batch) calls this out, including an example of a dataset whose elements are tuples.

[2020-01-22 01:27] #35900 closed

[2020-01-22 01:36] dhpollack commented on #35900
@jsimsa the documentation is at best unclear. If I want to pad my tensor in all dimensions with -1 then why can't I use a simple integer? This seems like the most practical case and it isn't clear to me how to do this. I'm willing to admit this might not be a bug but in that case it's a feature request to allow for simple types to be propagated logically.

[2020-01-22 01:40] jsimsa commented on #35900
You can do the following:

[code]

[2020-01-22 01:44] jsimsa commented on #35900
The feature you are requesting seems reasonable and would make a good candidate for an external contribution. If you create a feature request, please cc me on it so that I can tag it as contributions welcome.

[2020-01-22 01:45] dhpollack commented on #35900
Ok, still seems unintuitive but that's a very helpful answer. I'll give it a shot. Thanks for clearing that up for me. 👍🏼

[2020-01-22 01:49] refraction-ray commented on #34924
@Leslie-Fang , this is why I believe the better solution here is to enable mkl linkage with eigen when building tensorflow. If this works, all ops can enjoy multithreaded mkl implementation and no need to hack these ops one by one.

[2020-01-22 02:13] 18970901926 commented on #36029
hi,&nbsp;
&nbsp; &nbsp; The tensorflow c version is&nbsp; r1.13,&nbsp; here is the error information.
&nbsp; &nbsp; &nbsp;

&nbsp; &nbsp;Please see the attachment for the complete standalone code which replicate the reported issue.
&nbsp; &nbsp; Thanks.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"gadagashwini"<notifications@github.com&gt;;
发送时间:&nbsp;2020年1月21日(星期二) 晚上7:21
收件人

[2020-01-22 02:29] QuintonDenman commented on #27281
I can try catch the print out, but unfortunately it freezes my pc then the system reboots when it does occur. I guess the GPU crashes? I do not have this problem on every run so it is even harder to catch.

[2020-01-22 02:57] jwyyy commented on #33888
I have the same problem using TF 2.1.0. Calling keras from tensorflow will lead to the same error. As mentioned by @sonu1-p , TF hasn't updated its own copy of this hdf5 saving.

[2020-01-22 03:07] fcarsten commented on #36044
Running `fit()` with `verbose=1` shows the difference in behavior even more.

With `experimental_run_tf_function = False` the loss decreases slowly but consistently. Without however the loss actually increases until it stabilizes around 400-500:

[code]

[2020-01-22 03:28] yomcoding commented on #36083
I log the loss value by
[code]

Then i got log file, but when I open webpage, it shows nothing:
![result](https://fn.storage.img.ztzl.moe/2020/01/22/efa4ed8e1826bc98e2070273c7884a12.jpg)

How can I get log info of tensorboard?

[2020-01-22 03:40] oanush commented on #35903
@laue1234 ,
Please feel free to close the issue if it is resolved.Thanks!

[2020-01-22 03:49] sanjoy commented on #27281
That sounds like a kernel / driver issue to me, not something specific to TF (IIUC TF should not be able to crash the machine).  Can you bring this up on NVIDIA's support forums?

[2020-01-22 03:52] kahlil29 commented on #34580
Wow this issue has been completely ignored. It's been almost 2 months! 😡
It's an installation problem, ffs. Not some `nice to have` or `enhancement` feature.
And the workaround is extremely hacky and not at all pleasant.

[2020-01-22 04:32] oanush commented on #35909
@niccle27 ,
From the error log i can see that saved_model-f`ace_recognition_model.h5 `does not exist, make sure you import the file to the right path and then try loading the model using load_model.
You can provide us the code being used so that i can help you out with the resolving the issue.Thanks!

[2020-01-22 04:35] smzahir commented on #9680
Try in command prompt

[2020-01-22 04:36] MaxChu719 commented on #15041
Thanks! But why Tensorflow did it that way? It seems more natural to me not to do it this way...

[2020-01-22 04:43] RamishaRaniK commented on #9680
@smzahir

please say the error message.

[2020-01-22 04:43] MaxChu719 commented on #15041
Also, how about tf.gather() instead of TensorArray?

[2020-01-22 04:44] oanush commented on #36093
@padoremu,
Can you try saving the model in tf format? using `model.save('rnn.tf',save_format='tf')`. It worked fine for me without any issue's. Kindly find the [gist of colab ](https://colab.sandbox.google.com/gist/oanush/84a2c6ef04084c18bbc699bc556c5acb/36093.ipynb#scrollTo=wJL_s5pKUetX)for your reference.Thanks!

[2020-01-22 04:48] ebrevdo commented on #15041
Gradient of tf.gather has the same exact issues *except* when you're
gathering from a tf.Variable directly.  Which you're probably not.

On Tue, Jan 21, 2020 at 8:43 PM Max Shek-wai Chu <notifications@github.com>
wrote:

[2020-01-22 04:49] smzahir commented on #9680
When i used ' pip install tensorflow ' its shows the error message as:
ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow
Then i used  ' conda install tensorflow ' command in Command prompt which really worked.

[2020-01-22 04:55] RamishaRaniK commented on #9680
@smzahir
 As per your statement, conda install tensorflow has worked. ''pip install always check with python version.
so whats is your python version.

[2020-01-22 05:00] smzahir commented on #9680
@RamishaRaniK
I think tensorflow works with python version upto 3.6 while mine is 3.7

[2020-01-22 05:28] castleguarders commented on #35927
Having a similar issue with the new converter erroring out. python/keras/engine/network.py seems to be the common element. Using nightly-tf from today and new converter.

2020-01-21 17:20:47.380130: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1244] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 4119 MB memory) -> physical GPU (device: 0, name: GeForce GTX 1080

[2020-01-22 05:34] sarthaxxxxx commented on #19016
Using CudNNLSTM is way faster. Like, 15x faster tbh.

[2020-01-22 05:36] castleguarders commented on #21526
Here are a few more operators that haven't been mentioned before: CropAndResize, DenseToDenseSetOperation, NonMaxSuppressionV3, StatelessWhile.

Also +1 for TensorListFromTensor, TensorListReserve, TensorListStack mentioned earlier.

[2020-01-22 05:40] sayakpaul commented on #35968
I got the same error as well. When I downgraded to TensorFlow 2.0.0 (with `pip install tensorflow-gpu==2.0.0`) it solved the issue.

[2020-01-22 06:25] forresti commented on #36055
I spent some more time on this. Originally, I was using the newest versions of all the android stuff (NDK, SDK, build tools). I changed my NDK to version 14b and SDK to version

[2020-01-22 06:41] oanush commented on #35930
@bj1123 ,
I just modified few lines of code and I am able to load the model weights successfully,kindly refer the [gist of colab](https://colab.sandbox.google.com/gist/oanush/8b8802b2743fbaf47149c5941da8e213/35930_tf-nightly.ipynb). Please refer these links of [github](https://github.com/keras-team/keras/issues/12094#issuecomment-481397688) and [stackoverflow](https://stackoverflow.com/questions/4

[2020-01-22 07:12] padoremu commented on #36093
@oanush,
Thank you for your quick response. I tried with my 2.0.0-dev20190731 installation, but I am receiving an error `TypeError: wrapped_call() takes 1 positional argument but 2 were given`. Apparently I need a newer version of tensorflow.

I would love to install a current snapshot, but whatever I tried has failed so far:

1. Installing tf-nightly with pip results in installing tf-nightly-1.15

[2020-01-22 07:17] shauryad15 commented on #35389
[detect.zip](https://github.com/tensorflow/tensorflow/files/4095732/detect.zip)
this is the model. also i would like to know that is there any specific way to convert the model to run in gpu? i've followed this link for conversion https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193 .

[2020-01-22 07:25] yourtheron commented on #35441
@reedwm Sorry for the confusion, here is the complete code, which I have tested via Colab.
[code]
The above works in saving the moel
If we change the code above into
[code]
An error was raised as stated before.

Has the solution for saving models under mixed precision been submitted to Tf2.1 as well?

By the way, at present I am saving neither model nor weight. I simply save everything to a checkp

[2020-01-22 07:45] vistart commented on #35917
Error(s) occur in the following environments:
- Ubuntu 18.04.3 LTS x64
- Python 3.6
- CUDA 10.0/10.1/10.2, cudnn 7.6.5.32, nccl 2.5.6, TensorRT 6.0.1(cuda10.1)/7.0.0(cuda10.0/10.2)

(The following three archives contain compilation logs. Please untar them to read)
[tf2.1_py36_cuda10.0.tar.gz](https://github.com/tensorflow/tensorflow/files/4095816/tf2.1_py36_cuda10.0.tar.gz)
[tf2.1_py36_cuda10.1.ta

[2020-01-22 07:48] gadagashwini commented on #36074
Was able to reproduce the issue with Tf 1.14. and Tf 2.1 on colab.
Please find the gist [here](https://colab.research.google.com/drive/1FL9NrRyn4iiVXUSHZqRqXeXqJAlMUq4E?usp=sharing). Tha

[2020-01-22 07:57] gadagashwini commented on #36077
@shuklakirti, Could you provide the minimal code snippet to replicate the reported issue. Thanks!

[2020-01-22 07:59] GallopingKylin opened #36119 "linking of rule "_pywrap_tensorflow_internal.so" failed: crosstool_wrapper_driver_is_not_gcc"
**System information**
- OS Platform and Distribution:Ubuntu Server 18.04.3 LTS
- Docker version:19.03
- GPU model and memory:GTX 1080 8GB
- GPU driver version: 440.44
- CUDA version: 10.2

**Describe the problem**
My computer's CPU doesn't support the AVX instructions, so I had to build it from source code, and I made sure I had the graphics driver installed correctly on the host and that the Doc

[2020-01-22 08:05] gadagashwini commented on #35272
Closing the issue. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-22 08:05] #35272 closed

[2020-01-22 08:08] gadagashwini commented on #35376
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-22 08:08] #35376 closed

[2020-01-22 08:09] gadagashwini commented on #35397
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-01-22 08:09] #35397 closed

[2020-01-22 08:21] gadagashwini commented on #35672
@coert, Looks like code is incomplete to replicate the reported issue.
Please provide more information on `from src.config import CACHE_PATH`  to reproduce the issue. Thanks!

[2020-01-22 08:23] gadagashwini commented on #35687
@CleanPegasus, Any update!

[2020-01-22 08:23] wrd90 opened #36120 "TFLite for Microcontrollers: Compilation issues for operators for bare metal"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Host: macOS 10.14.6, Target Ti

[2020-01-22 08:26] impjdi commented on #35389
I see you're using a quantized network.  For GPU, you want float models :)

[2020-01-22 08:29] gadagashwini commented on #35703
@WisarutBholsithi, Did you check the read and execute permission on the file. Thanks