[2018-08-31 08:01] tensorflowbutler commented on #19421
Nagging Assignee @tatatodd: It has been 96 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:01] tensorflowbutler commented on #19457
Nagging Assignee @allenlavoie: It has been 63 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:02] tensorflowbutler commented on #19478
Nagging Assignee @shivaniag: It has been 80 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:02] tensorflowbutler commented on #19481
Nagging Assignee @tatatodd: It has been 93 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:02] tensorflowbutler commented on #19530
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-08-31 08:02] tensorflowbutler commented on #19564
Nagging Assignee @jart: It has been 62 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:02] tensorflowbutler commented on #19583
Nagging Assignee @meteorcloudy: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:02] tensorflowbutler commented on #19626
Nagging Assignee @rohan100jain: It has been 49 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:02] tensorflowbutler commented on #19631
It has been 20 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:03] tensorflowbutler commented on #19685
Nagging Assignee @andrehentz: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:03] tensorflowbutler commented on #19690
Nagging Assignee @chsigg: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:03] tensorflowbutler commented on #19695
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-08-31 08:03] tensorflowbutler commented on #19717
Nagging Assignee @JasperSnoek: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:03] tensorflowbutler commented on #19734
Nagging Assignee @robieta: It has been 87 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:03] tensorflowbutler commented on #19739
Nagging Assignee @MarkDaoust: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:03] tensorflowbutler commented on #19770
Nagging Assignee @jart: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:03] tensorflowbutler commented on #19832
Nagging Assignees @sguada, @ebrevdo: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:03] tensorflowbutler commented on #19837
Nagging Assignee @jart: It has been 48 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:04] tensorflowbutler commented on #19864
Nagging Assignee @fchollet: It has been 48 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:04] tensorflowbutler commented on #19887
Nagging Assignee @rmlarsen: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:04] tensorflowbutler commented on #19903
Nagging Assignee @ispirmustafa: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:04] tensorflowbutler commented on #19935
Nagging Assignee @robieta: It has been 63 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:04] tensorflowbutler commented on #19952
Nagging Assignee @jsimsa: It has been 34 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:04] tensorflowbutler commented on #19965
Nagging Assignee @sguada: It has been 49 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:04] tensorflowbutler commented on #19967
Nagging Assignees @fchollet, @tanzhenyu: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:05] tensorflowbutler commented on #19989
Nagging Assignee @jart: It has been 78 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:05] tensorflowbutler commented on #19991
Nagging Assignee @tatatodd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:05] tensorflowbutler commented on #20007
Nagging Assignee @tatatodd: It has been 77 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:05] tensorflowbutler commented on #20050
Nagging Assignee @MarkDaoust: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:05] tensorflowbutler commented on #20068
Nagging Assignee @saeta: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:05] wincle commented on #20653
@suharshs Could you please tell me what's the correlation with these two graphs?
How could I use my training graph to generate the eval graph, in other words, what's the point of creating training graph , how should I use it?
Thx!

[2018-08-31 08:05] tensorflowbutler commented on #20073
Nagging Assignee @fchollet: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:05] tensorflowbutler commented on #20090
Nagging Assignee @ispirmustafa: It has been 49 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:05] tensorflowbutler commented on #20098
Nagging Assignee @saxenasaurabh: It has been 47 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:05] tensorflowbutler commented on #20120
Nagging Assignee @jart: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:05] tensorflowbutler commented on #20126
Nagging Assignee @guptapriya: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:06] tensorflowbutler commented on #20142
Nagging Assignee @tatianashp: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:06] tensorflowbutler commented on #20157
Nagging Assignees @jjsjann123, @aaroey: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:06] tensorflowbutler commented on #20158
It has been 34 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:06] tensorflowbutler commented on #20201
Nagging Assignee @tatianashp: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:06] tensorflowbutler commented on #20273
Nagging Assignee @robieta: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:06] tensorflowbutler commented on #20309
Nagging Assignees @zhangyaobit, @zheng-xq: It has been 64 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:06] tensorflowbutler commented on #20337
It has been 20 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:06] tensorflowbutler commented on #20338
Nagging Assignees @fchollet, @pavithrasv, @anj-s: It has been 18 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:06] tensorflowbutler commented on #20343
Nagging Assignee @MarkDaoust: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:06] tensorflowbutler commented on #20344
It has been 34 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:06] tensorflowbutler commented on #20345
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-08-31 08:07] tensorflowbutler commented on #20348
Nagging Assignee @rongou: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:07] tensorflowbutler commented on #20358
Nagging Assignee @bignamehyp: It has been 32 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:07] tensorflowbutler commented on #20368
Nagging Assignee @zheng-xq: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:07] tensorflowbutler commented on #20369
Nagging Assignee @zheng-xq: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:07] tensorflowbutler commented on #20382
Nagging Assignee @shivaniag: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:07] tensorflowbutler commented on #20387
Nagging Assignee @zheng-xq: It has been 33 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:07] tensorflowbutler commented on #20392
Nagging Assignee @jart: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:07] tensorflowbutler commented on #20399
Nagging Assignee @bignamehyp: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:07] tensorflowbutler commented on #20414
Nagging Assignee @zheng-xq: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:07] tensorflowbutler commented on #20427
Nagging Assignee @aselle: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:07] tensorflowbutler commented on #20435
Nagging Assignee @MarkDaoust: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:08] tensorflowbutler commented on #20447
It has been 34 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:08] tensorflowbutler commented on #20459
It has been 34 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:08] tensorflowbutler commented on #20506
Nagging Assignee @ispirmustafa: It has been 46 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:08] tensorflowbutler commented on #20555
Nagging Assignee @jart: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:08] tensorflowbutler commented on #20557
Nagging Assignee @tatatodd: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:08] tensorflowbutler commented on #20561
Nagging Assignee @allenlavoie: It has been 34 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:08] tensorflowbutler commented on #20563
Nagging Assignee @bignamehyp: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:08] tensorflowbutler commented on #20588
Nagging Assignee @yuefengz: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:08] tensorflowbutler commented on #20606
Nagging Assignees @jart, @nfelt: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:08] tensorflowbutler commented on #20610
It has been 34 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:09] tensorflowbutler commented on #20642
Nagging Assignees @ispirmustafa, @anj-s: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:09] tensorflowbutler commented on #20658
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-31 08:09] tensorflowbutler commented on #20662
Nagging Assignee @asimshankar: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:09] tensorflowbutler commented on #20670
It has been 34 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:09] tensorflowbutler commented on #20680
Nagging Assignee @robieta: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:09] tensorflowbutler commented on #20683
Nagging Assignee @rmlarsen: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:09] tensorflowbutler commented on #20688
Nagging Assignee @meteorcloudy: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:09] tensorflowbutler commented on #20689
Nagging Assignee @tatatodd: It has been 50 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:09] tensorflowbutler commented on #20696
Nagging Assignee @jart: It has been 49 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:09] tensorflowbutler commented on #20698
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:10] tensorflowbutler commented on #20740
Nagging Assignee @azaks2: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:10] tensorflowbutler commented on #20765
Nagging Assignee @shivaniag: It has been 48 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:10] tensorflowbutler commented on #20779
Nagging Assignee @jart: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:10] tensorflowbutler commented on #20834
It has been 31 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:10] tensorflowbutler commented on #20836
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-08-31 08:10] tensorflowbutler commented on #20865
Nagging Assignee @poxvoculi: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:10] tensorflowbutler commented on #20883
Nagging Assignee @yifeif: It has been 34 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:10] tensorflowbutler commented on #20964
Nagging Assignee @robieta: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:10] tensorflowbutler commented on #21044
Nagging Assignee @allenlavoie: It has been 33 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:11] tensorflowbutler commented on #21084
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:11] tensorflowbutler commented on #21091
Nagging Assignee @poxvoculi: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:11] tensorflowbutler commented on #21095
Nagging Assignee @MarkDaoust: It has been 35 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:11] tensorflowbutler commented on #21096
Nagging Assignees @av8ramit, @gunan: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:11] tensorflowbutler commented on #21103
Nagging Assignee @robieta: It has been 35 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:11] tensorflowbutler commented on #21112
Nagging Assignee @rmlarsen: It has been 35 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:11] tensorflowbutler commented on #21115
Nagging Assignee @guptapriya: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:11] tensorflowbutler commented on #21134
It has been 32 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:11] tensorflowbutler commented on #21141
It has been 22 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:11] Bedrettin-Cetinkaya commented on #21875
@tensorflowbutler , sorry for missing information. I updated my post.

[2018-08-31 08:12] tensorflowbutler commented on #21157
It has been 35 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:12] tensorflowbutler commented on #21158
It has been 35 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:12] tensorflowbutler commented on #21162
Nagging Assignee @robieta: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 08:12] meteorcloudy commented on #19583
A preview of the document on building TensorFlow with Bazel on Windows is currently available here:
https://gist.github.com/meteorcloudy/8e5f1aab7c7fa87b16ae28e6f8fd3fd2

It will be published to the official site with the release of TensorFlow r1.11

[2018-08-31 08:12] #19583 closed

[2018-08-31 08:12] tensorflowbutler commented on #21166
It has been 35 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 08:35] #21157 closed

[2018-08-31 08:44] xinyuegtxy commented on #21084
Tf1.9 resolve it

[2018-08-31 08:44] #21084 closed

[2018-08-31 09:02] #20345 closed

[2018-08-31 10:09] maharjun commented on #15874
I am facing the exact issue here. This time with tensorflow 1.7 and python 3.5 (Standard pip install). Beyond a certain batch size I begin to get retval errors.

[2018-08-31 11:44] NatLun091238 opened #21991 "Strange behavior of loss function in WALSMatrixFactorization TF 1.8"
Our current implementation of recommendation system use TF 1.8 and WALS algorithm. The model was trained using self.fit(input_fn=input_fn) and ML Engine with run time version 1.8. Data set was formed following [example](https://github.com/GoogleCloudPlatform/training-data-analyst/blob/master/courses/machine_learning/deepdive/10_recommend/wals.ipynb) using tensorflow.train.Example(...) Extraction f

[2018-08-31 12:29] mbelang commented on #21898
Updated.

[2018-08-31 12:31] jzupka commented on #21248
Same error in tensorflow 1.10.1 and tensorrt (3.0.4, 4.0.1) cuda (9.2, 9.0) cudnn 7.1.4

[2018-08-31 12:39] guillaume-michel commented on #21761
I am sorry but I can't provide that kind of information.
It is not restricted to this particular architecture, we observe the same regression for all our networks.

[2018-08-31 13:51] Coderx7 commented on #21881
@ppwwyyxx : Thanks for the code, except for a couple of differences, it's the same architecture(it needs `GlobalMaxPolling` insead of a `GlobalAvgPooling` and also biases needed to be enabled).
The speed is significantly faster than our TF example! it has nearly the same speed of Pytorch( its only 2~3 seconds slower).
After setting `use_bias=True`, and changing Adam to SGD for both scripts, I get

[2018-08-31 13:59] ebrevdo commented on #6034
I think this is fixed now?

[2018-08-31 13:59] #6034 closed

[2018-08-31 14:10] kdavis-mozilla commented on #6034
@ebrevdo What commit fixed this problem?

[2018-08-31 14:17] ebrevdo commented on #6034
https://github.com/tensorflow/tensorflow/pull/21187

[2018-08-31 15:01] tensorflowbutler commented on #21196
Nagging Assignee @derekjchow: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:01] tensorflowbutler commented on #21204
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-31 15:01] tensorflowbutler commented on #21260
It has been 20 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:01] tensorflowbutler commented on #21284
Nagging Assignee @shivaniag: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:01] tensorflowbutler commented on #21339
Nagging Assignee @mrry: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:01] tensorflowbutler commented on #21358
Nagging Assignee @zheng-xq: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:01] tensorflowbutler commented on #21359
It has been 20 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:02] tensorflowbutler commented on #21389
Nagging Assignee @anj-s: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:02] tensorflowbutler commented on #21403
Nagging Assignee @rohan100jain: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:02] tensorflowbutler commented on #21409
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-08-31 15:02] tensorflowbutler commented on #21432
Nagging Assignee @robieta: It has been 18 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:02] tensorflowbutler commented on #21433
It has been 23 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:02] tensorflowbutler commented on #21447
Nagging Assignee @rohan100jain: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:02] tensorflowbutler commented on #21454
Nagging Assignee @robieta: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:02] tensorflowbutler commented on #21458
Nagging Assignee @poxvoculi: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:02] tensorflowbutler commented on #21464
Nagging Assignee @tanzhenyu: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:03] tensorflowbutler commented on #21470
Nagging Assignee @yuefengz: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:03] tensorflowbutler commented on #21476
Nagging Assignee @karmel: It has been 21 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:03] tensorflowbutler commented on #21491
It has been 22 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:03] tensorflowbutler commented on #21516
Nagging Assignee @shivaniag: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:03] tensorflowbutler commented on #21523
Nagging Assignee @tatatodd: It has been 21 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:03] tensorflowbutler commented on #21528
Nagging Assignee @tatatodd: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:03] tensorflowbutler commented on #21537
Nagging Assignee @rohan100jain: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:03] tensorflowbutler commented on #21538
It has been 20 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:03] tensorflowbutler commented on #21543
Nagging Assignee @tatianashp: It has been 20 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:04] tensorflowbutler commented on #21544
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:04] tensorflowbutler commented on #21548
Nagging Assignee @aselle: It has been 17 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:04] tensorflowbutler commented on #21549
Nagging Assignee @yongtang: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:04] tensorflowbutler commented on #21554
It has been 18 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:04] tensorflowbutler commented on #21569
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:04] tensorflowbutler commented on #21581
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:04] tensorflowbutler commented on #21590
Nagging Assignee @ispirmustafa: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:04] reuben commented on #21924
I've updated the issue.

[2018-08-31 15:04] tensorflowbutler commented on #21598
Nagging Assignee @robieta: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:04] tensorflowbutler commented on #21603
Nagging Assignee @xiejw: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:04] tensorflowbutler commented on #21605
Nagging Assignee @bignamehyp: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:05] tensorflowbutler commented on #21613
It has been 16 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:05] tensorflowbutler commented on #21615
It has been 16 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:05] tensorflowbutler commented on #21620
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:05] tensorflowbutler commented on #21622
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 15:05] tensorflowbutler commented on #21632
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:05] tensorflowbutler commented on #21638
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 15:06] shoyer commented on #21491
Yes, this is still an issue.

[2018-08-31 15:07] emartorano commented on #21719
I had exactly the same issue. I spend the entire day trying to figure out what was wrong. I installed and uninstalled python, tf, etc.. million times on my new Windows 10 machine. This morning I saw this post. I deleted protobuf 3.6.1 and installed 3.6.0. Bingo ! everything is working. Thanks a lot

[2018-08-31 15:14] vielmetti commented on #17850
Hi @gunan - where do the downstream teams do their work? I am happy to engage them there.

[2018-08-31 15:40] baker-travis commented on #9549
For me, I had to downgrade to tensorflow 1.9.0. It might be a cuda toolkit incompatibility issue, I'm not sure. It looked like tensorflow v10 used cuda toolkit 9.2, while I only had 9.0 installed.

[2018-08-31 15:43] inspirepassion commented on #20569
So I had the same problem too, especially I already installed CUDA 9.0. But I finally got what I did wrong. What we should do is to add these two lines to ~/.bashrc:

And then restart the computer. WOLA.
The entire process to install CUDA, cuDNN and TF is given by this article: https://medium.com/@taylordenouden/installing-tensorflow-gpu-on-ubuntu-18-04-89a142325138
I spotted what I did wrong by w

[2018-08-31 16:06] zbitouzakaria commented on #21923
@tensorflowbutler Done :)

[2018-08-31 16:30] poxvoculi commented on #21914
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-08-31 16:31] poxvoculi commented on #21892
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-08-31 16:39] sanjoy commented on #21761
Can you extract out a small reproducer that you _can_ share?

[2018-08-31 16:56] michaeltinsley commented on #21548
You should use

`--output_arrays="MobilenetV1/Predictions/Reshape_1","MobilenetV1/Logists"`

[2018-08-31 16:58] arose13 opened #21994 "Tensorflow install should setup up GPU support automatically"
My only real experience with TensorFlow is using it with Keras and sometimes writing some probabilistic objective functions in TensorFlow. Anytime I require GPU support I switch to PyTorch because when I install it, it is automatically set up to run on GPUs. Is there any plan to implement this for TensorFlow?

[2018-08-31 17:04] arnaldog12 opened #21995 "Android Static Library in Visual Studio with Tensorflow C++ API"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: Any Android device
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow versi

[2018-08-31 17:06] dave-msk commented on #21982
Closing this issue as it worked on the AWS S3 instances. This problem probably arises from my company's internal S3 implementation

[2018-08-31 17:06] #21982 closed

[2018-08-31 17:15] byronyi commented on #21994
I do not understand your use cases.

Are there any of them could not be covered by using the `tensorflow-gpu` Python package?

[2018-08-31 17:17] tfboyd commented on #21881
Huge thank you to @ppwwyyxx.  I need to catch up on this thread in a couple of days in detail.  I will leave it open until I can process everything and looking through all the code.  I want to see if there is anything we can do to the stock example.

[2018-08-31 17:40] shashishekhar commented on #21787
@jiarenyf : Thank you for the report, I am looking into the differences.
Note: for desktop TFLite doesn't have optimized kernels but for mobile there are neon optimized kernels.
Also since the graph is converted, the operations are not entirely the same.

I am looking into why there maybe a difference between performance difference here and TFLite is accidentally taking a slow path.

[2018-08-31 17:51] martinwicke commented on #21930
Maybe hijacking this for a slightly bigger discussion: Should tf expose logging at all? Clearly we need something for TF itself to use, but is there an actual use case for tf.logging being part of the public API? Or should we simply remove it, and users who also want logging facilities should simply use python's logging module. A wrapper makes little sense if it doesn't add useful features.

[2018-08-31 18:00] coder3101 commented on #21994
@arose13 There are actually two different packages `tensorflow` and `tensorflow-gpu`. However, Torch doesn't have a different package for GPU.
But I agree it can be/is difficult to set up `tensorflow-gpu` as compared to PyTorch. But here is a thing, Why not get docker Image of `tensorflow-gpu` and use it instead. Here are the [docs](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/t

[2018-08-31 18:14] guptapriya commented on #21115
Closing as there is nothing to be done from our side currently (apart from supporting multi node with keras directly which we are actively working on)

[2018-08-31 18:14] #21115 closed

[2018-08-31 18:15] guptapriya commented on #20588
I believe @yuefengz already fixed the error in this commit : https://github.com/tensorflow/tensorflow/commit/0cb022678a143bd2b41f83fff89a4d2f6d54fd3e#diff-0cdfc5bf8ae2d22bee6308579f191fd0

Please re-open if you still see the issue

[2018-08-31 18:15] #20588 closed

[2018-08-31 18:16] guptapriya commented on #20126
Please re-open if the above suggestion does not address the problem.

[2018-08-31 18:16] #20126 closed

[2018-08-31 18:29] ankitvgupta commented on #17650
Hey, sorry for the delay. Probably some from Tensorflow should explain to be certain, but there was a major upgrade to the local training version of train_and_evaluate. My understanding is it now runs evaluation via a `tf.train.CheckpointSaverListener`. As such, the evaluation frequency is determine by the saving frequency. You can see the new functionality here: https://github.com/tensorflow/tens

[2018-08-31 18:33] av8ramit commented on #21866
I believe I did, did I miss any?

[2018-08-31 19:05] ljaraque commented on #20569
Yep good. The issue from my previous post arises when you want to use CUDA9.2

[2018-08-31 19:15] armaneshaghi commented on #20569
True; the issue is related to the latest versions (as of the date of this
post); CUDA 9.0 and previous cuDNNs work fine.

On Fri, 31 Aug 2018 at 20:06, Luis Jaraquemada <notifications@github.com>
wrote:

--
*---------------------------------------------*
*This is a private email account. Do not send messages to it that contain
patient identifiable data or if your organisation has concerns regardin

[2018-08-31 19:27] tensorflowbutler commented on #21984
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-31 19:27] tensorflowbutler commented on #21987
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-31 19:27] tensorflowbutler commented on #21991
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-08-31 19:28] tensorflowbutler commented on #7876
Nagging Assignee @sherrym: It has been 214 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:28] tensorflowbutler commented on #11823
Nagging Assignee @reedwm: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:28] tensorflowbutler commented on #12084
Nagging Assignee @petewarden: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:28] tensorflowbutler commented on #12301
Nagging Assignee @petewarden: It has been 211 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:28] tensorflowbutler commented on #12460
Nagging Assignee @andrewharp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:28] tensorflowbutler commented on #13984
Nagging Assignee @gunan: It has been 150 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:28] tensorflowbutler commented on #14134
Nagging Assignee @asimshankar: It has been 150 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:28] tensorflowbutler commented on #14623
Nagging Assignee @skye: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:28] tensorflowbutler commented on #14663
Nagging Assignee @ebrevdo: It has been 197 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:28] tensorflowbutler commented on #14669
Nagging Assignee @fchollet: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:28] tensorflowbutler commented on #15284
Nagging Assignee @gunan: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:28] tensorflowbutler commented on #15433
Nagging Assignee @benoitsteiner: It has been 135 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:29] tensorflowbutler commented on #15626
Nagging Assignee @asimshankar: It has been 196 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:29] tensorflowbutler commented on #16150
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 19:29] tensorflowbutler commented on #16572
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 19:29] tensorflowbutler commented on #16772
Nagging Assignee @shivaniag: It has been 160 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:29] tensorflowbutler commented on #16774
Nagging Assignee @fchollet: It has been 198 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:29] tensorflowbutler commented on #17056
Nagging Assignee @benoitsteiner: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:29] tensorflowbutler commented on #17200
Nagging Assignee @fchollet: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:29] tensorflowbutler commented on #17211
Nagging Assignee @cy89: It has been 189 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:29] tensorflowbutler commented on #17246
Nagging Assignee @alextp: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:29] tensorflowbutler commented on #17332
Nagging Assignee @rmlarsen: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:30] tensorflowbutler commented on #17419
Nagging Assignee @fchollet: It has been 150 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:30] tensorflowbutler commented on #17463
Nagging Assignee @tatatodd: It has been 177 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:30] tensorflowbutler commented on #17484
Nagging Assignee @rohan100jain: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:30] tensorflowbutler commented on #17691
Nagging Assignee @tatatodd: It has been 170 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:30] tensorflowbutler commented on #17974
Nagging Assignee @suharshs: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:30] tensorflowbutler commented on #18177
Nagging Assignee @shivaniag: It has been 151 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:30] tensorflowbutler commented on #18186
Nagging Assignee @jart: It has been 150 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:30] tensorflowbutler commented on #18266
Nagging Assignee @saeta: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:30] tensorflowbutler commented on #18297
Nagging Assignee @tatianashp: It has been 120 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:30] tensorflowbutler commented on #18552
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 19:30] tensorflowbutler commented on #18656
Nagging Assignee @tatatodd: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:30] tensorflowbutler commented on #19000
Nagging Assignees @karmel, @k-w-w: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:30] tensorflowbutler commented on #19041
Nagging Assignee @rohan100jain: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:31] tensorflowbutler commented on #19245
Nagging Assignee @shivaniag: It has been 92 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:31] tensorflowbutler commented on #19368
Nagging Assignee @shivaniag: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:31] tensorflowbutler commented on #19391
Nagging Assignee @poxvoculi: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:31] tensorflowbutler commented on #19567
Nagging Assignee @robieta: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:31] tensorflowbutler commented on #19586
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:31] tensorflowbutler commented on #19603
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 19:31] tensorflowbutler commented on #19645
Nagging Assignee @tatatodd: It has been 93 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:31] tensorflowbutler commented on #19823
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 19:31] tensorflowbutler commented on #19939
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 19:31] tensorflowbutler commented on #20041
Nagging Assignee @zheng-xq: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:31] tensorflowbutler commented on #20072
Nagging Assignee @tatianashp: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:31] tensorflowbutler commented on #20086
Nagging Assignee @robieta: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:32] tensorflowbutler commented on #20148
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 19:32] tensorflowbutler commented on #20342
Nagging Assignee @josh11b: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:32] tensorflowbutler commented on #20502
Nagging Assignee @bignamehyp: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:32] tensorflowbutler commented on #20586
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 19:32] tensorflowbutler commented on #20613
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 19:32] tensorflowbutler commented on #20624
Nagging Assignee @bignamehyp: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:32] tensorflowbutler commented on #20737
Nagging Assignee @jvdillon: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:32] tensorflowbutler commented on #20796
Nagging Assignee @jart: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:32] tensorflowbutler commented on #20805
Nagging Assignees @alextp, @anj-s: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:32] tensorflowbutler commented on #20828
Nagging Assignee @shashishekhar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:32] tensorflowbutler commented on #20838
Nagging Assignee @shivaniag: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:32] tensorflowbutler commented on #20856
Nagging Assignee @aaroey: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:32] tensorflowbutler commented on #20857
Nagging Assignee @tatatodd: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:33] tensorflowbutler commented on #20870
Nagging Assignee @tatatodd: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:33] tensorflowbutler commented on #21192
Nagging Assignee @karmel: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:33] tensorflowbutler commented on #21233
Nagging Assignee @tatianashp: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:33] tensorflowbutler commented on #21250
Nagging Assignee @annemenini: It has been 28 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:33] PGrothaus commented on #17296
Hi, I had the same issue. For me it seems to have been related to memory issues on the GPU and occured when I ran evaluation jobs at the same time.

[2018-08-31 19:33] tensorflowbutler commented on #21261
Nagging Assignee @gunan: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:33] tensorflowbutler commented on #21333
Nagging Assignee @zhangyaobit: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:33] tensorflowbutler commented on #21459
Nagging Assignee @tatianashp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:33] tensorflowbutler commented on #21522
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 19:33] tensorflowbutler commented on #21588
Nagging Assignees @petewarden, @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:33] tensorflowbutler commented on #21591
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:34] tensorflowbutler commented on #21601
Nagging Assignee @tatianashp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:34] tensorflowbutler commented on #21644
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:34] tensorflowbutler commented on #21653
Nagging Assignee @jart: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-08-31 19:34] tensorflowbutler commented on #21659
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-08-31 19:41] reger-men commented on #21522
It's an issue and I'm still waiting for a response.

[2018-08-31 19:42] carlfm01 commented on #21984
OS: Windows 2016 DataCenter
== cat /etc/issue ===============================================
MINGW64_NT-10.0 neoxzai 2.10.0(0.325/5/3) 2018-03-15 14:12 x86_64 Msys

== are we in docker =============================================
No

== compiler =====================================================
bash: c++: command not found

== uname -a =====================================================
MI

[2018-08-31 19:50] carlfm01 commented on #21984
**OS Platform and Distribution**: Windows 2016 DataCenter
**TensorFlow installed from**: #21690
**TensorFlow version**: 1.10.0
**Bazel version**: N/A
**CUDA/cuDNN version**: Cuda v 9.2 / cuDNN 10-x64-v7.2.1.38
**GPU model and memory**: Nvidia K80 11GB
**Exact command to reproduce**:N/A
**Mobile device**:N/A

[2018-08-31 20:05] vfrank66 commented on #6548
This is an old post but I had this same issue 8/2018 with conda environments and tensorflow (SE led me here). Maybe this will help someone else:

![image](https://user-images.githubusercontent.com/7524999/44933291-28d5c800-ad2e-11e8-9b67-e4ae013214e5.png)

Although in the conda environment as seen in the picture. And tensorflow being installed in the conda environment. I had to execute the python

[2018-08-31 20:14] bignamehyp commented on #21605
See #20370

[2018-08-31 20:36] gunan commented on #21880
@meteorcloudy

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue

[2018-08-31 20:41] ispirmustafa commented on #17650
yes, what @ankitvgupta describes is accurate.

[2018-08-31 20:59] gunan commented on #21719
@acozzette @xfxyjwf
Is there a known backwards compatibility issue between protobuf 3.6.1 and 3.6.0?

[2018-08-31 21:13] shashishekhar commented on #21825
Please reopen with more details.

[2018-08-31 21:13] #21825 closed

[2018-08-31 21:16] gunan commented on #17850
They are a part of google's new cloud build tools. I think all of their work is done internally at google though.

[2018-08-31 21:27] cy89 commented on #17211
@AnchoretBaladev can you move to version 1.9, instead, which officially supports Raspberry Pi?

[2018-08-31 21:30] cy89 commented on #21604
@mrry do we have any such facility?

[2018-08-31 21:30] cy89 commented on #21659
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-08-31 21:30] #21659 closed

[2018-08-31 21:32] cy89 commented on #21685
@jart @gunan @martinwicke would you PTAL?

[2018-08-31 21:32] mrry commented on #21604
No, we rely on a cluster manager such as Kubernetes to restart crashed processes. See the KubeFlow project for a high-level example of using Kubernetes to manage a set of TensorFlow jobs:

https://github.com/kubeflow/kubeflow

[2018-08-31 21:32] #21604 closed

[2018-08-31 21:33] cy89 commented on #21701
@xtasqf there's no detail in the body of the bug. Would you please explain what the problem is in your own words, and give us reproduction instructions?

[2018-08-31 21:33] mpekalski commented on #21980
Applying #12648 got rid of the segmentation fault but left me with another issue.
[code]
The problem is that I do not define any graph anywhere, so it should use the default one (as far as I know). I wanted to get rid of a problem with float_ref returned by `tf.scatter_nd_update` by assigning it to a Variable that would be returned by a function, but somehow it causes the scoping issue.

The new c

[2018-08-31 21:33] acozzette commented on #21719
@gunan No, I don't know of any backward compatibility issues between 3.6.0 and 3.6.1. @anandolee Do you have any ideas what it could be?

[2018-08-31 21:34] eddie-zhou commented on #19903
Assuming you are writing your own `model_fn` (not using a canned `tf.Estimator`), can you try not using `tf.estimator.WarmStartSettings` during estimator init, and instead directly using `tf.train.warm_start` inside your `model_fn`?  That way you have direct access to the `variables` you've created inside the `model_fn`.  This is similar to directly using `tf.init_from_checkpoint`.

[2018-08-31 21:51] cy89 commented on #21730
@rmlarsen can you please respond or reassign to someone who knows this code?

[2018-08-31 21:55] skye commented on #21977
@yifeif do you have any idea what would cause this?

[2018-08-31 21:59] qinyao-he opened #21998 "TensorRT INT8 assertion failed when performing calibration"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command b

[2018-08-31 22:00] qinyao-he commented on #21998
@aaroey

[2018-08-31 22:00] cy89 commented on #20500
@aimhabo can you please inspect or post the file that generated the "#error This file was generated by an older version of protoc which is" message? I'd expect the protobuf version in that number to be <3.6.1, which means that either that file is lying around from a previous build, or you still have mixed protobuf versions somewhere on your system.

[2018-08-31 22:01] cy89 commented on #21150
@amaresh943 yay! Can you please describe the resolution (even if it was as simple as reinstalling)?

[2018-08-31 22:03] skye commented on #21955
Can you try upgrading to the most recent version of TF (1.10)?

[2018-08-31 22:04] skye commented on #21882
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-08-31 22:04] #21882 closed

[2018-08-31 22:05] cy89 commented on #21738
@kmadhugit I'm not quite following--are you saying that an unknown value for kernel_initializer is handled fine by keras, but not for tf.keras?

[2018-08-31 22:05] skye commented on #21904
@jpienaar are the right person to look at this, or can you redirect to someone who is? Thanks.

[2018-08-31 22:07] skye commented on #14048
@reedwm can you take a look or redirect? Thanks.

[2018-08-31 22:07] cy89 commented on #21797
@Damon-wyg would you list the relevant lines from your source, and supply the stack trace, please?

[2018-08-31 22:07] skye commented on #12659
Hi, is this still an issue?

[2018-08-31 22:08] cy89 commented on #21839
@achowdhery thanks for responding. Do you have what you need from @alokranjan007 ?

[2018-08-31 22:11] cy89 commented on #15211
@jfjallid sorry for the gap in responding. Is this still an issue for you?

[2018-08-31 22:12] cy89 commented on #21756
@andydavis1 would you PTAL, or reassign to someone who knows the custom gradients code?

[2018-08-31 22:14] cy89 commented on #21765
@mrry not sure if this falls in your responsibilities (as part of datasets); can you please comment or reassign?

[2018-08-31 22:34] cy89 commented on #21972
@aquariusjay @alexbw can you comment on whether working at nightly is the intended use-method for AG, or reassign to someone who can, please?

[2018-08-31 22:37] facaiy commented on #21491
cc @benoitsteiner  @ebrevdo @aselle

[2018-08-31 22:38] mpekalski commented on #21980
Now there are two things:

1) Printed scope is different, even though I am reusing it, but the variable is read with `tf.get_variable()` . If I change the second scope, I do not get ReadVariableOp as variable name. From the log:
[code]
2) Why it complains that `AttributeError: 'Tensor' object has no attribute 'assign'` in line
```with tf.control_dependencies([temp.assign(img)]):```
I am using `tem

[2018-08-31 22:40] cy89 commented on #21985
Glad you're up and running. #9527 has tips about the work in the body of the loop versus the control overheads.

[2018-08-31 22:40] #21985 closed

[2018-08-31 22:41] cy89 commented on #20819
@ElderOrb can you please try @gibiansky 's suggestion, to see if your issue is a duplicate of their's?

[2018-08-31 22:44] cy89 commented on #18058
@zheng-xq can you comment about whether the efficiency of GPU multinomial is on your radar? If not, should we mark this "contributions welcome"?

[2018-08-31 22:45] cy89 commented on #17541
@fchollet could you please comment on feasibility or expectations for when we might get this?

[2018-08-31 22:49] cy89 commented on #20308
@quaeler @Gemesys @lewisl can we interest you in this bug?

[2018-08-31 22:52] cy89 commented on #21255
@dhingratul OK, can you please show us the error when you add the .cu files to your BUILD script?

[2018-08-31 22:54] cy89 commented on #17832
@ispirmustafa can you please take a look, and comment or reassign appropriately?

[2018-08-31 22:55] cy89 commented on #21401
@zheng-xq can you offer hints, please?

[2018-08-31 22:55] #20828 closed

[2018-08-31 22:56] cy89 commented on #21303
@asimshankar can you offer any hints, or redirect, please?

[2018-08-31 22:56] omalleyt12 commented on #21738
Just pushed the fix for this yesterday, it should be available in the nightly build shortly. The 'uniform' initializer is known, the issue was that the default values for `minval` and `maxval` for this initializer were set too large for the model to converge. I sync'd up their defaults with those in external Keras

[2018-08-31 23:02] snuzxj opened #21999 "tensorflow master build fail (with VERBS)"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-08-31 23:03] ispirmustafa commented on #17832
label-ids kept internal. Current solution to get id version label is integerizing in your metric_fn.
having said that I think outputing label-ids as part of prediction dictionary make sense to me. I label this as contribution welcome.

[2018-08-31 23:06] martinwicke commented on #21685
This would be a problem for the XLA build on remote workers. @tatatodd could you take a look?

[2018-08-31 23:07] gunan commented on #17850
Looks like the features I need were pushed, but I missed the updates there.
I am trying to generate the new build configs and update README now.

[2018-08-31 23:18] jpienaar commented on #21904
Sure, I'll start looking at it and then redirect as needed.

@Keno  Do you see the the compile op in the trace?

[2018-08-31 23:40] asimshankar commented on #21756
The documentation could be improved here. Saying "`x` can be a list of Tensors" is confusing. What we really wanted to convey was that `f` can be a function with multiple arguments, not just a single `Tensor`.

CC @alextp

@DSRYhh - do you have suggestions for better phrasing?

[2018-08-31 23:43] alextp commented on #21756
I'm preparing a PR which removes "list" from the documentation, fixing the issue you saw there.

In your last example the correct way to do this is

    @tf.custom_gradient
    def loss_func(x):
        w = tf.get_variable("margin_inner_product_layer/W", shape=(1,), dtype=tf.float32,
                            initializer=tf.constant_initializer([10]), use_resource=True)

        def grad(dy, var

[2018-08-31 23:45] Keno commented on #21904
Yes, I do. I can probably get you the trace somehow if you tell me what files you need.

[2018-08-31 23:53] jpienaar commented on #21904
I don't know how the Julia TF integration works, are you currently generating the graphdef directly?

I think the XLA HLO computations, it would be great if you could dump those too (would provide extra validation).

[2018-09-01 00:00] Keno commented on #21904
Yes, right now we're generating the graphdef directly (in particular the one I attached to the original issue) and then XLA is generated server side. Now that https://github.com/tensorflow/tensorflow/tree/master/tensorflow/compiler/xrt is in tree, I'm hoping to move to that for running stuff on TPUs as soon as that becomes available in the TF version deployed on Cloud TPUs, but for now it's raw TF

[2018-09-01 00:02] Cesarcs7 commented on #21977
@tensorflowbutler Hi, im using the CPU version of it, i dont know if it has something to do because im really new to this. I test it in others computers and worked fine.
What do you mean by exact command to reproduce?
Im sorry for not having the knowledge to anser to your questions, im new to all this and im trying to learn...

[2018-09-01 00:02] skye commented on #11092
Hi, is this still an issue?

[2018-09-01 00:04] mrry commented on #21765
I think this falls under image processing (i.e. `tf.image`). Marking as contributions welcome.

[2018-09-01 00:06] av8ramit commented on #21236
Closing the issue. Unable to reproduce on 1.8.0.

[2018-09-01 00:06] #21236 closed

[2018-09-01 00:06] gunan commented on #21469
The changes are about to be pushed to github.
We will have these under the README in the repository root.

[2018-09-01 00:06] #21469 closed

[2018-09-01 00:10] zhisbug commented on #11092
yes it is.
On Fri, Aug 31, 2018 at 8:05 PM Skye Wanderman-Milne <
notifications@github.com> wrote:

--
sent from my phone

[2018-09-01 00:12] jpienaar commented on #21904
SG, what I would suggest is to generate the graph to look exactly like one would see when using tpu.rewrite. In particular adding the _tpu_replicate attribute to indicate which nodes are part of the same cluster. The easiest would be to rewrite in Python and use that as your template. The graphs look quite different (and the memory usage is much better too).

If you are generating the graphdef dir

[2018-09-01 00:14] asimshankar commented on #21303
@sunjeet95 : Could you add some color to what you're measuring, how you're measuring etc.? For example, you say "My processes list from system monitor shows that my memory utilized by the python code remains almost constant and increases very slowly as there is a increase in replay buffer size(Its list which stores samples). But in resources it shows that my memory is increasing steeply and is not

[2018-09-01 00:27] reedwm commented on #14048
Someone who still has the issue, can you paste the full output of the error and refill the issues template? TensorFlow now requires cuda 9.0 unless built from source, and I cannot reproduce this issue.

[2018-09-01 00:28] #21756 closed

[2018-09-01 00:30] jgong5 opened #22000 "Map twice on a shuffled dataset got different result"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: source (self built)
- **TensorFlow version (use

[2018-09-01 00:32] #19910 closed

[2018-09-01 00:35] shoyer commented on #21491
Thinking about this a little more, the biggest reason why this might not work as well for TensorFlow as it does for NumPy is our preference for small data types (e.g., float32/int32 over float64/int64). NumPy's dtype promotion rules end up promoting even int32 + float32 into float64. This is rarely what a TensorFlow user would want, but conversely it's dangerous to assume that every int32 would fi

[2018-09-01 00:35] reedwm commented on #21953
/CC @vrv, can you take a look?

[2018-09-01 00:38] vrv commented on #21953
The two authors / maintainers of this experimental feature no longer work on TensorFlow, as far as I know, and partial_run functionality is probably better solved by using Eager Execution.

I'd love to leave this open for community contributions to fix this, but my guess is that no one will ever get to this, and everyone is better off moving to Eager, which is supposed to be the default mode in TF

[2018-09-01 00:38] #21953 closed

[2018-09-01 01:39] tensorflowbutler commented on #21995
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
CUDA/cuDNN version
GPU model and memory

[2018-09-01 01:59] aimhabo commented on #20500
@cy89 yes I found that code, so I tried to delete all 'protoc' and reinstall https://github.com/protocolbuffers/protobuf . And then 'protoc --version' said its 3.6.1 now.
I manually download and compile the installation-dependencies, according to the links in download_dependencies.sh, which show up when running sh directly, and comment out the relevant lines in download_dependencies.sh to avoid ov

[2018-09-01 03:50] gunan commented on #17850
I am not sure if we have any armv8 builds set up.
@petewarden

[2018-09-01 04:10] jianxucsm opened #22001 "dataset from generator generate mess data with tf.device('cpu:0')"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-01 04:16] jianxucsm commented on #22001
Hi There;

I experienced serious bug out of tf.dataset.fromgenerator call.

if the callable function applies tf.device('cpu:0'):

the receiving side of the data record is very unstable. it differs from time to time and machine from machine.

a lot of times I got exactly same output for each batch from receiving side. If I take out the tf.device('cpu:0'), it seems to work fine. Seems to me the data

[2018-09-01 04:43] batradhruv commented on #21441
Im facing this as well. Seem to be affecting python3.7. Found this issue on protobufs repo
https://github.com/protocolbuffers/protobuf/issues/4086
This pr(https://github.com/protocolbuffers/protobuf/pull/4862) in protobuf is supposed to have fixed this issue.

[2018-09-01 04:48] hephaex commented on #20919
This is still an issue.

[2018-09-01 04:58] #21892 closed

[2018-09-01 06:09] xfxyjwf commented on #21719
This is https://github.com/protocolbuffers/protobuf/issues/5046 . @TeBoring what's the solution to this issue?

[2018-09-01 06:13] jianxucsm commented on #22001
Hi All;

in addition, I found the use of prefetch also cause the problem. comment out the prefetch the program performs normally.

[2018-09-01 06:15] TeBoring commented on #21719
upgrade python to >=3.6.1
On Fri, Aug 31, 2018 at 23:12 Feng Xiao <notifications@github.com> wrote:

[2018-09-01 06:41] wookayin opened #22002 "Feature Request: [tf.data] Access to the size of prefetch buffer"
**(TL;DR)** Add a new API that can tell the size of the prefetch buffer, similar to [FIFOQueue.size()](https://www.tensorflow.org/api_docs/python/tf/FIFOQueue#size).

### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ALL
- **Mobile device (e.g. iPhone 8, Pi

[2018-09-01 06:47] bignamehyp commented on #15433
In progress.

[2018-09-01 06:47] #15433 closed

[2018-09-01 06:50] iron9light commented on #19084
@ispirmustafa Tired. I tried to reproduce this issue with a simple project, but everything goes fine. My real project still has this issue with tensorflow 2.10.

Anyway, you can think it's a feature request:
Add an `init_state_trainable: bool` as the param of `nn.dynamic_rnn` or make it a feature of `nn.rnn_cell.RNNCell` class

[2018-09-01 07:29] qanon3301 opened #22004 "HELP! MedStar frames "Chinaman" to protect white supremacist and child pornographer Richard Hoover"
https://medstarrichardhoover.wordpress.com/

MedStar frames "Chinaman" to protect white supremacist and child pornographer Richard Hoover

[2018-09-01 07:40] Cibifang commented on #21870
It seems that it's already supported on Aug 30

commit: https://github.com/tensorflow/tensorflow/commit/0278712da34922ec9fd5e2a4484b3b3243f7784c#diff-ef90f22f58f3bf2d3d6d3baa471f24b6

[2018-09-01 08:46] kmadhugit commented on #21738
I thought TF doesn't understand the 'uniform' initializer but @omalleyt12 just mentioned that its a problem with minval and maxval.

[2018-09-01 09:17] arrowd commented on #20421
Most of these problems are gone in TF 1.10.1. The `-lexecinfo` stays, though.

If anyone interested, here is a WIP port for tensorflow core: https://reviews.freebsd.org/D15902

[2018-09-01 10:07] jowagner commented on #18550
The error is still printed. Easy fix would be to redirect stderr in the respective `run_shell` command in `configure.py`. For myself, I added `sys.stderr.write('*** The above error message can be safely ignored. ***\n')` in the `except` block.

[2018-09-01 10:15] #21831 closed

[2018-09-01 10:27] fferroni opened #22005 "Running inference with TensorRT optimized protobuf using C++ API"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command belo

[2018-09-01 10:39] #21044 closed

[2018-09-01 12:08] Goldesel23 commented on #19893
@LJXLJXLJX sorry for the late response. You'll probably will need to add these to the include paths:

[code]

[2018-09-01 12:29] rabiaqayyum commented on #20771
@gunan this process is really slow kindly provide an alternative solution for this

[2018-09-01 13:09] #20838 closed

[2018-09-01 13:09] shwetagargade216 commented on #8625
ValueError                                Traceback (most recent call last)
~\NNV2\train1.py in <module>()
    106     case = args.case
    107     logdir = '{}/{}/train1'.format(logdir_path, case)
--> 108     train(logdir=logdir)
    109     print("Done")

~\NNV2\train1.py in train(logdir, queue)
     31     with tf.control_dependencies(tf.get_collection(tf.GraphKeys.UPDATE_OPS)):
     32

[2018-09-01 13:10] shwetagargade216 commented on #8625
how to resolve this

[2018-09-01 13:11] jfjallid commented on #15211
@cy89 I do not now. I could not get around it so I stopped using tensorflow while awaiting response to this ticket and now I do not have it installed anymore.

[2018-09-01 13:39] weinman commented on #21615
Yes, the code still fails with a freshly compiled master, 1bc856ba29bd57378d5c1ca08afc255460597f7f.

[2018-09-01 13:42] facaiy commented on #21988
Hi, I create PR #22006 to fix the issue.

[2018-09-01 13:48] facaiy commented on #22002
@mrry How do you think?

[2018-09-01 16:40] yongtang commented on #19887
@kaedyn I checked the current master branch:
https://github.com/tensorflow/tensorflow/blob/4e36393006f8462a3ef516a6ca3010542213f352/tensorflow/python/ops/nn_ops.py#L1462

I think the issue has been fixed. I will close this issue but feel free to reopen if this is still a problem.

[2018-09-01 16:40] #19887 closed

[2018-09-01 16:58] litcoderr commented on #10779
`/Applications/Python\ 3.6/Install\ Certificates.command` did the magic on MacOSX High Sierra. Thx

[2018-09-01 18:09] aardappel commented on #21965
It is pulled in by https://github.com/tensorflow/tensorflow/blob/master/third_party/flatbuffers/workspace.bzl

[2018-09-01 18:42] tensorflowbutler commented on #22004
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-01 18:42] tensorflowbutler commented on #22005
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-09-01 18:42] tensorflowbutler commented on #7162
Nagging Assignees @petewarden, @suharshs, @raghuraman-k: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:42] tensorflowbutler commented on #9506
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-01 18:42] tensorflowbutler commented on #10215
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-01 18:42] tensorflowbutler commented on #11447
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:42] tensorflowbutler commented on #13308
Nagging Assignee @asimshankar: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:42] tensorflowbutler commented on #13718
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-01 18:42] tensorflowbutler commented on #15953
Nagging Assignee @tomerk: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:43] tensorflowbutler commented on #16926
Nagging Assignee @jsimsa: It has been 104 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:43] tensorflowbutler commented on #17150
Nagging Assignee @fchollet: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:43] tensorflowbutler commented on #17432
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-01 18:43] tensorflowbutler commented on #17586
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:43] tensorflowbutler commented on #17629
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:43] tensorflowbutler commented on #18037
Nagging Assignee @zheng-xq: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:43] tensorflowbutler commented on #18053
Nagging Assignee @tomerk: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:43] tensorflowbutler commented on #18769
Nagging Assignee @rohan100jain: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:43] tensorflowbutler commented on #18839
Nagging Assignee @zheng-xq: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:43] tensorflowbutler commented on #19194
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-01 18:43] tensorflowbutler commented on #19270
Nagging Assignee @ebrevdo: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:43] tensorflowbutler commented on #19543
Nagging Assignee @rxsang: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:43] tensorflowbutler commented on #19548
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-01 18:44] tensorflowbutler commented on #19667
Nagging Assignee @tatianashp: It has been 93 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:44] tensorflowbutler commented on #19691
Nagging Assignee @tatianashp: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:44] tensorflowbutler commented on #19696
Nagging Assignee @skye: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:44] tensorflowbutler commented on #19733
Nagging Assignee @ebrevdo: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:44] tensorflowbutler commented on #19895
Nagging Assignee @gunan: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:44] tensorflowbutler commented on #20094
Nagging Assignee @zheng-xq: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:44] tensorflowbutler commented on #20099
Nagging Assignee @chsigg: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:44] tensorflowbutler commented on #20320
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:44] tensorflowbutler commented on #20326
Nagging Assignee @tatatodd: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:44] tensorflowbutler commented on #20346
Nagging Assignee @rohan100jain: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:44] tensorflowbutler commented on #20353
Nagging Assignees @suharshs, @raghuraman-k: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:44] tensorflowbutler commented on #20465
Nagging Assignee @tatatodd: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:44] tensorflowbutler commented on #20505
Nagging Assignee @shivaniag: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:45] tensorflowbutler commented on #20519
Nagging Assignee @petewarden: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:45] tensorflowbutler commented on #20522
Nagging Assignee @tatatodd: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:45] tensorflowbutler commented on #20528
Nagging Assignee @shivaniag: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:45] tensorflowbutler commented on #20552
Nagging Assignees @fchollet, @pavithrasv: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:45] tensorflowbutler commented on #20628
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:45] tensorflowbutler commented on #20684
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:45] tensorflowbutler commented on #20687
Nagging Assignee @skye: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:45] tensorflowbutler commented on #20867
Nagging Assignees @suharshs, @raghuraman-k: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:45] tensorflowbutler commented on #21229
Nagging Assignees @nealwu, @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:45] tensorflowbutler commented on #21251
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:45] tensorflowbutler commented on #21272
Nagging Assignee @skye: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:45] tensorflowbutler commented on #21328
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:45] tensorflowbutler commented on #21330
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-01 18:46] tensorflowbutler commented on #21398
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-01 18:46] tensorflowbutler commented on #21488
Nagging Assignee @yifeif: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:46] tensorflowbutler commented on #21515
Nagging Assignee @michaelisard: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:46] tensorflowbutler commented on #21520
It has been 22 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-01 18:46] tensorflowbutler commented on #21600
Nagging Assignee @smit-hinsu: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:46] tensorflowbutler commented on #21647
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-01 18:46] tensorflowbutler commented on #21667
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-01 18:46] tensorflowbutler commented on #21679
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-01 18:54] dg1618 commented on #20690
hi guys i have the same problem, i just did install tensor to mac sierra 12.10.6 im using python3 and

voala !!
SyntaxError: invalid syntax

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/juaporra/Library/Python/3.7/lib/python/site-packages/tensorflow/__init__.py", line 22, in <module>
    from tensorflow.python import pywrap_tensorflow  # pylint: disable=u

[2018-09-01 19:07] adityabalu commented on #20338
I have a same issue. I am trying to use the tf.estimator for the training of the network. However, model.fit works perfectly fine...

Here is the code for what I am trying to do:
model_params = {
        "batch_size": args.batch_size,
        "num_conv_filters" : [8, 16, 32],
        "conv_filter_sizes" : [5, 5, 3],
        "code_layer_size" : 16,
        "num_deconv_filters" : [8, 8, 4, 1],

[2018-09-01 19:36] gragundier commented on #21198
I haven't been able to test on the tinkerboard but it works for rapsberry Pi's closing!

[2018-09-01 19:36] #21198 closed

[2018-09-01 20:26] alsrgv opened #22007 "Newly included absl headers are missing from the include path"
[Newly included](https://github.com/tensorflow/tensorflow/commit/3cb3a450ed845c4602080f43d7bb6cfade298a22) `absl` headers are present in the `tf-nightly` Python package but do not seem to be part of the include path, and now custom op plugin compilation fails.

This has been broken between `tf_nightly-1.11.0.dev20180830` and `tf_nightly-1.11.0.dev20180831`.

[code]

cc @yunxing

[2018-09-01 20:40] lgeiger commented on #21389
@anj-s Thanks for pushing a fix. A quick test revealed a sneaky issue, propably related to [incorrect flattening](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/distributed_training_utils.py#L238).

While it works when the input names are alphabetically sorted, it fails when they're not. Checkout the following code:
[code]

[2018-09-01 21:27] mpekalski commented on #21980
I will post a workaround or what was the issue when I find it, as for now I will close the ticket as I think the problem is with my code not TF itself.

[2018-09-01 21:27] #21980 closed

[2018-09-01 22:46] tatianashp commented on #22004
Closing since this is not a bug or feature request.

Please avoid inappropriate posts.

[2018-09-01 22:46] #22004 closed

[2018-09-01 22:48] tatianashp commented on #19667
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-01 23:12] XinyueZ opened #22008 "After install 1.10.1, it doesn't work now"
1. Use

pip3 install https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.10.1-py3-none-any.whl

to install

2. just run a hello-world:

[code]

[2018-09-01 23:28] mpekalski opened #22009 "tf.get_variable returns Tensor instead of Variable"
-----------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
source
- **T

[2018-09-01 23:55] tatianashp commented on #19691
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-02 00:16] wookayin commented on #22008
#20517

[2018-09-02 01:14] facaiy commented on #19691
@drpngx Could you comment or reassign?

[2018-09-02 03:47] andyhujinzhao opened #22011 "bug in string_input_producer"
https://github.com/tensorflow/tensorflow/blob/r1.10/tensorflow/python/training/input.py

line169:
element_shape = input_tensor.shape[1:].merge_with(element_shape)
 input_tensor.shape[1:] must be compatable with element_shape

line252:
element_shape = []

so, no matter what kind of shape you defined in input_tensor.shape[1:], it will raise an error!

import tensorflow as tf

test_list_1 = ['andy',

[2018-09-02 04:13] joelteply commented on #18356
I'm up for sadlerjw's fix because when most people use this library i386 is more about just making sure one of the simulators compiles, but it is unnecessary for testing or production, just that it passes automated testing and whatnot.

[2018-09-02 05:37] naoto0804 opened #22012 "[Bug] Discrepancy in tf.keras and keras in setting model.trainable = False and then compiling"
### System information
- Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: v1.10.1-0-g4dcfddc5d1 1.10.1
- Bazel version: N/A
- CUDA/cuDNN version: CUDA9.1, cuDNN7.0
- GPU model and memory: TITAN V
- Exact command to reproduce: python3 compare.py
- Mobile device: N/A

### Describe the problem
This is a toy ca

[2018-09-02 06:34] tensorflowbutler commented on #22007
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-02 06:34] tensorflowbutler commented on #22009
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory

[2018-09-02 07:03] mpekalski commented on #22009
I've updated the description with Bazel Version, CUDA/CuDNN version, and GPU model.

[2018-09-02 09:06] LonelyToh commented on #21520
This is still an issue by using Bazel.
but i can use this to install v0.12
`pip install https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-0.12.0-cp34-cp34m-linux_x86_64.whl`

[2018-09-02 12:32] tensorflowbutler commented on #22011
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-02 12:47] jimenisimo commented on #21921
Fields Updated

[2018-09-02 13:52] alokranjan007 commented on #21839
@cy89 I believe the source files have the necessary information. But, if any thin is missing then please let me know @achowdhery. I would be happy to learn more.

Thank you both for your help.

[2018-09-02 14:51] #19743 closed

[2018-09-02 14:54] anandpratapsingh25 commented on #9699
@kevinashaw i am getting the same error and also the code ::initial_state = lstm_cells.zero_state(batch_size_T, tf.float32) does not work any help??

[2018-09-02 15:06] #21934 closed

[2018-09-02 15:54] tatianashp commented on #19691
Reopening since there's still active interest.

[2018-09-02 16:04] tatianashp commented on #19691
@facaiy My apologies for letting this fall through the cracks.

@drpngx, @jart Can you help here?

[2018-09-02 16:42] shaffiyahHirakawa commented on #17411
Mr royyannick ..Infact i have been searching google for many times and it has affected my studying both Keras and Tensoflow but today you have made my day..You are great.
Thanks

[2018-09-02 17:17] bhack commented on #8535
Any news on this?

[2018-09-02 18:33] #20963 closed

[2018-09-02 18:34] tensorflowbutler commented on #13530
Nagging Assignee @rohan100jain: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:34] tensorflowbutler commented on #16468
Nagging Assignee @fchollet: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:34] tensorflowbutler commented on #17158
Nagging Assignee @aselle: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:34] tensorflowbutler commented on #17227
Nagging Assignee @petewarden: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:34] tensorflowbutler commented on #19078
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-02 18:34] tensorflowbutler commented on #19589
Nagging Assignee @jart: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:34] tensorflowbutler commented on #19616
Nagging Assignee @robieta: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:35] tensorflowbutler commented on #19644
Nagging Assignee @raghuraman-k: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:35] tensorflowbutler commented on #19679
Nagging Assignee @chsigg: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:35] tensorflowbutler commented on #19748
Nagging Assignee @robieta: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:35] tensorflowbutler commented on #20060
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:35] tensorflowbutler commented on #20529
Nagging Assignee @pavithrasv: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:35] tensorflowbutler commented on #20570
Nagging Assignee @tatianashp: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:35] tensorflowbutler commented on #20773
Nagging Assignees @poxvoculi, @zheng-xq: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:35] tensorflowbutler commented on #20922
Nagging Assignee @sguada: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:35] tensorflowbutler commented on #20963
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-09-02 18:35] tensorflowbutler commented on #21182
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-02 18:35] tensorflowbutler commented on #21257
Nagging Assignee @jart: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:35] tensorflowbutler commented on #21266
Nagging Assignee @gargn: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:35] tensorflowbutler commented on #21300
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-02 18:36] tensorflowbutler commented on #21352
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-02 18:36] tensorflowbutler commented on #21366
Nagging Assignee @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:36] tensorflowbutler commented on #21367
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-02 18:36] tensorflowbutler commented on #21461
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:36] tensorflowbutler commented on #21631
Nagging Assignee @jart: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:36] tensorflowbutler commented on #21673
Nagging Assignee @tatianashp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:36] tensorflowbutler commented on #21693
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:36] tensorflowbutler commented on #21695
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-02 18:36] tensorflowbutler commented on #21705
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-02 18:36] tensorflowbutler commented on #21706
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-02 18:53] nehaljwani commented on #21918
FWIW, I didn't see this segfault when I built tensorflow 1.9.0 with mkl on macOS.

[2018-09-02 19:30] omalleyt12 commented on #21738
@kmadhugit the fix should be available in the nightly build now, could you try ```pip install tf-nightly``` (or ```pip install tf-nightly-gpu``` for GPU support) and let me know if the model is now training in tf.keras for you?

[2018-09-02 19:40] YijinLiu commented on #21921
I also noticed that tflite produces worse results. I am not sure it's that huge (75 VS 45) though.
The commands I used to convert to tflite are:

tf_models/research/object_detection/export_tflite_ssd_graph.py \
    --pipeline_config_path=data/gen/coco/ssdlite_mobilenet_v2.config \
    --trained_checkpoint_prefix=data/gen/coco/ssdlite_mobilenet_v2/model.ckpt-66366 \
    --output_directory=data/gen/

[2018-09-02 19:42] mpekalski commented on #22009
I got it working with the piece of code I have commented out in the original issue. I do not know why it did not work for me before. Either way, the solution was to use the same scope again but with reference to it by variable not name, so use `current_scope` not `"scope_1"`.

I find it strange that although I use `tf.get_variable` a new variable is created with the same name as original but follo

[2018-09-02 19:42] #22009 closed

[2018-09-02 21:05] fferroni commented on #22005
I would like to add, I recompiled libtensorflow_cc.so with a modified BUILD file with added TensorRT dependency targets, as suggested [here](https://stackoverflow.com/questions/50125889/c-tensorflow-api-with-tensorrt/52111461#52111461). However, when I try to load this target, it complains about the following when running the application:
`
2018-09-02 20:31:55.750531: F tensorflow/core/common_runt

[2018-09-02 21:09] mpekalski opened #22013 "tf.scatter_nd_update - Segmentation fault (core dumped)"
-----------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
source
- **T

[2018-09-02 21:36] mpekalski opened #22014 "tf.assign - inputs not compatible with expected types - misleading error message"
-----------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
source
- **T

[2018-09-02 21:39] mpekalski commented on #22000
I guess you need to set seed for shuffle.

[2018-09-02 22:31] metral commented on #19584
I've gone ahead and compiled *GPU only* builds for Tensorflow `v1.10.1` against `CUDA 9.1 + cuDNN 7.1`, and `CUDA 9.2 + cuDNN 7.2` and made the wheels and build info available [here](https://github.com/metral/tensorflow-wheels).

Huge thanks to the all the contributors and the supporting open source community.

Special thanks to @hadim for making his [docker-tensorflow-builder](https://github.com/

[2018-09-02 23:01] yongtang commented on #22011
@andyhujinzhao The docstring:
https://github.com/tensorflow/tensorflow/blob/r1.10/tensorflow/python/training/input.py#L208

specifies that the input is `A 1-D string tensor`.

[2018-09-03 00:36] jgong5 commented on #22000
@mpekalski Thanks. I understood that setting a seed would work but I found the current result is anti-intuitive since the computation graph is expected to create two map operations based one a single shuffled dataset and the mapped sequence should be the same for both map operations. Is my understanding correct?

[2018-09-03 01:40] AFAgarap commented on #20690
Actually, there are four lines with `async`: 114, 115, 154, and 155.

[2018-09-03 01:40] #22001 closed

[2018-09-03 01:43] zhonghao0077 commented on #20679
sorry for the late reply. I have tried to upload the model. but it's too big. the size is 1.3 GB while the maximum upload size is 10 MB.

[2018-09-03 01:46] zhonghao0077 commented on #20679
So I think i can just tell you how to reproduce the model. you can install the tensor2tensor  package and follow the readme file to build an English to German model.

[2018-09-03 01:47] jingwb222 commented on #21679
Sorry for the delayed response. I somehow managed to get a walkaround solution with `kernel_constraint` arguments. This issue can be closed for now I guess.

[2018-09-03 01:58] gareth-cross commented on #21884
@tensorflowbutler The additional info:

Have I written custom code: Yes, see above
OS Platform and distribution: Ubuntu 16.04
TensorFlow version: v1.9.0.138
Bazel version: n/a
CUDA/cuDNN version: Version 9.0.252
GPU model and memory: GeForce GTX 1080 Ti 12GB
Exact command to reproduce: See code above
Mobile device: n/a

[2018-09-03 02:45] drpngx commented on #22005
@protoget could you perhaps redirect?

[2018-09-03 03:11] tjusxh commented on #3628
@barbolo  I used the API tf.layers . I printed the operation in my net. I didn't found RefSwitch, So I can't resolve the question through your suggestion. The error ValueError: graph_def is invalid at node 'conv1/kernel/Assign': Input tensor 'conv1/kernel:0' Cannot convert a tensor of type float32 to an input of type float32_ref. Please Do you any suggestion?

conv1/kernel/Initializer/random_unifo

[2018-09-03 03:30] S-aiueo32 opened #22016 "tf.image.resize_images cannot be applied to NCHW format directly?"
Referencing TensorFlow's Performance Guide, It seems NCHW data format is better than NHMC data format in many situations.
Some existing models has already been implemented in NCHW data format, especially using keras, but tf.image.resize_images cannot be applied to NCHW format directly, I think.
Are there any way excepting that we implement by ourselves?

[2018-09-03 03:32] kmadhugit commented on #21738
Hi @omalleyt12, Thank you. The model starts learning now, I think you have capped min and max values for 'uniform' initializer to (-0.05, 0.05) from (0,1). Can you give me the link to the PR, I like to have a look at the code changes.

[2018-09-03 03:32] ed-alertedh commented on #9506
Just out of curiosity @girving, what are the historical reasons for this situation? Is the problem that some kernels won't compile? Or do certain parts of the system assume int32 ops will always be placed on CPU? Or is it even weirder than that?

[2018-09-03 05:45] girving commented on #9506
@ed-alertedh I believe it was a hack where initially `bool` didn't work on GPU and `int32` was somehow reserved for control flow reasons, but I don't hold that belief with high confidence.

[2018-09-03 05:48] PigApple commented on #21745
Any news for this defect, I got similar issue for distributed training.

[2018-09-03 05:58] sepulm01 commented on #21725
Hi, I have the same issue "Array TFLite_Detection_PostProcess does not have MinMax information, and is not a constant array. Cannot proceed with quantization."
My tensorflow version is 1.10.1 with GPU. I've training my data with ssd_mobilenet_v1_0.75_depth_quantized_300x300_pets_sync.config in Google Machine Learning (TPU).
 The exported method that I use is object_detection/export_tflite_ssd_grap

[2018-09-03 06:05] facaiy commented on #21631
@yifeif Hi, yifei. Would you have any thoughts on this?

[2018-09-03 06:14] myflashlab opened #22018 "TensorflowLite compile error on Android"
I can't compile apk file when trying to use Firebase MLKIT using Tensorflowlite. I see this error when compiling:

The last line says: ```<br>...while parsing org/tensorflow/lite/DataType$1.class<br>1 error; aborting```

[code]

We're on a Mac, JDK version is 1.8.0_152 and compiling with IntelliJ IDE. Any thought?

[2018-09-03 06:35] tensorflowbutler commented on #22013
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
CUDA/cuDNN version
GPU model and memory

[2018-09-03 06:35] tensorflowbutler commented on #22014
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
CUDA/cuDNN version
GPU model and memory

[2018-09-03 06:39] aiscientist opened #22019 "[Bug] ImportError: cannot import name 'checkpoint_management' tf1.10"
In tf1.10, when I run freeze_graph, it comes error with msg above.

I cloned source file from github and tried it different way and still have same issues.

Thanks for your help

 File "freeze_graph.py", line 20, in <module>
    from tensorflow.python.training import checkpoint_management
ImportError: cannot import name 'checkpoint_management'

### System information
- **Have I written custom code

[2018-09-03 07:44] mpekalski commented on #22013
When executing line by line everything works fine until it starts the session.

[2018-09-03 07:45] NatLun091238 commented on #21991
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes, but my code tightly follows [examlple](https://github.com/GoogleCloudPlatform/training-data-analyst/blob/master/courses/machine_learning/deepdive/10_recommend/wals.ipynb)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.

[2018-09-03 07:49] meteorcloudy commented on #21880
@yanhaiming56 Can you provide information about which Bazel version you are using and the exact error message?
Although you shouldn't have to, but did you try run `bazel clean --expunge` before running the build command?

[2018-09-03 07:51] NatLun091238 commented on #21991
I used fully managed by Google n1-highmem-16 (16 vCPUs, 104 GB memory) instance for code development. Further packaged model was trained and later hyperparameter tuned with Google cloud ML engine.

[2018-09-03 08:02] yashkant commented on #21844
@tatatodd  Could you please review this issue? :)

[2018-09-03 08:05] BNAadministrator3 opened #22020 "What is the difference b.t. tf.layers.dense and tf.layers.Dense"
Hey guys,

Just as the title. I tried to search the Stack Overflow but I can't figure it out. I mean, how to choose the layer b.t. dense and Dense when I construct a neural network?

Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant probl

[2018-09-03 08:14] mpekalski commented on #22013
I tried it on one more environment. Where I have just installed TF from https://files.pythonhosted.org/packages/04/7e/a484776c73b1431f2b077e13801531e966113492552194fe721e6ef88d5d/tensorflow-1.10.1-cp36-cp36m-manylinux1_x86_64.whl

I had to modify a bit lambda initializer in get_variable and specify the shape, but otherwise I got the same segmentation fault. This env does not have GPU, so it was ru

[2018-09-03 08:42] dlml opened #22022 "tflite_convert"
huangwei@ubuntu:~$ tflite_convert --output_file=foo.tflite  --graph_def_file=opt_mnist_graph.pb --input_arrays=the_input_2 --output_arrays=out_2/truediv
2018-09-03 01:34:59.887931: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
Traceback (most recent call last):
  File "/home/huangwei/.local/lib/pyth

[2018-09-03 08:52] Goldesel23 commented on #19893
After adding the include headers I still get some linker errors:

`unresolved external symbol "char const * __cdecl tensorflow::core::GetVarint32PtrFallback`

and a lot of member `google::protobuf ........ may not be initialized`

Any ideia what the problem could be? Is that a problem with the version of the protobuf?

[2018-09-03 09:01] Nayana-ibm opened #22023 "Tensorflow build fails with vectorization"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 16.04, 18.04
- **TensorFlow installed from (source or binary)**:  source
- **TensorFlow version (use command below)**:  1.8.0
- **Python version**:  2.7.15rc1
- **Bazel version (if compiling from source)**:  0.12.0
- **GCC/Compiler version (if compiling from source)**: gcc-7.3.0, gcc-6.3.0
- **CUDA/cuDNN

[2018-09-03 09:02] dlml commented on #21376
I got a bug when using toco to transform model

ValueError: NodeDef expected inputs '' do not match 1 inputs specified; Op<name=Const; signature= -> output:dtype; attr=value:tensor; attr=dtype:type>; NodeDef: {{node batch_normalization_55/cond/batchnorm/add/y}} = Const[dtype=DT_FLOAT, value=Tensor<type: float shape: [] values: 1.1e-05>](batch_normalization_55/cond/Switch)

[2018-09-03 09:03] LJXLJXLJX commented on #19893
@Goldesel23 I guess you don't added the lib files to the project.
tensorflow\bazel-bin\tensorflow\libtensorflow.so.if.lib

[2018-09-03 09:04] mpekalski commented on #22013
I tried running the script in gdb but it says `no stack`. Any hints how to get it work?

[2018-09-03 09:07] Nayana-ibm commented on #22023
We also tried to build eigen separately , the build is successful on z14.  Trying to debug the issue with TensorFlow.
Any inputs on what could be causing the above issues?

[2018-09-03 09:13] LJXLJXLJX commented on #19893
I think the my configuration is correct， but there are still some errors in loggin.h
`TF_DEFINE_CHECK_OP_IMPL(Check_EQ,
                        ==);  // Compilation error with CHECK_EQ(NULL, x)?
TF_DEFINE_CHECK_OP_IMPL(Check_NE, !=)  // Use CHECK(x == NULL) instead.
TF_DEFINE_CHECK_OP_IMPL(Check_LE, <=)
TF_DEFINE_CHECK_OP_IMPL(Check_LT, <)
TF_DEFINE_CHECK_OP_IMPL(Check_GE, >=)
TF_DEFINE_CHECK_OP_I

[2018-09-03 09:18] #22020 closed

[2018-09-03 09:28] myflashlab commented on #22018
SOLVED. This was a problem with AdobeAIR SDK. Not related to tensorflow. cheers.
https://tracker.adobe.com/#/view/AIR-4198726

[2018-09-03 09:28] #22018 closed

[2018-09-03 09:42] mehditlili commented on #720
@cdluminate I am trying to convert it into a  Ubuntu 16.04 package. Did you encounter any dependency problem when building this package, was that a reason why it was only done for Ubuntu 18?

[2018-09-03 09:52] AzizCode92 commented on #21929
Here I added some results of the experiment I have done using the MNIST dataset.

    # Prepare data shape to match `rnn` function requirements
    # Current data input shape: (batch_size, timesteps, n_input)
    # Required shape: 'timesteps' tensors list of shape (batch_size, n_input)

    # Unstack to get a list of 'timesteps' tensors of shape (batch_size, n_input)
    x = tf.unstack(x,timesteps

[2018-09-03 10:07] shwetagargade216 commented on #1511
please help me to resolve this. i'm using python 3.6

ValueError                                Traceback (most recent call last)
~\NNV2\train1.py in <module>()
    106     case = args.case
    107     logdir = '{}/{}/train1'.format(logdir_path, case)
--> 108     train(logdir=logdir)
    109     print("Done")

~\NNV2\train1.py in train(logdir, queue)
     31     with tf.control_dependencies(tf.get

[2018-09-03 10:31] mpaillassa opened #22025 "[Bug] max_pool_with_argmax has different behaviour on CPU and GPU"
The function ``max_pool_with_argmax`` has different behaviour concerning the returned indices depending on the GPU or CPU backend.

- On GPU, returned indices do not take into account batch dimension.
It returns indices such that `[b, y, x, c] -> (y * width + x) * channels + c `
- On CPU, returned indices take into account batch dimension.
It returns indices such that `[b, y, x, c] -> ((b * height

[2018-09-03 10:51] cdluminate commented on #720
@mehditlili I'm moving to a new build system written from scratch with python plus ninja. And currently the debian directory is a bit messy. Please don't try to debug this messy WIP until I updated debian/rules for the new python+ninja build system.

As for dependency, yes indeed many system-shipped packages in Ubuntu 16.04 is too old to build tensorflow. If you encounter a build failure, try to e

[2018-09-03 11:12] zihuaweng commented on #15568
I got the same error when I failed to use tf.map_fn the right way, the following code may work~
[code]

[2018-09-03 11:35] Bakaizhamgyrchiev commented on #21896
@cy89
No, issue #17650 doesn't help. I'm now interested how does throttle secs of EvalSpec works in tf 1.10?

please, look at tensorflow logs when estimator start to train_and_evaluate in tf 1.9 and 1.10  (look my issue head). It was comfortable to control eval frequency with throttle_secs. Control with save_checkpoints_secs is very risky, when I want start eval process every epoch

[2018-09-03 12:09] wuclv opened #22027 "tfcompile: minimum_alignment_for_allocation and kAlign = 64"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04.1
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: -
- **TensorFlow installed from (source or binary)**: Yes
- **TensorFlow version (use c

[2018-09-03 12:20] ajgarn opened #22028 "Graph Transorform fold_constants does not work with NoOp as output node"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
OS X 10.13.6
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
N/A
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use comm

[2018-09-03 12:28] jiarenyf opened #22029 "tf-1.10.1 freeze_graph 'list index out of range'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use comman

[2018-09-03 12:41] tensorflowbutler commented on #22016
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-03 12:48] Goldesel23 commented on #19893
Actually I did! But I got those linking errors.

[2018-09-03 13:15] lyzMaster commented on #22019
same problem

[2018-09-03 13:22] superbobry opened #22030 "Inconsistent behaviour of CSVDataset with eager disabled/enabled"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command bel

[2018-09-03 14:51] jinfagang commented on #6698
[code]

GTX1070
CUDA9.0
CUDNN7.1 for CUDA9.0
TensorFlow 1.10.1
Runing a simple tensorflow like hello world without problem.
Nowhere to know why this happen.................

[2018-09-03 16:07] yaroslavvb commented on #13603
GPU version is so slow right now I don't think it makes sense for anyone. Here are some numbers from a recent benchmark -- https://github.com/yaroslavvb/stuff/tree/master/linalg-benchmark

[2018-09-03 16:08] neuencer commented on #21455
I found a quick hack in the feature_column.py. But to be honest, the solution is pretty dumb, but it works and I couldn't come up with something better. I just deleted the part that caused the error. So I changed the `_get_sparse_tensors` of `_SequenceCategoricalColumn` to just `return _CategoricalColumn.IdWeightPair(inputs.get(self), None)`.

So yes, this shouldn't be the solution, but I couldn't

[2018-09-03 16:29] PGadoury commented on #13603
Your benchmark assumes a single large SVD operation as a use case. TF might well be more efficient to calculate a multitude of smaller SVD's in parallel...

[2018-09-03 16:35] cdluminate opened #22032 "[1.10.1] sparse_tensor_dense_matmul_op.cc doesn't compile"
command
[code]
where debian/embedded/eigen is the eigen source code directory whose version is the same as specified in bazel workspace.

error output
[code]

------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: debian experimental
- **

[2018-09-03 16:38] ChrisSwinchatt opened #22033 "Accuracy oscillates between ~0% and ~70% when creating multiple models"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: PyPi (pip)
- **TensorFlow version (use com

[2018-09-03 16:49] cdluminate commented on #22032
`-DEIGEN_AVOID_STL_ARRAY` solved this issue.

[2018-09-03 17:06] HsinM commented on #21518
If you set PIP_REQUIRE_VIRTUALENV environment variable, disable/remark it. All will be well!!
This environment variable is usually placed in  `~/.bashrc` file.
#export PIP_REQUIRE_VIRTUALENV=true

[2018-09-03 17:17] anaskoara opened #22034 "ubuntu image with tensorflow preinstalled"
Hi every one
I tried install tensorflow-gpu on my pc I failed i tried all possible ways I failed to build it from source I failed to run it from docker image
can on you share ubuntu image with tensorflow-gpu installed on it i iam despaired really need to run tensorlow-gpu
and I will be very thankful

[2018-09-03 17:30] tweeter0830 commented on #6720
It seems like a warning log message would be helpful here to avoid people falling into the same trap as Oleksandr.

[2018-09-03 18:13] arpitkh96 commented on #18731
Anyone got a workaround for this? I am having this problem with mobilenet v2 keras

[2018-09-03 18:36] tensorflowbutler commented on #22022
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-03 18:36] tensorflowbutler commented on #22025
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-03 18:37] tensorflowbutler commented on #9171
Nagging Assignee @asimshankar: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:37] tensorflowbutler commented on #9545
Nagging Assignee @chihuahua: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:37] tensorflowbutler commented on #15651
Nagging Assignees @petewarden, @suharshs, @rockyrhodes: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:37] tensorflowbutler commented on #16593
Nagging Assignee @joel-shor: It has been 104 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:37] tensorflowbutler commented on #17359
Nagging Assignee @tatianashp: It has been 90 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:37] tensorflowbutler commented on #18352
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-03 18:37] tensorflowbutler commented on #18705
Nagging Assignee @ebrevdo: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:37] tensorflowbutler commented on #18711
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-09-03 18:37] tensorflowbutler commented on #18877
Nagging Assignee @petewarden: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:37] tensorflowbutler commented on #18930
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-03 18:38] tensorflowbutler commented on #19140
Nagging Assignee @tatatodd: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:38] tensorflowbutler commented on #19193
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:38] tensorflowbutler commented on #19214
Nagging Assignee @mdanatg: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:38] tensorflowbutler commented on #19233
Nagging Assignee @skye: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:38] tensorflowbutler commented on #19268
Nagging Assignee @tatatodd: It has been 111 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:38] tensorflowbutler commented on #19374
Nagging Assignee @skye: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:38] tensorflowbutler commented on #19444
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-03 18:38] tensorflowbutler commented on #19623
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-03 18:38] tensorflowbutler commented on #19746
Nagging Assignee @karmel: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:38] tensorflowbutler commented on #19771
Nagging Assignee @tatatodd: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:38] tensorflowbutler commented on #19943
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-03 18:38] tensorflowbutler commented on #19944
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:38] tensorflowbutler commented on #19969
Nagging Assignee @cy89: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:39] tensorflowbutler commented on #20124
Nagging Assignee @jart: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:39] tensorflowbutler commented on #20141
Nagging Assignees @suharshs, @raghuraman-k: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:39] tensorflowbutler commented on #20208
Nagging Assignee @cy89: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:39] tensorflowbutler commented on #20379
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:39] tensorflowbutler commented on #20411
Nagging Assignee @zheng-xq: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:39] tensorflowbutler commented on #20517
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:39] tensorflowbutler commented on #20564
Nagging Assignee @tatatodd: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:39] tensorflowbutler commented on #20575
Nagging Assignee @tatatodd: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:39] tensorflowbutler commented on #20781
Nagging Assignee @tatatodd: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:39] tensorflowbutler commented on #20874
Nagging Assignee @yuefengz: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:39] tensorflowbutler commented on #20913
Nagging Assignee @MarkDaoust: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:39] tensorflowbutler commented on #21362
Nagging Assignee @tatatodd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:40] tensorflowbutler commented on #21368
Nagging Assignee @gargn: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:40] tensorflowbutler commented on #21526
Nagging Assignees @aselle, @suharshs, @tofulawrence: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:40] tensorflowbutler commented on #21597
Nagging Assignee @karmel: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:40] tensorflowbutler commented on #21612
Nagging Assignee @MarkDaoust: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:40] tensorflowbutler commented on #21668
Nagging Assignee @karmel: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:40] tensorflowbutler commented on #21704
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-03 18:40] tensorflowbutler commented on #21718
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-03 19:30] fzhu129 commented on #15805
@jyoungyun:
Could you share your Freeze the model please?

I don't know why the error like this:

INFO: Running command line: bazel-bin/tensorflow/contrib/lite/toco/toco '--input_file=/data3/frankzhu/tmp/mnistmodel/frozen_model.pb' '--input_format=TENSORFLOW_GRAPHDEF' '--output_format=TFLITE' '--output_file=/data3/frankzhu/tmp/mnistmodel/rnn_frozen.tflite' '--input_arrays=Placeholder' '--input_sha

[2018-09-03 20:16] Anjum48 commented on #19570
Was this ever resolved? I'm also running into performance issues using tf.cumsum on GPU

[2018-09-03 20:39] eaplatanios commented on #21524
@av8ramit Thanks a lot for the update and sorry for the slow response but I was traveling all this time. Do you have an approximate ETA by any chance?

[2018-09-03 21:11] chrisrapson commented on #18523
I'm having the same problem. When I tried to use the SavedModels option, I got the following error: `IOError: SavedModel file does not exist at: /path/I/supplied/as/argument`

Maybe I am misunderstanding what this argument should be. I thought it would be the path to the folder which has the ascii graph and trios of ckpt files (index, meta, data) in it? The same one that I provide as the `--logdir

[2018-09-03 22:03] alexbw commented on #21972
Hey @phizaz great to hear that AutoGraph is useful to you. If you are able, we'd love if you could share the code that you used it in!
We're still actively working on AutoGraph, so to get the most out of it (before TF 2.0 is released), staying on nightly gets you the most bug-fixes and functionality.
However, if that's not possible, try using the 1.10 release or later.

[2018-09-03 22:16] georgesterpu commented on #21920
Hello @weiwancheng,

From your post it is unclear whether you are using a well tested framework or your own. Could you please give us more details ?

I have to assume that you are looking at the outputs (`predicted_ids`) of the `seq2seq.dynamic_decode` method, instantiated with the beam search decoder you mentioned, and that you translated the numerical ids back into symbols from your vocabulary.

[2018-09-03 22:54] chenghuige opened #22036 "eager mode using tf.train.Checkpoint not support setting max models to keep"
tensorflow 1.10.1
It looks tf.train.Checkpoint not support setting max models to keep.
In tensorflow/python/training/checkpointable/util.py
line 1123   def save(self, file_prefix, checkpoint_number=None, session=None):
line 1178 self._last_save_saver = saver_lib.Saver(var_list=named_variables)
looks like we need saver_lib.Saver(var_list=named_variables, max_to_keep=...)

[2018-09-03 23:02] starkdg opened #22037 "compile issue for bazel build tensorflow/python/tools:optimize_for_inference"
optimize_for_inference.py

### System information:

## OS platform and distribution
Linux debian 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64 GNU/Linux

## Tensorflow version
Tensorflow version r1.9 (compiled from source for CPU)

## CUDA/cuDNN
n/a

## gpu model and memory
n/a

## Python version
Python version 3.5

## Bazel version
Bazel version 0.16.0

## Gcc version
gcc versio

[2018-09-03 23:06] lc0 opened #22038 "Keras Save / Load with Eager"
https://github.com/tensorflow/tensorflow/blob/ec357afc00c8fb0e9c99754afd78d47fc0ab2116/tensorflow/python/keras/engine/network.py#L1357-L1361

Since TensorFlow uses more and more of Eager execution.
Would it make sense to add a bit more verbose mention on how to save a non-graph model?

Just mentioning more explicitly the reason and linking `tfe.Checkpoint` docs would be already of great help.

Any

[2018-09-03 23:13] fzhu129 commented on #15805
My code is attached and who can have a look what is the problem over there
[freeze.zip](https://github.com/tensorflow/tensorflow/files/2346669/freeze.zip)

[2018-09-03 23:13] datjandra commented on #10994
Working tensorflow-gpu on Windows 10 with native pip only.

GPU
GeForce GTX 1070

python --version (latest python version may work, not sure)
Python 3.5.2

Visual Studio Community 2017
https://visualstudio.microsoft.com/downloads/

CUDA Toolkit 9.0 (latest CUDA version may work, not sure)
https://developer.nvidia.com/cuda-90-download-archive

cuDNN v7.2.1 Library for Windows 10 (latest cuDNN match

[2018-09-04 00:51] tensorflowbutler commented on #22029
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
GPU model and memory
Exact command to reproduce

[2018-09-04 00:51] tensorflowbutler commented on #22034
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-04 00:54] dlml commented on #22022
my model is generated by tf 1.4.0，i use tf 1.10.0 to convert my model to the tflite, i can use "freeze_graph.py" to convert my model, also, can use "optimize_for_inference.py" to convert my frozen_graph to pb, but the last step to generate tflite has this bug

[2018-09-04 00:58] dlml commented on #22022
i use keras tosave my model use the format of h5, the backend is  tf tensorflow-gpu (1.4.0), the model architecture is densnet+ctc

[2018-09-04 01:32] czcbangkai commented on #5302
How to build with `tcmalloc` in `bazel`?

[2018-09-04 02:03] ppwwyyxx commented on #20199
The feature does not make sense for the moment because the op is currently only available on CPU and float16 is not useful on CPU.

[2018-09-04 02:07] jiarenyf commented on #22029
@tensorflowbutler Updated.

[2018-09-04 02:11] zerocurve commented on #22038
agree, actually, why we limit to graph network at the beginning?

[2018-09-04 02:12] fantesykikachu commented on #22
@FelixSchwarz  Just so you are aware ROCm uses OpenCL, it is AMD's userspace OpenCL driver on Linux (that is why is why it doesn't support windows), so if you are not aware of how AMD's driver ecosystem on linux works, they have their kernel side drivers AMDGPU and AMDKFD(which is now getting merged into AMDGPU) then there is the userspace drivers RadeonSI(for OpenGL) RadV/AMDVLK(for Vulkan) and R

[2018-09-04 02:36] #21612 closed

[2018-09-04 02:37] yexiao2016z commented on #11549
hi,have you solved the problem?

[2018-09-04 03:29] everwind commented on #10375
+1

[2018-09-04 03:49] gulingfengze opened #22039 "Session.run () takes a long time"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:N/A
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command be

[2018-09-04 03:52] WuTheFWasThat opened #22040 "AttributeError: 'TPUInfeedOutfeedSessionHook' object has no attribute '_name'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-04 04:32] gergoh opened #22041 "Can't Import Keras from Tensorflow library"
I've been trying to import keras from tensorflow using the following statement (using Python in PyCharm):
[code]

It should work as far as I know but I still get the following message for some reason:
[code]

**EDIT:** As I'm using PyCharm with Tensorflow version 0.12.0 and Python 3.7, I'm suspecting version issues. I tried updating to Tensorflow 1.10.1 through PyCharm (venv) but got the following

[2018-09-04 04:47] studynon commented on #8957
@joe-antognini Thank you

[2018-09-04 04:50] jcarreira commented on #19375
Have the same issue when importing tensorflow (only fails with tensorflow-gpu):

[code]

Some info about my setup:
1. CUDA toolkit 9.0
2. set the PATH and LD_LIBRARY_PATH environment variables as suggested
3. Installed nvidia drivers using ```ubuntu-drivers autoinstall```
4. Installed ```opencv-python``` and ```np_utils``` as suggested

[2018-09-04 04:56] chenghuige opened #22042 "Could not use adagrad or adadelta optimizer in eager mode(gpu)"
https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/contrib/eager/python/examples/generative_examples/text_generation.ipynb
Change to use tf.train.AdagradOptimizer then will get below error
NotFoundError: No registered 'ResourceSparseApplyAdagrad' OpKernel for GPU devices compatible with node ResourceSparseApplyAdagrad = ResourceSparseApplyAdagrad[T=DT_FLOAT, Tind

[2018-09-04 05:14] jagadishk89 commented on #21927
@kopecdav - I faced the same issue. upgrading the tensorflow version to 1.7.0 helped me. Thanks.

[2018-09-04 05:50] feihugis commented on #20199
@ppwwyyxx Thanks for your comments. I agree that float16 will not make a difference for computing performance. The issue reported here is caused by that the current API does not support the float16 data type yet, but some use cases may need to handle float16 data. Considering this, do you think it will be useful for users? What do you think of this? @angersson @raghavgurbaxani

[2018-09-04 06:02] phizaz commented on #21972
@alexbw r1.10 doesn't seem to support list appending and `tf.stack`. However, I found it work on r1.11 (compiled from source).

I think I could share the code here, I simplify the code a bit:

[code]

[2018-09-04 06:33] Tockra opened #22043 "GPU: tf.Session() needs 1-3 minutes at first start"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux powerai 4.4.0-109-generic #132-Ubuntu SMP Tue Jan 9 20:00:40 UTC 2018 ppc64le ppc64le ppc64le GNU/Linux

- **TensorFlow installed from (source or binary)**:
source (R1.10)
- **TensorFlow version (use comman

[2018-09-04 06:35] tensorflowbutler commented on #22036
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-04 06:35] tensorflowbutler commented on #22037
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-04 06:42] gulingfengze commented on #22039
Each time tensorflow performs session.run() for target detection, the detection time of the first image is very long (including some initialization operations, of course), while the detection time of other images is normal. Suppose I detect the image under a certain path (for example, there are ten images), the time of detecting the first image is relatively long, and the remaining nine images are

[2018-09-04 06:52] weiwancheng commented on #21920
Thank you for your reply.
Yes,I have done something as your said. About beam search API, the main part in my code as follow :
`inference_decoder=
BeamSearchDecoder( cell=self.decoder_cell, embedding=embed_and_input_proj, start_tokens=start_tokens, end_token=end_token, initial_state=self.decoder_initial_state, beam_width=self.beam_width, output_layer=self.decoder_output_projection, )`
....
`(self.d

[2018-09-04 06:52] yongtang commented on #21164
Added a PR #22044 for the fix.

[2018-09-04 07:07] aiscientist commented on #22029
same issues #22019

If I use tensorflow 1.10 version freeze graph.py, it comes with
**ImportError: cannot import name 'checkpoint_management' tf1.10**

If I use working version such as tensorflow 1.8, message comes below

Traceback (most recent call last):
  File "freeze_graph.py", line 382, in <module>
    run_main()
  File "freeze_graph.py", line 379, in run_main
    app.run(main=my_main, argv=[

[2018-09-04 07:12] davideboschetto commented on #18213
@reedwm This is huge, it's good to know a fix is actively under development! It's a mess, one supposes that "same" means the same thing across all frameworks!

[2018-09-04 07:23] spacelg opened #22047 "Tensorflow failed to build on x64 when build with MSVC"
System information:
*Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
NA
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows server 2016
*TensorFlow installed from (source or binary):
Source
*TensorFlow version (use command below):
https://github.com/tensorflow/tensorflow/commit/24787842adfefe35f5a520313d775b14c29f143a#diff-47cae0ca

[2018-09-04 07:36] sjperkins commented on #22043
Its likely jit compiling the binary PTX up to your device's compute capacity. See for e.g. https://devtalk.nvidia.com/default/topic/810047/ptx-compute-2-0-not-forward-compatible-with-gtx-970-/

[2018-09-04 07:42] mpaillassa commented on #22025
Have I written custom code: yes
OS Platform: Ubuntu 16.04 LTS for CPU install and centOS 7 for GPU install

But I don't think these informations are necessary ?
The problem is really that the behaviour of the function is different for tensorflow 1.9 CPU and tensorflow 1.9 GPU.

[2018-09-04 07:59] Tockra commented on #22043
I don't know how this link should solve the issue ?

[2018-09-04 08:04] ilya-edrenkin commented on #19840
@b0noI : could you please elaborate on that? What is the new different way that bazel now requires?
(instructions in https://www.tensorflow.org/install/install_sources seem to be unchanged.)

We also hit exactly this error with `--monolithic` builds; we are forced to do this because of problematic libprotobuf behavior when loaded by different shared libraries (like described in https://github.com/

[2018-09-04 08:08] sjperkins commented on #22043
Tensorflow binaries are compiled against specific compute capabilities (3.5 and 5.2 IIRC). If you your device is a different compute capability, the PTX is jit-compiled to your device's compute capability. Since there is a great deal of CUDA code, this initially takes some time, but I believe its a once off thing.

[2018-09-04 08:18] Hoeze commented on #446
fyi, there is a BFGS-Implementation in tensorflow/probability:
https://github.com/tensorflow/probability/blob/master/tensorflow_probability/python/optimizer/bfgs.py

[2018-09-04 08:29] Tockra commented on #22043
It's 6.0

[2018-09-04 08:29] #22043 closed

[2018-09-04 08:33] mpekalski commented on #22013
I've managed to get gdb working, looks like the issue is with inferring shape in `scatter_nd_update`
[code]

Full log
[code]

[2018-09-04 08:34] pcub commented on #21643
figured out.

[2018-09-04 08:34] #21643 closed

[2018-09-04 08:36] octavian-ganea opened #22048 "Bug: Clip by norm NaN gradients"
Tensorflow 1.10.1:

`

2018-09-04 10:33:04.014650: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA

[array([nan, nan, nan], dtype=float32)]
`
The gradient should obviously be [1,1,1] for all vectors a of norm smaller than 1, since this function should be the identity for those vectors.

[2018-09-04 08:39] zhonghao0077 commented on #20679
I have tried with the latest version of tensorflow and tensor2tensor, It is still not working. Could you reopen this issue please?

[2018-09-04 08:40] #22032 closed

[2018-09-04 08:44] sarbiv commented on #15983
Hey,
Is there any intention to implement ReduceLROnPlateau that is integrated with tf.estimators? or your recommendation is to use tf.keras in order to achieve that behavior?
Thanks

[2018-09-04 08:49] mkd101 commented on #20387
I too am having this issue. I wish to embed tensorflow within a c++ application that has other modules that wish to use the GPU so it is essential that I am able to free the GPU memory when Tensorflow has finished with it. Is there any progress on this??

[2018-09-04 09:06] lc0 commented on #22038
cc @fchollet and @alextp

[2018-09-04 09:08] freedomtan commented on #21574
when I was working on updating https://github.com/tensorflow/tensorflow/pull/16175, it came to me that, for the original problem, mostly `//tensorflow/contrib/lite/kernels/internal:neon_tensor_utils` was not linked in.

[2018-09-04 09:10] mpekalski commented on #22013
I've got the code running by explicitly specifying shape in `tf.get_variable()`, and then making sure that the corresponding tensors in assign ops had the same shape (so not assigning 1.0 but [1.0]). Still, I could not make it work with dynamic shapes, and segmentation fault should not take place but throw some error message.

Here is the working code
[code]

and the output

[code]

[2018-09-04 09:14] mpekalski commented on #22013
@rohan100jain I have identified the reason for the segmentation fault. Please have a look at my comments above.

[2018-09-04 09:18] zbitouzakaria commented on #21923
The best might be to simply specify it in the documentation. Something along theses lines for the [atrous_conv2d doc](https://www.tensorflow.org/api_docs/python/tf/nn/atrous_conv2d):

- Before

- After

Or you could put up a warning in the atrous_conv2d function if you notice that the input tensor is one dimensional along the width or height axis.

[2018-09-04 09:19] 7oud commented on #17048
@asimshankar
Thx for your answer, if I create and close session in the thread not the process, will tensorflow release gpu memory? My situation is that I use tf in c++, when calling tf is finished, gpu memory is not released, if I call tf in thread, will it release gpu memory when thread terminates? or some other solutions can I take

[2018-09-04 09:38] nitinsethi22 commented on #8625
Did you get how to resolve this issue? @shwetagargade216
I too am facing the same issue.

[2018-09-04 09:49] dimidd commented on #20690
This worked for me. YMMV (modify the path).
`sudo sed -i 's/async/async_py3/g' /usr/local/lib/python3.7/site-packages/tensorflow/python/pywrap_tensorflow_internal.py`

[2018-09-04 09:55] terminsen commented on #12414
Hi - I have a related problem. I am able to run several epochs, but then it suddenly stops  ...

Start training process ...
Iter: 0, Loss: 4.2690
Iter: 1, Loss: 0.6611
Iter: 2, Loss: 0.3918
Iter: 3, Loss: 0.2462
Iter: 4, Loss: 0.1588
Iter: 5, Loss: 0.1042
Iter: 6, Loss: 0.0817
Iter: 7, Loss: 0.0698
Iter: 8, Loss: 0.0631
Iter: 9, Loss: 0.0607
Iter: 10, Loss: 0.0573
Iter: 11, Loss: 0.0561

The proce

[2018-09-04 10:28] mvoitko opened #22049 "After building TensorFlow from source, seeing ImportError: __longjmp_chk: symbol not found error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Alpine
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**:  From binary https://storage.googleapis.c

[2018-09-04 10:31] DanielMorales9 commented on #21955
@skye I tried with tensorflow 1.10 and it works

[2018-09-04 10:31] DanielMorales9 commented on #21971
@drpngx You can close the issue, as it works with TF 1.10

[2018-09-04 11:00] shelake-chetan opened #22050 "Can't find out how put smartreply_jni.c file in android"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-04 11:21] suneelkumargavara opened #22051 "Integrating this framework into swift causing syntax errors"
I am using this framework in a swift project and used a bridging header to implement some functionalities. I was included this framework with CocoaPods into my swift project. But while trying to build the project, there are so many syntax errors like #include not found, #include not found etc. I have been banging my head around this issue from past two days but no luck. The Xcode compiler is able

[2018-09-04 11:51] EelcoHoogendoorn commented on #956
Another upvote for 'wrap' padding from someone coming from a physics-simulation point of view.

The code snippet based on concatenation is pretty suboptimal for an application of this kind; which tends to work with simple filters, and everything is 100% memory bottlenecked. Any naive implementation that does not take into account the pecularities of gpu memory access is going to be far from optima

[2018-09-04 12:01] shuiruge opened #22052 "Variables in bijectors cannot be reused."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Centos 6
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command

[2018-09-04 12:17] moncio commented on #7378
I have the same error. I have built the binaries for both libraries in C++. None of the proposed solutions in this thread have worked to me. I installed latest versions of each library.

[2018-09-04 12:46] sunitanyk commented on #22019
Same problem. I get the following error in both tensor flow 1.10.1 and 1.8.0

  File "freeze_graph.py", line 58, in <module>
    from tensorflow.python.training import checkpoint_management
ImportError: cannot import name 'checkpoint_management'

[2018-09-04 12:51] tensorflowbutler commented on #22040
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-04 12:51] tensorflowbutler commented on #22041
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-04 12:51] tensorflowbutler commented on #22042
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-04 13:33] ebrevdo commented on #18705
Closing, please reopen if you see a reason t

[2018-09-04 13:33] #18705 closed

[2018-09-04 13:39] alexbw commented on #21972
@mdanatg

[2018-09-04 13:42] simtony commented on #14746
Directly drops the whole embedding matrix is inefficient for large vocabulary, since it requires `vocab_size*batch_size` random variable evaluation.
`tf.nn.dropout` is implemented using a binary mask. The implementation below cuts number of random variable evaluation to `num_uniq_words_in_batch * batch_size`
[code]

And here is the results:
[code]

[2018-09-04 13:52] zacharymostowsky opened #22053 "Build Tensorflow on RHEL 7 with GPU CUDA support"
Was searching high and wide for a guide that included all the steps to install TF on Rhel. Posting the solution that worked for me.

[2018-09-04 13:57] zacharymostowsky commented on #22053
First Install actions for CUDA 9.2, cuDNN 7.2
Mostly followed from: http://kehang.github.io/tools/2017/03/31/install-CUDA-cuDNN-on-Red-Hat/

Need wget to download drivers and git, etc.
`sudo yum -y install wget git nano python-devel patch numpy python-pip`

Pre-install actions
[code]

Python packages
`sudo pip install enum34 keras`

# CUDA 9.2

Get the drivers and install
`wget https://developer.n

[2018-09-04 13:57] #22053 closed

[2018-09-04 14:02] zacharymostowsky commented on #19583
In case anyone is interested in a similar guide for RHEL: https://github.com/tensorflow/tensorflow/issues/22053

[2018-09-04 14:39] maharjun opened #22054 "map_fn gives colocation errors with integer typed input tensors"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
CentOS Linux release 7.4.1708
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**:
binary (pip3 install tenso

[2018-09-04 14:41] trias702 commented on #22042
Came to post the same thing, only for me it's using the RMS Optimizer with an RNN and Eager. I note that using the same RMS Optimizer with a vanilla ANN works fine. Here is my error for RMS + RNN:

[code]

I also note that this example was done using tf.keras and Eager. If I use regular Keras and static graphs, I am able to use RMSProp with any RNN I build.

Have I written custom code: No
OS Platf

[2018-09-04 14:53] hequn commented on #21921
@YijinLiu I am encountered with it, too.  I selected ssdlite_mobilenet_v2.config  to train and eval the model, then converted the ckpt to pb and pb to tflite step by step according to the doc, but at last it gave the worse results compared to the pb that was generated by export_inference_graph.py
python 3.6.6
tensorflow 1.10.0
bazel 0.15.2

[2018-09-04 15:02] hswlow commented on #20517
When is this issue fixed??

[2018-09-04 15:04] sravanshty opened #22055 "TensorFlow Speech Recognition for Android"
Hello,

I am new to this exicted feature TensorFlow. I could import the Sample project and able to run it successfully. Now i just need help to how to build the Speech Recognition from TensorFlow what are the files required to add. Can someone give the steps, which would help me in my sample application

Thanks
Sravan Kumar Shetty

[2018-09-04 15:16] successar commented on #22041
Tensorflow still doesn't support python 3.7 . See #20517

[2018-09-04 15:16] jinfagang opened #22056 "Could not create cudnn handle: CUDNN_STATUS_NOT_INITIALIZED"
TensorFlow: 1.10.1
cuda: 9.0
cudnn: cudnn7.1 for cuda9.0
python3
Ubuntu 18.04
nvidia-driver: 390

Try running cnns error got:

[code]
I think the cuda version are already the newest version, and my cudnn and cuda are OK. Why still got this problem? The error message throw from cuda_dnn.cc should be more specific what's going on.

[2018-09-04 15:36] aselle commented on #21643
Glad you got it working. Could you post what the solution was so others can benefit from your work? Thanks.

[2018-09-04 15:42] smatzek commented on #12659
To my knowledge this is still an issue. The ALTIVEC (ppc64le) pmin/pmax functions in Eigen were changed to match x86 behavior, but there is still differing behavior between CPU and GPU calculations with NaNs in min/max.  The CUDA/GPU implementation in Eigen uses CUDA API calls which will give different results from the x86 and ppc64le CPU call as discussed in my comment above.

I believe this CPU-

[2018-09-04 15:44] cdluminate commented on #720
@mehditlili My build system is nearly in shape. Is it working for you?

https://lists.debian.org/debian-mentors/2018/09/msg00044.html

[2018-09-04 15:47] cdluminate commented on #13061
@ewilderj Unfortunately I totally lost interest in the cmake build too. I was trying build TF with a python+ninja build system from scratch.

[2018-09-04 15:49] bstriner commented on #22008
Specific issue is that `async` became a keyword in 3.7, but was being used as a variable by tensorflow interface. Fixed by https://github.com/tensorflow/tensorflow/pull/21202 (renames `async` to `enable`)

[2018-09-04 15:54] hendaboudegga commented on #17669
hello,
i am beginner of tensorflow and Neural network, I am working on a semantic segmentation project with Neural network  mobilenet/Unet.
i reduce the batch size and i fix it to 1 and the image have the size 500*500.

the machine utilised is 64 bit: lenovo i3 500,  RAM 4G, OS wind10

when l run the training, i have the following error:

Traceback (most recent call last):
  File "C:\Users\henda b

[2018-09-04 16:12] ewilderj commented on #13061
It's worth taking a look at @perfinion's packaging work for Gentoo. I believe now that Bazel can take care of the use case in this bug. @dmacvicar I'd be interested to know if your requirements can be now met with bazel, and if not what more work needs to happen in SIG Build.

[2018-09-04 16:12] dhingratul commented on #21255
It gives me a list of accepted file formats(eg .cc, c, etc), of which .cu is not one of it.

[2018-09-04 16:31] antropit commented on #17101
I have GTX1060 wich not compotable with CUDO 9.0. Only with CUDO 9.2. What I must do? O.o

[2018-09-04 16:40] ZacVawterKodiak opened #22057 "Tensorflow as a bazel dependency produces inconsistent builds"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 18.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: None
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command bel

[2018-09-04 16:41] ZacVawterKodiak commented on #22057
Corresponding bug posted to bazel: https://github.com/bazelbuild/bazel/issues/6052

[2018-09-04 16:46] asimshankar commented on #20517
Thanks to @bstriner 's contribution (PR #21202), we should be able to build for Python 3.7 now. However, as he's alluded to in the PR, the eigen and protobuf libraries still need a fix to compile on Windows.

@gunan @angersson would know about whether the official release of TensorFlow 1.11 will support Python 3.7, or if you'll have to compile from source.

[2018-09-04 16:48] skye commented on #12659
@rmlarsen are you a good person to look at this, or can you redirect as necessary? Thanks!

[2018-09-04 16:49] xilenteyex commented on #17910
Any sort of Input is much appreciated.
Thanks!

[2018-09-04 16:52] skye commented on #21955
Great, thanks for reporting back! I'll go ahead and close this since it works now.

[2018-09-04 16:52] #21955 closed

[2018-09-04 16:55] omalleyt12 commented on #21738
Great, sure here's the PR:

https://github.com/tensorflow/tensorflow/commit/de05ebe296d83607ca0ab1803bd8eed6afa7f74f

Affected initializers were RandomUniform, RandomNormal, and TruncatedNormal

[2018-09-04 16:55] #21738 closed

[2018-09-04 16:57] gunan commented on #20517
We still have a problem on the infra side we need to figure out.
All of our build infra uses ubuntu 14, due to community requests (to be compatible with ubuntu 14).
However, python 3.7 is not straightforward to build on ubuntu 14, since it needs updated versions of a few libraries that come with ubuntu.

While we wait for eigen and protobuf fixes on windows, we will resolve those.
But this means 1

[2018-09-04 17:00] cdluminate commented on #13061
I checked Gentoo's ebuild for tensorflow. It uses bazel as the build system. However the problem is that bazel doesn't meet many debian's requirement hence is very hard to enter debian.

[2018-09-04 17:04] gunan commented on #21520
0.12 is at this point 2 years old. You have to have the bazel version that is compatible with that version.

@martinwicke should we start deleting these old branches to avoid user confusion?

[2018-09-04 17:04] gargn commented on #18523
@chrisrapson Please file a separate issue with the command you used to run `freeze_graph.py`.

[2018-09-04 17:13] alextp commented on #22038
@allenlavoie , assigning to you

[2018-09-04 17:14] skye commented on #9638
@gunan can comment more, but I believe we suggest building with bazel instead of cmake in all cases now.

[2018-09-04 17:14] skye commented on #5492
Hi, is this still an issue?

[2018-09-04 17:36] patzm opened #22058 "tf.estimator.Estimator with distribution strategy messes up TensorBoard readability"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.12.0
- **Python version**: 2.7
- **Bazel version**: N/A
- **Mobile device**: N/A
- **CUDA/cuDNN version**: cuda-9-0

[2018-09-04 17:39] martinwicke commented on #21520
I'm a big fan of historical things being available. I suppose we can remove the branch and leave the tag. But I don't think it'll save much confusion.

We are not supporting old releases though.

[2018-09-04 17:39] #21520 closed

[2018-09-04 17:44] Hoeze opened #22059 "Optimizing slice of variable not possible"
Applying the gradient of a variable slice currently results in a `NotImplemented` error of tf.train.Optimizer.

**The following two examples are working:**
[code]

[code]

**The following example throws an error:**
[code]
The error:
[code]
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **O

[2018-09-04 17:51] hosna commented on #7025
I am also getting the same error in TF 1.9.0

[2018-09-04 17:55] omalleyt12 commented on #21799
Working on a fix, will update this thread when it becomes available

[2018-09-04 17:57] omalleyt12 commented on #21438
@weishi258 thanks for the issue! `keras_applications` has now been separated into its own module that both external Keras and tf.keras import, so this issue should be fixed if you install the nightly version

[2018-09-04 17:57] #21438 closed

[2018-09-04 17:57] #21463 closed

[2018-09-04 17:59] omalleyt12 commented on #22041
@gergoh You'll have to update your version of Tensorflow, tf.keras didn't exist in 0.12. You can use Python 2.7 or Python 3.6

[2018-09-04 17:59] #22041 closed

[2018-09-04 18:03] omalleyt12 commented on #22033
@ChrisSwinchatt could you please share a simple code snippet that reproduces this issue?

[2018-09-04 18:05] WuTheFWasThat commented on #22040
done

[2018-09-04 18:08] reedwm commented on #22029
/CC @petewarden, can you take a look?

[2018-09-04 18:08] bignamehyp commented on #22033
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-09-04 18:10] mrry commented on #17056
We depend on  `Eigen::internal::MinReducer<float>()` for the implementation of `tf.reduce_min()`, so I'm assigning this to @rmlarsen, who's most qualified to comment on the Eigen behavior.

[2018-09-04 18:17] reedwm commented on #8535
The Keras issue only affects Keras, not `tf.keras`, so the TensorFlow repo isn't the best place to discuss this. Still, this should be fixed in Keras, so @fchollet, can you take a look?

[2018-09-04 18:30] jdduke commented on #22023
TensorFlow Lite uses a non-traditional approach for importing and including Eigen, so it's quite possible there are some platform/flag-specific issues that it's not handling properly. See also https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/kernels/internal/optimized/eigen_tensor_reduced_instantiations_oss.h

[2018-09-04 18:32] #21833 closed

[2018-09-04 18:48] asimshankar commented on #21983
@karmel @tanzhenyu : mind taking a look?

[2018-09-04 18:49] HenryZhou7 commented on #21632
I managed to do the operations outside tensorflow using Numpy. But the problem hasn't been solved yet.

[2018-09-04 18:51] ybsave opened #22062 "Keras load_model crash for custom layer using tf.gather"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Y
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Windows 10
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command be

[2018-09-04 19:02] tensorflowbutler commented on #22047
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Mobile device

[2018-09-04 19:02] tensorflowbutler commented on #22048
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-04 19:02] tensorflowbutler commented on #22051
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-04 19:02] tensorflowbutler commented on #22052
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-04 19:02] tensorflowbutler commented on #3332
Nagging Assignee @chsigg: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:02] tensorflowbutler commented on #13101
Nagging Assignee @mrry: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:03] tensorflowbutler commented on #17933
Nagging Assignee @caisq: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:03] tensorflowbutler commented on #18880
Nagging Assignee @saeta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:03] tensorflowbutler commented on #19515
Nagging Assignees @wolffg, @MarkDaoust: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:03] tensorflowbutler commented on #19949
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:03] tensorflowbutler commented on #20761
Nagging Assignee @bignamehyp: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:03] tensorflowbutler commented on #20930
Nagging Assignee @saeta: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:03] tensorflowbutler commented on #21349
Nagging Assignees @mrry, @shivaniag: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:03] tensorflowbutler commented on #21382
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:03] tensorflowbutler commented on #21530
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:03] tensorflowbutler commented on #21614
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-04 19:04] tensorflowbutler commented on #21645
Nagging Assignee @karmel: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:04] tensorflowbutler commented on #21646
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-04 19:04] tensorflowbutler commented on #21655
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:04] tensorflowbutler commented on #21671
Nagging Assignee @miaout17: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:04] tensorflowbutler commented on #21697
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-04 19:04] tensorflowbutler commented on #21713
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:04] tensorflowbutler commented on #21724
Nagging Assignee @martinwicke: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:04] tensorflowbutler commented on #21726
Nagging Assignee @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:04] tensorflowbutler commented on #21727
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-04 19:04] tensorflowbutler commented on #21728
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:04] tensorflowbutler commented on #21732
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-04 19:04] tensorflowbutler commented on #21734
Nagging Assignee @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:04] tensorflowbutler commented on #21740
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-09-04 19:05] tensorflowbutler commented on #21741
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-04 19:05] tensorflowbutler commented on #21742
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-09-04 19:11] martinwicke commented on #21724
If anyone wants to add such a switch (--no-fft2d) we'd accept it.

[2018-09-04 19:39] ChrisSwinchatt commented on #22033
@omalleyt12

I did, please take a look at my Gist: https://gist.github.com/ChrisSwinchatt/97304761e9f875dfd34e3339891a5475

The bug is not triggered if you add:
[code]

@bignamehyp
I think I did include all the (relevant) information in the issue template. I'm not in need of support because I have found that training on CPU alleviates the problem. I just think it's something you should be aware of

[2018-09-04 19:41] kenryd opened #22063 "Tensorflow segfaults in eager mode with DEVICE_PLACEMENT_EXPLICIT"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.4
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (u

[2018-09-04 19:57] asimshankar commented on #21670
Seems like some quirk of the environment this is being run in. Does the following work:

[code]
?

Marking as "Community Support" to engage the broader community in this (also, I'm unable to reproduce this in my environment, using:

[code]

[2018-09-04 19:57] asimshankar commented on #21182
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-09-04 19:57] #21182 closed

[2018-09-04 20:11] lc0 commented on #22038
I am not sure, if we need to adapt save method for Eager, but I would at least add an explicit reference to `tfe.Checkpoint` and docs, so once a person sees it she or he can figure out what to do next.

Please let me know if I can help

[2018-09-04 20:26] ethereon commented on #22063
I can also reproduce this in a similar environment (v1.10.1 on Ubuntu 16.04). Also, this does not occur in v1.9.0.

[2018-09-04 20:32] starkdg commented on #22037
Now, I'm getting this error when I try to build the pip package.  If I recall correctly, I  believe I encountered this problem before, when trying to build from source, but  was able to build on a subsequent attempt.  However, I don't remember doing anything differently.

ERROR: /home/david/tensorflow/tensorflow/core/grappler/BUILD:61:1: C++ compilation of rule '//tensorflow/core/grappler:graph_vi

[2018-09-04 20:34] XinyueZ commented on #22008
any solution?

[2018-09-04 20:37] thomasquintana opened #22064 "Can't save models trained with tf.contrib.cudnn_rnn.CudnnRNNRelu"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-04 20:46] #21266 closed

[2018-09-04 20:58] dave-msk opened #22066 "`true_positives` returned Variable rather than Tensor or Operation as update_op in "call_for_each_tower""
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-09-04 21:03] xilenteyex commented on #21697
I am having a similar problem. If someone can look into this, that will be great!

[2018-09-04 21:04] case540 commented on #20919
Sorry, was on vacation. This is on my radar and I'll try to look into it sometime this week. Thanks for reporting it!

[2018-09-04 21:04] case540 commented on #21777
Sorry, was on vacation. This definitely doesnt sound good and Ill look into later this week. Thanks for reporting this issue!

[2018-09-04 21:12] alextp commented on #21901
Indeed contributions welcome is a good fit. In principle the gradient of tf.broadcast_to is just tf.reduce_sum on the indices which were broadcasted.

A pull request to add this gradient should just add a call to ops.RegisterGradient for broadcast_to which calls tf.reduce_sum with the appropriate indices.

[2018-09-04 21:27] alexcdot commented on #11235
@shinya321 If you're using "--mode=quantize" on the latest master commit of tensorflow, I found that there is a bug in the code that produces a KeyError at https://github.com/tensorflow/tensorflow/blob/9590c4c32dd4346ea5c35673336f5912c6072bf2/tensorflow/tools/quantization/quantize_graph.py#L490

That line should be changed from:
[code]
to:
[code]

[2018-09-04 21:53] shashank2710 opened #22068 "Tensorflow C++ error when using CV Mat image"
I am trying to create a custom OCR engine using Tensorflow(v1.10) in Ubuntu 18.04, with Bazel (0.16) in C++.
------------------------
## Issues Faced
- Core Dumped Error for dtype mismatch (0 vs 1)
- Predicted value of weights is higher than 1, when Tensorflow Session is re-run in loop
-----------------------
#### Code

[code]

-----------------------

[2018-09-04 22:08] omalleyt12 commented on #22062
Hi @ybsave, the problem is that your Lambda layer is relying on the global variable `valid_out_idx` inside its `lambda`. This is going to prevent you from loading the saved model in a different file anyway, I'd recommend hardcoding `valid_out_idx` like below or passing it in as another Input to your Model.

This works for me:

[code]

[2018-09-04 22:11] allenlavoie commented on #22038
There is an effort to make `Model.save` work with TensorFlow formats (SavedModel). Right now it requires `get_config()` and `from_config()` to be implemented for subclassed Models, but that could change (@k-w-w has been iterating on `tf.contrib.saved_model.save_keras_model`).

On the doc issue, maybe we should reference `save_weights`/`load_weights` from `save` for now? Those work fine with subcla

[2018-09-04 22:25] chrisrapson opened #22069 "freeze_graph.py with --input_saved_model argument gives `IOError: SavedModel file does not exist`"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 18.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
n/a
- **TensorFlow installed from (source or binary)**:
pip
- **TensorFlow version (use command

[2018-09-04 22:33] ybsave commented on #22062
@omalleyt12 Thank you for your response. Actually, I have many such "mask" variables in my network, which are online calculated; these cannot be known before nor passed as inputs. Could there be any way of doing this? Thank you.

[2018-09-04 22:37] ppwwyyxx opened #22071 "MatMul flop incorrect for 3D inputs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:N/A
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:N/A
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:

[2018-09-04 22:45] jdduke commented on #21962
Hi @fzhu129, thanks for the report, we'll take a look and get back to you.

[2018-09-04 22:55] jdduke commented on #21932
In theory these tests should succeed on desktop platforms. We'll take a look.

[2018-09-04 22:56] ZacVawterKodiak commented on #22057
This commit introduced this bug: https://github.com/tensorflow/tensorflow/commit/6e6dcf4ed62324069631cdcd23e7187ae75f6340

[2018-09-04 23:10] lc0 commented on #22038
@allenlavoie just added a small reference.

Any better way to do it?

[2018-09-04 23:43] omalleyt12 commented on #21894
@pbosch the documentation example you provided is working for me with the nightly build, could you update to the nightly build version (```pip install tf-nightly``` or ```pip install tf-nightly-gpu```) and let me know if you still see the error?

[2018-09-05 00:44] feihugis commented on #22039
I met a similar problem. It seems to be caused by some lazy operations. That means some operations will be executed until the graph actually runs.

[2018-09-05 00:47] dlml commented on #21986
now, i have sovled this problem,but when i quantized my model got a bug(no quantized no bug)

b"2018-09-04 17:43:07.631853: I tensorflow/contrib/lite/toco/import_tensorflow.cc:1055] Converting unsupported operation: SquaredDifference\n2018-09-04 17:43:07.632044: I tensorflow/contrib/lite/toco/import_tensorflow.cc:1055] Converting unsupported operation: SquaredDifference\n2018-09-04 17:43:07.632181

[2018-09-05 00:49] dlml commented on #21986
when i quantized  my model,got an Unsupported TensorFlow op: SquaredDifference, if no use quantized form, i can get a tflite form(use_custom_op)

[2018-09-05 01:29] martis-chromium commented on #20905
Are you waiting on a response from me? I'm not really in a position to help @tensorbuffer with his problem.

[2018-09-05 01:32] dlml commented on #21986
ValueError: Didn't find custom op for name 'Merge' with version 1
Didn't find custom op for name 'Switch' with version 1
Didn't find custom op for name 'SquaredDifference' with version 1
Registration failed.

[2018-09-05 01:32] dlml commented on #22022
ValueError: Didn't find custom op for name 'Merge' with version 1
Didn't find custom op for name 'Switch' with version 1
Didn't find custom op for name 'SquaredDifference' with version 1
Registration failed.

[2018-09-05 01:46] starkdg commented on #22037
Ok, I'm able to compile it now. However, I didn't do anything different.  I merely ran the command a second time.  Perhaps its  a bug in Bazel. I'm not sure, but it seems as though running the build command a second time after a clean ./configure did the trick.  Bazel does seem to be a bit flaky, as multiple runs would of often land on a  different error.   If anyone is looking into this, I'd be h

[2018-09-05 01:47] chenghuige commented on #22036
@allenlavoie  Thanks, this works, I need to update tf code, closing this issue.

[2018-09-05 01:47] #22036 closed

[2018-09-05 01:49] chenghuige commented on #9904
closing this issue, seems eager mode can do better beam search.

[2018-09-05 01:49] #9904 closed

[2018-09-05 01:51] chenghuige commented on #10765
Closing this as prefer to use eager mode seq2seq.

[2018-09-05 01:51] #10765 closed

[2018-09-05 01:54] ebrevdo commented on #9904
To be clear, we fixed this bug last year

[2018-09-05 02:00] lkfo415579 commented on #21646
@shashishekhar  will tensorflow-lite support LSTM in the future?

[2018-09-05 02:13] zimenglan-sysu-512 commented on #559
`sudo pip2 install --upgrade numpy` solves the problem.

[2018-09-05 02:50] amaresh943 commented on #21150
@cy89 "please describe the resolution" ........................which resolution?

[2018-09-05 03:34] qiaohaijun commented on #36
export LC_ALL=en_us.UTF-8
export LANG=en_us.UTF-8
bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg

it works, but I dont known why.

[2018-09-05 04:00] quaeler commented on #20308
(sorry - i've not enough free time these days.)

[2018-09-05 04:00] wangshuaizs opened #22077 "RoCE v1 error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: no
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use

[2018-09-05 04:41] myungjoo opened #22078 "Tensorflow runtime error (misaligned data) with ARM 32bit NEON."
With a c++ application using tensorflow in armv7 (32bit arm) + NEON, we had been experiencing the following errors in run-time:
[code]

We are experiencing it even though we are using tensorflow 1.9.0, which has https://github.com/tensorflow/tensorflow/commit/88103d000add4ea7f8d1a34ee3c898fc79d9e3c7 included mentioned in #19158 .

However, @again4you has successfully fixed the issue with a few com

[2018-09-05 04:41] qiaohaijun commented on #21850
Ｉ use master branch, same error.

[2018-09-05 04:58] feihugis commented on #17810
@mrry Do you mean to add a new op `MatchingFilesDataset`, which yields results in sorted order?

[2018-09-05 05:03] MartinWong-H opened #22079 "bazel build tensorflow/python/tools:print_selective_registration_header"
ERROR: /Users/xihu/Desktop/tensorflow-1.10.1/tensorflow/BUILD:581:1: Executing genrule //tensorflow:tensorflow_python_api_gen failed (Exit 1)
Traceback (most recent call last):
  File "/private/var/tmp/_bazel_xihu/07e18ff1fe4322e207df6775908e278a/execroot/org_tensorflow/bazel-out/host/bin/tensorflow/create_tensorflow.python_api.runfiles/org_tensorflow/tensorflow/python/tools/api/generator/create_p

[2018-09-05 05:54] sravanshty commented on #22055
Thanks for your quick response.

OS Platform and Distribution : Android
TensorFlow installed from : N/A
TensorFlow version : N/A
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce: N/A
Mobile device : Android Lollipop version

Here actually i am beginner to this. So i just wanted to know what are the installation, libraries required for Speech Recogniti

[2018-09-05 06:40] shinya321 commented on #11235
@alexcdot Thank you so much for replying me!
I updated "quantize_graph.py" as you said, and try to quantize ssd-mobilenet v1 model as below:
<pre>
python quantize_graph_new.py --input=frozen_inference_graph.pb --output_node_names="detection_scores,detection_classes,num_detections" --output=frozen_8bit_graph.pb --mode=eightbit
</pre>

Next I try to execute inference by using frozen graph "frozen_8b

[2018-09-05 06:41] suneelkumargavara commented on #22051
- i haven't written any custom code. I have created swift project and integrated tensor flow framework using CocoaPods. i have imported the objective C classes as well which you provided in examples section in GitHub project. After that i created one bridging header to imported the camera class into that.Then i tried to build the project and getting errors in header files of tensorflow framework.

[2018-09-05 06:49] codedsun commented on #20690
This worked for me, but if you are changing the

[code]

then also please change the arguments in the return type, as they are also mentioned with the 'asyc'.

[2018-09-05 06:49] tensorflowbutler commented on #22068
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce
Mobile device

[2018-09-05 06:50] perfinion commented on #13061
Yeah once you can get bazel into debian then packaging TF is not too bad, its way better now than even a couple months ago. bazel should be able to build from scratch tho, the first ./compile.sh script just runs javac to get the very basics up and goes from there. iirc it doesnt need the bundled JVM like it had before. Once you get to the TF part feel free to ping me and i'll help how I can. :-)

[2018-09-05 07:03] cdluminate commented on #720
@sylvestre I forgot to CC you in the latest mail.

Preliminary binary packages available here:

http://debomatic-amd64.debian.net/debomatic/experimental/pool/tensorflow_1.10.1+dfsg-A1u27/tensorflow_1.10.1+dfsg-A1u27_amd64.changes

readme: https://lists.debian.org/debian-mentors/2018/09/msg00052.html

[2018-09-05 07:08] bhack commented on #21983
See also https://github.com/tensorflow/tensorflow/issues/17571

[2018-09-05 07:08] lc0 commented on #22038
Since the fix is merged, I am closing the issue. Looking forward to the second stage. Thanks @allenlavoie for support!

[2018-09-05 07:08] #22038 closed

[2018-09-05 07:09] Cibifang commented on #21901
@alextp I would like to try this. Would send a PR by this week.

[2018-09-05 07:10] mpjlu opened #22080 "The performance of FusedBatchNormGradGrad is very low"
When I test the performance of GAN model (https://github.com/tensorflow/models/tree/master/research/gan), I find to use FusedBatchNorm can boost the performance by 20% to 30% (https://github.com/tensorflow/models/issues/5206).

However, when use gan_loss with gradient_penalty, there is no performance improvement with FusedBatchNorm.  I find the root cause is FusedBatchNormGradGrad is very low perf

[2018-09-05 07:11] mpjlu commented on #22080
@joel-shor , any comments for this, thanks.

[2018-09-05 07:18] wangshuaizs opened #22081 "GDR Cannot register memory region"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: no
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use

[2018-09-05 07:26] joel-shor commented on #22080
This is very strange. I'd like to investigate. How did you benchmark the performance degradation? If it was code, would you mind pasting the code you used to benchmark?

[2018-09-05 07:36] mpjlu commented on #22080
Just run https://github.com/tensorflow/models/blob/master/research/gan/cifar/train.py with some CPU specific setting.
I test on Intel CPU, no GPU.

[2018-09-05 07:49] joel-shor commented on #22080
Can you paste your sample output?

[2018-09-05 08:02] apolo74 commented on #18652
Hi all,
I'm having the same problem... waiting time of about 2 minutes before running what I actually wants to run. The text below is what I get and what I see for two minutes:
`Python 3.6.6 |Anaconda, Inc.| (default, Jun 28 2018, 17:14:51)
[GCC 7.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

2018-09-05 09:54:50.130623: I tensorflow/core/platform/cpu_feature

[2018-09-05 08:04] Tockra opened #22082 "Build failes"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux powerai 4.4.0-109-generic #132-Ubuntu SMP Tue Jan 9 20:00:40 UTC 2018 ppc64le ppc64le ppc64le GNU/Linux

- **TensorFlow installed from (source or binary)**:
source (R1.11)
- **TensorFlow version (use comman

[2018-09-05 08:14] facaiy commented on #21901
Sorry that I didn't check the comment when creating the PR #22083. However, PR #22083 use ids and `unsorted_segment_sum ` to calculate gradients, instead of reduce_sum solution suggested by @alextp .

@Cibifang Hi, welcome! If @alextp think reduce_sum solution is better than #22083, please take over the issue and take a try :-)

[2018-09-05 08:30] yongtang commented on #22082
It looks like to be related to https://github.com/pypa/setuptools/issues/1282

Wondering if upgrade setuptools will resolve the issue?

[2018-09-05 08:32] mpekalski commented on #21518
I am building TF with debug symbols, the latest greatest commit, and it looks like Tensorflow requires
[code]
but keras itself wants different version
[code]

https://github.com/tensorflow/tensorflow/blob/6729cd7d1c07e547298fa2a02d1e36390dc62f0a/tensorflow/tools/pip_package/setup.py

[code]

Even if I downgrade keras_applications and keras_processing TF installation overwrites them and complains t

[2018-09-05 08:37] yongtang commented on #22079
Depending on the python version, I think you may need to install `pip install enum`?

[2018-09-05 08:46] MartinWong-H commented on #22079
I have install python 3.6.5,
pip 18.0 from /usr/local/lib/python3.6/site-packages/pip (python 3.6)
 what should i  do next?

[2018-09-05 08:55] Tockra commented on #22082
So that shouldn't happen with the 40.2.0 version?

[2018-09-05 09:05] mpjlu commented on #22080
**Before change:**

./cifar/train.py  -dl /dataset/tensorflow/cifar10/ --num_inter_threads 2 --num_intra_threads 28 --batch_size 32
INFO:tensorflow:SyncReplicasV2: replicas_to_aggregate=9; total_num_replicas=10
INFO:tensorflow:SyncReplicasV2: replicas_to_aggregate=9; total_num_replicas=10
WARNING:tensorflow:update_ops in create_train_op does not contain all the  update_ops in GraphKeys.UPDATE_OPS