[2021-11-20 10:01] jmudy opened #53142 "Cannot install tensorflow-gpu==2.3.0rc0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Ubuntu 18.04.5 LTS` (Google Colab)
- TensorFlow version: `tensorflow-gpu 2.3.0rc0`
- Python version: `Python 3.7.12`
- Installed using virtualenv? pip? conda?: `pip`
- CUDA/cuDNN version: CUDA Version: `11.2`. Cuda compilation tools, release `11.1`, `V11.1.105`
- GPU model and memory: `NVIDIA Tesla K80`

**Describe

[2021-11-20 14:48] arshPratap commented on #53142
@jmudy sir, you might have to make sure the tensorflow version you are trying to install is a valid version. The  reason for the above error is that the distribution you are  tryingto install does not exist. I would suggest you take a look at the current gpu distributions that are available [here](https://www.tensorflow.org/install/source#gpu) and install the version that you feel is appropriate f

[2021-11-20 16:58] MarkDaoust commented on #41123
Yes, that sounds right.

[2021-11-20 17:05] Crazy-LittleBoy commented on #31055
thank you very much.

[2021-11-20 17:07] Bhavay192 commented on #41123
Okay I shall make a pull-request on it. Thanks

[2021-11-20 21:13] markorakita opened #53144 "PyCharm doesn't resolve anything under tensorflow.keras"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from: binary
- TensorFlow version: 2.7.0
- Python version: 3.9
- Installed using: Conda
- CUDA/cuDNN version: 11.2/8.1

**Describe the problem**
I've upgraded tensorflow from 2.5 to 2.7 and now PyCharm doesn't resolve anything under tensorflow.keras.

![keras-no-autocompletion](https://user-images.githubuserco

[2021-11-20 22:46] dzorwulu opened #53145 "Bazel command to get dependency graph fails"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- Mobile device (e.

[2021-11-20 23:09] dzorwulu commented on #53109
***How do I resolve the following download 404 message related to this issue:
WARNING: Download from https://storage.googleapis.com/mirror.tensorflow.org/github.com/llvm/llvm-project/archive/43d6991c2a4cc2ac374e68c029634f2b59ffdfdf.tar.gz failed: class com.google.devtools.build.lib.bazel.repository.downloader.UnrecoverableHttpException GET returned 404 Not Found
WARNING: Download from http://mirro

[2021-11-21 00:18] gittar commented on #39554
If it has not been changed I would still see this as inconsistency as detailed in my comment from May 21, 2020. Since there exists a workaround by doing casting beforehand it will not really block anyone  but I guess tensorflow should strive for consistency to avoid users running into surprising problems.

[2021-11-21 01:05] 1148330040 commented on #53129
This is not a bug. I just want to find a way to manually change the model layer parameters.

---Original---
From: ***@***.***&gt;
Date: Fri, Nov 19, 2021 22:49 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [tensorflow/tensorflow] How can I modify the layer parameters ofBert model at trainabel_variables? (Issue #53129)

@1148330040 ,
 Could you please update TensorFlow to the

[2021-11-21 02:28] talhakabakus commented on #46044
Many thanks for sharing the wheels. I got the following error when I try to install the `2.5.0` version on _macOS Monterey_ with an _M1 Pro_ SoC (sharing only the last part of error stack trace as it's too long to be pasted here):
[code]

[2021-11-21 03:09] w-xinyi commented on #52986
Thanks for reporting the issue! We're able to reproduce it and are working on a fix.

[2021-11-21 07:13] mw66 commented on #47554
@Saduf2019  Hi, are you the owner of the issue?

Can we fix it?

[2021-11-21 10:00] kodonnell opened #53146 "Python TFlite not using multiple threads for float inference with xnnpack"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-11-21 10:22] mohantym commented on #53132
Hi @apres91! Could you try again with CUDA 11.2 and CuDNN 8.1 or Python 3.7. Attaching Relevant threads for reference.[ link1](https://github.com/tensorflow/tensorflow/issues/36310),[link2](https://stackoverflow.com/questions/63258022/non-ok-status-gpulaunchkernel-status-internal-no-kernel-image-is-availab)

[2021-11-21 10:32] mohantym commented on #53137
Hi @TheGreatRandall ! Could you please post this query on TF Forum /Stackoverflow as this is not a bug feature request. Attaching Relevant threads for your reference though.[ link1](https://discuss.tensorflow.org/t/about-how-grpc-works-on-tensorflow/4723/3),[link2](https://rubikscode.net/2020/02/24/deploying-machine-learning-models-pt-3-grpc-and-tensorflow-serving/). Thanks!

[2021-11-21 10:48] mohantym commented on #53140
Hi @xuanhuo! I could not find any problem in [Colab](https://colab.research.google.com/gist/mohantym/1ecfc0a84460bba91e86c300180300e6/github_53140.ipynb#scrollTo=YQLZv6BlEu_r) though . Could you try again with CUDA 11.2 and  CuDNN 8.1  as this [thread ](https://www.tensorflow.org/install/source#gpu)suggests?

[2021-11-21 12:13] dylan7rdgz opened #53148 "Implementation of fuzzy inference systems."
Im working on tensorflow v2.7.0, I am willing to contribute to the same.

Currently there is no implementation of fuzzy inference systems like Sugeno and Tsukamoto networks

This feature request will ideally not change the current api. In fact certain existing tensorflow functionality could be reused.

All Machine learning engineers familiar with Fuzzy Inference Systems and Soft computing will be

[2021-11-21 12:59] #53142 closed

[2021-11-21 14:45] #52920 closed

[2021-11-21 15:29] kingatlas opened #53149 "dataset as_numpy_iterator() failing when using RaggedTensor"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 11.6 / docker tensorflow:2.5.0-gpu
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version

[2021-11-21 16:20] YoniChechik commented on #31412
This is still happaning in TF2.7.0

[2021-11-21 17:14] roballsopp opened #53150 "tf.keras.callbacks.TensorBoard(update_freq=#) doesn't work/is buggy on Windows"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
__Yes, but its still very simple__
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
__Windows 11 Home__
- TensorFlow installed from (source or binary):
__just did `pip install tensorflow`__
- TensorFlow version (use command below):
__same behavior on 2.6.1 and 2.7.0__

[2021-11-21 19:06] janvdp commented on #52845
It seems to be Docker Desktop on the M1 that is causing performance issues. It's not even TF related, only testing model conversion and single inference...

[2021-11-21 19:42] bhack commented on #52845
Docker desktop on Apple silicon for X86 i think uses rosetta2.

https://developer.apple.com/documentation/apple-silicon/about-the-rosetta-translation-environment

Other then the missing CPU accell you will not have Neural engine and GPU access.

So I don't think it could be suggested to use It in emulation on linux for performance as the platform isn't documented, fully supported on linux and in t

[2021-11-21 20:13] pkanwar23 commented on #51659
We do plan on adding support for cuda 11.4 and cudnn 8.2 in a future release. If you want to add support to your local build, you'll need to build from source.

[2021-11-22 00:37] cyriltw commented on #45930
Hi, in this how do you do Step #2?

1. Do you open your virtual python environment, then do these changes to add it?
2. Do you simply open the `etc/profile` file and add to the end?

[2021-11-22 01:07] kennysong commented on #52845
(Thanks for the tip about the non-AVX unofficial build, will give that a try. 1 or 2 mentioned by @dwyatte seem like better medium term solutions though.)

I think Docker uses QEMU for emulation (not rosetta2), which is one of the reasons it's slow in general.

[1] https://docs.docker.com/desktop/mac/apple-silicon/#known-issues
[2] https://news.ycombinator.com/item?id=25449561

[2021-11-22 01:08] kennysong commented on #52972
Yeah, it looks like #52845 has converged on the AVX issue as well, so let's move this discussion there.

[2021-11-22 01:08] #52972 closed

[2021-11-22 01:31] bhack commented on #52845
Yes It Is just that Partially Docker itself still run Rosetta 2 as some binaries are still Darwin/AMD but the emulation is Qemu.

But both are no AVX support so I hard to achieve top performances and Linux don't support AMX2 as are still going to be supported at compiler level (and fully documented/reverse engineered).

[2021-11-22 02:04] xuanhuo commented on #53140
@mohantym Thank you very much，Now，If I use one GPU， It is correct， but If I use two GPU, It's wrong. so how many gpus did you use?

[2021-11-22 02:29] mohantym commented on #53144
Hi @sanatmpa1! Could you please look at this issue?

[2021-11-22 03:33] nistarlwc opened #53153 "tensorflow2.4 can't train 2 model together on 2 different GPU"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows10
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): tensorflow-gpu==2.4
- Python version: python3 .8
- CUDA/cuDNN version: cuda11.1 cudnn8.0
- GPU model and memory: RTX2080ti * 2, 12G

**Describe the current behavior**
my train code was tensorflow1.13,  use:

[2021-11-22 03:46] #52938 closed

[2021-11-22 04:16] tilakrayal commented on #52978
@compfy-dot-com ,
The warning was added with TF 2.5 in commit [076b5be](https://github.com/tensorflow/tensorflow/commit/076b5be77d3933deb726de1fc9d954d284985b1e#diff-08518b3b0b22c5c9dc137c911fa716fe820878cb9bbf95806ffca0e0296ec7fa)

[2021-11-22 04:17] tilakrayal commented on #52978
Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-11-22 04:17] arshPratap commented on #53153
@nistarlwc sir , you can try reducing the batch size of the 2 models in the training loop (until it works) .The reason for this error to pop up is that the the gpu runs out of memory while trying to train the models.If the above method doesn't work try taking a look at this issues :

- [stack overflow](https://stackoverflow.com/questions/39465503/cuda-error-out-of-memory-in-tensorflow/46021109)
-

[2021-11-22 05:09] nistarlwc commented on #53153
I tried it.
can run 8 batchsize in GPU0, and can run 8 batchsize in GPU1.
But when run first model with 8 batchsize in GPU0, secend can't run any batchsize, include 1 batchsize.
So I think that this is a bug.

May be the problem is:
`2021-11-22 11:46:08.250497: I tensorflow/compiler/jit/xla_gpu_device.cc:99] Not creating XLA devices, tf_xla_enable_xla_devices not set
INFO:__main__:GPU was detected

[2021-11-22 05:22] tilakrayal commented on #53138
@heeh ,
In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.

[2021-11-22 05:25] tilakrayal commented on #53141
@yahuuu ,
Could you please update TensorFlow to the latest stable version v.2.6 or v2.7 and let us know if you are facing the same error. Thanks!

[2021-11-22 05:46] #52945 closed

[2021-11-22 06:07] ravinderkhatri commented on #40366
I am facing the same issue with Tensorflow 2.7.0  Mirrored Strategy using tf.keras.metrics.mean()

[2021-11-22 06:23] ravinderkhatri opened #53155 "Saving best metrics based on Custom metrics failing (WARNING:tensorflow:Can save best model only with CUSTOM METRICS available, skipping)"
I have defined a callback that runs on the epoch end and calculated the metrics. It is working fine in terms of calculating the desired metrics. Below is the function for reference

[code]
[code]

## Using this in call back

[code]

The issue that I am facing is that it is giving me a warning that says

**WARNING:TensorFlow: Can save best model only with val_f1_after_epoch available, skipping**

U

[2021-11-22 06:45] johanneseder711 commented on #50545
I got the same issue as reported on TF 2.6.0 on my Apple M1 when trying executing the code
`from tensorflow.keras import layers
# use the default textvectorization parameters
text_vectorizer = layers.TextVectorization(
    max_tokens=max_vocab_length, # how many different words
    standardize='lower_and_strip_punctuation',
    split='whitespace',
    ngrams=None,
    output_mode='int',
    output

[2021-11-22 06:46] #52975 closed

[2021-11-22 06:49] moog-moloco commented on #53080
@sachinprasadhs could you elaborate more please?

here's the explanation on the `PerWorkerValues` page
[code]
the point i'm wondering about is how to get a worker index inside the function generating per-worker dataset.

[2021-11-22 07:20] johanneseder711 commented on #31318
Interestingly, the error appeared when trying to use the optimizer
`tensorflow.keras.optimizers.Adam()`, using SGD worked fine.

On Apple M1 uninstalling and installing _tensorflow-macos_, _tensorflow-metal_ and _tensorflow_ did the trick for me.

[2021-11-22 07:23] ice-tong commented on #48845
same problem with TF 2.7.0

[2021-11-22 07:40] tilakrayal commented on #53145
@dzorwulu ,
Looks like this is duplicate of issue #53109.Can you please close this issue, since it is already being tracked there? Thanks!

[2021-11-22 07:42] ice-tong commented on #48845
update: set batch_size > 1 solve this problem

[2021-11-22 07:43] bersbersbers commented on #51978
Verified, thank you all!

[2021-11-22 07:45] shkarupa-alex commented on #48845
It is not always possible (e.g. if model is too large).
So, it is still an issue and i hope it will be solved.

[2021-11-22 07:56] #53145 closed

[2021-11-22 07:58] dzorwulu commented on #53145
Similar to error outlined in issue  #53109.

[2021-11-22 08:10] tilakrayal commented on #53149
@sanatmpa1 ,
I was able to reproduce the issue in tf v2.6, v2.7 and nightly.Please find the gist of [here](https://colab.research.google.com/gist/tilakrayal/93dcf6f3dcb0a16929c09ea0bc6e3657/untitled122.ipynb).

[2021-11-22 08:30] mohantym commented on #53153
Hi @nistarlwc! Could you please share the standalone code to reproduce this issue as  it is bit difficult to find the same from above threads ?

[2021-11-22 09:13] haimat opened #53156 "Can't get TF Dataset to work with Keras ImageDataGenerator.flow_from_directory()"
So far I was using a Keras `ImageDataGenerator` with `flow_from_directory()` to train my Keras model with all images from the image class input folders. Now I want to train on multiple GPUs, so it seems I need to use a TensorFlow `Dataset` object.

Thus    I came up with this solution:

[code]

Now this seem to work, the model is trained as usual. However, during training I get the following warni

[2021-11-22 09:46] Bhavay192 commented on #41123
Hey @MarkDaoust , I have understood the issue but the problem comes out here that what should I write in documentation?? How to change the documentation such that points are covered in that?? Please advice me some context and I shall definitely resolve this. Thanks

[2021-11-22 10:33] mohantym commented on #37768
Ok @ppwwyyxx! This issue will be closed one Above PR is merged. Thanks!

[2021-11-22 10:34] sushreebarsa commented on #53156
@haimat
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-11-22 10:39] sushreebarsa commented on #53150
@roballsopp This issue is more related to Tensorboard .Could you please open the issue in [Tensorboard repo](https://github.com/tensorflow/tensorboard/issues) ?Thank you!

[2021-11-22 10:42] sushreebarsa commented on #53079
@Jargon4072 Could you please let us know if you have tried with TF v2.7.0 ? Please let us know the outcome .Thank you!

[2021-11-22 10:46] #52982 closed

[2021-11-22 10:47] sushreebarsa commented on #53130
@elfringham This issue will be closed once the PR is merged .Thanks!

[2021-11-22 10:49] sushreebarsa commented on #53127
@ArtanBerisha1
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-11-22 10:53] sushreebarsa commented on #53054
@mshariful Could you please let us know if you have tried as per the [comment ](https://github.com/tensorflow/tensorflow/issues/53054#issuecomment-970084016)and if it is still an issue ? Thanks!

[2021-11-22 11:13] haimat commented on #53156
Ok thanks, will do.

[2021-11-22 11:41] mohantym commented on #53140
@xuanhuo  ! I used Single GPU in Colab.  @sanatmpa1! Could you please look at this issue ? The issue is not replicating in Colab though .Attaching [Gist ](https://colab.sandbox.google.com/gist/mohantym/1ecfc0a84460bba91e86c300180300e6/github_53140.ipynb#scrollTo=t4WC27ciapV3)for reference.

[2021-11-22 11:43] cfRod commented on #53130
thanks!

[2021-11-22 11:48] filippocastelli commented on #52981
I'm observing the same problem in anaconda, downgrading to 2.6 fixes the problem

[2021-11-22 12:02] ArtanBerisha1 commented on #53127
Hi, @sushreebarsa
Here are TF versions:
[code]

I am replacing the model in Object Detection Example app(Android App) provided by tensorflow, here is the code snippet that I use to run the inference on Bitmap:
[code]

[2021-11-22 12:43] tilakrayal commented on #53155
@ravinderkhatri ,
Please take a look at this link [1](https://stackoverflow.com/questions/70017229/saving-best-metrics-based-on-custom-metrics-failing-warningtensorflowcan-save/70059354) and [2](https://github.com/tensorflow/tensorflow/issues/33163) with the similar error.It helps.Thanks

[2021-11-22 12:44] tilakrayal commented on #53155
Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-11-22 13:45] #52705 closed

[2021-11-22 14:19] andy6804tw commented on #47281
Hi! @sachinprasadhs It's great hearing from you. After my test, I still found the problem.
please find the gist [here](https://colab.research.google.com/drive/1Fay5Pmzi1DgBz3gK8PEH5UNt1ExEXESf). Thanks!

[2021-11-22 14:31] heeh commented on #53138
@tilakrayal Thanks for the response. Here you go!

- TensorFlow version: 2.8.0
- Ubuntu 20.04
- Bazel version: 3.7.2
- Android version:
  - SDK: 27
  - NDK: r21e
  - Android Build Tools: 28.0.3

Complete code:
- Build and push benchmark tool
[code]
- Connect your android device. Push the binary to your phone with adb push (make the directory if required):
[code]

- Make the binary executable.
[cod

[2021-11-22 15:24] rfrush commented on #52672
I am also getting this issue after following the install instructions here:  https://developer.apple.com/metal/tensorflow-plugin/ which references this project

`Metal device set to: Apple M1 Pro

systemMemory: 32.00 GB
maxCacheSize: 10.67 GB

2021-11-22 08:20:43.007615: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU

[2021-11-22 15:35] ravinderkhatri commented on #53155
@tilakrayal  I have tried all the approaches mentioned in the link. Nothing is working.

[2021-11-22 15:59] ebraraktas commented on #40438
Hi @fzyzcjy ,
First of all, I am sorry for late response.

As I stated above I had abandoned the C++ project, and using Rust currently. I have been using [this crate](https://crates.io/crates/tflitec) (disclaimer: I am the developer of it).

On the other hand, I have tried [this official guide](https://www.tensorflow.org/lite/guide/build_cmake) about CMake build and succeeded to build a toy projec

[2021-11-22 16:08] Nyrio opened #53157 "Outdated documentation for `DataFormatVecPermute`"
This came up while creating a TF-TRT converter for `DataFormatVecPermute` in #52942
cc @bixia1

## URL(s) with the issue:

 - Python: https://www.tensorflow.org/api_docs/python/tf/raw_ops/DataFormatVecPermute
 - C++: https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/data-format-vec-permute
 - Java: https://www.tensorflow.org/jvm/api_docs/java/org/tensorflow/op/nn/DataFormatVecPermute

##

[2021-11-22 16:37] shailensobhee commented on #52151
Hi @boegel I tested on CPU (my system sports a 2x Xeon 6252).

[2021-11-22 17:15] shailensobhee commented on #52027
Hi @Flamefire

I would recommend to have a look at the official Intel Optimization for TensorFlow page:
https://www.intel.com/content/www/us/en/developer/articles/guide/optimization-for-tensorflow-installation-guide.html

The official flag is just `--config=mkl`.

Also, JFYI, you can always download the pre-compiled binaries from Anaconda or get it from the Intel AI Analytics Toolkit. The steps ar

[2021-11-22 17:20] sanatmpa1 commented on #42101
Issue still persists in TF `2.7` and TF-nightly `2.8.0-dev20211120`. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/39abf88d40f910bb1aae42640aae283b/untitled103.ipynb).

[2021-11-22 17:45] #52923 closed

[2021-11-22 18:32] jvishnuvardhan commented on #42101
@will-cern Agree. This is still an issue. Is it possible for you to open this issue in keras-team/keras repo as the development of Keras moved to that repo.

Keras development moved to another repository to focus on only keras. Could you please repost this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)

[2021-11-22 19:27] fridex opened #53159 "Classify issues using more specific labels"
Hi all,

based on the discussion on TF SIG build meeting, raising this issue here.

It would be great if TensorFlow issue tracker would have more specific labels so issues could be classified and browsed only based on some specific criteria. An example of labels that would be very helpful for us:

1. labels specific to dependency issues on Python layer (dependency compatibility issues, underpinnin

[2021-11-22 19:41] spagliarini commented on #53026
`tf.compat.v1.train.MonitoredTrainingSession` arises the same error message.

I was reading again the whole error message from the beginning. Coming back to your point about the memory, I can see this warning:

`I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical Plu

[2021-11-22 20:31] yarri-oss commented on #53159
Thanks for adding this as an issue for us to discuss. Can you please review the existing [labels](https://github.com/tensorflow/tensorflow/labels) and give us some specific recommendations. For example, we have used a common convention to create label categories using the syntax <category>:<feature> and have categories that we use in our automation processes (ie., "cla" or "comp").

Are you sugges

[2021-11-22 20:37] Flamefire commented on #52027
@shailensobhee Thanks for your answer. However it does not help for installing TensorFlow from source or at all on ARM architectures. Besides that the condition is clearly buggy: A flag to disable something is mixed with arch-specific defaults leading to ambiguity and hence being unable to use that flag on many archs

[2021-11-22 21:33] bhack commented on #53159
@fridex I don't know if you are interested to have these set of labels for TF only or also for the `strict ecosystem` TF+TF SIGs repos.
If the case is the last one I think that could be useful to have a common label subset in sync on TF+SIGs with some syncing solution e.g.:

- https://label-sync.com/
- https://github.com/micnncim/action-label-syncer
- etc...

[2021-11-22 21:59] mshariful commented on #53054
Hallo @sushreebarsa, Thanks for your message. I

Hallo @sushreebarsa , thanks for your message. I have got installed tensorflow through 'Anaconda' way very easily.
Installing CUDA and cuDNN from Nvidia and setting up all the paths....it turned out to be a horror for me! What a frustrating experience it was!

[2021-11-22 21:59] #53054 closed

[2021-11-22 22:45] #52935 closed

[2021-11-23 00:34] fzyzcjy commented on #40438
@ebraraktas Thanks all the same for the late reply.

Indeed I have also used Rust and wrap the tflite-C API a few days ago. After looking at your code and compare with mine, a small suggestion: Your `Tensor` struct has no lifetime, so `Tensor.tensor_ptr` can live longer than it should. For example, a user can keep hold of a Tensor for a longer time than a Model/Interpreter. Then when he wants to u

[2021-11-23 01:38] lugalUrim commented on #52063
Hi @tilakrayal, I have updated the complete code to reproduce the issue (just added one line of import). I tried in TFv2.7.0 and the issue still persists. Thanks!

[2021-11-23 02:46] #41455 closed

[2021-11-23 02:46] #42310 closed

[2021-11-23 02:46] #43097 closed

[2021-11-23 02:58] tilakrayal commented on #53155
@ravinderkhatri ,
Please feel free to close this issue as it has been tracked in Keras repo.

[2021-11-23 03:57] SysuJayce opened #53160 "MirroredStrategy: Efficient allreduce is not supported for n IndexedSlices"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-11-23 04:03] arthur-yh opened #53161 "tf1.14 tensorboard cannot profile multi batch"
My aim: I use tf1.14 keras to train my model, while I find my gpu utilization rate is very lower, so I want to use tensorboard profile to see which stage cost too much. I follow the wiki from tensorflow set profile_batch to 'str' or 'tuple', it show some error.
my code is below:
`tf.keras.callbacks.TensorBoard(log_dir=FLAGS.get("model_path") + "logs/", histogram_freq=1, profile_batch='2, 10')`
whi

[2021-11-23 04:40] mohantym commented on #53157
Hi @Nyrio ! This issue will be closed once the PR #53158  is merged. Thanks!

[2021-11-23 04:47] mohantym commented on #53161
Hi @arthur-yh!
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Could you please try with `tf.keras.callbacks.TensorBoard(log_dir=FLAGS.get("model_path") + "logs/", histogram_freq=1, profile_batch=(2, 10))   `   as the Error suggests! Please create an issue in [TF forum ](https://discuss.tensorflow.org/)or Stackoverflow for further assistance !Than

[2021-11-23 04:49] legel commented on #46385
Suppose I am past the point of no return and I cannot follow the "encouragement" of this warning. How do I suppress it?

[2021-11-23 05:31] duncanriach commented on #47174
Thank you for describing all of that, @reedwm.

**Exception Throwing**

I agree that the exception-throwing is intended to be temporary and it's also a mechanism for flagging important ops that we want to provide deterministic GPU implementations for, a user-accessible nondeterminism debugging tool to help us prioritize effort. In a model with more than one op without a deterministic GPU implement

[2021-11-23 05:37] jiayue198509 opened #53163 "model convert successfully, but invoke fail."
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installation (pip package or built from source):
- TensorFlow library (version, if pip package or github SHA, if built from source):

### 2. [Code](url)
[tf-awake-1109crnn-81-int8-2.6.tflite.zip](https://github.com/tensorflow/tensorflow/files/7585973/tf-awake-1109crnn-81-int8-2.6.tflite.zip)

### 3.

[2021-11-23 05:46] #30758 closed

[2021-11-23 05:46] #30371 closed

[2021-11-23 05:46] #29739 closed

[2021-11-23 06:24] arthur-yh commented on #53161
@mohantym  thanks for helping，maybe only higher version support str and tuple form of parameter profile_batch.

[2021-11-23 06:24] #53161 closed

[2021-11-23 06:32] mohantym commented on #39033
Hi @ali-raza-tariq !
We are checking to see whether you still need help in this issue .Have you tried latest versions  (TF 2.6/2,7) yet?  Thanks!

[2021-11-23 06:36] mohantym commented on #38992
Hi @Abhipray !
We are checking to see whether you still need help in this issue . Have you checked in latest TF versions yet(TF 2.6/2.7) yet . Thanks!

[2021-11-23 06:43] sushreebarsa commented on #53160
@SysuJayce Could you please try with the latest stable TF version `2.7.0` and refer to the similar[ issue](https://stackoverflow.com/questions/63034145/warningtensorflowefficient-allreduce-is-not-supported-for-1-indexedslices), [issue1](https://github.com/tensorflow/tensorflow/issues/41898),[ issue2](https://github.com/tensorflow/tensorflow/issues/39545) and let us know if it helps? For further qu

[2021-11-23 06:54] potula-chandra opened #53164 "Tensorflow build fails with "Multiple matches are not allowed unless one is unambiguously more specialized" on linux_s390x"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Redhat 8.1 on s390x
- Mobile d

[2021-11-23 07:03] SysuJayce commented on #53160
@sushreebarsa Hi, I have tried tf2.7.0 and MultiWorkerMirroredStrategy. But as I mentioned above, the GPU utilization is low and the training speed is not scaled up.

Actually, in issue #39545, @dubey and @byronyi have given some suggestion. For instance, convert sparse tensor to dense one. But I don't know how to do this because I do not use sparse tensor myself.

I dig the tensorflow source code

[2021-11-23 07:04] anupamsingh610 commented on #47554
I have this model:
[code]

When I save I get this output:

[code]

[2021-11-23 07:15] yuanyelele commented on #30167
I'm still having this issue on tensorflow 2.2.0:

[code]

Error logs:
[code]

[2021-11-23 07:46] #52936 closed

[2021-11-23 07:46] mansnils commented on #48251
Hi @advaitjain - have you seen this lately? How about closing it?

[2021-11-23 08:44] #53163 closed

[2021-11-23 08:46] #52892 closed

[2021-11-23 08:46] #52644 closed

[2021-11-23 08:46] #52994 closed

[2021-11-23 09:05] sushreebarsa commented on #53164
@potula-chandra Could you please have a look at the [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the latest [microsoft visual c++ redistributable](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads) from here.
See the [tested build configurations](https://www.tensorflow.org/install/sou

[2021-11-23 09:09] guillaumekln commented on #50575
The warning still exists in TensorFlow 2.7.

[2021-11-23 09:12] chauvinSimon opened #53165 "cannot build tensorflow/lite/java/demo in Android Studio"
**System information**
- OS Platform and Distribution: Linux Ubuntu 20.04
- tensorflow: on master `d0af304b7b3cd76a56eae1f5a82910199dd6644d`
- android studio: android-studio-2020.3.1.25-linux

**Describe the problem - Provide the exact sequence of commands / steps that you executed before running into the problem**

I am following this [tutorial](https://www.tensorflow.org/lite/performance/gpu) ab

[2021-11-23 09:29] dragen1860 commented on #27519
simply give up tensorflow and hardly every error disappears. pytorch yes!

[2021-11-23 09:47] mohantym commented on #37444
Hi @bela127! This issues seems to be getting resolved in TF 2.7 .Attaching [Gist ](https://colab.research.google.com/gist/mohantym/2c30b2a6856d1a4be20eac59ce1f4049/github_37444.ipynb#scrollTo=JFwkJ5fEKDUT)for reference. Thanks!

[2021-11-23 09:56] mohantym commented on #37544
Hi @ppatrikg!
We are checking to see whether you still need help in this issue . Did above [comment](https://github.com/tensorflow/tensorflow/issues/37544#issuecomment-971326816) work for you?

[2021-11-23 10:18] gtinchev commented on #1548
Just to mention that the above command no longer works with newer version of tensorboard. The argument should be `logdir_spec`. For example:

[code]

[2021-11-23 10:40] mohantym commented on #53165
Hi @sachinprasadhs! Could you please look at this issue?

[2021-11-23 10:46] #46615 closed

[2021-11-23 10:52] mohantym commented on #21998
Hi @qinyao-he!
It seems you are using older versions(1.x versions) of Tensorflow which is not supported anymore. Have you checked the above issue in latest version TF 2.6 yet?. Thanks!

[2021-11-23 11:18] mohantym commented on #44274
Hi @seankerman ! Did you check with above [suggestion](https://github.com/tensorflow/tensorflow/issues/44274#issuecomment-719770863) yet?

[2021-11-23 11:30] mohantym commented on #20998
Hi @ahundt!
It seems you are using older versions(1.x versions) of Tensorflow. Have you check out this feature on [limiting GPU growth](https://www.tensorflow.org/api_docs/python/tf/config/experimental/set_memory_growth) from TF 2.7 yet? Thanks!

[2021-11-23 12:01] elfringham opened #53166 "Unit tests //tensorflow/core/ir/... fail or crash depending on optimization level"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-11-23 12:03] elfringham commented on #53166
@cfRod @nSircombe

[2021-11-23 13:08] tilakrayal commented on #53129
@1148330040 ,
Kindly open a tf discussion forum issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions.

[2021-11-23 13:19] potula-chandra commented on #53164
@sushreebarsa I am able to build tensorflow 2.7.0 on IBM LinuxONE platform s390x  with some recommendations made [here](https://github.com/tensorflow/tensorflow/issues/51770#issuecomment-911554418) and [here](https://github.com/tensorflow/tensorflow/issues/22023)

But when I'm installing the whl file I get the following error:
[code]

[2021-11-23 13:22] mehmet0zen commented on #46628
Same here I'm guessing it's because of the package we use.

[2021-11-23 13:27] ponytailGHJ opened #53168 "Failed precondition: Attempting to use uninitialized"
My code:

[code]

In function aucn_model.build_model

[code]
When I change to this code it works
[code]
_

**System information**
colab,TF1.15

i just confused that why collapsed in making computational graph informed error ‘uninitialized’,i even not try to excute there.

[2021-11-23 13:28] potula-chandra commented on #53164
@sushreebarsa Please fine reply here : https://github.com/tensorflow/tensorflow/issues/53164#issuecomment-976522393

[2021-11-23 13:30] tilakrayal commented on #52063
@sachinprasadhs ,
I was able to reproduce the issue in tf v2.6,v2.7 and nightly.Please find the gist here.[1](https://colab.research.google.com/gist/tilakrayal/2a88c5b9c8563a36e5adf87969310c59/cpu52063.ipynb) and [2](https://colab.research.google.com/gist/tilakrayal/051ecdd0588e8483db37b76368a8ab61/untitled124.ipynb)

[2021-11-23 13:45] araby123 commented on #52572
@tilakrayal kindly I go as you mention its archived I can not post a issue there
<img width="596" alt="Screen Shot 2021-11-23 at 4 43 57 PM" src="https://user-images.githubusercontent.com/7244313/143035394-9ce16729-e189-481e-a2f3-d5d42a6529ec.png">

[2021-11-23 13:45] mw66 commented on #47554
Just found assignee is @ymodak ,  do you have any update?

Thanks!

[2021-11-23 13:47] araby123 commented on #52055
@mdanatg as you see I have 3.9.7 version
<img width="403" alt="Screen Shot 2021-11-23 at 4 46 57 PM" src="https://user-images.githubusercontent.com/7244313/143035668-b283ea56-afb2-4dd5-9f78-5dcfb9cca1ba.png">

[2021-11-23 13:54] riaqn commented on #50345
@frgossen Do you mind further elaboration on what's the potential impact of using this workaround(`--define=tensorflow_enable_mlir_generated_gpu_kernels=0`)? Does it hurt performance? Or will some TF models fail to run?

[2021-11-23 13:57] sushreebarsa commented on #53168
@ponytailGHJ We see that you are using `TF v1.15` which is `out of support window` .Could you please upgrade to latest `TF v2.7.0 `and let us know if the issue still persists ? You may refer  [this](https://www.tensorflow.org/guide/migrate?hl=en#migrate-from-tensorflow-1x-to-tensorflow-2) to Migrate from TensorFlow 1.x to TensorFlow 2 .Thank you!

[2021-11-23 14:03] ponytailGHJ commented on #53168
in fact i have solved it by using reshape instead of tf.layers.flatten,
i just wonder why it doesnt work in tf 1.15

[2021-11-23 14:37] frgossen commented on #50345
`--define=tensorflow_enable_mlir_generated_gpu_kernels=0` disables the new MLIR-generated kernels. This concerns the kernels that you use in TF eager mode. Instead, TF will fall back to use the old Eigen-based kernels. I would expect this to hurt performance and you may have fewer kernels and data types, i.e. type coverage that we recently extended will not be available to you. Depending on the mo

[2021-11-23 14:46] #40336 closed

[2021-11-23 14:46] #39831 closed

[2021-11-23 14:47] par1hsharma commented on #52672
I get those warnings too (at the start of training) but I also get a message:
`I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.`
Training then continues using the GPU.

[2021-11-23 15:00] kumariko commented on #33751
Was able to reproduce the issue in TF 2.7.0 ,please find the gist [here](https://colab.research.google.com/gist/kumariko/57ab05a2b50e5a858f9f1f5ee7329b7e/untitled24.ipynb#scrollTo=z6dkPf95LYsn)..Thanks !

[2021-11-23 15:34] WeyShi commented on #45200
I solved it by adding the link of my lib to .bashrc and then `source .bashrc`.

[2021-11-23 15:49] KarimelQ commented on #35277
Hello @driedler , I'm facing exactly the same issue as you, were you able to select only int8 type ?

[2021-11-23 15:49] sanatmpa1 commented on #52980
@lindadamama,

Have you got a chance to take a look at the link shared in above comment? Thanks!

[2021-11-23 15:51] mdanatg commented on #52055
Odd, the printout doesn't say, so I'll assume it's cpython, which is supported. Are you using precompiled Python by any chance?

[2021-11-23 15:57] sanatmpa1 commented on #53105
@thetruejacob,

Can you take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/35063) from a similar issue? Thanks!

[2021-11-23 15:59] sanatmpa1 commented on #53144
@markorakita,

Can you clarify if you mean that autocomplete is not working in Pycharm, or you're not even able to load the modules/functions in tf.keras?

[2021-11-23 16:02] zhaozheng09 opened #53169 "filter dataset too slow ."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.6
- Are you willing to contribute it (Yes/No): if need I

[2021-11-23 16:26] sanatmpa1 commented on #52348
@isaacgerg,

clipnorm | float or None. If set, the gradient of each weight is individually clipped so that its norm is no higher than this value.
clipvalue | float or None. If set, the gradient of each weight is clipped to be no higher than this value.
global_clipnorm | float or None. If set, the gradient of all weights is clipped so that their global norm is no higher than this value

Do you thin

[2021-11-23 16:42] isaacgerg commented on #52348
@sanatmpa1 It is unclear to me if the description you list is correct.

A gradient is really a group of scalar values.  Its unclear how clipnorm differs from global_clipnorm.  My guess is that clipnorm groups weights by their function but its not clear to me.  Having an example to make this completely clear would be very helpful.

Also, does clipvalue clip truly  by value only or by magnitude and

[2021-11-23 16:46] #53001 closed

[2021-11-23 16:57] sanatmpa1 commented on #53112
@T-Almeida,

In this case of documentation bug, Would you like to submit a PR addressing the issue? Thanks!

[2021-11-23 17:05] sanatmpa1 commented on #53149
@kingatlas,

Instead of using `iterator = dataset.as_numpy_iterator()` , Can you try using this `iterator = iter(dataset)` to iterate through the dataset? You can take a look at the working [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/174830194b1985587d44230372faa66f/untitled122.ipynb#scrollTo=LRqg1is5v2Os). Thanks!

[2021-11-23 17:37] T-Almeida commented on #53112
Hi, @sanatmpa1 yes sure, I can open a PR.

[2021-11-23 18:49] kingatlas commented on #53149
@sanatmpa1 the `iter(dataset)` is returning a set of tensors, this is not what I want, I want numpy results (as expected with `as_numpy_iterator`)

[2021-11-23 19:00] qinyao-he commented on #21998
Should have been solved.

[2021-11-23 19:00] #21998 closed

[2021-11-23 19:20] advaitjain commented on #48251
I haven't seen this since. Closing.

[2021-11-23 19:20] #48251 closed

[2021-11-23 19:28] advaitjain commented on #35277
Closing this issue in favor of https://github.com/tensorflow/tflite-micro/issues/720

[2021-11-23 19:28] #35277 closed

[2021-11-23 19:43] frgfm commented on #21051
After some time spent trying to obtain the same result with the greedy decoder, I ended up finding this issue. This is rather simple: either the documentation needs to be more specific explaining how to obtain the same outputs, which doesn't seem to be possible, or we simply remove this wrong Note to avoid confusion.

Can someone from the TF core team take a look at this? :pray:  @tatianashp (not

[2021-11-23 22:01] makermotion opened #53174 "training stuck in first epoch at random batch # while using rmsprop as optimizer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10

- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): >= 2.5.0
- Python version:  >= 3.6

- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: 11

[2021-11-23 22:15] grmnptr opened #53175 "Protobuf header files not copied with -install_headers- bazel target"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: CentOS Linux Release 8.0.1905
- Mobile device (e.g. iPhon

[2021-11-23 22:16] DireWolf117 commented on #47554
I get a similar warning with this Model:

`model = tf.keras.Sequential([
    tf.keras.layers.LSTM(88, return_sequences=True),
    tf.keras.layers.Dense(88, activation='elu'),
  ])`

`WARNING:absl:Found untraced functions such as lstm_cell_1_layer_call_fn, lstm_cell_1_layer_call_and_return_conditional_losses, lstm_cell_1_layer_call_fn, lstm_cell_1_layer_call_and_return_conditional_losses, lstm_cell

[2021-11-23 22:49] Avra2 opened #53176 "TypeError: '<' not supported between instances of 'WhileBodyFuncGraph' and 'FuncGraph'"
Hello,

I have ran tensorflow 2.1 and python 3.8 on a tensorflow project. I got the fp;;

[2021-11-23 23:06] grmnptr commented on #53175
Found the include files in `tensorflow/bazel-bin/tensorflow/include/src`.

[2021-11-23 23:06] #53175 closed

[2021-11-23 23:21] sachinprasadhs commented on #53110
`Pypi` wheels for `tflite-runtime` is maintained by `Coral Support`, you can track the progress in the issue https://github.com/google-coral/pycoral/issues/58 which you raised in pycoral repository. Thanks!

[2021-11-24 00:03] yf225 commented on #51476
Thanks @rowanz and your advice was very helpful. In case anyone runs into this issue with TensorFlow `2.6-nightly` version, the solution is to install `tensorflow==2.7.0` instead. Hope this helps someone :)

[2021-11-24 00:44] nistarlwc commented on #53153
Problem solved, install cuda11.1.1, and can run it

[2021-11-24 00:44] #53153 closed

[2021-11-24 00:51] hjonnala commented on #53110
@rikardn coral team added packages to PyPI just to ensure somebody else doesn't take the library name. We don't ave any plans to update or maintain it. Please get the required wheels from [pycoral releases](https://github.com/google-coral/pycoral/releases)

[2021-11-24 02:17] mw66 commented on #47554
35 participants affected by this problem.

Is there any way to escalate this issue?

[2021-11-24 02:44] tilakrayal commented on #53166
@elfringham ,
The issue will move to closed status once the PR is merged.

[2021-11-24 02:46] #39447 closed

[2021-11-24 02:46] #52985 closed

[2021-11-24 03:21] jiunyen-ching commented on #37505
@ysyyork Thank you for this insight! May I know what modifications have you made to your generator function to reuse the same generator?

[2021-11-24 03:31] Wistar1308 commented on #53018
@sanatmpa1 I'm sure that I have the environment setup as the configurations.
I tried [this](https://medium.com/vitrox-publication/deep-learning-frameworks-tensorflow-build-from-source-on-windows-python-c-cpu-gpu-d3aa4d0772d8) and created dll and lib. And I fixex some source codes like [this](https://stackoverflow.com/questions/70089873/solvedgot-error-message-when-run-a-simple-tensorflow-code-afte

[2021-11-24 03:48] mohantym commented on #53176
Hi! @Avra2 !
Could you please update the template too as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-11-24 03:55] ysyyork commented on #37505
@jiunyen-ching I used a singleton pattern to implement this generator.

[2021-11-24 04:08] Artaches opened #53179 "Tflite LSTM performance drops when running benchmark tool as an app vs compiled binary."
We've discovered that some of our LSTM models perform unexpectedly ~x2 worse on some Android devices such as the LG Stylo 5. When debugging with the tflite [benchmark tool](https://www.tensorflow.org/lite/performance/measurement), we discovered that this problem only occurs when running tflite inside an APK, and NOT when running the benchmark tool as a compiled binary. It's as if tflite threads sc

[2021-11-24 04:28] sushreebarsa commented on #53168
@ponytailGHJ Thank you for the update! Could you please move  this ticket to closed status  as you have found one workaround as per the [comment](https://github.com/tensorflow/tensorflow/issues/53168#issuecomment-976580770) ?
As **TF v1.15** is not actively supported ,for further queries please post this issue in [TF Forum](https://discuss.tensorflow.org/) where there is a larger community to get

[2021-11-24 04:30] #53168 closed

[2021-11-24 06:46] Jargon4072 commented on #53079
I am not able to build tflite for wasm. I have tried with version 2.6.1 (source : https://github.com/visualcamp/tensorflow) and it is still giving issues. I have tried bazel to build but there are two issues: 1. there is no proper instruction to build tflite for wasm, 2. if I am setting --config=wasm, it is giving an error that .bazelrc doesn't have any config for wasm. Can anyone please help me i

[2021-11-24 06:46] riaqn commented on #50345
@frgossen Thank you - that helps a lot.

Do you happen to know if they have changed the flag name? I tried the workaround but same errors:
[code]
Here is the bezel argument I passed to it:
[code]
Strangely it doesn't contain the workaround flag I passed to it:
[code]

[2021-11-24 07:15] breadbread1984 opened #53180 "group conv2d can't backprop properly"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2021-11-24 07:20] mohantym commented on #39064
This issue in replicating in TF 2.7 and nightly version . Attaching [Gist](https://colab.research.google.com/gist/mohantym/98e7a70c2071aa6b7d00e1c4bf4ecd31/untitled302.ipynb#scrollTo=GOXO1knUzouk) for reference. Thanks

[2021-11-24 07:25] kumariko commented on #32546
Was able to reproduce the issue with TF v2.7. Please find the gist of it [here](https://colab.sandbox.google.com/gist/kumariko/5538aa31a851e93eb0f25a6039eca116/32546.ipynb#scrollTo=IgffAbk23Qbd). Thanks!

[2021-11-24 07:36] mohantym commented on #8773
Hi @xiaoguai0992 !
We are checking to see whether you still need help in this issue . Have you checked this[ thread](https://iq.opengenus.org/build-tensorflow-cpp-library/) on building Tensorflow with C++ using Bazel yet? Thanks!

[2021-11-24 07:41] mohantym commented on #15880
Hi @dtegunov ! Have you checked this[ thread](https://www.py4u.net/discuss/17174) on deallocating Gpu memory yet?

[2021-11-24 07:49] mohantym commented on #13926
Hi @mtngld!
It seems you are using older versions(1.x versions) of Tensorflow. Have you tried latest versions (TF 2.6/2.7 ) yet? Thanks!

[2021-11-24 07:56] mohantym commented on #19120
Hi @xsolo!
It seems you are using older versions(1.x versions) of Tensorflow. Have you checked this issue in [Latest versions ](https://www.tensorflow.org/install/source_windows)(TF 2.6/27 yet) ? Thanks!

[2021-11-24 08:00] Wistar1308 opened #53181 "Error showed when called header files using google\protobuf 3.9.2"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-11-24 08:06] sushreebarsa commented on #53180
@breadbread1984 Could you please refer to the [api_docs](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2D) and similar [issue](https://stackoverflow.com/questions/65417415/tf-keras-layers-conv2d-usage), [issue2](https://github.com/tensorflow/tensorflow/issues/11327),[issue3](https://stackoverflow.com/questions/60803445/tensorflow-keras-error-using-conv2d-input-depth-and-filter-dep

[2021-11-24 08:06] tan3long commented on #21076
how did you guys solve this problem?

[2021-11-24 08:09] Wistar1308 commented on #53181
If I add
![image](https://user-images.githubusercontent.com/41325962/143198985-3aa9afd8-f676-49c8-813c-73c003cec702.png)
and
![image](https://user-images.githubusercontent.com/41325962/143199127-dfc46e0b-937d-423b-9b6a-255fda5be3ac.png)
to proto_def.inc and proto_undef.inc, I will get another error.
![image](https://user-images.githubusercontent.com/41325962/143199271-16f07dc5-f0b2-4170-bb91-9002d

[2021-11-24 08:35] zhaozheng09 commented on #53169
![image](https://user-images.githubusercontent.com/33950866/143202509-f7d0dfa0-c5a2-4e71-b926-5d6acbe95e98.png)
I calculated the time spent on the data set pipeline, and I got the unbatch and filter cost for a long time, so I want to get a parallel unbatch and filter function.
How to parallel unbatch and filter ?

[2021-11-24 08:56] janvdp commented on #52845
I'm building the software on my Mac (old one for now), where I mostly build the apps, APIs, UI, inference engines, and run tests for the whole system. I need a Mac to run the model conversion tests for CoreML.

I tried running linux/amd64 images on the M1  and got things to work for PyTorch and TF (using the non-AVX TF build described above).

Unfortunately, the tests now take about 3x as long to

[2021-11-24 09:05] Artaches commented on #53179
The tflite LSTM model used in the tests: [LstmPerfModelTf27Export.zip](https://github.com/tensorflow/tensorflow/files/7594203/LstmPerfModelTf27Export.zip)

[2021-11-24 09:08] fzyzcjy opened #53183 "How to build tensorflow lite C api for Linux on a MacOS machine?"
Hi thanks for the lib! I need to build tensorflow lite C api for Linux on a MacOS machine. If I do `bazel build -c opt //tensorflow/lite/c:tensorflowlite_c`, I get a `.dylib` that is of mach-o (macos) format instead of a `.so` that is of linux format. Thus I wonder what should I do? Thanks!

I have tried: `--cpu=linux` and its friends (no luck). `--config-linux` (also no use).

[2021-11-24 09:19] AshweeniKulkarni21 commented on #37355
thank you, it works for me

[2021-11-24 09:34] esparig opened #53184 "warning: successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero"
When running a simple script from a Tensorflow docker container I get the above mentioned warning:
[code]
I tried the following:
To get rid of this non-fatal warning use this command:
`for a in /sys/bus/pci/devices/*; do echo 0 | tee -a $a/numa_node; done`

But I get `tee: '/sys/bus/pci/devices/0000:00:09.0/numa_node': Read-only file system` error.

For details go to [this question](https://stacko

[2021-11-24 10:04] esparig commented on #53184
I realized that the script needed to be run in the host machine, since /sys inventories the hardware in the system. D'oh!

[2021-11-24 10:04] #53184 closed

[2021-11-24 10:12] abhisheknagarajan commented on #29972
I have a following program:

from PIL import Image
import numpy as np
from skimage import transform

model2 = load_model('ip_classification.hdf5')

def accept_bright(custom_img):

    # Bright Accept Images
    contrast = cv2.convertScaleAbs(custom_img, alpha=1, beta=100)
    blurred = cv2.GaussianBlur(contrast, (7, 7), 0)
    thresh = cv2.threshold(blurred, 225, 255, cv2.THRESH_BINARY)[1]
    thr

[2021-11-24 10:23] frgossen commented on #50345
Just checked, and at this point `mlir_generated_gpu_kernels_enabled` seems to be an alias for `gpu_enabled` (see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/mlir_generated/build_defs.bzl#L116).
Either way, disabling MLIR is not very sustainable. I suggest to follow Deven's advice and try reduce the GPU architectures.

[2021-11-24 10:29] mohantym commented on #53181
Hi! @Wistar1308 ! Could you please again Tensoflow version to 2.6/2.7 and Protobuf version too as mentioned in the issue? Thanks!

[2021-11-24 10:32] mohantym commented on #53169
Hi @zhaozheng09!
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. You can refer latest documents on [ tf.data](https://www.tensorflow.org/api_docs/python/tf/data)  from 2.6/2.7 version or [use migration document](https://www.tensorflow.org/guide/migrate)  to proceed further. Thanks!

[2021-11-24 10:38] tilakrayal commented on #53174
@makermotion ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2021-11-24 10:40] tilakrayal commented on #53174
Also please take a look at this links [1](https://stackoverflow.com/questions/53471855/why-does-keras-halt-at-the-first-epoch-when-i-attempt-to-train-it-using-fit-gene) [2](https://stackoverflow.com/questions/59808666/stuck-in-the-first-epoch-when-training-the-cnn-lstm-using-keras) and [3](https://stackoverflow.com/questions/66900639/tensorflow-stuck-on-first-epoch) with the similar error.Please u

[2021-11-24 11:00] chunduriv commented on #38366
I was able to reproduce your issue in `TF v2.7` and `tf-nightly (2.8.0-dev20211124)` faced some error, please find the [gist here](https://colab.research.google.com/gist/chunduriv/d8a0cf48da88aa06f47c2171dd6fd68a/38366.ipynb). Thanks!

[2021-11-24 11:27] fzyzcjy opened #53185 "Valgrind complains that tflite has "source and destination overlap in memcpy""
## What I want

Hi thanks for the lib! I want to know whether this is a known thing (e.g. tflite uses a hack and valgrind wrongly thinks it is a bug), or it is a bug. If it is indeed a bug, I can try to provide more details and reproducible samples or demangled stack traces, etc. But if it is a known feature and it is Valgrind who is wrong, then I do not need to spend any more time.

---

<em>Plea

[2021-11-24 11:46] #53007 closed

[2021-11-24 12:18] riaqn commented on #50345
@frgossen Thank you for the reply. I limited to `gfx803` (the GPU I'm using) and it builds successfully.

[2021-11-24 12:22] rikardn commented on #53110
Thanks @sachinprasadhs and @hjonnala for the explanation. May I ask why there is no plan to have tflite on PyPI? This is the most standard way of distributing python packages and it would open up for other python packages to have it as a dependency.

[2021-11-24 12:46] #47043 closed

[2021-11-24 13:14] bkovalenkocomp opened #53186 "TensorFlow Lite Quantization quality parameters."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version 2.6.1:
- Are you willing to contribute it (Yes):

**Describe the feature an

[2021-11-24 13:20] jorgeveamurguia commented on #38503
With version transformers==4.10.3 it works but transformers==4.12.5 does not work

[2021-11-24 13:46] #46882 closed

[2021-11-24 13:46] #46657 closed

[2021-11-24 13:46] #46547 closed

[2021-11-24 13:46] #46526 closed

[2021-11-24 13:46] #46315 closed

[2021-11-24 13:46] #46373 closed

[2021-11-24 13:50] sugar52004 opened #53187 "c++ use LoadSavedModel can't choose gpu?"
-   **OS Platform and Distribution **: Linux Ubuntu 18.04 in docker
-   **TensorFlow installed from (source or binary)**:
-   **TensorFlow version (use command below)**:
-   **Python version**:
-   **Bazel version (if compiling from source)**:3.1
-   **GCC/Compiler version (if compiling from source)**:r2.4
-   **CUDA/cuDNN version**:CUDA 11.2 Cudnn 8.1
-   **GPU model and memory**: TensorRT7.2.3 t

[2021-11-24 14:15] plooney commented on #45625
This is not clear in the documentation that is referenced above. This Link in the models API is more useful

https://www.tensorflow.org/api_docs/python/tf/keras/Model#save_spec

[2021-11-24 14:27] sushreebarsa commented on #53187
@sugar52004 Could you please try with the latest stable `TF v2.7.0` and let us know if it helps? Thank you!

[2021-11-24 14:41] sugar52004 commented on #53187
is cpp api deference？i also cant see choose gpu option in LoadSavedModel. Are there any examples? thanks！

[2021-11-24 15:10] samkellerhals commented on #41400
Thanks for the clarification @advaitjain, much appreciated !

[2021-11-24 15:42] vikashsingh009 commented on #47554
even  i  am  getting  this  warning  on tensorflow 2.7.0  ,
![image](https://user-images.githubusercontent.com/7962189/143269509-9a098e69-0c48-444d-b281-e20a4c918d5f.png)

[2021-11-24 15:52] mohantym commented on #53185
Hi @fzyzcjy ! Could you please  check this [thread](https://stackoverflow.com/questions/6317417/valgrind-says-source-and-destination-overlap-in-memcpy-about-two-buffers-but-t) once for answer?

[2021-11-24 16:11] goern commented on #53159
@bhack or we learn from the Kubernetes ecosystem and their way to have labels declared for the org, or for individual repos, its even generating a markdown documentation of the labels. see https://github.com/kubernetes/test-infra/tree/master/label_sync

[2021-11-24 16:19] sushreebarsa commented on #53187
@sugar52004
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Could you please refer to this link and let us know if it helps?Thanks!

[2021-11-24 16:21] bhack commented on #53159
The Kubernetes example is quite clear as they have also the "orchestration yaml" in the repository.

Generally the orchestration isn't always clear in the TF CI infra so sometimes it is a little bit harder to contribute.

I am fine with every transparent approach where the contribution path is clear

[2021-11-24 16:46] #24387 closed

[2021-11-24 16:50] sushreebarsa commented on #43648
@cookiehunter Was able to replicate the issue on colab using TF v2.7.0 ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/5aca69933b39428ac71eba3186ed4271/43648.ipynb#scrollTo=wrLulRCTqyrk) for reference.Thanks!

[2021-11-24 16:53] sachinprasadhs commented on #53026
Please refer to the similar issue on apple forum [here](https://developer.apple.com/forums/thread/684178), if that doesn't helps you please raise the new issue in the forum and close the issue here, Thanks!

[2021-11-24 16:57] sachinprasadhs commented on #47281
It is ordering the classes based on alphabetical order, however if you still think it is not the way it is supposed to work please post this issue on keras-team/keras repo.
Development of keras moved to separate repository https://github.com/keras-team/keras/issues

To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Th

[2021-11-24 17:07] sachinprasadhs commented on #53090
When SLI is on and when you test with first GPU `tf.device('/gpu:0')` what is the output you're getting.

[2021-11-24 17:11] sachinprasadhs commented on #53073
Currently we don't support Tensorflow 1.x issues, you can consider upgrading your code to Tensorflow 2.x by following migration guide.
For any different issue other than the issue reported in the template, please raise a new issue and close this, Thanks!

[2021-11-24 17:15] elfringham opened #53189 "Unit test //tensorflow/compiler/xla/tests:xla_hlo_profile_test_cpu gives illegal instruction on AARCH64"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-11-24 17:16] elfringham commented on #53189
@cfRod @nSircombe

[2021-11-24 17:16] sachinprasadhs commented on #53115
Could you please elaborate your feature request and provide some code to show what is implemented and what changes in result you are expecting. Thanks!

[2021-11-24 17:16] Umraz-hussain-telaverge commented on #40907
Here is the solution:
just replace
save_freq=5000
To
save_freq='epoch'

welcome :+1:

[2021-11-24 17:18] moumed commented on #53053
i am getting this error when trying to save with h5 format:

Layer RandomColorDistortion has arguments ['self', 'contrast_range', 'brightness_delta', 'gamma_correction', 'contrast_fact', 'crop_fact', 'variablity']
in `__init__` and therefore must override `get_config()`.

[2021-11-24 17:26] AndreyPlotkinOr commented on #5048
There are 2 options:

1) Enable auto-tuning (default) - The auto-tuning algorithm is executed for EACH new tuple (batch_size, h,w, color) for EACH cnn layer. It runs the layer against all plans, defined in CuDNN (~10 plan), where the processing time may highly vary between 200nano to 200milli seconds (in my case). So "heating" the model with a single batch size can easily take several seconds. Onc

[2021-11-24 17:46] Yoan-D commented on #53053
@moumed you obviously have to override the config of your custom layer and add the parameters you are using. It has nothing to the with the original issue that you posted.

[2021-11-24 17:51] altruistcoder opened #53190 "Importing models directly into Python Variables from model files stored in S3 bucket"
Hello,

I have been thinking from quite some time that if it would have been possible to ***import the ML models directly into python variables*** when the model file is actually not at the local disk where the code is running but rather is ***stored in an S3 bucket***.

As we can load a model file/folder present in the local disk using the tensorflow functions like `tf.keras.models.load_model("<m

[2021-11-24 17:58] mtngld commented on #13926
Well that was back in 2017 when we only had tf 1.4.x...

I guess you we can close this ticket as I don't think it is needed anymore with newer versions of both TF and CUDA.

[2021-11-24 17:58] #13926 closed

[2021-11-24 18:32] sullivak-kyra commented on #15880
@mohantym the proposed workarounds in that thread are for python, @dtegunov asked about C++.

[2021-11-24 19:13] Sudhan97 opened #53191 "Converted TFlite image segmentation model crashes in Android."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-11-24 19:26] hjonnala commented on #53110
Hi @rikardn tflite-runtime install is not recommended using pip for [Debian packages](https://www.tensorflow.org/lite/guide/python) as it can cause runtime failures. We recommend installing tflite-runtime using this [guide](https://www.tensorflow.org/lite/guide/python) or form [coral software center](https://coral.ai/software/#pycoral-api). As PyPI distribution does not work for all the platforms

[2021-11-24 19:26] #53110 closed

[2021-11-24 19:37] moumed commented on #53053
Here is the error when trying to load the model:

[2021-11-24 19:44] RuofanKong commented on #52952
Any updates on it?

[2021-11-24 20:39] jvishnuvardhan commented on #39869
@raharth What is the problem with `.numpy()` method. It works as expected right?  Can you add little more details on what was the problem. Thanks!

[2021-11-24 21:18] jxy opened #53192 "tf.function(jit_compile=True) cannot access int32 weights on GPU"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platf

[2021-11-24 21:20] #53176 closed

[2021-11-24 21:30] neralkattesanket commented on #41909
updating Nvidia GeForce worked for me

[2021-11-24 21:44] fedeallocati commented on #53090
@sachinprasadhs with `tf.device('/gpu:0')` it works properly:

[code]

[2021-11-24 21:51] fedeallocati commented on #53090
Explicitly setting the device when initializing the variable also fails when going from 1 GPU to another, but works when staying within the same GPU:

[code]
[code]

In both cases the output is the expected (1). But for

[code]
and
[code]
It prints 0.

[2021-11-25 00:09] fzyzcjy commented on #53185
@mohantym Hi thanks for the reply! I have checked that thread. As the last sentence says, `EDIT Before last memcpy dim_payload is transformed with htonl() to network format and passes from 512 to 131072.. It needs to return 512 by using ntohl().`, so I suspect that is indeed a bug in his C code and valgrind is right?

[2021-11-25 00:12] petche opened #53193 "programming failure"
a

[2021-11-25 00:41] mohantym commented on #22854
Hi @dhingratul !
It seems you are using older versions(1.x versions) of Tensorflow. Have you checked these threads from  latest versions(TF 2.6/2.7) yet?[link1](https://blog.tensorflow.org/2021/01/leveraging-tensorflow-tensorrt-integration.html),[link2](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html). Thanks!

[2021-11-25 01:59] breadbread1984 commented on #53180
the refered issues mention no group convolution with customized conv layer. I follow the api doc and make sure that "Input channels and filters must both be divisible by groups". channels 256 and filters 256 is divisible by 4. the forward path can be runned without any problem, the backward path causes errors.

[2021-11-25 02:06] tilakrayal commented on #53053
@moumed
Please feel free to close this issue here as it has tracked in Keras repo.Thanks

[2021-11-25 02:07] breadbread1984 commented on #53180
I found the buildin conv2d has the same problem. so the code to reproduce the issue can be further simplified as the following code

[code]

[2021-11-25 02:07] zhaozheng09 commented on #53169
I change my issue 1.15->2.6 ...

[2021-11-25 02:31] tilakrayal commented on #53183
@fzyzcjy ,
Could you please take a look at this [link](https://www.tensorflow.org/lite/guide/build_ios) which helps for the installation of tensorflowlite.Thanks!

[2021-11-25 02:32] fzyzcjy commented on #53183
no it is for ios

[2021-11-25 02:33] tilakrayal commented on #53186
@bkovalenkocomp ,
Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2021-11-25 02:46] #47113 closed

[2021-11-25 02:46] #29596 closed

[2021-11-25 03:31] sushreebarsa commented on #53193
@petche
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-11-25 03:55] sushreebarsa commented on #53180
@sanatmpa1 Was able to replicate the issue on Colab using TF v2.7.0 and tf-nightly, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/0485d198b6761f103fdbde50421e302c/53180.ipynb) for reference .Thank you!

[2021-11-25 03:58] mohantym commented on #53185
Hi @sachinprasadhs! Could you please look at this issue?

[2021-11-25 04:04] mohantym commented on #53169
Hi @chunduriv! Could you please look at this issue?

[2021-11-25 04:07] sushreebarsa commented on #53191
@Sudhan97 Could you please try with the latest `TF v2.7.0` and refer to the similar [issue](https://stackoverflow.com/questions/54762245/tensorflow-tf-lite-android-app-crashing-after-detection) , [link](https://www.tensorflow.org/lite/inference_with_metadata/task_library/image_segmenter) of TFlite doc  ? Please let us know if it helps? Thanks!

[2021-11-25 04:08] mohantym commented on #53189
Hi @sanatmpa1! Could you please look at this issue?

[2021-11-25 04:19] Wistar1308 commented on #53181
@mohantym Hi! I tried Tensorflow-2.7 with bazel-3.7.2 python-3.8.11 cuda-11.2 cudnn-8.1.2.
I run the same code and got some error.
![image](https://user-images.githubusercontent.com/41325962/143378993-857ebf39-d4d2-442e-985d-c09e70a17abb.png)

[2021-11-25 04:42] Wistar1308 commented on #53181
I manually replaced int64 with std::int64_t in following files
io_ops.h
parsing_ops.h
notification.h
tensor_shape.h
array_ops.h
data_flow_ops.h
and still got unresolved external symbol error.
![image](https://user-images.githubusercontent.com/41325962/143380818-ceba3713-136a-4a66-84c4-feabaa01012a.png)

[2021-11-25 04:50] #53018 closed

[2021-11-25 04:52] mohantym commented on #53181
Hi @jvishnuvardhan! Could you please look at this issue?

[2021-11-25 05:01] danielenricocahall commented on #40584
For anyone else that stumbles upon this while using a later version of Tensorflow (I'm running 2.5), I was able to resolve the issue by installing `tensorflow-probability` 0.11.0:

[code]

[2021-11-25 05:46] #45692 closed

[2021-11-25 05:46] #50943 closed

[2021-11-25 06:17] MrinalTyagi opened #53195 "Addition of GradCAM visualization option for output visualization of CNNs"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.6.0
- Are you willing to contribute it (Yes/No): Yes

**

[2021-11-25 06:40] tilakrayal commented on #53190
@altruistcoder ,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced] or if possible share a colab gist with the issue reported.

[2021-11-25 06:52] chunduriv commented on #53169
@zhaozheng09, In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-11-25 06:59] SysuJayce commented on #53160
Hello, @sushreebarsa @jvishnuvardhan .
It's been 2 days. Is there any progress?

I think this is a common use case in NLP, why nobody in TF team cares about it?

[2021-11-25 07:04] saintthor commented on #33412
Yes, In tf2.7

[2021-11-25 07:04] #33412 closed

[2021-11-25 07:18] rllin opened #53196 "Restoring mixed placement tf.keras.Model attempts to place CPU variable on GPU."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `gcr.io/deeplearning-platform-release/tf2-gpu.2-5`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NO
- TensorFlow installed from (source or binary): `gcr.io/deeplearni

[2021-11-25 07:29] eli-osherovich commented on #51970
Thanks, @preethivenkatesh , unfortunately, after a long discussion, I cannot release our company's code.

[2021-11-25 07:43] kibeom7565 commented on #33303
@shayantabatabaee which tensorflow version did you use? (Issue fixed version)

[2021-11-25 07:56] sanatmpa1 commented on #53111
@leandro-gracia-gil,

I tried reproducing the issue, where I can see that session getting crashed after running the code.But I don't see the warning you mentioned above. Here's the [gist](https://colab.sandbox.google.com/gist/sanatmpa1/b2f148e8912019c70e6122de410c630b/github_53111.ipynb) and can you clarify on the same? Thanks!

[2021-11-25 07:58] byronyi commented on #53160
You are using multi-host training and the performance will be depending on multiple factors, including your network architecture, available bandwidth, system bus topology, etc. For us, It is rather difficult to provide a universally applicable tuning guide for all possible scenario.

You could start by pasting your [nccl-test](https://github.com/NVIDIA/nccl-tests) benchmark results, assuming your

[2021-11-25 08:14] SysuJayce commented on #53160
Hi @byronyi, I am currently using single host with multiple GPUs.

If I set embedding layer untrainable, everything is fine, the GPU utilization in `MultiWorkerMirroredStrategy` and `MirroredStrategy` can reach nearly 100% all the time.
But if I set embedding layer trainable, the warning appears and the GPU utilization drops as the number of GPUs increasing.

As the warning saying, `Efficient allr

[2021-11-25 08:29] tilakrayal commented on #53192
@sachinprasadhs ,
I was able to reproduce the issue in tf [v2.7](https://colab.research.google.com/gist/tilakrayal/1f2a2a9dd6b5d7d61e533d476e72c6f5/2-7-53192.ipynb), [v2.5](https://colab.research.google.com/gist/tilakrayal/bc1f649e43e2e0cff0392ff7ae4fc9a4/2-6-53192.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/9be703622882e48c696679017784b2b2/nightly.ipynb).Please find the

[2021-11-25 08:35] svobora opened #53197 "TFLite GPU - uninitialized value used in if"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 x86_64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Nope
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below):

[2021-11-25 09:12] rikardn commented on #53110
Thanks for explaining the situation.

[2021-11-25 09:17] oekosheri commented on #45397
How was this issue solved? I still have the same issue in Tensorflow 2.4. It looks like label_mode=None is not really recognized by the API.

[2021-11-25 09:17] elfringham commented on #53189
Reading the documentation at https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/Documentation/arm64/cpu-feature-registers.rst?h=v5.16-rc2 it seems that it is not possible for a user space application like TensorFlow to read the performance counters directly on AARCH64 Linux.

[2021-11-25 09:35] AlessandroFlati commented on #53062
I can confirm, also r2.7.

[2021-11-25 09:52] andreaghezzi commented on #24134
Hi everyone!!
I followed the guide on the tensorflow site for installing from source. <br>
I have performed almost all the steps and they have been successful, I miss the last one or the installation of the package, using the following instruction:
`pip install /tmp/tensorflow_pkg/tensorflow-2.8.0-cp39-cp39-macosx_11_0_x86_64.whl` but it returns the following error
**`ERROR: tensorflow-2.8.0-cp39-

[2021-11-25 10:04] sushreebarsa commented on #53197
@svobora
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),Thanks!

[2021-11-25 10:05] mohantym commented on #46234
It is still replicating in  TF 2.7 . Attaching [Gist](https://colab.research.google.com/gist/mohantym/1bda213515d9c671663c6c4fe592179a/46234.ipynb#scrollTo=MhHafWmto8nM) for reference.

[2021-11-25 10:15] franferraz98 opened #53198 "Tested TF Object Detection Models for Jetson Nano"
Hi,

I'm currently working on an AI project using an NVIDIA Jetson Nano (4GB) and TensorFlow 2 where we were planning on using a Faster R-CNN Inception ResNet V2 640x640 model. We tried using TF-TRT to reduce the network, but it seems to be too big to fit in, the vRAM memory is not big enough and using Swap doesn't solve the issue.

We have done several tests and, for the moment, the heaviest netw

[2021-11-25 10:16] mohantym commented on #46205
It is still replicating in TF 2.7. Attaching [Gist](https://colab.research.google.com/gist/mohantym/acebe3e0712983a629e878d4e5ef1b9f/untitled599.ipynb#scrollTo=Ld1i7Dou-umj) for reference. Thanks!

[2021-11-25 10:16] byronyi commented on #53160
If you are using single host, switch to mirrored strategy. Are you using NVLink/NVSwitch or PCIe for your BUS topology? It'd be helpful to set `NCCL_DEBUG=INFO` and paste the NCCL log here.

Btw, GPU utilization says little about the actual performance. Take a look at your GPU power consumption; if it is stuck on NCCL deadlock, the utilization could reach 100% while the power consumption stays rel

[2021-11-25 10:16] andreaghezzi opened #53199 "ERROR: tensorflow-2.8.0-cp39-cp39-macosx_11_0_x86_64.whl is not a supported wheel on this platform."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOs BigSur 11.1
- Python ver

[2021-11-25 10:30] zldrobit commented on #33303
I would like to chime in. I am using TensorFlow 2.7.0 to export TFLite models, the output tensor order still changes in the conversion.

[2021-11-25 10:46] #3638 closed

[2021-11-25 10:57] LouisDacquet opened #53200 "Can't use an estimator.BoostedTreesClassifier converted with TFLite"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.7

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

#### Option B: Paste your code here or provi

[2021-11-25 11:00] mohantym commented on #45592
I was able to replicate this issue in TF 2.7 too. Attaching [Gist](https://colab.research.google.com/gist/mohantym/0956a766f12c176e50b8be82f4f8fb94/45592-tf-nightly.ipynb#scrollTo=n_PBYOJXr-X-) for Reference.Thanks!

[2021-11-25 11:25] mohantym commented on #43690
Hi @Hiroshiba !
We are checking to see whether you still need help in this issue . Did you check with above [suggestion](https://github.com/tensorflow/tensorflow/issues/43690#issuecomment-911569137) yet? Thanks!

[2021-11-25 11:49] elfringham commented on #53189
It seems like the use of llvm::Intrinsic::readcyclecounter at https://github.com/tensorflow/tensorflow/blob/f37b7b1f619a424b420fcaebb7826c76a6eb9627/tensorflow/compiler/xla/service/cpu/ir_emitter.cc#L2939 is not going to work on AARCH64 Linux.

[2021-11-25 11:55] mohantym commented on #43745
Hi @jeisinge! I just made few changes according to this [thread](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Lambda#variables)  in lambda layer as below.
`ones_like_layer = keras.layers.Lambda(lambda x:K.ones_like(x), name="ones_like")` and I was able resolve this issue in 2.7. Attaching [Gis](https://colab.research.google.com/gist/mohantym/c6adf0691b30d41ad1e6050a44838c49/43745.ipy

[2021-11-25 12:00] enyecz commented on #46205
It says:

2/2 [==============================] - 13s 26ms/step - loss: 18.6861
[nan]

So yes. This is still a bug.

[2021-11-25 12:24] leandro-gracia-gil commented on #53111
@sanatmpa1

I'm happy to try providing more info, but I'm not sure what you need. I can confirm you that for me running the exact code I pasted above in TF 2.7 does show that warning among other outputs, and also the keras warning present in the gist. Could it be that the gist is simply less verbose?

Here's a more detailed output:  (I've omitted the initial lines including hostnames and available

[2021-11-25 12:36] mohantym commented on #53195
Hi @MrinalTyagi ! But There is already[ GradCAM visualization](https://keras.io/examples/vision/grad_cam/) in Keras ? Are you indicating to include everything as single method?

[2021-11-25 12:41] MrinalTyagi commented on #53195
@mohantym yeah. Currently, the user has to copy-paste the code from the website and modify it according to their model data and all that. I was thinking of the addition of a single function in utils or a new visualization section in which all these visualization techniques can be included in form of user handy functions. Would love to know your thoughts in the same.

[2021-11-25 12:42] innat commented on #49229
@rmothukuru
any update?

[2021-11-25 12:45] mohantym commented on #53198
Hi @franferraz98! Could you check out these threads for answer? [link1](https://github.com/NVIDIA-AI-IOT/tf_trt_models),[link2](https://gilberttanner.com/blog/run-tensorflow-on-the-jetson-nano),[link3](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html). For further assistance , Please raise an query either in [TF forum](https://discuss.tensorflow.org/) as there will be l

[2021-11-25 12:46] innat commented on #53195
@MrinalTyagi I like your proposal. There are some 3rd party implementations ([tf.keras viz](https://github.com/keisen/tf-keras-vis)) but to have them on core API would be great of course. However, I think such a request is more fit on [keras](https://github.com/keras-team/keras).

[2021-11-25 12:49] MrinalTyagi commented on #53195
@innat Thank you for your response. Let's see what @mohantym thinks. Will it be better to add just a method or add a separate section in TensorFlow for visualization.

[2021-11-25 12:53] MrinalTyagi commented on #53195
@mohantym like in the link @innat provided, there are multiple visualization algorithms. What I was suggesting was to like alongside utils we could add another module of visualization having all these multiple visualization algorithms.

[2021-11-25 13:04] sushreebarsa commented on #53200
@LouisDacquet `Estimators` are not recommended for new code. [BoostedTreesClassifier](https://www.tensorflow.org/api_docs/python/tf/estimator/BoostedTreesClassifier) Estimators run `v1.Session-style` code which is more difficult to write correctly, and can behave unexpectedly, especially when combined with TF 2 code.For more details please see [migration guide](https://www.tensorflow.org/guide/mig

[2021-11-25 13:32] franferraz98 commented on #53198
Thanks for the quick response. I will open a new topic on the forum, but I'm guessing that I'll need to check myself if the [supported operators](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#supported-ops) match each model and try the pure TensorRT option.

[2021-11-25 13:46] #52897 closed

[2021-11-25 13:46] #52964 closed

[2021-11-25 13:47] mohantym commented on #53195
Ok @MrinalTyagi ! Please post this issue with this clarity  on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2021-11-25 13:48] Nizarazo opened #53202 "Making tensorflow size smaller using selective registration for MacOs"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOs Monterey
- Mobile device

[2021-11-25 13:50] mohantym commented on #53198
Hi @franferraz98 !Thanks for confirming the same! Did you check the models in  [link1](https://github.com/NVIDIA-AI-IOT/tf_trt_models) too?

[2021-11-25 13:53] MrinalTyagi commented on #53195
Sure. I have updated it under keras issues.

[2021-11-25 13:54] mohantym commented on #53202
Hi @sanatmpa1! Could you please look at this issue?

[2021-11-25 13:58] piEsposito opened #53203 "Feature request: tensorflow.keras layer to let us reorder the channels on a specific dimension of a tensor"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): w.7
- Are you willing to contribute it (Yes/No):
- Yes, th

[2021-11-25 14:08] SysuJayce commented on #53160
Hi @byronyi , I did the test in a machine with P40 GPUs, but in another machine with V100 GPUs, the problem exists too.

the system env is:
[code]

the topology is:
[code]

with GPU 4-7, the NCCL_DEBUG msg is:
[code]

the nccl-test info:
[code]

[2021-11-25 14:10] albertz opened #53204 "Keras Nadam optimizer behaves different to `ApplyAdamOp` with `use_nesterov` option"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04 (but irrelevant)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary (but irrelevant)
- TensorFl

[2021-11-25 14:17] mohantym commented on #44614
Hi @marcohuber! I was able to resolve this issue by randomizing seed value . Attaching Gist in TF [2.7 ](https://colab.research.google.com/gist/mohantym/f6226fe79ea3a613ca5c794044a812aa/44614.ipynb#scrollTo=UMHAOybY7C5F)and [nightly](https://colab.research.google.com/gist/mohantym/17f98a6570db540c754553506844fd70/44614.ipynb#scrollTo=ITWRA5fO7Hco) for reference. Thank you!

[2021-11-25 14:20] mohantym commented on #53195
Ok! Could you please this issue here as It will be tracked there in Keras repo?

[2021-11-25 14:48] piEsposito commented on #53203
For instance, if we can do that on TF python API I can do that almost surely.

[2021-11-25 14:55] ebraraktas commented on #52105
Hi, are there any updates on this issue? @ethkim I think it is crucial, because it is easy to be misleaded by benchmark results of the model converted by recent tensorflow version.

[2021-11-25 15:01] giamic opened #53205 "STFT --> inverse_STFT not reconstructing the original signal when using no window"
Tensorflow is not reconstructing the original signal when applying the STFT followed by the inverse STFT when using no window. The problems arise when the frames of the STFT overlap: It seems like every frame contributes with a weight of 1 regardless of the number of overlapping frames `N = frame_size / frame_step`. As a result, the central part of the signal is `N` times larger than the original.

[2021-11-25 15:01] jvishnuvardhan commented on #35044
@workingloong Is this still an issue for you? Can you please test with recent `TF2.7` and `tf-nightly` and let us know whether the issue persists with recent TF version. Also, share a complete standalone code to reproduce the issue. Thanks!

[2021-11-25 15:30] chunduriv commented on #38211
Was able to reproduce your issue in `TFv2.7` and `Tf Nightly(2.8.0-dev20211125)`, please find the [gist here](https://colab.research.google.com/gist/chunduriv/bff1e6d60d9afaa378010747d3a7f31e/38211.ipynb#scrollTo=QZZw5cVktLNJ). Thanks!

[2021-11-25 15:39] LouisDacquet commented on #53200
@sushreebarsa Thank you for your answer. Is there a recommended way to use boosted trees with tensorflow 2 ?

[2021-11-25 15:50] jvishnuvardhan commented on #47156
@RocaVincent Is this still an issue for you? Can you please check with recent TF versions (`TF2.7` , `tf-nightly`) and let us know whether it is persisting with recent TF versions. Thanks!

[2021-11-25 15:53] sushreebarsa commented on #53200
@LouisDacquet Please have a look at the source [code](https://github.com/tensorflow/estimator/blob/master/tensorflow_estimator/python/estimator/canned/boosted_trees.py#L2256-L2381) and [migration](https://www.tensorflow.org/guide/migrate) document .Thank you!

[2021-11-25 15:58] jvishnuvardhan commented on #25120
This is a stale issue.
Based on above comments, it looks like this was resolved. I will close this issue. Please feel free to reopen if this is still an issue with recent TF lite versions. Thanks!

[2021-11-25 15:58] #25120 closed

[2021-11-25 16:02] jvishnuvardhan commented on #46684
@nixmeer Is this still an issue for you? Can you please test with recent `TF2.7` and `tf-nightly` and let us know whether the issue persists with recent TF version. Also, share a complete standalone code to reproduce the issue. Thanks!

[2021-11-25 16:10] tilakrayal commented on #53196
@rllin ,
Can you please take a look at this issues [1](https://github.com/tensorflow/tensorflow/issues/52132) [2](https://github.com/tensorflow/models/issues/8487) and [3](https://stackoverflow.com/questions/46066850/understanding-the-resourceexhaustederror-oom-when-allocating-tensor-with-shape) with the similar error.Also please try to test the code in latest tf v2.7.It helps.Thanks

[2021-11-25 16:36] tilakrayal commented on #53183
@fzyzcjy ,
Can you please refer this [link](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite) for the installation.Thanks

[2021-11-25 16:41] mohantym commented on #53205
Hi @sanatmpa1! Could you please look at this issue. It's replicating in Tf 2.5 ,2.6 and 2.7 . Attaching [Gist ](https://colab.research.google.com/gist/mohantym/7a700af1a33bc4800663adc80c71f5ae/github_53205.ipynb)for reference.

[2021-11-25 16:55] jvishnuvardhan commented on #50282
Based on error message, it looks like only double, float, half, complex64, complex128 dtypes are implemented.

[code]

Can you please open it as a feature in keras-team/keras repo as Keras development moved to that repo.

Keras development moved to another repository to focus on only keras. Could you please repost this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)

[2021-11-25 17:17] jvishnuvardhan commented on #50937
@old-school-kid The [TF doc](https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#fit) clearly mentions that it is not supported when x is a dataset

If you still need this feature, open the issue as a feature in keras-team/keras repo as Keras development moved there to focus entirely on Keras.

Keras development moved to another repository to focus on only keras. Could you pl

[2021-11-25 17:19] dxxhjk opened #53207 "Does TF now support neural network inferring on DSP ，using snapdragon 865 equipped with hexagon698"
When i run benchmark on snapdragon 865, it didn't work and said :"Could not create Hexagon delegate: platform may not support delegate or required libraries are missing". Then i checked my chip information, it was equipped with hexagon698. I read the [document](https://www.tensorflow.org/lite/performance/hexagon_delegate) that tensorflow-lite supports hexagon 690 and others, so I want to know whet

[2021-11-25 18:01] sachinprasadhs commented on #53185
Could you please provide some sample code to reproduce the mentioned behavior, Thanks!

[2021-11-25 18:08] sachinprasadhs commented on #53199
Did you try installing from this [source](https://pypi.org/project/tensorflow-macos/2.6.0/#files).

[2021-11-25 18:09] jvishnuvardhan commented on #47597
@iliaschalkidis This is more of a feature (and not a bug with TF/keras)

If you still need this feature, open the issue as a feature in keras-team/keras repo as Keras development moved there to focus entirely on Keras. Also, mention more details about your use case where you would like to have this functionality.

Keras development moved to another repository to focus on only keras. Could you plea

[2021-11-25 18:45] rllin commented on #53196
they do not look the same.  please take a closer look at my error message.  mine is specifically showing a CPU variable trying to be restored thru a GPU allocator.

When i make the CPU variables smaller and restoration works, they appear in CPU as expected.  So it seems like they trigger GPU allocation but are moved to the CPU.

[2021-11-25 18:50] ArtanBerisha1 commented on #40503
Hi @sushreebarsa ,
Thank you, I was already trying those models but I found them in TF Hub page searching for skeleton models (didn't see that the pose estimation page was updated ). These models are more accurate, but I have a question, can we train these models even more or not ?

[2021-11-25 18:50] #40503 closed

[2021-11-25 19:26] mohantym commented on #37157
Hi @anferico!
We are checking to see whether you still need help in this issue . Have you tried above [suggestion](https://github.com/tensorflow/tensorflow/issues/37157#issuecomment-640285359) yet? Please move this issue to [TF forum](https://discuss.tensorflow.org/) for further assistance. Thank you!

[2021-11-25 19:36] mohantym commented on #45346
@ddavis-2015 ! Have you checked [this thread ](https://github.com/tensorflow/tensorflow/issues/45348#issuecomment-777661482)yet ?

[2021-11-25 19:44] mohantym commented on #45274
Hi @BananaLoaf !
We are checking to see whether you still need help in this issue . Did you check with above [suggestion ](https://github.com/tensorflow/tensorflow/issues/45274#issuecomment-740495910) yet?. Thanks!

[2021-11-25 19:47] andreaghezzi commented on #53199
@sachinprasadhs  Yes but also this `pip install tensorflow-macos==2.6.0` I can't install. I need to execute this command `pip install /tmp/tensorflow_pkg/tensorflow-2.8.0-cp39-cp39-macosx_11_0_x86_64.whl` (is the command above in my question) to complete the tensorflow source installation.

[2021-11-25 19:51] #49926 closed

[2021-11-25 19:54] Sanjaygowda66 commented on #53060
Thanks for your help, It's working completely fine with v2.7

[2021-11-25 19:55] #53060 closed

[2021-11-25 19:55] mohantym commented on #45216
I was able to replicate this issue in TF 2.7 .Attaching [Gist](https://colab.research.google.com/gist/mohantym/9434e0602d92b1167766ed3940b4599c/45216.ipynb#scrollTo=ceJRIVOPfZVJ) for reference. Thanks!

[2021-11-25 20:22] mcmchammer commented on #47271
Would love to see this happen as well!

[2021-11-25 21:24] LozariaVinok commented on #26297
Hi! I am trying to implement processing from the camera using only GPU with OpenGL. I've built libtensorflowlite_gpu_gl.so

I've bound buffer like this:
 `const void *model_data =
            static_cast<void *>(env->GetDirectBufferAddress(model_buffer));
    jlong model_size = env->GetDirectBufferCapacity(model_buffer);

    TfLiteModel *model_ = TfLiteModelCreate(model_data, model_size);
    TfL

[2021-11-25 21:34] LozariaVinok opened #53209 "GPU with OpenGL implementation for Android"
Hi! I am trying to implement processing from the camera using only GPU with OpenGL. I've built libtensorflowlite_gpu_gl.so

I've bound buffer like this:
`const void *model_data =
static_cast<void *>(env->GetDirectBufferAddress(model_buffer));
jlong model_size = env->GetDirectBufferCapacity(model_buffer);

TfLiteModel *model_ = TfLiteModelCreate(model_data, model_size);
TfLiteInterpreterOptions *op

[2021-11-25 21:40] piEsposito commented on #53203
Just opened a PR on keras: https://github.com/keras-team/keras/pull/15707 .

[2021-11-25 23:27] KTRosenberg opened #53210 "Cannot build via pip on macOS ARM64 M1 Apple Silicon"
I am running macOS 11, python 3.9, and am using ARM64 hardware (Apple Silicon M1). It's a MacBook Air.

Trying to install tensor flow via pip
`pip3.9 install tensorflow-macos==2.6.0`

results in the following error:

[code]

h5py doesn't currently have a wheel available. I can install from source, for example, by installing using home-brew and the following command:
`HDF5_DIR=/opt/homebrew/Cellar/

[2021-11-26 00:08] fzyzcjy commented on #53185
@sachinprasadhs I want to know whether this is a known thing (e.g. tflite uses a hack and valgrind wrongly thinks it is a bug), or it is a bug. If it is indeed a bug, I can try to provide more details and reproducible samples or demangled stack traces, etc. But if it is a known feature and it is Valgrind who is wrong, then I do not need to spend any more time.

[2021-11-26 00:08] fzyzcjy commented on #53183
I have tried that

[2021-11-26 00:20] terryheo commented on #47271
No. The generated libtensorflowlite_c.so is self-contained so you don't need any additional libraries. So please use C API if you're not using CMake or Bazel.

[2021-11-26 00:46] #44687 closed

[2021-11-26 01:18] rllin commented on #53196
Also when using `gcr.io/deeplearning-platform-release/tf2-gpu.2-7`, I get the following error [repro_save_2_7.txt](https://github.com/tensorflow/tensorflow/files/7605694/repro_save_2_7.txt)

[2021-11-26 02:58] sachinprasadhs commented on #42750
In Tensorflow 2.7, you can see the specific error with the shape you're providing, by modifying shape the error was gone, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/89c68341991e9f7a0347b8e762ec2933/42750.ipynb) for the same and add the dimensions according to your requirement, Thanks!

[2021-11-26 02:59] daverim commented on #52854
Sorry for the delay, adding this to my to fix queue

[2021-11-26 03:12] sachinprasadhs commented on #47301
Have you tried the solution mentioned [here](https://github.com/tensorflow/hub/issues/732). Thanks!

[2021-11-26 03:16] sachinprasadhs commented on #45585
There will be floating point precision errors from Tensorflow 1.x to Tensorflow 2.x and it is not possible to get deterministic behavior from Tensorflow 1.x and Tensorflow 2.x results. The outputs will be almost close.

[2021-11-26 03:35] mohantym commented on #53210
Hi @KTRosenberg ! Could you refer these [thread ](https://developer.apple.com/metal/tensorflow-plugin/)for installation. I suggest for 2.5 branch as  2.6 branch is having some issues during model creation in MacOS. You can also build from source referring  this [link](https://www.tensorflow.org/install/source). Thanks!

[2021-11-26 03:36] sachinprasadhs commented on #44285
Could you please refer to the solutions provided in these [1](https://stackoverflow.com/questions/62744659/) & [2](https://github.com/tensorflow/agents/issues/363) links and let us know the outcome of it. Thanks!

[2021-11-26 03:42] KTRosenberg commented on #53210
Oh I see. So does this absolutely require anaconda? I'm in a challenging situation in which a few libraries I depend on entirely have to install tensorflow, so it's not simple to migrate to using conda instead of basic pip, as some of those libraries don't behave under conda.
In other words, the problem isn't just tensorflow. I'm sure the solutions you linked are great standalone. The library inte

[2021-11-26 03:42] sachinprasadhs commented on #44331
Could you please try this to get the deterministic result, https://www.tensorflow.org/api_docs/python/tf/config/experimental/enable_op_determinism.
Note: This API is new and is available in `tf-nightly`

[2021-11-26 03:48] sachinprasadhs commented on #47685
You can verify if you have followed [these](https://www.tensorflow.org/guide/migrate/validate_correctness) validate correctness steps and note that there will be still some numerical mismatch due to floating point precision errors.

[2021-11-26 03:50] mohantym commented on #47340
Hi @ogrisel ! This issue is getting resolved in TF 2.7 . Attaching [Gist](https://colab.sandbox.google.com/gist/mohantym/6e36afd8ec501642367c885cc916cd11/tensorflow-gh-47340.ipynb#scrollTo=DyvDY7N5ipBo) for reference. Thanks!

[2021-11-26 03:51] sachinprasadhs commented on #47115
Could you please check with the stable API [tf.keras.optimizers.schedules.CosineDecay](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/schedules/CosineDecay) and let us know if the issue still persists. Thanks!

[2021-11-26 04:06] sachinprasadhs commented on #39750
With the use of `tf.slice` in Tensorflow 2.7, there seems to be a huge improvement in performance, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/f25805975bb22b3ae8bd5e37ffe30bd9/39750.ipynb). Thanks!

[2021-11-26 04:06] mohantym commented on #53210
@KTRosenberg !It is always advised to test the ongoing work in virtual environments  to avoid library conflicts . But you can create virtual environment without Conda too. Attaching relevant [thread](https://www.tensorflow.org/install/pip#ubuntu) for reference .Thanks!

[2021-11-26 04:11] KTRosenberg commented on #53210
Yes I did this testing, but cannot control what others do and can only hope they’ll figure out everything.

Are the tensorflow people going to work on a simpler installation process using just pip eventually? Not everyone likes conda.

[2021-11-26 04:58] mohantym commented on #53210
@KTRosenberg ! I feel positive about that too. Feel free to close this issue if it helped. Thanks!

[2021-11-26 05:02] byronyi commented on #53160
Your bus topology is suboptimal for all-reduce between 8 GPUs across multiple NUMA nodes. Mind to share all_reduce_perf between GPU 0-3 or 4-7?

[2021-11-26 05:03] vikramdattu commented on #46684
@nixmeer @jvishnuvardhan BTW, the examples repo for Espressif solutions is now maintained at: https://github.com/espressif/tflite-micro-esp-examples

If issue still persists for you, I would request you to try out the above repo.

[2021-11-26 05:06] SysuJayce commented on #53160
Yes, that's why I use GPUs 4-7 to train my network in the above comment.

Below is the topo of another machine with V100, but the problem exists too.
[code]

[2021-11-26 05:23] tilakrayal commented on #53203
@piEsposito ,
Please feel free to close this issue here as it has been raised in Keras repo to avoid the duplicacy.Thanks!

[2021-11-26 05:38] #53210 closed

[2021-11-26 05:59] byronyi commented on #53160
Your V100 machine has NVLink.

To me that seems to be a TF related issue. Mind to share a small model training script to reproduce the issue? Thanks.

[2021-11-26 06:29] cao-nv commented on #33131
It's Nov. 2021 and I still have to use concatenation for tenser slice assignment in Tensorflow

[2021-11-26 06:33] tilakrayal commented on #53196
@sanatmpa1 ,
I have tried in colab with TF version 2.5, 2.7 and nightly version and noticed that session is being crashed. Please, find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/53ce7f0dd9d33d6c8d3f0a46ff15be63/untitled127.ipynb).

[2021-11-26 06:36] tilakrayal commented on #53207
@dxxhjk ,
In order to expedite the trouble-shooting process, could you please provide a minimal code snippet and the TensorFlow version you are using.

[2021-11-26 06:43] rllin commented on #53196
@tilakrayal this will definitely crash in a colab.

if you look at the code I am creating an embedding layer of 20 variables that take up 40 GB.  You will have to reproduce this on a machine where there is more CPU memory (RAM) than per-device GPU memory.

a little more context:
- my goal is to create a large embedding layer on CPU (RAM is more abundant and I only need to do lookups)
- and then ke

[2021-11-26 06:43] aohan237 commented on #33131
after 2 year, i still receive some updates, so i think this issue should not be marked as closed, it should be some other status.

such as , feature not supported/ not intended, but can not be marked as close

[2021-11-26 06:51] rllin commented on #53196
fwiw this problem is not reproducible if you use `memory_limit` to virtualize a setup where GPU memory < CPU memory.  so it cannot be reproduced in colab unless you connect to a GCP instance that is similar to the one I used where CPU memory > per-device GPU memory:

[2021-11-26 07:06] dxxhjk commented on #53207
I compiled the .so files and benchmark_model file from the latest code yesterday, run benchmark on my android device.

[2021-11-26 07:20] sugar52004 commented on #53187
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/saved_model/loader.h#L121
this api,i want to choose gpu for my model in one Process.

[2021-11-26 07:29] CloseChoice commented on #22479
pop doesn't help anything here, the correct way to do it is:

[code]
Tested this only for a non-sequential model.

[2021-11-26 07:33] SysuJayce commented on #53160
Hi @byronyi ,
[code]
If we save the code in `main.py`, we use an additional arg to specify the GPUs to use, each GPU idx is separated by a comma.

1. `python3 main.py 1 `

2. `python3 main.py 2,3`

3. `python3 main.py 4,5,6,7`

4. `python3 main.py 0,1,2,3,4,5,6,7 `

[2021-11-26 07:39] dxxhjk commented on #53207
In fact, I now change my device into a mobile phone with snapdargon 855 chip and run benchmark again. The result was still not good, Hexagon delegate created successfully, but it said: "Though Hexagon delegate is explicitly applied, the model graph will not be executed by the delegate."
[code]
So how can I run neural network inferring with hexagon?

[2021-11-26 08:46] #53032 closed

[2021-11-26 09:09] sushreebarsa commented on #53204
@albertz Could you please let us know if we can close this issue as we see the [PR](https://github.com/rwth-i6/returnn/pull/768) is merged? Thanks!

[2021-11-26 09:12] sonogoto commented on #52907
It was

[2021-11-26 09:16] sushreebarsa commented on #53209
@LozariaVinok Could you please refer to the [TF Lite on GPU](https://www.tensorflow.org/lite/performance/gpu_advanced) and let us know if it helps?Thank you!

[2021-11-26 09:21] albertz commented on #53204
No, this is just our workaround to avoid the Keras Nadam optimizer by copying the old Nadam optimizer code from TF 1.

Maybe you could do the same in TF 2, i.e. replace the current Keras Nadam optimizer by the old TF 1 Nadam optimizer?

[2021-11-26 09:24] albertz commented on #53204
First of all, it should be clarified what variant is better:

[code]
vs
[code]

I think the first variant is better here. So this can be just adopted in the Keras code.

[2021-11-26 09:27] albertz commented on #53204
Then, there is this difference in behavior on how `var[i]` (`var_t`) is calculated. This looks really different to me (or I oversee something). So maybe this is wrong in Keras? This should be clarified.

If this is not wrong, it should at least be clearly documented. And then there should maybe be an option to be able to use the old behavior (because in our case, the old behavior seems to work bet

[2021-11-26 09:28] albertz commented on #53204
But also further, the old TF 1 Nadam optimizer used the native TF ops (`ApplyAdamOp` etc) directly. This is probably a bit more efficient than the pure TF code in the Keras Nadam optimizer. So why not use them?

[2021-11-26 09:31] shiyalun commented on #53128
**I use this command to solve the problem, but I have a new error.**

**the new error as bellow:**

In file included from external/eigen_archive/Eigen/Core:15:
external/eigen_archive/Eigen/src/Core/util/DisableStupidWarnings.h:48:38: warning: unknown warning group '-Wimplicit-int-float-conversion', ignored [-Wunknown-warning-option]
    #pragma clang diagnostic ignored "-Wimplicit-int-float-conver

[2021-11-26 09:45] shiyalun commented on #53128
**To deal the error above, I replace 'std::make_unique' with 'absl::make_unique', but when I build,   I have a new error:**
ERROR: /private/var/tmp/_bazel_xm20200921/0cbb1a73cb22dbd58b43fa1332cd18ae/external/org_tensorflow/tensorflow/core/platform/default/BUILD:273:11: C++ compilation of rule '@org_tensorflow//tensorflow/core/platform/default:platform_port' failed (Exit 1): cc_wrapper.sh failed: e

[2021-11-26 09:46] #50321 closed

[2021-11-26 09:46] #52974 closed

[2021-11-26 10:46] #34064 closed

[2021-11-26 11:43] Okabe-Junya commented on #52672
I also get the same warning.
I am using a M1 macbook pro with Monterey OS (12.0.1).
When I create a virtual environment using miniforge3 and run the following python script in the virtual environment, the warning occurs.

[code]

[2021-11-26 11:48] #53203 closed

[2021-11-26 11:50] chunduriv commented on #38202
@Oney18, Sorry for late response.

When i tried using `CustomRadialConstraint` function [as suggested](https://github.com/tensorflow/tensorflow/issues/38202#issuecomment-762697661) by @LaurinHerbsthofer. I am able to run the code in TF2.7. Please find the [gist here](https://colab.research.google.com/gist/chunduriv/282869e019389525e962cf8e0adae82e/38202.ipynb).Thanks!

[2021-11-26 12:31] chunduriv commented on #38130
@ruipingyin, Sorry for late response.

Did you tried as suggested by @tanzhenyu to use tf.identity(weights)? Also, Many bugs have been fixed in the latest version. Can you please execute your code using `TFv2.7` and let us know if the issue still persists? Thanks!

[2021-11-26 12:40] tilakrayal commented on #52572
@araby123 ,
This issue is not related tensorflow.Please re-visit the older related issues in macOS repo, Apple discussion [forum](https://developer.apple.com/forums/) .It helps.Thanks!

[2021-11-26 13:06] chunduriv commented on #38055
@ecrows, Sorry for the late response. Is this still an issue for you?

Can you please try recent TF2.7 or tf-nightly and let us know whether it is persisting. Also, share a simple standalone code to reproduce the issue. Thanks!

[2021-11-26 13:06] LozariaVinok commented on #53209
I've read these docs. There is no info about using ssbo in input or output.
I've also used samples from #26297 . It helped me to get current results. But maybe this issue is too old.
It would be helpful if you can show me the way how to use the current library to process data on GPU from a camera without copying it. Or point me what I could do wrong in my sample

[2021-11-26 13:10] cevheck opened #53211 "Validation split does not take into account the shuffle=True argument of the tuner search method."
https://github.com/tensorflow/tensorflow/blob/80117da12365720167632761a61e0e32e4db2dcc/tensorflow/python/keras/engine/training.py#L1130

I believe I spotted a mistake in the keras tuner code. While shuffle=True is indeed the default argument, it is not taken into account when creating the train and validation set.

Hope this helps for people to come.

[2021-11-26 13:26] #53128 closed

[2021-11-26 13:33] shiyalun opened #53212 "@org_tensorflow//tensorflow/lite/toco:toco build error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: Tensorflow2.6.0
- Python version: 3.6
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: CUDA Version 10.0.

[2021-11-26 13:46] #53040 closed

[2021-11-26 14:15] byronyi commented on #53160
So using 2 GPUs the performance is more than 2x compared to using single GPU? That's weird...

[2021-11-26 14:21] Hiroshiba commented on #43690
I don't know, but let's close it!

[2021-11-26 14:21] #43690 closed

[2021-11-26 15:10] chunduriv commented on #38023
@ghost, Sorry for late response.

To use ` tf.sparse.reorder()`  input must be `SparseTensor`. Please refer attached gist. Please check the [gist here](https://colab.sandbox.google.com/gist/chunduriv/34a5fe5af0167dc552cbd193c06ad27e/untitled66.ipynb). Thanks!

[2021-11-26 15:56] mohantym commented on #26094
Hi @mat100payette!
We are checking to see whether you still need help in this issue . Have you checked this thread for installation in Ubuntu ? [link1](https://www.tensorflow.org/install/pip#ubuntu),[link2](https://www.tensorflow.org/install/source).Thanks!

[2021-11-26 16:01] mohantym commented on #29271
Hi @imransalam !
We are checking to see whether you still need help in this issue . Have you checked latest document on[ tf.hessians](https://www.tensorflow.org/api_docs/python/tf/hessians) from TF 2.7 yet? Thanks!

[2021-11-26 17:27] sanatmpa1 commented on #53180
@breadbread1984,

The reported issue mostly looks like Keras related one, So can you please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues),To know more see;[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-c

[2021-11-26 18:45] sbrl commented on #52384
I'm not sure what you're asking @Saduf2019. Can you clarify please?

[2021-11-26 18:46] #53033 closed

[2021-11-26 22:23] tomzx opened #53214 "[Docker] Tensorflow 2.4.4 images are missing from docker hub"
Tensorflow 2.4.4 has been released 25 days ago, but it appears that the docker images have not made their way to docker hub yet.

Would it be possible to investigate the problem and push the images to docker hub?

Thanks!

[2021-11-27 00:03] mohantym commented on #21745
Hi @leewyang !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Could you confirm whether issue is replicating after [migrating](https://www.tensorflow.org/guide/migrate/migrate_tf2) to 2.6 or not ? Thanks!

[2021-11-27 00:23] mohantym commented on #11085
Metal support is available now as the above [comment](https://github.com/tensorflow/tensorflow/issues/11085#issuecomment-857003736) suggests. @saeedm2020 ! Could you try again after updating your MacOS to 12.0 beta as per plugin requirement . Thanks!

[2021-11-27 00:28] mohantym commented on #22395
Hi @maxnbk!
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Could you confirm whether issue is replicating after [migrating](https://www.tensorflow.org/guide/migrate/migrate_tf2) to 2.6 or not ? Thanks!

[2021-11-27 00:32] mohantym commented on #25425
Hi @peidaqi!
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Please upgrade your code base to 2.7 and create a new issue if you need further assistance.Thanks!

[2021-11-27 00:37] mohantym commented on #13308
Hi @sjperkins !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Could you please test the issue in latest version in[ TF 2.7](https://www.tensorflow.org/install/pip) as many bug  and performance issue has been fixed in  latest versions ? Thanks!

[2021-11-27 00:54] mohantym commented on #45180
Hi @rpytel1 !
We are checking to see whether you still need help in this issue . Have you tried this issue in latest version TF 2.7 yet? Thanks!

[2021-11-27 02:26] sushreebarsa commented on #53204
@albertz
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-11-27 02:44] zhaozheng09 commented on #53169
Data confidentiality, re-fake data is too complicated

[2021-11-27 03:10] albertz commented on #53204
Well, yes, I can do that. However, this is only one aspect of the issue here.

Maybe Keras Nadam was anyway always different and the Keras team decides to not change the Keras Nadam to what TF 1 had before. In that case, this stays a TF problem: Because what I need in any case is the Nadam optimizer from TF 1.

Also, the TF op for that is anyway still there.

[2021-11-27 04:27] maxnbk commented on #22395
My issue was worked around with the `--distinct_host_configuration=false` flag and my production environment has switched to using wheels after v2.0 I believe, so I don't believe I need this solved personally. I'd still recommend that someone independently verify the issue, as single-pythonpath-entry-consumption could be an issue in any number of other environments, but not mine anymore. Do what y

[2021-11-27 05:34] SysuJayce commented on #53160
Yes, it is weird. It is really disappointing that MirroredStrategy can not handle this situation :(

If you can't reproduce this issue, ask me to provide anything you need.

[2021-11-27 06:12] sugar52004 commented on #53187
https://github.com/tensorflow/tensorflow/blob/r2.4/tensorflow/cc/saved_model/loader.h#L120
this api,i want to choose gpu for my model in one Process.

[2021-11-27 09:25] sherrylsin20 opened #53215 "TensorFlow Lite Converter changed output_shapes"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.5.0 (for model training and exporting to saved model) &  2.7.0 (for exporting to TFLite in Google Colab)

### 2. Code

Provide code to help us reproduc

[2021-11-27 13:24] Sudhan97 commented on #53191
Hi @sushreebarsa, I trained the model and converrted into TFlite format using TF v.2.7.0 it work fine with python tf interpreter api but fails in android.  When imageSegmenter.segment() method is called in Android application it crashes without raising any exceptions. I used the following dependancy in Android and referred to instruction in [link](https://www.tensorflow.org/lite/inference_with_met

[2021-11-27 14:10] OhnkytaBlabdey commented on #48230
Does this solved by anyone?
I have Bi-LSTM in my model, so every time I construct a new instance(but the old one's gpu memory can not be released)

[2021-11-27 14:54] m-ahmadi opened #53216 "Error after running `python generate2.py --output_dir=/tmp/out`"
**System information**
- OS Platform and Distribution: Windows 10 1809 build: 17763.2300
- Mobile device if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version: 2.6.0
- Python version: 3.9.7
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN v

[2021-11-27 16:22] kovkev opened #53217 "Loading dynamic library cannot find definition of a symbol"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): using google-research/language
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): installed with pip
- TensorF

[2021-11-27 16:34] raftAtGit commented on #42182
Hi @sushreebarsa, I believe this issue is not solved yet, at least not completely. Please see my post in the TensorFlow forum below.
https://discuss.tensorflow.org/t/metrics-related-predictions-must-be-1-error/6144/9

Would you reopen the issue or should I create a new one?

[2021-11-27 17:52] hyunssong commented on #23698
In my case, this was due to a mistake --
InvalidArgumentError: indices[15,28] = LARGE NEGATIVE VALUE
rather than an index out of bound issue.
This was because I was setting the embedding layer to be trainable, so fixed that part by doing
`trainable=False`

[2021-11-27 22:31] mohamedgamal7 opened #53218 "Tflite c++ inference"
`` have a tflite model for mask detection with a sigmoid layer that outputs values between 0[mask] and 1[no_mask]

I examined the input and output node using netron and here's what I got
![hih](https://user-images.githubusercontent.com/67305499/143722280-44599d76-0038-4bb0-8cbc-1ef86eb0897c.png)
:
I tested the model for inference in python and it works great.
[code]

I tried doing the same using c

[2021-11-27 22:35] moumed commented on #53053
this issue is moved to keras repo. Here is the link: https://github.com/keras-team/keras/issues/15699

[2021-11-27 22:35] #53053 closed

[2021-11-27 22:41] ulrischa commented on #6550
Where is the file?

[2021-11-27 23:09] Djhelps11 commented on #22926
Request

[2021-11-27 23:43] ddavis-2015 commented on #45346
I have not yet had a chance to test this with TF v2.6.0 as I am currently swamped with work in the tflite-micro and tflite-micro-arduino-examples repos.  But I do intend to re-test this in the coming weeks.

[2021-11-28 02:00] breadbread1984 commented on #53180
have transferred the issue here https://github.com/keras-team/keras/issues/15713

[2021-11-28 02:22] JunyoungLim commented on #53191
Hi @Sudhan97, are you using Android Studio to run the code on your device? Android Studio must have a `Logcat` tab that displays detailed error messages associated with the crash. If you can find it, can you share the error message here?

[2021-11-28 05:41] tilakrayal commented on #53183
@fzyzcjy ,
Can you please provide the error log where you are facing issue.It helps to analyse the issue.Thanks!

[2021-11-28 08:56] kupferb opened #53220 "Tensor dimension becomes None after using gather or boolean_mask in Tensorflow 2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- Windows 10 Home (19043.1348):
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Python version: 3.8.10
- CUDA/cuDNN version: 11.2
- GPU model and memory: GTX 1080 Ti (11 GB)

**Describe the current behavior**

For some

[2021-11-28 11:17] sushreebarsa commented on #42182
Hi @raftAtGit ,
Please create a new issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-11-28 11:21] sushreebarsa commented on #53220
@kupferb
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-11-28 11:39] ayoubk34 commented on #42037
i have the same problem
 ValueError: Dimension 2 in both shapes must be equal, but are 2 and 1. Shapes are [256,128,2] and [256,128,1]. for '{{node model/concatenate/concat}} = ConcatV2[N=2, T=DT_FLOAT, Tidx=DT_INT32](model/conv2d_transpose/BiasAdd, model/conv2d_3/Relu, model/concatenate/concat/axis)' with input shapes: [256,128,2,32], [256,128,1,32], [] and with computed input tensors: input[2] =

[2021-11-28 11:53] ayoubk34 opened #53221 "ValueError: Dimension 2 in both shapes must be equal, but are 2 and 1. Shapes are [256,128,2] and [256,128,1]."
i got this error :

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
/tmp/ipykernel_36/3853691934.py in <module>
      3
      4 # train model
----> 5 history = model.fit(train_dataset, epochs=1)

/opt/conda/lib/python3.7/site-packages/keras/engine/training.py in fit(self, x, y, batch_size, epoch

[2021-11-28 12:26] Murad1893 commented on #42037
concatenate on axis=2 as the third is unequal. 1 and 2. So the resultant
shape would be (x,x,3)

On Sun, 28 Nov 2021, 4:39 pm ayoubk34, ***@***.***> wrote:

[2021-11-28 12:28] Murad1893 commented on #42037
256, 128, 3, 32
On Sun, 28 Nov 2021, 5:26 pm Murad Mansoor, ***@***.***>
wrote:

[2021-11-28 12:41] ravohasina commented on #30794
Can someone help me how to install tensorflow 1.14?
I try with the command
pip install tensorflow == 1.14
and it displays :
ERROR: Could not find a version that satisfies the requirement tensorflow==1.14 (from versions: 2.5.0rc0, 2.5.0rc1, 2.5.0rc2, 2.5.0rc3, 2.5.0, 2.5.1, 2.5.2, 2.6.0rc0, 2.6.0rc1, 2.6.0rc2, 2.6.0, 2.6.1, 2.6.2, 2.7.0rc0, 2.7.0rc1, 2.7.0)
ERROR: No matching distribution found for

[2021-11-28 14:10] maye1998 opened #53222 "Why the eigenvalue output is different for tensorflow and numpy?"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-11-28 15:25] Lnazvkl opened #53223 "How can I find map@50 and ap for whole test data on tflite model?"
Hi,
is there any way to find custom trained tflite model map@50 and ap on whole test dataset?

[2021-11-28 18:22] IchiruTake opened #53224 "[Q&A] Do tf.keras.model convert numpy.ndarray to tensor for every batch?"
I currently use tensorflow 2.5 with GPU Quadro P1000. The tensorflow was built with cudatoolkit and cudnn to activate my GPU

In current, I have a large numpy array (4Gb) with np.uint8 dtype. The model was built using tf.keras.model but at every layer, the argument `dtype`, i use `np.float32` but not `tf.float32`.

Although when calling `model.fit(ndarray)`, I don't convert to `tf.Tensor` and GPU

[2021-11-28 18:40] dwyatte commented on #52973
As far as aarch64 goes, looks like a Dockerfile for building manylinux2014 wheels was recently added in https://github.com/tensorflow/tensorflow/commit/c5ae019abd2f260cf3400abcce4962c75cc5182c

I think what would be needed is official support for configuring bazel to cross-compile tensorflow for these wheels (a quick search on aarch64 shows that most of the support for aarch64 is in tflite)

[2021-11-28 22:53] hamcapem commented on #52831
@jvishnuvardhan did you have a chance to look at this?

[2021-11-29 01:56] jmgore75 commented on #52672
Had the exact same response as @Okabe-Junya.

[2021-11-29 02:56] Murtadha44 commented on #28799
This might be related:
https://keras.io/guides/serialization_and_saving/

I had a similar issue when trying to save a model with a custom layer. I had to add .numpy() to the new variable in get_config function as follows:

class rand_rotate_layer(tf.keras.layers.Layer):
    def __init__(self, batchsize=None, seg_len=None, dim=None, **kwargs):
        super(rand_rotate_layer, self).__init__(**kwarg

[2021-11-29 04:19] Rogach commented on #44331
Thank you, enable_op_determinism ensures stable results for this reproducer! Closing the issue.

[2021-11-29 04:19] #44331 closed

[2021-11-29 04:23] ddaspit commented on #52988
I installed Tensorflow 2.7 on Windows with CUDA 11.2 and cuDNN 8.1 (no conda involved). I received the same `Could not load dynamic library` errors. I switched to CUDA to 11.0 and it worked. I am guessing that the pip packages for Tensorflow 2.7 were accidentally built against CUDA 11.0 instead of 11.2.

[2021-11-29 04:30] #52979 closed

[2021-11-29 04:49] tilakrayal commented on #53211
@cevheck ,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue. Can you please elaborate about the statement. Also, please specify the Use Cases for this statement. Thanks!

[2021-11-29 05:36] sanatmpa1 commented on #53180
Thank you @breadbread1984, In this case, Can you close this issue here, as it will be followed up in `Keras` repo?

[2021-11-29 06:13] iamlockelightning commented on #23898
same issue, any possible solution?

[2021-11-29 06:21] sushreebarsa commented on #53223
@Lnazvkl
 Could you please provide more details ?
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-11-29 06:30] #53046 closed

[2021-11-29 06:30] #53050 closed

[2021-11-29 06:34] Lnazvkl commented on #53223
I have trained yolov4 on my custom dataset, then I converted weights to .pb and then to .tflite, for using on android app, now I need to test my .tflite weights on the whole test dataset to find map@50 and ap on the whole test dataset, but I don't know how I can do this?

[2021-11-29 06:49] #53180 closed

[2021-11-29 07:18] mohantym commented on #53214
Hi @sanatmpa1! Could you please look at this issue?

[2021-11-29 07:29] dxxhjk opened #53225 "Will benchmark use GPU?"
I'm running bench mark on desktop following the [guide](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/benchmark).
Will this command below use GPU?
[code]
If not, how can I run benchmark on GPU?

[2021-11-29 07:30] #53043 closed

[2021-11-29 07:30] #53052 closed

[2021-11-29 07:42] starstarb opened #53226 "RecursionError: maximum recursion depth exceeded while calling a Python object"
# 安装 TensorFlow

import tensorflow as tf
mnist = tf.keras.datasets.mnist

(x_train, y_train), (x_test, y_test) = mnist.load_data()
x_train, x_test = x_train / 255.0, x_test / 255.0
model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(input_shape=(28, 28)),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dropout(0.2),
  tf.keras.layers.Dense(10, activation='softmax')
])

[2021-11-29 08:25] old-school-kid commented on #50937
@jvishnuvardhan I suppose for the time being I have to go with @aaudiber and decide train and test split beforehand. So I guess I will close the issue.
Thank you.

[2021-11-29 08:25] #50937 closed

[2021-11-29 08:30] #53017 closed

[2021-11-29 08:33] saeedm2020 commented on #11085
I am using MacOS 12.0.1.
I followed the instruction in
https://developer.apple.com/metal/tensorflow-plugin/. I have got error
message when tried to install tensorflow-macos with pip (python -m pip
install tensorflow-macos).
Received error message:
ERROR: Could not find a version that satisfies the requirement
tensorflow-macos (from versions: none)
ERROR: No matching distribution found for tensorfl

[2021-11-29 08:35] masterholdy commented on #52587
?

[2021-11-29 08:37] mohantym commented on #53217
Hi @kovkev!
Could you please share a standalone code to reproduce this issue?

[2021-11-29 08:44] mohantym commented on #53221
Hi @ayoubk34 !
Could you please attach a standalone code to reproduce this issue?

[2021-11-29 08:47] over-shine commented on #44285
The solution may be https://github.com/tensorflow/tensorflow/issues/44285#issuecomment-742885714

[2021-11-29 08:55] tilakrayal commented on #53218
@mohamedgamal7 ,
Can you please let us know the tensorflow version you are trying?

[2021-11-29 08:57] tilakrayal commented on #53222
@maye1998 ,
 In order to expedite the trouble-shooting process, could you please provide  code in reproducible format and the TensorFlow version you are using.

[2021-11-29 09:07] mohantym commented on #53224
Hi @IchiruTake ! Yes you can use Numpy arrays in model.fit() operations directly. But I think you should convert your ndarrays to single array using reshape or numpy operation to avoid these kind of [issues.](https://stackoverflow.com/questions/42596057/keras-error-expected-to-see-1-array) You can reduce batch size to 32 or 64 to see the difference in processing time.  Please post on TF forum assi

[2021-11-29 09:10] zainulabidin302 commented on #43030
I can confirm @rjtp5670 's advice works. Thanks for the help.

[2021-11-29 09:30] #49936 closed

[2021-11-29 09:41] michal-hradis commented on #51951
I ran into similar issue and created [stackoverflow question](https://stackoverflow.com/questions/70081599/is-cpu-to-gpu-data-transfer-slow-in-tensorflow). The question includes simple benchmark code, which I hope provides fair comparison. In my test CPU to GPU transfer is 2-8x faster in PyTorch (depending on the tensor size) with similar behavior with TF 2.4 and 2.6 (on RTX 2080ti and GTX 1080ti)

[2021-11-29 10:11] yuqj1991 opened #53227 "how to run tests in the tensorflow/compiler/mlir/hlo/tests"
Hi,
could you provide sime related command case to run the cases in the tensorflow/compiler/mlir/hlo/tests/*.mlir.

thanks

[2021-11-29 10:12] leelew opened #53228 "How to remove NaN in tensor by specific values?"
Hi, I have two tensor, `a` and `b`, which have the same shape. I want to replace NaN value in `a` by corresponding value in `b`. I find `tf.tensor_scatter_nd_update` could replace value for tensor, but I don't know how to generate `indices` where to update. So how can I remove NaN in tensor?

Thanks!

[2021-11-29 10:34] laigner commented on #52672
Same, tried every "workaround" which one can found on the internet at the moment but still:
[code]

[2021-11-29 10:37] mohantym commented on #11085
@saeedm2020 ! You should run the command  `python -m pip install tensorflow-macos` after specifying tensorflow version in this command `conda install -c apple tensorflow-deps==2.6.0`  from step 1. Thanks!

[2021-11-29 10:48] RaffaeleBerzoini opened #53229 "failed call to cuInit: CUDA_ERROR_UNKNOWN: unknown error"
**System information**
- Have I written custom code: below
- OS Platform and Distribution: Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): pip install tensorflow
- TensorFlow version (use command below): 2.3.0
- Python version: 3.8.12
- CUDA/cuDNN version: release 10.1, V10.1.243
- GPU model and memory: RTX2060 Mobile 6GB

You can collect some of this information using our envir

[2021-11-29 11:30] #53056 closed

[2021-11-29 11:33] Raulpathak commented on #8854
but how can we plot the graph?

[2021-11-29 11:54] joelberkeley commented on #50681
there is something like this in [elixir-nx/xla](https://github.com/elixir-nx/xla), see [this comment](https://github.com/google/jax/issues/2861#issuecomment-920410280)

[2021-11-29 11:59] IchiruTake commented on #53224
Thank you very much. I have posted it on TF Forum. If there is any trouble, you could inform me if wanted; otherwise, just close this report. Thank you again.

[2021-11-29 11:59] #53224 closed

[2021-11-29 12:07] SysuJayce commented on #53160
@byronyi @jvishnuvardhan Hi, is there any progress? What should I do to help you solve this problem?

[2021-11-29 12:12] donglinz commented on #53229
I guess there is another process occupying GPU so your TF program cannot can find a memory segment in GPU to initialize CUDA. Just close another process and try again.

[2021-11-29 12:13] chenzhengda opened #53230 "What is the difference between tpu_driver_client.TpuBackend.create and xla_client.make_tpu_client ？"
Questions in Xla Client Module：
Why TPU has two backend entrance for xla client?
What is the difference between tpu_driver_client and xla_client?
Can I get some ideas of the design in particular?
Thanks a lot.

[2021-11-29 12:25] bkovalenkocomp commented on #53186
TFLite neural network layer quantization algorithm has parameters, that control speed of quantization vs quality of quantization, IT would be great to have these parameters exposed in api.

Use case: users can choose tradeoff between need to quantize fast with lower precision or slow quantise with good precision.

[2021-11-29 12:30] #52981 closed

[2021-11-29 12:38] RaffaeleBerzoini commented on #53229
I don't think so. I check with `nvidia-smi` and this is my output:
[code]

[2021-11-29 12:43] tilakrayal commented on #53225
@dxxhjk ,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced] or if possible share a colab gist with the issue reported.

[2021-11-29 12:50] sun2011yao opened #53231 "Error in lowering tf.Where with iree-import-tf"
I use iree-import-tf tool to convert some model, but failed, error log:
<unknown>:0: error: The following illegal operations still remain:
	tf.Where (count: 1)

[2021-11-29 12:52] ilyeser commented on #37339
Same, tensorflow==2.7.0

[2021-11-29 12:56] marcohuber commented on #44614
Hi @mohantym, Thanks for the fix!

[2021-11-29 13:01] #44614 closed

[2021-11-29 13:18] joelberkeley commented on #51634
hi @hohilwik how did it go?

[2021-11-29 13:36] heeh commented on #53138
@tilakrayal @jvishnuvardhan
Any updates on this issue?
Thank you!

[2021-11-29 13:39] sushreebarsa commented on #53229
@RaffaeleBerzoini We could see you are using TF v2.3.0 which is not actively supported ,please refer to the [comment](https://github.com/tensorflow/tensorflow/issues/52915#issuecomment-961288304).Could you please try to upgrade TF version to latest `TF v2.7.0` and refer this [tested build configurations](https://www.tensorflow.org/install/source#tested_build_configurations) ? Thanks!

[2021-11-29 13:52] sushreebarsa commented on #53226
@starstarb
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-11-29 13:56] Fohlen commented on #49905
Hey @realrunner still running into this issue and currently unable to compile Tensorflow `2.7.0`. Can you detail what it means that "XCode is not installed correctly". Tensorflow on M1 is currently **not installable** with Python 3.9

[2021-11-29 14:07] sushreebarsa commented on #53204
@albertz Thank you for the update! We see that you have mentioned the issue in [keras repo](https://github.com/keras-team/keras/issues/15710) . Could you please close this ticket as we will track the other one there? FYI 1.x is out of support window and we are supporting 2.4 and later versions.Thanks!

[2021-11-29 14:10] albertz commented on #53204
I'm not exactly sure how the Keras team decides on this. If they decide that the Keras Nadam optimizer should not be changed, then this issue stays relevant for TensorFlow itself and should not be closed.

[2021-11-29 14:44] chunduriv commented on #37818
@howl-anderson, Sorry for the late response. Is this still an issue for you?

Can you please try recent TFv2.7 and let us know whether it is persisting. Also, share a simple standalone code to reproduce the issue. Thanks!

[2021-11-29 15:05] thatdc commented on #41053
Any news on this feature? I cannot save the full model for different reasons and I must save the weights + the optimizer state (in my case SGD with decay) to continue the training process starting from a checkpoint.
I cannot figure out how to overcome the problem of saving the optimizer state without saving the whole model

[2021-11-29 15:07] realrunner commented on #49905
@Fohlen I had installed the Xcode command line tools but not the full Xcode app from the app store. Once I had that installed it compiled just fine.

[2021-11-29 16:11] ml-scripts commented on #37339
FYI I think it is a generic exception that may indicate many errors in the
code. I got it working with 2.3 eventually but unsure what needed to be
changed.

On Mon, Nov 29, 2021, 05:52 ilyeser ***@***.***> wrote:

[2021-11-29 16:14] zhaozheng09 opened #53233 "partially close xla"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-11-29 16:53] Geoyi commented on #52672
Got M1 and currently OS 12.0.1
I'm using pyenv instead of of Conda, installed tendorflow-macos and tensorflow-metal
[code]

[2021-11-29 17:22] Extremesarova commented on #42366
@sanatmpa1, hi!
I've tried everything and the inference on Android's backend doesn't work - error concerns the lack of SentencepieceOp.
But this is another issue, because this issue was about error in convertion to tf-lite - and it seems to work now.

[2021-11-29 17:31] meteorcloudy opened #53234 "Windows heap corruption caused by upgrading protobuf"
### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
     Windows

- TensorFlow version:
   At https://github.com/tensorflow/tensorflow/pull/52853

- Bazel version (if compiling from source):
  3.7.2
- GCC/Compiler version (if compiling from source):
  MSVC

### Describe the problem
This is a summary of the Windows heap corruption bug discovered when upgrading protobuf

[2021-11-29 17:32] meteorcloudy commented on #53234
FYI @r4nt @mihaimaruseac @learning-to-play

[2021-11-29 17:41] sanatmpa1 commented on #53215
@sherrylsin20,

Thanks, Can you share the saved model and tflite file with us to reproduce the issue? Thanks!

[2021-11-29 17:49] Fohlen commented on #49905
This appears to be a regression in the repository. I can build the latest master but the `2.7.0` release tag is currently broken on the M1 with the error detailed.

[2021-11-29 17:57] sanatmpa1 commented on #42366
@Extremesarova,

Thanks for the confirmation. In this case where it seems to work now, Can you close this issue and open a new one for Android backend issue, if it still persists in recent stable version?

[2021-11-29 18:06] laumecha opened #53235 "error: illegal scale: INF trying Full integer quantization"
**System information**
- OS Platform and Distribution: Ubuntu 18.04.5
- TensorFlow version: 2.7.0
- Python version: 3.9.5

**Describe the current behavior**
I am trying to quantize a model using the "Full integer quantization" guide existing in the "Post-training quantization guide".

If I try to run the Dynamic range quantization the model is quantized correctly. However, when I run the Full inte

[2021-11-29 18:35] fridex commented on #53159
To keep this updated: we will try to scope a label proposal for this till the next SIG build meeting and update this issue. Thanks a lot for cooperating on this and being open to inputs from the community.

[2021-11-29 18:35] BernardoGO opened #53236 "Weight Norm - ConverterError: input resource[0] expected type resource != bool"
Weight Norm - ConverterError: input resource[0] expected type resource != bool
### System information

-   Operating System: **Linux Ubuntu 20.04**
-   TF Version: **2.3, 2.6 or nightly**
-   Python Version: **3.6**

I'm trying to convert to TFLite a model with weight normalization. However, an error is thrown during conversion with both TOCO or MLIR.

Model:
[code]

Conversion snippet:

[code]

E

[2021-11-29 19:15] dxxhjk opened #53237 "How to use benchmark"
I want to use [benchmark tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/benchmark) to benchmark my compute graph and its individual operators.
I downloaded a Resnet50 saved_model file from tensorflow hub, then i want to frozen it into a .pb file to use benchmark tool. But i dont't know how to frozen it.
I compiled benchmark tool from the latest source code and it was a

[2021-11-29 19:16] rafariossaa opened #53238 "nasm Error when compilig for other x86_64 architecture."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Ubuntu 21.04
- Mobile device (e.g. iPhone 8, Pixel 2, Sam

[2021-11-29 19:22] jvishnuvardhan commented on #53186
@bkovalenkocomp This is more related to [TF model optimization](https://github.com/tensorflow/model-optimization/issues) tool. If possible, post it in that repository where model-optimization team is focussing on their efforts to resolve issues faster. Thanks!

[2021-11-29 19:30] #53027 closed

[2021-11-29 19:30] #21653 closed

[2021-11-29 19:30] #44069 closed

[2021-11-29 20:25] kiddyboots216 commented on #24226
sample_weight_mode still seems incompatible with any distributed strategy

[2021-11-29 20:50] GeorgeG92 commented on #33148
I have the same issue on Google Colab using a Tesla P100 (tf 2.7.0, cuda v11.1, cudnn v8), when training lstm-based seq2seq models with a preceding Masking Layer On CPU the exact same code runs fine.

[2021-11-29 21:22] janniksinz commented on #52988
Thank you, this also works with cuda-11.4. But how would you fix this issue in a notebook? For the pretty niche use case that you would need tf=2.7.0 features.

[2021-11-29 21:40] kovkev commented on #53217
It would require some work but

Git clone http://github.com/google-research/language.git

Cd language

Pip install -r language/search_agents/requirements.txt

Python3 -m language.search_agents.muzero.muzero_main

[2021-11-29 21:45] mihaimaruseac commented on #51743
Hi. Unfortunately we cannot do a cherry pick of this into TF 2.6 given the magnitude of the change and potential for breakages. Patch releases don't go through the same extensive QA process as final releases, so we're conservative in what changes get included there.

[2021-11-29 21:53] mihaimaruseac commented on #21051
Unfortunately I'm now working on this specific area but PRs are always welcome

[2021-11-29 22:01] mihaimaruseac commented on #31412
Please note that we don't see this in our CI. This points to an issue with your environment instead of the TF code itself. Can you post the output of `pip list` for example, to start the debugging process?

[2021-11-29 22:03] mihaimaruseac commented on #52657
Yes, we had to disable those tests for now to work on the release of PYthon 3.10 wheels. The tests will have to be re-enabled though, code owners have been pinged and are working on this

[2021-11-29 22:13] ali-raza-tariq commented on #39033
Hi @mohantym!

Apologies for the late response. I am no longer facing this issue but like I mentioned in the description, even before the issue was not deterministic. There was a chance it would happen although I must say that the frequency of it happening has reduced a lot and I could not figure out the reason behind it. Rightnow, I am still using tensorflow 2.1 with kubeflow 1.1 and everything i

[2021-11-29 22:13] #39033 closed

[2021-11-29 22:20] JXRiver commented on #26453
The issue should have been fixed by @edloper. The following example should work.
[code]

Note the main difference of this example with the example in the original issue is the `Tout` argument of `tf.py_function`. When `tf.py_function` returns a `CompositeTensor`, the `Tout` argument should be a subclass of `tf.TypeSpec`, i.e., `tf.RaggedTensorSpec` for a `RaggedTensor`.

See https://www.tensorflow

[2021-11-29 22:20] #26453 closed

[2021-11-29 23:06] leewyang commented on #21745
@mohantym yeah, this is really old now, and the TF2.x branch behaves differently, so feel free to close.

[2021-11-29 23:47] sachinprasadhs commented on #52348
Let's consider the below optimizer,
[code]

This optimizer will clip every component of the gradient vector to a value between –1.0 and 1.0. This means that all the partial derivatives of the loss (with regard to each and every trainable parameter) will be clipped between –1.0 and 1.0. Note that it may change the orientation of the gradient vector. For instance, if the original gradient vector is

[2021-11-29 23:53] impjdi commented on #53209
@srjoglekar246 Do we have code pointers for zero copy?

[2021-11-29 23:54] ansingh1214 commented on #53118
It'd be nice to have a response soon, as I haven't been able to resolve this issue after trying all different gcc/tensorflow versions!

[2021-11-30 00:12] hxyue1 commented on #53228
Hi,

`tf.where(tf.math.is_nan(a), b, a)` will probably do the trick.

How does it work?

`tf.math.is_nan(a)` returns a boolean array with the same shape as `a` with each element being `True` if the corresponding element in `a` is NaN and `False` otherwise.

This is then passed to `tf.where()` which replaces each `True` value in the `is_nan` result with the corresponding value in `b` and if not NaN

[2021-11-30 00:19] penpornk commented on #52544
Sorry for the late response! @cantonios has been on a long vacation. I think we can move forward with a 0.08 delta in the meanwhile. (We can revisit this later when @cantonios is back and if he thinks this needs more work.)

Would you mind sending a PR for this and tag me? Thank you very much!

[2021-11-30 00:27] Nizarazo commented on #53202
@sachinprasadhs any help would be appreciated.
Thanks

[2021-11-30 00:53] multiverse-tf commented on #53138
@impjdi, could you help with this issue? Thx!

[2021-11-30 01:09] impjdi commented on #53138
The GPU delegate hides away whether you can use OpenGL or OpenCL and does that selection under the hood.  In OpenCL, the APIs allow you to have op-level profiling numbers, but OpenGL doesn't offer this.  Thus, it's not possible to have this op-level profiling data.

If you're using OpenCL, you can play around with `//tflite/delgates/gpu/cl/testing/run_performance_profiling.sh` to get some op-level

[2021-11-30 01:09] #53138 closed

[2021-11-30 01:11] isaacgerg commented on #52348
@sachinprasadhs You should add your commentary to the documentation.

 What does global_clipnorm do?

[2021-11-30 01:30] sherrylsin20 commented on #53215
@sanatmpa1 here is the link for the models:
https://drive.google.com/drive/folders/1fkbBzg8lnPI8Hd7hNPk9S_WgHx2axge_?usp=sharing

[2021-11-30 01:36] leelew commented on #53228
Thanks! Your suggestion works perfectly!

[2021-11-30 02:16] bhack commented on #46062
Custom ops image isn't published anymore.
We have temp switched to `cr.io/tensorflow-testing/nosla-cuda11.2-cudnn8.1-ubuntu18.04-manylinux2010-multipython ` with https://github.com/tensorflow/addons/pull/2598 but we don't have a CPU image anymore.

We are also trying to use  the new image at https://github.com/tensorflow/addons/pull/2515 but also here we don't have a CPU image anymore.

We have a

[2021-11-30 02:52] bkeys opened #53239 "Linker error on TF 2.6.2"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 35
- TensorFlow install

[2021-11-30 03:02] mohantym commented on #53227
Hi @yuqj1991 ! Could you please post this query on [TF forum](https://discuss.tensorflow.org/)? Thanks!

[2021-11-30 03:05] maye1998 commented on #53222
I'm running this code on Google Colab.
- Tensorflow: 2.7.0
- Numpy: 1.19.5

import numpy as np
import tensorflow as tf

XX = np.random.randn(3, 3)
eig_value1, eig_vector1 = np.linalg.eig(XX)

YY = tf.cast(XX, dtype=tf.float32)
eig_value2, eig_vector2 = tf.linalg.eig(YY)
eig_value1,eig_value2, eig_vector1, eig_vector2

[2021-11-30 03:13] mohantym commented on #53234
Hi @sanatmpa1 ! Could you please look at  this Issue?

[2021-11-30 03:21] mohantym commented on #53230
Hi @chenzhengda ! Could you please post this query on [TF forum ](https://discuss.tensorflow.org/)? Thanks!

[2021-11-30 03:25] #53230 closed

[2021-11-30 03:29] jvishnuvardhan commented on #43627
@markodjordjic Is this still an issue for you? Can you please check with recent TF versions (`TF2.7` anmd `tf-nightly`). Thanks!

[2021-11-30 03:35] mohantym commented on #53237
Hi @dxxhjk ! You can refer this[ thread](https://www.tensorflow.org/hub/tf2_saved_model) to load models from Tensorflow models from Tensorflow hub using  [hub.Keraslayer() ](https://www.tensorflow.org/hub/api_docs/python/hub/KerasLayer)command , then train and save it in .pb format. For further assistance , Please post on [TF forum](https://discuss.tensorflow.org/). Thanks!

[2021-11-30 03:54] jvishnuvardhan commented on #43645
@innovativeC Is this still an issue for you? Can you please test with recent `TF2.7` and `tf-nightly`?

@cranedroesch i tested your code by adding [`clear_session`](https://www.tensorflow.org/api_docs/python/tf/keras/backend/clear_session)  as shown below. As Keras tracks its inputs/outputs, i think we cannot use same metric name if they are in memory. Clearing them from memory, results in better

[2021-11-30 03:56] ddaspit commented on #39751
This still does not seemed to be fixed on Windows. Should this issue be re-opened? Or should a new issue be created?

[2021-11-30 04:35] tilakrayal commented on #53228
@leelew ,
Also please take a look at this issues and link [1](https://www.tensorflow.org/api_docs/python/tf/tensor_scatter_nd_update) [2](https://stackoverflow.com/questions/55652981/tensorflow-2-0-how-to-update-tensors) and [3](https://stackoverflow.com/questions/67362672/tensorflow-2-how-to-directly-update-elements-in-tf-variable-x-at-indices) which helps to provide the more information.Thanks

[2021-11-30 04:36] tilakrayal commented on #53228
@leelew ,
Please feel free to move this issue to closed status as the issue has resolved.Thanks!

[2021-11-30 04:38] mohantym commented on #21745
Ok @leewyang ! Thanks for the confirmation.

[2021-11-30 04:38] #21745 closed

[2021-11-30 04:42] mohantym commented on #22395
Ok @maxnbk ! Thanks for confirmation. Closing this issue as it seems to be resolved from above comment.

[2021-11-30 04:42] #22395 closed

[2021-11-30 04:44] woodyza commented on #51743
Ok, yeah that full change is a lot more than I realised initially. Would a PR for just the specific loosening of the `typing_extensions` compatibility against 2.6 be something that would be entertained?

[2021-11-30 05:16] #53228 closed

[2021-11-30 05:30] #38230 closed

[2021-11-30 05:50] tilakrayal commented on #53231
@sun2011yao ,
In order to expedite the trouble-shooting process, could you please provide a code snippet and the TensorFlow version you are using.

[2021-11-30 05:51] tilakrayal commented on #53231
Also please take a look at this link [1](https://google.github.io/iree/ml-frameworks/tensorflow/#samples) and [2](https://www.tensorflow.org/api_docs/python/tf/where) which provides more information.It helps.Thanks

[2021-11-30 06:37] tilakrayal commented on #53235
@laumecha ,
In order to expedite the trouble-shooting process, could you please provide code snippet and the TensorFlow version you are using.

[2021-11-30 06:39] tilakrayal commented on #53235
Also please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/35625) and [link](https://www.tensorflow.org/lite/performance/post_training_integer_quant) with the similar error.It helps.Thanks

[2021-11-30 06:46] Abhijit16 opened #53240 "Adding GPU delegate fails for (mediapipe) Hand landmarks TFLite model in C API"
I am trying to run handlandmark TFLite model in a Visual C++ 2022 project (running it on Windows 10 desktop) and am using TensorFlowLite's C API (I have built tensorflow 2.6.0 from source & am using it's dynamic library dll linked with my project) to locate the hand landmark points, after using the palm detector model. I am using GPU delegate for both palm detector model as well as hand landmark m

[2021-11-30 07:40] fakeyee opened #53241 "iOS using TFLiteC API TfLiteInterpreterInvoke() cause memory continues increasing on Metal delegate mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):not really
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iPhone 12
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
-

[2021-11-30 08:07] penpornk commented on #51145
@liyinhgqw Currently there is no plan. But I can investigate if the issue can be fixed in the master branch. (The patch for v2.5 alone requires reverting / changing 5 commits between 2.3 and 2.5. There could be more commits after 2.5 which affects compiler optimization.)

[2021-11-30 08:09] sanatmpa1 commented on #27544
Issue still persist in `2.7.0` and also in `tf-nightly`. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/504fb0e5088b67ed27d4f16157e394ed/27544.ipynb). Thanks!

[2021-11-30 08:23] sun2011yao commented on #53231
the run command is 'iree-import-tf --tf-import-type=savedmodel_v1 -o=dlrm.mlir dlrm_model'
dlrm model comes from https://github.com/NodLabs/tensorflow-dlrm
It seems that tf->mhlo does not support where op?

[2021-11-30 08:23] sun2011yao commented on #53231
@tilakrayal

[2021-11-30 08:30] #53076 closed

[2021-11-30 08:36] HarborZeng commented on #47301
It's more like a binary executable bug rather than my python code import-related problem.

[2021-11-30 08:37] HarborZeng commented on #47301
But it does not matter anymore because it has been so many months passed..........

[2021-11-30 08:37] #47301 closed

[2021-11-30 08:44] sun2011yao commented on #53231
using the latest code of tensorflow

[2021-11-30 09:10] DUPASYoann opened #53242 "Perfect shuffle without buffer of size len(dataset)"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.7.0
- Are you willing to contribute it (Yes/No): Yes

**

[2021-11-30 09:19] laumecha commented on #53235
I am using Tensorflow version 2.7.0 installed from pip3. I am also trying to run the same quantize code as the link.
[code]

The dimensions from representative_dataset_gen corresponds to the input of the model. If I remove the dataset line the model is quantized correctly (just the weights). However, now I am trying to quantize all the layers.

[2021-11-30 09:21] kretes opened #53243 "CUDA_ERROR_ILLEGAL_ADDRESS when calling tf.debugging.assert_less using tf.uint8"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): collab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.7.0-0-gc256c07

[2021-11-30 10:30] #35214 closed

[2021-11-30 10:30] #35305 closed

[2021-11-30 10:33] mohantym commented on #44505
Hi @ashahab! I could not replicate this issue in [TF 2.7](https://colab.sandbox.google.com/gist/mohantym/72530de7578e09655aa81aacde3f63ff/44505.ipynb#scrollTo=bjsyFTE6uTy0) . Thanks!

[2021-11-30 11:18] sushreebarsa commented on #53135
@christopherclarkeSUTD
In order to reproduce the issue reported here, could you please provide the complete code and the dataset ?Thanks!

[2021-11-30 11:22] MaggieLieu commented on #53115
Hi,

Yes so the results I am expecting are like that shown here: https://uk.mathworks.com/help/images/ref/ssim.html for the local ssim map. So it's a SSIM value for each pixel rather than the mean.

I believe that it comes in the function _ssim_per_channel() where the SSIM values are computed but then it returns the global mean rather than the pixel values.

And the ssim() function

[2021-11-30 11:23] SergioG-M commented on #38803
Any update on this? If I try a custom callback I get the issue mentioned in [#43262](https://github.com/tensorflow/tensorflow/issues/43262). The only workaround I see is use the callback without validation_data in fit

[2021-11-30 11:39] bela127 commented on #37444
Sorry for my late reply,

so i run all the tests in the gist, and added one new.
the new [gist](https://colab.research.google.com/gist/bela127/d4b8bb3779e113202df2ebdb1ac9f206/github_37444.ipynb#scrollTo=OvGGjSOUJ_84).

The most phythonic test 0 now works! Perfect!

But there is still a big gap between eager and tf.function (this can be expected, as autographing is a difficult job).

The bigger is

[2021-11-30 12:27] patchmeifyoucan opened #53245 "[Feature Request] Make tf.unique operations return mask"
**System information**
- TensorFlow version (you are using): 2.7 (request independent of version)
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
tf.unique (also tf.raw_ops versions) return the indices of first occurrence for each element in a tensor as well as the unique
elements themselves. In addition, I would like the API to return a bo

[2021-11-30 12:30] #53078 closed

[2021-11-30 13:51] AlejandroBaron opened #53246 "tfhub yamnet model can't perform batch prediction"
I'm trying to use a pretrained model to extract embeddings.

Single observation
[code]

Multiple observations does not work
[code]

How can I get the output for all observations in X at once? Is this intended?

[2021-11-30 14:08] eshaoliu commented on #24003
Hi，can eager mode supported now when updating indices slices?

[2021-11-30 14:17] aviaisr opened #53247 "Quantized model demonstrates bad performance on DSP compared to CPU"
I trained the same binary segmentation model with the same architecture with TF2.2.0 vs TF2.4.0.
I converted the 2.4.0 model to a quantized TFlite and got inferior performance on DSP compared to CPU.
By inferior performance, I mean that most of the maps are empty / contain very few white pixels, while the maps on the CPU seem as expected.
The 2.2.0 model (2.2.0) showed similar results on both CPU

[2021-11-30 14:23] aviaisr opened #53248 "Same model trained with different TF versions has much less trainable parameters"
![image](https://user-images.githubusercontent.com/39811082/144064416-e751e7be-9d66-4e94-ae0f-3c495c24ffd2.png)
Hi,
I trained the same architecture with different TF versions 2.2.0 and 2.4.0 and got much less trainable parameters with 2.4.0 according to model.summary report, as you can see in the attached image. What is the reason for such a large difference?

[2021-11-30 15:15] grmnptr opened #53249 "Bazel/clang doesn't seem to find the STD libraries on MacOS."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 11.6.1 Big Sur
- Mobile

[2021-11-30 15:22] caandewiel commented on #23386
I ran into this as well and this is just to document this for any future encounters. Do not add `@com_google_protobuf//:protobuf` as a bazel dependency, but use `@com_google_protobuf//:protobuf_headers` instead. If not, you end up linking protobuf twice causing an issue that all mutable protobuf strings point to the same memory address. What happens is that the last string manipulation overwrites

[2021-11-30 16:14] IAL32 commented on #40074
Hi! I would like to contribute to this issue taking over from last year's GSOC work :)
How can I start?

[2021-11-30 16:23] sanatmpa1 commented on #53233
@zhaozheng09,

I tried reproducing the standalone code and I don't see any errors, Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/5a24cf96c2cd6cb6a88f587c568d4338/53233.ipynb). Can you take a look and clarify if I am missing something? Thanks!

[2021-11-30 16:28] sanatmpa1 commented on #53242
@DUPASYoann,

Can you please elaborate you feature request by adding more details and also can you provide an example if possible? Thanks!

[2021-11-30 16:41] sanatmpa1 commented on #53239
@bkeys,

I see that you're using GCC version 11.2.1, whereas the tested build configurations for `2.6` shows the GCC version 7.3.1. Please take a look at this[ tested build configurations](https://www.tensorflow.org/install/source#gpu) for your reference. So can you try with the configuration as per the tested ones and let us know if the issue still persists? Thanks!

[2021-11-30 17:08] markorakita commented on #53144
Sorry I thought I replied to this.

You can write code and run it and it works, but you don't have autocomplete nor you can go to declaration of any keras function. It's like writing code in notepad :)

[2021-11-30 17:09] laumecha commented on #53235
I have been able to quantize completely the Resnet50 model with the same code that I posted so I assume that the problem is with my model... my question now is: there are some layers not supported for this type of quantization?

[2021-11-30 17:27] jvishnuvardhan commented on #23054
I think this was resolved in TF2.x. I am not able to reproduce the issue with TF2.7. [Here](https://colab.research.google.com/gist/jvishnuvardhan/a4d7ad53e6bdadb6f6683b20f5255988/untitled1118.ipynb) is a gist for reference.

Output
`tf.Tensor([1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.], shape=(20,), dtype=float32)`

I am closing this issue as this was resolved. Thanks!

[2021-11-30 17:27] #23054 closed

[2021-11-30 17:30] #53006 closed

[2021-11-30 17:37] vulkomilev commented on #53248
Maybe some of the parameters are just frozen for training

[2021-11-30 17:43] srjoglekar246 commented on #53209
broader support for Zero copy interop on the TFLite side is still being designed, and will likely land in Q1 next year.
@impjdi can they use the older GPU delegate surface for this feature? I suppose that one doesnt have a Java interface? :-/

[2021-11-30 17:43] sachinprasadhs commented on #44285
If the below solution worked, could you please close the issue, Thanks!

[2021-11-30 17:44] mihaimaruseac commented on #51743
That would potentially work

[2021-11-30 17:45] vulkomilev commented on #53245
@tilakrayal I can implement this. Do you thing that it will be worth it ?

[2021-11-30 17:46] impjdi commented on #53240
[code]

This is not gonna work unless you make sufficient plumbing to enable OpenGL for your Windows desktop.  It's also not an intended use case; we haven't explored desktop usage AT ALL, only mobile GPUs (Adreno, Mali, PowerVR, and Apple iPhone GPUs), and thus don't know whether things will work or not.  We've seen the delegate used in a linux desktop with Mesa, but I personally didn't manage to

[2021-11-30 17:46] #53240 closed

[2021-11-30 17:57] connorbrinton commented on #51743
@mihaimaruseac @woodyza Since there's consideration of including this change in a 2.6 release, I went ahead and rebased my changes on the `r2.6` branch and opened a new PR here:
https://github.com/tensorflow/tensorflow/pull/53250

I would have just reopened the old PR, but I had deleted the fork, so that wasn't possible 😬

If there's a preference to more exactly match [the changes cherry-picked in

[2021-11-30 17:58] mihaimaruseac commented on #51743
Awesome. Will review and approve and merge a while later when we do patch releases.

[2021-11-30 17:59] impjdi commented on #53209
Yeah, no Java interface that I'm aware of.

[2021-11-30 18:11] ebrevdo commented on #27684
We rolled back the "safe rewrite" because, as @alextp mentioned, the assumption doesn't always hold.

In other words, this behavior is backprop working as intended!  Trying to automagically fix it breaks folks who rely on the non-safe multiply during backprop.  Closing.

[2021-11-30 18:11] #27684 closed

[2021-11-30 18:17] pierrejeambrun commented on #53246
Hi @AlejandroBaron,

It looks like the model only take a one dimensional waveform. `(num_samples,)`, then batch inference might not be available off the bat.

On the other hands your waveform will be split in "patches", and you will get as many `predictions` and `embeddings`. (1 of each for each patch).

With this in mind, an idea would be to flatten your 10 waveforms in one so they result in 10 p

[2021-11-30 18:18] grmnptr commented on #53249
Never mind, didn't manage to replicate the issue on another Mac.

[2021-11-30 18:18] #53249 closed

[2021-11-30 18:33] Tessil opened #53251 "[TFLite] Support for depth-wise 3D convolution"
Hello,

TensorFlow Lite currently supports depth-wise convolutions through ` tf.keras.layers.DepthwiseConv2D` and ` tf.nn.depthwise_conv2d` layers that are converted into TFL `DEPTHWISE_CONV_2D` operators.

Such specific layers aren't available for 3D depth-wise convolutions but the ` tf.keras.layers.Conv3D` layer has a `groups` parameter that can be set to the same number as the input channels to

[2021-11-30 18:46] rllin commented on #53196
hey @sachinprasadhs lmk if there's anything i can clarify, the repro should be very straightforward, but i can provide any necessary context, thanks!

[2021-11-30 18:49] reedwm commented on #39751
I think a new issue should be opened.

[2021-11-30 18:58] mdanatg commented on #37444
Glad to hear! Sorry I forgot to mark the bug when the fix was submitted.

For the remaining gaps (especially wrong location information in error messages), there should be some improvements in tf-nightly, and we definitely expect the error to point to the correct line - if you come across examples when that's not true, we'd appreciate filing new issues!

[2021-11-30 19:02] #53229 closed

[2021-11-30 19:47] isaacgerg opened #53254 "tf keras metrics discards imaginary part of complex input and casts to float by taking the real part when passing complex numbers to metric function"
TF 2.4.1

When using a metric that accepts complex numbers, tf keras fit ends up discarding the imaginary part of the complex number and then casts the array to real when inputting y_pred and y_true to a metric function.

It works correctly when used as a loss function.  The casting only occurs when the loss function is used as a metric.

The error is because of casting done in metrics.py on line

[2021-11-30 21:12] Jurek54321 opened #53255 "​  ​puts​ ​"I got some JSON: ​#{​push​.​inspect​}​""
https://github.com/github/platform-samples/blob/master/hooks/ruby/configuring-your-server/server.rb#L6

[2021-11-30 21:13] Jurek54321 opened #53256 "​  ​puts​ ​"I got some JSON: ​#{​push​.​inspect​}​""
https://github.com/tensorflow/tensorflow/issues/53255#issue-1067680018

[2021-11-30 21:25] LozariaVinok commented on #53209
I use tflite in NDK. So, I think I don't need a Java interface, right?

[2021-11-30 21:26] sachinprasadhs commented on #53202
Could you please post this issue in the dedicated Apple developer forum https://developer.apple.com/forums/

[2021-11-30 21:30] #52630 closed

[2021-11-30 21:31] jvishnuvardhan commented on #47370
@sparklingdew Sorry for the late response. Are you still interested in contributing? If yes, please feel free to open a PR in  [keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository.

Please note that Keras development moved to keras-team/keras repository to focus on only keras. Thanks!

[2021-11-30 21:40] sachinprasadhs commented on #53199
Could you please post this issue in the dedicated Apple developer forum https://developer.apple.com/forums/ . Thanks!

[2021-11-30 22:25] jvishnuvardhan commented on #47818
Sorry for the late response.

This is a duplicate. we can track the progress in keras-team/keras repo https://github.com/keras-team/keras/issues/15269

Please note that Keras development moved to keras-team/keras repository to focus on only keras. Thanks!

I will close this issue here and please track this feature development in keras-team/keras repo. Thanks!

[2021-11-30 22:25] #47818 closed

[2021-11-30 22:58] jvishnuvardhan commented on #48292
@JKhodadadi Is there any actionable item like raising PR?

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues). Thanks!

[2021-11-30 23:05] jvishnuvardhan commented on #36799
@PhilipMay Is there any actionable item like raising PR?

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues). Thanks!

[2021-12-01 00:08] jvishnuvardhan commented on #36298
@YusukeSuzuki Sorry for the late response. Are you still interested in contributing? If yes, please feel free to open a PR in  [keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository.

Please note that Keras development moved to keras-team/keras repository to focus on only keras. Thanks!

Idea is good. But, currently each output is associated with a loss function. If you wa

[2021-12-01 00:12] Jurek54321 opened #53258 "_7!Kn3Erz!h2A8n"
https://github.com/jerzywozniak099-gmail-com/demo-repository/issues/1#issue-1067799493

[2021-12-01 00:23] youchangkim opened #53260 "float16 constant readout doesn't match with it's original numpy array"
I tried to create float16 constant from numpy array and read it back, but the returned array doesn't match with it's original numpy array. This seems to be happening only at M1 Macs.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 11.3.1 on M1 Mac mini
- TensorFlow installed from (source or binary): Binary (tensorflow-macos)
- TensorFlow version (use comman

[2021-12-01 00:23] jvishnuvardhan commented on #31149
@mhaghighat Sorry for the late response.
Look like you are looking for the following feature.
https://www.tensorflow.org/api_docs/python/tf/config/experimental/enable_op_determinism

If you think the above is not the feature you are looking, please feel free to open a PR in  [keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository.

Please note that Keras development moved t

[2021-12-01 00:38] sachinprasadhs commented on #53207
For Snapdragon 855 it should be Hexagon 690 which is the listed supported device in the documentation.

[2021-12-01 00:48] sachinprasadhs commented on #53090
Can you try to set the visible devices in the console with `set CUDA_VISIBLE_DEVICES=0,1` and try the output.

[2021-12-01 01:30] #35415 closed

[2021-12-01 02:27] lauriebyrum commented on #38746
@impjdi : I have been testing with delegate serialization in tflite 2.7. It seems to be working well, but I have a question about your comment above "Note that the generated cache binary is not universal, i.e. it differs by mobile vendor, device, OS version, and GPU driver. So for each new model, you would have to run & generate it once on that particular user device and store it. You also need to

[2021-12-01 02:30] #44339 closed

[2021-12-01 02:30] #40787 closed

[2021-12-01 02:45] zhaozheng09 commented on #53233
please open vlog(2) @sanatmpa1, or find log in tensorflow source code .

[2021-12-01 03:27] lipracer opened #53263 "mhlo mhlo.reduce legalize to linalg"
The original issue is described [here](https://github.com/google/iree/issues/7748). mhlo.reduce with variadic operands and different types  can't lower to linalg.

**System information**
- TF Version: master branch

**Describe the current behavior**
cd tensorflow/tensorflow/compiler/mlir/hlo
append below mhlo IR to file tests/hlo-legalize-to-linalg.mlir:
[code]
and run:
[code]
result:
[code]

**De

[2021-12-01 03:49] chunduriv commented on #53255
@Jurek54321,
Please take a look at [issue](https://stackoverflow.com/questions/63870668/how-to-get-request-body-as-json-with-sinatra-in-ruby), [issue1](https://stackoverflow.com/questions/5694139/ruby-receive-and-print-json-object) may help you. Thanks!

[2021-12-01 04:12] mohantym commented on #53243
Hi @chunduriv! Could you please look at this issue? It is replicating in  2.7 through GPU mode only. Attaching Gist for reference [2.6_Gpu](https://colab.sandbox.google.com/gist/mohantym/b1292e3f89f18957c2a391082f7b38e3/tf27_debugging_cuda_error_illegal_address.ipynb#scrollTo=pE3cD4RvvfkY),[2.7_CPU](https://colab.sandbox.google.com/gist/mohantym/342925b3b14fcb486a4e2dbc9cf19ef5/tf27_debugging_cuda

[2021-12-01 04:32] mohantym commented on #53247
Hi @aviaisr!
Could you please update the template too as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-12-01 04:37] mohantym commented on #53251
Hi @Tessil !
Could you please update the template too as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-12-01 04:40] mohantym commented on #53256
@Jurek54321 ! Closing this issue as it is a duplicate to #53255 .Thanks!

[2021-12-01 04:40] #53256 closed

[2021-12-01 04:43] mohantym commented on #53263
Hi @lipracer ! Thanks for the PR #53232 .Could you please update the [template ](https://github.com/tensorflow/tensorflow/issues/new/choose)here too to track the issue in future?

[2021-12-01 04:49] kumariko commented on #41141
I could reproduce the issue with TF 2.7 .Please, find the gist [here](https://colab.research.google.com/gist/kumariko/b43baff89735a177f7944c09974cbb36/untitled91.ipynb#scrollTo=fEf-HVQKpBQi).Thanks!

[2021-12-01 04:57] chunduriv commented on #53169
@zhaozheng09, If you unable to provide necessary information, it would be difficult for us to debug the issue.

Kindly open this issue in [Tensorflow forum](https://discuss.tensorflow.org/) as there is a larger community to support. Thanks!

[2021-12-01 05:14] Saduf2019 commented on #53258
@Jurek54321
Can you fill in the issue template and let us know the issue faced, makes it easier for us to hep you.

[2021-12-01 05:21] Abhijit16 commented on #53240
@impjdi , thanks for the info....

I use the palm detector in the same code too, just above the provided snippet (that has same code for using GPU delegate; only the model name differs), & that works as desired with the GPU delegate on desktop, so I believe that this should too; could it be that the hand landmark model has something that disallows using GPU delegate ?

Could you elaborate, if poss

[2021-12-01 05:40] #44285 closed

[2021-12-01 05:42] sanatmpa1 commented on #53260
@youchangkim,

It is working fine when checked with TF `2.7.0` on colab. Here's the [gist](https://colab.sandbox.google.com/gist/sanatmpa1/f1630709d0bdf3db437a4fcd232be6f1/53260.ipynb). Since its not a bug from TF end and you also mentioned that the issue is with M1, Can you try posting your question in this [tf-metal developer forum](https://developer.apple.com/forums/tags/tensorflow-metal) of Ap

[2021-12-01 05:45] lipracer commented on #53263
Done.and My PR has been reviewed, thanks.

[2021-12-01 06:09] tilakrayal commented on #53248
@aviaisr ,
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2021-12-01 06:13] tilakrayal commented on #53248
@aviaisr ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2021-12-01 06:13] tilakrayal commented on #53248
Also Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2021-12-01 06:33] fakeyee commented on #53241
I think I have resolve the problem, I add `@autoreleasepool{}` before invoke interpreter. I will close the issue. Thank you!

[2021-12-01 06:34] #53241 closed

[2021-12-01 07:28] UsherWang opened #53266 "different convergence behavior and performance if including 2nd order gradient in loss function via two slightly different ways"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): custom code
-

[2021-12-01 07:42] RomanSteinberg commented on #52346
@pcish I would like to highlight you this [guide](https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint). It has code and suggestions you mentioned, but also suggests to use it after restore. Consider [this part](https://i.imgur.com/L5RlcKF.png).

1. Could you suggest a good way to force restoration and avoid problems I described?
2. Don't you think that `assert_consumed` should force res

[2021-12-01 07:58] tilakrayal commented on #53254
@isaacgerg ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2021-12-01 08:12] Nizarazo commented on #53202
Hi @sachinprasadhs

I don't think it is related to apple developer forum since I am talking about reducing tensorflow size using:
1. optional flags.
2. selective registration method.

Why do you think it is related to apple developer forum?

Thanks

[2021-12-01 08:14] mohantym commented on #41904
Hi @planetmarshall !
We are checking to see whether you still need help in this issue . Please create a new issue if the issue is replicating in Latest version TF 2.6 . Thanks!

[2021-12-01 08:20] AshwinJay101 opened #53267 "Allowing Input Tensors to be dynamic for Predictions when using the Subclass method for defining a model"
I am trying to write a Keras Model which implements some complex logic. That logic has been implemented in my call method

As my network layers are convolutional, my model can theoretically predict on input sizes which are different than the size I trained on. Is there any way to specify that for running Predictions on the data.

Here is the skeletal code

     class CustomModel(tf.keras.Model):

[2021-12-01 08:30] #53061 closed

[2021-12-01 08:42] terrycmchan opened #53268 "Closing as stale. Please reopen if you'd like to work on this further."
Closing as stale. Please reopen if you'd like to work on this further.

_Originally posted by @google-ml-butler[bot] in https://github.com/tensorflow/tensorflow/issues/52214#issuecomment-947901218_

[2021-12-01 08:46] terrycmchan commented on #53268
Hi,

I am also facing the exact problem.
I can do the batch inference on TF 2.4.1 but cannot do that on TF  2.6.2.

Do you have any idea?
Thank you!

Regards,
Terry

[2021-12-01 09:35] KejianCui99 commented on #52672
Guys i've had the same problem while using M1 pro:
`Metal device set to: Apple M1 Pro
2021-12-01 16:46:02.449022: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2021-12-01 16:46:02.449505: I tensorflow/core/common_runtime/pluggable_device/pl

[2021-12-01 09:35] aviaisr commented on #53247
### 1. System information

Tensor flow versions: 2.2.0 vs. 2.4.0

### 2. Code

I copied the main training lines of both training session to this notebook:
Note: 1st model trained with TF 2.2.0 :quantized tflite model demonstrates the similar segmentation outputs on CPU and DSP.
2nd model trained with TF2.4.0: quantized tflite model demonstrates bad output maps on the DSP and the results doesn’t ma

[2021-12-01 09:40] aviaisr commented on #53248
I added the main training lines for each model to this notebook. Also, I described the differences between the training config. Architecture is the same.
Regarding the dataset, I trained the model on millions of images.

https://colab.research.google.com/drive/14rghRb2-0kknbCfSnxcU3WR4mI8mL9La?authuser=1#scrollTo=TWL3gEpKIm0B

Thanks

[2021-12-01 09:44] KejianCui99 commented on #52672
I followed the installing guidance [here](https://github.com/jeffheaton/t81_558_deep_learning/tree/master/install), it's for M1 not M1 pro, I thought it would be the same but I failed.
And I haven't tried the Apple developer's instructions [here](https://developer.apple.com/metal/tensorflow-plugin/), don't know if the document is up to date.

[2021-12-01 09:50] mohantym commented on #53268
Hi @terrycmchan !
Could you please update the template too as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-12-01 09:52] chunduriv commented on #53267
@AshwinJay101, In order to expedite the trouble-shooting process, please provide standalone code snippet to reproduce the issue reported here.

[2021-12-01 09:57] chunduriv commented on #53267
Please take a look at this [issue](https://stackoverflow.com/questions/60847311/valueerror-generator-yielded-an-element-of-shape-2-200-200-3-where-an-el) with the similar error. Also, Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2021-12-01 09:57] AshwinJay101 commented on #53267
Thanks, let me do that

[2021-12-01 09:57] aviaisr commented on #53248
But why will it happen if I didn't change anything to freeze the weights?
I mainly just added weight decay regularization and changed the loss type, and of course the TF version.

[2021-12-01 10:12] mohantym commented on #32546
Hi @payne4handsome ! I was able to resolve this issue by replacing **tf.range() with range()**. Attaching [Gist](https://colab.sandbox.google.com/gist/mohantym/87dd7e3abd2540dc5b0ec6124af7d1d9/32546.ipynb#scrollTo=iT1EKzzHdWZk) for [reference](https://github.com/tensorflow/tensorflow/issues/33308).

[2021-12-01 10:26] mohantym commented on #44932
Hi @Arregator @maxkaustav ! I could not replicate this issue in 2.7 version though .Attaching [Gist](https://colab.sandbox.google.com/gist/mohantym/7272e8316d3fc5cd251487789890e340/untitled521.ipynb#scrollTo=iO67RlSsh5Pd) for reference . Thanks!

[2021-12-01 10:29] mohantym commented on #21935
Hi @hododoy !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Have you referred this [document ](https://www.tensorflow.org/lite/guide/build_arm)from TF 2.7 version yet? Thanks!

[2021-12-01 10:44] leondgarse commented on #53123
This is what I dig out from my project. Just a standalone code for reproducing, but it maybe my own case.
- This one will throw error `Non-root tuple types are not handled` in `TF 2.7.0` with `TF_XLA_FLAGS="--tf_xla_auto_jit=2`
[code]
- Just use output Dense `31` instead of `32` will work normally
[code]
- Use output Dense `32` without `metrics='acc'` also works
[code]
Yes, theses test cases all p

[2021-12-01 10:51] frgfm commented on #21051
@mihaimaruseac I just opened https://github.com/tensorflow/tensorflow/pull/53269 to address this :+1:

[2021-12-01 11:30] #53086 closed

[2021-12-01 11:37] tobidelbruck commented on #30635
If using ivy, make sure your lib does not have older versions of libtensorflow or tensorflow. Removing the older versions and using 1.15.0 resolved the problem for our java project. The ivy.xml lines we use are
[code]

[2021-12-01 11:50] kumariko commented on #25341
@dynamicwebpaige We are checking to see if you still need help on this issue. There is a high possibility that this was fixed with later TF versions. We recommend that you upgrade to 2.7 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-12-01 12:32] AshwinJay101 commented on #53267
This is a standalone script. You will notice that the model type of functional will work while the model type of subclass will fail but the model type of functional will work. The 2 models though are identical

I tested it on tensorflow2.7 as well and got a similar error. I hope that this code snippet works. I can attach the file as well if required

    import tensorflow as tf
    import numpy as

[2021-12-01 12:36] mohantym commented on #34848
@00krishna ! This issue was getting resolved after putting any random number in **steps_per_epoch and validation_steps** of last model.fit() operation. Attaching [Gist ](https://colab.sandbox.google.com/gist/mohantym/b2679fd377f26782e5308adad5d3c334/untitled28.ipynb#scrollTo=FTNA_s_K10tI)for reference. Thanks!

[2021-12-01 12:43] kumariko commented on #25357
@dynamicwebpaige Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).Also can you please elaborate about your Feature and please specify the Use Cases for this feature. Thanks!

[2021-12-01 12:47] DUPASYoann commented on #53242
Edit done !

[2021-12-01 13:07] sun2011yao opened #53270 "How to change a saved model input shape in Tensorflow?"
I have a pretrained saved model, input shape is [1, None, None, 3], i want to change model input shape to [1, 320, 320, 3], what should i do?

[2021-12-01 13:38] d0k commented on #53189
XLA's profiling feature is not going to work on ARM/AArch64 unless the system is configured to set `PMUSERENR.EN`. I think the only reasonable thing we can do for now is disabling that test on ARM.

Do you want to send a PR for that? Otherwise I can take a look.

[2021-12-01 13:48] elda27 opened #53271 "Code completion of Keras Moudle no longer work since 2.6"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 20H2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4

[2021-12-01 13:53] mahenning opened #53272 "Seemingly random TensorBoard logging error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-12-01 14:36] elfringham commented on #53189
I propose to add the same tag as suggested in #53068 to exclude the test. I will add a PR for this shortly.

This does only deal with the unit tests however. It still leaves the feature in TF and if ever anyone attempts to make use of it on AARCH64, it will fail with SIGILL which is not really that nice for the unlucky user. So if you have some idea of how best to avoid that situation, that would

[2021-12-01 14:55] AshwinJay101 commented on #53270
Have you tried looking at this [Link](https://stackoverflow.com/questions/55841854/how-to-change-a-saved-model-input-shape-in-tensorflow/55846130)

[2021-12-01 15:12] jeong-ah313 commented on #52255
Please find the problem with my code! It runs when it is set to CPU.

https://colab.research.google.com/drive/1CIGbbRqEyPEJYGnXY2TLBuj4etWLgN6Z#scrollTo=xZKG8lRxPp2z&uniqifier=2

[2021-12-01 15:19] jvishnuvardhan commented on #33675
@danieltomer @ruancomelli Sorry for the late response.  Did you test the feature for different models? Did you notice consistently better results with this feature?

Are you still interested in contributing? If yes, please feel free to open a PR in  [keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository.

Please note that Keras development moved to keras-team/keras reposit

[2021-12-01 15:40] jeong-ah313 commented on #52255
@mohantym @noxhsxrk Please find the problem with my code! It runs when it is set to CPU...

https://colab.research.google.com/drive/1CIGbbRqEyPEJYGnXY2TLBuj4etWLgN6Z?usp=sharing

[2021-12-01 15:58] aligirayhanozbay opened #53275 "Model with both complex and real weights does not work with tf.distribute.MirroredStrategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04, Debian Bullseye
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use comma

[2021-12-01 16:26] markorakita commented on #53271
It also doesn't work in PyCharm, I opened issue here #53144

At first I was using Visual Studio to write tensorflow python code, but then I switched to PyCharm because code completion was broken and I thought it was Visual Studio issue. Now I see that writing tensorflow keras code is absolutely broken in every major IDE.

I can't believe so few people are complaining about this, what IDE are other

[2021-12-01 16:47] mihaimaruseac commented on #53271
Vim :P

But coming back to the issue, I think this is due to the keras moving to a separate repository. Probably the solution would also come from there.

[2021-12-01 16:49] mihaimaruseac commented on #53255
Doesn't seem related to TF.

[2021-12-01 16:49] #53255 closed

[2021-12-01 17:23] sanatmpa1 commented on #53246
@AlejandroBaron,

If this issue is related to `yament` from `tfhub`, Can you post this issue on [tfhub repo](https://github.com/tensorflow/hub/issues)? Thanks!

[2021-12-01 17:25] jvishnuvardhan commented on #50455
@akhil14shukla Sorry for late response.

Data normalization is important for any training and for many models. AFAIK, all the models under `keras.applications` normalizes data because it results in better performance. what is your use-case and can you describe more about it.

Please note that Keras development moved to keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository

[2021-12-01 17:30] #53074 closed

[2021-12-01 17:49] srjoglekar246 commented on #38746
@lauriebyrum If you are using Android's getCacheDir as the serialization directory, then it will get cleaned automatically for OS version update. @impjdi does the GPU delegate know if the GPU driver version has been updated? In the general case, user may have to append the GPU driver version to serialization_dir to avoid incorrect cache hits.

[2021-12-01 17:52] ruancomelli commented on #33675
@jvishnuvardhan I tested it only with the models I was studying, which are simple convolutional networks like:
[code]
and some variations adding more `Conv2D` or `Dense` layers as well as changing those layers' sizes.

I noticed that using `min_delta_mode="relative"` consistently improved my models' performances because of the reasons mentioned before, but I haven't tested this exhaustively with o

[2021-12-01 18:14] akarmi commented on #53251
@jianlijianli for visibility

[2021-12-01 18:21] jvishnuvardhan commented on #33675
@ruancomelli Please submit a PR in keras-team/keras repo. Keras-team will check it and ask you to add a unit test. Thanks for your contribution. Thanks!

[2021-12-01 19:38] lauriebyrum commented on #38746
If we need to append the driver version, sample code would be very much appreciated...

[2021-12-01 19:39] lauriebyrum commented on #38746
(how bad is it if the cache doesn't get cleaned across these version updates? by any chance, does tflite ignore incompatible caches or are we going to get failures?)

[2021-12-01 19:41] jvishnuvardhan commented on #33658
@schustmi Thanks for the implementation.

@iteal Sorry for the late response. Do you think @schustmi 's custom callback will work for you?

Are you still interested in contributing? If yes, please feel free to open a PR in  [keras-team/keras repo.](https://github.com/keras-team/keras/issues) repository.

Please note that Keras development moved to keras-team/keras repository to focus on only keras

[2021-12-01 19:43] UsherWang commented on #53266
Another thing I noticed is that for prediction_bulk_r = prediction_bulk[:,0] method the gpu memcpy engine is busy while for prediction_bulk_r = prediction_bulk[:,0:1] method the gpu memcpy engine is idle, that probably explains the performance difference.

[2021-12-01 19:53] rifaadev opened #53276 "not able to Install an old version of tensorflow"
How can I install an old version of Tensorflow in conda vertual environnement? I want Tensorflow-gpu 1.4, when I attempt this command:

[code]

I see the message in attached picture.

![enter image description here][1]

When I tried `conda create -n tf_1_4 python=3.6 tensorflow-gpu=1.4` and I got this :

[code]

  [1]: https://i.stack.imgur.com/nrr6N.png

[2021-12-01 20:23] jesusdpa1 commented on #52988
This seems to solve the issue:

[code]
Edit ./etc/conda/activate.d/env_vars.sh as follows:
[code]

Edit ./etc/conda/deactivate.d/env_vars.sh as follows:

[code]

Source
----
https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#macos-and-linux