[2019-10-16 18:11] #29034 closed

[2019-10-16 18:16] jvishnuvardhan commented on #31350
@missleepless can you please check TF version you have installed? I think it is TF2.0. There is no `contrib` module in TF2.0. If you want `contrib` then install `TF1.15.0rc3`. If you have TF2.0, then you could find some of the contrib modules in the `addons` repo under `tensorflow repository`.  Thanks!

[2019-10-16 18:20] jvishnuvardhan commented on #27858
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-16 18:20] #27858 closed

[2019-10-16 18:40] njzjz commented on #32776
[code]
Do you think it is a different issue? If so, I'll create another issue.

[2019-10-16 18:49] Nephalen commented on #32950
@gowthamkpr I've tested on another supervised data set and it was similar.

The problem is, the project I'm working on is not supervised learning, as I mentioned above. For that reinforcement learning model, the training processes between TF <=1.14 and TF >=1.15 are vastly different.

There is another post stating a similar issue but I'm not sure whether its poster tested on TF 1.15 yet. [link](ht

[2019-10-16 19:03] alanhdu opened #33437 "IPython Tab Completion causes logged warnings"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below):  `.1.15.0` (git version `v1.15.0-rc3-22-g590d6ee`, `1.15.0`)
- Python version: 3.6.6

**Describe the current b

[2019-10-16 19:06] bas-aarts commented on #33360
I just tried to build TensorFlow in debug mode:
bazel build -j 24 --config=opt -c dbg //tensorflow/tools/pip_package:build_pip_package

[2019-10-16 19:16] alshedivat commented on #33125
@fchollet, what's be the best practice here?

[2019-10-16 19:16] babaish commented on #29535
yes this is because confusingly, the behavior of model.trainable is different in keras vs tf.keras: in keras it only impact the variable of the model layer, without impacting the variable of all the sub layers, contrary to what happen in tf.keras. (Is it expected to have such different behavior between keras and tf.keras??)
In the second summary, you effectively creates a new model which set model

[2019-10-16 19:18] rani-pinchuk commented on #28782
Same problem with me. If I cache on the validation data I get the same error. What do we do wrong?

[2019-10-16 19:38] anhmeow commented on #33426
With tensorflow 2.0.0, i've got the following error :
[code]

[2019-10-16 20:10] jvishnuvardhan commented on #29874
@rlewkowicz There were lots of improvements between `2.0beta` to `2.0`. I am thinking your issue might have been resolved. If possible, Check `tf-nightly` also. Thanks!

[2019-10-16 20:14] wuhy08 opened #33438 "UpSample2D INT8 quantization not supported"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (or github SHA if from source): 2.0

**Provide the text output from ~tflite_convert~ TFLiteConverter**

[code]

Also, please include a link to a GraphDef or the model if possible. (source code)

[code]

**Any other info / logs**

In

[2019-10-16 20:18] anhmeow commented on #33426
So far as a workaround, i skip the google auth, just comment the two lines :
[code]

when ever a call (like model.fit) required access to a bucket, it generates me a message like service-XYZ@cloud-tpu.iam.gserviceaccount.com doesn't have access to gs path.

I just add this account as a 'reader' of the gs and it works.

[2019-10-16 20:28] WildTangles commented on #33089
@rmothukuru
please see: https://nbviewer.jupyter.org/github/WildTangles/tf-issues/blob/master/tensorflow_bug_conversions/bug_demo.ipynb

It's the same notebook, just hosted on nbbiewer.jupyter.org.

[2019-10-16 20:32] hamatake commented on #29165
CJK conversion happens only when the user has CJK input data and they
explicitly ask for it to be decoded. I can't say how often this happens, as
there is little visibility into what data users are loading.

On Wed, Oct 16, 2019 at 3:45 AM Namrata Bhave <notifications@github.com>
wrote:

[2019-10-16 20:35] wuhy08 commented on #33397
I am not sure if I am looking at the right place.

But the error might be thrown from here: https://github.com/tensorflow/tensorflow/blob/265126ca309d9e9502ab072f033308192d1367b0/tensorflow/lite/tools/optimize/quantize_model.cc#L590

which calls `operator_property.cc` ([link](https://github.com/tensorflow/tensorflow/blob/d08bf910b3ea5d8895a07553379436ad543f2da7/tensorflow/lite/tools/optimize/opera

[2019-10-16 20:35] muxgt commented on #33426
For me it doesn't show account name, just says 'Anonymous caller':
`"message": "Anonymous caller does not have storage.objects.get access to...`

[2019-10-16 20:35] wuhy08 commented on #33438
see comment: https://github.com/tensorflow/tensorflow/issues/33397#issuecomment-542880236

[2019-10-16 20:40] turowicz commented on #6210
Ended up creating a twin VM, build there then deploy the libs to the target server.

[2019-10-16 20:46] sykeben opened #33439 "Cannot import tensorflow after installing via pip3"
**System information**
- OS Platform and Distribution: Linux Ubuntu 19.04
- TensorFlow installed from: binary
- TensorFlow version: 2.0.0
- Python version: 3.7.3
- Installed using: pip

**Describe the problem**

Installed `tensorflow` via `pip3` using `pip3 install tensorflow --user`. Any python script using `import tensorflow` or `import tensorflow as tf` fails.

**Any other info / logs**
[code]

[2019-10-16 20:55] henrysky commented on #32677
I can build Tensorflow 2.0 on CentOS 7.6 with gcc 4.8.5 without any issue, But yes I get the same error about c++14 when I was building Tensorflow 1.15.0

[2019-10-16 20:56] jvishnuvardhan commented on #33244
@Sorooshi This is intended behavior. The error clearly mentions root-cause of the issue.

This is the response from @fchollet for a [similar issue](https://github.com/tensorflow/tensorflow/issues/25036) as yours.

I am closing the issue as it was resolved. Please feel free to open a new issue if there is any other related issue. Thanks!

[2019-10-16 20:56] #33244 closed

[2019-10-16 21:17] familyguy12 commented on #33336
@jvishnuvardhan It seems that this method is working as mentioned in the [documentation](https://www.tensorflow.org/api_docs/python/tf/sparse/sparse_dense_matmul). If I understand correctly, I am supposed to modify the way sparse matrix multiplication works so that it handles the case when the first arg is of rank != 2. Is that right?

[2019-10-16 21:34] qlzh727 commented on #32987
Checked recurrent_dropout in details, it seems that the issue only occurs in implementation=2 which is the default in tf 2.0 (we changed from implementation 1 to 2 as default value). In short, the implementation 1 and 2 should be numerically same, but just be implemented differently. 1 uses more samll tensors and slide weights into individual gates, while 2 uses more bulk matmul.

The issue I beli

[2019-10-16 21:52] wangpengmit commented on #33297
Hi @ageron, your code is roughly what we have in mind for the future `tf.random.uniform` and alike, if we choose to keep them. `Generator.reset_from_non_deterministic_state` seems like a useful feature which I'll consider. I'm hesitant to make `Generator` save the initial state to support an argument-less `reset`, since for basic facilities such `Generator` we need to be careful about memory usage

[2019-10-16 22:10] ahtik commented on #33026
I'd like to add a little color on why CUDA 10.1 might be important in the context of TF 2.0 Windows builds.

We're facing the same issue as in https://github.com/tensorflow/tensorflow/issues/27706 and https://github.com/tensorflow/tensorflow/issues/27576 where it's confirmed to be a known issue with nvidia cuda 10.0 that is now fixed in 10.1 and there are no plans for backporting it to 10.0.

Our

[2019-10-16 22:24] gowthamkpr commented on #33439
Can I see your `pip3 list` ? Thanks! Also there might me many cases why you are noticing this error. Please take a look at this issue as well and check every possibility.

[2019-10-16 22:46] YichengWu commented on #32218
@rryan I added the code as you suggested (shown below). But the speed is the same with/without the following code (both are slow or fast):
[code]
Please let me know if there is anything wrong in my implementation.

The completed code is here:
[code]

[2019-10-16 22:50] jvishnuvardhan commented on #33307
@appleyuchi I looked at your code. There are multiple updates you need to do before it runs. For instance, `tpu_model.fit_generator` is not supported with TPU distribution strategy and you also need to define, compile and fit the `model` under `with strategy.scope():`. Can you please follow the [TF Resource here](https://www.tensorflow.org/guide/distributed_training) and update your code.

You cou

[2019-10-16 22:57] jvishnuvardhan commented on #30162
I could reproduce the issue. But I am not sure whether it is 100X slower or not. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/50fceaf46f18b8a772a878c399f7676c/untitled570.ipynb) is the gist. Thanks!

[2019-10-16 23:01] qlzh727 commented on #33052
Seems to be a generic performance issue for eager runtime. Adding performance expert @robieta here.

[2019-10-16 23:03] qlzh727 commented on #33052
Also note that I have tried with compile(experimental_run_tf_function=False) and still produce the same result, which indicates that somehow the slowness is caused by runtime.

[2019-10-16 23:08] ghannum commented on #25299
Is there any progress on this? I have models with lots of outputs, which were no problem in TF1.X but are now a big hassle. Not having labels for the outputs affects more than how the data is fed. As an example, the loss names now need to be rather cryptic 'output_x'. The metric callbacks are now filled with 'output_1: accuracy', 'output_2: accuracy', etc, making them rather useless for visual ins

[2019-10-16 23:11] jvishnuvardhan commented on #25365
I am closing the tracking issue as it was resolved. `TF2.0` is completely compatible with Colab. Thanks!

[2019-10-16 23:11] #25365 closed

[2019-10-16 23:15] jvishnuvardhan commented on #25222
@YuanWenqing Is this still an issue. I know this is a stale issue. I am not sure whether it was resolved or not. Could you check with recent TF versions and let us know whether the issue persists. thanks!

[2019-10-16 23:18] jvishnuvardhan commented on #24841
This is a stale issue. Please check the issue with latest TensorFlow. If the issue still persists in the newer version of TF, please feel free to reopen it by providing details about the issue and a standalone code to reproduce the issue. Thanks!

[2019-10-16 23:18] #24841 closed

[2019-10-16 23:19] yuanzhedong commented on #28788
having the same issue, can't train with data that have various lengths...

[2019-10-16 23:23] #26864 closed

[2019-10-16 23:23] qlzh727 commented on #33258
I can reproduce this issue.

Somehow I don't think its a LSTM issue since the error log didn't indicate anything about LSTM. Also when I change the LSTM layer to SimpleRNN, the issue still persists.

The other experiment I did was change "experimental_run_tf_function=False" in model.compile(), which will let model run in func graph mode, and the issue goes away. So I think there is some issue for

[2019-10-16 23:26] MarkDaoust commented on #33006
The above PR resolves these questions.

[2019-10-16 23:26] #33006 closed

[2019-10-16 23:26] artemmavrin commented on #33380
I'm having a similar issue with `tf.keras.layers.Attention` with TensorFlow 2.0.0:

[code]

Error:

[code]

I didn't want to start a new issue, but this is also preventing me from saving models with the HDF5 format.

My temporary workaround is something like the following:

[code]

Note that if I omit `custom_objects` when loading the model, I get the error

[code]

Related: #32662

[2019-10-16 23:27] cgarciae commented on #32875
In the meantime this should work:

[code]

[2019-10-16 23:40] lileicv commented on #33375
Mark

[2019-10-16 23:40] jamieaware commented on #32677
i followed the instructions in this url(https://www.softwarecollections.org/en/scls/rhscl/devtoolset-7/) to install the developer tools.
Then enabled created a python 3.6.4 virtual environment, installed the pre-reqs, installed the latest bazel, enabled the development environment so I was now using the gcc in /opt/rh/devtoolset-7/root/usr/bin/gcc. followed the instructions for configure and bazel

[2019-10-17 00:00] RockOrSomething opened #33442 "Unable to run train.py / model_main.py"
**System information**
- Windows 10
- TensorFlow installed via pip - I've tried 1.5, 1.8, 1.9, and 2.0 - all yield different error messages
- Python 3.7.4 installed, 3.5 in virtual environment
- Using conda too
- CUDA/cuDNN: N/A
- GPU model and memory: N/A, CPU only

Consistently getting error message when trying to execute train.py or model_main.py.  The latter always returns "no module named pyc

[2019-10-17 00:02] jvishnuvardhan commented on #31361
As @yongtang mentioned, this was resolved in `tf-nightly`. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/04693a821f4c3e3eef2a1b38088af9e5/untitled574.ipynb) is the gist for your reference.

I am closing the issue as it was resolved in `tf-nightly`. Please feel free to open it if the issue persists again. Thanks!

[2019-10-17 00:02] #31361 closed

[2019-10-17 00:08] jvishnuvardhan commented on #32213
@ehirdoy Did you had time to review my shared gist? Thanks!

[2019-10-17 00:09] jvishnuvardhan commented on #30636
@edwardyehuang Is this still an issue? If not, please close the issue. Thank!

[2019-10-17 00:10] jvishnuvardhan commented on #30148
@captain-pool Is this still an issue? If not, please close this issue. Thanks!

[2019-10-17 00:12] jvishnuvardhan commented on #30173
@YaroslavSchubert Is this still an issue? If not, please close this issue. Thanks!

[2019-10-17 00:45] appleyuchi commented on #33307
@jvishnuvardhan
This code is from some technical news by a small company.
it did not tell any version requirements.
So I met such problems.
Could you help me fix it?Thanks
And it seems that it is really an internal bug of Tensorflow

[2019-10-17 00:52] mukeshmithrakumar commented on #29781
hey sorry @grisaitis , I should have been more clear, the gradient of the Jacobian will give you a row-wise sum and yeah to get the correct hessian matrix you will have to take the transpose of the resulting matrix.

[2019-10-17 01:03] myy920213 opened #33445 "Delete temporary variables from memory, but maintain them on graph for back propagation."
**System information**
- TensorFlow version: 1.15

**Describe the feature and the current behavior/state.**
I'm wondering if there is any feature that allows deleting a temporary variable from memory but still keep it on the graph. For example, I'm writing a custom layer:
[code]

The tensor ```G``` and ```map``` will take large memory space here, so I want to delete these variables to free the mem

[2019-10-17 01:13] pisiiki opened #33446 "GraphKeys.BIASES variables present in losses.get_regularization_losses()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14 GPU
- Python version: 3.6
- CUDA/cuDNN version: 10.2
- GPU model and memory: 1060 ti

**Describe th

[2019-10-17 01:24] rorypeck commented on #33002
How to fix that errro in win10?

[2019-10-17 01:30] #33427 closed

[2019-10-17 01:32] kurnianggoro commented on #33426
i got similar problem yesterday but it is work now, colab team said they fixed the problem few hours ago

[2019-10-17 01:35] whhu commented on #33321
The evidence looks like irrelevant to the `collective_ops`. In our project, the accessing to global_step triggers the `re-initialization` problem, which is hard to imagine. (-\_-)!!
Many thanks for the response all the same. I will close this issue and may start a new one when we locate the problem.

[2019-10-17 01:35] #33321 closed

[2019-10-17 01:50] henrysky commented on #32677
Unfortunately I need to compile it on a shared computing server which I do not have root access :(, so I cannot really install that to fix the problem. The ideal solution for me is to modify the code so I can compile it. Since Tensorflow 2.0 can be compiled and work without c++14 for me so I guess Tensorflow 1.15 can be too.

[2019-10-17 01:54] breadbread1984 commented on #33336
the tensorflow's traditional matmul does matrix production on the last two dimensions of the two inputs. if the leading dimensions of the two inputs are not equal, matmul may broadcast the small one to the large one if plausible.

[2019-10-17 02:04] ouy160 commented on #32945
Specifically, what is the version number of tensorflow you use?

[2019-10-17 02:35] 7oud commented on #32896
@timshen91 Very useful info! Is there any sample code that use stream executor to do BLAS ops with cuBLAS. If I modify the src code to export a getter of `blas_` and use it in some custom op, will it affect releasing resource?

[2019-10-17 02:36] sykeben commented on #33439
I have checked as many issues as possible (I used to use python a lot in the past but have fallen away from it in recent years). I don’t think my recent transition from Windows 10 to Ubuntu helped either. I will reply with my `pip list` tommorow morning when I get my laptop back (I left it at school in my locker) around 8:45 EST.

[2019-10-17 02:45] DontGiveUpEasily opened #33447 "Could not satisfy explicit device specification '' because the node placed on device Device assignments active during op was colocated with a group of nodes that required incompatible device"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- I didn't write custom code
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (sou

[2019-10-17 02:53] capilano commented on #30162
@jvishnuvardhan Just to give you guys a heads up, one  can directly pass a dataset to model.fit and so multiple calls to fit are not really necessary if you are using a pipeline with only tensorflow functions for data augmentation.

[2019-10-17 02:53] YuanWenqing commented on #25222
I suppose this issue is very clear and just a typo mistake.

Look at these two files and check:

[tensorflow/compiler/tf2xla/host_compute_metadata.proto](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/tf2xla/host_compute_metadata.proto)
[tensorflow/compiler/tf2xla/tf2xla.proto](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/tf2xla/tf2xla.proto)

[2019-10-17 03:03] jakezhaojb commented on #33434
Closing.

Found input_signature to solve this.

[2019-10-17 03:03] #33434 closed

[2019-10-17 03:10] Satwato commented on #33333
@ravikyram I got to this codelab by searching for Tensorflow on this website : https://codelabs.developers.google.com/

[2019-10-17 03:17] KANGRuipeng commented on #32601
@jvishnuvardhan I know this and I have read related docs.

[2019-10-17 03:18] KANGRuipeng commented on #32601
@MarkDaoust I found this when we move our code ti TF2.0

[2019-10-17 03:40] ageron commented on #33297
Hi @wangershi ,

Thanks for your feedback. Just to be clear, are you planning to go for option 3 in my previous comment? In other words, will the new (simpler) behavior replace the old one or will they live side by side (if so, how)?

Also, I'd like to suggest providing a `set_seed()` method in the `Generator` class that calls `reset_from_seed()` if a seed is provided or `reset_from_non_determinis

[2019-10-17 03:53] gadagashwini commented on #33418
@jyh2378, Looks like code is incomplete to replicate the reported issue. Please provide the complete code. Thanks!

[2019-10-17 03:57] gadagashwini commented on #33375
@DawyD, Thanks for the workaround.
@KANGRuipeng and @lileicv  can you try the @DawyD's workaround and let us know if that helps. Thanks!

[2019-10-17 04:05] ravikyram commented on #32729
@Huixxi
I tried to reproduce the issue in colab using TF 2.0 .But i feel code is incomplete. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/a1a3199a71c49429923e563b5452eada/untitled277.ipynb). Please, help us in reproducing the issue, then it is easy for localizing the issue faster. Thanks again.!

[2019-10-17 04:14] oanush commented on #33442
@RockOrSomething ,
Hello, `AttributeError: module 'tensorflow' has no attribute 'contrib'` is faced because `contrib` is removed from latest TF-2.0 version, you need find alternatives for that using [this](https://github.com/tensorflow/addons) link. Hence you need to modify code according to TF1.X and TF2.X versions.
Can you please provide the `train.py `and `model_main.py `files or gist of colab

[2019-10-17 04:29] gadagashwini commented on #33423
I could reproduce the issue with TF 2.0.0 on colab. Please see the [gist](https://colab.sandbox.google.com/gist/gadagashwini/fd5270ec7c179952716861d70e75853e/untitled204.ipynb). Thanks!

[2019-10-17 04:33] 121eddie commented on #33200
Same error here. It appeared AFTER I had to revert to gast=0.2.2

[2019-10-17 04:34] #33380 closed

[2019-10-17 04:54] cfwin opened #33449 "WARNING:tensorflow:Entity <function layers at 0x7fdeb05e6d08> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: If not matching a CFG node, must be a block statement: <gast.gast.ImportFrom object at 0x7fde56634b38>"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-17 05:37] rryan commented on #32218
Thanks! It would need to be set as an environment variable like CUDA_DEVICE_ORDER:

[code]

[2019-10-17 05:38] shinel94 opened #33450 "What is the Const node in batch_normalization?"
use **tensorflow.layer.batch_normalization** then define the batch_normalization/Const node,
<br>
## what is this const node and how act this node in batch normal operation?

[2019-10-17 05:49] yurivict commented on #32677
FYI, The latest version of gcc is 9.2.

[2019-10-17 05:54] yurivict commented on #32677
About my OP: I abandoned the attempts to build on CentOS. CentOS is a system with very outdated and lacking packaging system. No idea how/why can it be used for development. I develop on FreeBSD.

[2019-10-17 06:02] GaranceRichard commented on #32945
on cpu :  tensorflow==2.0.0rc1
on gpu : tensorflow-gpu==2.0.0rc1

[2019-10-17 06:12] cdj0311 commented on #33339
I had the same error, have you solved ?.

[2019-10-17 06:21] luozhouyang commented on #27487
Same issue! I only installed and imported tensorflow-gpu, no pytorch!

[2019-10-17 06:31] oanush commented on #33428
Issue replicating for TF-2.0, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/84becccc850298e4e7e67e96512279b2/33428.ipynb) of colab.Thanks!

[2019-10-17 06:33] timshen91 commented on #32896
@7oud For your own debugging and understanding, it's probably fine to add a getter for blas_.

For a real solution, I suggest you to:
* Find a way to transport arbitrary data from your application to the execution of your custom op
* Create your permanent BLAS handle before executing the graph, and expose it to the custom op executor
* In the custom op executor, use the permanent BLAS handle you c

[2019-10-17 06:33] jhxing commented on #27487
Exactly the same issue here, any response?

[2019-10-17 06:38] frankchn commented on #30162
I am not surprised that the notebook is slow as the data processing is all happening on the Colab rather than the TPU system (which has much more processing power than the Colab VMs).

With the notebook, the `data` variable contains 224 x 224 x 3 x 4 (bytes/float) x 1024 = 588 MB of data, which has to be transferred per step. Transferring this amount of data over the network to the TPU + encoding

[2019-10-17 06:51] #30162 closed

[2019-10-17 06:59] gadagashwini commented on #33424
@koenhelwegen,
As per the description in [doc](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/ModelCheckpoint#arguments), `save_weights_only `is True only model weights will be saved else full model is saved. Please let me know if i misunderstood your issue. Thanks!

[2019-10-17 07:01] ravikyram commented on #33425
@racinmat
I tried reproducing the issue with TF 1.14 on colab. However i am seeing the different error.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/2f6897da2b30cbaba0bdd43ec9a84aa3/untitled279.ipynb). Thanks!

[2019-10-17 07:01] gadagashwini commented on #33403
@jnd77, Thanks for reporting the issue.
Please provide the complete code to reproduce the reported issue. Thanks!

[2019-10-17 07:04] ravikyram commented on #33430
@siyi8088

This issue is more suitable for TensorFlow Serving repo. Please post it on Serving repo from [here.](https://github.com/tensorflow/serving/issues) Thanks!

[2019-10-17 07:04] gadagashwini commented on #33179
I could reproduce the issue with nightly-py3-jupyter and latest-py3-jupyter Tensorflow docker images.

[2019-10-17 07:06] gadagashwini commented on #32927
@bionicles, Did you get a chance work on this. Thanks!

[2019-10-17 07:12] greentec commented on #33030
It didn't happen in tensorflow 2.0 alpha, but in 2.0.

`!pip install tensorflow-gpu==2.0.0` : got memory leak
`!pip install tensorflow-gpu==2.0.0-alpha` : everything's fine

[2019-10-17 07:17] ouy160 commented on #32945
I am sorry, I got the error code using tensorflow==2.0.0rc1. You can try running the demo code of tensorflow, https://tensorflow.google.cn/tutorials/load_data/images

[2019-10-17 07:18] lgggy commented on #26578
After
[code]
I got
[code]
and I can see `2.0.0a0, 2.0.0b0, 2.0.0b1` is available.
My Python3 version is 3.6.8.

Because some days ago, I've already install tensorflow(cpu) in my windows PC, and tf.__version__ is 2.0.0, and I want to install tensorflow-gpu in my linux server, if I choose to install tensorflow-gpu==2.0.0a0, it will show that tf.__version__ is 2.0.0-alpha0.

I want to know if my pip3

[2019-10-17 07:27] liyi193328 commented on #27725
What's the progress of this issue?

[2019-10-17 07:44] michelucci commented on #30994
Let me check what the status is. I am in London for a conference until Sunday, so I will have limited time. Will update this issue as soon as I can.

[2019-10-17 07:57] ravikyram commented on #33419
I have tried on colab with TF version 2.0 and was able to reproduce the issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/99e3b759bcb03008a038e49f8db272e4/untitled280.ipynb) Thanks!

[2019-10-17 07:57] SumNeuron opened #33452 "gpu-jupyter Dockerfile not compatible with docker-compose?"
I am taking the official TF image `tensorflow/tensorflow:1.15.0rc2-gpu-py3-jupyter` and trying to get it to work in a `docker-compose.yml` file.

I have the following `docker-compose.yml` file:

[code]

where `jupyter` is the directory of notebooks.

The result of `docker-compose build & docker-compose up` is:

[code]

[2019-10-17 08:01] oanush commented on #33422
Issue replicating for TF-2.0, please find the [gist](https://colab.sandbox.google.com/gist/oanush/2071cc1a42c3c1991d99da279c98b051/33422.ipynb) for the same.Thanks!

[2019-10-17 08:06] FelixHo commented on #33339
@cdj0311
No, I have not found a solution yet. I am still waiting for a response.  I can only use the old distributed strategy (Estimator + ParameterServerStrategy) at present .

[2019-10-17 08:06] oanush commented on #33407
Issue replicating for TF-1.14, please find the [gist](https://colab.sandbox.google.com/gist/oanush/3bb01b691f398c4e0763ee69609b00bc/33407.ipynb) of colab.

[2019-10-17 08:16] nanshihui commented on #13141
i got the same problem .when predit image more and more. the memory will leak

[2019-10-17 08:18] ravikyram commented on #33411
@emla2805

Looks like code is incomplete. Can you please help us with reproducible code .It will be easy for localizing the issue faster.Thanks!

[2019-10-17 08:19] gadagashwini commented on #33437
@alanhdu,
I tried to replicate the issue on Ipython IDE 7.8.0. But it worked as expected.
Please look at the screenshot below.
![Screenshot from 2019-10-17 13-46-55](https://user-images.githubusercontent.com/48476109/66990995-d8156000-f0e4-11e9-999b-61c34b08bbca.png)

[2019-10-17 08:23] nanshihui commented on #5785
any volunteer? 3s a picture. tooo slow

[2019-10-17 08:25] gadagashwini commented on #33437
I could reproduce the issue on Ipython with Tf 1.15.0. Thanks!
![Screenshot from 2019-10-17 13-55-35](https://user-images.githubusercontent.com/48476109/66991503-d1d3b380-f0e5-11e9-976d-b8ab5c5fe842.png)

[2019-10-17 08:34] gadagashwini commented on #33431
@dbl001, Please include `./configure` output. Thanks!

[2019-10-17 08:35] oanush commented on #33408
@janwendt ,
Hi,This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
You can also refer this link related to [LSTM time series with mixed frequency data](https://stats.stackexchange.com/questions/210930/lstm-time-series-with-mixed-frequency-data)

[2019-10-17 08:35] humcasma opened #33453 "tf.print operations inside tf.function do not print in order"
**System information**
Tensorflow-gpu 2.0.0 installed via `pip install tensorflow-gpu` in a Colaboratory notebook.

**Describe the current and expected behavior**
In https://www.tensorflow.org/guide/function#side_effects one can read that `tf.print` operations inside `tf.function` will execute in order. This seem, indeed , to be the case. However, while operations are executed in order, the printe

[2019-10-17 08:52] koenhelwegen commented on #33424
Yes, so I would like to set `save_weights_only=False`, but then loading the model fails (see 2nd and 4th output above).

[2019-10-17 08:57] ravikyram commented on #33400
@chris-opendata

Can you please fill the issue template.Can you please elaborate about the issue & the context.Will it be possible to provide simple standalone code, then it is easy for localizing the issue faster. Thanks!

[2019-10-17 09:08] rajeeja commented on #32139
still doesn't work after installing rc0

[2019-10-17 09:08] ravikyram commented on #33412
@saintthor
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-10-17 09:12] dbl001 commented on #33431
(ai) ubuntu@ip-10-0-1-71:~/tensorflow$ ./configure
WARNING: --batch mode is deprecated. Please instead explicitly shut down your Bazel server using the command "bazel shutdown".
You have bazel 0.26.1 installed.
Please specify the location of python. [Default is /home/ubuntu/anaconda2/envs/ai/bin/python]:

Found possible Python library paths:
  /home/ubuntu/anaconda2/envs/ai/lib/python3.6/site-pack

[2019-10-17 09:16] joar commented on #33411
@ravikyram Running the code in "Code to reproduce the issue" reproduces the issue for me.

Maybe it wasn't clear from the original report that tensorflow had been installed through `pip install tf-nightly`? e.g.

1. Create new Python 3.6 virtualenv.
2. Run
[code]
3. Run the example code in the original report

[2019-10-17 09:19] oanush commented on #33358
@JoshEZiegler ,
I tried with versions [2.0](https://colab.sandbox.google.com/gist/oanush/0f34ce19865eba4c3da1b4447e333f33/2-0.ipynb), [2.0rc1](https://colab.sandbox.google.com/gist/oanush/7820ba5760b80c49c4b425c1125e7faf/2-0rc1.ipynb),[2.0rc2 ](https://colab.sandbox.google.com/gist/oanush/a7d5efe15ba9653866dbf7350a5f4bee/2-0rc2.ipynb)and didn't face any error. Please find gist of colab for respect

[2019-10-17 09:22] fchouteau opened #33454 "[1.15]Discrepancy between documentation & behaviour in tf.keras.Model.Save"
## URL(s) with the issue:

In the 1.15 changelog:

https://github.com/tensorflow/tensorflow/releases/tag/v1.15.0

In the 1.15 docstring:
https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/keras/Model#save

overwrite any existing file at the target location, or provide the user with a manual prompt. include_optimizer: If True, save optimizer's state together. save_format: Either 'tf' or '

[2019-10-17 09:22] scauglog opened #33455 "Can't create Tensor from java buffer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: 1.13.1 (maybe 1.14 and 2.0)

**Describe the current behavior**
when you create a `java.nio.buffer` and fill it with data you can't use it to create `Tensor` with shape

[2019-10-17 09:24] rmothukuru commented on #33407
@shashankg7,
The problem might not be because of Eager Execution because, when I executed the command, `tf.executing_eagerly()`, it resulted in `False`. So, the problem might be something else.

Are you just executing One of the Examples of Tensorflow Probability. If so,can you please let us know which example are you trying out from Tensorflow Probability, so that we can dig deeper, and if needed

[2019-10-17 09:25] cefengxu commented on #24974
using the command below to build  tensorlfow.dll of Release for windows

however, debug still could not be resolved.

[2019-10-17 09:27] yeyupiaoling opened #33456 "happen error：ERROR: Config value opt is not defined in any .rc file"
# Environment
Ubuntu 16.05
tensorflow r1.14
bazel 0.24.1

# Problem
I transform the model using the following command, [documentation](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md)
[code]

error logs:
[code]

How do I transform the model to tensorflow lite.

[2019-10-17 09:29] ravikyram commented on #33361
@sayakpaul
I tried reproducing the issue in colab and Jupyter notebook.However i am getting the below error message `error.NameError: name 'X' is not defined`.Thanks!

[2019-10-17 09:53] racinmat commented on #33425
Yes, my bad, it is fixed now in the gist and produces the abovementioned error.

[2019-10-17 10:20] sayakpaul commented on #33361
What code are you using? You should be using the following:

[code]

[2019-10-17 10:21] saintthor commented on #33412
I tested with a simple code as:

`
import tensorflow as tf
from time import sleep
Model = tf.keras.models.load_model( 'models/mo_fghijk' )
print( 'loaded' )
sleep( 30 )
`

It takes 13.9% memory run by py3.7 and 10.8% by py3.5. the gap is not so much as running my real code. but it is obvious.

[2019-10-17 10:35] attendfov commented on #33320
# Upgrade tf to version 2.0.0. Run the previous ocr to identify the training program, which is exactly the same as the previous problem. During the running process, there are warnings and errors: the ignore_longer_outputs_than_inputs flag does not see the parameters that need to be passed in the ctc_loss interface of tf2.0. The specific running logs are as follows:

2019-10-17 18:29:03.329901: I t

[2019-10-17 10:42] jharaldson commented on #32159
Is there any type of workaround for this? Running Ray and TF 2.0 and now facing this issue. Would be great to see a fix for this any time soon, rather than next year.

[2019-10-17 11:14] babaish opened #33459 "resnet50 imagenet weights are differents in tf.keras vs keras"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): win10, pycharm (same issue from colab)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pycharm
- TensorFlow version (use

[2019-10-17 11:15] patzm commented on #32736
@angerson: quick ping regarding the latest 1.15 release. Was this also skipped due to latest pointing to 2.0?

[2019-10-17 11:22] #33455 closed

[2019-10-17 11:44] Shubham3101 commented on #32285
Hello Everyone

I am still facing this issue with stable release of tensorflow-2 i.e tf-2.0.0.

Also, I am unable to use "model.summary()" after loading the model. It gives error:

**You tried to call `count_params` on Image_input, but the layer isn't built. You can build it manually via: `Image_input.build(batch_input_shape)`**

[2019-10-17 11:45] oanush commented on #32641
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-17 11:45] #32641 closed

[2019-10-17 11:47] Shubham3101 commented on #32285
@k-w-w Can you reopen this issue?

[2019-10-17 11:50] oanush commented on #26401
@cjqw ,
Hi, can you please check if the issue exists in latest version of the TF? Thanks!

[2019-10-17 12:01] rmothukuru commented on #33087
@arthurflor23,
More information will surely be helpful as the error couldn't be reproduced with the present information. Thanks!

[2019-10-17 12:09] chengmengli06 opened #33462 "A question on ctc implementation"
I have a question on ctc implementation here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/ctc/ctc_loss_calculator.h#L500
why the gradient is set to y instead of zero when no valid path is found?

[2019-10-17 12:16] wangershi commented on #33297
@ageron Your @ not me :)

[2019-10-17 12:27] tessy1234 commented on #33266
![dependencies_snapshoot](https://user-images.githubusercontent.com/41914070/67006301-1743b100-f0e5-11e9-8ef8-fbad49502b0f.jpg)

Run Dependencies(Dependency walker):
------------------------------------
resource:
https://github.com/lucasg/Dependencies/releases/download/v1.9/Dependencies_x64_Release.zip
run:
C:\run\dependencies\DependenciesGui.exe

open file:
C:\Anaconda3\envs\tensorflow2_env\Lib\s

[2019-10-17 12:32] anhmeow commented on #33426
i confirm, it's solved !

[2019-10-17 12:32] #33426 closed

[2019-10-17 12:44] sykeben commented on #33439
Here is the output from `pip3 list` on my machine:
[code]

[2019-10-17 12:47] saintthor commented on #33412
with psutil:
`import psutil
import os
print( 'start', psutil.Process(os.getpid()).memory_info())
import tensorflow as tf
print( 'imported', psutil.Process(os.getpid()).memory_info())
Model = tf.keras.models.load_model( 'models_1/mo_fghijk' )
print( 'loaded', psutil.Process(os.getpid()).memory_info())
`
py3.5
start pmem(rss=12574720, vms=46747648)
imported pmem(rss=234987520, vms=1003446272)
loaded

[2019-10-17 12:51] Mana-M opened #33463 "Undefined symbols for architecture arm64: "NewGpuDelegate(GpuDelegateOptions const*)"
System information

    Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.6
    Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iPhone X.s, 13.1.3
    TensorFlow installed from (source or binary): source
    TensorFlow version (use

[2019-10-17 13:06] antofara opened #33464 "TFLite-micro: AllocateTensors produces HardFault even for small models"
I am deploying a model consisting of a GRU with 128 input units and 64 Hidden units (total 37,056 parameters) on the following platform:
NRF52832 Arm cortex M4, with 64 KB ram and 512 KB FLASH.

To build the tflite model I follow the steps below:
[code]
and I convert it to a c++ array with
`xxd -i gruQ.tflite > gruQ.h`

On the embedded platform:
[code]

The last line of code generates a HardFault

[2019-10-17 13:07] pzobel commented on #32809
Have you made any progress yet? What do you expect when the feature will be available (in the nightly builds)?

[2019-10-17 13:38] jyh2378 commented on #33418
@gadagashwini This is my full code:

[code]

[2019-10-17 13:40] saintthor commented on #33412
In my real code, the model is not used frequently. I get the data once every 5 minutes, predict, then sleep to next time.
The model file stored on the disk is only 4MB. I hope there is a minimum loading mode to save the memory even run slower.

[2019-10-17 13:56] shahriar49 opened #33465 "Padded_batch with pre- or post-padding option"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12.2
- Are you willing to contribute it (Yes/No): No

**

[2019-10-17 14:10] arunumd commented on #33255
@gadagashwini After running through a bunch of problems with tensorflow during initial development stage, we felt it was better to look for another reliable API. Hence we made a decision to move to PyTorch. I will be glad to look into this problem again later when I will have time. For now the issue is not resolved.

[2019-10-17 14:16] dennis-ec commented on #33422
Trying a custom Layer instead of the Lambda Layer results in the same error:
[code]

[2019-10-17 14:30] stefan-falk opened #33467 "tf.range is not equivalent to np.arange"
`tensorflow-gpu==1.12.3`

[The docs](https://www.tensorflow.org/versions/r1.12/api_docs/python/tf/range#numpy_compatibility) state about `tf.range`:

But:

[code]

Outputs:

[code]

[2019-10-17 14:37] AlexMar1 opened #33468 "Current thread 0x00004514 (most recent call first):"
(tensorflow1) C:\Users\Юрий\Desktop\models-master\research\object_detection>python generate_tfrecord.py --csv_input=images\train_labels.csv --image_dir=images\train --output_path=train.record
2019-10-17 20:28:23.110602: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_100.dll
C:\Python 3.7\anaconda\envs\tensorflow1\lib\site-packages\h5py\

[2019-10-17 14:39] awav commented on #26033
@reedwm , any updates on that?

[2019-10-17 14:47] whhu opened #33469 "Simultaneous fetching of collective_ops and global_step triggers "Skipping rendezvous re-initialization""
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux CentOS 7.6.1810
- Mobile device if the issue happens on mobile device: No
- TensorFlow installed from: Binary
- TensorFlow version: v1.13.1-0-g6612da8951
- Python version: 3.6.8
- Bazel version: None
- GCC/Compiler version: None
- CUDA/cuDNN version: None
- GPU model and memory: None

**Describe the curr

[2019-10-17 14:54] PiotrZierhoffer opened #33470 "TFLite-micro: unable to build bluepill tests"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Debian 9
- TensorFlow version: current master (17c4db8)
- GCC version: gcc (Debian 9.2.1-8) 9.2.1 20190909

**Describe the problem**

Trying to follow the instructions from [TFLite Micro README](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/micro/README.md#building-for-the-bl

[2019-10-17 14:55] whhu commented on #33469
I hope this issue is clear enough to be supported. :slightly_smiling_face: @ravikyram

[2019-10-17 15:01] Nephalen opened #33471 "TF 2.0 Keras add_loss() function seems to make trainable weight not in model but added in add_loss() also being updated during training"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-17 15:04] Nephalen commented on #32950
@gowthamkpr I think I figure out the reason. [link](https://github.com/tensorflow/tensorflow/issues/33471#issue-508537917)

[2019-10-17 15:05] DoumanAsh opened #33472 "Allowing to provide pre-built flatbuffers when building tflite C++"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android/Ubuntu
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Source
- TensorFlow version: 1.15.0
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: ip
- Bazel version (if compiling from source): 0.24.1
-

[2019-10-17 15:11] grwlf commented on #25239
Answering to myself: For TF 2.0 compatible demos seems to live in https://github.com/tensorflow/examples

[2019-10-17 15:21] Ghassan opened #33473 "build fails when choosing clang/llvm compiler instead of nvcc compiler"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution Linux Ubuntu 18.04):
- TensorFlow installed from (source o

[2019-10-17 15:25] juhai commented on #31973
I can reproduce this problem with tensorflow==1.15.0, using latest official PyCharm release (2019-2). Is the fix going to be applied to 1.X branch?

[2019-10-17 15:32] ydcjeff opened #33474 "Can't Load tf.keras Saved h5 Model in TF 2.0 CPU Version"
I can't load tf.keras h5 Model in TF 2.0 CPU Version.
* OS: MacOS Catalina 10.15
* Python version: 3.7.4
* Env: virtualenv as described in TF official website
* TF Version: 2.0 Stable **CPU** version installed with `pip install tensorflow`

![Screen Shot 2019-10-17 at 21 51 06](https://user-images.githubusercontent.com/32727188/67023093-3f083880-f128-11e9-9448-c9c898c0bf62.png)

First, I trained t

[2019-10-17 15:40] corcra opened #33476 "empirical mean from tf.random.gamma does not match theoretical expectation"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 16.04.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
Not sure, came pre-installed so probably binary

[2019-10-17 15:43] Devrim-Celik opened #33477 "Problem with manually updating matrix in a custom layer."
## System information:
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: MacOs 10.14.6
TensorFlow installed from: pip
TensorFlow version: 2.0

## Describe the current behavior and expected behavior
I am really new to Tensorflow, so maybe this is quite obvious, but what I am trying to do is to basically create my ow

[2019-10-17 16:17] mihaimaruseac commented on #32945
Please switch to 2.0.0 final release as there were bug fixes between the rc and the final release.

[2019-10-17 16:22] jvishnuvardhan commented on #32285
@Shubham3101 As mentioned by @k-w-w this was already resolved in `tf-nightly`. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/89df5873b5a8fcf9a5214a354235525d/tf_32285.ipynb). Thanks!

[2019-10-17 16:23] faddey-w commented on #8057
There is another method which was added recently: https://www.tensorflow.org/versions/r1.13/api_docs/python/tf/train/Optimizer#variables
It just returns all variables that optimizer have, including non-slot ones. If I remember correctly it is present in 1.13.1. If you want just to get all variables and do something with the whole set (initialize, for example), and don't need to get some specific v

[2019-10-17 16:40] jvishnuvardhan commented on #33307
@appleyuchi You could follow the links I provided and update your codes. Thanks!

[2019-10-17 16:41] tsourabh commented on #33183
I am also having the same issue. https://github.com/tensorflow/tensorflow/issues/33183#issue-504926250
Python 3.7.3
Tensorflow 2.0
macOS Catalina

[2019-10-17 17:01] n2cholas opened #33478 "Need a way to get Intermediate Layer Inputs/Activations for tf.keras Models"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
2.0
- Are you willing to contribute it (Yes/No):
Yes, if t

[2019-10-17 17:05] gowthamkpr commented on #32908
Please switch to 2.0.0 final release as there were bug fixes between the rc and the final release.

[2019-10-17 17:06] reedwm commented on #26033
Not yet sorry! I am currently busy with other tasks, but I hope to have a design doc fairly soon.

[2019-10-17 17:23] saintthor opened #33479 "Error in loading a keras model saved by tf 1.15 from tf 1.14"
I saved the keras model by tf 1.15.
when loading from  tf 1.14, occurs:

how to fix it?

[2019-10-17 17:25] gowthamkpr commented on #33471
Yes in TF 1.14 it shows 0 but in TF 1.15rc3 and TF 2.0 its showing 100. I think this is clearly a bug

Here are my github gists [Tf 1.14](https://colab.sandbox.google.com/gist/gowthamkpr/1fd2d4e745b093af63325bfbd7dbefb7/untitled198.ipynb), [TF 1.15rc3](https://colab.sandbox.google.com/gist/gowthamkpr/edf243d59c16cbe5709754d8d346636e/untitled199.ipynb) and [TF2.0](https://colab.sandbox.google.com/g

[2019-10-17 17:26] gowthamkpr commented on #32950
As mentioned in issue #33471, Yes in TF 1.14 it shows 0 but in TF 1.15rc3 and TF 2.0 its showing 100. I think this is clearly a bug

Here are my github gists [Tf 1.14](https://colab.sandbox.google.com/gist/gowthamkpr/1fd2d4e745b093af63325bfbd7dbefb7/untitled198.ipynb), [TF 1.15rc3](https://colab.sandbox.google.com/gist/gowthamkpr/edf243d59c16cbe5709754d8d346636e/untitled199.ipynb) and [TF2.0](http

[2019-10-17 17:30] fgvbrt commented on #30108
Hello, I just wanted to check if anyone had a chance to look at this error?
I am working on model pruning and to fully utilize pruned architecture I rebuild graph during training. And this error is causing a lot of problems and inconvenience

[2019-10-17 17:44] mihaimaruseac commented on #33439
So, if I understand, `python script.py` where `script.py` has `import tensorflow as tf` is failing with missing tensorflow.

In this case, can you also post the output of `python -m pip list`?

[2019-10-17 17:47] mihaimaruseac commented on #26578
`python -m pip install --upgrade pip`.

[2019-10-17 17:54] gowthamkpr commented on #32993
@yangzhuoran Can I see your` pip list`

[2019-10-17 17:55] tanzhenyu commented on #32950
We changed the default learning rate in 2.0. Can you double check and see if you're using the same learning rate?

[2019-10-17 17:58] gowthamkpr commented on #33124
Yes. It is being tracked there. And the developers are actively working on it.

I am going to close this issue as we already have a thread open for this issue and Having multiple threads doesn't help the cause. Thanks!

[2019-10-17 17:58] #33124 closed

[2019-10-17 17:59] gowthamkpr commented on #33020
Can I have the gist of the colab notebook that you have used to identify this issue @LoicDagnas. Thanks!

[2019-10-17 18:12] yongtang commented on #33467
@stefan-falk I tried with TF 2.0.0 and the values seem to match. Can you update the TF (1.12.3 is a little outdated) to latest 2.0.0?

[2019-10-17 18:12] mihaimaruseac commented on #33439
And you're running the script as `python3 script.py`?

[2019-10-17 18:14] sykeben commented on #33439
Yes, I believe. I am running it via VS Code’s python integration with python 3.7.1 selected

[2019-10-17 18:21] cottrell commented on #33419
The following is a workaround, however I think the existing behaviour is extremely dangerous.

[code]

Probably this should change:

in tensorflow/tensorflow/tensorflow/python/keras/saving/hdf5_format.py
[code]

[2019-10-17 18:44] #33439 closed

[2019-10-17 18:53] JoshEZiegler commented on #33358
Here is a link directly to the code in colab with TF 2.0.0:
https://colab.research.google.com/gist/JoshEZiegler/2a923a707d831ca7efd33dbfbf9779c9/premade.ipynb

TF 2.0.0-rc2:
https://colab.research.google.com/gist/JoshEZiegler/6191d345f7dbd5f8e1152ac64fc890cb/premade.ipynb

TF 2.0.0-rc1:
https://colab.research.google.com/gist/JoshEZiegler/9f73f47ed7d52a6a88ccf7355e5856b8/premade.ipynb#scrollTo=USjm

[2019-10-17 19:17] kleyersoma commented on #33375
Hello there, @DawyD could you please provide a more detailed explanation on how to do this new linked directory? Do I have to create a new env var?

[2019-10-17 19:33] gowthamkpr commented on #33179
@intrepidOlivia Try using the previous versions of docker and let me know if you are still facing the same issue?

[2019-10-17 19:34] CindyQi7788 opened #33482 "In the pix2pix tutorial, the dimension of upsample within up_stack looks wrong. Only the image size is doubled, not filters!"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-10-17 19:35] CindyQi7788 commented on #33482
Although it won't effect anything, but just wanna point it out for the comments are not right.

[2019-10-17 19:39] tessy1234 commented on #33266
I am creating a brand new environment (in my case "tensorflow2_env") within anaconda and then run "pip install tensorflow" as requested.
The tensorflow runtime calls _pywrap_tensorflow_internal.pyd, which needs python37.dll, but can't find it.
The missing python37.dll is part of tensorflow runtime and can be found in tensorflow2_env.
Therefore tensorflow should know python37.dll.
Is this a valid a

[2019-10-17 19:41] gowthamkpr commented on #33479
Tensorflow 1.15 contains breaking changes like ragged tensor support, so it does not support backwards compatibility(Tf 1.14). This is the issue. Please try to load it using Tensorflow 1.15 and it should work.

[2019-10-17 19:41] #33479 closed

[2019-10-17 19:42] danijar commented on #11841
I have a tensor with dimensions `(batch, time, width, height, channels, logits)` to predict video with a softmax over possible pixel values. This is a typical use case in video prediction. This logit tensor goes into `tfp.distributions.Categorical`. However, calling mode on this distribution fails because it uses `tf.argmax()`.

[2019-10-17 19:43] Nephalen commented on #32950
@tanzhenyu I'm terribly sorry for the confusion. What I meant above was I figured out the cause of higher loss in my project and created another issue. It seems to be the result of incorrect weight update. [#33471](https://github.com/tensorflow/tensorflow/issues/33471#issue-508537917)

And just for the record, I explicitly kept learning rate constant across experiments.

[2019-10-17 19:58] petewarden commented on #33464
Sorry you're hitting this issue! As a debugging step, can you try running your same code on Linux/x86? It would be helpful to know if it works there, and if it does I can suggest some further debugging steps.

[2019-10-17 20:13] mattbernardini commented on #33077
import tensorflow as tf
import numpy as np
from tensorflow.keras.datasets import mnist

gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    try:
        for gpu in gpus:
            tf.config.experimental.set_memory_growth(gpu, True)
        logical_gpus = tf.config.experimental.list_logical_devices('GPU')
        print(len(gpus), "Physical GPUS,", len(logical_gpus), "Logical G

[2019-10-17 20:20] mattbernardini opened #33484 "Issue with tf.keras.mixed_precision.experimental.LossScaleOptimizer"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-17 20:25] RockOrSomething commented on #33442
Sure, here they are.
[training scripts.zip](https://github.com/tensorflow/tensorflow/files/3741168/training.scripts.zip)

Originals can be found here:
[https://github.com/EdjeElectronics/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Objects-Windows-10](https://github.com/EdjeElectronics/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Objects-Windows-10)

I'll have a look at that

[2019-10-17 20:29] TheLampshady commented on #33355
thank you, @rmothukuru , it is similar. I was attempting to upgrade from `tf.keras.experimental.export_saved_model` for use on Googles AI Platform.

Running with a different model, allows saving with adirectory.

[code]

I also have a Colab for demo purposes.

https://colab.research.google.com/drive/1CZvo9GzzGxJ5u7EIy2RQ5liuIOBSe3Ir#scrollTo=laOZb9L5VJdZ&uniqifier=2

[2019-10-17 20:33] antofara commented on #33464
Thanks for your reply, do you mean to compile the same code using Linux/x86 as target instead of ARM cortex M4, or just to do model conversion and compile the firmware in a linux/x86 environment?

I have also some updates.
I tried to convert the model using tflite_convert command line tool instead of doing it with the python API. Now it allocate successfully the tensors, but it generates HardFault

[2019-10-17 20:38] vivarose commented on #33358
I tried running the linked code and I confirm I also see an error:

[2019-10-17 20:45] wangpengmit commented on #33297
We are pretty sure the old behavior is wrong and will go away. We haven't decided whether to remove symbols such as `tf.random.uniform` and only provide `tf.random.Generator`, or to give `tf.random.uniform` the new behavior. Thank you for the other suggestions! We'll consider them.

[2019-10-17 20:50] bwindsor22 opened #33486 "Out of date BERT Tutorial Link"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue: https://www.tensorflow.org/guid

[2019-10-17 20:51] gowthamkpr commented on #33474
@ydcjeff Can you please share some reproducible code for us to expedite the process. Thanks!

[2019-10-17 20:51] #33486 closed

[2019-10-17 20:59] cmcneil commented on #32058
If I'm not mistaken, this also means that this tutorial does not run in eager mode: https://www.tensorflow.org/tutorials/generative/deepdream
(Hits InaccessibleTensorErrors as well)

[2019-10-17 21:02] Exxion commented on #33009
In case it helps, this issue does not appear to be present in release 2.0.0.alpha0. You can confirm this by running @oanush's Colab with that version. (Not that it's relevant to this issue, but the same is also true of every other issue I've encountered when working with TensorFlow 2.0.)

[2019-10-17 21:05] bwindsor22 commented on #33486
https://github.com/tensorflow/docs/pull/1113

[2019-10-17 21:33] haozha111 commented on #33393
Could you paste your .pb file here so that i can give it a try?

[2019-10-17 21:35] haozha111 commented on #33429
Hi,

The conversion fails because it has a dynamic rnn in your model, and the ops used by the rnn are 'TensorList' ops and while op, which is not supported by TOCO converter.

We are currently working on a new converter that could handle all these use cases. Please stay tuned!

[2019-10-17 21:41] mihaimaruseac commented on #33009
Please switch to 2.0.0 (final release). You might need to upgrade `pip` and `setuptools` to get it, but 2.0 has been available for a while, no need to still be on alpha

[2019-10-17 21:43] Exxion commented on #33009
I know. But this problem, as well as several others, is not present on alpha.

[2019-10-17 21:46] mihaimaruseac commented on #33009
Oh, you meant that the breakage happens in between alpha and rc2.

If it's not too much to ask, would you be willing to compare rc1?

[2019-10-17 21:53] Exxion commented on #33009
The issue does appear to be present in rc1.
I went ahead and tried beta0 as well, and it does *not* seem to be present there.

[2019-10-17 21:53] gowthamkpr commented on #33456
@yeyupiaoling Please take a look at the similar issues[1](https://github.com/tensorflow/tensorflow/issues/23613) and let me know if it helps.!

[2019-10-17 22:03] mihaimaruseac commented on #33009
Thank you. so the failure is in between beta1 and rc0.

Unfortunately, we fast-forwarded the branch in between these two points, so probably we got the failure from master.

One more test, please. Is the issue also manifesting on latest master?

[2019-10-17 22:05] mihaimaruseac commented on #33009
Oh, I see @robieta already [pinned the issue](https://github.com/tensorflow/tensorflow/issues/33009#issuecomment-539226841). Apologies for the extra tests, we are expecting this to be fixed on master soon (if not already)

[2019-10-17 22:10] Exxion commented on #33009
No worries about the tests. I just hope a new release with the fix comes out soon.

[2019-10-17 22:18] tessy1234 commented on #33266
Where can I get the SWIG interface declaration of the python extension _pywrap_tensorflow_internal.pyd?

[2019-10-17 22:21] robieta commented on #33009
It's worth noting that the solution that I was referring to will only fix CPU OOM; it wouldn't explain a GPU leak.

[2019-10-17 22:24] gowthamkpr commented on #33465
@shahriar49 This already exists in the later versions of tensorflow

`tf.keras.preprocessing.sequence.pad_sequences(
    sequences,
    maxlen=None,
    dtype='int32',
    padding='pre',
    truncating='pre',
    value=0.0
)`

You can use `padding = 'pre' or 'post'` based on your use case.

[2019-10-17 22:24] #33465 closed

[2019-10-17 22:25] jsimsa commented on #33414
This sounds like a useful functionality and I would be happy to review a PR that implements it.

[2019-10-17 22:26] #11841 closed

[2019-10-17 22:28] jvishnuvardhan commented on #33202
@mimxrt I think this is something related to size of validation dataset that is not enough for validating the loss. Please check these resources [1](https://stackoverflow.com/questions/49035200/keras-early-stopping-callback-error-val-loss-metric-not-available) and [2](https://github.com/keras-team/keras/issues/3657).

Please check your data pipeline to find the root-cause. Thanks!

[2019-10-17 22:31] OverLordGoldDragon opened #33487 "Why is TensorFlow 2 much slower than TensorFlow 1?"
It's been cited by many users as the reason for switching to Pytorch, but I've yet to find a justification / explanation for sacrificing the most important practical quality, speed, for eager execution.

Below is code benchmarking performance, TF1 vs. TF2 - with TF1 running anywhere from **47% to 276% faster**.

My question is: _what is it, at the graph or hardware level, that yields such a signif

[2019-10-17 22:39] danijar commented on #11841
Thanks!

[2019-10-17 23:07] jvishnuvardhan commented on #32957
@durandg12 Can you please try this so that you don't need to change much of your old code. Another point is anything under `tf.python.*` is private, intended for development only, rather than public use. Importing from tensorflow.python or any other modules (including import tensorflow_core...) is not supported, and can break unannounced. So, it is suggested not to use anything with tf.python.*.

[2019-10-17 23:34] jvishnuvardhan commented on #33198
@aszalucha It is suggested for users who have used TF1.x and are trying to use TF2.x. Once the user get familiarize with TF2.x style, they can use the log generated while conversion to update the codes by replacing `tf.compat.v1.*` with correct symbols. Please read the [migration guide](https://www.tensorflow.org/guide/migrate) for more details. If you face any issues, please post them here. Thank

[2019-10-17 23:34] #33198 closed

[2019-10-17 23:46] gowthamkpr commented on #33080
@feature-engineer Is this https://github.com/tensorflow/addons/blob/master/tensorflow_addons/layers/normalizations.py#L277

not working on windows?

[2019-10-18 00:09] sgillen commented on #28924
I had this issue with Tensorflow 2.0.0. Downgrading to 1.13.2 resolved the issue, which for me was an acceptable solution.

[2019-10-18 00:25] jvishnuvardhan commented on #33173
@ichae I think there was a small typo in your code. When I changed it, everything worked as expected.

I changed one line in your code from
`fft = Lambda(lambda x: tf.signal.fft2d(ins))(ins)`
to
`fft = Lambda(lambda x: tf.signal.fft2d(x))(ins)`

Please take a look at the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/86ecdbaee77d1c029754f526eef908ac/tf_33173.ipynb).

I am closing

[2019-10-18 00:25] #33173 closed

[2019-10-18 00:40] shahriar49 commented on #33465
@gowthamkpr
I knew it but I don't know how to apply this function to dataset batch processor. The padded_batch function in tensorflow does both padding and batching, and it will find the required paddding size per batch dynamically. How can I implement this myself? My code right now is like this, and I am reading multiple TFRecord files and interleave them to make my mixed dataset:

[code]

[2019-10-18 01:45] wolfviking0 opened #33489 "Issue building on OSX 10.13"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX 10.13.6 High Sierra
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.14.0
- Python version: 3.7
- Bazel version (if compiling from source): 0.25.2
- GCC/Compiler version (if compiling from source): clang
- CUDA/cuDNN version: 10.1
- GPU model and memory: NVIDIA GeForce GTX 1080 ti

*

[2019-10-18 01:50] zhouygg commented on #33487
I hava similar quetion when I use keras bert. tf.function is hard to use too

[2019-10-18 01:50] hzk7287 opened #33490 "Some of the operators in the model are not supported by the standard TensorFlow Lite runtime!!!"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

 OS Platform and Distribution: **WIn10**
 TensorFlow installed from  **binary**
  TensorFlow version  **TF2.0 '2.1.0-dev20191015'**

**Provide the text output from tflite_convert**

 and pasting the following:

Some

[2019-10-18 02:09] yxleung opened #33491 "ValueError: The two structures don't have the same nested structure."
I can run my code in tensorflow==2.0.0b1, but when I update tensorflow to 2.0.0; I got an error;
This is my code:
[code]

Error output:
[code]

Looking forward to your reply!

[2019-10-18 02:14] wuhy08 commented on #33438
I submitted a PR to address the issue: https://github.com/tensorflow/tensorflow/pull/33492 .

Will close this one for now.

[2019-10-18 02:14] #33438 closed

[2019-10-18 02:15] JavierClearImageAI commented on #31107
The options provided are quite frustrating. Using python 2 or weaker versions might not be the best options, but fixing the bug

[2019-10-18 02:28] darcula1993 commented on #28782
I just found my problem come from that I accidently used same tf dataset for both train and valid stage. In the same time, the number of steps I set do not exhausted all data in the cache.

After I use different tf.data.dataset and set a larger number of steps, the problem solved.

[2019-10-18 02:58] Huixxi commented on #32729
I've update the code, here
<https://colab.research.google.com/gist/Huixxi/5dc9af1e4d3d4f4253de9e6312ee194d/untitled277.ipynb>

On Thu, Oct 17, 2019 at 12:14 PM ravikyram <notifications@github.com> wrote:

[2019-10-18 02:59] jingwb222 commented on #30115
Any updates or timeline for fix on this issue?

[2019-10-18 03:03] yangzhuoran commented on #32993
My pip list as follows:
Package               Version
--------------------- -------------------
absl-py               0.8.0
apturl                0.5.2
asn1crypto            0.24.0
astor                 0.8.0
bleach                2.1.2
Brlapi                0.6.6
certifi               2018.1.18
chardet               3.0.4
chrome-gnome-shell    0.0.0
command-not-found     0.3
cryptography

[2019-10-18 03:22] oanush commented on #33467
@stefan-falk ,
Hi, you can also try 1.15rc3 version. It works fine.Thanks!

[2019-10-18 03:28] saintthor commented on #33479
Thanks.

Can I save the model by tf 1.15 to the old format? Or any way else to convert backwards?

[2019-10-18 03:49] darrahts commented on #33002
@rorypeck , lets say your base path is: `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\<version>\`, then go to `<base>\extras\CUPTI\libx64` and copy the file `cupti64_100.dll` and paste it into `<base>\bin` folder. In my case (with cuda 10.0):

`C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.0\extras\CUPTI\libx64\cupti64_100.dll`
becomes
`C:\Program Files\NVIDIA GPU Computing Toolkit\

[2019-10-18 03:50] tulasiram58827 commented on #33429
But I am using tf.lite.experimental.dynamic_rnn which is supported as TFLite Op as given in the documentation. Can you please check this link https://github.com/tensorflow/tensorflow/tree/r1.14/tensorflow/lite/experimental/examples/lstm/g3doc
According to this doc we can convert dynamic_rnn to tensorflow lite if we use experimental dynamic_rnn op instead of tf.nn.dynamic_rnn.
Also please check thi

[2019-10-18 04:01] ydcjeff commented on #33474
@gowthamkpr
### Below is the code I used in **Google Colab** for training with **GPU** with TF 2.0 Stable
[code]
### And then, I downloaded the saved h5 model from colab into the local system in which I installed TF 2.0 CPU Stable version with `pip install tensorflow`
### Below is my app.py code I used my laptop
[code]
### Here is the error message running app.py
[code]
### I don't save the model

[2019-10-18 04:08] gadagashwini commented on #29952
@bmiwcy, Is this still issue? Would you like try latest Tf 1.15.0 version. Let us know how it progresses. Thanks!

[2019-10-18 04:12] venuswu commented on #33369
`python transformer_main.py --data_dir=$DATA_DIR --model_dir=$MODEL_DIR \
    --vocab_file=$VOCAB_FILE --param_set=$PARAM_SET \
    --train_steps=$TRAIN_STEP --steps_between_evals=$TRAIN_STEP \
    --batch_size=4096 --max_length=256 \
    --num_gpus=8 \
    --epochs=275 \
    --enable_time_history=True \
    --enable_xla=False \
    --enable_grappler_layout_optimizer=True
`
Here is the command lin

[2019-10-18 04:14] shashankg7 commented on #33407
@rmothukuru

I am trying an example from here: https://www.tensorflow.org/probability/api_docs/python/tfp/optimizer/StochasticGradientLangevinDynamics

[2019-10-18 04:17] tulasiram58827 opened #33494 "CTC tensorflow lite conversion problem"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 19.04
- TensorFlow installed from (source or binary):binary
- TensorFlow version (or github SHA if from source): 2.0

**Provide the text output from tflite_convert**
[code]

[2019-10-18 04:46] alexandermorgan commented on #32382
I'm also getting what appears to be the same issue using tf2 in the Windows subsystem for Linux. There's a stackoverflow question about this here: https://stackoverflow.com/questions/58295764/import-wav-file-in-tensorflow-2

[2019-10-18 05:04] ArtemisZGL opened #33495 "Simple Audio Recognition validation seems error"
my tf version is 1.14.0. I download the code from the newest git for the example Simple Audio Recognition, and run the train.py, but after running several steps, the validation  acc seems not change at all, alse the confusion matrix, all the predict result is the first class. but the training acc is normal, after 8000 steps, about 80%.
![image](https://user-images.githubusercontent.com/31615877/67

[2019-10-18 05:28] ViRu-ThE-ViRuS commented on #33183
Same issue, fresh macOS Catalina, virtualenv, python3
Clang 11.0.0, Python 3.7.3

[2019-10-18 05:28] abhay1722 opened #33496 "//tensorflow/python/kernel_tests:decode_raw_op_test fails with Assertion error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 19.04 s390x
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command bel

[2019-10-18 05:37] abhay1722 commented on #33496
Further Analysis shows that the real and imaginary components in the output are getting swapped with each other causing the array mismatch on Big Endian.
@jiefangxuanyan I could see [PR](https://github.com/tensorflow/tensorflow/pull/9876) for fixing endianness problem in the `decode_raw_op` functionality. However, the tests for complex data types have been recently added and need more changes for

[2019-10-18 05:42] gadagashwini commented on #33447
@DontGiveUpEasily, Please provide the complete code with neural network to reproduce the reported issue. Thanks!

[2019-10-18 05:44] ageron commented on #33297
Thanks for your feedback. Please don't remove `tf.random.uniform()` and other random functions: there's really no need to break everyone's existing code, IMHO. Most people won't even notice the change. I think this modification is mostly an implementation detail and a bug fix, it doesn't justify changing the API much. Just adding a warning in the release notes explaining what's changed and the mot

[2019-10-18 05:50] ravikyram commented on #33477
@Devrim-Celik
Can you please help us with the minimal standalone code to reproduce the issue in our environment.It is easy for localizing the issue faster. Thanks!

[2019-10-18 05:51] rmothukuru commented on #33247
To add more information, Model is Saved without any Error if we build the Model using Dense or using LSTM and Dense. But if we build the Model with GRU as one of the Layers, it is resulting in either the Error,
[code]

[2019-10-18 05:57] rmothukuru commented on #33355
@TheLampshady,
As per my understanding, this issue is part of the issue, #33247. If so, can we close this issue and can we can follow up with #33247, in order to avoid duplication. I have updated Issue 33247 with your colab so that everything will be at one place. Please let me know your thoughts. Thanks!

[2019-10-18 06:02] oanush commented on #33453
@humcasma ,
Can you please try using latest` tf-nightly-gpu-2.1.0.dev20191017`, issue seemed to be fixed. Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/e3f25288b0b53912adc5ca36131f6c72/33453.ipynb) of colab.Thanks!

[2019-10-18 06:27] QiJune commented on #25363
Any update on this? Thanks!

[2019-10-18 06:28] oanush commented on #33476
@corcra ,
Thank you for reporting, can you please provide a standalone code so that we can try reproducing the issue.

[2019-10-18 06:30] gadagashwini commented on #33459
I could reproduce the issue with Tf 2.0.0 keras 2.3.0 and TF 1.15.0 keras 2.2.5. Please take a look at the gist of tf.keras [here](https://colab.sandbox.google.com/gist/gadagashwini/903f26e451e5b6d40ac5f99991716a25/untitled206.ipynb) and keras with tensorflow backend [here](https://colab.sandbox.google.com/gist/gadagashwini/99de5876f3f6ff5937bb29c6ab1185e7/untitled207.ipynb). Thanks!

[2019-10-18 06:32] goldbalance commented on #33280
em, i will give you a demo with tensorflow_sdk

[2019-10-18 06:36] oanush commented on #33482
@CindyQi7788 ,
Hello, Can you please let us know where exactly in the [pix2pix tutorial](https://www.tensorflow.org/tutorials/generative/pix2pix) issue is being reported by you?

[2019-10-18 06:38] haozha111 commented on #33429
Which version of tensorflow are you using?

could you try repeating the steps here:
https://github.com/tensorflow/tensorflow/tree/r1.14/tensorflow/lite/experimental/examples/lstm/g3doc#0-turn-on-control_flow_v2

Could you also share the converter command you use?

[2019-10-18 06:45] oanush commented on #33347
@zo7 ,
Hi,any update on the issue ?Thanks!

[2019-10-18 06:47] oanush commented on #33199
@L-lei ,
Any update on the issue ?Thanks!

[2019-10-18 06:48] oanush commented on #33197
@Libaididi ,
Hi, Any update on the issue ?Thanks!

[2019-10-18 06:49] ravikyram commented on #33454
@fchouteau
can you add `m2.summary()` for the model you saved in `.hdf5 format `and see if it is loading.I am seeing it is not loading in the both cases. Please, confirm.Thanks!

[2019-10-18 06:55] qin2294096 commented on #32361
I have built an custom op 'my_add.dll' on windows with vs2015, and this 'my_add.dll' can be loaded by TF_LoadLibrary("my_add.dll", status) successfully. However, if I use the 'my_add.dll' generated by bazel build, the load status will tell me that 'my_add.dll' is not found.

[2019-10-18 06:57] JesperChristensen89 opened #33498 "TFLite slower than Keras on RPi 4"
When doing inference on a Raspberry Pi 4 with Keras and Tensorflow installed using `pip`, the inference time is slower using TFLite.

The initial Keras model is about 20 mb - after converting it to TFLite it is about 2.4 mb. During inference the Keras model processes a sample in about 50 ms and TFLite does it in about 80 ms.

Initially the pip-installed version of Tensorflow caused errors with TFL

[2019-10-18 06:57] tiru1930 commented on #32948
Any update on this error?

[2019-10-18 07:02] gadagashwini commented on #33484
I could reproduce the issue with Tf 2.0. Please take a look at the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/7909678539c398aa1f4b8fafa334807f/untitled208.ipynb). Thanks!

[2019-10-18 07:04] shubham769 commented on #32776
@njzjz facing the same error and i think this error is related to this issue only

[2019-10-18 07:09] mahmoodn commented on #33238
I pulled the latest git version as below

[code]

The normal run of the `label_image` example with the default image is

[code]

The `nvprof` command I use is:
[code]
I have attached the profiler's output [here](https://srv-file2.gofile.io/download/dieu7f/kernel_list.zip).

Please note the following specs:

Hardware: Quadro M2000
CUDA version: 10.0
CuDNN version: 7.6.2
NCCL version: 2.4.8
Python v

[2019-10-18 07:13] gadagashwini commented on #33283
I could reproduce the issue with changes mentioned in last comment. Please see the [gist](https://colab.sandbox.google.com/gist/gadagashwini/079ecb24dcfb0130a41c4cc8f7a69aba/untitled209.ipynb). Thanks!

[2019-10-18 07:20] chiangqiqi commented on #26182
for a cuda-10.1 user, the  cublas lib has been moved to  /usr/lib/x86_64-linux-gnu , just creat a symbolic link to that file bypass the problem.

[2019-10-18 07:20] appleyuchi commented on #33307
@jvishnuvardhan they seems are not the same issue.

[2019-10-18 07:23] tulasiram58827 commented on #33429
Tensorflow Version - 1.14.

For saving the model I used simple_save() function.

For freezing the graph I used :
python -m tensorflow.python.tools.freeze_graph --input_saved_model=saved_model.pb --output_node_names="output"

This is the code I used to converted the frozen graph into tflite model.

graph_def_file = pbfile_path
        input_arrays = ["inputs"]
        output_arrays = ["output"]

[2019-10-18 07:40] 7oud commented on #32361
@qin2294096 Could you tell your tf build process on Windows, using cmake? and which tf version?
After loading the custom op library, How to invoke the op function using C++? Some link will be better.
Thanks very much!

[2019-10-18 07:41] BerryRB commented on #28067
Can you solved this problem?

[2019-10-18 08:04] TCBocean opened #33500 "In eager mode, how to achieve weight attenuation during training, and how to customize a layer learning rate？"
My environment:
Tensorflow1.14-gpu
Hello, I have set up a CNN model in eager mode. Now, I want to set a weight decay, which I did on the old version:
`
reg_losses = tf.get_collection(tf.GraphKeys.REGULARIZATION_LOSSES)

print("Regularization losses:")

opt_loss = loss + args.weight_decay*sum(reg_losses)
 `
But in eager mode, this method is not very suitable. Is there any new way to provide it? I d

[2019-10-18 08:21] qin2294096 commented on #32361
I use guikarist's scipt (https://github.com/guikarist/tensorflow-windows-build-script) to build tensorflow_cc.dll. I don't have links, so I write my process here simply.
The tf version is 1.12.0.
To invoke custom op in C++:
1.build a graph in python with custom op, and save it.
[code]
 2. load 'my_add.dll' in c++
[code]
3. load the graph in a session, and run it.

[2019-10-18 08:39] ravikyram commented on #33446
I have tried on colab with TF version 1.14, 1.15.0-rc3 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/f1d2d75f051cfde366dcfd0bbb3e5719/untitled286.ipynb). Thanks!

[2019-10-18 08:43] Sakurasan commented on #15869
9102.10-18
no update

[2019-10-18 08:45] humcasma commented on #32612
@k-w-w The solution proposed by @ thierryherrmann  [here](https://github.com/tensorflow/tensorflow/pull/33229) is good, but only if the inputs to the loss object are not tensors. Otherwise, a serialization exception is generated.
We could try to convert the tensor into a numpy array inside `get_config()`, as it is done by the `LossWrapperFunction` class. Unfortunately, that does not work either. I

[2019-10-18 08:45] ravikyram commented on #33449
@cfwin
Can you please elaborate about the issue & the context.Will it be possible to provide simple stand alone code to reproduce the issue in our environment, then it will be easy for localizing the issue faster.Thanks!

[2019-10-18 08:46] gadagashwini commented on #32779
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-18 08:47] gadagashwini commented on #32901
@WrathofBhuvan11, Were you able to resolve this issue. Thanks

[2019-10-18 08:52] gadagashwini commented on #33077
@mattbernardini, Is this similar issue [#33484](https://github.com/tensorflow/tensorflow/issues/33484). Thanks

[2019-10-18 08:53] gadagashwini commented on #33107
@berniekirby, Is this still an issue.

[2019-10-18 08:58] humcasma commented on #33453
@oanush Unfortunately I am not able to confirm whether it has been fixed or not. When using the nightly version of tensorflow I get an exception when running `v = tf.Variable(5)`:

[2019-10-18 08:59] indranaut commented on #33459
@gadagashwini This does not answer anything. The issue still remains. Or is it that they are downloading two versions of resnet (v1 and v2) ?

[2019-10-18 09:00] gadagashwini commented on #33169
@jinfagang, Did you get a chance to look at the [link](https://www.tensorflow.org/install/source#tested_build_configurations). Thanks!

[2019-10-18 09:01] indranaut opened #33501 "tf.keras.applications download path should be made configurable."
The download path for the models downloaded using tf.keras.applications seems to be hardcoded to `~/.keras/models`.
This path should be made configurable.
It will benefit people who have less storage space in their home folder, which is a feature in many large-scale computational clusters.

[2019-10-18 09:04] ZackPashkin opened #33502 "please fix docs converter = tf.lite.TFLiteConverter.from_keras_model(model) doesn't work"
Please update docs this example doesn't work

https://www.tensorflow.org/lite/convert/python_api#converting_a_keras_model_

Converting a Keras model
The following example shows how to convert a tf.keras model into a TensorFlow Lite FlatBuffer.

import tensorflow as tf

# Create a simple Keras model.
x = [-1, 0, 1, 2, 3, 4]
y = [-3, -1, 1, 3, 5, 7]

model = tf.keras.models.Sequential(
    [tf.keras

[2019-10-18 09:05] #33502 closed

[2019-10-18 09:06] gadagashwini commented on #33266
@tessy1234,
Would you like to try with PIP virtual env. If yes, please follow the below steps:
[code]
Let us know how it progresses. Thanks!

[2019-10-18 09:11] trendelkampschroer opened #33503 "Model.fit displays wrong information on progress bars for attrs classes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes, a minimal self-contained python script demonstrating the bug

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
OSX

- TensorFlow installed from (source or binary):
Installed from anaconda

- TensorFlow version (use command below):
1.14

- Python version:
3.6.9

**

[2019-10-18 09:14] Grape-A opened #33504 "module 'tensorflow' has no attribute 'ConfigProto'"
[code]

[2019-10-18 09:33] fchouteau commented on #33454
Builiding with tf save format gives out

`ValueError: You tried to call `count_params` on input_1, but the layer isn't built. You can build it manually via: `input_1.build(batch_input_shape)`.`
(And calling model.build(input_shape) does not solve the issue)

However the hdf5 saving format works as expected

[2019-10-18 09:34] tiru1930 opened #33506 "How do we need to slice tensor in forward pass for writing the custom loss function."
I have created on a network for which input will be

input shape is : (20, 16, 240, 320, 3)
output (logits is ) : Tensor("logits:0", shape=(?, 1), dtype=float32)
i,e  output in forward pass  for my network is
`[array([[ -3.8974638 ],
       [ -5.2204075 ],
       [ -3.105205  ],
       [ -3.4843988 ],
       [ -4.0670795 ],
       [ -2.097713  ],
       [  2.6989975 ],
       [  3.1498132 ],

[2019-10-18 09:38] DawyD commented on #33375
Hi @kleyersoma. The workaround for this particular problem on unix-based machines is to link your cuda bin to your working directory. Go to the directory, where you launch your python code and create the link:
`ln -s /full/path/to/your/cuda/installation/bin .`
This sovles the problem. The point is that TF first tries to load the ptxas from ./bin directory, then from /usr/local/cuda/bin. Unfortunat

[2019-10-18 09:41] gadagashwini commented on #33403
@jnd77, I tried replicating the reported issue. Please take a look at the [gist](https://colab.sandbox.google.com/gist/gadagashwini/696ae88444b31f485f5a8a97c723bfb5/untitled210.ipynb). And provide the more information to reproduce the issue. Thanks!

[2019-10-18 09:42] ay27 commented on #33277
Does this issue have any progress?

[2019-10-18 09:48] tessy1234 commented on #33266
tests:
------
tensorflow 2.0 import failed:
-------------------------------
python -c "import tensorflow as tf"

detail:
-------
#CLI anaconda;  default path: C:\Users\~
#optional: explore tensorflow runtime
#test target: cd into following directory
C:\Anaconda3\envs\tensorflow2_env\Lib\site-packages\tensorflow_core\python
C:\Anaconda3\envs\tensorflow_1_14_env\Lib\site-packages\tensorflow\python

[2019-10-18 09:49] durandg12 commented on #32957
Your piece of code works. Nonetheless it seems strange to have to define those kind of aliases at the beginning of each file.

Furthermore I don't get why my issue is not considered a bug and have the flair "type:support" instead. I mean, is it really intended that
[code]
works well,
[code]
also works, but then
[code]
throws me `ModuleNotFoundError: No module named 'tensorflow.feature_column'`? Gi

[2019-10-18 09:54] familyguy12 commented on #33336
In the code mentioned, `tf.rank(a).eval()` is 3. The documentation says that the sparse multiplication works only for rank-2 tensors. Even in the traditional matmul function, it says that

So, basically it is not supposed to work for matrices that are sparse, with rank > 2. IMO, it could work as the multiplication is performed on the last two dimensions only. So, I should handle the case where ran

[2019-10-18 10:07] Devrim-Celik commented on #33477
Yes, of course:
[code]

[2019-10-18 10:08] oanush commented on #33453
@humcasma ,
It worked fine for me, try with `pip install tf-nightly-gpu`. Please share the gist of colab your trying to execute.

[2019-10-18 10:08] gadagashwini commented on #33424
@koenhelwegen, Will it be possible to provide the complete code to replicate the issue. Thanks!

[2019-10-18 10:09] DeanLeeFumu commented on #27519
This works for me

[2019-10-18 10:11] gadagashwini commented on #33418
@jyh2378, Thanks for the code.
I tried to replicate the issue, i am unable to import the data_pipe.
`ModuleNotFoundError: No module named 'data_pipe'`. Please help us to replicate the issue. Thanks!

[2019-10-18 10:13] pandrey-fr commented on #33487
Hi,

Thank you for a very interesting performance report. I replicated the small model example and tried to see what happened when enabling or disabling Eager execution and found the following results (note that I am always using `tensorflow.keras`):

TF 2.0 with Eager on: 0.0361 s/iter
TF 2.0 without Eager: 0.0177 s/iter
TF 1.14 without Eager: 0.0167 s/iter
TF 1.14 with Eager on: 0.0169 s/iter

I

[2019-10-18 10:28] gadagashwini commented on #33431
@dbl001, Can you try compiling with GCC 4.8. Let us know how it progresses. Thanks!

[2019-10-18 10:34] berniekirby commented on #33107
Commenting out the first include in tensorflow/python/framework/op_def_registry.cc
Thus:
/* Copyright 2019 The TensorFlow Authors. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable

[2019-10-18 10:36] ravikyram commented on #33425
I have tried on colab with TF 1.14,1.15.0-rc3 and was able to reproduce the issue
Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c69ad2af68dbb3ff0747b0d4ed0e7df4/untitled279.ipynb#scrollTo=YVFBL130Y2w7). Thanks!

[2019-10-18 10:51] ravikyram commented on #33361
@sayakpaul
Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c85e97df70f575c135350ae3029a7db2/untitled287.ipynb). Please, help me in reproducing the issue.Thanks!

[2019-10-18 10:52] rzou15 commented on #18839
Similar error happend to me too:
Tensorflow r1.14
Ubuntu 16.04
gcc 6.5
CUDA 9.0
cuDNN 7.1
Any helpful solutions?

[2019-10-18 11:03] jyh2378 commented on #33418
@gadagashwini  Oh, 'data_pipe' is my custom loading data code.
This code return tf.data.dataset of cifar10.
So you can reproduce this by using below code:
[code]

[2019-10-18 11:04] humcasma commented on #33453
@oanush You can access the gist [here](https://colab.research.google.com/gist/humcasma/cecc9b33645c774409a576d0c4b496b2/33453.ipynb)

[2019-10-18 11:07] garciacaravantes commented on #33161
I had the same with TF2.0 no GPU running in docker and the information provided on the link solved the problem for me.

[2019-10-18 11:16] ravikyram commented on #32872
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-18 11:16] #32872 closed

[2019-10-18 11:18] ravikyram commented on #32900
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-18 11:18] #32900 closed

[2019-10-18 11:20] joehoeller commented on #33161
Just saw this. Will do at some point today, sit tight. Sorry for the delay.

On Fri, Oct 18, 2019 at 6:17 AM garciacaravantes <notifications@github.com>
wrote:

[2019-10-18 11:22] ravikyram commented on #32836
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-18 11:22] #32836 closed

[2019-10-18 11:24] ravikyram commented on #32798
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-18 11:24] #32798 closed

[2019-10-18 11:27] ravikyram commented on #32784
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-18 11:27] #32784 closed

[2019-10-18 11:28] venuswu commented on #33369
Is there a option for Backward compatibility? @guptapriya @ravikyram

[2019-10-18 11:39] ravikyram commented on #32703
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-18 11:39] #32703 closed

[2019-10-18 11:40] gadagashwini commented on #25484
@ricvo, I tried on colab with Tensorflow version 1.15.0. Looks like the issue is fixed in Tf1.15. Please take a look at the [gist](https://colab.sandbox.google.com/gist/gadagashwini/97f468883cddce3ccf19b2596de7c2ba/untitled205.ipynb) and let us know if issue still persists. Thanks!

[2019-10-18 11:41] ravikyram commented on #32638
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-18 11:41] #32638 closed

[2019-10-18 11:45] gadagashwini commented on #33473
@Ghassan, Just to verify, did you follow the instructions mentioned in [this link](https://www.tensorflow.org/install/source). Thanks!

[2019-10-18 12:01] rmothukuru commented on #32729
@Huixxi,
You have commented saying,

But in the [Gist](https://colab.sandbox.google.com/gist/Huixxi/5dc9af1e4d3d4f4253de9e6312ee194d/untitled277.ipynb#scrollTo=nJIgyw1Tt3Xy) which you have provided, there is no error even when the `Two Line Code` is commented in the `Call` function.

Can you please help us reproduce the error. Thanks!

[2019-10-18 12:10] sayakpaul commented on #33361
Here you go:

[code]

[2019-10-18 12:11] kingsleyljc opened #33509 "Not allowed to load local resource on chrome"
I have downloaded the examples/Iris file from github, and follow REAMME.md.
But when I enter the link
`yarn watch`
The server was built, and the chrome came automatically.
But the css file and js file wasn't called successfully.
 When I read the console, it was said that
**" Not allowed to load local resource file:///C:/Program%20Files/Git/tfjs-examples.44bb3400.css "**
I spent two days finding th

[2019-10-18 12:23] cottrell commented on #33419
Also, using a Dense layer with no bias and calling it once with an array of dim [1, 1] and then using the kernel as a variable "works".

[2019-10-18 12:58] HugoDel commented on #29161
I faced the same issue and It seem to resolve it with adding this :
[code]
It seem to be unrelated problem but it's works.

[2019-10-18 13:01] BaruchYoussin commented on #31231
I have the same error,

with `TPUStrategy`.

I am trying to run a keras model on TPU with significant CPU preprocessing of data that I want to be done in parallel with running batches on TPU.
The strategy, `TPUStrategy` is a simple one that distribute everything to one TPU core.
There is no reason why it cannot run preprocessing on CPU in parallel.

I shall have to switch to fit from fit_generator

[2019-10-18 13:11] ArtyomMashkin opened #33510 "Using GPU for Tflite on Android"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-10-18 13:11] #33510 closed

[2019-10-18 13:15] ArtyomMashkin opened #33511 "Using GPU for Tflite on Android"
My first problem was it this post #33011

[2019-10-18 13:30] sayakpaul opened #33512 "OutOfRangeError: End of sequence [Op:IteratorGetNextSync] with tf.data"
TensorFlow version: 2.0.0
Platform: Jupyter Notebook (macOS)

**Description**: I am trying to determine the time it takes to load the entire FashionMNIST dataset in a batch-wise manner with `td.data`. I am using the following utility script taken from [here](https://www.tensorflow.org/tutorials/load_data/images#performance):

[code]

Here's the [Jupyter Notebook](https://colab.research.google.com/

[2019-10-18 13:43] fisakhan commented on #33317
I could successfully run mtcnn (https://github.com/ipazc/mtcnn) with TF 2.0.0. Please check the version of mtcnn. The latest version of mtcnn is 0.0.9 that can work with TF 2.0.0.

[2019-10-18 13:45] koenhelwegen commented on #33424
Sure, here you go:

[code]

Output for me:

[code]

[2019-10-18 13:55] lordalcol opened #33513 "Cannot build libtensorflowlite_c.so -- problem with bazel build"
**System information**
- Windows 10 64-bit
- TensorFlow installed from (source or binary): source
- TensorFlow version: v2.0.0
- Python version: 3.7.4
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source): v1.0.0
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
- GPU model and memory:

**Describe the problem**

I am trying to build libtensorf

[2019-10-18 14:00] mattbernardini commented on #33077
I simply commented the code twice to make sure it got seen.  Other than that i am not sure.

[2019-10-18 14:03] pandrey-fr commented on #33487
I ran some additional tests, investigating runtimes of `tensorflow.keras.Model.fit` rather than that of the `train_on_batch` method. To do so, I slightly altered the code submitted by @OverLordGoldDragon to generate 10 data batches and wrap them with a `tensorflow.data.Dataset` ; I then measured the mean time to run 10 `fit` calls, after having run an initial `train_on_batch` to exclude graph buil

[2019-10-18 14:34] #33512 closed

[2019-10-18 14:55] TheLampshady commented on #33355
That works for me. Ty!

[2019-10-18 14:55] #33355 closed

[2019-10-18 15:14] Kramax commented on #32997
I tried building the master branch checked out Oct 16, 2019. I could not build it with bazel 0.26.1 either. It did build with bazel 0.29.1. I got the same unresolved symbols when linking with my code as above and one more unresolved:
`
tfseg.obj : error LNK2019: unresolved external symbol "public: virtual __cdecl tensorflow::SavedModelBundleInterface::~SavedModelBundleInterface(void)" (??1SavedMod

[2019-10-18 15:16] fsx950223 commented on #33428
Is ```tf.keras.Model``` support ```build```?

[2019-10-18 15:38] jvishnuvardhan commented on #33450
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-10-18 15:38] #33450 closed

[2019-10-18 15:40] mihaimaruseac commented on #33266
Why do you activate both environments at once and then deactivate one?

[2019-10-18 15:51] Namburger commented on #32743
@programmer290399 you might need to add your linux user to plugdev group:
[code]

[2019-10-18 15:51] dbl001 commented on #33431
Same error with gcc 4.8.5:

[code]

[2019-10-18 16:05] zo7 commented on #33347
I've been working on a minimal example to share, but I can't seem to replicate the issue with it... I'll work on it some more, but it's not clear what might be causing the slowdown.

[2019-10-18 16:09] Devrim-Celik commented on #33477
I solved the issue by initialising my matrix as a ```tf.Variable```:

[code]

[2019-10-18 16:09] #33477 closed

[2019-10-18 16:19] jdduke commented on #33472
Hi @DoumanAsh, out of curiosity, would it help if we had a pure C API (perhaps with lightweight C++ wrappers) which did not have any kind of flatbuffer dependency in its public API?

And for the C/C++ library, are you fine if it's built as a separate shared library? Or are you buliding it as a direct bazel dependency in your project?

[2019-10-18 16:21] mihaimaruseac commented on #32957
That assumption is wrong actually. Consider this example:

[code]

Where `test.py` is:

[code]

and `__init__.py` is:

[code]

In this case:

[code]

Proving that the assumption is wrong.

In our case, some of the modules have names attached to them as attributes, not as other modules. This is to provide machinery for deprecation notices (in 1.x), lazy loading, virtual pip, API generation, etc.

I

[2019-10-18 16:22] sseveran commented on #24591
@ymodak Should we expect any further updates to graph freezing? freeze_graph.py is still in master. Tensorflow has moved to Keras and the incompatibility should probably be either documented or fixed.

[2019-10-18 16:36] BeWe11 opened #33515 "tf.lite operators missing for `tf.nn.ctc_loss`: `Empty`, `InplaceAdd` and `While`"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.0.0

**Provide the text output from tflite_convert**

[code]

**Any other info / logs**

I'm trying to convert a keras model using tf.lite. The last layer of the model uses the `tf.nn.ctc_loss`

[2019-10-18 16:48] EduardoGRocha opened #33516 "Dataset.map() with tf.data.experimental.AUTOTUNE runs out of memory when using batch size=1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 19.04 Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not tried on Mobile
- TensorFlow installed from (source or binary): BINARY
- TensorFlow versio

[2019-10-18 16:49] alanhdu commented on #33437
Yes -- this is a TF 1.15.0 problem. We have a pretty large Tensorflow 1 codebase, so a migration to TensorFlow 2 will take some time and isn't currently feasible.

[2019-10-18 16:56] sguada commented on #30274
Given `--max_number_of_steps=100000` you should probably lower the `--moving_average_decay=0.9999` to `--moving_average_decay=0.99` to make sure the moving average are updated.

[2019-10-18 17:06] georgealexandruvlad opened #33517 "[TF 2.0] Using keras.metrics in TPU training results in error"
I am trying to train a BERT model from https://github.com/tensorflow/models/tree/master/official/nlp on TPU in google colab. I changed the metrics list passed to model in compile method to:
[code]
where _get_metrics_ is a function which returns a list of metrics ("accuracy" and instance for Recall and Precision built in _tensorflow.keras.metrics_):

[code]

Training results in the following error

[2019-10-18 17:12] mihaimaruseac commented on #33283
Closing as duplicate of #33204 (although different error, the main concept is that thread dynamic objects cannot be pickled)

[2019-10-18 17:15] mihaimaruseac commented on #28067
Please open a new issue, filling in the template and providing minimal code reproducing the issue

[2019-10-18 17:15] OverLordGoldDragon commented on #33487
@pandrey-fr Excellent testing, thanks for your work - I'll be looking into it. Hopefully there's a workaround to using `fit`, as I use a custom train loop and `train_on_batch` or an iterative `fit` is a must.

[2019-10-18 17:20] hansong999 commented on #27949
I have same problem.
ValueError: No gradients provided for any variable: ['Variable:0', 'Variable:0', 'Variable:0', 'Variable:0'].

I have a tf.pow() in the computation. Others are just tf.add, tf.matmul, tf.sigmoid. So I guess this tf.pow() or tf.math.pow() causes the problem. The gradient chain is broken.

[2019-10-18 17:22] gowthamkpr commented on #32945
@GaranceRichard  @ouy160  Can you please try the recommendation above and let me know if you are able to solve your issue. Thanks

[2019-10-18 17:22] airplane2230 commented on #33039
Oh, I'm super Sorry.....
I've tried many things, but I haven't solved them yet.
Before solving this error, I encountered another error and am currently working on fixing it.
I tried to sort out the code and give you an answer, but it didn't.
If I solve my previous error and meet this issue again, Will I reopen it?
Thanks!
`

[2019-10-18 17:29] jvishnuvardhan commented on #33333
@Satwato Please check [this tutorial](https://www.tensorflow.org/tutorials/keras/classification) on TF website which is most updated and very similar to the codelabs tutorial. If you notice any issues the tutorial on TF website, please file bug in TF repository. Regarding the callbacks, you can replace `acc` with `accuracy` and it should work. But for more detailed guide on custom callbacks, pleas

[2019-10-18 17:29] #33333 closed

[2019-10-18 17:33] jvishnuvardhan commented on #33462
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. We might answer these support type questions on stackoverflow. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-10-18 17:33] #33462 closed

[2019-10-18 17:44] gowthamkpr commented on #32993
@yangzhuoran I think the installation is not done well. Try uninstalling Tensorflow and installing ot back.
Inorder just to test, you can create a clean virtual environment and try installing tensorflow and running this code.

[2019-10-18 17:50] jsimsa commented on #33281
Your `decode_jpeg_and_label` Python function is only executed once to build the function graph and `try` and `except` statements will have no effect at that.

The actual execution of the logic happens when `next` is called (as part of `for elem in dataset:`), so if you would like to catch the error you could do the following:

[code]

while True:
  try:
    elem = next(iterator)
    ...
  except I

[2019-10-18 17:50] #33281 closed

[2019-10-18 18:02] angerson commented on #33390
We're unable to provide official support for this, unfortunately.

[2019-10-18 18:14] angerson commented on #33452
I can't replicate this. The following runs fine on my machine, running Docker 18.09.03 and docker-compose 1.21.0.

[code]

If you are still encountering the issue, please provide your Docker and docker-compose versions as well as your system version.

[2019-10-18 18:16] angerson commented on #33360
Can you please provide a complete log of `./configure` and the bazel build command you're running, starting from a fresh environment targeting the `master` branch?

[2019-10-18 18:17] chrisspen commented on #22654
@bzamecnik How did you build Tensorflow with Bazel 1.19.2? If I try to build the current release of Tensorflow with Bazel>=1, the installer errors and tells me I must downgrade to Bazel 0.26.1 or earlier.

[2019-10-18 18:20] jvishnuvardhan commented on #33307
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-10-18 18:21] wangpengmit commented on #33297
We already exported `tf.random.experimental.get_global_generator` (https://github.com/tensorflow/tensorflow/blob/ba96c40cb452c68ba08eb30f4e34795f4774cb92/tensorflow/python/ops/stateful_random_ops.py#L682). Is it the same as the `tf.random.get_default_generator` you have in mind?

[2019-10-18 18:24] angerson commented on #33251
Intel MPI support has been moved to https://github.com/tensorflow/networking. Please follow the instructions there.

[2019-10-18 18:24] #33251 closed

[2019-10-18 18:36] jvishnuvardhan commented on #33478
@n2cholas If you are looking for `tf.keras` Models, `model.get_layer(layer_name).outputs` or `model.layer[layer_index].output` will provide the details you are looking. This was already answered in the [link](https://github.com/tensorflow/tensorflow/issues/33129) you provided.

Please let us know what you think. Thanks!

[2019-10-18 19:00] itemko opened #33519 "TensorFlow models example hangs after changing to "bazel build --config=v2""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):

[2019-10-18 19:26] Daniel451 commented on #27298
@zzh8829 @rchao are there any updates? Any plans to fix the `name_scope` integration?

[2019-10-18 19:40] ldenoue commented on #29103
error disappears for me when I export as a tfjs_graph_model instead.
`tensorflowjs_converter --input_format tfjs_layers_model --output_format tfjs_graph_model your_exported_tfjs_model/model.json graph_model`

[2019-10-18 20:20] arthurflor23 commented on #33087
Hi @rmothukuru !

I made some tests and I think I found the error (my bad, anyway). I started use a custom loss function inside my class, so I change to a static method and the error not show up, but now I got this error [here](https://github.com/tensorflow/tensorflow/issues/33178) instead.

[2019-10-18 20:20] #33087 closed

[2019-10-18 20:27] Helmars commented on #33153
I'm trying to deploy AWS Lambda package containing tflite_runtime and getting the same error. Locally it is working correctly.

[2019-10-18 20:29] aleozlx commented on #33129
The question seems sufficiently addressed at this point. Thank you all!

[2019-10-18 20:29] #33129 closed

[2019-10-18 20:32] CantankerousBullMoose commented on #33374
The page says 'python > 3.4' and then if you scroll down to 'Package Locations' you can see that there isn't one for 3.8, and I guess that means we're supposed to know to use 3.7 (or 3.6 for Windows)? Last I checked, both 3.7 and 3.8 are '> 3.4' so the documentation should probably reflect the version restrictions clearly.

[2019-10-18 20:32] bas-aarts commented on #33360
build:
bazel build -j 24 --config=opt -c dbg //tensorflow/tools/pip_package:build_pip_package

confg:
root@1204a5c05f6b:/home/baarts/tensorflow# cat .tf_configure.bazelrc
build --action_env PYTHON_BIN_PATH="/usr/bin/python"
build --action_env PYTHON_LIB_PATH="/usr/local/lib/python3.6/dist-packages"
build --python_path="/usr/bin/python"
build:xla --define with_xla_support=true
build --config=xla
bu

[2019-10-18 20:33] haozha111 commented on #33429
Thanks for the info.

I'm wondering if there are certain corner cases caused the conversion to fail. Renjie, could you help also take a look?

[2019-10-18 20:34] genman commented on #33183
By replacing the line in linecache.py I have gotten past this:
[code]

[2019-10-18 20:39] gmartin001 commented on #30115
I'm experiencing the same problem. The Keras-only version works fine. However, the tensorflow.keras version does not. I've tensorflow versions 1.14.0 and 1.15.0 and they have the same problem.
Your help is greatly appreciated.

[2019-10-18 21:10] jvishnuvardhan commented on #33340
@off99555 I cannot reproduce the issue. When I ran it in colab, computation time is little more but not as much as you reported. I have checked some other models also. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/d91713318125c34768c5f8841e60b928/untitled582.ipynb).

@OverLordGoldDragon I could reproduce your issue. The reason is that when the model is very smal

[2019-10-18 21:25] OverLordGoldDragon commented on #33340
@jvishnuvardhan That is the problem, yes, but not its explanation - I've done the latter [here](https://stackoverflow.com/questions/58378374/why-does-keras-model-predict-slower-after-compile/58385156#58385156). Further, it's not the model size, but model size _relative to_ data size.

As noted by @off99555 , the 'solution' only works for those aware of the problem and its workaround - this issue,

[2019-10-18 21:39] aldenks commented on #33094
Also running into this. Here's a concise test case:
[code]

[2019-10-18 22:20] impjdi commented on #33413
@karopawil I see two `resizeInput`.  Can you elaborate which of those are giving you the problem?

[2019-10-18 22:26] impjdi commented on #33410
@manchengfenxu The error message is printed by `GlBuffer`.  I think you're trying to write more than what you can.  MobileNet IIRC has the input dimensions of size 224x224.  Is `inputSize = 224` ?

[2019-10-18 22:28] edumucelli commented on #18906
@fangyihao how have you built this one? Any chance you can share the dockerfile (if any)?

[2019-10-18 22:36] gowthamkpr commented on #33082
@muleyprasad `tf.data.Dataset.from_generator ` Creates a Dataset whose elements are generated by generator. And Dataset is always loaded lazily as you can see [here](# Loaded lazily due to a circular dependency (roughly). So, its not a surprise here and the answer for your question is "yes".

[2019-10-18 22:42] #32993 closed

[2019-10-18 23:05] angerson commented on #33165
Just to double check: you're building on `master`, right? If so, you'll need to install one of the versions of bazel we support at `master`, which you can find in `configure.py` (this is currently 0.24.1 through 0.29.1).

[2019-10-18 23:47] cottrell commented on #25299
@ghannum I think this now works. Always use the subclass API at the moment to begin with and I think it will save hassle. And just write a custom train loop as it will be more explicit when things fail.

import tensorflow as tf

[code]

[2019-10-18 23:48] petewarden commented on #33464
I did notice in your code snippet that the OpResolver isn't declared static, like the interpreter is. I'm not sure what the rest of your code looks like, but if the OpResolver object has a shorter lifetime than the interpreter then you could end up with mysterious crashes like this. If you look in the examples, you can see we declare resolvers as static in the setup() function:

https://github.com

[2019-10-19 00:46] CindyQi7788 commented on #33482
In the cell of Define a Generator: I think the dimension after 1st
upsample(512, 4, apply_dropout=True) ,  ### (bs, 2,2, 512), and so on...
otherwise the dimensions do not match with skip layers below.

up_stack = [
upsample(512, 4, apply_dropout=True), # (bs, 2, 2, 1024) ---> should be
(bs, 2,2, 512)
upsample(512, 4, apply_dropout=True), # (bs, 4, 4, 1024) ---> should be
(bs, 4, 4, 512)
upsample(

[2019-10-19 01:46] jojivk73 commented on #33138
@npuichigo, Thanks for all the information. Looking into this, I will update once I find the root cause.

[2019-10-19 01:55] ageron commented on #33297
Ah yes, that's exactly what I had in mind, thanks @wangpengmit . 👍

[2019-10-19 02:15] cgcodeboy opened #33525 "how can tf.image.crop_and_resize receive a tensor as crop box?"
### I have a proble with tf.image.crop_and_resize()
I have two tensor now, one with a dimension of (4,4,1), the other with a dimension of (1732,1732,3). I tried to get the index of maximum of the first tensor. and use the index multiply 433 as an index to crop the other tensor. But when I use tf.where to get the index, it returns a tensor, the tf.image.crop_and_resize just receive float32 as the b

[2019-10-19 02:16] longmalongma commented on #25403
Hi,I have meet this problem.my cuda is 9.0,cudnn is 7.1,tensorflow-gpu is 1.9.can you provide the guidance how do i  solver problem?

[2019-10-19 02:16] longmalongma commented on #25403
Hi,I have meet this problem.my cuda is 9.0,cudnn is 7.1,tensorflow-gpu is 1.9.can you provide the guidance how do i  solver problem?
InternalError (see above for traceback): Blas xGEMM launch failed

[2019-10-19 02:43] ronykalfarisi commented on #25403
What is your GPU?

On Fri, Oct 18, 2019, 10:23 PM longma <notifications@github.com> wrote:

[2019-10-19 02:53] longmalongma commented on #25403
my gpu is rtx 2080(8g).Do it has enough memory?

------------------ 原始邮件 ------------------
发件人: "Rony Kalfarisi"<notifications@github.com>;
发送时间: 2019年10月19日(星期六) 上午10:49
收件人: "tensorflow/tensorflow"<tensorflow@noreply.github.com>;
抄送: "longma"<1442342449@qq.com>;"Comment"<comment@noreply.github.com>;
主题: Re: [tensorflow/tensorflow] Eager Execution error: Blas GEMM launchfailed (#25403)

What is

[2019-10-19 02:55] n2cholas commented on #33478
Thanks @jvishnuvardhan for your response. I don't think `model.layer[layer_index].output` gives me the outputs I need.  Here's a minimal example of trying to compute the output gradients from a Dense layer using this property (runs in colab):

[code]

This prints `None` instead of the gradient. Manually tracking the outputs at each layer then computing the gradient gives me the output gradient of

[2019-10-19 03:01] n2cholas commented on #33478
If you change the model code to not include an `input_shape`, the model is never built and the `input` and `output` properties don't exist, even after the forward pass. If you change the model code from my previous example to the following:
[code]
The first bit of code in my previous reply will result in `AttributeError: Layer dense has no inbound nodes.`

The `input` and `output` properties simpl

[2019-10-19 03:10] ronykalfarisi commented on #25403
If it's out of memory error it will say that, so I believe you should be
fine. Since you have RTX 2080, I'd suggest you use CUDA 10 with CuDNN 7.5.
Nvidia released CUDA 10 specifically for RTX series. If you still wanna use
CUDA 9.0, I'd suggest use CuDNN 7.5

On Fri, Oct 18, 2019, 10:59 PM longma <notifications@github.com> wrote:

[2019-10-19 03:22] longmalongma commented on #25403
Than your for your reply,I will try to change it according to your advice right now.

------------------ 原始邮件 ------------------
发件人: "Rony Kalfarisi"<notifications@github.com>;
发送时间: 2019年10月19日(星期六) 中午11:18
收件人: "tensorflow/tensorflow"<tensorflow@noreply.github.com>;
抄送: "longma"<1442342449@qq.com>;"Comment"<comment@noreply.github.com>;
主题: Re: [tensorflow/tensorflow] Eager Execution error: Blas

[2019-10-19 03:49] manchengfenxu commented on #33410
Yes，inputSize = 224，the same with that in tensorflow/lite/jave/demo. I also found this message "Write to buffer failed. Source data is larger than buffer" in source code of GlBuffer. That is why I checked the size of imgData, output Classes carefully and compared them with those in tensorflow/lite/jave/demo but didn't found any clue. Is it the problem of the wrong usage of openGl? I didn't find an

[2019-10-19 04:14] SirjanK commented on #20874
Same problem here as well. tf version 1.12.

[2019-10-19 04:20] KunpengSong commented on #30748
Thank you! Saved my day. I'm on ubuntu 16.04, cuda 10.1. And this works:
pip uninstall tensorflow
pip uninstall tensorflow-gpu
conda install tensorflow-gpu==1.13.1
Then check GPU availability by [example](https://www.tensorflow.org/guide/gpu)

[2019-10-19 05:34] chris-opendata commented on #33400
System information
    Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
    Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
    TensorFlow installed from (source or binary): binary
    TensorFlow version (use command be

[2019-10-19 06:22] MeghnaNatraj opened #33526 "Error while trying to use tf.broadcast_weights"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-10-19 07:00] KLzC commented on #33250
@rmothukuru, Thanks for your information.
Those posts were try to slove by set paremeter `graph = tf.Graph()` , `tf.compat.v1.disable_eager_execution()`, `tf.keras.backend.clear_session()` but occur the same error.

I infer there might be a bug by **tensorflow2.0** and **Keras** that code working fine on TensorFlow 1.X. Here is sample code from [Class Activation Map](https://github.com/nickbiso/Ke

[2019-10-19 07:02] DoumanAsh commented on #33472
Hey @jdduke actually if flatbuffers wouldn't be leaked, it would be perfect for us.
The main problem right now is that not only it is leaked in headers, but GPU delegate library has these symbols public, which originally caused some asan issues.
I only noticed flatbuffers in public API because it was using our own headers which wasn't comptabile with 1.15 :(

Ideally we'd like static library, but

[2019-10-19 08:26] schmiflo opened #33527 "Custom tf.keras.Model memory footprint drastically affects performance"
**System information**
16.04.6 LTS
Python 3.5.2
GPU TITAN X (Pascal) 13GB

**Describe the current behavior**

The memory footprint of a custom tf.keras.Model object affects training performance by almost two orders of magnitude.

**Code to reproduce the issue**

The following is a stripped-down implementation of an RNN for text data loosely resembling the one in the [Effective Tensorflow 2.0 Tutor

[2019-10-19 08:38] #33305 closed

[2019-10-19 09:09] largeword commented on #32906
I solved this problem according to https://github.com/tensorflow/tensorflow/issues/31520#issuecomment-524584978

The problem still exists in TF 2.0 release, and I don't know why the solution worked.

[2019-10-19 09:09] #32906 closed

[2019-10-19 09:12] karopawil commented on #33413
The second one. Basically once you have set GpuDelegate and then you call resizeInput, it leads to the exception.

Naveen

[2019-10-19 09:34] jnd77 commented on #33403
@gadagashwini . Here is the [gist ](https://colab.research.google.com/gist/jnd77/e7193cb2eb57c23a35e460c6538751ff/untitled210.ipynb) reproducing the issue

[2019-10-19 10:35] blairhan commented on #33504
I guess you're using tensorflow 2.x. In that case, use tf.compat.v1.ConfigProto() instead.

[2019-10-19 10:54] appleyuchi commented on #33307
But only the developer know the meaning of each word of this error.
It's impossible for users to understand the meaning without the help of developer.

[2019-10-19 11:04] soroush opened #33528 "Broken Link"
Hi

Following URL seems to be down:

https://mirror.bazel.build/github.com/pybind/pybind11/archive/v2.3.0.tar.gz

Bazel uses that to download pybind11 and for some unknown reason fallback link (https://github.com/pybind/pybind11/archive/v2.3.0.tar.gz) is never being used as an alternative. (Is that a fallback btw?)

Build logs:

[code]

Any workaround?

**System information**
- OS Platform and Dis

[2019-10-19 11:12] appleyuchi commented on #33307
OK,I'll try to ask this question on stackoveflow today.

[2019-10-19 12:25] soroush commented on #33528
It's not only me:
http://www.site24x7.com/public/t/results-1571487777422.html

[2019-10-19 12:33] #33389 closed

[2019-10-19 12:40] FunmiKesa commented on #31114
I had the same issue. I fixed it by adding
[code]
to the app build.gradle file.

[2019-10-19 12:45] #30148 closed

[2019-10-19 13:23] Him010 commented on #18538
Can someone help me? I am getting the same issue.
I have already tried both ways as told by 43061b4a and aznshodan but the problem still persists.

[2019-10-19 13:31] wosiu commented on #31114
@kongaskristjan and @FunmiKesa - big thanks for investigating and sharing that! Said that, I feel propsed changes are more like workarounds and not solutions. It still would be nice to have a fix inside the tensorflow lib.

[2019-10-19 13:48] vmarkovtsev opened #33531 "MultiWorkerMirroredStrategy does not work with Keras + accuracy metric"
**System information**
The same environment as in https://github.com/tensorflow/tensorflow/issues/32654
But with 2 machines instead of 1 **and** Tensorflow 2.0 release from PyPi.

**Describe the current behavior**

I am training DenseNet121 on Imagenet with standard Keras code and custom dataset pipeline. `model.compile` is called with the only "accuracy" metric. I am using `MultiWorkerMirroredStr

[2019-10-19 13:58] rohitj782 opened #33532 "Operators not supported by Lite routine"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-10-19 14:03] soroush commented on #33528
There is also this one:

[code]
Is there something fundamentally broken about mirrors?

[2019-10-19 14:14] mihaimaruseac commented on #33528
Both should be fixed now.

[2019-10-19 14:16] mihaimaruseac commented on #33528
Oh, use http for mirror, not https. There is an issue with the SSL certificate that I haven't yet managed to work out. But since we already store checksums in workspace and that comes from GitHub via ssh/https there is not a high priority in fixing SSL for the mirror.

[2019-10-19 14:20] mihaimaruseac commented on #18538
Please open a new issue, filling in the template.

Note that 1.7 is very old and outside of support window. You should consider using 2.0 in which case Session is no longer needed.

[2019-10-19 14:22] mihaimaruseac commented on #33532
Please fill in template, add the description of the issue in the message and use a much shorter title

[2019-10-19 14:26] mihaimaruseac commented on #33400
Some similar issues #33401, #34046, #29463, @27519

[2019-10-19 14:28] soroush commented on #33528
Nope. Still broken:

http://storage.googleapis.com/mirror.tensorflow.org/github.com/keras-team/keras-applications/archive/1.0.8.tar.gz

[2019-10-19 14:29] jiangxuetao0823 commented on #7439
have you got the right way? thanks

[2019-10-19 14:43] John1231983 commented on #7439
I never used tensorflow again because it is hard to research. I killed it without finding the answer. I guess to move to pytorch

[2019-10-19 15:07] Him010 commented on #18538
thanks @mihaimaruseac
I was encountering this on Tensorflow 2.0 only.

As i am enrolled in a bootcamp so they are teaching us using previous version but in my PC i was getting error as I didn't know that 2.0 don't support Session.

Note:Sorry for grammatical mistakes.

[2019-10-19 15:44] tessy1234 commented on #33266
test tensorflow 2.0 virtualenv:
--------------------------------
virtual environment:
----------------------
#location of environments
cd C:\environments

#create virtual environment
#python version 3.7.4
virtualenv -p C:\Users\~\AppData\Local\Programs\Python\Python37\python.exe tf_2_0_0

#remove virtual environment
rm -r tf_2_0_0

#activate environment
tf_2_0_0\Scripts\activate
#deactivate enviro

[2019-10-19 15:49] soroush commented on #33528
Did you mean:
`sed -i 's/https:\/\/storage.googleapis.com\/mirror.tensorflow.org/http:\/\/storage.googleapis.com\/mirror.tensorflow.org/g' tensorflow/workspace.bzl`
?

DIdn't help either...

[2019-10-19 15:54] tessy1234 commented on #33266
anaconda tests:
-----------------
Activate and deactivate the various environments were done consecutively.

[2019-10-19 16:10] Uchiha-Jay commented on #12940
Still exited on 1.14.

[2019-10-19 16:21] baimkhan opened #33533 "Bcapak"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-19 17:12] jbuckman opened #33534 "Finish making strided_slice equivalent to numpy's strided_slice"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): No

**De

[2019-10-19 17:23] #33082 closed

[2019-10-19 17:24] lc0 commented on #33281
@jsimsa Thank you for explanation. The only difference, seems like we need to catch `StopIteration` on the last next call

[2019-10-19 17:26] sayakpaul opened #33535 "Using tf.data.Dataset.from_generator with tf.keras"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.0.0
- Python version:

[2019-10-19 17:55] CryMasK opened #33536 "failed to query event: CUDA_ERROR_LAUNCH_FAILED"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10 Enterprise, 64bit (1903)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
NA
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use

[2019-10-19 18:16] agsci2017 commented on #33103
The bug can happen due to 2GB limit in protobuf (tensorflow relies on it).
https://stackoverflow.com/questions/34128872/google-protobuf-maximum-size

[2019-10-19 18:41] njzjz commented on #32776
Downgrading from CUDA 10.1 to CUDA 10.0 solves the issue. Something wrong with CUDA 10.1?

[2019-10-19 19:12] sitting-duck commented on #23542
I was able to fix this for myself, building C++ on Windows, not using the tf_exported_symbols_msvc.lds method, but by using the TF_EXPORT method.

I made a README explaining my solution. The tutorial is step by step and starts at the very beginning, so you may have to scroll down past steps you have already done, like checking your hardware, installing Bazel etc.
Here is the url: https://github.co

[2019-10-19 19:23] sonfiree opened #33539 "Not build 1.15 windows"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- Python version: 3

[2019-10-19 19:29] hariprasadr92 commented on #31350
Hi , I tried with TF 2.0 , 1.15 ,1.14

The below import statement does not work

`import tensorflow.contrib.tensorrt as trt`

I am getting the below error :

 import tensorflow.contrib.tensorrt as trt
ModuleNotFoundError: No module named 'tensorflow.contrib.tensorrt'

[2019-10-19 19:38] sonfiree commented on #33539
1.14 Build

[2019-10-19 19:55] sitting-duck commented on #27527
Please check out a tutorial I wrote concerning this subject here: https://github.com/sitting-duck/stuff/tree/master/ai/tensorflow/build_tensorflow_1.14_source_for_Windows#step-7-build-the-dll

Feel free to ask me questions by responding to this comment or emailing ashley.tharp@gmail.com

[2019-10-19 20:11] netw0rkf10w opened #33541 "Training freezes when adding tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): `v2.0.0-rc2-26-g64c3d38 2.0.0`
- Python version: 3.5.2
- CUDA/cuDNN version: 9.2
- GPU model and mem

[2019-10-19 20:25] netw0rkf10w commented on #33541
I guess the issue has something to do with iterating over the dataset, because if I take the training steps (together with `tf.function` out of the training epochs then it works:

[code]

[2019-10-19 21:41] jsimsa commented on #33281
You are right, I updated my response above to reflect that.

[2019-10-19 22:17] patrick-samy commented on #31932
Having the same issue on Mac OS Catalina. Found this solve by downgrading pyarrow, but it does not work for me:
https://superuser.com/questions/1491364/attempted-import-of-apache-beam-in-python3-on-mac-throws-fatal-protobuf-error

[2019-10-19 23:08] guptapriya commented on #20874
@SirjanK - have you tested with the latest versions of TF? say TF 2.0 or TF 1.15? If the problem still persists, please re-open along with code to repro the issue

[2019-10-19 23:13] JonathanLehner commented on #27008
same problem

[2019-10-20 01:45] xiaojun-mbed commented on #10632
I met the same problem,and I tried all the above methods but did not solve them.the next_batch extracts 50 samples of the data set. The data set is 800*256*256*3 image data. I have changed the data type of the data set.

x = tf.placeholder(tf.float32,[None,256,256,3],name = 'X')
batch_xs, batch_ys = next_batch(50)
session.run(train_step, feed_dict={x: batch_xs, y_: batch_ys})

InvalidArgumentError

[2019-10-20 02:18] renjie-liu commented on #33429
Hi, you don't need to manually freeze the graph, you can just

use converter = tf.lite.TFLiteConverter.from_session(sess, input_arrays, output_arrays,input_shapes = {"inputs":[1,100,13]})

like here
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/experimental/examples/lstm/g3doc#3-lets-define-the-export-to-tensorflow-lite-model-function

also please note tf.lite.experimental.n

[2019-10-20 02:19] anandtestenv commented on #17101
just rename the file cudart64_XXX.dll to cudart_100.dll.
This is because command is still searching for version 10.0 but u have installed 10.1 or something else.

[2019-10-20 02:57] sayakpaul commented on #33361
@ravikyram any updates?

[2019-10-20 04:47] haseebi commented on #30810
at lease give correct indent code

[2019-10-20 05:37] aakh1361 commented on #23683
thanks
you save me !
:-)

[2019-10-20 06:03] VoVAllen commented on #24453
@EvenOldridge I'm willing to help. Based on my investigation, I found nvidia/dali did similar things we want, zero-copy on GPU between different frameworks and raw cuda operations (zero-copy on CPU should be easier). They wrote a tf plugin and registered some OP to do this, which I think is the proper level to implement this feature. Since I saw you are also from nvidia, could you try to involve t

[2019-10-20 06:06] VoVAllen commented on #24453
Also I found the synchronize API is exposed at `context.async_wait` ([here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/eager/benchmarks/resnet50/resnet50_test.py#L103)). Seems tf has many undocumented things...

[2019-10-20 08:06] yeyupiaoling commented on #33456
Ok, thank you

[2019-10-20 08:06] #33456 closed

[2019-10-20 08:09] racinmat commented on #33425
Just a small question, should this still have the awaiting response label?

[2019-10-20 08:44] Huixxi commented on #32729
Sorry, maybe I made a mistake in my former statement, it's not *Error*, it
is *Warning*, which means the is no gradient pass through my *weights*, so
that I can not train or update the weight parameters, and that is what I
understand, when you put the two line in the build function, you can see
that right? It will raise abundant of Warnings, you will see the output
just run the code in the Gist I

[2019-10-20 09:32] sourcecode369 commented on #33388
is there anybody who can help me out with this?

[2019-10-20 09:38] sakusss commented on #28919
Do you solve the problem ? cause I met the same error .

[2019-10-20 10:06] sourcecode369 commented on #33388
I finally was able to solve this for the keras by removing the metrics argument, though I dont understand why thats the case.
However for custom tensorflow training loop the error still persists. I guess the error is somewhere here,

I'll try to look into it and report back.

[2019-10-20 11:11] dbonner opened #33543 "[tf2.0.0] Fails to build on Python 3.8 - suggested fix (change nullptr to 0 in source)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0.0 with cuda and TensorRT
- Python version: 3.8
- Installed using virtualenv? pip? conda?: virtualenv
- Bazel version (if compiling from source): 0.26.1
- GCC/Compiler version (if compiling from source): 7.4.0
- CUDA/cuDNN ve

[2019-10-20 11:21] prathamesh0 commented on #22803
@ablenesi Hi, did you find any workaround?

[2019-10-20 12:22] sytelus commented on #26289
This issue affects TF 1.15 as well. I get error when using with CUDA 10.1:

` library 'cudart64_100.dll'; dlerror: cudart64_100.dll not found`

Is there a hope that TF can be easy to use for different CUDA versions like PyTorch? I like the PyTorch's approch and it could be easily implemented. At basic level just allow select your OS + CPU/GPU + CUDA version and get appropriate compiled binaries. I

[2019-10-20 12:25] VitaMusic opened #33544 "TF2.0 for compute capability 3.0"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): no

**Des

[2019-10-20 12:56] maximveksler commented on #25369
@dynamicwebpaige @shubham-samant I see some progress and commits being made on the link that was provided. Could you please clarify the status of this and when should we expect this to be "DONE" ?

[2019-10-20 13:00] sourcecode369 commented on #33388
I finally solved it.

[2019-10-20 13:00] #33388 closed

[2019-10-20 13:00] maximveksler commented on #25369
@Efaq i might be able to help but first, could you please clarify what you meant by the following statement and what is the failure condition under which this is expected?

Thanks..

[2019-10-20 13:33] jacpy opened #33545 "TypeError: Expected Operation, Variable, or Tensor, got 0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):NONE
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:NONE
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):2.0
- Pyt

[2019-10-20 13:57] shahriar49 commented on #33465
@gowthamkpr
Could you please help me with this issue?

[2019-10-20 14:05] pgavda commented on #17386
Same

tensorflow-1.6.0-cp36-cp36m-win_amd64.whl is not a supported wheel on this platform.

Plz help

[2019-10-20 14:08] peter-mourfield opened #33548 "Getting error following steps in 'Building Standard TensorFlow ModelServer'"
## URL(s) with the issue:

https://www.tensorflow.org/tfx/serving/serving_advanced

## Description of issue (what needs changing):

When I attempt to execute  the
[code]
step in the in the tutorial I get the this error:

[code]
I am running this on Mac OS Catalina w/ 8GB RAM allocated to the Docker Engine.

[2019-10-20 14:17] gkvoelkl commented on #29704
Is there any installation of TensorFlow 2.0 for Raspberry Pi?

Building does not work.

When will there be a pip wheel?

[2019-10-20 15:51] peace195 commented on #25776
@vainaijr  I did it here: https://github.com/peace195/tensorflow-lite-yolo-v3

Please try it. I would appreciate if you give me a star for this project :+1:

[2019-10-20 15:54] sayakpaul commented on #33535
Hi. The notebook is now updated with a worked example that:
- Shows the usage of tf.data.Dataset.from_generator along with Keras ImageDataGenerator for Keras models.
- Compares the performance between tf.data.Dataset.from_generator and ImageDtaGenerator.

[2019-10-20 15:54] #33535 closed

[2019-10-20 16:31] troublehacker commented on #33548
You must have missed an import statement.

can you share some code snippet to understand the issue?

[2019-10-20 16:33] troublehacker commented on #33548
You must have missed an import statement.

Can you share some of your code which will help understanding the issue?

[2019-10-20 16:50] troublehacker commented on #33536
This issue can be related to drivers. can you try to reinstall the cuda and check?

[2019-10-20 16:55] NIravMeghani opened #33549 "I want to train my model on gpu. So i installed everything which given in tensorflow-gpu. But now i want to go back on cpu. So, how to come back on cpu ?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-20 17:36] RSF45355382 commented on #19382
Hi. Could you please share some experience to solve this problem. I met it also.

[2019-10-20 17:41] prathamesh0 commented on #29478
Hi! The model gives all NaNs when used with training = False on test images. Can anyone please explain this?

[2019-10-20 19:09] mmilosav opened #33550 "tf.keras.Model.fit ignores class_weight when passed tf.data.Dataset"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-10-20 21:42] fonnesbeck commented on #29252
Can someone address the question from @breadbread1984? There doesnt appear to be any clear guidance in the docs regarding what the best practices are in the absence of `one_shot_iterator`.

[2019-10-20 22:12] mihaimaruseac commented on #33266
Please post log of a full session instead of separating commands by their scope and not posting relevant output.

Also, please use proper markdown to format code blocks/console output

[code]
 your code goes here
[code]

[2019-10-20 22:17] mihaimaruseac commented on #33528
I see both keras-applications 1.0.8 and abseil-py 0.7.1 at http://mirror.tensorflow.org/

[2019-10-20 22:17] mihaimaruseac commented on #33528
And clicking on the link in https://github.com/tensorflow/tensorflow/issues/33528#issuecomment-544151665 gives me the keras tarball to download

[2019-10-20 22:23] mihaimaruseac commented on #33539
[code]

[2019-10-20 23:32] photogazer opened #33551 "Failure to build tensorflow in Ubuntu"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile de

[2019-10-20 23:55] sitting-duck commented on #24885
I made a README explaining how I built the tensorflow .lib and .dll files for the Tensorflow C++ APIp on Windows. The tutorial is step by step and starts at the very beginning, so you may have to scroll down past steps you have already done, like checking your hardware, installing Bazel etc.
Here is the url: https://github.com/sitting-duck/stuff/tree/master/ai/tensorflow/build_tensorflow_1.14_sour

[2019-10-20 23:55] SamiEzz commented on #31249
the same problem here the answer https://stackoverflow.com/a/58478238/12248686

[2019-10-20 23:58] SamiEzz commented on #31249
I had the same problem in my linux laptop with tensorflow in python3 v3.6
Actually, you just need to change some lines in 2 files :
- 1

`~/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py

now change this code : (line 516)
[code]
by this code :
[code]
you have to do the same on this file :

`~/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py`

[2019-10-21 00:57] sherif-med commented on #13664
This error maybe due to inappropriately installation of cuda. tensorflow-gpu have no access to GPU devices. Try to reinstall cuda and include cudnn and check if tensorflow can use GPUs by running:

`sess = tf.Session(config=tf.ConfigProto(log_device_placement=True))`

[2019-10-21 01:04] philipperemy commented on #26289
@sytelus to be honest, I don't think it's in the roadmap of tensorflow to provide wheels ready to use for all the versions of CUDA. Best I did was to downgrade from 10.1 to 10.

[2019-10-21 01:07] zzh123123ise commented on #33165
Thanks for your repilies! But I've already build TF 1.13.1 successful.An incomplete install of Visual Studio and Visual C++ leads to this.I should check my environment first before I asked questions,sorry about that.

[2019-10-21 01:22] smellslikeml opened #33552 "Incorrect Arduino Person Detection .zip package"
## URL(s) with the issue:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/experimental/micro/examples/person_detection
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/experimental/micro/examples/person_detection#obtain-and-import-the-library

## Description of issue (what needs changing):
Under the heading "Obtain and Import the Library", the link incorrec

[2019-10-21 01:31] yongtang commented on #33551
@photogazer I noticed you are using Bazel 1.0.0. If I remember bazel 1.0.0 is still not supported yet. Could try with bazel 0.29.1 and see if the issue persists?

[2019-10-21 01:57] guptapriya commented on #32561
Thank you for filing the issue. Your analysis in https://github.com/tensorflow/tensorflow/issues/32561#issuecomment-532441133 is correct - load_weights should happen inside the strategy.scope because it ends up creating optimizer variables at that point.

We have recently addressed this in https://github.com/tensorflow/tensorflow/commit/e7fb9e52029a0711b3bd9799ce70428cef918e86#diff-39c47d5e727df3a

[2019-10-21 02:02] lsgrep commented on #24815
Should I base my PR based on tag v1.15.0, since cond is deprecated in 2.0?

[2019-10-21 02:25] bugzhu opened #33554 "I have installed tensorflow 2.0 through Anaconda prompt, however the jupyternotebook can't find the tf2.0 module."
**System information**
- Window 10 operation system
- TensorFlow 2.0:
- Python 3.6:
- Installed using pip;
- Downloaded from pypi.org.

**Problem**
I have installed TensorFlow 2.0 through Anaconda prompt, however, the jupyter notebook can't find the TensorFlow module. The detailed error is

Through the command 'pip list', I can find the TF 2.0.0 in my env. Meanwhile, when I using PyCharm in the en

[2019-10-21 02:44] yeonsookKwak opened #33555 "[TF 2.0] repeatdataset has no attribute 'make_one_shot_iterator'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platfor

[2019-10-21 02:44] syw2014 commented on #29545
Now what is the best way to save model created in subclassed ? Were there some examples for how to save and load models ? thank you!

[2019-10-21 03:09] sytelus commented on #26289
@philipperemy not asking for all CUDA versions. Is it possible to make TF 1.15 compatible with CUDA 10.1? This because numerous important fixes.

[2019-10-21 03:42] guptapriya commented on #33274
Hi - if you use tf.function around your gradient computation and aggregation, then the underlying graph can often do these optimizations for you.
I believe they do happen in certain circumstances where it makes sense. But sometimes, combining gradients from multiple layers and doing an all-reduce together is more efficient. Have you noticed an actual performance issue from this? Our goal is to mak

[2019-10-21 04:19] Jessespace opened #33556 "model.losses return null ?"
I want to use regularization loss to improve model accuracy, so I follow the official tutorial, but model.losses return **[]**, and got "**ValueError: inputs must be a list of at least one Tensor/IndexedSlices with the same dtype and shape**", Is there something wrong and how to fix it?
[code]

[2019-10-21 04:22] ymodak commented on #32573
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-21 04:22] #32573 closed

[2019-10-21 04:22] ymodak commented on #32458
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-21 04:22] #32458 closed

[2019-10-21 04:23] ymodak commented on #29937
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-21 04:23] #29937 closed

[2019-10-21 04:23] #33533 closed

[2019-10-21 04:58] ymodak commented on #33504
```tf.ConfigProto``` is deprecated in TF 2.0
Configuring device placements, device policy, gpu memory growth etc can still be done in TF 2.0 using [```tf.config.experimental```](https://www.tensorflow.org/api_docs/python/tf/config/experimental)

[2019-10-21 05:00] ouy160 commented on #32908
It still returns the same error message.

InvalidArgumentError: {{function_node __inference_Dataset_map_process_path_117}} slice index -1 of dimension 0 out of bounds.
	 [[{{node strided_slice}}]] [Op:IteratorGetNextSync]

[2019-10-21 05:10] ymodak commented on #33490
As the error message suggested you will need custom implementations for following operations;
```TensorListFromTensor, TensorListReserve, TensorListStack, While.```

- To make a custom op you may refer https://www.tensorflow.org/lite/guide/ops_custom
- You can also raise a request to add these features in TF by commenting on this issue thread.
  https://github.com/tensorflow/tensorflow/issues/2152

[2019-10-21 05:23] ravikyram commented on #33279
@dreddc
Did you get a chance to go through @mihaimaruseac, @ymodak suggestions and let us know if that helps to resolve the issue. Thanks!

[2019-10-21 05:24] anj-s commented on #33388
sourcecode369@ can you tell us how you solved the issue? I was able to repro the bug with the given cross_device_ops argument.

[2019-10-21 05:25] philipperemy commented on #26289
@sytelus from my understanding yes it's compatible but you have to compile it from the sources.

[2019-10-21 05:26] ravikyram commented on #33201
@SlavaKeshkov

Any updates on this issue please.Thanks!

[2019-10-21 05:39] gadagashwini commented on #33491
I am able to reproduce the issue with TF 2.0.0.Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/5453b2363c7e9509292d8cb440236841/untitled212.ipynb). Thanks!

[2019-10-21 05:48] ravikyram commented on #33549
Can you please go through the [link](https://www.tensorflow.org/guide/gpu) , #31135 and see if it helps you.Also, please let us know which TensorFlow version you are using ?.Thanks!

[2019-10-21 05:51] gadagashwini commented on #33016
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-21 05:51] #33016 closed

[2019-10-21 05:54] gadagashwini commented on #33495
@ArtemisZGL, Please provide the information asked in template.
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow

[2019-10-21 06:09] cmooreml commented on #20905
@michaeljbishop this very helpful however when I try to link against the generated libraries I the following errors:

[code]

[2019-10-21 06:11] SanthoshRajendiran opened #33557 "Support for Mediapipe tflite ops."
**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Mediapipe gives some custom implementation for few operators that can run only in Android GPU (Maxunpooling, Maxpoolingwithargmax2d, Convolution2dtransposebias). In tensorflow github repository, they have been mentioned as custo

[2019-10-21 06:14] ravikyram commented on #33541
@netw0rkf10w

Looks like issue is resolved. Please, confirm.Thanks!

[2019-10-21 06:16] DragonX081mk2 commented on #31609
Before trying 1.13.1, I have tried the 1.15.0 rc3, this problem existed too..

[2019-10-21 06:26] #33002 closed

[2019-10-21 06:27] rmothukuru commented on #33548
@peter-mourfield,
This issue is related to Tensorflow Serving. Request you to raise an issue in [TF Serving Repository](https://github.com/tensorflow/serving/issues), as that Repo will be looked at by Experts in TF Serving.  Thanks!

[2019-10-21 06:31] emla2805 commented on #33411
@ravikyram Same here, I don't see how the code is incomplete, could you please elaborate?

[2019-10-21 06:31] gadagashwini commented on #33501
@indranaut, Will it be possible to provide any use case or sample standalone code. Thanks!

[2019-10-21 06:33] rmothukuru commented on #33544
@VitaMusic,
Can you please provide a Use Case supporting your Feature Request. Thanks!

[2019-10-21 06:45] gadagashwini commented on #33517
@georgealexandruvlad, As this is more related to TF models, please post this in [TF model repo](https://github.com/tensorflow/models/issues). Thanks!

[2019-10-21 06:50] adish333 opened #33558 "Dev-board Interpretere Runtime Error"
I am working on the Coral dev board. I'm trying to deploy a segmentation model on it. When I'm running my deep lab segmentation model it is giving me the following error-

[code]
The model and script are working fine if I don't make it TPU compatible using edgetpu_compiler.

**Code to reproduce the issue**
[code]

[2019-10-21 06:59] ravikyram commented on #33526
I have tried on colab with TF version 2.0  and was able to reproduce the issue. Please, find the gist here.[Method1](https://colab.sandbox.google.com/gist/ravikyram/a2a526b2e1d95d7a70d6361efdc04da9/tensorflow-2-0-keras-crash-course.ipynb) and [Method2](https://colab.sandbox.google.com/gist/ravikyram/dc8967174fec9d63a6630c2bff684c10/untitled288.ipynb).Thanks!

[2019-10-21 07:01] kor01 opened #33560 "BatchMatmul on GPU Wrong Result"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
-  Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): pip install tensorflow-gpu
- TensorFlow ve

[2019-10-21 07:08] tulasiram58827 commented on #33429
Yeah its working I can directly convert to tensorflow lite model from session.
But what is the problem with above process I did?

[2019-10-21 07:14] LoicDagnas commented on #33020
@gowthamkpr
here is the gist https://colab.research.google.com/gist/LoicDagnas/22e522fd0355e4c337a5dae325476703/tensorflow_interleave_bug.ipynb

The data I used are the two tf records in this zip:
[tfrecords.zip](https://github.com/tensorflow/tensorflow/files/3749465/tfrecords.zip)

[2019-10-21 07:20] Shubham3101 commented on #32285
Thanks @jvishnuvardhan, it is working with tf-nightly-2.1.0 version.

[2019-10-21 07:24] aligoglos opened #33561 "python 3.8 package"
please release python 3.8 package.

[2019-10-21 07:27] Crypto2557 commented on #33516
#### System Information

-  Linux Ubuntu 18.04
- TensorFlow installed from: pip install tensorflow-gpu
- TensorFlow version: 2.0.0-beta1
- Python version: 3.6.8
- Bazel version (if compiling from source): NO
- GCC/Compiler version (if compiling from source): NO
- CUDA/cuDNN version: CUDA 10.0 cuDNN 7.6
- GPU model and memory: GTX 1080 Ti

#### Describe the current behavior
I found the same problem

[2019-10-21 07:59] renjie-liu commented on #33429
Great to know it's working. :)

If you converted from frozen graph, you need to use tf.lite.experimental.convert_op_hints_to_stubs

like here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/op_hint.py#L36-L40

using 'tf.lite.TFLiteConverter.from_session' is much simpler. :)

[2019-10-21 08:15] jamesgreenxxvii commented on #24828
Where do I copy the line of code? I've just started to experience the same issue.

[2019-10-21 08:23] VitaMusic commented on #33544
developing, testing, executing computer vision models with TF2.0-gpu/TRT-TF on a notebook with the gpu card of compute capability 3.0.
actually TF v1.10 is used but would like to pass to TF2.0

[2019-10-21 08:29] hzk7287 commented on #33490
Thank you for your reply! I have found this https://github.com/tensorflow/tensorflow/issues/33416.

vcarpani says "so my problem could be solved by adding TensorListFromTensor, TensorListReserve, TensorListStack, While to the whitelist here and use the standard tensorflow implementation."

[2019-10-21 08:29] RaymondReddington opened #33562 "symbol "_SaverDef_default_instance_" becomes undefined after updating tensorflow from 1.2 to 1.12"
symbol "_SaverDef_default_instance_" becomes undefined after updating tensorflow from 1.2 to 1.12

what dependency shoud i add to BUILD file?

_SaverDef_default_instance_ is in cc file generated by tensorflow/core/framework/saver.proto in 1.2

in 1.12, saver.proto is not compiled. has the target changed?

the dependency targets in BUILD are:
       "//tensorflow/cc:cc_ops",
        "//tensorflow/c

[2019-10-21 08:35] mimxrt commented on #33202
@jvishnuvardhan Thank you for your comment. I provided a demonstration example in my initial comment that includes the data pipeline for your reference. As you can see the example contains 3320 time series files of length 3728 and the batch size is 256. The training dataset is a split of 70% and the validation dataset a split of 10%.

Be that as is may, you can try to remove the last line of the e

[2019-10-21 08:41] DoumanAsh commented on #33472
@jdduke On side note, as 1.15 is latest release, I assume any changes related to that would be reflected only in 2.x right?

[2019-10-21 08:43] gadagashwini commented on #33536
@CryMasK, Downgrade the CuDNN version to 7.4 and try again. Let us know if still issue persists. Thanks!

[2019-10-21 08:47] gadagashwini commented on #33550
I could reproduce the issue on colab with TF 2.0.0.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/12fbb6df6ff8c99dce74b1464b725141/untitled213.ipynb). Thanks

[2019-10-21 08:49] rmothukuru commented on #33531
@vmarkovtsev,
I tried reproducing the error with the code you provided but it resulted in no error. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/0e20624aa912b7f41041c0772ad66ed0/33531.ipynb).
Can you please help us in reproducing the error. Thanks!

[2019-10-21 08:53] tessy1234 commented on #33266
debug tensorflow 2.0 runtime:
-------------------------
analyse last statement (line 345) in error trace before exception
(File "C:\environments\tf_2_0_0\lib\imp.py", line 345, in load_dynamic)

result:
-------
for some reasons the DLL "_pywrap_tensorflow_internal.pyd" can't be loaded into tensorflow runtime!

detail:
--------
#see top entries in error trace
#included debug information in function

[2019-10-21 08:53] gadagashwini commented on #33039
@airplane2230, Are you happy to close this issue now. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-21 09:00] gadagashwini commented on #33107
@berniekirby, Glad it resolved.
Are you happy to close this issue. Thanks!

[2019-10-21 09:02] gadagashwini commented on #33211
@andrejlevkovitch, Were you able to resolve this? Thanks!

[2019-10-21 09:02] rmothukuru commented on #33527
@schmiflo,
Tried reproducing your code, but it is resulting in the error, `NameError: name 'tqdm' is not defined`. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/e91992c2896e8b6338adb28409d0de8e/33527_cpu.ipynb#scrollTo=rxpoE5BiiWQn).

Can you please help us reproduce the issue. Thanks!

[2019-10-21 09:05] gadagashwini commented on #33288
@butterfly-coder, Did you get a chance to look at the @mihaimaruseac's comment. Thanks!

[2019-10-21 09:07] vmarkovtsev commented on #33531
Besides, you need to edit my snippet to proceed with the second epoch because the error happens during an epoch change.

[2019-10-21 09:11] rmothukuru commented on #33509
@kingsleyljc,
It looks like this issue is related to TF JS, not Tensorflow. If so, request you to raise an issue in [TF JS Github Repository](https://github.com/tensorflow/tfjs/issues/) because it will be looked in by the respective experts. Thanks!

[2019-10-21 09:13] Shubham3101 commented on #21585
@NylaWorker thank you so much for this post.

[2019-10-21 09:15] georgealexandruvlad commented on #33517
@gadagashwini The thing is that the model works with accuracy and it doesn't with other tf.keras.metrics. So the problem shouldn't be at the model's implementation if the only change is to add an additional metric to be evaluated. I implemented a simple example that still results in the error mentioned https://colab.research.google.com/drive/18okZncYBJOrd9AZxy4tCrHQ3O3s_tNsl.

The question is whet

[2019-10-21 09:16] #33039 closed

[2019-10-21 09:25] hzk7287 commented on #33416
Is it OK to just add TensorListFromTensor, TensorListReserve, TensorListStack, While to the whitelist .  Should I build it from source to get a binary version?  Just add these operators to whitelist and I don't do anything else?  These operators will use standard tensorflow implementation automatically？

[2019-10-21 09:30] gadagashwini commented on #33418
@jyh2378, I tried replicating the issue on colab but got different error message. Please take a look at the [gist](https://colab.sandbox.google.com/gist/gadagashwini/13cd9a4427adcef6e779d99074e7ce96/untitled211.ipynb). Thanks!

[2019-10-21 09:32] cyfra opened #33563 "tf.io.GFIle not working correctly with UTF-8 files and Python3"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu
- TensorFlow installed from (source or binary): source internal Google
- TensorFlow version (use command below): 1.5.0, internal Google
- Python version: 3.6.7

**Describe the current behavior**
Calling 'rea

[2019-10-21 09:37] UdiBhaskar commented on #28836
I am also getting the same issue.

[2019-10-21 09:37] UdiBhaskar commented on #27949
I am also getting the same issue while writing custom layer functionality

[2019-10-21 09:42] rmothukuru commented on #33503
Could replicate the error with `TF Version 1.14 and 1.15` and by `importing` from `tensorflow.python.keras` and  `tensorflow.keras` as well.

Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/c2fde49c1f29ff4dff930baf03f9ad81/33503_progressbar.ipynb). Thanks!

[2019-10-21 09:43] tulasiram58827 commented on #33429
Ok. Thanks for the info.

[2019-10-21 09:48] gadagashwini commented on #33424
Could reproduce the issue with Tf 2.0.0. Please see the [gist](https://colab.sandbox.google.com/gist/gadagashwini/1dcfd9ad579df7586d62a0176a11feb6/untitled215.ipynb). Thanks!

[2019-10-21 10:04] rmothukuru commented on #33496
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-10-21 10:12] ravikyram commented on #33411
@emla2805
I am able to reproduce the issue with` tf.feature_column.sequence_numeric_column` But you said  `saving a model using a sequence_categorical_column_with_* together with indicator_column or embedding_column works as expected`.is where i am facing the issue. Thanks!

[2019-10-21 10:20] stakemura opened #33564 "TFLite metal delegate can't share MTLDevice"
**System information**
- TensorFlow version (you are using):master branch
- Are you willing to contribute it (Yes/No):Yes

**Describe the feature and the current behavior/state.**
As Apple [the official document](https://developer.apple.com/library/archive/documentation/3DDrawing/Conceptual/MTLBestPracticesGuide/PersistentObjects.html) mentioned, all apps should create only one MTLDevice object.

[2019-10-21 10:20] ravikyram commented on #33400
@chris-opendata
Can you please go through @mihaimaruseac  work around and see if it helps you.Thanks!

[2019-10-21 10:32] ravikyram commented on #33454
I have tried on colab with TF version 1.15.0-rc3 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/daca9a1f94832b974f102164b76d0b1b/untitled292.ipynb). Thanks!

[2019-10-21 10:43] emla2805 commented on #33411
@ravikyram Ah, got it. I have updated the original description with an example of working code using two feature columns, one `indicator_column` wrapping a `sequence_categorical_column_with_vocabulary_list` column and one `embedding_column` wrapping a `sequence_categorical_column_with_hash_bucket` column.

[2019-10-21 10:48] tobegit3hub commented on #24453
Thanks @VoVAllen and @EvenOldridge . We have implemented the TensorFlow custom op to convert TensorProto to DLPack and run TVM as TensorFlow op in https://github.com/tobegit3hub/tftvm . It would be much better to support the native zero-copy from TensorFlow API. Before that, we still need to convert the data type by ourselves.

[2019-10-21 10:55] oholimoli opened #33565 "Keras Model cannot be saved as .h5 when tf.keras.backend.clip is used"
**System information**
- Tensorflow 2.0.0
- Python 3.7.4

**Current behavior**
I'm using the `tf.keras.backend.clip` function in a model and cannot save it because of a naming problem: Two layers have the same name (see `tf_op_layer_clib_by_value_16` in the ModelToDot output below). This causes a problem when exporting it to hdf5.

Couldn't find a workaround or way to rename one of the two layers.

[2019-10-21 10:58] rmothukuru commented on #33496
@abhay1722,
In the process of reproducing the error, I have cloned the Branch corresponding to TF Version 2.0 and ran the command,

`bazel test //usr/local/google/home/mothukuru/tensorflow- 2.0/tensorflow/python/kernel_tests:decode_raw_op_test` but it resulted in the below error,

[code]

[2019-10-21 10:59] DelphianCalamity commented on #30894
I'm having this issue, too.
This is a minimal example to reproduce it:

`import tensorflow as tf
from tensorflow.python.framework import function

arr = tf.TensorArray(tf.int32, 1, dynamic_size=True)

@function.Defun(tf.int32, tf.int32, func_name="func", out_names=["ret"])
def f(i, arr):
    arr = arr.write(i, 1)
    return arr

x = f(1, arr)

sess = tf.Session()
sess.run(x)
`

[2019-10-21 11:00] mmalekzadeh opened #33566 "TimeseriesGenerator for labeled time-series such as sensor data"
**System information**
- TensorFlow version: v2.0.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Currently,  `TimeseriesGenerator` gets `data` and `target` as input and return a generator that can be used for iterating over a time-series with a sliding window.
- If `row` is the current time-point,  then for each time-window of length `[

[2019-10-21 11:11] berniekirby commented on #33107
Assuming the "fix" is verified and I don't need to do that in the next git download of course you can close it. Surprised others have not seen this issue.

[2019-10-21 11:32] xiaoqiang-ok commented on #4680
this may be the protobuf problem.

[2019-10-21 11:46] mbartzokas opened #33567 "Failure to load and remap a 2-D Tensor from checkpoint when variance scaling initializer is used"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution:
os: Darwin
os kernel version: Darwin Kernel Version 17.7.0: Wed Feb 27 00:43:23 PST 2019; root:xnu-4570.71.35~1/RELEASE_X86_64
os release version: 17.7.0
os platform: Darwin-17.7.0-x86_64-i386-64bit
linux distribution: ('', '', '')
linux os di

[2019-10-21 11:49] amitport commented on #33561
duplicates

https://github.com/tensorflow/tensorflow/issues/33374
https://github.com/tensorflow/tensorflow/issues/33543

[2019-10-21 11:52] isohrab commented on #30488
When people (like myself) come from python to java world, everything is strange! here is how I solved my problem regarding all linking errors:
I assumed you already have simple hello Tensorflow project, explained [here](https://www.tensorflow.org/install/lang_java)

First:
1. [Download](https://www.tensorflow.org/install/lang_java#download) and copy tensorflow JNI files to :/usr/lib/tensorflow
2.

[2019-10-21 11:54] fleinen commented on #24828
@jamesgreenxxvii you can execute each line individually in your terminal.
Hope this helps.

Best
Fabian

[2019-10-21 12:12] peter-mourfield commented on #33548
Thanks @rmothukuru! I've opened an issue in TF Serving. https://github.com/tensorflow/serving/issues/1468

[2019-10-21 12:12] #33548 closed

[2019-10-21 12:14] urvishp80 commented on #33449
I have got the more or less same issue while running the BERT model using TF hub.

`WARNING: Entity <bound method BertLayer.call of <__main__.BertLayer object at 0x000001F3B880B0B8>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Caus

[2019-10-21 12:18] indranaut commented on #33501
@gadagashwini  There is no need for any sample standalone code here.

The issue is simple. When models are downloaded, they are downloaded to `~/.keras/models`.

But what if the disk quota policy does not allow for a lot of space in the home folder ? Hence, a much better thing would be to make the download path configurable.

[2019-10-21 12:18] rmothukuru commented on #33516
Could reproduce this issue with TF Version 2.0 in Google Colab, with CPU and GPU as Runtime. Here is the [Gist](https://colab.sandbox.google.com/gist/rmothukuru/f4c7bf2b0b0e9908a4343be6f0935843/33516_oom_error.ipynb).

[2019-10-21 12:28] urvishp80 commented on #33449
I run my code again and I got this error now

[code]

[2019-10-21 12:35] Sentient07 commented on #31349
Hello,

Has the proposed solution been implemented? If not, i would like to send a pull request. :+1:

[2019-10-21 12:37] fhoering opened #33569 "tensorflow-1.15.0 manylinux wheel on PyPi is invalid"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.7.1908 (Core)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.15.0
- Python version: 3.6
- Installed using virtualenv? pip? conda?: virtualenv pip
- Bazel version (if c

[2019-10-21 12:47] andres0820m opened #33570 "different results in inference between python and c++"
hi, i'm doing a re identification network, implementing a triplet-loss function, at that point everything is fine. the networks works fine in python, I implemented the network on keras with tensorflow as backend, I passed the .hd5 to a .pb file to make inference in tensorflow c++, the probmes is that with the same images the result is difference between python and c++ and I don't know why anyone t

[2019-10-21 12:48] rmothukuru commented on #33060
@pooyadavoodi,
Can you please let us know if your issue is resolved. Else, can you please help us reproduce the issue. Thanks!

[2019-10-21 12:53] rmothukuru commented on #33081
@Davari393,
 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-10-21 12:54] sourcecode369 commented on #33388
Yup the problem I found was due toi `tf.distribute.MirroredStrategy(cross_device_ops=tf.distribute.ReductionToOneDevice)` and rather the proper definition would be,
`tf.distribute.MirroredStrategy(cross_device_ops=tf.distribute.ReductionToOneDevice())`. Forgot to put the parenthesis due to which a default argument was not getting passed.

[2019-10-21 13:10] Flamefire opened #33571 "Tracing of first batch does not collect compute events"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint 19.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: unknown
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2019-10-21 13:15] CryMasK commented on #33536
Tensorflow can not build on CuDNN 7.4
`2019-10-21 21:11:07.554798: E tensorflow/stream_executor/cuda/cuda_dnn.cc:319] Loaded runtime CuDNN library: 7.4.1 but source was compiled with: 7.6.0.  CuDNN library major and minor version needs to match or have higher minor version in case of CuDNN 7.0 or later version. If using a binary install, upgrade your CuDNN library.  If building from sources, make

[2019-10-21 13:15] #33536 closed

[2019-10-21 13:18] dreamibor opened #33572 "[tflite] Support INT8 quantization for PACK with TFLITE_BUILTINS_INT8 OpsSet"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14
- Python version: 3.6

**Describe the current behavior**
Similar to the UNPACK node issue in ht

[2019-10-21 13:33] PolinaDemochkina opened #33573 "Cannot find the placeholder op that is an input to ReadVariableOp."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux 4.15.0-62-generic
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): binary
- TensorFlow version: tensorflow-gpu 2

[2019-10-21 13:36] durandg12 commented on #32957
It is good to know, thank you. But it makes me wonder why other API usages are displayed on a lot of [tensorflow tutorials](https://www.tensorflow.org/tutorials/), e.g. [this basic one on keras](https://www.tensorflow.org/tutorials/keras/classification) or [this quickstart for advanced user](https://www.tensorflow.org/tutorials/quickstart/advanced).

Thanks also for the counterexample on my assump

[2019-10-21 13:47] mattc-eostar commented on #32999
2.0.0

[2019-10-21 13:51] schmiflo commented on #33527
@rmothukuru

Sorry, I forgot to add imports. Either add
[code]
if you have tqdm installed (`pip3 install --user tqdm`) or turn `tqdm.tqdm(range(100000))` into `range(100000)` but then you have to measure time per iteration in some other way.

[2019-10-21 13:58] rmothukuru commented on #33506
@tiru1930,
Can you please let us know what exactly you want to achieve using Custom Loss so that we can help you out. Thanks!

[2019-10-21 14:20] abdou31 opened #33574 "The choice of the values of the batch size"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):1.13.1
- Py

[2019-10-21 14:22] BluePaladin commented on #33382
[dequantize_data.txt](https://github.com/tensorflow/tensorflow/files/3751297/dequantize_data.txt)

[2019-10-21 14:44] mma1979 opened #33576 "Decorated function tried to create variables on non-first call"
I am training a TM model using transfer and whin I executing the fit(dataset, epochs=3) I got the following error

[code]

[2019-10-21 14:45] yongtang commented on #33543
Thanks @dbonner. I tested on Ubuntu 18.04 + python 3.8 and the build completed successfully. Created a PR #33575 to carry the fix.

Note tensorflow depends on h5py which does not have python 3.8 support yet, as such I think a release version of tensorflow for python 3.8 may have to wait (for h5py).

[2019-10-21 15:00] mattc-eostar commented on #31249
@SamiEzz
Is this dependent on a particular version of numpy? I am currently using 1.16.4, but 1.17.0 should be fine with TF2.0.0 right?

[2019-10-21 15:20] mattc-eostar commented on #32999
@haozha111

Tf: 2.0.0
Numpy: 1.16.4

Here is the error if I run:
[code]

[code]

[2019-10-21 15:46] gunan commented on #33374
Looks like there are also build issues with python 3.8.
Let's follow those up in https://github.com/tensorflow/tensorflow/issues/33543

And once all our dependencies release python 3.8 packages, we will quickly move to prepare ours.

[2019-10-21 15:47] gunan commented on #33561
Closing as duplicate. Let's follow this up after https://github.com/tensorflow/tensorflow/issues/33543

[2019-10-21 15:47] #33561 closed

[2019-10-21 15:51] ksslng commented on #33414
I think this is a good issue for my first PR for TensorFlow. I'll add dtype as an argument and set `tf.dtypes.int64` as the default value.

[2019-10-21 15:56] pbecker93 opened #33577 "additional "axis" parameter and different default values of keras.layers.LayerNormalization"
Hello,

**System Info**

Tensorflow Version 2.0

**Describe the feature and the current behavior/state.**

The current (tensorflow 2.0) implementation of keras.layers.LayerNormalization accepts one argument, "axis", specifying the axis that should be normalized. The "center" and "scale" parameter tensors are created with the same shape as the axis that is normalized. The default of this parameter

[2019-10-21 16:06] Samsomyajit commented on #33552
I am taking this problem!

[2019-10-21 16:06] mihaimaruseac commented on #33576
Please fill in template and provide a short/minimal reproducing example. I already added backticks to the error paste to make it readable, though it is extremely long.

[2019-10-21 16:06] wolfviking0 commented on #33489
I was able to find a work around by patching abseil.

[2019-10-21 16:06] #33489 closed

[2019-10-21 16:14] mihaimaruseac commented on #33569
Strange, because `pip install tensorflow==1.15.0` works.

[2019-10-21 16:19] jsimsa commented on #33414
Thank you @ksslng . Please add me as a reviewer when you PR is ready.

[2019-10-21 16:20] mihaimaruseac commented on #33563
Confirmed in tf-nightly and python3.7

[2019-10-21 16:22] gargn commented on #25443
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-21 16:22] #25443 closed

[2019-10-21 16:24] gargn commented on #30232
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-21 16:27] gowthamkpr commented on #33465
@shahriar49 Please post this question in [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) as this platform is only for bug/performance, docs or build/installation issues. Thanks!

[2019-10-21 16:31] fhoering commented on #33569
Yes. But the hash of metadata is still wrong. Pip install doesn't seem to check that.
My use case is that I try to embed the tensorflow wheel in a [pex file](https://github.com/pantsbuild/pex) and that fails.

`
pip install pex
pex tensorflow==1.15.0
`

[2019-10-21 16:37] SamiEzz commented on #31249
I had this issue with the latest version of numpy ('1.17.3')

[2019-10-21 16:37] ghannum commented on #25299
Thanks for the feedback. I've tried the subclass approach as you've shown, but the fit_generator is very explicit about not taking dicts. 'ValueError: You cannot pass a dictionary as model target.'

I am considering writing a custom loop, but the fit_generator encompasses a ton of useful code, including handling of metrics, callbacks, validation, progress bars, workers, etc. That's a lot of work a

[2019-10-21 16:51] JanuszL commented on #24453
That is not true. DALI asks [TF to allocate memory](https://github.com/NVIDIA/DALI/blob/master/dali_tf_plugin/daliop.cc#L273) and then [copy is made](https://github.com/NVIDIA/DALI/blob/master/dali_tf_plugin/daliop.cc#L310L315). Although it is GPU2GPU so it is fast.

[2019-10-21 16:53] EvenOldridge commented on #24453
Thanks Janusz.  Per our conversation I'm going to add DALI to the list of frameworks that would benefit from dlpack support.

[2019-10-21 16:55] ymodak commented on #33437
This can help you suppress the deprecation warning messages;
[code]

[2019-10-21 16:56] haozha111 commented on #32999
I have a feeling that the model is not exported to saved model correctly. From the last error message you post, this is an error coming from the tf python saved model API.

Could you provide a self-contained python script + any model file so that I can give it a try on my machine? It's hard to reason about it without running it myself.

Thanks!

[2019-10-21 16:57] devitnow15 opened #33578 "tensorflow model installation fails on windows10,using cmake3.15.4win64 , visual studio anyversion"
following https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html
and https://github.com/protocolbuffers/protobuf/blob/master/cmake/README.md
 protobuf failing while using command

cmake -G "NMake Makefiles" -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../../../../install ../..

error says : /out:CMakeCCompilerId.exe
CMakeCCompilerId.obj
LINK : fatal error LNK1

[2019-10-21 17:02] tiru1930 commented on #33506
Eventually I am creating network to assign high score to anomaly videos and
low score to normal videos. So my model will take batch of anomaly and
normal videos at once and with loss function it assigned parameters
distinguish the anomaly and normal videos

On Mon, 21 Oct 2019 at 7:35 PM, rmothukuru <notifications@github.com> wrote:

[2019-10-21 17:02] ymodak commented on #33412
@saintthor Thanks sharing the memory usage stats. However at this point we cannot reproduce the reported behavior since we don't have access to your local model.
Perhaps you can build a similar model using predefined [tf.keras.datasets](https://www.tensorflow.org/api_docs/python/tf/keras/datasets) or attach your model if possible. Thanks!

[2019-10-21 17:35] Samsomyajit commented on #33552
@smellslikeml  would you please elaborate on this issue...

[2019-10-21 17:39] gowthamkpr commented on #33555
As per Release 2.0.0-alpha0, tf.data.Dataset.make_one_shot_iterator() has been deprecate in V1, removed from V2, and added to tf.compat.v1.data.make_one_shot_iterator().

For more details you can refer to the following [issue](https://github.com/tensorflow/tensorflow/issues/29252)

[2019-10-21 17:48] smellslikeml commented on #33552
@Samsomyajit Certainly, both "person_detection" and the "magic_wand" Arduino demos under tensorflow/lite/experimental/micro/examples (under heading: Obtain and Import the Library) incorrectly link the micro_speech.zip and the hello_world.zip packages, respectively.

[2019-10-21 17:48] dukecyto commented on #30232
@gargn er, isn't it more like Tensorflow team updates ME on the progress?

[2019-10-21 17:57] mattc-eostar commented on #32999
@haozha111
Script and model files can be found here:
https://drive.google.com/open?id=1TezJfFBduy35uKdxPu7QlN_ukug1JYLG

[2019-10-21 18:02] NIravMeghani commented on #33549
tensorflow version 2.0.0

[2019-10-21 18:04] mattc-eostar commented on #32999
Python==3.6.5
Numpy==1.16.4
Tensorflow==2.0.0

[2019-10-21 18:08] gargn commented on #30232
@ANSHUMAN87 Do you have an update on your PR?

[2019-10-21 18:21] NIravMeghani commented on #33549
Python 3.7.2 (tags/v3.7.2:9a3ffc0492, Dec 23 2018, 23:09:28) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license()" for more information.

Num GPUs Available:  0

tf.Tensor(
[[22. 28.]
 [49. 64.]], shape=(2, 2), dtype=float32)

Num GPUs Available:  0 .....here it's shown no gpu avilable. but i have NVIDIA Geforce 940MX.

[2019-10-21 18:30] #31328 closed

[2019-10-21 18:31] tensorflowbutler commented on #6541
It has been 31 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-21 18:32] tensorflowbutler commented on #32941
It has been 18 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-21 18:32] tensorflowbutler commented on #31328
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-10-21 18:32] tensorflowbutler commented on #30602
It has been 17 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-21 18:33] gowthamkpr commented on #33565
@oholimoli Tried to reproduce your issue in google colab using the lastest version of Tensorflow i.e., 2.1.0-dev20191021 but was not able to reproduce it. Please find the gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/5cf063d9e3509684b288f1839b1252e4/untitled203.ipynb#scrollTo=b9F2THOpllp3).

[2019-10-21 18:33] Samsomyajit commented on #33552
@smellslikeml That probaby deals with our problem here...

[2019-10-21 18:37] james-chuang commented on #32561
Thanks for the response.

The issue I ran into: I trained a model using MirroredStrategy with 2 GPUs, and saved the model weights. Then, with access to only a single GPU (or only CPU), I tried to load the saved weights using `load_weights` inside `strategy.scope()` as discussed above. However, the weights could only be loaded when `load_weights` was called outside of `strategy.scope()`.

[2019-10-21 18:41] MartinMohlenkamp commented on #32799
Here is a short, self-contained example where call and predict disagree (without raising an exception).
[code]

[2019-10-21 18:43] smellslikeml commented on #33552
@Samsomyajit thanks! Look forward to the update.

[2019-10-21 18:48] gowthamkpr commented on #33554
**Try installing tensorflow this way:**

Create a virtual environment (recommended)

[code]

**Then test it in terminal:**

[code]

[2019-10-21 19:17] #33307 closed

[2019-10-21 19:37] #33543 closed

[2019-10-21 19:45] andrewsmartin commented on #32943
+1, any updates on this? My organization is also blocked upgrading because of the bug in 1.14.

[2019-10-21 20:23] Ryandry1st commented on #29545
I understand that so long as you use the save model format, which is done by calling
`model.save("NameOfYourModel", save_format='tf')`
This should be the most clear method of successfully saving a subclassed model, while also being clear of the format being used. If you specify the file format, e.g. .h5, .keras, then it will not work for a subclassed model. If you specify anything else, as I was e

[2019-10-21 20:25] kkimdev commented on #33180
Hi,

`f._get_tracing_count()` counts the number of times that the function is traced. When `f._list_all_concrete_functions_for_serialization()` is called, the function is actually traced again 3 times in your example.  You can verify that by inserting `print('Traced')` in the `f`'s function body.

For the warning message, it doesn't use `f._get_tracing_count()`, it uses `f._call_counter.get_tracin

[2019-10-21 20:30] gowthamkpr commented on #33020
@LoicDagnas  I don't think the issue is with `Dataset.interleave`. Can you please go through this [tutorial](https://towardsdatascience.com/practical-coding-in-tensorflow-2-0-fafd2d3863f6) on reading back tfrecords in Tensorflow 2.0 and let me know if it helps!

[2019-10-21 20:43] wdirons commented on #33179
Inside of the notebook you can run `!pip install tensorflow_datasets` before the code that imports tensorflow_datasets. Similar to how `!pip install seaborn` is done in regression.ipynb.

That change could be submitted as a pull request to https://github.com/tensorflow/docs

[2019-10-21 20:56] qlzh727 commented on #33423
The code is bit messy, but I think the error is caused by creating the lstm cell within the call body(), which is executed in the graph context(). The correct way to do it is create the cell at init(), and have a build() method, which build the weights for cell (it will run in eager context), and use the cell in the call() body, like below:

[code]

[2019-10-21 20:56] #33423 closed

[2019-10-21 20:58] jvishnuvardhan commented on #28668
@andmax Please create a new issue as your error is different so that others with similar error will get benefited. ping me once you create. We will resolve. Thanks!

[2019-10-21 20:58] jvishnuvardhan commented on #33454
@fchouteau Thanks for finding this. The issue happens only when you provide `save_format` as input as in `m.save('test_model_tf', save_format="tf")`. If you replace that line with `m.save('test_model_tf.tf')`, then there is no error. Please check the gist [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/eb5684e8c405b47a41686e951fd99823/untitled584.ipynb).

The following is working fine.

[2019-10-21 21:00] qlzh727 commented on #32987
Should be fixed now.

[2019-10-21 21:00] #32987 closed

[2019-10-21 21:03] ckang244 commented on #6968
This fixed the issue for me when running TF Object Detection. Numpy was updated to 1.17.3 from 1.14.6.

[2019-10-21 21:29] oholimoli commented on #33565
If you try model.save('model.h5') instead you will get the same error.

[2019-10-21 21:31] jvishnuvardhan commented on #33545
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

Please post it in Stackoverflow with the standalone code, we will resolve it th

[2019-10-21 21:31] #33545 closed

[2019-10-21 21:32] YulinWang-001 commented on #8627
Removing and reinstalling wont work cause in this case, it says 'There is no module called 'Tensorflow', but when I install tensoeflow, the hdf5 is automatically back, so it's like a dead loop.

[2019-10-21 21:35] kazimuth opened #33585 "tf.compat.v1.wrap_function throws error when creating variable in tf.distribute scope"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-10-21 22:19] haozha111 commented on #33494
Hi,

Could you change this line:
converter.allow_custom_ops = False

to
converter.allow_custom_ops = True

I run your script in TF 2 and can successfully do the conversion.

[2019-10-21 22:28] goldiegadde commented on #28976
Can you please add a link to the colab ?

[2019-10-21 22:30] haozha111 commented on #33515
Hi Benjamin,

Simply add those ops into the whitelist won't work, unfortunately. Since 'while' is a control flow op, the flex runtime currently can't run control flow ops.

I'm wondering why do we need compute ctc loss in tflite? isn't it related with training only? if we don't care about computing the loss in inference, i think we can just use the logits and decode the result from it? actually tf

[2019-10-21 22:45] gowthamkpr commented on #33565
@oholimoli This is indeed a bug in Tensorflow 2.0. In tensorflow 2.0, you can change ".h5" to ".tf" and everything should be saved.

There is also a workaround to save the model in.h5 format and its mentioned in this [comment](https://github.com/keras-team/keras/issues/12195#issuecomment-544416524).

[2019-10-21 22:51] #33348 closed

[2019-10-21 22:58] sgambient opened #33586 "non_max_suppression GPU version not working on TF 1.15"
Getting the following error on trying to place non_max_suppression() on GPU.

[code]

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (sou

[2019-10-21 23:12] jvishnuvardhan commented on #32769
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-21 23:12] #32769 closed

[2019-10-21 23:20] jvishnuvardhan commented on #32539
@oliverhu Finally `TF1.15.0` stable version was released. Can you try it and let us know how it progresses. Thanks!

[2019-10-21 23:22] jvishnuvardhan commented on #32420
@grananqvist Did you had time to review my comments? Thanks!

[2019-10-21 23:35] haozha111 commented on #32999
Hi Matthew,

I took a look on your saved model, it has a metagraph named 'serving_default' but I think it's actually the training graph, not the inference graph.

This is probably because you export the saved model using those lines:
checkpoint.f = train_step
to_save = checkpoint.f.get_concrete_function(tflite_input_shape, tflite_target_shape, tflite_enc_hidden_shape)
tf.saved_model.save(checkpoin

[2019-10-21 23:38] jsimsa commented on #31896
Why are using `DataGenerator` instead of passing your `dataset` directly to `model.fit`?

[2019-10-21 23:39] jvishnuvardhan commented on #31419
@benoitkoenig Sorry for the delay in my response. There were lot of improvements between TF1.14 and TF1.15. Can you please check with TF1.15.0 which was released recently and let us know how it progresses. Thanks!

[2019-10-21 23:54] jvishnuvardhan commented on #29746
This is a stale issue. Please check the issue with latest TensorFlow. If the issue still persists in the newer version of TF, please feel free to reopen it by providing details about the issue and a standalone code to reproduce the issue. Thanks!

[2019-10-21 23:54] #29746 closed

[2019-10-22 00:08] jvishnuvardhan commented on #29140
@Nitinsiwach Sorry for the delay in my response. I ran your code in `TF1.15.0` and I don't see the issue. That particular block I ran 7 times without any issue. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/e2439a3866424044d428d3e9567cea1f/untitled588.ipynb). Thanks

[2019-10-22 00:44] zhuhong commented on #32808
hi， guys； any update？

[2019-10-22 00:58] Grape-A commented on #33504
thank you！

[2019-10-22 00:59] Grape-A commented on #33504
thank you！

[2019-10-22 01:13] mjlbach opened #33587 "Performant (distributed) tf dataset creation from replay buffer using distribute strategies?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0
- Pyth

[2019-10-22 01:18] YichengWu commented on #32218
I did one test several days ago. First I didn't have these two lines and the code ran fast (7s/100iter). After adding these two lines, the code loading process was really slow (took about 30mins) and the running process was slow (65s/100iter). I am not sure if it proves that cache is the reason because the code was slow (60s/iter, not the loading part) after I commented out these two lines. I can

[2019-10-22 01:31] moonyoung430 commented on #12745
@chansonzhang
I use command curl <tfjob_name>:<port> in each pod and it report "curl: (7) Failed to connect to 192.168.2.53 port 80: Connection refused",  How to solve this please?

[2019-10-22 01:37] oliverhu commented on #32539
@jvishnuvardhan  thanks, will try it out. Just curious what is the supporting model (priority) for 1.15? Is 1.15 a LTS version or it is just some temporary release?

[2019-10-22 01:43] QiJune commented on #33274
@guidj  Thanks for your reply.

I notice that there is an Async mode in [EagerExecutor](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/eager/eager_executor.h#L95) in the C++ runtime of TF2.0 Eager version. It launches EagerOperation asynchronously. In addition, there is a `RemoteCopyNode` which supports "remote-->remote"/"remote-->local"/"local-->remote" copy.

[2019-10-22 02:07] paanguin opened #33588 "tflite interpreter makes huge difference in output for tf.reduce_mean() when it is quantized"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from source
- TensorFlow version (use command below): ('v2.0.0-0-g64c3d38', '2.0.0') & ('v2.0.0-rc2-26-g64c3d38', '2.0.0')
- Python version: 2.7.12
- Bazel version (if compiling from source): 0.24.1
- GCC/

[2019-10-22 03:17] mmmmayi commented on #31609
hi, actually I didn't figure it out, but it seems have no effect to the result, because I can still get the tflite model even with this error

[2019-10-22 04:03] jvishnuvardhan commented on #32539
@oliverhu `TF1.15` is a stable version. This is the final TF1.x version. I think this will be supported for an year only. We would suggest everyone to take a look at TF2.x which will be the only version going to be supported in future.  Thanks!

[2019-10-22 04:05] xiNA2019 commented on #30092
hi yhliang2018, do u know how to use tf.contrib.keras.optimizers.Adamax?

[2019-10-22 04:22] yongtang commented on #33563
I think it is possible to check the utf8 length while reading, and compensate the remaining bytes. Created a PR #33590 for the fix.