[2022-06-27 10:13] mohantym commented on #56588
Hi @njuhang !
You can specify the desired intermediate nodes in output_arrays to visualize them properly.
[code]
Attached relevant[ thread]( https://stackoverflow.com/a/56961776/11530462) for reference.
Thank you!

[2022-06-27 11:22] tilakrayal commented on #56583
@allansdefreitas,
I was able to execute the provided code without any issues. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/3de1672d69ad19067646d45ab9895d1d/retinanet.ipynb).

[2022-06-27 11:36] mohantym commented on #56586
@GChaitanya2001 !
You can use the above commands in 2.3 version too. Thank you!

[2022-06-27 11:48] #56428 closed

[2022-06-27 11:48] #56420 closed

[2022-06-27 11:52] Thunsir commented on #44176
it still useless

[2022-06-27 12:24] allansdefreitas commented on #56583
@tilakrayal , me too: I ran this code perfectly. The problem is that I don't know how to load my own dataset to this retinanet.

[2022-06-27 12:29] FragrantRookie opened #56592 "Micro Speech Example Deploy to STM32F746 error!"
### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf2.9

### Custom Code

No

### OS Platform and Distribution

ubuntu20

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[code]

### Sta

[2022-06-27 12:54] chunduriv commented on #32434
@ThomasOerkild,

Sorry for the late response. This issue was fixed.

[code]
Output:
[code]

Thank You.

[2022-06-27 13:31] mohantym commented on #56587
Hi @Rahn80643 !
1.x versions are not supported any more

Min and Max values  in the tuple of [default_ranges_stats](https://www.tensorflow.org/api_docs/python/tf/compat/v1/lite/TFLiteConverter#:~:text=default_ranges_stats) has to be integer ones. Please test with integer values and let us know if it works.

Thank you!

[2022-06-27 13:42] DerGodoot opened #56593 "tensorflow:AutoGraph could not transform lambda and will run it as-is."
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.4.1

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 22.04

### Mobile device

_No response_

### Python version

3.9.12

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-06-27 14:00] DevOpsThinh commented on #56492
![completely_converting_a_savedmodel](https://user-images.githubusercontent.com/56128362/175959317-ded7274e-ef28-41fb-a444-b374a9406873.png)
I have completed the conversion, no more errors.

[2022-06-27 14:03] DevOpsThinh commented on #56492
![completely_converting_a_savedmodel](https://user-images.githubusercontent.com/56128362/175960095-6fcb4347-f168-468d-87ad-fa6781c270c0.png)
I have completed the conversion, no more errors.

[2022-06-27 14:15] ohadlights commented on #48021
You can build Release with this command:
cmake --build build -j 8 --config Release

[2022-06-27 14:34] tilakrayal commented on #56563
@chunduriv,
I was able to reproduce the issue on `tensorflow-cpu` v2.8, v2.9, nightly and on `tensorflow-gpu` [v2.8](https://colab.research.google.com/gist/tilakrayal/8c99de113facb8006da66581a3a7969b/untitled401.ipynb), the code was executing without any error and the result was also as expected. Kindly find the gist [here](https://colab.research.google.com/gist/tilakrayal/c3168fa6dc7f381fa51972cd

[2022-06-27 15:04] chunduriv commented on #46929
@BruceChen2017,

Sorry for the late response. I tried on windows using `TF2.9.1` and it is working as expected.

[code]
 Output:
[code]

Thank you.

[2022-06-27 15:22] chunduriv commented on #43783
I am able to replicate this issue using `TF2.9.1` on Windows.

[2022-06-27 15:44] sushreebarsa commented on #56404
@roshan2908 Could you confirm if [this](https://github.com/tensorflow/tensorflow/issues/56404#issuecomment-1165730608) is the complete code snippet to replicate the issue. I tried to replicate the issue [here](https://colab.research.google.com/gist/sushreebarsa/732c0a70385163b7e18df81e78eaff33/56404.ipynb), please confirm the gist and let me know if I'm missing something to reproduce the issue?
Th

[2022-06-27 15:52] sushreebarsa commented on #56534
@NiuYingchun Could you please let us know if you have tried to upgrade to the latest TF version?
Thank you!

[2022-06-27 16:33] #51825 closed

[2022-06-27 17:11] SebastianCa opened #56595 "InvalidArgumentError: Removed XLA support for adding ragged Tensors in TF 2.9"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9.1

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-06-27 18:01] roshan2908 commented on #56404
I am not able to reproduce the same on colab. Seems like it might be because of different version of keras.
So uninsatalled keras and installed it again, it worked for me.

pip uninstall keras
pip install keras --upgrade

[2022-06-27 18:41] #53743 closed

[2022-06-27 20:07] drubinstein commented on #56322
Any update?

[2022-06-27 20:08] charaizlabs commented on #56322
Hi there! I'm following up on this issue! We're looking for `.dylib` files for Android development unit testing

[2022-06-27 21:04] Shahbazahammed opened #56597 "Iam using android phone . Not business"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2022-06-27 21:48] #55710 closed

[2022-06-28 00:48] #56377 closed

[2022-06-28 01:26] wangzy0327 commented on #56585
it's also failed
![image](https://user-images.githubusercontent.com/22990858/176067063-c58d8ff0-47ad-439e-b5df-3956a6068222.png)

[2022-06-28 01:31] jhogg11 opened #56599 "Basic Keras model underperforming against Scikit-Learn MLPRegressor model"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

binary

### Tensorflow Version

2.9.0

### Custom Code

Yes

### OS Platform and Distribution

macOS Monterey

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_N

[2022-06-28 02:52] scut-salmon commented on #14768
A design that doesn't return to the original order is so un-human. Do designers not use their products very much？

[2022-06-28 03:29] NiuYingchun commented on #56534
Thank you, I'm trying. I haven't finished it yet

[2022-06-28 03:31] wowhhh opened #56600 "Poor performance of tensorflow higher versions"
### Issue Type

Performance

### Source

binary

### Tensorflow Version

2.4.1, 2.3.1, 2.2.0, 2.1.0, 2.0.0, 1.15.2 , 1.14.0, 1.13.1

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 16.04

### Mobile device

_No response_

### Python version

3.7.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model an

[2022-06-28 04:17] GChaitanya2001 commented on #56586
Hi @mohantym,
I ran the above two commands and I am still able to see the difference between AMD and INTEL. Please let me know about any other flag I can provide. Thank you!

[2022-06-28 05:08] tilakrayal commented on #56595
@chunduriv,
I was able to reproduce the issue. Code works fine with TF v2.8, whereas with TF v2.9 and TF-nightly the code got executed with error. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/fae1d2764a2ed37893e78538d548377f/56595-cpu.ipynb). Thank you!

[2022-06-28 05:09] sushreebarsa commented on #56349
@com98 Thank you for the update!

[2022-06-28 05:20] sushreebarsa commented on #56597
@Shahbazahammed
In order to expedite the trouble-shooting process, could you provide more details on the issue and fill the [template](https://github.com/tensorflow/tensorflow/issues/new/choose). Thank you!

[2022-06-28 05:27] sushreebarsa commented on #56599
@jhogg11
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2022-06-28 05:45] mohantym commented on #56586
Hi @gadagashwini  ! Could you look at this issue. Thank you!

[2022-06-28 05:49] gadagashwini commented on #22129
Hi @sumitbinnani, You can refer [Export a SavedModel](https://www.tensorflow.org/hub/exporting_tf2_saved_model). For better response on Tf Hub issue, kindly post it on [Tf hub repo](https://github.com/tensorflow/hub/issues). Thank you!

[2022-06-28 06:19] sushreebarsa commented on #56593
@DerGodoot I tried to replicate the issue on colab, could you please find the [gist](https://colab.research.google.com/gist/sushreebarsa/dbe1f45da0e936b8456b669cf722ab7d/56593.ipynb#scrollTo=TJANtabLyOF_) and confirm the issue?
Thank you!

[2022-06-28 06:36] lisheng89 commented on #18861
int init(const std::string& model_path, int device_id) {
    tensorflow::SessionOptions sessionOptions;
    tensorflow::RunOptions runOptions;
    // some nodes could place in cpu
    sessionOptions.config.set_allow_soft_placement(true);
    // specify gpu device id (check `tensorflow/cc/saved_model/loader.cc` LoadSavedModelInternal)
    sessionOptions.config.mutable_gpu_options()->set_allocator_t

[2022-06-28 06:54] gadagashwini commented on #56585
Hi @wangzy0327,  Building TF from source was not compatible with cuda package that are installed using the open source `nvidia-cuda-toolkit` package (`sudo apt install nvidia-cuda-toolkit`). Recommend you to install deb packages on Nvidia.

[code]
Clear the cache
`bazel clean --expunge`

Build Tensorflow from source

Thank you!

[2022-06-28 07:02] wangzy0327 commented on #56585
Hello, @[gadagashwini](https://github.com/gadagashwini) I installed cuda by runfile instead of open source package(sudo apt install nvidia-cuda-toolkit)

my environment as follows:

![image](https://user-images.githubusercontent.com/22990858/176114578-b15e246b-5980-477e-8b29-d2e89ee12e04.png)

[2022-06-28 07:03] donglinz commented on #36465
Any update on 2022?

[2022-06-28 07:07] gadagashwini commented on #56435
Hi @vsbc2010,
Can you try
`bazel build //tensorflow/lite/c:tensorflowlite_c.dll --config=opt --define tflite_with_xnnpack=true TF_ENABLE_ONEDNN_OPTS=1`

Thank you!

[2022-06-28 07:26] gadagashwini commented on #29357
Hi @KocsisV,
You can get the minimum Hardware requirements to install Tensorflow from [here](https://www.tensorflow.org/install/pip#hardware_requirements).
<img width="934" alt="Screen Shot 2022-06-28 at 12 54 06 PM" src="https://user-images.githubusercontent.com/99852755/176118768-2794a9fc-1740-43fe-b42a-c99ddd4e1e4a.png">

Thank you!

[2022-06-28 07:55] KocsisV commented on #29357
Documentation is still incomplete.. Check [https://www.tensorflow.org/install/lang_c](https://www.tensorflow.org/install/lang_c),  you linked the PIP package's page, which is a completely different release type.
Last time (3 years ago) the this library supported a different set of compute architectures than what the pip package does (what you just linked). Don't know if this is still the case or n

[2022-06-28 08:11] BenjaminWegener commented on #55522
https://github.com/tensorflow/tensorflow/issues/22

[2022-06-28 08:38] xlnwel commented on #56530
Any updates? @sushreebarsa and @chunduriv

[2022-06-28 08:48] #50637 closed

[2022-06-28 08:57] hshazly opened #56603 "MKL use cannot be disabled"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

TF 2.8.0

### Custom Code

No

### OS Platform and Distribution

Linux CentOS 8

### Mobile device

_No response_

### Python version

3.8.8

### Bazel version

4.2.1

### GCC/Compiler version

8.2.1

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Cur

[2022-06-28 08:59] sushreebarsa commented on #56589
Hi @RMNT! Older version of TF(1.15) is not actively supported. We recommend you to kindly upgrade to the latest version and let us know the outcome?
Thank you!

[2022-06-28 09:35] xbwee1024 commented on #35506
@karimnosseir still have another question, appreciate if you know the anser:
How can tflite::delegate::hexagon run on QC devices without 'device signing'(signature with TestSig, unsigned-PD)?
Or it does but i dont known, and where?
Thanks~

[2022-06-28 09:46] yaopanyaopan commented on #39240
same problem

[2022-06-28 09:53] sushreebarsa commented on #56555
@chunduriv I was able to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/089d2bddcaa2c1dd06d8493917583273/56555.ipynb#scrollTo=wy0ahziJZcWC) for reference. Thank you!

[2022-06-28 09:57] Thunsir commented on #44176
sorry, i try it again, it indeed works.

[2022-06-28 09:58] CaptainDario commented on #55970
Any new on this because I need to build a binary on windows.

[2022-06-28 09:58] CaptainDario commented on #55970
@sachinprasadhs

[2022-06-28 10:09] sushreebarsa commented on #56577
@MiraGaikwad
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2022-06-28 10:48] #25798 closed

[2022-06-28 11:19] chunduriv commented on #56555
@Xinshuai-Lyu,

Thank you for opening this issue.

Development of keras moved to separate repository https://github.com/keras-team/keras/issues.

Please post this issue on `keras-team/keras repo`. For more details please refer [here](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999).

[2022-06-28 11:47] FengMu1995 commented on #56590
this is gpu code
   // Load model
    std::unique_ptr<tflite::FlatBufferModel> model = 	tflite::FlatBufferModel::BuildFromFile(modelname);
    TFLITE_RVM_CHECK(model != nullptr);
    // Build the interpreter
    tflite::ops::builtin::BuiltinOpResolver resolver;
    tflite::InterpreterBuilder builder(*model, resolver);
    std::unique_ptr<tflite::Interpreter> interpreter;
    builder(&interpreter);

[2022-06-28 11:48] #19056 closed

[2022-06-28 11:57] mohantym commented on #55583
Hi @thomaszheng !
Have you checked this document to [reduce binary size](https://www.tensorflow.org/lite/guide/reduce_binary_size) using two tflite models with different configurations. You can create multiple TFLite models using Dynamic range/ Float 16 or Int 16 quantization and use the Bash command with specific targets to get a lighter model. Other options can be [model optimization](https://ww

[2022-06-28 12:10] v3551G opened #56607 "Request a demo about tensorflow C++ 2.x for inference"
I found the offical released tensorflow C++ library with version 2.6 on the website: https://tensorflow.google.cn/install/lang_c, However, there is no a complete demo to show how to load and preprocess data (especially for sequential data, not picture), load model and for inference in the C++ environment. Can you help me find several examples?

Thank you sincerely.

[2022-06-28 12:25] thomaszheng commented on #55583
@mohantym i have used quantization to get a lighter model,and it also reduce tflite model size from 8M to 4M,and I will try again. and now i think the size of  tensorflow-lite.aar*(1.2M)  and tensorflow-lite-select-tf-ops.aar*(6.5M) is too big.

My model is implemented with reference to this tutorial [model_personalization](https://github.com/tensorflow/examples/tree/master/lite/examples/model_per

[2022-06-28 13:48] #44237 closed

[2022-06-28 13:52] FireCulex opened #56608 "trap invalid opcode in libtensorflow_io_plugins.so"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

v1.12.1-77459-g4ff6b08be52 2.10.0

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

5.11

### GCC/Compiler version

8.4.0

### CUDA/cuDNN version

_No response_

### GPU model a

[2022-06-28 14:44] mohantym commented on #56607
Hi @v3551G !
Instructions for built-in C API from source can be found[ here](https://tensorflow.google.cn/install/lang_c). You can find other details on other ops [here](https://www.tensorflow.org/api_docs/cc). Attached a relevant [thread ](https://medium.com/@reachraktim/using-the-new-tensorflow-2-x-c-api-for-object-detection-inference-ad4b7fd5fecc)to understand  the process.

@sachinprasadhs ! C

[2022-06-28 14:45] MM2932 commented on #54481
Hi @sirakiin !

Do you think you guys can run the change on a SnapDragon660 based device or something similar to reproduce our environment?

Thanks!
Massimo.

[2022-06-28 14:48] anotheruserofgithub commented on #56152
@sachinprasadhs

[2022-06-28 14:48] MM2932 commented on #56457
Hi @miaowang14 !
Are you taking care of this issue?

Thanks!
Massimo.

[2022-06-28 14:54] jhogg11 commented on #56599
Okay, thanks for the response.

[2022-06-28 14:58] tilakrayal commented on #56600
@wowhhh,
I was able to execute the provided code without any issues on tensorflow v2.8 and the memory usage was also minimal. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/e2b4e2514f8ae8a0aef357807912c716/56600.ipynb).

`Get_dummies memory usage is { 13.313965797424316 }MB; Peak memory was :{ 14.69572925567627 }MB`

Thank you!

[2022-06-28 15:22] iCodite opened #56610 "Could not find device for node: {{node Qr}} = Qr[T=DT_HALF]"
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.2
* TensorFlow installed from (source or binary): Binary
* TensorFlow version (use command below): Tensorflow 2.7
* Python version: 3.7

I’m running into errors when using `tf.linalg.qr()` with inputs of half precision. The [documentation](https://www.tensorflow.org/api_docs/python/tf/linalg/qr) lists float16 as a supported ty

[2022-06-28 15:55] BenjaminWegener commented on #56151
i have forked and patched the gpu delgate with support for python:
https://github.com/BenjaminWegener/tensorflow_lite_gpu_python
inference on arm64 and x64 is no problem with both opencl and opengl. but if i start training using the described way, i get an unspecified runtime error at
[code]

[2022-06-28 16:26] miaowang14 commented on #56457
This indicates that the model somehow has caused the qti-dsp NNAPI driver to crash. Since it is an issue with proprietary driver, I'll forward the issue to our vendor partner.

Could you share the following information:
Device Name, Manufacture, Android version?

[2022-06-28 16:48] qlzh727 commented on #56231
let me install vscode and play with it. Not sure which part triggers this difference.

[2022-06-28 18:55] SeeForTwo commented on #56356
Thank you for reporting this. M1 support is currently experimental.

[2022-06-28 19:07] nSircombe commented on #56088
I have a question about the last passing run - why are there only 920 tests?
With `tensorflow/tools/ci_build/build_scripts/DEFAULT_TEST_TARGETS.sh`, shouldn't we have closer to 3k? Even with a few exclusions and test filters?

[2022-06-28 19:25] reid-sutherland commented on #43667
@superp0tat0 @scd75 @hfahrudin Is there any update on this issue? This is something I would very much like to see implemented. Am I the only one that is surprised this is not already the default behavior?

I could contribute if needed but it seems I am not the only one interested.

[2022-06-28 19:35] karimnosseir commented on #56151
Sorry for the late reply. We have it in the plan to support it, but not yet ready.

[2022-06-28 19:48] #56450 closed

[2022-06-28 20:19] sachinprasadhs commented on #56607
We don't have an end to end example on Tensorflow c++ yet, however, you can find the API reference for al the C++ implementation here https://www.tensorflow.org/api_docs/cc and each API will be having details/code example/code snippet which will help you. Thanks!

[2022-06-28 20:37] anotheruserofgithub commented on #56151
Understood, thanks for the answer!

[2022-06-28 21:14] penpornk commented on #56356
@kulinseth There seems to be an issue finding the `Expm1` op on M1 GPU. Could you please help take a look?
[code]

@AlbertoSinigaglia Have you installed the [`tensorflow-metal` plugin](https://developer.apple.com/metal/tensorflow-plugin/)? It is required for GPU usage.

[2022-06-28 21:15] nitins17 commented on #56088
Our Linux builds currently run 1358 pip tests. These are the tags/flags that we use: https://github.com/tensorflow/build/blob/master/tf_sig_build_dockerfiles/devel.usertools/cpu.bazelrc#L71-L80

[2022-06-28 22:26] FireCulex commented on #56608
Recompiled tensorflow_io from instructions found here: https://www.tensorflow.org/io/development
Had to install tf-models-official which automatically downgrades Tensorflow and had to reinstall the pip package I made from source.

[code]

Appears to be running.

[2022-06-28 22:26] #56608 closed

[2022-06-28 23:06] sachinprasadhs commented on #56530
Since, `tf.function` creates a new graph each time it is used and `Gradient tape` does not record the operations done outside its graph.
Ideal way in your case is to wrap all the expensive computations within the single `tf.function` and compute the Gradient in the same graph.

[2022-06-28 23:37] xlnwel commented on #56530
Hi @sachinprasadhs. I remember that TF constructs the graph only at the first call and keeps it thereafter, while torch destroys the graph after every call. But you told me that `@tf.function` creates a new graph each time. Does it mean that `@tf.function` now behaves similarly to torch?

I acknowledge that, but that'll be very expensive if I do multi-step meta-gradients. Isn't there a cheaper way

[2022-06-28 23:48] #52194 closed

[2022-06-29 00:42] hguihot opened #56615 "Allow int16 input/output even when not using 16x8 quantization mode"
Currently the valid types can be either `int16` or `int8`/`uint8`, but not a combination of both. Some models could for example contain a custom op returning an `int16` tensor as model output, and converting such model to TFLite is failing. It looks like always adding `_dtypes.int16` to the list of supported types when [quant_mode.is_integer_quantization()](https://github.com/tensorflow/tensorflow

[2022-06-29 04:19] nurujjamanpollob opened #56616 "ImportError: dlopen(/Users/nurujjamanpollob/miniforge3/lib/python3.9/site-packages/tensorflow/python/_pywrap_dtensor_device.so, 0x0002): Symbol not found: __ZN10tensorflow31MaybeRaiseExceptionFromTFStatusEP9TF_StatusP7_object"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

binary

### Tensorflow Version

2.7.0

### Custom Code

Yes

### OS Platform and Distribution

macOS 12.4 on M1 Pro ARM64

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and mem

[2022-06-29 04:25] mohantym commented on #56615
Hi @hguihot ! Could you also share a minimal standalone code too to expedite the issue. Thank you!

[2022-06-29 05:06] tilakrayal commented on #56529
@GChaitanya2001,
Related issue #56586 was already escalated. Kindly feel free to move this issue to closed status and follow #56586 for the updates. Thank you!

[2022-06-29 06:36] fatcat-z commented on #56283
Do you mean the data in attached tflite models are incomplete?

[2022-06-29 06:48] #56456 closed

[2022-06-29 06:48] Sankalpanthi commented on #47554
Did you find a solution? If yes please do tell me

[2022-06-29 06:50] nSircombe commented on #56088
Ok, thanks @nitins17 - are these the flags & filters used for all builds, nightly / pre-commit / release etc.?
That's still more than this AArch64 pipeline has run though - is that simply the `-no_aarch64` flag? Or possibly the `-no_oss_py#` flag? (should this one be removed from the AArch64 pipeline - I believe that was suggested at one of the SIG build meetings?).

I have a downstream pipeline r

[2022-06-29 07:15] rajeev921 commented on #56422
@gadagashwini @angerson @Arnold1

Hi Will anyone help me to resolve this. It been long time but no reply ?

[2022-06-29 08:06] dathudeptrai commented on #56255
@gdannyliao I also had this issue. My model need to use flexDelegate so i added "-force_load $(SRCROOT)/Pods/TensorFlowLiteSelectTfOps/Frameworks/TensorFlowLiteSelectTfOps.framework/TensorFlowLiteSelectTfOps" to "Other Linker Flags" but when i built an app there was many "Undefined symbols for architecture arm64" bug. Downgrade `TensorFlowLiteSwift ` and `TensorFlowLiteSelectTfOps ` to 2.6.0 work

[2022-06-29 08:12] dathudeptrai commented on #56255
@adamsch1 have you fixed the issue yet?.

[2022-06-29 08:17] gadagashwini commented on #56585
Hi @wangzy0327,
Can you try this

`bazel build --config=cuda --action_env PATH --action_env LD_LIBRARY_PATH --action_env DYLD_LIBRARY_PATH //tensorflow/tools/pip_package:build_pip_package`

Thank you!

[2022-06-29 08:24] AmosChenYQ opened #56618 "A small typo in `graph_properties.cc`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

source

### Tensorflow Version

tf2.10.0

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-06-29 08:25] gadagashwini commented on #56562
Hi @AnkS4, GCC version required for Tensorflow v2.6 is 7.3.1. Take a look at similar issue thread [here](https://stackoverflow.com/questions/54948216/usr-lib-x86-64-linux-gnu-libstdc-so-6-version-glibcxx-3-4-21-not-found-req). Thank you!

[2022-06-29 08:45] faycalaa opened #56619 "Gradient computation through tf.linalg.eigh does not work with complex-valued input in XLA"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_

[2022-06-29 09:48] #56459 closed

[2022-06-29 11:03] GChaitanya2001 commented on #56586
Hi all,
Can I know what does Tensorflow use in the background to perform floating point math operations like sqrt?
I found this,
TF 2.3 - https://github.com/tensorflow/tensorflow/blob/r2.3/tensorflow/core/kernels/cwise_op_sqrt.cc
TF 2.9 - https://github.com/tensorflow/tensorflow/blob/r2.9/tensorflow/core/kernels/cwise_op_sqrt.cc
There is a slight difference in the implementation. Is that the reaso

[2022-06-29 11:12] andreped commented on #36465
Doubt it will ever be fixed. Perhaps in TF 3, but doubt it 📦

I guess for now, don't use TF in deployment. Use OpenVINO/TensorRT with the ONNX format instead, but for training models TF works just fine.

[2022-06-29 11:29] gadagashwini commented on #56404
Hi @roshan2908, `Tf v2.9.0-rc2-42-g8a20d54a3c1 2.9.0` is not stable version, may break due to version compatibility. Tf v2.9.0-rc2 is pre-release version. Latest stable `Tensorflow  2.9.1` version is compatible with `Keras 2.9.0`. Thank you!

[2022-06-29 11:40] mohantym commented on #27298
It is still replicating in [2.9 ](https://colab.sandbox.google.com/gist/mohantym/45b195bfa177a64af960f530308f8ad6/untitled56.ipynb#scrollTo=659SZpY7a5eu)and [2.10.0dev ](https://colab.sandbox.google.com/gist/mohantym/e4c752c98c44fda71e1514a91b4aa441/untitled56.ipynb#scrollTo=S-9S7X1kKXCH).

[2022-06-29 11:42] DerGodoot commented on #56593
@sushreebarsa Ah alright, looks like the old TF version was the issue.
Maybe change the warning to only create issued if the used version is the most current one? :)
Just saying "Please report this to the TensorFlow team." seems like it could create lots of unnecessarily opened issues.

[2022-06-29 11:49] gadagashwini commented on #56603
Hi @hshazly, Custom `TF-oneDNN` ops are disabled by default, but can be enabled by setting an environment variable `TF_ENABLE_ONEDNN_OPTS=1`.
You can build with just `--config=opt`.
Thank you!

[2022-06-29 12:04] alexcoca commented on #36465
:(

[2022-06-29 12:29] Alavandar08 opened #56622 "Get Input/Output shapes of node (ex: Conv, Add) during the inferencce"
Hi,

I would like to know how can we access input and output shapes of a node (ex: Convolution, Add) from the reampper file.

I am trying to access input shapes in function [IsAddWithNoBroadcast] (https://github.com/tensorflow/tensorflow/blob/d8ce9f9c301d021a69953134185ab728c1c248d3/tensorflow/core/grappler/optimizers/remapper.cc#L843) but I am not successful in retrieving the input shapes of node

[2022-06-29 12:33] rposts commented on #43124
@sushreebarsa Hi there - any updates on this issue? Generated data continues to be little-endian specific.

[2022-06-29 12:38] psunn opened #56623 "TF test failure: //tensorflow/lite/kernels/shim:shape_test"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

latest master branch

### Custom Code

No

</details>
### Current Behaviour?

[code]

### Standalone code to reproduce the issue

[code]

[2022-06-29 12:40] tilakrayal commented on #56619
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/0bc8bfa540cc90beaedf0e25fca7aaf0/56619.ipynb).

[2022-06-29 12:50] chunduriv commented on #56549
@jamesdolezal,

Thank you for opening this issue.  Development of keras moved to separate repository https://github.com/keras-team/keras/issues.

Please post this issue on `keras-team/keras repo`. For more details please refer [here](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999).

[2022-06-29 12:57] chunduriv commented on #56610
@iCodite,

Thanks for opening this issue. This is a duplicate of issue https://github.com/tensorflow/tensorflow/issues/56441.  Can you please close this issue, since it is already being tracked there?

[2022-06-29 13:04] alexcoca commented on #48545
@nouiz according to https://github.com/tensorflow/tensorflow/issues/36465 I am in for bitter disappointment as this fix does not seem to solve a fundamental issue: deallocation of memory allocated to `tf` models once there are no more references to it. Is this feature impossible to implement for `tensorflow` @nouiz ?

[2022-06-29 13:26] chunduriv commented on #55917
@EngrStudent,

Sorry for the late response. I have created code fix internally. Thank you.

[2022-06-29 13:41] H-s-O commented on #56540
The .tar.gz downloads are still not completely fixed; I get random download failures, then starts working again when retrying a few minutes later.

[2022-06-29 13:47] DemoLV commented on #56261
Hello guys !
@Xhark @miaout17 @sachinprasadhs @mohantym maybe you have an update on this ?

[2022-06-29 13:52] gcuder opened #56624 "Memory leak when using the optimizer iterations in `tf.data.Dataset`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 16.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No re

[2022-06-29 13:54] #56549 closed

[2022-06-29 14:30] rposts commented on #44713
@sushreebarsa Any update on the issue? Problem still exists in TF 2.9.1.

[2022-06-29 14:35] mohantym commented on #56623
@psunn!
Thanks for reporting this bug .The issue is not replicating in the [2.8](https://colab.sandbox.google.com/gist/mohantym/25c109bbd4ca675f0294084707902c34/tensorflow-ranking.ipynb#scrollTo=vDXp-0XmqYkc)/[2.9](https://colab.sandbox.google.com/gist/mohantym/f9ede3f986518cf929732b3fb79badb6/tensorflow-ranking.ipynb#scrollTo=vDXp-0XmqYkc) version though.
Can we stick to stable branches for a whi

[2022-06-29 14:36] rposts commented on #45021
@sushreebarsa Problem still exists on TF 2.9.1 - is there something we can do to further assist with debugging?

[2022-06-29 14:42] mohantym commented on #56623
@psunn! Could we stick to the stable versions for a while (2.8/2.9). Thank you!

[2022-06-29 15:28] npanpaliya commented on #56540
Yes, I too see it intermittently. But Github support confirmed that llvm project was unstable last weekend and they have fixed it.

[2022-06-29 17:37] andy7809 commented on #42204
This was what I was looking for at the time. Thank you, closing.

[2022-06-29 17:37] #42204 closed

[2022-06-29 17:39] mohantym commented on #42204
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-06-29 17:58] LukeWood commented on #43969
I am impacted by this.

[2022-06-29 18:06] bhack commented on #43969
Can we extend the test we have to cover this case?

https://github.com/tensorflow/tensorflow/blob/a07eb63a319efcc02c60f98c798453d2b21af785/tensorflow/python/data/kernel_tests/memory_cleanup_test.py#L161-L171

[2022-06-29 18:19] LukeWood commented on #43969
Perhaps we can also package inputs to a dictionary, run some operations on them, then unpackage as I have done in my test:

https://github.com/tensorflow/tensorflow/issues/43969#issuecomment-1170321569

[2022-06-29 18:33] sachinprasadhs commented on #55268
@raziel2k , As per the below comment, could you please try in Bazel 5 and let us know if you still face an issue. Thanks!

[2022-06-29 18:42] hguihot commented on #56615
Here is an example with 2 convolutions, both with the same 8-bit input but one with 8-bit output and the other with 16-bit output.
[code]
Two changes were actually required to make the conversion succeed:
- Add `_dtypes.int16` to `all_types` in `_validate_inference_input_output_types` in [tensorflow/lite/python/lite.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/li

[2022-06-29 18:48] #45114 closed

[2022-06-29 18:53] FragrantRookie opened #56626 "Tensorflow lite for microcontroller not support the model with float32 input/output and int8 weights."
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

No

### OS Platform and Distribution

ubuntu20

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-06-29 19:49] iCodite commented on #56610
Sure thing

[2022-06-29 20:02] broken commented on #43124
@rposts Hi, I'll try to help out here.

You can view [this change](https://github.com/tensorflow/tensorflow/commit/93323537ac0581a88af827af2f9232b77a13619b#diff-99f728c9d7db33e4570f3eb21183e31aa87c059a0c1d5f23b4e585af8c175c5c) to see the edits that were made when bumping up the version from 64-2.

Those are created by splitting a gzipped file. Original instruction are [here](https://github.com/ten

[2022-06-29 20:08] gowthamkpr commented on #56582
@kamalbowselvam Please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/35573) and also this [discussion](https://groups.google.com/g/protobuf/c/o6ijoaXApps) where they have discussed the cause of the issue and how it can be resolved.

Can you please try with different versions of protobufs like 3.11 or 3.8 and let me know if you face the same issue. Thanks!

[2022-06-29 20:41] VictoriaGriffith opened #56628 "gradient computation throws InvalidArgumentError in `tf.gather_nd`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

n/a

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

[2022-06-29 20:53] josephrocca opened #56629 "[tflite converter] tflite is empty (zero bytes) after "successful" conversion (no errors)"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04 (Google Colab)
- TensorFlow installation (pip package or built from source): Pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.8.0

### 2. Code

Please see this Colab for a minimal reproduction: https://colab.research.google.com/gist/josephrocca/201179c22859aacee123e2

[2022-06-29 21:07] gowthamkpr commented on #53612
@ravinderkhatri The issue here is that lambda layers are not serializable and inorder for you to run on multiple GPUs, your model should be serializable. Please take a look at the detailed explanation [here](https://stackoverflow.com/questions/70535072/invalid-argument-transpose-expects-a-vector-of-size-0-when-gpu-units-are-more). Thanks!

[2022-06-29 21:10] gKurbis commented on #56405
Hi @sachinprasadhs,

Were you able to build this on your end?

I see there was a recent commit (commit 8eb1cba939c2ffaf0474d53f3d63debd458c9a3c)
that seems to address this, but I was still unable to build the benchmark framework on my end.

[2022-06-29 21:11] kaixih opened #56630 "TF build fails with the new cublas_lt commit"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.8, tf 2.9, tf 2.10

### Custom Code

No

### OS Platform and Distribution

Ubuntu 22.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

5.1.1

### GCC/Compiler version

9.4.0

### CUDA/cuDNN version

11.7/8.5

### GPU model and memory

V10

[2022-06-29 21:12] kaixih commented on #56630
cc. @nluehr @trevor-m

Also cc. @chr1sj0nes

[2022-06-29 21:28] chongxiaoc commented on #31312
See similar large memory leakage issues in TF 2.6 when calling keras fit() function with tensorflow dataset.

[2022-06-29 21:39] jblespiau commented on #56531
I am not sue I understand the highlight. I haven't opened this bug, and I am not a developer of tensorflow. How is that related to me?

[2022-06-29 22:49] leiwuzheng commented on #53771
@duncanriach and @reedwm , after setting TF_CUDNN_USE_FRONTEND=1 and deterministic behavior, tensorflow will always use the first workable deterministic convolution algorithm for conv2d op. My question is this first workable deterministic convolution algorithm is already heuristically obtained convolution algorithm for the given layer specification (convolution filter size etc.)? For example, we m

[2022-06-29 22:49] gowthamkpr commented on #54488
@ScholliYT As mentioned [here](https://github.com/tensorflow/tflite-micro/issues/903#issuecomment-1074132567), the latest TFLM no longer requires copying back to input. This should be fixed in the latest version of TFLM. Please try and let me know. Thanks!

[2022-06-29 23:28] sachinprasadhs commented on #56530
Could you please refer this answer which explains about the above point.
https://stackoverflow.com/questions/69133906/

[2022-06-29 23:48] #54495 closed

[2022-06-29 23:48] xlnwel commented on #56530
Hi @sachinprasadhs. I've read the link and understand your point. But I'm wondering if there is some way to avoid recomputing `inner` inside `outer` in the following link since `inner` may be performed multiple times before calling `outer` and repeating `inner` inside `outer` may be quite computationally expensive. Maybe with some lower-level techniques than `tf.function` in TF?

https://colab.res

[2022-06-30 00:48] wangzy0327 commented on #56585
I try **bazel build --config=cuda --action_env PATH --action_env LD_LIBRARY_PATH --action_env DYLD_LIBRARY_PATH //tensorflow/tools/pip_package:build_pip_package**

but it failed again.

![image](https://user-images.githubusercontent.com/22990858/176569329-3c00704d-2dfb-45ee-8bfc-f44a84efc0dc.png)

[2022-06-30 01:06] MarkDaoust commented on #55917
I disagree.

Refer to the `normalize` and `generate_images` functions in the tutorial.

[2022-06-30 01:06] #55917 closed

[2022-06-30 01:06] mohantym commented on #21366
Hi @yurivict !
1.x versions are not supported anymore. Feel free to test [build from source ](https://www.tensorflow.org/install/source)instruction from 2.9 . Thank you!

[2022-06-30 02:24] tilakrayal commented on #56622
Hi @Alavandar08,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced] or if possible share a colab gist with the issue reported. Thank you!

[2022-06-30 02:41] njuhang commented on #56588
I followed this instruction to do conversion. But I got the whole graph in .tflite. I tried to specify some intermediate nodes as output_arrays but failed.  No matter what I specify to parameter output_arrays, even if some meaningless name, there is no difference in .tflite file.
What I want is to cut a piece from the whole graph.Thanks

[2022-06-30 02:48] #51548 closed

[2022-06-30 03:14] JinXiaozhao commented on #53101
@mohantym error is consistent
File "/usr/local/lib/python3.8/dist-packages/tensorflow/lite/python/convert.py", line 311, in convert
    raise converter_error
tensorflow.lite.python.convert_phase.ConverterError: /usr/local/lib/python3.8/dist-packages/tensorflow/python/saved_model/save.py:1325:0: error: 'tf.TensorListReserve' op requires element_shape to be static during TF Lite transformation pass

[2022-06-30 03:20] JinXiaozhao commented on #53101
@gaonmaor
Hello, I have the same problem. Do you have any good suggestions?

[2022-06-30 03:21] nurujjamanpollob commented on #56616
Okay, it seems reinstalling miniforge and tensorflow and numpy fixed this issue. Thank you 🥰

[2022-06-30 03:41] tilakrayal commented on #56616
@nurujjamanpollob,
Glad the issue is resolved for you, please feel free to move this to closed status. Thank you!

[2022-06-30 03:48] #13096 closed

[2022-06-30 03:48] #19441 closed

[2022-06-30 03:48] #20342 closed

[2022-06-30 03:53] nurujjamanpollob commented on #56616
If anyone faces the same issue:

Reinstall miniforge, to do so, you need to delete the `miniforge3` directory using this command:

`rm -rf ~/miniforge3`

You need to check your `SHELL` name. In that case, run `echo $SHELL` to check the shell name. In my case, it is` /bin/zsh `so my SHELL is `zsh`

The below command is for `zsh`

cd to /Users/<username> and run this command: `sudo vim .zshrc`

So,

[2022-06-30 03:53] #56616 closed

[2022-06-30 03:58] gadagashwini commented on #56426
HI @Loldude0, Did you try to build Tensorflow with `--config=mkl`. Thank you!

[2022-06-30 04:03] sushreebarsa commented on #56397
@teenylasers Reopening this issue as it is not resolved. Thank you!

[2022-06-30 04:40] Alavandar08 commented on #56622
Hi @tilakrayal
This issue (i.e getting shapes is not specific to particular version. It is across all versions). For easier reference we can consider
(TF-2.9).
From my experiments I am trying to dump the shapes into a log file and verify if the logs been printed or not.

I tried to get node input shapes from couple of places
some of them are -
1. [IsAddwithNoBroadcast](https://github.com/tensorflo

[2022-06-30 04:42] Loldude0 commented on #56426
Hello, due to frustration on failed builds, I simply installed the pre-built version of Intel® Optimization for TensorFlow and moved on. Thanks a lot for the help!

[2022-06-30 04:42] #56426 closed

[2022-06-30 04:42] mohantym commented on #56588
Ok @njuhang ! Thanks for the clarification. @sachinprasadhs ! Could you look at this issue. Thank you!

[2022-06-30 04:59] mohantym commented on #53101
Hi @JinXiaozhao ! Attached resolved [gist](https://colab.sandbox.google.com/gist/mohantym/7e9d5c90d7c714bbc75b778eba4f9e71/53101.ipynb) for reference.

[2022-06-30 05:07] diliprc96 commented on #47554
Hey guys, I think this is an issue more on how you are saving the model than a bug. I had this issue but later I moved on. I did not get a fix for this issue. This is just a suggestion.

The python code that we define gets converted to tensorflow graphs by a technique called tracing. Tracing simply records the tf operations you have defined in your python script.

I think the issue here is the tf

[2022-06-30 05:48] #22541 closed

[2022-06-30 05:58] JinXiaozhao commented on #53101
@mohantym
As gaonmaor said,"We can see that it uses unsupported operations based on the original post. As I've said, it used to work fine up until the previous version (2.6.2). You can try running the above code and see it yourself. It is a degradation which was introduced on version 2.7.0 and that's why we need to follow it to the relevant TensorFlow development group."

[2022-06-30 06:15] mohantym commented on #53101
@JinXiaozhao ! Sorry for the inconvenience. Re-opening this issue as requested. Thank you!

[2022-06-30 06:44] blackyang commented on #31312
an issue like this is a great example why TF lost the battle to PyTorch (there are other reasons as well) :)

[2022-06-30 06:48] mohantym commented on #56626
Hi @FragrantRookie !
Could you post a standalone code to understand the feature request too.
Thank you!

[2022-06-30 07:11] mohantym commented on #56629
Hi @gowthamkpr !
Could you look at this issue. Attached gist in [2.8,](https://colab.sandbox.google.com/gist/mohantym/b30c26993c6e65299986342d77c9858c/minimal-empty-tflite-file-produced-by-tfliteconverter-converting-dalle-mini-bart-saved-model.ipynb#scrollTo=n5ftbSJUM4sz), [2.9](https://colab.sandbox.google.com/gist/mohantym/64288d0dbc91065a827f2a98b06a8012/minimal-empty-tflite-file-produced-by-tf

[2022-06-30 07:19] mohantym commented on #56615
Hi @sachinprasadhs ! Could you look at this feature request. Attached [gist](https://colab.sandbox.google.com/gist/mohantym/5f09ddc3445dd62001a305c26a68d90c/git_56615.ipynb) for reference. Thank you!

[2022-06-30 07:41] sushreebarsa commented on #56599
@jhogg11 Could you please confirm if you have posted the issue on  [keras-team/keras repo.](https://github.com/keras-team/keras/issues). Thank you!

[2022-06-30 07:58] sushreebarsa commented on #56618
@AmosChenYQ Thank you for reporting the issue.
I have raised a PR internally, to fix this one. This ticket will be closed once the PR is merged.
Thank you!

[2022-06-30 08:02] sushreebarsa commented on #56628
@chunduriv I was able to replicate the issue, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/75ced825f65ef05971aac44ca5aec78b/56628.ipynb#scrollTo=SeiNbQ8nns1C) here. Thank you!

[2022-06-30 08:35] hshazly commented on #56603
Thank you @gadagashwini. I built with `--config=opt -c dbg --strip=never` to include the debug info in the binaries and it didn't call `jit_avx512_common_gemm_f32` anymore. It just calls `SetupOrDisableJit`, which I read that it deactivates JIT kernels until it is re-enabled again.

[2022-06-30 08:35] #56603 closed

[2022-06-30 08:52] gadagashwini commented on #56397
Hi @teenylasers,
Little modified your code and its working fine.
[code]

**Output**
[code]

[2022-06-30 09:03] JinXiaozhao commented on #53101
@mohantym
now default_to_single_batch=false,should it be changed to true
tensorflow-2.6.4:https://github.com/tensorflow/tensorflow/blob/v2.6.4/tensorflow/compiler/mlir/lite/transforms/lower_static_tensor_list.cc#:~:text=begin()%20%26%26%20dim_value%20%3D%3D%20-1)%20%7B-,dim_value,-%3D%201%3B
tensorflow-2.7.0:https://github.com/tensorflow/tensorflow/blob/v2.7.0/tensorflow/compiler/mlir/lite/transfo

[2022-06-30 09:32] shenh10 commented on #56454
yes, did you reproduce the problem? I am not able to edit the gist.

[2022-06-30 09:33] tilakrayal commented on #56624
@gowthamkpr,
While I was trying to reproduce the issue on tensorflow v2.8, v2.9 and nightly, the code execution time was longer than expected. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/5560b8fd2223ffb0a584f4d2d253eefd/56624.ipynb).

[2022-06-30 09:48] #56438 closed

[2022-06-30 09:50] sushreebarsa commented on #56454
@shenh10 Thank you for the response!
Reopening this issue as it still persists. Thank you!

[2022-06-30 09:58] Flamefire commented on #49833
I opened a PR with an implementation based on CPythons `os.sched_getaffinity` and used as a patch for building TF with EasyBuild for a while now: #56633

[2022-06-30 10:00] #56555 closed

[2022-06-30 10:01] Xinshuai-Lyu commented on #56555
https://github.com/keras-team/keras/issues/16737

[2022-06-30 10:02] Flamefire commented on #49944
No update on such a fundamental issue after more than 1 year?
Note that we have to fully disable the AVX512 optimization in order to use TensorFlow on such systems: https://github.com/easybuilders/easybuild-easyconfigs/blob/develop/easybuild/easyconfigs/t/TensorFlow/TensorFlow-2.5.0_disable-avx512-extensions.patch

[2022-06-30 10:08] Suzan009 commented on #55260
Is there any pages listed down the vectorized operation list

[2022-06-30 10:32] alexcoca commented on #48545
Actually, in my case using `cuda_malloc_async` seems to have worked, code no longer breaks when attempting to load the language model the second time

[2022-06-30 10:48] #22162 closed

[2022-06-30 11:07] dakl commented on #52973
Hello @mihaimaruseac , I'm just checking in here since it's been a couple of months since our last comms. Is there any progress on this? What exactly would be needed/you need from the community to make this happen?

[2022-06-30 11:15] psunn opened #56635 "TF TESTs failures: //tensorflow/lite/kernels:squeeze_test //tensorflow/lite/kernels:reshape_test"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

latest master branch

### Custom Code

No
</details>

### Current Behaviour?

[code]
(similar mesg with `squeeze_test`)
[code]

[2022-06-30 11:24] gadagashwini commented on #56585
Hi @wangzy0327, Could you share the complete error log to see which  PIP package failed to build. Share error log instead of Screenshot. Thank you!

[2022-06-30 11:29] Flamefire opened #56636 "Cyclic Python dependency due to tensorflow-io-gcs-filesystem"
### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.7 - 2.9 (master)

### Custom Code

No

### OS Platform and Distribution

Any

### Mobile device

_No response_

### Python version

Any

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[code]

[2022-06-30 11:32] fjzhangcr opened #56637 "how to obtain a single pb file in tensorflow 2.x"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

binary

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

windows 10

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and mem

[2022-06-30 11:34] fjzhangcr commented on #56637
the new pb file with asset and variables folder, opened like this:
![image](https://user-images.githubusercontent.com/102020341/176667443-5b222a85-ae90-4c1e-ae9c-5809ab8ad8a3.png)

when the elder version of single pb file opend by netron, it looks like this:
![image](https://user-images.githubusercontent.com/102020341/176667581-fc6fbc94-77ad-4753-8915-c80d0172592b.png)

[2022-06-30 11:48] #25104 closed

[2022-06-30 11:50] psunn commented on #56635
some analysis from our side:

these TESTs was working as: https://github.com/google/flatbuffers/blob/faadbc10ea4b77bc57960696ef0d1d053536c68a/include/flatbuffers/flatbuffer_builder.h#L668 was called, the std::initializer_list was implicitly converted to a std::vector.
these TESTs now failing due to:
recent updates: [Add CreateVector overload to accept array like](https://github.com/tensorflow/tens

[2022-06-30 11:54] JinXiaozhao commented on #53101
@gaonmaor
You can add the parameter _experimental_default_to_single_batch_in_tensor_list_ops, when tensorflow==2.7.0.
converter._experimental_default_to_single_batch_in_tensor_list_ops = True

[2022-06-30 12:05] sushreebarsa commented on #56333
@kyamagu Sorry for the late response!
I tried to test the range of target height or width. It can be invalid when certain positive value that is given for (target width<100). Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/8a8723142c03fdbf4202fa145359871f/56333.ipynb#scrollTo=VwtYE_MjupJY) and confirm the same?
Thank you!

[2022-06-30 13:06] KingsleyLiu-NV opened #56638 "Keras saved model with custom layer under MirroredStrategy scope cannot be used correctly"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 18.04.5

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-06-30 14:30] roccopietrini commented on #56466
The code posted in the colab by @tilakrayal does not work, there are only definition there.. as soon as you call them you have the same error encountered by @gootacatchitall.
Look [here](https://github.com/USCDataScience/Image-Similarity-Deep-Ranking/issues/4#issuecomment-1171287956) for the solution.

[2022-06-30 15:12] francescoyou97 commented on #56482
You can help me?
@mohantym
@sachinprasadhs

Can you at least tell me if LSTM can run on GPU delegates or NNAPI with GPU. Or is it a useless claim?

[2022-06-30 15:49] mihaimaruseac commented on #52973
I no longer work on TF, just consult the team from time to time

[2022-06-30 17:03] akowalsk opened #56639 "Build Error: cannot convert ‘float*’ to ‘float_t*’ {aka ‘long double*’} in assignment"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.9

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

5.0.0

### GCC/Compiler version

9.4.0

### CUDA/cuDNN version

11.3.1/8.2.1.32

### GPU model and memory

None, Using cuda st

[2022-06-30 17:26] #56280 closed

[2022-06-30 17:55] DepenM commented on #56296
Please let me know if this functionality is expected to work for TPUs or not.

[2022-06-30 18:20] nitins17 commented on #56088
[--config=pip](https://github.com/tensorflow/build/blob/master/tf_sig_build_dockerfiles/devel.usertools/cpu.bazelrc#L71-L80) is for nightly and release. For presubmits, we use [--config=pycpp](https://github.com/tensorflow/build/blob/master/tf_sig_build_dockerfiles/devel.usertools/cpu.bazelrc#L114-L117) and [--config=rbe ](https://github.com/tensorflow/build/blob/master/tf_sig_build_dockerfiles/de

[2022-06-30 19:04] fswalden opened #56640 "Cannot use LSTM with a photo input"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

[2022-06-30 20:09] CJSeqtek commented on #42053
I get a similar error, I have the latest version. Any help with this?

[2022-06-30 20:33] cantonios commented on #56531
@YogaVicky unfortunately I don't think we currently have a method of converting directly from a c `TF_Tensor` to a c++ `tensorflow::Tensor`, which would get you what you want.

You can use the c api to extract the datatype, element count, and data pointer, then use this to manually construct your own `Eigen::TensorMap`.  That would look something like:
[code]

[2022-06-30 20:47] reedwm commented on #53771
I am not sure. The cuDNN frontend API returns a list of algorithms generated by heuristics. On the TF side, without determinism, we choose the fastest, but with determinism, we choose the first algorithm in the list. I think the list takes into account the layer specification (input/filter shapes, padding etc), but I don't know if the order of the list takes this into account. The order is importa

[2022-06-30 20:57] cantonios commented on #56575
We don't necessarily try to mirror pytorch.  We mostly want consistency with numpy and jax.  If an op is heavily used and in large production models, we have more incentive to add it to tensorflow core.

How big are the batch/patch/embedding sizes (in actual numbers)?

[2022-06-30 21:18] mseth10 commented on #56088
Thanks @learning-to-play ! If we can rollback the commit within a few hours of CI failure, then that would be a great step ahead. To make sure we do not miss that, I think it's important if we can automate this step. I came to know that we have this automation in place for x86 already, if so, we can extend it to aarch64 as well(?) Can someone share more details on how this automation works current

[2022-06-30 21:31] duncanriach commented on #53771
I suspect that the returned order of algorithms is arbitrary, but I'm not sure. @kaixih, do you know if the lists of deterministic algorithms returned by the cuDNN frontend API are pre-sorted (using a deterministic heuristic) based on expected performance given the particular layer configuration (e.g. highest to lowest expected performance) or is the list order currently arbitrary (just a list of

[2022-06-30 21:35] iCodite commented on #56441
@sachinprasadhs This problem still persists for me. I've closed the issue to the thread I've created but hopefully you can help me with getting things back on track

[2022-06-30 21:48] #54417 closed

[2022-06-30 22:19] NobuoTsukamoto commented on #56384
I confirmed that I can build with the latest version, so I will close it.

[2022-06-30 22:19] #56384 closed

[2022-06-30 22:59] kaixih commented on #53771
Yes, the heuristics list is sorted based on the expected perf.

[2022-07-01 01:51] wangzy0327 commented on #56585
OK. This is the error log.

<details>
<summary>build from source error log</summary>

[code]

</details>

[2022-07-01 02:17] FragrantRookie commented on #56626
Sorry, I didn't give enough information.I am doing some tests so that I can better describe my problem.I am deploying the model to DSP or MCU. This model was mentioned in the previous question. This is the link: [https://github.com/breizhn/DTLN](url) or [https://github.com/tensorflow/tensorflow/issues/56505](url)
Because some layers in TF Lite for micro do not support int16, and the main object of

[2022-07-01 03:48] #56341 closed

[2022-07-01 04:10] shenh10 commented on #56454
Hi @sushreebarsa , I try to run the gist you provided before, the program is running on CPU which cannot reproduce the situation I proposed. Could you reproduce the code on GPU and tell me your result?

[2022-07-01 04:20] sushreebarsa commented on #56454
@shenh10 I was able to replicate the issue, could you please have a look at this [gist](https://colab.research.google.com/gist/sushreebarsa/e3a7c420ae15435c0eadabd53b48a79d/56454.ipynb#scrollTo=owatHjatUvJl) and confirm the same. Thank you!

[2022-07-01 04:28] shenh10 commented on #56454
@sushreebarsa yeah, the test code doesn't really matter, I found the issue during running various model. The difference is the code of the gist doesn't use xla. You might add environment variables such as os.environ['TF_XLA_FLAGS'] and os.environ['XLA_FLAGS'] to the code.

[2022-07-01 05:05] WilliamHwangKakaoBrain opened #56643 "tflite GRU ops not found error"
**System information**
- unity for ios
- TensorFlow installed from (source or binary): https://github.com/asus4/tf-lite-unity-sample
- TensorFlow version (or github SHA if from source): 2.8.0

hello
I use GRU in keras to train a model, then convert it to tflite and use it on mobile (= Unity).
Training and tflite conversion are all successful, but when I inference in Unity it fails with “ops not fo

[2022-07-01 05:48] #42360 closed

[2022-07-01 05:50] purvang3 opened #56644 "tf.distribute.MirroredStrategy - suggestion for improving test mean_iou for segmentation network using distributed training"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2022-07-01 05:52] innat commented on #56575
The reason I'm referring pytorch here is because for the end user who may want to translate code from one framework to another.  He will initially look for similar operation.

Here is the size of two tensor (`[Batch*Patch*Patch, Embedding]`). (Size of the first index may vary depending on the patch size.)

[code]

[2022-07-01 06:51] dexter1729 opened #56646 "How to convert tf.data.Dataset column which is converted into byte, back to string?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.8.2

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-07-01 07:40] ghost opened #56648 "How to predict a TPU-distributed dataset?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

2.4.1

### Custom Code

Yes

### OS Platform and Distribution

kaggle (linux)

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No re

[2022-07-01 07:41] Thf772 commented on #56636
I have tried building Tensorflow for Aarch64 (Raspberry pi 4), and this dependency was the last problem I encountered. I have manually altered the built wheels to remove it, so far without issues.

I think this dependency could (should?) be made optional, especially when building with --config=nogcp.

[2022-07-01 08:20] kienerj opened #56649 "Tensorflow just "hangs" on new installation (cpu and gpu)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux Lubuntu 22.04

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2/8.1.0

### GPU model and memory

[2022-07-01 08:47] elfringham commented on #56088
I submitted the PR https://github.com/tensorflow/tensorflow/pull/56620 to remove uses of no_oss_py2, which has been approved but not merged yet, though not sure why.
So it seems that the ARM_CI and ARM_CD workflows are only running the pip tests. Are there plans to also run the nonpip tests on the source code directly?
The current test flags for these ARM workflows include "-requires-gpu,-gpu,-tpu

[2022-07-01 09:48] Omnitok commented on #13583
I got a similar error message.
I had a big dataset of small *.png images (~10000 files) for object classification.
The problem was that I had several corrupt files that the program couldn't handle. I deleted the files and it works

[2022-07-01 09:48] Omnitok commented on #13583
I got a similar error message.
I had a big dataset of small *.png images (~10000 files) for object classification.
The problem was that I had several corrupt files that the program couldn't handle. I deleted the files and it works

[2022-07-01 09:56] Flamefire commented on #33975
Hi @mohantym I just got around testing this with the latest Bazel and TF but the issue still persists.

Possible solutions is our long-term patch at https://github.com/easybuilders/easybuild-easyconfigs/blob/439c0f2cb41bcb8f11071457550a2786eabe76a8/easybuild/easyconfigs/t/TensorFlow/TensorFlow-2.1.0_fix-cuda-build.patch or https://github.com/tensorflow/tensorflow/pull/56360

[2022-07-01 10:55] TheChief123 opened #56650 "Was my TensorFlow installation a success?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

1.15.0

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-07-01 11:48] #44802 closed

[2022-07-01 12:36] barbaragabriella opened #56651 "Wrong output Object Detection TFLite on C++ API"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

latest

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

5.1.1

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-07-01 12:48] #56205 closed

[2022-07-01 13:29] GChaitanya2001 commented on #56529
Hi @tilakrayal,

I had to reopen this issue as I wanted to refer the code for a clarification.

I tried converting the input tensors (which are in float32) in the above code (test.py) to float64 before running tf.Session and executed sess.run with float64 tensors and finally re-converted back the float64 result to float32. I used TF v2.3 to do this. The final re-converted answer of TF v2.3 for thi

[2022-07-01 13:30] chunduriv commented on #56650
@TheChief123,

Yes, it is installed properly.

They are just the information message as they are prefixed with `I`, if it is the error message they would be prefixed with `E` or `W` for warnings. Since you are not using `GPU` card please ignore the above warning.

We see that you are using an old version of tensorflow (1.x) which is not actively supported, We recommend that you upgrade to 2.9.Than

[2022-07-01 16:56] vsbc2010 commented on #56435
*   [oneDNN CPU performance optimizations](https://github.com/tensorflow/community/blob/master/rfcs/20210930-enable-onednn-ops.md)
    are available in Linux x86, Windows x86, and Linux aarch64 packages.

    *   **Linux x86 packages:**
        *   oneDNN optimizations are *enabled by default* on CPUs with
            neural-network-focused hardware features such as AVX512_VNNI,
            AVX512

[2022-07-01 16:58] vsbc2010 commented on #56435
environment variable TF_ENABLE_ONEDNN_OPTS to 1  for Python only.  But not working with build param.

[2022-07-01 17:09] tilakrayal commented on #56583
@allansdefreitas,
Thanks for opening this issue. Development of keras moved to another [repository](https://github.com/keras-team/keras/issues).

Could you please post this issue on keras-team/keras [repo](https://github.com/keras-team/keras/issues).
To know more please refer:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you

[2022-07-01 17:14] vsbc2010 commented on #56435
How to build_with_mkldnn_openmp ?

[2022-07-01 18:04] chunduriv commented on #56567
@wangwei-cmd,

According to [scatter_nd](https://www.tensorflow.org/api_docs/python/tf/scatter_nd) documentation -

On windows using `TF2.9.1` the `tf.scatter_nd` doesn't support if some indices are out of bounds.

2022-07-01 17:18:04.169866: W tensorflow/core/framework/op_kernel.cc:1745] OP_REQUIRES failed at scatter_nd_op.cc:131 : INVALID_ARGUMENT: indices[0] = [-1] does not index into shape [5]

[2022-07-01 18:39] chunduriv commented on #51084
@n-chennakeshava,

As per this https://github.com/tensorflow/tensorflow/issues/51084#issuecomment-906724563, Is this still an issue for you?

The [Dataset.flat_map](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#flat_map) methods can be used to flatten a dataset of windows into a single dataset.

The argument to `flat_map` is a function that takes an element from the dataset and return

[2022-07-01 18:55] duncanriach commented on #53771
Thank you, @kaixih. In that case, deterministic performance should be roughly the same, if not better, using the cuDNN frontend API. @leiwuzheng, please will you open a new issue for this specific deterministic performance issue, and include in that a simple reproducer as requested by @reedwm.

[2022-07-01 18:59] sachinprasadhs commented on #56638
Hi, Could you try defining the mirrored strategy scope with all the GPU's you want to use like below and let us know if it works.
You can also try defining the mirrored strategy scope at the beginning and bring all the code under single scope.
`ex: strategy = tf.distribute.MirroredStrategy(["GPU:0", "GPU:1"])`

Also, refer this [answer](https://stackoverflow.com/questions/68283519/tensorflow-multi

[2022-07-01 19:18] sachinprasadhs commented on #56498
As per the document, for the arg dilation it states.
`An optional list of ints. Defaults to [1, 1, 1, 1]. 1-D tensor of length 4. The dilation factor for each dimension of input. If set to k > 1, there will be k-1 skipped cells between each filter element on that dimension. The dimension order is determined by the value of data_format, see above for details. Dilations in the batch and depth dimens

[2022-07-01 19:48] #40836 closed

[2022-07-01 19:48] #44061 closed

[2022-07-01 19:48] #47924 closed

[2022-07-01 19:48] #49505 closed

[2022-07-01 19:53] acfrock opened #56652 "Grappler Errors with ConvLSTM2D"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: No
-   **OS Platform and Distribution**: Windows 11 Build 22000
-   **TensorFlow installed from**: pip package
-   **TensorFlow version**: v2.9.0-18-gd8ce9f9c301 2.9.1
-   **Python version**: Python 3.10.4
-   **CUDA/cuDNN version**: CUDA 11.7.0-1
-   **GPU model and

[2022-07-01 20:56] deepquantum88 commented on #41403
@ymsaputra hey, did you able to solve the issue?
Because I also tried with multiple inputs, it throws the same error.

[2022-07-01 21:39] pranshupant commented on #56498
The documentation correctly captures what dilation does in the case of depthwise 2d convolutions. I am also following the convention mentioned in the documentation about keeping the batch and depth dimensions as 1. This is evident in the code sample that I have attached.

Basically, having a dilation value (k) > (1 or [1, 1, 1, 1]) for eg. [1 5 5 1] should reduce the dimensions of the output from

[2022-07-01 21:59] johnthagen commented on #56137
@terryheo Just checking back in to see if a Python 3.10 wheel could be published. Thanks.

[2022-07-01 23:16] kvignesh1420 opened #56655 "`tf.scatter_nd` op is placed on the CPU when values are of boolean type"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

binary

### Tensorflow Version

2.8.2

### Custom Code

No

### OS Platform and Distribution

Ubuntu 18.04.5

### Mobile device

_No response_

### Python version

3.7.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

NVIDISMI 460.32.03    Driver Version: 460

[2022-07-01 23:32] KingsleyLiu-NV commented on #56638
It does not work if do like this:
[code]
I mean, I use a new script to load the saved model and try to run it with MirroredStrategy. In the log, I can still see:
[code]

While I am expecting to see:
[code]

[2022-07-01 23:33] KingsleyLiu-NV commented on #56638
I cannot do this. I need to save the model in one script and load the model in another script, and they cannot share the same single scope.

[2022-07-01 23:48] #49733 closed

[2022-07-01 23:48] #46515 closed

[2022-07-01 23:48] #50540 closed

[2022-07-01 23:48] #49910 closed

[2022-07-02 00:48] #50658 closed

[2022-07-02 04:26] sushreebarsa commented on #56644
@purvang3
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Could you confirm if the issue persists in latest TF version(2.9.0). Thank you!

[2022-07-02 08:56] TheChief123 commented on #56650
thank you. I have another question.

When I run this command:

python train.py -c config.json

this is one of the output lines:

2022-07-02 10:46:40.339304: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2

I believe that this shouldn't be problem since I stands fot information messasges. But the command d

[2022-07-02 09:18] varungupta31 opened #56657 "Gradient Tape (tf.GradientTape) Returning All 0 Values in GradCam"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes (Custom Loss + GradCam)
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS Linux 7
-   **TensorFlow installed from (source or binary)**: PIP
-   **TensorFlow version (use command below)**: 2.9.0
-   **Python version**: 3.7.0
-   **CUDA/cuDNN v

[2022-07-02 10:18] alexHxun opened #56658 "OSError: symbolic link privilege not held when use bazel build tensorflow"
I got a error when i build tensorflow with bazel:
My command is: bazel build --config=opt //tensorflow:tensorflow_cc.dll --local_ram_resources=1024

And i run it with admin ， I got this :

`INFO: Reading 'startup' options from f:\tensorflow\.bazelrc: --output_user_root=F:/tf
INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=120
INFO: Reading rc optio

[2022-07-02 10:22] vikas6767 opened #56659 "Eree"

[2022-07-02 10:41] varungupta31 commented on #30190
Requesting help with my Issue #56657.
Kindly help, if stil in-touch with GradCam.

Thank you :)

[2022-07-02 13:48] mohantym commented on #56643
Hi @WilliamHwangKakaoBrain !
Sorry for the late response. Could you please provide the model file or a sample code for the model to replicate this issue.
Thank you!

[2022-07-02 13:52] mohantym commented on #33975
Ok @Flamefire !
Thanks for the update. Re-opening as this still persists and is linked with PR [#56360](https://github.com/tensorflow/tensorflow/pull/56360)

[2022-07-02 13:53] mohantym commented on #33975
Ok @Flamefire !
Thanks for the update. Re-opening as this still persists and is linked with PR [#56360] . (https://github.com/tensorflow/tensorflow/pull/56360)

[2022-07-02 14:05] mohantym commented on #56659
@vikas6767 !
Closing this issue as template has not been filled. Please update the issue with details to reopen.
Thank you!

[2022-07-02 14:05] #56659 closed

[2022-07-02 15:30] ScholliYT commented on #54488
Hi @gowthamkpr, Sorry for my late response to this. I see the following 2 points with the state of this issue:

1. The issue of copying back into read-only memory regions indeed is resolved as @deqiangc pointed out here https://github.com/tensorflow/tflite-micro/issues/903.

2. The overall main problem of unnecessary copying of read-only tensors is not resolved and still exists. For example: with

[2022-07-02 16:13] josephrocca opened #56660 "TFLiteConverter.experimental_from_jax on a working jax model: "flax.errors.JaxTransformError: Jax transforms and Flax models cannot be mixed.""
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04 (Google Colab)
- TensorFlow installation (pip package or built from source): Colab's version (Pip?)
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.8.0

### 2. Code

The example linked below demonstrates that a working JAX model (which converts and saves successfully wi

[2022-07-02 17:04] josephrocca commented on #56629
@mohantym @gowthamkpr Something very strange: The above example notebook that I linked squashes the dalle mini encoder and decoder into the same function, but if I separate them out into their own functions and convert them to tflite separately, then the conversion works.

Here's a notebook demonstrating that (you may need Colab Pro+ or use a JupyterLab machine with more memory, else you may get a

[2022-07-02 17:31] sunsetcoder commented on #56640
Your input needs to be reshaped.

input_shape: A 3D tensor with shape [batch, timesteps, features]

[2022-07-02 18:53] MoFHeka commented on #42701
I also have this problem when develop user custom variable.

[2022-07-02 20:26] otavio-silva opened #56661 "TensorFlow doesn't use all available memory on NVIDIA GPU"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.6

### Custom Code

No

### OS Platform and Distribution

Windows 11 Pro 21H2

### Mobile device

_No response_

### Python version

3.7.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.3.1/8.2.1

### GPU model and memory

NVIDIA

[2022-07-03 00:33] zhuker commented on #45155
i need this as well

[2022-07-03 01:53] #56658 closed

[2022-07-03 08:56] tekboart opened #56662 "The Height and Width must be changed in tensorflow document on the website"
Hi,
In the TF documentation there is a mistake, the order of "Height" and "Width" is wrong, it's (Batch, Width, Height, features) but must be (Batch, Height, Width, features) to comply with channel_last notation (NHWC)

![image](https://user-images.githubusercontent.com/83506388/177032598-e8b01440-5c79-47b2-808d-5cb8df9ad68a.png)
https://www.tensorflow.org/guide/tensor#:~:text=regions%20of%20memor

[2022-07-03 09:12] hushanxue commented on #52527
Excuse  me, how to set the timeout for bazel? with that [link](https://docs.bazel.build/versions/main/user-manual.html#bazelrc), not found the right one

[2022-07-03 09:27] caozhuozi commented on #37615
encounter the same issue on MLFlow

[2022-07-03 11:45] NiuYingchun commented on #56534
Thank you! It worked in TF2

[2022-07-03 12:46] sushreebarsa commented on #56534
@NiuYingchun Glad it worked for you!
Thank you for the update. Could you please move this issue to closed status if it is resolved for you?
Thank you!

[2022-07-03 12:57] #56534 closed

[2022-07-03 15:07] mohantym commented on #56626
Ok @FragrantRookie !
Thanks for the update. @sachinprasadhs ! Could you please look at this issue.
Thank you!

[2022-07-03 15:25] sushreebarsa commented on #56646
@dexter1729
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thank you!

[2022-07-03 15:35] joelberkeley opened #56663 "`UniformFloatingPointDistribution` incorrect behaviour at infinite bounds."
### Issue Type

Bug

### Source

source

### Tensorflow Version

2.8

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

n/a

### Python version

n/a

### Bazel version

2.4.1

### GCC/Compiler version

Unknown, between 7.5 and 9.3

### CUDA/cuDNN version

CUDA Version: 11.6

### GPU model and memory

NVIDIA GeForce GTX 1070

### Current Behaviour?

[code]

##

[2022-07-03 15:40] sushreebarsa commented on #56640
@fswalden Could you refer to the above [comment](https://github.com/tensorflow/tensorflow/issues/56640#issuecomment-1172932851) and this [thread](https://stackoverflow.com/questions/43487828/understanding-input-shape-parameter-in-lstm-with-keras) to know more on the input shape?
Please let us know if it helps.
Thank you!

[2022-07-03 15:57] sushreebarsa commented on #56652
@acfrock
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2022-07-03 17:38] cheshire commented on #56543
Tracked internally in b/237924658, patches welcome as usual :P

[2022-07-03 23:44] allansdefreitas commented on #56583
Thanks, @tilakrayal . I just created a new issue in the appropiated place.
If someone can help me, please, feel free: https://github.com/keras-team/keras/issues/16748

[2022-07-03 23:44] #56583 closed

[2022-07-04 01:26] nightpizza123 commented on #41169
sorry everyone, I don't know which comment should be responded. I find I upgraded requests using sudo pip install --upgrade requests and now I can't import it anymore.

[2022-07-04 03:11] NiuKeke commented on #44602
I got the same errors on my Ubuntu 20.04 with tensorflow 2.9.0 install.

[2022-07-04 03:12] Arnold1 commented on #56373
hi @sushreebarsa  - can we please merge that pr - I still see that problem with tensorflow 2.9.1 ...

[2022-07-04 03:12] NiuKeke commented on #44602
I got the same errors on my Ubuntu 20.04 with tensorflow 2.9.0 install.

[2022-07-04 03:37] geraldstanje commented on #56399
Hi @gadagashwini i still see that error with tensorflow 2.9.1 - can we please merge it since its a bug?

[2022-07-04 03:56] njuhang opened #56665 "tflite_convert error"
### 1. System information

- Ubuntu 20.04
- TensorFlow  built from source
- TensorFlow version 2.9):

### 2. Code

bazel run //tensorflow/lite/python:tflite_convert --

### 3. Failure after conversion
ERROR: /home/tensorflow/BUILD:1355:19: Executing genrule //tensorflow:tf_python_api_gen_v2 failed: (Exit 1): bash failed: error executing command /bin/bash -c ... (remaining 1 argument skipped)

ERRO

[2022-07-04 03:56] 7NoteDancing opened #56666 "Can't pickle optimizer"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

source

### Tensorflow Version

tf 2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Windows 11

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No resp

[2022-07-04 04:14] mohantym commented on #56660
Hi @sachinprasadhs !
Could you please at this issue. Attached gist in[ 2.8](https://colab.sandbox.google.com/gist/mohantym/57e9d0dae93515c78383574ca4adfa26/jax-flax-transformations-cannot-be-mixed.ipynb#scrollTo=yfH6UYUTtcQh), [2.9](https://colab.sandbox.google.com/gist/mohantym/f669857379566292bdd7d6f23d78a6f4/jax-flax-transformations-cannot-be-mixed.ipynb#scrollTo=yfH6UYUTtcQh) and [nightly](htt

[2022-07-04 04:23] sushreebarsa commented on #56666
@7NoteDancing
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2022-07-04 04:51] 7NoteDancing commented on #56666
ok

[2022-07-04 05:04] DonghakPark opened #56668 "[On device learning] Use model.fit() when pretraining in VGG16"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tf2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.7

### GPU model and memory

GTX 1650

#

[2022-07-04 05:22] chunduriv commented on #56650
@TheChief123,

What are you trying to achieve here?

Could you brief me about the above statement?

[2022-07-04 05:26] tilakrayal commented on #56648
Tensorflow version 2.4 not actively supported. Hence, kindly update to latest stable version 2.9 and let us know if you are facing the same issue. Thank you!

[2022-07-04 06:00] mohantym commented on #56668
Hi @DonghakPark!
You have not [preprocessed ](https://www.tensorflow.org/lite/examples/on_device_training/overview#preprocess_the_dataset)the data properly  (Normalization and one-hot encoding missed) . Instead of training the model directly , you should call the[ train](https://www.tensorflow.org/lite/examples/on_device_training/overview#train_the_model) function in between batches of dataset to

[2022-07-04 06:08] mohantym commented on #56665
Hi @njuhang !
Could you update the above template with Bazel, Tensorflow ,System details and GCC version too. I was able to run above code in 2.9 version with Bazel 5.0.0 . Attached [gist](https://colab.sandbox.google.com/gist/mohantym/ca9cf22bfd1e0f821f6abbb66819bf0e/tensorflow-ranking.ipynb#scrollTo=tRpGdZ4PsAwp) for reference.
Thank you!

[2022-07-04 06:37] njuhang commented on #56665
sorry, tensorflow version is RELEASE 2.10.0, bazel 5.1.1, gcc 9.4.0

[2022-07-04 06:38] njuhang commented on #56665
I tried bazel5.0.0, but encounter some other errors

[2022-07-04 06:39] #51863 closed

[2022-07-04 06:58] Li-Jiajie opened #56669 "_self_tracked_trackables in base_layer.py should not record it self"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.5.1

### Custom Code

No

### OS Platform and Distribution

linux

### Mobile device

_No response_

### Python version

3.6.5

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

###

[2022-07-04 07:01] mohantym commented on #56665
Ok @njuhang !
Thanks for the update. The build was still passing with Bazel 5.1.1 and TF 2.10.0 with GCC 7.3.1 (default GCC version of colab).  But last line of error stack trace is similar to this [issue](https://github.com/tensorflow/tensorflow/issues/55829#:~:text=ERROR%3A%20/root/tensorflow/tensorflow/lite/python/BUILD%3A68%3A10%20Middleman%20_middlemen/tensorflow_Slite_Spython_Stflite_Uconver

[2022-07-04 07:09] JinXiaozhao opened #56670 "can't reduce binary size(tflite)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

source

### Tensorflow Version

tensorflow-2.8.2

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 18.04

### Mobile device

_No response_

### Python version

3.6

### Bazel version

4.2.1

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-07-04 07:17] mohantym commented on #56670
Hi @JinXiaozhao !

Python 3.7 is minimum version. Correct procedure to reduce the file size is to use two lite models built with (different specs like select ops/custom-ops etc) in sh command or declare the path to two lite model in bazel custom rules.

You can specify a compiler flag like (x86,x86_64,arm64-v8a,armeabi-v7a  etc) in sh command to build it for specific platform.

Attached relevant [

[2022-07-04 07:20] DonghakPark commented on #56668
Hi @mohantym Thank you for answering.

I changed it as below. But use the train of tf_function instead of fit, it does not seem to be learned.
- For the CIFAR100 data, /255.0 and categorical were used.

Doesn't On Device Support VGG16? or Should I change The Method of Gradient Tape (Train Function).
--> IF you have On Device Learning Example for VGG16, Can you Share it with me ?

[code]

50000 Dat

[2022-07-04 07:26] gadagashwini commented on #56585
Hi @wangzy0327,
Delete the tensorflow repo, re-clone and try again, it starts compiling:

[code]

[2022-07-04 07:36] FdyCN commented on #52343
i got the same question, Is there no idea that i can use OpenCL on pixel 2？(doesn't have libOpenCL-pixel.so)

[2022-07-04 07:51] impjdi commented on #52343
OpenCL is not available on Pixel 2

On Mon, Jul 4, 2022 at 4:36 PM FdyCN ***@***.***> wrote:

[2022-07-04 08:57] mergian opened #56671 "TF's statically linked OpenMP causes performance problems with other libraries"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux CentOS

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-07-04 09:04] tilakrayal commented on #56655
@gadagashwini,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/83b8ad731105c223783c022984f56856/untitled414.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/3227d24ff6555ccd6c29b0ea886be499/untitled409.ipynb) and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/0441eafbdaf864767cd78

[2022-07-04 09:05] sushreebarsa commented on #56593
@DerGodoot Thank you for the update! Could you please let us know if this reported issue is resolved ?
Thank you!

[2022-07-04 09:08] njuhang commented on #56665
I use ./configure to change python version from 3.6 to 3.8 now, but it doesn't work.

[2022-07-04 09:27] sushreebarsa commented on #56669
@Li-Jiajie
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-07-04 09:46] Li-Jiajie commented on #56669
run this code:
`
import tensorflow as tf

class Model(tf.keras.Model):
   def __init__(self, name: str = None):
        super().__init__()
        self.dnn_model = self
        print('here', self.trainable_variables)  # here

test = Model("test")`

[2022-07-04 09:50] mohantym commented on #56670
Hi @JinXiaozhao !
That is a not a lite file which you are generating through Bazel (lite file extension is .lite). Those files are flex delegate files will be useful while running lite models with GPU support through[ load_delegates](https://www.tensorflow.org/api_docs/python/tf/lite/experimental/load_delegate) command in Desktops .

 To get a lite file , you need to convert the original saved_mod

[2022-07-04 09:52] tilakrayal commented on #56657
@varungupta31,
I ran the code shared and face a different error, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/6d1689ac9b4c07526d15445cf26860b2/untitled415.ipynb) and share all dependencies to replicate the issue or share a colab gist with the reported error. Thank you!

[2022-07-04 09:54] dathudeptrai commented on #56255
@rthadur can you take a look ?

[2022-07-04 10:15] dzorwulu commented on #53109
F:\workdir\units\unit_1_asa\ai\project\c++\ml\dl\software\tensorflow\tf>git clone https://github.com/tensorflow/tensorflow.git .
Cloning into '.'...
remote: Enumerating objects: 1379309, done.
remote: Counting objects: 100% (513/513), done.
remote: Compressing objects: 100% (299/299), done.
remote: Total 1379309 (delta 253), reused 420 (delta 211), pack-reused 1378796
Receiving objects: 100% (1379

[2022-07-04 10:27] Li-Jiajie commented on #56669
import tensorflow as tf

class TestModel(tf.keras.Model):
    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        self.dnn_model = self
        print('here', self.trainable_variables)  # here

test = TestModel("test")

[2022-07-04 11:15] #56670 closed

[2022-07-04 11:29] mohantym commented on #56665
@njuhang !
Could you confirm that you tried in fresh environment with Python 3.8 and the Environment path for Python files has been to updated before running the configure.py file.
Thank you!

[2022-07-04 11:31] yonikremer opened #56672 "AutoGraph could not transform function"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 18 (colab)

### Mobile device

_No response_

### Python version

3.7.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2

### GPU model and memory

NVIDIA

[2022-07-04 11:36] yonikremer commented on #56672
[link the drive folder containing the notebook and the data](https://drive.google.com/drive/folders/17hL0KlSRpW5fJsGDcFgEjNAIoQGF92Jd?usp=sharing)

[2022-07-04 11:37] gadagashwini commented on #56639
Hi @akowalsk, Could you lower the GCC version to 9.3.1 and try to build Tensorflow. Thank you!

[2022-07-04 11:45] qmarcou commented on #36465
I'm also facing this OOM issue during hyperparameters tuning using keras-tuner although by largest possible model can fit on the GPU alone (with a large margin in fact).
@FirefoxMetzger thanks for trying to build this minimal example and taking this forward! I've built on it to try and nail more precisely the issue.

Unfortunately @FirefoxMetzger minimal exemple does not reproduce the issue discus

[2022-07-04 12:32] acfrock commented on #56652
This is now being tracked in the keras-team/keras repository: [Issue #16754](https://github.com/keras-team/keras/issues/16754)

[2022-07-04 12:32] #56652 closed

[2022-07-04 12:44] sushreebarsa commented on #56652
@acfrock Thank you for the update!

[2022-07-04 12:49] bhack commented on #56672
It would be nice and it will speedup the triage if you can minimize a bit the code surface to reproduce this error also using dummy input data on a runnable Colab.

If it is failing it is cause we don't have a test for this case so we need to think about code snippet for reproducibility like a proxy for writing a new test.

[2022-07-04 13:06] akowalsk commented on #56639
I cannot find any way to install that version on ubuntu 20.04.  I tried installing per your comments here: https://github.com/tensorflow/tensorflow/issues/56432 but it didn't work.

[2022-07-04 13:08] zhaocc1106 commented on #11888
try this:
![Uploading image.png…]()

[2022-07-04 13:12] varungupta31 commented on #56657
@tilakrayal Hey!
To run the code, you'll need to model file, which I can't share as of now.
Here is a complete [gist](https://colab.research.google.com/drive/1JJ6atTendiqCGjn8vMDpukz56m4qZ-b8?usp=sharing) containing relevant outputs and reported error (NaNs).

[2022-07-04 13:15] NEGU93 commented on #38483
So [here](https://www.tensorflow.org/api_docs/python/tf/data/experimental/save) it is. It worked good for me but I needed to give the parameter `element_spec` to [tf.data.experimental.load](https://www.tensorflow.org/api_docs/python/tf/data/experimental/load). It should not be like that. But Ok. Still it worked. You can see that value like this:
[code]
Then I generated it using:
[code]
Maybe one c

[2022-07-04 13:19] NEGU93 commented on #42934
I used [tf.data.experimental.save](https://www.tensorflow.org/api_docs/python/tf/data/experimental/save) and [tf.data.experimental.load](https://www.tensorflow.org/api_docs/python/tf/data/experimental/load) like this
[code]
It bothered me a lot I had to use `element_spec` param. You can find it as an attribute of `tf.data.Dataset` named `element_spec`. You may be able to pickle that element as wel

[2022-07-04 14:38] mohantym commented on #56668
Ok @DonghakPark !
Thanks for the update. @sachinprasadhs ! Could you please look at this issue.
Thank you!

[2022-07-04 15:27] chunduriv commented on #56649
@kienerj,

I am unable to replicate the above issue using TF2.9.1, Python 10 on Unix 20.4.

Could you try to create a virtual environment as mentioned [here](https://www.tensorflow.org/install/pip#step-by-step_instructions) and let us know?  Thank you.

[2022-07-04 15:32] qmarcou commented on #36465
@FirefoxMetzger the point of `tf.config.experimental.reset_memory_stats('GPU:0')` was to be able to measure peak memory usage on a given time interval. I think using `tf.config.experimental.get_memory_info('GPU:0')["current"]` does not represent what we want to measure here, we really want to see the maximum memory usage, since this is what will cause the OOM error.

The thing is, if you remove th

[2022-07-04 16:39] #17353 closed

[2022-07-04 17:16] elfringham opened #56673 "Unit test fails to build, others fail on AARCH64 after XLA CPU backend enhancements"
### Issue Type

Bug

### Source

source

### Tensorflow Version

git HEAD

### Custom Code

No

### OS Platform and Distribution

CentOS 7

### Mobile device

n/a

### Python version

3.8.10

### Bazel version

5.1.1

### GCC/Compiler version

10.2.1

### CUDA/cuDNN version

n/a

### GPU model and memory

n/a

### Current Behaviour?

[code]

### Standalone code to reproduce the issue

[code]

###

[2022-07-04 17:16] elfringham commented on #56673
@cfRod @nSircombe

[2022-07-04 17:17] elfringham commented on #56673
Introduced by https://github.com/tensorflow/tensorflow/commit/c7bfba1d8a8700168c24d18f869886466ce0d54a

[2022-07-04 17:18] elfringham commented on #56673
PR that was merged https://github.com/tensorflow/tensorflow/pull/55534

[2022-07-04 17:19] FirefoxMetzger commented on #36465
Yep, I agree with your general logic here, and for long-running programs, this is indeed the better metric to track.

For the program that I shared here specifically, `current` and `peak` are the same and there shouldn't be a difference if you replace `tf.config.experimental.get_memory_info('GPU:0')["current"]` with `tf.config.experimental.get_memory_info('GPU:0')["peak"]`. Both variants should sh

[2022-07-04 17:42] markstrefford opened #56674 "Tensorflow predict() is accurate on single sample but giving strange results when predicting on dataset"
### Issue Type

Support

### Source

binary

### Tensorflow Version

2.8.0

### Custom Code

No

### OS Platform and Distribution

Issue on Windows 11  (with CUDA) and MacOS 12.4 (CPU)

### Mobile device

_No response_

### Python version

3.8 (Windows) and 3.9.5 (MacOS)

### Bazel version

n/a

### GCC/Compiler version

n/a

### CUDA/cuDNN version

CUDA 11.4, driver version 471.41

### GPU model

[2022-07-04 21:07] nSircombe commented on #56673
@snadampal

[2022-07-04 22:01] joelberkeley opened #56675 "`UniformIntDistribution` is exclusive in its upper bound"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source (I actually use [this binary](https://github.com/elixir-nx/xla/releases/tag/v0.3.0) but that isn't compiled by Google)

### Tensorflow Version

2.8

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

n/a

### Python version

n/a

### Bazel version

2.4.1

### GCC/Compiler ve

[2022-07-05 00:35] KingsleyLiu-NV commented on #56638
@sachinprasadhs Any progress here?

[2022-07-05 00:45] KingsleyLiu-NV opened #56676 "Save and load model within MirroredStrategy"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 18.04.5

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

Tes

[2022-07-05 00:47] KingsleyLiu-NV commented on #56676
I was expecting to see the log like this:
[code]

But the actual log is this:
[code]

[2022-07-05 00:50] KingsleyLiu-NV commented on #56676
Please note the line `tf.print("global_replica_id: {}".format(global_replica_id))` in the standalone code, which prints the log for me to check if all the visible devices have been utilized correctly.

[2022-07-05 01:46] KingsleyLiu-NV opened #56677 "What is the difference between model.__call__ on TensorSpec and Tensor"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-07-05 02:21] njuhang commented on #56665
I could build example, such as  bazel build tensorflow/examples/label_image/, do these two build share same environment?

[2022-07-05 02:34] gadagashwini commented on #56639
Hi @akowalsk, Could you try the workarounds mentioned on similar thread [#44692](https://github.com/tensorflow/tensorflow/issues/44692#issuecomment-917543931). Thank you!

[2022-07-05 02:55] Zhaojun-Liu opened #56678 "Tensorflow failed to build on MSVC with message Executing genrule //tensorflow:tf_python_api_gen_v2 failed: (Exit 1): bash.exe failed: error executing command"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.9

### Custom Code

No

### OS Platform and Distribution

Windows server 2019

### Mobile device

_No response_

### Python version

3.9.7

### Bazel version

5.2.0

### GCC/Compiler version

msvc latest build

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-07-05 03:37] d287zhan opened #56679 "Differing Tensorflow versions when checking"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.8.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_N

[2022-07-05 04:05] mohantym commented on #56665
@njuhang !
Yeah, Please test the above build in same environment once and let us know. Thank you!

[2022-07-05 04:25] gadagashwini commented on #56655
Hi @kvignesh1420,
`tf.scatter_nd` takes `updates` argument .

updates | A Tensor. Values to scatter into the output tensor.
-- | --

Thank you!

[2022-07-05 04:43] #56501 closed

[2022-07-05 04:53] mohantym commented on #56635
Hi @psunn !
It is replicating only in [2.10.0dev](https://colab.sandbox.google.com/gist/mohantym/ce29e1d903f5120c44daa75ddbacbc4c/tensorflow-ranking.ipynb#scrollTo=i5DTdT870IGD)(nightly) Version. Could we stick to [2.8](https://colab.sandbox.google.com/gist/mohantym/0630e7a45cd406943d7f3eb75473e4a2/tensorflow-ranking.ipynb#scrollTo=Q9GeNN3QzVUq)/[2.9](https://colab.sandbox.google.com/gist/mohantym

[2022-07-05 04:54] snadampal commented on #56673
Hi @elfringham , @nSircombe , I'm able to reproduce this, will look into it.

[2022-07-05 05:18] kienerj commented on #56649
Hi chunduriv,

It is actually Ubuntu 22.02 not 20.04. Could that be the issue?

Anyway the installationw as done exactly like on the Tensorflow web site:

https://www.tensorflow.org/install/pip

	conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0
	export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$CONDA_PREFIX/lib/
	python3 -m pip install tensorflow
	# Verify install:
	python3 -c "import tensorflow a

[2022-07-05 06:18] gadagashwini commented on #56432
Hi @Scheggetta, For the original issue, could you try the workarounds mentioned on similar thread https://github.com/tensorflow/tensorflow/issues/44692#issuecomment-917543931. Thank you!

[2022-07-05 06:20] mohantym commented on #56673
Hi @gadagashwini !
Could you look at this issue. Attached colab gist in [2.8](https://colab.sandbox.google.com/gist/mohantym/81a0e5a2cad734eb7b9b369aeca0515a/tensorflow-ranking.ipynb#scrollTo=skRg4_WPi616), [2.9](https://colab.sandbox.google.com/gist/mohantym/7cbd8a7803d8ec7cf0b48fee162c943e/tensorflow-ranking.ipynb#scrollTo=skRg4_WPi616) and [nightly ](https://colab.sandbox.google.com/gist/mohant

[2022-07-05 06:58] mrtpk123 commented on #49188
I have a use case where I need to turn off this conversion. That is, when the model is converted to tflite, the layers should not be converted to `hard swish` layer. I assume that I might need to change the calibration code. @abattery Can you advise on how to do this? Thank you.

[2022-07-05 07:21] Luux commented on #47554
I don't really know what you're trying to say. Why should some dummy input value change this? We're using the standard tf/keras method of saving a model without any additional quirks. During training, usually thousands of input values are processed by a model.

[2022-07-05 07:30] mohantym commented on #56679
Hi @d287zhan !
Could you update the System type too in the template.
Thank you!

[2022-07-05 07:36] tomytsai1 commented on #56319
The issue was fixed in [this commit](https://github.com/tensorflow/tensorflow/commit/9166effef59dcc719358026018e5253ddcd001d6). Please see if there is any other problems.

[2022-07-05 07:42] Poiu19 opened #56680 "Conv2D returns empty tensor of type float32 in case of bfloat16 input."
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux

### Mobile device

Linux Ubuntu 20.04

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

[2022-07-05 08:04] jungyin opened #56681 "In tensorflow2.6, when in my keras.model uses yaml to load data, it will turn the array into a listener"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tensorflow 2.6.0

### Custom Code

No

### OS Platform and Distribution

windows 10

### Mobile device

no use phone

### Python version

python3.8.8

### Bazel version

from pip install

### GCC/Compiler version

from pip install

### CUDA/cuDNN version

cuda 11.0

### GPU model and mem

[2022-07-05 08:04] jungyin commented on #56681
and i was in tensorflow forum report this issues https://discuss.tensorflow.org/t/why-does-an-array-become-a-listwrapper-when-i-read-yaml-in-a-custom-model/10592

[2022-07-05 08:24] elfringham commented on #56673
@gadagashwini Unfortunately the colab gists referenced above by @mohantym are not relevant, you cannot build with --config=mkl_aarch64 on x86.
Full log from an AARCH64 build is here
https://ci.linaro.org/job/ldcg-python-manylinux-tensorflow-onednn-nightly/108/consoleText

[2022-07-05 09:12] rino20 commented on #56535
Hi, @abattery  It seems you are already assigned to this issue.

Could you take a look at this issue? - This is a blocker of ARM side.

[2022-07-05 09:16] abattery commented on #56535
This behavior just does not throw an exception in the newer version. I wonder how the ARM side can be blocking because of this one.

[2022-07-05 09:28] benkli01 commented on #56535
Hi @abattery.
Thanks for looking into this. The issue here is that there is no "strict mode". We can not rely on the converter to produce a TFLite graph that only contains int8 operations (which might be required by the hardware).

[2022-07-05 09:29] sushreebarsa commented on #22028
@ajgarn Sorry for the late response!
TF v1.x is not actively supported, we recommend you to upgrade to the latest version. Could you check the migration [doc](https://www.tensorflow.org/guide/migrate) for more information and also refer this [comment](https://github.com/tensorflow/tensorflow/issues/33352#issuecomment-556245567). Please let us know if it helps?
Thank you!

[2022-07-05 09:33] sushreebarsa commented on #23713
@FarhanAhmad4473 Sorry for the late response!
TF v1.x is not actively supported, we recommend you to kindly upgrade to the latest TF version and let us know if the issue still persists?
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thankyou!

[2022-07-05 09:41] PatReis commented on #56300
Any update? It says `experimental_use_pfor`, so I understand that there is a lot of development done in this direction. I just would like to know if something like this will be possible in the future or whether this is a misconception on my side.

[2022-07-05 10:01] sushreebarsa commented on #26021
@wchargin Sorry for the late response!
Could you please let us know if the issue still persists in latest TF versions as older versions are not actively supported ?
Thank you!

[2022-07-05 10:32] tilakrayal commented on #56674
@sachinprasadhs,
While I was trying to reproduce the provided code, the execution was taking longer than expected. Kindly find the [gist](https://colab.research.google.com/gist/tilakrayal/c6b64b5740e18886f8f9edc52417dc33/2-8dog_classifier.ipynb) of it [here](https://colab.research.google.com/gist/tilakrayal/dcfb4b657c010a678648c3d744498fc5/2-9dog_classifier.ipynb).

[2022-07-05 10:32] sushreebarsa commented on #56669
@Li-Jiajie I tried to replicate the issue on colab and didn’t face the issue reported. Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/a9869f3f87a4a83f0659bb96f791c59c/56669.ipynb) and confirm the same?
Thank you!

[2022-07-05 10:36] qmarcou commented on #36465
From a mathematical perspective you can define peak_mem(t) as peak_mem(t)=max(current_mem(t),peak_mem(t-1)), thus peak memory is bound to be an increasing function (in the mathematical sense, meaning constant or increase as opposed to strictly increasing). Sorry if that wasn't clear.
I put more trust on this mathematical property than on my understanding of how GC works and how it is actually impl

[2022-07-05 10:39] FdyCN commented on #44903
@impjdi is there any update for this issue?

[2022-07-05 10:56] tilakrayal commented on #56677
@KingsleyLiu-NV,
I was able to execute the provided code without any issues/errors. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/84bdaac0fd5274ca623b1e12d6350357/untitled417.ipynb).

And To call a model on an input, always use the __call__() method, i.e. model(inputs), which relies on the underlying call() method and please take a look at this doc [link](http

[2022-07-05 11:02] sushreebarsa commented on #56681
@jungyin I tried to replicate the issue on colab using latest TF version, and didn't face any issue.  Could you please check this [gist](https://colab.research.google.com/gist/sushreebarsa/8adea9f9d6e84053234416e7c74095e1/56681.ipynb) and let me know if I'm missing something to replicate the issue?
Thank you!

[2022-07-05 11:04] sushreebarsa commented on #56666
@7NoteDancing Could you please confirm if you have posted this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)?
Thank you!

[2022-07-05 11:08] 7NoteDancing commented on #56666
Yes,I have posted.

[2022-07-05 11:13] BlueBlaze6335 commented on #34886
@Fansgithub2019 can you please help me with this error. The issue is closed , but if there is any information related to this , it would be appreciated !!

[2022-07-05 11:57] #56666 closed

[2022-07-05 12:19] KingsleyLiu-NV commented on #56677
@tilakrayal
I don't think you are answering my questions. I want to know whether there are differences for `model(inputs)` between when inputs are `TensorSpec` and when inputs are `Tensor`. Based on what I see in the log, they are different.

Besides, I don't think `call()` is used directly by `model(inputs)`. Instead, `__call__()` is used by `model(inputs)`, which do some internal operations as w

[2022-07-05 12:20] KingsleyLiu-NV commented on #56677
@tilakrayal Can you explain this log? Why log is printed when inputs are Tensor, but is NOT when inputs are TensorSpec?
[code]

[2022-07-05 12:39] #35944 closed

[2022-07-05 12:52] impjdi commented on #44903
Can you share the code snippet and the network?

On Tue, Jul 5, 2022 at 7:39 PM FdyCN ***@***.***> wrote:

[2022-07-05 13:00] MPKenning commented on #43497
Is there interest in a sparse einsum? I have an interest in it myself. I want to multiply two matrices (k, v, v) and (k, v, f) together, the first of which is highly sparse, and so far I have found no way to do this efficiently. I have tried using a for-loop over the dimension k and stack the results, but it is neither pretty nor efficient.

[2022-07-05 13:27] curiarteb commented on #43497
Dear Michael,

I had an equivalent issue multiplying a sparse tensor (k,i,j) by a dense matrix (u,v). I "solved" it doing a for-loop in the k index, but it was extremely inefficient. When iterating along the first axis, I was forced to miss the graph execution mode (the fit function of Keras), and to optimize in eager mode. It provided extremely slow executions ;(.

I am awaiting for Tensorflow to

[2022-07-05 13:41] MPKenning commented on #43497
The other difficulty is that stacking the results of a for-loop is apparently forbidden by graph-execution mode: the interpreter complains of a matrix with changing dimensions, which is addressed by relaxing the shapes, but it is not a pretty solution nevertheless and certainly not efficient, as you say.

This would be such a helpful innovation if it were implemented.

[2022-07-05 14:02] fswalden commented on #56640
I understand how the input shape works now. Does anyone have any tips on how they've converted photo inputs to a format compatible with an LSTM?

[2022-07-05 14:40] bhack commented on #56679
Can you test again creating a conda environment as in the official Doc:
https://www.tensorflow.org/install/pip

[2022-07-05 15:12] wenscarl commented on #55747
Fixed in 2.9.1. Closing.

[2022-07-05 15:13] #55747 closed

[2022-07-05 15:24] rposts commented on #43124
@broken - Thanks for the clarification. I will close this issue and investigate SIG route.

[2022-07-05 15:24] #43124 closed

[2022-07-05 15:32] FSet89 opened #56683 "tflite_runtime problem on Arm64 linux with multiprocessing"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: no
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux (Arm64)
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: n/a
-   **TensorFlow installed from (source or binary)**: binary
-   **TensorF

[2022-07-05 17:42] gowthamkpr commented on #56671
Linking issue #29968 as this might be related.

[2022-07-05 18:53] hmzsaeed commented on #37138
I'm having the same issue. Did u find any solution?

[2022-07-05 19:37] sachinprasadhs commented on #56674
Note that model.predict is not intended to use inside the loop or to iterate data and use it.
It is intended for batch processing and large number of inputs.
For details check [here](https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#predict).

[2022-07-05 19:38] markstrefford commented on #56674
Hi yes, I realise that I should use `prediction = model(input_image)` or similar. However, the `for` loop works and predicting on the dataset doesn't

[2022-07-05 19:53] Lokiiiiii opened #56684 "Training with MultiWorkerMirrorredStrategy crashes in TF 2.9"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA=11.2.2 / CUDNN=8.2.4.15-1

### GPU model and mem

[2022-07-05 21:14] agramesh1 commented on #56671
@mergian are you using  the Intel version of the pypi  i.e pip install intel-tensorflow?
The official pypi Tensoflow doesn't use openMP  only the Intel build of Tensorflow uses openMP.  The Intel version includes its own version of LLVM's openMP as a shared library.

[2022-07-05 21:41] winginitau commented on #50487
Confirmed getting the same with tf 2.9.1 with keras tuner where its included in the tuner model:
`
self.tuner = kt.tuners.Hyperband(
                ...
                distribution_strategy=tf.distribute.MirroredStrategy(),
                ...
                )
`

[2022-07-05 23:08] jhogg11 commented on #56599
The Keras GitHub states to post it on the Tensorflow forum, and I did that, so that's one more venue where I've posted the question without a meaningful response.

https://discuss.tensorflow.org/t/basic-keras-model-underperforming-against-scikit-learn-mlpregressor/10485

[2022-07-05 23:42] KingsleyLiu-NV commented on #56677
@tilakrayal Any progress here?

[2022-07-05 23:42] KingsleyLiu-NV commented on #56676
@gadagashwini Any progress here?

[2022-07-06 01:17] njuhang commented on #56665
I could pass example building.
I check python:tflite_convert  build info, it says  'build' options: --action_env PYTHON_BIN_PATH=/usr/bin/python3 --action_env "PYTHON_LIB_PATH=/usr/local/lib/python3.8/dist-packages --python_path=/usr/bin/python3".
But still failed.

[2022-07-06 01:23] njuhang commented on #56665
Maybe I missed a package named packaging, then I use pip to install it, then I finished building.

[2022-07-06 01:23] #56665 closed

[2022-07-06 01:24] njuhang commented on #56588
Is there any suggestions?

[2022-07-06 01:37] d287zhan commented on #56679
Hi @mohantym, by the system type do you mean OS? Which I updated to be Windows 10.

[2022-07-06 01:38] d287zhan commented on #56679
Hi @bhack, I can try again, but I download all these packages locally using pip, through my terminal. Is there a way to uninstall a certain version of TensorFlow? Could it be related to my local python version?

[2022-07-06 02:42] ddgonzal3 opened #56685 "Can we get PocketFFT ported to Tensorflow?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model an

[2022-07-06 02:50] icexiaoyou commented on #56492
![new_bug](https://user-images.githubusercontent.com/95946934/177457482-5ecc354d-95b8-4f4c-bfa6-e26f7e35b250.png)

Still could not Run, thanks for your supports.

[2022-07-06 02:56] suchunxie commented on #50487
Hi, @npanpaliya can you share where did you modified to change MirroredStrategy to OneDeviceStrategy . Thnaks .

[2022-07-06 03:18] Li-Jiajie commented on #56669
https://colab.research.google.com/gist/Li-Jiajie/ff5a01f73b95c5f2da1a525540723341/56669.ipynb

[2022-07-06 04:01] hafiz031 commented on #40385
I managed to run `tensorflow-probability` with this combination:
[code]

[2022-07-06 04:28] kienerj commented on #56649
See initial post:

    with tf.device('/CPU:0'):

[2022-07-06 04:35] KingsleyLiu-NV commented on #56638
@sachinprasadhs Any progress here?

[2022-07-06 05:01] npanpaliya commented on #50487
In my case, I'd to specify `--distribution_strategy=one_device` here in my tests https://github.com/open-ce/tensorflow-feedstock/blob/main/tests/open-ce-tests.yaml#L22

[2022-07-06 05:45] mergian commented on #56671
@agramesh1 no I'm using the official PYPI TensorFlow. I just created a blank VENV and only installed TF. It seems the second OpenMP output comes from a device support library we are using.

BUT I was able to reproduce the performance problems also with just a blank TF when running our pipeline on CPU, so I assume that the TF threading implementation itself might interfere with other libraries usin

[2022-07-06 05:47] tilakrayal commented on #56680
@Poiu19,
This issue was resolved in the latest tf-nightly version. Could you please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/4d3d1b8c9bbb8fc23e74b7dd4f4079f6/56680.ipynb) and confirm the same. Thank you!

[2022-07-06 05:50] gadagashwini commented on #56679
Hi @d287zhan, May be its due to multiple Python version. To install specific Tensorflow version on Jupyter notebook, you launch Jupyter notebook and install tensorflow on Jupyter notebook cell `!pip install tensorflow==2.9.1`.Or you create virtual environment using pip and install specific version of Tensorflow. Thanks you!

[2022-07-06 06:24] leiwuzheng commented on #53771
@kaixih , @reedwm , @duncanriach , thanks a lot for the confirmation. After dumping out more tensorflow and cudnn log, I guess the performance regression issue is related with the cudnn bug https://forums.developer.nvidia.com/t/cudnn8-regression-in-algorithm-selection-heuristics/153667, and which is already fixed in cudnn8.2.1.

Following is test I did and the log dumped out:

###Testing environme

[2022-07-06 06:42] mohantym commented on #56683
Hi @FSet89 !
I think you are not using multi-threading in interpreter correctly during inference. You have to pass the number of threads in interpreter too.
[code]
Could you also test above syntax with 2.8/2.9 version and Python 3.7/3.8 (Python 3.7 is minimum version now)

Thank you!

[2022-07-06 06:42] mrtpk123 opened #56686 "MBv3 conversion: How to turn off hard swish optimization"
### 1. System information

- Windows 11
- pip
- version 2.8.0

### 2. Code
[code]
### 3. Failure after conversion
The model is correctly converted. The hard swish layers (multiple layers- ADD, MUL, RELU6 in TF) are combined into one layer- `hard swish` in TFlite.

![image](https://user-images.githubusercontent.com/76564442/177485487-ed7ffa24-b784-4ba7-bc69-79297b05f93a.png)

I understand that this

[2022-07-06 06:50] enor2017 opened #56687 "python/kernal_tests/linalg/tridiagonal_solve_op_test.py test fail"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

Ubuntu 18.04.5 LTS (on colab)

### Mobile device

N/A

### Python version

3.7.13

### Bazel version

N/A

### GCC/Compiler version

N/A

### CUDA/cuDNN version

CUDA V11.1.105

### GPU model and memory

_No response_

###

[2022-07-06 07:02] enor2017 opened #56688 "kernel_tests/nn_ops/xent_op_d9m_test.py test fails"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

Ubuntu 18.04.5 LTS (on colab)

### Mobile device

N/A

### Python version

3.7.13

### Bazel version

N/A

### GCC/Compiler version

N/A

### CUDA/cuDNN version

CUDA V11.1.105

### GPU model and memory

N/A

### Current Be

[2022-07-06 07:34] mohantym commented on #8584
Hi @oroojlooy !
Is this issue still valid. Have you checked [installation guide ](https://www.intel.com/content/www/us/en/developer/articles/guide/optimization-for-tensorflow-installation-guide.html)from intel yet ?
Thank you!

[2022-07-06 07:52] Poiu19 commented on #56680
@tilakrayal
The output type is now correct, but returned tensor is still empty. In the documentation I see that such a case (bfloat16 input) is supported so the output shouldn't be empty.

[2022-07-06 08:03] DanielWicz commented on #9234
I started having this error "/tensorflow/core/kernels/linalg/svd_op_impl.h:110] Eigen::BDCSVD failed with error code " on Intel CPUs, in 2.7 and in 2.9.1 as well

[2022-07-06 10:00] sushreebarsa commented on #56688
@gadagashwini I was able to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/f954d24cc720043b5fb565bdf6dd7cdc/issue_gist2.ipynb#scrollTo=4edpBpxLQYYU). Thank you!

[2022-07-06 10:14] sushreebarsa commented on #56669
@Li-Jiajie I was able to replicate the issue on colab [here](https://colab.research.google.com/gist/sushreebarsa/7b8aeb4726ebaa732956b0c998c31f58/56669-gist.ipynb).
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https:/

[2022-07-06 10:27] FdyCN commented on #52343
@impjdi thanks for your reply. seems no method to use OpenCL on Pixel 2 because of the lack of OpenCL lib.

[2022-07-06 10:39] #30063 closed

[2022-07-06 11:03] 8bitmp3 commented on #56662
https://github.com/tensorflow/docs/pull/2097

[2022-07-06 11:08] tilakrayal commented on #56662
@tekboart,
The pr has been assigned for reviewing and once it is merged this issue will move to closed status. Thank you!

[2022-07-06 11:12] suchunxie commented on #50487
@npanpaliya  I'm using tensorflow model -garden, and tired your way to add strategy but tat parameter is not allowed in my case.

[2022-07-06 11:14] suchunxie commented on #50487
@tekumara  could you please tell me in which Script should I add these code? I tried in the pool.py  file but not work.

[2022-07-06 11:56] maidang-ee opened #56689 "disable_resource_variables is deprecated"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.6.0

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 16.04

### Mobile device

_No response_

### Python version

3.8.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-07-06 13:39] #56506 closed

[2022-07-06 14:11] npanpaliya commented on #50487
Which scripts of tensorflow/models are you trying?

[2022-07-06 14:26] bhack commented on #56679
Please be sure to try this in the conda env as described in the official Doc so we are sure that you are in an isolated fresh environment.

[2022-07-06 14:42] anton-bushuiev commented on #16965
For me, downgrading `cudnn` helped. See the answer on (StackOverflow)[https://stackoverflow.com/a/72885500/17572887]

[2022-07-06 14:45] GF-Huang opened #56690 "TF 2.9.1 GPU not detected"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

TF 2.9.1

### Custom Code

No

### OS Platform and Distribution

Win10 21H2 x64

### Mobile device

_No response_

### Python version

3.9.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

cudatoolkit=11.2.2 cudnn=8.1.0.77

### GPU mod

[2022-07-06 14:46] suchunxie commented on #50487
I'm training Bert using the run_pretraining.py
<https://github.com/suchunxie/models/blob/master/official/nlp/bert/run_pretraining.py>
here,
and got the error of Bad descriptor.
Then I  referenced the post of yours, changed the
python3.8/multiprocessing/pool.py file where shows the error.(see the
picture below)
[image: error.png]
(My environment is Ubuntu+docker+nvidia-tensorflow container. )

Nish

[2022-07-06 14:58] GF-Huang commented on #56690
Shxt the `python3`.

![image](https://user-images.githubusercontent.com/4510984/177581138-db9fddfc-38b3-494c-a7ba-620b9504b5fe.png)

[2022-07-06 14:58] #56690 closed

[2022-07-06 15:41] npanpaliya commented on #50487
@suchunxie - You can specify strategy here https://github.com/suchunxie/models/blob/master/official/nlp/bert/run_pretraining.py#L207. "one_device" is supported https://github.com/suchunxie/models/blob/65e571fdc903873362e59abe0aeec5c8018da750/official/common/distribute_utils.py#L158.

[2022-07-06 16:02] mihaimaruseac commented on #56088
Google has been OOO due to 4th of July until today. It will probably get reviewed soon internally

[2022-07-06 16:04] PINTO0309 commented on #56660
I am not sure if this is a meaningful conversion since **`seed`** is not present in the INPUT OP of saved_model.

https://colab.sandbox.google.com/gist/mohantym/fc8ff3b5e7287d4a1eb43f0f6d2b1361/jax-flax-transformations-cannot-be-mixed.ipynb#scrollTo=MVLK3QdhXT1L
[code]
[code]
![image](https://user-images.githubusercontent.com/33194443/177594116-e177a6f8-5491-44e0-b609-cf5f851a3f40.png)

![model_fl

[2022-07-06 16:40] M-R-Z-X commented on #45285
Is this because my version is [wrong]
![NIPO9I ZEY`C0BJM{_8GYO6](https://user-images.githubusercontent.com/52115431/177600941-13752640-204c-4763-ba14-619306b16e9b.png)
![RG}$PY)Z(A%A~(8R(F623FE](https://user-images.githubusercontent.com/52115431/177600950-1fcee81e-4484-4b13-a6a2-cb03fa105a8b.png)

[2022-07-06 17:14] josephrocca commented on #56660
@PINTO0309 I think I might have confused you in the email I sent you - this Github issue is actually just about the encoder side of the model, and doesn't take a `seed` input. I isolated the encoder because I found it to be the source of this particular "Jax transforms and Flax models cannot be mixed" error, and I wanted to try to produce a minimal reproducible example of the error. It is my mista

[2022-07-06 19:39] #56503 closed

[2022-07-06 22:01] sachinprasadhs commented on #52258
Hi, Could you please follow this [link](https://www.tensorflow.org/lite/guide/build_cmake) to build the tflite with TFLITE_ENABLE_XNNPACK=ON for Windows and let us know if you still face an issue. Thanks!

[2022-07-06 22:04] sachinprasadhs commented on #48924
Hi, Can you make sure you build the XNNPACK with TFLITE_ENABLE_XNNPACK=ON and test the code again.
For details on build, check the document [here](https://www.tensorflow.org/lite/guide/build_cmake). Thanks!

[2022-07-06 22:16] sachinprasadhs commented on #56571
As suggested above, you can build the tflite with `TFLITE_ENABLE_XNNPACK = OFF` which disables `XXPACK` by default,
you can enable it in your code using the steps mentioned [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/xnnpack/README.md#enable-xnnpack-via-low-level-delegate-api-not-recommended).

[2022-07-06 22:25] sachinprasadhs commented on #56545
In the log which you have provided, I was able to see that the GPU delegate is not initialized, could you refer the comment [here](https://github.com/tensorflow/tensorflow/issues/24986#issuecomment-455413877) and the issue thread for more details on the issue and let us know if this helps. Thanks!

[2022-07-06 22:48] pranavladkat opened #56692 "Add support for kwargs for tf.recompute_grad API for graph mode"
### Issue Type

Feature Request

### Source

binary

### Tensorflow Version

2.9

### Custom Code

No

### OS Platform and Distribution

Linux

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

Currently `tf.reco

[2022-07-06 23:42] pranshupant commented on #56498
Are there any updates on this issue?

[2022-07-06 23:52] KingsleyLiu-NV commented on #56676
@gowthamkpr Any progress here?

[2022-07-06 23:52] KingsleyLiu-NV commented on #56677
@tilakrayal  Any progress here?

[2022-07-07 00:01] kulinseth commented on #56473
Hi @abhimanyuchadha96 , unfortunately I can't discuss the timeline, but we are working on this with high-priority. I will update here, as soon as ready. One minor issue, is that we will have to bump the TF base version to release the fixes. But we will take a look.

[2022-07-07 00:34] mohantym commented on #56689
Hi @maidang-ee !
Could you share a minimal stand alone code to replicate the issue.
Thank you!

[2022-07-07 00:36] abhimanyuchadha96 commented on #56473
@kulinseth Thank you for getting back to me. Looking forward to the new build.

[2022-07-07 00:46] casassg commented on #49182
@rcrowe-google running into this weirdly enough. Do you know any other reason this may cause it? We dont have Evaluator on the pipeline

[2022-07-07 01:04] duncanriach commented on #53771
@leiwuzheng, if the regression has been fixed by using a newer version of cuDNN, then you don't need to (and should not) open a new issue.

[2022-07-07 01:09] maidang-ee commented on #56689
Hi @mohantym!
Thank you for getting back to me.
Absolutely, I will attach some parts of the code.
I'm not sure if they are useful but please let me know if you need anything more.
I really appreciate it.
Since my research is at the critical time so I really need the code to work again ASAP!!!

![image](https://user-images.githubusercontent.com/58720073/177667861-64316f7c-52a7-4dcf-b6fd-6fcf1b2e4ca

[2022-07-07 01:12] VictoriaGriffith opened #56693 "Bug in tf.test.compute_gradient for tf.keras.losses.categorical_hinge"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

n/a

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

[2022-07-07 01:14] mohantym commented on #35677
Hi @ManishAradwad @MarkDaoust
Created a new PR [#408](https://github.com/tensorflow/examples/pull/408) to a faster merge.
Thank you!

[2022-07-07 01:33] maidang-ee commented on #56689
Hi @mohantym,

Just a quick update.
I got my program to work again.
Thank you for spending time on looking at my issue.
You have a good day!

[2022-07-07 01:35] VictoriaGriffith opened #56694 "`tf.image.rgb_to_hsv` fails on back prop when dtype is double"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-07-07 02:01] Pooolly opened #56695 "object is not callable"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2022-07-07 02:40] suchunxie commented on #50487
Hi, @npanpaliya  It workes! I tried this way before but not worked, and after you pointed to me I checked it again, found there's a back slash lost before I pass --distribution_strategy. Stupid me > <.
Thanks greatly for your help !

[2022-07-07 03:19] tilakrayal commented on #56687
@sachinprasadhs,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/d0ab73780fbd0f2084d049d3904e27e8/2-8issue_gist.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/9a42463f61ec8251e3b7912b17c807d9/2-9-issue_gist.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/f4d78fefc9f688c9e978db79657e132b/2-10-issue_gis

[2022-07-07 03:39] #56355 closed

[2022-07-07 03:55] npanpaliya commented on #50487
Hi @suchunxie, This is great! Glad to hear this! :)

[2022-07-07 05:33] sushreebarsa commented on #56695
@Pooolly
In order to expedite the trouble-shooting process here, could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thank you!

[2022-07-07 05:45] gadagashwini commented on #56678
Hi @Zhaojun-Liu,
Add the python library path to PATH in user variables. If you are using Anaconda, add:
`"C:\Users\xyz\Anaconda3\Library\bin"`
Thank you!

[2022-07-07 05:52] gadagashwini commented on #56679
Hi @d287zhan, Anaconda has default Tensorflow 2.4 version. Thank you!

[2022-07-07 05:56] omer-yildirim commented on #8858
We were running into similar problems. Even with small batch sizes in both tensorflow and pytorch the pc was restarting by itself. We removed a gpu but still no solution. Just nvidia-smi -pl 150 didn't work.
In addition;

    sudo nvidia-smi -pm 1
    sudo nvidia-smi -lgc 1400
    sudo nvidia-smi -lmc 6500
    sudo nvidia-smi -gtt 65
    sudo nvidia-smi -cc 1
    sudo nvidia-smi -pl 165

We added

[2022-07-07 06:29] mohantym commented on #56689
Ok @maidang-ee !
Closing this issue it seems to be resolved from above[ comment](https://github.com/tensorflow/tensorflow/issues/56689#issuecomment-1176943267).

[2022-07-07 06:29] #56689 closed

[2022-07-07 06:39] #56515 closed

[2022-07-07 06:45] zgfh commented on #45200
see: https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html
<img width="1207" alt="image" src="https://user-images.githubusercontent.com/11729624/177709010-2519b31a-9054-4dc5-8616-b01b70decc35.png">

this work for me (centos7)
[code]
<img width="757" alt="image" src="https://user-images.githubusercontent.com/11729624/177709162-17a11a0d-2432-4467-abf0-d136b7b085af.png">

[2022-07-07 06:49] mohantym commented on #56665
Ok @njuhang ! Thanks for the update. Glad you were able to find the issue.

[2022-07-07 06:49] mohantym commented on #56665
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-07-07 07:39] #56527 closed

[2022-07-07 08:41] tilakrayal commented on #56657
@varungupta31,
I ran the code and faced a different error, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/aef0d21138f331640b9035532eaebf6f/untitld99.ipynb) and share all dependencies to replicate the issue. Thank you!

[2022-07-07 08:50] KingsleyLiu-NV opened #56696 "tf.sparse.reshape cannot deal with tf.keras.Input(sparse=True)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8.0

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-07-07 08:56] mohantym commented on #56693
Hi @chunduriv !
Could you look at this issue. Attached gist in[ 2.8](https://colab.sandbox.google.com/gist/mohantym/ef18fb3597f27f8c098417775d0e68af/git_56693_2-8.ipynb#scrollTo=szukxf4gZpoK), [2.9 ](https://colab.sandbox.google.com/gist/mohantym/64ef4463326281ac0bbe98463e444da3/git_56693_2-8.ipynb#scrollTo=szukxf4gZpoK)and [nightly](https://colab.sandbox.google.com/gist/mohantym/3b4f28ba39ddb566a

[2022-07-07 09:28] tilakrayal commented on #56677
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/1966b55b78469e9369d71239041a6f6c/56677.ipynb).

[2022-07-07 09:43] KingsleyLiu-NV commented on #56677
I think `model.__call__(inputs)` goes into `model.call()` when inputs are `Tensor`, but does not go into `model.call()` when inputs are `TensorSpec`. I want to know the reasons here. @tilakrayal @gowthamkpr

[2022-07-07 10:11] sushreebarsa commented on #19395
@Abhishek8394 TF v1.x is no longer actively supported, so we recommend you to kindly upgrade to latest TF version. Could you refer to this migration [doc ](https://www.tensorflow.org/guide/migrate) to know more on this. Please note that tf.contrib no longer exist in Tensorflow 2.x and it's modules were moved. Thank you!

[2022-07-07 10:12] sushreebarsa commented on #24268
@alexander-shustanov TF v1.x is no longer actively supported, so we recommend you to kindly upgrade to latest TF version. Could you refer to this migration [doc ](https://www.tensorflow.org/guide/migrate) to know more on this. Please note that tf.contrib no longer exist in Tensorflow 2.x and it's modules were moved. Thank you!

[2022-07-07 10:43] sushreebarsa commented on #56640
@fswalden I was able to replicate this issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/59fd1a121bfeee76e53173bc53ea579f/git_56640.ipynb).
Could you please refer [this](https://stackoverflow.com/questions/47671732/keras-input-a-3-channel-image-into-lstm) thread to know more on how to convert photo inputs to a format compatible with an LSTM.
`For any f

[2022-07-07 10:45] tilakrayal commented on #56694
@VictoriaGriffith,
The problem is indeed the datatype of your input. By default your model expects float32 but you are passing a float64. Could you please either change the dtype of the model or change the input to float32. Thank you!

[2022-07-07 10:55] qmarcou commented on #36465
@FirefoxMetzger great! I was also wondering whether `tf.keras.backend.clear_session` had any effect, and I guess we can safely conclude that it's useless in this context.
I've realized that our plots may be masking small leaks due to scaling, and I've rerun the previous experiment plotting on log scale, and running a "pre work" IDLE time before actual work (Dense layer instantiation or model fitti

[2022-07-07 13:25] baoachun opened #56697 "The performance is worse after turning on mkldnn"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

2.4.1

### Custom Code

No

### OS Platform and Distribution

centos7

### Mobile device

_No response_

### Python version

3.8.6

### Bazel version

3.1.0

### GCC/Compiler version

10.2

### CUDA/cuDNN version

N

### GPU model and memory

N

### Current Behaviour?

[code]

##

[2022-07-07 15:40] kulinseth opened #56699 "JAX lib dependency for Tensorflow builds on M1 (ERROR: No matching distribution found for jaxlib~=0.1.75)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

TF 2.10

### Custom Code

No

### OS Platform and Distribution

MacOS M1

### Mobile device

_No response_

### Python version

Python 3.8

### Bazel version

5.0.0+

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-07-07 16:14] MM2932 commented on #54481
Hi @sirakiin ,

Thanks! Please keep us updated about the progress.

Thanks again,
Massimo.

[2022-07-07 16:17] mihaimaruseac commented on #56333
Ideally the code would return the same type of error in both cases here.

[2022-07-07 16:38] bhack commented on #56679
@mihaimaruseac Now we have conda instead of venv in the official doc to test a clean and reproducible env install.

The multi-python hipotesys has still an high probabilty bere

[2022-07-07 16:39] #56520 closed

[2022-07-07 17:09] bhack commented on #56679
Not anymore (I meant to be sure you have a fresh env).

https://www.tensorflow.org/install/pip

For CPU It is only suggested to skip step 3 (Linux) and 4 (win).

[2022-07-07 17:26] kulinseth commented on #56699
Makes sense. @nitins17 , @yarri-oss and @learning-to-play

[2022-07-07 17:36] balvisio opened #56700 "Saving and Loading a Dataset returns a different elements"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

MacOS Monterey

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respons

[2022-07-07 17:44] mihaimaruseac commented on #56679
[code]

Please see how the first line, the conda line, is just for conda whereas the line that install TF (the third one) is `pip`.

[2022-07-07 17:50] bhack commented on #56679
Yes but I am on the [step-by-step section](https://www.tensorflow.org/install/pip?hl=en#step-by-step_instructions)  of the same page (that was historically the `venv` clean env setup)

Please note "this also" and it Is why we suggest optional GPU only steps.

So for me this is now the official guide to have a "reproducible fresh env" other then with our Docker guide.

[2022-07-07 17:58] mihaimaruseac commented on #56679
![8EvuzguGH9SR6J6](https://user-images.githubusercontent.com/323199/177838882-1fbcb159-e3bc-4d82-b02f-7abc48eb58fb.png)

[2022-07-07 18:05] cantonios commented on #56498
@pranshupant it looks like you are correct, the raw op currently ignores dilation.  For atrous depthwise convolution via [`tf.nn.depthwise_conv2d`](https://www.tensorflow.org/api_docs/python/tf/nn/depthwise_conv2d), we currently rely on [`tf.nn.with_space_to_batch`](https://www.tensorflow.org/api_docs/python/tf/nn/with_space_to_batch).

You should be using the public API endpoint `tf.nn.depthwise_

[2022-07-07 18:15] mihaimaruseac commented on #56679
Yes, but this discussion confused @gadagashwini into thinking OP wanted to install via Conda, when Conda is just an orthogonal issue here.

To debug this further, we need the output of the two commands mentioned in https://github.com/tensorflow/tensorflow/issues/56679#issuecomment-1177881334:

[code]

[2022-07-07 19:11] tomasj12 opened #56702 "model gets 100% validation accuracy in the first epoch after keyboard interrupting previous model training."
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

AMD RADEO

[2022-07-07 19:14] YogaVicky opened #56703 "Custom Op written in C API errors when requesting GPU_Device stream"
<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Feature Request

### Source

binary

### Tensorflow Version

2.8

### Custom Code

Yes

### OS Platform and Distribution

Linux

### Mobile device

07010841551

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-07-07 20:25] cantonios commented on #9234
That would be a different issue.  Perhaps this one: #26842

[2022-07-07 20:26] cantonios commented on #26842
Yes, this is still a problem - and it's an Eigen issue: [#2491](https://gitlab.com/libeigen/eigen/-/issues/2491)

[2022-07-07 20:28] #56699 closed

[2022-07-07 20:46] snadampal commented on #56673
Hi @elfringham , I've fixed the unit test build issue and tested the below few scenarios manually.  No more build issues, however, one of the 5 tests in aot_compiled_test suite is failing with the error threshold mismatch (only for the  'mkl_aarch64' + xla cpu enhancements),  I will put a separate patch for that.
Before I raise a PR for this build issue fix, would you be able to take it through th

[2022-07-07 20:49] gowthamkpr commented on #56677
@KingsleyLiu-NV` tf.keras.Input()` produces a symbolic tensor-like object (i.e. a placeholder) whereas you are directly passing in the data when you pass `tf.ones()` into the data and that is the reason why model is not getting executed as you are passing a placeholder, not the data itself. You can refer to this [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/Input) for deeper

[2022-07-07 21:16] gowthamkpr commented on #56661
It might be due to the WDDM 3.x driver of Windows 11 that might be causing this issue. Please take a look at this [solution](https://github.com/tensorflow/tensorflow/issues/22623#issuecomment-430482857). Thanks!

[2022-07-07 21:41] gowthamkpr commented on #55234
@kanghj This has been fixed in the latest version of tf-nightly. Please find the gist [here](https://colab.research.google.com/gist/gowthamkpr/e8863d0b888966f41e807d2b091a6b76/untitled369.ipynb). Please close the issue as it has been resolved. Thanks!

[2022-07-07 21:47] #55234 closed

[2022-07-07 21:58] SalihOsman1 opened #56706 "AttributeError: module 'tensorflow.compat.v2.__internal__.distribute' has no attribute 'strategy_supports_no_merge_call' #53510"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2022-07-07 22:03] SalihOsman1 commented on #56706
I was able to solve it by do a PIP unistall and Install of Tensorflow and Keras newest versions. I have re installed Tensorflow 2.9.0 and corresponding recent Keras version. Then, Restart my Juypter notebook server. Then every thing work fine with no Error.

Note: I could not find the file (pyproject.toml)  on my machine- it was mentioned in the previous solution for this error

[2022-07-07 22:32] cantonios commented on #56575
You can try the following:
[code]
This essentially computes the distance matrix one row at a time (with parallel iterations in graph mode), then re-assembles the full distance matrix.  Memory is bounded by `size(y) * parallel_iterations` , so should never blow up.  Input sizes are the same as in torch.cdist.

[2022-07-07 22:37] sachinprasadhs commented on #56687
I'm able to run the test successfully internally, Could you please test again by matching Git version and Tensorflow version.
Else, you can also try with nightly version against master branch. Thanks!

[2022-07-07 23:24] sachinprasadhs commented on #56059
With the constant changes in the Tensorflow API, the error could be causing due to some of the changes made under the hood, but in video also he explains in the later [part](https://youtu.be/YASRu_eT0Y0?t=5176) that no need to change the labels when using Tensorflow and above changes which I had mentioned earlier is the optimal way. Thanks!

[2022-07-07 23:31] very-meanly commented on #48195
Bumping this to keep it open - still seeing this issue in tensorflow==2.9.1. Same pattern - no issue on MacOS, but as soon as I run on a Sagemaker notebook instance using Amazon Linux 2, the issue happens. The suggestion from @Jack-Fawcett does prevent the error from happening, for anyone else looking for a workaround (`tf.keras.backend.set_image_data_format("channels_last")`)

[2022-07-08 01:31] PatriceVignola commented on #55226
@penpornk I have a new PR to track: https://github.com/tensorflow/tensorflow/pull/56707

Do you want to create a new tracker for TF 2.10, or is this one fine?

[2022-07-08 02:12] jungyin commented on #56681
I tried again, and it seems that I can't reproduce this problem again. Although I'm very unwilling, I will remember this problem, and I will solve it when it reappears

[2022-07-08 03:01] tilakrayal commented on #56696
@chunduriv,
I was able to reproduce the issue on tensorflow v2.8, v.29 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/3f5fb3361689ad3144e09f4fc6ffde16/56696-error.ipynb).

[2022-07-08 03:56] sushreebarsa commented on #56681
@jungyin Thank you for the update!
Please move this issue to closed status if it is resolved in latest version and feel free to let us know if you still face the issue?
Thank you!

[2022-07-08 03:56] sushreebarsa commented on #56681
@jungyin Thank you for the update!
Please move this issue to closed status if it is resolved in latest version and feel free to let us know if you still face the issue?
Thank you!

[2022-07-08 04:17] Jiayuli-CU opened #56708 "tensorflow.python.compiler.tensorrt converter build Bert model error"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9.1 (git version: v2.9.0-18-gd8ce9f9c301)

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 18.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA 1

[2022-07-08 04:31] zhihuiloke opened #56709 "Problem using Metal delegate on iPhone 13 mini"
### System information

Code written:
[code]
- Using an iPhone 13 mini, on iOS 15.5
- Tensorflow lite is compiled from source, using 2.9.1
- Cross compiled from m1 mac using cmake, and bazel 5.0.0 for the required frameworks
- Compiled using apple-clang 13.1
- XCode version 13.4.1

### Describe the problem
There is a problem trying to use Metal delegate on this specific phone (or perhaps the whole

[2022-07-08 04:50] mohantym commented on #56702
Hi @tomasj12 !
You can just use initial epoch in model fit like below to start training from next epoch.
[code]
Thank you!

[2022-07-08 04:58] gadagashwini commented on #56599
@gowthamkpr, I could able to reproduce the issue with `Tf 2.9`take a look at gist [here](https://colab.research.google.com/drive/1isnRSel2XfX3_pl5r1iogJSnVfiJtu6j?usp=sharing). Thank you!

[2022-07-08 05:02] gadagashwini commented on #56639
Hi @akowalsk, Glad that it resolved, could you move this to closed status?

[2022-07-08 05:09] volkfox commented on #46595
The problem still exist after renaming to tf.keras.utils.image_dataset_from_directory

$ python train.py
Traceback (most recent call last):
  File "/Users/dkh/Downloads/Data-Centric-AI-Competition/internal-competition/train.py", line 25, in <module>
    train = tf.keras.utils.image_dataset_from_directory(
  File "/Users/dkh/miniforge3/lib/python3.9/site-packages/keras/utils/image_dataset.py", line

[2022-07-08 05:12] volkfox commented on #46595
@jhihn  can you please reopen?

[2022-07-08 05:26] tilakrayal commented on #46595
@volkfox,
Could you please feel free please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thank you!

[2022-07-08 06:14] tilakrayal commented on #56703
@YogaVicky,
Could you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thank you!

[2022-07-08 06:23] Zhaojun-Liu commented on #56678
Hi @gadagashwini
I tried to add the python library path to PATH, you can check it in the below image, but it still failed to build. Is there something wrong with my settings? I also tried to add the python library path to LIB variable and INCLUDE variable, all failed with the same error.
![image](https://user-images.githubusercontent.com/103498042/177899518-c6f02e9e-9a8c-4605-a8bb-fc13734a34dd.png

[2022-07-08 06:29] mohantym commented on #56709
Hi @zhihuiloke !
Could you try with below Gpu delegate initialization and let us know.
[code]
[Reference ](https://www.tensorflow.org/lite/performance/gpu_advanced#ios_c)

Thank you!

[2022-07-08 06:29] zhihuiloke commented on #56709
Some additional info:
- CMake is compiled with c++17, so .bazelrc is also patched the same way to avoid the `absl::string_view` issue

Some stuff I have tried, but didn't work:
- Adding these at the top of `GeneratedConvolution`
[code]
- Forced minimum iOS version to be 14.0, ensuring it is building for metal 2.3

[2022-07-08 06:32] zhihuiloke commented on #56709
@mohantym this is exactly how we are using the GPU delegate right now. Parts of it are redacted, but in general, the flow is exactly as described.

[2022-07-08 06:44] mohantym commented on #56709
Hi @sachinprasadhs !
Could you please look at this issue.
Thank you!

[2022-07-08 06:57] bkocis commented on #42091
any resolution to these issues?

[2022-07-08 07:26] zhihuiloke commented on #56709
Update: I managed to fix it, so here is one for you guys.

Looking at the newest Metal Shading Language specification, we see that `simdgroup_matrix` is only available from Metal 2.3 and above. I patched `common.mm` `CreateFunction` function to use Metal 2.3 for my use case, and it worked.

I have only resolved the symptom on my side, have yet to know why it is happening for iPhone 13 family. Will

[2022-07-08 07:27] Poiu19 opened #56710 "Greater(nextafter(x), x) returns False"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No res

[2022-07-08 07:58] 123mbcz123 opened #56711 "A error occured when using dense_to_ragged_batch in TFRecordDataset, is't a bug?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

tf 2.9.0

### Custom Code

Yes

### OS Platform and Distribution

Windows 10 21H1

### Mobile device

_No response_

### Python version

3.9.12

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-07-08 08:00] Anbusekar-Scanflow opened #56712 "TensorFlowLiteTaskVision and TensorFlowLiteSwift duplicate symbols for architecture arm64"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

MacOS 12.4

### Mobile device

iPhone 7

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-07-08 08:19] mseth10 commented on #56088
Hi @nitins17 , I verified `pip install tf-nightly` works for python3.8. It installs `tf-nightly-cpu-aws` package and all the verification tests pass.

[2022-07-08 08:42] balvisio commented on #56700
There is no bug. `text_dataset_from_directory` shuffles the samples by default and that is why I would see different samples.

[2022-07-08 08:42] #56700 closed

[2022-07-08 09:32] mohantym commented on #56712
Hi @Anbusekar-Optisol !
Errors point towards duplicate symbols present between TensorFlowLiteVisionSwift and TensorFlowLiteTaskVision. Could you  declare only TensorFlowLiteTaskVision in pod file (new environment and new pod file please)and let us know whether it works.
[Reference.](https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/ios/Podfile)

Thank you!

[2022-07-08 09:37] Anbusekar-Optisol commented on #56712
Hi @mohantym !
Here my requirement is, I have to utilise both TensorFlowLiteTaskVision and TensorFlowLiteVisionSwift, If I give only TensorFlowLiteTaskVision, it works fine. but need to integrate both. while integrating shows error. is there another way to ignore duplicates?.

[2022-07-08 09:38] seboz123 commented on #38158
Is there any resoultion to get tensorflow lite working for batches > 1?
I got the same error when I resize the input tensor

[2022-07-08 10:22] tilakrayal commented on #56680
@Poiu19,
The input shape is `shape=(0,)` which is not able to fetch the data. Could you please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/9fa63ac931b6a3f76652dc2584cef9c5/untitled420.ipynb) and provide the input shape.  Please find the reference [gist](https://colab.research.google.com/gist/tilakrayal/db61f5d4b9cf2bcfe718bb3971f5aafd/untitled422.ipynb) of tf.float

[2022-07-08 10:41] herbiel commented on #49950
can i Tensorflow Decove Wav by 8bit?

[2022-07-08 11:07] Poiu19 commented on #56680
@tilakrayal

The input shape is not `shape=(0,)`. What you have indicated is the output shape, take a look at what is being printed:
[code]
In fact, the input shape is `shape=(1, 56, 56, 1)` and in the test with `dtype=float32`, the output has the same shape as the input, while in the test with `dtype=bfloat16` the output is `shape=(0,)`

[2022-07-08 11:30] elfringham opened #56713 "Numpy 1.23.0 causes unit test failures"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

git HEAD

### Custom Code

No

### OS Platform and Distribution

CentOS 7

### Mobile device

n/a

### Python version

3.8.10

### Bazel version

5.1.1

### GCC/Compiler version

10.2.1

### CUDA/cuDNN version

n/a

### GPU model and memory

n/a

### Current Behaviour?

[code]

### Stand

[2022-07-08 11:38] elfringham commented on #56673
@snadampal Thanks for the patch. Unfortunately I don't currently have any means to run a patch through the full automated CI run. I can do a local run though and will give that a go. However I would suggest that you create the PR anyway. That will at least run it through the ARM_CI workflow.

[2022-07-08 11:44] chunduriv commented on #56696
@KingsleyLiu-NV,

Thank you for opening this issue.  Development of keras moved to separate repository https://github.com/keras-team/keras/issues.

Please post this issue on `keras-team/keras repo`. For more details please refer [here](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999).

[2022-07-08 12:41] vidstige commented on #374
I got the same, but fixed it by installing `tensorflow-gpu` as well (`pip install tensorflow-gpu`)

[2022-07-08 12:48] chunduriv commented on #38642
@ivelin,

[`tflite_runtime 2.9.1`](https://pypi.org/project/tflite-runtime/) is published at Pypi. To know more about this package refer [`Tensorflow Lite runtime`](https://www.tensorflow.org/lite/guide/python).

Please feel free to move this issue to close status. Thank you.

[2022-07-08 13:58] snadampal commented on #56673
@elfringham , here is the PR: https://github.com/tensorflow/tensorflow/pull/56715
Please keep me posted on your test runs.

[2022-07-08 14:38] Flamefire opened #56717 "fault_tolerance_test fails one some systems"
### Issue Type

Bug

### Source

source

### Tensorflow Version

2.7.1

### Custom Code

No

### OS Platform and Distribution

Linux RHEL 7

### Mobile device

_No response_

### Python version

3.9.6

### Bazel version

3.7.2

### GCC/Compiler version

11.2

### CUDA/cuDNN version

11.4.1 / cuDNN 8.2.2.26

### GPU model and memory

8 * Tesla A100

### Current Behaviour?

[code]

### Standalone co

[2022-07-08 14:40] Flamefire commented on #56717
[Build output](https://github.com/tensorflow/tensorflow/files/9072881/tfBuild.log.txt) and [Test log file](https://github.com/tensorflow/tensorflow/files/9072882/tfTest.log.txt) of a test with `--test_env=CUDA_VISIBLE_DEVICES='1,2,3,4'`

See also https://github.com/tensorflow/tensorflow/commit/c08fda5cb7927acb5c20fa031c2d28f80d4a03c5 which disables this test on mac

[2022-07-08 15:53] sushreebarsa commented on #56706
@SalihOsman1 Could you please confirm if this issue has been resolved for you?
Thank you!

[2022-07-08 17:42] snadampal commented on #56673
ARM CI workflow passed for this PR.

[2022-07-08 17:50] penpornk commented on #55226
@PatriceVignola Thank you! Added to the list.

Let's just reuse this one. :)

[2022-07-08 19:03] nour397 opened #56718 "'keras.api._v1.keras.layers' has no attribute 'conv2d' how can I fix this issue please? (I'm trying to change my code from tf1 to tf2, I changed all tf.layers to tf.keras.layers since in tf2 keras is the High level API and I had this error message, how can I fix it?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2022-07-08 19:17] nour397 opened #56719 "Issues when updating the code from tf1 to tf2"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

source

### Tensorflow Version

tf2

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.7.13

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No res

[2022-07-08 23:04] cooperlab commented on #46052
I ran into this problem too and it's really annoying. TensorFlow's own dataset format can't be parsed in graph mode. We need a function analogous to exmple.ParseFromString that accepts non-eager tensors.

[2022-07-09 04:09] jsw-zorro opened #56720 "RuntimeError: tensorflow/lite/kernels/concatenation.cc:158 t->dims->data[d] != t0->dims->data[d] (0 != 1)Node number 60 (CONCATENATION) failed to prepare.Failed to apply the default TensorFlow Lite delegate indexed at 0."
### 1. System information

- OS Platform and Distribution: Ubuntu 18.04.5
- TensorFlow installation: 2.8.0 (pip package or built from source):
- TensorFlow library (version, if pip package or github SHA, if built from source):

### 2. Code

Provide code to help us reproduce your issues using one of the following options:
Model can be accessed through link here: https://drive.google.com/file/d/1ucg

[2022-07-09 04:42] purvang3 commented on #56644
closing the issue as I have solved the problem.Thank you

[2022-07-09 04:42] #56644 closed

[2022-07-09 05:59] kvignesh1420 commented on #56655
@sachinprasadhs I found the reason for the CPU op placement of bool types. It is due to the following code block where bool types are only registered for CPU device placement of the `ScatterNdOp`

https://github.com/tensorflow/tensorflow/blob/769eddaf479c8debead9a59a72617d6ed6f0fe10/tensorflow/core/kernels/scatter_nd_op.cc#L500-L502

However, all the number types are registered with GPU as well:

[2022-07-09 06:08] kvignesh1420 commented on #56655
It would be great if we could find out if `TF_CALL_bool(REGISTER_SCATTER_ND_GPU);` is viable or not 🙂 . Thanks!

[2022-07-09 08:23] GF-Huang commented on #56231
Issue still, no IntelliSense for parameters.

It only show `Dense`, no parameters IntelliSense.

![image](https://user-images.githubusercontent.com/4510984/178097893-6f3c5ffe-0a0c-4700-932a-97508f864b34.png)

[2022-07-09 08:39] #56564 closed

[2022-07-09 09:39] HridoyHazard commented on #46970
having the same issue even after using tf2 models

[2022-07-09 10:40] alkatar21 commented on #56231
@GF-Huang This is the case because tf.keras is not yet resolved properly (resolves to LazyLoader which resulsts in Any) in 2.9.1. There is a commit in nightly (e65b68a) that will probably be in 2.10 that fixes this case.

[2022-07-09 12:08] sushreebarsa commented on #56719
@nour397 Could you please refer to the migration [doc](https://www.tensorflow.org/guide/migrate) to rewrite the code in TF v2.x style and try with the latest TF version? For any further queries please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-k

[2022-07-09 12:39] #43768 closed

[2022-07-09 13:57] bhack commented on #54479
As @LukeWood didn't share any additional code/perf gist but we have merged yesterday the `bincount` XLA kernel in TF I've tried  again to `jit_compile` the Mscoco `MAP` `update` function with `tf-nightly`:
https://github.com/keras-team/keras-cv/blob/master/keras_cv/metrics/coco/mean_average_precision.py#L148-L293

Running `pytest keras_cv/metrics/coco/mean_average_precision_test.py` we have:

[cod

[2022-07-09 14:06] cheshire commented on #54479
Ragged tensor is not supported in XLA, so it might not be feasible now?

On Sat, Jul 9, 2022 at 15:57 bhack ***@***.***> wrote:

[2022-07-09 14:15] bhack commented on #54479
We know this but If you check this is just one test case.

What do you think about the other issues ?

[2022-07-09 17:39] bhack commented on #54479
Some of these  `Dynamic reshape is not implemented` are:

https://github.com/tensorflow/tensorflow/blob/262777e9f9304c7df6b694934af819c820954ef5/tensorflow/compiler/xla/literal.cc#L963-L965

[2022-07-09 18:32] otavio-silva commented on #56661
@gowthamkpr this is not a realistic solution, considering that I use my machine for personal stuff, college and work, just downgrading back to Windows 7 is not a possibility. But thanks for explaining me what exactly is happening, I hope a solution comes eventually.

[2022-07-09 18:49] pangyuteng commented on #39523
Thank you @msokur @Inigo-13 !

--

For those that  couldn't get the above impl to work, I was getting the below error:
"tensorflow/core/kernels/data/generator_dataset_op.cc:108] Error occurred when finalizing GeneratorDataset iterator: FAILED_PRECONDITION: Python interpreter state is not initialized. The process may be terminated."

Error resolved by initializing the sequence generator within the

[2022-07-10 02:04] jhogg11 commented on #56599
Thanks for posting this.  By the way, if the loop is changed from:

`for _ in range(100):`

to

`for i in range(100):`

And then the value of `i` is used as the seed, including adding `random_state=i` to `make_regression`, that should give a fully consistent result every time.  Sorry, I missed that the first time.

When I run it like that, I get averages over 100 loops of:

[code]

So it gives a l

[2022-07-10 06:17] jjl2 opened #56722 "Has a conda-forge pull request been submitted for TF 2.9?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.9

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and me

[2022-07-10 06:19] jjl2 commented on #56722
In another discussion on May 17 (https://github.com/keras-team/keras/issues/15964), I was informed that a bug fix that I need is available in Tensorflow 2.9.  I have been waiting for TF 2.9 to become available in the conda-forge repository.

Visit https://anaconda.org/search?q=tensorflow, and notice that the default Anaconda channel offers TF 2.6, while the cutting-edge conda-forge channel offers

[2022-07-10 06:45] sushreebarsa commented on #56708
@Jiayuli-CU I tried to replicate the issue on colab and didn’t see the reported error. Please find the gist [here ](https://colab.research.google.com/gist/sushreebarsa/ead1c230590d7bf1eab221b051721bb0/56708.ipynb#scrollTo=xL4hoHwKlEL-)for reference and let me know if I'm missing something to reproduce the issue. Thank you!

[2022-07-10 06:47] sushreebarsa commented on #56710
@gadagashwini I was able to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/acbf429424e6957e2d8c7f4958cd0d2e/56710.ipynb). Thank you!

[2022-07-10 08:07] sushreebarsa commented on #26938
@ericyue tf.feature_colmun and tf.estimator apis are deprecated. Could you please move this issue to closed status and file a new request for an equivalent API?
Thank you!

[2022-07-10 10:03] radarhere opened #56723 "__array_interface__ support?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

2.6.0

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-07-10 10:51] DYSIM opened #56724 "raw_rnn equivalent in tensorflow 2.0"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-07-10 12:18] mohantym commented on #56712
Hi @sachinprasadhs !
Could you please look at this issue.
Thank you!

[2022-07-10 12:32] mohantym commented on #56720
Hi @jsw-zorro
Sorry for the late response. This issue does not seem to be replicating in [2.8.2](https://colab.sandbox.google.com/gist/mohantym/1baf7668f9ebf231e064ca1b90241924/git_56720.ipynb),[ 2.9](https://colab.sandbox.google.com/gist/mohantym/2b05938df0f2b9eb4f188426c42dfbfb/git_56720.ipynb#scrollTo=lrFFKjzdExQY) and [nightly](https://colab.sandbox.google.com/gist/mohantym/25399866b69e5e6f65b

[2022-07-10 12:51] mohantym commented on #56717
Hi @Flamefire !
Could you re-test with the below command and let us know .
`bazel test --config=noaws --config=nogcp --config=nohdfs --compilation_mode=opt -c opt --subcommands --verbose_failures --jobs=1 --distinct_host_configuration=false --test_output=errors --build_tests_only --local_test_jobs=1 -- //tensorflow/python/data/experimental/kernel_tests/service:fault_tolerance_test`

Attached gist

[2022-07-10 14:54] tbekolay commented on #52988
I haven't tested performance, but for anyone experiencing the issue in this thread, I can confirm that installing tensorflow from conda-forge, rather than pip, works without having to set `LD_LIBRARY_PATH` or `LD_PRELOAD`, so I would say it's the preferred method of installation for people experiencing this issue (which I believe is anyone using TF 2.7+ from pip).

[2022-07-10 15:32] #56639 closed

[2022-07-10 19:21] roebel commented on #54456
I think I found the source code that is responsible for the issue: cuda supports a number of convolution kernels that in the current version of TensorFlow 2.9.0 are obtained by means of CudnnSupport::GetConvolveRunners here

https://github.com/tensorflow/tensorflow/blob/21368c687cafdf97fac3dd0eefaed710df0068a2/tensorflow/stream_executor/cuda/cuda_dnn.cc#L4557

Which is then used here in autotune f

[2022-07-10 21:04] desuwa opened #56725 "'No toolchains found' when building libtensorflow on FreeBSD 13"
Trying to build libtensorflow on FreeBSD 13 I was getting this toolchain error:
[code]
Looks like something happens to the execution platform here:
https://github.com/tensorflow/tensorflow/blob/9584c52ecfbbc33b3be48903cdadd41b4a2bb083/third_party/remote_config/remote_platform_configure.bzl#L3-L12
I'm not sure exactly how this all works, but adding a branch for freebsd seems to have fixed the issue

[2022-07-11 02:07] baoachun commented on #56697
I just found that changing the `mkl` of the bazel compilation option to `mkl_threadpool` and turning on `-O3` optimization has greatly improved the performance.

[2022-07-11 02:19] Jiayuli-CU commented on #56708
@sushreebarsa Your code stops before converter.build() because certain packages are missing. You need to install TensorRT first. https://docs.nvidia.com/deeplearning/tensorrt/install-guide/index.html

[2022-07-11 02:37] TylerADavis commented on #56242
@bhack I'm experiencing what I believe to be a related issue when I try to train a ResNetRS152 model with TF 2.9 (this model was only added to tf.keras.applications in TF 2.9). I also tried running on tf-nightly and Keras-nightly just now, and besides the log messages getting more helpful, I did not see any change versus TF 2.9. Is there a particular issue on the Keras repo where I should chime in

[2022-07-11 04:23] tilakrayal commented on #56529
@GChaitanya2001,
I was trying to execute the provided and found a different error. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/21ca8f469acb736ef099e98d7c174cb8/untitled424.ipynb) and share the dependencies. Thank you!

[2022-07-11 04:25] tilakrayal commented on #56657
@varungupta31,
Without the required code, it would be difficult for us to debug the issue. In order to expedite the trouble-shooting process, could you please provide a complete code and the dependencies. Thank you!

[2022-07-11 04:51] GChaitanya2001 commented on #56529
Hi @tilakrayal,
Please create folder structure, as mentioned below,
[code]
Run the script inside **tf_exp** folder, it will create relevant raw dumps in the respective folders. Change the './AMD/ans.raw' to './INTEL/ans.raw' inside test.py while using INTEL CPU. You can change the relevant paths accordingly.

Thank you!

[2022-07-11 05:05] mohantym commented on #56698
Hi @ViktorKhLoopMe !
Sorry for the late response. Could you share the link to gist to your model file.
Thank you!

[2022-07-11 05:48] baoachun commented on #56697
In addition, after mkl is turned on, new `Const` nodes will be created through the `GetDummyMklTensorNode` method of `mkl_layout_pass,` and these nodes are particularly time-consuming in inference, resulting in slower performance after mkl is turned on. Is there any way to remove the `PartitionedCall` operator?

[2022-07-11 05:53] tilakrayal commented on #56711
@123mbcz123,
To expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.
 Thank you!

[2022-07-11 06:54] gadagashwini commented on #56678
Hi @Zhaojun-Liu, Make sure you have `numpy >= 1.20` is installed.Thank you!

[2022-07-11 06:59] Smiril commented on #34762
same error on macOS : 12.+ TensorFlow : 2.9.2 tensorboard : 2.9.1 python : 3.9

`Traceback (most recent call last):
  File "/Users/Smiril/Documents/deep/SimSwap/m1_tf_test_one_image.py", line 12, in <module>
    import tensorflow.contrib.eager as tfe
  File "/Users/Smiril/opt/miniconda3/envs/tensorflow/lib/python3.9/site-packages/tensorflow/contrib/__init__.py", line 38, in <module>
    from tenso

[2022-07-11 07:14] 123mbcz123 commented on #56711
@tilakrayal
I have organized my datasets and codes,and posted it to colab. Could you please have a look at it?  The colab link shows below.
https://colab.research.google.com/drive/1upagbX5ejvr0J_KTrWa0Q4ccJORZsAN-?usp=sharing

[2022-07-11 07:24] Anbusekar-Optisol commented on #56712
Hi @mohantym , @sachinprasadhs !
I need to access TensorTaskVision for [object_detection](https://www.tensorflow.org/lite/inference_with_metadata/task_library/object_detector), while integrating both TensorFlowLiteC ans TensorFlowTaskVision it shows above error, is there another way to access  [object_detection](https://www.tensorflow.org/lite/inference_with_metadata/task_library/object_detector)

[2022-07-11 07:29] Zhaojun-Liu commented on #56678
Hi @gadagashwini
![image](https://user-images.githubusercontent.com/103498042/178211298-0c16e571-59d5-47d9-bcd2-91a47f96ae21.png)

[2022-07-11 07:48] #56565 closed

[2022-07-11 08:48] #56559 closed

[2022-07-11 09:36] ChicchiPhD opened #56727 "RuntimeError: tensorflow/lite/kernels/read_variable.cc:74 variable_tensor->type != output->type (INT8 != FLOAT32)Node number 10 (READ_VARIABLE) failed to invoke."
Hello TF Lite Cummunity!
I'm doing tests with TF Lite converter on a machine, that, as far as I know, is equipped as follow:
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- TensorFlow installation (pip package or built from source): installed via pip
- TensorFlow library (version, if pip package or github SHA, i

[2022-07-11 10:09] BhaskarsarmaP opened #56729 "Difference in accuracy between EDGE TFLite Model and Quant TFLite Model."
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

2.4.1

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

3.7.2

### GCC/Compiler version

8.3.0

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respon

[2022-07-11 10:42] mohantym commented on #51810
Hi @tanveer6715 !
Could you provide the link to TFLite model file/ code snippet to originial model file to replicate the issue.
Thank you!

[2022-07-11 10:56] tilakrayal commented on #56725
@desuwa,
Could you try `bazel clean --expunge` followed by `bazel sync`. Also please provide the complete error log which helps to debug the issue. Thank you!

[2022-07-11 11:11] mohantym commented on #56727
Hi @ChicchiPhD !

Have you provided a representative dataset and used
`converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]
`
during integer quantization as per this [document. ](https://www.tensorflow.org/lite/performance/post_training_integer_quant).

Please provide complete code as colab gist (model snippet + quantization + inference) to replicate the issue.

Thank you!

[2022-07-11 11:19] gadagashwini commented on #56722
Hi @jjl2, Currently conda-forge has latest stable Tensorflow v2.8.1. As @ngam mentioned [tensorflow v2.9.1 ](https://github.com/conda-forge/tensorflow-feedstock/pull/245) pull request has been raised.

You can install Tensorflow v2.9.1 using pip
`pip install tensorflow==2.9.1`.
Thank you!

[2022-07-11 11:26] mohantym commented on #21526
Hi @suharshs !
I think Quantized Div error has been taken care of in the 2.8 version now. Attached [gist](https://colab.sandbox.google.com/gist/mohantym/8fe3c5c64665e101cc645cb27beda8c1/43207-tf-nightly.ipynb#scrollTo=cUwt02r0TajZ) and relevant thread [1](https://github.com/tensorflow/tensorflow/issues/48548) and [2](https://github.com/tensorflow/tensorflow/issues/43207)  for reference.
Thank you!

[2022-07-11 11:28] desuwa commented on #56725
<details>
<summary>Full log after bazel clean --expunge and bazel sync</summary>

[code]

</details>

[2022-07-11 11:59] madarax64 commented on #52988
I can confirm this too.

[2022-07-11 13:48] #49469 closed

[2022-07-11 13:48] #56587 closed

[2022-07-11 13:53] mihaimaruseac commented on #56586
You can check [the history for the file](https://github.com/tensorflow/tensorflow/commits/r2.9/tensorflow/core/kernels/cwise_op_sqrt.cc). Most likely you will be interested in 7c88fd1dc7ecf720739c4b39a62c81de32071fc3 which is [available from TF 2.5](https://github.com/tensorflow/tensorflow/commit/7c88fd1dc7ecf720739c4b39a62c81de32071fc3)

[2022-07-11 14:50] tilakrayal commented on #56680
@sachinprasadhs,
I was able to get the `dtype:bfloat16` on tf-nightly. But I was not able to fetch the output data. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/4d3d1b8c9bbb8fc23e74b7dd4f4079f6/56680.ipynb).

[2022-07-11 15:19] DYSIM commented on #56724
@tilakrayal, I have read the documentation before, thanks for linking it.

May I know what is the equivalent of raw_rnn in TF2.0? Or whether it is possible to get "more control over when to start and finish reading the sequence, and what to emit for the output" in TF2.0?

Thank you.

[2022-07-11 15:41] GChaitanya2001 commented on #56586
Hi @mihaimaruseac,
Thank you for the response! But I am mostly looking around CPU based Op implementations, especially sqrt/rsqrt. I am trying to understand what instructions are used by tensorflow in the backend to perform those ops, as I wanted to build TF from source with proper compiler options to avoid mismatches between AMD and INTEL for floating point ops.  (#56529)
Thank you!

[2022-07-11 15:48] #46929 closed

[2022-07-11 18:08] bhavani-subramanian opened #56731 "TF fails to build on CPU when compiled with "-march=skylake-avx512" flag"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9.12

### Bazel version

5.1.1

### GCC/Compiler version

9.3.0

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respo

[2022-07-11 18:10] bhavani-subramanian commented on #56731
Tagging @cantonios and @penpornk to take a look at this issue.

[2022-07-11 19:07] wenscarl commented on #55610
PR merged. Closing.

[2022-07-11 19:07] #55610 closed

[2022-07-11 20:22] hrbigelow commented on #56567
I can confirm this is the case, not just for `tf.scatter_nd` but for `tf.tensor_scatter_nd_{add,max,min,sub,update}`.

However, the bug only occurs when `params` is type int32.  If `indices` (and `shape`) are type int32, but `params` is either `int64`, `float32`, `float64`, it works:

[code]

I looked at the code, and cannot tell what could be the problem.  This is the only line in which the kerne

[2022-07-11 20:43] gcuder commented on #56624
@gowthamkpr any updates so far?

[2022-07-11 21:09] hrbigelow commented on #56567
My vote would be to change the CPU behavior to be like the GPU behavior, with a possible non-default fallback to the old behavior.  It is hard to imagine users who actually rely on the CPU behavior, because then they would not be able to run their model on GPU at all without accepting the different behavior.  So, although technically this is a change in behavior, my guess is there will be almost n

[2022-07-11 21:34] cantonios commented on #56731
@bhavani-subramanian can you try hacking this at the top of `tensorflow/core/kernels/eigen_spatial_convolutions.h`, before including Eigen's `Tensor` header?
[code]

I *think* this should solve it temporarily to unblock you, but I'm having trouble actually building this on our end.

[2022-07-11 22:07] Bahar-BM opened #56732 "openCL delegate generates '0' and 'inf' values with reduce_sum"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.8, tf 2.9

### Custom Code

No

### OS Platform and Distribution

Android

### Mobile device

tested on Snapdragon 888, 865

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU m

[2022-07-11 22:21] Arka161 commented on #43497
Commenting on this as this looks like a needed feature which would help working with sparse tensors without having to convert them back to a dense format.

[2022-07-11 23:37] sachinprasadhs commented on #56709
Could you try with Minimum IOS version as 10 and let us know if that helps.
Tensorflow's implementation with c++ 17 is very recent and that could be the problem as well.
Let us know your findings as well. Thanks!

[2022-07-11 23:59] sachinprasadhs commented on #50705
Sorry for the confusion, Could you try replacing `tf.saved_model.save()` with `model.save()` since it is the suggested way from Tensorflow 2.5 version and let us know if you find any satisfactory improvement. Thanks!

[2022-07-12 00:45] mohantym commented on #56727
Hi @ChicchiPhD !
It is replicating in [2.8](https://colab.sandbox.google.com/gist/mohantym/109fdeabd956c96b518aac187889d768/reproduceerror.ipynb#scrollTo=0cpgc8NilLLP),[ 2.9 ](https://colab.sandbox.google.com/gist/mohantym/2295c645e057fbf7600273a24b2291a7/reproduceerror.ipynb#scrollTo=LSB_hp2zfZ3n) but seems to be fixed in the [nightly ](https://colab.sandbox.google.com/gist/mohantym/324735f1d30c6

[2022-07-12 00:57] KingsleyLiu-NV commented on #56676
@gowthamkpr Any progress here?

[2022-07-12 00:57] KingsleyLiu-NV commented on #56638
@sachinprasadhs Any progress here?

[2022-07-12 00:59] impjdi commented on #56533
The error message tells you what's wrong.  Expected batch dimension of 768
but found 1.  The GPU delegate has some restrictions with the batch
dimensions and requires that dimension to be consistent throughout the
network.  In your case, you omitted the batch dimension, so your input is
768 instead of 1x768 which confuses the delegate.  I suggest you
re-architect the model to have an explicit batc

[2022-07-12 01:27] zhihuiloke commented on #56709
I don't think setting the Minimum iOS versioned to 10.0 worked. It is still having the same errors as above.

[2022-07-12 02:09] agramesh1 commented on #56731
@cantonios thank for the quick response. We tried the change, it looks like it is still failing with ambiguous template instantiation error.
[code]

[2022-07-12 03:13] elsallam-myfiziq opened #56733 "flatc error when building from TF2.9.1 from source using cmake + ninja Android studio native library"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 18

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

CMAKE > 3.18  and  ninja 1.8.2

### CUDA/cuDNN version

_No response_

[2022-07-12 03:18] panhu opened #56734 "How to flat the model about TFLite and remove the "while" loop?"
### 1. System information

- Linux:
- TensorFlow 2.9:

### 2. Code

The code of converter:

modelparh = r"model.h5"
model = tf.keras.models.load_model(modelparh, custom_objects = {'...'})

def representative_dataset_gen():
    for audio in x_train[0:500,:]:
        yield [audio.reshape(-1,x_train.shape[1],x_train.shape[2]).astype("float32")]

converter = TFLiteConverter.from_keras_model(model)

co

[2022-07-12 03:29] elsallam-myfiziq opened #56735 "CMAKE has no key to disable the build of python wrapper when building TF lite from source using Xcode or Android Studio"
<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Source

source

### Tensorflow Version

TF2.9

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 18 or MacOS

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### G

[2022-07-12 04:01] tilakrayal commented on #56725
@desuwa,
Could you please try to install with a compatible version as mentioned below and check if you are facing the same error.

Version | Python version | Compiler | Build tools
-- | -- | -- | --
tensorflow-2.9.0 | 3.7-3.10 | Clang from xcode 10.14 | Bazel 5.0.0
tensorflow-2.8.0 | 3.7-3.10 | Clang from xcode 10.14 | Bazel 4.2.1
tensorflow-2.7.0 | 3.7-3.9 | Clang from xcode 10.11 | Bazel 3.7.2

[2022-07-12 05:06] zhihuiloke commented on #56709
Also, compiling tflite 2.9.1 with cpp14 didn't help either.

[2022-07-12 05:45] mohantym commented on #56734
Hi @panhu!

Contrib has been removed in 2.x version. Could you just remove "Contrib" from tf.contrib.lite and let us know the difference.
Please post a minimal stand alone code for the model to replicate the issue.

Thank you!

[2022-07-12 06:20] panhu commented on #56734
Ok,The previous code was sent incorrectly，this is my simple code of convert:

modelparh = r"model.h5"
model = tf.keras.models.load_model(modelparh, custom_objects = {'...'})

converter = tf.lite.TFLiteConverter.from_keras_model(model)

converter.optimizations = [tf.lite.Optimize.DEFAULT]

converter.target_spec.supported_ops=[tf.lite.OpsSet.TFLITE_BUILTINS,tf.lite.OpsSet.SELECT_TF_OPS,tf.lite.OpsSe

[2022-07-12 06:48] #22129 closed

[2022-07-12 06:50] GChaitanya2001 commented on #56586
Is there a way to build TF **without** using basic CPU optimizations like SSE, SSE2 etc on x86-64 CPUs? Looks like using -march=x86-64 enables SSE, SSE2, SSE3 by default which might be resulting in the mismatch. Please let me know any build options which does not allow SSE and other CPU optimizations.

Thank you!

[2022-07-12 07:17] GongYanfu commented on #15143
have you solved this problem? how do you solve it ?

[2022-07-12 07:54] desuwa commented on #56725
I'm using Python 3.9.13, this should be fine , right?

[2022-07-12 09:48] #56589 closed

[2022-07-12 10:16] kshitij12345 commented on #40515
Still the same on 2.8

[2022-07-12 10:19] ChicchiPhD commented on #56727
Hi @mohantym !
I confirm that with nightly version know it works!

Thank you so much for your help!

[2022-07-12 10:48] #56577 closed

[2022-07-12 10:48] #56513 closed

[2022-07-12 11:52] enor2017 commented on #56687
@sachinprasadhs Please find the [gist here](https://colab.research.google.com/drive/1HmbKur0CX3oC40W5IyQN-b1JGwdF9MMg?usp=sharing) using nightly version against the master branch, the tests fail as before.

I noticed the last commit of this test file is on 1 Nov 2021, so perhaps it is not caused by a version mismatch?

[2022-07-12 12:30] barvins opened #56736 "DepthwiseConv2D does not support bfloat16"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

cuda 11.7, cudnn 8.4

### GPU model and memory

NVIDIA

[2022-07-12 12:37] FarhanAhmad4473 commented on #23713
Thank you sushreebarsa for your reply.

I was working on this in 2018. I am currently no longer working on that
project.

On Tue, Jul 12, 2022 at 2:49 PM google-ml-butler[bot] <
***@***.***> wrote:

[2022-07-12 13:13] mohantym commented on #56727
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-07-12 13:37] mohantym commented on #56732
Hi @Bahar-BM !
Sorry for the late response.  Could you share complete code including TFlite conversion and inference to replicate the issue.
Thank you!

[2022-07-12 13:52] eeDigitalSeal opened #56737 "Bug in `tf.autodiff.ForwardAccumulator` for `tf.signal.mdct`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-07-12 15:00] JvKgithub opened #56739 "Int-8 converter scales static model parameters incorrectly"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.9.1 (tensorflow-estimator 2.9.0)

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

https://colab

[2022-07-12 15:09] lgeiger commented on #54299
@aaudiber were you able to reproduce this issue on your end?
I am still seeing the same behaviour in TF 2.9.1 which makes proper shuffling of datasets that do not fit into memory pretty much impossible together with Keras `model.fit`.
Let me know if I can provide you with more information about this problem.

[2022-07-12 15:23] dniku opened #56740 "_ragged_tensor_to_tensor_grad() fails in eager mode under some circumstances"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.6

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-07-12 15:27] aaudiber commented on #54299
@lgeiger Is it possible to reproduce the issue without `model.fit` by iterating through the dataset directly? That could help narrow down whether the issue is in `shuffle` itself as opposed to the way that the dataset is used by `model.fit`.

Also, when measuring memory usage make sure you aren't counting the operating system's buffer cache. You can free the buffer cache before measuring memory wi

[2022-07-12 16:33] abhaskumarsinha opened #56742 "Different TensorFlow Keras Code with same logic, tend to show very different behaviour."
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

v2.9.0-18-gd8ce9f9c301 2.9.1

### Custom Code

No

### OS Platform and Distribution

Windows 11 64 Bit

### Mobile device

_No response_

### Python version

3.9.5

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11

### GPU model an

[2022-07-12 17:06] lgeiger commented on #54299
@aaudiber To check whether this could somehow be a problem with Python's GC not cleaning up `data_iterator`, I also tested
[code]
and
[code]
but both snippets show the same increasing memory usage as the original reproduction (tested on `f-nightly==2.10.0.dev20220711`).

[2022-07-12 17:34] jiujiuxia commented on #38101
@MachineJeff can you share how to deal with it?
thanks!!!

[2022-07-12 17:53] mihaimaruseac commented on #56586
You need to pass these flags to the compiler itself. Bazel has `--cxxopts`, `--copts`, etc., but you'll need to read your compiler's documentation to find out what flags to send to it to not do these optimizations.

[2022-07-12 17:56] mlplyler commented on #52986
Apologies if this isn't a good place.

Is there a recipe for handling training that depends on the global batch instead of the single-GPU-batch? This issue discusses the differences how BatchNormalization and SyncBatchNormalization are not equivalent in the multi-GPU setting. In a similar vein, if I have a custom loss that depends on the global batch, is it possible to get it to work with tf.distr

[2022-07-12 19:18] mihaimaruseac commented on #56088
So, there is automatic rollback for Google internal tests from projects that are clients of TF. If a test there breaks, the changelist gets rolled back and that results in a rollback commit on GitHub. But, this is only on internal tests, only on x64_64 since that's what we build.

For other cases, I guess we could make a GitHub Action that would run CI from time to time or watch CI results and cre

[2022-07-12 19:37] OleksandrGrument commented on #56467
Hi Impjdi, How do you think, is it possible to add? I read that in regular TF exist a paramets like - per_process_gpu_memory_fraction

[code]

[2022-07-12 19:42] pharmpy-dev-123 opened #56743 "Building `tflite` for `manylinux`"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

NA

### Python version

3.8, 3.9, 3.10

### Bazel version

5.0.0

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_N

[2022-07-12 20:48] #55583 closed

[2022-07-12 21:27] lgeiger commented on #54299
Thanks for the minimal example and trying to reproduce the issue on your end!

I ran the above code and recorded memory usage with a [simple memory profiler](https://github.com/pythonprofilers/memory_profiler). I am running on a 48 core GCP node with 256 GB of memory and a single NVIDIA T4 attached. Softwarewise I just tried one of the default ML images `c1-deeplearning-tf-2-9-cu113-v20220701-debi

[2022-07-12 21:35] agramesh1 commented on #56731
@cantonios the https://github.com/tensorflow/tensorflow/commit/a92b70238d9defce6f977fe104e1e8d3c87b89f4 fixes the issue, TF builds with AVX512. Thanks.

[2022-07-12 21:53] pranavladkat commented on #56692
Hi, any update on this issue?

[2022-07-12 22:18] bhack commented on #55442
/cc @learning-to-play This Is the python side.

[2022-07-12 22:42] ddgonzal3 commented on #56685
MKL FFT could be another alternative if pocketFFT is not possible.