[2016-02-25 08:46] MisayaZ opened #1282 "Get an error when building the Op library"
When I Build the Op library, I got the error :1234:
In file included from /usr/local/lib/python2.7/dist-packages/tensorflow/include/tensorflow/core/framework/op.h:22:0,
                 from zero_out.cc:1:
/usr/local/lib/python2.7/dist-packages/tensorflow/include/tensorflow/core/framework/op_def.pb.h:12:2: error: #error This file was generated by a newer version of protoc which is
 #error This fil

[2016-02-25 10:48] Lazare commented on #1203
here's a few more information

I use
cudnn : 4.0.7 (can't find the 4.0.4 that seems to be the one that's officialy supported)
cuda : 7.5.18
drivers : 352.79

maybe that will help find the bug
just to be clear because the title doesn't reflect this :
**the nvidia driver crash. you can't use the cards anymore until you physicaly reboot the server.
if you try a soft reboot it it will crash the system

[2016-02-25 11:57] bhack commented on #23
In the meantime, if anyone wants to experiment there is a initial PR for Spark by @amplab at https://github.com/amplab/SparkNet/pull/91

[2016-02-25 12:34] paulgnz commented on #1274
Thanks! Creating bottleneck with updated retrain.py
[6a63c2d](https://github.com/dgolden1/tensorflow/commit/6a63c2df153b6717799315bcc9a304bef5b2296d)

[2016-02-25 13:06] asimjalis commented on #135
@arustagi’s solution worked for me. This is with TensorFlow version `tensorflow-0.7.1`.

[2016-02-25 14:09] dgolden1 commented on #1274
I'll make a PR shortly, once I figure out the contributing agreement. Feel free to cherry pick it you can't wait!

https://github.com/dgolden1/tensorflow/commit/6a63c2df153b6717799315bcc9a304bef5b2296d

[2016-02-25 14:14] yash14123 commented on #1246
I would like to take this up @cesarsalgado

[2016-02-25 14:15] yash14123 commented on #1280
@aidangomez I would like to help you out! :)

[2016-02-25 14:18] yash14123 commented on #1182
Are the docs fixed? I can take this one to begin with.

[2016-02-25 15:21] gotope commented on #590
I have the same problem, @sukruozan @elzurdo
do you run it like？   virtualenv --system-site-packages **--python=python2.7 ** ~/tensorflow

[2016-02-25 16:11] caisq opened #1283 "DEFINE_bool alias not working on Mac Python test-on-install"
For bugs/issues, please fill in the following.  The more information you
provide, the more likely we can help you.

### Environment info
Operating System: Mac

If installed from binary pip package, provide: This error occurs in Mac Python (2 and 3) test-on-install

1. Which pip package you installed.
2. The output from python -c "import tensorflow; print(tensorflow.__version__)".

If installed fro

[2016-02-25 16:12] caisq commented on #1283
@vrv This is related to CL 115364038

[2016-02-25 16:13] cesarsalgado commented on #1246
@yash14123 ok, thanks!

[2016-02-25 16:15] caisq commented on #243
Closed by https://github.com/tensorflow/tensorflow/pull/1255

[2016-02-25 16:34] caisq commented on #1283
On closer examination, this seems to be a problem related to "pip install" on Mac.

[2016-02-25 16:44] vincentvanhoucke opened #1284 "Clarify Udacity assignment #2"
- expand on 'hiddent'.
- Point to nn.relu:
https://www.tensorflow.org/versions/r0.7/api_docs/python/nn.html#relu

[2016-02-25 16:47] vrv commented on #1281
We would strongly suggest upgrading to 0.7.1 (sync to the 0.7.1 tag if needed, or HEAD if you are daring). tensorboard had a few bugs in 0.6.0 which should mostly be fixed now.

[2016-02-25 16:47] andyyuan78 commented on #1262
envy@ub1404:~/os_pri/github$
envy@ub1404:~/os_pri/github$ pip show protobuf
---
Name: protobuf
Version: 2.6.1
Location: /home/envy/.local/lib/python2.7/site-packages
Requires: setuptools
envy@ub1404:~/os_pri/github$ pip show tensorflow
---
Name: tensorflow
Version: 0.7.1
Location: /home/envy/.local/lib/python2.7/site-packages
Requires: six, protobuf, wheel, numpy
envy@ub1404:~/os_pri/github$

i go

[2016-02-25 17:21] andyyuan78 opened #1285 "install issue! --No module named core.framework.graph_pb2"
I build with the source code.
envy@ub1404:~/os_pri/github/tensorflow$ git status
On branch master
Your branch is up-to-date with 'origin/master'.

envy@ub1404:~/os_pri/github$ sudo pip install /tmp/tensorflow_pkg/tensorflow-0.7.1-cp27-none-linux_x86_64.whl
Unpacking /tmp/tensorflow_pkg/tensorflow-0.7.1-cp27-none-linux_x86_64.whl
Requirement already satisfied (use --upgrade to upgrade): six>=1.10.0

[2016-02-25 17:27] sukruozan commented on #590
Yes, and after that I used pip2.7 to install the corresponding wheel file. I worked just fine for me...

[2016-02-25 17:35] aidangomez commented on #1280
@yash14123 Awesome! We'll see what Google has to say about any already present implementations.

[2016-02-25 17:59] alquraishi opened #1286 "Make RNN cells add bias to the bias variable collection"
Currently helper layers like fully_connected add their bias variables to the 'bias' collection, which is a useful convenience. The RNN cell code doesn't do that, and it would be nice if it did for consistency. Needless to say the same is true for the main weights and the 'weights' collection.

[2016-02-25 18:03] yash14123 commented on #1286
I am just confirming. The way they are added here right?
https://github.com/tensorflow/tensorflow/blob/39b332ba07db732ff8e0a07459e74995b92aaa83/tensorflow/contrib/layers/python/layers/layers_test.py

[2016-02-25 18:05] cesarsalgado commented on #367
This new paper may be of interest: [Differentiation of the Cholesky decomposition](http://arxiv.org/abs/1602.07527)

[2016-02-25 18:09] McMDA commented on #1257
Hi Vijay,

Thanks for the tips.

I'm still getting the same error. Do I need to run these commands from a
particular directory?

Don

On Thu, Feb 25, 2016 at 2:05 AM, Vijay Vasudevan <notifications@github.com>
wrote:

[2016-02-25 18:30] yash14123 commented on #1285
[](http://stackoverflow.com/questions/33625824/importerror-no-module-named-core-framework-graph-pb2)
Is this of any help?

[2016-02-25 18:31] yash14123 commented on #1285
http://stackoverflow.com/questions/33625824/importerror-no-module-named-core-framework-graph-pb2
Is this of any help?

[2016-02-25 18:53] alquraishi commented on #1286
The way they're added [here](https://github.com/tensorflow/tensorflow/blob/39b332ba07db732ff8e0a07459e74995b92aaa83/tensorflow/contrib/layers/python/layers/layers.py#L111).

[2016-02-25 18:56] dgolden1 opened #1287 "Unable to visualize Inception v3 graph in TensorBoard with TensorFlow 0.7.1"
### Summary
Attempting to visualize the Inception v3 graph with TensorBoard results in an empty graph (after several minutes of loading).

*Update: an earlier version of this issue indicated that the progress bar hung forever, but apparently, I just didn't wait long enough.*

### Environment info
Operating System: OS X 10.11.3, Chrome 48.0.2564.116, Anaconda 1.2.2

If installed from binary pip pac

[2016-02-25 18:56] McMDA commented on #1257
Weird, I tried it again and I have it launch now. Thank you.

On Thu, Feb 25, 2016 at 1:09 PM, Donald McMenemy <donald.mcmenemy@uconn.edu>
wrote:

[2016-02-25 19:01] dgolden1 commented on #1287
Maybe related to #716

[2016-02-25 19:10] McMDA commented on #1257
We're good now. It's curious. Now I have to use the full path to the
tensorboard.py instead of simply the tensorboard --logdir=/stuff

On Thu, Feb 25, 2016 at 1:56 PM, Donald McMenemy <donald.mcmenemy@uconn.edu>
wrote:

[2016-02-25 19:11] vrv commented on #1257
Most likely you have a stale tensorboard.py in your /usr/local/bin dir (or some other bin path)

[2016-02-25 19:11] #1257 closed

[2016-02-25 19:12] marekpolewczyk commented on #20
I installed version tensorflow-0.7.1 and CUDA 7.5 and get the message "ImportError: libcudart.so.7.5: cannot open shared object file: No such file or directory". Environment variables are set properly

[2016-02-25 19:51] yash14123 commented on #1286
Would work on it from tomorrow. :)

[2016-02-25 21:12] kbrems commented on #1052
$./configure
Please specify the location of python. [Default is /usr/bin/python]:
Do you wish to build TensorFlow with GPU support? [y/N] y
GPU support will be enabled for TensorFlow
Please specify the Cuda SDK version you want to use, e.g. 7.0. [Leave empty to use system default]:

[2016-02-25 21:13] vrv commented on #1052
@kbrems: that says 'e.g.,', which means 'for example', not the default.

[2016-02-25 21:15] kbrems commented on #1052
I guess it does not explicitly say Cuda SDK 7.0 IS the default, but that is what the text implies and what many people who run it are assuming, which it why they run into the issue.

[2016-02-25 21:35] kcgthb commented on #1069
Any update on this? The protobuf git submodule seems to have been removed sometime before v0.7.1 was tagged, but the new external repo doesn't appaear to be there yet.

Fresh pull:
[code]

What's the current way of compiling Tensorflow from source?

[2016-02-25 21:38] vrv commented on #1052
I disagree that 'e.g.' means 'default is', but we can certainly change that to be 7.5 :)

I can also reproduce the problem above, it's a dumb error, will fix.

[2016-02-25 21:56] davidzchen commented on #1069
@kcgthb - I don't think the protobuf Git submodule has been removed yet. Does running `git submodule update --init` work for you?

In any case, since my patch to protobuf has been merged (see google/protobuf#1233), I have just opened a PR to switch to an external repository in tensorflow (see #1289).

[2016-02-25 21:57] kcgthb commented on #1069
Ah right, was missing `--recursive` for the inital clone, sorry for the noise.

[2016-02-25 22:00] kbrems commented on #1270
The documentation is actually not correct. You have to add the line
#include "tensorflow/core/framework/op_kernel.h"
to your zero_op.cc in order for it to build (this line was in the original 0.6 release user operator tutorial).
However including this line will not work as stated if you try to use the binary installation, as this file includes "third_party/eigen3/unsupported/Eigen/CXX11/Tensor" wh

[2016-02-25 22:19] evanthebouncy commented on #214
so what's the verdict? I am using the python API now, should I do it in python?

i.e. is beam-search even possible in the graph ops, if it's not possible then clearly there's no option, but if it is possible is the issue of being inefficient or more difficult to implement than its worth?

[2016-02-25 22:29] vrv commented on #1052
Fixed in 97f6b6fb66cd8e52af4750bd183dfc555d08ef4d

[2016-02-25 22:47] MikalaiDrabovich opened #1291 "Messy graph edges"
### Steps to reproduce
1. python tensorflow/examples/tutorials/mnist/mnist_with_summaries.py
2. python tensorflow/tensorboard/tensorboard.py --logdir=/tmp/mnist_logs
3. Expand 'xent' node: edge from 'y-input' to 'mul' ops has an S-like shape instead of a more appropriate  C-like.
   See the image below:

![screen shot 2016-02-25 at 2 37 18 pm](https://cloud.githubusercontent.com/assets/953399/1333

[2016-02-25 22:59] cinjon commented on #214
@evanthebouncy, see #654

[2016-02-25 23:14] FiniteElementries commented on #890
tried Grzego's approach. Got a new error though...

`   import tensorflow as tf
  File "/usr/local/lib/python2.7/site-packages/tensorflow/__init__.py", line 23, in <module>
    from tensorflow.python import *
  File "/usr/local/lib/python2.7/site-packages/tensorflow/python/__init__.py", line 69, in <module>
    from tensorflow.python.training import training as train
  File "/usr/local/lib/python2

[2016-02-25 23:31] FiniteElementries commented on #890
ended up creating a new virtualenv and now it's working. noticed a new protobuf was installed
'Successfully installed protobuf-3.0.0b2 tensorflow-0.7.1'

[2016-02-26 00:36] nryant opened #1292 "RMSPropOptimizer incompatible with embedding layers."
### Description
``RMSPropOptimizer`` does not work with models utilizing embedding layers, which appears to be a consequence of it not implementing ``_apply_sparse``. The other optimizers all implement ``_apply_sparse``, so I assume this is an oversight.

### Environment info
Operating System: Ubuntu 14.04 LTS
Installed from source with hash: 03bff43060229357cbe2cc1659e7d129c2799b06

### Steps to

[2016-02-26 01:15] istaslis opened #1293 "Gradient for tf.diag"
tf.diag doesn't support the gradient (as far as I can see here https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_grad.py#L161)
Is it difficult to add support for that?
Thank you
Some simple example:
[code]

[2016-02-26 02:21] pragmascript commented on #469
i have a similar issue compiling current master with bazel 2 compute capability 3.0 and cuda 7.5 :
[code]

[2016-02-26 02:22] vrv commented on #469
Yep, the build is broken at the moment -- we have a fix we're trying to push through.

[2016-02-26 02:31] bernardoct commented on #1142
@vrv The wheel 0.7.1 worked for me on Ubuntu 14.04 x86_64 with Python 2.7.6. Thanks!

[2016-02-26 02:50] benoitsteiner commented on #941
When you try again, can you make sure that you create the VM with a lot of memory? gcc may simply have been running out of memory.

[2016-02-26 03:34] ankitgyawali commented on #1161
For anyone else who is running into the same issue, I was also having similar problems when trying to import tensorflow on notebook via jupyter. The modules were installed using conda. After spending two days on it without any success (kept getting the same, no module any_pb2/contrib), it was obvious it was a notebook problem and not tensorflow related since I could import tensorflow from python s

[2016-02-26 03:38] vincentvanhoucke commented on #917
I have just committed a change to `nn.moments()` which allows you to decouple the collection of the sufficient statistics `nn.sufficient_statistics()` from the computation of the means and variances `nn.normalize_moments()`. This allows you to build compact statistics at each time step, aggregate them by summing them whichever way you want, and normalize them afterwards. I hope this helps.

[2016-02-26 03:40] andyyuan78 commented on #1285
I had tried, it doesn;t not works,

[2016-02-26 03:58] vrv commented on #1285
The error message should be pretty helpful, I think.

[2016-02-26 06:29] wentaozhu commented on #618
And there is no document or api on tf.nn.rnncell

[2016-02-26 07:03] lfwin commented on #1270
mark.
Also have the same question!

[2016-02-26 08:16] MisayaZ opened #1295 "miss file after install tensorflow"
After installing tensorflow, I found only one tensorflow folder in the path tensorflow/inlcude. In fact, it shoud consist of many other folders such as third_party, google, Eigen and so on. I don't known the reason why I could not find these folders. The way which I used to install tensorflow is "sudo pip install --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.7.1-cp27-n

[2016-02-26 13:33] jyegerlehner opened #1297 "Exception thrown running example/udacity/5_word2vec"
Hi all. Does anyone reproduce this? The description of the problem is below in the suggested format. A brief summary is: running the examples/udacity/4_convolutions.ipynb runs fine on gpu, but the 5_word2vec notebook fails  with an AdaGrad-related exception:

`InvalidArgumentError: Cannot assign a device to node 'Adagrad/update_Variable_2/SparseApplyAdagrad': Could not satisfy explicit device spec

[2016-02-26 13:41] cesarsalgado opened #1299 "Convolution produces wrong result depending on the batch size."
### Environment info
Operating System: Ubuntu 14.04 LTS
Graphics: GeForce GTX 770/PCIe/SSE2
Cuda compute capability: 3.0
cuda version: 7.0
cudnn version: 6.5

installed from sources, commit hash: 5a30c8f07

### Steps to reproduce
1. Download the following numpy array in .npy format: https://www.dropbox.com/s/wljk6r83d0tee14/fail_tensor.npy?dl=0

2. Below is shown the code to reproduce the problem.

[2016-02-26 13:52] mrry commented on #23
I just pushed an initial version of the distributed runtime, based on gRPC. Currently, `tensorflow/core/distributed_runtime` contains most of the C++ implementation needed to get started, and we're still working on the higher-level libraries that will use multiple processes. However, you can get started today by taking a look at the [readme](https://github.com/tensorflow/tensorflow/blob/master/ten

[2016-02-26 13:52] cesarsalgado commented on #1299
One more thing, I also tested in b2bac69ed2 that is from 11 days ago and the same problem happened there too.

[2016-02-26 14:56] vincentvanhoucke commented on #1297
That other problem you reference should be fixed:
https://github.com/tensorflow/tensorflow/issues/1117
So that's likely a different issue. I have never tested the class notebooks on GPU.
Just to make sure: your setup works fine on CPU?

[2016-02-26 15:04] vincentvanhoucke commented on #1297
Does using:
`with tf.Session(graph=graph, config=tf.ConfigProto(allow_soft_placement=True)) as session:` fix it?

[2016-02-26 15:07] sesse opened #1300 "Support for half-floats (float16/fp16)"
This is a tracking bug for adding support for the half type (aka float16, or fp16) in TensorFlow. Half computation is supported by GPUs only, although newer Intel CPUs (Haswell and newer) have support for converting back and forth between fp16 and fp32 in hardware (F16C). CUDA has some support for half since 7.5, although it's a bit cumbersome (it's not a first-class type, but relies on macros con

[2016-02-26 15:08] ffmpbgrnn commented on #23
Awesome! I can't wait to try it!

[2016-02-26 15:11] shendiaomo commented on #23
Cong! Great & impressive work!

________________________________
wangyu5@jd.com<mailto:wangyu5@jd.com>

在 2016年2月26日，22:02，Derek Murray <notifications@github.com<mailto:notifications@github.com>> 写道：

I just pushed an initial version of the distributed runtime, based on gRPC. Currently, tensorflow/core/distributed_runtime contains most of the C++ implementation needed to get started, and we're sti

[2016-02-26 15:13] jesuisnicolasdavid commented on #23
Well done @mrry !

[2016-02-26 15:18] fxsuper commented on #435
I benchmarked the new `tf.cross` function against my own implementation written in python TensorFlow (see my earlier comment on Jan 12). The performance is actually worse on the CPU, which is rather surprising. Using this snippet of code:

[code]

And evaluating the last element of `crosses`, i.e. `crosses[-1].eval()`, takes about 0.1 seconds on a Xeon E5-2643 v3 with 4 threads enabled. In compari

[2016-02-26 15:30] sesse commented on #435
Just a guess: I would believe your version can parallelize since all the ops are independent. What happens if you run on only one thread?

[2016-02-26 15:56] fxsuper commented on #435
Hmmm I'm getting some very strange results. So just to be sure, the way I'm controlling threads is by invoking a session this way:

[code]

Strangely, when I set `num_threads` to 1, _both_ implementations speed up, contrary to your expectation. My implementation goes from 0.06 secs to 0.03 secs, and `tf.cross` goes from 0.1 secs to 0.05 secs. Not sure why this is happening. The tests are very mini

[2016-02-26 16:00] sesse commented on #435
There's a fair amount of per-op overhead, so for small data sets, you could be seeing contention on the thread pool. You could try going the other way, of course; splitting the tf.cross input in four, one for each CPU, and seeing if it matches your expectations.

The cross op right now has the unfortunate effect of starting three CUDA kernels (since it does three operator= statement on device); it

[2016-02-26 16:08] fxsuper commented on #435
But that still doesn't explain why my TF-based implementation gets 0.03 secs on a single CPU thread, while `tf.cross` gets 0.05 secs, right? The numbers are very repeatable so the difference is real, and is nearly 2x. Why would that be the case?

[2016-02-26 16:10] sesse commented on #435
It's hard to say off-hand; you'd need to look at a profile for what takes up the CPU time.

[2016-02-26 17:19] Lazare commented on #1203
I've switched to ubuntu 15.04 and it fixed my problem

[2016-02-26 17:35] jyegerlehner commented on #1297
I hadn't tried that before.  So I just now tested on the cpu by adding tf.device as here:

[code]

and it did indeed run successfully. I'm not sure if there is some other way to make it run on the cpu, other than build without gpu support.

[2016-02-26 17:38] Styrke opened #1303 "Broken links in C++ API docs"
Apparently most of the links in the main part of the [index of the C++ API documentation](https://www.tensorflow.org/versions/r0.7/api_docs/cc/index.html) are broken.

The problem seems to be that the first letter of each file name is in lowercase, so the links look like this:
[https://www.tensorflow.org/versions/r0.7/api_docs/cc/classEnv.html](https://www.tensorflow.org/versions/r0.7/api_docs/cc/

[2016-02-26 17:43] jyegerlehner commented on #1297
with tf.Session(graph=graph, config=tf.ConfigProto(allow_soft_placement=True)) as session: fix it?

No, I get a different exception. Namely, I removed the tf.device() (shown above) so that it goes back to trying to run on the gpu, and specified the config argument you specify, and now I get this exception on the session.run() call:

[code]

[2016-02-26 17:50] vincentvanhoucke commented on #1297
@mrry here is a tiny colab notebook which works fine on CPU, but fails on GPU even with soft placement in r0.7. Any idea?

[2016-02-26 17:57] jyegerlehner commented on #1297
As a sanity check: I rotated through each of the three states of the code and reproduced the behaviors in each case I described above: 1) original code, running on GPU fails, 2) adding tf.device('/cpu:0') runs successfully, 3) soft placement fails with the different exception.

Thanks for the help!

[2016-02-26 17:57] vrv commented on #1295
Can you explain what you want to do with these files?

It's possible this is a duplicate of https://github.com/tensorflow/tensorflow/issues/720: we don't yet have a devel package that installs all of the headers -- the pip package just distributes the python interface and C++ runtime, not the code to do development on it.  You currently have to integrate with bazel and our github tree to do develo

[2016-02-26 19:11] ebrevdo commented on #32
The CTC loss and two decoders (greedy & beam search for CTC) should be in the next push.

[2016-02-26 19:12] ebrevdo commented on #214
Marking this as a duplicate of #654  cause it seems like that's what you want to do.

[2016-02-26 19:12] #214 closed

[2016-02-26 19:13] ebrevdo commented on #32
(it'll be accessible via tf.contrib.ctc.ctc_loss etc.)

[2016-02-26 19:15] mrry commented on #1297
I think this is a known issue (at least offline), where running the initializer will cause all variables to be assigned to the GPU, then subsequently trying to run SparseApply<FOO> on one of those variables will fail because SparseApply<FOO> doesn't have a GPU implementation. (@vrv has an idea for how to fix it, but it might break other users, so we haven't pushed it yet :(.) The workaround is to

[2016-02-26 19:22] amitaga opened #1304 "Training a model using GPUs across different machines"
Hi, if/how can TensorFlow's distributed runtime be used for training a model using GPU resources across machines in a cluster?

[2016-02-26 19:24] jyegerlehner commented on #1297
@mrry Thanks!
Do you prefer me to close this, or leave it open?

[2016-02-26 19:48] alquraishi opened #1306 "Multiple bugs in dynamic_rnn"
I know this feature remains alpha and unsupported, but I've run into a number of various bugs so I thought it may be worth reporting.

Just a simple RNN with a simple loss function + optimizer doesn't work. Take this code snippet for example:

[code]

This fails with the following error:

`ValueError: Shapes () and (120, 400) must have the same rank`

A slightly fancier version of the above that e

[2016-02-26 19:49] alquraishi commented on #511
It will be awesome to get this working but I've run into multiple problems which I suspect are bugs. I opened a separate issue here #1306

[2016-02-26 20:03] scrawfor1 commented on #1257
Thank you Vijay.  I've been dealing with the same error after upgrade.  Tried
pip uninstall tensorflow
pip uninstall protobuf
pip install url/to/the/tensorflow-...whl
but the problem persisted.

Then tried
pip uninstall tensorflow
pip uninstall protobuf
manually deleted tensorboard.py from /usr/local/bin
pip install url/to/the/tensorflow-...whl
tensorboard.py was recreated with the new tensorflow

[2016-02-26 20:06] vincentvanhoucke commented on #1297
Please leave it open. I need to add the workaround to the notebook. (PRs gladly accepted)

[2016-02-26 20:14] digitalsword opened #1307 "Python import error, undefined symbol: secure_getenv"
I got python import error, undefined symbol: secure_getenv

Operating System:
Redhat 6.7

Installed from sources using gcc 4.8 (I am using gcc 4.8 installed in a custom path since the default gcc is too old):
commit b88971051fbc49fa1e0b91ec1b0b60defa11697e
Date:   Fri Feb 26 05:08:35 2016 -0800

[code]

If I do ldd ~/anaconda/lib/python2.7/site-packages/tensorflow/python/_pywrap_tensorflow.so
[cod

[2016-02-26 20:31] kdavis-mozilla commented on #32
Awesome!

[2016-02-26 20:39] keveman commented on #1248
How do you build auc.so?
Like it says in the documentation [here](https://www.tensorflow.org/versions/master/how_tos/adding_an_op/index.html#building-the-op-library), make sure you have `-rpath $TF_LIB` in the command line arguments to `g++`. If you indeed pass that flag and it still doesn't work, try adding `$TF_LIB` to your `$LD_LIBRARY_PATH`. I verified that I can indeed load an op with `load_o

[2016-02-26 20:39] #1248 closed

[2016-02-26 20:49] aidangomez commented on #32
Very Awesome

[2016-02-26 21:03] ebrevdo commented on #1306
The shape bug should be fixed at HEAD

[2016-02-26 21:05] mmuppidi opened #1308 "ImportError: cannot import name server"
Operating System:
Ubuntu 14.04

Built tensor board from the source (from tensor flow git repo)

```sudo apt-get install nodejs nodejs-legacy npm```

```sudo npm install -g gulp bower```

cd tensorflow/tensorflow/tensorboard/

```npm install```

```bower install```

Everything goes fine. Now I try to run the TensorFlow using command

```>> python tensorflow/tensorflow/tensorboard/tensorboard.py --l

[2016-02-26 21:05] ebrevdo commented on #511
That bug should be fixed at HEAD
On Feb 26, 2016 11:50 AM, "Mohammed AlQuraishi" <notifications@github.com>
wrote:

[2016-02-26 21:07] vrv commented on #1308
@danmane can you take a look?

[2016-02-26 21:59] mrry opened #1310 "Could not specify explicit device specification ''"
Several users have reported an issue that occurs with the following steps (e.g. Issue #1297):

0. Start TensorFlow in a setting with a GPU.
1. Define some variables with no explicit `tf.device()` set. This most often happens with embedding variables (used as arguments to `tf.gather()` or `tf.embedding_lookup()`).
2. Initialize them. (They will be placed on the GPU, because it is the "best availabl

[2016-02-26 22:20] nryant opened #1311 "dynamic_rnn incompatible with BasicRNNCell, GRUCell, and BasicLSTMCell"
### Description
I've been playing around with ``rnn.dynamic_rnn`` and have thus far only had success with it when using ``rnn_cell.BasicLSTMCell`` instances. When using any other cell, a ``TypeError`` is raised. Looking at the traceback, the culprit appears to be the calls to ``rnn_cell.linear`` at each time step, which fail when ``rnn_cell.linear`` attempts to get the shape of its input slice. Th

[2016-02-26 22:23] alquraishi commented on #1306
Yes you are right after compiling with the latest version the shape has gone away. The scope problem is still there however.

[2016-02-26 22:37] ebrevdo commented on #1311
Working on a bugfix now.

[2016-02-27 00:01] johannes-dornheim commented on #17
For all those who want to use Tensorflow and can surrender GPU support [here is an Blogpost](http://data-shaker.com/docker-tensorflow-with-jupyter-notebook-on-windows/) about installing Tensorflow with jupyter notebook support for Windows with Docker.

[2016-02-27 00:39] nryant commented on #1306
Regarding scope issues, it appears that the ``TensorArray`` instances created in ``dynamic_rnn`` always have the same value for ``tensor_array_name``, which causes issues if you try to use ``dynamic_rnn`` multiple times in the same graph; for instance, when building a bidirectional RNN.

[2016-02-27 01:18] MisayaZ commented on #1295
@vrv, I need these files when I was adding a new Op to tensorflow with TensorFlow binary installation. Some files need heads in the path like /third_party/.., but I can not find third_party anywhere. I saw these third_party folders in others tensorflow/inlcude path, howerver, they are not in mine. As a result. when I used g++ to compile it, it told me that it could not find the files.

Thanks

[2016-02-27 03:15] ebrevdo commented on #1306
We have another commit in the works to fix the second problem.
On Feb 26, 2016 4:40 PM, "nryant" <notifications@github.com> wrote:

[2016-02-27 03:17] ebrevdo commented on #1311
Should be fixed at HEAD.

[2016-02-27 04:54] vrv commented on #1295
Gotcha -- yes I think this is related to https://github.com/tensorflow/tensorflow/issues/1270 -- we have a fix to the pip package installation to make these available.  Our test nodes are down for the weekend so we'll push on Monday.  Let's take discussion to #1270.

[2016-02-27 04:54] #1295 closed

[2016-02-27 05:23] syed-ahmed commented on #524
Can anyone help me with this No opkernel registered error: #1269 . Following from the main.cc in label_image example and looking into the android demo tensorflow_jni.cc, I see that the android demo is directly reading the RGB values and putting it into an input tensor, whereas the label_image example builds a graphdef builder and runs several ops to derive to its input tensor. Could this differenc

[2016-02-27 05:54] jmtatsch commented on #851
Commenting the variadic template at line 195 helps a little but at line 234 there is a another template that seems to be required. Any hints how to rewrite that in nvcc friendly manner?

[2016-02-27 07:16] davidzchen commented on #17
An update on Windows support for Bazel: the initial set of patches to get Bazel working on Windows has been merged (see bazelbuild/bazel#276), and @dslomov has been able to get Bazel to [bootstrap itself on Windows](https://twitter.com/mulambda/status/700735662354333696).

We are planning to have experimental support for Windows in [Bazel 0.3](http://bazel.io/roadmap.html). If you would like to fo

[2016-02-27 09:26] bhack commented on #22
@strin Have you already followed this thread https://community.arm.com/thread/4935?

[2016-02-27 09:26] jyegerlehner commented on #1297
@mrry Hmm unfortunately just assigning `embeddings` to the cpu didn't work for me. Still got the same exception. So I resorted to the expedient of putting the whole graph on the cpu.

[2016-02-27 10:23] Duum commented on #32
very very awesome!

[2016-02-27 14:09] esraahassan commented on #393
please solve this problem in video

[2016-02-27 17:20] ericjang opened #1317 "tf.get_variable() behavior somewhat inconsistent across reuse=True, reuse=None"
By default, calling `tf.get_variable()` for a variable that does not exist yet creates that variable in the current scope, if the scope has `reuse=Nne`. However, if the scope has reuse=True, then  a Under-sharing error is raised.

[code]

I think I understand the motivation behind this behavior - variables retrieved in a reuse=True scope should be in "reuse-mode", so an error should be raised if i

[2016-02-27 18:46] ner0x652 opened #1318 "Lua API"
Hi!

Is somebody working on a Lua API?
If not, are you interested on contributing to develop a Lua API?

Thanks!

[2016-02-27 19:54] mrry commented on #1297
Sorry for the confusion... it looks like you might also need to pin the `softmax_weights` and `sotmax_biases` to `"/cpu:0"`. I hadn't read the following code closely: these are both used in `tf.nn.sampled_softmax_loss()`, which uses `tf.nn.embedding_lookup()` internally, and thus results in sparse updates in the training step.

[2016-02-27 20:31] mrry commented on #1304
It certainly can! Have a look at the [readme](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/distributed_runtime/README.md) for how to get started. You can place nodes on GPUs on different machines using `tf.device()` statements:

[code]

[2016-02-27 20:31] #1304 closed

[2016-02-27 20:47] bbnstsai opened #1319 "Unable to execute example: models/image/mnist/convolutional.py on MacOS"
For bugs/issues, please fill in the following.  The more information you
provide, the more likely we can help you.

### Environment info
Operating System: Mac OS (El Capitan / Python 2.7)

If installed from binary pip package, provide:

1. Which pip package you installed.
Virtualenv
2. The output from python -c "import tensorflow; print(tensorflow.__version__)".
0.7.1

If installed from sources, p

[2016-02-27 23:02] jeandut opened #1322 "Custom padding for convolutions"
For the moment it looks like TF only supports VALID or SAME convolutions ? Is there a clever work around to do custom padding convolutions like having a padding of length h defined by the user like in this [neon implementation](http://neon.nervanasys.com/docs/latest/generated/neon.layers.layer.Conv.html) ? Is implementing it in the pipeline ?

[2016-02-27 23:42] Dringite commented on #1322
Define custom. I can only imagine that you want to use something other than zeros in the padding, in which case you can use VALID and manually pad the feature maps.

[2016-02-28 00:20] jeandut commented on #1322
Actually I meant having a padding equals to 1 for instance, but you are right I will edit my question it is too vague.

[2016-02-28 00:33] jeandut commented on #1322
But as you suggested I could just add a column of 0 and use VALID convolutions, would the backprop still work though ?

[2016-02-28 01:14] Dringite commented on #1322
I'm confused as to why you would even need this. Doing a 3x3 kernel conv with SAME does padding of 1. 5x5 does padding of 2, etc...

[2016-02-28 03:17] ebrevdo commented on #1250
This is due to a deep technical issue with being able to access the values on a GPU.  For now, use tf.to_int64 to convert your values.

[2016-02-28 03:18] ebrevdo commented on #1250
Closed because the deeper issue has an open internal bug case.

[2016-02-28 03:19] ebrevdo commented on #206
I plan to work on this but not until after next week. If you want to work
in this, I suggest supporting GPU and CPU in your kernels. If you can't
implement that, you may want to wait for us to implement it.
On Feb 23, 2016 11:45 AM, "Mohsen Hejrati" <notifications@github.com> wrote:

[2016-02-28 03:21] ebrevdo commented on #1235
That version may not have the function. Try building the package from HEAD.

[2016-02-28 04:34] ronghanghu opened #1323 "BasicLSTMCell cannot calculate output shape correctly when batchsize is 1"
I found that `BasicLSTMCell` cannot infer output shape correctly when the input batchsize is 1, after my graph construction failed within this case.

Tensorflow version: 0.7.1, installed with pip. Operating system: Ubuntu 14.04

Minimum code snip to reproduce:
[code]

When `batchsize = 2`, the shape of output is `[2, 2000]`, with the first dimension equal to batchsize. However, when `batchsize = 1

[2016-02-28 04:48] omid55 opened #1324 "GLIBC error"
I searched for this issue but did not find any useful way. I installed tensorflow with pip and I am using Ubuntu 12.04 and python 2.7.3.
When in python I write import tensorflow, it raises the following error:

ImportError: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.17' not found (required by /usr/local/lib/python2.7/dist-packages/tensorflow/python/_pywrap_tensorflow.so)

Any useful suggest

[2016-02-28 05:04] kristoffernolgren commented on #37
+1

[2016-02-28 06:04] Mottotime commented on #808
I got a similar error with @ruffsl on

- CentOS 7, Linux 3.10.0-327.10.1.el7.x86_64
- CUDA 7.5, GPU NVIDIA TESLA C2070, Driver Version: 352.79
- docker 1.10.2
- b.gcr.io/tensorflow/tensorflow   latest-devel-gpu or 0.7.1-devel-gpu

[code]

If I use nvidia-docker, the `import tensorflow as tf` can pass. But I got a segment-fault with tensorflow examples.
[code]

I am not sure whether this issue has

[2016-02-28 07:40] kristoffernolgren commented on #1319
I also get this error trying to run

mnist = input_data.read_data_sets("MNIST_data/", one_hot=True)

from the tutorial.

[2016-02-28 08:54] atamahjoubfar commented on #389
I realized that if I let the `cifar10_train.py` and `cifar10_eval.py` files keep running simultaneously, despite the `queue` errors, the `precision @ 1` is reported every 5 minutes. One can reduce this time interval by decreasing the value of `'eval_interval_secs'` in the `cifar10_eval.py` file to see more frequent updates.

[2016-02-28 09:04] dpkay commented on #1297
I ran into the same problem and can confirm that the workaround works when pinning all three of embeddings, softmax_weights and softmax_biases. Thanks!

[2016-02-28 09:16] mightyroy opened #1325 "tf.get_variable() cannot recognize existing variables"
`with tf.variable_scope("conv", reuse=True):
    x = tf.get_variable("w",[1])`

The above code cannot recognize an existing variable, but clearly the existing variable was created before as print out of the variable .name shows : `conv/w:0`

I get an error when using tf.get_variable:
`ValueError: Under-sharing: Variable conv/w does not exist, disallowed. Did you mean to set reuse=None in VarScope?

[2016-02-28 09:19] jyegerlehner commented on #1297
Right, I confirm too.

[2016-02-28 09:52] jeandut commented on #1322
I wanted non symmetrical padding like only one side is padded but I guess this is not a common thing and neon is actually doing symmetrical, I am therefore closing this issue.

[2016-02-28 09:53] #1322 closed

[2016-02-28 12:34] v-shinc commented on #666
I met this problem too, it seems that the variable is too big. In my model, when the size of variable is [10000000, 192],  it reports "[libprotobuf ERROR google/protobuf/src/google/protobuf/message_lite.cc:293]Error computing ByteSize (possible overflow?).", when the size of variable is [20000000, 192], it reports "[libprotobuf FATAL google/protobuf/src/google/protobuf/message_lite.cc:72] This sho

[2016-02-28 15:03] alquraishi opened #1326 "Add forget_bias option to LSTMCell"
Currently `BasicLSTMCell` accepts a `forget_bias` option but `LSTMCell` does not and always defaults to a forget bias of 1 that cannot be controlled by the user.

[2016-02-28 16:02] vincentvanhoucke commented on #1297
Merged a workaround that pins everything to CPU. Please follow #1310 for the actual fix to make it work on GPU as well.

[2016-02-28 16:02] #1297 closed

[2016-02-28 16:11] vincentvanhoucke commented on #272
`sparse_softmax_cross_entropy_with_logits()` is now available

[2016-02-28 16:11] #272 closed

[2016-02-28 17:26] cracker0dks commented on #1230
yeah with the latest image I get no errors anymore. Sry for the late response.
Thanks for your help guys!

[2016-02-28 17:26] #1230 closed

[2016-02-28 17:56] mightyroy commented on #1325
I check the `self._vars = {}` in python/ops/variable_scope.py, got it to print the `_vars`, and the dictionary was empty `{}`. None of the variables created previously got stored in `_vars`

[2016-02-28 17:58] maxwbuckley commented on #1142
@vrv  The new wheel 0.7.1 fixed this problem for me also.

I too am using Ubuntu 14.04 x86_64 with Python 2.7.6

Thanks for the fix.

[2016-02-28 18:08] mightyroy commented on #1325
Creating the variable the usual way using `tf.Variable` does not add the variable name to `self._vars` of `tf.variable_scope`

[2016-02-28 18:36] gbouchar commented on #487
+1
great thanks !

[2016-02-28 19:16] mohamed-ali commented on #1105
updating tensorflow install with `sudo pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.7.1-cp27-none-linux_x86_64.whl` fixed the cifar10 issue.

[2016-02-28 19:17] #1324 closed

[2016-02-28 20:46] zcyang opened #1328 "default initializer for seq2seq example"
What is the default initialization for the weight in seq2seq example? I can find it no where, it is completely not defined.

[2016-02-28 21:33] dave-andersen commented on #10
tmc sent a pull request - https://github.com/tensorflow/tensorflow/pull/1237 - which we should be able to get in with a few iterations.

[2016-02-28 22:06] Russell91 commented on #1117
I'm getting a similar optimizer dependent error with the following code on 0.7.0 (hash 875a67f3d298ab7f7438a3004e4597c71d92b529)

    assert tf.__version__ == '0.7.0'
    tf.reset_default_graph()

    initializer = tf.random_uniform_initializer(0.1)
    x = tf.placeholder(tf.int32)
    p = tf.get_variable('p', shape=[10, 2], initializer=initializer)
    x_ = tf.nn.embedding_lookup(p, x)

    loss

[2016-02-28 22:51] girving opened #1329 "Our shell wrapper around swig is a bug according to bazel"
Bazel likes to strip things it doesn't like out of `PATH`, as discussed at https://github.com/bazelbuild/bazel/issues/957.  For TensorFlow, this is a problem since we have a shell wrapper around swig that just says `swig "$@"`.  In my case, `swig` is in `~/homebrew/bin`.

Since Bazel considers this a bug in TensorFlow rather than in Bazel, it may be more useful to have the discussion here than on

[2016-02-28 22:54] girving commented on #1329
Here is the problematic file: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/swig/swig.sh

[2016-02-29 01:50] ebrevdo commented on #1329
Perhaps we can use some kind of crosstool wrapper-type functionality?

[2016-02-29 01:52] ebrevdo commented on #1329
Alternatively set it up during the configure script, the way we do python: as a parameter in bazelrc.

[2016-02-29 01:53] ebrevdo commented on #1326
May not get to this till next week.

[2016-02-29 06:37] chenghuige commented on #1248
@keveman  Thanks, the so is built on another ubuntu platform, and I miss this problem when using the so on centos, after rebuilding auc.so now every thing is Ok.
Another thing, might worth a look, in order to gen auc.so, I need to first install google protobuffer, then, I need to add below to my ~/.bashrc for a workaround for missing eigen related headers.
export CPLUS_INCLUDE_PATH=~/.cache/bazel/

[2016-02-29 06:37] strin commented on #22
@bhack thanks for sharing. this thread looks very interesting. i tried to turn of the DVFS as suggested, but no significant performance was seen for sgemm in ViennaCL.

[2016-02-29 06:40] chenghuige commented on #1222
Hi, now after rebuilding auc.so on centos platform, now everything is fine, might due to mismatch of platform(auc.so was generated on another ubuntu platform before).
@jeffreyadean Close this if not an issue.

[2016-02-29 07:29] iaroslav-ai commented on #22
+1

[2016-02-29 07:58] rongjiecomputer opened #1330 "Problematic links in official website"
In https://www.tensorflow.org/versions/r0.7/how_tos/tool_developers/index.html, some of the links that referred to this repository contain "%0A" in random places which make them invalid.

[2016-02-29 08:01] bhack commented on #22
@strin Have you tried the last sgemm version in the MALI SDK?

[2016-02-29 09:04] cuiguoxin commented on #1270
There is only one 'tensorflow' folder in the 'include' folder. When I add a user op in it, it fails. Hope this bug will soon be fixed. At least the docs should be edited in order to not mislead more people.

[2016-02-29 13:11] alquraishi commented on #1326
If it's not too much trouble :-), it'd be great if one can control the weight and bias initializers independently, as in the `tf.contrib.layers` functions like `fully_connected` and `convolution2d`, which accept separate `weight_init` and `bias_init` options. They would be separate from the forget bias of course.

[2016-02-29 14:06] zkl99999 commented on #122
C:\Users\\Desktop>docker run -it b.gcr.io/tensorflow/tensorflow

Unable to find image 'b.gcr.io/tensorflow/tensorflow:latest' locally

docker: Error response from daemon: unable to ping registry endpoint https://b.g
cr.io/v0/
v2 ping attempt failed with error: Get https://b.gcr.io/v2/: dial tcp 64.233.188
.82:443: i/o timeout

[2016-02-29 14:06] zkl99999 commented on #42
C:\Users\\Desktop>docker run -it b.gcr.io/tensorflow/tensorflow

Unable to find image 'b.gcr.io/tensorflow/tensorflow:latest' locally

docker: Error response from daemon: unable to ping registry endpoint https://b.g
cr.io/v0/
v2 ping attempt failed with error: Get https://b.gcr.io/v2/: dial tcp 64.233.188
.82:443: i/o timeout

[2016-02-29 14:07] zkl99999 commented on #17
C:\Users\\Desktop>docker run -it b.gcr.io/tensorflow/tensorflow

Unable to find image 'b.gcr.io/tensorflow/tensorflow:latest' locally

docker: Error response from daemon: unable to ping registry endpoint https://b.g
cr.io/v0/
v2 ping attempt failed with error: Get https://b.gcr.io/v2/: dial tcp 64.233.188
.82:443: i/o timeout

[2016-02-29 14:07] zkl99999 commented on #223
C:\Users\\Desktop>docker run -it b.gcr.io/tensorflow/tensorflow

Unable to find image 'b.gcr.io/tensorflow/tensorflow:latest' locally

docker: Error response from daemon: unable to ping registry endpoint https://b.g
cr.io/v0/
v2 ping attempt failed with error: Get https://b.gcr.io/v2/: dial tcp 64.233.188
.82:443: i/o timeout

[2016-02-29 14:09] rdipietro commented on #110
Both solutions seem to work, but they're not optimal. TensorFlow and Python seem to run okay, but if I try and run IPython, then with the first solution I get an Invalid ELF error, and with the second solution there is a memory leak and IPython continues to absorb all memory with time. I believe that this can also happen with other Python imports that rely on libraries that were compiled using the

[2016-02-29 14:14] rdipietro commented on #110
Also https://github.com/bazelbuild/bazel/issues/760 is relevant, but it's far from straightforward and my attempt to build bazel using this guide failed. Hopefully within the next few weeks I can give it some more time and continue that thread with the errors I end up getting.

[2016-02-29 15:12] bxshi commented on #1308
I was having the same issue yesterday and yes, changing `server` to `tensorboard_server` did solve the problem.

[2016-02-29 15:57] mmuppidi commented on #1308
@danmane @vrv  I have done some more digging into the issue. I have installed tensor flow using pip command and then cloned the git repository for examples.

Inside the git cloned repo on master branch inside  tensorboard/backend there is a file called server.py

But in /usr/local/lib/python2.7/dist-packages/tensorflow/tensorboard/backend there is no file names server.py instead there is a file na

[2016-02-29 16:24] alquraishi commented on #605
Any updates on this? It used to sort of work when uncommenting the relevant line in batch_matmul.cc, but now it often gives an error, specifically `Blas SGEMMBatched launch failed `. Also performance actually seems worse with it on the GPU than the CPU.

[2016-02-29 16:28] #1270 closed

[2016-02-29 16:31] keveman commented on #1270
Sorry everyone about the breakage. Some changes got inadvertently pulled in that removed Eigen and third_party header files from the pip package. I added them back, and also clarified the documentation a bit. The 0.7.1 pip package still has the problem, but if you create the pip package from HEAD and install it, that should work.

[2016-02-29 16:37] girving commented on #1329
@ebrevdo: Yep, I think that's the way to go.

[2016-02-29 16:39] petewarden commented on #1222
Thanks for the update! I'll close this.

[2016-02-29 16:39] #1222 closed

[2016-02-29 16:44] informatica92 opened #1333 "Problem building label_image"
Hi all,
I tried to build the label_image example (I have tensor flow version 0.7 and I installed bazel) but when I build the example with
`../../bin/bazel build tensorflow/examples/label_image/...`
I get:
`INFO: Found 2 targets...
ERROR: /home/informatica/.cache/bazel/_bazel_informatica/91a9bba81c77fb078ff5ab9ac13df451/external/png_archive/BUILD:23:1: Executing genrule @png_archive//:configure fai

[2016-02-29 17:22] vrv commented on #32
https://github.com/tensorflow/tensorflow/commit/8509f88ade3fc65f4cc530780d06100f0b1ea108

ctc_loss and friends is now part of contrib directory -- once it matures and we fix any issues, we'll add it to the core.

[2016-02-29 17:22] #32 closed

[2016-02-29 18:09] Dringite opened #1334 "Compile issue"
Ubuntu 14, master branch pull minutes ago.

ERROR: /home/ggg/000/tensorflow/tensorflow/core/kernels/BUILD:712:1: undeclared inclusion(s) in rule '//tensorflow/core/kernels:depthwise_conv_op':
this rule is missing dependency declarations for the following files included by 'tensorflow/core/kernels/depthwise_conv_op.cc':
  '/home/ggg/000/tensorflow/tensorflow/core/common_runtime/device.h'
  '/home/g

[2016-02-29 18:22] vrv commented on #1308
Ah, that makes sense.  In general, if you have installed the pip package, we recommend checking out the github repo at that branch, since we make improvements to master which often updates the code that goes into the binary pip package.  Thanks for the help!

[2016-02-29 18:22] #1308 closed

[2016-02-29 18:55] vrv commented on #1333
Can you try building with --verbose_failures and repaste your logs?

[2016-02-29 19:09] kbrems commented on #1334
I have the same issue as well as a similar one, depending on which parallel bazel task completes first:

ERROR: /home/karenbre/tensorflow/tensorflow/core/distributed_runtime/rpc/BUILD:158:1: undeclared inclusion(s) in rule '//tensorflow/core/distributed_runtime/rpc:grpc_remote_master':
this rule is missing dependency declarations for the following files included by 'tensorflow/core/distributed_run

[2016-02-29 19:09] vrv commented on #1334
I'm fixing the first issue, will try to figure out why the second one is happening.

[2016-02-29 19:17] danmane commented on #393
@esraahassan can you explain what you mean by "please solve this problem in video"?

[2016-02-29 19:24] keveman commented on #1334
You seem to be building the target `//tensorflow/python:zero_out_op_test`. `bazel query tensorflow/python/...` doesn't show that it exists. Is that something that you added? What does your rule look like?

[2016-02-29 19:31] kbrems commented on #1334
I am trying to follow the tutorial for building a user operator since it was reported that those issues are now fixed.

[2016-02-29 20:13] jjhelmus commented on #1143
I'll check into building tensorflow 0.7.1 conda packages from source this week.  Just need to find some free time to get bazel installed.

[2016-02-29 20:22] vrv commented on #1328
https://github.com/tensorflow/tensorflow/blob/795f35da2d458cbae477ac2fe2bff80c1427a771/tensorflow/python/ops/rnn.py#L92 -- I think the initialization of the state in the rnn cells is zero.  Is that what you were wondering?

[2016-02-29 20:26] zcyang commented on #1328
no, I mean the weights parameters, the embedding, the weights of the grus, the output projects etc. no default initializer is provided. I cannot find it anywhere.
https://github.com/tensorflow/tensorflow/blob/795f35da2d458cbae477ac2fe2bff80c1427a771/tensorflow/python/ops/rnn_cell.py#L675

[2016-02-29 20:29] vrv commented on #1328
https://github.com/tensorflow/tensorflow/blob/0e9240b72613aa084728dcba55f7fae3591e86ad/tensorflow/python/ops/variable_scope.py#L65

Does that help?

[2016-02-29 20:37] zcyang commented on #1328
I saw it, but the definition of ```UniformUnitScalingInitializer``` is missing. I assumed it is ```6/sqrt(n_in + n_out)```. But I manually check some of the initial weights, some of the weights follow the rule, some of them doesn't. Seems different weights have different initialization. For example, the output projection matrix and decoder embedding matrix have the same shape, but their initial va

[2016-02-29 20:44] mwlow commented on #1252
Getting the same thing:
PermissionError: [Errno 13] Permission denied: '/usr/local/lib/python3.4/dist-packages/tensorflow-0.7.1.dist-info'

Trying to install in a conda env. The python 2 version works, but not python 3. It seems to want to install globally instead of in the env.

[2016-02-29 21:14] bernardopires commented on #1334
I can reproduce the issue when compiling the pip package `bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package`. Sometimes it even succeeds but then `bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg` fails with `error: can't copy 'tensorflow/python/training/gen_training_ops.py': doesn't exist or not a regular file`

[2016-02-29 21:15] jstaker7 commented on #640
I've been curious about slicing the output state as well, as mentioned by LeavesBreathe.

[2016-02-29 21:44] lukaszkaiser commented on #1323
Just to clarify: the code works, it's just that shape inference does not infer the batch size, right?

I think it's harder to infer sizes of 1 because they have different behaviour in terms of broadcasting. Assigning to Derek who know the shape inference code much better.

[2016-02-29 21:59] mrry commented on #1323
Yes, this seems to happen because, internally, we compute `tf.mul(x, y)` where `x` has shape `[None, 2000]` and `y` has shape `[batch_size, 1000]`. If `batch_size` is 1, then it can't tell whether `None` is actually `1` (i.e. there's no broadcasting), or a number greater than `1` (i.e. broadcasting happens).

The typical way to deal with issues like this - when shape inference is hard to do - is t

[2016-02-29 22:21] lukaszkaiser commented on #1317
In some sense the reuse checks in tf.get_variable are indeed superfluous -- one could, as you say, just always create non-existent variables regardless of the reuse-check setting (and get rid of reuse).

When designing variable_scope we discussed this issue at length. The decision to enforce reuse-checks was motivated by a history of research model development. It happened a few times that people

[2016-02-29 22:21] #1317 closed

[2016-02-29 22:28] lukaszkaiser commented on #1325
Indeed -- variables created in other ways than with tf.get_variable(...), esp. by the lower-level tf.Variable, are not added or recognized by variable_scope. This is partly intentional (as some special variables may need to be treated specially) and partly a result of how the variable sharing process developed.

My suggestion for you would be to always use tf.get_variable if you're relying on it l

[2016-02-29 23:35] mightyroy commented on #1325
Thanks!

[2016-02-29 23:37] mightyroy commented on #1325
Perhaps this should be made part of the documentation.

[2016-02-29 23:39] lukaszkaiser commented on #1325
Definitely! Re-opening so we don't forget it, thanks!

[2016-03-01 00:40] jp330108 commented on #1285
Having same problem after using pip install:

**[user@localhost ~]# sudo pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.7.1-cp27-none-linux_x86_64.whl**
Collecting tensorflow==0.7.1 from https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.7.1-cp27-none-linux_x86_64.whl
/usr/lib/python2.7/site-packages/pip/_vendor/requests/packages/urllib3/util/s

[2016-03-01 00:55] jp330108 opened #1336 "pip install/upgrade version 0.7.1 issue -- ImportError: No module named protobuf"
Had a previously working version of tensorflow 0.6

Executed single command which appeared to proceed without incident:

`sudo pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.7.1-cp27-none-linux_x86_64.whl`

However, now protobuf not found during python runtime though pip seems to have installed protobuf==3.0.0b2

### Environment info
Operating System: Centos

[2016-03-01 00:56] vrv commented on #1336
Can you try:

pip uninstall tensorflow
pip uninstall protobuf

then just reinstall tensorflow ?

See: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#cannot-import-name-descriptor

[2016-03-01 00:57] vrv commented on #1330
Okay I updated the website and pushed the fix.

[2016-03-01 00:57] #1330 closed

[2016-03-01 01:02] jp330108 commented on #1336
Thanks that worked...closing issue.

[2016-03-01 01:02] #1336 closed

[2016-03-01 01:27] maheshwarLigade commented on #1252
Thanks  I resolved it, i installed globally instead in envirnoment

[2016-03-01 02:02] ronghanghu commented on #1323
@lukaszkaiser Yes, it's just that shape inference does not infer the batch size. The code works after I explicitly set the shape.

Thanks for your fast response!

[2016-03-01 03:42] nryant commented on #1328
https://github.com/tensorflow/tensorflow/blob/0e9240b72613aa084728dcba55f7fae3591e86ad/tensorflow/python/ops/init_ops.py#L149

[2016-03-01 05:16] Juleroy13 commented on #323
I had exactly the same problem and you fixed the issue for me too! Thanks @lightscalar !!

[2016-03-01 06:20] hotpxl commented on #1310
Previously I had
[code]
and I encountered this `Could not satisfy explicit device specification '/job:ps/task:1'` error.

Then I changed to
[code]
but I still have this error.

Am I getting the workaround right? Thanks!

[2016-03-01 06:59] Mohamed5amy commented on #1334
+1
Same error after running  `bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer`

[2016-03-01 07:16] hotpxl commented on #1310
Looks my problem is not related to CPU/GPU you are talking about. More likely because of not being able to find peer worker.

[2016-03-01 07:28] vrv commented on #1334
The above commit probably fixes some issues, and maybe some others, but leaving it open until we fix any other issues that have cropped up recently

[2016-03-01 07:32] raj-maurya opened #1340 "Error in installing the tensorflow on 32 bit Ubuntu 14.04 LTS"
Hi Developers:

Please, guide me to fix the issue and help me to install the tensorflow on the 32bit Ubuntu 14.04 LTS.

Error i am getting :
hunter@hunter:~$ sudo pip install --upgrade
![screenshot from 2016-03-01 13 00 32](https://cloud.githubusercontent.com/assets/9070249/13420607/b4ccc094-dfad-11e5-9e32-fd9880f4056f.png)
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.7.1-cp27-

[2016-03-01 07:54] j-pong opened #1341 "cifar10_eval.py stop problem"
### Environment info
Operating System: Ubuntu 14.04.4 LTS

If installed from binary pip package, provide:

1. Which pip package you installed.
 : tensorflow-0.7.1-cp27-none-linux_x86_64.whl
2. The output from python -c "import tensorflow; print(tensorflow.__version__)".
 : 0.7.1

### Steps to reproduce
1. cd git/tensorflow/tensorflow/models/image/cifar10/
2. python cifar10_eval.py

I tensorflow/st

[2016-03-01 08:28] jeetu7 opened #1342 "download link of pdf version of the documentation/get_startred/tutorials etc"
Tried a lot of searching, but I am still not able to find a pdf version of the tensorflow docs. Kindly provide the same.

[2016-03-01 09:23] hotpxl commented on #1310
In my setup, I started with `./grpc_tensorflow_server --cluster_spec='worker|10.201.106.12:2222;10.201.106.11:2222' --job_name=worker --task_index=0` and the other with 0 replaced by 1. Is there any problem with the way I fire the servers? Why couldn't I place explicitly on the remote host?

Thanks

[2016-03-01 09:33] hotpxl commented on #1310
Found the problem. It should be `--task_id` not `--task_index`. Please change `readme.md` to reflect this change.

[2016-03-01 09:36] informatica92 commented on #1333
Thanks for reply vrv!
New output is this:
`INFO: Found 2 targets...

ERROR: /home/informatica/.cache/bazel/_bazel_informatica/91a9bba81c77fb078ff5ab9ac13df451/external/png_archive/BUILD:23:1: Executing genrule @png_archive//:configure failed: bash failed: error executing command (cd /home/informatica/.cache/bazel/_bazel_informatica/91a9bba81c77fb078ff5ab9ac13df451/tensorflow && \  exec env - \

[2016-03-01 10:26] kshmelkov opened #1343 "sigmoid cross entropy doesn't verify shapes"
Hello,

I have found a misleading behaviour in `sigmoid_cross_entropy_with_logits` function. If I pass a tensor of shape `(n, 1)` as logits and a tensor of shape `(n,)` as targets it outputs a tensor of `(n, n)` which is obviously different from tensor `(n,)` if both tensors have the same shape `(n,)`. Although api docs say that logits and targets must have the same shape, this example doesn't fai

[2016-03-01 12:12] nryant commented on #1311
Verified working as of e928a43f79163bdbbe3cca6c240ea4630f75b1b0. Thanks!

[2016-03-01 13:06] dsmilkov commented on #536
[Here is](https://www.tensorflow.org/versions/master/how_tos/graph_viz/index.html#tensor-shape-information) part of the tutorial explaining how to add tensor shapes to the graph visualizer.

[2016-03-01 13:06] #536 closed

[2016-03-01 13:20] dsmilkov commented on #1046
Closed in #1134

[2016-03-01 13:20] #1046 closed

[2016-03-01 13:39] alquraishi opened #1344 "op.device no longer showing which device an op is actually placed on"
Using the latest builds, it appears that `op.device` now returns the device that an op is supposed to be placed on, i.e. what the user specifies, as opposed to what it is actually placed on. I believe this is true because when I set `allow_soft_placement` to `False` when starting a `Session`, some ops, for example `global_step`, cannot be placed on the GPU. But if I assign them to the GPU and then

[2016-03-01 16:31] cameronphchen commented on #1293
Note quite sure what do you mean by minimizing a matrix `t` in your example.
If you want to optimize for matrix trace, there's a workaround.
I do agree that it would be great to support gradient on tf.diag.

`import tensorflow as tf
import numpy as np

with tf.Graph().as_default():
    Y = np.random.rand(3,3).astype(np.float32)
    X = tf.Variable(np.random.rand(3,3).astype(np.float32))
    Z = tf

[2016-03-01 18:06] hhclam commented on #1329
I think using configure is also the best thing to do as well. configure can find a way to plugin the location of swig through command line or generate an external local repository for swig. It needs to configure SWIG_LIB as well.

[2016-03-01 18:57] #1311 closed

[2016-03-01 19:24] e14159 opened #1346 "CUDA compilation on ArchLinux fails"
## Overview

Build fails with

[code]

## Specific information:
- ArchLinux system
- Compute Capability 3.0 necessary
- CuDNN 4, CUDA 7.5
- Bazel 0.2.0

#### Followed the installation from source instructions:
- CuDNN 4, CUDA 7.5 are installed in /opt/cuda
- `git clone -b v0.7.1 --recurse-submodules https://github.com/tensorflow/tensorflow`
- `cd tensorflow`
- `./configure` Details as attached. Bu

[2016-03-01 20:22] murraymack commented on #1244
I have this same Error. When I pip install protobuf it says my requirements are satisfied but I still get the error. Any ideas?

[2016-03-01 20:34] ponythewhite opened #1347 "Embedding Lookup - shared weights: Dimensions are not compatible error"
### Environment info
Operating System: Linux

Installed from sources, commit hash: 7b5fef17806e2138ef16e8399ef5b1078d404dbe
Python 2.7.11 |Anaconda 2.3.0 (64-bit)| (default, Dec  6 2015, 18:08:32)

### Steps to reproduce
[code]
### What have you tried?
1. Commented lines seem to mitigate the problem, but then the embedding matrix is not shared, which is desired for my use case.

### Logs or other

[2016-03-01 20:37] bcarpenter-pub opened #1348 "Error when running User Defined Op Tutorial"
For bugs/issues, please fill in the following.  The more information you
provide, the more likely we can help you.

### Environment info
Operating System:  Tried both on OS X and Rhel7

If installed from binary pip package, provide:

1. Which pip package you installed.

sudo pip install --upgrade https://storage.googleapis.com/tensorflow/mac/tensorflow-0.7.1-cp27-none-any.whl
2. The output from py

[2016-03-01 20:48] ponythewhite commented on #1347
[code]

Seems to be a functional workaround.

[2016-03-01 21:33] aidangomez opened #1349 "Question about back propagation in time-delayed recurrent models"
The full question is available here: http://stackoverflow.com/questions/35733302/back-propagation-in-tensorflow

The question concerns whether I would have to implement a custom backward step in order to create something similar to the [clockwork model](http://jmlr.org/proceedings/papers/v32/koutnik14.pdf). In the event that I would, I was wondering if there is reference code for how I might prope

[2016-03-01 21:43] vrv commented on #1340
Unfortuately we don't have a pip package for 32-bit linux right now.  You'd have to build from sources, and I'm not even sure it's supported.

[2016-03-01 21:43] #1340 closed

[2016-03-01 21:49] vrv commented on #1343
That is indeed a bug.  We can add the proper shape validation code in that function to prevent the unexpected broadcasting.

[2016-03-01 22:02] vrv commented on #1347
Yeah, I think this is the only workaround for now -- it looks like during gradient construction, we have to aggregate the gradients to 'W' from the two different sources with different shapes, and it's not easy to know that one of them needs to be zero-padded.  Slicing provides this extra bit of information.

I'm not sure of a straightforward way to make this easy, so I think your workaround is pr

[2016-03-01 22:02] #1347 closed

[2016-03-01 22:03] raingo opened #1350 "nan gradients with low memory gpu"
### Environment info
Operating System:
`3.12.9-201.fc19.x86_64 #1 SMP Wed Jan 29 15:44:35 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux`

GPU card info from `lspci -v | grep gtx -i`
[code]

If installed from binary pip package, provide:

1. pip package installed:
`https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.7.1-cp27-none-linux_x86_64.whl`
2. The output from python -c "import tensorf

[2016-03-01 22:04] vrv commented on #1292
Duplicate of #464 (contributions welcome!)

[2016-03-01 22:04] #1292 closed

[2016-03-01 22:06] vrv commented on #1350
It's possible this is not a bug -- changing the batch size often requires changing the learning rate.

[2016-03-01 22:07] bcarpenter-pub commented on #1348
Dupicate of #1270

[2016-03-01 22:07] #1348 closed

[2016-03-01 22:08] bcarpenter-pub commented on #1348
The protobuf error was coming from a bad installation, and there was a previous error around the eigen that is now fixed.

[2016-03-01 22:09] raingo commented on #1350
I didn't apply the optimizer at all. Just check the gradients from the beginning.

[2016-03-01 22:11] vrv commented on #1350
I think we would need real code to reproduce this, and very strong evidence to suggest there is a bug to make it worth our time to investigate (we do have 276 open bugs and growing...)

[2016-03-01 22:14] raingo commented on #1350
Sure. I will create a test case soon.

[2016-03-01 23:20] #1274 closed

[2016-03-01 23:30] andrewharp commented on #1269
batch_norm_op.cc is not included in the default Android operator sets. You can add it in to one of the filegroups in the kernels BUILD file: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/BUILD#L987

[2016-03-01 23:37] vrv commented on #1269
@andrewharp: shouldn't we do this?

[2016-03-01 23:44] andrewharp commented on #1269
Sure, I don't see any reason it shouldn't be included, just assumed it was left out on purpose.

[2016-03-02 00:04] xiao-cheng commented on #1244
@murraymack I resolved this issue by downgrading the protobuf library for now. The latest one is missing __init__.py, i.e. a broken package.

[2016-03-02 00:05] mbeale commented on #1244
I had this error on mac but then upgraded easy_install

`sudo easy_install --upgrade six`

[2016-03-02 00:12] murraymack commented on #1244
@xiao-cheng Yes. I did the same unintentionally. I ended up pip uninstalling tensorflow AND pip uninstalling protobuf, and then just pip installed tensorflow and it worked.

For anyone reading, I did this through a Python 2.7 virtual env created in Anaconda.

[2016-03-02 00:41] barneypell commented on #842
+1

[2016-03-02 00:49] raingo commented on #1350
I will reopen this when I have a solid example.

[2016-03-02 00:49] #1350 closed

[2016-03-02 00:52] vrv commented on #1344
op.device reflects what the user specified, because it is part of the GraphDef that is sent to TensorFlow.

If you use log_device_placement in the ConfigProto, you will get a log of what the assigned device is (after applying all soft_placement rules, etc).  I don't think op.device ever could reflect what the runtime actually did.

[2016-03-02 01:23] istaslis commented on #1293
Thank you very much, @cameronphchen! This is a very nice workaround which is worth mentioning in the documentation. I am new to tensorflow and it took me a while to realise that derivative on diag is not implemented.
Thanks again for your help, this resolves my issue.

[2016-03-02 01:24] vrv commented on #1346
I am not sure either.  It looks like maybe the failure is during nvcc compiling aggregate_ops_gpu.cu.cc, but I don't understand why it works for us at CUDA 7.0 and not for you.

[2016-03-02 02:34] blueegg opened #1352 "fix build bug come from 8041c54"
For bugs/issues, please fill in the following.  The more information you
provide, the more likely we can help you.

### Environment info
Operating System: OSX

If installed from sources, provide the commit hash: 8041c54

**tensorflow/contrib/linear_optimizer/BUILD**

    linkopts = [
         "-Wl,-Bsymbolic",
         "-lm",
    ],

**should change to:**

    linkopts = select({
        "//condit

[2016-03-02 02:44] bchretien commented on #1346
The `__builtin_ia32_monitorx`/`__builtin_ia32_mwaitx ` error is a fairly common issue. You can try disabling `mwaitx` when using nvcc (append this to your nvcc flags: `-Xcompiler;-mno-mwaitx`). Forcing `__STRICT_ANSI__` may help as well, although that's something I only had to use on my own code since it relies on Boost 1.60, and it seemed to be related to missing `__float128` support in nvcc (cf

[2016-03-02 05:12] murraymack commented on #1121
So the temporary fix for this is to use 0.6.0 for TensorFlow?

[2016-03-02 05:18] vrv commented on #1121
Try upgrading to 0.7.1
pip uninstall tensorflow
pip uninstall protobuf
pip install path/to/0.7.1.wheel

[2016-03-02 05:37] murraymack opened #1353 "AttributeError: 'module' object has no attribute 'truncated_normal'"
Operating System: **Ubuntu 14.04 LTS**
Environment: **Python 2.7.11 :: Continuum Analytics, Inc.**
IDE: **Spyder and IPython**
TensorFlow Version: **0.7.1**
Pip Package File: **tensorflow-0.7.1-cp27-none-linux_x86_64.whl 64-Bit CPU ONLY**
Pip Package File from: [https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.7.1-cp27-none-linux_x86_64.whl](https://storage.googleapis.com/tensorflo

[2016-03-02 05:42] orodbhen commented on #136
Same issue with the latest stable release of Tensorflow, Quadro 970M with 2GB mem.

According the logging output, BFC allocator was being used.

    W tensorflow/core/common_runtime/gpu/gpu_bfc_allocator.cc:211] Ran out of memory trying to allocate 29.91MiB.  See logs for memory state

29.9 MB doesn't seem like an awful lot, but I'm assuming it has to be allocated contiguously.

[2016-03-02 05:49] craigcitro commented on #223
@zkl99999 this sounds like a connectivity problem; are you still seeing this?

[2016-03-02 06:55] vrv commented on #1353
That's really strange -- can you try installing in a virtualenv from scratch, to isolate the installation?

[2016-03-02 06:56] vrv commented on #1352
Thanks for the report, we'll get in a change tomorrow!

[2016-03-02 07:23] gaoteng-hi opened #1354 "How to decrease memory usage on GPU card"
When I run example like mnist on GPU card, I see that it consumes almost all device memory of that card. It seems like the tensorflow reserves as much memory as possible for memory pool at the start of process.
However, we need to run the tensor flow on a shared GPU card, on which runs other users' processes. So we can't occupy all device memory of it. Is there any switch to turn this memory pool

[2016-03-02 07:28] lglhuada commented on #1354
I guess you are considering tensorflow for your online service. We intend to use it for models in our search engine as well, but the GPU usage is really an annoying problem. I am looking forward to positive feedback ;)

[2016-03-02 09:33] omarcr opened #1355 "Resource exhausted"
This error happens when training several models in a for loop:

`W tensorflow/core/common_runtime/executor.cc:1076] 0x18ef02bb0 W tensorflow/core/common_runtime/executor.cc:1076] 0x18ef02bb0 Compute status: Resource exhausted: OOM when allocating tensor with shape
	 [[Node: sub_2518 = Sub[T=DT_FLOAT, _device="/job:localhost/replica:0/task:0/gpu:0"](sub_2518/x, Variable_1955/read)]]
Traceback (most

[2016-03-02 09:42] e-lin opened #1356 "Compile error"
MacOS, master branch pull minutes ago.
I intended to try this `bazel build -c opt //tensorflow/tools/pip_package:build_pip_package`

### Bazel version:
Build label: 0.1.5
Build target: bazel-out/local_darwin-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Jan 21 12:53:53 2016 (1453380833)
Build timestamp: 1453380833
Build timestamp as int: 145

[2016-03-02 09:52] blueegg commented on #1356
fix as: #1352

[2016-03-02 10:27] e-lin commented on #1356
@blueegg Thanks! This works for me! I close this case.

[2016-03-02 10:27] #1356 closed

[2016-03-02 10:31] ponythewhite commented on #1347
Understood & agreed. Might be beneficial to document this behavior for `embedding_lookup` though - sharing a dictionary over multiple input fields is a pretty common use case.

[2016-03-02 12:36] alexggmatthews commented on #367
Myself and James Hensman have implemented the method from the reference paper by Iain murray in TensorFlow on a fork:

https://github.com/GPflow/tensorflow/blob/master/tensorflow/core/user_ops/chol_grad.cc

@vrv we're aware it isn't yet up to TensorFlow main repo standards but would you like to discuss getting it into the main repo.

[2016-03-02 13:37] alexggmatthews commented on #367
Also we have a fair number of unit tests here:

https://github.com/GPflow/tensorflow/blob/master/tensorflow/python/kernel_tests/cholesky_grad_op_test.py

[2016-03-02 13:43] alexggmatthews commented on #367
@rmlarsen Would you like to help?

[2016-03-02 13:50] dgschwend commented on #15
@vrv Any news on fixed-point / quantized data type support?
I am designing an FPGA-based accelerator for CNNs as my master thesis in the next few months. It would be awesome to be able to train the models with fixed-point weights and activations.
Do you have any roadmap for fixed-point support?

[2016-03-02 14:06] alquraishi commented on #1344
I may have been mistaken about the previous behavior. I do know about `log_device_placement`, but prefer op.device as it's easier to work with it programmatically, especially with very large unfolded graphs that have hundreds of thousands of nodes. If there's some way to provide an alternative mechanism to probe actual device placement programmatically from within python that would be fantastic.

[2016-03-02 14:29] lfwin opened #1359 "run time error:could not find cudnnConvolutionBackwardData_v2 in cudnn DSO"
Operating System:ubuntu 14.04LTS
pip install 0.6 and  sudo pip install --upgrade .. to 0.7
The output from python -c "import tensorflow; print(tensorflow.__version__)" is:
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_execu

[2016-03-02 15:03] plazonic commented on #1307
The problem is in the external dependency gprc which uses secure_getenv which only appeared in glibc 2.17 - https://sourceware.org/glibc/wiki/Tips_and_Tricks/secure_getenv

Turns out that gprc can be told to try to use other symbols as well but it needs the -DGPR_BACKWARDS_COMPATIBILITY_MODE option, e.g. I've managed to compile CPU only version by doing this:
bazel build --linkopt '-lrt' --copt '-

[2016-03-02 16:08] BlackyTheBlueCat opened #1360 "Tensorflow Cifar-10 evaluation error: Enqueue operation was cancelled"
Operating System: Mac Os X 10.9.5

Current tensorflow version 0.7.1

I am trying to get the Cifar-10 tutorial running on my own data set (so using other images, but the same code). Training works fine. However, the evaluation seems to have a problem. Whenever I run the evaluation, I get the following message:

W tensorflow/core/common_runtime/executor.cc:1102] 0x7fc6fe504a20 Compute status

[2016-03-02 16:59] yaroslavvb commented on #1355
It sounds like you are running out of memory

[2016-03-02 17:02] yaroslavvb commented on #1354
http://stackoverflow.com/questions/34199233/how-to-prevent-tensorflow-from-allocating-the-totality-of-a-gpu-memory

[2016-03-02 17:03] #1354 closed

[2016-03-02 18:03] vrv commented on #1359
What version of cudnn do you have?  The pip package at 0.7.1 is built assuming you have cudnn r4.  You have to build from sources if you want to support earlier versions.

[2016-03-02 18:04] cbonnett opened #1361 "Installation error "error: identifier "__shfl_down" is undefined" (Trying with Compute Capability 2.0)"
I'm trying to install tensor flow from source, as I would like to use GPU's
that have compute capability == 2.0. (And I suspect that problems lies here and might be not have a trivial solution)

### Environment info
Operating System:
uname -or
3.16.0-4-amd64 GNU/Linux
bazel release 0.2.0
#Commit hash
git log --pretty=format:'%h' -n 1
99952d6
git log -1 --format="%H"
99952d68444cd2b08e88af972bd9eb7

[2016-03-02 18:07] vrv commented on #1361
Yeah, I don't think TensorFlow's or Eigen's GPU kernels are written for pre 3.0 compute capability :(

[2016-03-02 18:10] michaelnhw commented on #1334
Have issue compiling on Mac OS X 10.10, pulled from master branch couple minutes ago.

ERROR: /Users/michael/tensorflow/tensorflow/contrib/linear_optimizer/BUILD:14:1: Linking of rule '//tensorflow/contrib/linear_optimizer:python/ops/_sdca_ops.so' failed: osx_gcc_wrapper.sh failed: error executing command external/bazel_tools/tools/cpp/osx_gcc_wrapper.sh -shared -o bazel-out/local_darwin-opt/bin/t

[2016-03-02 18:19] mranjbar opened #1362 "matrix_solve_ls_op Compile Error on gcc 4.8 (using typename error)"
I have been trying to compile tensorflow from source without success.
I could compile version 0.6.0 with no trouble, but trying to compile 0.7.1 produces the following error:

<blockquote>
tensorflow/core/kernels/matrix_solve_ls_op.cc: In member function 'void tensorflow::MatrixSolveLsOp<Scalar, SupportsBatchOperationT>::ComputeMatrix(tensorflow::OpKernelContext*, const typename tensorflow::Binary

[2016-03-02 18:37] Dringite commented on #1334
my issue is fixed.

[2016-03-02 18:53] mrry opened #1363 "Tests in //tensorflow/core/distributed_runtime/... sometimes time out"
Some of the tests in this directory (in particular, `master_test` and `rpc/grpc_session_test`) spawn subprocesses containing TensorFlow servers that listen on unused ports. There is a potential TOCTOU bug in this code because the process is:

1. Pick unused ports in the parent.
2. Fork processes and instruct them to bind to the picked ports. (At this point another process can bind the same ports.)

[2016-03-02 19:02] vrv commented on #1360
Duplicate of #1341, essentially.

I think this is superfluous logging.  I tried to get rid of this but apparently these logs are useful for debugging deadlocks. @jmchen-g

Maybe we should just write to log files instead of spamming users.

[2016-03-02 19:02] #1360 closed

[2016-03-02 19:23] e14159 commented on #1346
For reference, I have also used CUDA 7.0 (and CuDNN 4). Same error.

This was one of the other things I had experimented with before (following #1066). I ran into the second error, too.

No `hardening-wrapper` installed, but looking at the flags might be a good start.

For now, I am going to roll back to 0.6.0, reproduce the exact steps I needed to get it to run (since I know it once worked) and t

[2016-03-02 19:33] leconteur commented on #1334
I have the same issue as michaelnhw has.

[2016-03-02 19:58] vrv commented on #1334
I pushed c3c40b7a8950bba876b92456824e5b6a9505c0a7 to fix the first problem, but now there's one more linker problem.  I just fixed that internally and will be pushing it out momentarily.

[2016-03-02 19:59] vrv commented on #1352
Fixed in c3c40b7a8950bba876b92456824e5b6a9505c0a7.  Still one more error to fix.

[2016-03-02 19:59] #1352 closed

[2016-03-02 20:26] cbonnett commented on #1361
I was afraid that was the case....

[2016-03-02 20:26] #1361 closed

[2016-03-02 20:38] vrv commented on #1334
Okay, I think the builds are going to be green (or at least, not broken).

[2016-03-02 20:38] #1334 closed

[2016-03-02 20:53] kbrems commented on #1334
pip package still does not build:

ERROR: /home/karenbre/tensorflow/tensorflow/core/distributed_runtime/rpc/BUILD:158:1: undeclared inclusion(s) in rule '//tensorflow/core/distributed_runtime/rpc:grpc_remote_master':
this rule is missing dependency declarations for the following files included by 'tensorflow/core/distributed_runtime/rpc/grpc_remote_master.cc':
  'bazel-out/local_linux-opt/genfiles

[2016-03-02 21:05] vrv commented on #1334
@keveman, @mrry, any ideas?

[2016-03-02 22:24] vrv commented on #1362
I don't have gcc 4.8 installed, and I think the problem is that gcc 4.8 can't understand the 'using typename' declaration there.

In https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/matrix_solve_ls_op.cc#L66, can you try changing the
'using' to just 'typedef' ?

[2016-03-03 01:23] robwell opened #1365 "histogram_summary does not respect name_scope"
I am getting a Duplicate tag error when I try to write out histogram summaries for a multi-layer network that I generate procedurally. The problem is that the name given to a histogram_summary (and I assume all summaries) does not respect name_scope. As a consequence, the names are not unique. This seems like a bug.

For example, in:
[code]
I'd assume that 'weights' would be scoped to some_unique_

[2016-03-03 01:45] lfwin commented on #1359
Hi,
I have cuda installed folders such as: cuda, cuda-7.0, cuda-7.5, all they under this path /usr/local/. I copy cudnn r2, r3, r4 in all folders:cuda, cuda-7.0, cuda-7.5, but this did not work? how to check my tensorflow actually use which version of cudnn and cuda?

[2016-03-03 01:59] lfwin commented on #1359
Hi,
finally sovled, cudnn lib64 files placed in /usr/local/cuda/lib64 according to the install tutorial:
tar xvzf cudnn-6.5-linux-x64-v2.tgz
sudo cp cudnn-6.5-linux-x64-v2/cudnn.h /usr/local/cuda/include
sudo cp cudnn-6.5-linux-x64-v2/libcudnn* /usr/local/cuda/lib64
sudo chmod a+r /usr/local/cuda/lib64/libcudnn*
but actually my program search in /usr/local/lib, thank you very much

[2016-03-03 02:02] lfwin commented on #1359
In addtion i use cudnn-7.0-linux-x64-v4.0-rc.tgz this cudnn, so tutorial above cudnn-6.5* will be replaced by cudnn-7.0*, hope this maybe helps someone has the same problem

[2016-03-03 02:21] frankcarey commented on #1300
+1 for this.. other reasons include reducing data storage. (on disk only, since 64bit CPU arch still uses just as much RAM), which means the storage and reading to and from disk for large datasets is a lot faster.

[2016-03-03 04:55] syed-ahmed commented on #1269
@andrewharp @vrv Hi Guys, thank you for the commits. I have been keeping up to date with it. I am now able to load the newer inception model and even load a retrained inception model on my custom classes into the android demo!

Here are some things I encountered when making the android demo work with the newer inception model/retrained model. The android kernel thing requires the check_numerics_op

[2016-03-03 04:59] ebrevdo opened #1366 "Implement the Special Functions incbet,igam,igamc for CPU+GPU for float & double."
incbet: [incomplete beta integral](http://www.netlib.org/cephes/doubldoc.html#incbet)
igam: [incomplete gamma integral](http://www.netlib.org/cephes/doubldoc.html#igam)
igamc: [complemented incomplete gamma integral](http://www.netlib.org/cephes/doubldoc.html#igamc)

[2016-03-03 05:00] syed-ahmed commented on #504
@petewarden Hi Pete, I was able to load the newer inception model and a retrained version as well in the android demo. I have written a short reply to #1269 . The kernels BUILD file was missing "batch_norm_op" and "check_numerics_op". Adding them, changing the input node and output node to "Mul" and "final_result" (or "softmax" for the newer model), and increasing the protobuf file limit fixed the

[2016-03-03 07:10] savage7 commented on #504
@syed-ahmed
Is your model just loading or also correctly recognizing your trained images? I looked at the label_image code and there is a difference in mapping rgb->float values in the Android code which I had to change.
My current model uses a not very good training set so I'm not 100% sure if the solution is correct...

What I did to fix the mapping of the rgb-> float values:

Original label_ima

[2016-03-03 07:12] lukaszkaiser commented on #1323
I was thinking about this, and I'd like to know more about your use-case. While we could add the extra shape inference code to BasicLSTMCell, the question arises where else should we do it. In every LSTM cell? In every layer in contrib, in every layer we write anywhere? I mean -- that's the reason we have automatic shape inference, so we don't write (and maintain) this code at every point.

The ab

[2016-03-03 09:05] ffmpbgrnn commented on #1300
I currently save my input in the format of HDF5 with np.fp16, and then transform to fp32 before feeding to the network. It would be great to support fp16 ops.

[2016-03-03 09:37] kibtes commented on #1359
@lfwin  I still have the same error after placing cudnn lib 64 files in usr/local/cuda/lib64. what should i do?

[2016-03-03 09:56] zkl99999 commented on #223
@craigcitro  thank you, in China,you  know  break wall  haha

[2016-03-03 09:57] zkl99999 commented on #223
@craigcitro  i install TF ok  in docker,thank you

[2016-03-03 10:04] bonevbs opened #1367 "ImportError: No module named core.framework.graph_pb2"
Hello, I am trying to build tensorflow from source without CPU support. When I try to import it in python I am getting the error "ImportError: No module named core.framework.graph_pb2".

I have tried this on Arch Linux AND on Ubuntu which gives me the impression I might be doing something wrong. However I am exactly following the instructions on the TF homepage.

I would appreciate any help!!

###

[2016-03-03 10:21] sesse commented on #1300
I'm currently working on this. There's a fair amount of work to do—the CUDA “half” type is just a struct of uint16_t, which doesn't really match what Eigen expects. In particular, Eigen expects all such arithmetic types to have operator overloads, converts to and from other arithmetic types (including even bool), etc. The actual arithmetic intrinsics require CUDA compute 5.3 (which right now means

[2016-03-03 11:22] #1367 closed

[2016-03-03 11:23] bonevbs commented on #1367
The problem was that I did not do the pip install step.

[2016-03-03 13:59] zkl99999 commented on #1254
，，，  --upgrade？？？

[2016-03-03 14:34] sarah039 opened #1368 "svhn: tensorflow/core/common_runtime/executor.cc:1027] 0x2076650 Compute status: Invalid argument: Indices are not valid (out of bounds). Shape: dim { size: 128 } dim { size: 10 }"
When I tried to train model by SVHN data I faced the above exception.
Stackoverflow link is here: http://stackoverflow.com/questions/35756236/tensorflow-tried-svhn-by-editing-label-0-9-still-not-working

Did I did something wrong/ missed any logic or is it a bug?
Please help me. I have already attempted in several ways but could not figure out the reason.

Thanks

[2016-03-03 15:34] syed-ahmed commented on #504
@savage7 yes, the model is correctly recognizing images. You are right that there is a difference in implementation between the label_image and android demo. I have seen that the android demo doesn't use the division op using the standard dev that is done in the label_image. I guess that is because of the way the input tensor is being filled up (mapping RGB values) in the android demo.

I tried do

[2016-03-03 15:38] maheshwarLigade opened #1369 "Tensorflow issue"
For bugs/issues, please fill in the following.  The more information you
provide, the more likely we can help you.

### Environment info
Operating System:
OSx
If installed from binary pip package, provide:
pip, Virtualenv
1. Which pip package you installed.
2. The output from python -c "import tensorflow; print(tensorflow.__version__)".
0.7.1
If installed from sources, provide the commit hash:

##

[2016-03-03 16:04] jjhelmus commented on #1143
I was able to create tensorflow 0.7.1 conda packages and wheel files from source which should work with the Python shipped with Anaconda.  Files are available for both linux-64 and osx-64 for Python 2.7, 3.4 and 3.5 in my [Anaconda.org channel](https://anaconda.org/jjhelmus/tensorflow).

I believe with the release of 0.7.1 this issue can be closed.

[2016-03-03 16:31] bchretien commented on #1346
@e14159 can you try with `-D_FORCE_INLINES`? I just had the same issue with pcl, I checked the `string.h` header, and using that preprocessor directive skips the block where the `memcpy` error appears. There's probably a cleaner workaround though...

[2016-03-03 16:47] joseangl opened #1370 "MultiRNNCell with different cell sizes"
When I try to create a MultiRNNCell with different number of units in the recurrent cells (e.g. 5-layer RNN with 32-64-32 GRUCells in the hidden layers) I got the following error:

`ValueError: In MultiRNNCell, the input size of each next cell must match the output size of the previous one. Mismatched output size in cell 0.`

Is it currently possible to create a MultiRNNCell with different number

[2016-03-03 17:41] petewarden commented on #504
The division sounds like it will give the correct results, but for the wrong reasons. :)

The key difference between the current Android demo code and the label_image example is that they use different versions of the Inception model. The current Android model requires a divisor of 1, and a subtraction of 117. You can see the image mean defined here:
https://github.com/tensorflow/tensorflow/blob/m

[2016-03-03 17:53] rdipietro commented on #1370
It's pretty much what it says: when you construct the cells, every next cell's input must have the same size as the previous cell's output. Unless it's changed recently, BasicLSTMCell makes the input size and the hidden size = output size the same. So it can't be used for what you're trying to do. If you're using that, take a look at LSTMCell instead, where you can specify the sizes separately.

[2016-03-03 17:58] syed-ahmed commented on #504
@petewarden Hi Pete, so I loaded the newer inception model in the android demo with the input size of 299 and mean of 128. I got "correct recognition" however, I didn't divide the RGB values with 128 in the tensorflow_jni.cc. The division part looks like what we do in standardizing a random variable that is normally distributed? So since I didn't divide it with 128, does it mean that the recogniti

[2016-03-03 18:01] rdipietro opened #1372 "Compilation error: missing dependency declarations ... external/re2/util/rune.cc"
### Environment info
Operating System: CentOS 6.7

If installed from sources, provide the commit hash: eda89e930cfcbd992ecacafd40267d733e2153dc

### Steps to reproduce
1. ./configure (CUDA enabled)
2. bazel build -c opt --config=cuda --verbose_failures --genrule_strategy=standalone --spawn_strategy=standalone //tensorflow/cc:tutorials_example_trainer

### What have you tried?
1. Using --genrule_st

[2016-03-03 18:02] vrv commented on #1355
Yes, this sounds like an out-of-memory issue.  Try reducing your model size / number of concurrent active models.  Note that we will continue to try to improve our GPU memory utilization, so the situation may get better over time.

[2016-03-03 18:02] #1355 closed

[2016-03-03 18:06] vrv commented on #1372
Are you able to use bazel to compile the re2 library from https://github.com/google/re2 by itself?  If not, you might want to file the issue with either re2 / bazel, since this looks like it's not Tensorflow related from a first glance.

[2016-03-03 18:08] girving commented on #1250
int32 should work fine on GPUs now.  I'll fix this.

[2016-03-03 18:12] kalleknast opened #1373 "import tensorflow results in segfault."
For bugs/issues, please fill in the following.  The more information you
provide, the more likely we can help you.

### Environment info
Operating System:
ubuntu 15.10 64-bit
Python 3.4.3+

If installed from binary pip package, provide:
1. Which pip package you installed.
https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.7.1-cp34-none-linux_x86_64.whl
2. The output from python -c "i

[2016-03-03 18:15] vrv commented on #1369
This doesn't look like an issue with TensorFlow -- please comment if you disagree.

[2016-03-03 18:15] #1369 closed

[2016-03-03 18:21] vrv commented on #1373
What version of python3 do you have installed?

[2016-03-03 18:26] rdipietro commented on #1372
I just cloned google/re2 alone and ran

`bazel build -c opt --config=cuda --verbose_failures --genrule_strategy=standalone --spawn_strategy=standalone :re2`

I get no errors and bazel-bin is populated appropriately.

[2016-03-03 18:28] kalleknast commented on #1373
I used Python 3.4.3+

[2016-03-03 18:40] girving commented on #1293
Once https://github.com/tensorflow/tensorflow/pull/1265 is in place this becomes very easy to fix.

[2016-03-03 18:44] alquraishi opened #1374 "Document trick with slash in scope names"
The documentation for `tf.name_scope` is rather ambiguous on what happens if the scope name ends with '/', merely stating what happens if it doesn't end with a '/'. The fact that the behavior is different, specifically that ending with a '/' does not result in automatically uniqueifying the scope name, is very important and useful, because sometimes one wants to reenter a previously created scope.

[2016-03-03 18:45] rdipietro commented on #1372
I just realized that TensorFlow has a similar CROSSTOOL file with the same hard-coded paths as bazel. I'll try updating these in the same way that I did with bazel and see what happens / will update soon.

[2016-03-03 18:47] maheshwarLigade commented on #1369
This is not an issue with tensorflow but encounter when I fallow the udacity deep learning course.
How do I resolve that one?

[2016-03-03 19:12] rdipietro commented on #1372
I got by this error but am still stuck. Will open another issue as it has nothing to do with this one. In case others have this problem:

See https://github.com/bazelbuild/bazel/issues/760

You need to edit tensorflow/third_party/gpus/crosstool/CROSSTOOL and make the same gcc / cpp / linker_flag / cxx_builtin_include_directory adjustments.

[2016-03-03 19:12] #1372 closed

[2016-03-03 19:27] rdipietro opened #1375 "Compilation issue: 'Matrix' is not a class, namespace, or enumeration"
### Environment info
Operating System: CentOS 6.7
If installed from sources, provide the commit hash: eda89e930cfcbd992ecacafd40267d733e2153dc

### Steps to reproduce
1. Configure for gcc 4.8.2
2. ./configure
3. Edit third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc
    - This is necessary; otherwise `gcc` can't find `as`.
    - In fact, there are notes about this:
        -

[2016-03-03 19:41] nryant commented on #1370
All the cells implemented in ``rnn_cell`` allow specification of the input size via ``input_size``, which by default is set to equal ``num_units``.

[2016-03-03 19:47] sarah039 opened #1376 "AttributeError: 'module' object has no attribute 'random_crop'"
I'm on using Ubuntu 14.04 and installed tensorflow. When I ran the image processing example as in the website, it failed complaining about random_crop not found. I took the code from here
https://github.com/tensorflow/tensorflow/blob/r0.7/tensorflow/models/image/cifar10/

Here's the exception stack:

[code]

[2016-03-03 19:53] #1343 closed

[2016-03-03 19:53] vrv commented on #1375
Duplicate of #1362 -- can you see the suggestion I added there?

[2016-03-03 19:53] #1375 closed

[2016-03-03 19:55] vrv commented on #1376
what version of tensorflow do you have?  We renamed tf.image.random_crop to tf.random_crop between 0.6 to 0.7 -- upgrading should solve the problem, or checking out the code at the 0.6.0 branch if you don't want to upgrade.

[2016-03-03 19:55] #1376 closed

[2016-03-03 19:56] rdipietro commented on #1370
That wasn't true a short time ago. Just checked. If he's using 0.6.0 or r0.7, then `BasicLSTMCell` doesn't accept input size.

[2016-03-03 20:09] chemelnucfin commented on #1293
I should have the python code implementation (which is like 2 lines).  I'll need to add tests though.

[2016-03-03 20:09] cameronphchen commented on #1293
@girving Yes, I have been following that thread. It would be great to add matrix trace operator as well! I can help with these when #1265 is done.

[2016-03-03 20:10] sarah039 commented on #1368
Solved. If interested follow the stackoverflow link.

[2016-03-03 20:10] #1368 closed

[2016-03-03 20:15] cameronphchen commented on #1293
@chemelnucfin Oh, that's great! Let me know if you need an extra hand.

[2016-03-03 20:16] sarah039 commented on #1368
Thanks, updating tensorflow solved the issue

[2016-03-03 20:25] omarcr commented on #1355
Hi, there is no number of concurrent models.
What I do is right after training/testing one model, I start training/testing other in a for loop.
There is a limited number of models I can try consecutively due to this error.

[2016-03-03 20:29] rdipietro commented on #1362
This didn't work for me – resulted in further errors:

[code]

Any thoughts? If more error log would be helpful just let me know. Thanks!

[2016-03-03 20:53] vrv commented on #1362
you should do typedef typename BinaryLinear......::Matrix Matrix;

(Need to give it a name)

[2016-03-03 21:03] mranjbar commented on #1362
That's right. The following changes fixed the problem on gcc 4.8.2

<blockquote>
diff --git a/tensorflow/core/kernels/matrix_solve_ls_op.cc b/tensorflow/core/kernels/matrix_solve_ls_op.cc
index c69c93f..4ce6dff 100644
--- a/tensorflow/core/kernels/matrix_solve_ls_op.cc
+++ b/tensorflow/core/kernels/matrix_solve_ls_op.cc
@@ -63,11 +63,11 @@ class MatrixSolveLsOp
     }
   }

-  using typename Binar

[2016-03-03 21:11] vrv commented on #1362
Let me submit a fix to this

[2016-03-03 21:11] chemelnucfin commented on #1293
@cameronphchen feel free to work on them!  But do the trace first.  I'm taking a look at something else at the moment.  I'll put a note here when I get back to the diag grad test.

[2016-03-03 21:20] zyy20853 commented on #1244
@murraymack  thanks for your methods, it works fine even with only pip installation.

[2016-03-03 21:25] cameronphchen commented on #1293
sounds good! I'll work on trace then.

[2016-03-03 21:29] e14159 commented on #1346
It worked!
Specifically, I've inserted `cxx_flag: "-D_FORCE_INLINES"` into `tensorflow/third_party/gpus/crosstool/CROSSTOOL`:48.
I have compiled it successfully (despite some complaints due to it being both inlined and outlined) both with CUDA7.0/CuDNN2 (only with the test `bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer`) and CUDA7.5/CuDNN4 (both the test and the packag

[2016-03-03 21:29] #1346 closed

[2016-03-03 22:00] viksit opened #1377 "Tensorflow Website : Missing Mathjax results in broken equations"
The website tries to load,

`
https://www.tensorflow.org/MathJax/jax/output/HTML-CSS/fonts/STIX/fontdata.js?rev=2.6.1
`

and fails. Someone needs to fix the path to get the right version of mathjax, and have all the LaTeX symbols show up.

Thanks.

[2016-03-03 23:36] bcarpenter-pub opened #1378 "load_op_library breaks when loading 2 different .so"
For bugs/issues, please fill in the following.  The more information you
provide, the more likely we can help you.

### Environment info
Operating System:
Rhel 7

If installed from binary pip package, provide:

1. Which pip package you installed.
Built from source.  0.7.1 master 3/3/2016
2. The output from python -c "import tensorflow; print(tensorflow.__version__)".
0.7.1
If installed from source

[2016-03-04 02:36] liuguiyangnwpu opened #1379 "IF Exists the method about "dropconnect", THANK YOU !!"
For bugs/issues, please fill in the following.  The more information you
provide, the more likely we can help you.

### Environment info
Operating System:

If installed from binary pip package, provide:

1. Which pip package you installed.
2. The output from python -c "import tensorflow; print(tensorflow.__version__)".

If installed from sources, provide the commit hash:

### Steps to reproduce
1.

[2016-03-04 02:38] #1362 closed

[2016-03-04 02:46] KOHMA commented on #123
Hey, I had the same issue when trying to install Tensorflow in the Anaconda distribution of Python. I could fix it by installing tensorflow via this site: https://conda.anaconda.org/jjhelmus

I found this in this thread: https://github.com/tensorflow/tensorflow/issues/1097

Cheers and keep on deep learning :)

[2016-03-04 05:08] MisayaZ opened #1381 "inner product"
how to do inner product with tensorflow?

[2016-03-04 05:14] vrv commented on #1381
This isn't a bug  / feature request, so StackOverflow is a better venue for this question.

[2016-03-04 05:14] #1381 closed

[2016-03-04 05:15] vrv commented on #1379
This isn't a bug or a feature request (as far as I can tell), so this is better suited to Stack Overflow

[2016-03-04 05:15] #1379 closed

[2016-03-04 06:32] mrry commented on #1353
Also, if `import tensorflow` works, can you report the output of `dir(tensorflow)`?

[2016-03-04 07:39] perrohunter opened #1382 "Tensorflow Tutorial websites are full of "Math Processing Error" messages"
Hi,

I just wanted to bring this up, many of the tutorial pages in the current website are showing an error as follows:

[Math Processing Error]

This is showing instead of the formulas and make the learning processed a little bit more complicated.

Example affected page:

https://www.tensorflow.org/versions/r0.7/tutorials/word2vec/index.html#vector-representations-of-words

[2016-03-04 07:44] shiyemin opened #1383 "Attempting to use uninitialized value RNN/GRUCell/Gates/Linear/Bias"
### Environment info
Operating System:
Rocks OS (Centos 6.5)

I installed from sources, and here is my version:
https://github.com/shiyemin/tensorflow/
Nothing changed but to make it compile successfully on our server.

### ERROR
I use https://github.com/ethereon/caffe-tensorflow to convert caffe model to tensorflow and the GoogLeNet is selected to construct our network.

I add  a LSTM layer to th

[2016-03-04 07:47] vrv commented on #1382
Closing as duplicate of #1377 -- thanks for the report!

[2016-03-04 07:47] #1382 closed

[2016-03-04 07:47] joseangl commented on #1370
Yes, I'm using TF r0.7 and, as Robert says, you can specify the output size only for the LSTMCell.

[2016-03-04 07:50] vrv commented on #1383
Unless you think this is a bug in TensorFlow, this question is better suited to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow)

[2016-03-04 07:50] #1383 closed

[2016-03-04 08:49] melody-rain opened #1385 "bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package"
Why executing
"bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package"

deletes grpc.git and repulls it If I execute "bazel clean" ?

[2016-03-04 09:49] yi374700 commented on #1359
@kibtes I encountered the same problem today and after replacing the cuddn v2 stuff with v3 and it works. Try to make sure that the cuda dir is in your loading path.

[2016-03-04 10:09] rdipietro commented on #1362
This makes it compile (not quite there yet, as it now seg faults, but I think this is related to other solvable problems, so I think I'm close!). Thank you for the help.

[2016-03-04 11:27] melody-rain opened #1387 "For poor guys without access to boringssl located in google's server"
When I cloned the latest tensorflow and compile it with bazel, bazel clones grpc.git from github.
However grpc.git need clone submodule boringssl which is located in google's server. Since I have no stable vpn to have access to boringssl, I forked grpc.git to my github and changed WORKSPACE of tensorflow (located in tensorflow's root path) as follows:
 git_repository(
     name = "grpc",
-    comm

[2016-03-04 12:40] rdipietro commented on #1307
I can confirm that this works with the GPU version. Thanks very much. Including `EXTRA_BAZEL_ARGS` and the build command below for completeness. Some flags were included simply because they were suggested in other threads to circumvent other issues, but notice `--conlyopt="-std=c99"`. It wouldn't compile for me without this.

[code]

[2016-03-04 14:59] bver commented on #50
Great idea.
Some clever numpy equivalent should be used for TF/Ruby with respect to interfacing TF tensors.
https://github.com/SciRuby/nmatrix has an interface resembling numpy...?

[2016-03-04 15:42] oweingrod commented on #504
@petewarden Thank you so much for providing this tutorial. I'm working through it, attempting to use my retrained graph with the image_classify.py file, and I'm having issues with reading the graph back. I get this error:

`KeyError: "The name 'softmax:0' refers to a Tensor which does not exist. The operation, 'softmax', does not exist in the graph."`

Since the "output_graph.pb" file should in th

[2016-03-04 15:46] syed-ahmed commented on #504
Try "final_result" for the tensor name.

[2016-03-04 15:48] jtoy commented on #50
hi all, im very serious about getting this ported to ruby.  I do not have
the expertise to do that though.  I would be willing to fund  part (maybe
all) of this if someone or some team wants to work on it. Are any of you
interested in working on  this? I believe besides the  SWIG bindings
integration, we need the numpy like interface for manipulating the data.
My reasons for wanting this is simple

[2016-03-04 15:48] RyanYoung25 commented on #483
I'm a part of a group of 4 students from Drexel University who are currently working on this. Because we are not very familiar with tensorflow we are going to start by implementing tf.argument() directly as a kernel without a GPU kernel. After we get that we are going to try to implement atan, as implemented by eigen, and then making the tf.argument function a composition. Let us know if you have

[2016-03-04 15:49] oweingrod commented on #504
@syed-ahmed thanks for your help! That got me a little bit farther, but there's a fun new error now:

`Invalid argument: NodeDef mentions attr 'align_corners' not in Op<name=ResizeBilinear`

[2016-03-04 16:08] rdipietro opened #1388 "Potential bug: Gradients currently flow through variables that are fed"
[code]

To me this seems like a bug: the only reasonable behavior here seems to be to treat `y` as constant, so that `dzdx` is 0.0. This would let us feed parts of models when needed, in turn automatically shutting off all gradient updates with respect to the parameters that would have been responsible for generating these fed values.

This would be a nice thing to have in my current use case. If

[2016-03-04 16:10] oweingrod commented on #504
I was able to fix this error by updating Tensorflow—however, it does not seem like my new labels are able to be printed. Is there a way to generate a UID lookup file for our new graph?

[2016-03-04 16:26] girving commented on #1388
This is intended behavior and unlikely to change: tf.gradients adds new nodes to the graph via symbolic differentiation.  The underlying TensorFlow runtime doesn't have any idea these nodes are gradients, so it won't treat them specially based on feeding.

For your use case: ask `tf.gradients` to give you the gradient w.r.t. y as well, then feed zeros to `dzdy` to tell the backward pass that you w

[2016-03-04 16:27] #1388 closed

[2016-03-04 16:35] girving commented on #1349
Please don't cross post stack overflow questions as Github issues.

[2016-03-04 16:35] #1349 closed

[2016-03-04 16:37] martinwicke commented on #483
If you write the op in all Eigen (which seems entirely achievable), you
should be able to write it once for both CPU and GPU. AdjustContrast is an
example of that, and how the final op is registered.

On Fri, Mar 4, 2016 at 7:48 AM Ryan Young <notifications@github.com> wrote:

[2016-03-04 16:42] petewarden commented on #504
Sorry you're hitting problems! Are you loading the new labels file with the --labels command line flag? Here's a full example, from https://www.tensorflow.org/versions/master/how_tos/image_retraining/index.html#using-the-retrained-model

[code]

[2016-03-04 16:48] RyanYoung25 commented on #483
Thanks! We will take a look at that.

[2016-03-04 16:50] girving commented on #483
Let's call it `tf.arg` rather than `tf.argument` for symmetry with `tf.abs`.

[2016-03-04 16:55] oweingrod commented on #504
@petewarden Everything works fantastically if I do it with Bazel, but I'm trying to use the output_graph.pb files and output_labels.txt files with the image_classify.py file, not just the label image example.

[2016-03-04 16:58] jskDr commented on #50
hi jtoy
I think NMatirx and SciRuby can be alternative tools for numpy. What do you
think?

On Fri, Mar 4, 2016 at 10:49 AM jtoy <notifications@github.com> wrote:

--

Sungjin (James) Kim, PhD

Postdoc, CCB in Harvard

sungjinkim@fas.harvard.edu

[Web] http://aspuru.chem.harvard.edu/james-sungjin-kim/

[Linkedin] https://www.linkedin.com/in/jamessungjinkim

[Facebook] https://www.facebook.com/jame

[2016-03-04 17:06] #1269 closed

[2016-03-04 17:31] digitalsword commented on #1307
I confirm @rdipietro's approach works. I was building a GPU version. CPU training worked for me. However, I am not able to use k40m GPU for GPU training.

@rdipietro What's your GPU model? What is your operating system?

[code]

[2016-03-04 17:32] aidangomez commented on #1349
@girving just trying to get it in front of the only people who will have the answer.

[2016-03-04 17:34] RyanYoung25 commented on #483
Will do. We found an implementation of argument in eigen called scalar_arg_op. Should we use that implementation or proceed with registering atan and defining arg as a tf function composition?

[2016-03-04 17:35] vrv commented on #483
Since Eigen already has scalar_arg_op defined, we might as well use that for better performance on both CPU and GPU :)

[2016-03-04 17:36] RyanYoung25 commented on #483
Ok, we can do that.

[2016-03-04 17:36] digitalsword commented on #526
I am still seeing the same cuda error for tensorflow 0.7. The error is ```Check failed: CUDA_SUCCESS == dynload::cuCtxSetCurrent(context) (0 vs. 216)```

version:
[code]

error:
[code]

[2016-03-04 17:41] rdipietro commented on #1307
Odd. I had only done a stupidly simple test before (`x = tf.Variable(1.0)` ... `print(sess.run(x))`), so I was worried it wouldn't work for me either, but it does:

[code]

My specs:

[code]

[2016-03-04 18:07] rdipietro commented on #1388
What I ended up doing was collecting the variables of the two models separately and computing separate gradients/minimizing ops for each (after debugging as I had assumed that gradients would stop at fed nodes). Thanks though, now I see why it's expected behavior.

[2016-03-04 18:11] girving commented on #1388
@rdipietro: Yep, that's actually better than my suggestion, since the graphs don't be doing any unnecessary computations on zeros.

[2016-03-04 18:44] digitalsword commented on #1307
@rdipietro Thanks for your info. I guess it's an issue specific with k40m. I currently can only use CPU for training. It is interesting that the CPU speed is about half of your GPU speed. I thought GPU is much faster than CPU. My CPU is: Intel(R) Xeon(R) CPU E5-2670 v2 @ 2.50GHz

[code]

[2016-03-04 18:57] rdipietro commented on #1307
Hmm. Thanks for posting this. Right now I run multiple RNN experiments with multiple jobs on a single GPU, but this saturates the GPU pretty quickly. I'll see how things go with CPUs.

[2016-03-04 19:17] digitalsword commented on #1307
@rdipietro Tensorflow should scale to mutiple CPU cores. I have 10 CPU cores (20 cores by hyperthreading) and I find each core has utilization around 50% (shown in htop command). So I am assuming all cores are used.

[2016-03-04 19:55] 1337newbee commented on #500
The command below works for me
sudo pip install --upgrade https://storage.googleapis.com/tensorflow/mac/tensorflow-0.7.1-cp27-none-any.whl --ignore-installed six

We should update the documentation here to avoid confusion.
https://www.tensorflow.org/versions/r0.7/get_started/os_setup.html

[2016-03-04 20:05] RyanYoung25 commented on #483
We were able to get arctan implemented and working great with complex64 numbers. We're running into an issue with registering the scalar_arg_op with the complex64 data type. We can get arg to compile when we register it only with floats and double without errors, but when we call it in python it fails when passed a complex64 as expected. We think the error we are getting stems from:

[code]

does

[2016-03-04 20:30] andrewharp commented on #1269
Thanks for the update @syed-ahmed -- will add check_numeric_op.cc to the extended kernel filegroup as well.

[2016-03-04 20:35] syed-ahmed commented on #1269
hi @andrewharp , I did a pull request for the check_numeric_op.cc and @vrv merged it. so all's good. :)

[2016-03-04 20:58] jtoy commented on #50
I've seen both of those libraries and I know they have been around for a few years. I've never personally used them, but I know they are supposed to be alternatives to numpy/scipy. If we feel they can meet our needs, then I advocate that we use them instead of rewriting everything ourselves.

[2016-03-04 21:42] daeyun commented on #150
What is a good way to support 3D convolution in an existing code base that already uses tensorflow? I'm expecting to have to just port to a different library, but wanted to ask in case there's an easier way. I would want GPU support, but less optimized is fine.

[2016-03-05 01:34] hanyunfan commented on #601
+1

[2016-03-05 01:50] nethsix commented on #50
This is going to happen in Google Summer of Code 2016, or/and probably earlier (not sure if GSoC requires students to be on board before starting).

[2016-03-05 02:15] emogenet commented on #1157
I am seeing the exact same problem.

OS:

[code]

Bazel is built from github head:

[code]

gcc is gcc 4.9.3
[code]

Building tensorflow from head with GPU on:
[code]

Trying to build with --spawn_strategy=standalone
[code]

[2016-03-05 02:26] emogenet commented on #1157
Adding

`cxx_builtin_include_directory: "/usr/local/cuda/targets/x86_64-linux/include"`

to file `tensorflow/third_party/gpus/crosstool/CROSSTOOL`

seem to be a workaround.

[2016-03-05 02:31] jskDr commented on #50
GS of Code 2016 is not a bad idea. We can try. Cooool~

On Fri, Mar 4, 2016 at 8:51 PM Neth Six <notifications@github.com> wrote:

--

Sungjin (James) Kim, PhD

Postdoc, CCB in Harvard

sungjinkim@fas.harvard.edu

[Web] http://aspuru.chem.harvard.edu/james-sungjin-kim/

[Linkedin] https://www.linkedin.com/in/jamessungjinkim

[Facebook] https://www.facebook.com/jamessungjin.kim

[alternative email]

[2016-03-05 05:24] damienmg commented on #1157
Oh gosh, sorry @vrv, I totally missed that message.

Yes missing cxx_builtin_include_directory is the usual suspect when you have such message.

Note that I am rolling out a mechanism in Bazel to auto-configure those include dir (see https://groups.google.com/forum/#!msg/bazel-discuss/MSunz2ZUOq0/U5tE7uQLJQAJ), using it in TF would significantly reduce those bug reports

[2016-03-05 05:58] vrv commented on #1385
This is probably more a question for the bazel team, but bazel clean is supposed to clean up all state to try to provide hermeticity in builds.

[2016-03-05 05:58] #1385 closed

[2016-03-05 05:58] cameronphchen commented on #1293
I have implemented trace and planning to start working on its gradient. The current approach is essentially using `reduce_sum` and `diag_part` for calculating trace. This behavior will be consistent within tensorflow but quite different from `numpy.trace` though. `numpy.trace` output trace of 2D subarrays specified by two input arguments `axis1` and `axis2`. Is this going to be an issue?

Btw, thi

[2016-03-05 06:29] mostafachatillon opened #1389 "Tensorflow tutorial "How to Retrain": error when saving the model"
For bugs/issues, please fill in the following.  The more information you
provide, the more likely we can help you.

hello,
I am trying to run the tutorial 'How to Retrain Inception's Final Layer for New Categories'
available here: https://www.tensorflow.org/versions/master/how_tos/image_retraining/index.html

### Environment info
Operating System: Ubuntu 14.04

If installed from binary pip package

[2016-03-05 06:56] shiyemin opened #1390 "Attempting to use uninitialized value lstm/LSTMCell/W_0"
### Environment info
Operating System: Rocks OS (Centos 6.5)

I installed from sources, and here is my version:
https://github.com/shiyemin/tensorflow/
Nothing changed but to make it compile successfully on our server.

### Steps to reproduce
1. add a LSTM layer between local3 and local4 in cifar10.py

[code]
2. run cifar10_multi_gpu_train.py
3. Error: Attempting to use uninitialized value lstm/LS

[2016-03-05 14:31] PhamPhiLong opened #1391 "install from pip package fails on Ubuntu 15.10"
### Environment info
Operating System: Ubuntu 15.10

1. pip package: tensorflow-0.7.1-cp27-none-linux_x86_64.whl

2. The screen output:
Downloading tensorflow-0.7.1-cp27-none-linux_x86_64.whl (13.8MB): 13.8MB downloaded
Cleaning up...
Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 122, in main
    status = self.run(options, args)

[2016-03-05 18:26] murraymack commented on #1353
@vrv and @mrry

Thanks for your reply guys! I have it working now. It seems like I had to again just pip uninstall tensorflow and protobuf and then pip install tensorflow. I'm not sure why but if it works it works!

[2016-03-05 19:06] vrv commented on #1353
Glad to hear it's working, and sorry for the installation trouble.

[2016-03-05 19:06] #1353 closed

[2016-03-05 20:40] zplizzi opened #1392 "Minor Error in Tutorial"
On [this tutorial page](https://www.tensorflow.org/versions/master/tutorials/mnist/download/index.html), it says that the MNIST data has been rescaled to [-.5, .5]:

"The image data is extracted into a 2d tensor of: [image index, pixel index] where each entry is the intensity value of a specific pixel in a specific image, rescaled from [0, 255] to [-0.5, 0.5]."

However, in [the code](https://gith

[2016-03-05 22:21] viksit commented on #1373
Which version of CUDA are you using?

[2016-03-06 00:33] MInner commented on #47
letting you guys know that `numba` has recently opensourced their `numbapro` paid library, so everyone can use 'gpu' and 'parallel' targets now! I'd be really excited to see if anyone would use any of those in tensorflow

[2016-03-06 01:19] shawnLeeZX opened #1396 "Throw out exception to python when errors happen in c++ code"
Required information is after the description.

Hi tensorflow team,

I have enjoyed using tensorflow much. Thanks for the commitment to make this happen.

After writing many code based on it, I found it is very inconvenient that when the C++ code meets an error, it just breaks instead of passing the error to the python front end, so it is impossible to deal with the error gracefully.

For example,

[2016-03-06 01:48] vrv commented on #1396
Can you explain what currently happens?  Our python code is supposed to return C++ status errors, which can then be handled by users.

[2016-03-06 06:18] markusdr commented on #890
I had the same problem on my Mac. Like @FiniteElementries, I ran into the error `No module named any_pb2`. Solution:

    pip uninstall protobuf
    pip install --upgrade https://storage.googleapis.com/tensorflow/mac/tensorflow-0.7.1-cp27-none-any.whl

After that, tensorflow works fine for me.

[2016-03-06 07:03] ascenator opened #1397 "Strange Multi-GPU Performance"
I am encountering a strange Multi-GPU performance issue. To validate I've run the following script [TensorFlow Examples: Multi-GPU basics](https://github.com/aymericdamien/TensorFlow-Examples/blob/master/multigpu_basics.py).

The performance on a single GPU was 19 seconds while dual GPU computation took 28 seconds.

The same effect was reproducible on my system when I used multi-GPU for computing

[2016-03-06 07:14] mxrguspxrt opened #1398 "Udacity examples should be improved (/tensorflow/examples/udacity)"
https://www.udacity.com/course/viewer#!/c-ud730 is a really cool course in the context of Machine Learning and TensorFlow. After completing Coursera Andrew Ng course, they give valuable reasoning why and how something should be done in TensorFlow.

But, there is an issue.

Theory part in videos and implementing it in TensorFlow do not click together. Forum is full of questions in the format "how s

[2016-03-06 08:11] julienroy13 opened #1399 "Error using tf.image.random._ : 'numpy.ndarray' object has no attribute 'get_shape'"
**Intro**

I am using a modified version of the Tensorflow tutorial "Deep MNIST for experts" with the Python API for a medical images classification project using convolutionnal networks.

I want to artificially increase the size of my training set by applying random modifications on the images of my training set.

**Problem**

When I run the line :

`flipped_images = tf.image.random_flip_left_rig

[2016-03-06 08:37] zplizzi opened #1401 "Error in string_input_producer"
### Environment info
Operating System: Ubuntu 15.04

If installed from sources, provide the commit hash: c1a40c7

### Steps to reproduce
Run the following commands:
[code]

For me, this last command returns `[0]`. If I'm understanding things right, I'm assuming it should return `[3]`. I've also tried to run the dequeue() op, which appears to hang and become unresponsive.

It's also possible I'm ju

[2016-03-06 09:23] zplizzi commented on #1401
Nevermind, it turns out the command `tf.train.start_queue_runners(sess=sess)` must be run before the queue gets filled. Works as expected when this is done.

[2016-03-06 09:23] #1401 closed

[2016-03-06 12:30] ushnish opened #1402 "Error importing tensorflow. Unless you are using bazel, you should not try to import tensorflow from its source directory"
These are the sequence of steps i followed to install the distributed version of TF

Now for the error

Error importing tensorflow.  Unless you are using bazel,
you should not try to import tensorflow from its source directory;
please exit the tensorflow source tree, and relaunch your python interpreter
from there.

Can someone help me understand what might cause this? Thank you.

[2016-03-06 13:13] GayatriSN commented on #220
@Yangqing I had been facing the same problem so I located the .so file as you mentioned. After this, where do we have to place the file?

[2016-03-06 14:30] shiyemin commented on #1402
You should start your python outside tensorflow directory. Because python will import tensorflow from current directory.

[2016-03-06 15:18] OBorce commented on #1398
+1

[2016-03-06 17:48] rdipietro commented on #1307
I tried this out. Just to report back, if I use CPUs instead of a GPU, the RNN training is about 10x slower.

[2016-03-06 18:42] raingo commented on #1402
I had the same errors as you did. I solved this by reinstall protobuf, by `pip install -U protobuf==3.0.0b2`

[2016-03-06 18:46] bernardopires opened #1405 "Shouldn't tensorboard warn you that not all summaries have loaded yet?"
Hi,

since I started using Tensorboard, I noticed some odd behavior that sometimes I'd open it and it seemed like a lot of the summary values were missing, i.e, even though it's already at 10k steps, the summary only shows 2k steps or so. Today I actually finally noticed that it simply meant that it was just still being loaded. I refreshed the page after a minute or so and all data was there. My P

[2016-03-06 19:21] raingo opened #1406 "[feature request] disable harmful broadcast"
Broadcast may lead to hidden bugs. For example, the following code,

[code]

When `logits` is of the shape `(200,1)` and the `y` is of the shape `(200,)`, the xent becomes `(200, 200)`, which is wrong. What's worse, the `reduce_mean` will hide this problem by reducing everything into a scalar.

Request,
1. more shape validation in `sigmoid_cross_entropy_with_logits`
2. option to totally disable br

[2016-03-06 19:38] vrv commented on #1406
1. is done: https://github.com/tensorflow/tensorflow/blob/3871973b302b3c8357a4984fb37d934cf4633f21/tensorflow/python/ops/nn.py#L287 -- will be in our next binary release.

[2016-03-06 20:43] ushnish commented on #1402
@shiyemin yes of course I started the interpreter outside the tensorflow directory

@raingo I tried that but in python interpreter I still get same error. Do you have to do a bazel build for tensorflow by pass in this protobuf library into the build command?

[2016-03-06 20:49] raingo commented on #1402
Yes. I built from source, but I didn't do anything special for bazel. I
needed to upgrade protobuf manually because I install the wheel by

pip install wheel --no-deps -U

Sent from a mobile device
On Mar 6, 2016 3:45 PM, "ushnish" <notifications@github.com> wrote:

[2016-03-06 21:03] ma2rten opened #1407 "C++ documentation broken"
None of the links on this page work:

https://www.tensorflow.org/versions/r0.7/api_docs/cc/index.html

[2016-03-06 21:28] markusdr opened #1408 "Generalized matrix multiplication with semiring?"
Would it be possible to support (generalized) matrix multiplication with non-standard semirings?

In matrix multiplication, we have `A times B = C`, where `C(i,j) = sum_k A(i,k) times B(k,j)`

Using a different semiring practically means redefining the `plus` and `times` operations.

For example, the log semiring assumes that all numbers in the matrices are log numbers and redefines `plus` as `log

[2016-03-06 21:36] ushnish commented on #1402
@raingo did you do **git clone --recurse-submodules https://github.com/tensorflow/tensorflow** or clone without the submodules since you are installing protobuf separately

[2016-03-06 22:10] mrry opened #1409 "Image ops do not all accept NumPy arrays as arguments"
From [Stack Overflow](http://stackoverflow.com/q/35824798/3574081):

On looking at the code, this happens because our shape checks expect arguments to already have been converted to a `tf.Tensor`. We should call `ops.convert_to_tensor()` on them before performing the check.

[2016-03-06 22:26] tmsimont commented on #1214
It was gcc version -- a duplicate has appeared: #1362

[2016-03-06 22:26] #1214 closed

[2016-03-06 23:59] raingo commented on #1406
Thanks. I guess the second is impossible. so closing.

[2016-03-06 23:59] #1406 closed

[2016-03-07 00:13] vrv commented on #1406
Nothing is impossible, it would just take a lot of work to plumb that through everywhere, to set the option globally, and for everything to work as well without broadcasting.  For example, when computing gradients, automatic broadcasting is quite useful to simplify gradient expressions, particularly when the shapes are unknown at construction time.  I've seen similar requests made for numpy, and i

[2016-03-07 01:57] Dringite commented on #1402
Uninstall protobuf before building (or dl whl), everything works fine after that. Had the same issue.

sudo pip uninstall protobuf

[2016-03-07 03:02] 24hours opened #1410 "tensorflor cond(pred, fn1, fn2) evaluate fn1 and fn2 together regardless of pred"
[code]

### Environment info
ubuntu 14.04

If installed from binary pip package, provide:
tensorflow 0.7.1

### Steps to reproduce
1. run the code example, expecting to see

output
 - iteratio 1: to see alpha = 1, beta = 1
 - iteratio 2: to see alpha = 2, beta = 2

expected
 - iteratio 1: to see alpha = 1, beta = 0
 - iteratio 2: to see alpha = 1, beta = 1

### What have you tried?
1. Changing the

[2016-03-07 03:24] ushnish commented on #1402
@Dringite do you mean git clone with the --recurse-submodules options and then uninstall protobuf? But that'll cause the bazel build to fail?

[2016-03-07 03:29] lemontreeshy opened #1411 "Mac OS;import error "ImportError: cannot import name _message""
### Environment info
MAC OS
python:
Python 2.7.11 |Anaconda 2.5.0 (x86_64)| (default, Dec  6 2015, 18:57:58)
[GCC 4.2.1 (Apple Inc. build 5577)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thanks and https://anaconda.org

install command:
pip install --upgrade https://stora

[2016-03-07 03:33] thinxer commented on #1397
You should try place variables on GPU. The cifar10 example uses variables on CPU by default. You may achieve about 1.5x speed up compared to a single GPU setup.

I've got about 2x speed up with 4 GPUs, and 3x with 8 GPUs. It is far from linear acceleration. I guess `tf.reduce_mean` has a noticeable overhead here, when averaging grads from different GPUs.

Even when only one GPU is used, adding the

[2016-03-07 03:50] ushnish commented on #1402
Problem solved @Dringite you were right, there was no need to have protobuf installed at all. The steps are

rflow_pkg

Notice that i added --define=use_fast_cpp_protos=true in the build command so it might have actually helped.

[2016-03-07 03:52] ericjang commented on #1317
Thanks! I also just discovered that `make_template` [https://www.tensorflow.org/versions/r0.7/api_docs/python/state_ops.html#make_template](https://www.tensorflow.org/versions/r0.7/api_docs/python/state_ops.html#make_template) does the trick as well.

[2016-03-07 04:33] zplizzi opened #1412 "resize_image_with_crop_or_pad() on variable image sizes"
I'm setting up what (I think) should be a straightforward image loading pipeline:

[code]

However, I get an error `'image' must be fully defined.` - the image not being fully defined because the size of the JPEG is variable. When using the `tf.image.resize_images()` function, it seems that this constraint is not enforced. Is it necessary to have fixed image dimensions to use the `resize_image_wit

[2016-03-07 07:57] fayeshine opened #1413 "error when building from source"
bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

Warning: ignoring LD_PRELOAD in environment.
ERROR: /home/wenjian/pkgs/tensorflow/tensorflow/core/distributed_runtime/rpc/BUILD:87:1: no such package '@grpc//': Error cloning repository: https://boringssl.googlesource.com/boringssl: cannot open git-upload-pack caused by https://boringssl.googlesource.com/boringssl:

[2016-03-07 09:01] jplu opened #1415 "pip install version 0.7.1 from source: No module named google.protobuf"
Hello,

I have an issue with Google Protobuf. Even after the install Python does not find the module "google.protobuf".

### Environment info
Operating System: Ubuntu 14.04
Python: 2.7.6
Bazel: 0.2.0
Cuda: 7.5
CudNN: 4

If installed from sources, provide the commit hash: https://github.com/tensorflow/tensorflow/commit/1e47e2f9bb7112f1a763e758a7bcdaff36edec5b

### Steps to reproduce
1. bazel build

[2016-03-07 10:03] Fhrozen opened #1418 "Using 2 computers - Distributed Tensorflow"
Copied from: http://stackoverflow.com/questions/35824742/tensorflow-distributed-assing-devices

I recently installed the version of tensorflow for distributed computers. From the trend: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/distributed_runtime , i tried to implemented multiples gpus at multiples computers, and also looking at "https://stackoverflow.com/questions/3443

[2016-03-07 10:49] sbyma commented on #1418
All servers in the same cluster must be initialized with the same cluster_spec I think. On one computer you might do

[code]

and the other

[code]

[2016-03-07 11:01] sbyma opened #1419 "Dependency required for user Reader ops?"
When creating a Reader op inside core/user_ops that inherits from ReaderBase, Bazel responds with

[code]

Is this because the user_ops_op_lib depends only on framework? user_reader_op.cc includes reader_base.h which includes reader_base.pb.h. What dependency should I add to make this work? I'm still figuring out Bazel atm.

This is with latest source code.

[2016-03-07 12:15] sbyma commented on #1419
I was able to resolve this by changing tensorflow/core/BUILD as follows at line 325:

[code]

Works for now but a broader dependency might be better?

[2016-03-07 13:39] kalleknast commented on #1373
Nvidia version:
`cat /proc/driver/nvidia/version`

`NVRM version: NVIDIA UNIX x86_64 Kernel Module  352.63  Sat Nov  7 21:25:42 PST 2015`
`GCC version:  gcc version 5.2.1 20151010 (Ubuntu 5.2.1-22ubuntu2)`

CUDA complier version:
`nvcc -V`

`nvcc: NVIDIA (R) Cuda compiler driver`
`Copyright (c) 2005-2015 NVIDIA Corporation`
`Built on Mon_Feb_16_22:59:02_CST_2015`
`Cuda compilation tools, release 7

[2016-03-07 14:58] yangyanli commented on #1387
I was about to do the same thing, and found this issue. Many thanks!

Life is tough for Chinese mainland people...

[2016-03-07 15:36] sesse commented on #483
If you present a compile error, you'll also need to present the code that doesn't comiple. It seems like you are trying to assign a complex<float> array to a float.

[2016-03-07 17:02] girving commented on #1419
@keveman: What's the situation with user_ops these days?  Was it going through some flux?

[2016-03-07 17:05] girving commented on #1413
@mrry: Looks like a distributed-related issue.

[2016-03-07 17:07] mrry commented on #1413
Are you able to run `git clone https://boringssl.googlesource.com/boringssl` locally?

[2016-03-07 17:08] martinwicke commented on #1391
Can you upgrade pip or tell me which version of pip is installed?

[2016-03-07 17:09] martinwicke commented on #1392
Fixed by #1395.

[2016-03-07 17:09] #1392 closed

[2016-03-07 17:11] girving commented on #1412
@shlens: `resize_image_with_crop_or_pad` calls `Check3DImage` with `required_static=True`?  Is there a reason for that?  Fixing it would require changing a few routines to compute height and width via `tf.shape` at runtime rather that at graph construction time.

[2016-03-07 17:13] girving commented on #1412
@shlens: Feel free to remove your name and put contributions welcome if you want.

@zplizzi: I think the only reason for this limitation is that all the existing uses appear as part of a larger image pipeline where the size is known.

[2016-03-07 17:14] girving commented on #1407
@danmane: Do you know what the issue is here?

[2016-03-07 17:16] martinwicke commented on #1399
The function requires its input to already be a tensor. You can call `convert_to_tensor` to make a tensor from a numpy array, or you can put the numpy data into a `tf.constant` first.

Or you could fix `flip_left_to_right` to call `convert_to_tensor`, which would be the right thing to do.

[2016-03-07 17:18] girving commented on #1408
I think an optimized (blocked, etc.) implementation of semiring matmul is out of scope for tensorflow at the moment, since it would require either code generation or a massive amount of template instantiation.  Of course, for small sizes it can be implemented by writing down all the terms via broadcasting (producing a cubic size tensor) and then reducing, but that's not very interesting.

It's pos

[2016-03-07 17:23] girving commented on #1410
If you want something to happen conditionally, it has to go *inside* the `tf.cond`, so this is expected behavior.  The analogy is

    alpha += 1
    beta += 1
    if pred:
      ...

Both `alpha` and `beta` will be incremented regardless of `pred`.

[2016-03-07 17:23] #1410 closed

[2016-03-07 17:28] girving commented on #1399
It looks like we could use a cleaning pass through some of the image ops.  A lot of them unnecessarily require known shape tensors as well.

[2016-03-07 17:33] martinwicke commented on #1415
It's just protobuf, not google.protobuf. Does something in tensorflow not work?

[2016-03-07 17:37] ibab opened #1420 "Support for double precision complex numbers"
I'd like to use TensorFlow to write an application that would need `complex128` as a dtype.
But TensorFlow currently only supports `complex64`.
Are there any plans for supporting `complex128` as well in the future?

Seems that there is a TODO for this in  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/types.proto#L36.

[2016-03-07 17:42] martinwicke commented on #1399
On the `random_` ones now, which only work on a single image anyway. I think.

[2016-03-07 17:44] girving commented on #1420
Yes, `complex128` would be good to have, but I don't think anyone's working on it at the moment.

[2016-03-07 17:45] girving commented on #1420
If someone wants to add it, I'm happy to answer questions.  It should mostly involve duplicating any mention of `complex64` into `complex64` and `complex128`.

[2016-03-07 17:49] liuyifly06 opened #1421 "TensorBoard showing nothing!"
I am trying to run the example in my Linux machine (Ubuntu 14.04):
**tensorflow/tensorflow/examples/tutorials/mnist/mnist_with_summaries.py**

First, I type "`python mnist_with_summaries.py`" in command line. Everything looks good.
Then following the tutorial, I type "`tensorboard --logdir =/tmp/mnist_logs`". Following message appeared.

WARNING:tensorflow:Unable to read TensorBoard tag
Starting T

[2016-03-07 17:57] ibab commented on #1420
When adding this to the [`types.proto`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/types.proto), should this be added to the enum as `DT_COMPLEX64 = 18;` to maintain backwards-compatibility?

[2016-03-07 18:02] girving commented on #1420
@ibab: Yep, it'd be `DT_COMPLEX128 =  18` and `DT_COMPLEX128_REF = 118`.

[2016-03-07 18:39] cameronphchen commented on #1415
Did you use --recurse-submodules when you clone?
`git clone --recurse-submodules https://github.com/tensorflow/tensorflow`
`git submodule update --init` should also work

[2016-03-07 18:54] martinwicke commented on #1415
There seems to have been an issue with the protobuf pypi package, which should have been fixed about 30 minutes ago, please try again.

[2016-03-07 19:04] keveman commented on #1419
Not that I know of. There is #1378 for which I'll have a fix soon.

On Mon, Mar 7, 2016 at 9:04 AM, Geoffrey Irving <notifications@github.com>
wrote:

[2016-03-07 19:25] manucarbonell opened #1422 "Tensorflow just not working"
I stopped using tensorflow for a while. Now i want to get back to it, but after installing, when I try to import tensorflow module on python i get this message:
[code]
Have tried uninstalling all previous existing versions and exiting any tensorflow folder, i'm running python from root folder, but I still get the error. Also if I download tensorflow from github and run from tensorflow version 6.0

[2016-03-07 19:32] martinwicke opened #1423 "Need force_gpu_if_available for tests"
For GPU tests, we have the `force_gpu` and `use_gpu` flags. `force_gpu=True` is good for manual testing during development, but if an op cannot be placed on a gpu because there isn't a GPU or because TensorFlow was built without GPU support, it will make the test fail.

For tests, we really need a way to say "fail if a GPU is available, but it's not used". Could be as simple as providing the equiv

[2016-03-07 20:21] danmane commented on #1287
Hi @dgolden1,

Thanks for reporting and taking the time to include a clean repro. Would you mind trying this setup against the master branch? We've been doing some work in improving the pipeline for large graphs, so it might be that this is already fixed at head.

[2016-03-07 20:32] danmane commented on #1421
I just ran this locally on my machine and it worked. Could you upload the events file so I can see if I can reproduce it? Also, how large is the events file? it should be around 1MB.

[2016-03-07 20:33] danmane commented on #1405
That would be a really nice enhancement. We're planning to improve all the indications around when TensorBoard is loading, have it automatically refresh data, etc. I don't have a timeline, though.

[2016-03-07 20:40] markusdr commented on #1408
Templating `matmult` on a semiring (similar to OpenFst) might be too big of a change. But maybe one could just add a few new matrix multiplication functions for particular popular semirings, e.g., `matmult_log`, `matmult_maxplus`, etc.

[2016-03-07 20:44] girving commented on #1408
If a couple particular semirings capture most of the value, this seems quite reasonable.  @benoitsteiner: Can Eigen be convinced to give optimized semiring matrix multiply?

[2016-03-07 21:11] liuyifly06 commented on #1421
This is the event file (1.1MB).
[events.out.tfevents.1457371474.rdii-Alienware-X51.tar.gz](https://github.com/tensorflow/tensorflow/files/162093/events.out.tfevents.1457371474.rdii-Alienware-X51.tar.gz)

Following is all the information appears in my command  window :

`yi@rdii-Alienware-X51:~$ tensorboard --logdir =/tmp/mnist_logs
WARNING:tensorflow:IOError [Errno 2] No such file or directory: '/

[2016-03-07 21:22] vrv commented on #1422
- Can you include the stack of the entire error message?
- Have you tried installing in a virtualenv from scratch , using version 0.7.1 ?

[2016-03-07 21:24] vrv commented on #1413
#1387 might be relevant...

[2016-03-07 22:52] ebrevdo commented on #1418
@Fhrozen did @sbyma's solution fix your problem?

[2016-03-07 23:07] petewarden commented on #1389
The Bazel build process helps set up the dependency paths for things like graph_util, so that's the supported path for this. Looking at your error, I'm guessing you have an older pip-installed version of TensorFlow, where the graph_util namespace didn't include that function, which was introduced after 0.7.1.
https://github.com/tensorflow/tensorflow/commit/2179890199c3561ff3a1297c5e9c073471473a77#

[2016-03-07 23:07] #1389 closed

[2016-03-07 23:31] dgolden1 commented on #1287
Sorry, @danmane, I get the same results on the current master (b1bb0bb3dd733224f243b1eb2c4432c4977ae37e) built from source on OS X with both Anaconda Python 2.7.11 and Anaconda Python 3.5.1 (each in their own separate environments).

[2016-03-07 23:33] ushnish commented on #1422
Check this out, i had this exact same trouble this weekend

https://github.com/tensorflow/tensorflow/issues/1402#event-580456750

[2016-03-07 23:48] yaroslavvb commented on #1408
Computing log Z can be rewritten in terms of regular matrix multiplies, but Viterbi is an interesting example. You need efficient way to do compute matrix vector min-plus product r=Av as  r(i) = min_j A(i,j) v(j)

[2016-03-07 23:54] #1409 closed

[2016-03-08 00:28] girving commented on #1423
`tf.test.is_built_with_cuda` may be useful.

[2016-03-08 00:30] girving commented on #1341
@vrv: Was this supposed to be closed by your commit?

[2016-03-08 00:32] girving commented on #1282
Can you explain what you mean by "when building the op library"?  Are you trying to build new C++ code (perhaps user defined ops) that depend on TensorFlow?

[2016-03-08 00:35] girving commented on #626
Oh no!  Looks like this bug got dropped through the cracks.  Regardless of whether the initial save was valid, the load should not segfault.  Do you still have code that can reproduce this problem?

[2016-03-08 00:36] girving commented on #1145
Martin's unassignment of @jendap was an accident.

[2016-03-08 00:38] girving commented on #1277
@josh11b: Any ideas here?

[2016-03-08 00:39] cancan101 commented on #1145
See: https://github.com/4Catalyzer/tensorflow/commit/83ebb0a0f1995441af66f476a19a97524748be95

[2016-03-08 00:41] girving commented on #1365
I think this is intended behavior, unfortunately.  A typical resolution to this is to pick `kernel_weights` to have a nice name and use

    `tf.histogram_summary(kernel_weights.name, kernel_weights)`

[2016-03-08 00:41] #1365 closed

[2016-03-08 00:45] girving commented on #1318
We wouldn't be able to actively support it, so a Lua layer would be best as a separate repo.  If you want to work on it, there is some discussion on https://github.com/tensorflow/tensorflow/issues/388 that may be relevant.

[2016-03-08 00:45] markusdr commented on #1408
@yaroslavvb Yes, rewriting the computation of log Z in terms of regular matrix multiplies is possible by explicitly exponentiating all entries in the matrices, but that can be expensive and also prone to underflow problems.

[2016-03-08 00:53] Vesnica commented on #1413
I can run git clone https://boringssl.googlesource.com/boringssl locally, but in bazel that didn't work.

Maybe bazel didn't honor the proxy env vars when download the deps of deps. (tensorflow -> grpc -> boringssl)

[2016-03-08 01:00] girving commented on #1029
@shlens: Do you know the correct way to fix this?

[2016-03-08 01:01] girving commented on #473
@zheng-xq, @noisychannel: Looks like this fell through the cracks.  Is it still an issue?

[2016-03-08 01:02] girving commented on #1015
@ebrevdo: Do you have any ideas here?

[2016-03-08 01:05] girving commented on #1140
Looks like #1089 was already merged, so we'll need more PRs.

[2016-03-08 01:07] girving commented on #1234
This seems like reasonable behavior to preserve, since we're unlikely to ever add any kind of checking to these ops (doing so is problematic due to numerical error) and we're unlikely to normalize due to speed.  Documentation contributions welcome!

[2016-03-08 01:07] vrv commented on #1341
Yes, sort of.  We no longer log those warnings, because they were just superfluous warnings.

[2016-03-08 01:07] #1341 closed

[2016-03-08 01:08] girving commented on #1198
@ludimagister: Is this problematic to fix?

[2016-03-08 01:11] girving commented on #653
@marcotrombetti, @mrry: Looks like this fell through the cracks.  Is it still an issue?

[2016-03-08 01:11] girving commented on #737
@martinwicke: Is this obsolete now that we support 7.5?

[2016-03-08 01:15] ebrevdo commented on #1015
Just saw this!  Without seeing the code that you wrote it's hard to see what the problem is.  Perhaps when you call .run or .eval you forget to pass the feed_dict to it?  Or perhaps when you call initialize_all_variables, sometimes that needs a feed_dict as well.  Are you sure the values you're feeding it are the correct numpy dtype?

[2016-03-08 01:15] melody-rain commented on #1387
@yangyanli  not easy to be a programmer...

[2016-03-08 01:17] martinwicke commented on #737
Yes.

On Mon, Mar 7, 2016 at 5:12 PM Geoffrey Irving <notifications@github.com>
wrote:

[2016-03-08 01:25] lukaszkaiser commented on #1390
It sounds like the variables were not initialized, but that's strange if tf.initialize_all_variables is being run. Can you check that you initialized the variables? Also - could you make a repo with just the problematic model and test it against the head TensorFlow?

[2016-03-08 01:30] shiyemin commented on #1390
@lukaszkaiser OK, give me a minute.

[2016-03-08 01:52] shiyemin commented on #1390
@lukaszkaiser There is no way for me to compile it without modifying some of configuration... Will you please test it for me? It's quite easy to test as what i said in issue.

[2016-03-08 01:57] zwpaper commented on #1411
I got something like that
OS: OS X El Capitan
Virtualenv
python 3.4.3

[code]

[2016-03-08 01:57] fayeshine commented on #1413
@mrry @Vesnica I can only run it with proxy since I'm behind the firewall. However, when I run bazel with proxy, it seems cannot work

[2016-03-08 02:04] zwpaper commented on #1411
Solved my problem by uninstalling tensorflow and protobuf, then reinstalling tensorflow.
from https://github.com/tensorflow/tensorflow/issues/1262

[2016-03-08 02:35] shiyemin commented on #1390
@lukaszkaiser By the way, everything is fine wittout LSTM or single GPU with LSTM. This can be confirmed by run cifar10_train.py and cifar10_multi_gpu_train.py.

[2016-03-08 02:50] StevenHuang4321 opened #1426 "Is CentOS 6.5 supported?"
I have try each method in installation guide to install GPU-tensorflow in my centos 6.5 server?
However, the error below is still exists.
`ImportError: /lib64/libc.so.6: version GLIBC_2.14 not found (required by /usr/local/lib/python2.7/site-packages/tensorflow/python/_pywrap_tensorflow.so)`
Is there anyone who've successfully installed tensor flow in centos 6.5?

[2016-03-08 03:05] thinxer commented on #1426
You should build from the source code.
The pre-built binary may not work for older glibc. CentOS 6.5 has glibc 2.12 which IS too old for the pre-built binary.

[2016-03-08 03:19] StevenHuang4321 commented on #1426
@thinxer Thanks for you reply.
I also try to build from source, but it failed again, it seems that it could be related to brazel,
could you please elaborate the steps to build tensor flow including the version of brazel.

[2016-03-08 03:28] fayeshine commented on #1399
I'll work on this:  fix flip_left_to_right to call convert_to_tensor

[2016-03-08 03:54] lemontreeshy commented on #1411
thks and I solved the problem.

[2016-03-08 04:35] Fhrozen commented on #1418
@sbyma thanks for the help. Yes, it fix my problem. Just wondering two things:
First:
I got that warning in both computers, but even that i can make a distributed training.
`Could not find channel for target: /job:prs/replica:0/task:0`

Second:
I could not target directly to the gpus using:
`with tf.device("/job:worker/task:0/gpu:1"):`
Since In the second computer has 2 gpus and tensorflow create

[2016-03-08 04:35] #1418 closed

[2016-03-08 04:37] tmsimont opened #1427 "Mandlebrot example fails on docker image"
I'm running through the [Mandlebrot Set tutorial](https://www.tensorflow.org/versions/r0.7/tutorials/mandelbrot/index.html) and hit a snag.

I am running tensor flow from Docker -- the `b.gcr.io/tensorflow/tensorflow` image

When I try to initialize all variables, I get this error:

[code]

Full error after copy/pasting tutorial code to python file:
[code]

Is the docker image out of date?

[2016-03-08 04:38] tomMoral commented on #1334
Trying to build from source raise the same error as @kbrems .

[code]

[2016-03-08 04:57] #737 closed

[2016-03-08 05:07] mrry commented on #1413
Can you please try upgrading to the latest HEAD of Bazel? It looks like a fix was added for proxy support in https://github.com/bazelbuild/bazel/commit/d4c00d42b7ac3939f7041ba3bcb920088857adbd.

[2016-03-08 06:00] Sherif89 commented on #720
What's necessary to package Tensorflow?
Would #1309 make it closer?

[2016-03-08 07:12] keveman commented on #1334
I don't see these errors when building `//tensorflow/tools/pip_package:build_pip_package` on a Ubuntu 14.04 machine. What Bazel version are you using? What OS version?

[2016-03-08 07:42] thinxer commented on #1426
I have no experience building TF on CentOS 6. I guess you need a compiler capable of C++11 features to begin with, such as GCC 4.8+.

[2016-03-08 07:43] lukaszkaiser commented on #1390
I tried to replicate your problem, but I can't -- I don't have a multi-gpu machine and, even though I tried, I cannot replicate the problem in a single-gpu setting in any way. In fact I even managed to run "python cifar10_multi_gpu_train.py --num_gpus=2" with your change and it was all ok, but I guess it just soft-placed everything on GPU0. One problem I can think of is that in your code your LSTM

[2016-03-08 09:08] ascenator commented on #1397
I was not trying the CIFAR10 example, but could do this later. The author of this very simple example: [TensorFlow Examples: Multi-GPU basics](https://github.com/aymericdamien/TensorFlow-Examples/blob/master/multigpu_basics.py) claims a speedup with Multi-GPU setup while on my system it actually took longer compared with single GPU calculation.

The same thing happened when I placed some `with tf.

[2016-03-08 09:39] thinxer commented on #1397
Ah I see. The example is not well written.

The first run is dominated by the initializing time. You should time the second run of `sess.run`.

Here's my result:

[code]

[2016-03-08 09:47] ascenator commented on #1397
Aren't `a` and `b` initialized in both runs?!

My result was:

[2016-03-08 10:32] thinxer commented on #1397
The graph is not initialized until the first run in a session. Just defining it won't do.

Your results are strange. I cannot explain it.

[2016-03-08 10:42] ascenator commented on #1397
Do I maybe have to set some memory constraints? Since I do not have two graphics cards but one dual-GPU card? Perhaps TensorFlow is doing something strange on the dual-GPU card's memory?

[2016-03-08 10:50] jplu commented on #1415
Sorry for my late reply. But I still have the same issue with the commit https://github.com/tensorflow/tensorflow/commit/34880c4ca1a83b443b44dc415b74deb217c42257

I did a brand new clone of Tensorflow by running:

[code]

Then I recompiled everything

[code]

And I still have the same error:

[code]

And indeed if I run the command ```help('modules')```, I still don't see any ```protobuf``` or ```

[2016-03-08 11:58] IlseVerdiesen commented on #1407
You are using a lower case after the final / , but that should be an upper case.

The link is: https://www.tensorflow.org/versions/r0.7/api_docs/cc/classEnv.html

But it should be: https://www.tensorflow.org/versions/r0.7/api_docs/cc/ClassEnv.html

[2016-03-08 12:04] IlseVerdiesen commented on #1407
It applies to all the links on the page. These are the correct ones:

tensorflow::Env
https://www.tensorflow.org/versions/r0.7/api_docs/cc/ClassEnv.html

tensorflow::RandomAccessFile
https://www.tensorflow.org/versions/r0.7/api_docs/cc/ClassRandomAccessFile.html

tensorflow::WritableFile
https://github.com/delftswa2016/tensorflow/blob/master/tensorflow/g3doc/api_docs/cc/ClassWritableFile.md

tenso

[2016-03-08 12:25] xiafei1009 opened #1430 "node placement algorithm in the source code?"
I have read the whitepaper and felt very excited about the **node placement** algorithm decribed in **section 3.2**, so I tried to figure out the details from the source code. However, I cannot find the files that implement this algorithm.
I have read the tensorflow/core/common_runtime/**Simple_placer**.h (& Simple_placer.cc) and it seems it's too "simple" to cover the algorithm descibed in the wh

[2016-03-08 14:19] caisq commented on #1427
This is caused by changes in the behavior of zeros_like (See).

As a temporary workaround, please replace
`ns = tf.Variable(tf.zeros_like(xs, tf.float32))`
with
`ns = tf.Variable(tf.zeros(Z.shape))`

We will provide a more permanent solution to this soon.

[2016-03-08 14:25] amirkhango opened #1431 "Install Error：SSLError: hostname 'storage.googleapis.com' doesn't match either of 'accounts.google.com', '*.partner.android.com'"
When I use command :
"sudo pip install https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.5.0-cp27-none-linux_x86_64.whl"
to install Iget this error, please tell me how can I solve?

[2016-03-08 14:35] tmsimont commented on #1427
That did the trick! Thanks.

[2016-03-08 15:02] OlavHN opened #1432 "seq2seq tutorial example not working for python 3.4"
### Environment info
Operating System:
Ubuntu 14.04

1. Which pip package you installed.
sudo pip3 install --upgrade /tmp/pip/tensorflow-*.whl

2. The output from python -c "import tensorflow; print(tensorflow.__version__)".
0.7.1
(Built from commit 263d00d271077 with `TF_UNOFFICIAL_SETTING=1 ./configure` )

### Steps to reproduce
1. Apply https://github.com/tensorflow/tensorflow/commit/cdd0e2b7c5

[2016-03-08 15:44] raingo opened #1433 "reduce mean for gpu is not registered"
The reduce_mean [GPU implementations](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/reduction_ops_gpu.cu.cc#L44-L60) are not registered [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/reduction_ops_mean.cc), so that the reduce_mean is still placed on CPU.

Wondering if it's a negligence or intended. If it's intended, please close t

[2016-03-08 15:46] mrry commented on #1412
This looks like a duplicate of #521.

[2016-03-08 15:56] tomMoral commented on #1334
I am on an archlinux distribution and running bazel 0.2.0-1.

[2016-03-08 16:09] MrSaad opened #1434 "tf.nn.xw_plus_b not in API docs"
The method tensorflow.nn.xw_plus_b() exists but is not documented in the [online API documentation](https://www.tensorflow.org/versions/master/api_docs/python/nn.html).

[2016-03-08 16:27] martinwicke commented on #720
#1309 would solve the bazel issue for Debian.

On Mon, Mar 7, 2016 at 10:00 PM Sherif89 <notifications@github.com> wrote:

[2016-03-08 16:29] girving commented on #1412
Yep, closing.

[2016-03-08 16:29] #1412 closed

[2016-03-08 16:36] martinwicke commented on #367
The best way would be to make a pull request. That's the best way for us to see and comment on the changes. It's ok to mark the PR as [WIP] (see examples on our PR page).

[2016-03-08 16:55] rmlarsen commented on #367
Hi Alex,

Sorry for the delayed response. I'd be happy to review your code and help
getting it integrated into the TensorFlow core.

Rasmus

On Wed, Mar 2, 2016 at 5:45 AM, Alexander G. de G. Matthews <
notifications@github.com> wrote:

[2016-03-08 17:23] girving commented on #1434
I think this is intentional: it's better to use `tf.matmul(x, w) + b` directly.  We are working to lock down our symbol exports so that only documented symbols are exported, but we're a bit lax at the moment.

[2016-03-08 17:23] #1434 closed

[2016-03-08 17:26] girving commented on #1433
"accidental" may be a better word than "negligence". :)

@benoitsteiner: Want to take a look at this?

[2016-03-08 17:28] girving commented on #1432
Can you confirm that you're using python 3?  You say `pip3` and `python` above; is just `python` Python 3?  If so, what version?

[2016-03-08 17:29] girving commented on #1427
Fix in review.

[2016-03-08 17:36] girving commented on #1430
Please ask non-issue questions on stackexchange or the discussion list, not as Github issues.

[2016-03-08 17:36] #1430 closed

[2016-03-08 17:38] girving commented on #1426
You'll need to provide more information if you want help.  If the build failed, what was the error message, and which compiler are you using?  You'll definitely need a C++11 capable compiler.

[2016-03-08 17:48] manucarbonell commented on #1422
thanks @ushnish, but shouldn't it work only by following the steps explained on the installation guide?
I get the same error if I install using virtualenv.
@vrv here's the command's I do and the entire error message:
`sudo pip install --upgrade https://storage.googleapis.com/tensorflow/mac/tensorflow-0.7.1-cp27-none-any.whl`
[code]

...

[code]

...

[code]

[2016-03-08 17:58] vrv commented on #1422
https://www.tensorflow.org/versions/master/get_started/os_setup.html#pip-installation-issues might help :)

[2016-03-08 18:00] girving commented on #1431
@martinwicke: Whose the right person for pip issues?

[2016-03-08 18:04] alexggmatthews commented on #367
OK thanks. I'll put in a pull request.

[2016-03-08 18:09] manucarbonell commented on #1422
Right! Didn't see I also had to uninstall protubuf. Thanks!

[2016-03-08 18:15] girving commented on #932
@zheng-xq: Do you have thoughts on this?  The non-blocking thread pool PR is problematic since it breaks Eigen's FIFO requirement, but the deadlock issue seems like something we should fix.

[2016-03-08 18:17] girving commented on #302
This is out of scope for the main tensorflow project.  Projects that generate TF graphs from other intermediate representations are certainly possible, but they would belong in separate repos.

[2016-03-08 18:17] #302 closed

[2016-03-08 18:18] girving commented on #1303
@chemelnucfin: Is this bug fixed now?

[2016-03-08 18:24] girving commented on #977
This seems to have fallen through the cracks.  @a-dai: Did you get a chance to glance at this?  @bugulnoz: Is it still an issue?

[2016-03-08 18:25] girving commented on #1056
Closed for now due to lack of activity.  Feel free to reopen if more information is available.

[2016-03-08 18:25] #1056 closed

[2016-03-08 18:27] girving commented on #597
Closing due to lack of activity.  Feel free to reopen if more information is available.

[2016-03-08 18:27] #597 closed

[2016-03-08 18:30] girving commented on #480
@vrv: If the actual bug is fixed, should we close this?  I don't think it's a TensorFlow bug that `(1)` isn't a `tuple` in Python.

[2016-03-08 18:31] girving commented on #611
Looks like this fell through the cracks.  When you say you submitted a contribution, did you make a PR?  There doesn't seem to be any programmatic mention of a contribution here.

[2016-03-08 18:36] girving commented on #667
Closing due to lack of activity.

[2016-03-08 18:36] #667 closed

[2016-03-08 18:38] girving commented on #715
Closing due to lack of activity.  Feel free to reopen if the problem persists.

[2016-03-08 18:38] #715 closed

[2016-03-08 18:39] girving commented on #1201
This is a question about how to use PHP to invoke processes, not a TensorFlow issues.

[2016-03-08 18:39] #1201 closed

[2016-03-08 18:39] girving commented on #721
@colah: Should this be closed?

[2016-03-08 18:42] girving commented on #721
Posting for @colah: Fixed, so closing.

[2016-03-08 18:42] #721 closed

[2016-03-08 18:43] girving commented on #1281
Closing due to lack of activity.  Please reopen if it's not fixed in 0.7.1.

[2016-03-08 18:43] #1281 closed

[2016-03-08 18:45] girving commented on #1245
I believe the reshape option only reshapes if the shapes have matching sizes.  Here the lhs would have 1 element and the rhs 60.  I'll post an answer on Stackoverflow to that effect.

[2016-03-08 18:45] #1245 closed

[2016-03-08 18:48] girving commented on #1268
We'll need more information to help: what is the error you're getting "from MatMul"?

[2016-03-08 18:52] girving commented on #1299
@zheng-xq: I vaguely recall this coming up in another context.  Have we hit anything like this?

[2016-03-08 18:55] girving commented on #252
I'm not sure what the state of PyPy binding layers is these days, but there's a good chance this would require rewriting the whole swig interface.

[2016-03-08 18:56] girving commented on #286
This is out of scope for tensorboard, which is a visualization platform rather than a graph generation platform.  A separate project building on tensorflow might be interesting, though!

[2016-03-08 18:56] #286 closed

[2016-03-08 18:58] girving commented on #296
This is somewhat covered by the queue functionality.

[2016-03-08 18:58] #296 closed

[2016-03-08 18:59] OlavHN commented on #1432
Sorry for being unclear. The command was left over from the github issue template.

`python3 --version`
Python 3.4.3
`python3 -c "import tensorflow; print(tensorflow.__version__)"`
0.7.1
`python --version`
Python 2.7.6
`python -c "import tensorflow; print(tensorflow.__version__)"`
ImportError: No module named tensorflow

[2016-03-08 19:01] girving commented on #410
Looks like this fell through the cracks.  @panmari: Is this still an issue, and do you have code if so?  For better or worse, tensorflow exposes a lot of the complexity of asynchronous programming to users, so it may be that this is intended behavior.

[2016-03-08 19:01] girving commented on #378
@vrv, @zffchen78: What happened to this?

[2016-03-08 19:04] girving commented on #1432
Next question: what exception are you seeing?  It may just be my eyes glazing over, but it looks like the initial comment has a traceback but not the actual exception.

[2016-03-08 19:05] girving commented on #202
@michaelisard: Assigning to you since presumably this will change as part of upcoming work.

[2016-03-08 19:07] girving commented on #316
Looks like this fell through the cracks.  PRs have been enabled for a while.  @martinwicke: Does this seem appropriate for `contrib`?

[2016-03-08 19:08] girving commented on #159
@petewarden: What's the status of this now?

[2016-03-08 19:11] girving commented on #210
I think this is best implemented with `reshape` and `transpose` followed by the existing functionality.

[2016-03-08 19:11] #210 closed

[2016-03-08 19:14] girving commented on #502
Looks like this fell through the cracks.  Does anyone know if this is still an issue?

[2016-03-08 19:15] girving commented on #152
@zheng-xq: Is this still an issue?

[2016-03-08 19:16] girving commented on #558
@martinwicke: It looks like the pages have titles now.  Want to mark as fixed?

[2016-03-08 19:19] sungjinhwang commented on #956
A work is in progress to add reflect and symmetric padding mode (as in numpy.pad).

[2016-03-08 19:19] girving commented on #616
Looks like this fell through the cracks.  Anyone know if it's still an issue?

[2016-03-08 19:20] girving commented on #716
@danmane: Do you know if this is still an issue?

[2016-03-08 19:20] Palang2014 commented on #1268
Thanks for reply. Let me ask them separately,

(1) Is it possible to use embedding layer with GPU? I think it is not because when I change `` with tf.device("/cpu:0") `` to ``with tf.device("/gpu:0")`` I get the following error which is caused by embedding look up. Is this because it is faster on CPU or it also supports GPU with a different syntax?
[code]

(2) For the rest of the code it uses just

[2016-03-08 19:21] girving commented on #421
@cwhipkey has made progress on this.

[2016-03-08 19:23] girving commented on #760
@fivejjs: Would you be for sending a PR?  Your suggested code is indeed much better.

[2016-03-08 19:24] zheng-xq commented on #1299
I've go through the repro instructions, and all the test cases are passing
for me locally.

test(batch_size=3, set_others=0)
test(batch_size=4, set_others=0)
test(batch_size=3, set_others=100)
test(batch_size=4, set_others=100)
test(batch_size=2, set_others=0)
test(batch_size=1, set_others=0)

My environment: Titan-X GPU, Cuda 7.5 SDK, and Cudnn R4.

Which Cudnn version are you using? I would high

[2016-03-08 19:24] girving commented on #785
I don't think there's enough information to diagnose here.  Feel free to reopen if more details emerge.

[2016-03-08 19:24] #785 closed

[2016-03-08 19:25] girving commented on #394
@martinwicke, @zheng-xq: Is this obsolete now that we support 7.5?

[2016-03-08 19:30] girving commented on #297
@martinwicke, @danmane: Is this still an issue?

[2016-03-08 19:34] chemelnucfin commented on #1303
@girving see pull request #1314

[2016-03-08 19:38] vrv commented on #480
I think it's fixed.

[2016-03-08 19:38] #480 closed

[2016-03-08 19:42] vrv commented on #378
It was submitted to gerrit, but it broke the build so we had to roll it back.  So I guess this is back to 'contributions welcome' :(

[2016-03-08 19:46] petewarden commented on #159
I'm hoping to work on this over the next couple of weeks.

[2016-03-08 20:00] cesarsalgado commented on #297
I am still having the same problem: https://goo.gl/photos/RfPszQCKECafxocQA

I can't see the Image Recognition sub-items.

[2016-03-08 20:05] cesarsalgado commented on #1299
I am using cudnn R2. I will try to install cudnn R4 in my machine in a few days.

[2016-03-08 20:11] cesarsalgado commented on #956
What about pad with constant value other than zero? This would be useful, because I want to set the constant value to the average values of the input. It would also be useful to choose a constant value for each channel.

[2016-03-08 20:14] fxsuper commented on #297
Also the API documentation still does not have the accordion. It's just a long list of entries that's very hard to navigate.

[2016-03-08 20:17] martinwicke commented on #297
@cesarsalgado What browser are  you using and on what OS? This works for me.

[2016-03-08 20:18] martinwicke commented on #1431
@amirkhango Is this still an issue with 0.7.1? Or are you deliberately trying to install 0.5.0?

[2016-03-08 20:20] martinwicke commented on #316
@vrv, what's the status of graph functions? We probably should standardize to one way of doing things, although even in the presence of functions functionality like this seems valuable to extract things from an existing graph.

[2016-03-08 20:22] martinwicke commented on #558
Fixed.

[2016-03-08 20:22] #558 closed

[2016-03-08 20:25] girving commented on #956
@cesarsalgado: You can pad with a constant other than zero by subtracting a constant from the input, padding with zero, and compensating in the output.

[2016-03-08 20:26] vrv commented on #316
@zffchen78

[2016-03-08 20:27] cesarsalgado commented on #297
Operating System: Ubuntu 14.04 LTS
The picture in my last comment was taken under Firefox 42.

Now I tested on chrome Version 47.0.2526.73 (64-bit) and now I can scroll all the way to the bottom but the scroll bar disappear in the bottom of the screen: https://goo.gl/photos/DbTTZhEMXfD8gVXR8

[2016-03-08 20:29] cesarsalgado commented on #297
My screen resolution is: 1366x768 (16:9)

[2016-03-08 20:32] cesarsalgado commented on #956
That is clever =) Thanks!

[2016-03-08 20:34] girving commented on #378
For whoever looks at this next: I fixed `tf.test.compute_gradient_error` a while ago to handle `complex64` input, so it should be easy to test this change.

[2016-03-08 20:34] #1303 closed

[2016-03-08 20:48] girving commented on #430
I fixed this ages ago, but for some reason the commit message does show up in the history.

[2016-03-08 20:48] #430 closed

[2016-03-08 20:50] girving commented on #360
I don't think it's practical to have a warning like this, unfortunately.  Calling `session.run()` on large tensors seems like pretty standard behavior for machine learning.

[2016-03-08 20:50] OlavHN commented on #1432
The important line was missing, yes.

`python3 ../../../tensorflow/tensorflow/models/rnn/translate/translate.py --data_dir .`
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUD

[2016-03-08 20:53] girving commented on #1432
Does changing `with gfile.GFile(data_path, mode="r") as f:` in `models/rnn/translate/data_utils.py` to have `mode="rb"` fix the problem?  If so, that's a better fix than teaching `gfile.py` about latin.

[2016-03-08 21:00] girving commented on #542
Looks like `tf.transpose` already works for any type on CPU, but only works for number types on GPU.  I'll fix it to use `TF_CALL_POD_TYPES` instead of `TF_CALL_NUMBER_TYPES`.

[2016-03-08 21:07] girving commented on #542
Fix in review.

[2016-03-08 21:08] girving commented on #602
Looks like this fell through the cracks.  @danmane: Any thoughts?

[2016-03-08 21:09] girving commented on #445
Looks like this fell through the cracks.  @petewarden: Any thoughts here?

[2016-03-08 21:12] OlavHN commented on #1432
Line 134 to `with gfile.GFile(data_path, mode="rb") as f:`

together with

Line 140 to `tokens = tokenizer(line.decode('latin1')) if tokenizer else basic_tokenizer(line.decode('latin1'))`

also seems to solve the issue for python 3.

[2016-03-08 21:16] girving commented on #608
I think a custom op for this is overkill.  Just do `matrix * tf.expand_dims(threshold / tf.maximum(threshold, norms), 1)`.  Hmm.  I guess for norms one has to do `tf.sqrt(tf.reduce_sum(tf.square(matrix), 1)` which isn't pretty, but if any new op is added here it should be an L2 norm op (or possibly some extra arguments the existing `L2Loss` op), not a normalization op.

[2016-03-08 21:16] #608 closed

[2016-03-08 21:18] girving commented on #1432
What error do you get if you only make the line 134 change?  The reason I ask is that it should work the same way in Python 2 and Python 3, and Python 2 doesn't automatically use unicode.

[2016-03-08 21:21] OlavHN commented on #1432
`python3 ../../../tensorflow/tensorflow/models/rnn/translate/translate.py --data_dir .`
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcufft.so locally
I tensor

[2016-03-08 21:21] girving commented on #620
This is a question for stackoverflow, not an issue with TensorFlow.  If the activations have shape `[batch, input]` and the weight matrix has shape `[input, output]`, only `tf.matmul(activations, weights)` makes sense.  The other way around would be a size error.  You're correct that transposing the entire graph should produce something with the same semantics, but note that *every* part of the gr

[2016-03-08 21:21] #620 closed

[2016-03-08 21:24] girving commented on #1432
So the right fix for that is to put `b` in front of the regular expression definitions to get `bytes`-compatible regular expressions.  A few more fixes along those lines may be required.

[2016-03-08 21:25] girving commented on #1432
If you want to keep trying to fix it I'm happy to keep helping, but I could also try to find someone to reproduce on our end.

[2016-03-08 21:26] girving commented on #404
Closing due to lack of activity.  Please reopen if this is still an issue!  If so, please include the error messages that result.

[2016-03-08 21:26] #404 closed

[2016-03-08 21:32] danbri commented on #445
In the meantime, the somewhat faster Pi v3 shipped. Perhaps that affects the possibilities (and feasibilities) around Tensorflow for Pi?

https://en.wikipedia.org/wiki/Raspberry_Pi says "Raspberry Pi 3 has a new BCM2837 SoC retaining compatibility with the GPU, CPU and connectors of its predecessors BCM2835 (Pi 1) and BCM2836 (Pi 2), so all those projects and tutorials for Pi 1 and Pi 2 hardware s

[2016-03-08 21:40] girving commented on #610
Except for error checking, it's much easier to implement `InvertPermutation` on GPU now that we have code for `tf.scatter` on GPU.  A bit of refactoring would probably let `InvertPermutation` reuse the functors for scatter.

[2016-03-08 21:41] girving commented on #643
I fixed this a while ago.

[2016-03-08 21:41] #643 closed

[2016-03-08 21:41] girving commented on #365
@martinwicke: Do we have hamburgers again?

[2016-03-08 22:03] OlavHN commented on #1432
I've posted an initial attempt to https://github.com/tensorflow/tensorflow/pull/1436

I've not tested this on 2.7 and would also need pointers.

[2016-03-08 22:08] StevenHuang4321 commented on #1426
@girving Below is the complete information
 `$ python
Python 2.7.11 (default, Mar  5 2016, 20:08:04)
[GCC 4.9.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/tensorflow/__init__.py", line 23, in <module>
    from tensorflow.python import *
  F

[2016-03-08 22:32] RasmooL commented on #1415
I think the problem would be resolved by doing as follows, since I remember having to do something similar:

[code]

[2016-03-08 22:34] vrv commented on #1415
pip uninstall tensorflow
pip uninstall protobuf
pip install path/to/tensorflow.whl

has also worked for a lot of people.  0.7.0's install broke a lot of things that 0.7.1 fixed.

[2016-03-08 22:46] martinwicke commented on #365
No. All we have is this issue and @danmane.
On Tue, Mar 8, 2016 at 13:41 Geoffrey Irving <notifications@github.com>
wrote:

[2016-03-08 22:50] jstaker7 commented on #626
No worries! Actually, once I found the work-around, I just settled with the smaller model and made that work. I don't think I have the code or models lying around anymore. This was for a competition which has since ended I didn't think I needed those files anymore. Sorry about that!

[2016-03-08 22:55] girving commented on #626
Alas!  Sorry we didn't get notice this earlier.  I think we're getting better at not dropping bugs, but there's still a ways to improve.

[2016-03-08 22:55] #626 closed

[2016-03-08 22:56] daveh86 opened #1437 "Tensorflow missing symbol in compilation"
Running on ArchLinux and compiling with the 2 suggested changes in [Issue 1346](https://github.com/tensorflow/tensorflow/issues/1346) -  GCC4.9 and -D_FORCE_INLINES.

*Env*
GCC 4.9.3
Bazel version states "from-head" - build taken from https://github.com/bazelbuild/bazel/archive/0.2.0.tar.gz
Building with Cuda and cudnn

I'm running into an issue where the linking step for the tutorials_example_tra

[2016-03-08 23:00] girving commented on #1437
@keveman: Do you any ideas here?  Feel free to comment and reassign.

[2016-03-08 23:09] keveman commented on #1437
No ideas. Passing the baton to @zheng-xq

[2016-03-08 23:09] daveh86 opened #1438 "Tensorflow missing symbol in compilation"
Running on ArchLinux and compiling with the 2 suggested changes in [Issue 1346](https://github.com/tensorflow/tensorflow/issues/1346) -  GCC4.9 and -D_FORCE_INLINES.

*Env*
GCC 4.9.3
Bazel version states "from-head" - build taken from https://github.com/bazelbuild/bazel/archive/0.2.0.tar.gz
Building with Cuda and cudnn

I'm running into an issue where the linking step for the tutorials_example_tra

[2016-03-08 23:10] #1438 closed

[2016-03-08 23:16] daveh86 commented on #1437
Okay, got it compiled.

For anyone following along from Arch Linux and wanting to compile this the following diff should help:
[code]

[2016-03-08 23:25] girving commented on #1437
To clarify: was the `LLVM_HOST_COMPILER_PATH` bit the part that fixed the `NewString` error?

[2016-03-08 23:34] DSA101 commented on #445
From use case perspective I'd definitely like to see TensorFlow on Pi, at least for the predict function.

I have a Pi that mines text and data from web daily and I am also planning to add NN processing to my scripts. I would train the model on my regular Core i7 dev box with a GPU but would love to run the prediction daily on the Pi (perhaps retraining the model monthly). Why Pi? Because it has m

[2016-03-08 23:37] girving commented on #445
@martinwicke: What's the state of cmake in contrib?  Would it be practical to get tensorflow compiling *on* a Pi rather than cross compiling?

[2016-03-08 23:38] daveh86 commented on #1437
Yes, suspect it was either `LLVM_HOST_COMPILER_PATH` or `CPU_COMPILER` as I changed both.

[2016-03-08 23:56] petewarden commented on #445
My plan is to get Blaze running on a Pi if I can. CMake isn't very pleasant to work with for this, in my experience. I hope to get to this asap.

[2016-03-09 00:02] noisychannel commented on #152
I'm not aware of a "soft-try-and-assign-device" implementation in Tensorflow.

[2016-03-09 00:38] #1437 closed

[2016-03-09 00:56] StevenHuang4321 commented on #622
@kli-nlpr Did you figure out the GLIBC_2.14 problem?

[2016-03-09 01:03] Vesnica commented on #1413
Latest bazel didn't fix this problem:

[code]

All proxy settings is correct, and there is no issue if I simply run:
[code]

[code]

[2016-03-09 01:04] StevenHuang4321 commented on #1426
@thinxer I am using gcc 4.9.2.

[2016-03-09 01:27] kli-nlpr commented on #622
@StevenHuang4321
I use centos6 when encounter this problem.
When I use Ubuntu14.04, the problem goes away.

[2016-03-09 01:35] StevenHuang4321 commented on #622
Since our server use Centos 6, it is not possible for me to change to
ubuntu. Thanks.

On Tue, Mar 8, 2016 at 5:28 PM, Kai Li <notifications@github.com> wrote:

[2016-03-09 01:40] kli-nlpr commented on #622
@StevenHuang4321
The possible solution is to update your glibc version.
But I think this is a complicated task and dangerous...

In fact I encounter a lot of problem when I use centos6 while doing deep learning research.

[2016-03-09 01:47] StevenHuang4321 commented on #622
Our system is CentOS 6.7, but it seems that only CentOS 7 supprot glib_2.14
or higher version.

Apparently, CentOS is not a good linux distribution to do develop and
research.

I already suggest my advisor to migrate our server from CentOS6.7 to Ubuntu
server.

On Tue, Mar 8, 2016 at 5:41 PM, Kai Li <notifications@github.com> wrote:

[2016-03-09 01:54] #542 closed

[2016-03-09 01:54] #1427 closed

[2016-03-09 02:06] amirkhango commented on #1431
@martinwicke  you mean I just change 0.5.0 to 0.7.1 in that command? Though this problem is still ! Can u tell me how do you find this solution?

[2016-03-09 03:18] shawnLeeZX commented on #1396
First I have to confess I did not notice the OpError class before. Now I could
get the program log something before it quits. Thanks for pointing it out.

Then I thought a little why I did not notice this, and think this may could be
a small improvement usability. I will elaborate below.

The error with more context is:

[code]

I got the same log whether I catch the error or not. For a typical py

[2016-03-09 03:38] thinxer commented on #1426
This error seems to be from importing. Please paste your error on compiling from source.

[2016-03-09 03:41] thinxer commented on #1426
So you have compiled from source successfully but cannot load it from Python?

It seems that your Python is compiled from a lower version of GCC which uses GLIBC_2.12, but the built tensorflow binary uses GLIBC 2.14.

You may try LD_PRELOAD glibc 2.14, which should be found within your GCC 4.9 installation.

[2016-03-09 03:57] CDLuminate commented on #720
OK, it would be great. When #1309 is merged, I can unblock tensorflow and then continue.

[2016-03-09 04:38] shiyemin commented on #1390
@lukaszkaiser Yeah, you are right. It works well after put LSTM on CPU. I can not find this "pin_variables_to_cpu". But i will modify LSTM to add a parameter and let it have a option to put variables on CPU.

A suggestion for this problem is to **add this pin_variables_to_cpu kind of parameter to rnn.rnn function**.

Thanks for your help!

[2016-03-09 05:21] panmari commented on #410
I ended up going a completely different route, since the non-sequential nature of reading (rather small) png files this way ended up being the bottle neck of my learning pipeline. Starting from [this example](https://github.com/tensorflow/tensorflow/blob/r0.7/tensorflow/examples/how_tos/reading_data/convert_to_records.py), I wrote a small script that dumps multiple images into one `example` under

[2016-03-09 05:21] #410 closed

[2016-03-09 05:23] urvishparikh commented on #394
I had the same problem, this fixed it: `sudo apt-get install nvidia-modprobe`

[2016-03-09 08:27] shiyemin commented on #1390
@lukaszkaiser After putting all LSTM variables on CPU,  the error "Attempting to use uninitialized value lstm/LSTMCell/W_0" is still there. I have to give up on this and use single GPU. But there may be bugs in LSTM in a multi GPU situation.

[2016-03-09 08:27] myme5261314 commented on #208
Any update or progress schedule?

[2016-03-09 09:09] MisayaZ opened #1439 "why tensorflow run slow in loop"
I just run many times of sess.run in loop like this:

    input1 = tf.placeholder(tf.float32)
    input2 = tf.placeholder(tf.float32)
    sess = tf.Session()
    for image_num in range(128):
      image_result_table=np.zeros((96,32),dtype=np.float32)
      for sub_num in range(96):
          for centroids_num in range(32):
	       vector_a = local3_value[image_num,sub_num*4:(sub_num+1)*4]

[2016-03-09 09:42] bdaskalov commented on #360
@girving I was still learning Tensorflow at the time I filed this so I guess I didn't phrase it properly.

The problem is that tf.scatter_update/add/sub() Ops return the whole tensor although they are typically used to update only a small part of it.

For example:

session.run([tf.scatter_update(large_table, 3, [1,2,3]))

will return the whole value of "large_table" as a NumPy array although it up

[2016-03-09 10:56] johcarvajal commented on #1397
I think it has to do with the Dual GPU architecture for Tesla K80. It has a PCIe switch to communicate both GPU cards internally. It shall introduce an overhead on communication. See [block diagram](https://www.microway.com/hpc-tech-tips/introducing-nvidia-tesla-k80-gpu-accelerator-kepler-gk210/)

[2016-03-09 11:30] jplu commented on #1415
Hello,

About @vrv's answer, still not working:

[code]

Now about @RasmooL's answer, again, still the same error:

[code]

And, even after trying once again @vrv's answer, same error.

[2016-03-09 11:32] ascenator commented on #1397
So the shared PCIe lanes are the bottleneck? Any tips on how to avoid this problem?

[2016-03-09 12:36] alex-pardo opened #1440 "Cuda 3.0 not working"
When installing from pip tensorflow GPU version (Linux), minimum cuda version is 3.5.
Install instructions have been changed to:
"TensorFlow GPU support requires having a GPU card with NVidia Compute Capability >= 3.0"
However, gpu_device.cc is still requiring cuda 3.5:

[code]

[2016-03-09 12:49] ffmpbgrnn commented on #1287
I built from source on Ubuntu 14.04 and met the same issue. Any updates on this?

[2016-03-09 15:03] hoyeunglee opened #1441 "valueerror when install 0.7.1 in centos 7"
[martin@localhost ~]$ sudo pip install ./tensorflow-0.7.1-cp27-none-linux_x86_64.whl
[sudo] password for martin:
Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/pip/basecommand.py", line 139, in main
    status = self.run(options, args)
  File "/usr/lib/python2.7/site-packages/pip/commands/install.py", line 235, in run
    InstallRequirement.from_line(name, N

[2016-03-09 15:36] sesse commented on #1300
An update here; the Eigen::half class (making half look roughly like any other arithmetic type) works. I've added half support to a bunch of ops (with the class in place, it's mostly only about adding the right template instantiations), including some a very few select cuDNN and cuBLAS operations. I can do training of a CNN example with most ops in float16 (I need to cast back to float32 for some

[2016-03-09 16:02] girving commented on #360
Fair enough, I was a bit mislead by the title change.  Reopening.

[2016-03-09 16:06] girving commented on #360
Incidentally, it would be better to fix the performance issue entirely.  There are a couple possible ways to do that, though I'm not sure if any are practical:

1. Automatically replace `scatter` with `scatter.op` in `session.run`.
2. Same as (1), but on the C++ side somehow.
3. Return views into the tensor rather than the whole thing.

@michaelisard: Do any of these seem sane / practical?

[2016-03-09 16:57] psycharo commented on #375
The instructions work fine for CPU-only ops, but seem to be insufficient for building an op with a GPU kernel. A slightly modified `BUILD` works fine though (for GPU-only kernels):
[code]

I think it would be great to have a bit more details in the docs, and maybe even have a bazel rule for building custom ops, similar to `tf_kernel_library()`.

[2016-03-09 16:58] goelakash commented on #1377
This issue still affects the website for me (both on Chrome 49 and Firefox 44)

[2016-03-09 17:01] girving commented on #1441
@martinwicke: Looks like the wonderful world of wheel naming conventions?

[2016-03-09 17:02] girving commented on #1440
@zheng-xq: Should this be changed to 3.0?

[2016-03-09 17:03] girving commented on #1439
For future issues, please use Markdown to format the code.  For this one, I edited it to indent by four spaces to preserve indentation.

[2016-03-09 17:08] girving commented on #1439
Your code snippet is incomplete, since you haven't shown us the definition of `local3_value` and `centroids`.  There are also some strange bits, such as allocating `image_result_table` but never using it.

[2016-03-09 17:14] vrv commented on #1439
@girving: the problem here is that the program is constantly adding more nodes to the graph because it is mixing graph construction with graph execution.

[2016-03-09 17:16] ebrevdo commented on #1235
Did that solve the problem?

[2016-03-09 17:17] ebrevdo commented on #291
CPU and GPU versions of lgamma, digamma, erf, and erfc are in, igamma/igammac/betainc are coming soon.  Marking as done.

[2016-03-09 17:17] #291 closed

[2016-03-09 17:18] ebrevdo commented on #561
Closing because folks shouldn't be using linear.  But let me know if this breaks any existing models in python3 and i'll reopen.

[2016-03-09 17:18] #561 closed

[2016-03-09 17:20] ebrevdo commented on #208
You can now use control_flow_ops.{map, foldl, foldr}  with forward and backprop, and you can call these functions from inside each others' lambdas.  For RNN, you can use dynamic_rnn which does the same.  If you have more complex eneds you can comment them here or use control_flow_ops.While and TensorArray.  I'm marking this as fixed.

[2016-03-09 17:20] #208 closed

[2016-03-09 17:20] girving commented on #1439
Ah, right, forgot about our quadratic time behavior.  @MisayaZ: Move the `mat_result` and `reduce_sum` definitions outside the loops and you should be fine.

[2016-03-09 17:20] #1439 closed

[2016-03-09 17:21] vrv commented on #208
@ebrevdo: are those functions:

1) public
2) documented?

[2016-03-09 17:25] ebrevdo commented on #208
Indeed not, but I believe {map_fn, foldl, foldr} are ready to be added by
referencing them in the header.  We'll get a CL out soon.

On Wed, Mar 9, 2016 at 9:21 AM, Vijay Vasudevan <notifications@github.com>
wrote:

[2016-03-09 18:53] RasmooL commented on #526
Indeed, I am seeing the same error sometimes on a shared K40. It seems to happen when someone else has completed a job, and somehow the context is not cleared? I am sure that no job is actually executing on the GPU at the time.

[2016-03-09 18:56] dvyukov commented on #932
@zheng-xq @girving

On Tue, Mar 8, 2016 at 8:08 PM, Zhifeng Chen wrote:

That's true. But the thread pool waits for the existing tasks to finish in destructor. If you combine these two points, you conclude that tasks are not allowed to submit child tasks to the thread pool. Ever. That's just does not make sense. So you need to either (1) wait for _all_ tasks to finish, including subtasks of existi

[2016-03-09 19:18] ludimagister commented on #1198
Sorry for the delay, this is fixed at head now.

Mike

[2016-03-09 19:18] #1198 closed

[2016-03-09 19:19] girving commented on #1198
@ludimagister: For future use: if you include "Fixes #<issue>" in the commit description the bug will be automatically closed on push.

[2016-03-09 20:23] chemelnucfin commented on #824
@girving This issue may be closed?

[2016-03-09 20:38] Mistobaan commented on #1440
@alex-pardo did you `./configure` with `TF_UNOFFICIAL_SETTINGS=1` and specified `3.0` at the cuda compute capability step ?

[2016-03-09 20:55] jstaker7 opened #1442 "Same model behaves different when restored in Linux vs OSX"
Using the recent TensorFlow pip install 0.7.0 I have encountered some frustrating behavior. It might be something I'm doing wrong on my end, but I've ruled out everything I can.

Here's what's happening:
I've trained a model on a linux system using a GPU. I then scp the checkpoint file to my mac, and restored the checkpoint file into exactly the same code-base. However, the results were much poore

[2016-03-09 21:55] rlrs opened #1443 "Hard-coded gcc path"
When compiling with GPU support, the compiler path is set in the file
//third_party/gpus/crosstool/crosstool_wrapper_is_not_gcc on line 47 to 50:

[code]

which can result in using an old version on e.g. clusters where several compilers might be installed under a path such as
`/appl/gcc/5.3.0/bin/gcc`

It would be nice to be able to configure the compiler path.

Edit: This overlaps with the hard c

[2016-03-09 22:03] vgatto opened #1444 "SummaryWriter writes constants with the graph definition"
It looks like SummaryWriter includes the values of constants when writing the graph definition. I'm currently loading word embeddings using python and using the numpy array to initialize a variable. This results in the ~300M of embeddings to be dumped to disk during summarization.  I understand why a constant would be part of the model graph if the goal was to save and restore the graph, but I don

[2016-03-09 22:19] girving commented on #824
Yep, closing.

[2016-03-09 22:19] #824 closed

[2016-03-09 22:39] shlens commented on #1021
Inception-v3 may now run on batches of arbitrary size by using the newly released code here:
https://github.com/tensorflow/models/tree/master/inception

In particular, one can adapt this script to accept arbitrary data sets:
https://github.com/tensorflow/models/blob/master/inception/imagenet_eval.py

[2016-03-09 22:39] #1021 closed

[2016-03-09 22:45] shlens commented on #1029
resize_images is light wrapper around several resizing kernels, including resize_bilinear, resize_bicubic, etc. The light wrapper functionality is intended to "assist" with the shape information and 3d and 4d images seemlessly. If you do not need all of these "assists" for shape information and 3d/4d images, could you call the underlying functions directly, e.g. resize_bilinear?

[2016-03-09 22:56] vgatto commented on #1444
I'd also like to point out that this makes it impossible to visualize the graph in tensorboard, since it just hangs parsing the constants in the graph def.

[2016-03-09 23:05] edmondja commented on #22
Tensorflow is latee ! ahah
https://gist.github.com/jarutis/ff28bca8cfb9ce0c8b1a

[2016-03-10 00:23] vladfi1 opened #1446 "Tensorflow is using the wrong cuda toolkit"
I recently installed tensorflow on an Ubuntu 12.04 machine that has both cuda 6.5 and 7.0 installed. However, when I import tensorflow I get the following error:
[code]
Am I doing something wrong? Can I use cuda 6.5 or 7.0?

Edit: installation was via pip(3).

[2016-03-10 00:24] vrv commented on #1446
Yes, you have to build from sources and you can specify the toolkits you want to use via ./configure

[2016-03-10 00:27] vladfi1 commented on #1446
So the pip installation only supports cuda 7.5?

[2016-03-10 00:30] vrv commented on #1446
Yes, I believe so.

[2016-03-10 00:37] lukaszkaiser commented on #1390
I don't think there are any bugs in LSTM. Variable placement in a multi-device or multi-machine setting is hard, but it's solved by tf.device. We do not want to have parameters for this in LSTM or any other function, as we'd basically need to add the same code to every function we write. It is solved differently using tf.device -- you can use a tf.device context around anything you want, and it wi

[2016-03-10 00:37] #1390 closed

[2016-03-10 00:42] vladfi1 commented on #1446
Perhaps that should be documented somewhere?

[2016-03-10 01:05] girving commented on #824
@chemelnucfin: For future use, you can include a line "Fixes #824" in the commit message in order to automatically close the issue when it's merged.

[2016-03-10 01:12] girving commented on #1029
I renamed the issue.  Ideally `resize_image` wouldn't require shapes to be known statically; certainly there's nothing fundamental about the underlying ops that requires it.

[2016-03-10 01:18] girving commented on #1444
Constants are part of the `GraphDef`, so unfortunately this is intended behavior.  To keep them out of the `GraphDef`, change from

    random_a = tf.Variable(tf.random_normal([1000000]))

to

    random_a = tf.Variable(shape=[1000000])
    random_a.assign(np.random.randn(*random_a.shape)).eval()

Ug, actually that'll implicitly create a constant too.  @petewarden: What's the right solution here?

[2016-03-10 01:19] girving commented on #1443
It'd be good to have this as part of `configure`, but I don't know how awkward it is.  @ebrevdo: Care to comment?

[2016-03-10 01:25] vrv commented on #1443
https://github.com/tensorflow/tensorflow/pull/1220 might be relevant

[2016-03-10 01:54] mrry commented on #1444
The same question came up on StackOverflow today: http://stackoverflow.com/a/35904439/3574081

(FWIW: `random_a = tf.Variable(tf.random_normal([1000000]))` won't add a large constant to the graph, but `random_a = tf.Variable(np.random.normal(size=[1000000]))` will.)

[2016-03-10 02:03] petewarden commented on #1444
To answer what I think is the original question, it's definitely possible to strip out Constant ops from a graph def. We do the opposite in the freeze_graph script, so we could create a 'strip_graph' script or similar to slim down files by replacing large constants with something smaller (though we'd have to do some resize tricks to do it properly).

I think the bigger question is 'Why are there t

[2016-03-10 02:18] underspirit commented on #1306
@alquraishi I'd like to ask a question if I may. In your example, the batch size is 4(static), and num_stepss also is a static vector with length 4. But if I have another batch with different num_stepss [14, 30, 24, 17] (Which I mean every batch has different num_stepss...), how could I use the dynamic_rnn model?

[2016-03-10 02:20] girving commented on #1444
@mrry: That solves the code shown, but I believe the original code loads a big numpy array from a file.

[2016-03-10 02:23] MisayaZ commented on #1439
Thanks

[2016-03-10 02:24] girving commented on #1442
It's impossible for us to debug this without more information.  First, though, a wild guess: what happens if you restore and test on Linux but using only CPU?  That might at least isolate it to a GPU bug.  If it does turn out to be CPU vs. GPU, can you isolate which op is problematic?

[2016-03-10 02:29] gear commented on #1325
Thank you for the answer. I had the same problem.
On the other hand, I would like to add a note that if `tf.get_variable_scope().reuse_variable()` is (accidentally)  used without a context manager `with tf.variable_scope(...):`, it will set any variable scope's `reuse` to True.

[code]

[2016-03-10 02:29] jstaker7 commented on #1442
I did try disabling the GPU and that didn't seem to help. Good suggestion on trying to isolate which op... let me spend some time doing that and I'll get back to you.

[2016-03-10 02:58] rakeshvar commented on #208
A toy RNN example with these functions would go a long way; especially since they do not directly correspond to the `theano.scan` functionality.

[2016-03-10 03:17] ebrevdo commented on #208
See the implementation of dynamic_rnn for a comprehensive example.
On Mar 9, 2016 6:59 PM, "rakeshvar" <notifications@github.com> wrote:

[2016-03-10 03:24] lukaszkaiser commented on #1325
Indeed - any sub-scope of a reusing scope is also reusing. So just setting things with .reuse_variables() can be a bit dangerous. We could forbid it and have only context, but on the other hand it's convenient from time to time.

[2016-03-10 03:29] WenchenLi opened #1448 "bazel build failed"
Hi,
I'm running on ubuntu 14.04 with cuda 7.0, cudnn4 in system.
I followed the instruction on  https://www.tensorflow.org/versions/r0.7/get_started/os_setup.html#optional-install-cuda-gpus-on-linux. But when build with bazel (0.2.0), I always get:

$ bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer
INFO: Found 1 target...
ERROR: missing input file '//third_party/gpus/cud

[2016-03-10 03:43] myme5261314 commented on #1413
@Vesnica I'd like to know whether just set http.proxy and https.proxy for git is enough to fetch google's boringssl repo?

I set my proxy to git via:
[code]
And then run the command.
[code]
And the clone failed, the output is like below:
[code]

PS: I've tried to set HTTP_PROXY and HTTPS_PROXY environment variable for latest bazel, but it doesn't work.
[code]
So they all give me `503` as failed co

[2016-03-10 05:55] Vesnica commented on #1413
@myme5261314 Make sure your ~/.gitconfig have this section:
[code]
This should be enough for all https git url.

boringssl in bazel is another issue, which I believe not related to your proxy settings(git or system).