[2016-11-30 16:39] Carmezim commented on #5953
DId you try installing using:
`pip install tensorflow`
In your case for GPU support enabled
`pip install tensorflow-gpu`

You only need Python 3.5 64-bit and CUDA 8.0.

[2016-11-30 16:55] poxvoculi commented on #5922
Those are some critical details.  By reducing the embedding size, you reduced its ability to distinguish between words dramatically.  Also, you may not have trained long enough.  The tutorial suggests you should train for a full epoch (340,000 steps at batch 64) before expecting the model to work...with the original embedding size.  Nonetheless, the perplexity scores suggest that it learned someth

[2016-11-30 17:01] mrry commented on #5986
This error should be a warning. Multiple GPUs work today on Windows, and they should work with a NUMA setup (although we haven't tested this). However, the stream executor code will not take advantage of NUMA topology if it is available.

[2016-11-30 17:03] aaronzs commented on #5983
check [this](https://github.com/tensorflow/tensorflow/pull/5844)

[2016-11-30 17:04] mrry commented on #5986
@poxvoculi I think you know most about the more complex bus topologies we use. What are we missing if we don't have GPU-to-NUMA-node mapping information in stream executor?

[2016-11-30 17:16] prb12 commented on #5722
@mrry Do you have any ideas about how best to mask GPU transfer latency of large input tensors?

[2016-11-30 17:18] mrry commented on #5983
As @aaronzs observes, TensorBoard currently doesn't work on Windows. #5844 could work, but the TensorBoard team is changing the way they handle external packages, so a different approach might be necessary.

@danmane Do you have an estimate of when this will be ready?

[2016-11-30 17:19] kmalakoff opened #5987 "Request for documentation on recommended flow in slim for train, validation, and test sets"
The examples in the [slim README.md](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/slim) give basic documentation for training and evaluating models when used separately; however, there is guidance missing on how to do the classic cycle of mini-batch gradient descent using shuffled subsets of the training set, periodically evaluating validation set, and then evaluating on

[2016-11-30 17:29] mrry commented on #5722
In principle one could write a version of the `FIFOQueue` that managed GPU buffers rather than CPU buffers, and then use the existing mechanisms (like queue runners) to drive a subgraph that copies the data from CPU to GPU and enqueues it in this queue. I'm not sure what the relative latency is between these copies and the framework overhead to run a step that performs the enqueuing, but I suspect

[2016-11-30 17:32] abred opened #5988 "fused_batch_norm throws ValueError for partially known 2D-Tensor"
I'm trying to use the new fused_batch_norm layer (as I also have this problem #3290)
Using it for 4D Tensors works fine so far (as in: it doens't crash)
However, when using 2D Tensors ([None, X]) I get this error:

...
  File "/home/userName/.local/lib/python2.7/site-packages/tensorflow/contrib/framework/python/ops/arg_scope.py", line 177, in func_with_args
    return func(*args, **current_args)

[2016-11-30 17:33] chidochipotle commented on #5036
Hvass-Labs's tutorials are amazing. Would be great if you could implement the MetaGraph so he can make tutorial 10. Thanks, Daniel

[2016-11-30 17:54] larsmennen commented on #5902
Thank you again for your quick reply.

That is exactly the question. My problem does not relate to calling a non-TF program in the middle of a TF graph.

Let's say program A runs on the GPU (non-TF) and I want to feed its output (which is in GPU memory) into a TF network (program B, which uses the TF C++ API).
I understand that the easiest way is to do: copy output of A back to CPU memory -> run p

[2016-11-30 17:56] tomrunia commented on #5694
As a work-around I now use `tf.reshape` to merge the WxH so the 5D tensor becomes 4D. Then I am able to use `tf.nn.fused_batch_norm()`. After the batch normalization I reshape the tensor again to get the 5D tensor back. This speeds up training time with 20% compared to using the non-fused version of batch normalization.

[2016-11-30 18:11] lintzuhsiang commented on #5188
simply change the tf.train.checkpoint_exists(....) into tf.gfile.Exists(.....) and it can work

[2016-11-30 18:39] lobachevzky opened #5989 "RuntimeError for minimal RNNCell example"
I am just trying to get a simple RNNCell to work. This simple code:

    with tf.Session() as sess:
        x = tf.Variable(np.ones((2, 3)))
        tf.global_variables_initializer().run()
        out, state = BasicRNNCell(4)(x, x)

Throws the following error:

    /Users/ethan/env/bin/python /Users/ethan/tf-bug/main.py
    Traceback (most recent call last):
      File "/Users/ethan/tf-bug/main.py

[2016-11-30 18:44] kofd commented on #781
@ahundt I created a bilinear implementation of the stack overflow approach and its about 20 times slower than PIL on a cpu machine. It might still be worth using for gpu though.

[2016-11-30 19:15] poxvoculi commented on #5986
The code and comments in gpu_device.cc clarify what's going on.  We use the StreamExecutor interface to get NUMA affinity for a GPU, then use that to set a (PCI) bus identifier for the GPU.  In the generic open-source version of TensorFlow, the bus id is of no consequence because there are no adaptations for multi-bus architectures.    It would be possible to utilize this feature to customize TF f

[2016-11-30 19:19] rogertrullo commented on #1122
Hi @zhongyuk , how did you keep track of the moving mean and variance?
Thanks!

[2016-11-30 19:27] mrry commented on #5986
Should we remove this log statement from `tensorflow/stream_executor` then? Or should we even remove the code for querying the NUMA affinity, since the bus ID is never used?

[2016-11-30 19:33] #5818 closed

[2016-11-30 19:35] yaroslavvb commented on #5722
@nmiculinic a way to provide evidence that GPU-resident queue is useful could be to implement it on the client side using a rotating buffer of GPU-pinned variables and measure the speed-up, ie https://github.com/tensorflow/tensorflow/issues/4526#issuecomment-249021613

[2016-11-30 19:58] poxvoculi commented on #5986
That should probably be a LOG(INFO), not an error.

[2016-11-30 20:09] gibiansky opened #5990 "iOS: No OpKernel for Pow op"
We're running a model on iOS and finding that the `tf.pow` Pow op is not supported; we added a line with `tensorflow/core/kernels/cwise_op_pow.cc` to `tensorflow/contrib/makefile/tf_op_files.txt`, rebuild TensorFlow, and after that, the model worked.

Could this op be added to the iOS makefile so that in the future other folks do not run into this problem?

(I would submit a PR but this is at a co

[2016-11-30 21:24] poxvoculi commented on #5902
The session->Run() function computes the the subgraph closure induced by the specified outputs, in other words, it computes forward from consts, Vars or fed Nodes only along paths that lead to the requested outputs.   Given this situation, if you already have figured out how to copy the values computed by A into a TF allocated tensor, why not copy them into a GPU resident Var, instead of into some

[2016-11-30 21:53] vade commented on #5956
Let me confirm this is an issue with RC 12 in the mean time. Thank you.

[2016-11-30 22:04] dougalsutherland commented on #4739
This seems to have been added in https://github.com/tensorflow/tensorflow/commit/715f951eb9ca20fdcef20bb544b74dbe576734da.

[2016-11-30 22:46] zhongyuk commented on #1122
@rogertrullo Generally I setup TensorBoard to track moving mean and variance. Other than that, I also tried fetching statistics through `tf.get_variable("moving_mean")` within scope during training and reference to monitor the bias.

[2016-11-30 23:01] dkokron opened #5994 "build failure"
Attempting to install master on a SLES11sp3 system under
gcc-4.9.3
Python 3.5.1
bazel-0.4.1

TensorFlow hash is
git rev-parse HEAD
a70a2d9f0e7d34e36018e83e4b17c45a26a2f3dc

Seems similar to
https://groups.google.com/a/tensorflow.org/forum/#!topic/discuss/Tm5ztabIUCw

./configure
~/play/TensorFlow/tensorflow ~/play/TensorFlow/tensorflow
Please specify the location of python. [Default is /usr/bin/py

[2016-11-30 23:08] #5949 closed

[2016-11-30 23:35] poxvoculi commented on #5907
Good questions :)

Second one first: Why is there not a comparable slowdown due to protobuf serialization when talking to a parameter server shard?  Because we optimized the way in which Tensors are protobuf encoded-decoded at the RPC interface for the RecvTensor method.  A numeric Tensor is backed by a dense memory buffer of same-size binary fields.  See core/framework/tensor.proto for how as a p

[2016-11-30 23:40] poxvoculi commented on #5929
@concretevitamin: can the checkpoint_prefix path component be improved?

[2016-11-30 23:50] concretevitamin commented on #5929
@ericyue: what's your `checkpoint_path`, when passed to `save()`?  We'd need to figure out whether this is related to the user-passed argument or something inside (e.g. file_io).

[2016-12-01 00:06] yaroslavvb commented on #5907
@gowithqi I've noticed same kind of problem, not limited to FIFOQueue -- specifically, when Python client requests data from another TensorFlow worker, the data is transferred at a rate of 50-200MB/s even if all the workers are local. The bottleneck seems to be protobuf decoding which happens on a single core. (more cores = smaller cores = worse performance)

Self-contained benchmark that reproduc

[2016-12-01 00:09] poxvoculi commented on #5959
This type of user question is best asked on stackoverflow.  This forum is for bug reports and similar.

[2016-12-01 00:09] #5959 closed

[2016-12-01 00:17] yaroslavvb commented on #5907
BTW, Marc O'Connor of Allinea analyzed this slowness (gRPC transfers bottlenecking at 200MB/second when you add large vector of 1's in one worker to variable on another local worker and fetch result into Python) and found following break-down.

Out of 1 second:
1.	Nothing happens (0.2s +- 0.05): main process waits in grpc_competion_queue_pick, other threads wait in std::this_thread::__sleep_for(!)

[2016-12-01 00:20] poxvoculi commented on #5963
This looks like a duplicate of #5932.  There's some new information, but not enough that I can easily reproduce or diagnose the problem.  Unless there's good evidence of a bug, this kind of question is better asked on stackoverflow.  You're more likely to get a helpful response if you can reduce it to an easily reproduced problem.  Just guessing, I think maybe your model structure isn't what you t

[2016-12-01 00:20] #5963 closed

[2016-12-01 00:20] poxvoculi commented on #5932
duplicate of #5963

[2016-12-01 00:20] #5932 closed

[2016-12-01 00:51] camj256 opened #5995 "GPU MUCH slower than CPU"
GPU training is MUCH slower than CPU training. It's possible I'm doing something wrong. If I'm not I can gather more data on this. The data set is pretty small and it slows to a crawl. GPU usage is around 2-5%, It fills up the memory in the GPU pretty quickly to 90% but the PCIe Bandwidth Utilization is 1%. My CPU and Memory usage are otherwise minimal.

My setup: 32gb ram, 8 core 4.3 Ghz processo

[2016-12-01 01:12] ulfjack commented on #5883
Can you post the generated ops_to_register.h file?

[2016-12-01 01:37] elmer-garduno opened #5997 "Please update the optimized protobuf binary library recommended on tensorflow.org"
The following page [1] describes how to use the optimized protobuf binary to allow for large protos. Recently the protobuf library removed the limit on the proto size once and for all [2].

This should fix some of the issues still being reported on #582.

Could you please update the binary to the latest version and the documentation if applicable?

Thanks

[1] https://www.tensorflow.org/versions/r

[2016-12-01 01:56] poxvoculi commented on #5964
Do you have a PR that works?   Seems useful.  @sguada

[2016-12-01 02:00] normanheckscher commented on #4210
Python 2.7 didn't like that. Needed to revert the line of code to get it to run.

[2016-12-01 02:15] poxvoculi commented on #5971
The contrib code is not strongly supported.  I found this documentation page.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/functions_and_classes/shard3/tf.contrib.learn.Estimator.md

This forum is for bug reports.  Usage questions best asked on stackoverflow.

[2016-12-01 02:15] #5971 closed

[2016-12-01 02:15] chengdianxuezi opened #5999 "distributed seq2seq used SyncReplicasOptimizerV2 question"
Now I want to change seq2seq to distributed mode used SyncReplicasOptimizerV2. I've been trying for a few days，but still can't work out. this is my code,one file is seq2seq_train.py,on file is seq2seq_model.py
I try to run in 1 ps and 2 worker

the error is:
Traceback (most recent call last):
  File "/home/test/replicas_seq2seq_v4/seq2seq_train.py", line 188, in <module>
    tf.app.run()
  File "/

[2016-12-01 02:21] guotong1988 commented on #4668
@Fenugreek I confirm my commit by write two example [here](https://github.com/tensorflow/tensorflow/pull/5300)
But I'm afraid that there is still some bug with my commit.

[2016-12-01 02:27] zheng-xq commented on #5965
I marked this contribution-welcome. GPU is not particularly fast for those operations. But it is conceivable that it is faster than copying the data from GPU-to-CPU, operate on CPU, and then copy the data back.

The kernel itself may need some consideration. For tf.unique, if the range is limited, we can first convert it into a bit-mask, and then gather the active location, through either atomic o

[2016-12-01 02:27] poxvoculi commented on #5914
Generally, this kind of question is best asked on stackoverflow.  This forum is for bug reports.

I'm not an expert on this topic.  Have you had success using TensorFlow Serving with any other models?  That is, have you tried (and succeeded) with these tutorials?

https://tensorflow.github.io/serving/serving_basic.html
https://tensorflow.github.io/serving/serving_advanced.html

[2016-12-01 02:31] poxvoculi commented on #5975
Please see #4279

[2016-12-01 02:31] #5975 closed

[2016-12-01 02:36] #5999 closed

[2016-12-01 02:38] mrry commented on #5953
@nealwu Am I right in thinking that these scripts are about to move to a different location anyway? If that's the case, we probably won't add them to the wheel for 0.12, but they should work if you clone the git repository and run them from there.

[2016-12-01 02:39] nealwu commented on #5953
Yep, I'll be moving these models out of this repo and into https://github.com/tensorflow/models very soon, so this will no longer be Windows-specific. :)

[2016-12-01 02:44] Samurais commented on #4856
Same problem.

Tensorflow 0.11.0rc1 installed via pip
Firefox 49.0.2
Ubuntu 16.04

work fine on Chrome 54.0.x

[2016-12-01 02:48] chengdianxuezi opened #6000 "distributed seq2seq used SyncReplicasOptimizerV2 question"
Now I want to change seq2seq to distributed mode used SyncReplicasOptimizerV2. I've been trying for a few days，but still can't work out. this is my code,one file is seq2seq_train.py,on file is seq2seq_model.py
I try to run in 1 ps and 2 worker

the error is:
Traceback (most recent call last):
  File "/home/test/replicas_seq2seq_v4/seq2seq_train.py", line 188, in <module>
    tf.app.run()
  File "/

[2016-12-01 02:52] chengdianxuezi commented on #6000
@DjangoPeng
Have you solved this problem

[2016-12-01 04:01] ericyue commented on #5929
checkpoint_path is something like "./checkpoint/model_xxxx//checkpoint.ckpt"
I noticed that the double slash is passed by myself.
but , why this got error on centos , mac works right?

[2016-12-01 04:26] dillonalaird commented on #4427
I haven't checked all the math but this implementation slices off the first encoded hidden state and appends on the most recent decoded hidden state which is not what's done in Bahdanau. Attention is typically used for translation tasks, this looks like a good technique for music generation but I think the class name and the paper reference are misleading.

[2016-12-01 04:44] qazxswedcxzaqws commented on #5968
Same issue as **rleplae** everything is successfully opened however the "Your kernel may not have been built with NUMA support." appears and then my entire system is frozen for 20-30 minutes. After that the error appears again and my system is frozen again for the same amount of time etc in a loop. I'm running a single GPU setup so it's odd that this is having such a significant impact.

I c:\tf_j

[2016-12-01 05:01] Strideradu opened #6001 "How to enable the support of cuda compute capability 3.0 GPU in windows"
I just setup gpu supported tensorflow on my windows 10 PC following https://developers.googleblog.com/2016/11/tensorflow-0-12-adds-support-for-windows.html

But right now I found I cannot use my GPU as it is a GeForece GTX760 and only has 3.0 CUDA compute capability

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

There are several dis

[2016-12-01 05:39] asimshankar opened #6003 "C/Other Languages: Support serialization and deserialization of Tensors"
In C++ and Python, Tensors can be serialized into a `TensorProto` using functions like [`Tensor::AsProtoTensorContents`](https://github.com/tensorflow/tensorflow/blob/f7ec99516ce0e0937e0b865e90aa02c748cd36c6/tensorflow/core/framework/tensor.h#L205)  and [`make_tensor_proto`](https://www.tensorflow.org/versions/r0.12/api_docs/python/contrib.util.html#make_tensor_proto)

This is particularly useful

[2016-12-01 06:32] beniroquai commented on #3032
Is this still an open issue? What do you mean by "replacing every occurence of the old one with tf.complex(a, b)" ? Is it possible to optimize a given complex-valued output of a layer?

[2016-12-01 06:56] Fenugreek commented on #4668
@guotong1988  I tried running your code and got an output shape I was not expecting. Maybe the code is missing the trimming of the zero-padding. See my comment on #5300.

[2016-12-01 07:21] Hui-Zhi commented on #5934
@poxvoculi I am sorry that on AWS I am only able to use either 8 or 1 GPU on a instance. and on K520 there's no such problem.
Regarding the stack trace, I have already delete the instance because it is very expensive. What stack trace do you need and how can I get it? I am new to tensorflow.

[2016-12-01 07:36] tusharsoni08 commented on #4070
@vrv Hi I've tried with Makefile and successfully installed tensorflow on Jetson TK1 by following RPi build (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#raspberry-pi), but I'm using tensorflow as backend for Keras, so I need python wrapping of it along with GPU support, could you please tell me how should I do that. Thank you!

[2016-12-01 07:49] guotong1988 commented on #4668
@Fenugreek I get your point . When the padding is same . I should cut the surrounding pixels.

[2016-12-01 08:20] samjabrahams commented on #254
Time for a benchmark update- I posted the [latest Inception-v3 benchmarks for version 0.11.0 here](https://github.com/samjabrahams/tensorflow-on-raspberry-pi/tree/master/benchmarks/inceptionv3), and I'll update them again once 0.12.0 is official.

Highlights:

* Inception-v3 average run time is now under 2 seconds (after a few warmup runs)
* Benchmark script is slightly fancier, giving best/worst/

[2016-12-01 08:32] coming0524 opened #6005 "Tensorboard can't show item on windows"
I have install the tensorflow by pip on windows 10 64bit

tensorflow have no Problem.
but,Tensorboard can't run.

this is Log
---------------------------------------------------------------------------------------------------------
D:\Python35\Lib\site-packages\tensorflow\tensorboard>d:\Python35\python.exe tensorboard.py --logdir=D:\tensorBoard --debug
INFO:tensorflow:TensorBoard is in debug mode.

[2016-12-01 08:36] LucasSloan commented on #6001
Also running into this issue on Windows 10 with a Quadro K1000M.

[2016-12-01 08:36] pkonovalov-softheme commented on #5748
<On my machine, stddef.h can be found at C:\Program Files (x86)\Windows Kits\10\Include\10.0.10240.0\ucrt
I also have stddef.h there.

From [https://social.msdn.microsoft.com/Forums/vstudio/en-US/0f580a73-6f11-4aa6-abbe-6bf1438734c2/standard-files-stddefh-stringh-missing-in-visual-studio-2015-rc?forum=vclanguage](the topic you posted)

I have installed Windows Kits v10 on my env. in the past, don'

[2016-12-01 08:44] jiuling1029 commented on #6005
[#5844](https://github.com/tensorflow/tensorflow/pull/5844) can help for you.

[2016-12-01 09:31] jendelel commented on #4856
@Samurais Either upgrade to new version of tensorflow, or link the css file to the html i.e. apply the fix (https://github.com/tensorflow/tensorflow/pull/5755/files) yourself.

[2016-12-01 10:00] albertz opened #6007 "tf.name_scope with reuse"
I want to reuse a name scope which was created earlier with `tf.name_scope`. Normally, name_scope will create a new unique name in the current namespace. If it ends with "/", it will ignore the current namespace and use it as an absolute name scope but then it doesn't make it unique. I want a way that it just uses the name as I provide it in the current namespace.

Current code:
[code]

I suggest

[2016-12-01 11:25] Fenugreek commented on #4668
@guotong1988 OK, I ran your code after your fix, and got reasonable correct looking results this time (I trained something on MNIST and got convergence).

This is with `rate=2` and filters with shape `[5, 5, 1, 8]` and `padding='SAME'`.

One minor thing I saw was that you take `strides` as an argument but don't use it for `padding='SAME'` (and possibly misuse it for `padding='VALID'`). Maybe simpl

[2016-12-01 11:51] larsmennen commented on #5902
Yes, using Vars would indeed be a solution for now, but I still think (as you mention) that support for using feed tensors for this would be welcome.
Do you think this could be flagged as 'enhancement'?

Thank you for the pointer to DMAHelper.

[2016-12-01 12:09] maexlich opened #6008 "Unintuitive error messages when using functions that require a axis parameter"
Multiple tensorflow functions (I tested tf.argmax,tf.argmin), that require axis parameters to be provided, show very unintuitive error messages if the axis parameter is omitted.

It would probably be more convenient to either throw exceptions earlier with more intuitive error descriptions ('Axis parameter must be passed/must not be None') or to define the axis parameters as a required positional p

[2016-12-01 12:26] Nayana-ibm commented on #3527
@mrry Can you please have a look at this issue and share your views?

[2016-12-01 12:27] AnishShah commented on #5965
Hi @zheng-xq, I would like to work on this.

I was trying to read the source code to understand how to add GPU ops for `tf.unique`.
After reading different files like `argmax_op.cc` and `softmax_op.cc`, I understood that I need to add `Device` and `functor`. `Functor` will have the logic for the GPU op. Please correct me if I'm wrong.

I read `unique_op.cc` and understood the current logic which i

[2016-12-01 13:08] guotong1988 commented on #4668
@Fenugreek I think you are right. I remove the parameter.

[2016-12-01 14:14] albertz opened #6010 "Public access to current absolute name scope"
I can get it via `tf.get_default_graph()._name_stack`. But I think there is no public API to get that information. Some public API would be nice.

[2016-12-01 14:38] caisq commented on #3467
@tobegit3hub The latest releases are indeed synced to docker hub. So are the nightly builds:
https://hub.docker.com/r/tensorflow/tensorflow/tags/
Are those working for you?

[2016-12-01 14:57] vasantivmahajan commented on #5914
@poxvoculi: I have already asked the question on stack overflow, however, I haven't received any help. And I have also tried running the basic models (mnist and inception) and they seem to work fine. However, there is no documentation for actually creating a client program for any other algorithms, for instance, the models build using Tf.Learn API. Which is why I raised a concern here so that ther

[2016-12-01 15:10] karlTUM opened #6011 "Is it possible to implement spatial pyramid pooling layer with tensorflow?"
I would like to implement the spatial pyramid pooling layer as introduced [in this paper.](https://arxiv.org/pdf/1406.4729v4.pdf)
As the paper setting, the keypoint is to define variant kernel size and stride size of max_pooling layer, which is:
[code]
where `a` is the input tensor spatial size, and `n` is the pyramid level, i.e. spatial bins of the pooling output.

I try to implement this layer w

[2016-12-01 15:26] vedhas opened #6012 "Editing Tensorboard graphs"
Thanks for the powerful package, equipped with an awesome tensorboard like visualization environment.

There is just one issue. Graphs generated under Tensorboard occupy too much space than necessary, which makes it difficult to understand what is going on, thanks to consequent relative reduction in font size for all the blocks. It would be really helpful if user could move the nodes around, such

[2016-12-01 15:59] mrry commented on #3527
@Nayana-ibm I agree with @girving: The problem almost certainly isn't in Python (unless there's an endianness bug in the Python runtime itself), but is more likely to be in either the OpKernel for the op that is failing or its C++ shape function. I'd suggest using gdb to step through these functions and see where they go wrong.

[2016-12-01 16:49] abred opened #6015 "initialization of local variables missing in example: fully_connected_preloaded.py"
change introduced in this commit:
https://github.com/tensorflow/tensorflow/commit/cbd3cacfb73bbea912b9d01c2540187684f751a7
so, not sure if the other files have to be changed as well

`init_op = tf.global_variables_initializer()`
->
`init_op = tf.group(tf.global_variables_initializer(),
                       tf.local_variables_initializer())`

without the change the loop is exited immediately and

[2016-12-01 16:58] arccoder commented on #135
@yselivonchyk solution worked for me.
Installing tensorflow-0.12 on windows.

[2016-12-01 17:07] MicaelCarvalho opened #6018 "Unecessary messages in queue handling"
Suppose you want to have one or multiple threads to preload/preprocess images and push them into an image queue that is going to be consumed by your main process, running on the GPU. A simple way of doing so would be:

[code]

Eventually, your optimization is finished and you want all threads to end, but if you have threads feeding your queue, they are most likely blocked at the enqueue_op, waitin

[2016-12-01 17:15] poxvoculi commented on #5934
@zheng-xq what do you think?

[2016-12-01 17:16] facundoq opened #6019 "Computer freeze when feeding a large numpy array as input in MNIST tutorial"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
None

### Environment info
intel i5, 8gb ram
Operating System:
Ubuntu 14.04.5:
Linux 4.4.0-45-generic #66~14.04.1-Ubuntu SMP Wed Oct 19 15:05:38 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Installed version of CUDA and cuDNN:
No cuda or cuDNN, running on CPU

If installed from binary pip pack

[2016-12-01 17:18] #5902 closed

[2016-12-01 17:23] jf-rce commented on #1642
The native OCR code that I work with runs painfully slow without compiler optimizations on arm64-v8a

Recognizing a default test image was taking ~19 sec on the arm64-v8a Nexus 5x, but only ~7 sec on the considerably weaker armeabi-v7a Moto E2.

As @bissacc0 said, be sure to use:

APP_OPTIM := release
APP_CFLAGS += -O3
LOCAL_LDFLAGS += -flto

In your make files. Using these flags reduced recogniti

[2016-12-01 17:30] poxvoculi commented on #5978
thanks for the PR.

[2016-12-01 17:43] mrry commented on #5983
We just merged #5844, which adds TensorBoard support to the master branch. #6020 will add support to the r0.12 branch, and it should appear in the final release.

[2016-12-01 17:48] mrry commented on #6005
Closing this as a duplicate of #5983. We've merged #5844 and will be adding it to the final release for 0.12.

If you have any questions, please follow up on #5983!

[2016-12-01 17:48] #6005 closed

[2016-12-01 17:55] poxvoculi commented on #5994
SLES11sp3 is not a supported operating system.  Hopefully someone in the community can help you.  Might be good to ask on stackoverflow.

[2016-12-01 18:04] poxvoculi commented on #5995
Have you tried using timeline to find out where the time is going?

http://stackoverflow.com/questions/34293714/tensorflow-can-i-measure-the-execution-time-of-individual-operations/37774470#37774470

[2016-12-01 18:08] iguanaus opened #6021 "Linker error when building custom op"
I was not getting this error a couple of weeks ago, but now when I repull it/update the repository I am getting an error when running configure.

git clone https://github.com/tensorflow/tensorflow.git
git pull
git status
    `On branch master
Your branch is up-to-date with 'origin/master'.
Untracked files:
  (use "git add <file>..." to include in what will be committed)

	tensorflow/core/platform/

[2016-12-01 18:26] camj256 commented on #5995
This can be closed pretty soon if nothing jumps out at anyone. I screwed up my linux install late last night messing with drivers. Once I have time to fix my linux install and dig into this I can re-open.

I'm wondering if the batch size was too small and it was bottle necking somewhere?

[2016-12-01 18:37] danmane commented on #6012
This would be a really involved change, since we passively rely on dagre for layout of the graph. If we took a naive approach to adding draggable nodes, it would reset every time the user collapsed or expanded a node.

It may be there are simpler approaches for solving your problem, e.g. filtering out certain subsections of the graph so that it is easier to display and understand. In any case, I a

[2016-12-01 18:42] girving opened #6022 "Negative axis support for argmin and argmax"
I'd like `tf.argmax(value, axis=-1)` to work.  A lot of other ops support negative axes (`tf.concat`, `tf.stack`, etc.), but not `argmin` and `argmax`.

[2016-12-01 18:49] gunan commented on #5997
I am not sure if I fully understand the request.
Protobuf library released still uses slow python implementation of protobuf encoder/decoder.
So our instructions are still needed for people who want to use faster protobuf library, with C++ implementation compiled on their system.

As for the notice there about 64MB protobuf limits, I think our builds did not have those limits for a while.
But that

[2016-12-01 18:52] concretevitamin commented on #5929
My guess is a quirk in the file system.  Since the issue has been identified I'm going to close this.

[2016-12-01 18:52] #5929 closed

[2016-12-01 18:59] mrry commented on #6007
What would be the motivation for this feature? At the very least, its seems to conflict with the way `reuse` is meant in variable scopes, and that could be confusing for users.

[2016-12-01 19:02] #5857 closed

[2016-12-01 19:04] Mazecreator commented on #5995
@camj256,

I have similar issues I still have not got to the bottom of with an RL model.  It seems like TensorFlow maybe optimized for larger datasets, but my understanding is other deep learning tools might handle the smaller datasets more efficiently.  I would rather stay with TensorFlow if I can so it would be nice if some optimization can be done on smaller datasets to get close to the perform

[2016-12-01 19:04] prb12 commented on #5981
From reading your code, there are two likely reasons for this, one fairly obvious, the other less so:
1) Your benchmark measures the overheads of retrieving a large trace protobuf via the `session.run` API.  This includes the cost of serializing trace data into a protobuf and copying back to Python.
2) `BasicLSTMCell` includes quite a large number of tiny elementwise ops, plus one large(ish) MatMu

[2016-12-01 19:07] mrry commented on #6001
For binary size reasons, we don't provide pre-built binaries that include code for CC 3.0 devices, so you'll need to build from source. You can follow the steps for the [CMake build](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/cmake) with modifications to `CMakeLists.txt` on [this line](https://github.com/tensorflow/tensorflow/blob/a7b4f636d50b6fcb9cd1f7f138cc50b720fc86

[2016-12-01 19:08] camj256 commented on #5995
My actual data set is 200k. Same result there too.

[2016-12-01 19:19] poxvoculi commented on #5995
The basic question here is whether your poor performance is due to a slow GPU kernel, to inefficiencies in moving data back and forth between CPU and GPU, or something else.   If you could use timeline and other profiling tools to track this down on your side, it would be helpful.   When data sizes are tiny, GPUs provide no advantage over CPUs.  However, if another DNN framework can run this same

[2016-12-01 19:22] martinwicke commented on #6008
@aselle This looks like a bug to me, but you know that code better now, wdyt?

[2016-12-01 19:22] camj256 commented on #5995
I'm gonna close this for now then. I won't be able to look into that for another week or so. Too busy with work.

[2016-12-01 19:33] poxvoculi commented on #5984
Thanks for the detailed report.

[2016-12-01 19:37] codeloverr opened #6024 "where is Tensorflow directory on Windows ?"
I have installed and verified Tensorflow installation on Windows, that's great. But how I am supposed to to stuff like `pyhthon3 cifar10_train.py`? ran that command got error no such file or directory. Also run the whole code in cifar10.py and got error there is no module named tensorflow.modles.

`ImportError was unhandled by user code
Message: No module named 'tensorflow.models'`

[2016-12-01 19:39] poxvoculi commented on #5985
@rmlarsen @vrv Could this be related to a known missing 2nd order derivative?

[2016-12-01 19:44] arunmallya opened #6025 "For which inputs are gradients computed?"
What is a good way to determine which inputs of a tensorflow op are backpropagated through?
For example, consider the [crop_and_resize](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/functions_and_classes/shard2/tf.image.crop_and_resize.md) op. The description sounds rather straightforward -

However, if you dig through the code, this function pops up [_CropA

[2016-12-01 19:49] ahundt commented on #781
@kofd it would be an intermediate runtime step for me so avoiding a round trip out of the gpu may still be worthwhile. Were you thinking of putting it up somewhere?

[2016-12-01 19:54] yagnasrinath commented on #5705
Sorry for the delayed reply. I was using a commit from head(October 10) https://github.com/tensorflow/tensorflow/commit/8e48ec6ea0492e2cb9fd19c0a2ccf41afc7b4dc6

[2016-12-01 20:00] poxvoculi commented on #6019
The documentation (https://www.tensorflow.org/versions/r0.12/tutorials/mnist/beginners/index.html) says that mnist.test.images is 10k images, while mnist.train.images is 55k images.  By feeding the entire training set at once, it seems likely that you're causing too much memory to be allocated, and that may be your problem.  8GB is not a lot of RAM these days.   In linux you can use ulimit to boun

[2016-12-01 20:06] qingyili opened #6026 "Tensorboard erorr when adding metadata to embedding"
### Environment info
Operating System: Linux gaia 3.13.0-95-generic

If installed from binary pip package, provide:

1. A link to the pip package you installed: https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.12.0rc0-cp35-cp35m-linux_x86_64.whl
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.
0.12.0-rc0

Followed the instructions on 'https://www.t

[2016-12-01 20:18] yagnasrinath commented on #5705
Building with bazel 0.4 works on tf 0.11.

[2016-12-01 20:18] #6001 closed

[2016-12-01 20:24] liuyipei opened #6027 "tracing batch normalization: apparently unnecessary gpu-cpu-gpu transfer for gather op."
I am running:
CUDA 8.0. CUDNN 5.1. tensorflow 0.11. Ubuntu 12.04.

I was experiencing low GPU utilization. As per #1824 I did a trace and found many instances of the following interaction, as shown by the screenshot in chrome:

The op I have highlighted (with arrows going in and out in the screenshot) is a `gather` op. I provide a link to the context in which it is called.
https://github.com/tenso

[2016-12-01 20:47] #5705 closed

[2016-12-01 20:48] kofd commented on #781
[code]

[2016-12-01 20:50] martinwicke commented on #6025
It should be part of the documentation. Ideally, every op that does *not* have gradients for some of its inputs should call this out. Adding those to the docs when you see them would be a service to us all.

[2016-12-01 20:51] aselle commented on #6008
Thanks for the issue @maexlich. Unfortunately, the current state of affairs is part of the process of renaming the arguments to be "axis". To support the old argument during deprecation, we have to make axis have a default of None, which is invalid. This code is going to go away, and axis will go back to being required. That will be happening soon, but if it is delayed, I will see if I can do a qu

[2016-12-01 21:02] poxvoculi commented on #6027
The gather Op is being placed on CPU because all of its arguments are int32.  (This is fallout from an early mis-design that hasn't yet been completely remediated.)  In this case, the gather is rather trivial and probably shouldn't be used.  @vincentvanhoucke

[2016-12-01 21:09] alsrgv commented on #5964
Just sent PR https://github.com/tensorflow/tensorflow/pull/6028.

[2016-12-01 21:21] jrock08 commented on #6025
While in an ideal world, each op that doesn't have gradients for some of it's inputs would be enough, it's tough to verify.  Shouldn't this be the sort of thing that is documented by default for all functions as a requirement for merge.  Rather than leaving this as something that is documented when there isn't a gradient for some input which is easy to overlook at code review.  An alternative is r

[2016-12-01 21:21] dancsalo commented on #3225
Hi @drorhilman I am running Ubuntu 14.04, Cuda 8.0 and received your same error with cuDNN 5.0. I upgraded to cuDNN 5.1 and the error went away.

[2016-12-01 21:30] danmane commented on #5941
@oliveirabc We'll look into this this week.
Can you check if this reproduces using python2?

[2016-12-01 21:33] civilman628 commented on #5950
I want to debug **retrain.py** with my data. once it is build, I can't debug.

[2016-12-01 21:54] liuyipei commented on #6027
Sorry to press the issue. @poxvoculi  In this case, what do you think is the best way to address it?

[2016-12-01 22:00] vincentvanhoucke commented on #6027
I'll take a look. If anyone has a solution handy, send me a PR.

[2016-12-01 22:03] poxvoculi commented on #6027
Oops. Closed by mistake.  The python in sufficient_statistics should be rewritten to avoid using array_ops.gather in this case.

[2016-12-01 22:03] prb12 commented on #5981
Interesting - there is a big perf difference between our internal build and the open source install:

When I run the internal build, the step time with tracing (and lots of extra logging) is 1.47s.
[code]

One of the first differences btw internal an external that I usually try to rule out is the malloc implementation.  (We use TCMalloc, and standard Python is compiled against the regular libc hea

[2016-12-01 22:15] albertz commented on #6007
I thought that `reuse` for variable scope has a very similar meaning ? (or even the same?)

The motivation is this:

[code]

[2016-12-01 22:16] nmiculinic commented on #5722
@yaroslavvb  I've tried to implement double buffering and run some test: Full code is here: http://pastebin.com/Rcg76XPM

1) CPU only

Without buffering, that is async prefetching:
https://i.imgur.com/DWS3OKZ.png

With buffering:
https://i.imgur.com/gi4wgUu.png

As you can see there's performance improvement when queue element is already loaded in memory even for CPU... not sure why

2) GPU

With

[2016-12-01 22:20] mrry commented on #6024
The location of the TensorFlow directory on Windows will depend on your Python distribution. You should be able to find it by doing the following:

[code]

However, the TensorFlow directory doesn't currently include the `tensorflow.models` (see #5953), so even if you download the `cifar10_train.py` code it won't quite work. I've sent #6029 to fix this, and it should appear in the final release.

(

[2016-12-01 22:20] #6024 closed

[2016-12-01 22:27] ppwwyyxx commented on #781
If anyone is OK with this performance, I also had [an implementation](https://github.com/ppwwyyxx/tensorpack/blob/master/tensorpack/models/image_sample.py#L45) of bilinear sampling similar to @kofd but works for batch of images, which I used to learn parameterized rotation/translation.

[2016-12-01 22:32] mbz commented on #4932
Wanted to update (and close) this thread.
It turned out to be a DNS issue on our network.

Thank you for great help :)

[2016-12-01 22:39] prb12 commented on #5981
This is most likely a protobuf issue... can you please check the output of the following:
[code]
If this prints `'python'` (as opposed to `'cpp'`) then you probably need to install the fast protobuf library as described here:
https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#protobuf-library-related-issues

[2016-12-01 23:02] mrry commented on #6007
Wouldn't the following work just as well?

[code]

[2016-12-01 23:03] ppwwyyxx commented on #5827
An example I put in #2740:
[code]
[code]

Also, tf.contrib.layers.batch_norm doesn't use debias, thus doesn't have this problem. But should it use it to have a more accurate moving average?

[2016-12-01 23:06] ekelsen commented on #5977
Shape inference is done in C++, not python, and at that point everything is a tensor and it is not possible to inspect the contents of tensors during shape inference.  So, in general, it is not possible to provide any better shape information beyond the rank.

That said, we can hack the python interface to check if the size list is a list of integers and not a tensor and then reshape the outputs c

[2016-12-01 23:15] joshsuihn commented on #3845
I think this is a TF issue when building it on embedded.
http://stackoverflow.com/questions/39783919/tensorflow-on-nvidia-tx1/39903431

-- a/tensorflow/core/kernels/cwise_op_gpu_select.cu.cc
+++ b/tensorflow/core/kernels/cwise_op_gpu_select.cu.cc
@@ -43,8 +43,14 @@ struct BatchSelectFunctor<GPUDevice, T> {
     const int all_but_batch = then_flat_outer_dims.dimension(1);
[
 #if !defined(EIGEN_HAS_

[2016-12-01 23:23] facundoq commented on #6019
@poxvoculi Thanks, I guessed as much, but just before the freeze I still see 3gbs free of ram; maybe a big chunk gets allocated just before the freeze and causes it. Also, I thought having no swap would cause an out-of-memory error, my bad, so maybe that could be it.  I'll check tomorrow from the computer at work if limiting the memory for the process helps to avoid the freeze.

Nonetheless, the e

[2016-12-01 23:30] joel-shor commented on #2740
There are a number of TF paradigms that previously worked because ExponentialMovingAverage didn't respect variable scopes (see https://github.com/tensorflow/tensorflow/issues/5652, for example). In the case you have here, I'm not sure that I understand the semantics of what you are trying to do: regardless of debiasing, it is an error to call apply on the same variable multiple times: "ValueError:

[2016-12-01 23:37] ppwwyyxx commented on #2740
@joel-shor Oh. You can change 'W' to 'W2' and move it outside of the scope, it still throws error. I'm only trying to point out that EMA cannot work inside reuse=True.

[2016-12-01 23:56] vedhas commented on #6012
I notice that there is option to download the graph as a png image. How about making another downloadable format available? Perhaps SVG, which people can edit easily on inkscape/gimp like tools for own documentation...

[2016-12-02 00:20] vincentvanhoucke commented on #3397
Pending https://github.com/tensorflow/tensorflow/pull/6031 should fully address this.

[2016-12-02 00:21] #3482 closed

[2016-12-02 00:32] vincentvanhoucke commented on #2467
Looks like this was fixed with Conv3DBackpropInputV2?

[2016-12-02 00:35] #3239 closed

[2016-12-02 01:12] ppwwyyxx commented on #4317
#56 looks related.

[2016-12-02 01:22] tobegit3hub commented on #3467
Thanks @caisq and I have test the python3 docker image. It works like a charm with Python 3.4.3 and latest TensorFlow. You can run by `docker run -i -t  tensorflow/tensorflow:nightly-py3 bash`.

![screen shot 2016-12-02 at 09 17 53](https://cloud.githubusercontent.com/assets/2715000/20819590/49d6ed22-b870-11e6-9b20-4c30572a1224.png)

But the binary `python` doesn't exist. It would be better to lin

[2016-12-02 01:37] khaotik commented on #3862
A fast O(n) solution.
Assume the input vector `x` and the upstream gradient `g` has the form:
[code]
`-` Elements are irrelevant in this computation because the leftmost 0 cause `cumprod` become 0 after that.

[code]

To gain full speedup, the forward computation should record the index of first occurrence of `0`, and automatically `memset(0)` for the results after that. This optimization is uniqu

[2016-12-02 02:35] caisq commented on #3467
@tobegit3hub Good point. I'll incorporate your feedback. I'm working on a pull request to finalize the python3 docker builds: https://github.com/tensorflow/tensorflow/pull/6030

Once the PR is submitted, py3 images will be pushed to docker hub nightly. Release py3 images will be pushed starting from the next release.

[2016-12-02 02:39] caisq commented on #5415
I'm closing this issue for now. For future reference:
There is a script that takes care of the pip wheel renaming automatically:

E.g.,
tensorflow/tools/ci_build/ci_build.sh CPU tensorflow/tools/ci_build/builds/pip.sh CPU
tensorflow/tools/ci_build/ci_build.sh GPU tensorflow/tools/ci_build/builds/pip.sh GPU

For more details see:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools

[2016-12-02 02:39] #5415 closed

[2016-12-02 03:22] martinwicke commented on #4317
In fact, looks like a duplicate. Thanks @ppwwyyxx! Closing.

@hunk3749, try upgrading pip.

[2016-12-02 03:22] #4317 closed

[2016-12-02 05:47] dhwajraj opened #6032 "freeze_graph not working in v0.11.0 . giving V2 error"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
https://github.com/tensorflow/tensorflow/issues/5938
https://stackoverflow.com/questions/40616430/load-exported-model-in-tensorflow
https://github.com/tensorflow/tensorflow/issues/5639
https://stackoverflow.com/questions/40616430/load-exported-model-in-tensorflow

### Environment info
Oper

[2016-12-02 05:49] Kamatio commented on #42
@HWiese1980  I see no way I can, May you send me your email here Alexmununu@gmail.com . Thanks!!

[2016-12-02 06:14] Strideradu opened #6033 "Tensorflow Random Function Always return 0"
So import tensorflow showing following
[code]
And generate random matrix

[code]

The basic matrix operation still works fine

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOve

[2016-12-02 06:20] kdavis-mozilla opened #6034 "ctc_beam_search_decoder()'s log_probabilities holds invalid values"
### Environment info
Operating System: OS X 10.11.6
TF Version: 0.10.0rc0 (No GPU)

### Example
Ran `log_probabilities` op created from
[code]
The `decoded` result is as expected. However, the `log_probabilities` contains positive values which can not be log probabilities. For example, with batch size 4 and top_paths=10 the `log_probabilities` printout is as follows
[code]

### Other attempted sol

[2016-12-02 06:37] universewill commented on #1021
Is there any solutions now? I am also looking for a way to extract the bottleneck output as pre-computing for transfer learning  @ulgus

[2016-12-02 07:49] 0bserver07 opened #6035 "Error message for running tf.nn.max_pool_with_argmax() on CPU"
Running `tf.nn.max_pool_with_argmax()` on CPU gives a very obscure error:

`tensorflow.python.framework.errors_impl.InvalidArgumentError: No OpKernel was registered to support Op 'MaxPoolWithArgmax' with these attrs.  Registered devices: [CPU], Registered kernels:
`  <no registered kernels>

From this line:

https://github.com/tensorflow/tensorflow/blob/bc64f05d4090262025a95438b42a54bfdc5bcc80/ten

[2016-12-02 07:53] albertz commented on #6007
@mrry Yes but than I need keep track about all the scopes which is not what I want. In my specific case, in one place of the code, I create all the variables with a deeper scope hierarchy and in another separated place, I define my computation graph which uses these vars, and I want it to be in the same scopes.

[2016-12-02 08:21] ronrest opened #6036 "File object not being closed properly in 6_lstm.ipynb"
The [**6_lstm.ipynb**](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/udacity/6_lstm.ipynb) file contains the following code:

[code]

This code has the following issues:

- The file object `f` does not get to close properly, since the function is
  exited before the `f.close()` method ever gets to be called.
- The `for` loop is uneccesary, since there is only one item in

[2016-12-02 08:21] CTTC opened #6037 "Cannot get the values of tf.contrib.learn.DNNRegressor.predict() in boston.py"
I am following the tutorials on the tensorflow's official website. And when I executed boston.py, I cannot get the prediction values. But when I executed iris.py, I can get the prediction values. The only difference I found between these two files is that boston.py uses DNNRegressor, but iris.py uses DNNClassifier. I am using **0.12 tensorflow, ubuntu 16.04, CUDA 8.0, cuDNN 5.1.5**, my gpu is **TI

[2016-12-02 08:39] zhangqianhui commented on #2118
@girving  I want to know the details of transpose_conv, Do you have more books or links to introduce the code of transpose_conv ?

[2016-12-02 09:35] flash1293 opened #6039 "Precision of reduce_sum operation"
There seems to be a numerical precision problem with the reduce_sum operation, see the example provided below. Even though everything is set to float32 as datatype tensorflow produces a much more imprecise result than numpy (whose result is numerically exact).

Is this intended? It seems strange that tensorflow makes such serious numerical errors. Am I doing something wrong?

### What related GitH

[2016-12-02 11:04] rdipietro commented on #5412
Friendly ping

[2016-12-02 11:23] oliveirabc commented on #5941
Same thing on python2.

Don't know if this helps or not but here it goes. The images below show the html generated for both cases.

![tensorboard 0 12rc0](https://cloud.githubusercontent.com/assets/11388492/20830633/4ff7f01c-b879-11e6-9adc-ecaedd186592.png)
![tensorboard 0 11](https://cloud.githubusercontent.com/assets/11388492/20830635/50241b24-b879-11e6-95d0-64adf9fd713b.png)

[2016-12-02 11:30] eaigner commented on #2807
If I quantize the graph and run it on iOS, I too get about 3 times worse performance than running the unquantized version.

[2016-12-02 12:06] jplu commented on #3569
@martinwicke What I can see is that my PYTHONPATH is missing when I do the same process than in my previous comment https://github.com/tensorflow/tensorflow/issues/3569#issuecomment-238164088

[2016-12-02 14:18] dsmilkov commented on #5974
Hi,

It turns out to be a python3 issue where dict.items() doesn't return an appendable list, like in python2.

We've fixed the issue internally, and the commit will show up in 1-2 days. Then a buils from master should work. We will also make sure to include this fix in 0.12 RC1.

Thank you!

[2016-12-02 14:18] #5974 closed

[2016-12-02 14:27] moliusimon commented on #5977
Hello ekelsen, yes that is my case. The list provided to split_v is a list of integers, so the size for this dimension is provided.

[2016-12-02 14:51] oliveirabc commented on #5941
I was using an older version of Chromium.
Moved to Firefox and no problems there.
Closing the issue.

[2016-12-02 14:51] #5941 closed

[2016-12-02 15:22] drasmuss commented on #5983
I am still getting this issue after `pip` installing the latest version (`0.12.0-rc0`).  Did this make it into the release?

[2016-12-02 15:26] mrry commented on #5983
@drasmuss We haven't made a new release since the #5844 was merged. You can either build it yourself, download a [nightly build](http://ci.tensorflow.org/view/Nightly/job/nightly-win/), or wait a few more days until we have a new release candidate.

[2016-12-02 15:58] dave-andersen commented on #4775
@alquraishi  - it should be safe to run with avx2, yes.  (Run the tests to be sure, of course, but it gets routinely used.)

Note that in general, -mavx will probably get you a lot of the performance boosts, since what avx2 adds over avx is primarily integer support, and -mavx already has the wider vector float support.  I haven't surveyed it, but -mavx is used widely.  But you're safe using -mavx

[2016-12-02 16:14] vincentvanhoucke commented on #6027
@liuyipei if you confirm that #6040 fixes the problem, then my fix at #6031 is slightly cleaner and should be equivalent.

[2016-12-02 16:28] laosiaudi opened #6045 "Not able to use tensorflow::mutex (../nptl/pthread_mutex_lock.c: No such file or directory)"
Hi All,

I am trying to add a self-defined class under the core/common_runtime/ directory to log the information of each step([https://github.com/laosiaudi/tensorflow/blob/test/tensorflow/core/common_runtime/graph_logger.cc]) and try to use the tensorflow::mutex as step_stats_collector does, but when I run the example/tutorials/mnist/mnist_with_summaries.py, it throws out a segmentation fault. Aft

[2016-12-02 16:51] mrry commented on #6007
I have no idea if that's something that we'd like to support. I'll defer to @lukaszkaiser, who added the equivalent feature in `tf.variable_scope()` and has been simplifying the existing scopes over the last few months.

[2016-12-02 17:20] poxvoculi commented on #6033
I can't reproduce your problem.
1. Does it also occur if you place the operation on CPU, or is it GPU only?
2. Can you include more information about your environment, as requested by the new issue template?  e.g. OS, CUDA version, etc.

[2016-12-02 17:29] poxvoculi commented on #6035
Rather than trying to fix this one Op, it might be better to have a solution where on an error like this the feasible device implementations are listed.  Opening internal bug, but it may not be acted on soon.

[2016-12-02 17:37] #6036 closed

[2016-12-02 17:43] 0bserver07 commented on #6035
Perhaps it's about having this registered with the CPU as well. [tf.nn.max_pool_with_argmax](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/functions_and_classes/shard9/tf.nn.max_pool_with_argmax.md)

[code]

This might be somehow useful and related as well [Missing gradient for tf.nn.max_pool_with_argmax #1793](https://github.com/tensorflow/tensorflow/issues

[2016-12-02 17:43] Strideradu commented on #6033
I already provide the environment information in my post~ If you need more just let me know. And I will try your suggestion to try CPU this evening

[2016-12-02 18:18] mrry commented on #6018
I think the log message here is intentional, especially for running in distributed settings where the log message might be printed on a parameter server and you want to diagnose a worker failure.

Here's a 5th option: we could figure out how to make your code work without using timeouts.

Let's say your queue is called `queue`. I think all that's necessary is to define your [`queue.close()`](https

[2016-12-02 18:21] facundoq commented on #6019
Indeed limiting the memory of the process avoids the OOM. TF is trying to use about 11gbs of memory to evaluate the entire training set. While this can be workaround quite easily (evaluating the accuracy in smaller batches), isn't 11gbs a bit overmuch? Is it keeping the activations of every layer even when not doing a train_step.run()? If the activations are not saved for the backward pass, no mor

[2016-12-02 18:31] liuyipei commented on #6027
@vincentvanhoucke Thank you very much! I have closed my PR.

[2016-12-02 18:37] prb12 commented on #5981
@rizar After I do the following, my step time with profling comes down to 1.45s:
[code]

Please reopen if this doesn't fix your problem.

[2016-12-02 18:37] #5981 closed

[2016-12-02 18:56] ekelsen commented on #5977
This feature should be added before the next release.  Note that this shape inference behavior will be optional as it will add a reshape operation to every output tensor which could be a performance penalty, especially when there are many output tensors (1000+) and the tensors are small.

[2016-12-02 18:56] facundoq commented on #6019
Further testing with a really simple network: conv(4) - pool(2x2) - fc(10) (that's 4 filters for the convolutional layer) full code available in http://pastebin.com/Zh14pS3C.
I removed the training, accuracy evaluation, and most layers from the net, while also reducing the filters for the convolutional layer and the relu. For the whole training dataset this still requires **6.5gb** of memory. Ther

[2016-12-02 19:04] gunan commented on #5997
Spoke with @elmer-garduno offline.
Looks like we somehow have the 64 MB limit on the library we have up.
@jhseu agreed to help out with this as I am working on something else.

[2016-12-02 19:08] lukaszkaiser commented on #6007
We were considering this long time ago as the first version of variable_scope. Then the reuse checks came and so on -- it basically evlolved into variable_scope. Currently, we recommend everyone to use variable_scope and not use name_scope except for internal code and libraries. Wouldn't just using variable_scope solve your problem?

[2016-12-02 19:08] ekelsen commented on #5965
Probably the best general purpose way (arbitrary data types, arbitrary range) to write unique on gpus is to do a stable sort (that also maintains the index) and then extract the first element from each grouping.

thrust::sort and thrust::unique would do this.  Thrust is already a part of cuda.  The radix sort that would be used the vast majority of time would naturally take advantage of input that

[2016-12-02 19:11] qingyili commented on #6026
Sorry to make this more complicated then it is, however yesterday when I posted this issue I did not notice that I was trying to do this with logs and models that are saved from `0.11.0rc2`. However everything was working fine on tensorboard, I could see the embedding very nicely and I only got the above error when I tried to add embedding metadata ` projector_config.pbtxt `. Today on a new run wi

[2016-12-02 19:17] ekelsen commented on #6039
I believe numpy implements a better (as in more numerically accurate) algorithm for sum as per this: https://github.com/numpy/numpy/pull/3685

The gpu version of tensorflow sum should be just as numerically stable.  The CPU version unfortunately is implemented in the naive way with a single accumulator.  I'll let Benoit comment on the likelihood of this improving.  A quick hack might be to use a 6

[2016-12-02 19:27] MicaelCarvalho commented on #6018
Yes, it gracefully solves the problem — I didn't know this parameter existed. But unfortunately the solution was included in option 4 ("... there is a better way of handling this ..."). :-P

Thank you @mrry for the clarification about the log and for the solution. Closing the issue.

[2016-12-02 19:27] #6018 closed

[2016-12-02 19:42] yaroslavvb commented on #6019
What happens if you run with tcmalloc? There's been some memory leaks
reported earlier which disappear when you do tcmalloc (as specified here
<http://goog-perftools.sourceforge.net/doc/tcmalloc.html>)
Also, you can see which ops are allocating memory by doing something like
this

run_metadata = tf.RunMetadata()
sess.run([C.op],
             options=tf.RunOptions(trace_level=tf.RunOptions.FULL_TRA

[2016-12-02 19:56] flash1293 commented on #6039
Thanks for the insight - https://github.com/tensorflow/tensorflow/issues/2625 is related to this.

[2016-12-02 20:03] liuyipei commented on #5965
I feel that that the primary practical concern being addressed is the gpu-cpu-gpu latencies; the actual time/memory cost on the GPU itself is probably the lesser concern.

[2016-12-02 20:06] ekelsen commented on #5965
I agree that running it on the GPU will likely be faster than the GPU->CPU->GPU pipeline for non-optimal implementations.  But, the additional memory requirement could break code that works today which might upset some people...

[2016-12-02 20:16] ekelsen commented on #5965
Note that you would also need to do this: https://github.com/thrust/thrust/blob/1.6.0/examples/cuda/custom_temporary_allocation.cu

to get thrust to use the TF allocator for the temporary storage that it will allocate.

[2016-12-02 21:09] #6027 closed

[2016-12-02 21:11] machi2074 opened #6046 "ResourceExhaustedError when save model. Both memory and disk are enough"
Hi,
  I was running tensorflow 0.12.0rc0 on ubuntu 14.04. The training is on CPU only. The crash happened when saver saves the model.

Traceback (most recent call last):
  File "/home/code/tf_train.py", line 474, in <module>
    save_model_and_log_step(tf_saver=saver, tf_session=session, global_step=step)
  File "/home/code/tf_train.py", line 199, in save_model_and_log_step
    tf_saver.save(tf_se

[2016-12-02 21:46] civilman628 commented on #5950
i reverse the code to a previous state and i can run this .py file directly without build.
**git rev-parse HEAD
eea96fc81bb1ae22eeb1d2141e47e182cecb7608**

So think this should be a bug.

[2016-12-02 21:51] #6046 closed

[2016-12-02 21:56] camj256 opened #6048 "CUDA_ERROR_OUT_OF_MEMORY (Memory Available)"
Tensorflow is failing like so - very odd since I have memory available and it sees that. This runs fine in CPU only.

Ubuntu 16.04, Cuda 8.0, CUDNN 5.1 for 8.0, Nvidia 367.57 driver, tensorflow_gpu-0.12.0rc0-cp27-none-linux_x86_64.whl. The rest you can see in the log. I have also tried with CUDNN 5.0 with the same result. Cuda 7.5 works for me but is very slow.

**Log:**
[code]

**Code:**
[code]

[2016-12-02 22:12] vsoto commented on #4251
Won't work for me, I just installed CUDA 8.0 with CuDNN v5.1 and this is the output I get. Any ideas?

`sudo python /usr/local/lib/python2.7/dist-packages/tensorflow/models/image/mnist/convolutional.py
I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:128] successfully opened CUDA library libcudnn.so loc

[2016-12-02 22:47] camj256 commented on #5995
I got my linux install fixed and am looking into this right now. Hopefully someone can answer a few rookie questions that are getting in the way of my understanding of this.

I've noticed that I can just up the batch size to 100k and process a lot quicker than CPU but the question is does the batch size have any affect on how the DNN learns? Also, I've noticed if I change the size of the NN to be

[2016-12-02 22:54] poxvoculi commented on #5950
You have not posted the information requested in the new issues template, i.e. the OS, release etc.  What is VS?  Are you trying to run with VisualStudio?  I don't know whether TF is guaranteed to run without going through the build process.

[2016-12-02 23:10] poxvoculi commented on #6048
The python stack trace doesn't seem to accurately identify where the failing memory allocation is happening.  In general, nothing in a TF program should be calling CudaDriver::DeviceAllocate directly, except the initial allocation of most of the device memory into a pool that will later be sub-allocated.  Your GPUs are rather small.  I can't tell whether the initial allocation is failing, or somet

[2016-12-02 23:21] civilman628 commented on #5950
just use the latest code, on Ubuntu 16.04. VS code is not visual studio 2013/2015 for windows, but a Linux version. it can debug python. I think any IDE should be fine.

[2016-12-02 23:21] poxvoculi commented on #5995
There's no simple answer to these questions.  But there should be many papers and blog posts about the general topics of SGD training and hyperparameter tuning.

If you're really a beginner, you should try playing with http://playground.tensorflow.org/

[2016-12-02 23:37] poxvoculi commented on #6045
I'm puzzled by your description.  If you're failing to correctly link some mutex-related library, that should be a build error, not a runtime segfault.  Maybe gdb is having trouble finding the symbols corresponding to the binary?

Here are some third-party instructions for using gdb with bazel and TF.  I have not tried them myself.

https://gist.github.com/Mistobaan/738e76c3a5bb1f9bcc52e2809a23a7a

[2016-12-02 23:58] poxvoculi commented on #6032
My best guess is some kind of version skew, similar to the suggestion for #5639.  @petewarden might be the best person for advice, but he's very over-burdened with requests at the moment.

Your immediate problem is a node name not being in the op_dict.  If I were debugging for myself, I'd try to figure out whether it's just this one node missing, or maybe you somehow failed to get all of the defin

[2016-12-03 00:10] civilman628 commented on #5950
I want to know how to debug the code. now it can't do this since it needs build to run.

[2016-12-03 00:12] pumplerod commented on #833
I find this works well if you're providing a tensor that has a shape, however I'm trying to pass in the batch_size in the feed_dict which works well for some operations, however will not work for generating conv2d_transpose layers...

This works...
[code]

however using the batch_size[0] in the output_shape for conv2d_transpose generates an error, where using the tf.shape(X)[0] solution proposed a

[2016-12-03 00:33] stprior commented on #5188
In my case a similar error was due to trying to run scripts from the latest source while an earlier compiled tensorflow package was installed. The correct fix would be to compile and install from source, but as @lintzuhsiang suggests tf.gfile.Exists(.....) is a workaround

[2016-12-03 00:45] #5946 closed

[2016-12-03 00:50] ringw commented on #781
Sorry for the delay! I'm trying to get a basic implementation in as soon as
I can, but I'm hunting down a bizarre test failure right now. I can
definitely add efficient bilinear interpolation as part of the C++ op. The
underlying op will take an input tensor (a batch of images), a
transformation matrix, and the size of the output, so it should be possible
to get whichever output mode you need.

On

[2016-12-03 01:24] laosiaudi commented on #6045
Thanks for the reply!
Sorry for the misunderstanding. But yes, I also think it shouldn't be a runtime segfault and gdb may not give the correct information. And today I put my self-defined class into the step_stats_collector.cc file(because my class uses the mutex in the same way as step_stats_collector does) and tried to run the same python examples, it still failed, giving error like
 **"termina

[2016-12-03 01:25] Strideradu commented on #6033
I change CUDA_VISIBLE_DEVICES to "", and rerun the random function and get the right results

[code]

[2016-12-03 02:16] DSLituiev commented on #5978
the same for the graph_metrics.py link there

[2016-12-03 03:07] wangpeng138375 commented on #5396
If you just use code of `with tf.Session() as sess:,` you must open the thread explicitly with `threads = tf.train.start_queue_runners()`. But in ptb_word_lm.py, It uses the codes like this `sv = tf.train.Supervisor()  with sv.managed_session() as sess:`, the Supervisor() function contains something which starts the thread implicitly

[2016-12-03 05:23] camj256 commented on #5995
Well, I went and bought a gtx 1080 tonight. It was time to upgrade. Turns out this most likely is a bug as my 1080 hauls absolute ass with the exact same code and setup (even same drivers)

As for what it was I will never know. Probably just CUDA the 660's being an older version of CUDA?

[2016-12-03 05:23] #5995 closed

[2016-12-03 05:42] ydeng11 commented on #4319
I just worked it out by updating the bazel to 0.4.1.

[2016-12-03 06:39] ebrevdo commented on #6034
I may not get to this before January.

[2016-12-03 07:42] karlTUM opened #6054 "Do the ksize and strides value of tf.nn.max_pool() support tf.Tensor ?"
Here is the problem:
I would like to train a network with two different shapes of input tensor. Each epoch chooses one type. Here I write a small code:

[code]
When I execute it, the output of `imgs.get_shape()` is `(4, ?, ?, 3)` i.e. `imgs.get_shape()[1]=None, imgs.get_shape()[2]=None`.

But I will use the value of the output of `imgs.get_shape()` to define the kernel (`ksize`) and strides size (

[2016-12-03 07:44] karlTUM commented on #6011
I change the padding from 'SAME' to 'VALID' and it is also not invariant to the input data shape

[2016-12-03 08:26] qiushi223 opened #6055 "Tensorflow 0.12 failed to install on Window 10"
I have installed python3.5.2+cuda8.0+cudnn5.1 on my computer with Windows 10(64-bits)+ GTX960M.Also excute the command line as following:

pip install --upgrade https://storage.googleapis.com/tensorflow/windows/gpu/tensorflow_gpu-0.12.0rc0-cp35-cp35m-win_amd64.whl

while when i get into python and input:    import tensorflow as tf , it shows errors:
![1](https://cloud.githubusercontent.com/assets/

[2016-12-03 10:10] krishnanareddy commented on #6037
+1 I have the same problem. Same environment as CTTC, except my gpu is GeForce GTX 1080.

[2016-12-03 10:54] codeloverr commented on #6055
Are you using 64-bit version of Python?

[2016-12-03 11:45] Roboball opened #6056 "accuracy.eval on MNIST, extremely slow on Win7, P3.5 CPU only"
Hi I tested the MNIST tutorial on Win7, Python3.5, CPU only. Icore5.
Tested with Geany+CMD console, and Idle+Python shell.

I found that everything runs fine, but the accuracy.eval routine takes more than 20min to run on the MNIST test data. Normally that is done within less than a minute (Ubuntu).  As soon as the evaluation starts, I am not able to use any other programs. Looks like the CPU is co

[2016-12-03 12:16] moliusimon commented on #5977
Thank you in advance. Nevetheless, I'm a little bit confused as to why a reshape for each output tensor is required. I'm not familiar with how tensorflow works internally, but even if the tensor operation itself has no information on the tensor shape other than the rank, shouldn't it be possible to set the output tensors dimension to the provided values (if these are given as integers) without hav

[2016-12-03 13:35] insikk commented on #5514
@schmiflo Thankyou for your solution. However I got error by just blindly copy and paste the code. There is type in `tf.intialize_all_variables`. It should be `tf.initialize_all_variables`.  Could you fix it to prevent confusion?

[2016-12-03 14:26] marklit commented on #6055
I can confirm I'm seeing the same error message on the 64-bit version of Python 3.5.2 on Windows 10.

[code]

I installed Tensor flow with the following command:

[code]

I'm using CUDA 8, cudnn-8.0, a GTX 1080 with the 369.30 driver.

[2016-12-03 14:41] qiushi223 commented on #6055
@codeloverr I downloaded "python-3.5.2-amd64.exe" from https://www.python.org/downloads/release/python-352/
The description shows it is used "for AMD64/EM64T/x64, not Itanium processors",so i don't think the version of python is a problem.

[2016-12-03 15:59] qiushi223 commented on #6055
@codeloverr YES!

[2016-12-03 17:35] janvarga94 commented on #18
JUST DO IT

[2016-12-03 18:15] danijar commented on #206
@MInner I played around with. Unfortunately, it doesn't seem like the new indexing can simplify that.

[2016-12-03 19:23] codeloverr commented on #6055
I have successfully installed and used Tensorflow on Windows 10.
I am using GTX 1070 and

- Python 3.5.2 64 -bit

- CUDA 8.0 & cuDNN for 8.0

After installing above mentioned enter following command in command prompt for CPU version
`pip install –upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-0.12.0rc0-cp35-cp35m-win_amd64.whl`

For GPU version
`pip install --upgrade http

[2016-12-03 19:45] codeloverr commented on #6024
Tensorflow on Windows does not have CMake in contrib folder. @mrry

[2016-12-03 19:52] Carmezim commented on #6055
@qiushi223 sorry it didn't work for you at first. Try seeing Issue #5949 which had a similar problem and see if the solution helps you.
Check if `MSVCP140.DLL` is in your %PATH% as in [here](https://github.com/tensorflow/tensorflow/pull/5955/commits/7db3b71559edec7e3a8b00f4511b473e3cea4052).

[2016-12-03 20:43] marklit commented on #6055
Installing Microsoft Visual C++ 2015 Redistributable Update 3 (x64 version) fixed it for me. Thanks.

[2016-12-03 20:45] ekelsen commented on #5977
Sorry, yes you're correct that all that's needed here is to set the shape.

[2016-12-03 20:53] chasep255 opened #6057 "Install error on Ubuntu 16.04 with Cuda 8."
I am trying to install tensorflow 0.12.  I am running Ubuntu 16.04 with a GTX 1080.  I get the following error.

./configure
~/Desktop/tensorflow-r0.12 ~/Desktop/tensorflow-r0.12
Please specify the location of python. [Default is /usr/bin/python]: /usr/bin/python3
Do you wish to build TensorFlow with Google Cloud Platform support? [y/N] n
No Google Cloud Platform support will be enabled for Tensor

[2016-12-03 21:08] ahundt commented on #781
@ringw cool, 4x4 which allows for translations as well? Probably shouldn't matter because all the channels would be modified in the same way, but will different channel depths (1,3,4...) be ok too?

[2016-12-03 21:35] wengong-jin opened #6058 "tf.cond() + tf.dynamic_rnn() gives AttributeError: 'NoneType' object has no attribute 'pivot'"
### Environment info
Operating System: ubuntu 14.04.5
Installed version of CUDA and cuDNN: cuda7.5 + cuDNNv5
Installed from pip package: python 2.7+0.11.0rc0

### Code
[code]

## Error Message:
[code]
## Note
If I change the line
[code]
to
[code]
or
[code]
No error thrown. So I guess there must be something wrong when tf.cond() + tf.dynamic_rnn() is combined.

[2016-12-03 21:48] Morpheus3000 commented on #136
I was trying the Deep MNIST from the tutorial on the site. Using the entire test set throws the ran out of memory trying to allocate 78.1KiB (So close!)
Changing the batches of the test images works, But pushing it to batches of 5000, just so I could see where exactly the program breaks, gave me a warning that it ran out of memory. The strange thing is that, while the previous attempt, without bat

[2016-12-03 22:06] jart commented on #5941
How old was the version of Chromium you were using?

[2016-12-03 22:38] ppwwyyxx commented on #6039
Same as #5527 ?

[2016-12-03 23:44] yaroslavvb opened #6059 "Learning works on 0.11 but fails on .12rc0 (Titan X Pascal)"
I have a training experiment which fails to learn using TF 0.12rc0, but works fine if I revert TF version to 0.11 and run on the same machine. Unfortunately there are no errors logged, and the symptom is that original run starts improving after 5 minutes, but the 0.12rc0 graph fails to improve. This is blocking our transition to 0.12. It would take a bit of time to isolate the difference to a spec

[2016-12-04 00:13] qiushi223 commented on #6055
@Carmezim @marklit It also works for me.Thanks a lot!

[2016-12-04 00:14] #6055 closed

[2016-12-04 00:42] arcticmatt commented on #616
I'm having an issue using `freeze_graph.py` on a modified version of the cifar10 example. In short, I get all the root nodes of the graph using `[n.name for n in sess.graph_def.node if '/' not in n.name and n.name != 'init']`, and use that as the `output_node_names` parameter of `freeze_graph`. The freezing appears to work; 30 variables are converted to const ops, with ~100k ops in the final graph

[2016-12-04 00:55] mrry commented on #6024
@codeloverr I'm not sure where you're looking: it's certainly in the git repository (since that's how we build it). The CMake directory isn't included in the PIP package because it doesn't contain anything useful for Python users who've downloaded the built package.

[2016-12-04 01:00] mrry commented on #616
@arcticmatt At a guess you're probably including too many nodes with that list comprehension. Without seeing the whole graph, it's hard to say what node is causing the assign to appear in the extracted subgraph, but I'd recommend being much more selective in your choice of output nodes if possible. If there's still a problem, feel free to open a new issue!

[2016-12-04 02:20] poxvoculi commented on #6033
@zheng-xq looks like a CUDA random problem

[2016-12-04 03:55] universewill opened #6061 "Get tensor dimension error when retrain Inception3"
I followed the 'retrain.py' example, but get error.
I print the bottleneck tensor shape, and it is [1, 1, 1, 2048]. It runs into error when execute "tf.placeholder_with_default(
        bottleneck_tensor, shape=[None, BOTTLENECK_TENSOR_SIZE],
        name='BottleneckInputPlaceholder')"

It seems that bottleneck_tensor is a tensor with 4 dimension, what does each dimension mean? And Why it is not a

[2016-12-04 04:08] universewill commented on #6061
I referred to the source code of Incception3 model. Also it confuses me that i can not find the tensor name as 'pool_3' in the model graph.

The model definition link:
https://github.com/tensorflow/models/blob/master/inception/inception/slim/inception_model.py

[2016-12-04 04:38] corenel commented on #851
Could anyone build TF r0.11 on TX1 yet?

[2016-12-04 06:16] zhengwx11 opened #6062 "Feature Request: Argument of a complex number"
There has been `tf.complex_abs` for absolute value.
I request for something like `tf.complex_arg` which calculate the argument of complex numbers.
Constructor like `tf.complex_polar(abs, arg, name=None)` is also nice.

[2016-12-04 07:31] #5896 closed

[2016-12-04 07:34] Samurais commented on #5896
@poxvoculi Thanks, I have found several solution to process Chinese, there are a lot tools.
http://eng.snaplingo.net/use-stanford-word-segmenter-to-process-chinese-data/

[2016-12-04 09:00] FCInter opened #6063 "AttributeError: 'module' object has no attribute 'deprecated'"
### Environment info
Operating System: Ubuntu 14.04.5 LTS

Installed version of CUDA and cuDNN:
No CUDA, I use CPU-only.

* Pip version: pip 1.5.4
* Python version: 2.7.6
* Operating System: Ubuntu 14.04.5 LTS
* Tensorflow version: tensorflow-0.12.0rc0-cp27-none-linux_x86_64 , CPU-only
### Description:

I was testing the tutorial example of LSTM [here](https://www.tensorflow.org/versions/r0.12/tut

[2016-12-04 09:40] shoyer commented on #6062
This is a dupe of https://github.com/tensorflow/tensorflow/issues/483

[2016-12-04 09:40] #6062 closed

[2016-12-04 10:15] rylanchiu opened #6064 "AttributeError: module 'tensorflow.contrib.slim' has no attribute 'nets'"
### Environment info
Operating System:` Mac os x 10.10`

1. A link to the pip package you installed: `https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0rc0-py3-none-any.whl`
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`:  `0.12.0-rc0`

### reproducible example

    import tensorflow as tf
    import tensorflow.contrib.slim as slim
    from tenso

[2016-12-04 11:23] rdipietro opened #6065 "Bug: _linear's optional scope argument is ignored"
Here is the relevant code from https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/rnn_cell_impl.py

[code]

[2016-12-04 11:32] GoingMyWay commented on #2520
After untar the cudnn

[code]
And it is ok

[code]

[2016-12-04 13:13] kchopra456 commented on #796
Probably you are facing problem when a download request is made by the maybe_download function call in base.py file.

There is a conflict in the permissions of the temporary files and I myself couldn't work out a way to change the permissions, but was able to work around the problem.

Do the following...

 - Download the four .gz files of the MNIST data set from the link ( http://yann.lecun.com/ex

[2016-12-04 14:15] rdipietro commented on #6065
Update: A fix was proposed a few days ago in https://github.com/tensorflow/tensorflow/pull/6009

Leaving this open until that fix is accepted.

[2016-12-04 15:36] AppWerkstatt commented on #37
💯 👍

[2016-12-04 16:14] dansmith11235 commented on #6063
I am trying to work through the same issue right now. Have you had any luck finding a solution?

[2016-12-04 16:21] dansmith11235 commented on #6063
Probably not the best solution but once I commented out lines that had tf.contrib.deprecated in it the code ran.

I am not sure what those lines of code do so use this solution at your own risk.

[2016-12-04 17:51] hnsl opened #6067 "Improve severly lacking Trainable.fit() documentation"
I'm a beginner, some questions that came to mind after reading it multiple times:

- Give examples of x and y, I never got those to work. It either breaks because they have no "dtype" or complains that I should use input_fn instead.
- Are x/y supposed to be tensors?
- When is input_fn called?
- If input_fn returns some kind of "queue" how is it used?
- What would you actually expect a "step" to do

[2016-12-04 18:19] ringw commented on #781
I think a 3x3 projective matrix will allow for translation (x, y translation are in the third column). The image tensor will always have to be 4D to disambiguate between multiple batches or multiple channels, but you can have 1 or more channels and the transformation will be applied to just the x, y coordinates, not the channels (the channels in each image have the same transform applied to them).

[2016-12-04 18:33] verjur commented on #537
I am having the same issue. Any resolution?

[2016-12-04 18:42] AnishShah commented on #5917
Is anyone working on this internally? I can work on this. If yes, then should I just remove that line or replace it with a link to some other file?

[2016-12-04 19:27] sshleifer opened #6068 "RNN Tutorial Code cant find sample data"
Followed the directions here on my mac
https://www.tensorflow.org/versions/master/tutorials/recurrent/index.html#recurrent-neural-networks

[code]

[code]

Versions:

tensorflow==0.12.0rc0

I think I am missing something simple. Where should the data directory be? thanks

[2016-12-04 19:33] lukaszkaiser commented on #537
As per my last comment -- it's not clear from this thread what the issue is any more. If you're having some issue, feel free to open a new one and please explain precisely. Also note that variable reuse is inherited on purpose -- the other design would break compositionality across modules. If you have a variable in the same module or function, why not reuse it by reference?

[2016-12-04 20:33] poxvoculi commented on #5917
So far as I know, no one is working on it yet.  @danmane ?

[2016-12-04 22:08] miladm commented on #135
arustagi's solution worked for me.

[2016-12-04 22:43] poxvoculi commented on #5950
I'm labeling community-support for the use of VisualStudio on Ubuntu.  It's not clear to me why you can't debug the python parts of TF after building.

[2016-12-04 23:16] poxvoculi commented on #6056
The ubuntu OS evaluation you're comparing for speed, is that on the same processor?  (I.e. is it a dual-boot system?)  Otherwise it's not clear from what you've posted that the Win7/ICore5 system you're comparing it to is as capable.  MNIST is a simple model, most of the eval runtime is floating point matrix multiply.  Is it possible that somehow you're running out of memory and swapping?  That co

[2016-12-04 23:37] poxvoculi commented on #6057
Please include all the information requested by the new issue template.  You did not specify the OS, or GPU model.

[2016-12-04 23:59] poxvoculi commented on #6058
Could it be that your use of "lambda:encoder()" should just be "encoder"?

[2016-12-05 00:06] poxvoculi commented on #6059
Are you using the same versions of CUDA and CUDNN with both releases?

Release notes https://github.com/tensorflow/tensorflow/releases  say there were some changes to gradient calculations.  If you could dump the activation/gradient values from a single step on both versions, initialized from the same checkpoint, that might show something useful.

[2016-12-05 00:19] wengong-jin commented on #6058
[code]

[2016-12-05 00:20] civilman628 commented on #5950
**retrain.py**  is not the entry point of the program. it's more like a "library" which is called by another file.

[2016-12-05 00:20] poxvoculi commented on #6061
This forum is for bug reports and similar, not usage questions.  This sort of question is best asked on stackoverflow.  You might have a better chance of getting help if you post more contextual information: a link to the tutorial you're following or a list of the commands you've executed.  I spent a few minutes looking at this and can't figure out how you came up with pool_3 as a bottleneck.

[2016-12-05 00:31] poxvoculi commented on #6063
Might have some version skew here (@danmane).  As a temporary fix, try removing just the "contrib.deprecated" parts leaving just tf.scalar_summary instead.

[2016-12-05 00:43] poxvoculi commented on #6064
Where did you come up with this example, and why do you expect it to work?

See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/slim/nets.py
and
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/slim/python/slim/nets/vgg.py

Maybe you don't have all of slim installed? Or maybe the name usage has to be slightly different?  (This is really outside of my

[2016-12-05 01:09] poxvoculi commented on #6067
Sorry you're having a hard time.  I've been through that too.

This forum is for bug reports, not use questions, which are better addressed on stackoverflow.

If the documentation is poor, that counts as a bug, but in this case the python documentation for learn.Trainable.fit is on a consistent level of detail with the documentation throughout.  It sounds like you need a gentle introduction to Ten

[2016-12-05 01:47] universewill commented on #6061
The bottle_neck definition came from the example 'retrain.py', and the link is already added at the end of my question content.
Thanks for your reminding, i will post this question on stackoverflow

[2016-12-05 01:47] #6061 closed

[2016-12-05 02:03] b0noI opened #6070 "tf.contrib.learn.LinearRegressor builds bad model for a data with one feature"
Reproduce steps:

[csv with data](http://%22https//vincentarelbundock.github.io/Rdatasets/csv/car/Davis.csv%22). Data includes weight and height values of some people. Overall learning process is very simple:

[code]

However, the model that is built by the regressor is, unexpectedly, bad. Result could be illustrated with the next picture:
<img width="556" alt="umbhj" src="https://cloud.githubuser

[2016-12-05 02:23] b0noI opened #6071 "[Feature request] To add the ability to use own data during the training a RNN network for translation by the translate.py script"
Right now the script [translate.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/rnn/translate/translate.py) does not allow to use own data for training. At the moment it works only with the data, that the script downloads from the Internet (en/fr). Also there is not any documentation on the format of the input data that it expects in the input. In order to have the abili

[2016-12-05 02:25] FCInter commented on #6063
I also tried to comment the "contrib.deprecated". But this leads to another error message saying"
`File "/d2/fpengaa/work/learntf/lstm-ptb/reader.py", line 100, in ptb_producer
    with tf.name_scope(name, "PTBProducer", [raw_data, batch_size, num_steps]):`
`TypeError: name_scope() takes exactly 1 argument (3 given)`
Moreover, I used to get another error saying
`AttributeError: 'module' object has

[2016-12-05 02:31] hsiaoyi0504 commented on #4251
I have similar problems

[2016-12-05 02:44] robotnc opened #6072 "Support to convert CudnnLSTM params to normal Weights and Bias"
My environment is Tensorflow r0.11, Linux 16.04, CUDA8.0, cuDNN5.1

I am using the CudnnLSTM class  from tensorflow.contrib.cudnn_rnn , the training speed is really fast with about 5~6x speedup. However after training I need to move the model to an embeded system which is not CUDA based. So how can I convert the CudnnLSTM params to normal weights and bias.

Is this feature still in plan or already

[2016-12-05 03:17] llhe commented on #2916
Is the RdmaSession the correct way to go for the RDMA support? We're also investigating the RDMA solution.

[2016-12-05 04:17] FCInter commented on #6068
You can just cd to the directory where you put the code files, and run the following command:
`wget http://www.fit.vutbr.cz/~imikolov/rnnlm/simple-examples.tgz`
`tar xvf simple-examples.tgz`
`python ptb_word_lm.py --data_path=simple-examples/data/`
This gets the code to find the data file. However, you may find the code is still not executable and reports new errors like "module does not have an a

[2016-12-05 04:57] gitmenonsandu opened #6076 "Session has been closed"
using ubuntu 16.04 tensorflow 0.11

Installed from binary
export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.11.0-cp27-none-linux_x86_64.whl
sudo pip install --upgrade $TF_BINARY_URL

### What other attempted solutions have you tried?
I tried using version 0.12. But getting some other import errors for them

### Logs or other output that would be helpful
![sessio

[2016-12-05 05:34] zxwind commented on #851
Thanks for all the information here, got tensorflow r0.11.0 installed with Jetpack 2.3.1 on tx1.  Following @elirex 's steps, make sure using the exact version of protobuf, grpc and bazel. I build tensorflow r0.11.0 instead of v0.11.0.rc2. When compiling, following @MatthewKleinsmith 's step to add swap file, you need a big swap, I tried 6G but failed in the middle with out of memory error, tried

[2016-12-05 05:55] flash1293 commented on #6039
@ppwwyyxx yes, this is the same problem.

[2016-12-05 07:13] FCInter commented on #6063
It seems I have got the solution. It's just, abort the version r0.12 and install the version "master", which is r0.11.
Then, replace the line
`from tensorflow.models.rnn.ptb import reader`
with
`import reader`
And then comment all the lines containing the "deprecated".
Currently, only in this way can the program run correctly.
I think the reasons may be that the tutorial and the latest version of

[2016-12-05 07:16] CTTC opened #6079 "Different Graphs on Tensorboard when running cifar10_train.py from master branch and r0.12 branch"
I got different views of network graphs when running cifar10_train.py from [master branch](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/image/cifar10/cifar10_train.py) and [r0.12 bracnch](https://github.com/tensorflow/tensorflow/blob/r0.12/tensorflow/models/image/cifar10/cifar10_train.py).

So running cifar10_train.py from r0.12 gave a complete graph in which each layer l

[2016-12-05 07:23] EncodeTS commented on #5628
I met the same problem.

[2016-12-05 07:34] IvanUkhov opened #6080 "TF_Input and TF_Output"
`TF_Input` and `TF_Output` were introduced in 0.12, and the graph and session APIs were updated accordingly. There are the following five functions right now:

[code]

Assuming that there are no typos here, I am trying to understand how one should think about the `input` and `inputs` arguments of these functions as their corresponding types involve `TF_Output`, not `TF_Input`. Take `TF_SessionRun`

[2016-12-05 07:54] CTTC opened #6081 "How to restore training when MonitoredTrainingSession is used"
I ran cifar10_train.py from [master branch](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/image/cifar10/cifar10_train.py). My  question is how to restore the checkpoint file in case that `MonitoredTrainingSession` is being used instead of `Session`. I have modified the code like this:
[code]
The training variables seem to be restored, but the step variable still started fr

[2016-12-05 08:20] #5569 closed

[2016-12-05 08:39] hejunqing opened #6082 "0.12 Saver.restore broken? Unsuccessful TensorSliceReader constructor: Failed to find any matching files"
Here is the traceback:
W tensorflow/core/framework/op_kernel.cc:975] Not found: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for model_epoch0_128_0.100_[200].ckpt-577569
W tensorflow/core/framework/op_kernel.cc:975] Not found: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for model_epoch0_128_0.100_[200].ckpt-577569
W tensorflow/core

[2016-12-05 08:43] hejunqing commented on #6082
also the same error using import_meta_graph

[2016-12-05 08:49] CTTC commented on #6081
So I modified the code in `train()` like this, and it worked, but it's not a elegant way. Is there a better way to restore in MonitoredTrainingSession?
[code]

[2016-12-05 09:23] SaltyOrange opened #6083 "Cuda Compute Capability 3.0 not supported on Windows?"
Running on Windows 8.1, Python 3.5.2, Cuda 8.0

name: GeForce GTX 660M
major: 3 minor: 0 memoryClockRate (GHz) 0.95
pciBusID 0000:01:00.0
Total memory: 2.00GiB
Free memory: 1.64GiB

I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\core\common_runtime\gpu\gpu_device.cc:948] Ignoring visible gpu device (device: 0, name: GeForce GTX 660M, pci bus id: 0000:01:00.0) with Cuda

[2016-12-05 09:26] universewill opened #6084 "Confused by the bottle_neck name in retrain tutorial and the inception-v3 model definition"
Inception-v3 model definition link: https://github.com/tensorflow/models/blob/master/inception/inception/slim/inception_model.py

The 'retrain.py' tutorial link: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/image_retraining/retrain.py

In the retrain.py, I find the bottle_neck name of inception3 model is 'pool_3/_reshape:0' (line 95), but in the inception model definiti

[2016-12-05 09:54] rylanchiu commented on #6064
@poxvoculi  Hi Paul, thanks for your reply. Here is the [example] (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/slim#training-models).

[2016-12-05 10:12] ManSoSec commented on #5938
Can I kindly ask if there is any update on this issue ? Thanks a lot!

[2016-12-05 11:01] MatthiasWinkelmann commented on #6011
This seems very similar to Atrous Convolution ([Paper]( http://arxiv.org/abs/1606.00915)) for which keras has a Tensorflow  implementation ([https://github.com/fchollet/keras/blob/master/keras/backend/tensorflow_backend.py#L1739](https://github.com/fchollet/keras/blob/master/keras/backend/tensorflow_backend.py#L1739))

[2016-12-05 11:44] albertz commented on #6007
I just checked the code of variable_scope, and it seems as if even with reuse=True, it would not reuse the name_scope. The reuse option doesn't seem to have an effect on the name_scope. It's basically this code, if I use `tf.variable_scope("foo", reuse=True)`:

[code]
So, as it is right now, even variable_scope would not reuse the name scope, but I want to reuse the name scope. Is that even the in

[2016-12-05 11:45] 984958198 commented on #1402
According to the above method Still not solve
ubuntu 64
tensorflow-0.12.0rc0-cp27-cp27mu-manylinux1_x86_64.whl

`Python 2.7.3 (default, Jun 22 2015, 19:33:41)
[GCC 4.6.3] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/root/tg2env/local/lib/python2.7/site-packages/tensorflow/__init__

[2016-12-05 11:55] oliveirabc commented on #5941
I was using: Version 48.0.2564.116 Ubuntu 15.10 (64-bit)

[2016-12-05 12:01] lukaszkaiser commented on #6007
The idea of reusing a name_scope is a bit strange, because every op in the graph has to have a unique name anyway in the end. So you're only pushing back where the suffix will be added, it will go at the end od the op-name instead of the scope name. You're aware of that, right? I just want to make sure that that's really the goal you want to achieve.

If that's the goal, then you can do this with

[2016-12-05 12:03] kstant0725 opened #6085 "Tensorflow SVD inaccurate. U is not orthogonal."
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-12-05 14:20] albertz commented on #6007
Yes, that's my goal. Your suggestion is basically what @mrry suggested but this solution is not optimal because I would need to keep the `scope` variable around for all scopes where I want to do this, which is for almost all scopes. This is because I create all the variables for my model at one place, with a specific name scope hierarchy, and then at some later time, I create the computation graph

[2016-12-05 15:52] gongbudaizhe opened #6087 "control_dependencies throw Frame error when used in while_loop"
Hello,

### Problem description
I need to put InceptionV3 in a while loop to save both GPU and CPU memory usage since I am handling videos, each contains hundreds of images. The problem is, InceptionV3 uses `control_dependencies` for BatchNorm and TensorFlow throws Frame Error if   `control_dependencies` function is in the `while_loop`. It can run without errors if `control_dependencies` is remove

[2016-12-05 16:31] martinwicke commented on #5544
That's the only example that named in the pip_package/BUILD file. I have no objection to including other things from the examples/ folder.

[2016-12-05 16:31] joel-shor commented on #5827
1) The issue should be fixed currently; zero_debias is no longer the default in ExponentialMovingAverage.
2) There is a strong possibility that is *will* be the default in the future.
3) ExponentialMovingAverage creates variables, so for future safety you might consider using it as if it respected variable scopes (ie don't put it in resuse=True variable scopes that it doesn't need to be in)

[2016-12-05 16:31] #5827 closed

[2016-12-05 16:37] joel-shor commented on #2740
1. The issue should be fixed currently; zero_debias is no longer the default in ExponentialMovingAverage.
2. There is a strong possibility that is will be the default in the future.
3. ExponentialMovingAverage create variables, so for future safety you might consider using it as if it respected variable scopes (ie don't put it in resuse=True variable scopes that it doesn't need to be in)

[2016-12-05 16:38] vsoto commented on #4251
I fixed it installing everything from sources:

https://www.tensorflow.org/versions/r0.12/get_started/os_setup.html#installing-from-sources <https://www.tensorflow.org/versions/r0.12/get_started/os_setup.html#installing-from-sources>

[2016-12-05 16:53] mrry opened #6088 "Strided slice op CHECK failure"
Two reports of a `CHECK` failure in the strided slice op have surfaced on Stack Overflow:

* [Tensorflow print value of a tensor](http://stackoverflow.com/q/40979001/3574081)
* [Tensorflow evaluate: Aborted (core dumped)](http://stackoverflow.com/q/40963017/3574081)

In both cases, the error message is:

[code]

...which appears to match the `CHECK` [here](https://github.com/tensorflow/tensorflow/

[2016-12-05 16:56] michaelisard commented on #6045
I think this question is better addressed on [stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is a usage question, not a bug report.

[2016-12-05 16:58] keveman commented on #6021
@iguanaus What platform are you trying this on?

[2016-12-05 17:04] michaelisard commented on #6070
This type of question is better asked on [stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it's a usage question rather than a bug report.

[2016-12-05 17:07] facundoq commented on #6019
@yaroslavvb Running with tcmalloc decreased the memory usage slightly but not entirely.

I tried the tracer but it seems there's only cpu use info.

Here's the output from `print(run_metadata)`, http://pastebin.com/tXwB7Lfn when testing with **4000** training examples (so that the run() completes).

The relevant? bits from the memory subsection:
The Conv2D allocates `total_bytes: 25088000` (~25mb)

[2016-12-05 17:14] ppwwyyxx commented on #5827
To the 3rd point, EMA always creates variables -- the average itself, why should we make a compromise to the bias variable because it causes problem.

It seems like these variables are created differently: the average is with `create_slot`, and the bias/local_step with `get_variable` which causes the problem. Should we change it so that it doesn't cause problems anymore, instead of not using it?

[2016-12-05 17:17] michaelisard commented on #6071
The [source of the training data](http://www.statmt.org/wmt10/translation-task.html) has some information about the file format and some parsing tools.

For the ability to pass in your own data, we may not get to it immediately but I have marked it contributions welcome. @girving

[2016-12-05 17:19] ppwwyyxx commented on #2740
@joel-shor Thanks. Since there are dedicated issues for the bug we can use them to track. This issue is more about the naming -- and I see there are still very long variable names with duplicated scopes for the newly-introduced biased/local_step variables. Should there be a fix for this?
[code]

[2016-12-05 17:24] michaelisard commented on #6076
Can you give more details on what you were attempting when you got this error? It looks as if there was an exception in some file-reading code.

[2016-12-05 17:29] joel-shor commented on #5827
Either I'm not understanding your objection, or you've missed my point: if you accept that ExponentialMovingAverage.apply creates variables, and you believe that variables should respect variable scopes, then your example *should* throw an error.

The reason EMAs haven't been broken in this case prior to this because they used the legacy `slot` system, which ignores variable scopes (incorrectly).

[2016-12-05 17:29] michaelisard commented on #6079
You should probably ask this question on (stackoverflow)[http://stackoverflow.com/questions/tagged/tensorflow] since it's a Tensorboard usage question not a bug report.

I am not entirely sure without seeing the running Tensorboard instances, but this may just be a result of the heuristic it uses to decide how to plot things. Notice that in the disconnected case conv1 has an input from shuffle_bat

[2016-12-05 17:32] michaelisard commented on #6081
This kind of usage question is better asked on (stackoverflow)[http://stackoverflow.com/questions/tagged/tensorflow].

[2016-12-05 17:35] michaelisard commented on #6082
Can you fill in the issues template, and also give more details of what you were doing when the error occurred?

[2016-12-05 17:35] iguanaus commented on #6021
Macbook running os x el captain, 10.11.3

Sent from my iPhone

[2016-12-05 17:41] shaolinkhoa opened #6091 "Use model after trained in tensorflow (save/load graph)"
**What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?**
http://stackoverflow.com/questions/33759623/tensorflow-how-to-restore-a-previously-saved-model-python

 **Environment info
Operating System:** Ubuntu 14.04

**Installed version of tensorflow**: '0.11.0'

I already asked my question on stackoverflow: http://stackoverflow.com/questions/40956

[2016-12-05 17:45] ppwwyyxx commented on #5827
@joel-shor Thanks, now I understand. I didn't know that the slot system is a legacy.
Then the problem would become how to nicely avoid using `reuse=True`. Because currently the paradigm which causes problems is like:
[code]
If we're not supposed to use EMA inside `reuse=True` any more, for `inference(x2)` we'll have to surround a `reuse=True` scope for every operation inside `inference` function e

[2016-12-05 17:47] shlens commented on #6084
The inception model described in this file:
https://github.com/tensorflow/models/blob/master/inception/inception/slim/inception_model.py
corresponds to this tar-ball
http://download.tensorflow.org/models/image/imagenet/inception-v3-2016-03-01.tar.gz

The inception model employed by retrain.py here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/image_retraining/retrain.py

[2016-12-05 17:51] b0noI commented on #6070
closing the issue until I have confirmation that there is no mistake in the way of how I'm using the Regressor. If there is no mistakes in the usage logic, then there is an issue with TF.

[2016-12-05 17:51] #6070 closed

[2016-12-05 17:55] b0noI commented on #6071
I'm working on the version that will allow to train a model with any pair of languages, and planning to start sending PR upcoming weekends.

[2016-12-05 17:57] vrv commented on #6071
FYI I believe these models are being moved into a new repository to clearly separate library code from examples.  @nealwu

[2016-12-05 17:59] b0noI commented on #6071
vrv@ in the light of new information I have 2 questions:
- could you point me to the correct repo with the examples?
- can I remove code from here, in order to avoid further confusion?

[2016-12-05 18:01] mrry commented on #6083
We currently build the PIP package for compute capabilities 3.5 and 5.2 by default. I just sent a PR to expand this to 3.0 (#6092)... if you want to try building it yourself, you could clone that PR and give it a try!

[2016-12-05 18:02] vrv commented on #6071
You'll have to ask @nealwu

[2016-12-05 18:02] asimshankar commented on #6080
FYI @josh11b @jhseu

- `TF_Operation` refers to an operation in the graph, which can have multiple inputs and multiple outputs.
- `TF_Output` identifies the one of possibly many outputs of an operation.
- `TF_Input` identifies the one of possibly many inputs of an operation.

For example, the [QuantizedMatMul](https://github.com/tensorflow/tensorflow/blob/d0aac2b/tensorflow/core/ops/math_ops.cc#L2

[2016-12-05 18:10] zheng-xq commented on #6072
Yes, it is being worked on. Adding zhangyaobit@.

[2016-12-05 18:29] zhangyaobit commented on #5988
@abred, thanks for reporting the issue. Could you give a minimum example that reproduces the error? Is the first dimension of the 2D Tensor known? Could you set its shape to a complete shape, rather than a partially known shape (that is what is being complained)? Could you also share the code snippet of your manual reshape? I am curious why your manual reshape succeeded without complaining about p

[2016-12-05 18:46] civilman628 opened #6094 "build fail: ERROR: no such target '@local_config_cuda//crosstool:toolchain'"
I just sync the latest code and meet build error. in fact i already assign to use GPU support during run **./configure**. but it can't find.

I am using Ubuntu 16.04, cuda 8.0 and bazel 0.32

git rev-parse HEAD

dca48e8b5adbb328c09a43b7d19300b52680d7ac

======

ERROR: /home/scopeserver/.cache/bazel/_bazel_scopeserver/b562266fb6ddaaff7ca2ee0b31316144/external/local_config_cuda/crosstool/BUILD:4:1:

[2016-12-05 19:19] jhseu commented on #6080
Yeah, perhaps we should rename the arguments to those functions. The main confusion (it was initially confusing to me too) is that outputs of nodes are inputs to other nodes, and the type refers to its role as the output and the variable name refers to its usage as input.

We're open to suggestions, but I can't think of anything that improves on the current naming. `feeds` and `fetches` only resol

[2016-12-05 19:37] #6083 closed

[2016-12-05 19:41] civilman628 commented on #6094
i just run  **bazel version** and it returns:
**Build label: 0.3.2**
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Fri Oct 7 17:25:10 2016 (1475861110)
Build timestamp: 1475861110
Build timestamp as int: 1475861110

However, when i run **sudo apt-get upgrade bazel**, it returns:

**bazel is already the newest versio

[2016-12-05 20:24] mrry commented on #6083
Note that this support will soon be available in the nightly builds, and we'll cherry-pick it into the final release of 0.12.

[2016-12-05 20:43] jphalip opened #6095 "Add atan2 trigonometry function"
Tensorflow has a number of built-in trigonometry functions like `atan` but it doesn't have `atan2` yet.

This can be achieved with some custom code as pointed in this comment: https://github.com/tensorflow/tensorflow/issues/3624#issuecomment-242085609.

There's actually a small mistake on the first line, where `np.pi` should not be added. The corrected code is presented below:

[code]

While this

[2016-12-05 20:53] civilman628 opened #6096 "error download files during run ./configure"
when i run ./configure, there are 2 files can't be downloaded.

http://cdimage.debian.org/mirror/xbmc.org/build-deps/sources/swig-3.0.8.tar.gz

http://cdimage.debian.org/mirror/xbmc.org/build-deps/sources/giflib-5.1.4.tar.gz

============

ERROR: /home/scopeserver/RaidDisk/DeepLearning/mwang/tensorflow/tensorflow/contrib/tfprof/python/tools/tfprof/BUILD:49:1: every rule of type _py_wrap_cc implici

[2016-12-05 21:07] aselle commented on #6088
I believe this bug has already been fixed (at least a month and a half ago). Did they specify what verison of TensorFlow they are using and if they tried it with the latest RC?

[2016-12-05 21:10] aselle commented on #5600
Automatically closing due to lack of recent activity. When further information is posted we will reopen this. Thanks.

[2016-12-05 21:10] #5600 closed

[2016-12-05 21:11] aselle commented on #5854
Automatically closing due to lack of recent activity. When further information is posted we will reopen this. Thanks.

[2016-12-05 21:11] #5854 closed

[2016-12-05 21:11] aselle commented on #5858
Automatically closing due to lack of recent activity. When further information is posted we will reopen this. Thanks.

[2016-12-05 21:11] #5858 closed

[2016-12-05 21:15] Anjum48 opened #6097 "Using classifiers with scikit-learn ensemble methods"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-12-05 21:18] petewarden commented on #6032
I have a code change pending to make the error here a bit more informative. I believe the issue is what @poxvoculi describes though, that you trained the model in 0.12 but are trying to load it in 0.11. I'm closing for now on that assumption, but please re-open and let me know if I'm incorrect!

[2016-12-05 21:18] #6032 closed

[2016-12-05 21:31] mrry commented on #6096
This seems to be causing widespread trouble for our tests as well. It looks like #6098 should fix this.

[2016-12-05 21:33] abred commented on #5988
here is a small example:
https://gist.github.com/abred/daf06a496ebb585212529b7c0ecbad02

the first dimension of the 2D Tensor is not known (None/-1)
when I change it to a fixed number it works.
I included the reshapes in the code snippet (def batch_norm), so when you run it as-is it should work (comment the if..reshapes to get the error)

[2016-12-05 22:22] hnsl commented on #6067
I've already been introduced to TF so I would say that I'm aware of the absolute basics and the things you mention here. You can consider this a bug report of the fit() documentation, rather than a problem I am specifically having. I'm already using fit() today, but mostly through trial and error. I've read most of the TF documentation without finding many examples or explanations that answers my

[2016-12-05 22:26] pannous commented on #1511
This is really hard to debug, and the reasons might be quite subtle,

for example if for some reason you switched arguments in softmax_cross_entropy_with_logits:

`tf.nn.softmax_cross_entropy_with_logits(y,_y)` to
`tf.nn.softmax_cross_entropy_with_logits(_y,y)`

[2016-12-05 22:26] oxrider opened #6100 "Error on compiling model using Keras"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
I don't know where to begin looking for this problem. It seems like an internal bug but I am not entirely sure if it is something I did wrong. I am fairly new to tensorflow, please help!

### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
CUDA 8.0, cu

[2016-12-05 22:42] #6080 closed

[2016-12-05 22:44] baregawi commented on #1402
I'm running Ubuntu 14.04.5 LTS with `tensorflow==0.12.0rc0` (most recent in PyPy) and keras==1.1.0.

A quick hack to get you by:
[code]
and replace `from tensorflow.python import pywrap_tensorflow` with `import pywrap_tensorflow` around line 49 in the try portion of the try/catch.

[2016-12-05 22:59] AndreyRub opened #6101 "Feature request - Android example app for Windows tensorflow."
There is now a support of TensorFlow for Windows. I installed it using the instructions provided as part of Anaconda, and it works. However, I can't seem to find information about developing an application with TensorFlow for Android in Windows, by using Android Studio.

I found the path of TensorFlow installation in Windows,  C:\Program Files\Miniconda2\envs\py35\Lib\site-packages\tensorflow\cont

[2016-12-05 23:56] zodiacR opened #6104 "Generating NaN when computing gradient"
### Environment info
**Operating System:**
Red Hat Enterprise Linux Server release 6.6
**Tensorflow version:**
0.10.0rc0

**Installed version of CUDA and cuDNN:**
/usr/local/cuda/lib64/libcudart.so.7.5.23

I'm running a model with temporal attention strategy (https://arxiv.org/abs/1608.02927). I use `tf.nn.seq2seq.sequence_loss_by_example()` to compute the loss, and use adam gradient (lr:0.001) to

[2016-12-06 00:00] #5953 closed

[2016-12-06 00:05] gunan commented on #6094
Could you run `which bazel`
It looks like you have two different bazel installations.

Your bazel log says
[code]
Could you retry running `./configure` and see if it helps.

[2016-12-06 00:12] gunan commented on #5934
@Hui-Zhi you can set the environment variable `CUDA_VISIBLE_DEVICES` to set which GPUs are available for tensorflow to use. For example if you set `CUDA_VISIBLE_DEVICES=0,1` in your environment before you run your code, only two GPUs will be used by TF.

[2016-12-06 00:15] laosiaudi commented on #6045
@michaelisard Okay, thanks for advice!

[2016-12-06 00:21] martinwicke commented on #6067
Your expectations are not unrealistic, but we are talking about a component in contrib. Its interface is still evolving (you'll see that looking at head), and its documentation is not complete. You can use the examples in the tutorials section as a starting point, for example:
https://www.tensorflow.org/versions/r0.12/tutorials/tflearn/index.html#fit-dnnclassifier
https://www.tensorflow.org/versio

[2016-12-06 00:21] #6067 closed

[2016-12-06 00:30] gunan commented on #5994
The root cause of the failure seems to be right here:
[code]
which looks really weird. Does SLES have a different subprocess module?
could you try running python manually and checking:
[code]

[2016-12-06 00:31] civilman628 commented on #6094
I just download bazel 0.41 install file and install it from local, now the bazel is 0.41.

when i run ./configure, i already assign use GPU to to Y.
however, when i run build again. it still report the same error.

===========

scopeserver@scopephotos:~/RaidDisk/DeepLearning/mwang/tensorflow$ sudo ./configure
[sudo] password for scopeserver:
~/RaidDisk/DeepLearning/mwang/tensorflow ~/RaidDisk/Deep

[2016-12-06 00:31] zseymour commented on #6100
Currently, in your loss function you are passing `(K.cast(K.argmax(y_true, axis=1), K.floatx()) - 1.0)` as the `axis` argument to `K.mean`. At best, I'm sure Keras is assuming the `axis` to be an integer (i.e. not `floatx`), and from my reading of the source, I'm not sure if it supports an integer `Tensor` there at all.

[2016-12-06 00:37] gunan commented on #5994
Also I found this online:
http://stackoverflow.com/questions/26894024/subprocess-check-output-module-object-has-out-attribute-check-output

Maybe the python libraries have an old version of subprocess?

[2016-12-06 00:45] gunan commented on #6094
Wait, why are you running `sudo ./configure` ?
You are running `./configure` and `bazel build ...` as different users.

Please check out the tensorflow repository to a folder your user can write to, and then run ./configure without sudo.

[2016-12-06 00:53] jessedaniels commented on #4427
[This post](https://theneuralperspective.com/2016/11/20/recurrent-neural-network-rnn-part-4-attentional-interfaces/) gives a comprehensive and easy-to-follow overview of the current TF attention implementation in an encoder-decoder context. According to the author the implementation is based on the details at the end of the Bahdanau paper (https://arxiv.org/pdf/1409.0473v7). The author provides a

[2016-12-06 00:54] oxrider commented on #6100
I'm very sorry about the typo. The loss function should look like this:
[code]
in which both `K.cast`s are parameters of `K.prod`.
The error message looks the same:

[2016-12-06 01:14] leihe001 commented on #1511
@xuanchien thanks very much! I have solved this problem according to your advice.

[2016-12-06 01:17] Hui-Zhi commented on #5934
@gunan No, I did not.

[2016-12-06 01:20] #6081 closed

[2016-12-06 01:23] CTTC commented on #6037
Waiting for help. Thanks

[2016-12-06 01:25] terrytangyuan commented on #6037
The predictions is iterable object. Try explicitly converting them into a list.

[2016-12-06 01:38] PhilipZeratul commented on #5921
So, any luck on solving this?

We are currently trying to use a new model without atrous_conv2d but the result is not as good. Maybe we haven't fine tune the new model yet but using atrous_conv2d would be a big time saver.

Any quick fixes or ideas would be appreciated, thanks.

[2016-12-06 01:39] NewRem commented on #1402
I got a similar error. It was solved when I run python from the parent directory of tensorflow. But I'm curious if I can import tensorflow from another directory? Because when I do, it shows this error.
"Unless you are using bazel,
you should not try to import tensorflow from its source directory;
please exit the tensorflow source tree, and relaunch your python interpreter
from there."

[2016-12-06 01:51] CTTC commented on #6037
@terrytangyuan I have tried like `  print("Predictions: {}".format(list(y)))`,but then the program just stuck to this line, and never ended. Besides, it output these two lines when the program ran to this print line:
[code]
So using list still not work.

[2016-12-06 01:53] martinwicke commented on #1402
@baregawi Is this a new behavior in 0.12?

@NewRem how did you install TensorFlow?

@yifeif It obviously looks fine in our CI, any idea?

[2016-12-06 01:54] dk67604 commented on #4442
@amirj Once I set to as_iterable=True, unable to iterate over prediction, could you suggest a way to do the same.

[2016-12-06 02:05] caisq commented on #3467
Fixed by https://github.com/tensorflow/tensorflow/pull/6030
Python-3 docker images are now available in nightly builds.
See: https://hub.docker.com/r/tensorflow/tensorflow/tags/

py3 tags include:
nightly-py3
nightly-devel-py3
nightly-gpu-py3
nightly-devel-gpu-py3

py3 images will also be made available in the next release.

[2016-12-06 02:05] #3467 closed

[2016-12-06 02:05] universewill commented on #6084
Thank a lot. Besides, how to find the corresponding model definitions of tar-ball and the model definition of the retrain.py?

[2016-12-06 02:07] shlens commented on #6084
@petewarden Pete, would you have know the corresponding model definition for the tar-ball version of Inception-v3 used by retrain.py?

[2016-12-06 02:10] taro10h commented on #5857
I run into the same issue. Machine: MacOS 10.12.1

I follow the 9-step tutorial to run the 1st Tensorflow
https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/

Step 1-4 are smooth ( install docker, install tensorflow, retrieve images for training).

Step 5 presents a method to train the imagenet last layer based on local image with the following python command:

python tensorflow/

[2016-12-06 02:10] yifeif commented on #1402
Looks like it is related to this line when running tensorflow from source dir, https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/__init__.py#L49

This should be resolved by not running from the source dir.
@NewRem also curious how you installed tensorflow. You should be able to import tensorflow from a non-repo-source directory.

[2016-12-06 02:11] andrewharp commented on #6101
There is an example Android application in tensorflow/examples/android. I don't know much about Anacondo, but tensorflow/contrib/android should not be empty (this provides the native inference interface used by the example app). We don't use or require python for the Android side of things, so this may be a clue (you have py35 in your path).

We also provide tensorflow/examples/android/build.gradl

[2016-12-06 02:34] hejunqing commented on #6082
Thank you.Michaelisard.
I am trying to restore  the saved models trained yesterday,The saved models are listed as above but  can't be restored because of the NotFoundError. There is no warning or error when I saved models.
I want to load each model and evaluate, not just the latest one.

The codes of restoring models are in validate.py is in below
Thanks!
[validate_models.zip](https://github.com/t

[2016-12-06 02:38] html5cat opened #6108 "[TensorBoard] Charts in TensorBoard in Safari don't display correctly"
macOS Sierra, latest Safari (Version 10.0.1). Works good in Chrome.

Steps to repro:
1. Run https://github.com/openai/universe-starter-agent

2. Observe the following graphs:
<img width="423" alt="screen shot 2016-12-05 at 6 32 12 pm" src="https://cloud.githubusercontent.com/assets/823890/20910888/30ec783a-bb19-11e6-8514-5c1027ca068a.png">

3. Console contains these errors:
<img width="505" alt="s

[2016-12-06 02:52] dillonalaird commented on #4427
@jessedaniels The author in that post gives an incorrect explanation of the conv2d operation. The conv2d is just a clever trick to calculate W*h_t over all time steps. You can see the original code where he got that from [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/seq2seq.py#L589). You can also verify it yourself by running:
[code]
on some random matrices and

[2016-12-06 03:14] passerbyd commented on #5827
ExponentialMovingAverage could be applied either on original variables or on output tensors. It's different from user-defined variables.
If the slot_creator will be replaced in design, there should be a direction for how to maintain averages on mid-output first. (as ppwwyyxx mentioned case)

[2016-12-06 03:22] guschmue commented on #6033
Last time I have seen this was when the -gencode was not correct for the requested cuda compute
ability. A gtx 760 has cuda compute ability 3.0 but the default build enables only 3.5 and 5.1.
Tensorflow should refuse to use this card unless CMakefile was changed and 3.0 was added to TF_EXTRA_CUDA_CAPABILITIES without adding 3.0 to -gencode.
OR there is some bug in that area.
I can take a look.

[2016-12-06 03:36] ericyue opened #6110 "generate signature for SparseTensor failed"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
I can not find any posts about how to export a sparse model in tensorflow. I searched for hours.

### Environment info
Operating System:
centos7 without gpu

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)
export f

[2016-12-06 03:56] xuancong84 opened #6111 "Flawed memory management: allow_growth=True consumes more memory, causing out-of-memory"
To prevent tensorflow (TF) from allocating the totality of graphic memory, I always use the following options when creating sessions:

[code]

However, doing so causes some experiments to run out of memory while not doing so will not cause memory overflow. For example, when running experiments involving RNN, such as translate.py or ptb_word_lm.py in the sample code, if I specify allow_growth=True,

[2016-12-06 04:09] ppwwyyxx commented on #6082
Could you try the following:
1. use a model name without the character `[]`, and:
2. when you tried to restore, use the full relative path `./model_epoch10` rather than `model_epoch10`

If my guess is right then you should see it work. It it doesn't, could you give the __steps__ so that people can reproduce the problem (i.e. how to use your code).

[2016-12-06 04:10] xuancong84 commented on #6108
Have you tried Firefox or Chrome in Mac? We first need to nail down whether it is the browser's problem or Tensorboard's web-script problem?

MacOS is known to cause problems because Apple developers are typically very ignorant of the conventional standards in HTML/CSS/Javascript/PHP/TCPIP and etc.. Last time, I hosted some web service to do online text translation, it turns out that only for MacO

[2016-12-06 04:12] html5cat commented on #6108
@xuancong84 yeah, as per note above, works good in Chrome.

[2016-12-06 04:16] xuancong84 commented on #6108
@html5cat Then how about Firefox? Firefox is the best explorer in the current state-of-the-art.

[2016-12-06 04:48] michaelisard commented on #6104
This question is better asked on (stackoverflow)[http://stackoverflow.com/questions/tagged/tensorflow] since it is a usage question not a bug report.

[2016-12-06 05:43] universewill commented on #6084
I download the inception-v3-2016-03-01.tar.gz and find the model file is 'model.ckpt-157585'.
However, the model file in inception-2015-12-05.tgz is a '.pb' file named as 'classify_image_graph_def.pb'.

Is the 'model.ckpt' model file is created by slim while 'classify_image_graph_def.pb' not?

[2016-12-06 05:54] 984958198 commented on #1402
Thank you all, I solved the problem by upgrading the ubuntu

[2016-12-06 06:13] NewRem commented on #1402
@martinwicke @yifeif I used pip installation. To be exact, I used these three commands:

$ sudo easy_install pip
$ sudo easy_install --upgrade six

#the CPU version of the binaries to Pypi
$ sudo pip install --ignore-installed tensorflow

[2016-12-06 06:32] ahundt commented on #781
ah yes, silly me, a 2d image can be projected with a 3x3 matrix. Are the parameters there supposed to be in tuple form? If so, could you explain the reason for that vs other structures?  Thanks!

[2016-12-06 06:42] html5cat commented on #6108
Don't have it, sorry. Safari has big enough audience - mobile and default on all Macs.

[2016-12-06 07:32] #5845 closed

[2016-12-06 07:36] e-budur opened #6115 "[Windows] How can we call builtin ops function in Windows like _set_ops.dense_to_dense_set_operation?"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
http://stackoverflow.com/questions/40947669/attributeerror-nonetype-object-has-no-attribute-dense-to-dense-set-operation

Operating System: Windows

Installed version of CUDA and cuDNN:
[code]

If installed from binary pip package, provide:

1. A link to the pip package you installed:
http

[2016-12-06 07:44] gunan commented on #6094
I reproduced your setup with ubuntu, bazel 0.3.2 and bazel 0.4.1, and cuda 8.0
Tried to run the commands (without `sudo`) and for me everything ran successfully.

Please try running `./configure` without sudo. In your current local repository it will fail, because there are now some files owned by the root, so I would suggest removing your folder with the code in it and checking the code out again

[2016-12-06 07:44] #6094 closed

[2016-12-06 08:03] llhe opened #6116 "grpc RecvTensor is slow"
I made benchmark tests for distributed setup with loopback network, profiling it and found there is excessive memory copying in the client side of RecvTensor call, which is actually one of the bottleneck.

Here is the code, which mainly stolen from @yaroslavvb [here](https://gist.github.com/yaroslavvb/1124bb02a9fd4abce3d86caf2f950cb2),
[code]

Here is the profiling result (google perftools) with t

[2016-12-06 08:08] AndreyRub commented on #6101
Hi Andrew and thanks for your reply.

I have installed the official WIN package located at https://pypi.python.org/pypi/tensorflow-gpu/0.12.0rc0, following the instructions at https://developers.googleblog.com/2016/11/tensorflow-0-12-adds-support-for-windows.html.

Just to make sure I did not miss anything, I downloaded the .whl file manually, renamed it to .zip, opened and listed all the files an

[2016-12-06 09:03] llhe commented on #4498
#6116

[2016-12-06 09:18] chengsam commented on #19
@MattSich I just rewrote the camera part to Swift but the runCNNOnFrame method is still in Objective-C++.

[2016-12-06 10:05] Research2 commented on #5857
I fixed it by installing tensor flow on my Mac and running it through Virtual Environment. Also, I downloaded the inception file manually and pasted it in the tf_files folder manually.

[2016-12-06 10:21] MattSich commented on #19
@chengsam actually already did it but have been waiting for the client for my current project to approve the contribution back to this repo

[2016-12-06 10:22] bluekingsong opened #6117 "distributed tensorflow failed to save variable larger than 2G"
when use distributed tensorflow saver to save larger variables(more than 2G),  it get stuck and won't save successfully.
   tensorflow version: rc0.11
   bazel version: 0.3.
  minimal reproducible example:

file1: test_saver.py
------------------------------------------
[code]
-------------------------------------------------------------------------------------
file2: run_test_saver.sh
-----------

[2016-12-06 11:09] JosiahKane commented on #5453
In my project the problem has disappeared with the newest head (having restored the line I mentioned commenting out)
I don't know whether @jrabary has the same experience.

[2016-12-06 11:40] #6110 closed

[2016-12-06 11:45] ericyue opened #6118 "Export Model For Serving But Tensor Type Dismatch"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
I am trying to export the model for serving , but it's report type error about *inputs* tensor.
but in the export and predict part , the **inputs** are the same type.

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code

[2016-12-06 12:14] llhe commented on #6116
To make things more clear, I collected more detailed data for [memmove](https://github.com/grpc/grpc/blob/d7ff4ff40071d2b486a052183e3e9f9382afb745/src/core/lib/support/slice_buffer.c#L278):
[code]
A typical `move_size`, `slice_size` sequence,
* move_size: 6096, slice_size: 608
* move_size: 6072, slice_size: 8192
* move_size: 6048, slice_size: 7583
* move_size: 6024, slice_size: 600
* move_size: 60

[2016-12-06 12:23] jrabary commented on #4682
Hi @dsmilkov. I'm testing the latest verison of the embedding project which looks nice. I'm wondering how can I create a demo tensors in .bytes format ?

[2016-12-06 13:37] hejunqing commented on #6082
@ppwwyyxx your advice help!
I use the model name without [] and retrained models.Then they can be restore!
I will add this special characters to DON'T USE list.
Thank you very much

[2016-12-06 13:37] #6082 closed

[2016-12-06 14:23] caisq commented on #5453
@girving The "Confirm safe" TODO is now obsolete and will be removed on the next successful push from internal. @jrabary, does the problem persist if you use use the latest master HEAD?

[2016-12-06 14:41] Carmezim commented on #6115
Do you mean load a custom op lib?
It is currently not supported.
[release notes](https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md).

[2016-12-06 14:47] caisq commented on #3669
The latest* tags should be up-to-date now. This should be the case for both images from Docker Hub (tensorflow/tensorflow) and gcr.io (gcr.io/tensorflow/tensorflow).

Please re-open this issue if there are remaining issues.

[2016-12-06 14:47] #3669 closed

[2016-12-06 14:49] caisq commented on #4048
The PR referred to above should have addressed this issue. This should have been reflected in the latest* and nightly* tags on gcr.io and Docker Hub now. Please re-open this issue if there are any remaining problems. Thanks.

[2016-12-06 14:49] #4048 closed

[2016-12-06 15:15] ctiller commented on #6116
Interesting!

The correct fix is probably to have `grpc_chttp2_incoming_byte_stream` become a ring-like buffer, so instead of doing a move down the slice array, we just increment an index. When we reach the end of `slices`, we can reset the counter to zero.

I'll make sure someone takes a look soon.

[2016-12-06 15:17] e-budur commented on #6115
No, I don't mean custom op lib. I want to use the existing builtin op libs that are currently provided under contrib folder of tensorflow git repository. For example, ops in contrib/metrics folder.

[2016-12-06 15:35] gilberthendry commented on #5938
I also tried reproducing the problem but ran into the same issue as @poxvoculi.  Supplying your checkpoint directory for input_saver is not valid.   Regardless, I can't get past tf.import_graph_def because it seems that internally it uses a V2 checkpoint, but tf.learn still uses a V1 checkpoint (which is hard coded into the underlying graph_actions.py).

[2016-12-06 16:00] michaelisard commented on #6118
This question may be better asked on (stackoverflow)[http://stackoverflow.com/questions/tagged/tensorflow] since it seems to be a usage issue not a bug report.

[2016-12-06 16:04] mrry commented on #6115
Looks like this set of op registrations is missing from the Windows package. I'll implement the workaround.

[2016-12-06 16:17] jacktang opened #6119 "Different prediction result for tf.learn QuickStart?"
Hello,

Today I upgrade tensorflow package and read the [tutorials from the beginning](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/tutorials/tflearn/index.md).And find the result of classifier prediction is different, it is `[1, 1]`. I remember that the old version tf run out `[1, 2]`. So what's the problem?

The OS is OSX EI Capitan, and tensoflow is 0.12.0-rc0

[code]

[2016-12-06 16:28] petewarden opened #6120 "Error needed when loading a GraphDef created in a newer version of TensorFlow"
There are a lot of issues (e.g. #5628) that are caused by users loading GraphDefs that were created by a newer version of TensorFlow (e.g. 0.12 that introduces SaverV2) into older code bases. This currently results in cryptic errors late in the loading process, but instead we should raise an error (or at least a prominent warning) when a newer GraphDef version than is supported is loaded.

[2016-12-06 16:29] petewarden commented on #5628
That freeze_graph error seems to indicate that you're using an older version of TensorFlow to load the graph, where 'DenseToDenseSetOperation' was still in contrib?

We should catch this error case (loading a GraphDef file that was created by a newer version of the framework) earlier. I filed #6120 to track that work.

[2016-12-06 16:49] petewarden commented on #6084
The GraphDef file you need is currently not available from slim unfortunately. We should be able to do something similar to export_for_serving, but with `f.write(inference_graph.as_graph_def().SerializeToString())` to write out the correct file, but nobody's added that yet.

[2016-12-06 16:51] michaelisard commented on #5850
Does rearranging the code as suggested avoid the high memory cost?

[2016-12-06 16:53] michaelisard commented on #5922
Closing due to lack of activity.

[2016-12-06 16:53] #5922 closed

[2016-12-06 16:53] #6045 closed

[2016-12-06 16:53] #6079 closed

[2016-12-06 16:55] michaelisard commented on #6100
This type of question is better suited to (stackoverflow)[http://stackoverflow.com/questions/tagged/tensorflow] since it is a usage question not a bug report.

[2016-12-06 16:56] #6104 closed

[2016-12-06 16:59] michaelisard commented on #4769
Closing due to lack of activity.

[2016-12-06 16:59] #4769 closed

[2016-12-06 17:04] michaelisard commented on #5707
Closing due to lack of response.

[2016-12-06 17:04] #5707 closed

[2016-12-06 17:14] andrewharp commented on #6101
@AndreyRub Yes, the whl file you reference seems to only be the TF Python API which wraps around a precompiled native library for Windows.

The process for Android is a bit different; please refer to  https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android which contains basic instructions for running the demo with Bazel. If it doesn't work on Windows you could probably bu

[2016-12-06 17:17] oxrider commented on #6100
Thank you @michaelisard, I wasn't sure because it looks like a bug. I will post it on stackoverflow.

[2016-12-06 17:23] #6100 closed

[2016-12-06 17:50] barrykui commented on #5476
@Goolley Hi, what do you mean by `the input data array dead`? I also encounter the error message now.

[2016-12-06 17:55] codeloverr commented on #3444
Can anyone guide me? I want to take the scoreView result as recog.getTitle() in a texview.

[2016-12-06 17:56] dkokron commented on #5994
In reply to gunan.

Python 3.5.1 (default, Jul 28 2016, 13:15:08)
[GCC 4.9.3] on linux
Type "help", "copyright", "credits" or "license" for more information.

True

[2016-12-06 18:02] sandersk commented on #6037
@CTTC @krishnanareddy, thanks for the bug report, and apologies for the error here.

With TF v0.12, the new default behavior for predict() is to return an iterable, as @terrytangyuan notes.

If you change the following:

[code]

to:

[code]

the example will work. I'll get the code in GitHub updated accordingly ASAP.

Let me know if you still encounter any errors.

[2016-12-06 18:20] andrewharp commented on #3444
@codeloverr It sounds like you just want to call view.setText(recog.getTitle()). But please direct general Android programming questions to StackOverflow, you'll find better support for that there.

[2016-12-06 18:52] cancan101 opened #6124 "Using Boolean Placeholder for is_training Causes Problems when Loading on iOS"
Currently I am training a model that uses Batch Normalization and Dropout. Because of this I build the model to take a placeholder, `is_training`, that I can feed_dict true or false depending on whether the graph is being used for training or validation.

I take the trained model and export using `tensorflow.contrib.session_bundle.exporter` however when I try to load this graph on iOS, I run into

[2016-12-06 18:53] rmlarsen commented on #6085
From your example it looks like numpy produces vectors that are orthogonal to 1 part in 10^8 (off-diagonal elements are   approx. -9e-09) and TensorFlow produces vectors that are orthogonal to 1 part in 10^7 (off-diagonal elements are approx. -1.2e-07). While differering by a factor of 10, both are _numerically_ very close to the identity, and certainly no cause for alarm. This is as good as one c

[2016-12-06 18:53] #6085 closed

[2016-12-06 19:00] e-budur commented on #6115
Thank you very much @mrry for your fast action.

[2016-12-06 19:32] civilman628 commented on #6094
oh, yeah, i change the permission for the python folder and build pass.

[2016-12-06 19:45] pragmascript opened #6125 "[Windows] Compute 3.0"
I'm trying to run tensorflow 0.12.0rc0 on Windows 10 with a Compute 3.0 Device (gtx 660 Ti) but I get the following message:
[code]
The installation manual seems to suggest that it should work with 3.0. (And it works just fine on Linux)
[code]

[2016-12-06 20:32] #5877 closed

[2016-12-06 20:45] brando90 commented on #4251
I don't know if this is the right place to ask but can someone explain to me what the error is even say so that I can start to try to debug this?

In particular I would like to start with the first line:

[code]

[2016-12-06 20:54] ringw commented on #781
Oh, I was just referring to one row in the transforms tensor there. It will be an array of length 8, or n x 8 if using batches. I'll update the documentation to make it clear that it's not meant to represent a Python tuple.

[2016-12-06 21:05] tobiaslorenz commented on #2307
Might not totally be related to the original question but what worked for me as a workaround is to fully train the inception model from scratch and then export it to serving. Of course, that involves the extra resources needed for the full training run but might be a suitable way for some seeking to serve their own classification model.

[2016-12-06 21:14] mrry commented on #6125
We didn't build the binary package for the 0.12rc0 release with support for Compute Capability 3.0 devices.

Since we merged #6092 and #6099, the next release candidate and [nightly builds](http://ci.tensorflow.org/view/Nightly/job/nightly-win/DEVICE=gpu,OS=windows/) for Windows will have this support.

[2016-12-06 21:14] #6125 closed

[2016-12-06 21:18] mrry commented on #6115
No problem! We'll merge this soon and get it into the nightly builds (and the upcoming 0.12rc1 release).

[2016-12-06 21:53] mukul1992 commented on #3261
I am also hitting the same issue where protoc complains about missing GLIBCXX_<versions> although more recent gcc (4.9.2) library path is added to LD_LIBRARY_PATH.
I am using bazel 0.4.1 for tensorflow 0.12.0-rc0 on CentOS 6.

[2016-12-06 21:56] yaroslavvb commented on #6116
@llhe amazing investigation work!

[2016-12-06 22:03] kiwiphil commented on #4044
Hi, has there been any progress on this problem ? As I am getting similar symptoms.

[2016-12-06 22:13] ursachec commented on #5375
Had the same issue running on OSX, @Dannyzen's solution fixed it for me.

[2016-12-06 23:07] yaroslavvb opened #6131 "tf.get_session_tensor awkwardness"
`tf.get_session_tensor()` op constructor is unique in that it needs to be passed output of a session.run call. IE, when you are setting up your graph structure and don't have a relevant handle, you need to do something like this

[code]
This means that it's incompatible with workflow of "create graph -> finalize graph -> run ops" (like when using Supervisor which finalizes graph at the end of `ini

[2016-12-06 23:07] baregawi commented on #1402
@martinwicke I just `pip install -U tensorflow` after not having updated since September. But I remember having to do a similar hack in September: https://github.com/tensorflow/tensorflow/issues/4616

[2016-12-06 23:23] #6115 closed

[2016-12-06 23:24] ashern opened #6132 "contrib.learn.Estimator does not work with multiple GPU"
Attempting to assign ops to a GPU within model_fn passed to an Estimator produces the following error:

[code]

This can be reproduced by running the example in examples/learn/multiple_gpu.py

[2016-12-07 00:04] ashern commented on #6059
Just to bump this - I'm seeing exactly the same behavior. Models which train well on 0.11 do not improve in 0.12.

I am using the same GPU & library versions as @yaroslavvb. I've also attempted to use cudnn 5.0 without success.

I will try and post the requested values when I have time as well.

[2016-12-07 00:06] #4668 closed

[2016-12-07 00:12] silky opened #6134 "make `tensorflow.python.tools` importable (freeze_graph, and others)"
for mysterious reasons, these functions aren't importable

can we add an `__init__.py` to this directory so that we can import them? thoughts?

[2016-12-07 00:35] jesaremi opened #6136 "ImportError: No module named 'tensorflow' on windows + anaconda"
I followed the instructions on downloading and setting up tensorflow on windows. they result in one red line on the pip installation and the no-module-found error message in python interactive.

steps:
- install anaconda for windows 64bit for python 3.5 as per given link in the tensorflow install page
- issue a pip for tensorflow (either one of these would result in the samething):
C:\> pip instal

[2016-12-07 00:36] jesaremi commented on #6136
I also checked the c++ runtime as mentioned in the doc page. I have the exact same thing already installed

[2016-12-07 00:43] jesaremi commented on #6136
here's the entire pip install log:
pip install --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-0.12.0rc0-cp35-cp35m-win_amd64.whl
Collecting tensorflow==0.12.0rc0 from https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-0.12.0rc0-cp35-cp35m-win_amd64.whl
  Downloading https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-0.12.0rc0-cp35-cp35m-win_a

[2016-12-07 01:02] yaroslavvb commented on #6059
Retrying at HEAD and on a Maxwell GPU, next will try on a K80

[2016-12-07 01:10] xuancong84 commented on #5850
@michaelisard It is not possible to rearrange the code as suggested because Ncontext is an integer (>=0) parameter to be tuned. Take a closer look at my code, you will find out why.

[2016-12-07 01:21] gunan commented on #5994
it looks like check_output is available, but during build, somehow it is not.
I would guess this would be something specific to your python setup.

The root cause of your issue is:
[code]

I cannot really say why this is happening, since check_output is actually available in your python's subprocess module. At this point, I would say someone more familiar with your python setup or stack overflow (

[2016-12-07 02:01] yaroslavvb commented on #6059
I pulled from head and built it and things seem to learn again
tf.__git_version__=="b'0.12.0-rc0-437-g6d63f67'"

Here's a version built for CUDA 8/Ubuntu
https://www.dropbox.com/s/pyu92nj4oifw6cg/tensorflow-0.12.0rc0-cp35-cp35m-linux_x86_64.whl?dl=0

[2016-12-07 02:25] Carmezim commented on #6136
This seems to be an Anaconda issue. Could you please try upgrading setuptools:
`pip install --upgrade -I setuptools`

and then installing TensorFlow again with `--ignore-installed` flag:
`pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-0.12.0rc0-cp35-cp35m-win_amd64.whl`

Then see if there is success.

[2016-12-07 03:00] yaroslavvb commented on #6134
Most directories don't have `__init__.py` because they are pulled up to be importable as `tf.<name>`. IE, you can see the list here  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/__init__.py

But also, things in python/tools directory are meant to be run as stand-alone scripts, not clear that it makes sense to have something like `tf.freeze_graph`

[2016-12-07 03:03] ericyue commented on #6118
I don't think it's a usage issue,as you can see, the type I defined are match ,isn't it ?
can you provide some infomation to help me solve this?  @michaelisard
I also add a question on stackoverflow as you said(http://stackoverflow.com/questions/40994724/export-model-for-serving-but-tensor-type-dismatch) ,but I don't think some one can answer it because the infomation about "Exporter"  on web are

[2016-12-07 03:11] physicso commented on #342
I am also trying to model very sparse sequential input data with RNN (LSTM). Is there any approaches besides converting the sparse data into dense ones? I'm afraid that the input data may blow up the GPU memory ;)

[2016-12-07 03:11] guschmue commented on #6033
tested this on master (@mrry has enabled cuda 3.0 capability) and it works fine on a gtx 740 (which is 3.0). tf.random_normal((100,100))  works too.
I think the only thing we need to try is that a cuda 3.0 card is not taken by a tensorflow build before cuda 3.0 was enabled.

[2016-12-07 03:19] CTTC commented on #6037
@sandersk  Thanks, that solved the problem

[2016-12-07 03:19] silky commented on #6134
fair enough re the first point

re the second, i actually don't require this function anymore, so i don't really mind. closing.

[2016-12-07 03:19] #6134 closed

[2016-12-07 03:31] ericyue commented on #6118
update
I fix a small error I in my code.

[code]

[2016-12-07 03:32] ericyue commented on #6118
@michaelisard  so please remove the stackoverflow label?

[2016-12-07 03:33] #6118 closed

[2016-12-07 03:39] Carmezim commented on #6136
@mrry should I submit a PR to get_started docs with a note about this anaconda issue when pip is trying to remove `easy-install.pth` and it does not exist in a new Anaconda installation. This happens when the conda setuptools version is behind pip setuptools.

[2016-12-07 04:05] ebrevdo commented on #5876
This is unfortunately a known bug and is caused by the fact that the cross_entropy_loss ops are fused: they calculate fw and bprop values at the same time and return them together (the bprop is hidden from the user but is used only during tf.gradients call).  This doesn't work well with TF's gradient registration mechanism when you want the second derivative.  Solutions may be forthcoming, but no

[2016-12-07 04:37] Strideradu commented on #6033
I followed the instruction given by https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/cmake to build tensorflow which I supposed to support 3.0 as I modify on [this line](https://github.com/tensorflow/tensorflow/blob/a7b4f636d50b6fcb9cd1f7f138cc50b720fc86dd/tensorflow/contrib/cmake/CMakeLists.txt#L156) and[ this line](https://github.com/tensorflow/tensorflow/blob/a7b4f636d50b

[2016-12-07 04:42] Kamatio commented on #42
Can someone advise me how to run these function imports on recent released tensorflow on windows?
**import audioTrainTest as aT
import audioBasicIO
import utilities**
Have tried all ways to correct the errors but it failed. I am using Anaconda, Python 3.5 ....
Thanks!!

[2016-12-07 04:55] rw opened #6141 "Feature request: directional distributions (like von Mises-Fisher)"
Are there plans to implement directional statistical distributions? In particular, I'm looking to get a von Mises-Fisher distribution into `contrib/distributions/python`.

I'm beginning work on a VMF distribution myself, but as a new TF user my progress is likely to be slow.

(Note that `scipy.stats` implements a basic von Mises distribution.)

References:
[Wikipedia: Von Mises–Fisher distribution

[2016-12-07 05:04] guschmue commented on #6033
ah, need to fix that comment: the -gencode need to change too so nvcc generates the 3.0 code.  That explains why tensorflow took the card but returned zeros. The correct change is here:
https://github.com/tensorflow/tensorflow/commit/669b2cc9fa02527c87e9f82bd4ac7d76e715d2a8#diff-1d799fa350437420218e5e5aa680c481

[2016-12-07 05:41] kohpangwei commented on #5876
Ok. Thank you for the update!

[2016-12-07 05:41] rohitgirdhar opened #6142 "NewCheckpointReader does not work for the V2 checkpoint format"
Unable to read the new checkpoints (V2 format) that became default from r0.12 release using `NewCheckpointReader`. This breaks the TF slim API, specifically:
https://github.com/tensorflow/tensorflow/blob/c2d14aa0d80897b7164e32e16951d03a36342370/tensorflow/contrib/framework/python/ops/variables.py#L487

### What related GitHub issues or StackOverflow threads have you found by searching the web for

[2016-12-07 05:45] kohpangwei opened #6143 "Feature request: second derivatives for pooling operations"
Currently, neither `tf.nn.avg_pool` or `tf.nn.max_pool` support automatically taking second derivatives, making it difficult to experiment with second-order methods on neural networks that use any sort of pooling (which unfortunately includes most modern networks). Trying to take a second derivative gives a `LookupError`, e.g., `LookupError: No gradient defined for operation 'gradients_4...AvgPool

[2016-12-07 06:12] dhwajraj commented on #6032
I am pretty sure that I trained the model in 0.11 and freezing it using 0.11 only. Anyway I think whatever the issue was, is solved in 0.10 and 0.12rc0.

[2016-12-07 06:15] uher commented on #4944
I think this issue is not related with bazel version.
I'm facing this issue on bazel 0.4.1 and bazel 0.3.2 also.
Anyone know how to fixed this issue?

@ian2720 You can remove bazel as the following. (refer link: https://github.com/bazelbuild/bazel/issues/838)
rm -fr ~/.bazel ~/.bazelrc
rm -fr ~/.cache/bazel
And you can install manually old version bazel (refer link: https://bazel.build/versions/ma

[2016-12-07 06:31] windancer055 opened #6144 "hitting 2GB limit when importing large frozen graphs onto multiple gpus"
When I tried to import a big graph onto multiple gpus (multiple times), the graph def usually goes beyond 2GB. Is there a solution to this in tf?

[2016-12-07 06:42] mrry commented on #6117
Individual tensors larger than 2GB are not supported by protobuf, which the distributed runtime uses as the format for tensors exchanged over the network. Generally speaking, if you have to transfer >2GB over the network in a single step, you are probably not going to get very good performance. There are two main workarounds for dealing with this problem when checkpointing:

1. Create the [`tf.tra

[2016-12-07 06:42] #6117 closed

[2016-12-07 07:02] yaroslavvb commented on #6144
6 months ago there was no plan on the horizon to get rid of the 2GB limit (it would require deep changes to protobuf library) .... but perhaps you can make your graph smaller? IE, you can use distributed tensorflow locally where each worker holds only part of graph relevant to it. Alternatively, you can use `function.Defun` to factor out large repeating chunks of your computation.

[2016-12-07 07:05] uher commented on #4944
I've complete to build tensorflow.
I'm using the lastest source version(Not using  git reset --hard 70de76e ) after trying to build then completed.

So. please try as the following commend
$git reset --hard
$git pull
$git reset --hard 287db3a9b0701021f302e7bb58af5cf89fdcd424

@ the version as the following.
commit 287db3a9b0701021f302e7bb58af5cf89fdcd424
Merge: 50460e9 52c46a7
Author: Andrew Harp

[2016-12-07 07:11] MycChiu opened #6146 "Fast Layer Normalization GPU kernel"
Hi, I wrote a [custom CUDA op for layer normalization](https://github.com/MycChiu/fast-LayerNorm-TF), which is about 5-10x faster than the current `tf.contrib.layers.layer_norm`.

After I posted the link on reddit, some people suggested that I should try to merge this kernel into the trunk, but I have never done this before, so I need some guidance on how this custom kernel could be integrated int

[2016-12-07 07:17] krishnanareddy commented on #6037
Yep, it solved for me too. Thanks for the prompt response.

[2016-12-07 07:40] windancer055 commented on #6144
Trying to import a pre-trained vgg model, little of the graph that i can control ...

[2016-12-07 07:51] sachinruk opened #6148 "Data Parallel, multi GPU (minimal) example?"
I am trying to get a simple example of tensorflow that parallelises the data over multiple GPUs to train. I have looked at `cifar10_multi_gpu.py` and its associated input files etc. but it seems to be a bit beyond me at this stage. Especially since I'm not sure why multiple GPUs would speed up the process in that example. If I understand correctly in that example all GPUs get the same copy of the

[2016-12-07 08:34] ppwwyyxx commented on #6148
In `cifar10_multi_gpu.py` the input function gets called once for each GPU therefore they get different data.

[2016-12-07 08:44] ppwwyyxx opened #6150 "summary name of the new `summary` module"
With the new `tf.summary` module, the name shown in tensorboard has to be equal to the summary op in the graph.
As a result, the name shown in tensorboard cannot be the same as any existing op in the graph.
This can create a bit of problem. Before this change, I could have some op named `loss` and the summary of its output also named `loss`, which is very consistent and easy to play with -- I can

[2016-12-07 08:54] jakubsimanek commented on #4251
@brando90 you probably have a wrong version (v4) of cuDNN installed. If you are using the [pip installation](https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#pip-installation), be sure you meet the requirements (versions 0.10-0.12 require CuDNN v5)

[2016-12-07 09:24] goodfeli commented on #5876
@ebrevdo Do you have a link to the github issue for this? More generally, is there a way to at least cause a NotImplementedError rather than returning the wrong numbers?

[2016-12-07 10:24] Mojusko opened #6153 "Training on GPU and CPU with the same code differs significantly."
I am training a TF network on two machines. It is the same code, which is basically a modification of the MNIST example. In one case, I use GPU on Amazon Cloud, in the other I use a standard CPU Intel Xeon. I have the same version of TF, the same code, the same parameters, the same packages the and same Ubuntu distribution.

In one case on GPU the learning process is significantly different, and p

[2016-12-07 11:09] ssampang opened #6154 "dynamic variants of attention_decoder and embedding_attention_decoder"
I've been following @alrojo's PR(#4686) for the `tf.contrib.seq2seq.dynamic_rnn_decoder`. I recently had to customize `tf.nn.seq2seq.embedding_attention_decoder` and `tf.nn.seq2seq.attention_decoder` with while loops for a personal project, so I'd be happy to help write `attention` and `embedding_attention` decoder functions for use with `tf.contrib.seq2seq.dynamic_rnn_decoder` if that would be he

[2016-12-07 11:22] ThibautLoiseleur commented on #6142
I also notice that the recommanded script [inspect_checkpoint.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/inspect_checkpoint.py) is not working anymore since the r0.12 release of Tensorflow.

[2016-12-07 11:31] tongda commented on #4989
@singlasahil14 Well, I am afraid that loading `.so` lib require using absolute path, except the lib is in the current directory.

[2016-12-07 12:08] i3v commented on #110
I've just managed to build tensorflow 0.12rc0 on CentOS6.5, which only had gcc-4.4.7 compiler by default, without having root privileges. (At least, it's successfully passing most simple tests, like [this one](https://github.com/tensorflow/tensorflow/issues/110#issuecomment-220009120)).

In short, I had to:
1. Build newer gcc, [hardcoding paths](http://stackoverflow.com/questions/39095577/tensorfl

[2016-12-07 12:15] i3v commented on #2291
I [had](https://github.com/tensorflow/tensorflow/issues/110#issuecomment-265431453) to combine suggestions from @zym1010 and @xuanchien to build tensorflow 0.12rc0 on CentOS6.5. I've used [CROSSTOOL.tpl#L59](https://github.com/leelabcnbc/DevOps/blob/master/Docker/tensorflow/0.10.0/centos6/py35/gpu/CROSSTOOL.tpl#L59), as a place to add necessary linker flags, but I had to add `-lrt` flag.

[2016-12-07 12:26] alrojo commented on #6154
Hi @ssampang

I am currently working on finalizing a attention decoder function with the proper `kernel_tests`, I hope to submit it next week.

[2016-12-07 12:31] i3v commented on #1426
I [was able](https://github.com/tensorflow/tensorflow/issues/110#issuecomment-265431453) to build tensorflow 0.12rc0 on CentOS6.5 without having root privileges, and it seem to work OK with glibc 2.12, without any `LD_LIBRARY_PATH` or `LD_PRELOAD` tricks. It looks like the key is to statically link necessary libraries, e.g. with `-lm`, like it was [just mentioned](https://github.com/tensorflow/ten

[2016-12-07 12:33] Aaronyxt commented on #44
Thanks. It worked for me as well.

My first try is to disable csrutil in https://www.quora.com/How-do-I-turn-off-the-rootless-in-OS-X-El-Capitan-10-11. But it did not work.

My second try is to use the following command. It worked.

sudo -H pip install --upgrade https://storage.googleapis.com/tensorflow/mac/tensorflow-0.7.1-cp27-none-any.whl --ignore-installed six

[2016-12-07 12:46] danielwatson6 opened #6155 "Update tf.zeros_initializer method"
The `tf.zeros_initializer` method has an unnecessary argument, asking for the tensor shape. See [tensorflow documentation](https://www.tensorflow.org/versions/r0.12/api_docs/python/state_ops.html#zeros_initializer). The `tf.ones_initializer` method, which is essentialy equivalent in functionality, does not have this argument.

As a sidenote, the method `tf.constant_initializer` (see [documentation

[2016-12-07 12:54] i3v commented on #53
I [was able](https://github.com/tensorflow/tensorflow/issues/110#issuecomment-265431453) to build bazel-0.4.1 and tensorflow-0.12.0rc0 from source, on CentOS 6.5, without having root privileges. And it seem to work OK with glibc 2.12, without any LD_LIBRARY_PATH or LD_PRELOAD tricks. [Editing](https://github.com/tensorflow/tensorflow/issues/53#issuecomment-164105922) `tensorflow/tensorflow.bzl` is

[2016-12-07 13:01] i3v commented on #3127
If anyone is still running into the same problem (like I did few days ago) - it turns out to be perfectly possible to build bazel-0.4.1 and then build tensorflow 0.12rc0 from source on CentOS6.5, with glibc-2.12. However, [some tricks](https://github.com/tensorflow/tensorflow/issues/110#issuecomment-265431453) are needed.

[2016-12-07 13:30] sandersk commented on #6037
Sure thing! Updates to the tutorial and companion code are now posted:

https://github.com/tensorflow/tensorflow/commit/f8233e0f937d00a33e4e49cc593688de76159f0d

[2016-12-07 13:30] #6037 closed

[2016-12-07 13:35] gaoyuze opened #6158 "installation issues on Ubuntu 16.04 GPU version"
Dear developers:
I encountered one error with fine setting configuration
All the settings is right, and it said that

                                           all external dependencies fetch successful
                                           configuration finished

all the thing right until I generate the pip_package

(bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_

[2016-12-07 15:14] i3v commented on #3261
I was able to overcome the `'GLIBCXX_3.4.20' not found` issue in a manner similar to what @xsj0jsx [suggested](https://github.com/tensorflow/tensorflow/issues/3261#issuecomment-234147379). You would probably need [these two lines](https://github.com/bazelbuild/bazel/issues/649#issuecomment-166710509), not one. However, you would probably have to [fix two more things](https://github.com/tensorflow/

[2016-12-07 15:25] keremcant opened #6160 "Windows MSBuild fails"
Hello,
I am trying to build tensorflow for cpu on my Windows computer using cmake and MS Visual Studio. I do the steps as described in the link below, I came until step 4, however at step 4 however MSBuild fails. Since I don't need the test program, I am trying to dirrectly build the .whl file by building the tf_python_copy_scripts_to_destination.vcxproj.

I am using the instructions from the link

[2016-12-07 15:33] sunsided commented on #4267
For some reason an nvidia driver update on Ubuntu 16.10 uninstalled the virtual `libcuda-XXX` package for me. Fixed it by manually installing it, then the error went away.

[2016-12-07 15:37] loliverhennigh commented on #851
Is tensorflow working correctly on the TX1, ie. able to run inference and get good results? When I installed tensorflow on a TK1 it ran just fine however the convolutional layers where producing bad results. I could train fully connected models on mnist just fine but when I tried to use conv layers it stopped converging. Is this problem persistent in the TX1 build?

[2016-12-07 15:50] shravan-rams commented on #647
To me
i am using python3, but in terminal i was writing like python
that'why it is giving error[ImportError: No module named tensorflow] to me

[2016-12-07 16:01] keremcant opened #6162 "Import error with skflow"
Hello,

I get an error when I try to import skflow with the command
`from tensorflow.contrib import skflow`
The error is "ImportError: cannot import name 'skflow". I have googled the error came across this similar issue: https://github.com/tensorflow/tensorflow/issues/1931. Apparently I have a lower version of tensorflow (I had 0.12) and need a newer version, such as 0.80.

I had done the installa

[2016-12-07 16:03] TimvdLippe opened #6163 "Opening http://projector.tensorflow.org/ shows a white screen in Chrome 55"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

I have search for open GitHub issues with the keyword `WebGL`, but none showed up.

### Issue

Today I opened http://projector.tensorflow.org/ in my browser, but got a complete white screen. The attached logs show the errors that are show in the console of the browser. Opening in Firefox

[2016-12-07 16:22] vrv commented on #5876
@goodfeli this is the only github issue afaik (the other one is internal and doesn't have much more info).

I have one idea about how to get this to fail loudly when differentiating twice, I'll talk to Eugene today and see if it's possible in the short-term.  One workaround for now is to not use the fused cross entropy functions and use their stable, primitive-op expansion.  It will be slower but

[2016-12-07 16:28] jesaremi commented on #6136
Adriano, the setuptools upgrade fixed everything. thanks very much

[2016-12-07 16:32] ericyue opened #6164 "TFRecords: DataLossError (see above for traceback): corrupted record at XXX"
I convert large data from csv to tfrecords using tf.python_io.TFRecordWriter in hadoop
there're some error happens:
* BUG 1) if I use zlib or gzip when create tfrecord writer , I can convert the csv successfully. But when I  loop all files to read , it's  stuck at some lines without any error.  when use these tfrecords to train model ,  errors "TFRecords: DataLossError (see above for traceback): c

[2016-12-07 16:49] #6154 closed

[2016-12-07 16:55] mrry commented on #6136
@Carmezim That would be a great addition to the "Common Problems" section, thanks!

[2016-12-07 16:55] #6136 closed

[2016-12-07 16:59] mrry commented on #6162
TensorFlow 0.8 is not available for Windows - note that it is actually an **older** version than TensorFlow 0.12 (the version numbers are not decimal fractions, so 0.80 != 0.8).

The `tf.contrib.skflow` package has been removed, and that tutorial is out of date. Please contact the author and ask them to update it to the latest APIs.

[2016-12-07 16:59] #6162 closed

[2016-12-07 17:03] mrry commented on #6010
I have no objection to this feature request, but the correct resolution probably depends on the resolution to #6007 (i.e. could we use **variable** scopes instead?). Assigning to @lukaszkaiser, in the interests of message consistency.

[2016-12-07 17:04] mrry commented on #5983
I'm closing this for now, since the fix is in. At present, only nightly builds have the fix, but they should be in the imminent `0.12.0rc1` release as well.

[2016-12-07 17:04] #5983 closed

[2016-12-07 17:05] mrry commented on #5633
Closing this due to lack of recent activity. Please try the pre-built binaries.

[2016-12-07 17:05] #5633 closed

[2016-12-07 17:07] Carmezim commented on #6160
Do you need to install TensorFlow on Windows specifically through CMake for some reason or just want to install it?

If the latter you can install with pip:
`pip install tensorflow`
for gpu:
`pip install tensorflow-gpu`

[2016-12-07 17:10] Carmezim commented on #6136
@mrry Cool. Will be doing it ASAP.

[2016-12-07 17:24] martinwicke commented on #5676
There's a protobuf version on our website with the 64MB limit removed:
https://www.tensorflow.org/versions/r0.12/get_started/os_setup.html#protobuf-library-related-issues

Can you try installing one of those packages? Make sure to uninstall protobuf beforehand.

[2016-12-07 17:35] yaroslavvb commented on #6144
I just tried importing vgg example from [Toronto site](https://www.cs.toronto.edu/~frossard/post/vgg16/) and GraphDef is 85k, so most of your graphdef is coming from somewhere else. You may get better community support in refactoring your graph creation on stack overflow.

2GB may seem like an arbitrary limit, but it's actually quite large and hitting it usually means user error, like node creatio

[2016-12-07 17:40] keremcant commented on #6160
I was basically trying to use skflow as shown in an online tutorial, which was apparently out of date.
Since I was getting an error with the code from the tutorial, after some googleing I thought I had an old version of tensorflow and needed to update the version. But apparently that is not the case and the tutorial was the old one! You can see this discussion in issue: https://github.com/tensorfl

[2016-12-07 17:43] beniroquai opened #6166 "Build "general" shared library for Android to use with Android Make"
Luckily there is a very good introduction into programming with Tensorflow on an Android device provided here:
https://github.com/miyosuda/TensorFlowAndroidDemo

The version of TF used in this project is 0.10 which doesn't work with my trained model coming from TF 0.12. I was wondering which is the best way to have a "generalized" shared library (or however this is called), built with bazel that I

[2016-12-07 17:54] groakat commented on #4468
can you give an example please? I am running into this problem atm.. Thanks

[2016-12-07 18:06] dennybritz commented on #6021
Upgrade to the latest bazel version. If you are using homebrew:

[code]

[2016-12-07 18:15] groakat commented on #4468
sorry I got it. I suppose you meant the solution is to reimplement `crop_image_to_bounding_box` which uses the slice operator:

[code]

[2016-12-07 18:16] nubbel commented on #5598
@fventer Apparently, this landed in master as of 7942860247b2f945e42092d43b29d9641ad2a217.
The exported *SavedModel* (similar to SessionBundle) can then be served using tensorflow/serving with the `--use_saved_model=true` option.
I can confirm it's working great!

Thanks @davidsoergel! 🎉

[2016-12-07 18:17] beniroquai commented on #6166
I think I found the answer already. Should have had stumbled over it a bit earlier:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile

[2016-12-07 18:17] andrewharp commented on #6166
Several generalized targets exist currently (by generalized I basically mean not tensorflow/examples/android-specific). It just depends what your requirements are and the tools you want to use.

You can build the TF library suitable for dropping into your app with the Android inference JNI bindings defined in tensorflow/contrib/android/BUILD as so:
[code]

The Java src counterpart is found under t

[2016-12-07 18:19] beniroquai commented on #6166
A great! Will look into it! Thank you very much for this detailed answer.

[2016-12-07 18:21] ranshadmi commented on #781
I'm following this thread and waiting anxiously for the feature to find its way into the next release of tensorflow...

[2016-12-07 18:44] #6160 closed

[2016-12-07 18:50] actang opened #6168 "Placeholder mismatch"
I am trying to train two classifiers in one session. I declared two separate placeholders and pass each of them to different classifiers in run-time. The first one works fine, but the second one does not. The error message tells me that the second classifier is trying to look for the placeholder for the first classifier (instead of its own).

The code is attached below
[code]

Error message is att

[2016-12-07 18:58] yaroslavvb commented on #6168
BTW I think it's a bug in your code rather than in TensorFlow.
(when you call `AdamOptimizer`, it creates an op which optimizes variables of both classifiers, so both sets of placeholders need to be fed)

[2016-12-07 19:09] yaroslavvb commented on #6153
This may be WAI depending on how fast your GPU implementation runs. It's easy to end up with scenarios where GPU version runs 10x slower. The thing to look at is the performance after same number of iterations

[2016-12-07 19:41] actang commented on #6168
Sorry. I didn't notice that.

I set a variable scope for two classifiers and minimize the loss with regards to the variables in the scope. That works well. Thanks!

[2016-12-07 20:01] riklopfer opened #6170 "training process dies without warning"
I have two GPUs. I start an LSTM training process on one GPU by masking CUDA_VISIBLE_DEVICES in the python script:

[code]
I then start a second training process using the same technique, but with `gpu_id='1'`. Shortly after launching the second training process, the first one dies without any message.

Each invocation looks something like this

[code]

When I do the same thing without redirecting

[2016-12-07 20:14] michaelisard commented on #6142
@sherrym would you reassign as necessary?

[2016-12-07 20:23] michaelisard commented on #6143
@vrv I see your name on discussions around this but can't tell who if anyone is working on it: would you reassign?

[2016-12-07 20:25] michaelisard commented on #6146
@martinwicke can you comment?

[2016-12-07 20:29] riklopfer commented on #6170
The process was killed by the kernel.

http://stackoverflow.com/questions/726690/who-killed-my-process-and-why

[2016-12-07 20:29] #6170 closed

[2016-12-07 20:41] #6168 closed

[2016-12-07 20:42] michaelisard commented on #6059
Shall I close the bug or wait for more confirmation?

[2016-12-07 20:42] aurelion314 commented on #5848
Building tensorflow only requires computecpp if you said yes to using OpenCL. For a simple installation, select no to all the additional options.

[2016-12-07 20:45] michaelisard commented on #5850
@sherrym would you reassign to someone who can take a look?

[2016-12-07 20:46] dennybritz opened #6171 "tfprof: Python3 incompatibility"
[This line in tfprof_logger.py](https://github.com/tensorflow/tensorflow/blob/20c3d37ecc9bef0e106002b9d01914efd548e66b/tensorflow/contrib/tfprof/python/tools/tfprof/tfprof_logger.py#L127) uses `dict.iteritems()`, which breaks my Python 3 code.

[2016-12-07 20:46] michaelisard commented on #5862
@josh11b can you comment or reassign?

[2016-12-07 20:48] yaroslavvb commented on #6116
I wonder if there's extra ineffiency in that benchmark in that repeated fields are used (`Tensor::AsProtoField`) rather than tensor_data (`Tensor::AsProtoTensorContent`), I see 11% of the time being spent in ` RepeatedField::Reserve`

[2016-12-07 20:48] michaelisard commented on #5907
@gowithqi does avoiding the Python transfer as @yaroslavvb suggested address your problem?

[2016-12-07 20:49] rmlarsen commented on #5231
Got sidetracked (and asked to implement this as 'tensordot' instead) so still working on it. Getting close, though...

[2016-12-07 20:50] michaelisard commented on #5914
@martinwicke could you reassign to someone who might provide documentation?

[2016-12-07 20:50] MMars9 commented on #5118
@Invisibility : does the addition of the sentence line above solve the issue OP experienced? I'm in the same boat, and not sure if additional work is needed. If there's a version with all the working files, I'd be grateful if someone could point me in the right direction.

[2016-12-07 20:51] ashern commented on #6059
@michaelisard I am currently re-running tests with libraries built from head. Can we leave this open please through tomorrow?

[2016-12-07 20:51] yaroslavvb commented on #6171
Seems like that should be `six.iteritems(dict)`

On Wed, Dec 7, 2016 at 12:46 PM, Denny Britz <notifications@github.com>
wrote:

[2016-12-07 20:55] michaelisard commented on #6059
Sure!

[2016-12-07 21:02] vrv commented on #6143
Well, nobody's job is to write ops for every feature request we get, we prioritize our work based on importance.  I'll mark this as contributions welcome in case somebody in the public wants to implement this, but perhaps somebody internally will find this important and do the work.

[2016-12-07 21:23] martinwicke commented on #6146
In principle, there's no problem in registering a kernel only for GPU. Kepler (CC 3.0, I think) is the minimum for TF anyway, so no problem there either. We may even be able to dispatch to the kernel from contrib.layers.layer_norm, but that may be a bit of a hack. More probably, it'll be a separate op that you can call instead of the layer.

I think you should try merging this into contrib, please

[2016-12-07 21:25] martinwicke commented on #6146
I changed the tags, please reference this issue from your PR.

[2016-12-07 21:33] martinwicke commented on #6158
Yifei, I think this is a new license? Maybe a missing dependency?

[2016-12-07 21:34] martinwicke commented on #5914
Can you please ask this question on tensorflow/serving?

[2016-12-07 21:34] #5914 closed

[2016-12-07 21:58] lukaszkaiser commented on #6007
I see, but your use case is very specific and very strange. I think what you want deep down might be an object-oriented layer API like in Keras, and it is being done in tf.layers and will be part of contrib. In its technical aspect it relies on storing the scope as part of an object, as discussed above. In all cases, I think we can close this issue.

[2016-12-07 21:58] #6007 closed

[2016-12-07 21:59] nubbel commented on #6110
@ericyue Could you find a solution?

[2016-12-07 22:00] lukaszkaiser commented on #6010
I do not see any compelling use case for this. As we're trying to migrate the public API away from name_scope and towards variable_scope, I'd be against adding it without a compelling need.

[2016-12-07 22:00] #6010 closed

[2016-12-07 22:06] yifeif commented on #6158
I see the issue for when OpenCL support is enabled, will send a PR.

[2016-12-07 22:21] yaroslavvb commented on #5850
@xuancong84  btw, it could help troubleshooting if you dumped memory
timeline and checked which op is responsible for this extra 1GB allocation,
using timeline as here:
https://github.com/tensorflow/tensorflow/issues/6019#issuecomment-264544202

On Wed, Dec 7, 2016 at 12:45 PM, Michael Isard <notifications@github.com>
wrote:

[2016-12-07 22:23] GregBowyer commented on #5349
Can I see your build file, I am struggling with libcurl myself

[2016-12-07 22:44] benoitsteiner commented on #6158
I think I fixed it in my last set of OpenCL enhancements (https://github.com/tensorflow/tensorflow/pull/6161)

[2016-12-07 22:45] windancer055 commented on #6144
If the graphdef only contains the nodes, 85k makes more sense to me actually ... I was referring to something like this: https://github.com/pavelgonchar/vgg-face-tensorflow/blob/master/vggface16.tfmodel, which is way larger. I think this might be a frozen model in which all variables are converted into constants (and so it falls into the "graph-inlined constants" problem that you mentioned?

[2016-12-07 22:48] yifeif commented on #6158
I see. Looks good. Let me close my PR.

[2016-12-07 23:00] yaroslavvb commented on #6144
Ah, yes, it seems that [tf_run.py](https://github.com/pavelgonchar/face-transfer-tensorflow/blob/master/tf_run.py) in that example is loading 500MB graphdef, so weights are inlined, maybe using script like [freeze_graph.py](https://github.com/tensorflow/tensorflow/blob/5a5a25ea3ebef623e07fb9a46419a9df377a37a5/tensorflow/python/tools/freeze_graph.py). In such case I'm not aware of any solution -- I

[2016-12-07 23:01] beniroquai commented on #6166
May I still ask question regarding this topic eventhough it's closed?
For what ever reason, I can not build the solution above. It gives the following error:
[code]

However building the Android App using

`bazel build //tensorflow/examples/android:tensorflow_demo`

worked out quiet well I guess.

[2016-12-07 23:07] michaelisard commented on #6166
It looks as if the target name has changed to //tensorflow/contrib/android:libtensorflow_inference.so @andrewharp can you confim (and update the comment above the target if so)?

[2016-12-07 23:18] andrewharp commented on #6166
@michaelisard @beniroquai Correct, the comment didn't get updated when the target did. Thanks for catching that, fix sent.

[2016-12-07 23:43] ppwwyyxx commented on #6142
You can use `tf.train.NewCheckpointReader('./my-model')` instead.
With V2 saver format, the reader is not expecting a file name, but only the prefix, (which I don't like).
The `./` is necessary because of a bug #4921.

[2016-12-08 00:07] Carmezim commented on #5942
I am closing this as I think it won't be relevant with the 0.12 release info available. I thought about adding pip instructions to cmake doc at the day after it came out submitting #6002 but isn't necessary.

[2016-12-08 00:07] #5942 closed

[2016-12-08 00:31] Invisibility commented on #5118
Yes, it works for me.

[2016-12-08 00:32] MostafaGazar opened #6174 "DBPEDIA_URL is not a valid download url anymore"
DBPEDIA_URL in [text_datasets.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/datasets/text_datasets.py) is not a valid url anymore because web hosting in Google Drive has been deprecated, https://gsuite-developers.googleblog.com/2015/08/deprecating-web-hosting-support-in.html

Proposed fix:
- Move [dbpedia_csv.tar.gz](https://drive.google.com/drive/f

[2016-12-08 00:49] zym1010 commented on #2291
@i3v Thanks for feedback! My methods still works for 0.11, but I'm not sure of 0.12, as the latest stable Bazel (which somehow I assumed is needed to compile TF 0.12) won't compile on CentOS.

[2016-12-08 00:57] mrry commented on #5863
Closing this due to lack of response. I doubt we'll implement this in the current input pipeline scheme, which is currently being redesigned, but it would be great if you could still share your use case so that we can take it into account.

[2016-12-08 00:57] #5863 closed

[2016-12-08 01:05] LiangKlausQiu opened #6175 "What is All_op in tf.nn.dynamic_rnn?"
Hi, I am doing an android demo for RNN. I built a two-layer GRU network for inference. I used the API tf.nn.dynamic_rnn. However, when using this API, the saved generated .pb file contains an op called "All". And after I moved my .pb file to assets directory and run my android app demo, it said the op "All" is not registered. I know I can register an op in /core/kernels/BUILD file. However, I didn

[2016-12-08 01:18] LiangKlausQiu commented on #6175
The android app reports "No OpKernel was registered to support Op 'All' with these attrs."

[2016-12-08 01:58] ericyue commented on #6164
@michaelisard  how to skip the corrupted record ?

[2016-12-08 02:08] llhe commented on #6116
@yaroslavvb Do you mean the serialization in sending side? I haven't identified that issue. I use float32 with size 100MB, and looks like it goes in to [this branch](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/distributed_runtime/rpc/grpc_tensor_coding.cc#L220) as expected. And in the receiving side, it also goes to [this branch](https://github.com/tensorflow/tensorflow/bl

[2016-12-08 02:09] traw1234 commented on #851
Continually get this when running `./compile.sh` for Bazel:
`Building Bazel from scratch`
`gPRC Java plugin not found in`

Not really sure what to do with this.

[2016-12-08 02:23] Viscoo opened #6177 "[Compression]Compression issues of File isn't open for reading with r0.12"
I have met a problem with the model of  Compression again.

[https://github.com/tensorflow/models/tree/master/compression](url)
I use the OS of Ubuntu 14.04 LTS and the version of Tensorflow is r0.12

The error print as:
Traceback (most recent call last):
  File "encoder.py", line 103, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", l

[2016-12-08 02:51] universewill opened #6179 "How to localize the position of object by using tensorflow"
The ILSVRC competition held by imagenet includes Object localization and Object detection and other tasks.

How did the convolutional neural network solve the localization problem?
I can only find tutorials on classification task.

I think it is proper to add an example of localization in tensorflow tutorial.

[2016-12-08 03:09] wookaka opened #6180 "How to create a 5D tensor as the input of a 3DCNN"
I try to create a 4D tensor as input of a 2DCNN. I am confused about how to create a 5DCNN .Is the 4D tensor as one of dimension of a 5D tensor? Is there someone who know the detials ?

[2016-12-08 03:12] gaoyuze commented on #6158
Thank you, all lovely guys, the installation is OK now, //smile

But  When I finished installation and test it, it occurs an error saying Device mapping : no known device

it works out like below:

`
INFO: Starting clean (this may take a while). Consider using --expunge_async if the clean takes more than several minutes.
......
INFO: All external dependencies fetched successfully.
Configuration fi

[2016-12-08 03:14] Viscoo commented on #6177
Find the solution at [https://github.com/tensorflow/models/issues/500](url)

[2016-12-08 03:48] alex-birch opened #6181 "Quantization code in different path to where specified in Help Documentation"
Following the documentation here to Quantize - https://www.tensorflow.org/versions/r0.12/how_tos/quantization/index.html

seems to be wrong.

I had to change
`bazel build tensorflow/contrib/quantization/tools:quantize_graph
bazel-bin/tensorflow/contrib/quantization/tools/quantize_graph \
--input=/tmp/classify_image_graph_def.pb \
--output_node_names="softmax" --output=/tmp/quantized_graph.pb \
--m

[2016-12-08 03:54] llhe commented on #5349
@GregBowyer Here is an example that I use to build another 3rd party poco library which is also `configure-make-make install` pattern, hope this can help:
[code]

[2016-12-08 04:50] amansehgal0u2 opened #6182 "SummaryWriter.add_summary() gives error AttributeError: 'FileWriter' object has no attribute 'add_sumary'"
I literally copied and pasted an example from the tensor board training site and it doesn't run.

summary, _ = sess.run([merged, train_step], feed_dict=feed_dict(True)) train_writer.add_summary(summary, i)

Both these lines give an error.
apparently sess.run returns a None type.

[2016-12-08 04:52] amansehgal0u2 commented on #6182
I literally copied and pasted an example from the tensor board training site and it doesn't run.

`    summary, _ = sess.run([merged, train_step], feed_dict=feed_dict(True))
    train_writer.add_summary(summary, i)`

Both these lines give an error.
 apparently sess.run returns a None type.

[2016-12-08 06:49] KK78 opened #6184 "wide_n_deep Tutorial example not working"
Windows 10 - 0.12.0-rc0

Encountered error "AttributeError: 'NoneType' object has no attribute 'bucketize'" when running the example without any modification.

Full working and error log as follows:

WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01

[2016-12-08 07:42] gunan commented on #6158
1- In your logs, I do not see you installing the pip package you just built using `pip install`
2- You also enabled "OpenCL" we have not tested the configuration where both opencl and cuda are enabled. It is quite possible they are interacting in an unexpected way.
3- Also, what is the reason for not using the GPU pip packages we provide?

Also, I think the tail of your log is missing, it might co

[2016-12-08 07:45] gunan commented on #5642
You have to use `nvidia-docker`  instead of `docker` when starting the container.
Otherwise the GPU will not be accessible.

[2016-12-08 07:46] gunan commented on #5626
Is this issue resolved?
Any objections to closing it?

[2016-12-08 07:47] gunan commented on #6096
cdimage.debian.org was down, and as @mrry suggested it is resolved with #6098
Sorry for the inconvenience.

[2016-12-08 07:47] #6096 closed

[2016-12-08 07:51] gunan commented on #5349
Would adding libcurl dependency work in windows?
Or does windows make things infeasible here?

[2016-12-08 07:52] #5447 closed

[2016-12-08 07:55] gunan commented on #5642
Closing the issue as there has not been an update for a long time, and using nvidia-docker should solve the problem.

[2016-12-08 07:55] #5642 closed

[2016-12-08 08:10] jart commented on #5349
I strongly recommend against running configure, make, and make install inside a genrule.

[2016-12-08 08:43] gaoyuze commented on #6158
@gunan  Hi~ dear gunan, thank you very much, I didn't know the pip packages you provide, it is quite easy to setup. And now, my tensorflow with GPU is running.  //Applause

[2016-12-08 08:43] #6158 closed

[2016-12-08 09:00] Trickery94 opened #6186 "tf.split_v results in unknown shape size"
### Environment info
Operating System:
Linux Mint 17.3 3.19.0-32-generic
Tensorflow Version 0.12.0-rc0 (https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-0.12.0rc0-cp34-cp34m-linux_x86_64.whl)

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)
`
tf.split_v(tf.placeholder(tf.float32, shape=[10, 32, 32, 3]), [

[2016-12-08 09:00] llhe commented on #5349
@gunan @jart I'm not suggesting to push this into trunk, but provides a quick hacking solution for whom has this problem now. Of course, comment out the gcs rule is much more easier.

We use this approach internally because the library we need to integrate is **really nasty** to convert to normal Bazel rule and we don't want to invest too much time on this because we don't use bazel except tensorf

[2016-12-08 09:05] gunan commented on #5978
graph_metrics.py is being fixed by #5917

[2016-12-08 09:05] #5978 closed

[2016-12-08 09:17] #5917 closed

[2016-12-08 09:37] YannanLiu commented on #4697
@kinni, I import reader, but it says no module named reader

[2016-12-08 09:40] puneet336 commented on #5447
Hi,
My apologies for delayed reply. 7.0.4 was indeed a typo.
in cudnn.h
#define CUDNN_MAJOR      4
#define CUDNN_MINOR      0
#define CUDNN_PATCHLEVEL 7
so CUDNN_MAJOR .  CUDNN_MINOR . CUDNN_PATCHLEVEL-> 4.0.7 (  7.0.4 )

[2016-12-08 10:05] llhe commented on #6164
@ericyue  Is pb_path an HDFS path?
By the way, you can use [MapReduce or Spark](https://github.com/tensorflow/ecosystem/tree/master/hadoop) to make the conversion directly.

[2016-12-08 10:15] LoZio commented on #6163
Same problem here on Chrome 55 on Win 10. Page runs fine on Edge.

[2016-12-08 10:19] meereeum opened #6188 "NotFoundError: ..._cudnn_rnn_ops.so [0.12.0]"
no luck with new build so far (running linux-64, conda 4.2.13, Python3.5)

`conda install -c jjhelmus tensorflow=0.12.0rc0 `

trying to run a script I get:
[code]

[2016-12-08 10:27] Mojusko commented on #6153
@yaroslavvb, No I have a rather sophisticated validation stopping but in essence it boils down to iteration. So it is not the time I am concerned with it is really the computation. Could it be that there are different floating point standards leading to this, or the Adam optimizer behaves differently on GPU than on CPU. As I said raising the learning rate by 10 led to the same behavior.

[2016-12-08 10:36] llhe commented on #6153
@Mojusko Could it caused by random initialization for the variables?

[2016-12-08 10:45] nasimrahaman opened #6189 "Inconsistent behavior for tf.variable_scope"
#### Problem:
Tensorflow doesn't place ops (e.g. `mul`) in pre-existing variable scopes (and automatically creates a new scope instead).

#### Minimal Reproducible Example
[code]

However,
[code]

Observe that for the latter, the op `w` is placed in a different variable scope, auto-named `layer123_1`.

I've tried the following, to the same effect:

[code]

[code]

#### VersionSpec
Tensorflow versi

[2016-12-08 10:45] Mojusko commented on #6153
No, the same numpy seed leeds to the same behavior, and if even this is not the relevant seed, it is too consistent to be caused by random fluctuations.

[2016-12-08 11:38] AnishShah commented on #6171
Can I work on this? or anyone is working on this internally already?

[2016-12-08 11:51] fjanoos commented on #5626
no. but please close it anyway. thanks

On Dec 8, 2016 08:47, "gunan" <notifications@github.com> wrote:

[2016-12-08 11:58] gunan commented on #5447
Problem might be the cudnn version.
We upgraded all our test machines to use cuda 8.0 and cudnn 5.0 and 5.1.
Anything older we are not testing anymore.

[2016-12-08 12:12] kho commented on #4427
@Monnoroch Another problem with AttentionCellWrapper is that the conv2d operation, which in the cited paper can be precomputed because the hidden states (input context) remain unchanged throughout the recurrent steps, is now repeated each time, where (1-1/attn_length) of the computation is not necessary.

[2016-12-08 13:06] zakizhou commented on #175
@yaroslavvb thanks Bulatov, It did work for high dimentional tensors inner product!

[2016-12-08 13:06] erezsh commented on #5143
I have the same issue with a fresh clone from today (commit=821d3da7b4bffc199553d3adc46b706fb7794f91)

[2016-12-08 13:12] ericyue commented on #6164
thanks, @llhe   The pb_path is a local-system path. I am converting the csv to tfrecord in hadoop-streaming reduce process, and "dfs -put" the pb_path file to hdfs , then I get the files downloaded to someplace.
I'll try your link in temporary , also wish to solve this ploblem :)

[2016-12-08 13:18] fab-jul opened #6190 "Hanging when Matching Filenames in 0.12"
I have a network which uses `tf.train.shuffle_batch` with a `tf.train.string_input_produces`. The network worked in 0.11, but hangs in 0.12.

Disclaimer: I don't have access to 0.11 anymore and I changed some other stuff, but I'm fairly sure that the important bit is still the same.

Hanging means: I don't get further than the "Creating TensorFlow device" message.

The reason I'm thinking it's due

[2016-12-08 13:59] #6190 closed

[2016-12-08 14:23] llhe commented on #6164
"corrupted record at XXX" means crc checksum failed. Could you make the repro just using the python scripts without hadoop-streaming?

[2016-12-08 14:42] igordertigor opened #6191 "Tensorflow pypi packages not found from TravisCI"
I am experiencing trouble installing tensorflow from TravisCI. As tensorflow 0.12.0rc0 is on pypi a simple

    pip install tensorflow

should install tensorflow (CPU). Yet, although this works locally, it does not work on Travis with the following error:

    Could not find any downloads that satisfy the requirement tensorflow==0.12.0rc0 (from -r requirements.txt (line 1))
      No distributions

[2016-12-08 15:23] GregBowyer commented on #5349
yeah I am not running make in my BUILD

[2016-12-08 15:27] DomenicD commented on #1702
So now I get this error when I try and print some gradients:
ValueError: Shapes must be equal rank, but are 3 and 2
	From merging shape 10 with other shapes. for 'Print/packed' (op: 'Pack') with input shapes: [2,1,2], [2,2], [2,1,2], [2,2], [2,2,2], [2,2], [2,2,2], [2,2], [2,2,1], [2,1], [2,2,1], [2,1].

[2016-12-08 15:38] codeloverr opened #6192 "tensorflow android camera demo: replacing inception5h with incetoption-resnetV2"
I am trying to replace the provided inception5h with latest inception-resnetV2. I have downloaded the inception-resnet-V2 by entring
 `wget http://download.tensorflow.org/models/inception_resnet_v2_2016_08_30.tar.gz -O /tmp/inception_resnet_v2_2016_08_30.tar.gz`

And unzip it in

`unzip /tmp/inception_resnet_v2_2016_08_30.tar.gz -d tensorflow/examples/android/assets/`

After unzip I only found **i

[2016-12-08 16:15] ashern commented on #6059
@michaelisard I can confirm that this seems to work fine w/ head. Thank you!

[2016-12-08 16:31] beniroquai commented on #6166
Thank you very much for your reply. I tested the code above and got the following error (Mac and Linux UBuntu 16.04 - all dependencies should have been met):

[code]
The Demo-App was built sucessully it says, but

[code]
didn't work. I'm using TF 0.12.

[2016-12-08 16:34] ashern commented on #6132
A quick bump on this - am I making fundamentally incorrect assumptions on how this should work?

I'm not eager to replicate the Estimator's functionality, which is great overall, but it's important for me to get my models working in TF w/ multiple GPUs. I'd be happy to help w/ a PR if some work is needed to get this functioning.

I had also posted on SO [here](http://stackoverflow.com/questions/41

[2016-12-08 16:39] cle-ros opened #6193 "gradients for assign/tf.scatter_update, etc"
Hello,

I was wondering whether there is a specific reason for tf.assign not having gradients.

I think that it would make sense that tf.assign, i.e. a call of the form `variable.assign(value)` "inherits" the gradients from value, such that `grad(variable) = grad(value)`, after the assignment.

This would be especially useful within the context of the scatter-update functions, since those are one

[2016-12-08 16:56] TimZaman commented on #4535
@suharshs Any updates on this? Cheers.

[2016-12-08 17:10] michaelisard commented on #6059
Good news. Closing.

[2016-12-08 17:10] #6059 closed

[2016-12-08 17:19] michaelisard commented on #6144
@petewarden can you comment on whether there's a best practice around this for freeze_graph?

[2016-12-08 17:25] michaelisard commented on #6153
@Mojusko I'm sorry, this is frustrating for you. Unfortunately it's hard to guess from this level of detail what the root cause might be. I'm afraid the best next step might be for you to divide and conquer to see where the computations are differing, i.e. fetch tensors from the middle of your model, and locate the first place where the CPU/GPU results start to differ substantially.

One place you

[2016-12-08 17:28] philokey opened #6194 "Can I reshape Tensor in C++ like Caffe's Blob"
Hello,
I want to use tensors of dynamic shapes in C++.
Can I reshape Tensor like Caffe's Blob, which means after reshape, the  total size of new tensor  can be unchanged.

[2016-12-08 17:33] panyx0718 commented on #6171
A change has been submitted. Should be available at next release.

[2016-12-08 17:35] michaelisard commented on #6175
"All" is one of the reduction ops, see [reduction_ops_all.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/reduction_ops_all.cc). I'm not an expert on how to register those for the Android build, but LMK if you can't figure it out and I will look into it.

[2016-12-08 17:37] michaelisard commented on #6177
Is that solution working? Can I close the issue?

[2016-12-08 17:38] michaelisard commented on #6179
This question is better suited to [stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is a usage question not a bug report.

[2016-12-08 17:38] #6179 closed

[2016-12-08 17:39] michaelisard commented on #6180
This question is better suited to [stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow) as it is a usage question not a bug report.

[2016-12-08 17:39] #6180 closed

[2016-12-08 17:41] michaelisard commented on #6181
Thanks! Would you submit a PR with the documentation fix and reference this issue?

[2016-12-08 17:42] panyx0718 commented on #6171
Fixed #6171

[2016-12-08 17:42] #6171 closed

[2016-12-08 17:45] michaelisard commented on #6182
Session.run should return a list of tensors in this case, see the [Session.run documentation](https://www.tensorflow.org/versions/r0.12/api_docs/python/client.html#Session). I recommend posting a more detailed description of the problem you are seeing on [stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow) which is the right venue for usage questions.

[2016-12-08 17:45] #6182 closed

[2016-12-08 17:46] andrewharp commented on #6192
I can't speak to that specific model, but in the general case you have to have the actual GraphDef which defines the model topology (this may be created by a python script somewhere?). Then you can run [freeze_graph.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/freeze_graph.py) on it to combine it with the checkpoint file, which embeds all the trained weights ins