[2016-03-10 05:59] mightyroy commented on #1325
Actually why not just make all variables callable with `tf.get_variable()`? It would be so much more convenient and there wont be any confusion.

[2016-03-10 06:38] myme5261314 commented on #1413
I find my issue and have it fixed. My proxy has a configuration problem. And I fixed it. Now I can clone boringssl locally through git. But failed for boringssl in bazel. It's weird that they said the proxy improve commits had been merged but problem still exists about proxy in HEAD of bazel.

[2016-03-10 06:43] martinwicke commented on #394
It should be fixed. I'll close this for now -- we can reopen if it's still a problem.

[2016-03-10 06:43] #394 closed

[2016-03-10 07:42] lfwin opened #1449 "Need better doc about the difference between name scope and variable scope in tensorflow and What's the context manager?(Soved))"
Hi,
Although stack overflow have a question about this, http://stackoverflow.com/questions/34215746/difference-between-variable-scope-and-name-scope-in-tensorflow. But right now the answers are not so clear and the doc also not tell the difference too, but I believe understanding the difference between name scope and variable scope and context manager is beneficial to programming for newbie using

[2016-03-10 07:44] Duum opened #1450 "GPU sync failed"
[code]

hi!
what's wrong with this, how i can solve this.I'm using cuda7.5 cudnn7.0 and all they are ok running on CPU. but when run GPU ,it occur wrong.
And I can local the operation which can't run on GPU
[code]
when i remvoe "tf.device("/cpu:0"),it ocure the bug reported above

[2016-03-10 10:18] myme5261314 opened #1451 "Is there a way to cache intermediate Tensor result?"
I attempt to implement naive RBM/DBN through tensorflow's python API.
The functionality is easy to implement if you don't care about computational performance.

For now, I've tried many alternatives solutions and find it difficult to implement with high performance since there's no way to cache the intermediate tensor result.

While lacking of the ability to cache the intermediate result, there wi

[2016-03-10 10:41] Orange15 opened #1452 "install error"
when i am installing from sources, there is an error like this:

ERROR: tensorflow/tensorflow/core/BUILD:98:1: //tensorflow/core:worker_service_proto_cc: no such attribute 'use_grpc_plugin' in 'cc_library' rule.
ERROR: tensorflow/tensorflow/core/BUILD:121:1: //tensorflow/core:master_service_proto_cc: no such attribute 'use_grpc_plugin' in 'cc_library' rule.
ERROR: tensorflow/tensorflow/cc/BUILD:61

[2016-03-10 11:10] rdipietro commented on #1070
+1 :)

[2016-03-10 11:16] phvu opened #1453 "Multidimensional RNN"
Hi all,

This is a feature request for [Multidimensional LSTM](http://people.idsia.ch/~juergen/nips2009.pdf). Is there any plan to support this in tensorflow?

I might be able to help with implementation if there is such a plan.

Cheers,

[2016-03-10 12:27] bernardopires opened #1454 "Python multiple inequalities do not work as expected"
[code]
Output:

It seems like `multiple_inequality = lower_bound <= test < upper_bound` becomes `multiple_inequality = test < upper_bound`

[2016-03-10 15:21] Ingwar commented on #1452
I also got the similar error with fresh master:
[code]

I am using following command to build TensorFlow:
[code]
Bazel version is 0.2.0

[2016-03-10 16:20] jameswex commented on #1287
dsmilkov is out for the rest of the week but I will be investigating this today

[2016-03-10 16:50] jameswex commented on #1287
From what I see locally, it seems like this was fixed in Tensorboard in commit [3212eb3](https://github.com/tensorflow/tensorflow/commit/3212eb3c874452ea928e23246e524b147f31cd15#diff-ec1b56f78fd3bd9bf0a48af0a61dd71f). Basically, the graphdef contains huge embedded constant tensors, making the graphdef size too large for the client to handle when it is based from Tensorboard server to the client br

[2016-03-10 17:19] aymericdamien commented on #1450
It might be because GTX970 has some memory issues if you are allocating more than 3.5Gb (see http://wccftech.com/nvidia-geforce-gtx-970-memory-issue-fully-explained/), you can try to allocate less than 3.5gb memory and check if it corrects the issue:
[code]

[2016-03-10 17:21] girving commented on #1452
@mrry: Have you seen this before?

[2016-03-10 17:23] girving commented on #1454
Unfortunately numpy as the same issue and for the same reason: our comparison operators return tensors of comparisons rather than single comparisons, and such tensors can't be combined with Python's `and` routine.

[2016-03-10 17:25] girving commented on #1453
@ebrevdo: Want to comment on this?  Fancier variants of LSTMs would be great to have, the only question is whether they should go in core tensorflow, the contrib directory, or the models repo.  If you can make the interface similar to Eugene's existing RNN cell setup contrib might be the best place at first.

[2016-03-10 17:27] girving commented on #1451
Yes, it's called `partial_run`: see #672.  It's experimental at this stage so the API might fluctuate, but it should be what you're looking for.

[2016-03-10 17:28] girving commented on #1451
Closing as duplicate.

[2016-03-10 17:28] #1451 closed

[2016-03-10 17:30] girving commented on #1448
The permission denied bit might mean that the permissions for that file are weird.

[2016-03-10 17:31] girving commented on #672
@georgedahl: Who's working on partial_run so that I can assign this to them?  Do you know if it's time to close?

[2016-03-10 17:33] mrry commented on #1454
Is there a particular library or language on which you're basing your expectation (other than mathematics, where obviously the expression is well defined :)...)?

Generally speaking, we've been trying to maintain consistency between the TensorFlow Python API and NumPy. If I try to compute `multiple_inequality` using NumPy, I get the following:

[code]

My intuition would be that this expression wo

[2016-03-10 17:35] mrry commented on #1452
Urgh, this sounds like `protobuf.bzl` might have changed... did we recently move to a newer version of protobuf? @keveman knows the mystic runes that make it work with gRPC.

[2016-03-10 17:36] girving commented on #1454
@mrry: Thank you for the more detailed explanation of my admittedly terse reply. :)  Good idea to produce a reasonable error!

[2016-03-10 17:48] vrv commented on #1450
Yikes.  Good to know @aymericdamien, thanks!

[2016-03-10 17:49] bernardopires commented on #1454
Thanks for the fast reply guys. I'm not familiar with numpy so I didn't know they also had this limitation. I do think throwing an error preventing this comparison is a good idea, as I was surprised with the results.

[2016-03-10 17:50] vrv commented on #1452
I would also suggest maybe refreshing your submodules -- someone more git-competent than I can explain why git fetch/pull doesn't also update your submodules.

[2016-03-10 17:55] ebrevdo commented on #1453
Right now it's possible to implement various types of multidimensional RNNs by feeding in your data as time being one direction (say, x), taking the output of the RNN, transposing it, and feeding it into a second RNN.  etc.  Alternatively feed your data & its transpose into separate RNNs (possibly with tied weights) and depth-concatenate the results.  And maybe feed the result into another RNN.

T

[2016-03-10 17:57] mrry commented on #1454
Hmm, it looks like I may have spoken too soon... raising an error in `__nonzero__()`/`__bool__()` breaks a lot of previously legitimate code where we have:

[code]

...where really it should be:

[code]

We can fix all of the instances in the TensorFlow library, but it might take longer to fix up all of the existing code that relies on the first version working as expected. Let's keep this issue o

[2016-03-10 18:00] vrv commented on #1452
I thought that would be no different than resolving conflicts from the main repo :)

[2016-03-10 18:11] girving commented on #1448
Unfortunately no, it's a guess without knowledge of details.  What happens if you do `ls -ld` on that file and all the directories above it?

[2016-03-10 18:21] bcordo commented on #616
This is also an issue for me.

[2016-03-10 18:23] girving commented on #616
@sherrym: Can you take a look?

[2016-03-10 18:40] vladfi1 commented on #1350
I believe this may be happening to me as well. I am running on a GeForce 770 with only 2GB memory (1.8GB free) and tensorflow claims to allocate 1.6GiB of memory. I'm not sure about the gradients, but when I output my loss I get nan. My model doesn't perform any operations that would produce nan (only additions, subtractions, and multiplications).

[2016-03-10 18:45] WenchenLi commented on #1448
I figured it out thanks to `ls -ld`, my exec_check_disable.h denies access for others.
Just `sudo chmod o=r /usr/local/cuda/include/thrust/detail/config/exec_check_disable.h` and it builds.

Thanks for pointing out girving.

[2016-03-10 18:45] #1448 closed

[2016-03-10 19:00] raingo commented on #1350
The problem occurs only with my model. I tried my best to reproduce using the examples, but everything was fine. @vladfi1 can you figure out a simple example to reproduce?

[2016-03-10 19:10] sarahharun commented on #42
The Linux shell to write python code or jupyter notebook in browser, nothing pops out. I tried to run the the jupyter manually on browser, didn't work. After the commands I'm attaching below, it doesn't do anything. I am using Windows 10.
![capture](https://cloud.githubusercontent.com/assets/15017408/13681112/48dc3a3e-e6c1-11e5-88f3-dd189304f798.PNG)

[2016-03-10 21:06] rdipietro commented on #1426
See https://github.com/bazelbuild/bazel/issues/760. Right now it requires customizing CROSSTOOL, but someone on the bazel team is trying to come up with a fix so that custom gcc envs are recognized and handled automatically.

[2016-03-10 21:07] rdipietro commented on #1426
Also the LD_PRELOAD option isn't so great because it'll mess with other things. For example I use IPython, and using a different glibc leads to a memory leak with quick infinite consumption.

[2016-03-10 22:10] vgatto commented on #1444
@mrry's suggestion works perfectly as a work-around for my large numpy array (I'm responsible for the stackoverflow question as well) and I'm able to use Tensorboard's graph visualization again.

@petewarden - FWIW, I never use the Saver to persist the entire session. I'm always cherrypicking variables so that I can deploy just the model to other machines for inference or train on a different data

[2016-03-10 22:38] stefan-w opened #1458 "CIFAR-10 Model has (almost) pointless ops in distorted_inputs"
While preparing an intro talk I noticed something odd happening in cifar10_input.py.

In the following piece of code:
https://github.com/tensorflow/tensorflow/blob/a641ff6aca15b8e6e5ecf96a7a9188c0c1246c8e/tensorflow/models/image/cifar10/cifar10_input.py#L176

The sequence of ops is: random brightness, which adds a random constant to each pixel, then random contrast, which multiplies the difference

[2016-03-10 22:48] vladfi1 commented on #1350
I read [here](http://stackoverflow.com/questions/34514324/error-using-tensorflow-with-gpu) that Tensorflow always reserves all but 200MB of the GPU's memory, so the memory usage is always going to be very high. I've drastically reduced my model down in size and am still getting the nan outputs (as well as other nonsensical values such as negative norms), so I'm not sure if memory use is the culpri

[2016-03-10 23:02] rdipietro commented on #1443
@damienmg any thoughts?

[2016-03-10 23:33] vladfi1 commented on #1350
I now suspect that the issue has to do with reduce_sum (on gpu). I kept simplifying my original program until I got to something trivial:
[code]
Executing on my gpu machine I get the following output:
[code]
The correct output should be 3.0, not 0.0. It is interesting that If I use a shape-```[1]``` array instead then I get the correct output.

[2016-03-11 00:35] dgolden1 commented on #1333
Try installing zlib.

[code]

[2016-03-11 00:37] jstaker7 commented on #1442
OK, I think I've worked it out. I still need to do a few more tests to be sure, but it looks like it is actually another 3rd-party package I'm using that is behaving differently on the two systems. Closing this issue since the problem is in another package and Tensorflow is working great.

[2016-03-11 00:37] #1442 closed

[2016-03-11 00:39] girving commented on #1442
To satisfy my curiosity: what was the other package?

[2016-03-11 00:54] jstaker7 commented on #1442
An organic chemistry toolkit called Indigo :)
http://lifescience.opensource.epam.com/indigo/

[2016-03-11 01:47] danmane commented on #1421
OK, I've looked into the event file you've provided - it's perfectly fine, which means the issue is in TensorBoard. Specifically, I think TensorBoard is never detecting that the file exists, and so isn't loading anything. However, I can't reproduce this behavior on my Mac or Linux.

Can you please help me explore this issue by doing the following:
1. Let's just verify that the bug still reproduces

[2016-03-11 02:05] thinxer commented on #1446
It is documented here: https://github.com/tensorflow/tensorflow/releases/tag/v0.7.1
The official website is not updated, though.

[2016-03-11 02:34] Duum commented on #1450
it' make no sense.....
when change to this
[code]
it had the same error:
[code]

[2016-03-11 02:37] myme5261314 commented on #1451
@girving I have no idea the C++ code implementation for `paritial_run`, but there seems kind of memory mallloc and release problem.

Here's the code I use with `partial_run` as you suggest:
[code]
This code will give the following error when calculating `h1` in the second iteration.
[code]
When I change `partial_run_setup` to the comment position, it will run out of GPU memory after several tens o

[2016-03-11 03:20] vladfi1 commented on #1350
Tested this and my original model on a different machine (with a 660) and it seems to work just fine...

[2016-03-11 03:32] vrv commented on #1450
Are you building from source, or did you install the pip package?  What's your environment?  E.g., all the information the template had but you removed :).  If you built from source, what command line did you use?

[2016-03-11 03:53] LiberiFatali commented on #1452
I got this kind of error, too

`ERROR: /home/hieunguyen/tensorflow/tensorflow/core/BUILD:98:1: //tensorflow/core:worker_service_proto_cc: no such attribute 'use_grpc_plugin' in 'cc_library' rule.
ERROR: /home/hieunguyen/tensorflow/tensorflow/core/BUILD:121:1: //tensorflow/core:master_service_proto_cc: no such attribute 'use_grpc_plugin' in 'cc_library' rule.
ERROR: /home/hieunguyen/tensorflow/tens

[2016-03-11 04:07] Duum commented on #1450
I build from source, and I build a whl, install it by pip. and i have test ok on

on GPU. but it's not ok work on my code.
my computer is ubuntu15.10 gcc version is 5.2.1 , my cuda is 7.5 ,and so i comment the error of gcc version error in cuda code
my cudnn verison is 7.0
[code]
my command are:
[code]
And i live in china mainland, so I change some code in the WORKSPACE file:
[code]
and i also  ch

[2016-03-11 04:19] zayd opened #1459 "partial_run segfault"
Running partial_run twice results in a segfault. By running twice I mean: setting up placeholder, ops and completing one run through the graph and then trying to do another run.

### Environment info
Operating System: Linux.
Version: 0.7.1
Hash: 028d0b4

### Steps to reproduce
[code]

### What have you tried?
1. Changing execution target to CPU instead of GPU (same problem)
2. Reusing the same han

[2016-03-11 04:23] phvu commented on #1453
Thanks, GridLSTM looks interesting. I will give it a shot. [This](https://github.com/coreylynch/grid-lstm) seems to be a good starting point.

I do have a use-case for this, but it is still in a pilot study. Will be nice to make it into contrib until there are more use-cases.

[2016-03-11 06:03] jmtatsch commented on #851
@benoitsteiner
any suggestions how this could be rewritten in a nvcc compatible manner?

[code]

[2016-03-11 07:38] luling2010 commented on #42
I have the same problem as above, how to fix it?

[2016-03-11 07:44] SeveQ commented on #42
You need to punch a tunnel through the docker VM network for the port Notebook runs on. IIRC this is done by adding `-p 8888:8888` to the `docker run` command.

[2016-03-11 08:03] zplizzi opened #1461 "Typo in How-To?"
I'm reading [this](https://www.tensorflow.org/versions/r0.7/how_tos/adding_an_op/index.html#implement-the-kernel-for-the-op) how-to page, and read the line:

`auto output = output_tensor->template flat<int32>();`

Is the `template flat` a typo, or some feature of C++ that I'm not familiar with?

This line appears a few times in that section of the how-to.

[2016-03-11 08:19] shendiaomo commented on #842
This quarter is nearly over, how about do it in Q2:-)？@danmane

[2016-03-11 08:42] shoc2005 commented on #1442
Hi, I have the same problem with loading trained model on GPU host and loaded on CPU host (both linux Ubuntu 14.04 LTS). There is example:
on GPU - Model accuracy: 0.79
on CPU - Model accuracy: 0.16
The code and model definition is same in Python.
Unfortunately on both machines Indigo package not installed... and model loads on both host without errors.

[2016-03-11 09:56] oliveirabc commented on #1421
I'm also having this problem. I'm on Ubuntu 15.10 and Python 3.4.

WARNING:tensorflow:IOError [Errno 2] No such file or directory: '/usr/local/lib/python3.4/dist-packages/tensorflow/tensorboard/TAG' on path /usr/local/lib/python3.4/dist-packages/tensorflow/tensorboard/TAG
WARNING:tensorflow:Unable to read TensorBoard tag
Starting TensorBoard  on port 6006
(You can navigate to http://0.0.0.0:6006)

[2016-03-11 12:17] brantbzhang opened #1463 "Can I specify other gpu device not first one in notebook?"
Can I specify other gpu device not first one  in notebook?thanks!

[2016-03-11 12:40] rdipietro opened #1464 "Feature request: make TensorBoard side bar resizable?"
There's often a bunch of unused space on the right side of the TensorBoard interface, and if we have long directory names on the left (for example listing parameters during validation), they end up getting wrapped to multiple lines. Right now it's possible to adjust the sidebar width with Chrome's developer tools, but it seems natural for it to be resizable in the first place.

[2016-03-11 13:02] izeye commented on #1192
@ScottHCL I've got the same errors with you. I fixed it by upgrading `gcc` via upgrading Xcode.

See http://izeye.blogspot.kr/2016/03/error-expected-body-of-lambda-expression.html

[2016-03-11 13:08] rdipietro commented on #1463
I run this before creating a `Session`:

[code]

`gpu` is a string. '0' for GPU 0, '0,2' for GPUs 0 and 2, etc.

Note if you do this then TensorFlow's '/gpu:0' will refer to the first in the list, not to the first GPU on the machine.

[2016-03-11 14:18] damienmg commented on #1443
I agree, for now it should probably be part of the ./configure script. With next Bazel realease the new auto-configuration mechanism could replace it.

[2016-03-11 15:39] girving commented on #1442
@shoc2005: As with the other issue, we're going to need more information.  What version of tensorflow are you using?  Can you localize the differences to a particular op?

[2016-03-11 15:50] shoc2005 commented on #1442
@girving: some minutes ago I achieved the same result as in GPU on CPU host - no difference. But now I retraining my model on GPU host with last code modifications. I think this problem may be caused by pyc (python file) files...

[2016-03-11 16:06] raingo commented on #210
I just had this need, and here is mine: https://gist.github.com/raingo/a5808fe356b8da031837

[2016-03-11 16:16] girving commented on #1463
This is a stackoverflow question, not a Github issue.

[2016-03-11 16:16] #1463 closed

[2016-03-11 16:17] girving commented on #1464
@danmane: Want to comment?  I think we'd be happy to accept patches for this.

[2016-03-11 16:21] girving commented on #1461
This is a Stackoverflow question, not a Github issue.  `template` is indeed a feature of C++.

[2016-03-11 16:21] #1461 closed

[2016-03-11 16:21] sesse commented on #1461
More precisely: http://stackoverflow.com/questions/610245/where-and-why-do-i-have-to-put-the-template-and-typename-keywords

[2016-03-11 16:54] girving commented on #1459
Checking with the main partial run person (I'm not sure I know his Github username).

[2016-03-11 16:57] girving commented on #1458
@shlens: Want to comment here?

[2016-03-11 17:11] asp78 commented on #483
I'm working with Ryan on this. We have it working utilizing the Eigen implementation of arg and are currently in the process of writing tests for it. We haven't been able to test it on a GPU enabled device but will likely be able to do that soon as well, should we wait until we do that to submit a pull request? Also, we were curious if we should include the code we created for implementing arctan

[2016-03-11 17:12] yaroslavvb opened #1467 "Allow suppressing log output"
Two recent requests recently to suppress logging on console [1](http://stackoverflow.com/questions/35911252/disable-tensorflow-debugging-information
), [2](http://stackoverflow.com/questions/35869137/avoid-tensorflow-print-on-standard-error)

Since TensorFlow uses Google logging library standard flags should work, ie "export GLOG_logtostderr=0" should turn off logging to console. However that does

[2016-03-11 17:13] girving commented on #483
Yep, let's wait for the GPU enabled device test.  As for the custom arg code, don't include it unless it is used in the final version.

[2016-03-11 17:14] dgolden1 commented on #1287
Thanks for the help, @jameswex. I tried building from source again, this time on Ubuntu 14.04 with the latest master (13ea3ca91ba5aecab6f21acc14b9cb6a9afa8630) using Anaconda Python 3.5.1. Results are the same: no graph is displayed.

I built via:
[code]

I also tried explicitly building tensorboard and running it like:

[code]

with the same result.

[2016-03-11 17:16] vrv commented on #1467
We don't use the google logging library -- our python flags are just a wrapper over argparse, and we have no C++ flags at all.  There's an open issue already covering this, let me find it.

[2016-03-11 17:16] #1467 closed

[2016-03-11 17:17] vrv commented on #1467
Duplicate of #1258

[2016-03-11 17:26] benoitsteiner commented on #1433
That was indeed a mistake on my part. Somehow I didn't checkin the kernel registration part. We should merge pull request #1457 that fixes my oversight.

[2016-03-11 18:09] jameswex commented on #1287
It turns out that just a bazel build will not fully rebuild the tensorboard front-end (just the back-end of tensorboard). If you want to manually rebuilt the tensorboard front-end, its currently a multi-step process.

I believe in addition to the bazel build of tensorboard, you should also run "gulp vulcanize" in the tensorboard directory to rebuild the front-end HTML that communicates with the te

[2016-03-11 19:26] danmane commented on #1464
This is something I'd like to fix, but not super high priority. Patches would, indeed, be welcome.

[2016-03-11 20:45] samjabrahams commented on #445
For what it's worth, I'm attempting to natively compile TensorFlow on a Raspberry Pi 3 running Raspbian. For the most part, I'm using a modified version of [these instructions for building on a Jetson TK1](http://cudamusing.blogspot.com/2015/11/building-tensorflow-for-jetson-tk1.html), with the main changes being that I'm building Bazel 1.4 instead of 1.0, and I'm not building for Cuda.

---

Here

[2016-03-11 20:50] petewarden commented on #445
Thanks for the update! That is helpful to see. I got as far as getting protobuf compiling, but I haven't made it to Bazel or TensorFlow itself yet. I'm hoping to work on that over the next few days.

[2016-03-11 20:58] samjabrahams commented on #445
Should I upload my Pi's Bazel repository/binary/whatever somewhere? It may (or may not) save you some time.

Additionally, I ran the failed `gcc` command as mentioned in the Bazel error:

[code]

And got the following message:

[code]

This is my project for the next few days, so I'll try to post progress here. Let me know if messages are irrelevant- I'll remove those bits so I'm not clogging this

[2016-03-11 21:02] zplizzi commented on #1461
Apologies, I (wrongly) thought I knew more about C++ than I actually do, and assumed this was indeed a typo. Thanks for the link!

[2016-03-11 21:30] #1250 closed

[2016-03-11 21:31] #520 closed

[2016-03-11 21:41] yuanbyu commented on #1459
Just assign it to me.

[2016-03-11 23:06] madisonmay commented on #1399
I believe this can be closed now that PR #1428 has been merged?  I'm surprised this issue wasn't auto-closed on merge.

[2016-03-11 23:09] girving commented on #1399
PR #1428 didn't include something like "Fixes #1399" in the commit message, so it didn't autoclose.

[2016-03-11 23:09] #1399 closed

[2016-03-11 23:28] yuanbyu commented on #1459
I don't seem to be able to reproduce the reported issue.  Here is the code I use:

[code]

Running it produced:

[code]

[2016-03-11 23:33] zayd commented on #1459
Same code results in segfault here:

[code]
Are you running 0.7.1 028d0b4 ? Will try another reinstall from scratch

[2016-03-11 23:41] yuanbyu commented on #1459
I am using HEAD. Could you try HEAD?

[2016-03-11 23:43] zayd commented on #1459
Trying it now

[2016-03-11 23:56] #672 closed

[2016-03-12 00:56] zayd commented on #1459
(ran into bazel issues)
works!
[code]
Seems the bug was fixed somewhere between last release and HEAD.

[2016-03-12 00:58] zayd commented on #1451
From #1459

Seems that there's a bug in the 0.7.1 release - try using HEAD if you're running into partial_run segfaults

[2016-03-12 01:06] girving commented on #1459
Excellent!  Closing.  @yuanbyu: We should probably add a note to `RELEASE.md` saying some bugs were fixed in partial_run.

[2016-03-12 01:06] #1459 closed

[2016-03-12 01:22] yil8 commented on #658
Same problem here, we are using Titan Z which has dual GPU. The python process would not die and any other code that used the GPU driver (including simply running nvidia-smi). export CUDA_VISIBLE_DEVICES=0 solved the probelm

[2016-03-12 01:23] shyamalschandra commented on #597
@martinwicke: DId you read the question or did you just ignore it?
@girving: Why did you close the question without a clear response?

Tensorflow is not written in a pedagogical manner but rather a opaque manner.  This should change with some paper references and a glossary section so people can drill-down on the vocab with sources cited.  I cannot believe that an open-source project would have tw

[2016-03-12 01:28] girving commented on #597
@shyamalschandra: Martin asked you for specifics and you didn't reply, so I closed it due to lack of activity.  We would be happy to add specific references to papers to specific places in the code, but a blanket "Add more documentation" bug is hard to work with.

[2016-03-12 02:12] shyamalschandra commented on #417
@vrv The Udacity course is nonlinear and doesn't have a rich, drill-down vocabulary that is required for pedogogical purposes.  Thus, it doesn't, by itself, suffice for the purposes of providing documentation for Tensorflow.  The theory that is presented is half-baked and too abstract to convert to code from some high-level graphics.

[2016-03-12 02:39] samjabrahams commented on #445
Well, I added a USB drive as swap space (RIP that drive soon), pulled the latest files from yesterday and tried it again, and it looks like I got `tutorials_example_trainer` compiled! Going to try compiling the pip package now.

[2016-03-12 03:08] waterofphysics opened #1468 "Android Camera Demo: Android NDK r11 can't be compiled by bazel after modified the WORKSPACE"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-03-12 04:15] gliese581gg opened #1470 "Error when run optimizer.compute_gradients"
I'm trying to do training with multiple threads

I tried to run optimizer.minimize() in each threads but it didn't work because threads overwrited each other's weight updates. So I'm trying to stack computed gradients in each threads and apply mean or sum of them in another thread.
So I made a code like

w1 = tf.Variable(tf.random_normal([shape], stddev=0.01))
b1 = tf.Variable(tf.constant(0.1, sha

[2016-03-12 04:16] islamoc opened #1471 "Android Demo Building Issue"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-03-12 05:03] yvirin commented on #25
I think current guide does not work for gpu's - the test returns nan's as reported before.

[2016-03-12 05:05] vnkmr7620 opened #1473 "Tensorflow GPU version support with skflow"
![error](https://cloud.githubusercontent.com/assets/10511526/13720964/02b25a4c-e83e-11e5-9a03-f4250d7c8ab2.png)
![version](https://cloud.githubusercontent.com/assets/10511526/13720966/0807d9b8-e83e-11e5-83c8-26699934e698.png)

I have been trying to execute text_classification.py example of skflow but it is generating an error. Please see the attached document for an error as well as the version of

[2016-03-12 05:23] vrv commented on #1473
Try updating your version of TensorFlow: 0.5 was the original release and there have been a ton of bug fixes and improvements since then.

[2016-03-12 06:52] samjabrahams commented on #445
I believe I've got it working. I removed the swap drive after installing and am able to run the base MNIST tutorial scripts from tensorflow/examples/tutorials/mnist. I can also play with the TensorFlow package in a Python REPL, and a loose look at `htop` indicates that it's using system resources pretty well.

I've got the process documented decently. I'm going to clean the instructions, test them

[2016-03-12 08:51] vnkmr7620 commented on #1473
how to update gpu version of tensorflow

[2016-03-12 09:36] bhack commented on #22
This will have an impact on the strategy: http://lists.llvm.org/pipermail/llvm-dev/2016-March/096576.html?

[2016-03-12 10:09] andyyuan78 opened #1474 "python3.4 doesn't works well?"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-03-12 10:56] lfwin commented on #1449
https://gist.github.com/alexgorban/fa5755c7f7fa49b47961, This may be helpful for anyone confused by these functions.

[2016-03-12 13:03] johcarvajal commented on #1397
I believe it has to be addressed at kernel level

[2016-03-12 13:17] maltyxx commented on #37
+1

[2016-03-12 15:07] #1433 closed

[2016-03-12 18:49] artgillespie opened #1475 "Udacity Example 1_notmnist failing to download"
### Environment info
Operating System: Mac OS X

### Steps to reproduce
1. `virtualenv venv`
2. `source venv/bin/activate`
3. `pip install ipython`
4. `pip install --upgrade https://storage.googleapis.com/tensorflow/mac/tensorflow-0.7.1-cp27-none-any.whl`
5. `git clone https://github.com/tensorflow/tensorflow.git`
6. `cd tensorflow/tensorflow/examples/udacity`
7. `ipython notebook`
8. In the brows

[2016-03-12 19:09] Muaazbinsaeed commented on #1471
Does it not work on Ubuntu 15.10 ?

[2016-03-12 19:12] Muaazbinsaeed commented on #1446
Why cuda version is hard-coded?

[2016-03-12 19:17] islamoc commented on #1471
No idea I could not build it on Ubuntu 14.04 I did not test it on 15.10
I think it is dependencies problem

[2016-03-12 19:29] vrv commented on #1473
Try reading through: https://www.tensorflow.org/versions/r0.7/get_started/os_setup.html#download-and-setup

[2016-03-12 19:34] mznyc opened #1477 "CUDA_ERROR_MISALIGNED_ADDRESS running CIFAR10 on CUDA7.5 with cuDNN v3, built from source"
### Environment info
Operating System: Ubuntu 14.04.4 LTS, NVIDIA GeForce 840M

Installed from sources,  commit hash:
30b52579f6d66071ac7cdc7179e2c4aae3c9cb88

### Steps to reproduce
1. run python  cifar10_train.py
2. program errorr out after a while
3.

### What have you tried?
1. restart machine and rerun several times. The same issue.

### Logs or other output that would be helpful
(If logs are

[2016-03-12 19:39] vrv commented on #1477
Did you install from sources?  If so, which commit hash?

[2016-03-12 19:45] mznyc commented on #1060
Reported similar issue https://github.com/tensorflow/tensorflow/issues/1477
Actually config is for cuda 5.0 when running ./configure    But used cuda7.5 and cuDNN v3 as source to build from.  Is this an issue?

[2016-03-12 20:15] mznyc commented on #1477
Installed from source.  commit hash
30b52579f6d66071ac7cdc7179e2c4aae3c9cb88

[2016-03-12 20:17] hit-suit commented on #1439
Hi @girving , when I run this code, the result shows that it just need 0.0273 second in the first epoch while 0.1528 second in the 200th epoch, and I don't know what is wrong with my code
`import tensorflow as tf
import numpy as np
import time

delta = np.random.uniform(size=(500, 500))
weight = tf.Variable(tf.truncated_normal([500, 500]))

x = tf.placeholder('float')
sess = tf.Session()
sess.run(

[2016-03-12 20:17] yaroslavvb commented on #1475
I don't understand, http://yaroslavvb.com/upload/notMNIST/notMNIST_large.tar.gz is there, where does "403 Forbidden" error come from?

[2016-03-12 20:21] artgillespie commented on #1475
It's what's downloaded in cell 2 here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/udacity/1_notmnist.ipynb

[2016-03-12 20:28] vrv commented on #1477
I recently made a change to the gpu allocator, so I might have introduced a bug.  Can you sync to
f916ae47698c19c0fb3116e471abc39e9b788279 and try again?  I'd like to rule out that recent change from last night.

[2016-03-12 21:19] yaroslavvb commented on #1475
Thanks for the report, looks like my ISP is finicky about User-Agent strings, rehosting it on Google Cloud, should get upstreamed soon

[2016-03-12 21:21] vrv commented on #1477
FYI I just built from HEAD, built with 7.5/cudnnr4, and have so far run cifar10_train.py with no problems for 10000 steps -- I'll keep running it for a while to see if I can reproduce it.

[2016-03-12 21:58] anj1 commented on #42
To add further clarification, the jupyter notebook will be at the DOCKER_HOST address. For me this is 192.168.99.101. Opening a browser on the host and loading http://192.168.99.101:8888 gives a jupyter session.

[2016-03-12 22:51] SeveQ commented on #42
@anj1 Exactly. Thanks. You still need the tunnel, though. Since Docker usually needs to have the same operating system on the Docker host system as it's in the Docker container (well, parts that is) you need a Linux VM to run a Docker container that is based on Linux under Windows. Docker itself opens port 8888 between the VM and the container. You have to explicitly tell it to forward the port fr

[2016-03-12 23:45] ibab commented on #813
I've needed `cumsum` and `cumprod` ops today and wrote the following based on @leconteur's code above:
[code]
This seems to give me relatively decent speed:
[code]

It would still be nice to have dedicated (and parallel?) ops for this, though.
Maybe @benoitsteiner can comment on whether adding an `accumulate` implementation to Eigen would make sense. I might have time to contribute that.

[2016-03-12 23:53] andrewharp commented on #1471
You may need to run <sdk_path>/tools/android and ensure that you have the 23.0.1 Android build tools installed. Alternatively, if you already have a version >= 21, you can try changing the setting in WORKSPACE and point to that.

[2016-03-13 00:35] ebrevdo commented on #1443
+1 if we can configure via bazelrc.  Alternatively it would be great if we could set up a symlink or something similar to the way we do python

[2016-03-13 00:42] lbollar commented on #1421
Experiencing the same problems, setup:
Ubuntu 14.04.4
Tensorflow version 0.7.1

I believe my events file is okay, made sure to flush(), running in chrome, tried uinstalling tf and reinstalling, messed with aliases and stuff in the path to events directory. Tried all these things but getting same errors and lack of anything in tensorboard.

If there is anything I can do to help you guys figure it o

[2016-03-13 00:53] girving commented on #547
Hmm, tried briefly to do this, but hit the lack of `atomicAdd` on GPU for double.

[2016-03-13 01:19] mznyc commented on #1477
Thanks for the quick response!  After I switched my cuddn from V3 to V4, this problem disappeared.

[2016-03-13 01:27] vrv commented on #1477
Interesting -- we should support r3 just fine (assuming you installed it from sources and said cudnn r3 during ./configure).  Thanks for the report, hopefully this is useful for others that run into this.

[2016-03-13 01:27] #1477 closed

[2016-03-13 01:56] liuyifly06 commented on #1421
Previously, I used **pip to install TensorFlow**. The TensorBoard shows nothing.
Today I try to **build from the source**. Then TensorBoard did works!

I am trying to pip install on another Linux machine to make sure that "pip install" can reproduce the problem.

I will let you know if I can reproduce that problem with pip installation.

[2016-03-13 02:04] isalirezag commented on #523
[code]

should fix it

[2016-03-13 02:05] mznyc commented on #1477
I was able to train to the following steps. But then my computer it seems the progress just stopped there.
Not sure if this is related problem.

2016-03-12 20:53:11.140474: step 12650, loss = 0.92 (352.5 examples/sec; 0.363 sec/batch)
2016-03-12 20:53:14.753551: step 12660, loss = 0.77 (368.4 examples/sec; 0.347 sec/batch)
2016-03-12 20:53:18.339782: step 12670, loss = 0.79 (344.2 examples/sec; 0.

[2016-03-13 03:52] ebrevdo commented on #1286
This will happen once we stop using linear() in the rnn cells and use layers directly.  Lukasz is working on that.

[2016-03-13 04:00] #1093 closed

[2016-03-13 04:48] liuyifly06 commented on #1421
Well, I tried pip installation on another Linux machine, seems everything magically worked!

[2016-03-13 04:49] lbollar commented on #1421
Mine was a pip installation and I am not seeing anything on tensorboard.

[2016-03-13 04:52] liuyifly06 commented on #1421
Did you make sure you have typed right path to the events file directory ? I find that sometimes I just miss typed.
If not working, try to build from the source I guess...

[2016-03-13 06:43] mznyc commented on #890
Try this. Will likely solve the problem
sudo pip install --upgrade protobuf==3.0.0b2

[2016-03-13 12:15] rdipietro opened #1480 "Renaming of input arguments for clarity"
Sorry in advance for being a bit pedantic... I bring this up because of lack of clarity when it comes to `gather`.

Right now there are many names for a generic input:
- `to_float` and others use `x` instead of `tensor`
- `shape`, `size`, `rank`, and others use `input` instead of `tensor`
- `reshape` and others use `tensor`
- `gather` uses `params` instead of `tensor`
- `dynamic_partition` uses `d

[2016-03-13 13:41] crscardellino commented on #526
I am having the same issue with GPU:1, I can run without problems in GPU:0, but when trying to force the graph to be in GPU:1, using Graph.device(), I get the following: http://pastebin.com/ekTgqJ0U

[2016-03-13 15:18] omarcr opened #1481 "3D convnets"
Hi All, do you have any plans to release code for tensor flow implementing 3D convnets?

[2016-03-13 15:24] bhack commented on #1481
Please use https://github.com/tensorflow/tensorflow/issues/150

[2016-03-13 15:28] omarcr commented on #150
+1 on this request.

[2016-03-13 16:05] daksunt opened #1482 "getting the dynamic shape of a Tensor as an integer"
How can I get xshape as a int variable? Is this feature available?

Of course if I evaluate, I will get the value of xshape, but the input is dynamic and I don't want to use the get_sum function in for loop, because it would break the graph.

Problem: TypeError: range() integer end argument expected, got Tensor

[code]

[2016-03-13 17:50] Shagas commented on #1482
It's not clear to me why you want to get the value of xshape, which you are using as an input feed variable. Also why would you want to do a sum in a for loop like that?
What are you trying to achieve?

[2016-03-13 18:24] daksunt commented on #1482
I want to do process on variable length tensors. In other words I need to do a computation for each element in a tensor with different values. Getting the shape as an integer is a first step.

[2016-03-13 18:32] #1481 closed

[2016-03-13 19:03] panmari commented on #1052
I recently had a very similar issue, because I still had a stale configuration file (`tensorflow/core/platform/default/build_config.bzl`) lying around. Checking it out again from master (essentially reverting all custom changes) fixed the problem.

[2016-03-13 19:04] petewarden commented on #445
Thanks Sam! I managed to get the label_image example compiling and running on my Pi 2, here are my notes:

- I mostly followed the Jetson instructions too.

- There was an error in GPUBFCAllocator that meant I had to comment out a couple of lines.

- I had to link in the rt library to fix a clock_gettime() linking error, by adding "-lrt" to label_image's link_opts.

- The resulting binary ran extr

[2016-03-13 19:45] samjabrahams commented on #445
Excellent! I was hoping to try out the process on a Pi 2 as well. Couple responses and additional notes

* The GPUBFCAllocator compiling issues are most likely due to changes made in ab6ffc92992f124. On my first go-through (on Friday, just before I pulled in that commit), Bazel didn't complain. The next day (after that commit), I started going through the process again on another Pi to make sure I

[2016-03-13 19:55] aosterloh opened #1486 "DocBug"
This tutorial **will how you **how to run the example script on your own images, and will explain some of the options you have to help control the training process.

found at
https://www.tensorflow.org/versions/master/how_tos/image_retraining/index.html

[2016-03-13 21:31] chemelnucfin commented on #1486
It looks like the issue has been fixed in the code, probably pending a website update.

[2016-03-13 21:43] samjabrahams commented on #445
As another data point, I compiled and ran the label_image binary, and it took much less than a minute. I did not play around with any of the compiler settings.

Output:

[code]

[2016-03-13 22:09] #1475 closed

[2016-03-13 22:10] vrv commented on #445
Sorry about the RPi breakage, should be fixed in d2a06c2df73ed09d9eff60efb559fd38bc47e2d3

[2016-03-14 00:45] staffhorn commented on #1475
I can't access the files on the either yarslavvb or google.

[2016-03-14 00:52] yaroslavvb commented on #1475
Just checked http://yaroslavvb.com/upload/notMNIST/notMNIST_small.tar.gz
and it works for me.
But future version will refer to alternative location at
http://commondatastorage.googleapis.com/books1000/notMNIST_small.tar.gz

On Sun, Mar 13, 2016 at 5:45 PM, Scott Lett <notifications@github.com>
wrote:

[2016-03-14 01:24] k0k0schka commented on #44
Súper, me funcionó bien. Veamos qué dice python.

[2016-03-14 01:37] MisayaZ commented on #1439
@hit-suit   "the program is constantly adding more nodes to the graph". I think this is the problem.

[2016-03-14 02:03] langmore commented on #813
I don't know the tensorflow internals, but it seems to me that this would be very slow.  Your for loop adds 10,000 nodes to the graph, and the cumsum evaluation requires evaluation of 10,000 separate nodes, rather than one node that calls into an optimized loop.  Each node adds two length 1000 vectors, and this is fast, but I don't imagine iterating through 10,000 nodes is fast.  I must be misunde

[2016-03-14 03:53] LiberiFatali commented on #1452
So what's the workaround for this?

[2016-03-14 03:58] vrv commented on #1452
Try:

[code]

[2016-03-14 04:31] moonboots commented on #1468
I would try downgrading to the previous version of Android NDK (r10e). Here's the Mac OS X link: https://dl.google.com/android/ndk/android-ndk-r10e-darwin-x86.bin

I ran into similar issues using the latest version of Android NDK (r11) which no longer contains `RELEASE.TXT`. Manually creating that file with `echo r11 > RELEASE.TXT` fixed the immediate problem, but I ran into issues of bazel hard d

[2016-03-14 04:41] LiberiFatali commented on #1452
Thanks for you reply.
I deleted everything, then, made a fresh clone of master source. Now the installation works well.

[2016-03-14 05:48] sarahharun commented on #42
Thanks a lot @SeveQ  and @anj1. It worked. Now tensorflow is running on my Windows 10.

[2016-03-14 06:22] luling2010 commented on #42
@sarahharun Hi, would you please share the details about how to make it,  I still can not run, ~~~~(>_<)~~~~

[2016-03-14 06:40] amirj commented on #654
Finally, I'm interested to know if there is a version of `translate.py` which support beam search in decoding?

[2016-03-14 07:01] SeveQ commented on #42
@sarahharun You're welcome!

Anyway, it's still running **without GPU support only**. I feel like I have to mention this again. That's the major purpose of getting it running **natively** on Windows.

[2016-03-14 07:16] sarahharun commented on #42
@luling2010, sure.

1. Run the folowing command to create a docker virtual machine:
docker-machine create vdocker -d virtualbox

2. Check your Oracle VM, whether vdocker is running or not (in my case it was shut down). Start it, if its stopped.
![capture1](https://cloud.githubusercontent.com/assets/15017408/13737372/b781b15a-e98a-11e5-8c78-39f19720ecba.PNG)

3. In a cmd window type the following:

[2016-03-14 07:23] chemelnucfin commented on #1066
I also got it to build without strict ANSI on Fedora 23.

[2016-03-14 08:11] rajarsheem commented on #255
so 2.1 capability devices won't be much faster than CPU?

[2016-03-14 08:20] zhang8473 opened #1494 "Does the tensorflow support structured numpy array as inputs?"
data = np.array([(1,2.), (2,3.)],dtype=[('foo', 'i4'),('bar', 'f4')])

I want to feed this into
x = tf.placeholder("float", [None,2])

Will the tensorflow automatically convert they datatypes?

[2016-03-14 08:25] samjabrahams commented on #445
Thanks @vrv, I rebuilt from source on a RPi3 and can confirm that it appears to work fine.

I'll release an unofficial step-by-step guide on how to build the standard TensorFlow binaries from source specifically for the Raspberry Pi 3, as well as a link to a pre-compiled pip wheel. The wheel worked on a fresh Pi without any headaches, so I'm hoping people can use that if they don't absolutely have

[2016-03-14 08:49] jplu commented on #1415
I tried on the other machines, one with Ubuntu 14.04 with the same config than mine and another on Ubuntu 15.10 with a slighly more recent Python (2.7.10). And on both I still have the same issue.

[2016-03-14 09:31] ibab commented on #813
I've changed the shape to `(10000,)` to isolate the overhead from calling that many nodes a bit better.
Results:
[code]
So it seems that although there's considerable overhead, it's smaller than the time required to add the `1000` vectors above.

[2016-03-14 10:15] jplu commented on #1415
Ok, I have maybe found something. My protobuf module is installed under:

[code]

And in my PYTHONPATH I have:

[code]

Then to import the Protobuf module we have to do "google.protobuf". But apparently Python doesn't like this and I don't know why because if I add the following path in my PYTHONPATH:

[code]

I can see the Protobuf module in the list of recognized modules. Nevertheless, in all th

[2016-03-14 11:56] psycharo commented on #1378
e774fa8 is of great help, thanks!
However, when calling `tf.load_op_library` _twice_ (for the _same_ .so), the loaded module no longer has any of the defined ops (the OP_LIST is empty as well).

[2016-03-14 14:22] MidnightLightning commented on #1377
The "MNIST For ML Beginners" has most equations working, but there's several in the Training section that are showing "Math Processing Error":

https://www.tensorflow.org/versions/r0.7/tutorials/mnist/beginners/index.html#training

[code]

Using Mathjax's right-click menu to set the Renderer to SVG works, so it's just the HTML+CSS renderer having issues.

[2016-03-14 14:55] #1452 closed

[2016-03-14 15:07] mrry commented on #1494
At present, TensorFlow only supports primitive NumPy datatypes. If you need to represent a tensor of a tuple of values, you can instead use a (Python) tuple of tensors (see e.g. the [`tf.QueueBase`](https://www.tensorflow.org/versions/r0.7/api_docs/python/io_ops.html#QueueBase) documentation for an example).

[2016-03-14 15:07] #1494 closed

[2016-03-14 15:19] mrry commented on #1474
This problem doesn't seem to be happening with the [nightly build for Python 3](http://ci.tensorflow.org/view/Nightly/job/nightly-matrix-cpu/TF_BUILD_CONTAINER_TYPE=CPU,TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON3,label=cpu-slave/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow-0.7.1-py3-none-any.whl), and it looks like you're using an old snapshot of the tree from F

[2016-03-14 15:29] vrv commented on #1415
Can you take a look at our install guide for "common problems" and let us know if that helps ?

[2016-03-14 15:45] ybbaigo commented on #649
encounter same issue as @marcotrombetti , I just send a PR with fix @keveman #1496

[2016-03-14 15:45] waterofphysics commented on #1468
@moonboots
Thank you for your detailed answers, it really helps me.
Android NDK (r10e) link for Mac OS X is:
https://dl.google.com/android/repository/android-ndk-r10e-darwin-x86_64.zip
We should also install Android SDK build tools version 23.0.1 via Android SDK manager to build the android example.

[2016-03-14 15:48] #1468 closed

[2016-03-14 16:40] mrry commented on #1482
The only way to get the dynamic value of a tensor as a Python integer is to pass it to `sess.run()`. However, that doesn't really solve your problem, as you want to have data-dependent control flow in your graph. One way to do this is to upgrade to the latest nightly version of TensorFlow, and try the `tf.foldl()` or `tf.foldr()` functions, which operate like `scan()` in Theano to iterate over one

[2016-03-14 16:42] MS0480 opened #1497 "Hey, I wanted to know where can i find the implementation of the tensorflow with respect to devices like GPU. Basically I want to understand from source code level what changes are done inside the tensor flow to make it comptabile to GPU when launched. How does the CUDA compile/run come into play when a session is launched ? Appreciate the help/pointers."
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-03-14 16:45] vrv commented on #1497
I would ask this question on StackOverflow, since this isn't a bug or feature request, thanks!

[2016-03-14 16:45] #1497 closed

[2016-03-14 16:47] vrv commented on #1473
(Feel free to comment if, after upgrading, you still have the problem, and we can debug further!)

[2016-03-14 16:47] #1473 closed

[2016-03-14 16:53] mrry commented on #1480
Unfortunately it's not trivial to change these names, because some code might have used them in explicit named arguments. I agree it would be nicer to have them consistent, so perhaps we could consider a breaking change at some point in the future.

[2016-03-14 16:57] mrry commented on #1470
Are you passing `grads` directly to `Session.run()`? I believe that will contain a list of (gradient, variable) tuples, which needs to converted to a list a tensors in order to pass it to `Session.run()`. For example, you could do:

[code]

[2016-03-14 16:57] #1470 closed

[2016-03-14 17:09] rajarsheem opened #1498 "bazel build nvcc: nvcc fatal : Unsupported gpu architecture 'compute_21'"
After I executed the command
`bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer`

I get an error like
`ERROR: /home/rajarshee/tensorflow/tensorflow/core/kernels/BUILD:517:1: error while parsing .d file: /home/rajarshee/.cache/bazel/_bazel_rajarshee/0d043bf46cad9f31127eb8d06453610d/tensorflow/bazel-out/local_linux-py3-opt/bin/tensorflow/core/kernels/_objs/adjust_contrast_op

[2016-03-14 17:09] danmane commented on #1287
In general, using gulp vulcanize then bazel build will get you the latest and greatest TensorBoard..
Although now that I [released a new compiled TensorBoard](https://github.com/tensorflow/tensorflow/commit/65c9124086240616747e26e0aa5ef3412a3be55d) that is more recent than the improvements that @jameswex are describing, it should be enough to just use bazel. (on master)

[2016-03-14 17:11] shlens commented on #1458
Agreed. The image preprocessing is confused and superfluous.

For the most part, the distortions provided by random_brightness combined with random_contrast would be largely removed by per_image_whitening performed in the subsequent operation. If you removed the per_image_whitening, I suspect that the model should train nearly identically.

Would you be able to perform a side-by-side comparison wh

[2016-03-14 17:23] Shagas commented on #1482
In my experience, if you need to do something 'iteratively' in tensorflow then you are most likely thinking about it wrong. Maybe you can formulate your task as a multiplication of matrices or something.

[2016-03-14 18:13] samjabrahams commented on #445
[Here's the process I used to get TensorFlow running](https://github.com/samjabrahams/tensorflow-on-raspberry-pi/blob/master/GUIDE.md).

[2016-03-14 18:14] mrry commented on #1498
Thanks to @zheng-xq, we figured out that `compute_21` is not a valid architecture (instead it is a virtual architecture). We need to provide a way to pass a compute capability of **2.0** to `nvcc`. Currently our build scripts do not support that, but you can hack in support by editing the [crosstool wrapper](https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/crosstool/clang/bin/

[2016-03-14 18:23] rdipietro commented on #1480
Makes sense. Can you please comment on `gather`?

[2016-03-14 18:28] mrry commented on #1482
Indeed, for this case it would be more appropriate to use `tf.reduce_sum()`. However, if you need to define a recurrent network, where the input to an op depends on its output in a previous iteration in some non-trivial way, then the support for iteration will be useful.

[2016-03-14 18:35] rajarsheem commented on #1498
While the previous is no more appearing, a new incompatibility with my gcc version has occured. please note that i have both 5.2 and 4.9 versions of gcc and my cuda located at /usr/local/cuda has the gcc already linked to /usr/bin/gcc-4.9

`error -- unsupported GNU version! gcc 4.5 and up are not supported!`

[2016-03-14 18:52] rajarsheem commented on #1498
And after I changed gcc to gcc-4.9 [here](https://github.com/tensorflow/tensorflow/blob/e4add493f1020c0eb986aba21c266d9e6e6f4182/third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc#L47) the error was gone but this error came

`9 errors detected in the compilation of "/tmp/tmpxft_00005b89_00000000-7_adjust_contrast_op_gpu.cu.cpp1.ii".
ERROR: /home/rajarshee/tensorflow/tensorflo

[2016-03-14 18:53] dgolden1 commented on #1287
Some progress; I did gulp vulcanize and then the bazel build with the latest master (e4add493f1020c0eb986aba21c266d9e6e6f4182). As before, I'm on Ubuntu 14.04 on Amazon EC2 with Anaconda Python 3.5.1 Now, when attempting to visualize the graph (after dumping it via the same Python snippet in my original issue), I get this TensorBoard error:

[code]

The TensorBoard app shows this "Graph visualizat

[2016-03-14 19:36] benoitsteiner commented on #813
@ibab @girving Eigen currently doesn't provide the functionality needed to efficiently implement an  accumulate op. You're more than welcome to contribute the code to Eigen, that would be a very useful extension.

[2016-03-14 19:50] jakequist commented on #1377
Looks like it's still broken, verified from home and work IPs:

[code]

![image](https://cloud.githubusercontent.com/assets/207427/13757770/5421c538-e9e3-11e5-827e-f03cbdf1380e.png)

[2016-03-14 19:56] zheng-xq commented on #1498
@rajarsheem, you'll have to post the errors here. In general, TF is tested on compute_35. While compute_20 may work for now, which I am not sure, there is no guarantee that it will keep working in the long term.

[2016-03-14 20:02] rajarsheem commented on #1498
@zheng-xq
`INFO: Found 1 target...
ERROR: /home/rajarshee/tensorflow/tensorflow/core/kernels/BUILD:212:1: error while parsing .d file: /home/rajarshee/.cache/bazel/_bazel_rajarshee/0d043bf46cad9f31127eb8d06453610d/tensorflow/bazel-out/local_linux-py3-opt/bin/tensorflow/core/kernels/_objs/gather_op_gpu/tensorflow/core/kernels/gather_op_gpu.cu.d (No such file or directory).
nvcc warning : option '--

[2016-03-14 20:13] zheng-xq commented on #1498
This problem is that your GCC and NVCC is not compatible. Which Cuda SDK
are you using? Could you try the latest Cuda 7.5 and GCC 4.8, which are
heavily tested.

Thanks.
-XQ

On Mon, Mar 14, 2016 at 1:04 PM, Rajarshee Mitra <notifications@github.com>
wrote:

[2016-03-14 20:16] rajarsheem commented on #1498
I am using Cuda 7.5 and two gcc versions installled - 4.9 and 5.2. the cuda located in /usr/local/cuda has it's gcc _linked_ to gcc-4.9. (the gcc incompatibility issue earlier occured with theano and was solved after the linking)

[2016-03-14 20:24] zheng-xq commented on #1498
I don't think GCC 4.9 is officially supported by Cuda 7.5. Look at
include/host_config.h

#if defined(__GNUC__)
#if __GNUC__ > 4 || (__GNUC__ == 4 && __GNUC_MINOR__ > 9)
#error -- unsupported GNU version! gcc versions later than 4.9 are not
supported!
#endif /* __GNUC__ > 4 || (__GNUC__ == 4 && __GNUC_MINOR__ > 9) */

You are better off with GCC 4.8 and use that instead.

Thanks.
-XQ

On Mon, Mar

[2016-03-14 20:40] rajarsheem commented on #1498
@zheng-xq  upto 4.9 is supported.
`#if __GNUC__ > 4 || (__GNUC__ == 4 && __GNUC_MINOR__ > 9)

#error -- unsupported GNU version! gcc versions later than 4.9 are not supported!`

[2016-03-14 20:48] zheng-xq commented on #1498
I stand corrected. It is a good idea to check which version of your GCC was
actually used. A few things you can try:

* You can add "-s" to your bazel to print out the crosstools command line.
* Add "--copt=--cuda_log", which is passed to crosstools to print out the
nvcc command line.

That should be enough to see which version of the gcc was actually used.

On Mon, Mar 14, 2016 at 1:42 PM, Rajars

[2016-03-14 21:16] rajarsheem commented on #1498
@zheng-xq  May this be of help.

http://paste.ubuntu.com/15387128/
(note that default /usr/bin/gcc is actually the 5.2 one!)

[2016-03-14 21:25] samjabrahams commented on #254
Just to spread some work that's been done in #445, we've managed to get TensorFlow compiled and running on the Raspberry Pi (although there hasn't been extensive testing yet). I've posted an unofficial pre-built Python wheel as well as step-by-step instructions on building from source yourself [here](https://github.com/samjabrahams/tensorflow-on-raspberry-pi).

[2016-03-14 21:33] zheng-xq commented on #1498
I think that might be the problem. The default gcc 5.2 is used instead. You
have a few options:

* Symlink your default /usr/bin/gcc to gcc 4.9.
* Modify
third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc to
point to your gcc-4.9 location.

On Mon, Mar 14, 2016 at 2:18 PM, Rajarshee Mitra <notifications@github.com>
wrote:

[2016-03-14 21:44] dsmilkov commented on #1287
Was able to reproduce the issue using python3. The problem comes down: 'str' and 'bytes' are equivalent types in python2, but in python3 they are not. Moreover python3 bytes requires an encoding to be specified when converting a string to bytes (protobuf uses utf-8 for encoding strings).

Fix is on the way. The commit should appear tomorrow. If you don't want to wait, a small fix that makes it wor

[2016-03-14 21:45] dsmilkov commented on #1287
And also replace line from 58 from process_graph.py from
keys = node.attr.keys()
to
keys = list(node.attr.keys())

[2016-03-14 21:45] rajarsheem commented on #1498
Sorry. A mistake! Default gcc version is 4.9.3

[2016-03-14 22:07] rajarsheem commented on #1498
@zheng-xq
I changed all the variables below
CPU_COMPILER,GCC_HOST_COMPILER_PATH and LLVM_HOST_COMPILER_PATH by replacing gcc with gcc-4.9. While the gcc issue seems to be vanished, this came:
`5 errors detected in the compilation of "/tmp/tmpxft_00005de0_00000000-7_sparse_tensor_dense_matmul_op_gpu.cu.cpp1.ii".`
Full output:
http://paste.ubuntu.com/15387425/

[2016-03-14 22:11] #1378 closed

[2016-03-14 22:16] yazabaza opened #1499 "'Math Processing Error' in web docs"
See; tensorflow.org/versions/r0.7/tutorials/mnist/beginners/index.html  --> Training section. "Math Processing Error" appears in multiple places in page. Used OSX / Safari, Firefox, and Chrome.  Screen shot attached.
![screen shot 2016-03-14 at 3 15 14 pm](https://cloud.githubusercontent.com/assets/351870/13761735/a3f2a3b6-e9f7-11e5-9373-5b7eb37fd534.png)

[2016-03-14 22:16] vmayoral commented on #445
Awesome work! Thanks @samjabrahams for putting everything together. Many of us tried this out. Glad someone succeeded.

Closing this now.

[2016-03-14 22:16] #445 closed

[2016-03-14 22:22] ibab commented on #813
Thanks, @benoitsteiner!
I assume that I could structure it in a similar way to [`TensorReduction.h`](https://bitbucket.org/eigen/eigen/src/59859fde3bc7173175087ed5d002389b4e76876f/unsupported/Eigen/CXX11/src/Tensor/TensorReduction.h?at=default&fileviewer=file-view-default), except that `accumulate` would preserve the original shape of the tensor.
This might turn out to be too difficult for me, but

[2016-03-14 22:25] zheng-xq commented on #1498
Unfortunately, Eigen starts to pick up warp shuffle capabilities recently,
which requires compute_30 support.

On Mon, Mar 14, 2016 at 3:09 PM, Rajarshee Mitra <notifications@github.com>
wrote:

[2016-03-14 22:35] rajarsheem commented on #1498
all I can pray for is to officially add the support for compute_21 :'(

[2016-03-14 22:38] samjabrahams commented on #445
Thanks @vmayoral for all the effort you put into this on both the TensorFlow and Bazel front- you got the momentum for this rolling in the first place. Let me know if the instructions/wheel file work for you!

[2016-03-14 22:41] zheng-xq commented on #1498
@benoitsteiner to comment on the Eigen request.

@rajarsheem in this thread wants to support compute_20 device. However, since Eigen starts to use warp shuffling instructions, which is only available for compute_30 devices and later, it won't work.

Benoit can tell you whether Eigen will support older devices without the warp shuffling or not.

[2016-03-14 22:45] mrry commented on #1499
It looks like the encoded apostrophes are causing problems for rendering on OS X.

[2016-03-14 23:01] mihow commented on #445
Great work @samjabrahams and everyone else! I look forward testing and I think this is an exciting contribution for the machine learning + physical computing world overall.

[2016-03-14 23:06] mrry commented on #1482
Assigning @yuanbyu, who might have more information about the current status of the control flow ops.

[2016-03-15 00:07] ybbaigo opened #1500 "beam search in translation model"
Do we have plan to support beam search in the decoding process of translation model, since the raw paper shows better result with beam search?

[2016-03-15 00:12] dgolden1 commented on #1287
@dsmilkov, making those changes worked! Thanks!

After the change has been pushed to master, I'll test again, and close this issue if it works.

[2016-03-15 00:25] danmane commented on #602
@dsmilkov and @jameswex are point people on graph visualizer issues - I know we've fixed a few issues of this general form, but automatic grouping for repeated nodes isn't perfect yet. Can one of you comment if we should close this issue? Also, would grouping all of these ops under a shared namespace help, or just kick the problem down into a new unmanagably massive namespace?

[2016-03-15 00:28] danmane commented on #716
This looks like a duplicate of #1287 , which is fixed as of latest master. @zdx3578 if the fix for #1287 doesn't work for you, feel free to re-open and we'll dig into it a bit more - if you do re-open it, can you please upload an events file for which you aren't able to visualize the graph? That will make it a lot easier to dig into.

[2016-03-15 00:28] #716 closed

[2016-03-15 00:33] chemelnucfin opened #1501 "ImportError: libcudart.so.7.5: cannot open shared object file"
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

### Environment info
Operating System: Fedora 23

If installed from sources, provide the commit hash:
b44a68232087284eccd55c6031e7fc3ebe5663ab

### Steps to reproduce
1.  ./configure with GPU support in /usr/local/cuda
2.  build tes

[2016-03-15 00:38] Iolaum commented on #22
+1

Hope people working on it manage to overcome the CUDNN alternative problem by the time tensorflow gets close to 1.0

[2016-03-15 00:44] jameswex commented on #602
What is the code that creates all of the encoder[num] ops? The graph visualizer will automatically group together nodes that are of the form [name]_[num], but these don't have an underscore between name and num.

When using tensorflow to create an op a number of times with the same name for the op each time, tensorflow will automatically add _[num] to each of the created ops after the first one.

[2016-03-15 01:39] lukemetz opened #1502 "BatchNorm kernel?"
Hello,
Adding batch norm to a model results in a significant slowdown (using tf.nn.batch_normalize).

I was wondering why a dedicated kernel was removed in favour of a symbolic approach?
(seemingly unrelated commit in question: https://github.com/tensorflow/tensorflow/commit/03869e6e9cfac85d3e0f87ded01f4dd8de10ed67)

Was this a design decisions to not want these "one off" style optimizations/kerne

[2016-03-15 02:13] gear opened #1503 "[Feature Request] Graph embedding (DeepWalk, LINE, ...)"
Hello,

Recently algorithms such as DeepWalk or LINE, by applying word embedding techniques to graph, have opened a way to apply deep learning to graph analysis. I wonder if there is any future plan for Tensorflow to support graph / network analysis in general and graph embedding in specific?

[2016-03-15 02:20] moonboots commented on #1501
You might be missing the [shell environment variables](https://www.tensorflow.org/versions/r0.7/get_started/os_setup.html#test-the-tensorflow-installation):
[code]
These are used during runtime (versus compile time) cuda shared library lookup.

[2016-03-15 02:44] ajtulloch commented on #1502
Yeah, we've been fusing graph ops manually for performance, it'd be great to understand the rationale for going the other way.

[2016-03-15 02:52] rajshah4 commented on #387
I was able to make a Shiny/R app that interfaces with tensorflow using rPython.  https://github.com/rajshah4/tensorflow_shiny
Awkward, but it worked.  Hoping that a better solution gets developed.

[2016-03-15 02:52] mrry commented on #1502
It looks like two commits were inadvertently squashed. Here's the intended description for the batch norm parts of that commit:

@vincentvanhoucke is working on the related issue https://github.com/tensorflow/tensorflow/issues/1122 and might have more to add.

[2016-03-15 03:00] chemelnucfin commented on #1501
Thanks, I missed the CUDA_HOME variable, but I'm now getting this error.

exec ${PAGER:-/usr/bin/less} "$0" || exit 1
\--------------------------------------------------------------
tensorflow/core/common_runtime_gpu_gpu_stream_util_test: error while loading shared libraries: libcudart.so.7.5: cannot open shared object file: No such file or directory

[2016-03-15 03:24] wanji opened #1506 "ImportError: No module named tensorboard"
[code]
I noticed that this issue is related to #1199

It occurs after upgraded to v0.7.1 from v0.6. Seems `pip` did not overwrite `/usr/local/bin/tensorboard` when installing `tensorflow`. And the following `import` statement in the old script cause the error:

[code]

[2016-03-15 03:48] vrv commented on #1506
I don't think this is the same as #1199, and I'm not sure why pip upgrade doesn't overwrite /usr/local/bin/tensorboard -- it might be a permissions issue.  Uninstalling the pip, removing /usr/local/bin/tensorboard and then reinstalling should solve the problem.

[2016-03-15 04:24] wanji commented on #1506
Yes, removing the script and reinstalling can solve the problem. I installed the package with `sudo`, so it doesn't feel like a permission issue. Anyway, this might not be a `tensorflow` issue (:

[2016-03-15 04:24] #1506 closed

[2016-03-15 04:44] chemelnucfin commented on #1501
I also have /usr/local/cuda/lib64 in PYTHONPATH

[2016-03-15 04:58] mrry commented on #1500
Does the [`tf.contrib.ctc.ctc_beam_search_decoder()`](https://github.com/tensorflow/tensorflow/blob/b9e9c9a12dbd2946d44c76abdd603eedf6eedb9a/tensorflow/contrib/ctc/ctc_ops.py#L183) help here?

[2016-03-15 05:48] unrealwill commented on #18
Here is a port of the c api to csharp I just made, using SWIG, to keep the maintenance to a minimum.
https://github.com/unrealwill/tensorflow-csharp-c-api
Still a work in progress to make it more easy to install and use.
But example graph runs fine.

[2016-03-15 05:56] lbollar commented on #1421
I pip installed the nightly binary and tensorboard looks to be working now for me. Maybe this is something that has been fixed?

[2016-03-15 07:32] ybbaigo commented on #1500
@mrry thanks for your quick response, I have no ideas about how to apply ctc_beam_search_decoder to the attention-based LSTM decoding process of the seq2seq model used in translation model in tutorial, since the interface looks different, @ebrevdo could you help double confirm?

[2016-03-15 11:32] jplu commented on #1415
I tried all the proposed solutions about "pip", ```pip install --upgrade pip``` and ```PYTHONUSERBASE=/usr/local/python pip install --upgrade --user /tmp/tensorflow_pkg/tensorflow-0.7.1-py2-none-any.whl```

But I still have the same issue. The module "protobuf" is well installed and recognized by Python, but the module "google.protobuf" is still not known.

I have the same behavior with the 3 diff

[2016-03-15 11:47] dush64 commented on #291
Sorry to dig this up again, but are there any plans to incorporate the polygamma function (1) in the near future? Anything using a Dirichlet / Beta prior distribution will utilise the digamma function, for which the gradient is the polygamma.

[2016-03-15 12:21] ChangmoNam opened #1511 "No gradients provided for any variable ?"
Hi,

When using tensorflow, I found_ '**ValueError: No gradients provided for any variable**' _

I used AdamOptimizer and GradientDescentOptimizer, and I could see this same error.

I didn't used tf.argmax but tf.nn.softmax, tf.tile, tf.nn.relu, tf.matmul, tf.tanh, tf.tile, tf.mul ...

What is the reason for this error??
and How can I solve this one??

Thanks !

[2016-03-15 13:21] argman opened #1513 "seems issues with softmax_cross_entropy_with_logits"
matrix1 = tf.constant([[ -2.88181912e+11,-4.40300175e+11], [ -2.29688918e+11, -3.53027424e+11] ,[ -2.14650274e+11, -3.81851140e+11]])
matrix2 = tf.constant([[0, 1.0], [0, 1], [0, 1]])
r = tf.nn.softmax_cross_entropy_with_logits(matrix1, matrix2)

with tf.Session() as sess:
    result = sess.run(r)
    print result

when i run this, i get:

[  1.52118264e+11   1.23338506e+11   1.67200866e+11]

is t

[2016-03-15 13:27] rajarsheem commented on #1498
Official support for compute_20 device will be highly appreciated.
For now, let's count on @benoitsteiner ; may he throw some light.

[2016-03-15 15:08] sjperkins commented on #418
I made a `ravel_multi_index` . From a multi-index, it produces an tensor suitable for indexing a flattened tensor. See the [numpy](http://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.ravel_multi_index.html) documentation for instance.

[code]

[2016-03-15 15:31] mrry commented on #1511
This typically means that there is no path between any of the `tf.Variable` objects that you've defined and the loss tensor that you are trying to minimize. As a sanity check, does `tf.trainable_variables()` contain any variables?

To figure this out, we'll need to see the code that is failing. Can you reply with more details?

[2016-03-15 15:44] mrry commented on #1513
This seems like the intended behavior. You have a completely misclassified set of logits, and the cross entropy loss is very large.

What were you expecting to see instead?

[2016-03-15 15:44] ebrevdo commented on #291
As far as I can tell, the digamma function is only used for entropy and
other log-expectation calculations.  The rest use gamma or log-gamma.

On Tue, Mar 15, 2016 at 4:48 AM, dush64 <notifications@github.com> wrote:

[2016-03-15 15:46] mrry commented on #1503
I imagine we'd welcome contributions to https://github.com/tensorflow/models with graph embedding models. If there are any specific features missing from core TensorFlow that would enable these models to be expressed efficiently, please let us know!

[2016-03-15 16:12] ebrevdo commented on #1500
Nope - ctc_beam_search_decoer is only meant to be used with the ctc_loss and not more general seq2seq models.  Sorry!  You'll have to write your own beam search for now.

[2016-03-15 16:14] vrv commented on #1415
Did you try:

pip uninstall tensorflow
pip uninstall protobuf
pip install --user path/to/tensorflow.whl ?

[2016-03-15 16:15] dush64 commented on #291
That's true - sorry, should have been more specific. The digamma/polygamma come up when computing expectations and KL divergences for dirichlet distributions. Is this general enough to warrant a place in Tensorflow, or should I be independently implementing it (or contributing it)?

[2016-03-15 16:16] ebrevdo commented on #291
it is worthwhile to add trigamma or polygamma from cephes.  you will have to add it to Eigen first, and verify CUDA support works.  see bitbucket.org/eigen/eigen/ and specifically my PRs adding lgamma/digamma/igamma/igammac/erf/errfc to that repository.  happy to review your code there.

[2016-03-15 16:33] girving commented on #291
However, let's split any new special functions off into a new issue.

[2016-03-15 16:34] ebrevdo commented on #291
Agreed; this issue is closed.  First push changes to Eigen and then open an issue to bring tri/polygamma into TensorFlow once that's done.

[2016-03-15 17:07] hjyCoder opened #1515 "rnn.bidirectional_rnn cause a problem"
code:

[code]

error:
"Shapes %s and %s must have the same rank" % (self, other))
ValueError: Shapes TensorShape([]) and TensorShape([Dimension(None)]) must have the same rank

it seem that the inputs have a problem, Can you tell me why ?

[2016-03-15 17:13] jameswex commented on #1421
Some more data:

I tried repro'ing this issue with the given events file.
Building tensorflow from scratch, tensorboard was working as expected.
Doing a pip install on my Ubuntu 14.04 machine, tf 0.7.1, I was able to see the issue (no graphs showing up in tensorboard).
When I pip uninstalled and reinstalled tensorflow, tensorboard started working as expected.

[2016-03-15 17:16] nodirt commented on #70
I started experimenting with Go support for TensorFlow and stumbled on need for a common DSL too.

Writing a new internal DSL in Go (or C#, or Ruby, etc) is an option, but in that case there would be two or more ways to define a graph. A Go developer who became accustomed to defining graphs in Go may have a trouble understanding a graph definition in Python, and vice versa. So, I don't think each

[2016-03-15 17:52] #1420 closed

[2016-03-15 17:53] Tcll opened #1516 "can't seem to find the urls to your provided binary packages"
I was expecting to download a portable package (.whl or .egg) and use it as such:

    import sys; sys.path.append( '/extensions/TensorFlow...win32.egg' )
    import tensorflow # if this line doesn't work, the egg/whl is not portable.
    # ...

when you say "provided binary packages" that just means I expect .pyd files within the egg or whl.

for an example of a portable egg, just look at pillow

[2016-03-15 18:14] vincentvanhoucke commented on #1502
If you're seeing a significant regression from the non-fused kernel, I'd be interested in hearing about it. Note that there were two changes:
- removing the fused kernel, which did not affect performance on any benchmark I could run. In particular, this one:
https://github.com/tensorflow/tensorflow/blob/0249729a26b2cd3bdbbc5880f8d634a56860b0fd/tensorflow/python/ops/batch_norm_benchmark.py
- replac

[2016-03-15 18:20] ibab opened #1517 "Extend existing ops to complex128"
This is a follow-up to #1420.
Now that `complex128` is supported in tensorflow, we should extend existing ops like `complex`, `real`, `imag`, … to support `complex128` as well.
I've already done some work on this, but I'm currently stuck on expressing dependencies between input and output types.
For example, the spec for the `Real` op is currently
[code]
I've extended this to
[code]
and specified

[2016-03-15 18:24] lukemetz commented on #1502
Thank you all so much for the information. There is no regression, it just seemed slower than I would have guessed from experience in other frameworks. No cross library benchmarks were done.

As for the benchmark, the python version is indeed the fastest on the workloads I care about (CNN).

If I get a free moment I will look into a faster kernel and check performance myself.

[2016-03-15 18:28] zhang8473 opened #1518 "Anyway to save the session as an object but not a file?"
Hi,

I know that the tensorflow can save all variables into a file as a checkpoint
Is there anyway to save the tensor flow session into an object? like
a=Queue()
a.put( sess.status({%variables%}) )  #or maybe a.put( tf.train.status({%variables%}) )

So when I want to restore a session status. I just do a.get()

Is that possible?

Thank you.

[2016-03-15 18:37] mrry commented on #1517
This sounds like it might have consequences for backwards compatibility. @girving and @josh11b are our resident experts on that.

[2016-03-15 18:38] girving commented on #1517
Checking with Josh.  I think we may need an extra feature.

[2016-03-15 18:40] mrry commented on #1516
Are you asking about Windows support? (If I understand correctly, `.pyd` files are Windows DLLs.)

We don't currently support Windows. See issue #17 for a tracking bug for Windows support.

[2016-03-15 18:41] girving commented on #1517
@josh11b: In a perfect world the op spec would say you can't take the real part of a `complex128` and get a `float32`.  Reasonable to just ban that by not registering the kernels?

@ibab: If so, your solution is fine.  I'd change it to `Tout=in.dtype.real_dtype`, but otherwise good.  There will be no backwards compatibility issues since both defaults are the old values.

[2016-03-15 18:42] mrry commented on #1515
Can you include a full stack trace? When I try to run your code I get a different error (also shape-related).

[2016-03-15 18:46] Tcll commented on #1516
ah alright, well just keep that method in mind then, I'll be watching ;)

[2016-03-15 18:49] mrry commented on #1516
Closing this as a duplicate of #17. Hopefully it won't be too much effort to support that usage model as well!

[2016-03-15 18:49] #1516 closed

[2016-03-15 19:40] jstaker7 commented on #602
If I remember correctly I generated these graphs using the initial 0.5 release and I added monitoring to variables in the Seq2Seq example. So I believe the encoder[num] ops were generated simply from the RNN cells (LSTM as part of a MultiRNN object, I think) that were part of that example.

[2016-03-15 19:46] jameswex commented on #602
Do you happen to have this graph created with a more-recent release? If so, does the problem exist? Do you have the code you added to the example that I could take a look at?

[2016-03-15 19:54] mrry commented on #1518
I'm not sure what semantics you're suggesting for `sess.status(...)` or `tf.train.status(...)`. If you're within the same Python process, you can treat a `tf.Session` like any other object.

A `tf.Session` is not serializable, but you can use the `tf.MetaGraphDef` protocol buffer, along with a checkpoint file, to represent an entire model.

[2016-03-15 20:01] sjperkins opened #1519 "Number of broadcasting dimensions is limited"
### Environment info

Operating System: Ubuntu 14.04.4

If installed from sources, provide the commit hash: f92e338b178f75b0e7fc79aedc00680a49a982ac
### Steps to reproduce

Running this script:

[code]

produces

[code]
### What did you try?

Reducing the tensor ranks results in success.

[code]
### Logs or other output that would be helpful

[code]

[2016-03-15 20:02] sjperkins commented on #1519
#206 might resolve this, but I've logged it separately in case.

[2016-03-15 20:16] sjperkins commented on #1519
Looks like member `BinaryOp.Compute` in [cwise_ops_common.h](https://github.com/tensorflow/tensorflow/blob/f92e338b178f75b0e7fc79aedc00680a49a982ac/tensorflow/core/kernels/cwise_ops_common.h#L85-L139) only supports broadcasting between 2D and 3D shapes.

[2016-03-15 20:43] hsaputra commented on #22
@martinwicke why is this issues closed ?

I don't think your commit fixes this.

[2016-03-15 20:43] mrry commented on #23
Heh, looks like merging another code base can inadvertently close issues :). Reopening this, because there's still work to do.

[2016-03-15 20:45] hsaputra commented on #23
Thanks for re-opening it, @mrry .

Since the initial effort already merged, would it be easier to track open tasks as individual issues?

[2016-03-15 20:49] samjabrahams commented on #1243
Hey! I had this problem while compiling on a Raspberry Pi. The sum of the answer is: your machine is running out of memory. In my case, adding a usb drive and partitioning it as swap worked fine. [Here](https://github.com/samjabrahams/tensorflow-on-raspberry-pi/blob/master/GUIDE.md#4-install-a-memory-drive-as-swap-for-compiling) are the steps I took to add swap, which I got from the [ask Ubuntu fo

[2016-03-15 20:51] mrry commented on #1519
I think we've limited the number of dimensions to keep binary size down, rather than because it's any more complicated to broadcast on more dimensions. @benoitsteiner, is there some way we could handle higher dimensions in Eigen without another specialization, even if it leads to a slower codepath?

[2016-03-15 20:57] jplu commented on #1415
Yes, and it still doesn't work.

I also tried with virtualenv to see if it can change something, but I have the exact same behavior.

[2016-03-15 21:06] zhang8473 commented on #1518
I understand that tf.Session is as any other object. Maybe I did not explain my question clearly.

session_at_step1=tf.session().????
tf.session().run(...some feeds....)
session_at_step2=tf.session().????

In this case, the object will be changed. I mean, is there any way (a function at ????) to let session_at_step1 be different with session_at_step2?

[2016-03-15 21:07] mrry commented on #1515
(Assigning this to @ebrevdo, since he's most familiar with this code. I suspect he'll also need a stack trace.)

[2016-03-15 21:15] bhack commented on #22
You can't always use the same commit comments in different repository ;) https://github.com/tensorflow/skflow/issues/22

[2016-03-15 21:46] vrv commented on #22
Oh GitHub

[2016-03-15 21:52] bhack commented on #22
@vrv Now that you have hyper notified us can you give some feedback on stream executor strategy? ;)

[2016-03-15 21:56] vrv commented on #22
I'm just going to blame GitHub for everything, including lack of OpenCL support. ;)

@benoitsteiner might be able to comment more though.  I don't really know what you mean by 'stream executor' strategy.  We currently use a version of stream executor and CuDNN and Eigen and they all play well together, so I'm not sure how any plans have changed for the OpenCL side of things

[2016-03-15 22:06] bhack commented on #22
I mean:
"What is StreamExecutor? ======================== **StreamExecutor** is a unified wrapper around the **CUDA** and **OpenCL** host-side programming models (runtimes). It lets host code target either CUDA or OpenCL devices with identically-functioning data-parallel kernels."

[2016-03-15 22:07] bhack commented on #22
Canned operations ================== StreamExecutor provides several predefined kernels for common data-parallel operations. The supported classes of operations are: * BLAS: basic linear algebra subprograms, * DNN: deep neural networks, * FFT: fast Fourier transforms, and * RNG: random number generation.

[2016-03-15 22:39] ebrevdo commented on #1515
Yes - stack trace is helpful.  But from the get-go looks like you're feeding a sequence_length scalar but should feed a [batch_size] length vector; perhaps [5, 5, 5] ?

[2016-03-15 23:36] ybbaigo commented on #1500
@mrry @ebrevdo thanks for your help, I just found this feature had been discussed before #654 , I will close this issue.

[2016-03-15 23:36] #1500 closed

[2016-03-15 23:40] stefan-w commented on #1458
I actually tried a version without without the random brightness and random contrast and that trained identically (which I expected since the per_image_whitening is cancelling them out). I will try removing the whitening if there's an idle gpu sometime

[2016-03-16 00:28] goodmami commented on #1279
Alternatively, install Python3.4 (e.g. from https://aur4.archlinux.org/packages/python34) then create the virtualenv for that version:

[code]

[2016-03-16 00:58] luling2010 commented on #42
@sarahharun  Thanks a lot, now I can run tensorflow at http://192.168.99.101:8888/notebooks/. But I still can not run at docker terminal or Windows CMD, is that normal?

[2016-03-16 01:55] argman commented on #1513
@mrry, I find this because I am running an AlexNet, and after a few iterations, i get Floating Point Exception, I guess this maybe the number is too large, can you give some advice to fix this?

[2016-03-16 02:11] argman commented on #1513
its the problem of my network parameters, sorry for this.

[2016-03-16 02:11] #1513 closed

[2016-03-16 02:44] troore commented on #22
@keryell Hi, I also have interest in implementing TensorFlow on FPGA, using high level programming languages like Xilinx C++ or OpenCL. I am with pleasure to contribute if you have some plan.

[2016-03-16 02:54] hjyCoder commented on #1515
@ebrevdo, You are right. Problem has been solved。

Thank you for your attention

[2016-03-16 03:15] ebrevdo commented on #1515
Great!  Closing this issue.

[2016-03-16 03:15] #1515 closed

[2016-03-16 03:39] sarahharun commented on #42
You are most welcome @luling2010. Yes, I also can not run the docker terminal or windows cmd. But as I can run my python code in the notebook, I think it will work for now.

[2016-03-16 06:08] ronrest opened #1522 "closing file object in read_data() function for word2vec tutorials"
The `read_data()` function that appears in the following files:

- tensorflow/tensorflow/examples/tutorials/word2vec/word2vec_basic.py
- tensorflow/tensorflow/examples/udacity/5_word2vec.ipynb

Look like this:

[code]

[code]

There are two problems that these two versions of the function share:

1. The for loop is redundant since the `return` statement exits the loop (and the function) with the f

[2016-03-16 07:39] Ian09 opened #1524 "Can tensorflow support slicing tensor every N element"
Slicing an array every N elements is a basic function of numpy or python list. However, I found that tensorflow doesn't support it. For example,

a = tf.constant(np.random.rand(3,100))
b = a[:,::4]
Traceback (most recent call last):
  File "/Applications/Eclipse.app/Contents/Eclipse/plugins/org.python.pydev_4.3.0.201508182223/pysrc/pydevd_exec.py", line 3, in Exec
    exec exp in global_vars, loca

[2016-03-16 08:38] mostafachatillon commented on #1389
yes, you were right, with the version 0.7.1, it worked

[2016-03-16 09:03] roestigraben commented on #1134
Hi, the proposed upgrade for Polymer worked just fine for me. I am using anaconda

[2016-03-16 09:15] bhack commented on #22
@henline Can you explain what will be the role of StreamExecutor on Opencl and of relevant Canned
 operations for Tensorflow. I still cannot see how this will integrate with SyCL plans on Eigen and cudnn (replacement?)

[2016-03-16 09:34] ajaun commented on #1415
Same problem here after updating from 0.6 to 0.7.1. Not sure if this helps, but I noticed that site-packages/google/protobuf/__init__.py file is missing after recompiling with bazel.

[2016-03-16 10:05] hillelt commented on #666
I get this error when trying to save a text classification model that uses pre-trained word embeddings.  I was able to reproduce it with the minimal snippet below. It definitely looks like a variable size issue since the example completes successfully once you switch from 3,000,000 rows to 300,000 rows.

The issue looks important since since these models are common in NLP and not being able to sav

[2016-03-16 10:53] sesse commented on #1300
The half class is out in Eigen upstream (still some things to fix, though): https://bitbucket.org/eigen/eigen/commits/7aa6310352e789f118b28456ab14de4baf5720fa

Working on code review for the new type in TF core; after that, we'll see about getting some of the ops in.

[2016-03-16 10:59] shendiaomo commented on #1415
I had the same problem when trying to update from 0.5 to 0.7.1, It seems sth. is wrong with the wheel package

[2016-03-16 11:07] noureldien commented on #150
Please, support 3D convnets. Thanks for help.

[2016-03-16 11:11] islamoc commented on #1471
Build tools 23.0.1 is installed normally
[code]

[2016-03-16 11:49] islamoc commented on #1471
After updating the SDK I got this error

[code]

[2016-03-16 12:20] RasmooL commented on #1415
Can you try installing the newest master wheel from here?
http://ci.tensorflow.org/job/tensorflow-master-gpu_pip/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow-0.7.1-py2-none-any.whl

I just installed it in a clean 2.7.11 virtualenv and it worked fine,

[2016-03-16 12:34] ffmpbgrnn commented on #1300
@sesse , that's fast. Great work!

[2016-03-16 12:45] jplu commented on #1415
Stil doesn't work:

[code]

[2016-03-16 13:25] waterofphysics commented on #1319
At first, I have met the same error, after
[code]
and execute `convolutional.py` again, everything works well.

[2016-03-16 13:33] apmanikandan commented on #1415
I had the similar problem after upgrading to 0.7 ,sorted out by
1. uninstalling tensorflow
2. install master
3. Check whether you are able to import tensorflow --> If it works first,
then upgrade to 0.7

You may want to check the python path and verify the version on protocol
buffer during your installation.

Cheers,
Mani

Cheers,
Mani

On Wed, Mar 16, 2016 at 8:46 PM, Julien Plu <notifications@gi

[2016-03-16 13:44] jplu commented on #1415
Already done that according to the previous recommandations and it doesn't work.

My PYTHONPATH variable is perfectly set because all the modules are recognized (including "protobuf") but not "google.protobuf". The version of the installed "Protobuf" is "3.0.0b2" which seems to be the good one.

[2016-03-16 13:58] jplu commented on #1415
Ok, I succeed to solve the bug. Apprently, as @ajaun said a "__init__.py" file is missing in the "google" folder. Then, if I create an empty "__init__.py" file to get the following structure:

google
|-- __init__.py
|-- protobuf

It works.

[2016-03-16 15:20] andrewharp commented on #1471
What does it say if you try building with --verbose_failures?

[2016-03-16 15:24] islamoc commented on #1471
This

[code]

[2016-03-16 15:58] yuanbyu commented on #1482
You could use fold to achieve what you wanted to do:

[code]

If you want to split/unpack on a tensor with dynamic shape and do some computation on each subtensor, the combination of TensorArray and While() is the way to go.

[2016-03-16 16:26] oweingrod opened #1528 "Unique Error with Image Retraining Tutorial"
I'm using the image retraining tutorial ([here](https://www.tensorflow.org/versions/master/how_tos/image_retraining/index.html#using-the-retrained-model)) and keep getting a very odd error. Previously, retraining, then using the graph in a slightly modified `classify.py` script was possible, but as of two days ago, I get the following error when the graph is loaded by the expression `_ = tf.import

[2016-03-16 16:36] mrry commented on #1528
This sounds like a versioning issue. Does upgrading to a nightly version of TensorFlow solve it? Assigning to @shlens in case he knows of a change to the model that could have caused this.

[2016-03-16 16:37] oweingrod commented on #1528
I figured it was a versioning issue, but I was under the impression that my versions were matched. I'll try updating to a nightly. Can this be done on OSX thru pip, or do I have to install via source in Docker?

[2016-03-16 16:40] oweingrod commented on #1528
Found what seems to be the offending change.

https://github.com/tensorflow/tensorflow/commit/ee5326c99ad6e01b3b62dedb954923e11b513a83

in conv2d, there is no longer a data format operation.

@shlens , do you think this may be the cause of my error?

[2016-03-16 16:45] shlens commented on #1528
I am not aware of any changes in this code base. @petewarden but might be able to comment as well.

[2016-03-16 16:45] mrry commented on #1528
I think this change might be more likely to have caused the error you're seeing: https://github.com/tensorflow/tensorflow/commit/01a6f5e504d9299395888a786e52c589c16af529

If the graph for the model that you're retraining was regenerated *after* that change, and you're using TensorFlow version 0.7.1, then I'd expect to see that message. I'm not sure of the provenance of the trained model graphs tho

[2016-03-16 16:52] martinwicke commented on #851
@damienmg FYI

[2016-03-16 16:53] oweingrod commented on #1528
@mrry thanks for the prompt response! I'm using the bazel built inception graph retraining as described in the tutorial I linked to in my OP (the one recently written, I believe, by @petewarden). I'm assuming that it is the case that there is a discrepancy between the version of tensorflow used by bazel to build the inception graph for retraining, and my (likely slightly more recent) build that I

[2016-03-16 17:09] vrv commented on #1528
@shlens: did you regenerate the graph at the same time that you regenerated the checkpoint?  If so, you'll probably need to replace the graph with the old version.

[2016-03-16 17:15] petewarden commented on #1528
I believe from @mrry and @shlens comments that you should only see the message if the version used for retraining was more recent than the version that you're calling in classify_image.py. Looking at the code, the data_format attribute was added to Conv2d back on February 19th:
https://github.com/tensorflow/tensorflow/commit/898d26a1cef46c0848188e22ba4b435846649b6d

I believe the other commit ment

[2016-03-16 17:26] oweingrod commented on #1528
@petewarden I can't seem to find `tf.version` in the API, and when I attempt to use it in python, as `print tf.version()` or `print tf.version`, I get an error. Am I going about this in the wrong way?

Again, thank you so much for your prompt responses!

[2016-03-16 17:31] petewarden commented on #1528
@martinwicke can you help on the version printing?

[2016-03-16 17:43] oweingrod commented on #1528
@petewarden I discovered how to print. It's tf.__version__, not tf.version.

Anywho, I'm on 0.7.1 in classify.py. Is the example running on a different version?

[2016-03-16 17:43] orcaman commented on #498
Getting something similar. Any ideas?

[code]

[2016-03-16 18:15] andrewharp commented on #624
Closing due to lack of activity, reopen if still occurring.

[2016-03-16 18:15] #624 closed

[2016-03-16 18:34] vrv commented on #1528
I have a feeling the example was regenerated by accident using a newer version of TF that introduced new attributes.  If we used the old graph but a new checkpoint, I think things would work.

[2016-03-16 18:45] mrry commented on #1518
I think the answer is "probably no," but I'm still unclear on what you want the behavior of `????` to be. If you describe a high-level use case, we would consider a feature request.

[2016-03-16 18:49] oweingrod commented on #1528
@vrv I think you're right. How can I go about making sure that my tensorflow versions are correctly matched? They seem to both be on 0.7.1, but maybe the graph (before retraining the final layer) is based on 0.7.0?

[2016-03-16 18:50] oweingrod commented on #1528
Also, having a newer issue recently where I cannot access the "final_result:0" tensor after the graph has been retrained. TF tells me that it is not available or does not exist, but it _is_ specified as "final_result" in the `retrain.py` file. Any ideas?

[2016-03-16 18:52] vrv commented on #1528
I bet the new graph was built on a version *newer* than 0.7.1.  My guess if you installed one of the pip nightlies off the main github page, you might have better luck, but we should really fix the graph.

[2016-03-16 18:54] zhang8473 commented on #1518
I've updated the question and made it clear. I mean, instead of having a handle(pointer) to the session, if there is anyway to copy the session.

[2016-03-16 18:56] oweingrod commented on #1528
@vrv got it. So i'll update tensorflow to the absolute newest nightly, then retrain, then evaluate again on the absolute newest nightly. Fingers crossed!

[2016-03-16 19:12] oweingrod commented on #1528
@vrv Looks like updating to the newest version has solved this issue—it no longer crashes on Graph creation. However, it looks like something is up with the graph creation, because I'm still unable to access "final_result:0", which is supposed to be the final inference layer. Any ideas?

[2016-03-16 19:51] vrv commented on #1528
@shlens/@petewarden: deferring to you at this point, I've exhausted my knowledge of retrain.py :)

[2016-03-16 20:11] andrewharp commented on #1471
Here's the contents of my aapt_binary script:
#!/bin/bash -eu
SDK=${0}.runfiles/external/androidsdk
exec ${SDK}/build-tools/23.0.1/aapt

I'm not sure exactly what's going on, but it appears that on your system, "${0}" (the path to the current bash executable) is defined to be: `/root/.cache/bazel/_bazel_root/a492118e4b53c9510c58595e273faae6/tensorflow/bazel-out/host/bin/external/androidsdk/aapt_bi

[2016-03-16 20:31] petewarden commented on #1528
@oweingrod What's the exact error that you see when you run classify_image.py?

[2016-03-16 20:40] trentmccormick commented on #254
Thanks! I can confirm that it works with Ubuntu MATE on a Pi 3.

[2016-03-16 20:51] islamoc commented on #1471
The problem was in my system it is 64bit the aapt bin was 32bit I fixed the problem now I m getting this

[code]

[2016-03-16 20:57] oweingrod commented on #1528
@petewarden, problem has been solved. I accidentally deleted the `_ = tf.import_graph(graph, name='')` instead of commenting it. This resulted in me not being able to access the final result tensor. Thank you all so much for your help!

[2016-03-16 20:58] danbri commented on #254
I'm also successfully running @samjabrahams 's build on a Pi 3 (Linux raspberrypi 4.1.19-v7+ #858 SMP Tue Mar 15 15:56:00 GMT 2016 armv7l GNU/Linux).

https://twitter.com/danbri/status/709889859029213184

[2016-03-16 21:03] petewarden commented on #1528
Great to hear, let us know what you end up building!

[2016-03-16 21:03] #1528 closed

[2016-03-16 21:07] mrry commented on #1528
@petewarden or @shlens Is there some way one of you could generate a graph that's compatible with the current release and upload it? I predict other people will run into the same issue, and telling people that they have to use the nightly isn't great....

[2016-03-16 21:13] petewarden commented on #1528
The problem was that the image_retraining example (which loads in an old graph and writes out a new one) was run with a nightly build, and then later classify_image.py was run on that new graph with an older build of TensorFlow. So I don't believe this requires any changes to the graph. I'll stop by your desk to make sure I'm making sense!

[2016-03-16 21:23] andrewharp commented on #1471
Status 4 is an OOM issue. Try increasing your swapspace, giving bazel more memory/decreasing memory usage, or running fewer simultaneous jobs.

See http://stackoverflow.com/questions/34382360/decrease-bazel-memory-usage?rq=1 for more info.

[2016-03-16 21:54] mrry commented on #1528
It does make sense. Thanks Pete!

[2016-03-16 21:58] islamoc commented on #1471
I will try those recommendations and get back to you

[2016-03-16 22:10] islamoc commented on #1471
@andrewharp Thank you it worked :D with 2 jobs

[2016-03-16 22:15] #1471 closed

[2016-03-16 22:16] andrewharp commented on #1471
Awesome! Glad that did the trick :)

[2016-03-16 22:24] islamoc commented on #1471
@andrewharp one more question please can we build the project for Android 4.4.2 ?

[2016-03-16 22:41] andrewharp commented on #1471
We use the camera2 API in the official repo, which requires API 21+.

However, @hamidb has a fork of TF using the old android.hardware.Camera that should run on devices api 15+. See https://github.com/hamidb/tensorflow/blob/api20/tensorflow/examples/android/src/org/tensorflow/demo/CameraConnectionFragment.java for the relevant changes.

[2016-03-16 23:09] mrry commented on #1524
At present this doesn't work, unless you write some complicated code that uses `tf.transpose()` and `tf.gather()` (euch). @ebrevdo is working on generalizing the slicing code as part of #206, so I'll merge this issue with that one.

[2016-03-16 23:09] #1524 closed

[2016-03-16 23:33] mrry commented on #1511
I'm closing this for now&mdash;since there's no way to reproduce your error&mdash;but feel free to reopen if you can provide more details.

[2016-03-16 23:33] #1511 closed

[2016-03-17 00:02] nphippen commented on #42
I have the same issue, how do I run the terminal to execute... Mine is hung on the server, I can reach jupyter but would like to execute.

[2016-03-17 00:29] chemelnucfin commented on #813
Does this article help?
http://http.developer.nvidia.com/GPUGems3/gpugems3_ch39.html

[2016-03-17 02:18] petewarden opened #1530 "Internal Compiler Error with retrain tutorial"
Bryan Hynds reported this problem using one of our tutorials, in these YouTube comments:
https://www.youtube.com/watch?v=h7xuEiZjqqo

-----------------

I'm running into some problems with compiling.  I'm getting a compile error that's failing to build the target:

[code]

I've wiped the container and rebuilt it several times, and I can reproduce it every time I reach this point.  I'm compiling wi

[2016-03-17 02:20] vrv commented on #1530
INFO: From Compiling tensorflow/core/kernels/argmax_op.cc:
gcc: internal compiler error: Killed (program cc1plus)

typically means gcc ran out of memory I believe -- there are ways to give more 'resources' to bazel, but I don't know the incantation offhand.

[2016-03-17 02:22] petewarden commented on #1530
Thanks Vijay! Bryan, how much memory were you able to allocate to the VM in VirtualBox when you did that step?

[2016-03-17 02:22] bchynds commented on #1530
I have 4GB of RAM and 4 CPU cores allocated to my Boot2Docker VM.

[2016-03-17 02:26] MInner commented on #1449
there're few [more questions](http://stackoverflow.com/questions/35919020/whats-the-difference-of-name-scope-and-a-variable-scope-in-tensorflow) regarding this issue - and it's not me asking :)

and even after reading answers and @lfwin 's gist, I would rather not say that I understand the purpose of such scope diversity

could anyone give any practical recipe/code snippet illustrating those scope

[2016-03-17 02:37] bchynds commented on #1530
Yeah, it's definitely an memory issue.  dmesg output:
[code]

[2016-03-17 02:40] bchynds commented on #1530
I'm attempting with --local_resources 4096,4.0,1.0 to see if it'll complete.

[2016-03-17 02:47] bchynds commented on #1530
Failed again.  Bumping it down to --local_resources 2048,2.0,1.0 ...

[2016-03-17 02:54] bchynds commented on #1530
Failed.  Here's my free output if that helps:
[code]

[2016-03-17 02:59] vrv commented on #1530
I think you can pass -j 1 to prevent parallelism in the build that might help, or --ram_utilization_factor=50 or something lower than the default (67).  I don't know -- I'm grasping at straws at this point :(

(From http://bazel.io/docs/bazel-user-manual.html).

[2016-03-17 03:13] bchynds commented on #1530
Vijay, **-j 1** definitely slowed it down but it's still crunching through the compile.  I'll let it run overnight and check up on it in the morning.  Thanks for the tips and I'll keep you posted.

[2016-03-17 04:21] javadba commented on #23
It appears there were two parallel approaches here:  (a) SparkNet  and (b) gRpc using C++. Is that correct?  And both are also currently active?

[2016-03-17 04:57] JinXinDeep commented on #23
In my opinion, spark+tensorflow is mainly for data parallel, and are useful for samll scale networks. gRPC and tensorflow's distributed support would be more helpful for large networks.

[2016-03-17 05:12] javadba commented on #23
@JinXinDeep    Would you please clarify? Spark allows access to large clusters - potentially for each machine having GPU or many CPU's. So why do you say for small scale networks?

[2016-03-17 05:20] JinXinDeep commented on #23
@javadba sorry for the confusion, with "small networks" I mean the deep neural networks can not have too many model parameters, otherwise the communication time between machines will exceed the computation time, which means speedup is not high.

[2016-03-17 05:26] javadba commented on #23
@JinXinDeep  Thx for the clarification. Are model parameter sizes really that large - as in many MB?

[2016-03-17 06:00] ajaun commented on #1415
Until the bug has been fixed with protobuf, a cleaner workaround might be to follow @jonparrott in https://github.com/google/protobuf/issues/1296, namely to edit the source directory by

1. Adding a new file tensorflow/google/__init__.py:
[code]

2. Add namespace_packages to tensorflow/google/protobuf/python/setup.py:

[code]

3. Recompile / pip install. Good luck!

[2016-03-17 08:24] MisayaZ opened #1532 "why the tensorflow run slower on gpu than on cpu"
The tensorflow should run faster on gpu than on cpu , however, I got the opposite result. The time cost when running on gpu is longer than on cpu.The code is as below:

[code]

The variables such as weights4 and biases4 are restored from a trained model.

[2016-03-17 09:20] twimnox commented on #800
What was your learning rate? What kind of data are you feeding? Right now i'm doing similar changes to cifar10 model to my own 200x200 vegetation images classification. The datasets have some noise (mixed classes).

My model decreases from 11.6 loss to 3.6 loss after 2k, and then jumps to 300 at 3k and stabilizes at ~80.

My ILR is 0.07 and decay is also 0.07

[2016-03-17 09:27] kishankedia opened #1533 "zlib.error: Error -3 while decompressing: invalid block type"
I used pip to install Tensorflow . I ran the commands provided in the link https://www.tensorflow.org/versions/r0.7/get_started/os_setup.html#common-problems

The commands i Ran were :

sudo apt-get install python-pip python-dev
sudo pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.7.1-cp27-none-linux_x86_64.whl

Tensorflow got installed properly and a folder

[2016-03-17 10:10] shoc2005 commented on #1359
@kibtes just correctly provide path to cudnn libraries. For example in .bashrc file put line:
`export LD_LIBRARY_PATH="/path_to_your_cudnn/cuda/lib64":$LD_LIBRARY_PATH`
Then logout and login. Check path with command: `env | grep cundd`.

[2016-03-17 10:22] jplu commented on #1415
This works like a charm as well. Thanks!

I let the issue open, waiting for the final fix.

[2016-03-17 11:33] e3024650 commented on #42
**@sarahharun**  Hi i am having problem with running tensor flow in command prompt, i followed all your four point that u said to **@luling2010**, im still not able to get Linux shell to write python code, and execute tensorflow

[2016-03-17 11:39] e3024650 commented on #42
@sarahharun hi supporse if i want to run following code, how do i do it in jupyter
$ python...

Hello, TensorFlow!

42

[2016-03-17 13:07] zxvix opened #1534 "Error running example on gpu"
Running `bazel-bin/tensorflow/cc/tutorials_example_trainer --use_gpu` with latest development code results in:
[code]
What could be wrong with my gpu setting?

[2016-03-17 13:33] bchynds commented on #1530
Well, it took 25 minutes to compile, but using **--local_resources 2048,2.0,1.0 -j 1** completed successfully.  Thanks again. :)

[code]

[2016-03-17 14:34] mrry commented on #1532
This looks like a very small layer, and you're only running it once. I suspect the cost is dominated by session setup costs and transferring the constant data to the GPU.

Try running `predictions = sess.run(local4)` in a loop to understand the average step time in the limit. This will give you a better understanding of whether some code is more efficient on CPU or GPU.

[2016-03-17 14:34] #1532 closed

[2016-03-17 14:48] yenchenlin1994 commented on #288
Hello @girving
I guess there is a good reason why these functions are not included in the previous version,
would you please elaborate?

[2016-03-17 14:59] Mottotime commented on #22
:+1: I would like to contribute to this, too.

[2016-03-17 15:34] petewarden commented on #1530
Great to hear you're finally running, and sorry it took so long. I will update the YouTube comments, make a note in the next version of the tutorial, and close this for now.

[2016-03-17 15:34] #1530 closed

[2016-03-17 15:36] po0ya commented on #616
I'm facing the same problem as @yutachen when I call import_graph_def

[2016-03-17 15:37] sjperkins commented on #1517
@ibab @girving I believe [numexpr](https://github.com/pydata/numexpr) has to consider similar issues when dealing with conversion between between float32, float64, complex64 and complex128. A contributor suggested the use of a casting table, https://github.com/pydata/numexpr/pull/181 may provide more insight.

[2016-03-17 16:43] josh11b commented on #1517
I recommend writing a Python wrapper that sets Tout based on the input type.  We don't have a better mechanism than that at the moment.

[2016-03-17 16:44] girving commented on #1517
+1 to @josh11b.  @sjperkins: Since this can easily be handled at the Python wrapper level as @ibab described, we'd like to avoid complicated the low level GraphDef structure.

[2016-03-17 16:50] girving commented on #288
The only reason is limited resources. :)  They should clearly exist, so we'd love contributions in case we don't get to it in the near term.

[2016-03-17 16:54] dgolden1 commented on #1287
I attempted to test the current master (d868f1e8089b2cbee7c7c7f6b385dda9a13c1c7e) but now I can't even open a session; I get this error:

[code]

Which sounds like another Python 2 vs 3 issue, unrelated to tensorboard.

I'll try separately with the commit that included the `process_graph.py` patch, 9c7be1c.

[2016-03-17 16:56] jonparrott commented on #1415
FWIW, it's not a workaround. It's how things **should** be done. Do we need to push for protobuf to cut a new release?

[2016-03-17 17:01] mrry commented on #1533
Can you check whether the downloaded files are decompressible with `gunzip`?

[2016-03-17 17:15] jameswex commented on #1287
That is a separate python 3 tensorflow (but not tensorboard) issue that I believe is a known issue

[2016-03-17 17:28] dgolden1 commented on #1287
I can't test 9c7be1cf1c4f8cead83e8137a9d0718b657995af either because of yet another non-tensorboard Python 2 vs 3 issue.

On 9c7be1cf1c4f8cead83e8137a9d0718b657995af:

[code]

Maybe some Python 3 unit tests would be helpful?

I'll try this again in a few days when there will hopefully be a version that works on Python 3.

[2016-03-17 17:34] dsmilkov commented on #1287
So we have python3 tests, but they are not fully integrated yet requiring us to run them manually. A change yesterday broke python3 and fixes are on the way.

[2016-03-17 18:06] dgolden1 commented on #1287
Understandable, @dsmilkov, thanks for the explanation!

[2016-03-17 19:08] Ingwar commented on #616
I also get the similar error trying to restore graph with `tf.train.ExponentalMovingAverage`.  The error is `ValueError: graph_def is invalid at node u'conv1_1/bn/ExponentialMovingAverage/AssignMovingAvg': Input tensor 'conv1_1/bn/conv1_1/bn/moments/moments_1/mean/ExponentialMovingAverage:0' Cannot convert a tensor of type float32 to an input of type float32_ref.`

[2016-03-17 20:28] martin-gorner commented on #908
Hi jeandut

Here is a snippet of code fo visualising convolutional layer, in my case it's of shape [5, 5, 1, 24] so you will have to adapt it to your case. I reformatted the 5x5 24-deep convolution kernel as a square grid of 25 5x5 images, the last one being just padding:

[code]

[2016-03-17 20:59] sherrym commented on #616
In general, please make sure that when you use import_graph_def(), you are in a fresh new graph, not the same graph. Something like this:

first_graph = tf.Graph()
with tf.Session(graph=first_graph) as sess:
   # build you graph
   # write your graph

second_graph = tf.Graph()
with tf.Session(graph=second_graph) as sess:
  # import from the written graph
  # run compute, etc

I will take a closer

[2016-03-17 21:21] kbrems commented on #1334
I pulled master today and I still have the same issue building pip package. I am on Ubuntu 14.04.
I have not interrupted bazel.
Note, a similar issue referred to a stale config file build_config.bzl, but that file is modified by ./configure, so it always appears to have been locally modified:

diff --git a/tensorflow/core/platform/default/build_config.bzl b/tensorflow/core/platform/default/build_c

[2016-03-17 21:21] benoitsteiner commented on #22
@bhack StreamExecutor provides functionality equivalent to that of the CUDA runtime and some of the CUDA libraries (such as cublas or cudnn). However you still need to write your GPU kernels, which is what we use Eigen for.

[2016-03-17 21:42] kbrems commented on #1334
OK, I figured out the issue. Something changed in protobuf. That does not come with a git pull.
I ran
git submodule update --init
then bazel clean --expunge

Then I can build.

[2016-03-17 22:08] jeandut commented on #908
Hi martin-gorner thanks for making this thread live on !!! By reading your code hastily I am kind of curious about what you are doing but will try it tomorrow for sure. However what intrigues me the most is the last line, where does Wtag come from ? Is it a way to make it evolve through time ? (like any othe summary except images that seem to be stuck)  Because in mark daoust's trick you already h

[2016-03-17 22:15] vrv commented on #1443
So what's the status of this.  Should we accept #1220 since that's going the ./configure route, or wait for bazel auto config?

[2016-03-17 22:19] kbrems commented on #1270
I built the pip package from master HEAD today and installed it. It now seems that the tensorflow_framework library is not being installed (or is not being installed or named the way the instructions say it is). Following the instructions on the tensorflow "Adding a New Op" -> "Building the Op library" -> "With TensorFlow binary installation"

$ set | grep TF_
TF_INC=/usr/local/lib/python2.7/dist-

[2016-03-17 22:28] jlebar opened #1535 "google.protobuf imports are resolving to /usr/local instead of TF's local copy"
### Environment info
Operating System: Current Goobuntu

TF commit 945a4b4cd12df0fdf3f0cc24b128bb4ce66ebf88
google/protobuf@fb714b3606bd663b823f6960a73d052f97283b74

### Steps to reproduce
    $ bazel run -c opt //tensorflow/python:default_platform__resource_loader_test

Results in

    Traceback (most recent call last):
      File "/usr/local/google/home/jlebar/.cache/bazel/_bazel_jlebar/b1c0b5b9

[2016-03-17 22:29] jlebar commented on #1535
+ @tra

[2016-03-17 22:40] sherrym commented on #616
For Pouya's problem:

When you constructed your input_map, consts() is a map of Tensors (if you print it out, you will see that your consts() are tensors):

<tf.Tensor 'Const:0' shape=() dtype=float32>

Assign Op requires that the first input be a ref type:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/state_ops.cc#L95

To make it work, just remove your input_map.

[2016-03-17 22:42] sherrym commented on #616
@yutachen's problem has the same root cause.

@ingwar, if you are passing in input_map as well, you problem probably has the same root case as well.

Sherry

[2016-03-17 22:50] sherrym commented on #616
If your problem is different from the ones encountered by @po0ya, @yutachen, and @ingwar, and you have followed my instructions, please include your complete program.

Thanks,
Sherry

[2016-03-17 22:52] jlebar commented on #1535
I can confirm that it works fine if I use a virtualenv.

[2016-03-17 22:52] rafaljozefowicz commented on #23
E.g. in this paper arxiv.org/abs/1602.02410 we trained LSTMs that have 200M+ parameters and 3B+ total parameters in some cases.

[2016-03-17 22:55] Ingwar commented on #616
@sherrym Thanks. No, I don't use `input_map`, I am trying to restore graph passed through `convert_variables_to_constants`. I'll try to post the script to reproduce the issue.

[2016-03-17 23:00] po0ya commented on #616
@sherrym First thank you for helping on this.
I'm a little bit confused. By removing the input map do you mean I change that line to just `tf.import_graph_def(g.as_graph_def())` ?

But in here  http://stackoverflow.com/questions/34343259/is-there-an-example-on-how-to-generate-protobuf-files-holding-trained-tensorflow/34343517#34343517 in step 4 @mrry says "use the input_map argument to replace eac

[2016-03-17 23:02] keveman commented on #1535
Yes, either use a virtualenv, or have the necessary version (currently 3.0.0b2) of protobuf installed system wide (via sudo pip install protobuf==3.0.0b2)

[2016-03-17 23:05] vrv commented on #1535
FWIW, I think we need to find a better solution to our protobuf issues, in light of deeper issues like #1415

[2016-03-17 23:08] sherrym commented on #616
Assigned to @mrry since he wrote the instructions. :)

[2016-03-17 23:22] keveman commented on #1535
Leaving this open until some solution emerges.

[2016-03-17 23:40] keveman commented on #1270
The website is lagging behind the documentation from HEAD. Can you please follow the instructions here : https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/adding_an_op/index.md

[2016-03-18 00:29] benoitsteiner commented on #813
@ibab The TensorReduction.h code is very optimized and therefore pretty complex. A simpler operation that you could use as a template is TensorReverse.h (which reverse the order of the coefficients along one or more dimensions) or TensorShuffling.h (which reorders the dimension - this is a transposition in the 2d case)

[2016-03-18 00:35] mrry commented on #1533
I'm assuming that [this question on Stack Overflow](http://stackoverflow.com/questions/36055090/zlib-error-error-3-while-decompressing-invalid-distance-code) is related. It does sound like something is corrupting your files as you download them (since `gunzip` isn't working). Can you try downloading the files using `wget` or `curl` and ensuring that they work this way?

[2016-03-18 00:55] bhack commented on #22
@benoitsteiner So is it still needed to write two kernels, one for CUDA and one for Opencl?

[2016-03-18 01:47] MisayaZ commented on #1532
@mrry  I think It makes sense, thank you.
I also got another problem, the first code is as below:
`with tf.device('/gpu:0'):
    local3_value = np.load("local3.npy")
    weights4 = np.load("weights4.npy")
    biases4 = np.load("biases4.npy")
    weights3 = np.load("weights4.npy")
    biases3 = np.load("biases4.npy")
    with tf.variable_scope('local3') as scope:
        local3 = tf.matmul(local3_v

[2016-03-18 01:50] MisayaZ opened #1538 "Why does one graph affects the cost of the other graph althongh the two graphs do not have any relationship?"
I have got a strange problem, the first code is as below:

[code]

The duration is 0.244572162628

The second code is as below:
[code]

The duration is 0.0679910182953

The only difference between these two codes is the local3 layer. Why the graph of local3 affects the cost of graph of loca4? These two graphs do not have any relationship.

[2016-03-18 02:01] jlebar opened #1539 "[clang+CUDA] No ZeroesLike[DT_BOOL] kernel"
I'm working on getting tensorflow to build its GPU code with clang.

I have a hacked up crosstool, a hacked up clang (for std::complex support), and some minor changes to eigen (which are awaiting review).  The branch is at jlebar/tensorflow@cuda-clang, but checking that out isn't sufficient, because you need to customize some paths to make crosstool happy.  Anyway you don't have my WIP compiler c

[2016-03-18 02:02] jlebar commented on #1539
\+ @keveman

[2016-03-18 02:17] vrv commented on #1539
I believe that test should not be run on GPUs.  @zffchen78.

I believe those tests are specifically not in the gpu-enabled test set: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/BUILD#L1143

Do you know why it's trying to load the GPU for you?

[2016-03-18 02:27] samjabrahams commented on #254
Since #445 is now closed, I'm going to post progress and updates for running TensorFlow on Raspberry Pi here. I did some [very basic benchmarking on the Inception-v3 model](https://github.com/samjabrahams/tensorflow-on-raspberry-pi/tree/master/benchmarks/inceptionv3) to explore whether the build is working properly. Interestingly, the Pi appears to have similar performance to a MacBook Pro when it

[2016-03-18 02:40] kishankedia commented on #1533
@mrry I am the one who has asked the question in Stackoverflow . There was a problem with the file . I downloaded it again and then it started working . Thnaks for your Answer .

[2016-03-18 02:40] #1533 closed

[2016-03-18 03:58] jlebar commented on #1539
Hm, no idea -- I'm totally new to the codebase.  It's possible that our horrible crosstool hack doesn't quite work right; that's the only interesting change here...  Is the decision about whether the test is running on the GPU vs CPU made at compile time?  How is that decided?  Should -DGOOGLE_CUDA=1 not be passed when we compile this file?

(This would be a lot easier if I could switch between di

[2016-03-18 04:05] vrv commented on #1539
use --platform_suffix=clang_cuda so bazel chooses different output directories for temp files, and then you can switch between them without problems :)

Building unconditionally with -DGOOGLE_CUDA=1 on every file is likely to be a problem -- you should see some of the tensorflow.bzl rules like tf_cuda_library to see how we conditionally build some targets with -DGOOGLE_CUDA

[2016-03-18 04:07] jlebar commented on #1539
OK, that's probably the problem, thanks, I'll have a look tomorrow.

[2016-03-18 05:08] markusdr commented on #672
`partial_run` is a very useful feature!

Just to make sure I understand correctly:

In the following toy code, when I first derive `tmp` using `partial_run` and then compute the `cost` and `gradient`, is `tmp` only computed once and then reused multiple times?

    import tensorflow as tf

    w = tf.Variable(1.0)
    init = tf.initialize_all_variables()

    x = tf.placeholder("float")
    slow =

[2016-03-18 06:06] #1293 closed

[2016-03-18 06:10] #1522 closed

[2016-03-18 07:39] ritsu1228 opened #1541 "Loading tensorflow before scipy.misc seems to cause imread to fail"
If I load `tensorflow` before loading `scipy.mics`, `scipy.misc.imread` seems to return `PIL.JpegImagePlugin.JpegImageFile`.

E.g. if I write

[code]

`im` will be something like `array(<PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=178x218 at 0x7F85ED8AA050>, dtype=object)`.

However, if I write

[code]

`im` will be a normal `array` with `dtype=uint8`.

Why loading `tensorflow` first cau

[2016-03-18 08:46] martin-gorner commented on #908
Sorry, Wtag is just a string placeholder. It's the tring tensorboard will display in ints output as a caption for the image. I modified the code to make it explicit. I feed it in the training loop with something like W1_iteration_####

[2016-03-18 08:55] martin-gorner commented on #908
For your case, I would try something like this (I have not tested it):
You have 32 color (3-deep) kernels of size 5x5. The shape of your W1 is [5, 5, 3, 32].
So I would try to display the 32 kernels in a 6x6 grid. That's 36 slots so you will have to add 4 zero kernels for padding.

[code]

[2016-03-18 08:58] jeandut commented on #908
Oh in this case I would have an update of look of the weights throughout the training thanks @martin-gorner ! Good answer probably the one closest to what I have been asking for however I am not closing this issue though as I still feel a bit unsatisfied of the look of the results in terms of display.

[2016-03-18 09:17] damienmg commented on #1443
I think you should accept #1220, bazel auto config is going to be in next bazel release but you probably don't want to stick to the latest bazel (and also have it a bit more tested before it goes live).

[2016-03-18 09:25] BENMFeng commented on #842
+1

[2016-03-18 09:56] e3024650 commented on #42
Hi i am able to open a jupyter notebook and want to execute the above code in it. can somebody tel me how to execute the above code in jupyter notebook

[2016-03-18 10:07] SeveQ commented on #42
@e3024650 Just paste it into a Notebook cell and execute the cell? We can't tell you anything unless we know what your problem is.

[2016-03-18 10:11] e3024650 commented on #42
@SeveQ Thanks for the reply, wrote above code in notebook cell and clicked on run button, button i am not able to see the output. i want to see the output of the above code.

[2016-03-18 10:16] SeveQ commented on #42
Do you see any output at all? Is the notebook kernel running and set as a python2 or python3 kernel?

[2016-03-18 10:20] e3024650 commented on #42
No i dont see any output when i click on run button, instead i see one more cell getting created at below,

![image](https://cloud.githubusercontent.com/assets/17902985/13874981/1af171b4-ed21-11e5-977d-d04ebbf1ddbf.png)

[2016-03-18 10:23] SeveQ commented on #42
Looks like the cell isn't executed. Select the cell and press CTRL+ENTER or SHIFT+ENTER. That's the shortcut for execute (respectively execute+select next cell)

[2016-03-18 10:26] SeveQ commented on #42
Oh... I've just realised... it seems your Notebook isn't connected to the kernel (the disconnection symbol in the upper right corner next to "Python 2"). You have to check why your Notebook isn't running properly. Any chance that we get to see the console output of your Jupyter session?

[2016-03-18 10:27] saustar opened #1542 "Target //tensorflow/examples/android:tensorflow_demo failed to build"
ERROR: /home/saurabh/Downloads/tensorflow/tensorflow/examples/android/BUILD:43:1: Linking of rule '//tensorflow/examples/android:libpthread.so' failed: arm-linux-androideabi-gcc failed: error executing command
  (cd /home/saurabh/.cache/bazel/_bazel_saurabh/b5e3c50abcfa34dcecd4eb2855a378fe/tensorflow && \
  exec env - \
  external/androidndk/ndk/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-

[2016-03-18 10:30] SeveQ commented on #42
Should look like this:
![firefox_2016-03-18_11-29-10](https://cloud.githubusercontent.com/assets/743912/13875210/dc316f52-ecfc-11e5-8dff-cc49e29635fd.png)

[2016-03-18 10:32] e3024650 commented on #42
I tried with the following options,
![image](https://cloud.githubusercontent.com/assets/17902985/13875229/b0368e98-ed22-11e5-868f-1b88f6fdd654.png)
But Soon its getting disconnected , not able to withstand the connection.

[2016-03-18 10:33] SeveQ commented on #42
Weird... what does the output of the `jupyter notebook` command at the command line say?

[2016-03-18 10:39] e3024650 commented on #42
I dont see the output of the jupyter notebook command at the command line, where we get to see the output if everything runs fine ?

[2016-03-18 10:41] SeveQ commented on #42
I'll have to install Docker and the container on my machine again to check... will take some time. If anyone else could help in the meantime...

[2016-03-18 10:47] e3024650 commented on #42
ok no problem, i will try fixing it. meantime if anybody know the solution for this problem, it would be great !! Thanks you for your time @SeveQ

[2016-03-18 10:54] SeveQ commented on #42
This is what my `docker run` command looks like. Seems something was changed since I don't have to run `jupyter notebook` manually anymore (IIRC there was only a command prompt like `root$ ` or something couple of months ago).

![cmd_2016-03-18_11-51-56](https://cloud.githubusercontent.com/assets/743912/13875765/1842c074-ed00-11e5-9a26-21630e97a527.png)

What does your output of `docker run` say?

[2016-03-18 11:00] e3024650 commented on #42
This is how my windows command prompt looks like,
![image](https://cloud.githubusercontent.com/assets/17902985/13875877/792bc6ee-ed26-11e5-87c5-90f95e9cec90.png)

i dont think their is any error in the cmd promt

[2016-03-18 11:08] bhack commented on #22
@benoitsteiner So don't you still have a tensorflow/tensorflow/stream_executor/opencl/ counterpart internally? What about "Canned operators"?

[2016-03-18 11:21] SeveQ commented on #42
Hmm... the restarts and interrupts and closes have all been executed manually by yourself?

[2016-03-18 11:36] danbri commented on #254
All I had time to try so far was default output of raspiutil via the Python wrapper code. I started trying to build the C++ but didn't finish yet. For realtime camera access (staying within python) I believe http://picamera.readthedocs.org/en/latest/api_camera.html would be the way to go. The camera needs some warmup time to judge light balance, I read.  And I didn't break down the python timings

[2016-03-18 11:49] andrewharp commented on #1542
Hi, what exact command are you using to build? What versions of Bazel and the Android NDK are you using?

It appears you're having an issue linking in the dummy pthread target. Does it work if you comment out the libpthread.so dependencies in tensorflow/examples/android/BUILD, and also remove "-lpthread" from LINK_OPTS in google/protobuf/BUILD?

[2016-03-18 12:09] saustar commented on #1542
bazel version
Build label: 0.2.0-jdk7

Android NDK r9

if I comment out all the libpthread.so from BUILD files I get following
error. I was getting this error when I used Android NDK r11:
ERROR:
/home/saurabh/.cache/bazel/_bazel_saurabh/b5e3c50abcfa34dcecd4eb2855a378fe/external/re2/BUILD:9:1:
C++ compilation of rule '@re2//:re2' failed: arm-linux-androideabi-gcc
failed: error executing command
  (

[2016-03-18 12:36] andrewharp commented on #1542
Are you saying that using NDK r9 with the lines commented out, you get the same error as with r11 without having commented them out?

It seems like a general environment problem. Do you get any more info when you build with --verbose_failures?

@lberki, do you have any ideas? It seems similar to https://github.com/bazelbuild/bazel/issues/698, but this is happening with Bazel 0.2.0

[2016-03-18 12:40] saustar commented on #1542
Yes you got my point right.

I get many warnings also:

bazel build //tensorflow/examples/android:tensorflow_demo --verbose_failures
WARNING: Bazel Android NDK crosstools are based on Android NDK revision
r10e. The revision of the Android NDK given in android_ndk_repository rule
'androidndk' is 'r9b'.
WARNING: Bazel Android NDK crosstools are based on Android NDK revision
r10e. The revision of the

[2016-03-18 13:15] martin-gorner commented on #908
And here is a sample output (first convolutional layer of a neural network training on the MNIST handwritten character recognition problem). The grid was photoshopped in and individual kernel visualisation assembled as an animated GIF:
![mnist7convsimplified_w1_best](https://cloud.githubusercontent.com/assets/959847/13878781/dec1a482-ed13-11e5-921a-37edf9f68f51.gif)

[2016-03-18 13:28] brantbzhang opened #1545 "why I use conv2d with padding='VALID' is more slow than SAME?"
I use cnn for text classification.Document max len:200;Embedding size:120
When I use conv2d with padding='VALID'.  127.6 examples/sec
When I use conv2d with padding='SAME'.  333.3 examples/sec

def cnn_model(X,prefix,is_train=False):
    with tf.variable_scope(prefix):
        with tf.device('/gpu:0'):
            embeddings = tf.Variable(
                tf.random_uniform([WORDS_NUM, EMBEDDING_SI

[2016-03-18 14:48] mrry commented on #1541
This sounds like an issue with your `pillow` (or possible `PIL`) installation. See the answer to [this Stack Overflow question](http://stackoverflow.com/questions/16612293/scipy-misc-imread-creates-an-image-with-no-size-or-shape) for a suggestion on how to fix it.

My guess is that a different version of some common library like `numpy` is being loaded when you load the modules in the two differen

[2016-03-18 14:57] mrry commented on #1538
Is the difference in duration consistent when you perform multiple calls to `sess.run()` in a loop? As I mentioned in #1532, the first execution of a subgraph does not have a representative execution time, because it must perform various setup tasks.

[2016-03-18 15:14] imikay commented on #500
The command above works for me too.

[2016-03-18 17:27] ritsu1228 commented on #1541
Thank you @mrry ! Actually I saw that post and tried the suggestion there but it didn't help. I am installing tensorflow on top of anaconda. I guess your thought is correct. I will try to figure this out. Before than I will just load `tensorflow` after `scipy`.

[2016-03-18 17:27] #1541 closed

[2016-03-18 17:40] mrry commented on #1486
Looks like this fix is now live, thanks!

[2016-03-18 17:40] #1486 closed

[2016-03-18 17:42] mrry commented on #1482
Closing this, since it looks like `tf.foldl()` is the way to go here.

[2016-03-18 17:42] #1482 closed

[2016-03-18 17:44] mrry commented on #1474
I'm going to close this for now, since we can't reproduce. Let us know if you still have a problem with the up-to-date code.

[2016-03-18 17:44] #1474 closed

[2016-03-18 17:47] mrry commented on #556
Closing this, since it seems related to proxy settings that we can't reproduce. Let us know if you have any more problems.

[2016-03-18 17:47] #556 closed

[2016-03-18 17:53] mrry commented on #1173
Closing this issue, since the upgrade seems to have worked. Let us know if it didn't!

[2016-03-18 17:53] #1173 closed

[2016-03-18 19:50] mrry commented on #1518
Ah, ok. Right now there is no way to copy an entire session, and the best way to do what you're asking about is to use the `tf.train.Saver` to write out a `MetaGraphDef` proto, and import that into another session using `tf.train.import_meta_graph()`. This is still quite a new feature, but you can look at [the relevant tests](https://github.com/tensorflow/tensorflow/blob/df2ea2c8fb6fc2a653843ec521

[2016-03-18 19:50] #1518 closed

[2016-03-18 19:51] mrry commented on #1545
Assigning @zheng-xq as the most expert on GPU performance issues.

It would help to know which version of the code you're using, because @zheng-xq recently made some substantial performance improvements, so these numbers might be different at HEAD.

[2016-03-18 20:02] mrry commented on #464
Renaming this bug since the AdaGrad and Momentum optimizers should now work.

[2016-03-18 20:21] jas0n1ee commented on #851
Hi folks, I'm also working on building everything from scratch on tx1. There is lots of discussions here and also on nvidia developer forums. But by now I haven't seen any well summarized instruction besides that tk1's.  Can we start another repo or script file so people can work on it more efficient?

[2016-03-18 21:36] danmane commented on #1499
Closing this as a duplicate of https://github.com/tensorflow/tensorflow/issues/1377.
We're working on a fix and it should be in soon - as a workaround for now, you can right click on the equation and select the SVG renderer.

[2016-03-18 21:36] #1499 closed

[2016-03-18 22:04] fengmei commented on #622
solution works, thanks!

[2016-03-18 23:21] samjabrahams commented on #254
Thanks @danbri- I'm definitely going to take a closer look at the Python and C++ Inception code to see if there are any obvious differences in implementation between the two. I ran your image through my RPi directly in Raspbian and got the same results as I did with smaller images. My gut tells me that the Pi can do better that the performance we're getting, but I'm not sure if I should be looking

[2016-03-18 23:51] jlebar commented on #1539
Thanks, that's an improvement.  :)

But, sigh, bazel test seems to be stripping out LD_LIBRARY_PATH, even though the docs [1] say it doesn't.  So

    $ bazel test --config=cuda --platform_suffix=cuda -c opt //tensorflow/tensorboard/backend:server_test

fails because it can't find libcudart.so.7.0, but `bazel run` works fine.  --spawn_strategy=standalone doesn't help.

So for running all the CUDA

[2016-03-19 00:43] zhang8473 opened #1548 "How to add run name to TensorBoard?"
On my TensorBoard, the run name always shows as "." The Board put all of my runs under the same log path into one plot. How do I separate them by setting a run name? I did not find it out from your documentary.

![image](https://cloud.githubusercontent.com/assets/5016962/13895427/48971808-ed30-11e5-9f94-8be43e00252c.png)

How did you achieve this in your documentary?
![image](https://cloud.githubu

[2016-03-19 01:04] jlebar commented on #1539
...actually, I take it back, there are a lot more differences between clang and nvcc.  It would definitely be helpful to understand which are meaningful.  I was operating on the assumption that TF wouldn't do things so crazy that we'd reasonably expect a difference in behavior with different compilers, but maybe that's wrong.  :)

[2016-03-19 01:07] keveman commented on #1539
Interesting. I don't have to set LD_LIBRARY_PATH and bazel test runs for me. However @vrv had the same problem you are facing yesterday and we were unable to figure it out :(

[2016-03-19 01:51] zhang8473 commented on #329
Yes, very necessary, now I have to use matplotlib to make such plots.

[2016-03-19 02:49] skylarbpayne commented on #1421
I had this problem, but was specifying my path as "~/path/to/logs" -- once I swapped out "~" for the absolute path to HOME, it worked fine.

[2016-03-19 03:54] martinwicke commented on #1539
@damienmg is there something we're missing?

[2016-03-19 06:53] zkl99999 opened #1551 "tensorflow-0.7.1-cp35-none-linux_x86_64.whl"
sudo pip3 install --upgrade http://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.7.1-cp35-none-linux_x86_64.whl
tensorflow-0.7.1-cp35-none-linux_x86_64.whl is not a supported wheel on this platform.
Storing debug log for failure in /home/xxx/.pip/pip.log

[2016-03-19 06:54] zkl99999 commented on #1551
http://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.7.1-cp34-none-linux_x86_64.whl

[2016-03-19 07:04] zkl99999 commented on #1551
python 3.5.1   canot install    http://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.7.1-cp34-none-linux_x86_64.whl

[2016-03-19 07:04] zkl99999 commented on #1551
x86_64-linux-gnu-gcc -pthread -shared -Wl,-O1 -Wl,-Bsymbolic-functions -Wl,-Bsymbolic-functions -Wl,-z,relro -Wl,-Bsymbolic-functions -Wl,-z,relro -g -fstack-protector --param=ssp-buffer-size=4 -Wformat -Werror=format-security -D_FORTIFY_SOURCE=2 build/temp.linux-x86_64-3.4/numpy/random/mtrand/mtrand.o build/temp.linux-x86_64-3.4/numpy/random/mtrand/randomkit.o build/temp.linux-x86_64-3.4/numpy/ra

[2016-03-19 07:46] ecobost commented on #1548
You can get that by putting the event file in a folder called 'data' and running TensorBoard in the folder that contains data.
The idea is that you will create a folder called summary (or something like that) and store the summaries of different runs in different folders (so ./run1, ./run2, etc) and then when running TensorBoard in ./summary you can see results for different runs as 'run1', 'run2'

[2016-03-19 07:52] zdx3578 commented on #20
For this error
ImportError: libcudart.so.7.5: cannot open shared object file: No such file or directory

I have executed this command to solve it
sudo ldconfig /usr/local/cuda/lib64

[2016-03-19 08:31] zkl99999 commented on #1551
kl@dell:~$ sudo pip install --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.7.1-cp27-none-linux_x86_64.whl
Downloading/unpacking https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.7.1-cp27-none-linux_x86_64.whl
Cleaning up...
Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 122, in main
    sta

[2016-03-19 10:20] Rajendra-Gage opened #1553 "SSL certification error"
I install the SSL certification but still got this error

please notify what i have to do

/usr/bin/pip run on Sat Mar 19 15:15:43 2016
Downloading/unpacking https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.5.0-cp27-none-linux_x86_64.whl
Cleaning up...
  Removing temporary dir /tmp/pip_build_trutech...
**Exception:**
Traceback (most recent call last):
  File "/usr/lib/python2.7/dis

[2016-03-19 12:19] bhack commented on #23
/cc @robertnishihara that probably could give you a better overview of SparkNet target.

/cc @maxpumperla if interested in the thread

[2016-03-19 12:33] danbri commented on #254
Just to share the Python vs C++ links for others:

* https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/image/imagenet/classify_image.py
* https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/main.cc

[2016-03-19 14:32] maxpumperla commented on #23
Thanks @bhack, I was indeed missing out on the discussion.

[2016-03-19 16:44] #486 closed

[2016-03-19 18:31] robertnishihara commented on #23
Thanks @bhack! Indeed SparkNet is designed for data parallel training or data parallel use cases like featurizing data with an already trained net.

[2016-03-19 18:40] RasmooL commented on #1551
Your first error can be solved by making a virtualenv.

[2016-03-19 20:07] naono-git commented on #491
I use a linux machine for running TensorFlow, but I'm developing on MacBookPro (Early 2013) which has NVIDIA GeForce GT 650M. Though I have installed CUDA on my mac, TensorFlow wouldn't use GPU. Any support will help me quite a lot.

[2016-03-19 23:42] chemelnucfin opened #1558 "Cyclic dependency error on build"
On my laptop, I get a cyclic dependency error

### Environment info
Operating System: Ubuntu 15.10

If installed from sources, provide the commit hash:
fd464caaa40cfa16c81712939e39bd14d88c6fd4 (most recent HEAD as of this submission)

google protobuf commit
fb714b3606bd663b823f6960a73d052f97283b74

bazel version
Build label: 0.1.5
Build target: bazel-out/local_linux-fastbuild/bin/src/main/java/com

[2016-03-20 01:49] ecobost opened #1560 "Add name scopes (op_scopes) to tf.image ops so they look nice in TensorBoard"
For instance, this:

[code]

produces this:
![screenshot from 2016-03-19 19 33 06](https://cloud.githubusercontent.com/assets/9740006/13902377/f7b47c6a-ee0a-11e5-8ee4-06161b7ceaf1.png)
instead of something like this:
![screenshot from 2016-03-19 19 37 56](https://cloud.githubusercontent.com/assets/9740006/13902386/61696c38-ee0b-11e5-9230-9410c11a3fb1.png)

I know we can create the name scopes (tha

[2016-03-20 06:05] tejaskhot commented on #418
@girving @ebrevdo @sjperkins
I need to slice a tensor this way:
`matrix[row_indices, col_indices]` where `matrix` is a `mxn` tensor and `row_indices` and `col_indices` are int32 vectors of sizes `k` such that k is less than m and n respectively. I want to slice and obtain a length `k` vector eventually i.e. vectorized operation of `matrix[i,j]`

[2016-03-20 06:09] tejaskhot commented on #418
@girving @ebrevdo @sjperkins @hugman
I need to slice a tensor this way:
`matrix[row_indices, col_indices]` where `matrix` is a `mxn` tensor and `row_indices` and `col_indices` are int32 vectors of sizes `k` such that k is less than m and n respectively. I want to slice and obtain a length `k` vector eventually i.e. vectorized operation of `matrix[i,j]`
What would be an optimized way of doing this?

[2016-03-20 07:14] jtoy commented on #50
it looks like an early stage proposal. we should contact the sciruby team to make this a reality then.

[2016-03-20 07:48] nethsix commented on #50
Hey @jtoy . It is early stage. While we're awaiting applications from students to develop the Ruby tensorflow API, we're also researching into the best ways to do this. Our first steps would be to enable people to create a tensorflow graph using constants (scalar, matrices), and operations (add, multiply, etc.). Something along the lines of https://www.tensorflow.org/versions/r0.7/get_started/basi

[2016-03-20 08:52] sjperkins commented on #418
@tejaskhot `ravel_multi_index` above should do it

[code]

Note that `ravel_multi_index` only works with the static tensor shape inferred prior to running the expression tree. If your tensor shape is dynamic, `ravel_multi_index` will need to be updated to use `tf.shape()` during expression tree execution. [This](http://stackoverflow.com/questions/36035092/multi-dimensional-gather-in-tensorflow) St

[2016-03-20 09:29] ramsundhar20 commented on #37
+1

[2016-03-20 10:51] jmtatsch commented on #851
Imho we have to first solve the fundamental issue of the variadic templates not working with nvcc. Either the developers would have to do without those templates which is backwards and probably not going to happen or nvidia has to step up and make nvcc more compatible? In theory nvcc should already be able to deal  with your own variadic templates, but external e.g. STL headers won't "just work" b

[2016-03-20 12:42] zkl99999 commented on #1551
ubuntu14.04.4  python3.5 python2.7
sudo pip3 install --upgrade http://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.7.1-cp35-none-linux_x86_64.whl

finally  success,  in terminal, input  python3.4

[2016-03-20 13:24] JeremyCCHsu commented on #734
I have the same problem, and I can't solve it even after your I followed your suggestion.
Tensorflow actually runs, if no CNN modules are used.
(but without CNN, what's the point to use Tensorflow?)

==== Commands & Error Mesages ====
~$ python /usr/local/lib/python2.7/dist-packages/tensorflow/models/image/cifar10/cifar10_train.py

...
I tensorflow/core/common_runtime/gpu/gpu_bfc_allocator.cc:51]

[2016-03-20 14:08] JeremyCCHsu opened #1561 "Floating point exception (v0.7.1)"
I can import tensorflow, build graphs, but Tensorflow always fails during
`with tf.session(graph=graph) as session:
`
`
    tf.initialize_all_variables.run()
`

What's most strange is that if there are only simple tf.Variables, it works fine.
e.g.
`    b = tf.Varaible(tf.zeros((5,5)))`
This works.

But for variables like this
`    W1 = tf.Variable(`
`
        tf.truncated_normal(`
`
            sh

[2016-03-20 15:41] JeffBusterCase commented on #50
I was waiting for this \*^\*. I want contribute too(I have a intermediate level of ruby programming skill) but  I believe I can do it(help)

[2016-03-20 16:58] wenjiesha commented on #500
--ignore-installed six works for me as well. Thanks!

[2016-03-20 18:58] hsaputra commented on #5
I believe the Python API layer has lots of logic that the C++ layer API does not expose.
I was trying to follow JavaCpp path but at the end there will be lots of duplication code and will be hard to maintain consistencies when something change in the Python implementation.

Probably easier path is to use Jython as @saudet had mentioned before ...

[2016-03-20 19:02] bhack commented on #5
It was assigned in https://github.com/tensorflow/tensorflow/issues/476 to  @josh11b. If he is working on this doesn't make sense to use Jython.

[2016-03-21 00:57] trubin commented on #593
I am still getting the error in 0.7.1. See the following test that demonstrates the error:

import tensorflow as tf
from tensorflow.python.ops import control_flow_ops

OUTER_LOOP_MAX = 5
INNER_LOOP_MAX = 3

inner = tf.placeholder("float32", [INNER_LOOP_MAX])
outer = tf.placeholder("float32", [OUTER_LOOP_MAX])

X = tf.Variable(tf.zeros([1], dtype="float32"))

def outer_cond_func(c1, outer_acc, oute

[2016-03-21 01:34] sunshineatnoon commented on #25
I can't find the install guide including a fix for cuda 3.0, could someone point out for me? THX!

[2016-03-21 01:37] mrry commented on #616
I think the appropriate fix is to change the tensors that you're remapping in `input_map` from the (names of the) variables themselves to (names of) the *values* of the variables. I think you can achieve it by replacing the following loop:

[code]

...with this code:

[code]

[2016-03-21 02:13] jialrs opened #1563 "[Solved, please close it] cuda 7.5 and tensorflow 0.7.1 error: cuda_gpu_executor.cc could not open file to read NUMA node"
Hi, when test tensorflow after installation, I get the titled error.

In fact my cuda toolkit runs properly, and I can run all samples in it.
When run `import tensorflow as tf` and `hello = tf.constant('Hello, TensorFlow!')`, nothing is wrong and cuda libs can be found and loaded by tensorflow.

 BTW, my GPU is *GTX 980TI* and my os is *Slackware current 64*. Latest driver is installed.

Thanks.

[2016-03-21 02:24] Dringite commented on #25
printf "\ny\n7.5\n\n\n\n3.0\n" | ./configure

7.5 is the cuda version, 3.0 is the compute.

[2016-03-21 02:59] nethsix commented on #50
@JeffBusterCase Great! We can learn from one another and move this forward.

[2016-03-21 03:06] brantbzhang commented on #1545
commit 69a5419a61a37a2674b4e6573e9a51828c5d1e9f
Merge: b9e9c9a bc8d5fe
Author: Martin Wicke <martin.wicke@gmail.com>
Date:   Mon Mar 14 21:59:58 2016 -0700

    Merge pull request #1507 from chemelnucfin/quickfix

    quick python3 fix

Thanks!

[2016-03-21 03:25] fayeshine commented on #1029
I'll work on this

[2016-03-21 04:22] brantbzhang commented on #1545
I find that:
when I set conv2d kernel size with [2,EMBEDDING_SIZE,1,64] or [1,EMBEDDING_SIZE,1,64],it is very slow(113.2 examples/sec).
But when I set kernel size with [3,EMBEDDING_SIZE,1,64] ,it's 11502.3 examples/sec,100 times faster.

All padding with VALID.

[2016-03-21 04:34] hussam123 commented on #500
nothing works for me !

[2016-03-21 06:59] MisayaZ opened #1564 "Does custom Op run slower than inner Op?"
l want to incorporate an operation that isn't covered by the existing library, so I create a custom Op.
Howerver it run slowly. Does  custom Op run slower than inner Op? I have test on it by adding an new Op to do the same thing as matmul Op, the result is that the new op run slower than the exist matmul Op.

[2016-03-21 07:00] e3024650 commented on #42
Yes
Manually i have executed from the notebook interface, but still i am not able to get my kernel up!!
Due to which i am not able to run any code.

[2016-03-21 07:02] SeveQ commented on #42
That's really weird... I'm sorry, I can't help you much more with this as I can't tell why your kernel isn't coming up... I don't see anything in the message log that might point towards where the problem is...

Someone else maybe?

[2016-03-21 07:31] IvenHsu opened #1565 "Some problem about softmax"
Hi I have problem about the softmax

I use the Softmax_with_loss to train the VOC2007 image data set.
and image have been normal between -1,1.
but it have two experiment result.

network have 5 conv weight and 3 fully-connect
only train 2 image and batch size 1
learning rate = 0.005

In case 1:
initialize weight and biases arg stddev = 0.01
The loss continued to decline on very small value

In cas

[2016-03-21 12:40] ybbaigo opened #1568 "ResourceExhaustedError in translate example (with GPU)"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-03-21 12:49] islamoc commented on #1269
@syed-ahmed @andrewharp  please can you advise what changes have you done to make it work
1 - I changed the input_witdh and input_mean
2 - applied the workaround mentioned in #582

what else should I change for the names of the input and output layer

Thank You

[2016-03-21 13:22] syed-ahmed commented on #1269
@islamoc Hi, I did the following (you'll find some steps you already did, so ignore them :) )

- Get the latest tensorflow from git hub and build it using bazel.
- Find the coded_stream.h in the google/protobuf section of your tensorflow build and modify the 64 to 256 in the following line:

` static const int kDefaultTotalBytesLimit = 64 << 20;  // Change the 64 to 256 MB`

- Rebuild the tensorfl

[2016-03-21 14:25] sashaostr commented on #491
+1

[2016-03-21 14:48] RasmooL opened #1569 "[master] User op example doesn't work"
A recent change to remove the static linking in user ops seems to have broken them.
From the example:
`g++ -std=c++11 -shared zero_out.cc -o zero_out.so -I $TF_INC`
you need -fPIC to compile it:
`/usr/bin/ld: /tmp/ccvknfY4.o: relocation R_X86_64_32 against '.text' can not be used when making a shared object; recompile with -fPIC`

It used to be:
[code]
which no longer works since tensorflow_framew

[2016-03-21 15:17] jialrs commented on #1563
I find my kernel doesn't support NUMA. I solve this error after recompile.

[2016-03-21 15:28] alexeygrigorev commented on #86
The problem still seems to exist. Has there been any progress on this or related issues?

I also wonder if there are "finer grained issues"? Just to be able to follow the progress...

[2016-03-21 15:44] alexeygrigorev commented on #86
For me, using `GradientDescentOptimizer` instead of ada grad seems to solve the issue - now it runs on gpu (although it doesn't seem faster than cpu)

[2016-03-21 15:49] martinwicke commented on #86
Please file finer grained issues. It's clear that we need more GPU ops, but we'd love to understand which ones people are actually running into.

[2016-03-21 15:57] sriharrsha commented on #535
@mrry How much time and energy does an inference take on Android platform?

[2016-03-21 16:06] alexeygrigorev opened #1570 "AdaGradOptimizer on GPU (Making word2vec tutorial runnable on GPU)"
When I try running the [word2vec tutorial](https://www.tensorflow.org/versions/r0.7/tutorials/word2vec/index.html) on GPU, I get the following error:

[code]

It seems that the problem is with `AdaGradOptimizer`: when I replace it with `GradientDescentOptimizer`, I can run the code (see [here](https://gist.github.com/alexeygrigorev/ed884c433c495075f000))

Also see #86

[2016-03-21 16:33] mrry commented on #535
This depends a lot on the particular model that you are running. @petewarden would have better statistics than I do, but it's certainly plausible to run the Inception model for image recognition on an Android device.

[2016-03-21 16:50] petewarden commented on #535
To give you a rough idea, a small Inception model like the one used in the Android example can run in under a second on a mid-range phone like a Nexus 5, and will take two or three Joules.

[2016-03-21 17:03] sriharrsha commented on #535
@petewarden  Is it compulsory to include the graph in the apk itself / can we program to configure the graph after installing the apk and download the graph later on runtime.

[2016-03-21 17:23] AbDaniel commented on #491
+1

[2016-03-21 18:10] girving commented on #1029
@fayeshine: Thank you!  Let me know if you have questions.

[2016-03-21 19:18] bhack commented on #150
Ops are arriving with https://github.com/tensorflow/tensorflow/pull/1571/commits/784778e76d3f5fd75b9ec99138770795907f1616

[2016-03-21 19:48] benoitsteiner commented on #851
@jmtatsch At the moment, the version of cuda that is shipped with the tegra x1 has problems with variadic templates. Nvidia is aware of this and working on a fix. I updated Eigen a few weeks ago to disable the use of variadic templates when compiling on tegra x1, and that seems to fix the bulk of the problem. However, StrCat and StrAppend still rely on variadic templates. Until nvidia releases a f

[2016-03-21 20:27] yaoli opened #1574 "build offline documentation, how to?"
I've noticed the API doc in https://www.tensorflow.org/versions/master/api_docs/index.html is not complete. Is there a way to build a nice HTML based API *locally* that contains a complete documentation?

Basically the question is: how is this https://www.tensorflow.org/versions/master/api_docs/index.html being automatically generated? What's the magical command?

[2016-03-21 21:06] danmane commented on #329
As a temporary workaround, you can make the plot in matplotlib, and then inject it into a TensorFlow image_summary so that it will display an updated copy in TensorBoard.

[2016-03-21 21:11] zhang8473 commented on #329
....why not I directly go and see the plot made in matplotlib?

[2016-03-21 21:15] owang opened #1575 "da"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-03-21 21:21] vrv commented on #1575
mistake?

[2016-03-21 21:21] #1575 closed

[2016-03-21 21:22] vrv commented on #1563
I think this is a benign error, we'll try to maybe remove it.

@leary-google

[2016-03-21 21:22] #1563 closed

[2016-03-21 21:49] sherrym commented on #1551
Closing issue as it sounds like it has been resolved.

[2016-03-21 21:49] #1551 closed

[2016-03-21 21:54] RasmooL commented on #1569
I'm curious whether you don't have the undefined symbol error, or if you just missed it? :) I can only get it to build with -fPIC, but it has missing symbols.

[2016-03-21 21:57] benoitsteiner commented on #22
@bhack  Eigen enables you to write an expression that describes the computation you want to perform once, and automatically generate a kernel (which we call the evaluator) to evaluate that expression on CPU and another kernel to evaluate the expression on a CUDA device. Once we have support for OpenCL in Eigen (we're getting close), it will be possible to also generate the OpenCL kernel automatica

[2016-03-21 21:58] vrv commented on #1569
@keveman  to verify

[2016-03-21 22:27] trubin commented on #593
To be a little clearer, the error happens at graph construction time (see below). I'd be really excited to help solve this bug, but the last time I went down this path it turned out major changes were being made to the entire ControlFlow infrastructure. Could you let me know if that's the case again?

Thanks,
Tyler

Traceback (most recent call last):
  File "/home/tyler/code/Sphere/SideProjects/TK

[2016-03-21 22:38] girving commented on #1574
The gen_docs_combined script should build markdown, but I'm not sure about HTML.  @martinwicke?

[2016-03-21 22:41] sherrym commented on #1564
The performance is completely dependent on the implementation of your custom op.

[2016-03-21 22:41] #1564 closed

[2016-03-21 22:54] benoitsteiner commented on #1519
@mrry If I'm not mistaken, the broadcasts we need in the examples above are [30, 1, 1, 20, 1] for the first tensor, and [1, 20, 1, 1, 1] for the second one. For the first tensor, we could collapse the 2nd and 3rd dimensions together, and apply a  [30, 1, 20, 1] broadcast. For the second one, we could similarly reshape the tensor into a 3d tensor by collapsing the last 3 dimensions, and apply a [1,

[2016-03-21 23:18] yuanbyu commented on #593
Yes, we made some major changes to support nested loops.  There is no pending major changes in the pipeline for now.  You are welcome to take a look at this problem.

[2016-03-21 23:51] rryan commented on #386
@raingo I added a batched 1D FFT (and 2D/3D) in https://github.com/tensorflow/tensorflow/commit/784778e76d3f5fd75b9ec99138770795907f1616.

[2016-03-22 00:06] fayeshine commented on #1413
I've noticed grpc about this problem, and they've fixed it: https://github.com/grpc/grpc/issues/5853
Should I submit a PR to update the grpc commit version in tensorflow to include this fix ?

[2016-03-22 01:12] MisayaZ commented on #1564
@sherrym  the implementation of my custom op is exactly same as the matmul op, however the performance is different.

[2016-03-22 01:52] keveman commented on #1569
Sorry about closing without a comment. I did verify before closing that I could successfully load the op, I don't see the undefined symbol error. I am on Ubuntu 14.04. What platform are you seeing this error?

[2016-03-22 02:42] martinwicke commented on #1574
You cannot currently build html, but you can build the complete set of markdown, using [gen_docs.sh](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docs/gen_docs.sh).

[2016-03-22 02:42] martinwicke commented on #1574
Closing, please ping if you have trouble with gen_docs.sh.

[2016-03-22 02:42] #1574 closed

[2016-03-22 03:33] fayeshine commented on #1413
I tried to use this new version of grpc to build tensorflow, Now I can clone it behind the wall.
However there's another problem:

bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
ERROR: /home/wenjian/.cache/bazel/_bazel_wenjian/d25f05b3e081482e9605a49c384a6c89/external/grpc/BUILD:852:1: Label '@grpc//:src/cpp/common/core_codegen.h' is duplicated in the 'srcs' attr

[2016-03-22 04:04] #941 closed

[2016-03-22 04:51] ppwwyyxx commented on #1502
I'm trying out `batch_norm_benchmark.py` with NCHW layout and the performance seems to drop significantly.
I might not test it in the right way: I ran `run_graph()` with `shape=[8,128,128,32],axes=[0,1,2]`(NHWC) and then
`shape=[8,32,128,128], axes=[0,2,3]`(NCHW), on GPU, with `mode=py`. I saw a 30x performance difference.
Will this be fixed?

[2016-03-22 05:11] ebrevdo commented on #593
(I do suggest trying to get a PR in in the next couple of weeks, though)
On Mar 21, 2016 4:18 PM, "Yuan Yu" <notifications@github.com> wrote:

[2016-03-22 05:40] zhang8473 opened #1577 "TensorBoard: histogram charts sometimes duplicated"
I unclicked run1 and run2, but when I click on some variables, the run1 and run2 still show up. If I click on run1 and run2 again, five plots will be shown, with 2 of them repeated! By unclicking and clicking a run1, my board just messed up with more and more plots. This is a Google product? :-O

Screenshots:

![image](https://cloud.githubusercontent.com/assets/5016962/13942946/3a633a78-efb5-11e5-

[2016-03-22 06:18] fayeshine commented on #1029
@girving , tf.image.random_crop has changed to tf.random_crop.
And now this bug seems to be solved naturally.
I can use resize_images to correctly resize images using the following codes.

from tensorflow.examples.tutorials.mnist import input_data
mnist = input_data.read_data_sets('MNIST_data', one_hot=True)
import matplotlib.pyplot as plt
array = mnist.train.images[:10].reshape([10,28,28,1])
plt.

[2016-03-22 08:11] helenahan2015 commented on #42
@SeveQ, Thanks for this discussion and I finally launched tensorflow on Jupyter. But I failed to launch TensorBoard on Jupyter. I got the message: "You can navigate to http://0.0.0.0:6006", But I cannot open the url. Which IP address should I use?
![image](https://cloud.githubusercontent.com/assets/16149289/13945452/6b04b434-f048-11e5-9681-a7471b59644c.png)

[2016-03-22 08:16] SeveQ commented on #42
@helenahan2015 The IP is the one of your Docker VM which should be shown during the `FOR...` command which should be something like 192.168.99.xxx. The port is important too. You'll also have to forward the Tensorflow Board port through the VM. It should be possible to use multiple `-p xxxx:yyyy` parameters for `docker run`. In this case try adding `-p 6006:6006` and `-p 8888:8888` to the `docker

[2016-03-22 08:28] HellMood commented on #800
I used the normal learning rates (and parameters) from the standard CIFAR10 models. My way of successfully combating this problem was actually kind of working around it : Since i work with very suspicious and paradox data (difficult and human labeled), sometimes, due to contradicting information, there is a sequence of learning examples generating very high errors. So i simply reduced the batch si

[2016-03-22 08:48] RasmooL commented on #1569
I'm on Arch Linux, using a new binary install from http://ci.tensorflow.org/job/tensorflow-master-gpu_pip/.
gcc 5.3.0 and Python 2.7.11

Does it matter where the compiled .so is located? To be clear:
[code]

[2016-03-22 11:09] twimnox commented on #800
@HellMood  that is probably my problem. I'm also using difficult and human labeled data which in some cases might be mislabeled. If I decrease my learning rate from 0.07 to 0.02 the training goes on without loss peaks. I'm also using a small batch size (16 to 32). Using a 32 size will most probably induce my loss to sudden rise, agreeing with what you said about reducing the batch size to not stac

[2016-03-22 11:50] Froskekongen commented on #1300
Good stuff. How does float16 perform in training compared to, for instance, fixed point number representations with stochastic rounding? http://arxiv.org/abs/1502.02551

[2016-03-22 12:22] HellMood commented on #800
Yes, and guided by the evaluation values. If, for a binary classification task, the evaluation drops to "random" after a loss explosion, (eval(k) = 0.50) and i can ensure that before this happened, everything was okay (eval(k-1) = 0.99), then i reroll to model (k-1)

[2016-03-22 13:19] shawnLeeZX opened #1578 "Release GPU memory after computation"
Is it possible to release all resources after computation?

For example,

[code]

When the program is sleeping, I type `nvidia-smi`, and the memory is always occupied.

[code]

The behavior I have observed is that only after the program exit, the memory is released. It makes using multiprocessing hard. Suppose one process is waited on a lock for another progress to finish, and all two processes ne

[2016-03-22 13:52] marcdumon commented on #1498
I'm having the same problem. Did someone find a solution to make Tensorflow work with compute capability 2.1 GPU's ?

[2016-03-22 14:26] keveman commented on #1569
I tried the following :

    $ pip install -U http://ci.tensorflow.org/job/tensorflow-master-gpu_pip/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow-0.7.1-py2-none-any.whl
    $ python2
    Python 2.7.6 (default, Jun 22 2015, 17:58:13)
    [GCC 4.8.2] on linux2
    Type "help", "copyright", "credits" or "license" for more information.

    I tensorflow/stream_executor/dso_loader.cc:105] succe

[2016-03-22 14:56] vrv commented on #1578
Try passing "https://github.com/tensorflow/tensorflow/blob/30b52579f6d66071ac7cdc7179e2c4aae3c9cb88/tensorflow/core/protobuf/config.proto#L35" set to true as an argument to your Session's config arguments, it might help a little, though it won't release memory, it just allows growth at the cost of some memory efficiency.

Alternatively, you could delete your session objects (which should release t

[2016-03-22 14:56] #1578 closed

[2016-03-22 15:02] RasmooL commented on #1569
Hmm, I can't say why it doesn't work. ctypes.RTLD_GLOBAL is indeed 256.
Anyways, I tested on a Ubuntu 14.04 machine with Python 2.7.6 and gcc 4.8.4, where the custom op indeed loads just fine. It could be an issue with newer Python/gcc?

[2016-03-22 15:07] girving commented on #1029
Aside: When you paste code format it by indenting four spaces; otherwise the code's indentation will go away.

In the code you've shown the sizes are statically known since `images` comes from `convert_to_tensor`.  To exhibit the bug you'll have to make a `tf.placeholder` with no shape so that shape inference doesn't kick in.

[2016-03-22 15:39] RasmooL commented on #1569
Indeed, on the Arch machine:
[code]

[2016-03-22 15:48] lukemetz commented on #1502
Hmm I actually just ran into this locally on my own cnn models. (Didn't think about that benchmark though.) I did a quick profile with cuda and found `reduce_sum`'s being the big killers in performance (Slowdown's occur in the `batch_normalize` function as well as the `moments` calculation.)

[2016-03-22 15:51] vincentvanhoucke commented on #1502
@benoitsteiner, a few reports of very poor reduction performance for some layouts (see benchmark above). Can you triage or investigate?

[2016-03-22 15:53] vincentvanhoucke commented on #1502
@ppwwyyxx @lukemetz if you could confirm which version you're using as well. I know that a lot of work has gone into improving reductions recently, so if you're not using the head of the tree I'd love to get confirmation that this is still an issue.

[2016-03-22 16:12] lukemetz commented on #1502
@vincentvanhoucke I updated yesterday morning (63409bd23facad471973b110df998782c0e19c06).

[2016-03-22 16:26] dgolden1 commented on #1287
I can confirm the graph can now be visualized properly in f952246b1756242926d47091d09ceb7c7b963269. Thanks for working on this!

[2016-03-22 16:26] #1287 closed

[2016-03-22 16:41] ppwwyyxx commented on #1502
I compiled just now. And use the following main() function in `batch_norm_benchmark.py`:
[code]
output:
[code]

[2016-03-22 16:42] lukemetz opened #1581 "Odd error message for empty session run with queues"
I have encountered a counter intuative error when working with queues and accidental `sess.run([])`.
This is a stretch, but possibly related to #1277 where batch norm updates are being run but there is no batch norm in the graph.

### Environment info
Operating System: Ubuntu 14.04, tf version (63409bd23facad471973b110df998782c0e19c06) with cuda.

### Steps to reproduce
[code]

As expected, when `

[2016-03-22 17:17] jrruijli commented on #288
What about using tf.nn.top_k, with k the number of elements in the (flattened) tensor? While possibly inefficient, it works.

[2016-03-22 17:31] benoitsteiner commented on #1502
In the first case (reduction axes = [0, 1, 2]) we have an optimized implementation leverages the gpu fairly well. In the second case (reduction axes = [0, 2, 3]), we use a basic approach that currently leverages few cuda threads to perform the reduction. This is why the second case is much slower. I'll see what can be done to improve the second case.

[2016-03-22 17:40] ppwwyyxx commented on #1502
I think batch normalization in cudnnv4 uses NCHW layout, and I suppose that will be fast. Not sure if you have plan to integrate those into tensorflow?

[2016-03-22 19:26] j-towns commented on #1142
Are you planning to fix this for Python 3.3 and 3.5 (which you claim to support)?

[2016-03-22 19:34] vrv commented on #1142
We do support python 3.3 and 3.5 in that TensorFlow does work with them when compiled from sources.

However, since I suspect you mean provide pre-built pip wheels for 3.3 and 3.5 -- that is indeed what we would like to do, but we have not gotten around to yet.

[2016-03-22 19:58] j-towns commented on #1142
Would be greatly appreciated if you could do this, I need to test a project which uses TensorFlow on Travis CI and don't want to have to build TensorFlow for each Python version every time I test.

[2016-03-22 20:28] mrry commented on #1581
I think this is "intended behavior" for calling `sess.run([])`: although its use is not recommended, it runs all of the ops in the graph. This would include the enqueue, dequeue, and close ops for the queue created in `tf.train.shuffle_batch_join()`, leading (non-deterministically) to the error you saw).

I don't think any well-formed programs rely on the behavior of `sess.run([])`, and it can't p

[2016-03-22 20:55] keveman commented on #1569
Can you try building with gcc 5, but with `-D_GLIBCXX_USE_CXX11_ABI=0` , like so :

    g++-4.8 -std=c++11 -shared zero_out.cc -o zero_out.so -I $TF_INC -fPIC -D_GLIBCXX_USE_CXX11_ABI=0

[2016-03-22 21:13] ricochet2200 opened #1582 "Crash on retraining flowers"
I am following the tutorial [How to Retrain Inception's Final Layer for New Categories](https://www.tensorflow.org/versions/master/how_tos/image_retraining/index.html) but am getting this error:
[code]

### Environment info
Operating System: OSX  10.11.1 El Capitan

I've installed from source from this commit `ad1d98011ebc`.  I ran `./configure` with the default answers and followed [these build i

[2016-03-22 21:15] RasmooL commented on #1569
Yes, the ABI was the issue, it works with that flag on gcc 5. Good one :)

[2016-03-22 21:44] JackSullivan commented on #498
@orcaman @Archivus I was having the same issue after installing tensorflow from bazel, on mac. I fixed it with
[code]
ie. Uninstalling both tensorflow and protobuf, then reinstalling

[2016-03-22 21:55] keveman commented on #1569
Glad it worked. Added a note to the documentation. #1584

[2016-03-22 21:55] #1569 closed

[2016-03-22 22:05] lukemetz commented on #1581
Makes sense. Didn't realize that this was supposed to do anything. The call occurred by accident when manually triggering non existent batch norm updates and was rather annoying to track down. I will close.

[2016-03-22 22:05] #1581 closed

[2016-03-22 22:33] Ingwar commented on #616
Sorry for delay, here is the gist that reproduce my issue: https://gist.github.com/Ingwar/3b8a7232f4cb906ff1f0. I can open separate issue, if needed.

[2016-03-22 22:50] jackpaparian commented on #1282
Hi,

I tried to build the zero_out op example from the "Adding a New Op" tutorial, and I'm getting the same errors that MisayaZ got. It looks like the version of Protobuf (protobuf-3.0.0b2) that came with TensorFlow is newer and incompatible with the Protocol Buffer headers used in op_def.pb.h.

Any idea why there's an inconsistency with the versions of Protobuf? Thanks!

[2016-03-22 22:54] po0ya commented on #616
@mrry thanks, this made the error go away, however I'm not getting consistent results when I run:

    def load_graph(filepath):
        """
        Loads a saved tensorflow model
        :param filepath: path to the saved model
        :return:
        """
        with gfile.FastGFile(filepath,'rb') as f:
            graph_def = tf.GraphDef()
            graph_def.ParseFromString(f.read())

[2016-03-22 23:28] girving commented on #1329
`configure` hack complete.  I'll send it for review soon.

[2016-03-22 23:40] sherrym commented on #1582
Could you try passing in the following argument:

bazel-bin/tensorflow/examples/image_retraining/retrain --train_batch_size=1 --image_dir ~/flower_photos

Sherry

[2016-03-23 00:28] danmane opened #1586 "TensorBoard prints warning: TAG not not found"
On start, TensorBoard prints the following message:
[code]

This issue is harmless but distracting.

[2016-03-23 00:33] danmane opened #1587 "TensorBoard doesn't handle ~ in paths properly"
Right now, TensorBoard does not properly evaluate a path beginning with `~` (at least on mac). Example:

[code]

[2016-03-23 01:06] eriophora opened #1588 "Slicing sparse tensor"
There does not appear to be a way to extract a (sparse or dense) slice from a sparse tensor in the same manner as there is from a dense tensor. Will this be a feature in the future, or is it already present and I'm just missing something? Perhaps it should be added to the planned improvements for indexing.

[2016-03-23 01:25] eriophora commented on #1588
To expand on this, I'd like to be able to construct (ultimately dense, but this is irrelevant) subtensor from a  much larger, sparse tensor that's far too large to fit into memory. In numpy, this is something like having:

[code]

And wanting to extract the subtensor formed by the 2nd (i.e., index 1) and 4th row with the 2nd and 3rd column:

[code]

Ultimately, the batches of the network I'm train

[2016-03-23 01:50] helenahan2015 commented on #42
@SeveQ Thank you very much! As you said, use cmd _docker run -it -p 8888:8888 -p 6006:6006 b.gcr.io/tensorflow/tensorflow_ and it works now.

[2016-03-23 01:51] shawnLeeZX commented on #1578
How could I delete a session object in python?

I tried

[code]

But when the program is sleeping, it still occupies memory.

Also, could you provide the line that configure session to use `allow_growth`?

I tried

[code]

and got this error report

[code]

Note that this time I used a tensorflow compiled from source, since the 0.7.1 release does not have `allow_growth` option yet.

[2016-03-23 02:26] jackpaparian commented on #1282
I originally had the same error as MisayaZ, but it went away when I removed an old Protobuf package that I had installed with yum (I installed TensorFlow and its Protobuf dependency with Pip).

Now I'm getting a different error when I try to compile the ZeroOut Op from the "Adding a New Op" tutorial. This is my error:
In file included from /home/jpaparia/anaconda2/lib/python2.7/site-packages/tenso

[2016-03-23 02:49] danmane commented on #1560
Thanks for filing this with a clear example and description of the issue! :+1:  If you feel like taking this on yourself and submitting a pull request, that would be very welcome

[2016-03-23 04:57] JeremyCCHsu commented on #1561
Problem solved after my server administrator purged all cuda/cudnn versions and reinstalled cuda-7.5/cudnn-v4. It's possible that some of the files got mixed up so that Tensorflow had difficulty locating consistent files.

[2016-03-23 04:57] #1561 closed

[2016-03-23 05:07] tj2013 commented on #491
+1

[2016-03-23 06:59] e3024650 commented on #42
@helenahan2015 Hi Let me know how u r executing tensorflow i,e R u executing tensorflow through windows cmd prompt or Jupyter Notebook which gets hosted at docker host address.

[2016-03-23 07:21] e3024650 commented on #42
Hi I have a question : I downloaded tensorflow image from (docker pull   b.gcr.io/tensorflow/tensorflow)
docker hub, i was able to see the list of docker images by (docker images) commad. But next time when i issues docker images command in the terminal i was not able to see the tensorflow images in the container. Any idea why i am not able to see the downloaded image.

[2016-03-23 07:49] e3024650 commented on #42
Hi All, Now i am able to run python commands in docker terminal by following these instruction given in this url (https://bishnusarker.wordpress.com/2015/11/11/how-to-install-google-tensorflow-in-your-windows-machine-using-docker-image/) in windows mcahine, earlier we had some issues were we are not able to run the python commads in docker terminal and istead we are notebook app. with this you guy

[2016-03-23 08:00] e3024650 commented on #42
![image](https://cloud.githubusercontent.com/assets/17902985/13979020/7155f542-f0fb-11e5-94a5-cac9c73606a8.png)

[2016-03-23 09:02] bhack opened #1592 "Binary ops"
Is there already a plan to add binary ops like bitcount for [XNOR-NET](http://arxiv.org/abs/1603.05279)?

[2016-03-23 09:40] jtoy commented on #211
just ran into this, anyone working on it?

[2016-03-23 09:51] hassanabidpk opened #1593 "Android Camera Demo : Failed to build on Mac OS due to missing file ../darwin-x86/bin/arm-linux-androideabi-gcc"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-03-23 10:02] tamhd opened #1594 "Install from sources: Error: can't copy 'tensorflow/python/pywrap_tensorflow.py': doesn't exist or not a regular file"
I recently tried to install Tensorflow on Ubuntu 14.10. I had cuda 7.0 and cudnn 3.0, so I had to install from sources following the instructions. I got "error: can't copy 'tensorflow/python/pywrap_tensorflow.py': doesn't exist or not a regular file" when building the pip package (with GPU support):

`$ bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg
`
So far, I have s

[2016-03-23 10:31] kshmelkov opened #1595 "using tensor as bool in cifar10 example"
Hello,

I have just recompiled TF to commit f952246 and got an error on cifar10 example. Line `if grad:` should be updated to `if grad is not None:` due to recent changes. Just minor stuff.

[2016-03-23 10:52] pputzky commented on #386
@rryan Thanks so much for your implementation. I tested your version of the batch_fft2, and I am afraid it does not return the expected results. There might be just a simple error in the transpose.

I have compared your batch version to the non batch version and numpy's fft2 in an ipython notebook. I have no idea how to upload the notebook here, so I have attached a PDF export of the notebook here

[2016-03-23 11:04] sesse commented on #1300
Base commit in 9d03824d6740be0c043c431566c917ec0cf6cf3f. There's still a lot of work left to be done, of course—it's not very useful yet.

Froskekongen: I don't know of any detailed analysis of float16 versus fixed16; it's probably going to be dependent on a number of factors including your model and compilation flags. TensorFlow supports quantized models for inference, but as far as I know not tr

[2016-03-23 14:13] bhack commented on #1300
Also some interesting "VBR" approach is emerging http://arxiv.org/abs/1511.06393

[2016-03-23 14:30] lekaha opened #1597 "Is it possible to make IPython able to plot with matplotlib as default?"
I am doing the assignment 1 of Deep learning course on Udacity. There is a problem to ask us to plot for checking the dataset.
I can not plot any figure with matplotlib initially (nothing happened). Then, looked for the solution on the internet. I found it should be with a line that will make IPython able to attach the figure:
`%matplotlib notebook` or `%matplotlib inline`

if we don't want to key

[2016-03-23 14:42] Kuntal-G commented on #715
I facing the same issue on Ubuntu 14.04.  My Workspace setting for Android SDK and NDK are  given below:

android_sdk_repository(
name = "androidsdk",
api_level = 23,
build_tools_version = "23.0.1",
# Replace with path to Android SDK on your system
path = "/home/kuntal/Android/Sdk"
)

android_ndk_repository (
name = "androidndk",
path = "/home/kuntal/knowledge/IDE/android/android-ndk-r10e/",
api_l

[2016-03-23 14:45] mrry commented on #1594
Just to check: have you installed `swig` on your machine? It has to be installed manually (via `apt-get`) and is reponsible for producing that file. (I would have expected a different error message though.)

[2016-03-23 14:45] girving commented on #715
This seems like the important bit.  It's unlikely to be an issue in tensorflow:

    src/main/tools/namespace-sandbox.c:558: mount(opt->mount_sources[i], full_sandbox_path, NULL, MS_REC | MS_BIND | MS_RDONLY, NULL): Permission denied

[2016-03-23 14:46] Kuntal-G opened #1598 "Android Demo build Error"
Get an error when building the Android demo on Ubuntu 14.04.

My Workspace setting for Android SDK and NDK are given below:

android_sdk_repository(
name = "androidsdk",
api_level = 23,
build_tools_version = "23.0.1",
path = "/home/kuntal/Android/Sdk"
)

android_ndk_repository (
name = "androidndk",
path = "/home/kuntal/knowledge/IDE/android/android-ndk-r10e/",
api_level = 21
)

Also i have the pr

[2016-03-23 14:47] Kuntal-G commented on #715
I'm not finding any clue how to proceed for this issue?? and where to dig in??

[2016-03-23 14:54] girving commented on #1282
To confirm: You can build tensorflow just fine without the `ZeroOut` op, and that error shows up when you add `ZeroOut`?  @keveman: Have you seen that kind of error before?

[2016-03-23 15:01] bhack commented on #1300
For who is interested in RAM consumption on more constrained contests I have also added https://github.com/tensorflow/tensorflow/issues/1592

[2016-03-23 15:44] vincentvanhoucke commented on #1597
My own setup doesn't require it, so I can't easily test it. Would you mind sending me a pull request with the change? I'll be happy to merge it.

[2016-03-23 16:05] ricochet2200 commented on #1582
I ran it and it still crashed, although the output and stack trace is a little different.  Here is the relevant output:

[code]

[2016-03-23 16:34] lekaha commented on #1597
@vincentvanhoucke
Please check it out
https://github.com/tensorflow/tensorflow/pull/1599

[2016-03-23 17:01] yoavram commented on #1143
@jjhelmus I installed from your anaconda channel on py3.5 linux-64 and got the following error:
[code]

[2016-03-23 17:14] #1234 closed

[2016-03-23 17:18] vrv commented on #211
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/stream_executor/dnn.h#L822 does exist, if someone wants to plumb that call through, I think we'd have LRN support for GPU :)

[2016-03-23 17:24] vrv commented on #1592
I think this would be awesome to have, and contributions are definitely welcome here :).

[2016-03-23 17:36] jackpaparian commented on #1282
I never had to build TensorFlow before I tried adding the `ZeroOut` op. I just used the package installed through PIP (for Linux with GPU), and that worked without throwing errors.

[2016-03-23 17:39] jjhelmus commented on #1143
@yoavram What Linux are you running running this on?  Unfortunately due to the method in which tensorflow is built (Bazel) it will likely only run on Linux systems with a version of glibc equal too or newer than the one present on Ubunutu 14.04 (glibc 2.19).

[2016-03-23 17:47] girving commented on #1282
Can I see a branch with your change?

[2016-03-23 17:55] Mistobaan commented on #516
@martinwicke I think we can close this issue. The adadelta operator is in the codebase

[2016-03-23 17:59] #516 closed

[2016-03-23 17:59] vrv commented on #516
thank you!

[2016-03-23 18:00] martinwicke commented on #1539
@zheng-xq Any idea about this one? We are having a similar issue running on AWS instances (inside a docker container).

[2016-03-23 18:05] bhack commented on #1592
@vrv Probably we need a XnorGemm first in Eigen. /cc @benoitsteiner What do you think?

[2016-03-23 18:06] vrv commented on #1592
Or we could also implement them as individual OpKernels if it is too difficult to get it into Eigen.

[2016-03-23 18:09] bhack commented on #1592
This is a reference XnorGemm (with a custom kernel) under BSD related to a previous paper: https://github.com/MatthieuCourbariaux/BinaryNet/blob/master/Run-time/binary_ops.py

[2016-03-23 18:23] kanwar2preet commented on #23
Pardon my ignorance but did anyone succeeded running Tensorflow on multiple machines?

Unable to find how to run tensorflow on multiple machines.

I was successful in starting a local server.

I tensorflow/core/distributed_runtime/rpc/grpc_channel.cc:199] Initialize HostPortsGrpcChannelCache for job worker -> {localhost:2222}
I tensorflow/core/distributed_runtime/rpc/grpc_server_lib.cc:203] Starte

[2016-03-23 18:25] jackpaparian commented on #1282
The TensorFlow package I downloaded from Pip is [here](https://github.com/jackpaparian/tensorflow-package). The code for `ZeroOut` is [here](https://github.com/jackpaparian/tensorflow-package/blob/master/tensorflow/include/tensorflow/core/user_ops/zero_out.cc).
Thanks for your help!

[2016-03-23 18:34] girving commented on #1282
That's a strange setup.  If you're going to build from source, can you grab tensorflow via git normally rather than checking pip into git?

@keveman: Are we close to replacing the `user_ops` directory with something that doesn't require modifying the tensorflow tree?

[2016-03-23 18:53] mrry commented on #23
@kanwar2preet: Can you open another issue with details of (i) the TensorFlow program that you ran, and (ii) the configuration you used for the servers? Thanks!

[2016-03-23 18:57] jackpaparian commented on #1282
I was under the impression that we don't need to build from source in order to add a new op. The tutorial says

so I thought we could just add code to our TensorFlow package that we downloaded from Pip. Do we need to build from source in order to add a new op?

[2016-03-23 19:04] keveman commented on #1282
@jackpaparian, you are right, you should be able to build a new op with Tensorflow binary pip installed.  Can you try installing the pip package from [here](http://ci.tensorflow.org/job/tensorflow-master-gpu_pip/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow-0.7.1-py2-none-any.whl) and then try compiling your user op? The pip package for r0.7 had some issues related to user ops. See #1569 fo

[2016-03-23 19:18] jackpaparian commented on #1282
@keveman, thanks for your response. I installed TensorFlow from the pip package you pointed me to. I'm now getting a new error when I compile `ZeroOut`:

`In file included from zero_out.cc:1:0:
/home/jpaparia/anaconda2/lib/python2.7/site-packages/tensorflow/include/tensorflow/core/framework/op.h:26:62: fatal error: tensorflow/core/framework/selective_registration.h:
No such file or directory
 #inc

[2016-03-23 19:28] keveman commented on #1282
Looks like a bug that creeped in recently. Fix on the way. Sorry about that.

[2016-03-23 20:17] bhack commented on #1592
@scott-gray is working on an [improved version with the upstream author](https://github.com/soumith/convnet-benchmarks/issues/93#issuecomment-200518733). Scott will you release the code under BSD or Apache? Eigen library is currently on BSD and TF on Apache but needs cla signature.

[2016-03-23 20:24] jstaker7 opened #1604 "Feature request: Implementing spatially-sparse conv networks in TensorFlow"
I am inspired by Dr. Ben Graham's recent work regarding spatially-sparse convolutional neural networks:

http://arxiv.org/abs/1409.6070 (particularly section 2.3)
http://www2.warwick.ac.uk/fac/sci/statistics/staff/academic-research/graham/sparse3d.pdf

He has graciously open-sourced his neural network library but I'd like to utilize these same ideas in my models, which are implemented in Tensorflo

[2016-03-23 20:28] rryan commented on #386
Huh, interesting @pputzky -- the tests I added compare directly with numpy.
Could you please run tensorflow/python/kernel_tests/fft_ops_test.py and
share the result?

Also, what version of numpy and cuda (in particular cuFFT if you know) are
you using?

On Wed, Mar 23, 2016, 3:54 AM pputzky <notifications@github.com> wrote:

[2016-03-23 20:31] pmmucsd commented on #1582
If you set test_batch_size, validation_batch_size and train_batch_size all to 1 it works. But that's probably not what you want.

[2016-03-23 20:31] Muaazbinsaeed opened #1606 "Confusion Matrix"
Is there any operation which generates Confusion Matrix in Tensorflow?
Can't find it on http://stackoverflow.com/questions/tagged/tensorflow

[2016-03-23 20:36] Muaazbinsaeed opened #1607 "Android Ndk 11"
Why Android Ndk 11 and other versions are not being supported by bazel android build?
It only supports "android-ndk-r10e".

[2016-03-23 21:07] bhack commented on #1592
/cc @mrastegari if interested

[2016-03-23 21:08] neotheicebird opened #1610 "1_notminst.ipynb not readable by Jupyter - SHA: b885fe"
The latest version seems unreadable. Earlier version works.

[2016-03-23 21:09] vrv commented on #1578
config = tf.ConfigProto()
    config.gpu_options.allow_growth=True
    sess = tf.Session(config=config)

[2016-03-23 21:14] ShuaiW commented on #1610
I just submitted a pull request. You can add a comma on line 58, after the "from six.moves import cPickle as pickle\n"

[2016-03-23 21:33] wajeehullah commented on #37
+1

[2016-03-23 21:36] rryan commented on #386
@pputzky -- ah, reading your notebook I think I see an issue:

[code]

```tf.fft2d``` transforms the inner-most 2 dimensions so that would be doing a 28x1 FFT2D. Can you try reshaping to (1, 28, 28)?

[2016-03-23 21:48] ebrevdo commented on #1588
We don't currently have any plans to implement a slice op on SparseTensor.  My suggestion would be to first implement a sparse->sparse slice, and then use sparse_to_dense to densify it.

The closest thing we have is a sparse split; the meat of which is implemented here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/sparse/sparse_tensor.h#L437

If you're interested in i

[2016-03-23 21:54] jstaker7 commented on #602
Unfortunately, I didn't keep the code or model that I used to generate the images. I'm working on a small script that can hopefully reproduce the problem, but just a simple RNN so far has the clean output you had suggested. Maybe this happens when generating a sequence using an RNN with an output projection layer (like in the seq2seq translate tutorial), or when when using an embedding (multi-dime

[2016-03-23 22:16] pputzky commented on #386
@rryan Yes, that was precisely the problem. I only realised that after posting my comment, apologies for that. It works perfectly fine with  (1, 28, 28). Thanks again for the implementation!

[2016-03-23 22:23] yoavram commented on #1143
I'm not sure, it was a docker machine. I've managed since then to install using pip from a different docker machine. But maybe you can specify what you just said about glibc in the Anaconda page or in the conda package? Maybe try to check the version in
Pre install script (http://conda.pydata.org/docs/building/build-scripts.html)?

[2016-03-23 22:49] keveman commented on #1282
1a25c92 adds selective_registration.h to the pip package. Please verify with the most recent pip package [here](http://ci.tensorflow.org/job/tensorflow-master-gpu_pip/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow-0.7.1-py2-none-any.whl) and close the issue if successful.

[2016-03-23 22:53] drufat commented on #1066
I have a similar archlinux setup.
After applying the suggested patch

[code]
I now run into a new error:

[code]

[2016-03-23 22:59] rryan commented on #386
@pputzky: :+1: glad to hear

[2016-03-23 23:20] chrisburr commented on #1066
@drufat I ran into a similar issue when compiling on Arch and found the solution in #1346. I'm unsure if `-D__STRICT_ANSI__` is actually required but the following patch worked for me:

[code]

[2016-03-23 23:33] LopezGG commented on #868
Unfortunately the problem still exists

[2016-03-23 23:36] jackpaparian commented on #1282
I reinstalled TensorFlow with the most recent pip package, and unfortunately I'm still getting the same error about `selective_registration.h`.

[2016-03-23 23:37] zszhong commented on #1413
Hi, I also have this problem.

I'm trying to use `bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package` to build the package from source. And I met an error on `boringssl`. The error message is as follows:
![1](https://cloud.githubusercontent.com/assets/8293993/14003987/dc05a9b4-f191-11e5-88aa-1022013d087f.png)
After blocking with several minitus... the error is shown:

[2016-03-23 23:45] petewarden commented on #1582
I looked into this, and it appears to have broken when the new shape strictness checking went into effect:
https://github.com/tensorflow/tensorflow/commit/9a8c5ad18c61cb0695d31e2ce969008c82999c7c

Unfortunately, the input we're feeding in is not a placeholder, but is an override of a regular node that's loaded from the graph def, so it's not clear from the examples how to fix the error in this cas

[2016-03-23 23:47] vincentvanhoucke commented on #868
Fixed with pr #1611

[2016-03-24 00:01] mrry commented on #1582
Right, you need to replace the node `"pool_3/_reshape:0"` with a `tf.placeholder_with_default(tf.reshape(...), shape=[None, 2048])`.

Would one of you be a dear and show me where this graph is created? Then I can send a PR or make the appropriate changes. If as I fear it's using a binary graph downloaded the website, we might need to mint a new graph.

[2016-03-24 00:06] petewarden commented on #1582
Your fear is correct, and it's actually even worse, because we also need to save the result out to a binary file, so we'll have to do any swapouts twice. Here's the place where the loading is done:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/image_retraining/retrain.py#L291

Here's where we save it out again at the end:
https://github.com/tensorflow/tensorflow/blob/mas

[2016-03-24 00:12] mrry commented on #1582
Oh, maybe it's not so bad then: in `create_inception_graph()` you can specify `{BOTTLENECK_TENSOR_NAME: some_placeholder_tensor}` as the `input_map` argument. That way, you can define the placeholder to be whatever shape you want it to be in `retrain.py`, and you won't have to modify the original binary graph!

[2016-03-24 00:19] petewarden commented on #1582
Thanks Derek! I'll see if I can get your help on this tomorrow, since I'm still a bit lost. I expected that changing input_map would mean that the original Reshape node would be inaccessible when I ran the full graph?

[2016-03-24 00:24] mrry commented on #1582
Absolutely, let's talk tomorrow! (Using `input_map` would modify all consumers of the reshape node so that they took the placeholder instead. In the present implementation, the reshape node would actually still be in the graph, but nothing would be connected to it, and it probably wouldn't ever be executed.)

[2016-03-24 00:28] keveman commented on #1282
I ran the following and things worked for me :

    $ pip install -U http://ci.tensorflow.org/job/tensorflow-master-gpu_pip/lastStableBuild/artifact/pip_test/whl/tensorflow-0.7.1-py2-none-any.whl
    $ TF_INC=$(python -c 'import tensorflow as tf; print(tf.sysconfig.get_include())')
    $ g++ -std=c++11 -shared zero_out.cc -o zero_out.so -fPIC -I $TF_INC

I ran this inside a virtualenv, on a Ubuntu

[2016-03-24 00:52] shawnLeeZX commented on #1578
Oh, I thought GPUOptions is parallel to ConfigProto according to the protobuf message. Thanks!

What about the first problem? Normally deleting an object in python does not guarantee releasing memories, also the case here relates to GPU. It is up to tensorflow to decide what to do. Is that right? Or am I missing something?

[2016-03-24 00:58] vrv commented on #1578
Not sure, you could try invoking python's garbage collector?

[2016-03-24 01:06] andrewharp commented on #1607
There are Bazel compatibility issues with r11 currently, so we suggest you stick with r10e for the time being. See https://github.com/tensorflow/tensorflow/issues/1468 for details and links to relevant r10e downloads.

[2016-03-24 01:08] vrv commented on #1607
@andrewharp: is this a bug in bazel or a bug in TensorFlow?  If the former, have we filed a bug with them?