[2018-04-24 18:40] tensorflowbutler commented on #15978
Nagging Assignee @wolffg: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:40] tensorflowbutler commented on #15859
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-24 18:40] tensorflowbutler commented on #15831
Nagging Assignee @fchollet: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:40] tensorflowbutler commented on #15588
Nagging Assignee @rmlarsen: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:40] tensorflowbutler commented on #15096
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-24 18:40] tensorflowbutler commented on #14929
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-24 18:41] tensorflowbutler commented on #18355
Nagging Assignee @jsimsa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:41] tensorflowbutler commented on #18341
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:41] tensorflowbutler commented on #18338
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:41] tensorflowbutler commented on #18337
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-24 18:41] tensorflowbutler commented on #18332
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-24 18:41] tensorflowbutler commented on #18326
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:41] tensorflowbutler commented on #18292
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:41] tensorflowbutler commented on #18194
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:42] tensorflowbutler commented on #17921
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:42] tensorflowbutler commented on #17883
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:42] tensorflowbutler commented on #17588
Nagging Assignee @aselle: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:42] tensorflowbutler commented on #17472
Nagging Assignee @aselle: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:42] tensorflowbutler commented on #17417
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-24 18:42] tensorflowbutler commented on #17397
Nagging Assignee @ebrevdo: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:42] tensorflowbutler commented on #9638
Nagging Assignee @benoitsteiner: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:42] tensorflowbutler commented on #10765
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:43] tensorflowbutler commented on #10270
Nagging Assignee @allenlavoie: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:43] tensorflowbutler commented on #9946
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:43] pwuertz commented on #18429
Ah thanks! I specifically checked out 1.8rc1 before, but it works with master.

With some tweaks to the build script (related to CUDA library paths) I managed to compile TF against the CUDA 9.1 package that comes with Ubuntu 18.04 LTS.

[2018-04-24 18:43] tensorflowbutler commented on #9690
Nagging Assignee @benoitsteiner: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:43] tensorflowbutler commented on #11055
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:43] tensorflowbutler commented on #8564
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:43] tensorflowbutler commented on #8550
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:43] tensorflowbutler commented on #7702
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-24 18:44] tensorflowbutler commented on #6767
Nagging Assignee @ebrevdo: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:44] tensorflowbutler commented on #6034
Nagging Assignee @ebrevdo: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:44] tensorflowbutler commented on #5592
Nagging Assignee @jart: It has been 28 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:44] tensorflowbutler commented on #5492
Nagging Assignee @benoitsteiner: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:44] tensorflowbutler commented on #12386
Nagging Assignee @josh11b: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:44] tensorflowbutler commented on #14506
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-24 18:44] tensorflowbutler commented on #14232
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-24 18:44] tensorflowbutler commented on #14012
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-24 18:45] tensorflowbutler commented on #13931
Nagging Assignee @prb12: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:45] tensorflowbutler commented on #13281
Nagging Reviewer @MarkDaoust: It has been 15 days with no activity and the `awaiting review` label was assigned. Can you please take a look?

[2018-04-24 18:45] tensorflowbutler commented on #3636
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:45] tensorflowbutler commented on #12071
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:45] tensorflowbutler commented on #11735
Nagging Assignee @meteorcloudy: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:45] tensorflowbutler commented on #11604
Nagging Assignee @kayzhu: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:45] tensorflowbutler commented on #11569
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:45] tensorflowbutler commented on #11148
Nagging Assignee @caisq: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 18:46] tensorflowbutler commented on #11092
Nagging Assignee @benoitsteiner: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-24 19:15] jsimsa commented on #18355
This has been fixed in https://github.com/tensorflow/tensorflow/commit/5a53c9b54d8781032ebf2cf26f93da3b2a33d1e4

[2018-04-24 19:15] #18355 closed

[2018-04-24 19:43] Chrisinger commented on #17254
Follow the link by yongtang. There is says it is fixed since version v1.7.0-rc0.

[2018-04-24 19:55] IFLED commented on #1095
1. if you call `tf.gradients(F, x)` (and F depends on `loss`) then `grad` will be derivative of `F` with respect to `loss`. For example you can take `F = tf.sqrt(loss)`, print `grad` with different values of labels or logits.
2. `mse_loss` is a function that depends on two inputs (`logits`, `labels`), so `grad` procedure should return derivatives with respect to both inputs.

[2018-04-24 19:58] glhfgg1024 commented on #13745
Hi, if you are convenient, please help check the following scripts. I use the `cifar10` datasets. The `train` subset has 40000 samples, the `val` subset has 10000 samples and the `test` subset has 10000 samples.
The following script is to generate the tfrecords for cifar10 dataset with a `shard_size` parameter, which will generate multiple `tfrecords` files for one subset, e.g., `trn-001.tfrecords

[2018-04-24 20:02] sleighsoft commented on #18822
Maybe your GPU is just busy doing tensorflow calculations.

[2018-04-24 20:04] sleighsoft commented on #18791
Same goes for windows builds. They are not available for 1.9 and some 1.8 builds.

[2018-04-24 20:06] jlebar commented on #18429
Glad you got it working.  :)

If you're willing to send a PR, other people trying to build on 18.04 LTS would probably appreciate it!

[2018-04-24 20:07] Magauiya commented on #10749
@Sushobhan04 Hi!

According to the second that you have made, you used fftshift in tensorflow. Am I right?

[2018-04-24 20:40] fchollet commented on #18706
Please open a PR to implement the scaling (I think it should be a 1-line fix, with a new unit test added).

[2018-04-24 20:40] #18194 closed

[2018-04-24 20:41] Hunterwolf88 commented on #18194
thanks @jyu25utk I somehow did something wrong in step 3

[2018-04-24 20:43] aselle commented on #17285
Could you include the full dlopen error from the logcat?

[2018-04-24 20:46] aselle commented on #17285
Could you provide the full logcat of the dlopen() error (i.e. what symbols are unresolved when trying to load the dso should appear) maybe uf you logcat a e.ToString().

[2018-04-24 20:50] aselle commented on #18428
It looks like you are subtracting a scalar. Scalars are currently not supported. You can try using a 1d vector. Do you have a small reproducible test case that you can provide so I can help you further?

[2018-04-24 20:52] aselle commented on #18528
I suspect that reinitializing the variables will reinitialize them inconsistently. Is it consistent if you tf.reset_deafult_graph() and rebuidl the graph every iteration of checking?

[2018-04-24 21:00] ouceduxzk commented on #18744
@Davidnet  I did not understand what you said, basically tensorrt support layers that tf have, but if tensorflow does not have, if you still want to use tensorrt, you can use the plugin feature to impl yourself.

[2018-04-24 21:12] apoorva-js opened #18839 "output 'tensorflow/core/kernels/_objs/gather_functor_gpu/tensorflow/core/kernels/gather_functor_gpu.cu.o' was not created"
When trying to build latest TensorFlow for CUDA 8.0/CuDNN 6.0
This is the error I'm facing when trying to execute the bazel build :<file> command.
following this error is,

not all outputs were created or valid
Target //tensorflow/loader:loader failed to build
Use --verbose_failures to see the command lines of failed build steps.
INFO: Elapsed time: 237.164s, Critical Path: 30.79s
FAILED: Build di

[2018-04-24 21:14] asimshankar commented on #18823
CC @alexbw @mdanatg

[2018-04-24 21:15] eamartin commented on #11724
I had an issue very similar to this. Running Numpy 1.11.1 with MKL 2017 and TF 1.2.0.

Test script:
[code]

When ``bad`` is True, it outputs incorrect numbers. The exact numbers are non-deterministic, but they're almost always wrong. Example output:
[code]

If I either don't import TF or I set ``MKL_NUM_THREADS=1``, then all works correctly
[code]

It would be nice for this to work so that I could

[2018-04-24 21:25] rohit-toha commented on #394
`nvidia-cuda-mps-server` solved the problem for me after upgrading tensorflow to 1.7.0

[2018-04-24 21:35] naibaf7 opened #18841 "tensorflow/compiler/xla/statusor.h not included in installation, but required for compiling custom TensorFlow operators"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Fedora 27
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: v1.8.0-rc1-909-g968addadfd 1.8.0-rc1
- **Python version**: 3.6m
- **Bazel version (if compili

[2018-04-24 22:01] mdanatg commented on #18823
The answer largely depends on how you need to use the variable - after the call to to_graph, do you just want a variable initialized with what's inside v, or do you have another purpose in mind? In general, I tend to stay away from variables because they require separate initialization and I have to watch for concurrency. But if you need a trainable variable there is obviously no other choice.

In

[2018-04-24 22:08] Davidnet commented on #18744
@ouceduxzk From what I understood from this [article](https://devblogs.nvidia.com/tensorrt-integration-speeds-tensorflow-inference/) if there are layers or operations in the graph that are not implemented in tensorrt, they are normally executed in tensorflow, so that layer should be executed normally in tensorflow right ?

[2018-04-24 22:39] facaiy commented on #18781
@sleighsoft Thank you for feedback. Actually `auxiliary_name_scope` is introduced in #14390 to resolve the name scope conflict of `tf.layers` after reentering variable scope, I modify your codes to make it work:

[code]

[2018-04-24 22:47] #13931 closed

[2018-04-24 22:48] facaiy commented on #18781
Perhaps we should document that the argument is only used when reentering?

[2018-04-24 22:48] #18767 closed

[2018-04-24 22:55] lukaszkaiser commented on #18781
Better docs would be welcome, I think.

[2018-04-24 23:05] gsh199449 commented on #18818
Have I written custom code : N/A
OS Platform and Distribution : all platform
TensorFlow installed from : pip
TensorFlow version : all version
Bazel version : N/A
CUDA/cuDNN version: N/A
GPU model and memory : N/A
Exact command to reproduce : N/A

[2018-04-24 23:13] facaiy commented on #18781
Sure, I'll submit a fix for document later.

[2018-04-24 23:16] zedyao commented on #18790
As the error message indicates, the output directory you specified already exists. You should either 1) change the output directory; or 2) try to backup and delete the already-exist "saved-model" folder, then run it again

[2018-04-24 23:30] michaelisard commented on #18198
Were you able to test it on a recent version of TF?

[2018-04-24 23:31] michaelisard commented on #18733
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-24 23:31] #18733 closed

[2018-04-24 23:33] michaelisard commented on #18790
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-24 23:33] #18790 closed

[2018-04-24 23:38] skye commented on #17192
@keotic are you able to provide a script to reproduce this error?

[2018-04-24 23:40] michaelisard commented on #18708
Sorry, but I'm not completely sure what you are asking. I think it is the intended behavior that the two branches of a conditional may return differently-shaped tensors. This is in general supported in TF control flow, for example loop-carried state may be of a different shape every time around a loop, e.g., a loop may add a row to a tensor each time around.

I think the shape inference is working

[2018-04-24 23:41] av8ramit commented on #18758
Working on this asap. Thanks @nthakor for filing.

[2018-04-24 23:42] michaelisard commented on #18764
@Noahyt is that enough information to get you started?

[2018-04-24 23:43] michaelisard commented on #18779
Good to hear you got it working!

[2018-04-24 23:43] #18779 closed

[2018-04-25 00:01] skye commented on #13982
I think so as well.

[2018-04-25 00:08] Novak3 commented on #18708
Agreed, conditionals returning different possible shapes is desirable.  That's what I was trying to do.

But surely a placeholder of shape [1,5] should not accept a tensor of shape [12,15], inside a conditional or no.

[2018-04-25 00:09] cubeye opened #18847 "_session->Run() crushes at Eigen::internal::handmade_aligned_free"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes, a slightly modified version of label_image
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: built from source using tensorflow/contrib/makefile
- **TensorFlow version (use command below)**: r

[2018-04-25 01:08] tensorflowbutler commented on #18834
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-25 01:11] #18017 closed

[2018-04-25 01:11] ChiFang commented on #18822
Hi @sleighsoft
my program flow is:
tensorflow calculations >> post-processing cuda code
It won't calculate at same time.
I just wonder if tensorflow force every code in same project or scope share same resource from GPU.
I have 2 GeForce GTX 1080, I have tested that make tensorflow only see the first one.
But it make my C++ cuda code only see the same one in the available GPU device list....

Any

[2018-04-25 01:12] skye commented on #18083
@fchollet can you comment or redirect? Thanks.

[2018-04-25 01:14] skye commented on #17677
@MarkDaoust are you the person to assign docs-related requests to?

[2018-04-25 01:24] skye commented on #15651
@suharshs are you able to comment on this? Thanks.

[2018-04-25 01:27] skye commented on #16311
@mpkuse do you experience the crash when you disable GPU?

[2018-04-25 01:27] skye commented on #18652
@reedwm do you have any idea what could cause this?

[2018-04-25 01:28] WenguoLi commented on #18342
Hi, @coutner ,
I have replaced the graph_hook_fn = tf.contrib.quantize.create_eval_graph() in exporter.py.

我们加一下微信吧, OK?  我的微信号是liwg08

[2018-04-25 01:30] kodonnell commented on #16147
Isn't this solved with TensorRT in 1.7?

[2018-04-25 01:30] skye commented on #18572
@mrry do you know if there are any plans to implement something like this?

[2018-04-25 01:53] Bgrswxs commented on #6698
@serans1
This works for me :)

[2018-04-25 02:39] rothn commented on #18769
Possibly related to: https://github.com/tensorflow/tensorflow/issues/18640

[2018-04-25 02:39] rothn commented on #18640
I may have observed something similar: https://github.com/tensorflow/tensorflow/issues/18769

[2018-04-25 02:45] PeiliangLi commented on #16311
@skye No, we did try the same version tensorflow on CPU, and no crash.

[2018-04-25 03:33] suharshs commented on #15651
We have focused quantization efforts to https://www.tensorflow.org/performance/quantization with support in [TensorFlow Lite](https://www.tensorflow.org/mobile/tflite/).

That being said, your current issue seems specific to contrib/hvx. @satok16 @petewarden @andrewharp do you have any ideas what could be the issue here?

[2018-04-25 03:53] michaelisard commented on #18708
Sorry that I hadn't looked carefully enough at your example.

The reason for the counterintuitive behavior is that you aren't feeding either of the placeholders in your example. You are feeding 'a' in the outer scope, which is returned by the tf.cond and is I guess a Merge node (you can verify this by printing its name and looking at the graph to find it).

You could feed the placeholders e.g., by

[2018-04-25 04:17] xldrx opened #18849 "CUPTI events are missing from tf.train.Server"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: r1.7, r1.6, r1.5
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: 0.11.0
- **GCC/Compiler version (if compiling from source)**:
- **CUDA/cuDNN version**: 9.1/7.1.3,

[2018-04-25 04:50] rajatmonga commented on #18744
@samikama Could you please take a look.

[2018-04-25 05:08] binoche9 opened #18850 "Mac OS X Python 3.5 binary runtime warning for Tensorflow 1.5.0+"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X 10.13.4
- **TensorFlow installed from (source or binary)**: binary (or whatever pip is)
- **TensorFlow version (use command below)**: 1.5.0+
- **Python version**: 3.5.2
- **Bazel version (if compiling

[2018-04-25 05:09] martinwicke commented on #16781
I believe we would have trouble changing this behavior before 2.0 since this would be a breaking change. So sadly, I think we're stuck with your workaround until then.

@allenlavoie has dealt with this particular issue before and correct me if I'm wrong.

[2018-04-25 05:41] svarjo commented on #18612
Duplicate of https://github.com/tensorflow/tensorflow/issues/17684
As GarryLau points out at issue 17684 - do not use training graph but export evaluation graph that you then freeze.

[2018-04-25 05:44] ShivVM commented on #18229
I tried to freeze the retrained model from https://www.tensorflow.org/tutorials/image_retraining section "Training on Flowers" as per instruction given in https://www.tensorflow.org/mobile/prepare_models .. I still get the same error.. Request you to provide some info on how to get around this error

[2018-04-25 06:11] damienpontifex opened #18852 "[Feature Request + WIP] Azure blob storage filesystem plugin"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.7.0-3-g024aecf414 1.7.0
- **Python version**: 3.6.5
- **Bazel version (if compiling from sourc

[2018-04-25 06:36] bignamehyp commented on #18375
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-25 06:38] tensorflowbutler commented on #18839
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-25 06:41] bignamehyp commented on #13258
@vsaase is right. Thanks for pointing out this mistake.

[2018-04-25 06:47] bignamehyp commented on #13258
We will include the fix in the next release.

[2018-04-25 06:48] nickwhsu commented on #18375
Thanks!

[2018-04-25 06:48] #18375 closed

[2018-04-25 06:52] bignamehyp commented on #18133
@zhiz21 can you please obtain the core file?
Thanks.

[2018-04-25 06:54] bignamehyp commented on #17860
@yifeif can you please take a look?
Thanks

[2018-04-25 06:55] narrowsnap commented on #5096
check whether you install git package
[code]

[2018-04-25 06:55] bignamehyp commented on #16925
I can reproduce this issue. @nealwu can you please take a look or redirect? Thanks.

[2018-04-25 07:01] bignamehyp commented on #17301
I'm not sure we are officially support travis-CI. So what's the current minimum version for Tensorflow 1.5.0 on Python 3.6?

[2018-04-25 07:02] airukongqi opened #18853 "The child thread can not use the main thread's graph?"
I load model in the main thread, and passing it to child thread， but the child thread run error.
logs：
he name 'input:0' refers to a Tensor which does not exist. The operation, 'input', does not exist in the graph."

[2018-04-25 07:05] bignamehyp commented on #17568
Agreed with ppwwyyxx. Does his answer resolve your issue?

[2018-04-25 07:06] bignamehyp commented on #18063
@yifeif  can you please take a look or redirect? Thanks.

[2018-04-25 07:12] walkerwjt commented on #18658
I solved this problem with a simple and crude method. I commented out

**public void setNumThreads(int num_threads) {
if (tflite != null)
tflite.setNumThreads(num_threads);
}**

in ImageClassifier.java directly. And I also commented out

**classifier.setNumThreads(newVal);**

in Camera2BasicFragment.java.

Then it works. I can build and run the demo.
However, I encounter a new problem. When I open

[2018-04-25 07:14] walkerwjt commented on #18658
@SANTHAKUMAR91 @Vivienmm @abhirajD @candrwow
I solved this problem with a simple and crude method. I commented out

**public void setNumThreads(int num_threads) {
if (tflite != null)
tflite.setNumThreads(num_threads);
}**

in ImageClassifier.java directly. And I also commented out

**classifier.setNumThreads(newVal);**

in Camera2BasicFragment.java.

Then it works. I can build and run the demo.
Ho

[2018-04-25 07:15] xiaoyunwu commented on #17540
hello? @andrehentz

[2018-04-25 08:02] ptats commented on #17650
+1 for this as per @jgung comment

[2018-04-25 08:09] heng-yin commented on #18658
I am facing the same issue

[2018-04-25 08:13] sven1977 commented on #18823
Hi mdanatg,
thank you so much for your quick response. This helped us a lot further!

[2018-04-25 08:39] heng-yin commented on #18658
@walkerwjt but i do it as your follows, it doesn't show what you said.

[2018-04-25 08:48] dinglong1020 opened #18856 "No module named tensorflow.python.platform"
environment: ubuntu 1604, python 2.7

[code]
there is error, but why???
[code]

[2018-04-25 08:55] sleighsoft commented on #18822
You could try allowing your process to see both GPUs then move your tensorflow calculations to e.g. GPU 1 with `tf.device` and your post-processing to GPU 0.

[2018-04-25 08:55] sleighsoft commented on #18822
You could try allowing your process to see both GPUs then move your tensorflow calculations to e.g. GPU 1 with `tf.device` and your post-processing to GPU 0.

[2018-04-25 08:59] sleighsoft commented on #18781
Why do I have to use `with tf.variable_scope(VSO, auxiliary_name_scope=False):` again?
My point of specifying the `variable_scope` only once is to not specify all the settings again.

[2018-04-25 09:17] yiheng commented on #18317
The root cause is when [this line](https://github.com/tensorflow/tensorflow/blob/15a9de7763aa736e97d7e636d9487c0dde372d4b/tensorflow/core/kernels/training_ops.cc#L217) or [this line](https://github.com/tensorflow/tensorflow/blob/15a9de7763aa736e97d7e636d9487c0dde372d4b/tensorflow/core/kernels/training_ops.cc#L224) update```var``` value, the ```grad_with_shrinkage``` is also changed, although it is

[2018-04-25 09:21] HwMohanLiu opened #18857 "Error when using TF-Lite visualizer to create the HTML file from a TF-Lite model"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.7
- **Python version**: 3.5
- **Bazel version (if compiling from source)**: 0.11.0
- **GC

[2018-04-25 09:37] tchaton commented on #18083
It is still not possible to sovle a gpe in tf where it is wth theano. I
tried over way, but tf.solve_cholesky is very unstable.

2018-04-25 2:14 GMT+01:00 Skye Wanderman-Milne <notifications@github.com>:

[2018-04-25 09:48] sebma commented on #17629
@mldm4 Hi, do you mean to downgrade coda to v9-0 ?

Can you please be more specific and point your hyperlink to the comment with the proposed solution to gain people more time ?

[2018-04-25 09:50] zjy8006 opened #18858 "How to show the loss curve of training set and validation set at the same time using the customed estimator?"
Hi, recently I used [custom_estimator.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/get_started/regression/custom_regression.py) to build regression model.  In order to clear out the changes of loss value in the training set and validation set. I need to know that how to show the loss curve of training and validation set at the same time. I tried to use train_and_eva

[2018-04-25 09:54] facaiy commented on #18781
@sleighsoft Oh, my bad. Perhaps this is what you want? I wish the case could help you.

[code]

[2018-04-25 09:57] Ssdmc opened #18859 "trying to retrain my CNN model in digits recognition"

[2018-04-25 09:58] Ssdmc commented on #18859
`Caused by op 'convolutional/Placeholder', defined at:
  File "run.py", line 12, in <module>
    from app import app
  File "<frozen importlib._bootstrap>", line 971, in _find_and_load
  File "<frozen importlib._bootstrap>", line 955, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 665, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 678, in exec_mod

[2018-04-25 09:59] Ssdmc commented on #18859
train_step = tf.train.AdamOptimizer(1e-4).minimize(cross_entropy)
 sess.run(train_step , feed_dict={x: image, y_: label})

[2018-04-25 10:13] facaiy commented on #18781
@sleighsoft  As explained before, the argument is designed for re-entering case at the first: we can reenter variable_scope and its original name scope clearly:
[code]

However, I think your request sounds reasonable for me: specify the argument only once. However it might introduce complexity.

@lukaszkaiser what do you think of the request?

[2018-04-25 10:16] psyhtest commented on #18643
@WilliamJuel Interesting. Could you please provide a couple of examples what you need to do? I don't think we need to change anything with our automatic Collective Knowledge workflow. By the way, feel free to give it a try to see if it's easier than what you have to do currently.

[2018-04-25 12:45] kerolos opened #18861 "Running two Models in two GPUs for prediction in c++"
### System information
- **Have I written custom code  (as opposed to using a stock example script provided in TensorFlow): N/A
- **OS Platform and Distribution (e.g., Debian 9.1):
- **TensorFlow installed from (source bazel):
- **TensorFlow version (use command below) 1.7:
- **Python version 3.6:
- **Bazel version (if compiling from source) 0.11:
- **GCC/Compiler version (if compiling from source

[2018-04-25 13:02] vijaysaimutyala commented on #18785
I'm curious if this issue with Windows CPU version is being looked on in any other open issues ? The TFLite  does not seem to supported in version <1.7 which means that I'm limited to not using TFLite for any mobile models.

[2018-04-25 13:11] michaelschaarschmidt commented on #18823
Thank you very much for clarifying this. I was wondering what the idea was on doing the following steps within a function:

1. Read value from variable
2. Perform some logic deciding on how to insert value into variable
3. Write back to variable

e.g. for a buffer insert:

[code]

This works now but I would actually not want to assign the full list but just a slice (or potentially a scatter update

[2018-04-25 13:17] esc commented on #17301
`1.14.1`

[2018-04-25 13:28] R-Miner commented on #15568
@AziziShekoofeh Could you please tell me how you resolved the issue? I have the same error when I send a string input in a client-server program.

[2018-04-25 13:41] nikonikolov commented on #2732
As far as I can tell TF 1.6 also shows non-deterministic results on GPU. Has this been fixed in the master branch or a later release? If not, are there any plans to "fix" it? Even if not, in the mean time it seems very necessary to at least note this in the official documentation. Sorry if it is already there, but I was not able to find it (which suggests others might also not be able to).

[2018-04-25 14:08] drchen00 commented on #18795
@ppwwyyxx Oh, i'm sorry for not noticing the difference between the contrib API and formal API. You are right it works fine. Thanks for your help！(〃'▽'〃)

[2018-04-25 14:08] #18795 closed

[2018-04-25 14:16] mycrazycracy opened #18862 "failure when using Dataset to build a model with dilation convolutional layers"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution **:  Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: 3.6.4
- **Bazel version (if compiling from source)**:
- **GCC/Compiler version (if comp

[2018-04-25 14:27] andrehentz commented on #14621
ArgMax is supported now. I'm closing this, but feel free to reopen if you still encounter problems.

[2018-04-25 14:27] #14621 closed

[2018-04-25 14:29] andrehentz commented on #14670
We have had some successes with SSD models recently. The big caveat is that you might have to skip some of the preprocessing and postprocessing which is complicate and not supported by TF Lite. YMMV.

[2018-04-25 14:30] andrehentz commented on #14716
Closing this one. Please reopen if you are still having problems.

[2018-04-25 14:30] #14716 closed

[2018-04-25 14:31] andrehentz commented on #14929
Is this still a problem for you?

[2018-04-25 14:33] andrehentz commented on #15384
Please try again. Pad is supported now. Let us know how it goes.

[2018-04-25 14:42] LucasMahieu opened #18863 "[Feature Request] Fold batch_norm with depthwise_conv transformation graph"
Hi,

I think it could be interesting to have a transformation graph function to fold batch_norms into depthwise_conv like with standard conv2d [like here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md#fold_batch_norms).

[2018-04-25 14:44] andrehentz commented on #15445
Hey @vinceyuan Sorry you are having so much trouble with TF Lite. It looks like you are seeing some conflict between the bazel setup and the dependencies used in the Makefile build.

You shouldn't need to run download_dependencies.sh if you are building with bazel.

[2018-04-25 14:51] Neltherion commented on #4526
Still waiting!

[2018-04-25 15:02] andrehentz commented on #15804
I'll close this one. Please reopen if this is still an issue.

[2018-04-25 15:02] #15804 closed

[2018-04-25 15:03] mikewlange commented on #17629
I'm on my phone so have to be brief.. However when installing cuda 9.1 the folder created is labeled cuda9.1. All the instructions say to set your $PATH to yadda/yadda/cuda/yadda/bin. Changing the path to $yadda/yadda/cuda9.1 shits the bed and you get this error. If you've installed 9.1, leave it alone and follow the installation instructions step 2 here https://github.com/mikewlange/tensorflow-gp

[2018-04-25 15:07] andrehentz commented on #15948
Argmax is supported now. I'll close this one but please reopen if you still encounter issues.

[2018-04-25 15:07] #15948 closed

[2018-04-25 15:08] andrehentz commented on #16091
Quick update: Div, Exp and Sub are supported now. Neg, TensorflowMax and TensorflowSum will follow soon.

[2018-04-25 15:25] sleighsoft commented on #18781
Yes, that is the behavior I expected.

[2018-04-25 15:32] smitshilu commented on #18612
@svarjo Can you help me with how to generate eval.pbtxt? I tried using mobilenet_v1_eval but it generates nothing

[2018-04-25 15:40] andrehentz commented on #16216
Closing this one. Reopen if you still encounter issues.

[2018-04-25 15:41] TylerBalsam commented on #9823
@fesun Do you happen to have a github link handy to that custom operator?

[2018-04-25 15:43] andrehentz commented on #16589
You can build tf lite's aar with:
bazel build -c opt --cxxopt=--std=c++11 \
    --fat_apk_cpu=x86,x86_64,arm64-v8a,armeabi-v7a \
    //tensorflow/contrib/lite/java:tensorflow-lite

[2018-04-25 15:47] andrehentz commented on #16813
Hi @Johnson145 any chance you can try this again? I'm hoping the new versions will give you a better error message and help debug.

[2018-04-25 15:56] aselle commented on #18339
@martinwicke, have we considered this?

[2018-04-25 16:04] aselle commented on #4638
@saxenasaurabh, could you take this issue over?

[2018-04-25 16:06] martinwicke commented on #18339
We stopped supporting eGPU for MacOS because we could not find hardware we can use to build, and there was a time when there the latest MacOS did not support the latest CUDA at all. That may have changed, but I do not want to support MacOS GPU unless Apple and NVIDIA can agree that they will support each other to a degree where we can rely on it. As far as I can tell, that has not happened.

So fo

[2018-04-25 16:12] martinwicke commented on #2732
@ekelsen is this still expected?

It's fine for these to be non-deterministic, but we should mention it in the docs if so.

[2018-04-25 16:16] aselle commented on #17158
@smoosh911, sorry for the difficulty you are having. We are sorry we weren't clearer that tflite was in developer preview and that means that not-everything is working as well as we would like. I'd like to work to make your case work. Probably the embedding lookup is the difficulty as you say. Could you provide an example of what you are using for vocabulary and valid_dataset?

[2018-04-25 16:27] Mukundan314 commented on #18450
A better fix whould be to cherry-pick 15bda92cdb12bceb7c96404a3abafeed1a416651.
[code]

[2018-04-25 16:27] smoosh911 commented on #17158
If you could get it working on the basic example provided here https://www.tensorflow.org/tutorials/word2vec then it will work for me.

[2018-04-25 16:28] aselle commented on #18546
This is more of a stackoverflow question, so please re-ask there. I would suspect that you are better off batching multiple requests together into a single sess.run(). (i.e. use a producer consumer model), rather than trying to do a lot of sess.run()'s. TensorFlow was not designed to have lots of concurrent sess.run()'s.  @mrry may have a better answer.

[2018-04-25 16:28] #18546 closed

[2018-04-25 16:29] aselle commented on #18677
This is working as intended. Closing.

[2018-04-25 16:29] #18677 closed

[2018-04-25 16:29] freedomtan commented on #16851
@andrefaraujo yes, for c != 1, when TF Lite runtime is used (NN API runtime is not used), prediction is meaningless. But, I think what @meghna1301  asked is performance. I haven't checked it yet.

@meghna1301 which platform you used to run this?

[2018-04-25 16:29] aselle commented on #18214
@wolffg, please take a look.

[2018-04-25 16:30] allenlavoie commented on #16781
As of TensorFlow 1.5 you can use `optimizer.variables()` to get a list of variables associated with the optimizer. For Adam this is its `m` and `v` slot variables along with `beta1_power` and `beta2_power`. Note that this only works after a training step has been built, since optimizers create these variables lazily.

I think this works for the use-case you've described? You can use `.variables()`

[2018-04-25 16:31] mdanatg commented on #18823
I see. Do you mean something in these lines perhaps?

(currently we've been focusing on Tensor lists, e.g. TensorArray, but we definitely intend to support Variables, so this discussion is useful for us to make sure we understand the use case well)

[code]

Assuming my understanding is correct, we could envision letting you do something in these lines:

[code]

[2018-04-25 16:37] aselle commented on #18697
@albin84b, the comments by  @pkurogerjs  on #14719 are correct. Your image bytebuffer is the worng size a float buffer should to feed in a 224x224 image should be `224*224*3*4 = 602112` bytes. Your buffer is a factor of 4 too big. Can you provide your full code changes as  PR so I can take a look at exactly what you are doing?

[2018-04-25 16:37] dinglong1020 opened #18865 "use freeze_graph and report TypeError: main() takes exactly 1 argument (0 given)"
ubuntu@vm:~/code/tensorflow/tensorflow$ freeze_graph \

/usr/local/lib/python2.7/dist-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Traceback (most recent call last):
  Fil

[2018-04-25 16:38] yk5 commented on #14292
It should be back in 1.8.0 for Linux/Mac, and you can test it out with 1.8.0rc1.

For Windows, we have some package problem, but it's not easy to find what's the cause. We placed several patches but not successful. I have another, hopefully would more likely fix it this time.

[2018-04-25 16:42] tsoernes commented on #16781
Good enough for me. Thanks!

2018-04-25 18:33 GMT+02:00 Allen Lavoie <notifications@github.com>:

[2018-04-25 16:45] aselle commented on #15942
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-25 16:45] #15942 closed

[2018-04-25 16:48] lukaszkaiser commented on #18781
We can only judge how complex this is when someone makes a PR and we can see it. In general, we would prefer to avoid adding much complexity as the scoping code has grown a lot anyway and the issue of specifying a few times instead of once doesn't seem to be that pressing, except if I'm missing something.

[2018-04-25 16:54] aselle commented on #18195
I suspect the problem is the input shape  `--input_shape=None,None,None` try an explicit value there.

[2018-04-25 16:54] ppwwyyxx commented on #4526
@Neltherion `from tensorflow.python.ops.data_flow_ops import StagingArea` has been there for a year.

[2018-04-25 16:55] jprosevear commented on #11280
TF1.7 has the same issue in the packages

[2018-04-25 16:56] aselle commented on #18204
I really have no clue, but it looks like symlink is not working which suggests you are using a filesystem that doesn't support symlinks. Are you using ext4 or whatever?

[2018-04-25 16:58] sleighsoft commented on #18781
I think for now it is fine to update the documentation of `auxiliary_name_scope` making the intentions clear, like @facaiy suggested. As a side note, I find all the scoping very troublesome. It is too complex and has so many side-effects. But that's just my 5cents.

[2018-04-25 16:59] allenlavoie commented on #16781
Cool. Will close for now, but feel free to comment if there are related issues.

Longer-term we'd like names not to matter as much, so getting variables from an object is slightly closer to that. [Object-based checkpointing](https://github.com/tensorflow/tensorflow/blob/8fa93c0eb6e12438c3fa564698c0bbf2921def9b/tensorflow/python/training/checkpointable_utils.py#L827) (not yet in core for a release,

[2018-04-25 16:59] #16781 closed

[2018-04-25 17:00] ppwwyyxx commented on #14699
The similar issue has appeared several times in #18795, #14809. I think it's a good feature to add an extra option to `layers.batch_normalization`, similar to that of `contrib.batch_norm`.

[2018-04-25 17:04] reedwm commented on #18652
@gunan this sounds like an issue of JIT caching. What compute capabilities do the prebuilt wheels use? Are there plans to compile with CC 6.1?

[2018-04-25 17:05] aselle commented on #18258
Since you haven't given any indictation of what problem you have and what you have tried. I am closing this issue for now. This is certainly  currently an unsupported platform, but we are willing to help you if you provide enough information to provide suggestions. Thanks!

[2018-04-25 17:05] #18258 closed

[2018-04-25 17:07] aselle commented on #17778
@mrry, do you have any suggestions?

[2018-04-25 17:09] aselle commented on #18748
Could you provide your modifications as a PR, so we can take a look at what's going on.

[2018-04-25 17:10] aselle commented on #18279
@angersson, do you know who is working on docker right now?

[2018-04-25 17:15] chuanyu commented on #17568
It works as a workaround, but it's not very nice as it requires figuring out which nodes to wrap, and then wrapping them with `tf.identity`. This is especially difficult when working with already exported models. Intuitively I would expect `control_dependencies` to behave as if added dependencies to Tensors, not Ops. Are there plans to change this behaviour in the future?

[2018-04-25 17:25] aselle commented on #17910
@prb12, PTAL.

[2018-04-25 17:27] gpx1000 commented on #18748
PR: #18866 is all I changed.  Without that change I had the same issues building as the above referenced issue.

[2018-04-25 17:30] andrehentz commented on #16929
Thanks @ranka47

I'll close this one for now. Hopefully RandomUniform will be fully supported soon.

[2018-04-25 17:30] #16929 closed

[2018-04-25 17:32] bhack commented on #18279
@av8ramit?

[2018-04-25 17:33] andrehentz commented on #16979
I think there's already an official way to turn on the NNAPI in the JAVA Api of TF Lite. It will not make much of a difference unless your device provides NNAPI acceleration.

[2018-04-25 17:33] #16979 closed

[2018-04-25 17:37] andrehentz commented on #17218
@ericyue Could you try with a recent version of TF? Those steps should work and should not introduce Pow. Let me know if you still find problems.

[2018-04-25 17:38] sadlerjw commented on #18807
This appears to be a bug in Tensorflow 1.7; when I compiled with TF 1.6, everything worked as expected. The output of `tensorflow::OpRegistry::Global()->DebugString(false)` is identical, but no error is thrown when loading the model.

[2018-04-25 17:38] andrehentz commented on #17241
Should be fixed now.

[2018-04-25 17:38] #17241 closed

[2018-04-25 17:40] bhack commented on #18279
See also https://github.com/tensorflow/tensorflow/pull/11360

[2018-04-25 17:40] andrehentz commented on #17289
TensorflowMinimum should be supported now. Closing, but please reopen if you still find issues.

[2018-04-25 17:40] #17289 closed

[2018-04-25 17:43] bhack commented on #18279
@caisq Do you know why it was not introduced in all the Dockerfile on #11360 review process.

[2018-04-25 17:46] andrehentz commented on #17349
@SanthoshMKunthe  I think this might be fixed now. Would you mind giving it another try?

[2018-04-25 17:48] caisq commented on #18279
@bhack @av8ramit I'm fine with adding h5py to the devel Docker images if users require it.

[2018-04-25 17:49] andrehentz commented on #17461
Hopefully Prod and Slice will be supported later this year. (ExpandDims will go away when those are supported)

[2018-04-25 17:50] angersson commented on #18279
I'll put together a change to add the dependencies to the dockerfiles.

[2018-04-25 17:51] av8ramit commented on #18279
https://github.com/tensorflow/tensorflow/pull/18868

[2018-04-25 17:57] angersson commented on #18824
@gunan Can you take a look at this? I don't have a Windows device for reproductions.

[2018-04-25 18:01] angersson commented on #18738
This is a duplicate of #11571 (thanks for the link, @cchan). Please move discussion over there so that advice is not spread across the tracker. Thanks!

[2018-04-25 18:01] #18738 closed

[2018-04-25 18:04] andrehentz commented on #17292
We are hoping to get those implemented around the end of June.

[2018-04-25 18:05] mdanatg commented on #18823
Great, I agree that facilitating complex variable manipulation in this way would be a useful feature. We can keep this issue open to track the feature.

[2018-04-25 18:05] andrehentz commented on #17440
I'm closing this one. Please reopen if you still see errors.

[2018-04-25 18:05] #17440 closed

[2018-04-25 18:07] andrehentz commented on #17472
Could you try again with a recent version of TF Lite?

[2018-04-25 18:14] angersson commented on #18604
The best way to see if the situation has changed is by using the latest version of TF.

@gunan has the situation described in https://github.com/tensorflow/tensorflow/issues/9778 changed?

We also don't support most third-party use cases by default (e.g. Onnx), but it looks to me like Onnx would be best run on a Linux platform, not Windows. You could try using Docker or Vagrant for this, but the s

[2018-04-25 18:15] angersson commented on #18633
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-04-25 18:15] #18633 closed

[2018-04-25 18:16] andrehentz commented on #17635
I think this has to do with a change in bazel. Could you try again?

[2018-04-25 18:18] andrehentz commented on #17880
I'll close this for now. Let us know if this still doesn't work for you.

[2018-04-25 18:18] #17880 closed

[2018-04-25 18:18] angersson commented on #18554
This is a duplicate of https://github.com/tensorflow/tensorflow/issues/17386. Please look there for discussion + assistance.

[2018-04-25 18:18] #18554 closed

[2018-04-25 18:31] andrehentz commented on #18066
Thanks for the report. This happens because label_image runs Invoke() without resetting the input tensor, and TF Lite overwrites that memory location during inference (to keep memory usage low).

[2018-04-25 18:35] andrehentz commented on #18182
python API for TF Lite is in the works. Stay tuned.

Regarding label_image, it is mostly and external contribution, and we currently have no plans to support other formats.

Performance on RPI: maybe set the number of threads to 4 (or 8)? If using label_image, that's -t 4

[2018-04-25 18:37] andrehentz commented on #18191
To help us prioritize implementation of new ops, what kind of network is this?

[2018-04-25 18:37] aselle commented on #18751
@sokunmin, do you have insight in what that does? Should we do this for all platforms and not just on Windows?

[2018-04-25 18:42] cpoptic commented on #17422
As of April 2018, and to save a lot of googling and investigating, TF 1.7 and 1.8 are not compatible with CUDA 9.1.  So you have to use 9.0 unfort.
Furthermore, you have to use cuDNN 7.0 NOT 7.1 (at least on a Windows 10 machine)
Don't make the mistake of installing cuDNN 7.1, as that is not yet supported.

If you've installed cuDNN 7.1, found it not to be compatible, and downloaded cuDNN 7.0, the

[2018-04-25 18:48] angersson commented on #18531
This looks to me like something you'll need a sysadmin to help with. @gunan, any quick thoughts on this?

[2018-04-25 18:50] angersson commented on #18512
@rmlarsen Can you take a look at this?

[2018-04-25 18:56] tensorflowbutler commented on #18858
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-25 18:56] tensorflowbutler commented on #18853
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-25 18:56] tensorflowbutler commented on #17925
Nagging Assignees @jvdillon, @ebrevdo: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:56] tensorflowbutler commented on #16139
Nagging Assignee @aselle: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:57] tensorflowbutler commented on #17493
Nagging Assignee @jart: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:57] tensorflowbutler commented on #17387
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:57] tensorflowbutler commented on #17092
Nagging Assignee @tatianashp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:57] tensorflowbutler commented on #17047
Nagging Assignee @asimshankar: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:57] tensorflowbutler commented on #17003
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-25 18:57] tensorflowbutler commented on #16898
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:57] tensorflowbutler commented on #16771
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:57] tensorflowbutler commented on #16623
Nagging Assignee @cy89: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:57] tensorflowbutler commented on #16526
Nagging Assignees @case540, @gunan: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:58] parijatgaur opened #18871 "Tensorflow not working inside spyder IDE (Anaconda on Windows), even after activating it through command prompt ."
### System information
Windows 10 , Anaconda 3.6, 64 bit
Anaconda installed using anaconda page https://www.anaconda.com/download/#windows
Python version : 3.6.5
tensorflow version : 3.6
- Tensorflow was installed using  command :  conda create -n tensorflow pip python=3.6

### Describe the problem
I have installed the package tensorflow using conda. After installation and also activation I tried

[2018-04-25 18:58] tensorflowbutler commented on #16381
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:58] tensorflowbutler commented on #18393
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-25 18:58] tensorflowbutler commented on #18377
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:58] tensorflowbutler commented on #18363
Nagging Assignee @jart: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:58] tensorflowbutler commented on #18358
Nagging Assignee @asimshankar: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:58] tensorflowbutler commented on #18357
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:58] tensorflowbutler commented on #18356
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:59] andrehentz commented on #18437
That's a strange error. Could you make sure the input and output arrays have the correct names in your command line?

[2018-04-25 18:59] tensorflowbutler commented on #18311
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 18:59] Reactorbase commented on #16268
@lekshmi17
me too getting the same error
did you figured it out?

[2018-04-25 18:59] tensorflowbutler commented on #17984
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-25 18:59] tensorflowbutler commented on #17981
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-25 18:59] tensorflowbutler commented on #17980
Nagging Assignee @zhangyaobit: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:00] tensorflowbutler commented on #14129
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:00] tensorflowbutler commented on #13718
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:00] tensorflowbutler commented on #13568
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:00] tensorflowbutler commented on #13308
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:00] tensorflowbutler commented on #12753
Nagging Assignee @aselle: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:00] tensorflowbutler commented on #12587
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:00] tensorflowbutler commented on #12523
Nagging Assignee @cy89: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:00] tensorflowbutler commented on #12215
Nagging Assignee @tatianashp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:00] andrehentz commented on #18440
maybe you can do some debugging on your side to help us out here. The stack trace is not particularly helpful, unfortunately.

[2018-04-25 19:00] tensorflowbutler commented on #12121
Nagging Assignee @asimshankar: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:01] tensorflowbutler commented on #11695
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:01] tensorflowbutler commented on #11447
Nagging Assignee @cy89: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:01] tensorflowbutler commented on #11361
Nagging Assignee @tatianashp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:01] tensorflowbutler commented on #11095
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:01] tensorflowbutler commented on #10338
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:01] tensorflowbutler commented on #10215
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:01] tensorflowbutler commented on #9319
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:01] tensorflowbutler commented on #8745
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:01] tensorflowbutler commented on #14669
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:02] tensorflowbutler commented on #16025
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:02] tensorflowbutler commented on #16023
Nagging Assignee @cy89: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:02] tensorflowbutler commented on #15913
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:02] tensorflowbutler commented on #15688
Nagging Assignee @jart: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:02] tensorflowbutler commented on #15621
Nagging Assignee @aselle: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:02] tensorflowbutler commented on #15530
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:02] tensorflowbutler commented on #14950
Nagging Assignee @tatianashp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:03] tensorflowbutler commented on #14626
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-25 19:03] tensorflowbutler commented on #14625
Nagging Assignee @jart: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:03] tensorflowbutler commented on #14366
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:03] tensorflowbutler commented on #14283
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:03] tensorflowbutler commented on #14278
Nagging Assignee @chsigg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:03] tensorflowbutler commented on #14144
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:03] tensorflowbutler commented on #14132
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-25 19:07] ewilderj commented on #14014
Yes, I think we can close this bug and redirect questions to [SIG Build](https://groups.google.com/a/tensorflow.org/forum/#!forum/build). Please see discussions there for detailed status of CMake build. TL;DR the community would rather first investigate making the Bazel build meet more use cases, so get involved there to express your use cases and help see if Bazel can work.

If Bazel doesn't work

[2018-04-25 19:07] #14014 closed

[2018-04-25 19:13] asimshankar commented on #9319
@tatianashp has been looking at CPU performance of kernels and may have some thoughts here (on Intel CPUs, MKL is an option)

@aselle for some thoughts particularly for TFLite.

[2018-04-25 19:17] asimshankar commented on #16982
(FYI @tatianashp )

[2018-04-25 19:19] asimshankar commented on #17047
@wei-v-wang : Is this related to the investigation in #16982 ?
(CC @tatianashp )

[2018-04-25 19:26] peblair opened #18872 "Feature Request: More Granular Dependencies for Official Binaries"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **TensorFlow installed from (source or binary)**: `pip`
- **TensorFlow version (use command below)**: N/A
- **Python version**:  N/A
- **Bazel version (if compiling from source)**: N/A
- **GCC/Compiler

[2018-04-25 19:29] dhelleberg commented on #14670
Yeah I tried to extract a subgraph and do pre / post processing on my own.
It would be great to have a sample for this cause it's hard to figure out
the necessary steps from the tensorflow model itself

Am Mi., 25. Apr. 2018 um 16:32 Uhr schrieb andrehentz <
notifications@github.com>:

[2018-04-25 19:39] karmel commented on #18835
Tagging @satok16 for this one as well.

[2018-04-25 19:42] karmel commented on #18762
It sounds like this may be a general build file question, rather than something directly related to Hexagon. This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear statement

[2018-04-25 19:42] #18762 closed

[2018-04-25 19:50] reedwm commented on #18784
/CC @mrry can you take a look?

[2018-04-25 19:55] andrehentz commented on #18489
Training using TF Lite is not currently supported. There are no short-term plans to support it.

[2018-04-25 19:55] #18489 closed

[2018-04-25 20:02] kang-lee commented on #18173
Here is the guideline to debug code in android studio: https://developer.android.com/studio/debug/.

You can use LLDB to debug your native code. If you want to debug the whole flow: java --> jni --> native, I would recommend you to use logs for debugging.

[2018-04-25 20:05] andrehentz commented on #18289
Support for string tensors is not perfect at the moment. We are working on it.

[2018-04-25 20:13] andrew-anki commented on #18066
@andrehentz  Thanks for explanation for the second part of my issue (wrong answer when running multiple times), but do you also have any thoughts as to why even running it once fails to return the expected label in my case?  (And can you confirm it's _not_ the lack of nnapi?)

[2018-04-25 20:13] gargn commented on #18557
The issue is likely that the version of TensorFlow you are using does not have SavedModel support. Try and build with the latest version of TensorFlow.

Instructions are available here: https://www.tensorflow.org/install/install_sources.

[2018-04-25 20:14] #18173 closed

[2018-04-25 20:27] andrehentz commented on #18206
Could you give us a sense of what you think is too high and what you think could be achievable?

[2018-04-25 20:28] nikonikolov opened #18874 "Faulty numpy randomness when using GPU"
### System information
- Have I written custom code: Yes
- OS Platform and Distribution: Tested on Slackware Linux 14.2 and Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: tested on both 1.4 and 1.6
- Python version: 3.6
- CUDA/cuDNN version: 8.0 for TF 1.4 and 9.0 for TF 1.6
- Bazel version: N/A
- GPU model and memory: tested on GTX 960M and GTX 1080
- Exact command to repr

[2018-04-25 20:31] andrehentz commented on #18289
In any case, the error you are seeing is probably related to your setup. Did you run ./configure ?

[2018-04-25 20:36] andrehentz commented on #18556
Do you have more details so we can help debug this?

[2018-04-25 20:38] thomasyoung opened #18875 "1.7.0 fails to compile on aarch64 with TensorRT support"
JetsonTX2 with JetPack 3.2 which has Cuda9, Cudnn7 and TensorRT 3.0. Here is the content in .tf_configure.bazelrc file:
[code]
When building pip package:
[code]
Without TensorRT support it compiles well.

[2018-04-25 20:46] sadlerjw commented on #18807
TF 1.6 worked on a cut-down version of my model that excluded `ListDiff` but included `Conv2D` where TF 1.7 has the same issue as described above. But TF 1.6 still can't find an op kernel for `ListDiff` even though it's listed in the op registry.

[2018-04-25 20:47] andrehentz commented on #18731
TOCO is expecting a Switch node to be followed by a Merge node, but that doesn't seem to be the case in your model.

[2018-04-25 20:52] andrehentz commented on #18829
Can you try --inference_type=FLOAT?

[2018-04-25 20:53] andrehentz commented on #18857
Try:
bazel run tensorflow/contrib/lite/tools:visualize -- `realpath ./quant_mobilenet_v1_infer.tflite`

[2018-04-25 21:04] andrehentz commented on #18066
@andrew-anki Ah, that's strange indeed. It is certainly not the lack of nnapi (BTW, that 'error' message has been removed in recent builds). Could you try on desktop to see if this could be device specific?

[2018-04-25 21:14] vinay453 commented on #16918
I am facing this issue on custom dataset, I followed the instructions [here](https://hackernoon.com/building-an-insanely-fast-image-classifier-on-android-with-mobilenets-in-tensorflow-dc3e0c4410d4)

[2018-04-25 21:26] jkschin commented on #2732
Happy to re-open this PR and refine it: https://github.com/tensorflow/tensorflow/pull/10636. Thoughts @martinwicke?

[2018-04-25 21:31] bignamehyp commented on #18859
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2018-04-25 21:34] bignamehyp commented on #15292
Can you reproduce this issue with the latest tensorflow?

[2018-04-25 21:45] bhack commented on #15585
Any news?

[2018-04-25 21:57] bignamehyp commented on #17626
Please keep in mind that the TensorFlow GitHub Issues page is for tracking bugs and feature requests. It is not a way to escalate a Stack Overflow support question that is not getting enough attention. Thanks!

[2018-04-25 22:28] Swordancer opened #18877 "Cannot use freeze_graph.py and optimize_for_inference.py with any model"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **TensorFlow installed from (source or binary):**: PIP Python 3.6
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:

[2018-04-25 22:34] wenouyang opened #18878 "the files of events.out.tfevnts.***.net while running deep learning model"
Hi

During running a tensorflow model, I found that it automatically generates the file as the follows

[code]

What do these files stand for? Are there any ways to stop generating them. The files are saved along with model checkpoint file.

![capture](https://user-images.githubusercontent.com/5430158/39276576-42440a56-48af-11e8-9bed-715db940125e.JPG)

[2018-04-25 22:35] cooltopics opened #18879 "[Windows custom ops] Compiled c++ and imported dll successfully, but custom ops are not visible from python?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Win 7 64
- **TensorFlow installed from (source or binary)**: sources
- **TensorFlow version (use command below)**: 1.3.1
- **Python version**: 2.7.13
- **Bazel version (if compiling from source)**: NA
- **GCC

[2018-04-25 22:35] DavoFranco commented on #18325
same error here using ssd_mobilenet_v2_coco.config. I have checked all the paths and everything seems correct

[2018-04-25 22:36] achalshah20 commented on #17232
Thanks. I will test and let you know if it works for me!

[2018-04-25 22:51] thomasyoung commented on #18875
Believe this is fixed by #17409.

[2018-04-25 22:51] #18875 closed

[2018-04-25 22:55] make1980 opened #18880 "[Feature Request] Dynamic RPC Address Resolution"
Currently TensorFlow cluster is created statically with host name/port information defined in cluster spec. The host name and port information for a worker can't be changed during run-time. In a multi-tenancy environment where host name/port is assigned to worker by a job manager after worker failover happens, this static cluster spec prevents other workers to communicate with this new worker usin

[2018-04-25 23:12] facaiy commented on #18781
I prefer to update document as well, because scoping codes affects a lot of people and we'd better take care not to introduce unnecessary complexity if we already have a workaround.

[2018-04-25 23:37] Swordancer commented on #18865
Try input_meta_graph=/tmp/mobilenet_v1_1.0_224.ckpt instead of .meta

[2018-04-26 00:03] mas-dse-greina commented on #17494
I still see the bug in 1.7 and the 1.8 rc1. Can you confirm that the fix has been merged into those?

Thanks.
-Tony

[2018-04-26 00:51] cubeye commented on #18847
tried on both r1.6 and r1.8 branches. crashed at the same location

[2018-04-26 01:25] HwMohanLiu commented on #18857
The same problem:

ERROR: Non-zero return code '1' from command: Process exited with status 1

[2018-04-26 01:27] tensorflowbutler commented on #18861
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-04-26 01:27] tensorflowbutler commented on #18863
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-26 01:27] jesen8 opened #18884 "ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory"
ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory

first,i have only installed cuda9.0,then,some days ago,it can easily run with it ,but today,it can't,and raise the error.i don't know how to fix it.please help...

![image](https://user-images.githubusercontent.com/33971685/39280811-fe4060cc-4933-11e8-83c2-62a7525920fc.png)

[2018-04-26 01:29] isaisachen commented on #17924
Hi @dnpawate Is this a new project integrating TF?

As long as you configure repositories like below, it should work:
repositories {
    maven {
        url 'https://google.bintray.com/tensorflow'
    }
}

If you still cannot make it work, would you mind sharing your (2) build.gradles? You can delete your other dependencies / app names etc.

[2018-04-26 01:31] isaisachen commented on #18751
Hi @1icas, could you try again? Sorry that we had a bad push last Friday (mismatched artifact name) and this error was expected. But we immediately fixed the repo during the weekend.

[2018-04-26 01:45] dinglong1020 commented on #18865
I found solution:

python -m tensorflow.python.tools.freeze_graph \
--input_graph=/tmp/mobilenet_v1_1.0_224.pb \
--input_checkpoint=/tmp/checkpoints/mobilenet_v1_1.0_224.ckpt \
--input_binary=true \
--output_graph=/tmp/mobilenet_v1_1.0_224_frozen.pb \
--output_node_names=MobilenetV1/Predictions/Reshape_1

[2018-04-26 01:49] dinglong1020 commented on #18856
thanks, I found the solution, that I need to run command at the $(source_code_root)/tensorflow/tensorflow folder

[2018-04-26 01:52] dinglong1020 commented on #18856
and my command need to modified as:
python -m tensorflow.python.tools.freeze_graph \
--input_graph=/tmp/mobilenet_v1_1.0_224.pb \
--input_checkpoint=/tmp/checkpoints/mobilenet_v1_1.0_224.ckpt \
--input_binary=true \
--output_graph=/tmp/mobilenet_v1_1.0_224_frozen.pb \
--output_node_names=MobilenetV1/Predictions/Reshape_1

[2018-04-26 02:02] GarryLau commented on #17684
@smitshilu @Neargye The method to generate eval.pbtxt is in the following:
[code]
Then, call the function to generate eval.pbtxt.
Hope to help you.

[2018-04-26 02:09] sokunmin commented on #18751
@aselle I used it on Mac OS X, and encountered the same problem. I was happened to find .aar in https://jcenter.bintray.com/org/tensorflow/tensorflow-lite/0.1.7/, and it worked for me since I changed to aar. Yes, it should work for all platforms.

@isaisachen I tried and it's still not working.

Thanks.

[2018-04-26 03:13] airukongqi commented on #18853
Thanks for your reply.
ubuntu16.04
tensorflow 1.7
no GPU
bazel 0.9

I use facenet model to do face recogonition, when i load model in main thread and do inference is ok，
but when i load model in mian thread and  do inference in child thread，then is failed.

[2018-04-26 03:17] isaisachen commented on #18751
@sokunmin Did you try on Mac for the first time today or you tried last Friday as well?

The demo app configured below
    compile 'org.tensorflow:tensorflow-lite:+'
1st step Android Studio does is downloading
https://google.bintray.com/tensorflow/org/tensorflow/tensorflow-lite/maven-metadata.xml
which tells you what's the latest version.

And we once had a broken 0.1.8-rc1 published.

If you don'

[2018-04-26 03:30] #14933 closed

[2018-04-26 03:38] gakadam commented on #17635
I am facing the problem with Bazel 0.12.0.
Any idea which version works?

[2018-04-26 03:43] Bidski opened #18886 "Master branch fails to build"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Mint 18.2 Sonya (based on Ubuntu 16.04)
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: Github master (most recent commit: adf045607cc4126366ebb84

[2018-04-26 03:54] mkhemcha opened #18887 "TypeError: Input 'input_sizes' of 'Conv3DBackpropInputV2' Op has type int64 that does not match expected type of int32"
Please go to Stack Overflow for help and support:
deconv_shape1 = layer3.get_shape()
    de_W1 = tf.Variable(tf.truncated_normal(shape=(4, 4, 4, deconv_shape1[4].value, 2), mean = mu, stddev = sigma))
    de_b1 = tf.Variable(tf.zeros(deconv_shape1[4].value))
    output_shape=x.get_shape().as_list()
    output_shape[1] *= 2
    output_shape[2] *= 2
    output_shape[3] *= 2
    output_shape[4] = dec

[2018-04-26 04:16] sokunmin commented on #18751
@isaisachen Hey, it works like a charm now since I deleted the caches folder using `org.tensorflow:tensorflow-lite:+`. I did try today and last week. Thanks for your great help!

[2018-04-26 04:41] deval1491 commented on #17880
This is solved... Please close this

[2018-04-26 05:29] jessebenson commented on #18643
Potentially the same/related issue - the nightly Raspberry Pi builds are hitting this (and have been failing for several weeks now):
http://ci.tensorflow.org/view/Nightly/job/nightly-pi/245/console

[2018-04-26 06:05] airukongqi commented on #18853
Thank you all the same.

[2018-04-26 06:27] sriram-ramanathan opened #18889 "AttributeError: 'module' object has no attribute 'Exporter'"
When I try to import tensorflow hub in python 2, I get the following error saying that 'module' object has no attribute 'Exporter'.

AttributeErrorTraceback (most recent call last)
<ipython-input-1-31fb71834c8c> in <module>()
      1 # Install TF-Hub.
      2 import tensorflow as tf
----> 3 import tensorflow_hub as hub
      4 import matplotlib.pyplot as plt
      5 import numpy as np

/usr/local/

[2018-04-26 06:31] bignamehyp commented on #18527
It's an internal change and and get merged in a big PR.

[2018-04-26 06:31] #18527 closed

[2018-04-26 06:33] bignamehyp commented on #18736
Besides the warning message, does it affect the speed or the accuracy? I'm trying to figure out what is the exact problem.

[2018-04-26 06:35] guy6656 opened #18890 "failed to allocate tensors on mobile device"
### System information
I minimize the model to very simple model with one input, convolution layer and pool is the output.
I work on Ubuntu 16.04
I compile TensorFlow Lite from source with Bazel
TensorFlow version is 1.8
Python 3.6
Bazel version 0.10.0
GCC/Compiler version - gcc (Ubuntu 5.4.0-6ubuntu1~16.04.6) 5.4.0 20160609
Working on CPU

### Describe the problem
I am trying to run my Tensorflow

[2018-04-26 06:36] tensorflowbutler commented on #18871
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-26 06:36] tensorflowbutler commented on #18874
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
GPU model and memory
Exact command to reproduce

[2018-04-26 06:36] tensorflowbutler commented on #18877
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from

[2018-04-26 06:36] tensorflowbutler commented on #18878
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-26 06:36] tensorflowbutler commented on #18880
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-26 06:40] LucasMahieu commented on #18877
Thinks it is related to this https://github.com/tensorflow/tensorflow/issues/16545#issuecomment-382204169

[2018-04-26 06:51] anonym24 opened #18891 "Android Example won't run: AndroidRuntime: FATAL EXCEPTION NullPointerException"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Android 6.0.1
- **TensorFlow installed from (source or binary)**: not used
- **TensorFlow version (use command below)**: not used
- **Python version**:  not used
- **Bazel version (if compiling from source)**:

[2018-04-26 07:16] anonym24 commented on #18891
so it run ok for next android studio run

as temporary solution I added try...catch in case it will happen again

[code]

[2018-04-26 07:39] KillPinguin commented on #15585
@cpandar we now also tried it on a V100 lately, which also was slower with FP16 than FP32.

Unfortunately I have switched positions since then and am no longer involved into the project, so I can't  conduct any more tests.

[2018-04-26 07:44] fengrussell commented on #16542
@wangshuaizs  Could you share your solution?

[2018-04-26 08:13] dragen1860 commented on #15077
tf.Variable is so widely used that I don't believe we should use tfe.variable. Eager mode is just a small part of tensorflow and this approcach is not decent.

[2018-04-26 08:28] shiquanwang commented on #4044
I've encountered the same problem, using the example model from `tensorflow/tensorflow/examples/learn/text_classification_character_cnn.py`.

After `greeze_graph` and `optimize_for_inference` I got the error message:
`ValueError: graph_def is invalid at node 'one_hot': Input tensor 'random_shuffle_queue_DequeueUpTo:1' not found in graph_def..`

Only `greeze_graph` the loading the pb model works fi

[2018-04-26 08:33] nickwhsu commented on #18011
Thank you for the reply !

[2018-04-26 08:33] #18011 closed

[2018-04-26 08:34] bhack commented on #15585
/cc @tfboyd any coverage from the benchmark team?

[2018-04-26 08:43] bhack commented on #18123
https://github.com/tensorflow/tensorflow/pull/18436

[2018-04-26 08:44] ohadlights opened #18893 "Use ghost batch normalization with slim"
Posted in Stack Overflow:
https://stackoverflow.com/questions/49967489/use-ghost-batch-normalization-with-slim

### Details

OS Platform and Distribution: N/A
TensorFlow installed from: N/A
TensorFlow version: 1.8
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce: use slim.batch_norm

### Describe the problem

normalization_layers.BatchNormalization ta

[2018-04-26 08:47] piyushsaxena commented on #18821
I faced the same issue, solved it by changing my app/build.gradle file.

The change is simple,
Replace
`compile 'org.tensorflow:tensorflow-lite:+'`
With
`compile 'org.tensorflow:tensorflow-lite:0.1.7'`

I hope this helps.

[2018-04-26 09:42] princekumar15 opened #18894 "TfLite Image classification score is not consistent it keeps increasing for same image untill it reaches to some saturation(actual score)"
With same instance of 'interpreter' score is getting increased for same image until it reaches at some saturation.
`Interpreter tflite = new Interpreter(loadModelFile(context));`

Create Instance for ImageClassifier and use the same instance to classify Frame and run inference for the same image.
[code]

Classifies a frame for the same image. Same image can be picked up from the Sd card.

[code]

[2018-04-26 09:54] acesaif opened #18895 "'concave points_mean' is not a valid scope name"
I am running my models in **Google's Colaboratory Cloud Platform** and I never confronted this error message.

Python Version (Colaboratory Notebook): `Python3`
Hardware Accelerator: `GPU`

(before creating this issue I did my research but found no useful content)

My code has something like this,
[code]
and inside a `for` loop, I am training my model like this,
[code]
The error below:
[code]
**Up

[2018-04-26 10:36] vijaysaimutyala commented on #17386
@fo40225 Thanks for the wheel. But it seems like TFLite is missing from the contrib !

[2018-04-26 10:50] abojchevski commented on #16115
If the input matrix A is symmetric, changing A_ij, will also change A_ji, so we need to multiple the off-diagonal elements by 2. For more details including results on the generalized eigenvalue problem see this [wiki article on Eigenvalue perturbation](https://en.wikipedia.org/wiki/Eigenvalue_perturbation).

[2018-04-26 10:51] worm004 commented on #18198
@michaelisard @facaiy Sorry for replying late, I was so busy these days : ( Currently I am not able to test it on 1.7.

[2018-04-26 11:00] Ssdmc commented on #18859
im  using MAC OS X high Sierra
tensorflow 1.7.0

here is my code

thanks a lot !
<img width="881" alt="capture d ecran 2018-04-26 a 12 00 05 pm" src="https://user-images.githubusercontent.com/32748111/39302097-691031ec-4949-11e8-81c8-b797ddd6750f.png">

[2018-04-26 11:06] yash486gadhavi opened #18897 "Tensorflow model training working slow"
I have arond 1500 images  with 7 classes i know its less but i am rookie in machine learning and object detection. Due to technical limitation i am currently training the model  using tensorflow cpu version. the machine is taking 20 second/step. and it took 3 days to reach 11000 steps. i want to reach atleast 40000 steps.  My question is it always take that long time for training the model in tens

[2018-04-26 11:08] oscarriddle opened #18898 "[r1.7][TensorRT] INT8 mode calibration is not worked"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Red Hat 4.8.5-16, Linux version 3.10.0-693.5.2.el7.x86_64
- **TensorFlow installed from (source or binary)**: pip (python 2.7)
- **TensorFlow version (use command below)**: tensorflow-gpu==1.7.0
- **Python ver

[2018-04-26 11:21] GPhilo opened #18899 "pi_examples/label_image.cc has wrong include order for libjpg.h"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Raspbian stretch
- **TensorFlow installed from (source or binary)**: source (not installed though)
- **TensorFlow version (use command below)**: 1.8.0rc1
- **Python version**: -
- **Bazel version (if compiling

[2018-04-26 11:31] GPhilo opened #18901 "contrib/pi_examples's Makefile is missing lib nsync.a"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Raspbian Stretch
- **TensorFlow installed from (source or binary)**: source (not installed)
- **TensorFlow version (use command below)**: 1.8.0rc1
- **Python version**: -
- **Bazel version (if compiling from s

[2018-04-26 12:29] LucasMahieu commented on #16545
All information about how to reproduce are given in the fist post ... Does someone know how to solve this issue ?

[2018-04-26 12:39] tensorflowbutler commented on #18884
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-26 12:49] dragen1860 commented on #6087
@epiception I met the same error. I just put the snippet ` with tf.control_dependencies()... ` within `while_loop` code section and the error disappeared.
I not quite understand the concept of `frame` and why

@yuanbyu Could you explain it more? thanks.

[2018-04-26 12:55] sleighsoft commented on #18791
Is this a jenkins issue or why are the windows build not there anymore?

[2018-04-26 13:02] ccolby commented on #16504
The change passed design review and will go in soon. Someone can reassign this issue to me. (I cannot do it.)

[2018-04-26 13:12] vitovalov opened #18902 "Read the model from external storage instead of assets (runtime) [android]"
Would be great to read the model from external storage instead of assets.
Assets is ok when your model doesn't change. But what if we need to load the model dynamically on runtime.
The usage example is for assets:
`TensorFlowImageClassifier.create(-->AssetManager<--,...)`

[2018-04-26 13:19] micoene commented on #17485
I have the same issue with tf.contrib.image.rotate
Windows 10
Python 3.6
Cuda 9
cuDNN 7

[2018-04-26 13:49] vitovalov commented on #18902
Ok, so there's a constructor of TensorFlowInferenceInterface for inputStream, that's enough. Closing.

[2018-04-26 13:49] #18902 closed

[2018-04-26 13:52] geometrikal commented on #17485
I have the same issue with tf.contrib.image.rotate on TF 1.7.0
Windows 10
Python 3.6
Cuda 9
cuDNN 7

It is interesting that when wrapping it with tf.data.Dataset it works:

    import numpy as np
    import tensorflow as tf

    batch_size, image_size, channels = 1, 32, 1

    data = np.zeros(
        shape=(batch_size, image_size, image_size, channels),
        dtype=np.float32)

    data_node =

[2018-04-26 14:04] SharoneDayan commented on #10396
@KangHsi I have the same issue using a pretrained model. Did you find the solution?

[2018-04-26 14:09] micoene commented on #17485
Mine only crashes on the GPU aswell, Wrapping it with Dataset doesn't really solve the issue since it just forces it to run on the CPU : https://github.com/tensorflow/tensorflow/issues/13610

[2018-04-26 14:13] geometrikal commented on #17485
@micoene Ahhh yes, you are correct, just putting it on CPU works. It is a workaround for now...

    with tf.device('/cpu:0'):
        data_node_transformed = tf.contrib.image.transform(data_node, transform)

[2018-04-26 14:18] skye commented on #16504
Unfortunately we can currently only assign to TF org members :\

[2018-04-26 14:28] yz-cnsdqz commented on #12597
I think it is a bug. I am fine-tuning VGG16  to MNIST and would like to replace the fc8 layer. Here are my results:
(1) When I run
[code]
I got
`[<tf.Variable 'vgg_16/conv1/conv1_1/weights:0' shape=(3, 3, 3, 64) dtype=float32_ref>, <tf.Variable 'vgg_16/conv1/conv1_1/biases:0' shape=(64,) dtype=float32_ref>, <tf.Variable 'vgg_16/conv1/conv1_2/weights:0' shape=(3, 3, 64, 64) dtype=float32_ref>, <tf.

[2018-04-26 14:29] royru commented on #14444
For future readers: We faced exactly the same issue. Removing `quantize_nodes` from the transforms solved the problem.

[2018-04-26 14:53] sebma commented on #17629
@mikewlange Thanks 😃

[2018-04-26 14:56] bhack commented on #8535
The problem will be still present in tf.keras API for https://github.com/keras-team/keras/issues/9582 /cc @fchollet

[2018-04-26 15:06] georgesterpu opened #18903 "Feature: tf.contrib.rnn Downsampling Wrapper"
### Feature description
-  On sequential inputs with many timesteps (e.g. speech), it is common to down-sample the higher order representations in a multi-layer recurrent network to improve the computation time and eventually the attention weights learning [1]. The MultiRNNCell class in TensorFlow simplifies the construction of multi-layered RNNs but gives users no control to post-process the outp

[2018-04-26 15:25] mikewlange commented on #17629
My pleasure. Hope you got it going!

[2018-04-26 15:28] andrehentz commented on #18857
Oh.. I see. You need back-quotes around the last portion of the command:

bazel run tensorflow/contrib/lite/tools:visualize -- \`realpath ./quant_mobilenet_v1_infer.tflite`

[2018-04-26 15:45] noky opened #18904 "Relevant fluctuations in activations depending on batch size, at test time"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Y
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**: v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**: 3.5.2
- **Bazel version (if compiling from sourc

[2018-04-26 15:45] jart commented on #14625
Marking contributions welcome.

[2018-04-26 15:48] jart commented on #15688
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-26 15:48] #15688 closed

[2018-04-26 15:49] jart commented on #18878
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-26 15:49] #18878 closed

[2018-04-26 15:50] jart commented on #17981
Automatically closing due to lack of recent activity. Please file an issue with the upstream project, which might need to upgrade to TF's latest APIs.

[2018-04-26 15:50] #17981 closed

[2018-04-26 15:55] jart commented on #18363
I don't know what the MPI support does and I'm not sure who owns it, because there's no entry in the CODEOWNERS file. I'm marking this community support and tagging @yongtang, @klshrinidhi.

[2018-04-26 15:57] jart commented on #16965
The answer appears to be on stack overflow.

[code]

If there's a bug in TensorFlow that we can fix here, please help us learn more and I'll reopen this issue.

[2018-04-26 15:57] #16965 closed

[2018-04-26 16:01] vedantja commented on #17101
Switching to CUDA 9.0 and CUDNN7.1 worked for me

[2018-04-26 16:02] jart commented on #17493
@ebrevdo could you take a look at these Mac Clang build errors relating to contrib/rnn and Eigen?

[2018-04-26 16:03] jart commented on #18822
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-26 16:03] #18822 closed

[2018-04-26 16:06] DavoFranco commented on #18325
ok I solved!!!The issue was on my ssd_mobilenet_v2_coco.config file in the input_path. I was following a tutorial and in that tutorial, the directory was data/train.record. This can work if your config file is in the same directory, but since I was following a tutorial the config file was in another folder. For instance, the issue was with the path so make sure your record's file has the right pat

[2018-04-26 16:11] karmel commented on #18880
Thank you, @make1980. @josh11b and @alextp , you each touch this space; thoughts?

[2018-04-26 16:14] andrehentz commented on #18894
I think this is because TF Lite reuses the input buffer during inference, so it will be slightly different next time. We are working on a fix for it.

[2018-04-26 16:27] WanCC1995 commented on #17612
Thanks for your reply. So the parallel_iterations param is actually setting the upper bound?

By the way, I'm not familiar with recompute_grad. I couldn't find a way to apply it.

[2018-04-26 16:30] josh11b commented on #18880
@saeta I think knows more about this than I do.

[2018-04-26 16:33] sehgal-abhishek commented on #18437
The Input and Output arrays have the correct name. I'm using tf.gather in my graph which I guess might be  causing the problem as an unsupported node.

[2018-04-26 16:34] gzmkl commented on #17494
Hi Tony,

It is not merged yet, as we are handling other concat related issues (e.g. empty tensor with ndims=0 as input).
I will let you when we are ready for public PR.

Thanks,
GZ

From: Tony Reina [mailto:notifications@github.com]
Sent: Wednesday, April 25, 2018 5:06 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: Zhuang, Guozhong <guozhong.zhuang@intel.com>; Comment <comment@n

[2018-04-26 16:38] alextp commented on #15077
tfe.Variable is a drop-in replacement for tf.Variable which has nothing to
do with eager mode and will become the default eventually

On Thu, Apr 26, 2018 at 1:16 AM Jackie Loong <notifications@github.com>
wrote:

--
 - Alex

[2018-04-26 16:41] mas-dse-greina commented on #17494
Many thanks.

I've also discovered on building from the latest source that data_format
gives an error because one MKL op is trying to use "NDCHW" as the value. I
assume that has been reported but wanted to let you know.

Thanks so much to the team for the great work.

On Thu, Apr 26, 2018, 9:37 AM Guozhong Zhuang <notifications@github.com>
wrote:

[2018-04-26 16:51] jart commented on #17461
Punting to @aselle for tf-lite.

[2018-04-26 16:51] josh11b commented on #18880
@anj-s , FYI

[2018-04-26 16:52] jart commented on #18798
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-26 16:52] #18798 closed

[2018-04-26 16:56] jart commented on #11280
I don't know off the top of my head if TensorFlow is built with GCS support out of the box. cc: @gunan It might be necessary to build TensorFlow from source and enable that support when you run `./configure`. This shouldn't be tensorboard related.

[2018-04-26 16:59] jart commented on #15384
Closing per @andrehentz's comment. If this is still an issue, let us know and we'll reopen.

[2018-04-26 16:59] #15384 closed

[2018-04-26 17:00] andrehentz commented on #18437
It looks like this code has been changed recently so I can't pinpoint exactly where the CHECK is. It seems to be this line: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/toco/tooling_util.cc#L841

That indicates a problem with the model, or a unreasonable assumption by TOCO.

[2018-04-26 17:02] jart commented on #18818
Feature request relating to `tf.data` backwards iterators for @mrry.

[2018-04-26 17:09] reinaldocmendes commented on #18736
I need to increase the memory that tensorflow use. This is necessary for my application run. Do you know any alternative?

The problem is, my server have 32GB, but o tensorflow is using only 10%.

[2018-04-26 17:10] jart commented on #12071
Assigning gradient issue to @girving

[2018-04-26 17:15] jart commented on #15643
This appears to be a duplicate of #15643. Please follow that issue. If you feel this issue should be reopened, please provide new evidence and I'll do that.

[2018-04-26 17:15] #15643 closed

[2018-04-26 17:15] jart commented on #15643
This appears to be a duplicate of #5592. Please follow that issue. If you feel this issue should be reopened, please provide new evidence and I'll do that.

[2018-04-26 17:16] jart commented on #15585
This appears to be a duplicate of #5592. Please follow that issue. If you feel this issue should be reopened, please provide new evidence and I'll do that.

[2018-04-26 17:16] #15585 closed

[2018-04-26 17:17] gunan commented on #18531
Maybe you need to set your LD_LIBRARY_PATH to include the directory for libcuda?
We use that environment variable to find all cuda .so files.

[2018-04-26 17:26] gunan commented on #18643
I think on our end, our bazel build did not work on tegra tx1 yet. As far as I can learn internally our makefile build was working on tx1 last we experimented.
I will keep on looking to see if we have docs or instructions.

[2018-04-26 17:27] gunan commented on #18549
This problem is usually because your CPU not having AVX instruction set support. What is the model of your CPU?

[2018-04-26 17:32] gunan commented on #11280
GCS support should have been enabled by default on our packages.
@case540 @av8ramit to confirm.

[2018-04-26 17:34] achalshah20 commented on #17232
Hey @yongtang , It actually builds successfully. But currently does tensorflow cmake have install rule?

[2018-04-26 17:34] gunan commented on #18824
There are some known build issues with visual studio 2017. It may just be those.
I dont have a better answer at the moment as we currently use VS 2015 update 3 to build TF on windows.

[2018-04-26 17:39] case540 commented on #11280
Windows has GCS disabled by default. Is this something that should be changed?

https://github.com/tensorflow/tensorflow/blob/master/configure.py#L1466

[2018-04-26 17:41] achalshah20 commented on #17232
So, If i want to use tensorflow c++ library, I don't need pip package but .so file and .h headers. So, I can't achieve that using current tensorflow cmake?

[2018-04-26 17:49] jart commented on #17852
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-26 17:49] #17852 closed

[2018-04-26 17:50] jart commented on #7808
I'm going to mark this contributions welcome, since it would be nice if we could make the build go faster, but `bazel query` doesn't make this as easy to troubleshoot as we would like. If anyone can figure out the secret, please send us a change.

[2018-04-26 17:53] psyhtest commented on #18643
@gunan I believe one does need to patch Bazel on TX1 but the Collective Knowledge package takes care of that. So you can install Bazel using one CK command, and then TensorFlow using another one. (Just copy and paste the instructions from the top of the issue, and give it 10 hours )

This will allow you to reproduce the issue in the least painful way. As you can see from other reports, it's not sp

[2018-04-26 17:56] gunan commented on #18643
What I am trying to say is, we never officially made it working. It may or may not work, but we got the makefile build working.
I will mark this issue contributions welcome. I will add our official status later when I have it.

[2018-04-26 17:57] princekumar15 commented on #18894
Thanks Andrehentz  for the reply.
Its not slightly different it keeps increasing as i mentioned it started from 0.06 and goes upto 0.86.
To test the scenario and replicate the issue just put the image into somewhere phone memory/SD Card and use the same image to classify the frame.

For example :
[code]

[2018-04-26 17:58] bhack commented on #5592
See also https://github.com/tensorflow/benchmarks/issues/77

[2018-04-26 17:59] gunan commented on #11280
Ah you are correct. On windows it is not as simple as just flipping a flag because GCS depends on curl, and we have not set the curl build properly yet. So on windows cloud builds are off.
Thanks for catching this Michael!

[2018-04-26 18:03] gunan commented on #18652
I think prebuilt wheels have every compute capability starting from 3.5 or 3.7.

[2018-04-26 18:14] jart commented on #16535
I agree that the `tf.summary` API has room for improvement regarding convenience. We're trying to move towards `tf.contrib.summary` and eventually `tb.summary` at this time. We sadly don't have resources to do feature work on this older API at this time.

[2018-04-26 18:14] #16535 closed

[2018-04-26 18:15] drpngx commented on #18856
Glad you figured it out!

[2018-04-26 18:15] #18856 closed

[2018-04-26 18:29] #14292 closed

[2018-04-26 18:30] psyhtest commented on #18643
@gunan What I mean is that we've been able to build TensorFlow on TX1 since 1.4.0. 1.8.0-rc0 was the first to break.

If TX1 is not officially supported, then surely Raspberry Pi is (if it's part of the nightlies)? I agree with @jessebenson - it looks like the same issue. Would it be easier for you to investigate it there? I could help you then test across other aarch64 platforms I have access to

[2018-04-26 18:32] drpngx commented on #18473
@isaprykin WDYT?

[2018-04-26 18:37] psyhtest commented on #18643
If you google (sorry) for the name of the function (`png_init_filter_functions_neon`), you may find similar issues e.g. https://github.com/opencv/opencv/issues/7600.

[2018-04-26 18:39] gunan commented on #18643
Nightlies mean we are working on it. If it is released as an artifact during releases, or announced during releases that means we have official support for it.
We definitely want tensorflow to build and work properly on both TX1 and Raspberry Pi.
However, we want to make sure we have proper infrastructure to continuously build and test it before we announce our official support.

[2018-04-26 18:47] drpngx commented on #17519
@nfiedel any thoughts?

[2018-04-26 18:48] wenouyang opened #18905 "the error message of "OP_REQUIRES failed at mkl_concat_op.cc:784 : Aborted: Operation received an exception:Status: 3, message: could not create a concat primitive descriptor, in file tensorflow/core/kernels/mkl_concat_op.cc:781 INFO:tensorflow:Error reported to Coordinator: Operation received an exception:Status: 3, message: could not create a concat primitive descriptor, in file tensorflow/core/kernels/mkl_concat_op.cc:781 ""
When running the deeplab model (train.py) included in tensorflow, it keeps generating the log message such as following. I don't know what does it mean.
[code]

[2018-04-26 18:50] tensorflowbutler commented on #18897
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-26 18:50] tensorflowbutler commented on #18895
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-26 18:50] tensorflowbutler commented on #18893
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-26 18:51] tensorflowbutler commented on #16821
Nagging Assignee @zhangyaobit: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-26 18:51] tensorflowbutler commented on #16497
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-26 18:51] tensorflowbutler commented on #17155
Nagging Assignee @shivaniag: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-26 18:51] tensorflowbutler commented on #17514
Nagging Assignee @petewarden: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-26 18:51] drpngx commented on #17519
In that case, actually I would recommend implementing `sinh` using tensorflow based on the [formula](https://en.wikipedia.org/wiki/Hyperbolic_function).

[2018-04-26 18:51] tensorflowbutler commented on #17589
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-26 18:51] tensorflowbutler commented on #18147
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-26 18:51] tensorflowbutler commented on #18187
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-26 18:52] tensorflowbutler commented on #18353
Nagging Assignee @mrry: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-26 18:52] tensorflowbutler commented on #18383
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-26 18:52] tensorflowbutler commented on #11888
Nagging Assignee @ysuematsu: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-26 18:52] tensorflowbutler commented on #10837
Nagging Assignee @mrry: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-26 18:52] tensorflowbutler commented on #10842
Nagging Assignees @lmthang, @ebrevdo: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-26 18:52] tensorflowbutler commented on #11807
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-26 18:52] tensorflowbutler commented on #2625
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-04-26 18:53] tensorflowbutler commented on #12792
Nagging Assignee @petewarden: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-26 18:53] tensorflowbutler commented on #14580
Nagging Assignee @petewarden: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-26 18:54] vinay453 commented on #4451
@Abhi-Pawar I am seeing same issue. Were you able to figure out the cause and have you fixed it

[2018-04-26 19:03] jessebenson commented on #18643
@psyhtest - yeah I looked into this yesterday, and found the same link you pointed out.  I was able to get the Raspberry Pi nightlies to build by adding `--copt=-DPNG_ARM_NEON_OPT=0` - see (https://github.com/jessebenson/tensorflow/commit/b135e2d9a234e23cebc7b6d63043b40b07e76a1a).  I didn't include this in my pull request (https://github.com/tensorflow/tensorflow/pull/18892), as I'm not sure if th

[2018-04-26 19:03] reedwm commented on #17589
Closing due to inactivity. Please reopen if this is still an issue.

[2018-04-26 19:03] #17589 closed

[2018-04-26 19:05] sehgal-abhishek commented on #18437
Yeah that's what I was guessing. But I read the docs and it said tf.gather was not supported so I guess it won't be able to convert it.

I just wanted to double check, does the input the lite models need to be a fixed number? e.g. the model is saved as Input [?, 28, 28, 1] but for lite conversion does it need to be [1,28,28,1]?

Thank you for looking into this issue.

[2018-04-26 19:14] tfboyd commented on #15140
Closing this out and starting a CUDA 9.2 ticket which I hope to have as the default in TF 1.9.

[2018-04-26 19:14] #15140 closed

[2018-04-26 19:17] rishabhmalhotra commented on #17519
Thanks for the input but I'm still looking to resolve the core issue, which is to actually get py_funcs working with tensorflow serving. This is majorly due to the vast resources available in terms of custom framework implementations like FasterRCNN.

[2018-04-26 19:21] tfboyd opened #18906 "Planning Ticket CUDA 9.2 + cuDNN 7.1"
Updated 02-JUNE-2018

I have done some testing with CUDA 9.2/cuDNN 7.1.4/NCCL 2.x with tf_cnn_benchmarks.

Below you will see that if you upgrade to cuDNN 7.1.4 and a newer device driver you get some pretty nice gains and no need to compile from source as well as using CUDA 9.0.  Compiling from source and using NCCL 2.x (Hierarchal Copy was almost the same) I was able to get 6,800+ 8xV100s ResNet5

[2018-04-26 19:29] javidcf commented on #18383
Not sure if that message is meant for me, the author of the issue, or, more likely, the asignee, but anyway, in case it helps triggering some workflow, yes, it is still an "issue", in the sense that is a feature request that has not been implemented nor rejected.

[2018-04-26 19:29] yash486gadhavi commented on #18897
Sorry there is a mistake on my end which is I am using tensorflow 1.6 I am really sorry to misguide you earlier, The tensorflow is installed from pypi tensorflow-1.6.0rc1-cp36-cp36m-win_amd64.whl package. windows 8.1  x86 64 bit. CPU model

[2018-04-26 19:36] #14613 closed

[2018-04-26 19:48] elibixby commented on #13310
@wechselstrom The design just went through design review committee and was approved, but I'm a little short on time to implement it. Would you be interested in contributing if I published the design somewhere public? I'm happy to be a resource for this as well.

[2018-04-26 19:49] beriberikix commented on #14626
Any updates on the new process to add new platforms?

[2018-04-26 19:52] eraly commented on #17424
I got as far as using the export_savedmodel and write out a checkpoint/exported model. I ran the freeze graph script and it ran through with no error and no saved pb file.
What are the correct options to pass to the freeze_graph script? I gave it a checkpoint and the "graph.pbtxt" from the export_savedmodel.

[2018-04-26 20:10] asimshankar commented on #14456
I'm going to go ahead and mark this as "Contributions Welcome" since it doesn't seem we have the required expertise within the TensorFlow team on Windows to work this out.

Help is certainly appreciated. Either in the form of a PR that updates the installation instructions, or ideally in the form of a PR that fixes the bazel BUILD rule. However, before sending any PR for the latter, perhaps descri

[2018-04-26 20:25] yongtang commented on #18363
Added a PR #18907 which should fix the build issue on CUDA+MPI.

[2018-04-26 20:47] #17232 closed

[2018-04-26 20:52] brge17 opened #18908 "tf.keras.utils.plot_model with Sequential API"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.7.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: n/a
- **GC

[2018-04-26 20:56] yaroslavvb commented on #12071
I posted a stable implementation above which you can substitute instead of TF default version. Don't know if this works for an external contributor, that depends if there internal tests which may be broken by changing numerics of tf.norm

[2018-04-26 20:58] brge17 commented on #18908
Note in tensorflow 1.8.0.rc1 the functional API appears to be working:

[code]

in tensorflow 1.7.0 the functional API has the same error as the Sequential API.

[2018-04-26 20:58] mrry commented on #18818
Thanks for the suggestion. We do not plan to add this feature to `tf.data`, because it would complicate—and completely change—the implementation and make it more difficult to add optimizations in the future. For this kind of workflow, I'd suggest using the recently added Eager Execution mode, and storing any iterator values that you need to reuse in a local variable in your Python code.

[2018-04-26 20:58] #18818 closed

[2018-04-26 21:11] JorgeVilchis commented on #18450
I had exactly the same issue,  as soon as I switch from Bazel 0.12 to Bazel 0.11 the compilation went smoothly.
I followed the recommendation from zhanwenchen:
 $ sudo apt-get install -y --no-install-recommends bash-completion g++ zlib1g-dev
$ curl -LO "https://github.com/bazelbuild/bazel/releases/download/0.11.1/bazel_0.11.1-linux-x86_64.deb"
$ sudo dpkg -i bazel_*.deb

[2018-04-26 21:52] nkreeger commented on #37
As update to this issue - we have open-sourced the Node.js binding for TFJS: https://github.com/tensorflow/tfjs-node

We are working hard at getting a proper NPM build and will release it soon!

[2018-04-26 21:54] gsrivas4 commented on #18450
I had similar issue. To uninstall as per zhanwenchen's suggestion i should first run
$ sudo apt-get install -y --no-install-recommends bash-completion g++ zlib1g-dev

But my problem is installed bazel with parameter --user. This has installed it in my local directory ~/xxx/bin. Will running the above command remove the system level bazel or the local one installed in my directory? I do not want to

[2018-04-26 21:59] andrehentz commented on #18437
Support for tf.gather has been added recently.

You can resize the input tensor before inference. Call ResizeInputTensor().

[2018-04-26 22:00] bjmuld commented on #18147
Yes.  Still an issue.
Ubuntu 16.04 on amd64.  Tensorflow 1.7.0 installed via pip inside a fresh python 3.5 virtualenv.

[2018-04-26 22:04] gunan commented on #18147
Could you reproduce this in a dockerfile and share the file? Since on our systems this seems to work fine, we have no idea how to proceed.

[2018-04-26 22:06] bwuzhang commented on #18594
I have the same issue.

[2018-04-26 22:16] bjmuld commented on #18147
Hmm.  I'm not fluent in docker-ese.  Could perhaps read up, but not immediately.  Python crashes at 'import tensorflow'.  I should add that tensorflow==1.5 installed via pip in a virtualenv is running fine, it seems.

Here's some output from GDB:

[code]

[2018-04-26 22:30] #18363 closed

[2018-04-26 22:31] gunan commented on #18147
Is it possible you are running on an old CPU?
TensorFlow prebuilt packages require your CPU to have AVX instruction set.
What is your CPU make and model?

[2018-04-26 22:35] martinwicke commented on #37
I will close this issue. Please track tensorflow/tfjs and tensorflow/tfjs-node for further updates.

[2018-04-26 22:35] #37 closed

[2018-04-26 23:00] bjmuld commented on #18147
Yes, that is possible. Here's some cpuinfo (coudn't find 'avx' by grepping /proc/cpuinfo):
[code]
additionally, this dockerfile produces the error for me:

[code]

[2018-04-26 23:01] bjmuld commented on #18147
I should add that my first-cut self-compiled TF gave me the same error....

[2018-04-26 23:10] mrry commented on #17778
I think this is a known limitation of MSVC, e.g. see [this forum post](http://forums.codeguru.com/showthread.php?511025-bad_alloc-debug-mode-application-calls-release-dll&s=fa99018b96d1f3bd94c6a0061eafad44&p=2008439#post2008439). Presumably the issue is a different memory layout for `std::string` in the two libraries, and this will affect many of our C++ APIs.

It might work if you replace the use

[2018-04-26 23:12] mrry commented on #18784
Reassigning this one to @rachellim, who has been making improvements to CSV performance lately (and some that landed recently should help with this, if you'd like to try the nightly build).

[2018-04-26 23:53] #16424 closed

[2018-04-27 00:36] rothn commented on #18769
Update: I tried this on Windows as well, and I got rid of the stuff for loading the model graph and used the Saver to explicitly restore my variables. On Windows, it fails for the same reason (because I am loading an embedding larger than 2GB) but with a better error message:

`OutOfRangeError (see above for traceback): Read fewer bytes than requested
         [[Node: save/RestoreV2 = RestoreV2[dt

[2018-04-27 00:43] MarlonJhow commented on #17386
So thanks @fo40225 ! It's really work for me.

[2018-04-27 00:45] samikama commented on #18898
@oscarriddle the code above is an example. As written in the comment this is a dummy code just to work the machinery. For real calibration you need to run, as much as you want, with an input data set that is representative of your expected inference input. So you need to replace `for _ in range(30): sess.run()` with something that passes real data at every iteration. For example if you have a netw

[2018-04-27 00:52] samikama commented on #18777
@arassadin AFAIK convert_variables_to_constants is not sufficient to freeze the graph. See https://www.tensorflow.org/extend/tool_developers/#freezing
Also TensorRT 4 will have a better op support and mobilenet support will improve when we switch to TRT4.

[2018-04-27 00:52] #18865 closed

[2018-04-27 01:05] tensorflowbutler commented on #18903
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-27 01:37] TrsNium commented on #16965
When I was using Tenosorflow ver 1.2.1, I can not observe this error.
I seem that some system can observe this error from ver Tensorflow ver 1.3.0. or Cuda9.0.
And this error occurs only in convolutional operation.

System detail
nvidia drivver varsion: 384.125
gpu : tesla v100 x4
cpu : Intel(R) Xeon(R) CPU E5-2623 v3 @ 3.00GHz
tensorflow version: 1.5.0
Cuda version: 9.0
Nvidia Docker version: 2

[2018-04-27 01:56] dragen1860 commented on #15077
oh. really. I had thought it's for eager mode.

[2018-04-27 02:33] ASvyatkovskiy opened #18913 "Accessing CuDNN autotuner in built-in Keras"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
[code]
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.6.0
- **Python version**: 2.7.5
- **Bazel version (if compiling from source)**:
- **GCC/Compile

[2018-04-27 02:37] qianyizhang commented on #12948
@drpngx care to elaborate what's the new feature that might help, and what's the progress so far?
I hope it's more than gradient-checkpointing:
https://github.com/openai/gradient-checkpointing

[2018-04-27 02:41] SnowMasaya commented on #255
I think nvidia-driver is not working.

You have to check command `nvidia-smi`

If these command is not working, you have reboot your computer.

Maybe `nvidia-smi` works correctly.

[2018-04-27 02:55] oscarriddle commented on #18898
Hi samikama,

I figured out the solution. The root cause that I can't get calibration successfully done is because calibration can't accept batch input. Now I changed to run session 1 image at a time in the calibration, and it indeed works.

Thanks for your reply. You convinced me on this.

[2018-04-27 02:55] #18898 closed

[2018-04-27 03:07] nukes commented on #17822
i met the same issue.

[2018-04-27 03:09] dailystudio commented on #15688
Very disappointed with your answer. This issue has been reported for months but no one indeed to investigate why.
From my deep investigation and understanding, I feel that is absolutely a bug in your Demo.
The Op ResizeBilinear in Tensorflow is squeeze the image and what you have done in Android Demo is not. Why there is no problem in your demo? You capture images with size is nearly a square, whi

[2018-04-27 03:46] funny602tw commented on #12250
I found the retrain.py I download form https://github.com/tensorflow didn't contain "DecodeJpeg/contents:0" in it.
So I change that file , then it work.

`# Copyright 2015 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#

[2018-04-27 03:50] vinay453 commented on #13785
Getting same issue. Stackoverflow does not have answer to it as of today.

[2018-04-27 04:00] walkerwjt commented on #18658
@heng-yin , I tried it again with another mobile phone and I could build and run it again. But it still shows "uninitialized classifier or invalid context". It seems that the codes I commented out play some important role. I have not found any solution yet!

[2018-04-27 04:14] gunan commented on #18147
This CPU definitely does not have AVX instruction set. So that is one issue.
Which command did you use to build TF on your machine?
Also, how did you configure?

[2018-04-27 04:34] ksho1204 opened #18914 "Dose Titan Xp work in Windows10?"
Hi i bought new GPU - Titan Xp for learning, so i set the system like below:
CPU-AMD Ryzen 51600 Six-Core Processor
GPU-Titan Xp
Tensorflow-1.5.0 GPU
CUDA-9.0
cuDNN-7.0

But i found that when the calculation begins, the data looks not stacked on GPU, so that it occurs error message.

does Titan XP work in Windows 10 to use tensorflow gpu?

[2018-04-27 05:09] Dabin22 opened #18915 "Tensorflow lite version 0.1.7 is too slow"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: android
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: no
- **Python version**: no
- **Bazel version (if compiling from source)**: no
- **GCC/Compiler version (if compiling from

[2018-04-27 05:49] liugongfeng commented on #18549
CPU : Intel(R) Pentium(R) CPU G4600  @ 3.60GHz    @gunan

[2018-04-27 05:57] Suakuw opened #18916 "Does tensorflow have 2D short time Fourier transform?"
Tensorflow have tf.contrib.signal.stft which i think implements 1D stft. Can this be used fpr the 2D case?

[2018-04-27 06:37] tensorflowbutler commented on #18905
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-27 06:37] tensorflowbutler commented on #18906
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-27 06:46] dpaniukov opened #18917 "tf.contrib.image.connected_components works incorrectly with 3D numpy arrays"
### System information
Have I written custom code: N/A
OS Platform and Distribution: Linux Ubuntu 16.04
Bazel version: N/A
TensorFlow installed from binary
TensorFlow version: v1.7.0-3-g024aecf414 1.7.0
Python version: 3.6
CUDA/cuDNN version: CUDA 9.0 / cuDNN 7.1.1
GPU model and memory: GeForce GTX 1060 6GB

### Exact command to reproduce:
`import numpy as np`
`from tensorflow.contrib.image import

[2018-04-27 07:27] chenzhiwo commented on #17822
This error dosen't matters. ``libtensorflow-lite.a`` still works fine.

[2018-04-27 08:04] xav12358 opened #18918 "Unable to save a checkpoint"
Hello

I found a interesting project on github which recognize face in realtime:
https://github.com/vudung45/FaceRec

In that project there are two part, the face detection and the face recognition. The two graph are stored in a global graph and I want to export that global graph.

I add that code in mtcnn_detect.py:

[code]

When I launch the program I get that error:

[code]

[2018-04-27 08:48] pwaller commented on #16152
I'm still hitting this, Tensorflow 1.7.0 and 1.8.0-rc1. Python 3.6.5. Afraid I don't have an easy reproducer to hand, will update if I get one.

[2018-04-27 09:11] s-ravichandran commented on #18905
You will have to rollback to TF1.6 to get this resolved.

Refer this issue for more details https://github.com/tensorflow/tensorflow/issues/17494

[2018-04-27 09:40] noky commented on #18904
Sorry, it was my mistake :)

[2018-04-27 09:40] #18904 closed

[2018-04-27 09:46] kerolos commented on #14614
@rayjang could you please describe in more details how did you do this?
tensorflow::ConfigProto configProto;
 configProto.gpu_options();                   // ----> it gives to me one gpu_opention without any recieved arrguments.

thanks in advance.

[2018-04-27 09:56] pwaller commented on #16152
Reproducer below tested on 1.8.0-rc1. Was hard to make a reproducer because the warning did not show up unless I had `warnings.filterwarnings('error')`, which I use to make it easier to find the sources of warnings.

[code]

Full stack trace below.

<details>

[code]

</details>

[2018-04-27 09:57] Nuhoisen commented on #6698
Thank you @zzhang68 . Your solution worked for me.

[2018-04-27 10:12] sachka commented on #18736
I am currently having the exact same issue.
2018-04-27 12:00:03.250952: W tensorflow/core/framework/allocator.cc:101] Allocation of 439808000 exceeds 10% of system memory.
Killed

[2018-04-27 10:22] mjuvilla opened #18919 "Tf lite: Array activation1, which is an input to the Div operator producing the output array dropout/div, is lacking min/max data"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS X High Sierra
- **TensorFlow version (use command below)**: 1.8.0rc1
- **Python version**: 3.5

I'm trying to save a very simple NN model to tflite format, with weight quantization, following this documentation: https://www.tensorflow.org/performance/quantization.

However, when converting with toco, I get

[2018-04-27 10:34] AlexHarn opened #18920 "Feature request: Gradient for number of loop iterations for automatic differentiation of physics simulations"
## System information
**Not relevant.**

Have I written custom code **yes**
OS Platform and Distribution **different linux systems**
TensorFlow installed from **source and pip** (on different systems)
TensorFlow version **different versions, all >= 1.5.0**
Bazel version **different versions on different systems**
CUDA/cuDNN version **different versions, all >= 8**
GPU model and memory **GTX 1080,

[2018-04-27 10:34] gypleon commented on #12673
@joyspark @fancyerii hi, have you resolved the problem? the SavedModelBundle document is so blurred... I  even cannot load the saved model successfully using SavedModelBundle.load() in java.

[2018-04-27 10:34] bashhwu commented on #4632
@el3ment:  you need to use square brackets for shape instead of (,)

Example:

shape=[2,2]
u=tf.random_uniform(shape,minval=0.,maxval=1., dtype= tf.float32)
print(sess.run(u))

[[ 0.47149575  0.78796875]
 [ 0.76750052  0.41252744]]

[2018-04-27 10:49] kopas commented on #16646
as I did not found full answer in other places (aka [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow)) and this issue appears first in search results

If you want to update values on Estimator (high level API), you can use this code to do it

[code]

[2018-04-27 11:10] zsxgb opened #18921 "Resume checkpoint problem. Question in stackoverflow no answer"
I want to restore model parameters in the checkpoint file.
But I found
`NotFoundError (see above for traceback): Key wavenet/dilated_stack/layer10/gc_filter not found in checkpoint
`

I tried to read the model parameters, but found that I could not read it. The error was strange. I couldn't find the same error on google. I didn't seem to be able to do anything about it.

[code]

[2018-04-27 11:18] hjbssn opened #18922 "Why the leaky_relu is better？"
def lrelu(x, leak=0.2, name="lrelu"):
     with tf.variable_scope(name):
         f1 = 0.5 * (1 + leak)
         f2 = 0.5 * (1 - leak)
         return f1 * x + f2 * abs(x)

I don't know why is better than tf.maximum(0.2*x,x)
Could someone tell me why?
I really want to know.

[2018-04-27 11:26] ChuangLee commented on #17824
Hi @ispirmustafa
Here is a case:
 When using Siamese network ,  the loss only make sense when training,  So evaluation won't work because only  losses returned,  we want Euclidean distance or something like to actually evaluate on test data.
I think a sample solution is just passing true labels to "model_fn“.
In estimator.py  line 492~495, if labels is not None, just pass to "model_fn“.

[2018-04-27 12:14] DEKHTIARJonathan opened #18923 "Missing Numerous models in TF-Slim from Tensorflow/models"
Hello dear friends,

If you have a look to: [tensorflow/tensorflow =>/tensorflow/contrib/slim/python/slim/nets](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/slim/python/slim/nets), you may notice that numerous models are missing:

* cifarnet.py
* cyclegan.py
* dcgan.py
* inception_resnet_v2.py
* lenet.py
* mobilenet_v1.py
* pix2pix.py
* nasnet/nasnet.py
* nasnet/pnasnet.

[2018-04-27 12:29] helloworkcupid opened #18924 "build Error Tabulations are not allowed for identation. Use spaces instead."
ERROR: E:/demoall/demofour/tf/tensorflow/WORKSPACE:60:5: Tabulations are not allowed for identation. Use spaces instead.
ERROR: E:/demoall/demofour/tf/tensorflow/WORKSPACE:61:2: Tabulations are not allowed for identation. Use spaces instead.
ERROR: E:/demoall/demofour/tf/tensorflow/WORKSPACE:56:2: indentation error
ERROR: E:/demoall/demofour/tf/tensorflow/WORKSPACE:61:6: syntax error at 'outdent':

[2018-04-27 12:33] tensorflowbutler commented on #18913
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-04-27 12:33] tensorflowbutler commented on #18914
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-27 12:33] tensorflowbutler commented on #18916
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-27 12:46] wizyoung commented on #14897
@gaohuazuo Actually it's not a bug of TensorFlow but a feature of Python. `[lstm]*2` may not behave as you expect. The list it creates contains two elements refers to the **same** lstm cell instance instead of two separate ones. Here is an example:
[code]
So using list comprehension or for loop is the correct way to create separate RNN instances in  `MultiRNNCell`.

[2018-04-27 12:54] jackyko1991 opened #18925 "About newlly added eager_operation.h"
In the latest Eager core update, I see that eager_operation is moved to [tensorflow/core/common_runtime/eager](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/common_runtime/eager). However this file require c_api as one of the dependency.

The c_api is suppose to be built after cpu_core_lib is generated, I am now a bit confuse as I am trying to rewrite the CMake files in orde

[2018-04-27 13:06] Suakuw commented on #18916
Have I written custom code: No
OS Platform and Distribution: Ubuntu 16.04
TensorFlow installed from:  NA
TensorFlow version: 1.7
Bazel version: NA
CUDA/cuDNN version: 9.0
GPU model and memory: Nvidia Titan Xp 12 Gb
Exact command to reproduce: NA

[2018-04-27 13:31] naktinis commented on #17956
@petewarden is there anything else we could provide that would make it easier for you to look into this issue?

[2018-04-27 13:56] fourk-ty commented on #6011
I tested RikHeijdens' code in tf1.6. 'tf.mul' should be changed as 'tf.multiply'.

[2018-04-27 14:32] andrehentz commented on #18915
We are investigating. There were no changes to remove neon support. Do you have custom inference code or are you running benchmark_model?

[2018-04-27 14:39] andrehentz commented on #18857
That's possible, but it looks like the tool is looking for it in the wrong place. We will fix that.

[2018-04-27 14:44] andrehentz commented on #18658
Re compilation: make sure all you code and library are sync'ed to the same version.

Re 'uninitialized classifier": My guess is that the app is not finding the model. Could you make sure the paths are all correct?

[2018-04-27 14:52] ArriFerrari opened #18929 "TensorFlow Tutorials should have a Jupyter notebook friendly option"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Nope
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10 (latest 04/27/2018)
- **TensorFlow installed from (source or binary)**:
python -m pip install tensorflow
- **TensorFlow version (use command below)**:
1.7.0
- **Python version**:
3.6.5
- **Bazel v

[2018-04-27 14:53] helloworkcupid opened #18930 "ERROR: in target '//external:cc_toolchain': no such package '"
ERROR: in target '//external:cc_toolchain': no such package '@local_config_cc//': Traceback (most recent call last):
        File "C:/users/wondercupid/appdata/local/temp/_bazel_wondercupid/dlqxfaaz/external/bazel_tools/tools/cpp/cc_configure.bzl", line 37
                configure_windows_toolchain(repository_ctx)
        File "C:/users/wondercupid/appdata/local/temp/_bazel_wondercupid/dlqxfaaz/e

[2018-04-27 15:04] ohadlights commented on #18893
Added 'Details' section. thanks.

[2018-04-27 15:05] cuihenggang commented on #17739
Hi, my program uses TensorFlow C++ API, and address sanitizer has found a memory leak in my program that I believe is related to this issue.

The leaked memory found by address sanitizer is allocated by
`tensorflow::thread::ThreadPool::ThreadPool(tensorflow::Env*, tensorflow::ThreadOptions const&, std::string const&, int, bool)`, which is called by `TF_NewSession`.

I hope this issue can be fixed

[2018-04-27 15:36] Skydes opened #18931 "CMake build without GRPC and Python bindings fails"
### System information
- OS: Linux Ubuntu 14.04
- Tensorflow: installed from source ([master branch](8a428cdd350a56b9f7de2ed55b3fbe7b6ad6b257))
- GCC 4.8.4
- CMake 3.8.2
- No GPU

### Problem
The CMake build fails on Ubuntu when GRPC support is disabled.

### Command
[code]

### Logs
[code]

[2018-04-27 15:50] bileschi commented on #18741
Ah, the correct location for this issue is https://github.com/tensorflow/tfjs/issues

[2018-04-27 16:05] muhammadzulfanazhari opened #18932 "is it possible using tf.contrib.model_pruning.masked_conv2d instead of tf.layers.conv2d?"

[2018-04-27 16:18] karmel commented on #18914
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-27 16:18] #18914 closed

[2018-04-27 16:48] reedwm commented on #18725
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-27 16:48] #18725 closed

[2018-04-27 17:12] rachellim commented on #18784
Thanks Derek!

@recolgan, I'd be interested in knowing how much the recent changes (in the nightly build) help. Specifically, we merged a change that speeds up text -> float parsing significantly. I'm assuming you're reading float data? (assumption based on your defaults being `[[]]`, which tf interprets as float32 if i'm not mistaken) What's `num_cols_` in your case?

[2018-04-27 17:12] thomasyoung opened #18934 "Patch Request: Move CROSSTOOL_nvcc.tpl to c++14"
CUDA9.0 is already supporting C++14 now:
https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#cpp14

[code]

[2018-04-27 17:33] wenouyang opened #18936 "the problem when downgrading the tensorflow version from 1.7 to 1.6"
I got the following error message when trying to roll back the tensorflow version from 1.7 to 1.6.  What might be the cause?

`conda install tensorflow==1.6`

[code]

[2018-04-27 18:14] Skydes commented on #18931
Actually it also fails if the python bindings are disabled with `-Dtensorflow_BUILD_PYTHON_BINDINGS=OFF`:
[code]
Why exposing these flags in the `CMakeLists.txt` if GRPC and Python are anyway required to successfully build ?

[2018-04-27 18:40] tensorflowbutler commented on #18920
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-27 18:40] tensorflowbutler commented on #18918
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-27 18:40] tensorflowbutler commented on #18917
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
Bazel version
CUDA/cuDNN version
Exact command to reproduce

[2018-04-27 18:40] tensorflowbutler commented on #17942
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-27 18:41] tensorflowbutler commented on #18459
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-27 18:41] tensorflowbutler commented on #18447
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-27 18:41] tensorflowbutler commented on #18443
Nagging Assignee @jart: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-27 18:41] tensorflowbutler commented on #18427
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-27 18:41] tensorflowbutler commented on #3628
Nagging Assignees @petewarden, @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-27 18:41] tensorflowbutler commented on #17595
Nagging Assignees @petewarden, @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-27 18:42] tensorflowbutler commented on #16926
Nagging Assignee @jsimsa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-27 18:42] tensorflowbutler commented on #16624
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-27 18:42] tensorflowbutler commented on #16483
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-27 18:42] tensorflowbutler commented on #14607
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-27 18:42] tensorflowbutler commented on #14452
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-27 18:42] tensorflowbutler commented on #9545
Nagging Assignee @chihuahua: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-27 18:48] nikonikolov commented on #18874
Thanks for the response. I think you misunderstood what I was saying, maybe I was not clear enough.
Here is a mock up (just to illustrate the issue, it is not the *exact* piece of code which reproduces the problem):

[code]

The issue that I am experiencing is that `rands` ends up with different numbers between runs. This is happening only when using GPU. On CPU, the numbers are the same. When I r

[2018-04-27 18:52] recolgan commented on #18784
Yup, it's float data (in E-notation with 10 digits, e.g. 1.273661858e+02, but casting to float32 is fine). num_cols_ is 11.

With tf-nightly-gpu from pypi (which says it's version 1.8.0-dev20180330), the results are pretty much the same:
[code]

[2018-04-27 18:53] asimshankar commented on #12673
@gypleon : Feel free to file a new issue if you're having trouble loading the saved model - though do include a short example to reproduce the problem.

Haven't heard back from @fancyerii , but there was certainly a problem wherein the model was being exported with random weights, not the trained weights. Not sure about @joyspark 's issue

[2018-04-27 19:02] reedwm commented on #18874
So the issue is that running TensorFlow sessions seems to affect the random numbers that numpy generates.

/CC @zffchen78 do you know if this is expected? IMO this shouldn't occur, because TensorFlow should only use it's own seed for randomness.

[2018-04-27 19:08] dpaniukov commented on #18917
Updated, thanks.

[2018-04-27 19:16] #17014 closed

[2018-04-27 19:41] reedwm commented on #18921
Please keep in mind that the TensorFlow GitHub Issues page is for tracking bugs and feature requests. It is not a way to escalate a Stack Overflow support question that is not getting enough attention. Thanks!

[2018-04-27 19:41] #18921 closed

[2018-04-27 20:27] marcociccone commented on #675
@mholzel Have you found how to nest while loop to make it work?

[2018-04-27 20:29] amq commented on #10220
Interestingly though, compiling without `-mavx512f` works just fine.

[2018-04-27 20:32] mholzel commented on #675
No. It seems like a really subtle bug in either the gradient or while loop implementation. That requires somebody with a lot more knowledge than me about what is going on there

[2018-04-27 20:36] sclarkson commented on #18550
Also experiencing this error on Ubuntu 18.04 using gcc-6

[2018-04-27 20:39] shashishekhar commented on #16851
There was a bug in the schema where the default values of dilation width and height factors were set to 0 instead of 1. This incorrect value will cause the slow kernel to be selected.
This got fixed with recent update to [schema](https://github.com/tensorflow/tensorflow/commit/e41e70ed9827b81a07c42f68def80f3f61b70375#diff-16ca4f2738c3598cf9b1d79b45eed593)
This should be fixed on master now.

[2018-04-27 20:39] #16851 closed

[2018-04-27 20:44] shashishekhar commented on #18915
There was a bug in the schema where the default values of dilation width and height factors were set to 0 instead of 1. This incorrect value will cause the slow kernel to be selected for execution.
This got fixed with recent update to [schema](https://github.com/tensorflow/tensorflow/commit/e41e70ed9827b81a07c42f68def80f3f61b70375#diff-16ca4f2738c3598cf9b1d79b45eed593), that is the reason you saw

[2018-04-27 20:44] #18915 closed

[2018-04-27 20:47] marcociccone commented on #675
damn, thanks anyway... Is there anyone that can help? maybe we can bother @ovrebdo?

[2018-04-27 20:57] angersson commented on #18279
Resolved by #18868. Thanks Amit!

[2018-04-27 20:57] #18279 closed

[2018-04-27 21:01] angersson commented on #18862
@mrry can you take a look at this? I can't tell if it could be a bug or not.

[2018-04-27 21:04] angersson commented on #18891
It looks like the issue is now resolved. If you think you've found a bug, please make another issue with replication information. Thanks!

[2018-04-27 21:07] #18891 closed

[2018-04-27 21:07] dancasas commented on #675
@marcociccone in TF 1.4 seems to be working fine, if this is an alternative for you.

[2018-04-27 21:43] rachellim commented on #18784
Can you try `pip install --upgrade tf-nightly-gpu` to pull a later version of tensorflow? Looking at the version number, it seems out of date (20180330 - the changes were only made on 4/20). You should have a version number like `tf-nightly-gpu 1.9.0.dev20180426`

[2018-04-27 21:49] abdallahmohammed197 commented on #14142
@EmanSaad11 what's the dataset that you're using?
i am trying to build one as well but didn't land in any available corprus

[2018-04-27 22:45] recolgan commented on #18784
Weird, I just did the install today, but in a Conda environment, so maybe that had something to do with it. Anyway, with 1.9.0-dev20180426 installed via native pip3, I get the following:

[code]

So, much better, but still not as fast as it ought to be...

[2018-04-27 23:16] ispirmustafa commented on #17824
Hi @ChuangLee
we use predict mode for exporting serving graph. providing labels to the `model_fn` in predict mode seems breaking the assumptions.
You can still have `labels` in your network by adding them to `features` dictionary. Does that work?

[2018-04-27 23:30] up-to-you commented on #17390
@karllessard can we expect tf.train.Example, tf.python_io.TFRecordWriter, tf.train.Feature, tf.train.**Types** wrappers? This impl will blow up everyone, since it will shut the hole in Spark <-> Tensorflow integration. Until higher level api will be implemented in java.

[2018-04-28 00:46] tensorflowbutler commented on #18923
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-28 00:47] tensorflowbutler commented on #18924
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-28 00:47] tensorflowbutler commented on #18925
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-28 00:47] tensorflowbutler commented on #18930
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-28 00:47] tensorflowbutler commented on #18932
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-28 00:47] tensorflowbutler commented on #18934
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-28 00:47] tensorflowbutler commented on #18936
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-28 01:00] wei-v-wang commented on #18133
Related to issue of: https://github.com/tensorflow/tensorflow/issues/17273
We are working on this AVX512 issue with Eigen. As a workaround, please configure AND compile with AVX2 only (i.e. use -march=broadwell instead of -march=native).

[2018-04-28 01:03] wei-v-wang commented on #17047
@asimshankar Sorry for the delayed answer.  It could be. I am working with my colleague to work on a fix for these. Hopefully the turnaround time will be better in short future.

[2018-04-28 01:25] zsxgb commented on #18921
@reedwm
I was thinking that this is not a bug？ what I describe is not clear enough. How should this problem be described

[2018-04-28 01:38] liugongfeng commented on #18549
@gunan
CPU : Intel(R) Pentium(R) CPU G4600 @ 3.60GHz

[2018-04-28 01:46] wei-v-wang commented on #17047
@abiro  @asimshankar  @bignamehyp @gunan

FYI: please try the latest commit e.g. https://github.com/tensorflow/tensorflow/commit/a175841eb549f069ac205fb32bf55314a387fe6d

I tested a private version similar to the above commit and did not encounter the issue anymore (but was indeed seeing this with some old public commits, sorry for the inconveniences).

 investigate_17047]$ python p.py
/usr/lib64/

[2018-04-28 01:52] liugongfeng commented on #18549
I checked my CPU by using CPU-Z , it **does not** support AVX instruction..
What should I do ?
@gunan  @gunan

[2018-04-28 02:14] drpngx commented on #12948
So, we finally pushed the feature. You can implement gradient checkpointing with that as well.

You can take a look at [`recurrent.py`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/recurrent/python/ops/recurrent.py). It uses the [`inplace_ops`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/inplace_ops.py) that allow to  write to parts of a te

[2018-04-28 02:50] githubier opened #18941 "question when run distributed tensorflow"
when I run the distributed tensorflow , I met this problem described below on one of the\ worker:

Traceback (most recent call last):
  File "dis_convae.py", line 277, in <module>
    _, cost,step = sess.run([train_op_1, model_one_cost,global_step], feed_dict={model_one_X: input_})
  File "/home/master/anaconda2/lib/python2.7/site-packages/tensorflow/python/client/session.py", line 778, in run

[2018-04-28 03:12] mycrazycracy commented on #18862
@mrry If the input length is 100 (which is the case in the egs), after 1st conv, it should be 96. I don't know where 97 comes from? The actual length of the data is the same when using padded_batch and padded_batch_and_drop_remainder. But padded_batch _works_, which is weird.

[2018-04-28 04:05] yaroslavvb commented on #11724
@eamartin 1.2 is really old, this kind of issue should have been fixed by changing how TF symbols get linked in https://github.com/tensorflow/tensorflow/commit/5c7f9e316d8c7735308a217310350d416d7498cc

[2018-04-28 04:32] KangHsi commented on #10396
@SharoneDayan  I don't have a good solution. A work around is that rebuild the entire graph instead of using import_meta_graph().

[2018-04-28 04:41] zxqchat commented on #18830
yeah .I have view this page before ,but I need to change some trainable variables ,not all and not little. Have any efficient way to implement?

[2018-04-28 05:02] mrTsjolder commented on #18941
This does not seem to be either a bug report or a feature request (or anything that could be helpful for the development of tensorflow).

Please, refer to [stackoverflow](https://www.stackoverflow.com) for this kind or questions. I would also advice you to add some more information than what you provided here.

[2018-04-28 05:34] WenguoLi opened #18943 "ssd_mobilenet_v2 was slower than ssd_mobilenet_v1 in the tflite ?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:Source
- **TensorFlow version (use command below)**:1.8.0rc0
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**: 0.12.0
-

[2018-04-28 06:07] mrry commented on #18862
That does sound strange. Try computing `tf.shape(input)` and `tf.shape(label)` and printing their values to see if there’s anything unexpected about the shapes being returned from the iterator.

[2018-04-28 06:28] Jayoprell opened #18945 "How to change batch_size when load a frozen model?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-28 06:30] krworks commented on #18564
With macOS Sierra and bazel 0.12 installed WITH the bazel installer (NOT Homebrew), I get the exact same armv7-a error on a x86_64 architecture.  I am attempting to build the r17 branch.

[2018-04-28 07:15] acesaif commented on #18895
I am so sorry. I my mistake. My data set is not proper. My apologies.

[2018-04-28 07:15] #18895 closed

[2018-04-28 07:16] #18922 closed

[2018-04-28 07:29] felixhao28 commented on #16542
@fengrussell
I followed instructions here to add allow_soft_placement=True. Not sure what is the side effect.
https://github.com/tensorflow/tensorflow/issues/2285

[2018-04-28 07:32] wei-v-wang commented on #16982
@jakubkarczewski @cy89 @tatianashp @asimshankar

Please see below for my newest findings regarding this issue - it seems the issue disappeared if we use Intel MKL DNN backend (with recent commits) rather than Intel MKL ML backend.

AlexNet]$ export OMP_NUM_THREADS=4 (may need to do this to avoid OpenMP resource issue)
AlexNet]$ python alexnet.py   testoutput/
/usr/lib64/python2.7/site-packages/h5p

[2018-04-28 07:33] Skydes commented on #18931
This seems to fix the issue with the Python binding:
[code]

Regarding the GRPC dependency, this helps:
[code]

However some issues remain with [`debug_io_utils.h`](../blob/master/tensorflow/core/debug/debug_io_utils.h) and [`debug_io_utils.cc`](../blob/master/tensorflow/core/debug/debug_io_utils.cc), which require GRPC and are included by  [`debug_ops.h`](../blob/master/tensorflow/core/kernels/de

[2018-04-28 07:33] wei-v-wang commented on #16982
@jakubkarczewski FYI, I used a commit that is very much like this public commit: https://github.com/tensorflow/tensorflow/commit/a175841eb549f069ac205fb32bf55314a387fe6d

[2018-04-28 07:54] oscarriddle commented on #18945
You have to recreate the freeze model to ensure that the N-channel is "?".
Refer to this:[https://stackoverflow.com/questions/40586471/what-is-the-best-way-to-run-saved-model-with-different-batch-size-in-tensorflow?rq=1](url)
Since the graph is appendable-only, I think you must recreate it with desired input dims at the beginning.

BTW, you'd better take a look at the description before submitting

[2018-04-28 07:55] jianqin123 commented on #18237
I am facing the same problem。This problem is encountered when executing a python script using ssh to connect to a server.Running python script locally works well.

[2018-04-28 08:44] zhongmengfeng opened #18946 "A preliminary issue,Techniques for object detection"
A preliminary issue about tensorflow for Android object tracking technology
Is it using opencv? Thanks for your answer

[2018-04-28 09:27] #16898 closed

[2018-04-28 09:33] shanshan0309 commented on #18824
Hi @gunan. Thanks. I found that this issue can be reproduced from master revision f196351c. Hope it will help solve this issue.

[2018-04-28 09:43] lcerman commented on #17801
Also hit this problem....

[2018-04-28 09:45] Skydes commented on #18360
Workaround are currently possible, e.g. [`tensorflow_ros`](https://github.com/tradr-project/tensorflow_ros/) links against the pip binaries for C++.

The only limitation is that the current pip binaries are built with the old C++ ABI, while some OS (e.g. Ubuntu 16) build only with the new C++11 ABI. There's a [pip bug report](https://bugs.launchpad.net/ubuntu/+source/python-pip/+bug/1707002) about

[2018-04-28 09:49] Skydes commented on #18925
I face this issue as well (Ubuntu 14, latest master head). My current workaround is to disable the build of `transform_graph`, `summarize_graph`, `compare_graphs` and `benchmark_model` (see [here](https://github.com/Skydes/tensorflow_catkin/blob/updated-build/patches/fix_eager_link.patch)).

[2018-04-28 10:24] NicolaOrritos commented on #10994
I followed the instructions at https://www.tensorflow.org/install/install_windows and I get the same error:
`Could not find 'cudart64_90.dll' [...]`.
This bug is blocking all my efforts at using Tensorflow on Windows 10.

[2018-04-28 10:38] O-KAYgorodov commented on #1835
I have a python script to do this https://github.com/O-KAYgorodov/TF2pdf

[2018-04-28 10:39] svirg opened #18947 "tf.contrib.data.prefetch_to_device throws an error when used with tf.data.Iterator.from_structure"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.8.0
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**:
-

[2018-04-28 10:46] Ssdmc commented on #18859
i didn't find how to solve this problem !

[2018-04-28 11:07] strelec commented on #18237
You can just compile tensorflow from source. It is not rocket science.

[2018-04-28 12:15] apratsunrthd commented on #17411
Having the same issue, downgraded to 1.5. Tensorflow imports now but I'm running a script that needs tensorflow_hub. Script is throwing RuntimeError: TensorFlow Hub depends on 'tf-nightly' build after 20180308 or 'tensorflow~=1.7'. Found tf.VERSION = 1.5.0

[2018-04-28 14:05] ccolby commented on #16504
This issue should be fixed in the master branch.
Search for testIssue16504 in [control_flow_ops_py_test.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/control_flow_ops_py_test.py).

[2018-04-28 16:58] bzq2810 commented on #14013
From [this repository](https://github.com/hillhao/PYNQ-project) I found the following:

[code]

[2018-04-28 18:26] drpngx commented on #16504
Woohoo!

[2018-04-28 18:26] #16504 closed

[2018-04-28 18:29] tensorflowbutler commented on #18946
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-28 18:29] tensorflowbutler commented on #18943
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-04-28 18:29] tensorflowbutler commented on #18493
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-28 18:29] tensorflowbutler commented on #18490
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-28 18:29] tensorflowbutler commented on #18484
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-28 18:29] tensorflowbutler commented on #18478
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-28 18:29] tensorflowbutler commented on #18405
Nagging Assignee @MarkDaoust: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:29] tensorflowbutler commented on #18380
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-28 18:30] tensorflowbutler commented on #18297
Nagging Assignee @tatianashp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:30] tensorflowbutler commented on #18280
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:30] tensorflowbutler commented on #17978
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:30] tensorflowbutler commented on #17914
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-04-28 18:30] tensorflowbutler commented on #17859
Nagging TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-04-28 18:30] tensorflowbutler commented on #17803
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-28 18:30] tensorflowbutler commented on #8652
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:30] tensorflowbutler commented on #17729
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-28 18:30] tensorflowbutler commented on #17702
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:30] tensorflowbutler commented on #17679
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:31] tensorflowbutler commented on #17671
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:31] tensorflowbutler commented on #17634
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-28 18:31] tensorflowbutler commented on #17168
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:31] tensorflowbutler commented on #16889
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:31] tensorflowbutler commented on #16872
Nagging Assignee @ekelsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:31] tensorflowbutler commented on #16611
Nagging Assignee @ispirmustafa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:31] tensorflowbutler commented on #15883
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-28 18:31] tensorflowbutler commented on #14217
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:31] tensorflowbutler commented on #13868
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:31] tensorflowbutler commented on #13620
Nagging Assignee @ysuematsu: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 18:31] tensorflowbutler commented on #13610
Nagging Assignee @mrry: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-28 19:04] #18586 closed

[2018-04-28 19:06] #16228 closed

[2018-04-28 20:00] hhusum commented on #18490
Yes, it is.

[2018-04-28 20:06] VanitarNordic commented on #18323
Today I upgraded to the Tensorflow 1.8,

I can't believe that the problem was solved now!

I don't know what you have changed in the code which relates to this, but I can not see this specific issue anymore. But please keep this open till I do more tests.

I had upgraded the Keras to 2.1.6 before (because it had released sooner), but it did not change the situation.

[2018-04-28 21:16] #18941 closed

[2018-04-28 21:29] EmanSaad11 commented on #14142
@abdallahmohammed197 Hi , that was my biggest problems so the solution was to create my own since my Arabic Chatbot is for customer service I built a data set with questions that the users could ask anlog with thier answer . ( the questions was collected by using a simple online survey)

[2018-04-28 22:12] abdallahmohammed197 commented on #14142
@EmanSaad11 is it possible to share the dataset?
i would like to have your contact as well.  i am working in a similar problem

[2018-04-29 00:01] Davidnet commented on #18943
Hello @WenguoLi at the tensorflow models readme: "For example Mobilenet V2 is faster on mobile devices than Mobilenet V1, but is slightly slower on desktop GPU." This might give you an explanation ?

[2018-04-29 00:38] sibyjackgrove opened #18952 "Feature request: Option to create dataset from a subset of the columns in the CSV file using tf.contrib.data.make_csv_dataset()"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Custom
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.8
- **Python version**:  3.6
- **Bazel version (if compiling fro

[2018-04-29 02:51] wenouyang commented on #18905
Hi s-ravichandran, I rollbacked to TF1.6, and got the same problem. The python is 3.5

[2018-04-29 03:12] wenouyang commented on #17494
Hi gzmkl, I rolled back tensorflow version to 1.6 and still has the problem, the python version is 3.5. Thanks.

[2018-04-29 03:31] lcswillems commented on #18736
Exact same issue:
2018-04-28 23:29:06.477982: W tensorflow/core/framework/allocator.cc:101] Allocation of 18874368 exceeds 10% of system memory.

[2018-04-29 03:31] Ahmed-Masoud commented on #5785
did you find a solution?

[2018-04-29 04:40] aroraakshit commented on #16576
Very much interested in at least one mechanism for hyper-parameter tuning with Estimator!!

[2018-04-29 05:33] SephirothFFKH commented on #18906
Great! I was able to build TF with the configuration below but the biggest roadblock is to get a version of TensorRT that works with anything above 9.0 hopefully TensorRT 4.1 comes right in time for this r1.9

OS Platform and Distribution: Lubuntu 17.04
TensorFlow installed from Source
TensorFlow version r1.8
GCC version 7
Bazel version 0.12
CUDA/cuDNN version 9.1/7.1
NCCL 2.1.15
TensorRT None
GPU

[2018-04-29 05:37] jackyko1991 opened #18956 "Fail to build cmake with gpu for _lstm and _rnn ops in windows"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: github master (should be 1.8?)
- **Python version**:  3.6
- **Bazel version (if compiling fro

[2018-04-29 05:43] formigone commented on #13895
To clarify:

That is incorrect. `train_and_evaluate` trains for a configurable amount of iterations, then runs an evaluation until the specified `input_fn` finished. Then it starts training again by restoring the weights that were used for the eval, and consuming the input stream from where it left off. There might be some minor technicalities in my summarized explanation, but it is conceptually a

[2018-04-29 07:12] advaza opened #18958 "[feature request"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-29 07:54] micdestefano opened #18960 "Please clarify the documentation on eager execution and available host language functionalities"
The documentation on eager execution [here](https://www.tensorflow.org/programmers_guide/eager), particularly for the "fizzbuzz" example, does not reflect what tensorflow does. Specifically, all the comparisons num % x == y  do not work as the reader is expecting them to. According to me, it is not true that "all the functionality of the host language is available" because in order to make that co

[2018-04-29 08:32] guy6656 commented on #18890
Hi,

After some debugging I found the error:
tensorflow/contrib/lite/simple_memory_arena.cc:82 it->size != alloc.size (4 != 0)

It happens on the first allocation,

The initialization succeeded but it fails with this allocation, can you please give me some directions where to look?

My model is very basic and consists weights and biases:

# Create model
def my_model(patches, hidden_init):

    pat

[2018-04-29 08:34] StevenGann commented on #15656
Just wanted to remind you guys that it's been a while and CUDA 9.1 still isn't supported, even by the nightly build.

This means I still can't use TensorFlow because my system requires CUDA 9.1 for another purpose. I hope this can be fixed soon.

[2018-04-29 08:39] bersbersbers commented on #15656
@StevenGann I am running TensorFlow on a system that has CUDA 8, 9.0 and 9.1 installed, with TensorFlow using 9.0. It works. So you can have CUDA 9.1 installed "for another purpose" and still use TensorFlow.

[2018-04-29 08:45] StevenGann commented on #15656
@bersbersbers This doesn't seem to be the case. When I attempt to install CUDA 9.0, the installation runs but it only updates 9.1's installation. The Nvidia installer does not permit me to install 9.0 as long as 9.1 is installed.

Also, it seems fairly lazy to stick with an outdated library version and require people to uninstall and reinstall drivers, especially when the newer version was suppose

[2018-04-29 08:56] StevenGann opened #18961 "CUDA 9.1 Support"
I am using NVIDIA GeForce GTX 1050 and installed NVIDIA 388.19. I installed cuDNN 7.0.5 and CUDA 9.1. As of my understanding, I know that, tensorflow is not supported in CUDA 9.1. My question is when I can expect the next build/release of TF to support CUDA 9.1. For the time being, shall I make a link from CUDA 9.0 to CUDA 9.1 and expect to work? Or is there any better way to solve the problem?

[2018-04-29 08:59] bersbersbers commented on #15656
@StevenGann I am almost certain that I installed 9.0 after 9.1 (I think I did 9.1, 8.0, 9.0 until I got it working). That was in Windows 10. Anyway, uninstalling 9.1 and installing 9.0, followed by 9.1 looks like it should work?

[2018-04-29 10:29] carlthome commented on #18791
I just ran into the same issue. Very confusing.

[2018-04-29 11:31] rushatrai commented on #15656
@StevenGann if you build from sources, I believe you can use CUDA 9.1 as it asks for the CUDA version you want to build with.

[2018-04-29 13:39] andrebeu commented on #1652
I am also having this issue where I want to place RNN vars on CPU but execute the cell ops on GPU. having to hack around source code is subprime.  it would be nice if vars and ops had a kwarg for soft device placement. then we could do:

to create a cell
`cell = tf.contrib.rnn.BasicRNNCell(celldim,device='/cpu:')`

to run the cell ops
`output,state = cell(x_batch[:,time_step,:], cell_state,device=

[2018-04-29 13:46] nkhdiscovery commented on #9525
@allenlavoie I would like to help splitting, let me know if you have any open issues ...

[2018-04-29 14:13] karllessard commented on #17390
Hi @up-to-you , what is being ported right now are core ops that can be added to a neural network for training, i.e. most of the ops that are registered [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/ops).

AFAIK, what you are referring to are utilities to store example data that happens outside the network, so it won't be part of the current work (though you'll be abl

[2018-04-29 14:39] Wheest commented on #18437
I have been having a similar issue.  All of the operations are supported, but conversion to `.tflite` fails because the input tensor has an input dimension of type `None` (to allow an arbitrary number of input datapoints)

From the [tflite dev guide](https://www.tensorflow.org/versions/master/mobile/tflite/devguide), you can convert your model to FlatBuf like so:

[code]

However, if our input can

[2018-04-29 15:37] DC-Swind opened #18962 "bug of tf.extract_image_patches"
### System information
- **OS Platform and Distribution**: Linux Ubuntu  16.04
- **TensorFlow installed from pip**:
- **TensorFlow version**: 1.5
- **Python version**: 2.7
- **CUDA/cuDNN version**: 8.0
- **Have I written custom code**: N/A
- **Bazel version**: N/A
- **GPU model and memory**: N/A
- **Exact command to reproduce**: N/A

### the problem
I have a input "x" which size is (batch, width,

[2018-04-29 17:40] fzr2009 commented on #8785
I too have same issue, as I install tensflow-gpu 1.8.0 using pip but when I uninstall it and it does not.

![tensor issue](https://user-images.githubusercontent.com/36807429/39409312-2288920c-4bfe-11e8-9242-19306835d079.PNG)

[2018-04-29 17:42] fzr2009 commented on #8785
I did " pip uninstall tensorflow-gpu " and " pip uninstall tensorflow-gpu==1.8.0 ", this happens

![tensor issue 2](https://user-images.githubusercontent.com/36807429/39409327-9dafc25c-4bfe-11e8-9c3e-13f9cd173151.PNG)

[2018-04-29 17:56] julien2512 commented on #16028
@drpngx Should we use something like that

to implement the maximum function in order the gradient to work (with static values rather than variables) ?
Width seems not to be necessary this way.

[2018-04-29 18:29] tensorflowbutler commented on #18961
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-29 18:29] tensorflowbutler commented on #18960
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-29 18:29] tensorflowbutler commented on #18065
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-29 18:29] tensorflowbutler commented on #18522
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-29 18:29] tensorflowbutler commented on #18516
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-29 18:29] tensorflowbutler commented on #18514
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-29 18:30] tensorflowbutler commented on #18496
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-29 18:30] aligokalppeker commented on #17747
Same issue is valid for my environment also; Windows 10 x64, Tensorflow 1.7.0, CUDA 9, cuDNN 7

2018-04-29 21:11:23.422100: E T:\src\github\tensorflow\tensorflow\stream_executor\cuda\cuda_event.cc:49] Error polling for event status: failed to query event: CUDA_ERROR_ILLEGAL_INSTRUCTION
2018-04-29 21:11:23.422100: E T:\src\github\tensorflow\tensorflow\stream_executor\cuda\cuda_event.cc:49] Error po

[2018-04-29 18:30] tensorflowbutler commented on #18488
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-29 18:30] tensorflowbutler commented on #18454
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-29 18:30] tensorflowbutler commented on #18452
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-29 18:30] tensorflowbutler commented on #18400
It has been 18 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-29 18:30] tensorflowbutler commented on #18124
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-29 18:30] tensorflowbutler commented on #9518
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-29 18:30] tensorflowbutler commented on #17845
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-29 18:30] tensorflowbutler commented on #17747
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-04-29 18:30] tensorflowbutler commented on #17564
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-29 18:30] tensorflowbutler commented on #17436
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-29 18:31] tensorflowbutler commented on #16660
Nagging Assignee @case540: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-29 18:31] tensorflowbutler commented on #15932
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-29 18:31] tensorflowbutler commented on #14101
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-29 18:31] tensorflowbutler commented on #13222
Nagging Assignee @jart: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-04-29 18:39] deepaksuresh commented on #18452
Yes

[2018-04-29 18:49] ntenenz commented on #18961
@StevenGann, this is addressed in #15140. The tentative plan, AFAIK, is to move to 9.2 w/TF 1.9. See #18906 for the latest.

[2018-04-29 19:00] Suananda commented on #15604
Somehow, I solved this by installing:
cuda 9.1 (from package manager),
cudnn 7.1 for 9.1
and from anaconda:
by using this default command 'conda install -c anaconda tensorflow-gpu'
cudatoolkit 9.0,
tensorflow 1.7,
tensorflow-gpu 1.7

I use Antergos linux, GTX 1060

[2018-04-29 20:11] eahmedsalman commented on #17411
thanks going back to version 1.5 worked for me also

[2018-04-29 21:18] bhack opened #18964 "Add profile binary to dev image"
Why `tensorflow/core/profiler:profiler` was not added at least in dev images?

I.e. for the gpu one:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile.devel-gpu#L103

[2018-04-29 21:32] ozkalt commented on #14182
Thanks @Karthick333031 it works for me (MacOS 10.12.6)

[2018-04-29 21:33] tanyafrank1995 opened #18966 "."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-29 22:01] Htiango opened #18967 "r"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-29 22:01] #18967 closed

[2018-04-29 22:01] #18966 closed

[2018-04-29 22:49] akhiljalan commented on #11915
@mehmetbasbug Could you explain what `cuda_host_mem_limit`? I'm having a similar issue, I'm on CUDA 9.0 and cudNN 7.0.5

[2018-04-30 00:16] enriquecerepossivel opened #18969 "Error (windows 10 - Anaconda)"
problemes to install
------------
During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Usuario\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\__init__.py", line 24, in <module>
    from tensorflow.python import pywrap_tensorflow  # pylint: disable=unused-import
  File "C:\Users\Usuario

[2018-04-30 00:37] tensorflowbutler commented on #18962
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-30 01:02] #17713 closed

[2018-04-30 02:08] DC-Swind commented on #18962
@tensorflowbutler These fields are added now.

[2018-04-30 02:42] ChiFang commented on #18822
hi @jart
I think it might be a bug.  Because once tensorflow be active. it will make every cuda code crash even I use "sess.close()"...
The case mentioned above is run on specific NVIDIA driver to make it don't crash.

The following code it a simple example cuda code run by [pycuda](https://documen.tician.de/pycuda/).
once I add `sess = tf.Session()` .  My cuda code crash. It work fine without `se

[2018-04-30 02:42] liuhd1992 opened #18970 "v"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-04-30 03:00] mriberodiaz commented on #9362
Hi @leckie-chn , were you able to fix this? I'm having the same problem with tf.layers.dense..

[2018-04-30 03:03] fmannan commented on #18962
The gradient of extract_image_patches currently doesn't support variable sized input. See if PR #17420 works for you.

[2018-04-30 03:25] gypleon opened #18971 "Problems about loading SavedModelBundle"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04.3 LTS
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.6
- **Python version**:
2.7.12
- **Bazel version (if compiling from source)**:
- **

[2018-04-30 03:37] WolfNiu commented on #13536
Could anyone tell me when this bug was fixed. I couldn't find it in the release notes. Thank you!

[2018-04-30 03:47] DC-Swind commented on #18962
@fmannan Does extract_image_patches support a input whose first dimension(batch dimension) is a variable? e.g. (?, 20, step, 64)
Are there plans to make extract_image_patches support the variable sized input?

[2018-04-30 03:54] fmannan commented on #18962
@DC-Swind  Yes, the PR that I linked supports variable sized input like the one you have.

[2018-04-30 06:30] tensorflowbutler commented on #18964
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-04-30 07:23] chuanjiadan opened #18974 "Permission denied: '/Library/Python/2.7/site-packages/pbr-4.0.2.dist-info'"
pip install tensorflow
Collecting tensorflow
  Using cached https://files.pythonhosted.org/packages/9b/1e/d89f1369b5b8045e5aedf43718b45d2396d3c61e9cc56123c24b7758dd9f/tensorflow-1.8.0-cp27-cp27m-macosx_10_11_x86_64.whl
Requirement already satisfied: numpy>=1.13.3 in /Library/Python/2.7/site-packages (from tensorflow) (1.14.3)
Collecting mock>=2.0.0 (from tensorflow)
  Using cached https://files.py

[2018-04-30 07:25] shrutim90 commented on #5867
@AndRossi : In this link: https://github.com/tensorflow/models/tree/master/research/slim#Pretrained , they have used export_inference_graph script to export default inception graph. If you'll check the code for that script, you'll see there is an option to specify dataset_name as well.

python export_inference_graph.py \
  --alsologtostderr \
  --model_name=inception_v3 \
  --dataset_name=flowers

[2018-04-30 08:30] superbobry opened #18975 "``sequence_bucketized_column`` is missing"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.8.0-0-g93bc2e2072 1.8.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:

[2018-04-30 08:32] jonla1 commented on #7511
In [Work-efficient parallel non-maximum suppression for embedded GPU architectures](https://ieeexplore.ieee.org/document/7471831/) the authors describe how to bring NMS to the GPU.

Also does anyone know what the difference is between the implementation of NonMaxSuppressionV2 and NonMaxSuppression in Tensorflow?

[2018-04-30 08:32] dbarta opened #18976 "TFlite TransposeConv op supported but unregistered"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.13.3
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: v1.8.0-rc1-1107-g8a428cd 1.8.0-rc1
- **Python version**: 3.5.4
- **Bazel version (if comp

[2018-04-30 08:36] namhoonlee commented on #18354
@reedwm I am also looking forward to this feature - second order gradients `tf.nn.depthwise_conv2d`. Any updates on this?

[2018-04-30 08:38] Kayoku commented on #18731
Hi,
Thank you for your answer @andrehentz but I don't understand. You say that when I have a Switch node, I necessarily need to have a Merge node ?
So it's not good to have more Switch (168) than Merge (21) ?

For solve this, do I need to add manually a Merge node after every Switch node in my model ? I don't really know how to do that. Why TfLite don't do it by itself ?

Thx again for your time!

[2018-04-30 10:24] snehaku opened #18978 "Tensorflow on imx6"
Hi,
I am trying to port tensorflow on imx6 board,
First i installed bazel and tensorflow from source it got installed but when i did import tensorflow i was getting this:
 File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/pywrap_tensorflow.py", line 41, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/